[2018-12-19 15:49] sergaz-msft commented on #20928
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-19 15:49] #20928 closed

[2018-12-19 15:53] Blackbaud-MikeDuVall commented on #10363
I feel like Queues vs Topics are getting confused in this discussion.

The original question on this thread is asking if there is only one DLQ per Topic(i.e. all Subscriptions to the topic share the same DLQ) or whether each subscription to a Topic has it's own DLQ.  I've done a lot of work with DLQs for Topics and I'm fairly certain that each Subscription to a Topic has it's own distinct DLQ.

If

[2018-12-19 15:55] #20730 closed

[2018-12-19 15:58] zr-msft commented on #19196
cc @cynthn

[2018-12-19 16:04] Blackbaud-MikeDuVall commented on #10363
Note the updated docs here: https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-dead-letter-queues

"Azure Service Bus queues and topic subscriptions provide a secondary sub-queue, called a dead-letter queue (DLQ)"

[2018-12-19 16:13] j-martens commented on #20876
@olavt - thanks for your report. We are investigating a fix for this. Can you try again now?

[2018-12-19 16:25] OffColour opened #21018 "Onboard from Powershell?"
I don't know if this is missing functionality or documentation, but how can we onboard all VMs in a resource group from powershell without having to mess around with a portal or runbook?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e55a5e66-a86b-1b40-e3fc-c3c3d8504a90
* Version Independent ID: 1ba2dda1-a573-281c-9ddd

[2018-12-19 16:32] smoms commented on #21013
@sergaz-msft thanks. I think that has nothing to do with my issue. I just want to change a module and that button does not work.

[2018-12-19 16:33] Truman-D opened #21019 "404 errors when clicking on links on this page"
When on the page "https://docs.microsoft.com/en-us/azure/automation/automation-connections#windows-powershell-cmdlets"
and clicking on links to the Cmdlets, you are taken to a 404 page.
For example "Get-AzureRmAutomationConnection" links to "https://docs.microsoft.com/en-us/powershell/module/azurerm.automation/get-azurermautomationconnection"

In particular, for our business, we need a working lin

[2018-12-19 16:35] georgewallace commented on #21019
@Truman-D Thanks for reaching out.. We are aware of the issue and are working to a resolution.

[2018-12-19 16:37] sergaz-msft commented on #21013
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-19 16:37] #21013 closed

[2018-12-19 16:38] alexkarcher-msft commented on #20864
If you're on an ILB ASE, the Functions portal will only be accessible from within your VNET, https://github.com/Azure/Azure-Functions/wiki/Using-Azure-Functions-on-an-ILB-ASE

It's also possible you're blocking all traffic on ports 80 and 443 into your function app at the ASE level, which would also cause the portal to be unable to communicate with your Function App.

You can start by trying to vi

[2018-12-19 16:39] Truman-D commented on #21019
Is it safe to continue to include a link to "https://docs.microsoft.com/en-us/powershell/module/azurerm.automation/remove-azurermautomationmodule" in our production documentation?

[2018-12-19 16:55] talmdal opened #21020 "What is the username for module scoped tokens"
In the section regarding using  SASL Plain usernames for authentication, the format for  using hub scoped and device scoped tokens. However, there is no format provided for module scoped tokens.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5abe8bb4-f610-0800-6ad8-b78349018779
* Version Independent ID: c772405d-98b1-e

[2018-12-19 16:57] davidmu1 commented on #20585
JavaScript is now supported. Removed the note from the article.

#please-close

[2018-12-19 16:58] thomaslevesque opened #21021 "Unclear what "large blob size" is for archive storage"
The section about blob rehydration says:

&gt; Large blob sizes are recommended for optimal performance

What size is considered "large"? Does that mean I should avoid archiving small blobs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30c49a6b-e628-4aab-dc7f-fc88264b88f0
* Version Independent ID: 3da34196-ac73-5fd9-

[2018-12-19 16:59] OffColour commented on #21018
Yes, I've seen that, but I want to be able to do it from Powershell.

[2018-12-19 17:07] davidmu1 commented on #19970
Not enough information to make a change.

#please-close

[2018-12-19 17:11] mattbriggs commented on #20952
@jgallucci32 Thanks for your feedback. I have a question out and will update shortly. Thanks! Matt

[2018-12-19 17:13] PramodValavala-MSFT commented on #20792
@toffolom SessionID is more like a sub-queue. You receiver would have to specifically ask for messages with a specific SessionID. You can read more about it [here](https://docs.microsoft.com/en-us/azure/service-bus-messaging/message-sessions#session-features).
Service Bus is more about decoupling your services by using messages and queues.

Your use case sounds more like an RPC kind of application

[2018-12-19 17:14] nalthoff opened #21022 "Missing fields in the Cosmos DB settings for JSON output"
The fields in the screenshot and the fields in the table below the screenshot do not match and there are some missing fields.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5ce36931-13ce-b2c2-1efe-50c9aa5015ea
* Version Independent ID: fb75608b-4262-ada6-bdcc-a981348817df
* Content: [Azure Stream Analytics output to Co

[2018-12-19 17:17] #20958 closed

[2018-12-19 17:18] mamccrea commented on #21022
I see. I will review it and update the doc. Thank you for letting me know @nalthoff.

#please-close

[2018-12-19 17:21] Mike-Ubezzi-MSFT commented on #10363
@Blackbaud-MikeDuVall The DLQ is configured when you create queue. The DLQ is not configured when creating a topic:

![screenshot 103](https://user-images.githubusercontent.com/37126106/50236466-51321280-036f-11e9-919b-de1f38ab90db.png)

[2018-12-19 17:22] MicahMcKittrick-MSFT commented on #21004
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-19 17:22] dlepow commented on #20894
@IanMercer - Thanks for the good question. I don't think we have prescriptive guidance for choosing one of these options over the other at the moment, but adding experts @SteveLas and @sajayantony who might provide more perspective.

[2018-12-19 17:22] MicahMcKittrick-MSFT commented on #20996
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-19 17:36] mattbriggs commented on #20813
@jgallucci32 Thanks for your note about the consistency. We are in the process of assessing some of our organization in these pages and will make a note and hopefully reduce any confusion when we revise. #please-close

[2018-12-19 17:37] ackava opened #21023 "What happens when activity times out?"
Do we get an exception? Can we catch and proceed?
or Entire fan-out process stops?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62bbedb6-d4c5-a809-31ad-b8c843ac0f52
* Version Independent ID: 07c4822d-0aad-5a8a-7f16-56835f325a42
* Content: [Fan-out/fan-in scenarios in Durable Functions - Azure](https://docs.microsoft.

[2018-12-19 17:37] MicahMcKittrick-MSFT commented on #20808
@girishgouda I will close for now. Let me know when ready and we can reopen and continue.

[2018-12-19 17:38] MicahMcKittrick-MSFT commented on #20737
@clangnerakq any luck with this?

[2018-12-19 17:38] mattbriggs commented on #20875
@robertpwagner I have a question out and hope to have an answer shortly. Thanks for providing the feedback. It would be helpful to offer steps on checking if the rotation has already taken place. #in-progress

[2018-12-19 17:40] Stasik0 commented on #19391
@brettcannon you can edit tasks.json directly

[2018-12-19 17:42] YutongTie-MSFT commented on #20990
@AleksCallebat
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-19 17:47] MicahMcKittrick-MSFT commented on #20857
@jholovacs I will assign to the author to review and see if we can make that section more clear.

[2018-12-19 17:48] YutongTie-MSFT commented on #20891
@hning86 Hi Hai, please take a look of above product feedback.

@ryotatomioka Hi Ryota, thanks for you feedback, but it's better to open another ticket for it ^^

@olavt Can you please check if above workarounds solve your problem?

[2018-12-19 17:50] #21022 closed

[2018-12-19 17:51] toffolom commented on #20792
PV thank you for the link...it does give me more insight into my open thought...
If a recvr has to ask for a specific sessID value (as you state above) to get locked into a communication/dialog with a sender...how does a recv'r know what sessID value to ask for?  Lets start with that...

[2018-12-19 17:51] #20792 closed

[2018-12-19 17:52] MicahMcKittrick-MSFT commented on #20938
The reserved instance discount will only apply when you select the DS2V3 series. The only time it would apply to a DS4V3 would be if for some reason there was no DS2V3 series available. So simply picking a DS4V3 series will not mean you get the discount because you have a reserved instance for DS2.

When a series is not available and you have a reserved instance running a specific size you will pi

[2018-12-19 17:52] YutongTie-MSFT commented on #20767
@gintrona Hi, I am sorry you are suffering this issue. But according to the document, I can not reproduce it for now. We have our tech forum just for Machine Learning Service, can you please post it in the forum? https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureMachineLearningService As this issue is not a doc issue, I will close it. If there are further questions regarding this matt

[2018-12-19 17:52] #20767 closed

[2018-12-19 18:00] MarileeTurscak-MSFT commented on #21005
@SarithaMaran
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-19 18:05] MicahMcKittrick-MSFT commented on #20980
@dennyx it appears there is a warning explaining why you are not seeing any metrics

![image](https://user-images.githubusercontent.com/32313503/50238946-8e999e80-0375-11e9-829c-41ae58e18e22.png)

From the screenshot it appears you select a resource group and not a specific resource. Which contains mulitple resources and hence you cannot select a metric

[2018-12-19 18:13] MicahMcKittrick-MSFT commented on #20981
@davilar either or would work. The main point is that a S2S connection in required to allow the two networks to communicate. So regardless of how you achieve that a S2S of some kind is required.

[2018-12-19 18:15] MicahMcKittrick-MSFT commented on #21004
@rs38 good find!

@rothja can you take a look? Not sure the correct link to provide

![image](https://user-images.githubusercontent.com/32313503/50239441-04ead080-0377-11e9-9693-e89c2b54497d.png)

![image](https://user-images.githubusercontent.com/32313503/50239448-09af8480-0377-11e9-9b66-d53bca6c29fc.png)

[2018-12-19 18:18] MarcHochleutner-Koellisch commented on #11383
I have the same error. Any updates?

[2018-12-19 18:23] rothja commented on #21004
@rs38 Thank you for contacting us with this. This is a known issue with the documentation for this page that we're not sure how to resolve at this time. Normally, you get the TOC that resides in the same directory, but this subscriptions article is at the root of the documentation and there is no TOC. So it randomly picks up another TOC file that includes a link to it. I'm sorry for the bad experi

[2018-12-19 18:30] #21004 closed

[2018-12-19 18:37] msmimart commented on #15692
@cha22y Thanks so much for bringing up these questions; we're continuing to look into ways we can help clarify this information. I'm tracking this work and will be sure to update the article as we uncover additional info. Thanks again! #in-progress

[2018-12-19 18:39] tamram commented on #21011
@cmeyertons - Glad to hear it's working for you now. Let us know if you have further problems.

#please-close

[2018-12-19 18:40] Grace-MacJones-MSFT commented on #20992
Hi @rmcjst, thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-19 18:40] JasonKoch commented on #20947
We started seeing this issue late last night. It has broken a production process that calls the login.microsoftonline.com token endpoint, which will not accept JSON content. Any web activity sent with a Content-Type other than application/json seems to get these bonus quotes.

[2018-12-19 18:41] Grace-MacJones-MSFT commented on #21003
Hi @fgessen, thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-19 18:43] jholovacs commented on #20857
Having a code base is more like a demo than a tutorial.  I do feel the output components were not well explained.  This might be the best tutorial out there for Azure Batch, but it was very frustrating to use it when trying to write my own Azure Batch process.

[2018-12-19 18:43] SaurabhSharma-MSFT commented on #18863
@kvsrkrishnan We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-19 18:43] #18863 closed

[2018-12-19 18:46] iFoton commented on #20947
I've tried add the `"Content-Type": "application/json"` header and it doesn't work too.

[2018-12-19 18:47] axatix commented on #20938
I understand that I don't specify on which Vm the discount will be applied.

It was ment like this.let say In my subscription I don't have anymore Ds2v3 and I have only one Ds4v3.  I assume that system will not find same size therefore it will look for different from the same group. In this case Ds4v3. How the discount wil be applied? For scenario described up?

[2018-12-19 18:51] MicahMcKittrick-MSFT commented on #20938
You won't personally look for any other sizes. You will still select the size you reserved and if it is not available the platform will pick a similar size and apply the discount. At which point you would be charged the discount rate you payed for the original size but applied to the size the platform auto selected for you.

[2018-12-19 18:54] mumoryan commented on #20487
Acknowledged. Thanks for your response!

[2018-12-19 18:56] axatix commented on #20938
I thought that the flexible allows me change the size. For example when I buy reserved ds4v3.  And deploy ds4v3. After some time I stop ds4v3 and start 2x ds2v3 the system will apply the discount on those two based on factor if there isn't ds4v3

[2018-12-19 18:58] georgewallace commented on #21019
@Truman-D Yes that is supposed to be the correct link.. If we do modify urls there will be a 302 or 301 redirect in place but we don't rename url structure for reference.

[2018-12-19 19:00] #20747 closed

[2018-12-19 19:00] #20585 closed

[2018-12-19 19:15] davilar commented on #20981
@MicahMcKittrick-MSFT thanks for your reply.

Does that mean that the answer is yes? Can I use NVA for VPN without Azure VPN Gateway for ASR Failback purpose?

[2018-12-19 19:19] tchristiani commented on #20294
This item has been added to our backlog. #please-close

[2018-12-19 19:20] glevanon opened #21025 "Trying to setup VPN from Linux Ubuntu to Azure VPN fails"
I followed the steps described here, and on previous page ("Generate and export certificates for Point-to-Site using Linux strongSwan CLI"). When running "ipsec up azure" there's no response from Azure VPN. Taking a tcpdump & analyzing in Wireshark, I see UDP requests are indeed being sent to the VPN server, but there's no response.

There's no error noted in /var/log/auth.log

---
#### Document D

[2018-12-19 19:22] MarileeTurscak-MSFT commented on #21002
@fgessen what doc are you referring to?

[2018-12-19 19:36] revodavid opened #21027 "Listed R version is correct"
The default R version is 3.4.1 (confirmed with `R.version` in a new notebook with R kernel).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30b824c1-d5b4-5f66-5f68-8ca90b57a697
* Version Independent ID: 4928bebb-e4ab-8b23-90d6-fec2af4cb56a
* Content: [Overview of Azure Notebooks](https://docs.microsoft.com/en-us/azure/

[2018-12-19 19:36] revodavid commented on #21027
Typo in headline: the listed R version is *not* correct.

[2018-12-19 19:45] MicahMcKittrick-MSFT commented on #20938
@axatix ah yes sorry I misread that portion. Apologies.

https://docs.microsoft.com/en-us/azure/virtual-machines/windows/reserved-vm-instance-size-flexibility

[2018-12-19 19:46] MicahMcKittrick-MSFT commented on #20981
Based on my understanding, yes.

@Rajani-Janaki-Ram could you confirm on this to be safe? :)

[2018-12-19 19:49] kobulloc-MSFT commented on #20695
@AceHack There doesn't appear to be any way to disable Dev Spaces other than to permanently delete it (as described above).

We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2018-12-19 19:49] #20695 closed

[2018-12-19 19:50] tanner-dev commented on #20908
Good Afternoon,

I too am experiencing difficultly with the syntax required to create a new CNAME record within an existing DNS Zone, but the DNS Zone resides in a different Resource Group.

Thank you in advance for your assistance.

[2018-12-19 19:51] MicahMcKittrick-MSFT commented on #20996
@shawntabrizi, @bwren, @v-alje could either of you comment further on this?

[2018-12-19 19:53] tyrantrook opened #21030 "Execute query shortcut key"
Would love an F9 (or F5) shortcut to execute query.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5b21187-6e73-92ba-b5a7-23934f4b47e9
* Version Independent ID: f73aa6e9-819b-68e2-3ae0-f12427ef1aa5
* Content: [Azure Storage Explorer Accessibility (Preview)](https://docs.microsoft.com/en-us/azure/vs-azure-tools-storage

[2018-12-19 19:59] MarileeTurscak-MSFT commented on #20994
@anoobbacker thanks for the feedback! I have assigned this issue to the content author, @alkohli , to look into your comment and update as appropriate.

[2018-12-19 20:01] #20294 closed

[2018-12-19 20:04] wadesh opened #21031 "Question on changing app logo"
Does changing the App logo (last screenshot) also present that logo in the app AAD login screen or will the default company logo be presented in the AAD login screen?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da891088-c80a-49da-8dcd-e016d9e75baf
* Version Independent ID: 5049445c-f076-67b3-2b06-7dfd43cfc534
* Cont

[2018-12-19 20:09] georgewallace commented on #21019
@Truman-D The links should be working now.. can you verify that is the case?

[2018-12-19 20:10] georgewallace commented on #21007
@YvonneArnoldus The links should be working now.. can you please verify that is the case?

[2018-12-19 20:10] Karishma-Tiwari-MSFT commented on #20936
@binken I followed the tutorial and I am seeing Availability group appear in SQL Server Management Studio.
Can you confirm that you followed [this](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sql/virtual-machines-windows-portal-sql-alwayson-availability-groups#connect-to-sql-server) part of the doc?
If yes, can you please share the screenshot from the SQL server management stud

[2018-12-19 20:11] georgewallace commented on #20930
@imeya If you have any other questions please don't hesitate to reach out. @MicrosoftDocs/azure-cxp-triage #please-close

[2018-12-19 20:12] andrewkittredge opened #21032 "This thing is totally out of date"
The socket.io chat example has changed, it no longer has a server.js.

The powershell stuff has also change.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16d4ab98-d741-33ef-922c-020f787826e9
* Version Independent ID: c0dc1216-4d79-e040-8ee3-d4db5cf2f9e1
* Content: [Node.js application using Socket.io - Azure](https:/

[2018-12-19 20:13] #20930 closed

[2018-12-19 20:13] Truman-D commented on #21019
I can confirm that all the links are working correctly now! Thank you very much for your impressive responsiveness.

[2018-12-19 20:16] georgewallace commented on #21018
@OffColour Unfortunately those are the options to onboard machines to the Update Management and Change and Inventory solutions at this time.  If there are additional onboarding scenarios like full powershell process, we will be sure to ad it to the documentation.

[2018-12-19 20:18] georgewallace commented on #21019
@Truman-D No problem, thanks for reaching out and making us aware.. Please don't hesitate to reach out in the future @MicrosoftDocs/azure-cxp-triage #please-close

[2018-12-19 20:19] nagarjuna1207 opened #21033 "Speed of the VMs"
Can you tell me the speed( Ghz-Gigahertz) of NC Series, NC v2 series and ND series? Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 472ed16f-83af-9c24-4a47-596e72a59ca7
* Version Independent ID: dc63914d-d1ce-8161-0d6c-b0c62f82b22d
* Content: [Azure Windows VM sizes - GPU](https://docs.microsoft.com/en-us/azu

[2018-12-19 20:20] #21019 closed

[2018-12-19 20:32] MicahMcKittrick-MSFT commented on #21033
@jonbeck7 do you or someone else know if we have these speeds listed anywhere?

I am not finding them in the compute benchmark scores

https://docs.microsoft.com/en-us/azure/virtual-machines/windows/compute-benchmark-scores

https://docs.microsoft.com/en-us/azure/virtual-machines/linux/compute-benchmark-scores?toc=%2fazure%2fvirtual-machines%2flinux%2ftoc.json

CC @cynthn if you might know as well

[2018-12-19 20:37] MicahMcKittrick-MSFT commented on #21032
@andrewkittredge thanks for bringing this to our attention.

@jpconnock do you have someone who can take a look at this?

CC @mmccrory if you might know someone as well.

[2018-12-19 20:52] cloudhandler commented on #20645
@SaurabhSharma-MSFT - that is correct, it will dismiss the active event but won't stop future events from the IP from being marked as anonymous

[2018-12-19 21:02] erhopf commented on #10438
#please-close

This was addressed in a previous push.

[2018-12-19 21:07] theheatDK opened #21036 "microsoft.insights/actiongroups?"
Hi,
As far as I can see microsoft.insights/actiongroups is missing in the list?
I would be nice if the resource types were sorted and contained the full name that is used in Azure.
For example insights/components instead of just components. This would make it easier to search.
Is there a way to extract which resource type support tagging via the api?
Regards Peter

---
#### Document Details

⚠ *Do

[2018-12-19 21:10] Alberto-Vega-MSFT commented on #20769
@lasekg Would you please provide more detail on how to reproduce this issue?

[2018-12-19 21:15] MarileeTurscak-MSFT commented on #20824
You can use form post to pass the id_token. This is the most secure way to do this since it is not stored in the browser history. Query strings and fragments are stored in the browser history, so someone could get it from there.

None are visible to any man-in-the-middle interceptions, though, if the token is passed over HTTPS.

Your redirect URI where Azure B2C posts the token should be HTTPS.

C

[2018-12-19 21:16] CeciAc opened #21037 "「アクション」への用語統一"
@ahf0124 commented on [Tue Dec 18 2018](https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/1326)

文章中に「ステートメント」と「アクション」が混在している。「アクション」に統一するのがよいと思う。

"Statement" and "action" are mixed in sentences. I think that it is better to unify it to "action".

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: dc9cd33d-4d2e-c6cf-e6cf-4ac65cc1aaf1
* Version Ind

[2018-12-19 21:16] MarileeTurscak-MSFT commented on #20824
Let me know if this helps! We will now proceed to close this thread. If you have further questions feel free to tag me in the comments and I will gladly continue the conversation.

[2018-12-19 21:16] #20824 closed

[2018-12-19 21:33] arjendenhartog opened #21038 "Mention that also the App Service Plan has a default timeout"
Please mention in the 'App Service Plan'  that it also has a default timeout (unlimited for version1.x and 30 minutes for 2.x as specified in https://docs.microsoft.com/en-us/azure/azure-functions/functions-host-json#functions).

Currently only for the "Consumption Plan"  it is mentioned that it has a timeout. (with a Note). This led me to the wrong conclusion that the "App Service Plan" has no ti

[2018-12-19 22:02] kfprugger opened #21039 "RSA formatting Tip"
Please leave a tip when formatting the ssh_key var. Something to the effect of:

ssh_key: "rsa-ssh &lt;your key without BEGIN KEY and END KEY on one line"

I just spent 20 minutes figuring out how the provider wanted the key formatted. Thanks! :-)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba39655e-ba8f-b429-7f9c-5

[2018-12-19 22:02] mattbriggs commented on #20875
@robertpwagner We don't currently have a programmatic means to check if the secret has changed. And so you may need to check with other operators. I've let the feature team know about this issue. #please-close

[2018-12-19 22:03] AaronL100 opened #21040 "Can't delete restored users that were previously synched"
So, Office 365 users that were synced with AD, then deleted from AD, then restored in Office 365 are now showing up as "Synched with AD."  The account no longer exists in AD, and it gives you an error if you try to delete the user in Office 365 (because it's a synched account).  Why was "In Cloud" incorrect?  How do you fix this for these accounts now?

---
#### Document Details

⚠ *Do not edit th

[2018-12-19 22:08] alch-msft opened #21041 "Cannot create AzureFunction activity via visual authoring web UI"
I tried creating a AzureFunction activity but got the following error message:
"Provided type 'AzureFunction' is either unsupported or an invalid type.The relevant property is 'type'.The error occured at the location 'body/properties' in the request."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 965d9ab8-6b54-daba-96

[2018-12-19 22:12] robertpwagner commented on #20875
Thanks Matt,

I was hoping this was something easy to accomplish, but not this time.
Perhaps the wording in the document need to change so it’s not mentioned… 😊

Merry Christmas and enjoy your holiday season.

Thanks in Advance,

Robert P. Wagner
Sr Principle Engineer Product Technologist
Dell EMC | Open HCI, VxRack AS
(m) 404-431-0231<tel:> (t) @robertpwagner
robert.wagner@dell.com<mailto:robert.

[2018-12-19 22:12] mike-urnun-msft commented on #21015
Hi @ackava Thank you for reporting this issue! We will investigate and make any necessary changes.

[2018-12-19 22:13] mike-urnun-msft commented on #21023
Hi @ackava Thank you for your feedback! We will review and get back to you with our findings.

[2018-12-19 22:14] mike-urnun-msft commented on #21037
Hi @CeciAc Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2018-12-19 22:15] rizwaans opened #21042 "How to use WorkFlow Runs 'Get' and 'List' API"
Firstly, I am new to logic apps.

I have created a logic app that triggers when a message is arrived in service bus queue. and there are couple more steps after this which are running successfully.
and now I am trying to Get the WorkFlow runs history using the API provided in below link

https://docs.microsoft.com/en-us/rest/api/logic/workflowruns/get

GET https://management.azure.com/subscription

[2018-12-19 22:30] MarileeTurscak-MSFT commented on #20988
@myarotskaya
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-19 22:30] MarileeTurscak-MSFT commented on #20989
@isamllr
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-19 22:31] TravisCragg-MSFT commented on #21006
@StefanSchoof Thanks for the feedback! I believe that this is D_V2 & DS_v2.

I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-12-19 22:33] MarileeTurscak-MSFT commented on #21027
@revodavid thanks for catching this! I've created a pull request for review by @kraigb
https://github.com/MicrosoftDocs/azure-docs-pr/pull/61426

[2018-12-19 22:33] #21027 closed

[2018-12-19 22:36] mattbriggs commented on #20952
@jgallucci32  I've updated the topic to call out that the Instance Metadata service is not supported. Thanks again for you feedback. #please-close

[2018-12-19 22:37] rwike77 commented on #20975
@IanMercer Thanks, that's a good suggestion.  Sorry for your troubles.  I'm updating the article now.

[2018-12-19 22:39] TravisCragg-MSFT commented on #21025
@glevanon VPN connection failures report an error in most cases. If you are not able to get traffic back from the VPN, check to make sure that traffic is allowed in any firewalls or NSGs, both on the local computer and on-premise networks.

[2018-12-19 22:40] TravisCragg-MSFT commented on #14612
@agvardha We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-19 22:40] #14612 closed

[2018-12-19 22:40] TravisCragg-MSFT commented on #15030
@TolliLF We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-19 22:40] #15030 closed

[2018-12-19 22:47] SidShetye opened #21043 "Listing vs Sell through Microsoft - switching for a published offer?"
The documentation isn't clear on whether it's possible to edit a "listing" offer into a "sell through Microsoft" offer. Our use case is to quickly get into "Listing" and then implement the necessary APIs to upgrade to "Sell through Microsoft"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c2234c2-a1d0-e547-0893-59793a

[2018-12-19 22:48] rwike77 commented on #20975
@IanMercer The doc change just merged and updates should publish live within an hour or two.  Thanks again for bringing this up.  #please-close

[2018-12-19 22:53] gaurav7961 commented on #20947
we are getting error in all ADF pipelines and logic app run history says "ADF - Web Activity - 'String' does not match the field: 'body'"

[2018-12-19 22:58] MarileeTurscak-MSFT commented on #19249
Hi @iamkoch , have you mapped it to the IEF claim?

What problem do you face when you try to add the profileId? It just isn't returned?

This guide may also be helpful to you. https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-create-custom-attributes-profile-edit-custom

[2018-12-19 23:12] burstingninja commented on #21041
@douglaslMS @alch-msft
I was testing the Azure Function Activity with Data Factory and noticed the timeout is not working as expected when setting it up with values of over 1 minute, it automatically cancels the run after 1 min and I did several attempts with values under one minute and over 2 and 3 minutes and it gave the same unexpected behaviour.

[2018-12-19 23:14] MarileeTurscak-MSFT commented on #21010
@Absoblogginlutely
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-19 23:15] MarileeTurscak-MSFT commented on #21012
@fmms
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-19 23:15] MarileeTurscak-MSFT commented on #21021
@thomaslevesque
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-19 23:41] brettcannon opened #21044 "Custom start-up command docs for Python on App Service for Linux unclear"
If you read https://docs.microsoft.com/en-us/azure/app-service/containers/how-to-configure-python#custom-startup-command it makes it sound like you can only provide a custom command for `gunicorn` which I don't believe is accurate. It also doesn't state what `python` command is set up for use, e.g. can I safely use `python` because my web app is running under a virtual environment? Or how about `p

[2018-12-19 23:44] MarileeTurscak-MSFT commented on #20972
Go to the Target tab under RADIUS in the MFA server and select the server there.

This guide should have everything you need. https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfaserver-nps-rdg

[2018-12-19 23:45] MarileeTurscak-MSFT commented on #20972
We will now proceed to close this thread. If you have further questions please feel free to tag me in the comments and I will gladly continue the discussion.

[2018-12-19 23:45] #20972 closed

[2018-12-19 23:48] dimachernov opened #21045 "Clarification"
Shouldn't it be Fabrikam instead of Contoso in the second sentence?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89ea5c2d-4602-25b8-3cdd-60cfb5c31895
* Version Independent ID: 35d4af7e-72e4-7c40-9dd6-b8490ee73f0d
* Content: [Manage access to cloud apps by restricting tenants - Azure](https://docs.microsoft.com/en-us/

[2018-12-19 23:50] nmallick1 opened #21046 "Change "SSL certificates and bindings" to "Private certificates and bindings" under Settings that are not swapped:"
In this document, for the following piece of content

Settings that are not swapped:

Publishing endpoints
Custom Domain Names
SSL certificates and bindings
Scale settings
WebJobs schedulers

The "SSL certificates and bindings" needs to be updated to "Private certificates and bindings". SSL certificates can be misinterpreted to mean both Private and Public certificates, whereas during a slot swap,

[2018-12-19 23:55] SaurabhSharma-MSFT commented on #20333
@martinstenhoff The Product Team has released a new version of [Azure AD Connect - 1.2.70.0](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/reference-connect-version-history#12700) which fixes the unsigned DLL's issue.
![image](https://user-images.githubusercontent.com/38112130/50255389-81e16e80-03a6-11e9-9729-89188ede11c4.png)

[2018-12-19 23:57] MarileeTurscak-MSFT commented on #21027
@revodavid does the version need to be updated for both references?

i.e. R 3.4.1 + Microsoft R Open 3.4.1

[2018-12-19 23:59] mindlessroman opened #21047 "CosmosDB Emulator Documentation re: certificates"
Running this does not work, neither in Powershell nor in CMD.  I'm running on:
* windows 10 v1809
* Docker Desktop Version 2.0.0.0-win81 (29211) - Build: 4271b9e
  - Using Windows containers

Following the steps here
https://docs.microsoft.com/en-us/azure/cosmos-db/local-emulator#running-on-docker
CMD:
1. Ran `md %LOCALAPPDATA%\CosmosDBEmulatorCert 2>null`
  - No troubles
2. Ran `docker run -v %LO

[2018-12-20 00:04] nzkid opened #21049 "JIRA SAML SSO by Microsoft Support for linux / CentOS"
Hi Team

Refers
[0] https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/jiramicrosoft-tutorial
[1] https://www.microsoft.com/en-us/download/details.aspx?id=56506

The download page indicates "JIRA should be installed on a Windows 64-bit version"

I need to know if there are technical reasons for this or if the plugin is actually supported on linux / CentOS 7.x as well?

thanks in adv

[2018-12-20 00:13] IanMercer commented on #20975
That's quite a bold warning! Thanks on behalf of everyone who hits this problem in the future.

[2018-12-20 00:13] #20975 closed

[2018-12-20 00:38] MarileeTurscak-MSFT commented on #21049
@nzkid
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-20 00:39] MarileeTurscak-MSFT commented on #21031
@wadesh
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-20 00:42] MarileeTurscak-MSFT commented on #21040
@AaronL100
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-20 00:49] MarileeTurscak-MSFT commented on #21045
@dimachernov thanks for the feedback! Could you clarify why you think it should be Fabrikam? In this case Contoso represents one tenant (Tenant A) and Fabrikam represents a second tenant (Tenant B). The sentence is describing a Contoso tenant user who is trying to access a Fabrikam tenant application that has restrictions set for Contoso-tenant users.

[2018-12-20 00:51] MarileeTurscak-MSFT commented on #21045
Let me know if that clarifies.

[2018-12-20 00:53] martinlarosa opened #21051 "Client Credentials Grant Flow"
Hello, I don't think it is clear how to implement this flow with just pointing to the AD documentation. Should the consumer app be registered in the AD of the B2C tenenat? Is that it? I tried it and it didn't work. I also tried to register de consumer app in AD B2C. With both I'm able to get the token from the endpoint. But then I can't access the API when I try to use it.
Also I'm using the integ

[2018-12-20 00:53] martinlarosa commented on #21051
By can't access the API with the token I mean I get a 401 back.

[2018-12-20 01:06] jason-j-MSFT commented on #20947
@iFoton could you start a thread here:
https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDataFactory

There will be more eyes on it in the forums.  I would suggest opening a Support case.  If you do not have a Support plan, could you also send an email to "AzCommunity@Microsoft.com" with your subscription ID and link to this issue?

[2018-12-20 01:06] #20947 closed

[2018-12-20 01:12] MicahMcKittrick-MSFT commented on #21043
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-12-20 01:12] Srikkanth123 commented on #19661
I could not get chance to work on it. Will check and let you know.

Thanks & Regards,
Srikkanth

[2018-12-20 01:13] MicahMcKittrick-MSFT commented on #21039
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-20 01:13] MicahMcKittrick-MSFT commented on #21036
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-20 01:14] dimachernov commented on #21045
My understanding after reading this article is that you set restrictions on what tenants users can access on reverse proxy within corporate network. In this example, the user is on the Contoso network. I am assuming it is a Contoso user and also that the Contoso tenant is configured as allowed on the reverse proxy.  This user tries to access the Fabrikam instance of Outlook (Fabrikam is not config

[2018-12-20 01:15] redamaleki commented on #20972
@MarileeTurscak-MSFT When I go to the Target tab under RADIUS, I can only select Windows Domain **_or_** a RADIUS server.  If I change the target to RADIUS server, my RD Gateway starts working with MFA and my VPN stops working.  If I switch it back to Windows Domain, my RD Gateway stops working and VPN starts working again.  I need to specify that my VPN Radius Client has a target of Windows Domai

[2018-12-20 01:31] ksix commented on #13816
@LisandroSu did you ever fix this? We have just run into the exact same issue. Raising a support ticket directly, but would be good to know what the problem was in the end?

[2018-12-20 01:45] nushib commented on #9681
I am trying to run the binder notebook using my subscription access key for the face API and just the image url in the notebook. However, the only output that I get is the following:

{'error': {'code': 'Unspecified', 'message': 'Access denied due to invalid subscription key. Make sure you are subscribed to an API you are trying to call and provide the right key.'}}

Is there any requirement on th

[2018-12-20 01:48] nushib opened #21052 "Subscription key not accepted"
I am trying to run the binder notebook using my subscription access key for the face API and just the image url in the notebook. However, the only output that I get is the following:

{'error': {'code': 'Unspecified', 'message': 'Access denied due to invalid subscription key. Make sure you are subscribed to an API you are trying to call and provide the right key.'}}

Is there any requirement on th

[2018-12-20 01:55] JetstreamRoySprowl opened #21053 "Link in Query API Reference button is broken"
Broken link at Query API Reference button

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3bc7ce7b-9308-8a1a-4b62-dc687bb68285
* Version Independent ID: df006540-2a76-c947-b950-e0fb5003eb3a
* Content: [Query data from an Azure Time Series Insights environment using C# code](https://docs.microsoft.com/en-us/azure/time-se

[2018-12-20 02:03] nushib commented on #21052
My subscription is on westus2, while the binder notebook uses westcentral. Replacing to westus2 seems to resolve the problem. However, this should in general be made clear for all services.

[2018-12-20 02:06] sodafatty commented on #12031
Hi v-geberr
I have a question about your comment that "It needs to broken into smaller domains so LUIS can do a better job. A top level domain would have an intent for each subdomain. The chat bot gets a prediction for the intent and now knows which subdomain app to send the utterance to for a refined/granular prediction.". How can we carry out this? How to let the top level domian LUIS app know w

[2018-12-20 02:30] dennyx commented on #20980
@MicahMcKittrick-MSFT
Thanks for the kindly feedback.
I checked again to ensure just selected one SQL database when adding a new alert rule, while still no metric showed.

[2018-12-20 02:45] imeya opened #21056 "how to check which the default python packages are installed?"
for powershell runbook, there is a module gallery which I can see the default install modules.

I wonder if is there a way to check what are the default python packages are installed? thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba1e6e7b-0891-1ec9-8811-ee6d036104a0
* Version Independent ID: bfff0c73-1853-f501

[2018-12-20 03:02] BryanTrach-MSFT commented on #20833
@ebashmakov We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-20 03:02] #20833 closed

[2018-12-20 03:02] BryanTrach-MSFT commented on #20835
@ebashmakov We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-20 03:02] #20835 closed

[2018-12-20 03:20] AshokPeddakotla-MSFT commented on #21053
@JetstreamRoySprowl  Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-12-20 03:32] rwike77 commented on #20075
@SunnyOswal  Thanks for pointing this out, I'll remove the broken link.

[2018-12-20 03:48] KetanChawda-MSFT commented on #20703
@cpitches Yes we don’t preserve the time zones. While parsing the given the time string we will loose the original timezone. I have created a internal work item to update the doc as appropriate.

Thanks for the pointing out the issue.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion

[2018-12-20 03:48] #20703 closed

[2018-12-20 03:50] femsulu commented on #20568
@mrdfuse AFAIK, you do not have/need to configure rolling for the Live logs.

[2018-12-20 03:50] #20568 closed

[2018-12-20 03:56] cpitches commented on #20703
I don’t understand this response.  If formatDateTime “will loose the original timezone”, then the function should work as I have described and not convert to UTC first.  i.e. formatDateTime('2018-12-15T05:00:00+13:00','dd-MMM') should resolve to '15-Dec' and not '14-Dec'.

Thanks
Cam

From: KetanChawda-MSFT [mailto:notifications@github.com]
Sent: Thursday, 20 December 2018 4:49 p.m.
To: MicrosoftD

[2018-12-20 03:58] rwike77 commented on #15072
@TylerMSFT , can you take a look at this one?

[2018-12-20 04:07] rwike77 commented on #12370
@NateRickard @Otaman @Christina-Kang   Sounds like this issue is resolved, now.  #please-close

[2018-12-20 04:07] jgallucci32 commented on #20952
No problem. I was secretly hoping you were going to say it was supported and I had uncovered a bug. Hopefully this is something which is added in the near future.                                                                                                                                                                                                                From: Matt BriggsSent: Wednesd

[2018-12-20 04:21] rwike77 commented on #20075
@SunnyOswal The doc update has merged and will publish live in the morning.  #please-close

[2018-12-20 04:31] femsulu commented on #20850
adding @tfitzmac for input.

[2018-12-20 04:48] ManojReddy-MSFT commented on #21031
@wadesh Changing the App logo will only affect how the app is displayed in the Azure Portal , My apps page etc. This will not affect the AAD login screen.

Users will see the default login screen or the custom branding configured in their AAD tenant as described [here](https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/customize-branding).

[2018-12-20 04:59] AnuragMehrotra commented on #20083
@dcbrown16 Sorry for the delay in response. I was able to find your mail and replied to it.
On the licensing question, it totally depends on the Licensing model for the application running inside IaaS VM. Azure Backup just restores the VM, when the VM boots up different apps have different ways to validate licensing. I think you should talk to folks you purchased the license to understand what lic

[2018-12-20 05:01] #12370 closed

[2018-12-20 05:07] femsulu commented on #20893
@schley2103, only users with **[owner](https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#owner)** and/or [User Access Administrator](https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#user-access-administrator) roles are able to assign RBAC roles.

[2018-12-20 05:07] #20893 closed

[2018-12-20 05:26] sodafatty opened #21058 "Entity"
Why it's necessary to have entities in the dataset? Can't we just test utterances with labeled intent?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2f2b28e-7d0d-a7e1-1d1d-5b2e42dcc69d
* Version Independent ID: d4127668-9ccd-616c-5f9d-98f5fea62bb5
* Content: [Batch testing - Language Understanding - Azure Cognitive S

[2018-12-20 05:41] PramodValavala-MSFT commented on #21042
@rizwaans Thanks for reaching out! We will investigate and get back to you.

[2018-12-20 05:43] AjayKumar-MSFT commented on #21044
@brettcannon,  Thanks for the feedback on this item! I have assigned the issue to the content author to review further and update the document as appropriate.

[2018-12-20 05:52] ManojReddy-MSFT commented on #20828
@markreno Configuring Azure AD URL's and certificates on the application side varies from application to application. So we mentioned "click Configure to access documentation on how to configure single sign-on in the application. Also, you has Azure AD URLs and certificate required for the application."in step 13 of the section "Configure single sign-on for an application from the Azure AD gallery

[2018-12-20 06:07] mrdfuse commented on #20568
Yes, you don't need to able to roll it in order for live logging to work, but do you still need to roll in k8s itself to prevent disk space outage or does AKS does that out of the box?

[2018-12-20 06:13] dcbrown16 commented on #20083
Thanks @GeethalakshmiG and @AnuragMehrotra!

[2018-12-20 06:35] AshwinSarimin opened #21059 "Add Government CA"
We cannot use AFD for getting an IPv6 address for our app service created for the government. Please add KPN BV PKIoverheid Organisatie Server CA - G3

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e787652-0c22-e376-ab55-2b3aa8055431
* Version Independent ID: 961cf93b-5312-c470-7784-1da8fe5e4351
* Content: [Allowed ce

[2018-12-20 06:37] ManojReddy-MSFT commented on #20827
@markreno Configuring Azure AD URL's and certificates on the application side varies from application to application. So we mentioned "click Configure to access documentation on how to configure single sign-on in the application. Also, you has Azure AD URLs and certificate required for the application."in step 14 of the section "Configuring single sign-on to non-gallery applications"

I have submi

[2018-12-20 06:42] ManojReddy-MSFT commented on #21051
@martinlarosa Thanks for your feedback. I am assigning this to the author to provide more details on how to  get the Client credential flow to work.

[2018-12-20 06:45] AjayKumar-MSFT commented on #21046
@nmallick1, Thanks for the feedback! We are currently reviewing on this and will update you shortly.

[2018-12-20 06:54] neeleshray commented on #19636
When a User Setting is changed, it normally falls to the GA of the tenant to approve the new changes. However, having the two different Roles helps organizations differentiate between roles. These roles are available for the choosing.

[2018-12-20 06:58] AndertBos opened #21061 "Time Series Insights single page webapp"
Please provide more/complete documentation about the usage of the javascript how to aggretate, call patterns, and transformation of the compressed result, of the other options that are available but not shown in the example. Such as "getTimeseriesInstances". It is not clear to me how to get these other commands/possibilities to work. I have been trying, but can't get it to work.

---
#### Document

[2018-12-20 07:00] ChiragMishra-MSFT commented on #20984
@chetanmsft Can you please check this one ?

[2018-12-20 07:05] #19636 closed

[2018-12-20 07:10] dpapkin opened #21062 "Create an Activity Log alert screenshots and instructions are inaccurate,"
Hello,  Please revise the screenshots and instructions

After #2 Add activity log alert, it now goes to "Create Rule. #6 quite different. Please update ASAP, as this practice is now is used for new Microsoft AZ100 course.
Thank you

David Papkin
CCNP,CCSI, MCSE,MCT,RHCE,SAA,VCP

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-12-20 07:13] YASWANTHM-MSFT commented on #21030
Thanks for the valuable feedback! I would suggest providing product based feedback over here, as this channel is monitored by the Microsoft product team closely to evaluate and update the product feature request appropriately.

[2018-12-20 07:14] abhijitdalavi commented on #20876
still the error is coming When running the `model = run.register_model`

[2018-12-20 07:14] fgessen commented on #21002
@Mar

[2018-12-20 07:14] #21002 closed

[2018-12-20 07:27] SychevIgor opened #21063 "Client apps no longer in a preview"
Update screenshot https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/media/conditions/41.png to avoid potential misunderstanding on client side, that this feature is still in preview.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 625bb1b2-81fd-9804-c0b5-3cd2904decd9
* Version Independent ID: e4

[2018-12-20 07:42] neeleshray commented on #19345
Apologies for the late comment.
This could happen if the XML elements in the .csproj file that reference the old package version number had been manually added or edited, Nuget will not remove or update them if they had been manually added/edited, so the project could be looking for packages that have been deleted.

To fix this issue, try to manually edit the .csproj file(s) and delete all of the

[2018-12-20 07:42] #19345 closed

[2018-12-20 07:48] wolfma61 commented on #18674
As the page suggests, check out the the [Cognitive Services Speech SDK sample code repository on GitHub](https://aka.ms/csspeech/samples).
 This contains the samples in a 'run-able' form, for questions about the sample use the 'issues' function on that github repository or create pull requests.
thx
Wolfgang

[2018-12-20 07:55] biren1234 commented on #5738
I have got an error with the latest

[2018-12-20 08:21] DMoonesinghe opened #21064 "This is wrong: The private key on you local system is used by an SSH client"
The more accurate way to say it would be:

The private key stored on your local system is leveraged by the SSH daemon on the VM to authenticate your identity when you connect to your Linux VM.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33cf041a-95dd-6332-52bf-6a71d3767bb8
* Version Independent ID: 96efc8cf-53e0-8a1

[2018-12-20 08:42] AtTrain commented on #16325
@Grace-MacJones-MSFT I have this problem too.

Did you work out how to use additionalLoginParams to add multiple backend resources?

I had a look the documentation you linked earlier, but I don't see how that should answer my question.

We're using azure easy auth, and the whole point is to hide behind the auth middleware, instead of having to write our own code.

[2018-12-20 08:42] iamkoch commented on #19249
Hi @MarileeTurscak-MSFT

The aim was to orchestrate a call to a third party service. The call would send in a claim (user id) and receive back a different claim called profileId

I have not seen that particular page though so will give it a try.

The issue was the usage of PersistedClaims. It seems you can only use that in certain circumstances which I found unclear

[2018-12-20 08:54] Aggrobatics opened #21065 "Fine-tuning Permissions of App Registration (for use of GraphAPI)"
In my use-case I need an AzureFunction to create ListItems in a specific List on a specific Sharepoint-SiteCollection via GraphAPI. Unfortunately, as of now, I can only grant the App Registration a "Sites.ReadWrite.All" Application-Permission, which is much too powerful for a production system.

It was brought to my attention that there is something in the works there, but for now: Is there a way,

[2018-12-20 09:05] jakaruna-MSFT commented on #21001
@cmeyertons Thank you very much for reporting.
`Contributor` role is needed for the service principal.
While creating the cluster if we are giving an existing service principal, we need to make sure that Contributor role is added.
Documentation is [here](https://docs.microsoft.com/en-us/azure/aks/kubernetes-service-principal#delegate-access-to-other-azure-resources).

[2018-12-20 09:14] CHEEKATLAPRADEEP-MSFT commented on #21047
@mindlessroman Thank you for the detailed feedback.
From my repro: I have observed that Azure CosmosDB Emulator certificates are located in this directory: “**C:\CosmosDB.Emulator\bind-mount**”

![image](https://user-images.githubusercontent.com/44426401/50275614-c122c480-0465-11e9-9f0d-651c5ea0a97b.png)

This is being assigned to the content author to evaluate and update as appropriate.

@David-N

[2018-12-20 09:15] YvonneArnoldus commented on #21007
The links are working again.

[2018-12-20 09:16] nnamedieh commented on #13816
Hi @ksix ,
I think I solved the problem (at least in my case). The problem was that I had a ReadOnly resource lock configured on the VPN Gateway. When you want to download the vpn config template, it seems that Azure needs to do a write operation to be able to provide the template. Since I deleted the resource lock I was able to download the config template.

Hope that helps!
Daniel

[2018-12-20 09:16] jonghoon92 commented on #15084
Hi, what is staus of this investigation for "other clients" does not include nay condition?

[2018-12-20 09:18] CHEEKATLAPRADEEP-MSFT commented on #20809
@ravikiran-srini
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-12-20 09:18] #20809 closed

[2018-12-20 09:20] AliG4 commented on #18220
Hello,
I'm still facing the same issue than @willyrj .
Are there any updates on that topic?

[2018-12-20 09:41] jakaruna-MSFT commented on #21064
@DMoonesinghe
I have assigned the issue to the content author to investigate further and update the document as appropriate.
@dlepow Please take care of this issue.

[2018-12-20 09:44] lonevvolf opened #21066 "Doesn't work with Linux VMs"
I cannot get logins to work for a domain-joined Linux VM

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40de8209-c5b3-684c-05a7-1fb0082ae0f3
* Version Independent ID: c28d51c8-65a8-68d6-2c2d-6b02a3fc9474
* Content: [Azure Active Directory Domain Services: Enable password hash synchronization](https://docs.microsoft.com

[2018-12-20 09:47] davenewza opened #21067 "Installing cert-manager fails - "certificates.certmanager.k8s.io" already exists"
I am trying to install cert-manager on my RBAC-enabled cluster using the following `helm install`:

[code]

But I get the following error:

Description of certificates.certmanager.k8s.io:

[code]

I could install cert-manager without it creating custom resources, like this:

`helm install --name cert-manager stable/cert-manager --set createCustomResource=false`

But I am not sure of what next to d

[2018-12-20 09:48] SteveHernou commented on #20645
@cloudhandler thanks for your feedback. In order to prevent a certain user-ip combination from returning in the risk events every time, would you then pick the 'mark as false positive' action?
Case: user x uses an unknown VPN service on his personal smartphone that triggers the anonymous IP events. We are now blocking all cloud apps to the IP subnet via Conditional Access but the sign in attempts

[2018-12-20 09:50] AshokPeddakotla-MSFT commented on #21061
@AndertBos Thanks for the feedback on this item! I have assigned the issue to the content author to review further and update the document as appropriate.

[2018-12-20 09:54] iFoton commented on #20947
I've started the [tread](https://social.msdn.microsoft.com/Forums/en-US/319873d2-c0b4-4824-b861-d8fed5cfea9f/web-activity-began-send-post-bodies-in-the-double-quotes?forum=AzureDataFactory)

[2018-12-20 10:04] SychevIgor commented on #21063
Interesting.
It's not in a "preview" on an internal portal
![image](https://user-images.githubusercontent.com/578954/50278288-b6613300-0457-11e9-9916-3d235ab2d2df.png)

![image](https://user-images.githubusercontent.com/578954/50278232-93cf1a00-0457-11e9-982a-47f63f91473c.png)

[2018-12-20 10:04] ChiragMishra-MSFT commented on #21058
@sodafatty Entities are different from sample utterances. Sample utterances are just different ways of identifying an intent and entities are like variables needed for executing those intents.

Eg:- For an application to order a pizza, sample utterances can be :

Order a ____ pizza
Order me a ___ pizza
Make an order for a ___ pizza

The blank here is for an entity - say "pizza name". It can have a

[2018-12-20 10:06] SychevIgor commented on #21063
On a regular portal if we will open a conditional access directly- we also will not find a "preview"
![image](https://user-images.githubusercontent.com/578954/50278430-05a76380-0458-11e9-8b08-fe6600f422ad.png)

[2018-12-20 10:11] waitingkuo opened #21069 "Tutorial #1: duplicated codes"
In <https://docs.microsoft.com/en-us/azure/machine-learning/service/tutorial-train-models-with-aml>
The first code snippet under "Create or attach an existing AMlCompute" contains duplicated codes.

[code]

should be

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4bee4b9a-ce0f-f98b-3160-d6c4a40ef3ac
* Version I

[2018-12-20 10:13] jakaruna-MSFT commented on #21067
@davenewza provide the helm version you are using.
As a quick fix you can delete the customresourcedefinitions and try again.
command for deleting the crd is `kubectl delete crd <name>`.

[2018-12-20 10:13] AdamSharif-MSFT commented on #20815
@bdimag Saw the same issue on Windows Server 2012 R2 Standard - installing the latest driver for the card from nVidia directly seems to resolve this for me.
Drivers for Server 2012 R2 were from: https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sizes-gpu

[2018-12-20 10:14] waitingkuo opened #21070 "Duplicated codes"
The first code snippet under "Create or attach an existing AMlCompute" contains duplicated codes.

[code]

should be

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4bee4b9a-ce0f-f98b-3160-d6c4a40ef3ac
* Version Independent ID: a0475a9e-47f6-2803-8707-fac54ba898dd
* Content: [Image classification tutorial: Train

[2018-12-20 10:18] davenewza commented on #21067
It seems that after I run the `helm install` command above, the following resource definitions are created (even though the command fails):

`kubectl get customresourcedefinition --all-namespaces=true`

[code]

But the helm deployment is still FAILED.  If I delete it (`helm delete cert-manager --purge`), then the resource definitions are also removed.

Even if the resource definitions do not exist

[2018-12-20 10:21] PramodValavala-MSFT commented on #20864
@ssaldi Just following up... Any update?

@alexkarcher-msft Thanks for the insight!

@omerzubair I believe Alex's comment covers your setup. Could you try his suggestions to troubleshoot?

[2018-12-20 10:33] igomat opened #21072 "Upload to Azure Files"
Is it fully working with Azure Files? That the transferred data are copied to Files as the destination point.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c9eaed2-3c71-91a8-6400-903f46999184
* Version Independent ID: 2fd51f52-4b14-4be0-6e50-c2c4fce3edda
* Content: [Microsoft Azure Data Box overview](https://docs.mic

[2018-12-20 10:35] AshokPeddakotla-MSFT commented on #21041
@alch-msft I have created Azure Function Activity through UI and it works as expected.

 ![alt text](https://wtv3.blob.core.windows.net/media/funcac.png?sv=2017-04-17&sr=b&sig=ebyUKxu%2BUqJvK0zqBvcj%2FvvtZHIQF2rWUouk4SoboRY%3D&st=2018-12-20T10%3A28%3A16Z&se=2021-12-20T10%3A33%3A16Z&sp=rw "funcac.PNG")

Could you retry and once and see? You can follow this[link](https://azure.microsoft.com/en-us/bl

[2018-12-20 10:36] igomat opened #21073 "Timestamp of files"
Is timestamp [LastWriteTime] not changed for all types of files after the uploading to Storage Account process?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c9eaed2-3c71-91a8-6400-903f46999184
* Version Independent ID: 2fd51f52-4b14-4be0-6e50-c2c4fce3edda
* Content: [Microsoft Azure Data Box overview](https://docs.m

[2018-12-20 10:36] davenewza commented on #21067
So I've been able to successfully deploy cert-manager by running the following:

`helm install --name cert-manager stable/cert-manager --namespace kube-system --set createCustomResource=false`

`helm upgrade --install --namespace kube-system cert-manager stable/cert-manager --set createCustomResource=true`

The CRDs are also created.

But I'm not sure where I should now be configuring `ingressShim

[2018-12-20 10:38] ben79git opened #21074 "Work / non work hours"
Are the work / non work hours the azure backup server time zone, or the client time zone? Makes a big difference when setting up jobs for clients that are globally located.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c04356b4-e2a0-c095-5f47-b7fc1d2b574f
* Version Independent ID: 72900c81-5858-bb03-06fb-4af27

[2018-12-20 10:43] jakaruna-MSFT commented on #21067
@davenewza  i had the same error with helm 2.12.0 for istio chart.  #20820
Worked after downgrading to 2.11.0. Can you try that.

[2018-12-20 10:48] ferronsw opened #21075 "Authenticating to Azure AD in daemon apps with certificates using MSAL 2.0"
All samples are described using ADAL instead of MSAL 2.0.
Is there a MSAL 2.0 sample or can it be created?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e44b783-3ca5-6b6a-1f33-d7a107b8f8e0
* Version Independent ID: aa2bb5fd-bd0d-830c-84c7-0525657b6d4f
* Content: [Certificate credentials in Azure AD](https://docs.micr

[2018-12-20 10:51] SychevIgor commented on #21063
@ManojReddy-MSFT @MarkusVi either it's a bug on a portal (in one place it's marked as preview, in another - not).
Or we are looking on 2 different feature, but I don't think so.

If it's look like a bug- probable we should report it to a product team.

[2018-12-20 10:58] ManojReddy-MSFT commented on #21063
@SychevIgor I agree. You are actually looking at the "What If" testing tool to see how the conditional access applies in which it is not marked as preview.

I will work internally to see if we can get this changed in the portal.

[2018-12-20 11:00] jakaruna-MSFT commented on #21067
Got a issue and pull request from helm repo which fixes this issue.
issue is helm/helm#5054
[Pull request ](https://github.com/helm/helm/pull/5067)
solution is to migrate to 2.12.1 which is a patch release for 2.12.0 which fixes the issue.

[2018-12-20 11:02] jakaruna-MSFT commented on #20820
Got a issue and pull request from helm repo which fixes this issue.
issue is helm/helm#5054
[Pull request ](https://github.com/helm/helm/pull/5067)
solution is to migrate to 2.12.1 which is a patch release for 2.12.0 which fixes the issue.

[2018-12-20 11:10] SadiqhAhmed-MSFT commented on #20838
@imeya, thanks for sharing your experience. Azure file share does give you an option to create snapshot when backup is not enabled. However, the option is disabled if backup is configured. This is an expected behavior. Because, we expect our customers to manage snapshots through backup. If you still wants to create snapshot, go to the file share options by clicking the ellipsis (three dots) in the

[2018-12-20 11:10] #20838 closed

[2018-12-20 11:26] igomat opened #21076 "European Regions"
Is the statement still valid?
"Data Box service is available only within US"
The doc:
https://docs.microsoft.com/en-us/azure/databox/data-box-overview
state that:
"Service availability - For this release, the Data Box service is available in the following regions:
European Union - West Europe and North Europe."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2018-12-20 11:32] fmegen commented on #17592
Hi Robin,

please try out our latest release 1.2.0 and check if you still see the 10min reconnect issue.

[2018-12-20 11:34] ManojReddy-MSFT commented on #21065
@Aggrobatics AFAIK there is no scope which can only target specific site/list/item. I am trying to get the confirmation regarding this and will provide an update shortly.

[2018-12-20 11:34] fmegen commented on #19268
Hi,

please try the new version of the speech sdk and check if the issue still persists.

we made changes to the code to report the error as a connection open response with code 500.

[2018-12-20 11:48] PramodValavala-MSFT commented on #20971
@mcollier I think what you have observed is correct. I was not able to find it documented anywhere but I took a dive into the code and was able to find it. 😄

[Here](https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script.WebHost/Controllers/FunctionsController.cs#L98) is the method triggered by the Admin API mentioned in the doc which is [extracting](https://github.com/Azure/azu

[2018-12-20 11:51] fmegen commented on #19538
hi @telke,

we are responsible for the client library. For the exact audio format we need to loop in someone from the service team.

[2018-12-20 11:55] ChristianSauer commented on #18819
I experience the same problem. Running it in the cloud shell did not help.

[2018-12-20 12:11] Aromanticltd opened #21077 "useEncryptedEndpoints needs to be set to true for the connection to work"
Reading the documentation it reads as useEncryptedEndpoints is not required but in order for me to get it to work it needs to be set to true.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 881dd250-a14d-23c2-09e1-bb0d9cf4344a
* Version Independent ID: 9b21f0d1-7827-9805-8e3e-50ac98ce5b4d
* Content: [Copy data from Shop

[2018-12-20 12:17] ManojReddy-MSFT commented on #21075
@ferronsw A lot of samples for MSAL are available [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/sample-v2-code).

However there is no specific sample which covers client credential flow with certificates for MSAL. I am assigning this to the author to consider adding this sample to the doc.

[2018-12-20 12:19] ChiragMishra-MSFT commented on #21070
@waitingkuo Thanks for the feedback. I am assigning this issue to the content author to have a look.

@hning86 Can you please take a look at this and update as appropriate?

[2018-12-20 12:34] clintoj opened #21078 "Out of date"
Any plans to update this document so that it represents the screens and choices you will be presented with at present? I'm trying to write a function but am not seeing the shown screen that says "custom function"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4e5181c-002d-33bb-5e9d-02fad30a5d3c
* Version Independent I

[2018-12-20 12:53] imeya opened #21079 "can ITelemetryInitializer and ITelemetryProcessor be used in .net core console application?"
can ITelemetryInitializer and ITelemetryProcessor be used in .net core console application?

if yes, could you please provide some samples?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 26b3e91f-c240-fffa-6ae9-d676deb7ad4c
* Version Independent ID: bbfa099e-3ed6-09ea-fbde-f2a3ed13139a
* Content: [Filtering and preproc

[2018-12-20 13:01] PramodValavala-MSFT commented on #21078
@clintoj Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

[2018-12-20 13:10] ukphillips commented on #16543
@SaurabhSharma-MSFT is there any more documentation around the content of the pem? I am trying to upload a pem with the public and private key, and am getting back the error: "PEM is in unexpected format" is there any way to get more information about what key vault does not like about my pem file?

[2018-12-20 13:13] jpetitte commented on #19268
@fmegen awesome, I'll give it a look!

[2018-12-20 13:14] KetanChawda-MSFT commented on #20841
@pmcilreavy Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-20 13:14] #20841 closed

[2018-12-20 13:14] mrbullwinkle commented on #21079
adding @lmolkova and @cijothomas. I know we have examples on the wiki for [ITelemetryInitializer's](https://github.com/Microsoft/ApplicationInsights-aspnetcore/wiki/Custom-Configuration) and [Processors](https://github.com/Microsoft/ApplicationInsights-aspnetcore/wiki/Telemetry-Processors:-Sampling-and-Metrics-Stream) for ASP.NET Core. I don't know if we have any console app centric examples for .

[2018-12-20 13:14] KetanChawda-MSFT commented on #20933
@bcube Checking in to see if the above post helped answer your question.

[2018-12-20 13:18] SubhashVasarapu-MSFT commented on #20985
@hisasima Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2018-12-20 13:22] KetanChawda-MSFT commented on #20703
`formatDateTime` will loose the original timezone mentioned in the input string e.g. **formatDateTime('2018-12-15T05:00:00+13:00','dd-MMM')** and convert it into UTC.

[2018-12-20 13:25] automationbk opened #21080 "Unable to deploy through Azure Automation"
Is it possible to implement this via a Azure Automation runbook during preview phase?  I tried the deploy to Azure automation option from the link in this document : https://www.powershellgallery.com/packages/Az.Storage/1.0.0
However the deployment fails with an error.Manual import of Az.Storage module in Azure Automation module gallery is not working as the dependency module named Az.accounts fai

[2018-12-20 13:38] Agazoth opened #21081 "Method error in example"
$queue.CloudQueue.AddMessage($QueueMessage) should be $queue.CloudQueue.AddMessageAsync($QueueMessage)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7dee2eb5-36a3-51a4-d251-bd04dafcdd72
* Version Independent ID: 3917ff8a-fc5c-a322-fff1-7bac71799525
* Content: [Perform operations on Azure Queue storage with PowerShell]

[2018-12-20 13:42] SHANE0MAC opened #21082 "Event Levels are incorrect"
Your query to get warning events is incorrect.

Error is Level 2
Warning is Level 3
See the below link:
https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.tracing.eventlevel?view=netframework-4.7.2

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 967e70a1-d645-689d-2917-d990c14b4821
* Version Independent ID:

[2018-12-20 13:44] Agazoth opened #21083 "Method error n example"
[code]
Should be
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7dee2eb5-36a3-51a4-d251-bd04dafcdd72
* Version Independent ID: 3917ff8a-fc5c-a322-fff1-7bac71799525
* Content: [Perform operations on Azure Queue storage with PowerShell](https://docs.microsoft.com/en-us/azure/storage/queues/storage-powershell-how-t

[2018-12-20 13:47] igomat opened #21084 "Alternate Location for restore"
What are requirements for Storage Account to be available for choosing in drop down list during Azure File Share restore process?
I have a few Storage Accounts in the same region as source FileShare, even in the same Resource Group, even with a File Share already created but the list is empty under Storage Account in Alternate Location tab.

---
#### Document Details

⚠ *Do not edit this section.

[2018-12-20 13:57] automationbk commented on #21080
Just found this :https://azure.microsoft.com/en-us/blog/azure-powershell-az-module-version-1/

Seems like it is not supported yet in Azure automation

[2018-12-20 14:10] travellingtrainer commented on #16065
But you put it in the brand new class?

[2018-12-20 14:21] tbkobberoe commented on #16065
@travellingtrainer I`ve been told that there is a 3 month period from a course has been created and signed off until it is published as there are some finishing that needs to be done. That`s probably why we see this issue

[2018-12-20 14:40] aaronralls opened #21085 "Subscription Sign In Issue"
In the section "Create blank logic app": After opening selecting the context menu item 'Open With Logic App Designer' the Logic App Properties box, where you enter in the subscription information, is disabled. There is no error message and I have tried two separate Azure accounts.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2018-12-20 14:41] ryotatomioka commented on #20891
Reported here: https://github.com/Microsoft/AzureNotebooks/issues/592

[2018-12-20 14:45] jpetitte opened #21086 "Two different methods of RBAC with AKS"
What are the differences between the RBAC setup in this tutorial vs. the one found here: https://docs.microsoft.com/en-us/azure/aks/aad-integration#create-client-application

The results seem very different regarding admin/user credentials, as well as what is set up in Azure Active Directory. I can elaborate on what I've found, but it's kind of complex. I'm hoping that someone who understands this

[2018-12-20 14:46] tchmiel commented on #20881
any update on this?

[2018-12-20 14:57] laurentriera opened #21087 "Can t migrate sync user from one onprem AD forest to anoyther forest"
With this change we are now unable to migrate user that were sync from one forest to another forest.
Before this change All technote indicate To migrate a user (synced to O365)  from one ad forest to another ad forest  was unsync AD  user account , restore azure account,  change immutableid (new forest account), active sync to the new forest account. Then user keep all :  mailbox, tenant groupmenb

[2018-12-20 15:01] motanv commented on #13615
Invoke-ServiceFabricChaosTestScenario is client based, so for example, say you have a Service Fabric cluster in Azure. If you invoke it from your laptop and the laptop dies, even if the timeToRun in not up yet, no further faults will be induced other than those already in-flight. On the other hand, Start-ServiceFabricChaos works via the stateful and reliable system service called FaultAnalysisServ

[2018-12-20 15:06] bearrito commented on #13050
Is there an update on this?

[2018-12-20 15:08] benc-uk opened #21088 "Out of date steps for getting code snippet"
This guide seems badly out of date.

"Getting Started &gt; Monitor and Diagnose Client-Side" is no longer an option in the portal
There is a "Getting Started" link on the Overview but it's just a link to the docs.

How do we get the code snippet now?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: edce8383-4e3b-425b-5f0

[2018-12-20 15:15] xencon opened #21089 "Method for admins to give feedback on broken gallery apps?"
It would be very helpful if admins could flag broken gallery apps for update. For example, the Concur Solutions gallery app (password sign-on) has the wrong sign-in URL, and this can't be changed on a gallery app.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 806e36a4-f5ae-bc07-e7e2-ea9d2ab98131
* Version Independent

[2018-12-20 15:16] bearrito opened #21090 "Determine upfront available capacity"
How does capacity priority and capacity in general work for certain families of SKU's.

We would like to reserve SKU's for which we suspect there is low capacity in our location. Does the Azure capacity team work to provide that capacity if it is low? Does it matter if we are looking to reserve for 1 year vs 3 years?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2018-12-20 15:17] bearrito commented on #21090
Related to https://github.com/MicrosoftDocs/azure-docs/issues/20938

[2018-12-20 15:17] mrbullwinkle commented on #21088
@benc-uk you can get the snippet from the [open-source SDK repo](https://github.com/Microsoft/ApplicationInsights-JS#use-js-snippet-and-initialize-dynamically-download-full-application-insights-script-from-cdn) or from the [client/browser-side monitoring quickstart](https://docs.microsoft.com/en-us/azure/application-insights/app-insights-website-monitoring?toc=/azure/azure-monitor/toc.json#configu

[2018-12-20 15:36] cephalin commented on #19305
@pawelros You're right that Key Vault is the way to go for certs and we need to update the doc with that option.

I'm mainly commenting on  WEBSITE_LOAD_CERTIFICATES. The app setting is only for .NET apps on Windows because it's tied to the Windows cert store. Language frameworks other than .NET/Core don't access the Windows cert store, nor does any Linux apps (including .NET Core). Therefore they

[2018-12-20 15:39] bostonmoto commented on #13194
Hello @cynthn. Any update on this issue? I see that there's also an update function with azcli

https://docs.microsoft.com/en-us/cli/azure/vm/availability-set?view=azure-cli-latest#az-vm-availability-set-update

We are also looking to update our fault domains for our availablity set and ran into issues with terraform and like other users I dont see the ability to update fault domains in the azure

[2018-12-20 15:46] christianbain opened #21091 "Azure Management conditional access impact access to https://manage.visualstudio.com/Subscribers"
We created conditional access policy to force MFA to Azure management, and we are getting reports from users that are accessing https://manage.visualstudio.com/Subscribers that they are being forced to use MFA?  How are these connected?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 221733cf-3951-3fb4-12cc-486ef43d8d16

[2018-12-20 15:48] mrbullwinkle commented on #21088
The doc is now updated internally the change should be live by 4 PM this afternoon (UTC - 8). Thanks again for helping us make our docs better!

[2018-12-20 15:51] CeciAc opened #21092 "Build your first project - step 6"
@DavidZID commented on [Thu Dec 20 2018](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/163)

Hi there
At step 6 of build your first project, there is a function called "IoT Workbench: Cloud", but this doesn't exists. So I wasn't able to do this tutorial. Anyway, the Extension in VSCode has a new name - please correct that as well. It would make sense to try the hole example. Thanks a lo

[2018-12-20 15:53] CeciAc commented on #21092
Hi team,
This issue is related to the original documentation

kind regards

[2018-12-20 16:01] diberry commented on #21016
@MPEV The documentation is correct as is. If you find that not to be the case, please include screen shots of both the UI and the JSON response from the endpoint.

[2018-12-20 16:07] douglaslMS commented on #21041
@burstingninja This is a known issue - the "forced" timeout after 1 minute - and the Data Factory team is rolling out a fix. They hope that the fix will be rolled out in all regions by the end of December. (Note that I said "hope" and that this is not a promise or a guarantee!)

[2018-12-20 16:09] douglaslMS commented on #21041
@alch-msft Alvin, do you mean that you have found a resolution for the issue that you originally reported?

[2018-12-20 16:09] MPEV commented on #21016
@diberry Apologies - I was comparing to the 'Add prebuilt entities' list within the lius portal and assumed they were the same.

![image](https://user-images.githubusercontent.com/16236955/50296115-99d1f480-0471-11e9-9089-e85c03268a95.png)

[2018-12-20 16:12] diberry commented on #21016
@MPEV You are correct. While the entity under the covers is the same, the names between the UI and the API are not the same. This has been logged with the service team. I thought you were asking if the bug had been fixed and released.

[2018-12-20 16:12] douglaslMS commented on #21041
@alch-msft Also, are you the person who asked the same question in a comment on the blog post [Azure Functions now supported as a step in Azure Data Factory pipelines](https://azure.microsoft.com/en-us/blog/azure-functions-now-supported-as-a-step-in-azure-data-factory-pipelines/)? If yes, have you emailed the blog author your pipeline ID as requested?

[2018-12-20 16:21] douglaslMS commented on #20318
@CasperJ The Azure Function Activity does support routing. For example, if your app uses the following routing - `https://functionAPP.azurewebsites.net/api/functionName/{value}?code=<secret>` - then the `functionName` is `functionName/{value}`, which you can parameterize to provide the desired `functionName` at runtime. Is this helpful?

[2018-12-20 16:24] alkohli commented on #21076
@igomat  Thanks for bringing this to my attention! The service availability for Data Box service is correct in the overview. It needs to be updated in the limits doc. I am making that change now. Will let you know when done!

[2018-12-20 16:32] alkohli commented on #21076
@igomat  This change was merged via PR #61486. The content should go live before noon. Thanks!

[2018-12-20 16:33] alkohli commented on #21076
Please verify and close. #please-close

[2018-12-20 16:41] revodavid commented on #21027
Check with @jflam but it looks like R 3.4.1 is the only available kernel, and Microsoft R Open is not an available option now.

[2018-12-20 16:42] hsbsandrecv opened #21093 "NPS Extension for Azure MFA and Azure MFA remember Multi-Factor Authentication feature"
Our goal is to force 2nd form auth for VPN every time, using NPS Extension. If Azure MFA has the remember Multi-Factor Authentication feature Enabled, and have marked his device as trusted, or is a domain joined device that is trusted, and Azure MFA is configured to not ask for 2nd form auth for trusted devides (condicional access). Is the VPN connection still required do validate the 2nd form aut

[2018-12-20 16:54] msmimart commented on #18401
Thanks again for the feedback. I've submitted an update to help clarify the types of apps the article applies to. I also included additional info and references regarding Office 365 sharing. #please-close

[2018-12-20 16:54] mrbullwinkle commented on #20978
This might also be worth looking into as well [https://azure.microsoft.com/en-us/solutions/gaming/get-to-market-faster/](https://azure.microsoft.com/en-us/solutions/gaming/get-to-market-faster/). It looks like Brian is out of the office this week. I am going to send you an e-mail and loop in Brian so that he can respond back directly if he has any additional suggestions.

I am going to close out t

[2018-12-20 16:54] mrbullwinkle commented on #20978
@MicrosoftDocs/azure-cxp-triage #please-close

[2018-12-20 17:04] georgewallace commented on #21007
@YvonneArnoldus Thanks for checking. Don't hesitate to reach out again if you see anything wrong. @MicrosoftDocs/azure-cxp-triage #please-close

[2018-12-20 17:10] #21007 closed

[2018-12-20 17:18] redamaleki commented on #20972
I don't know if I need to open a new issue, or just comment again on the closed ticket.

[2018-12-20 17:21] #20978 closed

[2018-12-20 17:35] MicahMcKittrick-MSFT commented on #21091
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-20 17:37] MicahMcKittrick-MSFT commented on #21062
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-12-20 17:38] MicahMcKittrick-MSFT commented on #21074
Thanks for the question! We are investigating and will update you shortly.

[2018-12-20 17:38] galbru opened #21097 "Possible missing Required IP addresses"
After I deployed the HDInsight resource and apply a NSG on the VNet (all the subnets) with the mentioned rules for inbound traffic (https://docs.microsoft.com/en-us/azure/hdinsight/hdinsight-extend-hadoop-virtual-network#networktraffic) I still couldn't access the notebook from outside using a tunnel I configured.

After I enabled NSG flow logs, I noticed that IP address '40.84.41.134' is been den

[2018-12-20 17:38] MicahMcKittrick-MSFT commented on #21084
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-20 17:39] MicahMcKittrick-MSFT commented on #21086
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-20 17:39] MicahMcKittrick-MSFT commented on #21090
Thanks for the question! We are investigating and will update you shortly.

[2018-12-20 17:40] jflam commented on #21027
That's correct. Right now we have suspended updates to R on Azure Notebooks. We're still working out, in collaboration with other teams at Microsoft, what our R story is going to be in the future. But right now  as we try to get Azure Notebooks to GA next year, we simply don't have resources to manage updates to R in our image for the time being.

[2018-12-20 17:40] Adam-Smith-MSFT commented on #21072
@igomat Files is supported on both Data Box and Data Box Heavy, Data Box Disk only supports Blobs as of now.
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-20 17:40] #21072 closed

[2018-12-20 17:41] #21076 closed

[2018-12-20 17:42] Adam-Smith-MSFT commented on #21080
@automationbk Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-12-20 17:43] Adam-Smith-MSFT commented on #21081
@Agazoth Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-12-20 17:44] Adam-Smith-MSFT commented on #21083
@Agazoth Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-12-20 17:48] Adam-Smith-MSFT commented on #21073
@igomat  Could you provide us with more details about the question? Once data is uploaded to storage accounts, it will keep the upload time, but if the file is updated , it will pick the last time it was updated. Does this answer your question ?

[2018-12-20 17:50] MicahMcKittrick-MSFT commented on #20737
Thanks for giving that a go.

At this point I think we should get you in contact with Support to get this resolved.

Do you have the ability to open a technical support ticket? If not, you can email me at AzCommunity@microsoft.com and provide me with your SubscriptionID and link to this issue. I can enable your subscription for that request.

I will close this and be on the lookout for that email

[2018-12-20 17:57] MicahMcKittrick-MSFT commented on #20118
@cwoolum I will close this for now but please see my above comment. If still seeing issues send me an email and we can get it sorted out offline :)

[2018-12-20 17:57] #20118 closed

[2018-12-20 17:58] brettcannon commented on #21044
You're correct that gunicorn is a production _WSGI_ server, but I'm running an asynchronous workload and so gunicorn simply cannot run my code (i.e. I'm using aiohttp).

So my question still stands: what `python` command do you want me to be using to use the Python version I specified when creating my App Service instance (and that the docs suggest I can change with an `az` command)?

[2018-12-20 17:59] MicahMcKittrick-MSFT commented on #20938
@axatix thanks for linking the other issue. Lets close this one out and continue on the other one as I will need to check offline with some product group members to confirm. Will reply shortly to that other issue.

[2018-12-20 17:59] #20938 closed

[2018-12-20 18:02] mbonig opened #21098 "The G+x thing seems weird..."
So, I'm trying to understand 1) why is "G" the shortcut key of choice and 2) can I change it?

When touch typing it requires a lot of travel for my right hand to come over to hit D,A,R or B, all keys that normally my left hand would be going for but are taken up by it hitting the G. I could bring my right hand over for the G, but then then doing G+N I'm crossing hands which is awful.

Can I just r

[2018-12-20 18:07] jonstroman commented on #19647
Here's the updated code for the script that adds the cmdkey credential:
-----------
$resourceGroupName = "<storage account's resource group name>"
$storageAccountName = "<storage account name>"

# These commands require you to be logged into your Azure account, run Connect-AzureRmAccount if you haven't
# already logged in.
$storageAccount = Get-AzureRmStorageAccount -ResourceGroupName $resourceGro

[2018-12-20 18:08] jonstroman commented on #19647
No idea why the comments came out huge. Just paste it in and put hashtags in front of those lines.

[2018-12-20 18:09] kuhussai commented on #21021
Since data retrieval transaction and metadata charges are higher for Archive Storage relative to Hot or Cool Storage, it's more economical to place large objects in Archive Storage. Typically, we recommend archiving blobs >1 MB. For smaller files, we recommend creating zip/tar files so that they are >1 MB.

[2018-12-20 18:09] ashutoshsharma15 commented on #17436
@Mike-Ubezzi-MSFT @lianetoohey  I am facing same issue that sampling does not detect those field having nested array of key value pairs in json document. Is there a resolution to this issue?

[2018-12-20 18:12] Grace-MacJones-MSFT commented on #21085
Hi @aaronralls, thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-20 18:16] mchrislincoln commented on #21040
We are having the same issue.  We used to remove users from local AD, sync, and then restore in 365 AD.  The user would then show as "in cloud" for SOA and we could share mailbox, edit attributes, etc.

Now after restore in azure AD, the user shows "synced with active directory" and no changes can be made in 365.  User has been deleted in local AD so we are stuck.

[2018-12-20 18:18] qubitron commented on #21044
@jennylawrence which python command should Brett use when trying to run a webserver using aiohttp?

[2018-12-20 18:18] mschwa opened #21099 "Connectivity error while running this code"
Very simple. I downloaded the sample and plugged the following values into the code...<br/>
![image](https://user-images.githubusercontent.com/3912569/50302776-f7e5e400-043f-11e9-906b-9a0672498620.png)

I run the code straight out of the box and get the following error...

![image](https://user-images.githubusercontent.com/3912569/50302905-557a3080-0440-11e9-8771-2285c2be2ab7.png)

Is this an SSL

[2018-12-20 18:23] JennyLawrance commented on #21044
Here is how I'd do it:
Create a startup.txt file in your content folder which explicitly specifies the exact python command to run: Since we have version specific images, the only version of python in the 3.7 image will be python 3.7. So referring to as python is all you need:

We will read this file, and launch it as is (provided the file contains either python or gunicorn).
[ See start_server()

[2018-12-20 18:24] lianetoohey commented on #17436
@ashutoshsharma15 looks like a bug that Microsoft is working on. According to @balaksms they are finalizing some kind of fix as of yesterday.

[2018-12-20 18:34] aljo-microsoft commented on #19045
@jsiegmund

Will you confirm my understanding of this issue:

You receive an ARM deployment error, when you are upgrading Azure resource Type == 'Microsoft.ServiceFabric/clusters', by replacing the following cluster resource properties:

certificate.thumbprint
certificate.thumbprintSecondary
certificate.x509StoreName

Ref:
https://docs.microsoft.com/rest/api/servicefabric/sfrp-model-certificatedes

[2018-12-20 18:36] MarileeTurscak-MSFT commented on #21059
@AshwinSarimin thanks for your feedback! I have passed it along to the content author, @sharad4u , to look into and update as appropriate.

[2018-12-20 18:36] tchristiani commented on #9681
@YutongTie-MSFT This is not a doc bug but a support issue. Please reassign this issue to support. Thank you.

[2018-12-20 18:38] bearrito commented on #21090
@MicahMcKittrick-MSFT thanks for the quick response.

I had a few more things to add to the ticket but did not want to add them because of OPSEC reasons.

[2018-12-20 18:38] mweinand commented on #19305
I think we are looking for a similar feature on Linux that would inject a certificate loaded via the portal into the container/runtime.  This is useful so that certificates only exist in the portal and never have to leave or be packaged into a deployment.  Whether or not it works like the certificate store isn't important.  If it was a volume mount into the docker container at like /certificates o

[2018-12-20 18:41] MarileeTurscak-MSFT commented on #21077
@Aromanticltd
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-20 18:41] ridomin opened #21100 "Windows Desktop under ASP.NET apps?"
It's not clear why Windows Desktop technologies are under the ASP.NET app node, in the same way, there is no option in the Azure portal to create AppInsights resources for Desktop. Why do we need to select ASP.Net?

AppCenter does not support Desktop apps, and HockeyApp is being deprecated. How should I configure telemetry for my client app?

---
#### Document Details

⚠ *Do not edit this section.

[2018-12-20 18:46] tchristiani commented on #18674
#please-close

[2018-12-20 18:48] thomaslevesque commented on #21021
Thanks @kuhussai

[2018-12-20 18:51] kuhussai commented on #18198
The default account tier applies to any blob that does not have an explicit tier set (you'll see "Hot Inferred" or "Cool-Inferred" as the access tier value for these blobs). Since you cannot set an explicit tier on append blobs using SetBlobTier, changing the default account tier to Cool will apply to both existing and new append blobs within your account.

[2018-12-20 18:54] jason-j-MSFT commented on #21082
@SHANE0MAC
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-20 18:55] jason-j-MSFT commented on #21097
@galbru
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-20 18:57] mrbullwinkle commented on #21100
The portal selection options were previously used to light up different experiences in the UI based on what features were supported in the different SDKs. For example, if your SDK didn't support Live Metrics we wouldn't show you a Live Metrics icon on the classic (now retired) overview pane. As the SDKs have gotten much closer to feature parity the product group has moved away from this and your s

[2018-12-20 18:59] MarileeTurscak-MSFT commented on #21066
@lonevvolf
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-20 19:00] MarileeTurscak-MSFT commented on #21089
@xencon
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-20 19:01] MarileeTurscak-MSFT commented on #21093
@hsbsandrecv
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-20 19:02] MarileeTurscak-MSFT commented on #21087
@laurentriera
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-20 19:04] MarileeTurscak-MSFT commented on #21098
@mbonig thanks for your feedback! I have assigned this issue to the content author, @adamabmsft , to address your comments and update as appropriate.

[2018-12-20 19:06] #18401 closed

[2018-12-20 19:06] #20075 closed

[2018-12-20 19:07] #20952 closed

[2018-12-20 19:09] Karishma-Tiwari-MSFT commented on #20936
@binken Any update?

[2018-12-20 19:12] Get-Github commented on #16573
I am not if this a stupid question.
Let's say I have a .ps1 script file in my VSTS Repo and when I Sync it, I am able to see the script file reflecting in my runbook but let's say...

My Repo is having a module folder with .psm1 & .psd1 and other stuff then the same is not displaying under the modules after Sync. Where can expect the reaction? or how can I sync my modules?

[2018-12-20 19:16] SaurabhSharma-MSFT commented on #20333
@martinstenhoff We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-20 19:16] #20333 closed

[2018-12-20 19:19] MicahMcKittrick-MSFT commented on #18819
@lachie83 @iainfoulds any ideas on the root cause of this error? I cannot repro the issue in my environment.

My only real thought on this is that the users might not have permissions to create a DNS zone which is why they are seeing this error.

@ChristianBeier @rhgs would you know if you are listed as an owner or admin of the subscription you are trying to enable this addon for? Also, could you

[2018-12-20 19:21] SaurabhSharma-MSFT commented on #20956
@mattstached We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-20 19:21] #20956 closed

[2018-12-20 19:22] MarileeTurscak-MSFT commented on #21069
@waitingkuo
Thanks for your feedback!

I noticed you closed out the issue - were you able to get this resolved?

[2018-12-20 19:22] mcollier commented on #20971
Thanks for the additional info, @PramodValavala-MSFT.  I think it would be helpful if the doc could be updated to explicitly state which Triggers can be used with this manual invocation approach, and a few examples as well.

[2018-12-20 19:31] daveaglick commented on #15639
Another +1 for http -> https and leaving other components of the URI intact (to be processed in the subsequent request by any URL rewriting, etc.)

[2018-12-20 19:32] MicahMcKittrick-MSFT commented on #21036
@theheatDK valid feedback.

I will assign to the author to review.

[2018-12-20 19:35] MicahMcKittrick-MSFT commented on #21074
@ben79git you configure these settings on the client machine using the Microsoft Azure Backup wizard. So the time settings used in this case will be client not server.

This would be something good to note in the doc @rayne-wiselman

Could you take a look?

[2018-12-20 19:43] MicahMcKittrick-MSFT commented on #21084
@igomat we cover this question in the FAQ section

https://docs.microsoft.com/en-us/azure/backup/backup-azure-files-faq

Take a look and see if that helps.

[2018-12-20 19:45] MicahMcKittrick-MSFT commented on #21086
@iainfoulds @seanmck could either of you clarify on this?

[2018-12-20 19:48] MicahMcKittrick-MSFT commented on #21090
@bearrito as per capacity planning, this is something the Azure teams are always working on to ensure the capacity for any specific VM size is available in any given region. As per how long you want to reserve a size for that is completely up to you. It doesn't make a difference if you want to reserve for 1 year or more than that.

All the VM sizes in use and the number of reserved sizes are all t

[2018-12-20 19:50] ganesr commented on #20915
@cherylmc can you please make the change? My account does not let me make changes for some reason.

[2018-12-20 19:50] Mike-Ubezzi-MSFT commented on #21099
Added additional doc properties to satisfy triage process.

[2018-12-20 19:53] MicahMcKittrick-MSFT commented on #21091
This applies to all Azure management endpoints. Visual Studio is part of Azure DevOps (VSTS) so I would expect this to be impacted as well.

[2018-12-20 19:54] igomat commented on #21084
Sorry, could you provide the information precisely?
In the linked FAQ I don't see an answer to the question.
The destination Storage Account is V2, LRS and within the same Resource Group as source Storage Account. And it's not registered to any Vault.

[2018-12-20 19:54] Mike-Ubezzi-MSFT commented on #21069
@waitingkuo Re-Opening GitHub issue to have doc-bug addressed and assigning to content author @hning86. Regards, Mike

[2018-12-20 19:55] gopitk commented on #12886
Thanks for the feedback. We updated the documentation. The URL to access Jupyterlab shoul;d be:

https://my-vm-ip:8000/user/<username>/lab

[2018-12-20 20:00] MicahMcKittrick-MSFT commented on #21084
Check these restrictions as well

https://docs.microsoft.com/en-us/azure/backup/troubleshoot-azure-files#limitations-for-azure-file-share-backup-during-preview

@rayne-wiselman to comment further as well to help identify why you are not seeing them

[2018-12-20 20:06] tchristiani commented on #17592
#please-close

[2018-12-20 20:06] tchristiani commented on #19268
#please-close

[2018-12-20 20:06] tchristiani commented on #19538
#in-progress

[2018-12-20 20:07] glevanon commented on #21025
Travis,
Thanks for the response.
I double-checked myself, and I don't think that's the reason;
The VPN works fine if I'm connecting from my laptop from the same LAN (behind the same router) as my linux.
I connected NordVPN client and tried to connect to AzureVPN on top of NordVPN - still I don't receive any response from the server (I verified with wireshark).
In Azure portal, there's no NSG assoc

[2018-12-20 20:08] tchristiani commented on #12886
#please-close

[2018-12-20 20:19] igomat commented on #21073
@Adam-Smith-MSFT I would like to ensure that the timestamp: LastWriteTime remains not touched for all the way from our DC (File Servers) to SA File Shares. Even during encryption, decryption etc. Our scenario uses the Data Box for Initial Bulk Transfer. We are coping via Robocopy to Data Box the whole data, then after having the data shipped to Azure File Shares we need to take care about incremen

[2018-12-20 20:23] igomat commented on #21084
The link concerns limitation for backup of Azure File Share but here the question is about restoring the data. Nevertheless all listed conditions are met for both Storage Accounts.

[2018-12-20 20:33] cpitches commented on #20703
OK thanks for clarifying.   I know c# does this, but other languages such as T/SQL don’t. e.g.

DECLARE @SampleDate DATETIMEOFFSET = '2018-12-21 09:14:45.8205690 +13:00';
PRINT CONVERT (VARCHAR, @SampleDate, 106) -- 21 Dec 2018 (not 20 Dec 2018)

From: KetanChawda-MSFT [mailto:notifications@github.com]
Sent: Friday, 21 December 2018 2:22 a.m.
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github

[2018-12-20 20:35] mganeshphani commented on #20639
Thankyou.
Can you share me link to official documentation where this would be updated
for future reference?

On Wed, Dec 19, 2018 at 12:50 AM SadiqhAhmed-MSFT <notifications@github.com>
wrote:

--
Ganesh Phani Majeti.

[2018-12-20 20:38] mganeshphani commented on #20639
Also can you update the portal UI to mention this message rather than
misleading users with wrong role information

On Thu, Dec 20, 2018 at 2:35 PM Ganesh <mganeshphani@gmail.com> wrote:

--
Ganesh Phani Majeti.

[2018-12-20 20:40] xyz92 commented on #20766
@SaurabhSharma-MSFT Thank you! Isn't it possible to create SendGrid account without changes to ARM Template?

[2018-12-20 20:45] tdykstra opened #21104 "Broken link on the pricing page"
The [pricing page](https://azure.microsoft.com/en-us/pricing/details/sql-database/single/) links to an internal anchor `understanding-dtus` in this doc that doesn't exist.  A section or article with that content is needed somewhere, as It seems to be impossible to find a clear explanation of what a DTU is -- what kind of performance do you get with Basic+5 DTUs, for example.

---
#### Document Det

[2018-12-20 20:48] bhall7718 opened #21105 "Throughput Guidance Worded Incorrectly"
Referring to the last paragraph in the Throughput Units section there are a few statements I'm finding to be misleading, if not incorrect.

"A single partition has a maximum scale of one throughput unit. The number of throughput units should be less than or equal to the number of partitions in an event hub."

This lead me to think each partition could at max do 1 MB/sec, but it has more to do with

[2018-12-20 20:52] abhinavcarlsberg commented on #21040
Previously we use to do hard match , can you please let us know if i have to match a user with a recovered user account(now after recovery account is in synced with ad state) how to proceed ahead.
Only thing i can think is create a sync conflict and then fix with sycn health

[2018-12-20 21:03] jrutroff opened #21106 "internal load balancer for ingress Istio gateway"
Can you provide an example of how to configure an ingress gateway with an internal Azure load balancer?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 68b5d00d-529b-a8be-47bf-773c967f0e72
* Version Independent ID: 0cf044ef-b26f-a8fa-213f-1e3fffaf53d6
* Content: [Install Istio in Azure Kubernetes Service (AKS)](https://

[2018-12-20 21:06] MicahMcKittrick-MSFT commented on #21106
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-12-20 21:10] ewahner opened #21107 "Switching my reply domain"
I have a B2C domain initially setup with a reply URL to my azurewebsites domain.  I would like to be able to change that to my real domain.  I already have over a thousand users that are setup and I am looking to have zero downtime.  How can I accomplish this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc5e148d-b7c

[2018-12-20 21:15] fmegen commented on #19538
Hi @telke ,

here is the info for the currently supported PCM format:
   - 16khz
   - linear encoding
   - little-endian
   - signed
   - 16-bit per sample
   - mono

Hope that clarified your question.

[2018-12-20 21:16] BryanTrach-MSFT commented on #20149
@itorian I apologize for the delay. We verified internally that inserting both silence and black if no video/audio is not supported in either V2 or V3 at this time.

We kindly request you to leave your feedback on the [Azure User Voice](https://feedback.azure.com/forums/169396-azure-media-services) page where the product group frequently reviews features requests.

We will now proceed to close thi

[2018-12-20 21:16] #20149 closed

[2018-12-20 21:17] MarileeTurscak-MSFT commented on #20886
The only documented IP address ranges are in the prerequisites for AD Connect. https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-install-prerequisites#connectivity

This routes to the O365 document https://docs.microsoft.com/en-us/office365/enterprise/urls-and-ip-address-ranges

[2018-12-20 21:17] Anand-Moghe opened #21108 "Can you add more information for App Service limit related to mounting drive, rdp etc"
Can you add some documentation or link to some of the limitation of App Service like:
- Unable to map drive from Azure Storage File Share
- Unable to do RDP to actual instance etc

Or provide a link to that sort of information when user is trying to understand the limitation of App Service.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2018-12-20 21:17] MarileeTurscak-MSFT commented on #20886
I have passed your feedback along to the product team who will update the thread if they have any additional information on this.

[2018-12-20 21:18] MarileeTurscak-MSFT commented on #20886
We will proceed to close this thread. If you have further questions feel free to tag me in the comments and I will gladly continue the discussion.

[2018-12-20 21:18] #20886 closed

[2018-12-20 21:19] MarileeTurscak-MSFT commented on #21027
@jflam is the version mentioned in the document up-to-date then? If so I will close my pull request.

[2018-12-20 21:20] strtdusty opened #21109 "This ARM template can only be run once"
This isn't a great example because the ARM template is not idempotent.  If you re-run it, it will use the same role and service principal but create a new GUID for the role assignment name.  You will get an error saying the assignment already exists.  If you used a static GUID then you could re-run it.
https://github.com/Azure/azure-quickstart-templates/issues/4205

---
#### Document Details

⚠ *D

[2018-12-20 21:20] BryanTrach-MSFT commented on #16155
@anilmur Thank you for the feedback. It appears the doc author has added this to the doc.
As a result, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-20 21:20] #16155 closed

[2018-12-20 21:22] BryanTrach-MSFT commented on #19352
@dcbrown16 Thank you for the feedback. We have assigned the issue to the doc author to have them review your feedback and determine is an update is necessary.

[2018-12-20 21:30] CarlRabeler commented on #18454
@VanMSFT please review this re: permission issue

[2018-12-20 21:31] CarlRabeler commented on #16255
@MikiMakhlevich can you please respond to this follow-up question? Thanks.

[2018-12-20 21:32] CarlRabeler commented on #16255
@Mike-Ubezzi-MSFT please assign to @MikiMakhlevich

[2018-12-20 21:32] KenBeard commented on #21078
Ditto. (adding to get notifications. Thanks.

[2018-12-20 21:36] arsunda commented on #21041
@alch-msft Are you in region WestCentralUS by any chance? Can you try in another region for the time being

[2018-12-20 21:38] CarlRabeler commented on #21104
DTUs are explained on this page: https://docs.microsoft.com/en-us/azure/sql-database/sql-database-service-tiers-dtu

Trying to find where on the pricing page is the link to understanding-dtus – or, at least, can you give me the full URL that is failing and I will get a redirection link put in place.
Thanks.

From: Tom Dykstra <notifications@github.com>
Sent: Thursday, December 20, 2018 12:46 PM
To

[2018-12-20 21:39] BryanTrach-MSFT commented on #16630
@Qq20180503 This was a platform issue that we believe is now resolved. Please let us know if you are still having trouble with it.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-20 21:39] #16630 closed

[2018-12-20 21:45] CarlRabeler commented on #18595
@Mike-Ubezzi-MSFT please assign to @anosov1960

[2018-12-20 21:47] CarlRabeler commented on #19069
@Mike-Ubezzi-MSFT doc updated - please close

[2018-12-20 21:48] CarlRabeler commented on #19428
@Mike-Ubezzi-MSFT updated article - please close

[2018-12-20 21:49] CarlRabeler commented on #19420
@Mike-Ubezzi-MSFT please assign to @MashaMSFT

[2018-12-20 21:50] CarlRabeler commented on #19873
@Mike-Ubezzi-MSFT doc updated - please close

[2018-12-20 21:51] rsouthm opened #21111 "Following the instructions for Encrypt a running VM results in error"
When following the directions to encrypt a running VM, I am unexpectedly prompted to provide an AadClientID.  Creating an Azure application isn't discussed in the directions.  I'm not sure if there's a bug in the documentation or the product.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7c63605-95f5-0953-3cf6-1e9c50

[2018-12-20 21:54] rsouthm commented on #21111
The AzureRM version might be helpful.  I ran _Get-Module AzureRM -ListAvailable | Select-Object -Property Name,Version,Path_  to determine the version..  The result is:  AzureRM 6.13.1  C:\Program Files\WindowsPowerShell\Modules\AzureRM\6.13.1\AzureRM.psd1

[2018-12-20 21:55] CarlRabeler commented on #19600
@cheresier are you testing this in Azure SQL Database Managed Instance or Azure SQL Database single database?

[2018-12-20 22:00] CarlRabeler commented on #7827
updated article to indicate that it does not apply to a managed instance

[2018-12-20 22:04] ppatino commented on #19426
For me, no. I didn't get a response (to be fair @MohitGargMSFT explicitly asked to open a new ticket to continue the conversation, I understand that). I have been unable to resolve this issue for my user. They simply can't sign in and have had to go through the painful experience of creating a new temporary personal Microsoft account so they can sign in to our service. Their work account is the on

[2018-12-20 22:04] CarlRabeler commented on #19705
updated to be a note - will revisit when private endpoints become available in public preview

[2018-12-20 22:06] CarlRabeler commented on #20696
fixing now

[2018-12-20 22:17] BryanTrach-MSFT commented on #16770
@alvipeo Thank you for your question. We try to keep this repro scoped directly for feedback regarding the documentation. Since you are going beyond the scope of the doc, we kindly request you to share your issue on the below link. Thank you for your understanding.

https://github.com/Azure-Samples/media-services-v3-dotnet-tutorials/issues

[2018-12-20 22:17] #16770 closed

[2018-12-20 22:33] Mike-Ubezzi-MSFT commented on #19873
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-12-20 22:33] #19873 closed

[2018-12-20 22:39] Mike-Ubezzi-MSFT commented on #16255
@MikiMakhlevich Can you please navigate to aka.ms/azuregithub and join all organizations necessary to participate in the MicrosoftDocs editing workflow. I am unable to assign this content item to you as requested by @CarlRabeler. Thank you!

[2018-12-20 22:42] Mike-Ubezzi-MSFT commented on #19069
@DaveVoyles  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-12-20 22:42] #19069 closed

[2018-12-20 22:43] Mike-Ubezzi-MSFT commented on #19428
@mpoeckl We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-12-20 22:43] #19428 closed

[2018-12-20 22:45] noelbundick opened #21113 "Update custom image limits from 300 to 600"
Per the following docs
* https://docs.microsoft.com/en-us/azure/azure-subscription-service-limits#virtual-machine-scale-sets-limits
* https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-placement-groups

Tried making a PR several times, but finally gave up because I got the GH "Looks like something went wrong!" message many times across different browsers

[2018-12-20 22:57] MicahMcKittrick-MSFT commented on #21113
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-20 23:08] cheresier commented on #19600
The former, I believe. I created it via Azure portal -> SQL Databases -> Add.

[2018-12-20 23:17] saulcruz opened #21114 "azureTableInsertType delete workaround is not documented"
The documentation for this https://docs.microsoft.com/en-us/azure/data-factory/connector-azure-table-storage#azure-table-as-a-sink-type
 clearly specifies in the "azureTableInsertType" property that "Neither option deletes rows in the output table that do not exist in the input. " Is there a workaround for this? how can we delete rows from our target azure table if they are not in the source (i.e.

[2018-12-20 23:22] Mike-Ubezzi-MSFT commented on #21104
@tdykstra Thank you very much for the detailed feedback and the time to file this issue. I will work with the content author to get this updated. @CarlRabeler If you let me know where this link needs to go, I can have a PR filed. Thanks, Mike

[2018-12-20 23:22] yashesvi commented on #13050
No capacity guarantee. Its still capacity priority.

[2018-12-20 23:40] aljo-microsoft commented on #14530
@Firoso

The snippet uses '...' to indicate "Other properties within scope" that have been omitted;

E.G.:  As you are aware braces '{' == scope

{ // == API Scope
  "apiVersion": "[variables('vmssApiVersion')]",
  "type": "Microsoft.Compute/virtualMachineScaleSets",
  ... // Other properties within API Scope
  "properties": { // == VMSS Properties Scope
    ... // '"virtualMachineProfile": {' is

[2018-12-20 23:41] BryanTrach-MSFT commented on #16793
@alvipeo I apologize for the delay in reaching back out. We have assigned your feedback to the doc author to have them review the request to include samples on how to encode 4k videos.

[2018-12-20 23:41] #14530 closed

[2018-12-20 23:43] iainfoulds commented on #21086
The tutorial indicates that by default, Kubernetes RBAC is enabled and is used. The second article is to extend that and integrate Azure Active Directory (AD) so that you can use a central identity for users and groups when you define and apply those Kubernetes role-based access controls.

You can use Kubernetes RBAC without Azure AD. There are a lot more steps involved in the Azure AD integration

[2018-12-20 23:50] KeiroKamioka0000 opened #21115 "Accidental Delete of Resource Group"
If user delete the resource group of AKS by accident, is it possible to recover the system? (not delete data but system)
or user have to recreate AKS Cluster?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d501ff67-9208-8bcb-e8df-f09e9b16a802
* Version Independent ID: e3fc3851-ddc4-d26c-251d-6ae53d714081
* Cont

[2018-12-20 23:52] MicahMcKittrick-MSFT commented on #21115
@KeiroKamioka0000 no there is not a way to un-do the delete. The user would need to recreate the cluster.

[2018-12-20 23:52] #21115 closed

[2018-12-20 23:55] brettcannon commented on #21044
Looks like it must be 8000 as e.g. the `PORT` environment variable isn't set.

[2018-12-20 23:55] KeiroKamioka0000 commented on #21115
Thanks for quick response!

[2018-12-20 23:57] MarileeTurscak-MSFT commented on #19249
It should be fine for a technical profile. Which circumstances did you find unclear?

[2018-12-21 00:00] CarlRabeler commented on #19600
CLR is not supported in single databases - only in Managed Instances - see https://docs.microsoft.com/en-us/azure/sql-database/sql-database-features and https://docs.microsoft.com/en-us/azure/sql-database/sql-database-managed-instance

[2018-12-21 00:06] CarlRabeler commented on #21104
@Mike-Ubezzi-MSFT the link on the pricing page should point to here: https://docs.microsoft.com/en-us/azure/sql-database/sql-database-service-tiers-dtu#dtu-benchmark

[2018-12-21 00:10] MarileeTurscak-MSFT commented on #21105
@bhall7718
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-21 00:13] MarileeTurscak-MSFT commented on #21093
When you use the NPS extension you use Azure MFA, so it defaults to the settings that you have configured in Azure and will match those settings. So the settings would need to be there in Azure MFA for you to be able to achieve what you are aiming for.

[2018-12-21 00:13] MarileeTurscak-MSFT commented on #21093
Hope this helps!

We will now proceed to close this thread. If you have further questions feel free to tag me in the comments and I will gladly continue the conversation.

[2018-12-21 00:13] #21093 closed

[2018-12-21 00:15] SidShetye opened #21116 "SSO requirements need to be documented"
It appears the URL at Listing -&gt; Free Trial -&gt; Trial URL needs to support an Azure AD SSO workflow. Right now the publish failure reports "Trial URL option: the user must be redirected directly to the AAD Single Sign-on (SSO) Login dialog, while connecting to your app. See video https://aka.ms/trialexperienceforwebapps. Alternatively, use the Contact Me option." but the video there simply sh

[2018-12-21 00:18] MarileeTurscak-MSFT commented on #21045
In "If Contoso is a non-permitted tenant for that instance," the instance here is referring to the Fabrikam instance.

CC: @barbkess

[2018-12-21 00:19] MarileeTurscak-MSFT commented on #21045
Hope this helps clarify! If you have further questions feel free to tag me in the comments and I will happily continue the discussion.

[2018-12-21 00:19] #21045 closed

[2018-12-21 00:19] Mike-Ubezzi-MSFT commented on #21104
@CarlRabeler @tdykstra Ahh, not sure I have access to that page. I believe marketing makes these updates?! I spoke too early...

[2018-12-21 00:23] SidShetye opened #21117 "Landing page URL needs documentation"
Right now it simply says "This URL will also be the endpoint that will be receiving the connection APIs to facilitate commerce with Microsoft.".

Are the "connection APIs" documented anywhere? Like purpose, use case, HTTP headers, request/response headers and payloads etc ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2018-12-21 00:29] SidShetye opened #21118 "Connection Webhook needs documentation"
Just like the other URLs, this one also needs details facilitating an implementation.

Right now it says "provide us a connection webhook" but this needs much deeper documentation. Like purpose, use case, HTTP headers, request/response headers and payloads etc.

These webhooks appear to be distinct from the reverse webhooks provided BY microsoft (documented here https://docs.microsoft.com/en-us/az

[2018-12-21 00:31] MicahMcKittrick-MSFT commented on #21118
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-12-21 00:43] MarileeTurscak-MSFT commented on #21040
It can take up to 30 days for the user to be permanently deleted. It basically goes into a delete queue where it is a soft delete pending 30 days, and then a final purge. How long has it been since you deleted the user/s?

[2018-12-21 00:43] MarileeTurscak-MSFT commented on #21040
CC: @eross-msft

[2018-12-21 00:45] KeiroKamioka0000 opened #21121 "Copy Activity between same resource types"
Such as "Azure SQL Data Warehouse"; As long as target resources support Sink and Source, is it possible to create cope activity between the same resources?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f8f06db-58d4-75b9-f150-9a1b4767cf75
* Version Independent ID: 54c26e53-460a-2f6e-b4f2-86f1e8581435
* Content: [Copy

[2018-12-21 00:47] DiegoRamirez-MSFT commented on #21012
Hello @fmms
I have pushed an update into the document to correct the mistake it should be available in a few hours, thanks for bringing this to our attention

best

[2018-12-21 00:49] CarlRabeler commented on #21104
Adding Eric Hudson.
Carl

From: Mike Ubezzi <notifications@github.com>
Sent: Thursday, December 20, 2018 4:20 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Carl Rabeler <Carl.Rabeler@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Broken link on the pricing page (#21104)

@CarlRabeler<https://nam06.safelinks.protection.outlook.com/

[2018-12-21 00:53] wenfenggh commented on #16793
@alvipeo Hi, please try to remove the duplicated layers with the same resolution. For example, just keep one layer of 3840x2160@14mbps and just keep one layer of 2560x1440@10mbps and one layer of 1920x1080@6mbps. If you need all those layers of HD outputs with duplicated resolutions, you need to submit your job to a S3 encoding unit. For the S1/S2 encoding unit, please just keep one layer with the

[2018-12-21 00:58] SidShetye opened #21122 ""Resolve subscription" needs clarification"
What are the typical use cases for resolve subscription? It says "resolve a token to a persistent Resource ID" but the response contains ID of "SaaS subscription". Does Resource ID mean SaaS subscription?

Also, to be clear, this resolves the `x-ms-marketplace-token` and not the JWT token in the same request?

Lastly, how does the resolve work if the same user has multiple SaaS subscriptions with

[2018-12-21 01:03] Mike-Ubezzi-MSFT commented on #21104
Email sent.

[2018-12-21 01:13] Don-Fuego opened #21124 "Fraud Alert Supported in Azure MFA"
Fraud Alert is also supported in Azure MFA. ( Only MFA Server is called out )

Fraud alert	Configure settings related to users ability to report fraudulent verification requests from MFA Server.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84b26750-880c-8f14-1628-436293de915e
* Version Independent ID: 518b727f-79e8-b

[2018-12-21 01:20] BryanTrach-MSFT commented on #16803
@tjaydk Thank you for the feedback. We have added some additional text to assist customers. These changes might not go public right away due to limited publishing during the holiday season.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-21 01:20] #16803 closed

[2018-12-21 01:22] vignatov opened #21125 "Support for Single Page Apps"
I am trying to use it in a single page app. In the doc above specified that native clients are supported including ones working in a browser. However, when I try to receive a token from the endpoint I have an issue with CORS. Is there a way to set up CORS on the token endpoint for my app?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2018-12-21 01:30] BryanTrach-MSFT commented on #16830
@zzulueta We agreed that the doc could likely use a review to clear up confusion around deprecated calls. We have assigned the issue to the doc author to have them investigate further.

[2018-12-21 01:32] bearrito commented on #21090
I think in our case we might run into an issue. Is there a channel for escalation to the capacity planning team?

Thanks for your response. I appreciate all the feedback and help.

[2018-12-21 01:32] BryanTrach-MSFT commented on #17305
@ajamaeen Thank you for your question. It is suggested to use the relative path within Azure Search environments.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-21 01:32] #17305 closed

[2018-12-21 01:33] pzmusician opened #21126 "Out-of-date partner solution"
[Enter feedback here]
Hello,

This article describes a "partner solution" that is no longer available. Cloud Cruiser was acquired by HPE last year, and their products are no longer being sold. Please see the announcement at https://www.hpe.com/us/en/services/cloud-cost-management.html. Therefore, I recommend that you retire the article. If you have further questions, you can contact me--I am the h

[2018-12-21 01:39] BryanTrach-MSFT commented on #17224
@mforrer85 Your support scenario goes deeper than the authentication troubleshooting provided by this doc. We kindly request you to share your question on the [AAD MSDN forum](https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=WindowsAzureAD), where we have engineers who can assist you with this issue. Thank you for your understanding.

We will now proceed to close this thread. If the

[2018-12-21 01:39] #17224 closed

[2018-12-21 01:42] MicahMcKittrick-MSFT commented on #21090
Can you elaborate? Issues reserving an instance?

[2018-12-21 01:47] BryanTrach-MSFT commented on #17315
@mpalladinru Thank you for the feedback. We do agree that this needs further review. We have assigned the feedback to the author to let them determine if an update to the doc is necessary.

[2018-12-21 02:11] tdykstra commented on #21104
@CarlRabeler I had seen the https://docs.microsoft.com/en-us/azure/sql-database/sql-database-service-tiers-dtu page but I didn't find it helpful.  It doesn't actually explain what a DTU is, and you have to look at the details of a long table to find a clue that defines them in terms of IOPS -- which is yet another term that I can't translate into practical terms (and which is neither defined nor e

[2018-12-21 02:13] ricardoserradas opened #21127 "List the technology limitations"
I was working with the Cassandra API through cqlsh and, while trying to create an index, I got the message "ServerError: 'CREATE INDEX' is not supported yet.

Another feature I just got that is missing is the TTL.

In terms of expectation management, it would be good to have the limitations well documented.

Best.
Ricardo Serradas

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2018-12-21 02:19] kristopherjturner opened #21128 "Get-AzsRecoveryKeys"
I do not see a Get-AzsRecoveryKeys cmdlet available on any of our ERCS VM's.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 69fc532d-578e-4e77-51da-f7333d09821d
* Version Independent ID: 9e1dd67e-7f2d-b21f-2e91-ebd1b907dd57
* Content: [Data at Rest Encryption in Azure Stack](https://docs.microsoft.com/en-us/azure/azure

[2018-12-21 02:19] Karishma-Tiwari-MSFT commented on #21113
@noelbundick I have created a PR with the update and changes will be live shortly.

[2018-12-21 02:40] sodafatty opened #21129 "How to organize the parent LUIS app and it's child app?"
As it's said above "The chatbot receives the utterance, then sends to the parent LUIS app for prediction. The top predicted intent from the parent app determines which child LUIS app is called next. The chatbot sends the utterance to the child app for a more specific prediction.".
My questions is: Which kind of intent and utterances do we need to create the parent LUIS app, comparing to it's child

[2018-12-21 02:48] JasonSingh opened #21130 "The example above is not clean and does not work."
I'm struggling with trying to get some Azure Functions unit tested. This code is not a good example. For example, it does not work. Also note there are no code coverage results.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a571957f-41ce-e7ea-5f0b-1aefb8b219fa
* Version Independent ID: 6c676eb8-581c-c5c5-0047-c7a7531f

[2018-12-21 03:01] TravisCragg-MSFT commented on #21128
@kristopherjturner Are you on ASDK or Azure Stack? Also, what version of Azure Stack are you running?

[2018-12-21 03:16] kazshi commented on #14670
@danimir Sorry for asking about this closed thread. Does this apply to the Managed Instance SQL database as well? I'm looking for how to view SQLSecurityAuditEvents but I couldn't find it.

[2018-12-21 03:41] KetanChawda-MSFT commented on #20933
@bcube Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-21 03:41] #20933 closed

[2018-12-21 03:46] anoobbacker opened #21133 "Pre-req should call out that we support only Linux"
Linux containers or modules are only supported that should be updated in the pre-req sections.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ded0d4cd-5b54-69ab-75fd-027b7c9ce424
* Version Independent ID: 1f5aa92e-050a-74b9-7c77-a527e32ab7c4
* Content: [C# IoT Edge module for Azure Data Box Edge](https://docs.microsoft

[2018-12-21 03:48] BryanTrach-MSFT commented on #17460
Thank you for your question. We suggest you verify the supported runtimes for your app by navigating to sitename.scm.azurewebsites.net and check under the supported runtimes. It might be that you are using an unsupported runtime.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and w

[2018-12-21 03:48] #17460 closed

[2018-12-21 03:50] BharathiAN opened #21134 "Which certificate template to be used, while creating certificate for Azure API with our Internal CA"
We would like to generate the certificate signed by our Internal CA, for this purpose. Which template we should use for generating a client certificate user or computer.

[2018-12-21 03:55] BryanTrach-MSFT commented on #17861
@marcelo2605 If you are still having issues, we kindly suggest you reach out to amshelp@microsoft.com. Thank you for your understanding.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-21 03:55] #17861 closed

[2018-12-21 04:12] BryanTrach-MSFT commented on #19297
@dcbrown16 Yes, that operation should allow you to register certificates or keys for the different providers.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-21 04:12] #19297 closed

[2018-12-21 04:13] BryanTrach-MSFT commented on #18445
@garfbradaz Since we have not heard back from you and @mrcarter8 provided an answer, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-21 04:13] #18445 closed

[2018-12-21 04:18] SubhashVasarapu-MSFT commented on #20997
@DMoonesinghe Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2018-12-21 04:30] ashutoshsharma15 commented on #17436
Thanks @lianetoohey  how can I track the status of bug to keep myself updated cc @Mike-Ubezzi-MSFT @balaksms

[2018-12-21 04:31] bearrito commented on #13050
That seems to conflict with https://github.com/MicrosoftDocs/azure-docs/issues/20938#issuecomment-448375027

Confident in colloquial usage typical means with probability 1 or 100% guarantee.

[2018-12-21 04:32] AshokPeddakotla-MSFT commented on #20696
@tim-yan We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-12-21 04:32] #20696 closed

[2018-12-21 04:36] SadiqhAhmed-MSFT commented on #20987
@Cuciu, We've made the corrections and the changes are reflecting in the article. Thanks once again!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-21 04:36] #20987 closed

[2018-12-21 04:41] ramadarla commented on #20986
Thank you for the response Jakaruna.
Understood. So that confirms using Load Balancer is mandatory to access VMs behind an Availability set.
________________________________
From: jakaruna-MSFT <notifications@github.com>
Sent: 19 December 2018 20:04
To: MicrosoftDocs/azure-docs
Cc: ramadarla; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Load balancer with availability set (#20986)

@ramadarla<h

[2018-12-21 04:41] CHEEKATLAPRADEEP-MSFT commented on #21127
@ricardoserradas Thank you for the detailed feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2018-12-21 04:44] PramodValavala-MSFT commented on #20971
@mcollier I agree. I have assigned this issue to the content author to review and update accordingly.

[2018-12-21 04:46] 19BlueBomber87 opened #21136 "18f-Thank-You"
&lt;@:D
This is amazing!  Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55e23176-40c4-39bd-4f6f-cc48e518cf96
* Version Independent ID: 370fcf36-dce0-6718-4566-34a71cd0314e
* Content: [Tutorial - Create and manage Windows VMs with Azure PowerShell](https://docs.microsoft.com/en-us/azure/virtual-machines/windo

[2018-12-21 04:52] AshokPeddakotla-MSFT commented on #20622
@shakthee04 This will be fixed. We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-12-21 04:52] #20622 closed

[2018-12-21 04:53] BryanTrach-MSFT commented on #19035
@StephenWThomas We were unable to reproduce the same error. Since this seems to be more of a support issue than a doc bug, we invite you to continue the discussion on [MSDN](https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=notificationhubs). We have engineers there who can continue assisting on this matter. Thank you for your understanding.

We will now proceed to close this thread.

[2018-12-21 04:53] #19035 closed

[2018-12-21 04:54] ManojReddy-MSFT commented on #20827
@markreno I am checking in to see if the above answer was helpful. Let me know if you have any other questions.

[2018-12-21 04:59] BryanTrach-MSFT commented on #18271
@zzulueta In this case, you'll need to authorize the first level domain, https://azurewebsites.net and not the second level or sub domain.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-21 04:59] #18271 closed

[2018-12-21 05:03] BryanTrach-MSFT commented on #18079
@TracyGH I apologize for the delay. We would like to work closer with you on this matter. Can you please reach out to us at azcommunity@microsoft.com with your subscription ID and the URL of this forum post?

Since we will work with you offline, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the d

[2018-12-21 05:03] #18079 closed

[2018-12-21 05:06] BryanTrach-MSFT commented on #18125
@victormarante and @ImperaKommunikation We apologize for the frustration. We do believe that this issue should now be resolved. Please let us know if this is not the case for you.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-21 05:06] #18125 closed

[2018-12-21 05:07] BryanTrach-MSFT commented on #19091
@zhusulai HCM will reject requests that are not for your service.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-21 05:07] #19091 closed

[2018-12-21 05:07] AjayKumar-MSFT commented on #21046
@nmallick1, We had a discussion on this internally. I have assigned the issue to the content author to review further and update the document as appropriate. Thank you!

[2018-12-21 05:10] BryanTrach-MSFT commented on #18868
@phil-lgr Thank you for the feedback. We are happy to hear you were able to locate a workaround. We have assigned the issue to the doc author to have them review your suggestion to see if an update to the doc will be necessary.

[2018-12-21 05:14] BryanTrach-MSFT commented on #18817
@UIrving The below snippet allowed me to access my DB. I hope this helps.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

 `Dim conn , rs, sql, ConnString
sql = "SELECT * FROM tblOutbox"
Set rs = CreateObject("ADODB.Recordset")
Set conn = CreateObject(

[2018-12-21 05:14] #18817 closed

[2018-12-21 05:16] BryanTrach-MSFT commented on #19139
@HaoHoo We are happy to hear the issue was resolved. Sometimes DNS can take awhile to update.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-21 05:16] #19139 closed

[2018-12-21 05:18] automationbk commented on #21080
Thanks. I would also like to understand if this can be done using VSTS PowerShell task

[2018-12-21 05:19] ManojReddy-MSFT commented on #21124
@Don-Fuego Thanks for the feedback. AFAIK Fraud Alert feature is not yet supported by Azure Cloud MFA. We can enabled it in cloud only environment but it doesn't work.

Is it working in your environment ?

[2018-12-21 05:35] ManojReddy-MSFT commented on #21107
@ewahner are you referring to a B2C application with reply URL set to "something.azurewebsites.net " ?
If I understand this correctly you want to change the reply URL from something.azurewebsites.net to something.domain.com.

You can have multiple reply URL's configured for an application in Azure AD, so there should not be any down time with respect to this. Can you elaborate on where you are exp

[2018-12-21 05:37] AshokPeddakotla-MSFT commented on #21121
@KeiroKamioka0000 Answer is Yes.

[2018-12-21 05:38] #21121 closed

[2018-12-21 05:43] jakaruna-MSFT commented on #20986
@ramadarla No.  You can login to the Availability set vm directly.
The ip and port to use to login differs based on your environment.
If your environment don't have VPN or Express route, Then
- if your vm has  public ip you can access it directly
- If your vm don't have a public ip, Then you can enable [port forwarding](https://docs.microsoft.com/en-us/azure/load-balancer/tutorial-load-balancer-po

[2018-12-21 05:47] PramodValavala-MSFT commented on #21015
@ackava Thanks for catching that! We have fixed the doc accordingly.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-21 05:47] #21015 closed

[2018-12-21 05:49] MikeSpark opened #21137 "OS selection when package has specific requirement"
I want to use psycopg2 in Azure Automation. However, the package need to specify OS etc. like https://pypi.org/project/psycopg2-binary/#files that one needs to download different version on MacOSX / Win / Linux. How do we handle it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba1e6e7b-0891-1ec9-8811-ee6d036104a0
* V

[2018-12-21 05:50] marioanton opened #21138 "Pre-Encrypted Disks steps issues"
Apparently, this doc states several steps to proceed with a pre-encryption of disks for both linux and windows but in the end i cannot manage to enable the encryption.

- Specify a secret URL when you attach an OS disk : This step does nothing in the end apart from updating the osdisk object. It is not triggering  anything to dump keys from the vault onto E: BEK Drive.

---
#### Document Details

[2018-12-21 05:59] ManojReddy-MSFT commented on #21125
@vignatov Thanks for reporting this. We are investigating this and will provide an update shortly.

[2018-12-21 06:13] damienestewart opened #21139 "Application Name"
The application name for the tutorial app is todolistapp, not ServiceMeshApp.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d144f2b-a0a4-d8cd-d6b0-7ca75d4890fc
* Version Independent ID: e022f907-336e-ddf5-b282-c21e3f575f27
* Content: [Tutorial- Deploy a Service Fabric Mesh application](https://docs.microsoft.com/en-u

[2018-12-21 06:40] sffamily commented on #20988
@myarotskaya, for group name the length limit is 64 characters, so regular UUID should be ok, but it has extra requirement, that it must start with alphabet than numeric character. Otherwise it will trigger "Incorrect group name". this is the Regex for your reference: ^[A-Za-z][A-Za-z0-9_]{0,63}$

[2018-12-21 06:41] msvijayn commented on #20980
@dennyx - Hi as stated in linked doc, some metric are not available for alerting yet in new platform and still only available in classic alerts.
![image](https://user-images.githubusercontent.com/33087919/50328397-f2100180-0518-11e9-97e4-92553b49e7f0.png)

Please rest assured that Microsoft Monitor team will ensure all the metrics & alerts available in classic - will be made available soon in the

[2018-12-21 06:47] msvijayn commented on #19556
Any capability or product support available in classic alert platform will soon be made available in new metric alert platform as well. Please rest assured that Microsoft Monitor team will ensure all the metrics & alerts available in classic - will be made available soon in the new metric alert platform. **Classic alert platform will not be retired before all its capabilities is replicated in the

[2018-12-21 06:47] msvijayn commented on #19556
#please-close

[2018-12-21 06:51] damienestewart opened #21140 "Debug in Visual Studio Section - Methods not correct"
Index.cshtml.cs doesn't have Get(), it has OnGet(). TodoController doesn't have OnGet() it has Get().

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 52d76a12-6a94-1fee-3270-dcf4a440fc20
* Version Independent ID: b9140809-ea3c-287d-9e8e-05f928721bb4
* Content: [Tutorial- Debug an Azure Service Fabric Mesh web applicatio

[2018-12-21 06:56] SaurabhSharma-MSFT commented on #20765
@noobling I have followed the tutorial and I do not face any issue with the result.description.

[2018-12-21 06:58] jakaruna-MSFT commented on #21111
@rsouthm I reproduced the issue.
I had an older version of AzureRM module(5.7.0). In that version, it asked for AadClientID.
I upgraded to the latest version(6.13.1). I see that you have already upgraded.
I am using PowerShell ISE.  I restarted it and ran `Import-Module AzureRM` again to load the latest version.
After that the PowerShell script didn't ask for the AadClientID.
There is another issu

[2018-12-21 07:10] dcbrown16 commented on #19556
Thanks @msvijayn, that's enough information for me so I'll close.

[2018-12-21 07:10] #19556 closed

[2018-12-21 07:19] SamirFarhat opened #21141 "func init MyFunctionProj does not list java"
Hi,
When typing the func init MyFunctionProj to create a new project, java is not provided.
Why?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2646ad4-34b7-fc5e-dcc9-d53a061df394
* Version Independent ID: bbff4fda-24e4-2b62-24b9-94cda5f53bed
* Content: [Work with Azure Functions Core Tools](https://docs.microsoft.com

[2018-12-21 07:19] SamirFarhat commented on #21141
![image](https://user-images.githubusercontent.com/14938496/50329832-207de480-04f9-11e9-9194-9e9a7fb8e378.png)

[2018-12-21 07:20] Aggrobatics commented on #21065
Thanks so much for your reply and investigation. Simply having this confirmation would help me out already, as we are still trying to assess the viability of using GraphAPI over other approaches.

I also came up with an idea for a workaround and would love to hear some thoughts: wouldn't it be possible, for the time being, to create a user-profile exclusively for the app to always register as? Thi

[2018-12-21 07:20] automationbk opened #21142 "PowerShell commands not working"
Seems like the instructions in this document are broken in terms of PowerShell command to be used. Few days back the command  provided in the document was "Set-AzureRmStorageAccountManagementPolicy " . and reference was a PowerShell module in preview. This has been recently changed to Az module with a  new command "Set-AzStorageAccountManagementPolicy". I installed the Az.Storage module in Azure P

[2018-12-21 07:40] kazshi opened #21143 "Permissions to scaling"
My understanding is Built-in roles (SQL DB Contributor) doesn't have the permissions to scaling and the role can pause/resume only, correct? I'd like to make sure that.  Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e9885b5-edf8-0b6f-880c-54d2ae586d62
* Version Independent ID: 0ad7190a-5bc2-4b04-4704-7838f0eb

[2018-12-21 08:19] JohnReeson opened #21144 "Missing documentDB/sendGrid configuration example"
Check similar content available in 2.x, [CosmosDB](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-cosmosdb-v2#host-json) and [SendGrid](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-sendgrid#hostjson-settings).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a22550

[2018-12-21 08:22] ManojReddy-MSFT commented on #21065
@Aggrobatics That's a valid approach. I have not tested this approach personally but I believe it will work. I will be glad to assist with any issues you might encounter with this approach.

[2018-12-21 08:33] jakaruna-MSFT commented on #21139
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-21 08:33] jakaruna-MSFT commented on #21140
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-21 08:39] mike-urnun-msft commented on #21141
HI  @SamirFarhat Thank you for your feedback! We will review and update as appropriate.

[2018-12-21 08:46] eggind opened #21145 "Classic and new alerts documentation confusing"
Hello

I have been trying to figure out what is the difference between Classic alerts and "New" alerts. This documentation made me even more confused, until I found this line in this page:

A unified authoring experience - All alert creation for metrics, logs and activity log across Azure Monitor, Log Analytics, and Application Insights is in one place.

It was then that I realised that "Metric Al

[2018-12-21 09:06] AjayKumar-MSFT commented on #20988
@myarotskaya, We will also try and get the information updated in the document. Thank you!

[2018-12-21 09:16] ManojReddy-MSFT commented on #21138
@marioanton Thanks for the feedback. We are investigating this and will provide an update shortly.

[2018-12-21 09:18] tripleacoder opened #21146 "Application permissions"
"Application permissions are used by apps that run without a signed-in user present".
Is it correct that only service principals can use these permissions? Then I suggest writing:
"Application permissions are only used by apps that run without a signed-in user present"

The same for "Delegated permissions are used by apps that have a signed-in user present."

The Azure UI allows selecting permissi

[2018-12-21 09:22] Anmolgan81 opened #21147 "How to implement FedRAMP Compliances for Azure SQL Managed Instance?"
How can we implement FedRAMP Compliances for Azure SQL Managed Instance and Azure Gov and Azure Public?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d71e8afc-d967-3301-321a-ce03e4815b68
* Version Independent ID: 4e361eb4-45eb-91a4-6bb2-7b8059782bb4
* Content: [Azure Security and Compliance Blueprint - PaaS Web Applic

[2018-12-21 09:56] AshokPeddakotla-MSFT commented on #21114
@saulcruz I don't find a workaround as part of copy activity.
@linda33wj Please provide your insights on this query.

[2018-12-21 10:01] jeffeld commented on #6815
+1 for auto rebinding on all web apps when cert is auto-renewed.

[2018-12-21 10:05] michaelspinks opened #21148 "Prerequisite workflow for Key Vault"
Disregard,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0dbd38fa-89f0-320a-b517-b440be6927f9
* Version Independent ID: 8b2eeee3-fb49-37e5-917d-f36bcd60ad29
* Content: [Prerequisites - Azure Disk Encryption for IaaS VMs](https://docs.microsoft.com/en-us/azure/security/azure-security-disk-encryption-prerequisites)
* Co

[2018-12-21 10:16] KetanChawda-MSFT commented on #21144
@JohnReeson Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-12-21 10:31] ManojReddy-MSFT commented on #21147
@Anmolgan81 Thanks for the feedback. We are investigating this and will provide an update shortly.

[2018-12-21 10:32] #12886 closed

[2018-12-21 10:32] #17006 closed

[2018-12-21 10:33] #19268 closed

[2018-12-21 10:45] danimir commented on #14670
@kazshi - Hi! As far as I know the Audit is not enabled for Managed Instance as of yet. The owners of the Audit feature are owning this page: https://docs.microsoft.com/en-us/azure/sql-database/sql-database-auditing, so I would advise to ask this question directly from the audit feature owners. Thanks! :)

[2018-12-21 10:54] cloudmelon opened #21149 "Create subscription Restful request successfully but without response"
We have tested Restful api to create a subscription ( as follows )
POST https://management.azure.com/providers/Microsoft.Billing/enrollmentAccounts/{ our account object id }/providers/Microsoft.Subscription/createSubscription?api-version=2018-03-01-preview

In the article mentioned as the following :
In the response, you get back a subscriptionOperation object for monitoring. When the subscription

[2018-12-21 11:00] ackava commented on #21023
@KetanChawda-MSFT I have already read it, my question is specific to Fan-in/Fan-out.

Consider following,

[code]

Where do I write catch? My question is how do I catch exception of one activity?

Example, following will not work !! or will it?

[code]

[code]

I can't even set timeout, because `Task.all([   Task.any([])  Task.any([]) ])` does not work.

[2018-12-21 11:02] SadiqhAhmed-MSFT commented on #21126
@pzmusician,Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-12-21 11:04] mgrigore commented on #21041
Same error in the EastUS region.

[2018-12-21 11:11] SadiqhAhmed-MSFT commented on #21122
@SidShetye, Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-12-21 11:40] formulahendry commented on #17477
Hi @wesmc7777 , any update?  Thanks a lot! I believe the example without VS would be very helpful to users, also users who use macOS and Linux.

[2018-12-21 11:42] jpetitte commented on #19268
I'll give this a try as soon as I get a chance. Probably today.

[2018-12-21 11:43] jpetitte commented on #21086
@iainfoulds That actually cleared it up for me. Thanks!

[2018-12-21 11:44] KetanChawda-MSFT commented on #21085
@aaronralls What role you have in your subscription ?

To check the role in your subscription browse to https://portal.azure.com --> All Services --> Subscriptions --> Select your Subscription --> Access Control (IAM) --> Role Assignments

Try giving Owner Role to yourself and check it in Logic App Properties box again after restarting your Visual Studio Instance.

![image](https://user-images.git

[2018-12-21 11:51] vladai78 commented on #20190
Thanks @aloneguid - I've fixed the YAML sample

[2018-12-21 12:10] jakaruna-MSFT commented on #21140
@damienestewart Thanks for reporting. I submitted a PR. Changes will reflect in hours.

[2018-12-21 12:35] KetanChawda-MSFT commented on #21141
@SamirFarhat In function core tools list for worker runtime option is not updated that is why it is not showing in the list but you can still select the java worker runtime as mentioned below:

`func init mytestproj --worker-runtime java`

Also there is no template available for java in function core tools so you need to generate the Functions project from a [Maven archetype](https://maven.apache.

[2018-12-21 12:35] KetanChawda-MSFT commented on #21023
@kashimiz any thought on this ?

[2018-12-21 12:46] mcurko opened #21152 "Note"
Get-AzureRmRoleAssignment -SignInName &lt;user email&gt;
=&gt; despite what the documentation says, for me, this doesn't work unless I use UserPrincipalName as a parameter (which equates to OtherMails for users which are not external)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e65997e4-5f98-0058-4117-7f01673ebceb
*

[2018-12-21 12:47] jtuliani opened #21153 "Missing content on instance sizes"
The pricing page https://azure.microsoft.com/en-us/pricing/details/application-gateway/ refers to this page for technical details on the small/medium/large instance sizes. However this page is lacking that information.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 68677bfe-232b-3f9f-5473-005098e7231d
* Version Indepen

[2018-12-21 13:00] mrbullwinkle commented on #21088
The update is now live.

[2018-12-21 13:00] mrbullwinkle commented on #21088
@MicrosoftDocs/azure-cxp-triage #please-close

[2018-12-21 13:30] SubhashVasarapu-MSFT commented on #20722
@tvandera Sure. Since there is no doc update required at the moment, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-21 13:30] #20722 closed

[2018-12-21 13:56] SamirFarhat commented on #21141
Hi,
Thanks ofr the reply.
When i use the command **func init mytestproj --worker-runtime java**, it works, but the command **func new** provides empty choices (Nothing).

Samir

[2018-12-21 14:17] j-martens commented on #20876
Thanks for your reports. It was fixed in release 1.0.6 of the SDK late yesterday. Please try again.

[2018-12-21 14:22] tripleacoder commented on #21146
I am still confused if it is permitted to mix these 2 types of permissions, or which app type can use what...

About roles: Is it also necessary to assign roles to the service principal (app) from Azure IAM?

[2018-12-21 14:40] markgossa opened #21155 "Connection limit"
Hi,

Is the connection limit now 600 rather than 300 in the article here?

https://docs.microsoft.com/en-us/azure/azure-functions/manage-connections

Thanks.

Mark

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb8d85a7-1ca3-71f4-85fb-7fb02850b60e
* Version Independent ID: 3d7daee4-fd6d-0e96-299a-90b3637e6150
* Content

[2018-12-21 14:53] rifaterdemsahin opened #21156 "How to setup the application gateway for ingress on Service fabric on premise"
could not locate the application gateway setup for on-premise for service fabric

I have also asked here as well
https://www.reddit.com/r/ServiceFabric/comments/a88sjv/application_gateway_alternatives_for_onpremise/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 267a7ccd-4164-5726-f333-aa0280cf8dcf
* Version Independen

[2018-12-21 15:13] mestew commented on #21148
Thanks @michaelspinks! #please-close

[2018-12-21 15:17] diberry commented on #21129
The dispatch tool takes as data sources, child apps, and creates the parent app. You do not need to select the parent app intents. You can alter the parent app intents after the parent app is created. I believe the steps are:

dispatch init (with params)
dispatch add (your child LUIS apps)
dispatch create (with params)

A new LUIS app is created with the version of "dispatch".

[2018-12-21 15:30] sergaz-msft commented on #20689
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-21 15:30] #20689 closed

[2018-12-21 16:10] SaurabhSharma-MSFT commented on #20765
@noobling We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-21 16:10] #20765 closed

[2018-12-21 16:14] dkkapur commented on #21156
@rifaterdemsahin - you'll have to modify your cluster configuration to include the application gateway config. See https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-fabric-settings#applicationgatewayhttp for more info on the required properties for this. https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-config-upgrade-windows-server will walk y

[2018-12-21 16:18] msangapu commented on #18868
Hi @phil-lgr  Thank you for your feedback.

This article is intended to be used with AZ CLI client locally or the cloud shell. I believe you're going the DevOps path. Please ask your question here: https://docs.microsoft.com/en-us/azure/devops/pipelines/languages/docker?view=vsts&tabs=yaml

Let us know if this helps and if we can close this issue! Happy holidays!

[2018-12-21 16:19] revodavid commented on #21027
John can answer definitively, but it seems to me the document is incorrect and should read:

* R 3.4.1

[2018-12-21 16:44] YutongTie-MSFT commented on #20876
@j-martens  Thanks.

@olavt We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-12-21 16:44] #20876 closed

[2018-12-21 16:46] YutongTie-MSFT commented on #20881
@tchmiel  I have assigned the issue to the content author to investigate further and update the document as appropriate.

@cforbe Hi, do you have any idea about this? Thanks!

[2018-12-21 16:49] YutongTie-MSFT commented on #20891
@ryotatomioka Thanks. I will close this issue for now, please keep eyes on the ticket you opened.

@olavt Hi, I haven't receive any response from you. We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-12-21 16:49] #20891 closed

[2018-12-21 16:50] YutongTie-MSFT commented on #20990
@hning86  Hi Hai, can you please take a look of this issue? Thanks.

[2018-12-21 16:51] CarlRabeler commented on #21104
Tom,
Thanks for your thoughts. The closest we can come to this is the benchmark. Unfortunately, the answer is that it depends. I will revisit this at some future time to try to improve it.
Carl

From: Tom Dykstra <notifications@github.com>
Sent: Thursday, December 20, 2018 6:12 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Carl Rabeler <Carl.Rabeler@microsoft.com>; Mention <m

[2018-12-21 16:59] Karishma-Tiwari-MSFT commented on #21088
@benc-uk Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-21 16:59] #21088 closed

[2018-12-21 17:00] kazshi commented on #14670
@danimir Thank you for the information.

[2018-12-21 17:01] alkohli commented on #21073
@igomat  Thanks for bringing this to our attention! I have talked to the product team out here and there are plans to resolve this in the future.

[2018-12-21 17:07] DMoonesinghe opened #21159 "Diagram not legible."
The diagram here on this doc is not legible at all.   Colors used doesn't allow the font to show through.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13478d1d-11eb-930a-02c4-559a1ef89fa6
* Version Independent ID: be36cdf9-1e5e-c47f-e699-652dc42ee2b9
* Content: [Azure Service Bus access control with Shared Access Sig

[2018-12-21 17:40] mganeshphani opened #21160 "Whats the cost involved and what resources are deployed into vnet?"
Please mention the cost of this... also what kind of hidden resource this will deploy into our tenants/subscriptions.. please comment

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5677742-ce89-fe42-6b8e-d9b27a42ec95
* Version Independent ID: 7225cb78-956a-ba35-dc04-e84356d96932
* Content: [Connect to Azure virtual ne

[2018-12-21 17:41] Anand-Moghe opened #21161 "How to use Log Analytics with Web App in Azure Gov cloud?"
Some customers want to use Log Analytics with Web App on Azure Government cloud.
But since App Insight and Event grid  is in Preview for Azure Gov cloud, what are the recommendation on how to use Log Analytics with Web App in Azure Gov cloud?

Using Azure Government cloud, one can not build a pipeline from Azure Blob Storage  to Log Analytics using the article outline [here](https://docs.microsoft

[2018-12-21 17:42] priyamohanram commented on #19789
Thanks for the feedback! I've added this information to the article and it should be updated shortly. Please feel free to open a new issue if you have any further questions. #please-close

[2018-12-21 17:44] MicahMcKittrick-MSFT commented on #21152
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-21 17:44] MicahMcKittrick-MSFT commented on #21137
Thanks for the question! We are investigating and will update you shortly.

[2018-12-21 17:50] priyamohanram commented on #20101
Thank you for the feedback! I have created a work item in our backlog to refresh this article and will update it as soon as possible. Please feel free to open a new issue if you have any followup questions or concerns. Thank you!

#please-close

[2018-12-21 17:55] deus42 opened #21162 "Networking issue with nginx"
I have multi-container app with 2 images: 1 python flask+gunicorn (operates on port 5000) and nginx as a reverse-proxy.
Managed to deploy both, but I am facing the issue with nginx:

`connect() failed (113: No route to host) while connecting to upstream`

My yaml file:
[code]

I know that network is ignored.

my nginx config:
[code]
It seems nginx can resolve the IP address: upstream: "http://192.

[2018-12-21 17:59] MicahMcKittrick-MSFT commented on #21161
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-21 18:00] MarileeTurscak-MSFT commented on #21116
@SidShetye
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-21 18:00] MarileeTurscak-MSFT commented on #21117
@SidShetye
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-21 18:01] MicahMcKittrick-MSFT commented on #20768
@shortPause any luck?

[2018-12-21 18:01] MarileeTurscak-MSFT commented on #21133
@anoobbacker
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-21 18:02] MarileeTurscak-MSFT commented on #21134
Hi @BharathiAN , please leave a link to the article to which you are referring so that we can properly respond.

[2018-12-21 18:02] #21086 closed

[2018-12-21 18:04] #21148 closed

[2018-12-21 18:04] MicahMcKittrick-MSFT commented on #21084
@igomat thanks for that.

At this point we should get you in touch with Support to have this investigated further.

Do you have the ablitity to open a technical support ticket? If not, you can email me at AzCommunity@microsoft.com and provide me with your SubscriptionID and link to this issue. I can enable your subscription for that request.

I will close this and be on the lookout for your email

[2018-12-21 18:04] #21084 closed

[2018-12-21 18:10] MarileeTurscak-MSFT commented on #21142
@automationbk
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-21 18:13] PramodValavala-MSFT commented on #20864
@ssaldi Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-21 18:13] #20864 closed

[2018-12-21 18:19] joeoftheforsythe opened #21164 "Failure on git push to Azure"
After I added the local git deployment URL and went to do my initial push, I received the following output.

2018-12-21T18:06:08.308818062Z   _____
2018-12-21T18:06:08.308850164Z   /  _  \ __________ _________   ____
2018-12-21T18:06:08.308867764Z  /  /_\  \___   /  |  \_  __ \_/ __ \
2018-12-21T18:06:08.308871665Z /    |    \/    /|  |  /|  | \/\  ___/
2018-12-21T18:06:08.308875065Z \____|__  /__

[2018-12-21 18:31] navyasric commented on #17865
@CelesteDG @ashleywb I have not been able to reproduce the logout redirect issue. If this issue persists, I recommend opening a separate issue on the sample or library repo since this is maybe an issue with the library different than the original post here.

[2018-12-21 18:32] #21012 closed

[2018-12-21 18:33] anosov1960 commented on #10476
@rogerbramon Sorry for a delayed response. Yes, weapp slots is the appropriate option here. Thanks for pointing this out.

[2018-12-21 18:42] alexsoble commented on #21161
Thank you for opening this issue @Anand-Moghe!

[2018-12-21 18:47] anosov1960 commented on #20734
@langstonj Thanks for pointing this out. You are correct. If you are using ADD the user need to exist on the target server. For details pls refer to this document: https://docs.microsoft.com/en-us/azure/sql-database/sql-database-manage-logins.

[2018-12-21 18:49] pmozbert opened #21165 "no information on how to deploy the function"
provide a link to instructions on how to upload / deploy the trigger function.  include information on how to do this from command line and from azure console.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6bb013c-83b0-84fd-f4eb-364db7b3c507
* Version Independent ID: 6a2a7e4a-769f-034a-c9a2-c3decc6b20b0
* Content: [E

[2018-12-21 18:49] Grace-MacJones-MSFT commented on #21003
@fgessen  did you already create a storage account for your function app? You can go to the App Settings to make sure you have a storage connection string. This [tutorial ](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-blob)shows you how to work with Azure Blob storage bindings in Azure Functions. After that is done,you should be able setup the configuration for

[2018-12-21 18:51] bbbbarryc opened #21166 "Minor Spelling Mistake"
"Devices are generally made up of a circuit board with _censors_ attached that connect to the internet. Many devices communicate via a Wi-Fi chip."

--> "censors" should be "sensors"

This is a SaaS solution that helps you connect, monitor, and manage your _ioT_ devices.

--> ioT shoudl be "IoT"

Thanks,
BC

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2018-12-21 18:54] joeoftheforsythe commented on #21164
Never mind, I fixed this by putting a new `.ruby-version` file in the repo with the supported Ruby version.

Thanks!

[2018-12-21 18:54] #21164 closed

[2018-12-21 18:54] Alberto-Vega-MSFT commented on #21159
@DMoonesinghe !

[2018-12-21 19:01] ttilton commented on #21040
@mchrislincoln describes the exact problem we're having. We're a higher education institution who is licensed to allow alumni to keep their email accounts for life. We need some way to break the sync and manage alumni accounts cloud only.

I had opened a support ticket before I saw this article and comment section. The guy I'm working with is telling me I need to export a PST for each mailbox, del

[2018-12-21 19:11] cmmdesai commented on #20335
#please-close

[2018-12-21 19:12] cmmdesai commented on #13949
#please-close

[2018-12-21 19:17] MarileeTurscak-MSFT commented on #21149
@cloudmelon
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-21 19:19] jeubank12 opened #21169 "No such "Application Insights tools""
All I can find is "Developer Analytics Tools"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7265053-e223-593d-eba7-7dc87c3f9246
* Version Independent ID: 1b8daf9a-78f6-2ccf-ec31-85c125edc44b
* Content: [Explore .NET trace logs in Application Insights](https://docs.microsoft.com/en-us/azure/application-insights/app-in

[2018-12-21 19:21] mchrislincoln commented on #21040
@ttilton , your description of creating the PST and restoring is what I have seen as well.  Whoever suggests this has obviously never done this on a 50gb mailbox.  It would take weeks and probably break 10 times in the process!!!

**I would reiterate that the process of deleting the account in local AD, syncing, and restoring in 365 to break the link worked great up until about 2 weeks ago**.

May

[2018-12-21 19:23] gjustice opened #21170 "Health Monitoring NSG discussion too vague"
In topic "NSG considerations" it states that in an NSG on an application gateway subnet, port ranges 65503-65534 must be opened for inbound traffic. BUT it does not say from what source IP addresses or service tags.  Surely we are NOT required to allow these ports from ANY (which is the implication from what is written).

It goes on to state "outbound Internet connectivity can't be blocked" but do

[2018-12-21 19:31] ashishsinghbhu opened #21171 "Trailing dot should not be present in WUFrequency"
The TIP section in the article mentions "Daily, 17:30:00." in the example for "WUFrequency". The trailing dot should not be present and will lead the POA to fail. Please rectify it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3a16900-c967-ccf9-2d87-1c994013bf0e
* Version Independent ID: 474287be-47ca-50b3-1240-8cca

[2018-12-21 19:44] jbrantly opened #21172 "Budgets disappeared from portal"
I checked today and budgets seems to have disappeared from the portal. Is this feature being removed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09acb09f-6171-fdd8-a5d4-0d036b467c5a
* Version Independent ID: 1bffb9cc-b99e-c000-eb9e-47981e27eedc
* Content: [Tutorial - Create and manage Azure budgets](https://docs.mi

[2018-12-21 19:50] cforbe commented on #20881
That is correct, and I will update the doc with the right function name.

[2018-12-21 19:50] MicahMcKittrick-MSFT commented on #21161
@Anand-Moghe valid question.

@femsulu  @SadiqhAhmed-MSFT any idea?

[2018-12-21 19:51] MicahMcKittrick-MSFT commented on #21152
@rolyon can you take a look at this one?

[2018-12-21 19:54] DiegoRamirez-MSFT commented on #21171
Hello @ashishsinghbhu

thanks for bringing this to our attention, will review and update accordingly

best

[2018-12-21 19:59] mrdfuse commented on #20568
Yes, you don't need to able to roll it in order for live logging to work, but do you still need to roll in k8s itself to prevent disk space outage or does AKS does that out of the box?

[2018-12-21 20:00] MicahMcKittrick-MSFT commented on #21137
@georgewallace would you be able to comment further on this?

[2018-12-21 20:01] MicahMcKittrick-MSFT commented on #21091
@rolyon this might be something good to note in the doc.

[2018-12-21 20:02] #18733 closed

[2018-12-21 20:04] Grace-MacJones-MSFT commented on #21164
@joeoftheforsythe we are glad you were able to resolve your issue!

[2018-12-21 20:06] MicahMcKittrick-MSFT commented on #18819
@rhgs @ChristianSauer I am not able to repro this issue but I am assuming it has something to do with permissions.

Try following the doc using the GUI and see if you get the same error or maybe a more informational error.

If you are unable to get past this I would suggest opening a technical support ticket to have it investigated further. If you cannot open a technical support ticket, you can em

[2018-12-21 20:06] #18819 closed

[2018-12-21 20:08] MicahMcKittrick-MSFT commented on #20980
@msvijayn thanks for confining this for us.

@dennyx So it seems you will need to use the Alerts (Classic) in order to get this setup. Please give that a go and let us know if you have issues.

I will close this for now but we can always reopen and continue if you continue to see issues when using the Alerts (Classic)

[2018-12-21 20:08] #20980 closed

[2018-12-21 20:09] kobulloc-MSFT commented on #20863
@francofs I went through the documentation for setting up Dev Spaces with Node.js (VS Code & CLI) and I wasn't able to reproduce the issue that you are seeing.  While it looks like Dev Spaces is working the way we expect it to, there are some scenarios that would prevent login from working as expected and that is likely what you are running into.

It's possible that this is an MFA or browser relat

[2018-12-21 20:09] #20863 closed

[2018-12-21 20:10] MicahMcKittrick-MSFT commented on #21090
@bearrito at this point I think it is better we continue offline.

Please email me at AzCommunity@microsoft.com and provide me with your SubscriptionID and link to this issue. Also, please provide some additional details around the problem you are seeing. We can take it from there :)

[2018-12-21 20:10] #21090 closed

[2018-12-21 20:14] mike-urnun-msft commented on #21155
Hi @markgossa Thank you for your feedback! We will review and get back to you with our findings.

[2018-12-21 20:15] TravisCragg-MSFT commented on #20981
@davilar Azure VPN Gateway can create a S2S VPN and P2S VPN. This is supported and integrated into the Azure Platform. You can also use a NVA to act as a VPN, or even have both at the same time.

The requirement here is a S2S VPN, not a VPN Gateway, so it should work.

[2018-12-21 20:15] mike-urnun-msft commented on #21165
Hi @pmozbert Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2018-12-21 20:16] mike-urnun-msft commented on #21145
Hi @eggind Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2018-12-21 20:26] IGx89 opened #21174 "Broken links"
The two links under the Note sidebar under the "Build the SSML request" section go to review.docs.microsoft.com, which gives me access denied.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc468cac-a2c7-c31f-80fd-e3f53e8f33ef
* Version Independent ID: 6ef898d6-2419-7e9d-88be-79757bb1e2de
* Content: [Quickstart: Conver

[2018-12-21 21:05] Karishma-Tiwari-MSFT commented on #20936
@binken Please provide the details asked above so that I can help you better.

[2018-12-21 21:08] dlepow commented on #21064
@DMoonesinghe - Thanks again for the feedback. Your suggestion is more technically precise than what is currently written. However, I think it's important also to mention the SSH client, since that's a major focus of the article. I will aim to combine both in a way that addresses the Windows customer audience.
#in-progress

[2018-12-21 21:10] YutongTie-MSFT commented on #21174
@IGx89
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@erhopf Hi, can you please take a look? Thanks a lot!

[2018-12-21 21:15] TravisCragg-MSFT commented on #21170
@gjustice Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-12-21 21:43] MarileeTurscak-MSFT commented on #21166
@bbbbarryc
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-21 21:51] redamaleki opened #21176 "Unique Targets for Unique Clients"
@MarileeTurscak-MSFT When I go to the Target tab under RADIUS, I can only select Windows Domain or a RADIUS server. If I change the target to RADIUS server, my RD Gateway starts working with MFA and my VPN stops working. If I switch it back to Windows Domain, my RD Gateway stops working and VPN starts working again. I need to specify that my VPN Radius Client has a target of Windows Domain and tha

[2018-12-21 21:51] #20839 closed

[2018-12-21 22:05] MarileeTurscak-MSFT commented on #21172
@jbrantly
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-21 22:11] tfitzmac commented on #21036
@theheatDK - thanks for the feedback. I have added actionGroups. We have some changes that are needed to the process for building this article. We'll look at ways to make it easier to search.

[2018-12-21 22:12] #21036 closed

[2018-12-21 22:20] mestew commented on #21111
Hey @rsouthm, sounds like you're an Microsoft employee. I just don't see your full name in your GitHub profile. Look me up in the GAL and toss me an IM.

[2018-12-21 22:32] jl101 opened #21178 "Configure an active geo-replication failover group for multiple Azure SQL databases in an elastic pool"
I miss a lot of things but I must have missed the step-by-step doc on creating a failover group for actively geo-replicated databases in an elastic pool and adding those databases to the just-created failover group.  Others might benefit from said documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75019ae3-5

[2018-12-21 22:58] MarileeTurscak-MSFT commented on #21134
Hi BharathiAN, please open an issue on a specific document and we will respond to it. Feel free to link it here and tag me in the comments. Happy holiday weekend!

[2018-12-21 22:58] #21134 closed

[2018-12-21 23:10] MarileeTurscak-MSFT commented on #21176
@redamaleki
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-21 23:12] AlexM2807 commented on #16829
@zzulueta  It's work, thank you !

[2018-12-21 23:13] MicahMcKittrick-MSFT commented on #20981
Thanks @TravisCragg-MSFT

@davilar I will close for now. If you have further questions just let us know.

[2018-12-21 23:13] #20981 closed

[2018-12-21 23:13] #20111 closed

[2018-12-21 23:27] helderpinto opened #21179 "TLS/SSL configuration needs an example with X509 authentication"
I had a hard job trying to figure out how to directly use the MQTT protocol with X509 certificates. The "TLS/SSL configuration" section gives some useful hints about the need for the Digicert Baltimore Root as the CA cert, but that isn't enough. We need a complete example of the usage of X509 certificates directly with MQTT, for example with paho.mqtt.m2mqtt code snippet or with a sample MQTT.fx c

[2018-12-21 23:32] #21113 closed

[2018-12-21 23:42] VanMSFT commented on #14038
#please-close

[2018-12-21 23:43] tfitzmac commented on #20908
@jackbond and @tanner-dev - it looks like the CNAME needs to be created in the same resource group as the DNS zone. Would it work in your scenario to add the CNAME to the resource group with the DNS zone?

[2018-12-21 23:43] prasannapad opened #21180 "tempSensor > SimulatedTemperatureSensor"
The instructions point to sudo docker rm -f tempSensor
I think it needs to be sudo docker rm -f SimulatedTemperatureSensor

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2289383-6ce2-a036-c710-7d1fad6e1700
* Version Independent ID: 3b902941-0876-17c3-3f0b-a4b7f7770531
* Content: [Quickstart create an Azure IoT Edge de

[2018-12-21 23:44] VanMSFT commented on #6760
#please-close

[2018-12-21 23:45] VanMSFT commented on #16370
#please-close

[2018-12-21 23:48] rsouthm commented on #21111
Hey Meghan, I'm not at work right now but rsouth @ microsoft.com.  I'll be back in the office on Wed.

Sent from Outlook
________________________________
From: Meghan Stewart <notifications@github.com>
Sent: Friday, December 21, 2018 2:20:21 PM
To: MicrosoftDocs/azure-docs
Cc: Rhonda South; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Following the instructions for Encrypt a running VM results

[2018-12-22 00:03] Karishma-Tiwari-MSFT commented on #21113
The [PR ](https://github.com/MicrosoftDocs/azure-docs-pr/pull/61571)has been merged. Closing this issue now. Thanks.

[2018-12-22 00:11] Mike-Ubezzi-MSFT commented on #21178
@jl101 Thank you very much for your interest in Azure Cloud services. I want to point out a document that is applicable to databases that reside within an Elastic Pool and how to set-up Geo-Replication: [Use PowerShell to configure active geo-replication for a pooled Azure SQL database](https://docs.microsoft.com/en-us/azure/sql-database/scripts/sql-database-setup-geodr-and-failover-pool-powershel

[2018-12-22 00:18] #21171 closed

[2018-12-22 01:15] DMoonesinghe commented on #20953
So you plan on fixing it?

On Tue, Dec 18, 2018 at 5:41 PM Marilee Turscak - MSFT <
notifications@github.com> wrote:

--
Deepal Moonesinghe
(408) 568 1669
deepal.moon@gmail.com

"We must accept finite disappointment, but we must never lose infinite
hope."
~ Martin Luther King, Jr. ~

[2018-12-22 01:16] mtmazurik commented on #12779
Here's a link to PowerShell script of the above, why this is posted in BASH, I do not know, it would seem that MS would at least show the PowerShell for those that aren't going to use BASH type stuff, anyway https://github.com/mtmazurik/devops-handy/blob/master/ACR-set-service-principal.ps1

[2018-12-22 01:19] Alberto-Vega-MSFT commented on #21180
@prasannapad Thanks for your feedback! Would you please elaborate a little more? Are you suggesting that the author should use a more descriptive name? or are you claiming that the tutorial it's not working due to an incorrect module name? Have you tried?

[2018-12-22 01:38] jpetitte commented on #19268
I'm still seeing the same issue. Maybe I don't understand something, but this is the error that I'm struggling to catch for a reattempt at the connection if it initially can't resolve the domain name due to a network problem.

Please note my line numbers are going to be slightly different than those found in 1.2.0 below lines 3717.

WebSocket connection to 'wss://eastus.stt.speech.microsoft.com/sp

[2018-12-22 02:45] anosov1960 commented on #19034
@DMoonesinghe geo-replication allows you to create a geo-secondary and failover for a single database. It only has a manual failover option and your server URL changes after failover. Think of it as a low level API.  Alternatively, you can use a group level replication (failover group). It allows you to do both manual or automatic failover. It is also transparent so that the application doesn't ha

[2018-12-22 02:52] mike-urnun-msft commented on #20611
Hi @santo2

Please visit http://aka.ms/apimdevops and open an issue there for this scenario. Be sure tag me in your comment so i can follow up on this and make sure you do get what you're looking for. We're working on publishing ARM templates for common scenarios via [this repo](http://aka.ms/apimdevops) so it'd be a great place to inquire about ARM templates for any APIM scenarios.

Since this ch

[2018-12-22 02:52] #20611 closed

[2018-12-22 02:55] chenxupro opened #21181 "Does NC6s_v3 VM support nested virtualization?"
I got some error while running ps cmd below.
Install-WindowsFeature -Name Hyper-V -IncludeManagementTools -Restart
Error: The processor does not have required virtualization capabilities
But I see "For quick refernce, all v3 virtual machines support nested virtualization." in azure doc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2018-12-22 03:30] damienestewart commented on #21140
Awesomeness!!

[2018-12-22 03:36] damienestewart commented on #21139
Sounds good! I forgot to mention, but the specific issue would be with the code 'az mesh app show --resource-group $rg --name ServiceMeshApp'. Since I believe the deployed mesh app is called 'todolistapp' (https://github.com/Azure-Samples/service-fabric-mesh/blob/master/src/todolistapp/todolistapp/App%20Resources/app.yaml), that command fails. Hope this helps!

[2018-12-22 03:54] zhusulai commented on #19091
@BryanTrach-MSFT Thanks for confirming!

[2018-12-22 04:51] damienestewart opened #21182 "Image Tag Requirement"
My apologies if I've missed this in the documentation, but would it be worthwhile to mention that an image tag is necessary when specifying the codePackage's container image or the deployment will fail? I tried deploying without one and got the error:

{
  "status": "Failed",
  "error": {
    "code": "ResourceDeploymentFailure",
    "message": "The resource operation completed with terminal provis

[2018-12-22 05:46] sshadmand opened #21183 "Error: This locale does not support offline transcription."
Error is not clear. en-US works but I get the error for da-DK. da-DK is listed as supported in docs. Am I missing something?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73fb7e76-fb80-c420-2efe-e3ca3a27b749
* Version Independent ID: 07a42557-deb3-e4b3-3f14-f26a27be49c2
* Content: [How to use Batch Transcription - Spe

[2018-12-22 06:04] jeevansd commented on #20888
#please-close

[2018-12-22 07:33] MarileeTurscak-MSFT commented on #21169
@jeubank12
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-22 07:37] shortPause commented on #20768
@MicahMcKittrick-MSFT, sorry I was bit occupied with some other work. Anyways I did try the manual nuget installation under package manager and it did work. So yeah all good now not sure why that command didn't work though!

Thanks a lot for quick turn around! Appreciate it.

[2018-12-22 08:58] #21140 closed

[2018-12-22 09:40] JacobWischnatAopen opened #21184 "Broken Link(s)"
Hello, the Custom Vision Training API and Custom Vision Prediction API links (under Reference) are broken.

https://go.microsoft.com/fwlink/?linkid=865446
https://go.microsoft.com/fwlink/?linkid=865445

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b059be5c-7d30-c412-bdd7-cbe76383ac24
* Version Independent ID: 9df53112

[2018-12-22 09:47] haitham-shaddad opened #21185 "Revoking Stored Access Policy does not revoke generated SAA tokens"
I have set the access policy for the container to Prinvate then created an access policy from Azure Portal and only gave it read access.
Then, I used the following code to generate a blob sas token to display the files in the browser. I verified that the files can be viewed without issues.
I tried setting the expiry date for the policy to be in the past, removing the read permissions and finally r

[2018-12-22 12:10] vimalamaldas opened #21186 "Deploy to Azure web app for containers"
Please add documentation for deploying models to Azure web app containers

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38e267fb-efa2-dab5-aa83-4a4addc39ee8
* Version Independent ID: e1d506d0-c6bf-47ed-a12c-7bb50416c865
* Content: [Deploy models as web services - Azure Machine Learning service](https://docs.microsoft.

[2018-12-22 13:14] alexandair opened #21188 "Prerequisites section is much more detailed for Azure CLI than PowerShell"
If we compare "Prerequisites" section for PowerShell and Azure CLI, it looks like we cannot run PowerShell commands in Cloud Shell, because that's not mentioned at all.

Also, PowerShell tab contains a command that doesn't work due to a bug (#8125) and recommends to use the preview version (0.7) when Az 1.0 is the first and recommended GA version.

![ps](https://user-images.githubusercontent.com/3

[2018-12-22 13:40] alexandair commented on #21188
Why PowerShell code blocks don't have the "Try It" button as the Azure CLI code blocks?

![tryit](https://user-images.githubusercontent.com/3135708/50375026-67ea9a80-05f7-11e9-992a-8e788beec935.jpg)

[2018-12-22 14:12] kvenkazure opened #21190 "The following statement need to the update for clarity"
A scan runs twice a day for each managed Windows computer. (This statement means scan runs every 12 hours).

Every 15 minutes, the Windows API is called to query for the last update time to determine whether the status has changed.
If the status changed, a compliance scan starts.  (In this statement it appears the scans will get kick started after the update is done).

The above 2 statements provi

[2018-12-22 14:57] kvenkazure opened #21191 "CVE"
Please add short description for CVE or add links to the CVE.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db47901d-1664-058d-9407-47e932dc9661
* Version Independent ID: e90ec9ee-e7da-4f19-248f-4c825aaa8b9f
* Content: [Update Management solution in Azure](https://docs.microsoft.com/en-us/azure/automation/automation-u

[2018-12-22 15:16] #20888 closed

[2018-12-22 16:17] JohnReeson commented on #20973
Possibly duplicate of this [one](https://github.com/MicrosoftDocs/azure-docs/issues/18697), solution is provided [there](https://github.com/MicrosoftDocs/azure-docs/issues/18697#issuecomment-443290955) as well.

[2018-12-22 18:05] #20768 closed

[2018-12-22 21:05] borys86 commented on #14038
@CarlRabeler
I am looking into a way to manage long term and short term backups using c#, preferable in .net core. I do not want to embed PowerShell in c# code, this seems to be to be a wrong approach.

[2018-12-22 21:32] jackbond commented on #20908
Ok, this is a tad disappointing. I've now been told by two Azure employees that this is not possible, when in fact, it's 100% possible. I didn't create this post as some sort of test, I just stumbled upon this page afterwards...

https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-cross-resource-group-deployment

Aside from that, it seems like the schema/support for CNAM

[2018-12-22 21:32] nithinab1 opened #21192 "Inconsistencies in documentation"
Hi

Some columns in the 'define features' are missing. For eg: Horsepower.

This is because in 'Step 2: Prepare the data', following the instruction of remove entire column ,in sub step 4, removes this column.

This doco/data needs to be updated accordingly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fdd7dec4-a353-

[2018-12-22 21:40] SaurabhSharma-MSFT commented on #21066
@lonevvolf You need to enable Password Hash Synchronization to Azure ADDS before adding the Linux VM to a managed domain.  Please refer to [Join a Red Hat Enterprise Linux 7 virtual machine to a managed domain](https://docs.microsoft.com/en-us/azure/active-directory-domain-services/active-directory-ds-join-rhel-linux-vm).

[2018-12-22 22:06] SaurabhSharma-MSFT commented on #21089
@xencon Please post this as a feedback https://feedback.azure.com/forums/169401-azure-active-directory This will allow the community to upvote and for the product team to include into their plans. We also have the "Give Product Feedback" button in our documents now to take you directly to the appropriate feedback page.

[2018-12-22 22:43] lonevvolf commented on #21066
@SaurabhSharma-MSFT So I've read and been told.  But the instructions simply say to change the password for the cloud user in the portal, nothing more.  This doesn't start the password synchronization.  Have I missed a step?

[2018-12-22 23:14] SalimGangji opened #21198 "Azure storage native support for AD authentication"
Hi there,

In the section "Grant your VM's system-assigned managed identity access to use storage account access keys" of this article, it states that "Azure Storage does not natively support Azure AD authentication."

However there is now public preview support for direct AD authentication to azure storage resources, as per your article here: https://docs.microsoft.com/en-us/azure/active-director

[2018-12-22 23:40] siudeks opened #21199 "Example of <framework.version>"
Could you provide real example what you mean by &lt;framework.version&gt;?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a4532b8-8c27-ca15-edc6-85fc38cab341
* Version Independent ID: e06de78b-9271-25a4-439d-2a024f31693e
* Content: [Azure Functions C# developer reference](https://docs.microsoft.com/en-us/azure/azure-f

[2018-12-23 00:48] girishgouda commented on #20808
It was coming for az container create. Instead of closing the request can you look into this.

[2018-12-23 01:13] GKarmakar opened #21201 "Python 3.x compatibility"
There are two changes are required in the code for python 3.x compatibility.
1. httplib needs to be changed to http.client
2. urllib.urlencode() function changed to urllib.pase.urlencode()

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 504e0695-7a5f-039b-1f7d-1a5a1552e0b0
* Version Independent ID: 83fcb084-18a4-ed82-15