[2018-04-09 01:25] MicahMcKittrick-MSFT commented on #6896
@m1m6 thank you for your response. I am closing out due to spam.

[2018-04-09 01:25] #6896 closed

[2018-04-09 01:26] MicahMcKittrick-MSFT commented on #6899
@MNF Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-04-09 01:34] MicahMcKittrick-MSFT commented on #6893
@Robamalama Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-09 01:35] MicahMcKittrick-MSFT commented on #6900
@kareemalsaman thanks for the reply. I am closing this as it is not actually a question. If you have a question please open new issue.

[2018-04-09 01:35] #6900 closed

[2018-04-09 01:36] MicahMcKittrick-MSFT commented on #6894
@ankushbindlish2 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-09 01:43] dacarubio opened #6902 "Need Confirmation for Microsoft Peering"
From my understanding Microsoft Peering is now available on ExpressRoute Standard as well which can we consume  Office 365 and Dynamics 365 services?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3cdb32c0-628d-0be2-f514-477d46dfa1b8
* Version Independent ID: fa096059-2d16-30a2-1e8b-8b9671afcaa4
* Content: [Azure Expre

[2018-04-09 01:52] genlin commented on #5874
@HannahHsiao The doc has been updated.  It will be live on public articles soon.  I will now proceed to close this thread. If there are further questions, please reopen it and we will gladly continue the discussion.

[2018-04-09 01:52] genlin commented on #5874
#please-close

[2018-04-09 02:04] amjed2008 opened #6903 "Algorithms applied on OCR"
What are the algorithms applied on 'Optical Character Recognition (OCR)' to process images and return information, please?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f12a77c5-fc42-c179-5af7-6c7b2197de28
* Version Independent ID: 2db8d484-530e-d507-2842-c196a5e55c9a
* Content: [Computer Vision API for Microsoft Cogn

[2018-04-09 03:10] georgewallace commented on #6703
#please-close

[2018-04-09 03:28] ssugar commented on #6076
Hi,

The update doesn’t actually add the solution to manually uninstall the VMSnapshot extension from the Linux VM manually.

Looking back at the original help document here: https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/backup/backup-azure-troubleshoot-vm-backup-fails-snapshot-timeout.md

I don’t see the information you added, and the information you added doesn’t include the s

[2018-04-09 04:52] christiankuhtz commented on #6436
No plans to add host: header to the probe at this time, but you are welcome to request it at https://aka.ms/lbuservoice

I would recommend investigating this scenario with support to understand what your options are and how to best resolve.

[2018-04-09 05:56] sguryev opened #6904 "SuccessfulDependencyFilter has no parameterless constructor to use it in the ASP.NET Core."
This line is wrong:
`var initializer = new SuccessfulDependencyFilter();`
Because there is a single constructor:
`public SuccessfulDependencyFilter(ITelemetryProcessor next)`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 26b3e91f-c240-fffa-6ae9-d676deb7ad4c
* Version Independent ID: bbfa099e-3ed6-09ea-fbde-f2a3ed13139

[2018-04-09 05:59] sguryev commented on #6904
Also it implements the `ITelemetryProcessor` interface
`public class SuccessfulDependencyFilter : ITelemetryProcessor`
So it can be added to the initializers:
`configuration.TelemetryInitializers.Add(initializer);`

[2018-04-09 06:23] ydogandjiev opened #6905 "Mongoose connection error"
In the "Read and create heroes in the app" section I ran into the issue described here:
https://stackoverflow.com/questions/48029723/cannot-connect-to-mongodb-in-azure?rq=1

I was able to connect by updating the mongo.js file as follows:
[code]

I was using:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 79e0a0b

[2018-04-09 06:33] Rajani-Janaki-Ram commented on #5078
checking in changes to clarify the same.

[2018-04-09 07:31] msvijayn commented on #6698
@willmorgan thanks, for the clarification. Yes, you are right the webhook provided aren't meeting JSON RFC 4627 validation. I am updating the doc with correction.

#6698
#in-progress

[2018-04-09 07:32] msvijayn commented on #6698
#in-progress

[2018-04-09 08:24] dm3942 opened #6908 "Do Win10 and Win7 (with work place join) devices need to be synchronized to Azure AD for SSO to work?"
Will SSO+PWsync work on domain joined Windows 10 devices that aren't synchronized to Azure AD?
Will SSO+PWsync work on domain joined Windows 7 devices with work place join that aren't synchronized to Azure AD?

I think this article is a clue, stating that the computers OU should be selected, however the requirement for SSO isn't mentioned:
https://docs.microsoft.com/en-au/azure/active-directory/co

[2018-04-09 08:26] algattik opened #6909 "Patch management for edge nodes"
It would be very useful to state explicitly that edge nodes are also patch managed

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae57e5d6-7bd2-00a3-ca30-9d7b9d702940
* Version Independent ID: aa7f29db-ca6d-d1c9-75b2-b88d1d110f48
* Content: [Use empty edge nodes on Hadoop clusters in HDInsight - Azure](https://docs.mic

[2018-04-09 08:27] algattik opened #6910 "Multiple edge nodes"
The doc is not clear on whether only a single edge node can be created

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae57e5d6-7bd2-00a3-ca30-9d7b9d702940
* Version Independent ID: aa7f29db-ca6d-d1c9-75b2-b88d1d110f48
* Content: [Use empty edge nodes on Hadoop clusters in HDInsight - Azure](https://docs.microsoft.com/e

[2018-04-09 08:45] cephalin commented on #6815
@apurvajo @naziml Please see customer feedback on cert feature.

@lordstyx Take a look at https://docs.microsoft.com/en-us/powershell/module/azurerm.websites/new-azurermwebappsslbinding for scripting the binding with PowerShell.

[2018-04-09 08:54] gunnboy opened #6911 "Azure Pas-As-You-Go Subscription Migration to CSP."
spelling mistake on link - should be pay

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16fe42f0-e9d3-bcb2-fba9-e16015a76543
* Version Independent ID: cfb7d8f0-e710-3ea1-e2c3-c3e0c1a18b75
* Content: [Change Azure subscription offer](https://docs.microsoft.com/en-us/azure/billing/billing-how-to-switch-azure-offer)
* Con

[2018-04-09 09:11] carvakas commented on #5953
Hi @jeevansd any update on the ETA for the Multi-Account AWS Soluiton?

[2018-04-09 09:56] cephalin commented on #5604
@manyrootsofallevil are you confirming that the issue was resolved?

[2018-04-09 10:03] sarathsasidharan commented on #6646
Could you switch to Linux Containers and see if the issue persists ? Picked up from another forum that this solved the issue. Still not sure about the Root Cause ( Meanwhile could help you to progress , while the team debugs it)

[2018-04-09 10:08] ravianand1988 commented on #6820
@BryanTrach-MSFT, I have already read this one. but now i need to implement push notification as per topic/tag subscribe/unsubscribe feature. which i could not found yet and the article you referred above has nothing for push notification with topics.

[2018-04-09 10:09] manaccar opened #6912 "Register Azure Stack in disconnected environments"
it is unclear which are the benefits of Registering Azure Stack in a disconnected environment. Since the benefits are related to Marketplace syndication and pay as you use billing methodology. Instead looking into the section Renew or change registration becomes clear it is an actual requirement for capacity model (connected or disconnected)

---
#### Document Details

⚠ *Do not edit this section.

[2018-04-09 10:17] paulmackinnon-adv365 opened #6913 "Incorrect screenshot to text"
Step 4 of 'Add Log Analytics Send Data action' advises "After you create the connection, edit the settings in the table below", but the settings in the screenshot do not match the text written to describe it below.  "JSON Request body	Output from the Compose action	Retrieves the records from the body of the Compose action", not according to the screenshot, which shows getting the info straight fro

[2018-04-09 10:44] chrift opened #6915 "Error message not working"
Hi guys,

I'm not sure if the documentation around the `userMessage` is correct.
My policy displays an error of 'A user with the specified ID already exists. Please choose a different one' no matter what status code I return (as long as it's not 200) and no matter what I return in `userMessage`.

Here is the JSON I am responding with:

[code]

---
#### Document details

⚠ *Do not edit this section

[2018-04-09 11:04] chrift commented on #6915
On second look, the error was being shown because the actual http status code I was returning was still 200, but B2C was throwing an error because a response body was present.

[2018-04-09 11:04] #6915 closed

[2018-04-09 11:36] dominicbetts commented on #6819
@GSchroder - thanks for letting us know. We'll have an updated version of the diagram published shortly.

[2018-04-09 11:36] dominicbetts commented on #6819
#please-close

[2018-04-09 11:38] aisog commented on #5873
Hi
Other problems that occur after removing the account azurestack/azurestackadmin

[2018-04-09 11:49] kiranjshetty opened #6917 "Multiple Subscription Update management"
I have Multiple subscription (Prod,Dev,Test),now am in confusion of how to use Azure Update management across the subscription.
Is that possible to have single Azure Automation account enabled with Update management for all my subscription or do i need to have Azure Automation account enabled with Update management in All my subscription.

---
#### Document Details

⚠ *Do not edit this section. It

[2018-04-09 12:15] jakubjenis commented on #6399
@mrbullwinkle thanks a lot for a working sample! I will need to test this out, as in the project I am troubleshooting I am using Entity framework and targeting .net 471, so some of those things could be changing the behaviour of the tracked dependency I suppose. The output in application  insights seems exactly like in the screenshots you provide, but command text only contains the DB name. Will l

[2018-04-09 12:20] SimonLuckenuik opened #6918 "What behavior can we expect if the payload of the request we send is over the documented limits (1MB for whole message and individual 64KB per event)?"
According to this document: https://github.com/Azure/azure-rest-api-specs/blob/master/specification/eventgrid/data-plane/Microsoft.EventGrid/stable/2018-01-01/EventGrid.json

I can expect the following error messages: * 400 Bad Request. * 500 Internal Server Error. * 429 Too Many Events * 404 Not Found.

Error 413 (Payload too large) is not in the list. What behavior can we expect if the payload o

[2018-04-09 12:21] Eric-Hacker opened #6919 "Error code 50140 missing"
I have several instances of error code 50140 in my logs and no explanation of what the code means.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f83a9e6-2363-2c73-5ed2-f40bd48899b8
* Version Independent ID: f47dc642-f083-b173-9b6e-ce61e31685a9
* Content: [Sign-in activity report error codes in the Azure Active Direct

[2018-04-09 12:24] candidson commented on #6833
I found the answer myself... the event hub connection string can be found on the iot hub ==> endpoint ==> Built-in endpoints ==> Events

[2018-04-09 12:24] #6833 closed

[2018-04-09 12:26] dronkoff opened #6921 "Looks like one more address is missing in the article: az320820.vo.msecnd.net"
[2018-04-09T15:18:11.291+03:00][pid: 12812]: System.Net.WebException: The remote name could not be resolved: 'az320820.vo.msecnd.net'
   at System.Net.HttpWebRequest.GetResponse()
   at NuGet.RequestHelper.GetResponse()
   at NuGet.HttpClient.DownloadData(Stream targetStream)
   at NuGet.PackageDownloader.DownloadPackage(IHttpClient downloadClient, IPackageName package, Stream targetStream)
   at

[2018-04-09 12:28] pedrr opened #6922 "configure the App in Azure Portal"
How should the App in the Azure Portal be configured. for SSO with WIA the SPN in mandatory...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc350ba1-81d0-e336-c0e0-e644c18af5f7
* Version Independent ID: a7268bd1-ac11-a044-eaea-59a842136f99
* Content: [Azure Active Directory Domain Services: Deploy Azure Active Direct

[2018-04-09 13:01] mikehall000 commented on #6848
++ mike.green@dynatrace.com

Regards,
Michael Hall

Support Engineer
Cloud Identity POD Support
Customer Services and Support

Office: +1 469 775 4497 x4497
v-halmic@microsoft.com<mailto:v-halmic@microsoft.com>
Working hours: Mon-Fri 8am-5pm Central Time  (UTC-6)

Alternate contacts if I am not available:
Backup | (v-zirice@microsoft.com) +469-775-2879 x2879
Technical Advisor | Fszita@microsoft.co

[2018-04-09 13:06] anderson-joyle opened #6925 "Ordering"
"It [sequence number] also represents the true order of arrival". This is not true! According to my tests, there is a config (which is not visible from azure portal but only from service bus explorer) named "Enforce Messaging Ordering" which needs to be set as true.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 034f7b

[2018-04-09 13:15] Anupamvi commented on #6741
DDoS Standard mitigates against volumetric & protocol attacks (L3/4). We recommend deploying a AppGW/WAF or WAF from Azure marketplace for L7 attacks, and enabling DDOS protection on WAF VNET as WAFs are subjective to L3/4 attacks as well.

[2018-04-09 13:29] MrGlenThomas opened #6926 "Any method for testing timer trigger function"
Is there any way to synchronously 'invoke' a timer triggered function to execute within the runtime environment? I would like to run an automated integration test for my function with hourly schedule, but waiting up to an hour in my test is not practical.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a571957f-41ce-e7e

[2018-04-09 13:40] molinamelendezj commented on #6436
@vhorne thanks will do. you can close this.

[2018-04-09 13:46] kiranjshetty commented on #6728
I need single console to handle update of all my VM's in different subscription is that possible with current solution.
In current Azure update management i need to create Automation account on each subscription for managing my server patch ,will i get single console like OMS to select server from different subscription to create collection for patch?

[2018-04-09 13:50] tfitzmac commented on #6660
@cgillum - sorry about that. I thought the referenced commit would show the whole PR which included the other changes. If you look at the live article, you'll see the new section on the response.

[2018-04-09 13:51] kiranjshetty commented on #6917
I need single console to handle update of all my VM's in different subscription is that possible with current solution.
In current Azure update management i need to create Automation account on each subscription for managing my server patch ,will i get single console like OMS to select server from different subscription to create collection for patch?

[2018-04-09 13:51] dnaveenkumar1988 opened #6927 "test"
test

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0420c638-1d2b-0348-1106-ee51f3000c38
* Version Independent ID: c7be09e7-9c66-5c5f-6c5b-28164f14bc7d
* Content: [Azure CLI Samples](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/cli-samples)
* Content Source: [articles/virtual-machines/linux/cli-samples

[2018-04-09 14:12] amanarneja commented on #6833
@candidson Sorry about the lack of a response here and great that you found this out yourself !

[2018-04-09 14:12] MarcJenningsUK opened #6928 "No information on restricting access to underlying API"
I am using this page to learn to protect a Function App, and cannot work out how to stop direct access to the underlying functions.  Maybe that could be addressed / linked?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 823eb96f-e5f1-0832-b175-0b31009be92f
* Version Independent ID: 330085ae-dcf6-e930-86a8-0e4a60ab1314

[2018-04-09 14:16] amanarneja commented on #6840
@rwoods42 Thanks for reaching out! We are investigating and will get back to you.

[2018-04-09 14:17] AnithaAdusumilli commented on #5731
#please-close Updated the article.

[2018-04-09 14:17] amanarneja commented on #6828
@pvmraghunandan Thanks for the feedback! We are investigating and will get back to you.

[2018-04-09 14:27] rothja commented on #6863
@Ayanmullick Thanks for the question, and you're right that how to monitor is an important question. Give me a chance to look into this and I'll see if I can provide a best practice. Thank you.

[2018-04-09 14:31] alvintai78 commented on #6835
Hi, not sure is me the user problem, i encountered a very interesting problem. For the command for Azure CLI, i can run the same command in my mac command line tools beautifully but it fails in my windows powershell (i have installed the CLI tool) .... Anyway experience it? Also it will be good to give examples how to achieve this? For someone who is new to Azure, I think he/she may find it lost a

[2018-04-09 14:38] Frankwayne commented on #6788
@Mike-Ubezzi-MSFT     Sure I ran the commands and it still wont start up but I did try the debugging command for the  gatewayservice   and this is what I got

PS C:\Program Files\Azure Cosmos DB Emulator\Packages\GatewayService\GatewayService.Code> .\DocumentDB.GatewayService.ex
e /?

Unhandled Exception: System.IO.FileNotFoundException: Could not load file or assembly 'System.Fabric, Version=5.0.

[2018-04-09 14:56] timlaverty commented on #6819
WebUI should point to Telemetry instead of Telemetry-Agent.  Otherwise LGTM.

[2018-04-09 14:58] timlaverty commented on #6819
Sorry, two more things:
1. Telemetry points to Storage-Adapter.
2. Telemetry-Agent points directly to Cosmos and to Storage-Adapter.

[2018-04-09 15:11] GSchroder commented on #6819
Where are the changes? On a pull request?

[2018-04-09 15:12] chlsmith commented on #6815
Glad I'm seeing this thread now.   I'm on the verge of renewing a wildcard cert and thought this would make it a lot more automatic.   If I have to still go in and perform a manual step, I might as well just upload a new one each time instead.....

Maybe an Automation job could trigger that powershell command when the cert changes?   I suppose I could create a job that would check the thumbprint e

[2018-04-09 15:15] Discostu36 opened #6929 "Start/Stop VMs: Pricing tiers not available anymore"
The pricing tiers "free" and "per knot" are not available anymore, therefore it is not possible to run this in newly created subscriptions. The document should be updated to either describe how to solve this problem or to explain that only subscriptions that used these tiers before April 2nd can use this solution.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2018-04-09 15:24] Mike-Ubezzi-MSFT commented on #6835
I think the issue you are encountering pertains to not running the command in the Azure CLI in your Windows environment. With MacOS, you explicitly needed to install the Azure CLI. With Windows PowerShell, most (if not all) Azure commands will fail if the modules haven't been installed. Please review the following document: [Install and configure Azure PowerShell](https://docs.microsoft.com/en-us/

[2018-04-09 15:26] mikehall000 opened #6931 "UserNameMixed"
With regards to 3rd party IDPs can you provide documentation on when to use the WindowsTransport endpoint vs the UserNameMixed endpoint?  Also can you provide documentation with regards to Device Registration, Work Place Join and Hybrid Azure AD join is the Active or Passive endpoint used?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2018-04-09 15:27] mwotruba opened #6932 "Is a fully qualified attribute name needed in an iot-hub device query?"
I have a question about attribute notation in iot-hub-device-query-language.
[azure-docs/articles/iot-hub/iot-hub-devguide-query-language.md](url)

Is there a way to write an attributename in a query like
                      WHERE myProp = 'abc'
instead of
                      WHERE properties.reported.myProp = 'abc'

Thank you.

[2018-04-09 15:30] tdykstra commented on #6890
@bdcoder2 Thanks for reporting that.  I've created a pull request to fix it, and the fix should be live after 3PM today.

[2018-04-09 15:31] Mike-Ubezzi-MSFT commented on #6760
@azkamil Thanks for providing additional feedback. I am going to forward on to the content owner for review as a means for product enhancement or documentation feedback (limitations).

[2018-04-09 15:33] JPadster opened #6933 "Couldn't get this to work..."
I followed this verbatim, but I always get "Unauthorized" on the application insights connection step. I've tried adding the logic app to the same resource group as the App Insights resource, no luck. I then tried using the App Insights instrumentation key, rather than creating an API key, this also failed with unauthorized.
Could this be because the App Insights connector is still in Preview?

--

[2018-04-09 15:35] jeevansd commented on #6848
@chetansriv and @v-nagta Can you please update the doc to show the Identifier URL as mandatory and provide the correct URL as the guidance?

[2018-04-09 15:39] Mike-Ubezzi-MSFT commented on #6824
@smoms Thanks for reviewing the content. I am going to forward on to the content owner as it appears we have a gap in the documentation.

[2018-04-09 15:39] dominicbetts commented on #6819
@GSchroder - the changes are in PR, but it's against our private repo so you won't be able to see them until it's published.

@timlaverty - could you check the changes I've made before I publish? Thanks!

[2018-04-09 15:40] MicahMcKittrick-MSFT commented on #6926
@MrGlenThomas Thanks for the question. We are currently investigating and will update you shortly.

[2018-04-09 15:40] mattbriggs commented on #6870
@eaglelim Thanks for letting me know about the requirement. I've followed up with some of my resources and will post an update as soon as I get the info. Thanks! #in-progress

[2018-04-09 15:41] MicahMcKittrick-MSFT commented on #6927
@dnaveenkumar1988 closing this out. If you have a question please reopen a new issue.

[2018-04-09 15:41] #6927 closed

[2018-04-09 15:42] MicahMcKittrick-MSFT commented on #6902
@dacarubio Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-09 15:58] Mike-Ubezzi-MSFT commented on #6872
@elmt1 There are a couple resources that are very helpful in this situation, and I have included links to these below. They are as follows:

[Performance best practices for SQL Server in Azure Virtual Machines](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sql/virtual-machines-windows-sql-performance)

[Azure SQL Database service tiers
](https://docs.microsoft.com/en-us/azure/sql

[2018-04-09 15:58] medavamshi opened #6934 "code change/updated needed"
# Replace  $Policy[0]  with $ReplicationPolicy for below line
$Job_AssociatePolicy = New-ASRProtectionContainerMapping -Name "PolicyAssociation1" -PrimaryProtectionContainer $ProtectionContainer -Policy $Policy[0]

# This doesnt work with failback policy.
$Job_AssociateFailbackPolicy = New-ASRProtectionContainerMapping -Name "FailbackPolicyAssociation" -PrimaryProtectionContainer $ProtectionContai

[2018-04-09 16:00] medavamshi commented on #6934
New-ASRProtectionContainerMapping : Operation failed.
Replication Provider InMage entered invalid for the current set of parameters.
At line:1 char:32
+ ... ackPolicy = New-ASRProtectionContainerMapping -Name "FailbackPolicyAs ...
+                 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : CloseError: (:) [New-AzureRmReco...ontainerMapping], Exception

[2018-04-09 16:05] fliang-ms commented on #5950
The values in "Max data disks" column in Dv2-series are not correct. Do we really support so many data disks? It seems that the values in "Max data disks / throughput: IOPS" column are correct. Could you please fix it as early as possible?

[2018-04-09 16:14] ms-guizha commented on #5976
1 What the detailed version for your VS2017 ? if it is not latest, please update it to the latest

2 Could you help me confirm whether the StreamAnalytics.targets under c:\Users\xxx\AppData\Roaming\Microsoft\DataLake\Msbuild\1.0\StreamAnalytics.targets ?
if not, I can share a you a walk-around way to unblock you first. Open Server explorer in VS, then trigger Azure Node- >stream analytics, that wi

[2018-04-09 16:30] Mike-Ubezzi-MSFT commented on #6905
@ydogandjiev Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-04-09 16:32] Mike-Ubezzi-MSFT commented on #6905
@mimig1 The mongo.js source in the GitHub repository may need to be updated:

`const mongoose = require('mongoose');
const env = require('./env/environment');

mongoose.Promise = global.Promise;

const mongoUri = `mongodb://${env.dbName}:${env.key}@${env.dbName}.documents.azure.com:${env.cosmosPort}/?ssl=true`;

function connect() {

  return mongoose.connect(mongoUri, { useMongoClient: true });

[2018-04-09 16:33] fliang-ms opened #6935 "both "Temp storage (SSD) GiB" and "Max data disks" columns seem not correct for Dv2-series"
I think that the values in those columns are switched.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9bb1d37c-6337-0906-42ff-b5dbc6afdc8b
* Version Independent ID: 72a96e16-1d2d-4c01-45be-3caf82470592
* Content: [Azure Windows VM sizes - General purpose](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/

[2018-04-09 16:37] Mike-Ubezzi-MSFT commented on #6912
@manaccar Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-09 16:39] Mike-Ubezzi-MSFT commented on #6918
@SimonLuckenuik Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-09 16:43] Mike-Ubezzi-MSFT commented on #6925
@anderson-joyle Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-04-09 16:46] Mike-Ubezzi-MSFT commented on #6932
@mwotruba Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-09 16:47] jimdial commented on #6883
#in-process

[2018-04-09 16:48] MicahMcKittrick-MSFT commented on #5950
@fliang-ms if you believe there are more corrections to be done please open a new issue on the doc page itself so we can address it properly.

[2018-04-09 16:50] fliang-ms commented on #5950
please ignore my comment to this issue. sorry for confusing. I have opened a new issue to track the problem.

[2018-04-09 16:51] MarcJenningsUK commented on #6928
Yes, I saw the article and am trying to get it workin gnow, thanks.  Now, if only I could figure out why the API manager isn't accepting my OAuth token...  :(

[2018-04-09 16:52] gsilva5 commented on #6883
Hi @mark-Beaupre, thanks for your comment.  First, I think the feature you're looking for is Accelerated Networking.  This is available on Ubuntu 16.04 VMs of 4 *physical* cores or more.  Hyperthreaded VMs need to be of 8 cores+.  Please make sure you are selecting a supported VM and size per the Accelerated Networking restrictions section.  If you are still having issues, please reach back out.

[2018-04-09 16:59] YutongTie-MSFT commented on #6903
@amjed2008 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-09 17:04] MohitGargMSFT commented on #6931
@mikehall000 Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-09 17:08] jason-j-MSFT commented on #6909
@algattik
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-09 17:08] MohitGargMSFT commented on #6908
@dm3942 Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-09 17:08] jason-j-MSFT commented on #6910
@algattik
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-09 17:10] femsulu commented on #6911
@gunnboy Thanks for bringing this to our attention. We are investigating and will get back to you soon.

[2018-04-09 17:11] fmuntean opened #6936 "Include SDK github link"
Please include the URLs for the GITHUB firmware and SDK projects in here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ad258e8-ddfa-8ba4-a054-af3d3194cfad
* Version Independent ID: f6bd8223-1c18-8da0-f2e7-1f291fa2a3d7
* Content: [Azure IoT Suite FAQ](https://docs.microsoft.com/en-us/azure/iot-suite/iot-suite-faq)
*

[2018-04-09 17:12] jason-j-MSFT commented on #6913
@paulmackinnon-adv365
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-09 17:12] MohitGargMSFT commented on #6915
@chrift Thanks for your reaching out and glad that your issue is resolved.

[2018-04-09 17:12] spottedmahn commented on #6487
Although is it missing a critical piece:

[2018-04-09 17:18] vhorne commented on #6436
#please-close

[2018-04-09 17:21] MisinformedDNA opened #6937 "SQL DB and App Service do not giver metric alerts"
I have tried setting the selected target to be a SQL DB, an App Service, and an App Service Plan and when I try to add criteria, I am only shown "Activity Log" signals. The "Signal type" dropdown is set to "All" and, if I expand it, the only option is still "Activity Log". Why am I not seeing metrics as an option?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2018-04-09 17:42] nberdy commented on #6824
@smoms [This blog post](https://azure.microsoft.com/en-us/blog/device-provisioning-identity-attestation-with-tpm/) explains how the device securely receives its key to connect to IoT Hub when using TPM attestation. Then the device creates the SAS token using the key it received, so when the token expires it can generate a new one on its own (the SDKs take care of this for you).

If you're looking

[2018-04-09 17:46] nberdy commented on #6852
In the case of TPM, the key is encrypted with both the EK and SRK of the TPM. In the case of X.509 (as with the MXChip board in this article), the device connects using the X.509 certificate it possesses and DPS basically tells the device to use the cert it already has to connect to IoT Hub.

[2018-04-09 17:48] femsulu commented on #6937
@MisinformedDNA Thanks for the comment. We are actively investigating and will get back to you soon.

[2018-04-09 17:49] nberdy commented on #6824
#please-close

[2018-04-09 17:50] antonba commented on #6764
I no longer work on this team. Can @miaojiang who is still on that team please fix it? Thanks!

[2018-04-09 17:55] cherylmc commented on #6381
Hi! We're in the process of changing our documentation regarding Microsoft Peering. You'll see the updates soon!

[2018-04-09 17:55] cherylmc commented on #6381
#please-close

[2018-04-09 17:56] Mike-Ubezzi-MSFT commented on #6935
@fliang-ms Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-09 17:57] kobulloc-MSFT commented on #6904
@sguryev Thank you for the feedback!  It does look like a parameter is missing.  I will assign this to the document author to verify and update accordingly.

[2018-04-09 17:58] nberdy commented on #6625
@rizwaans If you don't provide a timeout, then the SDK will default to 30 seconds. If you don't care about handling the error if the device never receives the method, you can set `if(err){}` to swallow the error. But I highly recommend some sort of error handling for timeouts, it's always good to know if the device didn't get the method you attempted to invoke!

[This article](https://docs.microso

[2018-04-09 17:59] nberdy commented on #6625
#please-close

[2018-04-09 17:59] #6837 closed

[2018-04-09 18:09] kobulloc-MSFT commented on #6928
@MarcJenningsUK It looks like your document question has been answered.  If you have any additional document questions, please do not hesitate to open another ticket.
Hopefully you get your OAuth token figured out.  You can always visit the forums for help if you get stuck: https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=azureapimgmt

[2018-04-09 18:09] #6928 closed

[2018-04-09 18:10] ravjay commented on #6805
@BryanTrach-MSFT Thanks a lot.

[2018-04-09 18:10] kobulloc-MSFT commented on #6933
@JPadster Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-04-09 18:17] kobulloc-MSFT commented on #6921
@dronkoff Thank you for the feedback!  I will assign this to the author to verify that the address is expected and update the doc accordingly.

[2018-04-09 18:24] cleangear opened #6939 "Insufficient info to setup this application"
1) There is missing info between Steps 8b and 8c. The author already setup a TOPdesk SAML connection before starting this guide. Hence there is missing information on whether to import or create a private key. Without this the wizard cannot be completed. Readers will be performing a setup from scratch, and need a true "setup from scratch" document.

---
#### Document Details

⚠ *Do not edit this s

[2018-04-09 18:26] cleangear commented on #6939
Here's a screenshot of the affected section. Been trying to figure this out for tens of hours and I'm stumped.
![topdesk-azure-settings](https://user-images.githubusercontent.com/38225330/38515328-ba39fb5c-3be8-11e8-8f20-181b416b7e6b.png)

[2018-04-09 18:26] jimdial commented on #6883
@mark-beaupre  The option to enable Accelerated networking only appears in the portal if you selected a VM size and operating system listed as supported in this article.  I've added some text to that effect to the article.  It should publish later today.  Thanks. #please-close

[2018-04-09 18:29] Adam-Smith-MSFT commented on #6860
@shraboin it should work as well

an example of the /SyncCopy is as bellow:

AzCopy /Source:https://myaccount1.blob.core.windows.net/myContainer/ /Dest:https://myaccount2.blob.core.windows.net/myContainer/ /SourceKey:key1 /DestKey:key2 /Pattern:ab /SyncCopy

I will assign to the author to confirm as well.

[2018-04-09 18:33] CarlRabeler commented on #6872
https://github.com/MicrosoftDocs/azure-docs-pr/pull/37397
addressed this issue with an important note

[2018-04-09 18:51] #6625 closed

[2018-04-09 18:52] MicahMcKittrick-MSFT commented on #6134
@imaterek just checking in for an update on this.

[2018-04-09 18:53] MicahMcKittrick-MSFT commented on #6856
@amitghosh2013 just checking in to see if there is any update on this

[2018-04-09 18:57] cynthn commented on #6935
#please-close @fliang-ms thanks for the feedback. We are addressing the issue.

[2018-04-09 19:02] #6935 closed

[2018-04-09 19:03] CarlRabeler commented on #6872
merged
#please-close

[2018-04-09 19:07] sguryev commented on #6904
@kobulloc-MSFT not only parameter. Please read the second comment

[2018-04-09 19:07] MohitGargMSFT commented on #6939
@cleangear Thanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

[2018-04-09 19:11] MohitGargMSFT commented on #6746
@AntonioSpalluto We will now proceed to close this thread. Please open a new issue on the document you are providing feedback on. If you query is related to implementation,please open a new MSDN forum post and community will help address your query. Please refer to below link to MSDN forum to ask new question -
[https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazurepl

[2018-04-09 19:11] #6746 closed

[2018-04-09 19:12] MohitGargMSFT commented on #6804
@ravuchary We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-09 19:12] #6804 closed

[2018-04-09 19:13] Thraka commented on #5271
@daveh101 Check out this old file: https://github.com/MicrosoftDocs/azure-cloud-services-files/tree/master/Azure%20Targets%20SDK%202.9

There was a problem similar to this a while back and I hacked up a new build targets file to fix it. I don't think this will right out of the box, but basically somewhere in that targets file, it blocks you based on your framework version. If you remove that check

[2018-04-09 19:18] MicahMcKittrick-MSFT commented on #6876
@Ayanmullick You assign RI benefits at the enrollment or subscription levels, and easily change assignments post purchase, as necessary. Assignment allows you to decide whether the reservation is applied at the Azure account/enrollment or subscription level.

So you do not create a VM as a reserverd instance per say. Rather you setup the reserverd instance billing then the discount price will appl

[2018-04-09 19:18] #6876 closed

[2018-04-09 19:19] JasonWHowell commented on #6456
@hauszerm Thanks for the suggestion. There are so many possibilities it is a bit hard to generalize how the numbers should appear.

What scenario are you trying to troubleshoot, so we could better target that scenario.

Thanks, Jason

[2018-04-09 19:29] MicahMcKittrick-MSFT commented on #6889
@SharmainePopov from my understanding KeyVault only supports RSA keys and not .ppk file formats. So you would need to convert the .ppk to RSA before uploading. This is a good feature ask for the KeyVault team.

Suggest you leave that feedback **[here](https://azure.microsoft.com/en-us/pricing/reserved-vm-instances/)**.

I will close this out but if you have additional questions please reopen and w

[2018-04-09 19:32] SharmainePopov commented on #6889
They are RSA keys. As I said I also converted them to .pem but same problem.

Sharmaine Popov
Cloud Solution Architect |Microsoft Canada Inc. | sharmaine.popov@microsoft.com<mailto:sharmaine.popov@microsoft.com> | 416-799-0807

From: Micah <notifications@github.com>
Sent: Monday, April 9, 2018 3:30 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Sharmaine Popov <Sharmaine.Popov

[2018-04-09 19:32] cynthn commented on #6842
#in-progress

[2018-04-09 19:36] MohitGargMSFT commented on #6893
@Robamalama You are doing it the right way. The way to go is to include the IP addresses of machines where service requests originated, like the NAS/VPN server, in Whitelisted IPs to disable Multi-Factor Authentication requirements.

Please note that IP address you are whitelisting is a static IP otherwise dynamic IP may change. You may need a Static IP which can be whitelisted. You can also use [

[2018-04-09 19:36] BryanTrach-MSFT commented on #6820
@ravianand1988 Thank you for the replay. At this time we do not have a doc describing how to achieve this. I have assigned your feedback to the doc author to see if they will consider an addition to the article or creating a new article.

@ysxu, we have received feedback looking for a doc on how to implement push notifications per topic/ tag subscribe/unsubscribe feature for Xamarin.Android. It do

[2018-04-09 19:38] MicahMcKittrick-MSFT commented on #6902
@dacarubio to confirm, are you asking if you can use Office 365 services and Dynamics 365 without the premium add-on to be enabled?

If that is the case, I am not seeing anything that confirms or suggests that

[2018-04-09 19:40] jaykay211 opened #6941 "No failback available"
Good day,
This documentation seems to be out of date. I executed a failover procedure as stated in the documentation and I committed the failover. I am trying to reprotect the VM but there is not option to do so as stated in the documentation. The only options available are planned failover, complete migration and disable migration.

---
#### Document Details

⚠ *Do not edit this section. It is re

[2018-04-09 19:47] jason-j-MSFT commented on #6636
@adriantorrie Could you post this as a feedback @ 'https://feedback.azure.com/forums/217335-hdinsight'. This will allow the community to upvote and for the product team to include into their plans. We also have the "Give Product Feedback" button in our documents now to take you directly to the appropriate feedback page.

We are closing this issue for now, but feel free to add comments as needed.

[2018-04-09 19:47] #6636 closed

[2018-04-09 19:50] iainfoulds commented on #6889
@SharmainePopov May I suggest asking on the Key Vault DL, as this is beyond scope for the doc that the issue is raised against? If there is product feedback or incorrect handling of the provided keys, that engineering team is best placed to provide additional support.

[2018-04-09 19:53] MicahMcKittrick-MSFT commented on #6889
@SharmainePopov so when you upload the key say in .pem format using CLI to keyvault and then download that key the formatting changes?

https://stackoverflow.com/questions/11771378/ssh-keygen-is-not-recognized-as-an-internal-or-external-command

[2018-04-09 19:59] jeevansd commented on #6939
@cleangear You don't have to use the private key for this setup. Please skip that and it will still work as expected. If you have to upload the cert then upload any certificate you have or self signed certificate and still the integration will work as expected.

[2018-04-09 19:59] MicahMcKittrick-MSFT commented on #6926
@wesmc7777 is this something you might be able to provide some information on? Else @MrGlenThomas I would suggest you ask this question in the forums as it is not directly pointing out problems with this specific documentation

https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureFunctions

https://stackoverflow.com/questions/tagged/azure-functions

[2018-04-09 19:59] Mike-Ubezzi-MSFT commented on #6936
@fmuntean Thanks for the feedback! I am going to assigned this issue to the content author to evaluate and update as appropriate but, I want to verify all the content that you feel should be added. I have found the following two items. Is there anything else?

[microsoft-iot-central-firmware](https://github.com/Microsoft/microsoft-iot-central-firmware)
[azure-iot-sdks](https://github.com/Azure/azu

[2018-04-09 20:12] JasonWHowell commented on #6186
Hi @yesoreyeram
Are we good to close this issue out? Thanks, Jason

[2018-04-09 20:12] JinYam commented on #6903
(I'm the Product Manager for OCR at Microsoft)

I also replied to your User Voice inquiry - we use our own proprietary algorithm.

[2018-04-09 20:12] jason-j-MSFT commented on #6675
@bwren It seems like it is possible to create and edit alert rules from the Log Analytics blade in the portal.  Is the statement "You cannot currently create or modify an alert rule using the Azure portal." still correct?

[2018-04-09 20:13] ajlam commented on #6727
@another1s, just a quick update. I'm working on testing the refactored sample and will publish it once I've had it reviewed.

[2018-04-09 20:14] anrothMSFT commented on #6882
@Juliako - I see that you are owner for a bunch of Video Indexer docs pages, so hopefully you are the right person to message.
We link to the Video Indexer homepage from a bunch of our documentation for expired APIs. Dmitry finds the note about this on the top of the video indexer page somewhat confusing. I would agree- although we're on the video indexer page, the warning text is talking about th

[2018-04-09 20:15] cynthn commented on #6842
#please-close @SteveMinar I've checked with engineering and the ACU is somewhat variable because of the type of SKU that it is, so the burstable sizes don't have a stated ACU.

[2018-04-09 20:15] wesmc7777 commented on #6926
I don't think you can manually invoke any function outside of firing the trigger. The best approach might be to use an HTTP trigger to kick off the integration test.  However, I'm a little out of touch in this area since, I've not been involved in a while.  @ggailey777 or @tdykstra could likely provide a more definite answer here.

[2018-04-09 20:17] aaronralls opened #6943 "How to mitigate brute force attacks?"
Do you have a document on how to mitigate the brute force login attacks?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b59d5bc1-0e5e-4183-58e3-da7b20a450c6
* Version Independent ID: 1c8c8961-2caa-b3ae-7bb2-9ca61a3fdf5b
* Content: [Monitor identity and access in Azure Security Center](https://docs.microsoft.com/en-us/a

[2018-04-09 20:19] roygara commented on #6860
@shraboin thanks for pointing this out! SyncCopy should work as well. I'll update and test the sample.

In the interim until that update goes life feel free to use:
$azCopyCmd = [string]::Format("""{0}"" /source:{1} /dest:{2} /sourcekey:""{3}"" /destkey:""{4}"" /snapshot /y /s /synccopy",$AzCopyPath, $container.CloudBlobContainer.Uri.AbsoluteUri, $destContainer.Uri.AbsoluteUri, $srcStorageAccountK

[2018-04-09 20:24] jason-j-MSFT commented on #6636
@adriantorrie If you leave a feedback link @ 'https://feedback.azure.com/forums/217335-hdinsight', leave the feedback number here and I will leave a comment on your feedback with a link back to this issue.

[2018-04-09 20:24] MrGlenThomas commented on #6926
If it is possible to add an http trigger to a timer triggered function to invoke it that might be a solution, but I'm not sure how this might be achieved. Would it require a second function that calls the run method of the timer triggered function? @MicahMcKittrick-MSFT The problem with this documentation is that it does not provide any explanation on testing timer triggered functions.

[2018-04-09 20:27] Mike-Ubezzi-MSFT commented on #6788
@Frankwayne Can you send this information to the askcosmosdb@microsoft.com alias, where the Cosmos DB product group can review this and provide assistance. If you cannot provide an .etl file, provide the information you have provided in your last comment ([collect trace files](https://docs.microsoft.com/en-us/azure/cosmos-db/local-emulator#trace-files)).

The other option is to [uninstall](https:/

[2018-04-09 20:28] #6842 closed

[2018-04-09 20:28] jason-j-MSFT commented on #6786
@linda33wj The screenshot in this section appears to be from ADFv2, although the document is intended for ADFv1:
https://docs.microsoft.com/en-us/azure/data-factory/v1/data-factory-copy-activity-performance#performance-tuning-steps

[2018-04-09 20:33] MicahMcKittrick-MSFT commented on #6926
Thanks @MrGlenThomas and @wesmc7777. We can see what @ggailey777 or @tdykstra have to say but for sure something that might be useful to include in this document for others to reference to.

[2018-04-09 20:37] Mike-Ubezzi-MSFT commented on #6739
@anosov1960 I do not have the necessary permissions to edit 'sql-docs' to make this change.
[Overview of Always On Availability Groups (SQL Server)](https://docs.microsoft.com/en-us/sql/database-engine/availability-groups/windows/overview-of-always-on-availability-groups-sql-server)

![screenshot 91 _li](https://user-images.githubusercontent.com/37126106/38521654-28199012-3bfb-11e8-9907-fb2d05f9d9

[2018-04-09 20:37] jeffgilb commented on #6686
Thank you for your feedback, I've updated the article to reflect that out of the total of 32 IPs, Azure Stack will use 8 for internal infrastructure with the rest used by tenant VMs.

[2018-04-09 20:40] tdykstra commented on #6926
@MrGlenThomas This is a recurring issue and one solution I've seen recommended is here:  https://stackoverflow.com/questions/44569926/time-triggered-azure-function-to-trigger-immediately-after-deploy?noredirect=1&lq=1
Would this (two functions with different triggers but shared code) meet your needs?

[2018-04-09 20:49] YutongTie-MSFT commented on #6903
@amjed2008 Thank you for your feedback, we have Jin, the product manager for OCR, to answer your question. Hope his answer can help you.

@JinYam Thank you very much for your answer! Please update the document if necessary.

[2018-04-09 20:53] Mike-Ubezzi-MSFT commented on #6912
@jeffgilb The user is stating that it might be helpful if the information found as the lasy portion of the document ([Renew or change registration in disconnected environments](https://docs.microsoft.com/en-us/azure/azure-stack/azure-stack-registration#renew-or-change-registration-in-disconnected-environments)), might be helpful and more informative if it was at the beginning of the section that d

[2018-04-09 20:56] TomShinder opened #6944 "Great doc!"
Kudos for a job well done.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 96a94ffa-d165-cf80-20f6-444b1e0af7b3
* Version Independent ID: 156f8934-c0cf-5eae-2ede-e01f8b93ec9b
* Content: [Manage Azure DDoS Protection Standard using the Azure portal](https://docs.microsoft.com/en-us/azure/virtual-network/ddos-protection-m

[2018-04-09 21:07] JasonWHowell commented on #6591
Hi @githubavi I have added a little bit to the article to help clarify the concern you raised. Thanks, Jason

[2018-04-09 21:07] Erikre commented on #6820
@BryanTrach-MSFT - Hi Bryan, I don't own the Notification Hubs content area. You'll need to contact the product team to help make any doc updates. I'm not sure who is the best contact. Possibly someone from this list: http://who/Find.aspx?q=notification+hubs

[2018-04-09 21:10] jason-j-MSFT commented on #6789
@jatal The performance reference table is in MBps, rather than Mbps.  A single partition Cosmos DB with the default 4 DMUs is referenced at 2MBps.  You may be able to get achieve higher throughput with multiple partitions and more DMUs, I would recommend testing some of these scenarios as concrete numbers can be difficult to guess with so many variations in customer's specific use cases.

We are c

[2018-04-09 21:10] #6789 closed

[2018-04-09 21:14] cleangear commented on #6939
Thanks; I'm testing this now.
The other issue I found is that TOPdesk needs a DER-formatted cert (binary). After Step 12d, exporting the MS X509 certificate, TOPdesk's web interface displays an error when you try to import the PEM-formatted (Base64) cert. You must first decode the certificate into binary format with Windows' built-in certutil.exe utility, as such: certutil -decode <input-pem-cert>

[2018-04-09 21:15] cleangear commented on #6939
Whoops, it ate my example:
`certutil -decode inputcert.pem outputcert.der`

[2018-04-09 21:16] jeevansd commented on #6939
@cleangear Thanks for reporting that. Now we can provide the RAW cert directly from Azure AD. We can change that in the package so that customers can get the RAW cert from the portal.

[2018-04-09 21:32] bdcoder2 opened #6945 "NEED more documentation..."
Hello,

Using visual studio to build an azure function project -- fine, the template provides code such as:

public static async Task<HttpResponseMessage> Run( [HttpTrigger( AuthorizationLevel.Anonymous, "get", "post", Route = null )]HttpRequestMessage req, TraceWriter log)

I can (for the most part) GUESS as to what each parameter to the Run() method is used for or does -- BUT ...

1.  Where in t

[2018-04-09 21:34] MohitGargMSFT commented on #6931
@mikehall000 Request you to help with more clarification on your feedback. Please point me to the step in the document on which you are asking the queries.

However, if your query in not related to the document on which the feedback is provided please open a new MSDN forum post and community will help address your query. Please refer to below link to MSDN forum to ask new question -
[https://socia

[2018-04-09 21:37] bwren commented on #6675
Sorry for the delayed response, I was on vacation last week.  This does need to be updated, but you still cannot create a Log Analytics alert in the Azure portal.  To edit existing rules, we launch the OMS portal.  There is an option to add an alert, but this is the new alerting experience described in https://docs.microsoft.com/azure/monitoring-and-diagnostics/monitoring-overview-unified-alerts.

[2018-04-09 21:43] mikehall000 commented on #6931
There is no step in the document.  That is the whole point.  Can you make a step or add some information?  This document says something about the UserNameMixed endpoint.  I want more information on UserNameMixed vs WindowsTransport with 3rd party IDPs.  When does one endpoint get used versus the other.  It is not clear in the document.  The ask is for you to make it clear.

https://jairocadena.com

[2018-04-09 21:47] cynthn commented on #5390
#please-close @thomasmktong thank you for the feedback. We are going to add an item to our backlog to document doing this with managed disks for Windows and Linux. Thanks again!

[2018-04-09 21:51] akramwaseem opened #6947 "Does it work for the VM's with Docker installed and any plans to implement this for VM Scale Sets"
Seems like a good idea, but how does it determine which are the security patches needs to be installed. I have a VM running docker 1.12.6 on ubuntu and I cannot afford the upgrade because it breaks all the things and we have some linux packages which need to be on the same version and cannot be upgraded to the next version. do you know how we can achieve this.
How does it work on production server

[2018-04-09 21:52] Mike-Ubezzi-MSFT commented on #6932
@mwotruba From all examples and SDK references, the fully qualified attribute must be used.
Including the corrected URL here for reference: [IoT Hub query language for device twins, jobs, and message routing
](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-query-language)
Please let me know if you have any additional questions.
Regards,
Mike

[2018-04-09 21:55] Mike-Ubezzi-MSFT commented on #6596
@Ramji-S We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion. Please also leverage the [Cosmos DB Emulator User Voice](https://feedback.azure.com/forums/263030-azure-cosmos-db?query=Emulator) for any future release or road map related questions.
Regards,
Mike

[2018-04-09 21:56] MNF commented on #6632
Can you include url
https://docs.microsoft.com/en-us/azure/operations-management-suite/operations-management-suite-overview as a link for mention(s) of OMS portal in the page? When coming to the page from search engine, it is a foreign term.

[2018-04-09 22:02] LuisLoranca commented on #6687
Hi, is there any powershell function that can be used to automate the creation of the new alerts?  I'm trying to create a log alert that will query application insights.

Thanks!
Luis

[2018-04-09 22:13] SaurabhSharma-MSFT commented on #6922
@pedrr Yes. Please refer to the document [Kerberos Constrained Delegation for single sign-on to your apps with Application Proxy] (https://docs.microsoft.com/en-us/azure/active-directory/active-directory-application-proxy-sso-using-kcd) for more details.

[2018-04-09 22:37] watashiSHUN commented on #5178
Currently we only have SAS support for internal storage usage: https://github.com/Azure/azure-webjobs-sdk/pull/1425#issuecomment-352495728, not blob bindings yet

[2018-04-09 22:39] roygara commented on #6860
#please-close

since I've made the update and it is now waiting approval to be merged.

[2018-04-09 22:47] roygara commented on #6768
@Adam-Smith-MSFT if you could assign this to me, that would be appreciated.

@MikeBarker-MS Thanks for pointing out that these are out of date! I will create an item in our backlog so we can get them updated. After which I will close the ticket.

[2018-04-09 22:48] roygara commented on #6767
@Adam-Smith-MSFT if you could assign this to me that would be appreciated.

@MikeBarker-MS thanks for pointing this out! I will correct the screen shot and notify you via this issue when the change has been merged.

[2018-04-09 22:52] Mike-Ubezzi-MSFT commented on #6945
@bdcoder2 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-09 22:55] cleangear commented on #6939
Even with another cert (self-signed) I am still getting AADSTS70001 errors when attempting to use TOPdesk SSO. I did have a support case open for this, as a separate issue, but they have not responded... I will keep bothering them. At this point if you say any private key is acceptable, I will take the rest up with Microsoft Support.

[2018-04-09 22:55] Mike-Ubezzi-MSFT commented on #6947
@akramwaseem Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-09 22:57] Mike-Ubezzi-MSFT commented on #6944
@TomShinder Thank you for the feedback. I have passed this on to the content author.

[2018-04-09 22:57] #6944 closed

[2018-04-09 22:59] Mike-Ubezzi-MSFT commented on #6943
@aaronralls Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-09 23:00] jeevansd commented on #6939
@cleangear Can you please provide the detailed error message? Then we can provide you some suggestions.

[2018-04-09 23:01] Mike-Ubezzi-MSFT commented on #6941
@jaykay211 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-09 23:11] amitghosh2013 commented on #6856
Thanks for the followup - Much appreciated!

You are right, I had some problem with Service Fabric Installation. For the
time being you can assume that the issue is resolved.

Regards,
Amit

On Mon, Apr 9, 2018 at 11:53 AM, Micah <notifications@github.com> wrote:

[2018-04-09 23:12] jeevansd commented on #5953
@carvakas Please note that this is still on my priority list and we are still reviewing this. Trust me it is a long doc and we want to make sure that every bit of it is well placed and verified. So taking some more time.

[2018-04-09 23:17] tfitzmac commented on #6867
@ToMakeSense - thanks for this feedback. Any operation that starts with "list" can be used in a template, which creates a problem on this page because we can't list all of those operations. I am going to add listSecrets because I think it is one of the more commonly used operations, and try to make it clear that any list could work.

[2018-04-09 23:20] LuisLoranca opened #6951 "Automate new Azure log alerts using powershell"
Hi, is there any powershell function that can be used to automate the creation of the new alerts? I'm trying to create a log alert that will query application insights.  Any documentation on this topic would be helpful, also, is there any way to create templates or use variables within the alerts?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2018-04-09 23:28] dksimpson commented on #6622
#in-progress

[2018-04-09 23:34] BryanTrach-MSFT commented on #6820
@femila we have received feedback looking for a doc on how to implement push notifications per topic/ tag subscribe/unsubscribe feature for Xamarin.Android. It does not appear that there is any documentation regarding this process currently. Can you please review the feedback and update as necessary?

[2018-04-09 23:37] mrbullwinkle commented on #6933
@JPadster just to echo @kobulloc-MSFT I ran through this article after you opened your issue and I too could get through all the steps successfully. Did you try connecting your logic app to an Application Insights resource you had created via Visual Studio or one that you created via the Azure portal?  I have occasionally run into issues with certain functionality if I created an App Insights reso

[2018-04-09 23:45] tfitzmac commented on #6867
@ToMakeSense - the update should get published tomorrow morning.

[2018-04-09 23:50] Mike-Ubezzi-MSFT commented on #6951
@LuisLoranca Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-09 23:54] #6688 closed

[2018-04-09 23:58] MohitGargMSFT commented on #6943
@aaronralls Please refer to below article and scroll to Recommended remediation and mitigation steps section.
[https://azure.microsoft.com/en-us/blog/how-azure-security-center-detects-ddos-attack-using-cyber-threat-intelligence/](https://azure.microsoft.com/en-us/blog/how-azure-security-center-detects-ddos-attack-using-cyber-threat-intelligence/)

Another , good reference is this external blog  -

[2018-04-10 00:00] cleangear commented on #6939
Thanks for your help! I can provide the error message. First, to reproduce: I got the message by trying to login from our TOPdesk's SSO page at [https://pad-test.topdesk.net/tas/secure/login/saml](https://pad-test.topdesk.net/tas/secure/login/saml). It occurs immediately after successful authentication; entering an incorrect password simply displays the O365 "incorrect password" page. I attached a

[2018-04-10 00:00] cleangear commented on #6939
I'll reopen the issue until I receive your advice... thanks!

[2018-04-10 00:00] #6686 closed

[2018-04-10 00:03] mike-urnun-msft commented on #6688
@pietrobr We have made the necessary changes and updated this doc to reflect up-to-date info; and these changes will reflect after our next merge.

We will now proceed to close this thread. If there are further questions regarding this matter,
please reopen it and we will gladly continue the discussion.

[2018-04-10 00:37] tamram commented on #6756
@MikeBarker-MS - Thanks for pointing this out. I've fixed the references in the sasTokens branch.

#please-close

[2018-04-10 00:37] BryanTrach-MSFT commented on #6894
@ankushbindlish2 Are you able to use the command `git push azure master` to push from your local git to your web app?

[2018-04-10 00:44] BryanTrach-MSFT commented on #6812
@jessejiang0214 Can you please expand what you feel is missing? I see XML code that is supposed to declare the Andriod manifest.

We look forward to your reply.

[code]

[2018-04-10 00:52] BryanTrach-MSFT commented on #6685
@ZombiesWithCoffee Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@cephalin Can you please review the feedback and update the doc as necessary?

[2018-04-10 01:05] niniikhena commented on #6763
Thanks for the suggestion. Looks like you may have been getting an error with this line: $definition = Get-AzureRmPolicyDefinition -Name "Audit Virtual Machines without Managed Disks". We'll update it shortly.

[2018-04-10 01:26] whytoe commented on #6724
thanks @pilor **that example is great** and I really hope the documentation is updated.
@bandersmsft it would really help to have this out in the open as the errors thrown from Azure did not lead to me any proper conclusion on what i did wrong.

[2018-04-10 01:30] cynthn commented on #5057
@amanarneja  can you remove the virtual-machines label and add storage instead? Thank you!

[2018-04-10 01:44] mimig1 commented on #6905
@SnehaGunda - Can I assign this to you?

[2018-04-10 01:53] dacarubio commented on #6902
@MicahMcKittrick-MSFT , I'm referring to this link
https://azure.microsoft.com/en-us/updates/microsoft-peering-on-expressroute-standard/

So is Microsoft Peering is now available on ExpressRoute Standard as well which can we consume Office 365 and Dynamics 365?services?

[2018-04-10 02:06] ToMakeSense commented on #6867
@tfitzmac “Any operation that starts with "list" can be used in a template”, Thank you for your clarification，it‘s useful information for me.

[2018-04-10 02:26] KeiroKamioka0000 opened #6952 "Pricing?"
Reduction in backup and restore times by retaining snapshots locally for 7 days.
Does this affect any backup storage fee?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39cd4ce6-5297-91f5-1855-a5ff04585dac
* Version Independent ID: 0eb56a26-77e9-8a81-a425-c64994d117e3
* Content: [Upgrade to Azure VM backup stack V2](ht

[2018-04-10 02:30] KeiroKamioka0000 commented on #6952
Sorry please close it, I didn't read the document very well.

[2018-04-10 02:46] femila commented on #6820
@spelluru - Could you add this to your backlog. We can triage on the priority.

[2018-04-10 03:01] spelluru commented on #6820
@Femila - sure. We have Xamarin.Android version for only for the first tutorial. I will create a TFS item for this one. Thanks.

[2018-04-10 04:50] pedrr commented on #6922
@SaurabhSharma-MSFT in an environment where I have full domain admin rights you are right. There I am able to specify a SPN on the service an set constrained delegation on the AAD Proxy computer account to this SPN.
In Resource Based Constrained Delegation I do not specify any SPN cause I have no domain admin rights in a managed domain.

[2018-04-10 05:09] tatazoe opened #6953 "[Classic VM Specification] : Max data disks of F Series Classic VM is different."
Fs-series and F-series max data disks specification is different between ARM and Classic.

* e.g. F4s max data disks
- ARM : 16
- Classic : 8

This difference cause user misunderstanding.
Please consider to add notification regarding Classic model vm.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ef96d58-ce74-a034-99

[2018-04-10 05:49] jefffanjoy opened #6954 "Export-RunAsCertificateToHybridWorker script will fail due to invalid use of [OutputType([string])]"
The functional use of [OutputType] decoration is prefixing the Param () statement.  Even though there are no parameters for this script, the Param statement is required in order to set the output type.

It should look like this:

[OutputType([string])]
Param ()

The version of this runbook on PowerShell Gallery should also be updated to use the code found here once corrected.

https://www.powershe

[2018-04-10 05:50] jason279 commented on #5950
Hi, can I get these information from rest API? I want to used it in my product, but hard-coding these is too ugly. Thanks!

[2018-04-10 06:46] ydogandjiev opened #6955 "Duplicate key error"
Hey guys, after completing the full tutorial it seemed like everything was working great until I tried to add more than one hero to my database which continuously fails with the following error:
[code]

I thought that maybe I had made a mistake in my code but after cloning the official react-cosmosdb repo and pointing it to my Cosmos DB instance I ran into the exact same failures. Any idea why thi

[2018-04-10 06:51] ydogandjiev commented on #6955
The _id does appear different for the new hero I am adding so it's unclear why Cosmos DB is rejecting the add:
![image](https://user-images.githubusercontent.com/3357245/38540452-dc9dda02-3c50-11e8-965e-63930d7b29fb.png)

[2018-04-10 06:54] JYOTHIRMAISURI commented on #6515
@snehithm

Please add your inputs/comments on this query

[2018-04-10 07:08] gabbsmo opened #6956 "App only search"
It is my understanding that SharePoint search with app only authentication is only possible in SharePoint Add-ins and thus with ACS. Will this feature be added to Azure AD apps now?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bef9aec0-035e-2504-a62b-bf76ecb5173c
* Version Independent ID: 590e2151-3215-7d76-00ac-8894

[2018-04-10 07:23] niceysj opened #6957 "What test equipment is connected to the vpn gateway?"
I'm some kind of vpn device test but i can't connect successfully.
I wonder that microsoft tested vpn device model name and os version.
Please answer me.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51d3baac-0bee-0ebf-274a-d2da1ce0c82a
* Version Independent ID: 921db0bd-747e-f2b9-e48d-be9e3ea153f8
* Content: [VPN gat

[2018-04-10 07:36] rafa-el-nunes opened #6958 "Error code 50125 missing"
code 50125

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f83a9e6-2363-2c73-5ed2-f40bd48899b8
* Version Independent ID: f47dc642-f083-b173-9b6e-ce61e31685a9
* Content: [Sign-in activity report error codes in the Azure Active Directory portal](https://docs.microsoft.com/en-us/azure/active-directory/active-directory-rep

[2018-04-10 07:51] msvijayn commented on #6698
PR has merged and doc has been updated
#please-close

[2018-04-10 07:51] jason279 opened #6960 "please add cpu clock speed for each vm types"
Hi, sometimes when I create a VM instance, I need to choose the right type whoes cpu clock speed matches my requirement, but I can not find the value for each type, no matter in the vmsize page or during the "choose the size" step of the creating operation.  Could you add the cpu speed information, it is very useful. And It will better if that information is included in the Rest API result of the

[2018-04-10 07:51] msvijayn commented on #6698
@femsulu #please-close

[2018-04-10 08:00] jason279 commented on #6960
Hi, Also needed for other series vmsize. Thanks!

[2018-04-10 08:04] dominicbetts commented on #6936
Hi @fmuntean - thanks for getting in touch. Could you clarify which GitHub repos you would like to see links for in this FAQ (please provide the URLs so we are clear which one's you are referring to)? Thanks, Dominic

[2018-04-10 08:08] smoms commented on #6824
@nberdy many thanks for sharing the blog page. Can you please confirm that the IoTHub device symmetric  key is sent to device from DPS in step 6? Just because after the device decrypt the nonce the blog mentions that the device generates SAS Token. It is bit confusing if that is meant the IoTHub SAS Token or a different one. In the former case my doubt is that the device has not yet received the I

[2018-04-10 08:30] willmorgan commented on #6698
Thanks @msvijayn. Just to confirm, this is captured from a _real_ webhook request sent from Azure, right?

[2018-04-10 08:37] YajvendraGupta commented on #6762
@vikaskumawat80, we have noted this and will soon roll out a fix to resolve this error. Please try again after one week.

[2018-04-10 09:04] msvijayn commented on #6937
@MisinformedDNA As stated in note on step 5,
![image](https://user-images.githubusercontent.com/33087919/38546674-e0cc39be-3cca-11e8-98f3-15e25cf0c5c0.png)
All near real time alert capable resources are listed as metrics. We have provided a link in the note to [this doc](https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/monitoring-near-real-time-metric-alerts), where all metrics al

[2018-04-10 09:10] msvijayn commented on #6951
@LuisLoranca - As stated in doc and highlighted below - currently [log alerts for application insights is in preview](https://azure.microsoft.com/en-us/blog/log-alerts-for-application-insights-preview/):
![image](https://user-images.githubusercontent.com/33087919/38547403-a06024f6-3ccc-11e8-81bf-c71acb94c2dc.png)

As it is in preview, the programmatic interface for log alerts on application insigh

[2018-04-10 09:16] linda33wj commented on #6786
@jatal @jason-j-MSFT I didn't get the ask here. The topic you referred to is indeed ADF v1 document and the screenshot is correct. This one is the V2 corresponding copy perf topic: https://docs.microsoft.com/en-us/azure/data-factory/copy-activity-performance#performance-tuning-steps

[2018-04-10 09:18] msvijayn commented on #6698
@willmorgan Yes, it is a **real** webhook sent from log alerts; abet minor changes to replace critical data like subscription and search result URL - with dummy values for documentation use.

[2018-04-10 09:24] msvijayn commented on #6698
@willmorgan - Ooh, yes I have done indentation - as a mandate for readability in docs. In real world, you'll get the webhook as a continual JSON payload.

[2018-04-10 09:27] antonGritsenko commented on #6096
@mtillman do you know ETA of the publish? Right now it kind hard to make a decision about using v1\v2 based on current version of the doc.

[2018-04-10 09:32] hbaeleMCT opened #6961 "Enforcement of premium licensing"
It is not clear what will happen if not all members have a premium license. Will the feature not work, meaning that no expiration will be in place?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee217532-6b64-61f7-d965-bc95d9198cdb
* Version Independent ID: f6bab9a9-1b8b-01db-6e42-045eb04efe9e
* Content: [Expiration fo

[2018-04-10 09:41] lmb0795 opened #6962 "Maximum number of words that can be added in a phrase list"
Please add information about the Maximum number of words/phrases that can be added in a phrase list feature

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c3e434a-13f9-07b8-294a-34971a205011
* Version Independent ID: 7b525559-5bb4-c82e-84c8-31945f059f6a
* Content: [Understand features in LUIS apps in Azure](https://do

[2018-04-10 09:43] lmb0795 commented on #6962
Just found the link for LUIS Boundaries. Thanks :)
https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-boundaries

[2018-04-10 09:45] dougbw opened #6963 "How to alert on a trace query"
Can you provide some examples on how to setup an alert which queries fields from a trace telemetry object?

Many thanks,
Doug

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab89353c-6acc-9944-40e0-d8ab067e7d41
* Version Independent ID: b8c18210-d14f-4b7c-aee9-545cafd20582
* Content: [Log alerts in Azure Monitor - Alert

[2018-04-10 10:12] daveh101 commented on #5271
@Thraka Thanks for the response.  I had found this file, but the version I have is identical to the one shown.  The build of this file is not really something I understand (or have the time to go through in detail).

What I have found is that the release version of VS2017 works just fine.  This is an issue with the Preview Release.  If it is possible to pass this on to the relevant team to get it

[2018-04-10 10:41] codepossible opened #6965 "Images on documents are too small"
Please make the images zoom-able by clicking on them.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f497268-0c29-4346-b9e9-3a037a13e3d5
* Version Independent ID: e6c64346-6e47-36bb-ef2a-9d6609805377
* Content: [Create a composite entity to extract complex data - Azure](https://docs.microsoft.com/en-us/azure/cognitive

[2018-04-10 10:43] slavizh opened #6966 "Metadata is exposed to this document"
Some of the metadata is exposed directly in this documented.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1eb0407d-f4a5-6059-488d-fd082915c675
* Version Independent ID: 7c2fb429-743c-aea0-f1d5-de6dc2e62e8e
* Content: [ms.custom:](https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-service-endpoints

[2018-04-10 11:39] pjjiangms commented on #6634
@fhe-fr as it is linux vm, I switch the docker to linux container, seems it works.  you can have a try.

[2018-04-10 12:06] #5390 closed

[2018-04-10 12:06] WithHolm opened #6967 "GUID Wrong"
GUID in the examples is defined with 31 characters. A GUID should have 32 characters

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f7a4070-1be8-5f1f-0092-68fb6b9e2305
* Version Independent ID: cd34312f-b507-affe-555e-1e0c63e7d494
* Content: [Attribute-based dynamic group membership in Azure Active Directory](https://

[2018-04-10 12:07] basharSS opened #6968 "Is this will include any extra cost?"
Does ES need licence after install it? Do I have only to pay for VMs I will create or there are some other costs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b640eeb-c8c8-e983-1e73-8a6e37d09db9
* Version Independent ID: 89c2108c-3fa4-5a24-b3f3-ae35b0165eb1
* Content: [Deploy ElasticSearch on a development virtual m

[2018-04-10 12:20] gavinhelyar opened #6969 "Unclear on what AD setup's are supported"
The document doesn't state if it is only possible to Disable Exchange Online Legacy Authentication with Azure AD setup with Active Directory Federation Services and or if it is possible for Azure AD only or AD Connect with or without Password Sync

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad5f26dc-2f8f-ef76-3d20-a

[2018-04-10 12:21] WithHolm opened #6970 "Defining examples for the properties"
Hi! In the user and device property lists you define a rule as "Any string value or null" and show how that would go with "user.property -eq "Someproperty"" while on the rule you define "Any string value" you define both as shown before and "user.property -ne null" (see employeeid). Now this doesent look very defined? is null in the last case defined as "null" or $null? and shouldnt this property

[2018-04-10 12:32] JPadster commented on #6933
Hi Michael,

I created the Logic App via the portal (following the instructions in the
article). The application insights instance was provisioned used ARM. The
app insight's daily ingestion limit is set to 100Gb but we're currently
nowhere near that limit.
I'll follow your suggestion of creating an App Insights resource instance
via the portal and will report back shortly...

Thanks
jP

On Tue, A

[2018-04-10 12:41] Ayanmullick opened #6971 "SQL availability group Load Balancer requirement IaaS vs On-Prem"
Is there a more detailed document illustrating why a SQL availability group needs a Load Balancer in Azure IaaS but not On-Prem?

Is there a way around it in higher versions of SQL or Windows Server?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09504e18-c72f-07ee-3ef8-dc9ed44562ca
* Version Independent ID: 8058bb4f-2

[2018-04-10 13:02] Frankwayne commented on #6788
@Mike-Ubezzi-MSFT    I have sent them an email, and if I  get a working solution I will post the information on how to correct the system  on this issue case.

Thanks for your help

[2018-04-10 13:14] JohnBruceMS opened #6973 "Azure Application Proxy"
Can you add Azure App Proxy to this or one of the other tabs.  It looks like its supported, but not sure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d495f3d-a30d-0e44-a0de-da201e95861c
* Version Independent ID: fa8f545e-e154-16ee-c9ef-0e46ad1b9627
* Content: [Azure Government Security + Identity](https://docs.micr

[2018-04-10 13:15] JohnBruceMS opened #6974 "Azure Government?"
Can this be extended to include the endpoints for the Azure Government clouds or a link provided to those sites.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 048716b1-980b-5de6-06fe-6466a21789f7
* Version Independent ID: 48d9d416-b17a-b5f0-1905-8ca4f0035225
* Content: [Work with existing on-premises proxy servers and

[2018-04-10 13:31] jimdial commented on #6741
#please-close

[2018-04-10 13:33] burkeholland commented on #6905
Hey all!

Mongo DB driver introduced a breaking change with URL encoding as of version 3. The React Cosmos DB project using version 2 of the driver. I need to update the code to properly escape the `==` in the Cosmos DB secret keys.

[2018-04-10 13:36] chrift commented on #6866
Hi @femsulu , did you manage to get anywhere with this?

I'm getting this error also, using the following orchestration steps:

[code]

[2018-04-10 13:45] nermeen12 opened #6976 "Unable to find ML Batch Execution Activity"
I am developing a pipeline to deploy an experiment using Azure Data Factory, I am however unable to find the specified activity "ML Batch Execution Activity" in the Author and Monitor tool, has it been replaced by another type of activity?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87aead2a-319e-0c71-1d5b-8a42ebdca

[2018-04-10 13:53] #6903 closed

[2018-04-10 14:17] fixx220 opened #6977 "AzureRM Upgrade 404"
When clicking on the following link, a 404 is received:  https://aka.ms/azspowershellmigration

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b0612cf-1819-96eb-6462-229e2e8d8662
* Version Independent ID: 0446f4d4-1684-abd1-4d3c-f9c7713e97de
* Content: [Install PowerShell for Azure Stack](https://docs.microsoft.com/en-

[2018-04-10 14:39] alvintai78 commented on #6835
Yes i have installed Azure CLI on my windows machine. I am running this command.
sqlserverid=$(az sql server show -n sql-server-name -g sql-server-group --query 'id' -o tsv)
I have the following error
sqlserverid=$(az sql server show -n sqlserverat -g sqlPaaS --query 'id' -o tsv) : The term 'sqlserverid=$(az sql server show -n sqlserverat -g sqlPaaS --query 'id' -o tsv)' is not recognized as the n

[2018-04-10 14:45] alvintai78 commented on #6835
If i just run the command without the parameter .... i run fine.
az sql server show -n sqlserverat -g sqlPaaS --query 'id' -o tsv

[2018-04-10 14:46] msangapu commented on #6569
@Sanyoq The deploymentLocalGitUrl is not returned because it does not have a linked Git repo. The intent of this article is to show that one can bring their own container to App Service on Linux.

The sample is quite simple and examples of other samples can be found online. I have pasted the dockerfile and main.go here for your convenience. I will work to update the article. Let me know if this he

[2018-04-10 14:50] Sanyoq commented on #6569
Yes, thank you.

2018-04-10 17:46 GMT+03:00 Mangesh Sangapu <notifications@github.com>:

[2018-04-10 14:56] jatal commented on #6786
I see.  I thought I was on V2 page.  Maybe some link got me there and I
didn’t realize it was V2

On Tue, Apr 10, 2018 at 2:16 AM Linda Wang <notifications@github.com> wrote:

--
- Craig R

[2018-04-10 15:01] jatal commented on #6786
Actually please ignore my previous email.

Here is a screenshot showing the current page is V1 and the photo in the
page is V2.

On Tue, Apr 10, 2018 at 2:16 AM Linda Wang <notifications@github.com> wrote:

--
- Craig R

[2018-04-10 15:17] ShaunInIdaho opened #6978 "Broken JSON Example in Runbook Webhook Payload Sample"
Line 95 has an extra '[' that invalidates the JSON.  I tried leaving this feedback on your github page but it won't let me as the button to submit the feedback is grayed out.  It looks like I might have some more feedback on this page as well.  So I'll have to leave it here until the Github issue is resolved.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2018-04-10 15:24] nromyn opened #6979 "Missing Microsoft.Web/customApis ARM Reference Documentation"
https://docs.microsoft.com/en-us/azure/templates/ is an excellent resource; however, it does not contain the reference documentation for Microsoft.Web/customApis.

Apparently this exists internally, based on the thread here: https://social.msdn.microsoft.com/Forums/en-US/016d8890-b7cc-408f-983c-b942cbc613ef/how-to-deploy-logic-app-custom-connector?forum=azurelogicapps

[2018-04-10 15:26] AksanaKuzmitskaya opened #6980 "Multiple services per one cluster"
Is it possible to have multiple services per one Kubernetes cluster?
If yes, can you provide documentation for it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3fc38ecf-87ef-cc6f-dd84-1df3d59081fe
* Version Independent ID: 04721d96-e83a-6d5f-f276-5cb9d4d39762
* Content: [Deploy a model tutorial for Azure Machine Lear

[2018-04-10 15:27] Mike-Ubezzi-MSFT commented on #6740
@beneuto We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.
Regards,
Mike

[2018-04-10 15:29] Mike-Ubezzi-MSFT commented on #6758
@tarunaroraonline We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.
Regards,
Mike

[2018-04-10 15:29] AksanaKuzmitskaya commented on #6654
I was able to resolve the issue when reinstalling Azure ML Workbench.

[2018-04-10 15:35] mattbriggs commented on #6977
@fixx220 The content has been deprecated. I will have to remove the note. However, Do you need assistance migrating from 1.2.10? #in-progress

[2018-04-10 15:38] neilpeterson commented on #6269
To me it looks like the preview update has been added to the ja-jp version of this doc.

#please-close

[2018-04-10 15:40] fixx220 commented on #6977
Hi Matt,

Thanks for getting back to me, no help required here but thanks for the offer, much appreciated.
Out of curiousity though, what specifically has been deprecated, the entire article or that specific note?
How would someone reading it, be made aware of that, is it listed on the page?  Quite possible I’m missing it 😊

Thanks,

David Fleming

Sent from Mail for Windows 10

__________________

[2018-04-10 15:41] Mike-Ubezzi-MSFT commented on #6955
@ydogandjiev I believe the Mongo DB driver introduced some issues with this tutorial. It potentially has to do with version 2 versus version 3, as the React Cosmos DB project is using version 2. Let me reach out to the content owner. Thanks for bringing this to our attention.
Regards,
Mike

[2018-04-10 15:41] fixx220 commented on #6977
Actually, scratch that reply.  I assume you’re refering to the actual link I raised the issue about haha...it’s late in the day over here 😊
So it’s just the note on the page that removed then?

Thanks again.

David Fleming

Sent from Mail for Windows 10

________________________________
From: Matt Briggs <notifications@github.com>
Sent: Tuesday, April 10, 2018 4:35:15 PM
To: MicrosoftDocs/azure-do

[2018-04-10 15:45] SnehaGunda commented on #6905
@mimig1 only CXP team has permissions to assign this issue to me. @Mike-Ubezzi-MSFT please assign this issue to me.

[2018-04-10 15:45] Mike-Ubezzi-MSFT commented on #6955
@burkeholland Another GitHub issue potentially related to the Mongo DB driver version issue as identified with GitHub #6905.

[2018-04-10 15:49] mattbriggs commented on #6977
@fixx220 Oh the content that is being linked to has been deprecated, and so the link is broken. However, the issue is still relevant if you need guidance on migrating your scripts from 1.2.10 version to the currently supported version for Azure Stack. If this is the case, then I will need to create a proper topic.

[2018-04-10 15:52] sfilatov opened #6981 "DnsService and dynamic ports"
Can I use dynamic ports for services and DNS service together?
From that article, it's not clear. Example provided have port passed together with domain name.
On diagram I see that port resolved also by DNS.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d273a891-b7f9-81db-bfc5-044e6755541f
* Version Independent ID: dc

[2018-04-10 15:52] fixx220 commented on #6977
No assistance required at this point Matt.  Issue can be closed off.

Thnaks again,

David Fleming

Sent from Mail for Windows 10

________________________________
From: Matt Briggs <notifications@github.com>
Sent: Tuesday, April 10, 2018 4:49:16 PM
To: MicrosoftDocs/azure-docs
Cc: David Fleming; Mention
Subject: Re: [MicrosoftDocs/azure-docs] AzureRM Upgrade 404 (#6977)

@fixx220<https://nam02.sa

[2018-04-10 15:54] mattbriggs commented on #6977
Thanks David for letting me know about the link issue. Cheers! Matt

[2018-04-10 15:59] #6654 closed

[2018-04-10 16:05] MicahMcKittrick-MSFT commented on #6953
@tatazoe Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-04-10 16:06] MicahMcKittrick-MSFT commented on #6960
@jason279 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-10 16:07] MicahMcKittrick-MSFT commented on #6968
@basharSS Thanks for the question! We are currently investigating and will update you shortly.

[2018-04-10 16:08] MicahMcKittrick-MSFT commented on #6971
@Ayanmullick Thanks for the question! We are currently investigating and will update you shortly.

[2018-04-10 16:09] MicahMcKittrick-MSFT commented on #6952
@KeiroKamioka0000 thanks for getting back and glad to hear you were able to figure it out :)

[2018-04-10 16:09] #6952 closed

[2018-04-10 16:12] mattbriggs commented on #6870
@eaglelim I got this information from one of the program managers working with the product:

"This seems to be caused by some known regression issue in Storage Explorer 0.9.6 version that **Sign in resource id** and **ARM resource id** aren’t fetched properly during sign-in.

As a workaround, user can execute the sample cmdlet for ASDK below in Windows command line and then input the returned valu

[2018-04-10 16:37] MicahMcKittrick-MSFT commented on #6134
@imaterek I will close this for now. Please reopen when you are ready to continue.

[2018-04-10 16:39] MicahMcKittrick-MSFT commented on #6646
@fhe-fr you can also try reinstalling Azure ML Workbench. I recently had another issue that was similar and that fixed the issue.

I will close this out for now but when you are ready to continue please come back and we can reopen.

[2018-04-10 16:39] #6646 closed

[2018-04-10 16:39] MicahMcKittrick-MSFT commented on #6885
@danyongliu I will close this out for now. When ready, please come back with the above ask and we can continue.

[2018-04-10 16:39] #6885 closed

[2018-04-10 16:40] #6740 closed

[2018-04-10 16:41] #6758 closed

[2018-04-10 16:42] SharmainePopov opened #6982 "remaining write requests"
Hi, using azure cli, how can I get a value for x-ms-ratelimit-remaining-subscription-writes ? "read" value is returned only

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b0e0e84a-7aa0-e751-f7b0-f60505df154a
* Version Independent ID: 93bfc173-6c71-5601-dbf1-8cf551a42495
* Content: [Azure Resource Manager request limits

[2018-04-10 16:43] MisinformedDNA commented on #6937
Thanks. Maybe a link could be added from https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/monitor-alerts-unified-usage to https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/monitoring-near-real-time-metric-alerts#metrics-and-dimensions-supported?

[2018-04-10 16:45] YutongTie-MSFT commented on #6965
@codepossible Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-10 16:48] YutongTie-MSFT commented on #6980
@AksanaKuzmitskaya  Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-10 16:48] MicahMcKittrick-MSFT commented on #6902
@dacarubio thanks for clarifying. I am looking into this and will update you shortly.

[2018-04-10 16:52] MicahMcKittrick-MSFT commented on #6960
@jason279 we have some of this information available **[here](https://azure.microsoft.com/en-us/pricing/details/virtual-machines/series/)** which should give you a good idea of the speeds.

We don't have the information available when you are creating a VM via the portal. However, you can leave that feedback on [**UserVoice**](https://feedback.azure.com/forums/34192--general-feedback).

Can you cl

[2018-04-10 16:53] nberdy commented on #6824
@smoms Confirmed :) Here's the reply I posted on the blog:
The device does receive the IoT Hub key in step 6. I think the confusion stems from there being two SAS tokens - one used in step 3 to validate ownership of the private portion of the TPM endorsement key, and one in step 6 to connect to IoT Hub. By the end of the whole process, the device has a symmetric key in the TPM it can use to genera

[2018-04-10 16:55] MicahMcKittrick-MSFT commented on #6968
@basharSS Elastic Stack, Logstash and Kibana are open source and free to use. So you only need to pay for the VM resources :)

[2018-04-10 16:55] #6968 closed

[2018-04-10 16:56] JozoSlejko opened #6983 "App Service Environment for PowerApps"
If your website is hosted in App Service Environment for PowerApps....
This is an error, there isn't ASE for PowerApps, only ASE.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: faf51d71-e1ea-a6ca-ce01-60f043d4ea88
* Version Independent ID: 18debbc5-b26e-9aba-78d5-01c03970e62a
* Content: [Configuration FAQs for Azure we

[2018-04-10 16:58] CaryJ commented on #6612
Thank you for the response.

[2018-04-10 17:02] hctrr opened #6984 "ACS CCE IDs do not map to NIST CCE IDs"
I’m noticing some discrepancies between all the CCE ids and overall National Vulnerability Database that the Azure documentation outlines.

The CCE website is in “Archive” Status. Based on the website, NIST is now hosting the official CCE list, however this was last updated on February 14, 2013.

The National Vulnerability Database (NVD) provides an XML download to review the STIG benchmark which

[2018-04-10 17:03] MicahMcKittrick-MSFT commented on #6981
@sfilatov Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-10 17:06] vasivara-MSFT commented on #6966
@slavizh Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-04-10 17:08] YutongTie-MSFT commented on #6962
@lmb0795  We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-10 17:08] #6962 closed

[2018-04-10 17:09] MohitGargMSFT commented on #6974
@JohnBruceMS Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-10 17:10] vasivara-MSFT commented on #6979
@nromyn Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-10 17:12] MohitGargMSFT commented on #6970
@WithHolm Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-10 17:13] YutongTie-MSFT commented on #6965
@codepossible Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@v-geberr The user provided a feedback about photos zoom-able, please update as necessary. Thank you!

[2018-04-10 17:14] MohitGargMSFT commented on #6969
@gavinhelyar Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-10 17:14] femsulu commented on #6954
@jefffanjoy Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-04-10 17:15] vasivara-MSFT commented on #6957
@niceysj Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-10 17:15] smoms commented on #6824
@nberdy  thanks lot!

[2018-04-10 17:15] MohitGargMSFT commented on #6967
@WithHolm Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-10 17:16] amanarneja commented on #6571
@cjgronlund During my investigation for this issue the text is not very intuitive when the text says "in to the portal using" that this is not the Azure portal but the Bing Custom Search portal. There is a link at the top section, but would be good to make this clear in the steps as well.

[2018-04-10 17:17] #6977 closed

[2018-04-10 17:18] MohitGargMSFT commented on #6961
@hbaeleMCT Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-10 17:21] AksanaKuzmitskaya opened #6985 "error when installing new version of Azure ML Workbench on macOS"
I had an older version of ML Workbench and removed it.
Also, I used macOS bash shell script you provide to completely remove Workbench installation on macOS.
When I install a new version of ML Workbench I run into error:
4/5/2018 2:04:34 PM 472: Installer [Information] - 0: Application of azure_cli_ml_cliextension.macos took 00:00:04.6435209
4/5/2018 2:04:34 PM 472: Installer [Error] - 0: Error in

[2018-04-10 17:24] iainfoulds commented on #6174
@danielsollondon and @RicksterCDN have an active work item to update the extensions docs, including the Custom Script Extension doc, which should address these needs. The updated extension docs are scheduled to go live next month.

For now, #please-close

[2018-04-10 17:25] #6269 closed

[2018-04-10 17:25] femsulu commented on #6973
@JohnBruceMS Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-04-10 17:25] #6381 closed

[2018-04-10 17:26] #6436 closed

[2018-04-10 17:26] #6576 closed

[2018-04-10 17:27] #6703 closed

[2018-04-10 17:27] montereyharris opened #6987 "Step 12c Inaccurate"
Select Enable Workday Initiated Logout. Should be select IDP initiated log out. This would match the picture. Workday Initiated Log Out doesn't work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18eabd03-e535-e846-e4ad-c4394f581013
* Version Independent ID: 1d98ce13-5bb7-9cb8-c2b7-3c711a7e03e1
* Content: [Tutorial: A

[2018-04-10 17:28] #6741 closed

[2018-04-10 17:28] iainfoulds commented on #6790
Hi, @trelane. If you have specific needs, please re-open this issue or reach out to Azure support.

For now, #please-close

[2018-04-10 17:28] #6756 closed

[2018-04-10 17:29] #6768 closed

[2018-04-10 17:30] georgewallace commented on #6728
@Ayanmullick, we’re you able to test the query?

[2018-04-10 17:31] #6824 closed

[2018-04-10 17:31] #6860 closed

[2018-04-10 17:32] georgewallace commented on #6630
This has been added to the article #please-close

[2018-04-10 17:32] #6872 closed

[2018-04-10 17:39] vasivara-MSFT commented on #6978
@ShaunInIdaho Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-10 17:42] #6790 closed

[2018-04-10 17:44] femsulu commented on #6982
@SharmainePopov Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-10 17:45] vasivara-MSFT commented on #6174
@jtuliani We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-10 17:45] #6174 closed

[2018-04-10 17:48] iainfoulds commented on #6580
Thanks for the feedback, @kjhosein. I've created a PR that updates this. When the PR merges, this issue will automatically close. The doc will then publish live later on this afternoon.

CC @mmccrory for awareness

[2018-04-10 17:49] vasivara-MSFT commented on #6976
@nermeen12 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-10 17:51] iainfoulds commented on #6775
Hi, @alexandair . The changes have merged and will publish later on this afternoon (3pm PST). Once live, can you review and let @VaijanathB know if anything additional is required, please?

[2018-04-10 17:53] iainfoulds commented on #6310
Hi, @Ayanmullick. There is a Windows version of this doc already live at https://docs.microsoft.com/azure/virtual-machines/windows/serial-console

CC @harijayms for awareness

#please-close

[2018-04-10 17:58] bandersmsft commented on #6763
@medavamshi We've updated the article to correct the commands. Thanks for your feedback!

[2018-04-10 17:58] bandersmsft commented on #6763
#please-close

[2018-04-10 18:01] bandersmsft commented on #6750
@jtuliani Chris has updated this article to clarify and has an action item to scrub the samples repo.

[2018-04-10 18:01] bandersmsft commented on #6750
#please-close

[2018-04-10 18:01] Ayanmullick commented on #6310
The console itself should be PowerShell-based like the PowerShell Cloud Shell. It also should enable me to manage the Linux VM's thru PowerShell Core.

[2018-04-10 18:02] femsulu commented on #6877
@atrosity A fix has been initiated to fix the typo. Will update once the fix is live.

[2018-04-10 18:03] georgewallace commented on #6929
@Discostu36, Thanks for contributing to our docs, I am researching this.

[2018-04-10 18:05] iainfoulds commented on #6310
That makes sense for @harijayms and the other PMs to review. It's great product feedback to leave at https://aka.ms/serialconsolefeedback

#please-close

[2018-04-10 18:09] YutongTie-MSFT commented on #6985
@AksanaKuzmitskaya Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-10 18:11] d3r3kk opened #6988 "Provide more definitive guidance on GeoIP lookup from Application Insights"
It would be useful to provide our customers that make use of GeoIP lookups some more definitive information regarding our offering in this area.

Currently, we simply state that GeoIP might not be complete/reliable, but really what we might want to say is something far more clear such as:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2018-04-10 18:23] FrancisRD91 opened #6989 "ADF JIRA connector"
Good day,

This is not specifically an issue, but I'm looking for more information about why the Jira connector is in a beta state if it has any security flaws or it may have unexpected behaviors or simply because you are adding new features.

Thanks in advance.
Regards

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce

[2018-04-10 18:25] sandeepchauhan opened #6991 "Giving a pointer to secret not working as expected"
I am trying to create service fabric cluster using directions in "Use a pointer to the secret you already have uploaded into the key vault" section. As per the directions I left the "sourceVaultValue", "certificateThumbprint" and "certificateUrlValue" fields as empty and provided a reference to my certificate (uploaded to a keyvault) using "-SecretIdentifier" in the command. I keep getting followi

[2018-04-10 18:28] nromyn opened #6992 "Missing Microsoft.Web/config ARM Reference Documentation"
https://docs.microsoft.com/en-us/azure/templates/microsoft.web/sites is missing documentation for the /config/authsettings

It is documented in a roundabout way here: https://docs.microsoft.com/en-us/rest/api/appservice/WebApps/UpdateAuthSettings

The entire /config section is in fact missing as the Feedback section reflects - so no authsettings, no appsettings, connectionstrings - there's shortcu

[2018-04-10 18:33] Thraka commented on #5271
I'll flag the product team. Sorry this is happening. How annoying! 😭

[2018-04-10 18:33] mattbriggs commented on #6870
@eaglelim Sorry about that. I marked it as #please-close. Please post your update if (when!) you have questions about the work around. Cheers, Matt

[2018-04-10 18:38] tfitzmac commented on #6660
#please-close

[2018-04-10 18:42] cgillum commented on #6660
Thanks @tfitzmac, these changes look great. I appreciate the quick turnaround on this!

[2018-04-10 18:42] #6660 closed

[2018-04-10 18:43] femsulu commented on #6877
@atrosity <Retraction> the fix has been reverted. After consulting with the content owner, it has been confirmed that the @RBParams is indeed the right syntax here. Changing it to a variable "$RBParams" will prompt the for the parameters. Using "@RBParams" works as expected.</Retraction>

using "$RBParams"
![image](https://user-images.githubusercontent.com/34327711/38576848-1d77a0ae-3cb4-11e8-8325

[2018-04-10 18:44] eaglelim commented on #6870
@mattbriggs - the information from the powershell cmdlet did not work; still got an "Unable to sign in: invalid_resource: AADSTS50001" error. If you could get the next version of Storage Explorer working, it would help; otherwise help provide a way to get the parameters that will workaround the issue :) thank you.

[2018-04-10 18:44] femsulu commented on #6877
@atrosity Closing this thread as resolved. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-10 18:44] #6877 closed

[2018-04-10 19:02] SharmainePopov commented on #6889
yES

Sharmaine Popov
Cloud Solution Architect |Microsoft Canada Inc. | sharmaine.popov@microsoft.com<mailto:sharmaine.popov@microsoft.com> | 416-799-0807

From: Micah <notifications@github.com>
Sent: Monday, April 9, 2018 3:53 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Sharmaine Popov <Sharmaine.Popov@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Micro

[2018-04-10 19:10] burkeholland commented on #6955
I believe this is a Mongoose issue. I have resolved it in the project by setting `autoIncrement` to false in the Mongoose Schema.

[2018-04-10 19:11] #6580 closed

[2018-04-10 19:26] alexandair commented on #6775
Sure, I'll do that.

[2018-04-10 19:28] stewartadam opened #6993 "Add note about requiring 'offline_access' scope for refresh tokens"
The spec and examples note that a refresh token is returned, but this is not true. By default, a refresh token is excluded from the on_behalf_of flow response and one must explicitly request the "offline_access" scopes to obtain one, per https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-v2-scopes#offlineaccess.

---
#### Document Details

⚠ *Do not edit this section.

[2018-04-10 19:31] lawrence-jeff opened #6994 "Important security nuance missed"
Q: Can I block users from resetting their password?

A: Yes, if you use a group to enable SSPR, you can remove an individual user from the group that allows users to reset their password.

This really should be amended to indicate that this control does not prevent GAs from using SSPR.
Something like:
A: Yes, if you use a group to enable SSPR, you can remove an individual user from the group that

[2018-04-10 19:36] YutongTie-MSFT commented on #6985
@AksanaKuzmitskaya  Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@Svankam This is a issue when install new version of ML workbench on MacOS. Can you please help with it and update the document as necessary? Thanks a lot!

[2018-04-10 19:37] DeanGross opened #6995 "Editing an existing rule"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f7a4070-1be8-5f1f-0092-68fb6b9e2305
* Version Independent ID: cd34312f-b507-affe-555e-1e0c63e7d494
* Content: [Attribute-based dynamic group membership in Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/active-directory-groups-dynamic-member

[2018-04-10 19:37] Ke-Dou opened #6996 "Groups claim is missing in JWT token"
We have set "groupMembershipClaims" to  "SecurityGroup" in the application manifest, but we are not seeing the groups claim in the token. The only claim related to groups we see in the token is the "hasGroup" claim whose value is "true".  The number of groups of our users doesn't exceed the overage limit (150 for SAML tokens, 200 for JWT tokens), as documented in this blog https://cloudblogs.micro

[2018-04-10 19:51] MicahMcKittrick-MSFT commented on #6971
@Ayanmullick I assume you are referring to the following statement:

I believe this statement is misleading. There is nothing stopping you from creating a SQL machine in an AV set without a load balancer. However, when creating the load balancer you can opt to balancer between VMs in an AV set. In addition, it is best practice to combine an AV set with a load balancer to manage high availability.

[2018-04-10 19:52] JasonWHowell commented on #6002
@JunyuanZheng
Do you have a workaround after restarting the job? It sounded like you do, but want to double check that you aren't blocked. Filing a bug is not a problem. Thanks, Jason

[2018-04-10 19:53] MicahMcKittrick-MSFT commented on #6957
@niceysj sorry but I do not understand your question. Are you having issues connecting to your VPN device? Are you following a specific area of this doc? Please elaborate.

[2018-04-10 19:54] DeanGross commented on #6995
I answered my own question and would like to close/cancel/delete this but I can't figure out how to do that

[2018-04-10 19:54] #6995 closed

[2018-04-10 19:56] MicahMcKittrick-MSFT commented on #6981
@msfussell is this something you can shed some light on?

[2018-04-10 19:57] spottedmahn opened #6997 "Dates and times reference | Broken Link?"
From the above [Dates and times reference](https://docs.loganalytics.io/concepts/concepts_datatypes_datetime.html) seems to be broken (or temporarily down, not sure which one)

![image](https://user-images.githubusercontent.com/14079228/38580398-d64cfee4-3cd7-11e8-9db3-2d0ed3ccdcff.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2018-04-10 20:00] AksanaKuzmitskaya commented on #6980
Was able to create multiple services per cluster. Issue resolved.

[2018-04-10 20:05] Ayanmullick commented on #6971
Yes. So what challenges could one face if one deploys a 2-node SQL AlwaysOn Cluster in an availability Set and connects directly to the SQL listener IP without any Load Balancer in between?

[2018-04-10 20:17] MicahMcKittrick-MSFT commented on #6971
@Ayanmullick if you don't use a load balancer and one of your SQL machines go down traffic would not be automatically directed to the running machine. This could impact your production as any services using the machine that went down would not work.

One of the main purposes of a load balancer is to distrubute traffic to avaialble machines and redirect it when there is a problem. So although you c

[2018-04-10 20:19] MohitGargMSFT commented on #6893
@Robamalama We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-10 20:19] #6893 closed

[2018-04-10 20:20] MohitGargMSFT commented on #6908
@dm3942 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-10 20:20] #6908 closed

[2018-04-10 20:22] spottedmahn opened #6998 "Add Time Filter Example"
Let's say I want to filter traces between 8:02:05 AM and 8:44:32 AM on 2018-04-10, how would I do that?

Can the [The time examples](https://docs.microsoft.com/en-us/azure/application-insights/app-insights-analytics-tour#time) be extended to include such an example?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22f708

[2018-04-10 20:23] bennbatt8112 opened #6999 "Updated Extension Schema"
Hi,

Been running into some issues with the Custom Script Extension. Specifically I'm trying to apply the same CSE two X VMs through a copy loop, but I'm running into issues (first VM gets the script run, second script gets Files downloaded, but resource hangs and deployment times out).

I see that there is an effort to update documentation currently in progress, but I'd like to voice some need fo

[2018-04-10 20:24] Ayanmullick commented on #6971
But why don't I face the same issue without a Load Balancer on-Prem?

[2018-04-10 20:27] vasivara-MSFT commented on #6977
@fixx220  We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-10 20:28] vasivara-MSFT commented on #6310
@Ayanmullick  We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-10 20:28] #6310 closed

[2018-04-10 20:29] MicahMcKittrick-MSFT commented on #6971
@Ayanmullick I believe that is just the difference between running in the cloud and running on prem. The environment is different and require different settings to work. Not 100% sure I can provide a complete answer as it is just how it was designed to work. @MikeRayMSFT might be able to elaborate further than I can.

[2018-04-10 20:29] vasivara-MSFT commented on #6630
@MNF We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-10 20:29] #6630 closed

[2018-04-10 20:30] vasivara-MSFT commented on #6750
@jtuliani We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-10 20:30] #6750 closed

[2018-04-10 20:31] vasivara-MSFT commented on #6763
@medavamshi We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-10 20:31] #6763 closed

[2018-04-10 20:38] roygara commented on #6594
#please-close

Issue in the article has been fixed.

[2018-04-10 20:41] TomArcher commented on #6209
@CapKenR Apologies for not getting back to you sooner. I've forwarded this issue to the product team, and am working with them to determine the appropriate next action. Thanks for your patience!

[2018-04-10 20:48] SnehaGunda commented on #6002
@JunyuanZheng Thanks for reporting this issue, it looks like the workaround was to restart the job, we need to investigate more on this issue, we have a work item to track this. If you aren't further blocked, we can close this issue and get back to you when its resolved.

[2018-04-10 20:55] cynthn commented on #6953
#please-close @tatazoe thank you for the feedback! We are currently discussing how to address differences between classic and Resource Manager in the VM sizes docs. There should be some changes to the docs coming soon.

[2018-04-10 21:00] dbreshears commented on #5271
I think we have spotted the issue and regression in the targets, ,  sorry about the issue and we will get it resolved in an upcoming preview release of 15.7

[2018-04-10 21:02] cynthn commented on #6494
@rowong outside of the basic syntax for the storage profile block and creating the VM in a different resource group, is there anything else that you think should be covered? It is kind of hard to show a "full sample" because a template shows every tiny piece of the deployment... and it really is easiest to just pull a template from another VM, edit and redeploy. But, if there are other common scen

[2018-04-10 21:06] vasivara-MSFT commented on #6976
@nermeen12 You would be able to find the instructions in the document section ["Azure Machine Learning linked service"](https://docs.microsoft.com/en-us/azure/data-factory/transform-data-using-machine-learning#azure-machine-learning-linked-service) which states the steps "You create an Azure Machine Learning linked service to link an Azure Machine Learning Web Service to an Azure data factory. The

[2018-04-10 21:08] cjgronlund commented on #6571
#in-progress
@amanarneja Thank you for investigating. @desslocktx Thank you for this excellent feedback!
@MikeDodaro Is this documentation your team group owns? Thank you!

[2018-04-10 21:12] cjgronlund commented on #6811
#in-progress

[2018-04-10 21:12] MohitGargMSFT commented on #6922
@pedrr Thanks, you are right. This section [Enable resource-based Kerberos constrained delegation for the Azure AD Application Proxy connector](https://docs.microsoft.com/en-us/azure/active-directory-domain-services/active-directory-ds-deploy-azure-app-proxy#enable-resource-based-kerberos-constrained-delegation-for-the-azure-ad-application-proxy-connector) in the document helps with the steps on t

[2018-04-10 21:14] MikeDodaro commented on #6571
I'll fix it.

[2018-04-10 21:16] TomArcher commented on #5421
@joeshepherdmba I believe this is now addressed in that article in Step #9. Please let me know if you need anything further. Thanks for the feedback!

[2018-04-10 21:17] MS-Santi opened #7001 "Error when installing new verson of Azure ML Workbench on MacOS 10.3.4"
I too had an older version. I tried installing over it. I tried removing the old version and installing the new one. I always get the error below. I tried creating the folder structure and creating a link to python (since it's claiming it can't find it in the reported path, but then the same happens but the file it can't find is az-installer).

...
4/10/2018 2:07:39 PM 8: Installer [Information] -

[2018-04-10 21:18] TomArcher commented on #6209
@CapKenR I spoke with the Terraform team, and we are in agreement that we believe the article does what it states it will cover per the intro paragraph. Please let me know what exactly you're looking for, and we discuss. Thanks!

[2018-04-10 21:26] cynthn commented on #6494
#in-progress

[2018-04-10 21:27] rowong commented on #6494
A small snippet in the article itself is fine, but I think that there should be an example of using a managed image in the ARMTemplates samples GitHub repo and have the article link to it.  There were some other parameters I had to set in the storageProfile section that weren't covered in the stack overflow question.

EG these are the fields I ended up filling out to make it work:
"storageProfile"

[2018-04-10 21:28] Ayanmullick commented on #6728
It worked! I added the 'Alert Management' Solution to my work-space and created an alert as suggested.  I got the Patch in progress notification.

I will work towards alerts for a 24hr notice, a beginning notice and a completion notice.

[2018-04-10 21:28] omidrajaee commented on #6422
I've used both IKEv1 and IKEv2 on Cisco AS Cisco Adaptive Security Appliance Software Version 9.1(7)23
But I could not establish the connection!! still, I am not sure because of my device which is pretty old or firmware?!

[2018-04-10 21:29] cjgronlund commented on #6811
@gopitk Please review this issue and submit a fix as appropriate. @ me on your response, pls.

[2018-04-10 21:31] JunyuanZheng commented on #6002
Sounds good!

[2018-04-10 21:35] iainfoulds commented on #5659
@EricRadzikowskiMSFT Can you help review this, please?

@clarkbreyman-yammer What is the discrepancy between the datetime format you receive and the `NotBefore` datetime format shown in the docs?

[2018-04-10 21:35] MicahMcKittrick-MSFT commented on #6991
@sandeepchauhan Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-10 21:36] MicahMcKittrick-MSFT commented on #6999
@bennbatt8112 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-10 21:41] femsulu commented on #6911
@gunnboy
A fix has been initiated to fix the typo. Will update once the fix is live.

[2018-04-10 21:42] femsulu commented on #6937
@msvijayn , assigned this to you for further correspondence.

[2018-04-10 21:43] tfitzmac commented on #6979
@nromyn - thanks for pointing that out. I have updated the template docs and that type is now published. [microsoft.web/customapis](https://docs.microsoft.com/en-us/azure/templates/microsoft.web/customapis)

[2018-04-10 21:45] gopitk commented on #6811
Sorry. This was a bug that was intreoduced in the most recent version. You can overcome this till our next release in the following ways:

1. Access Jupyter server from your client machine directly using JupyterHub. The URL would be https://<VM DNS Name or IP>:8000/ . If you have the default self signed cert instead of a real certificate you may get a warning. If you get past the warning you will

[2018-04-10 21:51] msfussell commented on #6981
Yes, you can use dynamic ports for the Service and with DNS. The DNS service simply resolves a name down to the Naming Service ultimately, which handles dynamic ports. i.e. The DNS service is an abstraction over the Naming Service to make it easy to use with DNS names

[2018-04-10 21:53] MohitGargMSFT commented on #6931
We will proceed to close this thread. As discussed, please open a new MSDN forum post and community will help address your query. Please refer to below link to MSDN forum to ask new question -
[https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazureplatform](https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazureplatform)

[2018-04-10 21:53] #6931 closed

[2018-04-10 21:54] jeevansd commented on #6939
@cleangear You need to update the Identifier for the TOPdesk application in Azure AD. Make sure that the value is this https://pad-test.topdesk.net/saml-metadata/227e17a3-2196-4f32-b17b-1aef6ce40c75 if not then update it and then the error will go away.

[2018-04-10 21:56] femsulu commented on #6951
@LuisLoranca We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-10 21:56] #6951 closed

[2018-04-10 21:57] #6002 closed

[2018-04-10 21:57] ChackDan commented on #6991
Can you assign this to Juhacket.

From: Micah <notifications@github.com>
Sent: Tuesday, April 10, 2018 2:35 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Chacko Daniel <chackdan@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Giving a pointer to secret not working as expected (#6991)

@sandeepchauhan<https://na01.safelinks.protecti

[2018-04-10 21:58] ggailey777 commented on #5178
@mathewc do you know if there is an issue open for using SAS in bindings?

[2018-04-10 21:58] femsulu commented on #6979
@nromyn  We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-10 21:58] #6979 closed

[2018-04-10 22:04] vasivara-MSFT commented on #6978
@ShaunInIdaho Thanks a lot for letting us know. The changes have been made and the page will be updated soon

[2018-04-10 22:05] vasivara-MSFT commented on #6978
@ShaunInIdaho We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-10 22:05] #6978 closed

[2018-04-10 22:10] jason-j-MSFT commented on #6786
@jatal I'm not seeing your screenshot, could you try again?  I looked again and I see that @linda33wj is correct that the correct version screenshot is showing on the ADFv1 page:
![capture5](https://user-images.githubusercontent.com/37126381/38586079-30878138-3cd1-11e8-80fc-7d12e26062ad.PNG)

[2018-04-10 22:13] vasivara-MSFT commented on #6594
@shahrulazwan We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-10 22:13] #6594 closed

[2018-04-10 22:14] tfitzmac commented on #6992
@nromyn - thanks! I am not sure why our process is missing those types during generation, but I'll look into it.

[2018-04-10 22:17] vasivara-MSFT commented on #6988
@d3r3kk Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-04-10 22:26] vasivara-MSFT commented on #6997
@spottedmahn Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-04-10 22:28] vasivara-MSFT commented on #6998
@spottedmahn Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-04-10 22:28] CapKenR commented on #6209
Interesting... I completely missed the load_balancer_backend_address_pools_ids option both here and in the Terraform documentation. I'll give it a try.

[2018-04-10 22:28] #6209 closed

[2018-04-10 22:31] Ayanmullick opened #7003 "Disk configuration recommendation for SQL VM"
Is it Microsoft-recommended to deploy a SQL VM with just one disk? How do I specify so that SQL is installed on a separate disk than the OS disk like one can thru the GUI upon selecting the 'SQL2014SP2-WS2012R2-BYOL' image?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a579328c-82f8-07b1-f5f7-0310840d30a8
* Version In

[2018-04-10 22:33] cjgronlund commented on #6571
@MikeDodaro If the problem is on MS Docs, I can help. If it's on azure.microsoft.com, ping Lisa Toftemark. Thanks!

[2018-04-10 22:36] TomArcher commented on #6209
@CapKenR I'm glad you found what you needed. If you feel that this option can be better called out so that the next person finds what they need faster, please let me know.

[2018-04-10 22:37] cjgronlund commented on #6571
#please-close

[2018-04-10 22:51] BryanTrach-MSFT commented on #6983
@JozoSlejko Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-10 22:54] jason-j-MSFT commented on #6792
@Ayanmullick The list you supplied is a list of tables that are created in Log Analytics where Azure SQL Database will send data.  A description of all the columns in those tables can be found here:
https://docs.microsoft.com/en-us/azure/sql-database/sql-database-metrics-diag-logging#metrics-and-logs-available

You build queries with those table names as described here:
https://docs.microsoft.com/

[2018-04-10 22:54] #6792 closed

[2018-04-10 23:06] vasivara-MSFT commented on #6992
@tfitzmac  Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-10 23:13] vasivara-MSFT commented on #6958
@rafa-el-nunes Thanks for the feedback! The issue has been assigned to the content author to evaluate and update as appropriate.

[2018-04-10 23:15] tfitzmac commented on #6982
@SharmainePopov - thanks for this question. It should be returned during write operations. For example, az group create -n myrg5 --location westus --verbose --debug

I'll add that to the article.

[2018-04-10 23:21] KeiroKamioka0000 opened #7004 "About the snapshots"
Is locally save snapshots will be saved as [Incremental Backup]?
Is the first backup will be [Full Backup?]

Thanks,

Comparing Full, Differential and Incremental backup
https://docs.microsoft.com/en-us/azure/backup/backup-introduction-to-azure-backup#comparing-full-differential-and-incremental-backup

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2018-04-10 23:25] beatgates opened #7005 "API Reference link for node.js was actually pointing to java"
Wrong URL need to be fixed

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33af8d92-74d2-2cdd-53f9-299eca57969e
* Version Independent ID: 6029edb3-5839-c2c3-6ce0-30349eccf6b9
* Content: [Understand the Azure IoT SDKs](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-sdks)
* Content Source: [articles/iot-h

[2018-04-10 23:37] Fleid opened #7006 "Note on potential Azure Resource Provider error"
[Enter feedback here]

Hi folks, I experienced a deployment error on step **Prepare to operationalize locally > 2**:

`"message": "SubDeployment: OperationId=1F7900E75998AB6B, ProvisioningState=Failed, StatusCode=Conflict, StatusMessage={\n  \"error\": {\n    \"code\": \"MissingSubscriptionRegistration\",\n    \"message\": \"The subscription is not registered to use namespace 'Microsoft.ContainerR

[2018-04-10 23:44] vasivara-MSFT commented on #7005
@beatgates Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-04-10 23:44] MohitGargMSFT commented on #6994
@lawrence-jeff Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-10 23:45] MohitGargMSFT commented on #6993
@stewartadam Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-10 23:48] MicahMcKittrick-MSFT commented on #7003
@Ayanmullick You would have to deploy a 2012R2 machine then install SQL on it after that fact. We don't have an option to install it on another disk when provisioning if you are using a SQL image.

As per the disks, it is suggest you use attached data disks for all date. You can refer to the [SQL performance guide on our best practices.](https://docs.microsoft.com/en-us/azure/virtual-machines/wind

[2018-04-10 23:49] MohitGargMSFT commented on #6984
@hctrr Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-10 23:53] vasivara-MSFT commented on #6995
@DeanGross Thank you for closing this issue

[2018-04-10 23:56] SharmainePopov commented on #6982
Hi thanks...it is, eventually figured it out.

Get Outlook for Android<https://aka.ms/ghei36>

From: Tom FitzMacken
Sent: Tuesday, April 10, 7:15 PM
Subject: Re: [MicrosoftDocs/azure-docs] remaining write requests (#6982)
To: MicrosoftDocs/azure-docs
Cc: Sharmaine Popov, Mention

@SharmainePopov<https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FSharmainePopov&data=02%7C

[2018-04-11 00:00] MohitGargMSFT commented on #6996
@Ke-Dou Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-11 00:01] MohitGargMSFT commented on #6987
@montereyharris Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-11 00:07] MicahMcKittrick-MSFT commented on #6999
@bennbatt8112 I have assigned this to the content author to review and update the doc as appropriate.

@danielsollondon can you please take a look?

[2018-04-11 00:08] MicahMcKittrick-MSFT commented on #6745
@sramareddi I will close this out for now. When ready please reopen and we can continue.

[2018-04-11 00:08] #6745 closed

[2018-04-11 00:11] cjgronlund commented on #6811
@gopitk Thank you for this answer. Could you submit a change to the docs to cover this issue, unless the new release is imminent? Thank you!

[2018-04-11 00:12] cjgronlund commented on #6031
@gopitk
Please add this info to the documentation.

[2018-04-11 00:13] cjgronlund commented on #6023
@gopitk Thank your for this info.
@kringen Good question! Thank you for asking.

[2018-04-11 00:13] cjgronlund commented on #6023
#please-close

[2018-04-11 00:14] Ayanmullick commented on #7003
The Portal has the option to install it on another disk when provisioning if you are using a SQL image.
Ref:  https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sql/virtual-machines-windows-portal-sql-server-provision#storage-configuration

The same should be doable thru PowerShell

[2018-04-11 00:43] tster123 opened #7008 "4 service tiers + unclosed parenthesis"
1) Docs say "Azure SQL Database offers four service tiers that you can choose from".  But then only list 3 tiers.
2) The first paragraph in section "Increasing performance tier of your database" has an open parenthesis, but no closed parenthesis.  I don't think any parenthesis is needed at all (and I'm a big fan of parenthesis in prose!)

---
#### Document Details

⚠ *Do not edit this section. It

[2018-04-11 00:49] MicahMcKittrick-MSFT commented on #7003
This is just showing you that you are adding a data disk to be used with SQL. Maybe I am not understanding your question...

<img width="294" alt="image" src="https://user-images.githubusercontent.com/32313503/38590629-40044d10-3ce7-11e8-8836-89ca34e4200a.png">

When you select the SQL image it spins up a VM with SQL installed. It will be installed on the OS disk (C Drive) and will include a data

[2018-04-11 00:52] SaurabhSharma-MSFT commented on #6970
@WithHolm - You can either use null or $null. Also, the property employeeId should have any string value.

@curtand Please check if we can add more clarity in the document around usage of null and $null.

[2018-04-11 01:07] cjgronlund commented on #5965
@grzjab Good find! Thanks again for reporting this. It appears this content is deprecated, so we'll be retiring it. @deguhath

[2018-04-11 01:07] mrbullwinkle commented on #6997
@spottedmahn thank you for the issue and the pull request solving it. I just signed-off on your pull request it should merge and publish during one of the daily publishing windows tomorrow. Thanks for helping to make the Application Insights docs better!

[2018-04-11 01:08] cjgronlund commented on #5965
#please-close

[2018-04-11 01:12] cjgronlund commented on #6811
@MicrosoftDocs/azure-cxp-triage Please assign this to @gopitk
Bradsev is no longer with the company.

[2018-04-11 01:12] cjgronlund commented on #6031
@MicrosoftDocs/azure-cxp-triage Please assign this to @gopitk
Bradsev is no longer with the company.

[2018-04-11 01:13] cjgronlund commented on #5965
@MicrosoftDocs/azure-cxp-triage Please assign this to @deguhath
Bradsev is no longer with the company.

[2018-04-11 01:13] cjgronlund commented on #5822
@MicrosoftDocs/azure-cxp-triage Please assign this to @deguhath
Bradsev is no longer with the company.

[2018-04-11 01:15] gopitk commented on #6031
#please-close

[2018-04-11 01:18] Ayanmullick commented on #7003
I assumed that the GUI provisions a Microsoft-recommended [SQL configuration](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sql/virtual-machines-windows-sql-performance#disks-guidance). What is the usecase for the 'SQL2014SP2-WS2012R2-BYOL' image if it provisions a non-optimal configuration?Only for testing?If so it should say that [here](https://docs.microsoft.com/en-us/azure/vi

[2018-04-11 01:25] cjgronlund commented on #6567
@amanarneja Thank you for the clarification. Nice work triaging and isolating the problem.
@richardleeaus Great feedback. That IS confusing. You should see a correction published by noon tomorrow.

[2018-04-11 01:25] cjgronlund commented on #6567
#please-close

[2018-04-11 01:28] #6567 closed

[2018-04-11 01:29] #6031 closed

[2018-04-11 01:38] richardleeaus commented on #6567
Thanks everyone!

[2018-04-11 01:46] HemantMahawar opened #7009 "Missing PowerShell example - Azure WebApps - Local Git deployment"
This article is missing PowerShell examples and integration with Azure Cloud Shell (PowerShell)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93a788eb-76a1-af8b-c4b7-75db633e7a5c
* Version Independent ID: 94365d96-64b4-cf52-579d-6d437cb228f3
* Content: [Local Git Deployment to Azure App Service](https://docs.microsoft

[2018-04-11 02:07] jvdjeery opened #7010 "SSL Conection String for Web App?"
I enabled the forced use of SSL in my database server but at the time of backing up and including the connection string I got an error and I was asked to configure the ssl but I couldn't find any documentation on how to do it from the connection string.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77a94e6f-a799-494f-

[2018-04-11 02:10] MicahMcKittrick-MSFT commented on #7003
@Ayanmullick can you share a screenshot of what you are seeing? I am having issues getting the GUI to load for that image

[2018-04-11 02:24] shizn commented on #5248
This issue has already been resolved. https://github.com/Azure-Samples/iot-hub-c-raspberrypi-client-app/issues/25

[2018-04-11 02:26] shizn commented on #6223
https://github.com/MicrosoftDocs/azure-docs/issues/5248 This is a C SDK issue and already resolved. Please use the latest sdk package and rebuild all.

[2018-04-11 02:38] jackawatts opened #7011 "Sources Element Schema?"
Can't seem to find anything outlining what the 'Sources' element or its children do?  It is referred to here: https://docs.microsoft.com/en-us/azure/media-services/media-services-advanced-encoding-with-mes but there is no corresponding documentation describing what each element does.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2018-04-11 03:13] jason279 commented on #6960
@MicahMcKittrick, Thanks for your reply. for "other series vmsize", I mean other VM types, such as Compute optimized, memory optimized, etc.

[2018-04-11 03:41] georgewallace commented on #6954
@jeffanjoy Since the runbook is not being used to pass anything to another runbook, script, or function should outputtype just not be removed as it provides no benefit in this script?  I agree that it is in it's incorrect form but do not see the added benefit of leaving it in.

[2018-04-11 03:46] eaglelim commented on #6870
@mattbriggs - i guess what i was trying to say is:
a. the parameters obtained through the work-around didn't work ... (error provided above) ... it would help to get these working.
b. docs probably don't need to be updated if Storage Explorer could be fixed ... alternatively, provide a link to an article with the working workaround :)

thank you

[2018-04-11 03:47] georgewallace commented on #6728
@Ayanmullick I don't quite follow. Do you mean an alert when the patch starts deploying and an alert when it is done?

[2018-04-11 04:44] dabutvin opened #7013 "This article contains a secret in source code"
This may be setting a bad example or be interpreted as a recommendation to check in secret keys.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f171c675-7217-ad97-d35d-bd1d5058b2cb
* Version Independent ID: 2b9b18ee-6242-4503-2c3d-9c883eb1fcf0
* Content: [Regional failover in Azure Cosmos DB](https://docs.microsoft.com

[2018-04-11 04:46] shahrulazwan commented on #6594
@roygara @vasivara-MSFT

Thanks for the update. Case closed. Great efforts guys.

[2018-04-11 05:20] SergeyKanzhelev opened #7014 "Finally block will not be called for exceptions ending an application"
Moved from https://github.com/Microsoft/ApplicationInsights-Home/issues/174

If example copy/pasted to simple console app - they wouldn't work. Finally block is not called for an exception that crashes an application.

CC: @lmolkova

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62521082-c9fb-646f-6db0-2cdabe486dab
* V

[2018-04-11 05:35] dcbrown16 opened #7015 "What are public certificates for?"
Sorry, this may be common knowledge but I am having a surprisingly difficult time establishing why one would want to upload a public certificate. Can the use case for this be added to this document? The linked blog does not elaborate.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8dfb8f30-3236-ad55-eabf-6940a7e16329
*

[2018-04-11 05:39] su-jie commented on #5976
Hi Hua, we have confirmed it is an known issue in the version you are using. You can upgrade to the latest Stream Analytics tools by clicking on the 'Notifications' icon at the top right of Visual Studio. We have made  a lot of improvements in the past few months.

[2018-04-11 05:57] ZeekoZhu opened #7016 "We should install CSharp application generator"
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-create-your-first-linux-application-with-csharp#install-and-set-up-the-generators-for-c

In the third step, we should install CSharp application generator, not "Install the Service Fabric Yeo Java application generator from NPM"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2018-04-11 06:01] shizn commented on #5248
#please-close

[2018-04-11 06:01] fbinotto opened #7017 "Device Sync"
Device Sync is required for managed domains not federated domains, correct?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72cdc251-618a-e84e-f40d-960b0ac69f99
* Version Independent ID: 8cbaba3c-e883-2c71-28fb-f88db3fcaf7d
* Content: [How to configure hybrid Azure Active Directory joined devices](https://docs.microsoft

[2018-04-11 06:01] shizn commented on #6223
#please-close

[2018-04-11 06:02] ZeekoZhu commented on #7016
https://github.com/MicrosoftDocs/azure-docs/blame/master/articles/service-fabric/service-fabric-create-your-first-linux-application-with-csharp.md#L57

[2018-04-11 06:11] amanarneja commented on #6223
@iLikeAzureSQL We are closing this issue based on the information above, if you still run into issues, please feel free to reach out! :)

[2018-04-11 06:11] #6223 closed

[2018-04-11 06:45] BharathRahulDS opened #7018 "Encryption of Logs"
Is there a way to encrypt the logs? say, I want to encrypt the EnvironmentVar field in ContainerInventory table or mask it or remove it from the log for I do not want to expose the sensitive information my EnvironmentEnv field may have. How do I do that or can I do that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7

[2018-04-11 06:48] KumaresanLakshmanan opened #7019 "Monitoring BGP Routes updates - Addition or Deletion"
We are looking for option to monitor BGP Routes which are propagated to Azure Virtual network through ExpressRoute established and managed by network provider, BT . This is to notify network admins when new network is added as BGP Routes in Azure Virtual Network.
It would be good if this can be monitored using OMS log analytics. As an alternative option, if route addition is logged as activity log

[2018-04-11 07:54] rajivramanjani commented on #5393
This is a really useful page.  Can you please provide Java, Javascript and Python equivalents of the entire above page.  I notice that it is only in C#.

[2018-04-11 07:57] rajivramanjani opened #7021 "Documentation not good enough"
The Face API documentation is very clear on how to build and use a model.  But this is missing in the speech verification API. I found this page very clear (https://docs.microsoft.com/en-us/azure/cognitive-services/face/face-api-how-to-topics/howtoidentifyfacesinimage).  Is there a similar page that describes all the steps required together?

---
#### Document Details

⚠ *Do not edit this section.

[2018-04-11 07:57] rajivramanjani opened #7022 "How To?"
Essentially a "How To" - guide is missing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3604fe7e-46a3-6f5b-41e0-d3e69e01c8ae
* Version Independent ID: 9415c8a5-177e-fe11-7198-3d97ed438dc8
* Content: [Speaker Recognition API](https://docs.microsoft.com/en-us/azure/cognitive-services/speaker-recognition/home)
* Content

[2018-04-11 08:11] mike-urnun-msft commented on #6821
@erikmompean Thank you for reporting this issue! We have corrected the issues, and the changes will reflect after our next merge; and this issue will auto-close.

[2018-04-11 08:11] dominicbetts commented on #7005
@beatgates - thanks for pointing this out, I've fixed the Node.js API reference links, the article should be updated later today.
FYI, the two links should be:

- https://docs.microsoft.com/javascript/api/azure-iot-device/?view=azure-iot-typescript-latest
- https://docs.microsoft.com/javascript/api/azure-iothub/?view=azure-iot-typescript-latest

#please-close

[2018-04-11 08:24] #6821 closed

[2018-04-11 08:47] Tilotiti opened #7023 "Error PHP exemple"
The PHP exemple for the bing spell check API doesn't work.

In this exemple, the "mkt", "method" and "text" parameters are send via POST. But only "text" must be a post parameter, the "mkt" and "method" have to be in the URL path, as GET parameters.

Than it work perfectly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2018-04-11 08:48] Tilotiti commented on #7023
A working exemple :

https://gist.github.com/Tilotiti/7d3516d9c2e956b7b0ee5db0cc5c780b

[2018-04-11 08:57] guybartal commented on #6886
worked for me as well, thanks @xelossan!

[2018-04-11 09:06] rayne-wiselman commented on #6941
Hi, if you've failed over VMware VMs to Azure and done a commit, you should see a re-protect button to start reprotecting back to on-premises. Not sure why you're not seeing that. I suggest posting the issue on the Site Recovery forum for help - https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=hypervrecovmgr
I don't think this is a content issue.

[2018-04-11 09:06] Pathikr commented on #5772
Hi Team,
I am facing issue with my new Azure Internal Access Subscription,
I want to change the Directory of my subscription but I am unable to do it as the the 'Edit/change Directory' button is grayed out.
please can you help me on this

[2018-04-11 09:25] imaterek commented on #6134
Yes, it has been registered successfully before.
FeatureName          ProviderName      RegistrationState
AutoOSUpgradePreview Microsoft.Compute Registered
The Register-AzureRmResourceProvider doesn't help.

[2018-04-11 09:31] sfilatov commented on #6981
Thanks, @msfussell.
What mechanism is used for this?
Are SRV records used?

[2018-04-11 09:40] canuzun opened #7024 "Broken Link"
Using the device SDKs -> C# link is broken. This might be the valid link but not sure...
https://github.com/Azure/azure-iot-sdk-csharp/tree/master/iothub/device/samples

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bcf2a86a-1de0-2786-db87-58279ceffb22
* Version Independent ID: 7e43624f-a87d-1c4d-94e6-e38c1d42686f
* Co

[2018-04-11 09:59] mikemowgli opened #7025 "what about the dev portal?"
This documentation explains how to make an API available from the App Gateway, but it does not explain (unless I don't understand this tutorial) how an external developer would reach the APIM Developer Portal... And the Developer Portal is a must have.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37c1f253-44c2-bd07-4

[2018-04-11 10:58] githubsteveb commented on #7017
Any ETA on when get-azureaddevice cmdlets will pull back complete information? Such  list of Win 10 hostname with the owners. Or list of owners with the device hostnames?

[2018-04-11 11:00] githubsteveb commented on #7017
Whoops - please delete my comment! Shouldn't have been a reply!

[2018-04-11 11:00] githubsteveb opened #7026 "Get-AzureADDevce cmdlets"
Any ETA on when get-azureaddevice cmdlets will pull back complete information? Such list of Win 10 hostname with the owners. Or list of owners with the device hostnames?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72cdc251-618a-e84e-f40d-960b0ac69f99
* Version Independent ID: 8cbaba3c-e883-2c71-28fb-f88db3fcaf7d
* C

[2018-04-11 11:08] gbstan92 commented on #6356
@Adam-Smith-MSFT has any resolution been found? I believe we are experiencing something similar.

[2018-04-11 11:37] Ayanmullick commented on #6728
The first alert should come 24 hrs before the scheduled patch time and then; Yes, those two.

[2018-04-11 11:47] codeevaluator opened #7028 "Save-AzureWebSiteLog doesn't exist in ARM"
Save-AzureWebSiteLog is not available in ARM. Update the documentation with the steps necessary to get the logs using ARM please.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46653d6e-d057-e698-ef94-32d48e12d39f
* Version Independent ID: 74beaf3c-60f9-006d-110a-fbe2348d4797
* Content: [Enable diagnostics logging for

[2018-04-11 12:18] Ayanmullick commented on #5998
@MicahMcKittrick-MSFT , I'm facing this issue too. One should be able to point the boot diagnostics to a **premium** storage account also. Currently I think it only works on Standard Storage accounts.

[2018-04-11 12:30] cubanp3te opened #7029 "Couple of issues with scripts in #registering-windows-server-or-windows-client-machine-to-a-recovery-services-vault"
"PS C:\>  $Env:psmodulepath += ';C:\Program Files\Microsoft Azure Recovery Services Agent\bin\Modules"
... is missing a ' from the end in order for the line to run

"PS C:\> $cred = $credspath + $credsfilename
PS C:\> Start-OBRegistration-VaultCredentials $cred -Confirm:$false"
The above powershell results in a missing commandlet and the -VaultCredentials path is incorrect and not actually a path,

[2018-04-11 12:35] spottedmahn commented on #6997
You're welcome!

[2018-04-11 12:35] #6997 closed

[2018-04-11 12:42] taspeotis commented on #5759
@edorphy According to [this](https://stackoverflow.com/a/43874935/242520) the "Token" field has nothing to do with that token, instead it's the contents of the `.p8` file you download i.e. your API key.

I feel like the wording in the documentation...

...is pretty confusing since you do not download tokens from Apple, you download the key. In which case the field labeled "Token" is a misnomer, an

[2018-04-11 12:42] JayChase opened #7030 "Unable to connect to emulator with mongoose/mongo"
I have the installed emulator and can connect using the document client (although I have to set DisableSSLVerification: true in the connection policy). When I try to use Mongoose version 5.0.14 with the connection string in the this document I always get a socketHandler error returned.

  const key = encodeURIComponent('C2y6yDjf5/R+ob0N8A7Cgv30VRDJIWEHLM+4QDU5DE2nQ9nDuVTqobD4b8mGGyPMbIZnqyMsEcaGQy

[2018-04-11 12:44] msvijayn opened #7031 "Note on impact of data cap"
Hi,
There should be a **note** in the article on the impact data cap will have on services and solutions which use Log Analytics platform. For example, if data cap gets enabled and data flow is stopped; it may cause some alerts configured for log analytics to misfire - example, heartbeat or Agent Health solution based alerts.

Regards,
Vijay

---
#### Document Details

⚠ *Do not edit this section.

[2018-04-11 12:45] WithHolm commented on #6970
@SaurabhSharma-MSFT: Thank you. The example in the documentation states specifically that employeeid can use null, even though the validation rule on the table and you say that null is not allowed with this property

About null: it already defined, but states you can only use "the null value". In my head that translates to $null, but if it means both null and $null, please update with this informa

[2018-04-11 12:49] msvijayn commented on #6937
@MisinformedDNA - as in earlier post, we have in the highlighted **note** section provided link to doc:  [https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/monitoring-near-real-time-metric-alerts](https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/monitoring-near-real-time-metric-alerts)

[2018-04-11 12:53] stigra opened #7032 "Pricing for cost effective SQL VMs"
Where is it possible to find pricing for cost effective SQL VMs? I am unable to find these on the pricing page and in the Azure calculator.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a863cb0-c5d3-87d6-7c4d-28a1316d70f8
* Version Independent ID: e56cf79c-d919-92d7-d3a0-05ada08ba17b
* Content: [Manage costs effectiv

[2018-04-11 12:57] msvijayn commented on #6937
@MisinformedDNA  As metrics are supported not just from [Azure monitor](https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/monitoring-near-real-time-metric-alerts#metrics-and-dimensions-supported) but also extracted from [logs sent by solutions to Log Analytics](https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/monitoring-near-real-time-metric-alerts#log-analytics-lo

[2018-04-11 12:59] javgarces commented on #6850
Thank you for your response.
The Vault contains the differentiation between resource groups in the Backup Items section, where I'm able to identify VMs with the same name by looking at their resource groups. My problem is not in the Backup Items section though. It's in the Backup Jobs section, where I have no reference about the resource groups of VMs.
I haven't used OMS Monitoring, it's not consi

[2018-04-11 13:10] jefffanjoy commented on #6954
I agree.  In this case there is no meaningful benefit to defining the output type since the runbook does not generate any output that seems like it would be beneficial to return to a calling runbook.

[2018-04-11 13:28] spottedmahn opened #7035 "Easy Auth?"
Is this easy auth?

https://weblogs.asp.net/pglavich/easy-auth-app-service-authentication-using-multiple-providers

https://easyauth.azurewebsites.net/

If so, why no reference to these keywords?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34a42775-fe33-ccab-3b5b-22c5db4f60c1
* Version Independent ID: 5e892b9d-3620-

[2018-04-11 13:45] MGoedtel commented on #7031
@msvijayn - Very good point and I'll bug this and update the article as soon as I can.  #in-progress.

[2018-04-11 13:54] SharmainePopov commented on #6982
Hi…do you have any ideas on how to create an alert on the limits?

Sharmaine Popov
Cloud Solution Architect |Microsoft Canada Inc. | sharmaine.popov@microsoft.com<mailto:sharmaine.popov@microsoft.com> | 416-799-0807

From: Tom FitzMacken <notifications@github.com>
Sent: Tuesday, April 10, 2018 7:16 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Sharmaine Popov <Sharmaine.Popov

[2018-04-11 13:56] SharmainePopov commented on #6889
I could but it is not a vm problem.

Sharmaine Popov
Cloud Solution Architect |Microsoft Canada Inc. | sharmaine.popov@microsoft.com<mailto:sharmaine.popov@microsoft.com> | 416-799-0807

From: Micah <notifications@github.com>
Sent: Tuesday, April 10, 2018 4:21 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Sharmaine Popov <Sharmaine.Popov@microsoft.com>; Mention <mention@norep

[2018-04-11 13:58] femsulu commented on #7005
@beatgates ,
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-11 13:58] #7005 closed

[2018-04-11 14:01] MrkMtchll opened #7038 "ControlPath ~/.ssh/SSHConnections/ssh-%r@%h:%p"
ControlPath ~/.ssh/SSHConnections/ssh-%r@%h:%p

used by but not described on page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 69db0238-ad2d-43b9-52db-2f2fad0ea380
* Version Independent ID: 6f355823-2d16-5085-0fbc-294d20597223
* Content: [Detailed steps to create an SSH key pair for Linux VMs in Azure](https://docs.

[2018-04-11 14:03] femsulu commented on #6023
@kringen We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-11 14:03] #6023 closed

[2018-04-11 14:05] femsulu commented on #5248
@handcyclist We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-11 14:05] #5248 closed

[2018-04-11 14:15] Discostu36 opened #7040 "Installation of VPN Client"
"Cannot install the VPN client" should be updated:

1. There is no certificate in the VPN Client zip, the information seems to be outdated
2. An important possible reason for problems is missing: You have to be logged in as an administrator in Windows 10 to install and use the VPN client. It does not suffice to run the installer "as administrator". It  took me hours to find out that this is the pr

[2018-04-11 14:28] georgewallace commented on #6954
Code sample in the article has been updated and will be live by 10:30 PST today.  I will request the gallery item get updated as well.

[2018-04-11 14:45] fliang-ms opened #7041 "VM size tables have several minor issues."
1.	Currently the order of “Max data disks” and “Max temp storage throughput: IOPS / Read MBps / Write MBps” of Dv2-series is different from other similar series. In other series, “Max data disks” column is before “Max temp storage throughput: IOPS / Read MBps / Write MBps”.
2.	For Basic A series, the header of the sixth column has an unexpected parenthesis at the end. “Max. data disks 1023 GB each

[2018-04-11 14:46] KevinXTian opened #7042 "Python custom pipeline example in Azure data factory V2"
In the [Use custom activities in an Azure Data Factory pipeline](https://docs.microsoft.com/en-us/azure/data-factory/transform-data-using-dotnet-custom-activity), a C# example is given. I was just wondering if you could provide a python custom pipeline example which includes how to add dependencies using pip efficiently. I would assume that installing python package while running is feasible but t

[2018-04-11 14:50] rayne-wiselman commented on #5718
Thanks! Fixed in https://github.com/MicrosoftDocs/azure-docs-pr/pull/37557/files to 16 GB

[2018-04-11 15:04] mattbriggs commented on #6870
@eaglelim An updated version of Storage Explorer is about to release that should resolve the need for this workaround (provided it worked for you!). Can you contact support? In the meantime, is it OK if I close this thread? Thanks, Matt

[2018-04-11 15:08] evh69 opened #7043 "Clarify instructions on Azure Active Directory B2C: Get started with custom policies"
Under https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-get-started-custom#create-the-identityexperienceframework-application step #2 explicitly states, "Open the Azure Active Directory blade (not the Azure AD B2C blade)."   OK. Fine.  I have followed the instructions and have an application and application proxy registered.  I am now on https://docs.microsoft.com/en

[2018-04-11 15:19] iamrobdavies opened #7044 "Update list of VM SKUs which support Premium disks on 'About disks storage for Azure Windows VMs'"
This page: https://docs.microsoft.com/en-us/azure/virtual-machines/windows/about-disks-and-vhds#premium-storage

Lists the VM SKUs which support premium storage. This is missing some VM SKUs, such as Esv3.
This list also differs from the similar list here: https://docs.microsoft.com/en-us/azure/virtual-machines/windows/premium-storage#features

The request is to ensure we have a single up to date

[2018-04-11 15:30] evh69 commented on #7043
Unless, the documentation is talking about the "Identity Experience Framework - PREVIEW" under the 'Welcome to Azure AD B2C' section below the 'quick start' link.

[2018-04-11 15:40] akramwaseem commented on #6947
Is this feature in Preview or GA ??

[2018-04-11 16:00] Anaig opened #7045 "DataBricks support by integration runtime?"
I followed the tutorial and have a problem when setting the linked service in the pipeline :
Error: This feature is not supported by Managed integration runtime.
Is DataBricks LinkedService supported?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a176f27b-f9fc-e0ff-0a48-aa42036051f2
* Version Independent ID: d2356b83-

[2018-04-11 16:01] CarlRabeler commented on #7008
fixing now - thank you

[2018-04-11 16:01] adelices commented on #5850
Hi @jeevansd, thanks for your feedback,
Could you explain how can I apply this settings ?
By checking the Google side API there is one reference : orgUnitPath, how can I map one security group from Azure to Google. Thanks

[2018-04-11 16:05] Anaig commented on #7045
Solved by creating a new Integration Runtime (not leaving default)

[2018-04-11 16:33] Sambsamb opened #7046 "Where are the binaries???"
Cannot find Microsoft-ASR_UA_version_Windows_GA_date_Release.exe anywhere on the Config Server
Config Server is Version 9.15.2.0
The directory on the Config Server: \Microsoft Azure Site Recovery\home\svsystems\pushinstallsvc\repository does not exist
In the above path what's the \ root refer to??
There are 4 folders under c:\Program Files that relate to ASR on the Config Server, none has the requ

[2018-04-11 16:39] YutongTie-MSFT commented on #7006
@Fleid Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-11 16:40] Adam-Smith-MSFT commented on #6850
@javgarces thanks for the clarifications. I will assign it to the author to confirm if there are any additional solutions besides the two mentioned in before. If there aren't we might have to use the azure.feedback to escalate the feedback, let me check with the author first.

[2018-04-11 16:41] MicahMcKittrick-MSFT commented on #7016
@ZeekoZhu Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-11 16:41] MicahMcKittrick-MSFT commented on #7032
@stigra Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-11 16:42] MicahMcKittrick-MSFT commented on #7038
@MrkMtchll Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-11 16:44] Mike-Ubezzi-MSFT commented on #7010
@jvdjeery Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-11 16:45] Adam-Smith-MSFT commented on #7029
@cubanp3te Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-04-11 16:45] MicahMcKittrick-MSFT commented on #7040
@Discostu36 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@genlin can you take a look? Appears I am not able to assign to @chadmath

[2018-04-11 16:46] MicahMcKittrick-MSFT commented on #7041
@fliang-ms Thanks for the feedback! We are investigating and will update you shortly.

[2018-04-11 16:48] MicahMcKittrick-MSFT commented on #7044
@iamrobdavies Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-11 16:48] Mike-Ubezzi-MSFT commented on #7013
@dabutvin Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-04-11 16:49] kobulloc-MSFT commented on #6933
@JPadster I'm glad you were able to get it to work!  I will keep an eye on creating Application Insights resources (especially using Visual Studio instead of the portal) in case there is anything we need to follow up with on our end.

It looks like the issue has been resolved so I am going to close the thread.  Feel free to reopen the thread if you have additional questions about this and we'll co

[2018-04-11 16:49] #6933 closed

[2018-04-11 16:50] Mike-Ubezzi-MSFT commented on #7030
@JayChase Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-11 16:50] YutongTie-MSFT commented on #7006
@Fleid Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@aashishb Hi, this is a doc suggestion about "MissingSubscriptionRegistration", can you please check it and update the document as necessary? Thanks!

[2018-04-11 16:51] MicahMcKittrick-MSFT commented on #6889
@SharmainePopov ah yes you're right. Sorry about that. This is the correct fourm:

https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=AzureKeyVault

[2018-04-11 16:52] MicahMcKittrick-MSFT commented on #5998
@Ayanmullick you can leave this feedback on [Uservoice](https://feedback.azure.com/forums/216843-virtual-machines).

@Deland-Han any update here?

[2018-04-11 16:54] MicahMcKittrick-MSFT commented on #6134
@imaterek do you have the ability to open a [technical support ticket](http://aka.ms/azsupt)? We should have a Support Engineer take a closer look for you.

[2018-04-11 16:55] MicahMcKittrick-MSFT commented on #5772
@Pathikr I suggest you open a forum post to address this issue:

https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

[2018-04-11 16:56] MicahMcKittrick-MSFT commented on #6886
@liydu any update here?

[2018-04-11 16:56] YutongTie-MSFT commented on #7021
@rajivramanjani Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-11 16:57] YutongTie-MSFT commented on #7022
@rajivramanjani Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-11 16:59] kobulloc-MSFT commented on #7025
@mikemowgli Thank you for the feedback!  I'm looking over the document and will get back to you shortly.

[2018-04-11 17:00] seguler commented on #6356
@EmmaZhu can you take a look at this ?

@gbstan92 are you trying to copy a whole drive ? AzCopy /Source:C:\ /Dest:...

[2018-04-11 17:01] yantang-msft commented on #5930
It's more than invalid json syntax.
I received an ICM ticket, where user use the powershell command Set-AzureRmVMDiagnosticsExtension to enabled the extension. In this case, it only accept a single json file, and the json file should looks like below. Notice here it's "PublicConfig" instead of "settings", and "PrivateConfig" instead of "protectedSetting". This is the "equivalent" .json config to t

[2018-04-11 17:01] BryanTrach-MSFT commented on #7015
@dcbrown16 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-04-11 17:05] BryanTrach-MSFT commented on #7009
@HemantMahawar Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-04-11 17:08] BryanTrach-MSFT commented on #7011
@jackawatts Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-11 17:09] MohitGargMSFT commented on #7043
@evh69 Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-11 17:10] BryanTrach-MSFT commented on #7028
@codeevaluator Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-11 17:12] BryanTrach-MSFT commented on #7035
@spottedmahn Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-11 17:14] MohitGargMSFT commented on #7026
@githubsteveb Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-11 17:15] YutongTie-MSFT commented on #7023
@Tilotiti Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@v-jaswel Hi, this is a issue about the PHP example in this document. And there is also a working [example ](https://gist.github.com/Tilotiti/7d3516d9c2e956b7b0ee5db0cc5c780b)the user provided. Can you please check it and update the document as necessar

[2018-04-11 17:15] lmolkova commented on #7014
I believe we have this:

`Warning: in some cases unhanded exception may prevent finally to be called so operations may not be tracked.`

(here)[https://docs.microsoft.com/en-us/azure/application-insights/application-insights-custom-operations-tracking#outgoing-dependencies-tracking]

Do you want it in any other articles?

[2018-04-11 17:16] mikehall000 opened #7048 "SSL Inspection"
I have a use case where App Proxy, it doesn't work with SSL inspection turned on, on my customer's F5.  Is this supported? If we turn it off, it works great. Thoughts?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 048716b1-980b-5de6-06fe-6466a21789f7
* Version Independent ID: 48d9d416-b17a-b5f0-1905-8ca4f0035225
* Con

[2018-04-11 17:17] MohitGargMSFT commented on #7017
@fbinotto Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-11 17:18] femsulu commented on #7004
@KeiroKamioka0000 , Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-11 17:18] MohitGargMSFT commented on #6922
@pedrr We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-11 17:18] #6922 closed

[2018-04-11 17:24] vasivara-MSFT commented on #7018
@BharathRahulDS Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-11 17:25] brianesb opened #7049 "SelfService password reset does not appear to work as per the doc?"
Just tried this on a test B2C tenant in my MSDN subscription. First the steps appear not to match? Step 3 should be "Password Reset" as the toggle in 4) is not on the Properties but on Password Reset page.
Second, even with the Self-service password reset enabled toggle set on Active Directory to ALL, it appears to make no difference to the "Sign-up or sign-in policies", although it does appear to

[2018-04-11 17:28] Svankam commented on #6985
@AksanaKuzmitskaya - Thank you for reporting the issue. We are investigating the issue and will reply back with the resolution.

[2018-04-11 17:29] YutongTie-MSFT commented on #7022
@rajivramanjani Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@cjgronlund Hi, this is a issue about document enhancement, and the user wants more details about Speaker Recognition API, especially for How to do that. Can you please check it and update the document as necessary? Thanks a lot!

[2018-04-11 17:30] Svankam commented on #7001
@MS-Santi - Thank you for reporting the issue. We are investigating the issue and will reply back with the resolution.

[2018-04-11 17:30] Svankam commented on #6985
@AksanaKuzmitskaya - Thank you for reporting the issue. We are investigating the issue and will reply back with the resolution.

[2018-04-11 17:32] Adam-Smith-MSFT commented on #7046
@Sambsamb thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-04-11 17:33] femsulu commented on #7019
@KumaresanLakshmanan, Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-04-11 17:39] cephalin commented on #5604
#please-close

[2018-04-11 17:41] cephalin commented on #6308
#please-close.

[2018-04-11 17:44] MicahMcKittrick-MSFT commented on #6926
@MrGlenThomas just checking in to see if you had a response for @tdykstra

[2018-04-11 17:46] femsulu commented on #5965
@cjgronlund can this be closed? or do we need to wait for a reply from @deguhath  before closing?

[2018-04-11 17:48] #7014 closed

[2018-04-11 17:48] MicahMcKittrick-MSFT commented on #6960
@jason279 ah okay got it. I am not sure if it would be useful to add that information to every column as it is pretty standardized in Azure. Regardless, I will assign this to the content author to take a look and see if they should update the doc.

@jonbeck7 can you please take a look?

[2018-04-11 17:50] femsulu commented on #6819
@dominicbetts , is it still ok to close this or should we wait for @timlaverty to respond?

[2018-04-11 17:56] cynthn commented on #7044
#in-process

[2018-04-11 18:07] gbstan92 commented on #6356
Hi @seguler ! It is just a folder.This is the script used:

Set-Location "C:\Program Files (x86)\Microsoft SDKs\Azure\AzCopy"
.\AzCopy.exe /Source:C:\******Inetpub\*******\logs /Dest:https://*****************/******/bc/ /DestKey:********== /Y /XO /S

[2018-04-11 18:12] kgremban commented on #6861
Hi @alonf can you share more data about whatever error you're seeing that lead you to this conclusion? You need docker running for iotedgectl start to work, but you shouldn't have to be authenticated to any particular container registry in order to start the runtime.

[2018-04-11 18:12] cynthn commented on #7044
#please-close @iamrobdavies thanks for the feedback! I submitted a [PR](https://github.com/MicrosoftDocs/azure-docs-pr/pull/37577) to change the wording of the article to explain that the version of the series with the "s" is the one that supports Premium storage (Dv3 vs Dsv3).

[2018-04-11 18:18] cynthn commented on #7041
#please-close @fliang-ms thank you for the feedback! These issues are being addressed (along with a couple of others) across a few PRs including https://github.com/MicrosoftDocs/azure-docs-pr/pull/37581

[2018-04-11 18:24] nitinkhandelwal26 opened #7051 "Substring function not working"
Trying to substring :
substring('/subscriptions/5a525535-8742-4003-ba3d-bc68935157ca/resourceGroups/NITIN-LB-TEST-ALAN/providers/Microsoft.Compute/virtualMachines/NITINVM2', 125, 130 )

its failing, please correct the issue

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a07d3c0-6235-85e6-40f5-1417c6cb8ed0
* Version In

[2018-04-11 18:26] cynthn commented on #6999
#in-progress @bennbatt8112 Have you tried this part of this article: https://docs.microsoft.com/en-us/azure/virtual-machines/windows/tutorial-load-balancer#create-virtual-machines it creates VMs and then uses a loop to install IIS using the CSE on each VM.

[2018-04-11 18:31] cynthn commented on #6960
#please-close @jason279 thanks for the feedback! I will create a work item to see if we can get more information about clock speeds into the VM sizes docs and to the info available from the API.

[2018-04-11 18:36] nromyn commented on #6979
@tfitzmac Thanks for the super-quick response on this. I'm specifically looking for more details on the connectionparameters object, as I'm getting an error running a template that was exported from the portal - it says that the identityprovider 'aad' is not recognized, so I was hoping to get detail on how to implement those pieces.

connectionParameters": {
                    "token": {

[2018-04-11 18:37] cynthn commented on #5348
#in-progress @MicahMcKittrick-MSFT can you swap the timlt tag for jpconnock?

[2018-04-11 18:38] #6954 closed

[2018-04-11 18:39] iamrobdavies commented on #7044
outstanding! thanks team 👍

[2018-04-11 18:39] #7044 closed

[2018-04-11 18:41] cynthn commented on #5348
#please-close the fix merged and other fixes are in progress, closing. @chrisnewark @girishgouda @tonjohn @pekkaar thank you for your feedback!

[2018-04-11 18:42] MohitGargMSFT commented on #7048
@mikehall000 Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-11 18:44] pvmraghunandan opened #7052 "Tried using service principal but always getting 400 error"
Tried using service principal but always getting 400 error as Either server 'asazure://asazurewus2-westus.asazure.windows.net/xxxx' does not exist or user is not the administrator of 'asazure://asazurewus2-westus.asazure.windows.net/xxxx. I have verified that the app is added as administrator

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2018-04-11 18:46] cynthn commented on #5383
#please-close @guptapuneet thank you for the feedback! I've created a work item for the author to clarify the transaction size limits in the doc.

[2018-04-11 18:48] jmagosta opened #7053 "Locate the TenantID"
Mention how to find the TenantID once on the Portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14ab965b-dc45-f450-1302-5ffe491ca129
* Version Independent ID: 0d96d50d-a349-3408-3b93-d8b084e1cbd1
* Content: [How to get an Azure AD tenant](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-direct

[2018-04-11 18:57] #5348 closed

[2018-04-11 18:58] #6960 closed

[2018-04-11 18:58] #7041 closed

[2018-04-11 19:04] MicahMcKittrick-MSFT commented on #6902
@dacarubio I have confirmed you still need the Premium Add-on to use O365 and Dynamics.

@cherylmc can you consider adding this information into the doc?

[2018-04-11 19:06] MicahMcKittrick-MSFT commented on #7016
@mani-ramaswamy can you take a look into this?

[2018-04-11 19:22] lorindavis opened #7054 "Configure App Service to return a usable access token"
I beleive there is a type on this section it states: to navigate to

In the left browser, click subscriptions > <your_subscription> > resourceGroups > myAuthResourceGroup > providers > Microsoft.Web > sites > <back_end_app_name> > config > authsettings.

but I think this should be
In the left browser, click subscriptions > <your_subscription> > resourceGroups > myAuthResourceGroup > providers > Mi

[2018-04-11 19:26] cynthn commented on #6494
#please-close @rowong cool, thanks for the additional information about what would be helpful. I'm going to create a work item to cover creating a VM from a managed image using a template. Thanks again!

[2018-04-11 19:26] tfitzmac commented on #7051
@nitinkhandelwal26 - the third parameter is the length of the substring. So, your example would extend beyond the original string. I am guessing you would want to change it to 5.

[2018-04-11 19:27] markgalioto commented on #6699
@mvark , Thank you for pointing out the confusion. Azure Backup has limits for the size of an individual data source that is being backed up. These limits are listed in the following tables. Azure Backup doesn't limit the number of data sources that you back up in a vault. I have moved this statement to a separate q&a to alleviate the confusion. This change will publish shortly.

[2018-04-11 19:28] markgalioto commented on #6699
#please-close

[2018-04-11 19:36] #6494 closed

[2018-04-11 19:39] MicahMcKittrick-MSFT commented on #7032
@stigra are you referring to if you use the BYOL or the free version? If so, you just pay for the price of the VM. So in the pricing calculator it gives your the price with just the OS or with SQL license

<img width="473" alt="image" src="https://user-images.githubusercontent.com/32313503/38639141-34d0bc0a-3d85-11e8-8974-b8dfdcf0c6ac.png">
<img width="475" alt="image" src="https://user-images.git

[2018-04-11 19:42] MicahMcKittrick-MSFT commented on #7038
@MrkMtchll I see a few things that are not explicitly described. I will assign this to the content author to review and determine if it makes sense to add more details.

@dlepow can you please take a look?

[2018-04-11 19:45] MohitGargMSFT commented on #6956
@gabbsmo With ACS retirement refer to this section - [SharePoint customers](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-acs-migration#sharepoint-customers) to find list of features which will be effected. I hope this will help answer your query.

[2018-04-11 19:52] rricart opened #7057 "Cloud Native Architect"
In your article you state: "Each App Service plan tier supports a different number of deployment slots. To find out the number of slots your app's tier supports, see App Service Pricing." However, the App Service Pricing link takes you to https://azure.microsoft.com/en-us/pricing/details/app-service/.  This page does not state how many deployments slots are available for  each tier.  Where can I f

[2018-04-11 19:56] Mike-Ubezzi-MSFT commented on #7010
@jvdjeery Do any of these [Sample Code](https://docs.microsoft.com/en-us/azure/mysql/howto-configure-ssl#sample-code) snippets not work with your application implementation?
If not, can you please provide some detail on what language you require a connection string example.
Regards,
Mike

[2018-04-11 19:59] mtillman commented on #6096
@antonGritsenko An update to this page should be going live later this month.

[2018-04-11 20:04] kgremban commented on #6809
Thank you for pointing this out, @bospoort. I made this fix and the new version should be published live in about two hours.

[2018-04-11 20:09] Ayanmullick commented on #7003
The SQL images are probably not exposed to MSDN subscriptions. When Provisioned thru the GUI, SQL points to the additional data drive for database and logs location.

![image](https://user-images.githubusercontent.com/17693249/38640559-9d4fb192-3da2-11e8-9ae0-bbf3cea05d71.png)

[2018-04-11 20:09] jvdjeery commented on #7010
The problem is with the connection string that is in the web app.
When I enable SSL forcing on the MySQL server the backups cannot be made.
Using this connection string when creating a backup of the app including the database gives the following error.

String: Database={your_database}; Data Source={host_name}; User Id={your_username}; Password={your_password}

Error Screenshot: https://1drv.ms/u/

[2018-04-11 20:10] stigra commented on #7032
My understanding of the core constrained VMs is that the compute cost is the same as for the non-constrained version (i.e. compute for E64-16s = E64s),right? However SQL licensing will be reduced accordingly to the available cores . Is this only applicable for BYOL licenses or will SQL licensed through Azure also be reduced accordingly? If this applies BYOL only then it should be made clearer in t

[2018-04-11 20:38] prashanthmadi commented on #5059
was there any outcome from this issue ?

I was going through docs and was totally lost with self and other things as highlighted by @graham-sportsmgmt

[2018-04-11 20:41] graham-sportsmgmt commented on #5059
I just submitted an initial draft tutorial to the MS team, I think it will clear up a lot.

[2018-04-11 20:41] prashanthmadi commented on #5059
Thanks @graham-sportsmgmt

[2018-04-11 21:07] montereyharris opened #7059 "Need to know where locations are created"
Document doesn't describe where locations can be created.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74b164a7-31c5-7cb3-c8e2-7533d375bd43
* Version Independent ID: 11399252-d935-2cba-a414-a44e51e67007
* Content: [Location conditions in Azure Active Directory conditional access](https://docs.microsoft.com/en-us/azur

[2018-04-11 21:09] datarelish opened #7060 "Copy and Paste isn't working properly on the second last piece of code"
For the block that starts %%sql -q -o true_positive
If you copy this block of code and put it into Spark, it generates an EOF error.
If you copy and paste each segment individually, it works fine. It seem as if something erroneous gets copied when you use the 'Copy' button.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2018-04-11 21:17] MohitGargMSFT commented on #6961
@hbaeleMCT As mentioned in the document to configuring and use the expiration policy for Office 365 groups Azure AD Premium licenses is required for all members of the groups. In case, licenses are not present you will not be able to configure expiration policy. And yes if expiration policy is not in place by default None is selected which means groups will not expire.

[2018-04-11 21:26] roygara commented on #6767
#in-progress

I've created a PR which updates the image and its accompanying text. Will test the new steps with the tutorial prior to merging, though.

[2018-04-11 21:30] mani-ramaswamy commented on #7016
@JimacoMS2 @rwike77

[2018-04-11 21:32] rwike77 commented on #7016
@ZeekoZhu  Yes, you're right.  Thanks for pointing this out, we'll get it fixed soon.

[2018-04-11 21:37] Ayanmullick commented on #5998
@MicahMcKittrick-MSFT, It should also be documented [here ](https://docs.microsoft.com/en-us/powershell/module/azurerm.compute/set-azurermvmbootdiagnostics?view=azurermps-5.7.0)that boot diagnostics doesn't work on Premium accounts. That's the reason I wasn't sure if I was doing something wrong.

[2018-04-11 21:41] Pradhyo commented on #6811
@gopitk Thanks for getting back.
I [tried both suggestions before posting here](https://stackoverflow.com/questions/49603966/cant-reach-jupyter-notebooks-on-azure-deep-learning-virtual-machine) but Chrome on my client machine couldn't reach the VM.

I played around with different values in the jupyter config file but I didn't try the entire config file you mention. I will update here when I try th

[2018-04-11 21:42] CarlRabeler commented on #7008
#please-close
https://github.com/MicrosoftDocs/azure-docs-pr/pull/37486

[2018-04-11 21:42] MicahMcKittrick-MSFT commented on #7003
t

[2018-04-11 21:45] MicahMcKittrick-MSFT commented on #7003
Are you referring to this area?
<img width="599" alt="image" src="https://user-images.githubusercontent.com/32313503/38644868-f1b1211e-3d96-11e8-8a7b-f0a9f40ab5f5.png">

[2018-04-11 21:50] Mike-Ubezzi-MSFT commented on #7010
The App Service backup plan has the non-SSL connection string cached. You essentially need to refresh the backup plan cache with the SSL enabled connection string. This can be accomplished by deleting and recreating the App Service backup plan. This should resolve your issue. Please let me know if this works for you, or if you have additional questions.
Regards,
Mike

[2018-04-11 21:51] #7008 closed

[2018-04-11 21:55] pareshmu commented on #5721
#sign-off

[2018-04-11 22:05] suchiagicha commented on #5512
#please-close

Please re-open the issue if you need more information

[2018-04-11 22:06] suchiagicha commented on #6078
#please-close

Please re-open the issue if you need more information

[2018-04-11 22:11] Mike-Ubezzi-MSFT commented on #7030
@JayChase Can you take a look at the following GitHub #194 (https://github.com/Azure/azure-documentdb-node/issues/194) issue, to see if there is something that provides some guidance? I assume you are making the change to:
https://github.com/Azure/azure-documentdb-node/blob/c4292a1170b785c2e5b525f87e19083285f6d0ed/source/test/sslVerificationTests.js#L52-L64

There are these [Troubleshooting steps]

[2018-04-11 22:12] vasivara-MSFT commented on #6976
@nermeen12 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-11 22:15] vasivara-MSFT commented on #7018
@BharathRahulDS I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-04-11 22:27] suchiagicha commented on #5164
#please-close

Please re-open if you have further questions.

[2018-04-11 22:28] mtillman commented on #6013
#please-close

[2018-04-11 22:29] mtillman commented on #6147
@jontreynes please provide additional details on your request. Otherwise, we'll need to close it due to insufficient information.

[2018-04-11 22:30] vasivara-MSFT commented on #7060
@datarelish Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-11 22:34] MightyPen commented on #6285
@Zenocolo  @Mike-Ubezzi-MSFT
Dhruv Malik and I will assess this.
(It appears the auto-email feature of @ MightyPen is not reaching me  :-(
(Gene Milener, Microsoft).

[2018-04-11 22:34] HemantMahawar opened #7062 "Incomplete PowerShell sample - Azure WebApps - Local Git deployment"
See https://docs.microsoft.com/azure/app-service/scripts/app-service-cli-deploy-local-git for an example of complete sample.
I expect the same for PowerShell sample

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c803741-b4d9-c14c-4a80-9447b519a1a5
* Version Independent ID: 6696f399-d177-f5f4-f58e-94d608f756a9
* Conten

[2018-04-11 22:37] MicahMcKittrick-MSFT commented on #7032
@stigra got it. Thanks for clarifying the ask.

@rothja is this something you are able to shed some light on?

[2018-04-11 22:41] mtillman commented on #6314
@yadcam based on @zhiweiwangmsft response, I believe the documentation is correct for the alert condition you refer to. If you have questions, please let us know.
#please-close

[2018-04-11 22:47] rwike77 commented on #7016
@ZeekoZhu  Live documentation has been updated:  https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-create-your-first-linux-application-with-csharp#install-and-set-up-the-generators-for-c  #please-close

[2018-04-11 22:49] gopitk commented on #6811
For port 8000 (suggestion#1) when you try to access JupyterHub remotely from your client machine browser you must use **HTTPS**. You have to get past cert warning if you are using default self signed certs that came with the DSVM instance. Can you confirm that? Another reason - It is possible your Azure subscription admin may have set some client access policies that may be preventing access or yo

[2018-04-11 22:50] vasivara-MSFT commented on #7060
@datarelish Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-04-11 22:57] MicahMcKittrick-MSFT commented on #6902
@dacarubio If you just read through the [ExpressRoute](https://docs.microsoft.com/en-us/azure/expressroute/) documentation you will see all the features of ExpressRoute. The premium add-does not simply add features rather increases the quantity of those features already available. If you look at the [ExpressRoute FAQ](https://docs.microsoft.com/en-us/azure/expressroute/expressroute-faqs) you will

[2018-04-11 22:57] #7016 closed

[2018-04-11 22:58] MohitGargMSFT commented on #6969
@gavinhelyar As mentioned the document, you can disable legacy authentication protocols for Exchange Online by setting AD FS rules. That is the only way for now.

@MarkusVi Please check if there is opportunity to add clarity in the document around it,

[2018-04-11 23:03] dcbrown16 commented on #6622
Thanks!

[2018-04-11 23:09] vasivara-MSFT commented on #7052
@pvmraghunandan Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-11 23:13] MohitGargMSFT commented on #6984
@hctrr I have assigned the issue to the document author to investigate and update as appropriate.

[2018-04-11 23:15] jcjp opened #7065 "No response is received from the http.get request"
Followed the tutorial up until Part 5 however when I tried to get data from my CosmosDB it does not return a result instead an error of: Failed to load resource: net::ERR_EMPTY_RESPONSE.

I am able to get to the console.log('Getting Heroes...'); on my code for getHeroes below:

function getHeroes(req, res) {
  console.log('Getting Heroes...');
  const docquery = Hero.find({}).read(ReadPreference.N

[2018-04-11 23:17] jason-j-MSFT commented on #6828
@JSeb225 We have a request to add guidance on how to partition IoT Hub data while using it as an input for Stream Analytics.

[2018-04-11 23:18] vamaral1 opened #7066 "What's the tradeoff between using Azure Storage and Azure Data Lake Store with HDInsight?"
I saw this article that highlights some of the differences in general and refers to Data Lake as "optimized storage" but in terms of storing data to be processed by, say, an HDInsight Spark cluster, is there a difference in performance? https://docs.microsoft.com/en-us/azure/data-lake-store/data-lake-store-comparison-with-blob-storage

---
#### Document Details

⚠ *Do not edit this section. It is

[2018-04-11 23:30] #6013 closed

[2018-04-11 23:30] MohitGargMSFT commented on #6994
@lawrence-jeff I have assigned the issue to the author to investigate and update as appropriate.

[2018-04-11 23:40] femsulu commented on #7051
@tfitzmac assigned this issue to you for further correspondence.

[2018-04-11 23:44] markgalioto commented on #6850
@javgarces @Adam-Smith-MSFT , It isn't possible in the portal to distinguish between backup jobs for identically named VMs in the same Recovery Services vault. I tested the premise that you described, and found that it very difficult to tell the difference between the jobs in the portal. I think the next step - if you can't use OMS monitoring, is to use azure.feedback to escalate.

[2018-04-11 23:50] mike-urnun-msft commented on #6634
@fhe-fr Are you still having this issue? Are you able to share any details about your Dockerfile that creates the container for Windows Server 2017 and Python?

[2018-04-11 23:53] MohitGargMSFT commented on #6996
@Ke-Dou Please refer to [this](https://stackoverflow.com/questions/45751985/aad-groups-claim-missing-in-jwt-token-for-some-users) Stackoverflow thread -

This is by design when using implicit grant flow, regardless the "groupMembershipClaims" setting in the manifest. It's to avoid to go over the URL length limit of the browser as the token is returned as a URI fragment. So, more or less after 4 us

[2018-04-11 23:58] femsulu commented on #5164
@mattcowen We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-11 23:59] #5164 closed

[2018-04-11 23:59] femsulu commented on #5383
@guptapuneet We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-11 23:59] #5383 closed

[2018-04-12 00:00] femsulu commented on #5512
@nitinkale We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-12 00:00] #5512 closed

[2018-04-12 00:01] femsulu commented on #5604
@manyrootsofallevil , @tobyjw We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-12 00:01] #5604 closed

[2018-04-12 00:02] femsulu commented on #6078
@nitinkale We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-12 00:02] #6078 closed

[2018-04-12 00:03] femsulu commented on #6308
@mcourter We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-12 00:03] #6308 closed

[2018-04-12 00:04] femsulu commented on #6314
@yadcam We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-12 00:04] #6314 closed

[2018-04-12 00:04] elmalloc opened #7067 "Metric Measurement from Custom Log Query not alerting; appears to be MS injected syntax error"
Attempting to **create a new alert based on the public preview Custom Log Search** as the source.

- Type: Metric Measurement
- Running the raw query in Log Analytics **returns AggregatedValues over the specified Threshold in the given timestamp timeframe**.
- In that scenario, I'd expect the **alert to fire** - but nobody within the Action Group is emailed.
- Copying the "**Query to be executed**

[2018-04-12 00:05] femsulu commented on #6388
@fitzgeraldsteele We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-12 00:05] #6388 closed

[2018-04-12 00:05] MohitGargMSFT commented on #7017
@fbinotto As mentioned in the document under [Prerequisites](https://docs.microsoft.com/en-us/azure/active-directory/device-management-hybrid-azuread-joined-devices-setup#prerequisites) section - you need to make sure that Azure AD connect has synchronized the computer objects of the devices you want to be hybrid Azure AD joined to Azure AD.

[2018-04-12 00:05] femsulu commented on #6699
@mvark We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-12 00:05] #6699 closed

[2018-04-12 00:06] jason-j-MSFT commented on #6840
@rwoods42 Analysis Services in Direct Query mode will only store meta data and not the data itself.  Take a look here:
https://docs.microsoft.com/en-us/azure/analysis-services/analysis-services-overview#your-data-is-secure

Note the section:

Data security
Azure Analysis Services utilizes Azure Blob storage to persist storage and metadata for Analysis Services databases. Data files within Blob are

[2018-04-12 00:06] #6840 closed

[2018-04-12 00:06] femsulu commented on #6819
@GSchroder, We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-12 00:06] #6819 closed

[2018-04-12 00:08] davidmu1 commented on #5868
According to the engineering team, this works as designed and is documented accordingly.

#please-close

[2018-04-12 00:10] davidmu1 commented on #6477
Not enough information to implement a fix to the article.

#please-close

[2018-04-12 00:24] jcjp commented on #7065
Correction I am not able to get to the console.log('Getting Heroes...'); I am able to reach this line of code: this.http.get<Array<Hero>>(`${api}/heroes`)

[2018-04-12 00:29] MohitGargMSFT commented on #7026
@githubsteveb Please check other available powershell commands that may help with your requirement -
[Get-AzureADDeviceConfiguration](https://docs.microsoft.com/en-us/powershell/module/Azuread/Get-AzureADDeviceConfiguration?view=azureadps-2.0) - This cmdlet retrieves the device configuration object
[Get-AzureADDeviceRegisteredOwner](https://docs.microsoft.com/en-us/powershell/module/Azuread/Get-Az

[2018-04-12 00:34] MohitGargMSFT commented on #6974
@JohnBruceMS Please refer to this document - [Azure Government developer guide - Endpoint mapping](https://docs.microsoft.com/en-us/azure/azure-government/documentation-government-developer-guide#endpoint-mappingl) and let me know if that helps with your requirement.

[2018-04-12 00:40] jason-j-MSFT commented on #6909
@mumian We have a request to add a statement regarding patch management on empty edge nodes, or perhaps a reference to the OS patching page for HDInsight:
https://docs.microsoft.com/en-us/azure/hdinsight/hdinsight-os-patching

[2018-04-12 00:41] cynthn commented on #5848
#please-close @ScottAzure can you message me with exactly where you want the anchor, if you still need it? I should be able to quickly add this to the topic if is still necessary. Thanks!

[2018-04-12 00:42] MohitGargMSFT commented on #7043
@evh69 Yes you are correct. Step2 under this section - [Upload the policies to your tenant](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-get-started-custom#upload-the-policies-to-your-tenant) is talking about the "Identity Experience Framework - PREVIEW" under the 'Welcome to Azure AD B2C' section below the 'quick start' link.

[2018-04-12 00:42] juhacket commented on #6991
#please-close

[2018-04-12 00:42] MohitGargMSFT commented on #7059
@montereyharris Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-12 00:43] BryanTrach-MSFT commented on #7054
@lorindavis Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-04-12 00:45] BryanTrach-MSFT commented on #7062
@HemantMahawar Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-04-12 00:47] MohitGargMSFT commented on #7053
@jmagosta Thanks for your feedback! Please help with more details on your ask. This section of the document - [Use an existing Azure AD tenant](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-howto-tenant#use-an-existing-azure-ad-tenantl) helps with information on how to the same.

[2018-04-12 00:50] MohitGargMSFT commented on #7049
@brianesb Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-12 00:52] femsulu commented on #7067
@elmalloc Thanks for the feedback. We are actively investigating and will get back to you soon.