[2018-08-21 11:04] ArttuArstila commented on #13666
Sorry, I had missed that. Good that it is already documented!

[2018-08-21 11:51] VGSandZ opened #13730 "Running sysprep"
Hi Team,
Running sysprep would make the rdAgent and Azure Guest Agent services to disabled state? Is this common?
If so how would a Custom Image which has MetaData/CustomData /C:\AzureData\CustomData.bin would be pulled?
Any thoughts?
Regards,Venu

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b9c0d7a-bbf5-eccc-f2ca-a

[2018-08-21 12:06] Ayanmullick commented on #13190
ok. Thanks for confirming.
Uservoice URL--->  https://feedback.azure.com/forums/258995-azure-backup/suggestions/35172670-sql-backup-encryption-without-tde

[2018-08-21 12:22] Neratio opened #13731 "Typo in Azure disaster recovery table"
In the matching table for disaster recovery in the first row the Paired Region "Australia Soutche(a)st" has a typo (a is missing).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1aa8c1f7-dc55-7129-95be-687a0b11a636
* Version Independent ID: 4a09b58a-9fd2-69fc-0348-e6d4d0956a20
* Content: [Planning for an Azure File Syn

[2018-08-21 12:43] jxjia commented on #12189
Thanks team !

[2018-08-21 12:43] #12189 closed

[2018-08-21 13:09] jonwbstr opened #13732 "Services protected by Azure AD smart lockout?"
Hello,

What services are protected? All services, including EWS, SMTP, POP, IMAP, ActiveSync (Mobile apps), Legacy Outlook clients, Clients using Modern Authentication, Office Portal (browser), OWA?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c7b90ca-a2b1-9cd8-9769-cd48c27f10ea
* Version Independent ID: b8c29389-c

[2018-08-21 13:14] rohancragg opened #13733 "Azure Key Vault application identity permissions"
It's not clear to me and not explained what you mean by 'Azure Key Vault application identity'.

In section "Setup for role-based access control (RBAC) permissions"

It says "Azure Key Vault application identity needs permissions".

Below it in the code sample it, on the line:

`$servicePrincipal = Get-AzureRmADServicePrincipal -ServicePrincipalName <GUID>`

It is not explained how the GUID was ob

[2018-08-21 13:27] rohancragg commented on #13733
I assume the following would work?:

[2018-08-21 13:47] SqlTechMike opened #13734 "Source/Target Combinations Table"
In the Source/Target Combinations table, I believe that the entries for Customer to CSP and Customer to Customer are reversed - see attached image

![source target combinations](https://user-images.githubusercontent.com/12436002/44405323-7b520000-a548-11e8-84fc-36e5103e79b5.jpg)
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-08-21 13:54] 123dev opened #13735 "AzCopy for MacOS ?"
Hi,

Is there AzCopy available for MacOS?
We see for Windows and Linux here
https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azcopy-linux?toc=%2fazure%2fstorage%2ffiles%2ftoc.json, but nothing for Mac.

Considering that we run powershell on Macs it would be nice to have this tool compiled for Mac.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2018-08-21 14:07] jellison-belllus commented on #13692
That's the thing, I just get an error inside of Azure that just says "InternalError" and then the sync does not complete.

When testing the info, it works without the https:// portion. Fails with https://. There must be another issue with it entirely because now I see it error out without https:// when it tries to sync.

[2018-08-21 14:08] dbasznianin opened #13736 "Access Denied if external user accept privacy policy agreement from shared link to document?"
I am not sure the reason, but if in Azure Active Directory I invite external user, create document and share with user. Once user accept policy lost permission to document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3562df9e-bbd8-0f6f-a7e2-fa5730b99365
* Version Independent ID: bf99e363-4f0b-82b5-18b8-2cb4ed89cd6b

[2018-08-21 14:24] mstechies opened #13737 "Getting error when try to deploy in Azure Service Fabric cluster"
Error message: CreateContainer: failure in a Windows system call: No hypervisor is present on this system. (0xc0351000). Can someone help?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7df6f76-be53-ff44-5d81-aa1c2c2a1c51
* Version Independent ID: 9e3b3112-bcd1-cee5-48ed-69e3debbd5a3
* Content: [Create an Azure Servic

[2018-08-21 14:25] mstechies opened #13738 "Getting error when deployed in Azure Service Fabric cluster"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-08-21 14:26] mstechies commented on #13738
I followed the article and when I try to deploy to the Azure Service Fabric Cluster, I got this error message, that could not download the image and later, after adding isolation, I get this error message. CreateContainer: failure in a Windows system call: No hypervisor is present on this system. (0xc0351000)

[2018-08-21 14:45] piotrek-k commented on #13639
Yes! It seems `Developer Analytics Tools` was disabled. After enabling it I can find `Application Insights Search` in menu. Thanks for help 😃

[2018-08-21 14:45] #13639 closed

[2018-08-21 14:57] Ayanmullick opened #13739 "Embed PowerBI report on Azure Dashboard"
Is there a way to embed a PowerBI report on an Azure Dashboard?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c4b9b1a-88db-9f06-3eda-7e8db1f86353
* Version Independent ID: da1b9640-d24a-3738-c871-6017a3e383ea
* Content: [Create and share dashboards of Azure Log Analytics data](https://docs.microsoft.com/en-us/azure/l

[2018-08-21 14:58] CarlRabeler commented on #13287
@andyce1010 I answered too quickly. When you create an Azure SQL server and DB using the Azure portal and click the checkbox for allowing Azure services, a firewall rule with an IP address of 0.0.0.0 is created. When you create your server and DB using an API, such as PowerShell, you have to create this firewall rule for this IP address yourself - as there is no checkbox. Sorry for the confusion.

[2018-08-21 15:05] jeffgilb commented on #13734
Thanks for the feedback @SqlTechMike , I believe you are right, but I'll do some checking to confirm. That table is a little hard to digest as it is.

[2018-08-21 15:06] kobulloc-MSFT commented on #13639
@piotrek-k Good to hear that everything is working out!

[2018-08-21 15:06] msilinda commented on #13663
That video did not help it isn't current and I am looking for a full PowerShell script by Microsoft in GitHub. Thank you.

[2018-08-21 15:11] jeffgilb commented on #9043
#please-close

[2018-08-21 15:16] CarlRabeler commented on #13300
#please-close

[2018-08-21 15:16] CarlRabeler commented on #13645
@juongithub I have created a work item to address this.

[2018-08-21 15:24] rajaprad opened #13740 "Nice Document"
Nicely written document! Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 376f32b3-0acb-625a-e635-e62503213c63
* Version Independent ID: c26787f2-f910-c3f0-d787-818d11f71c4a
* Content: [Set up WinRM access for an Azure VM](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/winrm)
* Content Source: [ar

[2018-08-21 15:44] SimonPuckeyAW commented on #12261
Hi @TylerMSFT, tried the above but my applications were deployed to the local cluster on different IP addresses. Do the communicating services have to be part of the same app and network? If so how would this work when disparate services need to communicate? Either way is the basic tutorial on service communication updated yet? Thanks for your help!

[2018-08-21 15:47] eric-lavalley opened #13742 "Clarity around blocking app registration entirely"
It's not clear based on this documentation how you would fully prevent apps from being registered in the first place. The documentation outlines how to disable user consent, but I'd like to know how I prevent applications from being registered by anyone other than Global Admins. If a Global Admin didn't explicitly add the application to our tenant, it shouldn't be in the list.

---
#### Document D

[2018-08-21 15:48] rohancragg commented on #12897
I managed to use code similar to the following to work around this issue in the current verison of the documentation:

`$validityPeriod = [System.Timespan]::FromDays(1)
$readSasName = "readBlobSas"
$writeSasName = "writeBlobSas"

$start = [System.DateTime]::Now.AddDays(-1)
$end = [System.DateTime]::Now.AddMonths(1)

$context = New-AzureStorageContext -StorageAccountName $storage.StorageAccountName

[2018-08-21 15:59] TomJFletch commented on #13502
Also getting this error, is there any workaround before a fix is made?

[2018-08-21 16:00] johndo88 opened #13743 "Monitoring + Management is now Management Tools"
Step 2 under "Create Automation Account" asks you to click "Monitoring + Management". In current versions of Azure, it's now called "Management Tools".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7c2cc34-ba4a-1181-ccda-88dd901e0212
* Version Independent ID: 9b4a3b68-03fc-387a-ee5d-e7f73ee3c567
* Content: [Azure Qui

[2018-08-21 16:00] DoyleJOfTexas commented on #13300
?

________________________________
From: Carl Rabeler <notifications@github.com>
Sent: Tuesday, August 21, 2018 10:16 AM
To: MicrosoftDocs/azure-docs
Cc: DoyleJOfTexas; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Update Service Tier Table (#13300)

#please-close

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/MicrosoftDo

[2018-08-21 16:14] Mike-Ubezzi-MSFT commented on #13718
@jimeilong Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-21 16:17] TomJFletch commented on #13502
Is there a workaround for this? I'm also getting the same error and am hoping there is a workaround before a fix is issued...

[2018-08-21 16:21] otravers opened #13744 "Integrated support in Power BI Desktop?"
It seems someone dropped the ball in the migration from the previous "data catalog in Power BI", since ADC is still not listed as a data source in Power BI Desktop (unlike in Excel, though Excel dialog boxes still refer to "Power BI" rather than "Azure Data Catalog").

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60a1

[2018-08-21 16:24] remydahl opened #13745 "Please clarify this statement..."
"Microsoft strongly recommends not to synchronize users with admin roles in AAD."

This has caused some confusion among some of my clients, which necessitated a call to support to clear it up - if the recommendation is actually that you have at least a single cloud admin account so you can still get access to your environment in the event that something breaks with your sync, then this needs to be

[2018-08-21 16:32] jzuchora87 commented on #8050
Any update on this? I'm still receiving the same error but for a "Get-"
![image](https://user-images.githubusercontent.com/34356109/44415349-3aed8480-a53e-11e8-8fc4-3609c6f1a431.png)

[2018-08-21 16:35] Karishma-Tiwari-MSFT commented on #13740
@rajaprad Glad to know that the document was helpful to you. :)
We will now close this issue. If you have questions about Azure in future, feel free to open an issue on that specific document.

[2018-08-21 16:35] #13740 closed

[2018-08-21 16:35] sparsematrix opened #13746 "Split does not work as described"
Split does not work as described. The example shows that given the expression split('abc', ',') the output would be [a, b, c], when the output is actually ["abc"]. Just stick it into a Compose action and see for yourself. Given an expression such as split('a,b,c', ',') or split('a|b|c', '|') the output would be ["a", "b", "c"]. The separator is not that which will be used in the output but that wh

[2018-08-21 16:36] remydahl commented on #13745
Now that I've left my comment, I realize that there was already a request for clarification on the same statement that was closed without answering it. Please clarify this statement rather than ignoring it - it's poorly worded and is causing confusion.

[2018-08-21 16:36] Adam-Smith-MSFT commented on #13731
@Neratio Thank you for the valuable feedback,we are investigating the issue.

[2018-08-21 16:36] Karishma-Tiwari-MSFT commented on #13737
Thanks for the question. We are currently investigating and will update you shortly.

[2018-08-21 16:43] #9043 closed

[2018-08-21 16:51] shrishar commented on #13713
Sure,

I have created a Machine learning studio work space under my Microsoft azure subscription. Under that workspace I have created a simple experiment like this -
![image](https://user-images.githubusercontent.com/31457014/44416297-687b0380-a527-11e8-9df9-e317046cbfde.png)

Now if I want to deploy this workstudio experiment automatically by a script then how can I do it ?
I know we have an opti

[2018-08-21 16:57] jason-j-MSFT commented on #13712
@marct22
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-21 17:07] mrbullwinkle commented on #13189
@eugen-nw we've updated this doc further to make it extremely clear that the adapter is deprecated and have relocated the content related to that deprecated functionality to the bottom of the article to avoid confusion. These changes are merged internally and will go live in the next hour. We're going to close out this issue, but if you have any additional problems with the docs please let us know

[2018-08-21 17:07] mrbullwinkle commented on #13189
@MicrosoftDocs/azure-cxp-triage #please-close

[2018-08-21 17:10] MarileeTurscak-MSFT commented on #13745
Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-21 17:12] MarileeTurscak-MSFT commented on #13733
Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-21 17:14] tfitzmac commented on #13726
The gateway moves with the Data Factory.

[2018-08-21 17:14] tfitzmac commented on #13726
#please-close

[2018-08-21 17:14] tfitzmac commented on #13724
@Anmolgan81 - yes, Data Factory V2 can be moved.

[2018-08-21 17:14] tfitzmac commented on #13724
#please-close

[2018-08-21 17:15] MarileeTurscak-MSFT commented on #13720
Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-21 17:16] tfitzmac commented on #13725
@Anmolgan81 - yes, Batch Accounts can be moved. They are part of the Batch service.

[2018-08-21 17:16] tfitzmac commented on #13725
#please-close

[2018-08-21 17:18] MarileeTurscak-MSFT commented on #13736
Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-21 17:26] mike-urnun-msft commented on #13746
@sparsematrix Thank you for reporting this issue! We will investigate and make any necessary changes.

[2018-08-21 17:27] Karishma-Tiwari-MSFT commented on #13722
@Pavankumar9989 @MSSedusch  Currently I do not see [versioning/releases](https://help.github.com/articles/creating-releases/) set up for the docs. You can see the latest changes in the article by going to the article and clicking on blame: https://github.com/MicrosoftDocs/azure-docs/blame/master/articles/virtual-machines/workloads/sap/high-availability-guide-suse.md

![image](https://user-images.g

[2018-08-21 17:27] TravisCragg-MSFT commented on #11650
@sercast We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-21 17:27] #11650 closed

[2018-08-21 17:27] jfuller28495 opened #13748 "461?"
There is an event ID listed above that is 461, however it is in the same area as 46xx event IDs, is there a number missing for that event ID?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8267e218-3748-2820-3eee-80479705eec2
* Version Independent ID: 8c6d5fce-6383-a0f8-7df3-f5e0a77bbad6
* Content: [Data Collection in

[2018-08-21 17:28] MohitGargMSFT commented on #13714
@dbasznianin Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content, open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/newthread?prof=required) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. The forum community me

[2018-08-21 17:28] Karishma-Tiwari-MSFT commented on #13182
@gsimardnet We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-21 17:28] #13182 closed

[2018-08-21 17:30] Karishma-Tiwari-MSFT commented on #13388
@jlaw2018 Any updates?

[2018-08-21 17:30] johnmay1 commented on #13531
Hub is not connected and also able to see sensor data in log but not seeing any data on Azure IOT Hub portal. Also installed VS Code plugin and tried to send message but failed with following error:

![image](https://user-images.githubusercontent.com/22088585/44418397-480e7180-a546-11e8-8543-fc93a1b102f9.png)

Regards,
John

[2018-08-21 17:30] MohitGargMSFT commented on #13716
@YossiShasha Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-21 17:32] dlepow commented on #13456
@Karishma-Tiwari-MSFT - Hi, I don't believe a doc update is required at this time, so please close. Thx.
#please-close

[2018-08-21 17:34] MohitGargMSFT commented on #13735
@123dev Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-21 17:37] JasonWHowell commented on #13712
@marct22 I don't think using a Azure RM template to deploy the workspace is possible today because that lights up after the cluster is provisioned.

Its definitely a good idea to have this feature. Would you please help add it to the wishlist and vote up the idea at: [https://feedback.azure.com/forums/909463-azure-databricks](https://feedback.azure.com/forums/909463-azure-databricks)

Thanks, Jaso

[2018-08-21 17:39] YutongTie-MSFT commented on #12503
@XianghanWang We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

@j-martens I will close it.

[2018-08-21 17:39] #12503 closed

[2018-08-21 17:40] MohitGargMSFT commented on #13738
@mstechies Please help with the link of document on which above document feedback request is created.

[2018-08-21 17:41] yushwang commented on #13581
Nope, other VMs are fine and that's by design. Forced tunneling is a totally supported scenarios, it just that you cannot assign default route to the GatewaySubnet. If you are using BGP, we automatically exclude the default route advertised from on premises on the GatewaySubnet.

[2018-08-21 17:43] TravisCragg-MSFT commented on #13201
@CHDAFNI-MSFT We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-21 17:43] #13201 closed

[2018-08-21 17:51] jason-j-MSFT commented on #13739
@Ayanmullick thanks for the interest!  This question would be best asked here:
https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=opinsights

If you have a focused suggestion on how to improve our documentation, feel free to open another issue.

[2018-08-21 17:51] #13739 closed

[2018-08-21 17:51] kichalla opened #13749 "Sections related to creating resource groups etc. are distracting"
My suggestion is to move the section related to creating resource groups etc. to a different page as its too distracting in this doc. Also it would be great to mention that one does not need a dockerfile in their sources to actually host in a container (and that its automatically done for you)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2018-08-21 17:52] BryanLa commented on #13733
Hi @rohancragg - correct, the GUID is the identifier for the service principal, also known as the Application ID, or Client ID, which gets assigned when an application is registered with Azure AD. See [Integrating applications with Azure Active Directory](https://docs.microsoft.com/azure/active-directory/develop/quickstart-v1-integrate-apps-with-azure-ad) for more background.

And yes, you could a

[2018-08-21 17:53] BarbaraSelden commented on #13710
Looks good. Thanks for the fast turn around

Thanks,
Barbara

Barbara Selden<mailto:barbara.selden@microsoft.com>
Senior Program Manager – Azure Identity
Developer Guidance and Knowledge Management
O. 425-538-5368 | M. 206-601-4223

From: Celeste de Guzman <notifications@github.com>
Sent: Monday, August 20, 2018 9:30 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Barbara Selde

[2018-08-21 17:53] jlaw2018 commented on #13388
Thanks for pointing that our @Karishma-Tiwari-MSFT , MS should update their sample script just to close the loop on the confusion people are going to keep encountering running that sample. I am getting a different error now New-AzureRmVM : Required parameter 'networkProfile' is missing (null).
ErrorCode: InvalidParameter but I will just work through this. I'm sure this one is just me, thanks for t

[2018-08-21 17:56] jason-j-MSFT commented on #13744
@otravers
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-21 17:57] CelesteDG commented on #13710
Thank you very much for reviewing, @BarbaraSelden - I just updated the date for the article to indicate today's date. This update will go out in this afternoon's doc update (~3:30). Thank you.

[2018-08-21 17:57] #13456 closed

[2018-08-21 18:02] ramankumarlive commented on #13388
@jlaw2018 the issue with the command New-AzureRmVM. The issue is tracked here https://github.com/Azure/azure-powershell/issues/6847. Once the issue is fixed you won't face issue with the script.

[2018-08-21 18:05] asmalser-msft commented on #12752
Yes, as of today the Workday inbound provisioning connectors are still in public preview. In addition to the existing body text, the title has been updated to make this clearer. #please-close

[2018-08-21 18:08] douglaslMS commented on #13383
@saulcruz Thanks to your question, we have added a bit of guidance to the article. Please see the paragraph titled "Connection strings" at the end of the section. [Continuous integration and deployment in Azure Data Factory | Create a Resource Manager template for each environment](https://docs.microsoft.com/en-us/azure/data-factory/continuous-integration-deployment#create-a-resource-manager-templ

[2018-08-21 18:08] douglaslMS commented on #13383
#please-close

[2018-08-21 18:09] #13189 closed

[2018-08-21 18:11] #13383 closed

[2018-08-21 18:12] MohitGargMSFT commented on #13742
@eric-lavalley Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-21 18:13] #13712 closed

[2018-08-21 18:15] asmalser-msft commented on #12811
Hi, in the current versions of the Workday inbound provisioning connectors, writing to the thumbnailPhoto user attribute in Active Directory is currently not supported. It is actually possible to use the "attribute customization" feature to extract the photo data from Workday. However, syncing specifically to the thumbnailPhoto attribute in AD isn't currently supported in the current version. Also

[2018-08-21 18:15] chanaka-jostle opened #13750 "Microsoft Azure Active Directory Connect"
Hello,

We are on a pay as you go subscription and I would like to try pass through authentication with Azure AD. I tried to install Azure Active Directory Connect on our Win 2012 R2 server which hosts our on premise AD but I get the following connection error. Do I need to setup an Application Proxy for this to work?

ProvisioningWebServiceAdapter::ExecuteWithRetry: Action ProvisioningWebServiceA

[2018-08-21 18:16] asmalser-msft commented on #12269
The article has been updated with the URL suggestion, thanks #please-close

[2018-08-21 18:17] Mike-Ubezzi-MSFT commented on #13531
@johnmay1 I am going to keep this issue closed because the document referenced by this GitHub issue is the basic IoT Edge tutorial. It is not the tutorial that has you connect with VS Code to view messages, nor a tutorial that has you connect to you IoT Hub instance with Machine Learning or App Services, etc.

The tutorial you are working through is this one: [Use Azure IoT Toolkit extension for V

[2018-08-21 18:19] Grace-MacJones-MSFT commented on #13527
Hi @Lucasmike, thanks for your patience. Unfortunately, we currently do not have a doc that contains a full list of endpoints. I am assiging this issue to the doc author to see if we can make an enhancement to the doc to include a list of common endpoints for users. Thanks for your feedback!

[2018-08-21 18:20] #13669 closed

[2018-08-21 18:34] YutongTie-MSFT commented on #13028
@j-martens
Hi, I have changed the label to product question. I can reproduce the issue.
![image](https://user-images.githubusercontent.com/38084098/44421636-01188000-a536-11e8-9d17-80210afb728e.png)
Do you have any insight about that?

[2018-08-21 18:35] asmalser-msft commented on #11566
The article has been removed as requested #please-close

[2018-08-21 18:39] ursqontis opened #13752 "Step "Connect with kubectl" not working"
Step "Connect with kubectl" is not working anymore with azure CLI 2.0.44, because 'az acs kubernetes get-credentials' asks the question "Password for private key:". See also
https://github.com/Azure/azure-cli/issues/5080#issuecomment-385541623

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 279bedf4-4a94-4412-e18f-1765b

[2018-08-21 18:40] Ayanmullick commented on #13739
@jason-j-MSFT , Could you move it to
https://docs.microsoft.com/en-us/power-bi/developer/embed-sample-for-your-organization

[2018-08-21 18:46] MarileeTurscak-MSFT commented on #13748
Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-21 18:48] Anmolgan81 commented on #13726
Am talking about the On Premise data managment gateway will that supports move???

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Tom FitzMacken <notifications@github.com>
Sent: Tuesday, August 21, 2018 10:44:25 PM
To: MicrosoftDocs/azure-docs
Cc: Anmol Ganju; Author
Subject: Re: [MicrosoftDocs/azure-docs] What about the Data Managment Gateway? (#13726)

#pl

[2018-08-21 18:55] AdamHeff opened #13753 "After step: Update the container image, Error"
After step: Update the container image I got the following error.
ERROR: for azure-vote-front  Cannot start service azure-vote-front: driver failed programming external connectivity on endpoint azure-vote-front
I'm not sure what the best solution to the issue is, but I solved it by doing docker stop on everything, and then restarting docker.

---
#### Document Details

⚠ *Do not edit this section.

[2018-08-21 18:56] Karishma-Tiwari-MSFT commented on #13730
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-21 18:58] CelesteDG commented on #13710
PR has been merged and should go live by 3:30 PM today. #please-close Thank you

[2018-08-21 19:00] Karishma-Tiwari-MSFT commented on #13442
@abhijeetahuja Can you please chime in and share your insights on what is the best way to switch Linux Diagnostic extension to another storage account.

[2018-08-21 19:06] abhijeetgaiha commented on #13442
Which version of LAD is this - 2.3 or 3.0?

[2018-08-21 19:11] OwainWin commented on #13442
Adding 3.0 after removing 2.3, VM was restarted between removing 2.3 and
adding 3.0

On Tue, 21 Aug 2018, 20:06 Abhijeet Gaiha, <notifications@github.com> wrote:

[2018-08-21 19:13] MicahMcKittrick-MSFT commented on #13543
@ramankumarlive no problem. I will get to it today.

[2018-08-21 19:13] femsulu commented on #13632
@jfoshee DSC refers to Desired State Configuration. [Here](https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/dsc-overview) are some useful public documentation on DSC.
Hope this helps.

FYI @mlearned  - may be worthwhile to update the doc with DSC definition.

[2018-08-21 19:13] #13632 closed

[2018-08-21 19:15] abhijeetgaiha commented on #13442
I would advise deleting the extension completely and then retrying the install script provided in the docs with the new storage acct.

[2018-08-21 19:17] #13724 closed

[2018-08-21 19:26] EriksonBahr opened #13754 "image operating system "windows" cannot be used on this platform"
Could not build and Windowsservercore based image using acr build.

Error message / details:

image operating system "windows" cannot be used on this platform
Error: failed to run step id: acb_step_0: exit status 1
Build ID: ad1 failed after 40.959416168s

Could you please advise whether windows containers are supported? If not, by when would it be?

---
#### Document Details

⚠ *Do not edit this

[2018-08-21 19:28] TravisCragg-MSFT commented on #13727
@dcbrown16 you are correct, everything else I have done in the portal.

[2018-08-21 19:30] CarlRabeler commented on #13300
@DoyleJOfTexas Hi - what additional changes would you like to see to this topic?

[2018-08-21 19:33] Mike-Ubezzi-MSFT commented on #8050
Following the documentation, I am seeing the following error:

`PS C:\WINDOWS\system32>  Install-Module -Name AzureRM.Sql -RequiredVersion 4.5.0
PS C:\WINDOWS\system32> Install-Module -Name AzureRM -RequiredVersion 6.1.0

PS C:\WINDOWS\system32> Connect-AzureRmAccount -Tenant "72f988bf-XXXX-XXXX-XXXX-2d7cd011db47" -SubscriptionId "b83c1ed3-XXXX-XXXX-XXXX-2b83a074c23f"

Account          : miubezzi@

[2018-08-21 19:34] tfitzmac commented on #13726
@douglaslMS or @linda33wj - do you know if there is any problem with moving an on-premise gateway to a new Azure subscription?

[2018-08-21 19:34] ormico opened #13755 "install helm"
why does document include instructions for installing helm on a Mac but require going to another page for instructions for installing on Windows and other OSs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a917974-7672-e4f9-ab5c-4a5bfeeca27d
* Version Independent ID: be5c1091-0711-25c4-7555-e3534b3eba42
* Content: [D

[2018-08-21 19:36] TravisCragg-MSFT commented on #13728
@zaxer0229 Unfortunately there is not currently a way, unless your VNET has been associated with a different DNS Zone. [From the Private DNS Overview Doc:
](https://docs.microsoft.com/en-us/azure/dns/private-dns-overview)

Azure Private DNS is currently in [public preview](https://azure.microsoft.com/en-us/support/legal/preview-supplemental-terms/), and if you would like this feature to be added,[

[2018-08-21 19:36] #13728 closed

[2018-08-21 19:37] TravisCragg-MSFT commented on #13427
@lalitprasad We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-21 19:37] #13427 closed

[2018-08-21 19:37] TravisCragg-MSFT commented on #13389
@tilak92584 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-21 19:37] #13389 closed

[2018-08-21 19:37] TravisCragg-MSFT commented on #13381
@rifaterdemsahin We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-21 19:37] #13381 closed

[2018-08-21 19:40] MicahMcKittrick-MSFT commented on #13451
Thanks @ggailey777!

@GuyHarwood does that help?

[2018-08-21 19:41] Mike-Ubezzi-MSFT commented on #8050
@anosov1960 @CarlRabeler Is there someone who is able to address this, as an update to the Powershell steps needs to be made.

[2018-08-21 19:41] vasivara-MSFT commented on #13689
@AMustapha The title says "Create an event hub using azure powershell". As title says creation of resource group, event hubs namespace, event hub, storage account for event processor host are done using powershell commands. It also explains about streaming as part of this document which is in C#. The main content is about creating an event hub by using powershell and I think title fits well for th

[2018-08-21 19:42] vasivara-MSFT commented on #13689
@AMustapha We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-21 19:42] #13689 closed

[2018-08-21 19:43] SaurabhSharma-MSFT commented on #13559
@DanielJBrown We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-21 19:43] #13559 closed

[2018-08-21 19:58] MicahMcKittrick-MSFT commented on #13737
@mstechies make sure you have Hyper-V enabled on your machine.

For example, Control Panel -> Get Programs -> Turn Windows features on or off -> Hyper-V

![image](https://user-images.githubusercontent.com/32313503/44425822-d7655600-a541-11e8-9738-5c951e7d2280.png)

[2018-08-21 19:59] DoyleJOfTexas commented on #13300
none- just flagging something for your review

________________________________
From: Carl Rabeler <notifications@github.com>
Sent: Tuesday, August 21, 2018 2:30 PM
To: MicrosoftDocs/azure-docs
Cc: DoyleJOfTexas; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Update Service Tier Table (#13300)

@DoyleJOfTexas<https://github.com/DoyleJOfTexas> Hi - what additional changes would you like to see to

[2018-08-21 20:00] rohancragg commented on #13733
Thanks @BryanLa - I was aware of being able to register Applications in AAD, but in this case I have nbot registered an Applicaiton (and the doc does not mention doing that). The GUID is presumably for an already 'built-in' Application (the instance of the Azure Key Vault service in our tenant presumably?) We've not explicitly added this ourselves - it's already there - hence why I'm trying to cla

[2018-08-21 20:00] CarlRabeler commented on #8050
@anosov1960 Sasha - please review this PowerShell issue

[2018-08-21 20:02] conceptdev commented on #13697
#please-close

[2018-08-21 20:06] #13419 closed

[2018-08-21 20:07] MohitGargMSFT commented on #13426
@MotoManCan Please update if you need any help in opening [Azure Support Ticket](https://aka.ms/azsupt).

[2018-08-21 20:08] MohitGargMSFT commented on #13614
@darrellbooker As stated above, please post your created MSDN thread here and I will make sure your query is been addressed in MSDN.

[2018-08-21 20:10] j-martens commented on #13028
Does this stackoverflow article help at all? https://stackoverflow.com/questions/47465801/azure-machine-language-tutorial-step-failed @cbarkerms

[2018-08-21 20:10] MohitGargMSFT commented on #13750
@chanaka-jostle Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content, open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/newthread?prof=required) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum communi

[2018-08-21 20:14] j-martens commented on #13028
This issue is similar to this one: https://github.com/MicrosoftDocs/azure-docs/issues/8723

[2018-08-21 20:15] j-martens commented on #8723
This issue is similar to this one: https://github.com/MicrosoftDocs/azure-docs/issues/13028

[2018-08-21 20:15] #13543 closed

[2018-08-21 20:18] MohitGargMSFT commented on #13716
@YossiShasha Please note that your query on how to become provider like Duo Security, RSA, Trusona is out of scope of this document. However, I am assigning this issue to content author in case they have some information to share around it.

[2018-08-21 20:18] SimonPuckeyAW commented on #12261
Update to my comment above - moved the solutions to my laptop (the containers being deployed were both super basic net core apis) and they were able to communicate similar to the example described. Not sure where the problem lies (it would seem with the cluster running on my other machine)  but concerned by the flaky-ness of the local cluster as it also crashed completely today. :+1 though for est

[2018-08-21 20:21] j-martens commented on #13028
Some of the tips here might help about the subscription type and spending limits. Let me know if anything solves your issue so we can add a note. https://github.com/Azure/azure-cli/issues/4822

[2018-08-21 20:27] MohitGargMSFT commented on #13720
@kamellemann Please help with more information on it. Is there a policy in place at your end which will make sure that all new disk added are encrypted? How do you manage and enforce the policy?

[2018-08-21 20:31] SimonPuckeyAW commented on #12261
@TylerMSFT started working from the VotingApp sample before noticed you updated the tutorial above, after which I realised the VotingApp also needs updating to match the guidance on this page e.g. service.yaml, .csproj files. Sorry to be a pain but might make life more difficult for others while sample out of sync with docs.

[2018-08-21 20:32] rpstester opened #13757 "misspelling"
There is a misspelling in the first paragraph:
any Azure administrator role this polciy may be different

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1765376-03c9-829a-9e42-e72cc8a0daea
* Version Independent ID: 684c7d7c-09f4-8170-6f7a-132b2d79e1df
* Content: [Azure AD Self-service password reset policies](https://d

[2018-08-21 20:34] MicrosoftGuyJFlo commented on #13757
Feel free to hit the edit button and propose the change you would like to make. Otherwise I will add this to my backlog and get to it later this week or early next.

[2018-08-21 20:35] MohitGargMSFT commented on #13732
@jonwbstr Thanks for the feedback! I have assigned the issue to the content author to investigate and update as appropriate.

[2018-08-21 20:35] MarileeTurscak-MSFT commented on #13748
@rkarlin do you any insights? It does look like it's either in the wrong sequence and should appear sooner, there is a digit missing from the end, or these numbers or not in order.

[2018-08-21 20:36] Mike-Ubezzi-MSFT commented on #13662
@kgreed We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-21 20:36] #13662 closed

[2018-08-21 20:37] iainfoulds commented on #13509
Hi, @gopalvithal. Thanks for reaching out. I chatted with the engineering team on this - we don't provide the steps for upgrading the Docker version as this isn't something we recommend, nor support. If there are specific needs for a given Docker version, the suggestion would be to instead use ACS-Engine, which allows you to use whatever Docker version you need - https://github.com/Azure/acs-engin

[2018-08-21 20:39] Mike-Ubezzi-MSFT commented on #13587
@smoms We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-21 20:42] iainfoulds commented on #13606
@kiranjshetty I chatted with the engineering team on this. We are planning on publishing a doc that provide some more details around the master and agent relationship, and the isolation of components. This doc is due to go live by the end of September.

For now, the AKS control plane components are single-tenanted, they're not shared with other customers. You also have a dedicated API server, sche

[2018-08-21 20:45] #13697 closed

[2018-08-21 20:51] Karishma-Tiwari-MSFT commented on #13450
@misterspeedy Can you share which .NET Framework version are you using?
Exit code 3010 means it needs to reboot and it seems like it isn't doing so by itself. I would recommend trying rebooting the VM manually. Let me now your findings.

[2018-08-21 20:54] TylerMSFT commented on #12261
I am looking into the question about being part of the same app and network. Communicating between services on Mesh is a work in progress. Our team is focused on an upcoming conference so replies are slow. Thanks for the heads-up about the voting app. I have added addressing it to our backlog.

[2018-08-21 20:59] JackDnls opened #13759 "Wrong site content instructions when defining an Inbound security rule and Adding a subnet"
There's an content issue when creating an inbound rule. Basically, the content for inbound rules is the same as for the outbound rules... Here's what the tutorial says:

![contentsite](https://user-images.githubusercontent.com/23641605/44427645-24f0bb80-a560-11e8-90d0-b9b52dbe7d7b.jpg)

Here're the values I have:

![inboundrule_extended](https://user-images.githubusercontent.com/23641605/44427759-

[2018-08-21 21:03] MicrosoftGuyJFlo commented on #13732
Sent a note to the product team to add clarity to what they provided as written.

[2018-08-21 21:05] BryanLa commented on #13733
Hi @rohancragg - yes, you are correct again. The application/client ID being cited, is the one assigned to the Azure Key Vault AAD registration. I was just providing more background on the concept of registration and a service principal, but as you said, several Microsoft ones are "built in".

So in the PowerShell script, Azure Key Vault is the client, and it needs to access Azure Storage, to mana

[2018-08-21 21:15] MicrosoftGuyJFlo commented on #13732
@jonwbstr I spoke with the Program Manager who owns smart lockout...

As the article says "By default, smart lockout locks the account from sign-in attempts for one minute after ten failed attempts. The account locks again after each subsequent failed sign-in attempt, for one minute at first and longer in subsequent attempts."

She agreed it doesn't matter what protocol you use, like with traditio

[2018-08-21 21:15] tfitzmac commented on #13583
@ravbhatnagar - do you have an answer for this question?

[2018-08-21 21:20] Anmolgan81 commented on #13726
Any update on this, please let me know about this one.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Tom FitzMacken <notifications@github.com>
Sent: Wednesday, August 22, 2018 1:04:17 AM
To: MicrosoftDocs/azure-docs
Cc: Anmol Ganju; Author
Subject: Re: [MicrosoftDocs/azure-docs] What about the Data Managment Gateway? (#13726)

@douglaslMS<https://github.co

[2018-08-21 21:21] MohitGargMSFT commented on #13742
@eric-lavalley Please note that if the user has Global Administrator or Application Administrator role then only user will be able to add new application in Enterprise Application else that option is disabled. hence, user role assigned in Azure AD tenant can help control it.

[2018-08-21 21:21] thuansoldier opened #13760 "Does Azure Management app cover Azure Portal?"
I'm a bit confused of Azure Management app when using with Conditional Access in AAD. If I add it to cloud app, and block the access to is (in Grant control) does it actually block my access to Azure Portal? I've tested with a few users but this seems not to be the case.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2

[2018-08-21 21:32] thuansoldier commented on #10733
@saurabhsensharma  Could Enterprise Application be used with Conditional Access?

![app](https://user-images.githubusercontent.com/12892066/44430243-f3232900-a54e-11e8-81d3-a3c2fc32ac4b.PNG)

[2018-08-21 21:43] glimoli commented on #13730
Hi Venu, thanks for your question. Sysprep will overwrite and yes, disable all 3rd party services as they are not coming by default on the windows media. Since Sysprep what it does is presenting your OS as an "Out of the box" experience, those services were not part of the windows media but something else you install later on. So all 3rd party information like this one, including the metadata, wil

[2018-08-21 21:45] LisandroSu opened #13761 "Add-AzureRmServiceFabricApplicationCertificate 実行でエラーとなりました"
@isobe4u commented on [Tue Aug 21 2018](https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/660)

クラスター ノードに証明書をインストールするで以下のコマンド

# Add a certificate to all the VMs in the cluster.
Add-AzureRmServiceFabricApplicationCertificate -ResourceGroupName $groupname -Name $clustername -SecretIdentifier $secret.Id -Verbose

を実行したところ、以下のエラーが発生します。

The secret's JSON representation retrieved from
https:/

[2018-08-21 21:46] LisandroSu commented on #13761
Hi team,

After the line "_Add-AzureRmServiceFabricApplicationCertificate -ResourceGroupName $groupname -Name $clustername -SecretIdentifier $secret.Id -Verbose_" the user is having the following error (roughly translated):

_The secret's JSON representation retrieved from
https://<some value>.vault.azure.net/secrets/VotingAppPFX/<some value>
has a data field which is not properly formatted PFX fi

[2018-08-21 21:53] LisandroSu opened #13762 "No bgp enabled on vpn gateway"
@nnamedieh commented on [Tue Aug 21 2018](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/126)

Hi all, thanks for your well written document! Going through this step by step instructions, I wondered why you enable bgp on the Azure service "Connection" but do not enable it on the vpn gateway. I'm a bit confused about this fact, because actually I don't know when I have to enable bgp on th

[2018-08-21 21:53] LisandroSu commented on #13762
Hi team,

Can you help the user with their question?

Thanks!

[2018-08-21 21:55] revodavid opened #13763 "Links for Speech service in Note broken"
The links in the Note, "Speech service" and "Try it out for free" lead to 404s. They should point to `https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/overview` and (I think) `https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/speech-devices-sdk-qsg` respectively.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2018-08-21 21:58] #11892 closed

[2018-08-21 22:04] SaurabhSharma-MSFT commented on #13666
@ArttuArstila We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-21 22:04] #13666 closed

[2018-08-21 22:11] furmangg opened #13764 "Documentation: POST restorePoints Azure SQL DW REST API"
I think the POST restorePoints REST API needs to be documented in the REST API documentation page (see link at the bottom in the Content Source). That's the REST API equivalent of New-Azure​RmSql​Database​Restore​Point. It was mentioned here:
https://azure.microsoft.com/en-us/blog/quick-recovery-time-with-sql-data-warehouse-using-user-defined-restore-points/

I think it also needs to be documented

[2018-08-21 22:12] iainfoulds commented on #13755
Hi, @ormico The primary audience is expected to be on macOS, where it's common to already have `brew` installed. The install is a one-liner for that platform. Install commands may vary by Linux distro, and it's likely not common for Windows users to have `chocolately` installed. So, it's harder to cover all those different OSes. Instead, we link off to the Helm install docs so we aren't replicatin

[2018-08-21 22:17] furmangg commented on #13764
Adding @kevinvngo

[2018-08-21 22:27] MicahMcKittrick-MSFT commented on #13752
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-21 22:28] MicahMcKittrick-MSFT commented on #13753
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-21 22:28] MicahMcKittrick-MSFT commented on #13754
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-21 22:29] #13755 closed

[2018-08-21 22:58] MarileeTurscak-MSFT commented on #13736
Hi @dbasznianin , can you describe this issue in greater detail and provide a screenshot of the error you are receiving?

[2018-08-21 23:00] YutongTie-MSFT commented on #13029
@j-martens Thanks, I will forward this issue to product group for more investigations.

[2018-08-21 23:01] YutongTie-MSFT commented on #13029
@cbarkerms I have posted it in User Voice to convey this issue to the product group, please keep eyes on it. https://feedback.azure.com/forums/34192--general-feedback/suggestions/35180416-environment-creation-step-results-in-unexpected-cr

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-21 23:01] #13029 closed

[2018-08-21 23:04] YutongTie-MSFT commented on #13763
@revodavid
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-21 23:05] MotoManCan commented on #13426
Sorry I forgot to respond. Not a problem. I'll open a ticket with Azure Support. I'm familiar with the process.

[2018-08-21 23:05] #13426 closed

[2018-08-21 23:10] v-maroge commented on #13715
@TravisCragg-MSFT Thank you!

[2018-08-21 23:11] yushwang commented on #13762
Hi - The Azure VPN gateway is provisioned to initiate BGP peering sessions on a per connection basis. There is no need to enable BGP on the gateway. Once BGP is enabled on a connection, it will trigger the Azure Gateway to start BGP to that specific connection.

However, there is a legacy property "EnableBGP" on the gateway resource that caused a lot of confusion. It was there for un-related reaso

[2018-08-21 23:36] KumudD commented on #11576
#in-progress

[2018-08-21 23:39] asasine opened #13765 "Subnet service tag"
There is a service tag for "VirtualNetwork" but oftentimes we would like to restrict communication to only the subnet which the resource is deployed in. Currently we enter in the CIDR for the subnet by hand, but a service tag for the subnet which an NSG is attached to would be very helpful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2018-08-21 23:44] YutongTie-MSFT commented on #13763
@revodavid Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@zhouwangzw Hi, can you please check this issue? Is the documents has been uploaded but still not live or the link should be correct? Thanks a lot!

[2018-08-21 23:54] BryanTrach-MSFT commented on #13749
@kichalla Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-08-22 00:04] MarileeTurscak-MSFT commented on #13757
There were two instances of this and I created a pull request for both.

[2018-08-22 00:04] #13757 closed

[2018-08-22 00:13] MohitGargMSFT commented on #13759
@JackDnls Please help with the link of document on which above document feedback request is created.

[2018-08-22 00:31] MarileeTurscak-MSFT commented on #13692
@zhchia Can you look into this?

[2018-08-22 00:46] Karishma-Tiwari-MSFT commented on #13702
@roiyz Do you have insights on whether Symantec endpoint protection supports desired state configuration for Azure VMs?

[2018-08-22 00:46] GaretAnderson commented on #12310
@Minewiskan I don't think its related to SSMS or caching creds because I'm observing the results on the model.bim via analysisservices.azure.com as well as the same results in the credentials [...] dialog.

To repro, set any connection's privacy settings (properties > credentials > [...]) and observe it's privacy level in the properties dialog credentials field or azure analysis service web then u

[2018-08-22 00:48] anil0225 commented on #13692
The Domain field expects only part of the URL which is your subdomain , as mentioned in Step 5 , we expect only the subdomain part (like "my-tenant") of your tenant url.

[2018-08-22 01:27] ToruMakabe opened #13766 "Add -w 0 option to base64 command"
I recommend adding "-w 0" option to base64 command in a script of gathering information. If the result of the command is longer than 76 characters without the option, it inserts unnecessary line feed. For example, encoded node resource group name often result in long.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 301b

[2018-08-22 01:56] dcbrown16 commented on #13721
@mike-urnun-msft thanks.
I found the "API connections" menu item also which seems to display the status of the connection, but I can't find any documentation that says how often this connection is refreshed, if that happens automatically at all. I think the specs regarding the API connection resource are the answer here more than the "run duration" limit, but any info you can provide would be appr

[2018-08-22 01:57] jonwbstr commented on #13732
Hello, blocking all sign ins is the desired behavior.

In 2016-2017 I learned that smtp was not affected by the o365 lockout
policy and also could not be disabled.

This is probably a precursor to smart lockout.

Thank you for the quick reply!

On Tue, Aug 21, 2018, 5:15 PM John Flores <notifications@github.com> wrote:

[2018-08-22 02:06] aluong commented on #9554
How reliable is the following? Is it purely up to the Resource Provider if they want to populate that substatus?

[2018-08-22 02:13] yiufung opened #13767 "SAS token support?"
Following the guide, it seems that it doesn't support file share that's accessed via SAS token. Is it the same case with Linux (https://docs.microsoft.com/en-us/azure/storage/files/storage-how-to-use-files-linux)? If so, please indicate in documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c12f1ea9-6446-be01

[2018-08-22 02:40] dcbrown16 opened #13771 "Assigned region"
What determines "closest to you" for the assignment of a Cloud Shell region? I have a customer in Japan reporting that their storage account was created in West US.
Is it possible to change the assignment to another of the supported regions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ecd5d368-8d1c-f984-4922-ab4c7ae

[2018-08-22 02:48] chaseDream1314 commented on #6646
I also have the same error as describe above and I have switched to linux docker. I am confused:
[Local mode] Running docker container.
[Local mode] Pulling the image from mlcrpacr8fb197558338.azurecr.io/imgclassapi1:16. This may take a few minutes, depending on your connection speed...
[Local mode] Pulling...............................................
{'Error': MlCliError({'Response Content': AP

[2018-08-22 02:58] junpark12 opened #13772 "install the agent on the Worker Node"
Hi I have Windows ACS Cluster. For master node, i followed the bash command.
But to install agent on worker node, i need to access the node remotely. Is it possible?
Can you share steps or link?
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7783cfe9-0508-9a73-3923-597cbc523cda
* Version Independent ID: e2dba78

[2018-08-22 02:58] JackDnls commented on #13759
@MohitGargMSFT Here it is https://docs.microsoft.com/en-us/azure/virtual-network/tutorial-restrict-network-access-to-resources

[2018-08-22 03:13] goldocean opened #13773 "creation time for Azure VM"
How to get the creation time for the vhd /blob using power-shell?

[2018-08-22 03:14] goldocean commented on #13773
How to get the creation time for the vhd /blob using power-shell?

[2018-08-22 03:48] kasunsjc commented on #11945
Aug Azure Newsletter also have mentioned this and link provide to learn more point to here. But cant find any docs regarding to flexible RIs

[2018-08-22 04:03] girishgouda opened #13775 "The function binding for graph does not work from vscode"
https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-microsoft-graph

Not able to configure the graph binding locally using VScode. Get the error to register the extension in the startup code although i has the function.json file configured

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81cb62b5-7d

[2018-08-22 04:21] louisjvn opened #13776 "Issue with this lab"
The steps in this lab do not work as each VM you create try to create their own vnet and subnet, for an availability set all VM must be on the same one.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0838680a-403c-6c10-7005-f73a159ba272
* Version Independent ID: b939ffdd-695a-750c-def0-8b485147f2cc
* Content: [Tutorial

[2018-08-22 04:31] SnehaGunda commented on #5391
@patrickjlee yes, this doc: https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-cosmosdb-v2 lists the packages required and examples for Azure functions v2.

[2018-08-22 04:40] iDataSt commented on #13416
Use the power shell script to link Data Factory to existing IR on your machine
.\"Program Files"\"Microsoft Integration Runtime"\3.0\PowerShellScript\RegisterIntegrationRuntime.ps1
This require access Key to re-register .

[2018-08-22 04:57] kamellemann commented on #13720
Hi, there is no Azure Policy in place. The VM is just encrypted via powershell with Set-AzureRmVMDiskEncryptionExtension and the Parameter -volumetype all.

[2018-08-22 05:14] YossiShasha commented on #13716
@MohitGargMSFT I understand that it's out of scope, but unfortunately I tried to find what is the right channel but I couldn't. Thanks for the understanding :)

[2018-08-22 05:21] dcbrown16 opened #13777 "Migrating in Azure"
Can this procedure be used to migrate a custom domain from one Web App to another in Azure (for example, when creating a new app plan to scale up to PremiumV2)?
The customer's specific concern in this situation is whether mapping a custom domain to a new app would remove the mapping from the old app.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2018-08-22 05:38] mstechies commented on #13737
hyper-v is enabled on my machine.

[2018-08-22 05:54] v-maroge opened #13778 "Is NAT configuration required for Log Analytics to communicate with On-Prem environment?"
Do you need NAT configuration for Log Analytics to communicate with On-Prem, and vise versa?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2c9767e-8558-7b76-fc26-34c4776f7bcf
* Version Independent ID: f9853d6a-639a-c9df-a82c-01afdaf43edc
* Content: [Collect data in a hybrid environment with Azure Log Analytics agent]

[2018-08-22 05:54] nnamedieh commented on #13762
Hi Yushun,

thank you for your explanation! When it's a legacy parameter or it's related to Azure Stack I actually don't need it to setup ordinary VPN with BGP. I just stumbled across this because unfortunately there's no explanation in any Azure Doc I found.

So my question is answered - topic closed! 👍

Thanks to all,
Daniel

[2018-08-22 06:09] mstechies commented on #13738
https://docs.microsoft.com/en-in/azure/service-fabric/service-fabric-get-started-containers

[2018-08-22 06:15] v-maroge commented on #13715
@TravisCragg-MSFT This might be a weird question(customer is curious) but are the services randomly assigned to the 5 IPs, or is their a certain rule? (i.e. First and last IP is always used for network address, network broad address etc.)

[2018-08-22 06:46] andyjballgit opened #13779 "Can you create Azure Monitor Alerts based for Resource Health Events"
i.e when a Virtual Machine is marked as unavailable. Had a few cases of this recently / in past where Host CPU is maxed out and fixed with redeploy to different Host

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f40ab2aa-4a6d-abb0-f651-22c5c0b2c202
* Version Independent ID: db7c4d4d-32e1-13cf-4fe8-ec42b18a0d10
* Conte

[2018-08-22 06:56] Drony77 commented on #13442
My 2 cents. I have LAD 3.0 and only want to redirect it to new storage account. I know that reinstalling LAD will achieve this goal but I want to redirect LAD, not to reinstall it.

[2018-08-22 07:01] mahaboob opened #13780 "Getting certificate verify failed exception"
Hi All,
I followed exact the above process and getting below error. Can you please help me how to fix this issue?
fatal: [localhost]: FAILED! =&gt; {"changed": false, "module_stderr": "From cffi callback &lt;function _verify_callback at 0x7ff398190140&gt;:\nTraceback (most recent call last):\n  File \"/usr/lib/python2.7/site-packages/OpenSSL/SSL.py\", line 309, in wrapper\n    _lib.X509_up_ref(x50

[2018-08-22 07:08] kaio6862 opened #13781 "Minor edit"
[Enter feedback here]
1. At the end of the 'Data in transit' section, the words 'Data at rest' are hanging immediately before the 'Data at rest heading.

2. In the 'App Service Environment v2' section, one of the bullet points is 'Disable TLS 1.0'. Should this be 'Disable TLS v1.0 and v1.1' as per the 'Application Gateway' section?

3. Are Azure Active Directory Premium P1 or Premium P2 editions n

[2018-08-22 07:10] dcbrown16 commented on #10251
There are some other relevant links here:
https://docs.microsoft.com/en-us/windows-server/identity/ad-ds/get-started/virtual-dc/active-directory-domain-services-virtualization
@markgalioto is this item under consideration? We receive frequent inquiries through Pro Direct about backup of Active Directory servers on Azure VMs and there is a paucity of clear guidance from the Azure side.

[2018-08-22 07:26] CloudCrusader opened #13783 "RDP on WAP servers"
might be safer solution if you create NAT rule on external Load Balancer for RDP traffic.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d91f97c-a14f-6554-a788-519ca944eabb
* Version Independent ID: c92d0fd1-f3c6-e641-c7ae-4b55eaf1b3de
* Content: [Azure AD Connect: Custom installation](https://docs.microsoft.com/en-us

[2018-08-22 07:50] dominicbetts commented on #13672
@Mike-Ubezzi-MSFT - this looks like a question for the product team. @nberdy - is this something you can help with?

[2018-08-22 08:00] EmmaZhu commented on #12554
@elangelo, I cannot repro this issue.
Following is info of  ncurses installed on my machine.

[code]

AzCopy I used is:
[code]

Could you try again with latest AzCopy?

[2018-08-22 08:13] kyyung opened #13784 "Multiple HDInsight clusters with the Same Blob Storage"
Hi,

Is it possible to have multiple HDInsight clusters, e.g. Spark for ETL and LLAP for data serving, using the same Blob Storage (all regions have data lake store)? I actually tried myself. When I create the second cluster using a blob container with a running cluster, I cannot pass the validation. Is it expected? Please advise

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2018-08-22 08:19] vxnsbir1ugsp commented on #10795
Why the method is POST instead of GET?

[2018-08-22 08:42] lesca opened #13785 "Command fix"
This command line:
`kubectl run -it --rm aks-ssh --image=debian`
Should add `--restart=Never` parameter to avoid auto fix:
`kubectl run aks-ssh -it --rm --restart=Never --image=debian`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b81a147-db1c-b92f-88d1-6dd0991a72fe
* Version Independent ID: f5a2c949-498f-5848-d89c-0

[2018-08-22 08:53] nunix opened #13786 "Use TF_VAR environment variables during plan and apply"
in the `variables.tf` config, both the client_id and client_secret are empty (good practices I suppose).
However in order to avoid copying and pasting the information during the `terraform plan -out out.plan` and again during `terraform apply out.plan`, we could set two shell environment variables as follow:
TF_VAR_client_id=&lt;your app id&gt;
TF_VAR_client_secret=&lt;your password&gt;

This is a

[2018-08-22 09:41] femsulu commented on #13602
@msvijayn , any insights on this please?

[2018-08-22 09:43] abhijeetgaiha commented on #13442
@Drony77 The only way to update the LAD config is by installing the extension again. You don't need to uninstall it but you do need to run the install command again. That will send the updated config to the already installed extension on the VM.

[2018-08-22 09:44] abhijeetgaiha commented on #13442
@OwainWin How are you selecting the metrics? The docs have a default metric configuration that is used by the install script. You can modify that for your purposes.

[2018-08-22 09:45] abhijeetgaiha commented on #13442
@Drony77 The portal team should be able to help out with the portal issues. They will also update the config on the VM through a similar mechanism as running the install command a second time.

[2018-08-22 09:48] aliabbasmanager opened #13787 "Getting the Workspace Id and Key for Linux machines in template"
As part of our automated deployment, I would like to install the Log Analytics agent extension on my Virtual Machines. For this, in the same template I want to use the work space Id and Key for Linux to pass in my Agent extension template for the Agent I would want to install in my Linux Virtual Machine.

My end goal is to deploy a Log Analytics workspace, deploy a Linux VM, install Log Analytics

[2018-08-22 09:48] Drony77 commented on #13442
@abhijeetgaiha Is it by design ?
What  PS cmdlet Set-AzureRmVMExtension is used for then ? As I stated in first message, I can see updated config in LAD itself, but it's not updated on portal and it does not use new storage account. Do you confirm it is a bug ?

[2018-08-22 09:51] Drony77 commented on #13442
@abhijeetgaiha I need to change storage accounts for tens of virtual machines, so I need script to do it and I can't contact portal or other support to help me out.

[2018-08-22 09:51] abhijeetgaiha commented on #13442
@Drony77 If the portal doesn't reflect the updated config, then it's a bug in the portal.

Is the data flowing to the updated storage account? You can check if the tables are created and the metric entries are being added to the table to verify that.

[2018-08-22 09:52] abhijeetgaiha commented on #13442
@Drony77 A script that runs the PS command for every machine would work in your situation.

[2018-08-22 09:54] femsulu commented on #13633
@spottedmahn Is there a business or personal need to have the same email address for both accounts? if not, then I recommend updating one of your accounts with a different email address. IMO, this is the easiest path to resolve your issue. Here are the steps on how to [update your Azure Account profile](https://docs.microsoft.com/en-us/azure/billing/billing-how-to-change-azure-account-profile). Pl

[2018-08-22 09:55] kyyung commented on #13784
My bad. When I use another container, I can successfully create the second clusters. I can see the new data created in both clusters. But is it a recommended usage, i.e. create an on-demand Spark cluster for ETL and permanent LLAP cluster to serve query.

[2018-08-22 09:57] nelsonavanade opened #13788 "Double quote instead of single quote under "Run the real-time web service""
Step 2 of "Run the real-time web service",

az ml service run realtime -i &lt;web service ID&gt; -d '{\"input_df\": [{\"petal width\": 0.25, \"sepal length\": 3.0, \"sepal width\": 3.6, \"petal length\": 1.3}]}'
returns az: error: unrecognized arguments

instead,
az ml service run realtime -i &lt;web service ID&gt; -d "{\"input_df\": [{\"petal length\": 1.3, \"sepal width\": 3.6, \"petal width\":

[2018-08-22 10:03] Drony77 commented on #13442
@abhijeetgaiha No, data is flowing to the old storage account

[2018-08-22 10:14] chaami commented on #12476
Hi, @SaurabhSharma-MSFT , @kalyankrishna1 .
Thanks a lot for the precious information.
Can we keep this issue open until the problem is fixed or link to another issue tracking the progress ?
Also, it seems that I can't reopen this but only comment 😉
Kind regards,
Amine

[2018-08-22 10:21] cloudmelon opened #13789 "Files disappear in web app in linux"
https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/app-service/containers/app-service-linux-faq.md

Taken 2 hours to configure web app in linux envirnonment, wget download file and add configuration files, after click ' restart ' via Azure portal and hope my changes will take effect. Relogin via SSH  ( https://xxxx.scm.azurewebsites.net/webssh/host  found all the files disappeared.

[2018-08-22 10:39] GuyHarwood commented on #13451
@MicahMcKittrick-MSFT Sadly not - we are using Javascript.

[2018-08-22 10:45] SolomonTomer opened #13791 "PySpark Interactive with Kernel"
Hey,

Whenever I pick PySpark Interactive it install sparkmagic and 2 kernels to IPython: pyspark and pyspark3.
It automatically picks pyspark3 as the kernel for the submission, thus, returning me and error 400 with the Livy error.
The UI "switch kernel" option didn't work, so I tried to override the parameter "hdinsightjupyter.notebook.startupArgs" with ultiKernelManager.default_kernel_name=pyspa

[2018-08-22 11:18] antondelsink opened #13792 "No "BaseUri" Property on FaceClient or IFaceClient"
The line "faceClient.BaseUri = new Uri(baseUri);" does not compile. Perhaps it should refer to faceClient.EndPoint?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31a7905f-5818-4398-ee39-2842519dc054
* Version Independent ID: 7f6a714b-cd88-694e-fd31-ad96fdfe5ed3
* Content: [Face API C# tutorial - Microsoft Cognitive Se

[2018-08-22 11:26] jessehouwing opened #13793 "Log location is incorrect"
The last paragraph mentions the log location, this doesn't match the standard log location which should be:

C:\Program Files\Microsoft Azure Recovery Services Agent\Temp

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59156518-1b9d-d0bb-5dea-6a88e39150ef
* Version Independent ID: 3a4f2440-52eb-91a0-3efb-09b3c74dd736
*

[2018-08-22 11:44] OwainWin commented on #13442
In the metrics blade of the portal by clicking the basic check box.  As I
said viewing the VM's JSON configuration via the CLI shows that there are
metrics set but they can't be changed in the portal.

On 22 Aug 2018 10:44, "Abhijeet Gaiha" <notifications@github.com> wrote:

@OwainWin <https://github.com/OwainWin> How are you selecting the metrics?
The docs have a default metric configuration that

[2018-08-22 11:49] pstapf opened #13794 "Activity log message when streaming sign-in logs to event hub"
I just experimented a bit with the stream sign-in logs to an event hub and read messages by an azure function.
As I can see from time to time "Update user" message came through the stream while I assumed only sign-in activity here.
The update user came from a change made by the AADC sync account, no other audit messages seen yet.

Here is the beginning of the JSON file that came as a message throu

[2018-08-22 11:58] jorupp opened #13795 "Info on Reservation Size Flexibility is missing"
https://azure.microsoft.com/en-us/pricing/reserved-vm-instances directs to this page, but there's nothing about Reservation Size Flexibility here that I can find.

#11945 seems to be a similar issue, just on a different page.  Maybe there's a better page than this one to be linked from the above URL?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2018-08-22 12:17] payalgaikwad42 commented on #13516
thank you @sergaz-msft

[2018-08-22 12:43] Lonefish opened #13796 "Publish to on-premise cluster"
Is it also possible to publish to an on-premise cluster from a local build-agent? Our on-premise test cluster doesn't have an outside ip and doesn't have a certificate. But I need to fill those out when adding a Service Fabric connection..

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95e331af-2350-c9cc-1205-f17ae4d17

[2018-08-22 12:45] Lonefish commented on #13796
Getting a feeling that this might be the wrong location for the question.. Is this only for remarks about the docs itself or also for questions about the matter?

[2018-08-22 12:56] whytoe opened #13797 "The Find OutboundIP Addresses links to the same article"
The document tells you to follow a link to see how to get the Outbound IP addresses. The link doesnt actually take you anywhere, it just references the current paragraph you are reading.
https://docs.microsoft.com/en-us/azure/azure-functions/ip-addresses#find-outbound-ip-addresses

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2018-08-22 13:04] MGoedtel commented on #13772
@keikhara - Can you help answer this question? Thanks.

[2018-08-22 13:04] sebader commented on #11807
CentOS (7.5) binaries are released now as part of 1.0.1: https://github.com/Azure/azure-iotedge/releases/tag/1.0.1
Install should work like this:
[code]

[2018-08-22 13:52] tomwwagstaff-product opened #13798 "The sample scripts are not available."
The link to sample dataset and R scripts takes you straight to the csv, and there are no R scripts in the repo, just Python scripts...
https://github.com/Azure-Samples/MachineLearningSamples-Notebooks/blob/master/studio-samples/cadairydata.csv

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a98c24e0-abdd-7de6-136c-7a436

[2018-08-22 13:57] laoki opened #13799 "DTU vs vCore migration"
This example shows a migration using the DTU pricing model.
When using the vCore pricing, is it still recommended to use the fastest machine available during migration and downsize as the migration is finished?

Tks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 088ad5a0-569b-e8ea-7cce-83757c37c427
* Version Independe

[2018-08-22 13:58] MossevigWork commented on #8176
Following this thread as we are experiencing the same issue. Azure SQL DWH. Let me know when the bug is fixed.

[2018-08-22 13:59] VGSandZ commented on #13730
Hi,
Thank you for the details, would then the statement in the document to Install Azure Agent is still valid? We are facing issues with VHD deployments of custom images as they are timing out nicely.pointing to this document. had this doubt on the Agent installation part.
Thank you.

[2018-08-22 14:07] Benjiiim opened #13800 "Specify that Vary: Origin is not supported and the single origin scenario doesn't work if the first request to the CDN is sent without the Origin header"
When CORS is configured with the Wildcard, Access-Control-Allow-Origin is sent back for every requests and the CDN stores that for future requets.
However, when CORS is configured with a single origin, if the first request is sent without the Origin header, Access-Control-Allow-Origin is not sent back and the CDN stores the item without Access-Control-Allow-Origin header.
As the Vary: Origin is no

[2018-08-22 14:13] vladimirglazkov commented on #9990
I hate you!
4+ hours...

[2018-08-22 14:18] gopisamineni12 commented on #11976
log files not having time stamp. how to move the logs to log analytics ..

Thanks in advance.

[2018-08-22 14:26] gopisamineni12 commented on #11976
Hi All,

help me on below azure log analytics issue . i am trying move the log files to log analytics .. but my log files are not having the time stamp .. log file look like below .

}
source ---
type _____
level -----
message -----
load_msg---
}

i need to move logs to log analytics ..

Thanks
samineni

[2018-08-22 14:32] mestew commented on #13720
@kamellemann Sometimes when you attach a new data disk to VMs, they can automatically be encrypted. Sometimes they do not encrypt automatically. The best thing for both scenarios is to actually still run the encrypt command, but you need to pass it in a new sequence version (-SequenceVersion in PowerShell). You should do this even on the disks that "auto-encrypt". Check out this section of the doc

[2018-08-22 14:32] michaelharrod opened #13801 "Errors e.g. Login failed for user ''"
I used this command line from the "non-minimal" approach:
az sql server ad-admin create --resource-group myResourceGroup --server-name &lt;server_name&gt; --display-name &lt;admin_user&gt; --object-id &lt;principalid_from_last_step&gt;

But get errors when my App Service starts up:
Login failed for user ''
and
This operation requires a connection to the 'master' database. Unable to create a connec

[2018-08-22 14:39] MaximRouiller commented on #13755
@iainfoulds the Helm docs for installing on other platforms is on GitHub right now. Can we have this migrated to Docs? Is it in the plans?

[2018-08-22 14:41] javgarces opened #13803 "ScheduledStartStop_Parent Runbook: ValidateVMList function won't find invalid VMs if the first one is valid"
The ValidateVMList function checks in a foreach loop if each VM in the input list exists. But the flag "ISexists=false" is defined outside the foreach loop. So, if the first VM in the list is valid, the flag is changed to "ISexists=true", and subsequent VMs won't stop execution if they are invalid, which I assume is the intent of the script.

---
#### Document Details

⚠ *Do not edit this section.

[2018-08-22 15:03] stevozilik opened #13804 "Windows Authentication/NTLM challenge not supported"
Hi,
We just learned the hard way that Reverse Proxy does not support Windows Authentication/NTLM, confirmed by the SF Product Team.

Can you please update the documentation, this is a major limitation for some of us

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31e0a1d2-789d-240f-be0b-892d43f80b66
* Version Independen

[2018-08-22 15:06] CarlRabeler commented on #13300
update to topic made a week ago.
#please-close

[2018-08-22 15:13] DoyleJOfTexas commented on #13300
Carl my friend I am a USER of Microsoft Documentation. I am happy to point out issues that I think might exist as a helpful USER. I really am not in a position to open and close tickets related to any corrections that may be made by Microsoft in response to any suggestion I have. I am busy writing applications.

________________________________
From: Carl Rabeler <notifications@github.com>
Sent: W

[2018-08-22 15:30] trevor-schmidt commented on #13391
@shawntabrizi so within "Microsoft.Insights/*" we would like to figure out the correct actions just for creating health alerts.

[2018-08-22 15:30] liamfoneill opened #13805 "RDP doesn't work through Azure Firewall"
I have a simple setup of Azure Firewall in a single subnet "firewall subnet'. I have a VM deployed into a subnet on the same VNET as the firewall 'vm-subnet'.

I have a default route 'to-firewall' of 0.0.0.0/0 to point to the private IP of the firewall. The problem is, as soon as I associate the 'vm-subnet' with the route of 'to-firewall' then I cannot RDP any longer. I am trying to RDP over the i

[2018-08-22 15:34] johannesnormannjensen opened #13806 "Thank you for the documentation but.."
I really like the "Publish an Azure Web App" feature but I need to include the project version from maven in the tag for the docker image. How can I do that with this setup?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0b98e34-a479-d004-a218-add7b1d38ccb
* Version Independent ID: a2bdd39c-b087-c74c-d349-55b292a29109

[2018-08-22 15:34] MicahMcKittrick-MSFT commented on #13785
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-22 15:35] MicahMcKittrick-MSFT commented on #13797
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-22 15:37] MicahMcKittrick-MSFT commented on #13766
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-08-22 15:37] faceoffers28 commented on #8111
@mike-urnun-msft Can I get an update on this? I can't get notifications to work when the app is closed and I believe it has something to do with the inability to set the NotificationChannel options.

[2018-08-22 15:37] MicahMcKittrick-MSFT commented on #13776
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-22 15:38] MicahMcKittrick-MSFT commented on #13796
Thanks for the question! We are investigating and will update you shortly.

[2018-08-22 15:40] MicahMcKittrick-MSFT commented on #13773
Thanks for the question! We are investigating and will update you shortly.

[2018-08-22 15:41] DCtheGeek commented on #13569
@MirzaSikander I haven't heard back for a few days, so I'm going to push the fix for the first two issues which will close this item.  If you still have issues with the `PsDscRunAsCredential`, please open a issue specific to that and we can address.  Thanks!

[2018-08-22 15:42] MicahMcKittrick-MSFT commented on #13775
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-22 15:43] JasonWHowell commented on #13784
@kyyung It is important that each cluster use a unique default container, because temporary files used to maintain state of the system and the output logs used cannot be shared. Having a separate folder/container for the primary cluster storage (even in the same storage account is fine) makes that safely isolated from each other.

When it comes to storing data, it is possible that two or more clus

[2018-08-22 15:44] karthick4d commented on #13602
All,

I raised the same issue to Microsoft support team. The product team from Microsoft fixed the template/code in the backend and the build is working now. Thanks for your support. I will close this issue.

Regards
Karthick

[2018-08-22 15:44] #13602 closed

[2018-08-22 15:45] #13569 closed

[2018-08-22 15:47] lukeb1961 opened #13807 "Fixed-size containers have a maximum limit of 10 GB and 10,000 RU/s throughput."
under prerequisites-for-partitioning:
Customer felt that this is not clear that 10000 RU/s is a maximum also, for Fixed Size Containers.

eg. maximum limit of 10 GB &gt;&gt;AND ALSO&lt;&lt; a maximum limit of 10,000 RU/s.
 He now realised Fixed Size is not appropriate for his needs, after the event.
.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2018-08-22 15:48] LisandroSu opened #13808 "asdf"
@yourera commented on [Wed Aug 22 2018](https://github.com/MicrosoftDocs/azure-docs.ko-kr/issues/215)

실습을 따라하려고해도 각종 종속정 문제 및 버전차이로 인해 원할히 진행이 어렵네요..
자마린 폼즈를 통한 빠른시작으로 만든 최초 앱을 열고난뒤 맨처음 설치하는 누겟패키지부터 오류가 나옵니다

---
#### 문서 세부 정보

⚠ *이 섹션을 편집하지 마세요. docs.microsoft.com ➟ GitHub 문제 연결에 필요합니다.*

* ID: 6f503e37-b16e-c92c-8668-313428451053
* Version Independent ID: edc66d3e-bf88-3c4d-a148-6288a7022f16
*

[2018-08-22 15:48] badalk opened #13809 "Ability to extend it with custom functions"
Is it possible today, or in future road-map, to invoke a custom function in the rule evaluation to be able to define custom rules in scenarios where policy cannot be authored on certain resource attributes or not supported today. Consider a scenario that I have requirement to allow vnet endpoint to allow access only to subnet whose range does not exceed beyond 255 IPs. I want to write my own funct

[2018-08-22 15:49] LisandroSu commented on #13808
Hi team,

Here's a rough translation of the issues the user is having: _"Even if you try to follow the exercises, it is difficult to proceed smoothly due to various subordinate problems and version differences.
After opening the first app created with Quick Start via Jammarin Forms, I get an error starting with the nudget package that I installed first."_

Thanks!

[2018-08-22 15:58] darylhurst opened #13810 "Securing ACR with an NSG"
All the articles I read about ACR don't seem to be concerned with the fact that ACR presents a public Internet facing endpoint which is secured, as far as I can tell, with a username and strong password which can then be subjected to a brute force attack. I would like to know how ACR can be made completely secure, for example, by ensuring only known IPs can access it.
In other words, is there any

[2018-08-22 15:58] tony-gutierrez opened #13811 "No explanation for what would cause "Server Errors" and how to fix?"
What are "Server Errors"? Why do I see them on my graph. How do I address them? ETC.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 234dca79-9576-7bfb-644a-ef486c9ca2f6
* Version Independent ID: a4d50a1a-4978-1506-77b9-efd12d6ea784
* Content: [Azure Service Bus metrics in Azure Monitor (preview)](https://docs.microsoft

[2018-08-22 16:15] iainfoulds commented on #13755
@MaximRouiller No, there is no current plan to replicate the existing docs provided and maintained by Helm.

[2018-08-22 16:25] georgewallace commented on #13743
@femsulu can you please assign this issue to me to work?

[2018-08-22 16:25] iainfoulds commented on #13785
Hi, @lesca. Thanks for the suggestion. What issue are you running into here? The pod for SSH access is designed to be short-lived, not a long-running pod that is left running. It should be used only when SSH access is required, and then deleted. This is how the doc is designed, and I haven't ran into problems when used like this.

[2018-08-22 16:26] BryanLa commented on #13733
Changes have been published: https://docs.microsoft.com/en-us/azure/key-vault/key-vault-ovw-storage-keys#give-key-vault-access-to-your-storage-account

CXP #please-close

[2018-08-22 16:26] MicahMcKittrick-MSFT commented on #13451
@GuyHarwood Got it.

I would suggest you ask the functions team directly on this issue

https://github.com/Azure/Azure-Functions/issues

Many of them should have more experience using JS and have a better idea of if this is possible and how to achieve this.

Once you open that issue you can reference this one as well so we can track it. I will close this out for now as there is no update needed on

[2018-08-22 16:26] #13451 closed

[2018-08-22 16:27] Karishma-Tiwari-MSFT commented on #13722
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-22 16:27] #13722 closed

[2018-08-22 16:28] tony-gutierrez commented on #13811
https://stackoverflow.com/questions/50270009/azure-servicebus-high-amount-of-server-errors-in-metrics

[2018-08-22 16:29] Karishma-Tiwari-MSFT commented on #13797
@whytoe  Thanks for bringing this to our attention. The correct link is:
https://docs.microsoft.com/en-us/azure/azure-functions/ip-addresses#function-app-outbound-ip-addresses
I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-22 16:31] #13606 closed

[2018-08-22 16:33] MicahMcKittrick-MSFT commented on #13737
@mstechies I see you are an FTE. I will close this and follow up with you offline.

[2018-08-22 16:33] #13737 closed

[2018-08-22 16:36] girishgouda commented on #13440
I got it sorted

Thanks for now

On 22-Aug-2018 9:53 PM, Micah <notifications@github.com> wrote:

@girishgouda<https://github.com/girishgouda> any update on this? If you are unable to find the resource it is connected to let me know. We can have you open a technical support ticket to work 1:1 with an engineer to get it sorted out.

—
You are receiving this because you were mentioned.
Reply to this

[2018-08-22 16:39] mmacy commented on #13810
Hi @darylhurst, work is underway to enable deploying a registry to an Azure Virtual Network, aiming for a preview in September:

https://feedback.azure.com/forums/903958-azure-container-registry/suggestions/31243207-acr-limit-endpoint-access

Keep your eyes here on the UserVoice post or here on docs for future announcements/how-tos.

Cc: @SteveLas

[2018-08-22 16:43] mmacy commented on #13754
Hi @EriksonBahr, are you passing the `--os` parameter in your build command?

[code]

[2018-08-22 16:43] CarlRabeler commented on #13300
@DoyleJOfTexas thanks for your response. I also am not in a position to close. This is a directive to the powers that be to close this PR. I was not directing you specifically to close it. Sorry for any confusion.

[2018-08-22 16:44] Karishma-Tiwari-MSFT commented on #13450
@misterspeedy Any updates?

[2018-08-22 16:47] nberdy commented on #13672
Actually I think this would be one for the Stream Analytics team, if the question is about how to ready BSON data from Stream Analytics.

What size data packets are we talking here?

[2018-08-22 16:47] EriksonBahr commented on #13754
Hi

No, I didn't . I'll give it a try and let you know.

[2018-08-22 16:48] cloudmelon opened #13813 "Azure Monitor ( metrics ) IOPS count non exact"
Use azure monitor to monitor Azure Database for MySQL ,  choose ' IO percentage' ,  then ' count'

Found when my cursor leave the chart, it display a number not exact as shown in the following :

![image](https://user-images.githubusercontent.com/4621560/44477656-8c2f6e00-a63b-11e8-9ff8-90353eb050e0.png)

We have change the IOPS from 100 to 1000, and the percentage of data for monitoring is not ex

[2018-08-22 16:49] DCtheGeek commented on #13809
@badalk Thanks for the question! To help me understand, when you say "custom rule", do you mean a new or different **condition**?  Could you use something similar to `"match": "255.255.255.###/##"` to match a subnet value with less than 255 IPs? You can use the `anyOf` logical operator if you need to be more explicit with a couple of items that may match.

As this is ultimately a request for a new

[2018-08-22 17:03] Mike-Ubezzi-MSFT commented on #13607
@danieljsmarda In working through this tutorial a couple times in the past 24 hrs, I can see that there is the `device-identity` registration step, and this this step is tightly linked to the values used when creating the Linux VM and the IoT Hub, in the case of using a simulated device:

`az iot hub device-identity create --hub-name miubezzi-IoTHub --device-id miubezzi-EdgeLinux --edge-enabled`

[2018-08-22 17:04] dlepow commented on #13647
Doc is updated. Thanks again,
#please-close

[2018-08-22 17:07] conceptdev commented on #8111
@faceoffers28 although the date on this doc shows 2016, it was actually updated about 8 months ago with Firebase Cloud Messaging. It's possible there has been an update to FCM _since then_ that we need to incorporate; a review of this doc has been scheduled.

[2018-08-22 17:09] EriksonBahr commented on #13754
Worked! Thank you very much.

[2018-08-22 17:13] mmacy commented on #13754
Excellent! @MicahMcKittrick-MSFT we can close this one--thanks.

[2018-08-22 17:14] thuansoldier opened #13815 "Would it be possible to add single IP?"
Hi Azure AD team,

Would it be possible to add a single IP, not a range in location? I only need a few IPs to be trusted.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74b164a7-31c5-7cb3-c8e2-7533d375bd43
* Version Independent ID: 11399252-d935-2cba-a414-a44e51e67007
* Content: [What is the location conditions in Azur

[2018-08-22 17:15] thuansoldier commented on #9492
@bakerCaleb would it be possible to add a single IP, not a range?

[2018-08-22 17:15] LisandroSu opened #13816 "Failed to download VPN device configuration template"
@nnamedieh commented on [Wed Aug 22 2018](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/128)

Hi all,
unfortunately I ran into an error when I tried to download any VPN device configuration template from the "Connection". I copied and pasted all the powershell commands mentioned in this documentation to create all necessary services, but when I want to download the VPN device configurat

[2018-08-22 17:16] LisandroSu commented on #13816
Hi team,

Can you check on this issue?

Thanks!

[2018-08-22 17:16] BryanTrach-MSFT commented on #13777
@dcbrown16 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-22 17:17] BryanTrach-MSFT commented on #13801
@michaelharrod Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-22 17:17] jdobrzen commented on #9338
It is confusing that the "Considerations for using self-hosted IR" states you can only use one self-hosted IR per data factory, but then further down in the document there is the section "Sharing the self-hosted Integration Runtime (IR) with multiple data factories" that appears to contradict it.

[2018-08-22 17:18] BryanTrach-MSFT commented on #13808
@LisandroSu @yourera Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-22 17:20] jdobrzen opened #13817 "Possible Contradicting information on Data Factory Self-Hosted IR"
The document in question:
https://docs.microsoft.com/en-us/azure/data-factory/create-self-hosted-integration-runtime

It is confusing that the "Considerations for using self-hosted IR" states you can only use one self-hosted IR per data factory, but then further down in the document there is the section "Sharing the self-hosted Integration Runtime (IR) with multiple data factories" that appears to

[2018-08-22 17:24] tbebekis opened #13818 "The "Reply URL (Assertion Consumer Service URL)" can not be empty"
The "**Reply URL (Assertion Consumer Service URL)**" is revealed only if you check the "**Show Advanced URL Settings**". Initially it is empty.

If you leave that "**Reply URL**" empty then when you try to connect you redirected to "https://yoursharepointserverurl/" with a "**Server not found error**".

![azurereplyurl2](https://user-images.githubusercontent.com/5454973/44479276-cfdca480-a648-11e8

[2018-08-22 17:25] ryangugcloudca opened #13819 "Nested group"
Any timeline when will the nested groups will be supported?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: acb4037a-0ffe-8b87-6645-d773551bb34d
* Version Independent ID: 6b6e3230-af26-21e0-b3ba-a78bc5119673
* Content: [Using a group to manage access to SaaS Applications](https://docs.microsoft.com/en-us/azure/active-di

[2018-08-22 17:28] zuhairp commented on #12977
```the above could be understood to mean using a NEW or different "ITransaction object will show the last committed transaction"```

Yes, this is true. When you call TryGetValueAsync with a new transaction, you will get a reference to the last committed value. When you modify that reference directly, you are bypassing our mechanisms for persisting and replicating the changes. That's why we recomme

[2018-08-22 17:31] MicahMcKittrick-MSFT commented on #13690
@wasabii Reverse proxy should pick the service with longest prefix match, i.e Web/Core in this case.

Is it picking fabric:/FileAndServe.Xpress_DEV1/Web consistently for every request or it is happening only during certain times (like cluster start/node restart?)

Is the second service fabric:/FileAndServe.Xpress_DEV1/Web/Core up and healthy in Service Fabric Explorer?

Also can you ping the servi

[2018-08-22 17:33] Mike-Ubezzi-MSFT commented on #13799
@laoki Yes, this is still a valid approach. This approach is also valid when performing scaling-out read replicas and other infrastructure and deployment changes. Is there something you are looking for specifically?

[2018-08-22 17:36] #13754 closed

[2018-08-22 17:36] Mike-Ubezzi-MSFT commented on #13807
@lukeb1961 Thanks for the feedback. Is the customer looking to redeploy with the data they already have, or what is the action item here? Thanks for providing some clarification. Thanks, Mike

[2018-08-22 17:36] Adam-Smith-MSFT commented on #13634
@Gamecock Currently the SAS identifier can't be set via storage explorer, but you can setup the access policies instead. A possible workaround would be to set your Signature Identifier for Container tables, queues or shares via the following [link](https://docs.microsoft.com/en-us/rest/api/storageservices/establishing-a-stored-access-policy#creating-or-modifying-a-stored-access-policy)
I'd also re

[2018-08-22 17:36] #13634 closed

[2018-08-22 17:37] #13809 closed

[2018-08-22 17:38] glimoli commented on #13730
The article was written thinking that you could build and upload either a specialized disk or generalized. The optional but suggested steps to add the azure agent are intended to be used for the specialized scenario.
If your customer is creating a generalized disk from which he will deploy a generalized image , then the deploy will kick off the provisioning agent which will install the agent part.

[2018-08-22 17:39] femsulu commented on #13765
@asasine Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-22 17:39] mmcla commented on #13716
Hi Yossi, can you send me an email to the address in my profile?

[2018-08-22 17:43] YutongTie-MSFT commented on #13788
@nelsonavanade
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-22 17:43] lukeb1961 commented on #13807
Mike, they felt  -  ‘it looks like we will be forced to partition the data. We will consider our alternatives’

[2018-08-22 17:44] tfitzmac commented on #13684
@amirgra - I have added more information about the dependent resources. It should be published this afternoon. If peering is not disabled, it fails on validation.

[2018-08-22 17:44] YutongTie-MSFT commented on #13792
@antondelsink
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-22 17:46] #13684 closed

[2018-08-22 17:48] Mike-Ubezzi-MSFT commented on #13807
@lukeb1961 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate. Perhaps some documentation can be enhanced to clarify this. CC'g @SnehaGunda

[2018-08-22 17:48] TravisCragg-MSFT commented on #13765
@asasine These issues are designed for issues with the docs. if you would like to request a feature, please [leave your feedback Here](https://feedback.azure.com/forums/217313-networking).

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-22 17:48] #13765 closed

[2018-08-22 17:50] krokoko commented on #12154
Ok the data were correctly send to the gateway, just looking at the wrong place :) In Visual Code, right click your device and "monitor D2C messages" will print you the messages sent from the downstream device to the gateway.

[2018-08-22 17:51] MicahMcKittrick-MSFT commented on #13804
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-22 17:52] TravisCragg-MSFT commented on #13800
@Benjiiim Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-22 17:55] tbebekis commented on #13707
It's definitely a bug.
I've deleted everything and re-done it a second time.

Here is what I get for **Single Sign On Service URL**

![sso_service_url](https://user-images.githubusercontent.com/5454973/44480670-80987300-a64c-11e8-9a92-c6a2056bc6ca.png)

The above Tenant ID is **NOT** my Tenant ID.

If I use the above Tenant ID I get the following **error**.

![applicationwasnotfound](https://user-

[2018-08-22 18:00] felipefandrade opened #13820 "Events not being published by event grid"
Hi, Event Grid doesn't seem to be publishing any event to the Function. So nothing works. I followed the documentation step by step and recreated a few times, but I"m stuck. Any ideas?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ec5477a-c4b4-a37c-f853-3d517a095e93
* Version Independent ID: 51b5ddf3-109d-4f9e-5d2d-a

[2018-08-22 18:00] YutongTie-MSFT commented on #13798
@j-martens Hi Josee, there is just a csv file of the data, no R script as the document mentioned. Can you please check it and update the document as necessary? Thanks a lot!

[2018-08-22 18:01] jluk commented on #13771
@dcbrown16 the automatic SA region is determined by Azure Traffic Manager, sometimes it may select the region not geographically closest but at the moment of request was the fastest option.

They can attach a storage account of their choosing by using the "Advanced" onboarding flow which lets you mount existing SA in any supported CS region. Hope this helps!

[2018-08-22 18:01] tbebekis commented on #13025
@jeevansd
I've the exact same problem here. I can connect using accounts of my organization. But when I try to connect using a gmail account I get the same behavior as described by @LarryBolton

[2018-08-22 18:01] asmalser-msft commented on #7983
Thanks for the outstanding feedback and discussion about this issue with the agent setup process. A note about this issue has been added to the docs. #please-close

[2018-08-22 18:03] BryanTrach-MSFT commented on #13789
@cloudmelon Thank you for the feedback. GitHub issues are currently scoped to Azure doc feedback/enhancement/ideas. This sounds like more of a product issue that is not related to the doc. We want to assist you on this matter but the proper space for this question would be either on [MSDN Forums](https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=windowsazurewebsitespreview) or [Stack

[2018-08-22 18:03] #13789 closed

[2018-08-22 18:05] BryanTrach-MSFT commented on #13805
@liamfoneill Thank you for the question. We need to know the URL of the Azure doc that you are having issues with in order to further assist you. We look forward to your reply.

[2018-08-22 18:07] Adam-Smith-MSFT commented on #13644
@senthilkrishnankr you can't specifically list soft deleted blobs, but they will show under the list deleted query: container&comp=list&include=deleted
I'd recommend leaving product feedback to request a future feature via the Feedback button in github.
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the d

[2018-08-22 18:07] #13644 closed

[2018-08-22 18:08] BryanTrach-MSFT commented on #13813
@cloudmelon Thank you for the question. Can you please share with us the Azure doc that you are having issues with? We look forward to your reply.

[2018-08-22 18:08] erikly opened #13821 "Deprecated reference"
The "Collect data" section contains instructions to use the page "http://&lt;your app name&gt;.scm.azurewebsites.net/Support", but this page is deprecated and refers to "Diagnose and solve problems" in the Azure Portal. The section should be updated

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e2b8ea5-132c-d0c5-e7de

[2018-08-22 18:09] TravisCragg-MSFT commented on #13715
@v-maroge unfortunately I cannot say. If you would like more detail, you can try to open a support request.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-22 18:09] #13715 closed

[2018-08-22 18:10] jason-j-MSFT commented on #13778
@v-maroge
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-22 18:11] TravisCragg-MSFT commented on #13762
@yushwang We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-22 18:11] #13762 closed

[2018-08-22 18:12] jason-j-MSFT commented on #13787
@aliabbasmanager
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-22 18:16] jason-j-MSFT commented on #13791
@SolomonTomer
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-22 18:18] tfitzmac commented on #13820
@felipefandrade - I would start by looking at the [event subscription metrics](https://docs.microsoft.com/en-us/azure/event-grid/monitor-event-delivery). You should be able to see whether any deliveries were attempted.

[2018-08-22 18:21] dn61858 opened #13822 "Analytics is misspelled"
The word analytics is misspelled in the following paragraph:

"To that end, its important to understand that the cost of a Log Analytisc workspace isn't just based on the volume of data collected, it is also dependent on the plan selected, and how long you chose to store data generated from your connected sources."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2018-08-22 18:32] Adam-Smith-MSFT commented on #13696
@alohaninja You can remove the extension using the following PS command: PS C:\> Remove-AzureRmVMExtension -ResourceGroupName "ResourceGroup11" -Name "ContosoTest" -VMName "VirtualMachine22"
 More information can be found here: https://docs.microsoft.com/en-us/powershell/module/azurerm.compute/remove-azurermvmextension?view=azurermps-6.7.0

Also Aaron, since you're an FTE, I'd highly recommend usi

[2018-08-22 18:33] #13696 closed

[2018-08-22 18:35] Karishma-Tiwari-MSFT commented on #13688
@antimoroma There is already a feedback post open [here](https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/34677931-release-aadloginforlinux-source) for source code availability request. I would recommend up-voting that post to get a reply from the product team there.
I will also share if I get more info on that.

Since this feature is in preview, I am not positive on whe

[2018-08-22 18:40] mike-urnun-msft commented on #13808
@LisandroSu @yourera We have assigned this issue to appropriate internal point of contact for now.. Pls stay tuned!

[2018-08-22 18:41] MicahMcKittrick-MSFT commented on #13773
You can go about this two ways.

You can use `Get-AzureRmDisk -ResourceGroupName $ResourceGroup -DiskName $DiskName`

which will show you an output like so:

[code]

In the above output you can see the TimeCreated field.

Another option if you are unsure of the disk name is you can use the VM name like so

`Get-AzureRmVM -ResourceGroupName $ResourceGroup -Name $VMName -status`

in which will show

[2018-08-22 18:41] #13773 closed

[2018-08-22 18:45] conceptdev commented on #13808
Thanks. Due the the number of issues raised on this doc it has been scheduled for review.

[2018-08-22 18:49] sijday commented on #12672
This information needs to go into the main area of documentation content.

[2018-08-22 18:51] femsulu commented on #13779
@andyjballgit Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-22 18:54] femsulu commented on #13780
@mahaboob Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-08-22 18:54] santhoshvellingiri opened #13823 "Clarification of TLS/SSL certificate requirements?"
I had few question / feedback on High Availability and Scalability - TLS/SSL certificate requirements section.

1) First about using X509 Certificate issued by Public CA. What is the rational for this? If the certificated is going to encrypt traffic between the IR node running within corporate network, can we not use Certificate signed by Internal CA?

2. Each integration runtime node must trust t

[2018-08-22 18:56] femsulu commented on #13795
@jorupp Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-08-22 18:57] femsulu commented on #13803
@javgarces Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-08-22 19:02] MikeBazMSFT opened #13824 "Incorrect load balancer health check"
The health check given is a port 443 check, which is insufficient for AD FS health, and would fail an AD FS Assessment.  The correct behavior is an HTTP /adfs/probe check, as documented at https://docs.microsoft.com/en-us/windows-server/identity/ad-fs/overview/ad-fs-requirements#BKMK_7 ("Load Balancer Requirements")

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2018-08-22 19:03] femsulu commented on #13771
@dcbrown16 We will now close this issue. If there are further questions regarding this matter, please reply to @femsulu and we will gladly continue the discussion.

[2018-08-22 19:03] #13771 closed

[2018-08-22 19:05] femsulu commented on #13767
@yiufung Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-08-22 19:09] femsulu commented on #13743
done.

[2018-08-22 19:10] femsulu commented on #13400
done.

[2018-08-22 19:10] MicrosoftGuyJFlo commented on #13732
#please-close

[2018-08-22 19:11] femsulu commented on #13563
done.

[2018-08-22 19:13] jboriott opened #13825 "I believe the link for the video is wrong."
[Enter feedback here]

I believe the link for the video is wrong.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30296110-2a2c-073d-068c-0c1485b6097a
* Version Independent ID: feac830e-ebec-0254-60cf-e0225c85d916
* Content: [Overview of Azure Data Lake Storage Gen1](https://docs.microsoft.com/en-us/azure/data-lake-store

[2018-08-22 19:17] MohitGargMSFT commented on #13614
@darrellbooker We will now proceed to close this thread. Thanks.

[2018-08-22 19:17] #13614 closed

[2018-08-22 19:18] MohitGargMSFT commented on #13714
@dbasznianin Please help with requested details.

[2018-08-22 19:18] BryanTrach-MSFT commented on #13806
@johannesnormannjensen Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-22 19:18] BryanTrach-MSFT commented on #13817
@jdobrzen Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-22 19:28] Ayanmullick commented on #13739
Please vote.

https://feedback.azure.com/forums/223579-azure-portal/suggestions/19742620-integrate-tile-for-powerbi-reports-dashboards-in

[2018-08-22 19:28] dbasznianin commented on #13736
here is code:
https://stackoverflow.com/questions/51937962/microsoft-graph-api-azure-active-directory-b2b-collaboration-invitation-redemp

error which I received is like:
Access Denied
blablabla_gmail.com#ext#@blablabla.onmicrosoft.com does not have permissions to access this resource.

[2018-08-22 19:30] MicahMcKittrick-MSFT commented on #13738
Closing as Duplicate of #13737

[2018-08-22 19:30] #13738 closed

[2018-08-22 19:34] MicahMcKittrick-MSFT commented on #13753
@AdamHeff I ran through the doc but did not get the same error code.

Could you try running through the tutorial again to confirm if you get the same behavior each time?

[2018-08-22 19:39] #13440 closed

[2018-08-22 19:40] pferree opened #13826 "Change default authentication method"
Right now, the default choice presented to me for MFA is the Verification code, and I'd like it to send me a push notification by default. Is there a way to change this behavior per-user, or globally?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84b26750-880c-8f14-1628-436293de915e
* Version Independent ID: 518b727f-

[2018-08-22 19:43] jason-j-MSFT commented on #13822
@dn61858
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-22 19:44] djarvis opened #13827 "dns-name-label does not work"
If I supply a --dns-name-label argument to my az container create it does not work.  No FQDN nor dnsNameLabel is assigned, both are null.  Using a YAML file apiVersion: 2018-07-01.

[2018-08-22 19:44] jason-j-MSFT commented on #13823
@santhoshvellingiri
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-22 19:50] vhorne commented on #13422
#please-close

[2018-08-22 19:51] alistairl commented on #11997
I've seen this issue in two different environments with the same Linux image. Using the Azure Data Science Centos VM in an Azure VNet subnet that has filtered internet access via a firewall (e.g. Azure Firewall) impedes the installation of the extension. Watching the deployment via the new serial console shows non zero exits during installation. Reviewing the diagnostic logs for Azure Firewall sho

[2018-08-22 19:55] Adam-Smith-MSFT commented on #13735
@123dev There is a fairly new project still in preview allowing support for MacOS: https://github.com/Azure/azure-storage-azcopy
You can check it on the provided link.
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-22 19:55] #13735 closed

[2018-08-22 19:55] MohitGargMSFT commented on #13742
@eric-lavalley Please let me know if you have nay further query regarding it else I will proceed to close this thread. Thanks.

[2018-08-22 19:56] MohitGargMSFT commented on #13750
@chanaka-jostle Please help with the above requested information.

[2018-08-22 19:57] #13732 closed

[2018-08-22 19:58] djarvis commented on #13827
Nevermind, I found out to use dnsNameLabel under ipAddress in the yaml file instead.

[2018-08-22 19:58] #13827 closed

[2018-08-22 20:06] ravick4u opened #13828 "Error on Enable console logging"
When I was following [this ](https://docs.microsoft.com/en-us/azure/app-service/webjobs-sdk-get-started#enable-console-logging)document got blow error on line "config.LoggerFactory = loggerFactory.AddConsole();" under section "Enable console logging"

_'JobHostConfiguration' does not contain a definition for 'LoggerFactory' and no extension method 'LoggerFactory' accepting a first argument of type

[2018-08-22 20:10] thuansoldier commented on #12443
@MarileeTurscak-MSFT How about Windows Server and Linux?

[2018-08-22 20:16] cloudmelon commented on #13813
https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/monitoring-overview-metrics

thanks

On Wed, Aug 22, 2018 at 8:08 PM Bryan Trach <notifications@github.com>
wrote:

[2018-08-22 20:19] kyyung commented on #13784
Hi Jason, thanks for your comment.

[2018-08-22 20:19] #13784 closed

[2018-08-22 20:26] MicahMcKittrick-MSFT commented on #13796
@rwike77 would you be able to comment on this one? I am not overly familiar with publishing via VSTS

[2018-08-22 20:27] simeyla commented on #10571
@yutongtie-msft this really needs to be promoted to the main documentation. It is presented as a one line of code integration and developers / ops need full technical information.

[2018-08-22 20:28] MicahMcKittrick-MSFT commented on #13804
@BharatNarasimman can you take a look to confirm and update the doc as needed?

[2018-08-22 20:33] MikeChristensen opened #13830 "az mesh deployment create fails"
Any idea what the error:

Unable to edit or replace deployment 'TestDeployment': previous deployment from '8/22/2018 8:17:18 PM' is still active (expiration time is '8/29/2018 8:17:16 PM'). Please see https://aka.ms/arm-deploy for usage details.

...means?  There are no previous deployments, and this is a brand new resource group.

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2018-08-22 20:35] TravisCragg-MSFT commented on #13422
@Vincent0818 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-22 20:35] MikeChristensen opened #13831 "Are Windows containers supported?"
When I try:

docker pull seabreeze/azure-mesh-helloworld:1.1-alpine

I get:

image operating system "linux" cannot be used on this platform

First, are only Linux containers supported on Mesh?  If not, is there an example Windows container I can run?  I think the docs should reflect Windows containers since most people will be using a Windows system and Docker for Windows doesn't run Linux.

---
#

[2018-08-22 20:51] Karishma-Tiwari-MSFT commented on #13442
@Drony77 @OwainWin Can you email us at AzCommunity@microsoft.com and provide us with your Subscription ID and link to this thread? We can enable a one time free support request for you.

[2018-08-22 20:52] AdamHeff commented on #13753
It didn't happen on the second time through for me either. Possibly because I ran through it so quickly, whereas the first time it took me several days. I'm guessing the problem had more to do with Docker as running on my machine than anything else.
Thank you for investigating. I would recommend closing this issue and see if anyone else reports it. We know it can be easily solved by restarting Doc

[2018-08-22 20:54] MicahMcKittrick-MSFT commented on #13753
@AdamHeff thanks for that update. Glad to hear it worked the second time. There were quite a few steps so I did have to follow them carefully and double check a few items :)

Appreciate the work around if needed. If we find more people have a similar issue we can always make sure to add a note in the doc as well.

[2018-08-22 20:54] #13753 closed

[2018-08-22 20:54] phenixrizen opened #13832 "How can I order by a attribute in a composed JSON object?"
Here is a sample query:

SELECT { 'geoHash': g.id, 'address': g.address, 'distance': ST_DISTANCE({'type': 'Point', 'coordinates':[-90.3076171875,40.999334303475734]},g.position) } as geoMatch
    FROM geography g
    WHERE ST_WITHIN({'type': 'Point', 'coordinates':[-90.3076171875,40.999334303475734]},g.boundingBox)

Can I order by composed JSON attribute distance in the above query?

---
#### Docu

[2018-08-22 20:57] jeevansd commented on #13025
@tbebekis Yes we will soon provide you the option to configure on how to handle the UPN claim with that you can remove that #EXT# and normalize the UPN value. We are working on this feature internally and it should be available by end of next month around. We will update the doc with the instructions.

[2018-08-22 20:57] jeevansd commented on #13025
#please-close

[2018-08-22 21:00] KumudD commented on #11280
Updated the doc to address the issue reported. Thanks!

#please-close

[2018-08-22 21:01] KumudD commented on #11285
Updated the doc to address the issue reported. Thanks!

#please-close

[2018-08-22 21:02] Adam-Smith-MSFT commented on #13731
I submitted the fix, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-22 21:02] #13731 closed

[2018-08-22 21:04] alkohli commented on #12849
#please-close  This issue was solved. Please verify and close. Thanks!

[2018-08-22 21:08] #11285 closed

[2018-08-22 21:11] TravisCragg-MSFT commented on #11280
@petrroll We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-22 21:11] #11280 closed

[2018-08-22 21:13] MicrosoftGuyJFlo commented on #13826
@pferree Try out the info in the doc below. It will help you change your default method.

https://docs.microsoft.com/azure/active-directory/user-help/multi-factor-authentication-end-user-manage-settings

[2018-08-22 21:14] simeyla opened #13833 "misleading information about functions"
Currently you say "For example, maybe your code is only hosted and executed on demand with Azure Functions triggers. This scenario can be tricky because your code only runs on-demand and doesn't maintain long connections with clients. Azure SignalR Service can handle this situation since the service already manages connections for you."

This is extremely misleading. Currently functions can PUSH m

[2018-08-22 21:17] #13750 closed

[2018-08-22 21:19] rthorn17 commented on #13503
It is in the context of an Azure Active Directory tenant.  Let me know if you have any other questions.  Thanks

[2018-08-22 21:21] markmassad opened #13834 "Suggest clarification that Azure DNS IP (168.63.129.16) is static and will not change."
The IP address 168.63.129.16 is used in all regions, all sovereign clouds, and will not change.  I can't find the master IP list for Azure but that document (if it exists) should mention this IP as well.  Suggest cross-referencing the master IP list in this document as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2018-08-22 21:23] CeciAc opened #13835 "Strange example of Go code"
@pdaures commented on [Thu Aug 02 2018](https://github.com/MicrosoftDocs/azure-docs.fr-fr/issues/173)

From a quick look, it seems that your functions can return an int and an error in case something went wrong.
But if we look in details, all the functions will panic if any error happens, and the main function will just ignore any error (since the function will have panic ed)
Why not just return t

[2018-08-22 21:25] mikebudzynski commented on #11995
#close

[2018-08-22 21:26] #7933 closed

[2018-08-22 21:26] mikebudzynski commented on #11995
@kobulloc-MSFT , can we close this?

[2018-08-22 21:39] lucasmike opened #13836 "Refresh tokens for B2C AAD"
Hi team, what set up is required to get refresh tokens from B2C AAD?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4518495-4e07-ce2e-4045-5a50b7922b55
* Version Independent ID: 034d1ba0-a737-21ab-3717-ed8798ac5fe1
* Content: [Customize authentication and authorization in Azure App Service](https://docs.microsoft.com/

[2018-08-22 21:39] Karishma-Tiwari-MSFT commented on #13558
@MirzaSikander  I see that you are Microsoft FTE. I am closing the issue here. I will investigate and follow up with you offline.

[2018-08-22 21:39] #13558 closed

[2018-08-22 21:50] CeciAc opened #13837 "Size of the bubble correlating to the elevation of the volcano."
@guerrieroi commented on [Thu Aug 02 2018](https://github.com/MicrosoftDocs/azure-docs.it-it/issues/91)

I didn't understand how to correlate the Elevation value to the size property. Power BI ask to set only a Count of Elevation. The result was bubble size = 1 for all.

---
#### Dettagli del documento

⚠ *Non modificare questa sezione. È necessaria per i collegamenti relativi ai problemi tra docs

[2018-08-22 21:51] CeciAc commented on #13837
Hi team,
I moved this here since it looks like there's something not clear with the example.
best

[2018-08-22 21:51] TravisCragg-MSFT commented on #13816
@LisandroSu are you trying to set up a VPN between 2 VNETs or for on-prem to Azure? also, what is the SKU of the gateway that you are using?

[2018-08-22 21:52] TravisCragg-MSFT commented on #13581
@dcbrown16 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-22 21:52] #13581 closed

[2018-08-22 21:53] TravisCragg-MSFT commented on #13648
@michal-staniszewski It seems that @ganesr has answered your question.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-22 21:53] #13648 closed

[2018-08-22 21:54] #7025 closed

[2018-08-22 21:55] #11995 closed

[2018-08-22 22:00] TravisCragg-MSFT commented on #13491
@gsouza-modulo I have reproduced this issue, and it is an undocumented limitation. I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-22 22:02] Ayanmullick commented on #13413
@TravisCragg-MSFT @Adam-Smith-MSFT . Gentle reminder.

[2018-08-22 22:10] Karishma-Tiwari-MSFT commented on #13830
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-22 22:10] Karishma-Tiwari-MSFT commented on #13831
Thanks for the question! We are currently investigating and will update you shortly.

[2018-08-22 22:12] vasivara-MSFT commented on #13825
@jboriott Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-22 22:30] MicahMcKittrick-MSFT commented on #13831
#13830

[2018-08-22 22:30] #13831 closed

[2018-08-22 22:32] Adam-Smith-MSFT commented on #13486
@KeiroKamioka0000  I have some good news, a fix is scheduled to be released by mid next week :) , it should resolve the issue in portal.

[2018-08-22 22:33] saulcruz opened #13838 "ADF v2 If Condition - What are the best practices to work with Logical functions and Dates, these functions only support float, string and integer"
What are the best practices to work with Logical functions and Dates, these functions only support float, string and integer.

For example, this expression gets evaluated to **True** when I was expecting False:

`@greater(activity('Get Metadata Activity').output.lastModified, string(activity('Lookup Activity').output.firstRow.LastAuditValue))`

Also tried:

`@greater(activity('Get Metadata Activit

[2018-08-22 22:37] YutongTie-MSFT commented on #13621
@githubavi Hi, this is not a document-related issue, can you please post it on [Stack Overflow](https://stackoverflow.com/) or [MSDN](https://msdn.microsoft.com/en-us/) forum to get help? Thanks a lot. Sorry for all inconveniences.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-22 22:37] #13621 closed

[2018-08-22 22:39] MicahMcKittrick-MSFT commented on #13830
@MikeChristensen yes you can use both Windows and Linux. We have both Windows and Linux examples in the Quickstarts section of the Service Fabric Mesh Documentation.

https://docs.microsoft.com/en-us/azure/service-fabric-mesh/service-fabric-mesh-quickstart-deploy-container#deploy-the-application

![image](https://user-images.githubusercontent.com/32313503/44494498-d8b98000-a620-11e8-8159-a31a4ff46

[2018-08-22 22:42] #13486 closed

[2018-08-22 22:48] YutongTie-MSFT commented on #13788
@aashishb Hi, can you please check this doc-bug issue, please also refer the issue #13384 . Their situations are totally different. Thanks a lot!

@nelsonavanade
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-08-22 22:51] Adam-Smith-MSFT commented on #13793
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-22 22:51] YutongTie-MSFT commented on #13636
@pkl728 Hi, I am so sorry to hear your have this tech problem. But this issue is not related to document. Can you please post it on [Stack Overflow](https://stackoverflow.com/) or [MSDN ](https://msdn.microsoft.com/en-us/)forum? Thanks a lot and sorry for all inconveniences.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we wil

[2018-08-22 22:51] #13636 closed

[2018-08-22 22:54] alohaninja commented on #13696
@Adam-Smith-MSFT - `ContosoTest` is not the name of the extension. Just looking for where to see if it's installed. Where can I find the extension name?

[2018-08-22 22:59] simeyla opened #13839 "Who came up with this name?"
The name of this has me laughing. What on earth is a 'Cloud Service'. Every single thing you offer on Azure is a 'Cloud Service'.
This needs a much better description at the top of what it is. I have no clue.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10f60298-63d9-7e7d-2136-ad942fe30bc3
* Version Independent ID: 8

[2018-08-22 23:01] AshwinMohan86 commented on #10313
@seanmck this module is still available only as pre-release. When is it expected to GA?

[2018-08-22 23:05] yravikrishna commented on #8057
@davidmu1 - Can you please point to the example on how to use b2clogin.com?

[2018-08-22 23:25] Juliako commented on #11128
#please-close

[2018-08-22 23:25] SaurabhSharma-MSFT commented on #13818
@tbebekis Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-08-22 23:26] SaurabhSharma-MSFT commented on #13819
@ryangugcloudca Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-22 23:39] Meladie commented on #13781
Hello kaio6862,

1.At the end of the 'Data in transit' section, the words 'Data at rest' are hanging immediately before the 'Data at rest heading.

**Answer:** Thank you for pointing this out. I will get this fixed.

2.In the 'App Service Environment v2' section, one of the bullet points is 'Disable TLS 1.0'. Should this be 'Disable TLS v1.0 and v1.1' as per the 'Application Gateway' section?

**A

[2018-08-22 23:46] Meladie commented on #13781
Opps, I accidentally hit enter before I finished my reply.

The last answer is yes, this blueprint will work with any of the Active Directory Licenses you listed. I can make a note of that in the documentation.

[2018-08-23 00:06] Mike-Ubezzi-MSFT commented on #13832
@phenixrizen Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-23 00:07] jeevansd commented on #13818
@tbebekis I agree with the issue here. This is why now we have made the Reply URL field as mandatory so that you can specify the correct value in the field.

[2018-08-23 00:08] jeevansd commented on #13818
@chetansriv I have now made the Reply URL mandatory here can you please update the doc?

[2018-08-23 00:09] SaurabhSharma-MSFT commented on #13824
@MikeBazMSFT Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-23 00:09] MohitGargMSFT commented on #13827
@djarvis Thanks for reaching out. Great that you found the answer yourself.

[2018-08-23 00:10] Mike-Ubezzi-MSFT commented on #13835
@CeciAc Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-23 00:12] MicrosoftGuyJFlo commented on #13826
#please-close

[2018-08-23 00:13] ElectricLlama commented on #10180
It's been a while but: I'm now successful using Authentication=Active Directory Password instead of SQL authentication in my SSIS packages. This is not supported in OLEDB, only ADO. This still requires an actual password in the connection string but at least it does not require a password to be defined on the database side.

[2018-08-23 00:14] simeyla opened #13841 "Premium Storage + GRS"
As it says in the documentation : "Premium Storage supports only locally redundant storage (LRS)."
I'm not sure I understand why. I want fastest possible access to files with an 'automatic backup'.
Where can I find a better technical analysis of the unsupported combination of Premium + GRS.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2018-08-23 00:20] net2biz opened #13842 "poor scripting"
this script is very poorly written..

example:
# Create a resource group
New-AzureRmResourceGroup -Name TestRG1 -Location EastUS

# Create a virtual network
$virtualNetwork = New-AzureRmVirtualNetwork `
  -ResourceGroupName TestRG1 `
  -Location EastUS `
  -Name VNet1 `
  -AddressPrefix 10.1.0.0/16
-----------------------------------------------------------------------------
value TESTRG1 is defin

[2018-08-23 00:25] BryanTrach-MSFT commented on #13836
@lucasmike Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-23 00:26] MohitGargMSFT commented on #13839
@simeyla Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-23 00:31] #7697 closed

[2018-08-23 00:31] #7983 closed

[2018-08-23 00:31] #9010 closed

[2018-08-23 00:31] #9620 closed

[2018-08-23 00:31] #10081 closed

[2018-08-23 00:32] #10196 closed

[2018-08-23 00:32] #10330 closed

[2018-08-23 00:32] #10336 closed

[2018-08-23 00:34] #10774 closed

[2018-08-23 00:35] #10887 closed

[2018-08-23 00:36] #11000 closed

[2018-08-23 00:36] #11128 closed

[2018-08-23 00:36] #11566 closed

[2018-08-23 00:36] #11602 closed

[2018-08-23 00:37] #12752 closed

[2018-08-23 00:39] MarileeTurscak-MSFT commented on #13736
You may need to give the user access in both the Azure Active Directory and the resource itself. Try assigning the user a global admin role and see if that helps.

[2018-08-23 00:43] #12811 closed

[2018-08-23 00:43] #12823 closed

[2018-08-23 00:45] #12849 closed

[2018-08-23 00:45] #13025 closed

[2018-08-23 00:46] #13300 closed

[2018-08-23 00:46] #13317 closed

[2018-08-23 00:46] #13425 closed

[2018-08-23 00:46] #13509 closed

[2018-08-23 00:46] #13627 closed

[2018-08-23 00:46] michaelharrod commented on #13801
It appears to be a problem with Entity Framework Migrations, which our code explicitly triggers. When I switched this off , the aforementioned errors went away. This is good to know, but ideally MSI and EF Migrations could co-exist.

[2018-08-23 00:46] MikeChristensen commented on #13830
Thanks!  This is a brand new resource group that has never been used before, and created just before running the `az mesh deployment create` command.  I've tried this 5 or 6 times now, each time with a brand new resource group, and get the same error each time.  There doesn't seem to be anything in the logs, except the same error message.

Note I'm using my own template that is attempting to deplo

[2018-08-23 00:47] #13647 closed

[2018-08-23 00:47] #13710 closed

[2018-08-23 00:47] #13716 closed

[2018-08-23 00:47] MikeChristensen commented on #13830
Note: [Also posted this on Stack Overflow](https://stackoverflow.com/questions/51956142/error-when-trying-to-publish-mesh-application-unable-to-edit-or-replacetest).

[2018-08-23 00:47] #13733 closed

[2018-08-23 00:48] femsulu commented on #13633
@spottedmahn We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-23 00:48] #13633 closed

[2018-08-23 00:49] MarileeTurscak-MSFT commented on #13794
@pstapf Where exactly are you viewing these logs? Are you saying that in the Sign In section of the Azure Active Directory itself you are seeing Update activity? If you follow the instructions in this document, the author is recommending to view these sign-ins in the portal itself (pictured below).  I could not reproduce this error and can only see sign-ins on mine.

![image](https://user-images.g

[2018-08-23 00:50] MikeChristensen commented on #13830
All logs from the failed deployment:
[Logs.txt](https://github.com/MicrosoftDocs/azure-docs/files/2312417/Logs.txt)

Failed Deployments:
[FailedDepoyments.txt](https://github.com/MicrosoftDocs/azure-docs/files/2312418/FailedDepoyments.txt)

[2018-08-23 01:00] mamccrea commented on #13791
Hi @SolomonTomer!

python2 and pysparkkernel correspond to python 2.x.
python3 and pyspark3kernel correspond to python 3.x.

This doc will show you how to set up the PySpark interactive environment for VS code: https://docs.microsoft.com/en-us/azure/hdinsight/set-up-pyspark-interactive-environment

[2018-08-23 01:06] #13461 closed

[2018-08-23 01:08] polarapfel opened #13843 "Change Jetty dependency to 9.4.12.RC2 or higher to avoid bug with setting maximum message buffer size"
Hi,

I have found one more issue: setting the default maximum binary message size is not working in current major release numbers of Jetty. There is a bug: https://github.com/eclipse/jetty.project/issues/2767

Please update all Jetty dependencies to 9.4.12.RC2 or higher.

thanks,

Tobias

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2018-08-23 01:15] Karishma-Tiwari-MSFT commented on #13702
@trevor-schmidt There is an extension called "Agent for cloud workload protection" that you can add from the Azure portal.

![symantec](https://user-images.githubusercontent.com/20851144/44498982-a1ee6480-a636-11e8-9f5e-1977ae9451aa.PNG)

You can install this extension. It can be set using Powershell so you can use DSC or you can just specify it during creation.
More info on the Symantec extension

[2018-08-23 01:18] markmassad opened #13844 "Need better sizing/type definitions"
This is the main link from the help icon in the az portal for size questions.  Nothing on this pages defines size as authorative source.  This is needed as it's a huge factor in cost

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9bdbfd3-8f7b-810c-dcd7-a58df729f3ad
* Version Independent ID: 4b9c0422-e69a-4444-4a6b-7ec

[2018-08-23 01:30] kobulloc-MSFT commented on #13839
@ghogen I think that @simeyla makes a good point in the feedback that "Azure Cloud Service" is pretty vague.  While this is exactly what you would see in Visual Studio, we don't really give the reader (who is likely in the earlier stages of cloud development if they are reading this article) an idea of what to expect or why this is valuable.  A link to the Cloud Service overview and a brief descri

[2018-08-23 01:38] dcbrown16 opened #13845 "Role required for Advanced Settings"
Log Analytics workspace blades contain an "Advanced Settings" option that is not accessible to the Log Analytics Contributor role (nor the Log Analytics Reader role), but is accessible with the standard Contributor role.
What operation is required to enable access to the Advanced Settings menu? Also, is this intentionally excluded from the Log Analytics Contributor role?
Thanks!

---
#### Document

[2018-08-23 02:10] hafizramly opened #13846 "Backup command does not work"
Under "Back up a persistent volume" topic, the command use does not work

az disk list --query '[].id|[?contains(@,`pvc-a844d47a-a673-11e8-ba75-dec015575cfb`)]' -o tsv

az : '[?contains' is not recognized as an internal or external command,
At line:1 char:1
+ az disk list --query '[].id|[?contains(@,`pvc-a844d47a-a673-11e8-ba75 ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[2018-08-23 02:11] dcbrown16 opened #13847 "IP requirements"
Is a public IP address required for a VM to send data to Log Analytics? Or is the log traffic initiated exclusively from the private IP address, temporarily assigned a public IP, and then that public IP is used to communicate to Log Analytics over the Azure backbone?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9de91

[2018-08-23 02:38] Vincent0818 commented on #13422
Hi Vic

i think missed previous notification and forgot to write you back here.
You were saying "rip and replace" does this mean no impact on active connections, the updates take 10 mins, what will happen to connections during that updating.  to my exp, it certainly will affect live connection but perhaps just few parts of them. not all. would you plz get this replacement a little more specific, j

[2018-08-23 02:50] polarapfel opened #13848 "Is there a more complete list of Websocket closed codes?"
For example, what's 1006? I've also gotten others. Can you please release a full list of codes possible? Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb8b8066-1645-97d6-fa82-ccc6304ac556
* Version Independent ID: bf602a85-19c8-133a-a4c4-90ae9c93b453
* Content: [Microsoft Translator Speech API Reference - Cogn

[2018-08-23 02:53] ozyogz opened #13849 "PDF document"
Thank you for the Download PDF link at the bottom of ToC. It would be even better and certainly more useful if the PDF actually limits to the currently selected item in ToC. As it stands, the PDF contains all the content for the entire Azure Security Documentation in the LHS tree structure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2018-08-23 03:04] hafizramly commented on #13846
Command that works for me

az disk list --query '[].id | [?contains(@,`pvc-faf0f176-8b8d-11e8-923b-deb28c58d242`)]'

[2018-08-23 03:16] saulcruz commented on #13838
Found a workaround, don't understand why given that both formats look like the same to me but after adding a `formatDateTime `to the Lookup parameter value did it for me. It is quite interesting though that by looking at the output (JSON) it's very hard to tell that hey are in different format.

`@greater(activity('Get Metadata Activity').output.lastModified, formatDateTime(activity('Lookup Activi

[2018-08-23 03:42] JackDnls commented on #13759
@TravisCragg-MSFT Thanks for keeping me posted. Taking advantage of the situation wanted to ask you guys to reconsider slightly the example with storage since the page is considered for an update. I think the case with storage is a bit trivial and wanted to ask you to have as an example a bit more complex scenario... like for example an Azure SQL Database or any other cases which will give us a wi

[2018-08-23 04:50] ShubhaVijayasarathy commented on #12487
@tshaiman please refer to this article - https://docs.microsoft.com/azure/event-hubs/event-hubs-event-processor-host

[2018-08-23 05:19] kiranjshetty opened #13853 "Application Performance related information"
I am Using AKS, If i want to get the application performance related information (Such as No.of hits,latency etc),what is the way to send it to log analytics and see when ever issue occurs in the graph.
Currently the graph we create from log analytics are not auto refresh.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2018-08-23 05:26] kspoojary opened #13854 "Is it possible to register the B2C app using powershell?"
Is it possible to register the B2C app using powershell?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1c2ea43-4468-6ce2-c963-6940f5cb1d34
* Version Independent ID: e91ad7a8-0dbd-79b4-0f1b-b3c5a66d6d78
* Content: [Application registration in Azure Active Directory B2C](https://docs.microsoft.com/en-us/azure/active-di

[2018-08-23 06:09] lesca commented on #13785
Hi @iainfoulds , without `--restart=Never`, the deployment and pod will keep restarting after we `exit` the shell. Thus the deployment won't end.

[2018-08-23 06:14] coolshrawan opened #13856 "How about Online Migration with Zero Downtime ?"
How about Online Migration with Zero Downtime ? I am unable to find any documents/steps related to it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a49a982-613b-76a9-4a0a-7132d6058dcb
* Version Independent ID: b2a280d2-ea2c-1836-f265-ccaa2c6758b3
* Content: [Use the Azure Database Migration Service to migrate SQL Se

[2018-08-23 06:26] imikiyasu commented on #12086
Any updates for the required license at the case of inviting users in other tenants in a same company?
In this case invited users are not considered as guests, however, as described in "Additional licensing details", these two statements below seem to be true even for invited users of other tenants in a same company, because these statements use an "invited user" or a "B2B collaboration user" inst

[2018-08-23 06:46] andersoyvind commented on #8644
Verified fixed. Can be closed.

[2018-08-23 06:55] #8644 closed

[2018-08-23 06:59] Drony77 commented on #13442
@Karishma-Tiwari-MSFT We have Premier Support agreement and I can raise support request on my own if you recommend it

[2018-08-23 07:04] isobe4u commented on #13761
I don't know the root cause, but when I created a self signed certificate in shell with reference to the following article, I succeeded.
https://docs.microsoft.com/ja-jp/azure/azure-stack/user/azure-stack-kv-push-secret-into-vm
I list the successful shell.

[code]

[2018-08-23 07:35] alistairl opened #13858 "AADLoginForLinux needs firewall exceptions on a secure vnet"
I'm experiencing issues with the AADLoginForLinux extension and installation on a Linux VM that is on a subnet that goes through a Firewall to connect to the internet.

The Linux image is the Data Science Virtual Machine on Centos from the Azure Marketplace.

I'm trying to test the lifecycle from install to use. At the moment I've got the following entries whitelisted and it appears to allow insta

[2018-08-23 07:45] VGSandZ commented on #13730
Hi,
Thank you so much for your feedback and support. I would try this option.
Last question on this issue, could we use our own sysprep.xm answer file, will the deployment honor it?
2018-08-22 15:32:28, Info                         [setup.exe] UnattendSearchExp

licitPath: Found unattend file at [C:\Windows\Panther\unattend.xml]; examining

for applicability.
2018-08-22 15:32:28, Info

[2018-08-23 07:52] mchudinov opened #13859 "Custom policies have no "Run now" option."
Test the custom Profile-Edit policy by using Run Now
Open Azure AD B2C Settings and go to Identity Experience Framework.
Open B2C_1A_ProfileEdit, the relying party (RP) custom policy that you uploaded. Select Run now.

Custom policies have no "Run now" option.
I click on the blue button "Identity Experience Framework - PREVIE" -&gt; Custom Policies then choose a policy. No run now there. Just Dele

[2018-08-23 07:56] dcbrown16 commented on #7028
"To download the log files, start a new instance of Azure PowerShell and use the following command:
Save-AzureWebSiteLog -Name webappname"

As long as this is still listed in the document, I would consider the fact that this command does not exist a document issue as well for the time being. I know there have been major revisions in the works for months on this document (per #5380 that I reported

[2018-08-23 07:58] OwainWin commented on #13442
Ok, I'm currently on holiday so I'll do this when lm back in the office in
about a week and a half.

On Wed, 22 Aug 2018, 21:51 Karishma Tiwari - MSFT, <notifications@github.com>
wrote:

[2018-08-23 08:00] abhijeetgaiha commented on #13442
@OwainWin Could you provide all the files under /var/log/azure? That will help us investigate further.

[2018-08-23 08:00] abhijeetgaiha commented on #13442
@Drony77 Could you provide all the files under /var/log/azure? That will help us investigate further.

[2018-08-23 08:04] dcbrown16 opened #13860 "Which logs in Application Insights"
"Visual Studio Application Insights provides tools for filtering and searching logs, and for correlating the logs with requests and other events."
Which logs are being referred to here? Detailed Error Logging, Failed Request Tracing, Web Server Logging, Application diagnostics, or some/all of the above?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2018-08-23 08:16] Anded opened #13861 "Limitation of request body size"
The undocumented limitation of requestBody parameter is 500 KB. If the limit is exceeded, Data Factory activity fails and returns cryptic "Fail to Publish Client Library Job!" error message. I had trouble passing in a big JSON array as request body and had to batch it into smaller chunks after getting clarification about the limitation from Azure support.

---
#### Document Details

⚠ *Do not edit

[2018-08-23 08:27] jpalo opened #13862 "hubName form application settings"
So you cannot configure "hubName" in application settings, like you can do with, e.g., "connection"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: abd3f3e3-cd6a-ad01-90cc-5c72e81a54d2
* Version Independent ID: de6f830f-869e-61ca-5541-9d0cd0305f52
* Content: [Notification Hubs bindings for Azure Functions](https://docs

[2018-08-23 08:28] nnamedieh commented on #13816
Hi @TravisCragg-MSFT , thank you for your answer. I wanted to build a vpn connection between Azure and on-prem with a Azure VPN gateway SKU VpnGw1.

And - just for understanding purposes - it works! But when I enable BGP in "Connection" and want to download the vpn configuration for on-prem vpn gateway, an error occur (take a look at initial post).

I build this conncetion exactly the same like in

[2018-08-23 08:36] cadipasi opened #13863 "Learner"
Thank you for good and advicible document
---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c81d6f9-ede5-46eb-8ca0-eaec8019ece9
* Version Independent ID: 20483563-6ce5-31fa-84ab-2aae8a5c594c
* Content: [License users in Azure AD](https://docs.microsoft.com/en-gb/azure/active-directory/fundamentals/license-users-groups)
*

[2018-08-23 08:49] Tre4Bax opened #13864 "Management Pricing tier - Options Greyed out"
The above is great however I cannot create a QNA Maker service as the Management Pricing Tier is greyed out.  The underlying message is Unavailable in current resource location.

What it does not tell me is what to do about it.  If it had help that pointed out what to change this would really help.  I have tried changing regions, plans and all sorts of things.  I have even deleted everything and s

[2018-08-23 09:20] yadcam opened #13867 "RBAC Action for Creating Custom Role"
Hello Team,

I was wondering if you could provide is with the specific action that can be used in a Custom RBAC role to allow a user to use the Serial Console?

I attempted to see the role using Get-AzureRmProviderOperation Microsoft.Compute/virtualMachines/* and I am not sure which operation could I use for a custom role.

Or if it was that the action is not available for such, I would really app

[2018-08-23 10:10] simeyla opened #13868 "CosmoDB pricing"
Please don't just present CosmoDB as a 'premium version' of tables. It's probably hundreds of orders of magnitude more expensive. $23.10 minimum per month for a single table / collection. I'm now sad and annoyed this wasn't more obvious.

'Scalable services' should mean you can start with 'tens and hundreds', and not just that you can go from 'millions to billions' with ease..

---
#### Document D

[2018-08-23 10:37] xumx commented on #10959
I still can't find the Zone name. Portal UI doesn't show this anywhere.

I can't delete and recreate the storage account

[2018-08-23 11:05] ryanlward commented on #13777
This is the exact scenario I am facing and would be great if we could use this same approach to migrating internal to Azure. I want to move a site to a PremiumV2 App Instance with 0 downtime.

[2018-08-23 12:40] AdamSharif-MSFT opened #13870 "S50 disk - throughput query"
Hi,

I noticed that the S50 standard disk shows a throughput of 50MB/s whereas all other sizes of this disk are showing 60MB/S, and this page https://azure.microsoft.com/en-us/pricing/details/managed-disks/ shows that S50 has 60MB/s.

Please can you advise which is the correct throughput value for S50?

Many thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2018-08-23 13:04] shakanand opened #13871 "Pipeline parameters - Not working"
I get the below error when i try to build as pipeline as above. Please fix the documentation, there are multiple issues with it.

"Pipeline parameters can only be used within their defining pipeline. Define dataset parameters to accept the pipeline parameter values instead"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2018-08-23 13:12] wasabii commented on #13690
Looks like it switched exclusively over to the /Web project. I couldn't get it to go back. /Web/Core service is healthy and responsive.

Both are reachable on their own endpoints directly.

[2018-08-23 13:17] iamkarlson opened #13872 "Manual probably is incomplete"
Getting error for even installing nginx:
Error: release binging-alpaca failed: clusterroles.rbac.authorization.k8s.io "binging-alpaca-nginx-ingress" is forbidden: attempt to grant extra privileges

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ada58160-dc50-b977-d3bc-65f92406e16d
* Version Independent ID: 5c596e04-fddb

[2018-08-23 13:33] spottedmahn commented on #13633
Hi @femsulu

[2018-08-23 13:37] bramvdklinkenberg commented on #10495
Sorry for the late reply. So I did the following:
- Gave a service principal contributor rights on the resource group of the AKS cluster
- Created a namespace, a role and rolebinding. In the rolebinding for subject I used user as kind and added the object id of the SP as name.
- I logged in with the SP id
- Did a get-credentials

With the config file for the SP user I can (still) see everything.

[2018-08-23 13:42] j-martens commented on #12786
@YutongTie-MSFT please label as machine learning. Might be similar to: https://github.com/MicrosoftDocs/azure-docs/pull/5543

[2018-08-23 13:47] rodrigoffonseca commented on #7752
any update about it?

[2018-08-23 13:49] SaurabhSharma-MSFT commented on #13663
@msilinda We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-23 13:49] #13663 closed

[2018-08-23 13:49] rodrigoffonseca opened #13873 "Where are Application Gateway planning and performance information?"
We need better documentation about Azure Application Gateway planning and performance. For example, what is the number of request per second a Medium App Gateway instance can handle? And the large instance? How can I define what SKU Size and how many instances I need in order to protect my app and have good performance?

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2018-08-23 14:03] Anmolgan81 commented on #13726
@femsulu @douglasIMS @linda33wj do we have any updates on the movement of On-Premise Data Managment Gateway? Does it enables move across subscription?

[2018-08-23 14:06] msimecek commented on #13431
There's a new version of the APIs which doesn't need the key anymore. You can use the `Ocp-Apim-Subscription-Key ` HTTP header with your subscription key from Cognitive Services Speech (or Custom Speech) service.

[2018-08-23 14:12] lilleman12 commented on #11648
Hi @josere

I had the same problem as you but when I change to this I got 10 second updates. I do not think this is recommended production settings , its more to se that it works.

 <Section Name="ReconfigurationAgent">
      <Parameter Name="IsDeactivationInfoEnabled" Value="true" />
      <Parameter Name="LocalHealthReportingTimerInterval" Value="1" />
      <Parameter Name="RAUpgradeProgressChe

[2018-08-23 14:29] rohancragg commented on #13733
Thanks for the update., but this is still not as clear as it could be.

I provided a line of pwerShell that I think people would find really useful that should be added into the code block in https://docs.microsoft.com/en-us/azure/key-vault/key-vault-ovw-storage-keys#getting-started:

[code]

[2018-08-23 14:33] NeighborGeek opened #13874 "Where are these group policy settings?"
The table of group policy settings is helpful, but the documentation should also tell us where these settings are located.  After searching for them, I found that the settings listed appear to be located under: Computer Configuration&gt; Administrative Templates &gt; Windows Components &gt; Sync your settings
Please consider adding that information to the article to save others from having to hunt

[2018-08-23 14:38] JTC-Jeremy commented on #12432
@MrJinx2015 I havent heard back from you, I would love to get this working with one App proxy, could you give me an example of what you used as the common root, external and internal URLs?

[2018-08-23 14:53] diberry commented on #13197
@sodafatty The [supported languages](https://docs.microsoft.com/azure/cognitive-services/LUIS/luis-supported-languages) table is modified to be more clear that sentiment is not included in Chinese. The other pages are in a longer rewrite cycle. It may be up to 2 weeks before those docs are available.

[2018-08-23 14:56] diberry commented on #13245
@Zerryth - this modification is directly tied to docs tied to a UX release. It may take another week for the correction to appear. The change was in order of steps so that the dependency is added before the code.

[2018-08-23 15:02] MrJinx2015 commented on #12432
Sorry, completely forgot to reply.

The internal URL is what is says, the URL that should only be accessible from inside your own network.
For testing I just used the server hostname, with a selfsigned certificate.
Something like https://servername/
The common root for both RD Web and Gateway would be 'servername' in this case, but I don't think you need that any way.

For the external URL I used

[2018-08-23 15:12] msilinda commented on #13663
I have posted the feature request as you recommended thank you.  https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/35180650-install-and-configure-azure-marketplace-enterprise

[2018-08-23 15:18] CarlRabeler commented on #13577
@KeiroKamioka0000 thanks for the suggestion. Change has been made

[2018-08-23 15:18] CarlRabeler commented on #13577
#please-close

[2018-08-23 15:26] aquibqureshi26 opened #13875 "azure vm backup storage account details"
Absolutely, Backup team wanted to remove the extra overhead involved in maintaining the azure backup storage.
But still if someone wanted to know how much data they are currently using on per vm basis, how can this be achieved? in overview section we can only see how much data resides in the backup storage account in total.

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2018-08-23 15:34] Noissim commented on #13828
I have exactly the same problem after following the document guide

[2018-08-23 15:39] agvardha commented on #13628
Hi  @mattbriggs I just did a full deployment of the 1.1807.0.76 and checked C:\CloudDeployment\Logs\AzureStackStampInformation.json. The two JSON variables are indeed pointing to the deployed version number. So my problem is solved. Thanks
    "StampVersion":  "1.1807.0.76",
    "InitialDeployedVersion":  "1.1807.0.76",

[2018-08-23 15:39] #13628 closed

[2018-08-23 15:40] CarlRabeler commented on #6739
#please-close

[2018-08-23 15:43] #6739 closed

[2018-08-23 15:43] CarlRabeler commented on #9252
change is in process: https://github.com/MicrosoftDocs/azure-docs-pr/pull/49804

[2018-08-23 15:45] shizn commented on #13122
Hi @SarithaMaran , I can reproduce this issue now. It's actually a known cross-compile issue. We are not officially have cross compile support for now. If you build the default code on Windows, it happens to build and run on ARM device successfully because there is no arch specific stuff in the the base image and libraries in the dockerfile. If you are building this on Linux or macOS, there might

[2018-08-23 15:46] Adam-Smith-MSFT commented on #13147
@fhryo-msft  Any updates on this case by any chance ?

[2018-08-23 15:56] cgillum commented on #10795
@vxnsbir1ugsp POST is commonly used when a REST API has side effects, like creating or updating resources. In this case, the side effect is a creation of a new orchestration instance.

[2018-08-23 15:57] cherylmc commented on #13842
@net2biz  - We do use a group of variables that are the same in our exercises and samples from time-to-time. This is a case of that. It helps when customers go between script samples and exercise examples.

[2018-08-23 15:58] Mike-Ubezzi-MSFT commented on #13577
@KeiroKamioka0000 A note was added to the to the FAQ page. Thank you so much for the suggestion.

![screenshot 190](https://user-images.githubusercontent.com/37126106/44537074-c0924100-a6b2-11e8-81ba-ee0d7901f3a3.png)

[2018-08-23 15:58] #13577 closed

[2018-08-23 16:04] iainfoulds commented on #13785
Hi, @lesca. That's not the behavior I've encountered, even though the default is `-Always` which does technically create a deployment. When the session exits, the pod is no longer in use, so the scheduler should delete the pod:

[code]

What's your cluster and `kubectl` version?

[2018-08-23 16:19] Karishma-Tiwari-MSFT commented on #13872
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-23 16:24] leopasta opened #13876 "Performance reference unit"
At the Performance reference section, please clarify the unit, does it mean Megabits per second or MegaBytes per second? I believe it is the later, but these acronyms have been used ambiguously everywhere.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0bbd66af-d49f-e595-a7bc-c48cd3675ddc
* Version Independent ID: d3e4

[2018-08-23 16:27] MicahMcKittrick-MSFT commented on #13846
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-23 16:28] ahmedelnably commented on #7028
We are planning to have an equivalent command, we have the following issue on our backlog https://github.com/Azure/azure-powershell/issues/5941, we don't have an ETA to share yet. Please follow up the PowerShell issue for updates

cc: @panchagnula

[2018-08-23 16:29] Karishma-Tiwari-MSFT commented on #13450
@misterspeedy We will now close this issue. When you are ready, please reopen the issue and we will gladly continue the discussion.

[2018-08-23 16:29] #13450 closed

[2018-08-23 16:45] jluk commented on #13771
@dcbrown16 simply run `clouddrive dismount` which will remove the SA association. On next launch you should be prompted with the onboarding dialogs again.

[2018-08-23 16:45] jluk commented on #13771
Run that cmd from the bash prompt

[2018-08-23 16:45] ggailey777 commented on #13797
@whytoe yes, anchor links are tricky things 😁 I will get it fixed--thanks for reporting this!

[2018-08-23 16:47] msmimart commented on #12086
@imikiyasu We're currently looking into this and will get back with clarification. Your feedback is appreciated!

[2018-08-23 16:50] Karishma-Tiwari-MSFT commented on #13870
@AdamSharif-MSFT Thanks for bringing this to our attention. From my understanding, it should be 60MB/second as mentioned here: https://azure.microsoft.com/en-us/pricing/details/managed-disks/
I have assigned the issue to the content author to evaluate and update this document as appropriate.
CC: @roygara

[2018-08-23 16:53] dlepow commented on #13752
@MicahMcKittrick-MSFT - Although I am listed as author I'm not an active writer now on this docset. Can you please assign to @mmacy who is much more current on this service? Many thanks (both).

[2018-08-23 16:55] ggailey777 commented on #13457
Thanks @paulbatum! I've submitted an update to specifically call-out which triggers get retried.

[2018-08-23 17:00] dlepow commented on #13752
@MicahMcKittrick-MSFT - Actually Marsh pointed out that @iainfoulds is the better writer to assign this issue. Sorry for churn. Thanks.

[2018-08-23 17:12] BryanTrach-MSFT commented on #13860
@dcbrown16 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-23 17:15] jason-j-MSFT commented on #13674
@sunnygitacc I see the same thing, there is no documentation on this feature in Python as it is not supported at this time.  This would be a good request to submit to the Azure feedback portal, for increased visibility by the product group and where the community can upvote it:
https://feedback.azure.com/forums/169401-azure-active-directory

[2018-08-23 17:15] #13674 closed

[2018-08-23 17:17] YutongTie-MSFT commented on #13245
@diberry Thanks a lot!

@Zerryth We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-23 17:17] #13245 closed

[2018-08-23 17:19] YutongTie-MSFT commented on #13843
@polarapfel Hi! Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@v-jaswel Hi Jason, this is a document related bug here, can you please check it and update the document as necessary? Thanks a lot!

[2018-08-23 17:25] MicahMcKittrick-MSFT commented on #13690
@wasabii thanks! I will get back to you on this after I work offline with some folks.

[2018-08-23 17:26] #13797 closed

[2018-08-23 17:27] Anmolgan81 commented on #13726
Hi All,

Please confirm this in 2-3 hours I have a migration after that period and I need a confirmation from Microsoft on this. I cant have issues during the migration.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Douglas Laudenschlager <notifications@github.com>
Sent: Thursday, August 23, 2018 9:52:37 PM
To: MicrosoftDocs/azure-docs
Cc: Anmol Ganju; Men

[2018-08-23 17:27] jason-j-MSFT commented on #13744
@otravers have you already mentioned this in the forums or feedback portal:
https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=azuredatacatalog
https://feedback.azure.com/forums/906052-data-catalog/category/320788-data-sources

We are closing this issue for now, but if you have a specific suggestion on where we could modify the documentation, let's reopen the issue.

[2018-08-23 17:27] #13744 closed

[2018-08-23 17:29] roygara commented on #13870
@AdamSharif-MSFT thanks for pointing this out, the correct value is indeed 60MB/sec. I've stood up a PR which corrects this and the fix will be live by EoD.

Thanks again!

#please-close

[2018-08-23 17:30] Karishma-Tiwari-MSFT commented on #13870
Thanks for confirming @roygara :)

[2018-08-23 17:30] #13870 closed

[2018-08-23 17:30] MicahMcKittrick-MSFT commented on #13761
@isobe4u thanks for the update! Glad to hear you were able to get it to work.

I ran through the doc but was not seeing any issues that were standing out. I will close this for now but if you have additional issues just let me know and we can always reopen and continue.

[2018-08-23 17:31] douglaslMS commented on #13726
@Anmolgan81 We cannot guarantee this at all. This GitHub issue is a channel for reporting problems with the documentation. If you want to reach both the Azure Data Factory product team, and a large number of other subject matter experts, consider posting your question in the [Data Factory forum](https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=AzureDataFactory). It's likely that som

[2018-08-23 17:34] BryanTrach-MSFT commented on #13805
@liamfoneill Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2018-08-23 17:34] #13805 closed

[2018-08-23 17:35] mdraselahmed25 opened #13877 "Router broadband controller"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-08-23 17:38] BryanTrach-MSFT commented on #13877
@mdraselahmed25 Can you please provide us the URL of the Azure Doc that you are having issues with? Also, can you please provide us with more details?

[2018-08-23 17:43] TylerMSFT commented on #12261
@SimonPuckeyAW - regarding "Do the communicating services have to be part of the same app and network?", the answer is that they don't have to be part of the same app. To communicate across networks, you expose service endpoints via the gateway resource which should come in a future release.

[2018-08-23 17:44] jason-j-MSFT commented on #13778
@v-maroge I don't think you would always need NAT, for example I don't believe you would be using NAT in a VPN or ExpressRoute situation.  If you would like to continue a deeper discussion, I think the best place to do that would be in the forums:
https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=opinsights

[2018-08-23 17:44] #13778 closed

[2018-08-23 17:49] cconrado opened #13879 "Add note of default time range is 24 hrs"
Hi There,
Should note that the custom views and queries are always to 24hrs. Even if you change the date range it doesnt save that range for the view. Unless something is wrong with mine.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a658fd6-2382-146c-ca5f-11c5e5efb602
* Version Independent ID: 50c1f931-7271-54e3-33a

[2018-08-23 17:50] ngilstrap opened #13881 "Uploaded files don't show up in assets on portal"
Following this sample, I am able to successfully create assets, upload video, encode, and get an output asset.  I can see the assets created in the portal, and I can see the blobs created with the video and encoding output.

However, both the input and output assets created show 0 files in them in the portal.

I know the files are there because I can see them.  Further, if I delete the asset via t

[2018-08-23 17:53] MicahMcKittrick-MSFT commented on #13830
@rwike77 can you take a look at this doc? I am also not able to follow the instructions and have it be successful.

For me when listing the container images using az acr repository list --name <acrName> --output table

I am getting a blank output

[2018-08-23 17:56] Meladie commented on #13781
Addressed in PR 49821

[2018-08-23 17:58] MikeChristensen commented on #13830
When I run `az acr repository list --name miketestcontainer --output table` I get:

[code]
Which is as expected.

[2018-08-23 18:10] odvoskin opened #13882 "Updates needed to TLS description"
In this section: https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-custom-ssl#enforce-tls-1112

Your app allows TLS 1.2 by default, which is the recommended TLS level by industry standards, such as PCI DSS. To enforce different TLS versions, follow these steps:

In your web app page, in the left navigation, select SSL settings. Then, in TLS version, select the minimum TLS

[2018-08-23 18:14] freedumb opened #13883 "Custom Role Example Doesn't Work?"
I tried the Custom Roles example and couldn't get it to work with that granular of a scope when creating the role assignment.  I had to set the role assignment at the service level in order for the user to see the service in the portal.
I'm using the az cli 2.0.32 instead of powershell, but same concept.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2018-08-23 18:17] jason-j-MSFT commented on #13838
@saulcruz
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-23 18:18] jason-j-MSFT commented on #13845
@dcbrown16
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-23 18:19] whytoe commented on #13797
@ggailey777 is it fixed? The issue shouldnt be closed until its fixed.

[2018-08-23 18:20] bramvdklinkenberg commented on #10495
Hi @MicahMcKittrick-MSFT , no because when logged in with the SP I can see everything on the cluster een though it should only see a specific namespace.

[2018-08-23 18:21] adewaleo opened #13884 "Azure CLI JMESPath Queries incorrect."
The JMESPath filter expressions involving string literals are incorrect. [Here](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/hybrid-use-benefit-licensing#cli-3) is an example of an incorrect Azure CLI query. The --query argument should be double quoted and the string literals within the query itself should be single quoted.

So for example:

az vm list --query '[?licenseType==Wi

[2018-08-23 18:26] jason-j-MSFT commented on #13876
@leopasta
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-23 18:26] MicahMcKittrick-MSFT commented on #13830
Hmm. I will delete everything and attempt a repro again.

[2018-08-23 18:27] jason-j-MSFT commented on #13879
@cconrado
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-23 18:28] freedumb commented on #13883
In fact, I can't seem to get this example to work at all.  When I try it, the user can still edit other APIs that weren't given to him via the scope.

[2018-08-23 18:29] mcollis2 commented on #11982
Is there any update on this issue?  We eagerly await the ability to assign read-only access through RBAC to BLOBS.

Thanks,
Matthew

[2018-08-23 18:33] MichaelHauss commented on #10959
Can you show a screenshot of the "static websites (preview)" blade? Zone name is part of the web endpoint URL

[2018-08-23 18:41] ggailey777 commented on #13797
@whytoe the issue is fixed. I referenced this issue in my fix in our internal repo (https://github.com/MicrosoftDocs/azure-docs-pr/commit/517f045afe3c11024798e7795337c02783e626e8). When that commit makes it into the public repo, then GitHub auto-closes the issue. You should see the fix around 3:30-4pm PDT when the afternoon publish occurs. 🕒

[2018-08-23 18:43] ggailey777 commented on #10697
#please-close per SLA since this documentation request is being tracked internally.

[2018-08-23 18:44] vasivara-MSFT commented on #13838
@saulcruz thanks for providing the workaround. Since you are not blocked by this issue, can this issue be closed?

[2018-08-23 18:44] wjmoody03 commented on #13828
I had the same problem, and eventually realized it was because the Microsoft.Extensions.Logging package had failed to install. After changing the target framework to 4.6.1 and reinstalling the logging package, it worked as expected.

[2018-08-23 18:50] vasivara-MSFT commented on #13879
@cconrado Please note log analytics by default will scope the query to 24 hours. You should change the time range. Please refer to this [document](https://docs.microsoft.com/en-us/azure/log-analytics/query-language/get-started-analytics-portal#running-a-query). Please go over the entire document and let us know if this is still an issue for you.

[2018-08-23 18:52] CodingBlueberry commented on #13864
I am having this issue as well.

[2018-08-23 18:52] cconrado commented on #13879
Yeah you can change it but it won't apply to the actual by default. That's
the issue.

Example I create a query then I change the range and I save. If I refresh
it goes back to 24hrs. Thus not giving the view I want to see on the
dashboard.

On Thu, Aug 23, 2018, 2:50 PM VairavanS-MSFT <notifications@github.com>
wrote:

--
Carlos Conrado

[2018-08-23 18:53] MohitGargMSFT commented on #13849
@ozyogz Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-23 18:54] MohitGargMSFT commented on #13854
@kspoojary Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-23 18:55] vasivara-MSFT commented on #13876
@leopasta Thanks for the feedback. it says unit of measure is **MBps**. Usually in computer notation,  **B** refers to **Bytes** and **b** refers to **bits** . Therefore **MBps** refers to **Mega Bytes per seconds**.  We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-23 18:55] #13876 closed

[2018-08-23 18:55] MohitGargMSFT commented on #13859
@mchudinov Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-23 18:57] MohitGargMSFT commented on #13863
@cadipasi Thanks for the positive feedback. Appreciate it.

[2018-08-23 18:57] #13863 closed

[2018-08-23 18:58] MohitGargMSFT commented on #13874
@NeighborGeek Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-23 19:00] vasivara-MSFT commented on #13879
I think save query will just save the query and not the time range. I would have to double check and update this thread.

[2018-08-23 19:00] Mike-Ubezzi-MSFT commented on #13122
@SarithaMaran We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-23 19:00] #13122 closed

[2018-08-23 19:01] vasivara-MSFT commented on #13871
@shakanand Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-23 19:04] jimdial commented on #13759
@JackDnls I've fixed the NSG rule creation issue in the article. It will publish later today. Let me know if you have any issues with the updated instructions. I also added a subnet and validated that service endpoint is in the UI. It appears directly under **Users**, which appears under **Route table** (in your **Add subnet** screenshot). I'm not sure why you're not seeing it. I suggest creating

[2018-08-23 19:04] vasivara-MSFT commented on #13845
@dcbrown16 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-23 19:07] vasivara-MSFT commented on #13861
@Anded Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-23 19:09] cconrado commented on #13879
I'm not referring to the query. I'm talking about the view. The view is set
by default to always be 24hrs.

So if I change it for myself upon refresh the date range changes regardless
if the time is in the query or not.

I'm sorry I'm confusing lol.

On Thu, Aug 23, 2018, 3:00 PM VairavanS-MSFT <notifications@github.com>
wrote:

--
Carlos Conrado

[2018-08-23 19:09] JackDnls commented on #13759
@jimdial Thanks for the clarification. I'll check changes you made and revert in case if I still have issues. Much obliged

[2018-08-23 19:11] vasivara-MSFT commented on #13853
@kiranjshetty please take at this [document](https://docs.microsoft.com/en-us/azure/monitoring/monitoring-container-health) to help with your issue.  This helps you understand how to enable and monitor your container heath from log analytics

[2018-08-23 19:19] saulcruz commented on #13838
sure, I'd rather make sure if this workaround is the right approach or if I'm missing something. But sure you can close it

[2018-08-23 19:19] #13838 closed

[2018-08-23 19:20] oridayne opened #13888 "Main file or dependency file failed to download, after multiple attempts"
I have recently successfully deployed a few models. I wanted to make a small change so I started making a new image, but have been getting: Main file or dependency file failed to download, after multiple attempts

I took a look at the log file provided and it seems to have trouble downloading:
http://mlcrpstg7ac13792343b.blob.core.windows.net/amlbdpackages/80b6083c-db12-4631-abfa-ba7c97b5723a.tar.

[2018-08-23 19:29] mansyno opened #13890 "mr daniel"
i have an account in hotmail. when i accessed it i was offered to use the app authenticator insted of allways using passwords.
i donwloed the app.
but i am unable to setup my account from there. i select a personal account
it asks me for the mail so i give it
it then goes on to ask my password and guves a "capthca" but no matter how many times i try it won't accept my entries and wont pass me to t

[2018-08-23 19:37] TravisCragg-MSFT commented on #13834
@markmassad Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-23 19:40] femsulu commented on #13847
@dcbrown16 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-08-23 19:41] Adam-Smith-MSFT commented on #13868
@simeyla Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-23 19:42] CrimPhoenix opened #13891 "indexof - Value returned when not found"
For those working with indexof(), if the given string is not found, the value returned is -1.

For example, indexof('hello, world.', 'goodbye') would return -1.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76e31411-f1a2-710b-94c0-39acf9e7314b
* Version Independent ID: d5cefffe-dee0-2d2e-f3cb-8eefd5d40d17
* Content: [

[2018-08-23 19:43] MikeChristensen commented on #13830
I'll try creating a container repository in the same resource group.  However, can you try using a Windows container?  I'm wondering if it's a Windows vs. Linux issue..  I was trying with `seabreeze/azure-mesh-helloworld:1.1-windowsservercore-1709`

[2018-08-23 19:46] tamram commented on #13841
@roygara - FYI

[2018-08-23 19:47] TravisCragg-MSFT commented on #13873
@rodrigoffonseca Thanks for the feedback. information about App Gateway Sizes has been moved [Here to the App Gateway FAQ](https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-faq#performance). The portal links to a section in this doc that no longer exists.

I will follow up to make sure that the correct link is given in the portal.

[2018-08-23 19:48] mike-urnun-msft commented on #13833
Hi @simeyla Thank you for your feedback! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-08-23 19:50] heatherbshapiro commented on #13798
The r scripts have been added #sign-off

[2018-08-23 19:51] Adam-Smith-MSFT commented on #13875
@aquibqureshi26 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-23 19:52] KumudD commented on #10835
#please-close

[2018-08-23 19:52] aashishb commented on #12786
@raymondlaghaeian can you help?

[2018-08-23 19:54] KumudD commented on #11576
Fixed.

#please-close

[2018-08-23 19:54] cherylmc commented on #13842
#please-close

[2018-08-23 19:55] MicahMcKittrick-MSFT commented on #13846
@hafizramly I ran through this doc using the Azure Cloud Shell and it ran as written

[code]

Are you running this from Azure CLI on premise?  If so, you likely need to update to the lastest version of Azure CLI. That tends to be the problem when getting a error regarding recognizing a command.

The version of CLI used in Azure Cloud Shell currently is 2.0.44

You can check the version you are run

[2018-08-23 19:55] KumudD commented on #13039
Fixed.
#please-close

[2018-08-23 19:56] MicahMcKittrick-MSFT commented on #13830
Ah okay. Yes I will run through it again and try with a windows container as well.

[2018-08-23 19:56] BryanTrach-MSFT commented on #13828
@ravick4u @Noissim  I was able to work through the sample doc with no issues. I used 4.6.1 framework and made sure to use 2.2.0 version of webjobs.

It looks like @wjmoody03 was able to resolve the issue by ensuring he used similar versions. Can you please check this part of your projects?

[2018-08-23 19:57] MicahMcKittrick-MSFT commented on #13872
@iamkarlson can you confirm which step you are having issues with?

The first command is

Are you having an issue besides this command?

[2018-08-23 19:58] MikeChristensen commented on #13830
Deploying now with Windows container and registry in same resource group..

[2018-08-23 19:58] chrisdeely commented on #13039
@KumudD Thanks!

[2018-08-23 19:58] #13039 closed

[2018-08-23 20:01] KumudD commented on #13485
#in-progress

[2018-08-23 20:04] TravisCragg-MSFT commented on #13856
@coolshrawan Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-23 20:05] TravisCragg-MSFT commented on #10835
@brett-todd We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-23 20:05] #10835 closed

[2018-08-23 20:05] TravisCragg-MSFT commented on #11576
@rdwaite We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-23 20:05] #11576 closed

[2018-08-23 20:07] vasivara-MSFT commented on #13838
@sharonlo101  can you please confirm if the workaround provided by @saulcruz  is the right workaround for the issue? Please take a look and comment when you have a moment

[2018-08-23 20:10] TravisCragg-MSFT commented on #13844
@markmassad Thanks for the feedback. information about App Gateway Sizes has been moved Here to the App Gateway FAQ. The portal links to a section in this doc that no longer exists.

I will follow up to make sure that the correct link is given in the portal.

[2018-08-23 20:13] Anmolgan81 commented on #13726
Let me clear this one.

So there is a documentation, for this on which I am asking for some sort of support you guys should clear these type of issues, or else keep them marked in this move resources documentation, we have to get confirmation from you guys for other additional resources that are not listed here,  either you should list here all the resources from Microsoft that you dont know the r

[2018-08-23 20:14] MirzaSikander opened #13892 "Running custom script as a specific user"
As far as I know, custom scripts are executed under the Service Account by default, but I can't find a way to run them under the administrator account, which I know is possible through `Powershell DSC`. Also I couldn't find a way to use `Automation Account` with custom scripts. It would be great if an example is added for both of them or its clarified that these scenarios are not supported.

---
#

[2018-08-23 20:17] mattreatMSFT commented on #13460
Hi @alohaninja thank you for the feedback around the current design. We will work to document this more clearly.
From portal, explicit creation of Network Watcher resource is not required. When you use any of the Network Watcher features, a Network Watcher resource is created if it doesn't already exist.
#please-close

[2018-08-23 20:29] MarileeTurscak-MSFT commented on #13794
Also, your "category" in your JSON is AuditLogs, which would include updates.

[2018-08-23 20:29] allthedrones commented on #13284
From the doc:

Completely agree that this is far too vague. Obviously in choosing the behavior of our EG endpoints, we need clearer descriptions of how our chosen responses will impact EG retry or deadlettering decisions. Thanks!

[2018-08-23 20:30] MarileeTurscak-MSFT commented on #13794
Please let me know if this answers your question. If you have any additional questions please feel free to leave a comment or open a new issue and I will gladly continue the discussion.

[2018-08-23 20:30] #13794 closed

[2018-08-23 20:34] transdigiware commented on #13067
@TravisCragg-MSFT thanks for yours statement
next on some of the time we will talk more all over about nice sugar issue !

[2018-08-23 20:41] pstapf commented on #13794
Hi,
I'm not viewing the log in the portal, everything is correct there. As I stated in my first post it is an issue I found regarding the "Export Data Setting" of sign-in logs and route the logs to an Azure Event Hub.

![image](https://user-images.githubusercontent.com/18207999/44550596-00920c00-a725-11e8-865d-0152a7599949.png)

![image](https://user-images.githubusercontent.com/18207999/44550617-

[2018-08-23 20:44] MicahMcKittrick-MSFT commented on #13830
Yup! Will give it a go. Just finished deploying the seabreeze/azure-mesh-helloworld:1.1-windowsservercore-1709 and it worked when in the same RG just FYI

[2018-08-23 20:45] pstapf commented on #13794
OR in short, why do I recieve audit log message when I retrieve message from my Event Hub if I only put in the sign-in stream ?

[2018-08-23 20:46] EVMartinez opened #13894 "Change the cmdlet to get app load information"
Hello, the correct command let to get application information is Get-ServiceFabricApplicationLoadInformation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5df7cff5-ece0-a956-2395-60ef65c41995
* Version Independent ID: 4f829849-d587-abaf-91af-c54419e398e7
* Content: [Service Fabric Cluster Resource Manager - Applicatio

[2018-08-23 20:49] MicahMcKittrick-MSFT commented on #13830
@MikeChristensen also, when this was failing for you, is your ACS in the same region as the Mesh application or a different one?

[2018-08-23 20:52] 123dev commented on #13735
Hi Adam-Smith

Many thanks for a prompt follow up.
Checked the link, which suggested that there should be links for 3 downloads

But there are no links, so I attempted to build it myself.
Have no experience with GO, installed Go and added one by one the respective dependencies
until I encounter the following error.

[code]

[2018-08-23 20:54] mike-urnun-msft commented on #13512
Hi @SalmaTofaily - Because this doesn't address any specific content in this documentation, could you open this question on [MSDN forums](https://social.msdn.microsoft.com/Forums/en-US/home?forum=azuremobile) and tag me here with the URL of the thread please? That way, I can also help drive the thread to resolution as well.

We will now proceed to close this thread. If there are further questions

[2018-08-23 20:54] #13512 closed

[2018-08-23 20:57] MikeChristensen commented on #13830
Both were in the EastUS region.  Just different resource groups.

[2018-08-23 20:59] mike-urnun-msft commented on #13519
Hi @SalmaTofaily I will close this issue for now, but will validate & discuss with product team as well as the content author of this documentation.

[2018-08-23 20:59] #13519 closed

[2018-08-23 21:00] MicahMcKittrick-MSFT commented on #13830
Great thank you. Testing it now.

[2018-08-23 21:01] MarileeTurscak-MSFT commented on #13854
Hi @kspoojary , unfortunately it is not possible to do this yet. The plan is for this feature to be released in the fourth quarter of this year. You can subscribe to the thread in User Voice and be alerted when this functionality is in public preview.

https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/19975480-programmatically-register-b2c-applications

[2018-08-23 21:01] #13854 closed

[2018-08-23 21:03] simeyla opened #13895 "Singleton does not work as expected on consumption plan"
The following code runs with a queue trigger. I pushed a bunch of messages to the queue.

        [Singleton()]
        [FunctionName("ProcessWebSessionQueue")]
        public static async Task Run([QueueTrigger("websession-updates")]string myQueueItem, ILogger log)
        {
            log.LogInformation($"HELLO");
            await Task.Delay(5000);
            log.LogInformation($"GOODBYE");

[2018-08-23 21:03] pbolduc opened #13896 "Deadletter and Retry policies"
I appreciate having the 'Add Event Grid subscription' in the portal, however, I have been unable to determine how to configure Dead letter and Retry polices.  It is possible to create the subscription settings via the CLI (https://docs.microsoft.com/en-us/azure/event-grid/manage-event-delivery) however, I would need to have the secret function 'code' which is not available via the portal.  I am us

[2018-08-23 21:05] YutongTie-MSFT commented on #13888
@oridayne
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-23 21:08] ggirard07 opened #13897 "Log file location"
Is there any log files produce by the Azure Storage Explorer which can be used to diagnose access issues to a storage account/container? If yes, can you provide the log file location on disk?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06b6cadc-f93d-75de-7611-b1e3d80917e2
* Version Independent ID: bcf194d8-3442-b284

[2018-08-23 21:12] barclayn commented on #10208
@dannradkov just following up if the last two comments helped clarify things for you or if you have follow up questions.

[2018-08-23 21:13] MicahMcKittrick-MSFT commented on #13830
Deployment succeeded by deploying a SF Mesh application in a different resource group than my ACR is in.

My ACR is in East US in resource group micahACR and I deployed the mesh application in my resource group called micahAKS2 in East US.

[code]

![image](https://user-images.githubusercontent.com/32313503/44552111-00bae900-a6de-11e8-9961-31a539b0a4df.png)

![image](https://user-images.githubuser

[2018-08-23 21:26] CodingBlueberry commented on #13864
It was not. It in East US 2. I was finally able to get it to work in the Microsoft Edge browser.
![image](https://user-images.githubusercontent.com/41340315/44552788-fbb36500-a6f0-11e8-9e70-747ba2ef9b09.png)
This was the error I saw in Chrome Developer tools console.

[2018-08-23 21:27] femsulu commented on #13445
@dgorocho-quest was able to confirm we currently don't have any official support for PagerDuty integration. However, we found some related guidance [HERE](https://www.pagerduty.com/docs/guides/microsoft-operations-management-suite-oms-integration-guide/). Please review and see if it helps mitigate your issue. If this is a scenario you would like Azure Monitor to support in the future, please share

[2018-08-23 21:29] mike-urnun-msft commented on #13517
@rolyon Any thoughts around this one?

[2018-08-23 21:32] #13445 closed

[2018-08-23 21:33] MicahMcKittrick-MSFT commented on #13884
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-08-23 21:33] jason-j-MSFT commented on #13772
@junpark12 this article makes references to using RDP to Windows nodes using an SSH tunnel:
https://medium.com/cooking-with-azure/windows-containers-in-kubernetes-with-acs-engine-in-azure-615cf2531dac

@MGoedtel, @keikhara, is this something that should be documented?  I know ACS is being replaced with AKS.

@MGoedtel i'm assigning this issue to you as I cannot seem to assign it to @keikhara, let

[2018-08-23 21:34] MicahMcKittrick-MSFT commented on #13892
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-23 21:34] StephenMolloy commented on #12226
I just responded to the stack overflow. Long story short, this is probably an access/permissions issue that gets whitewashed into a generic looking answer.

Probably. Please let me know if that turns out to not be the case.

[2018-08-23 21:35] douglaslMS commented on #13726
@Anmolgan81 Are you referring to the Data Management Gateway which is now called the Self-hosted Integration Runtime? And, are you using Azure Data Factory v1 or v2?

[2018-08-23 21:37] Mike-Ubezzi-MSFT commented on #13646
@AndyLiTaiwan Please take a look at the [Azure IoT Service SDKs](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-sdks#azure-iot-service-sdks). There you will find a few technology stacks supported by the SDK.

For example, the [Azure IoT Hub service SDK for .NET](https://github.com/Azure/azure-iot-sdk-csharp) contains examples for the following:

- Microsoft Azure IoT Hub device SD

[2018-08-23 21:41] faceoffers28 opened #13898 "How do you add Tags to a previous Template registration?"
Is there a method for this or do I have to build a Web API to first Register the Device and then Update the Tags as shown here. https://docs.microsoft.com/en-us/azure/notification-hubs/notification-hubs-aspnet-backend-gcm-android-push-to-user-google-notification Please advise as to what is the best practice. My Android app is Xamarin.Forms. The Tags I'm tying to update are based on information gat

[2018-08-23 21:45] Karishma-Tiwari-MSFT commented on #13892
@MirzaSikander Thanks for bringing this to our attention. [Using the Custom Script Extension with Azure Automation] is supported as per this ols article.(https://azure.microsoft.com/en-us/blog/azure-automation-run-tasks-on-azure-virtual-machines-without-opening-ports/)
I have assigned the issue to the content author to evaluate and update the document for the scenarios you shared.

[2018-08-23 21:45] robertdsmithii opened #13899 "-TimeGrain Metric"
The TimeGrain Statistic is broken up into 4 settings: average, minimum, maximum, and sum. What do each of these settings mean?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a883d4f-426d-a3e1-7c90-d6657a569c42
* Version Independent ID: 5c595228-369b-458b-1e09-34c5bcf1b8a4
* Content: [Tutorial - Autoscale a scale set w

[2018-08-23 21:46] kgremban commented on #5878
@andrepodnozov I think the issue of edgeHub not being reported as running in VS Code has been resolved. At least, I'm getting all greens in my deployments recently. Could you try again and close this issue if it's resolved?

[2018-08-23 21:47] MikeChristensen commented on #13830
In that case, I'm completely lost as to why it didn't work for me before..  I didn't try with any Linux images, but not sure if that would make a difference..  In any case, I'm unblocked for now..

[2018-08-23 21:48] Adam-Smith-MSFT commented on #13696
Extension name is VMSnapshot , you can find more info here: https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/vmsnapshot-windows

[2018-08-23 21:51] vasivara-MSFT commented on #13879
@cconrado even though the query includes a wide range of time ranges the query explorer has a filter where it is defaulted to 24 hours. So when you refresh it resets to that filter, you have to reset the filter to extend your query result. If that does not answer your question, please let us know your question by pasting screenshots so that it is more clear.

[2018-08-23 21:51] YutongTie-MSFT commented on #13792
@antondelsink Sorry, I can not reproduce your issue, it works fine with me, can you please provide more details?

@noellelacharite The link of the ' Detect and frame faces in an image on Windows.' has a 404 error. Can you please check it and update the document? Thanks.

[2018-08-23 21:54] YutongTie-MSFT commented on #13864
@CodingBlueberry Sorry for the inconveniences and thanks for sharing the solution. I will forward this issue to product team. Thanks again.

@Tre4Bax Does changing browser work for you?

[2018-08-23 21:55] kobulloc-MSFT commented on #13883
@freedumb Thank you for the feedback.  We'll look through the documentation and get back to you soon.