[2021-07-17 07:15] SatishBoddu-MSFT commented on #78496
Hello @hyoshioka0128
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-17 07:18] ErikMogensen commented on #77082
Good to know.

I wonder why some services require the certificate to have an exportable key and if that can be changed. I assume they are using the [Get-certificate REST operation](https://docs.microsoft.com/en-us/rest/api/keyvault/get-certificate/get-certificate) and I don't see

[2021-07-17 10:01] VictorSago opened #78497 "No obvious way to upgrade"
[Enter feedback here]
There is no upgrade option, and there is no banner on which to click to upgrade from the Free to Pay-as-You-Go subscription.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d3e2b8c0-6652-53b8-ff40-37473c359b7e
* Version Independent ID: 5be7927d-cf08-7438-ecfd-554a6928d122
* Content: [Upgrade your A

[2021-07-17 13:34] 3c71 commented on #35934
I tried a year ago and got OP error (Unable to connect). Still getting the same issue today, even though I verified the domain with Azure Active Directory!?

Sent an email to suggested support email in hope to resolve this.

[2021-07-17 15:50] carlosporter commented on #78491
Hello Satish,
Please refer to the issue linked on the description.
Also, please follow these steps to reproduce the issue>
1. Create a virtual machine without a public IP address
2. Setup the az ssh extension on a virtual machine on the same private network.
3. Use "az ssh vm" entering the resource group and name of the virtual machine.\
Regards,

[2021-07-17 16:02] AshokPeddakotla-MSFT commented on #78497
@VictorSago Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-17 18:15] shashishailaj commented on #73433
@DeiverK This Has been fixed in the documentation . We will close this issue now.

[2021-07-17 18:15] #73433 closed

[2021-07-17 18:17] DEberhardt opened #78499 "SKUs not present - Found SkuPartNumbers on Tenants that are not listed on this page - missing?"
Hello,

following my query scripts, I have also one that aggregates all Licenses within a Tenant and matches that data up with what is published on this page. Queries from multiple Tenants has unearthed the following List of SKUs (75):

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c245452-161d-89a1-c026-99a07

[2021-07-17 19:37] shashishailaj commented on #73431
We tested this and found that this only happens if you are using lower case letters for your domain name. The section Join VM to managed domain mentions this "Specify your own managed domain name in ALL UPPERCASE:" for _realm discovery_ .  And the section on kinit also requires you to provide the domain suffix within the username in ALL UPPERCASE . The second step as well in the [Join a VM to the

[2021-07-17 19:37] #73431 closed

[2021-07-17 19:49] shashishailaj commented on #77843
@BryRamCam This is being updated internally and the document will be updated in the next 2 weeks. We are working on a new collection that will be version 2 and this version should be live over the next week or 2. In the meantime, you can fork this collection and use the postman provided converters by default in order to conver the v1 -> v2 . so that you can unblock yourself. Alternatively you can

[2021-07-17 19:49] #77843 closed

[2021-07-17 19:52] shashishailaj commented on #78103
This has been fixed.

[2021-07-17 19:52] #78103 closed

[2021-07-17 21:57] GuyPaddock opened #78500 "Document "language.*" Metadata Keys"
Several samples in the CIAM Journey sample pack and the custom policy starter pack make use of undocumented item "language" keys.

For example:
[code]

It looks like any localized text string supported/referenced by a `TechnicalProfile` can be overridden in a `language.*` item.

It may be my oversight but I didn't see these keys documented anywhere, neither in the top-level technical profile docum

[2021-07-17 23:08] carlosporter commented on #78491
-> Here is a list of the servers on my test environment

``
    Name             ResourceGroup    PowerState      PrivateIps    PublicIps        Location
    ---------------  ---------------  --------------  ------------  ---------------  -----------
    vm2850gesmd3245  WEEK28RG2453     VM running      10.204.0.4    191.237.205.72   brazilsouth
    vm2851canmd1081  WEEK28RG2453     VM running

[2021-07-18 00:24] ggailey777 commented on #78494
Have you tried other `func azure functionapp` commands, such as `func azure functionapp list-functions fappname`?

[2021-07-18 02:30] SatishBoddu-MSFT commented on #78499
@DEberhardt
I have assigned the issue to the content author for further review.

[2021-07-18 02:32] SatishBoddu-MSFT commented on #78500
@GuyPaddock
I have assigned the issue to the content author for further review.

[2021-07-18 03:43] binoyjt opened #78501 "The instructions on this page do not match what we see in the portal."
The screenshots shown in this page is not accurate. The Azure Portal has no setting called "geo-replication" that is visible in the Azure Portal.

![image](https://user-images.githubusercontent.com/40192393/126054950-aa18cc34-1de5-409e-920e-a6aecc2c7dc4.png)

Can someone please update this page with the steps that needs to be performed if we need to set up replication and do a failover?

This arti

[2021-07-18 05:50] ChaitanyaNaykodi-MSFT commented on #78279
Hello @RandyRobb
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-07-18 06:46] Vipin-Sharma commented on #78494
@ggailey777 tried this

[code]

fappname was real function app name in my command.

[2021-07-18 06:59] AshokPeddakotla-MSFT commented on #78501
@binoyjt Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-07-18 10:35] erni19 opened #78502 "No 'Delete Directory' only 'Manage Tenants'"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea77d5a9-6619-0f31-9567-6085b7a4b5a2
* Version Independent ID: f4cf720d-60dd-f086-3ace-1ff17e427757
* Content: [Delete an Azure AD organization (tenant) - Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/enterprise-users

[2021-07-18 10:38] erni19 commented on #78502
The actual Azure Active Directory portal is not the same as what the documentation discusses. Please check. There is no way we can delete the organization!

[2021-07-18 10:54] wwwbranimir opened #78503 "Ommited single quotas in command"
az network dns record-set ns show --resource-group MyResourceGroup --zone-name contoso.xyz --name @ should be
az network dns record-set ns show --resource-group MyResourceGroup --zone-name contoso.xyz --name '@'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 68a36c13-983c-fce8-0e56-9d94c2d6d912
* Version Independent ID

[2021-07-18 11:40] noam1023 opened #78504 "instruction are wrong"
in the portal, choosing "overview" does not show anything related to web

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: badc419b-60d5-ba2c-0830-8d573db10dbe
* Version Independent ID: efad89d0-d0da-895f-984d-046d67797ab4
* Content: [Tutorial: Host a static website on Blob storage - Azure Storage](https://docs.microsoft.

[2021-07-18 13:38] AshokPeddakotla-MSFT commented on #78502
@erni19 Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-18 13:50] ripenedcat opened #78505 "CLI for "az connectedmachine machine-extension create" no longer exists"
[Enter feedback here]
For Arc enabled server, the CLI is no longer work, as "az connectedmachine machine-extension create" no longer exists.
Current one is "az connectedmachine extension create".

Just Test and , for your reference, the CLI command is like in this way:
az connectedmachine extension create --machine-name "ubuntu1804srv" --name "AzureMonitorLinuxAgent" --location "eastus" --type "Az

[2021-07-18 13:50] AshokPeddakotla-MSFT commented on #78503
@wwwbranimir Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-07-18 14:19] AshokPeddakotla-MSFT commented on #78504
@noam1023 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-07-18 16:44] gcontrer87 commented on #59108
I agree with all of the comments above. The documentation is rather disappointing and doesn't explain how to setup permissions, either using vault policy or RBAC for the managed identity. Even after giving owner permissions to the identity, it still fails with the error "The key vault doesn't allow access to the managed identity"

[2021-07-18 17:09] shashishailaj commented on #78502
@erni19 Thank you for pointing that out . I agree , the article screenshots must be updated on this one and some part of the content changes as well . In case you are looking for the options to delete any directory , you can go to the **Azure Portal > azure Active Directory Blade. > Manage Tenants** just like in the below screenshot.

![image](https://user-images.githubusercontent.com/532022/12607

[2021-07-18 17:17] zacabrer opened #78506 "Global Vnet Peering comparison"
Another important point of comparison is the difference between SKUs regarding behavior with Global Vnet Peering.
I recommend adding an entry to the documentation SKU comparison table like below:

Access Internal Load Balancer over Global VNet Peering
Standard - Supported
Basic - Not Supported

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2021-07-18 17:37] SatishBoddu-MSFT commented on #78505
@ripenedcat
I have assigned the issue to the content author for further review.

[2021-07-18 18:38] shashishailaj commented on #63204
Apologies for the long delay in getting this worked internally. The DNS names of the domain controllers in the managed AAD DS system are very randomized. You can find the names from azure portal. You can find the same by checking the two "Network Interface" type objects within the resource group where all your AAD domain services resources are present in the azure portal . The Network interfaces r

[2021-07-18 18:38] #63204 closed

[2021-07-18 18:39] matuhinal commented on #78418
Да, проблема с добавлением порядка "оплаты по мере использования" Кто сможет управлять?

[2021-07-18 18:44] matuhinal commented on #78418
Good day!
Yes .i have problems
Lyudmila
________________________________
От: Bill Anderson ***@***.***>
Отправлено: 16 июля 2021 г. 2:45
Кому: MicrosoftDocs/azure-docs ***@***.***>
Копия: Matuhinal ***@***.***>; Mention ***@***.***>
Тема: Re: [MicrosoftDocs/azure-docs] connect (#78418)

@matuhinal<https://github.com/matuhinal> Hi there. Do you have an issue with the article at https://docs.microso

[2021-07-18 19:19] batamig commented on #78248
Thanks @oshezaf ! Making this change right now, so I'm closing this issue. Be in touch if you have any further questions.
#please-close

[2021-07-18 19:19] #78248 closed

[2021-07-18 19:27] batamig commented on #75957
Hi @DeanGross,
We're working through our backlog of GitHub issues to identify items that still need action. As @yelevin replied above to clarify, I'm going to close this issue for now, but feel free to comment further as needed.
Thanks for your contributions to docs!
#please-close

[2021-07-18 19:27] #75957 closed

[2021-07-18 19:31] batamig commented on #74321
Thanks @DeanGross! This sounds like a terrific idea, and I've added it to our backlog to inquire about with our PM teams.
I'm closing this issue for now, but feel free to continue commenting as needed.
We appreciate your contribution to Azure Sentinel docs!
#please-close

[2021-07-18 19:31] #74321 closed

[2021-07-18 19:34] batamig commented on #73943
Thanks @DeanGross! We do have backlog items to enhance our docs with details about using the resources in the Azure Sentinel GitHub repo.
I've added this specific note to those backlog items, and we'll address it in a coming update.
I'm going to close this in the meantime, but feel free to continue commenting as needed.
Thank you again for your contribution to Azure Sentinel docs.
#please-close

[2021-07-18 19:34] #73943 closed

[2021-07-18 19:40] batamig commented on #71233
hi @ran-ten21, thanks for your comment on Microsoft docs!
We do have plans to enhance our documentation with details about how to add resources from GitHub, and we'll add this detail to this list.
I'm going to close this issue for now, but feel free to continue commenting as needed.
We appreciate your contribution!
#please-close

[2021-07-18 19:40] #71233 closed

[2021-07-18 23:33] v-hakob commented on #78378
Sorry @ThomasWeiss, the cx asked if it uses the COSMOS DB free tier which is allowed one account per subscription.
You said it does not impact costs but I don't think you said it uses the free tier. Could you kindly clarify this? Thank you.

[2021-07-18 23:33] joshkyh opened #78509 "Minor import typo"
Minor import typo:
In the section
Deploy as a local web service by using Docker

from azure.core.model import InferenceConfig
should be
from azureml.core.model import InferenceConfig

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2685063f-d8e4-c512-a800-5165faeb8a9c
* Version Independent ID: 16a23a7a-8751-4c4b-a233-fa3

[2021-07-19 00:08] YutongTie-MSFT commented on #78359
@babakbiglari-py Hello, according to your question: To prevent unnecessary files from being included in the snapshot, make an ignore file (.gitignore or .amlignore) in the directory. Add the files and directories to exclude to this file. For more information on the syntax to use inside this file, see [syntax and patterns for .gitignore.](https://git-scm.com/docs/gitignore) The .amlignore file uses

[2021-07-19 00:15] YutongTie-MSFT commented on #78509
@joshkyh Thanks for pointing out this. I have created a PR for fixing this issue and you should see the change soon.

[2021-07-19 00:19] benoithamet opened #78510 "Incorrect steps for Meraki role configuration"
In step "Create Meraki Dashboard test user" you say to create the Meraki admin roles using the exact values - meraki_full_admin and meraki_readonly_admin - but these values does not exist.
In fact the values you have to use here are the ones you configure on the **registered** application (not the enterprise one) in AAD using the **App roles** blade

---
#### Document Details

⚠ *Do not edit this

[2021-07-19 00:37] thecherrytree opened #78511 "Azure Storage Blob Service Properties excludes properties for static sites"
The documentation on `Microsoft.Storage storageAccounts/blobServices 2019-06-01` excludes information for updating static site properties such as the `ErrorDocument404Path` : https://docs.microsoft.com/en-us/azure/templates/microsoft.storage/2019-06-01/storageaccounts/blobservices?tabs=json#BlobServicePropertiesProperties

These properties are, however, documented here for cURL: https://docs.micro

[2021-07-19 00:46] pnarsi commented on #78114
@jaydeepn - that particular part around the App Service Access Restrictions via Service Tags looks much better now.

In terms of additional feedback on the page, I know this is supposed to be an "How to" page that focuses on how to do the configuration of the various components but I think it would have been useful to have an overview diagram with an overview of the various network isolation capab

[2021-07-19 01:45] Herman5006 commented on #78391
![image](https://user-images.githubusercontent.com/58066459/126091113-5a01086e-303a-4f55-ae6c-ac4d6ae61428.png)

unsupported scenario in public docs:
Not supported:

CDN
Azure Front Door
Windows Virtual Desktop
Multi-factor Authentication Server (legacy)
**Traffic Manager**
Logic Apps

Does this mean Azure portal is not supported by Microsoft Peering? Thanks.

[2021-07-19 02:00] Yukins123 opened #78512 "Storage IO utilization metrics"
[Enter feedback here]
Hello team,

Is that possible to modify/delete the below sentence since it looks a bit confusing.

These metrics are only available when using premium enabled VM.
These metrics are available for all disk types except for Ultra.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b95355f8-79de-38fd-a0c3

[2021-07-19 02:03] tullydwyer commented on #78380
Hi @GitaraniSharma-MSFT, I'm not comfortable posting that number in a public GitHub issue (company tenant).

If there is any private way I can send it I will

[2021-07-19 02:46] AshokPeddakotla-MSFT commented on #78506
@zacabrer Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-19 02:55] TianyiLu opened #78513 "Need to update this document that support .NET SDK v3"
Since SDK of cosmos db has been updated to v3 that using CosmosClient, this document seems out of date with v2 DocumentClient. So will you update this document as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 498a360c-9ba7-a124-5fb5-7f4c85c54041
* Version Independent ID: 459bc7a4-f3a9-4786-a272-b8d5bb0d73f3
* Co

[2021-07-19 03:06] #78509 closed

[2021-07-19 04:29] VikasPullagura-MSFT commented on #78512
@Yukins123
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-07-19 04:29] KalyanChanumolu-MSFT commented on #78513
@ginamr Thank you for the feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2021-07-19 04:29] VikasPullagura-MSFT commented on #78512
@roygara
Can you please check and add your comments on this doc update request as applicable.

[2021-07-19 04:32] shashishailaj commented on #78510
@benoithamet Thank you for your feedback . We will have this reviewed and update the thread.

[2021-07-19 04:36] HeidiSteen commented on #78223
@joeljanke I passed your message along to the engineers, but how are you able to create a custom role that clones Reader with the Microsoft.Search/searchServices/listAdminKeys/action permission???  I was told that custom roles aren't supported, and indeed I don't see a way to create one in the portal.  Are you using PowerShell?

[2021-07-19 04:38] ShaikMaheer-MSFT commented on #78195
@mirsky72 Thanks for the question. Github forum is dedicated for docs related issues. For any technical queries or clarifications, we encourage to utilise Microsoft Q & A platform. Kindly raise your query on [Microsoft Q&A Platform](https://docs.microsoft.com/en-us/answers/index.html)

[2021-07-19 04:38] #78195 closed

[2021-07-19 04:45] #78387 closed

[2021-07-19 04:45] batamig commented on #58882
Hi @ThijsLecomte , thank you for your contribution to docs! This is an old issue and our doc page has now been updated.
I'm closing this issue for now, but feel free to continue commenting as needed.
#please-close

[2021-07-19 04:45] #58882 closed

[2021-07-19 04:55] AnuragSharma-MSFT commented on #78398
@savjani Thanks for providing the details.
@wladinho31 Thanks for your valuable feedback which will be included in the documentation. We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-07-19 04:55] batamig commented on #76087
Hi @Torxsmind - thank you for your question on docs! I can't confirm anything for you yet as we're still looking into this with the team. Once we get full confirmation, we'll update the docs as needed in a coming fix.
I'm closing this issue in the meantime as we've moved it into our main backlog. Please feel free to continue commenting if you have more input.
We appreciate your contribution to doc

[2021-07-19 04:55] #76087 closed

[2021-07-19 04:55] #78398 closed

[2021-07-19 05:00] batamig commented on #73320
Hi @dreeves14, thanks for sending your feedback to Microsoft docs. We're planning to take a fresh look at our data connector documentation and will consider your comments when updating or enhancing this content.

In addition to a support ticket, I can also recommend that you search or post on our discussion resources listed at [Comment on our blogs and forums](https://docs.microsoft.com/en-us/azur

[2021-07-19 05:00] #73320 closed

[2021-07-19 05:08] batamig commented on #73553
Hi @guarismo, thank you for your comment on Microsoft docs! We'll have to check this with the team before updating, but once we've validated your comment, we'll get the page updated as needed.

I'm going to close this issue for now, but feel free to continue commenting here if you have anything to add. We value your contribution to docs!
#please-close

[2021-07-19 05:08] #73553 closed

[2021-07-19 05:12] batamig commented on #48965
Hi @theheatDK, thank you for sending your question to Microsoft docs.

Unfortunately, I can't answer directly without checking with the team. I'm going to verify these details with them and then update the docs as needed in a coming fix.

This issue is over a year old, so I'm going to close it for now - feel free to continue commenting if you have additional feedback.
In general, I can also recomm

[2021-07-19 05:12] #48965 closed

[2021-07-19 05:19] batamig commented on #58306
Hi @dreeves14, we're working through our older github issues, and I see that this one is about a year old.

We're also in the process of a fresh look at our connector documentation. We'll certainly consider this feedback when addressing this article, and plan to make updates as needed in a coming release.

I'm closing this issue for now, but feel free to add more comments if you have additional fe

[2021-07-19 05:19] #58306 closed

[2021-07-19 05:21] batamig commented on #72472
Hi @tech1982 thanks for your feedback on Microsoft docs!

We're in the process of taking a fresh look at our connector articles and will make sure to validate these steps again when addressing this article.

I'm going to close this issue for now, but feel free to continue commenting here if you have more feedback.
We value your contributions to docs!

#please-close

[2021-07-19 05:21] #72472 closed

[2021-07-19 05:37] YutongTie-MSFT commented on #47926
@camaosos Hello, this thread is pretty old. I will recommend you to create a new one for investigation.

[2021-07-19 05:41] batamig commented on #49792
Hi - @mbell85, thank you for addressing your original question to Microsoft docs! This has turned out to be a valuable thread.

We're taking all this feedback back to the team to validate before we update the docs as needed in a coming release.
I'm going to close this issue for now, but feel free to continue commenting here as needed if anyone has more input.

Thank you all for your contributions

[2021-07-19 05:41] #49792 closed

[2021-07-19 05:44] AnuragSharma-MSFT commented on #78321
@poonkodi123 Thanks for your patience. Could you please check below link and let us know if that helped?

https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-nodejs-application

[2021-07-19 05:49] AnuragSharma-MSFT commented on #78396
@pitawatn This is being assigned to the content author to evaluate and update as appropriate.

[2021-07-19 05:51] SwathiDhanwada-MSFT commented on #78275
Assigning to content author @myahl-uncomn for review.

[2021-07-19 05:54] AnuragSharma-MSFT commented on #78406
@fredobas Point 4 talks about enabling the azure services to access the Azure SQL Server, thats why it is mentioned to set it to ON (YES). No means we would like to disable it.

[2021-07-19 06:09] batamig commented on #73186
Hi @morkisz, thanks for sending your comment in to Microsoft docs.
We're currently taking a fresh look at our connector articles and have listed this as an issue to check for when addressing this article.
I'm going to close this issue for now as we have it registered, but feel free to continue commenting as needed.
We value your contribution to docs!
#please-close

[2021-07-19 06:09] #73186 closed

[2021-07-19 06:11] batamig commented on #72804
Hi @rofisher, thanks for sending your comments in to Microsoft docs!

I can't confirm this for you yet as we're still checking with the team, but will update or clarify the docs as needed in a coming release.
I'm going to close this issue for now as we have it registered, but feel free to continue commenting as needed.

We value your contribution to docs!
#please-close

[2021-07-19 06:11] #72804 closed

[2021-07-19 06:14] batamig commented on #64909
Hi all - thank you for sending your feedback on this article!

We're currently taking a fresh look at our connector docs, and we're going to check back with the team about all your comments. We'll update or clarify the docs as needed in a coming release.

I'm going to close this issue for now, but feel free to add more comments if you have additional input.
We value your contributions to Microsoft

[2021-07-19 06:14] #64909 closed

[2021-07-19 06:20] batamig commented on #44195
Hi @mariuszo-at-microsoft-com - thanks for having sent this comment in to Microsoft docs!

It looks like our article may have been updated in the meantime. In any case, we're taking a fresh look at our connector docs, and will make sure to check this item specifically, and update or clarify as needed in a coming release.

I'm going to close this issue for now, but feel free to continue adding more

[2021-07-19 06:20] #44195 closed

[2021-07-19 06:24] batamig commented on #55165
Hi @FrankMcGovern - thanks for your feedback on Microsoft docs. We're currently taking a fresh look at our connector docs and will keep your feedback in mind when making our updates.
I'm working through our GitHub issues and am going to close this item for now. Please feel free to continue commenting here if you have more to add.

We appreciate your contributions to docs!
#please-close

[2021-07-19 06:24] #55165 closed

[2021-07-19 06:27] batamig commented on #54125
Hi @dreeves14, thanks for having sent your question in to Microsoft docs!
We're still checking this with our team and will update as needed in a coming docs release.

I'm going to close this in the meantime, but feel free to continue commenting here as needed.
I can also recommend the community resources linked from [Comment on our blogs and forums](https://docs.microsoft.com/en-us/azure/sentinel/

[2021-07-19 06:27] #54125 closed

[2021-07-19 06:33] batamig commented on #44120
Hi @mariuszo-at-microsoft-com - thanks for having sent this feedback!

We're going to check in on this issue with the team and then update or clarify the docs as needed in a coming release.
I'm closing this issue in the meantime, but feel free to add more comments if you have more input.

We value your contributions to Microsoft docs!
#please-close

[2021-07-19 06:33] #44120 closed

[2021-07-19 06:35] batamig commented on #44121
Hi @mariuszo-at-microsoft-com - thanks again for your feedback on docs!
As with the other issues, you'd opened, we're going to check in with the updated docs and the team to verify and validate the steps listed, and will fix as needed in a coming docs release.

I'm closing this for now, but feel free to continue commenting if you have more feedback.
Thanks for your contributions!
#please-close

[2021-07-19 06:35] #44121 closed

[2021-07-19 06:38] batamig commented on #39400
Hi @TravisEz13 - thanks for having opened this issue on docs!

I'm going through our old issues as we take a fresh look at our connector docs and will make sure to look at this one carefully with the team. We'll make any updates as needed to clarify in a coming release.

I'm going to close this issue for now, but please feel free to add more comments if you have additional input.
We appreciate you

[2021-07-19 06:38] #39400 closed

[2021-07-19 06:43] batamig commented on #67605
Hi @haiderim - thanks for having shared your input with Microsoft docs!

We're currently taking a fresh look at our connector articles and will especially consider your suggestion when working on the CEF articles.
I'm going to close this issue in the meantime as we've added it into our backlog. Feel free to continue commenting if you have more feedback.

We appreciate your contribution to docs!
#p

[2021-07-19 06:43] #67605 closed

[2021-07-19 06:50] batamig commented on #39939
Hi @sofianemad, thanks for having sent your question and feedback into Microsoft docs!

Our article may have gotten updated in the meantime. In case it hasn't, we're currently taking a fresh look at our connector docs and will make a special point to address this item as needed.

I'm closing this issue for now as we've added it to our backlog, but feel free to add more comments as if you have addi

[2021-07-19 06:50] #39939 closed

[2021-07-19 06:51] psmanhas commented on #78456
@ibalasenthil Can you please provide more details over your ask so I can help you out better. Looking forward to your response.

Thanks

[2021-07-19 06:52] SnehaAgrawal-MSFT commented on #78318
@hammadrauf Could you please send an email to AzCommunity[at]Microsoft[dot]com referencing this thread, with your Azure subscription ID and WebApp name details, we would like to work closer with you on this matter.

Since we will work internally will close this issue here.

[2021-07-19 06:52] #78318 closed

[2021-07-19 06:53] SadiqhAhmed-MSFT commented on #78497
@VictorSago Are you referring to a specific section of the document or there is no upgrade option in the portal?

Appreciate if you could share a screenshot of the UI.

[2021-07-19 07:09] slavizh opened #78515 "Is there function addDays()?"
Judging by this policy:
https://www.azadvertizer.net/azpolicyadvertizer/044985bb-afe1-42cd-8a36-9d5d42424537.html?desc=compareJson&left=https%3A%2F%2Fwww.azadvertizer.net%2Fazpolicyadvertizerjson%2F044985bb-afe1-42cd-8a36-9d5d42424537_1.0.0.json&right=https%3A%2F%2Fwww.azadvertizer.net%2Fazpolicyadvertizerjson%2F044985bb-afe1-42cd-8a36-9d5d42424537_2.0.0.json
There is addDays() function. Are there

[2021-07-19 07:22] SwathiDhanwada-MSFT commented on #78515
@slavizh  addDays() function is only available for policy rules which is why it isn't documented in ARM template functions. For more information about this function, kindly check [this document](https://docs.microsoft.com/en-us/azure/governance/policy/concepts/definition-structure#policy-functions).

[2021-07-19 07:25] AshokPeddakotla-MSFT commented on #78211
@wangmiaowei A depth map is a set of Z-coordinate values for every pixel of the image, measured in units of millimeters.
Please have a look at this [Azure Kinect DK hardware specifications](https://docs.microsoft.com/en-us/azure/Kinect-dk/hardware-specification#depth-camera-supported-operating-modes) for more details. Also, adding author @martinekuan for further assistance and updating the doc wit

[2021-07-19 07:26] batamig commented on #40133
Hi @garybushey thanks for having sent your feedback in to Microsoft docs.

We may have updated our article in the meantime, but just in case, I've added it to our backlog to verify and update as needed.
I'm going to close this issue for now, but you can continue to add more comments if you have more additional feedback.

Thanks for your contribution to docs!
#please-close

[2021-07-19 07:26] #40133 closed

[2021-07-19 07:26] SwathiDhanwada-MSFT commented on #78301
@trkeya @BrianLevenson Can you please share new link if this link has been changed ?

[2021-07-19 07:28] batamig commented on #43577
Hi @Molx32, thanks for having sent your comment in to Microsoft docs!
Our article may have been updated in the meantime. In case it hasn't been, I'm adding this to our backlog to verify and update as needed in a coming release.
I'm going to close this issue in the meantime, but feel free to continue commenting if you have more feedback.

We appreciate your contributions to docs!
#please-close

[2021-07-19 07:28] #43577 closed

[2021-07-19 07:35] batamig commented on #44113
Hi @Saggiehaim  and @chris4jahn, thanks for sending your comments in on Microsoft docs!

Please see the following doc and let us know if it helps to answer your questions: [Protecting MSSP intellectual property in Azure Sentinel](https://docs.microsoft.com/en-us/azure/sentinel/mssp-protect-intellectual-property)
I can also recommend the community resources linked here for more information and supp

[2021-07-19 07:35] #44113 closed

[2021-07-19 07:46] pnl0ep7f commented on #78325
Hi Harshita,
Any update from your side?

[2021-07-19 08:05] poonkodi123 commented on #78321
@AnuragSharma-MSFT Thanks for information.
I tired the above url(https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-nodejs-application), Still i'm not able to  connect and get data from Cosmos DB by using React js application.

[2021-07-19 08:14] batamig commented on #44122
Hi @mariuszo-at-microsoft-com - thanks for your extensive comments on docs.
I'm adding this into our backlog to verify afresh as this issue is over a year old.
I'm going to close it in the meantime, but feel free to add more comments if you have any additional feedback.

Thanks again for your contributions to Microsoft docs!
#please-close

[2021-07-19 08:14] AnuragSharma-MSFT commented on #78321
@poonkodi123 Thanks for responding back. I hope you are using the correct URI and master key. Also are you using any custom code or using the article code step by step? If you are getting any error, please mention that as well.

[2021-07-19 08:14] #44122 closed

[2021-07-19 08:22] takuyateraoka opened #78516 "Do we need to make sure that the Technical Profile for Remediation is always called after the Technical Profile for Evaluation has been execute?"
[Enter feedback here]
[code]

Do we need to make sure that the Technical Profile for Remediation is always called after the Technical Profile for Evaluation has been execute?
Or should I call the Remediation Technical Profile only when Challenges are returned?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c73cf1e-1f1

[2021-07-19 08:29] batamig commented on #54536
Hi @jdelforno - thanks for your suggestion! We always appreciate customer feedback on docs.

@yelevin, I've added this into our backlog to take a better look to see how we can clarify.
I'm going to close this issue in the meantime, but feel free to continue commenting if you have additional input.

#please-close

[2021-07-19 08:29] #54536 closed

[2021-07-19 08:44] batamig commented on #62957
Hi @mikeelliottuk thanks for having submitted this issue! We're looking into this with the team to see if we still need updates on this page for any new Ubuntu versions.

Since this is an old issue and I've added the item into our backlog, I'm going to close this issue for now. We'll update the docs as needed in a coming fix.

Please feel free to add more comments if you have additional feedback a

[2021-07-19 08:44] #62957 closed

[2021-07-19 08:48] batamig commented on #44397
Hi @mariuszo-at-microsoft-com thanks again for your continued feedback on docs!

I'm adding this into our backlog to check into and validate with the updated UI.
In the meantime, I'm going to close this issue, but feel free to continue commenting if you have more input.

We value your contributions on Microsoft docs!
#please-close

[2021-07-19 08:48] #44397 closed

[2021-07-19 08:56] batamig commented on #47017
Hi @byohei125, thanks for having submitted this issue on docs! We're going to take this back to the team and verify exactly how the Azure Sentinel docs should be updated.

I'm going to close this issue in the meantime, but feel free to continue commenting if you have additional feedback.
We appreciate your contributions to Microsoft docs!

#please-close

[2021-07-19 08:56] #47017 closed

[2021-07-19 08:57] vinishgeorge opened #78517 "Not able to submit the vCpu quota increase request"
Hi team,
i am not able to submit the vCpu quota increase request . When i do it gives me an error saying :

![image](https://user-images.githubusercontent.com/20094721/126132836-b75b6d59-8e02-4f4d-bd25-3655779c0bf7.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 941b0a34-c223-297c-4560-43c0c7dc5bcf
* Version Indepe

[2021-07-19 09:00] batamig commented on #75736
Hi @ThijsLecomte thanks for having opened this issue on docs!
As @yelevin notes, we're currently investigating this issue with the team, and we'll update the docs as needed in a coming fix.

In the meantime, I'm going to close this issue, but feel free to continue commenting here if you have additional input.
We appreciate your contributions to Microsoft docs!

#please-close

[2021-07-19 09:00] #75736 closed

[2021-07-19 09:12] ssivas commented on #78510
Thanks for bringing this to our notice, below are detailed information however I will double check this with our product team:

As far as I know. Yes, you need to create these roles from Meraki Dashboard as well from **app roles blade** with following name  `meraki_full_admin` and `meraki_readonly_admin` . Here are detailed guidance on [How to: Add app roles to your application and receive them in

[2021-07-19 09:13] LockTar commented on #78069
@JamesTran-MSFT any update on this? We are now 7 days further since my last comment and the data is still there. So I guess my workaround would work...

[2021-07-19 09:14] ssivas commented on #78510
@jeevansd , any thoughts. Thanks.

[2021-07-19 09:32] SwathiDhanwada-MSFT commented on #78295
@david-tap  We recommend engaging our technical support team to investigate further. Please file a support case using [these steps](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). If you do not have a support plan, send mail to AzCommunity@microsoft.com, include your subscription ID and a link to this GitHub thread (for context).

As there a

[2021-07-19 09:32] #78295 closed

[2021-07-19 09:47] v-hagamp commented on #76666
#please-close

[2021-07-19 09:47] #76666 closed

[2021-07-19 09:48] v-hagamp commented on #68068
#please-close

[2021-07-19 09:48] #68068 closed

[2021-07-19 09:48] v-hagamp commented on #75124
#please-close

[2021-07-19 09:48] #75124 closed

[2021-07-19 09:49] slavizh commented on #78515
@SwathiDhanwada-MSFT ok. thanks.

[2021-07-19 09:49] #78515 closed

[2021-07-19 09:51] v-hagamp commented on #76744
#please-close

[2021-07-19 09:51] #76744 closed

[2021-07-19 09:52] VictorSago commented on #78497
@SadiqhAhmed-MSFT I was talking about the Azure portal -- there was no upgrade option and no banner. Nothing I did would give me this option, whether I would go to the Subscriptions blade or the Cost Management + Billing -- no upgrade options anywhere. The only way I was able to upgrade from the Free Trial to Pay-as-You-Go was through the email I received when my Free Trial was about to expire. Bu

[2021-07-19 09:58] chi3f100 commented on #76744
Hi everyone - thanks for your efforts.  I can see that the page has been updated to include information regarding authentication policies.  It'd be great if the documentation had a line that states that admins can test the SAML configuration by only enabling enforced SSO for a subset of users first on a separate authentication policy, and then enabling the policy for all users if there are no issu

[2021-07-19 10:01] danfaulkner81 opened #78518 "Incorrect Link"
Morning,

The 'Restrict Azure CDN content by country / region' link at the bottom of this page doesn't work on this page.
It's currently linking to: https://docs.microsoft.com/en-us/azure/cdn/cdn-restrict-access-by-country which takes you to an error 404 page.

I think the correct link is: https://docs.microsoft.com/en-us/azure/cdn/cdn-restrict-access-by-country-region

---
#### Document Details

[2021-07-19 10:12] psmanhas commented on #78517
@vinishgeorge Thank you for your query!!! Can you please confirm if your Subscription is part of CSP (Microsoft partners in the Cloud Solution Provider program) or any other Subscription?

Thanks

[2021-07-19 10:12] absognety commented on #55904
@ronyv you need to point the Authority to different tenant/subscription then Allowed Object IDs will get enabled automatically, otherwise use Access Control (IAM) to assign appropriate role assignments to users or service principals.

[2021-07-19 10:15] GitaraniSharma-MSFT commented on #78518
@danfaulkner81 , thank you for your feedback. We have assigned this to the content owner/author for correction.

@asudbring , could you please update the link for 'Restrict Azure CDN content by country / region' at the bottom of this article in Recommended Content section to "https://docs.microsoft.com/en-us/azure/cdn/cdn-restrict-access-by-country-region":

![image](https://user-images.githubuser

[2021-07-19 10:18] GitaraniSharma-MSFT commented on #78380
@tullydwyer , please send an email to azcommunity@microsoft.com referencing this Github issue and the support request number. Mention "ATTN gishar" in the subject field.

[2021-07-19 10:27] sharmaarnav commented on #43240
What was the fix for this? Looks like I have same error now.

[2021-07-19 11:07] sharmaarnav opened #78519 "Azure AAD Domain Service - ARM Failure"
ARM Template : version 2021-03-01 of the Microsoft.AAD/domainServices

Location : AU South East
Please list deployment operations for details. Please see https://aka.ms/DeployOperations for usage details." Details=[{"code":"Conflict","message":"{\r\n  \"status\": \"Failed\",\r\n  \"error\": {\r\n    \"code\": \"ResourceDeploymentFailure\",\r\n
  \"message\": \"The resource operation completed with

[2021-07-19 11:09] Thorium commented on #78464
This is a minumum bug-replication template:
[myTemplate.json.txt](https://github.com/MicrosoftDocs/azure-docs/files/6840295/myTemplate.json.txt)

- It creates an empty traffic manager
- And 4 cnames pointing to that traffic manager.
- No matter how many times you re-run, it fails for resource being locked.

I think this might be Azure DNS (/ARM-templates) software bug, not only documentation issue

[2021-07-19 11:35] camaosos commented on #47926
Well, the solution was pretty simple, just forgot to include the libraries fbprophet and xgboost in the validated_linux_requirements.txt

[2021-07-19 12:15] priyankareddy20 opened #78522 "MFA registration policy user experience"
MFA registration policy user experience - doesn't show 14 days or skip for now ---experience is like CA MFA

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed580e9f-f99a-7e85-65f0-8a4304b9bf82
* Version Independent ID: bd7ab1c4-856b-0e1c-c9d7-d6a5ea494467
* Content: [Configure the MFA registration policy - Azure Active

[2021-07-19 12:16] priyankareddy20 commented on #78051
Okay.Thank you.I will be waiting for an update

[2021-07-19 12:17] priyankareddy20 commented on #76563
Hello Team,
Leveraging the paid version did resolve the issue.
Kindly add in the documentation

[2021-07-19 12:17] #76563 closed

[2021-07-19 12:31] gagarine opened #78524 "Unclear what scale option are available by region"
Product availability by region is listed their https://azure.microsoft.com/en-us/global-infrastructure/services/

Yet, the product (app service) is available in my target region (north Switzerland) but I got this error:

`{"code":"InvalidTemplateDeployment","message":"The template deployment 'Microsoft.Web-WebApp-Portal-3ad454b9-9e2d' is not valid according to the validation procedure. The trackin

[2021-07-19 12:37] SadiqhAhmed-MSFT commented on #78497
@VictorSago Was your free trial active when you tried upgrading to Pay-As-You-Go? If free trial was expired/suspended then in that case you may not see upgrade option.

[2021-07-19 12:47] dhruvrajn opened #78525 "Could be a typo on Availability of databases mentioned in Docs"
Why is it required to implement additional mechanisms to ensure availability of databases when we have ~4 Nines SLA. Is that a typo?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd929b95-a669-6c8f-d55e-8b93c1e395a1
* Version Independent ID: 9348ee72-e3be-75b8-2124-092ee46de84a
* Content: [What is Azure SQL? - Azure S

[2021-07-19 13:03] spelluru commented on #78028
@JoshLove-msft - I am back to work. Will you be updating this article like you did for the Receive Events article? It would be quicker:). Thanks.

[2021-07-19 13:33] AnuragSharma-MSFT commented on #78525
@dhruvrajn Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-07-19 13:37] jannickoeben opened #78528 "azure services with their own virtual network"
"When you deploy some Azure service resources into a virtual network, they create their own virtual subnet. To determine whether an Azure service creates its own virtual network, see information for each Azure service that can be deployed into a virtual network."

should probably be

"When you deploy some Azure service resources into a virtual network, they create their own virtual subnet. To dete

[2021-07-19 13:42] islamtg commented on #19897
I am getting the same error, when using azure gov.
The keys and the region seems to be correct as I copied them from the portal.

Yet I get the same issue. my region is usgovarizona.

When doing the same steps via Azure commercial I get the results expected any advise why this is not working on Gov?

[2021-07-19 13:42] SteveColegrove opened #78529 "Advanced Settings"
Please review step 1.  I believe 'Advanced Settings' has been removed from LAW.  Custom Logs is now just under the Settings header.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf637b70-eb07-3fd7-4594-c52af96f5ad8
* Version Independent ID: 29eced7b-1277-4ee1-21d0-0079d6b95a2f
* Content: [Collect custom logs with Log

[2021-07-19 14:01] SwathiDhanwada-MSFT commented on #78529
@SteveColegrove Thanks for bringing this to our notice. I have made changes to the document and they will reflect soon.

[2021-07-19 14:04] #78529 closed

[2021-07-19 14:08] mumian commented on #78275
@myahl-uncomn, we don't have a Bicep sample for creating a key vault secret yet.  But you can run "bicep -decompile" to decompile a json template to a bicep template.  You can find a json template at https://docs.microsoft.com/en-us/azure/key-vault/secrets/quick-create-template?tabs=CLI.  For bicep decompile, see https://docs.microsoft.com/en-us/azure/azure-resource-manager/bicep/decompile?tabs=az

[2021-07-19 14:10] amanmcse commented on #78444
@GuyPaddock Based on the code in the azure function, it doesn't use appleKeyId. I will remove it from the JSON snippet in the doc.

[2021-07-19 14:12] DataGuys commented on #64909
Actually got this working with Splunk and Syslog/CEF going to dual locations from the same Syslog-NG server. The key is to let the OMS agent take over the Syslog-NG.Conf file and adjust your Splunk to work with what changes the OMS agent wants.

[2021-07-19 14:13] DataGuys commented on #64909
`@version:3.5
@include "/etc/syslog-ng/conf.d/*.conf"

####################################################
## Basic Global Options ###
####################################################

# Note: it also sources additional configuration files (*.conf) located in /etc/syslog-ng/conf.d/

options {
        use_dns(yes);
        use_fqdn(yes);
        dns_cache(yes);
        keep_hostname(yes);

[2021-07-19 14:16] jwefers commented on #74398
but will he ever reply?

[2021-07-19 14:18] SatishBoddu-MSFT commented on #78491
Hello @carlosporter

Could you please post this issue under the right repo, so that it is triaged by the right Product Team.

**https://github.com/Azure/azure-cli-extensions/issues**

![image](https://user-images.githubusercontent.com/62923178/126174393-e5a15933-7cd8-4ecc-a4eb-be1cf3de93e8.png)

We want to be sure we can help you in the proper place. For that reason, I kindly ask that you post you

[2021-07-19 14:18] #78491 closed

[2021-07-19 14:24] SatishBoddu-MSFT commented on #78511
Hello @thecherrytree
I have assigned the issue to the content author for further review.

[2021-07-19 14:26] SatishBoddu-MSFT commented on #78516
Hello @takuyateraoka
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-19 14:40] GitaraniSharma-MSFT commented on #78394
@mahia127 , We have assigned this to the content owner/author for updating the doc accordingly.

@vhorne , could you please update the doc as it looks like Firewall Premium can be selected within the Secure Hub deployment via Azure Firewall Manager, so it is supported but in the doc it says:
![image](https://user-images.githubusercontent.com/67630903/126178097-e6d9963d-2e79-4f8f-9a5f-4096328a9178.

[2021-07-19 14:41] #78444 closed

[2021-07-19 14:42] mumian commented on #78450
@blackchoey - see this helps - https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/syntax#outputs.

[2021-07-19 14:44] GitaraniSharma-MSFT commented on #78506
@zacabrer , We have assigned this to the content owner/author for review.

@asudbring , could you please add an entry to the documentation SKU comparison table like below:

Access Internal Load Balancer over Global VNet Peering
Standard - Supported
Basic - Not Supported

Reference : https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-peering-overview#constraints-for-peered-virtu

[2021-07-19 14:49] tfitzmac commented on #78511
@thecherrytree - Those properties are not available through ARM templates. The properties for an ARM template match the properties that are available on the PUT operation sent to `management.azure.com`. The operation you provided is sent to `<account-name>.blob.core.windows.net`. For more information about the difference between these two operation types, see [Azure control plane and data plane](h

[2021-07-19 14:50] #78511 closed

[2021-07-19 14:51] curtand commented on #57441
Hi @lxsocon

Thanks for your dedication to our documentation! This is a great idea, and good information! Unfortunately, at this time we have been unable to resolve your issue in a timely manner and we sincerely apologize for the delayed response. The requested update has not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so I have created

[2021-07-19 14:51] #57441 closed

[2021-07-19 15:00] tfitzmac commented on #78438
@RonnieQuan - the limits in this article are hard limits unless otherwise noted. I am adding @duongau, who worked on the limits for Express Route in case those limits need further clarification.

[2021-07-19 15:07] prosprice opened #78532 "Updating backup vault blob policy is not supported as suggested by documentation"
The documention suggests the `PUT` operation can be used to "create or update" a backup vault policy, but attempting to update an existing policy returns an error:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cff24a7b-80f5-be21-57ff-d1cd93c27088
* Version Independent ID: 1eaf0425-4c6b-2c8e-a8ce-cab248199d39
*

[2021-07-19 15:09] Justinha commented on #58254
@clongnecker Sorry for delay. As on-prem MFA Server is now deprecated we wont be updating this topic. If you can submit changes by using a pull request, we will review and merge.

#please-close

[2021-07-19 15:09] #58254 closed

[2021-07-19 15:09] SnehaAgrawal-MSFT commented on #78249
@Ramblurr Thanks again for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2021-07-19 15:12] #58576 closed

[2021-07-19 15:14] elvirk opened #78533 "Can't deploy RG to different subscription"
[I can't deploy RG to different subscription

I'm using following example, but where do I find what is contained in "module.bicep" file?

targetScope = 'subscription'

param otherSubscriptionID string

// module deployed at subscription level but in a different subscription
module exampleModule 'module.bicep' = {
  name: 'deployToDifferntSub'
  scope: subscription(otherSubscriptionID)
}

]

---
##

[2021-07-19 15:15] MonikaReddy-MSFT commented on #78528
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-07-19 15:16] MonikaReddy-MSFT commented on #78524
@gagarine - Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2021-07-19 15:18] VikasPullagura-MSFT commented on #78233
@hxing752
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2021-07-19 15:18] #78233 closed

[2021-07-19 15:20] BrianLevenson commented on #78301
Hello! I left Microsoft in 2020 and can't really help with this... I'd suggest reaching out to RyanSto or a member of his team for the latest.

[2021-07-19 15:20] v-amallick commented on #78532
Hi @prosprice, Thank you for your feedback.

@pvrk: Requset you to please look into this issue. Thanks.

[2021-07-19 15:21] v-amallick commented on #78532
#assing:pvrk

[2021-07-19 15:24] joeljanke commented on #78223
2 ways...
1) Create Custom Role in Azure Portal by using the Add button on IAM blade of the Subscription blade and choosing Custom Role option.
2) We have a built a fairly sophisticated pseudo-impersonation process using CLI where on a daily basis we essentially copy all the permission in a built-in role into a custom role and then we individually add extra permissions such as Microsoft.Search/sea

[2021-07-19 15:27] islamtg commented on #19897
After some research I no longer have an issue, the following article tells how to connect to the azure gov - [Speech Services in sovereign clouds
](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/sovereign-clouds)

also a minor modification to code like so:
[code]

[2021-07-19 15:28] sdgilley commented on #78483
That's a tiny bit helpful, but the point is I didn't come from Azure portal in the first place.  There's nothing in this article that says to even sign into Azure portal.  This page was linked from an error message in Azure Machine Learning studio (ml.azure.com), which is NOT in the portal.  When I followed the link, I was completely lost.

[2021-07-19 15:37] curtand commented on #58415
Hi @SjoerdV

Thanks for your dedication to our documentation! Your comments are being incorporated in the pull review https://github.com/MicrosoftDocs/azure-docs-pr/pull/166046
#please-close

[2021-07-19 15:37] #58415 closed

[2021-07-19 15:38] tfitzmac commented on #78533
@elvirk - the module.bicep file would be the Bicep file that deploys the resources. In your case, it would be a Bicep file that creates a resource group. See [Use Bicep modules](https://docs.microsoft.com/en-us/azure/azure-resource-manager/bicep/modules).

[2021-07-19 15:38] tfitzmac commented on #78533
I'll update the article with some additional information.

[2021-07-19 15:42] carlosporter commented on #78491
Hello Satish,

I just wanted to have this documented somewhere, I'm actually not expecting this to be taken as bug report about the extension, it's just that I believe the documentation should explain clearly how the extension works and it's required for it to work to people can plan accordingly and setup their expectations correctly.

[2021-07-19 15:42] mimckitt commented on #75170
@Mahesh-MSFT Shared disks are supported. I updated the FAQ and changes will go live today be EOD

#please-close

[2021-07-19 15:42] #75170 closed

[2021-07-19 15:46] SrijitBose-MSFT commented on #78375
@Es-ci have the answers in this thread helped? If you need further assistance please comment on this thread.

[2021-07-19 15:47] curtand commented on #58599
Hi @LukePWilkins
Thanks for your dedication to our documentation! Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. Though the scope of our feedback channel here on GitHub covers specific documentation fixes, you can contact Jordan Dahl (jodah@microsoft.com) to get an answer to your question. Because this is

[2021-07-19 15:47] #58599 closed

[2021-07-19 15:49] SatishBoddu-MSFT commented on #78491
Thank you @carlosporter , We consider your feedback!

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

[2021-07-19 15:50] MicrosoftGuyJFlo commented on #78522
If you hit a location that requires MFA then you will have to register. Bypass only works when you are signing in and there isn't a policy that requires MFA.

[2021-07-19 15:51] MicrosoftGuyJFlo commented on #78522
#assign:@MicrosoftGuyJFlo

[2021-07-19 15:52] carlgrzywacz opened #78534 "Missing documentation regarding the "Interruptor" page (anti-phishing confirmation)"
Please add no documentation regarding the "Interruptor" page (anti-phishing confirmation). I believe this page appears when any OAuth sign in uses a non-first party logic redirect URL.  Screenshot of the page is attached.

• Consent Link:
    • https://logic-apis-eastus.consent.azure-apim.net/login?data=UniqueKey
• Redirected to after Login:
   • https://logic-apis-eastus.consent.azure-apim.net/co

[2021-07-19 15:53] KillZwitch opened #78535 "Missing curly bracket"
Missing curly bracket in Get-ADServiceAccount –Filter * | where $_.ObjectClass -eq "msDS-GroupManagedServiceAccount"}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b50bdb8-c331-4ce5-e391-e726f49a11d2
* Version Independent ID: f9b1d5db-9e91-ec5a-490c-d8ddbb71eb23
* Content: [Secure group managed service accounts](http

[2021-07-19 15:55] tfitzmac commented on #78533
I have added a link to the module content. The update should get published later today.
#please-close

[2021-07-19 15:55] #78533 closed

[2021-07-19 15:57] priyankareddy20 commented on #78522
I have created a mfa registration policy for few users.

During the azure portal sign in, user ahs been prompted for Azure Mfa
registration (no Mfa till then) .On the registration page, user did not
have any option to skip now or register later, where document says for
14days user can by pass the registration.

Regards
Priyanka

On Mon, Jul 19, 2021, 5:51 PM John Flores ***@***.***> wrote:

[2021-07-19 16:06] dlepow commented on #77258
Created doc work item https://dev.azure.com/mseng/TechnicalContent/_workitems/edit/1859890 and will address in an upcoming doc sprint.
Assigning to myself
#assign dlepow

[2021-07-19 16:06] AmonM15 opened #78536 "Backup Contributor"
Hi,

In the Microsoft documentation it states that the Backup Contributor role doesn't give you permission to create Vaults. However after a numerous tests using a Backup Contributor role I have been enable to successfully create a Recovery Service Vaults.

Could it be possible that this is an error or maybe this action was updated but not the documentation?

Regards

![Microsoft](https://user-ima

[2021-07-19 16:06] curtand commented on #58669
Hi @echapman1
Thanks for your dedication to our documentation! Unfortunately, at this time we have been unable to resolve your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so I have created an internal work item to incorporate you

[2021-07-19 16:06] #58669 closed

[2021-07-19 16:08] AshokPeddakotla-MSFT commented on #78459
@jacqueskang Transparent gateway pattern for IoT edge device as downstream device is not supported. This is a nested edge scenario, supported by Edge with IoT Hub. IoT Central doesn't support nested edge currently since DPS doesn't support nested edge. Nested edge is only supported with manual connection string.

[2021-07-19 16:08] MarileeTurscak-MSFT commented on #78535
@KillZwitch
Thanks for your feedback! We will investigate and update as appropriate.

[2021-07-19 16:09] MarileeTurscak-MSFT commented on #78536
@AmonM15
Thanks for your feedback! We will investigate and update as appropriate.

[2021-07-19 16:20] AmonM15 commented on #78536
@MarileeTurscak-MSFT

Thank you so much.

[2021-07-19 16:25] JamesTran-MSFT commented on #78069
@LockTar
Thank you for the follow ups on this! Tagging @James-Hamil-MSFT since he's assigned to this issue.

[2021-07-19 16:54] ThomasWeiss commented on #78378
@v-hakob With the free tier, Cosmos DB users can provision up to 1,000 RU/s for free. Using customer-managed keys on a free tier account doesn't change anything about that - you still get 1,000 RU/s for free, but as mentioned above, the RU charge for individual database operations will be slightly higher.

[2021-07-19 17:01] MonikaReddy-MSFT commented on #78528
@jannickoeben - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-07-19 17:01] #78528 closed

[2021-07-19 17:02] MonikaReddy-MSFT commented on #78477
@riqueps - Thank you for your question.
Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2021-07-19 17:03] spelluru commented on #77837
The code should work fine in the Bash shell (not PowerShell) of Azure Cloud Shell. @himanshusinha-msft has updated the article to mention that the Bash shell should be used. Thanks.

#please-close

[2021-07-19 17:03] #77837 closed

[2021-07-19 17:03] trichardson010 opened #78537 "Multiple preRoll ads."
When configuring the media player to run more than one preRoll ad, the player will not load. Does Azure Media Player support multiple preRoll ads?

[2021-07-19 17:05] tgpmoraes opened #78538 "Winutils URL is broken"
[Enter feedback here]

Hi, I was just checking the tutorial, and when I tried to download winutils I got the following message:
http://public-repo-1.hortonworks.com/hdp-win-alpha/winutils.exe

![image](https://user-images.githubusercontent.com/8151342/126199051-7df74e8d-8f71-4a46-8cbe-e688e2a2d57a.png)

It would be great if you guys could fix.

Thanks,
Tiago Moraes

---
#### Document Details

⚠ *D

[2021-07-19 17:08] JayaChatterjee-MSFT commented on #78305
Hello @VWACBrick , data will be backed up in the storage and the storage data is encrypted.
https://docs.microsoft.com/en-us/azure/storage/common/storage-service-encryption#about-encryption-key-management
We will now proceed to close this thread no document enhancement is required.

[2021-07-19 17:08] #78305 closed

[2021-07-19 17:10] tfitzmac commented on #77657
@nickfoster - I believe the problem is getting the raw contents for the template. For options that work with Azure DevOps, see [Integrate ARM templates with Azure Pipelines](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/add-template-to-azure-pipelines)

[2021-07-19 17:13] tfitzmac commented on #77657
#please-close

[2021-07-19 17:13] #77657 closed

[2021-07-19 17:16] KranthiPakala-MSFT commented on #78538
Hi @tgpmoraes,
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2021-07-19 17:16] JamesTran-MSFT commented on #78481
@annerajb
I just wanted to check in and see if you were able to review my previous comment? Since it looks like this doc is up to date, I'll go ahead and close this out.

If you have any other questions, please let me know.
Thank you for your time and patience throughout this issue.

[2021-07-19 17:16] #78481 closed

[2021-07-19 17:22] riqueps commented on #78477
@MonikaReddy-MSFT , sorry for the inconvenience, this issue is about a product not azure docs. I'll close it and open it on the right place.

[2021-07-19 17:22] #78477 closed

[2021-07-19 17:22] #57941 closed

[2021-07-19 17:23] JamesTran-MSFT commented on #78485
@timrhaynes
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2021-07-19 17:23] #78485 closed

[2021-07-19 17:26] paulbatum opened #78539 "Add entry for HostId to functions appsetting reference page"
Customers with long app names and shared storage accounts can use the HostId setting to avoid hitting conflicts. The appsetting is: `AzureFunctionsWebHost__hostId` the rules for this setting are:

Users should make sure that the host ID for each app that is sharing a storage account is unique.

This setting is discussed here:
https://github.com/Azure/azure-functions-host/issues/2015#issuecomment-4

[2021-07-19 17:28] jeevansd commented on #30464
@WyattBest If you are using WS-Fed then the solution I have provided might not work. Can you please provide the name of the app where you are trying this? Are you using the SaaS app or this is Line of business app which you have developed?

[2021-07-19 17:30] MartinJaffer-MSFT commented on #78332
We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2021-07-19 17:30] #78332 closed

[2021-07-19 17:32] WyattBest commented on #30464
@jeevansd The application is [Ellucian PowerCampus](https://www.ellucian.com/solutions/ellucian-powercampus), a line-of-business application used by higher education. It's developed by Ellucian L.P. and run on-premise by schools. Currently, it requires the UPN claim to use WS-Federation.

[2021-07-19 17:33] MicrosoftGuyJFlo commented on #78522
Sounds like there is another Conditional Access policy that the user is being hit with. You can troubleshoot to see what policies are being applied through the sign-in event logs. https://docs.microsoft.com/azure/active-directory/conditional-access/troubleshoot-conditional-access#policy-details

[2021-07-19 17:38] MicrosoftGuyJFlo commented on #51419
#please-close

[2021-07-19 17:38] #51419 closed

[2021-07-19 17:51] DerekHerman-MSFT commented on #78309
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-07-19 17:52] miketheitguy opened #78540 "Missing Azure Government Endpoints"
The URLs for Azure Government/GCC High should be added:

https://autologon.microsoft.us < Please verify this one as I guessed it based on what I know about the Azure Government DNS endpoints (it did resolve correctly)
https://device.login.microsoftonline.us

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9c51404-0a1b-c

[2021-07-19 17:57] roygara commented on #78512
Hello, @Yukins123 thanks for bringing this to our attention. This is trying to convey that these metrics are only available on VM series that support premium storage, and for these series of VMs, is available on all disk types except ultra disks.

I'll update the article to try to make it more clear. The update should be live later today.

#please-close

[2021-07-19 17:57] #78512 closed

[2021-07-19 18:01] James-Hamil-MSFT commented on #78069
Hi @LockTar , so sorry for the delay. From my perspective, and from the information you provided, it looks like the workaround is a good alternative. However, I have assigned the author to verify that this is safe and if so to update the documentation with your workaround. Thank you so much for your patience!

[2021-07-19 18:05] MicrosoftGuyJFlo commented on #78540
@SanDeo-MSFT Can you verify the government endpoints for hybrid Azure AD join in this Issue?

[2021-07-19 18:06] JamesTran-MSFT commented on #78516
@takuyateraoka
Thank you for your time and patience!

Based off our documentation the Remediation technical profile should always be called after the Evaluation technical profile, if you want to remediate the risk successfully within the journey.

During the Evaluation phase, the Conditional Access service evaluates sign-in events, and the outcome of this evaluation process indicates whether the s

[2021-07-19 18:08] KranthiPakala-MSFT commented on #78475
Hi @markgar  - Is this what you are looking for? - https://github.com/MicrosoftDocs/databricks-pr/blob/live/databricks/administration-guide/cloud-configurations/azure/udr.md

Let us know if you have further queries.

Thanks

[2021-07-19 18:09] markgar commented on #78475
I got a 404.

Mark Garner (he/him)
Cloud Solution Architect
(c) 515-779-9877<tel:515-779-9877>
________________________________
From: Kranthi Pakala ***@***.***>
Sent: Monday, July 19, 2021 1:08 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Mark Garner ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Looking for this documentation source code in the repository (#78475)

[2021-07-19 18:18] HarshitaSingh-MSFT commented on #78407
Does [this](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/azure-file-copy?view=azure-devops) help?

[2021-07-19 18:19] markgar commented on #78475
You are offline in Teams so I assume you're not getting my messages?

Mark Garner (he/him)
Cloud Solution Architect
(c) 515-779-9877<tel:515-779-9877>
________________________________
From: Kranthi Pakala ***@***.***>
Sent: Monday, July 19, 2021 1:08 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Mark Garner ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Looking for t

[2021-07-19 18:20] MarileeTurscak-MSFT commented on #78535
Thank you! I made a pull request to update this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/166085

@BarbaraSelden please confirm

[2021-07-19 18:20] #78535 closed

[2021-07-19 18:26] HarshitaSingh-MSFT commented on #78450
If you are not using ADO, you can [store secrets in Key Vault](https://xebia.com/blog/keep-your-arm-deployment-secrets-in-the-key-vault/) and read them from there. If you are using ADO, you can use PowerShell scripts to store and read secrets to and from Pipeline variables. Let me know if this answers your question.

[2021-07-19 18:30] DerekHerman-MSFT commented on #78344
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-07-19 18:32] ChaitanyaNaykodi-MSFT commented on #78334
Hello @AdamCoulterOz, We will now proceed to close this issue out, Please tag us in your response if there are any additional concerns. Thank you!

[2021-07-19 18:32] #78334 closed

[2021-07-19 18:32] HarshitaSingh-MSFT commented on #78476
@mickeydelsman, please note that multi-resource alerts in Azure Monitor using a custom metric are not out yet but will be there soon. Stay tuned!

[2021-07-19 18:32] HarshitaSingh-MSFT commented on #78476
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-07-19 18:32] #78476 closed

[2021-07-19 18:40] sidkri commented on #78539
Adding a few more points:
1. Configuring this is different for Function v1 (via host.json) and Functions v2 (via App Settings)
2. This information is documented in our docs but in a very narrow scenario so it may make sense to update this location to point to the overall HostId documentation that work on this issue creates: https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-

[2021-07-19 18:43] miketheitguy commented on #78540
The analogous Government endpoints I've seem to have found are:

https://enterpriseregistration.windows.net -> enterpriseregistration.microsoftonline.us
https://login.microsoftonline.com -> login.microsoftonline.us
https://device.login.microsoftonline.com -> device.login.microsoftonline.us
https://autologon.microsoftazuread-sso.com -> autologon.microsoft.us

[2021-07-19 18:51] jeevansd commented on #76744
@v-hagamp This is a valid feedback. Can you please add this note here?

[2021-07-19 18:56] MarileeTurscak-MSFT commented on #78536
@AmonM15 Can you please share a screenshot of the user's roles under Azure Active Directory > User > Assigned Roles and confirm that the Backup Contributor role is the only role assigned to this user?

[2021-07-19 18:56] priyankareddy20 commented on #78522
Ok.I will cross check if any CA policy is in place.I ll test tomorrow and
reply on the same.

Thank you.

Regards
Priyanka

On Mon, Jul 19, 2021, 7:33 PM John Flores ***@***.***> wrote:

[2021-07-19 19:15] rwike77 commented on #78055
@hanslai you're right that this is a gap in our content, we're actually starting to plan a testing section.  We're going to start off with some info on setting up a test environment and will move into automated testing at some point.  You mentioned automated testing of web apis, is there anything else you're interested in?  Thanks.

[2021-07-19 19:19] AmonM15 commented on #78536
![Assigned Roles AAD](https://user-images.githubusercontent.com/55446467/126214487-1760c982-329d-45cd-a308-b9cd509a32c8.png)
![RBAC role in resource group](https://user-images.githubusercontent.com/55446467/126214492-9d70b849-d563-4457-969a-44dffcb0a33c.png)
@MarileeTurscak-MSFT

I have taken two screenshots, one from AAD as requested and the other from Access Control (IAM) in the resource group t

[2021-07-19 19:23] tfitzmac commented on #78533
@elvirk - your module would create the RG, like:

targetScope='subscription'

param resourceGroupName string
param resourceGroupLocation string

resource newRG 'Microsoft.Resources/resourceGroups@2021-01-01' = {
  name: resourceGroupName
  location: resourceGroupLocation
}

And, then, you use that module in a Bicep file. Pass in the ID from a different subscription.

targetScope = 'subscription'

[2021-07-19 19:32] sanana30 opened #78542 "Incorrect blade mentioned"
We should update the following line from 'App registrations' ​to 'Enterprise Applications' for accuracy.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 467ee93c-4df9-24b9-021b-a48aafdf3bc5
* Version Independent ID: 5aba9f59-9d9d-1bfb-821c-22cabe0d04a4
* Content: [Delegate application management administrator permission

[2021-07-19 19:42] VictorSago commented on #78497
@SadiqhAhmed-MSFT  No, it was a day after my free trial expired. I received the email informing me about expiration of the free trial, but I wanted to upgrade in the portal, as part of my Azure learning. There should be a way to upgrade to a working subscription even after the free trial period has expired.

[2021-07-19 19:45] MarileeTurscak-MSFT commented on #78542
@sanana30
Thanks for your feedback! We will investigate and update as appropriate.

[2021-07-19 19:54] MarileeTurscak-MSFT commented on #78542
Thanks, @sanana30, I just made a pull request to fix this and will get it merged today. https://github.com/MicrosoftDocs/azure-docs-pr/pull/166103

[2021-07-19 19:54] #78542 closed

[2021-07-19 19:58] mehdijalal opened #78543 "update your documentation with latest changes on Azure AD B2C"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 906907ec-cbe2-59b1-a84e-ce1b1343756f
* Version Independent ID: f498962c-f738-ccd8-a619-de854fac37da
* Content: [Tutorial: Enable authentication in a web application - Azure AD B2C](https://docs.microsoft.com/en-us/azure/active-directory-b2c/tutorial-w

[2021-07-19 20:01] gianliriano29 commented on #53201
Still no solution?

[2021-07-19 20:04] Wibusts opened #78545 "I can use Title hyperlink on this page.."
I can use Title hyperlink on this page..

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f4e153e-0fe3-2f8f-58b9-0402e3d11951
* Version Independent ID: 8f7af191-8ac1-ac6c-a733-0216075373ee
* Content: [Configure Azure Active Directory B2C as a SAML IdP to your applications](https://docs.microsoft.com/en-us/azure/active-d

[2021-07-19 20:09] rolyon commented on #76063
Hi @weyCC81
Please provide steps and additional details of the expected behavior so that we can try to reproduce.
thanks

[2021-07-19 20:13] sumeetmittal commented on #53044
This is already captured in the document you are refereeing to. Please look under provisioning. As I mentioned earlier, only few services support cross tenant Service Endpoints, not all. Thanks

Virtual networks and Azure service resources can be in the same or different subscriptions. Certain Azure Services (not all) such as Azure Storage and Azure Key Vault also support service endpoints across

[2021-07-19 20:21] RonnieQuan opened #78548 "Clarify Inbound Connectivity"
I would like to get a better understanding of following paragraph.

Inbound Internet connectivity can be enabled by configuring Destination Network Address Translation (DNAT) as described in Tutorial: Filter inbound traffic with Azure Firewall DNAT using the Azure portal. NAT rules are applied in priority before network rules. If a match is found, an implicit corresponding network rule to allow th

[2021-07-19 20:21] elvirk commented on #78533
@tfitzmac  - that worked.
I see this issue is closed, if I have follow up questions do I open new issue?

[2021-07-19 20:22] sumeetmittal commented on #58241
The write up captures info on both Public Peering and Microsoft Peering. Though it is deprecated, some legacy systems may be using it. Will try to get the picture updated.

[2021-07-19 20:22] RonnieQuan commented on #78438
@tfitzmac  Thank you for the information.
@duongau Can you please confirm or share your insight with us?

[2021-07-19 20:24] sumeetmittal commented on #56467
We will provide the link.. thanks

[2021-07-19 20:24] alanflanders-teck opened #78549 "Settings to enable chunking or change chunk size not available"
As per the documentation, the setting to change the chunk size on the SFTP-SSH (Create file) action does not exist. I'm trying to copy files from sharepoint to an SFTP location. It works fine if the files are less than 50MB. If between 50MB and 100MB, then get an error on the Create File action to enable chunking (should be supported up to 1GB). If >100MB then the Sharepoint trigger does not activ

[2021-07-19 20:30] allegradomel commented on #49947
I have made a PR to clarify this info and will close the item #please-close

[2021-07-19 20:30] #49947 closed

[2021-07-19 20:31] ramandhillon84 commented on #68277
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we're closing the PR.
#please-close

[2021-07-19 20:31] #68277 closed

[2021-07-19 20:33] ChaitanyaNaykodi-MSFT commented on #78539
Thank you @paulbatum & @sidkri.  We have assigned this issue to the author to review further and take the next course of action.

FYI @ggailey777

[2021-07-19 20:35] JamesTran-MSFT commented on #78543
@mehdijalal
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-07-19 20:35] JamesTran-MSFT commented on #78545
@Wibusts
Thanks for your feedback! We will investigate and update as appropriate.

[2021-07-19 20:36] brianlehr commented on #65614
@MikeWedderburn-Clarke Thanks for providing feedback that helps improve our documentation.  Will try to clarify -- all these statements are consistent.

- "outside physical boundaries not controlled by Microsoft or on behalf of Microsoft" - this means that traffic is encrypted at the data-link layer via MACsec as stated [here](https://docs.microsoft.com/en-us/azure/security/fundamentals/encryption

[2021-07-19 20:36] #65614 closed

[2021-07-19 20:43] asudbring commented on #77098
Added to table

#please-close

[2021-07-19 20:43] #77098 closed

[2021-07-19 20:44] allegradomel commented on #54712
Hi @erbalaji , thanks for this suggestion - we have made the change to say /2 instead. The change will go live in the next couple of days. #please-close

[2021-07-19 20:44] #54712 closed

[2021-07-19 20:46] ramandhillon84 commented on #57681
Hi, this text in the VNet IPv6 documentation indicates that Azure allows the customers to use any of the private IPv6 address space within their Azure Virtual Network. The instances in Virtual Network are secure-by-default, which means they are not internet routable by default. You'll have to add Public IPv6 address to the instances for communication with internet OR configure a VPN (Azure or NVA)

[2021-07-19 20:47] #57681 closed

[2021-07-19 20:59] mohnader commented on #29237
@Jayantha0  Thanks for your dedication to our documentation. We've created an internal work item to incorporate your suggestions. @KumudD is tracking the changes. It will take sometime for the changes to be updated and reflected in the docs. We are closing this issue for now, but feel free to comment here as necessary. #please-close

[2021-07-19 20:59] #29237 closed

[2021-07-19 21:01] mohnader commented on #62560
@yull1860 Thanks for your dedication to our documentation. We've created an internal work item to incorporate your suggestions in the swagger for API/SDK/CLI to update the flag description. It will take sometime for the changes to be updated and reflected in the docs. We are closing this issue for now, but feel free to comment here as necessary. #please-close

[2021-07-19 21:01] #62560 closed

[2021-07-19 21:06] allegradomel commented on #38961
Hi @ashemedai thanks for this feedback, I have made the necessary change to doc to explain that any subnet smaller than or equal to /26 will not have the broadcast address reserved at .255. Thanks!  #please-close

[2021-07-19 21:06] #38961 closed

[2021-07-19 21:25] ChaitanyaNaykodi-MSFT commented on #78549
Hello @alanflanders-teck, Thank you for reaching out.
Could you please take action [as requested here](https://github.com/MicrosoftDocs/azure-docs/issues/75629#issuecomment-867137444)? As the issue has a similar observation.
FYI @divyaswarnkar
As we primarily monitor this channel for any documentation improvements and as this issues currently does not require any changes in the documentation. We w

[2021-07-19 21:25] #78549 closed

[2021-07-19 21:25] benoithamet commented on #78510
Thanks
My point is there is no mention in the doco you have to create these admin roles (no big deal for me but this should be there) plus the value you document is in fact the value you define when you create the role

[2021-07-19 21:28] hdeleoncidenet opened #78550 "Missing message encoding settings"
Missing message encoding settings

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4663227e-b796-6acb-db37-8459eb5fb420
* Version Independent ID: dc2373d5-07c2-aec9-def8-f6d8d8b3a443
* Content: [How to use Azure Queue Storage from Node.js - Azure Storage](https://docs.microsoft.com/en-us/azure/storage/queues/storage-node

[2021-07-19 21:35] aceoforder opened #78551 "PowerShell commands?"
So... where are the PowerShell commands mentioned here? There are only directions for using the Graph API.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4574c53-57f4-903d-df45-f039f0fa1fbf
* Version Independent ID: 7bb0c41d-ecea-71ac-c553-6dfc3a9d90cc
* Content: [Nudge users to set up Microsoft Authenticator app (Pre

[2021-07-19 21:42] gagarine commented on #78524
I asked the support. The problem is that on this account I'm still on the free-tiers and apparently you do not have access to all regions. In part this should be fixed in the portal with better error message and guidance. But in part this should be mentioned in the doc somewhere.

As a general feedback I believe free-tiers should not be a source of bug and frustration... it's easy to lose customer

[2021-07-19 21:51] desarkar opened #78552 "The Note "For scanning Databricks metastore" seems to be incomplete"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 686544b4-81d2-923e-27d6-992132ac0feb
* Version Independent ID: 9ef5f254-a64f-c223-73e6-cf8e54ee4d3a
* Content: [Register Hive Metastore database and setup scans in Azure Purview - Azure Purview](https://docs.microsoft.com/en-us/azure/purview/register-

[2021-07-19 21:56] bandersmsft commented on #78280
@jonstelly Hi Jon. You're right, the article needed an update to explain the **Replace** functionality--that's what you want to use. Ensure that you have a credit card created that you want to use for a specific subscription. Then view your subscriptions. In the list of subscriptions, select the one that you want to change the credit card for. Select **Payment methods**. In the list of credit card

[2021-07-19 22:01] alanflanders-teck commented on #78549
Yes, the option is actually available on the Create File action for SFTP-SSH connector. It is turned on so I should not have gotten the error. Will log a bug on the product instead. Thanks!
![image](https://user-images.githubusercontent.com/71035292/126233056-9feb01de-ea06-48b8-8efb-e3ead8b6fd5c.png)

[2021-07-19 22:13] jonstelly commented on #78280
That is not correct.  Changing the payment method for one subscription changes it for **_ALL_** subscriptions that are currently using that card.

The warning/message on the replace payment dialog says as much:

![image](https://user-images.githubusercontent.com/967068/126233503-4686ec97-5be2-43c6-b09c-50da9f0aa442.png)

If I have 3 subscriptions and click on the "Replace" button for one of them,

[2021-07-19 22:19] sdolenc opened #78554 "Add "Temporary Storage" requirement to Service Fabric's "Virtual Machine Sizing" section"
Service Fabric writes system diagnostics and logs to temporary storage. If MaxDiskQuotaInMB is not configured then it defaults to 64gigs. Therefore, the [Virtual Machine Sizing](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-capacity#virtual-machine-sizing) section should talk about the importance of picking a VM size with enough temporary storage (64+ gigs) and/or pr

[2021-07-19 22:20] normesta commented on #78504
Thanks for reaching out @noam1023. I believe you are referring to step two which is about opening the account to the overview page. A lot of our articles start with that. The page exists so the step isn't accurate per se. It's just opening to the default account page as the starting position.  Most articles (this one as well) then proceed with more specific steps to find the target menu option in

[2021-07-19 22:20] #78504 closed

[2021-07-19 22:23] connelhooley opened #78555 "Configuring Static Web App using Azure Pipelines"
It would be great if we could document how to update the app configuration using Azure Dev Ops pipelines.

The `AzureAppServiceSettings` task doesn't appear to pick in up managed functions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 350f3c75-18da-fb00-48a0-c1da1fb4a894
* Version Independent ID: d07bf94d-3523-9c5e-7

[2021-07-19 22:27] GiftA-MSFT commented on #78432
@hbalaci thanks for your feedback. Does a workflow diagram like below help?

![image](https://user-images.githubusercontent.com/51332022/126235270-9b65693a-6fbe-415a-838b-1dd54f4c9ac0.png)

[2021-07-19 22:39] ecfan commented on #37616
The Azure Logic Apps docs have been updated with an example to trigger once on the last day of the month. This schedule must be set up in the underlying Recurrence trigger definition as the designer doesn't have a way to achieve this scenario:

[code]

[2021-07-19 22:40] ermacia91 opened #78557 "Documentation is not on par with feature"
This document specifies that only the selected users will be downloaded, but the feature works based on the scope of the filters applied. Please, update documentation to reflect this.

Reach out to ermaciaf internally for more details.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7800fcb4-d251-f271-bc12-9377cd0407fa

[2021-07-19 22:41] #37616 closed

[2021-07-19 22:52] bandersmsft commented on #78280
#please-open
@jonstelly Yes, it looks like you're correct and I was mistaken. When trying to reproduce your scenario. I created new subscriptions, each with a different credit card. I just now tried Replace and it does replace all credit cards for all subscriptions, not just the one for the current subscription. So what's you've explained is correct. Let me investigate further with the Billing eng

[2021-07-19 23:02] normesta commented on #78271
Thanks @Robin-Wardle! I fixed it. The change should appear live by tomorrow AM.

Thanks again!

#please-close

[2021-07-19 23:02] #78271 closed

[2021-07-19 23:18] Leicham commented on #78557
The doc currently says "The download file will contain the filtered list of users" under #4.

[2021-07-19 23:25] JnHs commented on #78399
Hi @kshitishsahoo - thanks for raising this issue. Could you confirm which specific Partner Center report(s) you are inquiring about? This will help us confirm the expected timeframe for the association to appear.

[2021-07-19 23:32] normesta commented on #78212
@zezha-msft what is our rename guidance? @harithamaddi-ops my understanding is that a rename on a blob an account that has a flat namespace, the process is to copy the blob and then delete the source blob. Storage Explorer uses AzCopy behind the scenes, and I believe that is what Storage Explorer does. For hierarchical namespaces, a true rename option is available. However, I'm not sure if Storage

[2021-07-19 23:37] zezha-msft commented on #78212
We don't have a rename command in AzCopy. @normesta's description is accurate to my knowledge.

You can achieve a rename effect for a single file when running the cp command: ./azcopy cp ./original_name http://.../container/new_name. It only works on a single file though, if you were uploading an entire directory, there's no rename. We tried to be consistent with the cp command on linux.

[2021-07-19 23:40] dlepow commented on #74095
@pmorch - Thanks for the helpful feedback. In an upcoming article update, I'll update the image name:tag example as you suggest to use the same chart name and version in Chart.yaml.

[2021-07-19 23:47] normesta commented on #78212
I'll call out the limitation in AzCopy docs just to be clear for other folks. Thanks for raising @harithamaddi-ops!

[2021-07-19 23:57] briancr-ms commented on #77381
Great, thanks for confirming our understanding. This looks like a topic that we should address in our ontologies articles, so we'll queue that up.

[2021-07-20 00:09] takuyateraoka commented on #78516
@JamesTran-MSFT Thanks for your answer.

[2021-07-20 00:09] #78516 closed

[2021-07-20 00:11] JamesTran-MSFT commented on #78551
@aceoforder
Thanks for your feedback! We will investigate and update as appropriate.

[2021-07-20 00:12] JamesTran-MSFT commented on #78557
@ermacia91
Thanks for your feedback! We will investigate and update as appropriate.

[2021-07-20 00:30] MarileeTurscak-MSFT commented on #78289
It is removed because the goal is to use the other columns to get similar information, while being able to filter on each specific value (such as Creation type, Directory synced, and Identity issuer).

What is your use case?

[2021-07-20 00:34] MarileeTurscak-MSFT commented on #78289
If you want to see just cloud-only users or just synced users you can use:

 Get-AzureADUser -all $true | where-object -property DirSyncEnabled -eq "True"

(Or -ne for cloud-only users)

[2021-07-20 00:37] KrishnaG-MSFT commented on #78533
@elvirk yes, you can.
@tfitzmac Thanks for the response.

[2021-07-20 01:02] v-hakob commented on #78378
Thank you @ThomasWeiss for the quick response. Sorry, I still need help.

For Azure Sentinel, as long as I see Step 3 in this doc, Azure Sentinel works with Cosmos DB just as an additional storage resource in addition to the Log Analytics clusters.

https://docs.microsoft.com/en-us/azure/sentinel/customer-managed-keys

The doc explains about the pricing for LA clusters but not for COSMOS DB at all

[2021-07-20 01:04] stevevi commented on #76245
#please-close

[2021-07-20 01:04] #76245 closed

[2021-07-20 01:04] ShaikMaheer-MSFT commented on #78552
@desarkar Thank you for providing feedback. We are actively investigating it. We will get back to you soon.

[2021-07-20 01:08] raybelline opened #78558 "API Management doesnt allow x-ms-summary"
When will x-ms-summary extension be allowed in APIM? This extension is necessary when exporting the API to Power Automate for the name of parameters to make sense to users.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be16b5c5-40c4-3e6c-0b0d-840373c63f9f
* Version Independent ID: ced6b3ba-8da1-dd3d-9d1c-8a21dabd44fe

[2021-07-20 01:26] KeithwNZ opened #78559 "Clarify explicitly whether later Az.Storage versions are suitable or not"
To "_Manually perform the enablement actions_" the article states to use Az.Storage 2.0.0. Is ONLY this version supported, or are later versions of Az.Storage also supported for this configuration?  Can this be stated explicitly in this article?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a1a9f3d-5733-012a-a0d7-c00

[2021-07-20 01:29] peter-bertok commented on #73731
Why is this issue closed? The dangerous script is still in the docs. The issue is not resolved.

[2021-07-20 01:30] blackchoey commented on #78450
Thank you, it's very helpful.

[2021-07-20 01:36] spelluru commented on #78098
@wienleung - Thanks for the feedback. Reworded the statements. Thanks.

#please-close

[2021-07-20 01:36] #78098 closed

[2021-07-20 01:37] spelluru commented on #78489
Fixed the links.

#please-close

[2021-07-20 01:37] #78489 closed

[2021-07-20 01:38] spelluru commented on #78469
@philip-reed - Thanks for the feedback. Fixed the issue. #please-close

[2021-07-20 01:38] #78469 closed

[2021-07-20 01:48] ThomasWeiss commented on #78378
@v-hakob I am not familiar with Azure Sentinel. I would suggest opening a GitHub issue against the page you've just referenced - the Azure Sentinel team should be able to better address your question.

[2021-07-20 01:49] VikasPullagura-MSFT commented on #78554
@sdolenc
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-07-20 01:49] VikasPullagura-MSFT commented on #78554
@sukanyamsft
Can you please check and add your comments on this doc update request as applicable.

[2021-07-20 01:50] v-hakob commented on #78378
@ThomasWeiss , noted. Thank you for the advice.

[2021-07-20 01:50] #78378 closed

[2021-07-20 01:50] Karishma-Tiwari-MSFT commented on #78487
Looks like your issue was resolved. Let me know if you have further questions and I can reopen this thread. Thanks.

[2021-07-20 01:52] Karishma-Tiwari-MSFT commented on #78519
Thanks for your question. Is there something in any specific doc you are looking to have updated or are having issues with? The scope for these doc issues is to help identify gaps and issues with the documentation.
Please provide us with the link to the documentation you are referring to so we can better assist.

Else, if you are looking for help with debugging issues, I would suggest opening a su

[2021-07-20 01:53] #78519 closed

[2021-07-20 01:54] Karishma-Tiwari-MSFT commented on #78534
Thanks for your feedback. Is there something in any specific doc you are looking to have updated or are having issues with? The scope for these doc issues is to help identify gaps and issues with the documentation.
Please provide us with the link to the documentation you are referring to so we can better assist.

Else, if you are looking for help with debugging issues, I would suggest opening a su

[2021-07-20 01:54] v-hakob opened #78560 "Please advice the pricing for COSMOS DB."
As long as I see Step 3 in this doc, Azure Sentinel works with Cosmos DB just as an additional storage resource in addition to the Log Analytics clusters.

But, I don't see any pricing info for COSMOS DB, though I can see them for LA clusters. Do we expect any chargeable operations/any RUs in COSMOS DB when using CMK for Azure Sentinel?

---
#### Document Details

⚠ *Do not edit this section. It i

[2021-07-20 02:01] Karishma-Tiwari-MSFT commented on #78285
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-07-20 02:04] #78083 closed

[2021-07-20 02:36] AdamCoulterOz commented on #78334
@cgillum thanks for that... I think the only thing with your revision is the use of the word `instance` below, in the sense that is the instance is a little ambiguous as to if it's talking about the job or the worker? But you've answered my question either way. Thanks!

[2021-07-20 03:09] danzel opened #78561 "Loop for waiting on asyncOperation is weird"
In the second code block under [Wait for asynchronous operation completion](https://docs.microsoft.com/en-us/azure/cognitive-services/face/face-api-how-to-topics/use-persondirectory#wait-for-asynchronous-operation-completion)

It checks
[code]
Status can never be "succeeded" here.
I think this if check could be removed, always performing the delay?

---
#### Document Details

⚠ *Do not edit this s

[2021-07-20 03:14] ram-msft commented on #78561
@danzel Thanks for the feedback! We will review and update accordingly.

[2021-07-20 03:18] SnehaAgrawal-MSFT commented on #78537
@trichardson010 Thanks for reaching here! Could you please share the document you are referring to help you better on this.

[2021-07-20 03:21] Karishma-Tiwari-MSFT commented on #78364
As described in the document, To remove AAD pod-managed identity from your cluster, remove the sample application and the pod identity from the cluster. Then remove the identity.

kubectl delete pod demo --namespace $POD_IDENTITY_NAMESPACE
az aks pod-identity delete --name ${POD_IDENTITY_NAME} --namespace ${POD_IDENTITY_NAMESPACE} --resource-group myResourceGroup --cluster-name myAKSCluster
az ide

[2021-07-20 03:21] #78364 closed

[2021-07-20 03:22] Karishma-Tiwari-MSFT commented on #78281
Apologies for the delay. Are you still seeing this issue?

[2021-07-20 04:14] MayankBargali-MSFT commented on #78558
@raybelline Thanks for reaching out. I will check with the APIM product team if this is something they are planning in the near future as currently this is not supported.

For any product related improvement or feature request you can always post your idea in our [feedback forum](https://feedback.azure.com/forums/248703-api-management) as Microsoft docs github issue are for document related issue/

[2021-07-20 05:05] SnehaAgrawal-MSFT commented on #78555
@connelhooley Thank you for your feedback! We will review and update as appropriate.

[2021-07-20 05:29] HarshitaSingh-MSFT commented on #78450
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-07-20 05:29] #78450 closed

[2021-07-20 05:35] AnuragSharma-MSFT commented on #78321
@poonkodi123 Awaiting your response on this.

[2021-07-20 05:51] HarshitaSingh-MSFT commented on #78407
Hello!
Just checking to see if you have had a chance to see the previous response. Kindly let us know if it answers your question and if you need further assistance on this issue.

[2021-07-20 06:22] hanslai commented on #78055
@rwike77 Sorry for the late reply.

The way, I do it now is in my `FixtureCollection` class  (I am using XUnit) create a HttpClient with all the necessary claims and attach the claims to`  httpClient.DefaultRequestHeaders.Authorization`  This way, I can just use the httpClient to call the protected Apis.

The problem for most reader I think is what are "necessary claims" for Azure AD or Azure AD B

[2021-07-20 06:24] SumanthMarigowda commented on #78443
@sharadkeshari Thanks for raising this question! Firstly, apologies for the delay in responding here. Your feedback has been shared with the content owner for further review.

[2021-07-20 06:50] SadiqhAhmed-MSFT commented on #78497
@VictorSago As mentioned in the previous post, If free trial was expired/suspended then in that case you may not see upgrade option. You may confirm this by raising a support with Azure subscription management team. Reference link - https://github.com/Huachao/azure-content/blob/master/articles/billing-how-to-create-billing-support-ticket.md#:~:text=How%20to%20create%20a%20support%20ticket%20for%20

[2021-07-20 06:53] Derek1101 opened #78563 "Discrepancy between en-us and zh-cn"
Hi there, we got a feedback regarding the section **Grant service permission to the virtual network** in this topic, pointing out that there is discrepancy between en-us and zh-cn and the zh-cn steps doesn't work, would you kindly take a look, thanks!
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2021-07-20 07:19] HarshitaSingh-MSFT commented on #78563
Hello @Derek1101 , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-07-20 07:29] Klaas- commented on #74845
@jaydestro did you see my comments? This is still not working

[2021-07-20 07:41] BrendM commented on #78563
I seem to be getting mentions in these Azure topics but I have no idea why. Maybe I was added by mistake?

[2021-07-20 07:43] HarshitaSingh-MSFT commented on #78563
May be because you are the designated doc owner of this issue?

[2021-07-20 07:46] BrendM commented on #78563
I never looked at these docs before so I am not sure how that happened

[2021-07-20 07:54] harelbr commented on #77924
@slavizh Thank you for this comment.
The schema (alertContext section) is different for dynamic threshold alerts, as it contains unique fields.
I've just issued an update to the documentation and added an example for a dynamic threshold alert. Thanks again!

[2021-07-20 08:16] psmanhas commented on #78456
@ibalasenthil We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

Thanks

[2021-07-20 08:16] #78456 closed

[2021-07-20 08:22] batamig commented on #77028
Hi @ThijsLecomte, thanks for sending your question to Microsoft docs! We always appreciate feedback and input from our users.
I checked with the dev team for this one and their response was as follows:

I don't think our docs are incorrect in this case, but I've added an item to our backlog to see how we can clarify this issue.
I'm going to close this issue in the meantime, but feel free to contin

[2021-07-20 08:22] #77028 closed

[2021-07-20 08:41] batamig commented on #78303
Hi @AndrewBlumhardt, thanks for sending your feedback in to Microsoft docs!

You have some great suggestions here, and I've opened a backlog item for ourselves to take a fresh look at this description with your comments in mind.

We'll also pass on your request for the descriptions in the rules themselves but can also recommend that you use the community resources linked from [Comment on our blogs

[2021-07-20 08:41] #78303 closed

[2021-07-20 08:43] Klaas- opened #78565 "endpoint category /metadata/login missing"
Hi,
I think this document is missing information about the metadata/login endpoint category.

I see this being used by azure ad ssh extension, and I am trying to figure out where the information is coming from and how usable it is:
`curl -H Metadata:true --noproxy "*" "http://169.254.169.254/metadata/login/users/{upn}?api-version=2019-03-11"`

What other calls can I make against the login category

[2021-07-20 08:49] MarcoPeretti opened #78566 "cannot query sp by id"
I could not retrieve the AppId this way.

$(az ad sp show --id http://$ACR_NAME-pull --query appId --output tsv)

I searched the AppId by display name,
az ad sp list --display-name $ACR_NAME-pull

then copied the value into
az keyvault secret set --vault-name <vault>--name <name>-pull-usr --value "<appId>

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2021-07-20 09:00] Donovand4 opened #78567 "Azure Virtual Desktop Contains Azure Monitors Whats New Content"
The Azure Virtual Desktop documentation contains the Azure Monitors Whats New Content in the tree view.

![image](https://user-images.githubusercontent.com/49915971/126293018-5123211b-3270-4801-adf1-012f9f1bcfcc.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce05945d-23a7-b582-55e1-ed0e7d6cd4e4
* Version Independe

[2021-07-20 09:01] andreflowers opened #78568 "Code doesn't work. The tutorial is impractical. Some classes are totally deprecated."
Code doesn't work. The tutorial is impractical. Some classes are totally deprecated.
These tutorials give an idea of ease in coding, an idea that we can quickly get something to work. But don't, and then, when we check the comments, we see that many people have already pointed out the problems without any solution from the authors.

This is even worse when other similar tutorials don't work either

[2021-07-20 09:02] jacqueskang commented on #78459
Thank you @AshokPeddakotla-MSFT for information. Maybe it worth adding a notice somewhere because IoT Central allows setting IoT Edge device as a downstream device, which make it confusing.

[2021-07-20 09:02] andreflowers opened #78569 "Code doesn't work. The tutorial is impractical. Some classes are totally deprecated. Months ago ..."
Code doesn't work. The tutorial is impractical. Some classes are totally deprecated.

These tutorials give an idea of ease in coding, an idea that we can quickly get something to work. But don't, and then, when we check the comments, we see that many people have already pointed out the problems without any solution from the authors.

This is even worse when other similar tutorials don't work eithe

[2021-07-20 09:08] SilviuTanasescu opened #78571 "Add details about scenarios where AAD Registration (WPJ) is useful and why it is mostly not recommended for VDIs"
In Microsoft CSS we have received multiple critical situation cases where the solution is to cleanup the Azure AD registration – aka Workplace Joined (WPJ) – details in VDI environments – persistent and non-persistent.

Reason is users are unknowingly performing WPJ with an account from domain A, while the machine is already domain joined (DJ), or even Azure AD Joined (AADJ), or Hybrid Azure AD Jo

[2021-07-20 09:09] runemy commented on #78210
Thanks. Looks like that this is only supported for linux containers right now. The AppService setting WEBSITE_PULL_IMAGE_OVER_VNET=true needs to be set.

[2021-07-20 09:19] tom-hacker opened #78572 "Page has no custom abstract"
Page has what looks like the default abstract for search results in it.
In Recommended Content it shows up as:
"Stream execution logs in Azure functions
115-145 characters including spaces. This abstract display in the search results"
![image](https://user-images.githubusercontent.com/33700800/126296086-fe321cc2-3ae7-47fe-ae78-a24e686d26e9.png)

Something like 'Learn how to view application logs i

[2021-07-20 09:23] tom-hacker opened #78573 "Page has no custom abstract"
Page has what looks like the default abstract for search results in it.
In Recommended Content it shows up as:
"Stream execution logs in Azure functions
115-145 characters including spaces. This abstract display in the search results"
![image](https://user-images.githubusercontent.com/33700800/126296617-e8d9e9b4-0a5c-4b66-add9-8997fe488321.png)

Something like 'Learn how to view application logs i

[2021-07-20 09:23] tom-hacker commented on #78572
Link is incorrect. Will close this issue and create a new one with correct link.
See #78573

[2021-07-20 09:23] #78572 closed

[2021-07-20 09:27] SnehaAgrawal-MSFT commented on #78548
@RonnieQuan Thank you for your feedback! We will review and update as appropriate.

[2021-07-20 09:29] AshokPeddakotla-MSFT commented on #78459
@jacqueskang Sure.
@dominicbetts Please consider this feedback and add a note in next update.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-07-20 09:29] #78459 closed

[2021-07-20 09:30] SnehaAgrawal-MSFT commented on #78550
@hdeleoncidenet Thank you for your feedback! We will review and update as appropriate.

[2021-07-20 09:41] MayankBargali-MSFT commented on #78573
@tom-hacker Can you refer to the document for which you observed the issue? As I couldn't find on the [document ](https://docs.microsoft.com/en-us/azure/azure-functions/streaming-logs)for which you have created the issue.

[2021-07-20 09:44] SnehaAgrawal-MSFT commented on #78568
@andreflowers Thank you for your feedback! We will review and update as appropriate.

[2021-07-20 09:48] SnehaAgrawal-MSFT commented on #78569
@andreflowers Thank you for your feedback! We will review and update as appropriate.

[2021-07-20 09:48] dominicbetts commented on #78459
@AshokPeddakotla-MSFT - thanks - I'll get a note added to the docs shortly.

[2021-07-20 09:49] VikasPullagura-MSFT commented on #78567
@Donovand4
Thanks for pointing this out. I have assigned the issue to content author to check and update the document as appropriate.

[2021-07-20 09:49] VikasPullagura-MSFT commented on #78567
@Heidilohr
Can you please check and add your comments on this doc update request as applicable.

[2021-07-20 09:52] HarshitaSingh-MSFT commented on #78560
Hello @v-hakob , thanks for the question! We are taking a look into this and will get back to you soon.

[2021-07-20 09:57] kalyanmit commented on #70729
No I did not find any conclusion

--

Thanks & Regards,

Kalapala Sai Kalyan

Mobile: +91 8125625226

Email: ***@***.*** ***@***.***>
[image: twitter] <https://twitter.com/kalyankalapala7>[image: linkedin]
<https://www.linkedin.com/in/kalapalasaikalyan/>[image: instagram]
<https://www.instagram.com/kalyan_kalapala/>
<https://www.designhill.com/email-signature-generator>
<https://www.designhill.com

[2021-07-20 10:00] AnuragSharma-MSFT commented on #78406
@fredobas Awaiting your response on this.

[2021-07-20 10:09] jcruiz commented on #77604
Hello @Vama97 sorry for the delay in responding.  Azure AD Verifiable Credentials is in public preview, equivalent to a beta version. This preview version is provided without a service level agreement, and it's not recommended for production as the product is evolving during this time.

The team would love to understand more about the use case that you would like to use Azure AD VCs in production,

[2021-07-20 10:13] jcruiz commented on #76469
@thisisraghavkumar sorry for the delay. Please go through the scenario again when the authenticator fails, tap in the authenticator menu -> send feedback -> Having trouble? -> Option ( verifiable credentials)  and share the entry code that you get after you submit so we can review internally more details about the error.

[2021-07-20 10:22] jacqueskang opened #78575 "Missing details about setup to deliver metrics messages arriving at IoT Hub to Log Analytics workspace"
Would be nice to have more details about the extra setup mentioned here. With diagnostic settings? Which log/metric categories to be configured?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b6f53323-f01c-5eb0-6f98-c0c8914bd610
* Version Independent ID: b3e85483-faaf-22d2-e72c-1e2fb3ba0066
* Content: [Collect and tran

[2021-07-20 10:23] yutaro113 opened #78576 "Retention Period of Function Execution Log generated on LogFiles directory wanted to be mentioned."
Hi Team,
Regarding the request in the title, I found Function Exection log generted on LogFiles/Application/Functions/function/*FuncitonName* (at Kudu) is continuously deleted by platform. (It seems platform delete logs more than 24 hours ago).

That fact and role of this log (I guess this is for temporary debug purpose so user should not  use this log for usual monitoring purpose) wanted to be me

[2021-07-20 10:37] G0PINATH-WW opened #78577 "Document on how to generate SAS Container token for sv=2020-08-04"
When I generate a SAS using
$sas = New-AzStorageContainerSASToken -Container containername -Permission "rwdl" -Protocol HttpsOnly -StartTime (get-date) -ExpiryTime (Get-DAte).adddays(1)

I can download the blobs using curl <blobur><sas>
However when I tried to download the blob's version using ?versionId=<verid> its complaining about malformed URL.
∩╗┐<?xml version="1.0" encoding="utf-8"?><Error><

[2021-07-20 10:37] harithamaddi-ops commented on #78212
Thanks @normesta, I will wait to check the update. If its fine to ask another question in same thread, can you please suggest if we can use AD Authentication when we are moving multiple files from one ADLS Gen2 storage account to another.

[2021-07-20 10:41] psmanhas commented on #78566
@MarcoPeretti Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2021-07-20 10:43] psmanhas commented on #78565
@Klaas- Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-07-20 10:43] psmanhas commented on #78565
@KumariSupriya Can you please check and add your comments on this doc update request as applicable

[2021-07-20 10:45] Klaas- commented on #75725
Hi,
I tend to suggest to use az ssh for rolling out personal ssh keys to authorized_keys file. After that you can use any ssh client like you would normally do and aad is only used for verification of the username/iam rights. I do however think that Microsoft has an easy opportunity to extend their current setup to store a users public ssh keys in AAD and then use those for login.

[2021-07-20 10:48] karkavi980 opened #78578 "How does the tool calculate the RESOURCE REQUIREMENT for a container??"
How does the tool calculate the RESOURCE REQUIREMENT for a container??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad16ffec-174f-c694-5367-a0f54940dfc6
* Version Independent ID: 6ad1098a-ca08-2f48-2858-b54f67605a40
* Content: [Azure App Containerization ASP.NET; Containerization and migration of ASP.NET applications

[2021-07-20 11:00] AjayKumar-MSFT commented on #78572
Thanks for the update and referencing the thread.

[2021-07-20 11:06] mateinavidad commented on #78133
Hi @nickgmicrosoft, thank you for the proposed workaround. For now, I would prefer to keep things as they are, as we would have to first test this in our TestTenant, check all AppRegistrations configurations and then plan the same for our production tenant.

Before I add it to our tech track, can you please confirm the following:
Once you enable listening for _oauth2AllowIdTokenImplicitFlow_ and i

[2021-07-20 11:09] yoelhor commented on #78543
We are about to delete this article. Please use the [new version](https://docs.microsoft.com/en-us/azure/active-directory-b2c/configure-authentication-sample-web-app).

[2021-07-20 11:15] SadiqhAhmed-MSFT commented on #78578
@karkavi980 Thank you for your post. We will look into this and get back to you shortly.

[2021-07-20 11:21] yoelhor commented on #77691
Dear @mrochon , thanks for the feedback. I'm updating the article with the relevant information. A new version will publish later today, and this GitHub issue will be closed automatically (before the doc is published). If you have any questions or need further information, please open new GitHub issue.

[2021-07-20 11:34] yoelhor commented on #77761
Some of the [starter packs](https://github.com/Azure-Samples/active-directory-b2c-custom-policy-starterpack/tree/master/SocialAndLocalAccounts) don't have the `issuerUserId` claim type. For example, the [LocalAccounts](https://github.com/Azure-Samples/active-directory-b2c-custom-policy-starterpack/tree/master/LocalAccounts) which is intended to sign-in only with local account and not with a federa

[2021-07-20 11:35] #77691 closed

[2021-07-20 11:40] AshokPeddakotla-MSFT commented on #78575
@jacqueskang Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-07-20 11:41] GitaraniSharma-MSFT commented on #78464
@Thorium , I checked internally and found the same issue reported by another customer which was resolved a day after on it's own. But since you are still facing the issue, it would need further investigation with the collection of backend logs to check the creation of resources in the backend and the actual cause of this issue.

So if you have a support plan, I request you file a support ticket, e

[2021-07-20 11:42] MayankBargali-MSFT commented on #78573
@tom-hacker I have found the issue and Thanks for reporting this item! I have updated the doc and it will be published once it is approved. We appreciate the feedback!

[2021-07-20 11:51] GitaraniSharma-MSFT commented on #78380
@tullydwyer , I'm following up on my above comment. Could you please send the requested information over email?

[2021-07-20 11:52] memildin commented on #75530
Hi @ivanthelad, thanks for the feedback and for taking the time to help us improve the docs.

I've updated the page to specify that currently you can't deploy the Log Analytics agent to AKS VMSS nodes. The change will go live within 12hrs.

I'm going to close this issue, but feel free to comment again here or open a new one if you have additional requests.

#please-close

[2021-07-20 11:52] #75530 closed

[2021-07-20 11:56] Klaas- opened #78581 "Migration from previous preview"
Hi,
I tried to migrate a server from old to new extension and I ran into several problems:

1. removing the aadlogin* packages only works if no one is logged in that is using this extension

aaduserdel: user me@tld is currently used by process 42371
error: %preun(aadlogin-1.0.016050002-1.x86_64) scriptlet failed, exit status 8

I am guessing you can safely ignore that a user is still logged in or

[2021-07-20 11:57] craigshoemaker commented on #78169
I updated the [main auth article](https://github.com/MicrosoftDocs/azure-docs-pr/pull/166196) with this information as well.

[2021-07-20 12:10] hyoshioka0128 opened #78582 "[LOC]Unnecessary asterisks are displayed (ja-jp)"
ja-jp:"https://docs.microsoft.com/ja-jp/azure/databricks/integrations/bi/looker"
![bi_looker_j](https://user-images.githubusercontent.com/40815708/126321458-bd2dfb4c-c6b5-40c2-89a9-39f36970c2e1.png)

en-us:"https://docs.microsoft.com/en-us/azure/databricks/integrations/bi/looker"
![bi_looker_e](https://user-images.githubusercontent.com/40815708/126321478-092a2e39-f4c5-4ae6-a331-59c2ad1889fa.png)

[2021-07-20 12:13] mmisztal1980 opened #78583 "ARM sample?"
[Enter feedback here]
The page fails to illustrate how to enable this feature with an ARM deployment

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a26e9dfe-c152-881c-5c60-e5753e0e4d2e
* Version Independent ID: e56264a6-3476-9b5f-c800-2c528129c2e2
* Content: [Azure Kubernetes Service (AKS) with Uptime SLA - Azure Kuber

[2021-07-20 12:16] hyoshioka0128 opened #78584 "[LOC]Unnecessary asterisks are displayed (ja-jp)"
ja-jp:"https://docs.microsoft.com/ja-jp/azure/databricks/kb/notebooks/get-notebooks-deleted-user"
![get-notebooks-deleted-user_j](https://user-images.githubusercontent.com/40815708/126322147-eb56a5e5-410b-4416-bed2-8e86714dd041.png)

en-us:"https://docs.microsoft.com/en-us/azure/databricks/kb/notebooks/get-notebooks-deleted-user"
![get-notebooks-deleted-user_e](https://user-images.githubuserconten

[2021-07-20 12:33] jacqueskang commented on #78575
Sorry I'm tired. Just saw there is an sample workflow below. Closing

[2021-07-20 12:33] #78575 closed

[2021-07-20 12:39] v-bbalaiagar opened #78586 "Warmup Trigger not running, when App Service Authentication/Authorization is turned on"
Warm up trigger should be able to run, even if authentication is switched on.

Repro steps:

1.Switch Authentication on
2.Deploy Azure Function
3.Warmup Trigger is not running
4.Switch Authentication completely off (allow anonymous requests is not enough)
5.Deploy Azure Function
6.Warm Up trigger runs

Expected behavior:

Warm up trigger should be able to run, even if authentication is switched on

[2021-07-20 12:48] annerajb commented on #78481
I found why I couldn't find it... it's abbreviated and I didn't notice it.
![image](https://user-images.githubusercontent.com/882782/126326786-addc7d5e-8c57-4214-b3ae-9dab47ea91bd.png)

[2021-07-20 12:50] shashishailaj commented on #78571
@SilviuTanasescu Thank you for sharing the feedback and the details. We are requesting a review from the content team on this to take this forward accordingly .

[2021-07-20 12:51] shashishailaj commented on #78559
@KeithwNZ Thank you for your feedback . We will investigate and update the thread.

[2021-07-20 12:53] shashishailaj commented on #78577
@G0PINATH-WW Thank you for your feedback . We will investigate and update the thread .

[2021-07-20 12:55] shashishailaj commented on #78581
@Klaas- Thank you for sharing your findings . We will have this reviewed and pass the feedback to the product group .

[2021-07-20 13:10] hbalaci commented on #78432
I believe that this version of the diagram describes the workflow much better.
Thanks for the update.

[2021-07-20 13:10] #78432 closed

[2021-07-20 13:13] kalyankalapala commented on #52606
I've tried all of these but the issue still remains

[2021-07-20 13:23] ZeroRows opened #78587 "North and West Europe Gateway IP Address Subnets Incorrect"
Hi,

The Gateway IP Address Subnets listed for the Azure SQL Gateways in North and West Europe don't match the currently assigned IP addresses.

North Europe Gateway IPs - 40.113.93.91, 52.138.224.1, 13.74.104.113
North Europe Gateway Subnets - 13.69.233.136/29, 13.74.105.192/29, 52.138.229.72/29

West Europe Gateway IPs - 40.68.37.158, 104.40.168.105, 52.236.184.163
West Europe Gateway Subnets -

[2021-07-20 13:39] GitaraniSharma-MSFT commented on #78464
@Thorium , thank you for your email. We've enabled a one-time free technical support for you. Please follow the steps and raise the support request for further investigation. We will continue to discuss this issue over emails.

We are closing this Github thread for now. If the support team find the issue with the ARM template, we will re-open this issue for correction.

[2021-07-20 13:39] #78464 closed

[2021-07-20 13:42] pohorely commented on #78388
@ThomasWeiss Thank you for the clarification.

[2021-07-20 13:42] #78388 closed

[2021-07-20 13:51] leonmelein opened #78588 "Parallelize FS operations: wrong programming language used in example code"
While trying out this example in Azure Databricks, I found that the example code provided is written in Scala. The document indicates that it is Python code, but this is incorrect. This is also wrongly stated in the corresponding document in the [Databricks Knowledge Base](https://kb.databricks.com/dbfs/parallelize-fs-operations.html).

---
#### Document Details

⚠ *Do not edit this section. It is

[2021-07-20 14:07] jd1984 opened #78589 "Permissions?"
"In case of Unknown, the detailed error message will describe the issue and actions needed." returns:

"The evaluation could not be performed, this user does not have appropriate permissions. Please contact your administrator to request permissions"

What AAD roles are required to use the 'Validate Rules (Preview)'?

Thank You

---
#### Document details

⚠ *Do not edit this section. It is required

[2021-07-20 14:08] jd1984 commented on #77605
do you have any updates yet? thank you

[2021-07-20 14:19] lanicolas opened #78590 "Broken link"
Hello,

The link pointing to the procedure to generate a new access token is broken and returns a 404. It can be found on the paragraph:

 When you're automating token refresh, use t**his management API operation** to generate a new token.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc120706-8993-1b82-d2c8-d4cd07204c

[2021-07-20 14:21] gfraiture opened #78591 "no kernel Synapse PySpark"
Dear,

After having done step 11:
Select all the code, right-click the script editor, and select Synapse: Pyspark Interactive to submit the query.

I don't have any Synapse PySpark kernel listed in vscode.

Could you please help ?

Thanks,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 140b2a17-3cce-fe45-16ca-619ba9295

[2021-07-20 14:22] SubhashVasarapu-MSFT commented on #77926
@prasenjitcloudgurua, Apologies for the delay in response. I have tested this internally where the resolution took place without any error. Are you still facing this issue?

[2021-07-20 14:33] MonikaReddy-MSFT commented on #77483
@ChuckRenner  - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2021-07-20 14:37] GitaraniSharma-MSFT commented on #78391
@Herman5006 , as per [this faq](https://docs.microsoft.com/en-us/azure/expressroute/expressroute-faqs#microsoft-peering), To validate availability for a specific service, you can check the documentation for that service to see if there is a reserved range published for that service. Then, look up the IP ranges of the target service and compare with the ranges listed in the [Azure IP Ranges and Ser

[2021-07-20 14:39] SubhashVasarapu-MSFT commented on #77881
@spotakash , Apologies for the delay in response. Hope you have referred the password limitation of 4 to 12 characters here. Else, everything looks fine. Could you please confirm on this? Thanks!

[2021-07-20 14:56] jasonfritts opened #78594 "No PowerShell examples for Azure Resource provider in PIM"
Can we get a similar example for how to assign Azure Resource roles in AzureADPreview powershell module for PIM?  Similar to https://www.jasonfritts.me/2021/07/20/automating-azure-privileged-identity-management-pim-with-powershell/  .  Could not find any public doc examples and there are some confusing differences between Azure AD provider example and Azure Resources scenario.

---
#### Document D

[2021-07-20 14:57] tgpmoraes opened #78595 "Source Type"
[Enter feedback here]

Currently, Synapse Studio is differently than the documentation:

![image](https://user-images.githubusercontent.com/8151342/126346406-24d4b590-39ae-4b2c-83c2-9442c4341159.png)

I didn't find information about:
- Integration Dataset
- Inline
- Workspace DB

Could you please provide the information?

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2021-07-20 14:58] fgheysels opened #78596 "Message enrichment and routing does not work with $twin.tags for IoT Edge devices"
I was experimenting with IoT Hub message enrichment and routing, but ran into an issue.

I have created an IoT Edge device and specified some tags in the Identity Twin of the device.  For instance:
[code]

I have defined message enrichments and routes in IoT Hub based on the tags that I've added in the Identity Twin of the device.
 For instance, my enrichment looks like this:

[code]

When I inspe

[2021-07-20 14:59] AwdotiaRomanowna opened #78597 "use current version of documentation instead od pointing to 9.6"
there is link to 9.6 postgres docs version used:
![image](https://user-images.githubusercontent.com/17368813/126346890-4d52eb8f-dbbc-4cb1-a82a-f96e8b522005.png)

Instead of pointing to concrete version would be better just to use "current":
as of now:
https://www.postgresql.org/docs/9.6/app-pgdump.html#PG-DUMP-EXAMPLES
with current:
https://www.postgresql.org/docs/current/app-pgdump.html#PG-DUMP-E

[2021-07-20 15:05] AwdotiaRomanowna opened #78598 "why oids are used for pg_dump"
hi,
why with oids option (-o) is used to make pg_dump?
![image](https://user-images.githubusercontent.com/17368813/126348143-e2b5bc25-f087-4d96-8257-a47b41b8b31f.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 261bad06-6551-260a-cbae-9f17f7e84246
* Version Independent ID: 3e542277-4062-97dd-5039-b460d1e7f140
* Cont

[2021-07-20 15:08] roygara commented on #78559
@KeithwNZ Thanks for reaching out, we appreciate it! Newer versions are supported as well. We'll update the article to make that explicit. Those changes will be live later today.

@shashishailaj FYI

[2021-07-20 15:10] AwdotiaRomanowna opened #78599 "no owner and no privileges for db?"
why no owner and no privileges options are used here?

![image](https://user-images.githubusercontent.com/17368813/126348707-a232dd58-dfd6-447d-8112-71605eb46c42.png)

It should be explained why since both are very important for the system to work.
also if used without it - might be worth to add an instruction how to add them later on

---
#### Document Details

⚠ *Do not edit this section. It is

[2021-07-20 15:16] roygara commented on #78559
#please-close

[2021-07-20 15:16] #78559 closed

[2021-07-20 15:16] timrhaynes commented on #78485
Thanks, James! I don't see your commit or PR, but maybe I'm not looking in the right place? History for the identity-provider-appid.md file only shows this:

Maybe I'm looking at the right file?
ThanksTim

    On Monday, July 19, 2021, 01:23:32 PM EDT, James Tran-MSFT ***@***.***> wrote:

@timrhaynes
Thank you for pointing this out! I've created a PR to update the documentation and it's currently

[2021-07-20 15:16] shashishailaj commented on #78559
Thank you @roygara for helping out on this. Much appreciated.

@KeithwNZ We will now close this issue. The changes have been pushed and will be available as per the content convergence . We will close this issue now.

[2021-07-20 15:16] ermacia91 commented on #78557
@Leicham that is not accurate:

![image](https://user-images.githubusercontent.com/40667809/126349921-952bc985-c871-419c-a716-4614a895b8af.png)

[2021-07-20 15:18] dave22000 commented on #77612
@JamesTran-MSFT could I get an update on this one?

[2021-07-20 15:23] ermacia91 commented on #78557
@Leicham I see it now, sorry. Still, that is a small aside to call out when the main feature of selecting the specific users does not seem accurate.

[2021-07-20 15:30] mhmoore12 commented on #78062
Hi @MonikaChaudhary25 - bumping this thread again. Should I raise a new issue or submit an Azure support ticket?

[2021-07-20 15:45] msmbaldwin commented on #75212
We have updated the article (and screenshots therein) to remove references to "preview".  Thank you, @andrew-twigg! #please-close

[2021-07-20 15:45] #75212 closed

[2021-07-20 15:57] ggailey777 commented on #77667
We're working on a full reference article for Core Tools (func.exe). In the meantime, you can find this info in [this article](https://docs.microsoft.com/azure/azure-functions/durable/durable-functions-instance-management?tabs=csharp#delete-a-task-hub).

[2021-07-20 15:59] Marusyk opened #78601 "It is only valid for dotnet 3.1"
The doc is only valid for dotnet 3.1. It would be great to specify it somewhere in the doc.
Currently, there are no possibility to do the same for functions with target framework net5.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d505ab9-d351-6650-6d0c-bb65d2daa229
* Version Independent ID: 2a1d3487-a93d-2206-7ef9-

[2021-07-20 16:03] Datatech-AK commented on #75124
Thank you!

[2021-07-20 16:06] AwdotiaRomanowna opened #78603 "query files are not written to the disk"
there is an error here:

![image](https://user-images.githubusercontent.com/17368813/126357561-af7be2f6-73db-40ab-8539-8e99c223df09.png)

no writes to disk are happenning - the queries are kept in the shared memory. Only if shutdown is happening those get saved to the disk and also only if pg_stat_statements.save is on.

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2021-07-20 16:22] theonlycoder opened #78606 "Clarification regarding whether TPM is required"
Hi all,

Within the [Additional considerations](https://docs.microsoft.com/en-us/azure/active-directory/devices/hybrid-azuread-join-plan#additional-considerations) section there are a number of considerations that relate to TPMs.

As far as I'm aware, a TPM isn't a prerequisite for hybrid join. Although the article does not state that a TPM is required, the fact that it refers to different TPM con

[2021-07-20 16:29] dlepow commented on #73961
@ig2bagd - Apologies for slow response. Your issue appears similar to one reported in https://github.com/MicrosoftDocs/azure-docs/issues/24857 related to running the command on Git Bash. The solution discussed there is to export the following environment variable: `export MSYS_NO_PATHCONV=1 `
Does this help?

[2021-07-20 16:30] ChaitanyaNaykodi-MSFT commented on #78590
Hello @lanicolas,
Thank you for your feedback! We will review and update as appropriate.

[2021-07-20 16:36] SaurabhSharma-MSFT commented on #78587
<div style="font-family: &quot;segoe ui&quot;, &quot;segoe ui web (west european)&quot;, &quot;segoe ui&quot;, -apple-system, blinkmacsystemfont, roboto, &quot;helvetica neue&quot;, sans-serif; font-size: 10.5pt; color: rgb(50, 49, 48);"><a target="_blank" class="user-mention" data-hovercard-type="user" data-octo-click="hovercard-link-click" data-octo-dimensions="link_type:self" data-hovercard-url

[2021-07-20 16:36] whhender commented on #78552
Looking into this to correct it. Thank you for pointing it out!

[2021-07-20 16:42] SaurabhSharma-MSFT commented on #78597
<div style="font-family: &quot;segoe ui&quot;, &quot;segoe ui web (west european)&quot;, &quot;segoe ui&quot;, -apple-system, blinkmacsystemfont, roboto, &quot;helvetica neue&quot;, sans-serif; font-size: 10.5pt; color: rgb(50, 49, 48);"><a target="_blank" class="user-mention" data-hovercard-type="user" data-octo-click="hovercard-link-click" data-octo-dimensions="link_type:self" data-hovercard-url

[2021-07-20 16:44] SaurabhSharma-MSFT commented on #78598
<div style="font-family: &quot;segoe ui&quot;, &quot;segoe ui web (west european)&quot;, &quot;segoe ui&quot;, -apple-system, blinkmacsystemfont, roboto, &quot;helvetica neue&quot;, sans-serif; font-size: 10.5pt; color: rgb(50, 49, 48);"><a target="_blank" class="user-mention" data-hovercard-type="user" data-octo-click="hovercard-link-click" data-octo-dimensions="link_type:self" data-hovercard-url

[2021-07-20 16:46] SaurabhSharma-MSFT commented on #78599
<div style="font-family: &quot;segoe ui&quot;, &quot;segoe ui web (west european)&quot;, &quot;segoe ui&quot;, -apple-system, blinkmacsystemfont, roboto, &quot;helvetica neue&quot;, sans-serif; font-size: 10.5pt; color: rgb(50, 49, 48);"><a target="_blank" class="user-mention" data-hovercard-type="user" data-octo-click="hovercard-link-click" data-octo-dimensions="link_type:self" data-hovercard-url

[2021-07-20 16:48] SatishBoddu-MSFT commented on #78596
Hello @fgheysels
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-20 16:48] SaurabhSharma-MSFT commented on #78603
<div style="font-family: &quot;segoe ui&quot;, &quot;segoe ui web (west european)&quot;, &quot;segoe ui&quot;, -apple-system, blinkmacsystemfont, roboto, &quot;helvetica neue&quot;, sans-serif; font-size: 10.5pt; color: rgb(50, 49, 48);"><a target="_blank" class="user-mention" data-hovercard-type="user" data-octo-click="hovercard-link-click" data-octo-dimensions="link_type:self" data-hovercard-url

[2021-07-20 16:55] SatishBoddu-MSFT commented on #78596
Hello @fgheysels May I know what is the Tier of your IoTHub? Basic or Standard?

[2021-07-20 17:01] MicrosoftGuyJFlo commented on #78540
For Azure Government these are the three key URLs

https://enterpriseregistration.microsoftonline.us
https://login.microsoftonline.us
https://device.login.microsoftonline.us

[2021-07-20 17:03] Karishma-Tiwari-MSFT commented on #78586
Thanks for your question. Please provide us with the link to the documentation you are referring to so we can better assist.

[2021-07-20 17:03] JamesTran-MSFT commented on #78485
@timrhaynes
Thank you for the follow up on this!

I reached out to my team to review my PR and its been merged.  Please allow some time for the changes to reflect and if you don't see the document update, please let me know.
![image](https://user-images.githubusercontent.com/36619112/126365670-83f0973c-1001-4feb-a28e-76678201e46e.png)

Thank you for your time and patience!

[2021-07-20 17:06] JamesTran-MSFT commented on #78594
@jasonfritts
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-07-20 17:08] JamesTran-MSFT commented on #78606
@theonlycoder
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-07-20 17:11] JamesTran-MSFT commented on #78589
@jd1984
Thanks for your feedback! We will investigate and update as appropriate.

[2021-07-20 17:18] JamesTran-MSFT commented on #78589
@jd1984
From our - [Azure AD built-in roles documentation](https://docs.microsoft.com/en-us/azure/active-directory/roles/permissions-reference), you should be able to use the Groups Administrator, User Administrator, Intune Administrator, or Directory Writer roles, to Update the dynamic membership rule on Security groups and Microsoft 365 groups, excluding role-assignable groups.

![image](https:/

[2021-07-20 17:25] HarshitaSingh-MSFT commented on #78399
Hello!
Just checking to see if you have had a chance to see the previous response. Kindly let us know if it answers your question and if you need further assistance on this issue.

[2021-07-20 17:28] YutongTie-MSFT commented on #78359
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2021-07-20 17:28] #78359 closed

[2021-07-20 17:29] HarshitaSingh-MSFT commented on #78144
I have created a PR internally and getting it reviewed.

[2021-07-20 17:32] dlepow commented on #78566
@MarcoPeretti - Thanks very much for letting us know about  the issue. A change was introduced around Azure CLI version 2.25.0 in the `az ad sp show` command that prevents retrieving the appID directly. The solution here as you correctly noted is to use the `az ad sp list` command instead. I will update the script and publish an update soon. Cheers.

[2021-07-20 17:33] MicrosoftGuyJFlo commented on #78540
@miketheitguy

I have added this to my backlog for updates to the devices docs that are currently in progress. Going to close out this issue for now but will comment back when the changes go live in the future. #please-close

[2021-07-20 17:33] #78540 closed

[2021-07-20 17:33] #78144 closed

[2021-07-20 17:38] MicrosoftGuyJFlo commented on #78606
The documented scenarios are fairly clear. I will add this to my backlog when we update the doc to try and make more clear. #please-close

[2021-07-20 17:38] #78606 closed

[2021-07-20 17:39] KranthiPakala-MSFT commented on #78475
Hi @markgar - We will now proceed to close this thread as we are engaging offline in teams. Please feel fee to let us know if you still have access issues to the source file.

Thank you

[2021-07-20 17:39] #78475 closed

[2021-07-20 17:40] whhender commented on #78552
This has been updated, and you'll see it reflected shortly in the public documentation. Thank you again!

[2021-07-20 17:41] whhender commented on #78552
#please-close

[2021-07-20 17:41] #78552 closed

[2021-07-20 17:43] MicrosoftGuyJFlo commented on #78571
Forwarding to the PG for thoughts and feedback. Thanks for your ideas. #please-close
@SanDeo-MSFT Thoughts?

[2021-07-20 17:43] #78571 closed

[2021-07-20 17:45] KranthiPakala-MSFT commented on #78582
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2021-07-20 17:46] KranthiPakala-MSFT commented on #78582
@leifbro - Could you please review this feedback and update the source content as needed? - Thank you

[2021-07-20 17:46] zaalion opened #78607 "We need to have a health check endpoint for premium function app so the load balancers can call to verify health of the API"
[](url)
[Enter feedback here]
Hello,

We need to have a health check endpoint for our premium function apps, so the load balancers can call it to determine the health of the functions. However, Microsoft does not recommend health checks for premium functions. What other options do I have?

https://docs.microsoft.com/en-us/azure/app-service/monitor-instances-health-check#limitations

Thanks
R

---

[2021-07-20 17:46] theonlycoder commented on #78606
@MicrosoftGuyJFlo thanks for coming back. The scenarios are fairly clear, but that wasn't really my point. My point was that discussing various considerations around TPM configuration can easily be read as implying that a TPM is required. I certainly came away unsure and at least [one other person](https://www.reddit.com/r/AZURE/comments/i5d6ox/tpm_20_required_for_azure_hybrid_ad_join/) did too. O

[2021-07-20 17:47] KranthiPakala-MSFT commented on #78584
Thanks for the feedback and bringing this to our attention. As this is a duplicate of [this GitHub issue](https://github.com/MicrosoftDocs/azure-docs/issues/78582). We will now proceed to close this as duplicate as we are tracking on the referenced GitHub issue.

Please feel free to let us know if you have further query.

Thank you

[2021-07-20 17:47] #78584 closed

[2021-07-20 17:49] DerekHerman-MSFT commented on #78550
Thanks for the feedback!  I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-07-20 17:50] KranthiPakala-MSFT commented on #78591
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-07-20 17:52] KranthiPakala-MSFT commented on #78595
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-07-20 17:54] KranthiPakala-MSFT commented on #78588
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2021-07-20 17:54] MicrosoftGuyJFlo commented on #75725
@SanDeo-MSFT Feedback for you on the Linux VM Preview configuration.

[2021-07-20 17:54] KranthiPakala-MSFT commented on #78588
@leifbro  - Could you please review this feedback and update the doc as needed ? - Thank you

[2021-07-20 18:01] PhaedrusM42 commented on #78019
Do I still need to create some other issue/defect to get this fixed?

[2021-07-20 18:03] MicrosoftGuyJFlo commented on #78194
Follow up from the product group... Security defaults should apply to guest users as well.

If you are seeing otherwise can you follow up with me via email (in my profile) so we can further troubleshoot.

[2021-07-20 18:03] MicrosoftGuyJFlo commented on #78194
#please-close

[2021-07-20 18:03] #78194 closed

[2021-07-20 18:09] ecfan commented on #78019
@PhaedrusM42: Thanks for your follow-up! No, now that I raised the issue, you don't have to take action, but it might reinforce the need if you respond on the other thread: https://github.com/Azure/azure-quickstart-templates/issues/11639

[2021-07-20 18:10] KranthiPakala-MSFT commented on #78538
We have notified and assigned this  issue to the content author. They are working on update doc along with the fix.

Thanks much for bringing this to our notice.

[2021-07-20 18:15] bwren commented on #78325
#reassign: robb

[2021-07-20 18:15] duongau commented on #78438
@RonnieQuan - the limits for the number of virtual networks per circuits are hard limits like @tfitzmac said. The number of virtual networks are bounded to the SKU and bandwidth selection.

[2021-07-20 18:15] PRMerger17 commented on #78325
robb is not a valid GitHub ID, or is not a collaborator on this repo.

[2021-07-20 18:16] bwren commented on #78325
#reassign: rboucher

[2021-07-20 18:20] RyanHill-MSFT commented on #78354
Hi @bkwdesign,

The three dots are the Publish page of your web job project. To open, it's under the _PublishProfiles_ folder under the project's _Properties_.

![image](https://user-images.githubusercontent.com/47189704/126374285-b61d6c81-d068-4249-9655-c10b98e50b63.png)

I'm not certain what _Actions_ you may be referring to but isn't obsolete, see screen shot above. This image is from 16.11.0 P

[2021-07-20 18:20] #78354 closed

[2021-07-20 18:22] ecfan commented on #78262
@gastonmuijtjens: Thanks for reaching out! We've added the work item to the doc backlog for triage and prioritization.

@SamaraSoucy-MSFT: #please-close

[2021-07-20 18:22] #78262 closed

[2021-07-20 18:26] duongau commented on #74975
@krispenner We have update our documentation to better clarify that section. If you have any other question please feel free to reach out again.

#please-close

[2021-07-20 18:26] #74975 closed

[2021-07-20 18:28] tfitzmac commented on #78438
@duongau - thanks for that clarification.

@RonnieQuan - we'll close this issue.
#please-close

[2021-07-20 18:28] #78438 closed

[2021-07-20 18:30] normesta commented on #78212
Hi @harithamaddi-ops - no problem. Yes you can use Azure AD auth for Data Lake Storage Gen2 enabled accounts when copying between accounts. However, you'll still need a SAS for the source URL. With AD Auth, you can only omit the SAS from the destination URL. This article has examples - https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azcopy-blobs-copy?toc=/azure/storage/blobs/toc.

[2021-07-20 18:31] SubhashVasarapu-MSFT commented on #74257
@kirkmj , Apologies for the delay in response. Agree with your point. By turning on cookie-based affinity, the user will stick to the same server. We will work on updating the doc accordingly.

[2021-07-20 18:47] JayaChatterjee-MSFT commented on #78494
Hello @Vipin-Sharma, could you try `az logout` and `az login` to make sure you are on the right account. Then try to run this command :  `az functionapp show --name fappname --resource-group <RG>` and let us know if that works fine for you.

[2021-07-20 18:57] #62876 closed

[2021-07-20 19:03] ShiningMassXAcc opened #78609 "SQL security assessment scan results in LogAnalytics"
Would be great if there was a direct (or more direct) connection to pipe this solution to log analytics.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 96e129fb-ad18-ca97-d020-aaf5c6b2c74f
* Version Independent ID: d7a88d51-9803-f308-3517-01dfbcf12f5d
* Content: [Store Vulnerability Assessment scan results in a storage

[2021-07-20 19:07] vyta opened #78610 "Add limitation around inability to hit the identity endpoint from an init container"
There should be a callout to a limitation of [this](https://docs.microsoft.com/en-us/azure/container-instances/container-instances-managed-identity#use-user-assigned-identity-to-get-secret-from-key-vault) working in init containers at the moment

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4bb823e-1c72-5777-bdd6-e89

[2021-07-20 19:13] AnuragSharma-MSFT commented on #78321
@poonkodi123 Due to lack of response, we will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-07-20 19:13] #78321 closed

[2021-07-20 19:26] crisansou opened #78611 "Documentation doesn't show how to check the progress of function creation in Azure Portal"
Hello,

The documentation says "It may take several minutes before the image has loaded. You can monitor progress using the Azure Portal", but it does not show you how to monitor progress in the portal. Where can I check this information?

I followed the tutorial until the end and when I put the file in the input directory, nothing happens. Also, I can't see the created function.

![image](https:/

[2021-07-20 19:26] KranthiPakala-MSFT commented on #78582
Thanks for the update @leifbro .

@mssaperla - Could you please review this issue and assign it to the appropriate team who can fix this? - Thank you

[2021-07-20 19:28] pvrk commented on #78532
@prosprice : Thanks for pointing this out. Updated the document and removed the part about updating. We do have plans to add it and I will update the document again when the update functionality is enabled.

[2021-07-20 19:47] gvanteylingen opened #78612 "Updates needed to Azure NetApp Files sections"
Hi, Geert van Teylingen (b-gevant@microsoft.com) here, Azure NetApp Files PM. There are quite some updates needed to this page with respect to ANF data points. Can I work with the author directly to get those updated asap?

Please reach out to me on mentioned email  address.
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2021-07-20 19:48] konichi3 commented on #78188
Yes, steps for debugging for C/C++ in VS Code are still valid

[2021-07-20 20:05] jonburchel commented on #77849
Thanks @andybooth for catching this.  I updated the doc now and it should be published in the next day.  I will close this issue out for now but you can still respond here if you have questions or need to continue this discussion.

#please-close

[2021-07-20 20:05] #77849 closed

[2021-07-20 20:05] MartinJaffer-MSFT commented on #78413
Okay, I have reproduced with a data explorer source (storm events sample data) and random mongo cosmos sink.  This is done without mapping.

![image](https://user-images.githubusercontent.com/46612670/126388382-4afdaaca-5649-4cea-8831-ef67cda3d751.png)

[2021-07-20 20:05] GiftA-MSFT commented on #78611
@crisansou we'll review your feedback and get back to you shortly. Thanks.

[2021-07-20 20:13] JamesTran-MSFT commented on #78145
@TaekeK
Thank you for your time and patience throughout this issue!

I worked with our engineering team and we found that the documentation is currently up to date, and the redirect URL is working as expected.

I used a test app, and realized that the returned JWT is within the actual URL when using the `/oauth2/authresp` URL:
![image](https://user-images.githubusercontent.com/36619112/126388794-8

[2021-07-20 20:13] #78145 closed

[2021-07-20 20:16] SatishBoddu-MSFT commented on #78596
Hello @fgheysels

What method are you trying to do the message Enrichment? from any code or template? or Azure Portal?
Please give a try with [Manually configure the message enrichments by using the Azure portal](https://docs.microsoft.com/en-us/azure/iot-hub/tutorial-message-enrichments#manually-configure-the-message-enrichments-by-using-the-azure-portal)

Below I have Standard  Tier IoTHub and t

[2021-07-20 20:26] JamesTran-MSFT commented on #78545
@Wibusts
Thank you for pointing this out!

It looks like all of the section headers within this doc are missing the hyperlink button. I've assigned this issue to the author who will investigate and update as appropriate.

![image](https://user-images.githubusercontent.com/36619112/126390770-575417b1-f8dd-46ca-a88f-c57867a507ab.png)

[2021-07-20 20:29] jeevansd commented on #74973
@wcneumann219 Sorry for chiming in late. But it seems that in your case the SAML request is not specifying the Assertion Consumer Service URL (Reply URL). If Azure AD do not receive that in the request then the response will always goes to the default URL which you have specified in the configuration. This is why you see this behavior. The solution you implemented for your use case will work only

[2021-07-20 20:32] JamesTran-MSFT commented on #78551
@aceoforder
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-07-20 20:46] JamesTran-MSFT commented on #78557
Thank you both for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

![image](https://user-images.githubusercontent.com/36619112/126393159-e427c73d-3880-41e8-9750-2c043b915a52.png)

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and

[2021-07-20 20:46] #78557 closed

[2021-07-20 20:48] rwike77 commented on #73737
@marwalsch Sorry for the super slow reply, this didn't come to my attention until recently.  I will investigate with the engineering team and get back to you.

[2021-07-20 20:59] MartinJaffer-MSFT commented on #78413
Investigating, I find that for writing to Cosmos, there is a tabular/flat method, and a JSON method.  They cannot be mixed.

In making manual mappings, there are options for "new array" , "new node", "new object".  However this does not appear to auto-transform the source.  Attempting jsonpath syntax ( ` $['StormSummary'].['TotalDamages'] ` ) doesn't work when using the tablular/flat method.

This

[2021-07-20 21:02] langstonj commented on #78045
Found the answer:

Limitations for Azure SQL Database ledger - Azure SQL Database | Microsoft Docs<https://docs.microsoft.com/en-us/azure/azure-sql/database/ledger-limits>

"Converting existing tables to ledger tables          Existing tables in a database that aren't ledger-enabled can't be converted to ledger tables."

John C Langston  |   SQL Database Administrator  |  eLynx Technologies, LLC

[2021-07-20 21:39] sven73 opened #78615 "ARM deployment gives ResourceNotFound when trying to connect to a recovered workspace"
By accident I removed mine Log Analytics Workspace (LAW). With success I was able to recover the workspace from the recycle bin. It is visible in the Azure Portal. I can run the queries on it, it all works fine.

However, when I want to deploy a diagnostic setting for Azure Service Bus, which will use the recovered LAW via an ARM template. It gives me **resource not found**, during deployment. Is

[2021-07-20 22:06] TravisCragg-MSFT commented on #78583
@mmisztal1980 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-07-20 22:10] Karishma-Tiwari-MSFT commented on #78576
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-20 22:19] Lukeout commented on #77287
Currently there is no ETA for LAD to support Debian. LAD is being planned to be converged into AMA.

[2021-07-20 22:24] porrascarlos802018 opened #78616 "Please provide scenario , diagram on how connection flows in aks when using node with public ip"
Please provide scenario , diagram on how connection flows in aks when using node with public ip
https://docs.microsoft.com/en-us/azure/aks/use-multiple-node-pools#assign-a-public-ip-per-node-for-your-node-pools

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c420b2c-e868-9a6a-49fb-913f2cd007ef
*

[2021-07-20 22:24] DerekHerman-MSFT commented on #78612
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-07-20 22:24] MarileeTurscak-MSFT commented on #78536
I just tested and was able to reproduce this. I will update the document accordingly.

[2021-07-20 22:32] JimacoMS4 commented on #68477
Hi @mgiuseppe  and @jerkohren Thanks very much for your feedback! Since you reported these issues, the topic has been updated to use code in our samples repo. This code no longer uses the obsolete **UploadToBlobAsync** method on the device client, nor does it have the erroneous line you reported @jerkohren. Please have a look and let me know if there are any other issues. I'll leave this open for

[2021-07-20 22:36] MarileeTurscak-MSFT commented on #78536
I have confirmed this in my lab and made a pull request to update the documentation. https://github.com/MicrosoftDocs/azure-docs-pr/pull/166308

@rolyon please review in case anything else is needed.

[2021-07-20 22:36] #78536 closed

[2021-07-20 22:49] kgremban commented on #78004
@lohithgn Thank you again for your issue. I've made a pull request to update the article with new folder references and new screenshots, and expanded on the explanation of what's included in the project. Once that pull request is merged, I'll close this issue. The changes will be available to view tomorrow morning. If you have any further questions or comments on this topic, feel free to post here

[2021-07-20 23:10] MarileeTurscak-MSFT commented on #78289
Hope this helps! If you have a particular use case for this feel free to email me at AzCommunity@microsoft.com (Attn: Marilee Turscak) and I can pass the info along to the product team and see if there is a good workaround for your scenario.

[2021-07-20 23:10] #78289 closed

[2021-07-20 23:14] danzel opened #78617 "AsyncStatus class is not valid"
The class defined under https://docs.microsoft.com/en-us/azure/cognitive-services/face/face-api-how-to-topics/use-persondirectory#wait-for-asynchronous-operation-completion is not valid:
![image](https://user-images.githubusercontent.com/393086/126406743-71fbb06a-3d5a-4895-bf9d-e7adebd1397d.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2021-07-20 23:15] trichardson010 commented on #78537
Does this help? As I am trying load more than one preRoll ad. Following the documentation from https://amp.azure.net/libs/amp/latest/docs/

    var source = { src: "https://www.domain.com/video.ism/manifest", type: "application/dash&#x2B;xml"};

    var myOptions = {
        autoplay: true,
        heuristicProfile: "HighQuality",
        "nativeControlsForTouch": false,
        "logo": { "enabled

[2021-07-20 23:18] mukesh-dua opened #78618 "Deploy configurations using GitOps - Clean up resources"
[Enter feedback here]
Followed the instructions on page which allows to create Cluster operator configuration. The cluster components were successfully created.

Somehow the cleanup process didn't worked well. The objects created using the gitOps configuration somehow stays and are not thoroughly cleaned up.

Objects not deleted:
Namespaces: cluster-config, team-a, team-b
Resources: Config map cre

[2021-07-20 23:20] #78004 closed

[2021-07-20 23:24] kfoofw opened #78619 "Minor spelling error "discarted""
Hi MS!

I spotted a minor spelling error ("discarted") while going through the walkthrough introduction of using AML Designer.
- I believe it should be "discarded"

For a quick reference, below is a screenshot of the error:

![image](https://user-images.githubusercontent.com/7871453/126407317-9f56ed46-a6e7-4c1c-809e-448bcb8a9899.png)

Just wanted to point it out for a quick fix. Thanks!

---
####

[2021-07-20 23:33] rwike77 commented on #73737
@marwalsch  Actually, since this is more of a product question instead a of a doc question I suggest you [post a question to Microsoft Q&A](https://docs.microsoft.com/azure/active-directory/develop/developer-support-help-options#post-a-question-to-microsoft-qa) where engineers and MVPs can answer.  Again, apologies for such a delayed response.  I'll close this now, but feel free to reopen if need

[2021-07-20 23:33] #73737 closed

[2021-07-20 23:47] MarileeTurscak-MSFT commented on #77617
Since there has been no follow-up on this issue, I will be closing this. If you would like something added to the document, please create a new issue detailing the changes needed.

[2021-07-20 23:47] #77617 closed

[2021-07-21 00:00] #74095 closed

[2021-07-21 00:03] jonwbstr opened #78621 "But Azure recommends using a Managed Identity..."
When creating the Run-As account, I get this message:

I tried to setup using a Managed Identity and job fails saying it needs a runas account. If there are no plans to update this runbook to use managed identity, a note letting the reader know you're aware of the guidance and it doesn't work for this it will save a lot of questions and people like me that try to make it work using the recommended

[2021-07-21 00:11] Jejiang commented on #78538
@tgpmoraes The wrong URL has been fixed, and the updated doc is in the process to be released. Meanwhile, you can go to the URL below to download the winutils.

https://github.com/steveloughran/winutils/releases/download/tag_2017-08-29-hadoop-2.8.1-native/hadoop-2.8.1.zip

[2021-07-21 00:12] JasonWHowell commented on #78582
#reassign:@SunnyDeng  please take a look at the translation issue - bold markdown showing through.

[2021-07-21 00:18] Jejiang commented on #78591
@gfraiture We are aware of this issue, and is working to address this issue.

[2021-07-21 00:38] KumudD commented on #56467
@tfurstms  Thanks for your feedback. The article has been updated to add the link to comparison FAQ as requested. Thanks!

#sign-off

[2021-07-21 00:39] #56467 closed

[2021-07-21 00:41] KumudD commented on #58241
@LRomandine Thanks for your feedback! The image has been updated.

#please-close.

[2021-07-21 00:41] #58241 closed

[2021-07-21 00:51] JasonWHowell commented on #77368
@aravishdatabricks Have you got more context on the failure?

I saw one thread here, but not sure if that's the mainstream failure:
https://docs.microsoft.com/en-us/answers/questions/252805/calling-databricks-activity-with-msi-resulting-in.html

[2021-07-21 00:57] JasonWHowell commented on #75755
#please-close

[2021-07-21 00:57] #75755 closed

[2021-07-21 00:58] StanLeszynski opened #78622 "Azure MEC docs - duplicate content"
The bullet for Azure IoT Hub has the wrong content, the prior bullet has been copied and pasted into it: "Azure IoT Edge Runtime: Azure IoT Edge Runtime enables cloud workloads to be managed and deployed across edge compute appliances using the same tools and security posture as cloud native workloads."
![AzureStackDocBug](https://user-images.githubusercontent.com/34287814/126413740-c2cb3e98-7a8b-

[2021-07-21 01:04] JasonWHowell commented on #77361
Also related to Q&A thread here: https://docs.microsoft.com/en-us/answers/questions/372112/adf-elapsed-time-pipeline-runs-metrics-platform-wh.html

[2021-07-21 01:09] JasonWHowell commented on #77340
@peter11244 did you get it to work by removing the -Links parameter?
API reference here https://docs.microsoft.com/en-us/powershell/module/az.datafactory/remove-azdatafactoryv2integrationruntime?view=azps-6.2.1

We can update the docs to avoid the extra parameter.

Thanks, Jason

[2021-07-21 01:33] sumeetmittal commented on #56467
#please-close

[2021-07-21 01:57] Ayanmullick opened #78623 "Can one specify the Network Interface name during Private Endpoint creation?"
The [`New-AzPrivateEndpoint`](https://docs.microsoft.com/en-us/powershell/module/az.network/new-azprivateendpoint?view=azps-6.2.1) cmdlet creates a Network Interface with a random GUID in the name.

![image](https://user-images.githubusercontent.com/17693249/126421560-f7981b6b-4d8f-4cc6-b96b-96fa1b5e3029.png)

Is there a way one could specify the name of the Network Interface in PowerShell during

[2021-07-21 02:07] MonikaReddy-MSFT commented on #77287
@Lukeout  - Thank you for providing your insights.
@juanandmsft  - I hope @Lukeout  has answered your question.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-07-21 02:07] #77287 closed

[2021-07-21 02:09] MonikaReddy-MSFT commented on #78062
@mhmoore12 - Sorry, I have totally missed your messages. Thanks for bringing this up again. Let me investigate on it and get back to you shortly.

[2021-07-21 02:22] nunepalli commented on #77361
@MartinJaffer-MSFT
When can we get an update about alerts for long-running pipelines?
This is something important for us for Prod pipelines.

[2021-07-21 02:48] Nustinian opened #78624 "deprecated field"
the troubleshooting step

Usage
| where Computer == "my-computer"
| summarize sum(Quantity), any(QuantityUnit) by DataType

does not work anymore because the "Computer" field has been deprecated.

The "Computer" field is now always "Deprecated field: see http://aka.ms/LA-Usage," so this query will not return any data.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2021-07-21 02:50] Karishma-Tiwari-MSFT commented on #78601
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2021-07-21 02:56] Karishma-Tiwari-MSFT commented on #78616
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-07-21 03:00] Karishma-Tiwari-MSFT commented on #78610
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-07-21 03:05] #78345 closed

[2021-07-21 03:12] Karishma-Tiwari-MSFT commented on #78624
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-07-21 03:36] JasonWHowell commented on #77361
If you are blocked on a production issue, use Azure support to discuss alternatives. This forum is primarily for docs feedback. Thanks, Jason

[2021-07-21 03:43] hyoshioka0128 commented on #78582
@JasonWHowell -Thanks! I'm Poor English.
Translated into Japanese, bold markdown showing and the link range is incorrect.
Thank you for reading what my intended.

[2021-07-21 03:50] Kalakaarboyz1 opened #78626 "Docs"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f4fe06e-d692-c330-a651-d51fec279a6a
* Version Independent ID: ec4c836d-f1a4-e6c1-59c1-14fce62bc2ec
* Content: [What is Azure Sentinel?](https://docs.microsoft.com/en-us/azure/sentinel/overview)
* Content Source: [articles/sentinel/overview.md](https://github.com/MicrosoftD

[2021-07-21 03:53] Karishma-Tiwari-MSFT commented on #78375
@Es-ci We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2021-07-21 03:53] #78375 closed

[2021-07-21 04:15] SubhashVasarapu-MSFT commented on #78623
@Ayanmullick, Thanks for reaching out. We will investigate and update this thread.

[2021-07-21 04:21] hanslai commented on #77938
hi @ssivas

Thanks for your help and sorry for the late reply,   Even I enter from the Enterprise Application" blade, I did not see the option you have.  Please refer to the picture below.  Is it because I am in Azure China?

![image](https://user-images.githubusercontent.com/20576491/126430311-60d0023a-db54-4d17-9175-3e97a7250f3a.png)

Thanks

[2021-07-21 04:36] krishnashashwat opened #78627 "Can we start or stop a AWS vm using azure arc??"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7fa48880-0b59-48c1-8f28-ae479e7be559
* Version Independent ID: 8f513f59-0396-8d02-ee44-ef28a6ae67e3
* Content: [Managing the Azure Arc-enabled servers agent - Azure Arc](https://docs.microsoft.com/en-us/azure/azure-arc/servers/manage-agent)
* Content

[2021-07-21 04:49] SaurabhSharma-MSFT commented on #78609
<div style="font-family: &quot;segoe ui&quot;, &quot;segoe ui web (west european)&quot;, &quot;segoe ui&quot;, -apple-system, blinkmacsystemfont, roboto, &quot;helvetica neue&quot;, sans-serif; font-size: 10.5pt; color: rgb(50, 49, 48);"><a target="_blank" class="user-mention" data-hovercard-type="user" data-octo-click="hovercard-link-click" data-octo-dimensions="link_type:self" data-hovercard-url

[2021-07-21 05:13] SnehaAgrawal-MSFT commented on #78607
@zaalion Thank you for your feedback! We will review and update as appropriate.

[2021-07-21 05:21] SnehaAgrawal-MSFT commented on #78392
@orenzi-tr Thanks for question! Looks like you want to do is leave it blank, instead of trying to use @ for current domain placeholder.
“uses parent domain name if blank”

![image](https://user-images.githubusercontent.com/46553948/126435064-07001add-bd35-4c72-a4e1-182b9e6fb5b0.png)

So create a blank one instead of using “@”, for that parent domain. And create another with * for the wildcard to c

[2021-07-21 05:33] KalyanChanumolu-MSFT commented on #78445
@hyoshioka0128 We are working with our docs translation team internally on this issue.

[2021-07-21 05:33] KalyanChanumolu-MSFT commented on #78384
@hyoshioka0128 We are working with our docs translation team internally on this issue.

[2021-07-21 05:33] KalyanChanumolu-MSFT commented on #78383
@hyoshioka0128 We are working with our docs translation team internally on this issue.

[2021-07-21 05:34] BharathNimmala-MSFT commented on #78350
@asears My sincere apologies for delay in getting back to this thread.

You can now run the Azure CLI with the az command from either Windows Command Prompt or PowerShell, please review [here](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?tabs=azure-cli#run-the-azure-cli) for additional details.

However we do appreciate your feedback, I will take this further with our docum

[2021-07-21 05:34] #78350 closed

[2021-07-21 05:45] Vipin-Sharma commented on #78494
Here is new error for this command

[code]

[2021-07-21 05:56] Vipin-Sharma commented on #77625
@MS-jgol @BharathNimmala-MSFT @GitaraniSharma-MSFT

Probably my question was not clear, let me put it in other words.

Is there any way I can get more details like a profiler, which method is taking more time?

It would help if you can reopen the ticket.

[2021-07-21 06:05] AnuragSharma-MSFT commented on #78406
@fredobas Due to lack of response, we will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-07-21 06:05] #78406 closed

[2021-07-21 06:07] BharathNimmala-MSFT commented on #78351
Thanks again @ssivas and @Swenzzon for bringing this to our attention. I have reached to our PG to further review the script and incorporate the feedback from this thread as a backlog item.

Currently as we don't see any direct edits or updates to the document, other than the script changes needed. We will go ahead and close this issue for now and tag this thread for any changes on the doc, howeve

[2021-07-21 06:07] #78351 closed

[2021-07-21 06:08] Vipin-Sharma commented on #78494
I tried taking PIM roles and it worked for me.

This command starts streaming new logs, **How can I download old log files on local computer?**
Probably multiple commands, one gives list of functions/log files and other gives ability to download that.

[2021-07-21 06:10] tsc-buddy commented on #77605
Yes likewise - I also see on the documentation there is a reference to converting the userType to leverage external identities MAU billing model, but cannot seem to find anything documenting how.

[2021-07-21 06:28] BharathNimmala-MSFT commented on #78418
@matuhinal Thanks again for reaching out ,  Please be informed that this channel ([the Azure Docs repository](https://github.com/MicrosoftDocs/azure-docs/issues)) is only for driving improvements related to the Azure documentation. If you have specific issue with pay-as-you-order, would request you reach out to [our support team](https://azure.microsoft.com/en-us/support/create-ticket/) and they c

[2021-07-21 06:28] #78418 closed

[2021-07-21 06:55] proximity-vb opened #78629 "Typo on the updates to outbound connectivity 4.5"
[Enter feedback here]
To reduce complexity, the dedicated outboard IP address resources have been removed.
It should be
To reduce complexity, the dedicated outbound IP address resources have been removed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e00b226-866a-91c0-8796-280b264734f8
* Version Independent ID: 09ba0

[2021-07-21 06:58] KalyanChanumolu-MSFT commented on #78619
@kfoofw Thank you for taking the time to let us know. I have updated the doc accordingly.
The changes should be live EOD or tomorrow. We will close this issue now.

In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update.
We love taking contributions from the community.

[2021-07-21 06:58] #78619 closed

[2021-07-21 06:59] AlexFilipin opened #78630 "Plain text password encryption"
In the password writeback TLS section it says the plain text password is encrypted with a public key but it should be a symmetric key based on the sections above.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ebc51bb0-dd9d-cb3f-3e3f-b9765b48f21d
* Version Independent ID: d597a70e-8fb1-0e4e-8ae0-e3cd87de1118
* Content:

[2021-07-21 07:31] SnehaAgrawal-MSFT commented on #78617
@danzel Thank you for your feedback! We will review and update as appropriate.

[2021-07-21 07:33] SnehaAgrawal-MSFT commented on #78615
@sven73 Thank you for your feedback! We will review and update as appropriate.

[2021-07-21 07:37] SnehaAgrawal-MSFT commented on #78618
@mukesh-dua Thank you for your feedback! We will review and update as appropriate.

[2021-07-21 07:42] matuhinal commented on #78418
Good!Thanks.

[2021-07-21 07:43] SnehaAgrawal-MSFT commented on #78621
@jonwbstr Thank you for your feedback! We will review and update as appropriate.

[2021-07-21 07:45] SnehaAgrawal-MSFT commented on #78622
@StanLeszynski Thank you for your feedback! We will review and update as appropriate.

[2021-07-21 07:46] yoelhor commented on #78545
Thanks for the feedback. It's a know issue related to the pivot button on the top of the page (where you can switch between user flows and custom policy).

[2021-07-21 07:51] reachnishant opened #78632 "The 'Authorization' header is missing error while using Azure Python SDK from Azure Functions"
Hi,

I am trying to create a Resource group using Python SDK (code: https://docs.microsoft.com/en-us/azure/developer/python/azure-sdk-example-resource-group) from an Azure function.

The above mentioned code works fine from Cloud shell and my Linux machine (CLI). However, on running it locally or on cloud as an Azure function, the following error is thrown.

Code: AuthenticationFailed Message: Aut

[2021-07-21 07:52] SnehaAgrawal-MSFT commented on #78626
@Kalakaarboyz1 Thanks for reaching here! could you please elaborate your query to help you better on this.

[2021-07-21 07:56] SnehaAgrawal-MSFT commented on #78627
@krishnashashwat Thank you for your feedback! We will review and update as appropriate.

[2021-07-21 07:57] SnehaAgrawal-MSFT commented on #78629
@proximity-vb Thank you for your feedback! We will review and update as appropriate.

[2021-07-21 08:59] JamesBaxterSoftware opened #78633 "how to include email in saml response"
I require "urn:oasis:names:tc:SAML:2.0:nameid-format:emailAddress" and it's value populated to be returned in the SAML response after logging in which is not happening. How do I configure the response to include values such as this which would normally be included in output claims?

Edit! for more information:
This is within my SAMLresponse :

[code]
I am hoping it possible to change the nameforma

[2021-07-21 09:11] orenzi-tr commented on #78392
HI @SnehaAgrawal-MSFT
Thanks for the update, issue can be closed.

[2021-07-21 09:11] #78392 closed

[2021-07-21 09:23] manzoo79 opened #78635 "Discover application on local server"
Team,

I tried running this tool on a local server which had applications hosted on local IIS. But I am not able to discover the applications locally. I tried giving "localhost", "HostName", "IP Address" and FQDN. But, none of them work.

Thanks and Regards,
Manjunath

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad16

[2021-07-21 10:56] Tasos-Torou opened #78637 "Azure Services Ports"
[Enter feedback here]

The note in this article says typically ports 80 and 443 however when I am trying to run Stream Analytics jobs from Visual Studio locally traffic is blocked on ports TCP_5671.

We have opened traffic for most of the domains in the list but we are still struggling to get data in.

Is there a comprehensive list of all the services and ports required to be open in order to run

[2021-07-21 11:14] poonkodi123 commented on #78321
Do you have any document like this for SQL API(https://docs.microsoft.com/en-us/azure/cosmos-db/tutorial-develop-mongodb-react), this document contains mongo-api with cosmos

[2021-07-21 11:15] poonkodi123 commented on #78321
@AnuragSharma-MSFT Sorry for delay

[2021-07-21 11:33] cjnova commented on #67381
Documentation is not updated to reflect that with network contributor role you can do it, instead to have an higher privilege.

[2021-07-21 11:40] cjnova opened #78638 "Lack of GA documentation"
Lack of documentation for Enabling auto rotation, how it works and the policies related as described in GA announcement

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82b11e69-2d61-94c2-d1b7-5ed14b78ae45
* Version Independent ID: a64b1dee-2255-f2c7-20f7-15ac7c76b4c8
* Content: [Azure PowerShell - Enable customer-manage

[2021-07-21 11:45] shashishailaj commented on #78630
@AlexFilipin Thank you for your feedback . We will investigate and update the thread.

[2021-07-21 11:46] shashishailaj commented on #78633
@JamesBaxterSoftware Thank you for your feedback . We will investigate and update the thread.

[2021-07-21 11:51] eedwards36 opened #78639 "Synapse sqlOnDemand Private DNS zone different to what's created in the portal"
Why is the synapse sqlOnDemand endpoint as below:

Private link resource type / Subresource | Private DNS zone name | Public DNS zone forwarders
-- | -- | --
Azure Synapse Analytics (Microsoft.Synapse/workspaces) / SqlOnDemand | privatelink.sqlondemand.azuresynapse.net | sqlondemand.azuresynapse.net
-- | -- | --

When you create the endpoint in the portal it creates the Private DNS zone privatelin

[2021-07-21 12:18] suresh8771 commented on #13884
how to get licence version like in our case - we migrated server from on-prem to azure created a VM with datacenter image and enabled hybrid license for windows server 2012 R2 Standard. how I can validate for the servers more than 200 counts

[2021-07-21 12:26] AmonM15 commented on #78536
Thanks.

[2021-07-21 12:50] hadr10 opened #78640 "Cyberark"
How i can log in to linux VM with Azure AD by CyberArk?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2ede563-b873-0bc3-959f-69e555f0efcc
* Version Independent ID: 8471d9e4-6c79-0cf1-c5ed-50c58e1b92aa
* Content: [Sign in to Linux virtual machine in Azure using Azure Active Directory (Preview)](https://docs.microsoft.

[2021-07-21 12:55] MonikaReddy-MSFT commented on #78638
@cjnova - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-07-21 12:57] AnuragSharma-MSFT commented on #78467
@serjdag This is being assigned to the content author to evaluate and update as appropriate.

[2021-07-21 13:06] jukkaleh opened #78641 "Documentation does not specify if app roles assigned to group are assigned to user belonging in the group"
https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-add-app-roles-in-azure-ad-apps#assign-users-and-groups-to-roles

Explains how one can assign app role to user or group. However it doesn't cover how assigning groups to app roles is done on Azure AD.

Example:
Application has two app roles [role_a, role_b]

role_a is assigned to group_a
role_b is assigned to group_b

User has no

[2021-07-21 13:12] bestrepo opened #78642 "Documentation Article Error - Setting up WinRM access for Virtual Machines in Azure Resource Manager. Step 3 Script is Broken."
The documentation article [Setting up WinRM access for Virtual Machines in Azure Resource Manager](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/winrm) has a [PowerShell script (Step 3)](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/winrm#step-3-upload-your-self-signed-certificate-to-the-key-vault) that doesn't work:

[code]
[code]

---
#### Document Details

⚠

[2021-07-21 13:13] mehdijalal opened #78643 "Please update the github documentation posted in this page with latest changes on Azure portal"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 714f2c6b-3bc4-9e14-7f0a-7b56d52ac1fa
* Version Independent ID: 7a00b7d7-f46b-1aa3-f2ea-7fd0bcee3f95
* Content: [Configure authentication in a sample web application using Azure Active Directory B2C](https://docs.microsoft.com/en-us/azure/active-direct

[2021-07-21 13:21] saurabh-py opened #78644 "Databricks Documentation: Typo error on navigation panel"
I found a typo error on left navigation panel - Bigint is written as Bitint
![image](https://user-images.githubusercontent.com/10475484/126495364-633aa78e-e7c8-4a86-be9f-a09e5e9703c9.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4db5d36e-d6cb-4fa0-2482-dd5cfe9201db
* Version Independent ID: 525616a9-f054-f4d4-8b6

[2021-07-21 13:28] wggley commented on #19305
@gabrielbarceloscn I'm using below code to load certificates by thumbprint but still no success on linux containers:

[code]

I don't get why the feature is available for linux containers if they only applies to Windows Containers like @cephalin pointed out.

[2021-07-21 13:34] priyankareddy20 opened #78645 "I was testing the SSPR without assigning the licence per user as I have license at the tenant level, it was working fine which was not expected.please let me know if MFA and SSPR (combined registration) requires P1 license per user or only at the tenant level"
![SSPRMS](https://user-images.githubusercontent.com/64882717/126497291-2016ae70-4041-4954-9a79-f9748208a05a.JPG)
From the MS video, I see SSPR is licensed per user, unfortunatley when i am  logging with user with SSPR enabled without the user having any license assigned, user is being redirected to SSPR registration

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2021-07-21 13:36] louisjrdev commented on #77761
Thanks @yoelhor , that makes sense, but perhaps that should be mentioned somewhere in this page, just to ensure it is clear?

[2021-07-21 13:40] priyankareddy20 commented on #78645
Paaword change, Password reset  and password writeback requires P1 licence.Please confirm if it is assigned per user or assigned one licence to the GA or security admin:

In my testing, I could change my password, also i could do the reset without assigning the license to the user.

Pleas correct me and help me in understanding

[2021-07-21 13:50] priyankareddy20 commented on #78645
I could not do the password reset. Apologies my mistake.
However, kindly confirm if MFA needs per license per user

[2021-07-21 14:11] priyankareddy20 commented on #78645
Regarding Conditional Access MFA, user doesn't have any license assigned, user was triggered for MFA ,registered for MFA and was receiving mfa notifications

I have P2 license at the tenant level and GA has P2 assigned.Kindly confirm if Conditional Access MFA doesnt require licenese per user

[2021-07-21 14:18] ajay-aravind opened #78647 "Azure public ip prexies link is broken"
Azure public ip prexies link is broken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f5d33e9-bcb3-3358-f859-c2ff3e71b131
* Version Independent ID: 5498280e-dd3c-bd46-9877-3506ad926dbd
* Content: [Azure Public IP address prefix - Azure Virtual Network](https://docs.microsoft.com/en-us/azure/virtual-network/public-ip-a

[2021-07-21 14:28] jd1984 commented on #78589
Hello, yes I can configure and update the rules okay, just cannot 'Validate Rules (Preview)' them due to the error above.
The account being used has the 'User Administrator' role assigned via an Azure AD group with 'Active' assignment type.
I know Role-assignable groups is also currently in 'Preview' so could be a bug?
Thanks

[2021-07-21 14:29] porrascarlos802018 opened #78648 "Please update service section and include a topology for AKS with nodepool using public IP."
Please update service section and include a topology for AKS with nodepool using public IP.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9615c579-305d-2482-7eaf-2d120c75e8d5
* Version Independent ID: 064f4a10-bd74-f554-9550-781dd3e838cb
* Content: [Concepts - Networking in Azure Kubernetes Serv

[2021-07-21 14:46] whhender commented on #78064
Note is added! Thank you again for your contribution.

[2021-07-21 14:46] whhender commented on #78064
#please-close

[2021-07-21 14:46] #78064 closed

[2021-07-21 14:46] MGoedtel commented on #78627
@krishnashashwat - Arc-enabled servers enables the hybrid VM to be managed with a number of Azure management and monitoring capabilities as if it were an Azure resource. Arc enabled servers does not perform any direct management of the physical server or VM, it only enables management via the agent and the components installed with the agent (e.g. Guest Configuration, IDMS, etc.). While it registe

[2021-07-21 14:46] #78627 closed

[2021-07-21 14:47] whhender commented on #77838
@tifischer - The document has been updated to correctly reflect the ability to work with a VNet! You should see the updates reflected by later this afternoon.

[2021-07-21 14:47] whhender commented on #77838
#please-close

[2021-07-21 14:47] #77838 closed

[2021-07-21 14:52] shashishailaj commented on #65647
@aodugga This has ben fixed now. If you have a group which has been given Owner rights on the azure subscription using the IAM (Access) blade on the subscription object , you can remove the individual user who have owner roles assigned.

![image](https://user-images.githubusercontent.com/532022/126486695-ed86b5c9-897b-49c6-9dc1-3d3a172499e4.png)

In the above example , we have the user who is logg

[2021-07-21 14:52] #65647 closed

[2021-07-21 14:54] ggailey777 commented on #78494
You'll need to [query the logs in Application Insights](https://docs.microsoft.com/azure/azure-functions/analyze-telemetry-data#query-telemetry-data).

[2021-07-21 14:58] ANKGITDEMOS opened #78650 "com.sun.beans.introspect.PropertyInfo Compilation Error - JBOSS"
[Enter feedback here]
In ViewUtils.java - Line 55 I have to change following line to successful compile

Before:
if (method.equals(new PropertyDescriptor(field.getName(), object.getClass()).getReadMethod()))

After:
if (method.equals(new PropertyDescriptor((String)field.getName(), object.getClass()).getReadMethod()))

Please checkin this change so, that successfull demos can be done.

I am GPS - C

[2021-07-21 14:59] annerajb opened #78651 "Front Door Standard/Premium Key vault network firewall rules"
Can the key vault used to store the Azure Front Door Standard/Premium BYOC have network access restricted to vnets and private endpoints?

Is there any special option such as `Allow trusted microsoft services to bypass this firewall` that need to be configured?

Any special IP address to whitelist?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2021-07-21 15:05] chtourou-youssef opened #78653 "About azure Snapchot"
In Microsoft documentation , it's no information talk about , what folders in Azure web app is considered by snapchot. I mean , when i create a folder in /home and a folder in /var/www/html ( in case of PHP web app ) , should i find only the folder created in /home/site/wwwroot  , or the two folders ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2021-07-21 15:05] avarantes opened #78654 "Error on documentation"
In Manage Custom Models chapter, when the ManageModels method is mentioned, there's an error
[code]
That's not a FormRecognizerClient object, is a FormRecognizerClient object.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1077504-89c8-f04c-8c47-3c8f339ca63d
* Version Independent ID: 6a456ec6-b2f9-0815-f052-cbeaccb05f0

[2021-07-21 15:10] ohadschn opened #78655 "Microsoft.Authorization/roleAssignments property properties.principalType values (specifically MSI)"
According to the [ARM reference](https://docs.microsoft.com/en-us/azure/templates/microsoft.authorization/roleassignments?tabs=json), the `Microsoft.Authorization/roleAssignments` property `properties.principalType` could have the following values:
* User
* Group
* ServicePrincipal
* Unknown
* DirectoryRoleTemplate
* ForeignGroup
* Application
* MSI
* DirectoryObjectOrGroup
* Everyone
* Device

No

[2021-07-21 15:14] Vipin-Sharma commented on #78494
It is not convenient to open portal everytime, running some cli commands to download/browse logs would be great option. Don't we have any way to download log files, probably some kudu based api?

[2021-07-21 15:16] cjnova commented on #78638
I'm closing the issue due to this feature is not in GA.

[2021-07-21 15:16] #78638 closed

[2021-07-21 15:16] cjnova commented on #78638
I'm closing the issue due to this feature is not in GA.

[2021-07-21 15:21] asudbring commented on #78647
@ajay-aravind
Can you please post the link that isn't working.

Thanks!

[2021-07-21 15:32] ianc911 opened #78656 "Typo"
In the section entitled "Complete The Migration", step 1 tells you to click 'Stop Migration'. This should actually read 'Stop Replication'.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f6cf488-07d3-1b2b-69f2-f04c7890bd55
* Version Independent ID: fd658be4-17c5-19c7-b6c9-630090880c3c
* Content:

[2021-07-21 15:40] JasonFreeberg commented on #78650
@ANKGITDEMOS line 55 of which file?

[2021-07-21 15:43] gregroberson opened #78657 "Allow local NFS users with LDAP option Not Showing"
[Enter feedback here]
This option does not show for the customer in the AD configuration. Why would it not show up? Is there a process, like delete AD setup and recreate? If so, the documentation should reflect that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7073f77b-7f6b-81f2-ea7e-b7beaa114752
* Version Independe

[2021-07-21 15:49] pmoprhy opened #78658 "certificate prompt in browser on macOS safari"
In regards to the [certificate prompt](https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/concept-conditional-access-conditions#why-do-i-see-a-certificate-prompt-in-the-browser), is it possible to suppress this prompt? We didn't start seeing this prompt until macOS 11.3.1 Big Sur, why would that prompt only start coming into play with that version of macOS and not in previo

[2021-07-21 15:50] MarileeTurscak-MSFT commented on #78626
Since more information is needed in order to take action, we will now proceed to close this thread. @Kalakaarboyz1 please create a new issue detailing the desired changes for the document.

[2021-07-21 15:50] #78626 closed

[2021-07-21 16:11] jonwbstr commented on #52799
There is a list of limitations in the article, would you add this limitation to that list?
"Does not consider time changes between standard and daylight savings" or something would be sufficient.

a link to the roadmap item you referenced would be super cool too so everyone knows this is being replaced by a feature that is in development.

[2021-07-21 16:30] b-juche commented on #78657
@gregroberson - Thanks for the question.  I'll consult our subject matter experts.  Meanwhile, if you are a NetApp or Microsoft team member, please reach out through my email at julie.chen@netapp.com or b-juchfw@microsoft.com, so that I can loop you in on the discussion with the team.   Thanks.

[2021-07-21 16:31] Kalakaarboyz1 commented on #78626
I think i did a very bad mistake to informed you guys. You just closed this
without asking me anything i did not know that indians handling these issues

On Wed, Jul 21, 2021, 8:50 PM Marilee Turscak - MSFT <
***@***.***> wrote:

[2021-07-21 16:36] duongau commented on #76442
@sosimon Thank you for bringing this to our attention. The <id> doesn't get preserved in Azure Front Door classic, this scenario is supported in the Standard/Premium SKU. I'll add a note to the classic AFD explaining this.

#please-close

[2021-07-21 16:36] #76442 closed

[2021-07-21 16:37] dalewkim opened #78659 "MS Teams now supported with App Protections and Conditional Access?"
MS Teams application was removed from non-supported app list in the note section but not added to bullet point above listing apps supported with conditional access.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd934939-4dbb-3a92-f996-56b9557f49ac
* Version Independent ID: 3cda6b81-26e8-c9ac-e768-d912636a461b
* Conten

[2021-07-21 16:41] #78545 closed

[2021-07-21 16:42] JamesTran-MSFT commented on #78640
@hadr10
Thanks for your feedback! We will investigate and update as appropriate.

[2021-07-21 16:44] JamesTran-MSFT commented on #78641
@jukkaleh
Thanks for your feedback! We will investigate and update as appropriate.

[2021-07-21 16:44] BharathNimmala-MSFT commented on #78656
@ianc911 Thanks again for bringing this to our notice and helping us improve our Azure documentation. I did raise a PR to update the document . Once the PR is reviewed and approved , changes would go live.

At this point it appears that there's no further edits or updates needed to the documentation, other than what has been listed above. We will go ahead and close this issue for now, however if y

[2021-07-21 16:44] #78656 closed

[2021-07-21 16:45] JamesTran-MSFT commented on #78643
@mehdijalal
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-07-21 16:48] JamesTran-MSFT commented on #78645
@priyankareddy20
Thanks for your feedback! We will investigate and update as appropriate.

[2021-07-21 16:50] KranthiPakala-MSFT commented on #78644
@saurabh-py -
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2021-07-21 16:50] KranthiPakala-MSFT commented on #78644
@leifbro , @mssaperla  - Could you please review the above doc bug feedback and update it accordingly. Thank you

[2021-07-21 16:51] #74967 closed

[2021-07-21 16:51] JamesTran-MSFT commented on #78659
@dalewkim
Thanks for your feedback! We will investigate and update as appropriate.

[2021-07-21 16:53] #77340 closed

[2021-07-21 16:54] Thorium commented on #78464
I found a workaround:
If I chain all the resource to depend on each other, the deployment actually goes through.
For example:

[code]

[2021-07-21 16:56] KranthiPakala-MSFT commented on #78582
Hi @SunnyDeng - Could you please assist to fix this issue? - Thank you

[2021-07-21 16:59] leaht17 opened #78660 "Broken link in tutorial page"
There's a broken link at the top of the [Tutorial: Deploy a Django web app with PostgreSQL in Azure App Service](https://docs.microsoft.com/en-us/azure/app-service/tutorial-python-postgresql-app?tabs=bash%2Cclone&pivots=postgres-single-server) page. The 'Azure portal version of this tutorial' link takes me to this [404 page](https://docs.microsoft.com/en-us/azure/developer/python/tutorial-python-p

[2021-07-21 17:01] JamesTran-MSFT commented on #78655
@ohadschn
Thanks for your feedback! We will investigate and update as appropriate.

[2021-07-21 17:03] JamesTran-MSFT commented on #78658
@pmoprhy
Thanks for your feedback! We will investigate and update as appropriate.

[2021-07-21 17:09] RonnieQuan opened #78661 "RBAC Permission Required to Link B2C to Azure Subscription."
I would like to clarify following paragph.

You can link multiple Azure AD B2C tenants to a single Azure subscription for billing purposes. To link a tenant, you must be an admin in the Azure AD B2C tenant and be assigned at least a Contributor role within the Azure subscription.

Do you have more specific permission under a resource provider to accommodate link? contributor role is privileged rol

[2021-07-21 17:10] RonnieQuan commented on #78548
Thank you for the acknowledge, appreciate if you could provide guidance and share insight.

[2021-07-21 17:18] hhitchler opened #78662 "Not Updated Since VNet Peering"
In a situation where the VNet that managed instance is in is peered with a VNet that has a GW subnet the creation and of the primary, secondary , and connection GW  needs to be omitted. This article should be updated to reflect. VNet peering

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03a0dc36-e3d5-3a28-c9f9-9e51415

[2021-07-21 17:19] pierrejeandev opened #78663 "Role "Reader and Data Access": Unclear description and confusing name"
The description for role "Reader and Data Access" is unclear regarding the scope of this role (that is limited to storage accounts). The name can also be confusing when compared to the "Reader" role.
No where in the name or short description it is stated that this role is limited to storage accounts resources.

Could you clarify the description ? (and maybe consider renaming the role but I suppose