[2019-03-14 15:16] quincycs commented on #26889
Hi @neeleshray , thanks for your support.  This is in context of the android documentation, rather than a webapp.  I tried popping a webview to go to that logout address, but giving an app scheme (e.g. myapp://logout) doesn't redirect back into the native app.

Also I feel like having to open a webview just to sign someone out is an undesirable UX.  Perhaps there's a way to do this via REST?  If i

[2019-03-14 15:17] shashishailaj commented on #27141
@kvenkazure Thank you for your feedback . We will investigate and update this thread .

[2019-03-14 15:17] areddish commented on #25913
@jtlz2 Thanks for the feedback, I've added a work item to track PIL vs OpenCV usage in our samples and code.

@RohitMungi-MSFT For now the service is image-only and we don't have any video samples. To use a video source you would need to extract frames from the video and send to the service. There are no plans to update this tutorial for video at this time.

[2019-03-14 15:18] shashishailaj commented on #27150
@slaet Thank you for your feedback . We will investigate and update this thread .

[2019-03-14 15:18] shashishailaj commented on #27178
@jaypatrick Thank you for your feedback . We will investigate and update this thread .

[2019-03-14 15:20] shashishailaj commented on #27190
@grayjeremy Thank you for your feedback . We will investigate and update this thread .

[2019-03-14 15:20] dalmat36 commented on #22863
Having this issue as well.. very similar error message... waiting for data to thaw now

When I use the AWS CLI to download a sample file from the S3 bucket I get the following: Object is of storage class GLACIER. Unable to perform download operations on GLACIER objects. You must restore the object to be able to perform the operation. See aws s3 download help for additional parameter options to ign

[2019-03-14 15:22] ericdrobinson commented on #26892
Some constructive feedback for you:

1. The grammar of that sentence is broken. At the very least, it should read:

2. The usage of "Windows machines" is somewhat ambiguous. Do you mean Windows VMs? Windows WebApps? Please use terms that match the language used in the rest of the documentation.
3. The use of the term "**Automatic**" implies that it may be possible to get the missing metrics by usi

[2019-03-14 15:28] JosHaemers commented on #6117
Hi everybody,
We’ve a pipeline that should copy data from blob to SQL Database. The folder structure of the blob is:
../resourceId= 	/SUBSCRIPTIONS
		/ [SubscriptionID]
		/ RESOURCEGROUPS
		/ [ResourceGroup]
		/ PROVIDERS
		/ MICROSOFT.DATAFACTORY
		/ FACTORIES
		/ [Datafactory]
		/Y=9999/M=99/D=99/H=99/M=9
So, in order to get data from the past we use a tumbling window trigger. But we always rece

[2019-03-14 15:28] RohitMungi-MSFT commented on #27079
@visuazn Here is the same code of this tutorial using cv2 to predict all images in a folder. I have used my model to detect trees in the output screen shot attached.

Please update the path to your model, labels.txt and images folder.

[code]
Screen shot of output of script.

![image](https://user-images.githubusercontent.com/46958063/54369366-d0e42a80-469b-11e9-8f5c-7f324a3adcea.png)

We will now

[2019-03-14 15:35] #27079 closed

[2019-03-14 15:35] shashishailaj commented on #27198
@DrEnnui Thank you for your feedback . We will investigate and update the thread.

[2019-03-14 15:42] RohitMungi-MSFT commented on #26845
@diberry GeographyV2 is not listed as supported pre-built entity of Recognizers-Text. The following are the supported pre-built entities of this project.

![image](https://user-images.githubusercontent.com/46958063/54370371-819ef980-469d-11e9-802a-69fbcd728427.png)

@ianhuynh I would request you to log a feature request from [user voice](https://cognitive.uservoice.com/forums/551524-language-under

[2019-03-14 15:44] diberry commented on #26845
@RohitMungi-MSFT Ok, you are correct. This prebuilt is handled in a different manner, which I just remembered. I'll forward to the service team.

[2019-03-14 15:46] Gismork commented on #27074
Exactly the feature I was looking for, thank you !

[2019-03-14 15:46] #27074 closed

[2019-03-14 15:46] #26239 closed

[2019-03-14 15:50] erhopf commented on #27189
#please-close

@sanket0211 thanks for sharing this. We've created a work item to create a Python quickstart for STT using the REST endpoint. We'll update you when this content is published.

[2019-03-14 16:01] kobulloc-MSFT commented on #27162
@woutervanranst Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2019-03-14 16:06] jimmy3912msncom opened #27201 "In Place VM SKU changes for non-primary node types"
In this section: https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-capacity#operational-recommendations-for-the-node-type-that-you-have-set-to-silver-or-gold-durability-level, it mentions that for non-primary node types that we should avoid in place VM SKU changes but when I asked Microsoft support they said this applies to primary node types because they have stateful s

[2019-03-14 16:08] breyed commented on #27039
I'd recommend reopening this issue to track work on clarifying the docs. I appreciate that you answered my question in this Github issue, but that doesn't help others who will come later, see discussion of the protocols in various places in the docs, but remain puzzled about how that discussion applies to the SDK. You don't want to rely on them having to discover this Github issue.

(Funny timing.

[2019-03-14 16:09] MicahMcKittrick-MSFT commented on #27185
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-14 16:10] MicahMcKittrick-MSFT commented on #27183
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-14 16:10] MicahMcKittrick-MSFT commented on #27186
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-14 16:11] MicahMcKittrick-MSFT commented on #27201
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-03-14 16:13] sanket0211 commented on #27189
@erhopf Thanks for a quick reply.

I am closing this.

[2019-03-14 16:13] #27189 closed

[2019-03-14 16:17] Eldorian commented on #24106
Are there any plans to add the 4.7.1 code?

[2019-03-14 16:17] 2WTGeairn opened #27202 "Impact on Lsv2-series"
I'm not clear here what the impact is on the NVMe drives in a Lsv2 instance.

The series documentation says those disks are "...Ephemeral, and all data will be lost on stop/deallocate."  Does that mean the data on those disks is preserved during a Live Migration, and (if so) how does having 4+ TB of data attached affect the "pause" time?

---
#### Document Details

⚠ *Do not edit this section. It

[2019-03-14 16:20] Karishma-Tiwari-MSFT commented on #26360
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-03-14 16:20] #26360 closed

[2019-03-14 16:23] ctaggart commented on #26501
I think you answered it ealier:

I think this issue can be closed. It would be nice to link to a feature request to support that.

[2019-03-14 16:24] Mike-Ubezzi-MSFT commented on #25415
@CarlRabeler Can you confirm that `max log size` and `max tempdb size` are items that should be/should not be listed in the DTU-based document: [Resource limits for single databases using the DTU-based purchasing model](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-dtu-resource-limits-single-databases)? This issue was filed specifically for the DTU-based document but the vCore-b

[2019-03-14 16:27] MicahMcKittrick-MSFT commented on #27064
@jluk I am not seeing a version

az feature list shows

And every cluster I create shows

![image](https://user-images.githubusercontent.com/32313503/54373931-57b4eb00-463b-11e9-9c3c-d71c3e27ba02.png)

[2019-03-14 16:28] CarlRabeler commented on #25415
@Mike-Ubezzi-MSFT @m60freeman Tempdb limits for DTU purchasing model are published here: https://docs.microsoft.com/en-us/sql/relational-databases/databases/tempdb-database?view=sql-server-2017#tempdb-database-in-sql-database - will add link. Max log size is not a currently documented value.

[2019-03-14 16:32] MicahMcKittrick-MSFT commented on #27064
Although I tried to create an AKS cluster via the portal and it looks like it doesn't use VMSS if I do it that route.... Not sure if that is expected. Would have to have AKS look further into it

[2019-03-14 16:33] DixitArora-MSFT commented on #27193
@zak-jama-venture1consulting-com Thank you for your feedback! We will review and update as appropriate.

[2019-03-14 16:34] spelluru commented on #27026
@banisadr - Please review and respond when you get a chance. Thanks.

[2019-03-14 16:37] githubavi opened #27204 "How to run dotnet core functions apps"
Hi, I am unable to configure my dotnet core function apps for Docker container. Is there any documentation?
Mainly I am looking for the Dockerfile reference.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d505ab9-d351-6650-6d0c-bb65d2daa229
* Version Independent ID: 2a1d3487-a93d-2206-7ef9-a91aa275ec4e
* Content: [Cre

[2019-03-14 16:39] Mike-Ubezzi-MSFT commented on #26706
@jssanta96 Okay, this makes more sense. Thank you for this additional detail.

In the following section: [Change Azure SQL Database connection policy](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-connectivity-architecture#change-azure-sql-database-connection-policy), there are some network/firewall changes you need to make on the outbound firewall:

In your corporate firewall,

[2019-03-14 16:41] SaurabhSharma-MSFT commented on #26654
@ryandenkaat Glad to hear that your issue is fixed. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-03-14 16:41] #26654 closed

[2019-03-14 16:42] ksiomelo commented on #17653
I am looking for creating log queries or functions through ARM template. Is it supported?

[2019-03-14 16:44] Mike-Ubezzi-MSFT commented on #26857
@Anmolgan81 You don't need to deploy a VPN Gateway. You simply deploy a Gateway with a Public IP. That gets you past the AWS firewall (whitelisting the Public IP attached to the DMS VNet) to connect to a public-facing endpoint. No VPN required. It can be used but not necessary.

[2019-03-14 16:45] Anmolgan81 commented on #26857
Ok that sounds interesting.

Regards
Anmol Ganju

________________________________
From: Mike Ubezzi <notifications@github.com>
Sent: Thursday, March 14, 2019 10:14:34 PM
To: MicrosoftDocs/azure-docs
Cc: Anmol Ganju; Mention
Subject: Re: [MicrosoftDocs/azure-docs] How to Migrate AWS RDS PostGresql database to Azure SQL Database? (#26857)

@Anmolgan81<https://github.com/Anmolgan81> You don't need t

[2019-03-14 16:50] YutongTie-MSFT commented on #27195
@ajakupov Hi, sorry for your experience.  I just contact the team and will get back to you soon.

[2019-03-14 16:53] robm82 opened #27205 "Update Introduction to Azure Security doc"
I came here looking for Azure security advice, and noticed that this document has not been updated since November 2017.  It is missing key information like the Azure Firewall - can someone please review and update this please as security is the base foundation of everything we build.  Many thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2019-03-14 16:55] sandeep-ma commented on #26586
Not sure why you cannot reproduce it. Maybe you should try a deeper path like mine.

This failed:
[cid:b9bc2efa-99a2-4c34-a77e-45e4e03714f6]
And after a lot of troubleshooting, this worked:
[cid:696d0c9c-cc66-4fce-9435-266d48c284f3]
Thanks
Sandeep
________________________________
From: Pramod Valavala <notifications@github.com>
Sent: March 14, 2019 6:21 AM
To: MicrosoftDocs/azure-docs
Cc: sandeep-

[2019-03-14 16:58] barclayn commented on #16984
@KepanoEgg sorry about the confusion and that is right. You only need the expiration date for the purposes of updating the cert.

[2019-03-14 17:01] barclayn commented on #16984
@MohitGargMSFT The article referenced in this issue was replaced.

[2019-03-14 17:01] barclayn commented on #16984
#please-close

[2019-03-14 17:05] DarrinEide commented on #27195
Hello,

Per https://github.com/Microsoft/azure-docs/blob/master/articles/cognitive-services/Academic-Knowledge/Home.md (which maps to https://docs.microsoft.com/en-us/azure/cognitive-services/academic-knowledge/home) the paid tier is no longer available.

Another option to consider is a project called [Microsoft Academic Knowledge Exploration Service (MAKES)](https://docs.microsoft.com/en-us/acade

[2019-03-14 17:08] YutongTie-MSFT commented on #27195
@ajakupov
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-03-14 17:08] #27195 closed

[2019-03-14 17:10] jreynolds01 opened #27206 "broken link: Az.Security"
[Az.Security](https://github.com/Azure/azure-powershell/blob/master/src/ResourceManager/Security/Commands.Security/help/Az.Security.md) link in the *See Also* section is broken, and the actual target link is not immediately clear.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3663e88-0fa4-cdd3-7f4c-9660f0592473
* Ver

[2019-03-14 17:12] dkmbw commented on #14182
Any Update on this? Would be really needed.

[2019-03-14 17:14] iainfoulds commented on #24942
@diegotrujillor You can directly use the Kubernetes cluster autoscaler for clusters that aren't using VMSS - https://github.com/kubernetes/autoscaler/tree/master/cluster-autoscaler/cloudprovider/azure

The cluster autoscaler behavior built-in to AKS is unlikely to have a migration to VMSS as the underlying infrastructure components are quite different. Rather than individual VM resources for each

[2019-03-14 17:20] MarkusVi commented on #26407
Thanks, @SaurabhSharma-MSFT, fixed.

#please-close

[2019-03-14 17:21] olufea opened #27207 "Cost of Reads and Writes"
How is it that 1KB takes 1RU, and 100KB takes 10RUs not 100RUs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27457010-fd1f-4a39-ca5e-93f118e4ac4e
* Version Independent ID: 605a5b19-a4c8-4c30-ebb4-ce5175f1f4f8
* Content: [Optimizing the cost of reads and writes in Azure Cosmos DB](https://docs.microsoft.com/en-us/azur

[2019-03-14 17:22] Alberto-Vega-MSFT commented on #27165
@JonesMikael Thank you for your valuable feedback. Those are great points. I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-14 17:26] jluk commented on #19011
@stevekmicrosoft I just responded to your internal email about this - it only impacts internal tenant deployments through CLI. Should be resolved on next CLI release, this was caused by an unannounced breaking change by AAD and work arounds include non-CLI deployments or using existing SPs.

[2019-03-14 17:31] Mike-Ubezzi-MSFT commented on #27207
@olufea Thank you for the detailed feedback. If the RU value scaled 1:1 with regard to item size, then the Cosmos DB PaaS would not be economical. There are also other considerations:

Is there something you are seeing that indicates otherwise?

[2019-03-14 17:33] mrbullwinkle commented on #27157
This doc has been updated to reflect the latest Application Insights UI experience @MicrosoftDocs/azure-cxp-triage #please-close

[2019-03-14 17:35] mrbullwinkle commented on #27158
This doc has been updated to reflect the latest Application Insights UI experience @MicrosoftDocs/azure-cxp-triage #please-close

[2019-03-14 17:37] mrbullwinkle commented on #27159
Recommended changes have been made to this article. @MicrosoftDocs/azure-cxp-triage #please-close

[2019-03-14 17:37] mrbullwinkle commented on #27160
This doc has been updated to reflect the latest Application Insights UI experience @MicrosoftDocs/azure-cxp-triage #please-close

[2019-03-14 17:38] Grace-MacJones-MSFT commented on #27157
We will now proceed to close this thread.

[2019-03-14 17:38] #27157 closed

[2019-03-14 17:40] mrbullwinkle commented on #27161
This doc has been updated to reflect the latest Application Insights UI experience @MicrosoftDocs/azure-cxp-triage #please-close

[2019-03-14 17:41] mrbullwinkle commented on #27166
Preview has been added to the title of this doc. @MicrosoftDocs/azure-cxp-triage #please-close

[2019-03-14 17:43] olufea commented on #27207
It just seemed odd to me. Since the document does not mention that the cost/KB is non-linear, I was assuming 1KB>1RU, 10KB>10RU etc. So sounds like if I make 100 reads for a 1KB item, it will cost me 100RUs, but if I make 1 read for a 100KB item it will cost 10RUs. Factoring in the per-trip costs, the non-linearity makes sense.

Thanks for the clarification.

[2019-03-14 17:45] Mike-Ubezzi-MSFT commented on #27166
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-14 17:45] #27166 closed

[2019-03-14 17:46] Mike-Ubezzi-MSFT commented on #27207
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-14 17:46] #27207 closed

[2019-03-14 17:48] #26547 closed

[2019-03-14 17:49] Grace-MacJones-MSFT commented on #27161
We will now proceed to close this thread.

[2019-03-14 17:49] #27161 closed

[2019-03-14 17:50] Mike-Ubezzi-MSFT commented on #27047
I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-14 17:50] MicahMcKittrick-MSFT commented on #27202
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-14 17:52] MicahMcKittrick-MSFT commented on #26885
adding @dkkapur

[2019-03-14 17:53] MicahMcKittrick-MSFT commented on #26904
@eugen-nw I will close for now but if you have further questions just let me know and we can always reopen and continue the discussion.

[2019-03-14 17:53] #26904 closed

[2019-03-14 17:53] shants123 commented on #27202
Live Migration is currently not supported for Lsv2.

[2019-03-14 17:53] MicahMcKittrick-MSFT commented on #27064
@jluk I am going to close this and let's continue offline. Please add me to any threads you have going on so we can continue.

[2019-03-14 17:53] #27064 closed

[2019-03-14 17:55] MicahMcKittrick-MSFT commented on #27202
Thanks @shants123
Do you think we should add a note or something to this doc regarding that?

[2019-03-14 17:55] BharathNimmala-MSFT commented on #27158
Thank you Michael.

[2019-03-14 17:55] #27158 closed

[2019-03-14 17:56] BharathNimmala-MSFT commented on #27159
Thank you Michael.

[2019-03-14 17:56] #27159 closed

[2019-03-14 17:57] 2WTGeairn commented on #27202
Thank you Shantanu.  Does that mean the machine won't get live-migrated, or how is maintenance handled?  I guess the bottom-line question here is what do we need to worry about when running production loads on Lsv2?

[2019-03-14 17:58] MicahMcKittrick-MSFT commented on #27183
@dlepow @iainfoulds could either of you comment further on this?

[2019-03-14 17:59] BharathNimmala-MSFT commented on #27160
Thank you Michael.

@SychevIgor We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-14 17:59] #27160 closed

[2019-03-14 17:59] karthikhebbar commented on #27188
Ignore aud in first token. **Even if aud is https://graph.microsoft.com (resource) same error is seen**. I was inter using resource and scope to test and mis pasted token of scope which is refering to Azure AD API instead of microsoft graph api.

[2019-03-14 18:01] bwren commented on #26692
Thanks for reporting this.  This article was actually supposed to be retired since it overlaps with https://docs.microsoft.com/en-us/azure/azure-monitor/platform/alerts-activity-log.  I'm going to remove it.

[2019-03-14 18:01] bwren commented on #26692
#please-close

[2019-03-14 18:04] iainfoulds commented on #26716
It's not really a Kubernetes function, rather enabling DOCKER_CONTENT_TRUST environment variable on the host for the container runtime. Currently, there are no specific steps to enable this using the AKS tooling, hence no supporting docs. The AKS and ACR PM teams are discussing how to enable this as part of an AKS configuration option.

+ @SteveLas and @seanmck from the PM teams if you have specif

[2019-03-14 18:06] mike-urnun-msft commented on #27194
Hi @alexs1305 Thank you for your feedback! We will review and update as appropriate.

[2019-03-14 18:08] MicahMcKittrick-MSFT commented on #27186
@binaytamrakar I ran through this doc but it worked as expected. In the past, we have seen some instances of the public IP getting stuck and not allocating properly. The product team is aware of this and working on the fix. At this time the only resolution is to retry the operations to get it to work. Please give the whole process another try and see if it works a second time.

If you still cannot

[2019-03-14 18:08] #27186 closed

[2019-03-14 18:09] nkwolf opened #27208 ""Consent for Azure AD + Microsoft account applications" needs clarification"
I was hoping to get some information about applications that need to support both Microsoft Personal Accounts and Azure AD accounts but this section is really not helping. Is "Use of a single application" the only strategy ? What are the other strategies for consent?

Also "Use of a single client application" lists "id_token" as an authentication method however the [Breaking Changes](https://docs.

[2019-03-14 18:09] vhorne commented on #26551
Diagram updated and merged,
#please-close

[2019-03-14 18:10] paulbatum commented on #26761
1. Yes. You can confirm this yourself. Just make a new function app in VS, or the portal, or anywhere really, and deploy. Then go to the kudu console (platform features -> Advanced tools (kudu)) and look at the file system. Or use the console option (platform features -> console).

2. Not sure what doc edit you are asking for? The doc correctly states what the default is if the user does not speci

[2019-03-14 18:10] aanandr commented on #27199
@jxfish2 - you have to copy the script content that you see on that page into a text file, save it and rename it per the guidance provided in the documentation link above. It will then be ready to run. Did you try these steps?

[2019-03-14 18:13] LukeOlsen-zz commented on #26392
Thanks I primarily want to use the neural voices and more of them. I use West US resources and am worried about latency.

[2019-03-14 18:13] mike-urnun-msft commented on #27204
Hi @githubavi Thank you for your feedback! We will review and update as appropriate.

[2019-03-14 18:16] patel-code opened #27209 "Comprehensive list of URLs we need to whitelist to send data to Azure storage from an on-prem server"
What are the list of IP's we need to whitelist on Firewall if we are sending data using AZCopy to a vendor created Azure Storage?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1141c265-4aea-c6be-4d61-3566fe8474b8
* Version Independent ID: 3cb0f2ba-cf8b-7fdd-414b-b8d95dca004c
* Content: [Copy or move data to Azure Stor

[2019-03-14 18:17] TracyGH commented on #26899
@HeidiSteen - Yes, that is the API I use for the programmatic blob deletes.  When seeing the behavior I described above, the blobs were actually deleted manually using the Azure Storage Explorer.  But based on the documentation, I think the 'orphan' result would be the same either way.

[2019-03-14 18:20] AmanGarg-MSFT commented on #27209
@patel-code Can you please provide the url of the document you are referring to so that we can help you better.

[2019-03-14 18:25] patel-code commented on #27209
Thanks Aman - We are using - https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azcopy

Our vendor provided following destination location (Scribbled)
https://*******upload.file.core.windows.net/test/

On our server we disabled proxy as suggested on one of the blogs.
Our Firewall engineer mentions the following:

Reconfiguring the server to use the firewall instead of the proxy was

[2019-03-14 18:33] TravisCragg-MSFT commented on #27197
@bhavinbdoshi Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-14 18:33] SaurabhSharma-MSFT commented on #26866
@liamfoneill Is there any specific reason you want to restrict users to create additional AD tenant ?

[2019-03-14 18:36] banisadr commented on #24674
#please-close

[2019-03-14 18:36] AmanGarg-MSFT commented on #27171
@bmitisor Thank you for the question! We are investigating this and will get back to you shortly.

[2019-03-14 18:37] liamfoneill commented on #26866
Yes - imagine I give a user ownership of a subscription and they create a new AAD Tenant then transfer the subscription to the new tenant. As a Global Administrator I have now lost visibility as to who has access to that subscription. The new tenant could have weak security and couple possible my be hacked with the hacker deploying expensive resource to this Azure Subscription which I would have t

[2019-03-14 18:37] Alberto-Vega-MSFT commented on #27179
@smoms Sorry about the confusion. The key is on these lines:

 _"Microsoft provides best effort support for systems using those container engines; however, Microsoft does not have the ability to ship fixes for issues in them"_

and more importantly this one  _"Microsoft recommends using moby-engine on production systems."_

Thanks for providing your feedback! I have assigned the issue to the conte

[2019-03-14 18:37] femsulu commented on #27154
added triage labels.
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-03-14 18:38] #27154 closed

[2019-03-14 18:39] MicahMcKittrick-MSFT commented on #26885
@jancorluy it appears this section is incorrect

![image](https://user-images.githubusercontent.com/32313503/54382638-a66b8080-464d-11e9-81b7-958463336525.png)

For Mesh, this is not currently supported publicly. They are working on it but it is not available at this point in time. I will remove that section from the doc to avoid further confusion.

[2019-03-14 18:41] rothja commented on #27171
@bmitisor Thank you for your question. I need to get this issue to one of our experts on the app service side. @AmanGarg-MSFT , could you reassign this to @cephalin, who I believe would be the right contact for app service. @cephalin , if not, please let me know who would be the best to research this. Thank you!

[2019-03-14 18:41] AmanGarg-MSFT commented on #27180
@x00 Thank you for the feedback! We are investigating this and will get back to you shortly.

[2019-03-14 18:41] raymondandreassen opened #27210 "The BgpPeeringAddress for the virtual network gateway VPN-gateway cannot be modified"
In Windows Admin Center, trying to "add azure network adapter".

Failed to submitted the update request of Microsoft Azure Virtual Network Gateway WAC-Created-vpngw-97, Detail error message from Azure: The BgpPeeringAddress for the virtual network gateway /subscriptions/<hidden>/resourceGroups/Nett/providers/Microsoft.Network/virtualNetworkGateways/VPN-Gateway cannot be modified

After days with s

[2019-03-14 18:41] smoms commented on #27179
@Alberto-Vega-MSFT  thanks

[2019-03-14 18:43] AmanGarg-MSFT commented on #27184
@x00 Thank you for the feedback! We are investigating this and will get back to you shortly.

[2019-03-14 18:44] AmanGarg-MSFT commented on #27210
@raymondandreassen Can you please provide the url of the document you are referring to so that we can help you better.

[2019-03-14 18:47] sujal1989 opened #27211 "Staged copy replacing NULL values with blank when copying data from BLOB to DW."
We have huge csv files uploaded in BLOB and when we try to to use Polybase with staging to achieve performance, the NULL values in the csv is getting replaced with BLANK values. When not using staging and polybase, the NULLs are copied as is to the DW tables. Any suggestions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-03-14 18:50] AmanGarg-MSFT commented on #27209
@patel-code Thank you for providing additional information. We are investigating this and will get back to you shortly.

[2019-03-14 18:57] tamram commented on #26705
@AlejoSQL - The white paper you reference above is still valid in terms of the underlying architecture of Azure Storage, even though it's eight years old. Any enhancements to the underlying architecture are covered in our documentation.

[2019-03-14 18:58] tamram commented on #26705
@AlejoSQL - if you have specific questions about storage architecture, feel free to open another issue to ask them.

[2019-03-14 18:58] vladvino commented on #13125
Feedback was addressed in https://github.com/MicrosoftDocs/azure-docs/commit/eedcb9fe23689b046159209f3448edb0bd659bb6#diff-9b7be957f0a4274ad8205b7635fa1f14. #please-close

[2019-03-14 19:04] MartinJaffer-MSFT commented on #26114
@hmayer1980  While I do not have any information on timelines, I am trying to get more information for you.  Are you able to access the "Data Flow" features?

[2019-03-14 19:05] TravisCragg-MSFT commented on #27192
@vikaskumawat80 Unfortunately Azure does not have a comparable product to AWS Lambda@Edge at this time. If you would like us to add this in the future, please [leave your feedback Here](https://feedback.azure.com/forums/355860-azure-functions).

For Bot Mitigation, Azure Fuctions is under the protection of [Azure DDoS Protection Basic](https://azure.microsoft.com/en-us/blog/azure-ddos-protection-s

[2019-03-14 19:09] BhargaviAnnadevara-MSFT commented on #26514
@karthikdevarakonda Thanks for the additional info. I shall check this in greater detail and get back to you.

[2019-03-14 19:12] raymondandreassen commented on #27210
The url of the document?
I do not quite anderstand what you mean. The center section of my initial text if the complete errormessage in Windows Admin Center, presumably originating from Azure. I have left out the subscription guid.

[2019-03-14 19:14] anlatsko opened #27212 "Automate VM image publish to Azure Marketplace"
Is this the right way to automate publishing an updated offer from a custom release pipeline in Azure Devops to the Azure Marketplace? We have a current offer published but we update our VM image/VHD offering fairly frequently and it would be helpful to be able to kick off a release pipeline that automatically published it as an update.

If it is, it might be helpful to provide additional document

[2019-03-14 19:16] v-miclar commented on #26675
#please-close
Anilripla, you make a good point.  The information on obtaining an AAD security token is presently in the [SaaS API V1](https://docs.microsoft.com/azure/marketplace/cloud-partner-portal/saas-app/cpp-saas-fulfillment-api-v1) topic, q.v.   I will move this information out into a new common topic, peer to the two API reference topics.

[2019-03-14 19:16] AmanGarg-MSFT commented on #27210
I mean the url of the document that you were following when you encountered this error.

In case your query in not related to document content, open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/newthread?prof=required) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community members could pr

[2019-03-14 19:17] #27210 closed

[2019-03-14 19:21] ParthiKarnan commented on #26406
@KetanChawda-MSFT thanks for your assist. Give me sometime to implement that feature with my expectation. Sorry for the delayed response since I was busy with some work.

[2019-03-14 19:22] vladvino commented on #12877
Good feedback, thank you. Clarified use with identity providers other than Azure AD in https://github.com/Azure/api-management-policy-snippets/commit/dd73aa31493490de91f193f31e471951aff27a4e. #please-close

[2019-03-14 19:22] rfsonders commented on #26590
Any updates? Here is the current workaround. Which is time-consuming.
Workaround for SQL RP PowerShell mismatch.
1. Install the current AzS build.
2. Run this script to remove all Azure* modules.

Get-Module -Name Azs.* -ListAvailable | Uninstall-Module -Force
Get-Module -Name Azure* -ListAvailable | Uninstall-Module -Force
Remove-Item 'C:\Program Files (x86)\WindowsPowerShell\Modules\Azure*' -For

[2019-03-14 19:24] TravisCragg-MSFT commented on #27184
@x00 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-14 19:24] vladvino commented on #10860
@mike-urnun-msft please assign this issue to @mikebudzynski

[2019-03-14 19:26] TravisCragg-MSFT commented on #27180
@x00 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-14 19:26] barclayn commented on #22713
@jeanluc33  the article has been replaced by https://docs.microsoft.com/en-us/azure/key-vault/tutorial-net-create-vault-azure-web-app You are indeed correct that parameter is not available in 2012 R2 as described in https://docs.microsoft.com/en-us/powershell/module/pkiclient/new-selfsignedcertificate?view=winserver2012r2-ps

[2019-03-14 19:26] barclayn commented on #22713
#please-close

[2019-03-14 19:28] vladvino commented on #10638
Suggested fix is in https://github.com/MicrosoftDocs/azure-docs-pr/pull/69641/commits/cb2baf836f6d2eb559610f6dbca9271baa796033. #please-close

[2019-03-14 19:29] dreck410 opened #27213 "Rest API"
It would be helpful if these PowerShell commands had a Rest API option. If that exists can they be added to this doc?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c823b1f-688f-e1b9-1590-92d12c28b138
* Version Independent ID: ac483660-9046-51b6-b678-4e6f5cd15e74
* Content: [Use PowerShell to resize a Windows VM in Az

[2019-03-14 19:30] vladvino commented on #10146
@mike-urnun-msft please assign this issue to @mikebudzynski

[2019-03-14 19:32] vladvino commented on #6489
@mike-urnun-msft please assign this issue to @miaojiang

[2019-03-14 19:32] Martony78 commented on #26598
Any update?

[2019-03-14 19:40] vladvino commented on #6518
https://docs.microsoft.com/en-us/azure/api-management/api-management-using-with-vnet#a-namesubnet-size-a-subnet-size-requirement section adequately describes IP address usage. #please-close

[2019-03-14 19:40] MicahMcKittrick-MSFT commented on #27213
@dreck410 we do provide a list of REST commands for VM operations. You can find them here

https://docs.microsoft.com/en-us/rest/api/compute/

Not sure if it makes sense to add REST commands directly to this doc but it might in others.

@cynthn thoughts?

[2019-03-14 19:44] TravisCragg-MSFT commented on #27145
@jgallucci32 Thanks for your feedback! [The best place to request features for Azure Stack is on Feedback.Azure.Com](https://feedback.azure.com/forums/344565-azure-stack), it is reviewed by the Azure Stack Team.

I will also pass this feedback and #27143 directly to the team as well.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in y

[2019-03-14 19:44] #27145 closed

[2019-03-14 19:44] TravisCragg-MSFT commented on #27143
@jgallucci32 Thanks for your feedback! [The best place to request features for Azure Stack is on Feedback.Azure.Com](https://feedback.azure.com/forums/344565-azure-stack), it is reviewed by the Azure Stack Team.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the

[2019-03-14 19:44] #27143 closed

[2019-03-14 19:47] vladvino commented on #6844
We appreciate the feedback. Any operation performed in the Azure portal can be done via PowerShell command or script. We provide some in the Samples section. We will consider adding more in the future based on priorities and available resources. #please-close

[2019-03-14 19:48] mganeshphani opened #27214 "ASA output doesnt work with V2 storage accounts"
Is there a limitation on V2 accounts not being usable for ASA job output? I see none here
https://docs.microsoft.com/en-us/azure/stream-analytics/stream-analytics-define-outputs#blob-storage

Following documentation suggests use of General Purpose v2, instead of blobstorage, when possible..
https://docs.microsoft.com/en-us/azure/storage/common/storage-introduction#types-of-storage-accounts

we lan

[2019-03-14 19:52] alexsmithMSFT commented on #26474
@sethmanheim have you had a chance to check? The link is still incorrect.

[2019-03-14 19:54] TravisCragg-MSFT commented on #26590
@rfsonders You have already done what my suggestion would be for a workaround. I am following up now to see if I can give a timeline on the release of a new SQL RP.

[2019-03-14 19:57] kinseymd opened #27215 "Encryption Model and Key Management"
It would be helpful if the (very helpful) table listing all encryption options for your services had it's own header. Right now to link to it, I need to link to the Azure SQL Database tag
https://docs.microsoft.com/en-us/azure/security/azure-security-encryption-atrest#azure-sql-database

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2019-03-14 19:58] roygara commented on #26748
@alpinedelight thanks for letting us know, we appreciate it! Always good to hear our updates are in the right direction. :)

[2019-03-14 19:59] cynthn commented on #27213
@dreck410 and @MicahMcKittrick-MSFT Sorry, we don't cover REST API in these docs.

[2019-03-14 20:02] rcladmin commented on #26675
@v-miclar

I have another question. When I receive the marplace token in a querystring that needs to be resolved. What is query parameter name. I am asking this because I need to write code to get the query string parameter from the url.

Example:

Microsofoft Sass Servicve sends https://my-landing-page?marketplace-token="adcbefh" to ISV service.

Now the ISV needs to resolve market place  token b

[2019-03-14 20:04] MicahMcKittrick-MSFT commented on #27213
Thanks @cynthn that is what I was figuring.

@dreck410 please use the link I provided for the REST options available. If we continue to get asks for REST examples it might be something we can consider for the future but for now the most popular methods (PowerShell, CLI and Portal) are what we are able to cover in these docs.

[2019-03-14 20:04] #27213 closed

[2019-03-14 20:06] MarileeTurscak-MSFT commented on #27206
@jreynolds01
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-14 20:06] #12877 closed

[2019-03-14 20:07] jeanluc33 commented on #22713
They’re two entirely different scenarios. The replacement is Azure web app,
which can use the managed identity.

The original article worked for existing legacy web apps.
On Thu, Mar 14, 2019 at 3:26 PM Barclay Neira <notifications@github.com>
wrote:

[2019-03-14 20:07] Mystere commented on #13959
Doesn't look like this was ever changed...

[2019-03-14 20:08] #13125 closed

[2019-03-14 20:08] #6844 closed

[2019-03-14 20:10] SaurabhSharma-MSFT commented on #27215
@kinseymd Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-14 20:11] SaurabhSharma-MSFT commented on #27205
@robm82 Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-14 20:17] msmimart commented on #23124
@jurajgh Apologies for the delay, investigating now. By chance have you gotten any more info or help in the meantime? I also wanted to point out that there's a one-time passcode feature preview that might give the desired sign-in experience: https://docs.microsoft.com/en-us/azure/active-directory/b2b/one-time-passcode

[2019-03-14 20:21] JasonWHowell commented on #26323
#please-close This should publish in the next couple of hours.

[2019-03-14 20:23] v-miclar commented on #26675
When a user is redirected to an ISV’s website, the URL contains a token in the query parameters. The ISV is expected to use this token, and make a request to resolve it. The token query parameter in the URL when the user is redirected to SaaS ISV’s website from Azure. Note: This token is only valid for 1 hour. Additionally, URL decode the token value from the browser before using it. The ISV will

[2019-03-14 20:26] msmimart commented on #19238
Hi @katlimruiz, would you please elaborate?

[2019-03-14 20:30] anilripla commented on #26675
@v-miclar

Thanks, I get that the parameter name is 'token'.

[2019-03-14 20:30] #26675 closed

[2019-03-14 20:33] msmimart commented on #22515
We have created a backlog item for these clarifications and will address them in future iterations. #please-close

[2019-03-14 20:49] kgremban commented on #27179
@smoms was Alberto's response all you needed to resolve this issue, or do you think something in the documentation could be explained more clearly?

[2019-03-14 21:01] cherylmc commented on #27180
@anzaman

[2019-03-14 21:01] cherylmc commented on #27184
@anzaman

[2019-03-14 21:05] anzaman commented on #27180
that is fine, you can remove the .exe from the command for Linux

[2019-03-14 21:05] SaurabhSharma-MSFT commented on #27055
@blouwagie Please find the answers below -
1. Yes, that is correct you need to replace curly braces {} and the inside text with the information asked for.
2.  For Subscriptions Guid, Workspace Names and Resource Group name, please go to Services on Azure portal and search for 'Log Analytics workspaces' like below
![image](https://user-images.githubusercontent.com/38112130/54391221-79c16400-4661-11

[2019-03-14 21:07] Ananthyogesh opened #27217 "Max Threads supported by an Azure APP Service"
Where to find the maximum number of Threads an Azure APP service can support.

Is there a way to increase set the maximum number of threads.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1cd57b6d-3c6f-e546-b3ea-f83892f4c23d
* Version Independent ID: 27aecc7b-f107-96d4-b044-ae026bca2727
* Content: [Azure subscription l

[2019-03-14 21:09] MicahMcKittrick-MSFT commented on #27202
@2WTGeairn yes this means that if you are running Lv2 the platform will not use live migration. Instead, if a reboot is required to perform maintenance, we will provide you with a time frame of when you need to manually perform a reboot. If done during that maintenance window, the reboot you perform will migrate the VM to updated hardware. If you do not perform a reboot during the maintenance wind

[2019-03-14 21:13] MicahMcKittrick-MSFT commented on #26885
@jancorluy I updated the doc to remove that paragraph. The changes should go live in a few hours.

[2019-03-14 21:13] #26885 closed

[2019-03-14 21:16] v-miclar commented on #27212
#please-close
As documented, this API provides a general mechanism to update an existing offer or create a new offer.  However, only allowable operations are permitted, for example see [Update Azure Marketplace and AppSource offers](https://docs.microsoft.com/azure/marketplace/cloud-partner-portal/virtual-machine/cpp-update-existing-offer). We currently do not have code samples for this API.

[2019-03-14 21:16] gewarren opened #27218 "Wrong TOC title"
The TOC title for this page says .NET Standard but should say .NET Core.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4c6d63e-95f5-de2c-972b-4da5fe71a6a6
* Version Independent ID: 338bbd1b-d86d-ff48-0b8a-1d48cb9547f2
* Content: [Send events using .NET Core - Azure Event Hubs](https://docs.microsoft.com/en-us/azure/e

[2019-03-14 21:18] anlatsko commented on #27212
Thanks for the info!

[2019-03-14 21:22] barclayn commented on #24766
@mumoryan Thank you for pointing this out to us. I have updated the document and the change should be live in the next 24 hours.

[2019-03-14 21:23] rwike77 commented on #24407
@kyleswinney The videos, and all of the MVA website, have been retired.  We're working on getting the videos hosted somewhere else.  When the videos are back up we'll add the links back to the docs.  Sorry for the inconvenience.  #please-close

[2019-03-14 21:23] barclayn commented on #24766
#please-close

[2019-03-14 21:24] MarileeTurscak-MSFT commented on #27206
Thanks for the feedback! I created a pull request for review by @rkarlin
https://github.com/MicrosoftDocs/azure-docs-pr/pull/69674

[2019-03-14 21:24] #27206 closed

[2019-03-14 21:24] SaurabhSharma-MSFT commented on #27178
@jaypatrick Unfortunately, you cannot disable the web crawler robot.txt response as this is getting turned on automatically.  Please up vote an existing [user feedback](https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/36204811-allow-web-crawler-robots-on-a-case-by-case-basis) on the same for the product team to include into their plans.

[2019-03-14 21:28] p0onage commented on #14453
I've added a post explaining how to get the swagger endpoint working quite easily

https://social.msdn.microsoft.com/Forums/en-US/f603e835-0ebb-453e-ae00-60319371b10b/swagger-api?forum=azureblockchain

[2019-03-14 21:29] #24407 closed

[2019-03-14 21:40] SaurabhSharma-MSFT commented on #27190
@grayjeremy Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-03-14 21:41] SnehaGunda commented on #23319
@CeciAc the "new" key word is required for the code block. Because there isn't any doc fix, we will now close this issue.

#please-close

[2019-03-14 21:46] SaurabhSharma-MSFT commented on #27205
@robm82 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-03-14 21:50] SaurabhSharma-MSFT commented on #27215
@kinseymd can you please explain when you "own header" ? Do you want the sections to be separated as pages.

[2019-03-14 21:51] cherylmc commented on #27180
All set. #please-close

[2019-03-14 21:52] TravisCragg-MSFT commented on #27180
@x00 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-14 21:52] #27180 closed

[2019-03-14 21:55] mike-schenk commented on #20539
This is still not abundantly clear.

Why is the IdentityExperienceFramework app necessary? Can't the token audience be the same as the application making the request (i.e. the ProxyIdentityExperienceFramework app)?

[2019-03-14 21:56] mike-schenk commented on #12179
So you're saying one pair of apps _can_ be shared across different policies, but _should_ they? Are there any reasons to avoid sharing them?

[2019-03-14 22:04] #27202 closed

[2019-03-14 22:04] bganapa opened #27219 "Commit HashIds shown in the page likely due to merge conflict"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 330420e0-351d-1af9-1fc0-fa7df6015398
* Version Independent ID: 97a1c9a8-936f-f5a5-9fa2-195504cb8bc3
* Content: [Connect to Azure Stack with PowerShell as an operator](https://docs.microsoft.com/en-us/azure/azure-stack/azure-stack-powershell-configure-admin)
* Content Source

[2019-03-14 22:07] MarileeTurscak-MSFT commented on #26720
Only the global administrators or those with Read.Write.All permissions will be able to see this information.

For an explanation of these roles, see here: https://docs.microsoft.com/en-us/azure/active-directory/develop/v1-permissions-and-consent

[2019-03-14 22:08] MarileeTurscak-MSFT commented on #26720
Hope this answers your question! If you have further questions or would like to continue the discussion, please reach out to me on MSDN and I will gladly continue the conversation. https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

[2019-03-14 22:08] #26720 closed

[2019-03-14 22:14] jeffmartinxyz opened #27220 "Machine Learning Workspaces now require Admin credentials to be enabled on ACR"
Disabled:
Creating image
Image creation operation finished for image sklearn-mnist-svc:2, operation "Succeeded"
Creating service
Running.
FailedACI service creation operation finished, operation "Failed"
Service creation polling reached terminal state, current service state: Transitioning
Service creation polling reached terminal state, unexpected response received.
Wall time: 3min 23s

Enabled:
C

[2019-03-14 22:15] jeffmartinxyz opened #27221 "If users find ACI operations that failed it may be because there is no admin user enabled on ACR"
Please see https://github.com/MicrosoftDocs/azure-docs/issues/27220 for more info.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a077225-4fb9-57c8-6bf7-f6e22eef0870
* Version Independent ID: bf5ce9ce-51a8-43e2-7362-e3de0e2ac63e
* Content: [Deployment troubleshooting guide - Azure Machine Learning service](https://doc

[2019-03-14 22:16] kinseymd commented on #27215
Just like the section above (azure sql db) has its own header section and
therefore a specific URL so I can jump to this section of the page.
This table is not only related to Azure SQL so it should have its own
section.

On Thu, Mar 14, 2019 at 4:51 PM SaurabhSharma-MSFT <notifications@github.com>
wrote:

[2019-03-14 22:18] SnehaGunda commented on #26605
@stratospheres thanks for pointing out the issue, in that context, /userid as partition key was just an example, however I see your point its more helpful to match it to what the sample code expects. Will update the doc shortly.

[2019-03-14 22:19] #10638 closed

[2019-03-14 22:19] #11232 closed

[2019-03-14 22:19] #16984 closed

[2019-03-14 22:19] #22713 closed

[2019-03-14 22:19] #24674 closed

[2019-03-14 22:20] #25134 closed

[2019-03-14 22:20] #26407 closed

[2019-03-14 22:20] #26550 closed

[2019-03-14 22:20] #26551 closed

[2019-03-14 22:20] #26692 closed

[2019-03-14 22:20] #27038 closed

[2019-03-14 22:21] #6518 closed

[2019-03-14 22:23] MarkHeff commented on #26899
@TracyGH Would you be able to provide more information on the repro steps?

_For example, it seems that if I have 2 orphans in my index, then Azure will not index 2 of the blobs that actually exist in the same container._

_Then once I delete the orphans from the index, it does not appear to automatically include them at the next scheduled run. I have to perform a full indexer reset and re-run bef

[2019-03-14 22:34] roygara commented on #26235
@dcbrown16 we've reworked the metrics/analytics section so now it should be fine. Thanks again for letting us know!

#please-close

[2019-03-14 22:40] barclayn commented on #26370
@jeanluc33 The document was already going to be replaced and the new article was intended as its replacement. As you know the new article uses .Net core. so the example works across multiple Windows and Linux versions.

[2019-03-14 22:45] luisgiraldo opened #27223 "Missing Product SKU"
Team, could Microsoft 365 E5 SKU be added to this list? There may be other new (and missing) SKUs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c245452-161d-89a1-c026-99a0721cf071
* Version Independent ID: 16dec59a-eb83-1837-4efd-4645e7aeaed2
* Content: [Product names and service plan identifiers for licensing - Azu

[2019-03-14 22:51] sayash commented on #26584
@jakaruna-MSFT Thanks, confirming it works! The ARM template has to have the new SP.

[2019-03-14 22:55] femsulu commented on #27212
adding triage labels and closing as resolved.

[2019-03-14 22:55] #27212 closed

[2019-03-14 22:56] ggailey777 commented on #27204
@githubavi when you use the Core Tools to create your function app locally with the `--docker` option a dockerfile is generated for you. This dockerfile uses the correct Functions container for your chosen language as a base.

Consider the following command:

[code]

Generates the following dockerfile:

[code]

You can customize your own dockerfile, just as long as you use an approved Functions im

[2019-03-14 23:03] karthikdevarakonda commented on #26514
@BhargaviAnnadevara-MSFT it started to work couple of observations:
- it takes approx 2 - 3 mins to create the log
- few changes i made to code was i have instantiate the TelemetryConfiguration and pass that as a parameter in Telemetry client.

TelemetryConfiguration config = new TelemetryConfiguration("_iKey_");
TelemetryClient client = new Telemetry(config);

I was passing the ikey as part of te

[2019-03-14 23:03] #26514 closed

[2019-03-14 23:05] SaurabhSharma-MSFT commented on #27223
@luisgiraldo Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-03-14 23:07] SwamyNallamalli commented on #26742
Thanks Dixit.

[2019-03-14 23:07] #26742 closed

[2019-03-14 23:07] SaurabhSharma-MSFT commented on #27215
@kinseymd ok. Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-03-14 23:08] dcbrown16 commented on #26235
Great, thanks @roygara !

[2019-03-14 23:08] #26235 closed

[2019-03-14 23:09] kellsMS opened #27224 "az aks create ... command results in error: The password must contain at least 1 special character"
Something seems to be broken with the content in this tutorial. I've tried three different types of AAD secrets, and even tried not including any AAD information at all. This leads me to believe that this error is related to different functionality.

I'm running azure-cli v2.0.60

Full error details:
The password must contain at least 1 special character. paramName: PasswordCredentials, paramValue

[2019-03-14 23:11] TravisCragg-MSFT commented on #26750
@radwiv I have fixed the typo, and the doc should reflect within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-14 23:11] #26750 closed

[2019-03-14 23:16] shizn commented on #11297
If someone wants to attach the process in the module running on remote IoT Edge device, check this blog post for the details - https://devblogs.microsoft.com/iotdev/easily-build-and-debug-iot-edge-modules-on-your-remote-device-with-azure-iot-edge-for-vs-code-1-9-0/. The link is also included in the tutorial.

For those who are looking for attach mode guidance, debugging dll without container, the

[2019-03-14 23:21] roygara commented on #26699
Hello @Klaas- , thanks for reaching out. What the article is saying is that we've *designed* them for 99.999% but we're only providing an SLA for 99.9%. All the numbers are actually correct but, they're all scenario dependent. What scenario are you trying to figure out the numbers for? Or are you commenting in general about the readability?

[2019-03-14 23:21] himanshusinha-msft commented on #27214
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-03-14 23:22] hukun01 opened #27225 "Does it work with AzureDiskEncryption(ADE)?"
Does it work with AzureDiskEncryption(ADE)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51c75ce7-2144-d81a-693c-fb51cc00f3e5
* Version Independent ID: cba654ea-ee84-fca4-a76d-717bfb9d9bf5
* Content: [Automatic OS image upgrades with Azure virtual machine scale sets](https://docs.microsoft.com/en-us/azure/virtual-mac

[2019-03-14 23:23] kgremban commented on #23264
@djaus2 The new version of the quickstart that directs readers to use an Azure VM for their first IoT Edge device is now live if you want to check it out. The intention behind this change is to help new users get started quickly with a test device that they can use to learn more about the service with the tutorials. The how-to articles should be used by people who want information about a specific

[2019-03-14 23:24] femsulu commented on #27217
@Ananthyogesh Thanks for the comments, We are investigating and will get back to you shortly.

@rothja & @cephalin  - any insight on the max thread limit?

[2019-03-14 23:25] jeanluc33 commented on #26370
These are two completely different articles.

Old article: .net Framework 4.7.2 etc.
New article: .net Core

Old article: any web application (eg on premises)
New article: azure web app.

I guess it’ll be as it is but this is disappointing that the former documentation couldn’t be maintained.

[2019-03-14 23:25] kgremban commented on #24335
@ondrejspilka Can you provide more details about the scenario that you were testing so that I can verify the steps that you recommended?

[2019-03-14 23:28] MicahMcKittrick-MSFT commented on #27224
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-14 23:31] rboucher commented on #26459
This text added in it's own section.

Costs
Each of the options above may incur costs. Be sure to research them to avoid unexpected bills. Application Insights, Event hub, and Azure Storage have separate costs associated with ingestion and the time stored. In particular, Azure Storage will hold any data forever so you may want to purge older data after a certain time period to keep your costs down

[2019-03-14 23:31] rboucher commented on #26459
@helderpinto Updated doc.  Issue already closed, but making sure you are updated.

[2019-03-14 23:33] MarileeTurscak-MSFT commented on #26723
I just tested this in my own lab. In order to remove the inherited licenses you need to remove the user from the group. You cannot have users assigned to the license or they may still be able to access some of the services, especially if it has been less than 30 days since the license expired. CC: @curtand

[2019-03-14 23:35] MicahMcKittrick-MSFT commented on #27225
Yes enabling ADE should not impact automatic OS upgrades. You just need to make sure you meet all the ADE prerequisites

https://docs.microsoft.com/en-us/azure/security/azure-security-disk-encryption-prerequisites

[2019-03-14 23:36] kgremban commented on #13393
A long time coming, but we recently updated the Windows quickstart to direct users to create an Azure VM for their test device.

@sergaz-msft #please-close this issue

[2019-03-14 23:37] MarileeTurscak-MSFT commented on #26723
Please try this and also check for any license conflicts in the billing page, per the guide: https://docs.microsoft.com/en-us/office365/admin/subscriptions-and-billing/resolve-license-conflicts?view=o365-worldwide

If you still have issues feel free to tag me in the comments, ask me on MSDN, or leave a feedback request in User Voice.
https://social.msdn.microsoft.com/Forums/en-US/home?forum=Window

[2019-03-14 23:37] #26723 closed

[2019-03-14 23:38] kgremban commented on #12643
@sergaz-msft would you #please-close this issue because I believe it to be resolved? If anyone on this thread thinks there's more work to be done, we can reopen it.

[2019-03-14 23:38] MicahMcKittrick-MSFT commented on #27224
@kellsMS can you try creating the SP with `az ad sp create-for-rbac --skip-assignment` and specify with a`z aks create --service-principal --client-secret` as per https://docs.microsoft.com/en-us/azure/aks/kubernetes-service-principal#manually-create-a-service-principal

Also, looking at your username I was curious as to if you were an FTE, if so please ping me offline as well :)

[2019-03-14 23:40] TravisCragg-MSFT commented on #21776
@axatix We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-14 23:40] #21776 closed

[2019-03-14 23:42] mschrisran opened #27226 "Access Denied, You do not have access"
My account is elevated via PIM to Global Administrator, and yet when I click into diagnostic settings, I get an "access denied, You do not have access"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1eb6343-c4d6-6b06-f2eb-1c9435f997f3
* Version Independent ID: 7413b72d-8305-eb0f-3876-2fcb013c5196
* Content: [Stream Az

[2019-03-14 23:45] roygara commented on #26783
@sumptersmartt Thanks for reaching out, I'll do my best to help clarify: Expandable and differencing VHDs have the 2TiB limit. Fixed VHDs do not. https://msdn.microsoft.com/en-us/library/dd323654(VS.85).aspx

Please let me know if there's anything else I can help clarify. :)

@jakaruna-MSFT FYI

[2019-03-14 23:47] MicahMcKittrick-MSFT commented on #27224
Closing as discussed offline :)

[2019-03-14 23:47] #27224 closed

[2019-03-14 23:50] MarileeTurscak-MSFT commented on #27042
Hi @takinoe ,

As of yet this is not supported and you can only do this via email. You can upvote the feature request in User Voice here: https://office365.uservoice.com/forums/289138-office-365-security-compliance/suggestions/17151938-add-ability-to-send-the-one-time-passcode-via-sms

Or you can create a new one here, as the AAD feedback forum might be the more appropriate spot for this: https://

[2019-03-14 23:50] #27042 closed

[2019-03-14 23:55] olufea opened #27227 "Nuget Packages"
Should Microsoft.Azure.Cosmos.Table be used going forward instead of Microsoft.Azure.CosmosDB.Table + Microsoft.Azure.Storage.Common? Are the later getting deprecated? I see that Microsoft.Azure.Cosmos.Table v1.0.0 was just published yesterday.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef1295f9-eab5-8918-ab99-3a20

[2019-03-15 00:02] TravisCragg-MSFT commented on #26495
@tFable I have removed the underscore. The doc should reflect the change within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-15 00:02] #26495 closed

[2019-03-15 00:05] melzoghbi opened #27228 "I don't see the Event option when i create a trigger"
Hi,
I want to create a trigger in a DF when a file is uploaded in a blob. I enabled the Event Grid in my Subscription. Also, i use blob v2 general purpose. The only thing that i think has not been mentioned is the availability of this feature in which Data Centers or regions? I use GOV Texas Data Center. Let me know how to resolve this.

---
#### Document Details

⚠ *Do not edit this section. It i

[2019-03-15 00:05] blouwagie commented on #27055
Hi
 Thank you for that response.  My request is for you to update the document
itself, top help future readersreaders
Regards
Bart

On Thu, Mar 14, 2019, 5:05 PM SaurabhSharma-MSFT <notifications@github.com>
wrote:

[2019-03-15 00:07] hukun01 commented on #27225
Thanks Micah. We have ADE as of now, so I was wondering if enabling automatic OS update will impact ADE in any way.

[2019-03-15 00:08] shizn commented on #11293
The content has been updated long time ago. #please-close

[2019-03-15 00:09] shizn commented on #11297
#please-close

[2019-03-15 00:13] BharathNimmala-MSFT commented on #26693
@hihayak At this point we don't see any futher updates are required for documentatiaton. Will be closing the issue for now. If you have further queries please tag us in your reply and will be happy to take the conversation forward. Thanks

[2019-03-15 00:13] #26693 closed

[2019-03-15 00:45] Alberto-Vega-MSFT commented on #27219
@bganapa Would you please share the link of the doc in question.

[2019-03-15 00:55] bganapa commented on #27219
https://docs.microsoft.com/en-us/azure/azure-stack/azure-stack-powershell-configure-admin
![image](https://user-images.githubusercontent.com/12038849/54400897-4f33d300-4682-11e9-9b22-1eb14bb478c6.png)

[2019-03-15 01:04] tescales opened #27234 "No pricing available on the pricing page?"
Perhaps a note to the effect that "pricing will be available ---&gt;here when the service GAs" would be worth adding.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45a084d7-acb6-9893-b6d1-6fef01e0bd07
* Version Independent ID: c9c8b4b2-d080-f8a8-85e2-24f9d66df8c3
* Content: [Pricing and limits - Custom Vision Service]

[2019-03-15 01:08] barclayn commented on #27190
@grayjeremy Thank you for the feedback. I have added the first item to our backlog. Could you elaborate a bit on the second item "The second most asked question is "can I manage (pick which key the service uses) my own key with the integrated services?"

[2019-03-15 01:09] mayurpuli opened #27235 "For the 3rd scenario : Where can I see the list of Public IP's that are used for outbound connections?"
For the 3rd scenario in the document, what is the set of public IP address that are used? I there any pool from which the IP is picked? Is this information available anywhere? As a feedback, it would be better if you can mention this information in the document. One of my customers has also been looking for this data.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2019-03-15 01:11] anrothMSFT commented on #27234
Good catch. This page is never going to contain pricing, which sits on the azure.com page.

It looks like the title was changed in Oct. I have submitted a PR to our internal msft repo to have this fixed.

Thanks!!

[2019-03-15 01:21] femsulu commented on #26753
@LHGDevOps, We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-03-15 01:21] #26753 closed

[2019-03-15 01:22] femsulu commented on #27048
@bwren any input on this please?

[2019-03-15 01:24] femsulu commented on #27070
@rothja any idea who on the Databricks team can help answer this?

[2019-03-15 01:32] githubavi commented on #27204
Thanks Glenn, it worked.

-Avijit

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Glenn Gailey <notifications@github.com>
Sent: Friday, March 15, 2019 4:26:12 AM
To: MicrosoftDocs/azure-docs
Cc: Avijit Samanta; Mention
Subject: Re: [MicrosoftDocs/azure-docs] How to run dotnet core functions apps (#27204)

@githubavi<https://nam04.safelinks.protection.outlook

[2019-03-15 01:37] kogesaka commented on #26975
@SnehaAgrawal-MSFT Thank you for contacting.
There is no problem, so please close it.

Best regards,

[2019-03-15 01:47] v-maroge commented on #21105
@jfggdl Thank you for all the help. Everything is clear now.

[2019-03-15 01:52] saraao commented on #25943
![image](https://user-images.githubusercontent.com/39376629/54402494-286bb000-4707-11e9-80fc-dc4d6338b86c.png)
in https://docs.microsoft.com/en-us/azure/machine-learning/service/quickstart-get-started#run-the-notebook
“4.Follow instructions in the notebook to authenticate your Azure subscription.”
This may be a little hard to understand for first-time users who only read the text tutorial. Perhaps

[2019-03-15 01:52] rolyon commented on #26912
Hi @deltadan
Unfortunately we dont have this list available as a CSV file, but you might be use PowerShell. For example, the following command should export provider list as a CSV file. Probably easiest to run this command in Azure portal Cloud Shell and then download file to your local computer to open in Excel.
Get-AzProviderOperation | Export-Csv -Path rplist.csv
thanks

[2019-03-15 02:02] artisticcheese opened #27246 "ARM template is supported?"
Can this be done via ARM template?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ca94e03-5f05-6703-1672-8062f31c0780
* Version Independent ID: a6a8d9e9-9aac-c0ed-c474-34cbd0609584
* Content: [Use the Azure portal to manage Azure AD access rights to containers and queues with RBAC (preview) - Azure Storage](https://do

[2019-03-15 02:11] ramanjanp commented on #24686
Hi,
I have tried the same approach but I am still getting 403 error.
Could you please suggest all necessary steps.

Thanks in advance!

Ram

[2019-03-15 02:21] muhammedyusuf-sermet opened #27253 "Variable "mkt" is not used in the Example Code for Project Answer Search with Node Demo"
An extremely small nit; in the given example code:

[code]
, the variable 'mkt' is defined, but never used.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f058a504-f7e3-1fc5-6573-32af9176c01e
* Version Independent ID: d6215acb-7cfe-361a-431e-696415f172e3
* Content: [Quickstart: Project Answer Search, Node](https://docs

[2019-03-15 02:28] PramodValavala-MSFT commented on #26586
@sandeep-ma I believe you were trying to share screenshots but I guess they don't work when replying via email. Could you share them again here?

[2019-03-15 02:46] artisticcheese opened #27254 "It does not seem to be possible to use any scope other then ResourceGroup"
Trying to assign permissions in downlevel resources via `scope` does not seem to be possible. Errors out with error below when scope is explictely specified and pointing to proper resource.
ARM
[code]
Error
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8788e944-1b89-9f78-4c7c-409092e073e5
* Version Independent

[2019-03-15 03:16] neeleshray commented on #27254
@artisticcheese  Thank you for your feedback . We will investigate on this and update you on this thread.

[2019-03-15 03:17] neeleshray commented on #27226
@mschrisran  Thank you for your feedback . We will investigate on this and update you on this thread.

[2019-03-15 03:17] neeleshray commented on #27208
@nkwolf  Thank you for your feedback . We will investigate on this and update you on this thread.

[2019-03-15 03:22] anssenfang1 opened #27273 "Unable to access storage after changing key"
This does not valid when key is changed for the default storage. Please add this notes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5be42fb6-e850-0990-de22-409392cb9e87
* Version Independent ID: 5339ee18-6c77-1be3-e5ca-5cfd074a834d
* Content: [Add additional Azure storage accounts to HDInsight](https://docs.microsof

[2019-03-15 03:23] neeleshray commented on #27025
@smudgecat
If you look at the [screenshots ](https://docs.microsoft.com/en-us/azure/active-directory/identity-protection/howto-investigate-risky-users-signins#filter-risky-users) in the document, you have an option to filter by the Name or UserId. That is the feature limitation as of today.

[2019-03-15 03:24] anssenfang1 opened #27274 "Document scope."
This doc only valid for adding blob storage. not valid for ADLS GEN1 and ADLS GEN2.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5be42fb6-e850-0990-de22-409392cb9e87
* Version Independent ID: 5339ee18-6c77-1be3-e5ca-5cfd074a834d
* Content: [Add additional Azure storage accounts to HDInsight](https://docs.microsoft.co

[2019-03-15 03:24] neeleshray commented on #26598
@MarkusVi
Markus, Do we have this documented elsewhere or can this be incorporated in this document ?

[2019-03-15 03:26] neeleshray commented on #26292
We would be closing this thread for now. Let us know if you needs further help.

[2019-03-15 03:26] #26292 closed

[2019-03-15 03:30] anssenfang1 opened #27277 "Custom yarn queue is not displayed"
Only the built in queues are shown. If user add a new queue in yarn, it is not displayed.
A new table shall be shown in OMS like this:  metrics_resourcemanager_queue_queName_CL

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1389b35c-ccbc-b321-736d-28ce5134f089
* Version Independent ID: 4dcb1bed-12f1-a13b-a3e5-3f4ba9918

[2019-03-15 03:30] james-tn commented on #24686
Update from me: I miss-observed my test between Databricks and ADLS Gen2. Totally works.
A few things people need to know:
- Assign Blob Reader role  the Application ID you use for Databricks at IAM in Storage Account setting portal
-  Use Storage Explorer to give object id (remember object id not Application id, you can get it using az ad sp show --id your_application_id) appropriate read/write/e

[2019-03-15 03:33] anssenfang1 opened #27280 "Need to add description of the tables added into OMS."
Need to add description of the tables added into OMS.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1389b35c-ccbc-b321-736d-28ce5134f089
* Version Independent ID: 4dcb1bed-12f1-a13b-a3e5-3f4ba9918d38
* Content: [Query Azure Monitor logs to monitor Azure HDInsight clusters](https://docs.microsoft.com/en-us/azure/hdinsi

[2019-03-15 03:37] neeleshray commented on #27051
@007  @seanmcpartlin
The later part of the [document](https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/linkedin-integration#enable-or-disable-linkedin-integration-for-your-users-in-group-policy) shows how to have the LinkedIn feature integration Disabled for your Tenant Users.

Let us know if that helps your query.

[2019-03-15 03:41] seanmcpartlin commented on #27051
True, you can turn off the whole integration.  However we don’t want to turn it off.  We want to let our users to access linked in resources.  We just want to prevent LinkedIn from accessing our data.

[2019-03-15 03:45] sandeep-ma commented on #26586
Oh, okay, dammit. Could you please give me an email address to forward it to? Otherwise it may take me  couple of days to send as I am totally swamped at this time

________________________________
From: Pramod Valavala <notifications@github.com>
Sent: Thursday, March 14, 2019 10:28:13 PM
To: MicrosoftDocs/azure-docs
Cc: sandeep-ma; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Folder Naming Con

[2019-03-15 03:52] shashishailaj commented on #26610
We will now close this issue . Should you have any further query , feel free to tag me to your reply and we can continue the conversation.

[2019-03-15 03:52] #26610 closed

[2019-03-15 03:57] neeleshray commented on #27226
@mschrisran
Could you clarify if the role that has been assigned to you is the [Privileged Role Administrator](https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/directory-assign-admin-roles#privileged-role-administrator) or the [Global Administrator](https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/directory-assign-admin-roles#company-administrato

[2019-03-15 04:07] sasanmcp opened #27293 "why not convert domain?"
in this section, Step 2:
https://docs.microsoft.com/en-us/azure/active-directory/hybrid/plan-migrate-adfs-password-hash-sync#convert-domains-from-federated-to-managed
why didn't we use "Convert-MsolDomainToStandard -SkipUserConversion $true" rather than the Set-MsolDomainAuthentication command as mentioned? is there a difference in the end result between the two that we should be aware of?

---
##

[2019-03-15 04:08] SadiqhAhmed-MSFT commented on #24762
@Sat0rN The default is 20.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-15 04:08] #24762 closed

[2019-03-15 04:10] SadiqhAhmed-MSFT commented on #26908
@chrisjrisch Hope those links were helpful. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-15 04:10] #26908 closed

[2019-03-15 04:14] ChiragMishra-MSFT commented on #27211
@sujal1989 Thanks for bringing this to out notice. We are investigating into the issue and will update you shortly.

[2019-03-15 04:15] ChiragMishra-MSFT commented on #27218
@sujal1989 Thanks for bringing this to out notice. We are reviewing the issue and will update as appropriate.

[2019-03-15 04:15] ChiragMishra-MSFT commented on #27228
@melzoghbi  Thanks for bringing this to out notice. We are investigating into the issue and will update you shortly.

[2019-03-15 04:16] lefrog opened #27301 "How to create AKS nodes with large disk"
Hello,
Is it possible to manually choose the size of disk storage (e.g. 1TB) independently of the VM cpu and memory size?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc89d962-27d5-2ebd-4e8d-092948eb92a3
* Version Independent ID: 49e054ed-b4c7-f4d7-b88f-68a0ff61035d
* Content: [Operator best practices - Storage in Az

[2019-03-15 04:22] SubhashVasarapu-MSFT commented on #27235
@mayurpuli , We are looking into this query and will update you as soon as possible.

[2019-03-15 04:26] RohitMungi-MSFT commented on #27253
@muhammedyusuf-sermet Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-03-15 04:26] PramodValavala-MSFT commented on #26586
@sandeep-ma Sure. AFAIK there shouldn't be any limitations concerning to hyphens because they are valid characters for almost every OS and the SFTP connector wouldn't really enforce such restrictions.

This repo is for driving doc related changes and I believe this doesn't call for it as of now. **_But_** since you seeing an issue on your end, its best to move this to the [MSDN Forum for Logic App

[2019-03-15 04:26] #26586 closed

[2019-03-15 04:30] RohitMungi-MSFT commented on #27220
@jeffmartinxyz Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-03-15 04:30] RohitMungi-MSFT commented on #27221
@jeffmartinxyz Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-03-15 04:31] KalyanChanumolu-MSFT commented on #27227
Thank you for the question! We are investigating and will update you shortly.

[2019-03-15 04:31] PramodValavala-MSFT commented on #27052
@rofangaci I believe you might be hitting some restrictions documented [here](https://docs.microsoft.com/en-us/azure/api-management/api-management-api-import-restrictions#a-namewsdl-awsdl). Could you check and confirm?

[2019-03-15 04:34] KetanChawda-MSFT commented on #26703
@Freakling Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-15 04:34] #26703 closed

[2019-03-15 04:35] KetanChawda-MSFT commented on #27029
@maulik-modi We will review this request and update the content as appropriate.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-15 04:35] #27029 closed

[2019-03-15 04:40] jakaruna-MSFT commented on #26501
@ctaggart Please add a feedback [here](https://feedback.azure.com/forums/602224-azure-container-instances). Then the community can upvote it.

I will also provide a Azure function which pulls the events and uploads to Azure monitor when i get some time.

[2019-03-15 04:40] jakaruna-MSFT commented on #26501
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-03-15 04:40] #26501 closed

[2019-03-15 04:41] vinothrao opened #27307 "can we please remove strings in the path for Json payload example."
Its bit confusing. Why there is strings in the path and is that anything to do with JSON parsing? And also please provide some more input for JSON parsing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77fbaa31-cfcc-4b8c-abe0-4efeaee3e4f0
* Version Independent ID: db65fc3d-d8b3-1f19-91a0-4f3696fbca69
* Content: [Azure

[2019-03-15 04:43] PramodValavala-MSFT commented on #27138
@kazshi Each connector belongs to a class - Standard or Enterprise and you can find out the class for a particular connector from its reference page found [here](https://docs.microsoft.com/en-us/connectors/) (Check under Connector Reference to find the connector you are using).
For example, here is a [standard](https://docs.microsoft.com/en-us/connectors/sendgrid/) and [enterprise](https://docs.mi

[2019-03-15 04:44] PramodValavala-MSFT commented on #27204
@githubavi I hope you've resolved your issue.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-15 04:44] #27204 closed

[2019-03-15 04:48] vinothrao opened #27308 "How in c# attribute implementation differentiates in and out binding?"
Any where in the C# attribute binding example there is not a direction parameter.The trigger is always has the direction in. How about if there 2 more bindings. So how the implementation differentiates input or output direction ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 549d8479-4b0d-a018-c431-5dc1112a7fa7
* Vers

[2019-03-15 04:49] #26845 closed

[2019-03-15 04:49] jakaruna-MSFT commented on #27301
Thanks for the question! We are investigating and will update you shortly.

[2019-03-15 04:54] RohitMungi-MSFT commented on #26843
@ianhuynh I hope the above steps help you to create custom counties entities. We will also check with product team and update the thread if they plan to support counties as pre-built entities.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue

[2019-03-15 04:55] #26843 closed

[2019-03-15 04:57] CHEEKATLAPRADEEP-MSFT commented on #27273
@anssenfang1 This has been already documented. Could you please check the **known issues – Unable to access storage after changing key** section for more info.

If you change the key for a storage account, HDInsight can no longer access the storage account. HDInsight uses a cached copy of key in the core-site.xml for the cluster. This cached copy must be updated to match the new key.

Hope this he

[2019-03-15 04:57] jakaruna-MSFT commented on #27301
@lefrog We can specify the OS Disk size while creating the cluster.
For Azure cli provide a value for `--node-osdisk-size` .
For ARM template Check this [link](https://docs.microsoft.com/en-us/azure/templates/Microsoft.ContainerService/2018-03-31/managedClusters). You can set the OS disk size in `properties.agentPoolProfiles.osDiskSizeGB`.

[2019-03-15 04:57] CHEEKATLAPRADEEP-MSFT commented on #27148
@imeya We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-15 04:57] #27148 closed

[2019-03-15 05:00] anssenfang1 commented on #27273
– Unable to access storage after changing key
Does not work when change the key for the default storage.
It only works when changing the additional storage key.

From: CHEEKATLAPRADEEP-MSFT <notifications@github.com>
Sent: Friday, March 15, 2019 12:57 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Anssen Fang <Anssen.Fang@microsoft.com>; Mention <mention@noreply.github.com>
Su

[2019-03-15 05:02] SnehaAgrawal-MSFT commented on #26975
@kogesaka We will close this out but if you feel you need more information please just let us know.

[2019-03-15 05:02] #26975 closed

[2019-03-15 05:20] craigg-msft commented on #21319
@J-E-C apologies for the delay.  Are you still having this issue?  @Mike-Ubezzi-MSFT please assign the issue to @HJToland3 I am working to finish updating the meta data.

[2019-03-15 05:22] CHEEKATLAPRADEEP-MSFT commented on #27274
@anssenfang1 Yes, this document is valid for only Azure Storage.
For using Azure Data Lake Storage, you may refer the following links:
[Using Azure Data Lake Storage Gen1](https://docs.microsoft.com/en-us/azure/hdinsight/hdinsight-hadoop-use-data-lake-store?toc=%2Fen-us%2Fazure%2Fhdinsight%2Fhadoop%2FTOC.json&bc=%2Fen-us%2Fazure%2Fbread%2Ftoc.json)
[Using Azure Data Lake Storage Gen2](https://docs

[2019-03-15 05:23] craigg-msft commented on #19807
@Anmolgan81  apologies for the delay.  Are you still having this issue?  @Mike-Ubezzi-MSFT please assign the issue to @HJToland3 I am working to finish updating the meta data.

[2019-03-15 05:24] craigg-msft commented on #18388
@marcusmills  apologies for the delay.  Are you still having this issue?  @Mike-Ubezzi-MSFT please assign the issue to @HJToland3 I am working to finish updating the meta data.

[2019-03-15 05:25] anssenfang1 commented on #27274
Please add the notes, otherwise customer may feel confusion.

Thanks

Anssen

From: CHEEKATLAPRADEEP-MSFT <notifications@github.com>
Sent: Friday, March 15, 2019 1:23 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Anssen Fang <Anssen.Fang@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Document scope. (#27274)

@anssenfang1<https://

[2019-03-15 05:27] CHEEKATLAPRADEEP-MSFT commented on #27277
@anssenfang1 Thanks for bringing this to our attention. Your feedback  has been shared with the content owner for further review.

[2019-03-15 05:29] CHEEKATLAPRADEEP-MSFT commented on #27280
@anssenfang1 Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-03-15 05:30] SumanthMarigowda-MSFT commented on #27246
@artisticcheese Thanks for the question! We are investigating and will update you shortly.

[2019-03-15 05:33] DixitArora-MSFT commented on #27193
@zak-jama-venture1consulting-com In Version 2.0 in a serverless Consumption plan, the valid range is from 1 second to 10 minutes, and the default value is 5 minutes.

In the app service plan the default value is 30 minutes and to change this to a higher value you need to explicitly mentioned in the host.json under "functionTimeout". It cannot be set as infinite . If we are not setting this value e

[2019-03-15 05:39] mschrisran commented on #27226
I'm PIM elevated into the Global Administrator role.

Chris Ransom
sent from OWA
________________________________
From: NeeleshRay-MSFT <notifications@github.com>
Sent: Thursday, March 14, 2019 20:57
To: MicrosoftDocs/azure-docs
Cc: Chris Ransom; Mention
Subject: EX: Re: [MicrosoftDocs/azure-docs] Access Denied, You do not have access (#27226)

@mschrisran<https://nam06.safelinks.protection.outloo

[2019-03-15 05:39] djaus2 commented on #23264
Thx for the update.
Travelling at moment.
Will respond tomorrow but probably any looks like we're home on this issue.
Thx

Sent from my Windows 10 device

________________________________
From: Kelly Gremban <notifications@github.com>
Sent: Friday, March 15, 2019 9:23:20 AM
To: MicrosoftDocs/azure-docs
Cc: David Jones (MVP); Mention
Subject: Re: [MicrosoftDocs/azure-docs] If using a VM, need conta

[2019-03-15 05:41] SubhashVasarapu-MSFT commented on #26739
@gaurav5430 , Issue got resolved. Closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-03-15 05:41] #26739 closed

[2019-03-15 05:44] Leon99 opened #27309 "Something wrong with the header"
This is what I see in the header:

title: Azure Container Instances container groups description: Understand how multi-container groups work in Azure Container Instances services: container-instances author: dlepow manager: jeconnoc

ms.service: container-instances ms.topic: article ms.date: 03/20/2018 ms.author: danlep ms.custom: mvc

---
#### Document Details

⚠ *Do not edit this section. It is

[2019-03-15 06:06] dcbrown16 opened #27310 "Pricing link"
It's standard practice for Azure docs to include a link to the pricing page under Resources in the ToC. Is there a reason that isn't implemented for API Management?
(this page: https://azure.microsoft.com/en-us/pricing/details/api-management/)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b45736d2-b0f4-05c3-8e2f-fde88

[2019-03-15 06:06] angoyal-msft commented on #26595
@tony-gutierrez Max Number of connections can be changed using below variable:
`public int MaxConnectionLimit { get; set; }`

I believe this is what you are looking for. You can refer "3. Increase System.Net MaxConnections per host when using Gateway mode" part of [this ](https://docs.microsoft.com/en-us/azure/cosmos-db/performance-tips#sdk-usage) document for details on increasing the connections

[2019-03-15 06:09] KetanChawda-MSFT commented on #27071
@brandonh-msft Yes, you are correct, it is not supported in consumption tier. We have created an internal work Item to update the document.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-15 06:09] #27071 closed

[2019-03-15 06:12] tony-gutierrez commented on #26595
My issue was about the node sdk, and initially filed against the same page you are linking me to now.

[2019-03-15 06:13] RohitMungi-MSFT commented on #27175
@Jann-Skotdal I can confirm the alignment details are not part of the response if the textType=html
Could you please confirm if this is a supported feature for html text and update the document accordingly.

[2019-03-15 06:16] KetanChawda-MSFT commented on #27308
@vinothrao Thank you posting your question. We will review this and provide an update as appropriate.

[2019-03-15 06:18] KetanChawda-MSFT commented on #27307
@vinothrao Thank you the feedback. We will review this and provide an update as appropriate.

[2019-03-15 06:19] angoyal-msft commented on #26595
@tony-gutierrez Thanks for the clarification. I have assigned this issue to the content author for further details.
@SnehaGunda Could you please help user with required information for Node sdk.

[2019-03-15 06:24] YvonneArnoldus commented on #21014
@georgewallace,

I've tried that but I could not read the certificate from the store like this. @koboltmarky also has the same problem.

`Get-AutomationPSCredential` did work but `Get-AutomationCertificate` does not. That is why I used the solution with storing the certificate in blob storage.

[2019-03-15 06:30] MariuszFerdyn commented on #15820
Only way is to use Azure Stack Development Kit (for free) - I created a course with it (polish language) https://www.udemy.com/azure-stack-kurs-praktyczny/?couponCode=RZETELNEKURSY.PL

[2019-03-15 06:31] Anmolgan81 commented on #19807
Yes this needs to be updated

[2019-03-15 06:35] RohitMungi-MSFT commented on #27177
@sameer-awate Did you save and train your KB from QnA portal after changing the default answer in azure portal?

Here is a screen shot of the changes i did for the default answer and tested the same in QnA portal where it replied with the new default answer.

Set the default answer in Azure Portal for my QnA app.
![image](https://user-images.githubusercontent.com/46958063/54412913-3aa31980-471a-11

[2019-03-15 06:38] DixitArora-MSFT commented on #27155
@jitendriyag2  ClaimsPrincipal is useful when we want to retrive information about authenticated clients. ClaimsPrincipal is available as part of the request context as shown in the following example:

using System.Net;
using Microsoft.AspNetCore.Mvc;
using System.Security.Claims;

public static IActionResult Run(HttpRequest req, ILogger log)
{
    ClaimsPrincipal identities = req.HttpContext.User

[2019-03-15 06:44] SnehaAgrawal-MSFT commented on #27149
@dcbrown16 Thanks again for the question! Yes, it should work. You may refer below link:
https://blogs.msdn.microsoft.com/benjaminperkins/2017/11/15/how-to-create-a-self-signed-san-certificate-wildcard-certificate-vs-san/

[2019-03-15 06:45] ChiragMishra-MSFT commented on #24697
@jn-altius Sorry for the delayed response. I found a thread on Stack Overflow that addresses the same issue. Please have a look at the answers on [this post](https://stackoverflow.com/questions/46967317/azure-data-factory-v2-calling-a-stored-procedure-with-an-output-parameter).
Also, I would recommend you to create a thread on the forums - [MSDN ](https://social.msdn.microsoft.com/Forums/en-US/hom

[2019-03-15 06:45] #24697 closed

[2019-03-15 06:51] RohitMungi-MSFT commented on #27234
@anrothMSFT Thanks for submitting the change. @tescales We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-15 06:52] #27234 closed

[2019-03-15 06:55] dcbrown16 commented on #27149
Thanks @SnehaAgrawal-MSFT, but the blog doesn't really cover whether the Subject field for ASE certificate is REQUIRED to be wildcard, or if it can be the domain (contoso.com) as long as the wildcards are covered in the SANs (*.contoso.com, *.scm.contoso.com).
Can we escalate to @ccompy /the product team?

[2019-03-15 06:55] KalyanChanumolu-MSFT commented on #26701
The spark support for graph operations is mainly moving towards using GraphFrames instead of Gremlin in Spark because GraphFrames is more focused on OLAP queries and traversals.
We recommend using Cosmos DB Gremlin API for the OLTP operations and using GraphFrames for OLAP queries

Please refer to the links below

For information about graphframes
https://docs.databricks.com/spark/latest/graph-ana

[2019-03-15 07:01] DashleenBhandari-MSFT commented on #27069
@SquirrelAssassin Could you please elaborate on the steps you followed and the complete error message you got after enabling Key vault.

[2019-03-15 07:05] raffiloch opened #27311 "Block Legacy Authentication"
Very crucial security mechanism that is not mentioned in the text above is to block legacy authentication. See blog post of Alex Simons: https://techcommunity.microsoft.com/t5/Azure-Active-Directory-Identity/Azure-AD-Conditional-Access-support-for-blocking-legacy-auth-is/ba-p/245417

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2019-03-15 07:14] kalzi opened #27312 "Unable to Save Draft - ISO 27001: Shared Services"
Great work, and just what most organizations needed to kick start their Azure journey IMHO.

However, I cannot get this working, receiving the following message when attempting to save Blueprint Draft

[code]

I have no trouble deploying other sample blueprints making me assume this is not an issue with Resource Provider Registration.

Kindly Advise

---
#### Document Details

⚠ *Do not edit this

[2019-03-15 07:31] apwestgarth commented on #15820
There are no plans to update the preview.  Adding @eamonoreilly for further comment

[2019-03-15 07:33] apwestgarth commented on #18187
Adding @eamonoreilly for comment and update.

[2019-03-15 07:33] yuriwoof commented on #18408
I have same from customer.
Hope to read this in Japanese!

[2019-03-15 07:43] smoms commented on #27179
@kgremban yes Alberto did answer. However i have to say that the documentation is not clear in that sense. I suggest to pass the message in better way because with statement first and picture then you are just saying opposite things.

[2019-03-15 07:49] swinarko commented on #11385
#please-close

[2019-03-15 07:50] swinarko commented on #15480
#please-close

[2019-03-15 07:50] DixitArora-MSFT commented on #27310
@dcbrown16 Thank you for your feedback! We will review and update as appropriate.

[2019-03-15 07:51] swinarko commented on #15574
#please-close

[2019-03-15 07:51] swinarko commented on #15686
#please-close

[2019-03-15 07:52] swinarko commented on #16595
#please-close

[2019-03-15 07:52] swinarko commented on #17980
#please-close

[2019-03-15 07:53] swinarko commented on #23764
#please-close

[2019-03-15 07:57] nabhishek commented on #26331
@hmayer1980 Did you try the [migration tool](https://azuredatafactoryv2.github.io/v1tov2migration/) for migrating ADF V1 Pipeline to V2?
ADF v2 offers a tumbling window trigger that can be triggered back in time. Could you clarify the exact requirement?

[2019-03-15 08:04] kazshi commented on #27138
@PramodValavala-MSFT Thanks for your explanation. Now I understand how to distinguish and we have 'premium'. It would be great if it (your explanation) is described in this page. Thanks.

[2019-03-15 08:07] linda33wj commented on #5893
Apologies for the delay in responding.  We have updated our process and resources so we will be more responsive in the future. There shouldn't be such issue now in ADF. Feel free to let know if you still see abnormal behavior.

[2019-03-15 08:08] ShirleyWangMSFT commented on #26197
@ToddChitt Thanks for your feedback.  That is a great suggestion.  We have added this to our feature backlog and will triage this feature request.

#please-close

[2019-03-15 08:13] smoms opened #27313 "Multiple Gateways with Identity Translation scenario"
In another Issue an answer was that: "In case of identity translation scenario, only IoT Edge module is capable to receive twin updates".
Ok, I assume this is done in the code of the module of the Edge. And here there is no sample code available, right?

Now, assuming in the same IoT Hub I have two gateways (identity translation) GWA and GWB respectively. And I have 5 Devices.
Can I "configure the

[2019-03-15 08:15] #23764 closed

[2019-03-15 08:18] ShirleyWangMSFT commented on #26054
@KatiaArroyo1 There is no inherent limitation in ADF regarding extraction data using the OData connector.  Often the extraction speed is determined by the allowed egress throughput on the OData endpoint.

BTW, I noticed that you posted this questions on ADF V1 documentation article.  We are no longer actively enhancing ADF V1 and I strongly recommend you to use ADF V2 going forward for your projec

[2019-03-15 08:18] jakaruna-MSFT commented on #26507
@cynthn Please validate the the above comment and update the doc as appropriate.

[2019-03-15 08:20] nabhishek commented on #25103
@kvenkazure Sorry if you didn't find the doc clear. We will update it.
To answer your question, Self-hosted IR is typically used for orchestrating services/ copying data to/from sources that are in a private network, though it can orchestrate services in public environment too. Suggestion is to use Azure IR for public endpoints since it is serverless!

[2019-03-15 08:20] nabhishek commented on #25103
#please-close

[2019-03-15 08:21] DixitArora-MSFT commented on #26761
@PingPongSet Just following up here.. Hope previous comment helps.Do let us know if you have any further queries

[2019-03-15 08:21] jakaruna-MSFT commented on #26783
@sumptersmartt i hope comment by roygara helps.

[2019-03-15 08:22] jflieben commented on #26723
Why did you close this issue? Is the issue fixed? This is about artifacts of a non-present license in a tenant on a group that had the licenses assigned through group based licensing, not about functionality for a user and/or user assignment. The group's licenses blade basically becomes useless / impossible to edit with no way to restore functionality without repurchasing the same license type.

I

[2019-03-15 08:24] jakaruna-MSFT commented on #26584
@sayash Good to know that it worked.
I am closing this issue for now. If you need additional help or if you face this issue again, Please comment here and we can continue the discussion.

[2019-03-15 08:24] #26584 closed

[2019-03-15 08:33] linda33wj commented on #6117
@JosHaemers the error message should return the exact path Copy activity was looking for and was missing, then you can double check the blob existence. Per your config, I'd suggest you double check the folder path setting on dataset, esp. on capital vs small letter, note blob path is case-sensitive.

#please-close

[2019-03-15 08:34] shashishailaj commented on #27293
@sasanmcp Thank you for your feedback . We will investigate and update the thread.

[2019-03-15 08:35] shashishailaj commented on #27311
@raffiloch Thank you for your feedback. We will investigate and update the thread.

[2019-03-15 08:35] jakaruna-MSFT commented on #27309
@Leon99  Thanks for the reporting.
Header information should not be shown in the content. There is a formatting issue for this document. We will correct it.

[2019-03-15 08:37] PramodValavala-MSFT commented on #27138
@kazshi Glad we could help! As for adding this explanation to the doc, we will assign this issue to the content author to review and update accordingly.

[2019-03-15 08:40] KrishnaG-MSFT commented on #27254
@artisticcheese This looks similar to [this](https://stackoverflow.com/questions/55174775/rbac-assignment-via-arm-template-errors-out-with-invalidcreateroleassignmentrequ/55177558#55177558 ) issue in Stack Overflow. Please follow the provided answer / workaround.

Assigning @rolyon for visibility and to provide insights regarding document enhancement considerations with regards to 'scope' usage an

[2019-03-15 08:41] KetanChawda-MSFT commented on #27194
@alex-frankel Thanks for creating a [PR](https://github.com/MicrosoftDocs/azure-docs/pull/27196).  The doc is now updated with the fix.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-15 08:41] #27194 closed

[2019-03-15 08:43] #26197 closed

[2019-03-15 08:45] #26054 closed

[2019-03-15 08:54] dearandyxu commented on #19002
In step 21.a, Select **SourceDataset** for the **Source Dataset** field.  The **SourceDataset** is the dataset you had already created in step 14. The type of the dataset is Azure SQL Database.

In step 21.c, when you enter the SQL query for the Query field, it will still work if you have trailing spaces/new lines in this field.

#please-close

[2019-03-15 08:57] ShiChen872 opened #27314 "HighLight ForceOption takeover action"
Please highlight the sentence "Instead, this option only moves the domain name."
We got feedback from customer that they didn't notice this part, which cause the issue.  You need to add comments: unmanaged tenant will be deleted after 10 days once external takeover force option has happened.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2019-03-15 09:08] dpapkin commented on #26692
Hello,perhaps a url redirection  to the new content ? You cant just remove it as a new azure course az-100 refers to it

David Papkin

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Brian Wren <notifications@github.com>
Sent: Friday, March 15, 2019 2:01:28 AM
To: MicrosoftDocs/azure-docs
Cc: David Papkin; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Scree

[2019-03-15 09:10] KetanChawda-MSFT commented on #27142
@thefliik You can set the debug port using the below command for node function:

[code]
After that you need to add below configuration to launch.json in .vscode folder for that project.

[code]
Reference: https://github.com/Azure/azure-functions-core-tools/wiki/Enable-Debugging-for-language-workers

[2019-03-15 09:35] ianchin opened #27315 "Wrong Load Balance type"
Under the "Create a Basic load balancer" section, the type must be "Internal" to have Private IP field.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f9b2908-f032-3f26-76de-6e6edf356f40
* Version Independent ID: bfe6017f-306b-f502-e984-5558ce7de732
* Content: [Tutorial: Create an internal load balancer - Azure portal

[2019-03-15 09:36] SanderSade opened #27316 "Event Hub RBAC is missing role info"
The application needs to have Contributor access, not Owner or Reader.
E.g. see https://github.com/Azure/azure-event-hubs-go/blob/master/readme.md - "The authenticated identity must have Contributor role based authorization for the Event Hub instance"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bb8aba4c-a2ad-be92-d7

[2019-03-15 09:41] parabolic123 opened #27317 "Domain and forest functional levels"
Just double checking, is 2008 R2 definitely the minimum supported domain and forest functional level for hybrid Azure AD join?

 We're still on 2003...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72cdc251-618a-e84e-f40d-960b0ac69f99
* Version Independent ID: 8cbaba3c-e883-2c71-28fb-f88db3fcaf7d
* Content: [How to pl

[2019-03-15 09:42] linda33wj commented on #8386
Apologies for the delay in responding.  We have updated our process and resources so we will be more responsive in the future. For now Date is not a fully supported data type. It's on our backlog to support it in parallel to DateTime in the future.

#please-close

[2019-03-15 09:50] SANDEEPPILLUTLA opened #27318 "Unable to connect to event hub. Giving connection refused issue"
Unable to connect to event hub. Giving connection refused issue from the java code to the event hub which got created from the free account

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61059dbc-d075-6af1-98f6-7fe02f9e0440
* Version Independent ID: a15c8888-4b49-f9b8-3cee-30d5765c49fa
* Content: [Send events using Jav

[2019-03-15 09:54] AjayKumar-MSFT commented on #25103
@kvenkazure, We will close this out, but if you feel you need more information please just let us know. @nabhishek, Thank you!

[2019-03-15 09:54] #25103 closed

[2019-03-15 09:54] KetanChawda-MSFT commented on #27181
@SteveALee Yes, the cold start is applicable to Linux worker as well. You can reduce cold-start times, particularly for JavaScript functions with large npm package trees by using package deployment.

You can refer the below articles for details:
https://docs.microsoft.com/en-us/azure/azure-functions/run-functions-from-deployment-package
https://github.com/Azure/Azure-Functions/wiki/Azure-Functions

[2019-03-15 09:55] RohitMungi-MSFT commented on #27220
Hello Jeff,

I have run the notebooks of sklearn and I was able to deploy the service with no changes to the permissions on my ACR. A default role of contributor is assigned to my ML workspace app to access my container registry.

Here is the IAM of my container registry where the workspace app is assigned a contributor role.

![image](https://user-images.githubusercontent.com/46958063/54422193-eb

[2019-03-15 09:57] nminhduc opened #27319 "How we can get a current storage of each partition in documentdb and tableAPI"
I've got an issue like "Partition key reached maximum size of 10 GB" (exception send from azure to my application)
I just wondering how I can avoid that issue by check the size of Partition key before I create a document (document API) or A entity (Table API).

[2019-03-15 10:01] RohitMungi-MSFT commented on #27221
@jeffmartinxyz We will go ahead and close this issue since we use default contributor role assignment to deploy ACI.
Please check issue [27220](https://github.com/MicrosoftDocs/azure-docs/issues/27220) for more details.

[2019-03-15 10:02] AjayKumar-MSFT commented on #27074
You're welcome! Glad it was helpful.

[2019-03-15 10:02] #27221 closed

[2019-03-15 10:05] Tarjei99 opened #27320 "Worker_ID"
This appears to be spelled WorkerID further down in the document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 799c371a-a17e-08aa-ef56-86eef2395f7e
* Version Independent ID: 1339cc93-712c-3a32-8321-dfd016a50ed4
* Content: [Tutorial: Configure Workday for automatic user provisioning with Azure Active Directory](https:

[2019-03-15 10:12] PramodValavala-MSFT commented on #27032
@olitomlinson As this doc mentions, `Standalone Subscriptions` don't have to be associated with a developer account which makes them ideal for your scenario.

Currently, this feature is only available for Consumption Plan and will be ported to the other tiers as mentioned in the [consumption plan announcement](https://azure.microsoft.com/en-us/blog/announcing-azure-api-management-for-serverless-ar

[2019-03-15 10:17] AjayKumar-MSFT commented on #26756
Greatly appreciate your feedback and thank you for taking time to share your suggestions. Please do let us know for any further assistance.

[2019-03-15 10:20] KalyanChanumolu-MSFT commented on #27227
@olufea
Microsoft.Azure.CosmosDB.Table targets .NetFramework.
Microsoft.Azure.Cosmos.Table targets .NetStandard

Please choose as per your requirement.
If you have further questions, please comment and let us know.

[2019-03-15 10:21] e0 commented on #15420
@markolbert Thank you for the write up. I couldn't figure out what I needed to do get the custom UI on the Sign Up page too. Your `<div id="api" data-name="Unified" class="panel-api">` solved it for me.

[2019-03-15 10:23] ShirleyWangMSFT commented on #26009
Hi @ImrePyhvel !

Using modifiedDatetimeStart/End to filter files for incremental file loading is definitely much more efficient than looping through each file in the control flow and comparing each file's lastModifiedDate using If!  We are retrieving the metadata as we compile the file list to be copied, and we are doing this in a scalable way: the larger the DIU setting, the more compute power i

[2019-03-15 10:25] nathansegers opened #27321 "Local Compute Configuration"
Can we also use an internal Compute target?
For example a dedicated server that is optimized to train Neural Networks instead of a Cloud version.
This would be something else than the default "local" compute, as it does not run on the Visual Studio Code developer computer.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-03-15 10:36] zak-jama-venture1consulting-com commented on #27193
Thank you! @DixitArora-MSFT

[2019-03-15 10:40] KrishnaG-MSFT commented on #27063
@ashleywb, Thanks for your comment.

Perhaps I'm missing something, but given your explanation of the empty string error, you could ideally have a template something like shown below to overcome error of empty string for domainLabelName.

Parameters template file:

[code]

Main template file:

[code]

The article and content which you are referring to i.e., "_To specify an optional parameter, don'

[2019-03-15 10:47] iricigor opened #27322 "Limiting access to Run Command"
I am not clear from the description above where should I grant a Reader role? It says to have at least Reader on Microsoft.Compute/locations/runCommands, but I do not understand what object it is or where it should be granted.

For VM access / Contributor it is clear.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 792f

[2019-03-15 10:55] AmanGarg-MSFT commented on #27319
@nminhduc Please help with the link of document on which above document feedback request is created.

[2019-03-15 10:56] AmanGarg-MSFT commented on #27168
We will now close the issue . Should you have any query with Specific Document please open a new ticket providing the reference to the document and tag me on the same and we will help you further on the same.

[2019-03-15 10:56] #27168 closed

[2019-03-15 10:56] AmanGarg-MSFT commented on #26922
We will now close the issue . Should you have any query with Specific Document please open a new ticket providing the reference to the document and tag me on the same and we will help you further on the same.

[2019-03-15 10:56] #26922 closed

[2019-03-15 10:57] irwinwilliams opened #27323 "Install the agent using the command line does not work"
I tried the part of this documentation that says "Install the agent using the command line" and when I ran

.\Setup.exe /qn NOAPM=1 ADD_OPINSIGHTS_WORKSPACE=1 OPINSIGHTS_WORKSPACE_AZURE_CLOUD_TYPE=0 OPINSIGHTS_WORKSPACE_ID=[id] OPINSIGHTS_WORKSPACE_KEY=[key] AcceptEndUserLicenseAgreement=1

Nothing happened. The agent did not get installed. Machine specs:

![image](https://user-images.githubuserco

[2019-03-15 11:01] SumanthMarigowda-MSFT commented on #26390
@shudson302 Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-03-15 11:01] #26390 closed

[2019-03-15 11:06] KetanChawda-MSFT commented on #27307
@vinothrao The property `"path": "strings/{BlobName}"` where **strings** represents the name of container and it has nothing to do with the JSON parsing. Its basically for representational purpose.

[2019-03-15 11:06] 461775 opened #27324 "Access Denied Error"
We have deployed azure FHIR Server in  our azure environment when we try to get the token to call the method from the post man as per the guidance provided in the below Post

https://docs.microsoft.com/en-us/azure/healthcare-apis/access-fhir-postman-tutorial

Getting access denied error when we use resource=https://azurehealthcareapis.com in the Auth Url.

If we do not use the resource able to get

[2019-03-15 11:10] RohitMungi-MSFT commented on #27321
@nathansegers Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-03-15 11:16] KetanChawda-MSFT commented on #27308
To understand the input and output binding usage please check the Binding Section Azure Function documentation.

[See blob storage Input usage](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-blob#input---usage)
[See blob storage Output usage](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-blob#output---usage)

[2019-03-15 11:18] RohitMungi-MSFT commented on #27253
@muhammedyusuf-sermet Thanks for your suggestion. I will pass this request to the content author to check if they can make the required change.

@MikeDodaro I think the change to remove the variable can be made to the example.
I also found the documentation directs users to [Cognitive Services Labs](https://aka.ms/answersearchsubscription) to get the subscription keys but these keys are not valid

[2019-03-15 11:33] PingPongSet commented on #26761
Don't you think this is a bug with Azure Function? The variable returns correct value locally, but it is NOT defined on Azure Function when it is documented its default value of the document: https://docs.microsoft.com/en-us/azure/azure-functions/functions-app-settings#azurewebjobsscriptroo

[2019-03-15 11:33] eavanvalkenburg opened #27325 "Unclear how to use weighted metrics in classification tasks"
I was trying to work with the weighted versions of the metrics for AzureML AutoML, but the way you specify weights and weighted metrics is unclear and there are no samples of it. Would be great to see some samples, of different setups and also samples of what a sample_weight object looks like.

This is about this section: https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-confi

[2019-03-15 11:33] dianascarlett opened #27326 "Job execution lifecycle status"
Hello, I'm trying out Elastic Jobs in a release pipeline and would like to set the pipeline status based on the Elastic Job execution status. But I could not find any documentation on the possible values for the Lifecycle status. Can this documentation be updated to include that as well?
Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2019-03-15 11:37] Miggov commented on #24720
Hello, I'm having the same error message:
2019-03-15 11:27:05 INFO:  >>>IoTHubClient_LL_SendEventAsync accepted message for transmission to IoT Hub.
2019-03-15 11:27:14 INFO:  >>>Connection status: disconnected
2019-03-15 11:27:14 ERROR: File:C:\Users\v-zuhu\AppData\Local\Arduino15\packages\AZ3166\hardware\stm32f4\1.5.1\cores\arduino\azure-iot-sdk-c\c-utility\adapters\tlsio_mbedtls.c Func:tlsio_mb

[2019-03-15 11:37] Miggov opened #27327 "Serial monitor in vs code giving an error"
Hello, I'm having the same error message:
2019-03-15 11:27:05 INFO:  >>>IoTHubClient_LL_SendEventAsync accepted message for transmission to IoT Hub.
2019-03-15 11:27:14 INFO:  >>>Connection status: disconnected
2019-03-15 11:27:14 ERROR: File:C:\Users\v-zuhu\AppData\Local\Arduino15\packages\AZ3166\hardware\stm32f4\1.5.1\cores\arduino\azure-iot-sdk-c\c-utility\adapters\tlsio_mbedtls.c Func:tlsio_mb

[2019-03-15 11:38] Miggov commented on #27327
Sorry poor referencing, original message is here: https://github.com/MicrosoftDocs/azure-docs/issues/24720#issue-408989743

[2019-03-15 11:52] AjayKumar-MSFT commented on #26710
@BujarMurati, We went ahead and made an update. The update should be pushed soon. Thanks again for reporting this! We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-15 11:52] #26710 closed

[2019-03-15 12:11] raidlman commented on #26014
Why is this issue closed? I still get the exact same erros as @wandhydrant .

[2019-03-15 12:20] AshokPeddakotla-MSFT commented on #27313
@smoms Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-15 12:45] gorzilla opened #27328 "curl | sudo sh"
To install the dependency agent the command is effectively
`curl https://aka.ms/dependencyagentwindows | sudo sh`
This doesn't look so bad because it appears to be using TLS to verify the file has come from Microsoft but that link is actually 301 redirect to http://download.microsoft.com so it's vulnerable to a MitM attack.

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2019-03-15 12:52] jurajgh commented on #23124
@msmimart no, I haven't. while the OTP method you mentioned certainly works for some scenarios, it REPLACES the standard guest invitation redemption, effectively disabling the Organization's ability to add external users. that's not a solution. it's trading one disadvantage for another.

[2019-03-15 12:53] lightupdifire opened #27329 "Article review"
Hello,
Possibly this is not a case anymore:
"You need to be a global administrator in Azure AD to enable / disable a device"

Current Azure Role can give similar rights:
Cloud device administrator;

Please update document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a8119688-e88d-2916-3dcf-bf777a5fc80c
* Version Ind

[2019-03-15 12:57] elliottnichols commented on #26747
I don't believe this is a duplicate from the primary issue. There are in fact 2 issues here. The issue first posted in #23920 is unrelated to this issue, while the comment (https://github.com/MicrosoftDocs/azure-docs/issues/23920#issuecomment-467918108)  from @edwardplus on #23920 is related.

File storage_account_name_unit_test.go call terraform.FormatArgs on line #36.

The first paramater passed

[2019-03-15 13:00] DCtheGeek commented on #27312
@kalzi Thanks for the feedback and sorry you've run into an issue. I'm tagging the PM (@alex-frankel) so he and the team can investigate.

@MicrosoftDocs/azure-cxp-triage Please assign to me, label 'product-issue', and #in-progress.

[2019-03-15 13:06] lightupdifire commented on #27329
Some more info:
"https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/directory-assign-admin-roles"
Cloud Device Administrator: Users in this role can enable, disable, and delete devices in Azure AD and read Windows 10 BitLocker keys (if present) in the Azure portal. The role does not grant permissions to manage any other properties on the device.

[2019-03-15 13:16] msrini-MSIT commented on #27315
@ianchin , Thank you for your feedback. I will do a PR and  make the changes.

[2019-03-15 13:17] SteveALee commented on #27181
Thanks and interesting - I thought packaging just zipped up to get onto the cloud where it was unzipped.

To overcome the coldstart delay due to loading all the node_modules I thought we had to bundle into a single file using another mechanism.

I was hoping linux reduced this problem but I guess the modules still all need to be loaded in to memory so should bundled then as well.

[2019-03-15 13:25] lmccoy1 opened #27330 "Small error in code"
X_train = data.iloc[:950]
X_test = data.iloc[50:]

Should be:
X_train = data.iloc[:950]
X_test = data.iloc[950:]

Or:
X_train = data.iloc[:950]
X_test = data.iloc[-50:]

Otherwise you get an overlapping training an test data set, and each set will have 950 data points.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf6

[2019-03-15 13:31] SteveALee commented on #27181
Both of those articles indicate it's not available for LINUX!

Still I'll stick to windows and use RUn form Package.

[2019-03-15 13:31] #27181 closed

[2019-03-15 13:32] artisticcheese commented on #27254
Yes answer is provided in the stackverflow but not via `scope` field. Original question how to use `scope`

[2019-03-15 13:40] TormDK opened #27331 "Inconsistency regarding requirements for Group-based licensing."
Hello team!

I hope you are doing well.

There's some inconsistency in the "Licensing Requirements" - the document notes that you either have an Azure AD Basic plan, or an Office 365 Enterprise E3 plan, or higher.

What about all the plans that have Azure AD Basic functions included? Such as the whole Business line (Business Essentials, and Business Premium), as well as Enterprise E1.

Basically w

[2019-03-15 13:46] ctaggart commented on #26501
Allow monitoring of events from Azure Monitor
https://feedback.azure.com/forums/602224-azure-container-instances/suggestions/37114807-allow-monitoring-of-events-from-azure-monitor

[2019-03-15 13:47] ctaggart commented on #26512
Allow monitoring of events from Azure Monitor
https://feedback.azure.com/forums/602224-azure-container-instances/suggestions/37114807-allow-monitoring-of-events-from-azure-monitor

[2019-03-15 13:50] helderpinto commented on #26459
@rboucher, thank you for taking the time to let me know about this update. The last sentence of the Costs section answered a question I had since a long time ago and nobody could answer! Thanks a lot for this clarification.

[2019-03-15 13:53] Norrch2 opened #27332 "Discrepency in Predicate IsDateRange example"
Hello Everyone,

I am reviewing this documentation and there is a discrepancy in the Predicate IsDateRange example.

Per the example, it has the UserHelpText as an attribute to the Predicate Element. However, the documentation lists the UserHelpText as a sub-element of the Predicate element.

&lt;Predicate Id="DateRange" Method="IsDateRange" HelpText="The date must be between 1970-01-01 and today.

[2019-03-15 14:17] grayjeremy commented on #27190
Before I say anything please note that I am not talking about key _generation_, assume that key vault already has a series of keys in it.

We call this lots of different things but the most common I see are
Bring your own key (BYOK) and Customer managed key (CMK).  Where a customer can choose which key in key vault is used to encrypt all the data that the service uses.  Storage accounts are a [gre

[2019-03-15 14:24] thefliik commented on #27142
@KetanChawda-MSFT thanks!

[2019-03-15 14:27] KetanChawda-MSFT commented on #27142
@thefliik I hope the above post help answering your question. Let me know if you have any further question regarding this matter.

[2019-03-15 14:28] rothja commented on #27070
Hi @femsulu , the most common author in the azure-databricks folder is @mamccrea. I'm assuming it would be Mary, but she can confirm. Thank you!

[2019-03-15 14:31] cmcapellan opened #27333 "Clarify step 4 of connector and application server in the same domain"
The screenshot shows "Use any authentication protocol" but the text doesn't mention this option. Can you specify if "Use Kerberos Only" also works, and if that is more secure?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e139327a-53e0-d539-dc04-29bf07ad0333
* Version Independent ID: a862ebf9-161e-30ef-aa7c-5b3302ec13

[2019-03-15 14:41] msrini-MSFT commented on #27235
@mayurpuli , When you don't have a Public IP assigned to a VM and it is not a part of Load balancer, the set of IPs which the platform assigns is not exposed to customers. If you need more control over control for monitoring/filtering purpose, you can go ahead and assign a Public IP address.

[2019-03-15 14:43] rajrao opened #27334 "Firewalls and virtual networks are supported only in premium tier"
The page specified that virtual networks are supported only in premium. It might be clearer to specify that "Firewalls and virtual networks" are supported only in premium tier

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f57f0ae7-e5ee-84c7-7d39-a15f2d04ecbf
* Version Independent ID: 939c0e95-9fb5-8225-ca98-33c32e9a98

[2019-03-15 14:50] LukeCarrier commented on #18388
@craigg-msft this is still how the service works, yep.

[2019-03-15 14:56] tsellers-r7 commented on #15622
Could we please have an update on the progress of this effort? Being unable to compare the rough performance of B-series to other options is frustrating and, in my case, is preventing deployment of this class of VM.

[2019-03-15 15:10] mosoccer opened #27335 "Log Rate Issue"
Log rate for GP_Gen5_4 looks to be wrong.  Listed as 56, but the value one step lower is 2.5 and one step up is 7.5.  Maybe 5.6 instead?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ece92a7d-3250-d109-97e9-20a731dc4b20
* Version Independent ID: 29a97076-fc64-0ae9-4574-de1aeda237d8
* Content: [Azure SQL Database vCore

[2019-03-15 15:20] SnehaAgrawal-MSFT commented on #27149
@dcbrown16 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-03-15 15:28] ravisha22 opened #27336 "Discovery VM limit numbers"
Are the discovery VM limit numbers correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8057689a-352a-2c4f-308a-907e2e4a1f51
* Version Independent ID: dc6ee9f0-2d21-292e-491a-dddd9ab03b2e
* Content: [About Azure Migrate](https://docs.microsoft.com/en-us/azure/migrate/migrate-overview#feedback)
* Content Source: [art

[2019-03-15 15:28] TracyGH commented on #26899
Thank-you @MarkHeff for following up!  I have done some additional testing, and below is what I've found.  I will close this issue now, but I wanted to document my findings for reference.

1. Some unexpected behavior seems to surface, not when there are index orphans, but when a blob gets added to the relevant container with no value for the index primary key.  I inadvertently introduced this cond

[2019-03-15 15:28] #26899 closed

[2019-03-15 15:32] joelpelley commented on #15622
Assuming we are talking about the ACU values for B-Series again?  This question does come up often, so we should document somewhere permanently for Internal MS folks only the reason we are not publishing ACU for B-Series so it can be future referenced.  @David Berg<mailto:David.Berg@microsoft.com> has already done a write up on the reason, so we should use that.  @Aysha Keen<mailto:ayshak@microsof

[2019-03-15 15:37] SubhashVasarapu-MSFT commented on #27235
@mayurpuli , Closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-03-15 15:37] #27235 closed

[2019-03-15 15:39] cloudmelon opened #27337 "Need clarification API Management failover"
Hello,

After reading the documentation ( ref : https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-deploy-multi-region ) and some discussions from my colleagues, I heard very interesting arguments about the APIM premier tier, it is ' integrated a traffic manager instance' that's why it can failover between the different Azure region.  I am wondering if he is right and it is

[2019-03-15 16:04] mattchenderson commented on #27053
This seems reasonable, especially given that Key Vault may be unfamiliar to App Service users. I have a minor concern with maintenance since we may not be aware of changes to the KV experience, but I don't think it would be too bad.

Will plan on an update to this.

[2019-03-15 16:04] isamllr commented on #27070
Thank you, looking forward to these insights.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Jason Roth <notifications@github.com>
Sent: Friday, March 15, 2019 3:29:07 PM
To: MicrosoftDocs/azure-docs
Cc: isamllr; Mention
Subject: Re: [MicrosoftDocs/azure-docs] What are the limits for Azure Databricks? (#27070)

Hi @femsulu<https://github.com/femsulu> , the

[2019-03-15 16:10] senthilkjeya commented on #19489
Is OrderBy available in Java client library?
i checked the latest version (8.1.0) of azure-storage artifact but can't see the OrderBy function.

[2019-03-15 16:11] senthilkjeya commented on #26228
Is OrderBy available in Java client library?
i checked the latest version (8.1.0) of azure-storage artifact but can't see the OrderBy function.

[2019-03-15 16:23] SnehaAgrawal-MSFT commented on #27053
@mattchenderson Thanks for reviewing. @zmarty Thanks for bringing this to our attention and now we will proceed to close this thread.

[2019-03-15 16:23] #27053 closed

[2019-03-15 16:27] msangapu commented on #25616
Hi @blueelvis This article is specific to enabling continuous deployment on App Service. You mentioned some events like container reboots, pulling images, etc... Regardless of the CD endpoint (DH or ACR) the CD works the same. Updating the image repo will update the App Service, so there will be a container restart when a new image is pushed to the registry and picked up by App Service.

However,

[2019-03-15 16:28] MicahMcKittrick-MSFT commented on #27225
Nope you should be just fine to have both enabled :)

[2019-03-15 16:35] 007 commented on #27051
@neeleshray you seem to ignore the main comment, and even the title. Saying that I can disable it ignores the fact that ***I have to disable it***! So let me repeat with emphasis:

This feature, and any feature of this kind, absolutely *MUST* be opt-in. Can you explain any way that this is a positive for security, and that requiring opt-in would be worse than opt-out from a security perspective?

[2019-03-15 16:43] nabhishek commented on #23922
@mserd Please reference the [ADF v2 docs](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/data-factory/create-self-hosted-integration-runtime.md) with the latest screenshot. The only difference being fetching the Key in V1 still holds good as per existing doc.
We will update this doc shortly.

[2019-03-15 16:48] msmimart commented on #19238
We've created a backlog item for the additional steps and will address this in future iterations.
#please-close

[2019-03-15 16:51] DixitArora-MSFT commented on #26761
@PingPongSet Behavior is expected as Paul has already share the details regarding this.

[2019-03-15 16:53] nabhishek commented on #23653
@Nimleth
We have pools running in different regions and on request, certain nodes are allocated to customers (dedicated) for that job. And then released back to the pool after context cleanup. In the case of Data flow, the cluster would be job cluster and gets destroyed on execution.
No data is persisted on clusters.
Azure IR is designed for multi-tenant use and we provide the precise context isol

[2019-03-15 16:53] vilibert opened #27342 "I think this should be changed from OS disk to Datadisk"
Hi there I think this should be changed from OS disk to Datadisk

6. To verify the OS disk has been resized, use df -h. The following example output shows the data drive /dev/sdc1 is now 200 GB:

6. To verify the Datadisk disk has been resized, use df -h. The following example output shows the data drive /dev/sdc1 is now 200 GB:

t

---
#### Document Details

⚠ *Do not edit this section. It is req

[2019-03-15 16:55] iricigor opened #27343 "NSG rule / NAT term is confusing"
As I understand traffic goes from the Internet to Load Balancer and then to the VM. NSG is NOT applied to LB, only to VM. And a default rule allows all traffic from LB to the VM. Article everywhere uses the term NAT (Network Address Translation), so I am a bit confused.

Why is this additional rule (Internet -&gt; VM/80) needed? Is there any way to allow VM traffic that is only coming via LB?

P.S

[2019-03-15 16:56] MarkHeff commented on #26899
Thanks @TracyGH for this informaiton! For #2, can you provide whether the primary key was filterable, searchable, sort-able, etc for the case where the indexer failed and for the case where the indexer succeeded and created the primary key?

[2019-03-15 17:00] j-martens commented on #16646
@YutongTie-MSFT please assign to XiaoHarper

[2019-03-15 17:00] j-martens commented on #26757
@YutongTie-MSFT please assign to @xiaoharper

[2019-03-15 17:03] Mike-Ubezzi-MSFT commented on #27326
@dianascarlett Thank you for the detailed feedback. I am assigning this to the content owner to evaluate and update as appropriate.

[2019-03-15 17:04] devclient187 opened #27344 "Azure AD App Key Must be a base64-encoded 256-bit value"
I copied the app key from my azure app into the appsource app key field and it shows the following error message:
"Must be a base64-encoded 256-bit value."

Obviously the azure app key is not base64 encoded. However base64 encoding the key does not remove the error.

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Art

[2019-03-15 17:05] nkiest commented on #24785
For resources such as Key Vault (any on this list https://docs.microsoft.com/en-us/azure/azure-monitor/platform/diagnostic-logs-schema), you can have up to 5 diagnostic settings, enabled via Portal, PS, or API. Each of those can go to a different Azure Log (LA) workspace.
Activity logs are not one of the above resources, those must be configured as part of your workspace. VMs also have an independ

[2019-03-15 17:05] naimco opened #27345 "Key Encryption Key scenario script is out dated."
I am trying to run the sample script in the Key Encryption Key scenario section.
I have powershell Az   1.5.0 installed on my machine and cant find any way to get this modules installed :
# Load ADAL Assemblies
$adal = "${env:ProgramFiles(x86)}\Microsoft SDKs\Azure\PowerShell\ServiceManagement\Azure\Services\Microsoft.IdentityModel.Clients.ActiveDirectory.dll"
$adalforms = "${env:ProgramFiles(x86)

[2019-03-15 17:06] cgillum commented on #12482
@MicahMcKittrick-MSFT Can you please close this issue? It has been resolved.

[2019-03-15 17:06] YutongTie-MSFT commented on #27330
@lmccoy1
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-15 17:07] JasonWHowell commented on #26323
@MicrosoftDocs/azure-cxp-triage #please-close

[2019-03-15 17:08] SaurabhSharma-MSFT commented on #27333
@cmcapellan Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-15 17:09] SaurabhSharma-MSFT commented on #27320
@Tarjei99 Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-15 17:09] CeciAc opened #27346 "Wrong show-connection-string parameter"
@maxstreifeneder commented on [Fri Mar 15 2019](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/265)

Liebe Microsoft-Kollegen,

Der Befehl in **Schritt 3** "Registrieren eines Gerätes" funktioniert so leider nicht, der Parameter-Name hat sich scheinbar geändert.

Im Dokument:
az iot hub show-connection-string --hub-name YourIoTHubName --output table

Richtigerweise:
az iot hub show-conne

[2019-03-15 17:10] #12482 closed

[2019-03-15 17:10] SaurabhSharma-MSFT commented on #27317
@parabolic123 Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-15 17:10] Mike-Ubezzi-MSFT commented on #27335
@mosoccer Thank you for taking the time to file this issue. We will have this addressed once the publishing system is available and back online.

[2019-03-15 17:11] CeciAc commented on #27346
Hi team,
I'm moving this here since the contributor is making a suggestion on the example code
Rough Translation:

[2019-03-15 17:11] SaurabhSharma-MSFT commented on #27332
@Norrch2 Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-15 17:12] SaurabhSharma-MSFT commented on #27329
@lightupdifire Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-15 17:13] trevorbye commented on #27330
@lmccoy1 thanks for catching this, I will fix right now and it will be live later today.

[2019-03-15 17:13] SaurabhSharma-MSFT commented on #27331
@TormDK Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-15 17:16] SaurabhSharma-MSFT commented on #27314
@ShiChen872 Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-15 17:17] ecfan commented on #27138
@kazshi, thanks for your feedback! We've created a work item on our doc backlog to address.

#please-close

[2019-03-15 17:18] trevorbye commented on #27330
@YutongTie-MSFT just got this fixed, please close. Thanks

[2019-03-15 17:18] SaurabhSharma-MSFT commented on #24766
@mumoryan We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-03-15 17:18] #24766 closed

[2019-03-15 17:20] nabhishek commented on #22610
dbutils.widgets.text("input", "","") -> creates a [widget in Databricks notebook](https://docs.azuredatabricks.net/user-guide/notebooks/widgets.html#widget-types) through which ADF can pass a value to the notebook. The three parameters in the dbutils.widgets.text("","","") stands for -> "Reference name for widget","defaultValue","Visible Name". The last 2 being optional.

dbutils.widgets.get("inpu

[2019-03-15 17:20] nabhishek commented on #22610
#please-close

[2019-03-15 17:21] YutongTie-MSFT commented on #27330
@trevorbye Cool, you are so quick, I am editing it.... Thank you!!!!

@lmccoy1
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-03-15 17:21] #27330 closed

[2019-03-15 17:24] MartinJaffer-MSFT commented on #27318
Thank you for bringing this to our attention, @SANDEEPPILLUTLA .  We will investigate  and  update you when we have more information.

[2019-03-15 17:25] MartinJaffer-MSFT commented on #27316
Thank you for bringing this to our attention, @SanderSade .  We will review the doc and update as appropriate.

[2019-03-15 17:28] SaurabhSharma-MSFT commented on #27055
@blouwagie Thanks for your feedback, however, I have assigned this issue to content author to investigate and update the document as appropriate.
@rkarlin Can you please check if documentation can be updated to include information as requested by @blouwagie

[2019-03-15 17:29] SaurabhSharma-MSFT commented on #26576
@Placid7 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-03-15 17:29] #26576 closed

[2019-03-15 17:29] SaurabhSharma-MSFT commented on #26734
@Placid7 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-03-15 17:29] #26734 closed

[2019-03-15 17:33] melzoghbi commented on #27228
Awesome! let me know  @ChiragMishra-MSFT  if you would like to look at this in my subscription. ping me on Teams :)

[2019-03-15 17:36] deltadan commented on #26912
This works great, thanks!  I'm creating custom RBAC roles, so this makes it easier for me to build.

[2019-03-15 17:36] #26912 closed

[2019-03-15 17:41] iricigor opened #27347 "What does it mean "NAT" in this article?"
As per the article: "LB does not interact with TCP, does not terminate or originate flows, ..." So this means load balancer is not doing Network Address Translation. Then, what it means "NAT" here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7eaaf7c7-c1fe-1afc-e7f8-bc0e90044fb8
* Version Independent ID: 6461936a-3f5

[2019-03-15 17:41] githubavi opened #27348 "How to use configuration settings in function container environment"
Hi, I would like use the func. app configuration settings in docker runtime environment? I am using Queue trigger. Locally from VS it works fine and read the settings from local.settings.json. But, once I try to run it from container, it fails to identify the connection config for that queue. The error looks like below,

Error indexing method 'QueueTriggerFunction'
Microsoft.Azure.WebJobs.Host.Ind

[2019-03-15 17:43] sdgilley commented on #25943
Thanks for your suggestion.  Unfortunately, there is more than one version of authentication that you might see during this step, making it difficult to show it in a screenshot.

#please-close

[2019-03-15 17:45] MartinJaffer-MSFT commented on #27316
I have assigned this article for review by the author, @ShubhaVijayasarathy .

[2019-03-15 17:46] adwise3 commented on #16065
Hello All,

We recently released the Azure Budgets feature in Ibiza to replace the cost thresholds that you have previously been using (supporting both Enterprise and Pay-As-You-Go customers). While the current cost thresholds will continue to work, please begin using our Budgets feature moving forward. To learn more, visit our documentation page found here: https://docs.microsoft.com/en-us/azure/

[2019-03-15 17:48] Karishma-Tiwari-MSFT commented on #27342
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-15 17:49] MikeDodaro commented on #27253
1. The mkt parameter limits to results in US English, so it is used.
2. I tested with the key obtained by following the **Subscribe** link on the page indicated by **Cognitive Services Labs**: https://aka.ms/answersearchsubscription
All the code runs as expected.

[2019-03-15 17:49] Karishma-Tiwari-MSFT commented on #27345
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-15 17:50] the-blesss opened #27349 "How can this template be scoped to a Subscription?"
I would think that a more effective scope would be at the subscription level, rather than applying a policy to each and every RG. I am missing how to scope a template to the subscription only and not require the RG during deployment/assignment? In the portal Assignment we can select only Sub and no RGs, this makes sense, but there is no export template during that operation that would allow us to

[2019-03-15 17:53] Karishma-Tiwari-MSFT commented on #26716
@bramvdklinkenberg Any update? Please share if you have specific scenarios so that our product team can help.
@iainfoulds Do you think we should update the doc to remove the statement where it says "You then only permit AKS to deploy signed images"? Thanks for your help. :)

[2019-03-15 17:54] Alberto-Vega-MSFT commented on #26557
@jelmerS2 Thanks again for all your feedback! Would you please post this as a feedback here https://feedback.azure.com/forums/919252-azure-spatial-anchors  and share the link on this issue? This will allow the community to upvote and for the product team to prioritize what is included into their plans.
We also have the "Give Product Feedback" button in our documents now to take you directly to the

[2019-03-15 18:01] banisadr commented on #27026
Hi @runeksvendsen, we provide the full detailed schema here with notes on each field as a reference for you to understand the data you should expect and plan your application architecture.

We have an [open repo](https://github.com/Azure/azure-rest-api-specs/tree/master/specification/eventgrid) that includes the schema of all 1st class supported event types. When we generate our SDKs, we use this

[2019-03-15 18:06] #22610 closed

[2019-03-15 18:07] mike-urnun-msft commented on #27348
Hi @githubavi Thank you for your feedback! We will review and update as appropriate.

[2019-03-15 18:08] mike-urnun-msft commented on #27334
Hi @rajrao Thank you for your feedback! We will review and update as appropriate.

[2019-03-15 18:09] MarileeTurscak-MSFT commented on #27068
@juhap We have passed your feedback along to the content author, @eringreenlee , to look into.

[2019-03-15 18:12] DCtheGeek commented on #27349
@the-blesss Thanks for the feedback!  This example uses the **deploymentTemplate.json** template schema, which means it is for a resource within a subscription.  One of the links does point to [creating resources at the subscription level](https://docs.microsoft.com/azure/azure-resource-manager/deploy-to-subscription) that has examples for Policy. A subscription level deployment (**subscriptionDep

[2019-03-15 18:28] AmanGarg-MSFT commented on #27324
@461775 Thank you for the question! We are investigating this and will get back to you shortly.

[2019-03-15 18:30] githubavi commented on #27348
Hi, I have just figured it out. Overlooked the Dockerfile ENV documentation link. Regarding documentation, kit would be good if i contains one sample example

[2019-03-15 18:31] AjayKumar-MSFT commented on #27073
@marcelofelman, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-03-15 18:31] #27073 closed

[2019-03-15 18:32] AmanGarg-MSFT commented on #27319
In case your query in not related to document content, open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/newthread?prof=required) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community members could provide their expert guidance on your scenario based on their experience. Thanks.

[2019-03-15 18:34] rolyon commented on #26912
Hi @deltadan
Great! If you have any suggestions for how we can improve the RBAC custom role docs, let us know.
thanks

[2019-03-15 18:34] AmanGarg-MSFT commented on #27050
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-03-15 18:34] #27050 closed

[2019-03-15 18:37] Abdulmanahtalib commented on #27050
Support

[2019-03-15 18:37] nzthiago commented on #27073
@AjayKumar-MSFT I think the  "Create Node.js web app" page should at least link to the logging/diagnostics information after the part of deploying to Azure (Deploy ZIP file), especially to this section so devs know how to see the logs from Azure:
https://docs.microsoft.com/en-us/azure/app-service/troubleshoot-diagnostic-logs#streamlogs

[2019-03-15 18:37] AmanGarg-MSFT commented on #27322
@iricigor Thank you for the question! We are investigating this and will get back to you shortly.

[2019-03-15 18:40] MarileeTurscak-MSFT commented on #27329
Good catch, @lightupdifire -

I have made a pull request to update the document. https://github.com/MicrosoftDocs/azure-docs-pr/pull/69759

[2019-03-15 18:40] #27329 closed

[2019-03-15 18:44] YutongTie-MSFT commented on #26729
@Diro92 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-15 18:44] #26729 closed

[2019-03-15 18:46] GunnyHighway47 commented on #27051
How can we tell if anyone in our organization has already connected their account to LinkedIn?
Totally agree with @007, this should be opt-in, not opt-out.

[2019-03-15 18:49] TravisCragg-MSFT commented on #27347
@iricigor NAT with Azure Load Balancer is not used for load balancing rules. It is used for port forwarding rules. This allows you to take traffic coming into the load balancer on a specific port and forward it to a specific backend VM on a specific port.

[2019-03-15 18:52] SaurabhSharma-MSFT commented on #27028
@SamBlakeC Are you able to login to Azure VM using a guest user account ? As per my understanding Azure AD users won't be able to access Azure VMs unless you provision Azure AD Domain Services and join the VMs to the domain, then add the users as local administrators to the VM.

[2019-03-15 18:55] PingPongSet commented on #26761
Again, the documentation and implementation of this variable is an issue/bug.

I don't want to spend more time on this now.

[2019-03-15 18:56] the-blesss commented on #27349
That is exactly what I was looking for "creating resources at the subscription level". I still don't see where your commit hit the documentation about the -Scope parameter for the commands used. I looked here: https://docs.microsoft.com/en-us/powershell/module/az.resources/new-azpolicyassignment?view=azps-1.5.0#parameters
and here
https://docs.microsoft.com/en-us/powershell/module/azurerm.resource

[2019-03-15 18:56] Karishma-Tiwari-MSFT commented on #26745
@laserninja The doc mentions that you need to update this tag to match your Kubernetes version
`image: nvidia/k8s-device-plugin:1.12`
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-03-15 18:57] himanshusinha-msft commented on #27214
@mganeshphani  We tried to repro the issue and at this time we can confirm that the ASA job is able write to V2 storage account , attaching the screenshot for clarity .

![ASAoutput_stored_in_bloblV2](https://user-images.githubusercontent.com/47539458/54455391-e9465a80-4718-11e9-9615-d40ff2c2c701.png)

![BloblInfo](https://user-images.githubusercontent.com/47539458/54455396-eea3a500-4718-11e9-816c

[2019-03-15 18:59] mganeshphani opened #27350 "Can you point me to CICD pipeline docs for Java Azure functions"
Can you point me to CICD pipeline docs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e85de04-2f8b-68ea-eeb9-dcc65f216332
* Version Independent ID: db26953c-f234-3828-4c38-493ad410e25a
* Content: [Java developer reference for Azure Functions](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-j

[2019-03-15 19:00] SaurabhSharma-MSFT commented on #26866
@liamfoneill I do not think that is possible, as if you provide an subscription owner role to a user the user has full access to all resources in the subscription.  Please post this as a feedback https://feedback.azure.com/forums/169401-azure-active-directory This will allow the community to upvote and for the product team to include into their plans. We also have the "Give Product Feedback" butto

[2019-03-15 19:01] seanmcpartlin commented on #27051
I feel, if Microsft was going to make it opt-out.  It should default to only let users see Linkedin data they see by connecting their account. (Even with opt-out users have to do something to connect to linkedin) however our orig has little desire to share our data (that users have access to) with a third party. Our CRM/sales contacts are ours and not up for grabs.  We do not want linkedin seeing

[2019-03-15 19:09] cap273 opened #27351 "Address Pool Is Wrong - Overlaps with Virtual Network Address Space"
If you try to follow these instructions, configuring Point-to-Site for the Virtual Network Gateway will fail with the message: Failed to save virtual network gateway 'GatewayName'. Error: The virtual network gateway's VPN client address pool overlaps with the virtual network's address space. The overlapping address space prefixes are 10.1.0.0/16 and 10.1.1.0/26.

---
#### Document Details

⚠ *Do n

[2019-03-15 19:18] MicahMcKittrick-MSFT commented on #27345
@genlin @glimoli what is the process we expect users to ensure they have all these installed in the correct path? Looking at the mentioned section we just assume everything is installed which is not the case.

[2019-03-15 19:21] georgewallace commented on #27322
@iricigor Reader is just like contributor its one of the base roles.. If you are a contributor you already have reader permissions.

[2019-03-15 19:22] MicahMcKittrick-MSFT commented on #27225
Will close this but just let me know if you have any additional questions.

[2019-03-15 19:22] #27225 closed

[2019-03-15 19:24] #11293 closed

[2019-03-15 19:24] #11297 closed

[2019-03-15 19:24] #11385 closed

[2019-03-15 19:24] #12643 closed

[2019-03-15 19:25] #13393 closed

[2019-03-15 19:25] #15480 closed

[2019-03-15 19:26] #15574 closed

[2019-03-15 19:26] #15686 closed

[2019-03-15 19:26] #16595 closed

[2019-03-15 19:26] #17980 closed

[2019-03-15 19:26] #19002 closed

[2019-03-15 19:27] #19238 closed

[2019-03-15 19:27] #22515 closed

[2019-03-15 19:27] #23319 closed

[2019-03-15 19:27] #25943 closed

[2019-03-15 19:27] #26009 closed

[2019-03-15 19:28] #26323 closed

[2019-03-15 19:28] #27138 closed

[2019-03-15 19:28] #6117 closed

[2019-03-15 19:28] hansenms commented on #27324
You need to add the resource/audience in required permissions for your client application registration. Go to required permissions and add the "Azure Healthcare APIs".

You must include the `resource=https://azurehealthcareapis.com` otherwise your token will not have the right `aud` claim.

[2019-03-15 19:28] #8386 closed

[2019-03-15 19:31] BryanTrach-MSFT commented on #26603
@carehart Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-03-15 19:31] SaurabhSharma-MSFT commented on #27343
@iricigor Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-15 19:32] tsellers-r7 commented on #15622
CC @ DavidBerg-MSFT
I don't see Aysha Keen's Github handle to CC correctly.  The email version of this update didn't seem to notify either of them.

[2019-03-15 19:32] Karishma-Tiwari-MSFT commented on #26014
@wandhydrant @raidlman I am still talking internally with the product team on this. Can you please share which version of LIS are you using?
CC: @shirgall

[2019-03-15 19:32] AmanGarg-MSFT commented on #27323
@irwinwilliams Thank you for the question! We are investigating this and will get back to you shortly.

[2019-03-15 19:34] AmanGarg-MSFT commented on #27325
@eavanvalkenburg Thank you for the feedback! We are investigating this and will get back to you shortly.

[2019-03-15 19:35] AmanGarg-MSFT commented on #27327
@Miggov Thank you for the question! We are investigating this and will get back to you shortly.

[2019-03-15 19:36] BryanTrach-MSFT commented on #26846
@Leon99 Since we haven't heard back form you in a couple of days, we will proceed to close out this issue.
If there are further questions regarding this matter, please tag Dashleen in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-15 19:36] #26846 closed

[2019-03-15 19:37] AmanGarg-MSFT commented on #27328
@gorzilla Thank you for the feedback! We are investigating this and will get back to you shortly.

[2019-03-15 19:41] YutongTie-MSFT commented on #27325
@nacharya1 Hi, here is a document suggestion. ^^ Could you please check it and update the document with samples and more explanations if necessary? Thank you!

[2019-03-15 19:41] cap273 opened #27352 "Confusing - Is AAD Connect required or not?"
The Prerequisites section is confusing. "the users must be in Azure Active Directory (Azure AD), which must be synced from either the on-premises or cloud environment." What does it mean for the users in Azure AD to be "synced from the cloud environment"? If the user in Azure AD is a cloud-only account, there is no "synchronization" involved anywhere.

---
#### Document Details

⚠ *Do not edit thi

[2019-03-15 19:44] YutongTie-MSFT commented on #26882
@xiaoharper Hi Xiao, do you have any insight on this product question? Do we have any plan for that? Thank you.

[2019-03-15 19:45] CHDAFNI-MSFT opened #27353 "Change "On-premises AD UPN support in Hybrid Azure AD join" to Alternate ID"
The content of "On-premises AD UPN support in Hybrid Azure AD join" sounds like a description of "Alternate ID" without actually mentioning the term. Please consider adjusting the title or mentioned in the body of text "Alternate ID" which is the correct technical name for onprem/aad UPN values not matching

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2019-03-15 19:50] nacharya1 commented on #27325
Hi,
All examples of scenarios can be found on our GitHub Site.
Specifically using sample weights it is available on the link below.

https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/automated-machine-learning/sample-weight/auto-ml-sample-weight.ipynb

regards,
Nilesh

From: YutongTie-MSFT <notifications@github.com>
Sent: Friday, March 15, 2019 12:41 PM
To: Microsoft

[2019-03-15 19:52] YutongTie-MSFT commented on #27325
@nacharya1 Thank you for the speedy response ^^

@eavanvalkenburg  We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-03-15 19:52] #27325 closed

[2019-03-15 19:57] mamccrea commented on #27070
Quotas are handled at the subscription level, and Databricks is designed for theoretical limitless scale. Here's some documentation on [Cluster size and autoscaling](https://docs.azuredatabricks.net/user-guide/clusters/sizing.html) and [Resource Manager vCPU quota increases](https://docs.microsoft.com/azure/azure-supportability/resource-manager-core-quotas-request) for Databricks.

[2019-03-15 19:59] Alberto-Vega-MSFT commented on #27219
@bganapa Thanks again I have assigned the issue to the doc author @mattbriggs to fixed the merge conflict.

[2019-03-15 20:01] davidmu1 commented on #25799
@moiso0496 - I'm not sure I'm understanding the issue. There is only one link to https://github.com/AzureADQuickStarts/B2C-AzureBlobStorage-Client/tree/master/sample_templates/wingtip. The link text says "starter pack", not "HTML5 Templates". The link to the wingtip demo points to a folder where the unified.cshtml file can be copied. This is correct for the context of the paragraph. Please clarify

[2019-03-15 20:01] j-martens commented on #26076
@rhpoon Can you try to set snapshot_directory=None (or something else) if you don't need to snapshot the current folder?

[2019-03-15 20:09] DavidBerg-MSFT commented on #15622
We don't publish B-Series ACU numbers because it is **variable**.  It depends largely on whether calculations fit within the remaining CPU window, which is subject to timing of when the test is run.

We don't publish N-Series ACU numbers because they only represent the performance of the CPU, not the GPU, and anyone running on N-Series is generally going to be more interested in the GPU performanc

[2019-03-15 20:10] femsulu commented on #27322
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-03-15 20:10] #27322 closed

[2019-03-15 20:15] tiny-k12-it-admin opened #27354 "How to do a free trial test of Enterprise State Roaming?"
I work for a tiny rural K-12 public school district, that is facing serious financial challenges. We are too small and poor to afford 1-to-1 computing. A $250 11 inch Windows Celeron laptop is basically a toy, and not really usable for desktop work. Serious work with a decently large screen requires a $500+ laptop per student, and that is just impossible for us.

We have to use a limited number of

[2019-03-15 20:20] tsellers-r7 commented on #15622
Thanks @DavidBerg-MSFT   When you say "remaining CPU window" do  you mean while instance still has credits?  If so, the ACU value would definitely have value to me if it were provided in context of the baseline compute. For example, baseline for `B1s` being 10% of 100 ACU and, assuming sufficient credits, burstable up to 100 ACU.

In my particular case I'm trying to determine if, in the case of `B

[2019-03-15 20:23] femsulu commented on #27328
Adding @MGoedtel for input. We will have to engage the feature owner to make a call on this. Thanks for the feedback @gorzilla

[2019-03-15 20:26] femsulu commented on #27336
@ravisha22 thanks for the comment. Is there a specific reason why you think the discovery VM limits are incorrect? Any additional information will be helpful.

[2019-03-15 20:28] Blackmist commented on #11667
@jtuliani @TravisCragg-MSFT Unfortunately, the video is no longer available. I'm working with the folks who own this doc set now to get the link removed. I'll post back here once the update has been published.

[2019-03-15 20:39] btardif commented on #27087
I will be taking some time to answer this questions and updated doc as needed.

[2019-03-15 20:43] davidmu1 commented on #26735
@Norrch2 - The RelyingParty actually does only support a subset of the protocols that a TechnicalProfile supports. This is the example I got from engineering:  Client application -> OIDC, SAML -> Federated sign in -> OAuth1, OAuth2, OpenIdConnect, WsFed, WsTrust. The articles are correct.

#please-close

[2019-03-15 20:44] davidmu1 commented on #26583
We appreciate the feedback. A workitem has been opened in the documentation queue to address this issue.

#please-close

[2019-03-15 20:44] femsulu commented on #27344
@devclient187 Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-03-15 20:45] davidmu1 commented on #26582
Thank you for your feedback. A workitem has been opened in the documentation queue to address the issue.

#please-close

[2019-03-15 20:45] Norrch2 commented on #26735
Thank you for the clarification. Perhaps the documentation can be updated to state that it only supports a subset of protocols :-) to prevent future confusion.

[2019-03-15 20:45] #26735 closed

[2019-03-15 20:46] femsulu commented on #27349
assigned to @DCtheGeek per update above.

[2019-03-15 20:47] davidmu1 commented on #26735
@Norrch2 - Thank you for the feedback. I have made a note to add the info to the article.

[2019-03-15 20:48] femsulu commented on #27070
thanks @mamccrea!
@isamllr We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-03-15 20:48] #27070 closed

[2019-03-15 20:49] MicahMcKittrick-MSFT commented on #26245
@juho-hanhimaki well it took a while, but after discussing this with the Service Product team if the objects are immutable as recommended then your assumption is correct and you should have no issues :)

[2019-03-15 20:49] MarileeTurscak-MSFT commented on #27314
Hi @ShiChen872 ,
Thanks for your feedback! To me the article makes sense as-is but I can see a case for what you described. I'm passing your comments on to @curtand for review.

[2019-03-15 20:54] juho-hanhimaki commented on #26245
Thanks a ton!

[2019-03-15 20:55] #26245 closed

[2019-03-15 20:59] ColbyTresness opened #27355 "IoT Edge Doc is miscategorized"
This shouldn't be under Functions on Linux, Windows nanoserver containers are supported as well. It's a different hosting category entirely actually, Functions on IoT. Not a huge focus, but definitely different than linux.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7852968-3c54-5584-df91-b01521efae43
* Version Ind

[2019-03-15 21:00] MartinJaffer-MSFT commented on #27228
@ChiragMishra-MSFT I had a screenshare call with @melzoghbi .  I send you the details in Teams.

[2019-03-15 21:08] MartinJaffer-MSFT commented on #26114
I found a somewhat similar issue.
#27228

[2019-03-15 21:10] YutongTie-MSFT commented on #26757
@JeffreyCA @xiaoharper Update: The feedback link is fixed.

[2019-03-15 21:15] SaurabhSharma-MSFT commented on #27344
@devclient187 I think you are copying the Keys "Description" from application registration page. You need to take the newly generated value which appears under VALUE needs to be passed as "Azure AD App Key" on the Logic app Test Drive Subscription Details section. This VALUE is generated when you click on Save on the Azure AD application registration page as shown below -
![image](https://user-ima

[2019-03-15 21:27] SaurabhSharma-MSFT commented on #26614
@SuttyHoo There seems no issues with the code as I am able to run the C# script from the page on .NET framework.  Are you using .NET core to test this ?
![image](https://user-images.githubusercontent.com/38112130/54462817-3f71c880-472e-11e9-9985-b88e0886eeb5.png)
As mentioned in the document you need to run this code on the VM to be able to access the VM's managed identity endpoint and .NET Framew

[2019-03-15 21:29] SaurabhSharma-MSFT commented on #26614
@SuttyHoo We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-03-15 21:29] #26614 closed

[2019-03-15 21:32] paulbatum commented on #26761
I have reread your post. In it you say:

[code]

The answer is no. The expected behavior is that code would return null unless you add an app setting with name `AzureWebJobsScriptRoot`.

When the documentation says `In a function app, the default is %HOME%\site\wwwroot` it means that if you do not specify this environment variable, the functions host will use %HOME%\site\wwwroot.

It does not mean

[2019-03-15 21:33] paulbatum commented on #26761
@DixitArora-MSFT I think this issue can be closed.

[2019-03-15 21:33] SaurabhSharma-MSFT commented on #27320
@Tarjei99 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-03-15 21:34] SnehaGunda commented on #26605
The above PR fixes the doc, we will now close this issue if you don't have further questions.

#please-close

[2019-03-15 21:35] TravisCragg-MSFT commented on #27343
@iricigor  Inbound TCP Connections from a VM attached to a Load Balancer come through the Load Balancer,The load balancer selects and passes the traffic to the VM,  and go through the NSG. This NSG only comes into play when the TCP connection is established. The NSG checks the source and destination address, and allows or denys the connection.  The Packet's source still reads as from the internet,

[2019-03-15 21:40] SaurabhSharma-MSFT commented on #27141
@kvenkazure You can refer to [Security Center pricing](https://azure.microsoft.com/en-us/pricing/details/security-center/) page to get details on which all features are supported in free and standard tiers.
![image](https://user-images.githubusercontent.com/38112130/54463417-439ee580-4730-11e9-9e36-c2afe9bb0bad.png)

[2019-03-15 21:41] Mike-Ubezzi-MSFT commented on #26605
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-15 21:41] #26605 closed

[2019-03-15 21:42] Alberto-Vega-MSFT commented on #27346
@maxstreifeneder Thanks for the feedback. What are versions of the Azure CLI and azure-cli-iot-ext  that you are using?

[2019-03-15 21:42] davidmu1 commented on #25346
#please-close

[2019-03-15 21:44] DavidBerg-MSFT commented on #15622
Yes.  When a B VM has credits it's CPU performance should be comparable to a D-Series VM (~240).  When it doesn't, it will be much less.

[2019-03-15 21:46] maxstreifeneder commented on #27346
hey @Alberto-Vega-MSFT thanks for your quick response! added a screenshot..

azure-cli is 2.0.60 and azure-cli-iot-ext is "Unknown" (followed the tutorial content, so..kinda surprised that I don't get any version information - any workaround?)

node version is 10.4.1

![image](https://user-images.githubusercontent.com/36535298/54463587-e88ee200-4773-11e9-8d54-42f8947566d4.png)

[2019-03-15 21:48] davidmu1 commented on #25128
All links work for me. Can't reproduce the issue.

#please-close

[2019-03-15 21:49] TravisCragg-MSFT commented on #27352
@cap273 AAD Connect will be required if your are syncing with AAD. If you are syncing with On-Premise, then you can use your on-premise authentication.

[2019-03-15 21:50] davidmu1 commented on #24917
The roll out of JavaScript and page contract is taking a bit of time, but should be available in all datacenters soon. Nothing to change in the article.

#please-close

[2019-03-15 21:52] p33t opened #27356 "Documentation Not Clear - Who gives permission?"
I'm new to Azure and it seems that a consumer tenant must request permission from a home tenant to use an application.  The wording of this article suggests the consumer tenant grants the permission or gives consent.  What am I missing?  TIA

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c12e139-8cb6-dd6d-2e08-89d4f22

[2019-03-15 21:58] SaurabhSharma-MSFT commented on #27333
@cmcapellan Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-03-15 22:04] Alberto-Vega-MSFT commented on #27346
@maxstreifeneder I found an issue where the version "unknown"  is being reported https://github.com/Azure/azure-iot-cli-extension/issues/67 you are welcome to comment on that one. It seems like you were able to complete the tutorial by changing the argument name?

[2019-03-15 22:04] TravisCragg-MSFT commented on #27351
@cap273 As the error says, the VPN client address pool cannot overlap with your Virtual Network Address Space.

 The example gives a virtual network address range of 10.1.0.0/24, which will span 10.1.0.1 - 10.1.0.254.The address range of your VNET is 10.1.0.0/16, which will span 10.1.0.1 - 10.1.255.254.

Make your Gateway Address Pool 10.2 or 10.3.0.0/26, and it should go through without an issue.

[2019-03-15 22:05] SteveLasker commented on #26716
@seanmck, can each node have the DOCKER_CONTENT_TRUST env be set as part of the initial deployment? Or ssh in and configure each node? Would that work?

[2019-03-15 22:06] johannordin commented on #25128
Still getting 404...

[2019-03-15 22:14] SnehaGunda commented on #26607
@stratospheres thanks for your feedback, the review code section is intended to show the key code blocks that are used to create database & collections by reading the connection string details. So we didn't show the full code instead some snippets that show the key methods to create resources.

Comparing the code blocks with the source code in GitHub I see they match. May be I am missing something

[2019-03-15 22:17] MarileeTurscak-MSFT commented on #27317
Yes, it is the minimum supported domain and forest functional level for hybrid Azure AD join. You can use Windows Server 2003 for your on-premises AD if you would like but as the article says, the users may not get the PRT.

This earlier article states that 2003 is okay but I'm not sure if all of the issues were discovered at that point.  https://docs.microsoft.com/en-us/azure/active-directory/hyb

[2019-03-15 22:17] mike-urnun-msft commented on #27350
Hi @mganeshphani Thank you for your feedback! Have you gone through below docs yet?
- [Continuous deployment for Azure Functions](https://docs.microsoft.com/en-us/azure/azure-functions/functions-continuous-deployment)
- [Deploy to Azure Functions using the Jenkins Azure Functions plugin](https://docs.microsoft.com/en-us/azure/jenkins/jenkins-azure-functions-deploy?toc=%2Fen-us%2Fazure%2Fazure-func

[2019-03-15 22:21] TravisCragg-MSFT commented on #26888
@AzureStacker It would be a good idea to run this script after every update. If new features are added to an existing installation, this script will give them the needed permissions to function.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-15 22:21] #26888 closed

[2019-03-15 22:22] rwike77 commented on #24659
@dtkuo  The videos, and all of the MVA website, have been retired. We're working on getting the videos hosted somewhere else. When the videos are back up we'll add the links back to the docs. Sorry for the inconvenience. #please-close

[2019-03-15 22:23] #24917 closed

[2019-03-15 22:25] #25346 closed

[2019-03-15 22:25] MicahMcKittrick-MSFT commented on #25128
@Alberto-Vega-MSFT can you double check the links again?

[2019-03-15 22:25] #26582 closed

[2019-03-15 22:25] #26583 closed

[2019-03-15 22:30] DCtheGeek commented on #27349
@the-bless Changes to the reference docs for PowerShell would be done in the Azure PowerShell repo. If you think that still needs updating, open an issue there (https://github.com/Azure/azure-powershell). I believe the engineer opened an issue for it, it just looks like it hasn't gotten done yet.

Since this appears to have answers your question for the service docs, I'm going to have this issue c

[2019-03-15 22:31] hmayer1980 commented on #26114
Event Based is Fine for me. I use it regularly...
I did not sign up for the "Data Flow" preview Feature yet. If you confirm that I will get the tumbling trigger dependency with it, then I will sign up for this preview, otherwise not.

[2019-03-15 22:31] #27349 closed

[2019-03-15 22:34] MarileeTurscak-MSFT commented on #27317
Hi @parabolic123 ,

Yes, it's the minimum supported domain and forest functional level, as the article states. On lower versions, the user may not get a Primary Refresh Token during Windows logon due to LSA issues.

[2019-03-15 22:35] MarileeTurscak-MSFT commented on #27317
We will now proceed to close this thread. If you have further questions feel free to tag us in the comments or continue the discussion with us on MSDN. https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

[2019-03-15 22:35] #27317 closed

[2019-03-15 22:36] SnehaGunda commented on #23907
@jasonvenema apologies for the delay, I updated the doc in the above PR. we will now close this issue if you don't have any further questions.

#please-close

[2019-03-15 22:37] glimoli commented on #27345
@MicahMcKittrick-MSFT  I'm not the owner of this scenario so I don't own this content so can't answer. Please reach out to Edgar Garcia. Thanks.

[2019-03-15 22:39] mike-urnun-msft commented on #27348
@githubavi Glad to hear it; we'll keep this issue open while we review your feedback around adding samples for `ENV` use.

[2019-03-15 22:46] mike-urnun-msft commented on #27337
Hi @cloudmelon Thank you for your feedback! We will review and update as appropriate.

[2019-03-15 22:49] SnehaGunda commented on #24460
@ijabit no, I sent a followup email to Kirill, can you also please reach out the askcosmosdb@microsoft.com alias, its monitored by a broader audience and easy to get faster response.

[2019-03-15 22:55] Mike-Ubezzi-MSFT commented on #26706
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-15 22:55] #26706 closed

[2019-03-15 22:56] Mike-Ubezzi-MSFT commented on #26857
@Anmolgan81 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-15 22:56] #26857 closed

[2019-03-15 23:11] Karishma-Tiwari-MSFT commented on #26746
@peterpogorski Would you be able to provide insights on this? Thanks. :)

[2019-03-15 23:11] seanmck commented on #26716
To set it on the initial deployment will require a property on the AKS node pool API model that we can pass through to configure VM, which is the solution we've been discussing. You can also SSH in and set it but anytime you upgrade/scale and get new nodes, you'll be back to the standard configuration, which doesn't have it.

[2019-03-15 23:13] peterpogorski commented on #26746
@aljo-microsoft where can you find the path of the Service Fabric files?

[2019-03-15 23:13] Alberto-Vega-MSFT commented on #27355
@ColbyTresness Thanks for the feedback! Adding a screenshot.

![DocumentStructure](https://user-images.githubusercontent.com/10910841/54466500-405e2680-473d-11e9-859e-45c7cb3a1b9e.jpg)

 I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-15 23:18] Karishma-Tiwari-MSFT commented on #26913
@stewartadam
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-03-15 23:25] Karishma-Tiwari-MSFT commented on #27027
@jonbeck7 Can you please help confirm on which one is correct. Thanks :)
CC: @cynthn

[2019-03-15 23:29] kgremban commented on #27355
@ggailey777, this issue is actually about the Azure Functions table of contents, which references the IoT tutorial. I went back through the file history and think you're the one who added this Functions on Linux section. Could you comment on the categorization? Thanks!

[2019-03-15 23:37] SteveLasker commented on #26716
Ahh, the scale scenario. I didn't think about that. When you scale, is there a way to define the VM configuration, or a different VM definition that has it already defined? Or, steve: _"just step back and let you figure this out"_ :)

[2019-03-15 23:42] ggailey777 commented on #27355
I’ll follow up with @colbytresness offline.

[2019-03-15 23:43] seanmck commented on #26716
Create/scale/upgrade all result in the same thing: new nodes with a standard base image, which cannot be configured. The right solution here is a property on the node pool that automatically gets flowed down to its child nodes. I don't believe it should be that expensive, so basically yeah, step back. :)

[2019-03-16 00:01] MarileeTurscak-MSFT commented on #27332
Hi @Norrch2 ,
As far as I know the attributes and sub-elements can be used interchangeably but I am assigning this issue to the content author, @davidmu1 , to review your feedback.

[2019-03-16 00:01] sandeep-ma commented on #26586
Not sure why you cannot reproduce it. Maybe you should try a deeper path like mine.

This failed:
![failed](https://user-images.githubusercontent.com/45641467/54467664-056beb00-475d-11e9-86ad-bd6c20253a2c.png)

And after a lot of troubleshooting, this worked (replaced dash with underscore):
![suceeded](https://user-images.githubusercontent.com/45641467/54467671-0bfa6280-475d-11e9-8ff1-36111bd7d99a

[2019-03-16 00:05] sandeep-ma commented on #26586
@PramodValavala-MSFT pictures posted above

[2019-03-16 00:09] MarileeTurscak-MSFT commented on #27353
@CHDAFNI-MSFT
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-16 00:12] Karishma-Tiwari-MSFT commented on #27043
@roygara Can you please help clarify on this statement. Thanks :)

[2019-03-16 00:13] MarileeTurscak-MSFT commented on #27356
@p33t
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-16 00:33] Alberto-Vega-MSFT commented on #26872
@toddgauntgs Closing this issue since we haven't heard back from you. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-16 00:33] #26872 closed

[2019-03-16 00:35] Alberto-Vega-MSFT commented on #24002
@diogodtway @Eichi87 Were you able to resolve your issue?

[2019-03-16 00:39] mganeshphani commented on #27214
Himanshu, This is a 100% repro on the premium General purpose v2 account.
talked to ASA team via help ticket. not sure if they want to fix it or
change documentation.

On Fri, Mar 15, 2019 at 1:58 PM himanshusinha-msft <notifications@github.com>
wrote:

--
Ganesh Phani Majeti.

[2019-03-16 00:42] Alberto-Vega-MSFT commented on #24002
@matdarMs please consider adding this info to the doc.

[2019-03-16 01:00] Alberto-Vega-MSFT commented on #25487
Adding User Voice link here https://feedback.azure.com/forums/321918-azure-iot/suggestions/33564925-azure-iot-hub-management-sdk-for-java

[2019-03-16 01:07] hahazeMSFT opened #27358 "Invalid Command???"
The command line below is invalid, nothing gets put into the variable `$encodedconfig`.

`$encodedconfig = (ConvertFrom-Json -InputObject $publicsettings).xmlCfg`

![PowerShell Command](https://i.imgur.com/CdZNtey.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1004d268-8e8b-a08c-f31d-5b099cb38132
* Version Indepen

[2019-03-16 01:44] mimig1 commented on #19714
Please reassign to @TheGrungeByte

[2019-03-16 02:26] peledins opened #27359 "storage account diagnostics log format missing"
it would be great to explain/show how storage account diagnostics logs look like.
e.g. what is each element, what sample values are expected, what error codes are there.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8196beea-f457-3813-6135-71c5ec2dbf05
* Version Independent ID: 119a21e3-be2f-b981-6b5d-f57c2f555c97
* C

[2019-03-16 05:07] gsacavdm commented on #12972
@thuansoldier - the products by region page is the ultimate source of truth.
C you elaborate on the inconsistency so that we can resolve it in the doc?

[2019-03-16 05:26] Luis-Palacios commented on #6144
I'm actually waiting on this one too any update @mrbullwinkle  or @felipepessoto ?

[2019-03-16 06:14] msrini-MSFT commented on #27315
@ianchin , PR has been made, changes will be reflecting shortly. Closing this issue.

[2019-03-16 06:14] #27315 closed

[2019-03-16 06:38] AmanGarg-MSFT commented on #27358
@hahazeMSFT Thank you for the feedback! We are investigating this and will get back to you shortly.

[2019-03-16 06:39] AmanGarg-MSFT commented on #27359
@peledins Thank you for the feedback! We are investigating this and will get back to you shortly.

[2019-03-16 06:40] AmanGarg-MSFT commented on #27319
We will now close the issue . Should you have any query with Specific Document please open a new ticket providing the reference to the document and tag me on the same and we will help you further on the same.

[2019-03-16 06:40] #27319 closed

[2019-03-16 06:47] xiaoharper commented on #26882
Hi Yutong, I work on Studio while this is a question for Python SDK.  Add @Josée Martens<mailto:jmartens@microsoft.com> who can help lead to the correct contact.
From: YutongTie-MSFT <notifications@github.com>
Sent: 2019年3月16日 3:45
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Harper Zhang <Xiao.Zhang@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDo

[2019-03-16 07:45] xiaoharper commented on #26757
@JeffreyCA  **Tune Model Hyperparameters**  module and **Train Anomaly Detection Model** module are both training models, they are fitting for different scenarios and typically you only need to use one of them. You can read [this article ](https://docs.microsoft.com/en-us/azure/machine-learning/studio-module-reference/machine-learning-train) for more detail.

However, the Anomaly Detection: Credit

[2019-03-16 08:02] visuazn commented on #27079
Thanks. Great

[2019-03-16 08:13] visuazn opened #27361 "serving"
Any reference for serving this in flask?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 754dd7d5-dd8b-4a75-5d79-0ba621a847cd
* Version Independent ID: 3cca3535-1c16-2da1-46c6-421cbf808bc3
* Content: [Tutorial: Run TensorFlow model in Python - Custom Vision Service](https://docs.microsoft.com/en-us/azure/cognitive-servi

[2019-03-16 08:48] SychevIgor opened #27362 "Add a link to a Compliance report directly to an article body"
It's just an idea, how to save time for readers who specifically interesting in Compliance questions.
If you will add link https://gallery.technet.microsoft.com/Overview-of-Azure-c1be3942 to this section https://docs.microsoft.com/en-us/azure/aks/intro-kubernetes#regulatory-compliance it will significantly reduce out time to google it or read closed issues to this article.

---
#### Document Detai

[2019-03-16 09:48] iricigor commented on #27343
OK, thank you @TravisCragg-MSFT.

[2019-03-16 09:48] #27343 closed

[2019-03-16 09:48] iricigor commented on #27347
OK, thank you @TravisCragg-MSFT.

[2019-03-16 09:48] #27347 closed

[2019-03-16 09:52] iricigor commented on #27322
That is not the question I asked. If I have a contributor role on a VM, then yes, I will have read access on that VM, not on other objects.

I need read access also on **_Microsoft.Compute/locations/runCommands_**, and I do not know where to find that object.

[2019-03-16 10:34] SychevIgor commented on #15115
Will be nice to see some progress here. Microsoft advertising Azure DevOps as a best in class tool, but best in class tool also must have best in class documentation (at least from outside of Microsoft perspective)

[2019-03-16 11:28] djaus2 commented on #23264
Thanks Kelly for the update.
I like the Quickstart using a given Az VM image. Good idea.
The Windows VM provisioning making it clear that the container can be Windows or Linux clarifies things. Also the notes bout Moby for IoT-Core are useful.
Yes the Virtualisation notes are comprehensive.
So this thread can be  closed.
David Jones

From: Kelly Gremban <notifications@github.com>
Sent: Friday, Mar

[2019-03-16 11:33] AmanGarg-MSFT commented on #27361
@visuazn Thank you for the question! We are investigating this and will get back to you shortly.

[2019-03-16 13:52] mlhoop commented on #15115
@SychevIgor good point! I think this particular doc will have a replacement at least next week. ill check back in once i can provide a link.

[2019-03-16 14:09] mattbriggs commented on #27219
@bganapa Thanks! updated.

[2019-03-16 14:37] carlfranklin opened #27364 "installing npm bundle fails"
Error in plugin 'webpack-stream'

Followed instructions to the letter, even running cmd as admin.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7ed2246-c5d4-1403-2f79-b76e48a74d5f
* Version Independent ID: 29a25974-0d25-e6f2-e05e-bf7d54753f85
* Content: [Get started with the Bing Speech Recognition API in JavaScript]

[2019-03-16 14:57] ytthuan opened #27365 "Read Batch Text: The Bounding box is returning in Inch unit instead of pixel which is causing the exception JsonReaderException: Input string '5.6703' is not a valid integer. Path 'recognitionResults[0].lines[0].boundingBox[0]', line 1, position 156."
https://docs.microsoft.com/en-us/azure/cognitive-services/computer-vision/quickstarts/csharp-hand-text
this article mentioned that the output is returning the bounding box in pixel unit which is ok, but actually the output from BATCH READ TEXT is returning a double value in Inch unit.

"page": 2,
"clockwiseOrientation": 0.01,
"width": 8.2633,
"height": 11.68,
"unit": "inch",
"lines": [
{
"bounding

[2019-03-16 15:00] ytthuan commented on #27365
https://docs.microsoft.com/en-us/azure/cognitive-services/computer-vision/quickstarts/csharp-hand-text
this article mentioned that the output is returning the bounding box in pixel unit which is ok, but actually the output from BATCH READ TEXT is returning a double value in Inch unit.

"page": 2,
      "clockwiseOrientation": 0.01,
      "width": 8.2633,
      "height": 11.68,
      "unit": "inch"

[2019-03-16 15:11] MicahMcKittrick-MSFT commented on #27354
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-16 15:11] jaredlang opened #27366 "errored out when creating blob container"
It appeared when creating the images and thumbnails from bash. So I created them on portal UI. The storage containers seem good since uploading files works.
When testing the site, got this error:
StorageError: One of the request inputs is out of range.
RequestId:8a4f0ec0-b01e-0084-5f0a-dccd39000000
Time:2019-03-16T15:13:44.3520309Z
    at Function.StorageServiceClient._normalizeError (D:\home\site

[2019-03-16 15:33] SuttyHoo commented on #26614
Thanks. Yes. You are correct.
Could you maybe add. Explicit "dot net core not supported"... folk like myself missed the subtlety that 4.61 .net framework and core are not im the same bucket. VS 2017 defaults to core, so if one is a newbee, one heads off down the wrong path.

Would be helpful.

Thank you.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Saurab

[2019-03-16 17:20] ch81 commented on #25983
@CelesteDG But to use assets as-is, I can't find a "Sign Up with Microsoft" asset. That's why I asked whether I can get the "Sign In with Microsoft" and edit the text. Please help.

[2019-03-16 17:25] CelesteDG commented on #25983
@ch81 Hello. The official text is “Sign in with Microsoft”. We are not allowed to edit it.

[2019-03-16 17:34] AmirGeorge commented on #26263
@srilekha82 the fix has been released, please pull the latest container image.

[2019-03-16 17:52] ch81 commented on #25983
@CelesteDG How do you recommend handling the "Sign Up" ?

[2019-03-16 17:57] mikerichie86 opened #27368 "Multiple Tenants from single forest"
This feature is great but has a glaring feature missing, we operate multiple on-prem AD's that sync to multiple Azure AD's
For example we have a single AD domain that hosts aroung 200 schools. Each school has either its own Office 365/AAD tenant or shares a tenant with other partner schools. We operate about 20 AD Connect servers to support this and have done for years successfully using a combina

[2019-03-16 18:51] JeffreyCA commented on #26757
Thanks for the clarification.

[2019-03-16 18:51] #26757 closed

[2019-03-16 19:44] wandhydrant commented on #26014
I kept a VM stopped to be able to answer such questions :-)
[code]
I just re-installed LIS, which gave me a minor update from 4.2.8.1 to 4.2.8.2. Same result, Xorg still segfaults.

[2019-03-16 20:17] hglkrijger opened #27369 "Very much out of date"
Please update this, almost every single step requires correction.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 681e10a1-05d3-5761-2afd-42602a7efecf
* Version Independent ID: f72e21b1-3530-8554-f1f1-fc66b222a485
* Content: [Real-time data visualization of sensor data from your Azure IoT hub – Web Apps](https://docs.mi

[2019-03-16 20:18] bramvdklinkenberg commented on #26716
@Karishma-Tiwari-MSFT at the company I work at we are looking into using Aqua (image scanning) in combination with Azure CR. It is nice that you can sign the images but doesn't prefend using (unsigned) images from other registries.
The documentation "You then only permit AKS to deploy signed images" makes it look like this option is possible in AKS. It would be nice to enforce signed images from A

[2019-03-16 20:28] WatersJohn commented on #24663
This unfortunately is still an issue in March; the $HOME workaround is helpful.

[2019-03-16 22:02] areddish commented on #27361
@visuazn Yes - if you chose DockerFile as the export type it will give you a package that will contain code in the app directory that will load and host a model using Flask.

Specifically take a look at app\app.py and app\predict.py after you extract the zip file.

[2019-03-16 22:47] HJToland3 commented on #18388
@marcusmills, the "Business Critical" pricing tier has been renamed the "Premium" pricing tier, and the first note at the top of the page indicates that the Premium pricing tier is required for online migrations. Please let me know if you have additional questions. Thanks!

[2019-03-16 22:59] HJToland3 commented on #21319
@J-E-C, seeking additional information and will make updates appropriately based on feedback from the DMS PM. Thanks!

[2019-03-16 23:36] J-E-C commented on #21319
@craigg-msft I assigned the sysadmin role to the user on the source SQL server and the migration finished without any issue afterwards. I don't know if the sysadmin role should not be required or if it's just a matter of incorrect documentation. @HJToland3 if you need any more information from me let me know. Thanks!

[2019-03-16 23:37] kknight-valorem opened #27370 "move Premium_LRS from azsnapshot to azsnapshotconfig"
$snapshotConfig =  New-AzSnapshotConfig `
  -SourceUri $disk.Id `
  -OsType Windows `
  -CreateOption Copy `
  -Location $location `
  -SkuName Premium_LRS

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ca47ab5-b553-c0e1-5736-cf4d9081d139
* Version Independent ID: bb85e0c9-3e55-749d-769e-7953479dccda
* Content: [Creat

[2019-03-17 00:27] xujing-ms commented on #27346
I just followed the tutorial as well and had the same CLI issue where the command "--hub-name" in the serviceconnection string should be "--name"

[2019-03-17 01:06] TomArcherMsft commented on #21732
@rajnemani Did the response by @grayzu address the issue?

[2019-03-17 01:20] AmanGarg-MSFT commented on #27364
@carlfranklin Thank you for the feedback! We are investigating this and will get back to you shortly.

[2019-03-17 01:22] AmanGarg-MSFT commented on #27365
@ytthuan Thank you for the feedback! We are investigating this and will get back to you shortly.

[2019-03-17 01:24] AmanGarg-MSFT commented on #27366
@jaredlang Thank you for the feedback! We are investigating this and will get back to you shortly.

[2019-03-17 01:25] Grace-MacJones-MSFT commented on #26874
Hi @nils-a, thanks for your patience. I have assigned the issue to the content author to evaluate and update the documentation with steps on how to set up Azure Key vault reference during local development.

[2019-03-17 01:28] AmanGarg-MSFT commented on #27368
@mikerichie86 Can you please provide the url of the document you are referring to so that we can help you better.

[2019-03-17 01:30] AmanGarg-MSFT commented on #27369
@hglkrijger Thanks for bringing this to our attention! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-17 01:32] AmanGarg-MSFT commented on #27370
@kknight-valorem Thank you for the feedback! We are investigating this and will get back to you shortly.

[2019-03-17 02:06] Grace-MacJones-MSFT commented on #26884
Hi @Sheikh-Aman, at what step are exactly in the tutorial are you seeing your directory listing? Can  you please share your screenshots with us?

[2019-03-17 02:18] dipesharora opened #27371 "Load Balancer not associated to Availability Set"
By following these steps, AKS cluster is deployed successfully with kubenet plugin and custom subnet though, the Load balancer is not associated to the Availability Set or the VMs. I verified that when creating the AKS cluster without custom subnet using kubenet plugin, the Load balancer is associated to the Availability set correctly.

---
#### Document Details

⚠ *Do not edit this section. It is

[2019-03-17 03:37] nabhishek commented on #14728
This could be the error if the output path already exists (considering the path specified in the code for the source is correct). Please try specifying another unique output path or append pipeline run id (stamp) in the filename.

[2019-03-17 03:39] nabhishek commented on #18415
@jason-j-MSFT @ShahRukhK We only support 64bit version since version 3.x.

[2019-03-17 03:46] nabhishek commented on #18415
Updated doc.
#please-close

[2019-03-17 04:18] xtianus79 opened #27373 "phrase list article does not pull back lead welder only welder"
azure luis.ai simple phrase list article
https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-quickstart-primary-and-secondary-data#feedback

Lead welder never comes back in the entitites portion of the json.  It is only welder type job. with a score for 45%

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-03-17 07:15] mikerichie86 commented on #27368
Hi
Sorry i forgot to add it. Its :
https://docs.microsoft.com/en-us/azure/active-directory/hybrid/tshoot-connect-sso

[2019-03-17 07:27] omerlh opened #27374 "2 suggestions for Login using AAD"
Hey
The docs are really good, but I wanted to suggest 2 missing samples.
First - granting access to an AD group instead of a specific user. I was able to achieve that using:
[code]
Where the `$group` is the object id of the group on AD. This is not even documented on AZ documentation (actually, `az role assignment create` has no samples at all), so it could be helpful to document it here just to k

[2019-03-17 07:35] EwaldStricker commented on #10987
@tfizmac - can you provide a link to the information? tia kr

[2019-03-17 07:48] RohitMungi-MSFT commented on #27373
@xtianus79 Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-03-17 08:48] AjayKumar-MSFT commented on #27073
@nzthiago, Much appreciate your suggestions on linking the diagnostic logging document, thanks a lot for your feedback. Your feedback has been shared with the content owner (@cephalin) for further review.

[2019-03-17 10:49] fgun commented on #25793
I get same deployment error and grimurjonsson's command doesn't work for me.

[2019-03-17 12:08] juergs commented on #26176
Disappointing: after resolving the "DEC" and "round" - errors, stucking at:

In file included from C:\Users\js\Documents\Arduino\libraries\AzureIoTUtility\src/azure_c_shared_utility/lock.h:17:0,
                 from C:\Users\js\Documents\Arduino\libraries\AzureIoTUtility\src/AzureIoTUtility.h:7,
                 from C:\Users\js\Documents\Arduino\libraries\AzureIoTHub\src/AzureIoTHub.h:7,