[2022-05-12 06:30] Givary commented on #92632
@kyk199x Updated the article as per your feedback, thank you for pointing it.

[2022-05-12 06:30] #92632 closed

[2022-05-12 06:40] shwetamathur7 commented on #92738
@DishanRajapaksha Thank you for your contribution to enhance the documentation. I have updated the changes. Changes will be reflected in the documentation after author's approval.

[2022-05-12 06:51] dgdel04 opened #92796 "Fault domain issue."
The fault domain count of the VMSS cannot exceed that of the host group.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5f875ed-eee6-c56e-4533-35aed7f633fb
* Version Independent ID: ab279753-f864-54ac-1439-6f87e9f1b99d
* Content: [Deploy Azure dedicated hosts - Azure Virtual Machines](https://docs.microsoft.com/en-us/

[2022-05-12 06:58] SreejaBhattacharya-MSFT commented on #92796
Hi @dgdel04 , thanks for reaching out. Let me have a look at this and get back to you.

[2022-05-12 07:11] PriyankaRudramaina commented on #92759
@DirectorEngineeringDbDriven,

Upon a repro on this
az ad sp show --id 3bbc12e0-64ad-4f3f-a03e-cf78043f30d7

When use az ad sp show --id xxxxx to get the details of a service principal, the "passwordCredentials": [] is always null.
Seems like as the portal says clearly that the password could only be retrieved only after the creation.

Same has been discussed here too: https://docs.microsoft.com/e

[2022-05-12 07:11] #92759 closed

[2022-05-12 07:40] naokitakeda14 opened #92797 "Checking and modifying the statement of Can turn off SSL"
[Enter feedback here]
Hi,
Regarding the statement in the comparison table, Can turn off SSL for Flexible Server is ”No”.
However, Can turn off SSL for Flexible Server is possible by require_secure_transport from server parameter.

Please kindly check and modify this statement.

Thank you,

Naoki
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2022-05-12 07:43] andybuk opened #92798 "Set-AzVMExtension Example"
Hi, the example for Set-AzVMExtension  on a VM appears to be missing a }  on line 12

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02cd947d-30c3-2551-4dd6-9762db6869f7
* Version Independent ID: 4e5a974c-686c-2005-c036-55dac3107573
* Content: [Monitor performance on Azure VMs - Azure Application Insights - Azure Monito

[2022-05-12 08:07] SwathiDhanwada-MSFT commented on #92798
@andybuk Thanks for your comment. We will review the issue and get back to you shortly.

[2022-05-12 08:08] SnehaAgrawal-MSFT commented on #92794
@fslefevre78 Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-12 08:12] SwathiDhanwada-MSFT commented on #92769
@bppn Thanks for your comment. We will review the issue and get back to you shortly.

[2022-05-12 08:19] Tolits0401 opened #92799 "Asking for updated document regarding Azure site recovery for Azure Stack hub"
Hello,

I would like to ask for an updated documentation/guide regarding the Azure site recovery for Azure stack hub since this one seems to be outdated already comparing on the current azure portal ASR module. I've successfully done the replication from Azure stack hub environment for windows VM but it falls under the VMware module which seems to be weird.

Thank you and Regards,

---
#### Docume

[2022-05-12 08:30] SnehaAgrawal-MSFT commented on #92591
@site-speed Thanks for reaching here! You might refer to these doc links might be helpful:
https://docs.microsoft.com/en-us/powershell/module/az.websites/update-azstaticwebapp?view=azps-7.5.0
https://docs.microsoft.com/en-us/powershell/module/az.websites/get-azstaticwebapp?view=azps-7.5.0

[2022-05-12 09:01] ShaikMaheer-MSFT commented on #92774
@afogarty85 Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-05-12 09:03] ShaikMaheer-MSFT commented on #92773
@abhijit-tilak Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-05-12 09:13] lonevvolf opened #92801 "Case sensitivity issue"
The article states that:

My testing shows that this is not the case - exclusions, at least for RequestArgNames are acting as case sensitive matches.  Perhaps this is a bug?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4cf0428-ac89-d265-d2c2-0a0d932c99c9
* Version Independent ID: 8200ffa3-22ec-39a8-6227-ed1cbe9043a4

[2022-05-12 09:14] AnuragSharma-MSFT commented on #92797
@naokitakeda14 Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-05-12 09:36] Venkateshdodda-MSFT commented on #92680
@o-l-a-v Since the issue reported on this github #92652  the same closing this one you can track the updates on the other thread.

[2022-05-12 09:36] #92680 closed

[2022-05-12 09:40] skrabbe001 commented on #91908
asd

[2022-05-12 10:17] AbbyMSFT commented on #92766
Hi @alpinedelight,
Thank you for pointing this out. I will take a look to see if I can improve the images, and I'll let you know as soon as they are updated.
Thank you for your dedication to our docs!
Thanks,
Abby

[2022-05-12 10:19] ramuvr opened #92803 "Public access required"
Step 3 (Select Azure PostgreSQL databases to back up) requires the PostgreSQL to have public access required. may be worth adding the limitation that 'private endpoints are not supported yet'  somewhere here so its captured in the design.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d941a213-7706-3e46-9cc7-cbab9f68f0

[2022-05-12 10:25] SadiqhAhmed-MSFT commented on #92803
@ramuvr Thanks for the feedback. We will review and update as appropriate.

[2022-05-12 10:30] sreekzz commented on #92563
@aysark @KranthiPakala-MSFT
Apurba is working on this issue. Will follow-up with him get the updates.

[2022-05-12 11:05] J1Yesid opened #92804 "Suggestions for this doc"
For subchapter:
Convert the virtual disk to a fixed size VHD

Please note that as is described
[https://docs.microsoft.com/en-us/previous-versions/azure/virtual-machines/windows/sa-upload-generalized](https://docs.microsoft.com/en-us/previous-versions/azure/virtual-machines/windows/sa-upload-generalized)
It exist s the command: **Add-AzVhd**
but this one does not create the VHD disk marked as Hype

[2022-05-12 11:07] SaiKishor-MSFT commented on #92741
@khdownie Can you please look into this?

[2022-05-12 11:10] cringegnere commented on #34167
(Y) Same

Page is still there and looks like total phishing

[2022-05-12 11:11] ApeironThanatos commented on #92765
Hi, thank you for your comment. I just want to see the docs updated. I had also verified the portal link worked fine. This issue is just for getting the docs updated. Someone updated the hash but not the link.

[2022-05-12 11:14] CHEEKATLAPRADEEP-MSFT commented on #92789
@abhaybhangale Could you please help us where exactly you are seeing - Global Parameters page shows a deprecation notice?

Please share the screenshot.

[2022-05-12 11:28] Vikram1988 commented on #92765
@ApeironThanatos we have pushed the changes in docs which will be live in next 12 hours or so

[2022-05-12 11:44] bvdboom opened #92805 "Scope property of policy assignment"
Why is `scope` hardly mentioned here as a property of a policy assignment? It is also used in the example policy assignments in the [Azure Landing Zone (Bicep)](https://github.com/Azure/ALZ-Bicep/tree/main/infra-as-code/bicep/modules/policy/assignments/lib/policy_assignments) example implementation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2022-05-12 11:59] leoakin1 opened #92806 "Purview"
[Enter feedback here]
I have had the privilege of using this product and I dare say that it is really underrated at the moment, its scan capabilities across multiple sources and sinks is so wide, it gives a clear view of linage and other core elements by scanning across regions, giving a centralized view of an organization's digital estate.
I am yet to find an issue in the product, though it has s

[2022-05-12 12:19] PriyankaRudramaina commented on #92804
Hi @J1Yesid,

Thank you for your feedback. We will investigate and update the thread further.

[2022-05-12 12:33] #92805 closed

[2022-05-12 12:34] ElazarK commented on #92708
#please-close

[2022-05-12 13:02] #91655 closed

[2022-05-12 13:14] Willemvbr opened #92808 "Article states that GUID for ISV will become available in second half 2022. Is there a more specific date yet when this will be available?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db44bc8f-a6d7-8651-165d-929230435633
* Version Independent ID: c7847825-9d79-419e-a177-aca5872f1431
* Content: [Azure customer usage attribution](https://docs.microsoft.com/en-us/azure/marketplace/azure-partner-customer-usage-attribution#feedback)
* C

[2022-05-12 13:16] Dickson-Mwendia commented on #92587
#reassign @Dickson-Mwendia

[2022-05-12 13:23] richard-artes opened #92809 "Enforced/Audit mode"
What is Mode: Enforced/Audit and how do you audit password protection in Azure AD?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c58c903b-778e-e1d9-31c3-321a6fd0050f
* Version Independent ID: 9ee47301-0c8d-26ff-1deb-6d309aef2f97
* Content: [Password protection in Azure Active Directory](https://docs.microsoft.com/en-u

[2022-05-12 14:00] RyanHill-MSFT commented on #92724
@mrtrombone, I ran back through the tutorial and didn't have password stripped out.

![image](https://user-images.githubusercontent.com/47189704/168092964-0b6dc306-3d51-4abe-b66a-dd6b12f68dc8.png)

[2022-05-12 14:05] RegalTanks opened #92810 "Out of date"
[Enter feedback here]
This page needs updating as the information regarding setting up Github secret - cannot fid this on Github

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9d44818-c536-ac44-327b-7f83584ce104
* Version Independent ID: 86cdefdc-a6a6-8e3d-c4dc-faa7758ea170
* Content: [Reset deployment tokens in Azure

[2022-05-12 14:07] #92810 closed

[2022-05-12 14:12] dknappettmsft commented on #55987
Closing this as it's not for a specific issue with the article. For product feedback, please use the techcommunity site for Azure Virtual Desktop: https://techcommunity.microsoft.com/t5/azure-virtual-desktop/idb-p/AzureVirtualDesktop.  This is provided at the bottom of each article.

#please-close

[2022-05-12 14:12] #55987 closed

[2022-05-12 14:52] akshaymatmicrosoft commented on #85704
Is anyone looking into this issue which was opened more than 4.5 months ago.?

[2022-05-12 15:04] BillArmstrong opened #92812 "Incorrect value documented for the 'interfaceId' property."
The interfaceId property documented in the table in the Device Properties section includes the following text in the description.

`This property is set at 'dtmi:azure:iot:deviceUpdateModel;1' for device using DU agent version 0.8.0.`

This value is not correct. It should be `dtmi:azure:iot:deviceUpdate;1`. NOTE that the value shown in the example located under the table IS correct.

---
#### Docu

[2022-05-12 15:04] gcaroli opened #92813 "Netskope parser links give a 404 error"
The links for the Netskope parser and function code all return a 404 error and it appears the code has been removed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d6b717dc-2897-f89c-5d96-d517a0965286
* Version Independent ID: 0827b9a2-1b47-f517-a9c5-2076e57f581e
* Content: [Find your Microsoft Sentinel data connector]

[2022-05-12 15:05] bhpat commented on #92717
@SadiqhAhmed-MSFT  - When you attempt to enable replication without User Access Administrator access, the error message that gets prompted is to a KeyVault that is stored under the Azure Migrate resource group. This leads customers to believe the access needs to be granted at the RG level. We either need to improve the document to explicitly say NOT to assign to RG or improve error handling.

[2022-05-12 15:07] seesharprun commented on #92582
#assign:seesharprun

[2022-05-12 15:07] #92582 closed

[2022-05-12 15:16] YairoR commented on #92739
+1 - I'm having the same issue

[2022-05-12 15:28] #82654 closed

[2022-05-12 15:29] seesharprun commented on #82654
We have updated the article to indicate that code samples are available in both .NET and Java. That change should be live soon. No too long after that, we will publish a second update that includes the Java code samples.

Thank you for your contribution @dgpoulet!

[2022-05-12 15:51] SadiqhAhmed-MSFT commented on #92717
@Vikram1988 To comment on this.

[2022-05-12 15:59] mike-urnun-msft commented on #92496
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-05-12 15:59] #92496 closed

[2022-05-12 16:22] seesharprun commented on #92454
Thank you @ealsur!

@christopinka-vp, it looks like a couple of links were shared a few days ago that points to Java code samples for Azure Cosmos DB. If you need further guidance, please clarify here or open a new issue.

#please-close

[2022-05-12 16:22] #92454 closed

[2022-05-12 16:26] seesharprun commented on #80844
#assign:seesharprun

[2022-05-12 16:30] #84043 closed

[2022-05-12 16:33] seesharprun commented on #81973
@timsander1 any update on this?

[2022-05-12 16:36] seesharprun commented on #88999
Thanks @benhsu for your feedback!

I think this article has been updated per your feedback two months ago, but no-one ever closed this issue. I'm seeing updates addressing the issues you described so I will go ahead and close this issue.

Thanks again

#please-close

[2022-05-12 16:36] #88999 closed

[2022-05-12 16:46] vhorne commented on #87898
added note to known issues to indicate that any issue that applies to Standard also applies to Premium.
#please-close

[2022-05-12 16:46] #87898 closed

[2022-05-12 16:53] lunar87 commented on #88133
Not clear to me what the changes will be, couldn't find the PR, to be clear though, need to replace the existing statement:
"Management group scopes aren't supported for Microsoft Customer Agreement accounts at this time."
with
"Management groups aren't currently supported in Cost Management features for Microsoft Customer Agreement subscriptions."

[2022-05-12 16:56] MarileeTurscak-MSFT commented on #92809
@richard-artes
Thanks for your feedback! We will investigate and update as appropriate.

[2022-05-12 17:09] seesharprun commented on #92301
#reassign:seesharprun

Thanks for reporting this issue @htalluri9. This seems to be a bug with the product rather than the docs. We will check to see if we can replicate this behavior.

#label:"product-bug"

[2022-05-12 17:10] sukumarraju opened #92816 "Microsoft Cloud Red Teaming"
[Microsoft Cloud Red Teaming](https://gallery.technet.microsoft.com/Cloud-Red-Teaming-b837392e) is redirecting to the 'Browse for the code samples page'. The URL needs an update. Thanks.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9df4415d-d6fb-cc88-1c73-e871aff7d026
* Version Independent ID: f

[2022-05-12 17:12] seesharprun commented on #92301
I just checked this documentation out by running ``az cosmosdb update``. If you have the preview installed, you will get a message indicating that the preview modifies the behavior of this command before it completes successfully. If you forget to install the preview, you won't see an error message as the command still works, it just won't enable that capability. I was unable to reproduce your iss

[2022-05-12 17:12] #92550 closed

[2022-05-12 17:17] seesharprun commented on #90468
#assign:seesharprun

[2022-05-12 17:18] abhaybhangale commented on #92789
Thanks for the quick response.  This is what i was talking about:
![image](https://user-images.githubusercontent.com/4790179/168132038-cc404956-520f-4372-976d-a0dc81b713a6.png)

[2022-05-12 17:20] seesharprun commented on #90468
Thank you for your input @chaisen2006! Today, the migration tools describe on docs.microsoft.com all focus on migrating data to Azure Cosmos DB. None of the documented tools migrates stored procedures, user-defined functions, or triggers.

As we don't have any action item here in docs, I will close this issue. #please-close

I recommend that you reach out to the product team using the [Azure Cosmo

[2022-05-12 17:20] #90468 closed

[2022-05-12 17:26] KranthiPakala-MSFT commented on #92736
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2022-05-12 17:34] yairzarka opened #92817 "Add remote update to sensor update possibilites"
Hey,
I think we should link/refer to remote update as one of the updates

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d78736f-0dab-a3bc-3763-b3d924f6de49
* Version Independent ID: 74383f82-f1fa-348d-2ec3-fa5a68ec515c
* Content: [Update OT system software - Microsoft Defender for IoT](https://review.docs.microsoft.co

[2022-05-12 17:36] msmbaldwin commented on #92816
I updated this is all baselines (including API management). The links now point to https://download.microsoft.com/download/C/1/9/C1990DBA-502F-4C2A-848D-392B93D9B9C3/Microsoft_Enterprise_Cloud_Red_Teaming.pdf.  Thanks for the catch! #please-close

[2022-05-12 17:36] #92816 closed

[2022-05-12 17:36] KranthiPakala-MSFT commented on #92684
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2022-05-12 17:37] ShubhamGargCTH commented on #72019
Is this still being fixed? We still don’t have option to specify valid audiences.

[2022-05-12 17:41] b-hchen commented on #92665
@mark-beaupre - Let's move this to internal email for discussion with Dev. and SRE.  Closing this issue for now.

#please-close

[2022-05-12 17:41] #92665 closed

[2022-05-12 17:42] msmbaldwin commented on #92122
Hi @6107psira. Per the note at the top of the baseline, "Controls not applicable to Azure Functions, and those for which the global guidance is recommended verbatim, have been excluded."  IM-6 is one of those controls.

To see how Azure Functions completely maps to the Azure Security Benchmark, see the [full Azure Functions security baseline mapping file](https://github.com/MicrosoftDocs/SecurityB

[2022-05-12 17:42] #92122 closed

[2022-05-12 17:43] seesharprun commented on #90827
@dgpoulet, thank you for your feedback!

You are correct, multiple examples on this page aren't used the simplest and easiest to understand syntax with the latest SDK  version. This is a bigger update so stay tune for changes coming to this article.

#reassign:seesharprun

[2022-05-12 17:46] SadiqhAhmed-MSFT commented on #92803
@ramuvr Appreciate your patience in this matter.

Backup of Azure PostgreSQL servers with Private endpoint enabled is currently not supported. This is covered under the section "Feature considerations and limitations" in the support matrix doc - https://docs.microsoft.com/en-us/azure/backup/backup-azure-database-postgresql-support-matrix#feature-considerations-and-limitations

The doc you are refe

[2022-05-12 17:46] VitaliyKurokhtin commented on #91401
Default timeout is 5 minutes, indeed.

[2022-05-12 17:50] b-hchen commented on #92747
@[si-chan](https://github.com/si-chan) -
In discussion with our product team, we don’t currently plan to include the requested information in the public documentation.  If you are a Microsoft or NetApp internal team member and would like to continue this discussion, feel free to connect via email [juliec@netapp.com](mailto:juliec@netapp.com) or [b-hchen@microsoft.com](mailto:b-hchen@microsoft.com)

[2022-05-12 17:50] #92747 closed

[2022-05-12 18:06] ChaitanyaNaykodi-MSFT commented on #92562
Hello @jeffsilverm, we will now proceed to close this issue out. Please tag me in your response if you have any additional questions. Thank you!

[2022-05-12 18:18] nickludwig commented on #92318
@mrkeiths, thanks for bringing this up. I see what you're saying, but I think there's two different contexts to consider here. The first is AAD B2C, which does not support confidential clients for ROPC. This is correctly identified in the B2C doc (1st image you listed above). The second context is non-B2C AAD, where confidential client ROPC is _technically_ supported but not by any of the official

[2022-05-12 18:26] ChaitanyaNaykodi-MSFT commented on #92751
Hello @nbachm,

Unfortunately, we currently don't have a quick solution for measuring RuleCollectionGroups size when stored in our system.
You can estimate this value by saving to disk the "ruleCollections" section content.
In order to get the most accurate estimation, make sure the following is true:

1. Each line of the JSON ends with a single \r\n.

2. JSON starts in indentation level 0

3. Eac

[2022-05-12 18:26] #92751 closed

[2022-05-12 18:28] nickludwig commented on #92417
@rbeltman - Yup, was going to recommend you check that link out. Is your question answered? If so, I'll go ahead and close the issue.

[2022-05-12 18:34] JamesTran-MSFT commented on #92641
@nkumars
I just wanted to check in and see if you were able to review my previous comment?

[2022-05-12 18:35] meenasaravanan02 commented on #50469
Hi @RajeshKaki, We have included the information provided by jakaruna in the document in the PR - https://github.com/MicrosoftDocs/azure-docs-pr/pull/198056
#please-close this issue

[2022-05-12 18:35] #50469 closed

[2022-05-12 18:36] tomvcassidy commented on #89640
Hi @racchen! Sorry about the delayed response. Just wanted to confirm that we checked with the product team, and SFMC doesn't support custom OS images. The product team is planning to implement it, but there is no timeframe on that at the moment. Sorry again for the delay. If you can have additional questions, you can comment here again and we'll reopen this issue. #please-close

[2022-05-12 18:36] #89640 closed

[2022-05-12 18:39] seesharprun commented on #90827
We have just made the changes. Expect to see them live very soon!

Thank you.

[2022-05-12 18:41] msmbaldwin commented on #87025
Hi, @willvelida. We just went through and fixed all the broken links in the baseline, including these two. You can verify at https://docs.microsoft.com/en-au/security/benchmark/azure/baselines/container-registry-security-baseline?#im-2-manage-application-identities-securely-and-automatically.

Thanks for pointing this out -- we appreciate it! #please-close

[2022-05-12 18:41] #87025 closed

[2022-05-12 18:41] nickludwig commented on #92712
Hey @SunandaChowdhary - were you using an SDK for this? The `msgraph_host` field is returned when providing the extra query parameter `instance_aware=true`. Neither of these are part of the OpenID standard, so this would be additional behavior supported by MSAL. I don't think I'm the right person to field this question, but if you give me some more context I can point you towards someone who can h

[2022-05-12 18:43] msmbaldwin commented on #92081
Hi, @gysiedebruyn. We just went through and fixed all the broken links in the baseline, including this one. You can verify at https://docs.microsoft.com/en-us/security/benchmark/azure/baselines/site-recovery-security-baseline#pa-1-protect-and-limit-highly-privileged-users

Thanks for pointing this out -- we appreciate it! #please-close

[2022-05-12 18:44] msmbaldwin commented on #92079
Hi, @gysiedebruyn. We just went through and fixed all the broken links in the baseline, including this one. You can verify at https://docs.microsoft.com/en-us/security/benchmark/azure/baselines/site-recovery-security-baseline#im-1-standardize-azure-active-directory-as-the-central-identity-and-authentication-system

Thanks for pointing this out -- we appreciate it! #please-close

[2022-05-12 18:44] #92079 closed

[2022-05-12 18:46] kprunella commented on #92721
This is a known issue and recommended patch management is provided to customers at time of onboarding. Customers should be applying the required reboot patch which they are provided documented instructions for download and install of a patch that must be done as soon as they have initialized the HSMs. Please don’t miss this one as a hang scenario will delay for roughly 2 to 4 days if we have to ph

[2022-05-12 18:46] msmbaldwin commented on #86812
Hi @miltek2. We just fixed all the broken links in the Azure Security Benchmark, including these two.  You can verify at https://docs.microsoft.com/en-us/security/benchmark/azure/security-controls-v3-privileged-access

Thanks for notifying us -- we appreciate it! #please-close

[2022-05-12 18:46] #86812 closed

[2022-05-12 18:47] msmbaldwin commented on #92083
Hi @gysiedebruyn]. We just fixed all the broken links in the Azure Security Benchmark, including these two.  You can verify at https://docs.microsoft.com/en-us/security/benchmark/azure/baselines/site-recovery-security-baseline#ns-3-establish-private-network-access-to-azure-services

Thanks for notifying us -- we appreciate it! #please-close

[2022-05-12 18:47] #92083 closed

[2022-05-12 18:48] msmbaldwin commented on #92451
Hi @joejames12. We just fixed all the broken links in the Azure Security baselines, including this one.  You can verify at https://docs.microsoft.com/en-us/security/benchmark/azure/baselines/defender-for-identity-security-baseline#pa-6-use-privileged-access-workstations

Thanks for notifying us -- we appreciate it! #please-close

[2022-05-12 18:48] #92451 closed

[2022-05-12 18:50] msmbaldwin commented on #91836
Hi, @candelit. The Azure Security Benchmark v3 as recently published to https://docs.microsoft.com/en-us/security/benchmark/azure/overview; the Bastion baseline will be updated to ASB v3 shortly, at which time this feedback will be addressed.  Thank you! #please-close

[2022-05-12 18:50] #91836 closed

[2022-05-12 18:55] msmbaldwin commented on #85202
Hi, @porkamizeria. This paragraph was recently updated to no longer reference either CLI or PowerShell. It now reads:

Thank you! #please-close

[2022-05-12 18:55] #85202 closed

[2022-05-12 18:55] #90827 closed

[2022-05-12 18:56] msmbaldwin commented on #53179
Please let us know if this is still an issue. #please-close

[2022-05-12 18:56] #53179 closed

[2022-05-12 18:57] msmbaldwin commented on #71566
Please let us know if this is still an issue. #please-close

[2022-05-12 18:57] #71566 closed

[2022-05-12 18:58] msmbaldwin commented on #71624
Please let us know if this is still an issue. #please-close

[2022-05-12 18:58] #71624 closed

[2022-05-12 19:00] msmbaldwin commented on #71765
This feedback references a version of the Azure Key Vault baseline that no longer exists (v1).  The v3 AKV baseline will be published shortly. Thank you! #please-close

[2022-05-12 19:00] #71765 closed

[2022-05-12 19:00] msmbaldwin commented on #72773
Please let us know if this is still an issue. #please-close

[2022-05-12 19:00] #72773 closed

[2022-05-12 19:02] tfitzmac commented on #92546
@matt1883 - thanks, that looks great!

@matthewtatsch - we'll close this issue now.

#please-close

[2022-05-12 19:02] #92546 closed

[2022-05-12 19:02] msmbaldwin commented on #73615
This baseline was written to the Azure Security Benchmark v2. The v3 version of this baseline will be released shortly, at which point this feedback will be addressed. Thank you! #please-close

[2022-05-12 19:02] #73615 closed

[2022-05-12 19:02] msmbaldwin commented on #74303
Please let us know if this is still an issue. #please-close

[2022-05-12 19:03] #74303 closed

[2022-05-12 19:04] msmbaldwin commented on #74565
We now explain the difference between SSE and ADE on the [Overview of managed disk encryption options](https://docs.microsoft.com/en-us/azure/virtual-machines/disk-encryption-overview). Thank you! #please-close

[2022-05-12 19:04] #74565 closed

[2022-05-12 19:05] msmbaldwin commented on #58683
Please let us know if this is still an issue. Thank you! #please-close

[2022-05-12 19:05] #58683 closed

[2022-05-12 19:06] msmbaldwin commented on #58711
Please let us know if this is still an issue. Thank you! #please-close

[2022-05-12 19:06] #58711 closed

[2022-05-12 19:06] msmbaldwin commented on #60200
Please let us know if this is still an issue. Thank you! #please-close

[2022-05-12 19:06] #60200 closed

[2022-05-12 19:06] msmbaldwin commented on #62626
Please let us know if this is still an issue. Thank you! #please-close

[2022-05-12 19:06] #62626 closed

[2022-05-12 19:06] msmbaldwin commented on #64405
Please let us know if this is still an issue. Thank you! #please-close

[2022-05-12 19:06] #64405 closed

[2022-05-12 19:06] msmbaldwin commented on #64533
Please let us know if this is still an issue. Thank you! #please-close

[2022-05-12 19:06] #64533 closed

[2022-05-12 19:06] msmbaldwin commented on #64630
Please let us know if this is still an issue. Thank you! #please-close

[2022-05-12 19:06] #64630 closed

[2022-05-12 19:06] msmbaldwin commented on #65418
Please let us know if this is still an issue. Thank you! #please-close

[2022-05-12 19:06] #65418 closed

[2022-05-12 19:06] msmbaldwin commented on #65577
Please let us know if this is still an issue. Thank you! #please-close

[2022-05-12 19:06] #65577 closed

[2022-05-12 19:07] msmbaldwin commented on #66528
Please let us know if this is still an issue. Thank you! #please-close

[2022-05-12 19:07] #66528 closed

[2022-05-12 19:07] msmbaldwin commented on #66973
Please let us know if this is still an issue. Thank you! #please-close

[2022-05-12 19:07] #66973 closed

[2022-05-12 19:08] #71243 closed

[2022-05-12 19:08] msmbaldwin commented on #70093
Please let us know if this is still an issue. Thank you! #please-close

[2022-05-12 19:08] #70093 closed

[2022-05-12 19:08] msmbaldwin commented on #67886
Please let us know if this is still an issue. Thank you! #please-close

[2022-05-12 19:08] #67886 closed

[2022-05-12 19:08] msmbaldwin commented on #67810
Please let us know if this is still an issue. Thank you! #please-close

[2022-05-12 19:08] #67810 closed

[2022-05-12 19:08] msmbaldwin commented on #67789
Please let us know if this is still an issue. Thank you! #please-close

[2022-05-12 19:09] #67789 closed

[2022-05-12 19:09] msmbaldwin commented on #67647
Please let us know if this is still an issue. Thank you! #please-close

[2022-05-12 19:09] #67647 closed

[2022-05-12 19:09] msmbaldwin commented on #67465
Please let us know if this is still an issue. Thank you! #please-close

[2022-05-12 19:09] #67465 closed

[2022-05-12 19:10] msmbaldwin commented on #85590
Hi, @danscarfe. We updated the video URL to https://www.youtube.com/watch?v=Cg0-5moftP0. Thank you! #please-close

[2022-05-12 19:10] #85590 closed

[2022-05-12 19:10] MarileeTurscak-MSFT commented on #92709
Hi @KenBiel-OPM,

The PG replied that the feature is still in preview. I'll update this thread when I have more information though.

[2022-05-12 19:10] #92709 closed

[2022-05-12 19:12] tomvcassidy commented on #90150
Hi @jeffgayle! Sorry for the late reply. I think there might have been a misunderstanding here. On the requirements page you're referring to, there's a [specific section for Service Fabric requirements](https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-automatic-upgrade#service-fabric-requirements), and the last bullet point says:

"The property virtualMa

[2022-05-12 19:12] #90150 closed

[2022-05-12 19:17] seesharprun commented on #91306
#assign:seesharprun

[2022-05-12 19:20] Karishma-Tiwari-MSFT commented on #92791
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-12 19:21] Karishma-Tiwari-MSFT commented on #92799
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-05-12 19:28] AjayKumar-MSFT commented on #92810
RegalTanks , Thanks for leveraging Azure docs feedback channel to raise this question. Since you have closed the thread I presume the issue is resolved, if it's not the case or you need further assistance kindly just let us know.

As a side note, this channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements.

[2022-05-12 19:37] bdcoder2 commented on #81973
The docs currently DO NOT include any relevant information with regard to bitwise operators (other than the bitwise operators exist) - but fail to mention on what data types (Int32, Int64, UInt32, UInt32, etc.) can be used.   When I tested way back in 2021, it seems bitwise operators could NOT handle 64 bit integers.

[2022-05-12 19:39] ChaitanyaNaykodi-MSFT commented on #92801
Thank you for your feedback! We will review and update as appropriate.

[2022-05-12 19:42] hhh0505 opened #92819 "No error handing in Azure Portal for DNS Zone when adding tag with space"
Wasn't sure where to report this bug, but when trying to adding a tag with a space on a DNS Zone there is no error handling and simply looks like it has succeeded. This was discovered when trying to remediate resources with Policies and manually trying to update a DNS Zone.

Limitation is documented at [https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/tag-resources?tabs=jso

[2022-05-12 19:50] MarileeTurscak-MSFT commented on #92817
@yairzarka
Thanks for your feedback! We will investigate and update as appropriate.

[2022-05-12 19:58] MonikaReddy-MSFT commented on #92473
@JnHs  - Thank you for providing your insights.
@rozzamozza - I hope @JnHs has answered your question.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-05-12 19:58] #92473 closed

[2022-05-12 19:58] bpw320 opened #92820 "LogFunctionStarted does not have an implementation"
Method 'LogFunctionStarted' in type 'WebJobs.Host.Storage.Logging.PersistentQueueLogger' from assembly 'Microsoft.Azure.WebJobs.Host.Storage, Version=4.0.4.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35' does not have an implementation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e9e1a8a-6284-a230-061e-7cb2725

[2022-05-12 19:59] GeethaThatipatri-MSFT commented on #92534
I'm assigning this to the author for the feedback review.

[2022-05-12 19:59] MonikaReddy-MSFT commented on #92601
@katergin - Are you still facing issues ? If so, can you please respond to the question raised by @bandersmsft ?

[2022-05-12 19:59] GeethaThatipatri-MSFT commented on #92572
I'm assigning this to the author for the feedback review.

[2022-05-12 20:02] MonikaReddy-MSFT commented on #91718
@red-erik - Are you seeing any superseded updates in Update management assessment? If yes, then request you to share both the superseded and superseding KB IDs for this issue.

[2022-05-12 20:11] DavidWHarvey opened #92821 "Azure Port -> Data Factory Studio"
[Enter feedback here]
It is completely unclear how to get from the Azure Portal to the Azure Data Factory studio which is then displayed.     I got a security alert for a subscription (but not resource or resource group) with basically a link to this page.   But I had not looked at data factory before.   I got to data factory in the Azure portal, there were no integrations listed on that page.

--

[2022-05-12 20:13] MicrosoftGuyJFlo commented on #92651
#please-close

[2022-05-12 20:13] #92651 closed

[2022-05-12 20:16] sr-msft commented on #92572
You cannot perform pg_dumpall for databases because Azure has a couple of metadata databases that are not exposed to the customer.

For user/roles, https://docs.microsoft.com/en-us/azure/postgresql/how-to-upgrade-using-dump-and-restore#migrate-the-roles

[2022-05-12 20:21] dstrodtman-db commented on #77473
I believe that this ticket just documents a technical misunderstanding by the reporter. I recommend closing.

[2022-05-12 20:23] PRMerger9 commented on #77473
Only Microsoft employees can close issues or pull requests via commenting in this repo.

[2022-05-12 20:24] mrkeiths commented on #92318
@nickludwig thank you for the explanation.  I did notice the comment about ROPC being absent from confidential clients in MSFT SDKs.  This was confusing to me since I had also read the support statement I shared about ROPC + confidential clients in B2C scenarios (I overlooked the B2C distinction that you pointed out).

Now that you've clarified, I agree the documentation is correct, but I'm also w

[2022-05-12 20:31] dlepow commented on #90285
@adrianhall - Can you please take a look and offer insights into this issue and possible doc additions to address? Thanks!

[2022-05-12 20:35] adrianhall commented on #90285
ON the Add API page in the Azure Portal, there is a "Create from Definition" section and you can select "OpenAPI" from there.  I think we just need to link to the appropriate page.

[2022-05-12 20:41] jerdman76 opened #92823 "Clarity is missing"
Upon following the instructions to add Clarity to our Enterprise Applications - I am attempting to browse the Azure AD Gallery and add Microsoft Clarity but it is not listed.

Here is an image of the Apps that are listed in the directory:
![image](https://user-images.githubusercontent.com/39561721/168170170-1b3ec04e-9428-4e98-b163-571a9254c85d.png)

---
#### Document Details

⚠ *Do not edit this s

[2022-05-12 20:44] Usamawahabkhan opened #92824 "the code snippet are wrong to have types"
[Enter feedback here]

the code snippet are wrong to have types

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 35513665-3262-6522-49e8-c3fa6073f235
* Version Independent ID: 00a2b487-ff28-2862-db86-64dfe70f5868
* Content: [Tutorial - Use Azure Key Vault with a virtual machine in Python](https://docs.microsoft.com/en-us

[2022-05-12 20:56] JamesTran-MSFT commented on #92823
@jerdman76
Thanks for your feedback! We will investigate and update as appropriate.

[2022-05-12 20:56] JamesTran-MSFT commented on #92824
@Usamawahabkhan
Thanks for your feedback! We will investigate and update as appropriate.

[2022-05-12 20:59] johnthcall opened #92826 "Notes in service fabric Multi zones has confusing phrasing"
In the section "Configuring zones on a virtual machine scale set" there is a notes section with 4 bullet points. The second, third and fourth have confusing phrasing like "The Availability Zone that spans virtual machine scale sets should be configured with at least three Availability Zones, no matter the durability level." Should this say "The **virtual machine scale sets** that spans **Availabil

[2022-05-12 21:04] skeeler opened #92827 "The `--sdk-auth` switch is deprecated so probably shouldn't be used"
Per [this GH issue](https://github.com/Azure/azure-cli/issues/19949), the `--sdk-auth` switch for the `az ad sp create-for-rbac` command is deprecated and probably shouldn't be used anymore as it will likely disappear from a future version of the Azure CLI, which will cause the documented path in this tutorial to fail.

---
#### Document details

⚠ *Do not edit this section. It is required for doc

[2022-05-12 21:10] nickludwig commented on #92318
@mrkeiths - Happy to help!

And yeah, I tend to agree that "sometimes required" is weak in the context of ROPC. It might be hard to change given that this lines up with the vocabulary used for all our other protocol documentation, but I'll do some brainstorming to see if there are any other options that would work better.

Given that your question has been answered, I'm going to close the thread f

[2022-05-12 21:10] nickludwig commented on #92318
#please-close

[2022-05-12 21:10] #92318 closed

[2022-05-12 21:21] alxndr-w commented on #85906
5 months and no progress. I guess this will be the last time I've contributed here. :/

[2022-05-12 21:22] MarileeTurscak-MSFT commented on #92809
As mentioned in the [Plan and Deploy article](https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-password-ban-bad-on-premises-deploy), audit mode is the default initial setting, where passwords can continue to be set. Passwords that would be blocked are recorded in the event log.

Enforced mode, on the other hand, actually enforces the password rules and requires the more

[2022-05-12 21:22] #92809 closed

[2022-05-12 21:27] cjpluta opened #92828 "Flow log with multiple NSGs"
The page currently says this:
Having NSG at both NIC and Subnet Level: In case NSG is configured at the NIC as well as the subnet level, then flow logging must be enabled at both the NSGs since the exact sequence of rule processing by NSGs at NIC and subnet level is platform dependent and varies from case to case. Traffic flows will be logged against the NSG which is processed last.

In my testing

[2022-05-12 21:27] rbeltman commented on #92417
Yes, that answered my question. I see there is already a note on the page, so I close my issue. Thanks for checking anyway.

[2022-05-12 21:27] #92417 closed

[2022-05-12 21:31] chitturs commented on #67789
I don't see it fixed.

===
Please also add that the VMSS should have the following identity setting:
"identity": {
"type": "UserAssigned",
"userAssignedIdentities": {
"[parameters('userAssignedIdentityResourceId')]": {}
}
}

AKV extension should have this setting:

                  "authenticationSettings": {
                    "msiEndpoint": "[parameters('userAssignedIdentityEndpoint')]",

[2022-05-12 21:34] bandersmsft commented on #92650
https://github.com/MicrosoftDocs/azure-docs-pr/pull/198119

[2022-05-12 21:38] bandersmsft commented on #92650
@jason934 I'm updating the article for clarity and to resolve this issue.

Here's the info you were looking for:

![alert-permissions](https://user-images.githubusercontent.com/9596428/168172244-73ad9c81-96f9-4701-9e08-58ec4227a56d.png)

#please-close

[2022-05-12 21:38] #92650 closed

[2022-05-12 21:43] bandersmsft commented on #92601
@katergin From what you said so far, we can't tell why you're having the problem with the token. So:

- Do you have permission to the environment where you're creating the budget?
- Are your able to actually log in using the client?

[2022-05-12 21:47] asw101 commented on #92158
Hi @ffrankozz, thank you very much for your patience. I've confirmed with the Dapr team that if you need to add multiple components, run the `az containerapp env dapr-component set` command multiple times to add each component.

I have a PR in to update this doc accordingly. Please feel free to let us know if there's anything else we can help with!

[2022-05-12 22:09] JamesTran-MSFT commented on #92721
@jks05c
Thank you for your time and patience!

Since this is a known issue, I'll go ahead and close this out.

[2022-05-12 22:09] #92721 closed

[2022-05-12 22:18] JamesTran-MSFT commented on #92823
@jerdman76
Thank you for following up on this!

From your screenshot, I believe Clarity should be the first app within your results. When following the instructions within my tenant, I was able to see the same apps as shown in your screenshot.
![image](https://user-images.githubusercontent.com/36619112/168176501-947b8c7d-dfa7-4a3c-84b3-9ad54d4646cb.png)
Since our documentation is currently correct

[2022-05-12 22:18] #92823 closed

[2022-05-12 22:19] JamesTran-MSFT commented on #92824
@Usamawahabkhan
Can you share what specific code snippets you're referring to?

Any screenshots or links to the incorrect snippets would be greatly appreciated.
Thank you for your time and patience throughout this issue!

[2022-05-12 22:20] jerdman76 commented on #92823
Wow really?  Clarity by CA Technologies is the same thing?  It looks so off-brand I immediately assumed this was something else entirely.  Maybe we are thinking 2 different things. I am trying to enable access to my users for Microsoft Clarity – clarity.microsoft.com:

--josh

Sent from Mail for Windows

From: James Tran-MSFT
Sent: Thursday, May 12, 2022 3:18 PM
To: MicrosoftDocs/azure-docs
Cc: je

[2022-05-12 22:22] mattdurak opened #92829 "income tax example implemented without understanding how basic tax brackets work"
Why is there an income tax example UDF that is implemented incorrectly?

[code]

This would be more accurate in terms of how tax brackets actually work:

[code]

otherwise `tax(1000) = 100` and `tax(1001) = 200.2`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14913a18-671a-c55f-d082-e750bec7baab
* Version Independent

[2022-05-12 22:25] Dbakevlar opened #92830 "Replace first two paragraphs with updated and grammatically correct ones."
[Enter feedback here]

Azure is home for all Oracle workloads, including those which need to continue to run optimally in Azure with Oracle.  If you have the [Diagnostic Pack] (https://www.oracle.com/technetwork/database/enterprise-edition/overview/diagnostic-pack-11g-datasheet-1-129197.pdf) or the [Automatic Workload Repository] (https://docs.oracle.com/en-us/iaas/operations-insights/doc/analyze-

[2022-05-12 22:29] JamesTran-MSFT commented on #92823
@jerdman76
Thank you for following up on this!

As of right now, Microsoft Clarity does not support authentication via your company's Azure AD instance. However, users from your company should be able to log into [Clarity](https://clarity.microsoft.com/) using their company email accounts. For [more info](https://docs.microsoft.com/en-us/clarity/faq#can-i-add-azure-active-directory--aad--authentic

[2022-05-12 22:32] holms commented on #92572
@sr-msft my apologies, I somehow missed this part of documentation. Thank you for your help.

[2022-05-12 22:41] Dbakevlar opened #92831 "Correct Recommendations"
[Enter feedback here]

Requirements
It's a good idea to consider the following requirements before you start your migration:

Perform a right-sizing assessment and migrate the Oracle workload instead of the previous, on-premises hardware.  Most on-premises Oracle databases are over-provisioned and since Oracle is licensed by core, which means right-sizing the vCPU needs can be an essential exercis

[2022-05-12 22:50] tamram commented on #43891
#reassign: @stevenmatthew

[2022-05-12 22:54] kobulloc-MSFT commented on #92830
@Dbakevlar Thank you for your feedback!  We are reviewing the two paragraphs in question and will get back to you shortly.

[2022-05-12 22:55] tamram commented on #92150
@lolittle - Thanks for your feedback. East Asia region has been removed from the list.

#please-close

[2022-05-12 22:55] #92150 closed

[2022-05-12 22:57] tamram commented on #23775
#reassign: @stevenmatthew

[2022-05-12 22:59] tamram commented on #52461
#reassign: @stevenmatthew

[2022-05-12 23:00] holms commented on #92572
@sr-msft maybe role migration could be also added to the documentation to which this ticket been opened for? Because that particular article is the main one which google sees. I suppose role migration should be mentioned for in every documentation of postgre single server, postgre managed flexible server,  postgre managed.

[2022-05-12 23:08] kobulloc-MSFT commented on #92826
@johnthcall, it appears that you are correct.  In looking at an older version of the documentation that bullet point used to read:

It looks like an error was made when the acronym was expanded.  I'll do some additional investigation and get a PR out to address this.

[2022-05-12 23:12] kobulloc-MSFT commented on #92831
@Dbakevlar Thank you for your feedback!  We are reviewing the documentation and will get back to you shortly.

[2022-05-12 23:17] ChaitanyaNaykodi-MSFT commented on #92828
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-05-12 23:43] KranthiPakala-MSFT commented on #92821
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-05-13 00:01] seesharprun commented on #91306
Just wanted to share a heads-up that we have an update in flight that will add Python examples to this article. Look for that update to land within a couple of days.

#please-close

[2022-05-13 00:01] #91306 closed

[2022-05-13 00:01] Karishma-Tiwari-MSFT commented on #92827
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-05-13 00:04] seesharprun commented on #92829
#assign:seesharprun

[2022-05-13 00:12] Karishma-Tiwari-MSFT commented on #92819
Thanks for sharing your feedback. I am not able to see the limitation documented at the document link that you shared. Can you please re-check and share the document link again?

[2022-05-13 00:13] tsrob50 opened #92833 "Example dosn't work"
The example has the SKU type set to "standard".  That's not a valid SKU, should be "PerGB2018"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 71ec55e1-462b-39ed-0f88-9190d9315a9f
* Version Independent ID: 45a71ab7-9494-9f99-c581-a458a11b8bb2
* Content: [Create & configure Log Analytics with PowerShell - Azure Monitor](

[2022-05-13 00:29] seesharprun commented on #86987
Thank you for your feedback @dgpoulet!

We have pushed an update to add a Python example and that update should be live soon.

#reassign:seesharprun

[2022-05-13 00:30] seesharprun commented on #86987
#please-close

[2022-05-13 00:30] #86987 closed

[2022-05-13 01:06] pradorodriguez opened #92834 "Problems with App "SampleClientApp" - Error in query execution: Service request failed"
[Enter feedback here]

Problems running App "SampleClientApp"

Reproducing steps:
1. Executed all steps related to AZ CLI.
2. File "appsettings.json" modification with the correct Digital Twin Hostname.
3. "SampleClientApp" executed
4. Inside the CMD app window, the following command was executed: SetupBuildingScenario
5. Errors:
Step 1: Find all twins
Error in query execution: Service request fai

[2022-05-13 01:06] pradorodriguez commented on #92834
The error is present in this tutorial: https://docs.microsoft.com/en-us/azure/digital-twins/tutorial-end-to-end

[2022-05-13 01:30] laneyvb opened #92835 "GA or Preview ?"
This page mentions still being in Preview for the FHIR component . Which conflicts with this https://azure.microsoft.com/en-us/blog/microsoft-launches-azure-health-data-services-to-unify-health-data-and-power-ai-in-the-cloud/

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dfd4bc9d-c837-de57-8a7a-

[2022-05-13 02:20] sha-k-anand opened #92836 "Purview - Power BI Cross Tenant Scanning"
This article does not provide enough details on the permission that needs to be granted for "App Registration" on the Power BI side.  I had to perform the below steps to get it to work

1. Create an Azure AD Security group
2. Add the service principal (App registration) to that group
3. On Power BI Admin Portal, enable "Allow service principals to use read-only Power BI admin APIs"
4. On Power BI

[2022-05-13 02:39] AshokPeddakotla-MSFT commented on #92834
@pradorodriguez Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-13 02:46] HoChiPants opened #92837 "Bad Images"
[Enter feedback here]
The first two screenshots under Create new VHD in Hyper-V Manager are incorrect. Its almost like they were taken from a different tutorial.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49db939f-e450-6eb2-a4a7-565809a0d704
* Version Independent ID: fa914321-3dab-48be-54b2-5aec4f02a2ef
* Content:

[2022-05-13 02:48] AshokPeddakotla-MSFT commented on #92812
@BillArmstrong Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-13 03:23] hquangthinh opened #92838 "Create private endpoint text description and command is mismatch"
[Enter feedback here]

In the section Create private endpoints
The text "In the private endpoint subnet of your virtual network, create a private endpoint for your key vault" but the below command is creating private endpoint for Cognitive Service

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 909cc7e6-4a43-71ce-74f0-7

[2022-05-13 04:32] SumanthMarigowda commented on #91945
@stevensnicole I wish to engage with you offline for a closer look and provide a quick and specialized assistance, please send an email with subject line “Attn:subm” to AzCommunity[at]Microsoft[dot]com referencing this thread

[2022-05-13 04:33] johndowns commented on #91090
@mjrich19 FYI I have a draft update ready. It's working its way through the various publication processes and hopefully next week it'll be live. Thanks for your patience!

[2022-05-13 04:34] AnuragSharma-MSFT commented on #92835
@laneyvb Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-05-13 04:37] ninallam commented on #92827
Hi @skeeler Thanks for reaching out. The azure/login action still [recommends](https://github.com/Azure/login#configure-deployment-credentials) using --sdk-auth. We will raise an issue with the team to suggest an alternative which is compatible with the login action and update the docs accordingly.

[2022-05-13 04:40] AjayKumar-MSFT commented on #92820
@bpw320, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2022-05-13 05:03] Oppedijk commented on #85807
Can we get an update on this, please? We are 6 months further now
@AshokPeddakotla-MSFT @SumanthMarigowda @msmbaldwin

[2022-05-13 05:24] subhashc commented on #62842
HI, @MonikaReddy-MSFT @Sweggle

I am also experiencing the exact same issue after doing exclusion in the .xml file still shows the routes

Can anyone suggest, please?

[2022-05-13 05:29] jyama4ta commented on #92165
@PriyankaRudramaina I found similar issues, #84037, #86278. #84037 was opened on 18 Nov 2021. However, this doc is still not updated. May I know the ETA for update?

[2022-05-13 05:59] SnehaAgrawal-MSFT commented on #92664
@aj9411 Thanks again for the feedback! The PR has been created once reviewed by owner of the doc will be visible in document.

We will close this out but if you feel you need more information please just let us know.

[2022-05-13 05:59] #92664 closed

[2022-05-13 06:02] SnehaAgrawal-MSFT commented on #92591
@site-speed We will now proceed to close this thread. If there are further questions regarding this matter, please let us know.

[2022-05-13 06:02] #92591 closed

[2022-05-13 06:05] hsdhillon opened #92840 "Instructions to change Manifest don't work"
The instructions in step 7 to modify the URL from https to http don't work. When trying to save the changes, the following message is returned
**Failed to update AWS ClientVPN application. Error detail: Unable to remove redirectUri that is used as the defaultRedirectUri.**

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2022-05-13 06:06] #92833 closed

[2022-05-13 06:07] SwathiDhanwada-MSFT commented on #92833
@tsrob50 Thanks for the feedback! I have fixed the referenced change, and the change should reflect on the doc within 24 hours. We will now proceed to close this thread. If there are further questions regarding this matter, please revert and we will gladly continue the discussion.

[2022-05-13 06:10] henkepa commented on #87380
Guys, 3 months to update the doc? I wasted one week on migrating from NTLM to Kerberos just to find out that it doesn't work either :-(

[2022-05-13 06:23] shashishailaj commented on #92840
@hsdhillon Thank you for your query on this. We will investigate and update the thread.

[2022-05-13 07:22] osamum opened #92841 "The hub name specified on the command line differs from the hub name in the sample code (JavaScript)."
In the following command line introduced in the item Set event handler, hub name is "**SampleChatHub**", but in the JavaScript sample code, const hubName = '**chat**'.

az webpubsub hub create -n "<your-unique-resource-name>" -g "myResourceGroup" --hub-name "SampleChatHub" --event-handler url-template="https://<domain-name>.ngrok.io/eventHandler" user-event-pattern="*" system-event="connected"

Th

[2022-05-13 07:36] phatcher commented on #92775
This seems to contradict the advice given in https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-managed-service-identity where is says you should grant at the narrowest possible scope.

It would also be a potentially massive security hole, since now my Azure Function subscriber has complete control over the attached Service Bus?

[2022-05-13 07:38] sajeetharan commented on #90094
Hi @seesharprun here is a similar issue https://github.com/MicrosoftDocs/azure-docs/issues/91715#issuecomment-1109837744

[2022-05-13 07:38] bastienperez opened #92842 "Selective password hash synchronization and password writeback block password change for users outside of the selective password sync"
Hello,

This page mentions :
_Configuring selective password hash synchronization directly influences password writeback. Password changes or password resets that are initiated in Azure Active Directory write back to on-premises Active Directory **only if the user is in scope for password hash synchronization**._

But in my environments, I don't get this behavior:
When I enabled password writeback

[2022-05-13 08:14] mshyatsu opened #92843 "App Service on Linux cannot choose bitness"
[Enter feedback here]

Seems like App Service on Linux cannot choose the bitness. As far as I know, Java 11 and Python 3.9 at least are 64-bit. I would appreciate it if you could reconsider the description bellow.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e25899c-1ed8-7cfc-2c37-73bb010a87f0
* Version Independent

[2022-05-13 08:20] zokiz-eon commented on #92820
The same warning message started to be reported by our web jobs as well:

[code]

[2022-05-13 08:59] AjayKumar-MSFT commented on #92843
@mshyatsu, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2022-05-13 09:09] secuit commented on #33117
Hi,
i enabled Azure Firewall Threat Intelligence Service "Deny and Alert" in my Policy and tested via testmaliciousdomain.eastus.cloudapp.azure.com like in microsoft docs [Threat Intelligence-gestütztes Filtern für Azure Firewall | Microsoft Docs](https://docs.microsoft.com/de-de/azure/firewall/threat-intel) but curl don't work and it should by handele via build default rule of threat intel in fir

[2022-05-13 09:18] AjayKumar-MSFT commented on #92841
@osamum,  Thanks for taking time to share your feedback. We're reviewing this.

@vicancy,

--It looks like [the sample,](https://github.com/Azure/azure-webpubsub/blob/c934d93be8521ff3de3f5b894b03f0b415c257b3/samples/javascript/chatapp/server.js#L6) the hubname is sample_chat.  Requesting you to review for hubname consistency, and help make appropriate changes.

<img width="347" alt="image" src="ht

[2022-05-13 09:19] thiruma0203 opened #92844 "--appgw-subnet-cidr should not use "10.2.0.0/16""
Example in the document uses "10.2.0.0/16" for --appgw-subnet-cidr parameter in "az aks create" command.
`az aks create -n myCluster -g myResourceGroup --network-plugin azure --enable-managed-identity -a ingress-appgw --appgw-name myApplicationGateway --appgw-subnet-cidr "10.2.0.0/16" --generate-ssh-keys`

However, this example leads to IngressAppGwAddonConfigInvalidSubnetCIDRNotContainedWithinVir

[2022-05-13 09:19] aljaydeguzman opened #92845 "Where is the step to request for quota?"
Where does it state that you need to request quota for the AV36? The steps in this page will not allow you to proceed without request quota through azure support?
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d9bb24e-ff10-6530-8f47-a0b53d192d4e
* Version Independent ID: 54d484a1-1cac-e765-eaa0-0

[2022-05-13 09:29] AjayKumar-MSFT commented on #92838
@hquangthinh, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2022-05-13 09:29] michalczerwinski opened #92847 "Azure B2C Content Security Error"
When trying to log in using Azure B2C there is an error displayed in console due to Content Security Policy header misconfiguration.
The details of this bug are available here: https://stackoverflow.com/questions/69799461/content-security-policy-error-on-login-azure-b2c-pages

I think this issue was already reported and ignored (tickets closed due to no activity, etc.)
Can anybody please have a lo

[2022-05-13 09:35] akjems opened #92848 "The provided example doesn't work"
When I try to launch the site I get a "Could not detect stack" Error
I am in the right folder.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd76e30c-e279-2ea0-d8fb-7ca48244e445
* Version Independent ID: ddc61016-d8d5-e226-3901-81cfe728cd0f
* Content: [Quickstart: Create a PHP web app - Azure App Service](http

[2022-05-13 09:51] JorgMuskens opened #92851 "Sophos directories are not update to date anymore with new version of sophos"
Quote from Sophos Central:
Sophos Anti-Virus for Linux (Legacy) is not supported after 20 July 2023. Please see [here](https://support.sophos.com/support/s/article/KB-000034795) for more details.

So i installed new version and that points to new install base dir "/opt/sophos-spl/.."

The azure compliance centre is still checking the legacy dir and not the new one

---
#### Document Details

⚠ *Do

[2022-05-13 10:18] AshokPeddakotla-MSFT commented on #92622
@radhegithub Since you are working with support team, we will share/update the resolution here for others reading this issue once it has been resolved.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-05-13 10:18] #92622 closed

[2022-05-13 10:52] PingPongSet opened #92854 "GA release date for SFTP in Azure blob storage"
Is there a roadmap for GA release date for SFTP in Azure blob storage?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7d93704-cc4c-04a0-beb4-84983853cbb1
* Version Independent ID: c999a603-b02d-a56d-1bef-0cd4916b6a2b
* Content: [Connect to Azure Blob Storage using SFTP (preview)](https://docs.mi

[2022-05-13 11:01] ShaikMaheer-MSFT commented on #92836
@sha-k-anand Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-05-13 11:05] SreejaBhattacharya-MSFT commented on #92845
Hello @aljaydeguzman , Thanks for reaching out. I'll look into this and provide an update. Thank you.

[2022-05-13 11:09] jaxidian opened #92856 "US Gov Iowa and Texas"
I'm looking into Azure Gov locations for an upcoming gov project. The current documentation shows that US Gov Iowa's backup pairing goes to Virginia and does not specify where US Gov Texas's backup pairing goes. This confuses me since I thought Iowa was retired and this leaves Texas as ambiguous (although it appears to be the backup for both Virginia and Arizona).

I think the documentation should

[2022-05-13 11:19] SadiqhAhmed-MSFT commented on #92765
@ApeironThanatos Doc has been updated - https://docs.microsoft.com/en-us/azure/migrate/how-to-set-up-appliance-physical#verify-security let us know if you have any further questions

[2022-05-13 11:48] ffrankozz commented on #92158
@asw101 Thanks for the reply.  That is what I  had done   anyways. I was hoping  there was probably  a shorter way. Nevertheless, thank you.

[2022-05-13 11:54] Gill-Bates opened #92857 "Missing Step how to remove Special Characters before converting"
Nowhere is it explained how to remove the special characters before converting to JSON.

`[\n {\n "storageAccountName": "xxx"\n }\n]`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a6394c7-9bef-b8f8-ffd6-9d9d8e2daa07
* Version Independent ID: 5ffa20a2-436c-2726-dc57-9d3b49f9ca39
* Content: [Start an Azure Automation r

[2022-05-13 12:02] ninallam commented on #92827
@skeeler according this issue https://github.com/Azure/login/issues/223 --sdk-auth is not yet deprecated. We will wait for further confirmation from the team and update our docs accordingly.

[2022-05-13 12:13] rduke-cfpwood opened #92858 "Source code?"
Is the source code available in GitHub for this app?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15f1ac2f-e5dc-ce85-0a0e-28ff4a417d3a
* Version Independent ID: ee2ced0a-8f29-f326-46ba-f544f4f7a8b9
* Content: [Use your smartphone as an Azure IoT device](https://docs.microsoft.com/en-us/azure/iot-fundamentals/iot-phon

[2022-05-13 12:47] skeeler commented on #92827
@ninallam if the issue Azure/login#233 is stating that `--sdk-auth` has not been deprecated then they are wrong. It has been deprecated (meaning it is still available, but planned to be removed), so is generally considered something to be avoided. Below is the output from the `az ad sp create-for-rbac` showing the notice of deprecation. In my project we have avoided using the `Azure/login` action

[2022-05-13 12:54] HenriHeijltjes opened #92860 "Missing prerequisite to create the ADLS data source"
Hi,

We followed the instruction and were not able to create the ADLS data source. When creating the data source the storage account can not be sellected. After we assigned reader-rights on the storage account of the ADLS to user who creates the data source, we were able to create the data source.
**Suggestion**:
I think this should be added to paragraph "Prerequisites": "You will need to be a Rea

[2022-05-13 13:13] seesharprun commented on #90094
Thanks @sajeetharan! That was an oversight on my part.

@hawkmoth8, we updated the docs page to be a bit clearer taht only the .NET SDK is supported for finding the request charge at this time. If you have product feedback or want to request a change, please visit the [Azure Cosmos DB feedback](https://feedback.azure.com/d365community/forum/3002b3be-0d25-ec11-b6e6-000d3a4f0858) forums.

For now, w

[2022-05-13 13:13] #90094 closed

[2022-05-13 13:14] rogiersb opened #92861 "Uploading the JMeter user.properties file doesn't have effect"
How can the jmeter 'user.properties' file be interpreted by the Azure Load Testing tool because uploading the file amongst the other configuration files didn't work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aef568a5-c3ce-d250-c983-b94cd798fae0
* Version Independent ID: b33697bf-8209-c1a1-3ca2-dfa7ec5ef059
* Conte

[2022-05-13 13:17] rcanton opened #92862 "Versions table should be updated"
[Enter feedback here]
This table of versions of VMware software should be updated to reflect the latest vSphere/vCenter 7 updates. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bfdd20d6-7b1d-73f1-f580-d9207e10c5fb
* Version Independent ID: 610d9d1a-dbea-0289-01ca-c84f2b30d1ef
* Content: [Microsoft Azure VMware

[2022-05-13 13:20] skeeler commented on #92827
@ninallam here is the PowerShell we use with the `Connect-AzAccount` cmdlet to authenticate with Azure using the non-deprecated form of the `az ad sp create-for-rbac` output, in case it is useful. The action invoking it is just the built-in GitHub `run` in any shell with the `Az` PS module present:

![image](https://user-images.githubusercontent.com/755941/168292747-718cbeb1-d826-488b-b4bf-9895ebf

[2022-05-13 13:40] RichYoung7 opened #92863 "Multi-RG doesnt work"
[Enter feedback here]
it doesnt look like multiple resource groups works. I get asked for the array values.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85dc331a-0f34-f9a2-43d9-8ab7e0e635c6
* Version Independent ID: 96c07c81-f84c-f47b-659c-b3d055aefb03
* Content: [Onboard a customer to Azure Lighthouse - Azure Lighth

[2022-05-13 13:40] Dickson-Mwendia commented on #92587
Thanks @ncikac for opening this issue. You can configure the samples to work for both single-tenant and multi-tenant application patterns. While the guidance in this article walks you through creating multi-tenant apps, you can use the sample to sign in users in your home tenant by following these steps:

**Step 1:  Update your application registration in the Azure portal to be single tenant.**

[2022-05-13 13:42] Dickson-Mwendia commented on #92587
#please-close

[2022-05-13 13:42] #92587 closed

[2022-05-13 13:45] Givary commented on #92630
@pfsantosaad Apologies for the delay, let me investigate and revert back.

[2022-05-13 13:45] John-HLC commented on #85886
==============================

@mkarmark
This is still a huge problem.  I just got frustrated and moved on to doing other devleopment, but now this is kind of the last thing holding me back on multiple projects.  Somehow needs to get isolated and fixed, and I'm willing to try my best to help you help us :), any way possible !!! I mean it..  Can I add you to my private project?  Can I pay for some

[2022-05-13 13:55] RohitMungi-MSFT commented on #92675
@max811811 We will now proceed to close this thread. Please feel free to raise a support case if you see any discrepancies with the response from the API. Thanks!!

[2022-05-13 13:55] #92675 closed

[2022-05-13 14:09] rudolfdobias commented on #92739
Same behavior, version.BuildInfo{Version:"v3.8.2", GitCommit:"6e3701edea09e5d55a8ca2aae03a68917630e91b", GitTreeState:"clean", GoVersion:"go1.18.1"}

[2022-05-13 14:12] John-HLC commented on #85886
@mkarmark i added you to both github projects BlazrWASM staic web app   and the BYO function, in case you want to look at the source code for both.  Both projects have 1 issue in the issues with your name in the subject so you can respond there if needed. and i can put more instructions there.

[2022-05-13 14:27] hhh0505 commented on #92819
[/azure-docs/blob/main/articles/azure-resource-manager/management/tag-resources.md](url)

[2022-05-13 14:41] asergaz commented on #92858
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-05-13 14:49] JamesTran-MSFT commented on #92641
@nkumars

[2022-05-13 14:50] JamesTran-MSFT commented on #92824
@Usamawahabkhan
I just wanted to check in and see if you were able to review my previous comment?

[2022-05-13 14:52] SumanthMarigowda commented on #92837
@HoChiPants Thanks for the question! We are investigating and will update you shortly.

[2022-05-13 15:11] MarkStega opened #92867 "Incorrect documentation of creating db connection"
The code fragment
[code]
is wrong, System.Data.SqlClient needs to be added as a nuget resource and the member Database.Commection does not exist.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e119045-e113-d9d1-1b5e-a87e6befe3aa
* Version Independent ID: 98fcc13e-5da6-7251-d702-d9ee07c00581
* Content: [Tutorial: Acces

[2022-05-13 15:12] whhender commented on #92032
Hello! We are still following up on this. Thank you for your patience.

[2022-05-13 15:15] Coopem16 opened #92868 "Microsoft lists for Android."
Under "Required Approved app" it lists the Microsoft Lists App. However id does not indicate that iOS is the only application supported.
https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/concept-conditional-access-grant#require-approved-client-app
 Under "Required Application protection" it does show that Microsoft Lists is only supported for iOS.
 https://docs.microsoft.c

[2022-05-13 15:19] mbender-ms commented on #91562
#reassign: @mbender-ms

[2022-05-13 15:19] mbender-ms commented on #91854
#reassign: @mbender-ms

[2022-05-13 15:20] mbender-ms commented on #59747
Thanks @AbdullahBell
#reassign: @AbdullahBell

[2022-05-13 15:47] KarlErickson commented on #85242
Just merged a PR that fixes the ambiguous text.
#please-close

[2022-05-13 15:47] #85242 closed

[2022-05-13 15:51] nvankesteren commented on #91232
@jfreitas Why is this closed? I just had to do the exact same digging. Infuriating.

[2022-05-13 15:52] RyanHill-MSFT commented on #92848
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-13 15:53] RyanHill-MSFT commented on #92867
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-13 15:55] Banchio opened #92869 "loadBalancerIP instead of LoadBalancerIP, include section to grab principalId of the aks cluster"
Minor correction in the sample yaml: loadBalancerIP must be used instead of LoadBalancerIP (note different capitalization of first letter).
It would be useful, IMHO, to include how to retrieve objectId of the aks cluster identity so to use it in the role assignment. Something like the following would work:
[code]
Thanks, Simone

---
#### Document Details

⚠ *Do not edit this section. It is require

[2022-05-13 15:59] jfreitas commented on #91232
Hmm maybe I should've left it open..  It originally had an error (Azure does tell you the name of the exe but its not obvious) and wasn't sure if the issue was more my fault for not knowing enough about dotnet publish or the docs, so I closed it.

[2022-05-13 16:05] mbender-ms commented on #81106
#reassign: @mbender-ms

[2022-05-13 16:06] mbender-ms commented on #79662
#reassign: @mbender-ms

[2022-05-13 16:06] MarkStega commented on #92867
@RyanHill-MSFT Ryan - It may help to know that I started with [https://docs.microsoft.com/en-us/azure/app-service/tutorial-dotnetcore-sqldb-app](https://docs.microsoft.com/en-us/azure/app-service/tutorial-dotnetcore-sqldb-app?tabs=azure-portal%2Cvisualstudio-deploy%2Cdeploy-instructions-azure-portal%2Cazure-portal-logs%2Cazure-portal-resources) and that is the project that I am trying to modify...

[2022-05-13 16:06] mbender-ms commented on #79357
#reassign: @mbender-ms

[2022-05-13 16:06] mbender-ms commented on #78139
#reassign: @mbender-ms

[2022-05-13 16:06] mbender-ms commented on #77743
#reassign: @mbender-ms

[2022-05-13 16:07] mbender-ms commented on #77328
#reassign: @mbender-ms

[2022-05-13 16:07] mbender-ms commented on #87056
#reassign: @mbender-ms

[2022-05-13 16:07] mbender-ms commented on #84550
#reassign: @mbender-ms

[2022-05-13 16:08] mbender-ms commented on #84517
#reassign: @mbender-ms

[2022-05-13 16:09] mbender-ms commented on #84291
#reassign: @mbender-ms

[2022-05-13 16:09] mbender-ms commented on #84075
#reassign: @mbender-ms

[2022-05-13 16:09] mbender-ms commented on #89353
#reassign: @mbender-ms

[2022-05-13 16:09] mbender-ms commented on #88780
#reassign: @mbender-ms

[2022-05-13 16:10] mbender-ms commented on #90273
#reassign: @mbender-ms

[2022-05-13 16:11] larryclaman opened #92870 "sample cli script does not appear valid"
The sample script for copying a snapshot via the azure cli does not appear valid:

1. The variable `targetRegion` is not referenced, nor is the variable `name` used
2. It references the variable `targetSnapshotName` which is not defined.

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14d83138-aed1-8be0-ad3c-1ca5

[2022-05-13 16:14] Karishma-Tiwari-MSFT commented on #92856
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-05-13 16:16] mbender-ms commented on #74304
@greg-lindsay Can you take a look at this issue, and see if the product group can assist? Thanks.

[2022-05-13 16:17] ggailey777 commented on #91232
I agree this should be made more clear in our docs. #please-open

[2022-05-13 16:21] tomvcassidy commented on #92826
@kobulloc-MSFT Agreed. It looks like it should be "The AZ-spanning virtual machine scale set..." I think the hyphen makes it a bit clearer that "AZ spanning" describes the VMSS.

[2022-05-13 16:42] SubhMSFT opened #92871 "Incorrect values"
The lines "The above ReadDate = '2021-11-01' filter will eliminate the data corresponding to ReadDate values other than 2021-11-01 from scanning, during execution" should read, "The above ReadDate = '2020-11-27' filter will eliminate the data corresponding to ReadDate values other than 2020-11-27 from scanning, during execution".

The dates mentioned in the Python code and Query below do not match

[2022-05-13 16:49] meenasaravanan02 commented on #60428
Hi @xolve, We have included a-santamaria's suggestion in the doc in the PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/198186
#please-close this issue

[2022-05-13 16:49] #60428 closed

[2022-05-13 16:50] MartinJaffer-MSFT commented on #92821
Ahh, I think I see the confusion @DavidWHarvey .
The document says

However it does not indicate the next image is the "self-hosted integration runtime client" and not the "Azure data factory portal".  Also you are correct it does not give step-by-step instructions on where to look.

There is currently a hold on document updates, so I'll share instructions here, and later hand this over to the doc

[2022-05-13 16:58] MarileeTurscak-MSFT commented on #92868
@Coopem16
Thanks for your feedback! We will investigate and update as appropriate.

[2022-05-13 17:05] GeethaThatipatri-MSFT commented on #92871
Hi, @SubhMSFT Thanks for your findings, we will look into it and update as appropriate.

[2022-05-13 17:06] Anon4343 opened #92872 "Additional Reason for Login Error: The sign-in method you're trying to use isn't allowed."
The way the information is presented at : https://docs.microsoft.com/en-us/azure/active-directory/devices/howto-vm-sign-in-azure-ad-windows#mfa-sign-in-method-required

It would be helpful if the per-user Azure AD Multi-Factor Authentication is before the 'Your credentials did not work' section because the correct error message is in the previous picture, 'The sign-in method you're trying to use i

[2022-05-13 17:07] PriyankaRudramaina commented on #92869
Hello @Banchio,

Thank you for your feedback. We will investigate and update the thread further.

[2022-05-13 17:09] brittanyrowe commented on #92796
Thanks for catching this @dgdel04, the documentation will be updated shortly.

[2022-05-13 17:23] joshtransient opened #92873 "Please add information about the admin consent workflow"
This page has several screenshots of consent experiences, but no mention of the [admin consent workflow](https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/configure-admin-consent-workflow). Can we get at least a link added, at best a mention of admin consent and a screenshot?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2022-05-13 17:24] MonikaReddy-MSFT commented on #92863
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-05-13 17:31] timwarner-msft commented on #83736
Hi @rncwnd79, thanks for raising this issue. I'll add a link that explains how Azure Policy handles remediation to the "What is" page you referenced. This is the page you might be interested in: [Remediate non-compliant resources with Azure Policy](https://docs.microsoft.com/en-us/azure/governance/policy/how-to/remediate-resources)

Thanks, Tim

[2022-05-13 17:32] #83736 closed

[2022-05-13 17:35] sha-k-anand commented on #92836
Also, any reason why Purview needs an Azure AD account/password to scan Power BI tenant ?.  If an Azure AD App Registration /Service Principal has the same level of permissions as the Azure AD account -  can we not just use the App Registration's  Client ID/Secret to allow Purview to access  Power BI Admin APIS ?

[2022-05-13 17:40] asubmani opened #92874 "SecretProviderClass snippet is incomplete"
The YAML code snippet given in the section `Deploy a SecretProviderClass` is incomplete.

The current version will result in the NGINX POD stuck in containerCreating mode with issue [445](https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues/445)

If you are using the `'azureKeyvaultSecretsProvider-<clustername>'` user-assigned identity (this get's created when you enable the CSI

[2022-05-13 18:04] vmhenard opened #92876 "Create policy to block using connections Use-Case Clarification"
The docs are really good, easy to follow.

I think it would be useful to mention explicitly that the policy blocking api connection usage will not affect existing logic app with existing api connections. Another option could be to change the "Create policy to block using connections" title to something like "Create policy to block associating connections to logic apps".

Right now you have to read

[2022-05-13 18:05] MonikaReddy-MSFT commented on #92863
@RichYoung7 - it should work as described.

![image](https://user-images.githubusercontent.com/47833949/168341837-ee6942fb-43e9-40f7-aeb8-09b0bc2056b7.png)

Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-05-13 18:05] #92863 closed

[2022-05-13 18:08] JamesTran-MSFT commented on #92872
@Anon4343
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-05-13 18:13] JamesTran-MSFT commented on #92873
@joshtransient
Thanks for your feedback! We will investigate and update as appropriate.

[2022-05-13 18:13] SadiqhAhmed-MSFT commented on #92653
@dazinator Azure Disk backup is a crash-consistent backup solution that takes point-in-time backup of a managed disk using [incremental snapshots](https://docs.microsoft.com/en-us/azure/virtual-machines/disks-incremental-snapshots) with support for multiple backups per day.

Azure Backup offers side-by-side support for backup of managed disk using Disk backup and the [Azure VM backup](https://docs

[2022-05-13 18:13] suzizuber commented on #92862
Thank you for bringing this to our attention. I'm looking into this with co-authors for this article.

[2022-05-13 18:16] #92736 closed

[2022-05-13 18:38] MarileeTurscak-MSFT commented on #92842
@bastienperez
Thanks for your feedback! We will investigate and update as appropriate.

[2022-05-13 18:38] ShotokuTech opened #92878 "Error encountered when trying to use Import Synchronization Settings"
"An error occurred while importing your synchronization settings. Details: 'Could not find a part of the path 'C:\Users\myusername\desktop\data\mv.dsml'.'

Not sure why this path is of any interest? The Exported-ServerConfiguration has been copied to c:\temp on the server I am running AAD Connect on.

Source AAD Connect server is running Server 2012R2, AAD Connect Version 1.6.4.0
Target AAD Connec

[2022-05-13 18:47] PriyankaRudramaina commented on #92869
@Banchio,

It is already in the correct format. Please check below

![image](https://user-images.githubusercontent.com/95755055/168347740-939c144f-86a9-4ad0-ad50-8437949d04f2.png)

For the below second request, I will discuss with content author and make the necessary change accordingly.
$objectId=(Get-AzAksCluster -Id subscriptions/<subid>/resourceGroups/<rgName>/providers/Microsoft.ContainerServ

[2022-05-13 18:50] mbender-ms commented on #57366
I am creating a doc bug for the Azure Latency chart issuez. Since there are multiple issues related to this page, I am currently investigating this issue with the Product team and will be closing all the open issues.

#please-close

[2022-05-13 18:50] #57366 closed

[2022-05-13 18:51] mbender-ms commented on #71116
I am creating a doc bug for the Azure Latency chart issuez. Since there are multiple issues related to this page, I am currently investigating this issue with the Product team and will be closing all the open issues.

#please-close

[2022-05-13 18:51] #71116 closed

[2022-05-13 18:51] KranthiPakala-MSFT commented on #92860
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-05-13 18:55] dazinator commented on #92653
So to translate your response to answer to my question: "It's not possible to get an application consistent backup using Azure Disk Backup, you have to use Azure VM backup and as Azure VM backup doesn't support shared drives, you can't have application consistent backups of any VM with a shared drive meaning adding a shared drive to a VM has a serious repercussion which is not made obvious at the

[2022-05-13 18:58] mbender-ms commented on #73236
I am creating a doc bug for the Azure Latency chart issuez. Since there are multiple issues related to this page, I am currently investigating this issue with the Product team and will be closing all the open issues.

#please-close

[2022-05-13 18:59] #73236 closed

[2022-05-13 19:00] mbender-ms commented on #78155
I am creating a doc bug for the Azure Latency chart issues. Since there are multiple issues related to this page, I am currently investigating this issue with the Product team and will be closing all the open issues.

#please-close

[2022-05-13 19:01] mbender-ms commented on #81194
I am creating a doc bug for the Azure Latency chart issuez. Since there are multiple issues related to this page, I am currently investigating this issue with the Product team and will be closing all the open issues.

#please-close

[2022-05-13 19:01] #81194 closed

[2022-05-13 19:01] mbender-ms commented on #82608
I am creating a doc bug for the Azure Latency chart issuez. Since there are multiple issues related to this page, I am currently investigating this issue with the Product team and will be closing all the open issues.

#please-close

[2022-05-13 19:01] #82608 closed

[2022-05-13 19:02] mbender-ms commented on #84550
I am creating a doc bug for the Azure Latency chart issuez. Since there are multiple issues related to this page, I am currently investigating this issue with the Product team and will be closing all the open issues.

#please-close

[2022-05-13 19:02] #84550 closed

[2022-05-13 19:03] mbender-ms commented on #88780
I am creating a doc bug for the Azure Latency chart issuez. Since there are multiple issues related to this page, I am currently investigating this issue with the Product team and will be closing all the open issues.

#please-close

[2022-05-13 19:03] #88780 closed

[2022-05-13 19:03] timurengin opened #92879 "Possible Missing Operation"
I think the docs might be missing the operation **Update application – Certificates and secrets management** which is part of the _ApplicationManagement_ category.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f93b9e06-06c7-696e-6a04-d90281ccee6c
* Version Independent ID: a6968723-641f-12f4-9e0a-ff237c546e56
* Content

[2022-05-13 19:03] mbender-ms commented on #91562
I am creating a doc bug for the Azure Latency chart issuez. Since there are multiple issues related to this page, I am currently investigating this issue with the Product team and will be closing all the open issues.

#please-close

[2022-05-13 19:03] #91562 closed

[2022-05-13 19:04] mbender-ms commented on #91854
I am creating a doc bug for the Azure Latency chart issuez. Since there are multiple issues related to this page, I am currently investigating this issue with the Product team and will be closing all the open issues.

#please-close

[2022-05-13 19:04] #91854 closed

[2022-05-13 19:11] ChaitanyaNaykodi-MSFT commented on #92844
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-05-13 19:17] Jgolani opened #92881 "Misinterpretation of NAT rules"
[Enter feedback here]

The NAT rules shown at the branches in the diagram seem to convey that they are actually configured on the branch gateway. But that's not what is intended. Suggest correcting this either by 1) providing an explanation that this is just a logical view and all rules are actually configured on the VNet gateway, or 2) changing the diagram.

Thx,
jgolani@microsoft
---
#### Docume

[2022-05-13 19:17] mbender-ms commented on #86050
@duongau Are you able to assist with this from the AFD perspective?

[2022-05-13 19:20] #89176 closed

[2022-05-13 19:37] PriyankaRudramaina commented on #92696
@JoelCanteroGCO,

I have made the required changes to the documented line for the selection of Image type at the batch pool creation section.
The change corrects the statement to "Under Image Type, select Marketplace as the operating system and Publisher as microsoft-dsvm"

The changes are pending for publishing, they will be published shortly. Please check back after a few days. Feel free to tag

[2022-05-13 19:37] #92696 closed

[2022-05-13 19:38] PriyankaRudramaina commented on #92648
@Heidilohr - Could you please review this?

[2022-05-13 19:42] johndowns commented on #91090
@mjrich19 This docs change has been merged and should be published later today. Thanks for your help!

#please-close

[2022-05-13 19:42] #91090 closed

[2022-05-13 19:49] PriyankaRudramaina commented on #92608
@akhan-2020 Do you have any update for the previous comment?

[2022-05-13 19:59] meenasaravanan02 commented on #92826
Hi @johnthcall, We have made the corrections to the doc as per your feedback in the PR - https://github.com/MicrosoftDocs/azure-docs-pr/pull/198228
#please-close this issue.

[2022-05-13 19:59] #92826 closed

[2022-05-13 20:10] SunandaChowdhary commented on #92712
Hello, thank you for your response. I didnt use ant SDK so far. I referred to https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-protocols-oidc. Here a "Tip" is mentioned like:

[2022-05-13 20:10] PriyankaRudramaina commented on #92242
@felixtsem5 - Any update on the above?

[2022-05-13 20:16] nickludwig commented on #92712
@SunandaChowdhary - Yeah, that's the OIDC metadata endpoint which describes the configuration settings of the OIDC provider (Azure AD, in the case). You'd use this, for example, to get Azure AD's public keys when performing token validation.

What are you trying to use this endpoint for? I'm not sure I understand your question.

[2022-05-13 20:19] SunandaChowdhary commented on #92712
I want to find an endpoint which would return the URL to fetch profile image for an AAD account. For that I am going through various documentations. Aim is to find a graph URL or something which will fetch the profile image of logged in user. User can be gcc, global, EU, etc... So authentication is already done, now the ask is how to know the endpoint to fetch the profile image.

[2022-05-13 20:25] SaiKishor-MSFT commented on #92854
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-13 20:27] SaiKishor-MSFT commented on #92870
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2022-05-13 20:30] MartinJaffer-MSFT commented on #92821
@DavidWHarvey here's steps for the portal way.
For changing Auto-Update settings:

Step 1, enter the studio from portal
![image](https://user-images.githubusercontent.com/46612670/168383083-0c664bc5-e9f1-4bef-9bf8-1daf87e157e8.png)
Step 2, Click / go to Manage
![image](https://user-images.githubusercontent.com/46612670/168383391-b4d5964f-a4ed-4dd3-8ddc-0611dac6922a.png)
Step 3, Click on Integratio

[2022-05-13 21:01] mike-urnun-msft commented on #92876
Thank you for your feedback, @vmhenard! We have assigned this issue to the author to review further and take the next course of action.

[2022-05-13 21:04] MartinJaffer-MSFT commented on #92821
@DavidWHarvey The screenshot on the doc page is taken from the integration runtime interface on wherever it is installed.
I have one installed on my workstation, so in windows I pull up the start menu search bar and enter `integr`
![image](https://user-images.githubusercontent.com/46612670/168389206-25428e3a-af75-443c-a32c-58827043d5b6.png)
Opening the relevant result, it asks if I want to allow p

[2022-05-13 21:19] ChaitanyaNaykodi-MSFT commented on #92881
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-05-13 21:46] JamesTran-MSFT commented on #92878
@ShotokuTech
Thanks for your feedback! We will investigate and update as appropriate.

[2022-05-13 21:46] JamesTran-MSFT commented on #92879
@timurengin
Thanks for your feedback! We will investigate and update as appropriate.

[2022-05-13 22:29] khdownie commented on #92711
Thanks @Dekard - I agree with you, and I moved the AES-256 section:

https://docs.microsoft.com/en-us/azure/storage/files/storage-files-identity-auth-active-directory-domain-service-enable

@SumanthMarigowda this issue can now be closed.

[2022-05-13 22:54] pradorodriguez commented on #92834
Dear Team, I will close this issue since this was a problem with my account.
Seems like Azure Digital Twins did not like to interact external emails (in my case I was using an email xxx@outlook.com).

[2022-05-13 22:54] #92834 closed

[2022-05-13 22:54] pradorodriguez commented on #92834
Dear Team, I will close this issue since this was a problem with my account.
Seems like Azure Digital Twins did not like to interact external emails (in my case I was using an email xxx@outlook.com).

[2022-05-13 23:12] Grace-MacJones-MSFT commented on #92763
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2022-05-13 23:12] #92763 closed

[2022-05-13 23:19] nagulan0389 commented on #55588
@eliasvakkuri I'm having the same issue. I can set up private link/ endpoint and access through a VM hosted in the VNet where the private endpoints are deployed. But not when i try to access directly from my laptop using P2S VPN. Any update on this would be  highly appreciated

[2022-05-13 23:19] DavidWHarvey commented on #92821
Thanks.  I got past the issue.

On Fri, May 13, 2022, 12:50 PM MartinJaffer-MSFT ***@***.***>
wrote:

[2022-05-14 00:42] MarileeTurscak-MSFT commented on #92847
@michalczerwinski
Thanks for your feedback! We will investigate and update as appropriate.

[2022-05-14 00:43] MarileeTurscak-MSFT commented on #92851
@JorgMuskens
Thanks for your feedback! We will investigate and update as appropriate.

[2022-05-14 01:50] Karishma-Tiwari-MSFT commented on #92857
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-14 01:50] Karishma-Tiwari-MSFT commented on #92861
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-05-14 02:54] rectified95 opened #92884 "Cannot create AKS cluster from tutorial using suggested free Azure subscription."
Related to https://github.com/MicrosoftDocs/azure-docs/issues/45485 but in a different article.

Going through this tutorial the step - https://docs.microsoft.com/en-us/azure/aks/learn/quick-windows-container-deploy-powershell#create-an-aks-cluster - fails with an error about insufficient subscription quota for the requested VM size:
`New-AzAksCluster: The VM size of AgentPoolProfile:default is no

[2022-05-14 04:38] georgeenninful opened #92885 "Can the prerequisite about enabling "sshd" service be a link?"
[Enter feedback here]
Can you please have a link in the prerequisite below to help users who may need some guidance performing this step?
**Prerequisite**: Ensure the Arc-enabled server has the "sshd" service enabled.

 For e.g. the link could point to : https://docs.microsoft.com/en-us/windows-server/administration/openssh/openssh_install_firstuse

Thank you.
---
#### Document Details

⚠ *Do not

[2022-05-14 04:53] rajdhandus opened #92886 "What is the resource naming rules for Azure Confidential Ledger?"
Can you please add the naming rules for Azure Confidential Ledger?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 374ec8eb-64d4-3766-5c5e-39137a262ffd
* Version Independent ID: 3abeeae9-6854-651a-483c-a1673eea9f9f
* Content: [Resource naming restrictions - Azure Resource Manager](https://docs.microsoft.com/en-us/azure/

[2022-05-14 05:23] SadiqhAhmed-MSFT commented on #92653
@dazinator You got it right. Will relay your feedback to the product owner.

@v-amallick Please review the feedback and relay the same to the product team.

Closing this issue for now!

[2022-05-14 05:23] #92653 closed

[2022-05-14 06:46] horihiro opened #92887 "AuthN/AuthZ architecture pattern of Container Apps"
This documentation says that this AuthN/AuthZ feature is implemented by a [sidecar pattern](https://docs.microsoft.com/en-us/azure/architecture/patterns/sidecar).
![image](https://user-images.githubusercontent.com/4566555/168414023-55e72d61-1a95-4c6e-b3fc-821de39fd2d6.png)
https://docs.microsoft.com/en-us/azure/container-apps/authentication#feature-architecture

But it looks like an [ambassador pa

[2022-05-14 12:01] PriyankaRudramaina commented on #92884
@rectified95,

Thank you for your feedback. We will investigate and update the thread further.

[2022-05-14 14:27] saixiaohui opened #92888 "Couldn't get cert"
I followed the step and it failed to get the cert, here is the error from challenge

  Warning  Failed     14m   cert-manager  Accepting challenge authorization failed: acme: authorization error for <cluster>.eastus.cloudapp.azure.com: 400 urn:ietf:params:acme:error:connection: 20.85.161.100: Fetching http://<cluster>.eastus.cloudapp.azure.com/.well-known/acme-challenge/vRqpKpucmmJK4Y0nAdd-xs7OXc7

[2022-05-14 14:47] PriyankaRudramaina commented on #92888
@saixiaohui,

Thank you for your feedback. We will investigate and update the thread further.

[2022-05-14 16:28] Karishma-Tiwari-MSFT commented on #92885
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-05-14 16:29] Karishma-Tiwari-MSFT commented on #92886
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-05-14 16:31] Karishma-Tiwari-MSFT commented on #92887
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-05-14 18:59] shwetamathur7 commented on #92033
@lightupdifire,
Apologies for delay in response.
Revoking in resource tenant is meaningless for B2B users since their credentials are in the home tenant. Even if they can do that in resource tenant, the user can use his credentials from the home tenant and get another token. There is no use for the revocation during a password comprise, etc. Since credentials are in the home tenant, only the home

[2022-05-14 20:26] Manojmanu43 opened #92889 "Script activity is failing after some time"
[Enter feedback here]

Hi,

I am running script activity in ADF, the activity is failing after 30mins ,type of Query is Non-Query(It has both DML and DDL statements).
The error message is as below:

Error: User Configuration Error
Description: Execution Timeout Expired. The timeout period elapsed prior to completion of the operation or the server is not responding.
---
#### Document Details

⚠ *Do

[2022-05-15 01:52] felixtsem5 commented on #92242
No luck. I am trying this in my Azure Cloud Shell.

[code]

Also, it seems like the second block of code in the page (az aks snapshot create) is missing the **--cluster-id** parameter.

[2022-05-15 04:20] Karishma-Tiwari-MSFT commented on #92889
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-15 06:09] VladimirUsov commented on #61587
For ARM, use
"vnetSubnetID": "[concat(resourceId('Microsoft.Network/virtualNetworks',  parameters('vnetName')), '/subnets/default')]"
instead of
"vnetSubnetID": "[resourceId('Microsoft.Network/virtualNetworks/Subnets', parameters('vnetName'), 'default')]"
this will help to avoid this issue.

[2022-05-15 06:15] adiBiran commented on #92227
Thanks Christopher for reporting this.
I will update our documentation with PowerShell as well, and will come back to this thread once ready.

[2022-05-15 06:17] Badhatter1 opened #92891 "A1"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62bb99a4-4092-0202-48bf-4e61ee424faf
* Version Independent ID: a066de9a-42fb-2fcc-683d-2ffdc45fdf3d
* Content: [Azure Single Sign On SAML Protocol - Microsoft identity platform](https://docs.microsoft.com/en-us/azure/active-directory/develop/single-si

[2022-05-15 06:19] #92891 closed

[2022-05-15 07:02] batamig commented on #92645
Hi @guarismo, thanks for sending your feedback into docs!
These screenshots are meant to be examples, and we have work planned in our backlog to bring them all up to date.
To prevent double-tracking, I'm going to close this issue for now, but feel free to continue commenting as needed.

We appreciate your contributions to docs!
#please-close

[2022-05-15 07:02] #92645 closed

[2022-05-15 07:03] batamig commented on #92817
thanks @yairzarka :) great to see you here. As discussed over email, we'll be merging the two branches as soon as we get approval on the upgrade process from CxE.

[2022-05-15 07:06] Hareesh061 opened #92892 "New feedback"
[Enter feedback here]

good  for new learners..
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3de928ad-68c6-d30b-bc63-3354b76c149f
* Version Independent ID: cbd03b5d-7f6b-b483-6ddf-4fe4cde5e9ec
* Content: [Application Insights overview - Azure Monitor](https://docs.microsoft.com/en-us/azure/azure-monitor/app/app-insigh

[2022-05-15 07:08] bbabcock1990 opened #92893 "Classifer Module ARM not working on Raspberry Pi 4"
Hello,

I have followed the tutorial, and exported a ARM based model from Custom Vision. I attempt to upload this model to a Raspberry Pi 4 IoT Device however the classifier module keeps failing due to the following error.

![image](https://user-images.githubusercontent.com/32686288/168461463-6b07f3e2-fe22-46da-8385-385f8ebe4db9.png)

Can anyone point me in the right direction to fix this?

---
##

[2022-05-15 07:58] SahidAnowar opened #92894 "getting error while runnung: "az network vnet subnet update --resource-group $RES_GROUP --vnet-name $AKS_VNET --name $AKS_SUBNET --remove delegations 0""
ubnet /subscriptions/35914a7e-ca5b-4df1-a613-603e700a7ce1/resourceGroups/k21_AKS_VN_Group/providers/Microsoft.Network/virtualNetworks/myVnet/subnets/myVirtualNodeSubnet requires any of the following delegation(s) [Microsoft.ContainerInstance/containerGroups] to reference service association link /subscriptions/35914a7e-ca5b-4df1-a613-603e700a7ce1/resourceGroups/k21_AKS_VN_Group/providers/Microsoft

[2022-05-15 08:41] bmansheim commented on #92181
I'm going to close this issue. Please contact Support for additional assistance.
#please-close

[2022-05-15 08:41] #92181 closed

[2022-05-15 08:45] gregoks commented on #89605
Hi #KSchlobohm!

I have tried your way with the following code:

[code]

Added the following roles:

![image](https://user-images.githubusercontent.com/15245808/168464389-b2339f3a-9d2c-4dfa-bc46-da314de23ada.png)

But when I try to make any API calls I get 403, for example:

Authorization failed.
Status: 403 (Forbidden)

Content:
{"error":{"code":"","message":"Authorization failed."}}

Headers:
Ca

[2022-05-15 09:26] Usamawahabkhan commented on #92824
from azure.keyvault.secrets import SecretClient
from azure.identity import DefaultAzureCredential

keyVaultName = "<your-unique-keyvault-name>"
KVUri = "https://{keyVaultName}.vault.azure.net"
secretName = "mySecret"

credential = DefaultAzureCredential()
client = SecretClient(vault_url=KVUri, credential=credential)
retrieved_secret = client.get_secret(secretName)

print("The value of secret '{sec

[2022-05-15 10:43] adiBiran commented on #92227
I'm closing the issue as the PowerShell commands will be documented as part of the development process once the new commands will be published.
Thanks

[2022-05-15 10:44] #92227 closed

[2022-05-15 11:28] KrishnaG-MSFT commented on #92892
@Hareesh061 Thanks for sharing the feedback. Glad to know that th document is helpful.

[2022-05-15 11:28] #92892 closed

[2022-05-15 11:41] batamig commented on #92817
#please-close

[2022-05-15 11:41] #92817 closed

[2022-05-15 11:44] batamig commented on #91337
Hi @guarismo - thank you for writing into docs.

Please direct your question about the current sensor to ms-horizon-support@microsoft.com.

We're in touch with the team about this feature and will update the docs as needed in a coming publish.

I'm going to close this issue for now. Thanks for your contribution to docs!
#please-close

[2022-05-15 11:44] #91337 closed

[2022-05-15 11:47] batamig commented on #91914
Hi @J227668, thanks for writing into docs!
We've opened a backlog item for us to check this with the team, and will make any updates required in a coming publish.
In the meantime, I encourage you to ask your question directly in our TechCommunity forum here:
https://techcommunity.microsoft.com/t5/microsoft-defender-for-iot/bd-p/MicrosoftDefenderIoT

I'm going to close this issue for now to prevent

[2022-05-15 11:47] #91914 closed

[2022-05-15 13:50] MauricioZa opened #92895 "Missing part for resetting password manually"
[Enter feedback here]

In the part:
https://docs.microsoft.com/en-us/azure/storage/files/storage-files-identity-ad-ds-enable#enable-aes-256-encryption-recommended

There is a missing part in your script:

It is **currently**:
![image](https://user-images.githubusercontent.com/34451270/168476190-dd7a218a-ff32-4c2c-850a-612933ce9cba.png)

But it **should be**:
![image](https://user-images.githubuser

[2022-05-15 14:33] AjayKumar-MSFT commented on #92728
DeanGross,  The doc has been updated as per your feedback and the changes are published.
 Your feedback has also been shared with the content owner (@awysza) for further review and update the document as appropriate (for other products) in the next doc refresh cycle.

[2022-05-15 14:33] #92728 closed

[2022-05-15 14:36] gabriel-rech commented on #66335
Hi a little late, but this helped me.

https://charbelnemnom.com/log-in-with-rdp-to-a-windows-azure-vm-using-azure-ad/

[2022-05-15 14:59] PaoloCastAway opened #92896 "Unclear statement in "Read access to data in the secondary region""
Document states:

`Geo-redundant storage (with GRS or GZRS) replicates your data to another physical location in the secondary region to protect against regional outages. However, that data is available to be read only if the customer or Microsoft initiates a failover from the primary to secondary region.`

So, as per my understanding of this statement, it looks like one just gets a read-access af

[2022-05-15 15:53] teebu commented on #35057
3 years later, its still unreliable and as confusing as before.

I created a service bus trigger app.

[code]

host:
[code]

`WEBSITE_MAX_DYNAMIC_APPLICATION_SCALE_OUT` = 1

I expect to see 5 requests/minute. I'm seeing 1 request a minute.

[2022-05-15 17:37] Karishma-Tiwari-MSFT commented on #92891
Looks like you have closed the issue.
If there are further questions, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2022-05-15 17:38] Karishma-Tiwari-MSFT commented on #92893
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-15 17:39] Karishma-Tiwari-MSFT commented on #92894
Thanks for posting your query. This azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions, etc.) so if issue is intended to update / correct / enhance anything in an Azure document then please share Azure document link / URL and share the feedback related to it.

[2022-05-15 17:41] Karishma-Tiwari-MSFT commented on #92896
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-15 17:42] Karishma-Tiwari-MSFT commented on #92895
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-15 18:15] mawoodli opened #92899 "Not Current"
[Enter feedback here]

I realize that although the app does run, it runs into issues.  The assemblies are deprecated and took a while to figure out the new approach. Suggest updating this article to use the newer, non-deprecated bits.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 861d9082-7d07-59e9-adae-336827cd4eb6
*

[2022-05-15 18:49] kobulloc-MSFT commented on #92899
@mawoodli Thank you for bringing this to our attention!  I've assigned this to the document author for further review.

[2022-05-15 21:46] DeanGross144 opened #92900 "Step 14 - request for more detail"
Please provide guidance about how we should confirm the existence of the resources that are supposed to be created in GCP.  Those of us who are not familiar with GCP could use some additional instructions.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9132fa3-434e-8339-b5e4-5ecc924d8f63
* Version Independent ID: 365c0

[2022-05-15 21:58] johndowns commented on #89176
@veronicapetersen Thanks for your suggestion - I have updated the doc with the Microsoft Graph SDK cmdlets.

[2022-05-15 22:04] DavidSun20220 opened #92901 "Failed when getting token"
Hi,

I followed strictly the tutorial and when I reached the last step: Get token, I failed.
![image](https://user-images.githubusercontent.com/101605312/168495704-140cd726-7468-415e-9b66-0c914c52d400.png)
Btw, I used Postman and I did nothing on Authorization, Headers, Pre-request Script or Tests tabs.

Did I miss anything?

Thanks,
David

---
#### Document Details

⚠ *Do not edit this section. I

[2022-05-16 00:15] MonahanAJ opened #92902 "Incorrect link for Set-AzEnvironment"
Issue is at Step 7
https://docs.microsoft.com/en-us/azure/databox-online/azure-stack-edge-gpu-connect-resource-manager?tabs=Az#step-7-set-azure-resource-manager-environment

At sub-step 2
For more information, go to [Set-AzEnvironment](https://docs.microsoft.com/en-us/powershell/module/azurerm.profile/set-azurermenvironment?view=azurermps-6.13.0&preserve-view=true).

It should be linked to (Unsure

[2022-05-16 00:59] Infinitism opened #92903 "Improve documentation on device to IoT Hub communication"
The documentation is quite bad. These "sample" codes on github are quite complicated.

Google Iot does a stellar job with it.

Azure IoT hub communicates over MQTT. Why not list the message topic and the telemetry topic that we could use any MQTT client to connect with?

MQTT should be the same across Google/Azure/AWS.

https://cloud.google.com/iot/docs/how-tos/mqtt-bridge#iot-core-mqtt-auth-run-n

[2022-05-16 01:02] ram-msft commented on #92693
@[kyleharperSAIT Thanks, Please upgrade the client library with the following command : pip install --upgrade azure-cognitiveservices-vision-computervision

We are able to successfully run the [sample](https://github.com/Azure-Samples/cognitive-services-quickstart-code/blob/master/python/ComputerVision/ComputerVisionQuickstart.py) without import error as shown below.

![image](https://user-images.

[2022-05-16 01:02] ram-msft commented on #92693
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-05-16 01:02] #92693 closed

[2022-05-16 01:06] ram-msft commented on #92743
Thanks, @jboback Can you please review and help with the document update.

[2022-05-16 02:02] AshokPeddakotla-MSFT commented on #92903
@Infinitism Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-05-16 02:41] Karishma-Tiwari-MSFT commented on #92901
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-05-16 02:51] Karishma-Tiwari-MSFT commented on #92902
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

Thanks for improving our documentation! Just so you know, it's also possible to make these changes yourself, if you are interested. Doing so will improve our documentation, and it will add you as a contributor to the document.
In case you're interested, these are the steps to do so:
1.	Na

[2022-05-16 02:51] #92902 closed

[2022-05-16 03:15] Karishma-Tiwari-MSFT commented on #92900
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-05-16 03:35] vicancy commented on #92841
Thanks for reporting the issue! Really apprieciated.

[2022-05-16 04:10] #92238 closed

[2022-05-16 04:19] ShaikMaheer-MSFT commented on #92773
@lrtoyou1223 Could you please validate customer feedback of adding link to download OpenJDK from internet? and update document as appropriate. Thank you.

[2022-05-16 04:27] ninallam commented on #92827
Sure @skeeler we will update the documentation to add a note.

[2022-05-16 04:44] ninallam commented on #92861
Hi @rogiersb currently Azure Load Testing does not support JMeter user properties. We are working on this to enable support in the coming weeks. We will update our documentation one it is available.
cc: @Nagarjuna-Vipparthi

[2022-05-16 05:10] SadiqhAhmed-MSFT commented on #92803
@ramuvr Checking in to see if the above answer helped. Let us know if there are still any additional issues we can help with.

[2022-05-16 05:12] SadiqhAhmed-MSFT commented on #92765
@ApeironThanatos We haven't heard back from you, so we will now close this issue. If this remains an issue, please reply and we will gladly continue the discussion.

[2022-05-16 05:12] #92765 closed

[2022-05-16 05:16] SadiqhAhmed-MSFT commented on #92742
@TarekNabeel Sorry for the delay.
Azure file share backup does not send backups to Vault. Which means for replication data, only snapshots which are stored locally will be replicated. However they will not be available based on what replication type the storage account is. For GRS, it will replicate the snapshots as well however if the snapshot is deleted in primary, it will also get deleted in se

[2022-05-16 05:48] SadiqhAhmed-MSFT commented on #92542
@MaggiePucciEvans FYI

[2022-05-16 05:49] #92841 closed

[2022-05-16 06:07] ShaikMaheer-MSFT commented on #92774
@afogarty85 Thank you for feedback. Feedback was given on below document. But It looks that your feedback is specific to some copy data tool template which generates a complete pipeline automatically after setting configurations.
https://docs.microsoft.com/en-us/azure/data-factory/connector-azure-databricks-delta-lake?msclkid=688d3983d16a11eca66d885cebbff797&tabs=data-factory

If my above understa

[2022-05-16 06:10] ShaikMaheer-MSFT commented on #92836
@chanuengg Could you please validate customer feedback to enhance details on the permission that needs to be granted for "App Registration" on the Power BI side? and update document as appropriate. Thank you.

[2022-05-16 06:14] ShaikMaheer-MSFT commented on #92889
@Manojmanu43 Could you please try increasing timeout period in script activity and see if that helps.

Please note, GitHub forum is dedicated for docs related issues. For any technical queries or clarifications, we encourage to utilize Microsoft Q & A platform. Kindly raise your query on [Microsoft Q&A Platform](https://docs.microsoft.com/en-us/answers/index.html)

[2022-05-16 06:15] sooch-msft opened #92905 "Create-RunAsAccount.ps1 not works because of AAD AppId URI changes."
[Enter feedback here]
Create-RunAsAccount.ps1 written in this [doc](https://docs.microsoft.com/en-us/azure/automation/create-run-as-account#powershell-script-to-create-a-run-as-account), not working as expected because of the change in [AAD AppId URI changes](https://techcommunity.microsoft.com/t5/azure-tools-blog/azure-active-directory-breaking-change-impacting-azure-cli-and/ba-p/2848388).

In th

[2022-05-16 06:35] Sharmistha-Rai commented on #92799
Hi @Tolits0401 - as of today, if a customer wants to enable ASR on a Stack Hub VM to failover into Azure, then they will have to use the VMware scenario steps to do so. The support for Hub-to-Hub DR is under private preview and is not published in our public documentation.

[2022-05-16 06:36] Sharmistha-Rai commented on #92799
Thus, using the same steps as that for VMware is correct.

[2022-05-16 06:48] SwathiDhanwada-MSFT commented on #92905
@sooch-msft Thanks for your comment. We will review the issue and get back to you shortly.

[2022-05-16 06:49] Vincent0818 opened #92906 "The explanation in regards to MS egress routing was wrong"
This statment was false and confirmed by WAN PG team. this is actually only for premium service etc Teams or else, not for standard service etc public IP of VM, hence it would result in confusion as too absolute. following the product we are talking about here, it s better clarify this part as egree would be the pop closest to Dest which is Chicago location. better double check and get this correc

[2022-05-16 06:54] #92738 closed

[2022-05-16 07:09] RichYoung7 commented on #92863
it doesn't work when using the template and parameters files provided.
it is missing the JSON for the resource group array so you have to paste the array values in tuples rather than use the parameters file.
The attached file works.
`{
    "$schema": "https://schema.management.azure.com/schemas/2018-05-01/subscriptionDeploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {

[2022-05-16 07:12] lightupdifire commented on #92033
@shwetamathur7
Thanks for the confirmation! It takes time to find answers in documents, maybe this document can add a link to the Guest user section or explain how this command applies or not to the Guest user scenario. And of course, it is strange that we cannot Protect our Tenants except by using the Block policy or Disable policy. I understand the Authentication flow but look at it from the Ten

[2022-05-16 07:12] #92033 closed

[2022-05-16 07:33] nkumars commented on #92641
@JamesTran-MSFT , sorry for the delay, our requirement is almost similar to the one FB has today, wherein one could login using their **username** or **email** or even **Phone number**. In our world, usernames are simple alphanumeric strings with limited special characters like period (.), hyphens (-) or underscore (_) in between.

[2022-05-16 07:46] red-erik commented on #91718
Hello ,
I'm referring to the section:
"Scenario: Superseded update indicated as missing in Update Management" where you say to decline updates from WSUS but we don't have WSUS at all, only Update Manager solution so we don't have a solution for that.
Regards,

Red.

[2022-05-16 07:47] GitaraniSharma-MSFT commented on #92906
@Vincent0818 , thank you for the feedback. We have assigned this to the content owner/author for review.

@asudbring , for your review.

[2022-05-16 07:55] SnehaAgrawal-MSFT commented on #92667
@gwu70ca Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2022-05-16 07:58] SnehaAgrawal-MSFT commented on #92732
@akhudairymicrosoft Thanks for reaching here! Just checking if you have chance to see Heidi's above comment, Let us know.

[2022-05-16 08:06] ayummatsu opened #92907 "About VPN Gateway"
[Enter feedback here]
Hi This is Ayumi.

I was looking at the documentation for VPN gateways.
The documents say that the throughput of a single gateway has a  "1.25Gbps limit".
However I think that this is old information and that the current limit in Generation2 is 10Gbps.

https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-about-vpn-gateway-settings#benchmark
-----
IPsec limits the t

[2022-05-16 08:18] wkoeter opened #92908 "Incorrect AzureWebJobsStorage__accountName example for Identity Based connections"
This table

| Option      | Suggested value  | Description |
| ------------ | ---------------- | ----------- |
| **Name** |  AzureWebJobsStorage__accountName | Update the name from **AzureWebJobsStorage** to the exact name `AzureWebJobsStorage__accountName`. This setting tells the host to use the identity instead of looking for a stored secret. The new setting uses a double underscore (`__`), whic

[2022-05-16 08:19] akhudairymicrosoft commented on #92732
hi @SnehaAgrawal-MSFT .. I had a chat with Heidi over teams :) ... please feel free to reach out to me there as well. Basically the links were provided to me by Derek Legenzoff from Product Group. I would strongly advise to reach out to him to validate the links and get his confirmation as he could have an update on that. Let me try to tag him here! @dereklegenzoff

[2022-05-16 08:36] nagulan0389 opened #92909 "Unable to connect to Synapse workspace on Private link using P2S VPN"
I have set up synapse private link & endpoint and a VM (without Public IP) in a same subnet. Also created a P2S VPN on the same VNet.

I can connect to the VM with the Private IP. I can also access synapse through the VM, but not when I try to access directly from my laptop using P2S VPN.

Any update on this would be highly appreciated

https://docs.microsoft.com/en-us/azure/synapse-analytics/secu

[2022-05-16 08:40] akhudairymicrosoft commented on #91180
hi @dereklegenzoff , was this updated? I have another case and wanted to send a link to cx but I am not able to find the update here nor on  https://docs.microsoft.com/en-us/azure/search/search-get-started-bicep

[2022-05-16 08:47] Cap-JaTu opened #92910 "Databricks SSH into driver node not working when using containers"
Page describing how to enable SSH-access into Databricks (Apache Spark) driver node isn't accurate.

First problem is, when running Databricks on Microsoft hosted VNet SSH-option isn't available at all. Altough this is accurate functionality, this documentation doesn't reflect any of this.

Second problem, when doing VNet Injection (https://docs.microsoft.com/en-us/azure/databricks/administration-

[2022-05-16 08:58] dominicbetts commented on #92858
Hi @rduke-cfpwood - thanks for your interest in this. At the moment the source code isn't publicly available - there are plans to make it opensource, but I don't have any information about timescales for this to happen.

There are plenty of IoT Hub/Central client sample applications with source code available for multiple platforms and languages - start here: https://docs.microsoft.com/azure/iot-d

[2022-05-16 08:58] dominicbetts commented on #92858
#please-close

[2022-05-16 08:58] #92858 closed

[2022-05-16 09:15] Balamurugan-dot commented on #92488
Hi,

Any update on this please?
Thanks!

[2022-05-16 09:15] AnuragSharma-MSFT commented on #92730
@sinclr4 Thanks for your patience. I can access the link without any issues. Could you please try once again?

<img width="843" alt="image" src="https://user-images.githubusercontent.com/66360845/168559912-edf34699-21d9-4bb7-8022-dc82e27e11ae.png">

[2022-05-16 09:24] DenisBalan commented on #92820
Same for us!

[xUnit.net 00:00:03.56]     Tests.Mapping_Should_Be_Fine [FAIL]
  Failed Tests.Mapping_Should_Be_Fine [65 ms]
  Error Message:
   System.Reflection.ReflectionTypeLoadException : Unable to load one or more of the requested types.
Method 'LogFunctionStarted' in type 'WebJobs.Host.Storage.Logging.PersistentQueueLogger' from assembly 'Microsoft.Azure.WebJobs.Host.Storage, Version=3.0.14.

[2022-05-16 09:25] ffarinha-msft opened #92911 "Misleading info about the use of Manual Sync triggers on External package URL deployment"
On the current document we can read the following:
![image](https://user-images.githubusercontent.com/92974977/168558886-a409e597-bfcb-4265-a124-1336345e6c4c.png)

But in fact a restart is always needed for loading the new package change, and the docs currently leads us to understand that a simple call to the sync triggers API is enough for the new code/package to be loaded without a restart which

[2022-05-16 09:38] SumanthMarigowda commented on #92711
@Dekard We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-05-16 09:38] #92711 closed

[2022-05-16 09:41] SumanthMarigowda commented on #92837
@HoChiPants Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-05-16 09:49] #92854 closed

[2022-05-16 09:59] AnuragSharma-MSFT commented on #92835
@laneyvb Thanks for your patience, we are checking on this and will get back at the earliest.

[2022-05-16 10:02] ramuvr commented on #92803
Thanks @SadiqhAhmed-MSFT Makes sense, I just hoped it was clear in the backup article rather. We can close this issue.

[2022-05-16 10:05] BlurmeUnique opened #92913 "Unclarity and missing troubleshooting for the crucial part of the site about entering "HTTPSampler.domain" value"
[Enter feedback here]
Hi,
it's unclear to me which value from the Function App Details you want to add to "HTTPSampler.domain"

Is it  "invoke_url_template": "https://tcf-dev4-mmmatch.azurewebsites.net/api/entermatchmaking_loadtesting"

What is the exact value to add to the "HTTPSampler.domain" ?
Is it "tcf-dev4-mmmatch.azurewebsites.net/api/entermatchmaking_loadtesting" ?

If we run the test and

[2022-05-16 10:06] sanket-borhade opened #92914 "Node.js version confusion for single tenant logic apps"
[Enter feedback here]

There are two different mentions about the compatiable node.js version for single tenant logic apps on this page.
They are as below.

Uses Node.js version 8.11.1 for [multi-tenant based logic apps](https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-overview) or [Node.js versions 12.x.x or 14.x.x](https://nodejs.org/en/download/releases/) for [single-tenant based lo

[2022-05-16 10:12] SwathiDhanwada-MSFT commented on #92467
@Vikram1988 I verified by downloading the latest version as suggested by you. I am getting the version that's documented in the article. Was there any change made to the link ?

<img width="601" alt="image" src="https://user-images.githubusercontent.com/48976275/168570631-280c2210-f12c-4ce1-84cf-7b4be0c956de.png">

[2022-05-16 10:22] GitaraniSharma-MSFT commented on #92907
@ayummatsu , thank you for your feedback. We'll review this and get back to you shortly!

[2022-05-16 10:24] BlurmeUnique commented on #92913
Ok, might be we have to lower the "AuthorizationLevel" of that function we want to call.

[2022-05-16 10:28] ntrogh commented on #92913
@BlurmeUnique Thanks for reaching out. Depending on the authorization level, you may need to specify the function key in the HTTP request. If you set anonymous auth level, it should work fine with just the URL. Make sure to not include the `https` prefix in the script.

[2022-05-16 10:29] ntrogh commented on #92913
#assign: @ntrogh

[2022-05-16 10:44] AbbyMSFT commented on #92766
Hi @alpinedelight,
I have replaced the screenshots toward the top of the article. I replaced the first one with an expandable screenshot. I hope this helps.
I am going to close this issue now.
Thanks for contributing toward the quality of our documentation!
Abby
#please-close

[2022-05-16 10:44] #92766 closed

[2022-05-16 11:07] Fafa4 opened #92915 "Wrong PowerShell environment"
The PowerShell commands in https://docs.microsoft.com/en-us/azure/storage/files/storage-files-identity-auth-active-directory-domain-service-enable?tabs=azure-portal#recommended-use-aes-256-encryption should not be run in Azure PowerShell but in Azure ADDS Powershell.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 100a0

[2022-05-16 11:14] gbmarimuthu commented on #65507
Well Java variables only supports special character "_". We need to change "-" to "_"

[2022-05-16 11:14] lightupdifire commented on #90594
@Givary
I will do, for a moment, please look into this interesting behavior, maybe can understand without extra mail:

1. If use policy to Include->DeviceOwnerShip -eq Personal
![image](https://user-images.githubusercontent.com/39700914/168580358-2d7431f9-41e1-4f5d-acce-71ef436e79d8.png)

Then it shows "Deprecated":
![image](https://user-images.githubusercontent.com/39700914/168580436-66383ab7-2df

[2022-05-16 11:23] ecoffman opened #92916 "NS Changed"
[Enter feedback here]

I don't know what I did but the NS Record changed causing my app no longer to work. There really should be documentation to explain what would cause the NS record to change.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38109b47-d859-83f2-3a46-e207cfcc5c3f
* Version Independent ID: fb0c04d2-4f39

[2022-05-16 11:26] BlurmeUnique commented on #92913
a) Can you please confirm that we should pass in the "invoke_url_template" value without "https://" ?

b) We are getting this error: "java.net.MalformedURLException,Non HTTP response message: Illegal character found in host: '/'"
We tried using // or \ instead but that doesn't work either unfortunately

[2022-05-16 11:39] francisjjp commented on #47531
Hello @su-jie . Could you put the link where this issue is fixed. The job script compiles good but I have same problem with VScode. I indicate an input as "Reference data" and when I run local job in VScode it put following:

![imagen](https://user-images.githubusercontent.com/18550654/168584311-897cb29e-1002-45e3-b5b7-90a36e3ecbd7.png)

This is the Job.

![imagen](https://user-images.githubuserco

[2022-05-16 12:00] SreejaBhattacharya-MSFT commented on #92845
Hi @suzizuber , could you please provide your insights on this?

[2022-05-16 12:08] ShaikMaheer-MSFT commented on #92910
@Cap-JaTu Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-05-16 12:15] MonikaReddy-MSFT commented on #92374
@dodge1350-frp -  I am currently looking into this and have reached out to product team. I will get back to you as soon as I have an update. Thank you

[2022-05-16 12:16] SreejaBhattacharya-MSFT commented on #92796
@dgdel04 , could you please elaborate on the exact documentation bug that you are noticing here?

[2022-05-16 12:26] purijatin opened #92917 "synapseutils is missing in the list"
For spark projects that publish a jar with a set of dependencies. Usually, there is a need to include `synapseutils`.  This is needed at compile time.

I personally had to struggle to determine the name of this Jar. After lots of Google Search, arrived at the name, to have a `provided` dependency in my project.

Would have saved me time, if the jar name atleast was mentioned on this page

---
####

[2022-05-16 12:53] ntrogh commented on #92913
Apologies for the confusion. I'll update the docs to make things more clear.

a) For the **HTTPSampler.domain** value, you put the domain name: tcf-dev4-mmmatch.azurewebsites.net
b) Because the target URL has a sub path, you need to fill in the **HTTPSampler.path** information: /api/entermatchmaking_loadtesting

That's how the [JMeter HTTPRequest sampler](https://jmeter.apache.org/usermanual/compo

[2022-05-16 12:57] Venkateshdodda-MSFT commented on #92914
@sanket-borhade Thank you for your feedback! We will review and update as appropriate.

[2022-05-16 12:58] ynguyenluat opened #92918 "Error in blob_sas_token value and cutomize plot"
Replace:
blob_sas_token = r"?st=2019-02-26T02%3A34%3A32Z&se=2119-02-27T02%3A34%3A00Z&sp=rl&sv=2018-03-28&sr=c&sig=XlJVWA7fMXCSxCKqJm8psMOh0W4h7cSYO28coRqF2fs%3D"
by
blob_sas_token = r"

In Customize Plot
Replace
source (always null)
by
category
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 355fba0e-958e-f572-18c2-892c9

[2022-05-16 13:09] DTInTheCloud opened #92919 "Doc references "Azure service dependency documentation" which apparently does not exist"
[Enter feedback here]
Customer asked about the "Azure service dependency documentation" mentioned in the document, but after asking internally to multiple sources, nobody could point to where or what this document actually is. If that is the case, we should remove the reference to document to prevent similar requests in the future. Or, if it does exist (possibly under a different name or something

[2022-05-16 13:16] BlurmeUnique commented on #92913
Perfect, thank you very much. Works!

[2022-05-16 13:20] relcodedev opened #92920 "libgconf2-4 prerequisite should be libgconf-2-4"
[Enter feedback here]

libgconf2-4 should be libgconf-2-4 in the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06b6cadc-f93d-75de-7611-b1e3d80917e2
* Version Independent ID: bcf194d8-3442-b284-576f-407af9ca1067
* Content: [Azure Storage Explorer troubleshooting guide](https://docs.microsoft.com/en-us/az

[2022-05-16 13:25] MasayukiOzawa opened #92921 "Incorrect description of log file output path"
[Enter feedback here]
The output path of the log file is listed as follows

Isn't it the following path correctly?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4eee05d6-c3fc-12f4-2e1e-792d2b880de5
* Version Independent ID: 7736898b-fc4a-ec24-3485-819450964c67
* Content: [Azure Monitor Dependency virtual machine exten

[2022-05-16 13:38] ntrogh commented on #92913
Thank you for your feedback! 🙏 I'll now have this issue closed.

[2022-05-16 13:38] ntrogh commented on #92913
#please-close

[2022-05-16 13:38] #92913 closed

[2022-05-16 13:54] kobulloc-MSFT commented on #92921
@MasayukiOzawa Thank you for your feedback!  We are reviewing the log path and will get back to you shortly.

[2022-05-16 13:57] GitaraniSharma-MSFT commented on #92916
@ecoffman , thank you for your feedback. We have assigned this to the content owner/author for review.
Could you please let us know if you raised a support request for this issue?

[2022-05-16 14:05] KevinMaatman opened #92922 "Azure monitor of multiple shares in one storage account"
Hello,

I'm trying to use the Get-AzMetric powershell command in order to get the used capacity of each share in our storage account. I do so by performing the following command:

_Get-AzMetric -ResourceId "/subscriptions/{ID}/resourceGroups/{resource}/providers/Microsoft.Storage/storageAccounts/{storageaccountname}/fileServices/default" -MetricName "FileCapacity" -DetailedOutput_

However, this o

[2022-05-16 14:19] TorquinDSL opened #92923 "Page needs updating"
This page needs to be updated. I found some actions in the wrong order and the step-by-step process fails because of that. I also found that the lookup fails if there are no changed records in the CDC table because the function called, cdc.fn_cdc_get_net_changes_* requires non-null parameters and if there are the changed records in the CDC table, the function, sys.fn_cdc_map_time_to_lsn, returns a

[2022-05-16 14:27] KSchlobohm commented on #89605
I used "Search Index Data Reader" when I tested this.

[2022-05-16 14:27] Elegast1980 opened #92924 "Tutorial ER association using VWAN inconsistency"
Dear,

I found a msall inconsistency on this page. -> the "prerequisite" sections says "The ExpressRoute circuit must be a PREMIUM or STANDARD circuit in order to connect to the hub gateway."

When scrolling down on the page, to the section "To connect by redeeming an authorization key" the screenshot says "only PREMIUM expressroute circuits may be associated with a virtual hub. ..."

Is it possib

[2022-05-16 14:35] v-amallick commented on #92803
@ramuvr - Thanks for sharing your views. We will check the possibilities for this document update.

[2022-05-16 14:38] jason1444 opened #92926 "User admin deletion attempt"
It looks like I can't delete a user in a commercial Azure AD tenant with the User admin role if the user is in a group assigned to an Azure AD enterprise SSO application.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0767aac4-fcd9-eaac-2c30-8f17d8eadd92
* Version Independent ID: a380a828-03f9-e037-3a62-e4165fda7cb6
*

[2022-05-16 14:48] su-jie commented on #47531
@Xu ***@***.***> can you look into this?

-Jie

From: francisjjp ***@***.***>
Date: Monday, May 16, 2022 at 19:39
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Jie Su ***@***.***>, Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Can't join on local reference input (#47531)

Hello @su-jie<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fsu-jie&data=05%7C01

[2022-05-16 15:01] #92780 closed

[2022-05-16 15:03] timlt commented on #92903
#please-close

[2022-05-16 15:03] #92903 closed

[2022-05-16 15:04] rduke-cfpwood commented on #92858
I would agree that there is a good amount of Azure IOT sample info out there, except for developing on iOS. I was hoping that your example app would give me a good framework to start from without going back to first principles.

Regards,

Rob.

From: Dominic Betts ***@***.***>
Sent: Monday, May 16, 2022 3:59 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Rob Duke ***@***.***>; Mention ***@***.**

[2022-05-16 15:16] tfitzmac commented on #92754
@naeisner - thanks for this suggestion. I will make those changes.

[2022-05-16 15:21] HeidiSteen commented on #91180
The doc update was made to the feature doc for private endpoint.  I can make a quick edit on the bicep doc and ARM doc to say that only those properties included in the template are used in the deployment.  If more customization is required, such as a setting up network properties or a private endpoint, you can update the search service configuration once it's deployed.

Question for Derek, do you

[2022-05-16 15:25] baanders commented on #92834
Thanks @pradorodriguez for the follow-up and for closing the issue.
In case it's helpful, this troubleshooting article about 404 errors across tenants might apply to you: [Troubleshoot failed service request: Error 404 (Sub-Domain not found)](https://docs.microsoft.com/azure/digital-twins/troubleshoot-error-404)

[2022-05-16 15:25] baanders commented on #92834
Thanks @pradorodriguez for the follow-up and for closing the issue.
In case it's helpful, this troubleshooting article about 404 errors across tenants might apply to you: [Troubleshoot failed service request: Error 404 (Sub-Domain not found)](https://docs.microsoft.com/azure/digital-twins/troubleshoot-error-404)

[2022-05-16 15:27] SteveWohl commented on #92835
@laneyvb

Hi Elaine. I made the fix in the FHIR service overview article by removing the sentence containing "public preview" in it. This update to the article is staged in PR [195690](https://github.com/MicrosoftDocs/azure-docs-pr/pull/195690).

[2022-05-16 15:28] xuegao112 opened #92927 "The aggregation type should be Sum but not Totdal"
Hi team,

I got a problem that when I create metric resource via template, results in an incorrect graph display, because that aggregation type(Total) isn’t available for the metric – only using an aggregation metric that is available when creating the graph in the portal works.
Per the document, I undersatnd Total is the default aggregation type for metrics, which should equal to Sum at metric ex

[2022-05-16 15:38] kobulloc-MSFT commented on #92830
@Dbakevlar, a PR has been created and will be left open for review before it is completed.

[2022-05-16 15:41] cavillue opened #92928 "AVS won't behave as a spoke in the traditional hub and spoke"
This document could confuse customers, they may think that AVS could behave as a spoke in the hub and spoke configuration and that's not correct. The traffic from on-prem to AVS will bypass the hub via Global Reach. The diagram needs to be corrected to reflect that (today it looks like the traffic from on-prem hits the hub first and then goes to AVS). Also, this statement is could lead to incorrec

[2022-05-16 16:02] hsamysaab91 opened #92930 "What is it with you guys and articles ? Why Microsoft is never able to make a working tutorial :D"
As always, your tutorials are never up to date with your own tech.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5da4c0e7-0dff-f71e-efd9-ec996defef28
* Version Independent ID: 98411939-83ed-4762-076e-3033170ffa42
* Content: [Tutorial: Create a React single-page app that uses auth code flow - Micr

[2022-05-16 16:07] mimckitt commented on #92165
We are still evaluating how we are calculating compute weights. No further updates at this time.

[2022-05-16 16:11] TarekNabeel commented on #92742
Thanks @SadiqhAhmed-MSFT , am not sure i got it did you meant that storage account replication will not replicate azure file shares ?

[2022-05-16 16:23] Karishma-Tiwari-MSFT commented on #92726
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-16 16:27] mike-urnun-msft commented on #92908
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-05-16 16:36] #92871 closed

[2022-05-16 16:37] varnav commented on #35298
I have same cert + intermediate bundle, and I have same AppGw's - one in East 1 and another in West 1 regions. They behave differently with same PFX. East one works fine, returns cert as is. West one "contains anchor".

[2022-05-16 16:47] SadiqhAhmed-MSFT commented on #92742
In short - Storage account replication does not apply to Azure file share backup.

[2022-05-16 16:55] timwarner-msft commented on #83755
Hi @JPadster. The policy definition does mention this requirement in the *Description* field. However, I'll put a note on your linked page to call this out more prominently. Thanks for raising this issue! -Tim

[2022-05-16 16:55] timwarner-msft commented on #83755
#please-close

[2022-05-16 16:55] #83755 closed

[2022-05-16 17:00] seesharprun commented on #92829
Thank you @mattdurak for your feedback.

This sample is used in quite a few locations, so it would be difficult to change wholesale. It's also not meant to be reflective of a real-world tax scenario. It's vague enough to be global-ready. It can't be tied to any specific geography's taxation rules which would have made it exclude some users by design.

We will take this feedback internally and see

[2022-05-16 17:00] #92829 closed

[2022-05-16 17:02] dreeves14 opened #92931 "JUST PROVIDE THE DOWNLOADS"
AVD is a decent product, but it screws up a lot. All I need to the RDAgentBootLoader and this page doesn't provide. The #1 search in bing takes you to this page AND YOU DON'T provide the download. Drives me insane the hoops that have to be jumped through to get something so basic from the provider.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2022-05-16 17:05] sefriend commented on #92931
Hi @dreeves14, thank you so much for your feedback. For your convenience, you can find the agent and bootloader binaries here:

- Windows 10 agent: https://query.prod.cms.rt.microsoft.com/cms/api/am/binary/RWrmXv
- Windows 10 bootloader: https://query.prod.cms.rt.microsoft.com/cms/api/am/binary/RWrxrH
- Windows 7 agent: https://query.prod.cms.rt.microsoft.com/cms/api/am/binary/RE3JZCm
- Windows 7

[2022-05-16 17:16] ChaitanyaNaykodi-MSFT commented on #92924
Thank you for your feedback! We will review and update as appropriate.

[2022-05-16 17:20] YutongTie-MSFT commented on #92640
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2022-05-16 17:20] #92640 closed

[2022-05-16 17:20] #92643 closed

[2022-05-16 17:21] JamesTran-MSFT commented on #92930
@hsamysaab91
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-05-16 17:22] JamesTran-MSFT commented on #92926
@jason1444
Thanks for your feedback! We will investigate and update as appropriate.

[2022-05-16 17:23] KranthiPakala-MSFT commented on #92917
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-05-16 17:24] KranthiPakala-MSFT commented on #92918
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-05-16 17:36] Karishma-Tiwari-MSFT commented on #92819
Thanks for sharing the details. I have updated the document link and it will go to the right team now.

[2022-05-16 17:38] Karishma-Tiwari-MSFT commented on #92894
Please provide us with the link to the documentation you are referring to so we can better assist.

[2022-05-16 17:42] TarekNabeel commented on #92742
Thanks @SadiqhAhmed-MSFT , then what is meant by that the backed-up files are replicated as per replication settings of the storage account?

[2022-05-16 17:44] Karishma-Tiwari-MSFT commented on #92812
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

Thanks for improving our documentation! Just so you know, it's also possible to make these changes yourself, if you are interested. Doing so will improve our documentation, and it will add you as a contributor to the document.
In case you're interested, these are the steps to do so:
1.	Na

[2022-05-16 17:45] #92812 closed

[2022-05-16 17:52] faustinopalma opened #92934 "you may add "p" for ARM processors"
[Enter feedback here]
A row for arm processors is still missing, you may add:
"p = ARM-based processor"

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f37ee1ab-c897-d429-7182-51a051234be3
* Version Independent ID: 7063820e-6a32-a367-e7dc-d42df7ddb949
* Content: [Azure VM sizes naming conventions - Azure Virtua

[2022-05-16 17:55] mike-urnun-msft commented on #91669
Hello @W0GER - Thanks again for your feedback. This doc is an Overview and we do have a dedicated section on providing guidance on which packages to use at the following documentation: https://docs.microsoft.com/en-us/azure/azure-functions/dotnet-isolated-process-guide#differences-with-net-class-library-functions

We will now proceed to close this thread. If there are further questions regarding t

[2022-05-16 17:55] #91669 closed

[2022-05-16 18:11] udhaymahajan commented on #92481
@InforSupport Please provide an updated screenshot for Step 5 mentioning "Base64 encoding with padding"

[2022-05-16 18:12] mike-urnun-msft commented on #92115
I agree, @kimjamia. As the next step, we're proceeding to assign this issue to the content author of this doc to review this feedback further and take the next course of action.

[2022-05-16 18:18] AlexCordSo opened #92935 "1 SA and 1 AA per subscription"
To my knowledge, it is one Service Admin and one Account Admin per Subscription but the article says one per Account.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11cda2e8-81c4-ab6a-371e-73506948488f
* Version Independent ID: f18c9bf9-a0e7-ea07-144b-c2c7cedc8b6b
* Content: [Classic subscription

[2022-05-16 18:21] AlexCordSo opened #92936 "Invoice date: Date that the invoice was generated, typically a day after end of the Billing cycle (not fully accurate)"
The article says: **Invoice date	: Date that the invoice was generated, typically a day after end of the Billing cycle**

But this is not correct, typically the invoice date is the day the account in Azure was created, normally during the sign up which is not always a day after end of the billing cycle.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2022-05-16 18:27] cebundy commented on #87312
Thank you for your reporting this! I have fixed this issue.
#please-close

[2022-05-16 18:28] tfitzmac commented on #92754
The update should get published later today.
#please-close

[2022-05-16 18:28] #92754 closed

[2022-05-16 18:29] JamesTran-MSFT commented on #92641
@nkumars
Thank you for following up on this!

As of right now, Azure B2C local accounts can only sign-in via username, email address, or phone number. However, if you federate with social identity providers (i.e. [Facebook](https://docs.microsoft.com/en-us/azure/active-directory-b2c/identity-provider-facebook?pivots=b2c-user-flow), LinkedIn, Google, etc.) you should be able to login using the user

[2022-05-16 18:32] cebundy commented on #87315
The default number of replicas has been changed to 0, and the minimum is 0.  I have updated the article.
#please-close

[2022-05-16 18:32] #87315 closed

[2022-05-16 18:35] FabianGonzalez-MSFT opened #92937 "Change this line "Key Vault Latency is greater than 500ms (Static Threshold)""
The line that says "Key Vault Latency is greater than 500ms (Static Threshold)", needs to be changed to "Key Vault latency is greater than 1000 ms (static threshold)" according to our official doc: https://docs.microsoft.com/en-us/azure/key-vault/general/alert#configure-alert-thresholds. This had previously discussed with EG and we agreed it to be 1000ms. This doc is outdated, please correct.

---

[2022-05-16 18:36] cebundy commented on #87317
This note has been removed.  It was confusing and didn't alert the user to an important consideration.
#please-close

[2022-05-16 18:36] #87317 closed

[2022-05-16 18:38] Dickson-Mwendia commented on #88617
@nlz242 thanks again for bringing this issue to our attention. I ran through the UWP and WPF quickstarts, and by following the steps in our documentation, I was able to acquire a token interactively in both .NET samples without encountering an error.

The error you encountered is more likely to occur when .NET Core needs another redirect URI. Did you check the configuration settings used in the ap

[2022-05-16 18:43] kobulloc-MSFT commented on #92934
@faustinopalma Thank you for the feedback!  We are reviewing the table and will get back to you shortly.

[2022-05-16 18:43] JamesTran-MSFT commented on #92824
@Usamawahabkhan
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2022-05-16 18:43] #92824 closed

[2022-05-16 18:46] MartinJaffer-MSFT commented on #92821
Thank you for your feedback. This has been assigned to the content owner and will be updated as appropriate.

@lrtoyou1223 Navigation directions and pictures.

[2022-05-16 18:46] mtyeager opened #92938 "Implies there is a VOC 2 JSONL script, but link is to a COCO 2 JSONL script only"
Page says "If you have labeled data in popular computer vision data formats, like VOC or COCO, [helper scripts](https://github.com/Azure/azureml-examples/blob/main/python-sdk/tutorials/automl-with-azureml/image-object-detection/coco2jsonl.py) to generate JSONL files for training and validation data are available in [notebook examples](https://github.com/Azure/azureml-examples/tree/main/python-sdk/

[2022-05-16 18:48] bandersmsft commented on #92936
@AlexCordSo Hi there. I'm looking into this with the Billing engineering team.

[2022-05-16 18:48] MarileeTurscak-MSFT commented on #92937
@FabianGonzalez-MSFT thanks! Working on this.

[2022-05-16 18:50] MarileeTurscak-MSFT commented on #92935
@AlexCordSo
Thanks for your feedback! We will investigate and update as appropriate.

[2022-05-16 18:53] JamesTran-MSFT commented on #92873
@joshtransient
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2022-05-16 18:53] #92873 closed

[2022-05-16 18:55] kgremban commented on #92202
@xiongyu0523 I verified your experience and confirmed with the product team that all routing to Event Grid is done behind the scenes. Therefore, I'm removing the discussion about message routes from the Event Grid article. I'll have GitHub automatically close this issue as resolved once my pull request with this change is merged. Thank you again for bringing this to our attention.

[2022-05-16 19:00] cebundy commented on #91977
Thanks for pointing out this issue.  I have fixed the article.
#please-close

[2022-05-16 19:00] #91977 closed

[2022-05-16 19:04] #92202 closed

[2022-05-16 19:05] cebundy commented on #92103
@safari137  Thank you for reporting this.  I wonder if this is still an issue with the most current cli?

[2022-05-16 19:05] JamesTran-MSFT commented on #92878
@ShotokuTech
Thank you for your time and patience throughout this issue.

Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our [Q

[2022-05-16 19:05] #92878 closed

[2022-05-16 19:07] SadiqhAhmed-MSFT commented on #92742
Where is that mentioned in the doc?
Can you share the reference doc link?

[2022-05-16 19:08] dereklegenzoff commented on #91180
@HeidiSteen - I don't know about ARM but @schaffererin on this thread was the author of the Azure Search Bicep Quickstart

[2022-05-16 19:11] DerekHerman-MSFT commented on #92909
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-16 19:13] DerekHerman-MSFT commented on #92919
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-05-16 19:14] JamesTran-MSFT commented on #92879
@timurengin
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.
![image](https://user-images.githubusercontent.com/36619112/168665099-18fc3be2-d27d-48b7-a74e-9c720f8fbea0.png)

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your ti

[2022-05-16 19:14] #92879 closed

[2022-05-16 19:19] SadiqhAhmed-MSFT commented on #92936
@AlexCordSo In case of Azure plans, the billing period is standard 'starting from 1st of a month to end of a month'.

However, for legacy offers, billing period used to be the start of the subscription to the next month. For example: If subscription was created on 17th of a month, then its billing period would be 17th of this month to 16th of next month. Next billing cycle would 17th of next month

[2022-05-16 19:21] KrishnaG-MSFT commented on #92922
@KevinMaatman Check if [this](https://stackoverflow.com/questions/57372231/disable-enable-azure-monitor-alert-rules-by-azure-automation-powershell/57374426#57374426) helps. If it doesn't help then please ask such questions in [this](https://docs.microsoft.com/en-us/answers/questions/ask.html) Microsoft Q&A forum because [this](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs reposito

[2022-05-16 19:27] seesharprun commented on #87716
@assign:seesharprun

[2022-05-16 19:28] seesharprun commented on #91142
#assign:seesharprun

[2022-05-16 19:28] seesharprun commented on #87716
Thanks @ImAbhishekTomar for taking the time to report this issue.

Unfortunately, this is the GitHub repo for documentation. If you have a product question or bug, you should give your feedback using the [Microsoft Q&A site for Azure Cosmos DB](https://docs.microsoft.com/en-us/answers/topics/azure-cosmos-db.html).

Since there's no action item here in docs, I will go ahead and close the issue here

[2022-05-16 19:28] #87716 closed

[2022-05-16 19:28] seesharprun commented on #91142
Thanks @samko635 for taking the time to report this issue.

Unfortunately, this is the GitHub repo for documentation. If you have a product question or bug, you should give your feedback using the [Microsoft Q&A site for Azure Cosmos DB](https://docs.microsoft.com/en-us/answers/topics/azure-cosmos-db.html).

Since there's no action item here in docs, I will go ahead and close the issue here.

#ple

[2022-05-16 19:28] #91142 closed

[2022-05-16 19:29] seesharprun commented on #88545
#assign:seesharprun

[2022-05-16 19:29] seesharprun commented on #88545
Thanks @morris-richard for taking the time to report this issue.

Unfortunately, this is the GitHub repo for documentation. If you have a product question or bug, you should give your feedback using the [Microsoft Q&A site for Azure Cosmos DB](https://docs.microsoft.com/en-us/answers/topics/azure-cosmos-db.html).

Since there's no action item here in docs, I will go ahead and close the issue here.

[2022-05-16 19:31] cebundy commented on #83863
The grace period is 30 seconds.  Adding info to document.  Thank you for your input.
#please-close

[2022-05-16 19:31] #83863 closed

[2022-05-16 19:33] MashaMSFT commented on #92300
Hi @ussvgr , thanks for bringing this to our attention! Our apologies, there was a temporary issue with our localization that should now be resolved. I'll go ahead close out this Git Issue but please feel free to comment should you need anything further.

Thanks again and I hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#please-close

[2022-05-16 19:33] #92300 closed

[2022-05-16 19:34] InforSupport commented on #92481
Hi I need to remove my comments all under inforsupport as I have made a mistake in creating the account.  Are you able to make  them or mark somehow  anonymously please? I really appreciate your help

[2022-05-16 19:46] MarileeTurscak-MSFT commented on #92937
I made a pull request to update this to 1000ms to align with our other documentation. https://github.com/MicrosoftDocs/azure-docs-pr/pull/198380

[2022-05-16 19:46] #92937 closed

[2022-05-16 19:53] seesharprun commented on #88895
#reassign:seesharprun
#label:"product-question"

[2022-05-16 19:56] seesharprun commented on #88895
Hello @rsimons7!

The behavior you described is part of the SQL query specification rather than the specific SDK. You can verify this behavior by using the browser-based Data Explorer on your account to write queries manually. If you review the [SQL constants](https://docs.microsoft.com/en-us/azure/cosmos-db/sql/sql-query-constants) article, you will see that the boolean values are represented as

[2022-05-16 19:56] #88895 closed

[2022-05-16 20:08] brittanyrowe commented on #92796
@dgdel04 there is now another limitation in the "Deploy VMs and scale sets to dedicated hosts" section about found domain count of the virtual machine scale set being restricted by the found domain count of the host group.

[2022-05-16 20:09] cebundy commented on #92158
I updated the Dapr overview doc and added a link to the document to the tutorial.
@ffrankozz while you have to run the CLI command multiple times, you can use a Bicep or ARM template to define multiple Dapr components instead.  Hope this helps.

[2022-05-16 20:15] seesharprun commented on #91652
#assign:seesharprun

[2022-05-16 20:15] seesharprun commented on #91652
Hello @lehmus!

With Visual Studio 2016 build runners being removed this year, the emulator build task is no longer supported. A note has already been added to the article addressing this. You are correct that the unique name of the task is what you use when referencing it's output (ex. endpoint).

Since we don't have any action items in the docs, I will go ahead and close this issue.

#please-clo

[2022-05-16 20:15] #91652 closed

[2022-05-16 20:16] HeidiSteen commented on #92303
@ThomasErvik @BryanTrach-MSFT  On POST, the "search" parameter has to follow '/docs/'
Can you try this:  'https://xxxxx.search.windows.net/indexes('indexname')/docs/search?api-version=2021-04-30-Preview"

[2022-05-16 20:30] suzizuber commented on #92928
Thank you @cavillue, I've got someone helping with this issue and to fix the diagram.

[2022-05-16 20:32] #84950 closed

[2022-05-16 20:37] seesharprun commented on #90860
#reassign:seesharprun

[2022-05-16 20:37] seesharprun commented on #91269
#reassign:seesharprun

[2022-05-16 20:38] seesharprun commented on #90860
Thank you @ricowang-msft for your feedback! We have updated the article's ``mongorestore`` sample and the update should be live shortly.

#please-close

[2022-05-16 20:38] #90860 closed

[2022-05-16 20:39] seesharprun commented on #91269
Thank you @igalfsg for your feedback! We have updated the article's ``mongorestore`` sample and the update should be live shortly.

#please-close

[2022-05-16 20:39] #91269 closed

[2022-05-16 20:41] seesharprun commented on #91630
#reassign:seesharprun

[2022-05-16 20:43] seesharprun commented on #91630
Hello @sabaripkumar!

Thank you again for your feedback and contribution. We have pushed a change to the documentation to reflect clearer instructions and a simpler naming scheme that's consistent with the screenshots.

As far as your deeper comments about the sample, this article is one of a few due for a deeper overhaul in the future. For the short term, we have made changes to resolve your imme

[2022-05-16 20:48] tomvcassidy commented on #38819
@johncrim Thank you for commenting on this issue after so much time. There are new writers for the Service Fabric docs since you opened this issue, and we've been working through the extensive backlog of GitHub issues (this one included).

I'll find a suitable place in the doc to add your warning that standard .NET Core code doesn't allow one to access SF certs. I'll also consider adding the sugge

[2022-05-16 20:48] AjayKumar-MSFT commented on #92838
hquangthinh, We have made the requested changes, and the doc reflects the changes now. Thanks for your feedback.

[2022-05-16 20:48] #92838 closed

[2022-05-16 20:52] mike-urnun-msft commented on #92694
Hello @timjansenortec - Thanks again for your feedback. By choosing a region initially when creating a Logic Apps resource under Consumption SKU, you're choosing where the utility resources (compute, storage etc.. resources which are shared with other Azure LA users) as the infrastructure needed for running your Logic Apps workflows, whereas with the ISE option, these infra resources as a utility

[2022-05-16 20:56] seesharprun commented on #88673
This addition has already been made to the article here: [/azure/cosmos-db/configure-periodic-backup-restore](https://docs.microsoft.com/en-us/azure/cosmos-db/configure-periodic-backup-restore#configure-backup-interval-retention)

#please-close

[2022-05-16 21:00] #91630 closed

[2022-05-16 21:04] suzizuber commented on #92845
#reassign: @rvandenbedem - please review the steps and add/adjust them to help with clarification about requesting quota. Thank you!

[2022-05-16 21:04] seesharprun commented on #89035
#assign:seesharprun

[2022-05-16 21:05] seesharprun commented on #89035
Hello @Shang7799!

We have updated this article with a tip to see the Azure Monitor | Cosmos DB insights [article](https://docs.microsoft.com/en-us/azure/azure-monitor/insights/cosmosdb-insights-overview#view-utilization-and-performance-metrics-for-azure-cosmos-db) elsewhere on docs. This article shows the *Data Usage* metric that you want to observe.

You should see this change publish shortly.

[2022-05-16 21:08] acruz2021 opened #92941 "I was misled by documentation"
HI there,

I got misled by documentation today from the section: Disable specific findings from Microsoft Defender for Cloud (preview)

The Typical scenarios it looks in a way that seems to be prerequisites. What I understood reading it multiple times was that only severities medium or below may be disabled, and that's not true. I understand that it was I that misread it, but I think that maybe it

[2022-05-16 21:09] HeidiSteen commented on #91180
@schaffererin Hi Erin, private endpoint/link is now generally available.  Should it be added to the templates??  Here is a link to the feature doc:  https://docs.microsoft.com/en-us/rest/api/searchmanagement/2020-08-01/private-endpoint-connections

[2022-05-16 21:12] bakerr99 opened #92942 "This FAQ for MS Purview is very stale and contradicts other docs.MS.com content"
Hello,

The web FAQ:
https://docs.microsoft.com/en-us/azure/purview/frequently-asked-questions
is stale.

This FAQ for MS Purview is very stale and contradicts other docs.MS.com content. Please overhaul it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a701383-9762-d874-e191-bf7ec0f1871a
* Version Independent ID: 782

[2022-05-16 21:14] #89035 closed

[2022-05-16 21:19] HeidiSteen commented on #92303
If that works for you, can you close this issue?  The example in this docs show the correct syntax, but if you think it would help, I could add a sentence that says make sure the url has "docs/search".

[2022-05-16 21:22] dereklegenzoff commented on #89605
@gregoks - are you running this from within visual studio? I just tried to repro and using `DefaultAzureCredential()` with the same roles and you and everything worked fine. I found this blog post that talks a bit about the DefaultAzureCredential and how it pulls your info from visual studio to do the authentication. I wonder if you just need to do some configuration within your IDE? https://www.r

[2022-05-16 21:57] KarlErickson commented on #70666
#please-close

[2022-05-16 21:57] #70666 closed

[2022-05-16 22:14] kobulloc-MSFT commented on #92934
@faustinopalma Thank you again for the feedback!  This has been added to our documentation backlog and will be updated at a future date.  For the time being, readers can get more information about Azure Virtual Machines with Ampere Altra Arm-based processors on our blog:

https://azure.microsoft.com/en-us/blog/now-in-preview-azure-virtual-machines-with-ampere-altra-armbased-processors/

We are goi

[2022-05-16 22:14] #92934 closed

[2022-05-16 22:30] tfitzmac commented on #92819
Thanks for the feedback. I have created a bug for the portal. There is no documentation update required so I will close this item.
#please-close

[2022-05-16 22:30] #92819 closed

[2022-05-16 22:33] cebundy commented on #92158
#please-close

[2022-05-16 22:33] #92158 closed

[2022-05-16 22:38] cebundy commented on #83623
I think that the doc has the correct schema now and points to a Container Apps article that explains.
Thank you for your input!
#please-close

[2022-05-16 22:38] #83623 closed

[2022-05-16 22:46] trixomixolydian opened #92946 "The syntax provided with this tutorial does not function"
When I utilize my account data using the sample code, it returns:

Critical error: Direct mode is only supported with Azure CosmosDB table API service.  I am using dt.exe from "DocumentDB Data Migration Tool v1.8.3.0"

Also, AzCopy no longer supports the stated ability.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62

[2022-05-16 22:47] cebundy commented on #84796
This doc has been updated.  It shows an example of the properties.template section of the ARM template with the parameters.  There is also information in the Containers article.
#please-close

[2022-05-16 22:47] #84796 closed

[2022-05-16 23:07] cynthn commented on #92424
Thank you for the suggestion. I've created a work item to review when we do the next update on this doc.

#please-close

https://dev.azure.com/mseng/TechnicalContent/_workitems/edit/1950048

[2022-05-16 23:07] #92424 closed

[2022-05-16 23:09] HeidiSteen commented on #92732
Here is the pull request:  https://github.com/MicrosoftDocs/azure-docs-pr/pull/198428
Not sure if this will get merged before content freeze kicks in.  If the PR is still open on Wednesday, it will remain open for the next week.   I'm going to close this issue because it's been addressed, but if you need to keep it open for tracking purposes, feel free to re-open.

#please-close

[2022-05-16 23:09] #92732 closed

[2022-05-16 23:11] HeidiSteen commented on #92303
Actually, I'm going to close this PR now, since I think it's been addressed.  If you disagree, please feel free to reopen, or just add your comments to this thread and I'll see them in my inbox.  Thanks!

#please-close

[2022-05-16 23:11] #92303 closed

[2022-05-16 23:13] cynthn commented on #85364
#please-close It looks like this issue has been resolved. I can't find any references to the version without A100.

[2022-05-16 23:13] #85364 closed

[2022-05-16 23:14] cynthn commented on #85341
#please-close Thank you for the feedback. Engineering is working on updating the .csv file to show the new VM sizes.

[2022-05-16 23:14] #85341 closed

[2022-05-16 23:22] cynthn commented on #69413
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2022-05-16 23:22] #69413 closed

[2022-05-16 23:29] huizarmx commented on #47466
I'm experiecing the same issue. Could you share the solution?

[2022-05-16 23:30] cynthn commented on #72527
#please-close Looks like this issue has been addressed or is in the works. Closing for now.

[2022-05-16 23:30] #72527 closed

[2022-05-16 23:30] huizarmx commented on #47220
I'm experiencing the same issue here!

[2022-05-16 23:33] cynthn commented on #79129
#please-close It looks like this doc has been updated to fix the broken link. Thank you!

[2022-05-16 23:33] #79129 closed

[2022-05-16 23:34] cynthn commented on #78867
#please-close Looks like this has been handled. Please feel free to reopen or open another issue if needed.

[2022-05-16 23:34] #78867 closed

[2022-05-16 23:35] cebundy commented on #90103
Thank you for your input.  The article has been updated to explain how to define more than one Dapr component.
#please-close

[2022-05-16 23:35] #90103 closed

[2022-05-16 23:37] seesharprun commented on #92946
#label:"product-bug"
#assign:seesharprun
#label:"documentation-bug"

Thanks @trixomixolydian for the feedback! We will take a look at this and see what updates should be made to the documentation page.

[2022-05-16 23:37] PRMerger9 commented on #92946
The following users don't have valid GitHub IDs, or are not collaborators on this repo: label"documentatio

[2022-05-16 23:37] cynthn commented on #80745
@vermagit It looks like the conflict still exists in the doc. Can you make the update?

FYI @lauradolan

[2022-05-16 23:38] seesharprun commented on #92946
#assign:seesharprun

#label:"doc-bug"

[2022-05-16 23:41] cynthn commented on #81283
@bwren or @austonli Can you confirm this is fixed?

[2022-05-16 23:43] cynthn commented on #82870
@mattmcinnes and @kobulloc-MSFT FYI

[2022-05-16 23:43] j03wang opened #92950 "OBO Token Management for Service Principal"
Is this correct? Is there an OBO token management API for Azure Databricks service principals?

<img width="802" alt="image" src="https://user-images.githubusercontent.com/1124207/168699377-eaf97415-f6f0-4453-903e-fe040946b774.png">

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4388a2ca-f34b-b83b-f315-4c5cd821d19f
* V

[2022-05-16 23:49] HeidiSteen commented on #92282
FYI - here is the link to the doc updates:  https://docs.microsoft.com/en-us/azure/search/knowledge-store-create-rest#decide-on-a-connection-strategy

[2022-05-16 23:49] cynthn commented on #81885
#please-close Thank you for pointing out this issue. It looks like the doc was updated to include SUSE 15 and later.

[2022-05-16 23:49] #81885 closed

[2022-05-16 23:50] trixomixolydian commented on #92946
That would be great.  I would really like to get this to work.

[2022-05-16 23:54] cynthn commented on #82871
@VikasPullagura-MSFT This is an issue where the error message uses an aka.ms link that doesn't go to troubleshooting. Can this be reassigned to engineering and tagged as a product issue and not a doc issue?

[2022-05-16 23:57] cebundy commented on #91286
Hi @martinhelgesen.  The CLI has been updated since you reported this.  I wonder if you are still seeing this issue?

[2022-05-16 23:59] cynthn commented on #83444
@ericd-mst-github Can you follow-up with Kofi on this and see if it has been fixed?

[2022-05-17 00:01] cynthn commented on #83767
#please-close looks like the PR merged already.

[2022-05-17 00:01] #83767 closed

[2022-05-17 00:03] johnmarco commented on #92885
Hello @georgeenninful . I added the link as requested and the change is now up.

[2022-05-17 00:04] cynthn commented on #84627
#please-close Looks like instructions for the NSG rule for 5986 have been added.

[2022-05-17 00:04] #84627 closed

[2022-05-17 00:07] cynthn commented on #84764
#please-close It looks like this parameter has been added. Thank you for brining it to our attention!

[2022-05-17 00:07] #84764 closed

[2022-05-17 00:34] stack247 opened #92951 "Include Explanation of relations with Account-level identity."
This page could use some improvement in explaining how to "Configure managed identities in Batch pools". Specifically, how it relates to Batch Account 's identity (account level).

In Azure Portal, I can setup Batch's Identity as either "None", "System Assigned" or "User Assigned". However, in the example that this page shows, I can only use "User Assigned" identity in the pool configuration.

The

[2022-05-17 00:40] sabaripkumar commented on #91630
Thank you. Appreciate it.

On Tue, 17 May 2022 at 4:43 AM, Sidney Andrews ***@***.***>
wrote:

[2022-05-17 01:11] MonikaReddy-MSFT commented on #92927
@xuegao112  - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2022-05-17 01:14] GeethaThatipatri-MSFT commented on #92941
Hi, @acruz2021 Thank you for reaching out. We will look into it and update as appropriate.

[2022-05-17 01:42] fswgm opened #92952 "Title kerning off?"
When I view this FAQ on my Mac using Safari, the first part of the title appears jammed together - not sure if there's a weird unicode character in it, as it looks less weird when I pasted it in here, but still looks off:

"Common questions about Azure VMware Solution"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bfd

[2022-05-17 01:48] Cheng811 opened #92953 "Is there corresponding page for data factory v2?"
[Enter feedback here]
As the title goes, is there a json schema description for adf v2?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a61bfbf-c99c-98f4-e4ff-f7ce430fb6d6
* Version Independent ID: 6ce6dc96-aadb-4fb1-9ef5-f49fd8d6a3dc
* Content: [Azure Data Factory - JSON Scripting Reference - Azure Data Factory](https

[2022-05-17 02:04] markjbrown commented on #92946
This is both a docs bug and more technical support issue.

Regarding your error message, the Data Migration Tool referenced here is no longer supported by Microsoft. Maintenance of this is now being handled by a 3rd party. This is called out in the article referenced here. You can try to open an issue on the GitHub repo for it here, https://github.com/Azure/azure-documentdb-datamigrationtool/ You

[2022-05-17 02:22] SreejaBhattacharya-MSFT commented on #92952
Hello @fswgm , thanks for reaching out. Let me check with the doc-author on this.
Hello @Ajayan1008 , could you please check the formatting once?

[2022-05-17 02:25] SreejaBhattacharya-MSFT commented on #92951
Hello @stack247 , thanks for reaching out. I have assigned this to the doc-author who will look into it and further update. Thank You.

[2022-05-17 03:04] #91932 closed

[2022-05-17 03:04] pnarsi opened #92954 "Does the Kube API Server talk to the Cluster Nodes via the private endpoint?"
The documentation mentions that:

"The server and the cluster or node pool can communicate with each other through the [Azure Private Link service](https://docs.microsoft.com/en-us/azure/private-link/private-link-service-overview#limitations) in the API server virtual network and a private endpoint that's exposed in the subnet of the customer's AKS cluster."

I thought that is was the Cluster/Node

[2022-05-17 03:54] SumanthMarigowda commented on #92920
@relcodedev Thanks for the question! We are investigating and will update you shortly.

[2022-05-17 04:15] santhoshb-msft opened #92955 "Update the sudo waagent command deprovision from hypen to minus"
Update the sudo waagent command deprovision from hypen to minus

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9197af94-97c5-9ca2-ff3b-716d2404f0f1
* Version Independent ID: 854e5005-7238-f797-c5db-0d055a1508bd
* Content: [Create an Azure virtual machine offer (VM) from an approved base](https://docs.microsoft.com/en-u

[2022-05-17 04:18] SwathiDhanwada-MSFT commented on #92689
Assigning to content author @guywi-ms for doc-enhancement.

[2022-05-17 04:32] vermagit commented on #80745
Tagging @evanburness for visibility and future tags

[2022-05-17 04:43] JuanKerr opened #92956 "Missing word in document"
There's a typo in the document, or rather a missing word. "Otherwise, you will have to make a copy the disk for each VM you want to create." should be "Otherwise, you will have to make a copy **of** the disk for each VM you want to create."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 218c3a24-424f-e928-d0c0-89c8b834

[2022-05-17 05:03] CHEEKATLAPRADEEP-MSFT commented on #92789
@abhaybhangale  Thanks for the additional details.  I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-05-17 05:09] ruiminwang commented on #47531
Hi @francisjjp , which vscode extension version are you using?

[2022-05-17 05:12] LainRobertson opened #92957 "Change subdomain to a root domain process failing the POST .../promote step."
Hi, folks.

With respect to the documentation at https://docs.microsoft.com/en-us/azure/active-directory/enterprise-users/domains-verify-custom-subdomain#change-subdomain-to-a-root-domain, has this process been verified to work against Microsoft Graph?

When attempting the referenced POST as a global administrator, I get the "resource not found" error attached.

The sample domain itself is brand n

[2022-05-17 05:25] ShaikMaheer-MSFT commented on #92942
@bakerr99 Thank you for sharing feedback. It would be great if you can share one example or content where you see its getting contradicts along with links then that would be very helpful to enhance the document. Looking forward to hear from you. Thank you.

[2022-05-17 05:28] SadiqhAhmed-MSFT commented on #92955
@santhoshb-msft Thank you for your post. We will review the content and update as appropriate.

[2022-05-17 05:29] pengyuli-ms commented on #47531
Hi @francisjjp Also just to confirm:
1. When you start running job locally, which mode did you choose? 'Local input' or 'Live input'?
2. Both the 'Input1' and 'ReferenceBlobStorage1jobstream' are 'Local Input'?

[2022-05-17 05:38] ShaikMaheer-MSFT commented on #92953
@Cheng811 In [Azure data factory V2 documentation](https://docs.microsoft.com/en-us/azure/data-factory/), we can see JSON of components in the dedicated pages of them.
For example [Pipelines and activities](https://docs.microsoft.com/en-us/azure/data-factory/concepts-pipelines-activities?tabs=data-factory) page has JSON details for pipelines and activities. Similarly, [Linked services page](https:

[2022-05-17 05:50] SadiqhAhmed-MSFT commented on #92955
@ebolton-cyber & @emuench Raised a PR to fix the typo - https://github.com/MicrosoftDocs/azure-docs-pr/pull/198462 Please review and update the doc as needed.

[2022-05-17 05:51] pnarsi opened #92958 "Is single server offering being phased out?"
I have noticed that the Single Server offering of Azure Database for PostgresSQL only supports PostgresSQL version 11 and older. Does that lack of support for new versions indicate that the Single Server offering is being phased out/deprecated by Microsoft? Version 11 is being retired in just under 18 months time.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2022-05-17 05:51] CHEEKATLAPRADEEP-MSFT commented on #92950
@j03wang  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-05-17 06:00] pnarsi opened #92959 "Extensions Supported by Microsoft"
Are the Extensions listed on this page supported by Microsoft. i.e. if we run into issues can we raise a support ticket to get someone from Microsoft to take a look at it or is it a "use at own risk component where the standard Microsoft legal terms don't apply? https://azure.microsoft.com/en-au/support/legal/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2022-05-17 06:14] conradj3 commented on #83377
@kobulloc-MSFT   A `Terraform` resource block such as [azurerm_virtual_machine_scale_set_extension](https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/virtual_machine_scale_set_extension) causes the same error.  While the scale set is created with a custom image from an `Azure Image Gallery` successfully, it explodes on instance upgrade trying to bind `OMSAgentForLinux

[2022-05-17 06:27] AnuragSharma-MSFT commented on #92730
@sinclr4 Awaiting your response on this.

[2022-05-17 06:29] AnuragSharma-MSFT commented on #92835
@SteveWohl Thanks a lot for making the changes.

@laneyvb These changes will be live in few days. We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2022-05-17 06:29] #92835 closed

[2022-05-17 06:34] #92526 closed

[2022-05-17 06:37] AnuragSharma-MSFT commented on #92958
@pnarsi Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-05-17 06:41] rishasi opened #92960 "Add "managedNATGateway" as outboundType in the doc"
In the doc here: https://docs.microsoft.com/en-us/azure/aks/egress-outboundtype#overview-of-outbound-types-in-aks
it says:
    _An AKS cluster can be customized with a unique `outboundType` of type `loadBalancer` or `userDefinedRouting`._

However, now we also have `managedNATGateway` as an `outboundType`:
    $ az aks show --resource-group myResourceGroup --name natcluster --query "networkProfile

[2022-05-17 06:42] Ethan033100 opened #92961 "Azure load testing: keep Creating forever"
I tried to create test in Azure load testing But the portal page show **creating** forever.

the Jmeter version I using is 5.4.1

please help on this
---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 227b66cc-35c1-cd83-9ad3-6a40305fa4d8
* Version Independent ID: 491077d3-f319-b870-890d-65a9050f5901
* Content: [Monitor serv

[2022-05-17 06:43] ankurcharan commented on #6500
It's been 4 years since the issue. Has this been resolved yet?

[2022-05-17 06:44] AnuragSharma-MSFT commented on #92959
@pnarsi Thank you for the feedback. For different version of Postgres different extensions are supported and these are listed in the document already. If you face any problem/issue while implementing them you can surely raise the support ticket as they are already mentioned in MS documentation, or post your query on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/questions/ask.html) forum

[2022-05-17 07:06] VikasPullagura-MSFT commented on #92956
@JuanKerr Thanks for pointing this out. We will do the doc changes accordingly.

[2022-05-17 07:10] VikasPullagura-MSFT commented on #92960
@rishasi
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-05-17 07:10] VikasPullagura-MSFT commented on #92960
@zr-msft
Can you please check and add your comments on this doc update request as applicable.

[2022-05-17 07:28] timjansenortec commented on #92694
It is still not entirely clear to me.
All the options in the table, except the Consumption multi-tenant option, have a remark like 'Data stays in the same region where you deploy the ISE' or ' Data stays in the same region where you deploy your logic apps'.

I want to know if the following statement is true or not for the Consumption multi-tenant option:
'Data stays in the region where the logic a

[2022-05-17 07:35] KexyBiscuit opened #92963 "No update for the round-trip latency figures in a year"
Are the round-trip latency figures still maintained?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 311b6efb-2d93-6130-96a9-867fad56bd52
* Version Independent ID: a17faabf-04c6-c3da-9a37-a86b0d00cbfd
* Content: [Azure network round-trip latency statistics](https://docs.microsoft.com/en-us/azure/networking/azure-network

[2022-05-17 07:45] grgkro opened #92964 "Step 7 is not showing up"
When I click on "Diagnose and solve problems" I see:
![image](https://user-images.githubusercontent.com/56633505/168757159-cefaecb6-4132-406d-a5eb-72855c4c25ee.png)

In your docu it looks like this:
![image](https://user-images.githubusercontent.com/56633505/168757311-2c438c9f-b9a9-4fb9-af47-b8fed4de528f.png)

So I can't select the Config Server detector.

I'm using Standard tier, so it's the same

[2022-05-17 07:46] nvankesteren commented on #91232
And please add 'Note: make sure .bat/.cmd files don't include the UTF-8 BOM (inserted by some editors such as Visual Studio by default), which can break things!' to help out others not repeat the same mistake I did. Thanks Visual Studio.

[2022-05-17 07:47] grgkro commented on #92964
Also the docu is very thin on the config server. How can I manage several config files for several spring boot services in one config server? How do you use additional config urls etc.

[2022-05-17 07:48] ntrogh commented on #92961
@Ethan033100 Thanks for your feedback; we appreciate it. It looks like you have product feedback rather than documentation feedback. To make sure that this is logged in the right place, please report it in the [Azure Load Testing issues](https://github.com/microsoft/azure-load-testing/issues). When you do so, it allows you to engage directly with the engineering team while they address and fix the

[2022-05-17 07:50] Ethan033100 commented on #92961
Thanks. I will close then

[2022-05-17 07:50] #92961 closed

[2022-05-17 07:51] grgkro commented on #92964
And can you explain name & patterns more? How can I make sure that my configs for Service A are only used by Service A, if I have multiple config files in one repo?

[2022-05-17 07:54] grgkro commented on #92964
And is there a full tutorial for the PetClinic example??

[2022-05-17 07:57] vlad610 opened #92965 "documented SAS token process not working"
The document mentions this is the REST API operation that should be used to get the SSO token:
![image](https://user-images.githubusercontent.com/62948603/168759051-df441198-7c2b-4ae7-878d-8ca2ddb0d9d1.png)

This does not work. Using this method, the user will not get an error when logging in, but the logged in menu will not be displayed (profile, reports etc. missing).
https://docs.microsoft.com/

[2022-05-17 08:11] PriyankaRudramaina commented on #92954
@pnarsi,

Thank you for your feedback. We will investigate and update the thread further.

[2022-05-17 08:28] gregoks commented on #89605
Thanks @dereklegenzoff and @KSchlobohm , looks now its working!
In my local visual studio, I added these roles to my user and it worked with DefaultAzureCredential()! I also deployed to my azure environment and I used:

`new DefaultAzureCredential(new DefaultAzureCredentialOptions { ManagedIdentityClientId = Environment.GetEnvironmentVariable("AZURE_CLIENT_ID")})`

 And looks like it also worked l

[2022-05-17 08:36] SnehaAgrawal-MSFT commented on #92434
@devman2k Apologies for late response here! Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2022-05-17 08:40] JustinWilkinson commented on #92820
I've had the same issue with one of my jobs. A bunch of trial and error showed that an upgrade of `Microsoft.Azure.WebJobs` version `3.0.31` to `3.0.33` introduced the problem.

[2022-05-17 08:41] HannahHsiao5 opened #92968 "add microsoft.loadtestservice/loadtests info"
microsoft.loadtestservice/loadtests can't be moved cross subscription

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23df5354-6833-a5da-0eb3-d860150c8b78
* Version Independent ID: 682ec206-0fda-3e0b-5841-543860a87e34
* Content: [Move operation support by resource type - Azure Resource Manager](https://docs.microsoft.co

[2022-05-17 08:52] bmansheim commented on #92851
@JorgMuskens I'm glad you brought this up. We are in the process of updating it and your issue helps to raise urgency. I'll close this issue, though, because it will be handled soon.
#please-close

[2022-05-17 08:52] #92851 closed

[2022-05-17 08:57] shendan19880215 opened #92969 "The content is wrong"
I can change the redundancy options of  storage account from ZRS to GZRS via Portal.
So i think the following content(Yellow) is wrong. Please check it.
![image](https://user-images.githubusercontent.com/100544871/168772106-090ee173-e3d9-43a2-98f5-a9a46e33b4d5.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66ebb48

[2022-05-17 09:08] dgdel04 commented on #92796
The fault domain count of the VMSS cannot exceed that of the host group. This was only error message I was getting over there but now I've deleted my RG.

[2022-05-17 09:14] gionapaolini opened #92970 "Unable to mount fileshare: Permission denied"
I was following this tutorial: https://docs.microsoft.com/en-us/azure/aks/azure-files-volume

After deploying the pod, it keeps the status of "ContainerCreating". When describing it, I get:
[code]
Kubernetes version is 1.23.5
[code]
I have already double checked the credentials are correct.

Also I have another cluster (but with kubernetes version 1.18) that is mounting the same fileshare with no

[2022-05-17 09:35] SadiqhAhmed-MSFT commented on #92936
@bandersmsft For further assistance on this.

[2022-05-17 09:59] SumanthMarigowda commented on #92969
@shendan19880215 Thanks for the question! We are investigating and will update you shortly.

[2022-05-17 10:10] OrlandoAMunoz opened #92972 "Include irreversibility of Trusted Launch"
The irreversibility of Trusted Launch created VMs should be included in this section:
"Trusted launch requires the creation of new virtual machines. You can't enable trusted launch on existing virtual machines that were initially created without it."
**=>Once a VM is created with Trusted Launch, Trusted Launch cannot be disabled, only the associated services (vTMP and Secure Boot).**

---
#### Doc

[2022-05-17 10:14] Nagarjuna-Vipparthi commented on #92861
Hi @rogiersb, support to JMeter user properties is now enabled in Azure Load Testing. You get an option to specify one of the uploaded files as user.properties file.
More details on this here - https://docs.microsoft.com/en-us/azure/load-testing/how-to-configure-user-properties?pivots=experience-azp

[2022-05-17 10:15] PriyankaRudramaina commented on #85455
@ltalirz

SR-IOV is first introduced in RHEL OpenStack Platform 6, single root I/O virtualization (SR-IOV) support was extended to virtual machine networking. SR-IOV enables OpenStack to put aside the previous requirement for virtual bridges, and instead extends the physical NIC’s capabilities directly through to the instance.
This is not specific to azure. So, we don't have to refer to this to an

[2022-05-17 10:15] #85455 closed

[2022-05-17 10:18] tomerrt commented on #92659
Please use Update-AzSqlDatabaseAdvancedThreatProtectionSetting instead, which is in Az.Sql module.

[2022-05-17 10:27] VikasPullagura-MSFT commented on #92972
@OrlandoAMunoz
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-05-17 10:27] VikasPullagura-MSFT commented on #92972
@lakmeedee
Can you please check and add your comments on this doc update request as applicable.

[2022-05-17 10:30] lakmeedee commented on #92972
Please use the following line instead:
Once a VM is created with Trusted Launch, Trusted Launch cannot be disabled. Only the associated capabilities such as vTPM and Secure Boot can be disabled individually.

[2022-05-17 10:38] mehdiaz opened #92973 "No Hive command line in Databricks"
It's being said use Hive command line to create an external table. But there's no Hive command line in databricks, right?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66048a6b-3c19-1127-edc7-3abeda66bb16
* Version Independent ID: 648af337-dfcc-2a42-6c05-683aea299cfc
* Content: [Hive table - Azure Databricks](https://

[2022-05-17 10:47] VikasPullagura-MSFT commented on #92972
@lakmeedee Thanks for responding back on this. I have created a PR for accommodating these changes. Please review and approve.

[2022-05-17 10:51] SnehaAgrawal-MSFT commented on #92633
@joibarr
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2022-05-17 10:51] helloyesthisisdave opened #92975 "ARM example includes `SecurewebhookReceivers` property that is not defined within the ARM schema definition"
The ARM Template given as an example in the [Resource Manager templates for an action group](https://docs.microsoft.com/en-us/azure/azure-monitor/alerts/action-groups-create-resource-manager-template#resource-manager-templates-for-an-action-group) section includes a `SecurewebhookReceivers` property that is not defined within the [Microsoft.Insights actionGroups](https://docs.microsoft.com/en-us/a

[2022-05-17 10:58] pamistel commented on #65866
@msftradford + @vtieto don't know who else to tag. This issue has been resolved and can be closed.

[2022-05-17 11:00] pamistel commented on #73521
@jstiefel I cannot close the item since i don't have the rights. Could you please close it?

[2022-05-17 11:01] SnehaAgrawal-MSFT commented on #92794
@fslefevre78 Thanks for reaching here! Based on the user's group memberships, the function assigns custom roles to the user.
Suggest you to refer this document might be helpful: https://docs.microsoft.com/en-us/azure/static-web-apps/assign-roles-microsoft-graph

[2022-05-17 11:10] SreejaBhattacharya-MSFT commented on #92954
@pnarsi
The Kube API server (control plane) is behind some load balancer in an Azure managed subscription, which is then attached to a Private Link Service. Then a private endpoint is created in the cluster subnet by the customer by specifying the private link URI. So, the cluster nodes communicate with the API server via the private endpoint that is mapped to the Private Link Service. The private

[2022-05-17 11:10] #92954 closed

[2022-05-17 11:11] SreejaBhattacharya-MSFT commented on #92954
If you have any further queries, please feel free to reach back. Thank you.

[2022-05-17 11:21] harvey-k commented on #89047
[Here](https://docs.microsoft.com/en-us/azure/app-service/configure-ssl-certificate?tabs=apex%2Cportal#authorize-app-service-to-read-from-the-vault) appears to be the equivalent information on vault access for web apps.

Clarification on supported access mechanisms for the new Front Door SKUs as well would be appreciated!

[2022-05-17 11:22] pamistel commented on #87030
We have cleared up the tutorials/samples hosted on Microsoft pages and updated the [landing page ](https://docs.microsoft.com/en-us/azure/spatial-anchors/)to give a clear overview of all the articles available

[2022-05-17 11:27] j-mantu commented on #92930
@hsamysaab91 Please let us know the issue you have faced with the tutorial. Thanks.

[2022-05-17 11:43] bakerr99 commented on #92942
The FAQ indicates there is no Purview support for Sharepoint online and OneDrive, whereas this May 5th article clearly states Purview DLP now supports both:

https://docs.microsoft.com/en-us/microsoft-365/compliance/dlp-learn-about-dlp?view=o365-worldwide#dlp-policy-configuration-overview

[2022-05-17 11:46] #92972 closed

[2022-05-17 11:47] VikasPullagura-MSFT commented on #92956
@JuanKerr The document is updated and changes will go live soon.

[2022-05-17 11:47] #92956 closed

[2022-05-17 11:50] OrlandoAMunoz commented on #92972
Thank you all!

Kind regards,

Orlando Muñoz
Support Engineer
Microsoft Azure Technical Support
Customer Service and Support
Office: +351 (21) 0491844
***@***.******@***.***>
Working hours: Mon-Fri, 8:30 - 17:30 UTC+1
If you need to work with another Support Engineer outside of my working hours, please send email to ***@***.******@***.***> with your case number, and availability.
We are always int

[2022-05-17 11:56] PriyankaRudramaina commented on #92608
@akhan-2020, Let us know if you have any update to @lachie83 response.
In addition to your question, the document says, **HTTP application routing doesn't currently work with AKS versions 1.22.6+** which means any HTTP application routing is not supported AKS versions after 1.22.6.

Feel free to tag me in your comments for any further clarification.