[2020-02-12 07:29] bertrandpons commented on #47562
I checked Web Server logs and there is nothing about X-Forwarded-For Header.

[2020-02-12 07:32] holgerjay opened #47921 "Link to Source control integration with GitHub Enterprise is dead"
Hi,

the link to "Source control integration with GitHub Enterprise" (https://docs.microsoft.com/en-us/azure/automation/automation-scenario-source-control-integration-with-github-ent) is dead and there is no such document in the GitHub Repo.
Is the document missing or is this scenario not possible?

Regards
Holger

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2020-02-12 07:59] ashgit24 commented on #47142
When SSL is enabled for MQ, we need to trust the azure certificate in the remote MQ server. Can you advise which certificate of Azure's does the MQ connector uses for cert validation with MQ server during SSL handshake  ?

[2020-02-12 08:00] neeleshray-msft commented on #47294
@Pentao As of today, the app passwords can not be customized. It is auto-generated. You can share your idea on the [Azure Feedback Portal](https://feedback.azure.com/forums/169401-azure-active-directory) for the same.

[2020-02-12 08:00] #47294 closed

[2020-02-12 08:02] #47715 closed

[2020-02-12 08:05] neeleshray-msft commented on #47902
@grahambunce Thank you for reaching out. We will investigate and update the thread further.

[2020-02-12 08:06] yoelhor commented on #47715
Dear @dotnetgator

I checked with the engineers, there is no use-case for `<Item Key="TemplateId">azureBlue</Item>` in custom custom policies. It is currently only used by the portal for basic policies. The content definition document will be updated today with the metadata element and its supported items.

Thank you again for the important feedback
Yoel

[2020-02-12 08:07] RohitMungi-MSFT commented on #47827
@imshreya This forum is primarily for supporting any official documentation issues in this repo. Currently we do not host sample files as part of documentation to share, you can try to convert your audio file to required format using any online audio converters and try the same.

We will go ahead and close this issue as it is not related to document. For any issues related to speech services you c

[2020-02-12 08:08] arvind-dhariwal opened #47922 "Steps to access ADLS Gen2 using servie principal in Azure machine learning - not clear"
Hi, On this page you only selected blob storage for creating data store. We need to know the steps how to create data store for ADLS Gen2 . When selecting ADLS Gen2 , Authentication type only supports service principal and it ask for tenant ID ,client Id and client passwords - How to get that info - steps are not clear. It is difficult to offer such incomplete document to customer.

---
#### Docum

[2020-02-12 08:13] KrishnaG-MSFT commented on #47921
@holgerjay Thanks for your comment! We will review and provide an update as appropriate.

[2020-02-12 08:21] rebremer opened #47923 "ADLSGen2: default umask not working?"
Hi all,

According to https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-access-control#umask, default umask of other equals rwx. This should result that

•	For other, all permissions on the child's access ACL are removed

I created a script to test this, see below. However, I see that permissions of other are just propagated to child items. Am I missing something? See script b

[2020-02-12 08:22] neeleshray-msft commented on #47796
@billmath Could this be checked ?

[2020-02-12 08:27] owingruters opened #47924 "Where is the option in Azure portal"
The page descibes you can set cutomerrors on global level  and/or listener level. But it is not vclear where the option in the Azure portal is located for global level.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8876a502-81db-4ef1-9e22-ebff4a63cabe
* Version Independent ID: c9676383-40c2-44fc-2d26-ef571466712f
* Co

[2020-02-12 08:39] KrishnaG-MSFT commented on #47898
@jmprieur Thanks for the quick response. 👍

[2020-02-12 08:48] neeleshray-msft commented on #47919
@annguyen281 Thank you for your feedback! We will review and update as appropriate.

[2020-02-12 08:49] imshreya commented on #47827
@RohitMungi-MSFT I have tried using ogg file having 16khz sample rate, still not working.

[2020-02-12 08:53] neeleshray-msft commented on #47920
@nishiths Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-02-12 08:55] neeleshray-msft commented on #47920
@nishiths It would help us to assist you better if you confirm the document you are referring to. Could you confirm if it is this documentation - [https://docs.microsoft.com/en-us/azure/cognitive-services/face/quickstarts/python-sdk](https://docs.microsoft.com/en-us/azure/cognitive-services/face/quickstarts/python-sdk)

[2020-02-12 08:57] DixitArora-MSFT commented on #47919
@annguyen281 Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2020-02-12 08:59] DixitArora-MSFT commented on #47769
@mikebudzynski Just following up again in case missed the previous communication.

[2020-02-12 09:00] jbinard commented on #46351
This is a maven project but we haven't added the application insights SDK to it. The logs are managed by logback and we have only a file appender. This is the appInsights java agent already installed in the linux java app service which automatically retrieve the logback logs and transfert them to appInsights.

[2020-02-12 09:05] neeleshray-msft commented on #47860
@acas11 We had a look and all the screenshots are of the New Portal Experience as per us. Could you confirm which screenshot or steps you are referring to for the Old Portal ?

[2020-02-12 09:17] shrivastavasumit commented on #46432
Is this issue resolved? I still don't see "Managed Groups" under "Pass-through Authentication"

[2020-02-12 09:18] neeleshray-msft commented on #47911
@MicrosoftGuyJFlo Could the Endpoints be changed to the new "_riskDetections_" in these [examples ](https://docs.microsoft.com/en-us/azure/active-directory/identity-protection/howto-identity-protection-graph-api#authenticate-to-microsoft-graph-and-query-the-identity-risk-detections-api)?

[2020-02-12 09:38] msrini-MSFT commented on #47081
@mgibb-bdo , No Outbound rules are only supported by Standard SKU.

[2020-02-12 09:41] msrini-MSFT commented on #47924
@owingruters , Thank you for your feedback. We will investigate and get back to you shortly.

[2020-02-12 09:42] msrini-MSFT commented on #47924
![image](https://user-images.githubusercontent.com/47132998/74322486-03b20980-4daa-11ea-916a-92d382c2df04.png)

It is mentioned in the Note section that global config of the custom error is not supported in portal today.

[2020-02-12 09:47] pbartos opened #47926 "Automatically blocked algorithms"
Hi,
I have an AutoML forecast run with no blacklisted algorithms, but in run properties, I can see Blocked algorithms: (XGBoostRegressor, Prophet, AutoArima). Is there any algorithm auto restriction? For example, based on the structure or size of the data?
Thanks,
Pavel

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf

[2020-02-12 09:53] AshokPeddakotla-MSFT commented on #47684
For Blob Storage, ensure that your devices are sending messages that have contentType: application/JSON and contentEncoding:utf-8 (or utf-16, utf-32). See the [IoT Hub documentation](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-routing-query-syntax#message-routing-query-based-on-message-body) for an example.
I see that an issue is already opened for this [here](https://github.co

[2020-02-12 09:53] #47684 closed

[2020-02-12 09:53] gabrielnespoli opened #47927 "Delete resources on deployment are not well documented"
Hello team.

I believe that the documentation is not clear on how to delete the resources when we are deploying.

https://docs.microsoft.com/en-us/azure/data-factory/continuous-integration-deployment#sample-pre--and-post-deployment-script

I would recommend to add the information:
In a deployment, to delete resources that have been removed change the parameter $deleteDeployment to $true

---
####

[2020-02-12 09:57] AndrewSmithRS opened #47928 "Log Analytics and Inbound/Outbound Flow Metric"
How can these metrics be sent to Log Analytics? Diagnostic settings for the network interface has been enabled however this doesn't seem to be an included metric.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7c054b7-422c-c3b0-fc8e-91314231ee0c
* Version Independent ID: 42825540-2137-92e3-08b0-0dbd84089eda
* Content:

[2020-02-12 09:57] srinathvasireddy commented on #44495
#please-close

[2020-02-12 09:57] #44495 closed

[2020-02-12 10:00] neeleshray-msft commented on #47891
@itsnotmike  Yes, if the password policy is changed in the Azure AD Domain Services, the same would not be synchronized back to the Azure AD Tenant. You can find the same mentioned in the [Default Password Policy Settings](https://docs.microsoft.com/en-us/azure/active-directory-domain-services/password-policy#default-password-policy-settings) section (towards the end of the section) in the same do

[2020-02-12 10:05] jtuliani commented on #47876
Thanks for the quick response Travis. Sorry, perhaps I wasn't clear. I'm not talking about public IPs at all. I'm just talking about private IPs. It seems there's two ways to have multiple private IPs (multi-NIC vs single NIC), and I'm asking if the multi-NIC approach, with one private IP per NIC, also requires the IP to be configured in the guest OS.

[2020-02-12 10:28] vladik-hbinov opened #47929 "What about the Reply URL (Assertion Consumer Service URL)?"
All I want is to setup SSO so that my Google user will be able to access my Azure account.
Am I on the right page? If so, why you don't mention Reply URL (Assertion Consumer Service URL) which is a required field in the Basic SAML Configuration section?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0bad7239-8050-182b-

[2020-02-12 10:35] AshokPeddakotla-MSFT commented on #47666
@grizzljt Glad to hear that your issue is resolved. Appreciate for sharing the resolution. This documentation has the information regarding [ACR roles and permissions](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-roles).

Adding author @kgremban to review this and update the doc if necessary to include this info.

We will now proceed to close this thread. If there a

[2020-02-12 10:35] #47666 closed

[2020-02-12 10:37] ubusuku opened #47931 "NTLM support?"
Mentioned in the document: "All apps that are configured for Windows-Integrated authentication seamlessly get SSO when a user tries to access them."
However, IWA not only applies to Kerberos, but only NTLM. If only Kerberos is being supported by AAD joined devices, then mentioning support for IWA is inducing readers into error.

---
#### Document Details

⚠ *Do not edit this section. It is require

[2020-02-12 10:43] Skorfulose opened #47932 "MSAL sample"
The doc currently only refers to ADAL. When are you going to add information for MSAL as well? This also applies to https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/application-proxy-configure-native-client-application

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1951bcd-ef2d-2f76-a7aa-d3a53991e88

[2020-02-12 10:51] OmniTroid opened #47933 "TrippleDES typo"
Under the headline "Private certificate requirements", there's an infobox which contains the phrase "TrippleDES". This should be "TripleDES".

I'm also tempted to ask why Azure doesn't support AES encryption for certificates yet, but that's another discussion I suppose.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc

[2020-02-12 10:53] nishiths commented on #47920
@neeleshray-msft yes this is the one, even after having an environment variable declared for the key, i receive same error. I've tried whatever i could have found

[2020-02-12 10:57] MohitVerma-MSFT commented on #47713
Hello @mslot ,

 Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-02-12 10:57] #47713 closed

[2020-02-12 10:57] bollineni36 opened #47934 "UserErrorRpCollectionLimitReached"
In Azure backup service error message like OperationNotAllowed : The number of restore points across restore point collections and resource groups for a VM cannot exceed 18. To create a new restore point, please delete existing restore points.

[2020-02-12 11:01] MohitVerma-MSFT commented on #47892
Hello @ARambazamba ,

Thanks for bringing this to our attention !

I have added the content-author for review it.

[2020-02-12 11:13] blueelvis commented on #47842
@lastcoolnameleft - Again, that is for a VM for which an additional disk is being attached. I don't see any way to just replicate a single disk. Consider the scenario like this - https://docs.microsoft.com/en-us/azure/aks/azure-disk-volume#mount-disk-as-volume

I would like to backup & replicate this disk which is attached to a pod. Since this is not a node (You don't know which node it is attache

[2020-02-12 11:26] PramodValavala-MSFT commented on #47782
@ermacia91 Just following up here... Could share more details on the template that you've tried?

[2020-02-12 11:31] aarushi-mittal commented on #37611
hello ,

I am facing the same issue.

Kindly suggest if it got resolved.

Regards
Aarushi

[2020-02-12 11:35] imshreya commented on #47827
@RohitMungi-MSFT  Can you please tell me whether I am sending wrong request or the API does not support OGG format?
Does anyone else get the same issue before while using the Speech to text REST API?

[2020-02-12 11:41] RohitMungi-MSFT commented on #47827
@imshreya OGG format is supported from the rest API, Users on this platform do not have access to lookup details of a particular request or requests submitted to speech services for errors. You can raise a support request from Azure portal against your resource so a service engineer can lookup your request details and recommend corrections.

[2020-02-12 11:51] CatchSandeepVaid commented on #47830
HI @spelluru ,
I am still getting the following error while running Sender
`Exception in thread "main" java.lang.IllegalStateException: Timeout on blocking read for 60000 MILLISECONDS
	at reactor.core.publisher.BlockingSingleSubscriber.blockingGet(BlockingSingleSubscriber.java:117)
	at reactor.core.publisher.Mono.block(Mono.java:1687)
	at com.azure.messaging.eventhubs.EventHubProducerClient.create

[2020-02-12 11:56] KalyanChanumolu-MSFT commented on #47707
@rohitnayakmsft Could you please help here.
Is there a way private link can be used to point to a failover group.
If not, is this planned for a future release.

[2020-02-12 12:02] VikasPullagura-MSFT commented on #47903
@vnvaditya Thank you for sharing the query. We are looking into this and would get back to you soon on this thread.

[2020-02-12 12:02] VikasPullagura-MSFT commented on #47903
@peterpogorski Can you please check and add your comments on this.

[2020-02-12 12:19] JordyBlommaert opened #47935 "Disable SMS messages"
I can't find any information regarding disabling the SMS option but keep call my mobile phone enabled.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d767ef2f-99ce-8ce4-786f-ac9e7d34f68b
* Version Independent ID: 23e6f3f1-06f4-26ad-c7c2-0bf1f0a33033
* Content: [Customize self-service password reset - Azure Active Direc

[2020-02-12 12:28] blueelvis commented on #40780
Can anyone please provide an update on this?

[2020-02-12 12:37] Jont-K opened #47936 "What if I don't have access to a Customer Agreement?"
I have admin access and am certain our company signed the Customer Agreement.  This article doesn't provide guidance to troubleshoot if I don't see the link to the Agreement.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d8cfd49f-e3d2-7442-ee90-390e4f35b065
* Version Independent ID: 86f6e45c-fea3-a09c-687e-ce99d078a45

[2020-02-12 12:41] jagge123 opened #47937 "Profile search"
Hi not sure this is the correct forum but ill give it a try.
I installed the FHIR API on azure and cant get the _profile search to work. Example: https://fhirserver/PlanDefinition?_profile=myprofile does not return any result(empty bundle) even though i have a PlanDefinition with profile=myprofile in the database.

If i GET /PlanDefinition i can clearly see that my searchparameter and the profile

[2020-02-12 12:41] jakaruna-MSFT commented on #47704
@jakaruna-MSFT
I will close this out for now. If you need additional help please open a new issue

[2020-02-12 12:41] #47704 closed

[2020-02-12 12:49] jakaruna-MSFT commented on #47756
PowerShell cmdlets are not there for login to the container.  Reference is [here](https://docs.microsoft.com/en-in/powershell/module/az.containerinstance/?view=azps-3.4.0#container_instances)

You can use azure cli to achieve that.

Try this `az container exec -h` with `--exec-command` with value powershell.exe or cmd.exe

Try this out and let me know

[2020-02-12 12:59] MGoedtel commented on #47776
@jeremytbrun - Can you be specific as to which OS you are attempting to install the CM agent on and did you download that version of the script template?

[2020-02-12 13:24] secorre92 commented on #45285
I used to face this issue when trying to acquire a token for my own Web API.
To overcome it, I changed the identifierUris value in the API manifest for a verified domain of my tenant. For example, something like:
	"identifierUris": [
		"https://secorrecloudlab.onmicrosoft.com/120021025001298api"
	],
Instead of the usual api://08ae2945-287b-4e62-8582-b1a1f2ac89c4

[2020-02-12 13:26] dotnetgator commented on #47715
Thank you @yoelhor . So is it possible to use the new Blue/Grey templates from a custom policy? I suppose if you're already in custom policies, you're likely to be replacing the look and moving away from any built-in UI, but it seems odd that the new look (blue) is default in built-in policies, but custom policies seem to fall back to the original template.

I'm also wondering about guidance for u

[2020-02-12 13:27] twomm commented on #46879
Should also have made my question clearer.
I would like to exclude some files in sub/sub folders, but not all - based on the filename.
e.g.
\folder1\folder2\filev1.txt
\folder1\folder2\filev2.txt
\folder1\folder3\filev2.txt
\folder1\folder4\filev1.txt

I would like to exclude files *v1.txt from backup.

From your previous comments, I assume this is not supported?

[2020-02-12 13:29] diegoalb opened #47939 "sentence is incomplete or missing: "Only the failover to a target device in the same domain.""
On the Prerequisites for device failover, one of the sentences is incomplete or missing an important complement:

	"Only the failover to a target device in the same domain."

Can we have that filled!? Was the intention to document that "Only the failover to a target device in the same domain IS SUPPORTED"!?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2020-02-12 13:31] pbartos commented on #47926
I figure out that AutoArima is blocked when I use "target_lags": "auto", "target_rolling_window_size": "auto". Runnig experiment from PythonSDK 1.0.85

[2020-02-12 13:35] jeremytbrun commented on #47776
@MGoedtel I am running Server 2016 Datacenter and I selected "Windows" in the Azure Arc "create machine" wizard via the Portal. It provides a PowerShell script that works up until it runs the azcmagent.exe connect command. The same script works just fine on my Windows 10 laptop.

Part of my confusion is why it _seems_ to be trying to run Python. I have nothing in the documentation that indicates P

[2020-02-12 13:36] grizzljt commented on #47666
No production scenario should use the default ACR admin account in the deployment JSON as this article unintentionally implies.  There are two missing pieces in the documentation to use a least privileged service account.  One, the documentation was not clear on that the username needed to be the application registration GUID, not the service principal name nor service principal GUID.  Two, the do

[2020-02-12 13:41] acas11 commented on #47860
@neeleshray-msft , I rechecked again and looks good.

[2020-02-12 13:41] #47860 closed

[2020-02-12 13:51] bszewczyk opened #47940 "AutoML and Azure Batch"
I try to run a 5000 of automl tasks. I tried to do it using Azure Batch.  Here are my steps

1. Create Azure Batch Account.
2. Create Python Code which takes as argument filename storaged at Storage Account. A file contains data. Further in python script I'm starting automl pipeline to find best model for data.
3. Create VM where I placed my script. Tried to run script on VM and it runs perfectly.

[2020-02-12 14:03] neeleshray-msft commented on #47922
@arvind-dhariwal Thank you for reaching out. We will investigate and update the thread further.

[2020-02-12 14:03] holtjp opened #47941 "Link Python Folder Structure"
Need a link to the Folder Structure for Python Projects. It exists in the docs, but there's no link to it here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4581be64-415a-804a-0a45-25b6976095c3
* Version Independent ID: 0cae0e82-c263-e2cf-ea54-a783291f5746
* Content: [Zip push deployment for Azure Functions](https://

[2020-02-12 14:05] neeleshray-msft commented on #47923
@rebremer Thank you for reaching out. We will investigate and update the thread further.

[2020-02-12 14:07] PramodValavala-MSFT commented on #47941
@holtjp Thanks for the feedback! We will review and update accordingly.

[2020-02-12 14:09] holtjp commented on #47941
Working on the pull request now.

[2020-02-12 14:11] jackt-moran commented on #47716
@KranthiPakala-MSFT thanks!

[2020-02-12 14:20] MGoedtel commented on #47776
@jeremytbrun - Thanks for confirming and I just realized after having my cup of coffee that the answer was already staring me in the face when you specified azcmagent.exe and the tail end of the error specifies Win32app.  Let me fire up a VM and see if I can repro this now.  Python isn't a requirement as far as I understand it for WinOS and would be strange if it were.  Give me 15 min.

[2020-02-12 14:23] em-vardol opened #47943 "DNS name"
The DNS namespace explanation is not accurate. It turns out that you should not use a child domain of the root DNS for managed domain in AAD DS. Can you please update that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f23ba67e-5544-77f8-b6e0-1c7b653f68d9
* Version Independent ID: 2639d2fc-fefd-f3ad-621d-cc27ebe78576

[2020-02-12 14:30] Hippomotion commented on #46017
hi,
please have a look of what is needed to be done to make this subscription active again.
when I look at outstanding cost I get: You don't have any outstanding charges for MC **** xxxx.
I did have a problem with my card and replaced it by another - but this is in your system.
I receive information that this account will be deleted tomorrow - this is not want I want.
please help me to get this ac

[2020-02-12 14:34] DYNSOL commented on #43427
Why does it say "Inbound on 443 from GatewayManager" is required, but the screenshot above and the ARM template has an Any Any rule for 443 which essentially makes the GM rule redundant. Can we be more specific here and have the ability to lock 443 down to GM or similar and get this service to work?

[2020-02-12 14:36] simondick opened #47944 "command for setting instrumentation key map is wrong"
The examples for the instrumentation key map no longer work with the latest versions of the module. it should be:

PS C:\&gt; Enable-ApplicationInsightsMonitoring -InstrumentationKeyMap
	@(@{MachineFilter='.*';AppFilter='WebAppExclude'},
	  @{MachineFilter='.*';AppFilter='WebAppOne';InstrumentationSettings=@{InstrumentationKey='xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxx1'}},
	  @{MachineFilter='.*';AppFi

[2020-02-12 14:38] AndrewSmithRS opened #47945 "Exportable Metrics into Log Analytics"
How are the metrics exported into Log Analytics? Diagnostics settings in Azure Monitor do not list virtual machines as a resource.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2c0f594-330e-e175-da7e-3d8bcc3d6e14
* Version Independent ID: d4563149-01ff-76b4-dfdf-ca8fccb2cffe
* Content: [Azure Monitor platform metrics

[2020-02-12 14:51] sean-nixon opened #47946 "Data gateway unattended install"
Is there any way to do an automated or unattended install via command prompt and/or a configuration file? This documentation only covers a manual installation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0deaa8b2-66a2-b45c-3ecd-7ea2d08503ed
* Version Independent ID: 364890ed-d3ba-9e01-c40a-ce78600319f1
* Content: [I

[2020-02-12 14:52] MonikaReddy-MSFT commented on #47944
@simondick -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-02-12 15:00] MGoedtel commented on #47776
@jeremytbrun - This error is curious, as the script does not perform any validation before downloading & installing the agent, and then running the azcmagent tool.  That error isn't related to the Windows version of the script.  Can you confirm the contents of the PowerShell script and that you are actually executing it on the target system?

[2020-02-12 15:02] mohammedhussain6 commented on #27537
I have pinned the function app to the dashboards and published it.
After publishing, I'm able to do start/stop the functions from the dashboard
but when browser is refreshed the option to start/stop function becomes read-only.
We have lot of functions, we want to see its status also to start/stop it from the dashboard.

Any help is appreciated. Thanks in advance.

![AzureDashboardFunctionStartStop

[2020-02-12 15:18] SnehaAgrawal-MSFT commented on #47933
@OmniTroid Thanks for the feedback. We will investigate it further and update you shortly.

[2020-02-12 15:23] qqnarwhal commented on #36833
This is still not updated. https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-attached-disks#adding-pre-populated-data-disks-to-an-existing-scale-set >> still says that the feature is in preview. Any update on this?

[2020-02-12 15:23] AjayKumar-MSFT commented on #47696
@kwaazaar, The default is 1 hour - after 1 hour, typically the client must use the refresh token to (usually silently) acquire a new refresh token and access token. Kindly checkout this [document](https://docs.microsoft.com/azure/active-directory/develop/active-directory-configurable-token-lifetimes#access-tokens) for more details on this topic.

The doc which you're referring to aims at outlining

[2020-02-12 15:23] #47696 closed

[2020-02-12 15:23] MGoedtel commented on #47776
@jeremytbrun - I've tested on two systems and azcmagent is not returning an error indicating it cannot detect the OS information. If you run the command manually with the **version** argument, what does it return?  It should show at a minimum, agent details (ver, log path, status). I'm looping in someone from the product team to review this - @edyoung.

[2020-02-12 15:26] diberry commented on #46519
This has been added to backlog. #please-close

[2020-02-12 15:26] #46519 closed

[2020-02-12 15:37] jeremytbrun commented on #47776
@MGoedtel when I ran it manually I did get the same error. I can't run the version command immediately, but either today or tomorrow I will for sure.

[2020-02-12 15:42] manzinge opened #47947 "Transformation has different outputClaim"
The ConvertStringToPhoneNumberClaim ClaimsTransformation produces a different outputClaim than stated in the doc. The documentation says it needs a string outputClaim but the Transformation only works with a phoneNumber outputClaim as mentioned in the error I'm receiving when trying to upload the policy.
Error-Message:
The following OutputClaims were declared in the Policy but were not expected by

[2020-02-12 15:49] wesley-smith opened #47948 "Which activity log categories are missing from the legacy method?"
https://docs.microsoft.com/en-us/azure/azure-monitor/platform/diagnostic-settings-legacy states that

Which subset of the [available categories](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/activity-log-view#categories-in-the-activity-log) are missing in the legacy method?

[2020-02-12 15:50] asubmani commented on #47610
Please include example of "Multi-Tenant" .. If I have a business partner who wants to access my Storage account; I would  be the service provider and the company that wants to connect to my storage would be the "Consumer". Is there any step we need to work with Microsoft support to make this happen?

[2020-02-12 15:52] #47584 closed

[2020-02-12 15:56] CharmanderJieniJieni opened #47949 "Can we specify the storage account or it has to be automatically created by Azure"
When creating Databricks Workspace following the steps, we noticed a resource group is automatically created with a storage account inside, can we specify this on our own instead of let Azure automatically creating it because this will introduce some issue for our subscription, e.g. not following naming convension

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2020-02-12 15:58] erhopf commented on #45711
#reassign: @oscholz

[2020-02-12 16:00] jrassi05 commented on #42443
god what crap software. ive given up on terraform. lol it does not even install properly. useless.

[2020-02-12 16:02] ctm8788 opened #47951 "Teams sites don't appear to work with this process"
I setup a Teams/Sharepoint site and created a document inside of the Documents repository. But when I copy the shared link and attempt to add it to QnA Maker as a new URL. I'm not prompted to authorize anything nor does QnA Maker provide any feedback on what the issue is.
So I'm not sure if Teams isn't supported or if there are other Authorization issues.

---
#### Document Details

⚠ *Do not edit

[2020-02-12 16:04] shashishailaj commented on #47691
@NeighborGeek Please let us know in case this worked for you . In case this did not , please send us an email on azcommunity[at]microsoft[dot]com and we will help you further with alternate support options. We will close this issue now.

[2020-02-12 16:05] edyoung commented on #47776
@jeremytbrun what is the output from `azcmagent version`. We made some changes in a recent update.

[2020-02-12 16:05] hansenms commented on #47937
@jagge123 thanks for reporting this. Could you 1) let us know if you are using the OSS FHIR server or the managed service? 2) provide a resource and a search query to reproduce the issue.

[2020-02-12 16:05] #47691 closed

[2020-02-12 16:07] helderpinto commented on #47878
@TravisCragg-MSFT, I am not referring to the Virtual WAN SKU, which is explicitly required to be Standard. I am referring to "[Connect your circuit to the hub gateway](https://docs.microsoft.com/en-us/azure/virtual-wan/virtual-wan-expressroute-portal#connectcircuit)" section, which requires the ExpressRoute circuit itself to be Premium - that is not explicitly called out in the documentation, but

[2020-02-12 16:16] blueelvis opened #47952 "Please mention the length of the name segment for DNS Prefix"
As per the Azure Portal, while deploying the cluster, the DNS Name Prefix needs to be between 1 & 54 characters -

![image](https://user-images.githubusercontent.com/6985763/74354306-29a6d080-4de1-11ea-89bf-8e3bf7922d36.png)

Regarding this question - https://docs.microsoft.com/en-us/azure/aks/troubleshooting#what-naming-restrictions-are-enforced-for-aks-resources-and-parameters

Please modify the

[2020-02-12 16:16] NeighborGeek commented on #47691
Thank you, I know that new edge does work with many chrome extensions, I just wasn't sure if this particular extension was needed with new edge since we're already signed in to the edge browser using the office 365 account.
I suggest that if using the chrome extension is the official recommendation for new edge, the article should be updated to say so.  Perhaps Just update the Chrome link to say "

[2020-02-12 16:29] MGoedtel commented on #47670
I am going to sanity check your feedback with engineering. While you have identified an alternative approach, we guide customers to use the Get-AutomationCertificate cmdlet for reasons already well stated in the article.  Thanks. #please-close

[2020-02-12 16:29] #47670 closed

[2020-02-12 16:36] ctm8788 commented on #47951
The QnAMakerPortalSharepoint in the aad.portal.azure.com shows the following permissions as granted through Admin consent.
Via Microsoft Graph
-Read user files
-Read all files that user can access
-Read items in all site collections
-Sign in and read user profile
-Read all users' basic profiles
-View users' basic profile
-Sign users in
-View users' email address

[2020-02-12 16:37] shashishailaj commented on #46469
@umeshbarapatre Could you please provide your insights here ?

[2020-02-12 16:40] erhopf commented on #38722
#please-close

[2020-02-12 16:40] #38722 closed

[2020-02-12 16:40] erhopf commented on #38722
Reference has been updated.

[2020-02-12 16:41] ThorstenHans commented on #28021
I want to bring up this one again @KetanChawda-MSFT
Consider the following scenario:

- Azure Function using SB Queue Trigger / Binding

`[ServiceBusTrigger]` and `[ServiceBus]` requires a `queue` name to be provided as the first parameter.

Users can spin up SB Namespace and Queue including tailored Authorization Rules for the Queue using Azure CLI.

However, with the latest CLI, I am not able to

[2020-02-12 16:41] DanielMabbett opened #47954 "I would like to know more about the backups"
Backup happens automatically
Azure Database for PostgreSQL servers are backed up periodically to enable Restore features. Using this feature you may restore the server and all its databases to an earlier point-in-time, on a new server.

My Question:
What does this mean? You guys say periodically but is that for every hour/day?  Are initial backups done when creating the database? I think it should

[2020-02-12 16:45] raybellwaves commented on #47376
Having the same issue.

[2020-02-12 16:45] BharathNimmala-MSFT commented on #47945
@AndrewSmithRS Thank you for reaching out , we will further look into this and get back to you at the earliest.

[2020-02-12 16:48] michaelschmit commented on #47088
paulbouwer, I also noticed that when I enable istio on the AKS cluster the kubernetes load balancer gets a second public IP address.  What is the significance of that?

[2020-02-12 16:55] sean-nixon opened #47955 "Custom rule priority with managed rule sets"
What is the priority of evaluation of custom rules vs managed rules? For instance, if I configure a custom rule with an IP whitelist and set the action to "Allow" with priority 1, will the default rule set still get evaluated to check for OWASP Top 10 vulnerabilities?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3409

[2020-02-12 16:55] michaelschmit commented on #47591
Can someone chime in on my above comment?

[2020-02-12 16:56] bandersmsft commented on #47936
@Jont-K Thanks for letting us know about your issue. We're looking into this and will reply shortly.
@amberbhargava Can you please comment?

[2020-02-12 17:04] skrepo0 opened #47956 "SFTP Sink fails saying Another file transfer in progress"
I have set the degree of parallelism to 1 and I see it tries to transfer 1 file at a time but it fails in between.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c34a89ba-18a0-a095-ac1b-612cd342f601
* Version Independent ID: f331c188-e7b3-bbeb-811c-c2bfb31c37a3
* Content: [Copy data from and to SFTP server - Azure Data

[2020-02-12 17:07] ksgopal4 opened #47957 "It is not clear whether ProcessEventArgs.UpdateCheckpoint should be invoked"
It is not clear whether ProcessEventArgs.UpdateCheckpoint should be invoked from ProcessEventHandler method. Without this, the listener seems to pick same messages everytime upon restart.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 906c5c40-2451-beb8-1859-de648af134dc
* Version Independent ID: 3cce140c-2d2c-60b9-aae

[2020-02-12 17:10] CeciAc opened #47958 "Missing a step"
@ngelll commented on [Tue Feb 11 2020](https://github.com/MicrosoftDocs/azure-docs.zh-cn/issues/683)

You need to unallocate the virtual machine before deleting the instant recovery points.

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: a89ac262-76f7-45fd-d1ab-3a8702167483
* Version Independent ID: 5de7689c-dde8-6e0f-ceb4-b9c509dd57ef
* Content: [将 Azure Vm 移到新的订阅或资

[2020-02-12 17:12] Adam-Smith-MSFT commented on #47939
@diegoalb Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-02-12 17:14] Adam-Smith-MSFT commented on #47934
@bollineni36 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-02-12 17:14] jeremytbrun commented on #47776
I will test that command either today or tomorrow for sure.

[2020-02-12 17:15] Adam-Smith-MSFT commented on #47940
@bszewczyk Thank you for the valuable feedback,we are investigating the issue.

[2020-02-12 17:17] Adam-Smith-MSFT commented on #47948
@wesley-smith Thank you for the valuable feedback,we are investigating the issue.

[2020-02-12 17:25] hansenms commented on #47937
A quick update on this. I can confirm this is a bug in the R4 version of the service:

https://github.com/microsoft/fhir-server/issues/880

We are working on mitigating it.

[2020-02-12 17:30] jstafford5380 opened #47959 "Docker"
This doesn't seem to work with docker profiles
[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 315e6bfa-53fd-2ee1-bbda-64204283c6a2
* Version Independent ID: cc17a1df-33ce-e6ba-bad9-052010244bff
* Content: [Service-to-service authentication to Azure Key Vault using .NET](https://docs.microsoft.com/en-us/azure/key-

[2020-02-12 17:40] seaswara opened #47960 "Azure Data Factory V2"
MSI is available in Azure Government Tenant - https://docs.microsoft.com/en-us/azure/data-factory/data-factory-service-identity

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 726adac9-1848-01a6-9586-842c81f820f7
* Version Independent ID: 249db438-8c95-8e69-f69e-8e48fcd0b359
* Content: [Azure Services that support manag

[2020-02-12 17:42] djpmsft commented on #47927
Hi @gabrielnespoli,

This is really good feedback that has been brought up before as well! I am planning on updating the article to include this information (actually on my work list today).

As this is already being tracked as a work item on my end, I am going to close this issue.

Thanks,
Daniel

#please-close

[2020-02-12 17:42] #47927 closed

[2020-02-12 17:42] cynthn commented on #44790
@sanchetanparmar What are you using for "winrm_timeout": ? The current workaround for issues with 2016 has been to use 2019.

[2020-02-12 17:43] blueelvis opened #47961 "Is it possible to have 1 Linux Nodepool & 1 Windows Nodepool in the same cluster?"
Same as above. Either way, could you please add it to this documentation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c420b2c-e868-9a6a-49fb-913f2cd007ef
* Version Independent ID: 5c543e08-7d75-21eb-9510-22e2cd56d16b
* Content: [Use multiple node pools in Azure Kubernetes Service (AKS)](https://docs.microsoft.com/e

[2020-02-12 17:44] cynthn commented on #47910
#reassign @cephalin

[2020-02-12 17:46] cynthn commented on #47910
@VikasPullagura-MSFT can you tag this for App service?

[2020-02-12 17:47] sandeepraichura commented on #29004
Sorry, I get checked this back again as I don't get notifications.  But I hoping that there should be a link somewhere in the same page instead of having the customer search for multiple pages.

[2020-02-12 17:49] sandeepraichura commented on #18208
Can this be covered in the Pre-Requisites on this page: https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/features-windows#prerequisites

[2020-02-12 17:52] mimckitt commented on #29004
@sandeepraichura I am working on how we deal with the extensions and agent docs all up so I will add this feedback to the list.

[2020-02-12 18:11] Annix83 opened #47962 "MiB/s vs MB/S"
Is the unit on disk throuhgput is incorrect. I think it should be MB/s and not MiB/s.
I did test using diskspd and on a P60 disk i managed to get 486.31 MiB/s which is 509.93 MB/s. So concidering that there is a smal margin of error its more likely to be MB/s than MiB/s

IOPS maxed at 16324.59.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-02-12 18:14] fourjacks commented on #47376
Also experiencing the same problem.

[2020-02-12 18:16] YutongTie-MSFT commented on #47926
@pbartos Thanks. We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-02-12 18:16] #47926 closed

[2020-02-12 18:18] djpmsft commented on #38866
Hi Fernando,

Apologies for the delay in response! Your feedback is valid and all the points you made are correct. I have updated the documentation to account for these changes and by end of day today, you should see them public.

We also have work planned to reorganize this documentation to make it easier for future users.

#please-close

[2020-02-12 18:18] #38866 closed

[2020-02-12 18:19] Sandip-Raiyani commented on #43139
@rjnair If you are still facing the issue, we can schedule a phone call to understand the issue. It would be helpful for us to debug and resolve the issue over a screen share. Let me know if that works for you. Thanks.

[2020-02-12 18:19] djpmsft commented on #41960
Hi @Viswa-Ranjan-Sahu ,

Apologies for the delay in response. I have updated the documentation to account for this, you should see it public by end of day today.

Thanks,
Daniel

[2020-02-12 18:19] djpmsft commented on #41960
#please-close

[2020-02-12 18:19] #41960 closed

[2020-02-12 18:27] YutongTie-MSFT commented on #47951
@ctm8788
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-12 18:32] MarileeTurscak-MSFT commented on #47932
@Skorfulose
Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-12 18:35] SgtSpamCan opened #47963 "Long-Running jobs"
Looking for an alternative to the abandonware that is "Elastic Database Jobs" in Azure.  It would be good to have some guidance as to which of the compared serverless services is most appropriate for long running database maintenance jobs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82ee9751-961d-7109-63d6-813b1862c

[2020-02-12 18:36] giovannifl opened #47964 "ADE support for S2D"
Please could you clarify if Azure Disk Encryption (ADE) support S2D and eventually which version (ADE v1 and/or ADE v2) ?
Thanks

@SumanthMarigowda-MSFT

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 288f8109-44b2-99b4-118b-b26c54326aad
* Version Independent ID: 66c3e929-608c-6f7b-653d-ca043dcafecb
* Content: [Azure Di

[2020-02-12 18:37] giovannifl commented on #46970
Any update ?

[2020-02-12 18:37] TimothyMothra commented on #47944
@Mikhail-msft was there a recent change to the Instrumentation Key Map?

[2020-02-12 18:39] MarcLaf opened #47965 "Step 6 malformed content"
Parts c - f are enclosed in code block.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85cbe739-d436-c414-8ad0-1197ff2af011
* Version Independent ID: b0d675ef-1efd-eec6-cf82-a39b07472b98
* Content: [Tutorial: Azure Active Directory single sign-on (SSO) integration with Jamf Pro](https://docs.microsoft.com/en-us/azure/a

[2020-02-12 18:39] solankisamir commented on #47769
@VaibhavVilasPandit, @DixitArora-MSFT  @mikebudzynski
The doc already links to the IP Addresses that need to be opened

[2020-02-12 18:39] kazshi opened #47966 "when creating a cluster from the portal"
When we create a cluster from the portal Availability zone is None as default - looks like we don't have an option for AZ on the portal. So I assume we can create a cluster uses AZ using CLI only, correct? I'd like to make sure that since I couldn't find any information about it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-02-12 18:39] amitkumarshukla commented on #47332
Hi Kamil,
Thanks a lot for the debug info.
We currently do not support conversation transcription and the remote conversation transcription in uksouth. It is only supported on eastasia and centralus.

Please try with that. If you still see the issue, please reply back with the exact code you used.
Your code should be similar to the following
https://stackoverflow.com/questions/60037655/microsoft-a

[2020-02-12 18:39] markwaksman commented on #39232
@msrini-MSFT I have a similar scenario with an ILB ASE with multiple apps + App GW/WAF, and I want to restrict access to a single app 'appx.domain.com' to **only** a single IP (x.x.x.x/32).

I worry about breaking Application Gateway making these changes, so I would appreciate any help you could provide so I can create the proper script.

Do you recommend I use the RequestUri variable and -Operato

[2020-02-12 18:39] syshex commented on #42508
The idea is to break down the rewrite rule in small atomic items.
There reason why oauth integrations and stuff like that is failing, is because in the Location  header there are sometimes query parameters that carry a redirect URL that also matches the general rule one is defining.  When the rewrite happens , you get a problem with the constructed URL

Example :

->    LOCATION : http://oauthserv

[2020-02-12 18:40] sanchetanparmar commented on #44790
@cynthn  i have tried with multiple time-out values.
1. winrm_timeout -  20m - Success
2. winrm_timeout  - 120m - Failed
3.  winrm_timeout  - 60m  - Failed
4.  winrm_timeout   - 5m -  Success
5.  winrm_timeout -  30m - Success
Its random issue, don't think , winrm_timeout issue.

[2020-02-12 18:40] mikebudzynski commented on #47769
#please-close

[2020-02-12 18:41] #47769 closed

[2020-02-12 18:41] kazshi commented on #46256
@cynthn Thank you for the info. Closing.

[2020-02-12 18:41] #46256 closed

[2020-02-12 18:42] cloudsavara commented on #34105
Hi Jakaruna,
as per https://docs.microsoft.com/en-us/azure/virtual-machines/linux/ansible-create-vm

Logged in to the cloud Shell

folder doesn't exist in the "/home/azureuser/.ssh/authorized_keys"

So created "authorized_keys" folder

mkdir authorized_keys
cd authorized_keys/

ssh-keygen

azureuser@Azure:~/.ssh/authorized_keys$ ssh-keygen
Generating public/private rsa key pair.
Enter file in whic

[2020-02-12 18:44] cloudsavara opened #47967 "Azure VM Creation issue through Ansible - ssh key_data"
as per https://docs.microsoft.com/en-us/azure/virtual-machines/linux/ansible-create-vm

Logged in to the cloud Shell

folder doesn't exist in the "/home/azureuser/.ssh/authorized_keys"

So created "authorized_keys" folder

mkdir authorized_keys
cd authorized_keys/

ssh-keygen

azureuser@Azure:~/.ssh/authorized_keys$ ssh-keygen
Generating public/private rsa key pair.
Enter file in which to save the

[2020-02-12 18:47] Mikhail-msft commented on #47944
@simondick, which version of  Az.ApplicationMonitor do you use?

[2020-02-12 18:48] SaurabhSharma-MSFT commented on #47965
@MarcLaf Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-12 18:50] kgremban commented on #44675
@romankiss My apologies for the delay in getting back to you. Looking into this issue again, the new fields that you're talking about are part of the device identity not the device twin. Event grid events – device created/deleted/connected/disconnected (lifecycle events), do not capture fields from device identity. The twin is captured only in the device created/deleted event.

Since the new field

[2020-02-12 18:50] SaurabhSharma-MSFT commented on #47964
@giovannifl Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-12 18:52] SaurabhSharma-MSFT commented on #47960
@seaswara Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-12 18:52] SaurabhSharma-MSFT commented on #47959
@jstafford5380 Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-12 18:52] msrini-MSFT commented on #39232
Both should work. You can go with the first option where you specify the URI. If you face any issues, let me know

[2020-02-12 18:53] SaurabhSharma-MSFT commented on #47947
@manzinge Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-12 18:53] seaswara commented on #47960
All,

I am one of the CSS Escalation resource do support Azure Government ADF able able to create MSI on my government Tenant.    Many customer does use that feature

Thank you,
Sundar

From: SaurabhSharma-MSFT <notifications@github.com>
Sent: Wednesday, February 12, 2020 12:52 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Sundar Easwaran <Sundar.Easwaran@microsoft.com>; Ment

[2020-02-12 18:54] SaurabhSharma-MSFT commented on #47943
@em-vardol Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-12 18:58] SaurabhSharma-MSFT commented on #47935
@JordyBlommaert Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-12 18:59] Karishma-Tiwari-MSFT commented on #46970
@MashaMSFT @MikeRayMSFT Can either of you help with this doc update request? Thanks :)

[2020-02-12 18:59] rothja commented on #40486
@amberbhargava Do you have any insight on this question about subscriptions per offer? Or is there anyone else we can contact? Should we put this information on the referenced legal page: [https://azure.microsoft.com/en-us/support/legal/offer-details/](https://azure.microsoft.com/en-us/support/legal/offer-details/)? Of course, this assumes that we have the detailed defaults for each. Thank you!

[2020-02-12 18:59] SaurabhSharma-MSFT commented on #47931
@ubusuku Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-12 19:01] JasonWHowell commented on #47376
@raybellwaves @fourjacks @greglandrum

Can you please help me with background context - was this something that was working before now, and suddenly broke, or did you just get started with this scenario and got blocked on your exploration?

[2020-02-12 19:02] SaurabhSharma-MSFT commented on #47929
@vladik-hbinov Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-02-12 19:12] simondick commented on #47944
I've got version 1.0.1 installed currently where i encountered the issue .

-------- Original message --------
From: Mikhail-msft <notifications@github.com>
Date: 12/02/2020 18:47 (GMT+00:00)
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Simon Dick <simon@kingfisher-systems.co.uk>, Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] command for setting i

[2020-02-12 19:13] bandersmsft commented on #44706
@liamgsmith @bdschaap I make a small update for clarity. *The maximum limit of the refund applies to all reservations in the scope of your agreement with Microsoft.*
@MikeWedderburn-Clarke Thanks for your point.
#please-close

[2020-02-12 19:13] #44706 closed

[2020-02-12 19:16] #47947 closed

[2020-02-12 19:17] yoelhor commented on #47947
Thanks for your feedback, we updated the doc. You should see the changes later today.

Yoel

[2020-02-12 19:17] Mikhail-msft commented on #47944
Thanks! I got a repro. here is the doc change: #47968

[2020-02-12 19:19] jeevansd commented on #28830
We have verified this on our test SAP NetWeaver environment and the upload XML functionality is working as expected. So closing this issue now.
#please-close

[2020-02-12 19:19] #28830 closed

[2020-02-12 19:28] alkohli commented on #47939
@Adam-Smith-MSFT The changes were merged. I am going to go ahead and close this issue. Thanks!

#please-close

[2020-02-12 19:28] #47939 closed

[2020-02-12 19:32] rchillara07 opened #47969 "Create Web Tests URL"
The URL for Create Web tests as below is not valid as they refer to classic alerts and they have been deprecated last year, Can we get a working example for this.  I searched all over but could not get a sample to create webtest with the new alert schema.
https://azure.microsoft.com/en-us/blog/creating-a-web-test-alert-programmatically-with-application-insights/

Thanks
RC

---
#### Document Detai

[2020-02-12 19:36] SaurabhSharma-MSFT commented on #47669
@AlexanderSaad We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-02-12 19:36] #47669 closed

[2020-02-12 19:37] rohitnayakmsft commented on #47707
Failover groups work as they do today with Private Link. The Private DNS Zone will have to span both Vnets where private endpoints for each server are located.

[2020-02-12 19:39] MashaMSFT commented on #46970
Hi @giovannifl , thanks for contacting Microsoft! Would you mind clarifying your question? You want to know what type of drives are available for automatic backups when using an FCI with S2D, or premium file share, is that correct?

So, for example, if you've deployed an S2D FCI, can you add another S2D drive for backups, or can you also add a premium file share for backups - that's what you're as

[2020-02-12 19:39] rohitnayakmsft commented on #47877
The private IP routes traffic to SQL Gateway in the region ( behind the scenes) via the Azure backbone. Hence you need to provide FQDN so we can route traffic to the logical server

[2020-02-12 19:39] LeonidasKapassakalis opened #47970 "64Bit"
Only 64 bit Python works.
Pls mention it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f04b2376-8901-ee7a-86a7-500b09cfcf94
* Version Independent ID: 01198991-2c3b-9873-3b2c-233b7b9a0ff0
* Content: [Azure SignalR Service serverless quickstart - Python](https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-quic

[2020-02-12 19:40] SaurabhSharma-MSFT commented on #47761
@Firewaters  Can you check if [Select your scenario based on your identity infrastructure](https://docs.microsoft.com/en-us/azure/active-directory/devices/hybrid-azuread-join-plan#select-your-scenario-based-on-your-identity-infrastructure) provides you more clarity.

[2020-02-12 19:41] jeevansd commented on #39267
@chetansriv Please update the article

[2020-02-12 19:44] jeevansd commented on #40269
@ArvindHarinder1 Can you please provide the IP address article link here? So that we can add a note to the article and get it updated.

[2020-02-12 19:46] ArvindHarinder1 commented on #40269
@jeevansd  I've done a full rewrite of the doc and included the IP ranges. Closing. the comment.

[2020-02-12 19:46] #40269 closed

[2020-02-12 19:46] jeevansd commented on #40706
I don't think the link URL matter here.
#please-close

[2020-02-12 19:46] #40706 closed

[2020-02-12 19:50] jeevansd commented on #42976
#please-close

[2020-02-12 19:50] #42976 closed

[2020-02-12 19:52] theheatDK commented on #47877
Thanks @rohitnayakmsft
Then it makes sense :-)
I will try to update the documentation note with this explanation.
Regards Peter

[2020-02-12 19:52] #47877 closed

[2020-02-12 19:53] Ayanmullick commented on #47756
Thanks for sharing the [exec method](https://docs.microsoft.com/en-us/azure/container-instances/container-instances-exec), @jakaruna-MSFT . However, that's not an interactive session.
I'm not asking for dedicated cmdlets to connect to an ACI. I thought one should be able to connect to the container thru PowerShell as long as the specific ports were open.

<details>
 <summary>The network connection

[2020-02-12 19:56] jeevansd commented on #43289
@jakobnotseth We have fixed this article per your suggestion.

[2020-02-12 19:56] jeevansd commented on #43289
#please-close

[2020-02-12 19:56] #43289 closed

[2020-02-12 19:57] pcty-msantos commented on #46074
Do we have an update on where we are with the changes to the documentation and the default signing?

[2020-02-12 19:57] greglandrum commented on #47376
@JasonWHowell : I’m just starting with the system, so I’ve never seen it work as documented

[2020-02-12 19:59] jeevansd commented on #46603
@chetansriv for tracking

[2020-02-12 19:59] jeevansd commented on #46661
@chetansriv For tracking

[2020-02-12 20:00] jeevansd commented on #46763
@chetansriv  for tracking

[2020-02-12 20:02] jeevansd commented on #47071
@chetansriv Please add this note in the article

[2020-02-12 20:02] bigtoga opened #47974 "Type in last sentence"
Says, "Once a Network Watcher instance is, you can enable packet capture within virtual machines" - looks like it is missing a word after "is" but before the comma. Maybe it should say, "Once a Network Watcher instance is been enabled in a region, you can enable packet capture within virtual machines within that region"

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2020-02-12 20:03] jeevansd commented on #47074
@chetansriv Can we please make this change in our private repo and then merge it to public?

[2020-02-12 20:04] DavidSchrag commented on #46661
Meanwhile, Mimecast support gave me very different instructions, which involved setting up a non-gallery application in Intune. I ended up using an SP-initiated login, which suits our company better anyway. But I would certainly recommend contacting their developers to comment on your documentation.

[2020-02-12 20:05] jeevansd commented on #47291
We don't support just in time user provisioning of the user here. But can add this in our backlog to get it done.

[2020-02-12 20:07] jeevansd commented on #47929
@vladik-hbinov This article talks about how to configure SSO between Azure AD and G Suite. But then here Azure AD as the IDP and G Suite as service provider/app. If you already have users in Google you need to import them in Azure AD first and then use Azure AD authentication to go to Google apps.

[2020-02-12 20:08] jeevansd commented on #47929
@please-close

[2020-02-12 20:08] #47929 closed

[2020-02-12 20:09] jeevansd commented on #47965
@chetansriv Please fix the article.

[2020-02-12 20:09] BharathNimmala-MSFT commented on #47609
@HarrisburgUSysAdmin Thanks again for reaching out to us. One of the possible scenario is updates being installed without a deployment, please review [this ](https://docs.microsoft.com/en-us/azure/automation/troubleshoot/update-management#updates-nodeployment) documentation which covers this scenario and also other troubleshoot scenarios you could come across and possible resolution steps.

If you

[2020-02-12 20:09] #47609 closed

[2020-02-12 20:10] Karishma-Tiwari-MSFT commented on #47952
I have created a PR with the update, changes will be live shortly.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/104157
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-02-12 20:10] #47952 closed

[2020-02-12 20:13] SnehaGunda commented on #47413
@peterbud thanks for the feedback, yes you are right that the second statement is contradicting. I will delete it from the doc.

[2020-02-12 20:14] Karishma-Tiwari-MSFT commented on #47966
Which region were you trying to create the AKS cluster? AKS clusters can currently be created using availability zones in the following regions:

Central US
East US 2
East US
France Central
Japan East
North Europe
Southeast Asia
UK South
West Europe
West US 2

[2020-02-12 20:17] ecfan commented on #47279
Hi @mganeshphani, as @divyaswarnkar requested, please confirm that this behavior happened for you with the SFTP-SSH connector? Thanks!

[2020-02-12 20:20] dan80386 opened #47976 "Source code mistmatch"
The code snippets 2 and 3, under "Write code to receive messages from the queue", do not match the code later under "Here is what your Program.cs file should look like:". Looks like the author refactored the code and didn't edit both areas to match.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 217f29ba-3552-f406-58d3

[2020-02-12 20:23] vladik-hbinov commented on #47929
But what if I want to do it the other way around?
I want to authenticate to Google and then go to Azure portal, for example,
without a password.
And why did you close the case? the issue about the doc not specifying what
is the Reply URL (Assertion Consumer Service URL).
AND, The doc is not clear enough for a user to understand that this is not
what I was looking for, without you telling me this i

[2020-02-12 20:23] jeremytbrun commented on #47776
The output of `azcmagent version` is `azcmagent version 0.5.19336.002`

[2020-02-12 20:25] shashankkr opened #47977 "Upper limit on parallel executions of the events"
I have a blob which gets thousands of files per second. I have set up the blob created event subscription and the event trigger based pipeline to consume the event and move the file created from source to sink. When I deploy the pipeline, I can see multiple instances of pipelines running in parallel at the same time. What is the max limit on the parallel run? I want to copy the files with minimum

[2020-02-12 20:25] cloudsavara commented on #47967
Solved it, thank you!

[2020-02-12 20:25] #47967 closed

[2020-02-12 20:27] fourjacks commented on #47376
I just started using Azure Notebook and this feature has never worked as documented for me.

[2020-02-12 20:28] ctm8788 commented on #47951
When I attempt to add this URL: https://teams.*********.com/:w:/r/sites/LearningBotKnowledge/Shared%20Documents/Test%20KB.docx
I do get an error message that looks like this...
BAD Argument
Failed to extract QnAs from the source https://teams.*********.com/:w:/r/sites/LearningBotKnowledge/Shared%20Documents/Test%20KB.docx - Unsupported / Invalid url(s). Failed to extract Q&A from the source

[2020-02-12 20:28] jeremytbrun commented on #47776
The generated script that I downloaded from the portal is as follows

[code]

[2020-02-12 20:29] Karishma-Tiwari-MSFT commented on #47961
The node pool OS image version is tied to the Kubernetes version of the cluster.

[2020-02-12 20:30] Karishma-Tiwari-MSFT commented on #47687
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-02-12 20:30] #47687 closed

[2020-02-12 20:30] SnehaGunda commented on #47413
The above PR fixes the issue. We will now close this issue.

#please-close

[2020-02-12 20:30] #47413 closed

[2020-02-12 20:31] jeremytbrun commented on #47776
The full console output from running the script is as follows

![image](https://user-images.githubusercontent.com/28311946/74374551-a3709700-4dac-11ea-85e8-ed96d0eabf57.png)

[2020-02-12 20:31] KranthiPakala-MSFT commented on #47949
@CharmanderJieniJieni
Thank you for reaching out and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate

[2020-02-12 20:31] Karishma-Tiwari-MSFT commented on #47801
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-02-12 20:31] #47801 closed

[2020-02-12 20:32] Karishma-Tiwari-MSFT commented on #47856
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-02-12 20:32] #47856 closed

[2020-02-12 20:35] KranthiPakala-MSFT commented on #47956
@skrepo0 Thanks for reaching out. It looks like you are referring to a specific used case scenario and not directly related to document content, we request you to please post your question on "_[MSDN - Azure Data Factory](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDataFactory&filter=alltypes&sort=lastpostdesc)_" and other forums (_[Stackoverflow - Azure Data Factory](https://st

[2020-02-12 20:36] jeremytbrun commented on #47776
Here is the output when I run the `connect` command manually with the verbose switch

![image](https://user-images.githubusercontent.com/28311946/74374909-53de9b00-4dad-11ea-9a73-9fd08fb129f3.png)

[2020-02-12 20:37] KranthiPakala-MSFT commented on #47956
@skrepo0 Please do share the MSDN/Stackoverflow thread link, once it is created. Also I would request you to please provide more elaborated details about your issue, that way the community can help you unblock faster.

As this issue irrelevant to the doc content, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen t

[2020-02-12 20:37] #47956 closed

[2020-02-12 20:40] jeevansd commented on #46661
@DavidSchrag Can you please email your contact at Mimecast to us on SaaSApplicationIntegrations@service.microsoft.com Our contact with them is not responding for some reason.

[2020-02-12 20:40] langstonj opened #47978 "Automatic Tuning - tuning history"
What duration should I expect to see for information in the tuning history section e.g. 30 days, one year, indefinite?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea14cd16-0e66-d9ea-6ad3-3246cb380e87
* Version Independent ID: 0767f70f-62f7-c74c-3af2-7bba6dc651d4
* Content: [Automatic tuning overview - Azure SQL Data

[2020-02-12 20:42] mrnorr opened #47979 "Syntax error in example: Remove subnet delegation from an Azure service"
Azure CLI example for verifying the removal is shown as 'az network vnet show' where it should be  ' az network vnet subnet show'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9203aa6f-daa2-a067-797e-c292902e8a4f
* Version Independent ID: d1d3fe99-80ea-aa90-d09b-79142e88c96e
* Content: [Add or remove a subnet delegati

[2020-02-12 20:43] KranthiPakala-MSFT commented on #47927
@gabrielnespoli T Appreciate for helping us to improve the doc content with your valuable feedback.

[2020-02-12 20:45] assaf-grth opened #47980 "Going live with this ability"
Hi is there any SLA for GA on this feature?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b1d9428-2dbb-c80b-c2cd-b4841d3d8bd3
* Version Independent ID: 20af5f8d-479c-66ec-aacd-d3f9cb79c814
* Content: [Direct federation with an identity provider for B2B - Azure AD](https://docs.microsoft.com/en-us/azure/active-directo

[2020-02-12 20:46] KranthiPakala-MSFT commented on #47977
@shashankkr Thank you for reaching out and bringing this to our notice. At this time we are reviewing the ask and will provide an update as appropriate

[2020-02-12 20:47] jeevansd commented on #47929
That is not the intent of this article. Please reach out to Google team and they will tell you how to federate Google with Azure AD or Office 365.

[2020-02-12 20:48] KranthiPakala-MSFT commented on #47957
@ksgopal4 Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2020-02-12 20:50] vladik-hbinov commented on #47929
Ok, thanks.
Still, please add the section about Reply URL (Assertion Consumer Service
URL) because it's required in the config and the article doesn't mention it.
Thanks again.

On Wed, Feb 12, 2020 at 10:47 PM Jeevan Desarda <notifications@github.com>
wrote:

[2020-02-12 20:54] samgladstone opened #47982 "Please improve the Azure Cosmos DB Emulator MongoDB API Guidance"
I'm finding it really hard to understand how to use the emulator with the MongoDB API. The documentation is quite limited and I have not been able to make much progress.

#### MongoDB wire protocol version 3.2
Enabling the 3.2 MongoDB protocol is documented OK and I'm able to get this working. However, I need the 3.6 version for some extra features that are supported.

#### MongoDB wire protocol v

[2020-02-12 20:55] djpmsft commented on #47977
Hi @shashankkr,

If you are receiving thousands of files per second, I would not recommend using the event trigger. In its current design, the event trigger will trigger a single pipeline per event.

Would it be possible for you to micro batch your files and copy them in a single pipeline using wildcarding on a cadence? You can also emit a single 'success' file and base your event trigger on this.

[2020-02-12 20:55] mike-urnun-msft commented on #47499
@BrianTJackett Based on the active discussions taking place on Azure/Azure-Functions#1370 and other issues referenced, we'll hold off from making the suggested update until further instructions are shared from the Functions team.

We will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-02-12 20:55] #47499 closed

[2020-02-12 20:57] nayar34 opened #47983 "out of date"
The flow instructions seem to be out of date when matching up screens with Flow.  For instance, there is no Recurrence anymore from what I can tell.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 067dc36a-c98a-73fc-cee0-59a311619401
* Version Independent ID: 362a1a3f-b536-123c-2dd1-421051f0fec4
* Content: [Azure Table

[2020-02-12 20:58] cblomart opened #47984 "Granting Access to a service instance"
The document mentions the possibility to grant access on a service instance scope (https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-health-operations#access-scope)
Unforunatly the way to do this is not documented.
(+ the screenshot are still outdated but this is for #33390)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-02-12 21:02] shashankkr commented on #47977
@djpmsft
Thanks Daniel for the prompt reply. just to understand, lets say if 1000 files are being written to the blob, 1000 events will be generated and the the pipeline will be triggered 1000 times. Is this valid? If yes then why cant I use it to copy the blob?

[2020-02-12 21:03] Grace-MacJones-MSFT commented on #47970
Hi @LeonidasKapassakalis, thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-12 21:04] mslot opened #47985 "What do you mean with "Redis .NET Core clients use the latest TLS version by default.""
Do you mean that all using https://www.nuget.org/packages/Microsoft.Extensions.Caching.StackExchangeRedis uses the latest TLS version, or is it enough to use StackExchange.Redis itself (that the extension nuget uses as a dependency)? Both for client and server. Fx if I have a .NET Core 2.1 or 2.2 web api running in Azure, and not using any sslProtocols in the StachExchange.Redis connectionstring,

[2020-02-12 21:11] mike-urnun-msft commented on #47946
@sean-nixon Per discussion on MicrosoftDocs/data-integration#6, the Gateway team has been working on this and it should be released in a matter of week or two. Please note that this timeframe is subject to change.

FYI that there are [PowerShell cmdlets available](https://powerbi.microsoft.com/en-us/blog/on-premises-data-gateway-management-via-powershell-public-preview/) for gateway management tas

[2020-02-12 21:16] mike-urnun-msft commented on #47963
@SgtSpamCan Thank you for your feedback. I'll look into this from the Azure Functions side (since you have opened this issue under this doc) and share my findings on what's possible.

cc: @Mike-Ubezzi-MSFT do you have any thoughts on this matter?

[2020-02-12 21:17] mike-urnun-msft commented on #47976
@dan80386 Thank you for your feedback! We will review and update as appropriate.

[2020-02-12 21:22] bwren commented on #47945
Assuming I understand the question correctly, this is something that we didn't clarify well in the documentation. We send platform metrics to Log Analytics workspace using a diagnostic setting as described in https://docs.microsoft.com/azure/azure-monitor/platform/diagnostic-settings. VMs are a little different though. They have diagnostic settings like any other resource but only for host metrics

[2020-02-12 21:27] jeevansd commented on #47929
OK thanks.

[2020-02-12 21:34] tw3lveparsecs opened #47987 "Example 2 Issue"
the code in example is missing the "networkWatcherFlowAnalyticsConfiguration" object. Should be as follows.
"flowAnalyticsConfiguration": {
    "networkWatcherFlowAnalyticsConfiguration": {
        "enabled": true,
        "workspaceResourceId": "91a3d1e9-698e-4a49-96dc-f6fc585ae888",
        "trafficAnalyticsInterval": 10
    }
}

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2020-02-12 21:34] BryanTrach-MSFT commented on #47046
@dineshbaskaran With an ILB ASE, the concern is that you may have a Network Security Group (NSG) in place that could be blocking traffic to Azure Blob Storage.

The below items are requirements for ensuring your ASE can talk to Azure Storage.

So you'll need to ensure you've enabled outbound traffic on the NSG and ASE on ports 80 and 443. These likely are enabled though otherwise your ASE would go

[2020-02-12 21:42] mganeshphani commented on #47279
Yes this is SFTP-SSH connector

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Esther Fan <notifications@github.com>
Sent: Wednesday, February 12, 2020 2:17:03 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Ganesh Phani Kumar Majeti <mganeshphani@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Cop

[2020-02-12 21:44] Mike-Ubezzi-MSFT commented on #47514
@fgheysels We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-02-12 21:44] #47514 closed

[2020-02-12 21:46] kobulloc-MSFT commented on #47969
Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2020-02-12 21:47] Mike-Ubezzi-MSFT commented on #47517
@fgheysels I went ahead and changed this to a product-question and since it appears this has been answered, I am going to close this issue. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-02-12 21:47] #47517 closed

[2020-02-12 21:49] BharathNimmala-MSFT commented on #47983
@nayar34 Thank you for sharing your feedback, we will further look into this issue and get back to you at the earliest.

[2020-02-12 21:51] sirklarc opened #47988 "Clarification on Performance Log "throughput" value"
Hello,

I would like to get some clarification on the "throughput" value, as I want to calculate how much data is being used in a month.
1) Is it equal to TOTAL throughput served over 60 seconds via the Application Gateway as it is suggested here?
https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-metrics#metrics-supported-by-application-gateway-v1-sku

This article say

[2020-02-12 21:52] MarileeTurscak-MSFT commented on #47932
Thanks! Your feedback has been shared with the content author.

[2020-02-12 21:53] BharathNimmala-MSFT commented on #47945
Thank you @bwren for helping on this GitHub thread.

@AndrewSmithRS Please review above information and let us know if you have any further queries. Thank you

[2020-02-12 21:54] bandersmsft commented on #37446
@CeciAc Fixed with https://github.com/MicrosoftDocs/azure-docs-pr/pull/104165
#please-close

[2020-02-12 21:54] #37446 closed

[2020-02-12 21:57] mmacy commented on #44225
@NachoVazquez @Norrch2 @NullQubit @xubinzheng This issue has been resolved on the service side and has been deployed to all regions. You should no longer be required to specify a redirect URI for an ROPC application registration when you register new applications using _App registrations (Preview)_. Please let us know if you have further issues.

Cc: @nickgmicrosoft

[2020-02-12 22:00] MarileeTurscak-MSFT commented on #47980
@assaf-grth
Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-12 22:01] MarileeTurscak-MSFT commented on #47980
@assaf-grth Unfortunately there is no definite timeline yet, but if you keep track of this page and of the Azure Active Directory release notes, this information will be posted as soon as it's available.

[2020-02-12 22:01] #47980 closed

[2020-02-12 22:01] grayzu commented on #42443
This has been broken by some changes to the Managed Identity implementation. We will update the image to resolve this but I am curious about how you intend to use the marketplace image with Terraform? If you are looking to get familiar with Terraform on Azure, you can use the Azure Cloud Shell which has the latest version of Terraform pre-installed.

[2020-02-12 22:02] kgremban commented on #46403
@heresabya You're correct that IoT Edge runs on Raspbian Stretch + Raspberry Pi, but not Windows 10 IoT Core + Raspberry Pi. The difference is the operating system. Currently IoT Edge is not supported on Windows ARM32 devices. IoT Edge on Linux ARM32 devices is supported.

[2020-02-12 22:02] MarileeTurscak-MSFT commented on #47984
@cblomart
Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-12 22:03] qianw211 commented on #41979
Hi @santhoshbomma9, we're sorry for the delayed reply, and your comments are valuable to us.  Here's the answer to your question from our engineering team:

"This call only returns pending **Reinstate** operations. Since this is a rare case, in almost all cases this API call will return empty result and it’s fine."

[2020-02-12 22:07] NavtejSaini-MSFT commented on #47954
@DanielMabbett We are checking this and will get back to you.

[2020-02-12 22:09] NavtejSaini-MSFT commented on #47978
@langstonj We are checking this issue and will get back to you.

[2020-02-12 22:10] NavtejSaini-MSFT commented on #47982
@samgladstone We are checking this and we will get back to you.

[2020-02-12 22:12] NavtejSaini-MSFT commented on #47985
@mslot We are checking this and will get back to you.

[2020-02-12 22:12] rachel-msft commented on #47954
Hi @DanielMabbett. The detailed information about backups is in this concepts article: https://docs.microsoft.com/azure/postgresql/concepts-backup which is referenced at the bottom of the portal article. We summarize as "periodically" in the portal article because that article is focused on restore steps.

[2020-02-12 22:18] nayar34 commented on #47983
I was not able to get through the instructions either when you get to the part where you add an expression on the condition it does not pop up a way to add an expression in Flow

[cid:image001.png@01D5E1B7.976AC7C0]

From: BharathNimmala-MSFT <notifications@github.com>
Sent: Wednesday, February 12, 2020 2:50 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Aseem Nayar <anayar@cl

[2020-02-12 22:21] RyanHill-MSFT commented on #47630
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-12 22:21] #47630 closed

[2020-02-12 22:24] santhoshbomma9 commented on #41979
Thank you very much for your reponse!

[2020-02-12 22:24] #41979 closed

[2020-02-12 22:26] bandersmsft commented on #41684
@Brancart675 Minor update made with https://github.com/MicrosoftDocs/azure-docs-pr/pull/104187 for this issue.
#please-close

[2020-02-12 22:26] #41684 closed

[2020-02-12 22:31] MarileeTurscak-MSFT commented on #47890
@mmacy and @iainfoulds is there anything like this planned in the backlog? Should we make a work item for this?

[2020-02-12 22:32] GiftA-MSFT commented on #47883
@BillmanH can you please clarify your question? In Azure ML Studio (Preview), you can view tracked metrics and charts that are logged for each run. Thanks.

[2020-02-12 22:32] rwike77 commented on #32028
@jackhorton, FYI the graphics were updated to be readable in dark mode.

[2020-02-12 22:33] NachoVazquez commented on #44225
@mmacy that's great. Thank you!

[2020-02-12 22:41] Adam-Smith-MSFT commented on #47962
@Annix83 Thank you for the valuable feedback,we are investigating the issue.

[2020-02-12 22:42] Adam-Smith-MSFT commented on #47958
Thank you for the valuable feedback,we are investigating the issue.

[2020-02-12 22:42] TravisCragg-MSFT commented on #47928
@AndrewSmithRS Log Analytics and Azure Monitor are 2 different things. If you are trying to view these metrics in Azure Monitor using the portal, select "Metrics" under the Monitoring section of your VM.

Next, select your metric by making sure that your VM name is in the Scope, 'Virtual Machine Host' is selected for the Metric Namespace, and then 'Inbound Flows' and 'Outbound Flows' should be sel

[2020-02-12 22:48] fleed opened #47990 "Link in Policies are broken"
The links available in the Policies section are broken (GitHub 404)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55b4c3f6-7ea3-9b94-cd8c-cbe37dc31656
* Version Independent ID: 0310805b-ff71-85bf-3f74-ca4caa6a46ce
* Content: [Tag resources for logical organization - Azure Resource Manager](https://docs.microsoft.com/e

[2020-02-12 23:00] TravisCragg-MSFT commented on #47974
@bigtoga Thanks for the feedback! The final sentence appears to be redundant, so it has been removed. The doc should show the update within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-12 23:00] #47974 closed

[2020-02-12 23:02] rachel-msft commented on #47417
Hi @mbanck. Thanks for reaching out. Access to shared_preload_libraries is provided through the portal or other APIs. Here's a link for configuring parameters in the portal: https://docs.microsoft.com/azure/postgresql/howto-configure-server-parameters-using-portal

[2020-02-12 23:04] jeevansd commented on #46074
@pcty-msantos This was a bug in our system. We have fixed it now. Now if customer add the application from the gallery the signing algorithm get set automatically and also we are adding these custom claims for the app. Customer just need to verify and update the mapping as needed.

[2020-02-12 23:04] jeevansd commented on #46074
I am closing this ticket now as we have completed action for it.
#please-close

[2020-02-12 23:04] #46074 closed

[2020-02-12 23:05] BryanTrach-MSFT commented on #47046
@dineshbaskaran Also, I spoke to the storage engineer on my team. They said to check and see if you have the firewall enabled for Azure storage. If so, they suggested disabling it temporarily to see if this allowed traffic.

A possible test would be adding a 0.0.0.0/0 udr to the subnet and see if it works then. This might not be possible in a production ASE but if you have a test ASE I would try t

[2020-02-12 23:08] plzm opened #47991 "Please provide EXACT, complete sample SAS URIs for storage connection"
Using the labeling tool, I have tried for hours to get a SAS URI for a storage account to work.

I have a storage account, with a container. I have a shared access policy on the container with racwdl permissions. Per this page, I use Storage Explorer to get a SAS URI. Doesn't work in the tool.

First, I have to fix what Storage Explorer emits: its final three characters are URL-encoded =, the sign

[2020-02-12 23:12] anandhms opened #47992 "Azure Government availability lists an API version that is not available from within the VM"
When trying to get the instance metadata from with a VM from the US Government cloud (FF) for the API version (2019-11-01) results in 404. The API version before that seems to work. Please double-check and ensure that this API version is deployed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0fdce995-5347-32c4-119f-6

[2020-02-12 23:20] JimacoMS3 commented on #44858
@dcbrown16 -- thanks for your feedback! You're right, the feedback max delivery setting does seem to be missing from the portal. You can change this setting using Azure CLI [az iot hub update](https://docs.microsoft.com/en-us/cli/azure/iot/hub?view=azure-cli-latest#az-iot-hub-update) command (It's the `--fd` parameter). You can also do it by using the [Set-AzIoTHub](https://docs.microsoft.com/en-u

[2020-02-12 23:22] TravisCragg-MSFT commented on #47979
@mrnorr I fixed the command, the doc should reflect the changes within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-12 23:22] #47979 closed

[2020-02-12 23:23] paulshealy1 commented on #47733
@BBirdselllab what size is your VM?

[2020-02-12 23:24] KumudD commented on #42669
This has been fixed. Thanks!
#please-close

[2020-02-12 23:24] #42669 closed

[2020-02-12 23:25] KumudD commented on #43646
IPv6 is still in Preview. Thanks!
#please-close

[2020-02-12 23:25] #43646 closed

[2020-02-12 23:27] dotnetgator opened #47994 "Missing documentation for AzureApplicationInsightsProvider"
I suppose to some degree the documentation is captured at https://docs.microsoft.com/en-us/azure/active-directory-b2c/analytics-with-application-insights , but the standard input/metadata/output/etc format that is used for all other TP's should be included here and linked from the "Application Insights" entry in the "Types of Technical Profiles" section above (https://docs.microsoft.com/en-us/azur

[2020-02-12 23:31] PatAltimore commented on #47768
Hi @ben-oxley,

Thanks for opening an issue. I've updated and published a fix to the article.

Thanks,
Pat

#please-close

[2020-02-12 23:31] #47768 closed

[2020-02-12 23:32] Grace-MacJones-MSFT commented on #47894
Hi @samrueby, thanks for catching this error in the doc. The intended word we wanted to use was "safely" not "safe". I have submitted a PR to fix the issue, the change is merged internally and will go-live in the public docs shortly.

[2020-02-12 23:32] #47894 closed

[2020-02-12 23:33] dotnetgator opened #47995 "Missing documentation for PhoneFactorProtocolProvider"
The PhoneFactorProtocolProvider does not appear to be documented within the Reference area of the B2C documentation. There is an article in this section related to Azure Multi-Factor authentication, but no information is provided as to how to select one vs the other. Also, the preferred Phone Factor Protocol article should be linked from the the "Phone factor provider " entry in the "Types of Tech

[2020-02-12 23:33] Grace-MacJones-MSFT commented on #47970
Hi @anthonsu, can you please confirm this feedback?

[2020-02-12 23:34] dotnetgator opened #47996 "Guidance needed to differentiate between this and PhoneFactorProtocolProvider"
There is another MFA tool in the IEF - the PhoneFactorProtocolProvider protocol. The PhoneFactorProtocolProvider is actually included in the Starter Pack policies. Guidance should be provided as to which of these should be used and under what circumstances.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d52f886f-9a07-6

[2020-02-12 23:35] richardspitz opened #47997 "All Github links broken"
There's a missing "/" after "https://github.com/Azure/azure-policy/blob/master" in all Policy links on this page that is breaking them.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: befcd549-5b66-5e93-34a2-ff31c8c0855c
* Version Independent ID: a8337578-29e7-9087-3100-d25caad271ee
* Content: [List of built-in policy d

[2020-02-12 23:36] DCtheGeek commented on #47997
#assign:DCtheGeek

[2020-02-12 23:36] swojit opened #47998 "Rerun a debug"
Is there a way to rerun a debug session with the same filled parameters, etc?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5abe92e0-af6a-4def-ca04-cec316529945
* Version Independent ID: 96e2ab4c-46cd-e996-fb11-1423b2325928
* Content: [Iterative development and debugging in Azure Data Factory - Azure Data Factory](htt

[2020-02-12 23:38] DCtheGeek commented on #47997
Thanks @richardspitz.  I spotted this early this morning and it looks like the publish just happened to fix it.  Can you confirm after a refresh the links work for you now?

@MicrosoftDocs/azure-cxp-triage Please label ‘doc-bug’ and #in-progress

[2020-02-12 23:38] aahill commented on #46971
Thanks @girishnadiger-gep - I've updated the documentation to reflect this change. #please-close

[2020-02-12 23:38] #46971 closed

[2020-02-12 23:45] richardspitz commented on #47997
@DCtheGeek, All sorted. Thanks!

[2020-02-12 23:46] DCtheGeek commented on #47997
#please-close

[2020-02-12 23:46] #47997 closed

[2020-02-12 23:52] Grace-MacJones-MSFT commented on #46051
Hi @mohamed-shehata-m, thank you so much for your patience. This will require a deeper investigation, if you have a support plan you may file a support ticket or send us an email at azcommunity@microsoft.com with a link to this thread URL and your Subscription ID
so that we can create a one-time-free support ticket for you to work closely on this matter.

We will now proceed to close this thread.

[2020-02-12 23:52] #46051 closed

[2020-02-12 23:56] MarileeTurscak-MSFT commented on #47935
Yes, you can disable certain methods like SMS. The only caveat is that this will apply to all users and you cannot set it up per-user.

Enable and disable verification methods
1. Sign in to the Azure portal.
2. On the left, select Azure Active Directory > Users
3. Select Multi-Factor Authentication.
4. Under Multi-Factor Authentication, select service settings.
5. On the Service Settings page, und

[2020-02-12 23:56] szhaomsft commented on #47845
yes replied

[2020-02-12 23:57] MarileeTurscak-MSFT commented on #47935
Hope this helps. We will proceed to close this thread but if you have further questions please post to [Microsoft Q&A](https://docs.microsoft.com/answers/topics/azure-active-directory.html?filter=unanswered) and we will happily reply there as this is more of a product question than documentation feedback.

[2020-02-12 23:57] #47935 closed

[2020-02-13 00:03] ermacia91 commented on #47782
Yes, our customer is using DevOps to deploy ARM templates for Data Gateways. The template used in questions is the one acquired from the creation process of Data Gateways. I have not used the templates provided, but I do not think those will work, as we are not deploying logic apps.

[2020-02-13 00:20] david-jarman opened #48000 "Service Fabric availability is confusing"
The text under Service Fabric says
`Managed Identity for Service Fabric Applications is in Preview and available in all regions.`

But then the matrix, the `All Generally Available / Global Azure Regions` column says it's `Available`, when other matrices says "Preview" when it's not GA'd.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-02-13 00:25] djpmsft commented on #47977
While you can do this, I would highly recommend against this architecture. This will be very costly and you will run into concurrency issues and may run into throttling. If you are just doing a direct copy, I would recommend that you batch these copies together

[2020-02-13 00:26] djpmsft commented on #47998
If you have default values for your parameters, a debug run will default to using that. Otherwise, you will have to specify the parameters at run time.

Rerunning triggered pipelines from the monitoring experience allows for rerun using the existing parameters

#please-close

[2020-02-13 00:26] #47998 closed

[2020-02-13 00:32] felickz opened #48001 "AADB2C90028: Client certificate specified for 'xyz' is invalid. Check that the certificate is correct, contains a private key and that access has been granted by the resource."
I have a cert in PFX format, is valid (signed by cert authority / contains private key), but failing on the RESTFUL provider with: AADB2C90028: Client certificate specified for 'xyz' is invalid. Check that the certificate is correct, contains a private key and that access has been granted by the resource.

Via "Prerequisites" https://docs.microsoft.com/en-us/azure/active-directory-b2c/secure-rest-

[2020-02-13 00:39] KranthiPakala-MSFT commented on #47977
Thanks much @djpmsft for quick assistance on this.

@shashankkr In addition to Daniel's information, the default Data Factory concurrent pipeline runs limit is 100. A similar topic was discuss in another issue #15909

Hope this helps.

[2020-02-13 00:39] msaburnley commented on #44671
@prontohostau
This document is about adding group owners for the Azure Portal. When using the Azure Portal, there is no option to create or add owners to a distribution group. This is only capable in the Microsoft Admin portal.

I am leaving the content as is and closing the issue. If you have any questions, send an email.
Thanks!

#please-close

[2020-02-13 00:39] #44671 closed

[2020-02-13 00:41] ecfan commented on #35331
Hi @steveculshaw,

The topic updates are now live for the topic, [Receive and send B2B messages by using Azure Logic Apps and Enterprise Integration Pack](https://docs.microsoft.com/azure/logic-apps/logic-apps-enterprise-integration-b2b). Thank you immensely for your patience!

[2020-02-13 00:45] MikeKaneDXC opened #48002 "Why no mention of pass through authentication as a design option?"
Other sections of the hybrid identity documentation discuss pass through authentication but it seems to be missing from this page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a50aa288-4211-e1a9-1ec1-c9d847a7ef7e
* Version Independent ID: 3731ba26-8ee0-37fc-848c-e11a29e785cf
* Content: [Hybrid identity design - adopti

[2020-02-13 00:45] msaburnley commented on #45708
Hey @michevnew

I have updated the screenshots and content. I left the title of the subsection the same because it doesn't have the match the UI in this case because it's not a step and is about enabling requests in general.

Thanks for your feedback and let me know if you have any questions. #please-close

[2020-02-13 00:45] #45708 closed

[2020-02-13 00:49] msaburnley commented on #45549
Hey @clfilipe

I updated the content and screenshot. Please let me know if you have any questions. Thanks for your feedback!

 #please-close

[2020-02-13 00:49] #45549 closed

[2020-02-13 01:11] felickz commented on #48001
After plugging in app insights, can see this error is the outcome of a 403 response from the server.  Certificate was actually good but the server is also looking for a bearer token.  B2C has no way to know that generically so closing this issue.

[2020-02-13 01:11] #48001 closed

[2020-02-13 01:13] MarileeTurscak-MSFT commented on #47994
@dotnetgator
Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-13 01:13] kromerm commented on #47762
For now, please use a large integer value, i.e. 999999 to achieve the same effect. Previously, the behavior was non-deterministic because a blank value is not actually valid. We fixed that bug, but it appears you were leveraging it as a feature. We'll add a way to give you back that same effect to query the entire dataset without needing to set a large integer for sample size.

[2020-02-13 01:15] kazshi commented on #47966
@Karishma-Tiwari-MSFT  I created in one of the listed regions. I verified AZ is listed (in the VMSS Properties) after created the cluster using the CLI in this page. I'm looking for information about the AZ when creating a cluster from the portal.

[2020-02-13 01:16] MarileeTurscak-MSFT commented on #47994
Thanks! I made a pull request to add this in. https://github.com/MicrosoftDocs/azure-docs-pr/pull/104234

[2020-02-13 01:16] MarileeTurscak-MSFT commented on #47994
Adding @mmacy for visibility

[2020-02-13 01:17] bradyson commented on #47081
Thank you. It's clear now

[2020-02-13 01:18] MarileeTurscak-MSFT commented on #47994
I'm closing this as I've made a PR to update the document but feel free to re-open if you feel any further changes are necessary.

[2020-02-13 01:18] #47994 closed

[2020-02-13 01:39] MarileeTurscak-MSFT commented on #47995
@dotnetgator thanks for this. The content author is reviewing your feedback.

[2020-02-13 01:40] MarileeTurscak-MSFT commented on #47996
@dotnetgator thanks for this feedback. We are looking into it.

[2020-02-13 01:40] TravisCragg-MSFT commented on #47632
@shravanbilla We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-13 01:40] #47632 closed

[2020-02-13 01:42] sjyang18 opened #48003 "Do we have a az cli support to enable this feature? Or, ARM template support?"
I am evaluating and testing this feature thru our automation. I don't see any related properties exposed thru Azure resource manager or thru azure resource properties.  When will this feature be supported thru ARM?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6540d683-82a9-27eb-24ec-6c8314289d19
* Version Independent

[2020-02-13 01:53] v-tawe commented on #47646
The page has been transferred to Chinese, so closing this issue. Thanks.

[2020-02-13 01:53] #47646 closed

[2020-02-13 01:53] Cl0udAwl commented on #47824
I'm following the steps below. When I go to to my virtual machine under my network interface, I can't see DNS Server under "Settings".

Change the primary and secondary DNS address for the Srv-Work network interface
For testing purposes in this tutorial, configure the server's primary and secondary DNS addresses. This isn't a general Azure Firewall requirement.

On the Azure portal menu, select Re

[2020-02-13 02:01] msrini-MSFT commented on #47824
Can you share a screen shot of what you are seeing ?

[2020-02-13 02:11] ShineSmile commented on #47828
@VikasPullagura-MSFT

Are these relationship correct that:
--aad-server-app-id = App registrations Object ID
--aad-server-app-secret = client secret
--aad-client-app-id = Application (client ID)
--aad-tenant-id = Directory (tenant) ID

[2020-02-13 02:11] andresravinet opened #48004 "OneDrive for Business and FSLogix best practices link is redirected to wrong page"
Original link: https://fslogix.com/products/technical-faqs/284-onedrive-for-business-and-fslogix-best-practices
Redirects to: https://docs.microsoft.com/en-us/fslogix/overview

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4951380a-4f22-1755-43d4-84a90b23e20a
* Version Independent ID: 9f7fe2ab-6ee0-cf62-195b-517dba2492

[2020-02-13 02:15] TravisCragg-MSFT commented on #47987
@tw3lveparsecs Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-02-13 02:16] neeleshray-msft commented on #47955
@sean-nixon Thank you for reaching out. We will investigate and update the thread further.

[2020-02-13 02:17] KrishnaG-MSFT commented on #47990
@fleed Thanks for your comment! We will review and provide an update as appropriate.

[2020-02-13 02:19] neeleshray-msft commented on #48000
@david-jarman Thank you for reaching out. We will investigate and update the thread further.

[2020-02-13 02:20] neeleshray-msft commented on #48002
@MikeKaneDXC Thank you for reaching out. We will investigate and update the thread further.

[2020-02-13 02:21] KrishnaG-MSFT commented on #47967
@cloudsavara Glad to know that you have self resolved and hence closed the issue. Thanks for the update.

[2020-02-13 02:28] raybellwaves commented on #47376
@JasonWHowell same for me as @fourjacks. Started dabbling with azure notebooks today. I’m use to using conda in my workflow so thought it was good it has this feature but I couldn’t get it working

[2020-02-13 02:29] #47875 closed

[2020-02-13 02:29] #47786 closed

[2020-02-13 02:32] Cl0udAwl commented on #47824
![Azure](https://user-images.githubusercontent.com/37819736/74396157-c9129600-4dd6-11ea-9364-cf0b1c26b658.PNG)

[2020-02-13 02:39] GiftA-MSFT commented on #47845
@christoph-zenger-hcsg your question has been answered on the previous help. Do you have any further questions or concerns?

[2020-02-13 03:03] SnehaGunda commented on #47265
We will now close this issue.

#please-close

[2020-02-13 03:22] KranthiPakala-MSFT commented on #47710
@skrepo0 Unfortunately ADF doesn't support this currently. But I would suggest you to please up-vote and/or comment on below feedback from other cusotmers, as it would help to increase the priority of the feature request.

https://feedback.azure.com/forums/270578-data-factory/suggestions/36063202-databricks-spark-submit-activity

We will now proceed to close this thread. If there are further quest

[2020-02-13 03:22] #47710 closed

[2020-02-13 03:23] ShineSmile commented on #47828
@VikasPullagura-MSFT I will update this issue later with my extra attempt later.

[2020-02-13 03:31] KranthiPakala-MSFT commented on #47863
@alapinsk Thanks for the feedback! We have assigned the issue to the content author to investigate this and update the document as appropriate.

[2020-02-13 03:34] GiftA-MSFT commented on #47922
@arvind-dhariwal To get the values you are seeking, follow the steps below:

1. In Azure Portal, select **Azure Active Directory**.
2. From **App registrations** in Azure AD, select your application.
3. The **Overview** section displays your tenant id and client id
3. The **Certificates** & secrets section displays the client certificates and secrets

We will incorporate your feedback to update th

[2020-02-13 03:40] GiftA-MSFT commented on #47897
@dkonyayev we will forward this feedback to the product team. However, I encourage you to raise a uservoice in the [feedback forum](https://cognitive.uservoice.com/forums/578689-qna-maker) so you and others can vote as well as track progress of the feature request. Hope this helps. Thanks.

[2020-02-13 03:51] truekonrads commented on #46592
I received this from Microsoft Support:

[2020-02-13 03:56] koratshail commented on #46601
@@AshokPeddakotla-MSFT,@PtwHub,@justinatomatic,@kgremban
Does anyone know how do I have started with these above links to form Edge Gateway?

[2020-02-13 04:07] RohitMungi-MSFT commented on #47991
@plzm Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-02-13 04:11] RohitMungi-MSFT commented on #47840
@dem108 labeling  is currently not available with the API/SDK, Our team is currently working on this feature and we do not have a ETA on its release. We will definitely update the documentation with the details once it is available.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-02-13 04:11] #47840 closed

[2020-02-13 04:29] VikasPullagura-MSFT commented on #47480
@asinn826 Thanks for updating the document.

@marinnedea The doc is updated now. I am closing this issue for now. If there are further questions regarding this, please tag me in comment. I will reopen it and we will continue the discussion.

[2020-02-13 04:29] #47480 closed

[2020-02-13 04:40] DixitArora-MSFT commented on #47848
@RakeshkumarTaninki Just following up again in case missed the previous communication.

[2020-02-13 04:40] RohitMungi-MSFT commented on #47851
@ManojBableshwar Thanks for raising a bug. @juhap This item is added to our team's backlog and will be investigated and updated soon.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-02-13 04:41] PramodValavala-MSFT commented on #47941
@holtjp Thanks for contributing to MS Docs!

[2020-02-13 04:42] KalyanChanumolu-MSFT commented on #47707
@danijam I hope that answers your question.
We will proceed to close this issue now. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-02-13 04:42] #47707 closed

[2020-02-13 04:45] truekonrads commented on #46590
I've received the following from Microsoft support:

[2020-02-13 05:06] KrishnaG-MSFT commented on #47921
@holgerjay I believe this (https://docs.microsoft.com/en-us/azure/automation/source-control-integration) doc covers source control integration in Azure Automation with GitHub, Azure Repos (Git), Azure Repos (TFVC).

I see that along with "Source control integration with GitHub Enterprise" (https://docs.microsoft.com/en-us/azure/automation/automation-scenario-source-control-integration-with-github-

[2020-02-13 05:06] nbaolong48 opened #48005 "URI with SAS unable to open in word client"
So I have a service to grant SAS key to a document that I upload to blob storage:
`anonymousLink = blob.Uri.AbsoluteUri + blob.GetSharedAccessSignature(null, "blobviewpolicy");`

and the anonymousLink will look like:
`http://127.0.0.1:10000/devstoreaccount1/serviceprovider1/TEMP/19121194_20190502_084615903_09082018_042939988.docx_20200213_042431675.docx?sv=2018-03-28&sr=b&si=blobviewpolicy&sig=Prq

[2020-02-13 05:06] neetima09 opened #48006 "Create an Autoscale Setting for Azure resources based on performance data or a schedule"
The document "Create an Autoscale Setting for Azure resources based on performance data or a schedule" is not updated.
Runtime Stack option is not mentioned
Autoscale is not part of monitoring section
Scaleup/Scale out option needs to be explained.
Kindly look into this

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf

[2020-02-13 05:07] AshokPeddakotla-MSFT commented on #47744
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-13 05:07] #47744 closed

[2020-02-13 05:07] VikasPullagura-MSFT commented on #47992
@anandhms Thanks for the feedback! We are currently investigating and will get back on this.

[2020-02-13 05:08] VikasPullagura-MSFT commented on #47992
@KumariSupriya Can you please check and add your comments on this.

[2020-02-13 05:10] souravmishra-msft commented on #47731
closing this thread now

[2020-02-13 05:10] #47731 closed

[2020-02-13 05:18] waynerobinson commented on #18640
If I could request a clarification on this?

I understand that if specific partition keys are specified, that the query will only execute on a subset of the physical partitions.

However, if we were defining portions like p1234_001, p1234_002, etc and query with something like `WHERE pk LIKE ‘p1234_%’` or `WHERE pk BETWEEN ‘p1234_001’ AND ‘p1234_999’` would this also limit the query to run just on

[2020-02-13 05:24] waynerobinson opened #48007 "Partition filters in WHERE clause"
If I could request a clarification on this?

I understand that if specific logical partition keys are specified, that the query will only execute on a subset of the physical partitions.

However, if we were defining partition keys like p1234_001, p1234_002, etc and query with something like WHERE pk LIKE ‘p1234_%’ or WHERE pk BETWEEN ‘p1234_001’ AND ‘p1234_999’ would this also limit the query to r

[2020-02-13 05:25] VikasPullagura-MSFT commented on #48004
@andresravinet Thanks for the feedback! We are currently investigating and will get back on this.

[2020-02-13 05:28] VikasPullagura-MSFT commented on #48004
@Heidilohr  Can you please check and update the document.

[2020-02-13 05:38] charlespickettau commented on #46484
The authentication cycle for OAuth 2.0 is different to OAuth1. The connector in ADF will need updating. Is there a timeline on this MS?

[2020-02-13 05:39] RohitMungi-MSFT commented on #47991
@plzm We have run the steps according to the steps documented and the SAS URI from the storage explorer worked when a new connection is created from the tool and a project was created to run OCR on the files that are uploaded. Here is the format of SAS URI from the storage explorer.

`https://<storage_account>.blob.core.windows.net/<container_name>?st=2020-02-13T05%3A02%3A46Z&se=2020-02-14T05%3A02

[2020-02-13 05:40] KranthiPakala-MSFT commented on #47127
@mcurko Thanks for your response.

As this is not related to document content directly, I would request you to please post your question on [MSDN](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDatabricks) and other forums ([stackoverflow](https://stackoverflow.com/questions/tagged/azure-databricks)), we have our engineers and others who are monitoring them and will be happy to hel

[2020-02-13 05:40] #47127 closed

[2020-02-13 05:44] terrychang1015 opened #48008 "hope it can provide "use case" in what is "service name" session which will provide who would like to test the service in a clear way"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 015f6f83-a6be-c2e8-773f-5220ec8ca41a
* Version Independent ID: b962bde9-c513-ced9-6c91-013fc0c2baf5
* Content: [What is Azure Synapse Analytics (formerly SQL DW)? - Azure SQL Data Warehouse](https://docs.microsoft.com/en-us/azure/sql-data-warehouse/sq

[2020-02-13 05:45] terrychang1015 commented on #48008
hope it can provide "use case" in what is "service name" session which will provide who would like to test the service in a clear way

[2020-02-13 05:48] SubhashVasarapu-MSFT commented on #47988
@sirklarc , T We are looking into this query and will update you as soon as possible.

[2020-02-13 05:59] FrankHu-MSFT commented on #47931
@ubusuku thanks for letting us know about this, NTLM is not supported, and i'll go in and put a note accordingly. Please let us know if you have anymore questions otherwise i will be closing this github issue by end of day tomorrow

[2020-02-13 06:02] msrini-MSFT commented on #47924
@owingruters , Do you have any update on this issue?

[2020-02-13 06:05] msrini-MSFT commented on #47824
Click on Networking --> NIC of your VM, and then you will be able to see.

![image](https://user-images.githubusercontent.com/47132998/74406198-fef65f80-4e54-11ea-8a0c-91978d0eef48.png)

[2020-02-13 06:10] VikasPullagura-MSFT commented on #47808
@MicrosoftDocs/aks-pm Please add your comments.

[2020-02-13 06:11] OzBob commented on #46017
@Hippomotion Create a support ticket in the azure portal: https://portal.azure.com/#blade/Microsoft_Azure_Support/HelpAndSupportBlade/newsupportrequest

[2020-02-13 06:23] djsly commented on #46350
We need to understand better the priority between NAT rules and Network Rules

Here's something I was trying and it doesn't work.

1) create a NAT rule collection  (priority 100) :  with Source = * , Destination = myPIP , Translated = my private IP
2) create a Network rule collection (priority 100) with Source = MyIP, Destination = myPIP and Action = Allow
3) create a Network rule collection (prio

[2020-02-13 06:23] anirudhgarg commented on #47970
@LeonidasKapassakalis which plan are you trying this with ? Is your Function App Dedicated/Premium/Consumption ?

[2020-02-13 06:25] kazshi opened #48009 "more specific information about "For some combinations of service tier and compute size changes""
The followings are from the Impact section:
"For some combinations of service tier and compute size changes, a replica of the database must be created in the new compute instance which involves copying data and can strongly influence the overall latency. "
"For some combinations of service tier and compute size changes, database files are detached and reattached during the switch."

Could you plea

[2020-02-13 06:33] #48005 closed

[2020-02-13 06:36] holgerjay commented on #47921
Thank you @KrishnaG-MSFT for the quick follow-up.

[2020-02-13 06:38] neeleshray-msft commented on #48002
@MikeKaneDXC You can find the details about Pass-through Authentication for Azure AD Hybrid Design in this document - **[Choose the right authentication method for your Azure Active Directory hybrid identity solution](https://docs.microsoft.com/en-us/azure/security/fundamentals/choose-ad-authn#cloud-authentication-pass-through-authentication)**.

[2020-02-13 06:39] AdimUser opened #48010 "Missing Information"
I guess, It is better to inform, after upgrading the kuberenetes cluster, user need to manually deploy the applications

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a14a3f84-28b4-0a2a-4da7-47cb4d66689f
* Version Independent ID: d1ffdd88-ab9a-9f55-8689-526e7415b326
* Content: [Kubernetes on Azure tutorial - Upgrade a

[2020-02-13 06:43] neeleshray-msft commented on #48000
@david-jarman Managed Identities for Service Fabric is under "_Preview_" as of today for all regions.
As for the matrix, @MarkusVi - could you confirm and change the document as required ?

[2020-02-13 06:51] roysudi commented on #19261
@tamram - Do you have an update on this yet?

Kindly let me know. We are hosting a production grade website on Azure Storage and have a Azure CDN serve it. We need to be able to set/un-set certain security specific headers, and are stuck at this point.

[2020-02-13 06:55] #48010 closed

[2020-02-13 07:00] AdimUser opened #48011 "Just want to clarify"
Running pods on the node are scheduled on other nodes in the cluster : Here we specially mentioned about the PODS, Is it create all other resources like secrets, certifications and configs maps ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a14a3f84-28b4-0a2a-4da7-47cb4d66689f
* Version Independent ID: d1ffdd88-ab9a-

[2020-02-13 07:08] CatchSandeepVaid commented on #47830
I was able to solve the above problem by using
 EventHubProducerClient producer = new EventHubClientBuilder()
        		**.transportType(AmqpTransportType.AMQP_WEB_SOCKETS)**
            .connectionString(connectionString, eventHubName)
            .buildProducerClient();

Not sure why code doesnt work with AmqpTransportType.AMQP?

[2020-02-13 07:11] AlexanderSaad commented on #47669
Hi @saurabhsensharma, thank you for the reply.

[2020-02-13 07:23] LeonidasKapassakalis commented on #47970
Just the ServerLess Chat Python sample from Docs

On Thu, Feb 13, 2020 at 8:23 AM Anirudh Garg <notifications@github.com>
wrote:

--
LeoKapasLg

[2020-02-13 07:29] rajaprad opened #48013 "Missing ARM Deployment documentaion"
[Enter feedback here]

Can there be a documentation on ARM deployment of the Notification Hubs,

I remember there was a template sample to create a Notification Hub which supports Google API and Apple certificate to be used in the ARM template. This information is overhauled and feature removed from the template now? Why is that braking and what is the limitation in exposing that in the template?

[2020-02-13 07:31] rajaprad opened #48014 "Missing: Resource Group Deployment sample - ARM Template"
[Enter feedback here]

Can there be a documentation on ARM deployment of the Notification Hubs,

I remember there was a template sample to create a Notification Hub which supports Google API and Apple certificate to be used in the ARM template. This information is overhauled and feature removed from the template now? Why is that braking and what is the limitation in exposing that in the template?

[2020-02-13 07:52] manzinge commented on #47947
@yoelhor Thank you for your fast response and the change!
However, I am confused because now it seems like there is no possilbility to get the nationalnumber and the countrycode from the phoneNumber with the above described Transformation method, due to the fact that the GetNationalNumberAndCountryCodeFromPhoneNumberString ClaimsTransformation expects a string inputClaim

[2020-02-13 08:00] AndrewSmithRS commented on #47945
Perfect and thanks very much. I did apply the set-azdiagnosticsetting command prior to this issue being raised however I didn't get any metrics displayed however a colleague has carried out the same and it works perfectly.

[2020-02-13 08:00] #47945 closed

[2020-02-13 08:00] OliCSADoerr opened #48015 "Provide a graphical overview of the actual limits"
It would be great to have a graphical overview of the limits, which brings the relationship of an Azure AVS Object, the subscription an the Global Reach Connection, as well as the Node-Limits into context - see attachment.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82cb3720-8110-26de-b28f-97e6e3422b70
* Version Ind

[2020-02-13 08:01] OliCSADoerr commented on #48015
![AVS_Limits_visualized](https://user-images.githubusercontent.com/51448765/74413271-673a4680-4e3f-11ea-8321-48ee0e26dc12.jpg)

[2020-02-13 08:16] aweseeker commented on #12292
Hi, I am using cosmos mongo db 3.6 and java mongodb driver 3.11.1. I am trying to update(renaming a field) in my shard collection (which has millions of data), but getting _The full response is {"_t": "OKMongoResponse", "ok": 0, "code": 61, "errmsg": "query in command must target a single shard key", "$err": "query in command must target a single shard key"}__

  Bson filter= Filters.gt("_id.order

[2020-02-13 08:28] Cl0udAwl commented on #47824
Got it, thank you :)

[2020-02-13 08:29] #47824 closed

[2020-02-13 08:31] JordyBlommaert commented on #47935
@MarileeTurscak-MSFT We've already disabled this feature for MFA. As I know that some options are depended SSPR/MFA. I will create a support case to investigate this further as we already performed the configuration you've mentioned

[2020-02-13 08:36] PeterHedley94 opened #48016 "Cannot Use Portal for Storage Behind Virtual Networks"
I have just been through a support case where we were trying to connect a storage account that is behind a virtual network to a datastore. This seems to only be possible through the SDK and not the portal. Could you update the documentation to make this explicit, please?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c

[2020-02-13 08:47] SwathiDhanwada-MSFT commented on #48006
Thanks for your comment. We are actively looking into it and will get back to you shortly.

[2020-02-13 08:48] lonevvolf opened #48017 "Required cipher is incorrect"
In the Important note, it states that a specific (weak) cipher is required for backend management.  On the FAQ page, though, it states that any of the following are acceptable:
TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA256
TLS_DHE_RSA_WITH_AES_128_GCM_SHA256
TLS_RSA_WITH_AES_128_GCM_SHA256
TLS_RSA_WITH_AES_256_CBC_SHA256
TLS_RSA_WITH_AES_128_CBC_SHA256

---
#### Docum

[2020-02-13 08:51] amanmcse commented on #47433
The extension of the work phone number can be setup in "Additional security verification" page. The [Set up your office phone number as your verification method](https://docs.microsoft.com/en-in/azure/active-directory/user-help/multi-factor-authentication-setup-office-phone#set-up-your-office-phone-number-as-your-verification-method) documentation helps in setup two factor authentication with a wo

[2020-02-13 08:51] KrishnaG-MSFT commented on #47990
@fleed Can you refresh the links, try and confirm if it's resolved now ?

[2020-02-13 08:55] OneConsutlantsDemo opened #48018 "Restore previous version in ADF Production post deployment."
Hello,

If we encounter a issue post production deployment using Release pipeline, how can i revert to a previous version just in the production without restoring things in my ADF TEST and ADF DEV environment.

Assumption I have 3 environments - ADF DEV -> ADF TEST -> ADF PROD

Thank you!

[2020-02-13 08:58] ram-msft commented on #47834
@BurkusCat Can you please add more details about the use case that you are trying.
Yes, You can try writing the stream to a .WAV file just prior to sending it to the Speech Recognizer service, to make sure it sounds correct, and it does appear to.

Please follow the below link for Audio and MIDI library for .NET.
https://github.com/naudio/NAudio

You can also get benefit from Video Indexer for aud

[2020-02-13 09:00] OneConsutlantsDemo opened #48019 "Restore previous version in ADF Production ( with Release pipeline automation )"
Hello,

In the section "Automate continuous integration by using Azure Pipelines releases"

If we encounter a issue post production deployment using Release pipeline, how can i revert to a previous version just in the production without restoring things in my ADF TEST and ADF DEV environment.

Assumption I have 3 environments - ADF DEV -> ADF TEST -> ADF PROD

Thank you

---
#### Document Details

[2020-02-13 09:04] sven5 opened #48020 "Question: Origin of guid value in extension identifiers"
Hi,

extension properties are named like "extension_55dc0861f9a44eb999e0a8a872204adb_Jersey_Number"
Where does the value 55dc0861f9a44eb999e0a8a872204adb come from?
Is this a static guid that identifies each extension property?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a4b8453-d2bc-9c8d-bb16-26fa7e4c6363
* Versio

[2020-02-13 09:07] John-Blair opened #48021 "Really poor"
Have a popup for each cost descriptions that CLEARLY states what the cost is for - not obscure terms like DNS Zone - what does that mean?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59f6d32e-df7a-ac7a-6bf2-7f29ad16824b
* Version Independent ID: ad65a6c5-0e83-d171-275f-c779b0fcae91
* Content: [Review your individual

[2020-02-13 09:17] yoelhor commented on #48020
Extension attributes in the Graph API are named by using the convention extension_**ApplicationObjectID**_attributename. If you use [user flows extension attributes](https://docs.microsoft.com/en-us/azure/active-directory-b2c/user-flow-custom-attributes) it's the object id of an application called `b2c-extensions-app. Do not modify. Used by AADB2C for storing user data.`. As for [custom policy](ht

[2020-02-13 09:17] LanderVe opened #48022 "Update documentation to new NuGet packages"
this page(https://www.nuget.org/packages/Microsoft.Azure.KeyVault) tells me the current library is replaced by

* https://www.nuget.org/packages/Azure.Security.KeyVault.Keys
* https://www.nuget.org/packages/Azure.Security.KeyVault.Secrets
* https://www.nuget.org/packages/Azure.Security.KeyVault.Certificates

I believe the documentation should use these instead

---
#### Document Details

⚠ *Do not

[2020-02-13 09:21] VaibhavVilasPandit commented on #47769
@solankisamir I believe you didn't get my question here. I have read through the docs and I know docs has a link for IP addresses and they cover IP address of entire globe including US Govt ones. Hence I asked specific questions, if I want to whitelist the only required IPs i.e. IP of the region from where I should expect a call. I don't want to enable access for all IPs to my Storage account. Hen

[2020-02-13 09:22] VaibhavVilasPandit commented on #47769
#please-reopen

[2020-02-13 09:22] AndrewSmithRS commented on #47928
Thanks Travis. I was looking to export these metrics into Log Analytics to allow more flexibility on alerting and reports. I've now been informed that this isn't possible via GUI currently but is configurable using Powershell or CLI. For powershell the required command is Set-AzDiagnosticSetting.

[2020-02-13 09:22] #47928 closed

[2020-02-13 09:26] mcurko opened #48023 "Incorrect SLAs"
The SLAs atated on this page are in conflict with what is stated here: https://azure.microsoft.com/en-gb/support/legal/sla/cosmos-db/v1_3/

Multi-region (single region writes) has 99,99% availatility for both reads and writes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f171c675-7217-ad97-d35d-bd1d5058b2cb
* Version

[2020-02-13 09:27] PramodValavala-MSFT commented on #47782
@ermacia91 I believe I understand now. I mistook connection deployment as the API Connection deployment for Logic App connectors.

To confirm my understanding, you are trying to deploy a on-premises data gateway using a service principal?

[2020-02-13 09:27] jakaruna-MSFT commented on #48011
@AdimUser secrets, certifications and configs maps are stored in the etcd by the kubernetes control plane. Pod configurations are also stored there.

So when control plane moves a pod to another node, It will associate the secretes, config maps to the new pods as well.

[2020-02-13 09:32] mcurko commented on #48023
No, it's the other page that's unclear at the top.

[2020-02-13 09:32] #48023 closed

[2020-02-13 09:33] mikaelweave opened #48024 "Step 5 Screenshot and Text Don't Match"
In step 5 the screenshot says "@activity("Web1").output.value" but the text says "@activity("web").output.value". These should match to avoid confusion.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a82e2777-1cc1-4156-2384-3174f5848b6a
* Version Independent ID: be845133-d2d9-7dc1-26a4-741d873b5c21
* Content: [Use Azur

[2020-02-13 09:33] marcelfranke opened #48025 "Link does not work"
The Link to the Libraries part does not work

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 47bb00ae-8ec1-0000-4972-5dfd22983982
* Version Independent ID: 8a8a2723-9a42-1f24-80c4-9c44b59372e2
* Content: [Databricks CLI - Azure Databricks](https://docs.microsoft.com/en-us/azure/databricks/dev-tools/cli/#feedback)
* Cont

[2020-02-13 09:37] techsaau commented on #47738
Any update.

[2020-02-13 09:37] sven5 commented on #48020
@yoelhor  Thank you! 👍

[2020-02-13 09:38] neeleshray-msft commented on #48020
@sven5 Let us know if you need further assistance with this.

@yoelhor, Thank you for the update.

[2020-02-13 09:38] #48020 closed

[2020-02-13 09:38] neeleshray-msft commented on #48022
@LanderVe Thank you for reaching out. We will investigate and update the thread further.

[2020-02-13 09:39] peacemaker360 commented on #47657
@TravisCragg-MSFT Sure. Mainly the documentation does not mention if this would be supported. Anyways, some tests we made showed, that conditions are not always evaluated. We observed this while reconnecting after a first successful login or using device authentification, for example connecting from a company enrolled device.

[2020-02-13 09:44] dave-007 opened #48026 "Is there a consistent paste command on Linux that works for cloud shell editor?"
Good advice for the mac and windows people, don't forget the penguin.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2060077-b280-8535-9a7f-f835cd110227
* Version Independent ID: c3a0188d-6355-f46d-9ac7-d31c8484737e
* Content: [Using the Azure Cloud Shell window](https://docs.microsoft.com/en-us/azure/cloud-shell/usin

[2020-02-13 09:45] CHEEKATLAPRADEEP-MSFT commented on #48025
@marcelfranke Could you please point where the link does not work?

[2020-02-13 09:50] Mattacks opened #48027 "Tests"
There are no tests for these samples.
We not only have to write code, but write tests for our code.
If you were to write tests you would find out how complicated it is to mock some of your libraries

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef0f68d7-7f20-5f59-4acf-09181dc14aea
* Version Independent ID: 002e62f3-e6

[2020-02-13 09:53] VladislavKoldobskiy commented on #42614
AAD B2B accounts are currently not supported. Reason is that VPN server validates Issuer URI, which is tenant-specific, and guest users will have different issuer (i.e. from their home tenant).
Workaround is to change Issuer URI so it will have an ID of a tenant where your users are actually located, AND provide a consent in that tenant.

[2020-02-13 10:04] CHEEKATLAPRADEEP-MSFT commented on #48024
@mikaelweave  Thanks for bringing this to our attention. I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/104254](https://github.com/MicrosoftDocs/azure-docs-pr/pull/104254)
The changes should be live EOD or tomorrow. We will now close this issue. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to upda

[2020-02-13 10:07] CHEEKATLAPRADEEP-MSFT commented on #48018
@OneConsutlantsDemo YI will close this duplicate issue and track this with Duplicate of #48019

[2020-02-13 10:07] #48018 closed

[2020-02-13 10:07] CHEEKATLAPRADEEP-MSFT commented on #48019
@OneConsutlantsDemo  Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content, open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/newthread?prof=required) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum co

[2020-02-13 10:09] #48024 closed

[2020-02-13 10:14] OneConsutlantsDemo commented on #48019
https://docs.microsoft.com/en-us/azure/data-factory/continuous-integration-deployment

[2020-02-13 10:14] mbanck commented on #47417
Oh ok, I only checked that `shared_preload_libraries` is not exposed at SQL level via `SHOW ALL` so assumed it was not exposed via the WEB UI either, my bad. I've now seen that `PG_PREWARM` is an option for `shared_preload_libraries` in v11.

So maybe what could be done is clarify the documentation a bit to mention that from v11 on, you can add pg_prewarm to `shared_preload_libraries` for the back

[2020-02-13 10:15] savaged opened #48028 "Missing a crucial element?"
The `getMessageText()` seems to only return encoded data. Isn't this doc missing `base64_decode($msg);` ?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fefac0f7-e76f-e430-f295-4667b70738c9
* Version Independent ID: cb71f7f2-9216-cca7-aa38-2b9143a5d8d2
* Content: [How to use Queue storage from PHP - Azure Storage](http

[2020-02-13 10:25] RonaldvanMeer opened #48029 "Cannot Request access to the container registry, form shows that it's publicly available"
I think the documentation is out of date:
https://docs.microsoft.com/nl-nl/azure/cognitive-services/form-recognizer/form-recognizer-container-howto#request-access-to-the-container-registry

the first link is to request access -&gt; 'Form Recognizer is now publicly available' is shown and I'm not able to request access.

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2020-02-13 10:27] jackhammer84 commented on #47775
Also, isn't MFA available for Office 365 Enterprise E1 as well? Also, apart from Office 365 Enterprise E3 and E5, it is also included in standalone Office 365 plans like Exchange Online Plan 1 and 2. Please clarify.

[2020-02-13 10:28] neeleshray-msft commented on #48022
@msmbaldwin Could this be updated ?

[2020-02-13 10:33] SnehaAgrawal-MSFT commented on #48013
@rajaprad Thanks for the feedback. We will investigate it further and update you shortly.

[2020-02-13 10:34] SnehaAgrawal-MSFT commented on #48014
@rajaprad Thanks for the feedback. We will investigate it further and update you shortly.

[2020-02-13 10:35] KalyanChanumolu-MSFT commented on #48007
@waynerobinson  Thank you for the reaching out.
We are actively investigating and will get back to you soon.

[2020-02-13 10:36] KalyanChanumolu-MSFT commented on #48003
@sjyang18 Thank you for reaching out.
We are actively investigating and will get back to you soon.

[2020-02-13 10:37] KalyanChanumolu-MSFT commented on #48009
@kazshi Thank you for reaching out.
We are actively investigating and will get back to you soon.

[2020-02-13 10:38] KalyanChanumolu-MSFT commented on #48008
@terrychang1015 Thank you for reaching out.
We are actively investigating and will get back to you soon.

[2020-02-13 10:41] neeleshray-msft commented on #48015
@OliCSADoerr Thank you for reaching out. We are assigning the thread to the content author for their assistance.

[2020-02-13 10:43] neeleshray-msft commented on #48021
@John-Blair Thank you for reaching out. We will investigate and update the thread further.

[2020-02-13 10:46] jtuliani opened #48031 "Which VNets are supported?"
Doc needs to clarify which VNets are supported:
1. VNets in the same subscription as the zone?
2. VNets in multiple subscriptions, in the same Azure AD tenant?
3. VNets in multiple subscriptions across Azure AD tenants?

From the Portal UI it looks like #2 is the case but the doc needs to clarify.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2020-02-13 10:58] ctahok opened #48032 "Not up to date information"
These steps are not up to date:
"Enable monitoring and configure event logging on an existing VM. You can enable diagnostics at the VM level. To enable diagnostics and then configure event logging, perform the following steps:

Select the VM.
Click Monitoring.
Click Diagnostics.
Set the Status to ON.
Select each diagnostics log that you want to collect.
Click OK."

There is Diagnostics Settings un

[2020-02-13 11:09] imsiddsingh commented on #45625
@PramodValavala-MSFT If **endpointType** can't be **AzureFunction** then why is it coming in ARM template generated in azure portal?

![image](https://user-images.githubusercontent.com/27725324/74428648-b2f9e980-4e59-11ea-864d-42945b4881f6.png)

[2020-02-13 11:14] torbenboeck commented on #47762
That would be a perfect solution for me.

On Thu, Feb 13, 2020 at 2:13 AM Mark Kromer <notifications@github.com>
wrote:

[2020-02-13 11:20] SadiqhAhmed-MSFT commented on #48021
@John-Blair Could you please share the screenshot of what you're referring to?

[2020-02-13 11:27] John-Blair commented on #48021
This small cost - i have no idea what it is for?

![image](https://user-images.githubusercontent.com/28809458/74429963-cf932300-4e53-11ea-8c51-4aea0e9d59fd.png)

[2020-02-13 11:31] bdanse opened #48033 "Pre-download updates Powershell example not working on Windows 2016"
If you use the above example to set the NotificationLevel to 3. Will result in no error though the value remains 1.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7a50603-e66c-a6f9-1e19-d49e8bc80af5
* Version Independent ID: ff0bebec-9007-2d78-11c1-118772480c4b
* Content: [Configure Windows Update settings to work wit

[2020-02-13 11:49] SychevIgor opened #48034 "instrumentation key in Application Insights."
Could you clarify this paragraph?

From my perspective - it's too abstract and causing confusion.
I'm fully agree, that different microservices can log their data to different app ins accounts, but I don't know how to retrieve data from multiple app ins accounts in the same query? Azure portal can query from one App Ins account at a time. API Explorer also tell the same https://dev.applicationinsi

[2020-02-13 11:51] jakaruna-MSFT commented on #47002
@pplavetzki did you got a chance to send an email

[2020-02-13 11:53] RohitMungi-MSFT commented on #48016
@PeterHedley94 Thanks for pointing this out. @MayMSFT Can we add a note to the document to ensure this is only possible from the SDK?

[2020-02-13 11:56] jakaruna-MSFT commented on #47842
@lastcoolnameleft  please add your comments and add a new doc request if needed

[2020-02-13 11:57] RicardoNiepel commented on #32604
If ```disable-rbac``` was only be used to make Helm usage easier please reopen this ticket and:

- mention inside the docs that RBAC enables AKS cluster are supported for Azure DevSpaces - this information is still missing
- after Helm3 support is out (https://github.com/Azure/dev-spaces/issues/272) ensure to update all samples to use AKS with RBAC as default

[2020-02-13 11:57] Jan-Olof opened #48035 "Can not get the certificates to work"
I am sorry, but I can't get IoT Edge to work with certificates when following your instructions in this document. I just get these errors. What am I doing wrong?

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94792ff1-5976-90f4-5092-0d8d8ff01635
* Version Independent ID: d65482d2-64cc-56b1-c52a-b3ddde07b205
* Co

[2020-02-13 12:00] shrinivasonline opened #48036 "Conditional access to Office365: Can my organization check if a device of a supplier is compliant using its own org policies, before granting them access to my org data (like office365)?"
Can my organization check if a device of a supplier is compliant using its own org policies, before granting them access to my org data (like office365)?
in other words, is it possible for my company to check if my supplier device is a compliant device (from any intune) before i decide to grant them access to my own org data?

[2020-02-13 12:01] RohitMungi-MSFT commented on #48029
@RonaldvanMeer Yes, submitting an access request form is not required now as the service is publicly available. @@IEvangelist Can we remove references to the [request form](https://docs.microsoft.com/nl-nl/azure/cognitive-services/form-recognizer/form-recognizer-container-howto#request-access-to-the-container-registry) from the documentation?

[2020-02-13 12:06] msrini-MSFT commented on #48031
@jtuliani , Currently there is a known limitation where you will not be able to link VNETs in different AD tenant.

[2020-02-13 12:07] KrishnaG-MSFT commented on #48032
@ctahok Thanks for the feedback.
Assigning content owner @bwren for visibility, review and document enhancement consideration if appropriate.

[2020-02-13 12:10] RonaldvanMeer commented on #48029
Fair enough.
But the docker pull commands are out of date then:

docker pull containerpreview.azurecr.io/microsoft/cognitive-services-form-recognizer:latest

i don't know where to look for the public available cognitive-services-form-recognizer.

docker pull azurecr.io/microsoft/cognitive-services-form-recognizer:latest results in time out errors

[2020-02-13 12:12] marcelfranke commented on #48025
Reference > Databricks CLI > Libaries points to https://docs.microsoft.com/en-us/

[2020-02-13 12:12] KrishnaG-MSFT commented on #48033
@bdanse Thanks for your comment! We will review and provide an update as appropriate.

[2020-02-13 12:12] NishantThakkar opened #48037 "The reply URL specified in the request does not match the reply URLs configured for the application"
My Tenant Id is: 20c66bac-c872-4e2a-86b9-34b10c5bb349
I have created SMART on FHIR Server as mentioned in this article: https://smartfhir.azurehealthcareapis.com
I am using POST MAN for fetching the token, below is my request:
Grant Type: Authorization Code
Callback Url: https://smartfhir.azurehealthcareapis.com/AadSmartOnFhirProxy/callback/{{encoded Url}}
Auth Url: https://smartfhir.azurehealthca

[2020-02-13 12:13] PramodValavala-MSFT commented on #45625
@rambabu0063 Apologies for not getting back sooner. Are you still seeing the validation issue? If it works on the second run, I'd suspect a race condition where the function app isn't ready for taking requests yet.

@imsiddsingh I believe the AzureFunction endpoint type is part of the newer preview API versions, which are not yet documented. @banisadr Could you please share more insights on this?

[2020-02-13 12:21] JonesMikael commented on #47664
I can confirm that I see the same problem as @martinagrom in my tenants. As mentioned in #43521 you need to add at least one Exclude in Users and Groups but still, this article is incorrect.

[2020-02-13 12:27] NavtejSaini-MSFT commented on #47985
@yegu-ms Please check the question from user and help resolve the same.

[2020-02-13 12:28] michaelshuck opened #48038 "Why does Microsoft.Azure.Cosmos version 3.6.0 require version 3.4.1 to compile?"
Severity	Code
Description
This project references NuGet package(s) that are missing on this computer. Use NuGet Package Restore to download them.  For more information, see http://go.microsoft.com/fwlink/?LinkID=322105. The missing file is ..\packages\Microsoft.Azure.Cosmos.3.4.1\build\netstandard2.0\Microsoft.Azure.Cosmos.targets.

Project	File	Line	Suppression State
Error

---
#### Document Deta

[2020-02-13 12:34] KrishnaG-MSFT commented on #48001
@felickz Glad to know that you have self resolved and hence closed the issue. Thanks for the update.

[2020-02-13 12:42] cdanieloliveira opened #48039 "Please, provide a table with this information"
It's quite manual to understand which resources can be migrated or not, so Please it would be really useful if you guys could provide this information in a table (such as you do with office 365 service description.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23df5354-6833-a5da-0eb3-d860150c8b78
* Version Independent

[2020-02-13 13:08] bkumar73 opened #48040 "is azure monitor for container support docker swarm containers?"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-02-13 13:25] tfitzmac commented on #48039
@cdanieloliveira - thanks for this feedback. I am not familiar with the Office 365 service descriptions page you are referring to. Do you have a link?

[2020-02-13 13:26] sean-nixon commented on #47955
@neeleshray-msft I ended up finding this information on the overview page. I still think it would be useful to include this information on the custom rules page since setting an "Allow" rule in custom rules will prevent the managed rule sets from being evaluated.

https://docs.microsoft.com/en-us/azure/web-application-firewall/afds/afds-overview#waf-policy-and-rules

[2020-02-13 13:28] mbradl01 opened #48041 "Paramter type"
Hi,

The parameter type for 'Threshold' is set to to double...should this be int?

Thanks,
Matt

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f2bd9d0-af11-d684-051b-7ac8e611cca9
* Version Independent ID: f83d6e85-4d52-6b7f-a79e-f3ed3f3d0a95
* Content: [Create a metric alert with a Resource Manager template - Azure Mo

[2020-02-13 13:38] PhilipAnthonyMurray commented on #47179
@SumanthMarigowda-MSFT Any update on this example? This is something that I'm looking to complete for a production scenario.

[2020-02-13 13:42] shashankkr commented on #47977
@djpmsft
Actually, I have an API which writes directly to the blob (using APIM policies), so cant fork it there. The files are being written to separate folders. If concurrency is the issue then I can create multiple pipelines per folder.
My requirement is to sync two folders with minimum latency. I looked into AZ Copy Sync option but that will be a scheduled operation. Any other ways?

@KranthiPa

[2020-02-13 13:43] jtuliani opened #48042 "FrontDoor alias?"
The Azure Portal shows the ability to create an Alias record pointing to Azure FrontDoor. This needs to be documented here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d55c6a33-a21f-e8b6-da9b-f071d0db1df9
* Version Independent ID: 87388983-e525-89a7-2048-585c6bd0927d
* Content: [Alias records overview - Azure DNS](h

[2020-02-13 13:44] riedwaanb opened #48043 "Diagram confusion"
The diagram 'What is SQL Managed instance'. Has 4 key areas with one being 'A New business model'. This is out of place and confusing because its probably only relevant internally to MS, but not externally.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28ca1f7f-5a34-0f23-10ce-3ff24c76db97
* Version Independent ID: 5c4

[2020-02-13 13:48] crgarcia12 opened #48044 "Missing context"
I think this is jumping to code without explaining what is trying to do and how. For example:
https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-table?tabs=csharp#one-entity

The first paragraph in there it should say:
"for every record inserted in the table, the function will be triggered", or "the function is pulling for new records every x time", or "modified reco

[2020-02-13 13:54] KalyanChanumolu-MSFT commented on #48038
@michaelshuck Thank you for reaching out.
3.6 has no dependency on 3.4.1.

Did you move/reconfigure the NuGet cache on your machine.
Please use [this](https://docs.microsoft.com/en-us/nuget/consume-packages/package-restore-troubleshooting#this-project-references-nuget-packages-that-are-missing-on-this-computer) document to troubleshoot.

We will proceed to close this issue.
Please post this issue

[2020-02-13 13:54] #48038 closed

[2020-02-13 13:54] nickolasfisher commented on #47736
@YutongTie-MSFT do we have an ETA on this?

[2020-02-13 13:57] cdanieloliveira opened #48045 "What if the original resource group was deleted?"
Should I simply create a new resource group with the same name?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec1ba2ff-7845-f68c-5722-05909b8afccb
* Version Independent ID: d2cd518a-7313-1918-fa7f-589a6bc6515a
* Content: [Move Azure App Service resources - Azure Resource Manager](https://docs.microsoft.com/en-us/azure

[2020-02-13 14:14] solankisamir commented on #47769
@VaibhavVilasPandit , in the same link for IP addresses, please see

[2020-02-13 14:16] mihalko commented on #47433
Thank you, I appreciate your help with this.

[2020-02-13 14:20] emma-c-dev opened #48046 "Word confidence score always 0.0 using Azure Speech Service REST API batch transcription"
I am using the batch transcription from Azure Speech Service, with the REST API. When setting ‘AddWordLevelTimestamps’ to True, I get the expected output information as outlined in the readme (https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/cognitive-services/Speech-Service/batch-transcription.md), but all my segments have a confidence score between 0.9999479 and 1.0, whereas all

[2020-02-13 14:20] KalyanChanumolu-MSFT commented on #47723
@garyapps Thank you for the feedback and apologies for the delay in my response.
Yes i understand that this can be frustrating. The class names are the same to provide for a consistent experience while referring to the CloudStorageAccount across SDK's.

A hack that I follow is to alias the Namespaces

[code]
and use it like this

[code]

[2020-02-13 14:23] KalyanChanumolu-MSFT commented on #48043
@riedwaanb Thank you for the detailed feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2020-02-13 14:28] #47890 closed

[2020-02-13 14:32] yoelhor commented on #47890
Dear @Norrch2, thanks again for your feedback. The document will be updated later today with a new section "Using claim resolvers" that list the components that can use claims resolver. We plan to add more sample, meanwhile use that list as a reference.

Yoel

[2020-02-13 14:40] KalyanChanumolu-MSFT commented on #48008
@terrychang1015 Azure Synapse Analytics is the next evolution of Azure SQL Data Warehouse.

One of the primary use case is that Synapse allows anybody working with data in disparate places like data warehouses, data lakes and partner ecosystems like Informatica & Databricks to be managed and analyzed from a single service. It can be used to analyze relational and unstructured data, using standard

[2020-02-13 14:41] KalyanChanumolu-MSFT commented on #48009
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2020-02-13 14:45] gjmoyer opened #48047 "Please show an example with an event hub trigger function"
In the very 1st paragraph it lists function apps are supported, but all the samples show how to instantiate the connection.  Can you show an example of how to use this in the bindings on a function app, or is this not supported as yet?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1742768f-59ab-a00c-7dbd-be3d4d6d9497

[2020-02-13 14:54] torbenboeck commented on #47762
Actually it would be great, if it was possible to also add clauses instead of a simple number - e.g. something like a sql where clause "AveragePrice > 1000".

[2020-02-13 14:56] DixitArora-MSFT commented on #48044
Hi @crgarcia12 Thanks for your feedback. We will review and update as appropriate.

[2020-02-13 14:59] bradleyruff commented on #42443
Thank you for the follow-up.

The image from the Marketplace was introduced to me through a PluralSight course. I was going to use as part of the lessons. And, I believe that the course used the image in the DevOps process. I’d have to go back and confirm that.

I also think that the image is useful for IaC in Azure for a stand-alone tenant… for example, we have a customer that is migrating a data

[2020-02-13 14:59] torbenboeck commented on #47762
Also, when you add a too large integer value, you get an error saying "Internal error has occurred." It would be nice with some input control indicating how large the value can be

[2020-02-13 15:01] aimjarozas commented on #38704
Hi, I have tried in many ways to configure the "System Properties" of the "body"messages so that they are left with utf-8 and application / json , in python, in c# that work with out problem.
when i use {"$.ce":"utf-8"} this sets the "system Properties", but if i additional use {"$.ct":"application/json"} the system not work.
Please, some body can help me with a sample that work good this point? I

[2020-02-13 15:01] ilyasOne opened #48048 "Firewall Public IP address creation link"
Can you please add a clarifying hyperlink at
Firewall deploy tutorial [here](https://docs.microsoft.com/en-us/azure/firewall/tutorial-firewall-deploy-portal) at paragraph "Deploy the firewall" step 4. row [here](https://docs.microsoft.com/en-us/azure/firewall/tutorial-firewall-deploy-portal#deploy-the-firewall) "_Public IP address: Create new. The Public IP address must be the Standard SKU type_."

[2020-02-13 15:09] karelbemelmans opened #48049 "Reply URL (Assertion Consumer Service URL)"
Please add the section about Reply URL (Assertion Consumer Service URL) because it's required in the config and the article doesn't mention it. Thanks again.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0bad7239-8050-182b-a6f7-fc90430eef90
* Version Independent ID: 81ae0308-4dee-9ffe-2607-eadb4bdf0fd8
* Content: [Tut

[2020-02-13 15:10] harelbr commented on #48041
Hi @mbradl01, the Threshold parameter accepts a double.
Are you asking because you've encountered an issue?

[2020-02-13 15:15] philipstreet-hiscox opened #48050 "Include "Preview" status in doc title"
I understand Private Link Service is still in Preview, so it would be helpful, as with other Docs pages, to indicate the "Preview" status in the Page Title . Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb4b8145-27ae-8817-6d85-969aa85e601d
* Version Independent ID: 00f897cd-5c20-cb3b-9c17-5f75eddd1715
* Conte

[2020-02-13 15:16] philipstreet-hiscox opened #48051 ""Preview" status in Page Title"
I understand Private Link Service is still in Preview, so it would be helpful, as with other Docs pages, to indicate the "Preview" status in the Page Title . Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b006a616-2f2f-8ecf-8b80-fd0a3cc62090
* Version Independent ID: 92c54dc6-8ddf-b1f7-4a58-d61b8cd7fe25
* Conte

[2020-02-13 15:22] mcollier commented on #41341
Are the default values different between Functions v1 and v2?  The values shown in the table at https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-event-hubs?tabs=csharp#hostjson-settings are different than the default values shown at https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-event-hubs?tabs=csharp#trigger---hostjson-properties.

[2020-02-13 15:24] schlbra commented on #26079
When can we expect this to work for managed identities or service principals? Running one off commands with a "user" account is less secure and overly complicated for CI/CD.

We _were_ planning on having auto rotate setup on all our storage accounts by default with an aggressive regeneration period _($1 per key rotation)_ . I suspect we are not the only large enterprise that would leverage this fe

[2020-02-13 15:28] JeffreyLPrice opened #48052 "Risky sign-in report gone for AD-Free /O365 users"
As of Feb 13 the risky-sign-in report is gone. The link just takes you to the Risky-Users page, where their is no way to display the Location and IP address of the last login like there was in the Risky-sign in report.  Why was this feature removed and is there a way to get it back without having to buy additional licensing?

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2020-02-13 15:44] anaskalash opened #48053 "Encoding job fails when setting StartTime only in Clip element JSON preset"
When I try to encode any asset with a custom preset that contains overlay and adding Clip element without "Duration" the encoding job fails and the API returns this error msg
"Error : ErrorProcessingTask : An error has occurred. Stage: ApplyEncodeCommand. Code: System.OverflowException.",
please note that this issue happened recently after 31/01/2020, before that the encoding was working successfu

[2020-02-13 15:47] epictecch opened #48054 "Disabling authorized IP ranges is not working"
The command to disabled the authorized IP ranges is not working.

PS xxxxxxxxx&gt; az --version
azure-cli                         2.0.81

command-modules-nspkg              2.0.3
core                              2.0.81
nspkg                              3.0.4
telemetry                          1.0.4

Python location 'C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\python.exe'
Extensions director

[2020-02-13 15:50] hansenms commented on #48037
You should not be using the SMART on FHIR proxy with Postman. Postman is not a SMART on FHIR client.

And the code you are using to generate the reply URL is also not correct if you wanted to use postman, you have localhost in there as the reply URL, which is not the reply URL for Postman.

[2020-02-13 16:09] MonikaReddy-MSFT commented on #48034
@SychevIgor , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-02-13 16:10] MonikaReddy-MSFT commented on #48034
@lgayhardt  - Can you please take a look at this and address it.

@SychevIgor - I'm going to assign this to the document author so they can address it accordingly.

[2020-02-13 16:12] habnux commented on #43427
Thanks to @MisiekBest I could set the rules. It would be nice if this would be better documented. It took me a while to find out.

[2020-02-13 16:12] SvenSowa commented on #40231
Sorry for being a bit picky here. Enabling "dimensions" and "Enable alerting on custom metric dimensions" are two different things for me. You might want to consider updating your examples on page https://docs.microsoft.com/en-us/azure/azure-monitor/app/api-custom-events-metrics so users actually know why the dimensions wont work by default. Just spent hours on that issue. Unnecessary. Plus when I

[2020-02-13 16:15] #47941 closed

[2020-02-13 16:35] Adam-Smith-MSFT commented on #48017
@lonevvolf Thank you for the valuable feedback,we are investigating the issue.

[2020-02-13 16:35] kaerm opened #48056 "Code snippet throwing an error"
https://github.com/azure/azure-sdk-for-python/issues/9856

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4cc0278b-7324-095c-9806-771bcf3a50ba
* Version Independent ID: 8c96e464-3115-16a2-43ad-7160aca08c9f
* Content: [Quickstart: Use Azure Service Bus topics and subscriptions with Python](https://docs.microsoft.com/en-u

[2020-02-13 16:36] Adam-Smith-MSFT commented on #48026
@dave-007 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-02-13 16:38] Adam-Smith-MSFT commented on #48027
@Mattacks Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-02-13 16:39] Adam-Smith-MSFT commented on #48028
@savaged Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-02-13 16:44] reddyrajanala opened #48057 "Only Custom Events Exported to Azure AI? How about Crash, Errors and other metrics?"
Not sure where to find Crash and Error logs in Azure AI with App Center Export Configured as described in the page.

It seems to be possible with BlobStorage but not Azure AI?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 079c3c07-5f98-807d-91b5-5851a93dde9b
* Version Independent ID: faf6861c-c2fb-c2c3-499f-b1e3d49f14

[2020-02-13 16:54] IEvangelist commented on #48029
Hi everyone,

You're seeing the `mcr.microsoft.com/azure-cognitive-services/custom-form/labeltool` container in the MCR. This is not actually the Form Recognizer container, but rather "Sample Labeling Tool" container. This is different. #please-close

[2020-02-13 17:12] sandeepraichura opened #48058 "Sizes Availability in AV Zones"
Customers would expect that if a size is available in the region it would be available in the zones too, but more often customers hit SKUNotAvailable issues because the SKU is available only in certain Zones and not in all zones, We have to provide tools to customer so they could understand if a specific size as Zonal restrictions themselves.  Here are some commands that I suggest included in our

[2020-02-13 17:13] dagarkatyal commented on #47697
@RohitMungi-MSFT  per the article below in section "Create The environment"

Custom Docer image is only supported with with python runtime.

How should i use it for pyspark (spark-py) runtime. any tips

https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/deployment/production-deploy-to-aks/production-deploy-to-aks.ipynb

[2020-02-13 17:13] sandeepraichura opened #48059 "Sizes Availability in AV Zones"
Customers would expect that if a size is available in the region it would be available in the zones too, but more often customers hit SKUNotAvailable issues because the SKU is available only in certain Zones and not in all zones, We have to provide tools to customer so they could understand if a specific size as Zonal restrictions themselves. Here are some commands that I suggest included in our p

[2020-02-13 17:15] lisaguthrie commented on #47892
Hi @ARambazamba - glad that you found our Javascript SDK! Since you mentioned Angular, I do want to mention that we don't intend for App Config to be used directly from client applications. Reason being, the service is not currently set up to handle the tremendous volume that could be generated from separate clients hitting it directly. If you want to use App Config to store configuration for clie

[2020-02-13 17:19] MGoedtel commented on #47921
@holgerjay, @KrishnaG-MSFT - I thought I caught all these orphaned TOC entries, so I'll bug this and take care of it shortly.  Thanks for bringing this to my attention.  #please-close

[2020-02-13 17:19] #47921 closed

[2020-02-13 17:22] MonikaReddy-MSFT commented on #47866
@sowsan, Updated the Document to reflect just the references that are being used. Once the changes are approved, doc will be updated and will go live.

Thanks again for bringing this to our attention. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-13 17:22] ryantoll2 opened #48060 "SaaS Listing"
It is not clear to me when/how to use this list a SaaS offer vs listing a Dynamics 365 offer.   As neither have technical or transaction requirements, what is the difference?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6fd16cf1-63d4-4bbd-a13c-bfb8ab051e18
* Version Independent ID: f6b27e10-2190-82e2-4999-eb782171c4e

[2020-02-13 17:23] jtuliani commented on #40861
Is it fixed yet?

[2020-02-13 17:27] TheAzureGuy007 commented on #10326
no workarounds as mentioned as above worked for me, need real help here I have followed all the standard doc like below:
Follow and implement :
AAD integration with AKS: https://docs.microsoft.com/en-us/azure/aks/azure-ad-integration-cli
Manual setting with the above link: https://docs.microsoft.com/en-us/azure/aks/azure-ad-integration
RBAC(User and Group Role) : https://docs.microsoft.com/en-us/a

[2020-02-13 17:29] MonikaReddy-MSFT commented on #47864
@sowsan, Updated the [Document ](https://github.com/MicrosoftDocs/azure-docs-pr/pull/104282)to reflect just the references that are being used. Once the changes are approved, doc will be updated and will go live.

Thanks again for bringing this to our attention. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will glad

[2020-02-13 17:29] #47864 closed

[2020-02-13 17:31] chcomley commented on #47574
Hi @robburton58, Thanks for your question. We've recently published a new article, [Assign a new owner to your orphaned organization](https://docs.microsoft.com/en-us/azure/devops/organizations/accounts/resolve-orphaned-organization?view=azure-devops). Please let me know if this answers your questions, and if you have feedback, it's more than welcome. Thanks so much.

[2020-02-13 17:34] jingweihaha commented on #39002
The link is 404 invalid. @souravmishra-msft

[2020-02-13 17:35] anirudhgarg commented on #47970
We had this dependency before but we have removed it now and both 32 bit and 64 bit Python interpreter should be supported. The issue might be with your Core Tools version. If you update to the latest you should not longer see this.

[2020-02-13 17:36] Adam-Smith-MSFT commented on #48036
@shrinivasonline I'd recommend posting in MSDN for office365 or stackoverflow forums. This medium is specifically reserved to documentation feedback.
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-02-13 17:36] #48036 closed

[2020-02-13 17:39] JefTek opened #48061 "Add info on the "This user can’t be invited to this directory. Please try a different email address for the user or create a user account for them in your Azure AD directory.""
Add information on the error when a user is invited but they are in a tenant that cannot be invited, and recommended resolution actions.

"This user can’t be invited to this directory.  Please try a different email address for the user or create a
user account for them in your Azure AD directory."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2020-02-13 17:43] djpmsft commented on #47977
@shashankkr , I am not suggesting you change how you write to your blob. If you are syncing two folders/files/containers/blob stores, I would recommend doing it in batches (Every minute, 5 minutes, etc). Is there a business reason you need the two folders synced up immediately?

I hope I am not coming across as pushy, I just want to understand your requirements and give you the best (both performa

[2020-02-13 17:44] breyed opened #48062 "Logging level config with appsettings.json is unclear"
In the section [Create filter rules in configuration with appsettings.json](https://docs.microsoft.com/en-us/azure/azure-monitor/app/ilogger#create-filter-rules-in-configuration-with-appsettingsjson), the sample JSON is unclear. The sample and description should answer these questions:

* What is the purpose of the `LogLevel` setting outside the `ApplicationInsights` object?

* What does `AllowedH

[2020-02-13 17:44] rachel-msft commented on #47417
@mbanck, an update to the documentation will be visible shortly.

#please-close

[2020-02-13 17:44] #47417 closed

[2020-02-13 17:45] rachel-msft commented on #47954
#please-close

[2020-02-13 17:45] #47954 closed

[2020-02-13 17:45] racorretjer opened #48063 "missing naming restrictions"
When creating a key vault, I got an error stating that the key vault name cannot start with a digit, even though this is not in the documentation. Please add it so we may have a complete reference.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 962e9ebe-e97f-7a56-03a4-33662454bdfe
* Version Independent ID: 7fda1b8c-67e

[2020-02-13 17:46] dlepow commented on #47128
Doc update published. Thanks again!
#please-close

[2020-02-13 17:46] #47128 closed

[2020-02-13 17:48] Adam-Smith-MSFT commented on #48046
@emma-c-dev Thank you for the valuable feedback,we are investigating the issue.

[2020-02-13 17:49] MonikaReddy-MSFT commented on #48057
@reddyrajanala - Thanks for asking the question. We will investigate it further and update you shortly.

[2020-02-13 17:49] dlepow commented on #46323
Complete JSON template published to https://docs.microsoft.com/en-us/azure/container-instances/container-instances-encrypt-data
Thanks again for pointing this out.
#please-close

[2020-02-13 17:49] #46323 closed

[2020-02-13 17:51] KranthiPakala-MSFT commented on #47901
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

Thank you.

[2020-02-13 17:51] #47901 closed

[2020-02-13 17:53] MonikaReddy-MSFT commented on #48062
@breyed, Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-02-13 18:05] SnehaGunda commented on #47265
@Mike-Ubezzi-MSFT can you please reopen this issue?

@TheovanKraay said the above PR doesn't completely fix the issue.

[2020-02-13 18:08] SaurabhSharma-MSFT commented on #48049
@karelbemelmans Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-02-13 18:10] TheovanKraay commented on #47265
Logged batches are not supported by the service - so when you remove the type error, you get another error. However, I have simplified the linked GitHub sample (see: https://github.com/Azure-Samples/azure-cosmos-db-cassandra-nodejs-getting-started/pull/4), which stops the error from happening in the Quickstart. For completeness I should do another small doc change in the main doc to reflect that s

[2020-02-13 18:10] mshanahanost opened #48065 "Peek in .NET Core"
The documentation references the Peek/PeekAsync APIs exist "in all .NET and Java client libraries and on all receiver objects." Upon using the Microsoft.Azure.ServiceBus SDK, the Peek method doesn't seem to exist on the QueueClient/SubscriptionClient. Is there a new suggested way of peeking a collection?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-02-13 18:11] Hazhzeng commented on #45009
Agree, let's make the folder name snake_cased. 👍

[2020-02-13 18:12] KrishnaG-MSFT commented on #48045
@cdanieloliveira Yes I believe!

[2020-02-13 18:12] SaurabhSharma-MSFT commented on #48063
@racorretjer Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-02-13 18:14] SaurabhSharma-MSFT commented on #48061
@JefTek Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-02-13 18:14] Grace-MacJones-MSFT commented on #48053
HI @anaskalash, thank you for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

[2020-02-13 18:19] danielsollondon commented on #31188
**Update from the Windows team**: Windows Server 2016 images since November 2019 can have a post first boot performance issue related to an OS code integrity operation.  This issue is more pronounced on small Azure VM sizes (with lower throughput and IO) rendering the VM not immediately usable after first boot. The performance issue is mitigated in February 2020 images and forward. Please use the

[2020-02-13 18:21] KrishnaG-MSFT commented on #48005
@nbaolong48 Hope you have self resolved and hence closed the issue. Thanks for the update.

Just FYI, In future if you create an issue under this azure-docs repository then please provide the URL of the Azure document your feedback is referring to so that it helps us to provide you better assistance by routing the issue to right team.

[2020-02-13 18:22] KrishnaG-MSFT commented on #48010
@AdimUser Hope you have self resolved and hence closed the issue. Thanks for the update.

[2020-02-13 18:34] santhoshbomma9 opened #48066 "Operation-Location when patching plan/quantity"
Can I know what is the Operation-Location which needs to be sent as part of the headers when doing a patch on subscription please?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe8750da-cb47-7396-8d1b-0abff019a0be
* Version Independent ID: b19143ed-64c0-1554-5ac9-610513382609
* Content: [SaaS Fulfillment API v2](https

[2020-02-13 18:39] RonaldvanMeer commented on #48029
Yes i'm seeing the Sample labeling tool, this is totally different.

here the documentation is describing the way how to use the 'Form Recognizer Container'. This documentation is now obsolete/out of date?

[2020-02-13 18:40] KrishnaG-MSFT commented on #48040
@bkumar73 As per [this](https://docs.microsoft.com/en-us/azure/azure-monitor/insights/container-insights-overview) document, Azure Monitor for containers is a feature designed to monitor the performance of container workloads deployed to:
- Managed Kubernetes clusters hosted on Azure Kubernetes Service (AKS)
- Self-managed Kubernetes clusters hosted on Azure using AKS Engine
- Azure Container Inst

[2020-02-13 18:40] #48040 closed

[2020-02-13 18:40] djkagle opened #48067 "Hybrid Azure AD-joined devices clarfication"
Passwordless security key sign-in Windows - Azure Active Directory

 Hi @MicrosoftGuyJFlo :) bet you never thought you'd see me commenting on one of your articles

I am having an issue similar to Clarify Hybrid Azure AD-joined devices #45395. I followed the documentation but my Hybrid joined device never gives me the sign in option to use my security key to sign in. It isn't until I convert the de

[2020-02-13 18:46] ticianaciminari opened #48068 "METADATA QnA- Case sensitive"
@LizMoreno commented on [Wed Feb 12 2020](https://github.com/MicrosoftDocs/azure-docs.es-es/issues/699)

Hello, I would like to know why in the metadata for (name: value), it does not distinguish capital letters from lowercase letters? When training the knowledge base, they are lowercase.
please help. Thank you!

---

@srvbpigh commented on [Thu Feb 13 2020](https://github.com/MicrosoftDocs/azure-

[2020-02-13 18:48] ticianaciminari commented on #48068
Hi Team, could you please check user's issue?

Kind regards,

MS DOCS International Team

[2020-02-13 18:50] ticianaciminari opened #48070 "UseApplicationInsights extension method is already deprecated?"
@NewGyu commented on [Thu Feb 13 2020](https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/3310)

&gt; By calling the UseApplicationInsights extension method on IWebHostBuilder

It seems to that UseApplicationInsights method has been already marked as `obsolete`.
https://github.com/microsoft/ApplicationInsights-dotnet/blob/2.12.1/NETCORE/src/Microsoft.ApplicationInsights.AspNetCore/Extensions

[2020-02-13 18:50] ticianaciminari commented on #48070
Hi Team,

Could you please check user's question?

Kind regards,
Microsoft DOCS International Team

[2020-02-13 19:05] yw279 commented on #40595
Hey, the title is "Set and retrieve a secret", but as of now there is still nothing about how to retrieve, can you guys update it at your earliest convenience?

[2020-02-13 19:08] Ericgre commented on #39547
Today we don't have specific limit (only the technical limit of the config db), we will soon release a 1000 rules limit like NSG rules, and will add augmented rules too.

[2020-02-13 19:12] mike-urnun-msft commented on #48056
@kaerm Thank you for your feedback! We will review and update as appropriate.

[2020-02-13 19:14] mike-urnun-msft commented on #48065
@mshanahanost Thank you for your feedback! We will review and update as appropriate.

[2020-02-13 19:17] ticianaciminari opened #48072 "Contact code missing"
@HyeokIn commented on [Wed Feb 12 2020](https://github.com/MicrosoftDocs/azure-docs.ko-kr/issues/1080)

What if you don't see the code with [! code-csharp]?

---
#### 문서 세부 정보

⚠ *이 섹션을 편집하지 마세요. docs.microsoft.com ➟ GitHub 문제 연결에 필요합니다.*

* ID: e4b55e56-55a1-d635-6bea-271dc361d676
* Version Independent ID: 8e9cb28f-c133-f310-3c7d-3a3b7e85f69d
* Content: [빠른 시작: 마이크에서 음성 인식 - Speech Service - Azur

[2020-02-13 19:19] ticianaciminari commented on #48072
Hi Team,

This is a source issue. The codes in the source are written this way:
![image](https://user-images.githubusercontent.com/43826292/74470058-91f6c000-4e7c-11ea-8ec3-72617436be60.png)

But a pair of brackets should be removed and it should look like this:
![image](https://user-images.githubusercontent.com/43826292/74470071-96bb7400-4e7c-11ea-9724-8d5fa53e0d66.png)

Or like this, to comply w

[2020-02-13 19:20] taromielnaz opened #48073 "which tools"
What is the difference between running terraform on Azure cloud shell,
Terraform in marketplace and
Terraform On Windows Server 2019 in the marketplace?
Why don't we use the Azure cloud shell?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78bafe84-4e50-785c-b4f6-e629127a80a9
* Version Independent ID: 34e5924e-2d7e-3bf

[2020-02-13 19:21] mdcole opened #48074 "Sign-in error code missing: 500172"
Sign-in error code missing: 500172. Failure reason listed as 'Other'.  This is occurring with POP3 and MAPI logins.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa732de6-2cab-d780-aa21-dfec80e0a8fe
* Version Independent ID: 1a11b9b6-cf4f-3581-0864-0d5046943b6e
* Content: [Error codes in the Azure Active Directory por

[2020-02-13 19:24] mmacy commented on #47995
#reassign:mmacy

[2020-02-13 19:27] TomArcherMsft commented on #48073
@taromielnaz

Thank you for your feedback.

You are correct and we are in the process of changing the documentation to only recommend using Cloud Shell as it always has the most recent version of Terraform preinstalled.

#please-close

[2020-02-13 19:27] #48073 closed

[2020-02-13 19:28] MicahHarley opened #48076 "Intacct"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ef35c6a-1a69-477d-ef75-36f7b5cab254
* Version Independent ID: 134037dd-9300-4f58-9efd-18b575b0c898
* Content: [Tutorial: Azure Active Directory integration with Sage Intacct](https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/intacct-t

[2020-02-13 19:29] #48076 closed

[2020-02-13 19:30] sdgilley commented on #47883
@BillmanH I also do not understand your question.  The [section just before the charts](https://docs.microsoft.com/azure/machine-learning/how-to-track-experiments#view-the-experiment-in-your-workspace-in-azure-machine-learning-studio)  shows how to view the charts in the new web interface.

[2020-02-13 19:30] MicahHarley commented on #48076
Delete me.

[2020-02-13 19:30] cveld commented on #11092
I would like to know why this resource provider is not enabled by default?

[2020-02-13 19:35] yoelhor commented on #47996
PhoneFactorProtocolProvider (which is not fully documented), supports phone calls and text messages. The most important, this technical profile has a build-in user interface (similar to self-asserted technical profile).  The new MFA technical profile design for display controls. Doesn't have UI (the display controls render the UI), and supports only text messages.

[2020-02-13 19:36] KranthiPakala-MSFT commented on #47957
@ksgopal4 We have assigned the issue to the content author for further review the feedback. They will evaluate and update the document as appropriate.

[2020-02-13 19:36] plzm commented on #47991
Thank you Rohit - I started all over (cleaned up Docker image, did new pull etc.).

By directly pasting the SAS signature (I used a stored policy based one) into the label tool I am now able to see files and create labels. I provided six files and labeled them all. In the storage account, I see a .vott file in the root, and in the folder with training files, I see per-file .labels.json and .ocr.js

[2020-02-13 19:39] SaurabhSharma-MSFT commented on #47960
@seaswara Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-02-13 19:40] SaurabhSharma-MSFT commented on #46531
@zakibenz Thanks for your sharing your solution.  We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-02-13 19:40] #46531 closed

[2020-02-13 19:49] Mike-Ubezzi-MSFT commented on #47265
Reopening this issue to address issue still persisting.

[2020-02-13 19:50] KranthiPakala-MSFT commented on #48047
@gjmoyer
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2020-02-13 19:54] Karishma-Tiwari-MSFT commented on #48073
Thanks @TomArcherMsft :)

[2020-02-13 19:54] YutongTie-MSFT commented on #47735
@Rodrigossz Hi, I tried with Python3 and I have no error for this issue. Could you please try to install the SDK again to see if the error is still there?

Install the Bing Entity Search SDK with:
python -m pip install azure-cognitiveservices-search-entitysearch

Please make sure you are in the same environment. I am closing this since there is no document error.  I will highly recommend you to op

[2020-02-13 19:54] #47735 closed

[2020-02-13 20:00] YutongTie-MSFT commented on #47787
@PatrickFarley Hi Patrick, could you please review this document feedback and update the document as necessary? Thanks.

[2020-02-13 20:04] langstonj opened #48077 "Syntax for 'Copy all containers, directories, and blobs to another storage account' - no /"
The syntax is not reflected in the examples by virtue of  a missing '/' between the source storage account name and SAS-Token and at the end of the target storage account name in the examples.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b646ce05-8744-6bd6-89d2-d830d27955e2
* Version Independent ID: 1c2226e5-be43-2d8

[2020-02-13 20:15] plzm commented on #47991
I used the REST API to list custom models (https://westus2.dev.cognitive.microsoft.com/docs/services/form-recognizer-api-v2-preview/operations/GetCustomModels) . That list included several "invalid" models. I picked the most recent invalid one and used got its info (https://westus2.dev.cognitive.microsoft.com/docs/services/form-recognizer-api-v2-preview/operations/GetCustomModel), and received thi

[2020-02-13 20:18] KranthiPakala-MSFT commented on #47949
@CharmanderJieniJieni Unfortunately the storage account in the managed resource group is not currently user-specifiable. This is a known limitation.

I would suggest you to please share your feedback/idea in Azure Databricks uservoice forum. All the feedback shared in this forum are monitored and reviewed by Azure Databricks engineering team.

Azure Databricks feedback forum: https://feedback.azur

[2020-02-13 20:32] BharathNimmala-MSFT commented on #48059
@sandeepraichura Thanks a lot for sharing your feedback and idea to enhance our documentation. Assigning this issue to our document author @mumian to further evaluate and include the feedback to enhance the docs.

[2020-02-13 20:36] hshahbaz opened #48078 "Collaborators cannot see LUIS application. LUIS contributors are managed in the Azure portal for the authoring resource, using the Access control (IAM) page."
LUIS App ID: e5697074-1ad5-4f10-8f1b-ee178550de68
Azure Subscription ID: 0d7e8268-8913-4a0e-bbb7-40e102be9ced
Content: [Collaborate with other contributors on LUIS apps in Azure](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-how-to-collaborate)
Content Source: [articles/cognitive-services/LUIS/luis-how-to-collaborate.md](https://github.com/MicrosoftDocs/azure-docs/blob/master

[2020-02-13 20:37] cherylmc commented on #47878
@helderpinto - just confirmed with the PM that a Premium circuit is indeed required at this time. I'll go ahead and update the document to reflect that earlier as a prereq. It is mentioned in the paragraph that you referenced, but I agree that this is a little later in the article than it should be. Thanks for bringing that to our attention.

[2020-02-13 20:37] cherylmc commented on #47878
#please-close

[2020-02-13 20:37] #47878 closed

[2020-02-13 20:40] majkelllo opened #48079 "Doesn't work for members from outside AD"
If I create a user using SignUp/SignIn policy where customers use their private e-mail, I'm unable to obtain token through ROPC, getting following error:

`"AADSTS50034: The user account {EmailHidden} does not exist in the XXX directory. To sign into this application, the account must be added to the directory.[...]"`

It only works if I create a user inside given directory ( XXX.onmicrosoft.com )

[2020-02-13 20:43] nibaccam commented on #48016
Hi @PeterHedley94 just so I'm understanding correctly, were you and the customer trying to do this via the datasets menu on the web interface at https://ml.azure.com/  ?

[2020-02-13 21:00] Mike-Ubezzi-MSFT commented on #48035
@Jan-Olof Thank you for bringing this to our attention. I will step through this and get back to you with additional information. I did though, want to offer something you can verify in the meantime and that is to use openssl verify to check the certificate chain.

`openssl verify -verbose -CAfile Intermediate.pem RootCert.pem  UserCert.pem`

There is a great Stack Overflow that discusses this: [V

[2020-02-13 21:00] alex-vandermeulen commented on #48065
This is also an issue in the Java SDK - no peek method on the SubscriptionClient or QueueClient.

[2020-02-13 21:06] majkelllo commented on #48079
Sorry I just noticed it's expected, can i kindly ask if this stays that way or you are planning to introduce this feature for personal accounts as well in the future ?

[2020-02-13 21:07] MarileeTurscak-MSFT commented on #48052
@JeffreyLPrice It's still available for me. I can see it in my tenant under Azure Active Directory > Security > Risky sign-ins.

You need to have a Premium license for this though.

[2020-02-13 21:07] alex-vandermeulen opened #48081 "Java SDK - No Peek() for Subcriptions or Queues"
This page recommends using Peek() with the SequenceNumber to retrieve deferred messages, but neither the SubscriptionClient nor the QueueClient have a peek method.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13cd13b7-63fb-9832-351a-39bc7021f90c
* Version Independent ID: 2e316632-064b-9918-c4f3-60b1e79da2df
* Content

[2020-02-13 21:10] KumariSupriya commented on #47992
The deployment is still in progress and there might be few regions in Fairfax which might not have the latest bit. I will update the docs to reflect that.

[2020-02-13 21:16] JeffreyLPrice commented on #48052
Okay, that’s bizarre, because this is what I see:

[cid:image001.png@01D5E288.FC145C00]

From: Marilee Turscak - MSFT <notifications@github.com>
Sent: Thursday, February 13, 2020 4:07 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Price, Jeffrey L. <Jeffrey.Price@comop.org>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Risky sign-in report gone

[2020-02-13 21:19] anandhms commented on #47992
Great! Thanks for the quick action. Please double check all the clouds just in case.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: KumariSupriya <notifications@github.com>
Sent: Thursday, February 13, 2020 1:10:52 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Anand Hegde <Anand.Hegde@microsoft.com>; Mention <mention@noreply.github.com>
Sub

[2020-02-13 22:11] yoelhor commented on #47654
For localization, you can provide the query string parameter, `ui_locales`, from your application. When you call into Azure AD B2C, your page is translated to the locale that you have indicated. This type of configuration gives you complete control over the languages in your user flow and ignores the language settings of the customer's browser.
You might not need that level of control over what la

[2020-02-13 22:15] CharmanderJieniJieni opened #48083 "Could you put an example on how to include this section in ARM template?"
I see the approach to enable diagnostic extension using XML from here: https://github.com/Azure/azure-quickstart-templates/blob/master/201-vm-diagnostics-extension-windows/azuredeploy.json

However XML is not easy to read, could you suggest how to use the Json format above to inject into ARM?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2020-02-13 22:16] TravisCragg-MSFT commented on #47675
@CharmanderJieniJieni We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-13 22:16] #47675 closed

[2020-02-13 22:18] TravisCragg-MSFT commented on #47686
@brucedkyle We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-13 22:18] #47686 closed

[2020-02-13 22:19] TravisCragg-MSFT commented on #47688
@brucedkyle We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-13 22:19] #47688 closed

[2020-02-13 22:25] sbohlen opened #48084 ".net core startup command is incorrect"
The startup command for .net core incorrectly states `dotnet <myapp>.dll`.  The correct value for the field is actually `dotnet run <maypp>.dll`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b421fa01-1f39-28a5-78c2-63dd5700c8c5
* Version Independent ID: 10ed9c91-16e0-d371-fcfc-d6d5a7f984b2
* Content: [Run built-in co

[2020-02-13 22:25] TravisCragg-MSFT commented on #48042
@jtuliani Thanks for the feedback! This is described in the [Front Door documentation](https://docs.microsoft.com/en-us/azure/frontdoor/front-door-how-to-onboard-apex-domain), but it also should be mentioned here.

I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-02-13 22:30] jasontho-ms commented on #43088
This scenario should work, and it does on a sample app I created - please share the connection string you are using (key redacted), driver version, and the command you are executing that does not go to the read region.

[2020-02-13 22:31] kobulloc-MSFT commented on #48070
@ticianaciminari Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2020-02-13 22:39] masnider commented on #47903
@dragav to comment

[2020-02-13 22:40] MaxThom commented on #13507
@asergaz how can you close this ? the link you provided doesnt include most of the samples

[2020-02-13 22:40] yyou commented on #32572
This issue seems not related with having a runtime or not. The ftp upload folder '/site/wwwroot' is just not the folder for website! This has wasted me several hours!

I created a web app with docker nginx and tried to upload the website files (html, css, js files only). And it's still the same issue.

[2020-02-13 22:40] MaxThom commented on #10085
So about those samples ?
@Sychevlgor how can you create samples for nodejs before c#.

[2020-02-13 22:58] tfitzmac commented on #47234
@ticianaciminari and @na2ko-ucym - thanks for making us aware of this error. I have fixed the problem and uploaded new files.

[2020-02-13 22:58] tfitzmac commented on #47234
#please-close

[2020-02-13 22:58] #47234 closed

[2020-02-13 22:58] JPalmerDev opened #48086 "Windows/Linux/Android To Tabs"
Can we migrate the Windows/Linux/Android content to individual tabs. It'll improve approachability of the page by decreasing the length and reduce the distractions of the steps related to other platforms that don't apply to the user's path.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: efae7ff6-5557-221f-7539-5d2d1883

[2020-02-13 22:59] Adam-Smith-MSFT commented on #48077
@langstonj Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-02-13 23:02] Adam-Smith-MSFT commented on #48048
@ilyasOne Thank you for the valuable feedback,we are investigating the issue.

[2020-02-13 23:03] ecfan commented on #46826
Hi @radumg, thanks for providing the additional information.

@kevinlam1, please review and make suggestions for handling this need? Thanks!

[2020-02-13 23:03] Adam-Smith-MSFT commented on #48050
@philipstreet-hiscox Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-02-13 23:04] Adam-Smith-MSFT commented on #48051
@philipstreet-hiscox Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-02-13 23:05] dragav commented on #47903
I'm sorry, I don't fully understand the question. The VM(SS) does not use the certificate itself, and is not even aware of the certificate's subject.

If you are asking how does ServiceFabric distinguish among different certificates with the same subject, the answer is "it depends":
- the runtime (basic federation and in-cluster communication) will select the farthest valid (max NotAfter)
- Fabric

[2020-02-13 23:07] erhopf commented on #48086
#reassign: @IEvangelist

[2020-02-13 23:09] MarileeTurscak-MSFT commented on #48074
@mdcole
Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-13 23:11] Adam-Smith-MSFT commented on #48058
@sandeepraichura Thank you for the valuable feedback,we are investigating the issue.

[2020-02-13 23:17] Adam-Smith-MSFT commented on #48060
@ryantoll2 Thank you for the valuable feedback,we are investigating the issue.

[2020-02-13 23:19] souravagasti commented on #47429
What I have observed is the role of dispatcher can be taken up by any node at any given point of time and is not fixed. So, I feel all the nodes should fulfill the minimum requirements of hardware.

[2020-02-13 23:20] Grace-MacJones-MSFT commented on #48084
Hi @sbohlen, thanks for the feedback! As [this doc](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-run?tabs=netcore30) states "The dotnet run command is used in the context of projects, not built assemblies. If you're trying to run a framework-dependent application DLL instead, you must use dotnet **without** a command." So in this case i don't believe the command in this doc is incorre

[2020-02-13 23:25] vanthoainguyen commented on #43088
Thank for your quick response
Connection string: `mongodb://wow-d-dx-cosmos-aae-orders:*********************@wow-d-dx-cosmos-aae-orders.documents.azure.com:10255/?ssl=true&replicaSet=globaldb`

.NET CORE MongoDB driver version `2.8.1`

The command i used is simply a search by Id. We've never seen traffic in the other region so i think it's the issue either with Cosmos or MongoDB .NET Driver.

[2020-02-13 23:30] sbohlen commented on #48084
I'll certainly leave the final determination re: the correct answer to yourselves.  All I can do is report that entering `dotnet <mayapp>.dll` in the startup field did not result in the deployed application responding to an HTTP request whereas entering `dotnet run <myapp>.dll` properly resulted in the assembly I'd authored correctly responding to HTTP requests to the app service's published URL.

[2020-02-13 23:41] conceptdev commented on #47602
Thanks for your feedback @turfday, this is the [blog post](https://devblogs.microsoft.com/appcenter/app-center-mbaas-retirement/) you mentioned (for reference).

There are two parts to my answer:
1. We're working to update all these pages with the "App Center" header note, to reflect the changed strategy. This should be done very soon.
2. Further doc updates to help customers interested in Azure d

[2020-02-13 23:56] anavinahar commented on #47876
Nope, the primary IP (first IP) on the NIC (multi-NIC or not) doesn't require this.

[2020-02-14 00:32] pplavetzki commented on #47002
Did you try having the app gateway on a different subnet than the aks cluster?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: jakaruna-MSFT <notifications@github.com>
Sent: Thursday, February 13, 2020 3:51:11 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Paul Plavetzki <paul@pareidolia.io>; Mention <mention@noreply.github.com>
Subject: Re:

[2020-02-14 01:01] jeevansd commented on #48049
@chetansriv Can you please validate this and make the change accordingly?

[2020-02-14 01:32] davidsmatlak commented on #47515
I submitted the fix for this issue and when it merges, this issue will automatically close.

[2020-02-14 01:40] #47515 closed

[2020-02-14 01:51] mike-urnun-msft commented on #48081
@alex-vandermeulen Thank you for your feedback! We will review and update as appropriate.

[2020-02-14 01:52] davidsmatlak commented on #46912
@dyateseci Thank you for your feedback.

I researched the cache storage and verified with the product team that the document is correct and no change is needed.
- For the initial fail over the cache storage account is created in a resource group in the primary region.
- To reprotect and fail back, a cache storage account gets created in a resource group in the target region to fail back to the pri

[2020-02-14 01:53] sosato opened #48087 "Windows to Go may be discontinued."
Windows to Go will be discontinued. I think this article should not include using Windows to Go as best practice.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ced933a-662b-f499-407f-82bebc03375c
* Version Independent ID: 04d13538-1010-bd36-4fa3-83110113cf44
* Content: [Enhance remote management security in Azure](ht

[2020-02-14 01:56] lgayhardt commented on #45346
#please-close

[2020-02-14 01:56] #45346 closed

[2020-02-14 02:11] markjbrown commented on #47481
@DOliana I'm not quite clear on how you can be getting this error and have not encountered this before.  Can you please post the ARM template you are using in a gist that I can see? please anonymize subscription id and cosmos account names.

Thanks.

[2020-02-14 02:16] markjbrown commented on #47486
Thanks for your feedback here. Not a fan of baseball analogy either so will look to find a better way to represent this.

@PrometheusRising1 I won't create create multiple industry specific examples. Slippery slope of "missing my industry/scenario".

Will look at options here and leaning towards a visual way to represent.

Will update when we get something in a PR.

Thanks.

[2020-02-14 02:19] RookTKO opened #48089 "Azure PowerShell Connect-AzAccount"
I didn't have the correct module installed and had to go in search of it. Can we add a mention that you need to install the proper modules and specify them for individuals who come onto this page at a later time. It would just speed up the process.

Install-Module -Name Az -AllowClobber -Scope CurrentUser for Powershell
And a link to https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?vie