[2019-08-09 12:00] RohitMungi-MSFT commented on #36802
@julie-ng Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-08-09 12:09] afuyo opened #36803 "ModuleNotFoundError: No module named 'keras' Azure Functions"
Hi,
I try to  fit a very simple LSTM model using Keras  and Azure functions. I use HttpTrigger template. I can successfully run the app locally by running command:
[code]
When I publish the app it doesn't work. In the logs I can see
[code]

[2019-08-09 12:32] derekschauland opened #36805 "yourcompanyname"
In this document, the URL configuration at the top references a URL including /yourcompanyname calling out that it should be available in the dome9 admin portal and should be included. Also that further detail is available further on in the document. In reality, this value is made up by the customer, and will likely reflect something similar to the name of the business.

Please add a note at the t

[2019-08-09 12:36] afuyo commented on #36803
Ok, sorry. I need to  provide packages in the requirements.txt file like this:
[code]
Then I run:
[code]
And get this error
[code]
So, I retry with this command:
[code]
And now I get problems with SSL Certificates:
[code]

[2019-08-09 12:37] noendscripting commented on #35349
Hi Ian
I’m not sure this is 100% accurate.  Global Administrator role does not grant access to Azure IaaS subscription and creation on VNET and Subnet is one of the requirements. Then the DC instances running on the background need to attach themselves to the VNET which is another set of permissions not part of Global Administrator’s access and last but not the list , IP addresses for the DC insta

[2019-08-09 12:38] amigup commented on #35072
@BhargaviAnnadevara-MSFT - Any update on this question? Please assist by letting me know how the asked requirement can be achieved.

[2019-08-09 12:39] Luksys5 opened #36806 "No parameter in geocode wether to check the location by size"
Hey guys,
Good job so far.

But there's one issue I found. If query is just for United states - Delaware then it does not show Delaware it shows New Jersey state which contain Delaware avenue.
So perhaps you could add a parameter beside query which could  mean the proportion or size of location one is searching?
My query so far is like this one:
https://atlas.microsoft.com/search/address/json?api-

[2019-08-09 12:47] cephalin commented on #36248
@tiagocostapt Thanks for reporting this. I've updated the doc with 99.95% now and it should be published sometime today. #please-close.

[2019-08-09 12:47] #36248 closed

[2019-08-09 12:47] neodym3k opened #36807 "What about external users that do not use Azure AD?"
B2B offers more authentication options than just Azure AD: There is Microsoft Account, OTP and also direct fed.
The policy description (and also the UI) only focuses on Azure AD domains - the other social options are not mentioned at all.
If I enter e.g. outlook.com, I see a weird microsoftservices.onmicrosoft.com directory; for domains where no Azure AD exists, I see MSARealms.onmicrosoft.com. Un

[2019-08-09 12:55] mrbullwinkle commented on #28366
@onovotny Thank you, we have updated the doc to remove the use of environment.username. The change is merged internally and will go-live in the public docs later today.

[2019-08-09 12:55] mrbullwinkle commented on #28366
#please-close

[2019-08-09 12:55] #28366 closed

[2019-08-09 12:58] vijayanandrav opened #36808 "Can an existing model be re-trained with additional data?"
I have created a model in the custom speech portal and trained it with some data.
Now when I get some new data do I have to create a new model, train it with the old + new data and deploy this or is it possible to re-train the existing model with the additional data?

[2019-08-09 12:59] bwren commented on #36340
Diagnostic extension can send metrics to Azure Monitor Metrics, but you need the Log Analytics agent to write to Azure Monitor Logs.  This is described and illustrated in https://docs.microsoft.com/en-us/azure/azure-monitor/platform/data-sources#operating-system-guest.  The Diagnostics Extension content is about to get overhauled so this will get described better in the detailed content.

[2019-08-09 13:07] mrbullwinkle commented on #17112
@wely Our apologies for the delay in response. Thanks for bringing this to our attention. Unfortunately the original author of this doc is not at Microsoft anymore. I agree the stop variable in the code snippet is not actually doing anything at least not in its current form or without further context. I suspect what the original author intended to convey in that section was something more along th

[2019-08-09 13:07] mrbullwinkle commented on #17112
The updates to the doc are merged internally, they will go-live in the public doc later today.

[2019-08-09 13:08] mrbullwinkle commented on #17112
#please-close

[2019-08-09 13:08] #17112 closed

[2019-08-09 13:08] Robab02 commented on #35175
how can we assign erp roles to the users?

[2019-08-09 13:09] tjsullivan1 commented on #36418
@femsulu What you are saying matches what I am saying... owner CAN download the blob, but the docs state that she can't.

"Since Alice has a wildcard (*) action at a subscription scope, their permissions inherit down to enable them to perform all management actions. Alice can read, write, and delete containers. However, Alice cannot perform data operations without taking additional steps. For exam

[2019-08-09 13:10] tjsullivan1 commented on #36418
I am seeing that Alice does not need the access keys. As an owner, she can download the blob.

[2019-08-09 13:10] saif-chaudhry opened #36809 "Section: Modify SNAT port allocation and given example needs further clarity"
Hope someone can help explain this behaviour

Setup:

- 1 Public Load Balancer (Standard SKU)
- 2 Backend VMs in the backend pool and none of the interface have a public IP assigned
- disableOutboundSnat property is set to true for all Frontend PIP that are attached to this Public Load Balancer
- 2 outboundrules each with their own PIP are created to allow outbound connectivity for both protocols

[2019-08-09 13:12] patrickgalbraith opened #36810 "How do you create Data Flow pipeline using PowerShell?"
Can you please provide details on what is required to create a Data Flow pipeline.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8423caa5-6655-e1b3-b57c-ac9e99f53965
* Version Independent ID: 686acc4c-a955-c0a4-44a3-2ea2818554f0
* Content: [Copy data in Blob Storage using Azure Data Factory](https://docs.microsoft.com

[2019-08-09 13:17] mrbullwinkle commented on #35072
adding @cijothomas

[2019-08-09 13:20] PanClifton commented on #36786
@AshokPeddakotla-MSFT  i was talking about this document
https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-migrate-to-diagnostics-settings

[2019-08-09 13:32] simondmorias opened #36811 "Link on page returns 404"
The page contains a link to https://docs.microsoft.com/en-us/articles/storage/files/storage-files-active-directory-overview.md in section https://docs.microsoft.com/en-gb/azure/virtual-desktop/fslogix-containers-azure-files#azure-files-integration-with-azure-active-directory-domain-service - URL returns a 404

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsof

[2019-08-09 13:34] HSBallina commented on #32962
@StefH Could you please expand your example on how to access the configuration in a function? I'm somewhat at loss here.

[2019-08-09 13:34] ChrisAtMAF opened #36812 "Incomplete sentence"
The following sentence is incomplete: 'Select Next on the Scan the QR code page on your .'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 827ee42c-1055-cbf1-3d32-6b5b68c4a225
* Version Independent ID: d9e23d9d-e074-1f77-8109-d6d0988d4668
* Content: [Set up security info (preview) to use an authenticator app - Azure Act

[2019-08-09 13:36] Shaktikantpadhi opened #36813 "How to query paper entity data by DOI in MAG-Academic Knowledge API(cognitive service)"
How to extract the paper data by querying DOI as a parameter, in GET/POST request URL.

Basically, I tried with by querying paper Id as a parameter. Please refer my sample code as followed.

https://api.labs.cognitive.microsoft.com/academic/v1.0/evaluate?expr=And(Id=2153635508)&model=latest&count=50&offset=0&attributes=Ti,E.DOI

I am getting the output as-

{
    "expr": "And(Id=2153635508)",

[2019-08-09 13:38] ChrisAtMAF commented on #36731
Thank you - please could you add the same note to points 3 and 2 on 'Add your Google account to the app' and 'Add your Facebook account to the app' in addition to 'Add your Amazon account' , as the same steps also apply to those accounts? Thank you!

[2019-08-09 13:43] ChrisAtMAF opened #36814 ""Authenticator" Would Like to Access the Camera step missing"
Ref issue #36731 - please could you add the same camera warning that was recently added to 'Add your Amazon Account' point 5 to points 3 and 2 on 'Add your Google account to the app' and 'Add your Facebook account to the app' respectively, since the same steps also apply to those accounts? Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2019-08-09 13:51] ChrisAtMAF opened #36815 "Incorrect text on page"
Under Point 6, 'However, if the QR code reader can't read the code, you can select the Can't scan the QR code link and manually enter the code and URL into the Microsoft Authenticator app.'

The name of the link (see image) is 'Can't scan image?', not 'Can't scan the QR code'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-08-09 13:53] colinrippeyfinarne opened #36816 "This article is misleading, the cloud shell gives you the currently logged on user's token not an Managed Identity token?"
If I run the code snippet on this page then I am presented with the bearer token of the currently connected user, this is not a Managed Identity.

Also, I believe the code snippet is wrong. If I run just the following:

curl http://localhost:50342/oauth2/token --data "resource=https://management.azure.com/" -H Metadata:true -s

I will get a raw response which includes the currently connected user'

[2019-08-09 13:58] KrishnaG-MSFT commented on #36727
@eross-msft Thanks for the quick response. 👍

[2019-08-09 13:59] KrishnaG-MSFT commented on #36728
@eross-msft Thanks for the quick response. 👍

[2019-08-09 13:59] ChrisAtMAF opened #36818 "Authenticator app code and texted code via mobile phone easily confused"
We see issues during acceptance testing for this process where since users have already set up the Microsoft Authenticator app, and tend to have it open on their phone throughout the process, they see the 'Authenticator App' code around step 9 or 10 and enter it into the Text Message box in step 10 instead of the actual text message code which usually arrives a little while afterwards.

It would b

[2019-08-09 14:00] KrishnaG-MSFT commented on #36729
@eross-msft Thanks for the quick response. 👍

[2019-08-09 14:01] KrishnaG-MSFT commented on #36731
@eross-msft Thanks for the quick response. 👍

[2019-08-09 14:01] mmacy commented on #34125
Hi @ingljo, as we've not heard from you in some time, we'll assume @yoelhor's response answered your question and I'll request this issue be closed. Let us know if you have further questions or need to reopen the issue. #please-close

[2019-08-09 14:01] #34125 closed

[2019-08-09 14:02] KrishnaG-MSFT commented on #36732
@eross-msft Thanks for the quick response. 👍

[2019-08-09 14:02] SamaraSoucy-MSFT commented on #36644
I took another look at it and you are correct for this case. I'll put in a pull request for the update.

[2019-08-09 14:03] KrishnaG-MSFT commented on #36733
@eross-msft Thanks for the quick response. 👍

[2019-08-09 14:04] KrishnaG-MSFT commented on #36734
@eross-msft Thanks for the quick response. 👍

[2019-08-09 14:14] rcarmo opened #36820 "Does not explain how to use connection strings"
There is a fair amount of v2 code out there that starts out from a connection string (which is arguably easier to keep as a single secret), and none of the examples on this page explain how to use connection strings and migrate v2 code to v10.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dae2738c-ba71-e828-ce61-7d6ae

[2019-08-09 14:27] CeciAc opened #36821 "Clarification needed on valid subscriptions for self-password resest"
@UKayo commented on [Thu Aug 08 2019](https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/2718)

Please clarify what subscriptions are needed to use the 2 features.
Does "Microsoft 365 Business" mean the specific M365 Business plan only? How about Office 365 E3 or E5 plans? Are education plans excluded?

Self-Service Password Reset for cloud users
-&gt; This functionality is included in Azure

[2019-08-09 14:28] CeciAc commented on #36821
Hi team,
I moved this one here because the user is refering to the original documentation

[2019-08-09 14:36] garrmark commented on #36051
Thanks for the info, that's what I was looking for.  Marking this issue as closed before adding some documentation to the main doc site will make it harder for others to find this answer.  I think the community would be better server to leave this open and visible on the docs page until there's more than just a release note on it.

[2019-08-09 14:46] garrmark commented on #36051
@MicahMcKittrick-MSFT You mention chaging the api version, but it's unclear what to chage the api version to.  Can you point me in the right direction?

[2019-08-09 14:56] blueelvis opened #36823 "Could you please provide more information on the physical data encryption at rest?"
Hi,

What is the policy on physical data encryption at rest? As in, when data is stored be it IaaS, PaaS, SaaS, does Microsoft by default do it by using their own managed keys? For example, if I create a Web App and store something on it, is it encrypted automatically at rest?

Thanks,
Pranav

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2019-08-09 15:01] abidashaik commented on #35753
Hi ...I am facing the same issue. Are you able to make function app on non consumption plan ("App Service plan") connect to a storage account? Is there any work around?

[2019-08-09 15:06] gappleby opened #36824 "Azure B2C no longer allows for enabling Call to Phone so that Custom Greetings can be added."
On creating an Azure B2C directory instance off the main Azure AD directory, it appears that it is being treated as a free tier which means the option to enable "Call to Phone" is not able to be setup.  However, though Call to phone is available on the B2C Sign In flow, we cannot customise the greeting via the Azure B2C directory MFA.
Is this a bug or a subscription issue?

---
#### Document Detai

[2019-08-09 15:15] aloneguid opened #36825 "Can we add another tool to the list?"
Another native Windows client - StorAMP - https://www.microsoft.com/en-gb/p/storamp/9nkv1d43nll3

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08d5d605-63a1-1388-59b9-2ec6d5b40766
* Version Independent ID: 11230eca-a134-fa35-63d8-7b195f0ca37a
* Content: [Tools for working with Azure Storage](https://docs.microsoft.com

[2019-08-09 15:15] alex-frankel commented on #36785
Hi @dancs85 - can you share the JSON of custom role you created?

[2019-08-09 15:19] liutang opened #36826 "Retain disk name in portal conversion?"
Is there a way to retain the disk name without appending a random string? This is messing with our ARM templates.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d544e55b-bac1-0e3c-a396-90a1b4f6e1aa
* Version Independent ID: 018208b2-7479-746d-2d12-a9e3c78036d7
* Content: [Convert a Windows virtual machine from unmanage

[2019-08-09 15:19] rthomas529 opened #36827 "Utilization metrics not updating"
I just configured my reservation less than 24 hours ago but my utilization metrics haven't updated in over 12 hours. I checked the API and the data isn't available there either.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9be8cdc6-1a0e-25d6-8131-a56c5c0029a5
* Version Independent ID: d27499e5-c8d4-2de0-273d-09f64aec

[2019-08-09 15:27] alex-frankel commented on #36533
So is the "10-" what is affecting it?

[2019-08-09 15:28] the-blesss opened #36828 "can private DNS zone be resolved by PaaS and Web Apps with regional integration?"
We confirmed a VM on subnet B can resolve the private DNS zone records properly. Does this same zone provide name resolution to a PaaS Web Application, that is using regional integration, on subnet A in the same linked VNET? Our testing from the PaaS console using tcpping.exe and nameresolver.exe are still pulling the public IP, even after multiple app restarts.

---
#### Document Details

⚠ *Do n

[2019-08-09 15:29] cephalin commented on #27171
@bmitisor Sorry for the delay. I've added a clarifying comment to the footnote and it should be published sometime today. Thank you for reporting. #please-close.

[2019-08-09 15:29] #27171 closed

[2019-08-09 15:34] iainfoulds commented on #35349
Adding @MikeStephens-MS and @eringreenlee from the product team to try and help narrow it down. The guidance had been pretty broad - global admin with write perms across the subscription.

[2019-08-09 15:36] ShawnPOWER commented on #34648
Hello, thank you for the quick response. This makes a lot of sense, and sounds like an improvement. I appreciate you sharing your research. I presume you will update the document to reflect your findings?

Thank you,

SHAWN

From: Gaoussou Bagate <notifications@github.com>
Sent: Thursday, August 8, 2019 9:55 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Miller, Shawn <shawnm.

[2019-08-09 15:38] menewol commented on #8107
I understand this reply has been a long time coming but, i wont be able to
help you with this anymore! still i think controlling the serial tty will
not be down by the /etc/inittab-file anymore. if im not mistaken
/etc/inttab was used by Upstart init-service, furthermore, again - if im
not mistaken, state of the art init-service is Systemd

Best regards,
menewol

On Thu, Aug 8, 2019 at 8:43 PM Cyn

[2019-08-09 15:47] NavtejSaini-MSFT commented on #36726
@MaTr1xOne We are assigning this case to author to review and make changes.
@bonova Please check the following link and make appropriate changes to the document.
https://azure.microsoft.com/en-us/pricing/details/sql-database/managed/

[2019-08-09 15:59] Alberto-Vega-MSFT commented on #36806
@Luksys5 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-08-09 16:05] Alberto-Vega-MSFT commented on #36796
@loup73 Thanks for bringing this up to our attention. It looks like this step needs a new screen shot. I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-08-09 16:15] Alberto-Vega-MSFT commented on #11450
Hi @mayouatte I'm sorry to hear that you are facing issues with this. Would you please open an issue on the Edge repo? https://github.com/Azure/iotedge/issues
You might be able to find a solution on an existing issue on the edge repo though, check this ont hopefully helps: https://github.com/Azure/iotedge/issues/584

[2019-08-09 16:21] mike-urnun-msft commented on #36799
Hi @hf-kklein - Thank you for your feedback! We will review and update as appropriate.

[2019-08-09 16:24] mike-urnun-msft commented on #36803
Hi @afuyo - Thank you for your feedback. Since this channel is for driving improvements towards MS Docs, was there a specific Functions documentation that your feedback may be applicable to? If so, could you provide us with the URL?

[2019-08-09 16:29] brbel opened #36829 "Remove white glove onboarding"
We're no longer offering that to all partners onboarding to marketplace.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f5f8a7f-b8be-0b81-ee67-a2e174b80b17
* Version Independent ID: 0385f525-d727-8340-d931-4aeae94c124e
* Content: [Go-To-Market Services - your marketplace benefits](https://docs.microsoft.com/en-us/azur

[2019-08-09 16:50] xSilverboltx commented on #34295
Looks like there was an update to the doc on 7/17/19  but not sure what was changed.

It would appear that the doc is missing the old info for a VMSS cluster and only has steps for a nodepool cluster when it comes to updating the autoscaler. Below commands are missing from doc

az aks update --update-cluster-autoscaler --min-count 1 --max-count 10 -g MyResourceGroup -n MyManagedCluster

https://do

[2019-08-09 16:53] FrankHu-MSFT commented on #36824
@gappleby Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-09 16:53] FrankHu-MSFT commented on #36823
@blueelvis Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-09 16:53] FrankHu-MSFT commented on #36821
@CeciAc Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-09 16:53] FrankHu-MSFT commented on #36818
@ChrisAtMAF Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-09 16:53] FrankHu-MSFT commented on #36814
@ChrisAtMAF

[2019-08-09 16:53] FrankHu-MSFT commented on #36812
@Thanks for your feedback! We will investigate and update as appropriate.Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-09 16:58] dlepow commented on #16071
@devchop - Apologies for not reporting progress on this issue. Unfortunately we no longer plan to document this scenario on docs.microsoft.com, so I will close this doc enhancement request. The general steps above should get you started. If you have specific issues, please contact Azure Support.
#please-close

[2019-08-09 16:58] #16071 closed

[2019-08-09 16:59] FrankHu-MSFT commented on #36812
Thanks for letting us know @ChrisAtMAF  we'll look into it accordingly and make the change. Thanks for giving us the heads up!

[2019-08-09 17:01] Adam-Smith-MSFT commented on #36825
@aloneguid Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-08-09 17:02] Adam-Smith-MSFT commented on #36820
@rcarmo Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-08-09 17:02] FrankHu-MSFT commented on #36815
Hey @ChrisAtMAF  we're making this change now. thanks for letting us know about it again! Your feedback is appreciated.

[2019-08-09 17:03] Adam-Smith-MSFT commented on #36347
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-08-09 17:03] #36347 closed

[2019-08-09 17:04] FrankHu-MSFT commented on #36818
Hey @ChrisAtMAF thanks again for your feedback. We aren't sure if this is a necessary modification. I'm currently engaging some more people to determine whether or not a change should be made. stay tuned, and thanks!

[2019-08-09 17:05] FrankHu-MSFT commented on #36821
Hey @CeciAc  thanks again, this is a licensing and pricing issue, and may take some more time to determine proper next steps. I'm engaging some more people on this issue to further determine whether or not to make a change.

[2019-08-09 17:08] FrankHu-MSFT commented on #36823
Hello, @blueelvis it will depend on how you're storing it and many other different nuances. Typically you don't want to store important information on a web app, because the encryption would be dependent on whether or not you've setup you're app to encrypt the data or not.

My suggestion is to store important files in blob storage with encryption, please see : https://docs.microsoft.com/en-us/azur

[2019-08-09 17:11] FrankHu-MSFT commented on #36824
Hey @gappleby  have you added a subscription to your b2c tenant?
Please see : https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-how-to-enable-billing

on how to do this. It's a little confusing that it creates an entirely new AAD tenant and then puts a b2c tenant within the aad tenant. And we're currently working to improve this.

I apologize for the confusion.

@gap

[2019-08-09 17:12] yashesvi commented on #36700
I see L series in the doc:
Standard_L8s_v2 | 1
Standard_L16s_v2 | 2
Standard_L32s_v2 | 4
Standard_L48s_v2 | 6
Standard_L64s_v2 | 8
Standard_L80s_v2 | 10
Standard_L96s_v2 | 12

Added E48s_v3. Here is the PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/84933

[2019-08-09 17:13] FrankHu-MSFT commented on #36807
@neodym3k Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-09 17:13] FrankHu-MSFT commented on #36805
@derekschauland Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-09 17:13] FrankHu-MSFT commented on #36801
@Thanks for your feedback! We will investigate and update as appropriate.Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-09 17:13] FrankHu-MSFT commented on #36797
@Charlie-safened Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-09 17:13] BharathNimmala-MSFT commented on #36667
@TylerGross-SBS Can you please help confirm that have you have used the "[Lab Creator](https://docs.microsoft.com/en-us/azure/lab-services/classroom-labs/tutorial-setup-lab-account#add-a-user-to-the-lab-creator-role)" role and its not fitting the instructor role you are looking for. Would be great if you can share more information on the operation you want to perform and the scenario you looking f

[2019-08-09 17:16] ethzeus commented on #36411
![Screenshot from 2019-08-09 19-15-15](https://user-images.githubusercontent.com/52021327/62796686-1afdfa80-bada-11e9-82ad-b5c04a3f801d.png)

[2019-08-09 17:16] FrankHu-MSFT commented on #36797
Hey @Charlie-safened I'm a bit confused in regards to what you're currently asking.
Can you please see : https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/active-directory-manage-groups

Does this answer your question in regards to managing groups.

[2019-08-09 17:16] Mike-Ubezzi-MSFT commented on #36793
@vhe1 Thank you for bringing this to our attention and for providing an example. In the case of `automatic`, an explanation can be found in the [Obsolete attributes](https://docs.microsoft.com/en-us/azure/cosmos-db/index-policy#obsolete-attributes).

A link to the Obsolete attributes information is found in the [Next steps](https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-manage-indexing-po

[2019-08-09 17:17] FrankHu-MSFT commented on #36801
Hey @chiners68  can you please provide the support ticket # that you're currently engaging support with? Let me see if I can help.

[2019-08-09 17:21] dkkapur commented on #36051
@maburlik @jkochhar what's the right API value for the standalone cluster config to enable this?

[2019-08-09 17:24] Alberto-Vega-MSFT commented on #14309
@jakubsvobodacz sorry about that. Thanks for the clarification. So this doc needs an update on the instructions and screenshot for finding the settings.json

[2019-08-09 17:25] noendscripting commented on #35349
Thank you Iain
If this is what the guidance is we should document it, and save hours of research and failure for our customers.  In my experience , as long as  as they can go back and point out to an official document rather than word of mouth, they are willing to fulfill all requirements.

Sounds like we should add following rights are required:

Azure AD – Global Administrator
Azure IaaS – Contr

[2019-08-09 17:25] RyanHill-MSFT commented on #36409
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-09 17:25] #36409 closed

[2019-08-09 17:27] HeidiSteen commented on #33963
#please-close

[2019-08-09 17:27] #33963 closed

[2019-08-09 17:27] Karishma-Tiwari-MSFT commented on #36811
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-09 17:29] Karishma-Tiwari-MSFT commented on #36826
Thanks for the question. We are currently investigating and will update you shortly.

[2019-08-09 17:30] HeidiSteen commented on #36634
#please-close

[2019-08-09 17:30] #36634 closed

[2019-08-09 17:30] Alberto-Vega-MSFT commented on #33675
Hi @jakubsvobodacz can I kindly ask you to open a new issue?

[2019-08-09 17:31] RavennMSFT commented on #28024
@mchiri, there's a nuance here. Autopilot supports hybrid join not domain join. Technically it's still true that on-premises domain join is not supported in Windows 10 OOBE . Autopilot implementation follows a different logic that it first requires Azure AD authentication and Intune enrollment before the device can be domain joined, so it does not indicate that on-premises domain join is supported

[2019-08-09 17:32] RavennMSFT commented on #35622
We'd have to review this with the Surface team. Could you ask a similar question on the Surface documentation, perhaps it's not documented publicly.

[2019-08-09 17:38] MicrosoftGuyJFlo commented on #36821
Reset is not included in Office licenses.

Academic licenses that include Azure AD Premium P1 or P2 would work.

[2019-08-09 17:39] MicrosoftGuyJFlo commented on #36739
#please-close

[2019-08-09 17:39] #36739 closed

[2019-08-09 17:39] kgremban commented on #36638
Thanks for the extra details, @lkoppenol. I was able to run the following command successfully (with double quotes around the target condition, and in powershell), and with a high priority it took the target devices from all my other deployments:

[code]
![image](https://user-images.githubusercontent.com/13578436/62797719-3690e300-ba91-11e9-9bd8-7ef277b7068f.png)

I didn't go in to the deployment

[2019-08-09 17:45] gbagate commented on #34648
Correct, I will make sure both documentations get updated but cannot provide any ETA for the same:
1.https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sql/virtual-machines-windows-portal-sql-availability-group-tutorial#set-the-windows-server-failover-cluster-ip-address

2.https://docs.microsoft.com/en-us/windows-server/failover-clustering/create-failover-cluster

[2019-08-09 17:47] AjayKumar-MSFT commented on #36642
@ankhuve, Apologies for the delay!
You could try with the mount path /home/site/wwwroot/wwwroot
--mount-path   [path to mount storage volume within the container]
  Custom identifier---custom-id CustomId [Unique identifier for this storage mapping]

To fetch more details on the error you could always use –debug against the cmdlet. Are you using multi-container apps?
volumes:
      - ${WEBAPP_STORA

[2019-08-09 17:47] YutongTie-MSFT commented on #36813
@Shaktikantpadhi
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-09 17:48] YutongTie-MSFT commented on #36808
@vijayanandrav
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-09 17:51] Minewiskan commented on #36781
@nickbeagley2  - Thanks for letting us know! Looks like there was an issue with redirection. It's fixed now.
#please-close

[2019-08-09 17:51] #36781 closed

[2019-08-09 17:52] AjayKumar-MSFT commented on #36784
@StingyJack, Thanks for sharing your valuable feedback on this topic. Your feedback has been shared with the content owner (@cephalin) for further review.

[2019-08-09 17:56] AjayKumar-MSFT commented on #36547
@dcbrown16, Thanks for sharing more details.
Your feedback has been shared with the content owner (@cephalin) for further review and comments.

[2019-08-09 17:56] haxu1 commented on #36776
Hi,
Sure, I'd like to. What kind of information you want?

[2019-08-09 17:59] vinothinidharmaraj commented on #35433
@jakaruna-MSFT , do you have any update on this?

[2019-08-09 18:00] haxu1 commented on #36776
I set up the new availability test, and attach an action which has a webhook to the alert of this availability test. but the json string which is the input of the webhook has an empty allOf field.

[2019-08-09 18:00] msaburnley commented on #36471
@adamfowlerit I'm not sure what will happen to existing costumers. I do know the offer will be replaced with a new offer, and once I'm notified, the new offer will be added to the documentation. Sorry I couldn't be of more assistance.

[2019-08-09 18:04] hepais-microsoft opened #36831 "Please ammend the "Preview Creation" paragraph"
Please amend the Preview Creation paragraph. The current paragraph reads:
During the Preview creation step, we create a version of your offer accessible to only the audience that you specified in the Preview section of your offer.

Please add:
During the Preview creation step, we create a version of your offer accessible to only the audience that you specified in the Preview section of your offer.

[2019-08-09 18:07] chiners68 commented on #36801
Case 119072725000064

Sent from my iPhone

On 9 Aug 2019, at 18:18, Frank Hu <notifications@github.com<mailto:notifications@github.com>> wrote:

Hey @chiners68<https://github.com/chiners68> can you please provide the support ticket # that you're currently engaging support with? Let me see if I can help.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on

[2019-08-09 18:09] BenMitchell1979 commented on #18737
As of today I'm still unable to limit the INBOUND ports (65200-65353) on the Application Gateway V2 SKU to the "GatewayManager.<region", "GatewayManager", or "AzureCloud" Service Tags.. It does appear to accept "Internet" Service Tag.. But this is a problem when trying to get PCI Audit accpeted as you can well imagine. Can someone from AppGW PG please respond with an update to this "bug".

[2019-08-09 18:12] iainfoulds commented on #35349
We actually have an updated set of docs ready to replace https://docs.microsoft.com/azure/active-directory-domain-services/create-instance. Those updates should publish next week. I'll add the requirement to be a contributor at the subscription level into those updates now, since the new tutorials will become the canonical reference for creating an Azure AD DS managed domain.

For now, #please-clo

[2019-08-09 18:12] #35349 closed

[2019-08-09 18:12] BryanTrach-MSFT commented on #36459
@jasonshave Thank you for raising this to our attention. We encountered the same behavior in our repro. As a result, we would like to put you in touch with the product group so they can investigate the matter further. Can you please reach out to us at azcommunity@microsoft.com with your subscription ID and the URL of this forum post?

[2019-08-09 18:13] #36459 closed

[2019-08-09 18:15] gitsathish opened #36832 "Folder Name Typo"
In the section titled - Create Azure SQL Database linked service.
Step 1 refers to the folder - C:\ADFTutorials\IncCopyChangeTrackingTutorial
However the next step, Step 2 refers to it as - C:\ADFTutorials\IncCopyChgTrackingTutorial

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 48617a70-7754-75a5-927b-2ba76f7ca014
* V

[2019-08-09 18:17] BryanTrach-MSFT commented on #36380
@Pancat007 There are many common issues that have the standard error code, "System.AggregateException: One or more errors occurred". Can you please check the output window to see if you can obtain a more specific error on the matter? We look forward to your reply.

[2019-08-09 18:20] brycefisher commented on #35157
This is awesome!! Thanks so much.

[2019-08-09 18:23] Arash-Sabet commented on #36730
@ryanhill-msft Would you please have the following sentence rephrased and explained a bit further? For e.g. who sends the message to the "connection"? client? or server?

Server message routing

When sending message to a specific connection, and the target connection is routed to current server, the message goes directly to that connected endpoint. Otherwise, the messages are broadcasted to every

[2019-08-09 18:33] eross-msft commented on #36818
@ChrisAtMAF  Thank you for this feedback! Looking at the included text, I believe the distinction between the two is clear:

"A text message is sent to your phone number. If would prefer to get a phone call, the process is the same. However, you'll receive a phone call with instructions, instead of a text message.
10. Enter the code provided by the text message sent to your mobile device, and then

[2019-08-09 18:37] sanpil commented on #36641
Can you try passing _batch_size_ param in node as 1? Change the _batch_scoring.py_ script so that you only have a single image workload. One way to do this would be that on the end of __init__ do:
[code]

[2019-08-09 18:41] eross-msft commented on #36814
@ChrisAtMAF  Thank you for the feedback! I actually ended up moving the note to the top of the article, underneath the Add a personal account heading, where it talks about the general steps to add non-MS accounts. You should see this update later this afternoon.

Add personal accounts
Generally, for all your personal accounts, you must:
1. Sign in to your account, and then turn on two-factor verif

[2019-08-09 18:41] #36814 closed

[2019-08-09 18:42] MarileeTurscak-MSFT commented on #36774
There is not quite an equivalent to the on premises "LockedOut" property. You can check the AccountEnabled or BlockCredential status in Azure AD.

Get-AzureADUser -UserPrincipalName <UPN of user account> | Select DisplayName,AccountEnabled

Get-MsolUser -UserPrincipalName <UPN of user account> | Select-Object DisplayName,BlockCredential

[2019-08-09 18:43] Karishma-Tiwari-MSFT commented on #36811
I have created a PR and changes will be live shortly.
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-08-09 18:43] #36811 closed

[2019-08-09 18:43] Alberto-Vega-MSFT commented on #36632
@TiNovTec Thanks for taking the time to provide your valuable feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-08-09 18:44] Karishma-Tiwari-MSFT commented on #36722
@dlepow Do you have any inputs on the doc-enhancement suggestion by the customer? Thanks :)

[2019-08-09 18:45] Karishma-Tiwari-MSFT commented on #36656
@chiran100 Please let me know if you tried this. Thanks.

[2019-08-09 18:50] bwren commented on #36761
@crgarcia12  Thanks for this.  Confirmed with engineering team, we're going to add this to the unsupported list. #in-process

[2019-08-09 18:52] femsulu commented on #36798
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-08-09 18:53] yubhat opened #36833 "This doc is outdated"
This doc is very out of date: Azure virtual machine scale sets and attached data disks.

In particular: This feature is in preview, with examples on GitHub… Azure portal support for attached data disks in scale sets is initially limited.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75079c9f-fff6-85f0-ede4-7f9c3e582c8

[2019-08-09 18:53] femsulu commented on #36827
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-08-09 18:53] yubhat commented on #36833
https://github.com/Azure/vm-scale-sets/tree/master/preview/disk

[2019-08-09 18:58] gitsathish opened #36834 "Typo"
In the section titled "Create a change tracking dataset" the second step refers to a Watermarkdataset.
It is should refer to a changetrackingdataset instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 48617a70-7754-75a5-927b-2ba76f7ca014
* Version Independent ID: bcc5675c-e8f1-d53f-a943-f3d7eb0331c6
* Content: [Inc

[2019-08-09 19:02] ALLWORLD7 opened #36835 "The word "remove" might be missing from a sentence"
I believe that the word "remove" is missing from this sentence.
"Deleting devices in your on-premises AD or Azure AD does not registration on the client."

I think the word remove should be listed in front of registration.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad8e93b0-2d8b-68c0-62ee-be44831b1557
* Version Ind

[2019-08-09 19:04] nosretep commented on #33510
did we ever come up with the answer to this question?

[2019-08-09 19:09] YutongTie-MSFT commented on #36816
@colinrippeyfinarne
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-09 19:14] #36708 closed

[2019-08-09 19:15] FrankHu-MSFT commented on #36812
@ChrisAtMAF Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue as the change has been made. Please reopen this git issue if you have anymore concerns. Thanks

[2019-08-09 19:15] #36812 closed

[2019-08-09 19:15] FrankHu-MSFT commented on #36815
@ChrisAtMAF Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue as the change has been made. Please reopen this git issue if you have anymore concerns. Thanks

[2019-08-09 19:15] #36815 closed

[2019-08-09 19:22] jluk commented on #34295
@xsilverboltx thanks, agree with the confusion. I am pushing a PR in to fix that FYI @mlearned

[2019-08-09 19:22] terrymandin opened #36836 "Where do I receive the Message"
When I look at the feedbackBatch variable I don't see the "Cloud to device message." message.    Where is that located?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba79df4d-c64b-7950-3ae9-6f28ea94409b
* Version Independent ID: 7ad0c568-0df2-3be8-f221-0fb846bf575c
* Content: [Cloud-to-device messages with Azure IoT H

[2019-08-09 19:24] ksysiekj commented on #36700
@yashesvi yes I can see the L size ratios but  with the _v2 postfix; the problem is that the reservation API ( https://docs.microsoft.com/en-us/rest/api/billing/enterprise/billing-enterprise-api-reserved-instance-usage)  returns skus for the L series without the _v2 postfix and i'm getting error in my application

[2019-08-09 19:25] steveesp commented on #13906
This is documented here: https://docs.microsoft.com/en-us/azure/virtual-network/create-vm-accelerated-networking-cli#limitations-and-constraints

[2019-08-09 19:26] steveesp commented on #13906
Documented here:
https://docs.microsoft.com/en-us/azure/virtual-network/create-vm-accelerated-networking-cli#limitations-and-constraints

/Steve

From: Cynthia Nottingham <notifications@github.com>
Sent: Thursday, August 8, 2019 4:55 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Steve Espinosa <steveesp@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Micros

[2019-08-09 19:26] walsehgal commented on #36806
Hi @Luksys5, thanks for the suggestion. QQ, do you only want results within the state of Delaware?

[2019-08-09 19:38] FrankHu-MSFT commented on #36801
It looks like support has already engaged with you. the doc issues are meant to be for issues with the docs or some simple questions regarding the products.

Can you please respond back to the support engineer in regards to what the current issue is and to request for an escalation of the issue. I will ping support and let them know the same.

Sorry for the inconvenience, I'm now closing out this

[2019-08-09 19:38] #36801 closed

[2019-08-09 19:41] FrankHu-MSFT commented on #36797
@Charlie-safened Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue by end of day tuesday. Please reopen this git issue if you have anymore concerns. Thanks

[2019-08-09 19:42] FrankHu-MSFT commented on #36835
@ALLWORLD7 Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-09 19:42] FrankHu-MSFT commented on #36789
@XamarinTounsi Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-09 19:42] FrankHu-MSFT commented on #36789
@XamarinTounsi  can you please clarify which doc you're referring to?

[2019-08-09 19:43] MarileeTurscak-MSFT commented on #36774
We will now proceed to close this thread. If you have further questions feel free to tag me in the comments and I will gladly continue the discussion.

[2019-08-09 19:43] #36774 closed

[2019-08-09 19:44] FrankHu-MSFT commented on #36835
Thanks @ALLWORLD7  for letting us know about this, we're going to go ahead and make that change accordingly. Your feedback is appreciated.

[2019-08-09 19:46] FrankHu-MSFT commented on #36789
In addition to that can you please add the actual error you're getting as well as getting a fiddler trace of the error occurring?
@XamarinTounsi

[2019-08-09 19:48] cynthn commented on #13906
@BlakeYarbrough Thank you for your feedback. It looks like the docs have been updated in this space, so I am going to close the issue for now. Please feel free to reopen this issue or start a new one if you have more feedback. Thanks again!

#please-close

[2019-08-09 19:48] #13906 closed

[2019-08-09 19:50] gusgallows commented on #30396
I notice the Microsoft DevOps is missing from the list of Trusted Microsoft services. Is it actually considered one the Trusted Microsoft Services, and if not, is it on the Roadmap to be added? Wanting to be sure if turning on VNet and Firewalls to KeyVault that we don't break the DevOps access. Thanks.

[2019-08-09 19:56] XamarinTounsi commented on #36789
Hello thanks for you answer, I used ADAL, in UWP platform can’t connect to azure AD, error message
« USER CANCEL AUTHENTIFICATION, on an android device ..... »

[2019-08-09 19:56] cbrooksmsft commented on #30396
@antgonmir - responding to the original query, Blob Storage containers are managed from the portal through the Azure Resource Manger API's, which are not controlled by the firewall.

[2019-08-09 20:01] normesta commented on #34113
#please-close

[2019-08-09 20:01] #34113 closed

[2019-08-09 20:04] Karishma-Tiwari-MSFT commented on #36833
@mayanknayar This doc is outdated and needs a full refresh as this feature is no more in preview.
@yubhat Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-08-09 20:05] SharmainePopov commented on #36366
Hi Bobby, FYI the script I tried is also in need of updating – it doesn’t work on current PowerShell, even with  AzureRM loaded. Could you let them know this?

Thanks

Sharmaine Popov
Cloud Solution Architect |Microsoft Canada Inc. | sharmaine.popov@microsoft.com<mailto:sharmaine.popov@microsoft.com> | 416-799-0807

From: Bobby Reed <notifications@github.com>
Sent: Friday, August 9, 2019 7:37 AM
T

[2019-08-09 20:07] normesta commented on #36454
Thank you for reporting. @JohnRusk this seems odd to me. Storage Blob Data Owner should have all of the same privilege's of Storage Blob Data Contributor and more. To your knowledge, does AzCopy enable upload to blob only for Storage Blob Data Owner?

[2019-08-09 20:09] cbrooksmsft commented on #30396
DevOps is not included in the trusted services exception for storage.

[2019-08-09 20:14] gusgallows commented on #15184
Currently, it does not look as though DevOps is considered a Trusted Microsoft Service in regards to KeyVault. Is this true and if so, is it on the Roadmap to be added as a trusted service? My customer wants to implement Firewall and VNet service endpoints on their Keyvault, but they don't want to break DevOps access to KeyVault. Please advise. Thanks.

[2019-08-09 20:19] mayanknayar commented on #36833
A workitem is being tracked for this at the product level. @yubhat has the details as well.

#please-close

[2019-08-09 20:19] #36833 closed

[2019-08-09 20:25] FrankHu-MSFT commented on #36789
Hey @XamarinTounsi  please file the github issue against the respective library.

This is not the right area for support on this issue.

I am now closing out this issue. Thanks,

[2019-08-09 20:25] #36789 closed

[2019-08-09 20:27] normesta commented on #34201
Thank you for reporting the issue. The article has been fixed and the updated content should appear live shortly.

[2019-08-09 20:27] normesta commented on #34201
#please-close

[2019-08-09 20:27] #34201 closed

[2019-08-09 20:29] KranthiPakala-MSFT commented on #36750
@lblanche Could you please provide the details requested by @djpmsft? This will help us to provide a better assistance.

[2019-08-09 20:32] ned1313 commented on #36229
The Azure CLI won't resolve the Application ID of Key Vault to the Object ID.  The principal ID for Key Vault in my instance is e2c1b8c7-4000-45a5-80d1-65d2bce927aa.  I don't know if that is universal.  In the meantime, you can simply use `az role assignment create --role "Storage Account Key Operator Service Role" --assignee 'https://vault.azure.net' --scope $sa_id` instead of using the Object Id

[2019-08-09 20:35] KranthiPakala-MSFT commented on #36781
@Minewiskan Thank you so much for the quick fix!

@nickbeagley2 The doc has been fixed. Thanks much for reporting this issue! :)
Please let us know if you have any further query.

[2019-08-09 20:44] Alberto-Vega-MSFT commented on #36836
Hi @terrymandin I'm not sure if this is what you are asking but the method ReceiveFeedbackAsync() console logs the status code property (of feedbackBatch) and it is being fetched async. This is a good question for the SDK repo. Would you please open an issue there: https://github.com/Azure/azure-iot-sdk-csharp/issues

[2019-08-09 20:46] whataride commented on #36780
@KetanChawda-MSFT Many thanks for the quick reply.

I didn't realize that the latency could be that long with the Consumption plan. Yes, my function app is on that plan. But I have a heartbeat function in the same function app which gets triggerred every 15 mins to avoid the cold start problem.

Two questions:

1. If I use an App Service plan with Always On enabled, can I got near instance trigger

[2019-08-09 20:50] njray commented on #36614
@Karishma-Tiwari-MSFT — this GitHub repo goes with an article (it's linked from here: https://docs.microsoft.com/en-us/azure/virtual-machines/linux/deploy-ibm-db2-purescale-azure). The author of the content was Larry Mead (larryme@microsoft.com). He might have ideas about what's going on for this customer.

[2019-08-09 20:51] vhorne commented on #36200
article updated
#please-close

[2019-08-09 20:51] #36200 closed

[2019-08-09 20:57] Mike-Ubezzi-MSFT commented on #33510
@nosretep Instructions to have a support request created have been sent in response to your email. Please respond to that email with the SR # that is created. Thank you!

[2019-08-09 21:08] KranthiPakala-MSFT commented on #36810
@patrickgalbraith Thank you for reaching out and bringing this to our notice. At this time we are reviewing the ask and will provide an update as appropriate.

[2019-08-09 21:08] MisinformedDNA commented on #32962
@HSBallina I created a NuGet package that should help. [Check it out.](https://github.com/MisinformedDNA/AzureFunctions.AspNetConfiguration)

[2019-08-09 21:08] JimacoMS3 commented on #28449
@uitdam Thanks again for your feedback. We are considering adding more detailed error/status code documentation in a future update.  Thanks again for reporting this issue. At this time, we will close the issue. We'll  update it once we publish more comprehensive error/status documentation.

[2019-08-09 21:09] JimacoMS3 commented on #28449
#please-close

[2019-08-09 21:09] #28449 closed

[2019-08-09 21:10] averkinderen commented on #36544
https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-using-tags

[2019-08-09 21:11] KranthiPakala-MSFT commented on #36810
@patrickgalbraith As of today Data Flow using Powershell is not supported since the Data Flow is in public preview, but will be once the feature is GA.

[2019-08-09 21:16] KranthiPakala-MSFT commented on #36832
@gitsathish Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2019-08-09 21:17] KranthiPakala-MSFT commented on #36834
@gitsathish Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2019-08-09 21:26] ksaye opened #36838 "Error: Missing IOT hub name"
Using the code sample above:
var deviceClient = DeviceClient.Create("&lt;gateway hostname&gt;", auth, TransportType.Amqp_Tcp_Only);

I get the error message "Missing IOT hub name"

I think the sample should be:

var deviceClient = DeviceClient.Create(&lt;iot hub name&gt;, &lt;gateway hostname&gt;, auth, protocol);

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2019-08-09 21:28] vhorne commented on #35294
article updated
#please-close

[2019-08-09 21:28] #35294 closed

[2019-08-09 21:38] Karishma-Tiwari-MSFT commented on #36588
The changes have been merged with this PR : https://github.com/MicrosoftDocs/azure-docs-pr/pull/84577

[2019-08-09 21:38] KranthiPakala-MSFT commented on #36832
@gitsathish Thank you so much for reporting the issue! A pull request for the fix has been created and it will be merged soon.

[2019-08-09 21:38] aluong opened #36839 "Update ARM Templates for App Service Plans"
The templates in this example are using very old schema.
Can we update the docs to reflect a more recent schema? https://docs.microsoft.com/en-us/azure/templates/microsoft.web/2018-02-01/serverfarms

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1ba8817-3e01-7e84-6c71-b98b131f2927
* Version Independent ID: a7703386-9e

[2019-08-09 21:39] nosretep commented on #33510
@Mike-Ubezzi-MSFT none of the sub-types in the drop down are applicable.
<img width="711" alt="creating support request" src="https://user-images.githubusercontent.com/718469/62810638-95c01900-bacc-11e9-9542-b6a2b17d056f.png">
<img width="695" alt="creating support request sub-types not applicable" src="https://user-images.githubusercontent.com/718469/62810637-95c01900-bacc-11e9-8378-37c3e5c2bcc5.

[2019-08-09 21:46] nosretep commented on #33510
The summary is going to be `Metrics API for Microsoft.DBforPostgreSQL server only returns "cpu_percent"`, is that a known issue?

[2019-08-09 21:47] StefH commented on #32962
@HSBallina My full example project can be found at https://github.com/StefH/SmartContractFunction/tree/master/src/SmartContractAzureFunctionApp

See the `Startup.cs` file for details.

@MisinformedDNA Your solution uses the same principles as I use in my sample project.

[2019-08-09 21:50] TravisCragg-MSFT commented on #36828
@the-blesss Regional VNET Integration is built on a P2S Connection, so you will be bound by the same rules as a P2S connection. Your Web app should take the DNS settings of your Virtual Network. If the names do not resolve, try forcing the DNS query to use the VNETs DNS at 168.63.129.16.

[2019-08-09 21:53] msaburnley commented on #36471
Mentions of basic removed, changes should be published in 24 hours. Thanks!

[2019-08-09 21:58] Jatinder-Luthra commented on #36614
Thanks Karishma and Nanette.

Looking forward to get some help on this issue.

JATINDER LUTHRA
Principal Consultant
O: 678.394.4242
Delphix.com

From: Nanette Ray <notifications@github.com>
Reply-To: MicrosoftDocs/azure-docs <reply@reply.github.com>
Date: Friday, August 9, 2019 at 4:50 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Jatinder-Luthra <jatinder.luthra@delphix.com>

[2019-08-09 22:00] mike-urnun-msft commented on #36839
Hi @aluong - Thank you for your feedback! We will review and update as appropriate.

[2019-08-09 22:05] wyfkwok commented on #29789
Let's get some more traction on fixing this documentation.
@prashanthyv...per @shashishailaj request above, "please review the details provided in this issue and accordingly make changes as you see fit".

[2019-08-09 22:07] ggailey777 commented on #36839
#assign:mattchenderson

[2019-08-09 22:12] JagVeerappan commented on #7549
We are planning to refresh this document, and we will address this question in the refresh. #please - close.

[2019-08-09 22:13] patrickgalbraith commented on #36810
@KranthiPakala-MSFT Good to know it is on the roadmap. Do you have any idea when it will be available? Will it be this year?

[2019-08-09 22:14] brettrowberry opened #36841 "Windows Virtual Desktop and Azure Bastion"
Having RDP exposed to the Internet is insecure. Can I use Windows Virtual Desktop with Azure Bastion?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2eeca14-80ef-c0b4-2719-80ceb286ba3d
* Version Independent ID: b7d3df23-3158-2807-eecc-73e7230c2033
* Content: [What is Windows Virtual Desktop Preview?  - Azure](https://

[2019-08-09 22:19] JagVeerappan commented on #7549
#please-close

[2019-08-09 22:19] #7549 closed

[2019-08-09 22:23] whihathac opened #36843 "Parameter's schema is incorrect"
Parameter file's schema should be deploymentParameters.json instead of deploymenttemplate.json

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f2bd9d0-af11-d684-051b-7ac8e611cca9
* Version Independent ID: f83d6e85-4d52-6b7f-a79e-f3ed3f3d0a95
* Content: [Create a metric alert with a Resource Manager template](https://do

[2019-08-09 22:31] KranthiPakala-MSFT commented on #36810
Hi @patrickgalbraith I am not sure about the definite ETA at the moment, but sometime later this year. Regarding service general availability, please keep an eye on _[Azure updates](https://azure.microsoft.com/en-us/updates/?product=data-factory)_. Azure updates provide information about important Azure product updates, roadmap, and announcements.

[2019-08-09 22:37] patrickgalbraith commented on #36810
Ok thanks for the information!

[2019-08-09 22:51] pranavpnair opened #36844 "Error in modify failover priority powershell commands"
Hi,

I believe there is an error in the way $failOverPolicies is defined currently.

$failoverPolicies = @(
    @{ "locationName"="East US"; "failoverPriority"=0 },
    @{ "locationName"="West US"; "failoverPriority"=1 }
)

should be,

$failoverPolicies = { "failoverPolicies" = @(
    @{ "locationName"="East US"; "failoverPriority"=0 },
    @{ "locationName"="West US"; "failoverPriority"=1 }
)}

C

[2019-08-09 23:03] normesta commented on #36568
Thank you @manishgonsalves for reporting the issue. You are correct. I've changed the doc and that update should appear live shortly. Thanks again.

[2019-08-09 23:03] normesta commented on #36568
#please-close

[2019-08-09 23:03] #36568 closed

[2019-08-09 23:24] JoelHazelton commented on #31078
I too am confused by this article and have been far more enlightened by this comment thread than the article itself.

Suggestion: Please update the article with any relevant information shared in this thread. People should be able to read the article and get what they need in terms of configuration steps.

Question @SanDeo-MSFT , @ManojReddy-MSFT : I am working on a controlled Hybrid Join deployme

[2019-08-09 23:42] JohnRusk commented on #36454
@Norm (cc @lesterw1)

I believe Storage Blob Data Owner is enough.  But folks (including myself) have previously been caught out due to a timing issue in the following sequence of events:

1. Add Storage Blob Data Owner permission
1. Immediately test it, and notice that it fails.
1. Try adding Storage Blob Data Contributor.
1. Test again, and it works!  But, what's actually happening is that this

[2019-08-09 23:54] chetansriv commented on #26555
@JasperWind we have updated the article as per your suggestion. Please review

#please-close

[2019-08-09 23:54] #26555 closed

[2019-08-09 23:56] KrishnaG-MSFT commented on #36843
@whihathac Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-08-09 23:56] chetansriv commented on #28468
@pronoyb we have updated the article as per your suggestion, please review

#please-close

[2019-08-09 23:56] #28468 closed

[2019-08-09 23:59] chetansriv commented on #33946
@mtthffmn We have updated the article as per your suggestion, please review
#please-close

[2019-08-09 23:59] #33946 closed

[2019-08-10 00:09] chetansriv commented on #34688
@ArvindHarinder1 We have updated the article as per your suggestion, please review

#please-close

[2019-08-10 00:09] #34688 closed

[2019-08-10 00:10] chetansriv commented on #34734
@ArvindHarinder1 Screenshot updated as per suggestion, please review

#please-close

[2019-08-10 00:10] #34734 closed

[2019-08-10 00:11] chetansriv commented on #34892
@rcallahan2 We have updated the article as per the suggestion, please review

#please-close

[2019-08-10 00:11] #34892 closed

[2019-08-10 00:14] JoelHazelton commented on #34065
@ManojReddy-MSFT We have many 1709 devices we plan to hybrid join. We'd prefer to clean up Azure AD registered state before deploying hybrid join. Is there a way to remove the Azure AD registered state from these devices all at once without breaking their connection to company resources? I understand that removing via portal or PS will block access to company resources by-design (in case it's lost

[2019-08-10 00:23] JoelHazelton commented on #34065
@ManojReddy-MSFT One more question - You said, "If you only have 1803 systems, then you can apply the KB4489894 as described in this article. This will remove the dual state and your devices will only be Hybrid Azure AD joined." If you install this patch BEFORE deploying hybrid join, will it automatically remove the AAD registered state when you deploy hybrid join to that machine?

[2019-08-10 00:23] chetansriv commented on #35874
@mkevinha We have updated the article as per the suggestion, please review

#please-close

[2019-08-10 00:23] #35874 closed

[2019-08-10 00:40] artisticcheese opened #36846 "Log fields for QueryRuntimeStatistics is missing"
Post above just specifying what data fields are available for DataPlaneRequests but no for QueryRuntimestatics.
For example QueryRuntimestatistics has following field `querytext_s` which is not list in fields above. Specifically for my scenario this fields contains following query. I'm having hard time understanding syntax since documents do not have fields specified below at all, so how do you de

[2019-08-10 00:48] mcoplan11 opened #36847 "Access token error login"
![image](https://user-images.githubusercontent.com/36487056/62815445-a8dbe480-bade-11e9-8904-21a75f917720.png)

[2019-08-10 00:50] mcoplan11 commented on #36847
Any ideas on why I'm getting a sign in error?  I'm using the FHIR API not the server

[2019-08-10 00:50] Karishma-Tiwari-MSFT commented on #36841
Thanks for the question. We are currently investigating and will update you shortly.

[2019-08-10 01:33] Alberto-Vega-MSFT commented on #36838
Hi @ksaye is the hostname in this format? Hostname={iothub name}.azure-devices.net

[2019-08-10 01:35] devszr opened #36848 "Sample with Azure .NET Fluent SDK"
Hi,

How would we go about adding the user agent when using the .NET Azure Fluent Management SDK ?

As per https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.management.resourcemanager.fluent.core.iazureconfigurable-1.withuseragent?view=azure-dotnet there is a setUserAgent method, but, it seems to take two parameters, product and version.

Is that the method to use? If so, could you pleas

[2019-08-10 02:07] Alberto-Vega-MSFT commented on #36389
Hi @rajb865 do you have any updates?

[2019-08-10 02:12] aluong opened #36849 "ARM Template for Linux App Service Plan is missing reserved property"
`{
    "type": "Microsoft.Web/serverfarms",
    "apiVersion": "2015-04-01",
    "name": "[variables('hostingPlanName')]",
    "location": "[resourceGroup().location]",
    "kind": "Linux",
    "properties": {
        "name": "[variables('hostingPlanName')]",
        "sku": "[parameters('sku')]",
        "workerSize": "[parameters('workerSize')]",
        "hostingEnvironment": "",
        "numberOf

[2019-08-10 02:19] femsulu commented on #36829
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-08-10 02:20] femsulu commented on #36831
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-08-10 02:22] femsulu commented on #36848
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-08-10 02:24] Alberto-Vega-MSFT commented on #36717
@petermillsacumentive do you have an update? If you open the issue please share the link here for future reference.

[2019-08-10 02:27] SogoGolf opened #36850 "Server-side programming example to DELETE a stored procedure"
Please add a Server-side programming example to DELETE a stored procedure

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08836ace-1fd0-b59b-18ce-6e615fe86c5b
* Version Independent ID: 193861e9-5a1c-82b1-bc92-7e68b7263662
* Content: [Node.js examples for Azure Cosmos DB](https://docs.microsoft.com/en-us/azure/cosmos-db/

[2019-08-10 02:28] Alberto-Vega-MSFT commented on #36677
@terrymandin just to confirm you are referring to the table under:
_2. Add these values to the list for the ContosoStorageEndpointEnriched endpoint._

[2019-08-10 02:32] the-blesss commented on #36828
Thank you for the response! To clarify a few things: we are using Regional VNET Integration (preview) with an ER Gateway in this VNET. We are also trying out Private DNS Zone which is also preview, so we can route to private IPs across our circuit. What you clarified is what I assumed (Web app would query VNET DNS, which is set to use Azure DNS, 168.63.129.16).  If we run nslookup from the Web app

[2019-08-10 02:33] #36340 closed

[2019-08-10 02:36] dops0 commented on #36848
Thanks for the quick follow up.

In addition, what would be the recommended approach when we're using the Azure .NET Fluent SDkKand a template ? Specifically, if someone is using the method https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.management.resourcemanager.fluent.deployment.definition.iwithtemplate?view=azure-dotnet , should they add the GUID tracker within the template, or, sh

[2019-08-10 03:12] SogoGolf commented on #36436
hi @southpolesteve, thanks again for putting this together was a really great start. A few suggestions that I think will be helpful for this example (also to note the example did not work for me it only updated 2 documents of the 20):

1. publish the code as plain JS, not TS. reason i say this is because all the MS documentation seems to only use JS, so this keeps it consistent

2. include the use

[2019-08-10 03:39] Rodrigossz opened #36852 "Missing info"
Hello! Some missed info...
1) You can't download Python 3.6. You need conda for that, so you may want to add that to the instructions.
2) There is no mention to binaries not supported like azure-storage methods. And the docker requirement, as workaround.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a509bdc-f8b8-8488

[2019-08-10 05:44] SogoGolf commented on #36436
hi @southpolesteve thanks again for doing this. the penny has finally dropped for me and I'm certain this is going to be super helpful for a lot of devs new to Azure stored procs.

here's a few suggestions which I'll leave to you all to decide if would be helpful in the docs.

1. publish the code as plain JS, not TS. reason i say this is because all the MS documentation I've seen re CosmosDB nodej

[2019-08-10 06:19] Charlie-safened commented on #36797
Hi Frank,

I don't understand where a group owner can manage the members of the group they own.

What is the url of the portal through which they do this?

I hope this clears things up.
Best,
Charlie

On 9 Aug 2019 21:41, Frank Hu <notifications@github.com> wrote:

@Charlie-safened<https://github.com/Charlie-safened> Please let us know if there are anymore questions within the scope of this git is

[2019-08-10 06:50] YutongTie-MSFT commented on #36844
@pranavpnair
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-10 06:51] YutongTie-MSFT commented on #36846
@artisticcheese
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-10 06:52] YutongTie-MSFT commented on #36847
@mcoplan11 Hi, thank you for reaching out. Could you please share the document you are referring to? Thank you.

[2019-08-10 06:55] YutongTie-MSFT commented on #36849
@aluong
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@ggailey777 Hi Glenn, could you please take a look of this issue? Thank you.

[2019-08-10 06:56] YutongTie-MSFT commented on #36850
@SogoGolf
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@deborahc
Hi Deborah, could you please take a look of this issue and update the document if necessary? Thank you.

[2019-08-10 06:58] YutongTie-MSFT commented on #36852
@Rodrigossz
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@ggailey777
Hi Glenn, could you please check this issue and update the document as necessary? Thank you.

[2019-08-10 06:59] YutongTie-MSFT commented on #36776
@haxu1 Hi, could you please share which Azure doc you are referring to or which Azure product you are using? Thank you.

[2019-08-10 06:59] YutongTie-MSFT commented on #36655
@Yashuaaa
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-08-10 06:59] #36655 closed

[2019-08-10 07:02] pvvdurgaprasad commented on #35753
Abid, following options seem to be available for function apps:

1. with consumption plan, you can have storage account in another region for IP whitelisting to work on storage firewall
2. with app service plan, VNet integration is available to communicate with storage firewall in same region

[2019-08-10 07:28] blueelvis commented on #36823
@FrankHu-MSFT - Thanks for the clarification. Not the important information. But in general, is it encrypted at rest behind the scenes? For example, if I have a log file generated by a PaaS service which is visible in the Azure Portal, is it stored with encryption at rest or in plain text?

[2019-08-10 08:46] OjasviBhargava opened #36853 "Information on Microsoft Managed Failovers"
Hi Team,

It would be really nice if we got more explanation on "Microsoft Managed Failover". For example, my questions are :

When using RA-GRS replication on an Azure Storage Account, if a regional outage occurs and there is a Microsoft-managed failover to the secondary region, in case of a disaster or something, is the data in that secondary region RA-GRS replicated again automatically?

Simila

[2019-08-10 08:46] breno601 opened #36854 "Continuous Integration and deployment - Data Factory Custom Activity"
Hi,

I have some custom activity in a pipeline I created in Azure Data Factory v2. I saw that there are several documents explaining how to write/do pipelines for deployment of Data Factory "apps". But none of them explains what to do when you have a custom activity (meaning you have to move a console app to a blob storage folder, etc). Since I couldn't find anything, it looks like it's a flaw? Ho

[2019-08-10 09:08] BernieJ54 opened #36855 "Control MFA user status by AD group membership"
I think I understand MFA policy and user status within AAD but....

We need to enable our users for SSPR/MFA triggered by the initial registration of a mobile number in our users AD accounts and then somehow synch this out to AAD - maybe via AD connect - so that the SSPR/MFA status is then automatically enabled in AAD. We could also trigger an AD Powershell script to do this if possible.

Currentl

[2019-08-10 09:53] mike-urnun-msft commented on #36777
@mbordogna Outbound IP addresses are not allocated to one specific customer and you can safely whitelist them as discussed in the documentation above.

We will now proceed to close this thread. If there are further questions regarding this matter, please open a thread on [MSDN forums](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureFunctions) and we will gladly continue the discussi

[2019-08-10 09:53] #36777 closed

[2019-08-10 10:37] hhubik opened #36856 "Container.UpsertItemAsync should at least be mentioned as a CRUD option."
https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.cosmos.container.upsertitemasync?view=azure-dotnet#Microsoft_Azure_Cosmos_Container_UpsertItemAsync__1___0_System_Nullable_Microsoft_Azure_Cosmos_PartitionKey__Microsoft_Azure_Cosmos_ItemRequestOptions_System_Threading_CancellationToken_

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2019-08-10 13:08] JimXu199545 opened #36857 "C#: Trouble formatting valid JObject for .WithParameters() when deploying new Azure VM from ARM Template"
[Enter feedback here]
i'm having trouble with deploying an Azure VM from an ARM template using an Azure Function which is written in C#, whilst using a JObject, from the Newjonsoft.Json,Linq library, to provide parameters for the new VM.
I tried to formulate the object using a dynamic variable, which is then converted to string and parsed using JObject.Parse() method, however, I get an error

[cod

[2019-08-10 14:36] ToMakeSense opened #36858 "Can't archive logic app diagnostics logs in Azure storage account"
According to the document operation, I can't archive logic app diagnostics logs in Azure storage account, nothing created in Azure storage account.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1a1a0ec-679d-ef82-2b6f-b6dad27c9eb0
* Version Independent ID: 3d72d0e4-7ecb-fc36-0112-e5f216950523
* Content: [Check status,

[2019-08-10 15:03] ToMakeSense commented on #36707
@KetanChawda-MSFT I checked the available location for Integaration Account in [Resource Explorer](https://portal.azure.com/#blade/HubsExtension/ArmExplorerBlade), It seemed **"Central US EUAP", "East US 2 EUAP" and "France Central"** is not list in Azure portal. you can double confirm.
<pre>
{
    "resourceType": "integrationAccounts",
    "locations": [
        "North Central US",
        "Centr

[2019-08-10 15:49] AlexFiala commented on #36783
Hey @ChiragMishra-MSFT, the behavior is as follows:

I created a working pipeline with an iterative copy activity that iterates through tables in a database and outputs those tables as CSV files within ADLS.  This pipeline includes two datasets, a source database and an ADLS sink.  This pipeline worked.

I had to replicate this exact same behavior for 4 other databases, so I cloned the database da

[2019-08-10 16:31] neeleshray-msft commented on #36853
@OjasviBhargava  Thank you for your query. We will check it with the engineering internally and let you know accordingly.

[2019-08-10 16:35] neeleshray-msft commented on #36855
@BernieJ54 Thank you for your query. We will check it with the engineering internally and let you know accordingly.

[2019-08-10 16:39] neeleshray-msft commented on #36854
@breno601  Thank you for your query. We will check it with the engineering internally and let you know accordingly.

[2019-08-10 16:40] neeleshray-msft commented on #36857
@JimXu199545 Thank you for your query. We will check it with the engineering internally and let you know accordingly.

[2019-08-10 16:48] thedavegray opened #36859 "This is following the example above to the letter... why don't you keep these examples current?"
'IWebJobsBuilder' does not contain a definition for 'AddAzureStorageCoreServices' and no accessible extension method 'AddAzureStorageCoreServices' accepting a first argument of type 'IWebJobsBuilder' could be found (are you missing a using directive or an assembly reference?)

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-08-10 18:14] bradygaster opened #36860 "API Management not available with V2?"
I walked through this article and got to the step on exporting, and saw this error. Should I back off the function to v1 (seems sad 👎)? Is this a doc bug or a product limitation ATM? cc @mattchenderson

![image](https://user-images.githubusercontent.com/41929050/62825412-0401eb80-bb60-11e9-8312-d49864dc7a21.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2019-08-10 18:18] bradygaster commented on #36860
Looks like a doc issue that could be updated, so cc'ing @ggailey777 @mgblythe @PramodValavala-MSFT. i found this pic, so i'm going this direction to see if it'll work.

![image](https://user-images.githubusercontent.com/41929050/62825443-9f935c00-bb60-11e9-82a6-d81f21b7699f.png)

[2019-08-10 18:30] mike-urnun-msft commented on #36858
@ToMakeSense Thank you for your feedback! We will review and update as appropriate.

[2019-08-10 18:31] devszr commented on #25884
Need an additional clarification on this.

Let's say a two VMs are deployed using an ARM template which has a pid GUID in it. When running the powershell script provided on this page, we're able to correctly list the two VMs.

Now, let's deploy two additional VMs in the same resource group with the same ARM template. When we re run the powershell script, we only see the two new VMs being displayed

[2019-08-10 22:28] YutongTie-MSFT commented on #36856
@hhubik
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@SnehaGunda
Hi Sneha, could you please check this issue and update the document if needed? Thank you.

[2019-08-10 22:30] YutongTie-MSFT commented on #36859
@thedavegray
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@ggailey777
Hi Glenn, could you please help to check this issue and update the document if need? Thank you.

[2019-08-11 00:43] SleepyRoy commented on #24319
Encountered the same problem and just used a trick to solve it.
Two tricks might be helpful:
a) Increase the number of cores involved when deploying a model. This would reduce the time cost so the running time may drop and touch the 1 minute threshold.
b) Split the data into many smaller pieces, send them individually, then combine results.
Nevertheless they're just tricks. Look forward to a bette

[2019-08-11 04:02] hhubik opened #36862 "What is the purpose of '1' in SELECT COUNT(1) ..."
Please provide more details.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8dbaec6a-4f7e-736b-2e6a-c3f6a5529221
* Version Independent ID: 18fc80ab-e47e-9042-43e4-88d721f6ba57
* Content: [Aggregate functions in Azure Cosmos DB](https://docs.microsoft.com/en-us/azure/cosmos-db/sql-query-aggregates)
* Content Source: [ar

[2019-08-11 04:26] RaviTella commented on #34232
Consistency levels can only be reduced(from the consistently level set at the account) on the client side. In this scenario the consistently level is set to "Session" at the account so you will not be able to set "Strong consistency" on the read client. Of course, you can always set "Strong" consistency at the account which will guarantee that the write is synchronously replicated to all regions b

[2019-08-11 05:32] apwestgarth commented on #31016
Yes #please-close as docs have been published for this scenario on Windows Containers in App Service - https://docs.microsoft.com/azure/app-service/configure-connect-to-azure-storage

[2019-08-11 05:32] #31016 closed

[2019-08-11 05:34] AJAnujsharma commented on #36787
Its regarding Dataset and Linked Service in Azure Data factory. I want to understand if i create a generic dataset and reuse it in parallel with different pipelines will it have some limitations?

[2019-08-11 05:50] dancs85 commented on #36533
@alex-frankel  When the import of a blueprint/artifact is done via the PowerShell command 'Import-AzBlueprintWithArtifact', the artifact is create in Azure with the name based purely on the filename, eg '10-vnet.json' will be called '10-vnet'.
This means any reference to that artifact in other artifacts need to use the filename to reference, rather than what the documentation suggests.

The artifa

[2019-08-11 06:01] SadiqhAhmed-MSFT commented on #36544
@rothja Please review this request and update as appropriate.

[2019-08-11 06:13] AJAnujsharma commented on #36787
https://github.com/MicrosoftDocs/azure-docs/blob/master/includes/azure-data-factory-limits.md

[2019-08-11 07:08] davidkydd opened #36863 "App package env var default version"
Can we add a description for the env var which is available when using the default version of an application package (without "#version" postfix)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe76a04d-fca3-b64a-9fdf-b12de26d3d19
* Version Independent ID: 9dbb15f3-8665-595d-2322-fb8cdfc0c6e3
* Content: [Task runtime en

[2019-08-11 08:34] atom2infinity opened #36864 "Azure enterprise usage detail and price sheet api's are not working in Australia."
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-08-11 08:48] #36864 closed

[2019-08-11 08:56] ggailey777 commented on #36860
@bradygaster we were in the process of cutting this Functions tutorial, along with the Flow one, since they required API definition, which is v1 only. Can you let me know if you have success using this API-centric UI to create the connected PowerApp? If it works, maybe we can at least keep the PowerApps one.

cc. @eamonoreilly

[2019-08-11 09:21] pengzhisun opened #36865 "Invalid acr task list-runs sample code"
"az acr task list runs --name mytask --registry myregistry --output table" should be "az acr task list-runs --name mytask --registry myregistry --output table"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e863c45-bc89-0762-7bc1-525c122cf6ec
* Version Independent ID: 3937ce4a-4428-bcfc-7ea7-760705947409
* Content: [S

[2019-08-11 11:45] HagayatFeelit opened #36868 "Costs of offline usage"
What are the costs of the offline usage?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f8e1616-f3c9-ba1c-2ebd-9d7f74d79005
* Version Independent ID: 3158bd35-4d7d-63ec-1df7-520f00c053c0
* Content: [Operate devices offline - Azure IoT Edge](https://docs.microsoft.com/en-us/azure/iot-edge/offline-capabilities#feedback)

[2019-08-11 11:49] jurajgh opened #36869 "compatible with azure ad domain services?"
are azure dns (private) zones somehow compatible with azure active directory domain services? i mean, once I deploy AADDS in a vnet,all resources in there should use the DNS service built-into the managed domain. the resources (e.g. VMs) would then be unable to use the azure DNS private/public zones. unless I am misunderstanding something..?

---
#### Document Details

⚠ *Do not edit this section.

[2019-08-11 14:03] matthewjlevy commented on #35337
Baseline Policies are fantastic! Especially for customers without Azure AD Premium P1 or P2, however, please consider those long standing customers that have legacy hardware or systems that need to be exempt from some of the baseline policies for legitimate reasons. Legacy Authentication for example, needs to be allowed in some cases from specific IP ranges. Customers are aware of the risks, howev

[2019-08-11 14:23] AjayKumar-MSFT commented on #36642
@ankhuve, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and we will gladly continue the discussion.

[2019-08-11 14:23] #36642 closed

[2019-08-11 14:25] SABARISHV06 opened #36870 "Blade: CosmosDBAccountCreateBlade while creating a Azure cosmos db resource"
I was unable to create a CosmosDB database and I am getting Blade: CosmosDBAccountCreateBlade error.

Attached the error code for your reference ![error](https://user-images.githubusercontent.com/16812919/62835090-f3da3100-bc71-11e9-949e-2c5a4f03e1e8.PNG)
Any help would be appreciated. Thanks!

[2019-08-11 18:02] YutongTie-MSFT commented on #36862
@hhubik
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-08-11 18:03] YutongTie-MSFT commented on #36870
@SABARISHV06
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-11 18:04] YutongTie-MSFT commented on #36863
@davidkydd
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-08-11 18:05] danielstocker commented on #36458
@Mike-Ubezzi-MSFT @mike-urnun-msft

Thanks for looking into this.

Do you need any more information to progress this?

[2019-08-11 18:05] YutongTie-MSFT commented on #36865
@pengzhisun
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-11 18:07] YutongTie-MSFT commented on #36868
@HagayatFeelit
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-11 18:08] YutongTie-MSFT commented on #36869
@jurajgh
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-11 19:42] edwinsummers opened #36874 "'recovery plan context' in Python?"
If using a Python automation runbook, how does one access the Recovery Plan Context? If added as a variable to the script, what is the variable name? The PowerShell name is shown as $RecoveryPlanContext but I cannot find a reference to the variable name in Python.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5cca70b

[2019-08-11 20:11] neumanndaniel commented on #33129
@vishiy Is it really fixed? I tried it out today and I got the error message that the reply url by the app does not match the reply url provided in the request.

Finally, with some debugging and changing the url to `https://monitoring.hosting.portal.azure.net/monitoring/Content/iframe/infrainsights.app/web/base-libs/auth/auth.html` I got it working again.

Does the url has changed?

[2019-08-11 20:38] theheatDK opened #36875 "DNS server?"
Hi,
For Ubuntu to be able to resolve the FQDN listed above. For example *.ubuntu.com, it needs access to a DNS server. Which DNS service is it using and should this not bee added to the list?
I have noticed that UDP port 53 is listed but should this not be locked down to a specific FQDN?
What about tcp port 53?
Regards Peter

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2019-08-11 21:39] mgarf commented on #36009
@DixitArora-MSFT any update on this?

[2019-08-11 22:08] dancs85 commented on #36785
`{
    "Name":  "Blueprint Administrator",
    "Id":  "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx",
    "IsCustom":  true,
    "Description":  "Can create, edit, delete and assign blueprints",
    "Actions":  [
                    "Microsoft.Blueprint/blueprints/write",
                    "Microsoft.Blueprint/blueprints/artifacts/write",
                    "Microsoft.Blueprint/blueprints/versions/writ

[2019-08-11 22:34] omerzubair commented on #34262
Would Agree with @omerlh.
Need some examples using keyvault for key rotation. In our environment its easier to use Automation Accounts. But now problem is that old AzureRM module do not have new/preview features . Az is getting the new features you see in Azure Portal. You cannot have automation account which will support both modules loaded. https://feedback.azure.com/forums/217321-sql-database/s

[2019-08-12 00:19] ericloeliger opened #36878 "Can you specify file upload directories?"
In my understanding, when a device uploads a file via IoT Hub it is created in a directory for the device ID that uploaded it.  For example testdevice1/testfile.txt.

Is there any way to specify another directory, within the device directory, when uploading a file?  For example, if I wanted to partition by day, something like this testdevice1/20190811/testfile.txt.

[2019-08-12 00:52] andrewbeaumont opened #36879 "'Convert users from per-user MFA to Conditional Access based MFA' script is upside down"
The script at the bottom of the page is upside down, the relying functions are going from bottom to top instead of top to bottom. If an administrator were to run this script from top to bottom it would not work.
Suggest moving Set-MfaState to the top of the script, followed by Disable-Mfa, and finally 'Get-MsolUser -All | Disable-MFA -KeepMethods'

---
#### Document Details

⚠ *Do not edit this se

[2019-08-12 00:59] TravisCragg-MSFT commented on #36809
@saif-chaudhry Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-08-12 01:04] jcledezma opened #36880 "Tutorial broken. Fails on Step 3 of Create an AKS Cluster"
Following all steps.  I selected the 1st option to create a new service principal. Won't pass validation.

{"code":"InvalidTemplateDeployment","message":"The template deployment 'microsoft.aks-20190811194924' is not valid according to the validation procedure. The tracking id is 'e69d57be-2f54-4035-80c6-fc5acda2c290'. See inner errors for details. Please see https://aka.ms/arm-deploy for usage det

[2019-08-12 01:10] YutongTie-MSFT commented on #36874
@edwinsummers
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-12 01:12] YutongTie-MSFT commented on #36875
@theheatDK
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-12 01:14] YutongTie-MSFT commented on #36530
@jpe316 Hi Jordan, could you please help to add more details to make the document clearer? Thank you.

[2019-08-12 01:14] YutongTie-MSFT commented on #36641
@iamanuradha
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-08-12 01:14] #36641 closed

[2019-08-12 01:16] TravisCragg-MSFT commented on #36869
@jurajgh It is possible for both to exist, the issue lies in the DNS queries and where your VMs send the request. If the domain has its own DNS server, the VMs will use that DNS server for lookups. You can manually specify Azure's DNS server on the VNET (at IP 168.63.129.16) for queries, or direct your VMs or domain DNS to forward the some requests to that address.

You should be able to manually

[2019-08-12 01:17] YutongTie-MSFT commented on #36648
@DarrinEide Hi Darrin, could you please help this issue?

[2019-08-12 01:18] YutongTie-MSFT commented on #36718
@gangel77
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-08-12 01:18] #36718 closed

[2019-08-12 01:19] YutongTie-MSFT commented on #36776
@haxu1
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-08-12 01:19] #36776 closed

[2019-08-12 01:20] YutongTie-MSFT commented on #36847
@mcoplan11
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-08-12 01:20] #36847 closed

[2019-08-12 01:46] adamfowlerit opened #36881 "Azure AD Premium P2 requirement"
Hi,
I only have a P1 license, yet some of the Identity Protection features are available, such as Users flagged for risk, Risk Events and Vulnerabilities. THe User Risk Policy section can be turned off or on and explicitly says "You can turn off enforcement of this policy. Other policy management requires Azure AD Premium P2. Start a free trial."

It seems there's some aspects of this that work wi

[2019-08-12 02:01] smartczh commented on #36692
Thank you Pramod,

There is no problem any more and you can close this.

At 2019-08-09 19:08:23, "Pramod Valavala" <notifications@github.com> wrote:

@smartczh Just following up here... Hope my previous comment clears things up.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-08-12 03:04] xiongyu0523 opened #36882 "Incorrect Markdown emphasis on this page."
X**.**509
X**.509
X.**509

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f638d42e-7230-fb6f-6704-497fc8ed3c53
* Version Independent ID: ea442f96-b044-d6a3-464e-58399327e098
* Content: [Azure How to - How to use different attestation mechanisms with the Device Provisioning Service Client SDK in Azure](https://docs.micro

[2019-08-12 03:07] lisenkaci commented on #29363
I am having this problem and I always get this error:
error: {code: "404", message: "Resource not found"}

my code:
<img width="610" alt="Screen Shot 2019-08-11 at 11 03 25 PM" src="https://user-images.githubusercontent.com/46824344/62844034-4de7f000-bc8c-11e9-9e95-4c70489a1f8c.png">

My Azure Resource:
<img width="787" alt="Screen Shot 2019-08-11 at 10 46 11 PM" src="https://user-images.githubuse

[2019-08-12 03:08] SumanthMarigowda-MSFT commented on #36684
@rvargas22 Can you share me the document which you are referring too?
Try the suggestion mentioned in this [MSDN ](https://social.technet.microsoft.com/Forums/en-US/e3548888-cab4-4e1d-b392-6feead201b0a/issues-with-recovery-from-azure-backup?forum=windowsazureonlinebackup)link.

[2019-08-12 03:08] xiongyu0523 opened #36883 "Symmetric key attestation information is missed"
The description of "All devices in the enrollment group present X.509 certificates that have been signed by the same root or intermediate Certificate Authority (CA). Enrollment groups can only use the X.509 attestation mechanism" is incorrect as I can also use symmetric key attestation with group enrollment

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2019-08-12 03:11] SumanthMarigowda-MSFT commented on #36709
@ssjaronx4  You can get container properties to see if a legal hold is set https://github.com/Azure/azure-storage-net/blob/4bd9460e0b9b007bdb34eaa1329de2257f7a34dc/Lib/Common/Blob/BlobContainerProperties.cs  it would be the same for setting a legal hold.

[2019-08-12 03:13] SumanthMarigowda-MSFT commented on #36609
@yangyadi1993 Can you share me the documented which you are referring too?

[2019-08-12 04:03] CHEEKATLAPRADEEP-MSFT commented on #36628
@sqlenders  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-08-12 04:03] #36628 closed

[2019-08-12 04:30] jakaruna-MSFT commented on #35433
@vinothinidharmaraj Please try with  Az module. Thats the latest one and will be updated.
i tried with the Az module and it worked well.

You cant have both modules at a time.   Install Az module by following this [link](https://docs.microsoft.com/en-us/powershell/azure/install-az-ps?view=azps-2.5.0).

[2019-08-12 04:37] mcoplan11 opened #36884 "Invalid resource error"
Hi,

I have followed this tutorial (https://docs.microsoft.com/en-us/azure/healthcare-apis/access-fhir-postman-tutorial) and ran into this error when requesting an access token.

I am using the Azure API for FHIR.

AADSTS650057: Invalid resource. The client has requested access to a resource which is not listed in the requested permissions in the client's application registration. Client app ID: x

[2019-08-12 04:38] jaswanthpadigala opened #36885 "Support V 8.3.1"
Hi,

It appears the SSO Jira app doesn't support the latest Jira version 8.3.1 yet though Jira shows the app is compatible in the Jira admin console. In version 8.3.1, the login button is not visible in the login page inspite of enabling the app and checking all the settings. Have you tested this and is there a plan to release a compatible version in the near future? If possible, please provide an

[2019-08-12 04:45] neeleshray-msft commented on #36881
@adamfowlerit hank you for your query. We will check it with the engineering internally and let you know accordingly.

[2019-08-12 04:46] neeleshray-msft commented on #36879
@andrewbeaumont hank you for your query. We will check it with the engineering internally and let you know accordingly.

[2019-08-12 04:49] jakaruna-MSFT commented on #36865
@pengzhisun Thanks for reporting.
I will submit a PR.

[2019-08-12 04:49] VikasPullagura-MSFT commented on #36880
@jcledezma Thanks for the feedback. We are checking on this and will update you shortly.

[2019-08-12 04:55] msrini-MSFT commented on #36800
@rmillman , Do you have any update on this issue?

[2019-08-12 04:57] rajb865 commented on #36389
Hi @Alberto-Vega-MSFT

I am trying it on Azure VM. Hyper-V is enabled.

[2019-08-12 04:58] pengzhisun commented on #36865
@jakaruna-MSFT I've already sent a PR for this issue: https://github.com/MicrosoftDocs/azure-docs/pull/36866

[2019-08-12 04:58] msrini-MSFT commented on #36562
@xenalite , AFD expects a signed CA. If you use internal CA, it will not work.

If you have any further questions, let me know.

[2019-08-12 04:58] #36562 closed

[2019-08-12 04:58] AshokPeddakotla-MSFT commented on #36883
@xiongyu0523 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-08-12 05:07] KrishnaG-MSFT commented on #36283
@maertendMSFT / @jluk Any update on this ?

[2019-08-12 05:07] RohitMungi-MSFT commented on #36790
@Bradrajkumar It would be great if you can provide us a document link that you are facing issues with as this forum is used to address issues related to documentation.

If the issue is related to bot service you can post the same in our stackoverflow [forum ](https://stackoverflow.com/questions/tagged/azure-bot-service)where the developer community can help you address the same.

[2019-08-12 05:12] VikasPullagura-MSFT commented on #36880
@jcledezma I have followed the steps in the document and tried deploying the AKS Cluster with new Service principal. I also faced the same error.

As the error was "ServicePrincipalNotFound", in a duplicate tab I checked if the service principal is created under Microsoft - App registrations (Azure Active Directory -> App registrations) and found that it is created as expected.

Then I ignored the

[2019-08-12 05:14] jakaruna-MSFT commented on #36865
@pengzhisun Nice.  But i also submitted one.
Anyway One of them will merge and it will fix the issue.
Thanks for the PR

[2019-08-12 05:19] #36865 closed

[2019-08-12 05:22] PramodValavala-MSFT commented on #36692
@smartczh Glad we could help!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-12 05:22] #36692 closed

[2019-08-12 05:27] jakaruna-MSFT commented on #36710
@Foundation29hub No.
In Linux you need to use tee command on top of the azure cli to show the output in STDOUT and also store it on a file.
`az container logs -n azurenginx -g v-chaxu-ChinaCXPTeam --follow | tee test.txt `
For windows,
`az container logs -n azurenginx -g v-chaxu-ChinaCXPTeam --follow | Tee-Object -FilePath test.txt `

But this command is not writing to the file incrementally. Peri

[2019-08-12 05:28] KrishnaG-MSFT commented on #36864
@atom2infinity Thanks for the update.

[2019-08-12 05:31] jakaruna-MSFT commented on #36703
@abelal83 Currently no plans to add windows containers for existing clusters.
Windows containers feature is still in preview and its not recommended to enable that feature in prod subscriptions.
Only new clusters created after enabling that feature with versions greater than 1.14 will have windows container support.

[2019-08-12 05:36] Bradrajkumar commented on #36790
@RohitMungi-MSFT  i am not facing issue, i am using cognitive service.js file and i want to customize it for extra or custom functionality. is it possible or not?  if it possible please let me know, how?

[2019-08-12 05:47] ksysiekj commented on #36706
@RyanHill-MSFT why did you close the issue? still can see duplicates for the Standard_M32ls ratio

[2019-08-12 05:51] VikasPullagura-MSFT commented on #36706
@ksysiekj I am reopening the issue.
I am checking with Ryan internally on the reason for closing the issue.
I am working with document author for fixing the duplicate related to "Standard_M32ls". The other two duplicates are fixed.

[2019-08-12 05:52] KrishnaG-MSFT commented on #36723
Assigning @bobbytreed for visibility, review and to provide insights.

[2019-08-12 05:54] KetanChawda-MSFT commented on #36780
@whataride
It is recommended to use the Event Grid trigger instead of the Blob storage trigger to reduce latency.

Look at this [UserVoice](https://feedback.azure.com/forums/355860-azure-functions/suggestions/13282098-should-be-support-real-time-storage-blob-triggers) response which talks about the same.

[2019-08-12 06:13] RohitMungi-MSFT commented on #36790
@Bradrajkumar Customization of the application depends on the client side implementation of any service. We would recommend to post your requirements in detail at our developer [forum ](https://stackoverflow.com/questions/tagged/azure-bot-service)on stackoverflow.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your re

[2019-08-12 06:17] AshokPeddakotla-MSFT commented on #36882
@xiongyu0523 Thanks for reporting. PR has been created to update the doc and changes will go live by EOD. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-12 06:17] #36882 closed

[2019-08-12 06:26] SychevIgor opened #36886 "Specificity minimum AKS configuration (NodesCound, Memory/CPU on VMs)"
As I see, we will create bunch of resources (pods) on  AKS.
Could you explicitly specify- the minimum recommended cluster size to successfully run Istior on AKS?
My particular case- developers would like to test the behavior of Istio on their own cluster, but don't know how big this cluster suppose to be.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2019-08-12 06:28] AshokPeddakotla-MSFT commented on #36878
@ericloeliger Thank you for the question! In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2019-08-12 06:37] jakaruna-MSFT commented on #36885
@jaswanthpadigala Can you please share the link to the document which you are followed?

[2019-08-12 06:39] jakaruna-MSFT commented on #36885
@jaswanthpadigala I hope this is the one which you followed
  https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/jiramicrosoft-tutorial
Please confirm

[2019-08-12 06:47] jakaruna-MSFT commented on #36884
@mcoplan11
Thanks for the question! We are investigating and will update you shortly.

[2019-08-12 06:47] KetanChawda-MSFT commented on #36858
@ToMakeSense I tried it at my end it worked as expected. It created a container in configured storage account with the name `insights-metrics-pt1m` along with the logs.
![image](https://user-images.githubusercontent.com/28587628/62848809-b79ee300-bcfa-11e9-9100-e1956bdf08e3.png)

Can you please share the screenshot of the configuration you did in diagnostics Settings blade?

Below is the configura

[2019-08-12 06:49] DixitArora-MSFT commented on #36767
Just checking if you have gone through this GitHub [issue](https://github.com/microsoftdocs/azure-docs/issues/35843) and see if it helps.

[2019-08-12 07:01] ggailey777 commented on #30506
Tracking this content request internally as [\#1582868](https://dev.azure.com/mseng/TechnicalContent/_workitems/edit/1582868).

[2019-08-12 07:09] gvanderberg commented on #33129
Same thing happened to me over the weekend, live streaming of the aks logs started failing auth with invalid reply url. Thanks @neumanndaniel, I was about to start debugging myself when I came across your response, updating / adding ```https://monitoring.hosting.portal.azure.net/monitoring/Content/iframe/infrainsights.app/web/base-libs/auth/auth.html``` resolved my issue as well.

[2019-08-12 07:09] SumanthMarigowda-MSFT commented on #7237
@icecoldfire You may refer to the suggestion mentioned by @poveilleux
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-12 07:10] AakashMasand opened #36887 "Exception calling "AcquireAccessToken" with "1" argument(s): "multiple_matching_tokens_detected: The cache contains multiple tokens satisfying the requirements. Call AcquireToken again providing more arguments (e.g. UserId)""
The error occurs while running the powershell script provided.

Exception calling "AcquireAccessToken" with "1" argument(s): "multiple_matching_tokens_detected: The cache contains multiple tokens satisfying the requirements. Call AcquireToken again
providing more arguments (e.g. UserId)"
At line:4 char:1
+ $token = $profileClient.AcquireAccessToken($azContext.Subscription.Te ...
+ ~~~~~~~~~~~~~~~~

[2019-08-12 07:21] shashishailaj commented on #35392
I checked this internally and found that currently [Azure CLI](https://docs.microsoft.com/en-us/cli/azure/?view=azure-cli-latest) and [Azure PowerShell 2.5](https://docs.microsoft.com/en-us/powershell/azure/overview?view=azps-2.5.0) allow listing Subscriptions and Management Groups, but currently they do not support PIM resource onboarding operations. alternatively you can combine different PS/CLI

[2019-08-12 07:21] #35392 closed

[2019-08-12 07:28] ssjaronx4 commented on #36709
Hi,

Thanks for the link. I had seen the class when going through the SDK but couldn't figure out how to apply it.

The CloudBlockContainer class has methods to set the Permissions or Metadata on a container in the by using an intermediary class with the required configuration, i.e.

`// Set the permissions so the blobs are public.
BlobContainerPermissions permissions = new BlobContainerPermission

[2019-08-12 07:29] KiritoStudio commented on #30983
Could you please update the doc for Ubuntu 18.04, not familiar with netplan.

[2019-08-12 07:41] abij opened #36888 "Python Artifact: Required to include 'worker_venv'?"
Is it required to build an artifact with a directory 'worker_venv' containing the pre-installed packages from requirements.txt?

I had the impression that requirements.txt is picked up automatically when the function is deployed. Is the name of the venv important? Other documentation indicate names like 'venv' or '.venv' for local development.

---
#### Document Details

⚠ *Do not edit this sectio

[2019-08-12 07:51] SwathiDhanwada-MSFT commented on #36874
@Rajani-Janaki-Ram  Can you please look into this and update the document with Python example?

[2019-08-12 08:08] tom-ditlev opened #36889 "Please provide a way to also get the VM-famliy"
Could you please provide a way to also get the VM-family for each section.

I'm reading this page as part of our cost transparency (in Power BI). It is a good source for the Ratios (the only I have found), but as the Ratio is related to a specific VM-family I really need to also be able to get that part of the information.

Manually maintaining my own table in Power BI just isn't a lasting solutio

[2019-08-12 08:13] GeethalakshmiG commented on #35256
https://docs.microsoft.com/en-us/azure/backup/backup-support-matrix-iaas#vm-compute-support

I have updated the support matrix for availability zones.

[2019-08-12 08:14] petermillsacumentive commented on #36717
Thank you Alberto, we need to do some further testing and will raise an issue if needed.

From: Alberto Vega <notifications@github.com>
Sent: 08 August 2019 21:20
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Peter Mills <Peter.Mills@acumentive.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] How to get module twin information on startup (#36717

[2019-08-12 08:15] theheatDK opened #36890 "Fusion?"
Hi,
This is stated in the article:
"Security Center uses fusion to correlate different alerts and low fidelity signals into security incidents."

What is Fusion? Azure Sentinel Fusion? I would be nice with a link or explanation :-)
Regards Peter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff54d88b-b294-cbbb-7034-04e

[2019-08-12 08:19] dcurwin commented on #35256
#please-close

[2019-08-12 08:19] #35256 closed

[2019-08-12 08:29] ChiragMishra-MSFT commented on #36787
@AJAnujsharma There are no limitations on the no of pipelines that can consume a single dataset. Latency and other factors depend on the data source.

[2019-08-12 08:31] ChiragMishra-MSFT commented on #36783
@djpmsft Can you please have a look at this one ?

[2019-08-12 08:39] ScoutmanPt commented on #36139
Hi @ShawnPOWER, current Azure Pricing documentation is still not clear and we need to have a clear vision on it since most of our clients are leveraging these features
We went through this: https://docs.microsoft.com/en-us/azure/active-directory/b2b/licensing-guidance,https://docs.microsoft.com/en-us/azure/active-directory/b2b/o365-external-user and https://azure.microsoft.com/en-us/pricing/detail

[2019-08-12 08:40] MikeNicholls commented on #33157
For me this was resolved by enabling soft deletion on the key vault.

There is an existing issue about this requirement not being documented: #34382

[2019-08-12 08:52] angoyal-msft commented on #36862
@hhubik
select * from table - gives the complete rows present in the table.
select 1 from table - gives the 1 in all the rows.
select count(*) from table  - will give us the count of rows.
select count(1) from table - will also give us the count of rows.

Hope this clarifies your doubt. Please let us know if you still need more information.

[2019-08-12 09:02] ChrisAtMAF commented on #36818
Hi Elizabeth,

I'll keep an eye on this & get back to you. It's probably more to do with people just not reading the documentation or the on-screen prompts. I guess what might actually help is if the on-screen prompt said 'We just sent a text message to +<number>' rather than 'We just sent a code to'. People read that & assume the code on the app screen is their code...

[2019-08-12 09:02] KalyanChanumolu-MSFT commented on #36870
@SABARISHV06 We are sorry you faced this error.
You should be able to see the details of the error by clicking on the notification (bell icon) on the top right corner.
Alternatively, you can navigate to the resource group where you were attempting to create this resource and click on the "Activity Log" blade.

Please post the error message for us to help you troubleshoot further.

[2019-08-12 09:14] jakaruna-MSFT commented on #36875
@theheatDK Sorry that it was confusing.
There is no link between the port 53 and the list of FQDN's listed there.
`Optional recommended port` is 53 and its not related to the optional recommended addresses.
If needed we can open port 53. I dont know which DNS server it uses specifically. @mlearned Pleas add your comments here.
I dont think we can block DNS resolution based on the FQDN. ie, we cant

[2019-08-12 09:18] VikasPullagura-MSFT commented on #36889
@tom-ditlev Thanks for the feedback. I am assigning the issue to the author to add his comments on this request.

[2019-08-12 09:21] VikasPullagura-MSFT commented on #36889
@yashesvi Can you please take a look at this ask of having the VM family information in each sections in the document and add your comments accordingly.

[2019-08-12 09:30] srinihp commented on #36556
These instructions are for windows and they are not applicable for Linux. Could you point me to documentation for Redhat or SuSE variants of Linux.

Do Note that there is no Listener in SQL Server ON Linux.

This method works for windows OS. How about SQL Server on Linux ?

[2019-08-12 09:31] theheatDK commented on #36875
Thanks @jakaruna-MSFT.

There is the indirect link that AKS will not work without being able to access a DNS server :-)
It might be that you cannot currently use Azure Firewall to whitelist DNS server FQDN, but maybe in the future? I would assume that you can do this if you use a firewall appliance like FortiGate.
If you have high security requirements like CIS, PCI DSS it is important that you ha

[2019-08-12 09:33] mike-urnun-msft commented on #36803
@afuyo Please open a thread on MSDN forums and we'd be happy to assist you there as this channel is more for improving MS Docs. Feel free to tag me here with the URL of your thread so I can make sure your thread gets an answer there as well.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-08-12 09:33] #36803 closed

[2019-08-12 09:36] rmillman commented on #36800
I have the same comment that the poster in #36201 had.  There is good information but it would be better if you provided those links in the tutorial.  Most of the references when searching the web point to the activity logs, which isn't helpful for debugging access issues.  That's why it would be good to have those links within the tutorials.

[2019-08-12 09:36] #36800 closed

[2019-08-12 09:36] ChrisAtMAF commented on #36815
@FrankHu-MSFT Documentation doesn't seem to be updated yet?

[2019-08-12 09:36] ChrisAtMAF commented on #36812
@FrankHu-MSFT Documentation doesn't seem to be updated yet?

[2019-08-12 09:50] PanClifton commented on #36786
Hello guys, any update?

[2019-08-12 09:52] MoRMongol opened #36892 "How would you configure permission?"
As far as I know, permissions on Access Policy don't work. I tried setting only "Read" permission on a folder but anyone could delete it. Azure File Sync connects to File Share. So I assume it inherits permissions from the storage account? I'm struggling to find an answer on this one, please help.
Thanks in advance

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2019-08-12 09:54] ToMakeSense commented on #36858
@KetanChawda-MSFT I see, I used the default kind **StorageV2 (general purpose v2)** in the portal, so it's not working. it's OK for other two kinds storage account(**blobStorage**, **Storage (general purpose v1)**). The document does not mention this.

![image](https://user-images.githubusercontent.com/6244148/62857440-36f7db00-bd2a-11e9-8ff5-c2906d13bbdb.png)

[2019-08-12 09:55] duichwer commented on #34834
It seems to work now.
[code]

Maybe the documentation should be corrected temporary until this will bi fixed to use the custom name.

[2019-08-12 10:00] msrini-MSFT commented on #36556
@srinihp Can you check [this ](https://docs.microsoft.com/en-us/sql/linux/sql-server-linux-availability-group-overview?view=sql-server-2017)doc?

[2019-08-12 10:12] STEFGUOLONDON opened #36894 "stream data using"
Hi I have doubt that how shortest time can be notified through your system.Imagine that you’re driving a truck in Colorado in the middle of winter. Your company has fitted the vehicle with IoT sensors that continually monitor wheel slip, air temperature, speed, and RPMs. Suddenly, the wheel slip measurement spikes as the air temperature falls below zero degrees Celsius.  If you can react in millis

[2019-08-12 10:25] blueelvis opened #36895 "Does it mean that by default, there is no encryption of disks?"
Hi,

I read the following features of the encryption -
[code]

Does it mean that by default, these disks are not encrypted when at rest? As in, not even by the service managed keys?

Thanks,
Pranav

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c60e59e-b306-3b47-dcad-56a3c03de428
* Version Independent ID: 95ea9500-3d2

[2019-08-12 10:27] henrycollet opened #36896 "HTTP starter Authorization level"
I am never given the option to set the HTTP starter authorization level as Anonymous instead it is created with the authorization level of the project i.e. function
Then when deployed I run into authentication issues

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7bc8fe9b-d51f-7858-8989-c37699a98a62
* Version Independe

[2019-08-12 10:31] blueelvis commented on #36895
I just noticed that this is indeed true that it is by default encrypted. Can we add some documentation/clarification about this?
![image](https://user-images.githubusercontent.com/6985763/62859324-656dba00-bd1a-11e9-9322-a461364d8bfc.png)

[2019-08-12 10:55] AJAnujsharma commented on #36787
thanks !!

[2019-08-12 10:55] AJAnujsharma commented on #36787
you can close the defect

[2019-08-12 10:57] scoupeau commented on #23596
Hi all, I have the same problem. Do you know if there is another way to recognizing long audio files?
thank you in advance

[2019-08-12 10:58] AJAnujsharma commented on #36787
ok thanks for the information

[2019-08-12 10:58] #36787 closed

[2019-08-12 11:04] Mr-Sharma opened #36897 "Option to change Web RDP URL for Windows Virtual Desktop"

[2019-08-12 11:05] mattonmicrosoft opened #36898 "Create file system"
It would be super useful if this page also described the steps to create a file system for the new storage account. I'm particularly interested in how to do that with PowerShell.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25a53d29-5b26-1a63-16d0-5e5f5bce2b68
* Version Independent ID: 7024d557-d134-5057-93d8-2e7b971

[2019-08-12 11:30] ChiragMishra-MSFT commented on #36894
@STEFGUOLONDON Thanks for the question. We are currently investigating into the issue and will update you shortly.

[2019-08-12 11:36] ChiragMishra-MSFT commented on #36898
@mattonmicrosoft I found a beautifully written blog that talks about the same. Please have a look at [this blog](http://sql.pawlikowski.pro/2019/03/10/connecting-to-azure-data-lake-storage-gen2-from-powershell-using-rest-api-a-step-by-step-guide/). Let us know if it doesn't help.

Just incase the blog link dies,

This example should create filesystem provided in FilesystemName parameter. Remember,

[2019-08-12 11:40] jakaruna-MSFT commented on #36897
@Mr-Sharma Thanks for posting here.
Please share the azure document URL if you are following one.

[2019-08-12 11:42] sarojkpr opened #36899 "What response code countries will recieve in case of block?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 96825a08-0b8a-ed56-4874-93fad8b5f8ce
* Version Independent ID: 30b6d473-0225-bd9d-b9d1-0d6242e9e8f0
* Content: [Restrict Azure CDN content by country/region](https://docs.microsoft.com/en-us/azure/cdn/cdn-restrict-access-by-country#feedback)
* Content

[2019-08-12 11:42] msrini-MSFT commented on #28045
@OffColour , Thank you for your feedback. @vhorne , can we add it to the FAQ?

[2019-08-12 11:43] jakaruna-MSFT commented on #36886
@SychevIgor Thanks for your feedback.
I will submit a PR to include the minimum requirements.

[2019-08-12 11:44] MarnusStoop opened #36900 "After create new service principal and update cluster, az aks browse is broken"
Hello,

I followed the steps to create a new service principal and then to update the cluster. Now my az aks browse is not working, it gives the following error: "error: error upgrading connection: unable to upgrade connection: pod does not exist"

I used the kubectl proxy method to get to the dashboard, and all my nodes are saying that they are not ready due to the following:
"container runtime i

[2019-08-12 11:47] KetanChawda-MSFT commented on #36779
@solankisamir Just following up again in case you missed the last comment.

[2019-08-12 11:49] msrini-MSFT commented on #36899
@sarojkpr , I will investigate and get back to you shortly.

[2019-08-12 12:12] jaswanthpadigala commented on #36885
@jakaruna-MSFT I followed the same documentation. We were using the add-on since version 7.10.2 and it always worked without any issues. After recently upgrading our stage environment to 8.3.1 (without changing any of the add-on settings), the login button disappeared on the login page.

[2019-08-12 12:19] SubhashVasarapu-MSFT commented on #36545
@SychevIgor, Appreciate your patience. We are assigning this issue to the content author for updating the document accordingly. @cherylmc, Could you please provide your insights on this issue?

[2019-08-12 12:32] cephalin commented on #32759
@cowinr I've updated the picture and the descriptions and it should be published today. Thanks for reporting the issue. #please-close

[2019-08-12 12:32] #32759 closed

[2019-08-12 12:48] AshokPeddakotla-MSFT commented on #36786
@PanClifton The events emitted by the IoT Hub service using Azure Monitor diagnostic logs are not guaranteed to be reliable or ordered. Some events might be lost or delivered out of order. Diagnostic logs also aren't meant to be real-time, and it may take several minutes for events to be logged to your choice of destination.
Please refer the [documentation](https://docs.microsoft.com/en-us/azure/i

[2019-08-12 12:49] msrini-MSFT commented on #36899
You will be getting "403 - Forbidden" when you tried accessing from a different location other that the location which you specified.

Let me know if you have any further questions.

[2019-08-12 12:53] jakaruna-MSFT commented on #36857
@JimXu199545 I went through your example.
The variable `jb`  dont have a valid json string.

Value in the json string is `{{  "adminUserName": {    "vaule": "Azureuser"  },  "adminPassword": {    "vaule": "Azure12345678"  }}}`  and its not a valid json.

Can you try with this json?
[code]
i didnt try it though. I will try tomorrow and let you know. In the meantime please try with this json.

Funct

[2019-08-12 12:56] AndresPae opened #36902 "wrong PS command"
instead "Restart-Service AdHealth*"   there  "Restart-Service AzureADConnectHealth*"   must be used

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb5cf254-9d8e-de7a-30e8-487b68205bc2
* Version Independent ID: 28bc66e2-0de2-73e6-8cb8-243daab81628
* Content: [Azure AD Connect Health Agent installation](https://docs.micr

[2019-08-12 13:02] gfk76 commented on #21996
Hi, I have the same issue, when I run the command:  $SqlVm.Properties (see result below). The SQL server is NOT created via the Marketplace image, insted Vanilla Windows Image from the Marketplace and SQL server installed manually. The provider is registered on the subscription and $SqlVm.Properties.sqlServerLicenseType is set to 'AHUB'.

provisioningState        : Provisioning
sqlServerLicenseTyp

[2019-08-12 13:09] mvancamp opened #36903 "After Log-out, "use another account" does not work correctly"
After logging out from the first (successful) session, getting information from the MS Graph API, when trying to log on with another account (from another user within the same organizations AAD on a computer logged on with my account to the network), does not work correctly.  After putting in the other account name on the UI it goes immediately to the UI page "Taking you to your organisations' sig

[2019-08-12 13:15] scpc-jbaltzell commented on #35594
Why are you closing this thread!!! I see issue after issue closed with absolutely no solution except pointing to the samples that do NOT work!!!

A simple question = why wont the application return a list of accounts????

[2019-08-12 13:16] SuperSing opened #36904 "Execute packages in a secure way"
Hi, We are planning to "lift and shift" our "on-premise" SSIS packages to Azure. Currently all the connection strings in SSIS packages use "Windws Auth" and a local user with necessary rights is used to execute the packages.How can we accomplish the same in Azure SSIS IR ? One way is to override connection string in Environment variables and use SQL auth ( username/password).But SQL auth is not re

[2019-08-12 13:26] cephalin commented on #28885
@mailtogurvindersingh Sorry for the delay. I've updated the documentation based on https://docs.microsoft.com/en-us/powershell/module/az.websites/publish-azwebapp. It should be published sometime today. Thank you.

[2019-08-12 13:26] cephalin commented on #28885
#please-close

[2019-08-12 13:26] #28885 closed

[2019-08-12 13:29] alexmpmenezes opened #36905 "Delete user data from Computer Vision API"
Hi,

According to Microsoft Cognitive Services Privacy statement, Computer Vision is one of the services that store user data but should give control to the user. I haven't found in the documentation how to delete data once it's processed. I was mainly looking into the OCR API.

Privacy statement: https://azure.microsoft.com/en-us/support/legal/cognitive-services-compliance-and-privacy/

Thanks,
A

[2019-08-12 13:31] jcledezma commented on #36880
Hi, yes. That worked. Thank you.

2 points to highlight.
1) The Azure portal shouldn't give an error... it should say.... 'wait, creating principal' etc...
2) IF that is NOT fixed by Azure, then you should insert a note in your tutorial, stating that validation will fail... because such and such... and that one has to wait a few minutes... and Validate again.

Of course, I had no idea. So had trie

[2019-08-12 13:33] peter-tridius opened #36907 "Azure B2C Custom claims"
If you are deprecating the Azure AD Graph API, can you provide information on how to retrieve Azure AD B2C Custom user attributes (extensions)?   They consistently are not returned from the Graph API.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 44d6245e-2ebc-c815-2d35-c29450062f3b
* Version Independent ID: 98ead160-

[2019-08-12 13:37] peter-tridius opened #36908 "Permissions required for accessing the Graph API?"
This page has some great essential information.  I do not see anything specific to which permissions are required to access the AD Graph API.   Is there a way you can provide this information?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 44d6245e-2ebc-c815-2d35-c29450062f3b
* Version Independent ID: 98ead160-0377-d53

[2019-08-12 13:42] porrascarlos802018 opened #36909 "Build and deploy test image on custom ports not ready."
customer need to test ports on ACI, having a document with step by step instructions to build and image, custom the listening ports and publishing it, could be of help to reduce the number of cases arriving to css and for customers to test the effectiveness of our solutions on specific ports. Its a tool to proof concepts.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-08-12 13:48] tkumark opened #36910 "What is the Status Monitor v2 vs Status Monitor"
What is the different between Status Monitor v2 VS Status Monitor. What are the advantages over V1. For Azure Cloud Services the instructions is for Status Monitor.  Would upgrade to V2 help in any way?

https://docs.microsoft.com/en-us/azure/azure-monitor/app/cloudservices?toc=/azure/azure-monitor/toc.json#set-up-status-monitor-to-collect-full-sql-queries-optional

---
#### Document Details

⚠ *D

[2019-08-12 13:55] SamaraSoucy-MSFT commented on #36910
@tkumark Thank you for reaching out with this question. We will look into it and get back to you shortly.

[2019-08-12 13:59] asubmani opened #36911 "Please include "Azur metrics" for PaaS resources like APIM, ASE etc."
Please also include IP addresses and ports for Azure Metrics. We currently are not seeing any metrics for ASE, AppServices, APIM, Redis cache flow into Azure monitor (Metrics)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3942b937-b212-3ceb-d356-450b7f598f68
* Version Independent ID: 8b015b42-cf02-3942-3cc3-6e0f977d19

[2019-08-12 14:00] Rajani-Janaki-Ram commented on #36874
+Dev,

Hi Dev,

Could you help the customer with how to use the recovery plan context in python?

Thanks,
Rajani.

From: SwathiDhanwada-MSFT <notifications@github.com>
Sent: Monday, August 12, 2019 1:22 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Rajani Janaki Ram <rajanaki@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] 'recover

[2019-08-12 14:02] LHTech-Analytics commented on #36574
Hi @MartinJaffer-MSFT and @nabhishek, any updates on this? Why does the documentation not cover how to run the BES in the visual UI? And why am I getting the 2600 error?

Thanks,

Luke

[2019-08-12 14:07] iamanuradha commented on #36641
Hi,
I made the suggested changes till now that is:
1. set the batch size to 1
2. In batch_score.py#init added
        self.file_paths = self.file.paths[:1]
        self.labels = self.labels[:1]
Job is still running or queued.
I have attached logs. For every execution, the logs stuck at this point
"Run ID: cj1 was successful after 9m26s". There are no error logs.
Please let me know if I am missing

[2019-08-12 14:17] SuperSing opened #36913 "Connection string for Managed instance"
Hi, we are planning to move our "on-premise" tabular model to Azure Analysis Services. Currently, we use Windows Auth and the connection string for data source looks like this : Provider=SQLNCLI11.1;Data Source=localhost;Integrated Security=SSPI;Initial Catalog=DatavarehusDB.
How should be the connection string if we want to use AAD Auth and data source is SQL Managed Instance ? Thanks !

---
####

[2019-08-12 14:28] opticyclic commented on #36767
I just read all of the comments in that issue and I don't really understand how it relates to the questions I asked.

Even if the answers were there, the point of this feedback is that the information is not in documentation page.

[2019-08-12 14:31] mwtallman opened #36915 "AllowToAddGuests no longer works."
I can no longer set the "AllowToAddGuests" property of a group, because this property was changed to "AllowAddGuests" on the unified group. The directory settings template "group.unified.guest" either hasn't been updated, or a new template wasn't created with the change in this property. Can this get fixed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2019-08-12 14:38] candidson opened #36916 "Sink Stored Procedure table name is required"
Hi all,

I am copying data from a sql table to another one. The sink has a stored procedure which in which an SQL Merge is done. The stored procedure has been tested directly and i can confirm that it works. I also have several different copy-activities with the same logic.

However, for 2 of them, I keep getting the following `Factory Validation Output` error.

Any idea where this might come from

[2019-08-12 14:39] eross-msft commented on #36818
@ChrisAtMAF Thanks!!

#please-close

[2019-08-12 14:39] #36818 closed

[2019-08-12 14:45] seanbetts commented on #31280
I've been experiencing the same problem here and when the validation times out it doesn't take the red failure path. All I get in the debug output is Status = Timed Out and the pipeline fails.

[2019-08-12 14:51] bandersmsft commented on #36827
@rthomas529 Hi Thomas, I'll investigate with the engineering team and reply when I have their input.

[2019-08-12 15:00] IanMercer opened #36918 "Disclose NGINX settings used in Application Gateway V2"
Rather than leaving users to guess what settings have been configured for NGINX it would be useful to see a complete dump of the current Application Gateway V2 NGINX settings used in Azure. e.g. what headers are added automatically? X-Forwarded-For? X-Original-Host? Are any headers being omitted? Is the setting `fast_cgi_passheader Authorization` missing? etc.

---
#### Document Details

⚠ *Do not

[2019-08-12 15:03] heinrich-ulbricht commented on #36139
@ScoutmanPt An excellent question when thinking about an extranet scenario for SharePoint Online-based solutions.

A similar:

- adding 1000 external users each year
- the have mostly visitor rights
- except in one document library in each site to upload documents

Based on what I read my assumption in this case would be: no additional cost ist involved (=your case 4). Unless you start adding feat

[2019-08-12 15:08] javirivas80 opened #36919 "Routable Managed Not supported Windows 10 version"
Can you clarify why the routable domain is not supported on the managed type? https://docs.microsoft.com/en-us/azure/active-directory/devices/hybrid-azuread-join-plan#review-on-premises-ad-upn-support-for-hybrid-azure-ad-join

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72cdc251-618a-e84e-f40d-960b0ac69f99
* Version

[2019-08-12 15:13] Jagstangushka commented on #19426
I was able to solve the similar problem today relatively quickly.
In our case, remote organization has it's own AAD tenant and federated domain (via ADFS). The error simply tells you, as soon domain is federated, you can't create accounts directly through Azure AD. Regardless, guest accounts in your tenant or directly in remote tenant of an organization you try to establish B2B.
This error actuall

[2019-08-12 15:16] lauracristianas opened #36920 "Cognitive Services | Computer vision | No Docs for Read API in CURL"
Opened issue on behalf of a customer :

The old documentation for [OCR API](https://docs.microsoft.com/en-us/azure/cognitive-services/computer-vision/quickstarts/curl-print-text) contains cURL and PHP instructions while  the new [Read API](https://docs.microsoft.com/en-us/azure/cognitive-services/computer-vision/quickstarts/csharp-hand-textbut) is not updated with those languages.

Can you please

[2019-08-12 15:24] jan-eng commented on #36037
I left a comment on the PR. Once fixed, I can sign-off on it.

[2019-08-12 15:27] hhubik commented on #36862
@angoyal-msft Thanks for the clarification.  Are there any advantages of using `count(1)` instead of `count(*)` since they both give the same result? For example, is `count(1)` less compute intensive?

I also have a little trouble understanding the syntax of `MIN` and `MAX` aggregates.  A few examples with those (and the other aggregate functions would also be helpful.

[2019-08-12 15:30] hansenms commented on #36884
Are you using the OSS FHIR server or the Azure API for FHIR? The resource app https://azurehealthcareapis.com is only in your AAD if you have deploy the Azure API for FHIR.

The error you are seeing comes from you asking for access to that resource application, but it is not listed as one of the allowed APIs for your client app. It looks like your client application has a URI matching a specific F

[2019-08-12 15:35] grnadav commented on #34286
@YASWANTHM-MSFT Is this a bug or that the feature was removed?

[2019-08-12 15:36] andocromn opened #36921 "Links to scripts"
Links to scripts so that everyone else doesn't have to go through the effort of logging into the azure portal

https://gallery.technet.microsoft.com/scriptcenter/Watcher-runbook-that-looks-36fc82cd
https://gallery.technet.microsoft.com/scriptcenter/Watcher-action-that-b4ff7cdf

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-08-12 15:39] #36834 closed

[2019-08-12 15:39] FrankHu-MSFT commented on #36919
@javirivas80 Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-12 15:39] FrankHu-MSFT commented on #36890
@theheatDK Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-12 15:39] FrankHu-MSFT commented on #36895
@blueelvis Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-12 15:39] FrankHu-MSFT commented on #36902
@AndresPae Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-12 15:39] FrankHu-MSFT commented on #36903
@mvancamp Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-12 15:39] FrankHu-MSFT commented on #36907
@peter-tridius Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-12 15:39] FrankHu-MSFT commented on #36908
@peter-tridius Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-12 15:40] FrankHu-MSFT commented on #36915
@mwtallman Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-12 15:43] normesta commented on #34286
Hi @grnadav - diagnostic logs for ADLS Gen2 are available if you enroll in the public preview of multi-protocol access on Data Lake Storage - there's an entry in the Data Lake Storage Gen2 Known issues doc that describes that support - https://docs.microsoft.com/azure/storage/blobs/data-lake-storage-known-issues

[2019-08-12 15:43] cephalin commented on #25614
@alistairnes @paul-michalik Sorry for the delay. I've removed the node in the TOC and it should be published sometime today. #please-close.

[2019-08-12 15:43] #25614 closed

[2019-08-12 15:44] bobbytreed commented on #36478
Added updated doc #please-close

[2019-08-12 15:44] #36478 closed

[2019-08-12 15:45] Accounted3 commented on #34065
@JoelHazelton If you remove the registration from the Azure side, the end user will probably get errors.  That is what happened to me.  Logging into the Microsoft store, OneDrive, things like that all cause a registration for us and if you break that connection it messes those apps up for the end user.

If you install KB4489894 on an 1803 machine that is registered prior to hybrid azure AD join, i

[2019-08-12 15:45] normesta commented on #34286
#please-close

[2019-08-12 15:45] #34286 closed

[2019-08-12 15:47] mgreenegit commented on #36583
I would expect it to appear in c:\program files\windowspowershell\modules\

[2019-08-12 15:50] FrankHu-MSFT commented on #36919
Hey @javirivas80
I'm not sure what the question/feedback is. Can you clarify your doc issue?

If a feature is not supported, please file your feedback at the link below. We are not able to provide any reasoning other than it wasn't on the roadmap to be implemented. Please file this feedback  at the below link and if there's enough community support it will be considered to be implemented.

https:/

[2019-08-12 15:51] FrankHu-MSFT commented on #36915
Hey @mwtallman  can you clarify by what you mean in regards to template? Are you referring to each instance where the powershell code says :

`$Setting["AllowToAddGuests"] = $True`

[2019-08-12 15:52] FrankHu-MSFT commented on #36908
Hey @peter-tridius this information is provided in the document within the first section.

@peter-tridius Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue by end of day today. Please reopen this git issue if you have anymore concerns. Thanks

[2019-08-12 15:53] rthomas529 commented on #36827
Also my utilization is reporting above 100% now?
![image](https://user-images.githubusercontent.com/16446194/62878759-59203780-bcef-11e9-929c-ac63fc9d70e4.png)

[2019-08-12 15:54] FrankHu-MSFT commented on #36907
Hello @peter-tridius , per the link : https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-reference-custom-attr

The microsoft graph part is still under development. when it's finished being developed it will be added to the doc.

@peter-tridius  Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git

[2019-08-12 15:55] FrankHu-MSFT commented on #36903
Hey @mvancamp  it sounds like there's an issue with the single sign on, is this on a work computer where you're machine is joined to the work's domain? Have you tried using a private browsing session?

[2019-08-12 15:56] FrankHu-MSFT commented on #36902
Hey @AndresPae  thanks for letting us know about this, we're currently making the change accrodingly.

@AndresPae Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue by end of day today as the change is currently being made.

Please reopen this git issue if you have anymore concerns. Thanks

[2019-08-12 16:00] FrankHu-MSFT commented on #36895
Hey @blueelvis it does mention in many places in the docs that the disks can be encrypted at rest, however these items are settings. I don't believe that we should list every default setting for reference.

Let me engage with some more people to determine next steps here. Stay tuned, and thanks for your feedback!

[2019-08-12 16:02] nberdy commented on #36567
"Root certificate" is over-limiting because it refers to the self-signed terminal root of trust which is generally stored offline. We felt "CA certificate" is a more general term and reflects the fact that customers can upload any signing certificate to DPS (doesn't have to be the root).

@Alberto-Vega-MSFT please close.

[2019-08-12 16:06] JasSuri commented on #36907
Can you explain what your Graph API query looks like? Since AAD Graph API fully supports returning AAD B2C user attributed, including extensions, just as it does for Azure AD users too. The meaning of deprecated only means, AAD Graph API is no longer adding functionality. For AAD B2C workloads, continue to use AAD Graph API.

[2019-08-12 16:09] FrankHu-MSFT commented on #36797
Hey @Charlie-safened please see the link for more information in regards to this. https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/active-directory-manage-groups

And on this page : https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/active-directory-groups-create-azure-portal

![image](https://user-images.githubusercontent.com/6366013/62879853-e0b27a00-bce0-11

[2019-08-12 16:09] opticyclic opened #36926 "How Do We Automate This With Terraform/az CLI?"
Where is the equivalent article that explains how to automate this?
e.g. with Terraform or az CLI

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 692852cd-11a6-1d6b-9540-caec9d0f14a4
* Version Independent ID: 4c376561-6015-6dab-e23e-feffe74ccc8b
* Content: [Authorize developer accounts by using Azure Active Directory -

[2019-08-12 16:11] YutongTie-MSFT commented on #36661
@jpe316 Hi Jordan, could you please help to update the document, I am aligned with the customer it will be supper helpful if we could add more details. Please tell me if anything I can help.

[2019-08-12 16:11] DarrinEide commented on #36648
Hello @Shaktikantpadhi,
To answer I will use the paper "an overview of microsoft academic service mas and applications" from the MAG with ID 1932742904.

To get the paper IDs *it* references use the evaluate API as follows:
/evaluate?expr=Id=1932742904&attributes=RId

To get the paper IDs that reference *it* use the evaluate API as follows:
/evaluate?expr=RId=1932742904&attributes=Id&count=1000

T

[2019-08-12 16:11] #36648 closed

[2019-08-12 16:12] FrankHu-MSFT commented on #36823
Hey @blueelvis as this looks like it's being addressed at issue : https://github.com/MicrosoftDocs/azure-docs/issues/36895

I will be closing this issue out by end of day today. It depends on how the files are being stored in Azure, as there are many many different storage options. It looks like you're referring to the Virtual Machine VDs. Please follow the other issue for more updates.

Thanks,
-

[2019-08-12 16:12] markjbrown commented on #36844
Thank you. Yes, we are aware of the issue and have a PR in the works.

Thanks for raising.

[2019-08-12 16:12] #36824 closed

[2019-08-12 16:12] FrankHu-MSFT commented on #36835
@ALLWORLD7 Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue by end of day today. Please reopen this git issue if you have anymore concerns. Thanks

[2019-08-12 16:12] oi-eddyoj opened #36927 "Installing spatial libraries on AppService (Python with Django)"
Azure allows the use of Python, Django, Postgres database and even Postgres add-ons such as PostGIS for working with spatial data.

Any webapp should be able to work with spatial data and it's not uncommon. However, libraries typically require the use of external dependencies e.g. GDAL. Please see this page for reference as to what libraries are required:

https://docs.djangoproject.com/en/2.2/ref

[2019-08-12 16:13] javirivas80 commented on #36919
If the routable UPN is not supported in the managed Domain type, according to the table in this article (https://docs.microsoft.com/en-us/azure/active-directory/devices/hybrid-azuread-join-plan#review-on-premises-ad-upn-support-for-hybrid-azure-ad-join). How come it also says above "Hybrid Azure AD join works with both, managed and federated environments" (https://docs.microsoft.com/en-us/azure/ac

[2019-08-12 16:14] #36835 closed

[2019-08-12 16:15] YutongTie-MSFT commented on #36641
@sanpil FYI

[2019-08-12 16:15] FrankHu-MSFT commented on #36919
Hello @javirivas80

Per the paragraph in the table section:

This is only applicable if your on-premise ad upns are different.

@javirivas80 Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue by end of day today. Please reopen this git issue if you have anymore concerns. Thanks

[2019-08-12 16:18] kobulloc-MSFT commented on #36911
@asubmani Thank you for the feedback!  We have assigned this to the document author so they can review and update the documentation accordingly.

[2019-08-12 16:21] FrankHu-MSFT commented on #36815
Hey @ChrisAtMAF  it's currently pending review, but it will be pushed as soon as it's been reviewed and approved.

[2019-08-12 16:21] DixitArora-MSFT commented on #36767
@miaojiang Any inputs in this ?

[2019-08-12 16:22] LarsKemmann opened #36928 "Why 5 seed nodes per AZ?"
Hi Service Fabric Team,
It's not really clear from this page why it's required to have at least 5 instances in _each_ of the VM scale sets. I understand why I'd need 5 instances in a single-AZ cluster. What about AZs requires me to have, say, 3x5 nodes if I deploy across 3 AZs, instead of 2 AZs of 2 nodes each and a third AZ with 1-2 nodes?

---
#### Document Details

⚠ *Do not edit this section.

[2019-08-12 16:24] kraigb commented on #34834
Glad that works out. We'll be revising the docs this month so I'll include the necessary details.

In the meantime, please close this issue as we've resolved the original question.

[2019-08-12 16:26] djpmsft commented on #36783
Hi there,

The engineering team is investigating this issue. I will update once I have the root cause or if we require more information.

Thanks,
Daniel

[2019-08-12 16:27] javirivas80 commented on #36919
Yes the difference is that it can be routable or not routable …
Routable UPN: A routable UPN has a valid verified domain, that is registered with a domain registrar. For example, if contoso.com is the primary domain in Azure AD, contoso.org is the primary domain in on-premises AD owned by Contoso and verified in Azure AD

[2019-08-12 16:28] PramodValavala-MSFT commented on #36896
@henrycollet Thanks for the question! We will review and get back to you!

[2019-08-12 16:29] PramodValavala-MSFT commented on #36926
@opticyclic Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

[2019-08-12 16:31] Anand-Moghe opened #36929 "Assigning user as contributor to Azure Function at resource level and not Resource Group level?"
In Logic App there is a resource level Role like - Logic App Contributor.
However, for Web App, there is no such role. But one can only assign a user to Web App as a contributor and reader in the Resource group. What about Functions based on consumption plan or based on Web App? There is no role for Function App like Logic App Contributor. So what is the recommendation in this case and how do I re

[2019-08-12 16:31] avooca opened #36930 "Applying NSG Workflow"
From inside the NSG object it is not possible to associate to an AzureBastionSubnet ( grayed out) but from inside the AzureBastionSubnet you can assign the NSG.  Please state the limitation in the doc or fix the issue.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc46ceac-e45e-6f29-dd5b-6453c614d9b2
* Version Indepen

[2019-08-12 16:31] PramodValavala-MSFT commented on #36888
@abij Thanks for the question! We will review and get back to you!

[2019-08-12 16:33] gpduck opened #36931 "runtimeStatus returns an integer, not a string as the documentation implies"
In the "Query instances" section, the documentation says "RuntimeStatus" returns one of the following values, and then lists the string names of the enumeration.  However the api actually returns the integer value of the enumeration and there is no way to map the values in the documentation.

Additionally the documentation is missing the Unknown and Canceled values.

---
#### Document Details

⚠ *

[2019-08-12 16:37] hhubik commented on #36862
Hi @angoyal-msft I just tried `SELECT COUNT(*)` on my test CosmosDB, and I get the following error:
`Syntax error, incorrect syntax near '*'.`
`SELECT COUNT(1)` gives the expected result (count).

[2019-08-12 16:38] KranthiPakala-MSFT commented on #36750
@lblanche We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2019-08-12 16:38] #36750 closed

[2019-08-12 16:38] mrbullwinkle commented on #36911
@asubmani just to confirm, do you have confirmation from a support case/network traces that lack of firewall exceptions is the culprit here?

[2019-08-12 16:40] cephalin commented on #23321
@itanex Sorry for the delay. Actually the doc has already been updated last October based on all the feedback that you referenced. Based on all the feedback you pointed to, we have worked with the product team together to describe webspaces in our docs as explicitly as they were willing to let us, and it should be clear from the new verbiage that you need to have the same resource group and region

[2019-08-12 16:40] #23321 closed

[2019-08-12 16:42] YutongTie-MSFT commented on #36905
@alexmpmenezes
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-12 16:42] Adam-Smith-MSFT commented on #36927
@oi-eddyoj Thank you for the valuable feedback,we are investigating the issue.

[2019-08-12 16:43] KranthiPakala-MSFT commented on #36832
@gitsathish The folder name typo has been fixed in the document. Thanks again for reporting this issue. I am closing the issue based on this update, please let us know if there is something else that we can help you with.

Thank you.

[2019-08-12 16:43] #36832 closed

[2019-08-12 16:43] #34834 closed

[2019-08-12 16:44] YutongTie-MSFT commented on #36920
@lauracristianas
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-12 16:45] Mike-Ubezzi-MSFT commented on #12480
**Update:** The product group is investigating this issue.

[2019-08-12 16:45] Adam-Smith-MSFT commented on #36916
@candidson Thank you for the valuable feedback,we are investigating the issue.

[2019-08-12 16:48] KranthiPakala-MSFT commented on #36904
@SuperSing Thank you for reaching out. At this time we are reviewing the  ask and will provide an update as appropriate.

[2019-08-12 16:50] KranthiPakala-MSFT commented on #36913
@SuperSing Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate.

[2019-08-12 16:57] Mike-Ubezzi-MSFT commented on #36916
@candidson There appears to be a table missing to allow the stored procedure to function correctly: Azure Data Factory – using a Stored Procedure as a destination ([link](https://blogs.msdn.microsoft.com/robinlester/2017/04/03/azure-data-factory-using-a-stored-procedure-as-a-destination/)).
Additionally, can you please identify a document that you are using as a basis for this functionality, as th

[2019-08-12 17:04] candidson commented on #36916
@Mike-Ubezzi-MSFT Thanks for your feedback. Actually, I do have 6 activities exactly built the same way. They all work except for one.

I did follow the different links you sent - originally...

The stored procedure works fine when tested directly on azure sql db.

Furthermore, the ADF execution doesn't fail... It doesn't even pass validation

[2019-08-12 17:07] mwtallman commented on #36915
No, the directory setting template in Azure AD. You get it via:
Get-AzureADDirectorySettingTemplate | where {$_.DisplayName -like "Group.Unified.Guest"}

The property name on this template no longer matches the property on a UnifiedGroup. It looks like the property may have changed recently, but the DirectorySetting template wasn't changed.

It should be "AllowAddGuests".

Thanks,
Matt

[2019-08-12 17:08] hchandola commented on #36641
@iamanuradha I suspect that the compute is never up and it is queued waiting for the nodes to be up. However, you reported that the job was running. Could you please do the following when the job is running:, Go to workspace in the portal, click on 'compute' on the left side, go to `gpu-cluster` and report here what is the number of nodes in `Idle` and `Running` status?

[2019-08-12 17:09] MashaMSFT commented on #21996
Hi @gfk76 , thanks for bringing this to our attention! Let me look into this for you :)

Thanks!
Masha from the SQL Docs team

[2019-08-12 17:12] Mike-Ubezzi-MSFT commented on #36916
@candidson Thank you for the additional feedback, I am assigning to the ADF team for further investigation.

[2019-08-12 17:19] IslayJunkie opened #36932 "Preview Portal"
Screen shot is of MSFT only internal portal you can tell by the orange report a bug, this should not be on public documentation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf52abfd-65bd-2682-b4b6-cb8964ba7200
* Version Independent ID: de41d840-ff50-03e3-6c1c-405fa3feb8a1
* Content: [Learn about Azure Spatial Anchor

[2019-08-12 17:20] yevhen-miro opened #36933 "Blob API is not yet supported for hierarchical namespace accounts"
Unfortunately it does not work with ADLS Gen2 where hierarchical namespaces are enabled. I tried it out and got following error message: "Details: "AzureDataLakeStorage failed to get contents from 'https://xxxxxxx.blob.core.windows.net/stg'. Status code: 400, description: 'Blob API is not yet supported for hierarchical namespace accounts.'"

---
#### Document Details

⚠ *Do not edit this section.

[2019-08-12 17:23] dlepow commented on #36722
@porrascarlos802018 @Karishma-Tiwari-MSFT - Thanks for this suggestion. I think it's a reasonable ask, and the steps likely aren't obvious. I created a doc [work item](https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1583381) I will discuss and triage with my ACR partners.

[2019-08-12 17:24] Adam-Smith-MSFT commented on #36887
@AakashMasand Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-08-12 17:25] Adam-Smith-MSFT commented on #36892
@MoRMongol Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-08-12 17:27] normesta commented on #36933
Thanks for reporting the issue. @bensack Is there a whitelist or opt-in process for using the Power BI connector. Is this feature tied to the mutli-protocol access preview?

[2019-08-12 17:29] Mike-Ubezzi-MSFT commented on #36916
@candidson Additionally, have you been successful with a merge operation in ADF before?

[2019-08-12 17:30] djpmsft commented on #36783
@AlexFiala The issue is your dataset name starts with numeric characters which is not allowed for parameterized datasets. Apologies for the cryptic error message (we are working on improving these).

[2019-08-12 17:30] djpmsft commented on #36783
#please-close

[2019-08-12 17:30] #36783 closed

[2019-08-12 17:30] normesta commented on #36454
Thanks @JohnRusk! @lesterw1 Storage Blob Data Owner has the necessary permission levels. What you are likely experiencing is a propagation delay.

[2019-08-12 17:31] normesta commented on #36454
#please-close

[2019-08-12 17:31] #36454 closed

[2019-08-12 17:31] opticyclic opened #36934 "How Do We Add Directory.Read.All permission?"
There is an "Important" note that says:

&gt; Additionally, the application must be granted access to Azure AD Graph API with Directory.Read.All permission.

This is a crucial step yet it is only mentioned as an aside.
Why is this step not documented like the rest of the article?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-08-12 17:32] mike-urnun-msft commented on #36931
Hi @gpduck - Thank you for your feedback! We will review and update as appropriate.

[2019-08-12 17:32] KranthiPakala-MSFT commented on #36574
@nabhishek Can you please have a look at this? - Thanks!

[2019-08-12 17:33] MS-TimothyMothra commented on #36910
**Status Monitor (v1)** is an MSI installed based attach program. This installs the SDK v2.4 by instrumenting individual applications hosted in IIS and required a re-install every time you redeploy your application. This product is no longer under development and will be retired in the new future.

**Status Monitor V2** is a powershell module. This installs the SDK v2.9 by instrumenting IIS. This

[2019-08-12 17:36] msrini-MSFT commented on #36930
@avooca , We recommend not to assign NSG to the Azure Bastion Subnet until and unless you are super clear on what exactly you want to block.

Because, if you block all traffic, and didn't allow the Gateway Manager tag, that will break Azure Bastion.

It is not a limitation as such, it seems like a portal bug to me. I will follow up with the Product Group and update here.

So key take away from her

[2019-08-12 17:42] candidson commented on #36916
@Mike-Ubezzi-MSFT yes i have. As i was saying, i have several activities built exactly the same way (all with merge tasks). And only two aren't working.

[2019-08-12 17:42] oising opened #36935 "Role / Permissions required to view VM Insights metrics."
We added AI Component Contributor, Monitoring Contributor and Log Analytics Contrib, and none of these RBAC roles granted access to view VM insights data. Which is the correct role? And here's a general suggestion: Every azure resource documented on this site would greatly benefit from having the associated role(s) documented in a highlighted panel.

---
#### Document Details

⚠ *Do not edit this

[2019-08-12 17:43] winthrop28 commented on #32104
@spaelling what do you mean? These rules are available in App Gateway WAF. Can you elaborate what this means: "I am using this (raw github code) for a mapping in log analytics, so getting some blanks there."?

[2019-08-12 17:43] nazneen84 opened #36936 "Bad connection with MySQL connection string with TLS"
I am unable to connect to my MySQL database on Azure using Go. I am seeing:

[code]

[code]
I tried instructions at https://docs.microsoft.com/en-us/azure/mysql/connect-go

[code]
My JDBC equivalent connection string is as follows:

`jdbc:sqlserver://myservernameshort.database.windows.net:1433;database=mydbname;encrypt=true;trustServerCertificate=false;hostNameInCertificate=*.database.windows.net;

[2019-08-12 17:43] taromielnaz opened #36937 "Web App CPU percantage"
Why don't we have a CPU percentage metrics for each web app? But for App service plan we have.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2550993f-34f1-d963-3ee5-3dcebe2a64d7
* Version Independent ID: 3da9bc96-6e24-54fa-bd99-6a6a704f583a
* Content: [Monitor apps - Azure App Service](https://docs.microsoft.com/en-us

[2019-08-12 17:46] lisenkaci opened #36938 "Cognitive Services API always returns error: {code: "404", message: "Resource not found"}"
The cognitive services API is always returning error: {code: "404", message: "Resource not found"}. I have tried everything but I can't get it to work. Any help would be appreciated.

My code (from https://docs.microsoft.com/en-us/azure/cognitive-services/Computer-vision/quickstarts/javascript-analyze):

<img width="610" alt="Screen Shot 2019-08-11 at 11 03 25 PM" src="https://user-images.githubus

[2019-08-12 17:48] MarileeTurscak-MSFT commented on #36929
@Anand-Moghe
Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-12 17:49] yilanz commented on #21332
Follow up question: Do entity feed into the model that determines intent? "You label or mark entities for the purpose of entity extraction only, it does not help with intent prediction." Does that mean, when we label the entity, we should label it without considering which intent this entity will feed into? Or does that mean, entity has nothing to do with intent prediction (which I doubt)? Could y

[2019-08-12 17:49] MashaMSFT commented on #34436
Hi @ShawnPOWER ,
Thanks again for contacting Microsoft!  We've submitted a documentation change based on your suggestion, and it should be live at this point. Please let us know if there is anything more we can do for you? If not, we'll proceed with closing out this Git Issue in a few business days.

Thanks again and hope you have a wonderful rest of your day!
Masha from SQL Docs team

#please-clo

[2019-08-12 17:49] #34436 closed

[2019-08-12 17:52] cherylmc commented on #36545
@anzaman

[2019-08-12 17:53] Karishma-Tiwari-MSFT commented on #34295
Thanks @jluk
@epierotto Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-08-12 17:53] #34295 closed

[2019-08-12 17:54] opticyclic opened #36939 "Unable To Add An External Azure AD Group"
My APIM is in one directory and AD is in another directory.

After following the instructions to add an External Azure AD Group and adding the Directory.Read.All permission, I end up with the error:

&gt; Unable to fetch AAD groups from Microsoft Graph.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 692852cd-11a6-1d6b-

[2019-08-12 18:02] SaurabhSharma-MSFT commented on #36716
@Adam-Driver We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-08-12 18:02] #36716 closed

[2019-08-12 18:06] rasciodc commented on #36916
Having exactly the same issue here! The scenario described by @candidson reflects exactly my environment and the message I'm getting in the validation is the same.

I have around 18 other pipelines configured like this and they all work fine....

[2019-08-12 18:06] rafael-yure commented on #36916
This is in fact a bug. I'm also having this problem. All my pipelines worked perfectly. Now, I assign a procedure, and the sink can have a dynamic or static table assigned, but this still happens. I have over 30 pipelines working with the same configuration, but now when I try to create new ones (or change the sink dataset of those already created) this message appears.

**I've noticed that this i

[2019-08-12 18:06] Karishma-Tiwari-MSFT commented on #36722
Thanks @dlepow
I will close this issue for now. I will share here once we have an update on the workitem.

[2019-08-12 18:06] #36722 closed

[2019-08-12 18:09] rafael-yure commented on #36916
Did you add another schema on our database? I have a secondary one for logging and temporary data. I'm considering dropping it, create the dataset again just to retry. This is screwing up my deadlines here. Like, it's not like data factory is cheap!

[2019-08-12 18:09] Karishma-Tiwari-MSFT commented on #36656
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-08-12 18:09] #36656 closed

[2019-08-12 18:10] rafael-yure commented on #36916
Mike, this document is for ADFv1. I'm using ADFv2, and like I said, I have 30 pipelines working.

[2019-08-12 18:13] Karishma-Tiwari-MSFT commented on #36682
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-08-12 18:17] MicrosoftGuyJFlo commented on #36821
#please-close

[2019-08-12 18:17] LHTech-Analytics commented on #36574
Thanks @KranthiPakala-MSFT

[2019-08-12 18:18] Karishma-Tiwari-MSFT commented on #36909
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-08-12 18:19] Karishma-Tiwari-MSFT commented on #36928
Thanks for the question. We are currently investigating and will update you shortly.

[2019-08-12 18:19] Karishma-Tiwari-MSFT commented on #36900
Thanks for the question. We are currently investigating and will update you shortly.

[2019-08-12 18:24] Mike-Ubezzi-MSFT commented on #36037
@jan-eng I moved the !NOTE to line 99.

[2019-08-12 18:30] squasta opened #36941 "Unable to install Edge Hub Container on Raspberry PI 3"
Hi, I Followed all steps on this page with a Raspberry PI 3 and Raspbian Stretch.
When I check running modules, I only get edgeAgent that is running. edgeHub is not present

If I do an iotedge check, I get the following error : Could not check current state of Edge Hub container

$ sudo iotedge check
Configuration checks
--------------------
√ config.yaml is well-formed - OK
√ config.yaml has well

[2019-08-12 18:38] Grace-MacJones-MSFT commented on #36249
Hi @juanii, thanks for your patience!  The engineering team is aware of this issue and will be deploying a release in a few weeks which will have the latest image.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-12 18:38] #36249 closed

[2019-08-12 18:44] whihathac opened #36942 "Microsoft.Azure.Monitor.MultipleResourceMultipleMetricCriteria doesn't work in Fairfax"
Looks like this is not supported in Fairfax. I am getting this error -
'{
  "Code": "BadRequest",
  "Message": "For the resource type Microsoft.Compute/virtualMachines, selecting only one resource is supported."
}'

Can you fix this in Fairfax?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f2bd9d0-af11-d684-051b-7ac8

[2019-08-12 18:44] stewartadam opened #36943 "Technical details for UID/GID mappings"
It would be great to have more detail about the UID/GID mapping -- RHEL documentation here notes that by default, automatic mapping is enabled: https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/7/html/windows_integration_guide/realmd-conf

However one can also opt to disable it and use UIDs/GIDs specified in Active Directory. Details on:
1) If automatic mapping results in dete

[2019-08-12 18:45] ReshmaNeelam opened #36944 "Unable to run the function locally"
Followed the steps mentioned as is, the function gets built and is ready to respond to http requests as mentioned. But when I try the curl command, it just times out and nothing happens. Although it is mentioned Function key is not required while running locally, I tried with auth level as anonymous  as well with no success.  Not sure what went wrong. Could anyone here help with this.
Thanks in ad

[2019-08-12 18:46] Grace-MacJones-MSFT commented on #36937
Hi @taromielnaz, thanks for the comment. We are actively investigating and will get back to you soon.

[2019-08-12 18:50] YutongTie-MSFT commented on #36920
@lauracristianas Hi, could you please check https://westus.dev.cognitive.microsoft.com/docs/services/5adf991815e1060e6355ad44/operations/2afb498089f74080d7ef85eb the API reference? On the bottom there are code samples in different languages.
![image](https://user-images.githubusercontent.com/38084098/62889981-51fd2780-bcf7-11e9-80b1-624c7d14f9a0.png)

Please let me know if you still need something

[2019-08-12 18:54] Adam-Smith-MSFT commented on #36853
@OjasviBhargava Could you please reach to me via AZCommunity[AT]microsoft.com with a link to this Issue as well as your subscription ID and we can help get a support ticket opened for this issue. Please mention "ATTN Adam" in the subject field.

Thanks,
Adam

[2019-08-12 18:56] Vijay-Karthick commented on #25351
Hi @JesvinJoseph. What did you end up doing? How did you set filters for offline messages?

[2019-08-12 18:59] avooca commented on #36930
With such dire warnings for incorrect setup maybe an actual NSG example would be useful in the documentation...

[2019-08-12 19:05] AlexFiala commented on #36783
Ah, thank you!  I did end up changing the dataset names to start with letters, and that resolved the issue.  Thanks dude!

[2019-08-12 19:09] normesta commented on #36933
#assign:bensack

[2019-08-12 19:09] TravisCragg-MSFT commented on #36918
@IanMercer Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-08-12 19:21] femsulu commented on #36942
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-08-12 19:22] femsulu commented on #36935
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-08-12 19:23] sedelrio opened #36945 "Palo Alto Links not working and showing incorrect details as per known issues on our WebPage"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 779fbece-f67b-28ef-143e-f58ecfa29b1d
* Version Independent ID: fe532684-022f-9006-9179-c534fd923171
* Content: [About VPN devices for cross-premises Azure connections](https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-about-vpn-devices)
*

[2019-08-12 19:25] femsulu commented on #36921
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-08-12 19:29] bt102 commented on #35010
@ManojReddy-MSFT, I'm still experiencing the issue.

[2019-08-12 19:31] ajlam commented on #36936
@nazneen84, can you please clarify if you are connecting to an Azure Database for MySQL server or Azure SQL DB?

If connecting to Azure Database for MySQL, please note that the hostname needs to be passed in as `yoursevername.mysql.database.azure.com`.

Your current connection string is set to `myservenameshort.database.windows.net`, which maps to the Azure SQL DB service.

[2019-08-12 19:33] ScoutmanPt commented on #36139
Hi @heinrich-ulbricht, thanks for the reply: I'm assuming the same . With the hub features most of our clients are increasing the number of  extranet users and since the documentation is not that accurate we\they need a official confirmation on this from the supplier(Microsoft) . @ShawnPOWER can you confirm within the licensing internal team if external visitors\members in clients intranet dont ne

[2019-08-12 19:40] stewartadam commented on #36432
@FrankHu-MSFT thoughts?

[2019-08-12 19:44] ambhatna commented on #36281
@rafa-pizzi Thank you for the feedback. The documentation for CLI support will be updated in few days and the current documentation will be changed to show your suggestion.

[2019-08-12 19:44] jocastel-MSFT commented on #36807
@neodym3k we will call this out explicitly in our documentation. Looking forward, we are working on expanding beyond partners only with AAD.

[2019-08-12 19:49] Cpcrook commented on #27365
@KellyDF this isn't resolved with the C# SDK at all - getting results of a multi-page PDF, submitted to the API using the BatchRead C# SDK methods still causes a failure.  See my forked repo here:

https://github.com/Cpcrook/azure-sdk-for-net/commit/532ec7b4d5e27bac856f4aed4e9532044eeca206#diff-e14906034a70263b65b3edcef3507da9L38

The underlying objects are strongly typed integer properties, causi

[2019-08-12 19:51] poochwashere opened #36947 "PersistentVolumes on pods running on a AKS Virtual Node"
I am unable to find a clear answer on this. Is it possible to run pods with a `pv` on a AKS Virtual Nodes?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1ac572f-c613-71fc-580a-2805b740b793
* Version Independent ID: b4aeef15-7b0f-abc7-872e-28051e10d6ca
* Content: [Dynamically create a Disk volume for multiple pods in

[2019-08-12 20:01] rjosephp opened #36948 "Messages dropped during failover"
Referring to question I have posted in stackoverflow https://stackoverflow.com/questions/57466136/azure-service-bus-premium-geo-recovery-dropped-messages/57466515?noredirect=1#comment101406835_57466515.

I see that messages are getting dropped while doing a Failover (as detailed in the question above).  Is that an expected bahavior? If yes, can the document be updated with that information? Both t

[2019-08-12 20:04] rjosephp commented on #36948
Also note that the exception says UnauthorizedException. Why is throwing UnAuthorized exception?

Message handler encountered an exception Microsoft.Azure.ServiceBus.UnauthorizedException: Connection rejected after GeoDRFailOver. TrackingId:7bb0b78d-2bf5-4807-8bcb-c831b00c6692, SystemTracker:AmqpGatewayProvider, Timestamp:2019-08-12T17:42:38

[2019-08-12 20:05] dlepow commented on #36909
#assign:@dkkapur - Deep, I'm adding you on this issue. Let's discuss what kind of doc would best address the support need here. Thanks!

[2019-08-12 20:22] CeciAc commented on #13380
@SunnyDeng any update on this?

[2019-08-12 20:23] mmacy commented on #36469
#in-progress

[2019-08-12 20:28] KingdomOfEnds commented on #36744
@Virginia001 - Added you.

[2019-08-12 20:33] RyanHill-MSFT commented on #36730
@Arash-Sabet I tried finding `GetEndpointsForGroup` in SignalR github repo but came up short. Therefore, I've reached out to the SignalR team for assistance.

[2019-08-12 20:35] pospospos2007 commented on #29053
This error happened when I trying to store the data in local disk instead of container.
I m trying to fix that.

[2019-08-12 20:35] KingdomOfEnds commented on #36796
@loup73 - Thanks for your great question! Can you verify that you DO NOT see the following?

![1](https://user-images.githubusercontent.com/43044425/62896412-db1b5b00-bd05-11e9-960e-ebda669ffd93.PNG)

The **Azure Smart Spaces Service** is the one you'll want to use. You may also see:

![2](https://user-images.githubusercontent.com/43044425/62896472-fc7c4700-bd05-11e9-9032-2515cc91c7b7.PNG)

While

[2019-08-12 20:41] snehithm commented on #36942
Multi-resource alerts are currently only supported in public clouds. I will update the document to call that out.

[2019-08-12 20:41] cgillum commented on #36931
The `Unknown` and `Canceled` values are not used, which is why they are not documented.

What you're describing about seeing integers instead of strings sounds like a product bug. Can you provide more information about what version of the extension you are using and what version of Azure Functions you are using?

[2019-08-12 20:41] rasciodc commented on #36916
Indeed I did add a new Schema today. I had more than one before, but I created a new one just before trying to set this new pipeline that is not coming through.

Actually the same scenario is giving a different error now. in the "Mapping" tab, if I try to "Import Schemas" it will throw an error:

_"Failed to import sink schema. 'Type=System.Data.SqlClient.SqlException,Message=Column, parameter, or

[2019-08-12 20:45] Karishma-Tiwari-MSFT commented on #36826
@liutang This is by design to append the string and there is no way to rename it. The only workaround at this point is to duplicate the disk and use a new name.

[2019-08-12 20:45] #36826 closed

[2019-08-12 20:49] JasonWHowell commented on #36894
@STEFGUOLONDON considering that the internet connection between a truck in a rural area and the Azure cloud may be spotty, this scenario be a good place to consider IoT edge devices:
https://docs.microsoft.com/en-us/azure/stream-analytics/stream-analytics-edge

[2019-08-12 21:00] Karishma-Tiwari-MSFT commented on #36947
Thanks for reaching out. We are currently investigating and will update you shortly.

[2019-08-12 21:01] Alberto-Vega-MSFT commented on #36941
@squasta Sorry to hear that you are facing this issue. Have you tried restarting:
`iotedge restart edgeAgent && iotedge restart edgeHub
`
Would you please try the other troubleshooting steps related to the Edge Hub not running that are listed here: https://docs.microsoft.com/en-us/azure/iot-edge/troubleshoot#iot-edge-hub-fails-to-start

[2019-08-12 21:02] Karishma-Tiwari-MSFT commented on #36841
@ChristianMontoya Can you please share if this is supported? Thanks :)

[2019-08-12 21:04] Mike-Ubezzi-MSFT commented on #36793
@vhe1
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-08-12 21:04] #36793 closed

[2019-08-12 21:04] Lukenyc commented on #35347
My apologies, here is the link:

https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/expensify-tutorial

[2019-08-12 21:06] candidson commented on #36916
For me, activities which were working fine, started acting out and do not work anymore.. throwing out the validation error

[2019-08-12 21:08] MarileeTurscak-MSFT commented on #36773
Thanks @seantleonard

I created a pull request to add this to the prerequisites, for approval by @mmacy.

[2019-08-12 21:08] MarileeTurscak-MSFT commented on #36773
https://github.com/MicrosoftDocs/azure-docs-pr/pull/85134

[2019-08-12 21:08] #36773 closed

[2019-08-12 21:09] alex-frankel commented on #36533
OK - understood, thanks for the extra detail. We intentionally default to using the file name as the artifact resource name, but you are right that we should allow you to override it with the name property.

[2019-08-12 21:12] Mike-Ubezzi-MSFT commented on #33510
@nosretep Adding your analysis of root cause to this issue for reference purposes:

![metric_screenCapture](https://user-images.githubusercontent.com/37126106/62898734-110f0e00-bd0b-11e9-9906-e47d5a900fea.png)

Additional information can be found:
[Retrieve metric values](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/rest-api-walkthrough#retrieve-metric-values)

[2019-08-12 21:12] alex-frankel commented on #36785
Are you assigning this custom role to a parent MG and expecting the permission to inherit down to a child MG? There is currently an outstanding bug that is blocking RBAC inheritance for MGs. I'd guess that this is the issue.

We're hoping to have that fixed by the end of August

[2019-08-12 21:26] MartinJaffer-MSFT commented on #31280
Hello @seanbetts .  Could you please share with me the logic and dataset type you are using?

I have set up a test pipeline, with a validation, and a set variable activity on success, and a set variable activity on failure.

When I do debug run using a blob...
and the blob does not exist, and no minimum size, failure
and the blob does not exist, and a minimum size is set,  failure
and the blob doe

[2019-08-12 21:27] visokoo opened #36949 "az cli command for enabling access control mode?"
Is it on the roadmap for supporting an az cli command to enable access control mode? And also in terraform as well?

Or can some documentation be provided on how we can update an existing LA workspace to include the access control mode option via ARM templates?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c62e3725-b0

[2019-08-12 21:27] dancs85 commented on #36785
The "Blueprint Administrator" role assignment is applied at the same MG that the Blueprints are 'stored'. The attempt to delete from that level that failed means that it wasn't an inheritance problem.
I can confirm the IAM of child objects does show the inherited Blueprint permissions (but that doesn't mean that are working).

The role assignment is performed by PIM. I'll try and confirm whether d

[2019-08-12 21:35] pranavmody commented on #36916
Facing the exact same validation issue mentioned in this thread. Please help.

[2019-08-12 21:40] kgremban commented on #36941
@squasta When you first install IoT Edge on a device, you only get the IoT Edge agent module started automatically. Once you make your first deployment, the IoT Edge hub will be included. Have you attempted to deploy any modules to the raspberry pi device yet?

[2019-08-12 21:44] roygara commented on #36892
@MoRMongol Thanks for reaching out, in order to better direct/help you would you clarify your situation more?

Are these users deleting a folder in your local environment? Are you trying to establish an access control method that is local to your environment or inside Azure itself?

Also, when you refer to a folder, are you referring to the file share itself or a folder in the file share?

It soun

[2019-08-12 21:45] kgremban commented on #36389
What size Azure VM are you using?

[2019-08-12 21:45] STEFGUOLONDON commented on #36894
Hi thanks, I am afraid this is not only about rural area, my initial question was how fast will your system capture the streaming,for IoT real-time data streams using Azure Stream Analytics, can you give me an example how to set the time up??  Also are you saying stream analytics edge can fulfil the rural as there is no wifi, hence they are communicate through Azure cloud? Is  Azure Stream Analyti

[2019-08-12 21:50] JnHs commented on #36763
@alphasteff - apologies for our closing this issue before I had a chance to get back to you. Be sure you use different values for mspOfferDescription in each of the two resource files - that should prevent the error you were seeing. Let me know if you still run into problems after that.

[2019-08-12 21:52] iruvetar opened #36950 ".NET API reference documentation Link broken"
Hi it redirected me to a page not found

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 001b3d41-4861-9cf9-7278-bf3724f7723a
* Version Independent ID: 5d57d6ce-666a-f165-4112-0c454c577ca3
* Content: [Azure Cosmos DB Table API .NET SDK & Resources](https://docs.microsoft.com/en-us/azure/cosmos-db/table-sdk-dotnet)
* Cont

[2019-08-12 21:53] rakeshjjain commented on #36409
Hi Ryan,

I had to pull away from this issue as the online setting did help fix it for the time being but now I am back to it.

As I was surfacing through the Azure Docs I ran into the same setting "use32BitWorkerprocess". I am checking with my team if we can use this as one of those settings and it could resolve our issue.

I will update you as soon as we can get this deployed. In the mean time,

[2019-08-12 22:00] kgremban commented on #35692
Thanks for the extra details. I see that someone else opened an issue on the same code sample this week (https://github.com/MicrosoftDocs/azure-docs/issues/36838) so I'm following up to see if something changed in the SDK or if I missed something in the documentation.

[2019-08-12 22:02] Jatinder-Luthra commented on #36614
Hello Everyone,
                        I believe I need some help on how to configure DB2 pure scale netmon.cf file. I tried different articles by IBM with different configurations but nothing working.

If there are some examples of exact DB2 pure scale netmon.cf file configuration needed on nodes, that will be a great help.

Thanks for the help.

[2019-08-12 22:02] kgremban commented on #35437
Great, thanks for checking that out.

I'm going to ask the moderators to #please-close this issue as resolved.

[2019-08-12 22:02] #35437 closed

[2019-08-12 22:06] FrankHu-MSFT commented on #36915
Hey @mwtallman  I see, so it sounds like you're saying that there's an issue with the powershell cmdlet Get-AzureADDirectorySettingTemplate for unified groups?

The Unified groups use allowaddguests instead of allowtoaddguests?

[2019-08-12 22:07] kgremban commented on #36102
@ash2017 Can you comment on this?

[2019-08-12 22:10] ash2017 commented on #36102
Azure monitor is developed to be best effort as opposed to guaranteed delivery. For reliable device state, we recommend using the "Device Connected/ Device Disconnected" events via Event Grid. More information : https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-event-grid#event-types and https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-how-to-order-connection-state-events

[2019-08-12 22:16] tiwari-abhishek opened #36951 "Cherrypick message from service bus Queue/Topic"
I don't have the money to use the Service Bus Premium Plan where the Event Grid integration is hidden?

As a workaround, I am trying to fire an event manually whenever I drop a message to a Queue/Topic. This event gets picked up by a Logic App. The Logic App however needs to process only the message that the event is related to. I have the MessageId in my event.

Now, this involves either me payin

[2019-08-12 22:23] djpmsft commented on #29996
The documentation has been updated. Closing issue

#please-close

[2019-08-12 22:23] #29996 closed

[2019-08-12 22:24] bradygaster commented on #36860
@ggailey777 thanks for the ping. i am not having much luck, to be frank. It appears as though only the operations and none of the definitions are created when I go through most of these workflows, which leaves me to need to manually create the definitions. I am OK at that, but not great (swagger can be daunting). I can imagine 100% interpretation would be better than operations-only. Plus, when I

[2019-08-12 22:25] djpmsft commented on #7735
Hi all,

If a Git repository is configured, you now can only publish from Git. If you need to update the repository or it is out of sync please see:

https://docs.microsoft.com/en-us/azure/data-factory/source-control#stale-publish-branch

Thanks,
Daniel

#please-close

[2019-08-12 22:25] #7735 closed

[2019-08-12 22:35] alphasteff commented on #36763
@JnHs - no worry! I have tested with different mspOfferDescription, and I used different Ressource Groups and also different principalId, principalIdDisplayName and roleDefinitionId. Only mspName and managedByTenantId are the same.
Unfortunately, it does not work.

[2019-08-12 22:40] FrankHu-MSFT commented on #36919
right exactly.. So per the docs, it does say at the bottom per your link that depending on whether or not the domain is routable vs non-routable and managed vs federated whether or not it is supported.

The statement "Hybrid Azure AD join works with both, managed and federated environments"
is still true because it does work, but it depends on the routable vs non-routable. We could change it to sa

[2019-08-12 22:41] mwtallman commented on #36915
Yes, an issue with that cmdlet, more so that template. Here's what I'm doing:

`$Groups = Get-UnifiedGroup | where {($_.Classification -eq "Standard") -or ($_.Classification -eq "Internal")} | Select-Object Id, DisplayName, Classification, GroupMemberCount, GroupExternalMemberCount, WhenChanged, WhenCreated, ManagedBy, AllowToAddGuests, AccessType
`

Loop through groups, then if a group has a **cl

[2019-08-12 22:43] msaburnley commented on #36471
content published, #please-close

[2019-08-12 22:43] #36471 closed

[2019-08-12 22:43] TravisCragg-MSFT commented on #36945
@sedelrio Thanks for the feedback. Do you see an issue with the Route Based instructions or are you only referring to the policy based instructions that is also reported in #18765?

I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-08-12 22:47] rvahaver opened #36953 "Scenario Section"
In the scenario section you state "If necessary, you allow only certain users and specific network locations to use apps that are based on legacy authentication."  No where in this document do you explain how to do this or provide a Note with a link to a page on how to accomplish this.  Can someone please provide that information.  Now that we as partners were required by MS to implement these pol

[2019-08-12 22:50] peterpogorski commented on #36012
@WhitWaldo thanks for the feedback! I have added this placement constraint example to the document.

#please-close

[2019-08-12 22:50] #36012 closed

[2019-08-12 22:54] highhigh commented on #33356
Any update on error "AADSTS7000215"?

[2019-08-12 22:57] marknettle opened #36954 "Getting LastSyncTime in PowerShell"
The current version of Get-AzStorage doesn't support the -IncludeGeoReplicationStats parameter:
  https://docs.microsoft.com/en-us/powershell/module/az.storage/get-azstorageaccount?view=azps-2.5.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 006f09ba-2074-4d2e-05fc-9d43bbfb58c0
* Version Independent ID: 65c2703c-bef4

[2019-08-12 22:59] FrankHu-MSFT commented on #36915
I see, alright sounds good thanks for that. I'll engage with that team to see what's going on. And circle back to the docs to make changes or to confirm that this has been fixed.

Thanks for letting us know about this @mwtallman

[2019-08-12 23:00] MashaMSFT commented on #21996
Hi @EmanuelYuCorella , thank you for contacting Microsoft! My apologies for the delay in response. Do you still need assistance? If so, you can use the Azure portal to change the SKU to be standard. You can find instructions for that here: https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sql/virtual-machines-windows-sql-change-edition

Hi @gfk76
The **provisioningState: Provisioning

[2019-08-12 23:09] p-smiley opened #36955 "Minor version upgrade guidance"
It would be super helpful to know what the expected timeframe for a minor version upgrade is. There are some breaking changes that were introduced in 9.6.14 that are fixed with 9.6.15 which was released on 8/8/19.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63c8d482-9904-74ad-b0ad-5a8fc188510d
* Version Independent

[2019-08-12 23:09] jurajgh opened #36956 "move domain services possible?"
is it please possible to move azure ad domain services from one subscription to another?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76c1c185-685f-27e0-e634-844b510b1834
* Version Independent ID: 09375778-5354-ab44-c5c6-94c2aebe34bc
* Content: [Move Azure resources to a new subscription or resource group](https://do

[2019-08-12 23:11] dmarlow opened #36957 "Availability of elastic jobs for vCore databases"
Do elastic jobs work for only DTU based databases or certain tiers (premium vs standard)? Or do they also work for vCore?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af7d5bb1-1cb9-b796-2abc-e0250ddbd82b
* Version Independent ID: a6281493-bf6b-0449-23a1-77019959fee4
* Content: [Azure SQL Job automation](https://docs.

[2019-08-12 23:13] javirivas80 commented on #36919
Yes, but in this case for the managed domains for Windows 10 routable or non-routable domains are not supported? That's fine?
Previously managed domains was in Support Private Preview
https://github.com/MicrosoftDocs/azure-docs/commit/0d52a362c099a5d04c51e77888443980159f8b77#diff-a4fc16bb8033a1933e83208ca0b7c931

[2019-08-12 23:15] Juliako commented on #31888
@SavoySchuler , removed the unused code.

[2019-08-12 23:15] Juliako commented on #31888
#please-close

[2019-08-12 23:15] #31888 closed

[2019-08-12 23:17] JimacoMS3 commented on #32611
Hi @maurert,

IoT Hub doesn’t support writing data to the built-in endpoint from a back-end service.

Depending on what kind of modification to the message is necessary, you may be able to use either [message-enrichments](https://docs.microsoft.com/azure/iot-hub/iot-hub-message-enrichments-overview) or [IoT Hub protocol gateway](https://docs.microsoft.com/azure/iot-hub/iot-hub-protocol-gateway) to

[2019-08-12 23:18] FrankHu-MSFT commented on #36919
If you have feedback in regards to the product, please file it against the product feedback site:

https://feedback.azure.com/forums/169401-azure-active-directory

The doc issues are meant for azure doc issues.

@javirivas80 Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue by end of day today. Please reopen this git

[2019-08-12 23:20] jeevansd commented on #34210
@FrankHu-MSFT To answer your #1 and #2 question there is no limit for fetching the roles from the AWS account and also there is no limit for creating apps in your tenant.

You cant assign multiple roles to single user or group. Ideal way is you assign 1 role to 1 group and let the user participate in multiple groups. That way user can get multiple roles and we will send that information in the tok

[2019-08-12 23:34] kobulloc-MSFT commented on #36910
@tkumark We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-08-12 23:34] #36910 closed

[2019-08-12 23:42] Adam-Smith-MSFT commented on #36932
@IslayJunkie Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-08-12 23:42] Infinitism opened #36959 "More information on authorization in service hub documentation"
Hi,

The documentation refers to "_You deal with a requirement to provide a role-based access model to the queues, and different rights/permissions for senders and receivers._" regarding the use of service hub but doesn't list a relevant link we could follow to learn more about it.

The documentation is hosted here: https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-azure-and

[2019-08-12 23:43] Adam-Smith-MSFT commented on #36938
@lisenkaci Thank you for the valuable feedback,we are investigating the issue.

[2019-08-12 23:46] Adam-Smith-MSFT commented on #36939
@opticyclic Thank you for the valuable feedback,we are investigating the issue.

[2019-08-12 23:49] Karishma-Tiwari-MSFT commented on #35347
@Lukenyc Since this issue is very old now, I would recommend opening a new GitHub issue for this doc by going to the bottom of the doc and clicking on:
![image](https://user-images.githubusercontent.com/20851144/62905824-052e4680-bd21-11e9-9bf8-2ff554790534.png)
Our active directory team will then help you out on this. Thanks :)

[2019-08-12 23:56] Karishma-Tiwari-MSFT commented on #36614
@larryme24 Would you be able to share your insights on the customer's question or point us to someone who might help with this. Thanks :)

[2019-08-12 23:57] luywang commented on #13518
I’m not the author of this article.

From: Cynthia Nottingham <notifications@github.com>
Sent: Thursday, August 8, 2019 4:57 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Luyao Wang <luywang@microsoft.com>; Assign <assign@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Changes due do Availability zones (#13518)

#reassign @roygara<https://nam06.safelinks.protectio

[2019-08-12 23:57] PRMerger20 commented on #13518
roygara<https is not a valid GitHub ID, or is not a collaborator on this repo.

[2019-08-13 00:00] mike-urnun-msft commented on #36934
Hi @opticyclic - Thank you for your feedback! We will review and update as appropriate.

[2019-08-13 00:01] mike-urnun-msft commented on #36944
Hi @ReshmaNeelam - Thank you for your feedback! We will review and update as appropriate.

[2019-08-13 00:02] mike-urnun-msft commented on #36948
Hi @rjosephp - Thank you for your feedback! We will review and update as appropriate.

[2019-08-13 00:21] tfitzmac commented on #36956
@jurajgh - you can find move support by resource type at [Move operation support for resources](https://docs.microsoft.com/en-us/azure/azure-resource-manager/move-support-resources). If you are referring to Microsoft.AAD/domainservices, it does not support move.

[2019-08-13 00:29] StephenFerrero opened #36960 "ActiveSync policy requires selection of Device Platform"
When following instructions for "Exchange Online and SharePoint Online policy", on step 2 for EAS. I have created the policy as described but receive the following error when trying to save:

"MAM policy should be applied to Android or iOS client platforms."

If I specific Android and iOS as Device Platform conditions, the policy will save and apply. This step likely needs to be updated in multipl