[2022-10-26 19:59] #100521 closed

[2022-10-26 20:00] rayoef commented on #55447
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner, and we sincerely apologize for the delayed response. This article has been updated over the past couple of years.  We are closing this issue for now, but feel free to comment here as necessary if the updates don't address the original issue.
#please-close

[2022-10-26 20:00] #55447 closed

[2022-10-26 20:02] ChaitanyaNaykodi-MSFT commented on #100360
@yertaylan67,
Thank you for your feedback, as mentioned in this issue here #95900

This is because our PG is still working on them.

We will now proceed to close this issue out, please tag me in your response if you have any additional questions. Thank you!

[2022-10-26 20:02] #100360 closed

[2022-10-26 20:02] MOHAMEDELHAMRA opened #100529 "dswfdg"
dswfdg

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: c0c5a806-41a2-f4a6-6888-329f7f362a53
* Version Independent ID: a5a2789c-5462-c041-54ea-d18754172dda
* Content: [Create SSH keys in the Azure portal - Azure Virtual Machines](https://learn.microsoft.com/en-us/azure/virtual-machines/ssh-keys-portal)
* Content Source:

[2022-10-26 20:02] Heidilohr commented on #52799
#please-close

[2022-10-26 20:02] #52799 closed

[2022-10-26 20:08] bernaljo opened #100530 "Prereq Update"
Step 2 of perquisites mentions granting Get permission in Key Vault. However, I still see an error in ADF that requires List permissions as well. Adding both Get and List seem like a requirement.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: c4a11102-d44f-c7d2-c6b1-ec2b2a8b6055
* Version Independent ID: 7eb0fce9-55db

[2022-10-26 20:16] maskati commented on #100347
My experience is that this is a general issue impacting diagnostic settings applied to many different types of resources. Below is a simple example of how the issue manifests when a diagnostic setting is applied to a log analytic workspace (audit log queries to itself). The diagnostic setting is created, the log analytic workspace is deleted, the log analytic workspace is recreated with the same n

[2022-10-26 20:27] btardif commented on #100312
This looks like an issue with the CLI connecting to log stream @seligj95 can you take a look? I don't think this is an issue with the doc or sample code.

[2022-10-26 20:30] Turbofroggy commented on #100468
The process is documented here:
https://help.svetek.com/docs/Configuration/Azure/AzureDomain/
And here:
https://ridilabs.net/post/2017/08/26/9-Steps-to-Migrate-Your-Existing-Domain-to-Azure-App-Service-Domain-.aspx#.Y1mY5HbMJD-

From: Venkateshdodda-MSFT ***@***.***>
Sent: Tuesday, October 25, 2022 10:56 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Matt Moreno ***@***.***>; Mention ***@***.***

[2022-10-26 20:37] PandaBoy00 commented on #100370
Hi there,

It was a configuration issue.  There wasn't any 'quota' for the selected VM Size.

In my own opinion, the "error" message isn't verbose enough and if the documentation would have mention to check on the Quotas it would have been a better indication of the issue.

Thank you for looking into this.

Have a great rest of the day.
________________________________
From: AjayBathini-MSFT ***@*

[2022-10-26 20:38] mimckitt commented on #99593
@mbiver You can have multiple NICs per VM. They can also have multiple ipconfigurations per nic. This is possible using both Uniform and Flexible orchestration modes. That said, I see we don't have any good examples of how to accomplish this. I will look at adding some information to make this more clear.

[2022-10-26 20:54] Oury-MSFT commented on #100527
@brandonmartinez Thank you for your feedback. We are reviewing this and will get back shortly.

[2022-10-26 21:09] alexwolfmsft commented on #100508
Hello, thank you for raising awareness of this issue, it will be resolved in an upcoming PR.

[2022-10-26 21:12] ruaden94 opened #100531 "Update to Gallery app section to inform the customer of SP and IDP initiated flow options for the app"
The section below refers to adding the gallery application. We should note that if a customer adds the Gallery Application, this is for the SP initiated flow. The Oracle published Gallery application requires a Sign on URL. Please update the document as you see fit but we should call out the Gallery application forces an SP initiated flow for the customer.

**Add Oracle Fusion ERP from the gallery

[2022-10-26 21:37] iamwilliew commented on #100313
@omrigaonms Thanks for your feedback! Are you looking for the network information for the DS4? If so, try scrolling the table to the right and the networking information is available in the last column.

[2022-10-26 21:39] roofiq commented on #100279
Great @YashikaTyagi-MSFT, do you know which guideline we should take as a reference?

Additionaly, are the performance tests or metric somewhere published based on which those recommendations/limits were made?

[2022-10-26 21:44] rolyon commented on #99947
Hi @mattv003
Thanks for taking the time to contact us. We've sent your feedback to the team to review.
thanks

[2022-10-26 21:49] nswitanek opened #100533 "Please provide Python code snippet for calling OpenAI Embeddings API"
OpenAI embeddings will be used by data scientists, who are most comfortable in Python.

Rather than only providing a cURL example, it will be helpful to the target audience to have the corresponding Python code snippet.

The original:

[code]

Translated to python, using the `requests` package:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com

[2022-10-26 21:56] mike-urnun-msft commented on #100272
Hello @elisebsm - Could you try again? I've just checked the download links for Windows 64-bit & 32-bit, both links seem to be working fine and prompting download accordingly.

[2022-10-26 21:57] mikaelweave opened #100534 "Link to non-maintained FHIR Loader"
The link to the first FHIR Loader is no longer maintained. Can we remove it?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 05c70ba4-eaf7-e5bb-ff72-6a9675a78c02
* Version Independent ID: c2d58124-929f-91b8-6a1b-00d1c10bf95e
* Content: [Get started with FHIR service - Azure Health Data Services](https://learn.microsoft

[2022-10-26 22:10] JFImagery commented on #100378
You’re welcome, thanks!!

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: YashikaTyagi-MSFT ***@***.***>
Sent: Wednesday, October 26, 2022 12:40:05 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: JFImagery ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Page out of date (Issue #100378)

@JFImagery<https://github.com/JFImagery>
Thanks fo

[2022-10-26 22:15] jfggdl commented on #100389
@axlee39, yes, the delivery delay is about the cases that are described in the probation table. Please note that this delivery is about delaying all the events that are to be sent to a destination that are having some kind of issues according to the "error" conditions in the probation table. That is, it is not about a particular message in particular, but about the delay of the whole set of events

[2022-10-26 22:34] samyrmoises opened #100537 "The documentation is not working if you follow it step-by-step."
Hey guys,

If we follow the directions within this page we are not able to have this cluster running.

In practice we need to inform people that the database cannot have any special characters in its name and also, we need more properties than the presented in this documentation.

The extra properties needed in this section (https://learn.microsoft.com/en-us/azure/databricks/data/metastores/extern

[2022-10-26 22:38] mike-urnun-msft commented on #99881
Hello @svaenn - Sorry for the late reply. In the context of Dapr & its [pub/sub](https://docs.dapr.io/developing-applications/building-blocks/pubsub/pubsub-overview/) API building block, yes. The [Publisher-Subscriber pattern](https://learn.microsoft.com/en-us/azure/architecture/patterns/publisher-subscriber), generally, is agnostic of the architectural concepts of Azure Container Apps though.

Si

[2022-10-26 22:38] #99881 closed

[2022-10-26 22:51] tamram commented on #21469
#reassign: @jimmart-dev

[2022-10-26 23:06] rolyon commented on #99083
Hi @solstone
Thanks for taking the time to provide your feedback. We have updated the prerequisites section of this article.
https://learn.microsoft.com/en-us/azure/role-based-access-control/role-assignments-powershell
Let us know if you have any additional feedback.
thanks

[2022-10-26 23:06] rolyon commented on #99083
#please-close

[2022-10-26 23:06] #99083 closed

[2022-10-26 23:30] mattfrear opened #100538 "Incorrect code sample - Azure.Storage.Blobs.Specialized.DownloadToAsync doesn't throw DirectoryNotFoundException"
The [Download to a stream section ](https://learn.microsoft.com/en-us/azure/storage/blobs/storage-blob-download#download-to-a-stream)has a code sample which has a catch:

[code]

This is incorrect. If the container doesn't exist, the library now throws a `RequestFailedException`.

Matt

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue li

[2022-10-26 23:41] Grace-MacJones-MSFT commented on #100508
Thanks for addressing this issue in a PR, Alex.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-10-26 23:41] #100508 closed

[2022-10-26 23:53] v-sashig opened #100540 "Request to correct info in the "Delete other subscriptions""
Hello, regarding the statement below, in the "Delete other subscriptions" section, I feel this info is outdated. I request you to check if this statement is still true at this point and if not, please modify accordingly.
-------
The only subscription types that you can manually delete are free trial and pay-as-you-go subscriptions. All other subscription types are deleted only through the [subscri

[2022-10-27 00:26] PhilKoay commented on #100187
Hi Stefan,

Can you try running this code from the technical documentation. You will
need to run it from mssms for it to work ( not directly from synapse)

select top 10 *

from openrowset(

        bulk '
https://pandemicdatalake.blob.core.windows.net/public/curated/covid-19/ecdc_cases/latest/ecdc_cases.jsonl
',

        format = 'csv',

        fieldterminator ='0x0b',

        fieldquote = '0x0

[2022-10-27 01:02] GeethaThatipatri-MSFT commented on #100534
@mikaelweave Thank you for reaching out. We will look into it and update you as appropriate.

[2022-10-27 03:05] mike-urnun-msft commented on #100309
Hello @wugreg - When testing, were you passing in a valid string for the payload?

[2022-10-27 03:10] ChaitanyaNaykodi-MSFT commented on #100102
@arsnyder16

I got an update the behavior observed above is expected, any update made on AFD causes the session affinity cookies to change.

The team is currently working on changing this behavior so that session affinity cookies are not changed when an update is made on AFD.
We will now proceed to close this issue out. Please tag me in your response if you have any additional questions. Thank you

[2022-10-27 03:10] #100102 closed

[2022-10-27 03:33] AjayBathini-MSFT commented on #100512
@ErikBoSo
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-27 03:34] AjayBathini-MSFT commented on #100515
@tshaiman
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-27 03:35] AjayBathini-MSFT commented on #100516
@tjarrettveracode
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-27 03:36] AjayBathini-MSFT commented on #100517
@brsieff
It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!!

[2022-10-27 03:37] AjayBathini-MSFT commented on #100518
@dataengineerdeveloper
It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!!

[2022-10-27 03:38] AjayBathini-MSFT commented on #100519
@cwnoyes
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-27 03:39] AjayBathini-MSFT commented on #100525
@MattITMan
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-27 03:40] AjayBathini-MSFT commented on #100526
@knicholson0
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-27 03:42] AjayBathini-MSFT commented on #100529
@MOHAMEDELHAMRA
Could you please elaborate your query so we can be able to assist you.

[2022-10-27 03:43] AjayBathini-MSFT commented on #100530
@bernaljo
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-27 03:44] AjayBathini-MSFT commented on #100531
@ruaden94
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-27 03:46] AjayBathini-MSFT commented on #100533
@nswitanek
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-27 03:47] AjayBathini-MSFT commented on #100537
@samyrmoises
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-27 03:48] AjayBathini-MSFT commented on #100538
@mattfrear
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-27 03:50] AjayBathini-MSFT commented on #100540
@v-sashig
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-27 03:56] AjayBathini-MSFT commented on #100513
@oliviacrain
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-10-27 03:58] wugreg commented on #100309
Hi @mike-urnun-msft, this is in a managed environment (Azure Function) so the payload was generated and passed to the PS code. I can't and don't need to create payload by myself.

[2022-10-27 04:04] tamram commented on #100416
#reassign: @pauljewellmsft

[2022-10-27 04:12] SwathiDhanwada-MSFT commented on #100355
@Dusted969 Thanks for the feedback! I have fixed the referenced change, and the change should reflect on the doc within 24 hours. We will now proceed to close this thread. If there are further questions regarding this matter, please revert and we will gladly continue the discussion.

[2022-10-27 04:14] SwathiDhanwada-MSFT commented on #100449
@raporpe Thanks for your feedback.

Assigning to content author @anvar-ms  for review.

[2022-10-27 04:20] #100355 closed

[2022-10-27 04:44] Venkateshdodda-MSFT commented on #100364
@kszicsillag Thanks for bringing this to our attention. I have made the requested changes and changes will go live soon once it is approved by author.

[2022-10-27 04:44] #100364 closed

[2022-10-27 04:51] MayankBargali-MSFT commented on #100412
@epomatti There is no option now to enable/disable availability zones. Looks like the document still has the old screenshot where you will see the option to enable/disable namespace zone redundant. There was an update to Service Bus Premium to be AZ by default, so you no longer need make a selection.

AZ is the **feature of premium namespace** so there is no additional cost for the same and you on

[2022-10-27 04:55] SaibabaBalapur-MSFT commented on #100399
@mike-f50
Above details are third party reference guide, once product team make availability West Europe region, we will be updated in Microsoft doc official page, currently its under process. Thank you for understanding @mike-f50 .

<img width="436" alt="image" src="https://user-images.githubusercontent.com/111563669/198195167-24e70631-2273-45f5-868f-a9e9df9ecef4.png">

[2022-10-27 05:02] SaibabaBalapur-MSFT commented on #100525
@MattITMan
Thanks for contributing towards enhancement of document. Required changes have been made and once approve by author it will reflect in the document itself.

We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

Duplicate of #99450
Duplicate of #9949

[2022-10-27 05:02] #100525 closed

[2022-10-27 05:07] MayankBargali-MSFT commented on #100411
@epomatti The cluster means that it the set of resources that span multiple failure domains within a datacenter, and it implements transparent failure detection and failover mechanisms such that the service will continue to operate within the assured service-levels and typically without noticeable interruptions when such failures occur as mentioned in the starting of the document.

One premium nam

[2022-10-27 05:15] SwathiDhanwada-MSFT commented on #100281
@ela-malani Thanks for your feedback.

Assigning to content author @AaronMaxwell   for review.

[2022-10-27 05:19] ManoharLakkoju-MSFT commented on #100509
@henrypi73
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

[2022-10-27 05:25] ManoharLakkoju-MSFT commented on #100538
@mattfrear
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

@pauljewellmsft
Can you please check and add your comments on this doc update request as applicable.

[2022-10-27 05:26] henrypi73 commented on #100509
Glad I could help 😊

From: ManoharLakkoju-MSFT ***@***.***>
Sent: Thursday, October 27, 2022 06:20
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Henry Pieterse ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Manually configure Hybrid AAD join (Issue #100509)

@henrypi73<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fhenrypi73&data=05%7C01%

[2022-10-27 05:35] ManoharLakkoju-MSFT commented on #100526
Hi @knicholson0
You can be able to add filters to download the files according to your requirement which would prevent users from downloading several files.

<img width="402" alt="image" src="https://user-images.githubusercontent.com/110587558/198199712-d3a55d89-72fe-481d-9bff-aff519bbd3f1.png">

if there are any further questions regarding the documentation, please tag me in your reply and we wil

[2022-10-27 05:41] ManoharLakkoju-MSFT commented on #100509
@MicrosoftGuyJFlo
Can you please check and add your comments on this doc update request as applicable.

[2022-10-27 05:43] #100358 closed

[2022-10-27 05:45] RamanathanChinnappan-MSFT commented on #100450
# sign-off

[2022-10-27 05:45] #100450 closed

[2022-10-27 06:08] badsector-82 opened #100542 "Missing scenario"
I've given the automation account a system assigned managed identity. Successfully used these to set the context :
[code]
But when I use this inside the runbook to get the jobs :
`Get-AzAutomationJob -ResourceGroupName $resourceGroupName -AutomationAccountName $automationAccountName -RunbookName $runbookName -DefaultProfile $AzureContext`
it returns nothing. No error, so command must execute, but

[2022-10-27 06:13] omrigaonms commented on #100313
Hey Will (I guess :-)

Not exactly.

It’s named “DS14_v2”

Thanks
Omri

From: iamwilliew ***@***.***>
Sent: Thursday, 27 October 2022 0:37
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Omri Gaon ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] DS14_v2 networking info (Issue #100313)

@omrigaonms<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%

[2022-10-27 06:21] elisebsm commented on #100272
It works now, thanks :)

[2022-10-27 06:28] AjayBathini-MSFT commented on #100480
@tomvcassidy
As per the official website we could not found image for service fabric using Ubuntu 20.04.
Can you please check and add your comments on this doc update request as applicable.

[Service Fabric Onebox by Microsoft | Docker Hub](https://hub.docker.com/_/microsoft-service-fabric-onebox)

[2022-10-27 06:33] juyamagu opened #100544 "Network Requirements for Azure NetApp Files (ANF) Subnet is Ambiguous"
**Issue**

The document doesn't specify the requirements for UDR / NSG on ANF-delegated subnet.

**Description**

Now the documentation only says UDR and NSG on a delegated subnet are supported for ANF with Standard Network Feature enabled.

https://learn.microsoft.com/en-us/azure/azure-netapp-files/azure-netapp-files-network-topologies#udrs-and-nsgs

With this information, users who seek the stri

[2022-10-27 07:02] SteveBurkettNZ opened #100545 "Typo: Unexpected backtick character in sample code"
Under Step 4 Validate the Setup, the ping command seems to have an extraneous backtick character:

%sh` ping <IP>

should be:

%sh ping <IP>

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 2bf07caa-0d20-1738-7242-dfd92f03f26a
* Version Independent ID: dada2e27-8354-4e3b-324e-5ddcffda1f06
* Content: [Connect your Azure

[2022-10-27 07:03] ymukai7 opened #100546 "Update "Add document processing code""
[Enter feedback here]

When I tried this tutorial, the "Add document proccessing code" didn't work.
I needed to modify python code as follows.

1) Add "import requests"

https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/applied-ai-services/form-recognizer/tutorial-azure-function.md?plain=1#L150

[code]

2) Insert indent before quit() method

https://github.com/MicrosoftDocs/azure-docs

[2022-10-27 07:16] pku-csis commented on #99218
@limwainstein @yelevin @batamig The article still uses OMS Agent instead of AMA.
I don't see anything "updated" in the article.

[2022-10-27 07:16] ram-kakani commented on #100544
All standard UDR and NSGs configuration is supported for ANF Junya and so yes those are supported too. By default, there is no internet connectivity to ANF given there is no traffic flow originating from ANF, it’s either a Read or Write originating from other services like VMs or containers.

Thanks,
Ram

From: Junya Yamaguchi ***@***.***>
Sent: Wednesday, October 26, 2022 11:34 PM
To: MicrosoftDo

[2022-10-27 07:16] YashikaTyagi-MSFT commented on #100279
@roofiq
I have assigned the issue to responsible service area engineer who will update accordingly.
@BryanTrach-MSFT Kindly provide an update

[2022-10-27 07:18] kungfudante opened #100549 "Another common error message is not mentioned in this document"
Hi team,

I got a case this week, our customer cannot use key vault in listener, error message as follow:
![image](https://user-images.githubusercontent.com/106713170/198215700-dc82d9f0-3a52-451e-a38a-16853ce1d214.png)

Our customer has checked https://learn.microsoft.com/en-us/azure/application-gateway/key-vault-certs#delegate-user-assigned-managed-identity-to-key-vault, but failed to get the sol

[2022-10-27 07:41] richardissimo opened #100550 ""Authenticate the app" section tells you to follow principle of least privilege, but doesn't do that itself"
In the "Authenticate the app to Azure" section, in the "passwordless" alternative, it says
"The following example assigns the Azure Service Bus Data Owner role to your user account, which provides full access to Azure Service Bus resources. In a real scenario, follow the [Principle of Least Privilege](https://learn.microsoft.com/en-us/azure/active-directory/develop/secure-least-privileged-access)"

[2022-10-27 07:50] SaibabaBalapur-MSFT commented on #100516
@tjarrettveracode
I'm going to assign this to the document author so they can take a look at it accordingly.

[2022-10-27 07:51] SaibabaBalapur-MSFT commented on #100516
@jeevansd
Can you please check and add your comments on this doc update request as applicable.

[2022-10-27 08:15] MartinSGill opened #100551 "Example Code Invalid - Approve the private endpoint connection"
Example, as printed, does not run correctly:

Step: "Approve the private endpoint connection"

[code]

Az.Network: v4.18.0

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 25c87883-1e32-6383-9d21-306f91406ba6
* Version Independent ID: ba6f8deb-cbfc-bf07-2bc8-26f5e6145859
* Content: [Quickstart: Create an Azure private l

[2022-10-27 08:19] juyamagu commented on #100544
Thank you for your quick reply, @ram-kakani

I understand that both example scenarios I posted (i.e. UDR with the default route and NSG blocking outgoing internet traffic) are supported as ANF doesn't send any outbound traffic. That's good news for customers :)

there is no further question, so I'll close this issue. Thanks!

[2022-10-27 08:19] #100544 closed

[2022-10-27 08:21] AdamGuan13 commented on #100075
Thanks a lot.

[2022-10-27 08:21] #100075 closed

[2022-10-27 08:36] bert2 opened #100554 "Example for `TimestampToDateTime()` with `c._ts`"
I personally find it weird that this function expects milliseconds to begin with since `_ts` is in seconds, but at the very least its documentation should feature an example where `_ts` is correctly converted into a date time.

Something like:

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: ce53c292-4a2c-6f2b-93

[2022-10-27 08:36] SaibabaBalapur-MSFT commented on #100545
@SteveBurkettNZ
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-27 08:44] SaibabaBalapur-MSFT commented on #100545
Thank for your contribution @SteveBurkettNZ
We have created a PR for this issue and the changes should go live soon.

[2022-10-27 08:48] furu2022 opened #100555 "Wrong current link"
Hi everyone,

thanks for your nice documention.
In "Prerequisites" the appliction link is withdrawn.

[Application](https://store.servicenow.com/sn_appstore_store.do#!/store/application/ac4c9c57dbb1d090561b186c1396191a/1.3.1?referer=%2Fstore%2Fsearch%3Flistingtype%3Dallintegrations%25253Bancillary_app%25253Bcertified_apps%25253Bcontent%25253Bindustry_solution%25253Boem%25253Butility%26q%3DEvent%25

[2022-10-27 08:48] bmansheim commented on #100362
Hi @ctimonjr . Thanks for your issue. To the best of my knowledge we define the alert severity for you based on Microsoft standards built from extensive research into the impact of alert trigger. I recommend that you contact support to get a more comprehensive answer.

#please-close

[2022-10-27 08:48] #100362 closed

[2022-10-27 08:58] SaibabaBalapur-MSFT commented on #100545
closing

[2022-10-27 08:58] #100545 closed

[2022-10-27 09:19] shaktisingh-msft commented on #100554
Hi @bert2,

Thanks for sharing this feedback here. We will look into this and update as appropriate.

[2022-10-27 09:27] AdmiralTolwyn opened #100556 "Incorrect parameter in $SrcObjParams"
Create a VM Image Builder source object bit is incorrect.
SourceTypePlatformImage = $true is incorrect, correct value is PlatformImageSource = $true

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: c0b40c35-05a3-a82d-a887-d393fff29536
* Version Independent ID: 607c9388-c173-882c-cc45-bb0a8b5ac1ac
* Content: [Create a Wi

[2022-10-27 09:39] Naveenommi-MSFT commented on #100418
@chez-charlie

Could you please check and add your comments on this, update as appropriate.

[2022-10-27 09:40] harald-quist-stratsys commented on #99375
No updates on this @kenwith?

[2022-10-27 09:43] RamanathanChinnappan-MSFT commented on #100481
@tdekelver-bd

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-10-27 09:45] arseyam opened #100557 "Cannot find Anti-malware extension"
Is this page still contains valid information? I cannot repeat the steps to install the anti malware extension as it is not showing anymore in the list of extensions.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 39836c50-a16b-55c4-e088-566f83af1d86
* Version Independent ID: 7f581c98-fb53-3cf2-bfc5-556effb7261c
* Con

[2022-10-27 09:47] #100557 closed

[2022-10-27 09:48] Naveenommi-MSFT commented on #100418
@yodobrin

Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-10-27 09:48] AnandKatta opened #100558 "How to deploy the custom connector to logic app from azure devops"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 01046995-1aea-643d-cbfd-c2ef469e28a8
* Version Independent ID: 1a9bc699-b04a-c763-34e1-e412bbdcde0b
* Content: [Create built-in connectors for Standard logic apps - Azure Logic Apps](https://learn.microsoft.com/en-us/azure/logic-apps/create-custom-bu

[2022-10-27 09:49] dataengineerdeveloper commented on #100518
Hello,
i'm not following any documentation because even in error log it isn't pointing to any documentation in specific.  I can share some links but i don't know if the issue can be the same.
https://stackoverflow.com/questions/62054515/loading-records-into-dynamics-365-through-adf

The error message that i share is from Azure Data Factory

[2022-10-27 09:51] aikearney opened #100559 "incorrect link"
The FAQ: "If I create a standard managed disk from an existing VHD that's 80 GB, how much will that cost me?"
The link to pricing is bringing me to Blob storage pricing instead of managed disk pricing.
It should link me here: https://azure.microsoft.com/en-us/pricing/details/managed-disks/
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue

[2022-10-27 09:51] cveld opened #100560 "How to assign synapse roles without synapse admininistrator access"
The documentation states the following:

I am Owner on the Azure RBAC level of the Synapse Workspace resource.

But when I try to create a role on Synapse RBAC level I get the following error:

`(Unauthorized) The principal '<suppressed>' does not have the required Synapse RBAC permission to perform this action. Required permission: Action: Microsoft.Synapse/workspaces/read, Scope: workspaces/mywo

[2022-10-27 09:51] limwainstein commented on #99218
@pku-csis As I explained above, there's a new connector with a new process using the AMA. An article with a description of this process is still in progress. We'll release that article in a few weeks, when the new connector is released to public preview. If you'd like to get information about this connector in private preview, please consult the private preview [channel](https://teams.microsoft.co

[2022-10-27 09:57] vikyol opened #100561 "Obscure Abbreviation"
It is unclear what **HCL** stands for. I couldn't find any meaningful explanation for it in the documents.

For example, AMD SEV-SNP attestation report contains _FAMILY_ID_ field which is clearly explained as _the family ID provided at launch_, whereas the corresponding claim **x-ms-sevsnpvm-familyId** is rather obscure due to the abbreviation used, "HCL family identification string".

---
#### Do

[2022-10-27 10:00] wlitheng opened #100562 "Initiate a storage account failover documentation update"
This documentation can be updated to reflect the latest UI in Azure Portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 44ba1fba-bdd0-ab8e-ee99-d5a9ad922471
* Version Independent ID: dd7c89f7-a612-c3f9-00c0-ee3dff0c14bd
* Content: [Initiate a storage account failover - Azure Storage](https://learn.microsoft.com/en-

[2022-10-27 10:09] Naveenommi-MSFT commented on #100488
Hi @danglund

Thanks for your contribution. Please add your ideas in below link, so our production team can review it and update the same.
[Ideas · Community (azure.com)](https://feedback.azure.com/d365community)

[2022-10-27 10:12] SadiqhAhmed-MSFT commented on #100540
@bandersmsft To review and take appropriate action.

[2022-10-27 10:19] vatsenko commented on #100340
Ok

Correct me if i misunderstand -  your example illustrate recursively get all files in all directories.

Lets say you start from root directory ("/"),
You iterate through all segment.blobPrefixes which contains all subdirectories
and recursively call function for each prefix.name

so that works for root but subdirectory fetch info from root folder because listOptions config have hardcoded prefi

[2022-10-27 10:21] arsnyder16 commented on #100102
@ChaitanyaNaykodi-MSFT So I think you are saying this is a bug?

do we have any idea when this might be completed or will it be announced anywhere?

Is the fix going to apply to classic/standard/premium?

[2022-10-27 10:28] RamanathanChinnappan-MSFT commented on #100414
@thierrytropee

kindly refer the below

Once a linked service is created, the Script section is available. It has two query options:

Query - Select this option to return one or more result sets.

NonQuery - Use this option to run DML statements like INSERT, UPDATE or DELETE statements or perform database catalog operations such as create tables.

[2022-10-27 10:29] Naveenommi-MSFT commented on #100482
@cindyweng

Thanks for reporting this! We have created a PR for this issue and the changes should go live soon.

[2022-10-27 10:38] AdmiralTolwyn opened #100563 "CustomizerName renamed to Name"
Under ImgCustomParams01 CustomizerName should be just Name:

Example:

`Name = 'settingUpMgmtAgtPath'`
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: c0b40c35-05a3-a82d-a887-d393fff29536
* Version Independent ID: 607c9388-c173-882c-cc45-bb0a8b5ac1ac
* Content: [Create a Windows VM with Azure VM Image Builder by using P

[2022-10-27 10:39] RamanathanChinnappan-MSFT commented on #100486
@madiepev

Thanks for reporting this! We have created a PR for this issue and the changes should go live soon.

[2022-10-27 10:44] Naveenommi-MSFT commented on #100447
@mssaperla

Could you please check and add your comments on this, update as appropriate.

[2022-10-27 10:45] Naveenommi-MSFT commented on #100447
@joeldewaternn

Thank you for bringing this to our attention. I've assigned this issue to the author who will investigate and update as appropriate.

[2022-10-27 10:48] SadiqhAhmed-MSFT commented on #100506
@richard-artes Could you please elaborate your question that might help us take appropriate action.

[2022-10-27 10:52] RamanathanChinnappan-MSFT commented on #100519
@saveenr

could you please review this and update as appropriate.

![image](https://user-images.githubusercontent.com/110973511/198265672-c9a08ded-750e-4496-963c-ed9496b514bf.png)

[2022-10-27 10:52] RamanathanChinnappan-MSFT commented on #100519
@cwnoyes

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-10-27 10:56] AnuragSingh-MSFT commented on #100347
@maskati, thank you for the detailed explanation and sample. Please allow us some time to get back on this.

[2022-10-27 10:57] Venkateshdodda-MSFT commented on #100468
@Turbofroggy Thanks for quick response. Transferring the custom domain from another registrar to Azure App service domain is not supported as mentioned here in [this documentation](https://azure.github.io/AppService/2021/09/22/2021-Managing-ASD.html) as well.
The docs you're referring, it looks like you're looking to map your existing domain to WebApp, by creating the dns zone and delegating the d

[2022-10-27 10:57] ManoharLakkoju-MSFT commented on #100308
@Jeremyp87
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation

[2022-10-27 10:57] #100308 closed

[2022-10-27 11:07] shaktisingh-msft commented on #100554
Hi @seesharprun,

Could you please look into this document enhancement request. Thanks

[2022-10-27 11:09] #99752 closed

[2022-10-27 11:11] picotron84 opened #100565 "Please add information about the possibilities or lack of possibilities to set or influence access keys"
Can the access keys be set in any way either using a function or directly writing a field/property? Is it for example possible that we set our own access key instead of a generated one? Use cases would be for example systems/applications that do not support 512-bit passwords or in cases where the key rotation was accidental and needs to be reversed.

---
#### Document Details

⚠ *Do not edit this

[2022-10-27 11:11] v-hgampala commented on #100516
@tjarrettveracode, Thanks for raising the issue!!
If you want to edit the article, please click on the edit icon at top of the article page and create a PR for it.
<img width="703" alt="image" src="https://user-images.githubusercontent.com/102347245/198269316-ab71ac16-6159-43db-8adf-621fac8a8b94.png">
and please share that pull request with us for review.

[2022-10-27 11:16] v-hgampala commented on #71590
#please-close

[2022-10-27 11:17] #71590 closed

[2022-10-27 11:27] KapilAnanth-MSFT commented on #100549
@kungfudante , Thank you for your feedback. We'll review this and get back to you shortly!

[2022-10-27 11:31] KapilAnanth-MSFT commented on #100551
@MartinSGill, Thank you for your feedback. We'll review this and get back to you shortly!

[2022-10-27 11:33] SaibabaBalapur-MSFT commented on #100563
@AdmiralTolwyn
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-27 11:33] lightupdifire opened #100566 "Google federation"
Hello,

Can you please add an explanation in the document of what kind of Google API must be created?
Like can we create it from any Personal Gmail account?
Or should it be linked to Google-managed business accounts?
Or what?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 6ed01893-a5cd-28bd-b865-e7ebe5870567
* Version

[2022-10-27 11:35] SaibabaBalapur-MSFT commented on #100556
@AdmiralTolwyn
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-27 11:48] v-hgampala commented on #82816
Updating the document.
#please-close

[2022-10-27 11:48] #82816 closed

[2022-10-27 11:54] SaibabaBalapur-MSFT commented on #100563
Thank for your contribution @AdmiralTolwyn
Thanks for reporting this! We have created a PR for this issue and the changes should go live soon.

[2022-10-27 11:55] SaibabaBalapur-MSFT commented on #100556
Thank for your contribution @AdmiralTolwyn
Thanks for reporting this! We have created a PR for this issue and the changes should go live soon.

[2022-10-27 12:04] v-hgampala commented on #82817
Updating the document.
#please-close

[2022-10-27 12:04] #82817 closed

[2022-10-27 12:08] stimms opened #100569 "Compatibility matrix missing entries for Windows 2022"
The compatibility matrix at https://learn.microsoft.com/en-us/azure/backup/backup-azure-restore-files-from-vm?WT.mc_id=Portal-Microsoft_Azure_Support#step-3-os-requirements-to-successfully-run-the-script does not have entries in it for Windows 2022. That should be added by the team even if it happens to be the same as previous entries.

---
#### Document Details

⚠ *Do not edit this section. It is

[2022-10-27 12:10] SwathiDhanwada-MSFT commented on #100555
@furu2022 Thanks for your feedback.

Assigning to content author @AbbyMSFT  for review.

[2022-10-27 12:21] manschoe commented on #22676
We're having the same problem. Downscaling via the UI immediately deletes the node (aks version: 1.23.8)

[2022-10-27 12:23] epomatti commented on #100412
@MayankBargali-MSFT yeah I noticed that from the APIs when digging around later.

Perhaps it would be helpful to also modify the doc to make it slightly more explicit. Some paragraphs say it is "available for Premium", that's where I got confused.

[2022-10-27 12:27] knicholson0 commented on #100526
@ManoharLakkoju-MSFT I'm sorry, I don't think you're following what I've described. The article is incomplete. There are steps the user must take after clicking Download. The user is presented with several different CSV files to download. It would be helpful to have an explanation of the different files, reducing the load on Azure portal when users may select just the file they need.  Have you tri

[2022-10-27 12:41] seesharprun commented on #100554
@bert2, thanks for reaching out. I have created another example that will illustrate the difference between using milliseconds and the actual seconds in the timestamp field.

Once that change is in our publishing pipeline, this issue will auto-close.

[2022-10-27 12:44] epomatti commented on #100411
@MayankBargali-MSFT ok got it the cluster part. All-active within a failure domain.

From this comment https://github.com/MicrosoftDocs/azure-docs/issues/12296#issuecomment-424885185 I can see it matches the primary and secondaries part.

[2022-10-27 12:49] v-hgampala commented on #84737
working on it.
#please-close

[2022-10-27 12:49] #84737 closed

[2022-10-27 12:59] seesharprun commented on #100261
It looks like this may be a bug with either the SDK or the server-side service. I went ahead and opened a bug in the Azure SDK for .NET repository:

https://github.com/Azure/azure-sdk-for-net/issues/32058

Since we don't have an action item right now in the docs, I will close this issue. I will revisit this issue once we get some feedback from the Azure SDK for .NET team or the service team.

#ple

[2022-10-27 12:59] #100261 closed

[2022-10-27 13:01] ctimonjr commented on #100362
That's all well and good, but I also need to know if a customer can alter the Severity of the alerts on their own.  If that is allowed, how is that accomplished.

[2022-10-27 13:17] v-hgampala commented on #87286
@dhivyagana, please suggest the valid requirements to update the document as per this issue.

[2022-10-27 13:23] v-hgampala commented on #91339
#please-close

[2022-10-27 13:36] mumurug-MSFT commented on #100550
@richardissimo Thanks for the feedback and sorry for the experience. We will review and update as appropriate.

[2022-10-27 13:36] v-hgampala commented on #95751
@dhivyagana, Will you please review this issue?

[2022-10-27 13:37] v-hgampala commented on #96687
updating the document.
#please-close

[2022-10-27 13:37] #96687 closed

[2022-10-27 13:39] v-hgampala commented on #97517
Updating the document.
#please-close

[2022-10-27 13:39] #97517 closed

[2022-10-27 13:41] AjayBathini-MSFT commented on #100542
@badsector-82
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-10-27 13:44] Bananenbieger1234 opened #100573 "How to set a Custom Domain Name with "Managed Certificate". CLI Tutorial missing."
Hello,

I am missing some tutorial about how to set up the custom domain with the preview feature "managed certificate".

[Managed Certificate](https://learn.microsoft.com/en-us/azure/api-management/configure-custom-domain?tabs=managed#set-a-custom-domain-name---portal)

Thx.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

*

[2022-10-27 13:47] lmoloney opened #100574 "Azure Data Factory URL missing"
adf.azure.com is missing from this document and should be added.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: d8336877-da93-ecd6-829a-0cc068caaf29
* Version Independent ID: 1e70f094-f220-92c6-7e5b-cfaf071101d5
* Content: [Allow the Azure portal URLs on your firewall or proxy server - Azure portal](https://learn.micr

[2022-10-27 13:52] SadiqhAhmed-MSFT commented on #100569
@stimms Thank you for your post. We will review it with content team and get back to you soon.

[2022-10-27 13:53] somarnebur opened #100575 ""Reverse DNS is currently not supported for the Azure App Service and Application Gateway.""
Documentation says Azure App Service and Application Gateway, but does not mention other PaaS services like Azure Firewall, where issue is also observed.

Could you please update it?

Although it's possible to workaround in scenarios, where rDns is created before attaching IP to the PaaS service

Kind Regards
Ruramos

[2022-10-27 13:57] pauljewellmsft commented on #100538
Thanks so much for your feedback. In this particular example, the catch on `DirectoryNotFoundException` is intended to handle the scenario when attempting to download a blob to a non-existent _directory_. You are correct that attempting to download a non-existent _blob_ will throw `RequestFailedException`. It's helpful feedback, and I will add an item to our backlog to consider how these catch blo

[2022-10-27 13:57] #100538 closed

[2022-10-27 14:07] mumurug-MSFT commented on #100558
@AnandKatta Thanks for reaching out and posting the question. We will review and update you.

[2022-10-27 14:09] Pengcici opened #100576 "Add billed separately product list by inserting a link"
Hello team

There are 1,600 EA billed separately products，but we only list several examples on public document. The information seems way to less. Is it possible we publish the full list？
I noticed the RI team use the blob storage to share the "instance size flexibility ratio" file. That may be a good way to do it.

https://learn.microsoft.com/en-us/azure/virtual-machines/reserved-vm-instance-size

[2022-10-27 14:17] bmansheim commented on #100362
@ctimonjr I don't think it is allowed, but support can give you the official answer.

[2022-10-27 14:19] vml-aledonne opened #100579 "On browsing, "You do not have permission to view""
When I get to the "browse" step, instead of seeing the web app, I get a plain page with:
"You do not have permission to view this directory or page."

is there a permissions step missing somewhere?

best wishes.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: f6e39b7e-89ef-65ea-8174-6739e50da1b4
* Version Independent I

[2022-10-27 14:28] spottedmahn opened #100580 "Benefits of running out-of-process"
I was skimming/reading this page and then I got to this header:

So does "Isolated process" equal "out-of-process"?  🤔  I would think so.  I would assume so but it would be beneficial to quickly see that.  Maybe it's just me though 🤷‍♂️.

---

**reference:** current start of this doc page:

![image](https://user-images.githubusercontent.com/14079228/198299572-330caef0-da26-40a0-8703-990a4c88a5c6.p

[2022-10-27 14:30] KrishnaG-MSFT commented on #100441
@Jvekka We have verified and updated the document as required. The update will go live in less than 24 hours. Thanks again!

[2022-10-27 14:30] #100441 closed

[2022-10-27 14:38] seesharprun commented on #100261
We just got a response in the Azure SDK for .NET repo that Azure AD is not supported with Azure Cosmos DB for Table. The how-to guide was errant and the errant section is being immediately removed from the guide. Thank you for your patience.

[2022-10-27 14:51] SatishBoddu-MSFT commented on #100280
Hello @sekharkumar, Could you please let us know if you were able to access the storage account via Storage explorer tool? and able to create containers and upload blob files?

[2022-10-27 14:58] dknappettmsft commented on #99919
Hi @gflaz84 - the agent updates itself automatically. In this article (https://learn.microsoft.com/en-us/azure/virtual-desktop/agent-overview#agent-update-process) it says:

"...the initial version of the Azure Virtual Desktop agent, the agent will regularly query the Azure Virtual Desktop service to determine if there’s a newer version of the agent, stack, or monitoring agent available. If a newe

[2022-10-27 15:02] gflaz84 commented on #99919
It doesn't make sense to install older versions when a newer one is
available. It delays the deployment process to wait for the update to
happen. In the case of pools where the agent update is scheduled, the
schedule has to be adjusted if new hosts are deployed outside of that
window.

Is there some reason the agent download link isn't being updated anymore?
It seems strange to me that it was bein

[2022-10-27 15:11] dknappettmsft commented on #99864
Hi @hoyapark - in this article, the section 'Client connection sequence' details the steps for this, including step 7 "...and establishes the secure TLS 1.2 connection to the closest Azure Virtual Desktop gateway instance and passes the connection information". In addition, the diagram shows that the network traffic between session host and RD Gateway isn't going over the public internet.

[2022-10-27 15:19] MicrosoftGuyJFlo commented on #96994
Updated doc with more details.

[2022-10-27 15:19] #96994 closed

[2022-10-27 15:22] MicrosoftGuyJFlo commented on #99302
Taking internal... #please-close

[2022-10-27 15:22] #99302 closed

[2022-10-27 15:47] HeidiSteen commented on #100488
@danglund, I read it as the whitespace analyzer will parse the emoji and the language analyzer will parse the currency symbol, but  it doesn't say that the language analyzer will parse the emoji.  It's not trying to say that the whitespace analyzer and language analyzers do the same thing.  I'll make that clear in a doc update today.

#please-close

[2022-10-27 15:47] #100488 closed

[2022-10-27 15:53] seesharprun commented on #99873
@acidrod, we are starting the work to update this tutorial now.

It will use .NET 6 and ASP.NET.

[2022-10-27 16:06] adamkielar commented on #98433
@vhorne, did you get a chance to test it ? After my tests this endpoint is still wrong...`testmaliciousdomain.eastus.cloudapp.azure.com`

[2022-10-27 16:07] santhoshbomma9 opened #100584 "How can do a restore from existing backup through ARM template on Postgres"
How can do a restore from the existing backup through ARM template on Postgres? any information this would be helpful.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: a5fb975c-0f52-f895-43ed-4c8a8db312c1
* Version Independent ID: 6e5d6099-254b-3905-d1f2-a809c33b1d93
* Content: [Quickstart: Create an Azure DB for Postgr

[2022-10-27 16:09] dlightfoot61 opened #100585 "Azure App Configuration Push doesn't exist"
The task described in this article ("Azure App Configuration Push") doesn't exist

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 0e1bd2ea-0594-5d07-2dbe-b5d9b0339e98
* Version Independent ID: dcacbdc8-722a-9acd-e5b8-f2fa9464bb6e
* Content: [Push settings to App Configuration with Azure Pipelines](https://learn.microso

[2022-10-27 16:12] mike-urnun-msft commented on #100272
@elisebsm, great!

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-10-27 16:12] #100272 closed

[2022-10-27 16:21] mike-urnun-msft commented on #100580
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-10-27 16:23] davidcwhitney commented on #94954
Hi, Ken --

Plese forgive me, it was so long ago I do not recall.  IIRC I followed the
instructions in the Microsoft Learn lab, and the documentation said
underscores were allowed.  When I took the underscore out, it worked.
That's why I raised the issue.

Thanks,

David

On Wed, Oct 26, 2022 at 11:45 AM Ken Wang ***@***.***> wrote:

[2022-10-27 16:28] omondiatieno commented on #97983
#please-close

[2022-10-27 16:28] #97983 closed

[2022-10-27 16:35] MayankBargali-MSFT commented on #100412
@epomatti Sure. For now, I will go ahead and close this issue and will update screenshot and doc enhancement on the issue MicrosoftDocs/azure-docs#100411

CC: @spelluru

[2022-10-27 16:35] #100412 closed

[2022-10-27 16:36] MayankBargali-MSFT commented on #100411
@epomatti I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-10-27 16:46] MsGabsta commented on #100385
@SaibabaBalapur-MSFT and @ericd-mst-github I am reviewing this.

[2022-10-27 16:52] kevindenham commented on #49033
I believe the labeling in the Azure Portal needs to be a bit more explicit about what these two lists represent. The inclusion of the word "Additional" is a inaccurate because they're not additions to list above. As the tool-tip states, the second group is ALL outbound IPs. Having the word "Additional" represents a risk of administrators breaking IP restriction lists by the inclusion of the same I

[2022-10-27 16:53] VitalyMCT opened #100586 "Outbound multi-tenant IPs: Are they up to date on this page?"
We are seeing many differences in the ranges listed on this page vs. the ones in the official Azure IP Ranges JSON. For example, for Canada Central on this page:

![image](https://user-images.githubusercontent.com/1765732/198351540-d6785d39-2cc2-4da4-ba35-de9570527624.png)

vs. the latest [Azure IP Ranges and Service Tags – Public Cloud](https://www.microsoft.com/en-us/download/details.aspx?id=565

[2022-10-27 16:56] AjayBathini-MSFT commented on #100559
@aikearney
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-27 17:00] AjayBathini-MSFT commented on #100560
@cveld
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-27 17:05] AjayBathini-MSFT commented on #100561
@vikyol
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-27 17:06] AjayBathini-MSFT commented on #100562
@wlitheng
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-27 17:08] AjayBathini-MSFT commented on #100565
@picotron84
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-27 17:09] AjayBathini-MSFT commented on #100566
@lightupdifire
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-27 17:11] AjayBathini-MSFT commented on #100573
@Bananenbieger1234
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-27 17:13] AjayBathini-MSFT commented on #100574
@lmoloney
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-27 17:14] AjayBathini-MSFT commented on #100575
@somarnebur
It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!!

[2022-10-27 17:16] sarahsnow-msft commented on #99850
@santhoshb-msft

**Is the 90-day applicable to existing customers only or new customers too?** The 90 day policy is appliable to both new and existing customers. For contract-based offers, existing customers maintain their contract price for the length of the term. On renewal, their contract will us the price in effect at that time. ([Link here](https://learn.microsoft.com/en-us/azure/marketplace/

[2022-10-27 17:18] AjayBathini-MSFT commented on #100579
@vml-aledonne
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-27 17:19] HeidiSteen commented on #100488
@danglund  Here's the update:  https://learn.microsoft.com/en-us/azure/search/query-simple-syntax#special-characters   Let me know if you have more feedback??

[2022-10-27 17:21] AjayBathini-MSFT commented on #100584
@santhoshbomma9
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-27 17:22] SadiqhAhmed-MSFT commented on #100576
@bandersmsft For insights

[2022-10-27 17:23] AjayBathini-MSFT commented on #100585
@dlightfoot61
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-27 17:24] jasongroce commented on #99850
Thanks @sarahsnow-msft ! #please-close

[2022-10-27 17:25] #99850 closed

[2022-10-27 17:25] AjayBathini-MSFT commented on #100586
@VitalyMCT
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-27 17:28] AjayBathini-MSFT commented on #100557
@arseyam
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-10-27 17:33] AjayBathini-MSFT commented on #100379
@pk-orange
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-10-27 17:33] #100379 closed

[2022-10-27 17:44] seligj95 commented on #100312
I'm getting the same error, will follow up with the CLI team

[2022-10-27 17:45] spelluru commented on #100412
I have removed the screenshot in this section as it's not necessary and added clarification.
https://learn.microsoft.com/en-us/azure/service-bus-messaging/service-bus-geo-dr#availability-zones

[2022-10-27 17:47] spelluru commented on #100411
@epomatti - Thanks very much for the feedback. I have updated the first few paragraphs to make this clearer. I also updated screenshots in this article, removed a screenshot from the Availability Zones section, and added clarification about the default AZ support in that section.

#please-close

[2022-10-27 17:47] #100411 closed

[2022-10-27 17:52] Greg-Hitchon opened #100588 "'Dependency injection in entity classes' Snippet should have async function"
The snippet:

[code]
should be:
[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 3799266d-bc0a-63f0-b67a-bc182d37667a
* Version Independent ID: b768cbf4-c572-58d9-d5e2-1d067e9bba5e
* Content: [Developer's Guide to Durable Entities in .NET - Azure Functions](https://learn.microsoft.com/en-us/azure/azure-functions/d

[2022-10-27 18:09] tripflex commented on #6371
I'm getting this error trying to use pgloader, my username and password are encoded and it specifically gives me this error:

[code]

Is this an issue with Azure not seeing the encoded value and parsing it as an @ sign?? @NavtejSaini-MSFT ?

[2022-10-27 18:15] TerryLanfear commented on #43360
Shared Responsibility model is being updated in FY23. Issue will be addressed as part of that update.

#please-close

[2022-10-27 18:15] #43360 closed

[2022-10-27 18:18] dlightfoot61 commented on #100585
Actually, I see it's in the marketplace and not in there by default. You might want to note that in the article.

[2022-10-27 18:18] dlightfoot61 commented on #100585
Or make it in the available list by default (even better).

[2022-10-27 18:22] spelluru commented on #100550
Linking to https://learn.microsoft.com/en-us/azure/service-bus-messaging/authenticate-application#azure-built-in-roles-for-azure-service-bus where the three Service Bus RBAC roles are defined. For a quickstart, this should be good enough. Thanks.

[2022-10-27 18:34] JimThorstad opened #100591 "Premium requirement is not stated accurately"
On this page there is the bullet up top: "Your Azure Databricks account must be on the [Premium plan](https://azure.microsoft.com/pricing/details/databricks/)."

But its not the Account where Standard/Premium is defined; the pricing tier is defined in Azure on the Workspace level. Thus one Workspace can be Standard and another might be Premium (this is how customers move to UC... by making a new w

[2022-10-27 18:41] TerryLanfear commented on #41681
Effective December 31, 2022, the Microsoft Security Code Analysis (MSCA) extension will be retired and content archived.

#please-close

[2022-10-27 18:41] #41681 closed

[2022-10-27 18:45] TerryLanfear commented on #42767
Effective December 31, 2022, the Microsoft Security Code Analysis (MSCA) extension will be retired and content archived.

#please-close

[2022-10-27 18:45] #42767 closed

[2022-10-27 18:49] TerryLanfear commented on #47010
This content has been archived and is no longer being updated.

#please-close

[2022-10-27 18:49] #47010 closed

[2022-10-27 18:51] TerryLanfear commented on #47360
This content has been archived and is no longer being updated.

#please-close

[2022-10-27 18:51] #47360 closed

[2022-10-27 18:52] TerryLanfear commented on #51180
This content has been archived and is no longer being updated.

#please-close

[2022-10-27 18:52] #51180 closed

[2022-10-27 18:58] TerryLanfear commented on #66250
Please see sukhans last comment.
Effective December 31, 2022, the Microsoft Security Code Analysis (MSCA) extension will be retired and the content archived.

#please-close

[2022-10-27 18:58] #66250 closed

[2022-10-27 19:00] TerryLanfear commented on #67427
Effective December 31, 2022, the Microsoft Security Code Analysis (MSCA) extension will be retired and the content archived.

#please-close

[2022-10-27 19:01] TerryLanfear commented on #74490
Please see sukhans last comment.
Effective December 31, 2022, the Microsoft Security Code Analysis (MSCA) extension will be retired and the content archived.

#please-close

[2022-10-27 19:01] #74490 closed

[2022-10-27 19:08] TerryLanfear commented on #12760
This article has been retired.

#please-close

[2022-10-27 19:08] #12760 closed

[2022-10-27 19:12] TerryLanfear commented on #14545
This issue has been fixed.

#please-close

[2022-10-27 19:12] #14545 closed

[2022-10-27 19:18] mumurug-MSFT commented on #100573
@Bananenbieger1234 You can try `az apim update` command as suggested in [SO ](https://stackoverflow.com/a/64855163/19618963)thread with "certificateSource": "Managed" and with "type": "Proxy" (for Gateway). Refer [HostnameConfiguration](https://learn.microsoft.com/en-us/rest/api/apimanagement/current-preview/api-management-service/update?tabs=HTTP#hostnameconfiguration) for the properties info.

@

[2022-10-27 19:20] EBlanchard63 opened #100595 "Better Description of Principal ID"
Hello,
did it's possible to precised the description of the field principal ID :

properties.principalId | string | The principal id of the user to whom the role was assigned.

a better description is : The principal id(Object ID) of the Entreprise APP to whom the role was assigned

i lose a lot of time to try with the App Registration Object ID every time that i need to use this API

Thank you by

[2022-10-27 19:27] epomatti commented on #100412
This looks great, thanks

[2022-10-27 19:33] DeanGross opened #100596 "Role for managing plan"
Please add information about what role is needed to change or cancel a purchased plan
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: d7f5fdf9-4250-6b2e-8cf4-d270e8e6c94d
* Version Independent ID: 3284cb1b-315f-76dd-2d4b-5022e8729d97
* Content: [Get started with Microsoft Defender for IoT - Microsoft Defender for IoT](h

[2022-10-27 19:35] wangyuantao opened #100597 "Python SDK sample code out-dated for summarization"
On this page: https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/cognitive-services/language-service/summarization/includes/quickstarts/python-sdk.md

The sample code is legacy tasks format

[code]

The legacy format still works for back compat, but no longer recommended.

Please update to the latest format in this document:
https://learn.microsoft.com/en-us/azure/cognitive-services/la

[2022-10-27 19:55] brsieff commented on #100517
Apologies, this was in reference to: https://learn.microsoft.com/en-us/azure/active-directory/external-identities/cross-tenant-access-settings-b2b-collaboration

[2022-10-27 20:08] kclayson opened #100598 "Set-AZVMOperatingSystem"
The Set-AzVM Command is referend under Enable automatic VM guest patching section, stating to Edit the patch settings  using the following command:
Set-AzVMOperatingSystem -VM $VirtualMachine -Windows -ComputerName $ComputerName -Credential $Credential -ProvisionVMAgent -EnableAutoUpdate -PatchMode "AutomaticByPlatform

This command is only intended for use at time of Creation as per the command d

[2022-10-27 20:20] mattfrear commented on #100538
Thanks for the explanation @pauljewellmsft . I misunderstood the comment in the code - I confused container name with directory.

[2022-10-27 20:22] MicrosoftGuyJFlo commented on #98745
#label:"awaiting-product-team-response"

[2022-10-27 20:22] MicrosoftGuyJFlo commented on #98745
@SanDeo-MSFT Thoughts?

[2022-10-27 20:29] TerryLanfear commented on #77652
This issue is fixed in the online article.

#please-close

[2022-10-27 20:31] maggiojoe2 opened #100599 "Batch Processing Kit Rest Endpoint Submit"
The documentation on how to use the "/submit" endpoint feels lacking here. There is no information on what is required to submit a request to the container. Simply submitting a post request returns a bad request response

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 6de8a255-65d6-13a5-2fc1-513877fdfacd
* Vers

[2022-10-27 20:34] mcdonamw commented on #30719
I just ran into this issue and couldn't for the life of me understand why I could not save a query from the resource > logs view.

[2022-10-27 20:37] appliedcognetics opened #100600 "Possible documentation error, missing direction on the admin account to select in data policy setup"
I think there is something missing in the documentation
In this section

https://learn.microsoft.com/en-us/azure/purview/how-to-policies-data-owner-azure-sql-db#configure-the-azure-sql-database-for-policies-from-microsoft-purview

There is no direction on what to set the admin use to. I assume the admin has to be set to the Purview Managed Identity account.

Also this section ... if this the only

[2022-10-27 20:46] dlepow commented on #100573
@Bananenbieger1234 - Thanks for the feedback. I've captured your request to add Azure CLI configuration steps  for our next update of this article. In the meantime I hope that the Azure CLI example in the community content in Stack Overflow referred to above is helpful. According to our usual process I'll now proceed to close this item. If you wish to continue the discussion please feel free to op

[2022-10-27 20:46] #100573 closed

[2022-10-27 21:04] craigbeeremct opened #100602 "Update password complexity description"
Replace:
The password must be at least eight characters long, with two of the following three elements: letters, numbers, and symbols.
With:
The password must be at least eight characters long, with all four of the following elements: uppercase letters, lowercase letters, digits, and symbols.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub i

[2022-10-27 21:11] maulikshah23 commented on #100219
@kjohn-msft , can you please assist in answering the questions above?

[2022-10-27 21:26] JimacoMS4 commented on #100189
Hi @sekharkumar  -- thanks for your question.

You're correct, the topic shows how to update **reported** properties from a device. To update **desired** properties from the backend, you need to use the `('azure-iothub').Registry` object. You can find a sample in the SDK here: https://github.com/Azure/azure-iot-sdk-node/blob/main/service/samples/javascript/module_twin.js

Please let me know if thi

[2022-10-27 21:49] originalnetadmin opened #100604 "Values not provided for rsize and wsize in cluster configuration"
In "Installing SAP NetWeaver ASCS/ERS" section, steps 2 and 4 do not provide the rsize and wsize options, as per ANF guidelines (https://learn.microsoft.com/en-us/azure/azure-netapp-files/performance-linux-mount-options), when setting up the filesystem resource.

The text in <b>bolded</b> type needs to be added to the steps as specified below.

In step 2:
\# If using NFSv3
sudo pcs resource create

[2022-10-27 22:03] rohitnayakmsft commented on #100527
As documented, Sql Db Gateway only uses port 1433 ( Proxy) + 11000-11999( Redirection). There are other ports used by Mysql and Postgresql since they share the Control plane infrastructure, but these are documented as well.

[2022-10-27 22:09] spelluru commented on #100550
Added the info.
https://learn.microsoft.com/en-us/azure/service-bus-messaging/service-bus-dotnet-how-to-use-topics-subscriptions?tabs=passwordless%2Croles-azure-portal%2Csign-in-azure-cli%2Cidentity-visual-studio#azure-built-in-roles-for-azure-service-bus

#please-close

[2022-10-27 22:09] #100550 closed

[2022-10-27 22:29] ggailey777 commented on #100580
@spottedmah thanks for your question. Yes, isolated worker process runs out-of-process, so they are the same thing. We're working on cleaning this up for clarity.

cc. @cloudmelon

[2022-10-27 22:48] 99Edorde commented on #99342
You

[2022-10-27 23:02] DerekHerman-MSFT opened #100606 "instructions unclear for Job templates"
This step fails unless fgrp-ffmpeg-input container exists in the storage account.  See Q&A issue. https://learn.microsoft.com/en-us/answers/questions/1064844/index.html

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: aa4764ae-47a1-2764-98a1-b34f32c9e17e
* Version Independent ID: 7e02c746-ab94-6845-936e-95396cf29738
* C

[2022-10-27 23:10] ntn-rjdn opened #100607 "Information about how aws credentials (access key/secret) are handled would be useful"
[Enter feedback here]

Information about how aws credentials (access key/secret) are handled would be very useful.
Also when would azcopy officially support aws temporary credentials - AWS_SESSION_TOKEN (along with AWS_ACCESS_KEY_ID and AWS_SECRET_ACCESS_KEY)
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 7440c0c4-3fd0

[2022-10-27 23:34] mike-urnun-msft commented on #100588
Thank you for your feedback! We will review and update as appropriate.

[2022-10-28 00:04] kevelife opened #100612 "Microsoft Defender Antivirus can be installed on Server 2012 R2 with the new MDE UA"
With the MDE unified solution on Server 2012 R2, it automatically installs Microsoft Defender Antivirus in Active mode. Should the documentation be changed to reflect that?

Microsoft Defender Antivirus is also available on Windows Server 2012 R2 when onboarded using the [modern, unified solution](https://learn.microsoft.com/en-us/microsoft-365/security/defender-endpoint/configure-server-endpoints

[2022-10-28 00:08] samsp-msft opened #100613 "Its not obvious that secrets are not automatically exposed as environment variables"
* This document doesn't make it clear that the secrets need to be manually mapped into environment variables to be usable by the containers. This should be made clear in the first paragraph. Something like:

---
Azure Container Apps allows your application to securely store sensitive configuration values. Once secrets are defined at the application level, secured values are available to container

[2022-10-28 00:25] TonyGrayCanada opened #100615 "Frustrated by code samples"
While there is great detail here, I can't use it because there's no explanation of how to get the required dependencies, or what namespaces they are in.  It seems like the nuget packages needed to support this code are constantly shifting without warning.  Code that worked for years is suddenly broken because of a simple package upgrade.  Things move around and you just can't find out where any of

[2022-10-28 00:47] ChaitanyaNaykodi-MSFT commented on #100445
@fardarter Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-10-28 02:38] Naveenommi-MSFT commented on #100537
@samyrmoises
Thanks for reporting this! We have created a PR for this issue and the changes should go live soon.

[2022-10-28 02:51] AshokPeddakotla-MSFT commented on #100189
@sekharkumar Please see the above response from Jimaco. Hope it helps.
Let us know if you have any further queries.

[2022-10-28 03:28] jesweare opened #100620 "Note on synonym order does not accurately describe actual behavior"
In the **Notes** section, there is a passage below:

that implies synonym orders would not impact the results of the prediction process.

However, that is not the case; changing the synonym order may create a difference (albeit trivial) in the `confidenceScore` value, given the Q&A pairs, synonyms, and query are all identical.

The Product Team has confirmed that the score difference is expected,

[2022-10-28 03:42] SaibabaBalapur-MSFT commented on #100556
@AdmiralTolwyn
We have created a PR, and change sent to author, once author approved the changes should go live soon.
Thank you.

[2022-10-28 03:42] #100556 closed

[2022-10-28 03:43] SaibabaBalapur-MSFT commented on #100563
@AdmiralTolwyn
We have created a PR, and change sent to author, once author approved the changes should go live soon.
Thank you.

[2022-10-28 03:43] #100563 closed

[2022-10-28 03:54] AjayBathini-MSFT commented on #100591
@JimThorstad
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-28 03:56] AjayBathini-MSFT commented on #100595
@EBlanchard63
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-28 03:57] AjayBathini-MSFT commented on #100596
@DeanGross
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-28 03:59] AjayBathini-MSFT commented on #100597
@wangyuantao
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-28 04:00] AjayBathini-MSFT commented on #100598
@kclayson
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-28 04:01] AjayBathini-MSFT commented on #100599
@maggiojoe2
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-28 04:03] AjayBathini-MSFT commented on #100602
@craigbeeremct
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-28 04:06] AjayBathini-MSFT commented on #100600
@appliedcognetics
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-10-28 04:09] AjayBathini-MSFT commented on #100604
@originalnetadmin
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-28 04:10] AjayBathini-MSFT commented on #100606
@DerekHerman-MSFT
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-28 04:11] AjayBathini-MSFT commented on #100607
@ntn-rjdn
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-28 04:14] AjayBathini-MSFT commented on #100612
@kevelife
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-28 04:17] AjayBathini-MSFT commented on #100613
@samsp-msft
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-28 04:20] AjayBathini-MSFT commented on #100615
@TonyGrayCanada
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-28 04:21] AjayBathini-MSFT commented on #100620
@jesweare
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-28 04:29] eric-urban commented on #100314
@welbornt - I was not able to repro this issue. Do you have more details about your environment or path that might help? I suggest that you also ask via [Q&A](https://learn.microsoft.com/en-us/answers/topics/azure-speech.html).

[2022-10-28 04:51] ManoharLakkoju-MSFT commented on #100526
@knicholson0
I'm going to assign this to the document author so they can take a look at it accordingly

@MarkusVi
Can you please check and add your comments on this doc update request as applicable.

[2022-10-28 04:55] ManoharLakkoju-MSFT commented on #100562
@wlitheng
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

@jimmart-dev
Can you please check and add your comments on this doc update request as applicable.

[2022-10-28 05:11] ManoharLakkoju-MSFT commented on #100607
@ntn-rjdn
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

@normesta
Can you please check and add your comments on this doc update request as applicable.

[2022-10-28 05:18] AjayBathini-MSFT commented on #100518
@dataengineerdeveloper
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-28 05:20] ManoharLakkoju-MSFT commented on #100598
@kclayson
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

@maulikshah23
Can you please check and add your comments on this doc update request as applicable.

[2022-10-28 05:24] AjayBathini-MSFT commented on #100575
@somarnebur
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-28 05:28] kamfaima opened #100621 "publicNetworkAccess parameter doesn't seem to work"
I am trying to create a storage account with public network access disabled using ARM templates as per this screenshot:
<img width="409" alt="image" src="https://user-images.githubusercontent.com/23546392/198508806-9e36f9d4-37d0-4f0b-9f6a-12d28897dfe9.png">

According to the API (https://learn.microsoft.com/en-us/azure/templates/microsoft.storage/storageaccounts) I need to set `publicNetworkAccess

[2022-10-28 05:28] AjayBathini-MSFT commented on #100517
@brsieff
Thank you for your feedback!
Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request] (https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our Q&A forum by posting your issue there

[2022-10-28 05:28] #100517 closed

[2022-10-28 05:30] AjayBathini-MSFT commented on #100606
@DerekHerman-MSFT
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

@harperche
Can you please check and add your comments on this doc update request as applicable.

[2022-10-28 05:34] hiromingithub opened #100622 "Request for adding local specific Payment information for Japan to https://learn.microsoft.com/en-us/legal/pay/japan?source=docs"
Request for adding local specific Payment information for Japan to https://learn.microsoft.com/en-us/legal/pay/japan?source=docs

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 9b4e8220-2dd3-3ce2-b07e-03c793bac520
* Version Independent ID: 5c7ca9c5-205a-66b0-eabe-ccae39ad0d61
* Content: [Pay your Microsoft Customer Agr

[2022-10-28 05:47] hiromingithub commented on #100622
Hi team, thank you for your kind contribution and help to publish information. Would you please review the below change request via this request, as no edit option is available for the impacted page <https://learn.microsoft.com/en-us/legal/pay/japan?source=docs#electronic-funds-transfer>? Kindly let us know if and what more appropriate action is required from our end, thanks.

https://learn.micros

[2022-10-28 05:47] SaibabaBalapur-MSFT commented on #100559
@aikearney
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

@roygara
Can you please check and add your comments on this doc update request as applicable.

[2022-10-28 06:04] YashikaTyagi-MSFT commented on #100459
@JazminRMT
I have assigned the issue to author who will provide further updates.

[2022-10-28 06:08] KapilAnanth-MSFT commented on #100551
@MartinSGill, please use the following for the variable, $par2.

$par2 = @{
    Name = $pls.PrivateEndpointConnections[0].Name
    ServiceName = 'myPrivateLinkService'
    ResourceGroupName = 'CreatePrivLinkService-rg'
    Description = 'Approved'
    PrivateLinkResourceType = 'Microsoft.Network/privateLinkServices'
}

I have also updated the document, the changes should reflect shortly

Thank you

[2022-10-28 06:09] YashikaTyagi-MSFT commented on #100493
@jadzdtc
I have assigned the issue to author who will provide further updates.

[2022-10-28 06:09] #100551 closed

[2022-10-28 06:25] YashikaTyagi-MSFT commented on #100505
@pascalgaleazzi
Could you provide more details about the outdated module so that we can work towards enhancement of the document.

[2022-10-28 06:29] YashikaTyagi-MSFT commented on #100531
@ruaden94
Thanks for your feedback! We have assigned the issue to author who will provide further updates.

[2022-10-28 06:30] YashikaTyagi-MSFT commented on #100566
@lightupdifire
Thanks for your feedback! We have assigned the issue to author who will provide further updates.

[2022-10-28 06:35] Naveenommi-MSFT commented on #100518
Hi @dataengineerdeveloper

could you please go through this below links for your reference.

https://learn.microsoft.com/en-us/azure/data-factory/connector-dynamics-crm-office-365?tabs=data-factory#writing-data-to-a-lookup-field:~:text=Copy%20activity%20properties,string%20by%20default.

http://blog.kelvinbytes.com/2020-02-29-dynamics-365-data-sync-with-adf.html#:~:text=ADF%20D365%20connector,by%2

[2022-10-28 06:38] sakthi-7699 opened #100623 "Microsoft Authenticator TOTP valid for more than 30 seconds"
Hi Team,

We are using AD-B2C for authentication and have implemented custom policy. We have authenticator app as one of the MFA option to login to our application. Microsoft Authenticator App generates the one-time passcode every 30 seconds. However, we are able to login to the application using the old TOTP that's generated before 30 secs.

I have verified checking the validity of the TOTP, but

[2022-10-28 06:40] YashikaTyagi-MSFT commented on #100566
@lightupdifire
Although it is mentioned in the document to use shared team google account but for more clarity i have assigned the issue to author. @msmimart kindly take a look at this
<img width="426" alt="image" src="https://user-images.githubusercontent.com/110381034/198520137-2d1d8dfa-dcc0-4433-842d-ee36412416d1.png">

[2022-10-28 06:42] lightupdifire commented on #100566
@YashikaTyagi-MSFT
But what is security then? We should additionally to Micorosft Licenses and services buy a license for Google services? Like analytics and security monitoring, etc. to protect this specific account to be securely using this service?

[2022-10-28 06:51] felicialobillovilela opened #100624 "Exceeding reserved capacity does not provoke 429"
Hello,

When I read this title 'Exceeding reserved capacity' and then I read the paragraph below, I get the impression that consumption above the reserved capacity will be throttled. I believe this is not correct according to the rest of the section. The paragraph mentions provisioned throughput and what it says is true, but I believe this is not true for reserved capacity.

I think the text shoul

[2022-10-28 07:02] SaibabaBalapur-MSFT commented on #100613
@samsp-msft
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

@craigshoemaker
Can you please check and add your comments on this doc update request as applicable.

[2022-10-28 07:07] qliu95114 commented on #95164
I agree, we test internally and confirm traffic encapsulated with the service endpoint or private endpoint, it does not need guest-level SNAT as the service endpoint and private endpoint will send the return traffic to the source VM who initiates the connections @ivapplyr  can you check

[2022-10-28 07:14] SaibabaBalapur-MSFT commented on #100604
@originalnetadmin
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

@rdeltcheva
Can you please check and add your comments on this doc update request as applicable.

[2022-10-28 07:36] lightupdifire opened #100625 "New Authentication context"
Hello,

When creating an Authentication context in the Azure portal, there are some IDs
C2,C3... what is that? Can you please add the info to the document?

![image](https://user-images.githubusercontent.com/39700914/198530807-901a0cee-e4a7-406b-985b-938bc3e930af.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 1c6

[2022-10-28 07:38] lightupdifire commented on #100625
Ahh, found it

"ID is read-only and used in tokens and apps for request-specific authentication context definitions. It's listed here for troubleshooting and development use cases."

[2022-10-28 07:38] #100625 closed

[2022-10-28 07:44] ncdlloyd opened #100626 "How do I estimate charges at the account level?"
The link at the bottom of the article for "How do I estimate charges at the account level?" should be updated to reflect that this functionality is now available natively in the Azure portal. Following the link eventually gets you to this page:

https://github.com/Azure/Microsoft-Defender-for-Cloud/tree/main/Workbooks/Microsoft%20Defender%20for%20Cloud%20Price%20Estimation

Which shows that by goi

[2022-10-28 07:46] AnuragSingh-MSFT commented on #100286
@msft-takend, We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2022-10-28 07:46] #100286 closed

[2022-10-28 07:46] AnuragSingh-MSFT commented on #100384
@a-kubicz, We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2022-10-28 07:46] #100384 closed

[2022-10-28 08:12] GitaraniSharma-MSFT commented on #100326
@hsszlll , We have assigned this to the content owner/author to answer your queries.

@duongau , could you please provide some inputs on above?

[2022-10-28 08:18] SaibabaBalapur-MSFT commented on #100565
@picotron84
Azure Storage access key

When we create a storage account, Azure generates and assigns two 512-bit storage access keys to the account. These keys are required for authentication when accessing the storage account. Two access keys are generated, one is the primary access key, and another is the secondary access key. Remember, these keys can be regenerated whenever required. When you ge

[2022-10-28 08:20] fgheysels commented on #99305
Thanks, I'll have a look!

[2022-10-28 08:23] SaibabaBalapur-MSFT commented on #99359
@99Edorde
Could you please elaborate the query for better understanding. So, we can assist you further.

[2022-10-28 08:29] AlexSchwerzmann opened #100628 "Missing SkuId"
Dear Microsoft

Could you please update this doc? It's missing a lot of newer products such as many of the Windows 365 Enterprise performance levels.

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 7c245452-161d-89a1-c026-99a0721cf071
* Version Independent ID: 16dec59a-eb83-1837-4efd-4645e7aeaed2
* Content:

[2022-10-28 08:35] #100574 closed

[2022-10-28 08:35] SwathiDhanwada-MSFT commented on #100574
@lmoloney Thanks for the feedback! I have fixed the referenced change, and the change should reflect on the doc within 24 hours. We will now proceed to close this thread. If there are further questions regarding this matter, please revert and we will gladly continue the discussion.

[2022-10-28 08:36] omondiatieno commented on #98001
#please-close

[2022-10-28 08:36] #98001 closed

[2022-10-28 08:39] SaibabaBalapur-MSFT commented on #100485
@SreejaBhattacharya-MSFT
Please review

[2022-10-28 08:43] YashikaTyagi-MSFT commented on #100317
@HarriJaakkonen
Thanks for contributing towards enhancement of document. We have performed the required changes, once approve by author it will reflect in the document.
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-10-28 08:43] #100317 closed

[2022-10-28 08:48] kspoojary commented on #91693
@SnehaAgrawal-MSFT I am using SearchIndexingBufferedSender , But if there is any error in my document then I am not getting any information of this error. How to find out the failed documents?.

[2022-10-28 09:00] anthonymashford opened #100629 "Feature is currently in Public Preview"
[Enter feedback here]
Hi,

As I understand it this ANF feature is currently in Public Preview. The docs page does not allude to this fact. It might be useful to highlight this on the page.

Regards

Anthony

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: cc1d501f-9474-0d82-da86-a265a9235e7f
* Version Independent ID: 17

[2022-10-28 09:10] SofiiaSov commented on #25280
Hi, its quite difficult to describe in a nutshell how to calculate the cost of a web app. I advise you to read the guides.. For example, this one about [cost to build a web application](https://www.cleveroad.com/blog/web-app-development-cost/).

[2022-10-28 09:16] jyothisuri commented on #100445
@v-ksreedevan pls go through and do the needful. Thanks.

[2022-10-28 09:20] j3ffb opened #100630 "Dead link"
Dead link in page titled Azure Analysis Services Overview which is pointing to https://sec.ch9.ms/ch9/d6dd/a1cda46b-ef03-4cea-8f11-68da23c5d6dd/AzureASoverview_high.mp4

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 04af7f54-ecc8-f44b-e6f4-f91a1076a881
* Version Independent ID: cb4d74d4-383e-67b4-f603-c775a3fea61d
* C

[2022-10-28 09:25] ivansla commented on #15004
I know this thread is closed, but I faced the same issue. Here is how I solved it.
Once you have created your service principle, it will not have Contributor role assigned to it, you need to do it yourself:

1. in search box type subscriptions
2. once on subscriptions page click on your subscription
3. click on access control (IAM)
4. click on Add -> Add Role Assignment
5. choose Contributor then

[2022-10-28 09:25] fardarter commented on #100445
Thanks!

[2022-10-28 09:30] MicroTrendsTom commented on #98709
<TargetFramework>net6.0-windows10.0.17763.0</TargetFramework>
 <PackageReference Include="Azure.Messaging.ServiceBus" Version="7.11.0" />
    <PackageReference Include="Azure.Storage.Files.Shares" Version="12.12.1" />
    <PackageReference Include="CommunityToolkit.Mvvm" Version="8.0.0" />
    <PackageReference Include="Microsoft.AppCenter.Analytics" Version="4.5.3" />
    <PackageReference Includ

[2022-10-28 09:30] #98709 closed

[2022-10-28 09:38] bernatagulloesbrina opened #100631 "It should include a disclaimer that no output value is shown in debug"
it would be helpful to point out that to see the appended value in debug you need a set variable component
regards

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 0624d7c3-613c-9347-c35c-7866c91f63d5
* Version Independent ID: 34cf5ecf-b181-c9e4-e9d9-2e65bbb896bd
* Content: [Append Variable Activity - Azure Data Factory

[2022-10-28 09:43] Amar2810 opened #100632 "Find out Duplicate / Duel "Azure AD Registered" devices"
Hi Team,

We are on boarding "Intune-Hybrid" environment in our domain

Team "Fast Track" has asked to "remove / Find out Duplicate / Duel "Azure AD Registered" devices

Kindly find the reference document
https://learn.microsoft.com/en-us/azure/active-directory/devices/manage-stale-devices

We need script to

1) Identify "Duplicate / Duel "Azure AD Registered" devices"
2) Disabled "Duplicate / Due

[2022-10-28 09:43] shaktisingh-msft commented on #100624
Hi @felicialobillovilela ,

Thanks for sharing this feedback. We will look into this and update as appropriate.

[2022-10-28 09:45] shaktisingh-msft commented on #100624
Hi @seesharprun,

Could you please look into this request. Thanks

[2022-10-28 09:48] Naveenommi-MSFT commented on #100530
@nabhishek
Could you please review this and update as appropriate.

[2022-10-28 09:49] Naveenommi-MSFT commented on #100530
@bernaljo
Thank you for bringing this to our attention. I've assigned this issue to the author who will investigate and update as appropriate.

[2022-10-28 09:54] Harsha-CS commented on #100445
@fardarter can you clarify the ask? There are some queries listed in Traffic Analytics FAQ - https://learn.microsoft.com/en-us/azure/network-watcher/traffic-analytics-faq

[2022-10-28 09:54] v-amallick commented on #99105
@matt961 - we've updated the command in the article in private PR #[216324](https://github.com/MicrosoftDocs/azure-docs-pr/pull/216324); the changes will be live soon. As the doc bug is fixed, closing this issue - #please-close .

[2022-10-28 09:54] #99105 closed

[2022-10-28 10:05] snoa93 opened #100633 "JSON syntax error in example for Data Factory (CI/CD)"
Hi,

I discovered a typo in the JSON example for the _package.json_ in the article **Automated publishing for continuous integration and delivery**

Please see pull request: https://github.com/MicrosoftDocs/azure-docs/pull/100637

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 5b5392af-90b9-8dbb-663d-9ea12defe00e
* Ver

[2022-10-28 10:11] bernatagulloesbrina opened #100634 "Too long for one page and incomplete"
function toString is included in example, but does not have its section
there is some syntax with * * around field names that is not clear when is to be used

in general it's difficult to find your way around it because it's just too long, it should have a whole section of the documentation

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub iss

[2022-10-28 10:12] JanPhill opened #100635 "DECIMAL not supported as return type in user-defined functions in data flow library"
Hi,

when trying to create a user-defined function in a data flow library with a return type of DECIMAL (e.g. from `toDecimal()`) I get the error
'This function currently returns an unsupported type'.

How come this is not possible?

Also, this is currently nowhere mentioned in the docs: https://learn.microsoft.com/en-us/azure/data-factory/concepts-data-flow-udf

Looking forward to your feedback.

[2022-10-28 10:15] johnnythw commented on #99505
Hit exactly the same error
Does anyone know how to add back the missing ddl?
![Azure Migrate Appliance Export Config](https://user-images.githubusercontent.com/112003316/198563785-cf72ea34-5ea0-496e-98a6-ede28ff7cd3f.png)

[2022-10-28 10:18] smithyd2003 opened #100636 "ARMTemplates"
The page shows how to connect to azure, connect to preferred sub, create a resource group, then gives a script to create a blank template but this gives errors and doesnt explain how to set template property's needed for the script to actually run deployment

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 7bf283cd-65c2

[2022-10-28 10:23] Naveenommi-MSFT commented on #100597
@jboback
Could you please review this and update as appropriate.

[2022-10-28 10:24] Naveenommi-MSFT commented on #100597
@wangyuantao
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-10-28 10:27] SumanthMarigowda commented on #100621
@kamfaima
Thanks for your question. We are checking on this and will respond to you soon.

[2022-10-28 10:37] YashikaTyagi-MSFT commented on #100515
@tshaiman
Please use this form to submit your proposal to contribute to [docs.microsoft.com](http://docs.microsoft.com/) (which includes Docs, Learn, Azure Architecture Center, and Cloud Adoption Framework). You'll receive a follow up once submitted to begin the process.
https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbR958mqNUZExPsLDhzSGD8aFUNVBKTFpITkFGR0FWV0U2VVhIWU1EQUcx

[2022-10-28 10:39] SumanthMarigowda commented on #100621
@kamfaima

{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "storage*********ublic_name": {
            "defaultValue": "nestedtestpublic",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Storage/storageAccoun

[2022-10-28 10:39] #100621 closed

[2022-10-28 11:28] rezanid opened #100639 "Typo? Keep in mind the principal of least privilege"
I think in "Keep in mind the principal of least privilege", by "principal" you meant "principle", right? otherwise "principal" might mean the account used for accessing the blob, which would not be clear.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 732eb4b2-7efe-02a0-b905-fe03f9c94e84
* Version Independent ID: 64b0

[2022-10-28 11:32] GitaraniSharma-MSFT commented on #100430
@rverkerk , We have assigned this to the content owner/author for review.

@greg-lindsay , for your review.

[2022-10-28 11:32] maneeshbhunwal123 opened #100640 "possibly a typo in calculating number of spout par exectuor?"
in the below example

the jvm process should be managing **8 spout threads and 64 bolt threads right?** as 32/4=8 and 256/4=64
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: cd89634d-bad6-3b3e-f50a-4d87894ae4f2
* Version Independent ID: fc67a80d-1f16-41ee-1151-aa985517f912
* Content: [Performance tuning - Storm with Az

[2022-10-28 11:37] Naveenommi-MSFT commented on #100599
@eric-urban
Could you please check and add your comments on this, update as appropriate.

@maggiojoe2
Thank you for bringing this to our attention. I've assigned this issue to the author who will investigate and update as appropriate.

[2022-10-28 11:48] GitaraniSharma-MSFT commented on #100478
@byte-sizedk , could you please share the screenshot of POP location abbreviations which do not match with pop_s field in Log Analytics?

[2022-10-28 11:50] nehatiwari1994 opened #100641 "What is the impact of this migration? Downtime etc if user is accessing the eisting avd"
[This document is talking about how to perform the migration but not about the impact of this migration. What will happen, any downtime etc while doing this migration , please mention]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 05c173c6-25ed-3c09-e998-4adbc5e2328b
* Version Independent ID: 28e39222-3696-6fa8-b554-

[2022-10-28 11:52] GitaraniSharma-MSFT commented on #100575
@somarnebur , We have assigned this to the content owner/author for review.

@greg-lindsay , for your review.

[2022-10-28 11:54] Naveenommi-MSFT commented on #100560
Hi @cveld
Could you please go through below links for your reference.

https://learn.microsoft.com/en-us/azure/synapse-analytics/security/how-to-review-synapse-rbac-role-assignments
https://learn.microsoft.com/en-us/azure/synapse-analytics/security/how-to-manage-synapse-rbac-role-assignments

If there are any further questions regarding the documentation, please add screenshots where you get an er

[2022-10-28 11:57] Naveenommi-MSFT commented on #100537
Hi @mssaperla

Could you please review this and update as appropriate.

[2022-10-28 11:58] Naveenommi-MSFT commented on #100537
@samyrmoises

Thank you for bringing this to our attention. I've assigned this issue to the author who will investigate and update as appropriate.

[2022-10-28 11:58] dknappettmsft commented on #94542
Thanks for the feedback - we're not able to explain design choices here in this forum as this is for issues with the article itself and it accurately reflects the behavior here. However, your request to change how this works has been logged for consideration to not use excluded hosts in the calculation for the minimum percentage of session hosts.

#please-close

[2022-10-28 11:58] #94542 closed

[2022-10-28 11:59] dknappettmsft commented on #48406
Thanks for the feedback - this has been added and the change should be visible later today.

#please-close

[2022-10-28 11:59] #48406 closed

[2022-10-28 11:59] dknappettmsft commented on #52799
Closing the loop - this limitation has been added for this scenario and should be visible later today.

[2022-10-28 12:00] dknappettmsft commented on #88703
Thanks for the feedback - I have made a change to how off-peak is defined and the change should be visible later today. Sorry for the confusion. We have also taken your feedback about wanting a max limit you can specify, but that is now with the product group.

#please-close

[2022-10-28 12:00] #88703 closed

[2022-10-28 12:01] dknappettmsft commented on #78621
I've added clarification about Run As accounts vs managed identity to this article. The change should be visible later today.

#please-close

[2022-10-28 12:04] dknappettmsft commented on #99032
I've added clarification about Run As accounts vs managed identity to this article. The change should be visible later today.

#please-close

[2022-10-28 12:04] #99032 closed

[2022-10-28 12:07] AnuragSingh-MSFT commented on #99582
@sabbadino, thank you for the clarification.

Yes, you could do this in `Application_Start()` method of **Global.asax** file. The following sample snippet should help understand it better.

[code]

The `TelemetryConfiguration.Active.SetAzureTokenCredential()` method is used here to update the credential on the active ApplicationInsights configuration - read from config file.

Hope this helps. Plea

[2022-10-28 12:10] dknappettmsft commented on #100641
Hi @nehatiwari1994 - in step 3 of the migration it does say "Virtual machines will be available in both existing and new host pools to avoid user downtime during the migration process. This lets users connect to the same user session."

#please-close

[2022-10-28 12:10] #100641 closed

[2022-10-28 12:21] 99Edorde opened #100642 "@99Edorde"
@99Edorde
Could you please elaborate the query for better understanding. So, we can assist you further.

_Originally posted by @SaibabaBalapur-MSFT in https://github.com/MicrosoftDocs/azure-docs/issues/99336#issuecomment-1264897334_

[2022-10-28 12:24] henkeyyy opened #100643 "Suggestion to add some clarity on the input of the action"
It would be nice if the page contained information that the flat file decoder content needs to be a flat file in UTF-8. I thought that you would be able to send in an application/octet-stream binary content and that the codepage property in the flat file schema would make the decoder understand what input encoding to use to interpret the content. However it always assumes it's content UTF-8 and ig

[2022-10-28 12:25] SaibabaBalapur-MSFT commented on #100642
@99Edorde
Could you please elaborate the query for better understanding. So, we can assist you further.

[2022-10-28 12:29] SaibabaBalapur-MSFT commented on #100639
@rezanid
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-28 12:50] wessm-ms commented on #99505
You would need to install a newer version of PowerShell such as https://learn.microsoft.com/en-us/powershell/scripting/install/installing-powershell-on-windows?view=powershell-7.2#installing-the-msi-package

[2022-10-28 12:54] MMerzinger opened #100644 "Support for Virtual WAN & Azure Firewall DNS Proxy"
Hello

Is there any support to connect a RuleSet to a Virtual WAN Hub, which hosts a Azure Firewall with DNS proxy enabled? If yes, could you describe how to do the setup with the Azure Private Resolver?

Thank you
Marc

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: e527ea3a-8034-ccf3-5a13-6bf555095d23
* Version Indep

[2022-10-28 12:59] AjayBathini-MSFT commented on #100622
@hiromingithub
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-28 13:01] AjayBathini-MSFT commented on #100623
@sakthi-7699
It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!!

[2022-10-28 13:02] mumurug-MSFT commented on #100643
@henkeyyy Thanks for the feedback. We will review and update as appropriate.

[2022-10-28 13:04] AjayBathini-MSFT commented on #100626
@ncdlloyd
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

[2022-10-28 13:05] GitaraniSharma-MSFT commented on #100644
@MMerzinger , thank you for your query. We'll review this and get back to you shortly!

[2022-10-28 13:05] AjayBathini-MSFT commented on #100628
@AlexSchwerzmann
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-28 13:14] AquinoN opened #100645 "DSRegCMD does not appear to require administrator privileges"
In my experience, I do not receive user-based results running DSREGCMD under administrator privileges.  Running under NT Authority\SYSTEM account, the command is not accessible.  I retrieve the most information when run under a standard domain user account, which appears to be the requirement according to the DSREGCMD documentation:
https://learn.microsoft.com/en-us/azure/active-directory/devices/

[2022-10-28 13:26] sabbadino commented on #99582
Yes, now it makes to me ..
Pls update documentation accordingly... Thanks

[2022-10-28 13:31] tanktopSecurity opened #100646 "Misspelling"
Under section "Enable the Temporary Access Pass policy", step 7, in the table, third row, 4th column:

Default values can be **override** by the individual passes, within the minimum and maximum lifetime configured by the policy.

should be

Default values can be **overridden** by the individual passes, within the minimum and maximum lifetime configured by the policy.

---
#### Document Details

⚠

[2022-10-28 13:32] SwathiDhanwada-MSFT commented on #100622
Thanks for your feedback.

Assigning to content author @bandersmsft   for review.

[2022-10-28 13:45] SaibabaBalapur-MSFT commented on #100646
@tanktopSecurity
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-28 13:55] rodrigobrochado opened #100647 "Data disk expand instructions has vanished"
[Enter feedback here]

The old documentation explained how to resize an Virtual Data Disk using `parted`, `e2fsck -f` and `resize2fs` but this instructions are gone. Although they can be found in any place on internet I think it makes sense to have it on Azure docs, so we can be certain to use the recommended way for this Cloud disk provider.

Thanks

---
#### Document Details

⚠ *Do not edit this

[2022-10-28 14:06] MmAtBosch opened #100648 "Geo code mapping should be included in"
[Enter feedback here]
The only place where i can get the azure geo codes is this documentation website afaik.

and it would be great if it would be also listed in the az cli list-locations.
az account list-locations

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 0d8a6981-e627-66b3-2f2e-e4b756008cc3
* Version Independe

[2022-10-28 14:06] lucabovo opened #100649 "Azure Machine Learning integration with Synapse Workspaces --> data exfiltration protection NOT supported because of missing Managed Private Endpoints --> discrepancy between PREREQUISITES and CONFIGURATION GUIDE"
Good morning,
I found a discrepancy in this doc in this paragraph [https://learn.microsoft.com/en-us/azure/machine-learning/how-to-private-endpoint-integration-synapse#prerequisites] where it is said that:
"The Azure Machine Learning integration is not currently supported in Synapse Workspaces with data exfiltration protection"
![image](https://user-images.githubusercontent.com/77054756/198629017-

[2022-10-28 14:25] DeanGross opened #100650 "Which event log records information"
When password protection is enabled in audit mode, where are the events logged? Azure AD log, Windows AD log or somewhere else? What is the best way to review those events, please provide some additional guidance about how to actually do what is recommended.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 23e000f0-84ce

[2022-10-28 14:29] alexbadia1 opened #100651 "Missing Origin of SAML Key File"
Under "Configure Tableau Server SSO," on step "3. On the CONFIGURATION page, perform the following steps:" it references a SAML key file. While the SAML certification file can be downloaded in the previous steps, there is no indication of where to obtain the .key file for the SAML cert.

There's a vague note:

"Customer have to upload A PEM-encoded x509 Certificate file with a .crt extension and a

[2022-10-28 14:32] DeanGross opened #100652 "Old screen shot"
My azure ad tenant shows an SMS(Preview) option, which is different from the Text Message (Preview) screen shot on this page. Please update the documentation to show the correct image.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: b7e90747-a144-01b7-8066-31b31e4eb6aa
* Version Independent ID: 4855c2d8-d647-1ca0-fe5f-

[2022-10-28 14:45] VaclavK opened #100653 "What is the use case for the Cosmos account identities/related page grouping"
This page documents how to enable system managed identity or add user managed identity to Cosmos Account but not what it is for. Such linkage must be inferred from navigation menu rather than page itself. It may be good idea to link it to the use cases documentation (i.e. KV key access)

Also, that this page is group  to https://learn.microsoft.com/en-us/azure/cosmos-db/managed-identity-based-auth

[2022-10-28 14:45] #97528 closed

[2022-10-28 14:49] dknappettmsft commented on #82992
MEM is not supported for this currently as the ADMX (administrative template) doesn't import. We are aware of this and the process will be added to the article (and others) once it is.

#please-close

[2022-10-28 14:49] #82992 closed

[2022-10-28 14:56] dknappettmsft commented on #99013
Hi @jaucay - GitHub issues in this repo aren't for support issues. Please create an Azure support request so this is handled by the correct team. If there are documentation updates that are required as a result of the support case, they'll request changes to be made.

#please-close

[2022-10-28 14:56] AndriusIntellerts opened #100655 "Error in JSON example in Create an Azure pipeline"
Error in JSON example in Create an Azure pipeline in page https://learn.microsoft.com/en-us/azure/data-factory/continuous-integration-delivery-improvements#package-overview

Extra comma in build element causes JSON to be invalid. Proposed change:
`{
    "scripts":{
        "build":"node node_modules/@microsoft/azure-data-factory-utilities/lib/index"
    },
    "dependencies":{
        "@microsoft/

[2022-10-28 14:56] #99013 closed

[2022-10-28 14:59] mmichaels1970 opened #100656 "Incomplete Instructions"
__"To trigger an event, you need to turn on the Delivery Report option of the [SMS that you send](https://learn.microsoft.com/en-us/azure/communication-services/quickstarts/sms/send). Try sending a message to your phone with Delivery Report turned on."__

And how, pray tell, do you turn Delivery Report on?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.

[2022-10-28 15:01] shaktisingh-msft commented on #100653
Hi @VaclavK,

Thanks for sharing this feedback. We will look into this and update as appropriate.

[2022-10-28 15:09] dknappettmsft commented on #91995
Thanks for the feedback - Azure Virtual Desktop is the new name for Windows Virtual Desktop, so these are the same thing. I've clarified the wording though, which should be visible later today.

#please-close

[2022-10-28 15:09] #91995 closed

[2022-10-28 15:13] dknappettmsft commented on #83463
Hi - we have those steps in the article for Agent troubleshooting: https://learn.microsoft.com/en-us/azure/virtual-desktop/troubleshoot-agent#step-1-uninstall-all-agent-boot-loader-and-stack-component-programs

#please-close

[2022-10-28 15:13] #83463 closed

[2022-10-28 15:21] dknappettmsft commented on #94829
Thanks for the feedback - GitHub issues in this repo aren't for support issues. Please create an [Azure support request](https://learn.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). This article has been updated since this was logged with a different process that doesn't require the JSON anymore.

#please-close

[2022-10-28 15:21] #94829 closed

[2022-10-28 15:36] kaheamartin commented on #94829
@dknappettmsft I know that, the intention of this request was to update the docs to include incompatibility information with scale sets. Just to help others that may venture down this road one day.

[2022-10-28 15:50] dknappettmsft commented on #81304
This article no longer exists, but we have it in our backlog to create a new reference for error codes.  I'll close this as the original issue this was logged for (the mismatch) is no longer applicable.

#please-close

[2022-10-28 15:50] #81304 closed

[2022-10-28 15:51] SaibabaBalapur-MSFT commented on #100629
@anthonymashford
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-28 15:53] SaibabaBalapur-MSFT commented on #100630
@j3ffb
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-28 15:56] SaibabaBalapur-MSFT commented on #100632
@Amar2810
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-28 15:58] m365ken commented on #97066
Thanks @seesharprun . Do we know if/when Autoscale will be added to the Python SDK? While using the rest api is an option, creating the Authorization token required by the rest call seems a bit complicated (looking at [this ](https://learn.microsoft.com/en-us/rest/api/cosmos-db/access-control-on-cosmosdb-resources?redirectedfrom=MSDN) article). It would be helpful if they had examples for Python s

[2022-10-28 15:59] SaibabaBalapur-MSFT commented on #100633
@snoa93
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-28 16:00] SaibabaBalapur-MSFT commented on #100634
@bernatagulloesbrina
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-28 16:02] SaibabaBalapur-MSFT commented on #100635
@JanPhill
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-28 16:04] ckarawani opened #100658 "Wrong Casing in .csv (Line 891)"
Product Display Name is wrong casing on line 891:
MICROSOFT 365 DOMESTIC CALLING PLAN (120 Minutes), it should read "Microsoft 365 Domestic Calling Plan (120 Minutes)"

https://download.microsoft.com/download/e/3/e/e3e9faf2-f28b-490a-9ada-c6089a1fc5b0/Product%20names%20and%20service%20plan%20identifiers%20for%20licensing.csv

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2022-10-28 16:04] SaibabaBalapur-MSFT commented on #100636
@smithyd2003
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-28 16:07] SaibabaBalapur-MSFT commented on #100640
@maneeshbhunwal123
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-28 16:08] SaibabaBalapur-MSFT commented on #100645
@AquinoN
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-28 16:10] SaibabaBalapur-MSFT commented on #100647
@rodrigobrochado
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-28 16:12] SaibabaBalapur-MSFT commented on #100648
@MmAtBosch
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-28 16:14] SaibabaBalapur-MSFT commented on #100649
@lucabovo
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-28 16:15] #48671 closed

[2022-10-28 16:16] SaibabaBalapur-MSFT commented on #100650
@DeanGross
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-28 16:17] AshokPeddakotla-MSFT commented on #100189
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-10-28 16:17] #100189 closed

[2022-10-28 16:18] dknappettmsft commented on #77807
Closing this as creating a tenant is no longer an option. We're hoping to remove this article soon.

#please-close

[2022-10-28 16:18] SaibabaBalapur-MSFT commented on #100651
@alexbadia1
Thanks for your feedback! We will investigate and update as appropriate.

Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2022-10-28 16:18] #77807 closed

[2022-10-28 16:19] SaibabaBalapur-MSFT commented on #100652
@DeanGross
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-28 16:21] SaibabaBalapur-MSFT commented on #100655
@AndriusIntellerts
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-28 16:24] SaibabaBalapur-MSFT commented on #100656
@mmichaels1970
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-28 16:25] SaibabaBalapur-MSFT commented on #100658
@ckarawani
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-28 16:31] dknappettmsft commented on #42043
Closing the loop on this - we added the article [Expand an existing host pool with new session hosts](https://learn.microsoft.com/en-us/azure/virtual-desktop/expand-existing-host-pool) in February 2020.

[2022-10-28 16:31] #42043 closed

[2022-10-28 16:36] desireewilliams opened #100659 "Unclear API Endpoint"
All of the documentation and examples start the endpoint description at /kv and there is nothing that indicates what the begining of the endpoint should be. My Assumption was /subscriptions/{subscription-id}/resourceGroups/{resource-group-name}/providers/Microsoft.AppConfiguration/configurationStores/{app-config-store-name}/kv, however all I get back is 404's. Where is this endpoint?

---
#### Doc

[2022-10-28 16:38] SaibabaBalapur-MSFT commented on #100625
@lightupdifire
This case is resolved by customer.

[2022-10-28 16:39] bbrandt opened #100660 "Broken "Edit connection strings in bulk" example syntax"
The example syntax from [Edit connection strings in bulk](https://learn.microsoft.com/en-us/azure/app-service/configure-common?tabs=cli#edit-connection-strings-in-bulk) seems to no longer be valid. If we specify `--connection-string-type` like it asks it puts the context of the entire file into a single value.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for lear

[2022-10-28 16:42] maulikshah23 commented on #100219
@jjindrich apologies for the delayed response. The off-peak hours are subject to a region's timezone. The hours generally rang from 10 PM to 6 AM, however these are subject to change, especially during emergency rollout.

[2022-10-28 16:43] levdavid opened #100661 "Need swagger definition/better interaction examples"
[Enter feedback here]
This page would be much more useful if there was a swagger schema provided as well as more examples on how to interact with the API via postman. when looking for ingestion API swagger, there seems to be only a [non-graph openAPI definition lying around](https://ingestionapi-swagger.azureedge.net/#/) which is no longer documented on azure site nor seems to be functional.

---

[2022-10-28 16:46] vtitte2020 opened #100662 "Incorrect Apache Hive version"
The Apache Hive version for both 4.0 and 5.0 is listed as 3.1.2. This is incorrect.

HDInsight 4.0 Apache Hive version shows as 3.1.0 when deployed.
HDInsight 5.0 Apache Hive version shows as 3.1.0 when deployed.

HDInsight 4.0 version for Apache Hive in Ambari
<img width="323" alt="image" src="https://user-images.githubusercontent.com/63069887/198689618-ee1d2eee-e39a-47c8-a519-a29d8edde292.png">

[2022-10-28 16:50] vtitte2020 opened #100663 "Incorrect Apache Hive version for HDInsight 4.0"
The Apache Hive version HDInsight 4.0 is listed as 3.1.2. This is incorrect.

HDInsight 4.0 Apache Hive version shows as 3.1.0 when deployed.

HDInsight 4.0 version for Apache Hive in Ambari
<img width="323" alt="image" src="https://user-images.githubusercontent.com/63069887/198690512-345ca109-b540-47e2-b94b-fbe224a1cb09.png">

---
#### Document Details

⚠ *Do not edit this section. It is required

[2022-10-28 16:51] garthoid opened #100664 "Mis-titled?"
Does https://learn.microsoft.com/en-us/azure/container-registry/container-registry-get-started-azure-cli#list-container-images actually list image in the registry or just repositories?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 2a23fc33-0447-06f6-c6f0-dd0b4696cc6d
* Version Independent ID: 1a1af0e2-5b46-9261-1406-

[2022-10-28 17:00] vtitte2020 opened #100665 "Apache Spark version is incorrect for HDInsight 4.0"
The Apache Spark version HDInsight 4.0 is includes 3.1. This is incorrect.

Can only deploy 2.4.4.
<img width="292" alt="image" src="https://user-images.githubusercontent.com/63069887/198692160-0a591419-6b6b-4978-8176-091c33b4e2b6.png">

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 6c8918ad-1e5e-7c35-c0cc-40553544c6f

[2022-10-28 17:05] DeanGross opened #100666 "Add Missing Events"
Please add the events associated with activities performed on the Authentication methods-Password Protection page https://portal.azure.com/#view/Microsoft_AAD_IAM/AuthenticationMethodsMenuBlade/~/PasswordProtection, i.e., who created a Banned Password list does not seem to be audited.

Add any other administration actions conducted in the Entra portal - Azure AD, Permissions management, and verifi

[2022-10-28 17:18] v-jbasden commented on #100347
@maskati Thank you for the feedback. I added a warning to the article, which is located a few lines above the video.

#please-close

[2022-10-28 17:18] #100347 closed

[2022-10-28 17:31] shlipsey3 commented on #28378
Hello to those who are following along on this issue! I've recently taken over this content area and am trying to find answers to a few lingering questions. The error code in question from the start of this issue (AADB2C90037) is a generic error code, which I know isn't helpful. In a nutshell, it's triggered by an issue in a different service so the details may not be visible. To troubleshoot the

[2022-10-28 17:37] msmbaldwin commented on #96948
Hi, @Sergong. The examples now include CLI only; if we reintroduce PowerShell cmdlets, we will be sure not to mix them with the CLI.

Thank you for your feedback -- we appreciate it! #please-close

[2022-10-28 17:37] #96948 closed

[2022-10-28 17:45] amsliu commented on #78053
#reassign: amsliu

[2022-10-28 17:52] xxwassyxx opened #100668 "Is the PCF document still accurate?"
Looking through the market place as described i don't see anything around PCF, Pivotal Cloud Foundry at all. Is there something I am missing, or is this no longer relevant?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 2b3715fc-f3e2-e93a-850c-50e39b471e3b
* Version Independent ID: c17ef5b9-45fe-697b-27f6-f7719e8ee7e8

[2022-10-28 17:53] brmcmill commented on #97528
This is amazing, thank you again @dknappettmsft and @VikasPullagura-MSFT !

[2022-10-28 17:55] SudhirRaparla commented on #100523
Fixed this.

[2022-10-28 18:25] TiloGit opened #100670 "Should this work on Authentication and Authorization: Local accounts with Kubernetes RBAC?"
On AKS with
`Authentication and Authorization: Local accounts with Kubernetes RBAC`

 When I run the script `https://aka.ms/ci-md-onboard-atscale`

I get error:
[code]

I have a feeling that a different: Authentication and Authorization is required here.

Ask:
- Please confirm what Authentication and Authorization is required (add this to the page)
- If that is the case optimize the script `ci-md-

[2022-10-28 18:28] MartinParis opened #100671 "Page needs more explicit details?"
We have a VM which has Trifacta installed.
As part of that an apache instance is installed.
This is not picked up by the change tracking, it stops at the level of Trifacta, not its subcomponents.
Which means we don't have a full overview of all components on that VM.

This should be described as a limitation of change tracking?

---
#### Document Details

⚠ *Do not edit this section. It is require

[2022-10-28 18:40] andymartin opened #100672 "Absolutely wrong documentation"
This method signature yields the following exception:

`
Unable to cast object of type 'Microsoft.Azure.WebJobs.Extensions.SignalRService.SignalRConnectionInfo' to type 'Microsoft.Azure.WebJobs.IAsyncCollector`1[Microsoft.Azure.WebJobs.Extensions.SignalRService.SignalRGroupAction]'.
`

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue lin

[2022-10-28 18:44] jhariel8 opened #100673 "Sort order on Find Blobs by Tag operation"
Is there any guarantee on the sort order for the Find Blobs by Tag operation? I can't find anything explicit in the documentation. When I use the .NET API, it seems to be alphabetical based on the name _most_ of the time, but there are occasions when it does not get returned this way.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue lin

[2022-10-28 18:48] pmesen opened #100675 "Customer suggestion to improve article"
[Enter feedback here]
Azure Active Directory Seamless Single Sign-On: Frequently asked questions
What sign-in methods do Seamless SSO work with

https://learn.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-sso-faq#what-sign-in-methods-do-seamless-sso-work-with

Seamless SSO can be combined with either the Password Hash Synchronization or Pass-through Authentication sign-in method

[2022-10-28 18:50] #100672 closed

[2022-10-28 19:02] dlepow commented on #100420
@yichungyu - Thanks for the suggestion. I agree this would be helpful to add and I created a work item to include this information when we next update this article.

One question: As far as I know/see there's not currently a way to update the App Insights logger instrumentation key directly in the portal (could be done with REST API). I think our guidance is usually to delete the logger and create

[2022-10-28 19:21] Nicholak-MS commented on #100658
Thanks @ckarawani  for bringing this to our attention. The casing issue has been fixed and the latest CSV has been published to reflect the change.

Thanks
Nick

#please-close

[2022-10-28 19:21] #100658 closed

[2022-10-28 19:36] tfitzmac commented on #100278
@jerryeml - thanks for bringing up this issue. It appears that increasing the limit is not an option. That resource type has been removed from this article.
#please-close

[2022-10-28 19:36] #100278 closed

[2022-10-28 19:45] tfitzmac commented on #100222
@gerrynicol - there is no way to directly reference a parameter file for a module. Of course, you can do this indirectly by using a parameter file for your main Bicep file, and then just passes those parameters to the module.
#please-close

[2022-10-28 19:45] #100222 closed

[2022-10-28 20:29] goorallab commented on #100458
@AjayBathini-MSFT
Docs in question: https://learn.microsoft.com/en-us/azure/aks/ingress-basic.

Specific chapters/sections in question, are all hyperlinked in the issue.

[2022-10-28 20:51] ErikBoSo commented on #100512
Sorry! My bad - I was looking into an installation of AzureADConnect - NOT AADConnectProvisioningAgentSetup.
AADConnectProvisioningAgentSetup looks very much as described, sorry for any inconvenience caused.
Kind regards
PS! However I feel, that the instructions could benefit from mentioning of the peculiarities when installing on a Domain Controller as well as some guidelines for best-practice se

[2022-10-28 20:51] #100512 closed

[2022-10-28 21:12] jlichwa commented on #97768
#please-close
If there are more questions, please create new item

[2022-10-28 21:12] #97768 closed

[2022-10-28 21:51] fenwickt opened #100680 "Broken link in Azure resource management fundamentals"
In the first sentence of "rbac and role assignments in Azure" section there is a broken link:
includes many [built-in roles]../../role-based-access-control/built-in-roles.md).

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 290fdad7-ab1c-fb5b-fa97-42460597089c
* Version Independent ID: bdf5802a-dd92-5d58-5105-449e62964

[2022-10-28 23:00] tfitzmac commented on #99969
@brianlehr - can you assist us with this issue? I don't see a way through the portal to disassociate a public IP address from a VPN Gateway. Is there an article we can link to?

[2022-10-28 23:11] tfitzmac commented on #100636
@smithyd2003 - I confirmed the blank template deployed successfully. What type of error are you getting?

[2022-10-28 23:14] jonwbstr commented on #99969
I'll take the skew I move tomorrow, you can't disassociate IP address from
VPN According to a different article

On Fri, Oct 28, 2022, 7:01 PM Tom FitzMacken ***@***.***>
wrote:

[2022-10-28 23:25] xiaochenyang30 opened #100683 "What does the change type `array` mean?"
[Enter feedback here]

Hi

When I run the `Get-AzResourceGroupDeploymentWhatIfResult` cmd, I also see the `PropertyChangeType` as `array`, but it isn't included in the doc, just want to know what does it mean?

![image](https://user-images.githubusercontent.com/106579695/198750082-12f9de6a-472c-45cf-8ba8-2367453e7df2.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2022-10-28 23:54] tfitzmac commented on #99969
Sorry for the confusion around this documentation. I have added a couple of notes to the supported resource type table that link to the networking guidance. Within that article, I clarified that resources associated with a public IP standard SKU can't be moved, but that VMs can be disassociated from the public IP.

[2022-10-28 23:54] tfitzmac commented on #99969
The update should get published on Monday.
#please-close

[2022-10-28 23:54] #99969 closed

[2022-10-29 00:20] arindam0310018 commented on #100406
Hello @Naveenommi-MSFT

Thank you for your reply.

If you check above, while creating this issue I already mentioned the link provided by you stating that it does not include REST API reference for SFTP Support for Azure Blob Storage.

Awaiting for your response.

Many Thanks
Regards, Arindam Mitra

[2022-10-29 00:22] arindam0310018 commented on #100407
Hi @AjayBathini-MSFT @msmbaldwin

Thank you for looking into my issue.
May I kindly ask if there is any progress.

Many Thanks
Regards, Arindam Mitra

[2022-10-29 00:23] arindam0310018 commented on #100017
Hi @YashikaTyagi-MSFT  - Request for an update ?

Many Thanks
Regards, Arindam Mitra

[2022-10-29 00:24] arindam0310018 commented on #100012
Hello @GeethaThatipatri-MSFT, @sunilagarwal @shaktisingh-msft,

Request for an update ?

Many Thanks
Regards, Arindam Mitra

[2022-10-29 00:26] arindam0310018 commented on #99902
Hi @SwathiDhanwada-MSFT, @maud-lv   - Request for an update ?

Many Thanks
Regards, Arindam Mitra

[2022-10-29 00:32] atrauzzi opened #100684 "Please detail the purpose and nuances of ValidateIssuerSigningKey"
It's unclear to me if ValidateIssuerSigningKey impacts JWKS at all, a manually provided key, or a key embedded in the JWT.

There's some ambiguity.

Particularly: If I set ValidateIssuerSigningKey to false, will the JWT system still perform JWKS validation?

See: https://stackoverflow.com/questions/74195977/does-setting-validateissuersigningkey-to-false-disable-jwks

---
#### Document details

⚠ *

[2022-10-29 01:38] ChaitanyaNaykodi-MSFT opened #100685 "Configuration change information does not match in the documentation"
In AFD Premium/Standard Document https://learn.microsoft.com/en-us/azure/frontdoor/standard-premium/how-to-compression
![image](https://user-images.githubusercontent.com/67453298/198755929-e36879a6-9d6a-42d4-9268-2bf5eba263f6.png)

In this troubleshooting document. https://learn.microsoft.com/en-us/azure/frontdoor/standard-premium/troubleshoot-compression
![image](https://user-images.githubusercon

[2022-10-29 01:39] ChaitanyaNaykodi-MSFT commented on #100685
Reaching out to PG to clarify this question.

[2022-10-29 04:35] AjayBathini-MSFT commented on #100659
@desireewilliams
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-29 04:37] AjayBathini-MSFT commented on #100660
@bbrandt
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-29 04:39] AjayBathini-MSFT commented on #100661
@levdavid
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-29 04:41] AjayBathini-MSFT commented on #100662
@vtitte2020
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-29 04:42] AjayBathini-MSFT commented on #100663
@vtitte2020
Duplicate of #100662

[2022-10-29 04:42] #100663 closed

[2022-10-29 04:43] AjayBathini-MSFT commented on #100664
@garthoid
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-29 04:44] AjayBathini-MSFT commented on #100665
@vtitte2020
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-29 04:45] AjayBathini-MSFT commented on #100666
@DeanGross
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-29 04:47] AjayBathini-MSFT commented on #100668
@xxwassyxx
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-29 04:48] AjayBathini-MSFT commented on #100670
@TiloGit
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-29 04:49] AjayBathini-MSFT commented on #100671
@MartinParis
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-29 04:50] AjayBathini-MSFT commented on #100673
@jhariel8
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-29 04:51] AjayBathini-MSFT commented on #100675
@pmesen
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-29 04:52] AjayBathini-MSFT commented on #100680
@fenwickt
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-29 04:53] AjayBathini-MSFT commented on #100683
@xiaochenyang30
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-29 04:54] AjayBathini-MSFT commented on #100684
@atrauzzi
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-29 04:59] AjayBathini-MSFT commented on #100641
@nehatiwari1994
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-10-29 05:04] AjayBathini-MSFT commented on #100458
@goorallab
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-29 05:35] NDVALPHA commented on #99020
@brianlo-ms -> Proceed to close this issue, document has been updated.
@VikasPullagura-MSFT -> Check that the issue gets processed, there's nothing else for me to do.

[2022-10-29 06:14] Amar2810 commented on #100632
Hi Team,

Please call me on 9767911199 or share me “Microsoft Teams” meeting invite..

Thanks and Regards

Amar Sakhare, System Support Engineer, CAMBRIO
Pune, Maharashtra 411016, India
Web: www.cambrio.com<http://www.cambrio.com/>

From: Saibaba Balapur Hireka ***@***.***>
Sent: 28 October 2022 21:27
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Amar Sakhare ***@***.***>; Mention ***@***.***>
Sub

[2022-10-29 06:33] SaibabaBalapur-MSFT commented on #100399
@mike-f50
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-10-29 06:33] #100399 closed

[2022-10-29 06:37] SaibabaBalapur-MSFT commented on #100373
@barkills-gmail
We are going to close this thread as resolved now, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to reopen case and continue the conversation.

[2022-10-29 06:37] #100373 closed

[2022-10-29 07:28] Thehumo commented on #96384
any feedback on this, I'm also still struggling with the same error

[2022-10-29 07:58] taiyokato opened #100686 "Wrong Increment patch op name in example"
Related to Issue #95949, different page.

The document says
[code]
There is no `increment` op, but instead `incr`.

Had to dig through other SDKs to find the correct op name...

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: baaba7e8-d79c-ca90-e36c-4282dd048bb4
* Version Independent ID: 7e8f5647-b1d1-ca7e-5984-811469bf

[2022-10-29 08:12] Starr79 opened #100687 "Launching"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2022-10-29 09:58] shaktisingh-msft commented on #100686
Hi @taiyokato ,

Thanks for sharing this feedback with us. We will look into this and update as appropriate.

[2022-10-29 10:48] ManoharLakkoju-MSFT commented on #100448
@410sean
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation

[2022-10-29 10:48] #100448 closed

[2022-10-29 10:50] ManoharLakkoju-MSFT commented on #100529
@MOHAMEDELHAMRA
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation

[2022-10-29 10:51] SaibabaBalapur-MSFT commented on #100687
@Starr79
Thanks for your feedback! We will investigate and update as appropriate.

Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team

[2022-10-29 10:52] #100529 closed

[2022-10-29 12:11] 2fersen opened #100689 "Text to speech is not working"
Hello guys,
i was really hyped to try azure text-to-speech, but already the sample code isn't working.

This one from the offical page:
https://learn.microsoft.com/en-us/azure/cognitive-services/speech-service/get-started-text-to-speech?tabs=windows%2Cterminal&pivots=programming-language-python

[code]

I am using python 3.9 and downloaded Microsoft Visual C++ Redistributable for Visual Studio 201

[2022-10-29 13:09] dorukkatic commented on #89047
Hello, is there any update on this? I am trying to give Key Vault Certificate access to Azure Front Door but I couldn't find any information about if this can be done via RBAC.

[2022-10-29 13:56] SweetpopcornSimon opened #100690 "Variable Typo"
On line 7 the variable is 'languageEndpoint' and on line 10 the variable used is 'LangaugeEndpoint' note the upper and lowercase 'L'

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 94f56647-73eb-3d35-49a8-44f4f9143902
* Version Independent ID: 03149d1c-3567-6977-4070-79f88779d292
* Content: [Quickstart: Use the Sentime

[2022-10-29 15:28] mikaelweave commented on #100470
The part I found confusing is below. As a user writing custom APIM transformation policy who found this page, I would expect link to "Policy Samples" to take me to more APIM API Transformation policies. 😄

[code]

[2022-10-29 16:44] SaibabaBalapur-MSFT commented on #100689
@2fersen
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-29 16:46] SaibabaBalapur-MSFT commented on #100690
@SweetpopcornSimon
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-29 16:50] SaibabaBalapur-MSFT commented on #100672
@andymartin
This thread as resolved by customer.

[2022-10-29 17:46] GeethaThatipatri-MSFT commented on #100523
Hi, @roberts-andy document has been fixed you will see the updated version by tomorrow. thanks for your feedback on improving The Microsoft documentation.

[2022-10-29 17:46] #100523 closed

[2022-10-29 17:52] KurtSchenk commented on #17765
Any update on this? Looking for support for encryption at rest, encryption-in-transit, and Linux permissions (uid/gid) without need for AD/Kerberos.

[2022-10-29 18:46] drwill-ms opened #100691 "Lacking instructions on how to restart container after installing moby-engine"
After `Restart the container engine for the changes to take effect`, it doesn't say what command to run.

A friend suggested `systemctl restart docker`, but I'm not sure if that is right because the section was about moby (not sure what that is).

Can you add the command one should run to restart the container engine?

---
#### Document Details

⚠ *Do not edit this section. It is required for lear

[2022-10-29 20:33] ezYakaEagle442 commented on #95119
also at [https://learn.microsoft.com/en-us/azure/azure-monitor/autoscale/autoscale-overview#supported-services-for-autoscale](https://learn.microsoft.com/en-us/azure/azure-monitor/autoscale/autoscale-overview#supported-services-for-autoscale)

[2022-10-29 20:45] memilavi opened #100692 "Changing custom user attribute does not work as documented"
According to the doc, the way to provide translation for a custom user attribute is as follows:

[code]

I'm trying to implement this with a custom attribute named Hobby, so this is the snippet I've added:

[code]

When uploading the file, I got the following error:

1 Validation errors found in upload overrides for api.signinandsignupwithpassword1.1. Please ensure that your uploaded resource matc

[2022-10-29 23:38] seesharprun commented on #97066
Unfortunately, I do not have a timeline on when Autoscale will be added to the Python SDK.

[2022-10-30 01:35] vmuthusamy-nlg opened #100693 "az spring app create stuck when spring extension is not installed"
az spring app create command stuck when the spring extension is not installed. It would be great to add the below step to the document.

az extension add --name spring

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: f4a1f9d3-c98f-8b7f-3485-0e30b1763ab5
* Version Independent ID: 179c22da-2d35-8cdb-7a8b-ed299c369168
* Co

[2022-10-30 01:52] Naveenommi-MSFT commented on #100454
@Catsanova

We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-10-30 01:52] #100454 closed

[2022-10-30 02:00] Naveenommi-MSFT commented on #100630
@Minewiskan
Could you please review this and update as appropriate.

<img width="932" alt="image" src="https://user-images.githubusercontent.com/113576472/198859144-4683ee14-1090-4e90-a03e-f037376b637b.png">

[2022-10-30 02:00] Naveenommi-MSFT commented on #100630
@j3ffb

Thank you for bringing this to our attention. I've assigned this issue to the author who will investigate and update as appropriate.

[2022-10-30 02:45] rgnanaprakash commented on #70307
@gary918 Thanks for the post. Iam in the exact same situation, can you please provide the details about the solution that you ended up after meeting @KranthiPakala-MSFT.  It will be really useful.

[2022-10-30 03:09] AjayBathini-MSFT commented on #100691
@drwill-ms
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-30 03:12] AjayBathini-MSFT commented on #100692
@memilavi
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-30 03:14] AjayBathini-MSFT commented on #100693
@vmuthusamy-nlg
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-10-30 03:17] #100423 closed

[2022-10-30 04:12] Naveenommi-MSFT commented on #100665
@vtitte2020

Thanks for reporting this! We have created a PR for this issue and the changes should go live soon.

[2022-10-30 04:25] Naveenommi-MSFT commented on #100690
Hi @SweetpopcornSimon

Could you please elaborate your query with screenshot for better understanding.

[2022-10-30 07:33] MarekLani commented on #99559
thank you for the information @sabbour

[2022-10-30 07:33] #99559 closed

[2022-10-30 08:59] YashikaTyagi-MSFT commented on #100017
@arindam0310018
I have assigned the issue to author who will update the document accordingly.
it is also possible to make these changes yourself, if you are interested. Doing so will improve our documentation, and it will add you as a contributor to the document.
In case you're interested, these are the steps to do so:

Navigate to the page of interest
Select the "Edit" button at the top right of

[2022-10-30 09:08] mathrb commented on #99730
Any updates @MughundhanRaveendran-MSFT ?
did you had a chance to have a look at my last comment?
Kind regards

[2022-10-30 09:52] victorjonsson commented on #98717
@GitaraniSharma-MSFT will you announce in this thread once the "bug" is fixed? Or should I look somewhere else?

[2022-10-30 10:00] adi-garg opened #100695 "Lifecycle Management Support for Append Blobs and Premium Block Blobs"
Hello Microsoft,
As per article [here](https://learn.microsoft.com/en-us/azure/storage/blobs/lifecycle-management-overview)
_Lifecycle management policies are supported for block blobs and append blobs in general-purpose v2, premium block blob, and Blob Storage accounts._

But article [here ](https://learn.microsoft.com/en-us/azure/storage/blobs/access-tiers-overview) states as **Note** that
_Sett

[2022-10-30 10:05] ElazarK commented on #100017
Hi @arindam0310018 I am currently looking in to this and hope to have an answer for you soon.

[2022-10-30 10:19] ElazarK commented on #100626
#reassign:bmansheim

[2022-10-30 10:54] MayankBargali-MSFT commented on #100389
@axlee39 Hope the above helps and clears things up. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-10-30 10:54] #100389 closed

[2022-10-30 11:27] SweetpopcornSimon commented on #100690
Sure heres the screenshot.

Its referencing the javascript code example
<img width="853" alt="Screenshot 2022-10-30 at 12 24 33" src="https://user-images.githubusercontent.com/97951171/198876012-ac1ce7bc-1418-4844-bfb5-815dfe088a23.png">

[2022-10-30 11:32] SweetpopcornSimon commented on #100690
I created a pull request to fix it https://github.com/MicrosoftDocs/azure-docs/pull/100696

[2022-10-30 11:32] #100690 closed

[2022-10-30 11:53] provnir opened #100697 "Image under "Enable password writeback for SSPR" is a duplicate of a pervious image, and does not relate to the step described"
[Enter feedback here]

Hi,

As the title says, the last image in the article, under "Enable password writeback for SSPR", is a duplicate of the previous image shown in the article and is unrelated to the steps described above it.
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 115ae83a-95dd-5643-bc88-f5447ebb2b99
* Vers

[2022-10-30 15:10] AjayBathini-MSFT commented on #100695
@adi-garg
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-30 15:11] AjayBathini-MSFT commented on #100697
@provnir
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-30 15:38] MughundhanRaveendran-MSFT commented on #100615
@TonyGrayCanada , Could you please provide the list of nuget packages that are out dated? I will change the nuget packages version

[2022-10-30 16:25] MughundhanRaveendran-MSFT commented on #100501
In Azure Key vault, you can use hyphenated name. You can store the connection string in this keyvault secret value.

![image](https://user-images.githubusercontent.com/56299140/198889723-a7386ab0-fdad-4b36-b1be-3d3f9fd38c89.png)

Then you can use the keyvault secret's identifier url in the Function app setting with the name ServiceBusConnection:fullyQualifiedNamespace

Hope this helps!

[2022-10-30 16:34] MughundhanRaveendran-MSFT commented on #100391
@mikerains , Did you get a chance to look into my previous comment?

[2022-10-30 17:29] SwathiDhanwada-MSFT commented on #100648
@MmAtBosch Thanks for your feedback. Kindly note this channel is mainly documentation changes. In your case, I would suggest you navigate and share your feedback or suggestions [here](https://github.com/Azure/azure-cli/issues).

[2022-10-30 18:28] kochavis commented on #99822
@Mrkokoo, Thank you for bringing this up to our attention.
This was a bug already addressed the fixed version would be available in about a week from today.

[2022-10-30 19:18] Mrkokoo commented on #99822
Great, thanks.

[2022-10-30 19:23] smuehlst opened #100700 "Typo "semicolin""
(https://learn.microsoft.com/en-us/azure/storage/common/storage-use-azcopy-blobs-download#specify-multiple-complete-blob-names)

Current text:

This should probably read "... by using a **semicolon**".

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 3fd974f3-db51-380b-af01-f488b69fbe84
* Version Independent ID: 2459114

[2022-10-30 23:36] rolyon commented on #98982
Hi @rgkey9000
Thanks for your feedback. It appears that you can also use the SharePoint Administrator role to access a user's OneDrive. For more information, see this article:
https://learn.microsoft.com/en-us/microsoft-365/admin/add-users/remove-former-employee-step-5
Let us know if you have any additional feedback.
thanks

[2022-10-30 23:36] rolyon commented on #98982
#please-close

[2022-10-30 23:36] #98982 closed

[2022-10-30 23:50] rolyon commented on #100129
Hi @tanjakersten
Thanks for your feedback. We think there was a change to the casing for the values. We updated the query to use case-insensitive comparison for OperationNameValue.
https://learn.microsoft.com/en-us/azure/role-based-access-control/role-assignments-alert#create-an-alert-rule
We tested and the alert appears to fire for a User Access Administrator role assignment at subscription scope

[2022-10-30 23:51] rolyon commented on #100129
#please-close

[2022-10-30 23:51] #100129 closed

[2022-10-31 00:00] rawatsudhir1 opened #100701 "Alert Rule (Un)expected behavior"
Hi Team,

I have configured an alert rule based on "pipeline run ended" on Azure Synapse Pipeline.

As per the this page, " If you have configured action groups for this alert rule, you can add custom properties to the alert payload to add additional information to the payload. In the Custom properties section, add the property Name and Value for the custom property you want included in the payloa

[2022-10-31 00:09] luodun2020 commented on #53672
Microsoft.Network/virtualNetworks/subnets/write is not very good, it will allow user to change the route table and nsg. That is not required. What does vnet integration do to the subnet apart from vnet join? Is it just change the delegation service type?

[2022-10-31 01:06] yichungyu commented on #100420
@dlepow thank you for creating the work item!

The instrumentation key update feature is very subtle. What the customers did was the following:
- On Azure Portal, navigate to the APIM instance
- Go go Monitoring -> Application Insights
- Click on the row of the logger you wish to modify (don't click on the name of the logger, it will redirect you to the AI page)
- In the pop-up window, delete the

[2022-10-31 01:06] yichungyu commented on #100420
Sorry, mis-clicked on close, reopening

[2022-10-31 02:56] RamanathanChinnappan-MSFT commented on #100414
@thierrytropee

We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

Thanks for your contribution. Please add your ideas in below link, so our production team can review it and update the same.
[Ideas · Community (azure.com)](https://feedback.azure.com/d365co

[2022-10-31 02:56] #100414 closed

[2022-10-31 02:57] RamanathanChinnappan-MSFT commented on #100438
@nimsim

We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request] (h

[2022-10-31 02:57] #100438 closed

[2022-10-31 02:58] RamanathanChinnappan-MSFT commented on #100486
#Sign-off

[2022-10-31 02:58] #100486 closed

[2022-10-31 03:04] ManoharLakkoju-MSFT commented on #100700
@smuehlst
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-31 03:27] gregpakes opened #100704 "Incorrect note regarding reconfiguring backup item."
Regarding the following note:

I was asked for a policy parameter even though Protection Status was healthy and backups were completing as normal.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: c377efd1-001c-0c4f-cadb-0c60decc0c6d
* Version Independent ID: ca9492ae-ca22-d786-b1a7-49f9b6ba9c8e
* Content: [Selective dis

[2022-10-31 04:19] Naveenommi-MSFT commented on #100690
@SweetpopcornSimon

It looks like your issue is resolved since you closed this thread.
If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2022-10-31 04:21] YashikaTyagi-MSFT commented on #100487
@KillerFrost2000
It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!!

[2022-10-31 04:22] YashikaTyagi-MSFT commented on #100566
@lightupdifire
I have assigned the issue to author who will update accordingly.

[2022-10-31 04:31] ManoharLakkoju-MSFT commented on #100458
@goorallab
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

[2022-10-31 04:36] #100482 closed

[2022-10-31 04:42] ManoharLakkoju-MSFT commented on #100695
@adi-garg
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

[2022-10-31 04:51] Naveenommi-MSFT commented on #100649
@jhirono
Could you please review this and update as appropriate.

[2022-10-31 04:51] Naveenommi-MSFT commented on #100649
@lucabovo

Thank you for bringing this to our attention. I've assigned this issue to the author who will investigate and update as appropriate.

[2022-10-31 05:07] GitaraniSharma-MSFT commented on #100685
@ChaitanyaNaykodi-MSFT , thank you for your query. We'll review this and update the doc as appropriate.

[2022-10-31 05:23] AjayBathini-MSFT commented on #100647
@rodrigobrochado
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

@pagienge
Can you please check and add your comments on this doc update request as applicable.

[2022-10-31 05:35] TaSato-MSFT opened #100707 "Wrong information for "EOPExternalPublishedIPs" tag for Azure Firewall"
It looks like to be wrong in the public information about the service tag available in the Azure Firewall policy.

https://learn.microsoft.com/en-us/azure/virtual-network/service-tags-overview#available-service-tags

It shows "Can you use with Azure Firewall?" as "Yes" for "EOPExternalPublishedIPs".

But Azure IP Range shows like a following:

{
      "name": "EOPExternalPublishedIPs",
      "id":

[2022-10-31 05:37] sathya-rajesh-asokan opened #100708 "Page not updated in alignment with Kubernetes SIGS"
Hi,

When looking at this readme is looks like the CSI blob driver is in preview mode.

But in kubernetes sigs this is saying it is GA.

What is the current status of CSI blob driver? is it in GA or in Preview mode?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: e3d2e0b2-cba5-c6ca-fc37-100f3982eec0
* Version Independe

[2022-10-31 05:50] YashikaTyagi-MSFT commented on #100628
@AlexSchwerzmann
Thanks for your feedback! We have assigned the issue to author who will provide further updates.
@Nicholak-MS  Kindly take a look at this issue.

[2022-10-31 05:51] AjayBathini-MSFT commented on #100680
@fenwickt
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

@Gargi-Sinha
Can you please check and add your comments on this doc update request as applicable.

[2022-10-31 05:52] #100462 closed

[2022-10-31 05:57] MayankBargali-MSFT commented on #100659
@desireewilliams The [Prerequisites section](https://learn.microsoft.com/en-us/azure/azure-app-configuration/rest-api-key-value?source=recommendations#prerequisites) documents cover it. The endpoint is https://{myconfig}.azconfig.io/kv and all the REST endpoint follows the same.

https://{yourwebconfigurationresourcename}.azconfig.io/kv

Let me know if you have any queries or concerns.

[2022-10-31 05:59] RamanathanChinnappan-MSFT commented on #100704
@gregpakes

Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-31 06:00] SaibabaBalapur-MSFT commented on #100639
@rezanid
Thanks for reporting this! We have created a PR for this issue and the changes should go live soon.

[2022-10-31 06:03] RamanathanChinnappan-MSFT commented on #100701
@rawatsudhir1
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-31 06:05] YashikaTyagi-MSFT commented on #100645
@AquinoN
Thanks for your feedback! We have assigned the issue to author who will provide further updates.

[2022-10-31 06:10] RamanathanChinnappan-MSFT commented on #100707
@TaSato-MSFT

Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-31 06:12] SadiqhAhmed-MSFT commented on #100506
@richard-artes We haven't heard back from you, so we will now close this issue. If this remains an issue, please reply and we will gladly continue the discussion.

[2022-10-31 06:12] #100506 closed

[2022-10-31 06:12] SaibabaBalapur-MSFT commented on #100651
Hi @alexbadia1

Please could you help me with URL document link, I am unable to trace details from above data.
So, this way, we are able to make sure your feedback and addressed this case to the right team.

[2022-10-31 06:14] YashikaTyagi-MSFT commented on #100666
@DeanGross
Thanks for your feedback! We have assigned the issue to author who will provide further updates.
@rolyon kindly take a look at this issue.

[2022-10-31 06:16] YashikaTyagi-MSFT commented on #100675
@pmesen
Thanks for your feedback! We have assigned the issue to author who will provide further updates.

[2022-10-31 06:16] SaibabaBalapur-MSFT commented on #100668
@xxwassyxx
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

@ruyakubu
Can you please check and add your comments on this doc update request as applicable.

[2022-10-31 06:22] ManoharLakkoju-MSFT commented on #100652
@DeanGross
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

@Justinha
Can you please check and add your comments on this doc update request as applicable.

[2022-10-31 06:24] ManoharLakkoju-MSFT commented on #100635
@JanPhill
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

@joshuha-msft
Can you please check and add your comments on this doc update request as applicable.

[2022-10-31 06:28] RamanathanChinnappan-MSFT commented on #100533
@nswitanek

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-10-31 06:28] GitaraniSharma-MSFT commented on #98717
@victorjonsson , @duongau will update the thread once the bug is fixed.

[2022-10-31 06:31] YashikaTyagi-MSFT commented on #100697
@provnir
Thanks for pointing this out. We have assigned the issue to author who will provide further updates.

[2022-10-31 06:34] shaktisingh-msft commented on #100686
Hi @seesharprun,

Could you please look into this request. Thanks

[2022-10-31 06:43] #100665 closed

[2022-10-31 06:46] mag-chang opened #100710 "The customlocation delete command has inappropriate parameters on the document"
The document mentions about customlocation delete command at the section of "Delete a custom location".
However, the command looks it has inappropriate parameters. Specifically, "--namespace", "--host-resource-id" and "--cluster-extension-ids" are not used for the command.
Here is an Azure CLI reference. The reference doesn't include these parameters. -> [Reference of customlocation commands of Az

[2022-10-31 06:46] SurbhiAgarwal12 opened #100711 "SQL Database Firewall settings page still valid"
[Enter feedback here]
I am unable to find the Firewall Setting page in my Azure Portal
Is this screen still valid (Step 2 screenshot)?
https://learn.microsoft.com/en-us/azure/azure-sql/database/firewall-configure?view=azuresql#from-the-database-overview-page

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 770df8c3-4e61

[2022-10-31 06:55] fardarter commented on #100445
@Harsha-CS Well, I wouldn't have even thought to have gone to look there coming in without context. I'd argue that the whole context which you've now linked needs to be heavily referenced to make sure people go there and know why they're going.

[2022-10-31 07:00] shaktisingh-msft commented on #100489
Hi @deborahc,

Could you please look into the feedback shared here and update as appropriate. Thanks!

[2022-10-31 07:18] shaktisingh-msft commented on #100711
Hi @SurbhiAgarwal12 ,

Thanks for sharing this feedback. We will look into this and update as appropriate.

[2022-10-31 07:30] Harsha-CS commented on #100445
Noted. This will be taken as a long-term action item to enhance cross referencing. Closing this for now.

[2022-10-31 07:40] asdcristi commented on #100086
@yelevin Thank you for the update.

I can still see an issue on the updated documentation:

In the "Microsoft 365 Defender now integrates Azure Active Directory Identity Protection (AADIP)" section's table,

We have under Action in Microsoft Defender "Don't use Microsoft 365 Defender for AADIP alerts:
Choose the Turn off all alerts option for AADIP integration.". However we cannot find any page wh

[2022-10-31 07:54] YashGohel21 commented on #100689
@SaibabaBalapur-MSFT any update? Text to speech suddenly stopped working for unity c# as well.

<img width="636" alt="Screenshot 2022-10-31 at 1 22 56 PM" src="https://user-images.githubusercontent.com/110712730/198958554-63726846-7535-47f9-93c9-741ee536771b.png">

[2022-10-31 07:58] Bananenbieger1234 commented on #100573
@dlepow
Just out of curiosity, can you tell when this feature becomes GA? It's in public preview since Jan 22

[2022-10-31 08:04] claria commented on #99834
@AshokPeddakotla-MSFT might be interesting for you to look into this issue again.

[2022-10-31 08:08] apaulro opened #100713 "Is the Oracle transaction internally committed upon activity completion by the Copy Activity for Oracle database ?"
On the documentation, not seeing any commentary around transactions. Does the activity auto commit the transaction upon successful completion ?

I have a scenario where a dataset has rows that leads to a Primary Key violation on an Oracle table, but the Copy activity completes successfully.
Only a subsequent operation on the table that uses the index leads to an error being thrown -
ORA-01502: ind

[2022-10-31 08:30] apaulro commented on #100713
Also what is the transaction behavior for [https://learn.microsoft.com/en-us/azure/data-factory/transform-data-using-script](Script) activity? Assume that if the script completes, the transaction is committed?

[2022-10-31 08:42] RamanathanChinnappan-MSFT commented on #100634
@bernatagulloesbrina

It would be great if you could add screenshot for better understanding, this would help us redirect the issue to the appropriate team. Thanks!!

[2022-10-31 08:42] shaktisingh-msft commented on #100012
Hi @kabharati,

Could you please look into this document request. Thanks

[2022-10-31 08:48] jyama4ta opened #100714 "How can we change the sizing of the OS disk after node pool creation?"
Regarding 'Default OS disk sizing', I would like to know how can we change the OS disk property after creation.
This doc notes "you can change the sizing of the OS disk at any time after cluster or node pool creation" in 'Important', but there is no information about the way.

'az aks nodepool update' does not have `--node-osdisk-size` property.
https://learn.microsoft.com/en-us/cli/azure/aks/node

[2022-10-31 08:54] bernatagulloesbrina commented on #100634
I refer to the whole page. It's too long to just scroll down. At least
that's my impression. Also i found bits like the *subfield* notation which
are not explained yet appear in examples

El lun, 31 oct 2022 9:42, RamanathanChinnappan-MSFT <
***@***.***> escribió:

[2022-10-31 08:57] RamanathanChinnappan-MSFT commented on #100591
@JimThorstad

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-10-31 09:22] mriehle commented on #95661
Hi guys,

Any update on that issue?
I have the exact same scenario in my current project.
There is definately a need of igoring any private enpoint that is already in the target envirnoment

Thanks

Markus

[2022-10-31 09:27] Draqun opened #100716 "Log queries works in editor but are not accepted in alert rule creation view."
Log query which works in editor does not work in creation an alert rule.
[code]

![image](https://user-images.githubusercontent.com/7522863/198975484-60867f84-ff09-4f0e-b4ef-770b461c02d6.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: e63aad7d-7388-788b-2989-0d005f1292f4
* Version Independent ID: 019873d5-39bc-4a7

[2022-10-31 09:34] ManoharLakkoju-MSFT commented on #100673
@jhariel8
Thank you for your feedback!

Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request] (https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our Q&A forum by posting your issue the

[2022-10-31 09:36] ManoharLakkoju-MSFT commented on #100629
@anthonymashford
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

@b-hchen
Can you please check and add your comments on this doc update request as applicable.

[2022-10-31 09:44] alin-devnet commented on #96794
Looks like this is still an issue in version 0.31.1859.0.

[2022-10-31 09:48] SadiqhAhmed-MSFT commented on #100704
@gregpakes Thank you for sharing your experience. In your case I think it could be a false alert. Because whatever we have documented in based on testing. IMO, you don't have to worry about it unless the backs are failing. If you think this needs to be investigated, then your best bet would be to contact Azure technical support team by raising a support ticket.

[2022-10-31 09:53] RamanathanChinnappan-MSFT commented on #100620
@jesweare

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-10-31 09:53] SaibabaBalapur-MSFT commented on #100684
@atrauzzi
I'm going to assign this to the document author so they can take a look at it accordingly.

@jmprieur
please review it.

[2022-10-31 09:55] ManoharLakkoju-MSFT commented on #100646
@tanktopSecurity
Thanks for reporting this! We have created a PR for this issue and the changes should go live soon.

[2022-10-31 10:11] dtheodor commented on #16473
If you want to claim that data factory supports custom workloads, you should support running containers. Packaging and running custom workloads through containers is **the** way to go, not the ad-hoc mess of azure batch application packaging.

Is there a product/program manager with any sense left here?

[2022-10-31 10:18] nehatiwari1994 opened #100718 "Xen virtualized servers migration"
Team, in this document its mentioned that we can consider xen virtualized servers as physical and migrate them but in the same document under physical server requirement its mentioned that xen tools as not supported. Please clarify this as this is contradictory statement and we are stuck in one   migration scenario for our customer.

---
#### Document Details

⚠ *Do not edit this section. It is re

[2022-10-31 10:20] SQLtattoo opened #100720 "Concept solution image has out of date component"
I believe the SQL Data Warehouse in the image of a possible concept solution is out of date. Changing it to Azure Synapse Analytics would be more appropriate and less misleading.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 08e12671-466a-8807-63bb-fb1923554d60
* Version Independent ID: 88dcdcb5-e611-134d-5c2e-66c657

[2022-10-31 10:23] RamanathanChinnappan-MSFT commented on #100708
@Sathya Rajesh Asokan

Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-31 10:25] RamanathanChinnappan-MSFT commented on #100710
@mag-chang

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-10-31 10:26] RamanathanChinnappan-MSFT commented on #100713
@apaulro

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-10-31 10:32] vbrozik commented on #65888
@SaiKishor-MSFT

This reply does not make much sense or it needs an explanation of something I am not aware of.

When you transfer large data over TCP the packets carrying the data will be at 1500 bytes or slightly lower. Fragmentation in Azure will split those packets in two - doubling the number of data packets. This can have considerable effect on performance.

Another thing is that when PMTUD

[2022-10-31 10:47] #99582 closed

[2022-10-31 10:48] shimon893 opened #100721 "Clarification on pricing"
Is 0,30$ per hour billed all the time sftp endpoint is enabled - so basically cost is over 200$ per month? Or only time whe this endpoint is being used is billed?

If billing is constant whenever we have this enabled - is it possible to reduce cost with using some automation to enable sfpt only during certain time? So technically I know it should be possible but question is if billing will be appl

[2022-10-31 10:50] michaelelleby opened #100722 ".NET Core 3.1 will be end of life soon"
As https://devblogs.microsoft.com/dotnet/net-core-3-1-will-reach-end-of-support-on-december-13-2022/ describes, .NET Core 3.1 will be end-of-life on December 13th, 2022. What is the plan to move away from .NET Core 3.1 ?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 5d505ab9-d351-6650-6d0c-bb65d2daa229
* Version Inde

[2022-10-31 10:53] priteshpisat opened #100723 "SELECT * FROM doesn't work for nested columns on source table, can you please provide resp. query format?"
SELECT * FROM doesn't work for nested columns on source table, can you please provide resp. query format?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: f9172af5-4e2f-0026-9052-9197e01d1f54
* Version Independent ID: eb1e1f01-6e5c-5add-58ce-d034f4f0d9f2
* Content: [Copy data from Google BigQuery - Azure Data Factory &

[2022-10-31 10:55] priteshpisat commented on #99550
Any update on this? Does anyone from Microsoft still looking out this issue?

[2022-10-31 11:00] rsy644 opened #100724 "Check web app config settings - Microsoft Azure"
Hi there,

I am working through a tutorial on the Microsoft Learn area for uploading image data in the cloud with Azure storage.

https://learn.microsoft.com/en-us/azure/event-grid/storage-upload-process-images?tabs=dotnet%2Cazure-powershell#feedback

The tutorial instructs users to deploy a web app from a public Github sample repository, configure web app settings, and then save it to a storage a

[2022-10-31 11:06] neilmca-inc opened #100725 "Code based solution for manual portal steps for "Enable Application Insights logging for your API" section"
From this section only: https://learn.microsoft.com/en-gb/azure/api-management/api-management-howto-app-insights#enable-application-insights-logging-for-your-api

How do you do this step in-code? I've searched through Azure CLI and PowershellAz cmdlets but can't find anything. We use a CI/CD pipeline using PowerShellAz module to do operations such as...

Import-AzApiManagementApi
New-AzApiManageme

[2022-10-31 11:11] AnuragSingh-MSFT commented on #100671
@MartinParis, thank you for reporting this. I am requesting our content team to review this.

@SnehaSudhirG, can you please review this and share your thoughts. Thanks.

[2022-10-31 11:12] SadiqhAhmed-MSFT commented on #100718
@nehatiwari1994 Thank you for bringing this to our attention. We will review with feature owner and get back to you soon.

[2022-10-31 11:14] shaktisingh-msft commented on #100711
Hi @VanMSFT,

Could you please look into this request where the snippet should be updated with the new UI look shown nowadays. Thanks
![image](https://user-images.githubusercontent.com/110027638/198995487-b88c8fdf-35a9-40ca-81d9-a2dfaa695117.png)

[2022-10-31 11:34] rz1qt2 opened #100726 "No resource provider called Microsoft.WorkloadMonitor"
The document says to ensure the following resource providers are registered Microsoft.WorkloadMonitor
Microsoft.WorkloadMonitor and Microsoft.Insights.

However I do not find a resource provider called Microsoft.WorkloadMonitor.

I do see these two
Microsoft.WorkloadBuilder and Microsoft.Workloads

Has the name changed for the resource provider called Microsoft.WorkloadMonitor?

---
#### Document

[2022-10-31 11:41] JananiRamesh-MSFT commented on #100725
@neilmca-inc Thanks for your feedback, we will review and update appropriately

[2022-10-31 12:11] kubasiak opened #100727 "text for labeling"
From the instruction in the page it is unclear if each text must be in seperate file. Can it be in format of a table like for OpenAI?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 40022a84-e1da-2ea9-293b-5666ea8f5828
* Version Independent ID: ca1f88a9-0ce6-e728-9447-12569819d215
* Content: [How to label your data for

[2022-10-31 12:43] JananiRamesh-MSFT commented on #100725
you can use the below cmdlets to enable diagnostic log settings for an APIM instance either at global or api scope

$context = New-AzApiManagementContext -ResourceGroupName <ResourceGroupName> -ServiceName <APIM instance name>
New-AzApiManagementLogger -Context $context -InstrumentationKey <AI Instrumentation key> -LoggerId <Logger Name>
$logger = Get-AzApiManagementLogger -Context $context -Logge

[2022-10-31 13:11] GitaraniSharma-MSFT commented on #100478
@byte-sizedk , I'm following up on my previous comment. Could you please share the screenshot of POP location abbreviations which do not match with pop_s field in Log Analytics for our reference?

[2022-10-31 13:12] DrReedo opened #100731 "When trying to use the az webapp deploy to deploy a static file I receive an error"
[Enter feedback here]
When I use:

    az webapp deploy --resource-group <group-name> --name <app-name> --src-path config.json --type=static

I get an error stating:

    ERROR: An error occured during deployment. Status Code: 400, Details: "Path must be defined for type='Static'"

So then I define a path and get:

    ERROR: unrecognized arguments: --path=/home/site/wwwroot/xxx.json

I'm assuming

[2022-10-31 13:19] maud-lv commented on #99902
Update has just been made through [PR #216511](https://github.com/MicrosoftDocs/azure-docs-pr/pull/216511).

[2022-10-31 13:22] maud-lv commented on #99902
#please-close

[2022-10-31 13:23] RamanathanChinnappan-MSFT commented on #100714
@jyama4ta

Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-31 13:25] RamanathanChinnappan-MSFT commented on #100716
@Draqun

Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-31 13:27] sujayvsarma opened #100732 "DevBox - Needs mention that Hybrid Licensing is a pre-requisite"
GitHub article:
https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/dev-box/quickstart-configure-dev-box-service.md

Live page:
https://learn.microsoft.com/en-us/azure/dev-box/quickstart-configure-dev-box-service?tabs=AzureADJoin#prerequisites

Azure Hybrid Licensing is a hard pre-requisite for setting up an Azure DevBox. You cannot set one up using BYOL or other forms of licenses. Howe

[2022-10-31 13:29] keen85 commented on #79461
Yes, the concept of Synapse Notebooks has its own article.

My point is, that Synapse Notebooks can also be part of a Synapse Pipeline. In this case, Synapse Notebooks is a [data transformation activities](https://learn.microsoft.com/en-us/azure/data-factory/concepts-pipelines-activities?tabs=data-factory#data-transformation-activities) and it is still missing in this very list...

[2022-10-31 13:34] RamanathanChinnappan-MSFT commented on #100720
@SQLtattoo

Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-31 13:35] barclayn commented on #100493
@YashikaTyagi-MSFT  and @jadzdtc  does this help answer the question?

https://learn.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/managed-identities-faq

Can the same managed identity be used across multiple regions?
In short, yes you can use user assigned managed identities in more than one Azure region. The longer answer is that while user assigned managed identi

[2022-10-31 13:36] RamanathanChinnappan-MSFT commented on #100721
@shimon893

Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-31 13:36] jyothisuri commented on #100445
cc@v-ksreedevan

[2022-10-31 13:36] barclayn commented on #79442
@tshaiman I hope @jlichwa  response helps clarify. If you still have a question please let us know.  #please-close

[2022-10-31 13:37] #79442 closed

[2022-10-31 13:38] MicrosoftGuyJFlo commented on #100645
#label:"awaiting-product-team-response"

[2022-10-31 13:39] barclayn commented on #89732
@eldridgeb  Thank you for your feedback. The article now includes a pointer to the appropriate Cosmos DB article.  #please-close

[2022-10-31 13:39] #89732 closed

[2022-10-31 13:40] RamanathanChinnappan-MSFT commented on #100722
@michaelelleby

Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-31 13:43] RamanathanChinnappan-MSFT commented on #100723
@priteshpisat

Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-31 13:45] RamanathanChinnappan-MSFT commented on #100724
@rsy644

Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-31 13:45] GeethaThatipatri-MSFT commented on #100534
@mikaelweave we have fixed this document and you will see the changes in the next 24hrs, Thanks again for your feedback on improving Microsoft documents.

[2022-10-31 13:45] #100534 closed

[2022-10-31 13:47] RamanathanChinnappan-MSFT commented on #100726
@rz1qt2

Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-31 13:49] RamanathanChinnappan-MSFT commented on #100727
@kubasiak

Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-31 13:55] RamanathanChinnappan-MSFT commented on #100731
@DrReedo

Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-31 13:56] pagienge commented on #100647
Thank you for bringing this to our attention.  There are some readability changes which can make it more apparent that the tools can be used on data disks as well as OS volumes, as well as in cases where the automated expand fails.

As far as the tools selected, such as parted, this is an administrator choice, as there are many ways to do the tasks.   The tools documented were selected for consist

[2022-10-31 14:00] RamanathanChinnappan-MSFT commented on #100732
@sujayvsarma

Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-31 14:07] barclayn commented on #97534
@Kuenni thank you for your question. Here is the explanation I received from the engineering team. "the reason we require the objectID in the query is because userType is an attribute that was added to the user object later in time  - so this attribute may or may not have been backfilled so some users may not have a value. "  I hope this helps. I will add a note to the article. Thanks. #please-clo

[2022-10-31 14:07] #97534 closed

[2022-10-31 14:14] skyfrk opened #100733 "Missing glossary format documentation"
Hey there,

I tried to [Translate documents using a custom glossary](https://learn.microsoft.com/en-us/azure/cognitive-services/translator/document-translation/get-started-with-document-translation?tabs=csharp#translate-documents-using-a-custom-glossary) using a `CSV`-glossary.

But I could not figure out how the `CSV` file (or other formats) must be formatted. If there is some documentation on gl

[2022-10-31 14:17] KapilAnanth-MSFT commented on #100707
@TaSato-MSFT, I have assigned this thread to the author for further review.

@asudbring , I have checked the above behavior and I see we are not able to associate the service tag, "EOPExternalPublishedIPs" to Firewall rules neither via Portal nor via Powershell.

Request you to check if this is the expected behavior and update the docs as necessary

[2022-10-31 14:24] Mrachek opened #100734 "Logic apps Visual Studio 2022?"
[Enter feedback here]
Can these instructions be updated to include the latest version of VS ?   Cloud explore is gone, inherited some logic apps and need to pull them into the fold.. TY

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 2650bd13-3b48-c09d-e0bc-bcad6605a4b7
* Version Independent ID: 644aabda-c85b-88b9-deb8

[2022-10-31 14:27] rodrigobrochado commented on #100647
There is no tools documented anymore. There is only instructions on how to do the expansion by offline methods.

Besides, look at this part of the doc: "If the disk needing expansion is a data disk, the following procedures can be used as a guideline,"

But there is no following procedures to make a **live resize** of a data disk. The "procedure" that follows is an OS Disk one that is done "offlin

[2022-10-31 14:29] tervoju commented on #81450
anything happening to this?

[2022-10-31 14:32] KapilAnanth-MSFT commented on #100549
@kungfudante , I believe this is mentioned here.

[Error code: UserAssignedIdentityDoesNotHaveGetPermissionOnKeyVault](https://learn.microsoft.com/en-us/azure/application-gateway/application-gateway-key-vault-common-errors#error-code-userassignedidentitydoesnothavegetpermissiononkeyvault)
![image](https://user-images.githubusercontent.com/107474080/199032573-7a62545c-5c9d-4185-b1e5-4ec405b478c2.pn

[2022-10-31 14:33] pagienge commented on #100647
The OS-side tools are all documented under the heading "Expand a disk partition and filesystem" with specific tabs containing instructions for Ubuntu, SuSE, and two different methods for RedHat variations.  The Ubuntu process is largely automatic but needs to be updated in case the automatic process fails or a data disk is being increased.

Is this part of the document not visible?

[2022-10-31 14:41] Venkateshdodda-MSFT commented on #100468
@Turbofroggy We will close this out, but if you feel you need more information, please just let us know.

[2022-10-31 14:41] #100468 closed

[2022-10-31 14:44] arindam0310018 commented on #99902
Hello @maud-lv

Thank you so much for taking care of my PR.

Just a question -
The PR is merged and Closed.

I see the changes in - https://github.com/arindam0310018/azure-docs/blob/patch-1/articles/managed-grafana/known-limitations.md
But unfortunately I Cannot see the changes in  https://learn.microsoft.com/en-us/azure/managed-grafana/known-limitations

Please have a look when you have sometime.

[2022-10-31 14:45] arindam0310018 commented on #100407
Hi @AjayBathini-MSFT @msmbaldwin

May I kindly ask if there is any progress.

Many Thanks
Regards, Arindam Mitra

[2022-10-31 14:47] lauradolan commented on #85586
#reassign: Padmalathas

[2022-10-31 14:47] stavr666 opened #100735 "Why MS teams still use unsecure ways to deliver code from controlled sources?"
It's not the way, modern IT engineer must work.
How often do you change something in basic configuration scripts? Just sign this code with timestamps, please.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 346fe3fa-984a-7ede-9e7a-af40eb5d736c
* Version Independent ID: b1e9a255-bea9-0c81-d92f-d3ef5bc64309
* Content: [Q

[2022-10-31 14:48] lauradolan commented on #94277
#reassign: iamwilliew

[2022-10-31 14:48] arindam0310018 commented on #100406
Hello @Naveenommi-MSFT @SumanthMarigowda

Greetings!!!

Any Update on  my last comment and Issue.

Many Thanks
Regards, Arindam Mitra

[2022-10-31 14:50] sooyoung2022 opened #100736 "Exact instructions to run CoreMark against HC44rs"
My customer wants to know how to run CoreMark benchmark against HC44rs to verify the performance is as published.
Can you kindly share the instructions so that the customer can run the benchmark for themselves?

Best Regards,

Sooyoung

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: c005a93a-6fce-d270-9bb5-8e7213156b70

[2022-10-31 14:59] rodrigobrochado commented on #100647
The Ubuntu, SuSe, etc instructions tab you mention are only visible for me inside the "Increase the size of the OS disk" header (it's a h3 html header while the "Expand a disk partition and filesystem" is a h2 header). Is that what you are referring to?

There is this phrase "If the disk needing expansion is a data disk, the following procedures can be used as a guideline, substituting the disk de

[2022-10-31 14:59] maud-lv commented on #99902
Hi @arindam0310018 the live page is update a few times a day only. I will be visible on the public page in two to three hours.

[2022-10-31 15:03] GitaraniSharma-MSFT commented on #100644
@MMerzinger , I discussed this with the Azure DNS Private Resolver Product group team and below is their response:

**There is no support for linking a ruleset directly to virtual WAN but customers can provision Private Resolver on another VNET and use it as custom DNS server.**

We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladl

[2022-10-31 15:03] #100644 closed

[2022-10-31 15:04] arindam0310018 commented on #100012
Hi @kabharati,

When you find sometime, please do update!!!

Many Thanks
Regards, Arindam Mitra

[2022-10-31 15:05] tanjakersten commented on #100129
You are right @rolyon - it does fire an alert on assigning the User Access Administrator Role via role assignments on subscription level. However, this does not work for elevating the role as Global Admin via Properties > Access management for Azure resources. This should be possible though as the elevation is critical to security. I believe we should mention this in the docs! Thanks!

[2022-10-31 15:06] arindam0310018 commented on #99902
Hello @maud-lv
This is Awesome. Thank you again.
I will close this issue as soon as it reflects in https://learn.microsoft.com/en-us/azure/managed-grafana/known-limitations

Many Thanks
Regards, Arindam Mitra

[2022-10-31 15:11] kimjamia commented on #40111
Would it be possible to get some update what's going to be added? I'm really eagerly waiting for Private Endpoint support. It's a blocker for us. [Others](https://github.com/MicrosoftDocs/azure-docs/issues/35138#issuecomment-1065909377) have been saying the same that not being able to block public network access is a blocker.

[2022-10-31 15:11] pagienge commented on #100647
Thank you for pointing out the 'note', which was a relic from the old edit.  The 'parted' tool is never used in the doc and should not be mentioned.  The new preferred tool for that step is growpart.

The doc you mentioned in Portuguese is still a guideline, but without the necessary cautions.  The disk under review cannot be guaranteed to be /dev/sdc, however it is not noted as such.

[2022-10-31 15:14] desireewilliams commented on #100659
@MayankBargali-MSFT thank you for pointing out where the document was. However, I started over in the Azure RM REST API documentation, and followed a link trail over to here. Versioning, in the context of where I was, was 2022-05-01, and the beginning of the URL was in the overview, not in what I would assume to be a changelog. Unless you know it's there, you have to spend a bit of time searching

[2022-10-31 15:22] #99092 closed

[2022-10-31 15:30] shlipsey3 commented on #100666
Hello! I've recently taken over ownership of this content and am currently looking at ways to improve the Audit Activities reference article. In its current form, it's difficult to maintain the full list of audit categories and their associated activities. The team is assessing the most effective way to present this information. I've made note to make sure the activities you've called out are addr

[2022-10-31 15:38] AaronMaxwell commented on #99684
https://github.com/MicrosoftDocs/azure-docs-pr/pull/216553 #please-close

[2022-10-31 15:38] #99684 closed

[2022-10-31 15:42] RamanathanChinnappan-MSFT commented on #100733
@skyfrk

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-10-31 15:43] ecfan commented on #100734
Hi @Mrachek,

Thank you for your feedback! The doc still accurately says that the Azure Logic Apps Tools extension is currently unavailable for Visual Studio 2022. Please add your vote to the customer feedback item here: [Azure Logic Apps Tools does not Support Visual Studio 2022](https://feedback.azure.com/d365community/idea/34599c57-238b-ec11-a81b-0022484bfd94)

[2022-10-31 15:44] RamanathanChinnappan-MSFT commented on #100734
@Mrachek

Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-31 15:48] ecfan commented on #100734
@RamanathanChinnappan-MSFT and @JananiRamesh-MSFT: I already replied that the doc is still accurate and directed the customer to vote on adding Azure Logic Apps Tools extension support to Visual Studio 2022. So, I'll close this issue now.

#please-close

[2022-10-31 15:49] ecfan commented on #100734
#assign:ecfan

[2022-10-31 15:56] PatAltimore commented on #99305
Hi @fgheysels ,

Also, check the Marketplace for IoT templates. I'm going to request the issue to be closed for now.

Thanks,
Pat

#please-close

[2022-10-31 15:56] #99305 closed

[2022-10-31 16:12] memilavi commented on #100692
Issue is resolved. It turned out I used the wrong page resource file. When using the correct one, everything worked as expected.
Thanks!

[2022-10-31 16:15] arindam0310018 commented on #100017
Hello @YashikaTyagi-MSFT @ElazarK
Thank you for your advise.
I have raised an PR Now - #100739

Many Thanks
Regards, Arindam Mitra

[2022-10-31 16:23] khdownie commented on #99899
@SaibabaBalapur-MSFT I am doing my best to get an answer from engineering. Please hold off for a little while longer.

[2022-10-31 16:45] RamanathanChinnappan-MSFT commented on #100735
@stavr666

Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-31 16:47] RamanathanChinnappan-MSFT commented on #100736
@sooyoung2022

Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-31 16:53] jwisener commented on #77952
This is still an issue and the doc has not been updated, why was this closed?

[2022-10-31 17:02] Naveenommi-MSFT commented on #100518
@dataengineerdeveloper

We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-10-31 17:02] #100518 closed

[2022-10-31 17:14] #100280 closed

[2022-10-31 17:22] ecfan commented on #100586
Hi @VitalyMCT,

The page documents only the IP addresses that Azure Logic Apps uses, so not all the IP addresses for a service tag are documented. Thanks!

@mumurug-MSFT: #please-close

[2022-10-31 17:22] #100586 closed

[2022-10-31 17:28] rolyon commented on #100129
Hi @tanjakersten
I'll give your feedback about this other scenario to the team.
thanks

[2022-10-31 17:36] olavt opened #100742 "Some links are not linking to expected content"
The links on this page is expected to take the user to a page with specific information on what languages are supported by the service.

Clicking on the "Language service" link navigates to this page:

https://learn.microsoft.com/en-us/azure/cognitive-services/language-service/language-detection/overview

This is a very general page and does not contain details on the languages supported.

I think

[2022-10-31 17:42] JustinCredible- opened #100743 "Screenshot under Enable password writeback for SSPR is wrong"
Screenshot under Enable password writeback for SSPR should be referencing Azure AD but instead it is a screenshot from Azure AD Connect.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 115ae83a-95dd-5643-bc88-f5447ebb2b99
* Version Independent ID: 7462ce84-0a9f-4bfd-7eba-c00928d77865
* Content: [Enable Azure Active Dir

[2022-10-31 17:44] cebundy commented on #94685
@masters3d The page is now updated to point to our disaster recovery article.
#please-close

[2022-10-31 17:44] #94685 closed

[2022-10-31 17:49] agray0232 opened #100744 "Spelling Error: "Kubenetes""
In the introduction paragraph, Kubernetes is spelled incorrectly.

"You can easily enable an existing Azure Kubernetes Service (AKS) cluster or Azure Arc-enabled Kubernetes (Arc Kubernetes) cluster to become a **Kubenetes** compute target in AzureML, and use it to train or deploy models."

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue

[2022-10-31 17:57] duanecbarb opened #100745 "Typo in note section"
[Enter feedback here]
There is a URL shown in the notes section that is incorrect, it states:
https://devices.login.microsoftonline.com
Where is should be:
http://device.login.microsoftonline.com

The "device" portion of the URL should be singular not plural.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 623

[2022-10-31 17:59] KarlErickson commented on #100693
@vmuthusamy-nlg thanks for letting us know about this! I'll update the article right away.

[2022-10-31 18:04] FabianGonzalez-MSFT commented on #100465
@msmbaldwin please provide an update about this if possible. ++ @jlichwa

[2022-10-31 18:06] VectorBCO opened #100746 "Missed values for Gateway Load Balancer"
In a table exists 4 columns where 4th column is empty
https://learn.microsoft.com/en-us/azure/load-balancer/skus

![image](https://user-images.githubusercontent.com/13451494/199078265-d1b48d80-5480-418d-9f27-a83d9b3703d1.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: aea3ba6e-2fe1-ea38-4ec0-1c6ec581e602
* Version

[2022-10-31 18:07] VitalyMCT commented on #100586
@ecfan Sorry, can you please elaborate on this a little bit more?

The second extract, from [Azure IP Ranges and Service Tags – Public Cloud](https://www.microsoft.com/en-us/download/details.aspx?id=56519), is also intended to contain the "the IP addresses that Azure Logic Apps uses".

[2022-10-31 18:08] jkrntx opened #100748 "Updates for region mappings for AA and OMS"
Hello,

Is this document up-to-date regarding West US 3? We would like to use the linking feature within westus3. Latest update appears to be about 18 months ago.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: f8f86bd0-7555-9be2-1015-76e3ab88062f
* Version Independent ID: 1d310402-fadf-d602-048a-b2e16bd86a7e

[2022-10-31 18:08] b-ahibbard commented on #100629
Thanks Anthony. The doc has been updated to clarify the preview status
#please-close

[2022-10-31 18:08] #100629 closed

[2022-10-31 18:26] sameerag commented on #99903
@derisen who is handling most of our doc updates.

[2022-10-31 18:35] shlipsey3 commented on #100666
#reassign:shlipsey3

[2022-10-31 18:43] miqm commented on #62655
@whoward-msft sorry for digging this issue up, but is this still in preview? 2 years later and I got this same message: `The property 'linuxConfiguration.patchSettings.patchMode' is not valid because the Microsoft.Compute/InGuestAutoPatchVmssUniformPreview' feature is not enabled for this subscription.`
I would expect that preview features are marked in docs with `(Preview)` in title - this one is

[2022-10-31 18:50] lirichard opened #100751 "Are Azure AD B2C's Display Claims still in preview?"
In this article, Display Claims have been available and marked as 'in preview' since November 22, 2019 [[919f20bb](https://github.com/MicrosoftDocs/azure-docs/commit/919f20bb9f0bed146a5938c3420d2028571b870f)].

According to AD B2C developer notes, the related feature 'Display Controls' has been GA since April 25, 2021 [[23add8f2](https://github.com/MicrosoftDocs/azure-docs/commit/23add8f25dabe5026

[2022-10-31 18:54] ecfan commented on #100586
The [Limits and configuration doc](https://learn.microsoft.com/azure/logic-apps/logic-apps-limits-and-config?tabs=azure-portal#outbound-ip-addresses) lists *only* the IP addresses for Azure Logic Apps that you need to allow, not everything that's listed for the Azure Logic Apps service tag in the [Azure IP Ranges and Service Tags – Public Cloud](https://www.microsoft.com/en-us/download/details.asp