[2020-09-17 17:04] Mike-Ubezzi-MSFT commented on #62630
@clancyarinco This specific topic is in regards to `hybrid mode`, which is a specific on-premise to cloud migration where limited or low bandwidth is present between source and target hosts and the Azure Database Migration Service is not an SQL Server specific component, as it supports migration to almost all database service running in Azure, as stated from the [DMS Overview](https://docs.microso

[2020-09-17 17:04] Mike-Ubezzi-MSFT commented on #62630
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-09-17 17:04] #62630 closed

[2020-09-17 17:12] GiftA-MSFT commented on #62744
@DamonStamper the document will be updated shortly. Thanks again for your feedback!

[2020-09-17 17:12] JamesTran-MSFT commented on #62771
@MNF
Thanks for your feedback! The issue with that sentence on our side was that it looked like:

[code]

I have created a PR to reflect quotes "YourKeyVaultName" and have assigned this issue to the author to review and approve.

If you have any other questions, please let us know.
Thank you for your time and patience!

[2020-09-17 17:16] WinstonHoward-MSFT commented on #62655
Hi @jurajtobias,

- Okay yeah so if the attribute isn't in the VM by definition you cannot update it to True from Undefined. The update functionality is more intended to be closer to my example above where you have a VM that has the property but you didn't set it to True when the VM was created.

- If you really want the property you could migrate your data to a newer VM with the Preview Enabled.

[2020-09-17 17:17] JamesTran-MSFT commented on #62749
@atwerae
Thank you for the quick responses!

I just wanted to check in and see if you had a chance to get the screenshots of what you're seeing when it comes to the user being part of the group and the "edit" button still being grayed out.

[2020-09-17 17:25] drdamour opened #62831 "event grid docs missing"
in the host.json 2.x there's settings for eventgrid things..but i don't see anything about eventgrid anywhere else. seems like there should be something in concepts section about this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3799266d-bc0a-63f0-b67a-bc182d37667a
* Version Independent ID: b768cbf4-c572-58d9-d5e2-1

[2020-09-17 17:27] DerekHerman-MSFT commented on #62826
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-09-17 17:31] Diastro opened #62832 "Quota increase documentation for SQL Managed instance is outdated (new UI)"
[Quota increase request](https://docs.microsoft.com/en-us/azure/azure-sql/database/quota-increase-request#region)

The link above describes ways to get region access which isn't a supported option in the portal anymore (probably due to some new UI?). Half of this pages refers to blades which do not exists and should be reviewed.

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2020-09-17 17:34] JamesTran-MSFT commented on #62541
@jskop
I've reached out to our engineering team regarding this issue and will update as soon as possible.

Thank you for your time and patience.

[2020-09-17 17:35] anweshs-ms opened #62833 "Please add RBAC permissions needed"
[Enter feedback here]

Please add the minimum RBAC permissions needed to use Import Database feature in Azure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65a16702-87ad-4801-5171-f5e629661cb4
* Version Independent ID: bdd076dd-9b65-4054-b7f8-16e12e6a6f99
* Content: [Import a BACPAC file to create a database in Azure

[2020-09-17 17:36] amenarde commented on #61794
Got it, that is fine. I will close this thread. Please reopen if you have issues again. The principle is play is that the selection of the certificate by the client won't influence how the server (SF) validates it, so in this case the issue is embedded somewhere in client configuration or in CN-declaration of client.

[2020-09-17 17:52] srkalava opened #62835 "Service/Region AZ status doesn't align with AKS documentation"
AKS documentation at https://docs.microsoft.com/en-us/azure/availability-zones/az-region states it supports AZ in Australia East, but this document doesn't reflect that

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ef6739c-50e6-e80b-cfc1-4d7d5b5d35e8
* Version Independent ID: 72c38d9b-b8b1-92d4-3937-12de08c35918
* Co

[2020-09-17 17:59] mydiemho commented on #62775
@BhargaviAnnadevara-MSFT I mean add a note saying that only JDK8 is supported, in case other people want to use JDK11

[2020-09-17 18:08] JasonFreeberg commented on #62817
Hi @debinaik -- There's no minimum requirement, Spring Boot apps should run on all the Linux tiers. Are you following the quickstart with *your own* Spring app, or the one used in the doc? If you're using your own larger app, it could be that the lower tiers do not have enough memory to bootstrap the app. Is this Java 8 or 11?

[2020-09-17 18:14] mikeoleary opened #62836 "confusing table of required permissions"
Hi,
I find the table linked here confusing:
https://docs.microsoft.com/en-us/azure/openshift/tutorial-create-cluster#verify-your-permissions

- The 3x columns don't make sense to me. 2 of them are principcals (the user or the SP) but a ResourceGroup is not a principal and you cannot assign it permissions.
- The 2x rows of permissions (User Access Administrator and Contributor) make sense.

I **thi

[2020-09-17 18:20] RonnieQuan opened #62837 "Azure Batch Private Endpoint Available Region"
Hi
In this page, it list our the supported region, which includes eastus2 and centralus

but in this page, https://docs.microsoft.com/en-us/azure/private-link/private-link-overview, it does not show eastus2 and centralus support for Azure batch private link.

Can you please confirm if the eastus2 and  centralus support is GA?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this s

[2020-09-17 18:21] anbene commented on #62119
@scyto You can find the requirements to achieve co-sell status in [Co-sell publishing steps and requirements](https://docs.microsoft.com/en-us/azure/marketplace/marketplace-co-sell#co-sell-publishing-steps-and-requirements).

Thanks again for reaching out!

[2020-09-17 18:26] ChaitanyaNaykodi-MSFT commented on #62820
Hello @Marco-Santoni, Thank you for your feedback! We will review and update as appropriate.

[2020-09-17 18:30] japere commented on #61985
@skluzn If the external URL is accessed from the internal network segment this would most likely route out to App Proxy via the internet. Usually we recommend using matching internal and external URLs with a split brain DNS configuration to optimize the traffic flow. More details are here: https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/application-proxy-configure-custom-domain

[2020-09-17 18:34] drdamour opened #62838 "Visualize progress section needs some asterix"
Visualize progress example in actual practice has some weird side effects since the orchestration is re-entrant for brief windows of time the status may be reverted to an earlier state.  i feel like this shoudl be noted somehow as a simple example with this side effect.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92

[2020-09-17 18:40] bandersmsft commented on #48317
#assign:anuragdalmia

[2020-09-17 18:41] bandersmsft commented on #42924
#assign:anuragdalmia

[2020-09-17 18:41] bandersmsft commented on #47673
#assign:anuragdalmia

[2020-09-17 18:41] bandersmsft commented on #32031
#assign:anuragdalmia

[2020-09-17 18:42] bandersmsft commented on #33500
#assign:anuragdalmia

[2020-09-17 18:42] bandersmsft commented on #34690
#assign:anuragdalmia

[2020-09-17 18:43] WinstonHoward-MSFT commented on #62644
Hi @FrogWan,

Thanks for clarifying. You can get an AKS Nodes Credentials with the following Az CLI Command:

``
az aks get-credentials --name MyManagedCluster --resource-group MyResourceGroup
``

To get the credentials for the administrator use the ``-a`` parameter so
``
az aks get-credentials --name MyManagedCluster --resource-group MyResourceGroup -a
``

Let me know if your still having trouble

[2020-09-17 18:44] himanshusinha-msft commented on #62818
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-09-17 18:48] scyto commented on #62119
@anbene no it doesn't it has optional items in the requirements.

If they are optional they are not requirements.  Also there are items the co-sell team have told us are requirements this document says are optional or makes no statement about.

What is needed is a table that has two columns.  The first colum contains the names of the fields and the second column says required or optional (aka requ

[2020-09-17 19:05] KranthiPakala-MSFT commented on #62822
@LeGiules  Thanks for the feedback! We have assigned the issue to the content author to investigate this and update the document as appropriate.

[2020-09-17 19:07] grozdanovd opened #62840 "Vanilla app link error"
The link provided for the no-framework template on GitHub is wrong (error 404). Should be replaced with https://github.com/staticwebdev/vanilla-basic.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59b3b161-b559-f90b-1566-f18776a5f7da
* Version Independent ID: 3e536234-16ad-2ed3-fb58-c128ba2faab2
* Content: [Quickstart

[2020-09-17 19:10] allegradomel commented on #62703
@PaulDash, thanks for the suggestion! I have added relevant info on Azure Firewall to the doc. You should see this change go live in the next day.

[2020-09-17 19:11] #62703 closed

[2020-09-17 19:21] mikedzikowski opened #62841 "GEN1 vs GEN1 VHD"
[Enter feedback here]
Hello,

The guidance for preparing a VHD for Azure - could we add a link to this page for our customers to easily view
so the differences between GEN1 and GEN2 VHDs are called out.  For example, GEN2 VHDs do not support encryption in Azure currently.

https://docs.microsoft.com/en-us/azure/virtual-machines/generation-2#:~:text=Generation%201%20vs.%20generation%202%20capabilit

[2020-09-17 19:22] mikedzikowski commented on #62841
Link is already there

[2020-09-17 19:22] #62841 closed

[2020-09-17 19:23] Sweggle opened #62842 "Adding an excluded route does not update in the client"
I added a route exclusion to the azurevpnconfig.xml file as per the guidance on the document, removed the existing VPN from the Azure VPN client and re-imported, but the route was not excluded from the profile.

[2020-09-17 19:24] JnHs commented on #62837
Hi @RonnieQuan, thanks for the question and for pointing out the inconsistency. The longer list is accurate, including East US 2 and Central US. We will get the other topic updated soon and I'll close this issue out once that happens. Please let me know if you have any further questions related to this. Thanks again!

[2020-09-17 19:25] #62163 closed

[2020-09-17 19:28] mhopkins-msft commented on #61626
@robs, thank you for your feedback. I've added a note about table support to the Azurite document. It will be published on September 22nd.

Thanks,
 ~ *Mark*

#please-close

[2020-09-17 19:28] #61626 closed

[2020-09-17 19:30] KamalAman commented on #37280
[please-sir-can-i-have-some-auth](https://www.andrew-best.com/posts/please-sir-can-i-have-some-auth/) saved the day. Too bad you can only request the `https://management.azure.com/user_impersonation` scope since no other scopes work with it at the same time.

[2020-09-17 19:42] sanjaykulkarni04 opened #62843 "Set meta data while deleting blob using Rest api call"
Hi,

How can I set meta data while deleting blob using Rest api call? I am referring below doc link but didn't find the way. Is it possible to set? If not then is there any alternate way?

https://docs.microsoft.com/en-us/rest/api/storageservices/delete-blob#:~:text=The%20Delete%20Blob%20operation%20marks,with%20the%20Delete%20Blob%20operation.

[2020-09-17 19:43] ajlam commented on #62571
@AnuragSharma-MSFT , can you help assign to @kummanish?

[2020-09-17 19:46] ChaitanyaNaykodi-MSFT commented on #62830
Hello @jmbertucci, Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2020-09-17 19:48] btardif commented on #53360
This should be fixed. please correct me if I'm wrong @sanchitmehta

[2020-09-17 19:54] SaurabhSharma-MSFT commented on #62675
@markorudloff I am able to reproduce your issue and checking internally with the product team on the same.
![image](https://user-images.githubusercontent.com/38112130/93521388-d9e33700-f8e4-11ea-93b8-6fd27ef4fc01.png)

[2020-09-17 20:01] ChaitanyaNaykodi-MSFT commented on #62838
Hello @drdamour,  Thank you for your feedback! We will review and update as appropriate.

[2020-09-17 20:02] ChaitanyaNaykodi-MSFT commented on #62831
Hello @drdamour, Thank you for your feedback! We will review and update as appropriate.

[2020-09-17 20:12] ChaitanyaNaykodi-MSFT commented on #62330
Hello @RobertF65 , good to know that it worked out. If you are facing any additional issues in the tutorial, I will definitely encourage you to raise a new doc-issue/feedback. This will help us in improving the  overall experience of the tutorials. Thank you!

[2020-09-17 20:14] hbro commented on #62821
Hi @DerekHerman-MSFT !

As a habit, whenever I'm installing new servers, I look up the newest available ISO on the _Microsoft Volume Licensing Service Center_. There are several historical Windows Server versions listed in there, including Windows Server 2019, but also including an "unlabeled" one, which just looks like the most recent build that's available. See also [this image](https://i.imgur.

[2020-09-17 20:23] Jrc356 commented on #62060
@ChaitanyaNaykodi-MSFT am I reading this right? Are you saying that if I have two slots on the same function app (let's say the production and a stage slot) then they should have the same hostid?

Based on the link to the way host id's are determined, it does not look like that's how it is handled. It appears that the code will set host id to `<AzureWebsiteName>-<slotname>` [based on this function

[2020-09-17 20:25] mhopkins-msft commented on #62242
Hi @softchris

Thanks for your feedback. The current CTA takes you to the Azure for JavaScript developer center, which contains links to more tutorials and quickstart articles. I updated the link text to show that it goes to the developer center instead of just JavaScript documentation.

There are plenty of opportunities for your learning journey to continue on the developer center. However, I wen

[2020-09-17 20:25] #62242 closed

[2020-09-17 21:11] rkemish commented on #41082
@mumami Hi, how do I get more than 100 items in the response? We need to download the entire price list.

[2020-09-17 21:24] sdgilley commented on #62495
@wamartin-aml - please let us know if you have suggestions for simplifying the notebook or if you can give us further insight into any confusion.  In the meantime, I'm going to #please-close this thread as we've fixed the link problem mentioned above.

Thanks!

[2020-09-17 21:24] #62495 closed

[2020-09-17 21:37] JamesTran-MSFT commented on #62780
@justin-vanwinkle
Thank you for the feedback! I walked through the documentation and ran into the same issue you did when running the podBindingDeployment.yaml

I removed the "nodePublishSecretRef" portion of the yaml and was able to successful run the file.
[code]

![error](https://user-images.githubusercontent.com/36619112/93530413-66482680-f8f2-11ea-9d2f-0844a46620ea.JPG)

I have assigned this

[2020-09-17 21:38] mmacy commented on #59014
@sameerag is there Node sample handling SameSite that we can point Jeff to?

[2020-09-17 21:39] mmacy commented on #62107
@sameerag do we have a better Node code sample we can point to?

[2020-09-17 21:41] michael-freidgeim-webjet commented on #62577
I think that
 “A Power Automate flow can call a logic app”
will be more clear for readers.

[2020-09-17 21:58] femsulu commented on #62701
assiging to doc-author to review sugggested edit.

[2020-09-17 22:20] hamiltonha commented on #61295
@LarsKemmann you should be able to test with a B2C app now so long as you are using PKCE (please let me know if you run into any issues now), but I wouldn't recommend using in production until a fix goes out next week on the b2c side to enforce pkce

[2020-09-17 22:23] DerekHerman-MSFT commented on #62821
@hbro
Thanks for providing these additional details. I am reaching out to the internal team to see if they have more information on supporting the latest Windows Server 2019 release.

[2020-09-17 22:27] av1817 commented on #62463
I got a solution from Support and the syntax in portal needed to be –

CN=test-34.3pc.att.com,O="AT&T Services, Inc.",L=Dallas,S=Texas,C=US

No quotes on outside, just double quotes for the O field with comma inside.

[cid:image002.jpg@01D68D20.3D1255D0]

The syntax for powershell and CLI is different.

Powershell is

$policy = New-AzKeyVaultCertificatePolicy -SubjectName 'CN=cirrusp-nprd.3pc.att.

[2020-09-17 22:30] mmacy commented on #40234
Hi @Nasicus,

To register the redirect URI in the correct format, [configure the Android platform settings](https://docs.microsoft.com/azure/active-directory/develop/quickstart-register-app#add-a-redirect-uri) in your app's registration.

Select **Authentication** > **Add a platform** > **Android**:

![image](https://user-images.githubusercontent.com/13394541/93534106-4405d700-f8f9-11ea-8fc9-d92f1

[2020-09-17 22:38] #61693 closed

[2020-09-17 22:39] mhopkins-msft commented on #62266
I've made some updates to the article based on your feedback. The updates will be published on 9/22.

Thank you!
 ~ *Mark*

 #please-close

[2020-09-17 22:39] #62266 closed

[2020-09-17 23:12] LarsKemmann commented on #61295
I actually ran a test last night -- so far so good! Thanks so much for the update!

[2020-09-17 23:14] WinstonHoward-MSFT commented on #62836
Thanks for the question! I've assigned your feedback to the author of the doc. Cheers!

[2020-09-17 23:46] ericthomas1 opened #62849 "Filter input binding on multiple file types?"
Hello,

I see that I can filter on [a single filetype](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-blob-trigger?tabs=python#filter-on-file-type).

What is the syntax to filter on multiple filetypes? I only want my function to trigger for .json and .csv files.

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2020-09-18 00:06] eric-synthetaic-com opened #62850 "Regional Restrictions not mentioned"
[Enter feedback here]
This guide needs to specify that the storage account MUST have been created in an appropriate region (eg Central US, East US 2, etc) for the option to create a static website to be enabled/present in the left nav blade of the storage account.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d693507

[2020-09-18 00:21] TravisCragg-MSFT commented on #62727
@jjindrich If this is happening for existing TCP Connections, it is likely the timeout I listed above. If you are getting this error on trying to establish a new TCP connection, please make sure that the port / protocol / IP is allowed through the firewall. If this is occurring for AKS management, you need to allow UDP traffic on management ports.

[2020-09-18 00:44] kobulloc-MSFT commented on #62840
@grozdanovd Thank you for reaching out to us!  For the link to work, you'll need to make sure that you are signed into GitHub first otherwise you'll see a 404 like you're experiencing:

**Link**
https://github.com/staticwebdev/vanilla-basic/generate

**Signed out of GitHub**

![image](https://user-images.githubusercontent.com/37556655/93542232-525dee00-f90d-11ea-943b-ace153b506f5.png)

**Signed in

[2020-09-18 00:46] kobulloc-MSFT commented on #62840
@grozdanovd We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-09-18 00:46] #62840 closed

[2020-09-18 01:16] MonikaReddy-MSFT commented on #62842
@Sweggle -
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-09-18 01:46] fpfreund opened #62852 "Busting should be Bursting"
First word in second sentence of first paragraph is Busting.  Pretty sure it should be Bu"r"sting.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9b94ef0-370e-058f-dbdf-b59a9e1177eb
* Version Independent ID: 87d85e7e-4246-6c7d-3347-74b202284822
* Content: [Managed disk bursting - Azure Virtual Machines](https://docs.m

[2020-09-18 01:54] MayankBargali-MSFT commented on #62849
@ericthomas1 You can only specify one path in the storage blob trigger input bindings therefore you cannot specify multiple paths/filter on the same function app. Either you need to create different functions for different paths/filters or you need to use [event grid subscription](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-event-overview#filtering-events), filter the events

[2020-09-18 01:59] Karishma-Tiwari-MSFT commented on #62816
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-18 02:03] Karishma-Tiwari-MSFT commented on #62852
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

[2020-09-18 02:06] Karishma-Tiwari-MSFT commented on #62828
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-18 02:07] Karishma-Tiwari-MSFT commented on #62827
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-18 02:42] #62644 closed

[2020-09-18 03:07] danieljamescarpenter opened #62853 "Small typo in method name"
The example method RunAvailbiltyTestAsync contains a typo.

Cue the nitpick alarm.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6be60b15-5e41-4a0f-41a2-a592afc4ff45
* Version Independent ID: aa652576-5e64-2cbf-e556-ca9c7fd91b83
* Content: [Create and run custom availability tests using Azure Functions - Azure Monitor]

[2020-09-18 03:13] PramodValavala-MSFT commented on #62515
@MhAllan Just following up here... Hope my previous comment clears things up.

We are assigning this issue to the content author for further review and to update the docs accordingly.

[2020-09-18 03:30] PramodValavala-MSFT commented on #62577
@ggailey777 Could you please share your thoughts on this?

[2020-09-18 04:01] BharathNimmala-MSFT commented on #62853
@danieljamescarpenter Thanks a lot for bringing this to our attention and helping us improve our documentation. I have raised a PR to correct the typo, once its reviewed and approved it will be merged to the live document.

At this point it appears that there's no further edits or updates needed to the documentation, other than what is listed above. We will go ahead and close this issue, however i

[2020-09-18 04:01] #62853 closed

[2020-09-18 04:06] BharathNimmala-MSFT commented on #62485
@hnst-grl123 Apologies for delayed response on getting back to this thread.

For Logic App Action Type with in Alert Action group, currently only Http Request trigger is supported which has been listed in the portal when you use the action type. We do appreciate your feedback and see that we can update the documentation to mention this so that it represents the current supportability.

![LogicApp_

[2020-09-18 04:12] BharathNimmala-MSFT commented on #62485
@hnst-grl123  I have raised a PR to update the document to reflect the current supportability, once its reviewed and approved it will be merged to the live document.

Hope the above information helps. At this point it appears that there's no further edits or updates needed to the documentation, other than listed above . We will go ahead and close this issue, however if you have any further queries

[2020-09-18 04:12] #62485 closed

[2020-09-18 04:21] souravmishra-msft commented on #62722
@yiliuTo, Closing this thread for now, since got no more queries.

[2020-09-18 04:35] theguru0 opened #62854 "Why put a "#" in front of commands?"
What do the RHEL commands have a "#" in front of them?  You can't copy and paste them that way.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cea4948f-a937-0543-ced0-e8db91ead17c
* Version Independent ID: 62ac2429-6d59-8bfb-2731-127eb2aba615
* Content: [Resize an OS disk that has a GPT partition - Azure Virtual Machin

[2020-09-18 04:36] MayankBargali-MSFT commented on #62831
@drdamour Looks like you have created the issue in the wrong document. I believe you are looking for [this](https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-event-publishing?tabs=csharp-script). You can create a new issue for a doc which is related to your feedback and I will be closing out this issue.

[2020-09-18 04:36] #62831 closed

[2020-09-18 04:41] #62722 closed

[2020-09-18 04:42] GitaraniSharma-MSFT commented on #62759
@nitinkale , just following up to check if you have any further queries on this issue.

[2020-09-18 04:43] BhargaviAnnadevara-MSFT commented on #62775
@mydiemho Sure, thanks for the inputs. I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-09-18 04:49] SnehaAgrawal-MSFT commented on #62511
@bbmmcodegirl Thanks! Since We will taking care this issue internally will close this here.

[2020-09-18 04:49] #62511 closed

[2020-09-18 05:13] AnuragSharma-MSFT commented on #62833
@anweshs-ms Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-09-18 05:14] SnehaAgrawal-MSFT commented on #62658
@Lamarth Thanks again for the feedback! We do not actively encourage this path and hope to have this resolved in product soon. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-09-18 05:14] #62658 closed

[2020-09-18 05:14] AnuragSharma-MSFT commented on #62832
@Diastro Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-09-18 05:33] akenamon opened #62855 "no TLS peer certificate found for 'client', skipping client authentication"
guide
https://docs.microsoft.com/en-us/azure/vpn-gateway/point-to-site-vpn-client-configuration-azure-cert#linuxinstallcli

# The step bellow

6. Adjust the values in the example below, then add the example to the /etc/ipsec.conf configuration.

conn azure
      keyexchange=ikev2
      type=tunnel
      leftfirewall=yes
      left=%any
      leftauth=eap-tls
      leftid=%client # use the DNS alte

[2020-09-18 05:51] BhargaviAnnadevara-MSFT commented on #62779
@luhyun95 Any update here?

[2020-09-18 06:15] shashishailaj commented on #62854
@theguru0 Thank you for your query. We will have this investigated and update the thread.

[2020-09-18 07:03] BhargaviAnnadevara-MSFT commented on #62772
@mydiemho Thanks for bringing this to our attention. I have submitted a PR to fix the issue that's in review.

[2020-09-18 07:14] SubhashVasarapu-MSFT commented on #62855
@akenamon, Appreciate your patience. The doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-09-18 07:14] #62855 closed

[2020-09-18 07:14] SumanthMarigowda-MSFT commented on #62850
@eric-synthetaic-com Thanks for your question. We are checking on this and will respond to you soon.

[2020-09-18 07:16] akenamon commented on #62855
Thanks!!! @SubhashVasarapu-MSFT

[2020-09-18 07:21] PavanMSD007 opened #62856 "Passwords synced to Active Directory via PES from one domain to other - does not get picked up by Azure AD connect for password hash sync"
[Enter feedback here]
Team,
Consider this scenario - password for an user object is synced from On-prem Active directory to other on-prem active directory using PES (Password Export service)

These passwords are not getting picked up for password hash sync in Azure AD connect.
Found the reason that - initially the accounts are set with "Users must change their passwords at next logon" (I know that

[2020-09-18 07:22] psmanhas commented on #62623
@MarkKharitonov Apologies for the delay in response.

I tried to follow the article and tried creating the same on corporate network and it completed successfully as below:
![image](https://user-images.githubusercontent.com/35990743/93568194-6f49fe00-f9ad-11ea-8f61-0987448a472b.png)

There is feedback provided in the post you mentioned which I have taken to our backend team so they can make the ne

[2020-09-18 07:23] psmanhas commented on #62623
@MarkKharitonov Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-09-18 07:23] #62623 closed

[2020-09-18 07:26] hhao01-becls opened #62857 "Missing some xml element"
This article is great. And I try to follow this article to create a custom policy, and I find some issues.
* In the section *In your TrustFrameworkPolicy element, add these SubJourneys as shown in the following example:*, "&lt;SubJourneys&gt;" is missing.
* The Technical Profile "SimpleUJContext" is missing. I try to search it from [here](https://github.com/azure-ad-b2c/samples), and find one, whi

[2020-09-18 07:27] AnuragSharma-MSFT commented on #62684
@airtank20 Thanks for pointing out the issue, really appreciate your inputs. This change was supposed happen as per below link:
https://techcommunity.microsoft.com/t5/azure-sql-database/user-initiated-manual-failover-on-sql-managed-instance/ba-p/1538803

We have updated the document content accordingly. The changes should be live once the PR is approved. You can review the PR meanwhile and let us

[2020-09-18 07:29] SwathiDhanwada-MSFT commented on #62516
@AdimUser Hope the above information was helpful. Let me know if you have any further queries regarding it.

As there are no further documentation changes, we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2020-09-18 07:29] #62516 closed

[2020-09-18 07:33] psmanhas commented on #62388
@prajster Apologies for the delay in response.

Uninstall ingress nginx: Delete the ingress-nginx namespace. This does not remove the validating webhook configuration - delete this one manually. Then install MetalLB and install ingress nginx again. Use the version from the Helm stable repo.

You can refer to [this](https://stackoverflow.com/questions/61365202/nginx-ingress-service-ingress-nginx-co

[2020-09-18 07:33] psmanhas commented on #62388
@prajster
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-09-18 07:33] #62388 closed

[2020-09-18 07:42] psmanhas commented on #62835
@srkalava Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2020-09-18 07:42] psmanhas commented on #62835
@cynthn Can you please check and add your comments on this doc update request as applicable

[2020-09-18 07:42] Gerasz87 opened #62858 "Some solutions have been renamed"
Not an urgent problem, but since the names of some solution have been changed for a while, I think You should update their names on this page.

For example:
from "Windows Defender" to "Microsoft Defender"
or
the "Windows Intune" to "Microsoft Intune"
etc

Thank you for your consideration.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-09-18 07:44] jjindrich commented on #62727
Many thanks. I would recommend to add this error message into FAQ section. I'm closing this issue.

[2020-09-18 07:44] #62727 closed

[2020-09-18 07:52] HockeyJustin opened #62859 "Google Auth Setup Step 5 - Location has moved"
Document is easy to follow except step 5 for setting in `Create a Google application`:

The text states:

However, before you click 'Oauth Consent Screen', you must first click 'API and Services' menu in the sidebar.

<img width="472" alt="Google Api consent 2" src="https://user-images.githubusercontent.com/4604271/93571085-df478c80-f98b-11ea-9e1e-27800179ed65.png">

---
#### Document Details

⚠ *

[2020-09-18 07:53] martyg1000 opened #62860 "Additional sentence to clarify meaning"
Hi Guys,

You have a sentence in this page which states

**_"The order in which you add the conditions are important. Azure AD evaluates the conditions from top to bottom to decide which value to emit in the claim."_**

Whilst you have an example below that - It would be really helpful to append the following- "the last value which matches the expression will be emitted in the claim"    :)   This

[2020-09-18 08:04] AnuragSharma-MSFT commented on #62832
@Diastro Would it be possible for you to share couple of examples which are inconsistent?

[2020-09-18 08:18] BhargaviAnnadevara-MSFT commented on #62778
@mydiemho I tried to run `mvn clean package -DskipTests` on the [generated sample](https://start.spring.io/#!type=maven-project&language=java&platformVersion=2.3.3.RELEASE&packaging=jar&jvmVersion=1.8&groupId=com.example&artifactId=hellospring&name=hellospring&description=Demo%20project%20for%20Spring%20Boot&packageName=com.example.hellospring&dependencies=web,cloud-eureka,actuator,cloud-starter-s

[2020-09-18 08:21] BhargaviAnnadevara-MSFT commented on #62778
@mydiemho I tried to run `mvn clean package -DskipTests` on the [generated sample](https://start.spring.io/#!type=maven-project&language=java&platformVersion=2.3.3.RELEASE&packaging=jar&jvmVersion=1.8&groupId=com.example&artifactId=hellospring&name=hellospring&description=Demo%20project%20for%20Spring%20Boot&packageName=com.example.hellospring&dependencies=web,cloud-eureka,actuator,cloud-starter-s

[2020-09-18 08:26] Sweggle commented on #62842
Hi,
It's this page:
[https://docs.microsoft.com/en-us/azure/vpn-gateway/openvpn-azure-ad-client#faq](url)
Under exclude routes.

[2020-09-18 08:33] shashishailaj commented on #62859
@HockeyJustin Thank you for pointing this out . We will have this reviewed and updated as needed.

[2020-09-18 08:34] shashishailaj commented on #62860
@martyg1000 Thank you for your feedback . We will investigate and update the thread.

[2020-09-18 08:35] shashishailaj commented on #62856
@PavanMSD007 Thank you for your query. We will review this and update the thread.

[2020-09-18 08:37] shashishailaj commented on #62858
@Gerasz87 Thank you for pointing it out . We will investigate and update the thread.

[2020-09-18 08:37] shashishailaj commented on #62857
@hhao01-becls Thank you for your query. We will review this and update the thread.

[2020-09-18 08:39] shashishailaj commented on #62843
@sanjaykulkarni04 Thank you for your query. We will investigate and update the thread.

[2020-09-18 08:40] PramodValavala-MSFT commented on #62513
@MNF Thanks for the feedback! We have worked up a PR to address, which once merged should reflect in a couple of hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-09-18 08:40] #62513 closed

[2020-09-18 08:42] JayaChatterjee-MSFT commented on #62825
@drdamour Thanks for reporting this item! I have updated the doc and it will be published soon. We appreciate the feedback!

[2020-09-18 08:48] MhAllan commented on #62515
not really, maybe we need example how these settings will be encrypted? especially when the application spin multiple instances, how come the settings be encrypted using machine key?

[2020-09-18 08:52] mrmokilok opened #62863 "CTSFeatureCrew email is not open outside organisation"
I tried to send email about language support and got automatic response, that the CTSFeatureCrew email address isn't open outside organisation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45a8e3c8-0dc9-3dba-3f03-236ca88eaa47
* Version Independent ID: 96c3dc8d-3116-c359-94a8-918fbbbf2d36
* Content: [Conversation Tran

[2020-09-18 08:59] plachor commented on #42282
@MarileeTurscak-MSFT  `Guid` is a valid `anyURI` (relative path) shouldn't it be accepted too ? Why is it not accepted while 'any-relative-path' is?

[2020-09-18 09:15] psmanhas commented on #62585
@jtuliani Apologies for the delay in response.

I followed the article and I did came across the below error:
![image](https://user-images.githubusercontent.com/35990743/93580538-8ee92280-f9bd-11ea-8cfe-553e93d45612.png)

I have passed on the feedback to our backend team so they can have a look in it and make the changes as applicable.

Do let me know in case of any more queries.

Thanks

[2020-09-18 09:24] PramodValavala-MSFT commented on #62515
@MhAllan Note that this is only for the `local.settings.json` meant only for local development. Once published to Azure, all your settings would become [App Settings](https://docs.microsoft.com/en-us/azure/azure-functions/functions-how-to-use-azure-function-app-settings), which are encrypted at rest by default.

You could even then opt to use [Key Vault References](https://docs.microsoft.com/en-us

[2020-09-18 09:30] yull1860 commented on #62560
No , the doc https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/virtual-network/virtual-network-manage-peering.md is CORRECT , but https://docs.microsoft.com/en-us/rest/api/virtualnetwork/virtualnetworkpeerings/createorupdate stated WRONGLY (can't find feedback button on the page so raise the question here)

![image](https://user-images.githubusercontent.com/17472445/93581819-3a9d6d0

[2020-09-18 09:37] yull1860 opened #62864 "The feature is fully supported for both Windows and Linux web apps. All of the behaviors act the same between Windows apps and Linux apps."
Found Windows / Linux app different config when UDR used in app subnet and pointed to a NVA sit in peering VNET

For Windows app , app vnet peering property AllowForwardedTraffic can be any (T/F)
For Linux app , AllowForwardedTraffic has to be TRUE on app vnet peering .
[Enter feedback here]
![image](https://user-images.githubusercontent.com/17472445/93582732-797ff280-f9d5-11ea-94d4-7c432a94630f.p

[2020-09-18 09:45] SnehaAgrawal-MSFT commented on #62864
@yull1860 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-18 09:53] SwathiDhanwada-MSFT commented on #53591
@ricohomewood Thanks for following up on this. As per latest information, the ETA  for sending counters to InsightsMetrics is expected to be completed by the end of 2020.

[2020-09-18 10:12] MhAllan commented on #62515
@PramodValavala-MSFT  That is very clear now as it is for local machine only, I still have wonder why do people want to encrypt local machine settings? but feel free to ignore this. Thank you so much for your time, and I hope the documentation reflects your explanation here.

[2020-09-18 10:45] JuhaKoivisto opened #62865 "Typo"
This page says "Within the openIdConnectProviders object, add a key for your new provider. This is a friendly name used to reference the provider in the rest of the configuration. For example, if you wanted to require all requests to be authenticated with this provider, you would set globalValidation.unauthenticatedClientAction to "RedirectToLoginPage" and set globalValidation.unauthenticatedClien

[2020-09-18 10:48] SubhashVasarapu-MSFT commented on #62641
@jhueppauff, the request has been shared with the corresponding product group.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-09-18 10:48] #62641 closed

[2020-09-18 10:56] SubhashVasarapu-MSFT commented on #62544
@donchai, Appreciate your feedback. We have assigned this issue to the respective content author for updating the document accordingly.

[2020-09-18 10:57] ga1ka opened #62866 "VNet Integration for Docker compose / multiple images apps"
I am would like to use VNet Integration for a linux container app that is using multiple docker images, combined as one docker-compose.

If I would create a single image app inside P2v2 App Service everything works as expected I see correct options in Networking tab
![image](https://user-images.githubusercontent.com/205835/93589339-f77bd380-f9ac-11ea-9a76-d88d14b37b0b.png)
![image](https://user-im

[2020-09-18 11:40] pmisiuda opened #62867 "Private endpoints and firewall"
Hello

1. Shoudn't 'Service Endpoints' be updated/replaced with Private Endpoint connections? (Security Control in Network section)
2. Is Private Endpoint Globally Available now for Relay? (announced as In Preview on May 18th, but now 'preview' tag is no longer visible for Relay/Private Endpoint.
3. When we might expect to have Firewall Globally Available (in Preview since May 18th)
4. Is there an

[2020-09-18 12:02] MarkKharitonov commented on #62623
I do not understand what you did. Was it to show that the instructions in the documentation correct? Well, they are correct for some and insufficient for others.
Your corporate network, does it enforce zscaler on every dev machine? If not, then your corporate network is not like mine.

I am sorry, but I do not know why you closed the issue.

[2020-09-18 12:09] richardhauer opened #62868 "AD Registered Application ObjectId and token oid do not match"
The documentation indicates that the `oid` claim returned as a result of a registered Application logging in through the Client Credentials Grant flow will match the `ObjectId` property indicated for that application in the Azure AD blade in the Azure Portal, but our experiments show this is not the case.

The `oid` and `app` claims match (as indicated in the documentation) but seem to have no rel

[2020-09-18 12:10] dvescovi1 opened #62869 "no .env file"
this page references a .env file but if I follow the instructions and install only the plugins they call out with VS code 1.49.1 I do not see any .env file.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 181d5562-f8d7-9c59-85ea-09efbe397f3e
* Version Independent ID: dbedd952-a050-286e-c951-4529ec8e87b8
* Content: [Tuto

[2020-09-18 12:12] SubhashVasarapu-MSFT commented on #62574
@sharath-srinivasan, Appreciate your patience. In the document it is mentioned to generate a p12 bundle which contains the user certificate. This bundle will be used in the next steps when working with the client configuration files.
${USERNAME}.p12 -->  client.p12 file
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue

[2020-09-18 12:12] #62574 closed

[2020-09-18 12:13] SubhashVasarapu-MSFT commented on #62645
@ebashmakov, we are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-09-18 12:13] #62645 closed

[2020-09-18 12:38] AshokPeddakotla-MSFT commented on #62534
@sanjayntms  Changes are done in the doc and it will be published in next week.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-09-18 12:38] #62534 closed

[2020-09-18 12:51] Scribliotech opened #62871 "No information how to get Authenticator to use fingerprint instead of PIN"
On my Samsung Galaxy S10 phone, when I set up Microsoft Authenticator, it would ask me for my fingerprint when I needed to approve access for accounts added to Authenticator. Since upgrading to the new Microsoft Surface Duo, it keeps asking me for a PIN. How do I get it to use a fingerprint instead of demand a PIN? this page just says that it does that but gives no information or link to how to fo

[2020-09-18 12:57] psmanhas commented on #62623
@MarkKharitonov Apologies that my response were not clear.

I do understand that it might not be sufficient for some users so I have given the same feedback to our back end team who will look into it and make the necessary changes.

Do let me know in case of any more queries.

Thanks

[2020-09-18 13:14] icaros401 opened #62872 "Uninitialized aadInstance variable"
The example refers to a variable called "aadInstance".

The comment in the example hints that Authority should be set to "https://login.microsoftonline.com/common/v2.0". aadInstance is presumably "https://login.microsoftonline.com/{0}{1}" but that begs the question: why do string interpolation there? Is there a constant somewhere that contains this string..?

---
#### Document Details

⚠ *Do not e

[2020-09-18 13:17] icaros401 commented on #62872
Rats, I see it now. aadInstance was fetched from the configuration file.

[2020-09-18 13:17] #62872 closed

[2020-09-18 13:35] cchapin-ms opened #62873 "Outdated information"
This page is outdated and needs to be updated with the current interface. It shows last updated in 2017.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 35b52f01-3dee-6d41-f9f6-7710e461ffeb
* Version Independent ID: c8ef08a8-d503-b52f-9de8-21b13cfa3d72
* Content: [Azure Active Directory Connect Health operations](https:

[2020-09-18 13:37] KalyanChanumolu-MSFT commented on #62605
@mrmuskrat Thank you for the detailed feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2020-09-18 13:50] AndyCW opened #62874 "Turkish Pre-built entities support availability - docs inconsistency"
This page: https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-reference-prebuilt-entities#turkish-entity-support states that no pre-built entities are supported for Turkish.
However, this page: https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-reference-prebuilt-entities#turkish-entity-support in the table indicates that they are supported.

Needs to be consisten

[2020-09-18 13:51] bverhoeve opened #62875 "EventHubs - send and receive messages - client libraries confusion"
I was going through the concepts of Event Hubs today, and read the section on sending and receiving messages. It states there that _"You can publish an event via AMQP 1.0, Kafka 1.0 (and later), or HTTPS. Event Hubs provides client libraries and classes for publishing events to an event hub from .NET clients._" which seems to hint that the SDK is limited to .NET, which isn't the case. I'd like to

[2020-09-18 13:55] a-ibolog opened #62876 "small request to update page info"
Under
Step 2. Update the Kerberos decryption key on each AD forest that it was set it up on

Add a notice frame/bubble
   Note:
   Only run this on the active AD Connect server of each domain. if you have backup servers running in staging, you do not
    need to run the update on them.

customers get confused here and believe that they have to perform the roll over on multiple machines

---
#### D

[2020-09-18 14:00] RohitMungi-MSFT commented on #62539
We will now proceed to close this thread as the quickstart document works fine. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-09-18 14:00] #62539 closed

[2020-09-18 14:01] ramandeep-singh-1983 commented on #42615
Will get back about this shortly.

[2020-09-18 14:02] HaydnDias opened #62877 "Publisher verification - Unable to add publisher"
Hi, I'm trying to verify my app with an MPN ID, and whether I do it through the azure portal, or the https://graph.microsoft.com/v1.0/applications/{applicationId}/setVerifiedPublisher api I get the following response

[code]

This error isn't documented, we have another app registered the exact same way but configured for testing which has verified fine, I can't figure out what the issue is.

Many

[2020-09-18 14:04] RohitMungi-MSFT commented on #62863
@mrmokilok We apologize for the experience. Could you please let us know the query regarding the locale support you are looking for?

[2020-09-18 14:06] ericthomas1 commented on #62849
Thank you @MayankBargali-MSFT. In researching EventGrid, I can't find a Python example for accessing the EventGrid data() object.

**Scenario**:
1 File uploaded to BlobStorage
2 EventGrid is triggered when file upload is complete
3 EventGrid sends json payload to Azure Function
4 Azure Function gets blob content and moves it using python `requests` library.

Step 4 above is where I'm stuck. Using

[2020-09-18 14:12] airtank20 commented on #62684
@AnuragSharma-MSFT Awesome!  Thank you for the update! Much appreciated!

[2020-09-18 14:15] mmacy commented on #40234
@Nasicus I've updated the section on generating a redirect URI in https://github.com/MicrosoftDocs/azure-docs-pr/pull/130349 (PR in the private repo - that link will 404 for you but posting it for tracking). I'll close this one out as the document update has been completed. #please-close

Here's the new section which should go live sometime on 22 September 2020:

[2020-09-18 14:15] #40234 closed

[2020-09-18 14:53] bmilbauer opened #62879 "Not enough detail on app attach"
There isn't anywhere near enough detail in here to understand what app attach is, what it does, and how it works. A few high-level bullets are not enough.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7f896c0-c7a0-d8ff-225e-9b20f5c9dbcc
* Version Independent ID: 62e71f0b-88e5-9bca-fa24-383545508801
* Content: [Window

[2020-09-18 14:55] swettstein opened #62880 "Prefetch Count Default"
For Prefetch Count, the default value is zero, but what does a value of zero mean?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1752a37b-b40a-5613-3416-fd604b281dbc
* Version Independent ID: f088004f-f80e-ba5c-e08e-c76ac395c809
* Content: [Azure Service Bus output bindings for Azure Functions](https://docs.microsoft.

[2020-09-18 14:56] jmprieur commented on #62872
#assign jmprieur

[2020-09-18 15:26] mmacy commented on #42631
#reassign:mmacy

[2020-09-18 15:38] SnehaAgrawal-MSFT commented on #62865
@JuhaKoivisto Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-18 15:38] SnehaAgrawal-MSFT commented on #62866
@ga1ka Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-18 15:40] azaricstefan commented on #62818
Hi @rquintino did you use database scoped credentials when you created first data source (maybe you used SAS/Managed Identity which didn't had rights)?

When you don't specify DB scoped credential then AAD pass-through is used by default.

[2020-09-18 16:04] SnehaAgrawal-MSFT commented on #62743
@cephalin Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2020-09-18 16:11] avbhaskar commented on #36511
Mike, I will be redepolying Azure Data Sync using ARM Templates in the next week. Any issues, we will bring to the new repository mentioned

[2020-09-18 16:24] MonikaReddy-MSFT commented on #62817
@JasonFreeberg  - Thank you for providing your insights.
@debinaik - I hope @JasonFreeberg has answered your question.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-09-18 16:24] #62817 closed

[2020-09-18 16:26] WinstonHoward-MSFT commented on #62655
Hey @jurajtobias ,

Am I okay to close this issue or do you have a follow-up question?

[2020-09-18 16:26] kiranpradeep opened #62881 "Queue Storage Trigger under Alternative section does not mention when to use it"
The section "Event Grid Trigger" under "Alternatives" correctly explains when to use that particular alternative.

But the section "Queue Storage Trigger" under "Alternatives" does not specify when to consider that as an alternative. It just specifies examples. The reader is now confused on when he/she has to use "Queue Storage Trigger" as an alternative. Could the scenarios be explained ?

---
##

[2020-09-18 16:29] MonikaReddy-MSFT commented on #62823
@marumohan -
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-09-18 16:32] dlepow commented on #48237
I am closing this issue. A JSON Resource Manager template is available here: https://github.com/Azure/azure-quickstart-templates/tree/master/101-aci-vnet.
#please-close

[2020-09-18 16:32] #48237 closed

[2020-09-18 16:42] JamesTran-MSFT commented on #62873
@cchapin-ms
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-09-18 16:42] zpwalter2019 opened #62882 "How do I download the payment receipt"
Can someone add to this article and explain also how to download the receipt once the payment is made or provide the link to "where to find the receipt"? I can find the invoice easily and how to pay is quite clear. But I couldn't find where I can download the receipt.

[2020-09-18 16:50] ggailey777 commented on #62515
@MhAllan thanks for letting us know about the confusion. I've tried to make things more clear in the linked PR.

[2020-09-18 16:50] MikeDodaro commented on #62700
@sujitdmello  Did the gateway deployment succeed?  What happens if you run the next command to deploy auth-service?
cc @MonikaReddy-MSFT

[2020-09-18 17:00] cherylmc commented on #62842
@anzaman - can you take a look?

[2020-09-18 17:02] shashishailaj commented on #62459
@adamlavery For any version of AD connect above 1.1.443.0 , You do not require to manually abandon the encryption key . It is automatically removed in the background when you change the password in newer versions of Azure AD connect hence you do not need to worry about that step. We will now close this issue. I have added a small line in the note.

[2020-09-18 17:05] mikeg-roebbelen commented on #61636
Hi @MarileeTurscak-MSFT

One thing I have always found ambiguous is whether or not a single user in the tenant needs to be licensed with Premium P1 or if every user that has SSPR enabled needs the Premium P1 license.  Could you please clarify this for me?

Thanks,

Mike

[2020-09-18 17:07] #62459 closed

[2020-09-18 17:10] ryandleHEATR opened #62883 "Visual studio instructions are outdated"
I am using VS 2019 16.7.3. The instructions for the section named `Enable Application Insights server-side telemetry (Visual Studio)` appear to be outdated - starting with step 2 - there is no ` Add Application Insights Telemetry` option. Instead there is a `Configure Application Insights` option. The instructions don't seem to walk you through the current VS dialog from that point on.

One partic

[2020-09-18 17:11] MikeDodaro commented on #62700
@yucwan Do you have any idea what is wrong here?

[2020-09-18 17:13] nathanmcnulty opened #62884 "Password write-back requires SAMR permissions for password write-back account"
We recently ran into an issue created by SAMR hardening, and this is not really documented anywhere. The MSOL account (or custom account for password write-back), needs to be able to make remote calls to SAM.

For those who have hardened this, we need to add the account to the following security policy (whether local or GPO):
Security Settings - Local Policies/Security Options  - Other

Network ac

[2020-09-18 17:13] JamesTran-MSFT commented on #62876
@a-ibolog
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-09-18 17:14] sujitdmello commented on #62700
Yes all the others deploy. Just the one failure.

[2020-09-18 17:17] MikeDodaro commented on #62700
@sujitdmello Maybe rebuild the application and rerun the account service deployment.  I've been through this example numerous times.  Can't remember hitting that error.

[2020-09-18 17:17] MarileeTurscak-MSFT commented on #62868
@richardhauer
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-18 17:20] himanshusinha-msft commented on #62875
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-09-18 17:21] JamesTran-MSFT commented on #62749
@atwerae
I just wanted to check in and see if you had a chance to get the screenshots of what you're seeing when it comes to the user being part of the group and the "edit" button still being grayed out.

Please let me know if you have any other questions.
Thank you for your time!

[2020-09-18 17:24] JamesTran-MSFT commented on #62871
@Scribliotech
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-18 17:26] JamesTran-MSFT commented on #62877
@HaydnDias
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-18 17:32] ChaitanyaNaykodi-MSFT commented on #62867
Hello @pmisiuda, Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2020-09-18 17:36] MarileeTurscak-MSFT commented on #62884
@nathanmcnulty
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-18 17:36] ChaitanyaNaykodi-MSFT commented on #62880
Hello @swettstein,  Thank you for your feedback! We will review and update as appropriate.

[2020-09-18 17:51] markri-msft commented on #62208
@dbuskirk - We announced that the Ink Recognizer API has ended its preview on August 26th, 2020. On January 31st, 2021 the service will fully close down. At this time I do not have any announcement of any replacement. We are always evaluating and listening to customers on what is the most important features of a service like this. If you would, could you send me an email with details on what scena

[2020-09-18 17:56] Karishma-Tiwari-MSFT commented on #62882
Thanks for your feedback. Please provide us with the link to the documentation you are referring to so we can better assist.

[2020-09-18 17:58] ggailey777 commented on #62515
PR is queued for release. #please-close

[2020-09-18 17:58] #62515 closed

[2020-09-18 18:04] nitinme commented on #62208
Thanks for your response @markri-msft.

@dbuskirk - Feel free to reach out to Mark to discuss this further.

#please-close

[2020-09-18 18:04] #62208 closed

[2020-09-18 18:07] ChaitanyaNaykodi-MSFT commented on #62881
Hello @kiranpradeep, Thank you for your feedback! We will review and update as appropriate.

[2020-09-18 18:08] JayaChatterjee-MSFT commented on #62535
@Arithmomaniac Thanks for reporting this item! Yes you are right  instance id is fetched from the DurableFunctionHubInstances table and it will have a value when the runtime status is in completed, failed or terminated state. Hence we need to check the runtime status as well.
I have updated the doc and it will be published soon. We appreciate the feedback!

[2020-09-18 18:17] dbrownems opened #62887 "DataFrame schema missing"
????
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9cbe3ff-e161-cea8-7878-855768cbcc93
* Version Independent ID: e52d6c0d-e8fa-1e7b-97bd-944123262a82
* Content: [Binary file - Azure Databricks](https://docs.microsoft.com/en-us/azure/databricks/data/data-sources/binary-file)
* Content Source: [databricks/data/data-sour

[2020-09-18 18:19] abdale opened #62888 "Minor spacing issues"
"The Azure Synapse connector offers efficient and scalable Structured Streaming write support for Azure Synapse that provides consistent user experience with batch writes, and uses PolyBase

for large data transfers
between an Azure Databricks cluster and Azure Synapse instance. Similar to the batch writes, streaming is designed largely for ETL, thus providing higher latency that may not be suitab

[2020-09-18 18:21] YutongTie-MSFT commented on #62874
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-18 18:27] JamesTran-MSFT commented on #62871
@Scribliotech
Looking through the documentation, I did find a section saying:

[**Whether to use your device's biometric capabilities**](https://docs.microsoft.com/en-us/azure/active-directory/user-help/user-help-auth-app-overview#whether-to-use-your-devices-biometric-capabilities)
"If you use a PIN to complete the authentication process, you can set up the Microsoft Authenticator app to instead u

[2020-09-18 18:29] YutongTie-MSFT commented on #62596
@philippschaefer4
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

@RSavage2 Thanks.

[2020-09-18 18:29] #62596 closed

[2020-09-18 19:04] nitinme commented on #62744
The doc has been updated and the changes will go live on 9/22

@DamonStamper - Thanks for your feedback.

#please-close

[2020-09-18 19:04] #62744 closed

[2020-09-18 19:07] mmacy commented on #42631
@azav In https://github.com/MicrosoftDocs/azure-docs-pr/pull/130436 (private repo, might 404 for you), I've added the following to the **Get a token interactively** section of this article:

The updated version of the doc won't go live until on or about 22 SEP 2020 due to content lockdown ahead of the Ignite 2020 conference, but I'm going to close this one out as the PR with the fix has been submi

[2020-09-18 19:07] #42631 closed

[2020-09-18 19:33] SatishBoddu-MSFT commented on #62869
Hello @dvescovi1
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-18 19:54] absheik commented on #35107
https://docs.microsoft.com/en-us/rest/api/appservice/appserviceenvironments/getinboundnetworkdependenciesendpoints

[2020-09-18 19:55] absheik commented on #35107
@johndowns, it will help if you are some one form FTA write a small utility that will call this api periodically and alert on a change in the Management IP

[2020-09-18 20:06] MartinJaffer-MSFT commented on #62739
Yes, @dxk3355 , that line appears to be applicable to scala only.  However we can still use it by preceding it with `%scala` .
[code]

  @mssaperla is the `Step 1: Check that the JDBC driver is available` required for all languages, or only when using scala?

[2020-09-18 20:26] shashishailaj commented on #62467
@opticyclic While I understand that the article directly does not talk about B2C because its more about understanding how to build application on the Azure Active directory platform, we already have a completely different documentation for B2C . The first page about [Microsoft identity platform documentation](https://docs.microsoft.com/en-us/azure/active-directory/develop/) does provide the links

[2020-09-18 20:26] #62467 closed

[2020-09-18 20:50] VitalyMCT opened #62892 "Firewall configuration for Database 1 in the diagram"
The diagram seems to imply that connections to Database 1 would succeed even though that database prohibits the given client IP. See the highlighted arrow in the extract below. Should this arrow be removed or am I missing something?

![image](https://user-images.githubusercontent.com/1765732/93643946-fe1b4280-f9ce-11ea-82b4-f988ce8b1445.png)

---
#### Document Details

⚠ *Do not edit this section.

[2020-09-18 20:51] hpsin commented on #62868
Hi @richardhauer - the object ID listed int he application registration blade is unfortuantely misleading.  You need to compare it against the service principal registered in your tenant.
In the JWT:
![image](https://user-images.githubusercontent.com/1666363/93643826-9a385000-f9b5-11ea-9b15-903e014f20c3.png)

In the Enterprise apps:
![image](https://user-images.githubusercontent.com/1666363/936437

[2020-09-18 21:03] BharathNimmala-MSFT commented on #62883
@ryandleHEATR Thank you for bringing this to our notice , assigning this to our document author @mrbullwinkle to further review your feedback and update the document accordingly.

[2020-09-18 21:24] JamesTran-MSFT commented on #62877
@HaydnDias
Were you able to make sure your app and the user you're using to sign in can mark your app as publisher verified?

[Publisher verification requirements](https://docs.microsoft.com/en-us/azure/active-directory/develop/publisher-verification-overview#requirements)
-For your testing app that was configured the same way, were you the one that verified it? Or was it another user?

If you hav

[2020-09-18 21:35] VanMSFT commented on #62892
Hi @VitalyMCT - Thanks for bringing this up. The diagram suggests that **Server-level Firewall Rule** would take precedence over the **Database-level Firewall Rule**. This is how I understand it, but we do have some contradiction that needs to be cleared up in our doc.

Hey @rohitnayakmsft - Can you help clarify this?

In this section, we state the following:

https://docs.microsoft.com/en-us/azur

[2020-09-18 21:36] skdola opened #62895 "can we get ADLS Gen2 into this table"
Could you please add ADLS Gen2 in to the below table for comparison.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6db88b15-d3d2-2316-2248-ab21315febb4
* Version Independent ID: 5c6a2203-d900-ec5d-c2f3-eb891bc46251
* Content: [Comparison of Azure Data Lake Storage Gen1 with Blob storage](https://docs.microsoft.com/en-

[2020-09-18 21:40] HaydnDias commented on #62877
Hi @James-Hamil-MSFT I can't remember exactly, I think the testing app was created by another account and verified by me, but the audit log doesn't go back far enough for me to be able to tell, I have global administrator for both Azure AD and MPN Partner Centre, as well as "Access management for Azure resources" on the Azure AD properties page.

I have tried logging out and back in to no avail, I

[2020-09-18 21:43] mmacy commented on #42546
Hi @azav, I've received confirmation from @brandwe that this is an issue with the code sample, and I've opened a new issue in the sample's repository that you can follow here:

https://github.com/Azure-Samples/ms-identity-mobile-apple-swift-objc/issues/72

I'll close this one out as it's a sample issue, not a docs issue. Thanks for your patience on this!

Cc: @oldalton

[2020-09-18 21:43] mmacy commented on #42546
#please-close

[2020-09-18 21:43] #42546 closed

[2020-09-18 21:50] SaurabhSharma-MSFT commented on #62589
@PatrikHanssonIntersolia We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-09-18 21:50] #62589 closed

[2020-09-18 21:52] saf-itpro opened #62897 "Issue on Associating a VM's network interface to an Application Security Group"
**Issue**: Step 2 of this [Microsoft Azure Teams' tutorial](https://docs.microsoft.com/en-us/azure/virtual-network/tutorial-filter-network-traffic#associate-network-interfaces-to-an-asg) does not work anymore. It seems the updated Azure Portal shows a different left pane when you go to any `VM==>Networking`

**Details**:
This [official tutorial][2] from MS Azure team describes how to add the `netw

[2020-09-18 22:01] DerekHerman-MSFT commented on #62821
@hbro
Confirmed that the installer looks for BuildNumber 10.0.17763 which indicates Server 2019. Anything beyond that will not be supported at this time. As we move past Server 2019 the script will be updated at a TBD date. Hope this helps. I will considered this thread closed for now. Please tag me if you need further assistance.

[2020-09-18 22:01] #62821 closed

[2020-09-18 22:06] tameika commented on #62706
Hi Tom, I tried with the commands you shared and it was successful. The output showed the tag applied to the individual db. Not sure what I did wrong before. Seems the only place it updates the GUI is on the instance overview page and from there selecting the tag pulls up all resources under the tag--not on db's page though.

Thank you, Tom! I'm going to inform the customer and let him know about

[2020-09-18 22:15] TheLostkingg opened #62899 "Azeru"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 224b73dd-c59d-a833-0d4d-a778af6086a9
* Version Independent ID: c6b167c9-9589-45d0-ee6a-7a47a4aec41e
* Content: [Tutorial: Map existing custom DNS name - Azure App Service](https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-cus

[2020-09-18 22:17] mmacy commented on #61266
@rusan-css @hpsin How's this look? I pulled out the non-password-based bit into it's own H4-headed section as that Note had a lot going on in it (changes are in https://github.com/MicrosoftDocs/azure-docs-pr/pull/130471):

![image](https://user-images.githubusercontent.com/13394541/93649953-133da480-f9c2-11ea-94d4-de6f0e937119.png)

[2020-09-18 22:18] NavtejSaini-MSFT commented on #62666
@SQLAdventurer For now we are going ahead and closing this thread. Please get back to us for more information or questions.

[2020-09-18 22:18] #62666 closed

[2020-09-18 22:23] NavtejSaini-MSFT commented on #62616
@mrdenny Happy that we were happy to help with your query, For now the document has the action item for people using SSL - "If you are explicitly including the path to SSL cert file in your code, then you would need to download the new cert and update the code to use the new cert."

We will be closing this thread for now and wait for any other feedback before we edit the document. We appreciate yo

[2020-09-18 22:23] #62616 closed

[2020-09-18 22:23] NavtejSaini-MSFT commented on #62738
@Craigmeister68 Please confirm if you need any further help regarding this.

[2020-09-18 22:39] robert-bunch opened #62900 "Misleading documentation"
[Enter feedback here]

Is teams supported for Application Protection Policies?

https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/concept-conditional-access-grant#require-app-protection-policy

It is not listed in this list, but when following the m365goldenconfig teams configuration via : https://docs.microsoft.com/en-us/microsoft-365/enterprise/teams-access-policies?view

[2020-09-18 22:43] BharathNimmala-MSFT commented on #62706
Thank you @tfitzmac for helping on this thread.

Thank you @tameika for helping review it and confirming that it is working and also its being visible at the instance level from UI stand point. Will further see if there is any limitation to show it only at instance level and not at DB level and share any finding we might have.

At this point it appears that there's no further edits or updates need

[2020-09-18 22:43] #62706 closed

[2020-09-18 22:48] danhlee329 commented on #62757
Related to https://github.com/MicrosoftDocs/azure-docs/issues/57579.

[2020-09-18 22:49] anzaman commented on #62842
@Sweggle - How did you verify that the route was not excluded? Can you run "Route print -4" from a cmd prompt to check? the excluded route(s) should be listed there with the gateway set to the local LAN gateway IP address.

[2020-09-18 22:50] MartinJaffer-MSFT commented on #62875
Thank you for your feedback @bverhoeve .  I agree this needs to be updated.

[2020-09-18 22:51] mmacy commented on #61990
Hi @fordprefect480, thanks for your question. The `Authority` in this case is a property on the  [AuthenticationConfig](https://github.com/Azure-Samples/active-directory-dotnetcore-daemon-v2/blob/ffc4a9f5d9bdba5303e98a1af34232b434075ac7/1-Call-MSGraph/daemon-console/AuthenticationConfig.cs#L61-L70) class, and is defined as such:

[code]

Thus, the authority in this case is a concatenation of the I

[2020-09-18 22:51] #61990 closed

[2020-09-18 22:51] MartinJaffer-MSFT commented on #62875
@spelluru I will talk to you on teams.

[2020-09-18 22:52] MartinJaffer-MSFT commented on #62875
Thank you for your feedback. This has been assigned to the content owner and will be updated as appropriate.

[2020-09-18 23:11] mmacy commented on #62624
Good catch, @MarcelGosselin - thanks! Fixing now. #reassign:mmacy

[2020-09-18 23:18] mmacy commented on #62624
Fixed in https://github.com/MicrosoftDocs/azure-docs-pr/pull/130484 (private repo, might 404 for you). Live publish will roll out on or about 22 SEP 2020 after Ignite publishing freeze is lifted. Closing as fixed: #please-close

Thanks again for the call-out, @MarcelGosselin!

[2020-09-18 23:18] #62624 closed

[2020-09-18 23:32] rgamage opened #62901 "Containers => Blobs wording"
It seems like this text, "To filter the list of containers..." maybe should be re-worded to "To filter the list of blobs" or "list of results", since we are not fetching containers here, we are fetching blobs or blob prefixes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49364b8c-01b5-5180-7537-c221c79d5b3d
* Version

[2020-09-18 23:37] avbhaskar commented on #61774
@stevevi I have following observations:
1. steps to enable USGovernment cloud in settings  were not listed in documentation ![Azure-datastudio-account-add-6](https://user-images.githubusercontent.com/10077636/93653121-64eb2c80-f9cc-11ea-941e-c390dc7d8ce1.jpg)

2.  Government tenant accounts can be registered using commercial settings also (see screenshot)
![InkedAzure-datastudio-account-add-7_LI](

[2020-09-18 23:41] JamesTran-MSFT commented on #62877
@HaydnDias
Thank you for the quick reply and details!

We'd like to take a closer look into your environment and issue, can please email me with the info below. I'll go ahead and enable a one-time free support request for you so you can work with our support engineers to get this issue resolved.

Email: AzCommunity@microsoft.com
Subject: ATTN - James Tran
Body:
[Azure Subscription ID](https://wmat

[2020-09-18 23:47] richardhauer commented on #62868
Thanks @hpsin I’ll check that out.

It’s probably worth noting this in the documentation as both values have the same label despite being different. I can’t be the first person to be confused by this - the documentation explicitly suggests using the oid for ACL purposes.

[2020-09-18 23:47] #62868 closed

[2020-09-18 23:57] milesgratz opened #62902 "GCC High specific URLs for Defender ATP API to be added"
There are a handful of docs that would benefit from including the GCC High specific URLs for Defender ATP API.

|Service category|Service name|Azure Public|Azure Government GCC High|Notes|
|-----------|-----------|-------|----------|----------------------|
|Windows Defender ATP|Integration, Response, Entities, and Streaming APIs|api.securitycenter.windows.com|api-gov.securitycenter.microsoft.us||

[2020-09-19 00:01] milesgratz commented on #62902
Linking other pages to be updated here:

- https://github.com/MicrosoftDocs/azure-docs/issues/62902
- https://github.com/MicrosoftDocs/windows-itpro-docs/issues/8309
- https://github.com/MicrosoftDocs/windows-itpro-docs/issues/8310
- https://github.com/MicrosoftDocs/windows-itpro-docs/issues/8311

[2020-09-19 00:21] hpsin commented on #62868
The oid of the service principal absolutely should be used for ACLs - but your registration exists only in your tenant.  OIDs are per-tenant.  We'll see about clarifying this, thanks!

[2020-09-19 00:38] stevevi commented on #62902
Thanks, Miles, for reaching out.  Please note the following:

- Azure is not Office 365.
- Azure Government is not GCC High.
- Microsoft Defender ATP is not an Azure service.

Do you still believe that it would be appropriate to add Microsoft Defender ATP service endpoint variations to Azure Government documentation?  See this article for more information about Office 365 US Gov environments:

htt

[2020-09-19 00:52] stevevi commented on #61774
Thank you, Bhaskar, for the feedback.  Azure Government documentation is not the right place to address your escalation.  Would you please be so kind to open an issue related to the existing published article?

https://docs.microsoft.com/en-us/sql/azure-data-studio/quickstart-sql-database

It appears your feedback would be best addressed via a concept or how-to article.  The existing quickstart ar

[2020-09-19 02:10] milesgratz commented on #62902
Hi Steve, you are right, my bad. I have opened issues on the relevant pages:

MicrosoftDocs/windows-itpro-docs#8309
MicrosoftDocs/windows-itpro-docs#8310
MicrosoftDocs/windows-itpro-docs#8311

[2020-09-19 02:10] #62902 closed

[2020-09-19 02:52] KrishnaG-MSFT commented on #62902
Thanks @stevevi for your super quick response and insights. :+1:

[2020-09-19 03:30] BryanTrach-MSFT commented on #62899
@TheLostkingg Just wanted to check and see if you had a question or if this was created by mistake. We look forward to your reply.

[2020-09-19 03:40] nathanmcnulty commented on #62884
Thanks Marilee! I forgot to mention (though I'm sure you know), the account only needs this permission on domain controllers. Permissions on or for the Azure AD Connect server (as indicated in the article I linked) does not appear to be necessary.

Thanks!
Nathan

[2020-09-19 05:42] tahirumams opened #62909 "Mistranslation on this page in Japanese version"
I found the mistranslation on this page in Japanese version.
The link is wrote as "パソコン" should be "ノートブック". The meaning is totally different so it may cause the confusion for readers.
![image](https://user-images.githubusercontent.com/71428703/93660053-1ef29f00-fa86-11ea-953c-d94fca0f7591.png)
https://docs.microsoft.com/ja-jp/azure/databricks/getting-started/concepts

Kindly review and modify it,

[2020-09-19 06:00] asergaz commented on #62639
@nanowireUK, fyi this is the csharp sample that uses the new means to upload a file to IoTHub: https://github.com/Azure-Samples/azure-iot-samples-csharp/blob/master/iot-hub/Samples/device/FileUploadSample/FileUploadSample.cs

@robinsh as we have a sample already under Azure-Samples are there plans to align this doc with it or should we go ahead and fix the current doc? Thank you!

[2020-09-19 09:09] rajanishb opened #62910 "Link to Next article is not working"
[Enter feedback here]

The link to Machine Learning Article is not working, it is giving 404 error , could you please update it with the proper documentation page
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7c93e65-86c1-fd8b-a888-c57d3b26e2bd
* Version Independent ID: 3f31fd84-7dba-2444-2344-ec70113ba694
* Content:

[2020-09-19 09:42] tutorialgateway opened #62911 "New Source For R Programming"
Hello,

Just read your article about the Get started with Azure Machine Learning Studio (classic) in R, and you got the great list of resources. My Tutorial Gateway company focuses on R programming. I thought your readers might be interested in it, and if you had a chance, please review it. Here are the links to the R Programming. Let me know if I can give you any more information.

https://www.tu

[2020-09-19 09:59] megaalc commented on #61316
@KalyanChanumolu-MSFT @Heidilohr @davidbel -colleagues, sorry for bugging you again - we started preparing for submission  of Microsoft Windows Virtual Desktop Advanced Specialization documents. One of requirements in WVD audit checklist to have Repeatable methodology which should cover ALL of the following to create a WVD deployment design including **DR**:

- Availability and Disaster Recovery P

[2020-09-19 10:45] mtamayoo commented on #33382
Hi @ManojReddy-MSFT I'm facing a scenario that I think is not covered in the documentation you refer to.
Originally my customer installed AAD Connect with a new AD FS farm. Time has passed and they wanted to upgrade the farm to a newer version. The team that handles the platform now did not know about how it was installed originally so they went ahead with a rolling upgrade of their AD FS farm, de

[2020-09-19 11:54] jurajtobias commented on #62655
yeah, close it. thanks for the help!

[2020-09-19 12:11] Marco-Santoni commented on #62394
@mike-urnun-msft thanks for the answer. I'd recommend adding this information in the docs

[2020-09-19 12:11] robertlagrant opened #62912 "Availability Zone behaviour"
It would be good to know the behaviour of the Azure Postgres service regarding availability zones, where a region has an outage in one zone, but not in another. For example, it is possible to run a Kubernetes service across availability zones, but what happens to the Postgres database they connect to? Will that also survive?

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2020-09-19 13:55] BicoGH opened #62913 ""Assign a role to a user-assigned managed identity" pargraph is not updated/wrong"
The step 4 in this article refers to "Select Access control (IAM)" which leads to wrong "Add a role assignment" procedure.
The step should refer to "Azure role assignments".
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f28a934-ad9b-6f87-93ac-7dbd32363b61
* Version Independent ID: 84f6b6c5-a50d-

[2020-09-19 14:33] SnehaAgrawal-MSFT commented on #62579
@yoadfe Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2020-09-19 14:36] SnehaAgrawal-MSFT commented on #62637
@lovelangy I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-09-19 14:38] SnehaAgrawal-MSFT commented on #62742
@PSGruss Thanks again for the feedback! I have created PR it will be visible soon

[2020-09-19 14:38] #62742 closed

[2020-09-19 14:57] AjayKumar-MSFT commented on #62816
@rajaschava,  Thanks for taking time to share your feedback. We appreciate that! Apologies for any frustration with this.

We strive to make our Azure docs more discoverable and the docs aims at demonstrating key concepts. To add little background, based on the underlying topic and purpose, the doc provides a walkthrough of high-level content and links to associated documents for a detailed info/s

[2020-09-19 15:26] AjayKumar-MSFT commented on #62879
@bmilbauer, Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-09-19 15:28] AjayKumar-MSFT commented on #62887
@dbrownems, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-09-19 15:43] AjayKumar-MSFT commented on #62888
@abdale, That's a good catch! Thanks for taking time to share your feedback on this. We have submitted a PR to fix this and the document would reflect the changes soon.

[2020-09-19 15:47] AjayKumar-MSFT commented on #62895
@skdola, Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-09-19 15:50] AjayKumar-MSFT commented on #62897
@saf-itpro, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-09-19 15:52] AjayKumar-MSFT commented on #62900
@robert-bunch, Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-19 15:53] AjayKumar-MSFT commented on #62901
@rgamage, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-09-19 15:56] AjayKumar-MSFT commented on #62909
@tahirumams, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-09-19 15:58] AjayKumar-MSFT commented on #62910
@rajanishb, That's a good catch! Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-09-19 16:29] NOTGOODvnese opened #62915 "Request Id: a116ab00-c8e6-485e-a59c-610f44870b00 Correlation Id: e5272387-f6e5-4a85-9819-dd745857fcc6 Timestamp: 2020-09-19T16:16:57Z Message: AADSTS50196: The server terminated an operation because it encountered a client request loop. Please contact your app vendor."
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-09-19 17:47] mmacy commented on #61266
@rusan-css @hpsin I've signed off on https://github.com/MicrosoftDocs/azure-docs-pr/pull/130471 and the change should go live on or about 22 SEP. If you feel this issue has been closed prematurely, please reopen and @ mention me in a comment. Thanks! #please-close

[2020-09-19 17:47] #61266 closed

[2020-09-19 18:42] mmacy commented on #55604
@timrobinson33  @jmprieur This appears to be a common issue with this article. Three of the five issues submitted on this doc are related to confusion around how `config.Authority` in the code snippets relate to the `Instance` and `Tenant` values defined in the *appsettings.json* file:

- https://github.com/MicrosoftDocs/azure-docs/issues/61990
- https://github.com/MicrosoftDocs/azure-docs/issues/

[2020-09-19 19:55] mmacy commented on #59501
@surensaluka Have you tried to install the certificate as specified in the error message (see bolded text)?

In a _Developer Command Prompt for VS 2019_ execute this command from within the directory containing the PFX file:

[code]

Hit `ENTER` at the password prompt (there is no password on the PFX). After you install the PFX, you should be able to run the sample.

@jmprieur Shall we add this st

[2020-09-19 20:18] pierrejeandev opened #62916 "Use credentials in fstab to Persist the mount"
To persist the mount in fstab, you should recommend the use of a credentials file to store the storage key .
Putting the storage key in fstab is insecure: fstab is readable by all users, exposing the storage account master key.
It is a best practice for cifs mount to move the username and password to a credential file that is readable by a single user only (usualy root).
For reference you can chec

[2020-09-19 20:25] pierrejeandev commented on #62916
Just seeing now that you do have a recomendation for this:
"For increased security in production environments, you should store your credentials outside of fstab."

I was just expecting it to be in the code example ;)
As you certainly know, if we don't give the best example, most people won't search for more and stick to that "not so secure" example.

[2020-09-19 20:56] Karishma-Tiwari-MSFT commented on #62911
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-19 20:57] Karishma-Tiwari-MSFT commented on #62912
Thanks for the question. We are currently investigating and will update you shortly.

[2020-09-19 21:14] JamesTran-MSFT commented on #62913
@BicoGH
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-19 21:20] Karishma-Tiwari-MSFT commented on #62882
Is there an update? Please share the doc you are referring to, so that we can direct it to the right team.

[2020-09-19 21:28] Karishma-Tiwari-MSFT commented on #62915
Thanks for your question. Please provide us with the link to the documentation you are referring to so we can better assist.

[2020-09-19 22:04] Karishma-Tiwari-MSFT commented on #62916
Thanks for your feedback. At this point, we will keep the doc as is. However this issue will stay with the doc for others to reference. As we see similar feedback coming from more users, we will look into updating the doc.
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and w

[2020-09-19 22:04] #62916 closed

[2020-09-19 22:33] srazasyed opened #62917 "Formats for the values of Pv4-address-space and subnet-address-range seems incorrect"
In the [Virtual network and parameters](https://docs.microsoft.com/en-us/azure/virtual-network/quickstart-create-nat-gateway-portal#virtual-network-and-parameters) section of the tutorial, the values for Pv4-address-space and subnet-address-range are given as `192.168.0.0\16` and `192.168.0.0\24` respectively. There seems to be a typo here - as these values probably should have a forward slash `/`

[2020-09-19 22:41] mmacy commented on #55604
@timrobinson33 In https://github.com/MicrosoftDocs/azure-docs-pr/pull/130499 (private repo link, might 404 for you), I've clarified the authority bullet in the **Configuration file** section as such:

Then in the first .NET instantiation section, I've added this:

The update won't go live until sometime on our about 22 SEP 2020 when content freeze is lifted for Ignite, but I'll move forward with c

[2020-09-19 22:41] #55604 closed

[2020-09-19 22:45] anujgeek commented on #50228
I have owner permissions on the subs. Still give me this error: Operation 'DeletedVaultPurge' is not allowed.

[2020-09-20 00:41] JTInfinite opened #62918 "JWT is not returned from User flow as documented"
Upon successful redirection to jwt.ms the jwt is not decoded and is in fact not a jwt. It seems to be encrypted. Decoding the head of this base64 string show the following:

"kid":"cpimcore_09252015"

I don't know what that means.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e64957b2-62c1-a751-5a18-3f30e2926104
* Ver

[2020-09-20 01:22] michael-freidgeim-webjet opened #62919 "Clarify does GetPropertiesAsync return metadata as well."
In section Set and retrieve properties it is Described
“The following code example gets a blob's system properties and displays some of the values.”
// Get the blob properties
        BlobProperties properties = await blob.GetPropertiesAsync();

In the section The same method is used

// Get the blob's properties and metadata.
        BlobProperties properties = await blob.GetPropertiesAsync();

I

[2020-09-20 01:25] setunol opened #62920 "Missing information / instruction with regarding to Floating IP"
I have a customer that tried going through this documentation to set up the environment.  From Azure Networking side, we are engaged with the load balancer perspective.  This documentation provides two options for customer to use, standard and basic SKU load balancer.  It is asking customer to enable Floating IP on the load balancing rules.   I think it would be best provide a link to the Floating

[2020-09-20 02:55] gottagetgit opened #62921 "Pinning chart feature removed"
"To pin cost analysis, select the pin icon in the upper-right corner. Pinning cost analysis will save only the main chart or table view."

I can't find the pin icon anymore. Does anyone know if that feature has been removed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7349e660-9bb8-9676-6e48-17796a97b674
* Version I

[2020-09-20 06:36] michael-freidgeim-webjet opened #62922 "Should references to service bus be changed to azure-relay?"
https://docs.microsoft.com/en-us/azure/azure-relay/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0deaa8b2-66a2-b45c-3ecd-7ea2d08503ed
* Version Independent ID: 364890ed-d3ba-9e01-c40a-ce78600319f1
* Content: [Install on-premises data gateway - Azure Logic Apps](https://docs.microsoft.com/en-us/azure/logic-apps/logic-

[2020-09-20 06:46] SubhashVasarapu-MSFT commented on #62917
@srazasyed, Appreciate your feedback. The doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-09-20 06:46] #62917 closed

[2020-09-20 06:56] KrishnaG-MSFT commented on #62921
Hi @gottagetgit, It's present just after the "Cost analysis" i.e., as shown in below screenshot.

![image](https://user-images.githubusercontent.com/45988031/93705569-152b7300-fb3c-11ea-8beb-eb6214cf4038.png)

May be you were trying to find it at upper-right corner as instructed in the doc. I will go ahead and update the doc with clarification around it. Thanks for the feedback.

[2020-09-20 07:07] KrishnaG-MSFT commented on #62921
Hi @gottagetgit, Verified and updated the document as required. The update should go live in couple of days.

At this point it appears that there's no more edits or updates needed for the referred Azure documentation so closing this issue for now. If there are further questions regarding this matter or feedback on the referred Azure documentation, please do let us know and we will gladly continue

[2020-09-20 07:07] #62921 closed

[2020-09-20 07:12] BhargaviAnnadevara-MSFT commented on #62779
@luhyun95 We will now proceed to close this thread, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-09-20 07:12] #62779 closed

[2020-09-20 07:15] BhargaviAnnadevara-MSFT commented on #62772
@mydiemho The changes should reflect post the merge. Thanks again for the feedback.

We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-09-20 07:15] #62772 closed

[2020-09-20 07:27] MNF opened #62923 "Is the name of the package WindowsAzure.Messaging.Managed or Microsoft.Azure.NotificationHubs?"
It is not clear:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b48be73-2f29-6b2a-c837-751d3862bcdb
* Version Independent ID: efd00d73-1ff5-8689-8415-fe1630795123
* Content: [Send notifications to Universal Windows Platform apps using Azure Notification Hubs](https://docs.microsoft.com/en-us/azure/notification-hubs/no

[2020-09-20 09:46] MatthewSteeples opened #62924 ""Speciality" restrictions"
I'm not sure where it would be best to put this information, but we've been informed by support (ref 120090224002435) that these are "speciality" VMs and having them in the same batch account as "standard" VMs is not possible.

Additionally, it seems to take in excess of 3 weeks (so far) to get any quota set on your subscription for these VMs

---
#### Document Details

⚠ *Do not edit this section

[2020-09-20 09:57] TommyQuality opened #62925 "Selfhosted Gateway Issues with Routing and Functionality"
I've provisioned a self-hosted gateway on running on `MiniKube` on my local machine and have created an API and assign it to use the self-hosted gateway.

But when trying to test from API Management within the Azure Portal, it seems that some functionality is broken, like the ability to add headers, etc. And also when trying to call the API it returns a 404, but the path to the API is correct.

![

[2020-09-20 11:50] jamesdfrost opened #62926 "NYC Taxi sample dataset missing data"
I've been following the excellent tutorial "Tutorial: Load the New York Taxicab dataset" (https://docs.microsoft.com/en-us/azure/synapse-analytics/sql-data-warehouse/load-data-from-azure-blob-storage-using-copy) but there is an issue with some of the source datasets not being complete. There are 170M rows in the trip.csv file and 526k rows in weather.csv, but the other files have missing data whic

[2020-09-20 13:05] shashishailaj commented on #62918
@JTInfinite Thank you for your query . We will investigate and update the thread.

[2020-09-20 13:25] krish-gh commented on #62920
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-20 13:25] krish-gh commented on #62919
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-20 13:30] krish-gh commented on #62922
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-20 13:31] krish-gh commented on #62923
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-20 13:38] jamesdfrost commented on #62926
Actually - the issue is not in the source files, but in the way these are being loaded. They are all missing the line:	ROWTERMINATOR='0X0A'

e.g.

COPY INTO [dbo].[Time]
FROM 'https://nytaxiblob.blob.core.windows.net/2013/Time'
WITH
(
    FILE_TYPE = 'CSV',
	FIELDTERMINATOR = ',',
	FIELDQUOTE = ''
)
OPTION (LABEL = 'COPY : Load [dbo].[Time] - Taxi dataset');

should instead read:

COPY INTO [dbo].

[2020-09-20 13:58] krish-gh commented on #62925
@TommyQuality, As I understood, you want to test your `localhost` endpoint as backend of API Management. Is that correct?
You can use some relay service like [ngrok](https://ngrok.com/) to expose a public URL of your locally hosted service and then use that ngrok url as backend in your API management. All calls will be proxied to your localhost.

[2020-09-20 14:05] shashishailaj commented on #62859
@HockeyJustin The details in the article are the same. If you already have an existing project then it will take you to the below screen which are the API settings where you see the oAuth consent screen setting on the left options.
![image](https://user-images.githubusercontent.com/532022/93713169-c6033380-fb77-11ea-96ad-a9ef11b0afbe.png)

If you follow the article step by step . The step 2 tells

[2020-09-20 14:05] #62859 closed

[2020-09-20 14:12] shashishailaj commented on #62858
@Gerasz87 We have updated the same and the changes will go live in the next 24-48 hours.

Thank you.

[2020-09-20 14:12] #62858 closed

[2020-09-20 14:22] surensaluka commented on #59501
@mmacy Hi, I tried but failed. I removed that cert and created a brand new dev certificate and the error went away. You should alter the documentation to overcome these types of issues. Thanks for the support.

[2020-09-20 16:08] shashishailaj commented on #62517
@SQL-MisterMagoo The Portal provides options for default built-in User flows and the built-in user flows only supports Open ID connect based providers. It was designed this was because the most used [Identity providers (Google,Facebook,Linkedin,github etc.)](https://docs.microsoft.com/en-us/azure/active-directory-b2c/tutorial-add-identity-providers)  in the online world of consumer applications us

[2020-09-20 16:08] #62517 closed

[2020-09-20 16:18] techadmin1982 commented on #50228
Hello. I am unable to purge a keyvault. The keyvault is not showing up when i search it with
az keyvault list-deleted

But when i try to re create from portal or CLI i get error :

"The name 'l<name of my keyvault>' is already in use, or is still being reserved by a vault which was previously soft deleted. Please use a different name.

[2020-09-20 16:21] residentx10 commented on #62551
@PeterCLu Thanks. I noticed the document sets for AML is getting bigger too.

On Friday, I redownloaded the pdf set for AML but I still had problems.

On Android in the Adobe Reader, I cannot move to pages from the "content" window.
I'm on the road a lot so I download the docs set and read it on Android Go Tablet to make reading easier.

Should I uninstall the android reader and just read in a bro

[2020-09-20 16:34] residentx10 commented on #62551
Image Screenshots:

Location in Adobe Reader

![AdobeReader1](https://user-images.githubusercontent.com/9274020/93716253-bb777880-fb3c-11ea-933a-8eb4db980037.jpeg)

Marked Issues in Adobe Reader

![AdobeReader1](https://user-images.githubusercontent.com/9274020/93716258-c8946780-fb3c-11ea-834d-731134a5d498.jpeg)

Android GO Version 9
Adobe Reader Pro 20.7.0.14977

[2020-09-20 16:34] SeaDude opened #62927 "How to view local streaming execution logs for Azure Functions?"
The docs read "You can also stream execution logs to your local computer.", but I don't see clear a way to set this up!
- The next sentence reads "To learn more, see [Monitor Azure Functions.](https://docs.microsoft.com/en-us/azure/azure-functions/functions-monitoring?tabs=cmd)"
- Visiting the URL there takes me to a sentence that reads: "You can even use Application Insights during local function

[2020-09-20 16:56] OneConsutlantsDemo opened #62929 "Inference pipelines no longer appears in UI?"
Hello,

I no longer find the inference pipelines ( batch & Real time ) on the UI of Designer Tab. Has there been a recent update?
Also want to understand what is the difference of using a inference pipelines for predictions against a published Model exposed as REST API?

Thank you

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-09-20 18:43] shashishailaj commented on #62651
@v-lyivan
You have mentioned that you have set tenant wide password policy to "Never-Expire" . Yes , this is by design . If you check the detailed warning on the [O365 Password policy page](https://docs.microsoft.com/en-us/microsoft-365/admin/add-users/set-password-to-never-expire?view=o365-worldwide) .

Since the password age on the basis of PwdLastSet so even if you change the password policy to

[2020-09-20 18:43] #62651 closed

[2020-09-20 18:52] andylavrin opened #62931 "Possible incorrect CIDR notation reference"
https://docs.microsoft.com/en-us/azure/app-service/environment/create-external-ase
Step 9c of the page indicates the following:

_c. Select the size of the subnet. Remember to select a size large enough to accommodate future growth of your ASE. We recommend /24, which has 128 addresses and can handle a maximum-sized ASE. We don't recommend /28, for example, because only 16 addresses are available.

[2020-09-20 18:57] alexsandro-xpt commented on #56294
I have another erro with this command above:

[code]

Whats is wrong?

[2020-09-20 18:58] shashishailaj commented on #62721
@sven5 We checked this and you are correct . The URL is missing blob containers name as suggested in the article above in [section 2.1 where we create a container](https://docs.microsoft.com/en-us/azure/active-directory-b2c/custom-policy-ui-customization#21-create-a-container) . We have intiated a pull request and its under review with the content team. Once it is approved , the change should be l

[2020-09-20 18:58] #62721 closed

[2020-09-20 18:59] alexsandro-xpt commented on #56294
I have another erro with this command above:

[code]

Whats is wrong?

[2020-09-20 19:12] zfriedrich opened #62932 "Unhelpful"
I can't even get past the first step. Check RDP security. How do I do that? There's no information on where to go.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 500257df-925a-52ad-74f3-5856c712a09c
* Version Independent ID: 6204cf81-68b6-2f92-a939-1aa2db35c063
* Content: [An internal error occurs when you make an RDP

[2020-09-20 22:15] Karishma-Tiwari-MSFT commented on #62924
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-09-20 22:17] Karishma-Tiwari-MSFT commented on #62926
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-20 22:19] Karishma-Tiwari-MSFT commented on #62927
Thanks for the question. We are currently investigating and will update you shortly.

[2020-09-20 22:20] Karishma-Tiwari-MSFT commented on #62929
Thanks for the question. We are currently investigating and will update you shortly.

[2020-09-20 22:21] Karishma-Tiwari-MSFT commented on #62931
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-20 22:48] Karishma-Tiwari-MSFT commented on #62932
The steps to check RDP security are provided below:
"First, check to see whether the network security group (NSG) for RDP port 3389 is unsecured (open). If it's unsecured and it shows * as the source IP address for inbound, restrict the RDP port to a specific user's IP address, and then test RDP access. If this fails, complete the steps in the next section."

You can find information on how to cre

[2020-09-20 22:49] anavard opened #62933 "[Incorrect mount point] Getting error while deploying Service fabric Application using ARM template and powershell."
Hi Team,

I am trying keyvault reference using Managed Identity in service fabric and for that I have deployed cluster using ARM Template and enabled Managed Identity.
I am trying to deploy application using ARM Template and Azure powershell.
I am following everything given in the [documentation](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-keyvault-references)
I am getting

[2020-09-20 22:54] Karishma-Tiwari-MSFT commented on #61794
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-09-20 22:54] #61794 closed

[2020-09-20 23:02] johndowns commented on #35107
@absheik Thanks for the update! And yes, I think that sounds doable - I will try to get something together soonish.

[2020-09-20 23:23] limingr opened #62934 "Don't see azure: after starting the cloud shell"
After I started my Azure Cloud Shell, I don't see the Azure: described in the article:
![image](https://user-images.githubusercontent.com/46661232/93724598-5718e100-fb5d-11ea-9459-8a551259429e.png)

What I get is below:
![image](https://user-images.githubusercontent.com/46661232/93724603-6566fd00-fb5d-11ea-9806-b53ca23c5c66.png)

So there is no way for me to follow the documentation.  Is the docum

[2020-09-21 00:04] alexvy86 commented on #50572
I think I'm running into the same problem. Feels like either the documentation was updated **way** ahead of time, or there's been an issue with the NVv4 SKUs since they became generally available. All the official documentation says that NVv4 VMs should be available in South Central US, but trying to deploy an ARM template with one fails every time with this error:

[code]

My SKU quota says that

[2020-09-21 00:07] alexvy86 commented on #50572
Oh, and querying just for the regions where it is available, does not include SouthCentralUS in the output:

[code]

[2020-09-21 01:43] MonikaReddy-MSFT commented on #62842
@anzaman  - Thank you for providing your insights.
@Sweggle - I hope @anzaman has answered your question.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-09-21 01:43] #62842 closed

[2020-09-21 01:44] MonikaReddy-MSFT commented on #62823
@marunmohan -
Since we have not heard back from you we will now proceed to close this thread.
However if you can share additional information regarding the documentation you are referring and circle back on this thread , we will gladly reopen the issue and continue the discussion. Thank you.

[2020-09-21 01:44] #62823 closed

[2020-09-21 01:45] MonikaReddy-MSFT commented on #62700
@MikeDodaro   - Thank you for providing your insights.
@sujitdmello - I hope @MikeDodaro has answered your question.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-09-21 01:45] #62700 closed

[2020-09-21 01:46] MonikaReddy-MSFT commented on #62934
@limingr -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-09-21 02:11] ram-msft commented on #62692
Thanks for the details. I have assigned to the content author for the document update. @trevorbye Could you please update the following purple colored note.
![image](https://user-images.githubusercontent.com/49180516/93728494-c6361a00-fbdd-11ea-9041-ea02d1c33faf.png)

[2020-09-21 02:44] ram-msft commented on #62788
@iAmBipinPaul Thanks, you can train a Form Recognizer model with labels using the sample labeling tool. Please follow the below document to trian custom model. If possible could you please add more details about the use case.
https://docs.microsoft.com/en-us/azure/cognitive-services/form-recognizer/quickstarts/label-tool?tabs=v2-0

[2020-09-21 03:18] ruffyleaf opened #62935 "Confusing"
I was following the documentation. Created private endpoints, and then created Private Link services. I encountered a problem where I'm unable to map my EXISTING private endpoints to the newly created Private Link service. Can we have some documentation on how to do that? is that even possible? otherwise I think the order of the documentation is misleading.

---
#### Document Details

⚠ *Do not ed

[2020-09-21 04:09] AnuragSharma-MSFT commented on #62684
@airtank20 We will now proceed to close this thread, PR could take a while to be live. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-09-21 04:09] #62684 closed

[2020-09-21 04:19] MayankBargali-MSFT commented on #62609
@MortezaDamavandpeyma-TomTom Hope the above helps and clears things up. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-09-21 04:19] #62609 closed

[2020-09-21 04:29] amanmcse commented on #62918
@JTInfinite Could you please share the Run Now endpoint from the User Flow that you have used?

[2020-09-21 04:37] KranthiPakala-MSFT commented on #62769
Hi  @cacizi41 , sorry for the delay in my response. In order to get the authentication key of you SHIR created in you ADF, you can go to `Manage` tab in you ADF UI -> `Integration Runtime` -> `SHIR` (Edit). Please refer to below image:

![image](https://user-images.githubusercontent.com/50185738/93733132-03bc8800-fb89-11ea-99a3-35b2dbdae548.png)

You can also retrieve Integration Runtime Auth key

[2020-09-21 04:50] SumanthMarigowda-MSFT commented on #62628
@Ayanmullick This article will help you in [ Deploying an Azure Kubernetes Service cluster using PowerShell](https://docs.microsoft.com/en-us/azure/aks/kubernetes-walkthrough-powershell)
[Create a private Azure Kubernetes Service cluster](https://docs.microsoft.com/en-us/azure/aks/private-clusters)

If you still face any issue or have any question, I'd recommend posting your question in https://do

[2020-09-21 04:50] #62628 closed

[2020-09-21 04:52] iAmBipinPaul commented on #62788
@ram-msft so to train and label ,I must have to upload file to blob storage.

[2020-09-21 04:54] SumanthMarigowda-MSFT commented on #62182
@RonnieQuan  Thank you for your time and patience "What are feature differences in following two services?" We are updating the  document and  the content will be available in near future.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-09-21 04:54] #62182 closed

[2020-09-21 04:54] PramodValavala-MSFT commented on #62922
@michael-freidgeim-webjet Azure Service Bus is service that powers the On-Premises Data Gateway as per the [architecture doc](https://docs.microsoft.com/en-us/data-integration/gateway/service-gateway-onprem-indepth) as well.

[2020-09-21 05:05] HarithaMaddi-MSFT commented on #62909
@mssaperla - Can you please take a look and share your thoughts.

[2020-09-21 05:07] psmanhas commented on #62933
@anavard Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2020-09-21 05:11] psmanhas commented on #62920
@setunol Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2020-09-21 05:12] psmanhas commented on #62920
@rdeltcheva Can you please check and add your comments on this doc update request as applicable

[2020-09-21 05:13] techadmin1982 opened #62938 "Windows Server Version Mismatch"
Document talks about spinning up a Windows 2016 DC VM but Image used says 2019 VM. Please correct this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac13cbf3-f230-7e85-d57d-cba3196a166c
* Version Independent ID: f4f0c94a-5a43-94e2-d8e5-19cf167c188a
* Content: [Tutorial: Deploy & configure Azure Firewall using the Azu

[2020-09-21 05:13] HarithaMaddi-MSFT commented on #62887
@mssaperla - Can you please take a look and share your thoughts.

[2020-09-21 05:21] SumanthMarigowda-MSFT commented on #62699
@skingd  Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused.

I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your r

[2020-09-21 05:21] #62699 closed

[2020-09-21 05:22] psmanhas commented on #56294
@alexsandro-xpt When deploying a spot node pool, Azure will allocate the spot nodes if there's capacity available. At any time when Azure needs the capacity back, the Azure infrastructure will evict spot nodes.

As per the error currently spot instance is currently not available in that particular region where you are trying to deploy instance in.

Below cmdlet returns all the possible SKUs availa

[2020-09-21 05:24] SumanthMarigowda-MSFT commented on #62785
@ vamuzumd  Are you referring to  this link. https://docs.microsoft.com/en-us/samples/browse/?redirectedfrom=MSDN-samples

[2020-09-21 05:27] SumanthMarigowda-MSFT commented on #62643
@SriNath222  The PR request has been initiated, It will doc will update soon . For now we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-09-21 05:27] #62643 closed

[2020-09-21 05:32] SubhashVasarapu-MSFT commented on #62935
@ruffyleaf, Thanks for reaching out. We will investigate and update this thread.

[2020-09-21 05:36] sumeetmittal commented on #62935
Its not possible to map existing Private Endpoints to Private Link Service. As part of Private Endpoint creation, you are required to provide the destination resource (Azure PaaS support Private Link or Private Link Service) to connect to. Without above info, PE creation will not proceed. Also once you create the private endpoint, you can't change the destination on it. You have to create a new PE

[2020-09-21 05:36] SubhashVasarapu-MSFT commented on #62938
@techadmin1982, Appreciate your feedback. The doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-09-21 05:36] #62938 closed

[2020-09-21 05:50] ruffyleaf commented on #62935
@sumeetmittal thanks for the super fast reply! So my understanding now - once we create a Private Endpoint that is associated with a PaaS Azure resource (like Azure SQL), there is no need to create an additional Private Link Service to the associated resource as it has been already created in the background.

[2020-09-21 06:03] #62825 closed

[2020-09-21 06:03] #62535 closed

[2020-09-21 06:13] sumeetmittal commented on #62935
You are correct. Azure PaaS Services and Private Link Service are independent concepts/entities. These are separate privately linkable destinations. Azure PaaS services that support Private Link are privately linkable by default. You will need a private link service when you want to create your own service (destination) behind a standard load balancer.  Hope that helps

[2020-09-21 06:21] #62935 closed

[2020-09-21 06:25] YutongTie-MSFT commented on #62874
@AndyCW  Hi Andy, Turkish does have full support for prebuilt entities and prebuilt domains, this is the more updated document https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-language-support

Thanks.

[2020-09-21 06:48] HarithaMaddi-MSFT commented on #62910
@rajanishb- This issue is being addressed as part of the [GitHub issue](https://github.com/MicrosoftDocs/azure-docs/issues/61552). Closing this to track the status in the original issue.

[2020-09-21 06:48] #62910 closed

[2020-09-21 06:51] HarithaMaddi-MSFT commented on #62895
@twooley - Can you please take a look and share your thoughts.

[2020-09-21 06:58] Cing187 commented on #62895
Ima let it die,

On Mon, Sep 21, 2020, 2:51 AM HarithaMaddi-MSFT <notifications@github.com>
wrote:

[2020-09-21 07:01] Cing187 commented on #62910
It's really my phone

On Mon, Sep 21, 2020, 2:49 AM HarithaMaddi-MSFT <notifications@github.com>
wrote:

[2020-09-21 07:03] Cing187 commented on #62910
It's my phone it's no issue..Do you fool .. The but you will show me..

On Mon, Sep 21, 2020, 2:49 AM HarithaMaddi-MSFT <notifications@github.com>
wrote:

[2020-09-21 07:27] souravmishra-msft commented on #62718
Closing this thread out as received no more updates on this.

[2020-09-21 07:27] #62718 closed

[2020-09-21 07:39] JTInfinite commented on #62918
@amanmcse

https://bwgcustomers.b2clogin.com/bwgcustomers.onmicrosoft.com/oauth2/v2.0/authorize?p=B2C_1_bwgcustomerlogin&client_id=b593711a-dd8e-4951-9769-74b7aedc07b5&nonce=defaultNonce&redirect_uri=https%3A%2F%2Fjwt.ms&scope=openid&response_type=code&prompt=login

thanks

[2020-09-21 07:44] icelava commented on #62642
I believe the relevant Policy CSP is Experience/AllowMySyncSettings.

[2020-09-21 07:46] SnehaAgrawal-MSFT commented on #62866
@ga1ka Thanks again for the feedback! I am sorry to say that Swift VNET on Linux does not support Docker Compose.

Also, The best way to share your feedback would be to create a [User Voice feedback item](https://feedback.azure.com/forums/34192--general-feedback) and upvote it. The product group monitors this site for feedback. This is the best way to ensure you are heard and you may receive a res

[2020-09-21 07:46] #62866 closed

[2020-09-21 07:51] amanmcse commented on #62918
@JTInfinite In your request you are requesting for a Code, not the ID Token. Code is not in JWT format. To request for ID Token, the **response_type** needs to be **id_token** instead of **response_type=code** in the above url.

Also, make sure that you have selected the ID Token checkbox under the Authentication blade of the application with ID b593711a-xxxx-xxxx-xxxx-74b7aedc07b5 as shown below:

[2020-09-21 08:01] JTInfinite commented on #62918
@amanmcse thank you for the explanation. I also re read the docs and note that this step is defined in part 2 of the tutorial "Register an Application", which I clearly missed.

Thanks for the help and the quick turnaround!

[2020-09-21 08:01] #62918 closed

[2020-09-21 08:08] i3anaan opened #62945 "AZURE_FUNCTIONS_ENVIRONMENT variable is not set"
The documentation states as follows:

In version 2.x and later versions of the Functions runtime, configures app behavior based on the runtime environment. This value is read during initialization. You can set AZURE_FUNCTIONS_ENVIRONMENT to any value, but three values are supported: Development, Staging, and Production. When AZURE_FUNCTIONS_ENVIRONMENT isn't set, it defaults to Development on a lo

[2020-09-21 08:11] fazlan-nazeem commented on #46725
Even with the solution suggested by @omki12 I wasn't able to deploy it automatically. Only the manual option worked.

[2020-09-21 08:13] jmprieur commented on #59501
@mmacy: yes let's add the steps. Too bad the cred scanner removes the certs now;

[2020-09-21 08:20] debopam-alinta opened #62946 "Container didn't respond to HTTP pings on port: 80, failing site start. See container logs for debugging."
I have a Docker Image of a Net Core 3.1 application which I have pushed to Azure Container Registry.

**ERROR**
`
Container webapplication03-dev_0_403efc17 for site webapplication03-dev has exited, failing site start
 ERROR - Container webapplication03-dev_0_403efc17 didn't respond to HTTP pings on port: 80, failing site start. See container logs for debugging.
`

I have exposed port 80 in the DOC

[2020-09-21 08:37] junpark12 opened #62947 "AKS - Auto Healing for unhealthy nodes"
[Enter feedback here]
Hi I created AKS with availability zone enabled.
It has 4 node and i stopped one of instances manually in the Portal(VMSS > Instance).

 kubectl.exe get node
NAME                                STATUS     ROLES   AGE     VERSION
aks-nodepool1-xxx-vmss000000   Ready      agent   7h48m   v1.17.9
aks-nodepool1-xxx-vmss000001   Ready      agent   7h48m   v1.17.9
aks-nodepool1-xxx

[2020-09-21 08:40] dcurwin commented on #62731
#reassign:Kirushk

[2020-09-21 08:40] PRMerger16 commented on #62731
GitHub user GeethalakshmiG has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2020-09-21 08:56] mrmyss2018 commented on #62023
Hi, Thank you for your feedback. We have checked and there does not appear to be any software restrictions in place. What is interesting is if we insert the following registry key HKLM\Software\Citrix\PortICA the installation works even though we are not using a citrix environment we are running WVD. Any further suggestions would be appreciated.

[2020-09-21 08:57] dcurwin commented on #62731
#reassign:pvrk

[2020-09-21 09:00] ramandeep-singh-1983 commented on #42615
In the link https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-message-enrichments-overview#applying-enrichments, i think this paragraph is not clear enough:

The first line in the above paragraph is especially misleading:

One can't select event grid as an end-point in IoT hub message routing. The above paragraph can be rephrased to first tell the readers that the following flow of actions ha

[2020-09-21 09:11] HaydnDias commented on #62877
@JamesTran-MSFT Thanks for getting back to me, sorry for the delay, I wasn't in the office on the weekend, I have emailed as detailed, look forward to hearing back from you.

[2020-09-21 09:23] psmanhas commented on #62947
@junpark12 Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2020-09-21 09:24] psmanhas commented on #62946
@debopam-alinta Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2020-09-21 09:35] XristophD opened #62948 "Copy element, batchsize maxValue = 2 not documented"
Copy element has the option to set a batchsize in serial-mode.
The documentation does not state a maximum number for the batchsize-property, but testing with values greater two brings the following error:

_InvalidTemplate - Deployment template validation failed: 'The template 'copy' definition at line '32' and column '19' has an invalid copy batch size. The copy batch size must be a non-negative

[2020-09-21 09:36] SubhashVasarapu-MSFT commented on #62530
@jackchenquest, Appreciate your feedback. I have captured the similar log in my test environment. But It should capture both encrypted and plaintext packets. It will capture all packets going into/from VNETs. Each packet from VNet VMs to on premises should result in 2 packets: one from VNet (not encrypted) and one encrypted packet.

SS:
![image](https://user-images.githubusercontent.com/44890829/9

[2020-09-21 09:37] AndreasLudviksen opened #62949 "WAF for Azure Functions"
From this section I get the impression that WAF for Azure functions require a ASE or private endpoint:
https://docs.microsoft.com/en-us/azure/azure-functions/security-baseline#14-deny-communications-with-known-malicious-ip-addresses

However - from this section I get the impression that Service Endpoints could be used to deploy an App Gateway and a WAF in front of my function. Is that true?
https:

[2020-09-21 09:41] v-lyivan commented on #62651
@shashishailaj

Thank you very much for your response!

I have reviewed the warning and now re-read it again.

As mentioned in my questions above, I have a tenant with password policy set to never expire.
And when I create a new user, I can see that the attribute passwordPolicy is "None" which is the default policy(90 days).
And when I run Get-AzureADUser -All $true | Select-Object UserPrincipalNa

[2020-09-21 10:08] rwatjen opened #62950 "Log Analytics Diagnostic setting category name incorrect?"
The ARM template for Log Analytic Diagnostic Settings seems to contain an invalid category name:

[code]

When using that category name, deployment fails for me with an invalid category name error.

When using category name `Audit` instead, the deployment succeeds. And the query logs are stored in a Log Analytics Table which is _called_ `LAQueryLogs`.

---
#### Document Details

⚠ *Do not edit thi

[2020-09-21 10:17] xtoik opened #62952 "The Portal approach to enabling the storage of the client_ip field does not seem to work anymore"
I have tried to activate the client_ip tracking with the portal approach and it does not seem to work. My assumption is that this method and the REST one are disabled due to the GDPR: if that is true the documentation should be updated accordingly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 730ff1f8-2aff-bedf-a026-

[2020-09-21 10:22] geoffbrucepayne opened #62953 "Issues following the example"
I had several issues with this example.

First, the import of the capability model in IoT Central failed with the following error "Something went wrong":
[code]

Separately, I had already created a capability model and was successfully using the IOTC-Device-Bridge for one-way push of data albeit a more convoluted approach.  Using the same parameters and application, the ``provisioningClient.regist

[2020-09-21 10:24] madsd commented on #62949
Hi @AndreasLudviksen. WAF can be deployed in front of Azure Functions both in ASE or multi-tenant. The difference is the way traffic is secured between WAF and the Function App. With (ILB) ASE the workers are deployed in your vNet and traffic must explicitly be allowed inbound from the internet (typically through a WAF). With multi-tenant you can use the built-in access restrictions in App Service

[2020-09-21 10:33] JayaChatterjee-MSFT commented on #62945
@i3anaan Thank you for your feedback! We will review and update as appropriate.

[2020-09-21 10:54] MNF opened #62954 "button “How to query data“ Opens different page"
The button “How to query data“ actually opens https://docs.microsoft.com/en-us/azure/cosmos-db/table-import
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef1295f9-eab5-8918-ab99-3a20b8723805
* Version Independent ID: 0e551ce1-761a-d379-7b6c-4caf49c5bbb2
* Content: [Azure Cosmos DB Table API using .NET Standard SDK](htt

[2020-09-21 11:01] SubhashVasarapu-MSFT commented on #62753
@ran-ten21, Appreciate your patience. Yes, they should generate firewall logs. In case if you are unable to generate firewall logs then you need to raise a support request for further analysis.
I would suggest you drop a mail at AzCommunity@microsoft.com referencing the link to this GITHUB post as well as engineer you are working with (Subhash Vasarapu) in this case.

[2020-09-21 11:14] Sweggle commented on #62842
@anzaman  - Okay, the documentation does not detail how to check that and the route is still showing up in the Azure VPN client and twice in the cmd prompt.

I excluded two routes from my configuration (see attached screenshot) - 10.10.128.0/24 and 172.16.243.0/24
![image](https://user-images.githubusercontent.com/32654519/93760311-a4e82480-fc03-11ea-95c9-b705e47895af.png)

The routes still show u

[2020-09-21 11:18] AnuragSharma-MSFT commented on #62954
@MNF Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-09-21 11:43] SwayTex opened #62956 "This content is no longer correct, as this functionality is no longer available and can mislead"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e6d60419-c998-1b94-ea14-1af4f095867c
* Version Independent ID: 8dfdd853-13c3-ae83-f9a2-59864387987b
* Content: [Custom fields in Azure Monitor (Preview) - Azure Monitor](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/custom-fields)
* Co

[2020-09-21 11:53] AndreasLudviksen commented on #62949
@madsd Thank you.

Please update this section then, since it is no longer correct:

`Introduction of a WAF requires either an App Service Environment or use of Private Endpoints (Preview).`

From here:
https://docs.microsoft.com/en-us/azure/azure-functions/security-baseline#14-deny-communications-with-known-malicious-ip-addresses

[2020-09-21 11:56] AshokPeddakotla-MSFT commented on #62953
@geoffbrucepayne Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-21 11:58] Yoshio123 commented on #62949
Thanks.
Checking now.
Results reported .
Upper link was 404 condition.
Lower link same but twice successfully.

[2020-09-21 12:02] AshokPeddakotla-MSFT commented on #62953
@geoffbrucepayne This could be because of one of the values missing from capabilities. Please have a look at the similar issue discussed here [Azure IoT Central Publish Error Something went wrong](https://stackoverflow.com/questions/63423800/azure-iot-central-publish-error-something-went-wrong-error-code-400-470-006-319) and let us know if that helps.

Also, I would suggest you to double check you

[2020-09-21 12:05] madsd commented on #62949
@AndreasLudviksen through the lens of the Security Baseline it might be. The document you are referring to is the general security baseline and may have selected a subset of ways to communicate with WAF. With ASE and Private endpoint you have to explicitly route traffic through the WAF as all public traffic is default blocked. With the other options you have to actively block all other traffic not

[2020-09-21 12:18] souravmishra-msft commented on #62681
@alpinedelight, I don't think there is a bug there, as I myself tried the API and it works fine as expected.

Once I instantiated the **applicationTemplate**, I picked up the servicePrincipalID by making the following Graph API call: `https://graph.microsoft.com/beta/serviceprincipals?$filter=startswith(displayName, 'AWS UmbrellaCo')&$select=displayName, id`
![image](https://user-images.githubuser

[2020-09-21 12:19] KrishnaG-MSFT commented on #62766
@hzinedda At this point it appears that there's no edits or updates needed for the referred Azure documentation so closing this issue for now. If there are further questions regarding this matter or feedback on the referred Azure documentation, please do let us know and we will gladly continue the discussion.

[2020-09-21 12:19] #62766 closed

[2020-09-21 12:20] KrishnaG-MSFT commented on #62948
@XristophD Thanks for your comment! We will review and provide an update as appropriate.

[2020-09-21 12:23] KrishnaG-MSFT commented on #62950
@rwatjen Thanks for your comment! We will review and provide an update as appropriate.

[2020-09-21 12:24] souravmishra-msft commented on #62952
@xtoik, Thank you for sharing this. We are looking into this and will update you shortly.

[2020-09-21 12:26] Ayanmullick commented on #62628
@SumanthMarigowda-MSFT , that is documentation to deploy a **public** cluster. Could you point me to the link for the private cluster documentation if this is not related to documentation?

[2020-09-21 12:31] madsd commented on #62949
@AndreasLudviksen @souravmishra-msft You may want to ask for a change in the security baseline doc, or an explicit mention that there are other ways of connecting to WAF, but they are not validated according to security baseline - but the article on app gateway with service endpoints that I wrote is still correct and should not be modified.

[2020-09-21 12:39] shashishailaj commented on #47008
Apologies for the delayed reply . We had this checked but there is no workaround for this. Within on-premise active directory we find that the group object starting with . (period) is permitted. During sync a validation takes place due to which you see this behavior. Currently this is by design and I was not able to find a solution for the same. If you are unable to solve this and would like to wo

[2020-09-21 12:39] #47008 closed

[2020-09-21 12:51] JeremyTBradshaw commented on #44898
Maybe when this is updated, they can add the "s" to the word 'premises' in the script's name.

[2020-09-21 13:05] jackchenquest commented on #62530
Thanks SubhashVasarapu! Not sure why I only got encrypted packet, I will retest it.

[2020-09-21 13:12] mikeelliottuk opened #62957 "Support for Ubuntu 20.04 LTS"
Is anyone looking into validating support for installation on Ubuntu 20.04 LTS, the latest long term release of Ubuntu from February 2020?  Could the page be updated to reflect any validation in-progress or actual support for this release?

Many thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9cbfa632-1612-9d5f-7

[2020-09-21 13:33] roninstar opened #62959 "Can not retrieve Trained VoiceProfile from Azure CognitiveServices"
[Enter feedback here]
I do not see anywhere in all the documentation how we can use our trained enrolled identification users for later identification.  Even if I save the GUID's of the voiceprofiles once they are created I can not get the voiceprofiles from the Azure service in order to perform verification on the users identity.  The examples provided are no good for the real world.  People can'

[2020-09-21 13:41] AjayKumar-MSFT commented on #62949
@AndreasLudviksen, We really appreciate you taking time to share your valuable feedback. As madsd mentioned, since the changes are not specific enhancement on this doc, we could close this issue out.  If you wish, [please raise a thread](https://github.com/MicrosoftDocs/azure-docs/issues/new?title=&body=%0A%0A%5BEnter%20feedback%20here%5D%0A%0A%0A---%0A%23%23%23%23%20Document%20Details%0A%0A%E2%9A

[2020-09-21 13:47] Expecho opened #62960 "Missing data in Metric Details"
The Metric Details only show the value field, how can we see the other values like valueCount, valueMin, valueMax etc.?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09c3a89a-f9bc-1684-c007-376a9ef46bcd
* Version Independent ID: cdc06a4f-c8fc-69a6-86c7-136cd9229f48
* Content: [Debug in Visual Studio with Azure Applica

[2020-09-21 13:52] Shutima opened #62961 "What values should I use for Storage Account Name and Storage Account Key?"
Hello,
I am trying to use C# code for Data Movement Library to test the transfer of the files from Azure VM to my Blob Storage. However, when I ran the code, I entered:
Storage Account Name: I entered my Azure storage account name
Storage Account Key: Here I entered SAS Token
I got an error message:

Unhandled exception. System.FormatException: No valid combination of account information found.

[2020-09-21 13:56] geoffbrucepayne commented on #62953
Hi thanks for the steer, I found the 2 problems on my side.  I had missed one of the <YOUR_COMPANY> replacements in the JSON file which was causing the import to fail.  And I was using a group enrollment SAS key instead of device-specific.

Do you have an example of using a SAS key for group enrollment with javascript?

Thanks
Geoff

From: AshokPeddakotla-MSFT <notifications@github.com>
Sent: Sept

[2020-09-21 13:59] sujitdmello commented on #62700
I have retried all the steps from scratch and each time some of the services fail with the same error.

Hopefully someone else is able to reproduce this. It happened to me under both Windows command prompt and WSL2 command prompt. Perhaps I am missing some step but it is not obvious to me.

Thanks for looking into it.

[2020-09-21 14:11] englandcarl opened #62962 "Better Example required of AsyncPageable<BlobItems> use case"
[Enter feedback here]

Example: private static void ListBlobsFlatListing(BlobContainerClient container, int? segmentSize)

Really disliked this example as it does not help with paging, which is rather the whole point of a paging example. Rather it is just enumerating through all blobs. Well this is the outcome result anyway. A more pointed example showing how a user could be presented with a page

[2020-09-21 14:13] paulmelis opened #62963 "HoloLens 2 network port requirements not fully clear"
With regards to the section on firewall blockage which of the ports should be open for *incoming* traffic? I assume only the UDP port, but the docs don't list this clearly. Or should *all* listed ports be open for both outgoing and incoming connections and traffic?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7101211

[2020-09-21 14:31] AshokPeddakotla-MSFT commented on #62963
@paulmelis Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-09-21 14:38] balivo commented on #54376
Any news?

[2020-09-21 14:43] madsd commented on #62949
@AndreasLudviksen Tak for input :smiley: - sig til, hvis du har brug mere info fra mig

[2020-09-21 14:51] NumberByColors commented on #62960
Hey there, I haven't worked on this for several years. Adding @acearun to comment.

[2020-09-21 14:52] tfitzmac commented on #62948
@XristophD - thanks for this feedback. There is not a hard limit of 2, but batch size can't exceed the total number in the copy loop. I'll add this clarification to the article. Because of a temporary delay in publishing, the update will most likely get published tomorrow.

[2020-09-21 14:52] tfitzmac commented on #62948
#please-close

[2020-09-21 14:52] #62948 closed

[2020-09-21 15:01] GitaraniSharma-MSFT commented on #62759
Since, we haven't heard from you in sometime, we are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-09-21 15:01] #62759 closed

[2020-09-21 15:03] sharbt opened #62964 "Debug module in launch mode fails for large json messages"
Whilst performing all the steps & using Curl

"curl --header "Content-Type: application/json" --request POST --data '{"inputName": "input1","data":"hello world"}' http://localhost:53000/api/v1/messages"

works perfectly for both curl and postman.

But if the "data" is json , postman failed with error "Error: socket hang up".
Curl failed with "curl: (52) Empty reply from server"

It seemed that pos

[2020-09-21 15:11] markjbrown commented on #62058
@IoTFier any update on this?

[2020-09-21 15:12] wtfstoops opened #62965 "Graph OIDC Userinfo Endpoint Claims"
Using Azure App Registration to authenticate users, userinfo endpoint coming from OpenID Connect metadata document listed on the App Registration Endpoints. the oidc userinfo endpoint is https://graph.microsoft.com/oidc/userinfo.

This endpoint for some reason is not returning the claims configured in the App Registration.  id_token is returning the claims configured in the app manifest (roles and

[2020-09-21 15:23] skrepo0 opened #62966 "ADF is expecting user to install odbc drivers on SHIR in order to connect to Salesforce and the required details are nowhere available on the documentation page"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df56c0c4-ac20-76e5-3f99-7e5ed9c2d726
* Version Independent ID: 8b224227-1cf7-6fa7-4bee-24d243509e45
* Content: [Copy data from and to Salesforce - Azure Data Factory](https://docs.microsoft.com/en-us/azure/data-factory/connector-salesforce)
* Content

[2020-09-21 15:40] AshokPeddakotla-MSFT commented on #62812
@nberdy could you please look into this feedback? Is this intentional or link has been modified?

[2020-09-21 15:42] AshokPeddakotla-MSFT commented on #62827
@hwinstonuconn Thanks for the feedback! I have assigned the issue to the content author @craigktreasure  to look into this feedback  and update as appropriate.

[2020-09-21 15:49] MonikaReddy-MSFT commented on #62964
@sharbt -
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-09-21 15:49] nberdy commented on #62812
Thanks for calling this out. I am updating the link.

[2020-09-21 15:56] sharbt commented on #62964
@MonikaReddy-MSFT
Can see similar issue being fixed https://github.com/Azure/iot-edge-testing-utility/issues/12 as reported.
But still I am using
iotedgehubdev, version 0.14.1 (where issue reported)
On Windows 10 box.

I am using integrated VS Code/Azure IoT edge tools.
Do let me know if IotEdgeHubDev needs to be upgraded and how to do.

For your information:
URL : https://docs.microsoft.com/en-us

[2020-09-21 16:08] AndreasLudviksen commented on #62949
Got it. Thanks for taking the time guys.

[2020-09-21 16:13] DerekHerman-MSFT opened #62967 "Troubleshooting tool link is broken"
This link leads to a technet url which no longer works.

https://docs.microsoft.com/en-us/azure/storage/files/storage-troubleshoot-linux-file-connection-problems#solution

https://gallery.technet.microsoft.com/Troubleshooting-tool-for-02184089

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d3c03c3-b99c-445a-026e-442dd

[2020-09-21 16:13] YutongTie-MSFT commented on #62874
@AndyCW Hi Andy, thanks for the feedback again. According to our ongoing email thread, we have an action item for the document. It will be updated soon.

We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-09-21 16:13] #62874 closed

[2020-09-21 16:14] DerekHerman-MSFT commented on #62967
Assigning to author to see if tool is available elsewhere and URL can be replaced.

[2020-09-21 16:14] kheckbh commented on #50228
I'd be awesome if soft-deleted key vaults would be renamed or versioned as to not break repeatable deployments

[2020-09-21 16:22] craigktreasure commented on #62827
@hwinstonuconn Have you tried opening the [Output window](https://docs.microsoft.com/en-us/visualstudio/ide/reference/output-window?view=vs-2019) in Visual Studio? You'll need to open it while debugging.

[2020-09-21 16:22] GiftA-MSFT commented on #62745
@danieltarita thanks for clarifying the issue. Accuracy between Quick test and Offline sometimes may vary because classifiers built with a compact domain may be slightly less accurate than a standard domain with the same amount of training data. Therefore, I suggest increasing your training images to see if it improves the results.

[2020-09-21 16:22] #62745 closed

[2020-09-21 16:23] iainfoulds commented on #62528
You're welcome. I'll review this again if needed to clarify in a future doc update. For now, #please-close

[2020-09-21 16:23] #62528 closed

[2020-09-21 16:23] YutongTie-MSFT commented on #62959
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-21 16:29] wangyuehust opened #62968 "Property publisherDomain has an invalid value."
[Enter feedback here]
https://tv.zala.by/iptvepg/smarttv/.well-known/microsoft-identity-association.json
this address is ok.
But Property publisherDomain has an invalid value.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61edea45-b5d6-05b3-33c3-2265ef8cb309
* Version Independent ID: c7d5813c-5cf1-44c3-88ff-3c194d3e44

[2020-09-21 16:29] NavtejSaini-MSFT commented on #62892
@rohitnayakmsft Please check this further for adding clarity.

[2020-09-21 16:32] JamesTran-MSFT commented on #62968
@wangyuehust
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-21 16:33] KranthiPakala-MSFT commented on #62769
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply, we will gladly continue the discussion.

Thank you & Stay Safe

[2020-09-21 16:33] #62769 closed

[2020-09-21 16:35] KranthiPakala-MSFT commented on #62557
Hi @djpmsft,  Could you please have a look at the above feedback, looks like the links are referring to ADF API's? - Thank you

[2020-09-21 16:35] MartinNr5 opened #62969 "The guide is very out of date"
Hi.

The latest version of VS 2019 Community Edition does not create Azure App Services, SQL DB servers or databases as the guide in this document describes. I did my best to try and follow it anyhow but ended up with an application that won't run in Azure.

Please try and find time to update the guide as this seems to be a good starting point for this type of application.

Thanks.

---
#### Docum

[2020-09-21 16:37] tfitzmac commented on #62786
@rolyon - I see that [your article assigns roles](https://docs.microsoft.com/en-us/azure/role-based-access-control/role-assignments-template#resource-scope) by using an extension resource instead of using the scope property. Do you if scope can ever be used to assign to a resource? Or, does the reference content need to updated?

[2020-09-21 16:40] djpmsft commented on #62557
Hey @KranthiPakala-MSFT ,

This is an ADF Article so the link is correct. For any shared page, ADF and Synapse have the same doc link. The APIs in question should be the same, just change the resource to the Synapse workspace vs an ADF. Is there a use case that isn't working?

As no changes need to be made, I will go ahead and close.

Thanks,
Daniel

#please-close

[2020-09-21 16:40] #62557 closed

[2020-09-21 16:48] jmprieur commented on #48862
This quickstart was updated.
#please-close

[2020-09-21 16:48] #48862 closed

[2020-09-21 16:51] jmprieur commented on #56783
@rcg-dev : do you need more than this: https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-daemon-acquire-token?tabs=dotnet#did-you-use-the-resourcedefault-scope ?
What do you have in mind?

[2020-09-21 16:52] DerekHerman-MSFT commented on #62961
@Shutima
It is referring to your storage account key, not a SAS Token.
https://docs.microsoft.com/en-us/azure/storage/common/storage-account-keys-manage?tabs=azure-portal#view-account-access-keys

[2020-09-21 16:53] writex opened #62970 "Install Docker Desktop for Windows"
The page says to install Docker CE. I know that means the Docker Community Edition but others may not. When users click the link it says, "Docker Desktop" with a button that says "Download for Windows." It may be better to change the text on the page from Docker CE to Docker Desktop so there is no confusion. Once that is installed, to click on "About Docker" says, "docker desktop community."

---

[2020-09-21 17:02] curtand commented on #62669
Hi @AmitavaHazra,
I have learned that this is a known bug with that version. The workarounds are:
- Upgrade to Edge Chromium, which works and is our Edge platform going forward
- Upgrade to the legacy version Microsoft Edge 44.18362.449.0, which is working as far as I could ascertain. Microsoft offers free VMs for testing edge 44 here: https://developer.microsoft.com/en-us/microsoft-edge/tools/vms

[2020-09-21 17:03] aahill commented on #61963
Hi @jennifermarsman
I confirmed the following with @ashly1yeo :

Model versions of Key Phrase Extraction prior to 2020-07-01 have a 64 character limit. This limit is not present in later model versions or other endpoints.

I've added this info as a note on the language support article: https://docs.microsoft.com/azure/cognitive-services/text-analytics/language-support?tabs=key-phrase-extraction

T

[2020-09-21 17:03] #61963 closed

[2020-09-21 17:05] jfals82 commented on #53360
I'm seeing the same error as before. Is this fixed @btardif & @sanchitmehta?

`git push azure master
Enumerating objects: 11, done.
Counting objects: 100% (11/11), done.
Delta compression using up to 8 threads
Compressing objects: 100% (6/6), done.
Writing objects: 100% (6/6), 462 bytes | 462.00 KiB/s, done.
Total 6 (delta 5), reused 0 (delta 0)
remote: Deploy Async
remote: Updating branch 'master

[2020-09-21 17:06] aahill commented on #61963
Also as a quick note, I think this note will be moving to the data limits article shortly.

[2020-09-21 17:07] MikeDodaro commented on #62700
Have you installed Azure CLI version 2.0.67 or higher?  What happens if you follow the Maven procedure? https://docs.microsoft.com/en-us/azure/spring-cloud/spring-cloud-quickstart-deploy-apps?tabs=Maven

[2020-09-21 17:07] crAZiAc opened #62971 "unique_name claim is not supported in v2 tokens. Please change to match current situation"
The claim **unique_username**, as stated in the article, is not available when calling a **v2.0 endpoint**, like stated in the arcticle. I tried changing this to **preferred_username** or **email** claim, as is supported in v2 tokens.

I am using **id_token** here. Or does the code response type do supply the unique_username claim?

---
#### Document Details

⚠ *Do not edit this section. It is req

[2020-09-21 17:09] jfals82 commented on #53360
I'm seeing the same error. Is this fixed @btardif & @sanchitmehta?

`
$ git push azure master
Enumerating objects: 11, done.
Counting objects: 100% (11/11), done.
Delta compression using up to 8 threads
Compressing objects: 100% (6/6), done.
Writing objects: 100% (6/6), 462 bytes | 462.00 KiB/s, done.
Total 6 (delta 5), reused 0 (delta 0)
remote: Deploy Async
remote: Updating branch 'master'.
remo

[2020-09-21 17:12] Ayanmullick opened #62973 "Steps to deploy Machine Learning using PowerShell cmdlets"
How could one deploy a Machine Learning plan using the [Az.MachineLearning](https://docs.microsoft.com/en-us/powershell/module/az.machinelearning/?view=azps-4.6.1) module and point it to an existing Key Vault, AppInsights workspace and storage account?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6bb762e3-f0ac-c0de-b

[2020-09-21 17:27] #62655 closed

[2020-09-21 17:29] jeffpatt24 commented on #62967
Thanks for reporting! I updated the link to: https://github.com/Azure-Samples/azure-files-samples/tree/master/AzFileDiagnostics/Linux. The doc update will be live later today.

[2020-09-21 17:30] jeffpatt24 commented on #62967
#please-close

[2020-09-21 17:30] #62967 closed

[2020-09-21 17:34] shizn commented on #62964
Adding @marianan to investigate. Thanks for reporting the issue with detailed info!

[2020-09-21 17:36] JamesTran-MSFT commented on #62749
@atwerae
I just wanted to check in and see if you had a chance to review my previous posts and gather the requested info. Since I haven't heard from you in a few days, I'll go ahead and close out this issue at the end of the day pending your response/info.

Once you're able to get the screenshots requested, please feel free to tag me and I'd be more then willing to re-open this issue and continue

[2020-09-21 17:37] ChaitanyaNaykodi-MSFT commented on #62820
Hello @Marco-Santoni, as the document suggests Function App relies on Azure Storage for managing triggers and logging function executions . For Consumption/Premium hosting plan the function code and binding configuration files are stored in the storage account . In production environment, as [function apps scale](https://docs.microsoft.com/en-us/azure/azure-functions/functions-scale),  and if ther

[2020-09-21 17:40] brkrall opened #62974 "Add note explicitly stating outbound connectivity restriction for Standard SKU ILB"
The following section for the internal load balancer deployment scenario needs to be updated:

https://docs.microsoft.com/en-us/azure/firewall/integrate-lb#internal-load-balancer

There is no mention of the outbound connectivity restrictions inherent in this configuration scenario when using a Standard SKU ILB or the known solution presented by deploying a public load balancer in tandem. Please ad

[2020-09-21 17:44] Blackmist commented on #62973
Hi @Ayanmullick The Az.MachineLearning module is for [Azure Machine Learning Studio classic](https://docs.microsoft.com/en-us/azure/machine-learning/studio/powershell-module), which is an older ML offering. There is no PowerShell module for the current version of Azure Machine Learning. The current service only provides Azure CLI, Python SDK, and R SDK.

[2020-09-21 17:49] ChaitanyaNaykodi-MSFT commented on #62880
Hello @swettstein, the value zero means that prefetch is turned off by default. You can find more information [here](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-prefetch#if-it-is-faster-why-is-prefetch-not-the-default-option) regarding why prefetch is turned off by default.

[2020-09-21 17:49] DerekHerman-MSFT commented on #62962
@englandcarl Thanks for the feedback. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-09-21 17:53] swettstein commented on #62880
Perfect. Thank you!

[2020-09-21 17:53] #62880 closed

[2020-09-21 17:54] MarileeTurscak-MSFT commented on #62965
@wtfstoops
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-21 17:55] MarileeTurscak-MSFT commented on #62971
@crAZiAc
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-21 17:55] davewm-qc commented on #42568
Update
| extend _osType = iff(isnotempty(OSType), "Linux", "Windows")
| summarize arg_max(TimeGenerated, * ) by Title, Classification, PublishedDate, Computer, KBID, UpdateState, Product, MSRCSeverity, _osType
| summarize NumberComputers = dcount(Computer), NumberofUpdates = dcount(KBID), RequiredList = make_list_if(Computer,UpdateState == "Needed") by _osType, MSRCSeverity, Product, Classificatio

[2020-09-21 17:57] hpsin commented on #62965
Ah, this is poorly worded. The claims in the example are all of the claims returned, regardless of config. The "same as id token" comment is just that the ID token and the userinfo response will contain the same sub claim. Will reword.

[2020-09-21 18:00] Ayanmullick commented on #62628
@LeonLaude, What are the PowerShell cmdlet equivalent parameters for the `--enable-private-cluster`, `--docker-bridge-address` and `--service-cidr` parameters in the [AzCLI documentation](https://docs.microsoft.com/en-us/azure/aks/private-clusters#advanced-networking)?

Adding Security Architect @luckycloudguru.

[2020-09-21 18:03] WinstonHoward-MSFT commented on #62970
Thanks for the doc-idea, I've assigned this issue to the doc author so they can take a look.

[2020-09-21 18:04] nawanas commented on #61317
A LUIS model for a PizzaBot is available here [https://github.com/Azure/pizza_luis_bot](url) it illustrates how to use entity hierarchies to capture the utterances, it also handles intents as entities (or what is coined as int-ent-ities") to do multi-intent utterances such as pizza orders. You actually need to design the schema to have a heirarchy and associate a decomposition of the entities into

[2020-09-21 18:07] KranthiPakala-MSFT commented on #62966
Hi @skrepo0
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2020-09-21 18:07] TravisCragg-MSFT commented on #62548
@cat-mucius We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-09-21 18:07] #62548 closed

[2020-09-21 18:08] TravisCragg-MSFT commented on #62714
@kostrse We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-09-21 18:08] #62714 closed

[2020-09-21 18:09] Ayanmullick commented on #62973
@Blackmist , Is it in the roadmap? Is there a tentative ETA? I need to deliver this and I need the PowerShell documentation.
Adding Security Architect @luckycloudguru .

[2020-09-21 18:10] wtfstoops commented on #62965
So does that mean that the Userinfo Endpoint Will not Return the optional claims mapped in the app manifest?  The clients will be using the OIDC Userinfo Endpoint to validate what roles they claims for

[2020-09-21 18:12] hpsin commented on #62965
That's correct. Only the ID token and access token contain that information. If they wish to collect roles via api call however they can call Graph for that information.

[2020-09-21 18:12] KranthiPakala-MSFT commented on #62966
Hi @skrepo0,

Could you please provide additional details about your query? - Have you received any notification or error message while establishing connection to Saleforce using this connector?

Thank you

[2020-09-21 18:12] wtfstoops commented on #62965
Whats that endpoint to retrieve Roles?

[2020-09-21 18:17] JamesTran-MSFT commented on #62541
@jskop
Thanks for your patience throughout this issue.

It looks like this is a bug with the [TrustFrameworkBase.xml](https://github.com/Azure-Samples/active-directory-b2c-custom-policy-starterpack/blob/master/LocalAccounts/TrustFrameworkBase.xml), we've went ahead and filed a bug in the base starter pack and referenced this GitHub issue.

I'll go ahead and close out this thread and if you have an

[2020-09-21 18:17] #62541 closed

[2020-09-21 18:22] mickent opened #62976 ""azure config mode asm" is not valid"
"azure config mode asm" is not valid

It seems the documentation needs updated here to not reference this cmdlet

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a811d3a4-7930-8c1d-582b-ec40591ebab6
* Version Independent ID: 56f14d45-e0ac-55c1-315a-fa157abba0d8
* Content: [Delete a virtual network gateway: Azure classic

[2020-09-21 18:24] JamesTran-MSFT commented on #62877
@HaydnDias
I went ahead and enabled your subscription for a one-time free support request, so I'll go ahead and close out this issue.

If you have any other questions or run into further issues, please let me know and I'd be more then happy to re-open this issue and continue working with you.

Thank you for your time and patience throughout this issue.

[2020-09-21 18:24] #62877 closed

[2020-09-21 18:25] krishnand commented on #61334
This is a non-scenario as the copy between two AEK resources need not be downgraded. I have spun a [new task](https://msazure.visualstudio.com/Cognitive%20Services/_workitems/edit/8350668) to investigate and address this issue.

[2020-09-21 18:29] marianan commented on #62964
Thanks @shizn i will take over the investigations here. ETA on next update 9/28.

[2020-09-21 18:35] JamesTran-MSFT commented on #62913
@BicoGH
Thanks for your input!

Looking into your issue, the documentation is correct, since the [Assign a role to a user-assigned managed identity ](https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/how-to-manage-ua-identity-portal#assign-a-role-to-a-user-assigned-managed-identity )section is specifically assigning a role to a managed identity.

![addRoleA

[2020-09-21 18:35] #62913 closed

[2020-09-21 18:36] SubhashVasarapu-MSFT commented on #62976
@mickent, Appreciate your feedback. The doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-09-21 18:36] #62976 closed

[2020-09-21 18:37] PatrickFarley commented on #59299
@ram-msft please assign to me

[2020-09-21 18:37] PatrickFarley commented on #61734
PramodValavala-MSFT please assign to me

[2020-09-21 18:40] SQLAdventurer commented on #62666
**I did not ask that the section be removed**. I agree that it is a necessary section.
I suggested that it be moved further down the document to eliminate the confusion placing it so high in the document has caused customers.
Please re-open and just move the section lower in the document

[2020-09-21 18:44] SQLAdventurer commented on #62666
I did not ask that the section be removed. I agree that it is a necessary section.
I suggested that it be moved further down the document to eliminate the confusion placing it so high in the document has caused customers.
Please re-open and just move the section lower in the document

[2020-09-21 18:47] AnuragSharma-MSFT commented on #62832
@Diastro Could you please provide the info as mentioned in above comment?

[2020-09-21 18:48] jfggdl commented on #59222
@realrubberduckdev, thanks for reporting this issue. This was a problem that we (Event Grid team) have mitigated. Please try it again. It should work.

[2020-09-21 18:50] largeDachshund opened #62977 "Tutorial Requires Update"
I believe the tutorial is obsolete.  The Java code requires the implementation of a NotificationHubListener.  But, Android Studio cannot find a reference and a search in the [Github rep for Azure-NotificationHubs](https://github.com/Azure/azure-notificationhubs-android) comes up empty.

Thanks for the detailed tutorial.

Regards,

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2020-09-21 18:50] SQLAdventurer opened #62978 "Please re-open "Data Exfiltration topic should be moved to bottom of this page" #62666"
See item #62666
I did not ask that the section be removed. I agree that it is a necessary section
I suggested that it be moved further down the document to eliminate the confusion placing it so high in the document has caused customers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb6328aa-a54f-4936-1c35-ecf5c265d92d

[2020-09-21 18:52] bradyson opened #62979 "azure config mode asm - No longer works"
This command no longer works: azure config mode ASM.  We need an equivalent command in order to download config.xml for ASM deployments and make modifications to the file

Repro steps:
Install-Module Azure -AllowClobber
Import-Module Azure
Add-AzureAccount
azure config mode asm

Error: azure : The term 'azure' is not recognized as the name of a cmdlet, function, script file, or operable program. C

[2020-09-21 18:53] JamesTran-MSFT commented on #62968
@wangyuehust
Walking through the documentation, I wasn't able to verify my domain either using the .json

![verifyDomain](https://user-images.githubusercontent.com/36619112/93807966-3c4b7880-fc00-11ea-84f2-3d596fa02837.JPG)
-Are you able to provide the error message that you're receiving?

Can you also try following the [add and verify custom domain](https://docs.microsoft.com/en-us/azure/active-d

[2020-09-21 18:54] SubhashVasarapu-MSFT commented on #62530
@jackchenquest, are we good to close this issue? For any kind of troubleshooting scenerios and technical help, please post your quesries on[ Microsoft Q&A platform](https://docs.microsoft.com/en-us/answers/index.html) for better reach. GitHub platform concentrates more on improvising Azure Docs in case there is a need for Doc enhancement.

[2020-09-21 18:58] krishna-doss-mohan commented on #60256
Tracking this issue as a separate 'To Do' item

[2020-09-21 18:58] #60256 closed

[2020-09-21 18:59] SubhashVasarapu-MSFT commented on #62810
@matkoliptak, Appreciate your patience. Latency table for Azure Gov cloud is not yet planned.

[2020-09-21 19:01] NavtejSaini-MSFT commented on #62978
@SQLAdventurer We are checking with our doc author for guidance regarding this. Thank you for creating the new issue for this. We will follow the progress here for the issue.

[2020-09-21 19:09] jackchenquest commented on #62530
Sure.

[2020-09-21 19:11] MarkKharitonov commented on #23006
The link is broken. I have exactly the same problem.
Logged in to Azure, ran the command copied from the Azure Portal Connect pane. Exactly the same issue.
@ankitjoshi8518 - can you share the details or provide a live link?
Thank you.

[2020-09-21 19:12] LucasCosas opened #62980 "SQL piece of code is wrong"
[Enter feedback here]

The following code
WITH
Dataframe AS (
SELECT vendorid, weekday, pickuphour, passenger, distance
FROM input
)

SELECT udf.score(Dataframe)
INTO output
FROM input

Should be replace with
WITH
Dataframe AS (
SELECT vendorid, weekday, pickuphour, passenger, distance
FROM input
)

SELECT udf.score(Dataframe)
INTO output
FROM Dataframe

The last line should be Dataframe instead o

[2020-09-21 19:14] mrpullen opened #62981 "Only one internal load balancer are allowed per availability set"
Can I configure the following - I am getting the "**_Only one internal load balancer are allowed per availability set_**" error when provisioning the following with terraform.

[Express Route]

[Azure Virtual Network Gateway] [GatewaySubnet] [Terminates ExpressRoute]

[Cisco CSR 1000V] [ExternalSubnet] [Terminates VPN]
[Azure Load Balancer] [ExternalSubnet] [Load Balances traffic from CSR to F5s i

[2020-09-21 19:16] rohitnayakmsft commented on #62978
@SQLAdventurer  I am ok with moving it down as you suggested  @NavtejSaini-MSFT In fact I would suggest moving bother Data exfiltration prevention and On-premises connectivity over private peering to further down in the docs. In reviewing the content I propose the following reordering of sections

[2020-09-21 19:18] NavtejSaini-MSFT commented on #62978
Thank you @rohitnayakmsft for the guidance. We will do the needful.

[2020-09-21 19:20] roninstar commented on #62959
Thanks very much! We are currently looking to replace our current Speaker Recognition software solution and would like to use Microsoft's Cognitive Services for this.  We are eagerly looking forward to how to do this.

[2020-09-21 19:22] IoTFier commented on #62058
Hi @markjbrown ,

Now, I am not able to even download the image of cosmos db emulator image.
I tried it using the commands -
1> docker pull microsoft/azure-cosmosdb-emulator   - as well as via
2> docker pull mcr.microsoft.com/cosmosdb/windows/azure-cosmos-emulator

![image](https://user-images.githubusercontent.com/26844611/93811274-76734500-fc15-11ea-80c7-b29b3c6243cc.png)

[2020-09-21 19:24] SatishBoddu-MSFT commented on #62869
Hello @dvescovi1 We have verified the document walkthrough and were able to see the **.env file is created** when we create the sample 'Edge Solution' in VS code.
 Please confirm once again from your side with a fresh copy of the sample, and do let us know if you need further help in this matter.

![image](https://user-images.githubusercontent.com/62923178/93811614-491e9b00-fc05-11ea-9577-283f865b

[2020-09-21 19:37] lokijota opened #62982 "Error in instructions"
In section **Run the program**, there are a couple of references to updates needed in `GraphInstanceSet` and `GraphTopologyDelete`:

[code]

 In the latest version of the samples, however, which I've run just 3 days ago, these instructions don't apply to `GraphTopologyDelete`. This node has only:

[code]

And it has no `topologyName` as the text says.

I believe the other LVA  tutorial, for event-

[2020-09-21 19:45] sebansal commented on #51022
We are working on documenting.

[2020-09-21 20:00] tfitzmac commented on #62514
@joecarlyle - thanks for this suggestion. I have added examples for a single VM or collection of VMs. It should get published tomorrow.

[2020-09-21 20:00] tfitzmac commented on #62514
#please-close

[2020-09-21 20:00] #62514 closed

[2020-09-21 20:02] lokijota opened #62983 "Operational events output"
The section "Operational events" says that Code will show messages such as:

[code]

However, what I see in VSCode is:

[code]

Only the `body` is being shown in VS Code. To see the full JSON messages, I had to start Azure IoT Hub Explorer.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83493a18-75d3-21a6-a6b7-30f2c453

[2020-09-21 20:12] mydiemho commented on #62778
@BhargaviAnnadevara-MSFT yes the repo you linked is the one I was trying to build

[2020-09-21 20:28] jackbond opened #62986 "VMSS node naming"
I can't find a better place to put this (it's a complete mystery how to give feedback on scale sets.)

The current naming of nodes in a scale set is quite frankly horrific. It's simply

$"{i}"

where it needs to be

$"{i:00000}"

All you need to do is look in the Service Fabric explorer to see the problem with the current naming convention when you got a scale set with more than 9 nodes. Quite fra

[2020-09-21 20:30] wtfstoops opened #62987 "Access Token Application Manifest Optional Roles Claim - No Role Claims Returned"
Following this documentation on User-Delegated Access Token Request using V2.0 endpoints.

https://docs.microsoft.com/en-us/azure/active-directory/develop/access-tokens#claims-in-access-tokens

Problem:  No Roles Claims are coming back in Access Token

Any ideas why Access Token is not returning role claims?  (i have tried the below with 'emit groups as role claim option' as well... no go).  We ca

[2020-09-21 20:30] MarileeTurscak-MSFT commented on #62957
@mikeelliottuk
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-21 20:33] maertendMSFT commented on #62934
@limingr
you can navigate into the Azure drive from a PowerShell session by running `cd Azure:`

[2020-09-21 20:44] JamesTran-MSFT commented on #62968
@wangyuehust
Looking at your issue again, I noticed that you found a solution. Therefore, I'll assign this to the author so they can look into the 'invalid value' and update as needed.

https://tv.zala.by/iptvepg/smarttv/.well-known/microsoft-identity-association.json

If you have any question, please let us know.
Thank you!

[2020-09-21 20:49] wangyuehust commented on #62968
I didn't find a solution

At 2020-09-22 04:44:31, "James Tran-MSFT" <notifications@github.com> wrote:

@wangyuehust
Looking at your issue again, I noticed that you found a solution. Therefore, I'll assign this to the author so they can look into the 'invalid value' and update as needed.

https://tv.zala.by/iptvepg/smarttv/.well-known/microsoft-identity-association.json

If you have any question, p

[2020-09-21 20:50] mikeelliottuk commented on #62957
Thanks Marilee.  We’ve installed using 20.04 LTS in our test lab and it appears to be working as expected so far.

[2020-09-21 20:55] hpsin opened #62988 "Should point users to the new Portal token config UX."
Like optional claims, this should point to the new token config UX instead of just manifest editing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9939fc33-8762-3104-eae0-08250c508100
* Version Independent ID: 9c6fa664-df37-40aa-f46e-9e59f79ae215
* Content: [Add app roles and get them from a token - Microsoft identity

[2020-09-21 20:55] wangyuehust commented on #62968
Through the browser can be normal request, but verification failed. Why?

At 2020-09-22 04:44:31, "James Tran-MSFT" <notifications@github.com> wrote:

@wangyuehust
Looking at your issue again, I noticed that you found a solution. Therefore, I'll assign this to the author so they can look into the 'invalid value' and update as needed.

https://tv.zala.by/iptvepg/smarttv/.well-known/microsoft-identi

[2020-09-21 20:56] hpsin opened #62989 "Should discuss what happens when roles cannot be added to the token (hasroles)"
Should discuss hasroles overage claim, and the Graph API to call to get the roles for a user.
Assign to me please.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9939fc33-8762-3104-eae0-08250c508100
* Version Independent ID: 9c6fa664-df37-40aa-f46e-9e59f79ae215
* Content: [Add app roles and get them from a token - Micr

[2020-09-21 21:00] hpsin commented on #62965
You'll want to use the MS Graph API GetMemberObjects to find their directory roles:
https://docs.microsoft.com/en-us/graph/api/user-getmemberobjects?view=graph-rest-1.0&tabs=http

[2020-09-21 21:01] wangyuehust commented on #62968
Through the browser can be normal request, but verification failed. Why?
![image](https://user-images.githubusercontent.com/23693698/93821086-be6e8800-fc66-11ea-8fa4-ee1e62df2315.png)
![image](https://user-images.githubusercontent.com/23693698/93821131-d2b28500-fc66-11ea-9cc6-bd622b172b39.png)

[2020-09-21 21:02] alkohli commented on #62591
@kiranpradeep Looks like these commands were indeed not available in the older version that your device has. The GA release should have these commands. Thank you!
#please-close

[2020-09-21 21:02] #62591 closed

[2020-09-21 21:03] alkohli commented on #61830
This was already answered. #please-close

[2020-09-21 21:03] #61830 closed

[2020-09-21 21:10] JamesTran-MSFT commented on #62968
@wangyuehust
Can you try following the [add and verify custom domain documentation](https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/domains-manage#set-the-primary-domain-name-for-your-azure-ad-directory), then you can just changing your apps verified domain your custom domain is verified.

![verifiedDomains](https://user-images.githubusercontent.com/36619112/93821871-1e8

[2020-09-21 21:11] asears opened #62990 "Should Default examples use abfss and ensure best practices are identified for TLS?"
For security purposes, should the default examples use abfss (TLS/SSL) rather than abfs?  Or is this by default when calling from HDInsight.

See the recommendations on Databricks page.

[code]
https://docs.microsoft.com/en-us/azure/databricks/data/data-sources/azure/azure-datalake-gen2

Would this require additional HDInsight configuration?

---
#### Document Details

⚠ *Do not edit this section.

[2020-09-21 21:13] wtfstoops commented on #62965
@hpsin  can the App Roles be retrieved in the Access Token itself?  appRole is configured in the app manifest, with groupMembershipClaim set to "none".   That way access token does not get overwhelmed from hundreds of groups, but instead only gets the app roles a user has claims for.

[2020-09-21 21:17] wangyuehust commented on #62968
![image](https://user-images.githubusercontent.com/23693698/93822436-e8c14500-fc68-11ea-8aa6-c83c7daf9de4.png)
hello，  The Add button is grayed out and not available

[2020-09-21 21:19] tanmayjog opened #62991 "Need PS script to deploy OmsAgentForLinux extension via PowerShell not CLI"
[Enter feedback here]

There's a PS command to deploy Log Analytics agent virtual machine extension to an existing  WINDOWS virtual machine.
I tried the same command for a Linux machine by changing some of the parameters (like changing MicrosoftMonitoringAgent to OmsAgentForLinux and version) but it **did not work**

$PublicSettings = @{"workspaceId" = "myWorkspaceId"}
$ProtectedSettings = @{"work

[2020-09-21 21:26] hpsin commented on #62989
Never mind, that's for directory roles. #please-close

[2020-09-21 21:26] #62989 closed

[2020-09-21 21:27] PeterCLu commented on #62712
@h2floh since we have an open PR that's on hold until September 22nd, I'll #please-close this issue. We can close out your PR once the changes get merged in.

Thanks for the contribution!

[2020-09-21 21:27] #62712 closed

[2020-09-21 21:28] hpsin commented on #62965
App roles or directory roles? App roles should always appear when granted/assigned. Directory roles can be found when groupMembershupClaim is set to "All" or "DirectoryRoles"

[2020-09-21 21:30] wtfstoops commented on #62965
@hpsin  App Roles.  AppRoles are configured in Azure App Manifest, and the groupMembershupClaim is set to "none".  App Roles are not coming through in Access Tokens - tried both v2.0 and v1.0 endpoints.

[2020-09-21 21:32] lokijota opened #62992 "Adjust diagram in Concepts section"
The diagram in the Concepts diagram is generic and doesn't seem to apply only to this tutorial. Namely, it doesn't include the `objectCounter` which is included as part of the sample. It isn't clear how messages flow into this module, or how it then sends them up to IoTHub. A diagram specific to this tutorial would greatly improve understanding.

---
#### Document Details

⚠ *Do not edit this sect

[2020-09-21 21:33] JamesTran-MSFT commented on #62968
@wangyuehust
Thanks for the quick response! It looks like you might need to sign in with an account with Global Admin permissions to add a custom domain.

[2020-09-21 21:37] wtfstoops commented on #62965
this is the access token response - decoded with jwt.ms
{
  "typ": "JWT",
  "nonce": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
  "alg": "x",
  "x5t": "xxxxxxxxxxxxxxxxxxxxxx",
  "kid": "xxxxxxxx"
}.{
  "aud": "00000003-0000-0000-c000-000000000000",
  "iss": "https://sts.windows.net/someTenantId/",
  "iat": xxxx,
  "nbf": xxxxx,
  "exp": xxxx,
  "acct": x,
  "acr": "x",
  "aio": "xxxxxxx",
  "amr": [

[2020-09-21 21:44] bandersmsft commented on #62921
@ KrishnaG-MSFT Thanks for the update!!!

[2020-09-21 21:48] sandeepraichura opened #62994 "Expanding Data Disk Requires Deallocating the VM"
The "Important" section in the document at the top of the page suggests that we need to deallocate the VM for OS disk, but there is no mention of deallocating the VM for resizing Data Disk.  We have an unsatisfied customer who gave a Low CSAT score due to this gap.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ccc58c7

[2020-09-21 21:55] bradyson opened #62996 "Easv4-series shows Expected network bandwidth (MBps). It should be Mbps."
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-09-21 21:57] hpsin commented on #62965
That's a token for Graph - looking inside of it is breaking the oauth spec and you're not allowed to do that in production code. It will break your app if you do that. You can get them from the ID token just fine though.

[2020-09-21 22:00] KranthiPakala-MSFT commented on #62980
Hi @LucasCosas,
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2020-09-21 22:02] KranthiPakala-MSFT commented on #62990
@asears
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2020-09-21 22:06] robinsh commented on #62639
Does the file in Azure Samples use this new method of file upload? Or is it incorrect? What is your recommendation ?

From: António Sérgio Azevedo <notifications@github.com>
Sent: Friday, September 18, 2020 11:01 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Robin Shahan <Robin.Shahan@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs]

[2020-09-21 22:07] Ayanmullick commented on #62629
Deepak clarified one needs to use certificate-based VPN with a 3rd party client for programmatic P2S connectivity. I feel Microsoft should have a recommended approach for P2S VPN during CI\CD documented at docs.microsoft.com.

@GitaraniSharma-MSFT , If the PG has nothing more to add the issue should be good to close.

[2020-09-21 22:55] MarileeTurscak-MSFT commented on #62957
It's not officially supported yet as the release notes have not been updated.

You can make a feature request here to add support for 20.04. https://feedback.azure.com/forums/920458-azure-sentinel

I'm assigning this to the author for additional updates.

[2020-09-21 23:03] TravisCragg-MSFT commented on #62974
@brkrall Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-09-21 23:04] JamesTran-MSFT commented on #62988
@hpsin
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-09-21 23:05] #62749 closed

[2020-09-21 23:10] MashaMSFT commented on #56834
Hi @jusnitlive , thanks for your patience as we looked into this! Unfortunately, we have not been able to reproduce the issue with our templates. Additionally, the data size of the databases is curious as the template will only deploy 1 TB disks. We suspect that possibly the template was changed? This might be the reason for the behavior.

Our apologies that we were unable to assist you further bu

[2020-09-21 23:19] MonikaReddy-MSFT commented on #62996
@bradyson -
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-09-21 23:20] MonikaReddy-MSFT commented on #62986
@jackbond -
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-09-21 23:22] Karishma-Tiwari-MSFT commented on #62737
@qjake I am not able to find it. Can you please help by sharing which section of this doc [SQL Server licensing documentation](https://docs.microsoft.com/en-us/sql/sql-server/compute-capacity-limits-by-edition-of-sql-server?redirectedfrom=MSDN&view=sql-server-2017) contains this information?

[2020-09-21 23:35] Karishma-Tiwari-MSFT commented on #62828
The [doc ](https://docs.microsoft.com/en-us/azure/templates/microsoft.compute/virtualmachinescalesets#template-format)says that - "To create a Microsoft.Compute/virtualMachineScaleSets resource, add the following JSON to the **resources section of your template**".

The complete template is defined here:https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/quick-create-template-linux#r

[2020-09-21 23:35] #62828 closed

[2020-09-21 23:36] Karishma-Tiwari-MSFT commented on #62932
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-09-21 23:36] #62932 closed

[2020-09-21 23:37] Karishma-Tiwari-MSFT commented on #62915
Is there an update?

[2020-09-21 23:38] Karishma-Tiwari-MSFT commented on #62882
We will now close this issue. Please open the github issue for the doc you are referencing by clicking on "This Page" under Feedback section at the bottom of the document.
![image](https://user-images.githubusercontent.com/20851144/93831893-da533900-fc28-11ea-9226-497f31c9d468.png)

[2020-09-21 23:38] #62882 closed

[2020-09-21 23:41] RyanHill-MSFT commented on #62969
@MartinNr5 while creating an Azure SQL instance has changed, it is labeled that this feature is being deprecated. Perhaps being replaced by something else; I'm not sure.

![image](https://user-images.githubusercontent.com/47189704/93831125-04642580-fc40-11ea-886d-67a8abf62604.png)

We'll update the docs as appropriate. In the meantime, the changes for creating an App Service has been broken up int

[2020-09-21 23:43] RyanHill-MSFT commented on #62977
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-09-21 23:44] RyanHill-MSFT commented on #62982
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-21 23:45] #62852 closed

[2020-09-21 23:47] JamesTran-MSFT commented on #62994
@sandeepraichura
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-21 23:56] Karishma-Tiwari-MSFT commented on #62652
Thanks for sharing your observations and potential solutions. This would help others get started if someone is seeing the same issue. We will keep the doc as is for now. However, this GitHub issue will stay with this doc for others to reference.
As we get similar feedback from other customers, we will consider making the updates as needed.
Thanks for bringing this to our attention. We will now clo

[2020-09-21 23:56] #62652 closed

[2020-09-22 00:03] RyanHill-MSFT commented on #62983
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-22 00:09] Karishma-Tiwari-MSFT commented on #62668
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live in a week.

[2020-09-22 00:09] #62668 closed

[2020-09-22 00:10] binli0114 commented on #50699
I have the same problem. Couldn't find a detail document for configuring secure webhook. Please advise if you have it somewhere. Much appreciated.

[2020-09-22 00:39] tymtam2 opened #62999 "Json shaping best practices: Multiple events at the same time - correalting values with tagId approach"
In the first example there are 2 value pairs for device FXXX:

[code]
1.01@34.7 and 2.44@49.2

Using 2nd approach the correlation is lost.
[code]
It's not longer possible to match 1.01 with 34.7.

Would this have practical consequences when querying data?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ddb99e3-d1bd-a593

[2020-09-22 00:40] bradyson commented on #62996
Sorry. i must not have linked to the correct document.  Here's the link:  https://docs.microsoft.com/en-us/azure/virtual-machines/eav4-easv4-series

[2020-09-22 00:47] tymtam2 opened #63000 "Json Shaping best practice guide: multiple values at the same time - unrealistic scenario?"
The examples in the best practice show two pairs of values at the same timestamp.
[code]

I'm struggling to imagine a scenario when one would want to capture/send/query these 2 pairs as if they were at the same time `"timestamp": "2018-01-17T01:17:00Z"`.

The issue is that the guide pivots on the multiple data at the same time example which makes me hard to put the guide in practice.

This seems t

[2020-09-22 00:56] felipepessoto opened #63001 "ArraySegment usage"
When reading the events, the sample calls the method ToArray() to create an array from ArraySegment, what defeats the benefits of using ArraySegment and creates another copy of the array:

Console.WriteLine("\tRecevied event: {0}", Encoding.UTF8.GetString(eventArgs.Data.Body.ToArray()));

It should be:

Console.WriteLine("\tRecevied event: {0}", Encoding.UTF8.GetString(eventArgs.Data.Body.Array, e

[2020-09-22 01:06] KranthiPakala-MSFT commented on #62980
@LucasCosas
The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update.

[2020-09-22 01:06] #62980 closed

[2020-09-22 01:14] minjich opened #63002 "There's typo in sample command."
[Enter feedback here]

Get-AzSqlDatabaseRestorePoints --> Get-AzSqlDatabaseRestorePoint
I think the letter 's' should be removed.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3bca6b2-3726-2f2c-0db3-94f4de13dc16
* Version Independent ID: 9609af8b-6b57-6b49-2989-8c825013121b
* Content: [Restore an existing data warehou

[2020-09-22 01:19] kilasuit opened #63003 "Missing ARM/PowerShell/RestAPI examples for Keys/Secrets/Certs RBAC"
This doc needs ARM template, Az PowerShell & Rest API for all examples prior to the feature going GA

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 44b9a84f-6765-67dc-bb7b-04303e070c03
* Version Independent ID: 32fc20a0-4321-c74a-34aa-909f43a72db0
* Content: [Grant permission to applications to access an Azure key vaul

[2020-09-22 01:25] TravisCragg-MSFT commented on #62560
a@yull1860 I checked the definitions for the CLI and PowerShell, and they also conflict:

[CLI](https://docs.microsoft.com/en-us/cli/azure/network/vnet/peering?view=azure-cli-latest#az_network_vnet_peering_create-optional-parameters): Allows forwarded traffic from the local VNet to the remote VNet.

[PowerShell](https://docs.microsoft.com/en-us/powershell/module/az.network/add-azvirtualnetworkpeer

[2020-09-22 01:27] LukeBolly opened #63004 "maxConcurrentRequests is unclear whether it is referring to requests on a single host instance, or total requests"
Could we get clarification on which part of scaling this limits? A single execution of our app can use close to 100% of the CPU for extended periods, so we need to limit it to 1 execution per host instance.

However the line:

"Or you might have a function that makes outbound requests to a third-party service, and those calls need to be rate limited. In these cases, applying a throttle here can he

[2020-09-22 01:41] femsulu commented on #62960
reassigning to @acearun per above update

[2020-09-22 01:48] rharris-hs opened #63005 "Needs updating for azure-storage-blob"
This tutorial is not currently functional

attempting to complete Prerequisite 2 (pip install azure) produces the error message below,
attempting to use pip install azure-storage-blob causes the example python script to fail

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 894562e1-2c07-2f75-b420-d843262a7f07
* V

[2020-09-22 02:53] RyanHill-MSFT commented on #62992
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-22 02:57] baf commented on #42830
@jmprieur It looks like the portal still presents it this way, and the manifest does as well (since the property is called oauth2AllowIdTokenImplicitFlow). Is there a timeline for this to be corrected? Failing that, or if it's faster, can some clarification also be added to the documentation at https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-implicit-grant-flow? Thank you

[2020-09-22 03:06] mike-urnun-msft commented on #62881
@kiranpradeep Based on the scope of updates sought in your feedback, we'll now proceed to assign this issue to the content author of this documentation for reviewing further and taking the next course of action.

[2020-09-22 03:19] GitaraniSharma-MSFT commented on #62979
@bradyson , thank you for your feedback. We'll investigate this and get back to you shortly.

[2020-09-22 03:21] skrepo0 commented on #62966
![MicrosoftTeams-image (1)](https://user-images.githubusercontent.com/60820559/93841259-a3286a80-fcb0-11ea-916b-d48f1eb1f77d.png)

Yes, Here is the snap of error message.

[2020-09-22 03:29] jasonjalufka commented on #57689
@ms32035 I was having issues connecting to local blob storage on an IoTEdge Device through Azure Storage Explorer. Downgrading to Version 1.13.1 somehow resolved the issue for me.

Now my issue is that anytime I try to do anything beyond instantiating a BlobServiceClient to local blob storage, i.e. create a container or upload a blob, I see the following error: Using Python `azure-storage-blob` pa

[2020-09-22 03:38] kobulloc-MSFT commented on #62777
@pnwnightowl The documentation should be updated shortly.  We are going to close this issue as resolved but if you have any additional questions about the documentation, please tag me in your reply and we would be happy to continue the conversation.

[2020-09-22 03:38] #62777 closed

[2020-09-22 03:52] shashishailaj commented on #62987
@wtfstoops Thank you for your feedback. We will investigate and update the thread further.

[2020-09-22 03:56] shashishailaj commented on #63003
@kilasuit Thank you for your the feedback . We will have this discussed internally and update the thread.

[2020-09-22 04:25] ram-msft commented on #62788
Yes @iAmBipinPaul. For training model using the label data you need to use the <SAS URL> with the Azure Blob storage container's shared access signature (SAS) URL. For analyzing the [receipts ](https://docs.microsoft.com/en-us/azure/cognitive-services/form-recognizer/quickstarts/python-receipts?tabs=v2-0#analyze-a-receipt) you can use the path to your local form document.
We will now proceed to cl

[2020-09-22 04:27] #62788 closed

[2020-09-22 04:31] nitinme commented on #62692
Fixed in a PR and the content goes live on 9/22.

#please-close

[2020-09-22 04:31] #62692 closed

[2020-09-22 04:52] perkops opened #63008 "CLI Command should be changed, since its using soon to be deprecated command"
In the section "Deploy the IoT Edge device", the first CLI command should be changed from:

az deployment group create --resource-group IoTEdgeResources --template-uri "https://aka.ms/iotedge-vm-deploy" --parameters dnsLabelPrefix='my-edge-vm' --parameters adminUsername='azureUser' --parameters deviceConnectionString=$(az iot hub device-identity **show-connection-string** --device-id myEdgeDevice

[2020-09-22 04:53] AshokPeddakotla-MSFT commented on #63000
@tymtam2 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-22 04:55] AshokPeddakotla-MSFT commented on #62999
@tymtam2 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-22 05:03] SaurabhSharma-MSFT commented on #61308
@UserPower7 Apologies for the delay.  Here is the response from PG :
_PTA agent can be installed on any machine(can be DC) on network as long as it has line of sight/connectivity to all DCs against which it needs to authenticate, so if you have two subnets but there is network connectivity between those two subnets then you can install agent on either of network. Also we recommend installing addit

[2020-09-22 05:04] AshokPeddakotla-MSFT commented on #63008
@perkops Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-22 05:05] HarithaMaddi-MSFT commented on #63002
@minjich - Thanks for your contribution, I've addressed this issue in PR: MicrosoftDocs/azure-docs-pr/pull/130685

The changes should be live soon. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contributions.

[2020-09-22 05:18] andrew951 opened #63009 "AES 256 was recently committed as a supported Kerberos authentication. Does not work still"
AES 256 was recently added as a supported Kerberos authentication encryption. However, I tested this in our environment, and it looks like RC4-HMAC is still the only supported encryption at the moment. Is there something we need to do for our Azure file shares to support AES 256, or has this document been updated too quickly?

---
#### Document Details

⚠ *Do not edit this section. It is required

[2020-09-22 05:24] AshokPeddakotla-MSFT commented on #62953
@geoffbrucepayne I haven't found any examples as per your ask.

I think this question would be better suited for [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/) or StackOverflow where there is a development community that can help.

If you have documentation-related feedback, please create a new issue linking the exact document that you would like to change.

Since your initial issue is

[2020-09-22 05:24] #62953 closed

[2020-09-22 05:27] AnuragSharma-MSFT commented on #62833
This is being assigned to the content author to evaluate and update as appropriate.

[2020-09-22 05:28] AnuragSharma-MSFT commented on #62832
@Diastro We will now proceed to close this thread because of lack of response. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-09-22 05:28] #62832 closed

[2020-09-22 05:45] BryanTrach-MSFT commented on #62899
@TheLostkingg Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-09-22 05:45] #62899 closed

[2020-09-22 05:59] wangyuehust commented on #62968
Can I add a directory after my domain name? Example:iptvepg/smarttv.

https://tv.zala.by/iptvepg/smarttv/.well-known/*.json
Or
Must
https://tv.zala.by/.well-known/*.json

I already use Global Admin permissions to add a custom domain

[2020-09-22 06:02] MayankBargali-MSFT commented on #62849
@ericthomas1 EventGrid works on events (some action occurs) so it will not have any blob content but it will have the blob path i.e. in the subject field.

![image](https://user-images.githubusercontent.com/67255909/93847863-cc9fc100-fcc5-11ea-95ac-f37a6c952d93.png)

If your requirement is to copy the blob and store it to another storage account or location then you only need to define [output bin

[2020-09-22 06:02] arseyam opened #63011 "Virtual Machine Scale Set Orchestration Mode"
I'm not able to select the VMSS orchestration mode, the option is not showing in the portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0ac55b8-8be8-1f86-e3b1-3fe3f6c340c1
* Version Independent ID: c26d3fc8-b62c-4895-3687-2fc7364c6383
* Content: [Quickstart - Create a virtual machine scale set in the Azure portal

[2020-09-22 06:06] psmanhas commented on #62991
@tanmayjog Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.