[2018-03-27 17:16] BryanTrach-MSFT commented on #6335
@rothja Please update us when you locate the correct owner and we will reassign the issue.

[2018-03-27 17:18] BryanTrach-MSFT commented on #6336
@alexjmoore Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-27 17:19] MicrosoftGuyJFlo commented on #6157
@yadcam

It is already mentioned in step 12 of the deployment guide here...
https://docs.microsoft.com/azure/active-directory/active-directory-passwords-best-practices
At the very top of the policy document here...
https://docs.microsoft.com/en-us/azure/active-directory/active-directory-passwords-policy#administrator-password-policy-differences
And in the location you mentioned in the FAQ.

Where

[2018-03-27 17:19] MicrosoftGuyJFlo commented on #6157
#in-process

[2018-03-27 17:19] BryanTrach-MSFT commented on #6337
@marcelvb Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-27 17:21] BryanTrach-MSFT commented on #6338
@PrateekChaudharyDevOps Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-27 17:23] yadcam commented on #6157
Hello!

Nothing more, Thanks for letting me know

[2018-03-27 17:23] #6157 closed

[2018-03-27 17:23] BryanTrach-MSFT commented on #6339
@haplo69 Please let us know if the documentation needs clarification to assist other customers in the future.

[2018-03-27 17:24] #6339 closed

[2018-03-27 17:26] tfitzmac commented on #6350
@leftler - the fix is now on the site.

[2018-03-27 17:27] BryanTrach-MSFT commented on #6342
@JozoSlejko Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-27 17:28] nitinme commented on #5324
#please-close

[2018-03-27 17:29] BryanTrach-MSFT commented on #6343
@tathamoddie Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-27 17:30] BryanTrach-MSFT commented on #6344
@tathamoddie Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-27 17:32] BryanTrach-MSFT commented on #6347
@jecarlsen Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-27 17:33] BryanTrach-MSFT commented on #6348
@tsahi Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-27 17:33] cherylmc commented on #6335
@rothja - I'll figure out who can give us this information.

[2018-03-27 17:34] BryanTrach-MSFT commented on #6349
@HaikoHertes Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-27 17:35] cherylmc commented on #6335
@yushwang - can you update with the correct info?

[2018-03-27 17:36] #6271 closed

[2018-03-27 17:37] BryanTrach-MSFT commented on #6350
@leftler We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion

[2018-03-27 17:37] #6350 closed

[2018-03-27 17:37] MicrosoftGuyJFlo commented on #6157
Ok thank you.

[2018-03-27 17:38] BryanTrach-MSFT commented on #6351
@seb-dataworks Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-03-27 17:40] SyntaxC4 commented on #5755
@MarkAtAgilliance Thanks for the feedback. The PR with the updated content has been merged into our content, you should see this content go live later today.

#please-close

[2018-03-27 17:41] BryanTrach-MSFT commented on #6352
@cloudmelon Can you please provide us with the doc URL for the doc in question?

[2018-03-27 17:41] #5755 closed

[2018-03-27 17:44] yushwang commented on #6335
Thanks for the suggestion - some questions that we need guidance:

1. The number of tunnels (S2S or P2S) are SKU-dependent. Do we want to list SKU-dependent limit on this page?
2. The throughputs are NOT a limit or guarantee, but a data point for reference. I would rule it out of scope for this page.

Please let us know.

Thanks,
Yushun

[2018-03-27 17:44] BryanTrach-MSFT commented on #6358
@davemct Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-27 17:47] BryanTrach-MSFT commented on #5157
@helderpinto We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion

[2018-03-27 17:47] #5157 closed

[2018-03-27 17:48] BryanTrach-MSFT commented on #5278
@th389 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion

[2018-03-27 17:48] #5278 closed

[2018-03-27 17:49] BryanTrach-MSFT commented on #5324
@bob-zhao-work We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion

[2018-03-27 17:49] #5324 closed

[2018-03-27 17:49] BryanTrach-MSFT commented on #5396
@creationsoft We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion

[2018-03-27 17:49] #5396 closed

[2018-03-27 17:50] BryanTrach-MSFT commented on #5586
@jrp2014 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion

[2018-03-27 17:50] #5586 closed

[2018-03-27 17:51] BryanTrach-MSFT commented on #5599
@alexeyshishkin01 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion

[2018-03-27 17:51] #5599 closed

[2018-03-27 17:52] BryanTrach-MSFT commented on #5677
@SIGAN We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion

[2018-03-27 17:52] #5677 closed

[2018-03-27 17:54] BryanTrach-MSFT commented on #5725
@cparker4486 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion

[2018-03-27 17:54] #5725 closed

[2018-03-27 17:54] BryanTrach-MSFT commented on #5825
@DaveDXC We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion

[2018-03-27 17:54] #5825 closed

[2018-03-27 17:55] BryanTrach-MSFT commented on #5873
@lzieba91 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion

[2018-03-27 17:55] #5873 closed

[2018-03-27 17:56] #5971 closed

[2018-03-27 17:57] andrewkittredge commented on #5637
@Thraka, no that does not fix the problem.

[2018-03-27 18:00] mattbriggs commented on #6195
The site should be updated soon. Thanks! #please-close

[2018-03-27 18:01] MGoedtel commented on #6358
@davemct - I've just tested this and am unable to replicate your issue.  I tested in two different browsers from two different computers and the prompt to download the agent from Download.Microsoft.com worked as expected.

[2018-03-27 18:02] BryanTrach-MSFT commented on #6005
@jpoon We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion

[2018-03-27 18:02] #6005 closed

[2018-03-27 18:02] myusrn commented on #5976
Are you saying that this azure streaming analytics project error goes away if the vs17 "data science and analytical applications" workload component "Microsoft R Client (3.3.2)" is not installed?   I do at times need to make use of the msft r client and so operating w/o it installed in order to use ASA project type is not desirable.

[2018-03-27 18:09] rothja commented on #6335
@BryanTrach-MSFT Could you please reassign to @cherylmc for now while we investigate what we should document for these limits. @lesterw1 Thanks for your patience.

[2018-03-27 18:11] SyntaxC4 commented on #6274
Adding @ahmedelnably to the thread

[2018-03-27 18:12] SyntaxC4 commented on #6308
FYI @ahmedelnably

[2018-03-27 18:12] myusrn commented on #6117
Thanks for followup.  I had received a pointer to the first of the above to documents in response to datafactoryv2.azure.com feedback submission I had also created.

[2018-03-27 18:14] SyntaxC4 commented on #6092
@usharam73 Can you confirm that you were attempting to create an App Service on Linux? Thanks!

[2018-03-27 18:16] MicahMcKittrick-MSFT commented on #6066
@jpalo  any update for us?

[2018-03-27 18:17] mcourter commented on #6308
FYI – I was able to create a web app within the plan and group via VS 2107.

From: Cory Fowler [mailto:notifications@github.com]
Sent: Tuesday, March 27, 2018 2:12 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: mcourter <mcourter@epbfi.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] All good until webapp create time. (#6308)

FYI @ahmedelnabl

[2018-03-27 18:17] mattbriggs commented on #5222
I haven't heard back yet. Will update as soon as I do. #in-process

[2018-03-27 18:19] SyntaxC4 commented on #5565
Possible dupe of #5957

[2018-03-27 18:19] ahmedelnably commented on #6274
This seems like an issue with the command
Opened the following issue to track it
[https://github.com/Azure/azure-powershell/issues/5824](https://github.com/Azure/azure-powershell/issues/5824)

[2018-03-27 18:19] vhorne commented on #5925
@sanjayincloud, thanks for catching this. The article has been updated:
https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-create-url-route-portal
#please-close

[2018-03-27 18:20] gopitk commented on #6023
It is not a fixed schedule yet. But we typically update every 6-8 weeks currently.

[2018-03-27 18:21] johnkemnetz commented on #6175
@plzm the update is live, thanks!

[2018-03-27 18:21] johnkemnetz commented on #6175
#please-close

[2018-03-27 18:21] myusrn commented on #6119
I'm thinking this issue should perhaps be linked to https://github.com/MicrosoftDocs/azure-docs/issues/6117 covering a related adfV2 documentation area where commenting on how to enable parameterized blob storage folder/file hierarchy and how to trigger it to execute over a range of content for past dates.

[2018-03-27 18:22] johnkemnetz commented on #6175
#please-close

[2018-03-27 18:23] ahmedelnably commented on #6308
This is usually the result of trying to deploy an app into an App Service Plan that is in a different Resource Group than the app.
You will need to provide the --plan as a resource id not just the name
To get the resource id for an ASP execute the following command:
az appservice plan show -n plan-name -g plan-rg

[2018-03-27 18:23] MicahMcKittrick-MSFT commented on #6349
@HaikoHertes I tested the command and did not have any issues. Are you running this command from a local Azure CLI instance? Can you check the version for me? `az --version`

The latest version is 2.0.29 so you might need to do an [update](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest).

You can also try running these commands via the [Azure Cloud Shell](https:

[2018-03-27 18:23] SyntaxC4 commented on #6308
@mcourter Thanks for following up. It seems like you've found a work around for this issue, however, would you mind providing the version of the azure cli that you're using? You can find this information by running `az --version`

[2018-03-27 18:24] SyntaxC4 commented on #6308
Thanks for following up @ahmedelnably!

[2018-03-27 18:25] MicahMcKittrick-MSFT commented on #6347
@jecarlsen thanks for pointing this out. I have assigned it to the content author to review and update the doc as appropriate.

@Brenduns can you please take a look?

[2018-03-27 18:33] Steven-N opened #6363 "Parameters in Nested Template still broken?"
Is there any form of ETA as to when Parameters within a nested or inline template will be fixed? I'm referring to the note posted above which says "For nested templates, you cannot use parameters or variables that are defined within the nested template."

Is it being tracked on UserVoice at all?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2018-03-27 18:46] philipvago opened #6364 "Building the Data Migration Tool"
A question. I downloaded this : https://github.com/azure/azure-documentdb-datamigrationtool
And thought clicking on "Build" in Visual Studio Version 15.4.4 would make the exe; but instead it returned 50 errors. Does someone have the exe that I can run? I'd love to get past this new roadblock! :-)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2018-03-27 18:46] myusrn commented on #6163
Thanks for the followup.  Using the powershell cmdlet references I was able to review Triggers and delete unwanted ones using following steps.  So at minimum the documentation associated with this issue may want to include a note outlining that this is where you have to go currently in order to delete unwanted trigger definitions.

[code]

[2018-03-27 18:56] vikaskumawat80 opened #6366 "Memory per vCPU is confusing"
Memory per vCore	1x	2x Basic	2x General Purpose

Can you explain??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0f76399-d904-03fe-f033-94c00edda853
* Version Independent ID: f79ccda7-bd6e-3204-b8a6-a48840ee6123
* Content: [Pricing Tiers in Azure Database for MySQL](https://docs.microsoft.com/en-us/azure/mysql/concep

[2018-03-27 18:57] cloudmelon commented on #6352
H Bryan, here is the link :
https://docs.microsoft.com/en-us/azure/sql-database/sql-database-get-started-sql-data-sync

It means we can't do pull request to work directly on azure documentation
or I was just not found the right way to do that  ?

On Tue, Mar 27, 2018 at 7:41 PM, Bryan Trach <notifications@github.com>
wrote:

[2018-03-27 18:59] mumian commented on #5910
@bospoort The sample was removed intentionally because it uses outdated APIs. The developer has no plan to update the sample and post it back.  We will update the related articles accordingly.

Please close the PR.

[2018-03-27 19:09] mcourter commented on #6308
Welcome to Azure Cloud Shell (Preview)

Version 20180316.1

azure-cli (2.0.29)

From: Cory Fowler [mailto:notifications@github.com]
Sent: Tuesday, March 27, 2018 2:24 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: mcourter <mcourter@epbfi.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] All good until webapp create time. (#6308)

@mcourter <ht

[2018-03-27 19:19] mike-urnun-msft commented on #5684
Hey @jg11jg - Thanks for reporting this. We have validated and corrected this issue; and the changes will reflect after our next scheduled merge, and this issue will auto-close.

[2018-03-27 19:21] akramwaseem opened #6367 "Please mentioned the json format for VMss too"
I am not sure whether the following template will work for the VMSS too , I did try it on VMss and it did not work and there is no other documentation I can find for the VMss .that begs the question can we install OMS extension for the VMss using the ARM template ?
and for the VMs I did try and was able to install the OMS but for some reason cannot start the OMi server and I cannot see the logs in

[2018-03-27 19:22] MicahMcKittrick-MSFT commented on #6336
@alexjmoore I have assigned this to the content author to review and update the doc as appropriate.

@MikeRayMSFT can you please take a look?

[2018-03-27 19:24] MicahMcKittrick-MSFT commented on #6367
@akramwaseem Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-27 19:31] SyntaxC4 commented on #5561
FYI @tdykstra

[2018-03-27 19:32] SyntaxC4 commented on #5578
Thanks @vhe1 for your feedback! @cgillum I appreciate you handling the questions. Do we believe this issue is resolved? If so, can you mark with `#please-close`

[2018-03-27 19:35] SyntaxC4 commented on #5831
FYI @tdykstra

[2018-03-27 19:37] jason-j-MSFT commented on #6358
@davemct I was not able to reproduce your issue.  If the different computers and browsers you attempted the download on are in the same local network environment, you may have an issue in that environment where your download is being blocked.  This does not appear to be a documentation issue.

We are closing this issue for now, but please feel free to add comments if needed.

[2018-03-27 19:37] #6358 closed

[2018-03-27 19:37] iainfoulds commented on #5304
Hi @akramwaseem . I've created a PR that adds a note stating the Docker VM extension is deprecated and will be retired in November 2018. What the PR merges, this issue will automatically close. The doc update itself should then go live later on today.

[2018-03-27 19:41] chetansriv commented on #6219
@afrance Can you please share the updated screen which accepts the metadata URL in an email at AzureADSSOIntVTeam@microsoft.com. We are making changes for Azure side.

[2018-03-27 19:47] MarkAtAgilliance opened #6369 "small typo in cron example"
Hi all, just picked up a small typo in the Cron Expressions section:

A range (- operator) "5-7 * * * * *" at hh:mm:05,hh:mm:06, and hh:mm:05

I think the end of that sentence should be hh:mm:07

Regards,
Mark.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5527c3b-a5da-c73d-66c2-20d96003ff7c
* Version Independent ID:

[2018-03-27 19:53] jimdial commented on #6319
@daweins Thanks for all the feedback on the article. I'm working now on updating it for clarity and accuracy. It will be later this week before I'm able to complete it, but it's #in-process.

[2018-03-27 19:53] jimdial commented on #6316
#in-process

[2018-03-27 19:53] jimdial commented on #6315
#in-process

[2018-03-27 19:54] MicahMcKittrick-MSFT commented on #6363
@Steven-N I am not necessarily seeing anything that needs to be fixed per say.

Is your question

[2018-03-27 19:55] moenkhaus commented on #6041
I agree with OP, the difference between Embedded and Power BI premium standpoint is vary ambiguous from a cost and capability standpoint particularly in a 24/7 online environment. It's not clear as to why A nodes would be superior at all. A1 cost $728/mo to EM1 cost of $625/mo. Where does the extra $100 come in, just because of it's placement in azure? It's hard to justify the extra cost when ther

[2018-03-27 19:57] Steven-N commented on #6363
Hi @MicahMcKittrick-MSFT

Thanks for the quick response.

Currently, if you try to use an inline template in tandem with an inline parameter reference, you receive an error. See this example here:

https://github.com/bmoore-msft/AzureRM-Samples/blob/master/dynamicSecretId/azuredeploy.inline.json

Using inline parameters at all with an inline template does not work.

I was wondering if there is any

[2018-03-27 19:59] Steven-N commented on #6363
Essentially, it complains that the parameter is not being provided. In the example I linked, it will error out saying that ''The template parameter 'secretValue' is not found."

[2018-03-27 20:02] #5304 closed

[2018-03-27 20:07] SyntaxC4 commented on #5955
@ggailey777 @tdykstra I've created a Work Item for a possible conceptual topic https://mseng.visualstudio.com/TechnicalContent/AzureApps/_workitems/edit/1219756

[2018-03-27 20:09] MikeRayMSFT commented on #6336
@alexjmoore - thank you for the comment. You are correct - that you can use a cloud witness for the availability group. For instructions, see [Deploy a Cloud Witness for a Failover Cluster
](https://docs.microsoft.com/en-us/windows-server/failover-clustering/deploy-cloud-witness). The servers have to be Windows Server 2016. The tutorial applies to Windows Server 2012 as well.

I've taken a work it

[2018-03-27 20:11] MicahMcKittrick-MSFT commented on #6367
@akramwaseem check out this from the [Scale Sets FAQ](https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-faq):

).

[2018-03-27 20:12] tfitzmac commented on #6363
@MicahMcKittrick-MSFT - this is a product question. That documentation correctly states that it is not currently supported.

@bmoore-msft - do you know if the error about parameters in nested templates is being tracked in User Voice?

[2018-03-27 20:13] vhorne commented on #5286
#in-progress

[2018-03-27 20:21] MicahMcKittrick-MSFT commented on #6363
@tfitzmac got it. Sorry I understood it as there were errors in the templates in this specific doc and not a product feature ask.

If this is the case I am not finding anything in Uservoice. Possible @bmoore-msft can confirm and if there is nothing I can get it added.

[2018-03-27 20:28] jimdial commented on #6328
@andrewatfornax Thanks for the feedback. I've updated the article to include (in addition to the PowerShell command), links to the REST API and Azure CLI command for retrieving info. about a network interface, to include its suffix. It will publish later today. If you don't think the updated version addresses your concern, please let me know. #please-close

[2018-03-27 20:35] #6328 closed

[2018-03-27 20:37] terchris opened #6371 "cannot connect to azure postresql - Username should be in <username@hostname> format"
I'm trying to use your PostgreSQL for CKAN (ckan.org)
CKAN is using http://www.sqlalchemy.org/ for database connection.

A connection string looks like this:
engine = create_engine('postgresql://scott:tiger@myhost.postgres.database.azure.com:5432/mydatabase')
syntax is:  postgresql://username:password@hostname:5432/databasename
When trying to connect to azure postgresql I get this error:

FATAL:

[2018-03-27 20:38] #6369 closed

[2018-03-27 20:42] davidmu1 commented on #6184
@frigon Thank you for bringing this to our attention. We have opened an item in our documentation backlog to have this investigated and updated. We'll respond back to you on this issue when we've done the work. For now, we'll close this GitHub issue.

#please-close

[2018-03-27 20:44] lant3rn1969 opened #6372 "Error in the first PowerShell sample"
Your first sample PowerShell code for New-AzureRmServiceFabricCluster contains an error: the -Location parameter is specified twice.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6202fb05-c2b0-b87f-71c9-5683e54f5e0c
* Version Independent ID: 39505638-9926-fbc6-a795-3d7699859cde
* Content: [Create an Azure Service Fabr

[2018-03-27 20:46] davidmu1 commented on #6072
#in-progress

[2018-03-27 20:46] davidmu1 commented on #6072
#in-process

[2018-03-27 20:55] Steven-N commented on #6363
Apologies for posting here instead of uservoice.

[2018-03-27 20:55] davidmu1 commented on #6072
@chrift Can you help me understand where the issue might be better addressed? I'm not sure whether the issue is with the samples that are linked to from the article or whether you are suggesting that a change be made to the article to better describe the issue your a running into. Can you elaborate? Thanks!

[2018-03-27 20:58] jason-j-MSFT commented on #6189
@oddhair Could you provide more information on what issue you are seeing and where you are seeing it?  I'm not familiar with "cheeseburger menus", could you clarify?

[2018-03-27 20:58] tfitzmac commented on #6363
@Steven-N - no problem, it is a good question. There just might not be anything we can add to the documentation at this time.

[2018-03-27 21:07] kgremban commented on #6351
Hi @seb-dataworks, thank you for the suggestion. I read through the blog post that you referenced, and that is a great feature of Azure Functions. I don't think that including this is necessary in the IoT Edge documentation, though. This content set is not about explaining the features of the other services that we pair with (Functions, Stream Analytics, Machine Learning, etc) because that already

[2018-03-27 21:10] kgremban commented on #6133
@solstarz This article breaks down the specifics about the az ml service create command: https://docs.microsoft.com/en-us/azure/machine-learning/preview/model-management-service-deploy

Is that the type of information that you're looking for?

[2018-03-27 21:11] davidmu1 commented on #5944
@stevenxzhou We don't typically link to blog posts. I have removed the link that was no longer available. Thanks you for your feedback.

#please-close

[2018-03-27 21:11] miaojiang commented on #6178
@ianthemachinejones thanks for the feedback. This article is one of the advanced topics, thus I assumed readers already have basic knowledge including how to configure policies. I'll add a pointer to the article about configuring policies.

@GokuSSL5 You need to put the OAuth JWT in the Authorization header. It's standard OAuth2.0. It's not the intention of this article to cover the implementation

[2018-03-27 21:17] bastyuchenko commented on #5804
Hi guys! I have eventually read the article and I've found out how to implement FIFO using message session id. Thank you for your help!

[2018-03-27 21:17] tfitzmac commented on #6137
#in-process

[2018-03-27 21:17] mbenko opened #6373 "Show how to add other resources that are not out-of-the-box available in VS"
It would be nice if you added a section to this document that included adding something like a dashboard (defined in JSON) to the project. In order to do that it would require getting the resource definition from the portal, parameterizing it, but it would show how to add these other types of things.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2018-03-27 21:19] #5944 closed

[2018-03-27 21:19] davidmu1 commented on #5868
@yrvverma This text will be added to the FAQ article:

You can choose one of these two local account types when configuring identity providers for Azure AD B2C in the Azure portal. In your Azure AD B2C tenant, click **Identity providers** and then select **Username** under Local accounts.

User accounts for applications must always be created through a sign-up policy or by using the Azure Graph AP

[2018-03-27 21:20] bmoore-msft commented on #6363
I don't think this is tracked in UV, we do have a bug on it - but a UV item would be helpful.

[2018-03-27 21:22] bastyuchenko commented on #6323
@MicahMcKittrick-MSFT thank you a lot for so fast answer and help. I'm going to investigate the durable function functionality because I think it's really a revolutionary feature and looking forward to Durable Functions GA

[2018-03-27 21:26] GokuSSL5 commented on #6178
@miaojiang , I understand what you're saying but the article ends awkwardly. At least some verbiage that points readers to the client side pieces for working with OAuth JWT who are new to the Azure API world would be useful.

[2018-03-27 21:29] #5684 closed

[2018-03-27 21:31] mike-urnun-msft commented on #6286
Hi @foucdeg - We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-27 21:31] #6286 closed

[2018-03-27 21:32] rfigueroa opened #6376 "How to test CosmosDB binding locally"
The javascript CosmosDB output binding example works fine when using the Azure portal, but when is locally run using a local.settings.json with the same connection string as in the portal there are no records stored in the CosmosDB database, event though is the code runs normally and no exception is thrown

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2018-03-27 21:35] ggailey777 commented on #5955
@Mike-EEE we've made it confusing by using different terminology in the UI (**Access Rights**) than we do in the HTTP trigger (**authLevel**). The problem is that this UI has to support many triggers, and **Access Rights** only applies to HTTP triggers, so I'm not sure how we can best do that. In the meantime, [this section of the HTTP trigger and binding reference](https://docs.microsoft.com/en-u

[2018-03-27 21:37] fab2903 commented on #6274
It will be awesome if the same command accepts the root domain with the A record as well.

[2018-03-27 21:38] MicahMcKittrick-MSFT commented on #6363
Thanks @bmoore-msft.

@Steven-N would you mind opening this in Uservoice and linking that question to this issue?

[2018-03-27 21:39] MohitGargMSFT commented on #6343
@tathamoddie No. With Azure Active Directory (Azure AD) conditional access, you can fine-tune how authorized users can access your resources. The device is marked complaint in the directory and device-based conditional access policy are created to restrict access to resources based on it in that directory.

[2018-03-27 21:42] MohitGargMSFT commented on #6344
@tathamoddie Thanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

[2018-03-27 21:45] MicahMcKittrick-MSFT commented on #6372
@lant3rn1969 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-27 21:45] kgremban commented on #5717
@gjaay I don't think your question applies to this GitHub issue. It sounds more like the experience described in the following blog post: https://social.msdn.microsoft.com/Forums/en-US/5441158e-6cbf-415b-a4b0-518ead457020/deploying-machine-learning-or-custom-module?forum=iotedge The solution in that instance was to make sure that you're signing in to your container registry with the registry crede

[2018-03-27 21:46] MicahMcKittrick-MSFT commented on #6373
@mbenko Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-27 21:46] skepticatgit commented on #5733
Thank you Mike. That covers it.

[2018-03-27 21:46] MohitGargMSFT commented on #6348
@tsahi Thanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

[2018-03-27 21:47] MohitGargMSFT commented on #6356
@Skarakkattil Thanks for your feedback! We will investigate and update as appropriate.

[2018-03-27 21:49] ohwellwhatever commented on #6224
Thanks.  I have seen that, but am looking specifically for documentation regarding integration with Application Gateway, similar to this reference architecture: https://blog.nilayparikh.com/azure/services/cloud-architecture-pattern-azure-service-fabric-and-microservices-part-3-security-architecture/

[2018-03-27 21:51] #5804 closed

[2018-03-27 21:52] JasonWHowell commented on #5733
Thanks @skepticatgit  Did that environment variable work for you by the way? If you didn't test, no worries.  We'll close out the issue for now, but happy to discuss further if needed. Thanks, Jason
#please-close

[2018-03-27 21:52] JasonWHowell commented on #5733
#please-close

[2018-03-27 21:54] #5733 closed

[2018-03-27 22:00] Niterave opened #6378 "Permission Level?"
What permission level in the asset's IAM is required to use this feature?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6bcb620a-9cdc-77c5-7396-a82954f90e44
* Version Independent ID: 57bead5a-5022-2583-fd1e-dbb66e82c917
* Content: [Reset the password or Remote Desktop configuration on a Windows VM](https://docs.micros

[2018-03-27 22:01] MichaelRyan87 opened #6379 "Office 365 SCA and Seamless SSO"
Does the native client Seamless SSO negate the need for an ADFS implementation where using Office Shared Computing Activation for a truly silent background activation?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c283fb2f-cd01-c62f-b9aa-675d24f9d2ca
* Version Independent ID: 49025a37-a762-5190-df0b-af72077d31b4
* Con

[2018-03-27 22:08] #6372 closed

[2018-03-27 22:17] ltouro commented on #6299
@mohabdel2013 Thanks mohit.

[2018-03-27 22:17] #6299 closed

[2018-03-27 22:17] ltouro commented on #6299
@MohitGargMSFT Thanks!

[2018-03-27 22:20] philipvago commented on #6364
Resolved by Ben in https://github.com/Azure/azure-documentdb-datamigrationtool/issues/45. Download his "release" zip and run in visual studio 17.

[2018-03-27 22:26] montereyharris commented on #6293
So if a user logs in on with in the network on a legacy application their
account will be vulnerable from the outside?

Monterey Harris, CCNA

On Mon, Mar 26, 2018 at 3:34 PM, Mohit Garg <notifications@github.com>
wrote:

[2018-03-27 22:32] JasonWHowell commented on #6366
@janeng @ajlam  Could you please take a look at this question. Thanks ~Jason #in-process

[2018-03-27 22:32] akramwaseem commented on #6367
that's perfect , you found the article. Don't you think it is ironic .
It would have been better if you have page with explanation instead of QA .
And it does explain the extension profile but does not have proper explanation of what kind of type handler should be used.
U used 1.0 which crashed and thought of creating it on github but cannot file the VMSS OMS Extension at all.
Since OMS is used by

[2018-03-27 22:37] kgremban commented on #6351
Thanks for understanding. It is a cool feature.

@BryanTrach-MSFT #please-close

[2018-03-27 22:39] MicahMcKittrick-MSFT commented on #6367
@akramwaseem glad it helped! And I completely agree. It was anything but easy to find the answer. From past experience I knew it was possible but could not remember where to find the documentation on it.

I think this is a great example of a content suggestion. I will get this directed to the correct team to get that in the woks.

[2018-03-27 22:39] Mike-Ubezzi-MSFT commented on #6338
@mimig1 I am unable to assign the content owner this issue, so I am hoping this could be assigned to you or you know who this needs to be directed to? I did just compare the current views in the Azure Portal with this document and the screen views need to be updated.

[2018-03-27 22:42] MicahMcKittrick-MSFT commented on #6367
@tysonn I am assigning this to you as this is a wonderful idea for a doc idea.

Having clear documentation on how to apply Extensions to Virtual Machine ScaleSets is very much needed. Especially when applying via JSON. I am happy to work with you and the content team to build some of this out.

[2018-03-27 22:42] mimig1 commented on #6338
@Mike-Ubezzi-MSFT - Leave it assigned to me and I will fix the issue. I will also update the meta and assign a new author in the md file.

[2018-03-27 22:48] SteveBurkettNZ opened #6381 "Need clarification on Dynamics 365 for Operations peering"
The question 'Can Dynamics 365 for Operations (formerly known as Dynamics AX Online) be accessed over an ExpressRoute connection?' indicates you'd use Public peering for Dynamics 365 for Operations, but the Supported Services section at the top of the page indicates D365O can use both Public Peering or Microsoft Peering (with Route Filtering). I believe Microsoft Peering is now the preferred?

---

[2018-03-27 22:51] geoffbucarscalar opened #6382 "Typo in 'External admin takeover' introductory sentence"
The first line in the paragraph says "...Azure services or Office 365, you are can't add a custom domain name...", so you may want to revise the wording.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd934d58-08f8-a3ca-2686-0006b0b8f74a
* Version Independent ID: 84d9cab3-09b7-95ba-83ea-435ca0ccbb47
* Content: [Adminis

[2018-03-27 23:06] MicahMcKittrick-MSFT commented on #6378
@Niterave I played around a bit in my subscription and it looks like you need to at least have Virtual Machine Contributor to use this feature.

I will close this out but if you have more questions or issues just reopen and we can continue :)

[2018-03-27 23:06] #6378 closed

[2018-03-27 23:09] dcbrown16 commented on #6329
Thanks @MGoedtel !

[2018-03-28 00:03] dcbrown16 opened #6384 "Health Probe?"
I have heard that you can access the health probe via https://<gateway public IP>:8081/healthprobe. I also see a reference to this in the following past commit:
https://github.com/MicrosoftDocs/azure-docs/commit/dd0848914c6474c787d771da88ae7b141dfa6384

However, that information is currently missing from this document, so it's not clear what is involved in "Go to the health probe." Can that be add

[2018-03-28 00:09] MarkAtAgilliance commented on #5755
Thanks all - the linked article is much more helpful and comprehensive.

I also posted a note on a typo and I think that has been cleared too.
All the best, Mark.

[2018-03-28 00:17] BryanTrach-MSFT commented on #6351
@seb-dataworks We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-28 00:17] #6351 closed

[2018-03-28 00:41] BryanTrach-MSFT commented on #6369
@MarkAtAgilliance We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-28 00:42] BryanTrach-MSFT commented on #6364
@philipvago Glad to hear you found the .exe. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-28 00:42] #6364 closed

[2018-03-28 00:46] BryanTrach-MSFT commented on #6366
@vikaskumawat80 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-03-28 00:50] BryanTrach-MSFT commented on #6371
@terchris Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-28 00:53] BryanTrach-MSFT commented on #6376
@rfigueroa Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-28 00:54] BryanTrach-MSFT commented on #6379
@MichaelRyan87 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-28 00:56] BryanTrach-MSFT commented on #6381
@SteveBurkettNZ Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-03-28 01:01] BryanTrach-MSFT commented on #6382
@geoffbucarscalar Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-28 01:09] Steven-N commented on #6363
Sure thing - here you go!

https://feedback.azure.com/forums/281804-azure-resource-manager/suggestions/33774850-parameters-in-nested-templates-is-broken

[2018-03-28 01:11] BryanTrach-MSFT commented on #6384
@dcbrown16 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-03-28 01:17] BryanTrach-MSFT commented on #5925
@sanjayincloud We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-28 01:17] #5925 closed

[2018-03-28 01:17] BryanTrach-MSFT commented on #6138
@tsahi We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-28 01:17] #6138 closed

[2018-03-28 01:18] BryanTrach-MSFT commented on #6175
@plzm We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-28 01:18] #6175 closed

[2018-03-28 01:19] BryanTrach-MSFT commented on #6184
@frigon We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-28 01:19] #6184 closed

[2018-03-28 01:19] BryanTrach-MSFT commented on #6195
@slavizh We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-28 01:19] #6195 closed

[2018-03-28 01:21] BryanTrach-MSFT commented on #6382
@geoffbucarscalar We have merged the updated doc. It should go live within a few hours. We'll close this thread for now but please feel free to reopen the thread if there are additional concerns regarding this matter. Thank you for the heads up.

[2018-03-28 01:21] #6382 closed

[2018-03-28 01:50] yrvverma commented on #5868
@davidmu1 : Thanks for the response. It does not answer in clear form that questions that every B2C AD implementer is seeking to get answered. if we chose "username" under local accounts; the FAQ says that B2C AD sign in get be done without the format username@somedomain.com. As per our testing, this is not the case to be. Even if username is chosen under "Local Account" the sign in credentials wi

[2018-03-28 02:02] dcbrown16 opened #6385 "Not discoverable"
Is there a reason this documentation is not discoverable through the navigation (for example How-to > Secure app)?
This is a very frequent subject for customer inquiries so it would be helpful to have up-to-date and easily accessible official information.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d90bbf62-44f9-30a

[2018-03-28 02:02] su-jie commented on #5976
We just found one issue that R Tools changes the VS assembly binding upon installation to force version 4.1.1.1 of System.Net.Http.  That has a global effect which breaks our Stream Analytics extension. Can you try remove R tools to see if that can fix your issue? If your issue goes away, for now you can install the tools in two instances of Visual Studio 2017. R Tools has a fix they’re putting in

[2018-03-28 02:40] dcbrown16 commented on #6385
FYI, I arrived at this page from the link under "Security and compliance" here:
https://docs.microsoft.com/en-us/azure/app-service/app-service-web-overview#why-use-web-apps

[2018-03-28 03:55] linda33wj commented on #6117
@myusrn please use Tumbling Window trigger instead for this and set the interval to 24h (daily), which can do backfill as you expected. For difference between schedule trigger vs tumbling window trigger, check this: https://docs.microsoft.com/en-us/azure/data-factory/concepts-pipeline-execution-triggers#trigger-type-comparison

[2018-03-28 03:56] linda33wj commented on #6119
@myusrn i replied to #6117 with suggestion on next step. I'll close this one and follow up with you there. please mention me in your future reply in that thread.

#please-close

[2018-03-28 04:42] linda33wj commented on #5252
@wolftrace sorry that i happened to miss your reply. In case it still doesn't work, here is more instruction: the root cause is what you configured in Activity Advanced tab is in a wrong format, thus ADF cannot find the query. Please try below:

[code]

Another tip: once config anything in Advanced, please click "Code" button on top right of the canvas to double check the JSON being generated with

[2018-03-28 04:46] linda33wj commented on #6298
@chakrarp seems what you configured in Activity Advanced tab is in a wrong format, thus ADF cannot find the query. Please try input below in Advanced tab, and configure the rest source/sink still using UI (e.g. selecting datasets):

[code]

Another tip: once config anything in Advanced, please click "Code" button on top right of the canvas to double check the JSON being generated with the expected

[2018-03-28 04:49] parakhj commented on #5464
@spottedmahn the parameters are the same ones that are in the OIDC spec. It could help to restate them in our documentation, but i'm not sure how that will help resolve the stack overflow post that you linked. How is that issue related to the prompt parameter?

[2018-03-28 04:51] afrance commented on #6219
Screenshot has been sent.

[2018-03-28 04:59] linda33wj commented on #6244
@Mike-EEE i didn't get your Q #1 - where did you see Excel?
For #2, currently Web connector doesn't have UI-based authoring experience, you need paste the config in JSON into Advanced tab. Try below.

Another reminder: make sure you do need [Web connector](https://docs.microsoft.com/en-us/azure/data-factory/connector-web-table#supported-capabilities) instead of [HTTP connector](https://docs.micros

[2018-03-28 05:00] linda33wj commented on #6244
#in-process

[2018-03-28 05:09] fitzgeraldsteele opened #6388 "Update VM Connect screenshot"
It doesn't look like that anymore :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59b972fe-1a9d-33b3-bb75-5d3c6e0b3466
* Version Independent ID: 65cbe522-9ec5-be49-cbf1-76bbda994473
* Content: [Connect to a Windows Server VM](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/connect-logon)
* Content Sou

[2018-03-28 06:17] Mike-EEE commented on #5955
OK thank you for that link, @ggailey777.   IMO it doesn't help that we're being lazy here and shortening the word `authorization` to `auth`, which could also mean `authentication`. 😉 This was adding to my confusion from the outset, FWIW.

My suggestion is to rename `Access Rights` -> `Authorization Level` and provide a link in the UI to the link you provided above, either by making the text a link

[2018-03-28 06:26] Mike-EEE commented on #6244
Thanks for your reply and additional information, @linda33wj.  In my estimation, as someone who has no context/orientation around your product, I would recommend putting a little more context around the Excel as it seems to arrive out of nowhere and is an abrupt transition.

I did not know about web connector and now I am truly confused on the difference between the two. 😉   In my case I am callin

[2018-03-28 06:44] KeiroKamioka0000 opened #6390 "Does it support Blob?"
Storage endpoints for clusters
https://docs.microsoft.com/en-us/azure/hdinsight/hdinsight-hadoop-provision-linux-clusters#storage-endpoints-for-clusters

Although an on-premises installation of Hadoop uses the Hadoop Distributed File System (HDFS) for storage on the cluster, in the cloud you use storage endpoints connected to cluster. HDInsight clusters use either Azure Data Lake Store or blobs in

[2018-03-28 06:47] linda33wj commented on #6244
@Mike-EEE thanks for the feedback on Excel. I'll add more notes there.

I saw you were trying the Web connector on UI thus want to raise the diff, as in majority cases we observe, HTTP connector is what customer need. I think it's the case for your scenario as well. I'd suggest you try the HTTP connector to evaluate, it has UI-based authoring and it's supported in the copy data tool wizard as well

[2018-03-28 06:51] andrewatfornax commented on #6328
Thanks, much clearer - I suspect that the Portal UI doesn't show this information, so good to see it gone.

[2018-03-28 07:08] su-jie commented on #5976
Can you please reach out to sujie@microsoft.com so that we can schedule a call with you to trouble shoot? Thank you very much.

I will connect with ADF tools team to learn their plan and get back to you.

[2018-03-28 07:10] Mike-EEE commented on #6244
OK, so to add to my confusion here, from your first comment I thought it was a Web connector, but it is actually a Web _table_ connector. 😆 And yes, after about a day of fighting with Azure Data Factory, I did end up using the Http connector.

FWIW, in my case, I could not for the life of me get my http connector to work until I put in a `User-Agent` header for the request.  It must have been abou

[2018-03-28 07:17] SyntaxC4 commented on #6019
Adding @vladvino

[2018-03-28 07:19] SyntaxC4 commented on #6178
@MicrosoftDocs/apex-docs-pr-reviewers Can we change the label to doc-enhancement? We're tracking this internally [1220356](https://mseng.visualstudio.com/TechnicalContent/AzureApps/_workitems/edit/1220356)

[2018-03-28 07:21] SyntaxC4 commented on #6225
adding @vladvino

[2018-03-28 07:24] SyntaxC4 commented on #6253
Adding @tdykstra

[2018-03-28 07:25] SyntaxC4 commented on #6385
Adding @cephalin

[2018-03-28 07:27] gpetrousov commented on #5886
@iainfoulds - Thanks for reviewing my article. Unfortunately, I cannot add the powershell version for the windows VMs as I am no longer working with my previous company and thus don't have an azure account to test it out. Also, I'm not so familiar with powershell and windows VMs.

What I can do is add a "Next steps" header which leads to networking concepts.
https://docs.microsoft.com/en-us/azure/

[2018-03-28 07:41] JozoSlejko opened #6391 "VIP availability metric together with the health probe status for diagnostic purposes"
I think this link is pointing to the wrong url.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fabcb1d6-d6df-23a8-6258-d8cc3600804c
* Version Independent ID: 3a6cab2e-d26b-3a60-f9ef-ad85c5324206
* Content: [Azure Standard Load Balancer - Diagnostics](https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-st

[2018-03-28 07:53] rayne-wiselman commented on #6102
#please-close

[2018-03-28 08:34] hamzaachi opened #6392 "Docs do not align with App Registration process"
Hi,

I have a problem following your documentation specifically at App Registration step. When granting Required permissions of my app (ProxyIdentityExperienceFramework) i cannot find the IdentityExperienceFramework  feature available, all i can see are the following options:

Windows Azure Active Directory
Microsoft Graph
Windows Azure Service Management API
Microsoft Visual Studio Team Services

[2018-03-28 09:29] genlin commented on #6312
@ScottAzure I do not have control on the article: https://azure.microsoft.com/en-us/support/legal/support-diagnostic-information-collection/

[2018-03-28 09:30] imaterek commented on #6134
The error show up when choosing details on VMSS via:
https://portal.azure.com/?Microsoft_Azure_ComputeManagedServiceExp=true#@xyz.onmicrosoft.com/blade/Microsoft_Azure_ComputeManagedServiceExp/ManagedComputeMenuBlade/vmssospatching
Then '>Start OS Upgrade' and confirming 'Confirm starting OS upgrade for the following VMSS: xyz'

[2018-03-28 09:36] genlin commented on #6384
@dcbrown16， thank you for the feedback, I will add the link of health probe into the article.

[2018-03-28 09:37] SamirFarhat commented on #5882
I'm encountering the same low quality video.

[2018-03-28 09:40] SamirFarhat commented on #5881
Hi,
Are guest users always automatically added to the directory as B2B users, even when i directly assign them to an Azure Resource or a Enterprise Application ?

[2018-03-28 09:53] foucdeg commented on #6092
@ahmedelnably worked with Windows, thanks. But I still have @usharam73 's issue with the CLI.

[2018-03-28 10:17] typik89 opened #6397 "How to get password for service principle after creating time and how I can reset it?"
I can't get service principle password after creating time. I don't see such information on Azure Portal and command "az ad sp show --id http://acr-sp" doesn't show it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed59d472-ac33-5c03-dbb7-0e86e88c7dd8
* Version Independent ID: 69e1ad8c-2dd3-cc1b-2b31-996a5d866cc0
* Co

[2018-03-28 10:24] alexjmoore commented on #6336
Wow, such quick response! :-) I guess there is a question as to if the article is updated to show two options or not.  Also it references a marketplace template, so I guess there is also a question as to if an updated/additional template to use the Cloud Witness.  I only mention it because use of a Cloud Witness seems the more 'proper' approach for a greenfield Azure deployment.

[2018-03-28 10:31] Mike-EEE commented on #5955
LOL b0h... sorry @ggailey777 I just now realized that I got my streams crossed here in regards to documentation vs. product 😞

I was going to get all fancy and try looking into doing a PR for you (if that is even possible?) but the linked page here in the first post doesn't seem to have the content available.

For the **documentation** 😉 I do believe I did click on that link, but it wasn't obvious

[2018-03-28 10:39] dominicbetts commented on #6068
#please-close

[2018-03-28 10:41] wuchunchunt19 commented on #6118
There was a bug that UX pulls and passes the Display Name to the CRM rather than Logical Name. This has been fixed and refreshed to PROD. Please have a try again~

[2018-03-28 10:47] wuchunchunt19 commented on #6243
This is the current list of Dynamics 365 online regions: www.xrmcoaches.com/2017/05/current-list-of-dynamics-crm-online-regions/
Basically, you can find your region according to the crm[x] in your URL. And yes, as you mentioned, Dynamics region is sort of broad compared to Azure regions, that's why we decided to shift the region choice to customer :P

[2018-03-28 10:59] Mike-EEE commented on #6243
Cool thanks for that list @wuchunchunt19 ... I guess my first thought on seeing that is that it is on a (presumably) 3rd-party site rather than a MSFT site.  Given its importance, it would seem that this information should be on a MSFT site.  Also (along such lines), that information looks to be about a year old now, and considering all the activity around this space even in the past few months, I

[2018-03-28 11:07] jakubjenis opened #6399 "Sql command data missing"
Running application from local IIS Express after setting applications insights for ASP.NET Core 2.0 project. I can see my sql dependencies being recorded. However, I only see database name in command property. Is it possible to see the full sql query being called, or is this not supported for ASP.NET Core applicaitons?

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2018-03-28 11:16] IshamMohamed opened #6400 "Displaying wrong metrics on "Time Range" change"
I have come across this problem when working on Matrix with IoTHubs. I have used "Total Devices" as a matrix. If I select "Past hour" time range, it show correct data, but if I select "Past 24 hours" time range. the shown matrix is the multiplication of actual matrix with 5, the same story goes for other time ranges as well. So only "Past hour" time range shows correct data. I think this should be

[2018-03-28 11:24] francipvb opened #6401 "Cann't find documentation for ASP.Net Core on this"
I'm trying to test this but I didn't found any tutorial or quickstart documentation for App Service Authentication in ASP.Net Core.

That's all.

Cheers,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13176d24-57e1-33bb-1948-a086df502dca
* Version Independent ID: 1c15986a-adf6-6f99-72b4-e2a351d0c15e
* Content: [Authent

[2018-03-28 11:25] spottedmahn commented on #5464
Hey @parakhj - oh, I see.  Found it: [3.1.2.1.  Authentication Request -> prompt](http://openid.net/specs/openid-connect-core-1_0.html#rfc.section.3.1.2.1)

---

I think it would help to state them in the B2C documentation to **describe how B2C behaves**.  For example, in a web app, if the user is signed already and the cookie is still valid, the user will not have to login again and the token(s)

[2018-03-28 12:16] tsahi commented on #6138
Don't you think this should be specified in the doc?

[2018-03-28 12:18] terpie commented on #6117
I try to accomplish the same, however it seems the parameter 'ScheduledRunTime' is not passed through from trigger to pipeline. When I create the trigger it recognizes the pipeline parameter 'ScheduledRunTime' and the trigger parameter is created with value @trigger().scheduledTime.
When I 'Trigger Now' the trigger the pipeline pops-up asking the value of the 'ScheduledRunTime' parameter where I w

[2018-03-28 12:27] ChristianEder commented on #6068
Thanks for your feedback!

[2018-03-28 12:27] #6068 closed

[2018-03-28 12:28] B3zo0 opened #6402 "Name servers with dot in the end"
So the name servers contains a dot in the end when I copied them from Azure. Is this correct/valid? Is this the way I should provide them in my registrars management page?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4cb21b82-0660-2c3f-1651-86285fa64e59
* Version Independent ID: 2829303e-b6ba-537c-2751-8497e3d591cc
*

[2018-03-28 12:43] smoms commented on #5396
@dominicbetts  thanks! I have followed the instructions at github. The command `New-CACertsDevice DeviceID` still hangs with message `When prompted for password by openssl, enter the password as 123` though. But it generates the pfx cert. Once referenced it from the IoT code i am now able to send messages to IoT.

[2018-03-28 12:59] jaykay211 opened #6403 "DR Site Connection"
This article does not mention anything about how your on premise environment connects to your Azure DR site. Do you use site to site vpn connectivity or point to site? This is crucial as customers would expect seamless connectivity to their DR site in the event of a failure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2018-03-28 13:11] Rachitgupta1994 opened #6404 "Potentially unsafe code detected"
Hi there. While going through the documentation, i saw that when getting an access token, the client secret is also passed in the query string. Isn't that very unsafe as if someone gets hold of that, he can get access token for the resource anytime.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2870d4a9-e204-023a-56a8

[2018-03-28 13:36] dgrittma commented on #6385
Is there any documentation on configuring these rules using powershell?

[2018-03-28 13:55] spottedmahn commented on #5464
Another SO post related to the `prompt` parameter: [Azure AD B2C password change custom policy, user needs to sign in every time](https://stackoverflow.com/a/49176663/185123)

[2018-03-28 14:00] rayne-wiselman commented on #6403
At the beginning of  this article there's a pointer to the architecture doc for this scenario. This info is in there. thx

[2018-03-28 14:00] rayne-wiselman commented on #6403
No action required on this article

[2018-03-28 14:09] chrift commented on #6072
Hi David, thanks for your reply.

The issue is with the samples that are linked to. I simply added a `+` to the email validation restriction in `SocialAndLocalAccounts/TrustFrameworkBase.xml` to allow a `+` in my email address.

It seems the built in policies already allowed plusses, which is where the frustration arose. I thought there was something wrong with my implementation.

[2018-03-28 14:13] linda33wj commented on #6244
I've add tips for HTTP connector and Web connector in doc based on your feedback. It will go live soon.

#please-close

[2018-03-28 14:17] vhorne commented on #6303
#in-process

[2018-03-28 14:22] Mike-EEE commented on #6244
Great, thank you @linda33wj !

[2018-03-28 14:22] #6244 closed

[2018-03-28 14:30] jaykay211 commented on #6403
So all you need to do is make some adjustments to windows firewall and the two environments would seamlessly connect in the event of a failure?

[2018-03-28 14:37] rayne-wiselman commented on #6403
Here's the guidance - Traffic replicates to Azure storage public endpoints over the internet. Alternately, you can use Azure ExpressRoute with public peering. Replicating traffic over a site-to-site virtual private network (VPN) from an on-premises site to Azure isn't supported.

And for failback - To fail back, you need a VPN connection (or ExpressRoute) from the Azure network to the on-premises

[2018-03-28 14:40] jaykay211 commented on #6403
Thanks.

[2018-03-28 14:41] lafourit opened #6407 "Service error. Http code: 500 and error code: SERVICE_INTERNAL_ERROR"

[2018-03-28 14:44] lafourit opened #6409 "Service error: Http code: 500 and error code: SERVICE_INTERNAL_ERROR"
Hello Microsoft,
After after scrupulously following the documentation above i have a service error:  Http code: 500 and error code: SERVICE_INTERNAL_ERROR.

Can you please help me about this error ?

Many thanks,
Lafourit
dadycitroen@gmail.com

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d41d3443-0873-2f4c-da3e-90866

[2018-03-28 14:53] linda33wj commented on #6239
@Mike-EEE thanks for your feedback. You are right that currently we don't support service-to-service (service principal) auth, and the username/pwd auth would have the limitation you mentioned. It's on our backlog and we will further triage.

#please-close

[2018-03-28 14:54] jan-eng commented on #6366
@vikaskumawat80 Thanks for providing this feedback. We will work on making this more clear int he document. What we mean to say here is that basic is the baseline and that General Purpose gets twice as much memory compared to basic and Memory Optimized gets twice as much as General Purpose (so four times as much as basic) for the same amount of provisioned cores.

[2018-03-28 15:02] Mike-EEE commented on #6239
Great... thank you @linda33wj and team.  You're doing great work here.  Moving this all to GitHub was an _awesome_ idea, btw. 👍

[2018-03-28 15:02] #6239 closed

[2018-03-28 15:04] JefTek opened #6410 "Group Name Claims Attributes from OnPremises Sync"
In order to emit the group name claims for on-premises groups,   you will need to add an outbound flow to AAD Sync rule for groups so that is represented on the AAD group object:
MV object: group
CS object:  group
Direct - domainNetBios > netBiosName
Direct - domainFQDN > dnsDomainName
Direct - accountName > onPremisesSamAccountName

---
#### Document Details

⚠ *Do not edit this section. It is re

[2018-03-28 15:05] andrewkittredge commented on #5637
Visual Studio does not track the addition of the /bin folder to the role in a config file, so the file structure is not committed to git.

[2018-03-28 15:06] andrewkittredge opened #6411 "Visual Studio does not track the addition of the /bin folder to the role in a config file, so the file structure is not committed to git."
Visual Studio does not track the addition of the /bin folder to the role in a config file, so the file structure is not committed to git.

[2018-03-28 15:30] declang opened #6412 "Missing Configuration Step"
When working through this guide I came across an issue with the network share and the permissions documented above. It states above: "Ensure that the service account running the source SQL Server instance has write privileges on the network share that you created." I also discovered that the source server also requires read/write access to the share too, and I had to add the computer account to th

[2018-03-28 15:33] davidmu1 commented on #5566
#in-process

[2018-03-28 15:34] #6180 closed

[2018-03-28 15:37] dgrittma commented on #6385
-Disregard the above, got it figured out...
$ExistingConfig = Get-AzureRmResource -ResourceGroupName $ResourceGroup -ResourceType Microsoft.Web/sites/config -ResourceName $WebAppName -ApiVersion 2016-08-01
$ExistingConfig.Properties.ipSecurityRestrictions = 'values'
$ExistingConfig | Set-AzureRmResource -ApiVersion 2016-08-01 -Force

[2018-03-28 15:39] codesmon opened #6413 "Supported Linux versions"
To help us test the system we're building, it would be very helpful to have a clear statement on which versions of Linux you test the product on. I believe there are 3 versions you test on, a statement here which that is would be helpful for those building systems with his preview.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2018-03-28 15:49] carvakas commented on #5953
@jeevansd When will the multi account AWS solution be published, this is a requirement for a company I am consulting?

[2018-03-28 15:51] ScottAzure opened #6414 "When telling custoemrs to open a support request, we should provide a reference document"
VM Limits
Your subscription has default quota limits in place that could impact the deployment of many VMs for your project. The current limit on a per subscription basis is 20 VMs per region. Limits can be raised by filing a support ticket requesting an increase.

We should link the above statement to the instructions specific for opening a quota request (below)
https://docs.microsoft.com/en-us/a

[2018-03-28 15:51] cloudmelon opened #6415 "Timer trigger doesn't working ADF V2"
After configuring the timer trigger for a ADFV2 pipeline,  then publish all
![image](https://user-images.githubusercontent.com/4621560/38040781-8d6db2e4-32b0-11e8-8f64-5be34f3b82a4.png)

But wait until the defined time, it doesn't trigger the pipeline, regard console there is a 400 bad request error
![image](https://user-images.githubusercontent.com/4621560/38040692-571cf56a-32b0-11e8-89a1-21a0f59

[2018-03-28 15:51] lant3rn1969 opened #6416 "There's a small error in the sample JSON for using your own template"
In the sample JSON at link https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-creation-via-arm#use-the-custom-template-that-you-have, one of the parameters is named "sourceVaultValue", but the actual template and parameters file from GitHub have that parameter named "sourceVaultResourceId".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2018-03-28 15:56] darkkith opened #6417 "Single Logout Configuration? Idp vs Workday initiated logout"
There seems to be a discrepancy on the logout configuration, specifically noted in step 12. C.

Does Azure AD support Single Logout -- I logout of Azure/O365  and it logs me out of Workday?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18eabd03-e535-e846-e4ad-c4394f581013
* Version Independent ID: 1d98ce13-5bb7-9cb8-c

[2018-03-28 15:58] jeevansd commented on #6325
@chetansriv and @v-viinde Can you please update this doc?

[2018-03-28 15:58] jeevansd commented on #6325
@sspage We are now working on this request.

[2018-03-28 16:03] ianpowell2017 opened #6418 "AddPushNotifications()"
In this document you refer to adding .AddPushNotifications()
In Visual Studio this is highlighted with the following text "Use App Service Push instead."
Most of your documentation regarding the correct way to integrate push notifications is confusing and out of date.
You need to sort this out, I have been going round in circles trying to implement this feature!

---
#### Document Details

⚠ *Do n

[2018-03-28 16:07] sethmanheim commented on #6138
@tsahi We're actually in the process of refactoring this article, as more complete information on how to use queues is [here](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-dotnet-get-started-with-queues), and topics/subscriptions [here](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-dotnet-how-to-use-topics-subscriptions). And more about Receive

[2018-03-28 16:13] mcourter commented on #6308
well I wasn’t looking for a work around.  I just wanted to make sure I could create an app within my plan and group.

mike

From: Cory Fowler [mailto:notifications@github.com]
Sent: Tuesday, March 27, 2018 2:24 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: mcourter <mcourter@epbfi.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] All good unti

[2018-03-28 16:15] rayne-wiselman commented on #6302
#please-close

[2018-03-28 16:21] sethmanheim commented on #6232
Closing now, please let us know if you have further questions. #please-close

[2018-03-28 16:21] sethmanheim commented on #5857
Closing now, please let us know if you have further questions. #please-close

[2018-03-28 16:21] MicahMcKittrick-MSFT commented on #6363
@Steven-N thank you! I up voted as well :)

I will close this out for now but @bmoore-msft and @tfitzmac please take note of the Uservoice link above and include it into your bug details.

[2018-03-28 16:21] #6363 closed

[2018-03-28 16:25] suchiagicha commented on #5164
@mattcowen
Could you provide the exception you are seeing while using wcf in secure mode?

[2018-03-28 16:28] kgremban commented on #5849
Hi @bospoort sorry about the delay. We had an email thread about your question and I forgot to reply here as well.

The following line in the article seems to address your question: You can customize your SQL Server docker file to automatically set up your SQL Server to be deployed on multiple IoT Edge devices. For more information, see the Microsoft SQL Server container demo project https://githu

[2018-03-28 16:32] anilchinnu21 opened #6419 "Is this still in preview?"
is this feature still in preview?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e8439fa3-ed6f-94cd-107c-c2b00fa97d1a
* Version Independent ID: 0abf3b39-4fd0-a920-e5d2-8ae2bac650cd
* Content: [Set up Azure SQL Data Sync (Preview)](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-get-started-sql-data-syn

[2018-03-28 16:32] kgremban commented on #5346
Hi @sandervandevelde I made another round of updates to the module article. Want to check it again?

[2018-03-28 16:41] douglaslMS commented on #6419
@anilchinnu21 Yes, SQL Data Sync for Azure SQL Database is still in preview. We do not discuss future timeline in the docs when that timeline has not been publicly announced. You can watch the [Azure blog](https://azure.microsoft.com/en-us/blog/) and other Microsoft sources for future announcements.

[2018-03-28 16:43] myusrn commented on #6117
@terpie when I used 'Trigger Now' for a Scheduled Trigger setup I found that the parameter prompt was asking me to provide a datetime value, e.g. 01/01/2016 12:00 AM, that would get used in pipeline execution in lieu of that value being passed by an actual firing of the Scheduled Trigger setup.  I'm about to test the Tumbling Window option to determine how I can use 'Trigger Now' to kick off date

[2018-03-28 16:49] lant3rn1969 commented on #6416
Now that I've used this, the mistake is not in this documentation. Rather, the error is in the template on GitHub, which has the "sourceVaultResourceId" value in the template and parameters file. When you try to use that template with the New-AzureRmServiceFabricCluster cmdlet, you get an exception that it expects the "sourceVaultValue" parameter.

[2018-03-28 16:51] Mike-Ubezzi-MSFT commented on #6280
@COLTELLAIT I have walked through the documentation for creating a VPN Gateway and installing the VPN client for a Windows 10 host. I had no issues. This does not mean that the MacOS instructions are correct but, the content owner has created some very reliable documentation and the error you are seeing indicates an issue with the root certificate. Is it possible for you to redo the root + client

[2018-03-28 16:54] davidmu1 commented on #5302
@RolandLeFranc The article that you are using actually has a link to a sample file that you can use in the [(Optional) Download the complete policy files and code](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-custom-rest-api-netfw#optional-download-the-complete-policy-files-and-code).

Here is the link to the samples: https://github.com/Azure-Samples/active-dire

[2018-03-28 16:56] davidmu1 commented on #5100
#in-process

[2018-03-28 16:59] ChackDan commented on #6416
Thankyou Jack for reporting this. Adding Alex to fix the template.

Documentation team – please assign this issue to Alex

From: Jack Cantwell <notifications@github.com>
Sent: Wednesday, March 28, 2018 9:50 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Chacko Daniel <chackdan@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] There's

[2018-03-28 17:00] COLTELLAIT commented on #6280
Apologies for any confusion. I had changed the certificate name but not the subject alternate name and as a result couldn't connect. After using the subject alternate name in the Local ID field of the MacOS vpn client, i was able to connect. I just wanted to highlight this for others who may also choose to rename their self generated client certificates.

[2018-03-28 17:00] #6280 closed

[2018-03-28 17:02] #5355 closed

[2018-03-28 17:05] davidmu1 commented on #5546
#in-process

[2018-03-28 17:08] spottedmahn commented on #5355
that's great 🎉!

@chrispadgettlivecom did some great work and it should be properly showcased 😁!

[2018-03-28 17:10] spottedmahn commented on #5100
Reference: SO Post: [headless authentication Azure AD b2c](https://stackoverflow.com/a/49036907/185123)

[2018-03-28 17:10] Adam-Smith-MSFT commented on #6388
@fitzgeraldsteele Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-03-28 17:10] davidmu1 commented on #5082
@WhippsP  Thank you for bringing this to our attention. We have opened an item in our documentation backlog to have this investigated and updated. We'll respond back to you on this issue when we've done the work. For now, we'll close this GitHub issue.

#please-close

[2018-03-28 17:11] Adam-Smith-MSFT commented on #6390
@KeiroKamioka0000 Thank you for the valuable feedback,we are investigating the issue.

[2018-03-28 17:14] Adam-Smith-MSFT commented on #6391
@JozoSlejko Thank you for the valuable feedback,we are investigating the issue.

[2018-03-28 17:15] wagesworld commented on #6102
Great news! Thanks.

[2018-03-28 17:15] #6102 closed

[2018-03-28 17:15] Adam-Smith-MSFT commented on #6392
@hamzaachi Thank you for the valuable feedback,we are investigating the issue.

[2018-03-28 17:17] Adam-Smith-MSFT commented on #6397
@typik89 Thank you for the valuable feedback,we are investigating the issue.

[2018-03-28 17:19] Adam-Smith-MSFT commented on #6399
@jakubjenis Thank you for the valuable feedback,we are investigating the issue.

[2018-03-28 17:19] conceptdev commented on #6418
Hi @ianpowell2017, as our product strategy evolves we have got some outdated docs that need work; these mobile docs are on the backlog to update.

Depending on your use case, [**App Center Push**](https://docs.microsoft.com/en-us/appcenter/push/) might be appropriate for your app?

Thanks for the feedback. We hope to have these docs updated soon.

[2018-03-28 17:20] Adam-Smith-MSFT commented on #6400
@IshamMohamed Thank you for the valuable feedback,we are investigating the issue.

[2018-03-28 17:21] lant3rn1969 commented on #6416
One other thing to note is that the template on GitHub specifies Standard_D2 for the VM size of the VMSS. I just tried to deploy that to West US 2, and I got an error that there are not enough (5) VMs of that size available. When I changed it to Standard_D2_v3, it worked fine.

[2018-03-28 17:22] m60freeman opened #6421 "Key column order is not discussed"
When making a recommendation for creating a new index, is the key column order optimized to take cardinality and whether a column is referenced in an OR or an IN() into account?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 100228be-3a7f-ca84-3fe4-f3e537b27030
* Version Independent ID: 73602e3b-9ecb-05cf-ec63-e89ca1f7

[2018-03-28 17:22] Adam-Smith-MSFT commented on #6401
@francipvb Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-03-28 17:24] Adam-Smith-MSFT commented on #6402
@B3zo0 Thank you for the valuable feedback,we are investigating the issue.

[2018-03-28 17:25] chrispy0ne opened #6422 "ASA needs 9.8.x +"
ASA 5585-x requires code 9.8.x  to connect to Azure via IKEv2 tunnel.   Found out the hard way and after engaging Cisco TAC tier 3.  Personally tried with 9.8.2 ASA code.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 400bf897-2cdd-39e8-85df-34ad53ca7838
* Version Independent ID: 606caa65-a95f-07b1-98a3-202479e6ce5e
*

[2018-03-28 17:26] #6403 closed

[2018-03-28 17:26] mumian commented on #5910
#please close this PR.

[2018-03-28 17:26] aljo-microsoft commented on #6416
Can you confirm which sample is using the wrong parameter "sourceVaultResourceId"?

I did not see that parameter used in any of the following six samples mentioned in that article:
https://github.com/Azure-Samples/service-fabric-cluster-templates

[2018-03-28 17:27] Adam-Smith-MSFT commented on #6404
@Rachitgupta1994 Thank you for the valuable feedback,we are investigating the issue.

[2018-03-28 17:29] cjgronlund commented on #5965
@deguhath This vehicle telemetry link is a 404. Is there a new link for this?
https://atlassaprod.blob.core.windows.net/connectedcar/CarEventGeneratorSoln.zip
@bradsev

[2018-03-28 17:29] Adam-Smith-MSFT commented on #6407
There is no actionable solution for your comment. Please submit a detailed question.

[2018-03-28 17:29] #6407 closed

[2018-03-28 17:30] Adam-Smith-MSFT commented on #6409
@lafourit Thank you for the valuable feedback,we are investigating the issue.

[2018-03-28 17:31] g-kannan commented on #5511
Please help to add a note under "Add backend pool"

1. associate the Backend pool to the availability set containing SQL VM's
2. Next add the individual VM's in "Add a  target network IP configuration". Without this, Listener will ONLY work on the primary replica.

[2018-03-28 17:31] myusrn commented on #5976
@su-jie I reached out over email with contact info.  As noted in that communication I’m in no rush for needing a resolution to this in the vs17 15.6.4 installation environment I’m currently running.  I can use the web portal UI story for streaming analytics exploration work and just wait for the 15.7.x update for vs17 installation to get the fix that allows this to work with msft r client (3.3.2)

[2018-03-28 17:32] Adam-Smith-MSFT commented on #6410
@JefTek Thank you for the valuable feedback,we are investigating the issue.

[2018-03-28 17:35] Adam-Smith-MSFT commented on #6302
@nluckenbill
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-28 17:35] #6302 closed

[2018-03-28 17:35] Adam-Smith-MSFT commented on #6232
@zhulixuan We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-28 17:35] #6232 closed

[2018-03-28 17:36] Adam-Smith-MSFT commented on #6119
@myusrn
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-28 17:36] #6119 closed

[2018-03-28 17:36] hpsin commented on #6404
Thanks Rachit.  Please note the comments made for the parameter:
Client_secret: The application secret that you created in the app registration portal for your app. It should not be used in a native app, because client_secrets cannot be reliably stored on devices. It is required for web apps and web APIs, which have the ability to store the client_secret securely on the server side.

We absolutely

[2018-03-28 17:39] yar-shukan opened #6423 "Unclear statement in "How Local Cache changes the behavior of App Service""
In "How Local Cache changes the behavior of App Service" there's a statement:
"D:\Home points to the local cache." but across the doc ("How Local Cache changes the behavior of App Service", "Change the size setting in Local Cache" and "How can I tell if Local Cache applies to my web app?") it's said that "the local cache is a copy of the /site and /siteextensions folders of the web app".
So it's n

[2018-03-28 17:39] bandersmsft commented on #6015
@NiklasJern Definition Location defines where the policy or initiative definition is stored. For now, when set, you cannot change it for performance and RBAC reasons. You noted inheritance of policy definitions from Management Groups to allow assignment across subscriptions--that's in development.  The Azure Policy team is working on adding functionality to easily export/ duplicate the policy defi

[2018-03-28 17:40] bandersmsft commented on #6015
#please-close

[2018-03-28 17:41] subsarma commented on #6402
Yes the trailing dot is correct and indicates the end of the fully qualified domain name (i.e the name server names are FQDNs). Some registrars may try to append the period if the NS name doesn't have it at the end, but to be compliant with DNS RFC we need to have the trailing period as we cannot assume every registrar will do this append.

[2018-03-28 17:49] rayne-wiselman commented on #6287
Thanks! The support statements in this doc are up-to-date.

SUSE Linux Enterprise Server 11 SP3
SUSE Linux Enterprise Server 11 SP4

No action for article here.

[2018-03-28 17:50] mimig1 commented on #5941
@squeakyD - @andrewhoh has published a change to the page: https://docs.microsoft.com/en-gb/azure/cosmos-db/mongodb-samples to address your feedback. Thank you again for providing this feedback. #please-close

[2018-03-28 17:52] KumudD commented on #6402
As per Subra's comment the trailing dot is accurate. Thanks!

#please-close

[2018-03-28 17:54] cjgronlund opened #6424 "Confusing for authors: #in-process tag doesn't match in-progress label"
To help us better understand progress on Issues, please align the `#in-process` tag with the in-progress label. Much more intuitive if they match.

![image](https://user-images.githubusercontent.com/5403354/38047102-4deede3e-3276-11e8-9d05-d9c9e3a61375.png)

[2018-03-28 17:54] MicahMcKittrick-MSFT commented on #6134
@gatneil can you confirm that this doc is still valid? I seem to be having issues myself enabling automatic OS upgrades.

[2018-03-28 17:55] terpie commented on #6117
Yes I try the same but the (tumbling window) trigger should pass through de value @trigger().scheduledTime via the parameter 'ScheduledRunTime' to the pipeline so the CSV dataset can use it to select the correct .csv file. But this passing through of the parameter I don't get it to work...

[2018-03-28 17:56] mumian commented on #5340
@xiaofmao It was a known issue.  You should get the results back despite the warning.  The issue has been fixed.

#Please close the PR.

[2018-03-28 18:02] SyntaxC4 commented on #6401
@wadepickett Would someone on your team have a sample that we could leverage?

[2018-03-28 18:02] #5941 closed

[2018-03-28 18:03] MicahMcKittrick-MSFT commented on #6066
@jpalo I will close this out for now but if you are still seeing issues please come back and we can reopen.

[2018-03-28 18:03] #6066 closed

[2018-03-28 18:03] lant3rn1969 commented on #6416
https://github.com/Azure/azure-quickstart-templates/tree/6b1d4fe4f9978a56d78bcbbbae72b181f7716500/service-fabric-secure-cluster-5-node-1-nodetype

[2018-03-28 18:03] MicahMcKittrick-MSFT commented on #6322
@daweins I will close this out for now. If the above did not answer your question we can reopen and continue.

[2018-03-28 18:04] btshowers opened #6425 "getting root cert"
In your PS snippet above i have two issues:. 1. log-error isn't a ps cmdlet. 2. are you sure the self signed cert cn name is AzureStackSelfSignedRootCert ?  I can't seem to find it when I list all certs on a vm provisioned from my stack or from the console of a web app.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92

[2018-03-28 18:04] #6322 closed

[2018-03-28 18:04] MicahMcKittrick-MSFT commented on #6349
@HaikoHertes any update on this?

[2018-03-28 18:06] Thraka commented on #5271
Most likely the Service Fabric SDK updated the local Azure SDK. The Azure SDK provides the build targets for Visual Studio, which determine what frameworks are supported. It's possible the Service Fabric SDK stepped on the Azure SDK build targets file some how and removed the restriction.

[2018-03-28 18:11] bryhall opened #6426 "P15 tier update?"
The P15 tier (256GB \ 1,100 IOPs \  125 MB/s) is missing (has not yet been updated) in this article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ea00c3f-e389-9258-45a5-395247555f75
* Version Independent ID: f01af29d-f543-077a-3d71-6b6b437758cd
* Content: [High-performance Premium Storage and Azure managed disks for

[2018-03-28 18:12] mumian commented on #6390
@KeiroKamioka0000 "Blob storage" is an overloaded term.  Please take a look of this article - https://docs.microsoft.com/en-us/azure/storage/common/storage-account-options.  HDInsight only support the general purpose accounts,  it doesn't support "blob storage".  I hope it makes sense to you.

#please close the PR.

[2018-03-28 18:14] MicahMcKittrick-MSFT commented on #6397
@typik89 have you reviewed [this article](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-get-started-azure-cli#deploy-image-to-aci) to see if it helps?

[2018-03-28 18:16] B3zo0 commented on #6402
thank you! 😊

[2018-03-28 18:16] #6402 closed

[2018-03-28 18:16] Adam-Smith-MSFT commented on #6411
@andrewkittredge could you provide us with the link to the document you are referring to  ?

[2018-03-28 18:16] ScotStover opened #6427 "Azure Resource RateCard API (Preview) usage pre-requisites"
I do not see much documentation on the pre-requisites or any "how to" examples to leverage the Azure Resource RateCard API (Preview) for Pre-consumption cost analysis? This is the exact use case we are looking for any any assistance would be appreciated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a56e729-7981-9a51

[2018-03-28 18:18] Adam-Smith-MSFT commented on #6412
@declang Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-03-28 18:19] Adam-Smith-MSFT commented on #6413
@codesmon Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-03-28 18:21] Adam-Smith-MSFT commented on #6414
@ScottAzure Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-03-28 18:25] Adam-Smith-MSFT commented on #6415
@cloudmelon Could you provide us with the documentation link you were referring to ?

[2018-03-28 18:27] typik89 commented on #6397
yes, but havn't found answer

[2018-03-28 18:28] Adam-Smith-MSFT commented on #6417
@darkkith Thank you for the valuable feedback,we are investigating the issue.

[2018-03-28 18:32] rothja commented on #5157
@helderpinto That's a great point. In this case, we should list it in both tables if the answer is "contact support" for cores per subscription for resource manager. Thank you.

[2018-03-28 18:33] markgalioto commented on #5194
@aydeisen, Thank you again for your excellent suggestion. I have added a work task for augmenting this article with content describing how to add backup protection to VMs deployed using an ARM template.

[2018-03-28 18:34] Adam-Smith-MSFT commented on #6421
@m60freeman Thank you for the valuable feedback,we are investigating the issue.

[2018-03-28 18:35] ChackDan commented on #6416
Adam,
Please resign this to Alex, as I requested.

From: Adam-Smith-MSFT <notifications@github.com>
Sent: Wednesday, March 28, 2018 11:27 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Chacko Daniel <chackdan@microsoft.com>; Assign <assign@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] There's a small error in the sample JSON for using your own template (#6416)

A

[2018-03-28 18:35] Adam-Smith-MSFT commented on #6422
@chrispy0ne Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-03-28 18:38] Adam-Smith-MSFT commented on #6424
@cjgronlund Thank you for the valuable feedback,we are investigating the issue.

[2018-03-28 18:39] Adam-Smith-MSFT commented on #6423
@yar-shukan Thank you for the valuable feedback,we are investigating the issue.

[2018-03-28 18:41] mumian commented on #5910
#please-close

[2018-03-28 18:41] mumian commented on #5340
#please-close

[2018-03-28 18:53] HaikoHertes commented on #6349
I have just downloaded the most recent online version, but as this was on a different machine, I take some more days to check the version...

[2018-03-28 18:54] rachel-msft commented on #6371
Hi Terje,

Since that tool requests a url syntax as follows: postgresql://username:password@hostname:5432/databasename

You would need to escape the '@' in our username@hostname format, because that url syntax expects @ to signify the start of the full hostname.

Please try this format: postgresql://scott%40myhost:tiger@myhost.postgres.database.azure.com:5432/mydatabase
Here I'm using the %40 esca

[2018-03-28 18:59] Rutikhal opened #6428 "[Question] Is it correct that every Azure AD user could register app in Azure AD?"
Hi
Is it correct that every Azure AD user could register app in Azure AD? no need any additional permissions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b28c3b2e-d661-682d-df1b-68d941016e87
* Version Independent ID: b2ebf2b0-f9d3-2583-4e64-54fa083b5a57
* Content: [Integrating Applications with Azure Active Director

[2018-03-28 19:13] allanwith commented on #6136
@MohitGargMSFT thank you for your response. I did learn something from that second link you sent so perhaps you could consider putting that link in the article we're talking about to clarify? I think the reason why I was confused is that there are two settings i AAD which allows normal users to invite guests as well as guests to invite other guests into the AAD. This led me to think that there mig

[2018-03-28 19:17] sandervandevelde commented on #5346
Excellent text. The parameter syntax examples explain well how to use the Where clause.
Thanks, I will close this issue now..

[2018-03-28 19:17] #5346 closed

[2018-03-28 19:17] rpuskarich opened #6429 "Integrating soft delete with Azure Search soft delete"
It would be useful to implement the soft delete of a blob in such a way that a separate property configuration is not required for tracking deletions on the datasource when an indexer is run in Azure Search.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78964956-a479-5fbe-710d-19e361542a36
* Version Independent ID: 15

[2018-03-28 19:19] PlateSpinner opened #6430 "Out of date info..."
There needs to be some updates here. Especially in the Security Rules section. It needs some updates to constraints for source and destination addresses, including some acknowledgements about Augmented Security Rules: https://docs.microsoft.com/en-us/azure/virtual-network/security-overview#augmented-security-rules

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2018-03-28 19:20] MichaelHauss commented on #6429
Can you elaborate on what you mean? Are you suggesting you would like soft delete to be on by default (no configuration required)? Not sure I quite understand the ask.

[2018-03-28 19:28] rpuskarich commented on #6429
Right now, in Azure Search, even with soft deletes turned on on the blob, I still have to add a property to the MetaData of IsDeleted on the blob so that an indexer will remove that blob from the index on delete. It would be useful that if soft delete were turned on for the blob, that it would automatically be removed from the index when the indexer is run OR at least have a metadata property that

[2018-03-28 19:31] leftler opened #6431 "User identity throttling example does not work."
In the example [User identity throttling](https://docs.microsoft.com/en-us/azure/api-management/api-management-sample-flexible-throttling#user-identity-throttling) it has the following code example.
[code]

This will not work as the value of `Authorization` will be something like `Bearer eyJ0eXAiO...` this causes `.AsJwt()` to return null. To get this to work I had to do
[code]
to get `.AsJwt()` t

[2018-03-28 19:36] cloudmelon commented on #6415
Hi,
Here is it:
https://docs.microsoft.com/en-us/azure/data-factory/quickstart-create-data-factory-copy-data-tool

Melony QIN

[2018-03-28 19:42] MichaelHauss commented on #6429
When a blob is soft deleted, it is unreadable and not listed through existing APIs. Effectively, it is deleted.  The same behavior should occur in Azure Search independent of soft delete configuration. In fact, when soft delete is on, the soft deleted blob will have a number of new properties returned in [List Blobs](https://docs.microsoft.com/en-us/rest/api/storageservices/list-blobs) "For versio

[2018-03-28 19:48] lant3rn1969 opened #6432 "Adding users to "Enterprise Application""
In your section starting at this link, https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-creation-via-arm#assign-users-to-roles, you show how to add users to your enterprise application so you can set up RBAC for your cluster using AAD. You should please note that standard users in enterprise environments do not have sufficient permissions to do this and require an admin

[2018-03-28 19:51] Mabunga commented on #5496
Just so everyone on this thread knows, the automatic provisioning feature has not worked since the article was originally published last year. I got a response from a Microsoft employee "Jeevan Desarda" on the old Livefyre commenting system who told me it would be working by the end of January but that never happened. Now that the article has disappeared from Microsoft's site altogether, I think t

[2018-03-28 19:52] lant3rn1969 commented on #6416
I should note that this problem with the template also applies to the one in the master branch. https://github.com/Azure/azure-quickstart-templates/tree/master/service-fabric-secure-cluster-5-node-1-nodetype

[2018-03-28 19:52] rpuskarich commented on #6429
Upon further inspection, it would appear that a soft deleted blob is still recognized by the indexer as being hard deleted because it cannot access the metadata properties once the status is "deleted", so it doesn't really matter what properties there are, the two cannot be linked. It would be nice to have a way to somehow link the soft delete of a blob to it's datasource delete policy, so that it

[2018-03-28 19:55] rpuskarich commented on #6429
Okay, thanks.

[2018-03-28 19:55] #6429 closed

[2018-03-28 20:01] jason-j-MSFT commented on #6249
@Bhairav-Pardiwala The code in the Event Hub sample may not be portable to IoT Core as is.  Take a look here in the at the beginning of the application development section in the IoT documentation:
https://docs.microsoft.com/en-us/windows/iot-core/develop-your-app/buildingappsforiotcore

If you have documentation feedback for the IoT team, please feel free to open an issue over in their documentat

[2018-03-28 20:01] #6249 closed

[2018-03-28 20:10] davidmu1 commented on #5566
@spottedmahn Added a node in the TOC named **Starter pack** under Identity Framework Experience->Guides.

#please-close

[2018-03-28 20:12] davidmu1 commented on #5546
@spottedmahn Changed the node named Node.js in the TOC to point to the article in this thread instead of the github repository.

#please-close

[2018-03-28 20:13] #5566 closed

[2018-03-28 20:13] #5546 closed

[2018-03-28 20:21] kgremban commented on #5700
@jason-j-MSFT I'm not sure what action to take without more information from FabioEnne. Can you #please-close this issue and he can reopen it if his question persists?

[2018-03-28 20:28] zhiweiwangmsft commented on #5465
Thanks folks. We will update our FAQ docs about this note.

[2018-03-28 20:29] pawankt opened #6434 "Security logs : Audit Success / Failure"
Portal have audit success, failure options, but ARM expecting log level Info(1), Error(4).. looks like not in sync.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cde5dd07-fe06-8412-8a87-0bcc35d417e2
* Version Independent ID: a2a2ff96-f3dc-602d-8a82-1e7b838273fa
* Content: [Azure Diagnostics 1.2 Configuration Schema](h

[2018-03-28 20:31] chakrarp commented on #6298
I found the solution not the problem, I started using PowerShell script for the same and it worked.

[2018-03-28 20:35] ChandanaSrinivasa opened #6435 "Syntax Error in the query while using Pipelines"
#In this section, azure-docs/articles/data-factory/tutorial-incremental-copy-powershell.md
https://docs.microsoft.com/en-us/azure/data-factory/tutorial-incremental-copy-portal I did everything as mentioned in the example using the UI but I have been getting the Syntax error on the SQL query in the Source of IncrementalCopyActivity
```select * from data_source_table where LastModifytime > '@{activi

[2018-03-28 20:38] davidmu1 commented on #5464
@spottedmahn We understand that the prompt parameter is currently defined in the OIDC spec, but could be more thoroughly described in context to B2C. We have opened an item in our documentation backlog to have this investigated and updated. We'll respond back to you on this issue when we've done the work. For now, we'll close this GitHub issue.

#please-close

[2018-03-28 20:38] Adam-Smith-MSFT commented on #6425
@btshowers Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-03-28 20:39] molinamelendezj opened #6436 "Host Setting"
I don't see the Host setting when configuring a health probe? Has that been removed? how can I set it? our app insights telemetry throws an annoying Argument Exception because the http request host is not specified.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c47f14c-8432-fa9b-59c2-8283cc455041
* Version Independen

[2018-03-28 20:39] #5464 closed

[2018-03-28 20:40] Adam-Smith-MSFT commented on #6426
@bryhall Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-03-28 20:40] SnehaGunda commented on #5781
@lpunderscore Hope the above context helps, we will close this issue for now. Feel free to reopen in case you need any help.

[2018-03-28 20:40] SnehaGunda commented on #5781
#please-close

[2018-03-28 20:43] davidmu1 commented on #5464
@spottedmahn Michael, you seem very invested in B2C docs, I would love to talk with you about how the docs might be improved and what you think. Give me a shout at davidmu@microsoft.com if you can spare a few minutes. Thanks.

[2018-03-28 20:45] vhorne commented on #6303
Hi @stylerOD,

The portal is being updated to allow you to manage certificates. In the meantime, you can use PowerShell/CLI/ARM to mange a cert. For example, in Azure PowerShell you can use Set-AzureRmApplicationGatewaySslCertificate.

Hope that helps!

[2018-03-28 20:48] daweins commented on #6322
Thanks Micah – I’m in touch w/ Jim Dial – he’s doing a full review of this article, so I’m holding off on changes until he’s done. My issues can be closed.
-Dave-

David Weinstein | Azure Partner CAT | 720-878-8132 | daweins@Microsoft.com<mailto:daweins@microsoft.com>

From: Micah <notifications@github.com>
Sent: Wednesday, March 28, 2018 12:04 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.g

[2018-03-28 20:49] SyntaxC4 commented on #6423
@yar-shukan Thank you for your feedback. We can definitely address this feedback. I will work with the product team to make sure we also have the most up-to-date data. Tracking this enhancement internally [1221205](https://mseng.visualstudio.com/TechnicalContent/AzureApps/_workitems/edit/1221205)

[2018-03-28 20:50] davemct commented on #6358
Well, you're right.  I logged onto one my Azure VMs and opened the portal and it came right up there.

However, I cannot get the download to work the same way from my local computers and my local virtual machines, either.

Since I maintain my own local network and have nothing that is blocking (that I know of) AND I can still download directly from the Microsoft Download Center, it is very frustra

[2018-03-28 20:56] davemct commented on #6358
Final thing.  I just installed Google Chrome on one of my machines where the download page was blank.  The download came right up and I was able to fetch the MMASetup-AMD64.exe.  So it is not my network.  However, I actually created a local virtual machine in Windows 10  just to demonstrate the steps of doing this (adding the Microsoft monitoring Agent to the VM) and it still wouldn't show.

[2018-03-28 21:06] lant3rn1969 opened #6437 "Another minor oversight"
Hi folks, there's a missing variable in the sample PowerShell at https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-creation-via-arm#use-a-pointer-to-the-secret-you-already-have-uploaded-into-the-key-vault. There should be a $resourceGroup variable, as it's referenced in the call to the cmdlet.

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2018-03-28 21:14] #6038 closed

[2018-03-28 21:15] rloutlaw commented on #5170
We're tracking this for improvement in published reference content for the Azure Functions Maven plugin. #please-close

[2018-03-28 21:17] MohitGargMSFT commented on #6293
@montereyharris Please open a new MSDN forum post to have further discussion of this issue and community will help address your query. Please refer to below link to MSDN forum to ask new question -
[https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazureplatform](https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazureplatform)

[2018-03-28 21:18] ggailey777 commented on #5143
@ericbrunner since we have opened an internal item to track this content gap, according to our current SLA for documentation issues we can close your issue. Hopefully, that is OK with  you.
#please-close

[2018-03-28 21:25] MohitGargMSFT commented on #6343
@tathamoddie We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-28 21:25] #6343 closed

[2018-03-28 21:26] kgremban commented on #5717
@melzoghbi I followed up with the product teams about the specific supportability for the modules, and got this information for you:

* Windows containers don't work on ARM32
* The Machine Learning module doesn't support ARM32 with either Windows or Linux containers.
* The IoT Edge runtime (agent and hub) do work on Linux ARM32

I've opened a pull request to add a note to the machine learning tuto

[2018-03-28 21:28] MohitGargMSFT commented on #6379
@MichaelRyan87 Seamless SSO can be combined with either the Password Hash Synchronization or Pass-through Authentication sign-in methods. Seamless SSO is not applicable to Active Directory Federation Services (ADFS).

However, if you have a specific scenario to discuss please open a new MSDN forum post and community will help address your query. Please refer to below link to MSDN forum to ask new

[2018-03-28 21:33] andrewb-ms opened #6439 "Documentation is not useful"
How are we supposed to create a schema for a flat file?  What tool is used to do that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54d22300-48e8-8ca1-5260-4cd57e576ec3
* Version Independent ID: 7769b40c-78ff-7e1e-9b4e-82751a9e963e
* Content: [Encode or decode flat files in Azure logic apps](https://docs.microsoft.co

[2018-03-28 21:40] Brenduns commented on #6347
#in-progress
Investigating this with developers.

[2018-03-28 21:41] MohitGargMSFT commented on #6392
@hamzaachi If you follow this section [Create the IdentityExperienceFramework application](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-get-started-custom#create-the-identityexperienceframework-application) to create new IdentityExperienceFramework application in Azure Active Directory and then follow this section [Create the ProxyIdentityExperienceFramework app

[2018-03-28 21:41] rloutlaw commented on #5931
We've published an update to the original article https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-java-maven to clarify the installation instructions and code generated.  I was able to build the function without hitting either of the above issues on Linux and Windows.

Can you re-test with the current doc?

[2018-03-28 21:43] MichaelRyan87 commented on #6379
Thanks @MohitGargMSFT , will need to do more testing and check. From original testing SSO + PTA/PTA when using SCA it isn't as seamless as using ADFS. Looking forward to decommissioning ADFS setups that are purely being used to silence SCA prompts/notifications.

[2018-03-28 21:49] jeevansd commented on #6417
@darkkith Azure AD does support SAML based single sign out and also support WS-Fed based logout. Please see the detailed documentation from here https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-single-sign-out-protocol-reference

If you do the single sign-out from Azure AD then you are logged out from other open applications as well like Office365.

[2018-03-28 21:56] MikeRayMSFT commented on #5511
@g-kannan thanks for the note. I have updated the steps. See

Click the load balancer, click Backend pools, and click +Add.

Associate the backend pool with the availability set that contains the VMs.

Under Target network IP configurations, check VIRTUAL MACHINE and choose both of the virtual machines that will host availability group replicas. Do not include the file share witness server.

Note

[2018-03-28 21:59] MohitGargMSFT commented on #6410
@JefTek I have assigned the issue to the author to investigate and update as appropriate.

[2018-03-28 22:00] #5511 closed

[2018-03-28 22:01] MohitGargMSFT commented on #6417
@darkkith Thanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

[2018-03-28 22:02] jeevansd commented on #6417
#in-progress

[2018-03-28 22:04] mattbriggs commented on #5222
#please-close

[2018-03-28 22:07] Juliako commented on #6225
@anarchitect, there was a product issue, but it is fixed now.

[2018-03-28 22:07] Juliako commented on #6225
#please-cose

[2018-03-28 22:09] #6225 closed

[2018-03-28 22:23] MicahMcKittrick-MSFT commented on #6432
@lant3rn1969 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-03-28 22:27] MicahMcKittrick-MSFT commented on #6437
@lant3rn1969 thanks for the feedback! Looking into it it appears that it is not that the $resourceGroup variable is not that but rather it should be calling $resourceGroupName instead :)

Great catch! I will get this taken care of.

[2018-03-28 22:28] KumudD commented on #5487
#please-close

[2018-03-28 22:36] iainfoulds commented on #6414
@ScottAzure I have created a PR to add the link. When that PR merges, this issue will automatically closed.

As noted previously, GitHub issues are not currently designed for internal supportability work item tracking. There is already an established process for that. Please continue to use the internal work item request process, or feel free to file a public PR to make minor changes as you see th

[2018-03-28 22:41] zhulixuan commented on #6232
That link is about how to use it.  I was asking for the inside workflow as this article is talking about.

[2018-03-28 22:42] KumudD commented on #5369
The doc is now updated with Azure CLI 2.0 instructions. Thanks!

[2018-03-28 22:44] sethmanheim commented on #6232
@zhulixuan I do not understand what "inside workflow" means. We do have sample code that does this on https://github.com/Azure/azure-service-bus/tree/master/samples/DotNet/GettingStarted/Microsoft.Azure.ServiceBus/BasicSendReceiveUsingTopicSubscriptionClient.

[2018-03-28 22:46] Adam-Smith-MSFT commented on #6427
@ScotStover Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-03-28 22:49] Adam-Smith-MSFT commented on #6428
@Rutikhal Thank you for the valuable feedback,we are investigating the issue.

[2018-03-28 22:50] zhulixuan commented on #6232
Could you compare your link with https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-architecture?  I prefer a similar diagram for receiving message.

[2018-03-28 22:50] Adam-Smith-MSFT commented on #6430
@PlateSpinner Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-03-28 22:51] ChackDan commented on #6416
Please assign to alex

[2018-03-28 22:52] JunyuanZheng commented on #6002
Hi,

I exported the data to Azure Blob Storage and I saw the same behavior.

[code]

The `UserID` and `UserType` become UpperCamel case again, the reset of all is the same.

My configuration is:

![image](https://user-images.githubusercontent.com/9393110/38060498-da188026-329f-11e8-82c5-8136ad61b631.png)

![image](https://user-images.githubusercontent.com/9393110/38060509-e956e488-329f-11e8-9f45-9

[2018-03-28 22:52] Adam-Smith-MSFT commented on #6431
@leftler Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-03-28 22:53] #6414 closed

[2018-03-28 22:53] #6437 closed

[2018-03-28 22:55] Adam-Smith-MSFT commented on #6434
@pawankt  Is it possible to provide us with more details about the scenario you've mentioned ?

[2018-03-28 22:57] Adam-Smith-MSFT commented on #6435
@ChandanaSrinivasa Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-03-28 22:58] sethmanheim commented on #6232
@zhulixuan We are working on an updated figure that shows topic/subscription workflow, as part of a documentation rewrite. We hope to have it published ASAP. Thanks again for your feedback.

[2018-03-28 22:59] Adam-Smith-MSFT commented on #6436
@molinamelendezj Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-03-28 23:00] Adam-Smith-MSFT commented on #6439
@andrewb-ms Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-03-28 23:03] Adam-Smith-MSFT commented on #6015
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-28 23:03] #6015 closed

[2018-03-28 23:03] Adam-Smith-MSFT commented on #5910
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-28 23:03] #5910 closed

[2018-03-28 23:04] #5857 closed

[2018-03-28 23:04] #5781 closed

[2018-03-28 23:05] zhulixuan commented on #6232
Thanks.

[2018-03-28 23:08] #5700 closed

[2018-03-28 23:11] #5578 closed

[2018-03-28 23:11] #5487 closed

[2018-03-28 23:11] #5340 closed

[2018-03-28 23:12] #5302 closed

[2018-03-28 23:12] #5222 closed

[2018-03-28 23:12] #5194 closed

[2018-03-28 23:13] #5170 closed

[2018-03-28 23:13] #5143 closed

[2018-03-28 23:14] #5082 closed

[2018-03-28 23:14] JunyuanZheng commented on #6002
I also notice if I stop the job and restart the job, then the output data is correct.
Last line before I stop the job:
[code]

First link after I restart the job:
[code]

[2018-03-28 23:14] tfitzmac commented on #6165
@bumblebee333 - were you able to review your app to see if the auth code is being received?

[2018-03-28 23:22] tfitzmac commented on #6373
@mbenko - thanks for this suggestion. I think it would be a good addition to the document. I have created a backlog item for myself to add this content. I am hoping I can get to it next month.

[2018-03-28 23:22] tfitzmac commented on #6373
#please-close

[2018-03-28 23:24] jeevansd commented on #5953
@dragan979 Thanks for reaching out. Yes, our team is working on publishing the official documentation for setting multiple AWS accounts integration with one Azure AD app. We are also in the process of solving this problem in the better way but that will not happen immediately.
You should see the document by end of next week.

[2018-03-28 23:26] linda33wj commented on #6240
@Mike-EEE i happened to reword/simplify the section you pointed to a bit. Actually all the 4 steps are from the same topic with a link at the beginning of that section, and you just need follow them in sequence.

#please-close

[2018-03-28 23:26] #6373 closed

[2018-03-28 23:29] iainfoulds commented on #5886
Okay, thanks. Please create a PR against the azure-docs repo and I'll work with @tysonn to figure out how we best publish the contribution.

For now, I'll close out this issue and we can work in the PR itself. Please reference issue #5886 and tag @iainfoulds. Thanks!

#please-close

[2018-03-28 23:34] tfitzmac commented on #6193
@DavidHBallantyne - thanks for this suggestion. The basic answer is that the template reference docs should have descriptions of those properties in the tables below the schema section. However, some of those articles are lacking good descriptions. I have a backlog item for myself to help services improve the descriptions.

I have created another backlog item for myself to enhance this article wit

[2018-03-28 23:35] tfitzmac commented on #6193
#please-close

[2018-03-28 23:46] Juliako commented on #6221
Adding @johndeu

[2018-03-28 23:49] bastyuchenko opened #6442 "Imitate an exception and start from the last checkpoint"
Hi! I implemented the example from this article and it works fine but I want to imitate an exception, save the current checkpoint and start from the last checkpoint at the next time but I have no success. Could you help me?

I changed the code of "**Hello**" activityTrigger function to this:

[code]

I executed this:
`POST http://{host}/orchestrators/E1_HelloSequence`
and received in the **Durable

[2018-03-28 23:58] v-jaswel commented on #5533
Hi Jason,

First I sincerely apologize for my delayed reply, as I have been working on documentation for the Build conference on May 7th.

I will check with the product team on this, but I'm not aware that you can access Cognitive Services with an MSDN subscriber key.

I've created all the access keys I've used in testing with the Azure portal. [This topic](https://docs.microsoft.com/en-us/azure/c

[2018-03-29 00:01] jason-j-MSFT commented on #6298
@chakrarp Thanks again, for the feedback.  We are closing the issue for now, but feel free to add additional comments if needed.

[2018-03-29 00:01] #6298 closed

[2018-03-29 00:04] mbenko commented on #6373
Thanks Tom. I’ve started outlining the process, would it be possible for me to contribute to the doc? I might need a little help with the markdown format.

Thanks
Mike

Imagine! Tech, Inc. |  www.benkotips.com<http://www.benkotips.com/> | 612.868.7105 | @mbenko<https://twitter.com/mbenko>

From: Tom FitzMacken <notifications@github.com>
Sent: Wednesday, March 28, 2018 6:23 PM
To: MicrosoftDocs/azu

[2018-03-29 00:05] Mike-Ubezzi-MSFT commented on #6337
@marcelvb Are you accounting for a connection string information being passed within the Azure Service Fabric and/or the Azure Portal? I think the behavior is slightly different in this case.

When creating a C# application, I believe you are correct that parameters should be used.
[Example PostgreSQL and C#](http://sqlines.com/postgresql/npgsql_dotnet):
   using System;
   using Npgsql;         /

[2018-03-29 00:09] tfitzmac commented on #6373
@mbenko - sure, that would be fantastic! If you want to submit a PR to azure-docs, I would be happy to review the markdown and submit any needed changes. Let me know if you need any help with getting started in this repo.

[2018-03-29 00:16] mbenko commented on #6373
I appreciate it Tom! I started working thru it and have forked my changes. I’m going to go back thru the tutorial and recreate the services and then add a blank dashboard with the web site metric graph pinned and a couple other tiles.

To add it to the template is editing the JSON file and adding the pieces but parameterizing it to work with the resources we just created. I’m using this<https://do

[2018-03-29 00:25] Mike-Ubezzi-MSFT commented on #6376
@rfigueroa There is a 'local' development kit for Azure Functions: [Code and test Azure Functions locally
](https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local)

There is a section that covers the [local.settings.json](https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local#local-settings-file) file specifically.

Are you running a local copy of MongoDB or

[2018-03-29 00:28] rwike77 commented on #6224
@ohwellwhatever  No, we don't have any docs or samples right now specifically for integrating with Application Gateway.  We do recommend API Management because it handles routing to specific services and static public IP addresses, unlike Application Gateway.  I've opened a work item in our backlog to investigate adding some guidance for Application Gateway.  Thanks for your questions.  #please-cl

[2018-03-29 00:31] jason-j-MSFT commented on #6117
@myusrn & @terpie
Thanks again, for the feedback.  I think we have enough information here to understand you are looking for a documentation enhancement which will include examples of how to use some of the functionality found in ADFv1, in ADFv2.  The content team will evaluate this feedback and make enhancements where appropriate in the ADFv2 documentation, going forward.  ADFv2 is still in previ

[2018-03-29 00:35] Mike-Ubezzi-MSFT commented on #6391
@JozoSlejko It appears the link takes you to a specific section within that document.

The following link: You can use the [VIP availability metric together with the health probe status for diagnostic purposes](https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-standard-diagnostics#vipavailabilityandhealthprobes).

Takes you to: [How do I diagnose my Load Balancer deployment?
](htt

[2018-03-29 00:45] tamram commented on #6191
@migrande - Thanks for pointing this out to us. I've fixed the issue, and it should go live sometime tomorrow.

#please-close

[2018-03-29 00:59] Mike-Ubezzi-MSFT commented on #6421
@stevestein I am not sure that pointing the customer to [Azure SQL Database - automatic tuning | Microsoft Docs](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-automatic-tuning) is the correct course of action here, as they are explicitly asking about key column optimization.

[2018-03-29 01:02] Mike-Ubezzi-MSFT commented on #6371
@terchris Can you review the comment by @rachel-msft and let us know if this issue is resolved.
Thank you,
Mike

[2018-03-29 01:09] myusrn commented on #6117
thanks @jason-j-MSFT for the closure and next steps suggestion on this matter.  I created the product team feedback entry https://feedback.azure.com/forums/270578-data-factory/suggestions/33787015-story-for-running-a-pipeline-for-a-range-of-dates to try and ensure this scenario is covered and if not that it gets looked at.

[2018-03-29 01:12] Mike-Ubezzi-MSFT commented on #6376
If you read a little bit down from the local.settings.json link I provided, you will see the following:
- - -
When no valid storage connection string is set for AzureWebJobsStorage, the following error message is shown:
Missing value for AzureWebJobsStorage in local.settings.json. This is required for all triggers other than HTTP. You can run 'func azure functionapp fetch-app-settings ' or specify

[2018-03-29 01:16] dcbrown16 opened #6444 "Traffic Manager and ExpressRoute"
I can see Traffic Manager metrics (QpsByEndpoint and ProbeAgentCurrentEndpointStateByProfileResourceId) in the "Metrics (Preview)" menu. Do they need to be added to this list of supported metrics?
Conversely, ExpressRoute metrics are available in the old Metrics but not the new one. Is there a plan to support them?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2018-03-29 01:30] jlian commented on #6427
Hey @ScotStover, have you had the chance to take a look at this https://github.com/Azure-Samples/billing-dotnet-ratecard-api

[2018-03-29 01:41] genlin commented on #5874
@HannahHsiao, Thanks for the information. I saw the problem in Traditional Chinese version.  Will fix it.

[2018-03-29 02:21] hisasima opened #6446 "Can not use BGP for VPN tunnel."
I predict following sentence is wrong in this page.
"You can optionally configure the BGP across the VPN tunnel."

Because ASA must use "policy-based traffic selectors" for VPN connection, therefore ASA can not use dynamic routing.
If that is true, could you revise this document ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2018-03-29 02:21] npiasecki opened #6447 "Mixed IP and SNI in same Web App"
It doesn’t seem to be documented, but consider a scenario where you have a Web App with an SNI SSL binding, and you’ve configured your DNS entry for that hostname as a CNAME for your-site.azurewebsites.net. No problems there. Now you add an additional IP SSL binding to the same Web App with a different hostname and certificate, and you map the DNS entry for that A record to the IP address that is

[2018-03-29 02:31] m60freeman commented on #6421
I didn't see any mention of how the key columns are ordered in a recommendation to add an index. If it is any better than the seemingly random order used by the missing indexes shown in an execution plan, I would think that it would have been mentioning it as one of the improvements brought by this new feature. But I just don't know. How is the key column order determined for this feature?

[2018-03-29 02:32] jlian commented on #6427
Also, worth checking out our pricing calculator https://azure.microsoft.com/en-us/pricing/calculator/

[2018-03-29 03:36] genlin commented on #6312
Talked with Scott offline, he has updated the article.

#please-close

[2018-03-29 03:39] chakrarp opened #6449 "Amazon MWS table details"
Need details about different tables available and column details for the Amazon Marketplace Web Service source.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dcde235c-7268-5226-d2ad-7c5f781812d9
* Version Independent ID: 3fb1530d-39c9-ab07-8832-d1c762340711
* Content: [Copy data from Amazon Marketplace Web Service usi

[2018-03-29 04:06] linda33wj commented on #6117
@myusrn & @terpie I should have suggested this simpler path to help you understand this earlier: as you are using the copy data tool, please try the built-in scheduled copy which will auto generate all the parameters and the corresponding tumbling window trigger. After deployment, you can then check how things are chained together through generic authoring UI.

In the first page, "Run regularly on

[2018-03-29 04:35] g-kannan commented on #5511
Perfect.. Thanks Mike!!!

[2018-03-29 04:53] Bhairav-Pardiwala commented on #6249
Hello Just to let you know That i tried the IOT hub sample in the same UWP app and it worked (my purpose is fulfilled with that :-) ) .Not sure what the issue is with Vanilla sample.

This is listed in the IOT section of Azure so it may be possible that a other people may try same thing and fail .Just a heads up !

Am not sure what you mean by IOT team in any case i have documented issue on same h

[2018-03-29 04:59] TechnicallyWilliams opened #6450 "Service Unavailable"
Azure provides two hostname domains.

When browsing to the domain without the SCM subdomain I get a "service unavailable" message. It's a 503 error. It might be due to not using the <<removed>> name for the appname. I'm not entirely sure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8460864c-a2ad-b8e5-d1fc-6135a30edf

[2018-03-29 05:00] TechnicallyWilliams commented on #6450
Specifically the url without the scm portion results in "service unavailable".

[2018-03-29 05:57] carvakas commented on #5953
Thanks @jeevansd the Easter break here in UK should allow us time to wait for your documentation. Happy Easter :-)

[2018-03-29 05:58] ericbrunner commented on #5143
In my opinion that issue is not solved. The proposed sample on SO is not the aswer to my question. As workaround I don't use NH binding in Azure Functions. I still use the NH Client nuget , instantiate a NH client and invoke manually SendTemplatedPushAsync method.

[2018-03-29 06:06] kazshi opened #6451 "Machine Learning Studio Web service cannot be moved between subscriptions"
Looks like Machine Learning Studio Web service cannot be moved between subscriptions (can be moved to resource group), it needs to be listed in "Services that cannot be moved".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76c1c185-685f-27e0-e634-844b510b1834
* Version Independent ID: 09375778-5354-ab44-c5c6-94c2aebe3

[2018-03-29 06:24] ggailey777 commented on #5143
@ericbrunner thanks for your response. We hadn't heard back from you on your question, but it sounds like it's more of a Notification Hubs question than a Functions binding question. Have you tried getting help with your question on [Stack Overflow](http://stackoverflow.com/questions/tagged/azure-notificationhub) or on the [Notification Hubs Forum](https://social.msdn.microsoft.com/Forums/azure/en

[2018-03-29 06:35] Mike-EEE commented on #6240
Awesome... thank you @linda33wj !

[2018-03-29 06:35] #6240 closed

[2018-03-29 06:36] JimmyHjelte opened #6452 "Linked dokument is missing"
The link to the migration guide in "The release of the AzureRM 1.2.11 PowerShell module comes with a list of breaking changes. To upgrade from the 1.2.10 version, see the migration guide." is broken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 867f6760-4111-f62f-713b-fb6af2045f98
* Version Independent ID: 1bf619d9-f9

[2018-03-29 06:39] ericbrunner commented on #5143
It's an Azure Function question!

[2018-03-29 06:40] ggailey777 commented on #5955
@Mike-EEE 1) you are welcome to submit PRs to this repo for documentation updates. The **Content Source:** field should have the GitHub link to the topic you commented on. You can also click the Edit button in the top right corner of the Azure topic.
2) I agree that the various terminologies around HTTP endpoint authorization are confusing, which is why I opened Azure/Azure-Functions#739. 😁

[2018-03-29 06:44] ggailey777 commented on #6300
@mcupito the Cosmos DB trigger uses the [Cosmos DB change feed](https://docs.microsoft.com/azure/cosmos-db/change-feed). You can read more about Cosmos DB and Functions [here](https://docs.microsoft.com/azure/cosmos-db/serverless-computing-database).

[2018-03-29 06:46] femsulu commented on #6001
@yeelam Closing this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-29 06:46] #6001 closed

[2018-03-29 06:52] Juliako commented on #6258
@adamchester, thank you for bringing it to my attention. I updated the document. The update should go live in a day.

[2018-03-29 06:52] Juliako commented on #6258
#please-close

[2018-03-29 06:53] sileniced opened #6453 "My nodejs app is running in development environment in Azure"
after completing every step en pushing my git into Azure. I get the notice that it is running in --production. But when I open the site in my browser. I notice that it is running in the development environment and not production. Which has a significantly smaller build.

When at my personal computer I know I can do "yarn build" (which is different than "npm install --production") and it'll build a

[2018-03-29 06:57] femsulu commented on #6305
@AbhishekAdusumilli I can confirm that the fix is now live. Closing this issue. Cheers.

[2018-03-29 06:57] #6305 closed

[2018-03-29 07:00] femsulu commented on #6326
@kevinmgates  I can confirm the fix is now live. Closing this issue. Cheers.

[2018-03-29 07:00] #6326 closed

[2018-03-29 07:20] Mike-EEE commented on #5955
Hehe yeah @ggailey777 I didn't see https://github.com/Azure/Azure-Functions/issues/739 until _after_ I spewed forth all my intelligent blather, naturally. 😛  In any case, I believe this is more of a product problem than a documentation problem.  The product should be presenting all of this information to the user in a way that keeps them from having to consult the documentation in the first place.

[2018-03-29 07:24] adamchester commented on #6258
Thanks. Is there some way I can see the pending change here?

[2018-03-29 07:30] hamzaachi commented on #6392
It is exactly what i did, i did not jump straight to ProxyIdentityExperienceFramework section i created the IdentityExperienceFramework application first. But i did not pay attention that i have to search for it.

I can select it now after searching it on the search bar.
That you for the help :)

[2018-03-29 07:31] erikjvanderveen commented on #5711
Might have moved to Microsoft.Azure. But there it is missing Fusion.dll ?

[2018-03-29 07:46] genlin commented on #6076
@ssugar  Thank you for pointing out the problem, and sharing the resolution.  I will add the steps about reinstall extension by using command into the article.

[2018-03-29 07:58] typik89 commented on #6397
it gives me nothing

[2018-03-29 08:41] alvintai78 opened #6455 "May encountered sql server error 41131"
I have follow the steps and i think need to include this step. I got an error when creating my AG and it fail at bringing up the AG. Need to grant some rights to NT AUTHORITY\SYSTEM.
GRANT ALTER ANY AVAILABILITY GROUP TO [NT AUTHORITY\SYSTEM]
GO
GRANT CONNECT SQL TO [NT AUTHORITY\SYSTEM]
GO
GRANT VIEW SERVER STATE TO [NT AUTHORITY\SYSTEM]
GO

After granting this, the error will go away

---
#### D

[2018-03-29 08:47] th389 commented on #5278
I think the current instructions as they are [here](https://docs.microsoft.com/en-us/azure/machine-learning/data-science-virtual-machine/dsvm-ubuntu-intro#python) will not work. As I mentioned above, pip has no -n option, this is just for conda.

As such, neither of these will work:

[code]

I think there needs to be four separate instructions (as above)

[code]

[2018-03-29 08:48] anilchinnu21 commented on #6419
Interesting, Azure portal doesn't specify it as Preview. Other features like "Data discovery & classification (preview)", "Vulnerability Assessment (Preview)" etc are clearly specified as a preview in the portal.

![image](https://user-images.githubusercontent.com/1366077/38079150-223f0dd4-3336-11e8-817d-c444422878f3.png)

[2018-03-29 08:53] th389 commented on #5278
@BryanTrach-MSFT I am not able to reopen the issue as it has been closed by a contributer. I think the solution presented by @bradsev and @gopitk in the documentation now does not work for either pip or conda

[2018-03-29 09:10] hauszerm opened #6456 "Sparse description of metrics"
The description of the metrics is too short. I need more detailed information on the importance of the individual metrics and what actions and activities are needed to improve the metrics

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 680c9d31-25c2-9f0e-a6bf-30d76102bc19
* Version Independent ID: 360f930b-07ba-ec17-384

[2018-03-29 09:27] typik89 opened #6457 "acr admin user"
It would be nice to add reccomendation about not using acr admin user. And it would be great if you explain why. https://stackoverflow.com/questions/49512099/aks-cant-pull-image-from-an-acr

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed59d472-ac33-5c03-dbb7-0e86e88c7dd8
* Version Independent ID: 69e1ad8c-2dd3-cc1b-2

[2018-03-29 09:53] julianatanasoae opened #6458 "Link broken"
"See http://www.ranjithr.com/?p=98 for more details on how to configure iisnode to use the new node-inspector."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99e6469b-0c90-c4ba-cf41-354ea4919ea2
* Version Independent ID: 80944b77-6b15-5f0b-5388-ee4430dd090e
* Content: [Best practices and troubleshooting guide for node

[2018-03-29 09:58] gangothriurs opened #6459 "ML setup on edge"
I am trying to setup ML module on Raspberry Pi3

But I am receiving the following error while it tries to pull the docker image from the container registry(also attached logs):

{
    "Azure-cli-ml Version": "0.1.0a27.post3",
    "Error": "[Local mode] Failed to start container. Please report this to deployml@microsoft.com with your image id: mlcrpacr36551475f046.azurecr.io/machinelearningmodule:1

[2018-03-29 10:57] wheatleyind opened #6460 "Dead link"
In the "Notes" section for App Passwords (https://docs.microsoft.com/en-us/azure/multi-factor-authentication/multi-factor-authentication-whats-next#app-passwords) the link to "Office 2013 modern authentication public preview announcement" (https://blogs.office.com/en/2015/03/23/office-2013-modern-authentication-public-preview-announced/) is dead.

---
#### Document Details

⚠ *Do not edit this sec

[2018-03-29 11:20] HaikoHertes commented on #6349
With latest version, I still get this error:

Deployment failed. Correlation ID: 2ca2f482-f578-4b29-b744-7be5825c5bfd. {
  "error": {
    "code": "BadRequest",
    "target": "containerService.properties.orchestratorProfile.orchestratorType",
    "message": "Error converting value \"DockerCE\" to type 'System.Nullable`1[Microsoft.WindowsAzure.ContainerService.API.OrchestratorType]'. Path 'propertie

[2018-03-29 11:22] cottagefarmer opened #6461 "Please use proper English on an English page"
It's important for good comprehension to use proper English. Above "When a health probe fails, (add 'the') Load Balancer stops sending ... ".
Also: "When all backend pool instances (add 'of the') probe (add 'are') down, all existing flows..."    Some may think this is a bit picky, but the reader's speed and comprehension efficiency is impaired. I would think Microsoft would be better at this. Than

[2018-03-29 11:28] #6461 closed

[2018-03-29 11:30] yesoreyeram commented on #6186
Testing your 'fix' and enabling access to 0.0.0.0/0 does indeed allow access to Azure services, along with the rest of the world.  I'm surprised this was your suggestion as it opens a very big security hole by allowing full public access also to the database!.

Can you please review and suggest a fix that is not going to leave my database wide open to the world.

Thanks

[2018-03-29 11:40] jimdial commented on #6430
@PlateSpinner Can you provide additional detail as to what you think is missing or out of date?  The security rules section currently mentions ranges and augmented security rules in the applicable areas, then there's a separate section about augmented security rules. I'm happy to add/change text, if necessary, but need some additional detail from you first.  Thanks.

[2018-03-29 11:41] jimdial commented on #6319
A work item for a full update of this article to address all your issues is in my backlog.  Thanks. #please-close

[2018-03-29 11:42] jimdial commented on #6316
A work item for a full update of this article to address all your issues is in my backlog.  Thanks. #please-close

[2018-03-29 11:42] jimdial commented on #6315
A work item for a full update of this article to address all your issues is in my backlog.  Thanks. #please-close

[2018-03-29 11:52] terpie commented on #6117
@linda33wj :  thanks, now it works!  I've used the built-in 'copy data' as you proposed to create the dataset/pipeline/trigger with scheduling and this one works. I've compared the json code with the one I created before and the difference is in the parameters. So I changed my earlier created dataset/trigger using these parameters and this pipeline works also!

in trigger:
            "parameters"

[2018-03-29 12:10] linda33wj commented on #6117
@terpie great to know! The tumbling window trigger has different system variable name comparing to scheduled trigger, as mentioned at https://docs.microsoft.com/en-us/azure/data-factory/concepts-pipeline-execution-triggers#trigger-type-comparison.

@myusrn hope you can make your case work as well. :)

[2018-03-29 12:12] spottedmahn opened #6463 "Title out of sync w/ Menu in Tree"
will fill out in github...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 836ec1be-7675-d0f1-c861-0520dc3ea01e
* Version Independent ID: c6a2a6f6-57fd-20ae-36f7-b6db1987ebe5
* Content: [Requesting access tokens - Azure AD B2C](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-access-token

[2018-03-29 12:22] Doraken opened #6464 "Little help to generate selfsigned certificate"
From this article and some othe i have write this powershell script to help all in creeation of seflsigned certificats ( and export )

https://github.com/Doraken/CAST-Windows/blob/master/Quick-scripts/ManageCertificates.ps1

i hope that may help someone like this is helping me .

Best Regards

---
#### Détails du document

⚠ *Ne pas modifier cette section. C’est obligatoire pour docs.microsoft.com

[2018-03-29 12:44] bastyuchenko commented on #6442
Maybe I need to handle the last status by myself? Maybe I need to get the last status from DurableFunctionsHubHistory queue using custom logic or using some methods from DurableOrchestrationContext class?

[2018-03-29 12:47] SafiBaqri opened #6465 "Informative post"
I like the way the document itself is open sourced.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d445808-e61d-ccc2-3696-ef3ea109a662
* Version Independent ID: 8a9e706a-c350-1271-dcb8-883e166423b4
* Content: [Create an ASP.NET Core web app in Azure](https://docs.microsoft.com/en-us/azure/app-service/app-service-web-g

[2018-03-29 12:51] sandstheman commented on #6186
Just to add to the issue raised by @yesoreyeram it also appears that upon provisioning mysql, and not setting any firewall rules, i can connect to port 3306 on the given resource url from any network, i might not be able to login but the port is being publicly exposed as far as i can see.

Is this expected behaviour?

[2018-03-29 14:17] vhorne commented on #6436
@molinamelendezj, please assign this one to me.

[2018-03-29 14:18] NCSTman opened #6467 "Multiple Direct Reports group"
I'm not looking for nested Direct Reports, instead using the Direct report of "{OID}" syntax I would like to declare multiple instead, such as: Direct Reports of "{OID1}" -or Direct Reports of "{OID2}" -or ...

In general just trying to see if there's a way to make a group based on multiple different people's direct reports.

Also this is false, I was able to do it (create static group, make team

[2018-03-29 14:22] vhorne commented on #6436
#in-progress

[2018-03-29 14:24] stewartadam opened #6468 "Provide instructions on reconfiguring OMS agent on Linux"
Documentation provides PowerShell for updating config on Windows but no information for Linux.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e1bc14e-2be9-0eba-b68a-e3e266e7949c
* Version Independent ID: c931a6ce-5d85-b6b7-420d-99e2c9ed09d4
* Content: [Managing the Azure Log Analytics Agent](https://docs.microsoft.com

[2018-03-29 14:24] pawankt commented on #6434
@Adam-Smith-MSFT :  I was passing log level for Security from ARM, but dont see Auditsuccess or failed option enabled. But in custom it was showed what i kept in ARM.

<WindowsEventLog scheduledTransferPeriod=\"PT1M\" ><DataSource name=\"Application!*[System[(Level = 1 or Level = 2 or Level = 3 or Level = 4)]]\" /><DataSource name=\"System!*[System[(Level = 1 or Level = 2 or Level = 3 or Level = 4

[2018-03-29 14:38] MGoedtel commented on #6468
@stewartadam - Thanks for opening this issue and calling out this gap in the documentation.  I am going to bug this and work to add this information as soon as possible.  In the meantime, you can reconfigure the agent using the following command-line - /opt/microsoft/omsagent/bin/omsadmin.sh -w <OMS Workspace ID> -s <OMS Workspace Key> -v (-v for verbose logging).  #in-process

[2018-03-29 14:45] mcourter commented on #6308
anything new to report?

From: Cory Fowler [mailto:notifications@github.com]
Sent: Tuesday, March 27, 2018 2:24 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: mcourter <mcourter@epbfi.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] All good until webapp create time. (#6308)

Thanks for following up @ahmedelnably <https://github.com/ahmedelnab

[2018-03-29 14:52] Brenduns commented on #6347
@jecarlsen   Thank you for the feedback and details.    I've worked with our Azure Stack PM for VPN Gateways, who confirmed that the current API version for Azure Stack does not support this at this time. Where Azure brought support for this in March of last year, Azure Stack has adding this support on radar for a future release, but we are not there yet.

The product team has also been aware of t

[2018-03-29 14:57] mcourter commented on #6308
could the problem be the east us location?  I create a new resource group using west Europe and was able to create a web app within it.

From: Cory Fowler [mailto:notifications@github.com]
Sent: Tuesday, March 27, 2018 2:24 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: mcourter <mcourter@epbfi.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs]

[2018-03-29 14:57] pawankt opened #6471 "ARM/API for data sources"
Thanks for simple steps, does we have any API/ARM template to configure datasources in OMS

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75e03cab-8fc5-408c-66ec-f353080eebda
* Version Independent ID: c9d1d562-e428-d439-1831-d7e523a047eb
* Content: [Configure data sources in Azure Log Analytics](https://docs.microsoft.

[2018-03-29 15:03] MicrosoftGuyJFlo commented on #6460
Thanks for catching that. I will remove the link later today.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Wheatley Ind <notifications@github.com>
Sent: Thursday, March 29, 2018 6:57:52 AM
To: MicrosoftDocs/azure-docs
Cc: John Flores; Mention
Subject: [MicrosoftDocs/azure-docs] Dead link (#6460)

In the "Notes" section for App Passwords (https://docs.microsoft

[2018-03-29 15:05] melzoghbi commented on #5717
The third bullet is a confusing.  IoT Edge runtime does work for ARM32 (i know & tried that) but not for ML module article we are talking about in this thread. So this statement is misleading unless we clearly set the ML as an exception :)

First bullet, i am using Linux but not windows. but it is good to have this statement in the article.

Second bullet feedback: This is the root cause of the co

[2018-03-29 15:07] pawankt opened #6472 "Use the Azure portal to collect logs from Azure Storage"
Does we have any ARM template to make these changes instead portal

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 054ac0e1-adad-ddb3-5c60-be8aec7ba4f6
* Version Independent ID: fcf19224-3f8e-a511-aed7-3479046fd971
* Content: [Use blob storage for IIS and table storage for events in Azure Log Analytics](https://docs.mic

[2018-03-29 15:11] chwilfing opened #6473 "Portal Screenshots no longer valid"
The given screenshots are no longer valid as the 'classic' Portal is no longer available. plz update the process to reflect the current way and steps to move subscriptions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65b8cd29-3c9b-6afc-d4fb-256463776002
* Version Independent ID: d905e8f9-49c6-19de-1c43-796efc04003f

[2018-03-29 15:18] davidmu1 commented on #6072
@chrift Engineering is now aware of the issue and will be working on updating the sample. Thank you for bringing this to our attention. For now, we'll close this GitHub issue.

#please-close

[2018-03-29 15:29] Rachitgupta1994 opened #6474 "problems with azure AD response"
Hi. I tried acquire the auth code as mentioned in the docs and it works fine. But when i changed the response_type to 'token', azure ad redirects back to https://abc.com/#access_token=ey...... instead of https://abc.com/?access_token=ey......This is a problem as we are not able to fetch the parameter using Request.params.Get("access_token"). We have used the client id of a native client while gene

[2018-03-29 15:34] yesoreyeram opened #6475 "Mysql / Postgres port is open to the world by default"
I have spinned up a brand new mysql instance with default settings.  Once the instance created, i am able to telnet to the instance and port from a public wifi. I dont think this is expected behaviour.  Could someone clarify? Is this is a bug? Until this is fixed, my security team wont allow to use this product.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2018-03-29 15:37] yesoreyeram commented on #6475
Supporting screenshots given below. Could someone clarify how to fix this secuirty issue?

![image](https://user-images.githubusercontent.com/153843/38098175-3a6674b8-336f-11e8-9598-c7d86e171323.png)

Above screenshot shows that i can telnet to the instance.

![image](https://user-images.githubusercontent.com/153843/38098124-1d4e18c2-336f-11e8-851f-904e33f2bda1.png)

Above screenshot shows that i

[2018-03-29 15:51] neilpeterson commented on #6457
@typik89 - good feedback. We do have a call out on the admin account here:

https://docs.microsoft.com/en-us/azure/container-registry/container-registry-authentication#admin-account

I will incorporate similar content into the ACR > ACS doc.

[2018-03-29 15:51] vhorne commented on #6436
Hi @molinamelendezj,

The host setting is the third setting on the Add health probe page:

![image](https://user-images.githubusercontent.com/15256338/38098848-e232c0a8-332d-11e8-844d-2eec20c144d1.png)

[2018-03-29 15:54] cjgronlund commented on #5278
@th389 Thank you again for this detailed feedback!  @BryanTrach-MSFT
Resolution will be live today around noon PT.
@bradsev @gopitk

[2018-03-29 15:55] cjgronlund commented on #5278
#please-close

[2018-03-29 16:06] davidmu1 commented on #5100
@spottedmahn You can do it outside of AD B2C using this information:

https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-devquickstarts-webapi-dotnet

https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-v2-protocols-oauth-client-creds

But as you know, this would be completely outside of B2C. I have opened an item in our documentation back

[2018-03-29 16:07] tysonn commented on #6424
@cjgronlund Docs have been updated

[2018-03-29 16:07] #6424 closed

[2018-03-29 16:18] Ayanmullick opened #6476 "Powershell equivalent"
What's the Powershell equivalent of "az backup restore restore-disks"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 619ea303-7632-eaf6-c106-838ee2efec8e
* Version Independent ID: 7b0cdc68-58d4-90f3-11e9-c7bf9afb59a1
* Content: [Restore a VM disk with Azure Backup](https://docs.microsoft.com/en-us/azure/backup/tutorial

[2018-03-29 16:25] kraigb commented on #5711
@Adam-Smith-MSFT Can you reassign to @ghogen who is taking ownership of this article?

[2018-03-29 16:32] #5100 closed

[2018-03-29 16:34] mattbriggs commented on #6425
@btshowers Thanks for letting us know. I'm looking into the answer for the cert location, and I'll touch bases with the writer of the script what they meant by catching the error in "log-error." #in-progress

[2018-03-29 16:34] #6347 closed

[2018-03-29 16:35] MicahMcKittrick-MSFT commented on #6349
@HaikoHertes thanks for confirming. I will double check this by running it locally on my machine as well.

Can you try via the cloud shell as well?

[2018-03-29 16:36] tysonn commented on #6367
@iainfoulds - Could you evaluate this feedback calling out a content gap?

[2018-03-29 16:37] jeevansd commented on #5953
@dragan979 Thanks for the understanding.

[2018-03-29 16:43] tiagobpompeo commented on #6333
WindowsAzure.Messaging  package in nuget is out update, last update in 2013????
So, this code above not found to install in pcl project, problem in android api 8.1

[2018-03-29 16:45] MikeRayMSFT commented on #6336
That's a great point - that an cloud witness is better for a new deployment. It's more economical, simpler, and should be more reliable. I have a work item to update the tutorial. I'll also pass back to the product group the requirement for an updated template.

Thanks
#please-close

[2018-03-29 16:49] suhuruli commented on #6090
Will fix this shortly, thanks for the catch!

@mani-ramaswamy FYI.

[2018-03-29 16:54] spottedmahn opened #6477 "Add reference to beta documentation Custom Policies / IEF"
SO Post: [Understanding Custom policy XML tags in Identity Experience Framework in azure AD B2C](https://stackoverflow.com/a/49398812/185123)

The guides are great but they don't describe the DSL that is Custom Policies IMHO.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33489541-1210-69d0-4a45-5ba306d254fc
* Version

[2018-03-29 17:00] chiayenhung opened #6478 "Can't add collaborators"
i was adding a collaborator but he can't see it in his dashboard.
Do I miss something?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f03f7ab5-ddf7-e01e-9d60-a80040935edd
* Version Independent ID: a8e117e6-d21a-3106-ac2f-19e3339375a6
* Content: [Collaborate with other contributors on LUIS apps in Azure](https://docs.mi

[2018-03-29 17:01] ajlam commented on #6186
@yesoreyeram, it's important to note that setting "allow access to Azure services" to "ON" configures the firewall to allow all connections from Azure including connections from the subscriptions of other customers. When selecting this option, make sure your login and user permissions limit access to only authorized users. ref (https://docs.microsoft.com/en-us/azure/mysql/howto-manage-firewall-usi

[2018-03-29 17:02] iainfoulds commented on #6367
Thanks for the suggestion, @akramwaseem . We already have active backlog work items to improve the extensions docs for VMSS, and I've added one for the this OMS request. I don't have a specific ETA as to when this new document would be published, but I'll be sure to review with our PMs in the next docs triage. + @gatneil for visibility.

For now, I'll close out this issue.

#please-close

[2018-03-29 17:05] ajlam commented on #6475
@yesoreyeram, thanks for filing an issue. I will follow up with our team to investigate more.

#in-progress

[2018-03-29 17:05] cherylmc commented on #6464
@Doraken - Nice! I'll add it to the log for docs and send it by the product team. Thank you for sharing this with us!

[2018-03-29 17:09] cherylmc commented on #6464
I'm going to go ahead and close this one. I have it in the doc queue. Thanks again for your help here! #please-close

[2018-03-29 17:32] Meladie opened #6479 "Screen shots on this page are way out of date and steps need to be provided"
The screen shots on this page are way out of date and only have a screen shot with no steps isn't helpful. Please update this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9978285a-74ba-7444-2e27-f645428f30b5
* Version Independent ID: 52d921ee-cdd8-de21-2324-c7e9f98bfc28
* Content: [Boot diagnostics for Windows virtu

[2018-03-29 17:34] jason-j-MSFT commented on #6465
@SafiBaqri Thanks for the nice feedback!

[2018-03-29 17:34] #6465 closed

[2018-03-29 17:41] motanv commented on #5961
Hello Clink92,
Thank you for using Chaos and providing feedback. We shall fix the documentation soon.

For the type load exception, could you please check if the GAC on your machine contains an older System.Fabric.dll which did not get removed perhaps from an earlier installation?

Btw, we are continually adding features to Chaos, in the upcoming release of Service Fabric you should be able to sch

[2018-03-29 17:42] spottedmahn commented on #5464
Another instance of the prompt parameter: [Azure B2C single sign On Doesn't work](https://stackoverflow.com/a/45411190/185123)

[2018-03-29 17:45] douglaslMS commented on #6419
@anilchinnu21 I don't have an explanation for this inconsistency in the Azure portal. If you'd like to provide product feedback, you can return to this same page of the documentation and select the "Give product feedback" button near the bottom.

[2018-03-29 17:46] douglaslMS commented on #6419
#please-close

[2018-03-29 17:47] leikong commented on #5512
Windows credentials assumes you operate in an active directory domain environment, in this client-server scenario, you provide the service principal name of the server side.

Service fabric native code is already on GitHub, managed code will be added in future.

[2018-03-29 17:47] davidmu1 commented on #5464
@spottedmahn Very useful for when we improve our description of the prompt parameter. Thanks!

[2018-03-29 18:12] CarlRabeler commented on #6421
@bonova @jovanpop-msft Do you know the answer to this question?

[2018-03-29 18:12] fliang-ms opened #6483 "Dv2-series section table is completely messed up. Could you please fix it as early as possible?"
Dv2-series section table is completely messed up. Could you please fix it as early as possible?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9bb1d37c-6337-0906-42ff-b5dbc6afdc8b
* Version Independent ID: 72a96e16-1d2d-4c01-45be-3caf82470592
* Content: [Azure Windows VM sizes - General purpose](https://docs.microsoft.

[2018-03-29 18:24] SamirFarhat opened #6484 "Documents are not shown when running the the cosmos DB emulator under an alternat port"
When starting the cosmos db emulator using an alternate port, the documents are not shown, and loads indefinitely.
when i try to create a new document, the following error is raised.
The MAC signature found in the http request is not the sane as the computed signature....

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2018-03-29 18:27] bumblebee333 commented on #6165
Yes, I was able to get it working. It could have been because I had a # in my querystring and that caused it to partially send it.  I also noticed during remote debugging, if the time taken is greater than 60 seconds EventGrid sends another message. I am assuming that is the redundancy built in.

Following is the middleware class I wrote:

` public class SimpleTokenAuthMiddlerware
    {
        pr

[2018-03-29 18:28] Mike-Ubezzi-MSFT commented on #6446
@hisasima Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-03-29 18:29] andrewkittredge commented on #6411
https://docs.microsoft.com/en-us/azure/cloud-services/cloud-services-dotnet-install-dotnet

[2018-03-29 18:30] kgremban commented on #5844
Hi @dtjensen have you done any troubleshooting to determine if you can run the dotnet new command for other templates? (dotnet reference: https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-new?tabs=netcore2x) Also, are you seeing failure in the "dotnet new -i Microsoft.Azure.IoT.Edge.Function" command or the "dotnet new aziotedgefunction" command?

@MicahMcKittrick-MSFT I tested both of the

[2018-03-29 18:32] dtjensen commented on #5844
@kgremban I was able to create a new "FilterModule" using dotnet new, just not the function module

[2018-03-29 18:32] jason-j-MSFT commented on #6444
@dcbrown16
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-29 18:33] jason-j-MSFT commented on #6447
@npiasecki
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-29 18:34] jason-j-MSFT commented on #6449
@chakrarp
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-29 18:34] MicrosoftGuyJFlo commented on #6460
@wheatleyind I have updated the doc in our private repo and will get it published shortly. Should publish later this afternoon or by tomorrow at the latest.

[2018-03-29 18:35] jason-j-MSFT commented on #6451
@kazshi
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-29 18:35] jason-j-MSFT commented on #6453
@sileniced
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-29 18:36] jason-j-MSFT commented on #6456
@hauszerm
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-29 18:36] mattchenderson commented on #6246
I believe that example was just updated from a community pull request: https://github.com/MicrosoftDocs/azure-docs/pull/6233

There were definitely issues with function.json. Does the new version seem like it works for you?

[2018-03-29 18:36] jason-j-MSFT commented on #6463
@spottedmahn
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-29 18:36] mattchenderson commented on #6253
I believe this is fixed by https://github.com/MicrosoftDocs/azure-docs/pull/6233

[2018-03-29 18:37] jason-j-MSFT commented on #6471
@pawankt
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-29 18:37] mattchenderson commented on #6401
@cephalin is working on this.

[2018-03-29 18:37] jason-j-MSFT commented on #6472
@pawankt
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-29 18:39] jason-j-MSFT commented on #6476
@Ayanmullick
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-29 18:39] jason-j-MSFT commented on #6477
@spottedmahn
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-29 18:42] baywet commented on #6253
Yes. Thanks!

[2018-03-29 18:42] #6253 closed

[2018-03-29 18:44] baywet commented on #6246
Yes it does thanks!

[2018-03-29 18:44] #6246 closed

[2018-03-29 18:52] MatLeger opened #6485 "Wrong URI is used for POST examples of "Access token request with a shared secret" and "Access token request with a certificate""
For obtaining an application token with client_credentials the examples should be:

POST /{tenant_id}/oauth2/v2.0/token HTTP/1.1

instead of:

POST /common/oauth2/v2.0/token HTTP/1.1

If you post to "common" then the token will come back with the wrong tid claim and will not have an oid. If you then try to use that token to access the API you'll probably get the following error:
"Authroization_Ide

[2018-03-29 18:58] markgalioto commented on #6476
#in-process

[2018-03-29 19:05] ghogen commented on #5711
Yes, please assign to me.

[2018-03-29 19:10] Mike-Ubezzi-MSFT commented on #5878
@royaza We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-29 19:13] Mike-Ubezzi-MSFT commented on #6318
@simorjay We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-29 19:13] #6318 closed

[2018-03-29 19:20] spottedmahn opened #6487 "Add reference to Gimly/NetCoreAngularAzureB2CMsal under SPA"
https://github.com/Gimly/NetCoreAngularAzureB2CMsal

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 245ef8a4-a811-19b7-676c-aa9b82e2126f
* Version Independent ID: ad2ec743-2aa7-b3c7-3350-2986a78d7c90
* Content: [Cloud identity management web and mobile apps Azure AD B2C](https://docs.microsoft.com/en-us/azure/active-dir

[2018-03-29 19:21] Adam-Smith-MSFT commented on #6287
@GaryTrembath
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-29 19:21] #6287 closed

[2018-03-29 19:28] Adam-Smith-MSFT commented on #6415
@cloudmelon Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-03-29 19:28] MicahMcKittrick-MSFT commented on #6442
@bastyuchenko thanks for reaching out. Seeing as your question is more in line with how to assistance outside of this particular doc I would suggest posting it on Stack Overflow:

https://stackoverflow.com/questions/tagged/azure-service-fabric

We have a thriving community there that should be able to assist you in impimenting your design. Once posted feel free to post the link to your question he

[2018-03-29 19:28] #6442 closed

[2018-03-29 19:29] Mike-Ubezzi-MSFT commented on #6446
@yushwang It appears the link "BGP across the VPN tunnel" links back to the same document but should instead, link to the **Configure BGP for a VPN gateway** > [Azure PowerShell](https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-bgp-resource-manager-ps) -or- [Azure CLI](https://docs.microsoft.com/en-us/azure/vpn-gateway/bgp-how-to-cli) instructions.

![screenshot 60 _li](https://user-

[2018-03-29 19:33] MicahMcKittrick-MSFT commented on #6451
@kazshi it looks like since they are enabled to move between resource groups but not between subscriptions is why it is listed under Services that can be moved:

<img width="338" alt="image" src="https://user-images.githubusercontent.com/32313503/38109516-39718cb8-334d-11e8-9de2-3a80b5d711ed.png">

That being said, I do see that this category states

If anything, I would think this label should be

[2018-03-29 19:38] Adam-Smith-MSFT commented on #6264
@KeiroKamioka0000 the backups would be kept depending on the retention period of time that is chosen, more info is as follows:

"There is a cost associated with leaving the recovery points in storage. However, the benefit of leaving the recovery points is you can restore the virtual machine later, if desired. For information about the cost of leaving the recovery points, see the pricing details. I

[2018-03-29 19:42] Mike-Ubezzi-MSFT commented on #6455
@MikeRayMSFT There is a verified solution documented by [Microsoft Support](https://support.microsoft.com/en-us/help/2847723/cannot-create-a-high-availability-group-in-microsoft-sql-server-2012) that verifies/confirms the solution. The documentation content should be updated.

[2018-03-29 19:50] MicahMcKittrick-MSFT commented on #6349
@HaikoHertes I tested using my local CLI and I got the same error as you are seeing.

Can you please try via [Azure Cloud Shell](https://docs.microsoft.com/en-us/azure/cloud-shell/overview) and let me know the results?

@neilpeterson any thoughts on this?

[code]
I can pull up the correlation ID on the backend but figured worth an ask before I do.

[2018-03-29 19:51] afrance commented on #6219
Thanks, this now falls in line with what both o365 and opsgenie are
expecting.

On Thu, Mar 29, 2018 at 12:22 PM, Jeevan Desarda <notifications@github.com>
wrote:

[2018-03-29 19:53] jason-j-MSFT commented on #6278
@MightKamioka After using 40 hours of Video Indexer, you will no longer be able to upload videos for processing.  However, if you subscribe to the API, you will be able to use 400 hours:
https://docs.microsoft.com/en-us/azure/cognitive-services/video-indexer/video-indexer-use-apis#subscribe-to-the-api

[2018-03-29 19:56] jeevansd commented on #6219
@afrance Thanks for the confirmation. Now we will close this ticket.
#please-close

[2018-03-29 20:03] mattrowmsft commented on #5902
#please-close You can reopen if needed.

[2018-03-29 20:05] Mike-Ubezzi-MSFT commented on #5902
@xela30 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-29 20:06] melzoghbi commented on #5717
Awesome work @kgremban. this statement is clear to everyone:
"The Azure Machine Learning module does not support ARM processors."

Thanks a lot.

[2018-03-29 20:06] #5717 closed

[2018-03-29 20:09] MohitGargMSFT commented on #6467
@NCSTman Please note that this statement in document "Microsoft Teams does not yet support Dynamic Group Membership" refers to Office 365 product [Microsoft Teams](https://products.office.com/en-us/microsoft-teams/group-chat-software). I just want to get clarification that you were able to achieve Dynamic Group Membership for Microsoft Teams Product.

[2018-03-29 20:13] jeevansd commented on #6263
@new-kirte We have worked with Facebook team and this is the answer we got. We will also include this in our documentation so that other customers will also get the guidance of this.

Facebook has two products, Workplace Standard (free) and Workplace Premium (paid). Any Workplace Premium tenant can configure SCIM and SSO integration with no other implications to cost or licenses required. SSO and

[2018-03-29 20:14] jeevansd commented on #6263
@chetansriv and @v-nagta Can you please add this licensing note to our Workplace by Facebook article?

Facebook has two products, Workplace Standard (free) and Workplace Premium (paid). Any Workplace Premium tenant can configure SCIM and SSO integration with no other implications to cost or licenses required. SSO and SCIM are not available in Workplace Standard instances.

[2018-03-29 20:18] larryms opened #6488 "Instructions reference old cli & asm mode"
This document shows examples which use 1) the 1.0 xplat cli ("azure"), and 2) asm mode.  Both of these are deprecated.  Document should be updated to reflect newer cli and arm mode.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34c16b61-15ac-f9ad-f001-ecf223074dea
* Version Independent ID: 6cef5cf6-b524-e70f-5882-f530

[2018-03-29 20:19] jeevansd commented on #5850
@MohitGargMSFT You have to use the scoping filter to do that. Check the Provisioning UI and use Scoping filter where you can scope users with some condition like sub domain or different domain etc.

[2018-03-29 20:23] mrbullwinkle commented on #6144
#please-close

[2018-03-29 20:49] ananthrajagit opened #6489 "dev"
Settings->Required Permissions->
Click Grant Permissions and click ok

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 692852cd-11a6-1d6b-9540-caec9d0f14a4
* Version Independent ID: 4c376561-6015-6dab-e23e-feffe74ccc8b
* Content: [Authorize developer accounts by using Azure Active Directory - Azure API Management](https:

[2018-03-29 21:17] myusrn commented on #6117
@linda33wj & @terpie

I used the adfV2 overview | let's get started | copy data wizard and followed the instructions in https://docs.microsoft.com/en-us/azure/data-factory/copy-data-tool#filter-data-in-an-azure-blob-folder link shared earlier to swap out browser + choose selected specific file with a datetime parameterized blob storage source folder/file setting.  I also confirmed that the "run re

[2018-03-29 21:37] yadcam opened #6491 "Higher Throttle Limits"
This is just a question, to who or where should I contact regarding the need of a higher Throttle Limit?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d31545e-0af5-dd52-d28b-7507a2288f36
* Version Independent ID: 85ee6742-06ad-9379-a8f2-6f83d1a168cb
* Content: [Azure Key Vault throttling guidance](https://docs.micros

[2018-03-29 21:39] oilerhead opened #6492 "Misspelling - Mannually"
"second administrator account to join Azure AD mannually." Manually is misspelled.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec82f0e4-0094-5d72-44f8-de52afad4e8a
* Version Independent ID: 5011e419-85d7-d003-1522-0e4f18135400
* Content: [How to deploy Windows 10 on Azure with Multitenant Hosting Rights](https://doc

[2018-03-29 21:40] sabrinasmai opened #6493 "Typo"
"2. On the left pane, select the Folder icon to open the Files list for your project. Expand the aml_config folder."

There is a typo on the word "panel".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f31ca49-7462-b30f-2c28-e3955f1ea753
* Version Independent ID: 54e1c15c-fb8e-7c88-2a3f-314397600dde
* Content: [Build

[2018-03-29 21:42] hisasima commented on #6446
Hi

I am CSS Azure Network team in Japan.
Alias is ishiyam.

I predict ASA can not use BGP for VPN.
Because senior engineer answer that in Teams for CSS network POD.

If there is that sentence in ASA sample page, some people would be wrong.

I hope that sentence delete.

Regards,
Isato

--- notifications@github.com wrote:

[2018-03-29 21:48] rowong opened #6494 "Example with ARM template"
Is there an example of how to create a VM from a managed image via ARM template?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c95cf419-74ae-f6d1-5c3e-01f988fdd9c4
* Version Independent ID: 6dfe7480-2c45-2be9-3f3d-8ee97f62cc62
* Content: [Create VM from a managed image in Azure](https://docs.microsoft.com/en-us/azure/

[2018-03-29 21:49] Juliako commented on #6258
@adamchester, the update is now live: I added the following paragraph:

 The following script uses properties that appear in {{property}}. To learn about properties and how to use them in API Management policies, see this topic.

[2018-03-29 22:00] terpie commented on #6117
q1. yes
q2. unactivate and activate trigger does not work to rerun the whole period again. It seems the trigger keeps track of which day.csv file are processed successfully. I am trying to find a way how to clear/reset the trigger so I can process the whole period again. Maybe @linda33wj  knows?
q3. yes, it just runs the pipeline for one day where you have to enter the pipeline parameters
q4. you

[2018-03-29 22:06] #6144 closed

[2018-03-29 22:07] #6493 closed

[2018-03-29 22:08] MohitGargMSFT commented on #6474
@Rachitgupta1994 I understand that the steps you followed in document works as expected.

I request you to open a Stackoverflow thread with azure-active-directory tag so that online community can help with your scenario. Below is the link to Stackoverflow for your reference -

[https://stackoverflow.com/](https://stackoverflow.com/)

[2018-03-29 22:14] MohitGargMSFT commented on #6477
@spottedmahn I have assigned the issue to the author to investigate and update as appropriate.

[2018-03-29 22:27] tfitzmac commented on #5647
@amanarneja  - do you know if this issue has been transferred to the portal team?

[2018-03-29 22:28] MicahMcKittrick-MSFT commented on #6478
The contributor your added should not see the app under the Dashboard. Rather, you should add them as a contributor as descripted in the doc. After that they login to their LUIS account and can select My Apps at the top of the screen:

<img width="547" alt="image" src="https://user-images.githubusercontent.com/32313503/38116571-99111964-3365-11e8-805e-fcbdb03ae982.png">

From there, they will be a

[2018-03-29 22:30] MicahMcKittrick-MSFT commented on #6397
and to confirm, have you first enabled the admin account?
https://docs.microsoft.com/en-us/azure/container-registry/container-registry-authentication#admin-account

@neilpeterson would you happen to have any feedback on this?

[2018-03-29 22:47] MicahMcKittrick-MSFT commented on #6479
@Meladie Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-03-29 22:49] neilpeterson commented on #6397
@MicahMcKittrick-MSFT thanks for working this issue this far. The authentication between AKS and ACR is something that the team is working to improve :).

Feel free to assign this issue to me and I can support.

[2018-03-29 22:49] MicahMcKittrick-MSFT commented on #6483
@fliang-ms thanks for pointing this out! I have assigned it to the content author to update.

[2018-03-29 22:54] adamchester commented on #6258
Looks good, thanks @Juliako!

[2018-03-29 22:54] #6258 closed

[2018-03-29 22:57] MicahMcKittrick-MSFT commented on #6397
thanks Neil!

[2018-03-29 22:58] aaronsteers opened #6497 "Incorrect instructions for creating ADLS account"
The identical instructions were given for creating an ADLS and ADLA account.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7a02eff-2b2c-48d7-33ca-cf29f9bfe995
* Version Independent ID: d1cf5210-e62e-bb9f-e1ff-5134c06fe272
* Content: [Manage Azure Data Lake Analytics using Python](https://docs.microsoft.com/en

[2018-03-29 22:59] jason-j-MSFT commented on #6489
@ananthrajagit Thanks for the feedback?  Could you clarify what step or where in the document you are referring to?

[2018-03-29 23:02] MicahMcKittrick-MSFT commented on #6488
@larryms Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@timlt I have assigned this to you as it seems I am not able to assign to @vlivech

[2018-03-29 23:04] jason-j-MSFT commented on #6484
@SamirFarhat
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-29 23:04] jason-j-MSFT commented on #6485
@MatLeger
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-29 23:05] jason-j-MSFT commented on #6487
@spottedmahn
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-29 23:05] jason-j-MSFT commented on #6491
@yadcam
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-29 23:05] jason-j-MSFT commented on #6492
@oilerhead
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-29 23:05] jason-j-MSFT commented on #6494
@rowong
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-29 23:06] jason-j-MSFT commented on #6497
@aaronsteers
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-29 23:06] MicahMcKittrick-MSFT commented on #6492
@oilerhead I have submitted the change. Thank you for the heads up!

Once the merge is complete this issue will automatically close.

[2018-03-29 23:12] MicahMcKittrick-MSFT commented on #6494
@rowong these should help:

https://github.com/Azure/azure-quickstart-templates/tree/master/201-vm-custom-image-new-storage-account

https://stackoverflow.com/questions/46004747/azure-how-to-deploy-vm-from-managed-image-with-arm-template

As mentioned in the above SO link, you just take a regular VM arm template and replace storageProfile with this:
[code]

I will close this but if you do not feel

[2018-03-29 23:21] #6492 closed

[2018-03-29 23:26] MicahMcKittrick-MSFT commented on #6494
@rowong thanks for the additional information. I will assign this to the content author to review and consider adding that tutorial to the doc :)

@cynthn can you please take a look?

[2018-03-29 23:29] Adam-Smith-MSFT commented on #6409
@lafourit This will require some deeper analysis. Can you please file a support request @
https://aka.ms/azsupt? If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Doc/Issue as well as your subscription ID and we can help get the support ticket opened for this issue.

[2018-03-29 23:32] #6409 closed

[2018-03-29 23:34] mbenko commented on #6373
Thanks, this helps!

Sent from my Windows Phone
________________________________
From: Tom FitzMacken<mailto:notifications@github.com>
Sent: ‎3/‎29/‎2018 5:23 PM
To: MicrosoftDocs/azure-docs<mailto:azure-docs@noreply.github.com>
Cc: Mike Benkovich<mailto:mbenko@benko.com>; Mention<mailto:mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Show how to add other resources that are no

[2018-03-29 23:35] tfitzmac commented on #6137
@DavidHBallantyne - After reviewing this article, I feel like the Cloud Shell portion is too much of detour from the main intention of creating a template. So, I am going to remove that content from this article. Instead, I will direct people to [Deploy resources with Resource Manager templates and Azure CLI](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-template-dep

[2018-03-29 23:37] Adam-Smith-MSFT commented on #6356
@Skarakkattil Could you post your question in https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=windowsazuredata
This question requires in depth troubleshooting and additional questions. It will be more appropriate for the forums channel since it's not related to the documentation.

[2018-03-29 23:37] #6356 closed

[2018-03-29 23:58] navyasric commented on #6103
@thiagonevesuf I was unable to reproduce this issue and ran the sample successfully from Eclipse for Java EE development using Tomcat server 9.0. This seems to be an error from the Tomcat server and could be the way you ran the project in the IDE. Please try importing the .war file into Eclipse IDE and run using a Tomcat server. If you can get an error message more specific to the library or sampl

[2018-03-30 00:04] chiayenhung commented on #6478
He can't see the app in his "My apps" either

[2018-03-30 00:04] jspaith commented on #5396
@smoms - are you running this command from Powershell ISE or (I haven't verified) Visual Studio code by any chance?  In ISE  what happens is openssl wants to interact with the console but ISE doesn't like that very much.  If you run in a true PowerShell window this issue should go away.

[2018-03-30 00:08] MicahMcKittrick-MSFT commented on #6478
You are the owner of the App correct?

I would check to ensure you added the correct email address:

<img width="844" alt="image" src="https://user-images.githubusercontent.com/32313503/38118994-7eba42da-3373-11e8-8dde-be991a152b5d.png">

and make sure that that is the same email address he is using to sing into LUIS.

We just followed the steps in this document and were able to see the app withou

[2018-03-30 00:14] BryanTrach-MSFT commented on #6260
@tmfahim Since we haven't heard back from you we hope the issue is resolved. We will close this thread at this time. If you are still having issues, please tag me in a reply and we can reopen the thread.

[2018-03-30 00:14] #6260 closed

[2018-03-30 00:37] MGoedtel commented on #6329
This issue is resolved and the updated FAQ article with correction was published earlier today.  #close

[2018-03-30 00:39] dcbrown16 commented on #6329
Thanks again.

[2018-03-30 00:39] #6329 closed

[2018-03-30 00:44] Mike-Ubezzi-MSFT commented on #6484
@SamirFarhat Can you confirm which region you are deployed to? I am finding older posts that indicate this issue occurs in specific regions per a [Stack Overflow](https://stackoverflow.com/questions/28723398/azure-documentdb-the-mac-signature-found-in-the-http-request-is-not-the-same-a) post.

So, the best course of action might be to reach out to the following email with your log files ([collect

[2018-03-30 00:58] mrbullwinkle commented on #6120
@MicahMcKittrick-MSFT can you modify the label on this one to doc-enhancement request? The applicationinsights.config file only applies to apps targeting the full .NET framework so technically the doc instructions are correct, but I agree with @cecilphillip its not always clear what works for each SDK and it would be nice to have coverage for .NET Core as well so I will add that to the doc.

@ceci

[2018-03-30 01:06] ebragas opened #6498 "Explain user-defined operator concepts"
This article would benefit from an explanation of UDOs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1e490c1-d4db-f006-6bf6-d39d7bb7bc3e
* Version Independent ID: c68fc823-e371-d4d1-6429-d9296026479d
* Content: [Develop U-SQL user-defined operators (UDOs)](https://docs.microsoft.com/en-us/azure/data-lake-analytics/da

[2018-03-30 01:08] thuansoldier opened #6499 "Update shared responsibility"
Some PaaS services are incorporating with network for example Azure App Service Environment (dedicated virtual network), or Azure Storage and Azure SQL Database (service endpoint to control inbound).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e97e5ffd-b094-f193-058b-03647ece4bb8
* Version Independent ID: 81fca061-3

[2018-03-30 01:13] MohitGargMSFT commented on #6467
@NCSTman Thanks, please share on how you did achieve Dynamic Group Membership for MSFT Teams Product and it could be document enhancement opportunity for us. I have assigned the issue to the author to further investigate and update as appropriate.

[2018-03-30 01:25] BryanTrach-MSFT commented on #6130
@sreelekhaWoonna I tried to reproduce this issue today but I was unable to. Please note that the feature 'high throughput' is currently in preview state so updates are made frequently.

Steps taken to reproduce:
1. I set the high throughput value to 'on' in the portal and saved the page.
2. Went to Visual Studio 2017 (15.6.4) and right clicked my logic app in the cloud explorer blade. I then selec

[2018-03-30 01:28] tvperez76 opened #6500 "Managed Service Identity"
Is it possible to use MSI from within a Windows container hosted on Service Fabric?  Is so, can you please provide the steps necessary to activate this feature.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7df6f76-be53-ff44-5d81-aa1c2c2a1c51
* Version Independent ID: 9e3b3112-bcd1-cee5-48ed-69e3debbd5a3
* Content: [

[2018-03-30 01:32] BryanTrach-MSFT commented on #6308
@mcourter Can you verify that when running the below command that the myAppServicePlan2 is located in the AppServicePlan2? It's possible that the East US App Service Plan was located in the same RG that you were trying to create the web app, which might be why that worked for you.

az webapp create --resource-group **myResourceGroup2** --plan **myAppServicePlan2** --name chattanooga --deployment-l

[2018-03-30 01:32] myusrn commented on #6117
@terpie thanks for those details that helps.

wrt q2. I found a similar experience with adfV1 in that if I managed to pause/stop and restart an existing pipeline definition it was remembering what was executed on prior pass(es) and simply trying to execute what hadn't gotten finished in prior runs or had been in waiting to execute states.  With adfV1 I could only seem to get a pipeline/trigger set

[2018-03-30 01:49] linda33wj commented on #6415
@Adam-Smith-MSFT please assign to @sharonlo101

[2018-03-30 01:50] linda33wj commented on #6118
Seems no further reply on issues.
#please-close

[2018-03-30 01:54] #6118 closed

[2018-03-30 02:04] pankajisgarg opened #6502 "Exception in UWP app"
When i try to use same code in a UWP app, await Client.GetTwinAsync(); throws following exception.
I have tried on two different machine but same error, even calling OPenAsync results in same exception.

{System.IO.FileNotFoundException: Could not load file or assembly 'System.Net.Security, Version=4.0.1.2, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'. The system cannot find the file specifie

[2018-03-30 02:11] genlin commented on #6384
The article is updated:

https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-troubleshoot-site-to-site-cannot-connect

#Please-close

[2018-03-30 02:19] BryanTrach-MSFT commented on #6334
@Michaelvsk We have updated the links. The changes should go live within the next day. We'll close out this thread now. Please reopen the thread if there are further issues regarding this matter.

[2018-03-30 02:28] mcourter commented on #6308
I sent a screenshot of my resources that showed what you asked me to verify.  If you are able to view screen shots - short answer- yes I verified.

		Get Outlook for iOS

On Thu, Mar 29, 2018 at 9:32 PM -0400, "Bryan Trach" <notifications@github.com> wrote:

@mcourter Can you verify that when running the below command that the myAppServicePlan2 is located in the AppServicePlan2? It's possible that

[2018-03-30 02:41] genlin commented on #6473
@chwilfing Thanks for pointing out the problem. I will update the article.

[2018-03-30 02:42] #6334 closed

[2018-03-30 02:45] BryanTrach-MSFT commented on #6352
@cloudmelon Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

The Azure community does have the ability to edit documents. Please see the following link for guidance: https://github.com/MicrosoftDocs/azure-docs

[2018-03-30 02:49] BryanTrach-MSFT commented on #6447
@npiasecki This might be more advanced than what the document is trying to achieve. We have requested the doc author to review your feedback and make any necessary changes. Thank you for the feedback.

[2018-03-30 02:51] dcbrown16 commented on #6384
Great, thanks @genlin !

[2018-03-30 02:51] #6384 closed

[2018-03-30 02:54] BryanTrach-MSFT commented on #6450
@TechnicallyWilliams I am able to browse to your web app using the following format: sitename.azurewebsites.net. Replace sitename with the site that you listed in your original post.

(Please note we removed your site name from your post to protect your privacy.)

Let us know if you are able to resolve the issue.

[2018-03-30 03:10] myusrn commented on #6117
I tested how to get a tumbling window trigger enabled pipeline like this to re-run the entire date range and what I found I had to do was de-activate and delete the existing trigger and recreate it for things to re-run.  From a product documentation perspective it might be helpful to have this documented in the appropriate place and from a product design perspective it would be nice to have a "ref

[2018-03-30 03:15] aaronsteers opened #6504 "Page does not exist: Reference > Pythyon"
In the left-hand navigation pane, if I select "Reference" and click "Python", I'm taken to a page that says "page does not exist".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f1aa62c-6473-924c-4c76-4467d295fec9
* Version Independent ID: c65ad36c-c8f3-725f-62ab-d19937f17cfe
* Content: [Get started with Azure Data La

[2018-03-30 03:16] TechnicallyWilliams commented on #6450
The problem remains.
**Does not work** : mysitename.azurewebsites.net (service unavailable 503 error)
**Works** :  mysitename.scm.azurewebsites.net

Thanks

[2018-03-30 03:22] jgallucci32 opened #6506 "DNS delegation clarification"
The documentation does not clearly state it, but my understanding is the DNS delegation should be to the External Domain Name (cloud.fabrikam.com) and not the FQDN (east.cloud.fabrikam.com).  The example for DNS delegation should align with the naming at the top of the article. It might be helpful to add a note saying to use the External Domain Name and to NOT include the region (this was how we w

[2018-03-30 03:36] tysonn commented on #5874
@Sara-Nicolini - Sara, this appear to be a translation quality issue the localization team needs to follow up on.

[2018-03-30 03:39] tysonn commented on #5874
@genlin - The loc team should handle the fix, but if you want to submit a fix directly against the Chinese repos, you can find them in this list https://github.com/search?q=org%3AMicrosoftDocs+azure-docs.

[2018-03-30 05:11] Rachitgupta1994 commented on #6474
I have posted the question. There may be a workaround. Still don't you think this is something that should be corrected from the Azure AD end instead of people going for workarounds.

[2018-03-30 05:41] hpsin commented on #6474
Hi,
The implicit flow for oauth 2.0 uses a fragment to return the token. Please
see RFC 6749 section 4.2.2 for the specifics of the request. We cannot
change from this behavior, but if you look up the implicit grant type you
can find examples of extracting the parameters from the fragment.

Thanks,
Hirsch

On Thu, Mar 29, 2018, 10:11 PM Rachitgupta1994 <notifications@github.com>
wrote:

[2018-03-30 06:10] #6464 closed

[2018-03-30 06:11] #6367 closed

[2018-03-30 06:11] #6336 closed

[2018-03-30 06:12] #6319 closed

[2018-03-30 06:12] #6316 closed

[2018-03-30 06:12] #6315 closed

[2018-03-30 06:12] #6312 closed

[2018-03-30 06:13] #6224 closed

[2018-03-30 06:13] #6193 closed

[2018-03-30 06:13] #6191 closed

[2018-03-30 06:14] #6072 closed

[2018-03-30 06:14] #5886 closed

[2018-03-30 06:14] nnasaki opened #6509 "How to integrate with PowerBI?"
I would like to integrate slow query log with PowerBI. Or I currently have dropped the slow query log manually from the portal. Is there a good way to automate this task?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30ce61fa-5995-003b-f0ad-3b5157029b3a
* Version Independent ID: 518532a1-e0bc-aa84-8772-cc48aeac58fd
*

[2018-03-30 06:14] #5234 closed

[2018-03-30 06:47] genlin commented on #6473
@chwilfing I just verified the steps and screenshots about how to transfer the subscription.  These steps need be performed from [Azure Account Center](https://account.windowsazure.com/Subscriptions), not Azure classical portal. [Azure Account Center](https://account.windowsazure.com/Subscriptions) is still available. Let me know if there is any misunderstanding.

[2018-03-30 07:24] niceysj opened #6510 "Could I have a size customizing???"
Please let me know this.
I want a dedicate size only appear the menu.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab1df1a4-dba7-3a66-dce4-88028f9b663d
* Version Independent ID: f7ec02a5-b2db-3759-935f-a4f3f1f57649
* Content: [Virtual Machine sizes supported in Azure Stack](https://docs.microsoft.com/en-us/azure/azure

[2018-03-30 07:55] typik89 commented on #6457
Hi, Neil. I meant that using admin account doesn't work for me. You can see in details  on stackoverflow https://docs.microsoft.com/en-us/azure/container-registry/container-registry-authentication#admin-account. I wrote all commands which were used by me.

[2018-03-30 08:18] typik89 commented on #6397
Hi, Neil! The script works and shows me password. But what should I do if I would like to reset password because there are situations when it must be done for security reasons? I can forget a password or password can be leaked. Do I have only one way in these cases and is this creating new service principal?

[2018-03-30 08:19] mrdfuse opened #6512 "nginx across multiple namespaces"
It might be useful to expand the example just a little bit to have the different pods in different namespaces? Since in real life this will be probably be the case for most people, and as with all things related to kubernetes/ingress/nginx it is (too) hard to find the correct documentation about how to configure anything beyond the most simple example. If the pods are spread across multiple namesp

[2018-03-30 08:24] chwilfing commented on #6473
Sorry but I had the transfer to a different directory in mind an you're right - the ownership transfer happens in this portal but the directory transfer happens in the new portal. sorry for the confusion, you're absolutly right.

[2018-03-30 08:24] #6473 closed

[2018-03-30 08:27] cocowalla opened #6513 "Maximum session ID length and allowable characters"
From trial and error, it seems the maximum allowable session ID length is 129 characters, and there are also restrictions on which characters are permitted. It would be nice to add these limitations to this page, so we didn't have to guess :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17b26254-ce8c-76eb-c3e9-b80c3e

[2018-03-30 08:27] #6457 closed

[2018-03-30 08:43] pvn2266 commented on #5627
@dougeby could you please help me on this?

[2018-03-30 08:44] genlin commented on #6473
@chwilfing Not a problem. I will review other articles to make sure that the classic related steps are updated.

[2018-03-30 08:53] genlin commented on #5406
@MartijnSpi as Jlian said, the "set co-admin by right-click" feature is not applied to CSP subscriptions. I will add this information in the article.  We will process to close this thread now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

#please-close

[2018-03-30 09:13] amlenduc opened #6514 "Couldn't find any parameter containerSasToken"
New-AzureRmResourceGroupDeployment command doesn't support containerSasToken paramter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ec87df7-43e5-2d11-3546-9f338534e560
* Version Independent ID: c5319e4e-7d0c-6c94-b53e-6689f2d041c2
* Content: [Link templates for Azure deployment](https://docs.microsoft.com/en-us/azure

[2018-03-30 09:17] SamirFarhat commented on #6484
Hi,

My problem is with the emulator and not CosmosDB on Azure. I'm based in France (time zone problem?)

Samir

[2018-03-30 09:54] Flodu31 opened #6515 "Error when creating the AD App"
Cannot bind parameter 'Password'. Cannot convert the "Tw+n+l|9zwF!aE;ygpw_Te^04I}87/" value of type "System.String" to type "System.Security.SecureString".
At line:1 char:116
+ ... omePage $azureSite -IdentifierUris $azureSite -Password $clientSecret
+                                                             ~~~~~~~~~~~~~
    + CategoryInfo          : InvalidArgument: (:) [New-AzureRmADApplicat

[2018-03-30 10:05] kiranjshetty opened #6516 "Azure Gateway VS 3rd part NVA's for VPN set up"
I want to decide setting up VPN between my Azure Vnet to few of my on-premises small sites ,but we already have 3rd party NVA firewall (From azure Market place) so now customer wants to have VPN setup using NVA itself rather than Azure VPN gateway.Do you have any article which provides Pro's and Con's of setting VPN using 3rd party NVA's rather Azure VPN gateway.

---
#### Document Details

⚠ *Do

[2018-03-30 10:36] terpie commented on #6117
@myusrn In being able to re-run the trigger for the whole data range I was hoping to find something in PowerShell. I am new in area so I just installed the Azure Powershell package and was able to Login into Azure and to run some adf trigger commands like above. So I think this PowerShell is the way to go with json scripts to create/start/stop etc.
BTW I accidently truncated the table so SELECT co

[2018-03-30 12:20] derekschauland opened #6518 "Subnet Requirement Clarification"
The listed subnet minimum size requirement is a /29 for API Management Service deployment. Does this deployment require all 3 IP addresses, or does it use one of the three addresses? I was working to scale up an instance of API Management to the premium tier and the deployment kept failing.  I found another API Management instance was configured to be on the VNet with an Internal configuration - u

[2018-03-30 12:25] ScotStover commented on #6427
@jlian, The first link seems to provide a view of resources already subscribed to. The second is a very manual approach.

We are looking to leverage the capability outlined at https://docs.microsoft.com/en-us/azure/billing/billing-usage-rate-card-overview#azure-resource-ratecard-api-preview

At the link I provided above it outlines the exact use case we are interested in leveraging.

"**Pre-consum

[2018-03-30 12:30] jakzale opened #6519 "Typo in Next steps"
I believe the button/link in next steps should be "AKS tutorial", not "ASK tutorial".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6115d555-45a1-6539-4af6-fbc20a99f008
* Version Independent ID: 21f80c83-ba10-9b7e-c54f-51a9c140517c
* Content: [Quickstart - Azure Kubernetes cluster for Linux](https://docs.microsoft.com

[2018-03-30 12:47] Phydeauxman opened #6520 "Commands don't work"
The az commands to add a private DNS zone do not work.  Throws an error saying --zone-type Private is an unrecognized argument

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d766d17-0650-407e-1aed-d94966ea4932
* Version Independent ID: 0254b3d9-adaf-8292-c3d3-93cb665b7504
* Content: [Using Azure DNS for private domain

[2018-03-30 12:57] madmox opened #6521 "Changing public access level on a blob container resets all access policies"
It's all in the issue title, really. If you configure a few access policies, then change the public access level (say from "no public access" to "public access for blobs only"), then all access policies are removed. Is it an expected behavior?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06b6cadc-f93d-75de-7611-b1e3d

[2018-03-30 13:00] Phydeauxman opened #6522 "Not able to implement with PowerShell or AZ CLI installed on my machine"
When I try to create a Private zone using PowerShell, it gives me an error stating the New-AzureRmDnsZone does not have a parameter matching 'ZoneType'.  I am using version 4.1.1 of the AzureRM.Dns module and 5.4.1 of the AzureRM.Network module.  I also tried it using az cli from my machine locally and failed as well saying "--zone-type Private" was unrecognized.  I was able to take the same az cl

[2018-03-30 13:00] mcourter commented on #6308
no. I created a new RG and plan.  both in western Europe.

From: Bryan Trach [mailto:notifications@github.com]
Sent: Thursday, March 29, 2018 9:33 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: mcourter <mcourter@epbfi.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] All good until webapp create time. (#6308)

@mcourter <https://github.com/mco

[2018-03-30 14:12] Brenduns commented on #6510
@niceysj   Hello.  Can you clarify what your asking for here?  Is it that you would like to see a simpler drop down type list in the portal UI for selecting a virtual machine disk size?  Or are you asking for something specific to the documentation and this article?

[2018-03-30 14:19] varma31 opened #6524 "This is using wrong powershell parameters"
New-AzureRMVM doesn't have availabilitySetname as a parameter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70a77368-ac5d-0699-b327-f5509e18e93e
* Version Independent ID: 04549f86-46b4-c09b-e9ee-24f493e3e76c
* Content: [How to load balance Windows virtual machines in Azure](https://docs.microsoft.com/en-us/azure/virtu