[2020-07-14 08:30] wolfma61 commented on #58896
Ar you using an account URL, instead of Service SAS? Azure Portal only supports to create an account SAS, but not service SAS.  The service SAS must be created via CLI, Storage Explorer or via API.

[2020-07-14 08:32] hpsin commented on #58958
This document is for azure AD, the primary oauth product, and not b2c. Azure AD is not moving to a new login URL, only b2c from your description. These are two unrelated products.

[2020-07-14 08:32] JasSuri commented on #56756
Would the MS graph api docs work?
https://docs.microsoft.com/en-us/graph/auth-v2-user#1-register-your-app

The only thing missing would be the explicit use of the Azure AD Work account in the AAD B2C tenant.

[2020-07-14 08:36] JasSuri commented on #55629
For [page contract v1.2.0](https://docs.microsoft.com/en-us/azure/active-directory-b2c/page-layout#120), with [scriptExecution flag](https://docs.microsoft.com/en-us/azure/active-directory-b2c/javascript-samples#add-the-scriptexecution-element) enabled in the relying party file, it will use jQuery 3.4.1.

[2020-07-14 08:39] stephaneey commented on #58402
Hi @timsander1 ,

Thanks for your answer. That must be the problem indeed. As you know, we can't create physical partitions ourselves and I don't want to fill it up with more than 50GB to get a second one. Anyway, I'll assume that this is indeed the reason.

Thanks
Best Regards

[2020-07-14 08:39] #58402 closed

[2020-07-14 08:39] JasSuri commented on #54956
You can find that here
https://docs.microsoft.com/en-us/azure/active-directory-b2c/user-profile-attributes

[2020-07-14 08:41] JasSuri commented on #53906
It can be done in any directory technically. But **must** be an app of type **"Accounts in any organizational directory"**.

[2020-07-14 08:42] AshokPeddakotla-MSFT commented on #58855
@omki12  Could you please use **$twin.tags.location** instead of **$twin.tags.Location** and see if that makes any difference?

These are the current limitations.

- You can add up to 10 enrichments per IoT Hub for those hubs in the standard or basic tier. For IoT Hubs in the free tier, you can add up to 2 enrichments.

- In some cases, if you are applying an enrichment with a value set to a tag o

[2020-07-14 08:43] JasSuri commented on #53720
There is guidance here on MS Graph API throttling
https://docs.microsoft.com/en-us/graph/throttling

In this scenario of User Migration, MS Graph API would be the only service you would need to keep throttling considerations in mind.

[2020-07-14 08:45] wilwer commented on #57184
Hi, I just had the same issue. ist it possible to create a workaround? E.g. by installing missing packages on the nodes?

[2020-07-14 08:48] anraghun commented on #58564
@VaclavK This is a known issue with Helm 3 and has been called out in the [documentation](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/helm-deploy?view=azure-devops#when-using-helm-3-if-systemdebug-is-set-to-true-and-helm-upgrade-is-the-command-being-used-the-pipeline-fails-even-though-the-upgrade-was-successful) for this task.

Please set the `failOnStderr` input to false

[2020-07-14 08:56] iricigor commented on #58708
Hi, I did not report an issue with command. Command is working as expected.

I reported an issue with **documentation page** that is impacting the guide how to fix issues with key vault after migration to another tenant.

[2020-07-14 08:56] Munyasya commented on #57184
Hi @kgremban @SatishBoddu-MSFT , any update on this?

[2020-07-14 08:57] AshokPeddakotla-MSFT commented on #58929
@olavt It doesn't require any login/authentication to download the releases. I just tried in different browsers and it works without GitHub login/authentication.

![image](https://user-images.githubusercontent.com/44426435/87406183-007fab80-c5de-11ea-855b-785fd9f5a3a7.png)

Please try again in different browsers and report back.

Hope this helps.

[2020-07-14 09:03] VaclavK commented on #58564
@anraghun I see... did not see that.. may I suggest linking that in the demo page?
will try.. thanks

[2020-07-14 09:06] anraghun commented on #58564
@VaclavK Can you provide the link to the page you are referring?

[2020-07-14 09:22] ArneKlein commented on #43248
For everybody who was struggling like me with an ARM template, the solution was 2-fold:
1. Always use a new resource group name, once you had this error (recommended not required, but there were some issues in the past)
2. Make sure, to set the app service to **reserved** as mentioned here https://github.com/terraform-providers/terraform-provider-azurerm/issues/3379, e.g.

[code]

[2020-07-14 09:22] KoenigLear commented on #57462
Apologies, as it turned out this error is unrelated to CORS see here: https://stackoverflow.com/questions/62474636/azure-ad-b2c-cors-errors.    The problem is I tried to update the signin authority with a url copied from Azure.   Instead you have to manually update it.  Which I think is rather cumbersome, in my opinion this should be a copy and paste operation from the azure dialog.    Anyway, hap

[2020-07-14 09:27] screig commented on #52084
I was expecting a bit more, eg some images click here, to do this, do that
etc

But it's your docs

On Mon, 13 Jul 2020 at 20:53, Joe Nelson <notifications@github.com> wrote:

[2020-07-14 09:33] VaclavK commented on #58564
@anraghun see the content field of document details associated with this ticket - or https://docs.microsoft.com/en-us/azure/devops-project/azure-devops-project-aks?toc=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fazure%2Faks%2Ftoc.json&bc=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fazure%2Fbread%2Ftoc.json

this is how I set up the trial pipeline and being pre-warned about the issue would be good for

[2020-07-14 09:36] anraghun commented on #58564
@VaclavK We'll take this into consideration. Did the workaround work for you?

[2020-07-14 09:37] SadiqhAhmed-MSFT commented on #58760
@fire-fly The instructions are given in the link here - https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/cancel-azure-subscription#who-can-cancel-a-subscription if there are any challenges cancelling your subscription, you send mail to AzCommunity [at] microsoft dot com with subject: ATTN: Sadiqh Ahmed include your Azure subscription ID and a link to this GitHub thread (for co

[2020-07-14 09:39] c-lamont opened #58963 "Incorrect code snippet"
For item `9. In AppDelegate.cs, update FinishedLaunching() to match the following code:` the code is not syntactically correct.

It should be:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45afd17d-e909-ccd9-01c3-f746bdf406a2
* Version Independent ID: d2c8cc69-5a37-4c73-d48b-9c058cf4595e
* Content: [Send push n

[2020-07-14 09:45] c-lamont opened #58964 "RegisterNativeAsync has no errorCallback parameter."
In item: `10. In AppDelegate.cs, override the RegisteredForRemoteNotifications() method:`

The `RegisterNativeAsync` function has no error callback parameter. However `RegisterNative` does.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45afd17d-e909-ccd9-01c3-f746bdf406a2
* Version Independent ID: d2c8cc69-5a37-4c73-d

[2020-07-14 09:46] sukesh-ak opened #58965 "Moby Engine install fails on Raspberry Pi 3B"
[Enter feedback here]
Moby Engine install fails on Raspberry Pi 3B with the command mentioned in the article.
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3b8296d-c923-e990-dcad-35ef2b908a2a
* Version Independent ID: 5f85fd7b-f2b6-b3b1-6be2-b6054bb33507
* Content: [Install Azure IoT Edge on Linux](https://doc

[2020-07-14 09:47] frode opened #58966 "Refactor code examples using string interpolation"
[Enter feedback here]

I would like to suggest a code refactor for these lines:

`var kvUri = "https://" + keyVaultName + ".vault.azure.net";`

refactored into

`var kvUri = $"https://{keyVaultName}.vault.azure.net";`

And the next chunk of code refactored into:
[code]

The string interpolation feature is built on top of the composite formatting feature and provides a more readable and convenient

[2020-07-14 09:47] SadiqhAhmed-MSFT commented on #58760
@fire-fly You may try this link - https://account.azure.com/subscriptions, click on Free Trial and on right you will find cancel button, see if that helps.

[2020-07-14 09:51] dtblodgett commented on #58917
It would be helpful if the note also included the name of the app that
needs to be enabled. I still don't know what to enable.

Dave

On Mon, Jul 13, 2020 at 4:52 PM Jeevan Desarda <notifications@github.com>
wrote:

[2020-07-14 09:53] vipulsparsh commented on #58966
@frode  Thanks for the suggestion. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

@msmbaldwin Can you have a look at this ?

[2020-07-14 09:53] KalleOlaviNiemitalo opened #58967 "System.Data.SqlClient transient error documentation confusingly refers to "mySqlConnection""
Seeing "mySqlConnection" here is a bit confusing:

because there is also the **MySqlConnection** class for use with the MySQL database engine, as shown in [Azure Database for MySQL: Use .NET (C#) to connect and query data](https://docs.microsoft.com/en-us/azure/mysql/connect-csharp#connect-create-table-and-insert-data).

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2020-07-14 09:55] SadiqhAhmed-MSFT commented on #58797
@stuartMoorhouse Thanks for the update! Glad to hear it is resolved :)

Closing this issue as no further action required.

[2020-07-14 09:55] #58797 closed

[2020-07-14 09:55] jfle75 commented on #58958
OK, thank you. The Device Code endpoint works fine today with B2C, I guess that will then stop in December 2020.

[2020-07-14 09:55] #58958 closed

[2020-07-14 09:56] dtblodgett commented on #58917
Here is the link to the Box documentation on the error. It sounds like it
may also be an unpublished app that Azure is trying to use/provision. In
that case we would need to know the API key of the app.

https://support.box.com/hc/en-us/articles/360044195053-Disabled-by-Administrator-Cannot-Use-Application

Thanks,
Dave

On Tue, Jul 14, 2020 at 5:50 AM David Blodgett <david.blodgett@gmail.com>
wro

[2020-07-14 10:04] SAIMMINHAS commented on #58774
Well...what you know...

After checking again few hours later, the Tenant is not there anymore. Looks like it's gone now. I had to do few more steps.

Thanks for the help shashishailaj.

I'm now closing this issue.

Regards,
Saim Minhas

[2020-07-14 10:04] #58774 closed

[2020-07-14 10:05] dtblodgett commented on #58917
It's been a long day. I was finally able to use the Box instructions to
find the app client_id.

z3ynzyfsslu3gcvxfkp1x19i6wnso4h2

I'm assuming that app is standard for anyone setting up this integration,
but if not a note on how to find it would be useful.

Thank you,
Dave

On Tue, Jul 14, 2020 at 5:56 AM David Blodgett <david.blodgett@gmail.com>
wrote:

[2020-07-14 10:10] Johnnytechn opened #58968 "Application Insights resource - Under Configure in the portal, can not find Performance Testing feature."
From the Azure portal, I can not find Performance Testing feature in a Application Insights resource. Is the Performance Testing feature currently available in the portal? Please help check this [doc](https://docs.microsoft.com/en-us/azure/azure-monitor/app/performance-testing).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-07-14 10:11] olavt commented on #58929
Ok, I think the authentication is triggered since I'm logged in with a Github account associated with Microsoft. I tested it in a private browser session not logged into Github and then it doesn't happen.

[2020-07-14 10:14] AshokPeddakotla-MSFT commented on #58929
@olavt Thanks for the confirmation.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-14 10:14] #58929 closed

[2020-07-14 10:21] AshokPeddakotla-MSFT commented on #58950
@mprcba Thanks for the confirmation.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-14 10:21] #58950 closed

[2020-07-14 10:25] MayankBargali-MSFT commented on #58962
@LeaShallev Can you please confirm which type of endpoint type (webhook, function, storage queue, etc.) you have configured for the subscription endpoint. If you are using azure function then what type of trigger you are using?

[2020-07-14 10:38] PramodValavala-MSFT commented on #58573
@pekspro Hope my previous comment clears things up. The only difference based on the above is that the 5TB storage is here is more of a permanent storage rather than temporary.

We have assigned this issue to the content author to review and update accordingly.

[2020-07-14 10:52] cyrusvivek opened #58969 "LogStorageAccountId is wrong and Disk type missing for OS disk"
LogStorageAccountId storage account mention as $CacheStorageAccount.Id for data disk but this variable $CacheStorageAccount not defined any where and -RecoveryTargetDiskAccountType missing for OS disk

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06cf2081-3683-d4fa-b248-2dd7092055da
* Version Independent ID: 581a240a-

[2020-07-14 10:57] SnehaAgrawal-MSFT commented on #58963
@c-lamont Thank you for your feedback! We will review and update as appropriate.

[2020-07-14 10:58] SnehaAgrawal-MSFT commented on #58964
@c-lamont Thank you for your feedback! We will review and update as appropriate.

[2020-07-14 11:00] MayankBargali-MSFT commented on #58603
@mattruma I have updated the doc and it will be published soon. We appreciate the feedback!

[2020-07-14 11:00] #58603 closed

[2020-07-14 11:01] pekspro commented on #58573
@PramodValavala-MSFT, yes it cleared things up for me and fit my own experience very well :)

[2020-07-14 11:07] SwathiDhanwada-MSFT commented on #58968
@Johhnytechn Thanks for your comment. We are actively investigating and will get back to you shortly.

[2020-07-14 11:16] VikasPullagura-MSFT commented on #58823
@feiyushi I checked with internal team on this and team is working on updating the document to include this relevant information. And the doc update is coming in few weeks.

Yes, technically you can schedule application pods on system pools and can use a single pool so both can reside on same pool.

By default System pods prefer the system pool as they have soft affinity. To force it you can lever

[2020-07-14 11:22] CHEEKATLAPRADEEP-MSFT commented on #58948
@DataBitz  Thanks for the question! We are investigating and will update you shortly.

[2020-07-14 11:22] Jenny-Chiu opened #58970 "Could you please help to clarify the "Quantity" definition"
Hi Expert,

I go through the purchase process in Azure Portal, the quantity seems the number of "node".
But the description of Quantity in the document mentioned as below, it's like the quantity is defined as how many "GB" customer would like to run an Azure Cache for Redis servers with the total cache capacity.
This instruction doesn't match to the operation in Azure Portal. Could you please help

[2020-07-14 11:33] SnehaAgrawal-MSFT commented on #58870
@jerbio Thanks for the reply, If the App Service doesn't find a custom command, a Django app runs a default read-only app, located in the opt/defaultsite folder. You can control the container's startup behavior by providing a custom Gunicorn startup command. To do this, kindly take a look into this [document](https://docs.microsoft.com/en-gb/azure/app-service/containers/how-to-configure-python#cus

[2020-07-14 11:34] Dude5th opened #58972 "How would you Enable Azure Devops with the policy"
Since enabling the Pod Security Policy, I can't release from Azure DevOps.
I know that you can create custom registrations but I am not too sure what that would be for Azure DevOps side. I would have thought it would be built in by default as it is a Azure product.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7dc459

[2020-07-14 11:40] CHEEKATLAPRADEEP-MSFT commented on #58901
@prasannapkr  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-07-14 11:40] #58901 closed

[2020-07-14 11:40] CHEEKATLAPRADEEP-MSFT commented on #58872
@PriyanshuHarshavat  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-07-14 11:40] #58872 closed

[2020-07-14 11:57] garfbradaz commented on #58886
Thanks guys, i will take a look today.

[2020-07-14 12:03] joshuarmclean opened #58973 "Missing Failed Status"
When I go to setup the alert my options via the 'Dimension values' are Completed and 'Select all current and future values'.
I would like to only alert when the runbook fails, but I do not know the value to use.
It would be nice if in the doc it showed you how to setup alerts for a failed runbook execution.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2020-07-14 12:09] SudheeshGH opened #58974 "Confusion while reading the statement related to Geo restore RPO"
In the document in one place we have written up to one hour in one place and equal to one hour in other.

https://docs.microsoft.com/en-us/azure/azure-sql/database/recovery-using-backups#geo-restore
	There is a delay between when a backup is taken and when it is geo-replicated to an Azure blob in a different region. As a result, the restored database can be **up to one hour** behind the original d

[2020-07-14 12:20] MayankBargali-MSFT commented on #58784
@tiny-dancer Thanks for reporting it.
For the bullet point  _Test the API in the Azure portal_ there is a reference to https://docs.microsoft.com/en-us/azure/api-management/import-and-publish#-import-and-publish-a-backend-api and the same article talks about how you can test the API in the developer portal: https://docs.microsoft.com/en-us/azure/api-management/import-and-publish#test-the-new-api-i

[2020-07-14 12:22] sdegenhardt opened #58975 "Invalid username or password / debugging"
What is the best way to debug these issues or to get assistance?  I have gone through this page about 20 - 30 times and I still cannot manage to get the basic example working.  I have read other's feedback and searched everywhere but cannot find out what I am doing wrong.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-07-14 12:26] tektigergt commented on #58947
At the Microsoft Graph I couldn't find the riskDetection API some reason.
Can you please validate this.

On Mon, Jul 13, 2020, 11:56 PM ShashiShailaj-MSFT <notifications@github.com>
wrote:

[2020-07-14 12:36] c-lamont opened #58976 "ReceivedRemoteNotification not triggered."
On item: `11. In AppDelegate.cs, override the ReceivedRemoteNotification() method:`

This `ReceivedRemoteNotification` method is not triggered. Instead the `DidReceiveRemoteNotification` method is triggered.

Also, instead of just passing in `true` to the `ProcessNotification` method. It is better to use the `application` parameter.

[code]

The parameter `fromFinishedLaunching` is also confusing:

[2020-07-14 12:41] Mahesh-MSFT opened #58977 "Need example with Host URL navigaiton"
This guidance instructs following options to test application gateway ingress for aks.

1. Use `kubectl get ingress` to get the Public IP address of Application Gateway
2. Use `curl -I -H 'test.agic.contoso.com' <publitc-ip-address-from-previous-command>`

A result of `HTTP/1.1 200 OK` indicates that the Application Gateway + AKS + AGIC system is working as expected.

However, instructions do not

[2020-07-14 12:48] BhargaviAnnadevara-MSFT commented on #58769
@cveld The details for configuring a backup are covered in the _Production deployment considerations_
section of the Kubernetes doc here: [Configuration backup](https://docs.microsoft.com/en-us/azure/api-management/how-to-deploy-self-hosted-gateway-kubernetes#configuration-backup). Here is a sample on [GitHub](https://github.com/Azure/api-management-self-hosted-gateway/blob/master/examples/self-ho

[2020-07-14 12:49] BhargaviAnnadevara-MSFT commented on #58831
@kmrrakesh We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-07-14 12:49] #58831 closed

[2020-07-14 12:59] AnuragSharma-MSFT commented on #58967
@KalleOlaviNiemitalo Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-07-14 13:15] AnuragSharma-MSFT commented on #58967
@KalleOlaviNiemitalo Upon investigating, we find  'mySqlConnection.Open' and 'mySqlConnection.Execute' are the instances of SqlConnection class, just the names of them are kept as 'mySqlConnection'.

Whereas the other article you mentioned correctly talks about 'MySqlConnection' class.

Please let us know if your suggestion is to change the variable to proper naming, we can update the document.

[2020-07-14 13:18] JohanKlijn commented on #58896
@wolfma61 , that was indeed the issue. Thanks!

[2020-07-14 13:18] #58896 closed

[2020-07-14 13:21] KalleOlaviNiemitalo commented on #58967
@AnuragSharma-MSFT I think it would be clearer to just use the class name SqlConnection, rather than the name of any variable. Especially because there is no such variable declaration in the topic.

[2020-07-14 13:37] cuwaters opened #58980 "Additional sample recommended"
For moving files from aws s3 to azure blob using azcopy, one useful scenario I didn't see an example for is copying all of the files in a bucket or folder in s3 to a differently-named folder or container in blob storage.  I managed to piece it together using several error messages, but it was very trial & error.  The existing examples show how to copy an entire folder, but that includes the folder

[2020-07-14 13:40] chris-kolik-8451 opened #58981 "Event Hub Private Endpoint documentation showing Key Vault screenshot?"
It seems that step 6 of the Event Hub doc on how to setup Private Endpoints shows a screenshot from Key Vault instead.  We're trying to work with FW settings in Event Hub and don't currently *even see* the Networking option in the Portal so wondering if something is either wrong with Event Hub or if something is changing with Event Hub strategy and the documentation is out of date?

Thanks!

---
#

[2020-07-14 13:41] AnuragSharma-MSFT commented on #58967
@KalleOlaviNiemitalo Thanks for letting us know, we have updated the document content accordingly.
The changes should be live once the PR is approved.

We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-07-14 13:41] #58967 closed

[2020-07-14 13:41] wbinterns commented on #58810
@nerajput1607 I tried disabling the rich editor and it has the same behavior. (Cutting off the items and not putting them in a bullet list)

[2020-07-14 13:45] wbinterns commented on #58810
@sahithikkss I originally built the bot back in late 2018/early 2019 (Cant remember exactly, its been awhile), so I did not build it from the most recent sample.

[2020-07-14 13:48] tomkuijsten opened #58982 "Add a real life sample"
The samples on this page are not representing a real life scenario. Especially the "name" property is quiet difficult to get right in real life. The sample on this page:

[code]

Doesn't work. I have 2 assignments, so this won't be unique. Another option would be to add an extra parameter like this:

[code]

However, this doesn't work when for example the principleId is changed (eg function app wa

[2020-07-14 13:53] MayankBargali-MSFT commented on #58908
@gmndrg Can you please point the exact line in the document: https://docs.microsoft.com/en-us/azure/event-grid/security-authorization where you feel the inconsistency

`It is in a place where already reading authentication and the rest of authorization documents is not quite clear. `

@MikePennington The documents mention this is only for the management operation. To publish the events you can ref

[2020-07-14 13:56] Uma-Maheshwar-Reddy opened #58983 "Default value of sync timeout is wrong."
[Enter feedback here]

SyncTimeout for StackExchange.Redis defaultvalue is mentioed as 1000ms. But the actual value is 5000ms.
Check : https://stackexchange.github.io/StackExchange.Redis/Configuration.html
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2aa4bbd2-1f85-516e-bd0a-c506beb8d4b4
* Version Independent ID: e7530

[2020-07-14 14:00] kierandelaney commented on #33157
What an absolute nightmare - I cannot believe that over a year of feedback and issues and this still isn't fixed. Our key vault was open to all networks, soft deletes were enabled and set to 90 days, and the first attempt at linking the two borked the gateway.

This really is a badly broken product. 😠

[2020-07-14 14:01] hugohhk commented on #58709
@SadiqhAhmed-MSFT
I don't understand why the RPO can be a few seconds given that the snapshot is taken at 5 min interval.  The new managed disk is to be created from those snapshots taken at a 5-min interval, so shouldn't the RPO be 5 mins?

[2020-07-14 14:02] dkreymerman-byredwood opened #58984 "Silent import of Azure VPN Client XML"
The "azurevpn -i azurevpnconfig.xml" for importing an XML file cause the application to open, is there an option to silently import without launching the app?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9ef898a-0b72-e018-8a3d-6f14f62e1119
* Version Independent ID: b62b5b8f-bc88-0868-a2f6-1020a5097460
* Content: [VP

[2020-07-14 14:09] rbx44 commented on #58949
@CHEEKATLAPRADEEP-MSFT this should give you what you need -
![image](https://user-images.githubusercontent.com/8643739/87435616-99e49880-c5b1-11ea-8cb6-759e99930bdc.png)

This issue seems to be happening more with tableStorage. TableStorage Put operation is failing as shown in this request.

[2020-07-14 14:09] RyanHill-MSFT commented on #58976
Thanks for the feedback @c-lamont! We are currently investigating and will update you shortly.

[2020-07-14 14:13] WernerRobberechts opened #58985 "errors in examples"
In some code examples several times the $ character was not used or misplaced, this for:

wrong example: aksname="myakscluster"
should be: $aksname="myakscluster"

wrong example in # Create the Azure AD application: serverApplicationId=$(az ad app create
should be: $serverApplicationId=(az ad app create --display-name "${aksname}Server" --identifier-uris "https://${aksname}Server" --query appId -o

[2020-07-14 14:14] jmprieur commented on #53695
Added a note (PR in progress: https://github.com/MicrosoftDocs/azure-docs-pr/pull/122288)

[2020-07-14 14:17] GiftA-MSFT commented on #58957
@CloudBreadPaPa we'll review your feedback and get back to you shortly. Thanks.

[2020-07-14 14:17] GiftA-MSFT commented on #58959
@mouadcherkaoui we'll review your feedback and get back to you shortly. Thanks.

[2020-07-14 14:19] cyrusvivek commented on #58969
#OsDisk
$OSdiskId = $vm.StorageProfile.OsDisk.ManagedDisk.Id
$RecoveryOSDiskAccountType = $vm.StorageProfile.OsDisk.ManagedDisk.StorageAccountType
$RecoveryReplicaDiskAccountType = $vm.StorageProfile.OsDisk.ManagedDisk.StorageAccountType

$OSDiskReplicationConfig = New-AzRecoveryServicesAsrAzureToAzureDiskReplicationConfig -ManagedDisk -LogStorageAccountId $EastUSCacheStorageAccount.Id `
-DiskId $

[2020-07-14 14:22] tom-stones commented on #34828
Me too - associating cert.
+5

[2020-07-14 14:23] TomGeske commented on #58985
Are you using PowerShell or Bash?
Or samples are based on Bash.

![image](https://user-images.githubusercontent.com/3658893/87437109-2dd45580-c5ee-11ea-8bec-6b193718ae46.png)

![image](https://user-images.githubusercontent.com/3658893/87437205-4c3a5100-c5ee-11ea-8265-5d743fca2be7.png)

[2020-07-14 14:24] TomGeske commented on #58985
you may also want to look into our new AAD experince: https://aka.ms/aks/managed-aad

[2020-07-14 14:24] jmprieur commented on #53497
Fixed by PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/122288

[2020-07-14 14:27] Xyroid commented on #57082
Any update on this?

[2020-07-14 14:29] cricex opened #58986 "Typo/misspelled 'Storage' as 'Storaqe'"
In the callout, the word 'storage' is misspelled as 'storaqe':

Below the ADLS Gen2 selection fields, there is a note saying that the managed identity of the workspace will be assigned the **Storaqe** Blob Data Contributor role on the selected Data Lake Storage Gen2 file system granting it full access.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-07-14 14:30] #58895 closed

[2020-07-14 14:32] wolfma61 commented on #58896
glad to hear ;)

[2020-07-14 14:34] WernerRobberechts commented on #58985
Hello Tom,

I use powershell, if everything as of now is based on bash then it would be nice if that get's mentioned (if example code can also be offered in powershell then even better).

Regards
Werner

Van: "Tom" <notifications@github.com>
Aan: "MicrosoftDocs/azure-docs" <azure-docs@noreply.github.com>
Cc: "werner robberechts" <werner.robberechts@telenet.be>, "Author" <author@noreply.github.com>

[2020-07-14 14:38] Sharmistha-Rai commented on #58969
@sideeksh - requesting you to go through this query. Please let me know if any documentation updates are required.

[2020-07-14 14:41] SadiqhAhmed-MSFT commented on #58709
@sideeksh For help

[2020-07-14 15:00] rdeltcheva commented on #58321
Thank you for reaching out. We will add  to our backlog to extend the documentation with instructions how to configure active-active

[2020-07-14 15:03] spelluru commented on #58981
@chris-kolik-8451 - Thanks for reporting the issue in the doc. I will update the screenshot.

As mentioned at the beginning of the article, this feature (and the Networking tab) available only for Standard and Premium tiers.

You should see the Networking tab if you created a **Standard** version of the event hub.

![image](https://user-images.githubusercontent.com/6722422/87441820-8e996900-c5c1-1

[2020-07-14 15:15] SatishBoddu-MSFT commented on #58965
@sukesh-ak Thanks for the feedback! Could you please also confirm on the Type of system you are using ? to better understand the platform being used.

[Tier 1](https://docs.microsoft.com/en-us/azure/iot-edge/support#tier-1) [OS, Architecture] ?
[Tier 2](https://docs.microsoft.com/en-us/azure/iot-edge/support#tier-2) [OS, Architecture] ?

[2020-07-14 15:20] TomGeske commented on #58985
I agree. We should call out that our examples are for Bash. I will bring this up with our content team.
Thanks for sharing your feedback!

I'm going ahead closing this one. Feel free to keep commenting.

#please-close

[2020-07-14 15:20] #58985 closed

[2020-07-14 15:21] MicrosoftGuyJFlo commented on #58812
#please-close

[2020-07-14 15:21] #58812 closed

[2020-07-14 15:22] ram-msft commented on #58820
@PatrickFarley Could you please update the quick-start code for Get Read Results.
![image](https://user-images.githubusercontent.com/49180516/87444018-de088500-c613-11ea-8731-9dbef0b51ec5.png)

[2020-07-14 15:23] rgamage opened #58989 "Edge -> Hub Authentication is missing"
This page has no mention of how the Edge authenticates with the IoT Hub.  It would be good, on this page or a page linked here, to explain how the Edge authenticates with the IoT Hub in the cloud.  I believe there are two options, SAS Key and X.509 certificate, but the certificate option gets confusing when articles like these focus on the Edge and leaf device certs, and don't explain how they rel

[2020-07-14 15:24] sudolibre commented on #53720
I read that document prior and am suggesting more complete guidance. The document for example pretty explicitly suggests you need to keep Active Directory specific limits in mind:

"Microsoft Graph allows you to access data in multiple services, such as Outlook or Azure Active Directory. These services impose their own throttling limits that affect applications that use Microsoft Graph to access t

[2020-07-14 15:24] xazos79 commented on #37280
Legend. I was having ""error":"invalid_grant","error_description":"AADSTS65001: The user or administrator has not consented to use the application with ID...." and this fixed it.

Many thanks.

[2020-07-14 15:25] sukesh-ak commented on #58965
Raspberry Pi OS (32 bit) with Raspberry Pi Desktop released on 2020-05-27
Debian version says 10.4

[2020-07-14 15:27] zr-msft commented on #47847
Thank you @blueelvis for the feedback!

The following articles have more details regarding the OS used for nodes:

* https://docs.microsoft.com/azure/aks/concepts-clusters-workloads#nodes-and-node-pools
* https://docs.microsoft.com/azure/aks/intro-kubernetes#clusters-and-nodes

#please-close

[2020-07-14 15:27] #47847 closed

[2020-07-14 15:29] Expecho commented on #58722
It is a .Net Core 3.1 v3 function, available [here](https://github.com/Ibis-Software/Application-Insights-To-Teams-FunctionA). The SKD version is 3.0.9 (tried 3.0.7 and 3.0.8 as well).

It is only after [this change](https://github.com/Ibis-Software/Application-Insights-To-Teams-FunctionA/commit/356fa20b64a0f3776d54ca3a86008e81b9d88a16) that I see dependency telemetry appearing again.

May I aks,

[2020-07-14 15:38] SnehaGunda commented on #57152
We haven't heard back from the user so will now close this issue. If you have further questions, feel free to create a new issue.

#please-close

[2020-07-14 15:38] #57152 closed

[2020-07-14 15:39] chris-kolik-8451 commented on #58981
@spelluru , thanks!  The *1* example I looked at was Basic tier but I checked our other Event Hubs which are Standard and I see the Networking option.  Thanks for the quick reply!

[2020-07-14 15:40] SatishBoddu-MSFT commented on #58965
@sukesh-ak Thanks for the Info!

Have you referred to the section on [Verify your Linux kernel for Moby compatibility](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge-linux#verify-your-linux-kernel-for-moby-compatibility) ? to troubleshoot the issue.

[2020-07-14 15:53] spelluru commented on #58981
@chris-kolik-8451 - Welcome. Fixing the screenshot now and adding a note below the step about the feature support for only Standard and dedicated tiers.

[2020-07-14 15:56] kgopi05 opened #58991 "Custom RBAC role / Permissions required to view VM Insights metrics"
We are using Centralized Log Analytics setup , multiple teams logs their data into single workspace.

We would like to setup custom RBAC role to allow the view VM Insights metrics for their VM alone . Log Analytics reader role gives them permission to view logs from all resources , we want to restrict custom RBAC role for VMInsights alone.

[2020-07-14 15:57] dchander opened #58992 "Create database command is wrong"
Create database command is wrong in the document. The command does not work without the option "-datafileDestination"

Error: [INS-04008] Invalid combination of arguments passed from command line. One or more mandatory dependent arguments are not passed for the argument: -storageType

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2020-07-14 15:57] sukesh-ak commented on #58965
This is the output from that set of commands, which doesn't help. Also the the options mentioned in the error fails.

[code]

[2020-07-14 15:57] asergaz commented on #58841
@GiantCrocodile the license is on the NPM Package: https://www.npmjs.com/~azuremaps

The changelog should be accessible there as well. Let us know if that is what you were looking for?

Thanks!

[2020-07-14 16:00] dlepow commented on #58913
Thanks for pointing out the link issue- I'll fix soon.
As for encryption properties, please see https://docs.microsoft.com/azure/container-instances/container-instances-encrypt-data
Init containers are introduced here: https://docs.microsoft.com/azure/container-instances/container-instances-init-container

[2020-07-14 16:01] RyanHill-MSFT commented on #58779
Hi @Druffl3, some clarification. When you say

are you referring to sending your `<toast />` and receiving it [Notification Visualizer](https://www.microsoft.com/store/productId/9NBLGGH5XSL1)?

Also, you indicate it doesn't work when you send it from your server, is this is an on-prem server? How did you configure you server to send the notifications?

[2020-07-14 16:02] SatishBoddu-MSFT commented on #58965
@sukesh-ak Could you please provide us the official download page of Raspberry Pi OS (32 bit)  Debian 10.4 which you are using ? let me also check from our side.

[2020-07-14 16:04] DeanGross opened #58993 "Add What's New page"
[Enter feedback here]

Please add a What's new in Identity Governance page to help us keep track of new functionality.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a68d2671-8e5e-63b2-b5d2-5f58c5b9aa2f
* Version Independent ID: 7dd0b7fd-042a-c68f-8979-d5828f1ce2e8
* Content: [Identity Governance - Azure Active Director

[2020-07-14 16:04] sukesh-ak commented on #58965
I used RPI Imager and picked the first one in the options (recommended in the UI)
https://www.raspberrypi.org/documentation/installation/sdxc_formatting.md

[2020-07-14 16:08] SatishBoddu-MSFT commented on #58965
@sukesh-ak

Is this the First Option ? please confirm.

![image](https://user-images.githubusercontent.com/62923178/87449058-889b8c00-c5b1-11ea-9239-f175f10efde2.png)

[2020-07-14 16:09] sukesh-ak commented on #58965
Yes that's the option.

[2020-07-14 16:10] SatishBoddu-MSFT commented on #58965
@sukesh-ak Thanks for all the info, let me work on it, will get back to you soon.

[2020-07-14 16:11] sukesh-ak commented on #58965
Appreciate the quick update.

[2020-07-14 16:12] #49073 closed

[2020-07-14 16:12] zr-msft commented on #49073
Thank you @jotavar for the feedback!

I have incorporated updates to the article for clarity. The changes should be available soon.

Also, for more details on configuring the outbound IP address for the Standard SKU load balancer, see https://docs.microsoft.com/azure/aks/load-balancer-standard#configure-the-public-standard-load-balancer

[2020-07-14 16:15] aschechter88 opened #58995 "No java example for RA-GRS secondary read region, no location mode in java core 1.6/storage 12.7"
I'm trying to build a Java client for an `RA-GRS` storage account but there's nothing here about Java, and the latest versions of the java SDK (`storage-common/12.7` and `core/1.6`) has no mention of a regional selection policy in the javadoc. It appears that `LocationMode` isn't present, as well as no location selection strategy on any of the relevant `RetryStrategy` classes in `core` or `storage

[2020-07-14 16:23] matayp opened #58996 "'By Names' Function:- Bullet Point and Code Formatting on Page is broken"
Code blocks and bullet points have gone a little wild :)
![image](https://user-images.githubusercontent.com/12459672/87450616-9de6d980-c5f6-11ea-9592-e68853da518b.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4fef9ea1-5a72-4212-da99-54d2cdd81d37
* Version Independent ID: 48face98-0b6b-8f55-2d6e-201a5bc8e8bb
* Con

[2020-07-14 16:30] GiftA-MSFT commented on #58957
@CloudBreadPaPa [V3 API](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/batch-transcription) currently supports multiple files in a container. Can you clarify your ask?

[2020-07-14 16:35] #58947 closed

[2020-07-14 16:35] HarshitaSingh-MSFT commented on #58960
@rick-hayek We appreciate your efforts before posting this question.

I have few questions from you, please find them below :

- Could you please elaborate on where are you configuring B2C (eg: .NET Web App)?
- Are you referring to the Sign Up/Sign In(First time) flow for a user who is in another tenant under same subscription?
-  For second point -

   don't want. This is different when I tried s

[2020-07-14 16:40] KranthiPakala-MSFT commented on #58773
@sdebruyn We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

Thank you.

[2020-07-14 16:42] bandersmsft commented on #51656
@donets420 We've updated the article based on your feedback. Thanks for lettting us know about this issue.
#please-close

[2020-07-14 16:42] #51656 closed

[2020-07-14 16:42] tooreplyram commented on #41647
Now service doesn't seems failing after using the below command, but getting the following output

iscsiadm -m node -T iqn.2006-04.nfs.local:nfs --login --portal=10.0.0.17:3260

`node1:~ # systemctl status iscsid && systemctl status iscsi
● iscsid.service - Open-iSCSI
   Loaded: loaded (/usr/lib/systemd/system/iscsid.service; enabled; vendor preset: disabled)
   Active: active (running) since Wed

[2020-07-14 16:45] #58773 closed

[2020-07-14 16:47] Obenscripe opened #58998 "This is the only page that mentions ANY runtime version!!"
This is the only page that mentions ANY runtime version!!
Please can we have a page that is regularly updated and lists the current default ADLA runtime, it's release notes, breaking changes, and previous versions, and the date older versions will be removed.
Many Thanks
Dan

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2020-07-14 16:56] luisquintanilla commented on #57494
#assign: @minthigpen

[2020-07-14 17:01] JimacoMS3 commented on #58154
@elhorton - thanks for your review on the associated PR. **I would feel a lot better about the changes if we could get an answer and some guidance on the bolded question in my comment above.**

That said, though, in the absence of any further feedback I'm going to publish the PR by EOD today and move on. Please let me know if there is someone who can address the question in a timely manner.

Thank

[2020-07-14 17:02] elhorton commented on #58154
@nayato , can you please comment on Jimaco's question above?

[2020-07-14 17:03] krish-gh commented on #58722
Thank you for pointing that out. Yes if I set the default level to higher than "Information" like "Warning", it's behaving exactly like you mentioned. I am assigning this to the author. #reassign:ggailey777

[2020-07-14 17:03] mouadcherkaoui commented on #58959
thank you,
here is a version that builds correctly, but didn't test it yet at runtime:
https://github.com/mouadcherkaoui/AzureAIFormRecognizer

for example here:

https://github.com/mouadcherkaoui/AzureAIFormRecognizer/blob/master/Program.cs#L169
https://github.com/mouadcherkaoui/AzureAIFormRecognizer/blob/master/Program.cs#L196
https://github.com/mouadcherkaoui/AzureAIFormRecognizer/blob/master/P

[2020-07-14 17:03] PRMerger6 commented on #58722
GitHub user krish-gh has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2020-07-14 17:03] briglx opened #59000 "Title is misleading"
The title states Howto Add roles AND Receive them in the token. However, there is no explanation on how to receive the token.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9939fc33-8762-3104-eae0-08250c508100
* Version Independent ID: 9c6fa664-df37-40aa-f46e-9e59f79ae215
* Content: [Add app roles and get them from a t

[2020-07-14 17:10] KranthiPakala-MSFT commented on #58986
@cricex  Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2020-07-14 17:10] rboucher commented on #58922
@Nepomuceno According to my information, nothing has changed. In fact, storage was just added to Azure Monitor this year. What makes you think it's been removed?

[2020-07-14 17:11] 1RedOne commented on #58298
Thank you for your response.  To clarify, if we enable Defender on a server client using an ARM Template, does it include the normal exclusions we would have or not?

[2020-07-14 17:11] rboucher commented on #58922
@normesta for visibility.

[2020-07-14 17:14] KranthiPakala-MSFT commented on #58996
@matayp
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2020-07-14 17:14] AnuragSharma-MSFT commented on #58970
@Jenny-Chiu Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2020-07-14 17:16] KranthiPakala-MSFT commented on #58998
@Obenscripe  Thanks for the feedback! We have assigned the issue to the content author to investigate this and provide an update  as appropriate.

[2020-07-14 17:17] VaclavK commented on #58564
@anraghun given its nature, I expected the workaround to work and am happy to confirm such...thanks

[2020-07-14 17:23] guyhay commented on #58998
As you know ADLA is not being significantly invested in.  The number of new runtimes are highly likely to be limited, and security focused only.  For this reason I'm going to decline this ask.

[2020-07-14 17:24] xujing-ms commented on #57082
We have the issue filed and it will get picked up after the high-pri work items are complete

[2020-07-14 17:31] JasonWHowell commented on #58460
@rachel-msft any tips?

[2020-07-14 17:33] JasonWHowell commented on #58858
@CHEEKATLAPRADEEP-MSFT Looks like a fix to the error experience was made. Are you ready to resolve this one?

[2020-07-14 17:39] AlexCesarini opened #59003 "It is mandatory to assign licences to guest users?"
The statement
'B2B guest user licensing is automatically calculated' make me think that it is not mandatory to assign licenses to guest users, is it correct?
I understand that products like PowerApps require licenses to be explicitly assigned to users, is it the same for AADP licences to use MFA for guests?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2020-07-14 17:42] LeaShallev commented on #58962
@MayankBargali-MSFT  The endpoint is a storage account

[2020-07-14 17:44] GiftA-MSFT commented on #58810
@wbinterns thanks for the updates, we are unable to reproduce this issue with the latest sample, please try to use the latest sample and let us know if you have any further questions or concerns.

[2020-07-14 17:45] jmprieur commented on #53497
#please-close as this is fixed by MicrosoftDocs/azure-docs-pr#122288

[2020-07-14 17:45] #53497 closed

[2020-07-14 17:46] jmprieur commented on #53695
#please-close as this is fixed by MicrosoftDocs/azure-docs-pr#122288

[2020-07-14 17:46] #53695 closed

[2020-07-14 17:50] SwathiDhanwada-MSFT commented on #58973
@joshuarmclean Thanks for reaching out! You can specify custom values  by clicking on the Add custom value and adding the value as shown in below snapshot.
![image](https://user-images.githubusercontent.com/48976275/87459074-87597600-c628-11ea-810c-5238073c54b4.png)

@MGoedtel Can you please review this issue and update document accordingly?

[2020-07-14 17:51] mimckitt commented on #58634
@jtuliani I have submitted a fix. Once the PR merges the changes will go live after a few hours.

[2020-07-14 17:56] mimckitt commented on #58634
#please-close

[2020-07-14 17:56] #58634 closed

[2020-07-14 17:57] GiftA-MSFT commented on #58959
@mouadcherkaoui the document does provide instructions for installing the client library.

![image](https://user-images.githubusercontent.com/51332022/87459860-f22f9080-c5d9-11ea-9b24-4efa6c6bb4f2.png)

[2020-07-14 17:57] YutongTie-MSFT commented on #58974
@JJ
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-07-14 17:57] ggailey777 commented on #57766
@pandainlove the current recommendation for the new module is to use the `Set-AzWebApp` cmdlet, as demonstrated in [this Web Apps article](https://docs.microsoft.com/azure/app-service/scripts/powershell-monitor#sample-script). I've just made updates to this article to address this. Thanks for bringing it to our attention. #please-close

[2020-07-14 17:57] #57766 closed

[2020-07-14 17:58] mimckitt commented on #53840
I have created an internal work item and am working offline with my team to get the samples I mentioned above taken care of.

I will close this out for now as I already have a tracking item for it.

#please-close

[2020-07-14 17:59] #53840 closed

[2020-07-14 17:59] SwathiDhanwada-MSFT commented on #58968
@Johnnytechn The mentioned feature is deprecated as shown in snapshot taken from the document.

![image](https://user-images.githubusercontent.com/48976275/87459922-ac9ab400-c629-11ea-9e9e-cfc644feabc8.png)

For more information, kindly refer the mentioned [link](https://docs.microsoft.com/en-us/azure/devops/test/load-test/overview?view=azure-devops) the Note section of the document.

[2020-07-14 18:00] mouadcherkaoui commented on #58959
Ok! then the right version is the preview.3!
perfect,
Thank you!

[2020-07-14 18:00] #58959 closed

[2020-07-14 18:01] Karishma-Tiwari-MSFT commented on #58648
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-07-14 18:03] mimckitt commented on #55085
Added this information to the "Tips and Tricks" section. Once the PR merges the changes will go live after a few hours.

#please-close

[2020-07-14 18:03] #55085 closed

[2020-07-14 18:03] MarileeTurscak-MSFT commented on #59003
@AlexCesarini
Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-14 18:04] MarileeTurscak-MSFT commented on #59000
@briglx
Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-14 18:05] MarileeTurscak-MSFT commented on #58993
@DeanGross
Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-14 18:06] Karishma-Tiwari-MSFT commented on #58955
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-07-14 18:06] MarileeTurscak-MSFT commented on #58982
@tomkuijsten
Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-14 18:08] MarileeTurscak-MSFT commented on #58975
@sdegenhardt
Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-14 18:08] mimckitt commented on #56017
#reassign: @danielsollondon

@danielsollondon can you help on this one? I know you wrote the majority of this doc.

[2020-07-14 18:08] pandainlove commented on #57766
@ggailey777 , thanks for the new info provided. I was busy for the past two weeks.
quick question about your example, I don't see how I can tail the log file as the Get-AzureWebsiteLog can do. what solution do I have?
Also, since the ticket is closed, I assume the original document will be updated about missing Get-AzWebsiteLog but it seems still there?...https://docs.microsoft.com/en-us/azure/azu

[2020-07-14 18:10] mimckitt commented on #56074
#reassign: @EricRadzikowskiMSFT

[2020-07-14 18:11] cherylmc commented on #58735
#reassign:charwen

[2020-07-14 18:12] pandainlove commented on #57766
@MayankBargali-MSFT , feature request was made.
Thanks.
https://github.com/Azure/azure-powershell/issues/12395

[2020-07-14 18:13] mimckitt commented on #56585
#reassign: @roygara

@roygara reassigning this to you since you work on disks and likely would have better contacts around this to get it updated.

[2020-07-14 18:15] mimckitt commented on #50407
#reassign: @danielsollondon

@danielsollondon assigning this to you since you are working on all the image docs at the moment.

[2020-07-14 18:18] shashishailaj commented on #58947
@tektigergt Please check the URL https://docs.microsoft.com/en-us/graph/api/resources/riskdetection?view=graph-rest-1.0 . Its listed under Identity and Access >   Identity and sign-in > Identity protection > Risk detection . hope that helps.

[2020-07-14 18:18] SatishBoddu-MSFT commented on #58965
Hello @sukesh-ak We did checked from our end on a fresh start o a device and was able to install the moby engine without any issues.

**Could you please run below command to overwrite the package write error.**

`sudo dpkg -i --force-overwrite /var/cache/apt/archives/moby-engine_3.0.13+azure-0_armhf.deb`

Verification steps are shown in below images:
Image 1:
![image](https://user-images.githubuse

[2020-07-14 18:21] cherylmc commented on #58729
I'll take this as a doc bug. Thanks! I'll be working with the PM team to update. #please-close

[2020-07-14 18:21] #58729 closed

[2020-07-14 18:26] DerekHerman-MSFT commented on #58980
@cuwaters
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-07-14 18:30] AjayKumar-MSFT commented on #58721
Apologies for the delay! Your feedback on this item is appreciated.

Azure App Service Incoming client certificates modes is similar configuration labels as on IIS feature (Ignore, Accept and Require).

![image](https://user-images.githubusercontent.com/44606227/87459523-1ebec900-c629-11ea-8c4f-ef779b6afe99.png)

**•	Ignore:** This setting does not accept client certificates if presented.
**•	Acce

[2020-07-14 18:30] #58721 closed

[2020-07-14 18:33] SatishBoddu-MSFT commented on #58989
@rgamage
Thanks for the feedback! We are currently looking into this and will update you shortly.

[2020-07-14 18:41] DerekHerman-MSFT commented on #58995
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-07-14 18:42] AjayKumar-MSFT commented on #58544
@IgnacioAlvarezArenas, The requested changes have been merged and the document now reflects the changes. Thanks again for taking time to share your valuable feedback.

[2020-07-14 18:42] #58544 closed

[2020-07-14 18:47] zr-msft commented on #53746
Thank you @NillsF for the feedback.

The article has been updated to remove references to FlexVol.

#please-close

[2020-07-14 18:47] #53746 closed

[2020-07-14 18:50] SaurabhSharma-MSFT commented on #58666
@TheDapperDevin No, Application proxy is not meant for SQL side of SharePoint on-premises.

[2020-07-14 18:50] sukesh-ak commented on #58965
Thank you so much. I think the command you gave fixed it. I could install it after that.
Maybe a good idea to mention the same in the article for troubleshooting steps?

We can close this :)

[2020-07-14 18:51] nfpiche commented on #53244
Great, thanks!

[2020-07-14 18:51] #53244 closed

[2020-07-14 18:51] IgnacioAlvarezArenas commented on #58544
Thanks guys for taking the time to fix this! Much appreciated.
________________________________
From: AjayKumar-MSFT <notifications@github.com>
Sent: Tuesday, July 14, 2020 7:42 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Ignacio Alvarez Arenas <igalvare@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Restore Deleted App (App Ser

[2020-07-14 18:52] c016smith opened #59006 "Please note a delay in the documentation"
FYI there is potentially a 20-35 minute window after you make these policy/configuration changes before it works... you might want to update the documentation accordingly so future admins going through this are aware or not scratching their heads for a while before it starts working. Thanks, great feature!

Chris
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2020-07-14 18:52] YutongTie-MSFT commented on #58991
@kgopi05
Hi Gopi,

Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content, open a new forum thread in [Microsoft Q & A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow ](https://stackoverflow.com/)as it could be better place to get help on your scenario. These forum community members

[2020-07-14 18:56] NavishkarSadheo opened #59007 "You can select all available grant controls for the Other clients condition; however, the end-user experience is always the same - blocked access."
I don't quite understand what this means, "You can select all available grant controls for the Other clients condition; however, the end-user experience is always the same - blocked access."

Why is this even included in this article if we want to block legacy authentication?

If we grant controls for the "Other clients" why would it still be blocked?

Thanks so much, Regards, NavZ

---
#### Docum

[2020-07-14 18:56] SatishBoddu-MSFT commented on #58965
@sukesh-ak Thank you for the feedback, we will surely consider this troubleshooting step.  👍

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion.

[2020-07-14 18:57] kosinsky commented on #58858
@JasonWHowell do you mean https://github.com/terraform-providers/terraform-provider-azurerm/pull/7706? It isn't fix for that error. Error still happens, PR is for other types of clusters.

[2020-07-14 19:04] toddysm opened #59008 "fileLoggingMode purpose is not clear"
The documentation doesn't give enough information what is the purpose of the `fileLoggingMode` and where the file with the logs can be found. The interesting thing is that when this is used, the logs are not shown in the console when debugging Azure Functions in VS Code.

Can you add more explanation in what scenarios this can be used? What the side-effects are and where the resulting log files ca

[2020-07-14 19:04] #55013 closed

[2020-07-14 19:05] zr-msft commented on #51057
Thank you @dpapkin for the feedback!

I updated the article to incorporate your feedback and the changes should be available soon.

#please-close

[2020-07-14 19:05] #51057 closed

[2020-07-14 19:06] zr-msft commented on #55013
Thank you @njenekar for your feedback!

I have updated the article to address your feedback. The changes should be available soon.

[2020-07-14 19:17] MartinJaffer-MSFT commented on #58986
@cricex   Thank you for helping to improve our docs.  I have made a pull request to fix the typo.

[2020-07-14 19:17] #58986 closed

[2020-07-14 19:22] cynthn commented on #55611
@ShachafGoldstein Thanks for the feedback! I've created a work item to update the script. We also have a separate request to also have a PowerShell version of this script added.

I'm going to close this issue for now.

#please-close

[2020-07-14 19:22] #55611 closed

[2020-07-14 19:25] GiantCrocodile commented on #58841
@asergaz I wasn't aware that there's a npm package. Usually the license question is the first thing you ask before even touching the software. If the software doesn't fit to your project due to license problems, you are not interested in it anyway, regardless how good/cool it is. Checking the page I see this license information: `SEE LICENSE IN LICENSE.TXT`. I found no download button for a zip/ra

[2020-07-14 19:27] cynthn commented on #57118
@originalnetadmin Thanks again for the feedback! You are correct, it should be CentOs 8.x and later. I've filed a pull request to make the change.

#please-close

[2020-07-14 19:27] #57118 closed

[2020-07-14 19:29] #58965 closed

[2020-07-14 19:32] ChaitanyaNaykodi-MSFT commented on #59008
@toddysm , Thank you for your feedback! We will review and update as appropriate.

[2020-07-14 19:34] BrianLevenson opened #59009 "Publication process update"
Need to update this article since Cloud Partner Portal is now deprecated and all offer publication is done through Partner Center. Happy to help with content or connect with SMEs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 567dbc73-793b-cb0c-c020-d827f1ca25c9
* Version Independent ID: 0db06ee2-05ca-c69f-52ac-10ec11

[2020-07-14 19:41] Expecho commented on #58722
Yeah, and I kind of wanted it the other way. Restrict all system logging except my user created logs. Now I will have also system logs from the Function.AzureMonitorAlertToTeams category. Not much of a big deal but it was hard to find out why the dependency tracking wasn't working anymore.

[2020-07-14 19:44] MarileeTurscak-MSFT commented on #59003
Hi @AlexCesarini, For any paid Azure AD features, you can invite up to five guest users for each Azure AD edition license that you own. This includes Azure MFA. hhttps://docs.microsoft.com/en-us/azure/active-directory/b2b/licensing-guidance#

Hope this helps! If you have further questions feel free to reach out on Microsoft Q&A. https://docs.microsoft.com/answers/topics/azure-active-directory.html

[2020-07-14 19:44] #59003 closed

[2020-07-14 19:45] awpetree commented on #58382
That's correct namesapce Microsoft.DocumentDB/databaseAccounts. The data points around the cassandra connector would be valuable. Dimensions etc...

[2020-07-14 19:46] JamesTran-MSFT commented on #59006
@c016smith
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-07-14 19:47] erikadoyle commented on #58802
Yes, [Windows Server 2019 is supported](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-versions#supported-operating-systems) and I've amended the containers article. Thanks!

[2020-07-14 19:47] erikadoyle commented on #58802
#please-close

[2020-07-14 19:47] #58802 closed

[2020-07-14 20:06] dastewa commented on #58451
@JasSuri - Hi Jas, thank you for confirming this.

[2020-07-14 20:08] rrperkin commented on #56756
Please be careful about assuming that the only thing missing is the thing you think is the only thing missing.

To do the thing @leaderanalytics is calling for, absolutely not. He (and I) are looking for the architecture meta-document that maps out Microsoft's Authentication/Authorization model. .NET Core. If it's nothing more than a link to those docs, then **_no, they won't work._** If that docu

[2020-07-14 20:19] stevevi commented on #59009
Thank you, Brian, for your assistance. Please work with @todorgb for article updates including review and approval.

[2020-07-14 20:19] AjayKumar-MSFT commented on #58492
@itahirov, The mount_path is the path in the container, not the Azure Storage. Apologies for any confusion.

We have raised a PR with the requested changes and should be published in a few hours.
Since I've updated the doc, I'm going to request this issue be closed. Thanks again for taking time to share your valuable feedback.

[2020-07-14 20:19] #58492 closed

[2020-07-14 20:22] sopelt opened #59010 "Clarification on (un)supported use-cases and errors"
After following this guide there are some unexpected/undocumented conditions in an Microsoft 365 scenario.
It seems like the fact that Facebook (and potentially Google) have been setup by adding client id/secret, cause the two providers to show up during some/most sign-in/sign-up scenarios but not all. For Google, I have not had issues as users are able to accept an invite to an AAD tenant + offic

[2020-07-14 20:22] AjayKumar-MSFT commented on #58441
@JoseFMP, The mount_path is the path in the container, not the Azure Storage. Apologies for any confusion.

We have raised a PR with the requested changes and should be published in a few hours.
Since I've updated the doc, I'm going to request this issue be closed. Thanks again for taking time to share your valuable feedback.
We will close this out, but if you feel you need more information please

[2020-07-14 20:22] #58441 closed

[2020-07-14 20:23] zr-msft commented on #49918
Thank you @charryshun for the feedback!

The yaml file in the sample repository has been updated to `apps/v1`:
https://github.com/Azure-Samples/azure-voting-app-redis/blob/master/azure-vote-all-in-one-redis.yaml#L1

#please-close

[2020-07-14 20:23] #49918 closed

[2020-07-14 20:36] minthigpen commented on #57494
Yes, the mistake is that it should be azureml-contrib-interpret, not azureml-interpret-contrib.

[2020-07-14 20:37] zr-msft commented on #58379
Thank you @sindkor for the feedback!

The article has been updated to address your feedback.

#please-close

[2020-07-14 20:37] #58379 closed

[2020-07-14 20:42] zr-msft commented on #54926
Thank you @PixelRobots for the feedback!

I can't reproduce this issue. When I click on *Edit* at the top of the page, I am taken to the GitHub page for the article:
https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/aks/managed-aad.md

Closing this issue for now, but please follow up if you continue to see issues.

#please-close

[2020-07-14 20:42] #54926 closed

[2020-07-14 20:47] ojasp opened #59011 ".NET Framework on sample apps"
Please upgrade the samples to use .NET Framework 4.6.2 or above. The connection to cognitive services endpoint fails because the program is trying to use TLS 1.0.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 52bbefb3-0dbc-05c4-2670-cc5a53271554
* Version Independent ID: 9c227ed3-f699-2a29-cf06-25745ed85cd1
* Content:

[2020-07-14 20:48] Karishma-Tiwari-MSFT commented on #58992
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-07-14 20:50] dlepow commented on #55653
#assign @dkkapur

[2020-07-14 20:52] Karishma-Tiwari-MSFT commented on #58726
Thanks for sharing the issue number here.
CC: palma21 for awareness.
@ohorvath We will track this issue: Azure/AKS#1638 and share updates to this thread as well.
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-07-14 20:52] #58726 closed

[2020-07-14 20:52] MarileeTurscak-MSFT commented on #57984
Thanks, @JasSuri

[2020-07-14 20:52] #57984 closed

[2020-07-14 20:53] Karishma-Tiwari-MSFT commented on #58753
We will now close this issue. Please help with providing the details when you are ready and tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-07-14 20:53] #58753 closed

[2020-07-14 21:05] YutongTie-MSFT commented on #59011
@ojasp
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-07-14 21:05] MartinJaffer-MSFT commented on #58777
Per our discussion, we will close this issue for now.  Pending your update next week we may re-open.

[2020-07-14 21:05] #58777 closed

[2020-07-14 21:06] 1RedOne opened #59012 "PowerShell instructions are a bit out of date."
The PowerShell snippet should be updated to the following:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6329b3a8-32d6-c327-d3bc-2f6805d22ec8
* Version Independent ID: a3fcf4d5-fb74-6f38-97f6-80dfafa66e06
* Content: [Create an Azure app identity (PowerShell) - Microsoft identity platform](https://docs.microsof

[2020-07-14 21:11] flyingUnderTheRadar commented on #32782
This has been unavailable for some time. Is there a timeline around this?

What is the scope of the issue. I understand customer initiated fail over isn't supported yet even though it is in GA

However if the primary fails will **Microsoft** cut over to the secondary and notify us in some way? We would like to understand if this is an option while building out our new service or should be looking

[2020-07-14 21:27] zr-msft commented on #47692
Thank you @jslaybaugh for the feedback.

The article has been updated to address your feedback.

#please-close

[2020-07-14 21:27] #47692 closed

[2020-07-14 21:28] 1RedOne opened #59013 "Page is vague about how to get the 'key' value"
Following the instructions for setting up the authorization file under **Create the authorization file** send you to another page, this one https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-authenticate-service-principal-powershell.

This page could use some clarification to make it more obvious how to retrieve the value we should put in the auth file on the line

[code]

---
#

[2020-07-14 21:34] BharathNimmala-MSFT commented on #58961
@aykitaya  Thank you for your feedback, we will look into it and get back to you at the earliest.

[2020-07-14 21:41] #52411 closed

[2020-07-14 21:43] zr-msft commented on #52411
Thank you @CeciAc for the feedback.

I've update the article to address your feedback and the changes should be available soon.

[2020-07-14 21:48] RyanHill-MSFT commented on #58976
Question for you though @c-lamont, what version of the Xamarin iOS SDK are you using?

[2020-07-14 21:51] jeffwilcox opened #59014 "The Node.js OIDC sample app could use a SameSite update"
Hi,
This document has examples for ASP.NET, Java, and Python, but not Node.js; the official OIDC sign-in documentation provides examples, however, for Node as well, at https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-v2-nodejs-webapp.

That references the sample repo https://github.com/azureadquickstarts/AppModelv2-WebApp-OpenIDConnect-nodejs, which does not yet have any

[2020-07-14 21:56] krish-gh commented on #58722
Thanks for your feedback and apology for the trouble you had due to not having the explicit mention of it in the doc. This issue is now queued up for content update.

[2020-07-14 21:58] silviuo commented on #51415
@sethmanheim Hello! I might be projecting my bias because I've just run into this issue, but the problem is that nowhere in the doc is a case shown where fromFinishedLaunching might become true.

In the sample code, it's always false:
public override void ReceivedRemoteNotification(UIApplication application, NSDictionary userInfo)
{
    ProcessNotification(userInfo, false);
}

That means that when

[2020-07-14 22:04] MarileeTurscak-MSFT commented on #59012
@1RedOne
Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-14 22:06] asergaz commented on #58841
Hi @GiantCrocodile we really appreciate your feedback and I can resonate with it.

You can explore the files with Runkit: https://npm.runkit.com/azure-maps-control

![image](https://user-images.githubusercontent.com/22173500/87480816-0305f380-c626-11ea-8b70-29ad55ae6211.png)

I cannot see a changelog inside the package. Besides the version history, there are no details on the changes between the v

[2020-07-14 22:08] MarileeTurscak-MSFT commented on #59012
Hi @1RedOne ,

It looks good to me. I made a pull request to update the snippet. https://github.com/MicrosoftDocs/azure-docs-pr/pull/122389

CC @rwike77

[2020-07-14 22:08] #59012 closed

[2020-07-14 22:12] rbrundritt commented on #58841
The license information is linked to in the "Resources" section of the docs. There is a link "Azure Maps terms of use" as well as "Azure Maps pricing".

[2020-07-14 22:14] rbrundritt commented on #58841
As for changelog, we purposely do not post one as the CDN host version of the SDK always points to the latest version, so users don't point to older versions. Instead new features are announced in blogs.

[2020-07-14 22:16] rbrundritt commented on #58841
The license.txt file primarily contains all the licenses for all open source licenses contained within the project. The primarily license information for the Azure Maps platform is contained in Azures Online Service terms which governs all Azure services: https://azure.microsoft.com/en-us/support/legal/

[2020-07-14 22:18] tamram commented on #32782
If the primary fails, Microsoft will handle the failover, as described here:

https://docs.microsoft.com/azure/storage/common/storage-disaster-recovery-guidance#microsoft-managed-failover

[2020-07-14 22:42] cinglis-msft commented on #58933
Thanks for the response, I'm going to close this issue. This was a case of me not reading the documentation clearly enough. Took it a little slower today, and all the information is available in the "Prerequisites" section. :)

[2020-07-14 22:42] #58933 closed

[2020-07-14 22:47] MarileeTurscak-MSFT commented on #59014
@jeffwilcox
Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-14 22:56] JasonWHowell commented on #58858
Oh, no one explained what the links were for. That's fine, proceed as you were.

[2020-07-14 22:58] Karishma-Tiwari-MSFT commented on #58644
@jtuliani What are the different subscription types do you have and do you see 0 in both?

[2020-07-14 23:00] himanshusinha-msft commented on #58829
@solcada  : Can you please let us know as to which version of Ubuntu are you on ?

[2020-07-14 23:05] solcada commented on #58829
The latest one. Ubuntu 20.04

On Wed, Jul 15, 2020 at 11:00 AM himanshusinha-msft <
notifications@github.com> wrote:

--
*Andrew Dotchin*
Solution Architect

e) andrew.dotchin@solcada.com
m) 022 092 8161

[2020-07-14 23:06] asergaz commented on #58921
@jimlane can you help us find the right place in the doc to add a note that if you receive "unauthorized" errors you may need to  perform [az acr login](https://docs.microsoft.com/en-us/cli/azure/acr?view=azure-cli-latest#az-acr-login) before ?

fyi @kgremban

Thank you!

[2020-07-14 23:25] rachel-msft commented on #58460
Yes, I'm reviewing

[2020-07-14 23:27] dlepow commented on #56741
@reinventit - The command failure is due to a known issue recently in the `az pack build` CLI command: https://github.com/Azure/azure-cli/issues/13694. I'll update the article when the issue is fixed. Thanks.

[2020-07-14 23:36] rtaylor72 opened #59016 "What about "Acr Pull" and "Acr Push" roles?"
I do not see any mention of the "Acr Pull" and "Acr Push" roles in this article.  Does this need to be added.

Also, I am having an issue right now where I have a service principal that is assigned the "Acr Pull" role and running the "az acr import" command, but getting this error:
The resource with name 'xxxx' and type 'Microsoft.ContainerRegistry/registries' could not be found in subscription 'M

[2020-07-15 00:14] BharathNimmala-MSFT commented on #58657
@Willem-J-an  Apologies for delayed response on this , i am checking further with our internal PG team on this query. Will circle back at the earliest.

[2020-07-15 00:19] Karishma-Tiwari-MSFT commented on #59013
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-07-15 00:22] Karishma-Tiwari-MSFT commented on #58972
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-07-15 00:42] NavtejSaini-MSFT commented on #58974
@SudheeshGH The RPO is an hour for a Geo Backup copy but when you restore it you can get the restored DB with a state which can be any where between 1 min to 60 min data loss. It will be not be more than 60 min.
e.g. You have US West as your primary region and US east as secondary. A Geo Restore happened at 1 PM pacific time. And your Primary DB failed at 1:15 pm, you will have a loss of 15 min.
I

[2020-07-15 01:07] dcbrown16 opened #59020 "MAB agent?"
This page refers to "Azure Backup agent (MAB)" several times. This seems to be non-standard nomenclature - farther up in the ToC there is "Windows backup using MARS agent" and MARS is also the naming used in the Concepts article below.
https://docs.microsoft.com/en-us/azure/backup/backup-architecture

Can we standardize by changing this page to refer to MARS, not MAB? This is confusing for custome

[2020-07-15 01:28] NavtejSaini-MSFT commented on #58983
@Uma-Maheshwar-Reddy We are checking this with author and awaiting response on a Pull request to edit the document - https://github.com/MicrosoftDocs/azure-docs-pr/pull/122431
Thanks for your patience.

[2020-07-15 01:28] rachel-msft commented on #58460
Thanks @keyz182 for flagging this. I've checked in a documentation update to remove this. It will be published tomorrow.

[2020-07-15 01:32] justinmann opened #59021 "Submit ticket does not work"
I cannot sign up for a free account and cannot submit a ticket. When I try to submit a ticket it forces me to select the problem type as "reserved instance requests" which then funnels into a bunch more required field that I cannot fill in because I don't have an issue with a reserved instance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-07-15 01:34] Johnnytechn commented on #58968
Does it mean that this feature will not be released in the future?

[2020-07-15 01:50] jimlane commented on #58921
@asergaz I needed to perform that action during the [Build and push your solution section](https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-develop-for-linux#build-and-push-your-solution), just after [Sign in to Docker](https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-develop-for-linux#build-and-push-your-solution), and prior to [Build and Push](https://docs.microsoft.com/en-us/azu

[2020-07-15 01:56] zhenlan commented on #58899
@divyamoorthyTR this is tracked in https://github.com/Azure/AppConfiguration/issues/153.

[2020-07-15 02:01] SatishBoddu-MSFT commented on #58734
@ARGs-code
Just checking back! Please let us know if you need further help.

[2020-07-15 02:13] rick-hayek commented on #58960
@HarshitaSingh-MSFT please check below:

 I'm using customer policies to setup B2C signup/signin flow, eg B2C_1A_signupsignin. And try to run this signupsignin endpoint. like i said i'm going through [this document](https://docs.microsoft.com/en-us/azure/active-directory-b2c/identity-provider-azure-ad-multi-tenant-custom) to implement a quick POC.

Yes. for example a new user (testaccount@anothert

[2020-07-15 02:36] MonikaReddy-MSFT commented on #58564
@anraghun  - Thank you for providing your insights.
@VaclavK - I hope @anraghun has answered your question.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-15 02:36] #58564 closed

[2020-07-15 02:43] MonikaReddy-MSFT commented on #58790
@jkounovsky - In order to find the root cause of it, we would need you to send us an email at AzCommunity@Microsoft.com by providing below details. 
Subject : ATTN:Monika 
1) Subscription ID 
2) A link to this thread.
Please email us these details and we will work with you closely to get this issue taken care of and also post any findings here in the thread so the community can benefit from it. 
T

[2020-07-15 02:44] MonikaReddy-MSFT commented on #58899
@zhenlan  - Thank you for providing your insights.
@divyamoorthyTR - I hope @zhenlan has answered your question.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-15 02:44] #58899 closed

[2020-07-15 02:57] CHEEKATLAPRADEEP-MSFT commented on #58977
@Mahesh-MSFT  Thanks for the question! We are investigating and will update you shortly.

[2020-07-15 02:58] CHEEKATLAPRADEEP-MSFT commented on #58984
@dkreymerman-byredwood, Thanks for the question! We are investigating and will update you shortly.

[2020-07-15 02:59] CHEEKATLAPRADEEP-MSFT commented on #59007
@NavishkarSadheo, Thanks for the question! We are investigating and will update you shortly.

[2020-07-15 03:03] CHEEKATLAPRADEEP-MSFT commented on #59010
@sopelt  Thanks for the question! We are investigating and will update you shortly.

[2020-07-15 03:04] CHEEKATLAPRADEEP-MSFT commented on #59016
@rtaylor72  Thanks for the question! We are investigating and will update you shortly.

[2020-07-15 03:10] CHEEKATLAPRADEEP-MSFT commented on #58949
@rbx44
Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Microsoft Q&A - Storage](https://docs.microsoft.com/en-us/answers/topics/azure-storage-accounts.html)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.
Please create a Forum thread and post i

[2020-07-15 03:13] CHEEKATLAPRADEEP-MSFT commented on #59021
@justinmann  Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)

Please do create a question here: [Microsoft Q&A - Azure Cost Management](https://docs.microsoft.com/en-us/answers/topics/azure-cost-management.html)

Once you

[2020-07-15 03:14] CHEEKATLAPRADEEP-MSFT commented on #59020
@dcbrown16, Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-15 03:24] dcbrown16 commented on #59020
I noticed that "MAB" is actually hard-coded into the logs, it's in one of the query examples. I sent an inquiry about this to the Backup Tech Talk DL as well, you can contact me at v-dibr if you want to coordinate internally.

[2020-07-15 03:28] MayankBargali-MSFT commented on #58962
@LeaShallev Thanks for the confirmation. Batched event delivery option is only available for the HTTP endpoints. If you are using a storage account as an endpoint then you cannot configure it. We already have batch internally so we don’t ask users explicitly to configure it in case of storage endpoint.

Hope it helps and clears things up. Please let me know if you have any further queries.

[2020-07-15 03:48] Ashok103606 opened #59023 "Regarding claimsMappingPolicies/json, and assigning Users to an app [What is resource Id]"
1) in the claimsMappingPolices api payload what is the format? I know it's JSON based on the content-type, I mean but how to write that it's confusing?
           (i) If I create a claims mapping policy which is generic to all my enterprise applications, can I inherit some of the polices not all from generic one depends on the application claims requirement, If yes how to do that?

2) Assigning us

[2020-07-15 04:10] abhirockzz opened #59025 "Why is JedisShardInfo used in sample code?"
The sample code uses `JedisShardInfo`. Is there a specific reason for this? For a single instance of Azure Cache for Redis, this should suffice:

[code]

`JedisShardInfo` should be used to create a `ShardedJedis` instance (which is not applicable in this case). Also, as per my understanding, `ShardedJedis` is Jedis specific i.e. it's used to distribute data across a set of Redis nodes (as per cons

[2020-07-15 04:15] pnarsi opened #59026 "Databricks Cluster Logs"
Are the Cluster Logs available via the Diagnostic logging feature documented in this page different to the Cluster Logs documented here: https://docs.microsoft.com/en-us/azure/databricks/clusters/configure#cluster-log-delivery

I assume that the diagnostic logs documented in this page related to cluster only contain the logs related to the API calls made against the Clusters API. It will not colle

[2020-07-15 04:20] PramodValavala-MSFT commented on #58719
@SashaSidorenko I can confirm that using an App Setting in `settings.job` is not supported for WebJobs, though the timer trigger binding does support it when using it with functions.

I believe it would be best to include this information in the [WebJobs doc](https://docs.microsoft.com/en-us/azure/app-service/webjobs-dotnet-deploy-vs#settingsjob-reference) since its specific to it.

We will now pr

[2020-07-15 04:20] #58719 closed

[2020-07-15 04:22] SnehaGunda commented on #58402
In addition FYI that - Only one lease can only be owned by one instance at a given time. Having 10 leases enables up to 10 instances to distribute the load, having 1 lease only enables one instance.

[2020-07-15 04:31] AnuragSharma-MSFT commented on #58886
@garfbradaz We are proceeding to close this issue.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-07-15 04:32] #58886 closed

[2020-07-15 04:41] anduran opened #59027 "Is ACR CLI auth long lasting?"
Hi,

Thanks for documenting this! I do have a question, so I hope opening an issue is ok...

At the very end of the document (for using a system MSI) you are basically doing this:
- az login --identity
- az acr login --name myContainerRegistry
- docker pull mycontainerregistry.azurecr.io/aci-helloworld:v1

Which roughly does this behind the covers after some investigation...
- Az CLI gets a token

[2020-07-15 04:45] souravmishra-msft commented on #59023
@Ashok103606, Thank you for reaching out, we are looking into this and will get back to you soon.

[2020-07-15 04:54] SwathiDhanwada-MSFT commented on #58887
@TheBigBear Currently Centos 8 isn't supported for Linux agent . Only the below supported operating systems are supported as of now.

![image](https://user-images.githubusercontent.com/48976275/87504774-fb296c00-c684-11ea-8367-4937e6562fe3.png)

I  would recommend you to navigate [here](https://feedback.azure.com/forums/34192--general-feedback/suggestions/40679614-support-for-oms-agent-linux-exten

[2020-07-15 04:55] SwathiDhanwada-MSFT commented on #58463
@ganga1980 Thank you for your valuable insights.
@sormita Checking if you need further assistance on the issue.

[2020-07-15 04:59] souravmishra-msft commented on #58614
@Prabhakar96-dev - I apologize for the delay in my response. Regarding the invitation email, the only restriction available is in the portal's UI, where if an admin is using the UI, he wont be able to send multiple invitations to a single user once the invitation is accepted by that user. But in case of Graph API, no such checks are available for the createInvitation API. The number of time you wo

[2020-07-15 05:02] sideeksh commented on #58709
Let's consider 2 cases to make this clear:

Case 1: Snapshot was taken at 10:00:00am and failover was initiated at 10:04:21am. When the failover was initiated, the latest processed recovery point was chosen (the 10:00am one). Therefore, the total data loss would be 4min 21sec and this would be your RPO.

Case 2: Snapshot was taken at 10:00:00am and failover was initiated at 10:00:05am with the lat

[2020-07-15 05:03] Prabhakar96-dev commented on #58614
@souravmishra-msft , Thank you very much. You can close this thread .

[2020-07-15 05:12] ElectricLlama opened #59028 "Alternate key functionality"
I have two custom fields defined in a Dynamics entity (account)

They are
Names: srcsystem, srccode
Data Type: Single Line of Text
Field Type: Simple
Maximum Length: 50

Then I created a Dynamics Key called "myalternatekey", which contained these two fields

In the Dynamics CDS connector I specified an alternate key: "myalternatekey"

Then I provided a SQL Server dataset with values within identic

[2020-07-15 05:16] LeaShallev commented on #58962
@MayankBargali-MSFT Thanks for the answer. What about eventhub endpoint? I see that when the endpoint is eventhub I always gets an array with 1 event.

[2020-07-15 05:17] souravmishra-msft commented on #58680
@jemsjose, I apologize for the delay in my response. But I checked it in my lab tenant and that option is visible.

![image](https://user-images.githubusercontent.com/54057592/87506083-1b0e5f00-c688-11ea-9671-e907faa7c24e.png)

In my tenant, I have the **Enterprise Mobility + Security E5** and thats only needed for the CA policy to be configured.

Do let me know if you guys (@jemsjose  and @Bakker

[2020-07-15 05:19] VikasPullagura-MSFT commented on #58823
@feiyushi
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-07-15 05:19] #58823 closed

[2020-07-15 05:23] AlexCesarini commented on #59003
I actually asked about assigning licences manually to guests, this does *not* answer my question.

[2020-07-15 05:42] santhoshbomma9 opened #59029 "How can we select a DR region for Hyperscale instance?"
How can we select a DR region for Hyperscale instance?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d33e054-2959-fbaa-ad22-2ff241c84438
* Version Independent ID: 3a90d7e6-9a10-888c-7b5c-126ac90a30c1
* Content: [High availability – Hyperscale (Citus) - Azure Database for PostgreSQL](https://docs.microsoft.com/en-us/a

[2020-07-15 05:42] VikasPullagura-MSFT commented on #59027
@anduran
Thanks for your Question! We are currently investigating and will get back on this.

[2020-07-15 05:43] BakkerJan commented on #58680
@jemsjose  As of yesterday I could also see the options, thanks.

[2020-07-15 05:49] jerbio commented on #58870
Ah Thanks, That did the trick.

[2020-07-15 05:49] #58870 closed

[2020-07-15 05:51] RohitMungi-MSFT commented on #58702
@April-Cai We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-07-15 05:51] #58702 closed

[2020-07-15 05:52] jemsjose commented on #58680
Same on our tenant too. Thank you @BakkerJan ,@souravmishra-msft

[2020-07-15 05:52] #58680 closed

[2020-07-15 05:56] djpirra opened #59030 "Parameters seem not to work with Azure Functions"
I am currently passing one parameter into the workflow that contains the full resourceId path, but when trying to use that parameter on the id property of the Azure function I am getting the following error:

`2020-07-15T05:50:50.0487640Z ##[error]LinkedInvalidPropertyId: Property id '@parameters('AzureFunction').id' at path 'properties.definition.actions.For_each.actions.FILE_ASSET_OCCUPANCY_BUDG

[2020-07-15 06:01] souravmishra-msft commented on #59023
@Ashok103606, The claimsMapping Policy is used for adding optional claims or customized claims as per the application requirement. You also get the option of modifying the claims for your application using the app manifest present under the app registration in AAD. But the only benefit of Azure AD ClaimsMapping Policy is an admin can create this policy and can be attached to multiple applications

[2020-07-15 06:08] Monendra commented on #57649
Thanks, that helps.

On Tue, Jun 23, 2020 at 10:58 PM VikasPullagura-MSFT <
notifications@github.com> wrote:

[2020-07-15 06:09] Druffl3 commented on #58779
Thanks for responding @RyanHill-MSFT

No, not Notification Visualizer, I am using the testing portal available in Azure and also this [protal](http://pushtestserver.azurewebsites.net/wns/), to send a toast notification to my application. And it works just fine- the UWP application displays the toast notification and on tap of it, I am able to capture the arguments passed in `launch`.

Yes, it is a

[2020-07-15 06:10] MikePennington commented on #58908
I would add one additional sentence as follows:

`Event Grid does not support RBAC for publish/subscribe operations. For these operations you must use an access key or SAS token. See https://docs.microsoft.com/en-us/azure/event-grid/security-authenticate-publishing-clients.`

[2020-07-15 06:14] sayanghosh123 opened #59031 "Australia East"
This page lists Windows and Linux VMs and VMSSs to be available in Australia East - does that mean this feature is impending? I don't see the capability in the Azure portal yet but waiting eagerly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ef6739c-50e6-e80b-cfc1-4d7d5b5d35e8
* Version Independent ID: 72c38d9b-b8b

[2020-07-15 06:15] cyrusvivek commented on #58969
another issues, More related to GUI or Product team
1- No of NIC supported by VM not showing correctly.
2- Issue with Accelerated networking

below ex
D4as_v4 (4 cores, 16 GB memory, 1 NICs)
E4ds_v4 (4 cores, 32 GB memory, 1 NICs)
E4as_v4 (4 cores, 32 GB memory, 1 NICs)
ND40rs_v2 (40 cores, 672 GB memory, 1 NICs)
HB120rs_v2 (120 cores, 468 GB memory, 1 NICs)
NV12s_v3 (12 cores, 112 GB memory, 4 NI

[2020-07-15 06:16] VikasPullagura-MSFT commented on #58628
@MicrosoftDocs/aks-pm Can you please check and add your comments.

[2020-07-15 06:28] SwathiDhanwada-MSFT commented on #58679
@mrbullwinkle  Can you please share the Kusto query used for aggregation for the snapshot shown in the document ?

[2020-07-15 06:28] RohitMungi-MSFT commented on #58759
@DarrinEide is it possible to query all the child fields in a single query?

[2020-07-15 06:33] msandbu opened #59032 "Add Prefix Matches"
Does it support wildcard prefix matches? If so it should be more documented if features such as wildcard prefix matches or clariflied.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73edc3d1-d0db-0ee3-7928-19bd1e509d55
* Version Independent ID: 4b0e8f7c-591c-c5c4-37f4-e5a47914b873
* Content: [Configure object replicati

[2020-07-15 06:37] SwathiDhanwada-MSFT commented on #58865
@MGoedtel Can you please provide your insights and update the document if required?

[2020-07-15 06:42] KranthiPakala-MSFT commented on #58181
@kromerm Thanks for the fix!

@rcabr Thanks again for reporting this to us and helping us improve the doc content. As this is fixed
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

Thank you.

[2020-07-15 06:42] #58181 closed

[2020-07-15 06:43] dcurwin commented on #59020
#reassign:ajithkr-ms

[2020-07-15 06:50] harithamaddi commented on #59028
Hi @ElectricLlama,

This error seems to be related to one of entity id not mapped to GUID/identity type, can you please make sure if right mapping is done.

Also, Since the issue is not a feedback on the doc in reference, I would recommend you to create a thread on the forums [Stack Overflow](https://stackoverflow.com/questions/tagged/azure-data-factory) or [Q&A](https://docs.microsoft.com/en-us/a

[2020-07-15 06:50] #59028 closed

[2020-07-15 06:52] AnuragSharma-MSFT commented on #59025
@abhirockzz Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2020-07-15 06:55] AnuragSharma-MSFT commented on #59029
@santhoshbomma9 Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2020-07-15 07:01] slavizh opened #59033 "resourceGroup().tags does not always work"
Seems that resourceGroup().tags does not work when you apply the tags this way:

https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/tag-resources#apply-tags-to-resource-groups-or-subscriptions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0551fca9-d710-15d1-9141-baf2121a4ab1
* Version Independent

[2020-07-15 07:04] AshokPeddakotla-MSFT commented on #58841
@GiantCrocodile Does the above suggestions answers your query? Do let us know if you have any other queries.

[2020-07-15 07:10] KranthiPakala-MSFT commented on #56080
@linda33wj Could you please have a look at this issue? - Thanks

[2020-07-15 07:14] BhargaviAnnadevara-MSFT commented on #59030
@djpirra Thanks for the question! We're investigating this and will get back to you shortly.

[2020-07-15 07:15] KranthiPakala-MSFT commented on #57158
@linda33wj Following up to see if there is an update on this request? - Thank you.

[2020-07-15 07:17] BhargaviAnnadevara-MSFT commented on #59033
@slavizh Thanks for the question! We're investigating this and will get back to you shortly.

[2020-07-15 07:19] m1nkeh opened #59034 "500 Server Error: FABRIC_E_CANNOT_CONNECT for url"
Deploying the application on VS Code (which executes via ./install.sh) looks like it's working through all files.. but then at step 174/342 this occurs, not every time the same file/step, but usually around 174.

At first i thought it was a timeout issue? But reading the error a bit closer i'm not sure that is the case actually.. i am running on macOS

[code]

executing a fresh deployment gives a

[2020-07-15 07:19] JeroenMeul opened #59035 "What does this error mean? ColumnUniqueValuesExceeded"
ColumnUniqueValuesExceeded: Number of unique values in column: "design" is greater than allowed.

I have in Azure ML (Preview) at a scoring block constantly this error.
"design" is a column with data that is categorical feature (string). When I remove that column from the selection, I get the same error but for another column.

The only non standaard part in it is that the system uses 70% to train

[2020-07-15 07:25] Richie1132117 opened #59036 "Comment line error in C# part for Quickstart: Query V3 prediction endpoint with SDK"
[Enter feedback here]

For following code:
// Use Language Understanding (LUIS) prediction endpoint key
// to create authentication credentials
private static string predictionKey = Environment.GetEnvironmentVariable("LUIS_PREDICTION_KEY");

**// Endpoint URL example value = "https://YOUR-RESOURCE-NAME.api.cognitive.microsoft.com"**
private static string predictionEndpoint = Environment.GetEnviron

[2020-07-15 07:27] c-lamont commented on #58976
Hi Ryan, I am using v13.18.2.1

[2020-07-15 07:31] CHEEKATLAPRADEEP-MSFT commented on #59026
@pnarsi, Using Diagnostic settings from Azure Portal you can send logs to Azure Monitor.

![image](https://user-images.githubusercontent.com/44426401/87512517-c9200600-c694-11ea-92d0-a4bb69982bfb.png)

The following articles show how to send monitoring data from Azure Databricks to Azure Monitor, the monitoring data platform for Azure.

- [Send Azure Databricks application logs to Azure Monitor](h

[2020-07-15 07:37] KrishnaG-MSFT commented on #58703
At this point it appears that there's no edits or updates needed for the referred Azure documentation so closing this issue for now. If there are further questions regarding this matter or feedback on the referred Azure documentation, please do let us know and we will gladly continue the discussion.

[2020-07-15 07:37] #58703 closed

[2020-07-15 07:38] KrishnaG-MSFT commented on #58884
@LazarusRSKAJ Verified and updated the document as required. Thanks.

[2020-07-15 07:38] #58884 closed

[2020-07-15 07:47] adityabalaji-msft commented on #58647
Updated the documentation to adjust the wording: https://docs.microsoft.com/azure/backup/backup-azure-diagnostic-events#steps-to-move-to-new-diagnostics-settings-for-a-log-analytics-workspace. Also added the screenshot. Let us know in case any further clarity is needed.

Closing the issue for now

[2020-07-15 07:47] adityabalaji-msft commented on #58647
#please-close

[2020-07-15 07:47] #58647 closed

[2020-07-15 07:51] #58963 closed

[2020-07-15 07:53] SnehaAgrawal-MSFT commented on #58963
@c-lamont Thanks again for the feedback! I have created PR for this and it will merge soon.

[2020-07-15 07:54] VikasPullagura-MSFT commented on #58930
@tishi2000 Thanks for pointing this out.
I have updated the document and changes will go live soon.

[2020-07-15 07:55] amanmcse commented on #57431
@Bazrat24 I tested by configuring email as an alternate login ID for my Azure Active Directory tenant and couldn't replicate any issue that you have mentioned. I also engaged Product Team to check if there are any such known issues and got a confirmation that these are not known issues. Please open a support ticket for troubleshooting the issues that you are facing.

[2020-07-15 07:55] #57431 closed

[2020-07-15 07:56] SnehaAgrawal-MSFT commented on #58964
@c-lamont Thanks again for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-07-15 07:57] daseth opened #59037 "command to check the status of feature registration does not work"
The command provided to check registration status of the feature is not working:
In article this is used:
az feature list -o table --query "[?contains(name, 'Microsoft.ContainerService/AKS-IngressApplicationGatewayAddon')].{Name:name,State:properties.state}"
This is what actually worked for me:
az feature list -o table --query "[?contains(name, 'microsoft.containerservice/AKS-IngressApplicationGat

[2020-07-15 07:59] harkinj opened #59039 "Services by category section - each service was a hyperlink"
Hi,
It would be great if in the 'Services by category section' that  each service was in fact a  hyperlink to info on that service.
It would prove a great resource for catolog of services and then easy access to info on each service.
Regards
John

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cca70845-100f-2cfd-aba3-34

[2020-07-15 08:04] jschrap commented on #58031
Hi,

As I mentioned, I resolved (my) problem, which wasn't documented.
So I don't need any help, thanks. I think it would be useful for
other's who have the same issue, to know the fix.

Met vriendelijke groeten / With kind regards,

*Joanna Schrap*
Database Consultant & Project Manager

QUALOGY.COM <http://www.qualogy.com/>
De Bruyn Kopsstraat 9  | 2288 EC Rijswijk (ZH) | The Netherlands
m +31 (0

[2020-07-15 08:07] VikasPullagura-MSFT commented on #58321
@rdeltcheva Thanks for adding this to backlog for updating the document.

[2020-07-15 08:07] #58321 closed

[2020-07-15 08:16] CHEEKATLAPRADEEP-MSFT commented on #59031
@sayanghosh123 Thanks for the question! We are investigating and will update you shortly.

[2020-07-15 08:18] andyturn31 commented on #58362
Any update on this please?

[2020-07-15 08:21] CHEEKATLAPRADEEP-MSFT commented on #59039
@harkinj, Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-07-15 08:33] AshokPeddakotla-MSFT commented on #58377
@tesych Could you please look into this issue and update?

[2020-07-15 08:44] ms-zhouma opened #59040 ""Requirements for continuous deployment" section is misleading"
https://docs.microsoft.com/en-us/azure/azure-functions/functions-continuous-deployment

The given example:
[code]
actually refers to the expected output structure while it can make readers think they should make their source tree look like this, and `function.json` is not mentioned anywhere else in this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2020-07-15 08:54] JasSuri commented on #56756
Thanks for the feedback, it is not going unheard and we are working on it.

[2020-07-15 08:57] grzesiczek1 commented on #58890
Hi Shradha,

Part of the documentation I am referring to should look like this:

1. Wait for any full or log backups for the database to finish. Check the status in SAP HANA Studio / Cockpit.
2. Disable log backups, and set the backup catalog to the file system for relevant database.
3. To do this, double-click systemdb > Configuration > Select Database > Filter (Log).
4. Set enable_auto_log_backu

[2020-07-15 09:01] sukesh-ak commented on #58965
Hi @SatishBoddu-MSFT
I am still stuck with the service not starting up. I found another reported issue here, where connection string in yaml had spacing issue. So I checked that already to confirm the spacing but no luck.

[code]
**Output of following command attached.**

[iotedge-errors.txt](https://github.com/MicrosoftDocs/azure-docs/files/4924047/iotedge-errors.txt)

[2020-07-15 09:04] sukesh-ak commented on #58965
I can re-build/re-install the OS if that helps to reduce time spent on troubleshooting.

[2020-07-15 09:05] PramodValavala-MSFT commented on #58807
@CharmanderJieniJieni Hope my previous comment helps.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-15 09:05] #58807 closed

[2020-07-15 09:07] jmprieur commented on #58737
@GFoley83 why is it a bad practice to verify the scopes in every controller method? On the contrary we should have a granular way of checking scopes as different controller actions should probably have different scopes (think of read / write).

[2020-07-15 09:13] PramodValavala-MSFT commented on #59040
@ms-zhouma This is the folder structure that Azure Functions expects and is required irrespective of the language used. How this folder structure can be achieved (or generated) is covered in the language specific developer guides, mentioned right after the folder structure.

Similarly, `function.json` would have already been written or generated depending on the language used by the time of deploy

[2020-07-15 09:14] PramodValavala-MSFT commented on #58935
@genesavvy-chris Just following up here... Hope my previous comment helps.

[2020-07-15 09:18] ward0 opened #59043 "Azure Front door security headers not working"
Hello,

We have following rules engine configuration in our front door:
[
  {
    "id": "/subscriptions/**/resourcegroups/**/providers/Microsoft.Network/frontdoors/**/rulesengines/HSTS",
    "name": "HSTS",
    "resourceGroup": "frontdoor-dev-01",
    "resourceState": "Enabled",
    "rules": [
      {
        "action": {
          "name": null,
          "requestHeaderActions": [],
          "resp

[2020-07-15 09:18] jmprieur commented on #54971
Fixed.
#please-close

[2020-07-15 09:18] #54971 closed

[2020-07-15 09:21] blessedwithsins commented on #58727
@zr-msft Can we have this information updated in below documents as sometimes customer doesn't pay heed to multiple node pool article and just go ahead and add multiple node pool in his/her AKS Cluster?

https://docs.microsoft.com/en-us/azure/aks/kubernetes-walkthrough
https://docs.microsoft.com/en-us/azure/aks/kubernetes-walkthrough-powershell
https://docs.microsoft.com/en-us/azure/aks/kubernetes

[2020-07-15 09:22] GaurangRLB opened #59044 "JwtClaimType list that match with Azure AD user object"
In this example, it shows how to create a custom policy for claims mapping. But How can I find what is valid JwtClaimType that match with Azure AD. For example, Consider below example to get additional claims "samAccountName" but I can't find anywhere that for we need to use "samAccountName" as JwtClaimType. It would be ideal if we have a list of "JwtClaimType" .

[code]

---
#### Document Details

[2020-07-15 09:24] psmanhas commented on #58628
@blessedwithsins Apologies for the delay in response.

AKS runs in regular VNet where all the policies of NSG (network security group) can be implemented. While configuring NSG, treat Vnet as regular VNet (without thinking about AKS in general). Only things which you will need to take care about how traffic is reached inside AKS (either LoadBalancer which needs to be whitelited in NSG) or someothe

[2020-07-15 09:26] j-coll commented on #56980
Is there any place where we can see this kind of version upgrades? This is not just a "patch" update... Shound not have increase the HDI version?

And, is there any way to upgrade an HDI v4 (HBase 2.0.1) to HDI v4 (HBase 2.1.6) ?

[2020-07-15 09:28] SwathiDhanwada-MSFT commented on #58362
@andyturn31 I haven't received update yet. I will keep you posted as soon as I receive the update.

[2020-07-15 09:31] vronzeur opened #59045 "Erroneous user flow recommendations"
Hi! This page seems to be erroneous as the only flows recommended are:

V1.PasswordReset
V1.ProfileEdit
V1.SignUpSignIn
V2.ProfileEdit

Are all the other flows really not recommended (ie. not production ready) or does the article need to be updated?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aad1c40b-8340-81ed-2c25-

[2020-07-15 09:33] blessedwithsins commented on #58628
@psmanhas Customer wants to know what are the specific rules or conditions that are required at VNet/NSG level to block the traffic with respect to AKS only. I have already shared document you provide but it talks about NSG in general. Also, we already have document related to Egress traffic for AKS, but nothing specific to Inbound.

[2020-07-15 09:34] jmprieur commented on #58083
@udose working on it now

[2020-07-15 09:35] ward0 commented on #59043
Update regarding this, a developer just informed us that the headers are indeed applied, however when we check the site with securityheaders.com, the headers are not applied. Should we contact securityheaders.com?

[2020-07-15 09:41] rijais opened #59046 "Application fails to load on localhost after making modifications to enable HTTPS"
The app was successfully created, built and published on the SF cluster on azure. However, after making modification in step 3 to enable HTTPS, the application does not load at all on https://localhost:443

Help needed to get unblocked

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ac102a5-e9ad-0046-f217-446f1ad263c5

[2020-07-15 09:41] sormita commented on #58463
No you can close the issue.

[2020-07-15 09:43] GFoley83 commented on #58737
Lots of reasons. DRY for one thing. Why would you copy and paste the same thing everywhere when you could do it once and in a more appropriate, centralised location such as your composition root (Startup.cs).

In reality you're not going to have different scopes per method or even per controller; you're going to have a number of policies that can be reused in multiple different methods and control

[2020-07-15 09:45] sukesh-ak commented on #58965
I ended up re-building the OS and now the service is working. Will update later if I need anything else.

[2020-07-15 09:47] SwathiDhanwada-MSFT commented on #58968
The Application Insights performance test feature is deprecated as part of the deprecation of cloud-based load testing service. AFAIK, seems there is no plan of the implementation of the feature.

[2020-07-15 09:53] SwathiDhanwada-MSFT commented on #58463
Thanks for your response @sormita.We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2020-07-15 09:53] #58463 closed

[2020-07-15 09:53] Johnnytechn commented on #58968
Ok, thank you very much @SwathiDhanwada-MSFT .

[2020-07-15 09:58] jmprieur commented on #53202
#assign  dkamstra

[2020-07-15 09:59] psmanhas commented on #58628
@blessedwithsins There are two parts to traffic management in AKS.

First of them is communication across pods which is explained [here](https://docs.microsoft.com/en-us/azure/aks/use-network-policies).

Second of them is Ingress and Egress traffic to AKS. Egress as mentioned is already mentioned in the documents.
Generally AKS does not require any Ingress channel to be open so all the communicati

[2020-07-15 09:59] jmprieur commented on #53202
@dkamstra. I've proposed a PR to link directly to the right page in the app registration. I've also provided a more detailed link on how to configure the web API to accept calls from daemon applications

[2020-07-15 10:00] SwathiDhanwada-MSFT commented on #58968
@Johnnytechn We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2020-07-15 10:00] #58968 closed

[2020-07-15 10:05] souravmishra-msft commented on #59044
@GaurangRLB, Thank you for reaching out. The value for the key **JWTClaimType**, should be a unique string. When the token would be issued, there this unique string would be listed along with the claim value. For the following example:

  {
          "Source": "user",
          "ID": "onpremisessamaccountname",
          "SamlClaimType": "samaccountname",
          "JwtClaimType": "samAccountName"

[2020-07-15 10:06] jmprieur commented on #59014
#assign @hamiltonha @DarylThayil

[2020-07-15 10:08] jmprieur commented on #59014
@DarylThayil : Microsoft.Identity.Web does process samesite.
See https://github.com/AzureAD/microsoft-identity-web/blob/master/src/Microsoft.Identity.Web/CookiePolicyOptionsExtensions.cs#L77

[2020-07-15 10:08] SwathiDhanwada-MSFT commented on #58852
Assigning to content author @mumian for content review and updating the document if necessary

[2020-07-15 10:08] jmprieur commented on #59014
#unassign @hamiltonha

[2020-07-15 10:13] ehsf973 opened #59047 "definition of those acronym "Building upon MIIS, ILM, and FIM,""
" at the beginning of the page, give definition of those acronym "Building upon MIIS, ILM, and FIM," and explain with links if this is old tools  or not... and links to peoducts if still available
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba21ace2-da68-6b11-df42-6394609098e9
* Version Indepen

[2020-07-15 10:14] StellaSSHuang opened #59048 "Please add the availability of 'Azure in Open' Channel in the doc"
Please add the Azure Spot VMs Availability of 'Azure in Open' Channel in the doc. Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2bcebc93-3efa-b89a-e348-cb6605dbac9e
* Version Independent ID: dfae3da1-d422-f1ff-44da-2a2a6e553f9a
* Content: [Use Azure Spot VMs - Azure Windows Virtual Machines](https://docs.mi

[2020-07-15 10:20] Obenscripe commented on #58998
Hi @guyhay Guy,
Thanks for the update and I really appreciate the feedback. I actually wasn't aware that the runtime was not being highly invested in. My company recently suffered a major incident due to an upgraded runtime, hence we are now watching these much more closely. Can you possibly provide any more information on why this might be de-focused? is it in favour of Data Lake Gen 2 perhaps or

[2020-07-15 10:24] #53202 closed

[2020-07-15 10:28] bormm opened #59049 "Documentation Does not Match StorageExplorer 1.14.1 Usage"
There is nothing like "Generate container-level shared access signature URI" checkbox in the StorageExplorer 7/2020 1.14.1
With that, I would guess the SAS should be created by clicking on the container which contains the VHDs (one or multiple) and then make them specific as already described. So also "Right-click your VHD and then select Get Share Access Signature." is not correct (anymore).

---

[2020-07-15 10:34] SubhashVasarapu-MSFT commented on #58694
@JakubW88 , Appreciate your patience. As of now this feature of hiding the logs is not possible but you should be able to assign IAM roles so that views to the logs will be limited to certain people.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-07-15 10:34] #58694 closed

[2020-07-15 10:34] jmprieur commented on #55712
@k8edev: this is handled in Microsoft.Identity.Web: See https://github.com/AzureAD/microsoft-identity-web/blob/master/src/Microsoft.Identity.Web/Resource/AadIssuerValidator.cs.

[2020-07-15 10:44] tajaber opened #59050 "Device Write back & Group Writeback Permissions"
Please update the doc to include commands or steps to configure permissions required for "Device Write back" & "Group Write back"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5eab5899-ad7d-2071-6d43-50e7de4a304b
* Version Independent ID: ab3eeda6-a534-af65-9fff-604fec3a0b65
* Content: [Azure AD Connect: Configure AD

[2020-07-15 10:46] VikasPullagura-MSFT commented on #59016
@rtaylor72 Can you share the support case number so that I can followup internally on this.

[2020-07-15 10:46] VikasPullagura-MSFT commented on #59016
@dlepow
Can you please check and add your comments on this doc update request as applicable.

[2020-07-15 10:48] SubhashVasarapu-MSFT commented on #58871
@avalcarlos , Appreciate your patience. Both Tenant ID as well as Directory ID were same here. Recently there were changes on the portal which needs to be updated on the doc as well. We will assign this issue to the respective content author for updating the document accordingly.
@anzaman , Could you please provide your valuable insights here?

[2020-07-15 10:57] MayankBargali-MSFT commented on #58962
@LeaShallev It will be the same for an event hub endpoint. All the events will be sent in a batch internally. You can look into the enqueue time in UTC property for individual events send to the event hub. Batch operation means that it will send all the events at the same time over the network and at the event hub end it will be treated as individual events, therefore, you will not see it as an ar

[2020-07-15 10:58] fazdamoa commented on #36222
Querying the id of a disk from the Azure CLI returns capitalization of RG name in the id, and it shows in the portal as well. It doesn't seem to do this for other resources. As the RG name is incorrect in the id, `az resource move` command doesn't work (resource not found)

Changing the case of the RG name manually back to lowercase succeeds, and seems to be the only workaround.

[2020-07-15 11:04] eissko opened #59051 "azure encryption documentation SSE once called "Server Side Encryption" another one "Storage Service Encryption" confusing"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ade067f1-3f3e-73de-0321-bb8d07147cd3
* Version Independent ID: e8dc38c4-0114-b7c2-887f-e1d2810206e8
* Content: [Server-side encryption of Azure Managed Disks - PowerShell - Azure Windows Virtual Machines](https://docs.microsoft.com/en-us/azure/virtual

[2020-07-15 11:07] hugohhk commented on #58709
@sideeksh
Thank you so much for your clear explanation.

Do you have any documentation mentioning for VMware-to-Azure scenario the crash-consistent snapshot is taken at 5 min interval?
I cannot find this piece of info. I can only find it for Azure-to-Azure scenario.

Thanks

[2020-07-15 11:08] MayankBargali-MSFT commented on #58908
@MikePennington I am assigning this to the author to review it.

@gmndrg Can you please review if this needs to be updated.

[2020-07-15 11:30] jmprieur commented on #55712
Also added details to the https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-protected-web-api-app-configuration#token-validation article
See https://github.com/MicrosoftDocs/azure-docs-pr/pull/122459

[2020-07-15 11:37] amanmcse commented on #59047
@ehsf973  Thank you for your feedback . We will investigate and update the thread further.

[2020-07-15 11:44] sideeksh commented on #58709
I can confirm it is taken at 5 min intervals in the case of VMware to Azure as well. We will update the documentation with this information.

[2020-07-15 11:46] becke-ch-s0-v1 opened #59053 "All Rest API Reference Links are wrong"
[Enter feedback here]
On page: https://docs.microsoft.com/en-us/azure/machine-learning/how-to-manage-rest#drill-down-into-workspaces-and-their-resources
Is a table with columns: Area, Path, Reference.
All reference links are wrong i.e. 404:
https://docs.microsoft.com/en-us/rest/api/azureml/artifacts
https://docs.microsoft.com/en-us/rest/api/azureml/datastores
https://docs.microsoft.com/en-us/rest/

[2020-07-15 11:46] amanmcse commented on #59050
@tajaber Thank you for your feedback . We will investigate and update the thread further.

[2020-07-15 11:48] hugohhk commented on #58709
Thanks a lot! @sideeksh

[2020-07-15 11:48] SumanthMarigowda-MSFT commented on #59032
@msandbu Thanks for your question. We are checking on this and will respond to you soon.

[2020-07-15 11:59] SubhashVasarapu-MSFT commented on #59037
@daseth , Thanks for reaching out. We will investigate and update this thread.

[2020-07-15 12:00] SubhashVasarapu-MSFT commented on #59043
@ward0 , Thanks for reaching out. We will investigate and update this thread.

[2020-07-15 12:14] ARGs-code commented on #58734
Well, that is interesting. Thank you @SatishBoddu-MSFT .

I had thought that eastus2 was supported because the model conversion process works with eastus2 and my Azure Remote Rendering asset on Azure runs on eastus2 as well..... so this is confusing to me.

Thank you for pointing out this documentation.

If eastus2 is not supported, should I open up a different ticket since using eastus2 works wit

[2020-07-15 12:18] CHEEKATLAPRADEEP-MSFT commented on #59034
@m1nkeh, Thanks for the question! We are investigating and will update you shortly.

[2020-07-15 12:19] VikasPullagura-MSFT commented on #59051
@eissko
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-07-15 12:19] VikasPullagura-MSFT commented on #59051
@roygara
Can you please check and add your comments on this doc update request as applicable.

[2020-07-15 12:20] magnuskarlssonhm opened #59054 "Why is there no comparison of static/reserved IP?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e34a359d-9ba2-a8e3-8391-8dfa780a5c47
* Version Independent ID: f8b7a25e-c8ea-c435-7a96-45cdcfd2e60e
* Content: [Compare Azure Content Delivery Network (CDN) product features](https://docs.microsoft.com/en-us/azure/cdn/cdn-features)
* Content Source: [

[2020-07-15 12:20] VikasPullagura-MSFT commented on #59048
@StellaSSHuang
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-07-15 12:20] VikasPullagura-MSFT commented on #59048
@cynthn
Can you please check and add your comments on this doc update request as applicable.

[2020-07-15 12:22] pnarsi commented on #59026
Thanks @CHEEKATLAPRADEEP for the prompt response

Unfortunately I don't believe your response addresses my question.

As per your screenshot via the Azure Portal we can setup databricks diagnostic logs. Among other things this diagnostic setting collect logs related to clusters. Furthermore when I actually spin up a databricks cluster there is also an option to send "cluster logs: to a specific a

[2020-07-15 12:25] m1nkeh commented on #59034
thanks, hopefully can replicate.

[2020-07-15 12:27] sideeksh commented on #58969
Can you please use $EastUSCacheStorageAccount as the variable instead of $CacheStorageAccount? $EastUSCacheStorageAccount is defined in a previous step.

We do define recovery target disk account type in a previous step as $RecoveryOSDiskAccountType = $vm.StorageProfile.OsDisk.ManagedDisk.StorageAccountType

Can you explain what issue you are seeing with Accelerated networking?

[2020-07-15 12:30] v-fearam opened #59055 "Error following the steps"
### Step
az feature register --namespace "Microsoft.ContainerService"  --name "EncryptionAtHost"

### Result
Once the feature 'EncryptionAtHost' is registered, invoking 'az provider register -n Microsoft.ContainerService' is required to get the change propagated​
**The feature 'EncryptionAtHost' could not be found.**

### az version
az  --version
azure-cli                          2.9.0

command-m

[2020-07-15 12:33] VikasPullagura-MSFT commented on #59034
@peterpogorski Can you please check and add your comments on this.

[2020-07-15 12:34] rebremer commented on #58426
Hi @shashishailaj , any update on this?

[2020-07-15 12:34] vipulsparsh commented on #59045
@vronzeur  Thanks for reaching out. We will investigate and update the thread accordingly.

[2020-07-15 12:57] SadiqhAhmed-MSFT commented on #58709
@hugohhk Closing this issue for now. Feel free to reply if you have additional questions in this matter and we would be glad to continue the discussion.

@sideeksh Thanks for chiming in for help and providing detail information. Appreciate your time and help.

[2020-07-15 12:57] #58709 closed

[2020-07-15 12:58] tfitzmac commented on #59033
@slavizh - are you applying tags in a template and then also trying to retrieve those values with resourceGroup().tags in the same template?

[2020-07-15 12:59] SubhashVasarapu-MSFT commented on #59054
@magnuskarlssonhm , Thanks for reaching out. We will investigate and update this thread.

[2020-07-15 13:01] BreakingBI opened #59056 "Create Dataset from SQL Query Example uses Deprecated Code that fails on newer versions"
https://docs.microsoft.com/en-us/azure/machine-learning/how-to-create-register-datasets#create-datasets

In the "Create Datasets" section of this article, we do a great job of showcasing how to create various types of datasets.  However, the SQL Query example doesn't work.  It's deprecated and throws an error on SDK v1.8 or higher.  Here's the new code to accomplish this task.

from azureml.core i

[2020-07-15 13:02] tvial opened #59057 "Explain how to declare a pipeline variable"
Hi, I could not find any place in the ADF docs where variable creation is explained (or it's buried deep somewhere). The search bar will only do plain-text search on the whole Azure corpus, which as you can imagine is not very convenient for a term such as "variable". In the end I had to look it up on StackOverflow (!). Also, the documentation outline is really confusing. How about merging the "Qu

[2020-07-15 13:14] AnuragSharma-MSFT commented on #59029
@santhoshbomma9 Hyperscale (Citus) supports automated backup enabled on each (Coordinator as well as Worker) node throughout the cluster lifecycle, and replicated to three availability zones in Azure regions. So no need to set DR region manually.

Please refer to the below articles for more details around it:
https://docs.microsoft.com/en-us/azure/postgresql/concepts-hyperscale-backup
https://azur

[2020-07-15 13:15] BreakingBI commented on #59056
So perhaps this feedback should change slightly, the code does work if it is written EXACTLY as specified in the article.  The double parenthesis is incredibly important and was easily overlooked.  It may be worth adding some verbiage or commenting around double parenthesis vs. using DataPath.

This command works:

sql_ds = Dataset.Tabular.from_sql_query((sql_datastore, 'SELECT * FROM my_table'))

[2020-07-15 13:19] Ashok103606 commented on #59023
Souravmishra, Thank you for your quick response.

so, my question regarding access token, If I want to make a Post or Patch or get or any HTTP method to an graph api, generally in headers we need to pass to token value, I am looking for the details how to get that access token.

Here I am adding my code, could you tell me what I am doing wrong.

import requests
import json

token='How to get this

[2020-07-15 13:28] guyhay commented on #58998
Dan please reach out to me at guyhay@microsoft.com

[2020-07-15 13:35] SnehaAgrawal-MSFT commented on #54830
@kefei-gw Apologize for late response on this! Thanks again for asking question! There is already a [feedback](https://feedback.azure.com/forums/248703-api-management/suggestions/35957692-api-versioning-with-header-doesn-t-work-for-apis-w) submitted for this.
Also, the best way to share your feedback would be to Upvote it. The product group monitors this site for feedback. This is the best way to

[2020-07-15 13:38] Obenscripe commented on #58998
Thanks Guy, will do.

[2020-07-15 13:38] #58998 closed

[2020-07-15 13:44] GiantCrocodile commented on #58841
Thank you for your prompt replies @ everyone.

@asergaz @AshokPeddakotla-MSFT I will try out the given suggestion next days and come back to confirm if it did help me. Right now I just noticed that a sign-up on that page is required for Runkit which isn't that nice too but not that bad as installing software, etc.

@rbrundritt Thank you. I'm aware of the Azures Online Service terms and the pricing

[2020-07-15 13:44] m1nkeh opened #59059 "EventHub Namespace Changed Again"
For clarity, and not to make me wonder if i'm going mad - could you please list the version 1, 2, 3 of where EventHub classes namespaces _**used to be?**_

It would make for some additional completeness.. especially when looking at older codebases?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0613a868-e194-f476-be21-

[2020-07-15 13:59] kks85 commented on #35923
Hi All
I have an Azure Data Lake Storage and an Azure SQL DB with VNET firewall activated (service endpoint). These are used as Linked Service and later on as Data sets. For this, I had to set up a VM within the VNET/Subnet with self-hosted Integration Runtime.

With ADF, i successfully copied the data using self hosted IR from ADLS to table in SQL DB.
When I started the data flow activities like

[2020-07-15 14:15] vipulsparsh commented on #58761
@TuanVanTrinh  AAD does not prompt for registering for MFA for admin or normal end user under normal circumstances for Azure AD Free category.  There are few scenarios where there might be a prompt depending on user sign in and risk. It should ask everyone mandatorily to register after 14 days and not allow access unless they complete it.

For instant prompt for registering the MFA, You would need

[2020-07-15 14:26] GiftA-MSFT commented on #59035
@JeroenMeul we'll review your feedback and get back to you shortly. Thanks.

[2020-07-15 14:26] GiftA-MSFT commented on #59036
@Richie1132117 we'll review your feedback and get back to you shortly. Thanks.

[2020-07-15 14:27] GiftA-MSFT commented on #59053
@becke-ch-s0-v1 we'll review your feedback and get back to you shortly. Thanks.

[2020-07-15 14:28] gmndrg commented on #58908
Hi Mayank,

I requested this change on behalf of Mike Pennington. The document needs clarification as per the original request and Mike has pointed what would have make it clearer.. I am not the document author but the requestor of the change.

Please assign to any of the document collaborator editors for review.

Thank you,

Gia

Get Outlook for Android<https://aka.ms/ghei36>

___________________

[2020-07-15 14:30] GiftA-MSFT commented on #59056
@BreakingBI we'll review your feedback and get back to you shortly. Thanks.

[2020-07-15 14:48] SaurabhSharma-MSFT commented on #58666
@TheDapperDevin We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-07-15 14:48] #58666 closed

[2020-07-15 14:50] asergaz commented on #58921
Thank you @jimlane I am adding that step to the doc.

[2020-07-15 14:54] #58921 closed

[2020-07-15 15:05] djpmsft commented on #59057
Hey @tvial ,

Thank you for your feedback! Its very valid if I am being honest. Variables are a bit overlooked and are not clearly documented. I am adding a documentation work item to add it.

In terms of the table of contents, that is something determined by Azure standards.

- Quickstarts are intended to be your first time ever using the products
- Tutorials are end-to-end starter scenarios (Var

[2020-07-15 15:05] #59057 closed

[2020-07-15 15:05] slavizh commented on #59033
@tfitzmac Yes. Basically trying to create/update the resource group without applying the tags directly on resource group resource. That way if someone has added a tag manually it will not be wiped out by the tags I am trying to apply. Then I am trying to get the tags via resourceGroup().tags, merge them with the tags I want to apply  so I can apply them via Microsoft.Resources/tags resource.

[2020-07-15 15:13] MGoedtel commented on #58973
@SwathiDhanwada-MSFT - Yes, agree that the article for this topic and log alerts needs to be reviewed/revised.  I will see about adding it to next month's sprint.

[2020-07-15 15:14] jlb112 opened #59062 "Invalid Object Name Error"
I am following this tutorial:
https://docs.microsoft.com/en-gb/azure/data-factory/tutorial-bulk-copy-portal

I receive the following error in the IterateAndCopySQLTables pipeline.

[code]

It is suggesting the object name is invalid. I have created empty tables for each AdventureWorks table in my DW. I receive the same error after deleting the empty tables.

Here is the JSON of my IterateAndCopySQ

[2020-07-15 15:16] ronortloff commented on #57709
#please-close

[2020-07-15 15:16] #57709 closed

[2020-07-15 15:17] todorgb commented on #59009
I don't have access to partner center test account to get the flow - but I'm familiar with it. @BrianLevenson  - what will be the best way to work together to get this update?

[2020-07-15 15:31] ajithkr-ms commented on #59020
We can replace **Azure Backup (MAB) Agent**  with **Microsoft Azure Recovery Services (MARS) Agent**.

Reassigning to David for help with changes.

#reassign:dcurwin

[2020-07-15 15:39] fgauna12 opened #59063 "AKS Pod CPU Limits - A little bit of misleading verbiage"
Pod limits help define when a pod has lost control of resource consumption. When a limit is exceeded, the pod is prioritized for killing to maintain node health and minimize impact to pods sharing the node.

Pods that exceed memory limit get killed. Pods that exceed CPU limit don't.

The way I'm reading this those points sounded like pods that exceed CPU limit get killed.

Reference: https://kuber

[2020-07-15 15:40] CharmanderJieniJieni commented on #58807
@PramodValavala-MSFT sorry for delay. Still having the problem, it is UI issue instead of code. See screenshot below
![image](https://user-images.githubusercontent.com/23019764/87565706-003fe880-c690-11ea-8d71-932328beeff7.png)

[2020-07-15 16:07] hansenms commented on #58397
+@moiradillon12

[2020-07-15 16:09] rbrundritt commented on #58841
Ok, the Azure Maps platform as a whole is govern by the Online service terms. The NPM package itself does have to include a license text with it. However we are pretty open there and include unminified source code as an option.

[2020-07-15 16:10] realrubberduckdev opened #59065 "Secured event delivery to functions with AAD"
Hi, I have been following the documentation page  [Secure WebHook delivery with Azure AD in Azure Event Grid - Azure Event Grid](https://docs.microsoft.com/en-us/azure/event-grid/secure-webhook-delivery). I understand it is for webhook and not azure functions.

But how do we achieve this for a function?

The issue is, when I deploy a function as an event handler for a system topic (Azure subscript

[2020-07-15 16:11] rickle-msft commented on #58995
Hi, @aschechter88. You are correct that we removed location mode, and our conceptual docs probably do need to be updated. You're also not the first person to ask about this in the new version, so I have created an [issue](https://github.com/Azure/azure-sdk-for-java/issues/13198) on the java sdk repo for us to add this. We'll get to it as soon as we can.

In the meantime, I'll explain how that work

[2020-07-15 16:14] MashaMSFT commented on #42383
Hi @KitSkin , our apologies for the delay. Has this issue been addressed or do you still need further assistance?

Thanks!
Masha from the SQL Docs team

[2020-07-15 16:18] javester opened #59066 "Typo on right pane "What if I still want local temp disk?""
[Enter feedback here]

Typo on right pane "What if I still want local temp disk?"
should be "What if I still want a local temp disk?"
missing the word "a"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 491f3079-7fe0-9bba-dde4-89b5de7eb8e7
* Version Independent ID: ca05a139-92b7-299a-dd2e-a8a62e82937d
* Content: [FAQ Az

[2020-07-15 16:20] RyanHill-MSFT commented on #47611
Hi @NunoBem, let me follow up with the product group team on this issue.

[2020-07-15 16:20] BhargaviAnnadevara-MSFT commented on #58769
@cveld Just following up here to check if the above response helped.

[2020-07-15 16:20] mirageglobe commented on #6609
Its a permission issue. if you are on one of the linux distros (perhaps Windows WSL), check your path.. echo ${PATH}. /usr/local/bin is not writable as your current user. you can either sudo (raise your privilages as above) or try to install it in a different location as described below.

create a directory to house your kubectl binary

export the path in your .bashrc by adding the following into

[2020-07-15 16:24] MonikaReddy-MSFT commented on #58937
@BenjaminWFox-Lumedic - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-15 16:24] #58937 closed

[2020-07-15 16:26] rtaylor72 commented on #59016
case # 120071424006380

[2020-07-15 16:29] MonikaReddy-MSFT commented on #58790
@jkounovsky - Did you get a chance to look at the above response.

[2020-07-15 16:29] SubhashVasarapu-MSFT commented on #58977
@Mahesh-MSFT , We have assigned this issue to the respective content author for updating the document accordingly.

[2020-07-15 16:33] yegu-ms commented on #58970
#please-close

[2020-07-15 16:38] #47589 closed

[2020-07-15 16:39] glecanu opened #59067 "CIDR notation is incorrect"
[Enter feedback here]
The CIDR notation is using the incorrect slash.  It should be a forward slash as opposed to a back slash.

Incorrect notation: 10.3.0.0\24

Correct notation: 10.3.0.0/24

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1895941d-fa70-08ea-53c4-c49a65300625
* Version Independent ID: c41d9420-3dc5-5c49

[2020-07-15 16:40] zr-msft commented on #47589
Thank you @flabbergasted for the feedback!

I have updated the article to address your feedback and the changes should be available soon.

[2020-07-15 16:43] MikeWedderburn-Clarke opened #59068 "Can't open contoso.crt for reading, No such file or directory"
Followed the article exactly using openssl 1.1.1g

Step 1 generates contoso.key and doesn't prompt for password (doc says it will prompt)

Step 2 is 2 commands combined. If you copy the block and paste into a prompt you end up adding the 2nd command as an answer to 'state or province' question of the 1st command. Please split these into 2 separate commands to make it easier for dumb people like me

[2020-07-15 16:44] rrperkin commented on #56756
Thanks, @JasSuri; I appreciate learning this.

[2020-07-15 16:47] rikogeln commented on #58734
@ARGs-code The powershell example scripts incorrectly lists "eastus2" as the name of the eastus region service URL. This error will be fixed in an upcoming release. So in the meanwhile please use "eastus2" when using the conversion script, but it will actually use the eastus region.
Sorry for the confusion and thanks for helping us to improve Azure Remote Rendering

[2020-07-15 16:48] SadiqhAhmed-MSFT commented on #58760
@fire-fly Closing this issue for now. If the issue is resolved, you may update the status here. If issue still persist, mail me with the details as mentioned above.

[2020-07-15 16:48] #58760 closed

[2020-07-15 16:53] SatishBoddu-MSFT commented on #58989
@rgamage
I have assigned the issue to the content author @stevebus for further review.

[2020-07-15 16:56] aschechter88 commented on #58995
Thanks @rickle-msft for the feedback. I eventually discovered the `secondaryHost` property, though I do wish that there were more explanation about the retry patterns and the order in which the hosts are targeted. My aim is to generate a client that I can use in a hot/cold regional failover situation by providing it with three things: the two DNS names for primary and secondary, and a single boole

[2020-07-15 16:56] SatishBoddu-MSFT commented on #58965
**I agree**, I too faced such situations where I restarted my work, glad to see that you are now unblocked.

[2020-07-15 17:00] ajlam commented on #58749
Hi all, our team is removing the OSBA documentation in the short term. We are working with the AKS team to figure out how to proceed.

#please-close

[2020-07-15 17:01] #58749 closed

[2020-07-15 17:02] #58983 closed

[2020-07-15 17:12] himanshusinha-msft commented on #59062
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-07-15 17:13] #58776 closed

[2020-07-15 17:13] DCtheGeek commented on #58776
@arindam-b Just to full circle on this, the above sample has an issue in that if a property value includes a`'`, it'd be incorrectly converted to a `"` with the replace line above. We are adjusting the article to be clear that what is returned is a Python object instead of JSON.  Thanks again for pointing this out!

[2020-07-15 17:15] himanshusinha-msft commented on #59059
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-07-15 17:20] santhoshbomma9 commented on #59029
Thank you for the prompt response @AnuragSharma-MSFT.
So simply putting it, there is no way for to manually select a DR region(if I want to) for HyperScale(Citus) version unlike the Single-Server version of Azure Database for PostgreSQL.

[2020-07-15 17:26] jkounovsky commented on #58790
@MonikaReddy-MSFT - I just now read it. I'll be sending you this info presently.

[2020-07-15 17:28] dcurwin commented on #59020
Thanks for your suggestion. The content has been updated.

[2020-07-15 17:31] rvila7 opened #59069 "Service Application for Azure API for FHIR"
Hello and thank you for your time.

I have been trying to create a service application registration for an Azure API for FHIR instance and have been unable to do so. The "Application Permissions" block is disabled when I try to add the application permissions to the Azure Healthcare API in the application registration.

In the referenced documentation, the author mentions that in the case of using

[2020-07-15 17:37] dcurwin commented on #59020
#please-close

[2020-07-15 17:37] #59020 closed

[2020-07-15 17:39] normesta commented on #57145
Thank you for the feedback @Sidefix. Yes, formal support for Message Analyzer has been deprecated. I've placed this article into our archive repo. Thanks!

[2020-07-15 17:40] normesta commented on #57145
#please-close

[2020-07-15 17:41] #57145 closed

[2020-07-15 17:41] normesta commented on #57145
#please-close

[2020-07-15 17:44] JamesTran-MSFT commented on #57608
@iliassk
I just wanted to check in and see if the response from @JasSuri helped with your issue. It looks like the link provided points to the only location we have regarding [AzureAD B2C](https://docs.microsoft.com/en-us/azure/active-directory-b2c/) custom policy documentation.

![image](https://user-images.githubusercontent.com/36619112/87576240-e8fbfd80-c685-11ea-9a00-d2a930b6a0a8.png)

Please

[2020-07-15 17:44] normesta commented on #58672
Hello @vick-git - yes this feature is not yet supported for ADLS Gen2 (blob storage accounts that have a hierarchical namespace).

[2020-07-15 17:45] CharmanderJieniJieni opened #59070 "Is there an API option to create custom labels?"
This document tells how to create custom label in portal. Is there an API or powershell command to do the same?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ecc186b-cbfd-1c4e-fc2e-165883dc0a02
* Version Independent ID: 207f8456-0e71-c5c6-ddbd-88c0762dfc1e
* Content: [Customize SQL information protection - Azure Secu

[2020-07-15 17:48] himanshusinha-msft commented on #59059
@m1nkeh   We have assigned the issue to the content author . They will evaluate & update the document as appropriate
@spelluru

[2020-07-15 17:48] NavtejSaini-MSFT commented on #58246
@afratila  In addition to having at least read permissions on the server and database, the following is required:

Viewing results in the portal:
Microsoft.Storage/storageAccounts/listKeys/action
or
Microsoft.Storage/storageAccounts/blobServices/containers/read
Microsoft.Storage/storageAccounts/blobServices/containers/blobs/read

Viewing results in the portal (national clouds):
Microsoft.Storage/s

[2020-07-15 17:51] NavtejSaini-MSFT commented on #58031
@jschrap Thanks for confirming. For now we are closing this feedback and we will work with our internal team to document this.

[2020-07-15 17:51] #58031 closed

[2020-07-15 17:52] hansenms commented on #59069
@rvila7 it is unclear from your question what exactly is disabled. Can you clarify what specific task you are trying to do?

It sounds like you are trying to create a client application (public or confidential client) application in Azure Active Directory. If your application permissions is disabled in this step, can you post a screenshot (redact any sensitive information), so we can take a look.

[2020-07-15 17:54] nkumars commented on #58645
@JasSuri, mine implementation is bit different. I cannot set **AlwaysUseDefaultValue** to **true**, because the **DefaultValue** should only be considered in the case when **PartnerClaimType** is null or empty. Here is my TechnicalProfile
[code]

**NOTE:** I even tried setting **AlwaysSetDefaultValue** to **true**, but still it leaves me with the same issue. Also please ignore values wrapped with

[2020-07-15 17:54] genesavvy-chris commented on #58935
@PramodValavala-MSFT thank you for the follow-up! I still believe that there could be valid use-cases for someone interested in identifying upload events for unmanaged disks and for that reason this should be called out more clearly in documentation somewhere -- although admittedly, using these for unmanaged disk does not fit my application. Another piece of feedback here is that if "Premium Gener

[2020-07-15 17:55] #58935 closed

[2020-07-15 17:57] krish-gh commented on #58920
@duwood , Thanks for bringing our attention to this. I can confirm that you observation is correct by reproducing a basic sign-in scenario at my end. I created a single tenant application within my org, but did not grant admin consent to basic sign in permissions. I went on to classify those as low impact and also set the second option from user consent settings. But I still see the admin consent

[2020-07-15 17:57] PRMerger20 commented on #58920
GitHub user krish-gh has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2020-07-15 18:01] SubhashVasarapu-MSFT commented on #59054
@magnuskarlssonhm , As of today reserved/static IP is not available on Azure CDN. Hence, they were not added under the list of comparisons. Also there is no ETA on this availability.

[2020-07-15 18:03] vick-git commented on #58672
Hello @normesta, documentation says Blob container ACL not possible to be set up on an adls gen2 account.

![image](https://user-images.githubusercontent.com/57968021/87579341-9c66f100-c68a-11ea-93de-2abf0bb5b198.png)

![image](https://user-images.githubusercontent.com/57968021/87579048-2f535b80-c68a-11ea-8c3a-43effe6aae6a.png)

But we can set it. Please correct if the understanding is wrong here.

[2020-07-15 18:08] MarileeTurscak-MSFT commented on #59070
@CharmanderJieniJieni
Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-15 18:10] cynthn commented on #59048
@StellaSSHuang I'm sorry, I'm not sure what you mean?

@axayjo

[2020-07-15 18:12] SubhashVasarapu-MSFT commented on #59037
@daseth , Appreciate your patience. Here is a similar case #57058 that needs a doc fix.

[2020-07-15 18:16] SubhashVasarapu-MSFT commented on #59068
@MikeWedderburn-Clarke , Thanks for reaching out. We will investigate and update this thread.

[2020-07-15 18:17] wbinterns commented on #58810
@GiftA-MSFT when you say "use the latest sample", do you mean completely remake the bot from scratching using this newer version as a base? I guess I can try that, but that doesn't seem like the best option for development going forward.

[2020-07-15 18:22] SubhashVasarapu-MSFT commented on #59067
@glecanu , Appreciate your feedback. The doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-07-15 18:22] #59067 closed

[2020-07-15 18:37] #40258 closed

[2020-07-15 18:39] zr-msft commented on #40258
Thank you @nodeselector for your feedback!

I have updated the article to address your feedback and the changes should be available soon.

[2020-07-15 18:46] artisticcheese opened #59071 "Please clarify scenario with no inbound rule but NAT rule"
There are 3 scenarios defined in following statement (https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-outbound-connections#scenarios).
I beleive scenario where VM associated with inbound NAT rule but have no Load Balancing or Oubound Rule defined. How outbound connectivity shall work in this cases?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2020-07-15 18:47] #32528 closed

[2020-07-15 18:49] MGoedtel commented on #57144
@tigerdeccan - Yes, this is already on my list of things to do and the article will get updated this sprint.  I'm waiting on engineering to provide those details in order to include in the article update for v2.80. Thanks for bringing this to our attention.  #please-close

[2020-07-15 18:49] #57144 closed

[2020-07-15 18:50] zr-msft commented on #32528
Thank you @artisticcheese for the feedback!

I have updated the following article to address your feedback and the changes should be available soon:
https://docs.microsoft.com/azure/aks/windows-node-limitations

[2020-07-15 18:50] anbene commented on #59049
@bormm Thank you for reaching out and bringing this to our attention. We'll look into your request and we'll give you an update soon.

[2020-07-15 18:59] rvila7 commented on #59069
@hansenms Thank you for writing back so quickly. I'll try to clarify.

Can you clarify what specific task you are trying to do?

I am trying to connect to my Azure API for FHIR instance through a .NET Core console application (to eventually use this code in an Azure Function). I want to authenticate with a Client Id and Client Secret, not through the Microsoft user authentication flow which gets t

[2020-07-15 19:02] HarshitaSingh-MSFT commented on #58960
Hello @rick-hayek,

I went through the tutorial and implemented it. I found that OpenIdConnectProtocol is automatically taking Given Name and Surname as inputs. I would suggest you use below method for creating Sign in/Sign Up flows.

- For your 1st question

    Try to create a User Flow instead of creating Custom Policies, which is well explained [here](https://docs.microsoft.com/en-us/azure/act

[2020-07-15 19:03] normesta commented on #58672
Hi @vick-git - this is definitely something worth clarifying. Adding @swums to help us clarify this. I believe you are setting ACLs on the root directory of the container (even though the UI leads us to believe that you setting ACLs on the container itself). The root directory has the same name as the container except with the "/" in it. The container name could be "my-container" and the root dire

[2020-07-15 19:10] shortpatti commented on #57657
In progress

[2020-07-15 19:17] MonikaReddy-MSFT commented on #58815
@arvindsindhu - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-15 19:17] #58815 closed

[2020-07-15 19:21] ChaitanyaNaykodi-MSFT commented on #58826
@dery168, Just following up here... Hope my previous comment helps.

[2020-07-15 19:21] MonikaReddy-MSFT commented on #58790
@jkounovsky - Thanks for sending the email. I have sent you email, please follow the steps and reach out if you have any further questions.

Since there are no Doc updates at this moment, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-15 19:21] #58790 closed

[2020-07-15 19:26] MonikaReddy-MSFT commented on #58745
@clineer -
Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-15 19:26] #58745 closed

[2020-07-15 19:30] toutougabi opened #59077 "The application rule collection causes API Server calls to fail for ingress controllers and other internal services"
The rules mentionned in the "Adding firewall rules" talk about adding an Application Rule Collection to whitelist the https traffic going to the API Server. This rules will not work for internal kubernetes components.

Within kubernetes, in the default namespace a service is created automatically by AKS at the creation of the cluster to enable pods to talk to the API server. This service uses the

[2020-07-15 19:32] MGoedtel commented on #58865
@dcbrown16  - Thanks for bringing this to my attention, I knew I forgot to reference that particular detail in the UM content. :)  I'll get that addressed this week.  #please-close

[2020-07-15 19:32] #58865 closed

[2020-07-15 19:34] Mike-Ubezzi-MSFT commented on #58764
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-07-15 19:34] #58764 closed

[2020-07-15 19:34] ChaitanyaNaykodi-MSFT commented on #59008
@toddysm , Thank you for reaching out. The different modes in “fileLoggingMode” are.
“debugOnly”: This level will generate logs when the function app is running on Azure Portal. This is the default mode.
“always”: This mode is used to generate logs in local environment as well as when running on Azure Portal. This [code](https://github.com/Azure/azure-functions-host/blob/d87c8b0a972800434455b74e82

[2020-07-15 19:35] dery168 commented on #58826
Hi @ChaitanyaNaykodi-MSFT : thanks for the following up! But for a super simple Function solution my client is expecting is:
  1. Able to read and  write to dynamodb with MongoDB interface.
  2. Browser based editing the JavaScript Function.
I am able to run the MongoDB client directly within the code on a Linux base Function but browser editing is missing.
I switch to Windows base Function but st

[2020-07-15 19:36] shortpatti commented on #56370
In progress

[2020-07-15 19:37] shortpatti commented on #56497
#assign @shortpatti

[2020-07-15 19:43] shortpatti commented on #56370
The content was updated.

#please-close

[2020-07-15 19:43] #56370 closed

[2020-07-15 19:44] shortpatti commented on #54270
#assign @shortpatti

[2020-07-15 19:44] shortpatti commented on #54269
#assign @shortpatti

[2020-07-15 19:45] shortpatti commented on #57657
#assign @shortpatti

[2020-07-15 19:50] montyplattner commented on #37403
@jaspkaur28 / @KrishnaG-MSFT - any updates on this?

[2020-07-15 19:52] hansenms commented on #59069
If you are making a console application, you are probably planning on obtaining a token with client credentials for a service principal instead of delegated permissions for a user, am I right? If that is the case, you don't need to assign API permissions explicitly. You can just use any client application to obtain a token with audience https://<myservice>.azurehealthcareapis.com. If you are using

[2020-07-15 19:55] ckittel opened #59079 "EncryptionAtHost - Evidence of function"
Hey there team.  Thanks for the great details on how to enable the new Encryption at Host feature.  Really easy to follow, and can set up **Platform Managed Key** Encryption at Host without trouble.

To complete my journey, I want to be able to _see_ that the feature is indeed enabled.  Since this is such a transparent feature, I'm looking for some sort of in-VM evidence that it "is working."  Is

[2020-07-15 19:55] #57442 closed

[2020-07-15 19:55] #59000 closed

[2020-07-15 19:57] vick-git commented on #58672
@normesta, thanks & @swums , so you mean to say from the below screenshot, the "**/**" is ACL for root folder level although set at container level. Right?

![image](https://user-images.githubusercontent.com/57968021/87589816-adb7f980-c69a-11ea-87f1-13dfddc60000.png)

[2020-07-15 19:59] mmacy commented on #57442
The following section has been added to the article in PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/122531 and should appear on the live site after the next scheduled publish operation:

[2020-07-15 19:59] mmacy commented on #59000
The following section has been added to the article in PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/122531 and should appear on the live site after the next scheduled publish operation:

[2020-07-15 20:16] toddysm commented on #59008
@ChaitanyaNaykodi-MSFT few more things:
- Documenting that by using this setting the console logs will not be shown is also helpful information (unless the PG wants to fix that)
- Also, having the option to specify where the logs are stored (at least for local development) would be nice (this is more of a new feature request though)

[2020-07-15 20:24] JimacoMS3 commented on #58154
@elhorton @nayato Unless someone tells me not to, I'm pushing the fix at 5pm today. See above for open question.

[2020-07-15 20:28] shortpatti commented on #54270
The content has been updated.

#please-close

[2020-07-15 20:28] #54270 closed

[2020-07-15 20:29] BBrukner opened #59084 "Clarify moving Marketplace resources across RGs"
We found that certain Marketplace VMs can be moved across RGs in one subscription, but not across subscriptions. The sentence regarding this is misleading:

"Virtual machines created from Marketplace resources with plans attached can't be moved across resource groups or subscriptions."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2020-07-15 20:32] bandersmsft commented on #57568
@SebastianClaesson Thanks for your input about the article. The schema at the top of the template ( https://schema.management.azure.com/schemas/2018-05-01/subscriptionDeploymentTemplate.json#) defaults to a subscription level deployment from ARM’s perspective. You can look for the complete set of $schema to create budget resources at https://docs.microsoft.com/azure/azure-resource-manager/template

[2020-07-15 20:32] #57568 closed

[2020-07-15 20:33] spelluru commented on #58981
Fixed the screenshot.

#please-close

[2020-07-15 20:33] #58981 closed

[2020-07-15 20:35] normesta commented on #58672
@vick-git - yes this is the root directory. Only in the UI of Storage Explorer does this mechanism have the appearance of setting ACLs on the actual container and I agree that this is confusing. The Data Lake Storage SDKs are more clear about applying ACLs only to directories and not the container itself.  There is no method in any of the Data Lake Storage SDKs that set an ACL on the container or

[2020-07-15 20:36] Guidonet opened #59085 "Subresource name for app configuration service is wrong. Should be configurationStores not configurationStore"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b006a616-2f2f-8ecf-8b80-fd0a3cc62090
* Version Independent ID: 92c54dc6-8ddf-b1f7-4a58-d61b8cd7fe25
* Content: [What is an Azure Private Endpoint?](https://docs.microsoft.com/en-us/azure/private-link/private-endpoint-overview#dns-configuration)
* Cont

[2020-07-15 20:40] shortpatti commented on #54269
The content has been updated.

#please-close

[2020-07-15 20:40] #54269 closed

[2020-07-15 20:41] zr-msft commented on #54845
Thank you @cvs79 for the feedback!

Based on the comments above, the issue appears to be resolved.

#please-close

[2020-07-15 20:41] #54845 closed

[2020-07-15 20:43] skwan opened #59088 "No 5.3 runtime in runtime version drop down, only goes as low as 5.5"
The quickstart says "For this article, create a cluster with 5.3 runtime".  I created a Trial databricks service and when I create a cluster there is no selection in the drop down for a 5.3 runtime.  Only goes as low as 5.5.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 355fba0e-958e-f572-18c2-892c91d20b13
* Version I

[2020-07-15 20:48] zr-msft commented on #54615
Thank you @annerajb for the feedback!

Based on the comments above, the issue appears to be resolved.

#please-close

[2020-07-15 20:48] #54615 closed

[2020-07-15 20:50] TravisCragg-MSFT commented on #58919
@manish1347 It is likely the Application Gateway is already using those addresses in your Subnet, as the Application Gateway already exists. If you want one of those IPs, you will likely need to specify it on creation of the Application Gateway, not after.

Once again, I would use the 2nd to last address in the subnet as your public endpoint, as this will allow an unobstructed IP range for your Ap

[2020-07-15 20:51] shortpatti commented on #57657
Hi @divka78 can you provide an update on this issue?

[2020-07-15 21:02] sam-lippert opened #59090 "Blockchain Workbench configuration docs do not mention return values."
I am currently unable to deploy my smart contracts to Azure Blockchain Workbench due to the following error:

`Add the get function to the Blockchain contract for the Blockchain workflow. It currently doesn’t exist or has a different function signature with different parameter names, or without public/external visibility`

This issue disappears when I remove my return values from my smart contract

[2020-07-15 21:04] ChaitanyaNaykodi-MSFT commented on #59065
@realrubberduckdev, Thank you for your feedback! We will review and update as appropriate.

[2020-07-15 21:09] MarkusVi commented on #55905
This is work in progress and will be documented soon.

#please-close

[2020-07-15 21:09] #55905 closed

[2020-07-15 21:09] zr-msft commented on #55752
Thank you @M-Becerra for the feedback.

The limitations section lists the Azure API version.

The steps provided work with all supported versions of Kubernetes on AKS.

#please-close

[2020-07-15 21:09] #55752 closed

[2020-07-15 21:11] mallecespedes opened #59091 "Using Parameterized Linked Services in ADF Mapping Data Flows"
Hi,

My team and I want to use a parameterized linked service in a Source block in Mapping Data Flows. The linked service has been used in normal copy activities and the parameters are passed from the dataset.

**Is there a way to use a parameterized linked service in Mapping Data Flows?**

Defining parameters for the linked service from the dataset is shown in ADF as the following image:
![image]

[2020-07-15 21:15] zr-msft commented on #54362
Thank you @CeciAc for the feedback.

The article contains the correct parameters for creating a cluster.

#please-close

[2020-07-15 21:15] #54362 closed

[2020-07-15 21:18] IngridAtMicrosoft commented on #58927
@JPBres
From engineering: You should not take any dependency on the GUID in the metadata.json. You should scan for any *_metadata.json and query the filepath string within to find the source filename (without truncation).

[2020-07-15 21:18] IngridAtMicrosoft commented on #58927
#please-close

[2020-07-15 21:18] #58927 closed

[2020-07-15 21:22] ChaitanyaNaykodi-MSFT commented on #58826
@dery168, Thank you for the response.
Actually editing the code from the Azure Portal is not [recommended](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference#fileupdate), we can edit function app using multiple [local tools](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference#use-local-tools-and-publishing). Following the [JavaScript developer guide](

[2020-07-15 21:23] Jscholtes128 opened #59092 "Get Analyze Form Result - Page Results seems to no longer have KeyValuePair or cluster id"
The documentation show KeyValuePair in pageResults for the form results API; however, with V2 I am no longer getting cluster id or key value pair.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5fa2bcb-4ecb-fea1-5126-36986c2c94e9
* Version Independent ID: c6cd5bd0-b35b-5e29-7f5e-db8cabecc7af
* Content: [Quicks

[2020-07-15 21:26] jmccor99 commented on #57978
I am also looking for clarity on this subject. I would expect network to assume the role of the security perimeter for hybrid scenarios only.

[2020-07-15 21:28] osama222 opened #59093 "optional parameters are no longer optional"
I tried to use Auto loader after following the below steps but without passing subscription id, resource group name, or connection string since they're mentioned in the documentations as optional and not mandatory parameters but I started getting errors these parameters are missing.

Below the code i've used

[code]

This is an example of the error I've received:

And then I've ended up with addin

[2020-07-15 21:29] zr-msft commented on #53246
Thank you @sowsan for the feedback.

The article has been updated to incorporate your feedback.

#please-close

[2020-07-15 21:29] #53246 closed

[2020-07-15 21:34] Grace-MacJones-MSFT commented on #58581
Hi @ehuna, apologies for the delay in response. Based on this [Stack Overflow](https://stackoverflow.com/questions/39413953/how-to-update-expiration-time-in-azure-notification-hub-registration) thread, we can see you were able to find a solution after opening a support case. We have reported this scenario to the engineering team and they will be updating the docs soon. Thanks for your patience!

W

[2020-07-15 21:34] #58581 closed

[2020-07-15 21:35] trevorbye commented on #57813
just updated the doc, changes will be live this afternoon. #please-close

[2020-07-15 21:35] #57813 closed

[2020-07-15 21:35] arindam-b commented on #58776
"Just to full circle on this, the above sample has an issue in that if a property value includes a', it'd be incorrectly converted to a " with the replace line above." -> **Yes, I have faced that too.**
Thanks. I will try the returned python object.

[2020-07-15 21:36] rvila7 commented on #59069
@hansenms I got it working now.. I thought that by enabling the API Permissions the scope would become available as I tried many and none worked.

Could you clarify the use case of the referenced documentation to avoid confusion in the future? When is it appropriate to enable Application Permissions in the application registration?

Im closing as I resolved the issue and no further documentation i

[2020-07-15 21:36] #59069 closed

[2020-07-15 21:38] ssmaredia opened #59094 "encodeURIComponent missing in document"
[Enter feedback here]
function 'encodeURIComponent' is missing in document

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72651acd-eb46-2e18-586a-c8e0e451a9ba
* Version Independent ID: 720f83e1-0f27-ea61-1763-5bbe97b7379b
* Content: [Template functions - Azure Resource Manager](https://docs.microsoft.com/en-us/azure/az

[2020-07-15 21:43] zr-msft commented on #52436
Thank you @gsxmax for the feedback!

The article no longer references using *aks-preview*.

#please-close

[2020-07-15 21:43] #52436 closed

[2020-07-15 21:50] palma21 commented on #59077
Hi @toutougabi

That scenario is covered in the network rules overview:
https://docs.microsoft.com/en-us/azure/aks/limit-egress-traffic#required-outbound-network-rules-and-fqdns-for-aks-clusters

Also please note in that same section:

So everything on kube-system will use the FQDN and not the IP. You may apply a similar option for additional namespaces like the ingress controller namespace.

Serv

[2020-07-15 21:53] nellyontour opened #59096 "Recreation of VPN Gateway"
Hi. The instructions don't follow a logical pattern.
We first delete the existing VNet VPN Gateway and Subnet - OK
But then we create a new ExpressRoute Gateway only. There are no steps to recreate the VPN gateway (or add any connections to it).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23d4f079-654e-2053-4654-115

[2020-07-15 21:57] YutongTie-MSFT commented on #59085
@Guidonet
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-07-15 21:57] YutongTie-MSFT commented on #59092
@Jscholtes128
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-07-15 21:58] kobulloc-MSFT commented on #58781
@Bart-Hoofd This is still relevant.  Technically you are correct in that you can enable HTTP2 protocol support however there is a known Windows API conflict with using Kerberos authentication.  While this is the only issue I'm aware of, the recommendation is to disable HTTP2 protocol support as mentioned in the documentation.

[2020-07-15 21:58] JasonWHowell commented on #58838
#reassign:MonikaReddy-MSFT

[2020-07-15 21:58] JasonWHowell commented on #58839
#reassign:MonikaReddy-MSFT

[2020-07-15 21:59] ChaitanyaNaykodi-MSFT commented on #59008
@toddysm Thank you for the feedback!
We actually have a [forum](https://feedback.azure.com/forums/34192--general-feedback) where you can raise a new feature request based on your Azure experience.

[2020-07-15 22:01] hansenms commented on #59069
You need to enable API permissions, delegated permissions, when you are using your client application to obtain a token on behalf of a user. That is the scenario we run through in the Postman tutorial. When you are obtaining a token for a service principal (service-to-service authentication), you don't need it.

Hope this helps.

[2020-07-15 22:05] #53707 closed

[2020-07-15 22:07] TravisCragg-MSFT commented on #59071
@artisticcheese A VM with an [inbound NAT rule on a Load Balancer](https://docs.microsoft.com/en-us/azure/load-balancer/components#inbound-nat-rules) (not to be confused with [Azure Virtual Network NAT](https://docs.microsoft.com/en-us/azure/virtual-network/nat-overview)) and no Public IP or Outbound rules will still have no outbound internet connectivity.

Inbound NAT rules only allow inbound con

[2020-07-15 22:17] saimakin commented on #27770
- Merhaba Mesaj CMDRMiley [``]()

[2020-07-15 22:17] saimakin commented on #27770
**_[]()_**

[2020-07-15 22:21] TravisCragg-MSFT commented on #59085
@Guidonet Thanks for the feedback! I have updated the subresource name, and the doc should reflect this change within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-15 22:21] #59085 closed

[2020-07-15 22:27] kraigb commented on #58728
@MTA1711 Hi--I assume that the web app is running fine on App Service after deployment, correct? Have you been able to get SSH to work using the exact sample that's used in the article? I see that your Dockerfile is using Node.js? I just want to eliminate as many variables as possible first.

[2020-07-15 22:28] artisticcheese commented on #59071
This is not clear from the documentation. Documentation states

`
In this scenario, the Load Balancer resource must be configured with a load balancer rule to create a link between the public IP frontend with the backend pool. If you do not complete this rule configuration, the behavior is as described in scenario 3.
`
And scenario 3 covers VM with no public IP or not behind LB which still has out

[2020-07-15 22:29] KinoriSR opened #59097 "Example code for anomaly-detector client library gives an error"
I tried running the example code to learn how the API works, but I get this error when I run it:
`Unable to serialize value: Timestamp('2018-03-01 00:00:00+0000', tz='UTC') as type: 'iso-8601'., TypeError: an integer is required`

I tried messing with the timestamps and looking through docs, but only succeeded in more errors. Am I missing something/making a mistake?

The code is from the example o

[2020-07-15 22:29] Jont-K opened #59098 "Add Tax Remittance link in the "markets" section of this document"
This section previously included a hyperlink to the tax remittance document (I believe).  It is very helpful because many ISVs want to include some, but not all, countries and the insight about countries that Microsoft pays the tax vs ISV pays the tax is very helpful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c0c

[2020-07-15 22:36] TravisCragg-MSFT commented on #59096
@nellyontour The [paragraph at the top of that section](https://docs.microsoft.com/en-us/azure/expressroute/expressroute-howto-coexist-resource-manager#add) describes why only the steps to increase the size of the gateway subnet are shown.

If your Gateway Subnet is large enough to handle both, you can just go ahead and create the other type of gateway in the subnet. Please let me know if you have

[2020-07-15 22:53] zr-msft commented on #53707
Thank you @ezYakaEagle442 for the feedback!

I have incorporated your feedback into the Table of Contents and the changes should be available soon.

[2020-07-15 23:05] hannesne commented on #58447
Hi @PramodValavala-MSFT that section only describes how to receive a value in your logic app, in the trigger. What I would like to know is how to send the value to a nested logic app, when using the logic app action.

[2020-07-15 23:10] csando commented on #51830
Had the same issue here on some hybrid joined machines.

I resolved it on 1 user's laptop with the following:

Open regedit as admin.
HKLM\SOFTWARE\MICROSOFT\enrollments

Delete as many GUID looking keys as possible. Some you can't delete so you can leave them. Backup the keys first if you are so inclined.
Then:
- remove the user's workplace account from the laptop, sign out of office etc
- dsregc

[2020-07-15 23:23] #58433 closed

[2020-07-15 23:34] femsulu commented on #59084
Thanks for the update @BBrukner. AFAIK, the above statement specifically addresses Marketplace VMs with an attached support plan. You should be able to move Marketplace VMs without a plan. Can you point me to one of of Marketplace VMs that you were able to successfully move so I can test with on my end?

FYI @tfitzmac

[2020-07-15 23:37] femsulu commented on #59094
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2020-07-15 23:38] jackbond opened #59100 "PartitionKey guidance"
If I wanted to create a container for storing 500 million product documents, is there any problem with setting the partition key to ProductId which is a guid? (unique to every product) The article states, "Have a high cardinality. In other words, the property should have a wide range of possible values." Also, how would that affect bulk insert operations?

---
#### Document Details

⚠ *Do not edit

[2020-07-15 23:41] femsulu commented on #59098
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2020-07-15 23:42] Karishma-Tiwari-MSFT commented on #59063
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-07-15 23:43] Karishma-Tiwari-MSFT commented on #59066
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

Thanks for improving our documentation! Just so you know, it's also possible to make these changes yourself, if you are interested. Doing so will improve our documentation, and it will add you as a contributor to the document.
In case you're interested, these are the steps to do so:
1.	Na

[2020-07-15 23:43] #59066 closed

[2020-07-15 23:47] brkrall opened #59101 "Additional command needed in Step 4 to reduce ambiguity"
In Step 4, the $ckt variable is defined, but it is not explicitly stated that this same variable should be passed back to the shell to pull the properties of the ExpressRoute circuit. Suggest adding a second line to the Azure PowerShell command box to eliminate any ambiguity.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-07-15 23:58] Karishma-Tiwari-MSFT commented on #59046
Can you please try the suggestion shared here: https://github.com/MicrosoftDocs/azure-docs/issues/23408#issuecomment-468782393

[2020-07-16 00:02] rafamerlin commented on #55313
Hey guys, any update on this?
Thanks

[2020-07-16 00:06] rachel-msft commented on #58460
#please-close

[2020-07-16 00:06] #58460 closed

[2020-07-16 00:12] vick-git commented on #58672
Agreed, @normesta , appreciate your quick inputs! To sum up, ACL set at blob container level, applies to root folder. Probably a bit more clarity may help on the docs end. But thank you. :)

[2020-07-16 00:14] Karishma-Tiwari-MSFT commented on #58825
Did you check this? 'Ensure tags have a valid format: Ubuntu:18.04: repository name must be lowercase'

Also please check the similar issue and try the suggestions there : https://github.com/MicrosoftDocs/azure-docs/issues/29732

[2020-07-16 00:20] #58799 closed

[2020-07-16 00:21] YutongTie-MSFT commented on #58991
@kgopi05
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-07-16 00:21] #58991 closed

[2020-07-16 00:24] marconipoveda opened #59102 "Configure NTFS permissions do not need to clic Apply"
In the Configure NTFS section the step number 5 makes no sense because we're executing commands on Powershell/CMD, there's no Apply button ;-)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b190fd1-42f6-3a90-5931-74b2ccd309c3
* Version Independent ID: c4ca3c86-6257-59dd-e5a3-d40d4e0fa83c
* Content: [Create an Azure Fi

[2020-07-16 00:27] ElectricLlama commented on #59028
Thanks for your help. I've now posting on both of those forums. I would appreciate in the meantime some guidance on how I can select the correct datatype
https://stackoverflow.com/questions/62925566/error-when-using-alternate-key-in-cds-connector
https://docs.microsoft.com/en-us/answers/questions/47849/error-when-using-alternate-key-in-cds-connector.html

[2020-07-16 00:59] JasonWHowell commented on #48886
#reassign:xujxu

[2020-07-16 00:59] PRMerger20 commented on #48886
GitHub user omafnan has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2020-07-16 00:59] dery168 commented on #58826
Totally make sense. Thanks @ChaitanyaNaykodi-MSFT !
It would be great the targeted document could indicate MongoDB interface binding wouldn't work with nodejs (maybe work for C# only?).

[2020-07-16 01:00] JasonWHowell commented on #48720
#reassign:liudan66

[2020-07-16 01:00] PRMerger6 commented on #48720
GitHub user omafnan has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2020-07-16 01:00] JasonWHowell commented on #45860
#reassign:liudan66 #assign:liudan66

[2020-07-16 01:00] JasonWHowell commented on #45860
#assign:liudan66

[2020-07-16 01:00] PRMerger6 commented on #45860
liudan66 is already assigned.

[2020-07-16 01:28] richardhauer opened #59103 "Viewing accumulated Burst Credits"
Is it possible to view the accumulated Burst Credits in metrics somewhere?
It would be good to understand how certain workloads accumulate/use these bursts.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9b94ef0-370e-058f-dbdf-b59a9e1177eb
* Version Independent ID: 87d85e7e-4246-6c7d-3347-74b202284822
* Content: [Mana

[2020-07-16 01:34] sayanghosh123 opened #59104 "Python 2 support requirements and EOL concerns"
As the link https://docs.microsoft.com/en-us/azure/azure-monitor/platform/log-analytics-agent#python-2-requirement clarifies, the OMS Agent / Log Analytics agent for Linux depends on Python 2. Python 2 was EOL as of Jan-2020, and customers  are expressing valid concerns about having a version of Python that is EOL (and not receiving any more patches) on their servers. Of course, the Log Analytics

[2020-07-16 01:37] jshaole opened #59105 "Is this correct? - "It is highly recommended that this server is a domain controller.""
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06faa428-c7b6-ca5c-271e-3f98d9536d4f
* Version Independent ID: 63adb39a-c4fa-92bb-480d-59bee8e2dc24
* Content: [Azure AD Connect: Prerequisites and hardware](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-install-prerequ

[2020-07-16 01:49] StellaSSHuang commented on #59048
Hi Cynthia,

Thank you for reply. I mean add the availability of 'Azure in Open' Channel here.
[cid:image001.jpg@01D65B56.589CBB70]

Cheers,
Stella Huang | Technical Advisor |Azure Subscription Management Support
Email: sthuan@microsoft.com<mailto:sthuan@microsoft.com>
From: Cynthia Nottingham <notifications@github.com>
Sent: Thursday, July 16, 2020 2:10 AM
To: MicrosoftDocs/azure-docs <azure-docs

[2020-07-16 02:04] msshradhabarpute commented on #58890
Many thanks for bringing this notice Greg. I have raised a request to update the content. It should be published soon.

[2020-07-16 02:12] WhitWaldo opened #59106 "Link to how one creates user-assigned managed identities"
Step one of the steps describes the need to create or use an existing user-assigned managed identity and contains a link describing the purpose of the managed identities as a whole, but takes several clicks from there to learn how to just create one.

I'd suggest that a link be directly provided there to https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/how

[2020-07-16 02:13] kewu-93 opened #59107 "Add the description for tag AzureLoadBalancer for Network security groups setting on the Application Gateway subnet."
### **Description:**

Regarding the Network security groups on the Application Gateway subnet part: https://docs.microsoft.com/en-us/azure/application-gateway/configuration-overview#network-security-groups-on-the-application-gateway-subnet
It has pointed out the TCP ports 65200-65535 for the v2 SKU with the destination subnet as **Any** and source as **GatewayManager** service tag must be allowed.

[2020-07-16 02:15] WhitWaldo opened #59108 "Describe the role(s)/access policies necessary to use the identity with the Key Vault"
The steps for Key Vault integration suggest that one should create a user-assigned managed identity, the key vault should be created to enable soft-delete and support `enabledForTemplateDeployment` and then one can set up the Application Gateway v2 to utilize the Key Vault for storing certificates.

This covers the basics, but leaves a lot of specifics out to figure out for yourself. For example,

[2020-07-16 02:19] #59044 closed

[2020-07-16 02:33] CHEEKATLAPRADEEP-MSFT commented on #59055
@v-fearam, Thanks for the question! We are investigating and will update you shortly.

[2020-07-16 02:35] CHEEKATLAPRADEEP-MSFT commented on #59079
@ckittel, Thanks for the question! We are investigating and will update you shortly.

[2020-07-16 02:36] CHEEKATLAPRADEEP-MSFT commented on #59088
@skwan, Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-16 02:37] CHEEKATLAPRADEEP-MSFT commented on #59090
@sam-lippert, Thanks for the question! We are investigating and will update you shortly.

[2020-07-16 02:41] CHEEKATLAPRADEEP-MSFT commented on #59091
@mallecespedes, Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)

Do post ask your question here:  [Microsoft Q&A - Azure Data Factory](https://docs.microsoft.com/en-us/answers/topics/azure-data-factory.html)

Once you pos

[2020-07-16 02:44] CHEEKATLAPRADEEP-MSFT commented on #59093
@osama222, Thanks for the feedback! Your feedback  has been shared with the content owner for further review.

[2020-07-16 02:44] KrishnaG-MSFT commented on #59104
@sayanghosh123 Thanks for your comment! We will review and provide an update as appropriate.

[2020-07-16 02:46] CHEEKATLAPRADEEP-MSFT commented on #59097
@KinoriSR, Thanks for the question! We are investigating and will update you shortly.

[2020-07-16 02:47] CHEEKATLAPRADEEP-MSFT commented on #59100
@jackbond, Thanks for the question! We are investigating and will update you shortly.

[2020-07-16 02:49] CHEEKATLAPRADEEP-MSFT commented on #59101
@brkrall, Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-16 02:51] CHEEKATLAPRADEEP-MSFT commented on #59102
@marconipoveda, Thanks for bringing this to our attention. Your feedback  has been shared with the content owner for further review.

[2020-07-16 02:52] CHEEKATLAPRADEEP-MSFT commented on #59103
@richardhauer, Thanks for the question! We are investigating and will update you shortly.

[2020-07-16 02:54] CHEEKATLAPRADEEP-MSFT commented on #59106
@WhitWaldo,  Thanks for the feedback!  Your feedback  has been shared with the content owner for further review.

[2020-07-16 02:56] CHEEKATLAPRADEEP-MSFT commented on #59107
@kewu-93,  Thanks for the question! We are investigating and will update you shortly.

[2020-07-16 03:07] JoseFMP opened #59109 "Really missing if the storage is swapped or not"
If we have different slots, each slot have different storage. This documentation does not mention if when swapping slots the storage is also swapped or one slot gets the storage of the others.

I am talking about the disk of the web app, mounted into the docker containers. If we swap to slots, will they get each other the files that were persisted by the other slot previously? Or when swapped they

[2020-07-16 03:23] TravisCragg-MSFT commented on #59071
@artisticcheese My apologies, you are correct in that a VM attached to a public load balancer without a specified outbound rule will still have internet connectivity.

Also, a VM with no outbound rules or Public IP will still have outbound internet connectivity, as is described in Scenario 3. This was a recent change within Azure, as this scenario used to provide no outbound internet access.

Inbo

[2020-07-16 03:24] CHEEKATLAPRADEEP-MSFT commented on #59088
@skwan, Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/databricks-pr/pull/286](https://github.com/MicrosoftDocs/databricks-pr/pull/286)
The changes should be live EOD or tomorrow. We will now close this issue. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take commu

[2020-07-16 03:25] CHEEKATLAPRADEEP-MSFT commented on #59088
@mamccrea Could you please review the PR and approve?

[2020-07-16 03:26] CHEEKATLAPRADEEP-MSFT commented on #58527
@ElectricLlama  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-07-16 03:26] #58527 closed

[2020-07-16 03:33] CHEEKATLAPRADEEP-MSFT commented on #58949
@rbx44  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-07-16 03:33] #58949 closed

[2020-07-16 03:33] CHEEKATLAPRADEEP-MSFT commented on #59021
@justinmann We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-07-16 03:33] #59021 closed

[2020-07-16 03:37] Norrch2 commented on #54956
Thanks.

Please forgive any grammatical errors as I am sending this message from my phone.
________________________________
From: Jas Suri <notifications@github.com>
Sent: Tuesday, July 14, 2020 4:39:23 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Norrch2 <christopherlnorris@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] List of Av

[2020-07-16 03:41] alexchen2016 opened #59111 "The NSG rule for “AzureLoadBalancer”, destination subnet should also be Any"
In "Network security groups on the Application Gateway subnet" segment, Our customer found that TCP ports 65200-65535 for the v2 SKU with the source as AzureLoadBalancer service tag, the destination subnet should also be "Any". Could you help to add the corresponding description in your article?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-07-16 03:52] CHEEKATLAPRADEEP-MSFT commented on #58733
@ramit-rulz  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-07-16 03:52] #58733 closed

[2020-07-16 04:01] Brucius commented on #58856
Hi @MonikaReddy-MSFT and @femsulu , any news on this?

[2020-07-16 04:06] vipulsparsh commented on #58761
@TuanVanTrinh  We will be closing this now. Please tag me in case you have any questions so that we can reopen and work when required.

[2020-07-16 04:06] #58761 closed

[2020-07-16 04:06] tamram commented on #45739
@PhilStollery - The v12 library now supports stored access policies. We've updated the doc to show v11 and v12 examples side by side.

#please-close

[2020-07-16 04:06] #45739 closed

[2020-07-16 04:08] SnehaAgrawal-MSFT commented on #59109
@JoseFMP Thank you for your feedback! We will review and update as appropriate.

[2020-07-16 04:16] ElectricLlama commented on #59028
OK so the resolution is: when you are upserting based on an alternate key, you need to _exclude_ the entities actual true primary key from the source dataset. In other words, this works:

[code]

[2020-07-16 04:21] ElectricLlama commented on #58527
Thanks sorry I missed the notification email. It's no longer a huge pain. I realise now that this is an older connector. I see that the new connector does not appear support direct SQL (i.e. TRUNCATE TABLE)

You do need to update the doco to reflect the version correctly, It currently says

Apache Spark | 2.0.2 or _later_
Scala | 2.10 or _later_

Which is incorrect since it doesn't work under Spar

[2020-07-16 04:27] SwathiDhanwada-MSFT commented on #57426
@dagefjestad Just following to check if you have further questions

[2020-07-16 04:30] jmprieur commented on #58737
Fixed by https://github.com/MicrosoftDocs/azure-docs-pr/pull/122459
should be online soon

#please-close

[2020-07-16 04:30] #58737 closed

[2020-07-16 04:30] jmprieur commented on #58541
Fixed by https://github.com/MicrosoftDocs/azure-docs-pr/pull/122459
should be online soon

#please-close

[2020-07-16 04:30] #58541 closed

[2020-07-16 04:31] jmprieur commented on #58083
Fixed by https://github.com/MicrosoftDocs/azure-docs-pr/pull/122459
should be online soon

#please-close

[2020-07-16 04:31] #58083 closed

[2020-07-16 04:31] jmprieur commented on #57160
Fixed by https://github.com/MicrosoftDocs/azure-docs-pr/pull/122459
should be online soon

#please-close

[2020-07-16 04:31] #57160 closed

[2020-07-16 04:31] jmprieur commented on #55712
Fixed by https://github.com/MicrosoftDocs/azure-docs-pr/pull/122459
should be online soon

#please-close

[2020-07-16 04:31] #55712 closed

[2020-07-16 04:36] SwathiDhanwada-MSFT commented on #58887
@TheBigBear As there are no further documentation changes, we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2020-07-16 04:36] #58887 closed

[2020-07-16 04:44] germanfidalgo opened #59112 "upgrade failed following step by step"
while running this under my environment i get following error

PS /home/german_fidalgo> helm upgrade ingress-azure application-gateway-kubernetes-ingress/ingress-azure --version 1.2.0
Error: UPGRADE FAILED: rendered manifests contain a resource that already exists. Unable to continue with update: Deployment "ingress-azure" in namespace "default" exists and cannot be imported into the current relea

[2020-07-16 05:08] sormita opened #59113 "The extension command 'k8sconfiguration delete' does not work"
I had initially created a configuration for my AKS cluster using k8sconfiguration. Some issues happened with my access in the subscription so I decided to delete the configuration and re-configure it again. But 'az k8sconfiguration delete' does not work as expected and the 'sourcecontrolconfiguration' is not deleted. Please find attached the powershell command history for your reference.
[DeleteCo

[2020-07-16 05:09] Samantha-Yu commented on #41466
Thanks for the feedback. This article has been refreshed and instructions have been added for automatically creating tables. We will now proceed to close this thread.
(Please open a new issue if you have follow up questions.)

#please-close

[2020-07-16 05:09] #41466 closed

[2020-07-16 05:17] ranjeetgarodia opened #59114 "application gateway creation failed for multi site using portal"
Hi,
as per instruction given I have tried to create application gateway standard v2 using below cases:
a- using same httpsetting for both contoso & Fabrikam
b-using different httpsetting for contoso & Fabrikam respectively.

but none of them able to create application gateway and failed with error of conflicting httpsetting.

please take alook

Thanks
Ranjeet Garodia

[Enter feedback here]

---
##

[2020-07-16 05:23] dagefjestad commented on #57426
No further question.

I Used the Object ID I found on the Overview blade in the Azure AD registration.

[2020-07-16 05:23] #57426 closed

[2020-07-16 05:24] sormita opened #59115 "Re-configuring sourcecontrolconfiguration for AKS cluster"
I had initially created a configuration for my AKS cluster using k8sconfiguration. Some issues happened with my access in the subscription so I decided to delete the configuration and re-configure it again. But 'az k8sconfiguration delete' does not work as expected and the 'sourcecontrolconfiguration' is not deleted. Please find attached the powershell command history for your reference.
[DeleteCo

[2020-07-16 05:37] AElharouny opened #59116 "Conflict between two documentation sections needs some clarification"
Hello

In [this page](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-service-bus-trigger?tabs=csharp) : The following section exists:

Configurations -> accessRights
[code]

And in [this page](https://docs.microsoft.com/en-us/azure/azure-functions/functions-scale#understanding-scaling-behaviors): The following section exists:

[code]

So given that we use Azure Functions

[2020-07-16 05:54] souravmishra-msft commented on #58614
Closing this thread for now.

[2020-07-16 05:54] #58614 closed

[2020-07-16 05:55] forktrucka opened #59118 "Are the available regions up to date?"
From my portal looks like it's available everywhere?

![image](https://user-images.githubusercontent.com/17393932/87632405-75451800-c78d-11ea-9889-75812903310d.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 143bdfce-bcca-f901-c996-e22642a37561
* Version Independent ID: 384e5861-97da-a89a-39b2-48e1f992ab61
* Conten

[2020-07-16 05:57] #59118 closed

[2020-07-16 05:59] forktrucka opened #59119 "Are the available regions correct?"
I'm pretty sure i was able to do this for Australian regions, but it's not on the list. Can also see it is an option (see below in Azure Portal)

![image](https://user-images.githubusercontent.com/17393932/87632768-2186fe80-c78e-11ea-97d3-585f696e4c5e.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ade067f1-3f3e-73

[2020-07-16 06:19] VikasPullagura-MSFT commented on #59119
@forktrucka
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-07-16 06:19] VikasPullagura-MSFT commented on #59119
@roygara
Can you please check and add your comments on this doc update request as applicable.

[2020-07-16 06:21] kobulloc-MSFT commented on #58781
@Bart-Hoofd We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-07-16 06:21] #58781 closed

[2020-07-16 06:48] ChaitanyaNaykodi-MSFT commented on #58826
@dery168, Thank you for the feedback. You can also explore the [Azure Cosmos DB's supported API's](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-cosmosdb-v2#supported-apis) which supports multiple programming languages.

[2020-07-16 07:07] mjaow opened #59120 "Debug locally example is incomplete"
I cannot find a almost entire,runnable example of local debug.
[Debug locally] part shows part of the code, I consider that it's not handy for user to use it. Can we provide a complete demo and let user change the config he want?

I think local debug is very important, and it's the best tool to debug without ACI or AKS

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2020-07-16 07:08] jikuja opened #59121 "Documentation should explain plan creation differences"
See https://github.com/Azure/azure-cli/issues/14387 for more information.

Other plans than consumption plan must be created with `az functionapp plan create` but consumption plan must be created with `az functionapp create  --consumption-plan-location <location> ...`

Current documentation only mentions this by example. More information should be given.

---
#### Document Details

⚠ *Do not edit

[2020-07-16 07:11] dineshcode opened #59122 "Add steps to configure persistent routes for major distros(CentOS, Ubuntu and SUSE)."
Many clients have requested to provide the detailed step-by-step configurations for major distros(CentOS, Ubuntu and SUSE) for adding persistent routes. Please do the needful.

**Section:**
==============
" Instructions for adding persistent routes to the operating system vary by distro. See documentation for your distro for instructions."

---
#### Document Details

⚠ *Do not edit this section. I