[2019-06-10 14:36] YutongTie-MSFT commented on #32721
@Jscholtes128 Thank you for catching it! I have created a PR to fix it, you should see the change later.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-06-10 14:36] #32721 closed

[2019-06-10 14:45] YutongTie-MSFT commented on #32732
@iamsop Thank you for your advice, I will update the document to make it more clear.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-06-10 14:45] #32732 closed

[2019-06-10 14:46] diberry commented on #33002
@IEvangelist @archeraz @mradmila Archer and Marco, please take a look at this. David Pine will be supporting the docs for containers moving forward.

[2019-06-10 14:46] letmaik opened #33019 "Indentation incorrect"
In the Node affinity sample, `nodeSelectorTerms:` must be indented inside `requiredDuringSchedulingIgnoredDuringExecution:` but currently it's not.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dae17603-813b-f1ef-e161-c229d49a2541
* Version Independent ID: 5c1dcea0-0cda-0233-2356-be63be776809
* Content: [Operator best

[2019-06-10 14:50] YutongTie-MSFT commented on #32781
@sannzay Sorry for late response, I failed to reproduce your error. Could you please send us an email at Azcommunity@microsoft.com with your Azure subscription ID and the URL of this thread? We'd like to discus it offline with more immediately help. Thank you.
We will now proceed to close this thread since for now we don't find anything wrong with the document. If there are further questions regar

[2019-06-10 14:50] #32781 closed

[2019-06-10 14:51] mmckechney opened #33020 "Bad characters in the script"
Hi, there are two bad characters in the "create Public IP for jumpbox and LB" section.
There is a trailing Â in the following commands:
`New-AzPublicIpAddress -Name $LBPipNameÂ  `
`New-AzPublicIpAddress -Name "JumpHostPublicIP"Â`
This character causes the scripts to fail.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-06-10 14:55] jackpanetta commented on #32856
Yes, #4 in this guide says "Coming Soon". Just wondering when we will get resources to help us do this in Microsoft identity platform for developers.

[2019-06-10 14:57] mousetree commented on #11484
Hi all,

I have the same situation. I am using AKS with Advanced Networking and I'm trying to connect to an on-premise firewall that is peered and connected via a VPN. How can I have my outbound traffic to the firewall (at a specific IP) egress using a specified internal IP?

[2019-06-10 15:00] mousetree commented on #31711
On a similar note @jakaruna-MSFT, is it possible to ensure that a pod uses only one specific IP when accessing a resource on another VNET? My use case is here is that I need to whitelist only specific IP in my firewall so that traffic from Kubernetes can reach my internal network... possible?

[2019-06-10 15:04] theelk801 commented on #22901
I'm also very frustrated by this, I'd like to be able to run speech analysis on audio files but the documentation is nigh-incomprehensible. Honestly I'd use a different service but this project requires me to use Azure so I don't really have a choice.

[2019-06-10 15:24] VikasPullagura-MSFT commented on #33019
@letmaik Thanks for the your feedback. We are investigating and will update you shortly.

[2019-06-10 15:29] misra-anshuman opened #33021 "Presuming there is a typo error under 'Create a reverse lookup DNS zone > IPv4 > Note'."
Create a reverse lookup DNS zone &gt; IPv4 &gt; Note :
[code]
Is this a typo ?
Shouldn't this be [ 192.0.2.128/26 == 26-128.2.0.192.in-addr.arpa ] ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6ee0dfe-2921-5453-e564-9c007923d9c8
* Version Independent ID: f46e53ff-f6a5-651d-6107-d23b53d8cc76
* Content: [Host reverse

[2019-06-10 15:29] VikasPullagura-MSFT commented on #33016
@jeremych1000 Thanks for the your feedback. We are investigating and will update you shortly.

[2019-06-10 15:30] jmprieur commented on #32856
The PR is: https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/pull/104 (this is work in progress)

But you can also build it yourself:
- the Web app part from: https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/3-WebApp-multi-APIs
- and the Web API from: https://github.com/Azure-Samples/active-directory-dotnet-native-a

[2019-06-10 15:36] Karishma-Tiwari-MSFT commented on #32442
Thanks @ChristianMontoya
@emsi Let us know if that helped. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-06-10 15:36] #32442 closed

[2019-06-10 15:40] jackpanetta commented on #32856
Awesome, thanks for pointing me to this.

[2019-06-10 15:40] roygara commented on #33005
@Elangamban thanks for reaching out, we appreciate it! Would you elaborate as to what and where you're referring to, exactly? Are you referring to the product page storage services or are you referring to the storage services REST API here? https://docs.microsoft.com/en-us/rest/api/storageservices/

Or something else?

@YASWANTHM-MSFT if you would re-assign this to me, I'd appreciate it. :)

[2019-06-10 15:43] iainfoulds commented on #32951
Thanks for the feedback, @TiloGit

In this scenario, the Azure CLI should during the upgrade process until all is complete. The output / progress update could be better, which would be great feedback to open at https://github.com/Azure/azure-cli/issues. Without using `--no-wait` to return the command prompt or opening another shell session, there's way to switch out to run `kubectl` to view node s

[2019-06-10 15:44] #32951 closed

[2019-06-10 15:50] MicahMcKittrick-MSFT commented on #32983
@stricklandd5 thanks for this find! You are correct. The temp drive is D: by default. I have corrected the doc. Once the PR merges the changes will go live after a few hours.

[2019-06-10 15:50] #32983 closed

[2019-06-10 15:51] MicahMcKittrick-MSFT commented on #32980
@TestUser20191 I will close this for now. If you are still having issues please open a new issue directly on the doc you are following so we can better assist.

[2019-06-10 15:55] VikasPullagura-MSFT commented on #32996
@OzBob I followed the document and created Ubuntu 16.04 LTS VM and installed XRDP. I don't see any slowness issues (I took VM size as Standard_D3).
Try to increase the VM size depending on the applications that you are running on the VM and see if the performance is improved.
Also, as you mentioned that you are going to try freeRDP see if there is any difference. If it is same then issue could lik

[2019-06-10 15:57] MicahMcKittrick-MSFT commented on #32943
@mtschafe thanks for the update. Glad to hear that fixed the issue.

As per writing to the DB, I am not overly familiar with MongoDB. However, if you are having issues writing, you might need to elevate to Sudo before you can write things to that directory. So I would try using the command `sudo vi /etc/yum.repos.d/mongodb-org-3.6.repo`

If that doesn't work, I suggest reaching out to MSDN, Stack

[2019-06-10 15:57] #32943 closed

[2019-06-10 15:58] davidmu1 commented on #32185
@shashishailaj: Please assign this item to @mmacy who is now supporting Azure AD B2C.

[2019-06-10 15:59] davidmu1 commented on #32087
@MarileeTurscak-MSFT: Please assign this item to @mmacy who is now supporting Azure AD B2C.

[2019-06-10 16:00] davidmu1 commented on #31915
@SaurabhSharma-MSFT: Please assign this item to @mmacy who is now supporting Azure AD B2C.

[2019-06-10 16:01] davidmu1 commented on #31100
@shashishailaj: Please assign this item to @mmacy who is now supporting Azure AD B2C.

[2019-06-10 16:02] davidmu1 commented on #30595
@MarileeTurscak-MSFT: Please assign this item to @mmacy who is now supporting Azure AD B2C.

[2019-06-10 16:02] davidmu1 commented on #30595
@MarileeTurscak-MSFT: Please assign this item to @mmacy who is now supporting Azure AD B2C.

[2019-06-10 16:03] davidmu1 commented on #30581
@Mike-Ubezzi-MSFT: Please assign this item to @mmacy who is now supporting Azure AD B2C.

[2019-06-10 16:03] davidmu1 commented on #30435
@MarileeTurscak-MSFT: Please assign this item to @mmacy who is now supporting Azure AD B2C.

[2019-06-10 16:04] davidmu1 commented on #30241
@ManojReddy-MSFT: Please assign this item to @mmacy who is now supporting Azure AD B2C.

[2019-06-10 16:04] dsindona commented on #28965
#please-close (per @ellacroi )

[2019-06-10 16:04] davidmu1 commented on #30240
@SaurabhSharma-MSFT: Please assign this item to @mmacy who is now supporting Azure AD B2C.

[2019-06-10 16:05] davidmu1 commented on #29931
@ManojReddy-MSFT: Please assign this item to @mmacy who is now supporting Azure AD B2C.

[2019-06-10 16:06] davidmu1 commented on #29782
@shashishailaj: Please assign this item to @mmacy who is now supporting Azure AD B2C.

[2019-06-10 16:06] davidmu1 commented on #29683
@MarileeTurscak-MSFT: Please assign this item to @mmacy who is now supporting Azure AD B2C.

[2019-06-10 16:07] davidmu1 commented on #29471
@neeleshray: Please assign this item to @mmacy who is now supporting Azure AD B2C.

[2019-06-10 16:08] davidmu1 commented on #29159
@MarileeTurscak-MSFT: Please assign this item to @mmacy who is now supporting Azure AD B2C.

[2019-06-10 16:08] davidmu1 commented on #28251
@neeleshray: Please assign this item to @mmacy who is now supporting Azure AD B2C.

[2019-06-10 16:09] davidmu1 commented on #28155
@MarileeTurscak-MSFT: Please assign this item to @mmacy who is now supporting Azure AD B2C.

[2019-06-10 16:11] MicahMcKittrick-MSFT commented on #32967
@dtel at this point in time, we only support HTTP requests not HTTPS.

You can leave feedback on features you would like to see added to CloudShell here

https://feedback.azure.com/forums/598699-azure-cloud-shell

[2019-06-10 16:11] #32967 closed

[2019-06-10 16:11] marekmazur7 commented on #29979
@stuart-murray have you opened the enhancement request for this ? What is the link to it ? We would like to submit a same request.  thanks !

[2019-06-10 16:20] MicahMcKittrick-MSFT commented on #32949
@TiloGit we do have a doc on running helm

https://docs.microsoft.com/en-us/azure/aks/kubernetes-helm

However, I don't believe we have a list that tells what version is installed by default.

@iainfoulds can you comment further on this one?

[2019-06-10 16:30] DixitArora-MSFT commented on #32905
@miai-dgsbs These are the Integration account limits as per the pricing tiers .
https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-limits-and-config#integration-account-limits

Follow the Pricing under Integration account section :

https://azure.microsoft.com/en-us/pricing/details/logic-apps/

[2019-06-10 16:32] AshokPeddakotla-MSFT commented on #33009
@NeilMacMullen  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-06-10 16:34] NeilMacMullen commented on #33009
Thanks Ashok.  Not being listed as an owner of the newly created solution seems to be a bug (not sure if in the deployment or the portal) which I've raised as a support request.

[2019-06-10 16:34] MicahMcKittrick-MSFT commented on #32403
@RezaRahmati I would suggest you reach out to our DevOps community for further assistance on this.

https://developercommunity.visualstudio.com/spaces/21/index.html

The scope of what you are doing is a bit outside of what we are able to help with from a doc issue perspective. Plus, we have some great engineers familiar with the DevOps pipeline who could better instruct you through what you are tr

[2019-06-10 16:34] #32403 closed

[2019-06-10 16:41] DixitArora-MSFT commented on #32904
@kazshi A custom connector is a [wrapper around a REST API](https://docs.microsoft.com/en-us/connectors/custom-connectors/#1-build-your-api) that allows Logic Apps, Microsoft Flow, or PowerApps to communicate with that REST or SOAP API. These APIs can be:

- Public (visible on the public internet) such as Spotify, Slack, Rackspace, or an API you manage
- Private (visible only to your network)

So

[2019-06-10 16:43] kumarallamraju opened #33023 "Unable to find DSForLinux extension"
[Enter feedback here]
Per the documentation, I tried the following

![image](https://user-images.githubusercontent.com/15897803/59211080-dc90a180-8b63-11e9-895b-4136b5cd9b84.png)

I also tried to apply this extension to an existing VM from Azure Portal and I can't seem to find the mentioned extension DSCForLinux.

Pls let me know If I'm doing anything wrong..
---
#### Document Details

⚠ *Do not e

[2019-06-10 16:44] DixitArora-MSFT commented on #33015
@paulpce Thank you for your feedback! We will review and update as appropriate.

[2019-06-10 16:45] DixitArora-MSFT commented on #33013
@Rich-Lang Thank you for your feedback! We will review and update as appropriate.

[2019-06-10 16:46] Mike-Ubezzi-MSFT commented on #27135
Azure Table Storage ([link](https://docs.microsoft.com/en-us/azure/storage/tables/table-storage-overview)) and Azure Cosmos DB Table API ([link](https://docs.microsoft.com/en-us/azure/cosmos-db/table-introduction)) are two separate services where Cosmos DB Table API still provides the same functionality as the Table Storage API but with additional functionality. If there are any questions with reg

[2019-06-10 16:48] MicahMcKittrick-MSFT commented on #33023
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-10 16:50] Mike-Ubezzi-MSFT commented on #28161
@craigb Azure Cosmos DB just rolled out an RBAC role for Cosmos DB https://azure.microsoft.com/en-us/updates/azure-cosmos-db-operator-role-for-role-based-access-control-rbac-is-now-available/

[2019-06-10 16:53] Alberto-Vega-MSFT commented on #33004
Hi @NeilMacMullen Thanks for taking the time to provide your valuable feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-06-10 16:55] Mike-Ubezzi-MSFT commented on #33006
@hkusulja The only RBAC role that Cosmos DB currently supports is the following, as it just was released ([link](https://azure.microsoft.com/en-us/updates/azure-cosmos-db-operator-role-for-role-based-access-control-rbac-is-now-available/)).

If you should have any capacity planning or migration questions, please feel free to reach out to [AskCosmosDB](mailto:askcosmosdb@microsoft.com)).

[2019-06-10 16:59] NeilMacMullen commented on #33004
Thanks  Alberto.  Having spent a fair amount of the day reading about TSI, I think a lot of my confusion came from assuming that this page was a describing how to flexibly import data from another system by, for example, writing to blobs that TSI would then read as input.  It's only at the end of this article that it is mentioned that input sources "include" EventHubs and IOTHub which really means

[2019-06-10 17:01] iainfoulds commented on #32949
Helm versions are independent of AKS. Helm's a third-party, open source tool that you can choose to install in any Kubernetes cluster. If you update your local Helm client, you'd need to also upgrade the Tiller (server component) in an AKS cluster to match using `helm init --upgrade`

[2019-06-10 17:10] brobichaud commented on #32209
Personally I doubt this is an 1809 thing, it's much more likely to be related to the Azure networking integration with k8s. I have an 1809 cluster built with AKS-Engine that does not exhibit this problem at all. However my AKS cluster does.

That said, this is a huge issue that needs to be resolved before anyone is going to be happy with Windows on AKS.

[2019-06-10 17:12] ThomasWeiss commented on #32958
@deyanp No, there is no such capability. In this example, the change feed would indeed trigger an Azure Function that calls the stored procedure.

#please-close

[2019-06-10 17:12] georgewallace commented on #32446
@csmithson-qh I confirmed that the internal cmdlets that retrieve credentials and other internal activities are not supported with PowerShell core on Linux Hybrid Runbook workers

[2019-06-10 17:12] artisticcheese commented on #32209
if it would be AKS issue I imagined it should have been broken in earlier images as well. So far it looks to be inconclusive which part is failing since evidence seems to be suggesting it's 1809 + managed AKS only so far.

[2019-06-10 17:15] scarolan opened #33025 "No info on how to use an existing VHD"
Uploading a monster VHD file sounds like a nightmare.  How do VHDs get onto the pulldown list inside the GUI?  I can't find any documentation on how to reference a VHD already inside Azure.  I have a VHD that I built using Packer, and want to use it in a Dev/Test lab for custom images.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2019-06-10 17:16] jonwinterburn commented on #32952
Same problem here. Any update, please?

[2019-06-10 17:16] #32958 closed

[2019-06-10 17:16] brobichaud commented on #32209
Yeah but remember there are many moving parts in k8s. So this preview of Windows support in AKS uses a specific point-in-time of the various k8s components and it's very possible there is a significant bug in the networking stack of the k8s plug-ins that has nothing to do with 1809 or any other image of Windows. That's where my bet would go. The positive thing if this were true is that it should b

[2019-06-10 17:22] cynthn commented on #32974
@motowilliams Thanks for the feedback! PowerShell is planned for the GA release. Hopefully  it is published even sooner. Thank you!

#please-close

[2019-06-10 17:23] YutongTie-MSFT commented on #33011
@JohnStraumann Thank you for your feedback, we will investigate it and get back to you soon.

[2019-06-10 17:23] Mike-Ubezzi-MSFT commented on #10180
@swinarko Can you please doublecheck your (duplicate) links and provide the link for the blog post, too! Thanks!

[2019-06-10 17:24] #32974 closed

[2019-06-10 17:24] MicahMcKittrick-MSFT commented on #32949
Thanks @iainfoulds

@TiloGit with that I will close out the issue as we will leave it as it for now. Appreciate any and all feedback :)

[2019-06-10 17:24] #32949 closed

[2019-06-10 17:27] kennethferrese commented on #26654
I am experiencing the same issue and would like some details on the solution.  "it was an issue in the customer ADFS configuration not the Custom Policy" - Great, what was the issue?  How was it resolved?  I would like to know what to tell our client what needs changed on their end.  Thank you.

[2019-06-10 17:27] MicahMcKittrick-MSFT commented on #33023
@kumarallamraju what file are you actually pushing to the VM? Based on the error, it seems the script you are pushing is likely blank or has no exit conditions.

We also have some additional documentation on using DSC with Linux

https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/dsc-linux

[2019-06-10 17:28] kevinlam1 commented on #32904
Custom connectors are billed as Standard Connectors.

[2019-06-10 17:31] roygara commented on #32885
@lightningrob thanks for reaching out, we appreciate it! I've reached out to the product team and will let you know when we receive a response.

[2019-06-10 17:34] cynthn commented on #32887
@skybear2014 and @VikasPullagura-MSFT Thanks for the feedback! I'm confused, the doc says "Windows 10 (up to version 1803)" for GIRD 8. So, it sounds like 1809 is supposed to work?

[2019-06-10 17:34] phekmat opened #33026 "ngrok 2.x is not open source"
ngrok has a free service tier/download, but is no longer open source

See https://github.com/inconshreveable/ngrok/issues/255 and the README at https://github.com/inconshreveable/ngrok/#ngrok-2x

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6bb013c-83b0-84fd-f4eb-364db7b3c507
* Version Independent ID: 6a2a7e4a-769f-0

[2019-06-10 17:38] alexkyllo commented on #15105
I came across the same issue, trying to schedule a tumbling window trigger in ADF V2, and I'm noticing that setting delay to "00:48:00" delays it for 48 minutes, but setting delay to "48:00:00" delays it for 48 days. Is this a bug in the product, or just an omission in the docs?

[2019-06-10 17:38] kevinlam1 commented on #32905
Thank you for your feedback and I agree that language is confusing. The pricing page (https://azure.microsoft.com/en-us/pricing/details/logic-apps/) is accurate in describing the how integration accounts are billed.

[2019-06-10 17:40] linda33wj commented on #32683
Thanks for the feedback! I've updated the doc accordingly.
#please-close

[2019-06-10 17:40] linda33wj commented on #32662
Thanks all for the feedback. Yes it's correct that SQL MI and this connector accordingly don't support Windows auth, I've fixed the doc. Related, it's on our radar to fix the authoring UI (SQL MI linked service creation) as well.

#please-close

[2019-06-10 17:46] Mike-Ubezzi-MSFT commented on #32687
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-06-10 17:46] #32687 closed

[2019-06-10 17:47] Mike-Ubezzi-MSFT commented on #32748
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-06-10 17:47] #32748 closed

[2019-06-10 17:49] TestUser20191 commented on #32980
I'm following this document (Adjust the rank of specific search results section)

https://docs.microsoft.com/en-us/azure/cognitive-services/bing-custom-search/define-your-custom-view

I have pinned the foo5 article with query string as foo. However when I try to pin foo4 article with query string as foo, it says it already exists. What I'm trying to do is to  pin those five articles as a group in

[2019-06-10 17:50] amchew commented on #31915
Thanks @davidmu1 and @SaurabhSharma-MSFT !

@mmacy - let me know if you need any clarification on my comments. I'm from the App Center team, and [App Center Auth](https://docs.microsoft.com/en-us/appcenter/auth/) is powered by Azure AD B2C. been speaking with a few users who mention that the documentation needs updating.

[2019-06-10 17:51] kennethferrese commented on #26654
May I ask what needed changed on the client's ADFS configuration?  I am experiencing the same issue and would like some detail so I can direct them to the appropriate setting.

[2019-06-10 17:52] benbelow commented on #32962
I would be very interested in the outcome of this. I'm trying to use the Options pattern described in other Microsoft documentation here: https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/options?view=aspnetcore-2.2 but am not sure what the advised way of accessing the IConfiguration object.

I have previously had issues with creating my own configuration object, as one is re

[2019-06-10 17:54] Karishma-Tiwari-MSFT commented on #32807
https://github.com/MicrosoftDocs/azure-docs/pull/32810

[2019-06-10 17:55] Karishma-Tiwari-MSFT commented on #32935
@roygara Thoughts? Please let me know so that I will assign it to you if doc update is needed. Thanks :)

[2019-06-10 17:57] KranthiPakala-MSFT commented on #32683
@linda33wj Thank you very much!

@0GiS0 The doc has been updated, accordingly. Thank you very much for brining this to our notice.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-10 17:57] #32683 closed

[2019-06-10 18:01] PatrickFarley commented on #32857
Thanks @davidgristwood for your feedback. The online tool is great for testing the API without writing code, but we think some devs will want to call it with cURL as part of a script.

#please-close

[2019-06-10 18:06] SaurabhSharma-MSFT commented on #33007
@nicolaszhang Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-10 18:07] msjuergent commented on #32790
We can close the PR since we changed the documentation indicating that the VM types in question are not yet available

[2019-06-10 18:10] SaurabhSharma-MSFT commented on #33007
@nicolaszhang Are you using any GitHub samples or tutorial for the same ?

[2019-06-10 18:11] #32790 closed

[2019-06-10 18:12] laurenhughes commented on #30886
I updates the code and it will be live shortly. Thanks for raising the issue!

#please-close

[2019-06-10 18:13] SaurabhSharma-MSFT commented on #32993
@andronachev Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-10 18:14] CeciAc opened #33030 "Simple text issue"
Hi team,
I'm moving this from here: https://github.com/MicrosoftDocs/azure-docs.de-de/issues/390

@inputoutputcode commented yesterday
Just a minor issue, the text section around the headline "Next steps" is duplicated and has a display issue.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77a03366-6bf3-c687-d9e4-39eb8

[2019-06-10 18:15] Alberto-Vega-MSFT commented on #32787
@smoms Have you seen this thread on MSDN? [How to connect transparent Edge gateway from DPS provisioned downstream device?](https://social.msdn.microsoft.com/Forums/en-US/b3320f7f-9588-48e9-809d-2ecf05dc7e53/how-to-connect-transparent-edge-gateway-from-dps-provisioned-downstream-device?forum=iotedge) a PM from the IoT Team mentions that the scenario is not supported

[2019-06-10 18:18] ChristianMontoya commented on #27956
#please-close

[2019-06-10 18:20] #27956 closed

[2019-06-10 18:22] JimacoMS3 commented on #10205
@delrid1, @xsqian, @ahmedhafeez, @RDSimmons01, @Busch -- Thanks for reporting these issues. We've updated the topic and the product has undergone some upgrades as well. The tutorial should work as-advertised now. Please have a look and let us know if we can close this issue.

@delrid1 -- thanks for your suggestion about adding a note wrt flat data structures. We may not add this at this time, but

[2019-06-10 18:34] mgt1081 commented on #32765
any update here,  I just quoted something out based on the old calculator before I realized it had changed.  really need this updated asap

[2019-06-10 18:37] SaurabhSharma-MSFT commented on #33008
@blueelvis Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-10 18:39] SaurabhSharma-MSFT commented on #32999
@gerrynicol Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-10 18:42] RyanHill-MSFT commented on #32998
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-06-10 18:42] SaurabhSharma-MSFT commented on #32939
@edcyyazdi We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-06-10 18:42] #32939 closed

[2019-06-10 18:45] klawrawkz commented on #32989
@DashleenBhandari-MSFT, Thanks for the response.  We are using the **_preview feature_** version of VNET integration.

[2019-06-10 18:46] Mike-Ubezzi-MSFT commented on #32749
Here is a PowerShell example to restore a backup file for Managed Instance ([link](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-managed-instance-get-started-restore#restore-the-database-from-a-backup-file)).

[2019-06-10 18:49] RyanHill-MSFT commented on #33003
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-10 18:50] Anmolgan81 commented on #32749
Hi @Mike-Ubezzi-MSFT I am looking for taking backups of a managed instance and then storing it inside the azure storage account and then do a restore to azure sql database. Is that something possible? what are the steps in order to achieve this?

[2019-06-10 18:55] kobulloc-MSFT commented on #33025
@scarolan Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2019-06-10 18:58] MicahMcKittrick-MSFT commented on #33030
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-10 18:58] Mike-Ubezzi-MSFT commented on #32749
The Managed Instance ([link](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-powershell-samples#managed-instance)) PowerShell examples does not have an example to initiate an on-demand backup file. My previous comment will allow you to restore a backup file on demand.

[2019-06-10 19:00] MicahMcKittrick-MSFT commented on #32878
@sharathmalladi thanks for the patience while I looked into this.

Currently creating and uploading packages is not available via ARM. You can create the applications via ARM, but have to perform the upload via portal / Powershell / rest api.

Changing this is on our radar, but it is not scheduled / committed yet.

[2019-06-10 19:00] #32878 closed

[2019-06-10 19:00] SaurabhSharma-MSFT commented on #32999
@gerrynicol Please post this as a feedback https://feedback.azure.com/forums/347535-azure-security-center. This will allow the community to upvote and for the product team to include into their plans. We also have the "Give Product Feedback" button in our documents now to take you directly to the appropriate feedback page.

[2019-06-10 19:00] Anmolgan81 commented on #32749
Hi Mike,

Is that something which is not supported by Managed Instance??

If that is it then how can we transfer backups from on-production Managed Instance to Dev/Test Environment enabled Managed Instance?

Regards
Anmol Ganju

From: Mike Ubezzi <notifications@github.com>
Sent: 11 June 2019 00:29
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Anmol Ganju <anmol.ganju@ifi.tech>;

[2019-06-10 19:02] MicahMcKittrick-MSFT commented on #33030
@inputoutputcode thanks for the find. I have corrected the doc. Once the PR merges the changes will go live after a few hours.

[2019-06-10 19:02] #33030 closed

[2019-06-10 19:04] MicahMcKittrick-MSFT commented on #32980
@TestUser20191 thanks for that. I have assigned the issue to the correct owner to take a deeper look :)

[2019-06-10 19:04] SubhashVasarapu-MSFT commented on #33021
@misra-anshuman , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-06-10 19:05] SubhashVasarapu-MSFT commented on #33020
@mmckechney , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-06-10 19:08] olena-microsoft commented on #17283
@kcd83  Thanks for your feedback. We will try to make it more evident that this feature is for iOS only. We're currently working on the same feature for Android and hope to release soon.

[2019-06-10 19:11] Mike-Ubezzi-MSFT commented on #32749
@Anmolgan81 I do not think it is supported because of the reasons stated in the following response to [this](https://feedback.azure.com/forums/915676-sql-managed-instance/suggestions/35414512-make-backups-portable-to-on-premise-sql) Uservoice post.

[2019-06-10 19:14] SaurabhSharma-MSFT commented on #33008
@blueelvis Please open a [Azure Support Ticket](https://aka.ms/azsupt) so that Identity Support engineer can check further on this issue. In case you limitations in your support plan to open support ticket please let me know.

[2019-06-10 19:16] robinsh commented on #32681
Hi @nelsonavanade,

The article does not use the raspberry pi web app to sends messages to the hub. You need an app to send messages with specific text strings in the message body (like 'level="storage"') so the hub can search for and find them and route the messages using those messages, You need to download that GitHub package referenced in the second article and use it. You will need the key fo

[2019-06-10 19:16] SubhashVasarapu-MSFT commented on #32895
@dcbrown16 , Both Firewall service tags and NSG services tags will be using same IPs in the backend for those services which are common between them except for (virtual network,azure loadbalancer and internet) as azure firewall doesn't support these technically.
We are closing this issue for now.If there are further questions regarding this matter, please reply and we will gladly continue the disc

[2019-06-10 19:16] #32895 closed

[2019-06-10 19:29] CeciAc opened #33032 "Define the Kubernetes cluster"
Hi team,
I'm moving this from here: https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/2588

@misterturtleneck commented 4 hours ago
Define the Kubernetes cluster
Program mistakes.
tags {
Environment = "Development"
}

not,
tags = {
Environment = "Development"
}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c22b

[2019-06-10 19:33] SubhashVasarapu-MSFT commented on #32765
@vhorne , Could you please update the pricing page details ? Thanks in advance.

[2019-06-10 19:33] Placid7 opened #33033 "Only returns ConnectionStats.txt"
When I run the Start-AzNetworkWatcherResourceTroubleshooting cmdlet it only returns ConnectionStats.txt.

I do get a return from the cmdlet with the "Summary": "This VPN connection is running normally" Do the other files not return in this instance?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f523808-b41b-848f-8ee1

[2019-06-10 19:33] KumudD commented on #30652
#sign-off

[2019-06-10 19:34] femsulu commented on #32832
Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-06-10 19:34] Anmolgan81 commented on #32749
Hi Mike,

The documentation does not say that taking backups of azure managed instance is not supported. It says that restoring to azure sql database is somehow not supported.

Regards
Anmol Ganju

From: Mike Ubezzi <notifications@github.com>
Sent: 11 June 2019 00:41
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Anmol Ganju <anmol.ganju@ifi.tech>; Mention <mention@noreply.github

[2019-06-10 19:35] femsulu commented on #32830
@ToMakeSense Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-06-10 19:37] brushwood24 opened #33034 "ARM Templates And createOption"
I have an ARM template that I have used to create multiple VMs in multiple environments.  I use this to manage the ongoing configuration changes, etc.  I followed these instructions to remove a VM from an availability set but that has caused the createOption property to change from "FromImage" to "Attach".  This means, now when I run my ARM template I get this error:

"error": {
    "code": "Prope

[2019-06-10 19:39] mbinggeli opened #33035 "Example for calculating hash suffix"
This is a very good document, I would like to see however an example for how to implement this hash function.

"Before your application writes the item to the container, it can calculate a hash suffix based on the VIN and append it to the partition key date. The calculation might generate a number between 1 and 400 that is evenly distributed. "

---
#### Document Details

⚠ *Do not edit this secti

[2019-06-10 19:39] femsulu commented on #33001
Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-06-10 19:39] femsulu commented on #32992
Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-06-10 19:39] Csmithson-qh commented on #32446
Thank you for verifying!

[2019-06-10 19:39] #32446 closed

[2019-06-10 19:42] Grace-MacJones-MSFT commented on #32387
Hi @raalahmmad , thanks for your patience. Currently, the Authentication / Authorization blade for azure web apps does not have a specific configurations for protecting virtual directories. If you would like to see this as a possible feature, you may leave your feedback on [Uservoice](https://feedback.azure.com/forums/169385-web-apps). All of the feedback you share in these forums will be monitore

[2019-06-10 19:45] dlepow commented on #32393
Article has been updated. Thanks again @ianhinder for pointing out the issue.
#please-close

[2019-06-10 19:45] SubhashVasarapu-MSFT commented on #32765
@MarkDNL , The pricing details listed in this [Doc](https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-autoscaling-zone-redundant) were the updated one to refer. The pricing page has been edited accordingly and will be updated with actual values by end of Wednesday.
We are closing this issue for now.If there are further questions regarding this matter, please reply and

[2019-06-10 19:45] #32765 closed

[2019-06-10 19:47] #32393 closed

[2019-06-10 19:47] kumarallamraju commented on #33023
I'm not pushing any file. I just followed the instructions given at https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/dsc-overview
Just executing the
az vm extension set \
  --resource-group myResourceGroup \
  --vm-name myVM \
  --name DSCForLinux \
  --publisher Microsoft.OSTCExtensions \
  --version 2.7 --protected-settings '{}' \
  --settings '{}'

[2019-06-10 19:47] RyanHill-MSFT commented on #33003
@aasis21 I was checking the [IDocumentsOperations](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.search.idocumentsoperations?view=azure-dotnet) API and did find Search(..) as an available method. Can you further elaborate on your question? Is `x-ms-azs-searchid` not an available header in the response?

[2019-06-10 19:48] ericjiang18 commented on #32882
if i make it on my own how do i determine the coordinates for left, top, width, and height (size: 640x640)?

[2019-06-10 19:57] mgt1081 commented on #32765
I think that people are referring to the Azure pricing calculator not the pricing here.
People were saying that here does not match the pricing calculator

[2019-06-10 20:08] Grace-MacJones-MSFT commented on #32952
@cephalin  any ideas on whats causing this error?

[2019-06-10 20:09] Karishma-Tiwari-MSFT commented on #33034
Thanks for the question! We are currently investigating and will update you shortly.

[2019-06-10 20:17] faikriza commented on #32295
5.2 seems to work as well, if that helps somehow.

[2019-06-10 20:17] Mike-Ubezzi-MSFT commented on #32749
@Anmolgan81 The functionality you are seeking is not supported. I was attempting to provide support for this decision in that the backup (specifically .bak) files are locked down (short-term and long-term retentions policies) to prevent movement of these files. Can you make a product request to at least be able to generate a .bacpac file on-demand ([link](https://feedback.azure.com/forums/217321-s

[2019-06-10 20:17] DavidPrio commented on #24559
@ishasahni1 @SunnyDeng can you please check this?
@CeciAc FYI

[2019-06-10 20:20] MicahMcKittrick-MSFT commented on #33023
First thing, make sure you are running a supported Linux distribution to use DSC with

https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/dsc-linux#operating-system

As per following the doc, we are simply showing you the commands. You still need to provide a file for DSC to run. Without that, you are just pushing a blank file to the VM that won't accomplish anything.

What exactly

[2019-06-10 20:22] jonwinterburn commented on #32952
@Grace-MacJones-MSFT - the whole AppData folder is missing from the source, and it should contain the .mdf file mentioned in the subject line.

[2019-06-10 20:22] Mike-Ubezzi-MSFT commented on #32768
@Anmolgan81 This is not supported due to the binary differences should a .bak file be exported from Managed Instance and attempt an import to a version that is less than the version of the source SQL Server instance. Please see this Uservoice post ([link](https://feedback.azure.com/forums/915676-sql-managed-instance/suggestions/35414512-make-backups-portable-to-on-premise-sql)).

[2019-06-10 20:24] Mike-Ubezzi-MSFT commented on #32768
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-06-10 20:24] #32768 closed

[2019-06-10 20:26] ketaanhshah commented on #28250
Hi All,
We have implemented WAF and getting some false postives for one of the web applications we have and hence in prevention mode 403 (log screenshot below). Can someone help with how I can get rid of these false positives so that we can get the web-application to work with WAF Prevention mode enabled

<img width="760" alt="error" src="https://user-images.githubusercontent.com/12475114/59224488

[2019-06-10 20:36] MicahMcKittrick-MSFT commented on #33032
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-10 20:43] anirudhcavale commented on #33001
@kasmodia the Linux Diagnostics extension doesn't yet support sending metrics to Azure Monitor.

[2019-06-10 20:45] ericjiang18 opened #33039 "Why did I get so many errors?"
Traceback (most recent call last):
  File "sample.py", line 7, in <module>
    from azure.cognitiveservices.vision.customvision.training import CustomVisionTrainingClient
  File "/Users/broccoli/env/lib/python3.7/site-packages/azure/cognitiveservices/vision/customvision/training/__init__.py", line 12, in <module>
    from .custom_vision_training_client import CustomVisionTrainingClient
  File "/Us

[2019-06-10 20:47] msdpalam commented on #32295
I will test out with 5.2, just that the default to 5.3 and it didn't work for me. Thanks a lot for reviewing this.

[2019-06-10 20:50] kumarallamraju commented on #33023
Ahh, that's where I mis-understood. I specified the (private/public) .json files and it works as expected. Thanks. Pls close this issue.. Appreciate the quick help

[2019-06-10 20:50] #33023 closed

[2019-06-10 20:52] macux commented on #32962
@benbelow good point, I did also try the options pattern and you can do it but only with an Action where you set each property using GetEnvironmentVariable from individual settings in the Values section (if local) or app settings in Azure. This works but it’s clunky.

[2019-06-10 20:58] femsulu commented on #33001
@anirudhcavale any idea when/if this will be supported?

[2019-06-10 21:05] Buckits opened #33040 "AADSTS220050 Error. ?? Device code flow is no longer working on our applications."
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-06-10 21:06] MicahMcKittrick-MSFT commented on #33032
@misterturtleneck I see it correctly in the doc

![image](https://user-images.githubusercontent.com/32313503/59226844-be896800-8b88-11e9-8afc-9f129c2c90a6.png)

I will close this out but if you are seeing something different just let me know and we can always reopen and continue.

[2019-06-10 21:27] RyanHill-MSFT commented on #32840
Hey @nodermatt, the [doc](https://docs.microsoft.com/en-us/azure/app-service/containers/tutorial-java-enterprise-postgresql-app#clone-the-sample) links to this [repo](https://github.com/Azure-Samples/wildfly-petstore-quickstart) which illustrates examples of what [startup.sh](https://github.com/Azure-Samples/wildfly-petstore-quickstart/blob/master/wildfly_config/startup_script.sh) and [jboss_cli_c

[2019-06-10 21:27] #32840 closed

[2019-06-10 21:30] jonstroman opened #33042 "Premium/Standard Disks"
There's a whole section for Standard but the Premium SKU for ARM templates is hidden in a paragraph. There's also a major section on unmanaged disks but the page title is about managed disks only.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d80bcf80-5919-0e4a-7f6b-259dcbe0f96b
* Version Independent ID: e12cd1f7-fb15

[2019-06-10 21:32] Mike-Ubezzi-MSFT commented on #32774
@SharmainePopov In looking through all the Azure SQL documentation with regard to backups, there is currently a note that details this ([link](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-long-term-backup-retention-configure)).

![Screenshot (68)](https://user-images.githubusercontent.com/37126106/59228405-90a62280-8b8c-11e9-8bd6-7e51515641c0.png)

[2019-06-10 21:37] DaleKoetke commented on #32743
Actually, the button is back although it's placement is wrong...  I've got the team investigating this now.

[2019-06-10 21:45] #32807 closed

[2019-06-10 21:50] tdykstra opened #33044 "Diagnostics logs page is now called App Service logs"
The page name and screen shots need to be updated to be in sync with the current portal UI (or remove screen shots and use text only).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bfc316af-0d30-b449-a04f-3019b7a16bc1
* Version Independent ID: 01c4c435-fda9-374a-70b3-f1d7f13c7651
* Content: [Enable diagnostics logging

[2019-06-10 21:52] Mike-Ubezzi-MSFT commented on #32774
@bonova I made an update to the doc to add clarity to the last sentence in the opening paragraph per PR #79203

[2019-06-10 21:59] tristanbarcelon opened #33047 "What is the lifetime of a CosmosDB emulator instance started via Start-CosmosDBEmulator cmdlet during ci"
Inside one of our Azure Devops build definitions, we have the following steps:

1. dotnet restore solution file
2. visual studio build solution file (includes unit test projects)
3. start cosmos db emulator with a specific datapath location using the Start-CosmosDBEmulator powershell cmdlet that came with Azure CosmosDB emulator without rate limiting and a default partition count of 100
4. transfo

[2019-06-10 22:00] Mike-Ubezzi-MSFT commented on #32776
@SharmainePopov There is currently an internal work item ([internal link](https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1551793)) to address this issue. It was spawned from this GitHub Issue [comment](https://github.com/MicrosoftDocs/azure-docs/issues/32749#issuecomment-499143943).

[2019-06-10 22:00] Mike-Ubezzi-MSFT commented on #32776
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-06-10 22:00] #32776 closed

[2019-06-10 22:04] stricklandd5 commented on #32983
@MicahMcKittrick-MSFT that's great - thanks for letting me know.

[2019-06-10 22:06] kemichi commented on #32711
@YutongTie-MSFT I also ran into this problem, but was able to work around it by replacing the line `from sklearn.externals import joblib` with `import joblib`. It resulted in "UserWarning: Trying to unpickle estimator LogisticRegression from version 0.21.2 when using version 0.20.3," but I was still able to successfully run the rest of the notebook tutorial.

[2019-06-10 22:07] dlepow commented on #32976
@DarqueWarrior - Thanks for feedback. I agree the statement could be clearer. As you note, the commands to create the task are very similar in this tutorial and the preceding one - and both create tasks that can be triggered by base image updates as well as git commits. The base image update example differs in that the application image is set up to depend on a base image in the same repo. So, you

[2019-06-10 22:07] tristanbarcelon opened #33048 "Lifetime of Azure CosmosDB emulator instance started within a CI environment"
Inside one of our Azure Devops build definitions, we have the following steps:

1. dotnet restore solution file
2. visual studio build solution file (includes unit test projects)
3. start cosmos db emulator with a specific datapath location using the Start-CosmosDBEmulator powershell cmdlet that came with Azure CosmosDB emulator without rate limiting and a default partition count of 100
4. transfo

[2019-06-10 22:09] KeiroKamioka0000 opened #33049 "What are the example of resource that will be scored in a binary fashion?"
What are the example of resource that will be scored in a binary fashion?
I believe almost of resource will be scored by the percentage of the total configuration.

How are controls scored?
https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/identity-secure-score#how-are-controls-scored

Some are scored in a binary fashion - you get 100% of the score if you have the feature or set

[2019-06-10 22:10] Mike-Ubezzi-MSFT commented on #32749
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-06-10 22:10] #32749 closed

[2019-06-10 22:10] #28506 closed

[2019-06-10 22:13] Karishma-Tiwari-MSFT commented on #32270
@stephen-cairns I cannot really say you would be doubling up capturing master logs if you used both fluentd and enabled diagnostics for the master logs as I am not familiar with fluentd.

For your second question, I would recommend reading on Kubernetes master node logging and compare both. You have the right document to get information on AKS master nodes logging.

You will find information on ma

[2019-06-10 22:16] markjbrown commented on #30853
@aaron-0 Hi and sorry for the delay in responding. If you are trying to set throughput for a database or container use one of these two templates below.

https://azure.microsoft.com/en-us/resources/templates/101-cosmosdb-sql-database-ru-update/
https://azure.microsoft.com/en-us/resources/templates/101-cosmosdb-sql-container-ru-update/

Let me know if you have any other questions. Thanks

[2019-06-10 22:22] yychenca commented on #21629
Just copied and pasted from the[ configure python article
](https://docs.microsoft.com/en-us/azure/app-service/containers/how-to-configure-python) for easy reference (I had been bugged by this for a while and believed others may experience the same):

[2019-06-10 22:29] nkiest commented on #13547
Correct, there should be a dash there. I have updated the documentation to reflect that, and it should be live soon.
#please-close

[2019-06-10 22:30] rboucher commented on #9900
Being fixed in internal PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/79220

[2019-06-10 22:30] rboucher commented on #9900
#reassign:rboucher

[2019-06-10 22:33] nkiest commented on #32771
This has been fixed in the documentation. Thank you for the feedback.
#please-close

[2019-06-10 22:34] hrasheed-msft commented on #32631
@sbugalski Thanks for reaching out. We removed the recommendation for users to use service endpoints at the advice of the HDInsight engineering team and the Azure firewall team. Currently the advices is to only use application and network rules.

Also, adding the windows update tag will not be necessary for our service because all of the clusters run on Linux.

[2019-06-10 22:38] nkiest commented on #24785
The asks here are not specific to the document page. Please open targeted requests on the relevant page.
Possibly visit pages in for https://docs.microsoft.com/en-us/azure/azure-monitor/platform/agents-overview for agent questions.
#please-close

[2019-06-10 22:39] nkiest commented on #31787
This doc has been updated, and the impacted content no longer appears there. It should be fixed in other locations.
#please-close

[2019-06-10 22:49] MarileeTurscak-MSFT commented on #32916
Hi @LaDuelo please open a thread on MSDN so we can troubleshoot together. https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

I think you might be missing some parameters.

[2019-06-10 22:49] #32916 closed

[2019-06-10 22:52] MarileeTurscak-MSFT commented on #32968
@michaelspinks thanks for catching this! I've made a pull request to the document. Changes should go live within 24 hours. https://github.com/MicrosoftDocs/azure-docs-pr/pull/79224

[2019-06-10 22:52] #32968 closed

[2019-06-10 23:04] tedgoddard commented on #31313
Support was very helpful. It turns out that the configuration script was fine all along but stale values in ~/.azure caused it to fail.

[2019-06-10 23:10] kevinlam1 commented on #31375
Inline code is in preview and access to variables is coming soon. For now, if you want to use inline code to manipulate the object you can put the object in a Compose instead.

[2019-06-10 23:14] haodeon commented on #19749
@paolosalvatori  You've already found my other issue, which I opened when I encountered problems with "allowPublicClient=true".

But for those who are new to this issue I am referencing it here to help. Azure/azure-cli#7955

[2019-06-10 23:19] MicahMcKittrick-MSFT commented on #33042
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

CC @cynthn

[2019-06-10 23:20] Mike-Ubezzi-MSFT commented on #32850
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-06-10 23:20] #32850 closed

[2019-06-10 23:20] YutongTie-MSFT commented on #32882
@ericjiang18 Hi Eric, for this sample, the coordinate numbers are hardcoded. @areddish Hi Andrew, could we have more details for how to get the coordinate numbers better when users following this tutorials? Thank you.

[2019-06-10 23:31] Mike-Ubezzi-MSFT commented on #32934
@davidbaxterbrowne The procedure is to connect with the SQL Admin to master to create LOGINS for SQL Authentication. For AAD authentication, you connect with the provisioned AAD SQL Admin to the application database and run the following T-SQL to add the USER:

User in SQL Database or SQL Data Warehouse based on an Azure Active Directory user.
`CREATE USER [Fritz@contoso.com] FROM EXTERNAL PROVIDE

[2019-06-10 23:39] sahya commented on #32273
thank-you for your improvement.
i watched outline of the document.
it is good compared with the past.

sorry, i need more little time.
please wait for response.

[2019-06-10 23:52] dr-ivan opened #33052 "No storage limits documented."
"When database space used reaches the max size limit" - yet there is nowhere where this is actually documented. What is the limit? is it a hard limit or is it based on the storage service, which then relies on their limit.?
The closest doc that talks about the 100TB/8TB limits for Database/Managed Inststance is here, however there is no detailed breakdown on what the limiting factors are.
https://

[2019-06-10 23:55] dr-ivan commented on #31200
Apologies i may have opened a duplicate ticket - https://github.com/MicrosoftDocs/azure-docs/issues/33052
Looking at the Pricing Calculator, i could not see the limits to go up as high as 8TB (as per the link with reference to 8TB limit - https://docs.microsoft.com/en-us/azure/sql-database/sql-database-paas-vs-sql-server-iaas)

[2019-06-11 00:02] kumarallamraju opened #33053 "Suggestion to highlight the pre-req"
[Enter feedback here]

The pre-requisite to enable is to have "Azure AD Premium2" license to use Azure AD Identity Protection.

Would be a good idea to highlight this pre-req.. Just a thought?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 824cd4c8-3448-e778-1907-3a3271d0b38f
* Version Independent ID: fd77dfac-019c-8ffa

[2019-06-11 00:03] YutongTie-MSFT commented on #32966
@wilbug1git1  Good catching, thank you very much.

@sdgilley Hi Sheri, could you please help to update the environment for the latest version. I can reproduce it.

[2019-06-11 00:04] SharmainePopov commented on #32774
Yes it does clarify it there. So it should not say what I does on the doc page.

Sharmaine Popov
Cloud Solution Architect |Microsoft Canada Inc. | sharmaine.popov@microsoft.com<mailto:sharmaine.popov@microsoft.com> | 416-799-0807

From: Mike Ubezzi <notifications@github.com>
Sent: Monday, June 10, 2019 5:33 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Sharmaine Popov <Sharma

[2019-06-11 00:06] kazshi commented on #32904
@DixitArora-MSFT @kevinlam1 Thanks for your comment.

[2019-06-11 00:06] #32904 closed

[2019-06-11 00:10] akarasev opened #33054 "Select Principal -> Select the VM doesn't work"
"Choose Select Principal, and in the search field enter the name of the VM you created earlier.  Select the VM in the result list and click Select."
There are no existing VMs found. How to create the VM eligible to select as a principal?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d64289f1-56ad-259e-ac7c-0d9d356b7b5

[2019-06-11 00:18] #33054 closed

[2019-06-11 00:26] dr-ivan commented on #31200
Upon further searches, i found this doc that specifies detailed storage limits.
https://docs.microsoft.com/en-au/azure/sql-database/sql-database-dtu-resource-limits-single-databases#single-database-storage-sizes-and-compute-sizes
At least linking to this page would be useful.

[2019-06-11 00:30] mike-urnun-msft commented on #33026
Hi @phekmat Thank you for your feedback! We will review and update as appropriate.

[2019-06-11 00:41] kobulloc-MSFT commented on #33025
@scarolan In going through this, I started to upload a 130GB VHD which had an estimated transfer time of about 4 hours and was cancelled when I locked my computer.  I would definitely recommend creating a custom image from a VM:

https://docs.microsoft.com/en-us/azure/lab-services/devtest-lab-create-custom-image-from-vm-using-portal

With this approach, you create a base VM using any of the many i

[2019-06-11 00:58] winmike opened #33055 "Issue #27555 is back: @Microsoft.KeyVault(...) not being replaced with secret value in vault"
The same issue as #27555
- there's a KeyVault secret, which is used in Azure Func App as application setting
![image](https://user-images.githubusercontent.com/16792757/59236020-8e77ae80-8bf4-11e9-9dd7-49d5f387a90b.png)

- I have an Azure Func, which reads this setting from environment
string url = System.Environment.GetEnvironmentVariable("dyn365url");

- upto Jun 7th this statement returned the

[2019-06-11 00:59] winmike commented on #33055
@SnehaAgrawal-MSFT: can you please take a look as you already processed the #27555? Thank you.

[2019-06-11 01:00] nipuns11 commented on #33032
Acquiring state lock. This may take a few moments...

Error: Unsupported block type

  on k8s.tf line 60, in resource "azurerm_kubernetes_cluster" "k8s":
  60:     tags {

Blocks of type "tags" are not expected here. Did you mean to define argument
"tags"? If so, use the equals sign to assign it a value.

I had the same issue

[2019-06-11 01:09] nipuns11 opened #33056 "Error: Error in function call"
terraform plan -out out.plan
Refreshing Terraform state in-memory prior to plan...
The refreshed state will be used to calculate this plan, but will not be
persisted to local or remote state storage.
------------------------------------------------------------------------
Error: Error in function call

  on k8s.tf line 36, in resource "azurerm_kubernetes_cluster" "k8s":
  36:             key_data

[2019-06-11 01:14] #33056 closed

[2019-06-11 01:18] nipuns11 opened #33057 "Error in function call"
terraform plan returns an error in a function call
terraform plan -out out.plan

Refreshing Terraform state in-memory prior to plan...
The refreshed state will be used to calculate this plan, but will not be
persisted to local or remote state storage.
------------------------------------------------------------------------
Error: Error in function call

  on k8s.tf line 36, in resource "azurerm_ku

[2019-06-11 01:20] ggorby opened #33058 "Sharing in Unity locks up at camera step on iPad"
Environment: MacBook Pro Mojave 10.14.5; Unity 2019.1.5f1; Visual Studio 2019 for Mac; .NET 2.2.107; Xcode 10.2.1; Build goes fine in unity. cocoa pods installed successfully in App directory. Opened xcworkspace in App directory from terminal. App deploys successfully to iPad and starts to run. Menu functional. When I select the button to allow access to the camera, the application locks. Recurren

[2019-06-11 01:21] ggorby commented on #33058
iPad 6th generation iOS 12.3.1

[2019-06-11 01:38] ggorby commented on #33058
Additional info on Line 18:
->  0x10549db14 <+64>:  ldr    w8, [x19, #0x8] Threadpool worker (56): EXC_BAD_ACCESS (code=1, address=0x210)

[2019-06-11 01:59] nicolaszhang commented on #33007
I'm using the sample AccountManagement from link in https://docs.microsoft.com/en-us/azure/batch/batch-aad-auth, and with default code, it always showed below screenshot asking for admin approval when logging in.
![image](https://user-images.githubusercontent.com/2117138/59238112-40cc6780-8c2f-11e9-96b2-7c081844e818.png)

But from the App Registration page, you can see there is no permission that

[2019-06-11 03:07] SeanFeldman opened #33060 "--odata-query doco"
I've raised an issue (https://github.com/MicrosoftDocs/azure-docs-cli/issues/1489) about documenting the options for `--odata-query`. Looks like it's used but no documentation about the options possible/supported.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d061a5b9-7841-eff7-73e4-196fd451596a
* Version Independent

[2019-06-11 03:09] SeanFeldman opened #33061 "Search lists of topics or subscriptions section"
The document says

&gt; In order to make searching and managing of large numbers of topics or subscriptions, Event Grid's APIs support list an pagination.

Should it be

&gt; In order to make searching and managing of large numbers of topics or subscriptions, Event Grid's APIs support **listing and** pagination.

Also, does pagination require a certain syntax or is it automatic? It's not clear fro

[2019-06-11 03:11] SeanFeldman opened #33062 "Inconsistent samples"
Some samples are in Azure CLI and some are in PowerShell. Please standardize on AZ PowerShell and optionally provide PowerShell as a secondary option.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d061a5b9-7841-eff7-73e4-196fd451596a
* Version Independent ID: 1c297d9b-fb7a-6206-4ff8-ca85d9c6c443
* Content: [Manage lar

[2019-06-11 03:15] KalyanChanumolu-MSFT commented on #33052
@dr-ivan Thank you for the feedback.
As you have rightly pointed, there is an open issue for adding a reference to the storage limits and will be addressed at the earliest.
We will close this issue now.

@stevestein closing this issue as it is a duplicate of #31200

[2019-06-11 03:15] #33052 closed

[2019-06-11 03:25] KalyanChanumolu-MSFT commented on #33047
Closing this issue as it is a duplicate of #33048

[2019-06-11 03:25] #33047 closed

[2019-06-11 03:27] KalyanChanumolu-MSFT commented on #33035
Thank you for your interest in Azure products and services.
We are investigating and will update you shortly. 

[2019-06-11 03:29] tristanbarcelon commented on #33048
@KalyanChanumolu-MSFT, Sorry for the duplicate post. I must have pressed enter twice. However, one of them needs to be open.

[2019-06-11 03:29] femsulu commented on #24785
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-06-11 03:29] #24785 closed

[2019-06-11 03:36] yixue-at-symantec opened #33063 "will at-portal generated event subscription support manual validation?"
r.t., seems right now if i generate a event grid subscription at azure portal, the deployment fails right after got a response without validationcode.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ea53478-b3df-71dd-5ec8-27746a650775
* Version Independent ID: 185f045e-d659-6217-3c14-68418c4fe5fe
* Content: [Azure Even

[2019-06-11 03:39] aeijdenberg commented on #32233
Hi @shashishailaj @rwike77 , yes we understand than an ID token is used for user identification, which is the entire reason that we're using the OpenID Connect flow - we want user identification - we're not seeking to make additional calls to Azure APIs (which as you point out, would require an access token for authorization) -  instead we're trying to use the Microsoft Identity Platform to mainta

[2019-06-11 03:39] rimman commented on #33035
You can use any existing hash function implementation or write a basic mod function, e.g., hashIndex = key % noOfBuckets, where noOfBuckets is 400. This is not Cosmos DB-specific.

#please-close

[2019-06-11 03:51] KeiroKamioka0000 opened #33064 "Please consider to add the reason why using Receive Side Scaling (RSS) can reach higher maximal throughput than a VM without RSS"
Please consider to add the reason why using Receive Side Scaling (RSS) can reach higher maximal throughput than a VM without RSS?
Some customer may would like to know why.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d0461be-f438-f807-3808-abed0d536913
* Version Independent ID: ccbedd05-913a-1c66-8e30-e9c4a31c5d22
*

[2019-06-11 03:52] DixitArora-MSFT commented on #32902
@itsashish-patel ADO.NET implements connection pooling by default. But because you can still run out of connections, you should optimize connections to the database. For this consider [SQL Server Connection Pooling (ADO.NET)](https://docs.microsoft.com/en-us/dotnet/framework/data/adonet/sql-server-connection-pooling).

Connection pooling reduces the number of times that new connections must be ope

[2019-06-11 04:15] SnehaAgrawal-MSFT commented on #33044
@tdykstra Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-11 04:25] codevulture commented on #29268
@barracud : Hi, I ran in a similar issue, problem being the uploaded image was still having application/octet-stream but it should have application/vhd content-type after upload, i was in process of changing it through storage explorer maybe you could try that too. Thanks.

[2019-06-11 04:51] DixitArora-MSFT commented on #33062
@SeanFeldman Thank you for your feedback! We will review and update as appropriate.

[2019-06-11 04:51] mma-mm commented on #32668
After a reboot of all systems, it works with the storage explorer for Linux Version 1.5.0. I still can't access the blob storage from any version in Windows though.

[2019-06-11 04:53] DixitArora-MSFT commented on #33061
@SeanFeldman Thank you for your feedback! We will review and update as appropriate.

[2019-06-11 05:06] tristanbarcelon commented on #33048
Hi @David-Noble-at-work , I found a previously closed [issue 7990](https://github.com/MicrosoftDocs/azure-docs/issues/7990) that mirrors very closely what I am trying to do. Would starting the emulator using Start-CosmosDBEmulator cmdlet from a scheduled task after boot keep the emulator running until a reboot?

 I've also been checking to see if there is already an existing valid certificate, usi

[2019-06-11 05:07] CHEEKATLAPRADEEP-MSFT commented on #32940
@chanakyaMT We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-06-11 05:07] #32940 closed

[2019-06-11 05:09] KalyanChanumolu-MSFT commented on #33035
@mbinggeli as suggested above you can implement your own hashing logic
C# has as GetHashCode function that you can use to get started.

[code]

[2019-06-11 05:09] #33035 closed

[2019-06-11 05:13] DashleenBhandari-MSFT commented on #32989
@klawrawkz , We will get the disconnect button on the top of the VNET integration blade.  Go to app service --> VNET --> VNET Integration blade and on top left corner you will see the disconnect button.

[2019-06-11 05:17] PramodValavala-MSFT commented on #33060
@SeanFeldman Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

[2019-06-11 05:22] SadiqhAhmed-MSFT commented on #31787
@nkiest Thank you for the update.

@melvincanafranca We will proceed to close this issue now. If you've any questions, feel free to reach out to us by replying to this thread and we shall continue the discussion.

[2019-06-11 05:22] #31787 closed

[2019-06-11 05:26] PramodValavala-MSFT commented on #33063
@yixue-at-symantec Thanks for the feedback! We will review and get back to you on this.

[2019-06-11 05:27] #28965 closed

[2019-06-11 05:29] PramodValavala-MSFT commented on #32705
@nickwalkmsft We have assigned this issue to the content author to review and update accordingly.

[2019-06-11 05:30] #32673 closed

[2019-06-11 05:31] #32910 closed

[2019-06-11 05:43] VikasPullagura-MSFT commented on #32887
@cynthn Apologies for the confusion.

As per Nvidia Virtual GPU Software [Document](https://docs.nvidia.com/grid/latest/product-support-matrix/index.html) Win10-1809 is supported.

In Azure [Document](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/n-series-driver-setup#nvidia-grid-drivers) supported OS version is mentioned as Windows 10 (up to version 1803).
I tried installing the

[2019-06-11 05:45] SumanthMarigowda-MSFT commented on #32926
@thecpshah I'd recommend posting your question in https://social.msdn.microsoft.com/Forums/en-US/home?forum=windowsazuredata  since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-11 05:45] #32926 closed

[2019-06-11 05:46] SubhashVasarapu-MSFT commented on #33064
@KeiroKamioka0000 , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-06-11 05:46] SumanthMarigowda-MSFT commented on #32912
@winstef Apologies for the delay! May I know what exactly are you trying to accomplish?

[2019-06-11 05:47] SubhashVasarapu-MSFT commented on #33033
@Placid7 , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-06-11 05:51] ManojReddy-MSFT commented on #32809
@kweeket The page is working as expected for me and I checked with a couple of colleagues as well. I believe this must have been a transient issue. I will go ahead and close this issue for now.

If you are still having the same issue, please tag me in the comments and I will get back to you.

[2019-06-11 05:51] #32809 closed

[2019-06-11 05:51] SumanthMarigowda-MSFT commented on #32843
@tonio-lora Streaming scenarios with Databricks work well. In the Databricks article- https://docs.azuredatabricks.net/spark/latest/structured-streaming/data-sources.html#streaming-data-sources-and-sinks), ADLS Gen2 is represented by both ‘Delta Lake Tables’ & ‘Write to Arbitrary Data Sinks’. We will soon support ‘Optimized Azure Storage File Source’ of Event Grid integration.
Can you also provide

[2019-06-11 05:51] ManojReddy-MSFT commented on #32955
@haohaowasky We have not heard from you in a while. We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-06-11 05:51] #32955 closed

[2019-06-11 05:52] ManojReddy-MSFT commented on #32643
@mmacy Can you please get this verified and update the doc accordingly?

[2019-06-11 05:53] RohitMungi-MSFT commented on #32824
@Pauline-Kowa We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-11 05:53] #32824 closed

[2019-06-11 05:58] KalyanChanumolu-MSFT commented on #33048
@tristanbarcelon Thanks for the feedback.
We are actively investigating and will get back to you soon.

[2019-06-11 06:00] ManojReddy-MSFT commented on #31078
@lightupdifire You would also need to create the SCP on the client using client-side registry option.

Windows 10 and Windows 2016 will not be auto-registered. Yes, the task which is running on these devices will look for SCP and as it is cleared, auto-register will not succeed.

[2019-06-11 06:03] v-maroge opened #33067 "Backup data size limit"
What would the limit of the back up data size in the vault be? Will it follow the limit for recovery service vault?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73e17c54-1231-159f-612a-e4e8f07786c1
* Version Independent ID: d0417838-7342-dcd2-a59d-9444be67711f
* Content: [Back up Azure Files FAQ](https://docs.microso

[2019-06-11 06:11] RohitMungi-MSFT commented on #32987
@AviralGarg1993 Here are some in built examples that are shown when you add these entities to your app.

**Utterances:**
![image](https://user-images.githubusercontent.com/46958063/59247470-15507980-8c3d-11e9-91c7-35d7e59483d9.png)

**Labelled Utterances:**
![image](https://user-images.githubusercontent.com/46958063/59247517-3dd87380-8c3d-11e9-87cc-fd84c9cde4cb.png)

We hope this clarifies how the

[2019-06-11 06:11] #32987 closed

[2019-06-11 06:15] winstef commented on #32912
I was just wondering for this example: https://docs.microsoft.com/en-us/azure/storage/blobs/storage-secure-access-application?toc=%2Fazure%2Fstorage%2Fblobs%2Ftoc.json#configure-sas-tokens-for-thumbnails

If there would be a NodeJS version of the code as well? showing how to use Shared Access Signature (SAS) tokens with Blob storage.

thanks.

[2019-06-11 06:27] sebhe commented on #32917
Hi @MarileeTurscak-MSFT
thanks a lot for your Feedback. My question was more referring to "what attributes are changed in the on-premise AD (and to what values) if we trigger e.g. a Change Password via AzureAD". For example are you setting "pwdlastset" to a specific value?

[2019-06-11 06:33] PramodValavala-MSFT commented on #32847
@abhinav-jain09 Just following up here... Hope my previous comment helps.

[2019-06-11 06:38] hkusulja commented on #33006
@Mike-Ubezzi-MSFT ok, tx for the info, but what about Azure table storage instead of CosmosDB?
Azure storage for files, blobs and queues supports RBAC, but for for tables, they say - "ask cosmosdb team" for this feature on azure table storage.... :/

[2019-06-11 06:44] SubhashVasarapu-MSFT commented on #32911
@rohinkoul , I have added you to the conversation to update the doc accordingly.

[2019-06-11 06:47] AshokPeddakotla-MSFT commented on #32979
@smoms Glad to hear that your issue is resolved.
The IoT Edge hub, which is part of the IoT Edge runtime, is optimized for performance by default and attempts to allocate large chunks of memory. This optimization is not ideal for constrained edge devices and can cause stability problems. When you set the environment variable to false it stops allocating large chunks of memory.

We will now proceed

[2019-06-11 06:47] #32979 closed

[2019-06-11 06:47] patst commented on #32900
@jakaruna-MSFT thanks for the fast reply and the information.

Maybe it will be possible to reference a existing VirtualMachineScaleSet in the future. With that the configurations from the VirtualMachineScaleSet docs may work.

[2019-06-11 06:47] #32900 closed

[2019-06-11 06:48] swinarko commented on #10180
There's no duplicated link and blog will be published soon.

[2019-06-11 06:51] angoyal-msft commented on #32825
@arolshan It seems that this is not supported in China sovereign cloud. For a deeper investigation and immediate assistance on this issue, if you have a support plan you may file a support ticket, else could you send an email to AzCommunity @ Microsoft dot com with the below details, we would like to work closer with you on this matter.

Thread URL:
Subscription ID:

[2019-06-11 06:51] #32825 closed

[2019-06-11 06:55] UlucFVardar opened #33068 "Time Series Insight 'timeseries/query’ API problem"
# Time Series Insight 'timeseries/query’ API problem

The purpose of the project, is to collect our data in TimeSeries DB in one minute periods. The collected data is requested by an API with many metrics and filters, we want to implement a monitoring page with this data.

We send our data to TSI with using EventHub;

We can get our data by using the **Get Environment Events API,** event by event

[2019-06-11 07:02] KalyanChanumolu-MSFT commented on #33006
Similiar issue [#27135](https://github.com/MicrosoftDocs/azure-docs/issues/27135) is open with the author.
Please continue the discussion there to avoid overlap.

[2019-06-11 07:09] ikflc opened #33069 "com.databricks.spark.sqldw.SqlDWConnectorException: Exception encountered in SQL DW connector code"
# Azure documentation issue guidance

In step5 of https://docs.microsoft.com/en-us/azure/azure-databricks/databricks-extract-load-sql-data-warehouse "Load Data in Azure DataWarehouse"

5. Run the following snippet to load the transformed dataframe, renamedColumnsDF, as a table in a SQL data warehouse. This snippet creates a table called SampleTable in the SQL database.
scala

Copy
spark.conf.set(

[2019-06-11 07:14] imlight commented on #31260
Sorry , I was away, couldnt reply.

I am also getting same error . There must be something specific with this centos image .

[2019-06-11 07:18] smoms commented on #32787
@Alberto-Vega-MSFT thanks OK.

[2019-06-11 07:23] ChiragMishra-MSFT commented on #33069
@ikflc Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2019-06-11 07:27] AshokPeddakotla-MSFT commented on #33058
@ggorby Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-11 07:32] payalgaikwad42 opened #33070 "Unable to install iotedge runtime 1.0.7"
@veyalla  @myagley Hi,

I am trying to install iotedge runtime on ubuntu 16.04. My ubuntu system is in virtualbox on windows 10.
Document reference to install iotedge :
https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge-linux

i am encountering the error as:
E: Unable to locate the package moby-engine
E: Unable to locate the package moby-cli
E: Unable to locate the package mob

[2019-06-11 07:34] leen89757 opened #33071 "DataContractSerializer Serialization Using RemotingV2"
For using Service Fabric Remoting V2 from V2_1, we encountered a problem that is:

V2 does not support interface return/input types without specifying its concrete type via known types. (e.g. Task<IList<T>> GetSomethingByIds(IList<string> ids))

We considered possible approaches for resolving this:
1.	Using a customized serializer to specifying its concrete type to the known type list.
This is not

[2019-06-11 07:36] hkusulja commented on #27135
Yeah, I am also confused, and in questions regarding the Azure Table storage, they say "this is owned by CosmosDB team"..., also Azure Table storage, has (almost) zero price for startes, which is about $5 / month for cosmosdb..., etc.

[2019-06-11 07:37] namvan opened #33072 "Value in AccountName is invalid"
Instead of
AccountName="domain\svc-Test$"

The value should be
AccountName="domain\\\svc-Test$"
or
AccountName="svc-Test$@domain"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6bf0b416-c0b2-97de-d013-a5153d0b9495
* Version Independent ID: 08e038b3-8d98-e6b0-d490-33b48d1a90ea
* Content: [Run an Azure Service Fabric ser

[2019-06-11 07:39] Pauline-Kowa commented on #32824
@RohitMungi-MSFT Thank you for your reply. I tried again and still have the same issue. I checked the keys and endpoint region, but it seems ok. Moreover, the face api is working on another program.

[2019-06-11 07:53] ddkserv opened #33073 "ARM template with Microsoft.Insights/components"
In ARM template, one can add Microsoft.Insights/components with apiVersion 2015-05-01 that behind the scenes create an alert for Failure Anomalies. When looking into the Azure Portal the Failure Anomalies Alerts is created as Classic. How to ensure that the Alerts created via ARM teamplte via the Microsoft.Insights/components is going forward is created as metric?

---
#### Dokumentoplysninger

⚠

[2019-06-11 07:56] richard-nixon1 commented on #10180
@swinarko has this fix been applied to Azure Analysis Services also? If so could you provide more detail on the AS side please.

I am still receiving an error as per [this](https://social.msdn.microsoft.com/Forums/security/en-US/fb22d745-399f-4cc5-8072-01ba5b7dfecf/azure-ad-authentication-in-sql-server-datasource-connection?forum=AzureAnalysisServices) thread.

[2019-06-11 07:57] ac2707 opened #33074 "deploy predictive maintenance - https://github.com/Azure/azure-iot-predictive-maintenance/issues/50"
Can someone help with this please ?
https://github.com/Azure/azure-iot-predictive-maintenance/issues/50

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38c81b69-80cb-f1e1-28ef-0c5ae3e48d1b
* Version Independent ID: 70c7ca96-da8f-1f89-386d-81d006620e21
* Content: [Try a cloud-based IoT predictive maintenance solution - A

[2019-06-11 07:59] ac2707 commented on #32325
Hi, any update on this ? microservices not running in VS, VS Code, docker - please advise with more detailed steps and screenshots, Thanks.

[2019-06-11 08:01] ac2707 commented on #32337
@v-krghan  - same issue still, can you please advise on how to proceed further ? Thanks.

[2019-06-11 08:04] ac2707 commented on #32322
@v-krghan - any leads on this one, please advise.. Thanks.

[2019-06-11 08:05] ac2707 commented on #32324
Created a new support request Case 119061123000876
Will be really helpful if you can add detailed steps and screenshots for running the microservices.
Thanks

[2019-06-11 08:08] spzSource opened #33075 "[Question]: Automatic deployment: Power BI + Application Insights"
The goal is to implement automatic deployment for Power BI dashboard to a different environments (each environment uses different instance of application insights). To get rid of any user interaction during deployment, I have to use Anonymous authentication with X-API-Key as a parameter, which can be changed during deployment. Here is a simplified example:

[code]

So in that particular case datas

[2019-06-11 08:17] omifumi opened #33076 "Browser requirements for password base SSO"
In the following page, there is such a description about IE.
https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/access-panel-extension-problem-installing

"Internet Explorer is on limited support and no longer receives new software updates. Microsoft Edge is the recommended browser."
Please add this notation on this page.
In my environment, password SSO in IE did not work.

---
##

[2019-06-11 08:37] shashishailaj commented on #33049
@KeiroKamioka0000 Thank you for your query. We will investigate and update this thread.

[2019-06-11 08:38] VikasPullagura-MSFT commented on #33019
@letmaik I have submitted a PR, the document will be updated soon.

[2019-06-11 08:50] UKayo opened #33077 ""Authentication Administrator" and "Privileged Authentication Administrator" needs to be updated"
Per MC178555, these roles are now able to reset user passwords. Please update to reflect this change.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0767aac4-fcd9-eaac-2c30-8f17d8eadd92
* Version Independent ID: a380a828-03f9-e037-3a62-e4165fda7cb6
* Content: [Administrator role descriptions and permissions - Azure Act

[2019-06-11 08:52] DashleenBhandari-MSFT commented on #33039
@ericjiang18 , Thanks you for raising the issue. Could you please mention the document you are following?

[2019-06-11 08:57] GhandiSober-MSFT commented on #30112
@michaelcohenmicrosoft both endpoints needs to be in different profiles, and the different profiles should be by different CDN provider, like one msft and the other is akamai or verizon.

[2019-06-11 08:58] ssidhar commented on #15926
I have tried to integrate my app in UK south. How do i know when VNet integration is successful? Where do i see the IP of my app?

[2019-06-11 09:02] ssidhar commented on #15926
How do i check the IP for my web app when it has been VNet integrated?

[2019-06-11 09:03] bertrandpons opened #33078 "How to implement a "different from" logical function"
Hello,

Question based on the following documentation: https://docs.microsoft.com/en-us/azure/data-factory/control-flow-expression-language-functions

I use Get Metadata to retrieve files name in a blob container. I also have a README.md in this same blob container.
I would like to be able to apply filter and set variable value in function of the files present in the blob container, but without ha

[2019-06-11 09:03] aaron-0 commented on #30853
@markjbrown thanks for the response. The mechanism you have linked for updating is already incorporated into the gist I added: https://gist.github.com/aaron-0/c69c0af9b29497297e46b5ea51b48abd

What I'm trying to achieve is a single idempotent arm template for creating the database initially and then update it over time. e.g when I add a new collection, change an index or change throughput.

Most o

[2019-06-11 09:18] v-yanfw commented on #32662
Hi Linda,

Thanks for your reply. For the document https://docs.microsoft.com/en-us/azure/data-factory/connector-azure-sql-database-managed-insance “Copying data by using SQL or Windows authentication.” Had been updated to “Copying data by using SQL authentication.”.

Now I have another question that I need your help to confirm: Does Azure SQL Database Managed Instance support "Azure Active Direct

[2019-06-11 09:33] arunkra commented on #32992
@femsulu : Thanks for the update and taking a look.

[2019-06-11 09:40] AshokPeddakotla-MSFT commented on #27691
@wrende Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-06-11 09:40] #27691 closed

[2019-06-11 09:41] ManojReddy-MSFT commented on #33077
@UKayo Thanks for reporting this. I have assigned this to the author to update the new changes accordingly.

[2019-06-11 09:44] shashishailaj commented on #33076
@omifumi Thank you for pointing this out. We will engage the content team to further look into this.

[2019-06-11 09:48] VikasPullagura-MSFT commented on #33071
@leen89757  Thanks for the question! We are checking on this and will respond to you soon.

[2019-06-11 09:51] VikasPullagura-MSFT commented on #33072
@namvan Thanks for the feedback. I am assigning the issue to author for updating the document.

[2019-06-11 09:54] PramodValavala-MSFT commented on #33026
@phekmat Thanks for catching that! We will update the doc accordingly.

If you are looking for a self-hosted version, [SSH Remote Port Forward](https://www.ssh.com/ssh/tunneling/example#sec-Remote-Forwarding) is something that you could consider I believe.

[2019-06-11 10:12] ChiragMishra-MSFT commented on #33069
@ikflc Looks like you might have specified a wrong Storage account name. Please re-check the storage account details specified, including **storage-account-name**.

[2019-06-11 10:14] dominicbetts commented on #33009
Hi @NeilMacMullen  - thanks for letting us know about the outdated docs. I've added a workitem to our backlog to get this article refreshed.
I see you've created a separate support request for the issue of not being listed as an owner.
I'm going to go ahead and close this issue, but feel free to reopen it if you have any further doc related questions.
Thanks,
Dominic

#please-close

[2019-06-11 10:15] ManojReddy-MSFT commented on #33040
@Buckits Thanks for reaching out to us. We are looking into this and will get back to you shortly.

[2019-06-11 10:17] shashishailaj commented on #32884
@jshomphe Please send the details to SaaSApplicationIntegrations[at]service[dot]microsoft[dot]com and this will be taken up offline. We will close this issue at this point and jeevan's team will continue to work with you over email. Should you still have any query , feel free to tag me or @jeevansd to your reply and we will gladly help you .

Thank you.

[2019-06-11 10:17] #32884 closed

[2019-06-11 10:18] swinarko commented on #10180
Unfortunately, I only cover SSIS/ADF, so please raise your questions on AAS forum/doc pages.

[2019-06-11 10:21] SubhashVasarapu-MSFT commented on #33020
@mmckechney , The changes were made accordingly to the doc and it will take some time to get reflected.

[2019-06-11 10:23] shashishailaj commented on #31554
@mattsmall1972 Just checking if you had any update on this ?

[2019-06-11 10:28] dominicbetts commented on #32816
#please-close

[2019-06-11 10:29] shashishailaj commented on #33076
@msmimart Could you please take a look at the note mentioned [here](https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/access-panel-extension-problem-installing#troubleshoot-the-access-panel-extension-in-internet-explorer) which has a note that says IE has limited support for Access panel extensions for Password-based single sign-on however  the [current article](https://docs.micr

[2019-06-11 10:30] #33009 closed

[2019-06-11 10:30] #32816 closed

[2019-06-11 10:30] SnehaAgrawal-MSFT commented on #33055
@winmike Thanks for the question! We are investigating and will update you shortly.

[2019-06-11 10:36] yooakim opened #33080 "Add examples of how to set TTL for CNAME?"
I have been trying tyo change the TTL for CNAME records in Azure DNS via the az cli but have failed. Any examples of how to do this would be appreciated!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39f6048c-aa9b-7dba-52e0-78cacc1a8c8f
* Version Independent ID: 38b3a686-0778-964f-863a-6eead046ea7d
* Content: [CLI Exa

[2019-06-11 10:49] anilbsap opened #33081 "Cluster the FS on ASCS server"
Hi,
As per SAP's earlier traditional concept, where /sapmnt/.... & /usr/sap.... were itself on ASCS
 cluster itself and not had any dedicated NFS server for those mount point. Any specific reason why HA for SAP, Azure recommend for having dedicated NFS cluster server for those mount points rather than building cluster file system on ASCS/SCS server itself which will help to bring Single point of f

[2019-06-11 10:50] AshokPeddakotla-MSFT commented on #33070
@payalgaikwad42 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-11 10:53] arnabhetc opened #33082 "Acess the docker SQL server Over other Application"
Hi ,
         The documentation suggests that , how we can store a data with SQL module to a container based MSSQL data base and access with the tool ! but  I am working on a application that will fetch data from that container based SQL DATA base , so how can I do that ?
@AzureSupport

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2019-06-11 10:55] ProductiveRage commented on #32732
I'm also having this same problem but I was unable to use the suggested solution from @iamsop because the SAS URL that was generated for me already included the container name - ie.

https://{yourblobname}.blob.core.windows.net/{container-name}/Invoice_1.pdf?sp=..

The error that I get (when using curl) is:

`{"error":{"code":"2024","innerError":{"requestId":"6412ca4b-5261-474b-85c7-8248d1054b93"}

[2019-06-11 10:56] msrini-MSFT commented on #33080
@yooakim , I will do a repro and provide you a solution.

[2019-06-11 10:59] VikasPullagura-MSFT commented on #32800
@michaeldisalvo Can you please provide the requested information for assisting you with the reported issue?

[2019-06-11 11:09] chlandsi commented on #22901
Sorry that you are experiencing problems. We have updated the [sample code and instructions](https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/samples/batch/python) with workarounds for a swagger bug (`import Model` failed) and a more detailed instructions. For the authentication problem, make sure that the region given for the endpoint in your code and the region you used

[2019-06-11 11:10] NayanShetty commented on #23045
@Mike-Ubezzi-MSFT I am facing the same issue as @das-kaustav and @mellondongit. I am halfway through the free training and also halfway through my free subscription period. As advised in your earlier posts I have upgraded to Pay-as-you-go and I still find errors !! Let me know where to send the subscription ID.

[2019-06-11 11:16] NayanShetty opened #33083 "Unable to create a Spark cluster in Databricks using Trial Free Subscription"
Unable to create a Spark cluster in Databricks using Trial Free Subscription. I have upgraded to pay as you go and still I get the same errors. I am still in the free trial period and 14 days left. No point in having free training from Microsoft if I am not able to use the Azure Portal !!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-06-11 11:18] benbelow opened #33084 "Clarify that the `Values` object in `local.settings.json` must be a flat collection of strings."
As per the explanation here: https://github.com/Azure/azure-functions-core-tools/issues/223#issuecomment-325045802 nested app settings within the `Values` object are not permitted, and will cause the local settings to silently fail to parse.

I don't think this is very clear from the documentation - it does say that these correspond to application settings in Azure, but the recommended practice fo

[2019-06-11 11:19] wukun2015 opened #33085 "Where can i find Ocp-Apim-Subscription-Key ?"
i can find subscription keys from speech service i created in azure but no idea where is Ocp-Apim-Subscription-Key. Any step by step guide?

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 166f57df-05f7-aacf-3a93-a11e688bd144
* Version Independent ID: c62ef65b-049b-e231-e728-3d2a8f4ddd97
* Content: [Transcribe m

[2019-06-11 11:26] ProductiveRage commented on #32732
Ok, I've managed to generate an SAS token for the container now (instead of a single resource within it). This doesn't seem to be possible in the Azure web UI, whereas creating them for single resources _is_, possible - which is frustrating for newbies like me (for future reference, I used the code similar to this to do it: [https://stackoverflow.com/q/53491091/3813189](https://stackoverflow.com/q

[2019-06-11 11:32] wukun2015 commented on #33085
i guess i find answer to close: https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/rest-speech-to-text

[2019-06-11 11:33] CHEEKATLAPRADEEP-MSFT commented on #33083
@NayanShetty You cannot create a Spark cluster in Azure Databricks using free trial subscription,.

**Note:** To use a free account to create the Azure Databricks cluster, before creating the cluster, go to your profile and change your subscription to **pay-as-you-go**. For more information, see Azure free account.

[2019-06-11 11:34] benbelow opened #33086 "Add documentation for allowed format of Values in local settings"
Via local experimentation I have discovered that certain key values in local.settings.json cause the values in the settings file to be ignored - specifically in the case of including one or more colon (:) characters in the key.

The documentation should make it clear what is not allowed in the keys of the "Values" object.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-06-11 11:36] ProductiveRage commented on #32732
I think that I finally got closer now. I don't know why the token generated by the code in the example above didn't work but I finally found the UI for generating MOST of the token that I needed:

storage account, {name of account}, Shared access signature, Generate SAS And connection string

(Seems so simple now that I've found it, I think that maybe I missed it before because some columns / side

[2019-06-11 11:50] andrewtyped opened #33087 "Document parameter-only application upgrade"
I recently learned application-level parameters can be upgraded without updating any versions in the app/service manifest or service packages ([see this issue](https://github.com/Azure/service-fabric-issues/issues/114#issuecomment-270018242)). This is both very useful and also not common knowledge - can you add it to the docs? I think this article makes sense as a home for the info since I see thi

[2019-06-11 11:52] GuyPaddock opened #33088 "InstanceName should be shortened for readability"
In the two examples that use `InstanceName`, it might be better to take just the end of the instance name (using `extract()`) since it's often a really long string that doesn't show up well in graphs.

For example:
[code]

... which produces instance names like:
[code]
... instead of:
[code]

... which produces instance names like:
[code]

---
#### Document Details

⚠ *Do not edit this section. It

[2019-06-11 12:04] msrini-MSFT commented on #33080
@yooakim , You cannot set the TTL for the existing record set via CLI. You can define the TTL during the time of creation.

You can use REST API to do it as mentioned here:https://docs.microsoft.com/en-us/rest/api/dns/recordsets/update

Or you can do it with Portal.

[2019-06-11 12:04] #33080 closed

[2019-06-11 12:06] msrini-MSFT commented on #32994
@olileger , I am closing this issue now. Please tag me if you have any further questions.

[2019-06-11 12:06] #32994 closed

[2019-06-11 12:06] NayanShetty commented on #33083
@CHEEKATLAPRADEEP-MSFT I have changed the subscription to pay-as-you-go and I can still see errors. The problem is though I move from free to pay-as-you-go, my account is still showing as a free trial for the next 14 days. I have seen a similar problem raised by some other members and I suppose it was resolved at the backend by the MS team. Please refer to this URL https://github.com/MicrosoftDocs

[2019-06-11 12:25] timtre commented on #32347
Hi, thanks for the response. However, the advice in the suggested stackoverflow thread didn't work for me. My version of Android Studio is up to date and I installed everything. The emulators work fine. However, in this particular case I need to install/update Google Play Services on the Roobo device as far as I understand it. Has no one experienced this issue before? Thanks so much!

[2019-06-11 12:27] MGoedtel commented on #32992
@arunkra - The SQL instance and details can be fetched by running different Kusto queries like below:
SQLAssessmentRecommendation | distinct AffectedObjectType, AffectedObjectUniqueName. Against what an Assessment recommendation is run is determined by the Affected Object details section.  All SQL instances are discovered and captured on the agent-managed computer.  Hope that helps.

[2019-06-11 12:41] AterCZE commented on #32826
@AshokPeddakotla-MSFT yes, thank you. And thanks to @rbrundritt for the advice, it works. I have another issue but that's connected with Azure Maps events, I'll refer to the corresponding forum.

[2019-06-11 12:46] rabbboudi opened #33089 "Unmanaged disks storage account"
Why the best practice is to "Keep all disks (OS and data) associated with a VM in the same storage account" ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 948b29e3-d488-0a0e-89c7-42849a93522d
* Version Independent ID: 8c986086-9343-4b99-ae53-f4fd1159d4f8
* Content: [Manage the availability of Windows VMs in Azure](ht

[2019-06-11 12:48] SaurabhSharma-MSFT commented on #33054
@akarasev Please open a new GitHub issue in case you have any questions.

[2019-06-11 12:50] SaurabhSharma-MSFT commented on #32969
@edcyyazdi Please open a new GitHub issue if you have any questions.

[2019-06-11 12:52] payalgaikwad42 commented on #32757
@FrankHu-MSFT any updates on this? I need to integrate this in client application asap.

[2019-06-11 12:52] lokijota commented on #30231
I'm seeing the same behaviour, btw. Also the WebJob didn't start automatically after it was initially published, I had to manually hit start in the portal.

[2019-06-11 13:01] SaurabhSharma-MSFT commented on #33082
@arnabhetc To assist you better on your query could you provide us with the link to the document you are referring to ?
In case your query in not related to document content, open a new forum thread either in MSDN or StackOverflow as it could be better place to get help on your scenario where the community members could provide their expert guidance to you based on their experience.

[2019-06-11 13:03] SaurabhSharma-MSFT commented on #33081
@anilbsap To assist you better on your query could you provide us with the link to the document you are referring to ?
In case your query in not related to document content, open a new forum thread either in MSDN or StackOverflow as it could be better place to get help on your scenario where the community members could provide their expert guidance to you based on their experience.

[2019-06-11 13:06] SaurabhSharma-MSFT commented on #33078
@bertrandpons Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-11 13:11] SaurabhSharma-MSFT commented on #33068
@UlucFVardar Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-11 13:12] SaurabhSharma-MSFT commented on #33057
@nipuns11 Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-11 13:14] SaurabhSharma-MSFT commented on #33056
@nipuns11 Please open a new GitHub issue in case you have any questions.

[2019-06-11 13:16] MNF opened #33090 "Name of “Configure and failover a failover group for a single database” link"
The link “Configure and failover a failover group for a single database” in https://docs.microsoft.com/en-au/azure/sql-database/sql-database-auto-failover-group#next-steps  refers to  failover group, not geo-replication failover group.
But the actual linked page https://docs.microsoft.com/en-au/azure/sql-database/scripts/sql-database-setup-geodr-failover-database-failover-group-powershell named “U

[2019-06-11 13:18] VanMSFT commented on #29121
Hello @geoffma! I apologize for the delay! We appreciate the feedback. We do link the CREATE USER syntax in several places in the aforementioned article. We also mention that a login must be created before the user is created:

![image](https://user-images.githubusercontent.com/40007119/59275213-baa12880-8c10-11e9-8b38-1907e72ab80d.png)

Please let me know if you have any concerns. Thanks!

[2019-06-11 13:24] VanMSFT commented on #32039
@GithubMirek Hey Mirek, is the sample code something we can update to use MSAL. I'm assuming this: https://github.com/AzureAD/microsoft-authentication-library-for-dotnet?

[2019-06-11 13:24] arnabhetc commented on #33082
I am providing the link
https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-store-data-sql-server

[2019-06-11 13:31] zmottie commented on #32887
VikasPullagura-MSFT it looks like you originally tried it on the NC series. My understanding is that GRID is only licensed for NV series by Azure.

[2019-06-11 13:31] ProductiveRage commented on #32732
Hints for newbs like me (taken from my previous comments in this thread which I'm going to hide for clarity):

1. A blob storage container is required to dump the training documents in (go to Storage Accounts / {account name} / Blobs / + Container (give it a name and leave "Public access level" as "Private (no anonymous access)"
2. Click into the container and upload the training documents - all i

[2019-06-11 13:34] Norrch2 commented on #30490
@MohitDhingra-MSFT @davidmu1
You previously mentioned that if I continued to have problems that I would be able to reach back out to you. May I have an update? I have tried every permutation of trying to get Paragraph text to work and still unable to get it to work.

[2019-06-11 13:42] dsindona commented on #24559
@honghuig please see comments above. Let us know if we can reassign this Issue to you as this is not documentation related. Thanks.

[2019-06-11 13:46] PramodValavala-MSFT commented on #33026
@phekmat We've raised a PR to update the doc accordingly.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-11 13:46] #33026 closed

[2019-06-11 13:47] zmottie commented on #28478
This is a fantastic note and saved me hours of troubleshooting. One more thing to add: WDDM mode is only supported with a GRID license. Microsoft only appears to include a GRID license for NV series VMs. I tried with NC and was unable to make anything work.

Referenced here:
https://msandbu.org/running-nvidia-grid-in-azure/

[2019-06-11 13:49] MNF commented on #25268
@Mike-Ubezzi-MSFT

Is it included in the documentation? I’ve read a few articles about Geo-Replication/Auto Failover Groups, but haven’t seen it.  It will be useful to clarify differences between these terms.

[2019-06-11 13:54] jmprieur commented on #32453
@nelfer, can you please explain what your architecture is? I understand that you are doing an ajax call, so you have a more complex application than the quickstart? are you using MSAL.js ?

[2019-06-11 14:03] ktrueman opened #33092 "Bad sentence."
This sentence makes no sense: "Page blobs store the virtual hard drive (VHD) files serve as disks for Azure virtual machines." ... the portion with 'serve' comes out of nowhere.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a056685-6734-380e-562c-92e30b8976a3
* Version Independent ID: 1d17cc5e-f2b1-5489-79fa-e8557fad

[2019-06-11 14:06] CeciAc opened #33093 "Problems with cluster creation"
Hi team,
I'm moving this from here: https://github.com/MicrosoftDocs/azure-docs.es-es/issues/467
The contributor is reporting the instructions have errors.

@VaroJulio commented 5 days ago
When executing the poweshell script to create the cluster, the following error occurs:
WARNING: Access policy is not set. No user or application have access permission to use this vault. Please use Set
-AzKeyVau

[2019-06-11 14:12] Movarda commented on #8247
@rokulka, as I said above, it works on the test environment. However it does not work on the web app or skype published platforms. Because all the other settings that works on the Test-Env work ok also in the web app, I doubt is something that the Bot Code can override. Did you actually check your Default Answer on a web app/skype published platform?

[2019-06-11 14:13] AshokPeddakotla-MSFT commented on #33074
@ac2707 Thanks for the feedback! We would like to inform you that we are checking all your issues internally and will update as earliest.

[2019-06-11 14:16] bradhowe commented on #26397
@AjayKumar-MSFT,  sorry for the delay.

We have attempted to add our Public PAT and Host IP and the issue persists.

Error:
OK - https://functions.azure.com/api/passthrough
Session Id: 6b091dc8c7eb419bae97b6aaf46a9df1

Timestamp: 2019-06-11T14:14:59.288Z

[2019-06-11 14:18] AshokPeddakotla-MSFT commented on #32826
@AterCZE Sure.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-11 14:18] #32826 closed

[2019-06-11 14:19] tusharnarang commented on #24801
Hi did this got resolved. I am having similar issue, Non partitioned Container work fines, but in partitioned container i am getting this exception. Any way ?

[2019-06-11 14:19] DCtheGeek commented on #32562
@davidfeng74 Azure Resource Graph is currently free. I'll pass along that this is hard to discover.

For the Change History, you can run a query for a specific resource to find when changes were detected. You can then request a Before and After snapshot of the resource properties surrounding the change to aid you in determining what properties were changed.  For more information, see [Resource Gra

[2019-06-11 14:19] SumanthMarigowda-MSFT commented on #33092
@ktrueman Thanks for your question. We are checking on this and will respond to you soon.

[2019-06-11 14:27] cephalin commented on #32952
@Jerwangsample @jonwinterburn I can't reproduce the error. This is a file that should be autogenerated at runtime. One difference is I'm running it in VS2017 which the tutorial was written for, but the tutorial has since been updated to say VS2019.

I did run into some Roslyn errors which I've fixed. Please redownload the sample project.

[2019-06-11 14:28] PramodValavala-MSFT commented on #33086
@benbelow Thanks for the feedback! We will review and update accordingly.

[2019-06-11 14:29] anilbsap commented on #33081
Please find the below Azure link which refers to NFS cluster for ASCS instance.

https://docs.microsoft.com/en-gb/azure/virtual-machines/workloads/sap/high-availability-guide-suse

Also, find the RHEL document which talks about FS cluster is will be ASCS server itself, whereas we don't need separate NFS server. (point no: 4.2.2)

https://access.redhat.com/articles/3150081#ascs-ers-with-shared-file

[2019-06-11 14:29] PramodValavala-MSFT commented on #33084
@benbelow Thanks for the feedback! We will review and update accordingly.

[2019-06-11 14:53] hochas opened #33094 "Getting log message from app"
Are there any other fields available other than `requests` on the app object? Where can I see this?

I need to count events that pass through a Function that have a specific type. The type is logged as information in `context.log`. I need to use `contains` on the output of the log message and count the number of that specific instance.

---
#### Document Details

⚠ *Do not edit this section. It is

[2019-06-11 14:54] davidmu1 commented on #30490
@MohitDhingra-MSFT please work with @mmacy  who is now supporting Azure AD B2C.

[2019-06-11 15:14] mellondongit commented on #33083
Hi. It was logged, but not as yet resolved. I had a link sent to me to allow me to raise a support request despite being on Free Trial account. I've done that with details/reference to #23045  and #24214 , and it is sitting open (raised 5/6/19). Hopefully there is one central person looking at a resolution, as multiple of us are raising in separate threads.

[2019-06-11 15:19] Anand-Moghe commented on #24654
Figured it out based on docs [here](https://docs.microsoft.com/en-us/azure/analysis-services/analysis-services-gateway)

[2019-06-11 15:19] #24654 closed

[2019-06-11 15:20] TiloGit commented on #32951
I did upgrade via Azure GUI and took long (just have few deployments on 3node cluster) turns out due to ACR which was returning error: see here https://stackoverflow.com/a/56501999/1747983.

So the new node could not pull from ACR and was hanging. I removed that deployment for now to get the upgrade going.

[2019-06-11 15:21] TiloGit commented on #32949
how about docker version used in AKS?

[2019-06-11 15:38] kasparks commented on #31809
Thanks for the question. I've updated the documentation.

#please-close

[2019-06-11 15:39] kasparks commented on #31809
#please-close

[2019-06-11 15:41] hansenms commented on #31125
#please-close

[2019-06-11 15:41] BigMorty commented on #32888
@peterpogorski

[2019-06-11 15:42] KalyanChanumolu-MSFT commented on #32795
@oppianmatt The functionality to create extensions on Hyper scale is not live yet.
The documentation page will be updated when this functionality is available.

We will close this issue now. If there are further questions regarding this matter, please comment and we will gladly continue the discussion. 

[2019-06-11 15:42] #32795 closed

[2019-06-11 15:52] CarlRabeler commented on #31200
@dr-ivan I agree that adding a link to the limits for databases (single or pooled) would be useful. This page is focused on server-level limits for single and pooled databases, for which there are no storage limits. There is a work item in our queue to add this link. FYI - you can also add the link directly by clicking the edit button in the upper right section of the rendered page.
Cheers,
Carl

[2019-06-11 15:53] mmacy commented on #32643
@ManojReddy-MSFT Yes, will do.

[2019-06-11 15:53] lucasfldmn commented on #29683
@mmacy, @ericfowler303: As far as I understand, the section 'Configure Azure AD as an identity provider' should not make use of the B2C-Login.
This section refers to the configuration of another non-B2C Azure AD as the identity provider for the B2C-AD. Therefore, the b2clogin.com domain does not exist and on the AD used for login and cannot be used as a metadata provider.

[2019-06-11 15:57] hulltr1 opened #33097 "Supported operating systems"
Is Windows Server 2019 supported?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0dbd38fa-89f0-320a-b517-b440be6927f9
* Version Independent ID: 8b2eeee3-fb49-37e5-917d-f36bcd60ad29
* Content: [Prerequisites - Azure Disk Encryption for IaaS VMs](https://docs.microsoft.com/en-us/azure/security/azure-security-disk-encrypt

[2019-06-11 16:00] KalyanChanumolu-MSFT commented on #33090
@MNF Thank you for the feedback. We are actively investigating and will get back to you soon.

[2019-06-11 16:03] shashishailaj commented on #30490
@mmacy could you please take a look at this issue and provide your insights ?

[2019-06-11 16:03] kobulloc-MSFT commented on #33075
@spzSource Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2019-06-11 16:07] mitulsuthar opened #33098 "Add documentation specific to EF Core 2.2 as well."
The doc provides details about EF but now with Core 2.2 supporting this scenario, it would be nice to have a code sample detailing this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31b0d33c-f88e-d50c-2926-7933940f3b92
* Version Independent ID: 4aaef906-f501-6947-5d23-1b704470f09d
* Content: [Secure SQL Database conn

[2019-06-11 16:08] peterpogorski commented on #32888
Hi @nishantsharma,

Can you please provide some more details:
- Which version of the Service Fabric SDK are using?
- Can you please replicate the steps that you used to create and build the project?

[2019-06-11 16:12] cap273 opened #33099 "Login Redirect URL is incorrect (cannot be https://login.microsoftonline.com/{tenant-id}/saml2)"
In the Workday Redirection URLs section, this page says the following:
"In the Login Redirect URL, Timeout Redirect URL and Mobile Redirect URL textbox, paste the Login URL which you have copied from the Set up Workday section of Azure portal."

The "Login URL which you have copied from the ... Azure portal" is https://login.microsoftonline.com/{tenant-id}/saml2. However, this is the login/logout

[2019-06-11 16:13] #33019 closed

[2019-06-11 16:23] arunkra commented on #32992
@MGoedtel : I was aware that the SQL instance details are captured. Main ask was How can i get the SQL Version details of the corresponding SQL instances ? Also what features are enabled for the instance like SQL AO , Replication , SSAS , SSIS , etc ?

[2019-06-11 16:26] Karishma-Tiwari-MSFT commented on #33087
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-11 16:27] OffColour commented on #28045
@msrini-MSFT Has this been fixed?

[2019-06-11 16:27] Karishma-Tiwari-MSFT commented on #33093
Thanks for the question. We are currently investigating and will update you shortly.

[2019-06-11 16:29] msrini-MSFT commented on #28045
@amitsriva , Can you comment on this?

[2019-06-11 16:31] #33085 closed

[2019-06-11 16:33] Karishma-Tiwari-MSFT commented on #33089
Thanks for the question! We are currently investigating and will update you shortly.

[2019-06-11 16:35] SharePointing opened #33100 "Please update article to remove false hope"
The opening of this article leads one to believe that I can add Azure B2C authentication into me application without any page redirects: "All authentication logic and session handling are done entirely in the JavaScript client, without additional page redirects."

This is not accurate and the product still requires redirects with the SPA application.

Alternatively, please give us a sample that sh

[2019-06-11 16:49] 0GiS0 opened #33101 "The sample code doesn't compile"
Hi,

I'm trying to use the sample code on GitHub but It doesn't compile.This is the error from Azure DevOps step:

src\todo.csproj(231,5): Error : This project references NuGet package(s) that are missing on this computer. Use NuGet Package Restore to download them.  For more information, see http://go.microsoft.com/fwlink/?LinkID=322105. The missing file is ..\packages\Microsoft.Azure.DocumentDB.

[2019-06-11 16:49] DarqueWarrior opened #33103 "Provide Docker commands to stop containers"
I ran the optional steps locally to test the images. It might be nice to also provide the commands to stop the containers and even remove them. Not a requirement because you can complete the tutorial without doing that because you move from port 8080 to 8081. But now the reader has two containers running and can't start others on 8080 or 8081 until they are stopped.

Stopping could be added to the

[2019-06-11 16:49] dlepow commented on #31016
#reassign @cephalin - Reassigning since this issue is related to App Service. Thanks!

[2019-06-11 16:51] AdvisiconIT commented on #29050
The app is no longer showing the two digit numbers to select.

[2019-06-11 16:53] #32562 closed

[2019-06-11 16:53] yegu-ms commented on #32000
@danhamlin, we don't have a JavaScript library yet. It's on our roadmap though.

[2019-06-11 16:53] yegu-ms commented on #32000
#please-close

[2019-06-11 16:54] MicahMcKittrick-MSFT commented on #33032
I will assign to the author to confirm and update as needed.

[2019-06-11 16:55] DarqueWarrior opened #33104 "Make it very clear the base image tag must be the same for this to trigger"
I was playing with this and everything worked as expected. I then changed the 'a' to a 'b' in the base docker file and built it again as baseimages/node:9-alpineb. Adding the 'b' to the tag did not trigger the app image to rebuild.  It was not clear to me the tag had to be the same as well. I thought any base image update would trigger this.

I think if tutorial had tagged the image 'latest' this

[2019-06-11 16:58] yegu-ms commented on #32694
@jabbera, could you please add a request in [GitHub issues](https://github.com/Azure/AppConfiguration/issues) so that we can track properly and assign someone to work on it? Thanks! We'll close this as it's not just a docs issue.

#please-close

[2019-06-11 17:01] yegu-ms commented on #32893
@ielcoro, thanks for asking! We're working to enable the service for CSP. Could you please log a request in our [GitHub issues](https://github.com/Azure/AppConfiguration/issues) so that you can track the status? I'm going to close it here since it's not a docs issue.

#please-close

[2019-06-11 17:04] MicahMcKittrick-MSFT commented on #33104
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-06-11 17:05] MicahMcKittrick-MSFT commented on #33103
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-06-11 17:09] Grace-MacJones-MSFT commented on #33098
Hi @mitulsuthar, thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-06-11 17:10] pyoungberg commented on #29050
Your thing sounds unrelated to this specific issue - you should open a support request

[2019-06-11 17:13] sandeepraichura opened #33107 "Copying custom images"
There isn't any official documentation around copying images between regions and subscriptions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aaca4c82-d6f4-7867-d1c4-d1c19ca3c502
* Version Independent ID: 1949dddb-5278-5271-4934-d3ace2758bf1
* Content: [Tutorial - Create custom VM images with Azure PowerShell](https:/

[2019-06-11 17:14] Mike-Ubezzi-MSFT commented on #10180
Please make sure the [following](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-aad-authentication-configure#configure-your-client-computers) requirements are met on the host the connection is being attempted from.

[2019-06-11 17:18] Anand-Moghe commented on #32596
Closing the issue because developer subscription is working fine.

[2019-06-11 17:18] #32596 closed

[2019-06-11 17:19] FrankHu-MSFT commented on #32757
Hello, unfortunately we're still looking into this issue, if this is an extremely important issue and you need someone to look into this issue with you hands-on please file a support ticket under severity A and someone will reach out as soon as possible to help to resolve this issue.

In regards to a drop down menu for choosing which language and modifying form field text, I will look into this an

[2019-06-11 17:19] FrankHu-MSFT commented on #32531
Hello @ayprof were you able to test?

[2019-06-11 17:20] Anand-Moghe commented on #32630
Closing the issue as there is no out of the box support for Automated user provisioning for B2C

[2019-06-11 17:20] #32630 closed

[2019-06-11 17:22] Jerwangsample commented on #32952
I am saying it works on VS2017 now. But the same problem for VVS2019

[2019-06-11 17:22] roygara commented on #32935
@ScottAzure thanks for reaching out, we appreciate it! We will call out that it cannot be used in the portal (yet).

@Karishma-Tiwari-MSFT  FYI

[2019-06-11 17:28] Mike-Ubezzi-MSFT commented on #33006
Want to provide a link to all (4) built-in RBAC roles currently available with Cosmos DB ([link](https://docs.microsoft.com/en-us/azure/cosmos-db/role-based-access-control#built-in-roles)).

@hkusulja
As for Table Storage, there are the built-in RBAC roles available in the Access Control (IAM) blade and there are SAS (Shared Access Signature) tokens that can be used to grant the appropriate permis

[2019-06-11 17:28] rolyon commented on #31402
Hi @chadcarlton
Other customers are also interested in a powershell module. If you like, you can add your vote for this feature.
https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/34195696-powershell-enable-pim-role-assignment

[2019-06-11 17:42] MicahMcKittrick-MSFT commented on #33057
@TomArcherMsft I am seeing similar issues.

[code]

Appears some of the copy paste items need to be adjusted. Can you take a look?

[2019-06-11 17:43] Karishma-Tiwari-MSFT commented on #32935
Thanks @roygara :)

[2019-06-11 17:46] Karishma-Tiwari-MSFT commented on #28478
@zmottie  Thanks for sharing this information.

[2019-06-11 17:49] michaeldisalvo commented on #32800
@VikasPullagura-MSFT Hi, sorry about that.  Yes, we were updating to a custom image.  We did see the referenced forum post and feel that should be a documented caveat.

[2019-06-11 17:49] MarkSiteRankSystems commented on #27135
@Mike-Ubezzi-MSFT - Actually they are quite different in functionality if you try to use it in PowerBI (That is definitely a testing in production type solution that was provided in PowerBI. It really should be removed from PowerBI until it is ready.) I fought that for a while until I understood it was actually broken - it just looked like it was an option (It works for the regular Tables, but not

[2019-06-11 17:54] BrianTJackett commented on #32367
I believe the IConfigurationRoot.Bind() method is made available through the Microsoft.Extensions.Configuration.Binder NuGet package, not what is stated in the current document.

[2019-06-11 17:56] MicrosoftGuyJFlo commented on #33053
The overview topic mentioned and linked to at the beginning of the doc covers the licensing requirements for Azure AD Identity Protection.

[2019-06-11 17:58] MicrosoftGuyJFlo commented on #32701
From the PM

Account lockout for Active Directory is normally set in Minutes. Smart Lockout is set in seconds.

When we say “The Azure AD lockout duration in seconds is longer than the Active Directory reset account lockout counter after duration minutes” we mean that 30 seconds for AAD means 0.5 minutes on prem. So if you want your AAD counter to be higher than AD, then AAD would be 120 seconds (

[2019-06-11 18:00] roygara commented on #32935
This change has been merged and will be live by the end of the day.

Accordingly,

#please-close

[2019-06-11 18:01] Karishma-Tiwari-MSFT commented on #32935
@ScottAzure Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-06-11 18:01] #32935 closed

[2019-06-11 18:02] MicahMcKittrick-MSFT commented on #33071
@leen89757 based on your description, if you are upgarding to V2 you will need to make the appropriate redesigns.

@aljo-microsoft @vturecek to confirm or advise further.

[2019-06-11 18:04] MicahMcKittrick-MSFT commented on #33107
The solution to this problem is resolved with Shared Image Galleries

[2019-06-11 18:07] PramodValavala-MSFT commented on #32993
@andronachev We've noticed that you've created an [MSDN thread](https://social.msdn.microsoft.com/Forums/en-US/b0b18982-1dc4-4cd2-8e82-64cf6f29cac4/azure-eventgrid-function-subscriber-creating-a-webhook-subscription-for-all-event-types-no?forum=AzureFunctions) for this query as well.

Roman's response mentions a valid workaround for now and is indeed a bug in the portal. I've raised this internall

[2019-06-11 18:08] ayprof commented on #32531
I have a meeting scheduled for tomorrow to test, I will update this ticket
after the meeting.

On Tue, Jun 11, 2019, 12:20 PM Frank Hu <notifications@github.com> wrote:

[2019-06-11 18:09] yatish123 opened #33108 "More details required on IoT Hub Sharding"
Can you please add more content on Sharding, How it can be done with IoT Hub as part of one Solution only. limitation or considerations for implementing Sharding with IoT Hub?
This will be helping in terms of performance and Scaling understanding as a IoT Hub user.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45b76f3

[2019-06-11 18:13] vladvino commented on #32705
Both of these headers will be surpassed in the next update. I'll make a not to update the tutorial then.

[2019-06-11 18:16] spelluru commented on #30449
Dev has written two tutorials that I published recently.
https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-nodejs-how-to-use-queues-new-package

#please-close

[2019-06-11 18:32] jscaravilli commented on #32922
Based on a support request response, this appears to be an poorly documented change in functionality.

[2019-06-11 18:34] Karishma-Tiwari-MSFT commented on #31103
@AdamWorkAccount Did that help?

[2019-06-11 18:37] Karishma-Tiwari-MSFT commented on #32709
@iainfoulds Customer has provided feedback on your reply. Please let me know if there is any action required on this doc. Thanks :)

[2019-06-11 18:37] spelluru commented on #30448
#please-close

[2019-06-11 18:37] #30448 closed

[2019-06-11 18:42] tikicoder commented on #31200
@dr-ivan I had some time at lunch so I just submitted the change
https://github.com/MicrosoftDocs/azure-docs/compare/master...tikicoder:patch-1

I tried to base it off the change request I did with MySQL
https://docs.microsoft.com/en-us/azure/mysql/concepts-limits#storage-engine-support

[2019-06-11 18:44] livshitsa opened #33111 "suffix match filter for lifecycle rule"
in the issue from Jan 3,2019 'Are wildcards supported in the filter? #21571'
yzheng-msft commented on Jan 7
At GA, we will support prefix and suffix. However, there is no plan to support wildcards at this moment.
It is in GA, i do not see documentation about supporting suffix.  Is it supported?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-06-11 18:48] KingdomOfEnds commented on #33004
@NeilMacMullen - Thanks for the feedback - I will look into ways to clarify the introduction. Cheers!

[2019-06-11 18:50] axisc commented on #30449
#please-close

[2019-06-11 18:50] #30449 closed

[2019-06-11 19:01] Mike-Ubezzi-MSFT commented on #23045
@NayanShetty Please click-on and send your Subscription ID to [AzCommunity](mailto:azcommunity@microsoft.com) and I will get you the next steps. Thanks!

[2019-06-11 19:04] pyoungberg commented on #29050
any update?

[2019-06-11 19:20] scott-nordicwi opened #33113 "Python YAML file example missing indentation"
The Python YAML file should be indented from "steps:" to the bottom of the file:
jobs:
  - job: Build
    pool:
      vmImage: ubuntu-16.04
    steps:
    - task: UsePythonVersion@0
      displayName: "Setting python version to 3.6 as required by functions"
      inputs:
        versionSpec: '3.6'
        architecture: 'x64'
    - bash: |
        if [ -f extensions.csproj ]
        then

[2019-06-11 19:30] hrasheed-msft commented on #32631
@sbulgalski Please let us know if you have any further questions, or if the issue has been resolved for you. Thanks.

[2019-06-11 19:33] Mike-Ubezzi-MSFT commented on #33083
We are looking into this issue. Thank you for the detailed feedback.

[2019-06-11 19:34] ericjiang18 commented on #32882
@YutongTie-MSFT Thank you for tagging Andrew, he is a great problem solver! In addition, I can not upload my images to the custom vision and I've already made a github issue about it. Here is the link: https://github.com/Azure-Samples/cognitive-services-python-sdk-samples/issues/56
is it possible to take a look?

[2019-06-11 19:35] TiloGit opened #33115 "Issue: AutoShutdown from old agentpool not maintained."
got my aks-agentpool on auto-shutdown.
After upgrade the new created aks-agentpool VM didn't keep the settings. Is that expected or bug?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7010bd58-42b1-5c90-3253-05deed855be8
* Version Independent ID: c890efb2-cdaf-a3eb-d54f-0e7ccbd4314d
* Content: [Upgrade an Azure Kuberne

[2019-06-11 19:36] ericjiang18 commented on #33039
I've restarted my computer and everything worked fine somehow

[2019-06-11 19:36] #33039 closed

[2019-06-11 19:37] carteixeira opened #33116 "NSG outbound rule needs to include connectivity to AzureLoadBalancer for DNS resolution"
For customers using Azure DNS, NSG outbound rule needs to include connectivity to AzureLoadBalancer for DNS resolution.
If this is not in place, deployments will fail because it can't resolve DNS.
This should also be changed in the deployment phase when it is preparing/creating the NSG that goes in the subnet.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2019-06-11 19:38] Karishma-Tiwari-MSFT commented on #33115
Thanks for the question. We are currently investigating and will update you shortly.

[2019-06-11 19:38] Mike-Ubezzi-MSFT commented on #33101
@0GiS0 Thank you very much for the detailed feedback. We are investigating and will have an update for this shortly.

[2019-06-11 19:40] oberoirajat opened #33117 "Azure Firewall Threat Intelligence testing"
The Link provided by Microsoft regarding Azure Firewall threat Intelligence has an endpoint for Outbound testing **testmaliciousdomain.eastus.cloudapp.azure.com**
But the mentioned endpoint does not work.

Reference : https://docs.microsoft.com/en-us/azure/firewall/threat-intel

Can anyone suggest a way to test threat intelligence using Azure Firewall.

---
#### Document Details

⚠ *Do not edit th

[2019-06-11 19:42] ericjiang18 commented on #32882
@areddish

[2019-06-11 19:48] YutongTie-MSFT commented on #32858
@ShengChenMSFT Hi Sheng, I can not reproduce it. Could you please open a support ticket to figure it out? If you can not do that, I can help you to open one.

Since this is not a document issue, I will close it now. If you have any concern, we can discuss offline. Thank you.

[2019-06-11 19:48] #32858 closed

[2019-06-11 19:48] SadiqhAhmed-MSFT commented on #31809
@kasparks Thanks for updating the thread.

@keithcn Closing this issue for now. Feel free to reply to this thread if you've any concerns in this matter.

[2019-06-11 19:48] #31809 closed

[2019-06-11 19:53] josuvil opened #33118 "Universal C Runtime"
Hello, very nice article. I was wondering if you can clarify the Universal C Runtime requirements for Windows Server 2016. The article says that Universal C Runtime should be installed on all machines. However, going to the download page for this run time, it does not have it for Windows Server 2016. I believe Windows Server 2016 and greater already includes this runtime. If so, I would add a stat

[2019-06-11 20:09] FrankHu-MSFT commented on #33100
@SharePointing  Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-11 20:13] cocowalla opened #33119 "Clarification on concurrent receive requests"
&gt; Number of concurrent receive requests on a queue, topic, or subscription entity: 5,000

To clarify, is that per queue/topic, or across all queues/topics?

Does an AMQP client subscribing to a queue count as a "receive request", or is each message the subscribing AMQP client reads a "receive request"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2019-06-11 20:16] cocowalla opened #33120 "Clarification on maximum connections for a namespace"
&gt; Number of concurrent connections on a namespace
&gt; REST operations don't count toward concurrent TCP connections
&gt; AMQP: 5,000

This seems clear for AMQP connections, but what about AMQP over WebSockets, or MQTT, or MQTT over WebSockets?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17b26254-ce8c-76eb-c3e9-b

[2019-06-11 20:27] nageshsubramanian opened #33121 "Cosmos DB PreferedLocations attribute"
Why the documentation doesn't provide any content on how to use "PreferredLocations" attribute. If i set preferredlocations to a different region, does the cosmos trigger work off of the replicated collection? Please let me know

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa5bcb79-2af8-3b0e-c78c-0c89a2535e15
* Versi

[2019-06-11 20:28] mmacy commented on #31915
@SaurabhSharma-MSFT The updated article is now live - #please-close.

Cc: @amchew

[2019-06-11 20:28] #31915 closed

[2019-06-11 20:31] areddish commented on #32882
The coordinates are normalized coordinates based on the image dimensions.

Here's an example to convert from pixel based rectangle coordinates to normalized position and size:

Example image is 640x640 pixels. Say you have a rectangle in pixel coordinates of (15, 20) - (200, 300) . Where that is (left, top) - (right, bottom). To convert them we need the upper left, top and the width and height.
[c

[2019-06-11 20:35] cocowalla opened #33122 "Clarification on maximum number of queues per namespace"
[This page](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-azure-and-service-bus-queues-compared-contrasted) comparing storage queues and Service Bus says the maximum number of queues per namespace is **10,000**, but this page says:

&gt; Each subscription counts against the quota of 1,000 entities, that is, queues, topics, and subscriptions, per namespace

This directly

[2019-06-11 20:39] blueelvis commented on #33008
@saurabhsensharma - This issue got fixed automatically so not sure if a support ticket is indeed required now. We reset the permissions and applied them again and it started working magically.

Still, it would be best to add documentation about this.

[2019-06-11 20:40] StrongBishop commented on #30805
I was having this problem too.  When searching, tick the checkbox that says, "Include prerelease".  That worked for me.

[2019-06-11 20:43] TravisCragg-MSFT commented on #10823
@Adam-Smith-MSFT can you help?

[2019-06-11 20:43] diberry commented on #30805
@StrongBishop - thanks for adding this. Great tip.

[2019-06-11 20:45] TravisCragg-MSFT commented on #32938
@pipern This has been fixed, and the doc should be updated in 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-11 20:45] #32938 closed

[2019-06-11 20:59] ericjiang18 commented on #32882
@areddish Thanks! I will divide everything by 640 and it should work fine

[2019-06-11 20:59] #32893 closed

[2019-06-11 20:59] #32882 closed

[2019-06-11 21:05] SaurabhSharma-MSFT commented on #33008
@blueelvis Glad to hear that it is resolved.  Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.
@rwike77  Can you please add details around this error to the documentation.

[2019-06-11 21:07] yixue-at-symantec opened #33125 "Issuer validation failed. Issuer did not match: visit external storage account resources"
Hi, I am trying to visit an external user's storage resources by letting them login the AzureAD app, store their Bearer token to session, and send get request to https://&lt;external user's storage account&gt;.blob.core.windows.net/?comp=list.

But it always return error '&lt;?xml version="1.0" encoding="utf-8"?&gt;&lt;Error&gt;&lt;Code&gt;AuthenticationFailed&lt;/Code&gt;&lt;Message&gt;Server fai

[2019-06-11 21:09] wrosenuance commented on #32626
@sbhuttan, I found some documentation on https://docs.microsoft.com/en-us/azure/sql-database/sql-database-aad-authentication-configure#create-contained-database-users-in-your-database-mapped-to-azure-ad-identities that suggests that you can create an external user for a managed identity name directly, without adding it to a group.

The syntax was simply CREATE USER [managed-identity-name] FROM EXT

[2019-06-11 21:11] SaurabhSharma-MSFT commented on #33097
@hulltr1 Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-11 21:15] mmajis opened #33126 "Device Authorization Response does not contain 'verification_uri_complete'"
Hi!

The documentation page for OAuth2 Device Code Flow lists `verification_uri_complete` as one of the items returned in the device authorization response. That value does not seem to be returned at all. This would be great to have as it will simplify the login flow for a CLI application. The user wouldn't have to type in the user code in the browser.

Here's an example response for the device au

[2019-06-11 21:15] marknettle opened #33127 "Known issues should mention boolean is not supported."
Under "passing parameters", object and array aren't the only types not supported. Boolean also causes the runbook to fail, and should be mentioned under known issues.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 443146ec-fc40-657f-69fc-55c3b8ce3c8f
* Version Independent ID: 8c340541-5b88-b8a3-c547-791189d32c6b
* Cont

[2019-06-11 21:16] MiteshChauhan1 opened #33128 "Additional UK regions being shown - UK North and UK South 2,"
I don't think these are announced yet... or planned to be..?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d150ace-bd6d-8111-79b5-0ce7cb76a378
* Version Independent ID: 13a828ae-ae92-9ea7-5f37-5a69eeeb87b7
* Content: [Azure Shared Image Gallery](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/shared-i

[2019-06-11 21:18] SaurabhSharma-MSFT commented on #32859
Please post this as a feedback https://feedback.azure.com/forums/347535-azure-security-center. This will allow the community to upvote and for the product team to include into their plans. We also have the "Give Product Feedback" button in our documents now to take you directly to the appropriate feedback page.

[2019-06-11 21:19] kobulloc-MSFT commented on #33025
@scarolan We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-06-11 21:19] #33025 closed

[2019-06-11 21:26] #32771 closed

[2019-06-11 21:27] femsulu commented on #9900
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-06-11 21:27] #9900 closed

[2019-06-11 21:27] Kenneth-Abrams opened #33129 "Container Live Stream Authentication Issue"
Up until late last week the container live stream functionality has been working great on my 3 AKS clusters. I believe in the last week something has changed and is impacting the AAD authentication in the AKS Insights Blade for Containers leveraging container live stream. Whenever it tries to authenticate me, it just continuously spins, downloads an auth.html file, and never comes back.

I have up

[2019-06-11 21:28] #13547 closed

[2019-06-11 21:32] TravisCragg-MSFT commented on #33117
@oberoirajat Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-06-11 21:47] ptuton opened #33130 "Boot diagnostics not enabled by default"
When attempting to run the Get-AzVMBootDiagnosticsData command, the following error is returned: "Get-AzVMBootDiagnosticsData : no diagnostic profile enabled".

Moreover, when checking the boot diagnostics setting in the Portal, it shows, "Boot diagnostics isn't configured for this virtual machine. Click here to enable it."

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2019-06-11 21:53] eframsergio commented on #28317
Hi y'all! So is there an update regarding this issue? Like danielhcx said, the user info endpoint (https://graph.microsoft.com/oidc/userinfo) returns this {"sub":"AAAAAAAAAAAAAAAAAAAAA..."} instead of the full user info. I used a personal 'msn'  account for testing. How does one obtain a valid user info payload (similar to the gmail one: {"sub", "name", "given_name", "family_name", "picture", "ema

[2019-06-11 21:53] MicahMcKittrick-MSFT commented on #33130
@ptuton that is correct. By default it is no enabled as it does ensure an extra cost as you are adding more data into a storage account. In this doc we do call out to set it up if you did not already

https://docs.microsoft.com/en-us/azure/virtual-machines/windows/tutorial-monitoring#install-diagnostics-extension

Was there something specific you were looking to have added to changed in this doc?

[2019-06-11 21:54] MicahMcKittrick-MSFT commented on #33128
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-11 21:54] FrankHu-MSFT commented on #33118
@josuvil Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-11 21:56] FrankHu-MSFT commented on #33118
Per your feedback, Win10 and Windows Server 2016 do both in fact come with Universal CRT installed. Currently the author is looking into this and will update the docs with a note or something similar accordingly.

[2019-06-11 22:03] Adam-Smith-MSFT commented on #33125
@yixue-at-symantec Thanks for posting, Issuer validation failed. Issuer did not match.</AuthenticationErrorDetail></Error>'. most likely means that the possible token used is generated for a specific service different than the one you're trying to access. For example, tokens can be generated based on services: Blobs, or Files, or Queues, etc... if you use one that's for another service, you may re

[2019-06-11 22:06] Adam-Smith-MSFT commented on #33111
@livshitsa  Thanks for the post, @yzheng-msft  would you be able to address this issue ?

[2019-06-11 22:10] Adam-Smith-MSFT commented on #32972
@lesterw1 Thanks for the feedback, I'd highly recommend posting on the following Github repo so the product owner can follow up on it: https://github.com/microsoft/AzureStorageExplorer/issues
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-06-11 22:10] #32972 closed

[2019-06-11 22:23] ryanmajidi opened #33135 "SMO version 150 documentation is missing"
**Submitted to [site feedback](https://github.com/MicrosoftDocs/feedback/issues/1608) by @jeffshumphreys**

Is your feature request related to a problem? Please describe.
I am trying to use SMO scripter to extract table DDL from source tables. I am looking for documentation on SMO v 150, which is the minimum version required for connecting to Azure Managed instances

Describe the solution you'd li

[2019-06-11 22:56] Kraftwerx opened #33136 "Restricted address ranges apply to vNet address space"
The documentation above leads to the assumption that only the kubernetes service address space is restricted for those networks.  Deployments with those address spaces as the vNet will also fail with the same error while validation succeeds.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37ba0343-7e43-6e2e-e564-5d3a0f5

[2019-06-11 22:58] femsulu commented on #33073
@ddkserv Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-06-11 22:59] femsulu commented on #33067
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-06-11 23:00] femsulu commented on #33088
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-06-11 23:05] femsulu commented on #33094
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-06-11 23:06] femsulu commented on #33127
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-06-11 23:07] femsulu commented on #33129
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-06-11 23:10] stephenbell79 commented on #29050
I'm doing just this with a S9 without issue.

[2019-06-11 23:13] Alberto-Vega-MSFT commented on #33108
@yatish123 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-06-11 23:15] kgremban commented on #33070
@payalgaikwad42 did you complete all three steps in the [Register Microsoft key](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge-linux#register-microsoft-key-and-software-repository-feed) section, and then run `sudo apt-get update` before trying to install the moby engine or CLI? I get the errors that you're listing when I skip that section, or skip the apt-get update after

[2019-06-11 23:18] rachel-msft commented on #20758
This fix has been rolled out. Please comment if you run into any issues with this.

[2019-06-11 23:21] v-krghan commented on #32322
@ac2707  We are working on this issue, will update once the issue is resolved, thanks

[2019-06-11 23:23] #32239 closed

[2019-06-11 23:23] v-krghan commented on #32337
@ac2707 We are working on the issue with running device simulation microservices, will update once the issue is resolved, thanks

[2019-06-11 23:26] mykola-ivadolabs opened #33137 "Typo in the first snippet to get bearer token"
In the first CURL snippet resource name contains encoded trailing slash (resource=https%3A%2F%2Fvault.azure.net%2F).
The call would return the token but subsequent usage would return HTTP 401 when trying to get vault secret value.  Trailing slash should be removed.

curl 'http://169.254.169.254/metadata/identity/oauth2/token?api-version=2018-02-01&resource=https%3A%2F%2Fvault.azure.net%2F' -H Meta

[2019-06-11 23:27] stephenbell79 opened #33138 "Unenroll"
Once a user enable's phone sign-in within the MS Authenticator app, how can they unenroll? In our testing, we had a user enroll and then they needed to reset their phone. Accessing various O365 resources would still follow the password-less prompt even though their Authenticator app was no longer setup for it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2019-06-11 23:30] femsulu commented on #32723
@jordanmills I was unable to reproduce this issue with an EA sub but did some digging and noticed similar reports (including proposed solutions) [here](https://social.msdn.microsoft.com/Forums/en-US/0cb1c920-3ad2-499b-b5e6-038339223df0/subscription-type-is-not-permitted?forum=azurescripting). Please take a look at the referenced post and let me know if the issue persists.

[2019-06-11 23:30] femsulu commented on #32723
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-06-11 23:30] #32723 closed

[2019-06-11 23:31] antonihanus opened #33139 "Exampels need double quotes around the Workspace ID and primary key"
I found that in order for the examples to work, I had to use double quotes around the ID and key - setup.exe /qn NOAPM=1 ADD_OPINSIGHTS_WORKSPACE=1 OPINSIGHTS_WORKSPACE_AZURE_CLOUD_TYPE=1 OPINSIGHTS_WORKSPACE_ID=&lt;your workspace ID&gt; OPINSIGHTS_WORKSPACE_KEY=&lt;your workspace key&gt; AcceptEndUserLicenseAgreement=1

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2019-06-11 23:33] femsulu commented on #32743
thanks @DaleKoetke. Closing this issue now sicne we have a parallel investigation in progress. Please update the thread once investigation is complete.

[2019-06-11 23:33] #32743 closed

[2019-06-11 23:34] FrankHu-MSFT commented on #33099
@cap273  Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-12 00:01] Mike-Ubezzi-MSFT commented on #32774
@SharmainePopov Second PR has been completed to add an `Important` note to the [automated backups](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-automated-backups#how-long-are-backups-kept) How long are backups kept section.

[2019-06-12 00:02] femsulu commented on #32730
assigning to @dkamstra to review the doc-enhancement requests.

[2019-06-12 00:03] Mike-Ubezzi-MSFT commented on #32774
@bonova I am assigning this to you to review/modify/approve the pending PRs. @CarlRabeler for awareness.

https://github.com/MicrosoftDocs/azure-docs-pr/pull/79203
https://github.com/MicrosoftDocs/azure-docs-pr/pull/79356

[2019-06-12 00:14] sbugalski commented on #32631
@hrasheed-msft looks like the changes are not reflected in public documentation, as it still says in https://docs.microsoft.com/en-us/azure/hdinsight/hdinsight-restrict-outbound-traffic#configure-the-firewall-with-application-rules to whiteliest WindowsUpdate tag.

Is it required to whitelist _*:16800 for KMS Windows Activation_ ? It is whitelisted for NVA, but not for Azure Firewall.

[2019-06-12 00:15] kobulloc-MSFT commented on #33075
@spzSource This looks like it may be a Power BI online bug.  We are following up with the Power BI team and will keep you updated.

[2019-06-12 00:17] AngryVirginian opened #33141 "GenerateAnswer with context: {} return 'No good match found in KB.'"
When I call generateanswer with the following payload (similar to example above - https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/how-to/multiturn-conversation#json-request-to-return-initial-answer-and-follow-up-prompts)

{
    "question": "who are you",
    "context": {},
    "top": 5,
    "scoreThreshold": 50
}

QnA Maker returns No good match found in KB.  However, when I cha

[2019-06-12 00:21] satterly commented on #28317
For now, you can get most of the information in the `id_token` JWT returned from the /token endpoint.

[2019-06-12 00:30] jfalameda opened #33142 "Add disk and CPU requirements for running service fabric on Mac"
Hi,

Since running service fabric on docker is rather an intensive and resource consuming process, it would be nice to include disk and CPU requirements in order to avoid problems setting up a local cluster.

Kind Regards,
José.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36484192-c2fc-5239-9d7a-d6f3bd9176f2
* Versi

[2019-06-12 00:40] Lonnard opened #33143 "Multiple apps"
When using the powershell sript, it requires the AppID. What if the user is to be authorised for use of more than one application?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8e1cf65-2201-42ab-7513-de1833ad1c66
* Version Independent ID: e6e10378-90cf-6e9f-41ae-10510e35e012
* Content: [Grant B2B users access to your

[2019-06-12 00:41] razvansalajan opened #33144 "Log alert (custom log search) fails with action group within a resource group which contains '.'"
When creating an alert based on a custom log search:
![image](https://user-images.githubusercontent.com/6765070/59315574-21552f00-8c6f-11e9-9bf0-662b229e246a.png)

with an action group which belongs to a resource group which contains `.` the operation fails with:

![image](https://user-images.githubusercontent.com/6765070/59315730-d982d780-8c6f-11e9-8b7d-3349715c0189.png)

Notes: It works for metr

[2019-06-12 00:42] Mike-Ubezzi-MSFT commented on #25268
@MNF I have submitted a PR to add a NOTE to the linked doc. It will appear in the following [section](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-business-continuity#recover-a-database-to-another-region).

[2019-06-12 00:45] MicahMcKittrick-MSFT commented on #33142
@jfalameda thanks for the feedback. I am not sure if we have strict requirements around disk space and CPU requirements.

@suhuruli @aljo-microsoft Do either of you have any thoughts?

[2019-06-12 00:45] MicahMcKittrick-MSFT commented on #33137
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-12 00:46] MicahMcKittrick-MSFT commented on #33136
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-12 00:47] Mike-Ubezzi-MSFT commented on #25268
@anosov1960 I have submitted a PR for your review/edit/approval. @CarlRabeler for awareness.

[2019-06-12 00:52] ptuton commented on #33130
Earlier in the doc, in "[View boot diagnostics](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/tutorial-monitoring#view-boot-diagnostics)", it states:

This is to what I'm referring. Apologies for not making that clear... As such, I recommend the doc should be updated to remove the reference to boot diagnostics being enabled by default, then state how to enable boot diagnostics be

[2019-06-12 01:00] MicahMcKittrick-MSFT commented on #33130
@ptuton ahhh okay I see. They might have changed that default in a Portal update. I will confirm though and update the doc and you accordingly :)

[2019-06-12 01:10] edjez commented on #30805
Doh!
Thanks @StrongBishop

[2019-06-12 01:10] edjez commented on #30805
#please-close

[2019-06-12 01:13] BryanTrach-MSFT commented on #32492
@sannzay Apologies for the delay in getting back to you. Since this is a product support question and not directly about the docs themselves, can you please discuss your issue on [Stack Overflow](https://stackoverflow.com/questions/tagged/azure-machine-learning-service) or [MSDN](https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=MachineLearning)?

[2019-06-12 01:32] DashleenBhandari-MSFT commented on #32989
@klawrawkz , Please let me know if you were able to find the disconnect link for the VNET.

[2019-06-12 01:57] nssidhu opened #33145 "Set-AzSqlServer -AssignIdentity Resource not found........ Error"
I am getting the following error when trying to setup Azure Data Warehouse for Managed Identity.

Set-AzSqlServer : The Resource 'Microsoft.Sql/servers/XXXXXX.database.windows.net' under resource group 'dev' was not found.
At line:1 char:1

+ Set-AzSqlServer -ResourceGroupName "RGName" -ServerName "xxxx.d ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
+ CategoryInfo

[2019-06-12 02:01] loomlike opened #33146 "nvidia-device-plugin-ds.yaml file's nvidia plugin image version is still 1.0.0-beta"
nvidia-device-plugin-ds.yaml file example's nvidia plugin image version is still 1.0.0-beta:
[code]
shouldn't it be
`image: nvidia/k8s-device-plugin:1.11`
?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: deaac79e-bd40-2d95-7288-e15371726e91
* Version Independent ID: 9fd80908-20f1-7970-3bda-5a4283e4af21
* Content: [Use

[2019-06-12 02:20] Mike-Ubezzi-MSFT commented on #24801
I am following up on this to get a more solid response, which I believe is a doc edit. There is the following NOTE but there is nothing about the SP name being referenced as a key or other value.

[2019-06-12 03:04] DixitArora-MSFT commented on #32902
@itsashish-patel For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-12 03:04] #32902 closed

[2019-06-12 03:05] DixitArora-MSFT commented on #32905
@miai-dgsbs For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-12 03:05] #32905 closed

[2019-06-12 03:05] MikeChemi opened #33147 "Easy to miss section on what to do if the sample doesn't work"
The ASA for Android with Unity walkthrough has some troubleshooting tips inside one of the "Note" boxes. This makes it very easy to miss. I'd suggest pulling it out to its own "Troubleshooting" or "Known issues" section that can be directly hyperlinked to in order to help its discovery. I wasted a lot of time debugging an issue that this note section had already solved (specifically, my sample was

[2019-06-12 03:16] freakyfriday commented on #19489
Thanks for your reply @Mike-Ubezzi-MSFT I did create one (https://feedback.azure.com/forums/263030-azure-cosmos-db/suggestions/36124006-table-api-sort) which was marked as complete for the .NET library. I'm using NodeJS so I need it for the azure-storage javascript library or even a  REST api. I've created another one (https://feedback.azure.com/forums/263030-azure-cosmos-db/suggestions/37885435-t

[2019-06-12 03:19] Mike-Ubezzi-MSFT commented on #27135
@MarkSiteRankSystems Thank you for the feedback. There is a Uservoice entry for this ([link](https://feedback.azure.com/forums/263030-azure-cosmos-db/suggestions/35857048-support-table-api-queries-from-powerbi)) and this functionality appears to be unplanned. Additionally, the ODBC Driver for Cosmos DB supports the SQL API: Connecting to Azure Cosmos DB with the ODBC driver is currently supported

[2019-06-12 03:27] davislf2 opened #33148 "Confidence score calculation"
Hi, I think the confidence score is a handy feature for me. However, I couldn't find how you define the confidence score. Could you append any documentations or papers you refer to calculate your confidence scores? That would be a great help for me. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e973d43e-1b7d-b

[2019-06-12 03:35] ArPharazon commented on #33070
Any update on this issue?

I am also encountering issues installing moby-engine on 2 of 3 linux (ubuntu 16.04) boxes that i provisioned yesterday. They fail with the same error message:  "E: Unable to locate package moby-engine"

[2019-06-12 03:35] anuraj opened #33149 "For ASP.NET MVC?"
Can I use this package for ASP.NET MVC? Or similar package available for ASP.NET MVC from Microsoft?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d781aae8-fa5c-27a4-5d3d-64c60d008b4c
* Version Independent ID: ba2bfca5-06a9-abc8-77f2-fbcb0dcb74c3
* Content: [Quickstart for adding feature flags to ASP.NET Core](https:/

[2019-06-12 03:43] linruhui commented on #31879
@rothja Thank you for following up. I understand it will be much complicated and time consuming to add this information in the document. Is it possible that you share the temporary conclusion with me? Will this limitations be added in official document?

[2019-06-12 03:43] jeffrey008 opened #33150 "Screenshot mismatch in docs"
The screenshot in the Doc is different from what I see. Perhaps the screenshot is taken long time ago?

![image](https://user-images.githubusercontent.com/11265387/59322052-32517f00-8d07-11e9-974a-d8fa9aa245a0.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7e8d08b-7c18-5407-dc4f-fa7bbfe53fb3
* Version Independent

[2019-06-12 03:48] DixitArora-MSFT commented on #33122
@cocowalla Thank you for your feedback! We will review and update as appropriate.

[2019-06-12 03:49] PramodValavala-MSFT commented on #33121
@nageshsubramanian Thanks for the feedback! We will review and get back to you on this.

[2019-06-12 03:49] DixitArora-MSFT commented on #33119
@cocowalla Thank you for your feedback! We will review and update as appropriate.

[2019-06-12 03:49] DixitArora-MSFT commented on #33120
@cocowalla Thank you for your feedback! We will review and update as appropriate.

[2019-06-12 03:51] Mike-Ubezzi-MSFT commented on #32928
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-06-12 03:51] #32928 closed

[2019-06-12 03:54] DixitArora-MSFT commented on #33113
@scott-nordicwi Thank you for your feedback! We will review and update as appropriate.

[2019-06-12 04:09] hrasheed-msft commented on #32631
@sbugalski Ok, I see what you are referring to -- for ESP clusters that may have Windows VMs in the same VNET this may indeed be necessary. But it is configured by default for Azure Firewall -- customers who want to configure their own NVA must do it themselves. As mentioned earlier in the article, **"Azure Firewall is automatically configured to allow traffic for many of the common important scen

[2019-06-12 04:27] msvijayn commented on #33144
Kindly raise a support ticket via [Azure Support](https://azure.microsoft.com/support/options/) - for technical teams to evaluate and resolve. This forum is for questions/queries on the documentation only.

[2019-06-12 04:27] msvijayn commented on #33144
#please-close

[2019-06-12 04:31] ikflc commented on #33069
Hi Chirag,
 Do you mean block storage account name?
In the tutorial https://docs.microsoft.com/en-us/azure/azure-databricks/databricks-extract-load-sql-data-warehouse, "load data into Azure data warehouse", I specified the blob storage account information as follows:
blobStorage: String = Snoopyblob20190607.blob.core.windows.net
blobContainer: String = blobcontainer20190607
blobAccessKey: String =

[2019-06-12 04:32] ikflc commented on #33069
Caused by: shaded.databricks.org.apache.hadoop.fs.azure.AzureException: com.microsoft.azure.storage.StorageException: One of the request inputs is out of range.

[2019-06-12 04:36] ChiragMishra-MSFT commented on #33069
@ikflc This error happens when you use a Storage account name that either doesn't exist or has illegal characters. In your case, it's the latter. Capital letters are considered illegal in storage account name. To verify, you can use a different storage account with no capital letters in the name.

Hope this helps!

[2019-06-12 04:38] Mike-Ubezzi-MSFT commented on #32934
@davidbaxterbrowne I was looking though this doc for the specific text but could not find it. Is it possible that you could point this out? Thanks!

[2019-06-12 04:38] VikasPullagura-MSFT commented on #32800
@michaeldisalvo Thanks for the confirmation. As referenced in the forum, changing image from platform to custom is not supported.
Thanks for your feedback regarding documenting this. I will pass on this feedback and have the document author to comment on adding the information in the document.

[2019-06-12 04:40] ChiragMishra-MSFT commented on #33069
@ikflc I would also advise you to have a look at the [naming rules](https://docs.microsoft.com/en-us/rest/api/storageservices/naming-and-referencing-containers--blobs--and-metadata?ranMID=24542&ranEAID=je6NUbpObpQ&ranSiteID=je6NUbpObpQ-W.kjRrfVLFDuzrt0IZ4yKA&epi=je6NUbpObpQ-W.kjRrfVLFDuzrt0IZ4yKA&irgwc=1&OCID=AID681541_aff_7593_1243925&tduid=(ir__gdiozsjgq9kfrhisxmdf30kppu2xjxon9ebtyjse00)(7593)(1

[2019-06-12 04:44] VikasPullagura-MSFT commented on #32800
@mayanknayar Can you please add your comments for customer feedback on enhancing the documentation with information that updating the scale set Image ID from platform to custom image is not supported.

[2019-06-12 04:57] ram-msft commented on #33141
@AngryVirginian Thanks for the feedback. We are investigating the issue and will update you shortly.

[2019-06-12 05:01] VikasPullagura-MSFT commented on #32996
@OzBob Do you have any update on the issue?

[2019-06-12 05:02] ram-msft commented on #33148
@davislf2 Thanks for the feedback. We are investigating the issue and will update you shortly.

[2019-06-12 05:06] ikflc commented on #33069
Hi Chirag,
I found there is another blob image in the bobcontainer20190607 which I have to delete it first, before I can run the last command to load data into Azure DW. All the naming is already in lower case for Azure blob storage in my case.
It works afterward & thanks for your help.
Irene

[2019-06-12 05:06] #33069 closed

[2019-06-12 05:07] ManojReddy-MSFT commented on #33143
@Lonnard Thanks for reaching out to us. The script provided is just used to create the user objects in AD and does not involve authorizing the users to the application.

The AppID used in the script is used to get an access token and pull the details of the B2B users from Azure AD. Hope this helps.

[2019-06-12 05:08] MGWVc opened #33153 "Twitter"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-06-12 05:11] VikasPullagura-MSFT commented on #33146
@loomlike Thanks for the feedback. I have created a PR for updating the document.

[2019-06-12 05:27] BhargaviAnnadevara-MSFT commented on #33149
@anuraj Thanks for the question! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-06-12 05:28] algattik opened #33155 "Hard limit for file size"
Please document that Data Lake Storage Gen2 only supports files up to 5 TB in size. The text "hard limits for size are removed" is potentially misleading in this regard.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b36958c-2337-8140-760f-094c47bf754c
* Version Independent ID: ab8913f5-eb96-67b1-c0c4-348851585c71
* C

[2019-06-12 05:29] DashleenBhandari-MSFT commented on #33135
@ryanmajidi , Could you please provide the document you are referring to?

[2019-06-12 05:35] SnehaAgrawal-MSFT commented on #33044
@tdykstra Thanks for bringing this to our attention. I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-06-12 05:40] miai-dgsbs commented on #32905
Thank You for response

[2019-06-12 05:44] SumanthMarigowda-MSFT commented on #33155
@algattik Thanks for your question. We are checking on this and will respond to you soon.

[2019-06-12 05:50] DanijelMalik opened #33157 "Application Gateway: Integration with Key Vault does not work"
According [to this article](https://docs.microsoft.com/en-us/azure/application-gateway/configure-keyvault-ps) we should be able to integrate Application Gateway with Key Vault but it doesn't seem to work as advertised. Any attempt to add Key Vault certificate leads to AppGW ending in a Failed state with the following message:

`Long running operation failed with status 'Failed'. Additional Info:'P

[2019-06-12 05:52] KalyanChanumolu-MSFT commented on #33150
@jeffrey008 Thank you for the feedback.
The Azure portal UI is continuously evolving. The "Open Full Screen" text has now moved to the tool tip instead.

![image](https://user-images.githubusercontent.com/8835012/59326387-0da7d800-8d04-11e9-8499-bf5bf5d23afa.png)

Tagging @deborahc for info.

[2019-06-12 05:54] #33150 closed

[2019-06-12 05:56] nnamedieh commented on #32829
Hi @femsulu ,
do you have any updates? Besides this problem, I just faced another one that also affects the deployment name of the template service from the Azure portal. The problem I faced is that I am the "publisher" of the template and have shared it with my colleagues. Every time one of my colleagues deploys a VM from one of my templates, the deployment name contains my UPN, probably because

[2019-06-12 06:06] Pauline-Kowa commented on #32824
@RohitMungi-MSFT In the console, I get the following error : "Exception thrown: 'System.Net.Http.HttpRequestException' in mscorlib.dll"

[2019-06-12 06:20] SubhashVasarapu-MSFT commented on #33157
@DanijelMalik , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-06-12 06:28] #32662 closed

[2019-06-12 06:31] #32914 closed

[2019-06-12 06:37] mikkelhm commented on #33055
We saw the exact same issue on our Azure Function app - approx sunday 9th at 13:41 UTC our function app stopped reading the real values from keyvault, and just returned the `@Microsoft.Keyvault(....`-string services couldnt function.

The "fix" ended up being restarting the function app, and then it worked again.

[2019-06-12 06:45] SumanthMarigowda-MSFT commented on #32302
@KeiroKamioka0000 All tier changes between Hot, Cool, and Archive are immediate after a successful SetBlobTier call except for when a blob is tiered from Archive to Hot/Cool. We refer to this tier change as rehydration, and it can take several hours to complete. Lifecycle policies are not immediate and run about once a day. So any tier changes using lifecycle would depend on that.

[2019-06-12 06:46] ryandenkaat commented on #26654
@kennethferrese The client had the wrong LDAP attribute names in the claim rules.

[2019-06-12 06:47] SumanthMarigowda-MSFT commented on #32302
@KeiroKamioka0000 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-12 06:47] #32302 closed

[2019-06-12 06:48] kishan19 opened #33158 "Should a transcription be created for each file in blob?"
I see that this is to create Batch transcription for an Azure Blob Storage. So when we specify the recordings URL in the body of the Post request to create a new transcription, must we specify the SAS URL of the Blob Recording (like file.mp4) or is there a way to reference the entire container? I am asking because right now I am creating a batch transcription service with an ID for each file in th

[2019-06-12 06:49] SumanthMarigowda-MSFT commented on #32843
@tonio-lora Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-06-12 06:49] #32843 closed

[2019-06-12 06:50] SumanthMarigowda-MSFT commented on #32852
@radag87 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-12 06:50] #32852 closed

[2019-06-12 06:54] SumanthMarigowda-MSFT commented on #33092
@ktrueman Thanks for the feedback! Your feedback has been shared with the content owner for further review.
.

[2019-06-12 06:57] SumanthMarigowda-MSFT commented on #32912
@winstef Thanks for the feedback! I have assigned your feedback has been shared with the content owner for further review.

[2019-06-12 07:06] Abhra1992 commented on #33055
Restarting the app did not fix it for me, the app setting continues to remain the verbatim expression.
Just ported all app settings to Key Vault today itself, and the issue starts on the same day - can't believe my luck :)

[2019-06-12 07:13] Lonnard commented on #33143
Thanks, it is what I suspected but wanted to be sure so I can add to my design proposal.

[2019-06-12 07:15] SubhashVasarapu-MSFT commented on #33116
@carteixeira , By default there is a NSG outbound rule "AllVnetOutBound" which allows all traffic to flow out through VNET. If there are any specific restrictions on top of outbound rules then there might be an issue with the connectivity. Could you please provide the screenshot of your NSG outbound rule set?

[2019-06-12 07:16] angoyal-msft commented on #33145
@nssidhu As per the error it seems that the SqlServer is not present in the given resource group 'dev'. Could you please confirm that.

Also you can refer this Stackoverflow [thread](https://stackoverflow.com/questions/41364899/getting-error-while-exporting-azure-db-using-powershell). This might help you resolve your issue.

Please let us know if you still have concerns.

[2019-06-12 07:22] PanosPeriorellis commented on #33158
With the current API version you need to create a SAS Uri per file. We will soon release an update to allow you to point to containers.

From: Kishan <notifications@github.com>
Sent: 12 June 2019 08:49
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Panos Periorellis <Panos.Periorellis@microsoft.com>; Mention <mention@noreply.github.com>
Subject: [MicrosoftDocs/azure-docs] Should

[2019-06-12 07:36] aasis21 commented on #33003
Yes, Search(..) response does not have searchId but SearchWithHttpMessagesAsync( … )  have. I wanted to get the serachId using Search(). What I wanted is a synchronous API, for now I hve used  SearchWithHttpMessagesAsync with a synchronous wrapper.

[2019-06-12 07:50] MadhanRamachandran opened #33160 "Azure power shell Getting error for the command Get-AzureRmADServicePrincipal"
Hi ,

While running the below command in power shell getting below error

 Get-AzureRmADServicePrincipal

Get-AzureRmADServicePrincipal : Method not found:
'System.Collections.Generic.List`1<Microsoft.Azure.Graph.RBAC.Version1_6.ActiveDirectory.PSADServicePrincipal> Microsof
t.Azure.Graph.RBAC.Version1_6.ActiveDirectory.ActiveDirectoryClient.FilterServicePrincipals(Microsoft.Azure.Graph.RBAC.
Vers

[2019-06-12 08:17] PanosPeriorellis commented on #33158
Yes please specify a SAS Uri for each audio file. Then submit a transcription request per audio file.

[2019-06-12 08:20] AshokPeddakotla-MSFT commented on #27696
@mill5james Have you had a chance to see the above response? Please update if that helps.

[2019-06-12 08:33] AshokPeddakotla-MSFT commented on #33147
@MikeChemi Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-06-12 08:34] ddkserv opened #33161 "Proactive auto-healing"
I have used the Proactive auto-healing Mitigation rules on WebApps. However it hard to find proper documentation on the subject of the mitigation rule. The experience on none vital system is acceptable however I have a fear of a "false-start" in regards to vital system. I need to learn more on subject of "mitigation rule" in regards to the triggering information for Memory Limit. When will it trig

[2019-06-12 08:44] joesamraj opened #33162 "Getting Data From Array Of String"
Is it possible to get data from array of string.

example:

{
   "Username":"Joe",
   "Cities"["Delhi","Mumbai"]
}

I want to convert this to a table like below

Name | City
----------
Joe  | Delhi
Joe  | Mumbai

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62c719f3-a6d9-2cca-9042-eec0b3a393ab
* Version Independent ID

[2019-06-12 08:44] imeya commented on #23642
@brettsam , is this issue fixed?

[2019-06-12 09:01] wukun2015 opened #33163 "How to config Conversation Transcription to recognize Chinese?"
Hi,

I've set CTSRegion="eastasia" in conversation class but recognized text is still in english though i speaks chinese. It seems conversation does not derive languageRecognition i set as zh-cn in MainActivity.

Tried to set participant's en-us to zh-cn but it doesn't work either.

Anywhere else config i missed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2019-06-12 09:08] KalyanChanumolu-MSFT commented on #32799
We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-06-12 09:08] #32799 closed

[2019-06-12 09:12] ram-msft commented on #33163
@wukun2015 Thanks for the feedback. We are investigating the issue and will update you shortly.

[2019-06-12 09:41] jmrita opened #33164 "Support for Windows Server 2016 or 2019 Core ?"
Support for Windows Server 2016 or 2019 Core ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b71519d-1b94-c489-ce51-7210eb05b109
* Version Independent ID: fb6adce7-aa81-28e9-ad54-8c90dd86afa2
* Content: [Collect log data with Azure Log Analytics agent](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/log

[2019-06-12 10:05] algattik opened #33165 "az aks get-credentials"
It should be added to the page that "az aks get-credentials" should be run after creating the cluster and before running "helm init"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a917974-7672-e4f9-ab5c-4a5bfeeca27d
* Version Independent ID: be5c1091-0711-25c4-7555-e3534b3eba42
* Content: [Deploy containers with Helm

[2019-06-12 10:09] ericlimlk commented on #27791
I faced the same issue and what i found out was the tenant name must not have any special characters like (). Renamed the tenant name, removing the (), solved my problem. Hope this helps you as well.

[2019-06-12 10:37] DanoThom opened #33166 "Azure Dev Spaces + Istio"
Can we get a little info on how/if a service mesh like Istio can play alongside the new AZDS framework? Currently I can't get Istio and Azure Dev Spaces to work - I'm assuming due to both using controllers and sidecar injection etc.
This is quite a key point that needs to be addressed in regards to the adoption of Dev Spaces seeing as service meshes are already very popular.
Currently the internet

[2019-06-12 10:57] DashleenBhandari-MSFT commented on #33161
@ddkserv , Thanks for raising the issue. We will update you on Auto-Healing and memory limits after investigation.

[2019-06-12 11:16] PramodValavala-MSFT commented on #32847
@abhinav-jain09 Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-12 11:16] #32847 closed

[2019-06-12 11:32] hkusulja commented on #33006
@Mike-Ubezzi-MSFT - I am talking about using data from azure storage, which is possible using Azure AD app authentication (app id + secret) and to read data from blobs, files and queues., but not possible for azure table storage..
So question is about this feature.

Reference: https://docs.microsoft.com/en-us/azure/storage/common/storage-auth-aad-app

Kind regards

[2019-06-12 11:33] davidbaxterbrowne commented on #32934
This issue is with the MSI walkthrough doc, not the main SQL AAD Auth doc

https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-connect-msi

Which has the user add the MSI as the AAD admin initially.

[2019-06-12 11:45] DashleenBhandari-MSFT commented on #33153
@MGWVc , Could you please provide the document you are referring to?

[2019-06-12 11:46] AjayKumar-MSFT commented on #21629
@yychenca, Thank you for highlighting the statement from the doc here, it would benefit the users with a similar question.

[2019-06-12 11:48] pradeepkaja commented on #23045
@Mike-Ubezzi-MSFT I am also facing the same issue and also sent my Subscription ID to AzCommunity.
Please check and suggest me for further steps. Thanks!

[2019-06-12 12:05] banzaisi opened #33167 "Doesn't support Skype for Business and Teams"
Need to clarify what "support" means in the context of a Public Preview.
We know Microsoft has already made statements and performed demos involving Skype for Business and Teams working in WVD, so maybe this is a timing thing?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dbf7e52a-b2b1-0372-0e62-12f6733fc699
* Version

[2019-06-12 12:11] DashleenBhandari-MSFT commented on #33161
@ddkserv , It checks for the time duration that you would have mentioned while setting up the rule.
If you mentioned 5 mins then it will check for the complete 5 mins.

[2019-06-12 12:15] nzhul commented on #14596
@Karishma-Tiwari-MSFT Hello guys,
Do you plan to support this feature in near future ?
Our team really need this functionality. We need to set one specific azure function to have maxConcurrentCalls value = 1, but for all other functions in the function app we need to use the default value ( I believe it is 16 ).

Thanks!
Dido

[2019-06-12 12:17] nelsonavanade commented on #32681
Hi Robin,

Thanks for your reply.
Perhaps I am missing something, I thought setting up a routing query in the IoT hub for a device means all messages received by the hub are redirecting to a blob storage, regardless of the message content or the device sending the message?

Nelson

[2019-06-12 12:19] JimXu199545 opened #33168 "SAS token"
[Enter feedback here]
I use the script to set sas token definition :
$sctx = New-AzStorageContext -StorageAccountName $storageAccountName -StorageAccountKey Key1
$start = [System.DateTime]::Now.AddDays(-1)
$end = [System.DateTime]::Now.AddDays(1)
$at = New-AzStorageAccountSasToken -Service blob,file,Table,Queue -ResourceType Service,Container,Object -Permission "racwdlup" -Protocol HttpsOnly -Star

[2019-06-12 12:24] ddkserv commented on #33161
Hi Dashleen,
Where do I setup the mins for the Memory Limit? During the "Define Conditions" I can only enter the Private Bytes. See screenshot. Is there somewhere else where I can configure that?

![Memory Limit Config](https://user-images.githubusercontent.com/33146884/59350974-a4cd5980-8d1d-11e9-8af4-dfedb9f00049.png)

[2019-06-12 12:26] timtre commented on #32347
Okay so basically, there are no Google Play Services installed on my Roobo device. I downloaded the 17.4.55 (480dpi) Google Play Services APK for Android 5.0+ from apkmirror.com (https://www.apkmirror.com/apk/google-inc/google-play-services/google-play-services-17-4-55-release/) and installed it on the Roobo Microphone Array device. Now the Google Play Services Error disappeared and I get a differ

[2019-06-12 12:26] brentnewbury-work commented on #33122
I'd also like to know whether the Azure Service Bus queue limit is 1,000 or 10,000. Additionally, would this apply to other entities such as topics/subscriptions? This will have significant impact on our architecture.

[2019-06-12 12:37] allanmoller commented on #28508
same issue here!!

[2019-06-12 12:46] anhowe opened #33170 "Add SLA Note in introduction"
To set correct customer expectations, the documentation should state an SLA note that the status updates are potentially out of order, lossy, and may be delayed.  Please add a warning note to not use Azure Monitor REST API for visual UIs because they may not reflect the true state of the VM because the events are potentially delayed, lossy, and/or out of order.

---
#### Document Details

⚠ *Do no

[2019-06-12 12:48] montebhoover commented on #19311
Just wanted to ping this. Is there any plan to review this and determine if an update is needed?

[2019-06-12 13:13] dsmichal commented on #32799
Will this restriction go away anytime soon?

[2019-06-12 13:23] ChiragMishra-MSFT commented on #33162
@joesamraj Thanks for the question. We are looking into the issue and will update you shortly.

[2019-06-12 13:24] timtre opened #33171 "Issue with Google Play Services and beyond"
Okay so basically, there are no Google Play Services installed on my Roobo device. I downloaded the 17.4.55 (480dpi) Google Play Services APK for Android 5.0+ from apkmirror.com (https://www.apkmirror.com/apk/google-inc/google-play-services/google-play-services-17-4-55-release/) and installed it on the Roobo device. Now the Google Play Services error disappeared and I get a different error which i

[2019-06-12 13:32] shashishailaj commented on #33168
@JimXu199545 Thank you for your query. We will investigate and update further.

[2019-06-12 13:33] shashishailaj commented on #33126
@mmajis Thank you for your query. We will investigate and update further.

[2019-06-12 13:35] shashishailaj commented on #33138
@stephenbell79 Thank you for your query. We will investigate and update further.

[2019-06-12 13:44] vinuvt opened #33172 "Passing linked service parameter value"
I have a DataFactory pipeline that uses SQL server Linked service. The pipeline will be triggered by c# code. Instead of hardcoding Server name, DB Name and password on the linked server, at runtime I want to pass the value for the server Name as parameter value from the c# code.

`{
    "name": "EncryptedSqlServerLinkedService",
    "type": "Microsoft.DataFactory/factories/linkedservices",
    "p

[2019-06-12 14:01] kwaazaar commented on #11484
Same here. We now have to create FW rules for the complete AKS subnet. It sounds stupid to deploy a VM in the subnet just to pass-through traffic to the firewall.
In my case I use an Ingress which maps to an ExternalName Service which points to the on-premise service. So my Ingress Controller pods perform the outgoing connection.

[2019-06-12 14:02] hochas commented on #33094
It was quite obvious once I understood a bit more about the data and its structure. I looked in the insights for the function and what tables were available:

[code]

[2019-06-12 14:05] MGoedtel commented on #33129
@Kenneth-Abrams - The changes published yesterday for setting up AAD were to align with changes implemented by Azure AD to remove insecure use of wildcards in URIs.  Because your issue is not related to an actual doc issue, I suggest you open a support case to have it properly reviewed and triaged by one of our engineers.  #please-close

[2019-06-12 14:05] #33129 closed

[2019-06-12 14:06] jamesalroy commented on #29719
The destination of the inbound flow is the frontend IP address on the loopback interface in the VM. Each rule must produce a flow with a unique combination of destination IP address and destination port. By varying the destination IP address of the flow, port reuse is possible on the same VM. Your service is exposed to the load balancer by binding it to the frontend’s IP address and port of the re

[2019-06-12 14:13] cephalin commented on #31016
@oising It's been communicated to us explicitly that Windows container in App Service does not support Storage Files and has no plans to do so. It may be that you made it work

@apwestgarth FYI

[2019-06-12 14:20] jaymins93 commented on #32521
yes this is not we are looking for it is based on cli we need .net c# code sample from which we can access the api , this is cli and incorrect here .

[2019-06-12 14:25] mumian commented on #32829
Hi @nnamedieh,

Sorry for the late response.  The template library doesn't support updating deployment names.  The template library hasn't been updated for a while.  If you are looking for a way to store your templates, you might consider using Azure Storage account, GitHub, Azure Repo ....  There are some examples in the Resource Manager tutorials.  Template Library is used in this tutorial becau

[2019-06-12 14:25] #32829 closed

[2019-06-12 14:26] HeidiSteen commented on #33003
The C# quickstart uses synchronous APIs:  https://docs.microsoft.com/en-us/azure/search/search-query-dotnet    Does this help?

[2019-06-12 14:28] oising commented on #31016
@cephalin -- I find that hard to believe since the Azure Portal has explicit UI for the experience. It's not like I hacked this with the CLI or something :) It's there, it most definitely works in Windows Containers, but the UX /UI is very rough.

[2019-06-12 14:38] cephalin commented on #31016
So sorry. I got confused and I was thinking about Storage Blobs. We do support Storage Files. Sorry about that.

[2019-06-12 14:38] demongolem opened #33173 "Cannot delete subscription"
How do I delete a subscription?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 576cae7d-f9e6-72ef-c6ba-d5a4e359d70d
* Version Independent ID: af78deae-d409-6261-a817-b504965d1988
* Content: [Cancel your Azure subscription](https://docs.microsoft.com/en-us/azure/billing/billing-how-to-cancel-azure-subscription)
* Conten

[2019-06-12 14:39] oising commented on #31016
It's okay! So back to the point, whaddabout that UX? :)

[2019-06-12 14:39] cephalin commented on #31016
Your feedback is heard already as @apwestgarth is the PM. :)

[2019-06-12 14:42] oising commented on #31016
How about the powershell issue? I have deep ties with the powershell team, but I'm not sure if this really falls under their remit. Usually it would fall upon the PG (storage files? cloud shell? app service?) suffering the ailment to plead their case. Just to recap, the problem with powershell is that the filesystem provider's initialization routine for mounting the native o/s drives as powershell

[2019-06-12 14:44] djamaile commented on #19692
What is a APP type? I keep getting this error.

[2019-06-12 14:46] Sudharma opened #33174 "Http setting does not support seperate port for probe"
Currently there is no way to add additional port for the health probe in the http setting! We can only configure the backend port. So the suggestion could be to provide additional port for health probe either in http-setting or in the custom health probe! Currently this is a blocker.!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2019-06-12 14:48] craigktreasure commented on #33147
Thanks for the feedback. We'll consider this in our next round of updates to the docs.

[2019-06-12 14:50] glloyd2010f opened #33176 "Backend Authentication Certificate Rotation"
As this new feature progresses will it include support to update the backend authentication certificates as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c416d5e-5bfd-c641-e9bb-324dcb921acc
* Version Independent ID: 8739a044-d471-c432-3ed1-503539408ae8
* Content: [SSL termination with Azure Key Vault certificat

[2019-06-12 15:01] xamarin-enthusiast commented on #29268
@codevulture @barracud:  We have similar issue here.  Can you post instructions on how to change `application/vhd content-type` after upload?  We will give it a try to see if it resolves the problems.

This is so time-consuming only to see the process fail!

[2019-06-12 15:11] alkohli commented on #32929
#please-close Given that this questions is answered, this can be closed. Thanks!

[2019-06-12 15:11] #32929 closed

[2019-06-12 15:12] umeshbarapatre commented on #31345
Please let me know the next steps

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: ShashiShailaj-MSFT <notifications@github.com>
Sent: Thursday, May 16, 2019 11:01:09 PM
To: MicrosoftDocs/azure-docs
Cc: umeshbarapatre; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Contribute a new article for OAuth flows in Azure (#31345)

@umeshbarapatre<https://github.com/umes

[2019-06-12 15:13] femsulu commented on #33001
@anirudhcavale closing this issue for now but please update with timeline on when this will be supported.

[2019-06-12 15:13] #33001 closed

[2019-06-12 15:15] ericjiang18 opened #33177 "Image Batch Upload Failed"
Hi, I am using python API for custom vision(object detection).
However, I found that I cannnot upload images from my disk to the custom vision platform. Is there any way to fix this error:
https://github.com/Azure-Samples/cognitive-services-python-sdk-samples/issues/56

The code I am using is:
for i in range(0,len(tagged_images_with_regions),64):
batch = tagged_images_with_regions[i:i+64]
print(ba

[2019-06-12 15:15] mrphinche opened #33178 "ADLS behind a firewall"
Could you please provide an example how to enable access to a firewalled ADLS Gen2 from Data Factory v2? I’ve managed to enable Polybase connectivity to the storage account using Managed Identity but the same approach does not seem to work for Data Factory.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16b565fd-5303-c

[2019-06-12 15:18] georgewallace commented on #33127
@marknettle Thanks for bringing this to our attention.. I have a PR that will update the doc to mention boolean and refer the user back to the list of supported parameter types.. This will ensure that there is no confusion as to what parameters you can use.  Once that PR is merged, this issue will automatically close. Thanks again for pointing this out.

[2019-06-12 15:20] alkohli commented on #31065
#in-progress

[2019-06-12 15:21] #33127 closed

[2019-06-12 15:25] venerablebed commented on #26111
Regarding debugging the javascript for the simulated devices, I'm having difficulty viewing the log files associated with a simulation. I found some documentation regarding the logs in the developer reference guide on GitHub:
https://github.com/Azure/device-simulation-dotnet/wiki/Simulation-Service-Developer-Reference-Guide
but it doesn't mention anything about dealing with a VM Scale Set which is

[2019-06-12 15:29] femsulu commented on #33094
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-06-12 15:29] #33094 closed

[2019-06-12 15:30] TomaszOledzki commented on #19424
This thread was closed two times already but original question asked by author of this thread is not addressed: "It's not explained in the WAF docs what are the exact names used PowerShell/CLI for Request header name, Request cookie name and Request attribute name.

Please add these names in docs + description what they are:
RequestArgNames
RequestCookieNames
RequestHeaderNames

It took me ages to

[2019-06-12 15:31] ahmedelnably commented on #33113
I don't believe it needs to be indented
Here is a screen shot of an Azure Pipeline generated yaml snippet
![image](https://user-images.githubusercontent.com/7810433/59364778-46d44e00-8cec-11e9-8d1b-5826311ab8f8.png)

which matches the example in the doc

[2019-06-12 15:32] msivers commented on #31448
This was reported over a month ago and the documentation is still not updated. When using VS Code it's quite difficult to figure out what using statements are required... therefore having incomplete code samples is time-wasting and frustrating for anyone not using VS IDE!

[2019-06-12 15:36] scott-nordicwi commented on #33113
Have you tried running this YAML file within Pipelines? I had to make these edits as a direct result of a validation error within the Pipelines YAML editor, and I had copy/pasted the script exactly as it was on the website.

[2019-06-12 15:38] TomaszOledzki opened #33179 "List all names MatchVariable accept for New-AzApplicationGatewayFirewallExclusionConfig"
Please list all names MatchVariable parameter accepts for New-AzApplicationGatewayFirewallExclusionConfig. It's difficult to find what are the exact  names.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0c27cd7-15fd-7358-9740-734cfa6b641f
* Version Independent ID: 9cbc5678-98e1-3c21-df0a-81d8b7e21241
* Content: [Web

[2019-06-12 15:41] neualex opened #33180 "Typo on 'hostHeader' attribute on 'Defining ports for role instances' XML sample"
It should read 'hostHeader', not 'hostheader'.

&lt;Site name="MailSite" packageDir="MailSite"&gt;
    &lt;Bindings&gt;
      &lt;Binding name="mail" endpointName="HttpIn" hostheader="mail.mysite.cloudapp.net" /&gt;
    &lt;/Bindings&gt;
    &lt;VirtualDirectory name="artifacts" /&gt;
    &lt;VirtualApplication name="storageproxy"&gt;
      &lt;VirtualDirectory name="packages" packageDir="Sites\st

[2019-06-12 15:41] TomaszOledzki opened #33181 "Explain how to interpret"
Please explain what this means:
* Request attribute name (args):
	* Form multi-part data
	* XML
	* JSON
	* URL query args

Can I put Form multi-part data/XML/JSON/URL query args as a selector for "Request attribute name" or will exclusion rule "hit" argument names only of these or what?

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-06-12 15:42] VikasPullagura-MSFT commented on #32887
@zmottie Yes, I picked a wrong VM size initially.

[2019-06-12 15:45] samflynn opened #33182 "Confusion regarding predict"
Regarding this [page](https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-auto-train-forecast)

My dataset has 45 rows of training data, and 18 rows of test data.

When I use `fitted_model.predict(X_test)` I get an output of 28 values, where as the test set is actually 18.

    time_series_settings = {
               "time_column_name": "day_datetime",
               "grain_colu

[2019-06-12 15:45] #33146 closed

[2019-06-12 15:49] ghonyme opened #33183 "Set-RdsRoleAssignment is not a recognized comment"
Hello,
It seems that we can not use Set-RdsRoleAssignment at it's not recognized.
Also it does not appear in the documentation: https://docs.microsoft.com/en-us/powershell/module/windowsvirtualdesktop/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1566f30c-a163-2d05-5b5f-f9a5bf2d9891
* Version Independent ID: c4a6524e