[2021-06-03 07:50] AnuragSharma-MSFT commented on #76318
@jongio Please let us know if you are mentioning below section and link:

![image](https://user-images.githubusercontent.com/66360845/120608059-6717ed00-c46e-11eb-9839-eb215098592c.png)

[2021-06-03 08:17] sbagmeijer opened #76332 "gcad.servce = gcad.service"
gcad Linux service misses an "i":
gcad.servce = gcad.service

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42e15326-3ca0-09ce-97de-9764698a12f7
* Version Independent ID: cacf47f9-eac8-a21a-9b92-86fa71136286
* Content: [Overview of the Connected Machine agent - Azure Arc](https://docs.microsoft.com/en-us/azure/azure-ar

[2021-06-03 08:18] AnuragSharma-MSFT commented on #76277
@hbalaci Thanks for pointing out the issue. Really appreciate your efforts.

I have created a PR which could take few days to get approved and will then be live in this document. Please let us know if you have any other queries.

You can refer to correct command as below:

`az healthcareapis service create --resource-group myResourceGroup --resource-name nameoffhiraccount --kind fhir-r4 --location

[2021-06-03 08:31] Obiwan72 opened #76333 "The list with Gateway IP addresses and Gateway IP address ranges does not appear to be correct."
The list with Gateway IP addresses and Gateway IP address ranges does not appear to be correct.

For example for West Europe the Ip adresses are: 40.68.37.158, 104.40.168.105, 52.236.184.163

While the IP address ranges are: 104.40.169.32/29, 13.69.112.168/29, 52.236.184.32/29

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2021-06-03 08:33] KrishnaG-MSFT commented on #76332
@sbagmeijer Thanks for your comment! We will review and provide an update as appropriate.

[2021-06-03 08:38] Bouke commented on #62154
What's the status of this issue?

[2021-06-03 08:41] Vama97 opened #76334 "I am trying to run this tutorial, I could successfully issue credential using azure B2C tenant but when I am trying to issue using my own tenant i am facing some problem. The app is not able to access the vault i think. Do let me know if i need to make any more changes in the tenant other than the steps mentioned in the tutoria."
[Could not retrieve {"keyReference":"#sig_143443f3","type":"key","remoteKeyReference":"issuerSigningKeyIon-143443f3-4641-63e6-f9b4-6044bdd9345a/e7e56d07324b4effab090a2c5e76d7ca"}. Error: RestError: The policy requires the caller 'appid=27b0f364-66a5-428a-928f-e2763cbd78e6;oid=913fd730-e081-4ecb-aa5d-5a6c6ef8a5d8;iss=https://sts.windows.net/956e584f-0fea-4539-9768-31e2a0137343/' to use on-behalf-of

[2021-06-03 08:50] AjayKumar-MSFT commented on #76066
@fjanon, Apologies for the delay.

Location of your application code. For example, '/' represents the root of your app, while '/app' represents a directory called 'app'.

Api location: Location of your Azure Functions code. For example, **'/api'** represents a folder called 'api'.

Also, the function name that's called GetMessage but the API endpoint is still exposed via the /api/message route.
Ki

[2021-06-03 08:53] darrenpricedcww opened #76335 "Do we need any python imports for SqlDWException?"
Hi Team,

The error handling i'm getting from SqlDWException isn't very helpful, am I missing an import to allow the debugging to provide better info?

We are using python, do I need to import any python libraries for below to provide better info?

To help you debug errors, any exception thrown by code that is specific to the Azure Synapse connector is wrapped in an exception extending the SqlDWEx

[2021-06-03 08:53] savirod211 opened #76336 "Click on image to pop-out!"
The image is so small and barely readable. Provide the option to 'Click on image to pop-out!"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e017b080-4692-bb90-8fd4-8ce1f65f4b4c
* Version Independent ID: 980eb134-f777-4f09-db6a-a744038e061c
* Content: [End-to-end security in Azure](https://docs.microsoft.com/en-us/azur

[2021-06-03 09:00] fjanon commented on #76066
Hi,

Sorry, I was referring to the VS Code project, not the location of the
folder for the api function.

I have many VS Code projects open in VS Code at the same time, using "Add
folder to the workspace". Then when I create the function, it seems that
the Azure extension picks the first project opened in VS code to create the
api folder instead of asking which project the api should be added to.

[2021-06-03 09:03] sbrcloudeon opened #76338 "Three rules are actually four and examples of access are not the least privileged access"
From https://docs.microsoft.com/en-us/azure/governance/management-groups/manage#moving-management-groups-and-subscriptions ;

Three rules are actually four and examples of access are not the least privileged access, owner is not the least privileged access for this.

"When moving a management group or subscription to be a child of another management group, three rules need to be evaluated as true.

[2021-06-03 09:06] amaugosomto opened #76339 "clientSecret doesn't work"
When I register a new app, edit the index.js as directed, and run the sample code, I get the following error:
{"errorCode":"invalid_client","errorMessage":"7000215 - [2021-06-03 08:44:04Z]: AADSTS7000215: Invalid client secret is provided.\r\nTrace ID: 13691729-e9e3-4b0b-a984-1b0436a11500\r\nCorrelation ID: b3a22236-5e8e-4b82-a861-95a998b51a37\r\nTimestamp: 2021-06-03 08:44:04Z - Correlation ID: b

[2021-06-03 09:07] MixKlim opened #76340 "No alternative languages in Microsoft Translator v. 3.0 Detect JSON Response"
According to the [Microsoft Translator 3.0 documentation](https://docs.microsoft.com/en-us/azure/cognitive-services/translator/reference/v3-0-detect) the JSON Response body for the Detect endpoint should contain the following property:

- alternatives: An array of other possible languages. Each element of the array is another object with the same properties listed above: language, score, isTransla

[2021-06-03 09:14] rarandiv opened #76341 "Doc update request-It seems Conflict resolution policy can only be set on collection create and cannot be changed afterward or at runtime"
It seems Conflict resolution policy can only be set on collection create and cannot be changed afterward or at runtime, however, in the portal we have an option to change which eventually fails.

Can this mention in the documents in the note section may be?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08e29639-2cc4-e

[2021-06-03 09:15] KrishnaG-MSFT commented on #76129
@drzwang I have verified and updated the document as required. The change should reflect soon in some time i.e., in less than 24 hours. Thanks again!

[2021-06-03 09:15] #76129 closed

[2021-06-03 09:20] ShaneOsborne opened #76342 "Azure SQL Database Online Migrations is supported from SQL Server"
The current documentation shows that Azure SQL Database Online migrations is not supported from SQL Database.

This has been available for a couple of years (maybe in preview back then), if I look in history it was ticked but then removed with no obvious commit on changes.

Ref Page https://docs.microsoft.com/en-us/azure/dms/resource-scenario-status

Shane (shosborn)

---
#### Document Details

⚠

[2021-06-03 09:21] KrishnaG-MSFT commented on #76332
@sbagmeijer I have verified and updated the document as required. The change should reflect soon in the document i.e., in less than 24 hours. Thanks again!

[2021-06-03 09:21] #76332 closed

[2021-06-03 09:25] AshokPeddakotla-MSFT commented on #76067
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-06-03 09:25] #76067 closed

[2021-06-03 09:27] #76339 closed

[2021-06-03 09:43] AnuragSharma-MSFT commented on #76341
@rarandiv Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-06-03 10:05] BhargaviAnnadevara-MSFT commented on #76144
@derkoe Hope the above inputs help. Are there any further questions here?

[2021-06-03 10:08] sslepova opened #76343 "This document does not describe how to set up local account identity provider to pass access token"
Hi! This document contains a good example of how to set up an external provider claim and it works fine.
But in case of local account provider it does not seem that easy, because AAD claims provider could contain more than one technical profile, they could reference each other. Where exactly this claim should be specified?

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2021-06-03 10:21] PramodValavala-MSFT commented on #76327
@pksorensen Sorry for the confusion! Only Blob Storage is the supported [dead letter](https://docs.microsoft.com/en-us/azure/event-grid/delivery-and-retry#dead-letter-events) destination, and the sample is meant to highlight how that can be setup along **with** storage queue as a destination.

We will work up a PR to address this, which once merged should reflect in a couple of hours.

[2021-06-03 10:47] HarshitaSingh-MSFT commented on #76336
Hello @savirod211 , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-06-03 10:51] Svijay-msft commented on #76340
Thanks for the question! We are taking a look into this and will get back to you soon.

[2021-06-03 10:51] HarshitaSingh-MSFT commented on #76334
Hello @Vama97, thanks for the question! We are taking a look into this and will get back to you soon.

[2021-06-03 10:52] HarshitaSingh-MSFT commented on #76343
Hello @sslepova , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-06-03 10:53] boris-tarasov-maersk commented on #67755
maybe you have some updates on this?

[2021-06-03 11:16] Svijay-msft commented on #76329
Thanks for the question! We are taking a look into this and will get back to you soon.

[2021-06-03 11:16] anmor-smart-it opened #76347 "Typo in arm template"
There's redundant comma after last parameter "keyVersion"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e59d95ca-ce75-42f6-8f67-2b9dc54c2273
* Version Independent ID: bf42a451-d955-bbf9-42bb-747c098f78d5
* Content: [Enable customer-managed keys for managed services - Azure Databricks - Workspace](https://docs.microsof

[2021-06-03 11:16] VikasPullagura-MSFT commented on #76331
@VaclavK Thanks for pointing this out. I have updated the document with respective page links for M & Mv2 series, the changes will go live once the PR is approved.

[2021-06-03 11:20] VikasPullagura-MSFT commented on #76274
@JerrelAjoeb Any update on the issue?
Can you please share the requested information to assist you better.

[2021-06-03 11:21] mumian commented on #76284
@ericcsinger - thank you for your comments.  The paths must be referenced by using relative path.  So UNC path and http links are not supported. Spaces in Paths are supported.  I will revise the article.

#please-close

[2021-06-03 11:21] #76284 closed

[2021-06-03 11:21] VikasPullagura-MSFT commented on #76257
@vikancha-MSFT Thanks for fixing this.

[2021-06-03 11:21] #76257 closed

[2021-06-03 11:43] docklander opened #76348 "Azure Alert action group not sending email to Group type 'Distribution'?"
[Enter feedback here]

Hi I have setup Action Group with email setup
The email i am using is Group type 'Distribution' so the email will send to my DevOps team.
how ever it doesn't send email to DL checking the history it has been executed as below

Action group dfdev-devops-devops-support executed (Configured on alert rule)

but it doesn't send email to the DL
i'm not sure if this matters but thi

[2021-06-03 11:44] bstaley commented on #76222
ah yeah there is a php file. i guess i am a little confused how '' fails when it detects php but './' works. in the meantime ill remove that file and try it with empty and see if it works.

[2021-06-03 11:44] bstaley commented on #76222
oh and my yaml looks exactly like the one you shared

[2021-06-03 11:55] Paandaman commented on #59931
@tuomastik I managed to get it to work now for my use case, I posted an answer to the SO question: https://stackoverflow.com/a/67821005/4684795
Hope it can be of any help to you!

[2021-06-03 12:01] BhargaviAnnadevara-MSFT commented on #76272
@CertifiedWebMaster Any updates here?

[2021-06-03 12:07] angrymrt opened #76349 "Bastion access permissions"
The docs say that you only need Reader access to Bastion, the Private IP, the VM, and the VNET if peering is used. However, when I have given this access to a user, they are unable to start a Bastion session, because they get an error when they navigate to the Bastion blade of the VM: This region is not supported for Bastion public preview.
![image](https://user-images.githubusercontent.com/416845

[2021-06-03 12:09] Svijay-msft commented on #76333
Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-06-03 12:11] Svijay-msft commented on #76335
Thanks for the question! We are taking a look into this and will get back to you soon.

[2021-06-03 12:14] BhargaviAnnadevara-MSFT commented on #76321
@uteschj The BYOC option is actually visible upon selecting **Azure DevOps** in the **DevOps Starter Settings** as follows:

![image](https://user-images.githubusercontent.com/44050820/120642955-29798b00-c493-11eb-92fb-ad224404e87f.png)

You should then be able to configure your code repository and branch.

[2021-06-03 12:15] MayankBargali-MSFT commented on #75980
@nssidhu I have passed your feedback to the team and I do see similar [feedback for the salesforce connector](https://feedback.azure.com/forums/287593-logic-apps/suggestions/37717900-salesforce-connector-should-be-able-to-query-delet) to query the deleted records. You can always pass your feedback following [this ](https://docs.microsoft.com/en-us/connectors/custom-connectors/provide-feedback#azur

[2021-06-03 12:15] JonesMikael opened #76350 "Invalid and more direct link examples"
I just tried Direct Link approach and it works but the following URL does **NOT** work for me. I simply just get to a login screen instead of the consent experience.
Apps access panel for a verified domain: https://myapps.microsoft.com/<;verified domain>

I've tried:
https://myapps.microsoft.com/customerdomain.onmicrosoft.com
https://myapps.microsoft.com/customer.com
https://myapps.microsoft.com/5

[2021-06-03 12:19] JerrelAjoeb commented on #76274
Hi Vikas,

I will reply on Friday morning.
I need to phrase the feedback and request in a convenient way.

Kind regards,

Met vriendelijke groet,

Jerrel Ajoeb

________________________________
From: VikasPullagura-MSFT ***@***.***>
Sent: Thursday, June 3, 2021 1:21 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: JerrelAjoeb ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-doc

[2021-06-03 12:23] ShaikMaheer-MSFT commented on #76347
@anmor-smart-it - Thank you for feedback. Unfortunately, I could not find any redundant comma after last parameter "keyVersion". Could you please share more details on the typo in ARM templates by providing a screenshot. This would help to fix the typo asap.

[2021-06-03 12:28] anmor-smart-it commented on #76347
![image](https://user-images.githubusercontent.com/77841688/120644793-66885200-c480-11eb-931f-1bf5a370062a.png)

[2021-06-03 12:30] mumian commented on #75751
@benjamincburns - You will need to use an Azure CLI task to call Bicep CLI to transpile a Bicep file to an ARM template JSON, and then use AzureResourceManagerTemplateDeployment to deploy the JSON template.  See https://docs.microsoft.com/en-us/azure/azure-resource-manager/bicep/add-template-to-azure-pipelines#azure-cli-task

#please-close

[2021-06-03 12:30] #75751 closed

[2021-06-03 12:36] mumian commented on #76088
@bmedlin - there is an example in the outputs article - https://docs.microsoft.com/en-us/azure/azure-resource-manager/bicep/outputs?tabs=azure-powershell#example-template.  You shall be able to drill through the properties in VS code.  For example: output storageOutput object = defaultStorageAccount.properties

#please-close

[2021-06-03 12:36] #76088 closed

[2021-06-03 12:39] mumian commented on #74205
@pauljemmett - is this issue resolved?

[2021-06-03 12:40] rakesh08 opened #76352 "Documentation to create Azure Container isntance using image from customer container registry,"
ASK: Request to kindly provide explicit documentation for creating an ACI using images from custom container registry.

More details:
I believe it's possible to create an ACI using images from a custom container registry but there could be certain limitations, if possible, can we have an explicit document, which covers steps, limitations etc.

---
#### Document Details

⚠ *Do not edit this section

[2021-06-03 12:43] CertifiedWebMaster commented on #76272
Disregard.

[2021-06-03 13:04] MarkPryceMaherMSFT opened #76353 "Dynamic Resource Classes section needs a little update to reflect WLM"
[Enter feedback here]

The section on 'Dynamic resource classes' at the bottom is confusing some people (customers and internal people).
"If I use dynamic resource classes, I can only get 32 concurrent queries, so I need to use static resource classes"
is the take away, what is not clear, that this figure is based on a smallrc (3%)

But if you use workload management to can allocate resources of

[2021-06-03 13:05] #76321 closed

[2021-06-03 13:23] bgavrilMS commented on #76237
Yes, this is correct.

For example, have a look at Git Credential Manager integration with MSAL [here](https://github.com/microsoft/Git-Credential-Manager-Core/blob/d9d62c7ce9100c9b1866a5ca3ed390151ff6e7be/src/shared/Microsoft.Git.CredentialManager/Authentication/MicrosoftAuthentication.cs) - this is a public client using AcquireTokenSilent / AcquireTokenInteractive only.

[2021-06-03 13:30] jmwai opened #76354 "ModuleNotFoundError: No module named 'azure.profiles'"
When I run this example, I get this error. Not sure with azure lib I haven't installed.

[code]
These are the azure libraries I have installed

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc8d39c7-f55b-70e2-d99e-6fccb3b5ad34
* Version Independent ID: f6714300-fd05-f95b-6afe-182e250fd180
* Content: [Quickstart

[2021-06-03 13:32] Josverl opened #76355 "Quickstart should use yarn add rather than npm install"
[Enter feedback here]
as the react quickstart is using yarn, it is quite illogical for the quickstart to use npm
I suggest to change :
`npm install --save @azure/communication-react`
to
`yarn add @azure/communication-react `

or, to avoid annoying network connection warnings :
`yarn add @azure/communication-react --network-timeout 100000`

---
#### Document Details

⚠ *Do not edit this section. It

[2021-06-03 13:32] SwathiDhanwada-MSFT commented on #76348
@docklander Thanks for your comment. We will review the issue and get back to you shortly.

[2021-06-03 13:38] rakesh08 opened #76356 "[Freate Request] Create an ACI using custom container registry with NSG inbound rules."
Created an custom container registry in a Azure VM, which is configured with NSG rules to allow traffic from secure ip.

Creating an ACI using image from custom container registry is failing with error  504.

After allowing traffic in NSG's from all ip sources, was able to create ACI successfully.

This was confirmed to be an limitation in ACI and currently the only way is to whitelist the inbound

[2021-06-03 13:42] adneagu opened #76357 "Note on the documentation page"
Hi team,

 Can you please create a new note here stating that for streaming events to event hub you need the Manage permission regardless if you have Send And Listen already

Thanks,
Adrian

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4beb9f3f-546e-0a00-e33e-a9179c2f8cef
* Version Independent ID: 10af0cfd-6c61-37ce-d

[2021-06-03 13:47] BhargaviAnnadevara-MSFT commented on #76272
@CertifiedWebMaster We will now proceed to close this thread, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-06-03 13:47] #76272 closed

[2021-06-03 13:48] BhargaviAnnadevara-MSFT commented on #76321
@uteschj Glad I could help! :)

[2021-06-03 13:57] RyanHill-MSFT commented on #76111
We'll get those docs updated expressing Auth Settings V2 preview @FreddyMcRay.

[2021-06-03 14:06] RyanHill-MSFT commented on #75135
I just emailed you that, so glad that worked. I'll dig a little deeper into that and make sure the doc gets updated to point this v1/v2 differences out.

[2021-06-03 14:07] bmedlin commented on #76088
This is still not clear. The example you provided demonstrates accessing outputs from powershell? I'm working within Bicep. I want module A to output an object which I can then pass into Module B as an object parameter. Within Module B I would like to have intellisense to drill through the properties on on the object parameter. Is this possible?

[2021-06-03 14:07] SrijitBose-MSFT commented on #37604
@LordTep  Any update on the issue?
Just checking if you got a chance to check my previous reply.

[2021-06-03 14:13] pochiraju commented on #76342
hello,
We replaced the online migration for Azure SQL DB single database and elastic pools with high performant offline pipeline of migrations.  Most of our customers were able to use that method and yet able to complete migrations with in the limits of allowed downtimes.  If you need to further minimize downtime, please contact our customer support that we can recommend migration path that works

[2021-06-03 14:15] Mike-Crowley opened #76358 "extension attributes for devices?"
Your example shows that you can use extensionAttribute1 for a device filter, however according to this, that is not a property for devices. Its related to user objects. Can you clarify?

https://docs.microsoft.com/en-us/graph/api/resources/device?view=graph-rest-1.0#properties

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2021-06-03 14:19] Jandev opened #76359 "Check for the presence of a header - should be `not equal (!=)`"
I was checking to see if I can do a validation if a certain header exists in a request, and if it doesn't exist, add it via a rewrite rule.

The docs state I should do an `equal (=)` with a pattern `.+`.
However, this doesn't apply the action of setting the appropriate request header defined in my action.

After changing it to `not equal (!=)` my rule does fire.
![condition with != operator](https

[2021-06-03 14:41] JackCaster commented on #76159
OK, I solved it, BUT the way it works does not seem to be the intended behavior. The solution is to set the input name:
[code]
then, when I supply the dataset to a `PythonScriptStep`, I need to named the input, otherwise the steps are run again (despite no change in code/data)
[code]
If you look at the step graph, when you do not set `data.as_input(name=...)`, the name is auto-generated:
![image](

[2021-06-03 14:44] RyanHill-MSFT commented on #76066
@fjanon I advise creating new issue over on https://github.com/microsoft/vscode-azurestaticwebapps/issues/new/choose. I hear what you're saying, however, the walkthrough on this doc is a single app code workspace.

[2021-06-03 14:44] #76066 closed

[2021-06-03 14:47] eliottkespi opened #76360 "[Deploy on Azure] button using a template hosted on private website"
[Enter feedback here]
Hi,

I am trying to integrate a complex deployment via ARM template and using the 'deploy on azure' button.
After clicking on the button, I am redirected to the portal web page as expected but I can't pass the final validation before deploying.

The error message says: '{
'code': 'InvalidContentLink',
'message': 'Unable to download deployment content from 'https://44.240.190.

[2021-06-03 14:51] RonnieQuan opened #76361 "Private Link Service for Workload Behind Azure Application Gateway"
This is follow up to prior issue

https://github.com/MicrosoftDocs/azure-docs/issues/74851

Appreciate if you have any update on the public preview.
If it's still in private preview, we would like to participate. Please help us onboard.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb4b8145-27ae

[2021-06-03 15:06] rovin-ms opened #76362 "Instructions not showing results"
The last step is not showing the correct results. The device simulator is running and when querying the twin the following is shown:

{
  "result": [
    {
      "$dtId": "thermostat67",
      "$etag": "W/\"f74d5f7e-0296-4593-8e0e-a389eb618e99\"",
      "$metadata": {
        "$model": "dtmi:contosocom:DigitalTwins:Thermostat;1",
        "Temperature": {
          "lastUpdateTime": "2021-06-03T14:

[2021-06-03 15:11] GiftA-MSFT commented on #76338
@sbrcloudeon we'll review your feedback and get back to you shortly. Thanks.

[2021-06-03 15:12] Grace-MacJones-MSFT commented on #76355
Thanks for your feedback! We will review and update this doc shortly.

[2021-06-03 15:13] GiftA-MSFT commented on #76352
@rakesh08 can you please share the document you are referencing so we can assign to the appropriate team? Thanks.

[2021-06-03 15:13] ram-msft commented on #76177
@jesweare Thanks for the feedback. Raised a Pull request #https://github.com/MicrosoftDocs/azure-docs-pr/pull/160983 for the same.

[2021-06-03 15:14] ram-msft commented on #76177
@jesweare We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-06-03 15:14] #76177 closed

[2021-06-03 15:14] GiftA-MSFT commented on #76353
@MarkPryceMaherMSFT we'll review your feedback and get back to you shortly. Thanks.

[2021-06-03 15:17] GiftA-MSFT commented on #76356
@rakesh08 since this repo is for doc related issues, can you please share the doc you are referencing so we can assign to the appropriate team? Thanks.

[2021-06-03 15:19] Vaibhav-Agar commented on #74831
Hi @MonikaReddy-MSFT apologies for teh delay in reply. I am not the document author here. Did you find out who authored the script?

[2021-06-03 15:21] Vaibhav-Agar commented on #74831
@mimckitt can you help identify who owns the script here?

[2021-06-03 15:26] mbtools commented on #76303
Thanks for the comment. We are just starting out, so there's no history of users to deal with. The setup with a new directory works ok

[2021-06-03 15:34] Grace-MacJones-MSFT commented on #76078
We have assigned your feedback to the doc author to have them review it and update the doc as necessary.

[2021-06-03 15:40] mafis-hh opened #76364 "Synapse publish - Improve errorhandling for publishing spark notebooks"
Hello,
We are using Synapse with pipelines and apache spark notebooks.
After some changes we could not publish our changes via the "publish" button in Synapse. We resolved all issues shown by the validation (via the validate button). But the publish always failed.
The error message was not speaking and didn't tell us which object is causing the problem during the deployment.
It just said: "Inner e

[2021-06-03 15:43] SwathiDhanwada-MSFT commented on #76360
@eliottkespi Thanks for your comment. We will review the issue and get back to you shortly.

[2021-06-03 15:45] rakesh08 commented on #76352
Their is no specific doc for this use case, so created this documentation request.

Just as an reference, please refer below link. Please note, below link is regarding ACI with ACR but not from custom registry.

https://docs.microsoft.com/en-us/azure/container-instances/container-instances-using-azure-container-registry

[2021-06-03 15:47] rakesh08 commented on #76356
Their is no doc for this use case. Created below ticket for documentation. Kindly refer this.

https://github.com/MicrosoftDocs/azure-docs/issues/76352

[2021-06-03 15:51] david-frazee opened #76365 "Republic of Congo (CG) addition to document"
Documentation shows Democratic Republic of Congo (CD) but does not show Republic of Congo (CG), which are two separate countries in Africa. Support Request opened due to discrepancy observed in the documentation versus capabilities in the Portal.

Ask: Can we add Republic of Congo (CG) to list of countries Geo-filtered?

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2021-06-03 15:53] Nicholak-MS commented on #69083
The above mentioned GUID's have been added to the document under PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/160997

[2021-06-03 15:53] Nicholak-MS commented on #69083
Closing this request.

#please-close

[2021-06-03 15:53] #69083 closed

[2021-06-03 16:04] davedowns-condatis opened #76366 "OAuth2 bearer authentication public preview/GA mismatch."
There's a mismatch between this page and the [release notes](https://docs.microsoft.com/en-us/azure/active-directory-b2c/custom-policy-developer-notes) for custom policies.

The [OAuth2 bearer authentication](https://docs.microsoft.com/en-us/azure/active-directory-b2c/secure-rest-api?tabs=windows&pivots=b2c-custom-policy#oauth2-bearer-authentication) section of this page states that the feature is

[2021-06-03 16:18] dlepow commented on #75970
Added note to article stating:

"Currently, during registry deployment, a registry's user-assigned identity can only be configured to access an encryption key in a key vault that allows public access, not one configured with a Key Vault firewall.

To access a key vault protected with a Key Vault firewall, the registry must bypass the firewall using its system-managed identity. Currently these sett

[2021-06-03 16:18] #75970 closed

[2021-06-03 16:19] mike-urnun-msft commented on #76339
@amaugosomto Were you able to make it work?

[2021-06-03 16:29] ThomasWeiss commented on #73992
Thanks @ciarancolgan for this suggestion, it has been addressed with https://github.com/MicrosoftDocs/azure-docs-pr/pull/160916
#please-close

[2021-06-03 16:29] #73992 closed

[2021-06-03 16:54] RohitMungi-MSFT commented on #76326
@PatrickFarley The error could be replicated with newer projects which are exported with custom vision metadata version 1.2
For older 1.1 the snippets work as expected. Could you please review the same and update as required?

[2021-06-03 16:54] msfcolombo commented on #76328
Hi @dsfrederic. The error `No response from server` indicates an issue at the client or at the DNS server configured to be used by the client. It is often unrelated to Private Links.

Specifically to your case, it appears that the DNS server being used (`2a02:1800:100::42:1`) is failing. I can confirm that by specifying the DNS server address in the second parameter of `nslookup`:

[code]

If I us

[2021-06-03 16:56] KranthiPakala-MSFT commented on #76292
@VitalyMCT
The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2021-06-03 16:58] PramodValavala-MSFT commented on #76192
@to-ogawa  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this
matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-06-03 16:58] #76192 closed

[2021-06-03 16:59] #76327 closed

[2021-06-03 17:10] yeahsicy opened #76368 "The info causes confusion regarding deployment credentials for Azure App Service"
Below content seems to be mixing concepts together and causing confusion. Instead, anyone can access the filesystem via FTP with the valid FTP endpoint, username and password. It's not related to RBAC.
On the other hand, sufficient roles/permissions are needed if someone wants to look at the resources via portal, or deploy the app via other deployment tools such as DevOps.

https://docs.microsoft.

[2021-06-03 17:25] himanshusinha-msft commented on #76357
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-06-03 17:38] PramodValavala-MSFT commented on #75896
@take-4c Apologies for the delay on this one! I can confirm that the Premium Plan is currently not supported and there is a pending doc update for more details.

We have assigned this issue to the content author for further review and to update accordingly.

[2021-06-03 17:45] baanders commented on #76362
Hi @rovin-ms,

I see that your result has fewer fields than the sample return value given in the document.
I've just run through the article myself and verified that I see the same:
![image](https://user-images.githubusercontent.com/55546137/120688160-c545cf80-c470-11eb-921e-44b6d6c0b3ef.png)

I will update the document to reduce the amount of fields shown in the result. The work is being done in

[2021-06-03 17:45] baanders commented on #76362
I also see that your result is showing a value of 0.0 for the Temperature value. I'm not sure if this is also part of your question--but if your temperature is showing 0.0 and not updating on repeated queries to the Azure Digital Twins service, the most likely cause is missing a step somewhere in the article flow.

Since this flow has a lot of pieces, any one of them could be responsible for disru

[2021-06-03 17:47] ChaitanyaNaykodi-MSFT commented on #76145
Hello  @gastonmuijtjens & @kaylumah ,
 Currently Logic App (Standard) cannot be deployed on App Service Plan and App Service Environment. I have made a PR a which will add a note to documentation regarding the same.
We will now proceed to close this issue out. Please tag me in your response if there are any concerns. Thank you!

[2021-06-03 17:47] #76145 closed

[2021-06-03 17:49] RyanHill-MSFT commented on #75741
Agreed @giovannifl, I've created Azure/azure-cli#18348

[2021-06-03 17:52] baanders commented on #76362
#assign:baanders

[2021-06-03 17:56] MonikaReddy-MSFT commented on #75965
@Phydeauxman - Since we have not heard back from you we will now proceed to close this thread.
If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-06-03 17:56] #75965 closed

[2021-06-03 18:06] DerekHerman-MSFT commented on #75411
I would make sure that your access level is set to public for the container not just the blobs. This still works for me without issue.
[code]
I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this m

[2021-06-03 18:06] #75411 closed

[2021-06-03 18:09] WilkoSki commented on #42933
@tracy-hunt the code you specified works and is what is contained in the currently outdated Xamarin documentation.

But the point is though that FirebaseInstanceId.Instance.GetToken is all deprecated, FirebaseInstance, the Instance and GetToken method are all marked as deprecated.  Yes they currently work but at some point they won't work.

Being reliant upon overriding OnNewToken from Firebase.Me

[2021-06-03 18:10] RyanHill-MSFT commented on #76222
I would think it has to do with php executable and how it traverses directories... _maybe_.

[2021-06-03 18:10] #76222 closed

[2021-06-03 18:28] jcruiz commented on #76334
@Vama97 indeed it looks like your key vault was not configured properly. A couple of things to check:

1. double-check that your `keyreference` doesn't have the hash sign (#) in the configuration.
2. make sure you select only the `Principal` role when setting up the access policy for the app in the key vault. I deleted it and re-create it again.

[2021-06-03 18:37] TomArcherMsft commented on #45458
@tiholm This article has been updated. Apologies for not responding as we moved repos and I lost track of this GitHub Issue.

#please-close

[2021-06-03 18:37] #45458 closed

[2021-06-03 18:46] conniey opened #76371 ""Next steps" links are broken."
Most of the links in the next steps section are broken or not rendered.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09d58a24-f6af-d2b2-e8e0-b1126a6ad9fa
* Version Independent ID: 9c6be489-f9d8-9b66-09f8-18be4ec77f3b
* Content: [AMQP 1.0 in Azure Service Bus and Event Hubs protocol guide - Azure Service Bus](https://

[2021-06-03 18:49] rthorn17 commented on #76338
@sbrcloudeon - Thanks for the feedback.  The Management Group write and Role assignment write accesses on the subscription/child management group are not mutually exclusive.  The permission check needs to see both permission actions to allow a user to move a subscription/ or child management group.  Therefore, I made it three rules as I wanted to make it clear that on that child item (be it a MG o

[2021-06-03 18:54] spelluru commented on #76371
@conniey - Thanks for the feedback. The other two articles don't exist any more, so I cleaned up the section. Thanks.

[2021-06-03 19:12] AjayKumar-MSFT commented on #76242
@carolga,  In this doc section '[My node application is making excessive outbound calls](https://docs.microsoft.com/azure/app-service/app-service-web-nodejs-best-practices-and-troubleshoot-guide#my-node-application-is-making-excessive-outbound-calls)', the info flow stems from '_Scenarios and recommendations/troubleshooting_' topic. There is additional information on this matter under the section

[2021-06-03 19:24] DerekHerman-MSFT commented on #75918
@mbinnix I am working with the product team to address this and we will update the document as appropriate. We would like to take a deeper look into this specific issue with you. Please send an email with subject line “Attn:deherman” to AzCommunity[at]Microsoft[dot]com referencing this issue and the Azure subscription ID and region you are utilizing.

[2021-06-03 19:24] #75918 closed

[2021-06-03 19:39] AlexandraKemperMS commented on #67755
Hi @boris-tarasov-maersk, sorry for the delay. As I understand, you are looking to have a "default" value for a key and then in specific situations you would like to override this with a different value.
I think this can be solved by using labels rather than prefixes. These let you define different values for one key, so you would have the key CorporateColour with value xxxx and no label, as well

[2021-06-03 19:41] jordanmills opened #76374 "This page needs examples for powershell cmdlets too"
This page needs examples for powershell cmdlets too.  It only has legacy command line examples.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed59d472-ac33-5c03-dbb7-0e86e88c7dd8
* Version Independent ID: 69e1ad8c-2dd3-cc1b-2b31-996a5d866cc0
* Content: [Integrate Azure Container Registry with Azure Kubernetes Service

[2021-06-03 19:42] savjani commented on #75393
Thanks @soportedba for the feedback. We have fixed the documentation and it would be live in 24 hours.

[2021-06-03 19:52] MarileeTurscak-MSFT commented on #76350
@JonesMikael
Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-03 20:01] gregt1234 opened #76375 "ADF - more details for encrypted credentials on SHIR"
Would be helpful to have more details on this process
Does the powershell needs to run on the SHIR machine itself ? in the case of multi node, does it have to be run on each node ?
How to integrate this with an automated CI/CD process ?
Does this work with all types of linked services (need it for a file LS)

How does this work from a development workflow perspective (branching ?)

---
#### Docume

[2021-06-03 20:06] AjayKumar-MSFT commented on #76158
I totally understand the concern about package dependencies. To better assist you on this, are you referring to 'bundle install' step?
As I don't seem to hit the dependency issue/As far as the doc flow is concerned, hope the '[Prerequisites](https://docs.microsoft.com/azure/app-service/quickstart-ruby#prerequisites)' are taken care of.

If it's about Rails and Ruby version compatibility, please ch

[2021-06-03 20:21] boris-tarasov-maersk commented on #67755
hi @AlexandraKemperMS
Thank your for your reply but it is not the exact case you have described.
We already using labels to differentiate environments.

Let me give you a more detailed example that hopefully you can relate:

We have many, many microservices and we are using Cosmos DB as one of backends.
one of our default entries, lets say for dev env is:

Key: "Global:CosmosDb:Database" Value: "d

[2021-06-03 20:46] dereklegenzoff commented on #74745
This issue is now fixed.

[2021-06-03 20:47] Karishma-Tiwari-MSFT commented on #76374
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-06-03 20:51] MicrosoftGuyJFlo commented on #76358
The Graph API docs are slightly behind this preview feature. I will let the product group know since they own the API docs.

[2021-06-03 20:52] #76299 closed

[2021-06-03 20:52] MicrosoftGuyJFlo commented on #76358
#assign:@MicrosoftGuyJFlo

[2021-06-03 21:04] zielot commented on #52575
The method indicated by @davidobrien1985 writes a single JSON document with the entire contents of the list. That is not exactly what I had in mind. The method describe in the Python function cosmos-trigger-cosmodb-output-binding  in the Git project [azure-functions-python-samples](https://github.com/yokawasa/azure-functions-python-samples ) does the same.

[2021-06-03 21:04] byronbayer opened #76377 "Remove reference to AzureRm"
There is still a reference to `Import-Module AzureRM` when it is not needed when using Az under the following:
https://docs.microsoft.com/en-us/azure/databricks/administration-guide/account-settings/azure-diagnostic-logs#turn-on-logging-using-powershell

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa60fa41-f753-9c55-

[2021-06-03 21:05] theoslocrew opened #76378 "Manually created Java project Zip files will not work on Function App Zip deploy"
[Enter feedback here]

Since Java developers works with .Zip, .Jar file packages on daily basis. Some developers are thinking that, just by creating a Zip file manually (either using CMD, or from file explorer) from build folder and deploying the zip file using Zip deploy should work.

When zip file is created manually and deployed using Zip deploy, functions are not showing up in Portal.

Solutio

[2021-06-03 21:06] D-Moonesinghe opened #76379 "3 versions of AAD or 4?"
3 Types of licenses listed in this document doesn't match with what is said in this document?  So in that case which is right?

https://azure.microsoft.com/en-us/pricing/details/active-directory/

Or if we are talking about paid versions only then shouldn't it still mention the free version to prevent misunderstanding?

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2021-06-03 21:09] MarileeTurscak-MSFT commented on #76366
@davedowns-condatis
Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-03 21:13] PeterCLu commented on #76095
#please-close

[2021-06-03 21:13] #76095 closed

[2021-06-03 21:13] santhoshbomma9 opened #76380 "Can this be either public or private plan?"
`Transactable with a pricing plan greater than $0`
Can this be either public or private plan?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8991d383-e44c-e616-1086-50e7e7cb7f8c
* Version Independent ID: b3976eb1-535f-0388-14d8-0891e5736db6
* Content: [Azure Consumption Commitment enrollment - Azure Marketplace](https:

[2021-06-03 21:19] joman-xmargin opened #76381 "Need clarification on max NICs for DCsv2 VM sizes"
On the documentation for [DCsv2-series VMs](https://docs.microsoft.com/en-us/azure/virtual-machines/dcv2-series), the table states that the max NICs for each size is 2. Is this actually correct? The Azure CLI seems to return an error saying: "The number of network interfaces for virtual machine NAME exceeds the maximum allowed for the virtual machine size Standard_DC4s_v2. The number of network in

[2021-06-03 21:34] mumian commented on #75751
@benjamincburns - you shall be able to directly deploy a Bicep template from an Azure CLI task.

[2021-06-03 21:35] MarileeTurscak-MSFT commented on #76366
Thanks for calling this out. I made a pull request to remove the preview note: https://github.com/MicrosoftDocs/azure-docs-pr/pull/161104

@msimart please confirm

[2021-06-03 21:35] #76366 closed

[2021-06-03 21:36] mumian commented on #76088
@bmedlin, you can pass an object from one module to another module.  Currently Bicep doesn't validate the object, and the intellisense doesn't work in VS Code.  We have a backlog for this feature for the future releases.

[2021-06-03 21:43] carolga commented on #76242
@AjayKumar-MSFT Can we put a line in there about how this setting (maxsockets) can affect memory usage and why?  Does it improve overall performance? What does it do?  We need to explain to cx why this would impact performance and it would be helpful to have that in msdocs.

[2021-06-03 21:50] jason-ra opened #76382 "Is Page Layout Contract still preview?"
"Select a page layout" section has a note saying "This feature is in public preview". Is that still the case?

No sign of this note in the Javascript page: https://docs.microsoft.com/en-us/azure/active-directory-b2c/javascript-and-page-layout?pivots=b2c-custom-policy

And to be clear - what is in preview?

The ability to specify page layout versions? Versions that allow client-side Javascript? Or

[2021-06-03 21:52] Brijeet opened #76383 "App Service Certificate/KeyVault Integration issue"
the steps for configuring a new App Service Certificate with an Existing Azure Key Vault is missing an important disclaimer. It looks like this configuration only works with the Key Vault's access policies are configured with "Vault Access Policy" instead of the newer RBAC model.  the error message you receive when trying to configure this with the RBAC model is not very clear why it fails.

[Ente

[2021-06-03 21:58] MartinJaffer-MSFT commented on #76298
@rcabr I agree this is confusing.  I will assign this to the content owner, @xujxu , for comment and document clarification.

[2021-06-03 22:02] MarileeTurscak-MSFT commented on #76379
@D-Moonesinghe
Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-03 22:21] balothia commented on #44425
Do we have the resolution for this problem. I am stuck with exact same issue "The Common Name (CN) of the backend certificate does not match the host header of the probe" is my error when I'm using a wildcard certifcate on the backend host". I am sure I am using correct Root Certs on APP Gateway certificate store.

[2021-06-03 22:40] normesta commented on #75943
Thank you for finding that. I've addressed the typo. The change will appear live tomorrow morning. Thanks again!

[2021-06-03 22:40] normesta commented on #75943
#please-close

[2021-06-03 22:40] #75943 closed

[2021-06-03 22:57] MarileeTurscak-MSFT commented on #76379
Hi @D-Moonesinghe , I believe the reason the document only references the Azure AD Free, Azure AD Premium P1, and Azure AD Premium P2 licenses is because those are the Azure AD specific licenses. It's true that Azure Active Directory comes in four editions—Free, Office 365 apps, Premium P1, and Premium P2. The Office 365 apps (Microsoft 365 apps) license isn't really an Azure AD-specific license t

[2021-06-03 22:57] #76379 closed

[2021-06-03 23:00] sneakernuts opened #76386 "Inconsistent messaging regarding PTA agent install"
On this page https://docs.microsoft.com/en-us/azure/active-directory/hybrid/plan-migrate-adfs-pass-through-authentication

It states this" The first agent is always installed on the Azure AD Connect server itself. To learn about agent limitations and agent deployment options, see Azure AD pass-through authentication: Current limitations."

On the staged rollout page, it says: "Do not choose the Az

[2021-06-03 23:02] MarileeTurscak-MSFT commented on #76354
@jmwai
Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-03 23:09] Karishma-Tiwari-MSFT commented on #75767
@MGoedtel There has been an internal email discussion about update required in the templates. I have looped you in.

[2021-06-03 23:28] ggailey777 commented on #76241
It's usually higher friction for customers when we say "latest" rather than giving them a specific minimum build. Do we really want to force customers to update to the latest func.exe build before trying this tutorial? Is running on the latest func.exe just a general best practice we want to encourage?

[2021-06-03 23:40] scout208 commented on #66716
I had the same issue and using v1.9.0 of Azure Storage Explorer solved it for me. I am running with Windows containers.

[2021-06-03 23:52] paulbatum commented on #76241
This is a point in time thing for this particular tutorial, it relies on very new bits. Eventually this content could just point at 3.x

[2021-06-03 23:59] artisticcheese opened #76388 "Need examples how rules are evaluated and powershell snippets"
Not enough information about how to use GeoFiltering, namely
1. How to priority works in relevance to rules. What happens if you have allow rule and then deny rule for the same IPs
2. How properly create rulesets with powershell.
Example below.
I try to restrict all countries except US. Is it supposed to work since "Selector" is `null`
[code]

---
#### Document Details

⚠ *Do not edit this section

[2021-06-04 00:07] chadmcox opened #76389 "Connect-AdSyncDatabase"
this cmdlet is all wrong and doesnt exist in the newest version of azure ad connect

Connect-ADSyncToolsSqlDatabase

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b5773bc-bc7f-1bf1-ceae-6022b376f4c9
* Version Independent ID: f6c58d9b-e711-1720-5d13-03c553f6355a
* Content: [Azure AD Connect: Troubleshoot SQL connectivi

[2021-06-04 00:08] ChaitanyaNaykodi-MSFT commented on #74784
Hello @redtaped, apologies for the delay here, as mentioned [here](https://github.com/Azure/azure-functions-dotnet-worker/issues/437#issuecomment-833864729) by Fabio.

We will now proceed to close this issue out. Please tag me in your response if there are any additional concerns. Thank you!

[2021-06-04 00:08] #74784 closed

[2021-06-04 00:18] SaiKishor-MSFT commented on #76365
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2021-06-04 00:19] SaiKishor-MSFT commented on #76359
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-06-04 00:21] SaiKishor-MSFT commented on #76361
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-06-04 00:26] ChaitanyaNaykodi-MSFT commented on #76371
Thank you @spelluru,
@conniey, Thank you for providing the feedback. You will be able to see the proposed changes online soon. We will now proceed to close this issue out. Thank you!

[2021-06-04 00:26] #76371 closed

[2021-06-04 00:57] GitaraniSharma-MSFT commented on #76349
@angrymrt , thank you for your feedback. We'll review this and get back to you shortly!

[2021-06-04 01:05] Karishma-Tiwari-MSFT commented on #76381
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-06-04 01:23] GiftA-MSFT commented on #76364
@mafis-hh we'll review your feedback and get back to you shortly. Thanks.

[2021-06-04 01:29] GiftA-MSFT commented on #76356
@rakesh08 we'll review your feedback and get back to you shortly. Thanks.

[2021-06-04 01:32] GiftA-MSFT commented on #76352
@rakesh08 we'll review your feedback and get back to you shortly. Thanks.

[2021-06-04 01:32] #76230 closed

[2021-06-04 01:33] ShaikMaheer-MSFT commented on #76375
@gregt1234 - Thank you for providing feedback. We are taking a look into this and will get back to you soon.

[2021-06-04 01:38] ShaikMaheer-MSFT commented on #76377
@byronbayer - Thank you for sharing feedback. We are taking look in to this will get back to you soon

[2021-06-04 02:03] dcbrown16 opened #76390 "Stream Analytics vnet support"
Stream Analytics cluster supports vnet deployment, so ideally it should be listed here
https://docs.microsoft.com/en-us/azure/stream-analytics/cluster-overview

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2422f8ec-802e-7f92-c499-9181f3fe8d8b
* Version Independent ID: eb2b0e2c-8fb5-573c-ef0d-50073d053c3d
* Content: [V

[2021-06-04 02:08] dcbrown16 commented on #76390
I guess it's slightly nuanced - it looks like the SA cluster doesn't deploy directly into a customer-managed vnet, but it purports to have "Vnet support" through private endpoints in the cluster, so it should be discussed in this article if possible.

[2021-06-04 03:11] dcbrown16 commented on #72899
This document seems to be predicated on the Function having vnet integration enabled, but that isn't stated anywhere in the document. I think that is what is leading to the confusion here. For example, WEBSITE_VNET_ROUTE_ALL is a vnet integration-specific setting.
There should be a link and instructions to make sure you have configured vnet integration first before doing any of the stuff in this d

[2021-06-04 03:42] femsulu commented on #76380
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2021-06-04 04:38] MayankBargali-MSFT commented on #76157
@metamoof The document has the workflow when a file created (dropbox) --> **create file (file system)** --> send an email (outlook). Therefore it does talks about the different action/trigger. In this document for example talks about triggering your workflow using dropdown trigger and then talks about using file system actions.

Hope this clears things up. Feel free to get back to me if you have a

[2021-06-04 04:57] shashishailaj commented on #76382
@jason-ra Thank you for your query . We will investigate and update the thread.

[2021-06-04 04:58] balusmsft opened #76395 "Dedicated Gateway and Direct Connection"
[Enter feedback here]

Can both Dedicated Gateway connection string and Direct Connection be used at the same time for different purposes. ?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e99cfa38-05f5-d225-a540-73bc0e5f314e
* Version Independent ID: ed098969-0af1-152f-67b6-d9e1e4849766
* Content: [Azure Cosmos DB integ

[2021-06-04 04:59] shashishailaj commented on #76386
@sneakernuts Thank you for your query.  We will investigate and update the thread.

[2021-06-04 05:01] shashishailaj commented on #76389
@chadmcox Thank you for pointing that out . We will investigate and update the thread.

[2021-06-04 05:12] wangmiaowei opened #76396 "Question about the output of calibration_infor.exe"
[Enter feedback here]

Well I do not the understand the content of calibration_info.exe:"{"CalibrationInformation":{"Cameras":[{"Intrinsics":{"ModelParameterCount":14,"ModelParameters":[0.5014757513999939,0.49704870581626892,0.49203813076019287,0.49193161725997925,4.72473669052124,3.2092227935791016,0.17059645056724548,5.0558595657348633,4.775780200958252,0.88649415969848633,0,0,0.0001238211989402

[2021-06-04 05:15] AjayKumar-MSFT commented on #76368
@yeahsicy, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-06-04 05:16] SnehaAgrawal-MSFT commented on #76378
@theoslocrew Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-04 05:28] AnuragSharma-MSFT commented on #76395
@balusmsft Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-06-04 05:28] AnuragSharma-MSFT commented on #76277
@hbalaci We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-06-04 05:28] #76277 closed

[2021-06-04 05:29] AnuragSharma-MSFT commented on #76318
@jongio Awaiting your response on this.

[2021-06-04 05:29] HarshitaSingh-MSFT commented on #76328
@dsfrederic, does the suggestion by @msfcolombo help you?

[2021-06-04 05:32] HarshitaSingh-MSFT commented on #76334
@Vama97, does suggestion from @jcruiz help you?

[2021-06-04 05:32] HarshitaSingh-MSFT commented on #76336
Hello!
Just checking to see if you have had a chance to see the previous response. Kindly let us know if it answers your question and if you need further assistance on this issue.

[2021-06-04 05:41] AnuragSharma-MSFT commented on #76273
@y10e I have looked into both the classes and they look fine to me to be used. I am tagging content author to review and update the document as appropriate.

[2021-06-04 06:06] AjayKumar-MSFT commented on #76383
@Brijeet, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-06-04 06:21] GitaraniSharma-MSFT commented on #76126
@yinoa , please find the answers below:

1.	The maximum throughput of single tunnel is 1 Gbps?
Yes, although it is really an average based on the best case scenario – large packets, no application layer bottleneck, etc.

2.	Is this value still applying on newest Azure VPN Gateways?
Yes.

3.	If single tunnel throughput exceeds this value, will VPN Gateway drop packets?
Yes, although if the traffic

[2021-06-04 06:21] #76126 closed

[2021-06-04 06:28] chund opened #76397 "How to connection to Azure SQL with OLEDB (native ADO, not .NET)"
the documentation is unclear about OLEDB or native ADO client (not .NET).
is the named parameter "Authentication=Active Directory Integrated" also supported with native ADO and OLEDB?

https://docs.microsoft.com/en-us/azure/azure-sql/database/authentication-aad-configure?tabs=azure-powershell#active-directory-integrated-authentication-1

---
#### Document Details

⚠ *Do not edit this section. It i

[2021-06-04 06:39] martin-jaeger-maersk commented on #59982
Just stumbled across this as well - i have been spending last two days coming to this conclusion, and feel "relieved" that i'm not the only one having this problem. It doesn't really make any sense.
Is this a bug or by design?

[2021-06-04 06:44] magichappens89 commented on #59982
No it's by design I think. Microsoft seems to believe that if an application should be user assigned that the use should not be able to give consent to it / an administrator needs to give consent in the name of the whole organization. But well, in my case the world looks different. There is no way a global administrator is able to make such decision globally. Especially if you follow a "least priv

[2021-06-04 06:47] DL444 commented on #50164
Azure CDN currently does not support EC certificates, which is really a bummer. RSA certificates from Let's Encrypt work well, but it would be nice to have both in the future.

[2021-06-04 06:52] ShaikMaheer-MSFT commented on #76347
@anmor-smart-it  Thanks for pointing out the issue, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/databricks-pr/pull/656](https://github.com/MicrosoftDocs/databricks-pr/pull/656)

The changes should be live soon. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contributions.

@leif

[2021-06-04 06:55] anmor-smart-it commented on #76347
Thanks

[2021-06-04 06:59] ShaikMaheer-MSFT commented on #76377
@leifbro - Could you please validate and update as appropriate?

[2021-06-04 07:01] GitaraniSharma-MSFT commented on #76388
@artisticcheese , thank you for your feedback. We have assigned this to the content owner/author for review.

@vhorne , request you to check if we can add examples on how rules are evaluated and PowerShell snippets.

[2021-06-04 07:04] ShaikMaheer-MSFT commented on #76375
@lrtoyou1223 - Could you please validate and add more details for encrypted credentials on SHIR ?

[2021-06-04 07:04] VikasPullagura-MSFT commented on #76248
@nippyin This is currently under development. There is no timeline that can be shared for this release at this point.

You can follow the [announcements](https://azure.microsoft.com/en-us/updates/) to know once this is available for preview.

[2021-06-04 07:04] #76248 closed

[2021-06-04 07:46] Saurabh666666 opened #76398 "Data Flow activity in Azure Data Factory"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d60ca6a-bd64-a782-5c9a-4c2652a6d9a5
* Version Independent ID: 7239ee59-25fa-04cf-1423-f324fb429cdc
* Content: [Data Flow activity - Azure Data Factory](https://docs.microsoft.com/en-us/azure/data-factory/control-flow-execute-data-flow-activity)
* Con

[2021-06-04 09:01] BhargaviAnnadevara-MSFT commented on #76144
@derkoe We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-06-04 09:01] #76144 closed

[2021-06-04 09:07] AnuragSharma-MSFT commented on #76397
@chund Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-06-04 09:11] AjayKumar-MSFT commented on #76242
Thanks for the feedback! I'll follow-up further with the content author for their review on this.

[2021-06-04 09:14] GitaraniSharma-MSFT commented on #76390
@dcbrown16 , thank you for your feedback. We'll review this and get back to you shortly!

[2021-06-04 09:14] BhargaviAnnadevara-MSFT commented on #76278
@FizlarGlopis Are there any additional questions here?

[2021-06-04 09:21] hiyosh-msft commented on #74112
Hi @SnehaAgrawal-MSFT. Can you help getting this issue reviewed?
My customer wants to have it fixed.

[2021-06-04 09:22] weyCC81 commented on #76214
_UseCase 2_
Used Permission: microsoft.directory/groups/members/update | Update members of Security groups and Microsoft 365 groups, excluding role-
Action: Add Member to Group

_Testing_

Portal | Role | UseCase 1 (User) | UseCase 2 (Group)
-- | -- | -- | --
admin microsoft com | Intune Admin |  Successfull | N/A
aad portal azure com | Intune Admin |  **Unable to update user profile** | N/A
admin

[2021-06-04 09:36] #76241 closed

[2021-06-04 09:49] diegodct commented on #51661
Limitation link (https://docs.microsoft.com/en-us/azure/private-link/private-endpoint-overview#limitations) should mentions that Storage account ( General Purpose v1) does not support Private endpoint.

[2021-06-04 10:41] gianlucadardia opened #76399 "-supported configuration update"
[Enter feedback here]
supported configuration section need more details

is not really clear if:

"Azure Sql Managed Instance can be a subscriber of Azure Sql Managed instance publisher"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 86961aa1-9131-414d-ef79-2b6f0a132baa
* Version Independent ID: eee9536e-1b43-41eb-12c5

[2021-06-04 10:50] AgribotGit commented on #76326
I have the same problem. Please prioritise and communicate a fix to it. Thanks

[2021-06-04 10:54] pemsft opened #76400 "Category for Azure DevTest Labs service"
Thank you for the great documentation!

Azure DevTest Labs is not listed here as Foundational/Mainstream/Specialized service:
https://docs.microsoft.com/en-us/azure/availability-zones/az-overview#services-by-category

Would you be able to update the document with Azure DevTest Labs service?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2021-06-04 11:01] th3w4y opened #76401 "Reference to DinD might be incorrect / incomplete"
the document states:

* You can no longer access the docker engine, /var/run/docker.sock, or use Docker-in-Docker (DinD).

is above ^^^ a reference to the DinD as in the pattern of mounting the the /var/run/docker.sock?

or as in:

docker container with the docker dind tag. also referred as DinD
check docker:20.10.7-dind-rootless  https://github.com/docker-library/docker/blob/30d7b9bf7663c96fcd888

[2021-06-04 11:21] LoW0lf opened #76402 "Listing item number 2 missing in subchapter "Sign out""
In subchapter 2 "Sign out" there is a listing item number 2 missing. Is there any missing information at that point or just a display issue?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9627f2fa-6005-9c15-2824-03b7bcd4aae9
* Version Independent ID: 619e1eea-ed67-994b-7eee-469123e9b7ef
* Content: [Configure session be

[2021-06-04 11:30] ajishanv opened #76403 "Unauthorized error in Bing Search v7 API"
We are trying to implement Spell check in our bot with Luis .followed by [Correct misspelled words with Bing Resource](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-tutorial-bing-spellcheck)

when we enable it after the publish it is getting disabled and also when we hit the Bing Search v7 API, I get Unauthorized errors although I'm using the correct keys provided from the po

[2021-06-04 11:41] vande opened #76404 "Doc Enhancement: Storage Accounts Example"
Within the documentation under [Storage Accounts](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blobs-introduction#storage-accounts) section, the example provided is -

As storage account namespace needs to be unique, a better example would be -

For example, if your storage account is named _my**unique**storageaccount_, then the default endpoint for Blob storage is:
http://myunique

[2021-06-04 11:50] take-4c commented on #75896
@PramodValavala-MSFT
Thank you for the information. I'm waiting for the conclusion. Once you get it, please let me know it.

[2021-06-04 12:05] FizlarGlopis commented on #76278
Not yet, I haven't had time to return to it, as I've been put on other tasks.  I'll have to circle back later.  I will say there were a number of things in our code that didn't have a clear mapping to v11 in the migration docs, so this can be closed for now, but I will certainly be back

[2021-06-04 12:12] lawrencegripper opened #76406 "Deployment history deletions - subscription level clean-up"
The doc says:

Based on my experience in a subscription I'm not sure if this is true any more. I appear to observe subscription level deployments being auto deleted.

On a related note the [doc here is also outdated](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/azure-resource-manager/management/azure-subscription-service-limits.md) states the following:

which I no longer think

[2021-06-04 12:18] BhargaviAnnadevara-MSFT commented on #76278
@FizlarGlopis Sure, we will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-06-04 12:18] #76278 closed

[2021-06-04 12:20] BhargaviAnnadevara-MSFT commented on #76400
@pemsft Thanks for the feedback. We're investigating this and will get back to you shortly.

[2021-06-04 12:27] rovin-ms commented on #76362
Thanks for the feedback. I'm not sure what happen. I went through the process again and now it's showing the correct results.

{
  "result": [
    {
      "$dtId": "thermostat67",
      "$etag": "W/\"ab48caea-5c69-4b34-8645-f0513b9c831a\"",
      "$metadata": {
        "$model": "dtmi:contosocom:DigitalTwins:Thermostat;1",
        "Temperature": {
          "lastUpdateTime": "2021-06-04T12:23:47.7

[2021-06-04 12:27] #76362 closed

[2021-06-04 12:44] amanmcse commented on #74484
@gebbetta Single-label domains (SLDs) are not recommended for certain deployments and I am suspecting the problem you are facing is due to the use of SLD. Issues related to SLDs are only handled by Microsoft Customer Service and Support (CSS) per your Premier Support agreement. To investigate into the issue, please open a support request.

[Microsoft support for Single Label Domains](https://docs.

[2021-06-04 12:44] #74484 closed

[2021-06-04 12:46] weyCC81 commented on #76214
_UseCase 3_
Used Permission: ??
Action: Enable or Change Automatic replies

Portal | Role | UseCase 3 (Auto Reply)
-- | -- | --
admin.microsoft.com | Global Reader & User Admin |  You don't have permission to save changes.Learn more
admin.exchange.microsoft.com | Global Reader & User Admin |  Automatic replies update failed, Error: The requested resource could not be found.
admin.microsoft.com | U

[2021-06-04 13:11] shashishailaj commented on #76402
@LoW0lf Thank you for catching this. We will have this reviewed and update the thread.

[2021-06-04 13:13] shashishailaj commented on #76404
@vande Thank you for your suggestions . We will run it through the content team to have this reviewed .

[2021-06-04 13:14] JohnLBevan commented on #33632
Should it help others, we had the same issue / found that the error only occurred when connecting to the bastion via a proxy; in our case [IBOSS](https://www.iboss.com/).  If we had the proxy enabled (i.e. the IBSA Windows service running on the client) we'd get the error; the moment the service was stopped we'd be able to connect.

[2021-06-04 13:22] MonikaReddy-MSFT commented on #76401
@th3w4y - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-06-04 13:50] thomasvdb opened #76408 "Cosmos DB users and Azure AD RBAC"
We are trying to update our application to use a ManagedIdentity instead of a primary key but are still stumbling upon an issue.
We have the following code in our application:
[code]

The error we receiving is the following:

The documentation states the following:

I'm somewhat confused with the term "management operations". Is creating a user defined as a management operation?
Based on the permi

[2021-06-04 13:51] daspiker opened #76409 "DeviceTimeZon should be DeviceTimeZone"
DeviceTimeZon should be DeviceTimeZone

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34e19f18-b108-2702-eac9-86ed2f1b0e82
* Version Independent ID: b2d206e7-61cf-781b-1d8a-6ff4e6116233
* Content: [Common Event Format (CEF) key and CommonSecurityLog field mapping](https://docs.microsoft.com/en-us/azure/sentinel/cef-nam

[2021-06-04 14:14] mumian commented on #76406
@lawrencegripper - we are releasing these updates.  The documents will be updated when the updates have been rolling out to all the locations.  The threshold for automatic deletion will be changed as well.  It starts when you exceed 700 deployments, and ends when the deployment history is down to 600.

#please-close

[2021-06-04 14:27] Nicholak-MS commented on #66824
Hi David, I think I have addressed all remaining open issues from above. I would like to close this thread but before I do so are there any outstanding requests from your side that haven't been addressed? If not I will close this thread in the near future.
Thanks!

[2021-06-04 14:30] mrickly opened #76412 "Adding an external Azure AD group to the api management does not work as described"
"To add an external Azure AD group into APIM, you must first complete the previous section. Additionally, the application you registered must be granted access to the Microsoft Graph API with Directory.Read.All permission by following these steps."
Adding this permission from the Microsoft Graph API is not sufficient: when trying to load the list of groups, one gets an error message. What does wor

[2021-06-04 14:31] johnmc-tc commented on #51708
This really needs to be fixed - a restart should clear any cache being used!

[2021-06-04 14:36] rendlog opened #76413 "Typo"
[Enter feedback here]
In the following section you have a typo where you wrote "na,e" instead of "name"
https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-kafka-connect-debezium#test-change-data-capture

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1800bc69-1c54-7bb5-d127-0b5a94d3762d
* Version Independent I

[2021-06-04 14:36] mmckechney opened #76414 "Durable Task lifetime when using Netherite"
When you have Azure Storage as a backend, an orchestration lifetime is essentially unlimited. Since Netherite uses EventHubs as a backend, and the maximum lifetime for an EventHub event is 7 days for standard or 90 days for dedicated or premium, does that mean that an orchestration using Netherite also has a maximum of 7 or 90 days to complete?

---
#### Document Details

⚠ *Do not edit this secti

[2021-06-04 14:46] amjads1 commented on #75591
Per chat conversation with @MonikaReddy-MSFT , provided diagnostic extension owners contact to help and resolve the issue.

[2021-06-04 14:46] RyanHill-MSFT commented on #75472
We have escalated this issue to our product team for further investigation.

[2021-06-04 14:46] #75472 closed

[2021-06-04 14:50] seb-brack opened #76415 "Include SMB in-transit encryption in FAQ"
https://docs.microsoft.com/en-us/azure/azure-netapp-files/azure-netapp-files-faqs#security-faqs

**Can the network traffic between the Azure VM and the storage be encrypted?**

[...]
Data traffic between SMB3 clients and Azure NetApp Files volumes can be encrypted using the AES-CCM algorithm on SMB 3.0, and the AES-GCM algorithm on SMB 3.1.1 connections.

Data traffic between NFSv3 and Azure NetAp

[2021-06-04 15:08] cgillum commented on #76414
I don’t believe so. Events Hubs is only used for transient messaging data. The long term data is stored in Azure Storage page blobs and has no expiration.

@sebastianburckhardt, if you want to add anything.

[2021-06-04 15:14] MicrosoftGuyJFlo commented on #76358
#please-close

[2021-06-04 15:15] sebastianburckhardt commented on #76414
Yes, that is correct. While the function app is running, messages are quickly consumed from EventHubs, and the state of the TaskHub is permanently stored in the Azure Storage.

The only time expiration may come into play is if you stop a function app that is not idle  (i.e. there are messages in transit). In that case you should restart the app before the messages get deleted from EventHubs so the

[2021-06-04 15:26] RyanHill-MSFT commented on #76112
Closing due to creating Azure/azure-cli#18348.

[2021-06-04 15:26] #76112 closed

[2021-06-04 15:46] #76409 closed

[2021-06-04 15:51] Oury-MSFT commented on #76408
@thomasvdb Thank you for providing your feedback. We are looking into this and will get back shortly.

[2021-06-04 15:52] Oury-MSFT commented on #76399
@gianlucadardia Thank you for your feedback. I am reviewing this and will get back to you shortly. Thanks

[2021-06-04 16:00] lawrencegripper commented on #76406
@mumain great, thanks for confirming. Will close this one out.

[2021-06-04 16:00] #76406 closed

[2021-06-04 16:10] ChaitanyaNaykodi-MSFT commented on #76414
Hello @mmckechney, We hope the answers provided by Chris and Sebastian resolved your query. We will now proceed to close to this issue out. Thank you!

[2021-06-04 16:10] #76414 closed

[2021-06-04 16:15] pochiraju commented on #76342
The docs are already updated to reflect above message, do you see any places where we need to update further?

[2021-06-04 16:26] KranthiPakala-MSFT commented on #76335
@Svijay-msft
Thanks for reaching out. Since the issue is not a feedback on the doc in reference, I would recommend you to create a thread on the forums - [Microsoft Q&A ](https://docs.microsoft.com/en-us/answers/products/) or [stackoverflow](https://stackoverflow.com/).

Once you post your issue on forums, it will have visibility across the community which has a better suited audience for such typ

[2021-06-04 16:27] palma21 commented on #76401
@th3w4y  The former, you can still run any docker image, although I would not recommend container inside containers as well on the latter.

[2021-06-04 16:31] ChaitanyaNaykodi-MSFT commented on #76412
Hello @mrickly,
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

@miaojiang, could you please have a look at this issue. Thank you!

[2021-06-04 16:31] th3w4y commented on #76401
sure, granted your recomendation  is correct, but for assessing the impact of upgrading to  an AKS version based on 1.19 documenting this nuance is important,

otherwise from the current form that the documentation is written it  can be understood that all our  developers workflows would be impacted by the upgrade to a higher AKS version. and that people would need to migrate away from using docke

[2021-06-04 16:32] th3w4y commented on #76401
one could still choose to migrate away from that pattern but at a pace decoupled from the AKS version upgrade.

[2021-06-04 16:33] KrishnaG-MSFT commented on #76406
@mumian Thanks for the super quick response. :-1:

[2021-06-04 16:34] KranthiPakala-MSFT commented on #76364
Hi @mafis-hh Thanks much for the feedback. We will pass this feedback to the product team for further review.

Thanks for leveraging Azure docs feedback channel to raise this concern. This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements.

As your query is not directly related to document content, we request you to please share the same fe

[2021-06-04 16:34] himanshusinha-msft commented on #76413
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-06-04 16:42] DerekHerman-MSFT commented on #76151
@ulfaxelssoncab Apologies for the delayed response. The feature remains in preview. The best place to go for feature updates and GA information is. https://azure.microsoft.com/en-us/updates/

[2021-06-04 16:42] #76151 closed

[2021-06-04 16:44] SnehaAgrawal-MSFT commented on #76138
@OzBob Since, we didn't here from you. We will now proceed to close this thread. If there are further questions regarding this matter, please let us know.

[2021-06-04 16:44] #76138 closed

[2021-06-04 16:47] DerekHerman-MSFT commented on #76415
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-06-04 16:50] SnehaAgrawal-MSFT commented on #76150
@cveld Thanks again for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2021-06-04 16:52] Justinha commented on #74824
@teomonda I removed the sentence that mentioned tenant license so the topic won't mislead anyone into being non-compliance with licensing. Sorry for the confusion. I will work with our subject matter experts to better understand the intent behind the change and clarify further if needed.

[2021-06-04 16:55] AamerAshraf opened #76420 "Syntax error in the example for deployment using the Azure CLI"
The example given under Using the Azure CLI seems to have an issue with the syntax. The following worked for me:
az ml model deploy -m mymodel:1 -n myservice --ic inferenceconfig.json --dc deploymentconfig.json

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4407e6ae-0cf1-6e75-6dea-ba25c6c7d89c
* Version Independent ID:

[2021-06-04 17:05] b-juche commented on #76415
Thanks, @seb-brack.  I'm confirming with our SMEs about adding the suggested details.
If you are an ANF team member and would like to discuss this further, you can also reach out via email at juliec@netapp.com.

[2021-06-04 17:11] MartinJaffer-MSFT commented on #76209
Thank you for your feedback. This has been assigned to the content owner, @minhe-msft , and will be updated as appropriate.

[2021-06-04 17:11] GiftA-MSFT commented on #76396
@wangmiaowei we'll review your feedback and get back to you shortly. Thanks.

[2021-06-04 17:11] girishmk0602 opened #76421 "errors.."
CMake Error at CMakeLists.txt:14 (add_executable):
Cannot find source file:

parson.c
Tried extensions .c .C .c++ .cc .cpp .cxx .cu .m .M .mm .h .hh .h++ .hm
.hpp .hxx .in .txx

CMake Error at CMakeLists.txt:14 (add_executable):
No SOURCES given to target: app

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 773d535b-29c

[2021-06-04 17:12] GiftA-MSFT commented on #76403
@ajishanv we'll review your feedback and get back to you shortly. Thanks.

[2021-06-04 17:13] girishmk0602 commented on #76421
CMake Error at CMakeLists.txt:14 (add_executable):
  Cannot find source file:

    parson.c

  Tried extensions .c .C .c++ .cc .cpp .cxx .cu .m .M .mm .h .hh .h++ .hm
  .hpp .hxx .in .txx

CMake Error at CMakeLists.txt:14 (add_executable):
  No SOURCES given to target: app

[2021-06-04 17:13] GiftA-MSFT commented on #76420
@AamerAshraf we'll review your feedback and get back to you shortly. Thanks.

[2021-06-04 17:14] ThomasWeiss commented on #76408
@thomasvdb Yes, managing users is not covered by our data plane RBAC. May I ask what is exactly your use-case? If you're using our AAD-based RBAC, why do you need to create users in your database?

[2021-06-04 17:18] shonohs commented on #76326
Thanks for the feedback! This documents are for the "General (compact)" domain. For newer domains, please visit https://github.com/Azure-Samples/customvision-export-samples

There is a PR to fix the doc #76090

[2021-06-04 17:22] ronortloff commented on #76353
Thanks for the feedback Mark.  I added a note with pointers to the workload group concept and t-sql docs at the top of this article to point people there.  This is a legacy doc, so I would prefer not to make a massive amount of changes.  PR is 161191.

[2021-06-04 17:22] ronortloff commented on #76353
#please-close

[2021-06-04 17:22] #76353 closed

[2021-06-04 17:28] johnayoub opened #76422 "OWASP 3.2 Rule"
When configuring the Rule directly in application gateway it shows OWASP 3.2 but when setting it via the a WAF policy it shows as OWASP 3.2 (preview). Any reason of the inconsistency? Is the rule still in preview?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 079888f6-188c-1bb9-0516-bd52ad0f287e
* Version Independent

[2021-06-04 17:40] Marusyk opened #76423 "Run the Linux Emulator on Windows OS"
Is there any information how to run the Linux Emulator on Windows OS?

I'm interested in how to install the certificate for HTTPS as described here:
https://stackoverflow.com/questions/67839374/issue-with-https-connection-to-cosmosdb-emulator-in-linux-docker-container#67839374

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2021-06-04 17:48] StefArroyo commented on #76423
Hi! Can you try using the Docker for Windows installation documentation? I think this will better fit your use case: https://docs.microsoft.com/en-us/azure/cosmos-db/local-emulator-on-docker-windows?tabs=cli

[2021-06-04 17:57] trevorbye commented on #75322
@mjg123 thanks for pointing this out, I added a specific example for a `build.gradle` file to this doc, including your snippet and also explicitly showing pointing to a custom repo. Not sure why it's not in maven central, I've brought that up to the dev team but I don't expect it to change

#please-close

[2021-06-04 17:58] #75322 closed

[2021-06-04 18:08] jmprieur opened #76424 "authentication-flows-app-scenarios#scenarios-and-supported-authentication-flows incorrectly says that Device code flow works with B2C"
[Enter feedback here]
https://docs.microsoft.com/en-us/azure/active-directory/develop/authentication-flows-app-scenarios#scenarios-and-supported-authentication-flows mentions that you can sign-in to B2C with Device code flow. We just learnt that this wasn't the case. The corresponding line needs to be fixed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2021-06-04 18:23] tamram commented on #76404
@vande - Thanks for your feedback.

The doc clearly states:

A storage account provides a unique namespace in Azure for your data. Every object that you store in Azure Storage has an address that includes your unique account name.

I am not going to change the sample storage account name. The user will get an error at creation time if they try to create a storage account with a name that is not un

[2021-06-04 18:23] #76404 closed

[2021-06-04 18:35] rmc515 opened #76425 "Option for backup"
With "AzCopy copy" you can run the --backup flag to copy files even if you did not have access to them. Will backup be available for the "AzCopy sync" command as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c02ef818-5e53-4582-43a8-22f9f2b2872d
* Version Independent ID: b8f45994-4ac2-f124-c613-b82316203b9f
* Con

[2021-06-04 18:45] MicrosoftGuyJFlo commented on #31993
As mentioned in the article

This provisioning integration will stop working with the release of NetSuite's Spring 2021 update due to a change to the NetSuite APIs that are used by Microsoft to provision users into NetSuite. This update will reach NetSuite customers between February and April of 2021. As a result of this, the provisioning functionality of the NetSuite application in the Azure Acti

[2021-06-04 18:45] #31993 closed

[2021-06-04 18:50] MicrosoftGuyJFlo commented on #59609
Email out to PG

[2021-06-04 18:56] MicrosoftGuyJFlo commented on #63212
This is the correct URL if you can do wildcards. Step 1 is clear about this information. #please-close

[2021-06-04 18:56] #63212 closed

[2021-06-04 18:58] Marusyk commented on #76423
Hi @StefArroyo
It doesn't work with `type=bind`

[2021-06-04 19:02] jrudlin commented on #76117
Hi @GitaraniSharma-MSFT ,

Thanks so much for your help so far. The issue with routing back on-prem was duo to the VPN Gateway splitting the pool prefix entered into 2 subnets because of Active/Active, so this no longer matched the routes advertised on prem.

I'm still unable to connect from the VPN pool/Gateway in the UK South region to VMs in the UK West region. The custom route to the UK West V

[2021-06-04 19:06] schlesingera commented on #75296
@Grace-MacJones-MSFT @karimyousfi any solution? I hope it because we need it for a non-profit project...

[2021-06-04 19:29] JasonWHowell commented on #72886
It was added recently.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/160714

https://docs.microsoft.com/en-us/azure/purview/purview-connector-overview#purview-data-sources
![image](https://user-images.githubusercontent.com/5067358/120853371-5def5480-c530-11eb-9622-810450d18d38.png)

Thanks!
#please-close

[2021-06-04 19:29] #72886 closed

[2021-06-04 19:37] TravisCragg-MSFT commented on #76259
@bigkangji Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-06-04 19:39] SatishBoddu-MSFT commented on #76421
Hello @girishmk0602 Thanks for the feedback.

Could you please let us know what was the step you were trying to execute in the document section?

is it the below section?
[Configure the sample application](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-raspberry-pi-kit-c-get-started#configure-the-sample-application)
![image](https://user-images.githubusercontent.com/62923178/120854333-d60a

[2021-06-04 19:41] SaiKishor-MSFT commented on #76422
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2021-06-04 19:41] ChaitanyaNaykodi-MSFT commented on #76256
Hello @jesperkristensen, currently using managed identity to specify WEBSITE_CONTENTAZUREFILECONNECTIONSTRING is not possible. The current recommendation is to use [Use Key Vault references](https://docs.microsoft.com/en-us/azure/app-service/app-service-key-vault-references) instead. Please note that the value would have to be set after the access policy is defined, which in turn depends on the si

[2021-06-04 19:41] #76256 closed

[2021-06-04 19:55] marcerozba opened #76429 "Source and Subcategory null"
Hello,

When I select 10 rows of the dataframe the columns subcategory and source return null.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 355fba0e-958e-f572-18c2-892c91d20b13
* Version Independent ID: 7fe76247-c969-2068-2c3c-bf327fbbe39e
* Content: [Quickstart - Run a Spark job on Azure Databricks Workspace using A

[2021-06-04 19:57] amkondi commented on #43248
hello Team,

i am facing the same issue, is there any solution to bypasse the probleme ?

error message : New-AzureRmResourceGroupDeployment : 18:06:06 - Error: Code=LinuxDynamicWorkersNotAllowedInResourceGroup; Message=Linux dynamic workers are not available in resource
group XXXX  Use this link to learn more http://go.microsoft.com/fwlink/?LinkId=825764.

[2021-06-04 20:19] AjayKumar-MSFT commented on #76158
@BrazilianJoe,  Just checking in to see if you have had a chance to see the previous response. Hope the above clarifies. Kindly let us know if you need further assistance on this topic.

[2021-06-04 20:22] MicrosoftGuyJFlo commented on #67319
This looks like it has been resolved with the following [change](https://github.com/MicrosoftDocs/azure-docs/commit/bab177f784a6ce6a7d0c774e86635970365d5007#diff-f404d3d2b082f823c6eaa5aa11b6d1c91cb2cfb1c1095b24eaab4ff8fd16bed6) #please-close

[2021-06-04 20:22] #67319 closed

[2021-06-04 20:26] MicrosoftGuyJFlo commented on #68096
App passwords are still a thing if you are not using Conditional Access and have apps that use legacy authentication. #please-close

[2021-06-04 20:26] #68096 closed

[2021-06-04 20:31] MicrosoftGuyJFlo commented on #69025
#please-close

[2021-06-04 20:31] #69025 closed

[2021-06-04 20:43] tomdan-MSFT opened #76431 "Azure DNS record search broken for large data sets"
The search functionality does not work correctly when managing large resource data sets in a DNS zone.  I've gotten feedback from some clients who have 200+ resource records and the search function will not return all the records unless they expand the entire data set before searching.  This is defiantly not expected and we should improve the search functionality to find all resource records witho

[2021-06-04 20:46] DerekHerman-MSFT commented on #76425
@rmc515 I'd recommend posting your question in https://github.com/Azure/azure-storage-azcopy/issues since it's not directly related to the documentation. Our AzCopy team will followup with your request . We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-06-04 20:46] #76425 closed

[2021-06-04 20:46] SrijitBose-MSFT commented on #37604
@LordTep Any update on the issue?
Just checking if you got a chance to check my previous reply.

[2021-06-04 20:54] Nuray201313 opened #76432 "Hhh"
Ng
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c25827f-08b6-03e4-2997-d39ae6a2b6f4
* Version Independent ID: 72b44c07-fd14-7335-de1a-e6e84d17e929
* Content: [Deployment considerations for Azure Active Directory self-service password reset](https://docs.microsoft.com/en-us/azure/active-director

[2021-06-04 20:59] #69714 closed

[2021-06-04 21:04] MarileeTurscak-MSFT commented on #76432
@Nuray201313 thanks for reaching out! If you have specific feedback related to this document, please create a new issue describing exactly how you would like this article to improve.

[2021-06-04 21:04] #76432 closed

[2021-06-04 21:07] MarileeTurscak-MSFT commented on #70935
Closing since this has had no activity for over two months,

[2021-06-04 21:07] #70935 closed

[2021-06-04 21:15] MicrosoftGuyJFlo commented on #76358
#please-close

[2021-06-04 21:15] #76358 closed

[2021-06-04 21:20] #76413 closed

[2021-06-04 21:24] #76314 closed

[2021-06-04 21:47] KranthiPakala-MSFT commented on #76429
@marcerozba
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-06-04 22:02] Karishma-Tiwari-MSFT commented on #76356
Thanks very much for your feedback on this!
Please post this as a product feedback [here](https://feedback.azure.com/forums/914020-azure-kubernetes-service-aks). This will allow the community to up-vote and for the product team to include into their plans. We also have the "Give Product Feedback" button in our documents now to take you directly to the appropriate feedback page.

Thanks for bringin

[2021-06-04 22:02] #76356 closed

[2021-06-04 22:12] rlrossiter opened #76434 "Incorrect PS for registration status checking"
The cmdlet given for checking the provider feature registration is missing an argument

[code]

should be

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b0666c81-8f4d-bb73-b8df-b0eb29f07572
* Version Independent ID: 524b80ef-b895-f29e-0323-4a30070adbca
* Content: [Migrate to Azure Cloud Services (extended suppor

[2021-06-04 22:14] GiftA-MSFT commented on #76403
Are you using the Keys for your **Bing Search** Resource (Not Cognitive Services)?

[2021-06-04 22:15] #76420 closed

[2021-06-04 22:15] rlrossiter opened #76435 "Missing commit step for finishing Classic Cloud Service move"
In 5.1 Option 1 (moving without vnet), the prepare step is given for moving the cloud service, but that leaves it in the locked migration state. The commit command needs to be run as well to finish the move (explanation on what the commit step does vs. prepare would be helpful too)

The extra PS command should be

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2021-06-04 22:16] jimmyca15 commented on #67755
So you override at the microservice level. We usually use label to express [hierarchical configuration](https://docs.microsoft.com/en-us/azure/azure-app-configuration/howto-best-practices#key-value-compositions). Did you consider the following approach?

Key: "Global:CosmosDb:Database" Value: "data" label: "dev"
becomes
Key: "CosmosDb:Database" Value: "data" label: "dev"

Key: "Infrastructure:Cosm

[2021-06-04 22:18] Karishma-Tiwari-MSFT commented on #76352
@macolso Under [this section](https://docs.microsoft.com/en-us/azure/container-instances/container-instances-quickstart-portal#create-a-container-instance), it is mentioned that :
You can also bring your own container images stored in Azure Container Registry, Docker Hub, or other registries.

@rakesh08 Thanks for the feedback! I have assigned the issue to the content author to investigate further

[2021-06-04 22:23] GiftA-MSFT commented on #76424
@jmprieur we'll review your feedback and get back to you shortly. Thanks.

[2021-06-04 22:28] GiftA-MSFT commented on #76434
@tanmaygore please review above feedback. Thanks.

[2021-06-04 22:32] GiftA-MSFT commented on #76435
@rlrossiter we'll review your feedback and get back to you shortly. Thanks.

[2021-06-04 22:33] GiftA-MSFT commented on #76435
@tanmaygore please review above feedback. Thanks.

[2021-06-04 22:51] chrisweis opened #76437 "Unclear how this page relates to "Azure Enterprise REST APIs" page"
Hello,

I'm struggling to understand the differences between these two pages:
https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/ea-portal-rest-apis
https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/enterprise-api

Are they the same API?  Or different?  Could these pages please be improved to add clarity?

Thanks,
Chris

---
#### Document Details

⚠ *Do not e

[2021-06-04 22:52] chrisweis opened #76438 "Unclear how this page relates to "Overview of Reporting APIs for Enterprise customers" page"
Hello,

I'm struggling to understand the differences between these two pages:
https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/ea-portal-rest-apis
https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/enterprise-api

Are they the same API?  Or different?  Could these pages please be improved to add clarity?

Thanks,
Chris

---
#### Document Details

⚠ *Do not e

[2021-06-04 23:12] StefArroyo commented on #76423
Can you try disabling SSL validation in your app? https://docs.microsoft.com/en-us/azure/cosmos-db/local-emulator?tabs=ssl-netstd21#disable-ssl-validation

[2021-06-04 23:15] bmilbauer opened #76439 "PowerShell snippet to get MFA user report doesn't work"
Powershell snippet under "Identify users and output methods registered:" doesn't work:

At line:1 char:131
+ ... tate){$_.StrongAuthenticationRequirements.State} else {"Disabled"}}},
+                                                                          ~
Missing expression after ','.
    + CategoryInfo          : ParserError: (:) [], ParentContainsErrorRecordException
    + FullyQualifiedErro

[2021-06-04 23:35] savjani commented on #75393
Changes are live. @KalyanChanumolu-MSFT - Could you please help close the issue

[2021-06-05 00:57] rlrossiter opened #76441 "API to get new cscfg and csdef don't exist"
The instructions define how to get the new csdef and cscfg using Powershell/REST, but [Powershell](https://docs.microsoft.com/en-us/powershell/module/az.cloudservice/?preserve-view=true&view=azps-6.0.0&viewFallbackFrom=azps-5.4.0#cloudservice) doesn't have any cmdlets for getting configs, and REST points to management.core.windows.net which is not ARM, so I doubt a request to that will get the ARM

[2021-06-05 01:21] SatishBoddu-MSFT commented on #76396
Hello @wangmiaowei
Our SME will review your feedback.

[2021-06-05 03:18] sosimon opened #76442 "URL Rewrite only supports static path to another static path"
## Setup and Background

As per the docs, if we set:

Match Path: `/foo/*`
Custom Forwarding Path: `/fwd/`

And if the incoming URL path is `/foo/a/b/c`, then the forwarded path should be `/fwd/a/b/c`, i.e. the "subpath" `a/b/c` is preserved.

## Our scenario

Match Path: `/foo/bar/*`
Custom Forwarding Path: `/fwd/`

Our incoming URL is of the form `/foo/bar/<id>` where ID is an alphanumeric strin

[2021-06-05 04:25] ajishanv commented on #76403
Yes

[2021-06-05 05:02] demo4life opened #76444 "Need to update Guide"
The guide is old, the Admin Google Workspace has been change and not able to follow. Hope this can be update as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6eba9a3b-88e4-8156-a31e-58a74c604f28
* Version Independent ID: 2e0e6273-3e21-1ea2-43f8-48e5effc9a83
* Content: [Tutorial: Configure G Suite for automatic u

[2021-06-05 06:35] ramganesh19 opened #76450 "ACR TASK RUN FAILS - PRIVATE GITHUB PAT FAILS AUTHENTICATION"
[Enter feedback here]
$ az acr task run --registry $ACR_NAME --name myService
Queued a run with ID: cje
Waiting for an agent...
2021/06/05 06:26:48 Downloading source code...
Run ID: cje failed after 3s. Error: failed to download context. Please check if the URL is incorrect. If it has credentials, please check if they are expired

tried testing with below username and PAT token and it works fine

[2021-06-05 08:42] KidsCanProgram opened #76452 "My subscription is disabled"
My Azure For Students subscription is disabled please help my data will be deleted on 06/06/2021

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fec29c99-b938-0cd3-4f37-a467efe72f72
* Version Independent ID: 1735a445-7c8d-1bd7-8416-0b53c6363b77
* Content: [Reactivate disabled Azure for Students subscription](https://doc

[2021-06-05 10:14] SadiqhAhmed-MSFT commented on #76431
@tomdan-MSFT Thank you for your post. We will look into it and get back to you soon.

[2021-06-05 10:17] SadiqhAhmed-MSFT commented on #76437
@chrisweis Thank you for your post. We will review the documentation with the content owner and get back to you soon.

[2021-06-05 10:18] girishmk0602 commented on #76421
Yes..

On Sat, 5 Jun 2021, 1:09 am SatishBoddu, ***@***.***> wrote:

[2021-06-05 10:20] SadiqhAhmed-MSFT commented on #76438
@chrisweis Closing this issue as duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/76437
Duplicate of #76437

[2021-06-05 10:20] #76438 closed

[2021-06-05 10:23] SadiqhAhmed-MSFT commented on #76452
@KidsCanProgram Please reach out to Azure subscription management team by raising a support request at no extra cost. The ticket enables you to work closely with the support engineers and get a quick resolution to your issue.
Here is the link - https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request to create support case.

[2021-06-05 10:25] SadiqhAhmed-MSFT commented on #76439
@bmilbauer Thank you for your post. We will look into this issue and get back to you soon.

[2021-06-05 11:50] #75393 closed

[2021-06-05 11:58] OzBob commented on #76138
@SnehaAgrawal-MSFT the screenshot shows you typed:  *, and allowed all origins. Which is not what this Issue is about.

Please try again with the CORS rule:

https://*.azurewebsites.net

does it work for you?

[2021-06-05 12:08] AvinashMitta opened #76454 "Error while creating webapp from AzCLI"
While trying to create webapp using the command as suggested in the doc we are facing the below error .
"Could not auto-detect the runtime stack of your app."
Here we tried to execute from the same folder the app files exists.
Request to change the command syntax to include runtime stack aswell.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2021-06-05 12:52] #76452 closed

[2021-06-05 14:01] datahai opened #76455 "Each query has a minimum of 10 MB of data processed"
In the documentation it states that each query has a minimum of 10 MB of data processed.  Is this still the case or has it changed to 1MB?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70b0d2f7-186d-0a74-b25c-2784bae2705f
* Version Independent ID: 4e3e9d47-9a15-fec0-01e0-2b324cc22eb2
* Content: [Cost management for se

[2021-06-05 14:07] datahai commented on #76455
Confirmed:  Although Serverless SQL Pools returns a result stating 1MB of data read, 10MB is actually recorded as being processed when querying the system view sys.dm_external_data_processed

[2021-06-05 14:07] #76455 closed

[2021-06-05 14:35] jrudlin commented on #76117
Allow "Traffic forwarded from remote virtual network" on the VNET peering resolved the remaining issue.

[2021-06-05 15:49] jmprieur commented on #76424
#assign jmprieur

[2021-06-05 16:08] jmprieur commented on #76424
#sign-off

[2021-06-05 17:07] MarileeTurscak-MSFT commented on #76444
@demo4life
Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-05 17:08] MarileeTurscak-MSFT commented on #76441
@rlrossiter
Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-05 17:09] MarileeTurscak-MSFT commented on #76442
@sosimon
Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-05 17:10] MarileeTurscak-MSFT commented on #76450
@ramganesh19
Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-05 17:11] MarileeTurscak-MSFT commented on #76454
@AvinashMitta
Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-05 18:27] AjayKumar-MSFT commented on #76158
@BrazilianJoe, We will close this out, but if you feel you need more information please just let us know.

[2021-06-05 18:27] #76158 closed

[2021-06-05 20:43] luongto opened #76456 "The sample ingress doesn't work"
https://raw.githubusercontent.com/Azure/application-gateway-kubernetes-ingress/master/docs/examples/aspnetapp.yaml

The sample ingress doesn't work, I am looking around and found that someone add appgw.ingress.kubernetes.io/backend-path-prefix: / then is works

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4a217cd-894

[2021-06-05 21:04] Marusyk commented on #76423
Of course I can, but I am looking for the proper solution How to use Comsos Emulator with SSL certificate in Linux Container on Windows host?
It would be great to add some docs for that case (like existing docs for others Linux host, Mac host).
I'm sure that not only I will be run in on Windows. We need some docs. It is a request for docs.

[2021-06-05 21:16] #75114 closed

[2021-06-05 21:21] francesco1119 commented on #75119
Yes, the bug is not in the documentation but in the tool itself.
As you can see from the picture I pasted on my first post you have each single login listed twice. This because one was for the normal login and the other for the DOMAIN\ login.

Nevermind, I will open a ticket form the Azure portal dashboard.

...what's the point to use GitHub for the documentation and not for tool issues... :|

[2021-06-05 21:21] #75119 closed

[2021-06-05 21:46] GiftA-MSFT commented on #76456
@luongto we'll review your feedback and get back to you shortly. Thanks.

[2021-06-05 22:35] mailtogurvindersingh opened #76457 "The name of the lock is incorrect"
The name of the lock is Delete not CanNotDelete in the dropdown that shows up in the Azure portal. Can I become a contributor so that I can make such corrections?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e7af209-7240-dd2a-7130-e7fb3143986a
* Version Independent ID: a653b0d1-877d-09f7-17fa-11bf06c37cc9
* Content:

[2021-06-05 22:53] DEberhardt commented on #66824
Hello,
no, I think we can close this one.
Thank you!

[2021-06-05 22:53] #66824 closed

[2021-06-06 01:15] waiholiu opened #76458 "using user-assigned identities"
There is a note saying that "Key Vault references currently only support system-assigned managed identities. User-assigned identities cannot be used."

This doesn't seem to be true, I've verified that I can add userassigned as well as systems identity to an access policy.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2021-06-06 02:05] jongio commented on #76318
@StefArroyo can you provide guidance on this?

[2021-06-06 05:01] Taytay opened #76463 "Trailing backtick on two CLI code samples:"
Typos: Trailing `` ` `` on:

``az feature register --namespace Microsoft.Compute --name InGuestAutoPatchVMPreview ` ``
and
``az feature show --namespace Microsoft.Compute --name InGuestAutoPatchVMPreview ` ``

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61687573-f03b-85dc-54cf-e95d95efb235
* Version Independent ID: 7

[2021-06-06 05:02] jbkoh opened #76464 "Many links are broken"
Many links are broken, including:
- [Azure Maps Data Upload API](https://docs.microsoft.com/en-us/rest/api/maps/data%20v2/uploadpreview)
- [Dataset service](https://docs.microsoft.com/en-us/rest/api/maps/v2/dataset/createpreview)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84d454e7-32e9-59af-dd08-07425adfdd98
* Vers

[2021-06-06 05:38] batamig commented on #76409
Thanks for reporting this issue @daspiker and thank you for handling, @HarshitaSingh-MSFT  and @ShannonLeavitt !

[2021-06-06 07:59] SanDeo-MSFT commented on #75955
@kennethvs, For unregistered devices the attribute cannot be determined since the device does not exist in the directory. So if you want to target policies for unregistered devices the best way to target them would be using the negative operator since the filter rule you configure would apply. If you were to use a positive operator, the filter rule would only apply when a device exists in the dire

[2021-06-06 07:59] SanDeo-MSFT commented on #75955
#please-close

[2021-06-06 07:59] #75955 closed

[2021-06-06 08:00] SanDeo-MSFT commented on #75904
@pholdridge, Thanks for your feedback. This is in our plans and will be added shortly.

[2021-06-06 08:00] SanDeo-MSFT commented on #75904
#please-close

[2021-06-06 09:32] SadiqhAhmed-MSFT commented on #76457
@mailtogurvindersingh Thank you for posting your question. We will check on this requirement and get back to you soon.

@tfitzmac Your thoughts on the ask!

[2021-06-06 09:34] SadiqhAhmed-MSFT commented on #76458
@waiholiu Thank you for posting your question. We will review this with the content owner and get back to you soon.

[2021-06-06 11:24] al-n commented on #70433
May I ask how long your "investigation" into this will take?

On a side-note: It would really help if the URLs of privatelink would be discoverable via API somehow, we wouldn't need to depend on the docs then.

[2021-06-06 12:24] JayDoubleu commented on #49949
@msrini-MSFT @MarileeTurscak-MSFT while setting `trustServerCertificate=true` solves the problem...
Is this really Microsoft recommended approach ?
Disabling certificate validation is a bit .. ugly

[2021-06-06 15:05] fmms commented on #73415
We have opened a support case regarding this documentation issue. In the case 2105260050002488 it was confirmed that indeed the documentation is wrong. Documentation will be updated, though there is no ETA right now.

[2021-06-06 15:22] GiftA-MSFT commented on #76463
@Taytay we'll review your feedback and get back to you shortly. Thanks.

[2021-06-06 15:23] GiftA-MSFT commented on #76464
@jbkoh we'll review your feedback and get back to you shortly. Thanks.

[2021-06-06 16:31] mifurm opened #76467 "Ingress will return 503 as it's object is in the other namespace than service and endpoints"
[Enter feedback here]
The given examples of how to deploy Ingress are wrong. They contain the namespace value in the definition file. This leads to a situation when Ingress don't see svc and endpoints and the whole example doesn't work. Please remove the line namespace: ingress-basic from ingress file.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2021-06-06 17:49] ColinPM opened #76468 "Typo in note on page."
The word guarantee is missing a letter u in the note on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 893843c1-bbd0-2953-5594-b7483accd046
* Version Independent ID: 33b132fe-2c07-0c59-4766-e3b534ea010b
* Content: [Performance tuning with result set caching - Azure Synapse Analytics](https://docs.microsoft.c

[2021-06-06 17:52] thisisraghavkumar opened #76469 "Verifiable Credential Expert tutorial, verifier code not working as expected"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e61514c0-51bd-299f-6995-69d6099f3a7a
* Version Independent ID: 939a73ed-6162-1812-e648-5df9db5e93ab
* Content: [Tutorial - Get started with Azure Active Directory Verifiable Credentials using a sample app (preview)](https://docs.microsoft.com/en-in/az

[2021-06-06 19:11] jaagotarakesh commented on #45303
Hi
Is there a way to force using only connectX-4 only. Currently I see it get assigned randomly, as Nikhil also pointed out here.
See few issues on azure platform with ubuntu-18.04 based VM images:
Poor performance with testpmd on connectX-3.
sudo ./testpmd -l 0,1,2,3 -w 3f8f:00:02.0 --vdev="net_vdev_netvsc0,iface=eth1"   -- --port-topology=chained  --nb-cores 3 --rxq=3 --txq=3 -i

testpmd> show p

[2021-06-06 19:14] Sala-Khaliff-Jr opened #76470 "Direct link url redirect 404 error"
The link under the topic Find Template, step 3 refers to a link which no longer exists. which should be pointing to this link
https://azure.microsoft.com/en-us/resources/templates/webapp-basic-linux/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b224a32f-7ad9-8774-39f5-3230fdc9bf47
* Version Independent ID: 47197241-3

[2021-06-06 19:20] vasanthsubram opened #76471 "Sample application does not work"
Executed all the steps in this example guide. Created the controller, two applications and Ingress.
Helm version - 3.4.2
checked that nginx-ingress-ingress-nginx-controller was created with public IP
checked that pods and services were created for the applications and controller. Ingress was also created

I am not able to see the hello world page. The page simply waits and says 'This site cannot b

[2021-06-06 19:26] DeanGross opened #76472 "MFA guidance"
Please provide more info about how MFA should be implemented for users accessing managed tenants. should this be via CA Policies, if so, how should be the policy be configured.
What authentication methods should be used?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9072670-a990-3b3f-0849-de749c2eec98
* Versi

[2021-06-06 19:28] DeanGross opened #76473 "Using PIM and Access Reviews"
how should managed service providers configure PIM and Access reviews for their staff that is accessing managed tenants?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9072670-a990-3b3f-0849-de749c2eec98
* Version Independent ID: a2681792-d66d-93fb-113f-a78bb4b57258
* Content: [Recommended security practices - Azure Li

[2021-06-06 22:59] mifurm opened #76475 "namespace: ingress-basic should be removed from ingress deployment file"
[Enter feedback here]
namespace: ingress-basic should be removed from ingress deployment file, otherwise, everything will be created perfectly but Ingress will not work as it will not see any endpoints on the K8s site.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd0e7d5a-37e9-07dc-f395-9cb5bb580e45
* Version Indepen

[2021-06-06 23:39] mifurm commented on #76475
the problem can be solved the other way around - just please add namespace to all deployments and this will help as well.

[2021-06-06 23:46] GiftA-MSFT commented on #76467
@mifurm we'll review your feedback and get back to you shortly. Thanks.

[2021-06-06 23:47] GiftA-MSFT commented on #76468
@ColinPM we'll review your feedback and get back to you shortly. Thanks.

[2021-06-06 23:49] GiftA-MSFT commented on #76469
@thisisraghavkumar we'll review your feedback and get back to you shortly. Thanks.

[2021-06-06 23:51] GiftA-MSFT commented on #76470
@Sala-Khaliff-Jr we'll review your feedback and get back to you shortly. Thanks.

[2021-06-06 23:54] GiftA-MSFT commented on #76471
@vasanthsubram we'll review your feedback and get back to you shortly. Thanks.

[2021-06-06 23:56] GiftA-MSFT commented on #76472
@DeanGross we'll review your feedback and get back to you shortly. Thanks.

[2021-06-06 23:57] GiftA-MSFT commented on #76473
@DeanGross we'll review your feedback and get back to you shortly. Thanks.

[2021-06-06 23:58] GiftA-MSFT commented on #76475
@mifurm we'll review your feedback and get back to you shortly. Thanks.

[2021-06-07 00:23] gareja commented on #29124
I just had a customer ask for public documentation on this today. This was after a support call to determine what the MSEE IP addresses were. Confusion (and support calls) can be avoided by having this documented.

[2021-06-07 01:12] jbkoh commented on #76464
Thanks for the response. I can't try out the tutorial in the doc because I can't upload the files. I'd appreciate it if you could give me an instruction in a timely manner. Thanks!

[2021-06-07 02:31] JatinSanghvi opened #76476 "Security rule requirements for additional API management locations"
Under section [Common Network Configuration Issues](https://docs.microsoft.com/en-us/azure/api-management/api-management-using-with-vnet?#-common-network-configuration-issues), some of the security rules (e.g. the one with purpose: Management endpoint for Azure portal and PowerShell) will not apply to additional locations (as it does not support management calls). Can we also add a column like we

[2021-06-07 03:02] krispenner commented on #68917
@psmanhas Hi, I am also interested in this scenario. Back in January said, "Vnet + Managed Nat + ACI is not officially supported yet." I definitely want to go this route and so I am curious what you meant by "not officially supported". Does that mean that it currently does work but is not recommended for production? Or does it just plain not work, in which case it's officially and totally not supp

[2021-06-07 03:08] MayankBargali-MSFT commented on #76170
@sammydeprez Hope the above helps and clears things up. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-06-07 03:08] #76170 closed

[2021-06-07 03:09] MayankBargali-MSFT commented on #76157
@metamoof Hope the above helps and clears things up. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-06-07 03:09] #76157 closed

[2021-06-07 03:11] MayankBargali-MSFT commented on #75980
@nssidhu As of now this is not possible and if you have any product feedback you can always pass it in [feedback forum](https://docs.microsoft.com/en-us/connectors/custom-connectors/provide-feedback#azure-logic-apps). We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-06-07 03:11] #75980 closed

[2021-06-07 03:42] HarshitaSingh-MSFT commented on #76328
Just checking in to see if you have had a chance to see the previous response. Kindly let us know if you need further assistance on this issue or is good to be closed.

[2021-06-07 03:43] HarshitaSingh-MSFT commented on #76334
Just checking in to see if you have had a chance to see the previous response. Kindly let us know if you need further assistance on this issue or is good to be closed.

[2021-06-07 03:44] HarshitaSingh-MSFT commented on #76336
Hello!
Just checking to see if you have had a chance to see the previous response. Kindly let us know if it answers your question and if you need further assistance on this issue.

[2021-06-07 04:06] AnuragSharma-MSFT commented on #76333
@Obiwan72 Thank you for the feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2021-06-07 04:31] xujxu commented on #76298
Hi, Thanks for the comments.

The statement in the screenshot with "Your private endpoint must be in the same region as your virtual network, but can be in a different region from the private link resource that you are connecting to", it gives the general usage guidance of the private endpoint. It is from the endpoint product point of view.

However, for the endpoint used for Synapse studio specif

[2021-06-07 04:38] HimanshuZinzuwadia opened #76477 "Getting Error"
Followed all the steps.

Getting this error in the last step.  Please provide instructions for troubleshooting this error.

Warning  FailedMount  7s (x7 over 47s)  kubelet            MountVolume.SetUp failed for volume "secrets-store-inline" : rpc error: code = Unknown desc = failed to mount secrets store objects for pod default/nginx-secrets-store-inline, err: rpc error: code = Unknown desc = fai

[2021-06-07 04:47] shashishailaj commented on #76477
@HimanshuZinzuwadia Thank you for your query . We will have this investigated and update the thread.

[2021-06-07 04:58] SwathiDhanwada-MSFT commented on #75752
@benjamincburns Thanks for your inputs. I think your inputs should be documented in Azure DevOps docs. I will let the content author @mumian review it.

[2021-06-07 05:10] AnuragSharma-MSFT commented on #76341
@rarandiv Would it be possible for you to share the screenshot of failure please?

[2021-06-07 05:20] TsuyoshiUshio opened #76479 "AKS AAD integration fails with error: You must be logged in to the server (Unauthorized)"
I followed the direction of this page, however, when I did `kubectl get nodes` it returns `error: You must be logged in to the server (Unauthorized)` then I added the current user to the AD group, the result was the same. Am I missing something?  How can I debug this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22a4

[2021-06-07 05:40] Continuitis opened #76480 "Invalid request: AADSTS9002326"
Hello,

I'm trying to follow the doc to get an access Token to consume my resource. (https://docs.microsoft.com/en-us/azure/app-service/configure-authentication-provider-aad) - Daemon client application (service-to-service calls) and I followed the link to get the access token
 : Service-to-service access token request - First case: Access token request with a shared secret
My goal is to call an a

[2021-06-07 05:41] CHEEKATLAPRADEEP-MSFT commented on #76221
@oscarzamora Thanks for pointing out the issue, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/161308](https://github.com/MicrosoftDocs/azure-docs-pr/pull/161308)
The changes should be live EOD or tomorrow. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contribut

[2021-06-07 05:41] #76221 closed

[2021-06-07 05:54] joydeepml commented on #58165
I am trying to mount ADLS private endpoint as well but not able to figure out what the conf-key should be in the extra_configs parameter for the same. Examples for the same would be great. Thanks

[2021-06-07 05:56] ShaikMaheer-MSFT commented on #76468
@ColinPM  Thanks for pointing out the issue, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/161309](https://github.com/MicrosoftDocs/azure-docs-pr/pull/161309)

 The changes should be live EOD or tomorrow. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contributi

[2021-06-07 05:56] #76468 closed

[2021-06-07 06:00] ShaikMaheer-MSFT commented on #76398
@Saurabh666666  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-06-07 06:00] #76398 closed

[2021-06-07 06:15] RohitMungi-MSFT commented on #76159
@JackCaster I have reached out to he product team on the following queries. Here is the response from the team.

 What is the SDK version that is used?

This behavior in the current implementation is 'by design'.  The pipeline backend does not track the contents of output data in the customer's blob storage.  If you delete or modify that data, it will break the reuse scenario for pipelines.

[2021-06-07 06:16] VikasPullagura-MSFT commented on #76479
@TsuyoshiUshio
Thanks for your Question! We are currently investigating and will get back on this.

[2021-06-07 06:16] SnehaAgrawal-MSFT commented on #76187
@madhj Thanks for asking question! To elaborate on this, Media Services supports multiple ways of authenticating users who make key requests. The content key authorization policy can have one or more authorization restrictions. The options are open or token restriction. The token-restricted policy must be accompanied by a token issued by a security token service (STS). Media Services supports toke

[2021-06-07 06:17] TsuyoshiUshio commented on #76479
Sorry @VikasPullagura-MSFT
The root cause was, I forget to get `kubelogin`.  Thank you for your quick response.

[2021-06-07 06:17] #76479 closed

[2021-06-07 06:19] VikasPullagura-MSFT commented on #76479
@TsuyoshiUshio Thanks for confirming on this.

[2021-06-07 06:31] VikasPullagura-MSFT commented on #76475
@mifurm I see a similar issue opened here #76467, we will address your feedback in the other issue you have opened.

Closing this as duplicate.

[2021-06-07 06:31] #76475 closed

[2021-06-07 06:38] #76470 closed

[2021-06-07 06:40] yoelhor commented on #76382
Dear @jason-ra , thanks for the feedback. The page layout is in GA. I'm updating the article accordingly. A new version will publish later today, and this GitHub issue will be closed automatically (before the doc is published). If you have any questions or need further information, please open new GitHub issue.

[2021-06-07 06:43] #76331 closed

[2021-06-07 06:49] #76463 closed

[2021-06-07 06:50] yoelhor commented on #76402
Dear @LoW0lf, thanks for the feedback. The issue related to the doc format. There is no any missing step you should worry about. I'm fixing the doc. A new version will publish later today, and this GitHub issue will be closed automatically (before the doc is published). If you have any questions or need further information, please open new GitHub issue.

[2021-06-07 06:52] psmanhas commented on #76463
@Taytay The document is updated and changes will go live soon.

Thanks

[2021-06-07 06:56] mifurm commented on #76475
This is similar issue but for other documentation page. We can close if You think it will be easier to track.

[2021-06-07 06:59] w0ut0 commented on #68917
@krispenner for what it's worth, we have been using this for a couple of months without any hiccups. Looking at the individual components, I don't see an immediate reason why it shouldn't be supported..

[2021-06-07 07:02] #76402 closed

[2021-06-07 07:12] matuhinal opened #76482 "connect"
[Enter feedback here]
https://portal.azure.com/?microsoft_azure_automation_armTemplateUrl=https%3A%2F%2Fdevopsgallerystorage.blob.core.windows.net%2Farmtemplates%2FPowerShellGet%255C2.2.5%255CRootTemplate.json&microsoft_azure_automation_requirelicenseacceptance=False#blade/Microsoft_Azure_ActivityLog/ActivityLogBlade/queryInputs/%7B%22user%22%3A%22%40me%22%7D

---
#### Document Details

⚠ *Do not

[2021-06-07 07:18] naveenkaushik2504 opened #76483 "Viewing Pipeline steps in portal"
Is there a way to view the code that is related to the steps in the azure portal? For example, let's say a `PythonScriptStep` is created using `train.py` and a run is submitted. Is it possible to retrieve the code in `train.py` from the portal to see what is the code running?

The reason for asking this is not for just one call, but rather a scenario that, eventually the Pipeline is published as a

[2021-06-07 07:19] yoelhor commented on #76343
Dear @sslepova I don't feel clear about the main issue here. You mentioned "local provider", while the this article is about how to pass a **federated identity provider** token to the app. With [local account](https://docs.microsoft.com/azure/active-directory-b2c/technical-overview#consumer-accounts) there is no external token to pass. Because Azure AD B2C is the token issuer, there is nothing to

[2021-06-07 07:21] SnehaAgrawal-MSFT commented on #76325
@sethiramicrosoft Thanks again for the feedback! If my understanding your feedback right when a Web App with enabled managed identities is cloned it is failing with not helpful error message. If so, I am able to clone the web app with enabled managed identities successfully but yes as mentioned in the document in current restriction the newly created app doesn't have or cloned enabled managed iden

[2021-06-07 07:22] rarandiv commented on #76341
@AnuragSharma-MSFT Unfortunately, I don’t have the failure screenshot handy.

[2021-06-07 07:26] naveenkaushik2504 commented on #76483
Figured out using the `Snapshot` tab of the run.

[2021-06-07 07:26] #76483 closed

[2021-06-07 07:40] SnehaAgrawal-MSFT commented on #76378
@theoslocrew Thanks again for the feedback! Could you please confirm on the document link you are referring to help you better on this? You may want to check this document link for Java deployment: https://docs.microsoft.com/en-us/azure/app-service/quickstart-java?tabs=javase&pivots=platform-windows

[2021-06-07 07:47] #76382 closed

[2021-06-07 07:55] Svijay-msft commented on #76340
@MixKlim  - I was able to observe the issue at my end.

Text : Ich würde wirklich gern Ihr Auto um den Block fahren ein paar Mal.

![image](https://user-images.githubusercontent.com/66949976/120979121-e2411200-c792-11eb-85c5-7901bb910142.png)

I reached out to my internal team  on the behavior and got some clarification.

We stopped showing alternatives with lesser confidence score and  so, you wo

[2021-06-07 08:05] JackCaster commented on #76159
Thanks for getting back.

`azureml-sdk` version `1.28.0`. Is this issue something that has been addressed in the latest version (currently `1.29.0`)? In the [changelog](https://docs.microsoft.com/en-us/azure/machine-learning/azure-machine-learning-release-notes#azure-machine-learning-sdk-for-python-v1290) I do not see anything related to it.

[2021-06-07 08:17] SwathiDhanwada-MSFT commented on #76482
@matuhinal Thanks for reaching out. Can you please elaborate on your feedback or issue so that based on it we can proceed further ?

[2021-06-07 08:20] chdalski commented on #76062
@AjayKumar-MSFT thank you for your feedback and sorry for the delay on my end.

Currently I'm using "node dist/app.js" to start my application and it works fine.
I might be able to do the same with "npx serve -s" but both ways are not recommended for production workloads following the documentation:

Following that I'd like to have a working solution with PM2 as it provides much more features and

[2021-06-07 08:23] EsaFazal72 opened #76484 "Unable to initialize DataLakeServiceClient using Java SDK"
13:35:45.556 [main] DEBUG io.netty.util.internal.logging.InternalLoggerFactory - Using SLF4J as the default logging framework
13:35:45.572 [main] DEBUG io.netty.util.internal.PlatformDependent0 - -Dio.netty.noUnsafe: false
13:35:45.572 [main] DEBUG io.netty.util.internal.PlatformDependent0 - Java version: 8
13:35:45.573 [main] DEBUG io.netty.util.internal.PlatformDependent0 - sun.misc.Unsafe.theUn

[2021-06-07 08:24] #76467 closed

[2021-06-07 08:25] donchai opened #76485 "Link up to four ER circuits from same peering location with different route advertisement from on-premise."
https://docs.microsoft.com/en-us/azure/expressroute/expressroute-faqs#can-i-have-multiple-expressroute-circuits-in-the-same-metro-can-i-link-them-to-the-same-virtual-network

Hi there,

May I know circuit in same peering location (and same cloud connect provider) can link up to four circuits, and each circuit (consists of primary and secondary counted as one) would have different route advertiseme

[2021-06-07 08:34] pauldulong opened #76486 "JWT.ms does not return a token"
Following the tutorial, I tested the user workflow for both user registration and user login. In both instances, I am correctly redirected to jwt.ms/?code=....

However, the jwt.ms website does not show me the token or decoded token. Tested this in safari, chrome and chrome incognito.

https://jwt.ms/?code=eyJr.....fPg

![Screenshot 2021-06-07 at 4 28 20 PM](https://user-images.githubusercontent.c

[2021-06-07 08:35] SrijitBose-MSFT commented on #76467
@mifurm thank you for the feedback. We have updated the document.

[2021-06-07 08:45] RohitMungi-MSFT commented on #76159
Yes, the changelog does not contain details of this fix. Our team is still investigating this issue. I will keep you posted.

[2021-06-07 08:57] yuhuyuyu opened #76487 "Some questions about mock response"
Sorry, I'm a beginner of azure. I have some problems with mock API

**1. Can the mock response return 4xx, 5xx responses？**
**2. Can the mock response return different responses according to the different request?**

Is there anyone who can answer my question? I know my question is very low-level，sorry

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2021-06-07 09:02] jeffzhu1990 opened #76488 "Licenses are missing Service Plan (Exchange Foundation)"
Hello Teams,

Please notice the below Licenses are missing the Service Plan (**Exchange Foundation | 113feb6c-3fe4-4440-bddc-54d774bf0318**)  . **Exchange Foundation** is missing in all the following 4 Licenses in the document .

AZURE ACTIVE DIRECTORY PREMIUM P1 | 078d2b04-f1bd-4111-bbd4-b4b1b354cef4

AZURE ACTIVE DIRECTORY PREMIUM P2 | 84a661c4-e949-4bd2-a560-ed7766fcaf2b

----------------------

[2021-06-07 09:05] Martin-Idel-SI commented on #33157
@nikidandwani

For me, it works like this:
- I have a VNET with two subnets: Gateway Subnet + Private link subnet
- The Application Gateway uses the Gateway Subnet, the Key Vault has a private link in the private link subnet
- Network Security Rules allow mutual access
- The Application Gateway has an identity assigned which has access to the Key Vault

Note that the private link consists of multi

[2021-06-07 09:16] pioardi opened #76489 "Is event grid data plane integrated with Azure AD?"
Is event grid data plane integrated with Azure AD?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f045c19-be7f-53fe-d799-c565957af8ea
* Version Independent ID: dae161f5-7181-ecce-724b-e6dd8cd8270c
* Content: [Authenticate clients publishing events to Event Grid custom topics or domains - Azure Event Grid](https://docs

[2021-06-07 09:27] mifurm commented on #24643
Any update on this?

[2021-06-07 09:45] dbona75 opened #76490 "Add UserCloudCertificate Windows 10"
Hello,

please add UserCloudCertificate attribute to the list of Windows 10 paragraph. otherwise hybrid join doesn't work. We had different cases escalated to support.

I will rephrase :

From:
"
A Windows 10 domain-joined computer(device) synchronizes some attributes to Azure AD. For more information on the scenarios, see Connect domain-joined devices to Azure AD for Windows 10 experiences. These

[2021-06-07 09:48] scarvalho-eng opened #76491 "Change of a sentence on "Require app protection policy""
Cx shared feedback that it would be more clear to see "This setting applies to the following iOS and Android apps:" instead of "The following client apps have been confirmed to support this setting:" on the lists of apps in the "Require app protection policy" section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd93

[2021-06-07 09:52] Malaska678 commented on #69420
XD issue 69420 lolol. 69 and 420 funni number

[2021-06-07 10:07] sandervh14 commented on #6371
I also encountered this problem and tried the connection string fixed above.
What got it fixed for me was this: https://stackoverflow.com/a/56279311/5433896.

[2021-06-07 10:08] sethiramicrosoft commented on #76325
Hi Sneha,

Thank you for checking this. The customer received this error message on the portal ""conflict"...Message...""message": "Restore failed with errors: Detail: Object reference not set to an instance of an object.\r\nExtendedCode: 01021\r\n\r\n"
"

I also have the deployment results with failure and it had the below messages

operationId": "F420C1F762F9BB00",
    "properties": {
      "pro

[2021-06-07 10:14] sujitks commented on #58165
Hi,

Just to let you know that my problem with mounting the storage account over the private link was resolved by creating the DNS entries to point to private IP address of the private endpoint.

[2021-06-07 10:16] SwathiDhanwada-MSFT commented on #76360
@eliottkespi From the error information provided by you, you are trying to access "https://44.240.190.130:3080/api/public/getTemplate/cff36c50-c2e8-11eb-b3db-af95121a2b00" during deployment which when tried to access from browser seems to be unreachable. Although you have mentioned that your website is publicly reachable, I would suggest you to recheck it again and make your URL is encoded properl

[2021-06-07 10:16] yoelhor commented on #76486
Dear@pauldulong, thanks for the feedback. You need to [Enable ID token implicit grant](https://docs.microsoft.com/azure/active-directory-b2c/tutorial-register-applications?tabs=app-reg-ga#enable-id-token-implicit-grant). I'm updating the article with the relevant information. A new version will publish later today, and this GitHub issue will be closed automatically (before the doc is published). I

[2021-06-07 10:24] SwathiDhanwada-MSFT commented on #76348
@docklander Can you please confirm if the emails were previously being sent to this DL or if they have never worked?

It's common that there is a rule in the DL configuration that prevents emails being sent from the following addresses from reaching the end users:

azure-noreply@microsoft.com
azureemail-noreply@microsoft.com
alerts-noreply@mail.windowsazure.com

Also check if an external email add

[2021-06-07 10:25] #76486 closed

[2021-06-07 10:49] chouma opened #76492 "Link to risk events"
The page mentions that you should log risk events, but there's no link to risk events and on the pages related to the other types of logging, risk events isn't present.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2db67c67-5a3e-ac64-1bf2-06ba8ca7b80c
* Version Independent ID: 398bda18-6f0d-cab2-f5ad-1a9fd77fa5d8
* Co

[2021-06-07 10:57] SnehaAgrawal-MSFT commented on #76322
@nohanaga Thanks for asking question! Just to confirm if you are receiving any error? As mentioned in the doc that "If a language is not supported, a warning is generated and the text is split at character boundaries."

[2021-06-07 11:02] klenium opened #76493 "Extend ADF dataflow doc page to include toTimestamp(unix epoch)"
My goal was to convert C# ticks to datetime in ADF dataflow. The pipeline expression language can do this, but the dataflow expression language page does not mention anything about this task.

Coming from [this SO post][1], finally we could do the conversion. Ticks -> epoch -> toTimestamp.

The documentation of [toTimestamp][2] only says that the input can be a string, and the default formatting a

[2021-06-07 11:02] realrubberduckdev opened #76494 "Do we need to allow front door backend"
Hi,
Needed a clarification.

In the docs regarding service tags, we see `AzureFrontDoor.Backend`.

Once an app service is added as a backend pool on an azure front door, do we still need to use the service tag to allow front door backend IPs or is this handled internally by Azure?

The reason for this question is that, as per our testing, front door seems to be able to deliver requests to the app

[2021-06-07 11:10] AshokPeddakotla-MSFT commented on #76276
@rajb865Apologies for the delay. I am not able to reproduce your issue, This would require further investigation to find out the root cause.

Please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Issue as well as your subscription ID and we can help get the support ticket opened for this

[2021-06-07 11:19] AnuragSharma-MSFT commented on #76341
@rarandiv No issues. Currently updating the conflict resolution is not supported in Azure Cosmos DB. This is being assigned to the content author to evaluate and update as appropriate.

[2021-06-07 12:20] Svijay-msft commented on #76476
Thanks for the question! We are looking into this and will get back to you soon.

[2021-06-07 12:26] fuglede commented on #68279
It looks like this is now possible using [custom authentication](https://docs.microsoft.com/en-us/azure/static-web-apps/authentication-custom?tabs=aad):

[2021-06-07 12:27] dhsl commented on #70348
Any updates? Still an important matter to us.

[2021-06-07 12:35] ksolberg commented on #43257
@upliftertom do you have any pointers on how to do this using the api?

[2021-06-07 12:47] MayankBargali-MSFT commented on #76476
@JatinSanghvi Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-06-07 12:51] SiobhanBaynes opened #76495 "job-id replacement text missing"
The Section [Transfer ownership of the job to the service principal](https://docs.microsoft.com/en-us/azure/databricks/tutorials/run-jobs-with-service-principals#--transfer-ownership-of-the-job-to-the-service-principal) has the parameter `<job-id>` in the curl URL, but is missing the instruction to replace it underneath.

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2021-06-07 12:59] ShaikMaheer-MSFT commented on #76495
@SiobhanBaynes Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-06-07 13:04] ShaikMaheer-MSFT commented on #76493
@kelnium Thank you for feedback. We are actively investigating it. We will get back to you soon

[2021-06-07 13:09] shashishailaj commented on #76480
@Continuitis Thank you for your query . We will investigate and update the thread.

[2021-06-07 13:15] HarshitaSingh-MSFT commented on #76492
Hello @chouma , thanks for the question! We are taking a look into this and will get back to you soon.

[2021-06-07 13:21] HarshitaSingh-MSFT commented on #76491
Hello @scarvalho-eng , thanks for taking time to share your valuable feedback! Who is the Cx? Can you pls provide more clarity around the confusion caused due to this statement?

[2021-06-07 13:26] Vama97 commented on #76334
Yeah, thank you. I made the changes and I amable to run it now. Thanks alot for your help 👍

[2021-06-07 13:31] shashishailaj commented on #76488
@jeffzhu1990 Thank you Jeff, We will engage the content team on the same.

[2021-06-07 13:33] upliftertom commented on #43257
Our support engineer at Microsoft came back to me and they said they acknowledged there was an issue but could not provide an ETA on when it was going to be fixed, but to use the api/powershell method.

@ksolberg I opened the network tab of my browser, made a change in the UI that was succesful, found the request that was made to https://management.azure.com in the network tab, copied and pasted t

[2021-06-07 13:35] ksolberg commented on #43257
@upliftertom Nice one, thanks!

[2021-06-07 13:41] Membaer commented on #53222
@ladykraken I cannot create the issue on the desired page as I don't have an account in the SharePoint directory. can you pls fix this, so that I can create the doc update request as requested.

![image](https://user-images.githubusercontent.com/6104040/121026823-c0ea2100-c7a6-11eb-8d29-c9ddb5b6f770.png)
![image](https://user-images.githubusercontent.com/6104040/121026893-d1020080-c7a6-11eb-8a70-3

[2021-06-07 13:42] Membaer opened #76496 "> > Picturepark has release the Picturepark Content Platform supporting OpenID Connect. The Picturepark DAM SAML integration still stands and is working just fine. How can the new Picturepark Content Platform be added?"
@ladykraken I cannot create the issue on the desired page as I don't have an account in the SharePoint directory. can you pls fix this, so that I can create the doc update request as requested.

![image](https://user-images.githubusercontent.com/6104040/121026823-c0ea2100-c7a6-11eb-8d29-c9ddb5b6f770.png)
![image](https://user-images.githubusercontent.com/6104040/121026893-d1020080-c7a6-11eb-8a70-3

[2021-06-07 13:48] eliottkespi commented on #76360
Hi,

Thanks for your reply.

The link changed since I opened the issue, so I won't expect it to work now.

After more investigation and discussion with Azure support, it looks like
the only way to be able to use this button is with github public file or
azure blob storage.
There is also specifically a suggestion opened about that topic: 'Enable
using local file system for linked templates
<https:/

[2021-06-07 13:48] #76360 closed

[2021-06-07 13:48] shashishailaj commented on #76490
@dbona75 Thank you for your feedback . We will have this reviewed and the document updated as needed.

[2021-06-07 13:53] psmanhas commented on #75894
@nitinkhandelwal26 Apologies for the delay in response and all the inconvenience caused because of the issue.
I has discussion internally which took some time and got to know that the work is still in progress to bring up this feature for GA release and currently we don't have any ETA as such when it will be GA but I will keep you posted on this thread once I have an update from internal team on t

[2021-06-07 13:53] #75894 closed

[2021-06-07 14:27] scarvalho-eng commented on #76491
Cx was the Customer and he said the sentence "The following client apps have been confirmed to support this setting:" before the list of apps in "Require app protection policy" could better phrased. I just wanted to share his feedback! Thank you

[2021-06-07 14:29] rcabr commented on #76298
Thanks, that very helpful.

[2021-06-07 14:29] #76298 closed

[2021-06-07 14:29] AshokPeddakotla-MSFT commented on #76464
@jbkoh Thanks for reporting the issue. We will update the doc with correct links. Meanwhile, Please use the below links:

Azure Maps Data Upload API : https://docs.microsoft.com/en-us/rest/api/maps/data-v2/upload-preview
Dataset service : https://docs.microsoft.com/en-us/rest/api/maps/v2/dataset/create

[2021-06-07 14:55] lenisha opened #76498 "Mention that custom not managed API is needed"
For the process in this page to work important to mention that Managed Identity is only available for non Managed API at the moment, otherwise its very confusing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02967960-dd13-28be-5b9b-2896a9f8dda9
* Version Independent ID: 41c26d0b-3508-edde-cbde-1650355e57dd
* Content:

[2021-06-07 15:26] JamesTran-MSFT commented on #76036
@pirminf
Thank you for your time and patience throughout this issue!

For the sentence - "Hybrid Azure AD join is currently not supported if your environment...", I wasn't able to find any reference to that within [the documentation](https://docs.microsoft.com/en-us/azure/active-directory/devices/hybrid-azuread-join-plan#unsupported-scenarios) that this issue was created on.
![image](https://user-

[2021-06-07 15:29] sbostedor opened #76500 "misspelling on document"
Our research shows that these settings are right for most tenants. Some combinations of these settings, such as Remember MFA and Remain singed-in, can result in prompts for your users to authenticate too often. Regular reauthentication prompts are bad for user productivity and can make them more vulnerable to attacks.

Notice the misspelling of signed-in.

---
#### Document Details

⚠ *Do not edit

[2021-06-07 15:35] MarileeTurscak-MSFT commented on #76500
@sbostedor
Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-07 15:36] HarshitaSingh-MSFT commented on #76343
@sslepova, did you get a chance to check @yoelhor's response?

[2021-06-07 15:43] HarshitaSingh-MSFT commented on #76334
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-06-07 15:43] #76334 closed

[2021-06-07 15:44] yayoayala opened #76501 "Apps not listed in the collection"
I am creating the collection but the app is not listed/option. I am wondering if there is a previous step that requires adding the app.

Let me give you more details, I am creating the collection, It has few steps:
Basic, Application, Owners, Users and groups, and Review+create.

The second option - Application- doesn't have the application that I will like to add. There must be something that we

[2021-06-07 15:47] msangapu-msft commented on #76242
Hi @cephalin I asked Ajay to assign this to you. Is this something we can add to the configure docs? Or is this too node-specific? Also, I'm not sure if this setting is honored or if there's any platform overrides?

[2021-06-07 16:07] shashishailaj commented on #76485
@donchai Thank you for your query . We will investigate and update the thread.

[2021-06-07 16:19] milismsft commented on #76423
@Marusyk why would you run a Linux container when your host is Windows OS based? We already have a Windows based Docker image and the documentation of how to run it and sounds like what you are trying to do for your case just does not make much sense. Please refer to: https://docs.microsoft.com/en-us/azure/cosmos-db/local-emulator-on-docker-windows?tabs=cli for instructions on how o do so.

If the

[2021-06-07 16:20] huwgeric commented on #75266
The issue isn't correct yet and I am still seeing it..

[2021-06-07 16:25] alexander-e-andrews opened #76503 "Incomplete instructions on Tutorial: Use feature flags in an ASP.NET Core app"
After [Set Up Feature Management Header](https://docs.microsoft.com/en-us/azure/azure-app-configuration/use-feature-flags-dotnet-core?tabs=core5x#set-up-feature-management), the NuGet references needed should include Microsoft.Azure.AppConfiguration.AspNetCore on line 39.

Reading like this:
To access the .NET Core feature manager, your app must have references to the `Microsoft.Azure.AppConfigura

[2021-06-07 16:27] ThomasWeiss commented on #75578
The documentation update will be part of our next update batch, so closing this issue now.
#please-close

[2021-06-07 16:27] #75578 closed

[2021-06-07 16:28] shashishailaj commented on #76484
@EsaFazal72 Thank you for your query . We use azure-docs repository for improvements in the current documentation. We will try to help you on this however in future, I would suggest you to use our QnA forum [Microsoft QnA](https://docs.microsoft.com/en-us/answers) where we have a vibrant community which will help you on these issues.

[2021-06-07 16:28] shashishailaj commented on #76484
@EsaFazal72
 What is the Java SDK version you are using ? The code seems to be failing in the main function itself. This error is seen sometimes due to SDK / Library mismatch . In case changing that does not help , please let us know and we will help you further on this using alternate options.

[2021-06-07 16:30] MarileeTurscak-MSFT commented on #76500
Thank you! I just made a pull request to fix this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/161348

[2021-06-07 16:30] #76500 closed

[2021-06-07 16:47] davidsmatlak commented on #76457
#assign:davidsmatlak

[2021-06-07 17:00] jeevansd commented on #76283
@v-hagamp and @v-rant  Can you please get this fixed using the PR?

[2021-06-07 17:02] davidsmatlak commented on #76457
@mailtogurvindersingh thanks for your question.

Please see the article's [introduction ](https://docs.microsoft.com/azure/azure-resource-manager/management/lock-resources)that explains the lock level names and the names used to apply a lock from the portal. When a lock is applied to an Azure resource, you can use the Azure CLI or Azure PowerShell commands shown in the article to see the lock leve

[2021-06-07 17:14] MicrosoftGuyJFlo commented on #58290
@DOMZE Per the PM this should no longer be an issue. Please ping me via email if you are still experiencing this issue. #please-close

[2021-06-07 17:14] #58290 closed

[2021-06-07 17:16] StefArroyo commented on #74712
The document mentions that not all of the APIs are fully supported (only SQL API). Will update the doc w/ this example on Table API.

[2021-06-07 17:17] StefArroyo commented on #74712
#please-close

[2021-06-07 17:17] #74712 closed

[2021-06-07 17:22] palma21 commented on #76401
sure we can clarify

[2021-06-07 17:23] StefArroyo commented on #75983
Currently, the instructions for WSL2 are the same as Linux, except for a few steps (these are outlined in the doc). Will work on adding more scenarios when the feature is in GA

[2021-06-07 17:23] StefArroyo commented on #75983
#please-close

[2021-06-07 17:23] #75983 closed

[2021-06-07 17:29] ChaitanyaNaykodi-MSFT commented on #76269
Hello @matiasdd apologies for the delay here.
From the documentation as shown below you can find [additional examples](https://github.com/Azure/azure-functions-dotnet-worker/tree/main/samples) related to `IHttpResponderService` and `DefaultHttpResponderService`

![image](https://user-images.githubusercontent.com/67453298/121063316-01cc4080-c77b-11eb-84e8-4b223aebd3f1.png)

We will now proceed to c

[2021-06-07 17:29] #76269 closed

[2021-06-07 17:42] TomicaKaniski opened #76507 "Minor corrections"
1. "Are placed in an Azure subscription and resource group." should be "Be placed in an Azure subscription and resource group."
2. Supported regions would look great in alphabetical order.

T.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab9877fe-daba-9dd2-26f7-04de1f7a6dce
* Version Independent ID: 3fb88591-d13d-bd9

[2021-06-07 17:43] ChaitanyaNaykodi-MSFT commented on #76489
Hello @pioardi,
Thank you for your feedback! We will review and update as appropriate.

[2021-06-07 17:44] dlepow commented on #38680
Apologies for slow response. The article was updated in October 2020  to clarify which events are deprecated and which are currently supported.
#please-close

[2021-06-07 17:44] #38680 closed

[2021-06-07 17:54] shashishailaj commented on #76487
@yuhuyuyu Thank you for your query . We will investigate and update the thread.

[2021-06-07 17:56] RonnieQuan opened #76508 "Email for Microsoft.Keyvault/vaults/accessPolicies[*]"
Hi There,

From Azure portal, keyvault access policy blade, it shows Name and email for the USER, is there alias available indicating the access policy is granted to a USER and exact user name or email address?

I'm not positive about it, since when list aliases, it only show following properties.
 Microsoft.Keyvault/vaults/accessPolicies[*].tenantId
 Microsoft.Keyvault/vaults/accessPolicies[*].ob

[2021-06-07 17:56] kamyker opened #76509 "What happens if free cosmos db account is deleted?"
Hello,
I'm trying to move my free cosmos db account to another region. https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-move-regions says that I in the end I have to remove the account and make a new one.

So my question is: if I delete the free account can I make new one or opt-in toggle is forever disabled?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2021-06-07 17:56] oleksiymumzhu commented on #42951
very pity :(

[2021-06-07 18:01] svangeti commented on #42951
LOL, It was just misconfiguration with the _subjectBeginsWith_

[2021-06-07 18:03] dlepow commented on #47169
Closing this issue as APIM zone redundancy is now supported in several regions, and this is documented at https://docs.microsoft.com/en-us/azure/api-management/zone-redundancy
#please-close

[2021-06-07 18:03] #47169 closed

[2021-06-07 18:16] Marusyk commented on #76423
@milismsft

because I (and my team)  use Windows for a development environment.  We use Visual Studio + Windows. But our services runs on Linux containers because we deploy them to a kubernetes cluster. A k8s doesn't support windows containers.
And you probably know that we cannot run Linux and Windows containers at the same time on Docker for Windows.

[2021-06-07 18:20] kobulloc-MSFT commented on #76503
@alexander-e-andrews Thank you for bringing this to our attention.  I've assigned this to the document author for review.

[2021-06-07 18:23] trevorbye commented on #74645
#please-close as this isn't specific to documentation on docs.microsoft.com

[2021-06-07 18:23] #74645 closed

[2021-06-07 18:30] HarshitaSingh-MSFT commented on #76491
@scarvalho-eng , please note that there might be more apps than that list but we don't have confirmation of what else is included. That is why we have written/mentioned it as `confirmed`. Let me know if it answers your query.

[2021-06-07 18:35] mike-urnun-msft commented on #76487
Hi @yuhuyuyu - Yes, you can certainly do both in APIM.

[2021-06-07 18:54] markjbrown commented on #76341
This will be addressed in #161374. Thanks for reporting.

#please-close

[2021-06-07 18:54] #76341 closed

[2021-06-07 18:59] trevorbye commented on #72111
This is already documented [here in the quickstart](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/get-started-text-to-speech?tabs=script%2Cwindowsinstall&pivots=programming-language-csharp#get-position-information).

#please-close

[2021-06-07 18:59] #72111 closed

[2021-06-07 19:06] DCtheGeek commented on #76508
@RonnieQuan Thanks for the question.  This appears to be more a support question for Key Vault than a question for Policy.  I'd recommend opening either a [Support ticket](https://azure.microsoft.com/support/create-ticket/) or trying on [Microsoft Q&A](https://docs.microsoft.com/answers/products/).  This isn't an issue with the docs, which is what this forum is for.  Thanks for understanding!

#as

[2021-06-07 19:06] #76508 closed

[2021-06-07 19:07] shivanissambare commented on #76035
Hi @crisansou

In order to deploy a registered model with online endpoints, you have two options
1. Managed
2. AKS

In machine learning studio UI, in the Models UI page select the model you wish to deploy and the Deploy button in command bar turns gray to blue, from the drop down select 'Deploy to real-time endpoints` preview
in the wizard screen you'll get an option to select the Compute Type `Ma

[2021-06-07 19:08] trevorbye commented on #72084
#please-close as it is unclear whether or not it is optional, and it may not be depending on region

[2021-06-07 19:09] #72084 closed

[2021-06-07 19:12] trevorbye commented on #70756
#please-close this has been added to the backlog as a docs enhancement

[2021-06-07 19:12] #70756 closed

[2021-06-07 19:13] crisansou commented on #76035
Hi @shivanissambare ,

Got it, thank you!

[2021-06-07 19:13] #76035 closed

[2021-06-07 19:20] trevorbye commented on #72492
#please-close we are discussing .mp3 support internally and will update docs

[2021-06-07 19:20] #72492 closed

[2021-06-07 19:23] mmacy commented on #70348
Sorry, @dhsl, not yet. I've done what I can on my side, it's still in @brandwe's court.

[2021-06-07 19:25] Borrelworst commented on #46511
@msrini-MSFT Is there any update on when this issue is going to be addressed? At this moment, the only way to use private endpoints in a secure way is to isolate them in separate VNETs and put something like a firewall in the mix. However, this makes the whole implementation complex and it is easier to just configure those services with public endpoints and add firewalls rules to those services.

[2021-06-07 19:40] GiftA-MSFT commented on #76403
Thanks @ajishanv, I've reached out to the product team to investigate further. Will share updates soon.

[2021-06-07 19:44] sidprasher opened #76511 "Clarification on SLA"
The document states -

"_Managed disks are designed for 99.999% availability_"

However the SLA for managed Disks (https://azure.microsoft.com/en-us/support/legal/sla/managed-disks/v1_0/) states the following -

"_Managed Disks does not have a financially backed SLA itself. The availability of Managed Disks is based on the SLA of the underlying storage used and virtual machine to which it is attac

[2021-06-07 20:08] SadiqhAhmed-MSFT commented on #76473
@DeanGross Please find the guidance here - https://docs.microsoft.com/en-us/azure/lighthouse/how-to/create-eligible-authorizations

[2021-06-07 20:11] SadiqhAhmed-MSFT commented on #76472
@DeanGross This is up to the partner/customer implementation. Since we recommend delegating Azure Lighthouse access to groups in the managing tenant, you can require MFA for those groups, or you can use the security defaults.

We don’t have any specific guidance beyond the general MFA guidelines [Azure AD Multi-Factor Authentication overview | Microsoft Docs](https://docs.microsoft.com/en-us/azure

[2021-06-07 20:12] DataGuys commented on #64909
I to am having this challenge, I can onboard to the LAW with the OMSagent on the Linux syslog-ng forwarder and after basic configuration I am able to get syslog data to ingest into the Syslog connector in Azure Sentinel. Once I install the CEF part of the solution I loose connectivity to Syslog and CEF starts working.  I have been trying for days to get both to work on the same box but I am unable

[2021-06-07 20:13] naymore opened #76515 "Fix SAS token documentation for event hubs"
[code]

Took me quite some time to figure this out.
This is actually wrong. There is no `/eventhubs/` segment.

http://contoso.servicebus.windows.net/eh1 does it.
Otherwise you will encounter invalid audience errors: EventHub InvalidAudience The authorization header contains a token with a wrong audience

Also - why is there no class to generate that SAS token. The class referenced is from an outd

[2021-06-07 20:13] SadiqhAhmed-MSFT commented on #76437
@chrisweis They are same APIs.

@mumami @bandersmsft For doc-enhancements/doc clarity

[2021-06-07 20:16] SadiqhAhmed-MSFT commented on #76380
@santhoshbomma9 The answer to your question - yes, a MACC eligible offer can either be public or private.

[2021-06-07 20:19] vasanthsubram commented on #76471
I found the problem and it was in the NSG of the vnet. Opened the ports and the sample application works.
Sorry for the false alarm

[2021-06-07 20:22] WhitWaldo opened #76516 "Link goes to wrong page"
The two links at the top, purportedly pointing to the C# reference and the Java reference both point to the Java reference. The C# link needs to be corrected to point instead to [https://docs.microsoft.com/en-us/dotnet/api/microsoft.servicefabric.services.remoting.fabrictransport.fabrictransportremotingsettings](https://docs.microsoft.com/en-us/dotnet/api/microsoft.servicefabric.services.remoting.

[2021-06-07 20:29] santhoshbomma9 commented on #76380
awesome, thanks @SadiqhAhmed-MSFT

[2021-06-07 20:29] #76380 closed

[2021-06-07 20:30] caiobelfort opened #76517 "Wrong preview method on page about Delta Live Tables"
[Enter feedback here]

This page says that Delta Live Tables is on Public Preview, but we actually don't have acess yet to the feature.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38ee4bbb-fda6-03ca-4b2e-a2d53a9c8bf6
* Version Independent ID: c789123f-78b9-f941-21f2-77988b076c65
* Content: [Delta Live Tables - Azure

[2021-06-07 20:48] eligoldner opened #76518 "Azure Stream Analytics auto-created sink table in Azure SQL with "Change Data Capture" has a too-wide key"
# Azure Stream Analytics needs a better choice for the key column in an auto-created table

## I have the following tech stack:
- SQL Server on-prem running 2019
- Change Data Capture (CDC) is enabled on one table for all columns
- Debezium is connecting that to Kafka for transport to AEH
- Azure Event Hubs (AEH) is my message broker for all changes
- Using Azure Stream Analytics (ASA) to stream t

[2021-06-07 20:49] JamesTran-MSFT commented on #76496
@Membaer
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-06-07 20:50] JamesTran-MSFT commented on #76501
@yayoayala
Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-07 21:01] Oury-MSFT commented on #76509
@SnehaGunda can customer add region to the free cosmos DB account without deleting the account.

[2021-06-07 21:07] bitsofinfo opened #76519 "example JSON in doc results in : ValueError: Unexpect element taskSlotsPerNode in template"
the example shows you can use `taskSlotsPerNode` but we get this error trying to specify that `ValueError: Unexpect element taskSlotsPerNode in template`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa4764ae-47a1-2764-98a1-b34f32c9e17e
* Version Independent ID: 7e02c746-ab94-6845-936e-95396cf29738
* Content: [Run job

[2021-06-07 21:11] Reece-McDowell opened #76520 "logical Disk example has a typo"
The logical Disk example has a typo, In Within ** ** below.

InsightsMetrics
| where Origin == "vm.azm.ms"
| where Namespace == "LogicalDisk" and Name == "TransfersPerSecond"
| extend Disk=tostring(todynamic(Tags)["vm.azm.ms/mountId"])
| summarize AggregatedValue = avg(Val) by bin(TimeGenerated, 15m) ** ) **, Computer, _ResourceId, Disk

It should be just

InsightsMetrics
| where Origin == "vm.azm

[2021-06-07 21:19] denious opened #76521 "Health Check for single instance"
The article states: "Your App Service plan should be scaled to two or more instances to use Health check."

I cannot find any information on what happens if health check is enabled on a single instance and, if health check restarts the single instance, how quickly?

Edited: title for clarity

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2021-06-07 21:42] DNADave1 opened #76523 "Databricks"
This page really doesn't tell me anything useful about what Databricks is.

Is it a container for helping analyze large amounts of data? I don't know.
How much data is big data? I don't know.
What can it do that I can't already do with my SQL database? I don't know.
What good is it -- why is it better than tech I already know? I have no idea.

---
#### Document Details

⚠ *Do not edit this section

[2021-06-07 21:42] tesharp opened #76524 "Routing rule for subpath"
By the description in this doc it looks like it is possible to create routing rules for subpaths and it will select the most specific one. For instance one routing rule for *www.test.com* with pattern /* and another *www.test.com* with pattern /api/\*. So the most specific one would override the wildcard one and all /api/\* calls would go to a different origin group.

However, that does not work f

[2021-06-07 21:54] himanshusinha-msft commented on #76357
@adneagu  : I was able to write the events to the EH with the send permission also .Please do let me know as to how is your setyup different then mine .

![image](https://user-images.githubusercontent.com/47539458/121092218-0d7e2e00-c7a0-11eb-9dfb-9c928b29aaf7.png)
![image](https://user-images.githubusercontent.com/47539458/121092287-271f7580-c7a0-11eb-9682-c2b6d45bc891.png)

[2021-06-07 21:58] sslepova commented on #76343
Hi! Thank you for the response. It seems the phrase from [this doc](https://docs.microsoft.com/en-us/azure/active-directory/develop/id-tokens): "ID tokens ... can be sent alongside or instead of an access token" misled me. Both articles mention access tokens, but it was not clear for me what sort of access token is [discussed here](https://docs.microsoft.com/en-us/azure/active-directory-b2c/idp-pa

[2021-06-07 21:58] #76343 closed

[2021-06-07 22:06] BeigeBadger opened #76525 "The character restriction for the status column is too short"
The length for the status column (10 characters) it too short for some of the example SQL statements to work. Specifically "in-progress" is over this limit.

`status VARCHAR(10)` should be updated to `status VARCHAR(12)`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1800bc69-1c54-7bb5-d127-0b5a94d3762d
* Version Indep

[2021-06-07 22:11] sunnyhay opened #76526 "How to update deployed web service on existing Azure App Service"
Hello,

  I know the feature is in preview. But just curious how to update a deployed web service on existing App Service in case of new model or dependency or entry script. For ACI/AKS the Webservice class is available in AML SDK or AZ cli. What about this AppService update?
  Thanks,

Harry

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2021-06-07 22:27] JamesEarle opened #76527 "Should be reorganized as a subpage of "Local Development""
Knowing how to develop your functions locally is crucial, yet the only information for running locally is for HTTP Triggered apps. This documentation was hard for me to find and would be easier if it was present under the "Local Development" section, not as its own page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f

[2021-06-07 22:33] #76283 closed

[2021-06-07 22:33] MashaMSFT commented on #75987
Hi @hogendoorn thanks for catching this! We've processed a change to the documentation to fix this.

Thanks for improving our docs! I'll close out this Git Issue but please feel free to comment should you need anything further.

Thanks again and I hope you have a wonderful rest of your day!
#assign:adbadram
#please-close

[2021-06-07 22:33] #75987 closed

[2021-06-07 22:42] Nicholak-MS commented on #76488
I have submitted a Pull Request to address these missing service plans.

#please-close

[2021-06-07 22:42] #76488 closed

[2021-06-07 22:58] mxrss2 opened #76528 "The Docs for AzureRuby is incorrect"
The command says to run `gem install Azure` this is not correct. It should be `gem install azure` .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84ddd12e-c440-9b9f-1b1b-117da2821530
* Version Independent ID: e8db80f9-96c1-18ab-a090-939b797c9666
* Content: [How to use Queue Storage from Ruby - Azure Storage](https://d

[2021-06-07 23:02] YutongTie-MSFT commented on #76526
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-06-07 23:06] sunnyhay commented on #76526
Thanks for the response.
Looks like this AZ command links ACR with created AppService and so may it be used as update approach? for instance, register a new model and then burn a new image. Next use this command for relinking?

"az webapp config container set --name <app-name> --resource-group myresourcegroup --docker-custom-image-name <acrinstance>.azurecr.io/package@sha256:<imagename> --docker-r

[2021-06-07 23:13] Karishma-Tiwari-MSFT commented on #76516
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

Thanks for improving our documentation! Just so you know, it's also possible to make these changes yourself, if you are interested. Doing so will improve our documentation, and it will add you as a contributor to the document.
In case you're interested, these are the steps to do so:
1.	Na

[2021-06-07 23:23] femsulu commented on #76520
Thanks for bringing this to our attention. We are actively investigating and will fix this shortly.

[2021-06-07 23:25] helplessJ opened #76529 "Any plan to incorporate a native param.bicep file type?"
Not an issue per se, but is there a plan in the future to incorporate a native param file based on bicep syntax?  Thank you friends

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cdf73225-d2e6-b23e-b355-fbb9d3fcdca3
* Version Independent ID: fa832878-9821-f222-5f15-ad8646737a04
* Content: [Create parameter file for Bic

[2021-06-07 23:27] femsulu commented on #76507
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-06-07 23:33] dlepow commented on #37991
Apologies for slow response. You can use the `az apim api import` CLI command or `Import-AzApiManagementApi` PowerShell command to import an OpenAPI spec or another supported formats.
#please-close

[2021-06-07 23:33] #37991 closed

[2021-06-07 23:34] Anand-Moghe opened #76530 "Can you please clearly explains whether AAD B2C is available in Azure Gov Cloud?"
I could not find any documentation or guidelines on how to use AAD B2C in MAG. If it is not officially supported, then can we add a statement in that regard in "Azure Gov cloud for developer" documentation?

Main problem is that since this information guidance/documentation is missing, several State and Local Gov customer are trying to test this feature in Azure Gov Cloud (MAG). So if they can cre

[2021-06-07 23:35] timsander1 commented on #76395
Yes, you can still use direct mode even if you have a dedicated gateway. You can connect to Cosmos DB with multiple clients, even if some use direct mode, some use the standard gateway, and some use the dedicated gateway.

For example, if you were moving a large amount of data into Cosmos DB, you might opt for direct mode while existing traffic uses the dedicated gateway (so it can leverage the in

[2021-06-07 23:37] selcukyavuz opened #76531 "Survey Link"
Survey is not active anymore. Link should be removed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42c7bf55-9a9e-9e54-15db-15c59a80d471
* Version Independent ID: b32d0d9a-99fd-9721-e093-54dfd43543ad
* Content: [Introduction to Azure Cosmos DB](https://docs.microsoft.com/en-us/azure/cosmos-db/introduction?WT.mc_id=tho

[2021-06-07 23:42] Anand-Moghe commented on #76018
@mikebudzynski  Is there a concrete answer to my question, because it sounds like you are not entirely sure if this can even be possible? This is going into undocumented territory and I would like to avoid any unnecessary effort trying to research or experiment on it.

[2021-06-07 23:47] femsulu commented on #76529
Thanks for bringing this to our attention. Your question has been shared with the content owner for further review.

[2021-06-07 23:52] arithi17 opened #76532 "Request to update document"
The document section on 'Configure App Service to return a usable access token' needs to be updated with the exact configuration steps and schema for Authentication v2.

https://docs.microsoft.com/en-us/azure/app-service/tutorial-auth-aad?pivots=platform-linux#configure-app-service-to-return-a-usable-access-token
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2021-06-07 23:54] ConnorMcMahon commented on #76532
This can be assigned to me.

[2021-06-07 23:54] MartinJaffer-MSFT commented on #76429
@marcerozba thank you for bringing this to our attention.   I have reproduced the issue, and I also see nulls there.

I do note the image in this document has non-null values there.  I speculate the data changed since it was taken.

Is this causing any issues for you?

[2021-06-07 23:55] miniGweek opened #76533 "Can't download the Power BI Template for NSG Flow logs."
- When I click on the hyperlink mentioned in "Download and open the following Power BI template in the Power BI Desktop Application Network Watcher PowerBI flow logs template"
which is https://aka.ms/networkwatcherpowerbiflowlogstemplate
it just redirects me to Bing search page, not really letting me download the template.
---
#### Document Details

⚠ *Do not edit this section. It is required for

[2021-06-07 23:56] arunmahadevan opened #76534 "Please provide docs on how to setup mysql private link connection via the APIs (azure-sdk-for-go)"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7752f46-a935-e4bd-51ec-11aecdf00ae5
* Version Independent ID: 6d14a6fc-3785-c3b2-8788-769ab172fad1
* Content: [Private Link - Azure Database for MySQL](https://docs.microsoft.com/en-us/azure/mysql/concepts-data-access-security-private-link)
* Content

[2021-06-08 00:04] allanlw commented on #72111
Hi @trevorbye and @ram-msft -- perhaps I was not clear. My request is specifically about the *HTTP* API. As far as I can tell, it is not documented how to get the position information from the API response: https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/rest-text-to-speech

[2021-06-08 00:04] mitulmk opened #76535 "This needs to be updated for Grafana 8.0. I can provide more details, here is a starter link: https://grafana.com/docs/grafana/next/whatsnew/whats-new-in-v8-0/#data-source-updates"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c06d7dad-f3ff-3a48-a3ea-fa9b8783e168
* Version Independent ID: b62676f2-1080-d13d-5e78-14ece3e11cec
* Content: [Monitor Azure services and applications using Grafana - Azure Monitor](https://docs.microsoft.com/en-us/azure/azure-monitor/visualize/grafa

[2021-06-08 00:09] SaiKishor-MSFT commented on #75608
@PhilipAnthonyMurray Apologize for the delay in rsponding to this issue.

For the v1 and v2 SKU, pattern matching of incoming requests is processed in the order that the paths are listed in the URL path map of the path-based rule. If a request matches the pattern in two or more paths in the path map, the path that's listed first is matched. And the request is forwarded to the back end that's assoc

[2021-06-08 00:12] Oury-MSFT commented on #76399
@ferno-ms could you please help with the above customer feedback. Do we need to add more details in the supported configuration section.?

[2021-06-08 00:14] RossMurr4y opened #76536 "Create new section for Static Web Apps usage of an Application Registration as one of the supported identity providers."
This page covers Single Page Application configuration using AAD as the identity provider, however it does not cover - and there are no other sections for - configuration of a Static Web App using AAD as the identity provider.

The page in the SWA documentation that covers this is fairly minimal, and doesn't make it clear

a) what a full configuration looks like for a SWA
b) that an Application Re

[2021-06-08 00:18] Oury-MSFT commented on #76531
@selcukyavuz Thank you for your feedback. We will raise a PR to update the doc.

[2021-06-08 00:34] xps233 commented on #76184
@GiftA-MSFT @prsandhu Hello Hi guys, is there any update yet? Much thanks for your checking on this!

[2021-06-08 00:36] prsandhu commented on #76184
This feature is targeted to be enabled during the 2nd half of the year.

[2021-06-08 00:37] stevevi commented on #76530
Hi @Anand-Moghe see this article that has a link to products by region dashboard.

https://docs.microsoft.com/en-us/azure/azure-government/compare-azure-government-global-azure#security

You will notice that Azure AD External Identities is currently in Preview with GA targeted for H1 2021.  You can also find pricing for US Gov regions on the pricing page for Azure AD External Identities.  Unless e

[2021-06-08 00:39] xps233 commented on #76184
@prsandhu Hi, Prab, thanks for your reply, so is this means there might be several months to go?

[2021-06-08 00:51] lobrien commented on #75059
Still investigating

[2021-06-08 01:11] exactmike opened #76537 "Typo in the first !Note on this page"
The last bullet in the first !Note box says "If you not using Azure AD Connect. . . . "  should say "If you are not using Azure AD Connect . . . ."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad8e93b0-2d8b-68c0-62ee-be44831b1557
* Version Independent ID: b55939f9-e552-9818-80b7-535601d4bc7b
* Content: [How to manage

[2021-06-08 01:32] rarandiv commented on #76341
Thanks for the update but what's the #161374? Is it a bug number @markjbrown @AnuragSharma-MSFT

[2021-06-08 01:41] GeoJim1218 opened #76538 "Is it possible that an AADSTS error response contains multiple error codes"
I have a question for AADSTS error codes.
[code]
error_codes is a string array here. So is it possible that an error response contains multiple error codes?
Can you give an example here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a826ee6f-f457-7109-9f77-67c57977d4e7
* Version Independent ID: 11766f27-492e-a579-dced

[2021-06-08 01:50] kj2whe opened #76539 "No such file of directory error when using local azuredeploy.json"
Doing this MS Learn exercise
[Create and deploy an Azure Resource Manager template](https://docs.microsoft.com/en-us/learn/modules/create-azure-resource-manager-template-vs-code/3-exercise-create-and-deploy-template?pivots=cli&source=learn)

Trying to run the following command against a local file **_c:\SomeDirectory\On\Local\Path\azuredeploy.json_**

`az deployment group create  --name $Deploymen

[2021-06-08 01:54] kobulloc-MSFT commented on #76511
@sidprasher Thank you for your question!  We are investigating this and will get back to you shortly.

[2021-06-08 02:27] shohamMSFT commented on #67870
@DrEnnui Thanks for the feedback! Soft-delete on key vault is indeed enabled by default for newly created vaults.
I will update this section of our documentation accordingly.

[2021-06-08 02:37] shohamMSFT commented on #67870
#please-close

[2021-06-08 02:37] #67870 closed

[2021-06-08 02:48] shohamMSFT commented on #74320
Regarding this - _"It is not clear how you would link both key vaults with SQL Server as the portal only allows linking to a single key vault (key/version) from the Transparent data encryption blade. Please would you explain how this can be achieved."_
- You can assign multiple encryption keys (from different key vaults) to the server at any point of time but only one of them can be set as the TDE

[2021-06-08 02:52] gmantri opened #76540 "Can Cosmos DB built-in roles be added to this page?"
Based on the content available here - https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-setup-rbac#built-in-role-definitions, it seems that there are two built-in roles available for Cosmos DB data plane API. However these roles are missing from the master list of built-in roles.

It would be great if these two built-in roles are also added on this page. As a developer, I would very much lik

[2021-06-08 02:54] donchai commented on #76485
Dear @shashishailaj and @TravisCragg-MSFT ,

Many thanks for reply. To reiterate the query in more appropriate form as below.

On-Premise -> ER Circuit 1 (primary and secondary ports for redundancy) -> Cloud Connect Provider A in peering location A -> ER  Circuit 1 of MSEEs -> VNET A ER GW A of Azure
On-Premise -> ER Circuit 2 (primary and secondary ports for redundancy) -> Cloud Connect Provider

[2021-06-08 03:01] shohamMSFT commented on #74320
Regarding the key properties for customer-managed TDE in GeoDR scenario, it is true that for a key generated in the primary key vault, key backup taken from primary key vault cannot be restored in a secondary key vault in a different Azure geography. So in that case we recommend customers to use a key that has been generated outside of Azure. Such a key can then be uploaded to key vaults in differ

[2021-06-08 03:01] shohamMSFT commented on #74320
#please-close

[2021-06-08 03:01] #74320 closed

[2021-06-08 03:02] SnehaAgrawal-MSFT commented on #76494
@realrubberduckdev Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-08 03:03] SnehaAgrawal-MSFT commented on #76498
@lenisha Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-08 03:18] CHEEKATLAPRADEEP-MSFT commented on #76517
@caiobelfort  To get access to the ADB Delta Live Tables you need to reach out to your sales representative at Microsoft.

![image](https://user-images.githubusercontent.com/79183421/121117756-4ec11d00-c836-11eb-8a0b-2971c98e7859.png)

In case, if you do not have a sales representative at Microsoft. I would suggest you file a support ticket and with a strong business use case.

Once you have creat

[2021-06-08 03:20] CHEEKATLAPRADEEP-MSFT commented on #76515
@naymore  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-06-08 03:40] SnehaAgrawal-MSFT commented on #76187
@madhj We will now proceed to close this thread. If there are further questions regarding this matter, please let us know.

[2021-06-08 03:40] #76187 closed

[2021-06-08 03:49] pauldulong opened #76543 "jwt.ms requiring implicit grant"
For context, this is my first time working with this Azure product coming from AWS. I was pleasantly surprised that my previous feedback was picked up so quick, thank you for that. This is my third attempt to set up this product with a SPA. I will report my findings from that POV.

Related to my [previous ticket](https://github.com/MicrosoftDocs/azure-docs/issues/76486) I suggest you also state on

[2021-06-08 03:51] SaiKishor-MSFT commented on #75961
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-06-08 03:51] #75961 closed

[2021-06-08 03:57] pauldulong opened #76544 "Identity provider not available"
For context, this is my first time working with this Azure product coming from AWS. I was pleasantly surprised that my previous feedback was picked up so quick, thank you for that. This is my third attempt to set up this product with a SPA. I will report my findings from that POV.

Under the **Create a profile editing user flow**, it states: For Identity providers, select **Local Account SignIn**.

[2021-06-08 04:00] SaiKishor-MSFT commented on #76203
@MasterKolka Apologize for the delay in response.

As shown in the below snapshot, the subresource as shown in Portal is SingnalR and not signalr. Could you explain why this should be signalr further in more detail? Thank you!

![image](https://user-images.githubusercontent.com/68254272/121120847-44216c00-c7d3-11eb-869d-106812e2bcf1.png)

[2021-06-08 04:03] SaiKishor-MSFT commented on #76524
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-06-08 04:23] SwathiDhanwada-MSFT commented on #76535
@mitulmk Thanks for your comment. We will review the issue and get back to you shortly.

[2021-06-08 04:24] pauldulong opened #76546 "Missing setting up an API in previous tutorials, unclear URL location"
For context, this is my first time working with this Azure product coming from AWS. I was pleasantly surprised that my previous feedback was picked up so quick, thank you for that. This is my third attempt to set up this product with a SPA. I will report my findings from that POV.

I've completed the first three tutorials to create the tenant, register the SPA application and create the user flows

[2021-06-08 04:31] AjayKumar-MSFT commented on #76532
@arithi17, Thanks for the feedback!  We (@ConnorMcMahon) are taking a look into this and will get back to you soon.

[2021-06-08 04:31] shashishailaj commented on #76538
@GeoJim1218 Thank you for your feedback . We will investigate and update the thread.

[2021-06-08 04:32] AjayKumar-MSFT commented on #76521
@denious, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-06-08 04:33] mike-urnun-msft commented on #76518
Hi @eligoldner - Thank you for sharing your feedback! Since this channel is for driving improvements towards MS Docs, could you provide us with a specific URL of the MS Doc that your feedback is most applicable to? That way, we're able to connect you with the right team that is best suited to address your feedback.

[2021-06-08 04:34] mike-urnun-msft commented on #76519
Hi @bitsofinfo - Thank you for sharing your feedback! Since this channel is for driving improvements towards MS Docs, could you provide us with a specific URL of the MS Doc that your feedback is most applicable to? That way, we're able to connect you with the right team that is best suited to address your feedback.

[2021-06-08 04:35] SwathiDhanwada-MSFT commented on #76539
@kj2whe Thanks for reaching out. Can I know where are executing these az commands?  Recommendation for the exercise to work is  you need to sign in to your Azure account from the Visual Studio Code terminal. Be sure you have the Azure CLI tools installed, and sign in with the same account you used to activate the sandbox and deploy template to Azure,

[2021-06-08 04:36] mike-urnun-msft commented on #76527
@JamesEarle Thank you for your feedback! We will review and update as appropriate.

[2021-06-08 04:56] ShaikMaheer-MSFT commented on #76523
@DNADave1 Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-06-08 05:00] ShaikMaheer-MSFT commented on #76525
@BeigeBadger Thank you for feedback. We are actively investigating and will get back to you soon.

[2021-06-08 05:03] BhargaviAnnadevara-MSFT commented on #76528
@mxrss2 Yes, that is correct. Thank you for catching that error in the docs. We shall update the document accordingly.

[2021-06-08 05:07] thiruma0203 opened #76547 "Actual behavior of "End of life date for Image versions" does not match explanation in the document."
The documentation currently has following statement.

_End of life date. **Date after which VMs can't be created from this image**._

However, actual behavior is that users can still use the image version even after defined end of life date.
Additionally, Azure portal also has below explanation when hovering mouse cursor on  End of life date setting.

`Inform version consumers of the end of life d

[2021-06-08 05:24] psmanhas commented on #76471
@vasanthsubram Thank you for confirming on same.
We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

Thanks

[2021-06-08 05:24] #76471 closed

[2021-06-08 05:32] AnuragSharma-MSFT commented on #76395
Thanks @timsander1 for the information.

@balusmsft Please let us know if you need any more details.

[2021-06-08 05:35] v-vikum2 commented on #76496
**@Membaer can you please share your organizational email id so that we can add that in our portal? Once we add that in our portal, you will be able to join the portal and submit the request.**
For open-id, you need to submit the separate request in our portal  with different name as "Picturepark" is already listed in the Azure AD gallery and we cannot publish two apps with same name. -

![image](

[2021-06-08 05:50] VikasPullagura-MSFT commented on #76547
@thiruma0203
Thanks for the feedback! We are currently investigating and will update the document accordingly.

[2021-06-08 05:56] Klaas- opened #76548 "Python 2 no longer needed"
update management no longer needs python2, it will work fine with a python3 system like rhel8.4

https://github.com/MicrosoftDocs/azure-docs/blame/master/articles/automation/update-management/overview.md#L124

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cda4ec71-9492-2ac6-1030-dcd004826aa0
* Version Independent ID: 7

[2021-06-08 05:58] Klaas- opened #76549 "Document usage of /etc/environment"
Hi,
update management (or one of it's dependencies) sources /etc/environment at runtime. This should be documented for people who need custom environment variables set during updating (for example to automatically accept new EULAs)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cda4ec71-9492-2ac6-1030-dcd004826aa0
* Ve

[2021-06-08 06:02] Continuitis commented on #76480
Just an update:
I manage to get my token by using this code:https://github.com/Azure-Samples/active-directory-dotnetcore-daemon-v2/blob/df2e402ace323f63f543d52f7694b73d6f8185f5/2-Call-OwnApi/daemon-console/Program.cs
A bit different as I think it's using the V2 +  lib.
Would you suggest to use this code in my case?

Anyway it doesn't explain why I get this CORS issue above.
Also should you conside

[2021-06-08 06:16] HarshitaSingh-MSFT commented on #76492
Just checking in to see if you have had a chance to see the previous response. Kindly let us know if you need further assistance on this issue or is good to be closed.

[2021-06-08 06:19] ShaikMaheer-MSFT commented on #76493
@kromerm Could you please validate feedback and add requested details

[2021-06-08 06:20] HarshitaSingh-MSFT commented on #75766
We are making appropriate changes to make two topics consistent. Please expect for us to go live with this change this afternoon 4 PM PST.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-06-08 06:20] #75766 closed

[2021-06-08 06:21] HarshitaSingh-MSFT commented on #76491
Hello!
Just checking to see if you have had a chance to see the previous response. Kindly let us know if it answers your question and if you need further assistance on this issue.

[2021-06-08 06:21] HarshitaSingh-MSFT commented on #76328
Just checking in to see if you have had a chance to see the previous response. Kindly let us know if you need further assistance on this issue or is good to be closed.

[2021-06-08 06:22] HarshitaSingh-MSFT commented on #76336
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-06-08 06:22] #76336 closed

[2021-06-08 06:22] ShaikMaheer-MSFT commented on #76495
@SiobhanBaynes Thanks for the feedback! I have assigned the issue to the content author(@mssaperla ) to evaluate and update as appropriate.

@leifbro could you please look into the above issue?

[2021-06-08 06:25] ShaikMaheer-MSFT commented on #76523
@DNADave1 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

@mamccrea Could you please look into this issue?

[2021-06-08 06:30] RohitMungi-MSFT commented on #76326
@shonohs Thanks for the update.
We will now proceed to close this thread as the same works with General Compact domain. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2021-06-08 06:30] #76326 closed

[2021-06-08 06:33] klenium commented on #76493
Hello @ShaikMaheer-MSFT , what feedback and request are you taling about? I don't see any change on the page, nor more comment here which requests more info

[2021-06-08 06:36] Arithmomaniac opened #76550 "[DataLake] missing "404 ContainerNotFound" error code"
DataLake documentation
https://docs.microsoft.com/en-us/rest/api/storageservices/datalakestoragegen2/filesystem/delete#response

The list of possible error codes doesn't contain `404 ContainerNotFound: The specified container does not exist.` This is what is returned by e.g. deleting a non-existent filesystem, as you can see in the [.NET SDK Tests](https://github.com/Azure/azure-sdk-for-net/blob/d

[2021-06-08 06:37] OlehRb commented on #43257
@ksolberg
We were also able to set the `sourcePattern` to `/`, using azure-cli command:

`az cdn endpoint rule action add -g {GroupName} --profile-name {CDNProfileName} --name {CDNEndpointName} --rule-name {RuleName} --action-name UrlRewrite --source-pattern / --destination /index.html --preserve-unmatched-path false`

[2021-06-08 06:41] ShaikMaheer-MSFT commented on #76525
Thanks for pointing out the issue, I've addressed this issue in [https://github.com/MicrosoftDocs/azure-docs-pr/pull/161458](PR:https://github.com/MicrosoftDocs/azure-docs-pr/pull/161458)

 The changes should be live EOD or tomorrow. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contributions.

[2021-06-08 06:41] #76525 closed

[2021-06-08 06:44] kobulloc-MSFT commented on #76511
@sidprasher Please correct me if I'm wrong here, @roygara but my understanding is that "designed" in the documentation means that the service was built to perform at 99.999% availability even though there isn't a financially backed SLA.

As far as the SLA for the underlying services, availability increases dramatically when you create replicas which is one of the benefits of Azure Managed disks.

[2021-06-08 06:54] pauldulong opened #76551 "Steps in request API Permissions not in sync with documentation"
For context, this is my first time working with this Azure product coming from AWS. I was pleasantly surprised that my previous feedback was picked up so quick, thank you for that. This is my third attempt to set up this product with a SPA. I will report my findings from that POV.

I've completed the first three tutorials to create the tenant, register the SPA application and create the user flows

[2021-06-08 06:56] thomasvdb commented on #76408
@ThomasWeiss We're using it for isolation purposes. When a user accesses our application, they access it in a particular security context. There's a direct link between this security context and the partition key in our collections.

So when the user accesses the application for the first time, we create a user and give it read/write permission on that particular partition key only. Everytime a qu

[2021-06-08 07:14] pauldulong opened #76552 "Unable to return name from Azure AD in sample code"
For context, this is my first time working with this Azure product coming from AWS. I was pleasantly surprised that my previous feedback was picked up so quick, thank you for that. This is my third attempt to set up this product with a SPA. I will report my findings from that POV.

I've completed the first three tutorials to create the tenant, register the SPA application and create the user flows

[2021-06-08 07:19] AjayKumar-MSFT commented on #76215
@MattAllison, Hope the response from Izchen helped clarify. Since there is no doc update at this time, we will close this out, but if you feel you need more information please just let us (@femsulu) know.

[2021-06-08 07:19] #76215 closed

[2021-06-08 07:39] vipulsparsh commented on #76536
@RossMurr4y Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-06-08 07:41] vipulsparsh commented on #76537
@exactmike Thanks for the feedback. We will engage the content development team to perform necessary changes in the document.

[2021-06-08 07:41] vipulsparsh commented on #76540
@gmantri Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-06-08 07:43] vipulsparsh commented on #76543
@pauldulong Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.