[2020-09-28 16:53] #63131 closed

[2020-09-28 17:00] dsindona commented on #63311
@keferna can you confirm character maxes for the following:

- fully custom contract/terms (is there a limit? doesn't seem to be when i test)
- custom amendment to the standard contract (looks like 4k INCLUDING whitespace. I get a warning when over 4k)
- universal amendment to the standard contract (looks like 4k INCLUDING whitespace. I don't get a warning, but the UI just cuts off my text at 4k)

[2020-09-28 17:02] erhopf commented on #61317
#reassign: @trevorbye

Trevor, can you figure out how we should work this into Speech documentation. At a minimum linking to deeper examples within LUIS.

[2020-09-28 17:05] x509cert opened #63406 "Incorrect RSA and Symmetric Key Size"
[Enter feedback here]

Two instances

but the example is for 3072-bit

also

the example is:

Also, the example references EC:

when it should be AES

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73a19fb7-9612-02ba-846f-b42295cbf16f
* Version Independent ID: ac20cc02-dca2-d836-68a5-83d6df8a90f0
* Content: [Manage keys

[2020-09-28 17:06] JamesTran-MSFT commented on #63406
@x509cert
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-28 17:07] mohitsog opened #63407 "No docs for publishing managed images / packers to marketplace"
Opening it again because did not get any answer on https://github.com/MicrosoftDocs/azure-docs/issues/37716

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 997bd215-ce76-1307-cf80-80b55b672940
* Version Independent ID: 468bf824-3e4b-f095-3904-fe1a151160e8
* Content: [Create an Azure virtual machine offer on Azure Market

[2020-09-28 17:10] NavtejSaini-MSFT commented on #63403
@sunilprabha We are checking this and we will get back to you.

[2020-09-28 17:13] cwickham33 opened #63409 "This page calls out not using Task.Delay in a loop while the Custom orchestrations page shows exactly that."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d1a5a8a-2bff-1994-59bf-708900728297
* Version Independent ID: 9e1a5c40-686d-78b5-37f6-b16b4e0843e4
* Content: [Timers in Durable Functions - Azure](https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-timers?tabs=csharp)
*

[2020-09-28 17:28] mgblythe commented on #60571
Hi @jvossers - we don't have any scripts available for testing at this time. I have forwarded information to the product team, and I'll update this item if anything becomes available. Thanks for submitting the issue! #please-close

[2020-09-28 17:28] #60571 closed

[2020-09-28 17:32] BhargaviAnnadevara-MSFT commented on #63404
@ZohairTharani Thanks for the question. As @anganti mentioned [**here**](https://github.com/Azure/static-web-apps/issues/5#issuecomment-632850259), for preview, GitHub Actions is the only supported way to build and deploy. Supporting other CI/CD pipelines including Azure DevOps and/or CLIs is currently work in progress. Please feel free to leave your feedback as a comment there or open an issue wi

[2020-09-28 17:35] ChaitanyaNaykodi-MSFT commented on #63121
Hello @mganeshphani
Thank you for reaching out. When you [manually set the scale-out setting](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/autoscale-get-started?toc=/azure/app-service/toc.json#disable-autoscale-and-manually-scale-your-instances) to “1” this means only single instance of your function app will be running at any given time. As mentioned in the document each instance

[2020-09-28 17:40] slimbentami opened #63411 "Is there a way to have "read" activities logged as well as "write" activities in the activity log (or elsewhere)?"

[2020-09-28 17:48] dotnetmirror opened #63412 "deleting - wrong wording during function enable feature"
[Enter feedback here]
These buttons work by creating and **deleting** the AzureWebJobs.<FUNCTION_NAME>.Disabled app setting.
If we click on Enable button from Function it is not deleting the ap settings instead it is making AzureWebJobs.<FUNCTION_NAME>.Disabled = 0

So the statement should not contain deleting words.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2020-09-28 17:49] #63411 closed

[2020-09-28 17:49] slimbentami opened #63413 "Is there a way to have "read" activities logged as well as "write" activities in the activity log (or elsewhere)?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3675fdf-bb64-d92d-3d3c-b4b3aa0dd0d2
* Version Independent ID: ab6754aa-a227-3c9c-6e99-d89ddfa25c78
* Content: [Azure Activity log - Azure Monitor](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/activity-log)
* Content Source: [articles

[2020-09-28 18:01] SnehaGunda commented on #62058
#please-close

[2020-09-28 18:01] #62058 closed

[2020-09-28 18:01] mgblythe commented on #48506
Thanks for the feedback @mschrisran and sorry to be so late in responding to this issue. I understand your concerns with wildcards, and I've forwarded this information to the product team. They are looking into this but there is no firm date for an update to the lists we publish. I'm closing out this issue, but I'll update it if I get new information. #please-close

[2020-09-28 18:01] #48506 closed

[2020-09-28 18:07] isaac99 commented on #63384
https://docs.microsoft.com/en-us/azure/cosmos-db/create-cassandra-python

I attempted to follow the tutorial there but connections failed when I put in the information from my cosmos cassandra db. One thing that looked clearly wrong was the ssl_version in ssl_opts. Here is a link to that specific section:

https://docs.microsoft.com/en-us/azure/cosmos-db/create-cassandra-python#review-the-code

[2020-09-28 18:08] aburleigh94 opened #63415 "Delete Entity sample code is incorrect"
The Delete Entity sample code reproduces the RetrieveEntityUsingPointQueryAsync sample code from the preceding code block.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef1295f9-eab5-8918-ab99-3a20b8723805
* Version Independent ID: 0e551ce1-761a-d379-7b6c-4caf49c5bbb2
* Content: [Azure Cosmos DB Table API using .NET S

[2020-09-28 18:13] danewalton commented on #63135
@rido-min okay that makes a little more sense. I do think it can be a little more clear the perspective of the document. For example with the "Read-only properties" section, it says

Which leads me to believe that this is the JSON that the device would send (hypothetically think a scenario where someone was just connecting to the Hub with their own MQTT library and doing this raw). The title on th

[2020-09-28 18:23] SnehaGunda commented on #63384
@Rodrigossz can you please look into this issue?

[2020-09-28 18:24] the-blesss opened #63417 "Suggest adding CSP to the Eligibility Criteria and updating the error code found in the portal"
The Microsoft.AVS resource provider is available in CSP, but this document says only EA is supported under the Elgibility Criteria. When you try to deploy AVS before whitelisting under a CSP subscription, the error tells you that you need an EA, which I don't think is correct, but it is the same error you get under an EA that has not been whitelisted yet.
![AVS_Error](https://user-images.githubuse

[2020-09-28 18:32] Rodrigossz commented on #63384
@SnehaGunda , I think that @TheovanKraay is the best person to take a look since it is Python but not Python SDK, that only works with SQL API.

[2020-09-28 18:40] KumudD commented on #62389
@ramandhillon84 Please can you review and provide your feedback. Thanks!

[2020-09-28 18:40] WinstonHoward-MSFT commented on #63044
Hi @writex ,

While the quickstart guide you are following is intended to show you how to deploy a .NET app with Service Fabric, you are correct in that Visual Studio 2019 supports other container orchestrators such as Docker Compose.

[2020-09-28 18:42] #63044 closed

[2020-09-28 18:46] AlexDenton opened #63419 "Use azure app config values for topic name and connection"
I'm using Azure App Configuration for many of the settings on my function. However, it does not appear that I can use those values for the topicName and connection of a service bus triggered function. Is there a way of doing this?

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec838379-f1fa-0cab-ff31-3bb1b30a7

[2020-09-28 18:51] JnHs commented on #63358
Hi @RonnieQuan, these are separate features and that scenario is supported if it meets your needs. Of course, using private endpoints with pools that don't use public IP addresses is also a supported scenario although you are correct, pools without public IP addresses are still in public preview at this time.
I will close this issue now but let us know if there are further issues related to this d

[2020-09-28 18:51] #63358 closed

[2020-09-28 18:53] jason-love commented on #61640
Is there an update on this? I'm experiencing the same issue.

[2020-09-28 18:53] luisquintanilla commented on #62453
I don't believe so. When did you create this workspace? Also, as of last week, there's no longer the option of choosing a workspace edition (basic/enterprise). Can you please try going through the flow again using brand new resources and seeing if you still get the error.

Thanks.

[2020-09-28 19:02] AjayKumar-MSFT commented on #63257
James,  your feedback has been shared with the content owner to see if some clarity on this is required in the document.

[2020-09-28 19:04] luisquintanilla commented on #62453
@nkma1989 also, just to confirm, you used the files provided by the tutorial and were not  using your own custom scripts / solutions.

[2020-09-28 19:16] mikben commented on #63195
Thanks for the heads up, @razvansalajan. I've corrected the logic per your suggestion and you should see these changes live soon.

[2020-09-28 19:20] WinstonHoward-MSFT commented on #63252
Hi, @writex, I've made a PR to add some clarifying information to the doc. Thanks for the feedback. I am closing this issue now.

[2020-09-28 19:20] #63252 closed

[2020-09-28 19:23] mikben commented on #63195
@AjayKumar-MSFT the relevant PR has been merged: https://github.com/MicrosoftDocs/azure-docs-pr/pull/131688

Feel free to close this up :)

[2020-09-28 19:37] AjayKumar-MSFT commented on #63195
Dan, you should see the document reflect the updated changes shortly. So, we will now proceed to close this thread. If there are further questions regarding this matter, please tag us in your reply. We will gladly continue the discussion.

[2020-09-28 19:37] #63195 closed

[2020-09-28 19:39] jason-love commented on #61640
I found a solution. You have to manually convert the contents of your OpenSSH key file to Base64 format before storing it into the Azure Key Vault secret. Azure Data Factory must be doing this conversion automatically when reading directly from a file, but not when reading from the AKV secret.

[2020-09-28 19:43] asudbring commented on #54792
Placed ticket with sitehelp to change link to proper feedback link

#please-close

[2020-09-28 19:43] #54792 closed

[2020-09-28 19:43] ChaitanyaNaykodi-MSFT commented on #63128
Hello @zaalion, I am sorry for the delay in my response. Just to clear my understanding when you refer to REST calls, do you mean say these [.NET libraries](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-properties-metadata?tabs=dotnet#set-and-retrieve-metadata) using which we can set or retrieve metadata for the blob?

[2020-09-28 19:48] taromielnaz opened #63421 "Vague information"
There are three options for configuring an existing workspace from the Azure portal. Not explained good. The steps are vague

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00343476-cbb4-2f94-a164-e094fece7a6d
* Version Independent ID: 8cbbab0d-a0f2-fe64-bb5a-1e280c5332b2
* Content: [Configure Log

[2020-09-28 19:49] paramrsingh opened #63422 "Updates may be needed for azure-storage-blob package"
Tried running through this as-documented, but ran into package errors. Doc likely needs updates to "Create Batch pool using Batch Explorer" step 3,e. Where you specify the command you also need to include a pip install for azure-storage-blob. My working version of this reads as cmd /c "pip install pandas azure-storage-blob"

Additionally, the script itself won't work with the older BlockBlobServic

[2020-09-28 19:52] qhaitoNNV opened #63423 "Custom IKE/IPsec Policies for IKEv1 Connections using Azure Portal"
Usually one can configure custom IKE/IPsec policies (without being able to enable policy-based traffic selectors) on IKEv1 Route-based Connections using PowerShell or Azure CLI.

With this new update where custom policies can be configured on the Azure portal, I just discovered that with IKEv1 Route-based Connections, it is not possible to configure custom policies.

Would this be addressed later

[2020-09-28 19:55] ChaitanyaNaykodi-MSFT commented on #63380
Hello @phatcher,  Thank you for your feedback! We will review and update as appropriate.

[2020-09-28 19:56] KranthiPakala-MSFT commented on #63388
@vreezy
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2020-09-28 19:58] ChaitanyaNaykodi-MSFT commented on #63382
Hello @look-im-not-your-daddy,  Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2020-09-28 19:59] ChaitanyaNaykodi-MSFT commented on #63398
Hello @ekalyvio, Thank you for your feedback! We will review and update as appropriate.

[2020-09-28 20:02] ChaitanyaNaykodi-MSFT commented on #63409
Hello @cwickham33, Thank you for your feedback! We will review and update as appropriate.

[2020-09-28 20:04] ChaitanyaNaykodi-MSFT commented on #63412
Hello @dotnetmirror, Thank you for your feedback! We will review and update as appropriate.

[2020-09-28 20:05] ABHISHEKPANDEY-GitHub opened #63424 "Issue with Input Dataset"
The details on Input Dataset is missing in this page. At the beginning, it asks to create an empt.txt file which is a binary file for blob storage but the screenshot on the data is csv. This page needs to be updated with correct details.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3da2d20f-0457-b8af-2f72-84741e8cb81

[2020-09-28 20:10] ABHISHEKPANDEY-GitHub opened #63426 "Issue regarding Input Dataset"
The details on Input Dataset is missing in this page. At the beginning, it asks to create an empt.txt file which is a binary file for blob storage but the screenshot on the data is csv. This page needs to be updated with correct details.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2eeeaf10-1280-fb39-7365-bd626d719d7

[2020-09-28 20:11] #63424 closed

[2020-09-28 20:11] ABHISHEKPANDEY-GitHub commented on #63424
Created for a wrong page

[2020-09-28 20:16] NavtejSaini-MSFT commented on #63062
@MashaMSFT Please check this issue and provide guidance or point to correct POC.

[2020-09-28 20:17] LastTribunal opened #63427 "pool replication commands"
Bellow is an expert from this page where a connection is made to a database
But if we are replicating pools, why do we need to connect to primary database?
Does this mean I have to set up replication for each database in the pool??

# Establish Active Geo-Replication
$database = Get-AzSqlDatabase -ResourceGroupName $primaryResourceGroupName `
    -ServerName $primaryServerName `
    -DatabaseName

[2020-09-28 20:20] #61934 closed

[2020-09-28 20:21] KarlErickson commented on #34650
This topic has been updated and no longer refers to zip deployment. #please-close

[2020-09-28 20:21] #34650 closed

[2020-09-28 20:22] roninstar commented on #62959
could you provide us with a link to the REST API that we can use for this function?  thanks for following up and letting us know it will be added to the SDK in the future.  best regards,
Mark

[2020-09-28 20:28] NavtejSaini-MSFT commented on #63228
@peagerm Just some clarification needed here, When you say a VM are you referring to SQL server on a VM which is an IaaS DB or something else. As this document states it only applies for Azure SQL service which is PaaS Database

![image](https://user-images.githubusercontent.com/52257742/94482623-94a5eb80-01a7-11eb-9fa5-65b823adca73.png)

Please provide clarification for taking this further.

[2020-09-28 20:35] rjmccallumbigl opened #63428 "Recommending minor update to "Error 53, Error 67, or Error 87 when you mount or unmount an Azure file share""
Recommending minor update to "Error 53, Error 67, or Error 87 when you mount or unmount an Azure file share". For mitigating **Cause 2: NTLMv1 is enabled**, if you set `HKLM\SYSTEM\CurrentControlSet\Control\Lsa > LmCompatibilityLevel` to 3, and this value reverts back to 1 a minute or two later, that means this setting is controlled by Group Policy.

The policy is **Security Options -> Network sec

[2020-09-28 20:44] kgremban commented on #57535
Hi @weiqing-beijing Thank you for pointing out this gap in the downstream authentication docs. I've opened a pull request to add information about how to build a connection string if you use X.509 certificates, and since it's a straightforward fix I'll have github close this issue automatically when that's merged.

For your other comments around missing information about X.509 authentication in C,

[2020-09-28 20:45] #57535 closed

[2020-09-28 20:45] n-irwin commented on #63192
Yep you are correct, thanks for the clarification

[2020-09-28 20:45] #63192 closed

[2020-09-28 20:54] MarileeTurscak-MSFT commented on #63390
Thanks @MathiasVandePol .

I made a pull request to update the document. https://github.com/MicrosoftDocs/azure-docs-pr/pull/131744

[2020-09-28 20:54] #63390 closed

[2020-09-28 20:55] jkatebin commented on #62959
@roninstar check out https://docs.microsoft.com/en-us/rest/api/speakerrecognition/identification/textindependent/listprofiles

Below is a quick snippet I threw together in C# if it helps.  Needs a lot before being ready for production of course, but like you I plan to use the SDK so this was just for testing until it gets wrapped in by Microsoft.

[code]

[2020-09-28 20:56] JamesTran-MSFT commented on #63218
@benrfairless
Since I haven't heard from you for the past couple days, I'll go ahead and close out this issue. If you still require assistance or have any questions, please tag me and I'd be more than happy to re-open this issue and continue working with you.

Thank you for your time and patience!

[2020-09-28 20:56] #63218 closed

[2020-09-28 20:56] NavtejSaini-MSFT commented on #63233
@AbhishekShaha The note is as stated below:
_The term "users" refers to users within a Hyperscale (Citus) server group. To learn instead about Azure subscription users and their privileges, visit the Azure role-based access control (Azure RBAC) article or review how to customize roles._

It states the users mentioned in document are only valid for Hyperscale Citus server group and doesn't correspo

[2020-09-28 21:03] NavtejSaini-MSFT commented on #63354
@huanminwu The document links to following link where Alter Database command can be used for changing the values or tier for the azure SQL.

https://docs.microsoft.com/en-us/sql/t-sql/statements/alter-database-transact-sql?view=azuresqldb-current

Hope this helps. Please get back to us if any other question.

[2020-09-28 21:10] craigktreasure commented on #62827
@hwinstonuconn `Debug.Log` messages are only available when debugging your application in the `Debug` configuration from Visual Studio.

[2020-09-28 21:11] brightneuron commented on #63131
Hi @YutongTie-MSFT,
I have finally managed to successfully create the resource in West Europe. Not sure what was causing it to fail originally.
Thanks for following up, happy to keep the issue closed.

[2020-09-28 21:13] pradeep20mce opened #63429 "Question on pattern to create item"
[This page suggests that we read the cosmos document and if it does not exist, then create it. Is this the suggested pattern? What if we try to create the item as the first step and if it already exists, we can handle "Conflict" http status. Is there any difference in terms of Request Units consumed in either of these approaches?]

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2020-09-28 21:16] Camios commented on #63274
@SubhashVasarapu-MSFT if there’s no sizing choice why does the second paragraph I quoted say “The Application Gateway Standard is offered in three sizes: Small, Medium, and Large?

[2020-09-28 21:18] NavtejSaini-MSFT commented on #63415
@aburleigh94 We are checking this and will get back to you.

[2020-09-28 21:19] NavtejSaini-MSFT commented on #63427
@LastTribunal We are checking this and we will get back to you.

[2020-09-28 21:20] NavtejSaini-MSFT commented on #63429
@pradeep20mce We are checking this and will get back to you.

[2020-09-28 21:20] MarileeTurscak-MSFT commented on #63055
Hi @lchen016,

As mentioned in [B2C considerations](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-net-aad-b2c-considerations), the ROPC flow is not recommended because asking a users for their passwords in your application is not secure.

"By using username/password in an ROPC flow, you sacrifice several things:

Core tenets of modern identity: The password can be fished or

[2020-09-28 21:20] #63055 closed

[2020-09-28 21:20] lokijota opened #63430 ""Export as-is to JSON files or Cosmos DB collection" option does not exist"
The page is supposed to refer to Azure Data Factory v2 (the "current version"), and this version does NOT have the option mentioned in the subject. The documentation should be corrected to explicitly refer this, or leave it only in the documentation for v1.

This is a duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/12356, which was incorrectly closed.

---
#### Document Details

⚠

[2020-09-28 21:31] mjrodrigue commented on #18258
Same issue here, I lost code without a warning.

[2020-09-28 21:32] craigktreasure commented on #62827
@AshokPeddakotla-MSFT I've addressed this confusion in a recent. PR.

[2020-09-28 21:36] #63430 closed

[2020-09-28 21:38] roninstar commented on #62959
thanks very much! this makes sense

[2020-09-28 21:48] lchen016 commented on #63055
Thanks for your reply.
The reason ROPC is used is that the existing client is using direct authentication to access a resource account.  I know MFA has to be disabled for the account when ROPC is used.  Is this MSFT specific implementation that MFA has to be disabled in order to support ROPC - "Users who need to do MFA won't be able to sign in (as there is no interaction)."?    What type of intera

[2020-09-28 21:50] jluk commented on #63325
This was a known issue in how AKS was handling casing when passing addons to AKS. We have recently made a change to respect the casing of user input.

This related issue may provide more insight: https://github.com/Azure/azure-rest-api-specs/issues/10716#issuecomment-696944005

[2020-09-28 21:51] theheatDK commented on #63345
Ah of cause. Thanks @AnuragSharma-MSFT :-)

[2020-09-28 21:51] #63345 closed

[2020-09-28 21:55] DerekHerman-MSFT commented on #63428
@rjmccallumbigl Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-09-28 21:56] hpsin commented on #63055
MFA generally requires e.g. the interactive use of auth app, email OTP, device OTP, or device based auth on demand.  You cannot satisfy those requirements via a POST request to the login server that is not interactive. You can use refresh tokens to extend the lifetime of your session silently, or use a service principal in place of a user account.

[2020-09-28 22:03] fob2000 opened #63434 "Azure VMWare Solution also available on CSP"
Azure VMWare Solution is also available to CSP.  The product indicates a support request must be open but if this is on CSP the partner must do it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de30f887-dc94-c858-0e2b-43a36b469c0a
* Version Independent ID: bfef2884-da32-ea81-21ba-421a3061102e
* Content: [How to enable

[2020-09-28 22:18] kobulloc-MSFT commented on #63419
@AlexDenton Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2020-09-28 22:19] LastTribunal commented on #63427
I understood the doc.  its not a problem with the doc.. its a problem with the architecture
You have to specify every single database that you want to add to the replication list.  This is a problem since it creates a manual overhead for an automatic process.  In my case for example, I have a new database added to the elastic pool for every new tenant
So I have to create a process to add newly cre

[2020-09-28 22:22] JamesTran-MSFT commented on #63317
@phuong-vo
Are you using Intune to manage your devices?
Can you try selecting a [specific cloud app](https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/concept-conditional-access-cloud-apps#microsoft-cloud-applications)? i.e. Microsoft Teams.
Have you looked into any of the other ["Grant Access"](https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/con

[2020-09-28 22:24] MarileeTurscak-MSFT commented on #63155
Hi @greendx,

Currently users need to have global administrator, cloud application administrator, or application administrator roles. There is no existing feature for alerting non-admin users. The only thing I could think of is for an admin to sign in on behalf of the regular user and manually create a trigger for this.

I would highly recommend leaving this feedback as a feature request in user v

[2020-09-28 22:24] #63155 closed

[2020-09-28 22:26] JamesTran-MSFT commented on #63389
@mikedangel
Are you able to provide the doc link where you're seeing that quote? Within the [link attached to this issue](https://docs.microsoft.com/en-us/azure/active-directory/identity-protection/howto-identity-protection-configure-notifications), I'm not able to find any statement that says "Users in the Global administrator, Security administrator, or Security reader roles are...."

[2020-09-28 22:27] JamesTran-MSFT commented on #63401
@jbailey-limgeomatics
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-09-28 22:30] rwike77 commented on #51589
Closing this issue, I believe it has been answered.  Sign frequency in conditional access [now applies to MFA](https://docs.microsoft.com/azure/active-directory/conditional-access/howto-conditional-access-session-lifetime#user-sign-in-frequency-and-multi-factor-authentication).  #please-close

[2020-09-28 22:30] #51589 closed

[2020-09-28 22:31] JamesTran-MSFT commented on #63406
@x509cert
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-09-28 22:38] ChaitanyaNaykodi-MSFT commented on #63246
Hello @KitSkin, Looks like you had made a [PR](https://github.com/MicrosoftDocs/azure-docs/commit/bd7a252ebecc823ed58fc403e15cf29413d927e2#diff-ad82428d7fa387b7ead28e13ac26540e) for the suggested changes and those are merged now. Thank you so much for taking efforts in improving the documentation. I will now proceed to close this issue, as proposed changes have been merged. Thank you!

[2020-09-28 22:38] #63246 closed

[2020-09-28 23:01] MartinJaffer-MSFT commented on #63158
Hello @susanchen33 I just attempted to reproduce your issue, using the same version (6.4).
I did not get your specific error message.  I did encounter a windows firewall popup.   I did get `ERROR Shell: Failed to locate the winutils binary in the hadoop binary path` and  `py4j.protocol.Py4JJavaError: An error occurred while calling None.org.apache.spark.api.java.JavaSparkContext.
: com.fasterxml.j

[2020-09-28 23:07] writex opened #63437 "Add Project Reference Ambiguity"
This page says, "The client project also requires a reference to the interfaces project. In the ActorClient project, right-click Dependencies and then click Add reference"

In VS 2019 there are two choices: 1) Add Project Reference, or 2) Add Shared Project Reference.

Which choice is it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-09-28 23:19] JamesTran-MSFT commented on #63406
@x509cert
I've created a PR to update the text to reflect the correct keys 3072 and 256. However, I'll let the author investigate and update the actual code change to AES.

![image](https://user-images.githubusercontent.com/36619112/94493133-b18af080-01a0-11eb-9225-94942a567854.png)

[2020-09-28 23:20] MartinJaffer-MSFT commented on #63158
Ahh I found why I didn't get your error.
![image](https://user-images.githubusercontent.com/46612670/94495358-5fe56480-01a6-11eb-9dfd-8850af77958b.png)
I'll continue trying.  Please let me know if you are still facing the issue, @susanchen33 .

[2020-09-28 23:26] lyrana commented on #63359
Thank you @tymtam2
PR out, this should go out with the next build or the one after, will close once it's live

@tymtam2 apart from the above error re the plant IDs, how are you doing re shaping your JSON? Has this doc helped you get more clear on a shape and your TS ID and timestamp properties?

[2020-09-28 23:28] li-leyang opened #63438 "Correct way to provide Azure storage resource ID to access multiple storage accounts"
Our use case:
We have multiple storage accounts in use per environment. When requesting oauth token, is it possible to provide a resource ID that can access multiple storage accounts within a single environment?

For instance:
One of our environment(env1) has following storage accounts:
- https://env1-a.blob.core.windows.net
- https://env1-b.blob.core.windows.net

Another of our environment(env2)

[2020-09-28 23:31] BustosMSFT commented on #61571
Hi @redtaped If the geo-secondary is dropped then we remove the geo-primary from the Failover Group,
this would cause the Failover Group endpoint to stop working for the primary, (the endpoint of the primary may not stop working immediately but after some minutes) this can be a problem if the user is not expecting it.
If you plan to delete both databases (primary and secondary) the primary will be

[2020-09-28 23:42] x509cert commented on #63406
i think the last example is also incorrect, as you're using an AES key and then an EC key - the latter is not a symmetric key. lemme know if you need to chat...

[2020-09-28 23:51] MartinJaffer-MSFT commented on #63158
I am not trying on a linux VM.  This does run the scala tests.
Here are the results when I mis-configure individual items:

When I gave a bad cluster ID I got the same error message you did.
When I gave the wrong URL I got the same error message you did.
When I gave a bad token, I got the same error message you did.
When I create the cluster and forget to add `spark.databricks.service.server.enabl

[2020-09-29 00:02] susanchen33 commented on #63158
Thanks so much for getting back to me on the issue.  That does help.
In the meantime, the error in my case is that the PYSPARK_DRIVER_PYTHON was
set to ipython and after unset it, the test was able to go through.

Thanks again,
Susan

On Mon, Sep 28, 2020 at 4:51 PM MartinJaffer-MSFT <notifications@github.com>
wrote:

[2020-09-29 00:24] amitbapat commented on #63406
Thanks for pointing out the error on EC key. I have pushed a fix. Should be live soon.

[2020-09-29 00:45] NillsF opened #63441 "disks.create_or_update() in newest Azure python SDK got renamed to disks.begin_create_or_update()"
Code examples for creating or updating disks in Python not up to date anymore.

disks.create_or_update() in newest Azure python SDK got renamed to disks.begin_create_or_update(). The page should be reviewed in depth to make sure everything still works.

Needs to be updated in multiple documents (I'll open another issue for another document where I found the issue)

---
#### Document Details

⚠ *Do

[2020-09-29 00:52] Karishma-Tiwari-MSFT commented on #63422
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-09-29 00:53] gregtampa commented on #22134
outlook for windows dont support mfa.. so how you suppost to check your email on an admin account if you turn this off?

[2020-09-29 00:54] Karishma-Tiwari-MSFT commented on #63411
Is this issue resolved or you still need help?
Please provide us with the link to the documentation you are referring to so we can better assist.

[2020-09-29 00:54] Karishma-Tiwari-MSFT commented on #63417
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-09-29 00:56] Karishma-Tiwari-MSFT commented on #63441
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-09-29 00:57] KranthiPakala-MSFT commented on #63289
@YoshicoppensE61
Thanks for leveraging Azure docs feedback channel to raise this question. This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. We didn't determine any changes for this documentation upon reviewing this feedback.

If your issue is specific to a use case, we request you to please reach out in forums like [Microsoft Q&A](ht

[2020-09-29 01:01] slimbentami commented on #63411
It is nt resolved. i opened a new issue with (i hope) the right references:

[2020-09-29 01:12] kazshi commented on #63276
@SwathiDhanwada-MSFT Thanks for your comment.
Unfortunately I cannot get data with the query since I have no data that meets the conditions on my environment.
I understand that the column names in the samples on this page are not correct, please correct the column names in the samples.

[2020-09-29 01:18] hariAtVonto opened #63443 "Three links in the "Learn More" section don't work"
The three links in the "Learn More" section don't work. https://docs.microsoft.com/en-us/azure/databricks/security/data-governance#learn-more

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 548e3b80-6b2f-81e6-d544-a0ddec13c709
* Version Independent ID: 6943675f-dd84-40dd-86db-27e98ff08efa
* Content: [Best practices- Dat

[2020-09-29 02:04] KrishnaG-MSFT commented on #63407
@mohitsog Thanks for the comment.
Assigning @emuench for visibility, review and document enhancement consideration.

[2020-09-29 02:06] KrishnaG-MSFT commented on #63413
@slimbentami Thanks for your comment! We will review and provide an update as appropriate.

[2020-09-29 02:11] KrishnaG-MSFT commented on #63421
@taromielnaz Thanks for your comment! We will review and provide an update as appropriate.

[2020-09-29 02:31] MayankBargali-MSFT commented on #63391
@willnix86 Looking into the backend logs I can see that there was no function name 'bar*****' and the excepted is expected when the event grid tries to deliver the event to the configured endpoint. In this case, the function app was not found. Further looking into the backend logs it looks like you have tried to create the deployment (function app) during that time and it fails. Please redeploy yo

[2020-09-29 02:42] AshokPeddakotla-MSFT commented on #62827
@craigktreasure Thanks for the PR.
@hwinstonuconn We hope that address your query. Do let us know if you have any other queries.

[2020-09-29 02:47] MayankBargali-MSFT commented on #63118
@MortezaDamavandpeyma-TomTom Sure I will reach out to the content author and see how best we can add this information in our document. Yes, it will refresh JWKS and revalidate the previously failed request.

Please let me know if you have any further queries.

[2020-09-29 03:00] NavtejSaini-MSFT commented on #63075
@jolauMSFT We are assigning this to our doc author for further review.
@yegu-ms Please check and provide guidance.

[2020-09-29 03:56] ram-msft commented on #63161
@karangupta8 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-09-29 03:56] #63161 closed

[2020-09-29 04:01] Mike-Ubezzi-MSFT commented on #63331
@rishabh5j Yes, indeed. MSI is supported by Azure Cosmos DB. Please see: [Support MSI (Managed Service Identity) direct access to Cosmos DB](https://feedback.azure.com/forums/263030-azure-cosmos-db/suggestions/33896353-support-msi-managed-service-identity-direct-acce) & **Tutorial:** Use a Windows VM system-assigned managed identity to access Azure Cosmos DB ([Link](https://docs.microsoft.com/en-u

[2020-09-29 04:03] CHEEKATLAPRADEEP-MSFT commented on #63426
@ABHISHEKPANDEY-GitHub  Thanks for bringing this to our attention. Your feedback  has been shared with the content owner for further review.

[2020-09-29 04:11] CHEEKATLAPRADEEP-MSFT commented on #63443
@hariAtCba Thanks for bringing this to our attention.  I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-09-29 04:14] #63276 closed

[2020-09-29 04:14] tymtam2 commented on #63359
I don't actually remember the reason I ended up at the JSON shaping help pages. :)

The new doc is clear.

[2020-09-29 04:24] SwathiDhanwada-MSFT commented on #63276
@kazshi I have made changes to the document and they will live un 24 hours. We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2020-09-29 04:25] KalyanChanumolu-MSFT commented on #63277
@Bouke Technical support on GitHub is limited to documentation issues only.
Please post future issues on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/questions/topics/single/25398.html) for better visibility.

Coming to your issue, the recommendations should expire in about 3 - 4 days and disappear without your intervention.
You can also choose to discard the recommendation if you beli

[2020-09-29 04:26] kazshi commented on #63276
@SwathiDhanwada-MSFT Thanks for your quick update!

[2020-09-29 05:04] AnuragSharma-MSFT commented on #63194
@akashperfect You can refer to below verbatim from the [link](https://docs.microsoft.com/en-us/azure/cosmos-db/manage-with-powershell#regenerate-keys):
"When you create an Azure Cosmos account, the service generates two master access keys that can be used for authentication when the Azure Cosmos account is accessed. Read-only keys for authenticating read-only operations are also generated. **_By p

[2020-09-29 05:16] CHEEKATLAPRADEEP-MSFT commented on #63430
Duplicate of #12356

[2020-09-29 05:19] AnuragSharma-MSFT commented on #63236
@robwafle Please let us know if you were able to look into above reply?

[2020-09-29 05:24] psmanhas commented on #63437
@writex Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2020-09-29 05:24] psmanhas commented on #63437
@vturecek Can you please check and add your comments on this doc update request as applicable

[2020-09-29 05:29] palma21 commented on #63375
It has a preview note right at the top, could you clarify what's missing?

[2020-09-29 05:43] jeffw-wherethebitsroam opened #63446 "How to get the StorageSharedKeyCredential"
It would be very useful for the v12 examples if you explained where the magical `StorageSharedKeyCredential` comes from. There doesn't seem to be any obvious way to get this from a connection string.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ba8dd43-ef02-5c5c-382d-f8d653721280
* Version Independent ID: 4127d388-f

[2020-09-29 05:46] lyrana commented on #63359
@tymtam2 okay good to hear! Don't hesitate to open more issues with feedback, comments, questions etc. on any of the doc pages.

[2020-09-29 05:46] SumanthMarigowda-MSFT commented on #63202
@diegodct The PR request has been raised! It will be update very soon. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-09-29 05:46] #63202 closed

[2020-09-29 05:47] lyrana commented on #62999
This page will be removed to reduce confusion with Gen2, will update PR status here

[2020-09-29 05:50] SumanthMarigowda-MSFT commented on #63224
@subhankars  Thanks for the update!  Are you looking for this article https://docs.microsoft.com/en-us/azure/storage/blobs/versioning-overview , If not,  I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions rega

[2020-09-29 05:50] #63224 closed

[2020-09-29 05:53] SumanthMarigowda-MSFT commented on #63379
@hphuhtin  Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-09-29 05:55] KalyanChanumolu-MSFT commented on #63194
@akashperfect You cannot use Managed identity to query data from CosmosDB.
Your app can authenticate itself via Managed Identity, retrieve the keys via [List Keys API](https://docs.microsoft.com/en-us/rest/api/cosmos-db-resource-provider/2020-04-01/databaseaccounts/listkeys) and use the keys to connect to CosmosDB using the Cosmos client. This is a control plane operation.
Please check the sample

[2020-09-29 05:59] pvrk commented on #63136
@david-stewart-palapanou : Since "--output tsv" works for both (Windows and Linux), the document is already modified and we removed the 'TR' part. Hope this is enough and we can close this issue.

[2020-09-29 06:01] RohitMungi-MSFT commented on #63346
@damochiz All the import scenarios point to the same [ExplanationClient ](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-machine-learning-interpretability-aml#generate-feature-importance-values-via-remote-runs)but the future releases of the SDK will have guidance to use only the following:

`from azureml.interpret import ExplanationClient`

Our team is working to update the documen

[2020-09-29 06:04] AshokPeddakotla-MSFT commented on #63088
@dvescovi1  As suggested, please check the troubleshooting. Since there is no issue with the documentation, please post to [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/) and we will happily continue the conversation.

If you have documentation-related feedback, please create a new issue linking the exact document that you would like to change.

We will now proceed to close this thread.

[2020-09-29 06:04] #63088 closed

[2020-09-29 06:10] souravmishra-msft commented on #63342
Closing this thread out since got no more responses on it.

[2020-09-29 06:10] #63342 closed

[2020-09-29 06:12] souravmishra-msft commented on #63067
Hi, @li-leyang, just wanted to check if there are any more questions around this, or are we good to close the thread out.

[2020-09-29 06:14] vipulsparsh commented on #57088
@BakkerJan Thanks for reaching out and apologies for delay on this due to some internal issues.
I understand your concern about being able to add the group but no users from that group being added when you check in AU.

The Faq guide will help you : https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/roles-admin-units-faq-troubleshoot

* **What does it mean to add a group to

[2020-09-29 06:14] #57088 closed

[2020-09-29 06:19] vipulsparsh commented on #63367
@Moodjbow Thanks for the feedback, I am reaching out to PG internally to seek their comment. Will keep you posted.

[2020-09-29 06:24] Gavinlenton opened #63447 "Azure Kinect support Australia"
# Azure Kinect support for Australia

Azure Kinect is not available for purchase in Australia.
![image](https://user-images.githubusercontent.com/8083865/94520548-cedac000-026f-11eb-8d37-e190a2c19008.png)
I am hoping to find out more around the supply side of things, as I would like to a large volume of Azure Kinects in the near future (likely before the end of the year).  Would anyone be able to

[2020-09-29 06:31] GitaraniSharma-MSFT commented on #63423
@qhaitoNNV , thank you for your question. I checked the Azure portal and found that custom policy option is not available for Route-based IKEv1 connections as you mentioned:
![image](https://user-images.githubusercontent.com/67630903/94521156-303c6800-024b-11eb-8d6a-38206c32f12e.png)

Hence, we have assigned this issue to the respective product owner to provide further update.

@yushwang , Could y

[2020-09-29 06:33] lonevvolf commented on #33157
I don't understand - we just ran into this as well.  What is the proper configuration here??

[2020-09-29 06:34] aelij opened #63448 "Can resource graph query nested resources?"
For example, how do I list `Microsoft.Storage/storageAccounts/blobServices`?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b0b3fab4-e51e-14d4-25cc-a753b0459044
* Version Independent ID: ade4ab02-b9bd-053d-6672-0617ef2cd750
* Content: [Starter query samples - Azure Resource Graph](https://docs.microsoft.com/en-us/azure

[2020-09-29 06:54] akashperfect commented on #63194
@KalyanChanumolu-MSFT This is the scenario, we are using AKS cluster to run our services and they are creating the cosmos client using Managed Identity. Now as the steps are outlined that using Managed Identity we first fetch the primary key and then we use that to create cosmos client, using this command
`            CosmosClient client = new CosmosClient(cosmosDbEndpoint, keys.primaryMasterKey);

[2020-09-29 07:01] david-stewart-palapanou commented on #63136
Thank you @pvrk - yes that's great. Please go ahead and close this issue.

[2020-09-29 07:05] pvrk commented on #63136
Thanks David. Closing the issue.
#please-close

[2020-09-29 07:05] #63136 closed

[2020-09-29 07:08] roity57 opened #63450 "Network Security configuration for ASE initiating calls to resources on-premises."
The document states "If the apps in your ASE make calls to resources in your VNet or across a VPN, the source IP is one of the IPs in the subnet used by your ASE"  Can you please be more specific here?  A specific example would be good detailing more under what condition this might be required and a pattern detail to the nature of the use of the IP Addresses.  Otherwise at-least a documented secur

[2020-09-29 07:15] cybersai29 opened #63451 "A simple video would be more useful than the screenshots."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d4a33b0-87d0-f60c-1b52-aeafa889e657
* Version Independent ID: c281bdb7-c98c-6853-5077-41b3dd44d3a2
* Content: [Configure Azure Active Directory authentication - Azure SQL Database & SQL Managed Instance & Azure Synapse Analytics](https://docs.microso

[2020-09-29 07:29] SwathiDhanwada-MSFT commented on #63448
@aelij Thanks for your comment. We will review the issue and get back to you shortly.

[2020-09-29 07:31] SwathiDhanwada-MSFT commented on #63447
@Gavinlenton Thanks for your comment. We will review the issue and get back to you shortly.

[2020-09-29 07:53] AnuragSharma-MSFT commented on #63451
@cybersai29 Thanks for the feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2020-09-29 07:59] SwathiDhanwada-MSFT commented on #63292
@JoshStead OMS agent is the managed component, it should be part of kube-system namespace. If moved to any namespace there will be issues for data collection and monitoring. Is there any reason why you want to move it to the different namespace?

[2020-09-29 08:17] ErisMeiyang opened #63452 "Should highlight the limitation of Delegate login Identity of B2B"
For AADAP, there are several types of login identity, including UPN and SamAccountName.

There is a customer that tying to use Samaccountname for B2B users, and AADAP auto fallback to user UPN as login Identity but customer's application does not support UPN, so the authentication will be failed.

However, in this document, there is no where mentioned this point.

We suggest to add a note to highl

[2020-09-29 08:24] SubhashVasarapu-MSFT commented on #63274
@Camios, the second paragraph is about standard (V1),
![image](https://user-images.githubusercontent.com/44890829/94532237-389c9f00-025b-11eb-9aa0-3dffc218bac4.png)

[2020-09-29 08:28] GitaraniSharma-MSFT commented on #62979
@yushwang , could you please provide some insights on this query? The command "azure config mode asm" doesn't seem to be working any longer. Is there a change in this command?

[2020-09-29 08:34] souravmishra-msft commented on #63173
looping in @psmanhas on this. @psmanhas, can you please take a look at this and share your views.

[2020-09-29 08:36] Camios commented on #63274
ah okay not sure how I missed that “v1”

[2020-09-29 08:36] #63274 closed

[2020-09-29 08:47] Manishjpradhan opened #63453 "Azure Synapse Spark pools- % run command to run 1 notebook from anothar"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-09-29 09:16] CHEEKATLAPRADEEP-MSFT commented on #63453
@Manishjpradhan Unfortunately, there is no magic command available called "%run".

For more details, refer "[Azure Synapse Analytics - magic commands](https://docs.microsoft.com/en-us/azure/synapse-analytics/spark/apache-spark-development-using-notebooks#magic-commands)"

You can use familiar Jupyter magic commands in Azure Synapse Studio notebooks. Review the following list as the current availab

[2020-09-29 09:25] BobbyCGD commented on #19456
Sadly this happened https://developercommunity.visualstudio.com/content/problem/1189404/azuredevops-dont-considerate-as-microsoft-services.html. Disappointing.

[2020-09-29 09:27] lonevvolf commented on #33157
After opening a ticket with Azure support, I have received their official answer:
"As explained during our conversation, Application Gateway currently does not support integration with Key Vault if Key Vault is not configured to allow “Public Endpoints (all networks)” access.
We are currently working internally with the necessary teams to support all networking configurations on Key Vault with reg

[2020-09-29 09:28] yelevin commented on #63348
Thanks for your question! I'm checking on that now and will make corrections and clarifications as necessary.

[2020-09-29 09:31] mikedangel commented on #63389
Hi James. The quote is not from a documentation page, but from the actual Identity Protection configuration page:
![image](https://user-images.githubusercontent.com/61316224/94540712-0d0fb980-0247-11eb-8389-4dc851486aaa.png)

this page is changed from that explained in the documentation (I think)

thanks

[2020-09-29 09:38] markorudloff commented on #62675
@SaurabhSharma-MSFT
I am now able to load the modules and run the commands successfully - there was a problem with the installed modules on my PC as well; fixed it via uninstall/install.

New Message:
`New-AzureADMSInvitation -InvitedUserEmailAddress email@test.de -SendInvitationMessage $True -InviteRedirectUrl "http://myapps.microsoft.com" -InvitedUser $msGraphUser`
`New-AzureADMSInvitation : Err

[2020-09-29 09:40] feiskyer commented on #60461
@TomGeske yea, the connections to kube-apiserver and tunnel are going through private link in private cluster.

[2020-09-29 09:55] NickEales opened #63454 "instructions are incorrect"
This section for UserErrorVmProvisioningStateFailed contains incorrect instructions. The VMSnapshot extension was removed from the Azure portal, but these instructions require that to be there to resolve these issues.

This was discussed here - but the issue remains:
https://github.com/MicrosoftDocs/azure-docs/issues/6076

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2020-09-29 09:59] SwathiDhanwada-MSFT commented on #63434
@fob2000 Thanks for your comment.

@shortpatti Can you please review this issue and update the document accordingly?

[2020-09-29 10:02] dcurwin commented on #63454
#reassign:GeethalakshmiG

[2020-09-29 10:10] TomGeske commented on #60461
Great! @zr-msft and @miwithro can you help to update our docs?

[2020-09-29 10:12] swapnild2111 opened #63455 "Azure portal shows wrong case for word publicipprefixes"
Hello,
I am not sure if this is the right place to raise this, please guide if its not.

I had raised an issue with Terraform community: https://github.com/terraform-providers/terraform-provider-azurerm/issues/8658

However it seems to be an issue with Azure portal.

So the issue is: Resource ID shown for Public IP Prefix is in all lower case, which is creating failures in Terraform side.

For exa

[2020-09-29 10:21] falrnacn opened #63457 "Document out of sync with Portal."
Steps 4 and 5 are not available in the portal.

[2020-09-29 10:24] SadiqhAhmed-MSFT commented on #63454
@NickEales Thanks for bringing this to our attention. This issue has been assigned to the content owner for further review.

[2020-09-29 10:28] AnuragSharma-MSFT commented on #63194
@akashperfect As mentioned by Kalyan, this is a manual switch that needs to be performed in code itself. Below is the pseudo code which can be utilized to achieve the same. **_Please note that while you initialize the Cosmos Client, it would not throw any error even with the non-functional key, just when you hit the cosmos operation then it throws the error._** Hence code needs to be injected wise

[2020-09-29 10:37] SnehaAgrawal-MSFT commented on #63450
@roity57 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-29 10:38] jotavar opened #63459 "date needs updating"
Following statement needs update: "The Health feature is going to transition to a private preview at the end of June 2020"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0526b200-ba5c-5427-35a8-1290d23bcada
* Version Independent ID: 4ca174bd-6fbb-7b74-8065-eaabdb10a699
* Content: [Azure Monitor FAQ - Azure Monitor](htt

[2020-09-29 10:41] frvigano opened #63460 "Full Notebook"
I think that we should provide a full sample with a notebook as we do with many other features of AML. We used to have a notebook showing the end-to-end experience that has been removed from the official collection.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5ec57fee-a0d0-c9a7-eeb2-90b9223b932c
* Version Independen

[2020-09-29 10:43] LeonidasKapassakalis opened #63461 "pyodbc is not working for Python 3.6 3.7 till 2020/09/24 Fix it or revoke doc"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7027370-2cda-fc7c-68f4-9f6aeeb4ee80
* Version Independent ID: 025794c1-a35e-2c6e-15ae-c0985a2ee082
* Content: [Use Python to query a database - Azure SQL Database & SQL Managed Instance](https://docs.microsoft.com/en-us/azure/azure-sql/database/conne

[2020-09-29 10:44] btastic commented on #12993
I just stumbled upon this issue while googling.

We are currently using Azure B2C with the ROPC login flow.

So we just send username, password, grant_type=password, scope, client_id, response_type=id_token to https://<our_tenant>.b2clogin.com/<our_tenant>.onmicrosoft.com/oauth2/v2.0/token?p=B2C_1_ROPC

This works very well so far. Now we want to change the password via the same procedure. Just se

[2020-09-29 10:57] Manishjpradhan commented on #63453
Thanks @CHEEKATLAPRADEEP-MSFT . Is there any alternative to call 1 notebook from anothar ? We have a lot of common functions which we will need to replicate in all notebooks instead of keeping them in 1 notebook and call it from others.

[2020-09-29 11:01] eric-labelle opened #63462 "Maximum tags documented at 60 seems invalid."
The page mentions that there is maximum 60 tags but I just added 72 tags for my device and it's working well, so not sure this limit is still valid.

Azure Notification Hubs supports a maximum of 60 tags per device.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1fe12c8b-5f7b-be6f-9db0-1009a27ceef8
* Version Independen

[2020-09-29 11:07] AnuragSharma-MSFT commented on #63461
@LeonidasKapassakalis Thank you for the feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2020-09-29 11:07] BASFmthibodeaux opened #63463 "Login from a principle user not seen in 60 days"
[Enter feedback here]
Dear Sir or Ma'am,

After reviewing an alert (double checking the alert list) we have noticed that the library does not have the following.Can you please update this so that we can properly link the item with the method to respond when such items come up?

Thanks,

Mciahel

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-09-29 11:09] HarithaMaddi-MSFT commented on #63347
@sc-bperry - Thanks for detailed inputs and valuable feedback. We dont have environment to repro and check if below suggestion helps. Kindly let us know if modifying the type to **string** in JSON here during deployment will work in this scenario.
![image](https://user-images.githubusercontent.com/61235246/94550982-3db91880-0272-11eb-9188-4cf8de9098a3.png)

[2020-09-29 11:15] goblinfactory commented on #19456
I've not been keeping an eye on this thread...it's soo old, and yet it is still a problem, but life has to go on.
below is a workaround i'm using, that seems to be working well for me, i.e.

- use a storage key
- and use ** az storage blob upload-batch**

this approach may not work for you, but just in case it does here's a sample pipeline script you can experiment with;
https://gist.github.com/go

[2020-09-29 11:18] willnix86 commented on #63391
Thanks for looking. Something must have been playing up in portal then because the function app was deployed seemingly fine! I tried deleting and recreating it several times but to no avail, so there must have been something happening behind the scenes whereby it LOOKED like it had provisioned correctly, but hadn’t.

Either way, finally got it working using the exact settings from the tutorial, ju

[2020-09-29 11:36] yelevin commented on #63348
@elygre The answer to your question is, **_both_** the MSSP **_and_** any managed customers must have the Azure Sentinel resource providers (Microsoft.OperationalInsights and Microsoft.SecurityInsights) registered on at least one subscription each.

The relevant screen name is indeed **\<subscription name\> | Resource providers**.

These changes will be made in the documentation.

Thank you for yo

[2020-09-29 11:38] 5eba5tian00 opened #63464 "Xero Azure Data Factory connector operates successfully for 30 minutes, then fails"
Hi, The ADF Data Factory Xero connector runs successfully as a linked service for appox. 30 minutes, but then starts failing.
I am using the OAuth 2.0. config, and suspect it is to do with the refreshing of the token.

I have followed the instructions at Xero for configuring OAuth (links below), can confirm offline_access is scoped, and am obtaining the refresh token initially via Postman. I can a

[2020-09-29 11:46] SumanthMarigowda-MSFT commented on #63438
@li-leyang Thanks for the question! We are investigating and will update you shortly.

[2020-09-29 11:50] MayankBargali-MSFT commented on #63391
@willnix86 Thanks for your update. You can always navigate to the [activity log](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/activity-log) to verify whether the operation was successful or failed. The portal notification (failed/succeeded) should match the same result as activity logs. If you found any issue with that you can always reach out to the Azure support team for further

[2020-09-29 11:50] #63391 closed

[2020-09-29 11:58] chayanbaner commented on #62381
Resolved notifications are still not sent!! What info or log can I provide?

[2020-09-29 12:06] SwathiDhanwada-MSFT commented on #63457
@falrnacn Can you please provide the document you are referring to so that we can look into it?

[2020-09-29 12:06] AshokPeddakotla-MSFT commented on #63278
Adding @shreyasharmamsft for helping in this query. Please check this query and provide your suggestions.

[2020-09-29 12:09] AnuragSharma-MSFT commented on #63271
@RonnieQuan Please let us know if you were able to look into above reply and if you need more details.

[2020-09-29 12:11] SwathiDhanwada-MSFT commented on #63464
@5eba5tian00 Thanks for your comment. We will review the issue and get back to you shortly.

[2020-09-29 12:12] AnuragSharma-MSFT commented on #63381
@pochiraju Thanks for pitching in and providing your valuable inputs on the issue.

@Tbohunek Please let us know your thoughts on the above reply. If you have more questions, we can gladly continue the discussion.

[2020-09-29 12:14] pagrenin opened #63465 "Use Azure-Paired regions in your examples"
When providing examples, to the degree possible use examples that take into account Azure best practices like utilizing Azure-paired regions.  In the example, East US and Central US were used.  Recognizing any region can be used, unless there is a reason not to, it seems that East US 2 and Central US should be used instead.  I welcome the feedback on applying Azure best practices and following the

[2020-09-29 12:18] chayanbaner commented on #62381
Some more info that can be added:

Filter for both monitor conditions
![image](https://user-images.githubusercontent.com/8225013/94557217-e61faa80-027b-11eb-8c90-af0dd32cf070.png)

Resource was down till 28th 12PM and then resource came up, no Resolved notification was sent. Resource/Ping test failed again around 12 midnight again “Fired” notification was sent.
![image](https://user-images.githubu

[2020-09-29 12:24] SwathiDhanwada-MSFT commented on #62381
@chayanbaner We recommend engaging our technical support team to investigate further. Please file a support case using [these steps](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). If you do not have a support plan, send mail to AzCommunity[at]microsoft[dot]com, include your subscription ID and a link to this GitHub thread (for context).

[2020-09-29 12:29] SwathiDhanwada-MSFT commented on #58032
@aliabbasmanager The document has been updated with Python3 example. As there are further documentation changes, we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2020-09-29 12:29] #58032 closed

[2020-09-29 13:07] fume commented on #63374
@shashishailaj , re-reading the docs several times i understood that ClaimReferenceIds are not important in this TP, as most of them are "positional". Probably it could be better explained in the docs.

regards,

[2020-09-29 13:14] joseba-altran opened #63466 "ADT - TSI integration page incorrectly references Event Grid"
The [page](https://docs.microsoft.com/en-us/azure/digital-twins/how-to-integrate-time-series-insights#feedback) says:

but the article is actually using an event hub. In fact, the command states:

[code]

So it should probably be switched to mention Event Hub instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2bbd

[2020-09-29 13:18] SwathiDhanwada-MSFT commented on #63465
@pagrenin Thanks for your comment. We will review the issue and get back to you shortly.

[2020-09-29 13:19] cr-gstirling opened #63467 "How do we offboard customers from Lighthouse?"
Hi,
This pages gives the correct information for on-boarding a customer to Azure Lighthouse, however it should also show the procedure for off-boarding as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85dc331a-0f34-f9a2-43d9-8ab7e0e635c6
* Version Independent ID: 96c07c81-f84c-f47b-659c-b3d055aefb03
* Content: [

[2020-09-29 13:22] SwathiDhanwada-MSFT commented on #63455
@swapnild2111 Thanks for your comment. Is there any specific document were you following when you faced this issue ? If possible, can you please share the document link so that we can check and assist you accordingly ?

[2020-09-29 13:24] SwathiDhanwada-MSFT commented on #63467
@cr-gstirling Thanks for your comment. We will review the issue and get back to you shortly.

[2020-09-29 13:31] Feytality commented on #31993
Is there any news on this here? We are having some serious issues even trying to connect to Azure.
Since in NetSuite an Admin now requires 2FA, I am using a role that is similar to an Admin but without  2FA required, and I am having issues (InvalidCredentials)
Can anyone help me on this?

[2020-09-29 13:38] SnehaAgrawal-MSFT commented on #63462
@eric-labelle Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-29 13:39] SadiqhAhmed-MSFT commented on #63465
@Harsha-CS FYI!

[2020-09-29 13:42] SruthiJeelugula opened #63468 "Are Azure AD resource creation limits applicable to ServicePrincipals?"
According to https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/directory-service-limits-restrictions, a non-admin user can create no more than 250 Azure AD resources.

Does this limit apply to ServicePrincipals as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42a0b4cb-1981-1cbc-ce2c-dbfd

[2020-09-29 13:43] laitinenp opened #63469 "SimulatedDevice.js does not work"
The SimulatedDevice.js does not work for me. Have done every step in the process two times now. Always get the error message:

send error: UnauthorizedError: mqtt.js returned mqtt.js returned Failure on first connection (Not authorized): connect ETIMEDOUT 40.118.27.192:8883 error error

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2020-09-29 13:54] amanmcse commented on #62857
@hhao01-becls I have updated the document. Please find my comments inline:

1. In the section In your TrustFrameworkPolicy element, add these SubJourneys as shown in the following example:, "<SubJourneys>" is missing.
Added "</SubJourneys>" which was missing.

2. The Technical Profile "SimpleUJContext" is missing. I try to search it from here, and find one, which has one output claim “IP-Address”,

[2020-09-29 13:54] #62857 closed

[2020-09-29 13:54] Jason1666 opened #63470 "Incorrect report record for some guest users with SSPR registered"
In my report it shows some guest users have been registered for SSPR in report, wondering how a guest SSPR registered in my tenant?

[2020-09-29 14:01] MonikaReddy-MSFT commented on #63399
@ak8git -  Can you share the documentation link you are referring, so that we can assist you accordingly.

[2020-09-29 14:12] Rodrigossz commented on #5251
Here is a change feed example: https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/cosmos/azure-cosmos/samples/change_feed_management.py

[2020-09-29 14:16] Rodrigo30Horas opened #63471 "Please, explicitly inform that OU needs to be on AADC sync scope."
Dear all,

As the title already states, it would be better to customers if documentation explicitly stated that the OU chosen to receive group writeback needs to be inside Azure AD Connect scope of synchronization (step 6 - Enable group writeback).
As obvious as it might be, some customers just want to see the groups synced back to on-premises, not expecting to manage it from on-premises. However,

[2020-09-29 14:20] DCtheGeek commented on #63448
#reassign:DCtheGeek

[2020-09-29 14:22] MarkKharitonov commented on #63325
How does it make it easier for those who read the documentation? The documentation says X, but that X does not work. At least not for me (and hence potentially for many others).
Either I am doing something wrong - please, help me understand it, or the documentation has to elaborate on X and explain that sometimes it is not X, but Y.

[2020-09-29 14:24] asergaz commented on #63466
@joseba-altran Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-29 14:24] DCtheGeek commented on #63448
@aelij Thanks for the question! Only resources that are on the [Supported resources page](https://docs.microsoft.com/azure/governance/resource-graph/reference/supported-tables-resources) are available to query. If you'd like to request it be added, please use [UserVoice](https://feedback.azure.com/forums/915958-azure-governance?category_id=345061) to submit that feedback.  Since you are internal,

[2020-09-29 14:24] #63448 closed

[2020-09-29 14:25] writex opened #63472 "Outdated Angular 1.x Code"
It would be nice if this page were updated from Angular 1.x to the latest Angular

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 98508583-ef76-6dd9-c224-923c46ed0e1a
* Version Independent ID: 0e0ec63e-aa71-01bb-b2f6-a14000c23756
* Content: [Tutorial: Create a Java app on Azure Service Fabric - Azure Service Fabric](htt

[2020-09-29 14:47] flcev opened #63473 "Duplicate stringID and GUID"
Stringid and GUID is identical for
OFFICE 365 F1 and OFFICE 365 F3

https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/licensing-service-plan-reference
They should be different given that they have different service plans

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c245452-161d-89a1-c026-99a

[2020-09-29 14:50] SwathiDhanwada-MSFT commented on #63446
@jeffw-wherethebitsroam Thanks for your comment. We will review the issue and get back to you shortly.

[2020-09-29 14:59] mrbullwinkle commented on #63208
The update to resolve this issue has been merged internally. It will go live in the public docs later today.

[2020-09-29 14:59] mrbullwinkle commented on #63208
#please-close

[2020-09-29 14:59] #63208 closed

[2020-09-29 15:01] mrbullwinkle commented on #62696
This page has been retired.

[2020-09-29 15:01] mrbullwinkle commented on #62696
#please-close

[2020-09-29 15:01] #62696 closed

[2020-09-29 15:15] mrbullwinkle commented on #62809
The team decided that this page was causing unnecessary confusion without providing additional value/context and we have retired the article.

[2020-09-29 15:15] mrbullwinkle commented on #62809
#please-close

[2020-09-29 15:15] #62809 closed

[2020-09-29 15:18] PeterGolovatyi opened #63474 "M code is not working"
Hi!
I assume that using 'bytesresp' two times in this row  `bytesresp   = bytesresp  = Web.Contents(endpoint, [Headers=headers, Content=bytesbody, ManualStatusHandling={400}])` is not correct, because I'm having error `An error occurred in the ‘’ query. Expression.Error: The name 'bytesresp' wasn't recognized.  Make sure it's spelled correctly.`
But when I'm using it only once  - I'm having error

[2020-09-29 15:23] MonikaReddy-MSFT commented on #63470
@Jason1666 -
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-09-29 15:28] donquijotedelamancha opened #63475 ""Blocking a single IP address" docs should suggest to add "Allow All" rule also for IPv6"
This article should also suggest an "Allow All" rule for IPv6.

I followed the [Blocking a single IP address](https://docs.microsoft.com/en-us/azure/app-service/app-service-ip-restrictions#blocking-a-single-ip-address) example and I had the issue that if users where using IPv6 address they were being blocked.
This article mentions that we should add an "Allow All" rule with 0.0.0.0/0 for IPv4 but

[2020-09-29 15:28] wbinventor opened #63476 "ssh: Connection timed out"
Hello, I am trying to create a VM with the Azure CLI and `ssh` into it with Azure Cloud Shell. I have followed the document by running these commands in Azure Cloud Shell:

[code]

However, when try to connect via `ssh` with the public IP address reported by the second command above, the connection times out:

[code]

Unfortunately, I get the same error when I try to do this locally in Powershell.

[2020-09-29 15:41] writex opened #63477 "Typo -- Press Create, not OK"
The article says, "Name the application MyGuestApp and press OK." In Visual Studio 2019 the button is labeled Create.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 878614ff-821c-323b-105a-c40471d6a420
* Version Independent ID: fa9df7f4-0d7d-7a74-e38d-a2302a0070f0
* Content: [Quickly deploy an existing app to a cluster

[2020-09-29 15:45] jonathan-martin-endava opened #63478 "Moving away from AWVERIFY seems like a backward step"
Moving away from AWVERIFY records for pre-emptive custom domain binding seems like a backwards step which goes against automating the infrastructure (as a single run) UNLESS you are using Azure DNS.

With what I understand from the above we need to create an App Service (to get the verification ID) and then update DNS records (using the verification id) and then update the App Service to include t

[2020-09-29 15:46] SamirFarhat opened #63479 "Unable to switch to Azure AD Authentication"
If i have only authorizations using Azure AD and do not have access to keys, i have this:
![image](https://user-images.githubusercontent.com/14938496/94581631-94772000-027b-11eb-9ceb-593db3727a66.png)
How can we swatch to Azure AD auth instead ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3623b607-0765-0609-b2c3-711

[2020-09-29 15:53] phuong-vo commented on #63317
Hi @JamesTran-MSFT,
Thanks for your response.

1. Yes, I am using Intune to manage my devices.
2. I selected Microsoft Teams.
3. For Grant, I tested with following cases:
    - Block access.
    - Grant access: Require multi-factor authentication.
    - Grant access: Require device to be marked as compliant.
    - Grant access: Require multi-factor authentication and Require device to be marked as

[2020-09-29 15:58] MarileeTurscak-MSFT commented on #63452
@ErisMeiyang
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-29 16:01] SaurabhSharma-MSFT commented on #62675
@markorudloff good to hear that. Also, yes, the cloudshell currently does not support installation new modules.  There is already a [user voice](https://feedback.azure.com/forums/598699-azure-cloud-shell/suggestions/39574993-allow-azureadpreview-modules-in-cloud-shell) regarding this which you can upvote.  I am checking on errors you have received and get back to you.

[2020-09-29 16:02] JamesTran-MSFT commented on #63463
@BASFmthibodeaux
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-09-29 16:05] JamesTran-MSFT commented on #63473
@flcev
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-29 16:06] JamesTran-MSFT commented on #63468
@SruthiJeelugula
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-29 16:08] karinagrdz opened #63481 "i try to execute Create format json sql"
i got this error
"Incorrect syntax near 'JSON'.  Expecting CEFF_DELIMITEDTEXT, CEFF_ORC, CEFF_PARQUET, or CEFF_RCFILE."

using the script of the documentation
CREATE EXTERNAL FILE FORMAT [JSONFormat]     WITH ( FORMAT_TYPE = JSON)

any suggestions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1da014b4-5331-9a79-1383-

[2020-09-29 16:09] SnehaGunda commented on #61852
#reassign:christopheranderson

[2020-09-29 16:09] SnehaGunda commented on #61902
#reassign:christopheranderson

[2020-09-29 16:10] tamram commented on #61602
@shraboin - Thanks for your feedback. This information was available elsewhere in the doc, but I added it to the FAQ as well. The change should go live shortly.

#please-close

[2020-09-29 16:10] #61602 closed

[2020-09-29 16:11] karinagrdz commented on #59349
Hi, I have the same error "Incorrect syntax near 'JSON'.  Expecting CEFF_DELIMITEDTEXT, CEFF_ORC, CEFF_PARQUET, or CEFF_RCFILE." trying to execute just this sql script.
CREATE EXTERNAL FILE FORMAT [JSONFormat]     WITH ( FORMAT_TYPE = JSON)

my sql version is
Microsoft Azure SQL Edge Developer (CTP) - 15.0.2000.1549 (X64) 	Sep  2 2020 09:30:05 	Copyright (C) 2019 Microsoft Corporation	Linux (Ubunt

[2020-09-29 16:17] manya0393 commented on #32068
i am getting issue while using the extended auditing policy using terraform in the private Storage account, i am getting below error-

Error: waiting for creation of SQL Server "eflexp-testn5-sqldb" Blob Auditing Policies(Resource Group "eflexp-eastus2-testn5-rg-01"): Code="BlobAuditingInsufficientStorageAccountPermissions" Message="Insufficient read or write permissions on storage account 'eflexp

[2020-09-29 16:27] erikadoyle commented on #21156
Closing, as the original product question has been answered. For any further q's, please open a new issue. #please-close

[2020-09-29 16:27] #21156 closed

[2020-09-29 16:32] SQLSourabh commented on #59349
Hi @karinagrdz please use the RTM version of SQL Edge for all testing/production workloads.

[2020-09-29 16:34] erikadoyle commented on #49764
Thanks @Nickomang for fixing this! https://github.com/MicrosoftDocs/azure-docs/commit/d3e131d6111e2b1c07ee097809214d961506058c#diff-289855dbe9627bd506f3771b28da2543

#please-close

[2020-09-29 16:34] #49764 closed

[2020-09-29 16:38] tamram commented on #63479
@SamirFarhat - Per the article, to access data in the portal with Azure AD, both of the following conditions must be true. Have you verified that you have both?

- You have been assigned the Azure Resource Manager Reader role, at a minimum, scoped to the level of the storage account or higher. The Reader role grants the most restricted permissions, but another Azure Resource Manager role that gran

[2020-09-29 16:38] erikadoyle commented on #59200
Thanks for your feedback @chineseneolight. Which section of this article is incompatible with VS 2019?

[2020-09-29 16:39] SnehaAgrawal-MSFT commented on #63475
@donquijotedelamancha Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-29 16:42] erikadoyle commented on #61916
Thanks for following up. I'll close the issue now #please-close

[2020-09-29 16:42] #61916 closed

[2020-09-29 16:44] Mahesh-MSFT opened #63484 "Issue with ARM template for p2s connectivity"
Hi,

I am trying to create an ARM template to set up P2S VPN connectivity with vWAN.
Using P2S VPN, I will connect to a VM in a Virtual Network. This Virtual Network will be connected to vWAN as well.

However, although VPN connectivity is established, I am not able to RDP to VMs in virtual networks.

Can someone please help in validating the ARM template as discussed below?

My vWAN and vWAN Hub

[2020-09-29 16:47] KranthiPakala-MSFT commented on #63289
We will now proceed to close this thread. Once your issue is posted in forum, please do share the forum thread link here for tracking.

Thank you

[2020-09-29 16:47] #63289 closed

[2020-09-29 16:50] cynthn commented on #63476
@wbinventor Can you try adding the `-vvv` parameter and trying again? `ssh -vvv <ip address> `

[2020-09-29 16:51] Kaushalop commented on #27800
@ChristianMontoya

I was wondering if we had something to answer this issue, as I recently spun up the host pool and still running into this experience.

[2020-09-29 17:01] BustosMSFT commented on #61571
#please-close

[2020-09-29 17:01] #61571 closed

[2020-09-29 17:02] Karishma-Tiwari-MSFT commented on #63477
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-29 17:05] Karishma-Tiwari-MSFT commented on #63472
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-09-29 17:09] #63121 closed

[2020-09-29 17:11] YutongTie-MSFT commented on #63131
@brightneuron Glad to know that! Please feel free to create new ticket when you have more questions! Thanks !

[2020-09-29 17:11] ChaitanyaNaykodi-MSFT commented on #63156
Hello @nvanloen,
We have proposed the suggested changes to the document, this issue will be closed when the changes are merged. I will now proceed to close this issue out. Thank you for the feedback.

[2020-09-29 17:11] #63156 closed

[2020-09-29 17:14] YutongTie-MSFT commented on #63460
@YutongTie-MSFT
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-29 17:14] NavtejSaini-MSFT commented on #63062
@hiten004 We are assigning this to our doc author for review.
@MashaMSFT Please check and provide guidance here.

[2020-09-29 17:14] wbinventor commented on #63476
HI @cynthnn, here is what I get with the `-vvv` parameter:

[code]

Where of course I've replaced the actual public IP address with "publicIpAddress".

Interestingly, I was able to use Powershell on my local machine to create a resource group, start a VM, and then ssh into it. However, when I disconnect the ssh session and then try to reconnect, I am unable to do so since it once again results in

[2020-09-29 17:15] YutongTie-MSFT commented on #63474
@PeterGolovatyi
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-29 17:17] NavtejSaini-MSFT commented on #63228
@peagerm Please provide more information to take this forward.

[2020-09-29 17:19] NavtejSaini-MSFT commented on #63344
@maxcalvin Please convey if you were able to go to Support and got a resolution for your issue.

[2020-09-29 17:20] NavtejSaini-MSFT commented on #63354
@huanminwu Please let us know if you need any further help regarding this.

[2020-09-29 17:22] NavtejSaini-MSFT commented on #63233
@AbhishekShaha Please convey if you need any further help regarding this.

[2020-09-29 17:22] Mike-Ubezzi-MSFT commented on #63481
@karinagrdz Thank you for bringing this to our attention. We are investigating this and will have an update for you shortly.

[2020-09-29 17:23] cynthn commented on #63476
@wbinventor I think you might get a more knowledgeable response if you post the `-vvv` output over at https://docs.microsoft.com/en-us/answers/products/

I'm guessing that there is a policy either on your network or your subscription that is blocking or slowing traffic to port 22, but I'm not an ssh expert :(

[2020-09-29 17:25] suhuruli commented on #63472
Thank you for this feedback. I will work with the right people on the Service Fabric team to get this addressed.

FYI @peterpogorski .

[2020-09-29 17:27] wbinventor commented on #63476
Ok I will post on that forum instead. Thanks @cynthn!

[2020-09-29 17:29] cynthn commented on #63476
@wbinventor You're welcome! Sorry I couldn't be of more help :(

#please-close

[2020-09-29 17:29] #63476 closed

[2020-09-29 17:30] uxjesi commented on #41671
Hello. Any update on this? I have the exact same question. We use a design that starts with the text "Sign in With:" and then several SSO/Login buttons with approved icon and title of the app for the various partners. Having a button just say "sign in" which is recommended by the Microsoft guidelines is redundant and unhelpful in this situation. The styling is also does not match our app.  We need

[2020-09-29 17:41] rolyon commented on #63287
Hi @dannradkov
Yes, the preview just applies to the doc.
thanks

[2020-09-29 17:42] rolyon commented on #63287
#please-close

[2020-09-29 17:42] #63287 closed

[2020-09-29 17:51] JamesTran-MSFT commented on #63471
@Rodrigo30Horas
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-09-29 17:59] SnehaAgrawal-MSFT commented on #63125
@tomidix Thanks for the valuable feedback and bringing this.  We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-09-29 17:59] #63125 closed

[2020-09-29 17:59] deadmansmokin opened #63485 "Can not log into account"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-09-29 18:00] SatishBoddu-MSFT commented on #63135
Hello @danewalton Thanks for the feedback,
I have assigned the issue to the content author for further review.

[2020-09-29 18:01] maxcalvin commented on #63344
Thanks for the ping. I don't know how to contact support so I have not done so.

Feel free to close this issue. I was only looking for the instructions to be clarified, not for someone to help me with my specific issue, as it was not possible given the current documentation to know if the solution being proposed was actually relevant to the problem that was occurring on my machine.

I have just st

[2020-09-29 18:07] shashishailaj commented on #63023
@stuartMoorhouse As per what you have mentioned , I believe you are using Microsoft Account which you created during creation of subscription and hence that is an external account within your Azure Active directory tenant . The users which have password within Azure Active directory tenant  are synced to Azure AD Domain Services. And the password for any external Microsoft Accounts (_Accounts from

[2020-09-29 18:07] #63023 closed

[2020-09-29 18:09] barclayn commented on #56737
@markjbrown Thank you for helping clarify this. @aggerritsen  thank you for the feedback. I have am adding a note to the article to keep others from having trouble with the instructions.

[2020-09-29 18:09] barclayn commented on #56737
#please-close

[2020-09-29 18:09] #56737 closed

[2020-09-29 18:10] TravisCragg-MSFT commented on #63484
To start, I would check 2 things:

1) If you are using VNET Peering to connect the hub and spoke, make sure that [Gateway Transit is set up properly in the peerings](https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-peering-gateway-transit).

2) Check the routes on your P2S computer to make sure it includes route for the address space of the remote VNET.

If this is not included, you

[2020-09-29 18:12] porrascarlos802018 opened #63487 "Please explain"
- secret:
      ssl.crt: <Enter contents of base64-ssl.crt here>
      ssl.key: <Enter contents of base64-ssl.key here>
      nginx.conf: <Enter contents of base64-nginx.conf here>

The values expected there needs to be one long line, from cloud shell it can be done using this command
cat <filename> | tr -d "\n"

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is

[2020-09-29 18:16] JamesTran-MSFT commented on #63473
@flcev
Thanks for pointing this out! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-09-29 18:17] ChaitanyaNaykodi-MSFT commented on #63128
Hello @zaalion, there is a feature request on-going for this scenario, you can track it [here](https://github.com/Azure/azure-functions-host/issues/364). You can try some of the work-arounds mentioned in it. Since there is a ongoing feature request for this, I am now proceeding to close this issue out as it does not relate to a doc issue. Please tag me in your reply if there are any additional con

[2020-09-29 18:17] #63128 closed

[2020-09-29 18:18] fish-finger opened #63488 "Tls failure"
This script does not work. A serious bit of googling today confirms it's not working for anyone.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 69e3b74c-2e19-9963-bf78-2d0a01e6f906
* Version Independent ID: 5fbd6b33-2af1-5f5d-b824-d3bbd5649956
* Content: [Configure a Point-to-Site (P2S) VPN on Linux for use with Azure

[2020-09-29 18:20] MartinJaffer-MSFT commented on #63158
Thank you for letting me know your resolution, @susanchen33 .  That is not something I thought of checking.  Since you are unblocked, I will proceed to close this issue.  Thank you for your patience.

[2020-09-29 18:20] #63158 closed

[2020-09-29 18:21] PeterCLu commented on #63134
#assign:@sdgilley

[2020-09-29 18:22] SubhashVasarapu-MSFT commented on #63372
@keamas , Appreciate your patience. We tried reaching cisco. As there is a delay in communication, I request you file a support ticket, else please do let us know, we will try and help you get a one-time free technical support. In this case, could you send an email to AzCommunity[at]Microsoft[dot]com referencing this thread and your subscription id.

Thank you for your cooperation on this matter a

[2020-09-29 18:22] TomArcherMsft commented on #33434
This article was updated a while back, but I forgot to close the issue. #please-close

[2020-09-29 18:22] #33434 closed

[2020-09-29 18:22] PeterCLu commented on #63346
#assign:@nibaccam

[2020-09-29 18:23] femsulu commented on #63098
reassignging to @rboucher since this is a doc-enhancement request/question.

[2020-09-29 18:27] SubhashVasarapu-MSFT commented on #63265
@blackchess12, Appreciate your patience. Akamai doesn't provide this IP list publicly.

[2020-09-29 18:32] Grace-MacJones-MSFT commented on #63478
Hi @jonathan-martin-endava, thank you for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

[2020-09-29 18:43] Caliber-IT opened #63489 "Old Documentation"
This page is outdated even though it was from last month.  Also - confusing directions on adding attributes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2809f192-e944-902e-db51-149939878611
* Version Independent ID: 2d788b57-9c1a-3124-690f-4469bc552cee
* Content: [Tutorial: Azure Active Directory integration with Sa

[2020-09-29 18:48] vipulsparsh commented on #63367
@Moodjbow  This is what I got from PG :

"At this time, we do not have any regkey with this functionality. We do have a regkey where if the user isn't proofed up for Azure MFA, it will bypass MFA and allow the user to login, but if the user is registered for MFA, it will call them. If they have an application they don't want to have MFA on it, or it's not supported, they'll need to point traffic t

[2020-09-29 18:50] JamesTran-MSFT commented on #63489
@Caliber-IT
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-09-29 18:54] shortpatti commented on #63434
@SwathiDhanwada-MSFT, putting it in my queue :)

[2020-09-29 19:00] regexrowboat commented on #63217
Hi @amagarw,

Can you share some more details?

- Was your Azure Function being called by the APIM instance or the other way around?
- Did you set APIM to W3C correlation or was it set to Legacy?
- Does "not log anything" actually mean there were no request/dependency logs from the APIM instance? What about from the Function perspective?

[2020-09-29 19:04] leofmoura opened #63491 "Application Insight not using the Default LogLevel configuration"
Hello Friends,

I'm using AppInsight in a .net core app and it`s not using the default configuration in appsettings.json:

"Logging": {
        "LogLevel": {
            "Default": "Debug"
        }
}

The only way to make AppInsights log my Debug (ILogger.Debug) call is forcing app insights to log Debug:
"Logging": {
        "LogLevel": {
            "Default": "Debug"
        },
        "Applica

[2020-09-29 19:07] allegradomel commented on #57751
@lysdexiafj: I have added this change based on @atambawala's revision! It should go live in the next day or two.

[2020-09-29 19:07] allegradomel commented on #57751
#please-close

[2020-09-29 19:08] #57751 closed

[2020-09-29 19:20] allegradomel commented on #62176
@Anand-Moghe - I believe the author is trying to explain that you cannot peer VNet's from the Public cloud with VNet's in any of these other clouds. Global VNet peering enables you to peer VNets in different regions _within the same cloud_

[2020-09-29 19:21] allegradomel commented on #62176
Let me know if there are any further questions! I will close the issue for now! #please-close

[2020-09-29 19:21] #62176 closed

[2020-09-29 19:23] MarileeTurscak-MSFT commented on #63348
Hi @yelevin, has this been added as a PR? Wondering when we can close out this issue.

Thanks!

Marilee

[2020-09-29 19:25] AlexImray opened #63492 "Add _ and . to invalid Microsoft.Compute/virtualMachines characters"
For Microsoft.Compute/virtualMachines, it is says whitespace and the following characters cannot be used:
`\/"'[]:|<>+=;,?*@&`

Underscores `_` and periods `.` should be added to this list, as they aren't allowed _anywhere_ in VM names either, according to the Azure portal.
[Trying to name a VM with an underscore](https://imgur.com/a/iJ16Stq)

---
#### Document Details

⚠ *Do not edit this section

[2020-09-29 19:34] MarileeTurscak-MSFT commented on #63222
@erikanderson Which session are you referring to? Is it the OWIN session (ASP.NET)?

[2020-09-29 19:42] MonikaReddy-MSFT commented on #63485
@deadmansmokin -
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-09-29 19:48] fob2000 commented on #63434
Not sure if you can update this but the AVS component in the portal indicates an EA is required where as it's available on CSP.

[2020-09-29 19:50] MarileeTurscak-MSFT commented on #63452
Thanks! I made a pull request to add a note. https://github.com/MicrosoftDocs/azure-docs-pr/pull/131924

[2020-09-29 19:50] #63452 closed

[2020-09-29 19:50] ctimon commented on #40812
I am also looking for a custom JIT admin RBAC role so I am assuming I could use the above with a few small modifications where I change read to write and that should work.

[2020-09-29 19:56] stewartadam opened #63493 "Event processor code sample does not compile (.NET Core 3.1)"
Code sample in step 4 of Receive Events is broken:
[code]

With .NET Core 3.1, the fields `Body.Array` and `Body.Offset` fields are not present and compilation fails when attempting to decode the event in `Encoding.UTF8.GetString()`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4c6d63e-95f5-de2c-972b-4da5fe71a6a6
*

[2020-09-29 20:09] dmhelm opened #63494 "Broken Link"
Link for "SAP ASE HADR Users Guide" is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0757d29d-e4c1-fc1d-70a8-e5057671209c
* Version Independent ID: 9867c731-dd2e-ce00-2c44-7d4b80791861
* Content: [SAP ASE Azure Virtual Machines DBMS deployment for SAP workload - Azure Virtual Machines](https://docs.microsoft.c

[2020-09-29 20:18] JamesTran-MSFT commented on #63317
@phuong-vo
Thank you for the quick reply and details!

We'd like to take a closer look into your environment and issue, can please email me with the info below. I'll go ahead and enable a one-time free support request for you so you can work with our support engineers to get this issue resolved.

Email: AzCommunity@microsoft.com
Subject: ATTN - James Tran
Body:
[Azure Subscription ID](https://wmat

[2020-09-29 20:20] markjbrown commented on #63344
If you're still looking to find a resolution you can file a support ticket by going to Azure Portal. Click on your Cosmos DB account and then scroll down. It's on left side bar at the bottom of the page.

Thanks.

#please-close

[2020-09-29 20:20] #63344 closed

[2020-09-29 20:20] msjuergent commented on #63494
Can you specify whether it is a link in the document that is broken and then which link. I checked for the link of the table of content to the document itself. That does work for me w/o an issue.

[2020-09-29 20:24] blackchess12 commented on #63265
Thanks for the reply. We have a requirement to white list the IP addresses to our resources. What do you recommend as an option to overcome this requirement. Without this white list, the CDN wouldn’t be able to get access to the resources, and won’t be able to cache the files

[2020-09-29 20:35] venkat-vangal opened #63495 "Documentation does not include content to manage security using power shell"
I would like to add users to reader role using power shell script. I could not find that content in this article. Could you please add a section on how to add/remove users to specific roles of Cosmos DB account.

Can we perform the same using Arm Templates?

Thanks
Venkat

[2020-09-29 20:40] venkat-vangal opened #63496 "Documentation doesn't include content to add users to a specific role using power shell"
Looking for documentation to add specific users to a specific role using power shell but could not find it online. Could you add the documentation also.

Thanks
Venkat

[2020-09-29 20:41] #63496 closed

[2020-09-29 20:41] venkat-vangal commented on #63496
duplicate

[2020-09-29 20:51] lap1nou commented on #63441
This also concern this page: https://docs.microsoft.com/en-us/azure/developer/python/azure-sdk-example-virtual-machines, right ?

[2020-09-29 20:55] MarileeTurscak-MSFT commented on #63296
Have you properly added the bearer token to x-ms-token-aad-access-token?

And are you sure you don't have any authorize attributes in your Azure App Service code? The App Service's easy auth module is supposed to handle all of the authorization before it hits your app service.

Please also make sure that Allowed Token Audiences is selected for the Express Auth in App Services.

https://docs.micros

[2020-09-29 20:58] DerekHerman-MSFT commented on #63488
@fish-finger There are several scripts on the page. Which one were you having issues with? Could you also provide the specific error you are receiving when running the script?

[2020-09-29 21:00] christiankuhtz commented on #62322
Thanks for the feedback. I've corrected to example to illustrate port masquerading SNAT and expanded a little bit.  The updated doc is already published, hopefully this addresses the concerns.

[2020-09-29 21:00] allegradomel commented on #62322
Closing since @christiankuhtz has made the necessary changes #please-close

[2020-09-29 21:00] #62322 closed

[2020-09-29 21:02] allegradomel commented on #62322
@kasimrehman - closed the issue for now, please let us know if you have additional feedback/questions!

[2020-09-29 21:07] asergaz commented on #63469
@laitinenp Thanks for the feedback and sorry to hear that you cannot complete successfully this quickstart!

Some steps we can take to remove some possible causes:

1) Confirm that port 8883 is not blocked on your firewall (you can try running the sample on a different network)
2) If you can't open port 8883 in your firewall, we recommend using MQTT over Web Sockets.

Thank you!

[2020-09-29 21:07] msjuergent commented on #63494
I checked all the links within the documents. The links to SAP notes are user/passwd protected. Can't find anything wrong there. I also can get to the document trough the ToC. So, please be more specific what the issue is since I can't find the link to the document broken in general. Nor can I find broken links within the document

[2020-09-29 21:22] kenwith commented on #61985
#please-close

[2020-09-29 21:22] #61985 closed

[2020-09-29 21:24] kenwith commented on #61953
@japere

[2020-09-29 21:24] Karishma-Tiwari-MSFT commented on #63496
Thanks for sharing the update.

[2020-09-29 21:30] andrepodnozov opened #63499 "ModuleConnect permission not documented"
This page references a ModuleConnect permission, but this permission is not documented anywhere. Also, Azure Portal doesn't have this option when creating a shared access policy. Please help clarify the ModuleConnect permission. Thanks
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5abe8bb4-f610-0

[2020-09-29 21:31] suabukha opened #63500 "Missing step in the document"
The root certificate is needed to be moved to the trusted root certificates authorities store after generating the client certificate.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63df9645-af2c-3cfc-8f65-413912d88efe
* Version Independent ID: d2edf564-2c83-f1da-dbf0-dbc41c4948bf
* Content: [Generate and export certif

[2020-09-29 21:36] WinstonHoward-MSFT commented on #63487
Thanks for the issue, I've assigned it to the doc author to take a look.

[2020-09-29 21:37] Playmaker05 commented on #59349
Dear @SQLSourabh

I am working with my colleague @karinagrdz and we try to look for the RTM version of SQL Edge but we could not find it, and the problem is presented when we try to use the code on Azure Data Studio. I wonder if you could help us with that.

[2020-09-29 21:38] pchandravadan commented on #42933
The recent update doesn't address the issue, appreciate it if the issue status changed to open. thanks.

[2020-09-29 21:39] MonikaReddy-MSFT commented on #63495
@venkat-vangal -
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-09-29 21:51] kenwith commented on #61953
@kcrosby - thank you for taking the time to share your knowledge and make the docs better. I have created a PR with the suggestion and it should be live soon. Very much apprecaited!

https://github.com/MicrosoftDocs/azure-docs-pr/pull/131960

[2020-09-29 21:51] kenwith commented on #61953
#please-close

[2020-09-29 21:51] #61953 closed

[2020-09-29 21:55] SQLSourabh commented on #59349
@Playmaker05 if you are deploying SQL Edge using IoT Edge you can refer to documentation https://docs.microsoft.com/en-us/azure/azure-sql-edge/deploy-portal
For disconnected deployment please follow this article -> https://docs.microsoft.com/en-us/azure/azure-sql-edge/disconnected-deployment

[2020-09-29 22:05] KranthiPakala-MSFT commented on #63493
@stewartadam
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2020-09-29 22:07] dmhelm commented on #63494
It was the link "SAP ASE HADR Users Guide" under the High Availability section.  You can close this issue as help.sap.com was actually down for a little while.

[2020-09-29 22:07] #63494 closed

[2020-09-29 22:17] #60461 closed

[2020-09-29 22:18] alexkarcher-msft commented on #63466
Nice catch @joseba-altran ! We switched the messaging services around a while ago and that last description slipped right past me.

The doc has been updated in https://github.com/MicrosoftDocs/azure-docs-pr/pull/131968 and will be up to date soon.

[2020-09-29 22:19] zr-msft commented on #60461
Thank you @crgarcia12 for the feedback.

We've updated the article to address your feedback and the changes should be available soon.

[2020-09-29 22:21] joseba-altran commented on #63466
Great to know that reporting the issue helped and thanks for being so quick fixing the issue!

[2020-09-29 22:24] Mayki8513 commented on #51754
@wjchristenson2

What you're looking for is in the main Advisor window where it lists all your VMs. Instead of selecting a vm click on the ellipsis (...)  to the far right and select **Create Exemption**.
![image](https://user-images.githubusercontent.com/65312810/94622324-39d7c700-026f-11eb-99e0-fd6517b0293b.png)

There you can select **Mitigated** or **Waiver**
![image](https://user-images.githu

[2020-09-29 22:32] JnHs commented on #62414
Hello again @lcpautotester, thanks for your patience. We have reviewed the tutorial and made a few changes to ensure it is up to date. Thanks for bringing this up.
I will go ahead and close this issue, but please let us know if you have further feedback! #please-close

[2020-09-29 22:32] #62414 closed

[2020-09-29 22:39] melanieplageman opened #63502 "P40 and P50 have same throughput and IOPs listed"
I noticed that the P40 and P50 have the same documented provisioned throughput per disk and provisioned IOPs per disk, and I wasn't sure if this was correct.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d508e8ae-bbba-703d-e94e-c42520a4cad8
* Version Independent ID: 2a3bcae3-b889-f498-8de8-1481a4bcb604
* Content: [Azu

[2020-09-29 22:50] bschlechty opened #63504 "Storage account clarification"
There should be a note to create the storage account name with 15 or fewer characters, otherwise the script used in https://docs.microsoft.com/en-us/azure/storage/files/storage-files-identity-ad-ds-enable will fail due to AD DS naming requirements.

#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b190fd1-42f6-3a90-5931-74b2

[2020-09-29 22:50] MicrosoftGuyJFlo commented on #62900
#assign @JoeDavies-MSFT

[2020-09-29 23:03] Karishma-Tiwari-MSFT commented on #63477
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

[2020-09-29 23:03] #63477 closed

[2020-09-29 23:10] JoeDavies-MSFT commented on #62900
@robert-bunch Sorry for the delay. Looking at this now.

[2020-09-29 23:19] lyrana commented on #63359
PR merged #please-close

[2020-09-29 23:19] #63359 closed

[2020-09-29 23:24] Karishma-Tiwari-MSFT commented on #63254
Thanks for sharing the update. I am not aware of any known issue related to this.
We will now close this issue. However this issue will stay with this doc for others to reference.

[2020-09-29 23:24] #63254 closed

[2020-09-29 23:30] alex-frankel opened #63505 "properties.agentPoolProfiles.storageProfile does not exist, osDiskSizeGB gets set to 128 even though default value is 0"
In the template sample the property `properties.agentPoolProfiles[*].storageProfile` does not seem to be recognized in the deployment of the AKS cluster and it is not in the resource type schema:

![image](https://user-images.githubusercontent.com/11078275/94626386-ddc17280-026f-11eb-9861-145cc3da84d4.png)

Separately, the property `properties.agentPoolProfiles[*].osDiskSizeGb` is being set to `0`

[2020-09-29 23:38] KranthiPakala-MSFT commented on #63347
@sc-bperry Thanks for the feedback! We have assigned the issue to the content author to further review this and provide an update as appropriate.

Hi @djpmsft - Could you please have a look at the above feedback and share your insights? - Thank you.

[2020-09-29 23:38] lcpautotester opened #63506 "Adding new sample that use the UX tasks as examples"
[I was wondering if you could add an additional UX base tutorial, this current example requires the DEV to add allot of unwanted azure code in their application.. Example: As a DEV I should be able to run everything through the UI that MS has provided, including Tasks and setting up target VM's to run in parallel or not. Let's say I have a simple Application that calls an API, but I want to run fr

[2020-09-29 23:54] lyrana commented on #63278
Hi @kngohil, thanks for the feedback, I agree that the wording in the docs doesn't apply to all scenarios. Redirect URIs are applicable for [public client apps](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-client-application-configuration#redirect-uri), but not in your case. Please try getting a token without one configured and let us know here if you're unblocked.
One thin

[2020-09-30 00:22] YutongTie-MSFT commented on #63460
@frvigano
Here is all the examples of Machine Learning Notebook: https://github.com/azure/machinelearningnotebooks
Is this what you are looking for?

[2020-09-30 00:25] Karishma-Tiwari-MSFT commented on #63502
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-30 00:33] Karishma-Tiwari-MSFT commented on #63506
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-09-30 00:41] Karishma-Tiwari-MSFT commented on #63230
Can you please elaborate on your ask for the document regarding automation? You can always select a disk while creating a VM using ARM template or from Azure portal

![image](https://user-images.githubusercontent.com/20851144/94630549-fbe0a000-027a-11eb-8ca4-4f91835072dc.png)

[2020-09-30 00:44] fhryo-msft commented on #63077
@susanhuhu will you please share how you define throughput in specifics?

[2020-09-30 00:44] Karishma-Tiwari-MSFT commented on #62570
@luhyun95 Sorry for the delay on this. Just wanted to check if you are still seeing this issue and need help. Let me know.

[2020-09-30 00:47] KrishnaG-MSFT commented on #63492
@AlexImray Thanks for your comment! We will review and provide an update as appropriate.

[2020-09-30 00:50] KrishnaG-MSFT commented on #63491
@leofmoura Thanks for your comment! We will review and provide an update as appropriate.

[2020-09-30 00:54] KrishnaG-MSFT commented on #63459
@jotavar Thanks for your comment! We will review and provide an update as appropriate.

[2020-09-30 01:05] susanhuhu commented on #63077
By throughput, I meant how many bytes per second have been written to the storage, or read from the storage.  For example, if in last second,  500MB data has been written to the storage by all requests,  it means we got 500MBPs throught for uploading.

[2020-09-30 01:25] Jason1666 commented on #63470
https://portal.azure.com/#blade/Microsoft_AAD_IAM/AuthMethodsOverviewBlade.

[2020-09-30 01:25] Jason1666 commented on #63470
https://github.com/MicrosoftDocs/azure-docs/issues/63470#issuecomment-700780552

[2020-09-30 01:27] fhryo-msft commented on #63077
Thanks, Susanhuhu. To translate your requirement to storage metrics, it would be Ingress per second and Egress per second. The capability is in our roadmap but there is no solid release plan to share as of now.

[2020-09-30 01:51] susanhuhu commented on #63077
yes.  Ingress and Egress per second is exactly what I want to see.  Sad to know there is no release plan. I think it is much more useful than Ingress and Egress total.

[2020-09-30 01:52] gmndrg opened #63508 "Receive code is incorrect, the output to console gives an error"
The method ProcessEventHandler for receiving messages has some errors on build. I have added below some changes for a sample that does work for the output. Please correct.

static async Task ProcessEventHandler(ProcessEventArgs eventArgs)
        {
            _**// Write the body of the event to the console window
            Console.WriteLine("\tReceived event: {0}, {1}", Encoding.UTF8.GetString

[2020-09-30 02:11] kobulloc-MSFT commented on #63419
@AlexDenton This is not supported.  You can see AppConfiguration issue 203 for more information:
https://github.com/Azure/AppConfiguration/issues/203

As always, if you would like to suggest a feature please leave your feedback at:
https://feedback.azure.com/forums/920545-azure-app-configuration

We are going to close this thread as resolved but if there are any further questions regarding the doc

[2020-09-30 02:11] #63419 closed

[2020-09-30 02:28] mjtpena opened #63510 "Typo in [RTSP](https://tools.ietf.org/html/rfc2326"
[Enter feedback here]

Forgot to close the line in parentheses:
[RTSP](https://tools.ietf.org/html/rfc2326)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ebfa099-3ed5-ac9a-e8c2-c7d2c5d1cb65
* Version Independent ID: fe310eb0-b10a-99b5-cad0-c92c13d532b2
* Content: [Media graph concept - Azure - Live Video Analytics on

[2020-09-30 03:16] SubhashVasarapu-MSFT commented on #63500
@suabukha, Thanks for reaching out. We will investigate and update this thread.

[2020-09-30 03:39] SnehaAgrawal-MSFT commented on #63510
@mjtpena Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-30 03:44] adiun opened #63511 ""Not Applicable" section does not cover some rules"
In the Security Center we are seeing "Not Applicable" results that don't fall into the categories listed in the ["Why does my VM show as 'not applicable' in the recommendation"](https://docs.microsoft.com/en-us/azure/security-center/deploy-vulnerability-assessment-vm#why-does-my-vm-show-as-not-applicable-in-the-recommendation) section:

Specifically, there are rules like the one in the below scree

[2020-09-30 03:45] NillsF commented on #63441
My issue was creating referring to this page https://docs.microsoft.com/en-us/azure/virtual-machines/windows/python

However, I believe your page has similar issues. I believe from what I've seen that all create_or_update() methods were renamed to begin_create_or_update()

[2020-09-30 03:48] memildin commented on #63511
Thanks for the feedback.

The section you referenced is specifically about ONE recommendation: the one the whole page is discussing, namely "A vulnerability assessment solution should be enabled on your virtual machines."

It's not a blanket discussion about every not applicable tab, for every recommendation details page.

Hope that helps clear things up.

Feel free to reopen this issue or create

[2020-09-30 03:48] #63511 closed

[2020-09-30 03:58] nibaccam commented on #63346
@luisquintanilla @Aniththa do either of you have the bandwidth for this? If not I can address when I'm back in the office 10/5

[2020-09-30 04:04] AnuragSharma-MSFT commented on #63194
@akashperfect We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.
@KalyanChanumolu-MSFT

[2020-09-30 04:04] #63194 closed

[2020-09-30 04:05] AnuragSharma-MSFT commented on #63236
@robwafle Hopefully this solved the problem. We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-09-30 04:05] #63236 closed

[2020-09-30 04:06] AnuragSharma-MSFT commented on #63271
@RonnieQuan We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-09-30 04:06] #63271 closed

[2020-09-30 04:07] AnuragSharma-MSFT commented on #63381
@Tbohunek We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-09-30 04:07] #63381 closed

[2020-09-30 04:13] BenFranzi opened #63513 "Azure Maps - How do you change the color palette used in a map style"
I am trying to change the color of the water in Azure Maps to a custom color and from the documentation it suggests that this is possible.

In this [article](https://docs.microsoft.com/en-us/azure/azure-maps/supported-map-styles), in the follow note it mentions:

When you change the background-color of the div it sets the div color that the map is rendered on not the background color of the map.

[2020-09-30 04:14] AshokPeddakotla-MSFT commented on #63499
@andrepodnozov Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-30 04:16] slave02 opened #63514 "Create an AKS cluster"
URL: https://docs.microsoft.com/en-us/azure/aks/kubernetes-walkthrough-portal

******re step:*******
Cluster details: Enter a Kubernetes cluster name, such as myAKSCluster. Select a Region, Kubernetes version, and **DNS name prefix for the AKS cluster.**

Issue: Via the portal I do not see the option for a DNS name prefix for the AKS cluster?

---
#### Document Details

⚠ *Do not edit this section

[2020-09-30 04:41] CHEEKATLAPRADEEP-MSFT commented on #63464
@5eba5tian00  Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2020-09-30 04:46] Caoxuyang commented on #63362
I found that the imds endpoint can be blocked actually. Sorry for the trouble.

[2020-09-30 04:46] #63362 closed

[2020-09-30 05:07] SubhashVasarapu-MSFT commented on #63265
@blackchess12, I would recommend you have a support with Akamai in getting their IP list if possible. Else, I am not sure how does this work, but I see customers implementing whitelisting of that specific country Akamai AS numbers instead of IP's for sake of allowing the traffic.
Hope this helps!

[2020-09-30 05:08] HarithaMaddi-MSFT commented on #63508
@gmndrg - Thanks for your feedback. I am looking into it and will update you shortly.

[2020-09-30 05:35] psmanhas commented on #63505
@alex-frankel Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2020-09-30 05:38] MayankBargali-MSFT commented on #63118
@MortezaDamavandpeyma-TomTom Hope the above helps and clears things up. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-09-30 05:38] #63118 closed

[2020-09-30 06:01] chengyu-liu-cs opened #63515 "Python3 native logging not work properly wit azureml sdk"
Native logging package does not log anything in a case where azureml sdk was used. It has been issue for me for a while and recently I found the cause. The cause is related to `from azureml.pipeline.steps import PythonScriptStep`

Tested in Python3 azureml-sdk 1.12. But I have been observing this since azureml-sdk  1.0.62
`
azureml-core==1.12.0.post2
azureml-dataprep==2.2.3
azureml-dataprep-native

[2020-09-30 06:11] souravmishra-msft commented on #63067
Closing this thread out since received no more queries.

[2020-09-30 06:11] #63067 closed

[2020-09-30 06:15] jamesbannan opened #63516 "Enabling MSI access on storage account within virtual network"
I have deployed an Azure ML Workspace and dependent resources using a service principal, including an Azure Storage Account which is configured with both network and service firewalls. This storage account has been configured as a datastore and the training runs are able to access the data without any problems. The Workspace is not using Private Endpoints.

The data science team has registered a n

[2020-09-30 06:17] psmanhas commented on #63514
@slave02 DNS name prefix  is used to generate a unique FQDN (fully qualified domain name) for your cluster when it is created. When creating an AKS cluster via portal you can find the option as below on portal:

![image](https://user-images.githubusercontent.com/35990743/94649581-94762f00-0312-11eb-9fb9-aecfd49867dd.png)

Hope it helps!!!

[2020-09-30 06:19] amagarw commented on #63217
* Was your Azure Function being called by the APIM instance or the other way around? - _It is being called by the APIM instance_
* Did you set APIM to W3C correlation or was it set to Legacy? - _Legacy_
* Does "not log anything" actually mean there were no request/dependency logs from the APIM instance? What about from the Function perspective? - _Yes, No requests/dependency logs from the APIM ins

[2020-09-30 06:21] slave02 commented on #63514
Hi - the docs refer to this option on the basics tab - not the networking
tab?

On Wed, 30 Sep 2020 at 16:18, PreetiManhas-MSFT <notifications@github.com>
wrote:

[2020-09-30 06:35] psmanhas commented on #63514
@slave02 Thank you for pointing it out. Let me reach out to our internal team to make necessary changes.

Thanks.

[2020-09-30 06:39] RohitMungi-MSFT commented on #63515
@chengyu-liu-cs Thanks for posting the issue. Could you please let us know if you have encountered this issue while following any of the AzureML documentation? This repo/forum is used to address issues related to Azure docs and its related content. This issue seems to be a bug in our SDK which seems appropriate to be created in the Azure python [SDK repo](https://github.com/Azure/azure-sdk-for-pyt

[2020-09-30 06:45] amanmcse commented on #63374
Hi @fume I'm sorry, I didn't understand your ask completely. Could you please elaborate it a bit more?

[2020-09-30 06:48] chengyu-liu-cs commented on #63515
The reason I posted here was that there was not clear documentation nor example of using native logging in the documentation. I could also post it in Azure ML.

[2020-09-30 06:48] #63515 closed

[2020-09-30 06:54] HarithaMaddi-MSFT commented on #63001
@spelluru - Kindly take a look and share your thoughts.

[2020-09-30 06:58] kalyani-swain opened #63517 "I'm trying to use adf_client.activity_runs.list_by_pipeline_run() this function to get the azure data factory pipeline run details but I'm getting error: 'ActivityRunsOperations' object has no attribute 'list_by_pipeline_run'. So I tried with adf_client.activity_runs.query_by_pipeline_run() function with datetime coverted to ISO format using .isoformat() method but, getting error : DeserializationError: Unable to deserialize to object: type, AttributeError: 'str' object has no attribute 'get'. Can you Suggest on how to resolve this error or any alternative method I can use to get the pipeline run details"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-09-30 06:59] frvigano commented on #63460
Yes, I would also add an example about how to collect data in Azure Storage (it would just require likely to add a parameter in the Application insight example)

I also opened an issue with the notebook example itself because it does not work (we changed a library)

From: YutongTie-MSFT <notifications@github.com>
Sent: 30 September 2020 02:23
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github

[2020-09-30 07:11] HarithaMaddi-MSFT commented on #63508
@gmndrg - Thanks for your contribution. I've addressed this issue in PR. The changes should be live EOD or tomorrow.

[2020-09-30 07:11] #63508 closed

[2020-09-30 07:21] subodhpatil opened #63518 "Wrong Cisco email address"
[Enter feedback here]
The email address on this page about Cisco, vwan_public_preview@cisco.com  is wrong.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d60e984-8f53-bdfa-baa7-a03ea0d5a2d2
* Version Independent ID: 0db8b738-ddaf-419a-8e9b-cd63fb8dbbbb
* Content: [Azure Virtual WAN partners and locations](https://docs

[2020-09-30 07:34] ignaciofls opened #63520 "Basic SKU doesnt support Private Endpoint Datasource"
Hi team,

I was trying Private Endpoint Datasource for ACS and got to this message in my Basic tier

{
    "error": {
        "code": "",
        "message": "Setting execution mode of indexer v1-indexer to 'Private' is unsupported for your search service SKU basic"
    }
}

In this page https://docs.microsoft.com/en-us/azure/search/service-create-private-endpoint it says

Pricing tier	Select Chang

[2020-09-30 07:41] JoshStead commented on #63292
@SwathiDhanwada-MSFT It's not a massive problem but I would like to keep any workload in easily identifiable namespaces as we are a large team, however if it has to be in kube-system then I understand that.

[2020-09-30 07:54] lightupdifire opened #63522 "Explanation of the policy options"
Hello,

Please explain better how to set this up,

It is not clear how to apply settings and react to this message that is shown in the Azure portal when creating Conditional Access policy: "Conditions and Access Controls that require device registration and other user actions are not available with this user action."

It is not clear if can apply both Sign-in frequency policy and Persistent brows

[2020-09-30 07:58] dannradkov commented on #63287
ok, so its the approach documenter here(consisting of a number of steps), that is in preview. the actual transfer of subs from tenant to tenant is NOT in preview. I am asking , because customers get confused that transferring subs from AAD1 to AAD2 is in preview. Field CSA's like me then have a hard time with this.

[2020-09-30 07:58] jeppe742 opened #63523 "Version of secret not required"
On this page, it states that

From my testing, this seems to not be the case anymore.
By simply not specifying the version id in the SecretUri it fetches the latest version

Should this be updated?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7feaa3d0-7233-a3cb-cb9b-a9a55b1f0d7a
* Version Independent ID: f41f9d51-52f

[2020-09-30 08:04] SwathiDhanwada-MSFT commented on #63517
@kalyani-swain Thanks for your question. Could you please let us know if you have encountered this issue while following any of the Azure documentation so that I can redirect to specific team?

[2020-09-30 08:07] SwathiDhanwada-MSFT commented on #63421
Assigning to content author @bwren for review.

[2020-09-30 08:11] SwathiDhanwada-MSFT commented on #63467
@cr-gstirling [This document ](https://docs.microsoft.com/en-us/azure/lighthouse/how-to/remove-delegation)has articulated the process of the off boarding customers from LightHouse. Kindly check and revert if you have further queries.

[2020-09-30 08:23] Bouke opened #63524 "Standard-tier IOPS per DTU is misleading"
The page [advertises 1-5 IOPS per DTU](https://github.com/MicrosoftDocs/azure-docs/blame/master/articles/azure-sql/database/service-tiers-dtu.md#L37), but from actual testing I've discovered that it's 1.6 for most tiers. Saying 1-5 is misleading as one might be led to believe that in certain scenarios 5 would be possible, or that some dynamic allocation is performed, where in fact the amount is fi

[2020-09-30 08:25] kalyani-swain commented on #63517
Hi there,

I haven't followed any specific azure document, I wanted to run the method:

adf_client.activity_runs.list_by_pipeline_run(),
But got error : object does not have such attribute "list_by_pipeline_run"

I found that: azure.mgmt.datafactory.models.ActivityRunsQueryResponse
doesn't have this method.

Can you tell why this method not working in my code.

Also, I tried with query_by_pipeline

[2020-09-30 08:27] marcin-dudek opened #63525 "Handling null value for string"
Would be nice to describe how null is treated here,especially for strings. Can you filter for null ie. `data.key == null` or similar.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95153350-9aa1-4fed-3921-592542626dc3
* Version Independent ID: 2fcd19d9-2ef4-9302-6490-8821a777a14f
* Content: [Advanced filtering - Azure

[2020-09-30 08:34] SnehaAgrawal-MSFT commented on #63520
@ignaciofls Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-30 08:35] SnehaAgrawal-MSFT commented on #63523
@jeppe742 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-30 08:37] GitaraniSharma-MSFT commented on #63518
@subodhpatil , thank you for your feedback. I tried sending a test email to the provided email address (vwan_public_preview@cisco.com) and received a 550 #5.1.0 Address rejected error. So, it looks like there is an issue with this email address. Hence, we have assigned this to the content owner/author for review.

@cherylmc , could you please check with the respective team and update the correct e

[2020-09-30 08:51] Bouke commented on #63277
Hi @KalyanChanumolu-MSFT, I believe this question is regarding the documentation. I'm trying to perform the actions listed under [Remove recommendations from the list](https://docs.microsoft.com/en-us/azure/azure-sql/database/database-advisor-find-recommendations-portal#removing-recommendations-from-the-list), but they don't work.

The recommendations are from September 12th and 19th, so I think t

[2020-09-30 08:51] tsahi opened #63526 "Does this work for .NET Framework / webjob?"
You write:

Does this include a console application running as an Azure WebJob?

Also, your example uses the ILogger API. Correct me if I'm wrong, but this API is available to .NET Core, and not .NET Framework, right?

Finally, the link to the first example in the "Sample applications" section is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-09-30 09:01] mrcarter8 commented on #63520
The doc page you linked doesn't mention data sources.  This is for private mode on the search service for inbound calls, which does support the Basic tier.  Outbound private endpoints is covered on this page: https://docs.microsoft.com/en-us/azure/search/search-indexer-howto-access-private

We should mention the Basic SKU limitation there.  No disagreement from me.  FYI @MarkHeff & @HeidiSteen

[2020-09-30 09:03] yelevin commented on #63348
@MarileeTurscak-MSFT Sorry, yes, it has. PR #131850.
#please-close

[2020-09-30 09:03] #63348 closed

[2020-09-30 09:05] danimir commented on #63277
@Bouke - Let's be very clear: This is not a documentation issue and we, as owners of this documentation, cannot answer your question why this is not working for you. What is very clear to us from the screenshot is that you have a technical issue -- the product is not behaving as expected. This could be related to perhaps to a fault in our systems, or perhaps there is something that conflicts index

[2020-09-30 09:08] SwathiDhanwada-MSFT commented on #63292
Thanks for your response. As there are no further documentation changes, we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2020-09-30 09:08] #63292 closed

[2020-09-30 09:09] BhargaviAnnadevara-MSFT commented on #63404
@ZohairTharani Hope the above inputs help. Are there any further questions here?

[2020-09-30 09:11] vipulsparsh commented on #63522
@lightupdifire Thanks for reaching out. We will investigate and update the thread accordingly.

[2020-09-30 09:12] Shutima commented on #52807
Hello, I am having the same issue but I don't know how to use overload instead, could someone please give me the sample code to replace this obsolete function? Thank you in advance.

[2020-09-30 09:16] SwathiDhanwada-MSFT commented on #63269
@ToruMakabe I have checked from my end and I could see that the metrics are being logged. Can you please let me know where are you checking if the metrics are being logged or not?

![image](https://user-images.githubusercontent.com/48976275/94666473-25590480-032b-11eb-9c63-a4977f10f83f.png)

[2020-09-30 09:19] MayankBargali-MSFT commented on #63525
@marcin-dudek I will reach out to confirm if this is supported. I have tested the advanced filter and I don't see any filter that can help to verify the null value. There was already #28139 discussion where the product team has confirmed that isn't supported that time and we document only those filter that is supported.

[2020-09-30 09:32] Bouke commented on #63277
The product claims that I have "manually reverted the index", and is now stuck in the "Error" state. I believe that what one can do about this, is something that should at least be discussed in the documentation.

(I'm meanwhile working with Azure Support on the underlying issue. So far I'm getting nowhere as they keep recommending to click the non-existing "Discard" button.)

[2020-09-30 09:37] danimir commented on #63277
@Bouke Thanks on the feedback for documenting troubleshooting steps, we might take it into consideration. However what I struggle with here is how to document troubleshooting steps, while it is clear to me that you need engineering support. In terms of your support request, you first get engaged with 1st line support engineer. They will attempt to troubleshoot (which is what they are telling you t

[2020-09-30 09:40] gregdegruy opened #63527 "Registrar's DNS management page"
"In the registrar's DNS management page, edit the NS records and replace the NS records with the Azure DNS name servers." What is this referring too? Can some examples be provided? Is not it not possible to use Azure as a DNS provider?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4cb21b82-0660-2c3f-1651-86285fa64e59

[2020-09-30 09:46] AlexCesarini opened #63528 "Table 5 - more attributes allowed (?)"
Would it be possible also to support the use of attributes like msExchExtensionCustomAttribute1-15 together with the list mentioned in Table 5?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 195c79a3-ccc5-8c6a-233e-95e344a9b4df
* Version Independent ID: 401c7557-5817-bbd3-5bd8-8c97ef5a28cc
* Content: [Customize Azure A

[2020-09-30 09:52] SwathiDhanwada-MSFT commented on #63528
@AlexCesarini Thanks for your comment. Can you please share the document you are following so that I can assign it to respective team ?

[2020-09-30 09:53] usrme opened #63529 "Mistake in 'Automatic deletions from deployment history'"
There is a technical mistake in the documentation where it states when the automatic deployment deletion kicks in:

Upon testing this is not true as when I leave the deployment count at exactly 775, then the old deployments are **not** deleted, but when I create an additional deployment, then it automatically decreases the count to 750.

The line should read:

Or:

---
#### Document Details

⚠ *Do

[2020-09-30 09:54] CHEEKATLAPRADEEP-MSFT commented on #63517
@kalyani-swain  I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2020-09-30 09:56] CHEEKATLAPRADEEP-MSFT commented on #63453
@Manishjpradhan I’m working with the product team and get back to you when I have more information.

[2020-09-30 09:59] jstensved opened #63530 "Settings WEBSITE_LOAD_USER_PROFILE = 1 needed"
It should be mentioned that without the setting WEBSITE_LOAD_USER_PROFILE = 1 the secret might not not be fetched but instead throw the following exception;

`An unhandled exception was thrown by the application. Internal.Cryptography.CryptoThrowHelper+WindowsCryptographicException: The system cannot find the file specified. at Internal.Cryptography.Pal.CertificatePal.FilterPFXStore(Byte[] rawData

[2020-09-30 10:03] MayankBargali-MSFT commented on #63525
@marcin-dudek I have got the confirmation from the product team that this is not supported yet. Feel free to open a feature request on [UserVoice](https://feedback.azure.com/forums/909934-azure-event-grid) for this. I will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-09-30 10:03] #63525 closed

[2020-09-30 10:07] steveharsant opened #63531 "Outdated documentation of app passwords"
- The current documentation does not reflect the actual portal as it has been redesigned. There is no longer a _Security and Privacy_ tab as it is now either _Settings and Privacy_ or _Security Info_

- Under the **To create app passwords using the Office 365 portal** header, the link to the account page does not lead there, but rather the landing page when a user logs into Office365

- under the

[2020-09-30 10:35] OffColour opened #63532 "Multi-homing?"
How do you do this if you need to multi-home MMA so you can accomodate both standard LAW logging and Defender ATP?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 01ccf572-b0dc-05bf-8c17-43aabf8b91c4
* Version Independent ID: 6ad1b630-a3cb-8df9-a2bf-c80a8720ea59
* Content: [Enable Azure Monitor for VMs by using Azure Po

[2020-09-30 10:40] SnehaAgrawal-MSFT commented on #63369
@josealvarez97 Thanks for the valuable feedback on this! I have assigned the issue to the content author for further review on this matter.

[2020-09-30 10:44] #63510 closed

[2020-09-30 10:45] SnehaAgrawal-MSFT commented on #63510
@mjtpena Thanks I have created PR it will be visible soon

[2020-09-30 10:49] mtwelve opened #63533 "Is there a minimum amount of time servers must be audited before an Application Control Policy can be switched to Enforce?"
Hello,

We are running a pilot to use Azure Adaptive Application Control.

All of our the 'File-type protection mode' options within policies are currently set to audit with no option to switch to enforce.

![image](https://user-images.githubusercontent.com/15998398/94676207-df904200-0312-11eb-8d0a-1981930fe9ab.png)

There is an old issues raised about a comment stating that 'Enforce protection mo

[2020-09-30 10:50] SnehaAgrawal-MSFT commented on #63530
@jstensved Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-30 10:51] mtwelve commented on #63533
UserVoice for the same thing from 2019 - https://feedback.azure.com/forums/347535-azure-security-center/suggestions/37338196-enable-enforcement-on-adaptive-application-contr

[2020-09-30 10:51] ToruMakabe commented on #63269
@SwathiDhanwada-MSFT  Finally, I understood the cause. I tried the assignment by Terraform with reference to this doc. So, client_id did not work, but object_id did. Terraform doc [explain](https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/role_assignment#argument-reference) it.

[code]

Anyway, I tried the assignment by Azure CLI, it works. It seems that "az role ass

[2020-09-30 10:51] KrishnaG-MSFT commented on #63529
@usrme Thanks for your comment! We will review and provide an update as appropriate.

[2020-09-30 10:52] KrishnaG-MSFT commented on #63526
@tsahi Thanks for your comment! We will review and provide an update as appropriate.

[2020-09-30 10:53] 5eba5tian00 commented on #63464
Thanks, will try there.

[2020-09-30 10:54] #63517 closed

[2020-09-30 10:57] ranmax123 commented on #36306
Can we fix this pls? This bug is still there..

[2020-09-30 11:01] AnuragSharma-MSFT commented on #63368
@FelixS90 Creating an alias when user names exceed 32 characters is just a recommendation as it become difficult to use longer name when connecting, you can still connect with user names greater than 32 characters.

Same is true for Azure AD groups. You can have AD groups greater than 32 characters and use them for logging in after creating AAD user.

[2020-09-30 11:04] AnuragSharma-MSFT commented on #63524
@Bouke Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2020-09-30 11:07] ivandretvic opened #63534 "Missing info on Microsoft Edge store app"
Need to update the section to include the new Edge store app:

It lives on the Microsoft store now.
https://microsoftedge.microsoft.com/addons/detail/my-apps-secure-signin-ex/gaaceiggkkiffbfdpmfapegoiohkiipl?hl=en-GB

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40b408ce-fede-ac0a-c72f-40cc02e92889
* Version Independe

[2020-09-30 11:17] BhargaviAnnadevara-MSFT commented on #60150
@mutazn Apologies for missing your comment earlier.

@jiasli Were there any known issues that we may have had in this time frame?

[2020-09-30 11:18] AnuragSharma-MSFT commented on #63383
@FelixS90 We really appreciate bringing these queries upfront but GitHub is mostly used to track specific document related queries.

We’d be happy to answer this on the [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/questions/ask.html) or  [StackOverflow](https://stackoverflow.com/questions/ask) and walk you through whatever might be giving you trouble.
Doing this on the forums allows us

[2020-09-30 11:23] brunochaina commented on #54857
It's definitely confusing, I thought the sample app would be using Azure, as the docs are about a Quickstart for Azure SignalR Service, not just plain SignalR. I realized there were no connections to my SignalR instance on Azure. I checked the Quickstart from the SignalR Service profile I created on the Azure Portal and then I realized I wasn't configuring correctly Startup.cs. I missed the follow

[2020-09-30 11:30] SwathiDhanwada-MSFT commented on #63269
Thanks for the update @ToruMakabe.
#please-close

[2020-09-30 11:30] #63269 closed

[2020-09-30 11:54] ChrisAtMAF opened #63535 "Setting Site-to-Zone policy will remove SharePoint Online Trusted sites additions by default"
We experienced a number of issues with SharePoint Online / OneDrive integration after making these changes. It turns out that the OneDrive client adds the following sites to the 'Trusted' security zone in Internet Explorer on a computer by default, but these default entries are 'overridden' when setting Site to Zone via Group Policy:
https://[tenantname]-files.sharepoint.com -> 2 (Trusted Sites)
h

[2020-09-30 11:57] joseba-altran opened #63536 "Sample Azure Function code does not work"
The provided source code for the `ProcessDTUpdatetoTSI` sample Azure function is not compiling.

The code states:
[code]
It's probably missing some curly braces:
[code]

Kind regards
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2bbde2bf-9080-e79d-8d0c-0a9823236958
* Version Independent ID: cd82d962-b2f6-3936-0896-2dc7

[2020-09-30 11:58] mloskot opened #63537 "Scope of unique name of PostgreSQL server is unclear"
Currently the page modestly explains the server name needs to be unique:

![image](https://user-images.githubusercontent.com/80741/94681700-2f2b3980-0324-11eb-89fe-ccfcaf634af2.png)

But, what it does not explain within what scope the name must be unique.

I have no PostgreSQL server, neither any database, on my Azure account/subscription and when I run the following command

[code]

I'm getting t

[2020-09-30 11:59] ChrisAtMAF opened #63538 "Setting Site-to-Zone policy will remove SharePoint Online Trusted sites additions by default"
We experienced a number of issues with SharePoint Online / OneDrive integration after making the changes listed under Configure the local intranet settings for device registration. It turns out that the OneDrive client adds the following sites to the 'Trusted' security zone in Internet Explorer on a computer by default, but these default entries are 'overridden' when setting Site to Zone via Group

[2020-09-30 12:05] AnuragSharma-MSFT commented on #63537
@mloskot Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2020-09-30 12:06] RohitMungi-MSFT commented on #63516
@jamesbannan Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-09-30 12:10] SwathiDhanwada-MSFT commented on #63504
@bschlechty Thanks for your comment. We will review the issue and get back to you shortly.

[2020-09-30 12:27] AshokPeddakotla-MSFT commented on #63513
@BenFranzi Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-30 12:33] vipulsparsh commented on #63531
@steveharsant Thanks for reaching out. We will investigate and update the doc accordingly.

[2020-09-30 12:35] QiangZ commented on #39079
Hello, I have the same problem trying to set link ADF with my repo.
I have a public reposito ry https://github.com/bamboox2go/ADF-Devops
That is under the bamboox2go organisation.
I've tried to link my ADF instance to the specified repository however I got this error message:

`
You don't have permission to import resource to the repository, please resolve the permissions in GitHub
`

It seems tha

[2020-09-30 12:39] jbinko opened #63539 "With AD+AAD Azure subscription do not have to be parented into the same tenant"
You wrote:
An Azure subscription, parented to the same Azure AD tenant, that contains a virtual network that either contains or is connected to the Windows Server Active Directory or Azure AD DS instance.

This is true only for Azure AD DS use case.
With AD+AAD Azure subscription do not have to be parented into the same tenant. I just verified it.

---
#### Document Details

⚠ *Do not edit this se

[2020-09-30 12:40] vipulsparsh commented on #63533
@mtwelve Thanks for reaching out. We will investigate and update the thread accordingly.

[2020-09-30 12:41] vipulsparsh commented on #63534
@ivandretvic Thanks for reaching out. We will investigate and update the thread accordingly.

[2020-09-30 12:43] KalyanChanumolu-MSFT commented on #63277
Thanks @danimir

@Bouke We are committed to helping you resolve this issue.
Do you have an Azure Support plan? If so, please raise an issue with Azure Support.

If you do not have a support plan, send your Azure Subscription ID to [AzCommunity](mailto:azcommunity@microsoft.com) and reference this thread.
Please add [Attn: Kalyan] to the subject line so that I don't miss your email.
I will send you

[2020-09-30 12:47] marcin-dudek commented on #63525
I think it will be great to have documented that nulls are not supported as of now similarly as mentioned in terms of arrays.

[2020-09-30 12:55] AndreaScarinci opened #63540 "Unclear documentation"
IHMO: the content of this documentation page is not clear enough. Quality is way below the MSFT docs average and concepts are difficult to understand.
The page is filled with a mix of single concepts but doesn't give a clear and comprehensive explanation about how HA and LoadBalancers works.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2020-09-30 13:05] MonikaReddy-MSFT commented on #63495
@venkat-vangal  - Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-09-30 13:06] MonikaReddy-MSFT commented on #63485
@deadmansmokin -
Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-09-30 13:07] MonikaReddy-MSFT commented on #63470
@Jason1666 - Please note that this channel (the Azure Docs repository) is only for driving improvements related to the Azure documentation. It would be great if you can share the documentation link you are referring, so that we can assist you accordingly.

[2020-09-30 13:10] SwathiDhanwada-MSFT commented on #63457
@falrnacn Can you please share the document which you were following so that I can check and update the document accordingly?

[2020-09-30 13:12] MonikaReddy-MSFT commented on #63399
@ak8git  -
Since we have not heard back from you we will now proceed to close this thread.
However if you can share additional information regarding the documentation you are referring and circle back on this thread , we will gladly reopen the issue and continue the discussion. Thank you.

[2020-09-30 13:12] #63399 closed

[2020-09-30 13:28] GitaraniSharma-MSFT commented on #63527
@gregdegruy , thank you for your question. We'll review this and get back to you soon.

[2020-09-30 13:29] thelethalkind opened #63542 "Unable to create two listeners on the same port"
I'm sure this is as designed with Application Gateway but according to this tutorial it is having me create two different listeners on the same port, which isn't possible.  Can this be clarified?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 841418eb-7a51-60fe-a651-bf77a7c790de
* Version Independent ID: 2a5ede90-8d15-

[2020-09-30 13:33] SubhashVasarapu-MSFT commented on #63542
@thelethalkind, Thanks for reaching out. We will investigate and update this thread.

[2020-09-30 13:36] icaromedeiros opened #63543 "Screenshot is outdated"
Screenshot is outdated as azcopy now supports lots of types of storage account other than just Blob Containers thus making the terminal screenshot very misleading

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15911160-5ba2-fb0a-0b24-16b3857e20ce
* Version Independent ID: d925bc9f-f825-2f82-168c-6c30d716b9ce
* Content:

[2020-09-30 13:37] damochiz opened #63544 "can't edit Notebooks by the custom role of "data_scientist_custom_role.json""
[Enter feedback here]
Notebooks cannot be edited with custom roles on the following sites.

https://docs.microsoft.com/en-gb/azure/machine-learning/how-to-assign-roles#q-are-there-some-custom-role-templates-for-the-most-common-scenarios-in-machine-learning-service

It needs to remove the following Action from "NotActions".

---
#### Document details

⚠ *Do not edit this section. It is required for

[2020-09-30 13:50] psmanhas commented on #63505
@alex-frankel The template needs amending to drop the storageProfile as it defaults to managedDisks – this was used in a early API version:

https://docs.microsoft.com/en-us/azure/templates/microsoft.containerservice/2017-08-31/managedclusters

The disk size when 0 is specified is expected due to the documentation:

https://docs.microsoft.com/en-us/azure/templates/microsoft.containerservice/manage

[2020-09-30 13:51] nishankgu commented on #63544
@John Wu<mailto:Wu.John@microsoft.com>  @Abe Omorogbe<mailto:Osarumwense.Omorogbe@microsoft.com>  @Vijeta Johri<mailto:Vijeta.Johri@microsoft.com>  on this.

Haven’t checked the GH link but the custom roles shouldn’t prevent notebook authoring. If it’s about editing the CI, that’s on purpose!

________________________________
From: damochiz <notifications@github.com>
Sent: Wednesday, September 30,

[2020-09-30 14:00] SubhashVasarapu-MSFT commented on #63542
@thelethalkind, Same ports cannot be used between multiple basic listener configurations. But, Multi listener have that capability of utilizing the same port.

[2020-09-30 14:14] peternann opened #63546 "SSML prosody rate example uses '+' and '%' features, but they are not documented"
As the title says, the prosody examples on the SSML doco page use the '+' and '%' features like: ```<prosody rate="+30.00%">``` but neither the '+' feature nor the the '%' feature is ever mentioned or documented relative to the 'rate' property just above.

I guess it's fairly obvious how they work.
But it is a little strange that the examples seem to **totally not follow** the very documentation t

[2020-09-30 14:15] PalmEmanuel commented on #30381
I'm getting the same `Could not attach to process with CustomPipeName: 'AzureFunctionsPSWorker'` error when I press F5 with my function created using the VS Code Extension. I've tried uninstalling and re-installing the SDKs on my computer as well as the functions extension in VS Code.

[code]
[code]

[code]

[2020-09-30 14:15] GitaraniSharma-MSFT commented on #63527
@gregdegruy , Azure DNS doesn't currently support the option to buy domain names. To buy domains, you must use a third-party domain name registrar. The registrar typically charges a small annual fee. The domains then can be hosted in Azure DNS for management of DNS records.
Please refer : https://docs.microsoft.com/en-us/azure/dns/dns-faq#does-azure-dns-support-domain-name-registration

The featur

[2020-09-30 14:15] #63527 closed

[2020-09-30 14:15] NavtejSaini-MSFT commented on #63228
@peagerm We are going ahead and closing this thread for now. Please get back to us if you have any other issue.

[2020-09-30 14:15] #63228 closed

[2020-09-30 14:15] Mahesh-MSFT commented on #63484
Thanks @TravisCragg-MSFT .

I am using VWAN Hub and not the conventional hub and spoke network topology.  I am trying to connect to VNET using VPN. There is no Peering involved.

On 2nd question, having a working example with routes configured for P2S in VWAN will be really helpful.

In this issue, I think I have changed routes but the issue still remains.

[2020-09-30 14:16] NavtejSaini-MSFT commented on #63233
@AbhishekShaha At this time we are going ahead and closing this thread. If you have any other questions or concern please check back to us.

[2020-09-30 14:16] #63233 closed

[2020-09-30 14:18] NavtejSaini-MSFT commented on #63354
@huanminwu At this time we are going ahead and closing this request. Please get back to us if you any other questions or concerns.

[2020-09-30 14:18] #63354 closed

[2020-09-30 14:27] rharper82 opened #63547 "Unclear guidance - Using Azure Backup as DR solution."
The section for Infrastructure-based asynchronous replication suggests that Azure Backup can be leveraged to back up managed disks, however the recommendation for how to achieve this is unclear. Azure Backup can only backup managed disks when they are attached to an Azure VM. Please provide additional clarity around how to leverage Azure Backup as a DR solution in this scenario.

https://docs.micr

[2020-09-30 14:34] martinoss opened #63548 "Is there a link to KeyVault after import?"
I miss information about the behavior when imported a certificate from KeyVault.
Will there be a link to KeyVault or is it just a one-time operation? (not in sync with new versions of the certificate)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36657265-6c54-f354-9e09-51f5f23d6ba5
* Version Independent ID: bad1c0d1-

[2020-09-30 14:36] djpmsft commented on #39079
@QiangZ This error is specifically with saving resources in your git repository. So ADF was able to connect, but then when you tried to import the user, GitHub threw an error on the account you logged in with. Likely, you are trying to save to a branch you don't have merge permissions to

[2020-09-30 14:57] thelethalkind commented on #63542
Apologies I've tested this and I am seeing the ability to use same port with multisite, thanks for your quick response!

[2020-09-30 14:57] #63542 closed

[2020-09-30 15:20] joseba-altran opened #63549 "Small typo in the azure function configuration code"
There are two (related) small typos in the azure function configuration sample code.

The two lines state:
[code]

The quotes are closed incorrectly, with part of the `az functionapp config` command (the resource group name & the function app name) being incorrectly placed within the quotes. It should probably read:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2020-09-30 15:24] dkmiller commented on #63134
A couple thoughts:

1. After using `interactive_auth = InteractiveLoginAuthentication(tenant_id="123")`, I usually have to run the code twice for it to work. Not entirely sure why &mdash; there must be something about creds needing to be cached somewhere. An alternative is to use `DefaultAzureCredential` and explicitly log in to a specific tenant using the Azure CLI.
2. You may safely ignore the "

[2020-09-30 15:30] csmcallister opened #63550 "Unclear if Queue Trigger Binding for Functionapp Handles Message Deletion"
Hi,

It's not clear from the documentation whether one must manually delete queue messages after successful processing of the queue message in a functionapp when using the queue trigger binding. I've tried searching around for this, but I cannot find an answer. My hunch is that the message is deleted since the binding only exposes a [QueueMessage](https://docs.microsoft.com/en-us/python/api/azure-

[2020-09-30 15:35] dotbalo commented on #62037
I think so too, deleting ValidatingWebhookConfiguration is not a good solution, Because it is very unsafe.But I don't know how to solve this problem.
I used the same steps and there is no problem in Kubernetes v1.17.5. But in Kubernetes v1.19.x there will be an error:
[code]

Chart Version:
····
# cat Chart.yaml
apiVersion: v1
appVersion: 0.35.0
description: Ingress controller for Kubernetes using

[2020-09-30 15:36] Karishma-Tiwari-MSFT commented on #62660
@langer318 Sorry for the delay on this.
It looks like you have set the minsessionhost to 1 meaning that the script will always leave 1 host running 24x7. If you don't want to have 1 host available then you would need to change the parameter to 0.
i.e.  - MinimumNumberOfRDSH : 0
Let me know if you have further questions.

[2020-09-30 15:37] ecfan commented on #36306
Hi @ranmax123,

Thanks for your feedback! For these issues, please let the engineering team know by posting in the Logic Apps user feedback site:

https://feedback.azure.com/forums/287593-logic-apps?category_id=152859

[2020-09-30 15:41] sdgilley commented on #63134
@thecpshah - can you verify that executing the code twice works for you?

[2020-09-30 15:47] JamesTran-MSFT commented on #63548
@martinoss
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-30 15:50] JamesTran-MSFT commented on #63535
@ChrisAtMAF
This looks like a duplicate issue with #63538.

I'll be closing this one since it looks like the article linked to the other question is more relevant to what you're asking.

[2020-09-30 15:51] JamesTran-MSFT commented on #63538
@ChrisAtMAF
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-30 15:51] li-leyang commented on #63438
Thanks @SubhashVasarapu-MSFT Let me know if there is any update on this.

[2020-09-30 15:51] Aniththa commented on #63346
@nibaccam Minsoo completed this PR this week: https://github.com/MicrosoftDocs/azure-docs-pr/pull/131579/files

[2020-09-30 16:04] InformTechPro opened #63552 "The "Install the Azure VM Agent on Linux VMs" link points to Log Analytics Extension page."
Hello.

"Install the Azure VM agent on Linux VMs" redirects reader to the Log Analytics Agent page. The Azure VM Agent handles reporting on the health of installed Extensions (e.g. Azure Log Analytics agent-extension) as well changes to the Log Analytics agent. One of the references below would be a good fit though:
How to update the Azure Linux Agent on a VM
https://docs.microsoft.com/en-us/azure

[2020-09-30 16:06] ChrisAtMAF commented on #63535
Hey @JamesTran-MSFT - both articles reference setting the 'Site-to-Zone' setting via Group Policy (to different ends) so they probably both need updating since it will be a side-effect of either process. But can discuss in the other article first if you like.

[2020-09-30 16:09] JamesTran-MSFT commented on #63535
@ChrisAtMAF
Thanks for the clarification! I'll look into this and update you as soon as possible.

[2020-09-30 16:15] blackchess12 commented on #63265
I reached out to Akamai support and they mentioned that they don't publish their IP list. I am not familiar with Akamai AS numbers. Do you have a link where I can learn more about them. Is it possible to add the Akamai AS number to a Azure Storage Blob's white list?

[2020-09-30 16:16] phuong-vo commented on #63317
Hi @JamesTran-MSFT,
Thanks for your quick response. I just email you with all your requires.
Thanks again for providing additional help.

[2020-09-30 16:35] alex-frankel commented on #63505
Thanks for looking into it @psmanhas

I'm not sure the issues are due to what-if, I think what-if is just exposing the issues. I took a look at the GET response of what the AKS resource looks like in ARM, this is what I see:

[code]

The "managedProfile" is there, so to me it looked like what-if was in fact getting something wrong, but I realized it's because the `storageProfile` property appears

[2020-09-30 16:42] JnHs commented on #63506
@lcpautotester Thanks for sharing this feedback. I've created a task for this work and will work with the PM to prioritize against other work in the future.
Since this is not an existing issue with the doc as is, I'm going to close this GitHub issue. Thanks again for taking the time to provide your feedback!
#please-close

[2020-09-30 16:42] #63506 closed

[2020-09-30 16:48] joelverhagen opened #63553 "Is there a way to determine if the secret is disabled?"
My team has noticed that we receive expiration Event Grid events for KeyVault secrets that are disabled.

Is this expected? If so, is it possible to add a property to the KeyVault event data of whether the secret is enabled or disabled?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08fcaa60-2206-ed3d-9851-09a201f749e2

[2020-09-30 16:55] look-im-not-your-daddy commented on #63382
Update: please disregard point 1.

[2020-09-30 17:01] asergaz commented on #63536
@joseba-altran  Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-30 17:02] emuench commented on #59885
It is likely this is being attempted without correct privileges. Documentation mentions in prerequisites that admin rights are required: "The following user permissions are necessary to complete the steps in this article: Administrator rights on your Dynamics 365 Customer Engagement instance to be able to install a solution."

[2020-09-30 17:03] Naseej-App opened #63554 "What should I do if moving to a new resource group was successful?"
[Enter feedback here]

My resource group contains the following few resources to help run my smart app on smart phones : (SQL server,SQL database,App Service plan,App Service,Application Insights), I know that there will be a down time, but will my smart app work immediately after the moving is completed? for example should I re-deploy my node.js back-end for example on azure?

---
#### Document D

[2020-09-30 17:05] SnehaAgrawal-MSFT commented on #63462
@eric-labelle  Please refer to below doc link which specify some limits:
https://docs.microsoft.com/en-us/azure/notification-hubs/notification-hubs-tags-segment-push-message#tags
Specifically, a tag is limited to 120 characters and a registration is limited to 60 tags. We do have hard limits in our storage system, and we do not support customers exceeding the documented limits. Here the recommenda

[2020-09-30 17:05] #63462 closed

[2020-09-30 17:07] WinstonHoward-MSFT commented on #63547
Thanks for the issue, I've assigned this to the doc author to take a look.

[2020-09-30 17:07] Krytical13 commented on #46581
The link to the doc is broken.

[2020-09-30 17:13] MarkHeff commented on #63520
@arv100kri are you planning on adding the below table to the outbound private endpoints doc? If not, I can add it.

![image](https://user-images.githubusercontent.com/48117857/94717450-30993980-0305-11eb-8c07-fe5cdb2e4bbf.png)

[2020-09-30 17:19] roygara commented on #63379
@hphuhtin Thanks for reaching out and bringing this to our attention, we appreciate it! I've gone ahead and looped in the script writer. I'm currently awaiting their feedback and will go from there.

[2020-09-30 17:21] csimon82 commented on #36021
I am running into this same issue where I cannot pass storageAccountKey as a parameter or variable but it works fine if I hardcode the value into the json.  Is there any resolution for this issue?

[2020-09-30 17:25] PeterCLu commented on #63346
@damochiz, thanks for your report. Our team has updated the documentation, you should see the updated package import statements on the live site. I'll proceed to #please-close this issue.

[2020-09-30 17:25] #63346 closed

[2020-09-30 17:27] PeterCLu commented on #63544
@damochiz, thanks for your report and thank you@nishankgu for responding to the issue.

I'll proceed to #please-close this issue.

[2020-09-30 17:27] #63544 closed

[2020-09-30 17:29] D-Moonesinghe opened #63555 "There is nothing here that connects risk events with the risk level"
How do we figure out the risk event and the risk level.  I couldn't find a link in this document to any list like that.

Only thing I found is in this blog post here: https://www.rebeladmin.com/2018/09/step-step-guide-configure-risk-based-azure-conditional-access-policies/.  But how can I trust that?

![image](https://user-images.githubusercontent.com/60631350/94719044-9c3cd000-0320-11eb-83f4-c46b

[2020-09-30 17:32] DerekHerman-MSFT commented on #63543
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-09-30 17:34] scott-wi commented on #54039
Yes! Thank you for getting this published :)

[2020-09-30 17:34] #54039 closed

[2020-09-30 17:35] ChaitanyaNaykodi-MSFT commented on #63550
Hello @csmcallister,  Thank you for your feedback! We will review and update as appropriate.

[2020-09-30 17:38] NorthHighlandNicole commented on #61439
Under this section https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-tutorial-deploy-app-with-cicd-vsts#create-a-build-pipeline

The screenshot shows to build the solution AND build the project.

![image](https://user-images.githubusercontent.com/60410311/94720282-423d0a00-0322-11eb-8d97-51c091539a60.png)

[2020-09-30 17:43] brianbarnett316 opened #63556 "ADF-GitHub integration - Unable to import resources with a GitHub organization repository"
[Enter feedback here]
Is there any special considerations with ADF GitHub integration if you have 2FA enabled on your GitHub user?  I'm not sure it is related, but I have 2FA enabled and when I attempted to add GitHub integration and had the "Import existing Data Factory resources" checked, I got this error message, "You don't have permission to import resource to the repository, please resolve th

[2020-09-30 17:47] mutazn opened #63557 "kubelogin is not installed when follow the document instructions"
As mentioned in the document: https://docs.microsoft.com/en-us/azure/aks/managed-aad#prerequisites
To install kubectl and kubelogin, use the following commands:
sudo az aks install-cli
kubectl version --client
kubelogin --version

but after running the commands then kubelogin is not installed
~# sudo az aks install-cli
Downloading client to "/usr/local/bin/kubectl" from "https://storage.googleapis

[2020-09-30 17:47] DawgFan commented on #46581
@Krytical13 Yes please

[2020-09-30 17:51] djpmsft commented on #63556
Hey @brianbarnett316

Do you have merge permissions into the branch that you wished to import the resources in.

@Ceespino any ideas here?

Thanks,
Daniel

[2020-09-30 17:52] regexrowboat commented on #63217
It sounds like your APIM logging might not be logging to the correct Application Insights resource. Can you verify you have these settings set? I'd recommend setting your correlation mode to W3C as well.

![image](https://user-images.githubusercontent.com/16087841/94720636-94bdfc80-0309-11eb-8b4b-35480904d045.png)

The other thing to check is to make sure that your configured Logger (in the "Desti

[2020-09-30 17:52] JamesTran-MSFT commented on #63555
@D-Moonesinghe
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-30 17:52] mutazn commented on #60150
@BhargaviAnnadevara-MSFT I am still facing the same issue and as a workaround I added this record to my hosts file "13.90.143.69	shell.azure.com"

[2020-09-30 17:55] stpfarms opened #63558 "New-AzResource Fails"
The scripts used to work for me and stopped working in the last few months. I can reproduce the issue in my existing tenant or in a brand new tenant. There are also active forums on the issue.

When you initiate the  New-AzResource command it spits back the following error: New-AzResource : BadRequest : The property 'ReplicaSets' is missing.

ReplicaSets is not listed as mandatory on the provider

[2020-09-30 17:57] D-Moonesinghe opened #63559 "Missing part of the explanation on : Upon completion settings"
In the section: Upon completion settings

This article doesn't explain
1. what the "Take Recommendations" do?
2.  What happens reviewer is set to Self and the reviewer never completes review before the review date ends.  Then what happens if "Take Recommendations" are set?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-09-30 17:57] brianbarnett316 commented on #63556
These are my current settings.

[cid:image001.png@01D69731.7A03A820]

From: Daniel Perlovsky <notifications@github.com>
Sent: Wednesday, September 30, 2020 1:52 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Brian Barnett <brian.barnett@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] GitHub integration with 2FA enabled (#63556)

Hey @

[2020-09-30 17:57] kummanish commented on #63403
hi @sunilprabha , can you please create a Support request so that we can investigate this issue from our side and help mitigate the issue?

[2020-09-30 18:06] brianbarnett316 commented on #63556
One other piece of information just in case it has an impact.  I have a private preview feature enabled on my Data Factory, the REST Sink feature is enabled.

From: Brian Barnett
Sent: Wednesday, September 30, 2020 1:57 PM
To: MicrosoftDocs/azure-docs <reply@reply.github.com>; MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Mention <mention@noreply.github.com>
Subject: RE: [MicrosoftD

[2020-09-30 18:11] D-Moonesinghe opened #63560 "Doesn't have instructions on enabling PIM and giving consent."
This document doesn't show us where or how to enable PIM and give consent. Nor does this point to any other link that shows that.

Ideally it should have something like the diagram below and how to get there.
![image](https://user-images.githubusercontent.com/60631350/94723507-d7420200-0326-11eb-9181-09ed629b4a0f.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2020-09-30 18:34] writex opened #63561 "Move the end to the beginning"
It was painful and laborious to read this article and then discover the best was at the end beginning with the section **Scenarios and configurations.**

When you go shopping you walk down aisles and scan. When you see what you are looking for, if you were required to spend many minutes reading technical details before you get to a brief, simple, elegant summary, you'd move onto the next product.

[2020-09-30 18:34] thommck opened #63562 "4 clarifications needed"
I just completed this tutorial, and as a n00b to ADF and SQL DW I wanted to give you some feedback.

1. The pre-reqs should explain how to import the taxi BACPAC file - I had to google it which led to this simple Microsoft Docs article https://docs.microsoft.com/en-us/azure/azure-sql/database/database-import.
2. The ADF tutorial was a bit out of date. The first step describes creating a Linked Ser

[2020-09-30 18:51] gregdegruy commented on #63527
Thanks for confirming this, I choose to use a third-party domain name registrar as you mentioned and have resolved my issue here.

[2020-09-30 18:55] tonyshackelton commented on #53210
I agree... that and they pulled all the info about what plans contain what parts off the main page.  The people that handle naming and licensing for azure need to be fired. We are MS partners, we can't keep track, whenever we call we just get run around, then dumped on some v- person, that pastes us the homepage. Does AzureInformationProtection, I use to get azure rights managment, give me azure A

[2020-09-30 18:58] masterofimages opened #63564 "XML validation example does not produce a functioning Logic App"
Following this example results in a Logic App that always returns an HTTP 400 error when called with valid input XML due to @{triggerBody()} always evaluating to null, i.e.:

{
    "ErrorCode": "InvalidTemplate",
    "ErrorMessage": "Unable to process template language expressions in action 'XML_Validation' inputs at line '1' and column '1699': 'Required property 'content' expects a value but got

[2020-09-30 19:01] aschechter88 opened #63565 "Page doesn't note restriction that traffic manager must have IP address"
This page doesn't mention that setting up an apex record with an alias to point to a traffic manager comes with the restriction that the Traffic Manager points to an IP address, not a FQDN.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d55c6a33-a21f-e8b6-da9b-f071d0db1df9
* Version Independent ID: 87388983-e525-89a7-2

[2020-09-30 19:02] mslot commented on #36458
I am confused. What is the correct thing to do?

as @ehamai says?

or

as @shubDhond says?

I get an error if I have an azure function on consumption plan with no WEBSITE_CONTENTSHARE and i:
1. deploy ARM to staging slot
2. swap
3. redeploy to staging slot

Then it tells me that i need the WEBSITE_CONTENTSHARE. It is like it can't generate a share for the old production slot. I haven't tried to re

[2020-09-30 19:12] ShaneBala-keyvault commented on #58708
Hi @iricigor I apologize for the late followup here. This document was deprecated and we have added a new set of documents related to moving key vault. The new document contains the clear context command in the PowerShell section.

Here is the link: https://docs.microsoft.com/en-us/azure/key-vault/general/move-subscription

The references to the old documentation have been removed. As a result, I

[2020-09-30 19:12] ShaneBala-keyvault commented on #58708
#please-close

[2020-09-30 19:12] #58708 closed

[2020-09-30 19:14] ShaneBala-keyvault commented on #58288
The documentation has been updated with 2 distinct sections for moving a key vault to a different subscription in the same tenant vs different tenant. Link here: https://docs.microsoft.com/en-us/azure/key-vault/general/move-subscription#moving-key-vault-to-a-new-subscription-within-the-same-tenant

Issue will be archived.

[2020-09-30 19:14] ShaneBala-keyvault commented on #58288
#please-close

[2020-09-30 19:14] #58288 closed

[2020-09-30 19:24] swapnild2111 commented on #63455
@SwathiDhanwada-MSFT I am referring - https://docs.microsoft.com/en-us/rest/api/virtualnetwork/publicipprefixes/createorupdate#publicipprefix

Please see the attached screenshot and observe Resource ID. The camel case is missing for words - publicipprefixes and resourcegroups. So when I use Resource id for terraform import, it fails.

![Screenshot 2020-09-30 at 21 10 00](https://user-images.github

[2020-09-30 19:36] MarileeTurscak-MSFT commented on #63559
@D-Moonesinghe
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-30 19:42] edmowery opened #63567 "Please correct typos"
Please correct the typos on the page here:
**base on number of results grater than zero**

It should be:
**based on number of results greater than zero**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ca0191e-5d1b-44a1-afb3-71463164b53e
* Version Independent ID: 53952dc6-d596-389c-e1d2-2f845bb59b86
* Content: [Azure M

[2020-09-30 19:44] MarileeTurscak-MSFT commented on #63560
@D-Moonesinghe
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-30 19:55] JamesTran-MSFT commented on #63555
@D-Moonesinghe
Here's a list of different [Risk types and detection](https://docs.microsoft.com/en-us/azure/active-directory/identity-protection/concept-identity-protection-risks#risk-types-and-detection)

When it comes to figuring out risk levels/events, Microsoft does not provide specific details about how risk is calculated, we will say that each level brings higher confidence that the user or

[2020-09-30 20:02] PatrickFarley commented on #59299
#please-close

[2020-09-30 20:02] #59299 closed

[2020-09-30 20:18] JamesTran-MSFT commented on #63317
@phuong-vo
Thank you for the information.
Since you're going to be working with our support engineers on this issue, I'll go ahead and close out this issue. If you need further assistance please tag me and I will be more than happy to re-open this issue and look into what happened.

Thank you for your time.

[2020-09-30 20:18] #63317 closed

[2020-09-30 20:19] cstainie opened #63569 "Alternative to Blob files"
Is Blob storage the only location from where the APGW can download the custom error pages? Or are there alternatives like external storage services, web services, etc.?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8876a502-81db-4ef1-9e22-ebff4a63cabe
* Version Independent ID: c9676383-40c2-44fc-2d26-ef571466712f
* Co

[2020-09-30 20:20] JamesTran-MSFT commented on #63535
@ChrisAtMAF
I have assigned this issue to the author who will investigate and update as appropriate.

[2020-09-30 20:20] JamesTran-MSFT commented on #63538
@ChrisAtMAF
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-09-30 20:24] RocktaCR commented on #59127
I have the same issue , my workbooks are working as expected but when i move to Workspace summary i got the legend
Performing Assessment
Learn how to configure solution: https://docs.microsoft.com/en-us/azure/data-factory/monitor-using-azure-monitor
I need some help to make this works !

[2020-09-30 20:24] shtout opened #63570 "Updating the SQL VM to Full Management Mode should use Update-AzSqlVM command."
If you follow the instructions on this page, it states to first create your SQLVM as Lightweight, then upgrade later to 'Full' Management type.

The command should be Update-AzSqlVM -Name $vm.Name -ResourceGroupName $vm.ResourceGroupName -SqlManagementType Full

If you run New-AzSqlVM as the article suggests, it will fail, saying a SQL VM of that name already exists (because we created the same na

[2020-09-30 20:26] lastcoolnameleft commented on #63547
Thanks @rharper82 for the update.  You are correct that this is not the right solution and I thought that the documentation was already updated; however, it was not.  I've created a PR for it to be reflected appropriately.

In the PR (https://github.com/MicrosoftDocs/azure-docs-pr/pull/132128) I have replaced Azure Backup with Kasten, a 3rd party solution.

[2020-09-30 20:30] christiankuhtz commented on #62318
#please-close

[2020-09-30 20:30] #62318 closed

[2020-09-30 20:33] JamesTran-MSFT commented on #63548
@martinoss
Can you clarify what you mean by is there a link to the Key Vault after import.

**For more information on certificates:**
[Importing Azure Key Vault certificates FAQ](https://docs.microsoft.com/en-us/azure/key-vault/certificates/import-cert-faqs)
[About Azure Key Vault certificates](https://docs.microsoft.com/en-us/azure/key-vault/certificates/about-certificates)
[Import Certificate -

[2020-09-30 20:35] MashaMSFT commented on #63570
Hi @shtout , thank you so much for bringing this our attention! I am processing a change to update this typo to the correct command. It should be live later today, or possibly tomorrow morning.

I'll close out this Git Issue for the time being but please feel free to comment should you need anything further.

Thanks again for reaching out and improving our docs! I hope you have a wonderful rest of

[2020-09-30 20:35] #63570 closed

[2020-09-30 20:35] TravisCragg-MSFT commented on #63540
@AndreaScarinci Thanks for the feedback! Please let us know if you have any specific examples or improvements that we can make on this doc.

I have assigned the issue to the doc author to evaluate and update as appropriate.

[2020-09-30 20:37] maniv2013 opened #63571 "An invalid signature was specified in the Authorization header"
Trying to post json data into azure log analytic workspace using Rest api from postman.

https://docs.microsoft.com/en-us/azure/azure-monitor/platform/data-collector-api

no luck.. even though i am using the same c# code provided from the above document to generate Authorization code , still i get {
    "Error": "InvalidAuthorization",
    "Message": "An invalid signature was specified in the Auth

[2020-09-30 20:39] DCtheGeek commented on #63188
@SwathiDhanwada-MSFT Yup! I've got a Task to add those details.  It can also be done through [Azure Policy REST API](https://docs.microsoft.com/rest/api/resources/policyexemptions). As this is a suggestion for new content for which I already have a Task, and not an issue with existing content, I'm going to close this issue.  Thanks!

@MicrosoftDocs/azure-cxp-triage #please-close

[2020-09-30 20:39] #63188 closed

[2020-09-30 20:41] JamesTran-MSFT commented on #63389
@mikedangel
Thank you for the screenshot! I have assigned this issue to the author who will investigate and update the documentation as appropriate.

Regarding your question, "according to which criteria are the emails sent? to the first 20 of each role in what order?"
-The email will be generated when the user's risk level reaches what you have specified. For example, if you set the policy to ale

[2020-09-30 20:52] TravisCragg-MSFT commented on #63565
@aschechter88 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-09-30 20:55] TravisCragg-MSFT commented on #63569
@cstainie At this time, only Azure blob storage is supported. If you would like us to expand this functionality, please [leave your feedback here at Azure Networking's feedback.azure.com page](https://feedback.azure.com/forums/217313-networking).

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the

[2020-09-30 20:55] #63569 closed

[2020-09-30 21:01] KranthiPakala-MSFT commented on #63464
Hi @linda33wj - This issue looks similar to SR# 120080423001351. Could you please review this issue and update the document as appropriate? - Thank you

@5eba5tian00 Sorry for your experience with Xero connector. We have assigned this issue to Content author to further review this feedback and update the document with relevant info.

We appreciate your patience and thanks for bringing this to our

[2020-09-30 21:02] #63295 closed

[2020-09-30 21:06] tiago-sommer-damasceno opened #63572 "Missing Continuation Token example for v3 SDK"
The documentation points us to an example of using pagination.
However, that example links to the v2 sdk.

Is what how we should be doing pagination in the v3 sdk?

Here is the documentation link for the .net sdk example:
- https://docs.microsoft.com/en-us/azure/cosmos-db/sql-query-pagination#continuation-tokens

Here is the link that the documentation points to:
- https://github.com/Azure/azure-c

[2020-09-30 21:07] JamesTran-MSFT commented on #63468
@SruthiJeelugula
Yes, this applies to service principles as well.

An Azure service principal is an identity created for use with applications, hosted services, and automated tools to access Azure resources. A service principal is also a concrete instance created from the application object and inherits certain properties from that application object.

Links:
[Service principal object](https://doc

[2020-09-30 21:07] #63468 closed

[2020-09-30 21:08] netapp-juliec opened #63573 "Please change "NetApp Files" to official product name "Azure NetApp Files""
Please use "Azure NetApp Files" (the official product/service name) instead of "NetApp Files".

cc: @lichunli-ms

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4bf37745-1fe0-d98b-9627-ddb734024e6f
* Version Independent ID: 5ac1e171-282a-876d-7807-7936b466b792
* Content: [NetApp Files for Azure VMware Solution - Azure V

[2020-09-30 21:16] stpfarms commented on #63558
I confirmed the script example does work if you add -ApiVersion "2017-06-01" so its a problem with the latest Api

[2020-09-30 21:18] D-Moonesinghe commented on #63555
Yes. I saw the document you are pointing to before I opened this issue. I
was sure at some point before I ran into the same chart below when I was
combing through MS docs at least a year back.

  Sorry for being skeptical, but I don't buy that answer.  Here is why?
There is no way that Microsoft doesn't have a chart like this.  Without
having something like this how does Microsoft expect admins to

[2020-09-30 21:20] nitinme commented on #60920
#please-close

Closing since there is no information about the issue here.

[2020-09-30 21:20] #60920 closed

[2020-09-30 21:25] nitinme commented on #61334
#please-close

This feature request is being tracked by the product group in their backlog.

[2020-09-30 21:25] #61334 closed

[2020-09-30 21:26] robertmclaws opened #63575 "Split the WebJobs SDK documentation so separate versions get separate TOCs"
I believe you folks really need to consider entirely separate documents splitting the 2.x SDK and the 3.x SDK. trying to combine both into the same file is unnecessary and super-confusing. If you want to be able to compare behaviors, there should be a separate upgrade guide. But for brand new users, the comparison is overwhelming and unnecessarily complicates the user journey.

HTH!

---
#### Docu

[2020-09-30 21:27] MarileeTurscak-MSFT commented on #63558
@stpfarms
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-30 21:33] SQLSourabh commented on #14254
We currently do not have a ARM package for msodbcsql17 & mssql-tools. Its recommended that you do remote management for SQL Edge running on ARM.
As for Local apps connecting to SQL, if the apps are built using dotnetcore, then you can use the Microsoft.Data.SqlClient dotnetcore lib to connect to sql.

[2020-09-30 21:39] JamesTran-MSFT commented on #63555
@D-Moonesinghe
Thanks for the quick follow up! I'll reach out to my team regarding this issue.

[2020-09-30 21:46] japere commented on #54969
@kenwith I agree with these changes so we are pointing to the latest links. It should be simple to swap them out with the suggested links. Thanks.

[2020-09-30 21:58] mbiver opened #63576 "Variables missing dollar sign?"
[Enter feedback here]
Are the variables on the page missing the dollar sign?  Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd4c4f41-2050-234e-e35b-750158cfba54
* Version Independent ID: 09c0145e-fa2b-210d-d1a0-4acb8c790bc3
* Content: [Create a Windows VM with Azure Image Builder (preview) - Azure Virtual Mach

[2020-09-30 22:05] japere commented on #41964
Unfortunately, this is a constraint when configuring an application that no two apps should have the same internal URL as this allows us to maintain distinction between applications.

[2020-09-30 22:07] mikben commented on #63338
Thanks for submitting this issue @cconrado. REST API docs will be released soon - I'll update you via this issue when they're available.

[2020-09-30 22:11] japere commented on #58671
@kenwith I agree with the suggestions above. I suggest the following edits:
1. In the section "Then make sure your redirect URL is set to your external URL:" add step 5: "Then add an additional redirect URL with the format of <external URL>/pa/oidc/cbnd.
2. Add a note in the "Enable PingAccess to use custom claims" :
It is possible to map Azure custom claims to headers using PingAccess, but that c

[2020-09-30 22:13] japere commented on #57180
Previously, this guide only supported IE. We've made a few updates to this article to now also support using the RDWeb client which is compatible on more modern browsers like Chrome and Edge.

[2020-09-30 22:19] japere commented on #56848
@kenwith, I agree with these changes to help improve the clarity of the doc. We should replace the sections as so:

- false - The client certificate was created during the installation or registration initiated by Register-AppProxyConnector command. It is stored in the personal container in the certificate store of the local machine.

"If the value is false, follow these steps to verify the certif

[2020-09-30 22:24] JamesTran-MSFT commented on #63555
@D-Moonesinghe
Thanks for following up on this and providing the extra details!

I reached out to my team and we weren't able to find the table as seen [here](https://social.msdn.microsoft.com/Forums/sqlserver/en-US/11235f61-942e-4250-a880-d4a49fae729f/azure-risk-detections-is-best-practice-to-always-remediate-accounts-flagged-high-risk?forum=WindowsAzureAD). However, we did see something similar

[2020-09-30 22:37] KranthiPakala-MSFT commented on #63388
Hi @vreezy We have validated the code with Product team and confirmed that the existing code looks fine and inline/consistent with other API docs we have:

https://docs.microsoft.com/azure/event-hubs/event-hubs-dotnet-standard-get-started-send-legacy#receive-events
https://docs.microsoft.com/azure/event-hubs/event-hubs-event-processor-host#ieventprocessor-interface

Hope this helps.

We will now p

[2020-09-30 22:37] #63388 closed

[2020-09-30 22:44] keatseongchan opened #63577 "APIM Backend integration uses thumbprint instead of subject name + issuer pinning"
[Enter feedback here]
We are working on migrating to auto-renew/refresh of Service Fabric cluster certificate.  However, the documentation does not seem to provide guidance how we can allow integration with subject name + issuers pinning so renewal can happen without manual intervention.

Is this expected to work or do we need to use thumbprint?

---
#### Document Details

⚠ *Do not edit this sect

[2020-09-30 22:46] MarileeTurscak-MSFT commented on #63560
@D-Moonesinghe thank you! I agree that this is important to add. I just made a pull request to add this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/132158

CC @curtand to review

[2020-09-30 22:46] #63560 closed

[2020-09-30 22:47] ecfan commented on #63397
@erschef, thanks for the feedback! I've created a work item on our backlog for triage and prioritization.

[2020-09-30 22:48] Ercenk opened #63578 "Clarify the AAD SSO requirement by user type/personal"
[Enter feedback here]
**Comment by Microsoft alias: ercenk, cc: kevidal**

Can you please clarify the following applies only to buyer user, not all of the end users of the solution:

*Azure AD with single sign-on (SSO) identity management and authentication is required. For detailed guidance, see Azure AD and transactable SaaS offers in the commercial marketplace.*

It can read like

*Azure AD wit

[2020-09-30 22:49] writex opened #63579 "Side Effects for Compressing Azure Applications"
The article says, "The side effect is that registering and un-registering the application type are faster." I don't see how compressing an application affects the speed of registering an unregistering an application but if those operations are faster then isn't that a good side effect?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2020-09-30 22:50] jmaiher opened #63580 "Is this statement correct?"
Is this statement correct? We're trying to provide proper admin permissions for our team in WVD.
We have no issue with Contributor role, but this statement I'm not clear on:

"You must be assigned the User Access Admin role on an app group to publish app groups to users or user groups"

Isn't the User Access Admin role only enabled when flipping the switch per this article?
https://docs.microsoft.

[2020-09-30 22:55] writex opened #63581 "Missing "the""
The deployment mechanism is [**the]** same for compressed and uncompressed packages.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51480c05-7083-4aac-8c1a-42b4412e1ddc
* Version Independent ID: 86465e51-790c-d2de-6f43-d15adb2e2b09
* Content: [Azure Service Fabric deployment with PowerShell - Azure Service Fabric](http

[2020-09-30 22:58] ShadowXVII commented on #59885
No, it's not that. I do have admin.

It's about updating the instructions for unified experience and power apps admin portal

[2020-09-30 22:59] s0041464 opened #63582 "This policy is for "Sign-in" risk. The instructions say to select "User risk"."
[Enter feedback here]

This policy is for "Sign-in" risk. The instructions say to select "User risk".

"Conditions > **User risk**, set Configure to Yes. Under Select the sign-in risk level this policy will apply to

    Select High and Medium."

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 199e51c2-d6f6-ed8f-39a2-4f3

[2020-09-30 23:10] cynthn commented on #63576
@mbiver Nope, they just assume you are using Bash with the CLI. Bash doesn't use the $ when you declare the variable. If you are using another terminal type, you might need the $ in the declaration.

[2020-09-30 23:10] femsulu commented on #63532
hello @OffColour , Thanks for the question. We are actively investigating and will get back to you soon.

[2020-09-30 23:12] MarileeTurscak-MSFT commented on #63558
Did you try the first time using 2020-06-01?

[2020-09-30 23:33] MarileeTurscak-MSFT commented on #63558
I have reported this as a bug and will reply with what the product team says.

[2020-09-30 23:37] MarileeTurscak-MSFT commented on #63296
I'm closing this out since it's more of a product question than a document issue, but if you're still having this problem feel free to email me at AzCommunity@microsoft.com and I can open a support case for this.

[2020-09-30 23:37] #63296 closed

[2020-09-30 23:38] TravisCragg-MSFT commented on #63250
@RonnieQuan We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-09-30 23:38] #63250 closed

[2020-09-30 23:39] TravisCragg-MSFT commented on #63249
@qhaitoNNV Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-09-30 23:39] #63249 closed

[2020-09-30 23:40] MarileeTurscak-MSFT commented on #63582
@s0041464
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-30 23:47] MarileeTurscak-MSFT commented on #63582
Thanks. I just made a pull request to update this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/132176

[2020-09-30 23:47] #63582 closed

[2020-10-01 00:13] Karishma-Tiwari-MSFT commented on #63581
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

[2020-10-01 00:15] Karishma-Tiwari-MSFT commented on #63576
Thanks for clarifying @Cynthn.
@mbiver  We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-10-01 00:15] #63576 closed

[2020-10-01 00:19] Karishma-Tiwari-MSFT commented on #63539
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-01 00:20] Karishma-Tiwari-MSFT commented on #63230
Is there an update? let me know.

[2020-10-01 00:24] femsulu commented on #63413
Hello @slimbentami, Are you asking about a specific Azure resource or On-prem/Hybrid resource?

If the resource or platform generates read/write activity logs then yes it is possible to view the read/write logs in Azure activity logs. Keep in mind Activity Log entries are system generated and cannot be changed or deleted.
Review [this content](https://docs.microsoft.com/en-us/azure/azure-monitor/p

[2020-10-01 00:25] kobulloc-MSFT commented on #63567
@edmowery Thank you for bringing this to our attention!  We are correcting the typos and will get back to you shortly.

[2020-10-01 00:26] #63581 closed

[2020-10-01 00:27] Karishma-Tiwari-MSFT commented on #63557
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-01 00:28] Karishma-Tiwari-MSFT commented on #63580
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-01 00:29] Karishma-Tiwari-MSFT commented on #63573
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-10-01 00:30] Karishma-Tiwari-MSFT commented on #63561
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-10-01 00:30] Karishma-Tiwari-MSFT commented on #63579
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-10-01 00:41] kobulloc-MSFT commented on #63567
@edmowery Thank you again for bringing this to our attention.  The typo has been corrected and the documentation should be updated shortly.

We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-10-01 00:41] #63567 closed

[2020-10-01 01:14] mbiver commented on #63576
In the “set Variables” section it doesn’t say Bash.  It says Azure Cli and has no dollar signs.   Then in the “Create a resource group” section it also says Azure CLI and  There are dollar signs for variables.  Then, in the “Create user-assigned managed identity and grant permissions”  section it does say Bash, but there are variables with and without dollar signs.   So are we supposed to use Bash