[2018-05-04 00:10] #6603 closed

[2018-05-04 00:12] MohitGargMSFT commented on #8028
@gegenki Thanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

[2018-05-04 00:12] TravisCragg-MSFT commented on #7815
@hajjat I am able to see that there exists a property called "OutboundNatRule" but there does not seem to be a way to configure it.
 https://docs.microsoft.com/en-us/rest/api/load-balancer/InboundNatRules/List#outboundnatrule

Please let me know If you need any additional information.

[2018-05-04 00:26] MohitGargMSFT commented on #8051
@Steven-N Please note as stated in the document, You can elect to have data collected from Azure VMs stored in workspaces created by Security Center or in an existing workspace you created. So if you have multiple work spaces which you have access to and are in your Azure subscription those are shown in drop down for selection when you choose 'Use another workspace'.

[2018-05-04 00:28] TravisCragg-MSFT commented on #8079
@SenthuranSivananthan Thanks for the feedback! I have confirmed that they have added AzureKeyVault & AzureCosmosDB to the NSG Service Tags.

I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-04 00:38] MohitGargMSFT commented on #8053
@kitdotnet The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, please let us know if there is something else that we can help you with.

[2018-05-04 00:44] MohitGargMSFT commented on #8057
@drcampbell Please note as stated in the document, this is currently a Preview feature and will be notified when it goes GA.

[2018-05-04 00:48] mrbullwinkle commented on #8030
@Vaccano to add on to @kobulloc-MSFT's response, in general for App Insights your app can run anywhere. In Azure, on-prem, or in another public cloud. The caveat is that while the app can run anywhere it still needs to be able to communicate with Azure. We list the firewall requirements [in this doc.](https://docs.microsoft.com/azure/application-insights/app-insights-ip-addresses) So as long as yo

[2018-05-04 00:49] #8053 closed

[2018-05-04 00:52] mattchenderson commented on #7035
That's a new term to me entirely... We've never called it that.

[2018-05-04 00:53] MohitGargMSFT commented on #8058
@kitdotnet The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, please let us know if there is something else that we can help you with.

[2018-05-04 00:53] MohitGargMSFT commented on #8056
@kitdotnet The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, please let us know if there is something else that we can help you with.

[2018-05-04 00:53] drcampbell commented on #8057
So is the preview not available yet?

[2018-05-04 00:57] NT-D commented on #7840
Sure. I posted feedback ;)
https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/34149871-publish-react-and-view-sample-using-azure-ad

[2018-05-04 01:15] #8056 closed

[2018-05-04 01:15] #8058 closed

[2018-05-04 01:24] jdneo commented on #7988
@MicahMcKittrick-MSFT No we haven't done any change to the archetype recently.

@venkateshgowda are you using Java 9 or higher?

[2018-05-04 01:47] zakramer opened #8081 "Incorrect Count"
The docs state "If the above two conditions are met, an enrollmentAccount resource" but there are 3 condition above it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 371189c2-154f-2716-bbc0-8496a76c5ac9
* Version Independent ID: bb5cd103-ff51-1753-f269-e2c1aa49a8c8
* Content: [Programmatically create Azure Enterprise

[2018-05-04 01:55] SaurabhSharma-MSFT commented on #8025
@davrous I am able to compile the solution in VS2017.  The issue I believe is not with the solution but the path where you are saving the extracted files. If the folder path is long like "C:\Users\<<User>>\Downloads\active-directory-dotnet-webapp-openidconnect-master\AppModelv2-WebApp-OpenIDConnect-DotNet\" the solution is not building up.  However, if you extract files to shorter pathname like "C

[2018-05-04 01:56] #6866 closed

[2018-05-04 01:56] #6878 closed

[2018-05-04 01:57] #7664 closed

[2018-05-04 01:57] #7927 closed

[2018-05-04 01:57] #7973 closed

[2018-05-04 01:58] #8052 closed

[2018-05-04 02:03] hajjat commented on #7815
@TravisCragg-MSFT That's exactly what I was digging into before posting the question. I tried to use it, but I got an Azure error back saying I have to enable the the feature flag `Microsoft.Network/AllowOutboundNatRule` on my subscription. Tried to do that but it still shows pending.

Can you please check with the SLB team?

[2018-05-04 02:09] vasivara-MSFT commented on #7761
@aydeisen We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-04 02:09] #7761 closed

[2018-05-04 02:29] zfrenchee commented on #8070
Worked. thanks! Would recommend updating the `az group delete --name myResourceGroup --yes --no-wait` step to include some way to reset kubectl's state.

[2018-05-04 02:29] #8070 closed

[2018-05-04 03:08] szarkos commented on #7949
It's just a '-' turned into a '–' because the original author probably used Word for editing.  I thought I fixed all these.  I can submit a PR to resolve it.

[2018-05-04 03:49] #8042 closed

[2018-05-04 03:50] zhangdingsong commented on #7865
@femsulu  Appreciate your quick action.

[2018-05-04 04:01] MohitGargMSFT commented on #7868
@AntRemo I replied to your email. One time free support is enabled for your subscription. Please open a support ticket by going to http://aka.ms/azsupt.

I will move ahead to close this GITHub issue now. Feel free to send me an email if you need further assistanse regarding this issue.

[2018-05-04 04:01] #7868 closed

[2018-05-04 04:12] venkateshgowda commented on #7988
Yes am using Java 9. It has same problem with Java 8 also.

[2018-05-04 04:25] sampathdr opened #8083 "Issue in load certificates as a file"
Initially we load certificate files using file path and it worked 2 weeks without any issues. But suddenly it throws an error saying that file cannot be found. We tried to load file by copying new locations but it didn't worked. Finally we managed to load file by uploading through Azure Portal. Any idea on why it suddenly happened?

---
#### Document Details

⚠ *Do not edit this section. It is req

[2018-05-04 04:36] dssravi commented on #7732
@jmprieur and @CelesteDG i trying to do this in .Net Core

[2018-05-04 05:11] pratyush-19 opened #8084 "Reg. demo application github code"
I got the primary key from Azure portal and paste it as per the tutorials but it opens up the blank screen in Chrome with only a search box.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3d455c9-d5c7-3a9e-5de5-b16072f3c77e
* Version Independent ID: d0f120b2-5ef9-9112-d17f-e8b2275ed5b4
* Content: [Interactive Map Sear

[2018-05-04 05:49] JimmyLS commented on #8032
Thanks. But I think they are two different things. The method in this article is to secure terminal services on the server where MFA server is installed. I just need a clarification if Server 2016 is supported because there's no such statement here.

[2018-05-04 06:12] dexterac commented on #7276
Are there any changes after the release of packe 1.2.3?

[2018-05-04 06:18] SychevIgor opened #8085 "add cli 2.0 sample instead of xplat cli"
in CLI section- "azure" (not just "az)" in a command it's a pointer that used- old xplat cli. to be aligned with latest updates- it will be right to have azure cli 2.0 sample.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57944e9d-0efa-3503-9fe8-46c91119ecc9
* Version Independent ID: 32caa5c0-aac4-75f8-42f8-b483d55a83

[2018-05-04 06:57] KjetilEVRY opened #8086 "Needs updated documentation"
The documentation needs to be updated to reflect SQL Delegation, ref https://docs.microsoft.com/en-us/azure/active-directory/connect/active-directory-aadconnect-sql-delegation.
Now it's confusing regarding using gMSA and the new feature of SQL Delegation for a new install.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2018-05-04 07:05] jdneo commented on #7988
@venkateshgowda Please create an issue here: https://github.com/Microsoft/azure-maven-plugins/issues, We will investigate this problem.

If it is possible, upload a sample project if you don't mind, this will help us a lot to repeoduce the problem.

Thanks

[2018-05-04 07:13] hemantkr14 commented on #8033
@MicahMcKittrick-MSFT here is the link : [](https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-java-maven)

[2018-05-04 07:34] jotheman03 commented on #7974
Hello John,

It does, but adding the steps for the basic setup (or a reference to an existing document that already has that?) would have helped me out. Not sure if there are more people out there that have those same questions, which is why I brought it up. ☺
Met vriendelijke groeten / Kind regards / Mit freundlichen Grüßen,

Jop Gommans
Consultant
[cid:image001.jpg@01D3E38B.0A6E33B0]

J.Gommans@

[2018-05-04 07:35] MohitGargMSFT commented on #8057
@drcampbell Public preview is available for customer evaluation purposes. Previews are subject to reduced or different service terms. I will assign it to author to confirm on it.

[2018-05-04 07:40] guillemsola commented on #8055
Thanks all for getting into this, I had a discussion in this msdn thread as I wanted to understand why certain things where happening
https://social.msdn.microsoft.com/Forums/en-US/WAVirtualMachinesVirtualNetwork/thread/d8b79d69-37c3-4694-86f7-9ee650e3a52c/

I just did a deploy changing the LB from basic to standard and noticed that I was not able to configure with the DSC script anymore as I was

[2018-05-04 07:41] Anmolgan81 commented on #8037
Hi @tfitzmac I cant use the Export powershell command as I have more then 200 Resources inside one of the resource group.
Can you suggest me some other method of exporting the template, modifying and then creating app gateway??

[2018-05-04 07:43] novino commented on #8060
Seems like a fair suggestion (assuming you meant making output of Get-ServiceFabricApplicationUpgrade more verbose), you can open a separate github issue to make it actionable.

You can change [InstallWindowsOSOnlyUpdates](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-patch-orchestration-application#configure-the-app). Based on the Windows OS version defender updates may or

[2018-05-04 08:07] rahuldutta227 commented on #8033
Hi @MicahMcKittrick-MSFT, I found a duplicate issue of the same (raised by @hemantkr14) where you also responded and then it was finally responded by @rloutlaw. Please look into this as well - https://github.com/MicrosoftDocs/azure-docs/issues/7883 and help with final conclusion.
Regards
Rahul, MSFT

[2018-05-04 08:42] femsulu commented on #8081
@zakramer, Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-05-04 08:47] jmprieur commented on #8025
Thanks for your feedback, @davrous.

Apart from long path issues which are indeed always possible as @SaurabhSharma-MSFT mentions, there is another issue: I just followed the guidance end to end, and indeed the code does no longer builds because the most recent OWIN NuGet package have major package number changes (4.0.0) which means there are breaking change (See [Semantic versionning](https://sem

[2018-05-04 08:53] jaspervd86 opened #8090 "Connect-AzureRMAccount not working"
Hi guys, the following part of the script is not working for me as the cmdlet is unknown:
# Authenticate to a specific Azure subscription.
Connect-AzureRmAccount -SubscriptionId $subscriptionId

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58a25dd3-3198-2a02-a7d5-cb633c6fab1b
* Version Independent ID: f83133b4-c1ff-ee

[2018-05-04 09:00] #8068 closed

[2018-05-04 09:07] snehithm commented on #7548
@femsulu The doc has been updated to show support for data factories V1 as well. Can you close the issue?

[2018-05-04 09:07] mayanknayar commented on #8047
The specific cmdlet is -RecoveryNicStaticIPAddress

The networking related properties to be used upon failover are mapped to each NIC of the VM. So in addition to specifying the StaticIp address to be used on failover, you also need to specify the NIC (source NIC) to which you would like to assign the specified Static IP address to.

You can specify the source NIC identifier using the -PrimaryNic

[2018-05-04 09:09] mayanknayar commented on #8047
@Adam-Smith-MSFT - This thread can be closed now.

[2018-05-04 09:16] Anmolgan81 commented on #8047
@mayanknayar Can you tell me the exact command which I have to use here for changing the private ip?

[2018-05-04 09:17] mayanknayar commented on #8047
@Anmolgan81 - Did you check the link? I have given the cmdlet and an example in the link where it is deployed.

[2018-05-04 09:34] #8041 closed

[2018-05-04 09:36] canuzun opened #8091 "Consumer Groups"
Not a big deal but, I think the Add Consumer Group to IoT hub step should be written first. Otherwise it won't be listed while adding an event source to TS insights and this might be a bit confusing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e98db64d-9617-991a-4145-3f5cc280d966
* Version Independent ID: d6d4e34a-2

[2018-05-04 09:47] mayanknayar commented on #8047
@Anmolgan81 Yes, this is the command as mentioned in the example
Set-ASRReplicationProtectedItem -InputObject $VM -PrimaryNic "00:50:56:89:28:FE" -RecoveryNicStaticIPAddress "10.1.4.8" -RecoveryNetworkId $nicdetails[0].RecoveryVMNetworkId -RecoveryNicSubnetName $nicdetails[0].RecoveryVMSubnetName

[2018-05-04 10:01] jstpldev commented on #7423
I am still getting
HTTP/1.1 400 Authentication information is not given in the correct format. Check the value of Authorization header. [Content-Length: 297, Content-Type: application/xml, Server: Microsoft-HTTPAPI/2.0, x-ms-request-id: 1243a95b-101e-0033-2c8e-e3684e000000, Date: Fri, 04 May 2018 10:00:51 GMT]

Is request is going to some different server , where returning 302 fix is not deployed.

[2018-05-04 10:18] ruboncio opened #8092 "Users don't have permissions"
Hi,
I have followed every step, and users can login through the MS portal app getting to our AWS corporate account (ID numbers match). However, they have no permissions at all. Is this a normal behavior? Or have I done something wrong when fetching roles? Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8fa5814d-9

[2018-05-04 10:23] carvakas opened #8093 "MSGraph Request Headers settings"
Hi Guys, I am new to MSGraph and I am getting errors doing  the PATCH operation, I think its due to not having an Request Headers configured, please can you let me know what they should be?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3bd35b3e-5e84-8be5-f87b-b4b666a9f7cd
* Version Independent ID: c768f626-4ea1-4ede-4

[2018-05-04 10:34] GitHubMWJ opened #8094 "Part 3 - Incorrect Link"
The reference URL for 'Part 3: Enable Device Writeback in Azure AD' does not link to the correct article.
It should be:
https://docs.microsoft.com/en-us/azure/active-directory/connect/active-directory-aadconnect-feature-device-writeback
It instead links to a section within its own document 'Prepare your Active Directory to support devices':
https://docs.microsoft.com/en-us/azure/active-directory/a

[2018-05-04 10:58] mrbullwinkle commented on #7864
#please-close

[2018-05-04 11:09] mrbullwinkle commented on #7510
@SergeyKanzhelev looks like this issue was addressed in [PR 4806](https://github.com/MicrosoftDocs/azure-docs/pull/4806/files) by Cijo. Let me know if it is alright to close this out?

[2018-05-04 12:12] loup73 opened #8095 "token lifetime"
You say 'Nonpersistent session tokens have a lifetime of 24 hours.'  Then you say the access token lifetime is by default 1 hour, max 24 hours. Then you give an example of more frequent updating of session tokens of 2 hours. To me this is a bit contradicting, so what is the default and the max for the access token lifecycle? Is session token and access token the same concept? Is is possible to set

[2018-05-04 12:27] cbrianball opened #8096 "Managed Service Identity credentials"
[This article](https://docs.microsoft.com/en-us/azure/active-directory/managed-service-identity/overview) mentions that Azure AD takes care of "rolling the credentials". How often does this happen? Is it based on a period of time, does it happen whenever the applicable service restarts, or is it something else altogether?

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2018-05-04 14:13] Vaccano opened #8099 "Port Direction"
The first section and the availability test section say which direction the port is going, but the other sections do not.

It would be nice if each section clearly stated which directions (incoming or outgoing) the ports are going.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3942b937-b212-3ceb-d356-450b7f598f68
* Ve

[2018-05-04 14:48] spottedmahn opened #8100 "MFA for Only Sensitive Parts of App, How?"
Can the above be expanded upon or linked to a doc that describes this further?  How would one do this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d8c394d1-e3b1-b88c-416c-3f8e0ab3ae3d
* Version Independent ID: 8aafb9d8-72cb-c9b4-5a01-9e5633764f39
* Content: [Azure Active Directory B2C: Multi-Factor Authentication](h

[2018-05-04 14:59] BrunoHaspeslagh opened #8101 "phrasing?"
"IoT Hub will does write an empty blob if there is no data to write."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46282564-724c-bc0d-7c74-bb30ee8653aa
* Version Independent ID: c4f80f13-2a6a-2349-0a4a-882a873ef0ff
* Content: [Understand Azure IoT Hub endpoints](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-

[2018-05-04 15:01] spottedmahn commented on #7035
Gotcha, thanks Matt.

**FYI:**

![image](https://user-images.githubusercontent.com/14079228/39635033-546dfe8a-4f8a-11e8-9309-179c59c1b133.png)

https://easyauth.azurewebsites.net/

[2018-05-04 15:14] Mike-Ubezzi-MSFT commented on #8085
[Azure CLI](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-metrics-diag-logging#azure-cli)

[2018-05-04 15:16] Mike-Ubezzi-MSFT commented on #8085
@SychevIgor Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-04 15:44] gorgi opened #8102 "PrepPython script requires TLS1.2 enabled"
The PrepPython script is downloading python from https://www.python.org and currently fails with message "could not create ssl/tls secure channel".

I added this line on top and solved the problem:
[Net.ServicePointManager]::SecurityProtocol = "tls12, tls11, tls"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa23d358-

[2018-05-04 15:47] MicahMcKittrick-MSFT commented on #8033
Thanks @hemantkr14. I will close this one out as it is the same issue as the other. Lets work on that issue together instead.

[2018-05-04 15:47] #8033 closed

[2018-05-04 15:48] MicahMcKittrick-MSFT commented on #8033
Duplicate of #7883

[2018-05-04 15:51] MicahMcKittrick-MSFT commented on #7883
@hemantkr14 just to clarify, is it when running `mvn azure-functions:deploy` you are seeing the 502?

[2018-05-04 15:51] apetre070 opened #8103 "wwwroot zip unclear"
It could be good to include some verbiage around what level to zip the files. From this document it appears to indicate you should zip at the top (wwwroot directory) level, but in reality is looking to zip just wwwroot/* (all of the files underneath wwwroot). The API call doesn't throw any errors when no Functions appear in your Function App, the deployment says successful in the deployment logs.

[2018-05-04 15:57] MicahMcKittrick-MSFT commented on #7988
@venkateshgowda when you post the issue there please come back and share so we can link the two issues together.

[2018-05-04 16:00] MicahMcKittrick-MSFT commented on #7949
@szarkos Ah okay! makes sense why I was having issues seeing it :)

[2018-05-04 16:12] MicahMcKittrick-MSFT commented on #8084
@pratyush-19 thanks for the feedback! Do you get the same issue in another browser?

[2018-05-04 16:12] MicahMcKittrick-MSFT commented on #8091
@canuzun Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-05-04 16:13] MicahMcKittrick-MSFT commented on #8101
@BrunoHaspeslagh Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-04 16:14] cwatson-cat commented on #7447
@cesarwhite Sorry for the delay. Thanks for reporting this. I'm looking into this now.
@MicrosoftDocs/azure-cxp-triage can you please reassign to me?
#in-progress

[2018-05-04 16:16] mjcarrabine opened #8104 "Are the statements in this article regarding EnabledForDeployment vs EnabledForTemplateDeployment correct?"
- From PS C:\> Get-Help New-AzureRmKeyVault -Full
    - **EnabledForDeployment** - Enables the Microsoft.Compute resource provider to retrieve secrets from this key vault when this key vault is referenced in resource creation, for example when creating a virtual machine.
	- **EnabledForDiskEncryption** - Enables the Azure disk encryption service to get secrets and unwrap keys from this key vault.

[2018-05-04 16:26] MicahMcKittrick-MSFT commented on #7995
@etherdragon98926 can you also try deploying to a new resource group? I had a issue similar the other day and after I removed all my old attempted I created a new RG and was able to deploy my cluster there.

[2018-05-04 16:27] MGoedtel commented on #7963
@vasivara-MSFT - PR merged so it should go live on the next publishing cycle.  #close this issue as it has been appropriately addressed.

[2018-05-04 16:34] kobulloc-MSFT commented on #8099
@Vaccano Hello again!  We will look into this and get back to you shortly.

[2018-05-04 16:40] carvakas commented on #8093
Hi Guys,

I think I have resolved the issue, it looks like I need to copy the response preview text from the GET into the Request Body, add the new Roles, and then submit the PATCH, from the tutorial I was just copying the for the roles as in the example, using the full copy/paste worked.

I have to say not as easy as editing the Manifest file, however I will go with your pattern

[2018-05-04 16:40] MohitGargMSFT commented on #8100
@spottedmahn Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-04 16:42] MohitGargMSFT commented on #8096
@cbrianball Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-04 16:44] MohitGargMSFT commented on #8095
@loup73 Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-04 16:45] MohitGargMSFT commented on #8094
@GitHubMWJ Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-04 16:46] pratyush-19 commented on #8084
Yes, I tried in Firefox as well.

On 04-May-2018 9:42 PM, "Micah" <notifications@github.com> wrote:

@pratyush-19 <https://github.com/pratyush-19> thanks for the feedback! Do
you get the same issue in another browser?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/MicrosoftDocs/azure-docs/issues/8084#issuecomment-386649978>

[2018-05-04 16:48] MicahMcKittrick-MSFT commented on #8102
@gorgi Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-04 16:48] MicahMcKittrick-MSFT commented on #8103
@apetre070 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-05-04 16:49] MohitGargMSFT commented on #8093
@carvakas Great to hear that your issue is resolved.

We will now proceed to close this thread. If there are further questions, please open a new issue and we will gladly assist you on it.

[2018-05-04 16:49] #8093 closed

[2018-05-04 16:49] MicahMcKittrick-MSFT commented on #8104
@mjcarrabine Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-04 16:53] MohitGargMSFT commented on #8092
@ruboncio Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-04 16:58] machiq commented on #6279
I experienced the same result attempting to use files within OneDrive - Enterprise Account.

[2018-05-04 17:00] machiq commented on #7101
There must be a limit.  I can't find any documentation either.  I experienced a Server Error yesterday with a particular set of files, however, I could upload the files just fine today.

[2018-05-04 17:02] menewol opened #8107 "Ubuntu 16.04"
The documentation doesn't state how to activate Serial tty under Ubuntu 16.04, where the /etc/inittab file doesnt exist.

Can you maybe update the documentation for this scenario?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e63969f1-7434-0a6e-dd65-2aecd553c51b
* Version Independent ID: b53ddd73-82b7-3272-7ff6-d82594

[2018-05-04 17:06] vdevappa opened #8108 ".NET 4.7.2 support"
Hi, Please update this article for .net 4.7.2 support.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f082a39c-4081-f5c3-1e1d-effcfecb2fd7
* Version Independent ID: e57c7222-bb36-5fa1-bdc5-f8f3cd87e3d8
* Content: [Install .NET on Azure Cloud Services roles](https://docs.microsoft.com/en-us/azure/cloud-services/cloud-se

[2018-05-04 17:08] jeevansd commented on #8092
@ruboncio You need to check the roles associated with the IDP. In AWS roles you can attach different permission policies or you can create custom one. So make sure that you have attached the right permissions to it.

#please-close

[2018-05-04 17:17] nyuen opened #8109 "HPC Pack 2016 + Azure ARM documentation is lacking"
Hi team,

Can we include directly the following release note and how-to on the Azure documentation:
https://social.microsoft.com/Forums/en-US/f609f8cb-8838-49b8-9501-d23904333079/microsoft-hpc-pack-2016-update-1-now-available?forum=windowshpcitpros

The overall documentation on how to integrate HPC Pack 2016 with the Azure Resource manager is confusing and mixes scenarios only supported in the Cla

[2018-05-04 17:27] MicahMcKittrick-MSFT commented on #8104
@mjcarrabine they appear correct to me.

@singhkays can you confirm on this?

[2018-05-04 17:28] douglaslMS commented on #8039
#in-progress

[2018-05-04 17:29] #8092 closed

[2018-05-04 17:31] MohitGargMSFT commented on #8086
@KjetilEVRY Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-04 17:31] vasivara-MSFT commented on #7921
@waheedhussain GitHub issues are used only for document issues. Since your question is more specific on pricing, Please move your question to [MSDN forum](https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=opinsights)  to get answers from our community and mention the link to this GitHub issue.

[2018-05-04 17:31] #7921 closed

[2018-05-04 17:39] #8101 closed

[2018-05-04 17:40] danmyhre commented on #7091
#re-open

[2018-05-04 17:48] BryanTrach-MSFT commented on #8083
@sampathdr Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-04 17:49] spottedmahn commented on #8017
3.0.456.9494

[2018-05-04 17:58] MohitGargMSFT commented on #8015
@chaitualladi We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-05-04 17:58] #8015 closed

[2018-05-04 18:00] hajjat commented on #7815
@christiankuhtz Thanks for confirming!

**Our scenario:**
We have an appliance OnPrem that sends traffic to ILB's IP. Similarly, ILB's backend VMs send traffic to the appliance. Our OnPrem appliance expects traffic from ILB's IP; however, it's receiving traffic from VM DIPs instead. Traffic is Vxlan (UDP, no connection handshakes, src port is random and dst port is always 4789 from each side).

Un

[2018-05-04 18:01] MohitGargMSFT commented on #8051
@Steven-N We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-05-04 18:01] #8051 closed

[2018-05-04 18:02] cwatson-cat commented on #7447
@cesarwhite These are the search results from the Gartner page:
https://www.gartner.com/search/site/premiumresearch/simple?tabChg=true&keywords=Market%20Guide%20for%20IT%20Financial%20Management%20(ITFM)%20Tools
The most current version appears to be:
https://www.gartner.com/doc/3809464?ref=SiteSearch&sthkw=Market%20Guide%20for%20IT%20Financial%20Management%20(ITFM)%20Tools.&fnl=search&srcId=1-347

[2018-05-04 18:05] rboucher commented on #7917
@waheedhussain I've contacted the PMs for this area to answer the question. I can say that new alerts are where the technology investment is going.

[2018-05-04 18:06] rboucher commented on #7917
@snehithm Anything that you can provide here?

[2018-05-04 18:06] faceoffers28 opened #8111 "The Android instructions need to be updated"
I'm currently in the process of upgrading from the old GcmBroadcastReceiverBase method to use the Xamarin.Firebase.Messaging package. My app is compiled using Android 8.1.  NotificationCompat.Builder has been deprecated. This seems to be the biggest issue and I can't get the workaround that I found to work.  Please provide updated instructions. Thanks!

---
#### Document Details

⚠ *Do not edit th

[2018-05-04 18:11] MicahMcKittrick-MSFT commented on #8017
Thanks for the extra information. @msfussell or @srrengar can either of you shed some light on this question?

[2018-05-04 18:13] MicrosoftGuyJFlo commented on #7974
@jotheman03 ok I will see how I can weave that into the new update to the MFA docs. Do you have any specific ideas that you would like to share to have incorporated?

[2018-05-04 18:14] MicahMcKittrick-MSFT commented on #8107
@menewol Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-05-04 18:14] MicahMcKittrick-MSFT commented on #8108
@vdevappa Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-05-04 18:15] MicrosoftGuyJFlo commented on #8032
@JimmyLS are you saying secure the RDP connection to specifically the MFA Server? In that case no it is not supported.

[2018-05-04 18:15] MicahMcKittrick-MSFT commented on #8109
@nyuen Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-05-04 18:16] rboucher commented on #7918
Resolved in another thread.

Default limit is 100 per subscription. Maximum limit should be “Call support” like it is for older metric alerts.

Instead of near real-time metric alerts (Preview), it should be “Newer Metric Alerts” .

From: Rob Boucher
Sent: Friday, May 4, 2018 11:13 AM
To: 'MicrosoftDocs/azure-docs' <reply@reply.github.com>; MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>

[2018-05-04 18:18] jlian commented on #8081
@zakramer, thanks for finding this! The fix is merged and should be live in about 5 hours. Cheers! #please-close

[2018-05-04 18:27] jeevansd commented on #6325
@chetansriv can you please drive this conversation with FreshDesk?

[2018-05-04 18:27] neilpeterson commented on #7858
We are currently locked down on publishing in preparation for some upcoming events. I am tracking this on my end and will update once I am able. I am going to close this issue for now.

#please-close

[2018-05-04 18:28] akramwaseem opened #8112 "Is this only for Windows ?"
I though the above documentation can be used for Linux too, The JSON format presented here, does it support only windows and is there any other page which shows how to install the extension on Linux VMs and VMss with ARM template ?

How does it work with the VMs and VMss which has docker.I had trouble installing both because the dpkg gets locked by one of them and if extension goes first , I miss

[2018-05-04 18:28] neilpeterson commented on #7980
@Syamala2604 - if there is anything else I can clarify, please let em know.

#please-close

[2018-05-04 18:28] akramwaseem commented on #7460
Is there any update on what can be done and how it can be done .

[2018-05-04 18:34] MohitGargMSFT commented on #8086
@KjetilEVRY I have assigned the issue to the document author to investigate and update as appropriate.

[2018-05-04 18:34] femsulu commented on #8090
@jaspervd86, Thanks for bringing this to our attention. Currently investigating and will get back to you shortly.

[2018-05-04 18:36] Syamala2604 commented on #7980
That's it Neil and thank for that

On Fri, 4 May 2018, 23:58 Neil Peterson, <notifications@github.com> wrote:

[2018-05-04 18:37] seguler commented on #7659
#please-close

[2018-05-04 19:05] linda33wj commented on #7676
@rahulunlimited seems your Azure PowerShell version is too old. Please upgrade to the latest and try again. https://azure.microsoft.com/en-us/downloads/

[2018-05-04 19:11] linda33wj commented on #7539
The UI has been improved to support browsing tables and preview data/schema. Hope it eases the authoring experience.

#please-close

[2018-05-04 19:12] linda33wj commented on #6449
The ADF authoring UI has been improved to support browsing tables and preview of data/schema. Hope it eases the authoring experience.

#please-close

[2018-05-04 19:12] Dunkirk opened #8113 "PowerShell instructions dubious"
I could never get the PowerShell command to work. It either timed out, or gave me a authorization error. I finally fell back to a Mac with the curl command. Based on that command's feedback, I finally followed the instructions here (https://docs.microsoft.com/en-us/azure/app-service/app-service-deploy-local-git) to create deployment credentials with the Azure shell. (I already had "FTP/deployment"

[2018-05-04 19:27] linda33wj commented on #7642
Doc has been updated to describe the SSL related properties. Those options are now available on ADF authoring UI as well.

#please-close

[2018-05-04 19:28] vasivara-MSFT commented on #7642
@Gaurav8032 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-04 19:28] #7642 closed

[2018-05-04 19:30] nezoic opened #8114 "Odd code?"
I'm not sure this condition for the else will ever be met. Wont newRegistrationId  ALWAYS be null? Nothing else is changing it.

if (newRegistrationId == null)
            {
                newRegistrationId = registration.RegistrationId;
            }
            else
            {
                await hub.DeleteRegistrationAsync(registration);
            }

---
#### Document Details

⚠ *Do not

[2018-05-04 19:33] rothja commented on #7918
@waheedhussain As Rob discovered, 100 is also the default limit for the new metrics. I'm going to update the topic thanks to your feedback. Appreciate it.

[2018-05-04 19:43] #7659 closed

[2018-05-04 19:43] #7858 closed

[2018-05-04 19:43] #7980 closed

[2018-05-04 19:43] #8081 closed

[2018-05-04 19:48] SmegheadSev commented on #8017
I just upgraded today and had the same issue. Overriding the IPV4 settings from "Obtain DNS Automatically" to "Use the Following" which breaks our internal VPN service that worked with previous versions of the SDK. I'm now using version 3.1.269 which ironically I updated to to get rid of the DNS service warning that was in the SFC explorer. Now the only way I can connect to our company's VPN is to

[2018-05-04 20:03] MohitGargMSFT commented on #8094
@GitHubMWJ The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out. Please let us know if there is something else that we can help you with.

[2018-05-04 20:15] #8094 closed

[2018-05-04 20:29] MohitGargMSFT commented on #8096
@cbrianball I have assigned the issue to the author to investigate and update as appropriate.

[2018-05-04 20:32] MohitGargMSFT commented on #8100
@spottedmahn I have assigned the issue to the author to investigate and update as appropriate.

[2018-05-04 20:36] krptodr opened #8118 "Route only allows one way communication"
I dont believe the documentation is complete with adding static routes for specific destinations. In the example provided, adding a single route does not properly work when using icmp to test the route. ICMP doesn't know where to send replies without the  reverse route back to the originating subnet.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2018-05-04 20:42] vinothkhanna opened #8119 "Containerize Service Fabric Services"
Any update on when this will be available for working with linux containers?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7acd6be9-dfb2-9569-ff34-cad061c47cb4
* Version Independent ID: 6e0fcc47-fd74-45b2-f8be-d61fb270f186
* Content: [How to containerize your Azure Service Fabric microservices (preview)](https://docs.

[2018-05-04 20:43] kgremban commented on #8084
@pratyush-19 are you seeing the same thing as the screenshot included below (image 1)? That's the result that I get when I don't put my subscription key into the file at all. This makes me think that you're either using a bad key (try copying it fresh, try your secondary key, or try regenerating your keys) or you've pasted it into the wrong spot in the html file. The "subscriptionkey" variable is

[2018-05-04 20:47] danimir commented on #8085
@Mike-Ubezzi-MSFT I'm the owner of this content now, please reassign to me.
@SychevIgor I would need a more precise description of what is it exactly that you ask. I'm not familiar with azure cli 2.0 - could you point me in the right direction and/or provide examples. Thanks.

[2018-05-04 20:54] femsulu commented on #8090
@jaspervd86, try using Login-AzureRmAccount as a workaround. Will work with the content owner to ensure the doc is updated with the appropriate cmdlet.
 **Login-AzureRmAccount** -SubscriptionId $subscriptionId

[2018-05-04 20:58] femsulu commented on #8090
@mcollier, I can confirm @jaspervd86's issue that connect-azureRmaccount fails. Also noticed some chatter online about the [same](https://github.com/Azure/azure-docs-powershell/issues/552). Let me know if it's ok to fix the doc by replacing connect-AzureRmAccount with Login-AzureRmAccount.

[2018-05-04 21:23] akramwaseem opened #8120 "How does waagent gets installed in first place?"
Hi, I am deploying the VMs and VMss using ARM templates, Does the azure agent gets installed in the backend or  is it something we have to do it in the ARM template and also how does it gets updated to the new version ? Do we need to do it manually or is it something that is done by Microsoft in the backend.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2018-05-04 21:31] kwilkins commented on #8026
I'm taking another stab at this, I might have mistaken some parameters in the first script.  API Management has to be the sole resource on a subnet correct?

[2018-05-04 21:37] jason-j-MSFT commented on #6449
@chakrarp we are closing this issue for now but feel free to add comments as needed.

[2018-05-04 21:37] #6449 closed

[2018-05-04 21:40] eureekasigns commented on #8067
To further elaborate on the issue at hand:
- ServiceFabricCluster needed a new certificate
- Ran through example 2 shown here - https://docs.microsoft.com/en-us/powershell/module/azurerm.servicefabric/add-azurermservicefabricclustercertificate?view=azurermps-5.7.0

$pwd = ConvertTo-SecureString -String "123" -AsPlainText -Force
add-AzureRmServiceFabricClusterCertificate -ResourceGroupName 'Group2'

[2018-05-04 21:43] fiyazbinhasan opened #8121 "Error while accessing 'X-MS-TOKEN-AAD-ID-TOKEN'"
followed every instruction above for auth token input binding but still having an error in the log saying Error while accessing 'X-MS-TOKEN-AAD-ID-TOKEN'. even after being logged in manually with https://<function_name>.azurewebsites.net/.auth/login/aad/callback, I can't seem to trigger any functions related to graph api. Any suggestions?

---
#### Document Details

⚠ *Do not edit this section. It

[2018-05-04 22:00] MicahMcKittrick-MSFT commented on #8112
@akramwaseem Thanks for the question! We are investigating and will update you shortly.

[2018-05-04 22:00] MicahMcKittrick-MSFT commented on #8118
@krptodr Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-04 22:01] MicahMcKittrick-MSFT commented on #8119
@vinothkhanna Thanks for the question! We are investigating and will update you shortly.

[2018-05-04 22:03] MicahMcKittrick-MSFT commented on #8120
@akramwaseem The agent will be installed automatically for you. You do not need to specify it. Back when we used Classic Virtual Machines you had the option to install the agent. However now that we are moving to ARM it is completed for you.

In my experience the agent will be updated for you. However in cases where there might be issues we do have the ability to manually install the agent as well

[2018-05-04 22:20] szarkos commented on #8120
The Azure Agent is pre-installed on the VM images in the Marketplace. The agent is typically packaged as an RPM or deb package in the distribution's repositories and installed/managed like any other package.

cc @danielsollondon

[2018-05-04 22:26] dlepow commented on #8109
@nyuen - Nicolas, thanks for the helpful feedback and suggestions. We already have work items in our doc queue to publish latest HPC Pack 2016 update 1 docs and to retire or refactor the HPC Pack classic deployment content in the Azure docset so that we highlight ARM deployments. In the short term, you have a good suggestion to modify the  "HPC Pack cluster options in Azure" article to highlight H

[2018-05-04 22:41] MicahMcKittrick-MSFT commented on #8120
@szarkos ah yes good point clarifying that it is the case for VM images from the Marketplace. There can always be exceptions such as uploading a VHD. Do you think this would be helpful to call out in this doc?

[2018-05-04 22:45] MicahMcKittrick-MSFT commented on #8121
@fiyazbinhasan Thanks for the question! We are investigating and will update you shortly.

[2018-05-04 22:48] MicahMcKittrick-MSFT commented on #8008
@eluchsinger I will close this out for now but if you have additional questions please reopen and we can continue.

[2018-05-04 22:48] #8008 closed

[2018-05-04 22:48] TravisCragg-MSFT commented on #8055
@guillemsola This behavior is expected in some rare situations, and the documentation will be updated to reflect this in the future. If you have any concerns about what your VM can access, [use NSGs to allow or restrict access to your VMs.](https://docs.microsoft.com/en-us/azure/virtual-network/virtual-networks-nsg)

[2018-05-04 22:50] szarkos commented on #7949
I've submitted a PR to resolve this.  I think we can close this now.  Thanks!

[2018-05-04 22:53] MicahMcKittrick-MSFT commented on #8112
Looks to be the same issue you have already opened on this doc #7460

But the template for Linux should be simliar. Check the following: https://docs.microsoft.com/en-us/azure/virtual-machines/linux/extensions-oms

[2018-05-04 22:54] #7949 closed

[2018-05-04 22:55] MicahMcKittrick-MSFT commented on #8118
@krptodr I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-05-04 22:57] MicahMcKittrick-MSFT commented on #8119
@anmola, @srrengar or @dkkapur can you guys answer this as it is in regards to the timeline?

[2018-05-04 23:03] MicahMcKittrick-MSFT commented on #8121
@mattchenderson can you take a look into this one?

[2018-05-04 23:08] MicahMcKittrick-MSFT commented on #8112
@akramwaseem as per the question with docker do you mean installing docker via the extension and the OMS extension? You should be able to specify multiple extensions in an Arm template just as you would in PowerShell

[2018-05-04 23:13] MicahMcKittrick-MSFT commented on #7803
@shannonlowder I will close this for now as I have verified it is not an issue with the document. Please let me know an update when you have one on trying it with another machine.

[2018-05-04 23:13] #7803 closed

[2018-05-04 23:17] BryanTrach-MSFT commented on #8111
@faceoffers28 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-04 23:26] BryanTrach-MSFT commented on #8114
@nezoic Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-05-04 23:30] BryanTrach-MSFT commented on #8113
@Dunkirk Can you please share what PowerShell cmdlet in the doc gave you an error? There are a few of them in the article. We look forward to your reply.

[2018-05-04 23:31] mmacy commented on #7975
Hi @lalitkale,

I would like to get a bit more clarification from you about your use case. Are you saying that you don't want to *fork* the repository? Or that you don't want to clone it? I'm not 100% clear on your issue.

ACR Build doesn't actually care how you get your code onto the machine that's executing the `az acr build` command, or where the Dockerfile and its associated files come from. A

[2018-05-04 23:32] #7964 closed

[2018-05-04 23:33] MicahMcKittrick-MSFT commented on #8102
@Thraka thanks for verifying! I can make the change to the doc.

[2018-05-04 23:39] #7539 closed

[2018-05-04 23:39] Dunkirk commented on #8113
I just put what was there in a script, and ran that:

[code]

This was the second script I found like this, besides the one on that page. I can't find where I got this one, particularly.

Note that I was trying all of this AFTER I wasted a couple of OTHER hours trying to FTP a correctly named .war file (ROOT.war?) to any number of directories on the application's site file structure, and never get

[2018-05-04 23:56] briannipper opened #8123 "Invalid Example Block"
Thank you for providing all the wonderful snippets for ARM templates and the like.

In this case, the JSON is invalid...
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/extensions-dsc-template#example-configuration-script

Within the ConfigurationArguments you have an object being created and a "child" object directly after this, I believe this should either be a named object or an

[2018-05-05 00:00] BryanTrach-MSFT commented on #8083
@sampathdr Were you able to follow the below guide? There weren't any issues from a platform perspective so something else may have caused your certificate to have fallen out of the store. Since you have already resolved the matter, it will be hard to investigate the matter further.

https://blogs.msdn.microsoft.com/karansingh/2017/03/15/azure-app-services-how-to-determine-if-the-client-certificat

[2018-05-05 00:03] jeevansd commented on #7618
#please-close

[2018-05-05 00:04] jeevansd commented on #7763
#please-close

[2018-05-05 00:06] jeevansd commented on #7509
#please-close

[2018-05-05 00:06] BryanTrach-MSFT commented on #7992
@kf-onurtopal We have pushed an update to fix the typo. The change should appear within 24 hours. We received the same issue when running appInsights.flush so we've requested the author to investigate the matter further.

[2018-05-05 00:08] jeevansd commented on #7507
Updated as per request.
#please-close

[2018-05-05 00:09] jeevansd commented on #7506
Updated.
#please-close

[2018-05-05 00:10] jeevansd commented on #7136
@chetansriv and @v-nagta Can you please update the article as suggested?

[2018-05-05 00:12] jeevansd commented on #6939
@chetansriv and @v-nagta We should provide the step here to mention that please ignore the private key in the setup. Also update the screenshot because it shows the private key is configured which is not the case.

[2018-05-05 00:27] kwilkins commented on #8026
Okay so it was my misunderstanding of how the virtual network was configured. As much as the template deployment files do take care of everything, it is really hard to follow what is going on or how things work together. I'd love to see a step by step or deep dive on configuring APIM with Service Fabric, took me about 2 weeks to piece together what is going on.

One question I have: why can't we a

[2018-05-05 00:27] #8026 closed

[2018-05-05 00:32] asmalser-msft commented on #5496
Update: The publishing issue has been resolved, and the connector and documentation are expected to go live next week. Thanks everyone for your patience! #please-close

[2018-05-05 00:43] nathankitchen commented on #7423
Same issue, no code change. Started failing on the 19th April, fine on the 18th April, hasn't worked since. Posted code fix by @pargall isn't working for me.

[2018-05-05 00:55] SnehaGunda commented on #7842
@StefH Thanks for pointing, we fixed it, changes should be live soon. We will close this issue now.

#please-close

[2018-05-05 00:56] emthomas commented on #7735
+1 would be great to have that feature

[2018-05-05 01:04] tfitzmac commented on #8037
@Anmolgan81 - the deployment history has the templates that were used to create the resources. You might be able to construct a new template by assembling several templates from the history.

[2018-05-05 01:07] tfitzmac commented on #8037
Otherwise, the quickstart gallery might have some examples like -[gateway with public ip]( https://github.com/Azure/azure-quickstart-templates/blob/master/101-application-gateway-public-ip/azuredeploy.json)

[2018-05-05 01:14] akramwaseem commented on #8112
@MicahMcKittrick-MSFT -- I think docker extension is discontinued, you can check around and let me know.As per my knowledge Microsoft is not encouraging to use the docker extension anymore.

I am installing the docker through cloud-init and upstart script for ubuntu and OSM with OMS extension.
The problem we have here is OMS gets installed first every time we try and because of that we are missing

[2018-05-05 02:00] femsulu commented on #8123
@briannipper, Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-05-05 02:01] nathankitchen commented on #7423
OK, so this works. Health warning that it's .netstandard2.0 so your framework may vary. It sets the bearer header at the request level rather than the client level, and doesn't follow redirects by default. This allows you to intercept a redirect and prep a second request without including the Authorization header.

Maybe there's a better way, but it's 02:56am and I'm just glad I got this working,

[2018-05-05 04:30] JimmyLS commented on #8032
Okay, thanks for the confirmation. Could you please modify the note in this article to clarify it? Because the current note "This feature is not supported to secure Terminal Services on Windows Server 2012 R2" may cause confusions to customers if the 2012 R2 later server is supported or not.

[2018-05-05 04:54] pratyush-19 commented on #8084
I tried with regenerating the keys, but the things are not working.
I put the keys on line 214.

Regards,
Pratyush

On Sat, May 5, 2018 at 2:13 AM, Kelly Gremban <notifications@github.com>
wrote:

[2018-05-05 05:26] NIVJAIN opened #8126 "Azure mongodb with node"
Those who are not able connect using node. Please use the below code from Guillaume Alouege
The accepted answer dont work for me on mongodb > 3.0.x
This code work for me :
const mongoClient = require("mongodb").MongoClient;
let database = null;
new mongoClient('mongodb://myhost.documents.azure.com:10355/?ssl=true', {
    auth: {
       user: 'username',
       password: 'p@ssword',
    }
}).connec

[2018-05-05 06:28] Anmolgan81 commented on #8037
I tried that but wasnt able to succedd

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Tom FitzMacken <notifications@github.com>
Sent: Saturday, May 5, 2018 6:37:38 AM
To: MicrosoftDocs/azure-docs
Cc: Anmol Ganju; Mention
Subject: Re: [MicrosoftDocs/azure-docs] How can we recreate application gateway? (#8037)

Otherwise, the quickstart gallery might have some exa

[2018-05-05 06:37] SalmanUlla opened #8127 "Microsoft.ProjectOxford.Face.FaceAPIException"
Microsoft.ProjectOxford.Face.FaceAPIException was unhandled
Message: An unhandled exception of type 'Microsoft.ProjectOxford.Face.FaceAPIException' occurred in mscorlib.dll

please help in solving the problem

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5f087f4-64bd-ebda-e5b9-540bf9cd041e
* Version Independent ID: 9

[2018-05-05 10:46] cephalin commented on #8113
You probably got it from here: https://github.com/projectkudu/kudu/wiki/Deploying-WAR-files-using-wardeploy

the web.xml is shown as one of the known issues. @shrishrirang is there an open issue for this already in Kudu?

[2018-05-05 12:21] ChrisCarrAu opened #8128 "Unable to determine hardware version. I see: Hardware : BCM2835"
Unable to determine hardware version. I see: Hardware   : BCM2835
,
 - expecting BCM2708 or BCM2709. Please report this to projects@drogon.net

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a57d05c9-562c-02a5-7ccd-b1b1bb7c8f0c
* Version Independent ID: 17ee094f-aee3-ca0c-959b-6380e4ea8b89
* Content: [Raspberry Pi to cl

[2018-05-05 13:28] ChrisCarrAu commented on #8128
I'm using a Raspberry Pi 3 B+
I have followed all of the above instructions (twice)
I am new to Raspberry Pi / IoT

[2018-05-05 13:30] DaveVoyles opened #8129 "TAB key does not work, with OS X + X2Go + Ubuntu"
If you are using OS X and X2Go with an Ubuntu DSVM (as described in the Azure DSVM docs), the TAB key does not work.

[It's a known issue for this combination](https://www.google.com/search?q=x2go+osx+ubuntu+tab&ie=utf-8&oe=utf-8&client=firefox-b-1-ab), and short of remapping the keys manually, which is a process, the tab key will not work.

When indenting code, this can be an issue.

Is it possib

[2018-05-05 15:10] siriusk-MSFT commented on #6701
Host Caching applies to both Premium and Standard storage disks. There are some differences in the cache performance between different VM types as documented in the VM specs docs. VM types that support Premium Storage disks use the advanced host features, and come with dedicated performance targets as documented. Whereas the older generations VMs have different targets as documented and generally

[2018-05-05 16:08] MicahMcKittrick-MSFT commented on #8129
@DaveVoyles can you please share the documentation you are referring to?

[2018-05-05 16:09] MicahMcKittrick-MSFT commented on #8127
@SalmanUlla Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-05 16:10] MicahMcKittrick-MSFT commented on #8126
@NIVJAIN Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-05 17:08] lalitkale commented on #7975
Hi @mmacy
My ultimate goal is to make ACR Build as part of my CI-CD workflow. You have already answered that with

However, Your explanation in above comment

definitely helped my poor understanding about `az acr build`. Now, I fully understand that to fire up 'az acr build' I don't need to clone the repo. This is greatly helpful. I think even @MicahMcKittrick-MSFT tried to explain me the same, ho

[2018-05-05 17:09] lalitkale commented on #7975
@MicahMcKittrick-MSFT @mmacy I think, we can close this issue now. Thanks again!

[2018-05-05 17:09] #7975 closed

[2018-05-05 19:11] ninzavivek commented on #5264
I have the fix for the issue ready and currently is in review. It should be available in SF 6.2 CU1.

[2018-05-05 19:32] fiyazbinhasan commented on #8121
@mattchenderson I no longer having this issue after selecting `Login with Azure Active Directory` from the dropdown. But I'm facing this new issue now when I try to trigger the ProfilePhotoAPI template - `Input id_token cannot be used as 'urn:ietf:params:oauth:grant-type:jwt-bearer' grant.`

[2018-05-05 19:43] jrochet commented on #6701
Thanks for the explanation!

[2018-05-05 19:43] #6701 closed

[2018-05-05 19:49] colemickens opened #8130 "Additional Details Needed"
How do we workaround the 300 instance limitation with user custom images? Is this a blob/container/account/subscription limit? I need to know if I can just upload 10 copies of my VHD, or if I need to shard the copies across 10 storage accounts.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3d1248f-008e-4b88-4ef9-3f44

[2018-05-05 20:09] #8102 closed

[2018-05-05 20:57] dyaros27 commented on #6811
@LukeDevs The DSVM credentials worked for me (local connection to anaconda through port 8000)

[2018-05-05 21:10] MicahMcKittrick-MSFT commented on #8130
@colemickens Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-05 21:11] #5496 closed

[2018-05-05 21:12] #7506 closed

[2018-05-05 21:12] #7507 closed

[2018-05-05 21:12] #7509 closed

[2018-05-05 21:12] #7618 closed

[2018-05-05 21:12] #7763 closed

[2018-05-05 21:12] #7842 closed

[2018-05-05 21:39] revodavid opened #8131 "JupyterHub docs out of date for Linux DSVM"
Port number is incorrect. Need to also provide instructions for starting the JupyterHub server and setting its login password.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b50cbe1-2295-0b76-2b09-15395b969151
* Version Independent ID: 2ba93dae-de6b-bc82-3f19-4ec3bfe7961b
* Content: [Data science with the Linux Data S

[2018-05-06 01:47] rajrsingh opened #8132 "python web app tutorial is inaccurate"
https://docs.microsoft.com/en-us/azure/app-service/app-service-web-get-started-python tells me to modify main.py but this file doesn't exist. There is only hostingstart-python.py. Also, I'm familiar with Flask web apps but this sample code doesn't look anything like a regular Flask app. I'm confused...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2018-05-06 04:58] spottedmahn opened #8133 "Document error codes"
Can we please get a reference page of all error codes?

Example: password reset request returns an error code.

Reference: [SO Post](https://stackoverflow.com/questions/50067640/cancel-button-throws-error-on-azure-ad-b2c-signup/50067879#comment87152860_50067879)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 245ef8a4-a

[2018-05-06 05:14] boredom2 commented on #7505
If I am allowed to add here - this is happening since Months, and it seems, like nobody is ever reading the various Issues about this on the corresponding GitHub Repo, as for Example here: https://github.com/Azure/azure-sdk-for-php/issues/975

Due to the Fact, that this is still the official PHP SDK from Microsoft, it should really be emphasized, that the "official General PHP SDK" is not able to

[2018-05-06 08:38] ChrisCarrAu commented on #8128
I don't know if this will help, but here are my workings to get it all going in my situation
https://github.com/ChrisCarrAu/RaspberryPi-IoT/wiki

[2018-05-06 09:46] Nepomuceno opened #8134 "Ther link for the SDK it is broken"
The SDK link it is broken https://www.microsoft.com/cognitive-services/en-us/SDK-Sample?api=bing%20speech&category=sdk

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11b0f5d1-1736-7f1c-5626-026704e22bd4
* Version Independent ID: 7a389eed-9fa5-b929-24a7-964f6bb91954
* Content: [Get started with the Custom Speech Service

[2018-05-06 10:07] HemantChandurkar commented on #8040
Chrome -> F12 -> Network

[2018-05-06 10:09] HemantChandurkar commented on #6644
any updates?

[2018-05-06 12:55] padmick opened #8135 "link to new documentation is broken when launching a new linux vm"
When creating a new virtual machine it gives a preview option to login using Azure AD but the link to the documentation is https://review.docs.microsoft.com/en-us/azure/virtual-machines/linux/login-using-aad?branch=pr-en-us-33197 is forbidden. Can i gain access to this documentation?

[2018-05-06 13:40] mjyeaney opened #8136 "Clarify that Local Cache is *only* available on Windows-based AppSerivce."
While it's likely implied by this article not being under the "AppService on Linux" topic, nowhere in here does it mention support of this feature (same for ASE support).  Support of this feature should likely be explicitly called out.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3875bb58-b3bb-d12c-9e8f-6a60ac7fb49b

[2018-05-06 14:10] mrmodolo opened #8137 "On the Attach Permissions Policies dialog, click Next: Review."
In step 16, it was not clear that you need to associate a policy with role.
On the plus side, everything worked perfectly!

Thanks,
Marcelo Módolo

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8fa5814d-91e2-2f75-77e7-62a8597f340c
* Version Independent ID: 458e93d7-a180-4c2f-5077-9b9d124d726a
* Content: [Tutorial: Azur

[2018-05-06 15:00] juancrl opened #8138 "No example at all for New-AzureRMVMSSConfig"
This example is really trivial.
How to add the myriad of possible parameters which are embedded in  New-AzureRMVMSSConfig, Set-AzureRmVmssOsProfile , Set-AzureRmVmssStorageProfile, Add-AzureRmVmssNetworkInterfaceConfiguration ??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82c3c9d7-8a0c-b803-c62c-b860012fa0f4
* Versi

[2018-05-06 15:49] chrisahardie opened #8139 "Documentation identifies free Pluralsight videos which are no longer free"
Re: https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/monitoring-and-diagnostics/index.yml

It mentions "Free Pluralsight Training" and links to a Pluralsight video, but the video now requires a paid subscription.

[2018-05-06 17:11] MicahMcKittrick-MSFT commented on #8135
@padmick Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-06 17:12] MicahMcKittrick-MSFT commented on #8139
@chrisahardie Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-06 17:13] MicahMcKittrick-MSFT commented on #8131
@revodavid Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-06 17:13] MicahMcKittrick-MSFT commented on #8134
@Nepomuceno Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-06 17:14] MicahMcKittrick-MSFT commented on #8138
@juancrl Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-06 17:15] MicahMcKittrick-MSFT commented on #8133
@spottedmahn Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-05-06 17:16] MicahMcKittrick-MSFT commented on #8137
@mrmodolo Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-06 17:16] MicahMcKittrick-MSFT commented on #8132
@rajrsingh Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-06 17:18] MicahMcKittrick-MSFT commented on #8136
@mjyeaney Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-06 17:31] samirageb commented on #8130
I have the same question, but with managed images. It reads like managed image VMSS's cap at 300, and you just have to spin up a 2nd VMSS to have more than 300, correct? Also, if you overprovision, does a CustomScript extension attached to the VMSS still run for those boxes that were temporarily over-provisioned? It would not be good if the VMs get bootstrapped into rotation and then immediately t

[2018-05-06 22:27] xmark opened #8142 "WebActivity timeout"
I have noticed that the webactivity always times out after 1 minute, as per the documentation. Is there any features/improvements to specifiy a longer timeout? 1 minute is not very long when moving large volumes of data and you need to invoke 3rd party web services.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34b3d4

[2018-05-06 22:35] twovvs opened #8143 "To identify which tables have more than 10% data skew:"
Hi, not sure this is quite right? The query is dividing min distribution row count by max distribution row count. For example if I have a min distribution of  992,604 and a max distribution of 996,207, then I get a result of 99.6%. The more the two figures are inline with each other, the larger the percentage returned. A larger percentage represents a closer distribution of rows and a lower amount

[2018-05-06 22:43] faridabharmal opened #8144 "ERROR: no matching manifest for windows/amd64 in the manifest list entries"
When I run "docker-compose up -d", I get error "ERROR: no matching manifest for windows/amd64 in the manifest list entries" Using Windows 10

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65f634bf-2280-a093-5897-724310dafa2d
* Version Independent ID: f11c0af7-bfaf-6d64-2c75-9015b0eb1f30
* Content: [Kubernetes on Azure

[2018-05-06 22:56] faridabharmal commented on #8144
This is the complete output

PS C:\learnings\Kubernetes\azure-voting-app-redis> docker-compose up -d
Pulling azure-vote-back (redis:)...
latest: Pulling from library/redis
ERROR: no matching manifest for windows/amd64 in the manifest list entries
PS C:\PMC\learnings\Kubernetes\azure-voting-app-redis>

[2018-05-06 23:01] inglesuniversal opened #8145 "Very simple question: How to get the TEXT (only) elements from the OCR Vision API shown to the user?"
I am able to use the javascript code example you provide, but I'm not quite sure how to get ONLY the text found on the source image (ONLY) concatenated as a single text string. Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 912b9b5e-8d27-c34a-02b4-567a06393d06
* Version Independent ID: f1c1f6ff-e3ce-15c2-828e-e7

[2018-05-06 23:29] MicahMcKittrick-MSFT commented on #8145
@inglesuniversal Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-06 23:30] MicahMcKittrick-MSFT commented on #8144
@faridabharmal Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-06 23:31] MicahMcKittrick-MSFT commented on #8142
@xmark Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-06 23:31] MicahMcKittrick-MSFT commented on #8143
@twovvs Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-07 00:14] dcbrown16 opened #8146 "How many IPs used by Azure?"
For ASE v2, documentation indicates that a total of 12 IP addresses are reserved for Azure/infrastructure use for external and 13 used for ILB.
The documentation here indicates the subnet size could be as small as /29 with 8 addresses, so there must be a smaller number of addresses reserved in v1. Can you share exactly how many are used by Azure? Thanks!

---
#### Document Details

⚠ *Do not edit

[2018-05-07 00:32] #7458 closed

[2018-05-07 03:26] mike-urnun-msft commented on #7944
@Bartolomeus-649 Could it be that your Receiver and Sender Logic Apps are deployed to different regions/locations? I'm able to follow and set this up in VS 2017 without any issues. However, i do see that the dialog at step 2.d is not coming up when the Sender and Receiver Logic Apps are deployed to different regions.

[2018-05-07 03:46] cesarwhite commented on #7447
@cwatson-cat Thank you for following up.

[2018-05-07 03:46] #7447 closed

[2018-05-07 04:22] amckeachie opened #8147 "Inaccuracy - info out of date re: "Currently, there isn't a native function for form data""
This page states "Currently, there isn't a native function for form data".  I believe that this is no longer true.  I think that two native functions now exist.

See the comment on this page from the Logic Apps Team.
https://feedback.azure.com/forums/287593-logic-apps/suggestions/10537050-add-a-setting-to-the-http-listener-api-app-that-wo
"You can now use the @triggerFormDataValue() expression to

[2018-05-07 04:32] michaelkruglos commented on #7529
An example of how to insert, update and delete would be nice.

[2018-05-07 05:15] YutongTie-MSFT commented on #8002
@CindyBai Hi, for this issue, please try to delete the older version in your workbench and do "Add Existing Folder As Project" again. Thanks a lot. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-07 05:15] #8002 closed

[2018-05-07 05:16] YutongTie-MSFT commented on #8027
@scott2b We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-07 05:16] #8027 closed

[2018-05-07 05:41] YutongTie-MSFT commented on #8134
@Nepomuceno Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@PanosPeriorellis Hi, can you please check the link, and update the document as necessary? Thanks a lot!

[2018-05-07 05:43] sampathdr commented on #8083
@BrayanTrach-MSFT Thank you for the reply.

[2018-05-07 05:58] abhijeetgaiha commented on #5447
@kpantos  Please follow the troubleshooting steps outlined on the linked issue: https://github.com/Azure/azure-linux-extensions/issues/536

[2018-05-07 06:00] YutongTie-MSFT commented on #8131
@revodavid Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@gopitk Hi, this is a issue about port number, can you please check it and update the document as necessary? Thanks a lot!

[2018-05-07 06:30] jotheman03 commented on #7974
The bit that we used was just a basic MFA-only configuration. So basically setting a license and preconfiguring MFA to work with a phonecall. Maybe something like this?

[string]$msonlinelicenseMFA = "customer:MFA_STANDALONE"
Set-MsolUser -UserPrincipalName $upn -UsageLocation NL
Set-MsolUserLicense -UserPrincipalName $upn -AddLicenses $msonlinelicenseMFA

$auth = New-Object -TypeName Microsoft.On

[2018-05-07 06:32] YutongTie-MSFT commented on #8127
@SalmanUlla Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@cjgronlund Hi, this is a issue about product, can you please help check it and update the document as necessary? Thanks a lot!

[2018-05-07 06:48] SychevIgor opened #8149 "Update screenshots with Availability test to remove "Preview" word. It's RTM for a long time already."
I'm about this image:
/azure/application-insights/media/app-insights-monitor-web-app-availability/perf-test.png

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10858323-1827-1c73-b93a-7c133bae54ba
* Version Independent ID: 3ed5fda4-c916-dcb0-a3b2-a0bb534d8bdb
* Content: [Monitor availability and responsiveness of any we

[2018-05-07 07:07] YutongTie-MSFT commented on #8145
@inglesuniversal Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@cjgronlund Hi, there is a issue about how to get ONLY the text found on the source image (ONLY) concatenated as a single text string, can you please check it and update the document as necessary? Thanks a lot!

[2018-05-07 07:16] pipern commented on #7949
@szarkos Just to help me follow along/provide issues/PRs in the future, can you say how to find the related PR? I've searched https://github.com/MicrosoftDocs/azure-docs/pulls?utf8=%E2%9C%93&q=is%3Apr+hyphen (and a few other terms too) but don't spot it. I'd normally expect to find it linked from this current issue? Is the workflow slightly different here?

Thank you! (and sorry @MicahMcKittrick-M

[2018-05-07 07:25] SychevIgor commented on #7159
@Adam-Smith-MSFT I guess he is talking about
https://docs.microsoft.com/en-us/azure/storage/common/media/storage-monitor-storage-account/stg-enable-logging-01.png image, because now UX looks differently
![image](https://user-images.githubusercontent.com/578954/39689824-bd8844c2-51e0-11e8-9489-048810a51abe.png)
Also the monitoring blade looks differently https://docs.microsoft.com/en-us/azure/stora

[2018-05-07 07:33] rayne-wiselman commented on #8047
@Adam-Smith-MSFT #please-close

[2018-05-07 08:27] yuharucan opened #8150 "How about gen2?"
How about Transaction size of gen2?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac3528c7-8407-3689-eea2-ab93c6373961
* Version Independent ID: ee73a7b8-6bc1-278c-c9ed-932bd3813269
* Content: [Using transactions in Azure SQL Data Warehouse](https://docs.microsoft.com/en-us/azure/sql-data-warehouse/sql-data-warehouse-

[2018-05-07 09:12] twoelfer opened #8151 "AutoRenew and Binding"
I have (several) certs that have been purchased using the Portal. All of them have Auto-Renew. I _do_ see renewed certs, but it appears, the bindings do _not_ renew. (For example, i have one cert running out in 5 days. The new one is already listed, but it's _not_ bound to the web app it's supposed to be bound to. The Web App is still using the old cert. If those bindings don't get replaced automa

[2018-05-07 09:15] Bartolomeus-649 commented on #7944
Nothing is deployed anywhere, I'm in visual studio trying to configure and set everything up.  Haven't come so far that there is anything to deploy.

In visual studio, everything is defined in the same ARM-template, everything in the same resource group, everything in the same region/location, everything using the same resources when possible (like storage account and so on).

[2018-05-07 09:52] PROnICT opened #8152 "New-SelfSignedCertificateEx.ps1 - StoreName - parameter could not be found"
Executing the command gave me an error that the parameter "StoreName" does not exist.
New-SelfSignedCertificateEx -StoreLocation CurrentUser `
  -StoreName My `
  -Subject "CN=exampleapp" `
  -KeySpec "Exchange" `
  -FriendlyName "exampleapp"
$cert = Get-ChildItem -path Cert:\CurrentUser\my | where {$PSitem.Subject -eq 'CN=exampleapp' }

ERROR: New-SelfSignedCertificateEx : A parameter cannot be f

[2018-05-07 10:04] rayne-wiselman commented on #7941
This the NIC used by the VM to send replication data to the process server running on the configuration server machine. I've updated the article.

#please-close

[2018-05-07 10:05] rayne-wiselman commented on #7631
The matrix is up-to-date. If it's not in there it's not supported.
Can we close this since it doesn't seem to be a content issue.
thx
#please-close

[2018-05-07 10:09] rayne-wiselman commented on #7596
The FAQ now mentions Microsoft peering.
Can I use ExpressRoute to replicate virtual machines to Azure?
Yes, ExpressRoute can be used to replicate on-premises virtual machines to Azure. Azure Site Recovery replicates data to an Azure Storage Account over a public endpoint. You need to set up public peering or Microsoft peering to use ExpressRoute for Site Recovery replication.

#please-close

[2018-05-07 10:12] rayne-wiselman commented on #7342
These articles now seem to be updated. #please-close

[2018-05-07 10:13] rayne-wiselman commented on #7290
This doesn't seem to be a documentation issue. Please let me know if you think it is

#please-close

[2018-05-07 10:27] rayne-wiselman commented on #7046
Hey, the method in this document is no longer supported, and we'll be removing the article. thx for the feedback.
#please-close

[2018-05-07 10:59] jaspervd86 opened #8154 "Question regarding time format"
Hello,
Could you provide an example on how to generate a starttime and endtime with Powershell to retrieve metric values? I am trying to integrate this into our monitoring system by using a get-date and retrieving the values that were generated in the last 5 minutes.
Any idea how to generate the starttime and endtime or can you tell us which values the API accepts?

---
#### Document Details

⚠ *D

[2018-05-07 11:28] Anmolgan81 commented on #7631
@rayne-wiselman Thanks for you response.

[2018-05-07 11:28] #7631 closed

[2018-05-07 11:28] #8047 closed

[2018-05-07 11:33] pmmadhura opened #8155 "azure web app service (python) failed as pip failed for azure-iothub-device-client"
My web app is running perfect in local. When I push the code to azure web app, it throws error while doing pip install requirements. issue with azure-iothub-device-client==1.3.2 & azure-iothub-service-client==1.3.2. Web app is running fine with only Flask==1.0.2 (the example given in documentation)

data in requirements.txt

azure-iothub-service-client==1.3.2
Flask==1.0.2
Flask-Sijax==0.4.1

find

[2018-05-07 11:55] HemantChandurkar opened #8156 "Where to see error log?"
If pipeline fails, I only see "User Error". I want to see detailed log. Where I can?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6220eb4d-df3e-cb10-4276-23dd247dbe9e
* Version Independent ID: af7311db-045c-842f-510e-d0d955b53d84
* Content: [Transform data using Spark in Azure Data Factory](https://docs.microsoft.com

[2018-05-07 12:18] jtabuloc opened #8157 "Why am I getting read-only error during manual fail-over and weird data after switched?"
Hi,

I'm evaluating the failover groups and I encountered some read-only exception during manual fail-over testing and after the process of switching I got weird primary key.

Setup:

     West US region
        - One Db Server (westdbserver) with one database named mydb (this will be the primary db read/write)

      East US region
         - One Db Server (eastdbserver). Db here will be geo-repl

[2018-05-07 12:29] snehaamicrosoft commented on #7929
@simoncreasey Thank you for notifying the issue. The port for collector to vCenter Server communication is 443, we will update this article to ensure the right port is reflected.

[2018-05-07 12:40] snehaamicrosoft commented on #7931
@guidovbrakel Good feedback, unfortunately, we do not have any automated flow for discovery of the on-prem environment, it needs to be triggered manually.

[2018-05-07 12:42] simoncreasey commented on #7929
Thanks Sneha!

[2018-05-07 13:01] mcollier commented on #8090
@femsulu, I think the use of `Connect-AzureRmAccount` is correct.  Azure PowerShell v5.3.0 (https://docs.microsoft.com/en-us/powershell/azure/release-notes-azureps?view=azurermps-5.7.0#530---february-2018) made this change.  `Login-AzureRmAccount` should now be an alias for `Connect-AzureRmAccount`.  Based on the commit history, it appears @sdwheeler updated several docs on April 19th to make use

[2018-05-07 13:03] MGodfrey50 opened #8160 "What if the target site goes off-line - then East Asia has no DC, the way this is drawn and explained leaves some questions"
The DC component of the solution doesn't seem to be particularly robust - Subnet 4 needs a partner Subnet 5 located in East Asia.  Given AD's resiliency, a Running copy of the DC and an protected replica of that DC in the Subnet 4 would work - yes there might be some AD cleanup to do - did I miss something?  Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2018-05-07 13:09] mayanknayar commented on #8160
@MGodfrey50 - The example assumes that the source node is on one of the subnets 1-3 in East Asia. Subnet 4 only has the replica that becomes the main DC node on failover. You can alternately also failover source DC itself if you don't want a running replica on target.
Please refer to the AD/DNS [document](https://docs.microsoft.com/azure/site-recovery/site-recovery-active-directory) for a detailed

[2018-05-07 13:27] mayanknayar commented on #8160
@MGodfrey50 - Thank you for the feedback. I've mentioned that Subnet 4 only has replica nodes and the like. The example is meant to be generic and a high-level description. Particular app scenarios are described in each application workload's dedicated page.

#please-close

[2018-05-07 13:43] jimdial commented on #8079
The tags were added to the article. It will publish later today.  Thanks #please-close

[2018-05-07 13:44] spottedmahn commented on #8133
- AADB2C90118: Password reset error code
- AADB2C90091: User cancel error code

[2018-05-07 13:51] Robar666 opened #8161 "Add a list of supported VM SKUs"
The docs state that the minimum local SSD size is 14 GB. I've tried to use a cluster with Standard_B2ms (Local SSD: 16 GB) VMs, but after 4 days the storage was filled up with the replicator log (see https://github.com/Azure/service-fabric-issues/issues/138 and https://stackoverflow.com/questions/39862762 ).
It seems there is no possibility to decrease the log size, so I've to use a larger SKU.

I

[2018-05-07 13:54] Akshayvh94 opened #8162 "How can we get subscription id from above said steps ? Since i need to go through many Azure API calls each API needs subscription ID."
Since i need to go through many Azure API calls each API needs subscription ID. Can anyone help with this ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf04450a-028e-cc23-d9b3-880a1b5c0fd5
* Version Independent ID: ac05d3c4-0379-0f34-9e17-787fb95b7189
* Content: [Azure AD v2 ASP.NET web server getting started](https

[2018-05-07 13:58] jabberhams opened #8163 "Setting Blob Public Access"
Public Access for the thumbnails container is still being set to 'Blob' in the code even though earlier it was set to Private via CLI.  Should the could leave it as Private?  Do the SAS tokens negate the need to set public access?  I tested setting to Private and it still worked but my tokens may still be valid from earlier testing.  Thanks!

---
#### Document Details

⚠ *Do not edit this section.

[2018-05-07 14:10] bernardw1 commented on #5496
@asmalser-msft - Thank you very much for getting that republished. It looks like it will work really nicely.

I do have a couple questions - Is there going to be any documentation on how to setup the provisioning? I think I have gotten it figured out but Just wanted to ask.

(I would post this to the "application" github comment area but I don't know how to get there).

Also instead of User Name a

[2018-05-07 14:29] vdevappa commented on #8108
Do we have an ETA for this please?

[2018-05-07 14:51] ConnorMcMahon commented on #8121
This was a change in AAD behavior that we missed, but will go into a future release. In the meantime, the workaround is to set the field `oauth2AllowImplicitFlow` in the [Application Manifest](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-application-manifest) to `true.`

[2018-05-07 14:51] curtand commented on #7970
Hi @ChrisSommers
The link you requested to the key vault article is in the add subscriptions article now.
#please-close

[2018-05-07 14:53] KTazayan opened #8166 "Low-priority VMs in Azure Service Fabric"
Can I use Low-priority VMs in Azure Service Fabric as a SF scale set (of course for dev/test environments) without manual configuration/installation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1bd5076-fe52-cfca-4173-dec861167812
* Version Independent ID: 0122fff1-79e0-446c-00a4-85248a21b6dc
* Content: [Create an A

[2018-05-07 14:55] Rachitgupta1994 opened #8167 "Didn't work"
Hi. I tried to follow the documentation and implement non broker assisted login for a couple of my org's apps. I carefully followed all the steps, but still it didn't work. I installed and logged in to the first app. The second app still prompts for credentials. Kindly help me in achieving cross app sso for my org's apps.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2018-05-07 14:55] billmath commented on #8086
Thank you for this information.  I have created a backlog work item to address this.  Unfortunately I do not have an ETA on when this will be available.  I re-open and update this issue once it is updated.  Thank you!

#please-close

[2018-05-07 14:58] billmath commented on #7989
Thank you for this information.  I have created a backlog work item to address this.  Unfortunately I do not have an ETA on when this will be available.  I re-open and update this issue once it is updated.  Thank you!

#PLEASE-CLOSE

[2018-05-07 15:02] billmath commented on #7814
Thank you for the information.  This fix has been submitted and should be live by tomorrow.  Thank you!

#PLEASE-CLOSE

[2018-05-07 15:04] billmath commented on #7637
@wesleykirkland thank you for this information.  I have created a backlog work item to address this.  Unfortunately I do not have an ETA on when this will be available.  I re-open and update this issue once it is updated.  Thank you!

#PLEASE-CLOSE

[2018-05-07 15:04] BryanTrach-MSFT commented on #8132
@rajrsingh You are asked to download the project files at the start of the session by using the below bash command in a git cmd window.

`git clone https://github.com/Azure-Samples/python-docs-hello-world`

I am able to see the main.py file after running the above command.

![image](https://user-images.githubusercontent.com/20250350/39708452-1a4e3eb0-51cc-11e8-8414-baeb381a93a0.png)

In the main.p

[2018-05-07 15:04] #8132 closed

[2018-05-07 15:06] billmath commented on #7080
@Kirbogd Thank you for this information.  I have created a backlog work item to address this.  Unfortunately I do not have an ETA on when this will be available.  I re-open and update this issue once it is updated.  Thank you!

#PLEASE-CLOSE

[2018-05-07 15:06] PierrickI3 opened #8169 "Header was not found error"
When running the handwritten example, I get the following error:

System.InvalidOperationException: 'The given header was not found.'

Here is the code that throws this exception:
operationLocation = response.Headers.GetValues("Operation-Location").FirstOrDefault();

The header is indeed not present on the response. Here is the full response:

response.Headers = {apim-request-id: 332831ac-0c38-4b5

[2018-05-07 15:09] BryanTrach-MSFT commented on #8136
@mjyeaney Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@SyntaxC4 please let me know if you want me to reassign the issue to @cephalin.

[2018-05-07 15:12] Mike-Ubezzi-MSFT commented on #8150
@yuharucan Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-07 15:12] #7916 closed

[2018-05-07 15:14] Mike-Ubezzi-MSFT commented on #8157
@jrtabuloc Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-07 15:25] rothja commented on #6863
@Ayanmullick I've published the changes to the Automated backup docs about the monitoring recommendations. We have not yet tested capturing events as you have, so I did not include that suggestion yet. At this point, I don't have any better recommendations, so I'm closing the issue. But please reach out if you have more questions or information on this and we can reopen if necessary. Thanks for im

[2018-05-07 15:27] BryanTrach-MSFT commented on #8147
@amckeachie Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-07 15:31] BryanTrach-MSFT commented on #8151
@twoelfer Yes, that is correct. Auto renew still requires that you manually rotate the binding for your certificate as the final step. We suggest you share your feedback at the [user voice feedback site](https://feedback.azure.com/forums/169385-web-apps). The Azure product group reviews feedback from there and implements it into the product as necessary.

We will now proceed to close this thread.

[2018-05-07 15:31] #8151 closed

[2018-05-07 15:50] MicahMcKittrick-MSFT commented on #8161
@Robar666 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-05-07 15:50] MicahMcKittrick-MSFT commented on #8166
@KTazayan Thanks for the question! We are investigating and will update you shortly.

[2018-05-07 15:52] MicahMcKittrick-MSFT commented on #8108
@Thraka any update on this?

[2018-05-07 15:53] BryanTrach-MSFT commented on #8146
@dcbrown16 The smallest environment (v1) that you could create is to have two front ends and a single worker pool with one worker. You'll need a total of four IPs (one for worker and two for the front ends). The worker pool also needs a spare IP for a management worker. The minimum requirement of 8 IPs still stands and anything less may result in a failed creation of the ASE. **The recommended amo

[2018-05-07 15:53] #8146 closed

[2018-05-07 15:59] mganeshphani commented on #8076
Just Scrolled down to give the same feedback .. glad that @gewarren did it already :)

[2018-05-07 15:59] oxxa opened #8171 "Trigger - PeekLock behavior"
Documentation misleading.  Section "Trigger - PeekLock behavior" states "If the function runs longer than the PeekLock timeout, the lock is automatically renewed.".  This is only true up to a point.  If your your function takes longer that 5 minutes to complete the message will become visible to on the queue again and so will be picked up by another function instance.  I had hoped the servicebus t

[2018-05-07 16:01] szarkos commented on #7949
@pipern there is a separate private repo for doc change PRs coming from internal folks like me.  It should synchronize with this public repo at some point.

Thanks,
Steve

[2018-05-07 16:14] rayne-wiselman commented on #7931
There isn't a content issue here since it's a support question. #please-close

[2018-05-07 16:14] MicahMcKittrick-MSFT commented on #7883
@hemantkr14 if you redploy the project to a new function does the issue persist?

[2018-05-07 16:15] MicahMcKittrick-MSFT commented on #7988
@venkateshgowda I will close this for now. Please update us with the result of the post that @jdneo suggested when possible.

[2018-05-07 16:15] #7988 closed

[2018-05-07 16:16] MicahMcKittrick-MSFT commented on #7995
@etherdragon98926 any update on this?

[2018-05-07 16:17] westerj opened #8172 "Unix geek."
Mozilla 59.0.2 can open Portal.azure.com.
Chrome flashed between portal.azure.com and login.microsoft.com.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 225d8386-c24d-7202-4eb0-61e2f8249e3e
* Version Independent ID: 83f151c6-4870-58b1-b44e-56e3bd42bb25
* Content: [Supported browsers and devices for Azure portal](https

[2018-05-07 16:17] MicahMcKittrick-MSFT commented on #8017
@dkkapur would you be able to shed some light on this question?

[2018-05-07 16:18] szarkos commented on #8120
Version 2.0.5 is very old and predates the auto-update feature.  If you are deploying new VMs make sure you are using the latest images which will have the latest available packages from Ubuntu.  The agent is delivered by Ubuntu in the 'walinuxagent' package, so you can also update the agent by simply installing the latest patches as usual, i.e. apt-get update/upgrade/dist-upgrade.  This is a good

[2018-05-07 16:18] douglaslMS commented on #7042
@KevinXTian We're checking whether someone can create the suggested sample.

[2018-05-07 16:19] douglaslMS commented on #7042
#in-progress

[2018-05-07 16:25] MicahMcKittrick-MSFT commented on #8120
@szarkos thanks for that clarification! Well said :)

@akramwaseem I will close this for now but if you additional questions please let us know and we can reopen.

[2018-05-07 16:25] #8120 closed

[2018-05-07 16:26] MicahMcKittrick-MSFT commented on #8128
@rangv can you assist on this one?

[2018-05-07 16:27] MicahMcKittrick-MSFT commented on #8129
@DaveVoyles any update on this?

[2018-05-07 16:29] georgewallace commented on #7756
@kylecweeks This is now live here https://docs.microsoft.com/en-us/azure/automation/automation-hybrid-runbook-worker.  Thanks for bringing this to our attention.. #please-close

[2018-05-07 16:29] Mike-Ubezzi-MSFT commented on #8126
@AndrewHoh Per the following section: [Get the MongoDB connection string by using the quick start
](https://docs.microsoft.com/en-us/azure/cosmos-db/connect-mongodb-account#QuickstartConnection)

There is an update needed for this doucment for Node.js and Mongo DB.

Thanks,
Mike

[2018-05-07 16:30] MicahMcKittrick-MSFT commented on #8130
@gatneil can you shed some light on these questions?

[2018-05-07 16:33] andretms commented on #8162
For this guided setup, you do not need an Azure subscription - you can just sign-in to apps.dev.microsoft.com with a personal account (outlook.com, msn.com, hotmail.com) to register an application and integrate with Azure AD.

You can 'create a tenant' in Azure to be able to test sign in with a work account, create users, groups and test with these accounts by following this guide: https://docs.mi

[2018-05-07 16:33] thomasmaurer opened #8173 "Issue with Documentation"
If I follow this documentation, I can only see subscriptions from Azure and not from Azure Stack, since in this documentation I never configure the Azure Stack as an environment in that documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5aa954f6-471e-fb07-ad81-d3c389b8d1ea
* Version Independent ID: d3639022-

[2018-05-07 16:33] MicahMcKittrick-MSFT commented on #8135
@padmick can you share a screenshot or the steps you were following? I followed the link but am not seeing any access issues.

[2018-05-07 16:35] MicahMcKittrick-MSFT commented on #8138
@juancrl can you elaborate on your ask? I looked at the doc but I am not seeing any issues.

[2018-05-07 16:36] Mike-Ubezzi-MSFT commented on #8143
@ronortloff The SQL code sample in the following section: [Determine if the table has data skew
](https://docs.microsoft.com/en-us/azure/sql-data-warehouse/sql-data-warehouse-tables-distribute#determine-if-the-table-has-data-skew)

`select *
from dbo.vTableSizes
where two_part_name in
    (
    select two_part_name
    from dbo.vTableSizes
    where row_count > 0
    group by two_part_name
    hav

[2018-05-07 16:41] akramwaseem commented on #8120
@szarkos - I am deploying the new VMss from ARM template and it is ubuntu 14.04.5. I am not sure how can I pick up the latest image from. Unless there is a way to specific or maybe I can update some api version.
I will take a look, but in the mean time if you guy found a way .please let me know.

[2018-05-07 16:48] TravisCragg-MSFT commented on #8079
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-05-07 16:48] #8079 closed

[2018-05-07 16:48] #7970 closed

[2018-05-07 16:50] anmolah commented on #8119
@vinothkhanna this feature is in the pipeline and currently being worked on. I cannot give exact dates yet but we should have some updates in the coming releases.

[2018-05-07 16:53] MicahMcKittrick-MSFT commented on #8144
@faridabharmal I tested this doc and was able to successfully get everything to work.
Can you try reinstalling docker to see if it helps?

https://docs.docker.com/docker-for-windows/install/

[2018-05-07 16:58] mpiecyk opened #8176 "Uniqueness"
Does the IDENTITY property guarantee uniqueness? And if not, under what conditions can duplicate IDs occur?
https://azure.microsoft.com/en-us/blog/identity-now-available-with-azure-sql-data-warehouse/
"Keep in mind, this IDENTITY property is not synonymous with uniqueness constraints which are often imposed on IDENTITY columns!"

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2018-05-07 17:00] Mike-Ubezzi-MSFT commented on #8155
@pmmadhura Thanks for the feedback. Can you provide the document link you are referring to.
Thank you,
Mike

[2018-05-07 17:00] gopitk commented on #8131
The port number 8000 is the right port for Jupyterhub. Also you don't need to see a login for Jupyterhub as it uses the local machine Linux logins.  Please be sure to use HTTPS when connecting to Jupyterhub.

[2018-05-07 17:01] YutongTie-MSFT commented on #8169
@PierrickI3 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-07 17:02] neilpeterson commented on #8144
@faridabharmal - something else we can check is the 'mode' that Docker for Windows is running under.

Docker for Windows supports both Windows and Linux containers, however needs to be switched between the two. This tutorial runs on Linux containers. I am wondering if your installation is configured for Windows.

Can you open up Docker for Windows from the task bar and check the current 'mode'? If

[2018-05-07 17:02] juancrl commented on #8138
Yes, to create a full VMSS, you could use a very simple approach (as seen in the doc),
but this does not allow to use all parameters and you’ll get lots of defaults, probably invalid for any serious customer.

I’ve found a more complete example in a blog, http://thebluenode.com/azure-virtual-machine-scale-set-instances-upgrade-with-zero-downtime-rolling-update

It requires calling first New-AzureR

[2018-05-07 17:03] #8021 closed

[2018-05-07 17:04] pmmadhura commented on #8155
@MIKE-UBEZZI-MSFT
find below the link for your reference

https://docs.microsoft.com/en-us/azure/app-service/app-service-web-get-started-python

[2018-05-07 17:05] MicahMcKittrick-MSFT commented on #8166
@KTazayan out of the box this is not an option that I am finding. You could possible achieve this but you would have to manually configure the virtual machine profile in the JSON template and deploy it that way. That being said, I have not tested it so it might take a bit more configuring than just that.

@dkkapur or @srrengar any idea if this is possible?

[2018-05-07 17:07] MicahMcKittrick-MSFT commented on #8171
@oxxa Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-05-07 17:07] gopitk commented on #7758
The port 8000 on Linux (both Ubuntu and CentOS) is Jupyterhub which does not require you to set a password since it uses the local Linux user accounts for authentication.

We do have issues with desktop shortcuts that we will address in the next release. Till then please usre https://<VM DNS name or IP>:8000/ and then use the Linux user account on the VM for authenticating into Jupyter.

[2018-05-07 17:08] pmmadhura commented on #8155
Hi,
Find below the document link for your reference
https://docs.microsoft.com/en-us/azure/app-service/app-service-web-get-started-python

On Mon 7 May, 2018, 10:30 PM Mike Ubezzi, <notifications@github.com> wrote:

[2018-05-07 17:09] MicahMcKittrick-MSFT commented on #8119
Thanks for the update @anmolah.

@vinothkhanna I will close this for now but if you feel there is more to discuss please reopen and we can continue.

[2018-05-07 17:09] #8119 closed

[2018-05-07 17:10] gopitk commented on #5453
The Geo AI DSVM leverages the same underlying DSVM image and derives all the latest updates. So it is listed as an Azure App instead of a separate VM image which may be out of synch with the DSVM image amd also keeps our maintenance costs low.

[2018-05-07 17:10] #8160 closed

[2018-05-07 17:12] hemantkr14 commented on #7883
@MicahMcKittrick-MSFT Yes. As shown in the attached screen shot we deployed 2 functions Hello and transformRow but both the functions are giving the same error 502.

[2018-05-07 17:12] MicahMcKittrick-MSFT commented on #8138
@juancrl got it. Thanks for clarifying that. From my understanding these types of docs are supposed to be very simple and basic so customers just starting out can start using the product and testing it out. However I can understand that a higher skilled user might find it lacking in some aspects. So not sure if this is something we will want to add to the doc as it does increase complexity.

I wil

[2018-05-07 17:14] douglaslMS commented on #8156
@HemantChandurkar This may be a useful piece of info for us to add to the article, but this is not really a doc bug. Consider posting your ADF questions to a much larger audience of Data Factory users and subject matter experts in the [ADF forum on MSDN](https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=AzureDataFactory).

[2018-05-07 17:15] szarkos commented on #8120
The latest would be -

publisher: canonical
offer: UbuntuServer
sku: 14.04.5-LTS
version: latest

[2018-05-07 17:21] djpirra opened #8177 "Polybase Usage"
Is it possible to confirm if this table write mode uses Polybase? If not, how can we take advantage of that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d863ab39-0b6a-eb81-9dde-5eb25b46cc33
* Version Independent ID: 655abadf-5f9e-a65b-0109-c5166f956c4d
* Content: [Tutorial: Perform ETL operations using Azure Databri

[2018-05-07 17:24] oxxa opened #8178 "Sample App .zip file"
Sample App .zip file.  When you unzip it and try to run the solution you get an error since the solution makes reference to a VSSample.Tests project which is not included in the zip file.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8dd11806-4e15-a4b0-15d0-b222574bc479
* Version Independent ID: 179a6694-67fb-7d2f-dc7

[2018-05-07 17:25] chaitualladi opened #8179 "KeyVault - Manged Storage Account keys"
Hello,

In regards to the previous issue # 8015, in the reply it was mentioned about same "userPrincipalId" usage. But when i create my keyvault and storage using a service principal (not a specific user), how can i look for userPrincipalId, which was never used in creating the resources which need to be managed. No user intervention would be there when resources are provisioned using a service pr

[2018-05-07 17:26] djpirra opened #8180 "Information about Transaction log Files Support"
Please add information about the supportability of transaction log files...
Currently, only one file is supported.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b8c7fe7-9597-6ea8-54d3-b85f3cc7b1d3
* Version Independent ID: 29b59670-62c1-7309-ab2a-ec44fb5e4746
* Content: [Azure SQL Database Managed Instance T-SQL Diff

[2018-05-07 17:27] cynthn commented on #8135
@mahesh-unnikrishnan @MicahMcKittrick-MSFT it looks like when you create a VM in the portal, there is a fwlink to more information on using AAD (https://go.microsoft.com/fwlink/?linkid=872077) that hasn't currently goes to content that isn't published yet. I suspect this might resolve itself as the Build content is published, but someone should check. The fwlink should also be redirected to go to

[2018-05-07 17:30] jeffhebrank opened #8181 "Data type"
Can you add data types / sample values for Trigger Id and Pipeline ID? Guid or INT?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: befd9a68-45a2-9105-1b1b-16bf792a2d73
* Version Independent ID: 2c2e1fa5-7824-5fe9-7382-bf5573a25be3
* Content: [System variables in Azure Data Factory](https://docs.microsoft.com/en-us/azur

[2018-05-07 17:30] jeffhebrank commented on #8181
I mean RunID

[2018-05-07 17:31] cgillum commented on #8178
Whoops! Thanks for reporting this - Fixing now...

[2018-05-07 17:34] Mike-Ubezzi-MSFT commented on #8155
@cephalin Is this scenario supported? User is attempting to use IoT within the context of an application service. Thank you!

[2018-05-07 17:40] juancrl commented on #8138
My 1st answer, insufficient technical depth.

As an advanced user, I’m reading the documentation for the product I’m using. I don’t want “The Simplest Way to get a scale set up and running”, I need to use my parameters, not a quickstart. That’s the reason why I get-help.

But my 2nd answer… is … totally surreal ¡

While you are commenting this, someone (I assume in your team, see the “Contributors

[2018-05-07 17:41] #8138 closed

[2018-05-07 17:41] mcollier commented on #8154
Perhaps something like the following:
[code]

[2018-05-07 17:42] #8156 closed

[2018-05-07 17:43] djpirra opened #8182 "Please provide more information about the usage of Data Compression"
Add information about performance hit when using such approach vs using directly text files. Number of parallel readers, eventual overhead of uncompressing files?

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 577e278d-55cc-bd42-7517-f1c48b3671fe
* Version Independent ID: 42a3922c-a31f-d9e4-8d7d-a7d19ac42d32

[2018-05-07 17:44] vasivara-MSFT commented on #8040
@HemantChandurkar Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-07 17:44] mcollier commented on #8090
@sdwheeler This article isn't about Azure Stack.

[2018-05-07 17:46] cgillum commented on #8178
I've updated the zip file to contain both projects now. The .sln file should open them both successfully. Sorry for the trouble!

[2018-05-07 17:46] MicahMcKittrick-MSFT commented on #8135
thanks @cynthn

@padmick we will need to give this issue a few days until the content can go live. Apologies for the inconvenience.

[2018-05-07 17:51] iainfoulds commented on #8138
@juancrl I understand your feedback, however this doc is specifically a quickstart. It's purpose is to provide the simplest, quick way to perform the action.

The PowerShell reference has just been updated today, correct, as part of the latest PowerShell release. Additional examples are included there for customers that want the additional technical information that you're looking for. The additio

[2018-05-07 17:51] Mike-Ubezzi-MSFT commented on #8150
@Ckarst
The following documentation is the only comparison between Gen1 and Gen2: [Memory and concurrency limits for Azure SQL Data Warehouse
](https://docs.microsoft.com/en-us/azure/sql-data-warehouse/memory-and-concurrency-limits)

It would be helpful if the following documentation was also updated to reflect Gen1 versus Gen2: [Using transactions in SQL Data Warehouse](https://docs.microsoft.com

[2018-05-07 17:52] #7992 closed

[2018-05-07 17:59] MohitGargMSFT commented on #8095
@loup73 We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-05-07 17:59] #8095 closed

[2018-05-07 18:00] gatneil commented on #8130
To get more than 300 scale set VMs from a managed image, deploy multiple scale sets from the same image. Alternatively, duplicate the image and deploy each scale set from each copy of the image. And currently extensions do run on overprovisioned VMs.

[2018-05-07 18:02] juancrl commented on #8138
Thanks Iain for your quick feedback…

Yes, too many information sources to maintain.

What I liked about help’s idea in PowerShell is being objects… so there should/could be a single source of examples (a property in the MamlCommandHelpInfo Help object), and maybe pulling the web docs from there. But I know MS is not a perfect Company ☺  (I was also a PFE for some years in MS Spain)

Jc  (Happy ‘c

[2018-05-07 18:02] CelesteDG commented on #7732
#in-progress

[2018-05-07 18:05] MohitGargMSFT commented on #8137
@mrmodolo I have assigned the issue to the author to check if some clarity can be added in step 16. Thanks again for your positive feedback on this document.

[2018-05-07 18:07] jorgefava opened #8184 "Cluster IP address"
Hello guys

In the section: "**Set the cluster IP address**" > **Step 3** it says: "Select Static IP Address and specify **an available address** from subnet where the SQL Server is in the Address text box. Then, click OK."

I did exactly that. But I have a problem.
I took the next address that was available in my subnet and assigned it to the cluster.
Then, I finished the rest of the configuratio

[2018-05-07 18:15] Adam-Smith-MSFT commented on #8163
@jabberhams Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-07 18:18] Mike-Ubezzi-MSFT commented on #8149
@SoubhagyaDash In the [Performance Tests](https://docs.microsoft.com/en-us/azure/application-insights/app-insights-monitor-web-app-availability#performance-tests) section, the screen capture was taken when this feature was in preview.

![screenshot 180](https://user-images.githubusercontent.com/37126106/39717472-3739a854-51e8-11e8-8547-e4dfb0f70a52.png)

Would it be possible to have this image upd

[2018-05-07 18:19] sdwheeler commented on #8090
@mcollier Sorry, I didn't read the whole thread.

`Connect-AzureRmAccount` is the correct cmdlet name starting with v5.3.0. For backward compatibility, `Connect-AzureRmAccount` has the following aliases.

- Add-AzureRmAccount
- Login-AzAccount
- Login-AzureRmAccount

Users that have not upgraded to v5.3.0 or higher will not have Connect-AzureRmAccount and, therefore, will receive an error.

[2018-05-07 18:25] mike-urnun-msft commented on #7944
@Bartolomeus-649 The content in this documentation is scoped & pertinent to Azure Portal experience, and the particular dialog shown at step 2.d requires an existence of "BatchReceiver" Logic App in the same Azure region that you're deploying your "BatchSender" Logic App to. For accomplishing the same solution through ARM-template, please open a post on MSDN or Stackoverflow and we will gladly con

[2018-05-07 18:25] #7944 closed

[2018-05-07 18:32] Bartolomeus-649 commented on #7944
Ok, so where is the documentation for enterprise developers who doesn't write code in web browsers?

[2018-05-07 18:45] turtlkky opened #8186 "Server Core Installation How-To"
MABS is evidently capable of being installed on Windows Server 2016 Core.  However, when attempting to install, the normal use of setup.exe will not work.  You are prompted to use  "setup.exe /runui" at the command line to perform install.  Upon doing so, I believe some of the automated processes that normally occur during a non-core server edition do not run (ie: SQL and DPM install pre-req selec

[2018-05-07 18:46] Mike-Ubezzi-MSFT commented on #8172
@westerj Regardless of browser, when signing into portal.azure.com, the session will be redirected to login.microsoftonline.com / login.microsoft.com -> portal.azure.com as part of the authentication process, based upon several factors such as subscription type.

**Enter: portal.azure.com:**
![screenshot 181](https://user-images.githubusercontent.com/37126106/39718595-9e9a8d94-51eb-11e8-8f42-f4322

[2018-05-07 18:46] leftler opened #8187 "How to have certificates be optional instead of required?"
When hosted on Azure setting `"clientCertEnabled": true` on the resource does the equivalent of setting
[code]
If you had configured the site via the `.UseKestrel(` option.

How do we get the equivalent of `ClientCertificateMode = ClientCertificateMode.AllowCertificate` instead of `ClientCertificateMode = ClientCertificateMode.RequireCertificate`?

---
#### Document Details

⚠ *Do not edit this se

[2018-05-07 18:48] MohitGargMSFT commented on #8167
@Rachitgupta1994 Make sure you include a sharedUserId in the AndroidManifest.xml for the apps.

Some thing like below :
android:sharedUserId="com.adal.repro"

See link [Android manifest](https://developer.android.com/guide/topics/manifest/manifest-element) for more details.

Also, ensure that all your applications use the same Client ID or Application ID. Ensure all your applications have the same

[2018-05-07 19:00] kgopi1 opened #8188 "Connecting Windows nodes using Ansible in Azure Cloud Shell"
Hi, I'm trying to connect windows hosts using ansible , I need tweeking the inventory file so that windows hosts using WinRM to connect , Can you advise how to setup the same ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7874ebb5-9a73-8a82-95e9-7a00ae7e979a
* Version Independent ID: 949f8ddd-03d2-424b-d4f6-01b6c99b1

[2018-05-07 19:05] akramwaseem commented on #8120
@szarkos -- I am using the same image as you mentioned. but fr some reason waagent version which got installed is 2.0.5.anyway , I updated it manually but we have more than 200 VMs and we cannot plan to do all of them manually and don't want to write a script for waagent to upgrade every-time.
Just want to let you guys know what happening with the VMs and VMSS.

[2018-05-07 19:10] fiyazbinhasan commented on #8121
@ConnorMcMahon works like a charm! However, the default `ProfilePhotoAPI` triggers successfully but showing this error message on the browser,

[code]

I checked the xhr in the devtools; it says `unauthorized 401`!

[2018-05-07 19:30] #7918 closed

[2018-05-07 19:30] Mike-Ubezzi-MSFT commented on #8182
@djpirra Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-07 19:31] ConnorMcMahon commented on #8121
Hmmm... Did you sign into you application at https://<function-app-name>. azurewebsites.net/.auth/login/aad first?

[2018-05-07 19:32] Mike-Ubezzi-MSFT commented on #8180
@djpirra Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-07 19:32] MohitGargMSFT commented on #8179
@chaitualladi Thanks for reaching out again! We will review your feedback and update soon on it.

[2018-05-07 19:33] Mike-Ubezzi-MSFT commented on #8176
@mpiecyk Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-07 19:35] femsulu commented on #8152
@PROnICT, thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-07 19:37] femsulu commented on #8154
@jaspervd86, we will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-07 19:37] #8154 closed

[2018-05-07 19:41] femsulu commented on #8188
@kgopi1 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-05-07 19:42] MicahMcKittrick-MSFT commented on #8184
@jorgefava Thanks for the question! We are investigating and will update you shortly.

[2018-05-07 19:50] Mike-Ubezzi-MSFT commented on #8182
@djpirra Just to clarify, are you making a request for additional information or are you requesting that the documentation provide additional details about data compression? Thank you, Mike

[2018-05-07 19:51] szarkos commented on #8120
There must be some bug in your template where you are deploying an older version of the image.  I would checking your template and how you are deploying, and file a support request if needed.  I don't think we can do much more over this PR discussion.

For reference, I just deployed a new Ubuntu 14.04 VM using the urn "canonical:UbuntuServer:14.04.5-LTS:latest".  Here is the output of "waagent -ve

[2018-05-07 19:56] scottadmi opened #8189 "Incorrect javascript binding"
It appears the javascript example binding does not match the usage. The binding json has an entry of "name": "outputSbQueue" while the javascript code references context.bindings.outputSbQueueMsg - I believe this should be context.bindings.outputSbQueue (matching the binding) to work correctly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2018-05-07 20:00] jeffhebrank commented on #8181
Also I see that Pipeline returns the name of the pipeline with a GUID appended to it. This should be documented above. Also I would like a way to just retrieve the Pipeline ID without the name (assuming the ID will not change if I change my pipeline name)

[2018-05-07 20:13] ronortloff commented on #7958
Yes, dynamic resource classes on Gen1 support up to 128 concurrency.  On Gen2, static resource classes enable 128 concurrency.

[2018-05-07 20:26] iainfoulds commented on #8118
Thanks for the feedback, @krptodr. Sorry you ran into issues.

@jimdial Can you help review this issue, please?

[2018-05-07 20:38] bigredmachine opened #8190 "Twitter Callback Locking"
I was following this documentation, but getting errors when logging in via twitter (other identity providers working fine).
"Sorry, but we're having trouble signing you in."
"AADB2C: An exception has occured."

Turns out appears that was due to the Twitter application setting
"Enable Callback Locking (It is recommended to enable callback locking to ensure apps cannot overwrite the callback url)" b

[2018-05-07 20:45] kflili commented on #8176
@MicahMcKittrick-MSFT When I SET IDENTITY_INSERT ON and manually insert some rows including specified value for the identity column, and then SET IDENTITY_INSERT OFF. After that, when inserting new rows, the identity column sometimes generated duplicates. For the Explicitly inserting values into an IDENTITY column, I just borrow example code from https://docs.microsoft.com/en-us/azure/sql-data-war

[2018-05-07 20:46] PierrickI3 opened #8192 "Knowledge base not created"
Hi,

I tried to create a knowledge base (twice). I get a message that the knowledge base is created in the background but even several hours after I got this message, no knowledge base appears in "My Knowledge Bases".

I submitted 2 links for the knowledge base:
. https://gdpr-info.eu/
. http://eur-lex.europa.eu/legal-content/EN/TXT/PDF/?uri=CELEX:32016R0679

Am I doing something wrong?

---
####

[2018-05-07 20:50] rboucher commented on #6128
@aunraza The individual CLI samples in the various articles are not updated yet, but the CLI 2.0 quick start samples is updated. See https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/insights-cli-samples.  Other articles in process.

[2018-05-07 20:53] rboucher commented on #5530
@arunakshi  Sorry for the very late reply.  Is this still a problem you are having?  I'm happy to update the article if there is something missing.

[2018-05-07 20:58] cephalin commented on #7399
Text updated. #please-close.

[2018-05-07 21:01] mjsmith1568 opened #8193 "typo"
In the step Create myBackendVM
The PowerShell code has the subnet name set to the variable myFrontendSubnet, which I imagine is a typo.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b189be6f-c957-7d54-648c-0ec9aa35f4b6
* Version Independent ID: 2017f421-9025-9ade-ad76-4778cf7ba96e
* Content: [Tutorial - Create and man

[2018-05-07 21:07] jason-j-MSFT commented on #7525
@bearrito yes, the Python SDK is GA.  Here is a link to the documentation:
https://docs.microsoft.com/en-us/python/azure/?view=azure-python

[2018-05-07 21:09] alexjmoore opened #8195 "Correction regarding geo-restore RPO?"
I believe that there is an error where this page states:

"When recovering to another data region, the potential data loss is limited to 1 hour by the geo-redundant storage of hourly differential database backups."

In fact it can be up to 24 hours of data loss worst case? As it is dependants on the last daily backup?

See this page: https://docs.microsoft.com/en-us/azure/sql-database/sql-database

[2018-05-07 21:10] femsulu commented on #8090
@mcollier & @sdwheeler, thanks for the update. Looks like the fix is to either upgrade to v5.3.0 or use one of the supported aliases as a workaround. Perhaps we should make this explicitly clear in the article to clarify.

[2018-05-07 21:10] MicahMcKittrick-MSFT commented on #8189
@scottadmi Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-05-07 21:14] femsulu commented on #8090
@jaspervd86, From threads above, we conclude the Connect-AzureRmAccount works but you will need to upgrade to v5.3.0 or higher.
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-07 21:14] #8090 closed

[2018-05-07 21:15] oxxa commented on #8178
Looks good, thanks for the quick fix.

[2018-05-07 21:15] #8178 closed

[2018-05-07 21:15] mike-urnun-msft commented on #8147
@amckeachie Thanks for reporting this! We have validated this issue & assigned it to the content author to investigate further and take the right course of action.

[2018-05-07 21:26] ksurendra opened #8197 "Add a new page on "How to login to a virtual machine (Windows or Linux) using SSH by opening a port in Azure Portal""
# New Article - How to login to a virtual machine (Windows or Linux) using SSH by opening a port in Azure Portal

## Relates to
- Create new inbound rule on firewall using Azure Portal
- Applies to Linux and Windows VM's

## Details
I would like to add a new page on enabling Port 22 so users can use SSH to login to their VM's. By-default new VM's do not have TCP Port 22 Enabled for users to login

[2018-05-07 21:29] rboucher commented on #7917
@waheedhussain I've contacted the head PM building the feature who had this answer. I've modified it to remove Microsoft speak.

"We do plan to retire classic alerts during period of July to Dec 2018.  Application Insights alerts will move to the new alerting method in this timeframe. as well. All innovation in this space is on technologies backing Alerts, not Alerts (classic). Hence, the recommen

[2018-05-07 21:30] rboucher commented on #7917
@femsulu I believe you can close this issue.

[2018-05-07 21:35] Mike-Ubezzi-MSFT commented on #7958
@yuharucan Do you have any additional questions or may we move forward with closing this? Regards, Mike

[2018-05-07 21:36] #7399 closed

[2018-05-07 21:37] cynthn commented on #8135
#please-close @padmick thank you for catching this issue! The link has been fixed and should go to the correct topic now :)

[2018-05-07 21:50] YutongTie-MSFT commented on #8192
@PierrickI3 Hi, I am happy to see you solved the issue. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-07 21:50] #8192 closed

[2018-05-07 21:54] vasivara-MSFT commented on #8177
@djpirra Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-07 21:55] vasivara-MSFT commented on #8181
@jeffhebrank Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-07 22:14] danielserver86 opened #8200 "Red Hat Enterprise Linux (pending)"
Does this means it is not currently supported? only 7X versions will?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12ab648f-9b26-d702-d071-b40368502b3e
* Version Independent ID: a3877c65-44c9-3b15-d5fa-c796e5486b6f
* Content: [Supported guest operating systems for Azure Stack](https://docs.microsoft.com/en-us/azure/a

[2018-05-07 22:28] Mike-Ubezzi-MSFT commented on #8180
In the [Known issues and limitations](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-managed-instance-transact-sql-information#Issues) section, there is the following information:

tempdb is split into 12 files each with max size 14 GB per file. This maximum size per file cannot be changed and new files cannot be added to tempdb. This limitation will be removed soon. Some queries

[2018-05-07 22:39] MicahMcKittrick-MSFT commented on #8193
@mjsmith1568 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-07 22:42] rboucher commented on #5930
Reviving old thread. So what’s the fix?  Does the .json in the article need to be changed or a note added to clarify?

From: Yanming Tang <notifications@github.com>
Sent: Wednesday, April 11, 2018 10:01 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Rob Boucher <robb@microsoft.com>; Assign <assign@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Json syntax is wrong

[2018-05-07 22:42] YutongTie-MSFT commented on #8169
@PierrickI3 I have tried this API according to the document, it works well. So I think the API has no change and it should be an error of your environment.

[2018-05-07 22:44] missmariamac opened #8202 "Did not work"
Did not work to authenticate.  Stuck.  Cannot authenticate.  Stuck in infinite loop.  Thanks, Microsoft.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17e8e2a4-f278-c6d4-aafa-8b95c4c5c1ea
* Version Independent ID: 3d1f3907-392a-8edd-d625-1ab6cca393fa
* Content: [Troubleshoot two-step verification](https://docs.microso

[2018-05-07 22:45] daveba commented on #8096
@cbrianball  Thanks for opening this issue. I've opened an item in our backlog to update this document. I'll respond to this issue when there's an update.

[2018-05-07 22:47] femsulu commented on #7917
@waheedhussain, We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-07 22:47] #7917 closed

[2018-05-07 22:56] yantang-msft commented on #5930
@rboucher It needs to be changed, since the given json example is not equivalent to the .wadcfgx file.
1. The example json are actually two files, but .wadcfgx is just one file.
2. To merge the two json files into one, need to change the ```settings``` to ```PublicConfig```, and ```protectedSettings``` to ```PrivateConfig```, as shown in my previous comment.

[2018-05-07 23:00] rboucher commented on #5930
@yantang-msft Understood.  Will follow up offline to clarify if needed.

[2018-05-07 23:07] Mike-Ubezzi-MSFT commented on #8176
@kflili @mpiecyk So, to reiterate, in the [Common tasks](https://docs.microsoft.com/en-us/azure/sql-data-warehouse/sql-data-warehouse-tables-identity#common-tasks) section there are two code samples. The first finds the highest allocated value in a table:

`SELECT  MAX(C1)
FROM    dbo.T1`

And the second will identify the seed value and increment configuration:

You can use the catalog views to di

[2018-05-07 23:11] Mike-Ubezzi-MSFT commented on #8195
@alexjmoore Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-07 23:13] Mike-Ubezzi-MSFT commented on #8173
@thomasmaurer Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-07 23:16] dcbrown16 commented on #8146
Thanks @BryanTrach-MSFT !

[2018-05-07 23:17] BryanTrach-MSFT commented on #8187
@leftler Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-07 23:18] fiyazbinhasan opened #8203 "Tenant does not have a SPO license"
Trying out the excel input binding example throws this message in the log. What am I missing? An elaborate discussion would be appreciated.

[2018-05-07 23:20] fiyazbinhasan opened #8204 "Tenant does not have a SPO license"
Trying out the excel input binding example throws this message in the log. What am I missing? An elaborate discussion would be appreciated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81cb62b5-7d3d-82ac-cbf9-cf8ec72da034
* Version Independent ID: 69f0b334-acba-8dde-51d5-eb6bc9f85d5e
* Content: [Microsoft Graph bindi

[2018-05-07 23:27] MicahMcKittrick-MSFT commented on #8184
@MikeRayMSFT can you advise on this one? I believe it is setup this way as the second cluster would be the failover cluster. Hence, the same IPs would make sense. But I know duplicate IPs in Azure can cause problems.

[2018-05-07 23:31] MicahMcKittrick-MSFT commented on #8193
@mjsmith1568 thanks for that find! I have made the changes. Once they merge this issue will automatically close.

[2018-05-07 23:37] cwatson-cat commented on #7447
@cesarwhite That broken link is gone now from the published doc:
https://docs.microsoft.com/en-us/azure/billing/billing-usage-rate-card-overview
Thanks again for reporting this! I'm going to go ahead and close this issue.
#please-close

[2018-05-07 23:44] Mike-Ubezzi-MSFT commented on #8157
Per the section in the referenced documentation: [Best practices of building highly available service
](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-geo-replication-overview#best-practices-of-building-highly-available-service)

- Use failover group: One or many failover groups can be created between two servers in different regions (primary and secondary servers). Each group ca

[2018-05-08 00:02] mishal153 opened #8206 "incorrect template parameter"
--template now supports "Http Trigger" and not "HttpTrigger"
Same for "Queue Trigger"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2646ad4-34b7-fc5e-dcc9-d53a061df394
* Version Independent ID: bbff4fda-24e4-2b62-24b9-94cda5f53bed
* Content: [Develop and run Azure functions locally](https://docs.microsoft.com/en-us/a

[2018-05-08 00:04] Mike-Ubezzi-MSFT commented on #7046
@Sambsamb We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-08 00:04] #7046 closed

[2018-05-08 00:05] Mike-Ubezzi-MSFT commented on #7290
@imartinez2 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-08 00:05] #7290 closed

[2018-05-08 00:05] Mike-Ubezzi-MSFT commented on #7342
@SteveBurkettNZ We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-08 00:05] #7342 closed

[2018-05-08 00:06] Mike-Ubezzi-MSFT commented on #7596
@sandormakai We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-08 00:06] #7596 closed

[2018-05-08 00:07] Mike-Ubezzi-MSFT commented on #7637
@wesleykirkland We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-08 00:07] #7637 closed

[2018-05-08 00:07] Mike-Ubezzi-MSFT commented on #7756
@kylecweeks We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-08 00:07] #7756 closed

[2018-05-08 00:08] Mike-Ubezzi-MSFT commented on #7814
@michevnew We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-08 00:08] #7814 closed

[2018-05-08 00:09] Mike-Ubezzi-MSFT commented on #7931
@guidovbrakel We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-08 00:09] #7931 closed

[2018-05-08 00:09] Mike-Ubezzi-MSFT commented on #7941
@jayp00001 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-08 00:09] #7941 closed

[2018-05-08 00:10] Mike-Ubezzi-MSFT commented on #7989
@neodym3k We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-08 00:10] #7989 closed

[2018-05-08 00:11] Mike-Ubezzi-MSFT commented on #8086
@KjetilEVRY We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-08 00:11] #8086 closed

[2018-05-08 00:16] Mike-Ubezzi-MSFT commented on #8197
@ksurendra Please update this GitHub issue when this has been published. Regards, Mike

[2018-05-08 00:18] Mike-Ubezzi-MSFT commented on #8186
@turtlkky Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-08 00:25] Mike-Ubezzi-MSFT commented on #8190
@bigredmachine Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-08 00:27] Mike-Ubezzi-MSFT commented on #8206
@mishal153 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-08 00:29] Mike-Ubezzi-MSFT commented on #8204
@fiyazbinhasan Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-08 01:33] Adam-Smith-MSFT commented on #8186
@turtlkky it looks like Server 2016 Core is not supported per the support matrix for MABS: https://docs.microsoft.com/en-us/azure/backup/backup-mabs-protection-matrix
I'll include the content author to confirm as well

[2018-05-08 01:41] turtlkky commented on #8186
What's interesting is that even the setup detected I was running in on a core server and suggested I run the setup with a special syntax.
________________________________
From: Adam-Smith-MSFT <notifications@github.com>
Sent: Monday, May 7, 2018 20:33
To: MicrosoftDocs/azure-docs
Cc: turtlkky; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Server Core Installation How-To (#8186)

@turtlkky<https:

[2018-05-08 03:03] kotpal opened #8208 "Azure SignalR support for SignalR for ASP.NET"
We can't move to ASP.NET Core at this juncture. However, we want to use Azure SignalR with our ASP.NET application. I am sure there are many in the same situation as us.

Can you consider supporting ASP.NET for Azure SignalR?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc5132b1-2ef2-0732-feb0-608c3c1042ec
* Version

[2018-05-08 03:10] couperyork opened #8210 "Add InvalidImageDimension to Computer Vision API doc"
Hi there,

Just was wondering if it would be possible to add to the 400 Response section of the OCR API doc (https://westus.dev.cognitive.microsoft.com/docs/services/56f91f2d778daf23d8ec6739/operations/56f91f2e778daf14a499e1fa)

the following `InvalidImageDimension` exception as I received this before but it wasn't in the list. Just for future reference as a possible exception.
![image](https://us

[2018-05-08 03:10] StevenZhang81 opened #8211 "Entity creating issue while using Chinese culture"
I met a problem that when I use Microsoft LUIS to create some entities, for example, see below situation, create the entity from utterance:
遮瑕 -> labeled it as 'type1' entity it's fine, trained it
遮瑕笔 -> cannot label it as 'type1' entity, because of the text '遮瑕' in '遮瑕笔' has been identified as entity 'type1' entity

so, how can I fix this problem when I want to create the entity when I use Chines

[2018-05-08 03:27] LoganZhao opened #8212 "Doc wrong with sample-installation"
https://docs.microsoft.com/en-us/azure/virtual-machines/linux/diagnostic-extension#sample-installation

for # Build the protected settings (storage account SAS token)
my_diagnostic_storage_account_sastoken=$(az storage account generate-sas --account-name $my_diagnostic_storage_account --expiry 9999-12-31T23:59Z --permissions wlacu --resource-types co --services bt -o tsv)

If config the token like

[2018-05-08 03:36] knssub opened #8214 "Migrating Managed Disks"
Currently, migrating managed disks is not possible, however, is there any alternate approach for migrating managed disks from one subscription to another.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76c1c185-685f-27e0-e634-844b510b1834
* Version Independent ID: 09375778-5354-ab44-c5c6-94c2aebe34bc
* Content: [Move A

[2018-05-08 04:29] karthikeyanVK opened #8215 "cant find Export Data."
In the Q&A Section, "But all I want is a one-time download of a chart. " answers as "Yes, you can do that. At the top of the blade, click Export Data." . But I cannot find the button, can you please explain more. I clicked on Overview and also Continous export and looked for "export data" button, but I cannot find them. Please advice

---
#### Document Details

⚠ *Do not edit this section. It is r

[2018-05-08 04:39] clement911 commented on #6841
Also wondering the same question about monitoring replicas

[2018-05-08 04:59] noelbundick opened #8216 "Update "get kubelet logs""
New AKS clusters no longer run kubelet inside a container, so the `docker logs` command to get kubelet logs is out of date. We should replace that command with the following, or similar and update the sample output accordingly

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92e345df-2425-d3ea-2d98-53949bc9314a
*

[2018-05-08 05:02] kflili commented on #8176
@Mike-Ubezzi-MSFT Thanks for replying. Unfortunately, the issue with the duplicates in Data Warehouse (**DW**) is still existing. Even we specified ic.seed_value , ic.increment_value when creating the table with the identity column, actually, the identity column value just randomly changing. I understand the allocation of the values is not contiguous. This behavior is by design. Our issue is not f

[2018-05-08 05:06] abhijeetgaiha commented on #8212
@LoganZhao Thanks for reporting this. We will update the docs.

[2018-05-08 05:44] zhiweiwangmsft commented on #7601
@MohitGargMSFT the author of this doc Varun has moved to different team. Please assign this to me. AD FS 2016 with Windows 10 1803 QFE (April 2018 release) or later should have the capability. I will update the section.

[2018-05-08 05:53] Rachitgupta1994 commented on #8167
That's exactly what i did. I will once again carefully follow all the steps and let you know if it works. Request you not to close the issue without my confirmation as i can't re open it.

[2018-05-08 05:56] Rachitgupta1994 commented on #8167
I also posted a question on stack overflow sometime ago and this is the response i got

"This is a Xamarin.Forms issue. In order for SSO to work across apps without broker, you need to enable the "Ignore Security" flag, which is not recommended. This requires the app name to be hardcoded and "ignore security".

For example: Application.Context.CreatePackageContext(“com.companyname.ReproApp1”, Pack

[2018-05-08 06:31] femsulu commented on #7865
@zhangdingsong confirming the fix is now live. Thanks again for bringing this to our attention. We will now close this issue but please don't hesitate to re-open if needed.

[2018-05-08 06:31] #7865 closed

[2018-05-08 06:35] femsulu commented on #8031
@georgewallace, any ideas on this?

[2018-05-08 06:43] ReneGubler commented on #8084
The link to
"Download the application
Download or copy the contents of the file interactiveSearch.html."
is invalid

[2018-05-08 06:48] thomasmaurer commented on #8173
@Mike-Ubezzi-MSFT @mattbriggs My mistake. Everything is correct, I just saw my mistake. I couldn't believe that this is that simple. :) sorry for the inconvenience caused

[2018-05-08 06:48] #8173 closed

[2018-05-08 06:50] linda33wj commented on #7676
@rahulunlimited Hope it works for you now. I'll close this issue. Let know if you have further questions.

#please-close

[2018-05-08 06:50] westerj commented on #8172
The browser would just flip back and forth. Let me take a camera / movie
snippet tomorrow.

Thanks

John

On Mon, May 7, 2018, 2:46 PM Mike Ubezzi <notifications@github.com> wrote:

[2018-05-08 07:07] Wayne-Shen opened #8219 "share directly in QnA portal"
Is it possible to directly add collaborator in QnA maker portal like LUIS does?

The reason is I have contributor permission in Azure portal, and I don't have permission to add a new role.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 937c1738-727e-794f-36c4-86694e41a69d
* Version Independent ID: eda35f4a-a5f4-cf47-d5

[2018-05-08 07:23] HemantChandurkar opened #8220 "Config"
How to pass dynamic parameters?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49e300a6-e85a-3cc9-5d2f-3a77eb61c306
* Version Independent ID: c5c39658-82f0-352e-4322-833962c6afe7
* Content: [Transform data by using Spark in Azure Data Factory](https://docs.microsoft.com/en-us/azure/data-factory/tutorial-transform-data-

[2018-05-08 07:42] cezary-draus opened #8221 "Link to example points to wrong address"
Above link fails: https://github.com/Azure-Samples/azure-maps-samples/blob/master/src/interactiveSearch.html

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3d455c9-d5c7-3a9e-5de5-b16072f3c77e
* Version Independent ID: d0f120b2-5ef9-9112-d17f-e8b2275ed5b4
* Content: [Interactive Map Search with Azure Maps](https://docs

[2018-05-08 07:56] vermeerr opened #8222 "Virtual machine aliases endpoint needed?"
We are able to deploy VM's with CLI without the JSON file. We had it setup with the JSON file at first but learned it also works without the publicly available JSON file.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92f25986-eb68-4748-4b09-10ffad81c6d7
* Version Independent ID: 1dd5b7b8-72d6-b9cf-aa7d-334b4c8d6c16
*

[2018-05-08 08:12] Tirupathitemburu opened #8223 "Document is not clear"
The document contains Handle variable at a lot of places. but did not mention what is Handle.
public async Task<string> Post(string handle = null)
in this http method what we need to send as handle?
If we already registered with using above http method then what is the use of put method ?
public async Task<HttpResponseMessage> Put(string id, DeviceRegistration deviceUpdate)

Can i get full informa

[2018-05-08 08:29] janlange opened #8224 "device-upload"
When trying to do the device-upload task I get this error:

  - Checking pre-conditions of task: check Node.js version
  V check Node.js version: v9.4.0
  - Checking pre-conditions of task: Generate platform.local.txt
  V Generate platform.local.txt: platform.local.txt already exists
  - Checking pre-conditions of task: Config azure connection string
  V Config azure connection string: ignore
  -

[2018-05-08 08:38] codeevaluator opened #8225 "Not compatible with ARM"
Hi the examples doesn't seem to work with ARM.
$StorageAccount = Get-AzureRmStorageAccount -Name $StorageAccountName -ResourceGroupName $ResourceGroupName

$ctx = $storageAccount.Context

Get-AzureStorageBlob -Container $ContainerName -Context $ctx | select Name
Get-AzureStorageBlob : Could not get the storage context.  Please pass in a storage context or set the current storage context.
At line:1

[2018-05-08 08:41] codeevaluator commented on #8225
Sorry my bad!!
Ignore my comment please.

[2018-05-08 08:56] Rachitgupta1994 opened #8227 "Code error"
Hi. I am trying to implement azure ad login in Xamarin app. The code line gives error

new PlatformParameters(this)

PlatformParameters does not contain a constructor that takes 1 argument.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e36707dc-b98b-cc04-8445-4ccd26169952
* Version Independent ID: 6c8c507a-5b4d-d93c-c

[2018-05-08 09:12] chrift opened #8228 "Javascript on b2clogin"
Hi guys,

I have heard that when using b2clogin we will be able to execute javascript from our custom ui. Is this true? I have just tried with a simple alert box and it looks like B2C is still stripping it out.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89933f39-e8c4-32fd-736a-9f258cbcdaba
* Version Indepen

[2018-05-08 09:34] smoms opened #8229 "Sample data to be adjusted"
If you do not change the "time" field to closer dates it will not produce output. Worth to mention..

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9028ffb4-d3fb-e5ee-3e3f-fe3d7db65f04
* Version Independent ID: 173bbf71-a44b-0864-b43d-a6b580bba03f
* Content: [Create a Stream Analytics job by using the Azure portal](htt

[2018-05-08 09:41] #8121 closed

[2018-05-08 09:43] fiyazbinhasan commented on #8121
@ConnorMcMahon Maybe it's some sort of authentication/permission issue with the photo API, https://graph.microsoft.com/v1.0/me/photo/$value. The `me` API works great https://graph.microsoft.com/v1.0/me/ on the other hand. Closing this issue as of now.

[2018-05-08 09:44] ishepherd opened #8230 "Correction to "AzureWebJobsDashboard must be specified""
Apparently, [AzureWebJobsDashboard is _not_ required, in fact it is best avoided if you are using App Insights for monitoring.](https://docs.microsoft.com/en-us/azure/azure-functions/functions-monitoring#disable-built-in-logging)
Please correct either page if necessary.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1

[2018-05-08 10:43] #5453 closed

[2018-05-08 10:45] egondalia opened #8231 "Basic and Standard Clarity"
Is it fair to state that Basic will only work against Azure Public IPs  were as Standard works against both Public and Private IPs (as well as the additional benefits listed in the doc) ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f38b1bd-2ab0-71f1-a6e9-925b7af3389d
* Version Independent ID: 9528f5cf-16e1-0550-dc3

[2018-05-08 10:46] iant-travelopia opened #8232 "Which SDK version?"
In Troubleshooting SQL query not shown in full, you say to "Upgrade to the latest version of the SDK."

Does this refer to upgrading to .NET 4.6+, or does it refer to App Insights? If the latter, what version of the SDK includes the fix for this? Upgrading and deploying a new SDK version is a time consuming process (it would need to be deployed as part of our next release, which may be some weeks

[2018-05-08 10:52] AdityaJasti opened #8233 "Trying to implement table storage on azure portal - getting an error ; the same has been achieved in local by using emulator"
I was trying to create a bot with table storage online in azure portal. configured the storage account name and key, but getting the below error.

[Info] Function started (Id=4195670b-0aed-47f2-8b71-3e9a39f03ff5)2018-05-08T10:34:29.308 [Error] Exception while executing function: Functions.messages. mscorlib: One or more errors occurred. Error: Storage account name and account key are mandatory whe

[2018-05-08 11:17] asgang commented on #7104
make changes for third point only.
I am keeping the rename operation

[2018-05-08 11:33] nrandell opened #8235 "Typo - Console.WriteLine("Proerty TemperatureThreshold not exist");"
Step 10 example code, typo on 'Property'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 181d5562-f8d7-9c59-85ea-09efbe397f3e
* Version Independent ID: dbedd952-a050-286e-c951-4529ec8e87b8
* Content: [Azure IoT Edge C# module](https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-csharp-module)
* Content Source: [art

[2018-05-08 11:51] romankiss opened #8236 "Creating a StorageQueue destination for Event"
It looks like that for current implementation (version 2018-05-01-preview), the Queue storage ID format is different than is shown in this document. Based on my testing (using a REST API) and class StorageQueueEventSubscriptionDestination, it should be:

 **/subscriptions/{subscription-id}/resourcegroups/{resource-group-name}/providers/Microsoft.Storage/storageAccounts/{storage-name}**

and additi

[2018-05-08 12:30] gupraj opened #8237 "Build bulk VM using Snaphhot and Marketplace images"
Team, Thanks for sharing the details, Need you help to create VM in builk using terraform with custom snapshot or marketplace images.

As per tutorials, understand to create resources which will use for azure VM, but need sample terraform code  to provision bulk vm.

Please do the needful.

Thanks
Raj Gupta

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2018-05-08 12:48] rachelappel opened #8238 "Sendgrid section is outdated in email confirmation for MVC 5 app"
Original issue opened by @Niladri24dutta
https://github.com/aspnet/Docs/issues/6268

Niladri comments:

"Sendgrid section not updated with the V3 API code

In the below article the "Hook Up Sendgrid" section is not updated yet,it's still following the old V2 API code. Currently Sendgrid uses API_KEY which is also not mentioned in the document. Please see the link below.
Outdated section

I have up

[2018-05-08 13:04] DaveVoyles commented on #8129
Sorry for the delay, I missed the first message somehow.

The title of the article is [Provision the Data Science Virtual Machine for Linux (Ubuntu)])(
https://docs.microsoft.com/en-us/azure/machine-learning/data-science-virtual-machine/dsvm-ubuntu-intro) and specifically, [references X2Go here.](
https://docs.microsoft.com/en-us/azure/machine-learning/data-science-virtual-machine/dsvm-ubuntu-intr

[2018-05-08 13:07] kunalaphadnis99 opened #8239 "Unable to build module"
Unable to build module. The build gets unexpectedly stuck and never resumes at point: dotnet restore. I tried different versions of .NET core, VS Code as well but did not work. Appreciate your help.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 181d5562-f8d7-9c59-85ea-09efbe397f3e
* Version Independent ID: dbedd952-a0

[2018-05-08 13:17] cadyb opened #8240 "Typo In azure-docs/articles/active-directory/connect/active-directory-aadconnect-azure-adfs.md"
In section 7.2

"After you ensure that Web Application Proxy servers are able to reach the AD FS servers behind ILB, you can next install the Web Application Proxy servers. **Web Application Proxy servers do not be joined to the domain.** Install the Web Application Proxy roles on the two Web Application Proxy servers by selecting the Remote Access role."

I would suggest an edit but I'm not sure

[2018-05-08 13:17] jimdial commented on #8035
@BMichealJ I've re-worded the text.  The updated version will publish later today. If you still think it's unclear, let me know.  Thanks.

[2018-05-08 13:18] jimdial commented on #8035
#please-close

[2018-05-08 13:23] ragakar opened #8241 "Migrate SQL Anywhere (Sybase DB) internal DB cluster"
in our organization we have many applications using SQL Anywhere DB stand alone and cluster mode , it would be help full if steps can be shared to migrate it to azure including cluster configuration in azure for SQL Anywhere

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d8da06a-43ad-9b28-a88e-a9da515db7d3
* Version I

[2018-05-08 13:34] jimdial commented on #8231
No. Both basic and standard monitor public IP addresses. Neither monitor private IP addresses.

[2018-05-08 13:45] bootleg224 opened #8243 "Limits for Managed Instance"
Is the 100 databases / instance a hard limit or a recommendation of a max?  If it is a hard limit, will other tiers support larger limits (e.g. 500 databases per limit), similiar to elastic pool?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28ca1f7f-5a34-0f23-10ce-3ff24c76db97
* Version Independent ID: 5c4a22c4-78fc-

[2018-05-08 14:03] georgewallace commented on #8031
@gowrishgates , To be able to do multiple vms you have to switch around the sample a bit.. You need to change your variable for the vm name to account for a comma separated list.

[code]

Secondly you need to change the logic for starting the VM to support looping.. below is an example of how to do this.

[code]

[2018-05-08 14:18] pekkast opened #8244 "Is there a plan to support policy expressions on openid-config element's url attribute?"
At least I could not get the policy expressions to work with validate-jwt>openid-config.url
I guess the lack of support should be notified as in other sections.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 248a0753-0fa7-1cc0-d13a-d378ab182e95
* Version Independent ID: 7efa247a-7184-6e7f-c1f5-3ff2531df357
* Content: [

[2018-05-08 14:30] BryanTrach-MSFT commented on #8223
@Tirupathitemburu
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-08 14:37] BryanTrach-MSFT commented on #8238
@rachelappel Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-05-08 14:39] baabel opened #8245 "Restart required after wardeploy via kudu"
Hi, when I deploy my java war file using wardeploy, the changes to the site are reflected only after I Restart the service.  Is this intended behavior?

Thanks,
Brian

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1b66f78-8d9b-b527-7678-fa1975044c39
* Version Independent ID: c9c5d61a-a1c0-07e5-1bf9-315cc99bd722
* Cont

[2018-05-08 14:45] danmyhre opened #8246 "Dynamics 365 Service Administrator"
it is no longer called "CRM Service Administrator".  Instead it is called "Dynamics 365 Service Administrator".  This role is also missing from the Azure AD admin portal for some reason.  It is only available in the Office 365 Admin Portal, which needs to be fixed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0767aac

[2018-05-08 14:47] SR253 opened #8247 "How can I change the default message when no good match is found?"
The description only works for QNAMaker - when testing KB. If using a Web App Bot application the default "No good match in FAQ." is shown. Also if testing in Azure Bot Management - Test in Web Chat same thing happens. Only the original default answer is shown. Seems lika a bug or the feature is not implemented in Web App Bot.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2018-05-08 14:55] Joyliu290 opened #8248 "VS 2017 attempted but failed to download Service Fabric SDK"
Hi, I downloaded VS 2017 with Azure Development and ASP.NET and web development workload. When I wanted to download Service Fabric SDK it gave me this error:
![image](https://user-images.githubusercontent.com/23625527/39764152-fcf056f0-52ac-11e8-9dea-c1a4f3ab8200.png)

But when I tried to install the Redistributable Package for VS 2017 (x64) this screen showed up:
![image](https://user-images.gith

[2018-05-08 14:58] bladeski opened #8249 "Problems creating split-horizon configuration"
According to the documentation...

This does not appear to work as when I attempt this I have the error:
`New-AzureRmDnsZone : A different Type of Zone with same name under same resource group and subscription already exists.`
Surely these DNS zones do not have to b in different subscriptions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2018-05-08 15:10] danmyhre opened #8250 "Directory Roles"
This new preview feature is great, however it is missing the "Dynamics 365 Service Administrator" role

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 625bb1b2-81fd-9804-c0b5-3cd2904decd9
* Version Independent ID: e4468b05-200e-24ae-75e9-29fb2b3a6ddc
* Content: [Conditions in Azure Active Directory conditional access](h

[2018-05-08 15:15] v-geberr commented on #7665
@YutongTie-MSFT please close.

[2018-05-08 15:16] neilpeterson commented on #8216
@noelbundick - thanks for the heads up, I will update.

[2018-05-08 15:28] #8248 closed

[2018-05-08 15:29] Powerhelmsman opened #8251 "mrsdeploy package"
Original Github issue https://github.com/MicrosoftDocs/feedback/issues/351 by @marketresearchru

[2018-05-08 15:31] pagrenin opened #8252 "Step 6: Configure load balancing rules - adjustment"
Should read:  1. Under Settings, select Load balancing rules. In the next pane, near the top, select Add.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c983f80-5f9f-a8d8-be90-db4629b7c4ae
* Version Independent ID: f07912e2-bb91-af95-e164-b09639b15188
* Content: [Load balancing on multiple IP configurations in Azure](

[2018-05-08 15:32] kermitoos71 opened #8253 "https://api.labs.cognitive.microsoft.com/urlpreview/v7.0/search?q=https://swiftkey.com"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 002c4838-877e-2640-0427-1411c237843d
* Version Independent ID: ecb7d780-6eb3-31ae-f8ce-614612522bb9
* Content: [Project URL Preview endpoint - Microsoft Cognitive Services](https://docs.microsoft.com/en-us/azure/cognitive-services/labs/url-preview/end

[2018-05-08 15:38] Mike-Ubezzi-MSFT commented on #8243
For reference:

In the [Managed Instance service tier](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-managed-instance#managed-instance-service-tier) section of the referenced document, there is a figure of 100 databases per instance:
![screenshot 190](https://user-images.githubusercontent.com/37126106/39767209-0ddf3ca4-529b-11e8-9385-ebf7d3ae83e1.png)

[2018-05-08 15:41] Mike-Ubezzi-MSFT commented on #8243
@bootleg224 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-08 15:42] SnehaGunda commented on #7705
@bdcoder2 Thanks for the feedback! Yes you should use Upper and Lower functions to consider case-insensitivity.  The stackoverflow page - https://stackoverflow.com/questions/30512806/how-to-do-a-case-insensitive-search-on-azure-documentdb responded by MSFT team has couple of examples on how to use upper and lower.

We have a new version of indexing mechanism coming soon (no timelines yet) to suppo

[2018-05-08 15:43] missmariamac commented on #8202
Thanks.  Yes, my phone went into an endless loop -- I left it running for an hour -- it did not stop. Perhaps I have too much email and phone data on my phone?
Thanks for getting back.  I may not sync the phone -- I just want to get my company emails online.   And the Microsoft program would not accept a landline phone number to initiate the account.

Thanks,marymac

      From: Mike Ubezzi <notif

[2018-05-08 15:50] HowardEdidin opened #8254 "AllowedInstanceRoles"
There is no reference to creating the  AllowedInstanceRoles  in the documentation.
I am using the sample app from the tutorial.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8602bfd5-a60d-86fe-82ef-6c5fef624bf7
* Version Independent ID: 6062ee0a-be91-0b72-44c7-98dfcaa899f4
* Content: [Using applications in Azure Block

[2018-05-08 15:52] webash opened #8255 "A page about pricing without linking to pricing"
There are no links, references or inclusions of costs on this page, despite being linked to this page from the Azure Security Center upgrade blade with the text "Click here for pricing information". Please provide a link to the pricing.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8e2ed68-8901-d002-a00a-e1d702cc1638

[2018-05-08 15:59] SnehaGunda commented on #7843
@StefH @Mike-Ubezzi-MSFT Thanks for pointing the issue, it's not necessary for the throughput to be 1000, initially all our docs used 1000 RUs for most of the tutorials, but the minimum value currently is 400, we will update the doc.

[2018-05-08 16:05] MicahMcKittrick-MSFT commented on #8129
@DaveVoyles no worries :) Thank you for pointing this out. I will assign this to the content authors to review and consider updating the doc.

@cjgronlund can you take a look? The content author @bradsev I was unable to assign to directly.

[2018-05-08 16:14] MicahMcKittrick-MSFT commented on #8237
@gupraj Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-08 16:15] MicahMcKittrick-MSFT commented on #8241
@ragakar Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-08 16:17] MicahMcKittrick-MSFT commented on #8248
@Joyliu290 Thanks for reaching out. If you still are experiencing issues please feel free to reopen and we can investigate.

[2018-05-08 16:31] Mike-Ubezzi-MSFT commented on #8200
@danielserver86 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-08 16:31] #8200 closed

[2018-05-08 16:33] denavin opened #8257 "Error Code: 50089 _ not able to authenticate using my personal account"
please suggest a way to connect to outlook on mobile/laptop - fist time connection

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f83a9e6-2363-2c73-5ed2-f40bd48899b8
* Version Independent ID: f47dc642-f083-b173-9b6e-ce61e31685a9
* Content: [Sign-in activity report error codes in the Azure Active Directory portal](http

[2018-05-08 16:34] SychevIgor opened #8258 "active-directory-saas-teamphoria-tutorial.md classic azure portal that no longer available"
## Creating an issue

I guess note should be modified, because classic portal no longer available
">[!Note]:

https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/active-directory/active-directory-saas-teamphoria-tutorial.md

[2018-05-08 16:37] SychevIgor opened #8259 "sql-database-elastic-scale-configure-deploy-split-and-merge.md using classic azure portal that no longer available"
## Creating an issue
To create "Cloud Services" still mentioning classic azure portal https://manage.windowsazure.com/ , but it's not available anymore. Document could be actualized

https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/sql-database/sql-database-elastic-scale-configure-deploy-split-and-merge.md

[2018-05-08 16:39] SychevIgor opened #8261 "marketplace-publishing/marketplace-publishing-vm-image-creation-on-premise.md using classic azure portal that no longer avaliable"
To create a custom VHD image in an article still mentioning classic azure portal https://manage.windowsazure.com/ , but it's not available anymore. Document require actualization

https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/marketplace-publishing/marketplace-publishing-vm-image-creation-on-premise.md

[2018-05-08 16:46] Adam-Smith-MSFT commented on #8225
@codeevaluator We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-08 16:46] #8225 closed

[2018-05-08 16:47] chaitualladi commented on #8179
++screenshots for reference
i was able to set policy for my keyvault to have all permissions to storage as below, by using the object ID of my service principal (as i am not using any user principal anywhere)
![image](https://user-images.githubusercontent.com/38051537/39770351-58c0997a-52b4-11e8-8c44-2993ddef92be.png)
But when i try to "Add-AzureKeyVaultManagedStorageAccount" i get the below error

[2018-05-08 16:51] Mike-Ubezzi-MSFT commented on #8202
@missmariamac It might be helpful to run a utility to clean your mobile device followed restarting it. The objective is to purge the cache and temporary files and then restart the phone, if it hasn't been restarted in the past week. This should improve the functionality if the two-step account set-up was done initially. Are you are attempting to set it up the for the first time?

[2018-05-08 16:52] MicahMcKittrick-MSFT commented on #8112
@akramwaseem Have you attempted the same solution using a version of Ubuntu that already has docker installed? Such as the following:
<img width="598" alt="image" src="https://user-images.githubusercontent.com/32313503/39770989-894c0c14-52a5-11e8-9e80-43c0c9db68e6.png">

[2018-05-08 16:53] MicahMcKittrick-MSFT commented on #8144
@faridabharmal any update on this?

[2018-05-08 16:54] SychevIgor opened #8262 "marketplace-publishing-vm-image-creation.mdusing classic azure portal that no longer available"
To create a custom vm from image in an under bullet 4.2 article still mentioning classic azure portal https://manage.windowsazure.com/ , but it's not available anymore. Document require actualization

https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/marketplace-publishing/marketplace-publishing-vm-image-creation.md

[2018-05-08 16:57] SychevIgor opened #8263 "active-directory-java-authenticate-users-access-control-eclipse.md is out-of-date because ACS can't be created anymore"
Article can be deleted, because ACS can't be created starting from last month
"April 2, 2018: The Azure classic portal is completely retired, meaning Access Control namespace management is no longer available via any URL. At this point, you can't disable or enable, delete, or enumerate your Access Control namespaces. However, the Access Control management portal will be fully functional and locate

[2018-05-08 16:59] SychevIgor opened #8264 "app-service-mobile-net-upgrading-from-mobile-services.md link to classic portal"
From a list of URL classic portal can be deleted, because it's no longer available
[Azure classic portal]: https://manage.windowsazure.com/

https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/app-service-mobile/app-service-mobile-net-upgrading-from-mobile-services.md

[2018-05-08 17:00] cezane opened #8265 "Some doubts related to documentation"
Where we have "{iot hub host name}/devicebound 	Send cloud-to-device messages.", wouldn't be "Receive cloud-to-device messages.", like in a subscription process from which the device receive notifications from cloud?

This information is wrong: "The thumbprint represents a SHA256 hash of the X.509 certificate (stored using binary DER encoding)." According to Azure portal, in the IoT Hub panel, we

[2018-05-08 17:00] kobulloc-MSFT commented on #8244
@pekkast Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-05-08 17:01] JeffLoo-ong opened #8266 "Environment Variables"
Example code shows GetEnvironmentVariable instead of process.env which will throw errors. Suggestion to edit with correct syntax.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b47363e3-c36f-0755-819c-26946013d673
* Version Independent ID: 197c63a1-9f72-1049-f27e-8c9c672ec472
* Content: [JavaScript developer reference

[2018-05-08 17:02] ylulloa commented on #7665
Is there any integration with GitHub or similar, so all conflicts, versioning, and content management get managed by Git?

[2018-05-08 17:02] kobulloc-MSFT commented on #8232
@iant-travelopia Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-05-08 17:03] markmassad opened #8267 "List Export Request"
Please make this list exportable in a simple CSV format.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0a586c4-71fd-e60b-9c4c-1a3eb2443c74
* Version Independent ID: 2f3706cc-073b-a310-8da4-2a5a90da6473
* Content: [Azure Monitor metrics - supported metrics per resource type](https://docs.microsoft.com/en-us/azure/moni

[2018-05-08 17:03] kobulloc-MSFT commented on #8215
@karthikeyanVK Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-05-08 17:05] MicahMcKittrick-MSFT commented on #8204
@mattchenderson can you take a look at this?

[2018-05-08 17:06] v-geberr commented on #7665
@ylulloa No, there isn't any integration. You could use the authoring REST APIs to export the model. At that point, you can manage it via code/script/processes as you normally would.

[2018-05-08 17:06] SychevIgor opened #8268 "app-service-mobile-migrating-from-mobile-services.md using classic azure portal that no longer available"
Article still mentioning classic azure portal https://manage.windowsazure.com/ , but it's not available anymore. Document could be actualized

https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/app-service-mobile/app-service-mobile-migrating-from-mobile-services.md

[2018-05-08 17:08] joben opened #8270 "Update bash script to reflect ubuntu version instead of requiring a manual edit"
sudo sh -c 'echo "deb [arch=amd64] https://packages.microsoft.com/repos/microsoft-ubuntu-<version>-prod <version> main" > /etc/apt/sources.list.d/dotnetdev.list'
sudo apt-get update

Update the script so that the ubuntu version is not manually edited.

sudo sh -c 'echo "deb [arch=amd64] https://packages.microsoft.com/repos/microsoft-ubuntu-$(lsb_release -c | cut -f2)-prod $(lsb_release -c | cut -f

[2018-05-08 17:09] TravisCragg-MSFT commented on #8035
@BMichaelJ We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-05-08 17:09] #8035 closed

[2018-05-08 17:09] MicahMcKittrick-MSFT commented on #8237
@gupraj can you elaborate more on your ask? Creating in Bulk can mean a few things.

We have some examples of creating VMSS from custom images

https://azure.microsoft.com/en-in/resources/templates/201-vmss-windows-customimage/

[2018-05-08 17:09] SychevIgor opened #8271 "active-directory-saas-procoresso-tutorial.md classic azure portal that no longer available"
I guess note should be modified, because classic portal no longer available
">[!Note]:

https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/active-directory/active-directory-saas-procoresso-tutorial.md

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63ecb6cf-59ca-7932-1fb5-8a557bf91866
* Version Independent

[2018-05-08 17:11] MicahMcKittrick-MSFT commented on #8241
@Mike-Ubezzi-MSFT do you know of any information about migrating SQL Anywhere DB to Azure?

[2018-05-08 17:12] TravisCragg-MSFT commented on #8231
@egondalia We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-05-08 17:12] #8231 closed

[2018-05-08 17:12] SychevIgor opened #8272 "active-directory-saas-bambubysproutsocial-tutorial.md classic azure portal that no longer available"
I guess note should be modified, because classic portal no longer available
">[!Note]:

https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/active-directory/active-directory-saas-bambubysproutsocial-tutorial.md

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5679662-14e8-1169-8e09-73bc058777ef
* Version In

[2018-05-08 17:14] SychevIgor opened #8273 "active-directory-saas-teamphoria-tutorial.md classic azure portal that no longer available"
I guess note should be modified, because classic portal no longer available
">[!Note]:

https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/active-directory/active-directory-saas-teamphoria-tutorial.md

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83b18a79-c7cf-9cd7-f156-b670fcad9063
* Version Independent

[2018-05-08 17:14] nuiwos opened #8274 "Set up issue"
Ran into an issue running step 3 of "Set up your machine".

git clone https://aka.ms/aml-real-time-ai
Cloning into 'aml-real-time-ai'...
fatal: unable to update url base from redirection:
  asked for: https://aka.ms/aml-real-time-ai/info/refs?service=git-upload-pack
   redirect: https://www.microsoft.com/en-us/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2018-05-08 17:14] TravisCragg-MSFT commented on #8252
@pagrenin Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-08 17:14] iant-travelopia opened #8275 "Configuration for additional telemetry"
We're already using AI with the SDK, but we want to use Status Monitor to get additional telemetry. We use MSBuild to Build and Publish our MVC website. Will Status Monitor use the App Insights settings that get published with the website, or will we need to re-run Status Monitor after every deployment? If so, how do we get around that, as our deployments are currently fully scripted.

---
#### Do

[2018-05-08 17:15] BryanTrach-MSFT commented on #8245
@baabel Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-08 17:16] spottedmahn commented on #8017
Fair enough.

https://github.com/Microsoft/service-fabric/issues/124

[2018-05-08 17:17] web-connect opened #8276 "Outdated links"
Trust center link is 404, and it would be nice to have an action button for Ruby, since Web Apps now supports ruby.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b0ec12a-11b2-52c5-2b20-1705609a7ea8
* Version Independent ID: 10b10bd9-2cf2-60d1-f30c-8c7ad4e57223
* Content: [Web Apps overview](https://docs.microsoft.com

[2018-05-08 17:18] MicahMcKittrick-MSFT commented on #8017
Thanks! I am tracking that issue as well

[2018-05-08 17:19] Niladri24dutta commented on #8238
@rachelappel thanks for looking into it, let me know if a PR is required for this.

[2018-05-08 17:19] aydeisen opened #8277 "Storage Spaces Disk Guidance on adding data disks to a pool"
For the disk guidance when using storage spaces, is says:

If I start with 2 disks, I create my pool with a column count of 2.  If I then add a disk (for a total of 3), the best practice seems to be that my column count should become 3.

However, as far as I can tell, there's no way to change the column count for a storage pool using Storage Spaces once the pool was created.

What is the recommend

[2018-05-08 17:25] cynthn commented on #8197
@Mike-Ubezzi-MSFT @ksurendra there are already docs about opening ports: https://docs.microsoft.com/en-us/azure/virtual-machines/linux/nsg-quickstart

[2018-05-08 17:27] MohitGargMSFT commented on #8227
@Rachitgupta1994 Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-08 17:28] cynthn commented on #7708
@SaurabhSharma-MSFT can you please reassign to @abhijeetgaiha. FYI @danielsollondon.

[2018-05-08 17:28] Mike-Ubezzi-MSFT commented on #8241
@MicahMcKittrick-MSFT  @ragakar I have very limited information. There is a related MSDN forum post by the same user: [Migrating SQL Anywhere cluster to Azure Iaas
](https://social.msdn.microsoft.com/Forums/en-US/55f2fbec-a4ce-4c98-8bbe-b5bb9f426c83/migrating-sql-anywhere-cluster-to-azure-iaas?forum=AzureMigrate)

The only path I see is to create a virtual hard disk and upload to an Azure VM, and

[2018-05-08 17:29] TravisCragg-MSFT commented on #8249
@bladeski You are not able to have 2 resources of the same type with the same name in the same Resource Group in ARM.

make the 2nd DNS Zone with the same name in a different resource group.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-05-08 17:29] #8249 closed

[2018-05-08 17:31] missmariamac commented on #8202
Thanks -- you sound right.  Am sure the cache is huge on my old iPhone.  Microsoft wont let me authenticate via landline phone :(
Will wait to authenticate my Microsoft email account until I get my company computer.  I don't feel comfortable to authenticate by phone when it takes control of my phone for over an hour.  Does Microsoft have a location in Silicon Valley where I can come by with my iPh

[2018-05-08 17:38] kirbybrunclik opened #8279 "Output to .txt"
How would I get the results of the speech to text in a usable txt or doc file?  Is it saving that somewhere?  First time programming so apologies if an uniformed question.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cbdb0695-2898-1af5-656d-f390dbbbfa88
* Version Independent ID: dfb1aa1a-69d1-55f6-3045-b986082a934b
*

[2018-05-08 17:40] maertendMSFT commented on #7295
The change has been merged, it should go live in the next pull

[2018-05-08 17:45] Rick-Anderson commented on #8238
This is not an azure issue Please close this issue. We reopened the original, which is in the correct location.

[2018-05-08 17:47] nuiwos opened #8280 "Cython not installed"
In step 4 of "Set up you machine", it said that mkl-random and mkl-fft required cython but cython wasn't installed.

Successfully built absl-py gast termcolor pyyaml html5lib pycparser pywin32-ctypes
mkl-random 1.0.1 requires cython, which is not installed.
mkl-fft 1.0.0 requires cython, which is not installed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2018-05-08 17:48] mike-urnun-msft commented on #8276
@web-connect Thank you for reporting this issue! We will investigate and make any necessary changes.

[2018-05-08 17:48] MohitGargMSFT commented on #8228
@chrift Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-08 17:49] johnwildes opened #8281 "Problem with Invoke-Request statement in Powershell sample"
I'm getting an error : Object Reference not set to an instance of an object when calling the Invoke-WebRequest line in this post data to Log Analytics function.  I've walked through step by step of the code, and at one point it said the Authorization Header was invalid.  I'm literally using the code above unmodified in conjunction with another piece of code to convert data appropriately to JSON fi

[2018-05-08 17:49] YutongTie-MSFT commented on #8253
@kermitoos71 Hi, can you please provide more information so that we can help well? Thanks a lot.

[2018-05-08 17:50] MohitGargMSFT commented on #8240
@cadyb Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-08 17:51] MohitGargMSFT commented on #8246
@danmyhre Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-08 17:52] MohitGargMSFT commented on #8250
@danmyhre Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-08 17:52] CelesteDG commented on #8263
Hello @SychevIgor - Thank you for your feedback. I'll work to get this addressed.

[2018-05-08 17:54] MohitGargMSFT commented on #8255
@webash Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-08 17:54] YutongTie-MSFT commented on #8247
@SR253 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@nstulasi Hi, this is a product question, can you please check it and update the document as necessary? Thanks a lot!

[2018-05-08 17:55] MohitGargMSFT commented on #8257
@denavin Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-08 17:58] dan4ist opened #8282 "Master Key Configuration"
I'm receiving an error when attempting to encrypt my database columns (SSN & Birthdate). In the Always Encrypted wizard on the Master Key Configuration tab, when I connect to my Azure instance it comes back with a button saying "Try Again" and a warning/error message stating "An item with the same key has already been added"  - I do not believe I have added any keys to my key vault... Not sure wha

[2018-05-08 17:59] Niladri24dutta commented on #8238
@Rick-Anderson yes rick this is related to the .NET MVC documentation . I gave the link of the azure documentation just as an example of the Sendgrid part which I added later on.

[2018-05-08 18:12] MicahMcKittrick-MSFT commented on #8270
@joben Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-08 18:13] MicahMcKittrick-MSFT commented on #8277
@aydeisen Thanks for the question! We are investigating and will update you shortly.

[2018-05-08 18:13] bearrito commented on #7525
Is it possible to update the readmedocs?

http://azure-datalake-store.readthedocs.io/en/latest/ -> "This software is under active development and not yet recommended for general use."

[2018-05-08 18:14] mike-urnun-msft commented on #8273
Hey @SychevIgor - Thanks for your feedback! Could you provide this feedback by revisiting the original document page (on http://docs.microsoft.com) and using the "Give documentation feedback" feature in bottom of the page? That way, your valuable feedback is funneled through our appropriate internal processes where the content authors and subject matter experts will get notified, and issues will g

[2018-05-08 18:16] mike-urnun-msft commented on #8272
Hey @SychevIgor - Thanks for your feedback! Could you provide this feedback by revisiting the original document page (on http://docs.microsoft.com) and using the "Give documentation feedback" feature in bottom of the page? That way, your valuable feedback is funneled through our appropriate internal processes where the content authors and subject matter experts will get notified, and issues will g

[2018-05-08 18:16] mike-urnun-msft commented on #8271
Hey @SychevIgor - Thanks for your feedback! Could you provide this feedback by revisiting the original document page (on http://docs.microsoft.com) and using the "Give documentation feedback" feature in bottom of the page? That way, your valuable feedback is funneled through our appropriate internal processes where the content authors and subject matter experts will get notified, and issues will g

[2018-05-08 18:17] Mike-Ubezzi-MSFT commented on #8208
@kotpal Thanks for the feedback. At this time the best means for communicating functionality and enhancements is through the User Voice: [Azure General Feedback](https://feedback.azure.com/forums/34192--general-feedback).

By doing so, it becomes visible to others who can vote + comment which provides direct feedback to the product group. In addition, I am going to forward this issue on to the con

[2018-05-08 18:17] mike-urnun-msft commented on #8268
Hey @SychevIgor - Thanks for your feedback! Could you provide this feedback by revisiting the original document page (on http://docs.microsoft.com) and using the "Give documentation feedback" feature in bottom of the page? That way, your valuable feedback is funneled through our appropriate internal processes where the content authors and subject matter experts will get notified, and issues will g

[2018-05-08 18:18] mike-urnun-msft commented on #8264
Hey @SychevIgor - Thanks for your feedback! Could you provide this feedback by revisiting the original document page (on http://docs.microsoft.com) and using the "Give documentation feedback" feature in bottom of the page? That way, your valuable feedback is funneled through our appropriate internal processes where the content authors and subject matter experts will get notified, and issues will g

[2018-05-08 18:25] YutongTie-MSFT commented on #7665
@ylulloa We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

@v-geberr Thank you very much!

[2018-05-08 18:25] #7665 closed

[2018-05-08 18:29] Mike-Ubezzi-MSFT commented on #8210
@couper321 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-08 18:30] Mike-Ubezzi-MSFT commented on #8221
@cezary-draus Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-08 18:31] MohitGargMSFT commented on #8228
@chrift I am not aware of any such functionality being announced. Please help with the source of your information so that I could verify with relevant team on its authenticity.

[2018-05-08 18:32] Mike-Ubezzi-MSFT commented on #8221
For reference, the [Download the application](https://docs.microsoft.com/en-us/azure/azure-maps/quick-demo-map-app#download-the-application) section contains a broken link.

[2018-05-08 18:32] chwilfing opened #8284 "Apple DEP supported with PTA?"
If I read the below link correctly (and as stated in the comments) it should be possible to use Apple DEP with PTA. Maybe update the documentation and add a description how the experience changes?

https://blogs.technet.microsoft.com/intunesupport/2018/02/08/support-for-multi-token-dep-and-authentication-with-company-portal/

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2018-05-08 18:33] MicahMcKittrick-MSFT commented on #8166
@KTazayan I did some research and have confirmed this is not a possibility as of right now. It is very possible it might become feasible once scale sets starts supporting a mixed mode of low priority and normal priority VMs. But for now it is not something you will be able to achieve.

I would suggest leaving this feedback on uservoice so the product groups can see the ask and consider implementin

[2018-05-08 18:33] #8166 closed

[2018-05-08 18:33] SychevIgor opened #8285 "active-directory-saas-teamphoria-tutorial.md classic azure portal that no longer available"
I guess note should be modified, because classic portal no longer available
">[!Note]:

This embedded guide is brand new in the new Azure portal, and we’d love to hear your thoughts. Use the Feedback ? button at the top of the portal to provide feedback. The older guide for using the Azure classic portal to configure this application can be found here.-->"

https://github.com/MicrosoftDocs/azure-d

[2018-05-08 18:33] mike-urnun-msft commented on #8258
Hey @SychevIgor - Thanks for your feedback! Could you provide this feedback by revisiting the original document page (on http://docs.microsoft.com) and using the "Give documentation feedback" feature in bottom of the page? That way, your valuable feedback is funneled through our appropriate internal processes where the content authors and subject matter experts will get notified, and issues will g

[2018-05-08 18:34] SychevIgor commented on #8273
@Mike-Ubezzi-MSFT this way is good enough https://github.com/MicrosoftDocs/azure-docs/issues/8285 ?If yes- I will create all the rest

[2018-05-08 18:35] mike-urnun-msft commented on #8259
@SychevIgor - Thanks for your feedback! Could you provide this feedback by revisiting the original document page (on http://docs.microsoft.com) and using the "Give documentation feedback" feature in bottom of the page? That way, your valuable feedback is funneled through our appropriate internal processes where the content authors and subject matter experts will get notified, and issues will get r

[2018-05-08 18:39] #8258 closed

[2018-05-08 18:40] YutongTie-MSFT commented on #8210
@couper321 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@cjgronlund Hi, this is a document enhancement issue, can you please check it and update the document as necessary? Thanks a lot!

[2018-05-08 18:41] Mike-Ubezzi-MSFT commented on #8230
@ggailey777 @tdykstra There are a couple docs linked here that need updating so, I have included the both of you on this GitHub issue. Please update as necessary.

[2018-05-08 18:42] ylulloa commented on #7665
OK, Ill create a separated issue to talk about any integration with
GitHub or similar version control system.

On Tue, May 8, 2018 at 2:25 PM, YutongTie-MSFT <notifications@github.com>
wrote:

--

*Yanluis Ulloa*
<http://csnmedia.com/>

[2018-05-08 18:42] Mike-Ubezzi-MSFT commented on #8230
@ishepherd Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate. If there are additional details that you feel are pertinent to helping provide clarity, please feel free to add that information.

[2018-05-08 18:43] ocgken opened #8286 "Broken link"
The link to the example GitHub template (last link before "Next Steps") is 404

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5880e85-75e2-21b0-0f7e-b7541bdc04ae
* Version Independent ID: 762f79cf-563d-1bb7-ddae-8c53131abaf6
* Content: [Create an Azure scale set that uses Availability Zones](https://docs.microsoft.com

[2018-05-08 18:45] Mike-Ubezzi-MSFT commented on #8233
@AdityaJasti Thanks for the feedback. We are actively investigating and will get back to you soon. In addition, is there a specific document you were following to accomplish this task? Regards, Mike

[2018-05-08 18:45] ksurendra commented on #8197
@Mike-Ubezzi-MSFT  Yes, i was specifically referring to logging into a new VM using SSH and how to enable the Port 22 to use the login.

The content of the page is:
https://github.com/ksurendra/azure-docs/blob/master/articles/virtual-machines/linux/how-to-login-to-a-vm-uisng-ssh-by-opening-a-port-in-azure-portal.md

There is a reference to the troubleshooting here https://docs.microsoft.com/en-us/

[2018-05-08 18:46] mike-urnun-msft commented on #8262
@SychevIgor Thank you for your feedback! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-05-08 18:46] YutongTie-MSFT commented on #8211
@StevenZhang81 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@v-geberr Hi, this is a issue about Chinese cognitive, can you please check it and update the document as necessary? Thanks a lot!

[2018-05-08 18:46] CelesteDG commented on #8263
Thank you , @mike-urnun-msft. This is #in-progress. Just getting confirmation from feature area PM owners.

[2018-05-08 18:47] mike-urnun-msft commented on #8261
@SychevIgor Thank you for your feedback! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-05-08 18:48] jdanyow opened #8287 "Missing TOC"
This page does not have a TOC.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 155945eb-934a-c7b6-5740-2033bfae56bc
* Version Independent ID: 87dc8ddb-a77a-a40c-3449-b2536f881284
* Content: [Specifying a Node.js Version](https://docs.microsoft.com/en-us/azure/nodejs-specify-node-version-azure-apps)
* Content Source: [ar

[2018-05-08 18:49] Mike-Ubezzi-MSFT commented on #8272
@SychevIgor Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-08 19:18] MohitGargMSFT commented on #8227
@Rachitgupta1994 I have assigned the issue to the author to investigate and update as appropriate.

[2018-05-08 19:25] MohitGargMSFT commented on #8240
@cadyb The pull request for the fix has been created and it will be merged soon. Thanks again for pointing this out. Please let us know by creating new issue if there is something else that we can help you with.

[2018-05-08 19:33] mike-urnun-msft commented on #8273
Hey @SychevIgor Yes, exactly like this way pls. Here's the link to more info on this process: http://aka.ms/azcxpdocprocess

[2018-05-08 19:34] jeevansd commented on #8285
@SychevIgor I don't see the classic portal screenshots here. Am I missing something?

[2018-05-08 19:34] jeevansd commented on #8285
@chetansriv and @v-nagta FYI.

[2018-05-08 19:35] MohitGargMSFT commented on #8246
@danmyhre Thanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

[2018-05-08 19:35] jeevansd commented on #8137
@chetansriv Can we please update the doc as per the suggestion?
@mrmodolo Thanks for the feedback.

[2018-05-08 19:35] #8240 closed

[2018-05-08 19:36] jeevansd commented on #7477
@chetansriv Shall we make the Reply URL mandatory in this case and provide the guidance in the documentation?

[2018-05-08 19:37] mike-urnun-msft commented on #8265
@cezane Thank you for your feedback! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-05-08 19:38] Mike-Ubezzi-MSFT commented on #8254
@HowardEdidin Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-08 19:40] Mike-Ubezzi-MSFT commented on #8197
@ksurendra @cynthn Thank you for the responses. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-08 19:40] #8197 closed

[2018-05-08 19:40] mike-urnun-msft commented on #8235
@nrandell Thank you for reporting this issue! We will investigate and make any necessary changes.

[2018-05-08 19:41] rboucher commented on #6128
@MicahMcKittrick-MSFT I believe that we can close this issue given the updated article above.  @aunraza Can you verify that this article contains what you need?

[2018-05-08 19:42] mike-urnun-msft commented on #8236
@romankiss Thank you for your feedback! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-05-08 19:43] jason-j-MSFT commented on #7525
@bearrito
I did not see that, it didn't occur to me that an individual module may have a different status.

@nitinme
is the azure-datalake-store module still not considered GA?  Also, there is a broken link in this section:
https://docs.microsoft.com/en-us/azure/data-lake-store/data-lake-store-data-operations-python#install-the-modules

The link to the documentation for the 'azure-mgmt-datalake-st

[2018-05-08 19:44] mike-urnun-msft commented on #8239
@kunalaphadnis99 Thank you for your feedback! We will investigate and get back to you with the relevant info.

[2018-05-08 19:46] Mike-Ubezzi-MSFT commented on #8224
@janlange Thanks for the feedback. Is there documentation you are attempting to follow?

[2018-05-08 19:47] aunraza commented on #6128
@rboucher - looks good! Thanks!

[2018-05-08 19:47] mike-urnun-msft commented on #8222
@vermeerr Thank you for your feedback! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-05-08 19:48] Mike-Ubezzi-MSFT commented on #8287
@jdanyow Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-08 19:51] kobulloc-MSFT commented on #8275
@iant-travelopia Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-05-08 19:55] Mike-Ubezzi-MSFT commented on #8282
@dan4ist Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-08 19:56] MohitGargMSFT commented on #8246
@danmyhre The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out.

[2018-05-08 19:56] mike-urnun-msft commented on #8235
Hi @nrandell We have corrected this typo and the changes will reflect after our next merge; and this issue will auto-close. Thank you for your contribution!

[2018-05-08 19:58] ksurendra commented on #8197
So will my pull-request be accepted or rejected. can you help me with next steps?

[2018-05-08 19:59] janlange commented on #8224
Moved to another USB port and it works.

[2018-05-08 20:02] MohitGargMSFT commented on #8250
@danmyhre Please note that there is [Azure Feedback request](https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/31818052-allow-dynamics-365-online-to-be-blocked-using-co) already created. Please upvote it so that  product team could prioritize it and include into their plans.

Also as per reply by feature team on this [Dynamic 365 community forum thread](https://community.

[2018-05-08 20:09] juharris opened #8290 "--model-file"
Why not just use --model-file when creating the service? It's so much easier.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a4fe7b4-8f63-af03-5bab-e154e17b0182
* Version Independent ID: 9872b778-e19e-b205-4415-a3f84c465e61
* Content: [Read and write large data files](https://docs.microsoft.com/en-us/azure/machine-lea

[2018-05-08 20:11] MohitGargMSFT commented on #8271
@SychevIgor Please note as stated by Mike, please create GIT Hub Feedback on this document - [Tutorial: Azure Active Directory integration with Procore SSO](https://docs.microsoft.com/en-us/azure/active-directory/active-directory-saas-procoresso-tutorial) so that we can work with you to understand which section is outdated and probably update document if required.

I will move ahead and close this

[2018-05-08 20:13] mike-urnun-msft commented on #8276
@web-connect We have updated the concerned link to go to the new Trust Center URL and the change will reflect after our next merge; and this issue will auto-close. As for your suggestion about adding action link to Ruby, there doesn't appear to be a Quickstart documentation for it that we can link to at this time. However, we will pass on your feedback to the content team for future considerations

[2018-05-08 20:16] MohitGargMSFT commented on #8272
@SychevIgor Please note as stated by Mike, create a GIT Hub Feedback on this document - [Tutorial: Azure Active Directory integration with Bambu by Sprout Social](https://docs.microsoft.com/en-us/azure/active-directory/active-directory-saas-bambubysproutsocial-tutorial) so that we can work with you to understand which section is outdated and probably update the document if required.

I will move a