[2022-02-15 16:49] ChaitanyaNaykodi-MSFT commented on #88101
Hello @pierrel
Thank you for your feedback! We will review and update as appropriate.

[2022-02-15 16:51] tjkumar opened #88108 "Delegations of subnet cannot be changed from [] to [Microsoft.Web/serverFarms] because it is being used by the resource providers/Microsoft.Network/networkInterfaces/"
I am getting the same error while trying to create the Vnet Integration for app service with Vnet ,
'Delegations of subnet cannot be changed from [] to Microsoft.Web/serverFarms because it is being used by the resource providers/Microsoft.Network/networkInterfaces/

does this means I can't delegate the service to subnet which is already having resources in it @TravisCragg-MSFT

[2022-02-15 16:57] booyaa opened #88109 "Enforcing FTPS only or disabling FTP is not possible through the portal for Function Apps"
This advice is used by Microsoft Defender for Cloud (see screenshot), but the "General settings" tab is not available in function apps. Outside of using IaC (ARM, Bicep or Terraform) you can only set this option in Function Apps using Azure CLI: `az functionapp config set ...  --ftps-state FtpsOnly`

<img width="385" alt="FunctionApp-FTPS" src="https://user-images.githubusercontent.com/192864/1541

[2022-02-15 17:01] AlanPintor-git opened #88110 "The rule is not sending the email"
[Enter feedback here]
For the "Quick Start - Configure rules and actions" the rule is not sending the email

I am using a real device (smartphone - Galaxy Note 8)
All values for the rule seem to be as instructed but the rule is not sending any emails

Thank you,

Alan

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ee1

[2022-02-15 17:07] dcaro opened #88111 "Script is missing Azure PowerShell code"
Customers should be able to use their tool of choice to deploy Azure Functions. Now that it is fully supported with Azure PowerShell, the script should have its equivalent in PowerShell.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 588bed2f-cf61-0a79-2496-d7eb8b654776
* Version Independent ID: 8f7cad91-9db3-2128-54ef

[2022-02-15 17:08] Justinha commented on #86176
#please-close

[2022-02-15 17:21] Christian-e-S opened #88112 "No VNET-internal DNS resolving"
Dear Azure Team,

I have followed the following guidelines to setup a p2s VPN connection to a VNET containing only a Private Endpoint of a Blob Storage Account, by following the instructions on these pages:

https://docs.microsoft.com/en-us/azure/vpn-gateway/tutorial-create-gateway-portal
https://docs.microsoft.com/en-us/azure/vpn-gateway/openvpn-azure-ad-tenant
https://docs.microsoft.com/en-us/az

[2022-02-15 17:23] #83628 closed

[2022-02-15 17:24] efrain-valdez commented on #87300
Understood, appreciate the clarification

Regards
Efrain

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: rvuppuluri-MSFT ***@***.***>
Sent: Tuesday, February 15, 2022 10:23:04 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Efrain Valdez ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Validate what sourceAnchor to use in AzureAD Connec

[2022-02-15 17:44] MashaMSFT commented on #87723
Hi @sunilgure , thanks for contacting Microsoft! The  b) Premium and c) Premimum with memory optimized  series are currently available for [Azure SQL Managed Instance](https://docs.microsoft.com/azure/azure-sql/managed-instance/service-tiers-managed-instance-vcore#hardware-availability), and not Azure SQL Database. I reviewed the documentation, and I'm not seeing where this information is incorrec

[2022-02-15 17:46] saachigopal commented on #83465
This issue has been resolved - UI/CLI should be consistent

[2022-02-15 17:49] aaronmanill opened #88113 "unable to set pubhub settings"
I am having issues setting my subpub settings as described in the demo documentation, I am getting the following message when I attempt to save the hub settings, updating webpubsub resource failed with status: 'error' and error: 'invalid arguments'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b36e374f-acd3-dd00-be33-

[2022-02-15 17:55] KranthiPakala-MSFT commented on #87910
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

Thank you

[2022-02-15 17:55] #87910 closed

[2022-02-15 17:59] MashaMSFT commented on #85194
Hi @rangler2 , thanks for contacting Microsoft! This content has been rewritten :) The [General Purpose](https://docs.microsoft.com/azure/azure-sql/database/service-tier-general-purpose) and [Business Critical](https://docs.microsoft.com/azure/azure-sql/database/service-tier-business-critical) service tier articles now list the default SLA for [Azure SQL Database](https://azure.microsoft.com/suppo

[2022-02-15 17:59] #85194 closed

[2022-02-15 18:00] GiftA-MSFT commented on #87845
@eric-urban can you please help with above inquiry? Thanks!

[2022-02-15 18:08] SaiKishor-MSFT commented on #88112
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-02-15 18:10] SaiKishor-MSFT commented on #88100
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2022-02-15 18:14] zhenlan commented on #82565
cc: @drago-draganov

[2022-02-15 18:14] MashaMSFT commented on #86490
Hi @Frankd4 , thanks for contacting Microsoft! My apologies, but actually your feedback is not completely accurate. The only thing that's been renamed is the security offering - it used to be called Azure Defender for SQL, and now it's called the Microsoft Defender for Cloud. Vulnerability Assessments (VA) is a feature of the Microsoft Defender for Cloud offering and the name (and feature) remains

[2022-02-15 18:14] #86490 closed

[2022-02-15 18:17] zhenlan commented on #83309
@shashankkr hope this doc answers your question
https://docs.microsoft.com/en-us/azure/azure-app-configuration/howto-best-practices#references-to-external-data

[2022-02-15 18:18] SamaraSoucy-MSFT commented on #88074
Thanks for the feedback! We will review and get back to you shortly.

[2022-02-15 18:20] antonGritsenko commented on #88077
Hi @Ericgre , thanks a lot for your quick feedback! Yes, I was also very confused by this limitation. I was pretty sure that we used such setup in the past and was a bit shocked when it doesn't work. May be this is region-specific? Current solution deploying in the Switzerland North (but PSS didn't mentioned this as region limitation).
I will ask PSS to contact you, thank you.

Symptoms that we ha

[2022-02-15 18:24] SaiKishor-MSFT commented on #88099
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2022-02-15 18:25] AlexandraKemperMS commented on #87307
@MayankBargali-MSFT could you please assign this to Maud as she will be the one working on it?

[2022-02-15 18:27] timlt commented on #87988
@schnorea thanks for your feedback.  We have an update to the IoT Central UI screenshots in-progress.  For a brief overview on Central compared to Hub options, see [Overview: Connection options for Azure IoT device developers](https://docs.microsoft.com/en-us/azure/iot-develop/concepts-overview-connection-options).  This is linked to in the overview article in the device developer docset, and for

[2022-02-15 18:28] kgremban commented on #71488
This issue was resolved with Andrew's PR
#please-close

[2022-02-15 18:28] #71488 closed

[2022-02-15 18:35] Ericgre commented on #88077
You can set the route all via api too, if you have a 403 error, please double check that you set to _true_ the app setting WEBSITE_PULL_IMAGE_OVER_VNET
I'm waiting for the support ping, the behavior that you have is definitively not what I designed with PE, and I don't know why CSS considers that is not supported.
We don't have region limitations around PE, it's just that we are in the deployment

[2022-02-15 18:36] porrascarlos802018 opened #88116 "please add procedure for extending disk sizes and if it involves downtime or not."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74be7378-92bc-0e59-0b70-c6b10e80d9b6
* Version Independent ID: f7f1eeb3-efe7-86e2-1fd7-04341b2c77cc
* Content: [Create a static volume for pods in Azure Kubernetes Service (AKS) - Azure Kubernetes Service](https://docs.microsoft.com/en-us/azure/aks/az

[2022-02-15 18:37] rthorn17 commented on #88047
Hi @ioapan -  This is an outdated reference to the old portal screens.  There is no "Details" link anymore and you can just select the name of the group to load the details page.  If the name of the group is not selectable, then you do not have the proper RBAC roles to view this management group.  I will make a note to have this page updated to remove this reference.  Thanks

[2022-02-15 18:38] porrascarlos802018 opened #88117 "please add procedures for drive size extension and if downtime confirmation"
[Enter feedback https://kubernetes.io/blog/2018/07/12/resizing-persistent-volumes-using-kubernetes/here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1ac572f-c613-71fc-580a-2805b740b793
* Version Independent ID: b4aeef15-7b0f-abc7-872e-28051e10d6ca
* Content: [Dynamically create Azure disks volume - Azure Kubernetes

[2022-02-15 18:41] roygara commented on #77398
@aamorale Thanks for reaching out, we appreciate it! I've passed this feedback to the appropriate team.

Accordingly, I'll close this out.

#please-close

[2022-02-15 18:41] #77398 closed

[2022-02-15 18:46] Karishma-Tiwari-MSFT commented on #87971
We will now close this issue. Please share the details when you get a chance and tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2022-02-15 18:46] #87971 closed

[2022-02-15 18:54] LitKnd commented on #84942
Thank you for confirming @rohitnayakmsft .

I'm going to go ahead and close this out per that limitation. Thank you for submitting this, @SysAdminforCoffee , we very much appreciate your efforts.

Kendra from the Database Docs team

#please-close

[2022-02-15 18:54] #84942 closed

[2022-02-15 18:58] JamesTran-MSFT commented on #88103
@Baryczka
Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-15 19:00] antonGritsenko commented on #88077
Holly docs! You are right, the WEBSITE_PULL_IMAGE_OVER_VNET was missing. Now two questions:
1. Why this is not in the official docs? :)
2. Why support service have no idea about that (pretty sure it connected to question #1)

[2022-02-15 19:13] Ericgre commented on #88077
you are right, I'll add the setting in the reference page for settings https://docs.microsoft.com/en-us/azure/app-service/reference-app-settings?tabs=kudu%2Cdotnet#custom-containers,
but the setting is in the container doc https://docs.microsoft.com/en-us/azure/app-service/configure-custom-container?pivots=container-linux#use-an-image-from-a-network-protected-registry

[2022-02-15 19:15] tracychms commented on #88009
Thanks for sharing the debug details. This seems to be an issue with your role assignment to the workspace.

Please go to the ARM portal Resource -> Access Control, click "Role assignments" and see if your account is listed there. If not, please add your account as Owner/Contributor, then retry the invoke command.

[2022-02-15 19:16] LitKnd commented on #87539
Hello @assilabdulrahim ,

Thanks for submitting this issue.

I believe that you are correct, and that the current baseline aligns to the v2 security controls, as outlined here: https://docs.microsoft.com/en-us/security/benchmark/azure/security-controls-v2-backup-recovery

The link at the top of the article mentions v2, but due to URL changes it goes to the v3 security controls. I will follow up on

[2022-02-15 19:18] VipinAgarwal opened #88123 "Retry policy feature still in preview from last two years."
This document need to be updated. The Retry policy feature is in preview from last two years. Wanted to see if the document not updated or when can we expect GA?

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da28e92f-8a1e-9937-4547-180e26ede62e
* Version Independent ID: 2b95e024-e55b-98d4-bd84-8cba06319c9e
*

[2022-02-15 19:18] brandom-msft commented on #87845
Hi @tanmayjog, thanks for using the Azure Speech CLI! You can use ssml to achieve the formatting you mentioned. There are two ways you can go about using ssml as your input on synthesis; (1) from an XML file or (2) providing the ssml as an input string on the command line.

1. spx synthesize --file sample.xml
2. spx synthesize --ssml "<speak version=""1.0"" xmlns=""http://www.w3.org/2001/10/synthe

[2022-02-15 19:19] QuetzalcoatlRosso opened #88124 "Wheel install example request"
Thanks for this excellent page on managing packages.  Wanted to know if there is an end-to-end example for installing a local wheel package into a Synapse env?

For example, this how-to from Azure/DataBricks on [installing a workspace library](https://docs.microsoft.com/en-us/azure/databricks/libraries/workspace-libraries) is a neat step-by-step guide.  The screenshots on uploading a file (wheel o

[2022-02-15 19:21] drago-draganov commented on #82565
@fabiomaulo

A few notes on the subject:

- Azure AppConfiguration Service was released before the proposed _draft-ietf-httpbis-digest-headers-01_.
- The draft currently keeps evolving with the addition of ``Content-Digest`` field ([Sep 2021](https://www.ietf.org/archive/id/draft-ietf-httpbis-digest-headers-06.html)), which is actually meant to replace the obsolete ``Content-MD5``.
- ``x-ms-conten

[2022-02-15 19:23] geraldwolff commented on #88050
The video walked thru portal blades where the options are now relocated to other areas.

The video is out of date with the actual portal navigation.

https://www.youtube.com/watch?v=jvX0IeFMmCE <https://www.youtube.com/watch?v=jvX0IeFMmCE&t=683s> &t=683s

From: kobulloc-MSFT ***@***.***>
Sent: Monday, February 14, 2022 2:04 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: geraldwolff ***@***.***>;

[2022-02-15 19:24] geraldwolff commented on #88050
I apologize,

I did not notice that Microsoft did not publish this to Youtube.

☹

Jw

From: kobulloc-MSFT ***@***.***>
Sent: Monday, February 14, 2022 2:04 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: geraldwolff ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Tutorial Video (Issue #88050)

@geraldwolff <https://github.com/geraldwolff>  Thank you for the feedback! F

[2022-02-15 19:25] ChaitanyaNaykodi-MSFT opened #88125 "Note regarding inner and outer packet capture"
We need to set the "CaptureSingleDirectionTrafficOnly": false to capture both inner and outer packets.

Please refer to this issue for additional information (https://docs.microsoft.com/en-us/answers/questions/730543/index.html)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85090bbe-facd-f493-9817-b639df44f345
* Versi

[2022-02-15 19:27] ChaitanyaNaykodi-MSFT commented on #88125
I will make a PR shortly to add this note to the documentation.

[2022-02-15 19:32] fabiomaulo commented on #82565
good job guys.
Thanks.

[2022-02-15 19:34] msmbaldwin commented on #87539
@assilabdulrahim @LitKnd : this is an excellent point -- links in v2 baselines ought to point to the v2 benchmark. I will update.

[2022-02-15 19:43] sopelt commented on #42603
Verizon Premium seems to be the only tier capable of implementing larger sets of redirect rules (e.g. handling of 200+ legacy URLs) but doesn't seem to be configurable via ARM. Could someone confirm this suspicion?
Handling such scenarios in a purely declarative fashion without having to develop/deploy additional service would be great.

[2022-02-15 19:44] jason-barringer commented on #87932
Hello @GeethaThatipatri-MSFT  if you try follow the steps on this page step by step

https://docs.microsoft.com/en-us/azure/azure-cache-for-redis/cache-dotnet-core-quickstart

I find it to have many ambiguous statements and errors.

[2022-02-15 19:45] LitKnd commented on #82747
Hello,

Thank you for following up on this, @rohitnayakmsft .

@albertoRamon , since we cannot repro, if you can please open a support case as suggested, that will be the best way to proceed. I am going to go ahead and close this out.  Thanks for your feedback, we appreciate your time and efforts.

Kendra from the Database Docs Team

#please-close

[2022-02-15 19:45] #82747 closed

[2022-02-15 19:50] Oury-MSFT commented on #88035
@mikem-MS Thank you for submitting this feedback on behalf of customer.
@DavidTrigano could the above be mentioned in the documentation

[2022-02-15 20:03] LitKnd commented on #86195
Hi, apologies, I missed the follow up question.

Results in PowerShell would depend on whether you were using powershell to query the sys.dm_os_schedulers DMV (which would match Transact-SQL). If you are using PowerShell to query the SLO name, that SLO name would match what you get from sys.dm_user_db_resource_governance.

One of the documented [benefits of the vCore model](https://docs.microsoft.

[2022-02-15 20:03] #86195 closed

[2022-02-15 20:05] grminch commented on #43345
#assign:grminch

[2022-02-15 20:06] grminch commented on #43345
#reassign:grminch

[2022-02-15 20:10] LitKnd commented on #85392
Hello,

Thank you @mokabiru for the update. I am going to go ahead and close this out per your feedback.

@SuttyHoo , thank you for opening this and for your feedback, we appreciate your time and efforts to help us make the docs better.

Cheers,
Kendra from the Database Docs team

#please-close

[2022-02-15 20:10] #85392 closed

[2022-02-15 20:14] kobulloc-MSFT commented on #88050
@geraldwolff No worries!  If you have any questions about the documentation, please don't hesitate to reach out to us.  We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-02-15 20:14] #88050 closed

[2022-02-15 20:14] assilabdulrahim commented on #87539
Thanks for the clarification.

On Tue, Feb 15, 2022, 2:34 PM M. Baldwin ***@***.***> wrote:

[2022-02-15 20:14] ChaitanyaNaykodi-MSFT commented on #88125
PR is currently under Doc author's review.

[2022-02-15 20:15] LitKnd commented on #85406
Hello,

As a follow up, the page linked now decodes the acronym as suggested. We've also published the [glossary I mentioned](https://docs.microsoft.com/en-us/azure/azure-sql/glossary-terms).

We'll continue to work iteratively to try to clarify this and other acronyms we use as much as we can -- and to avoid acronyms when possible.

Thanks again for your feedback, we really appreciate your time a

[2022-02-15 20:22] LitKnd commented on #75040
Hello,

@leswaters , have you had a chance to check in on @SQLSourabh 's suggestion above?

Thanks very much,
Kendra from the Database Docs team

[2022-02-15 20:22] tanmayjog commented on #87845
Thank you

Thanks & Regards,
Tanmay Jog
Azure Backup & Recovery Engineer | Microsoft Corporation | LinkedIn<https://www.linkedin.com/in/tanmay-jog/>
[cid:477f1edc-7f4c-4541-9a8d-9297ee6bf497]
________________________________
From: GiftA-MSFT ***@***.***>
Sent: Thursday, February 10, 2022 02:12 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Tanmay Jog ***@***.***>; Mention ***@***.***>
Subject: R

[2022-02-15 20:28] grminch commented on #48979
#reassign:grminch

[2022-02-15 20:34] LitKnd commented on #88035
#reassign: @DavidTrigano

[2022-02-15 20:39] GeethaThatipatri-MSFT commented on #87932
I'm assigning this to the author for futher review.

[2022-02-15 20:42] SaurabhSharma-MSFT commented on #88068
@GavinJin88 Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-15 21:01] ChaitanyaNaykodi-MSFT commented on #88073
Hello @DBJDBJ
Thank you for your feedback! We will review and update as appropriate.

[2022-02-15 21:09] ChaitanyaNaykodi-MSFT commented on #88078
Hello @RubenVerschuere, Thank you for your feedback and the PR to fix this issue. We will review and update as appropriate.

[2022-02-15 21:19] grminch commented on #54857
Thank you for taking the time to comment. You are correct; the example runs entirely locally. There is no Azure component to this example. We're currently revising the article to clarify the example.

This issue is nearly a duplicate of #48979 . I'll close this issue now and then close the other issue when the revised article is published.

#label:duplicate
#please-close

[2022-02-15 21:19] #54857 closed

[2022-02-15 21:26] ChaitanyaNaykodi-MSFT commented on #88108
Hello @tjkumar
Yes, that is correct as per the limitation mentioned [here in the documentation](https://docs.microsoft.com/en-us/azure/app-service/overview-vnet-integration#limitations) app service integration with Vnet requires an unused subnet that's an IPv4 /28 block or larger in an Azure Resource Manager virtual network. Please go through this [subnet requirements](https://docs.microsoft.com/e

[2022-02-15 21:26] #88108 closed

[2022-02-15 21:27] SatishBoddu-MSFT commented on #88110
Hello @AlanPintor-git Thanks for reaching out on this!

Could you please be more specific about the issue?
-What steps were completed?
-What rule is defined-more specifically any screenshot or any other info/
-What condition is defined?
-What are the Rule conditions?
-Did you change the device and try the tutorial?
-Do you see any telemetry from the same mobile device other than the rule not sendi

[2022-02-15 21:28] SaiKishor-MSFT commented on #87905
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-02-15 21:28] #87905 closed

[2022-02-15 21:31] santiagxf commented on #83465
As today, in ML CLI v2 version 2.0.7 and a workspace on East US, this remains active.

[2022-02-15 21:31] grminch commented on #55649
Hi @SychevIgor,

Thank you for taking the time to report this issue. I'm sorry it has taken a long time to resolve. We are currently revising this article, and we'll be publishing a revised version soon, with new screenshots and other changes.

#reassign:grminch

[2022-02-15 21:33] SatriaPriambada commented on #70266
@dominicbetts Hi I'm also interested in the sample that uses DPS and asymmetric key such as X.509 certificates. It's been a year and I'm wondering if there's any news regarding this. Thanks

[2022-02-15 21:45] JnHs commented on #87917
Hi @wayneme75 - A kubeconfig file holds the context to access a Kubernetes cluster. This file is sometimes created by default, depending on how the cluster was provisioned. See https://kubernetes.io/docs/concepts/configuration/organize-cluster-access-kubeconfig/ for more info. I'll plan to add a link to this into the doc, and then I'll close this GitHub Issue unless you still have questions - if s

[2022-02-15 21:47] grminch commented on #61981
Hi @KSchlobohm and @SychevIgor,

Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. I am the writer assigned to these articles, and I will be following up with the product team to ensure that the issue is reviewed. More information will follow soon.

[2022-02-15 21:48] chaisen2006 opened #88132 "Mutual TLS in App Service"
Hi experts.

Suppose I have a app hosted on App Service and enable Client certificate option for mutual TLS authentication.
I read in the document that the certificate validation of the client is done by the app code. In the validation process we would need the root CA of the Client application to be present for it to validate and trust. My question is since app service ( without ASE ) doesn't sup

[2022-02-15 21:56] AlanPintor-git commented on #88110
Hello Satish,

Thank you for your quick reply

-All steps completed from the guide: https://docs.microsoft.com/en-us/azure/iot-central/core/quick-configure-rules?tabs=android
-These are the screenshots from the rule:
[cid:77184b19-d41e-49f4-afa7-0e3fc67e5dfa]
[cid:d134deb0-2f64-4345-96c9-f2115ece7534]
[cid:67c65b4c-f2f3-4326-aa98-feb575c7671d]

-I did not change the device
- I can see data on both

[2022-02-15 22:07] becnichelesmith opened #88133 "management group"
[Enter feedback here]

Hi team,

Please update this page to include the fact that Management group scopes aren't supported for Microsoft Customer Agreement accounts at this time.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1527b80e-5270-b5f0-9034-747c6f92ae4e
* Version Independent ID: 50b9882c-dcb0-ecc1-241b-1361ad2

[2022-02-15 22:07] SatishBoddu-MSFT commented on #88110
Please respond to the GITHUB issue directly, the images are uploaded to this issue! Please try attaching the images once again!
Thanks for the quick reply!!!

[2022-02-15 22:19] msmbaldwin commented on #87539
The v2 baselines now link to the v2 Benchmark. Thanks for catch this, @assilabdulrahim . #please-close

[2022-02-15 22:19] #87539 closed

[2022-02-15 22:22] wayneme75 commented on #87917
Thank you @JnHs . adding the link is good, I think there is value in perhaps giving an example of the kubeconfig file so that the reader has some expectation of what should be in the file.

[2022-02-15 22:26] benjaminjamesowens opened #88134 "Consent Experience Clarity"
There are some scenarios where the consent experience will not be displayed to the user, for example:

The user already accepted the consent experience.
The admin [grants tenant-wide admin consent to an application.

How can you do this to suppress a Review Permissions consent step not related to an app?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2022-02-15 22:30] ChaitanyaNaykodi-MSFT commented on #87940
Hello @robertspears
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-02-15 22:31] geraldwolff commented on #88050
Thank you

From: kobulloc-MSFT ***@***.***>
Sent: Tuesday, February 15, 2022 12:15 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: geraldwolff ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Tutorial Video (Issue #88050)

@geraldwolff <https://github.com/geraldwolff>  No worries! If you have any questions about the documentation, please don't hesitate to reach out to us

[2022-02-15 22:33] JimacoMS4 commented on #48777
Thanks for the thumbs up, @bastienmenis! Closing now.

#please-close

[2022-02-15 22:33] #48777 closed

[2022-02-15 22:34] JimacoMS4 commented on #82929
#please-close

[2022-02-15 22:34] #82929 closed

[2022-02-15 22:50] shridharrathi commented on #88008
Thanks @shwetamathur7 I can see the value coming through when using beta version of the API. I am just wondering if it is worth updating the doc with something like to get the value of the extension attribute, use the beta API.

[2022-02-15 23:07] kobulloc-MSFT commented on #88116
@porrascarlos802018 Thank you for your feedback on static disks!  We've assigned this to the document author for further review.

[2022-02-15 23:08] kobulloc-MSFT commented on #88117
@porrascarlos802018 Thank you for your feedback on dynamic disks!  We've assigned this to the document author for further review.

[2022-02-15 23:09] aschultz opened #88139 "How to signal text tracks for Azure Media Services content"
The adaptive media formats (DASH, HLS, Smooth) support text tracks (captions and subtitles) as either TTML or WebVTT. The Azure docs show how to add audio tracks, but how can text tracks be added to a presentation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ff36e56-f60d-2492-de34-ca30eea26764
* Version Independent

[2022-02-15 23:10] kobulloc-MSFT commented on #88096
@gourav445 Thank you for your feedback!  We are reviewing this and will get back to you shortly.

[2022-02-15 23:23] Karishma-Tiwari-MSFT commented on #88096
@v-alje
I couldn't find the GitHub Id for the author listed on the document detail section for this doc. I am assigning it to you as you have made changes to this doc before. Please feel free to assign to the right person. Thank you.

[2022-02-15 23:35] grminch commented on #69510
#reassign:grminch

[2022-02-15 23:45] v-alje commented on #88096
@Karishma-Tiwari-MSFT I'm sorry. I'm not on the content team and don't know who this should go to. My contribution was just a bulk search and replace for Loc.

[2022-02-15 23:46] peter-bertok commented on #64510
This issue should not be closed because the functionality is broken in scenarios that customers / end-users cannot resolve.

If using "listServiceSas" from an ARM template, it returns an invalid SAS that just doesn't work.

The only producers and consumers of SAS values are Microsoft-managed systems, including the Storage Accounts team, ARM team, and the C# SDK team.

No amount of documentation wi

[2022-02-15 23:52] chaisen2006 opened #88143 "public certificate in App service"
It is not very clear what is the difference between storing a Root CA in App service which can be used to validate a client certificate during mutual TLS & storing a public certificate for accessing a remote resource. Public certificate of server which App service would like to access. Is yes, then for TLS why do we need to store the server public certificate on App Service ( which is the client )

[2022-02-15 23:55] JimacoMS4 commented on #78066
#assign @yiyiguo

[2022-02-16 00:13] ChaitanyaNaykodi-MSFT commented on #88133
Hello @becnichelesmith
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-02-16 00:16] ChaitanyaNaykodi-MSFT commented on #88132
Hello @chaisen2006
Thank you for your feedback! We will review and update as appropriate.

[2022-02-16 00:17] markjbrown commented on #80238
@aswini405 can you provide more details on this ask? I need more information on exactly what is missing in our docs.

Thanks.

[2022-02-16 00:25] langfdp opened #88145 "Smart Detection Performance Anomalies - Email Configuration information incorrect."
Information about Configuring Email Notifications on this page isn't correct.

Page says "You can use the unsubscribe link in the smart detection email to stop receiving the email notifications."
There is no "Unsubscribe" link on the email notification.
The closest is probably the "Configure email recipients for this notification." link, but that only allows you to turn off or on whether email not

[2022-02-16 00:29] grminch commented on #74145
Hi @fgheysels,

I'm sorry it has taken so long to get back to you. I have forwarded this issue to the product team for further review. Thank you for all the details you provided. I will get back to you with more information soon.

[2022-02-16 00:30] markjbrown commented on #79812
Thanks for your feedback. The article points to many other languages such as Java and also environments such as Jupyter Notebook and Livy but does not provide specific examples for those either.

We try to maintain a balance of providing useful examples while also being concise to avoid huge overhead in maintenance. Users with adequate experience in Java, Scala, etc. should have no trouble followi

[2022-02-16 00:31] #79812 closed

[2022-02-16 00:43] JamesTran-MSFT commented on #88134
@benjaminjamesowens
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-02-16 00:44] KranthiPakala-MSFT commented on #88124
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-02-16 00:44] rthorn17 commented on #88133
Hi @becnichelesmith - Can you please clarify why you think MGs are not supported in Microsoft Customer Agreement Accounts?  There are no limitations to the type of subscriptions or tenants that can create Management Groups.  In fact, a customer can create management groups in a tenant that does not even have any subscriptions.

[2022-02-16 00:45] ChaitanyaNaykodi-MSFT commented on #87898
Hello @chriselleman-msft,
We have assigned this issue to the author to review further and take the next course of action.

[2022-02-16 00:45] KranthiPakala-MSFT commented on #88124
@midesa Could you please review the above feedback? Thank you

[2022-02-16 00:50] rthorn17 commented on #88014
Hi @ioapan - The resource hierarchy is a strict hierarchy that only allows a direct child under a Management Group to be a subscription.  A Resource Group can only be a child of a subscription in return.  Moving a subscription to be under a Management Group will force the resources groups of that subscription to be under the Management Group also.

[2022-02-16 00:51] markjbrown commented on #81892
Work on this will commence soon. Will update when this gets updated.

Thanks.

[2022-02-16 01:02] markjbrown commented on #84277
Apologies for the slow response here.

Thanks for providing your workaround. The key to your solution is the timeout 10.

As Cosmos DB is a multi-tenant service and resource governed, throughput is gated per second. In scenarios where users are doing very long bulk import operations, when using tools that do not have built in throttling, its necessary to do what you did in your example and amortiz

[2022-02-16 01:02] #84277 closed

[2022-02-16 01:08] MonikaReddy-MSFT commented on #88145
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-02-16 01:14] tamram commented on #64510
@peter-bertok - This forum is intended for documentation feedback only, which is why the issue was closed.

I will bring this to the attention of the engineering team once again.

[2022-02-16 01:19] markjbrown commented on #81892
We are tracking this update in a GitHub issue here, https://github.com/Azure/azure-sdk-for-java/issues/26730

When this gets published it will appear in our Spark docs here. I am now pushing a PR on this current doc to point users to our Spark docs on GitHub here below. This will ensure that users always see the latest information on config for this connector.

https://github.com/Azure/azure-sdk-f

[2022-02-16 01:19] #81892 closed

[2022-02-16 01:33] jeffmcaffer opened #88147 "Videos are cool but show me the text"
This tutorial appears to be all videos. I don't want to sit through multiple videos while I'm looking to get an overall sense or even a specific bit of info. I can't cut and paste from a video. So, I suggest that text be the primary form of tutorials and you can have videos if they might help.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2022-02-16 01:36] parkervoit opened #88148 "Typo in the docs"
In the section "Create an experiment", there is a misspelling of experiment.

"Create an experiment in your workspace. An experiemnt is a light-weight container that helps to organize run submissions and keep track of code."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b49515ab-308d-8e5d-0960-40ce43d4752d
* Version I

[2022-02-16 02:20] #87984 closed

[2022-02-16 02:20] #87985 closed

[2022-02-16 02:20] #87986 closed

[2022-02-16 02:21] msft-qifan opened #88149 "What's the Best Practices"
What does this mean in Best Practices section?

"_If you transmit this data during an current all you could use needed internet bandwidth that could be needed to help continue an ACS call (in cases when available bandwidth is low)_."

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e126921-d897-e99c-b24d-e39f762fccb5
*

[2022-02-16 02:56] RohitMungi-MSFT commented on #88148
@parkervoit Thanks for spotting this. We are investigating the issue and will update you shortly.

[2022-02-16 03:26] MixolydianV opened #88153 "Table lists incorrect MDS info"
In the "Tools" table it lists Master Data Services (MDS) as "No" under the "Azure SQL Managed Instance" heading. However, when you click through [the MDS page](https://docs.microsoft.com/en-us/sql/master-data-services/master-data-services-overview-mds?view=sql-server-ver15) it shows at the top that it is supported by Azure SQL Managed Instance with the green tick.

---
#### Document Details

⚠ *Do

[2022-02-16 03:27] SumanthMarigowda commented on #88097
@thegrahamking Thanks for the question! We are investigating and will update you shortly.

[2022-02-16 03:45] AnuragSharma-MSFT commented on #88147
@jeffmcaffer Thank you for the feedback. Before the start of the videos there is a GitHub repo link provided where the entire code sample is available. We can download it and then refer to the videos side by side to understand the code.

![image](https://user-images.githubusercontent.com/66360845/154192292-7677c065-0c70-40d6-bd3f-ab8b55cc56e0.png)

Please let us know if this helps.

[2022-02-16 03:47] AnuragSharma-MSFT commented on #87965
@isthistechsupport Awaiting your response on this.

[2022-02-16 03:55] yull1860 commented on #87913
**>>> created_time_from = datetime.min

"testing w/  = '**0001-01-01 00:00:00** - 2022-02-10 17:50:07.650003'"

use above parameter will result Error : Please provide value for 'createdTimeFrom' parameter.

- without await , got below error

/azure-functions-host/workers/python/3.9/LINUX/X64/azure_functions_worker/dispatcher.py:257: RuntimeWarning: coroutine 'DurableOrchestrationClient.purge_insta

[2022-02-16 04:49] tigormanmsft opened #88154 "Ensure readers understand that certain steps should be performed for all databases on VM, not just for one."
The probable cause of failures in ICM #285563151 (entitled "[IAASVM],[BACKUPFAIL] | [roblagut] | Azure VM backup with enhanced pre-post framework fails at pre-script phase") is that the customer performed configuration steps that should be performed in all databases on the VM on only one of the databases in the VM.

Specifically, on this page ([HERE](https://docs.microsoft.com/en-us/azure/virtual-

[2022-02-16 05:03] AjayKumar-MSFT commented on #88109
@booyaa, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2022-02-16 05:05] AjayKumar-MSFT commented on #88139
@aschultz, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2022-02-16 05:29] AjayKumar-MSFT commented on #88113
@aaronmanill,  Thanks for the question! We are taking a look into this and will get back to you soon.

[2022-02-16 05:33] AjayKumar-MSFT commented on #88149
@msft-qifan, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2022-02-16 06:02] SadiqhAhmed-MSFT commented on #87882
@DeSeelam For assistance to clarify the mentioned query.

[2022-02-16 06:03] mike-urnun-msft commented on #88123
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-02-16 06:05] racchen opened #88156 "Add "publicNetworkAccess" as Web App Networking feature"
When using Azure Build-in policy [Configure App Services to disable public network access](https://docs.microsoft.com/en-us/azure/app-service/policy-reference), we can disable the public network access to the Web App. All public requests returned 403 after enable this feature.

This policy changes a parameter called "publicNetworkAccess" under Microsoft.Web/sites/config to "Disabled".
![image](htt

[2022-02-16 06:08] VikasPullagura-MSFT commented on #88154
@tigormanmsft
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-02-16 06:08] VikasPullagura-MSFT commented on #88154
@cro27
Can you please check and add your comments on this doc update request as applicable.

[2022-02-16 07:06] rajyraman opened #88157 "Unable to see the Service Tag in Azure Firewall"
Even though this page says that it is applicable for NSG and Firewall, I am unable to see the service tags for Power Platform in Firewall.
![image](https://user-images.githubusercontent.com/5035266/154213993-f9e00957-3937-4f64-a3e7-3e838ff93c8c.png)
![image](https://user-images.githubusercontent.com/5035266/154214133-36484c23-f4cc-4286-af8a-382b27a98e8b.png)

![image](https://user-images.githubuse

[2022-02-16 07:15] AnuragSharma-MSFT commented on #87875
@ericjiang20 Thanks for replying back. I created new servers and database and was able to run the commands mentioned in the document successfully.

However I was able to reproduce the error message when providing the wrong SID. Can you please run the 3rd step query again and copy it from the result window as it and try?

Also please tell me if these servers were already existing or you created the

[2022-02-16 07:21] Givary commented on #88003
@lightupdifire

Thank you for reaching out to us. Reviewed your ask, This article https://docs.microsoft.com/en-us/azure/active-directory/enterprise-users/groups-quickstart-expiration primarily refers to how to enable Microsoft 365 Groups.

Information which you are looking for related to Microsoft 365 Groups has been documented here https://support.microsoft.com/en-us/office/learn-about-microsoft

[2022-02-16 07:36] michael-freidgeim-webjet opened #88158 "You can set the session lifetime up to 24 hours."
The page says: "You can set the session lifetime up to 24 hours."
It will be nice to provide a link describing how exactly it can be done.
Also it will be good to specify what is default value.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9627f2fa-6005-9c15-2824-03b7bcd4aae9
* Version Independent ID: 619e1eea-ed67-99

[2022-02-16 07:53] michael-freidgeim-webjet commented on #88158
Link to  https://docs.microsoft.com/en-us/azure/active-directory-b2c/configure-tokens?pivots=b2c-custom-policy will be sufficient

[2022-02-16 08:06] lightupdifire commented on #88003
@Givary
Exactly! Where it is documented and explained about possibilities for the "selected" option?

![image](https://user-images.githubusercontent.com/39700914/154221943-eb309241-3def-4e25-aaa6-a63a6b16e204.png)

[2022-02-16 08:07] AnuragSharma-MSFT commented on #88153
@MixolydianV Thank you for the feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2022-02-16 08:09] AnuragSharma-MSFT commented on #87967
@CedricSteenbeke Thank you for the feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2022-02-16 08:23] zipon commented on #87640
@Karishma-Tiwari-MSFT How is it going with this bug?

[2022-02-16 08:31] Ericgre commented on #88077
as the doc is updated, and the customer said that the conf was missing the setting, we can close the issue https://docs.microsoft.com/en-us/azure/app-service/reference-app-settings?tabs=kudu%2Cdotnet#custom-containers

[2022-02-16 08:31] #88077 closed

[2022-02-16 08:32] doroodgar opened #88160 "rasool"
"پلتفرم بازاریابی گوگل این رشد را تسهیل می کند."
 https://marketingplatform.google.com/about/enterprise/#:~:text=%D9%BE%D9%84%D8%AA%D9%81%D8%B1%D9%85%20%D8%A8%D8%A7%D8%B2%D8%A7%D8%B1%DB%8C%D8%A7%D8%A8%DB%8C%20%DA%AF%D9%88%DA%AF%D9%84%20%D8%A7%DB%8C%D9%86%20%D8%B1%D8%B4%D8%AF%20%D8%B1%D8%A7%20%D8%AA%D8%B3%D9%87%DB%8C%D9%84%20%D9%85%DB%8C%20%DA%A9%D9%86%D8%AF.

[2022-02-16 08:35] doroodgar commented on #88160
# - []()~~_[]()```

# > # ```_~~12333@PRMerger4 **_~~```
@SyntaxC4 56@jamarw
[code]

[2022-02-16 08:40] mountain65 opened #88161 "func new HttpTrigger only works when WebJobs package installed"
When you run the proposed
` func new --name HttpExample --template "HTTP trigger" --authlevel anonymous ` you might get an error telling you that the template does not exist.

[code]

You need `dotnet new --install Microsoft.Azure.WebJobs.ItemTemplates` to install the right template

Would be nice to add that to the documentation.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit t

[2022-02-16 09:08] PeteHaigh-MSFT opened #88164 "Downloadable version?"
Hi team - nice to see this paper land - will we have a downloadable (PDF) version?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c758f24-c795-7b35-2c48-420cf0857b5e
* Version Independent ID: 5ab98986-d4e4-2d00-8bc0-fca44460d7f1
* Content: [Azure Synapse Analytics security white paper - Azure Synapse Analytics](https:

[2022-02-16 09:12] peter-myers commented on #88164
Hi @PeteHaigh-MSFT - there's not a single PDF document available for download. You can, however, create a PDF of Docs articles by using the "Download PDF" link located at the bottom left.

#please-close

[2022-02-16 09:12] #88164 closed

[2022-02-16 09:17] SubhashVasarapu-MSFT commented on #87636
@ziyor, since we have not heard back from you, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2022-02-16 09:17] #87636 closed

[2022-02-16 09:37] madsd commented on #88156
@racchen we are working on bringing this to portal and docs. You can use it now, but we have a bit more work before it is ready for broad availability. Do not hesitate to use it - and do let me/us know if you find any issues.

[2022-02-16 09:42] dannradkov opened #88168 "Any NIDS/NIPS, WAF , RASP implementation on Azure Bastion out of the box"
Customer security teams always ask to understand more about the applied endpoint security for Azure Bastion. According to the baseline (https://docs.microsoft.com/en-us/security/benchmark/azure/baselines/bastion-security-baseline?toc=/azure/bastion/TOC.json#endpoint-security), it is Microsoft responsibility. However, can we say if there is any kind of NIDS/NIPS, WAF , RASP implementation on Azure

[2022-02-16 09:55] GitaraniSharma-MSFT commented on #88157
@rajyraman , thank you for your feedback. We'll investigate and update as appropriate!

[2022-02-16 09:57] GitaraniSharma-MSFT commented on #88168
@dannradkov , thank you for your query. We'll review this and get back to you shortly!

[2022-02-16 10:03] leswaters commented on #75040
Hi @LitKnd...  Thank you and @SQLSourabh for addressing this issue/question.

It seems the new documentation refers to "Non-XML" data formats but oddly completely avoids using the term such as 'CSV' -- the format in question to begin with.  While Non-XML might include CSV (does it?), that is not at all obvious in the documentation page.   If I were search for CSV and mapping table columns, the sea

[2022-02-16 10:07] doroodgar opened #88169 "درخواست ها را بکشید 9https://github.com/doroodgar/docs/blob/3de8d7a726b49b5314a0b72151a9bf99beaf054e/lib/graphql/README.md"
https://github-com.translate.goog/rmosolgo/graphql-ruby/pulls?_x_tr_sl=auto&_x_tr_tl=fa&_x_tr_hl=fa-IR

[2022-02-16 10:08] ManasaDevadas commented on #47482
Please add a proper document around this.

[2022-02-16 10:15] #87379 closed

[2022-02-16 10:20] doroodgar opened #88170 "مخازن GitHub را با استفاده از HTTPS شبیه‌سازی"
https://docs-github-com.translate.goog/en/github/getting-started-with-github/about-remote-repositories?_x_tr_sl=auto&_x_tr_tl=fa&_x_tr_hl=fa-IR

[2022-02-16 10:29] shwetamathur7 commented on #88084
@graviaDaemon Thanks for pointing this out.
 I have also tried to replicate the sample tutorial in my lab and facing the error to call MS Graph operations as lines of code are missing to return the response(accessToken).

It should be

[code]
As this need code to be changed and tested for all scenarios, I am assigning this to author to work with product team and update the documentation accordingl

[2022-02-16 10:30] alfogo opened #88171 "Add references to "Offer URL" and "Trial URL" fields instead of "Landing Page URL""
Hi,

In this article we see how to set up the landing page for "Get it now" and "Free trial" SaaS offerings not transactable through Microsoft.

This doc is a bit confusing because we see references to "Landing Page URL", but when you try to setup a "Get it now"/"Free trial" SaaS offering from the "Offer setup" tab in Partner Center (not transactable through Microsoft) you don't see any "Landing P

[2022-02-16 10:50] SreejaBhattacharya-MSFT commented on #87787
Hi @MarcosMMartinez , please follow this [#1480](https://github.com/Azure/AKS/issues/1480) issue to get the updates. As per the last update, product team is looking at April for Public Preview on AKS.

[2022-02-16 10:50] #87787 closed

[2022-02-16 10:58] TommyPollyblank opened #88172 "Unlimited library storage virtual cloud memory"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2022-02-16 11:21] shashishailaj commented on #88170
@doroodgar Thank you for opening this issue. We use azure-docs repository for collecting feedback on azure related documentation. If you have queries on any azure related documentation , please let us know and we will be happy to help you further. If we do not recieve a response from your side by tomorrow , we will be closing this issue.

[2022-02-16 11:21] shashishailaj commented on #88169
@doroodgar Thank you for opening this issue. We use azure-docs repository for collecting feedback on azure related documentation. If you have queries on any azure related documentation , please let us know and we will be happy to help you further. If we do not recieve a response from your side by tomorrow , we will be closing this issue.

[2022-02-16 11:21] shashishailaj commented on #88160
@doroodgar Thank you for opening this issue. We use azure-docs repository for collecting feedback on azure related documentation. If you have queries on any azure related documentation , please let us know and we will be happy to help you further. If we do not recieve a response from your side by tomorrow , we will be closing this issue.

[2022-02-16 11:22] shashishailaj commented on #88143
@chaisen2006 Thank you for your feedback . We will investigate and update the thread.

[2022-02-16 11:24] shashishailaj commented on #88158
@michael-freidgeim-webjet Thank you for your inputs . We will review this with the content team and update the thread.

[2022-02-16 11:30] shashishailaj commented on #88172
@TommyPollyblank Thank you for opening an issue in azure-docs repository . We use this repository for collecting feedback on our documentation . However with the information you have provided in the title , things are not very clear as to which specific document your query is related to . Could you please share the link to the azure documentation which your query is related to, and we can help you

[2022-02-16 12:00] brunoshine opened #88174 "legacy code?"
Hi all,

this page still refers to events that I think do not happen anymore, like the LocateAnchorStatus.NotLocated.

cheers,
Bruno

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 47ed5367-ee97-31a2-78ff-dd98e5c23d24
* Version Independent ID: 2e975197-ca07-351a-f538-372500c0cc8f
* Content: [Creat

[2022-02-16 12:07] lkchild opened #88175 "These instructions don't work"
When entering the copy-and-pasted KQL into the alert and running it the following error message is displayed.

'project' operator: Failed to resolve table or column expression named 'SigninLogs'
If issue persists, please open a support ticket. Request id: 4cd1b585-56ec-4ba8-a716-5949d59d1979

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2022-02-16 12:16] AjayKumar-MSFT commented on #87773
stambunan, Apologies for the delay in responding here! While I was discussing on this internally, when you say "_This didn't work_"- did you receive any specific error message? and you mentioned "_The certificate then needs to be imported to the correct webspace first before it can be used_." did you resolve this by moving to the intended RG-region?

-As noted in the [Azure doc here](https://docs.

[2022-02-16 12:45] leppie opened #88176 "sys.dm_exec_query_profiles link points to wrong url"
Points to
https://docs.microsoft.com/en-us/sql/relational-databases/system-dynamic-management-views/sys-dm-exec-query-plan-stats-transact-sql?view=sql-server-ver15

Instead of
https://docs.microsoft.com/en-us/sql/relational-databases/system-dynamic-management-views/sys-dm-exec-query-profiles-transact-sql?view=sql-server-ver15

---
#### Document details

⚠ *Do not edit this section. It is required

[2022-02-16 12:54] smat91 opened #88177 "IoT Edge Simulator"
Is it possible to use the IoT Edge Simulator with iot central instead of iot hub? If yes where coud i get the needed connetion string? And if not is it planed for the future or is there an alternetive method to debug the modules without the pysical edge device?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a3f2f86-40

[2022-02-16 13:09] AshokPeddakotla-MSFT commented on #88174
@brunoshine Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-02-16 13:11] AshokPeddakotla-MSFT commented on #87683
Since there is no issue with the doc,  please post your query on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/) and we will happily continue the conversation. and also there is a community that can help (plus the engineering team).

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the di

[2022-02-16 13:11] #87683 closed

[2022-02-16 13:20] ElanShudnow opened #88179 "Missing a Step for Site Referrals to Work"
Just built this out with DFS-R.  Built an On-Premises File Server and an Azure Files Premium Storage Account.  We have 2 AD Sites, one for Azure and one for On-Premises and associated the Subnets to the appropriate AD Site.

When we add the On-Premises File Server UNC Path, it appropriately shows the AD Site within the DFS-N MMC.  However, when we add in the Azure Files UNC Path, it shows the AD S

[2022-02-16 13:29] Bellarmine-Head opened #88180 "JSON property for the id of the user"
The doc says this in various places:-

[code]

but in actual responses I'm getting property `puid` instead of `pid`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9463e77-5a47-08e3-56b5-fe215ec7893c
* Version Independent ID: 9a60bc80-4bf0-0ed2-56e1-55ae88adfff5
* Content: [SaaS fulfillment Subscription APIs v2 in Mic

[2022-02-16 13:37] shashishailaj commented on #87874
As we have not received any response on this. we will be closing this thread. Should you still have any further query on this , please mention the related azure document and open a new issue referencing this once and we will be happy to help further.

[2022-02-16 13:37] #87874 closed

[2022-02-16 13:43] sushmitasingh06 opened #88181 "we have seen customers asking for scalability limits of Premium block blob storage."
we have seen customers asking for scalability limits of Premium block blob storage.

Though we have dedicated documentation for this topic [here](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fazure%2Fstorage%2Fblobs%2Fscalability-targets-premium-block-blobs&data=04%7C01%7Cv-sushsingh%40microsoft.com%7Cb1ae981d467948a4043108d9ed8e3a04%7C72f988bf86f14

[2022-02-16 13:53] maondrej opened #88182 "Azure AD Connect Cloud Sync - Azure ADDS Support"
Dear All,

 it would be great if you could add to FAQ why Azure ADDS is not supported and what is exactly meant by this.

Does this mean I cannot use Azure AD Connect Cloud Sync in hybrid environment if I'm using Azure ADDS ? For example

I'm using Azure Virtual Desktop and session hosts are joined to Azure ADDS. In this scenario can I use Azure AD Connect Cloud Sync to sync my identities from on-

[2022-02-16 14:04] j0eyv commented on #62842
Same issue here. Anyone found a solution? Looks like the exclude and include parameters don't do anything.

[2022-02-16 14:06] xelizondo opened #88183 "Better clarification around scenarios supported with vWAN"
This page is the main landing for customers to understand at high-level what scenarios/architectures they can leverage with vWAN.
I have received several times feedback from customers stating that the VNet to Internet scenario is ambiguous and not even included as an option in the a-h list (secured hub includes it but yet not very clear).  Also, a link reference of additional scenarios that will b

[2022-02-16 14:21] verhyppo opened #88184 "Partner Ingestion API Swagger does not work"
The link reported ad the end of [this](https://docs.microsoft.com/en-us/azure/marketplace/azure-app-apis#step-3-use-the-microsoft-store-submission-api) section, brings to a broken link loosing access to the OpenAPI description for the Microsoft Partners submission center

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9

[2022-02-16 14:23] AronT-TLV commented on #85434
Please advice if you want me to open another ticket for this: this page should also suggest what image to use that supports the nvidia plugin if you want to connect to a gpu-based node. I came across this issue while investigating how to solve that problem.

[2022-02-16 14:28] arionl commented on #75627
Is this considered _closed, won't fix_ meaning that this is never going to be fundamentally resolved and we'll just need to continue to use the work-arounds? I'm building out a new tenant and I'd rather lean heavily on role-based groups vs. individual users..

[2022-02-16 14:31] gamullen opened #88185 "Add Data Similar to Link Below"
A customer pointed me at [this link](https://applipedia.paloaltonetworks.com/), which makes it simple to search on protocols, web sites, etc. and see how it is categorized in the Palo Alto ruleset.

We should have a similar page.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bef38298-89c0-6c77-fb9d-7bf6bd5dc030
* Versi

[2022-02-16 14:39] JamesTran-MSFT commented on #88175
@lkchild
Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-16 14:41] JamesTran-MSFT commented on #88182
@maondrej
Thanks for your feedback! I've assigned this issue to the author who will investigate and update the documentation as appropriate.

For your questions, since they aren't directly related to improving our docs, I'd recommend leveraging our [Q&A forum](https://docs.microsoft.com/en-us/answers/products/) by posting your issue there so our community, and MVPs can further assist you.

Thank y

[2022-02-16 14:41] ctahok opened #88186 "View Designer transitioned to Workbooks."
View Designer has been [transitioned ](https://docs.microsoft.com/en-us/azure/azure-monitor/visualize/view-designer-conversion-overview?WT.mc_id=Portal-AppInsightsExtension)to Workbooks but the article is not updated to reflect it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1fcfaf5b-78ea-ac05-bebe-806430114ca9
* Ve

[2022-02-16 14:46] JamesTran-MSFT commented on #88186
@ctahok
Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-16 14:49] JamesTran-MSFT commented on #88186
@ctahok
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2022-02-16 14:49] #88186 closed

[2022-02-16 14:52] AnuragSharma-MSFT commented on #88176
@leppie Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-02-16 14:52] capdragon opened #88188 "No Examples for Azure DevOps"
You really should have prioritize providing examples using your own Azure DevOps products over GitHub examples.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2db5100c-6804-3290-7986-e203119751b0
* Version Independent ID: e03089e8-acc5-6926-3883-d38e7bc1ae41
* Content: [Tutorial: Implement Azure Policy as Code with Git

[2022-02-16 14:56] adresser22 opened #88189 "B2C Starter Pack Article Clarification Suggestion"
Hello,

The guide specifically advises to use the SocialAndLocalAccounts pack from the downloadable .zip file and gives all the subsequent steps there on how to configure the .xml files themselves. Once all the files have been modified there is a specific error which comes up if the user chooses to not use the Facebook Identity Provider.

The error I am referencing is "1 validation error(s) found

[2022-02-16 14:58] JamesTran-MSFT commented on #88189
@adresser22
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-02-16 15:12] renaudwangler opened #88190 "Typo in Sample"
Hi.

Just a small typo on the second code sample :
as stated in the "New-AzLoadBalancerBackendAddressConfig" documentation the correct vNet parameter is "**-VirtualNetworkid**" and its value should be **VirtualNetwork.id**
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed6443fd-7d44-4afe-803e-78bd61b6aee9
* Version Inde

[2022-02-16 15:13] JCoreMS opened #88191 "Update to v2021 Request"
A customer of mine asked about this article being related to the 2020 version and denoted there is now a 2021 version. Do we intend to update this article to reflect those changes?
https://www.swift.com/myswift/customer-security-programme-csp

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa9531bf-0ff8-3f31-e720-e74f6d

[2022-02-16 15:15] #88191 closed

[2022-02-16 15:24] LitKnd commented on #81831
#reassign:  joplum

[2022-02-16 15:24] PRMerger18 commented on #81831
The following users don't have valid GitHub IDs, or are not collaborators on this repo: joplum

[2022-02-16 15:25] PRMerger4 commented on #81831
The following users don't have valid GitHub IDs, or are not collaborators on this repo: joplum

[2022-02-16 15:25] LitKnd commented on #81831
#reassign: LitKnd

[2022-02-16 15:27] w0ut0 opened #88192 "Describe the impact of allow/denylists on orchestration using ADF/Synapse"
Databricks jobs are often scheduled using Azure Data Factory and/or Synapse.
What is the impact of this IP restrictions on this orchestration? Can we add service tags?

Thanks for elaborating.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb833fb7-abf9-432d-ab67-8b94c445407d
* Version Independent ID: 082b9e2c-aabd-1ff

[2022-02-16 15:27] JamesTran-MSFT commented on #88094
@TobiasAT
The Combined registration experience will automatically be the default experience for any Azure AD tenant(s) `created after August 15th 2020`, for [more info](https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-registration-mfa-sspr-combined). For existing tenants there isn't a defined date within 2022 for when this feature will be enabled.

If you'd like to se

[2022-02-16 15:27] #88094 closed

[2022-02-16 15:46] LitKnd commented on #88035
#reassign: @MikiMakhlevich

[2022-02-16 15:47] LitKnd commented on #88035
#assign:  tomerrt

[2022-02-16 15:48] eloekset opened #88193 "Fewer details here than the Azure portal error message"
Deployment fails because of conflict error. The error message in Azure portal explains a bit what the error means, and then links to this page for further information. But there's actually less information on this page than in the error message itself.

Please describe how to avoid conflict errors. To me it seems like a bug in Azure deployment, because I just merged a pull request deploying access

[2022-02-16 15:50] JamesTran-MSFT commented on #88102
@jpdfr-msft
Thank you for your time and patience!

From our [Azure Key Vault REST API](https://docs.microsoft.com/en-us/rest/api/keyvault/) documentation, I didn't find an Encrypt/Decrypt or Sign API for Managed HSMs. However, for both Encrypt and Decrypt API operations within the Key Vault the size limit looks to be `dependent on the target key and the encryption algorithm to be used`.

[Encrypt

[2022-02-16 15:50] #88102 closed

[2022-02-16 15:50] LitKnd commented on #87215
#reassign: Madhumitatripathy

[2022-02-16 15:51] PRMerger6 commented on #87215
The following users don't have valid GitHub IDs, or are not collaborators on this repo: dabrookl

[2022-02-16 15:56] JamesTran-MSFT commented on #88103
@Baryczka
Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our [Q&A forum](https://docs.microsoft.com/en-us/answers/products/) by

[2022-02-16 15:56] #88103 closed

[2022-02-16 16:10] #87764 closed

[2022-02-16 16:11] MonikaReddy-MSFT commented on #88184
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-02-16 16:12] MonikaReddy-MSFT commented on #88180
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-02-16 16:13] MonikaReddy-MSFT commented on #88171
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-02-16 16:14] SumanthMarigowda commented on #88039
@byronwjones Firstly apologies for the delay response!   Your feedback has been shared with the content owner for further review.

[2022-02-16 16:15] SumanthMarigowda commented on #88072
@jgezelscorp The PR has been initiated, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-02-16 16:15] SumanthMarigowda commented on #88097
@thegrahamking Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2022-02-16 16:18] #85143 closed

[2022-02-16 16:29] goosvorbook opened #88194 "Improve documentation"
Please include an example of a filepath that contains spaces such as C:\Program Files (x86)\test\access*.log

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf637b70-eb07-3fd7-4594-c52af96f5ad8
* Version Independent ID: 29eced7b-1277-4ee1-21d0-0079d6b95a2f
* Content: [Collect custom logs with Log Analytics agent in Azur

[2022-02-16 16:35] JamesTran-MSFT commented on #88175
@lkchild
Thank you for your time and patience!

Prior to running the KQL example queries, can you make sure you followed the [prerequisite](https://docs.microsoft.com/en-us/azure/active-directory/roles/security-emergency-access#prerequisites) of [Integrating Azure AD logs with Azure Monitor logs](https://docs.microsoft.com/en-us/azure/active-directory/reports-monitoring/howto-integrate-activity-lo

[2022-02-16 16:37] eloekset commented on #88193
I think I've solved my issue, and it may be interesting to know what I did.

![image](https://user-images.githubusercontent.com/791721/154310649-90e344c4-0975-4f35-87ad-aae8b48049e1.png)

First all access policies for Azure KeyVault lived as part of the main KeyVault resource in keyVault.bicep. Then I moved that part into a separate accessPolicies resource in that same keyVault.bicep file at the s

[2022-02-16 16:43] JamesTran-MSFT commented on #88193
@eloekset
Thank you for following up on this and for providing the solution!

If you run into any other issue, I'd recommend leveraging our [Q&A forum](https://docs.microsoft.com/en-us/answers/products/) by posting your issue there so our community, and MVPs can further assist you in troubleshooting the issue or finding potential workarounds.

Since this issue isn't directly related to improving o

[2022-02-16 16:46] lkchild commented on #88175
Hi James,

For what it's worth I had done that and was able to get this going through a normal log search and then "create alert rule" from that, albeit with a different error message.  It needs the microsoft.insights resource provider to be added to the subscription.  Not sure if that caused the error doing it as described, but it could be another thing to add to the instructions.

This link help

[2022-02-16 16:47] eloekset commented on #88193
Maybe the docs can link to this issue at least, for others running into the same issue and being directed to that page with less information than the error message itself.

[2022-02-16 16:50] JamesTran-MSFT commented on #88175
@lkchild
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2022-02-16 16:50] lkchild commented on #88175
thanks James :)

[2022-02-16 17:09] #79397 closed

[2022-02-16 17:10] barneschism opened #88198 "PS command to take APIM revision offline does not work"
There seems to be conflicting information here.  Documentation states "If you use PowerShell, you can use the Set-AzApiManagementApiRevision cmdlet and set the Path argument to $null." however, it also then states that

"If you are editing a non-current revision of an API, you cannot change the following properties:

Name
Type
Description
Subscription required
API version
API version description
P

[2022-02-16 17:16] ChaitanyaNaykodi-MSFT commented on #88190
Hello @renaudwangler
Thank you for your feedback! We will review and update as appropriate.

[2022-02-16 17:16] eloekset commented on #88193
Actually, after the successful deployment, I didn't get the expected outcome. Not all access policies had been applied, and I have no idea why. But I ran it again, and this time it failed again with that same conflict error. So to me it seems totally random whether that conflict error occurs or not.
![image](https://user-images.githubusercontent.com/791721/154319822-22504679-4cec-4c86-9d7c-154d8f0

[2022-02-16 17:18] ChaitanyaNaykodi-MSFT commented on #88185
Hello @gamullen
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-02-16 17:26] tcsougan opened #88200 ""vaultcore.azure.net" doesn't work as public zone forwarder, only 'vault.azure.net' does"
[Enter feedback here]
 On the list of public zones forwarders for Key vaults, it will be better to get rid of "vaultcore.azure.net" because it doesn't work. Only 'vault.azure.net' does.
https://docs.microsoft.com/en-us/azure/key-vault/general/private-link-service?tabs=portal#validate-that-the-private-link-connection-works

vmadmin@kv-vm:~$ nslookup

Server:         127.0.0.53
Address:        127.0

[2022-02-16 17:29] markjbrown commented on #70199
Apologies for the very slow reply to this.

I have reviewed this and have updated the link to point to a newer version of our To Do app sample. This is in a PR now and should publish sometime today.

thanks for reporting. Will close this issue now.

#please-close

[2022-02-16 17:29] #70199 closed

[2022-02-16 17:29] JamesTran-MSFT commented on #88193
@eloekset
Thank you for following up with this!

I've assigned this issue to the author to see if we can add more clarity when it comes to the error codes and potential troubleshooting.

However, as for your issue, to gain a better understanding of your set-up and environment, I'd recommend working closer with our support team via an [Azure support request](https://docs.microsoft.com/en-us/azure/a

[2022-02-16 17:29] SatishBoddu-MSFT commented on #88177
Thanks for the feedback! We will update you shortly.

[2022-02-16 17:30] boumenot opened #88201 "Download Link is Broken"
The VPN download link referenced in this article is broken.  The link from the article is https://go.microsoft.com/fwlink/?linkid=2117554.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9ef898a-0b72-e018-8a3d-6f14f62e1119
* Version Independent ID: b62b5b8f-bc88-0868-a2f6-1020a5097460
* Content: [Configure VPN clients f

[2022-02-16 17:31] ahmedmahmoudR commented on #88062
I have the same issue

[2022-02-16 17:34] MashaMSFT commented on #84571
Hi @v-sashig , thanks for bringing this to our attention! The documentation has been updated and this issue should be resolved. I'll close out this Git Issue, but please feel free to comment should you need anything further.

Thanks again for contacting Microsoft, and I hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#please-close
#reassign:MashaMSFT

[2022-02-16 17:34] PRMerger5 commented on #84571
GitHub user SQLSourabh has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2022-02-16 17:34] KranthiPakala-MSFT commented on #88192
Thanks for leveraging Azure docs feedback channel to raise this question. This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. We didn't determine any changes for this documentation upon reviewing this feedback.

If your query is specific to a use case, we request you to please reach out in forums like [Microsoft Q&A](https://docs.micros

[2022-02-16 17:35] ivanzotov1975 commented on #83901
What was reason to stop supporting of Cloud Explorer in Visual Studio 2022. It's good tool and i'm still using VS 2019 instead of 2022 only because of this.

[2022-02-16 17:37] mimckitt commented on #88028
We are currently reevaluating how we calculate Azure Compute Units weights for our Virtual machine performance benchmarks to account for updates in processor architecture from our CPU providers.

Docs will be updated accordingly as information becomes available.

#please-close

[2022-02-16 17:37] #88044 closed

[2022-02-16 17:39] mimckitt commented on #87973
We have this called out in the doc already. Setting to Manual disables automatic updates

![image](https://user-images.githubusercontent.com/32313503/154323559-a1601f6f-69c6-4906-9222-99bd3f9e1148.png)

#please-close

[2022-02-16 17:50] DerekHerman-MSFT commented on #87948
@dazinator
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-02-16 18:01] longtimedeveloper commented on #83901
@ivanzotov1975 I've migrated to VS 2022 so I can use .NET 6 and the newer API's.  I'm using the Aure Storage Explorer and it works fantastic.  Zero issues so far. [https://docs.microsoft.com/en-us/azure/vs-azure-tools-storage-manage-with-storage-explorer?tabs=windows](https://docs.microsoft.com/en-us/azure/vs-azure-tools-storage-manage-with-storage-explorer?tabs=windows)

If you do go with VS 2022

[2022-02-16 18:02] ChaitanyaNaykodi-MSFT commented on #88201
Hello @boumenot, Thank you for your feedback.
Although when I click on the Link below from the documentation.
<img width="337" alt="image" src="https://user-images.githubusercontent.com/67453298/154326083-942fe6f8-27a9-40b7-a2b8-51bb9d9bc266.png">

 I am redirected from https://go.microsoft.com/fwlink/?linkid=2117554 to https://www.microsoft.com/en-us/p/azure-vpn-client-preview/9np355qt2sqb?rtc=2&

[2022-02-16 18:05] Swimburger opened #88202 "Should the Luis Authoring key be kept secret?"
The docs page suggests to hardcode these variables:
[code]
and
[code]

Shouldn't all of these variables come from configuration instead of hardcoding?

I understand that for the sake of simplicity, hardcoding is easier for tutorials, but I'm more worried about the `key` variable.
Is this key variable supposed to kept secret? The luis.ai interface and this code sample gives me the impression that y

[2022-02-16 18:15] massand opened #88204 "Cosmos DB trigger page is old"
The page shows how to add a new function that is triggered by Cosmos DB changes. However, the steps show some old screenshots when the portal allowed creating the function on the portal. The latest steps involve VS Code and publishing from there. Please fix this because our customers are not aware of the VS Code flow until they complete half the steps on that page.

---
#### Document Details

⚠ *D

[2022-02-16 18:21] markjbrown commented on #86523
Thank you for your feedback. The first sentence in the second table is incorrect. I have removed the  _No read or write availability loss._ from that table to be consistent. This is in a PR and will publish shortly.

Thanks. Will be closing this issue now.

#please-close

[2022-02-16 18:21] #86523 closed

[2022-02-16 18:23] SamaraSoucy-MSFT commented on #88161
Thanks for the feedback! We will review and get back to you shortly.

[2022-02-16 18:25] SamaraSoucy-MSFT commented on #88198
Thanks for the feedback! We will review and get back to you shortly.

[2022-02-16 18:36] grminch commented on #80059
This section (step 1) contains the outdated packages: [dotnet add package](https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-concept-authenticate-oauth#update-the-startup-class-to-support-github-authentication)

Updated for current packages:
dotnet add package Microsoft.AspNetCore.Authentication.Cookies --version 2.2.0
dotnet add package AspNet.Security.OAuth.GitHub --version 6.0.4

#re

[2022-02-16 18:40] grminch commented on #53727
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. We are closing this issue for now, but if you feel that it's still a concern, please respond and let us know. If you determine another possible update to our documentation, please don't hesitate to reach out ag

[2022-02-16 18:40] #53727 closed

[2022-02-16 18:50] boumenot commented on #88201
I am running an up-to-date Edge browser, on a Microsoft IT supplied laptop.  I don't think I've done anything to affect the way the links are handled.

![image](https://user-images.githubusercontent.com/91112/154334998-de5d3def-5e30-4c42-9af9-be10babd9997.png)

Even having text that says it is available in the Windows Store would have been helpful.  The dead link made me think I had to download it

[2022-02-16 18:59] grminch commented on #55007
Thank you for your comments regarding SignalR. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. We are closing this issue for now, but if you feel that it's still a concern, please respond and let us know.  #please-close

[2022-02-16 19:02] dkboon01 opened #88206 "please add another example of the sql statement without http trigger passing the parameter in the query string"
please add another example of the sql statement without http trigger passing the parameter in the query string. Use just a string variable

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a437aab4-edd6-00f0-c9e0-52bf7be7747e
* Version Independent ID: 71031e09-b2a4-cbb5-e5e1-0798a1676755
* Content: [Azure SQL input bindin

[2022-02-16 19:03] samadara-msft commented on #87973
@mimckitt, are you able to reopen this issue?
I already saw this calling out but it's just a property for ARM template and it is not clear, that property cannot be used with Azure PowerShell or CLI.  It is not clear for our customers. My question was specific to "Need sample PowerShell/CLI/ARM template examples for disabling automatic VM guest patching for new VM deployment scenario". Just like we

[2022-02-16 19:08] JimacoMS4 commented on #81714
#reassign @wesmc7777

[2022-02-16 19:11] RaymondBorbon opened #88207 "Using managed identities for connection to Redis"
Hello,

I would like to use managed identity to connect to Azure Cache Redis. Currently all the samples I find seem to use a storage account. We have a current configuration that has a secret in a keyvault with the connection string.

It seems our code would be more secure if we can get rid of connection strings and use managed identities. Is there a sample on how to do this? Or is it not achievab

[2022-02-16 19:15] WilliamDAssafMSFT commented on #87768
#assign:WilliamDAssafMSFT
#assign:nanditavalsan

[2022-02-16 19:15] PRMerger8 commented on #87768
Users williamdassafmsft are already assigned.

[2022-02-16 19:15] WilliamDAssafMSFT commented on #87768
#assign:nanditavalsan

[2022-02-16 19:16] srdan-bozovic-msft commented on #87819
The feature is in private preview. Once we move to the public preview documentation would become available.

[2022-02-16 19:19] HolisticDeveloper opened #88208 "Update Cosmos DB Quickstart to select API option before entering other settings"
The Azure UI now asks the user to select the type of Cosmos API (Core, MongoDB, etc.) prior to filling in the other account details. Step 3 should tell the reader to select **Create** in the "Core (SQL) - Recommended" box.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f1447c3-9885-7225-1b63-8e568bdfe04f
* Version Ind

[2022-02-16 19:19] anavinahar commented on #87966
Hi @jye-aviatrix - we are working to create an example and an update of this category of docs. Thanks for your feedback and patience.

[2022-02-16 19:22] LitKnd commented on #86940
Hi @chetta19 ,

Thanks for reporting this issue to us. I have staged a Pull Request today to update this article's text and screenshots to match the current portal experience. I expect that this will merge either today or within a couple of business days (if extra review is needed) and that changes should show up soon.

Thank you again for helping us make the docs better!

Kendra from the Database

[2022-02-16 19:23] #86940 closed

[2022-02-16 19:24] LitKnd commented on #85909
Hi @mielniczekm ,

Thanks for reporting this issue to us. I have staged a Pull Request today to update this article's text and screenshots to match the current portal experience. I expect that this will merge either today or within a couple of business days (if extra review is needed) and that changes should show up soon.

Thank you again for helping us make the docs better!

Kendra from the Datab

[2022-02-16 19:24] #85909 closed

[2022-02-16 19:25] YutongTie-MSFT commented on #87920
@MrCordeiro Thanks for reaching out to us again, I just try to reproduce your error but the guidance works well for me. Could you please share the whole error message? If that's related to input?

[2022-02-16 19:25] LitKnd commented on #79481
Hi @HitenBhavsarMSFT ,

Thank you for reporting this issue. I have staged a Pull Request today to update this article's text and screenshots to match the current portal experience. I expect that this will merge either today or within a couple of business days (if extra review is needed) and that changes should show up soon.

Thank you again for helping us make the docs better!

Kendra from the Dat

[2022-02-16 19:25] #79481 closed

[2022-02-16 19:25] MashaMSFT commented on #87819
Hi @zojovano , thanks for contacting Microsoft! Since Srdan was able to address your question, I will proceed with closing out this Git Issue, but please feel free to comment should you need anything further.

Thanks again for reaching out and I hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#please-close

[2022-02-16 19:25] #87819 closed

[2022-02-16 19:40] ChaitanyaNaykodi-MSFT commented on #88201
Hello @boumenot, thank you for providing additional details. I will work on adding the text which mentions the Azure VPN client is available on the Windows store.
Meanwhile can you please confirm if you are able to access this link? (https://www.microsoft.com/en-us/p/azure-vpn-client/9np355qt2sqb#activetab=pivot:overviewtab) so that I can work with the doc author to add this link instead. Thanks.

[2022-02-16 19:40] BruceHaley opened #88211 "SubnetIsFull error code is not covered"
Would be nice to have advice listed for the SubnetIsFull error code.

My bot deployment failed with:
{
    "status": "Failed",
    "error": {
        "code": "DeploymentFailed",
        "message": "At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/DeployOperations for usage details.",
        "details": [
            {

[2022-02-16 19:41] grminch commented on #69107
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. We are closing this issue for now, but if you feel that it's still a concern, please respond and let us know. If you determine another possible update to our documentation, please don't hesitate to reach out ag

[2022-02-16 19:41] #69107 closed

[2022-02-16 19:42] AjayKumar-MSFT commented on #88132
chaisen2006,  Thanks for sharing information about your requirement. To keep you informed, this channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements.
While I check, could you please share the Azure doc for which this feedback is applicable to? Are you referring to this doc
[Configure TLS mutual authentication for Azure App Service](https://doc

[2022-02-16 19:53] AjayKumar-MSFT commented on #88149
@sloanster, Requesting your comments on this. Looks like we need to add additional clarity to this statement. Thank you!

[2022-02-16 20:01] #78737 closed

[2022-02-16 20:04] grminch commented on #61981
#reassign:vicancy

[2022-02-16 20:05] grminch commented on #65031
#reassign:vicancy

[2022-02-16 20:08] grminch commented on #66046
#reassign:vicancy

[2022-02-16 20:12] GeorgeTsilias commented on #11741
Same here. Cannot find a GPU quota under the subscription, even though I can see the NV and NC series vCPU quotas (those are the VM types that can accommodate a GPU).

[2022-02-16 20:22] stdistef opened #88215 "Bastion now supports VNet peering - update the diagram to show that"
The diagram should add (to the right) a VNet peered and a couple VMs in it.   The diagram reflects the older way and it was cost prohibitive for customers to have to have a Bastion on every VNet.  This is a big improvement, we need to reflect it ASAP.

![image](https://user-images.githubusercontent.com/35927980/154350656-aaeedca7-ef18-4346-98da-1f1d4de5a8e4.png)

---
#### Document Details

⚠ *Do n

[2022-02-16 20:22] levsea32 opened #88216 "Update to Fivetran listing on "Azure Synapse data integration partners" page"
Hi,

I managed the Microsoft Azure partnership for Fivetran and HVR.  Please update the Fivetran listing on [this page](https://docs.microsoft.com/en-us/azure/synapse-analytics/partner/data-integration), with the following items

1. Update the Fivetran product page to: https://www.fivetran.com/partners-microsoft-azure

2. Add the link to the Fivetran - Azure Marketplace transact-able offer listing

[2022-02-16 20:48] grminch commented on #67518
Azure Functions is up to v4 now. https://github.com/Azure/azure-functions-core-tools#installing

#reassign:vicancy

[2022-02-16 20:54] zhenlan commented on #81823
#close

[2022-02-16 21:00] grminch commented on #74145
#reassign:vicancy

[2022-02-16 21:07] boumenot commented on #88201
It does work.  I go to the Web page version of the Store.

![image](https://user-images.githubusercontent.com/91112/154356954-429f9efb-e752-4a21-a128-747a1bf01b15.png)

[2022-02-16 21:08] grminch commented on #80071
#reassign:vicancy

[2022-02-16 21:11] Justinha commented on #87336
@JamesTran-MSFT thanks for investigating. Which PS command needs to be added? Get-MsolUser examples didn't work?

[2022-02-16 21:21] ChaitanyaNaykodi-MSFT commented on #88215
Hello @stdistef
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-02-16 21:23] chaisen2006 commented on #88132
yes, thats the correct doc

[2022-02-16 21:25] grminch commented on #80618
Is it necessary to follow the graceful shutdown procedure for a serverless SignalR app?

#reassign:vicancy

[2022-02-16 21:34] dustinhess opened #88217 "these steps don't work"
This documentation doesn't actually match up with how the Azure AD app registration experience is today. I just completed it in two different azure tenants. Here are the instructions we had to use to get SSO working, and they worked like a charm with JAMF:
https://hcsonline.com/images/Identity_Management_Azure_Jamf.pdf

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2022-02-16 21:35] GeethaThatipatri-MSFT commented on #88207
Hi @RaymondBorbon Thanks for your findings, We will investigate and update as appropriate

[2022-02-16 21:36] grminch commented on #81537
The role links have been fixed and it seems that the SignalR Service Reader and "Serverless Contributor" have been removed. The other questions remain unresolved. We should discuss changes to this article.

#reassign:vicancy

[2022-02-16 21:37] GeethaThatipatri-MSFT commented on #88208
Hi @HolisticDeveloper Thanks for your findings,We will investigate and update as appropriate

[2022-02-16 21:45] WilliamDAssafMSFT commented on #87768
Thanks @willcotton-msft for pointing this out. We've got a doc update in flight to clarify. The Azure SQL built-in roles in this doc's Permissions section apply to a dedicated SQL pool (formerly SQL DW) but are not available for dedicated SQL pools and other SQL resources within Azure Synapse workspaces. For SQL resources in Azure Synapse workspaces, use the available actions for data classificati

[2022-02-16 21:45] #87768 closed

[2022-02-16 22:03] JamesTran-MSFT commented on #88217
@dustinhess
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-02-16 22:07] onderyildirim opened #88218 "Documentation error regarding CPU Throttling"
Under "Restrict module memory and CPU usage" section doc states you need to set CpuPeriod to throttle Cpu

CpuPeriod: The length of a CPU period in microseconds. The default value is 100000 so, for example, a value of 25000 limits a container to 25% of the CPU resources.

However if you use CpuPeriod, it should be used along with CpuQuota so that to set 25% CPU throttle you need to use

  "HostCon

[2022-02-16 22:09] #87888 closed

[2022-02-16 22:14] stambunan commented on #87773
Hey @AjayKumar-MSFT , it did not import the key vault certificate properly and instead showed the `Successfully imported Key Vault Certificate: /subscription/etcetc` message instead. This was attempted through the Azure portal and no matter how many tries we attempted, it was still the same message.

When I tried to attach the certificate using a bicep template, it gave me a different warning, som

[2022-02-16 22:16] kobulloc-MSFT commented on #87851
@cynthn In isolation that command works but in trying to get that to work on my VMs I'm seeing the folder created, but not the extracted zip as expected.

[2022-02-16 22:19] JamesTran-MSFT commented on #87336
@Justinha
Yes, the Get-MsolUser examples need to be updated, or you can add a way to get the correct activity report result codes as seen within the [Download activity reports result codes](https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfa-reporting#downloaded-activity-reports-result-codes) section.

The first and second PS commands are outputting just the UPN for us

[2022-02-16 22:20] ChaitanyaNaykodi-MSFT commented on #88201
Hello @boumenot,
The doc author has made the suggested change.
The link https://go.microsoft.com/fwlink/?linkid=2117554 is now redirecting to https://www.microsoft.com/en-us/p/azure-vpn-client/9np355qt2sqb#activetab=pivot:overviewtab

[2022-02-16 22:22] boumenot commented on #88201
Awesome!  Thank you for listening, and very quick turnaround.

[2022-02-16 22:22] #88201 closed

[2022-02-16 22:27] alteredtastes opened #88219 "C# examples are missing ConnectionStringSetting, thus are currently not working examples"
C# examples on this page are missing the  `ConnectionStringSetting = <SIGNAL_R_CONNECTION_STRING> parameter that should be passed alongside HubName. Other language examples show that the connection string reference is required but C#'s examples do not.

For example, SendToGroup should be

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2022-02-16 22:28] KranthiPakala-MSFT commented on #87888
@srakm The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2022-02-16 22:33] ChaitanyaNaykodi-MSFT commented on #88200
Hello @tcsougan
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-02-16 22:46] ddanboyle opened #88221 "New url required in firewalls now, just be aware...."
The firewall section of this article is missing a critical url which we had to have in our firewalls to get this to work, ‘eastus2.login.microsoft.com’.  All our arc clusters started failing within 2 weeks, and we had to put this url into the firewall to get them to work.  We had to open a support incident.

This article mentions nothing of the new url requirement.

---
#### Document Details

⚠ *D

[2022-02-16 22:59] robertstarling opened #88222 "Undocumented requirement for multiple default gateways causes Internet connectivity error"
Specifying a default gateway for more than one interface can cause the "Internet connectivity" test to fail as reported by the Diagnostic tests (unless all such interfaces can reach the internet, which I don't think is a documented requirement).

Unfortunately this is a fairly mainline issue since the current workflow naturally encourages setting the default gateway for each interface being config

[2022-02-16 23:03] mbiver opened #88223 "Specify removeable drive policy/registry locations"
Hello, team.  We specify a section about making sure DVD-ROM is not disabled, but we don't tell the customer which GPO's or registry settings to check or clear.  Could we add a section to do this?  Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b9c0d7a-bbf5-eccc-f2ca-a825bf42c82f
* Version Independent ID: 58aa

[2022-02-16 23:03] YutongTie-MSFT commented on #87920
We will now proceed to close this thread since the document works well. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2022-02-16 23:03] #87920 closed

[2022-02-16 23:10] DerekHerman-MSFT commented on #88181
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-02-16 23:21] JnHs commented on #87917
@wayneme75 I've updated the prerequisites so will close this issue now. More details on the kubeconfig file is outside of the scope of this quickstart (since it's not specific to Azure Arc scenarios) but the link should be helpful. Thanks again for taking the time to share your feedback.
#please-close

[2022-02-16 23:21] #87917 closed

[2022-02-16 23:24] adrianhall commented on #39884
Thanks for providing feedback that helps improve our documentation. We have moved away from applications, and now refer to products.  We have added a terminology section and an explicit section in concepts introducing subscriptions bound to products.  We hope this addresses your feedback.

#please-close

[2022-02-16 23:24] #39884 closed

[2022-02-16 23:25] JnHs commented on #84711
Hello again, I'm sorry for the long delay in responding. I'm going to close this issue now but will follow up with you directly to see if you still need information about this.
#please-close

[2022-02-16 23:25] #84711 closed

[2022-02-16 23:27] adrianhall commented on #18475
Thanks for providing feedback that helps improve our documentation.

We have added a bullet item in the "Next steps" section on how to upload certificates.

This issue has been resolved and we are closing the issue. #please-close

[2022-02-16 23:27] #18475 closed

[2022-02-16 23:27] cynthn commented on #87851
@kobulloc-MSFT So, even changing the escapes, the snippet only creates the folder, but doesn't extract the .zip file?

It's also an example, I don't think it was intended to be used "as-is", so there could very well be something fundamentally wrong with it.

[2022-02-16 23:31] geraldwolff opened #88225 "testing the training package FFMPEG"
After installing and building the solution the following error persists even after updating the  framework
It was not possible to find any compatible framework version
****_The framework 'Microsoft.NETCore.App', version '2.1.0' (x64) was not found.
  - The following frameworks were found:
      6.0.2 at [C:\Program Files\dotnet\shared\Microsoft.NETCore.App]

You can resolve the problem by installi

[2022-02-16 23:33] HartD92 commented on #87851
@cynthn @kobulloc-MSFT The file is dropped in the working directory by Azure as an extensionless file. Prior to extracting the zip, you need to rename the file from myapp to myapp.zip. The full command should look like this:
`rename myapp myapp.zip && mkdir C:\myapp && powershell.exe -Command "Expand-Archive -path myapp.zip -destinationpath C:\myapp"`

[2022-02-16 23:33] adrianhall commented on #23263
#reassign:dlepow

Seems like the identified green block just needs to be linked to App Gateway.

[2022-02-16 23:35] adrianhall commented on #29661
I think we need to document the process (which Mikael has done for us), then introduce the template as is.

#reassign:dlepow

[2022-02-16 23:35] PRMerger18 commented on #29661
GitHub user miaojiang has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2022-02-16 23:37] adrianhall commented on #30970
#reassign:dlepow

[2022-02-16 23:37] elbarnit commented on #46433
#reassign:dlepow Improve the explanation of the formula and add an example calculation

[2022-02-16 23:39] robertstarling opened #88226 "Compute page has been renamed to Advanced networking"
Documentation refers to the Compute page.  However it appears this has been renamed to Advanced networking in more recent versions.

![image](https://user-images.githubusercontent.com/70387748/154375511-5ee748c6-8bcc-40e8-ae65-004630cf7bf0.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5366053-3126-d583-a98b-3078

[2022-02-16 23:40] adrianhall commented on #31977
Thank you for your feedback.  The page already has a note about needing matching custom domain certificates, so we feel this is covered already.

#please-close

[2022-02-16 23:40] #31977 closed

[2022-02-16 23:41] adrianhall commented on #32705
This update has now been pushed out.

#please-close

[2022-02-16 23:41] #32705 closed

[2022-02-16 23:42] elbarnit commented on #46889
Because this issue does not relate to documentation, we are closing this issue. #please-close

[2022-02-16 23:42] #46889 closed

[2022-02-16 23:43] robertstarling commented on #88226
Actually I see this has already been updated in the published version below.  Closing

https://docs.microsoft.com/en-us/azure/databox-online/azure-stack-edge-gpu-deploy-configure-network-compute-web-proxy?pivots=single-node#configure-virtual-switches-and-compute-ips

[2022-02-16 23:43] #88226 closed

[2022-02-16 23:43] adrianhall commented on #33481
This document has now been updated.  Thank you for the suggestion.

#please-close

[2022-02-16 23:43] #33481 closed

[2022-02-16 23:45] elbarnit commented on #47773
This issue has been resolved and we are closing the issue. #please-close

[2022-02-16 23:45] #47773 closed

[2022-02-16 23:45] adrianhall commented on #34437
We have a specific document on how to log to Azure Application Insights here: https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-app-insights

#please-close

[2022-02-16 23:45] #34437 closed

[2022-02-16 23:46] elbarnit commented on #48516
Because this issue does not relate to documentation, we are closing this issue. #please-close

[2022-02-16 23:46] #48516 closed

[2022-02-16 23:46] adrianhall commented on #34667
Our VNET Reference Guide answers this question: https://docs.microsoft.com/en-us/azure/api-management/virtual-network-reference?tabs=stv2

#please-close

[2022-02-16 23:46] #34667 closed

[2022-02-16 23:48] adrianhall commented on #35310
There is a link about defining TLS priorities in this document at the point you suggest, which I believe fixes this issue.

#please-close

[2022-02-16 23:48] #35310 closed

[2022-02-16 23:48] elbarnit commented on #49343
#reassign:dlepow add clarification/link to more info about what type of cache the internal is

[2022-02-16 23:49] elbarnit commented on #49356
Because this issue does not relate to documentation, we are closing this issue. #please-close

[2022-02-16 23:49] #49356 closed

[2022-02-16 23:50] adrianhall commented on #36926
Thank you for your issue report. This documentation would be better served within the Terraform documentation, and we've noted this to the team.  We will also be doing a large update soon to include AZ CLI, PowerShell, and ARM deployments for all places where we use Azure Portal.  This is tracked in an internal work item.

#please-close

[2022-02-16 23:50] #36926 closed

[2022-02-16 23:51] adrianhall commented on #37475
A quick check has indicated this document has been recently updated for the new AAD UI.  We hope this addresses your concerns.

#please-close

[2022-02-16 23:51] #37475 closed

[2022-02-16 23:52] elbarnit commented on #50800
@smoms please refer to the documentation on subscriptions and products here: https://docs.microsoft.com/en-us/azure/api-management/api-management-subscriptions https://docs.microsoft.com/en-us/azure/api-management/api-management-terminology#term-definitions #please-close

[2022-02-16 23:52] #50800 closed

[2022-02-16 23:53] adrianhall commented on #37496
Thank you for your feedback.  At this time, we are unable to update the documentation as you suggest, but have created an internal work item associated with explaining mocking better to track this work, which will be done at a future date.

#please-close

[2022-02-16 23:53] #37496 closed

[2022-02-16 23:54] adrianhall commented on #38004
#reassign:dlepow

[2022-02-16 23:56] elbarnit commented on #52157
#reassign:dlepow

[2022-02-16 23:56] adrianhall commented on #38432
Thank you for your feedback.  It looks like it has been handled, so we will close this issue.

#please-close

[2022-02-16 23:56] #38432 closed

[2022-02-16 23:58] elbarnit commented on #52430
#reassign:elbarnit will followup on this

[2022-02-16 23:58] PRMerger20 commented on #52430
GitHub user miaojiang has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2022-02-16 23:59] adrianhall commented on #38772
Based on the conversation, I think you can see that App Gateway between APIM and the Web API is an anti-pattern.   since it has been a while since there has been any update, we'll close this.  Thank you to everyone for providing input here.

#please-close

[2022-02-16 23:59] #38772 closed

[2022-02-17 00:00] elbarnit commented on #53688
#reassign:dlepow

[2022-02-17 00:00] adrianhall commented on #38896
We've added this document to the set for this purpose: https://docs.microsoft.com/en-gb/azure/api-management/api-management-howto-mutual-certificates

#please-close

[2022-02-17 00:00] #38896 closed

[2022-02-17 00:01] elbarnit commented on #54165
#reassign:dlepow

[2022-02-17 00:01] PRMerger20 commented on #54165
GitHub user miaojiang has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2022-02-17 00:02] adrianhall commented on #39015
#reassign:dlepow

[2022-02-17 00:02] elbarnit commented on #54392
This is updated. #please-close

[2022-02-17 00:02] #54392 closed

[2022-02-17 00:03] adrianhall commented on #39558
#reassign:dlepow

[2022-02-17 00:04] elbarnit commented on #54605
#reassign:dlepow

[2022-02-17 00:04] PRMerger17 commented on #54605
GitHub user miaojiang has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2022-02-17 00:05] elbarnit commented on #54833
Because this issue does not relate to documentation, we are closing this issue. #please-close

[2022-02-17 00:05] #54833 closed

[2022-02-17 00:05] cynthn commented on #83997
@aktifit You can't update an existing VM to be a Trusted Launch VM. There is no path to convert the VM. I believe you need to delete the VM and re-create it as a Trusted Launch VM.

If you have a VM that was created as a Trusted Launch VM, you can make changes to the vTPM and secure boot settings after it has been created. But, you can't make an existing VM a Trusted Launch VM.

[2022-02-17 00:06] adrianhall commented on #40095
When importing anything to a non-current API revision, you have to be aware of the limitations: https://docs.microsoft.com/en-gb/azure/api-management/api-management-api-import-restrictions - certain things in the specification cannot change.

#please-close

[2022-02-17 00:06] #40095 closed

[2022-02-17 00:07] elbarnit commented on #54879
#reassign:dlepow please update this doc to be more accurate to the current experience

[2022-02-17 00:07] adrianhall commented on #40309
#reassign:dlepow

[2022-02-17 00:07] elbarnit commented on #54890
#reassign:dlepow

[2022-02-17 00:08] elbarnit commented on #54896
#please-close

[2022-02-17 00:08] #54896 closed

[2022-02-17 00:10] adrianhall commented on #40683
The ApiManagement service tag is defined as the NSG requirements for the gateway functionality that we know about.  Obviously, we don't know about your backend services, which is why they are not included.  We've included a detailed write-up of what is in the ApiManagement service tag in the reference section.

#please-close

[2022-02-17 00:10] #40683 closed

[2022-02-17 00:10] elbarnit commented on #55956
#reassign:dlepow

[2022-02-17 00:11] elbarnit commented on #56332
#please-close as specified in the doc, when set to 0 the renewal period will be infinite

[2022-02-17 00:11] #56332 closed

[2022-02-17 00:12] adrianhall commented on #41005
Thank you for your feedback.   Based on Miao's discussion, I believe this is handled at this point.  Please feel free to re-open if you disagree.

#please-close

[2022-02-17 00:12] #41005 closed

[2022-02-17 00:13] elbarnit commented on #56986
#reassign:dlepow

[2022-02-17 00:13] PRMerger17 commented on #56986
GitHub user miaojiang has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2022-02-17 00:14] elbarnit commented on #58784
#reassign:dlepow

[2022-02-17 00:14] adrianhall commented on #43049
#reassign:dlepow

[2022-02-17 00:14] PRMerger18 commented on #43049
GitHub user miaojiang has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2022-02-17 00:15] SatishBoddu-MSFT commented on #88110
Hello @AlanPintor-git

I have followed the document on: [Tutorial: Create a rule and set up notifications in your Azure IoT Central application](https://docs.microsoft.com/en-us/azure/iot-central/core/tutorial-create-telemetry-rules) to define Email Rule and i can see the Email got triggered on the set rule.

![image](https://user-images.githubusercontent.com/62923178/154379201-bad3fe9f-1e35-441f-

[2022-02-17 00:17] adrianhall commented on #43195
The "version this API?" isn't handled in the specific tutorial.  It is handled in the versioning tutorial: https://docs.microsoft.com/en-us/azure/api-management/api-management-get-started-publish-versions

#please-close

[2022-02-17 00:17] #43195 closed

[2022-02-17 00:18] elbarnit commented on #58867
Please see https://docs.microsoft.com/en-us/azure/api-management/api-management-access-restriction-policies#ValidateJWT for more info on the validate-jwt policy #please-close

[2022-02-17 00:18] #58867 closed

[2022-02-17 00:19] elbarnit commented on #59394
#please-close

[2022-02-17 00:19] #59394 closed

[2022-02-17 00:19] adrianhall commented on #43810
#reassign:dlepow

[2022-02-17 00:19] elbarnit commented on #59767
This doc was recently updated #please-close

[2022-02-17 00:19] #59767 closed

[2022-02-17 00:20] elbarnit commented on #59837
#reassign:dlepow

[2022-02-17 00:20] PRMerger15 commented on #59837
GitHub user miaojiang has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2022-02-17 00:21] adrianhall commented on #45012
The complete data set that is provided to Application Insights is documented here: https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-app-insights

#please-close

[2022-02-17 00:21] #45012 closed

[2022-02-17 00:22] elbarnit commented on #61515
Because this issue does not relate to documentation, we are closing this issue. #please-close

[2022-02-17 00:22] #61515 closed

[2022-02-17 00:23] elbarnit commented on #62124
#please-close

[2022-02-17 00:23] #62124 closed

[2022-02-17 00:23] adrianhall commented on #69879
#reassign:dlepow

[2022-02-17 00:26] elbarnit commented on #67186
#please-close

[2022-02-17 00:26] #67186 closed

[2022-02-17 00:27] adrianhall commented on #70505
I could not reproduce the effect you are seeing, so I think I have to put this down to a VS Code environment issue and a problem with the extension installation.  Please try this with a clean install of VS Code and the extension.  If you still have problems, feel free to open an issue on the vscode extension repository.

#please-close

[2022-02-17 00:27] #70505 closed

[2022-02-17 00:27] elbarnit commented on #67762
#reassign:dlepow let's refresh this doc

[2022-02-17 00:27] PRMerger15 commented on #67762
GitHub user miaojiang has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2022-02-17 00:28] adrianhall commented on #56857
#reassign:dlepow

[2022-02-17 00:28] elbarnit commented on #68121
#reassign:dlepow

[2022-02-17 00:29] adrianhall commented on #70584
#reassign:dlepow

[2022-02-17 00:30] adrianhall commented on #74056
This has been released.

#please-close

[2022-02-17 00:30] #74056 closed

[2022-02-17 00:31] elbarnit commented on #55313
Because this issue does not relate to documentation, we are closing this issue. #please-close

[2022-02-17 00:31] #55313 closed

[2022-02-17 00:33] elbarnit commented on #55319
#reassign:dlepow seems like there's some configuration issues

[2022-02-17 00:33] PRMerger3 commented on #55319
GitHub user miaojiang has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2022-02-17 00:33] Neil65 opened #88227 "Confusing screenshot"
In the page section "Add the GitHub secret" the screenshot is a bit confusing because it looks like you're supposed to add 'AZURE_CREDENTIALS' rather than 'AZURE_FUNCTIONAPP_PUBLISH_PROFILE'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a0ad9be-7b06-1d81-0339-3776b7fedca2
* Version Independent ID: 83637bff-1ba9-3421

[2022-02-17 00:33] elbarnit commented on #55336
Because this issue does not relate to documentation, we are closing this issue. #please-close

[2022-02-17 00:33] #55336 closed

[2022-02-17 00:38] daraco commented on #81940
@JamesTran-MSFT  Hi James, just pinging again to see if there's any potential to have someone look into this?

[2022-02-17 00:43] aknielson commented on #34331
Why is this issue closed?  There is a very large ongoing problem where people can't "leave an organization" because they no longer can login to that organization.  It causes many problems when tools try and authenticate against an organization you no longer wish to be part of.  The answer cannot be that we are at the mercy of admins at a company we no longer work with, right?

[2022-02-17 00:43] LifeRyuto opened #88228 "Could you please document the minimum required subnet size?"
Could you please document the minimum required subnet size like Managed Instance, a similar service does below?
https://docs.microsoft.com/en-us/azure/azure-sql/managed-instance/vnet-subnet-determine-size

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9dfacd9d-6903-1cd0-2db7-110b70e14d3b
* Version Independent ID: 4c3e1

[2022-02-17 00:49] brandonros opened #88229 "functions-bindings-service-bus-trigger.md Docker + Terraform?"
How to deploy with Terraform and wrap in Docker container?

Getting this error:

`2022-02-16T22:52:26.589Z ERROR - Container redacted didn't respond to HTTP pings on port: 80, failing site start. See container logs for debugging.`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d50399c-0873-e903-35ca-1845c84b6c6c
* Ver

[2022-02-17 01:18] LifeRyuto opened #88230 "Please add MySQL & PostgreSQL flexible servers"
Could you please add MySQL & PostgreSQL flexible servers as supported services?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2422f8ec-802e-7f92-c499-9181f3fe8d8b
* Version Independent ID: eb2b0e2c-8fb5-573c-ef0d-50073d053c3d
* Content: [Virtual network for Azure services](https://docs.microsoft.com/en-us/azure/virtua

[2022-02-17 01:22] MonikaReddy-MSFT commented on #88221
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-02-17 01:23] ChaitanyaNaykodi-MSFT commented on #88179
Thank you for your feedback! We will review and update as appropriate.

[2022-02-17 01:24] ChaitanyaNaykodi-MSFT commented on #88188
Hello @capdragon
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-02-17 01:26] ChaitanyaNaykodi-MSFT commented on #88194
Hello @goosvorbook
Thank you for your feedback! We will review and update as appropriate.

[2022-02-17 01:27] michael-freidgeim-webjet opened #88231 "Why we need SessionExpiryInSeconds when SingleSignOn is enabled?"
The following paragraphs seem inconsistent.

But in https://docs.microsoft.com/en-us/azure/active-directory-b2c/session-behavior?pivots=b2c-custom-policy#configure-a-relying-party-file it is said

Should SessionExpiryInSeconds be completely ignored if cookie will be valid for 30 days?
If SessionExpiryInSeconds  is still used, please provide clarification when it takes effect.

---
#### Document De

[2022-02-17 01:44] markjbrown commented on #71216
@lohithgn my apologies for the extreme delay in responding to this issue.

I appreciate your effort to create a .NET sample for MongoDB that matches our Family database example. Since your initially opened this issue another on our team took an existing Web API MongoDB sample from the .NET docs and updated it to use as our .NET sample for MongoDB.

Thanks again for your contribution. I'm sorry we

[2022-02-17 01:44] #71216 closed

[2022-02-17 01:44] markjbrown commented on #71216
assign:markjbrown

[2022-02-17 02:03] GeethaThatipatri-MSFT commented on #88228
Hi, @LifeRyuto Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-17 02:12] RaymonZh commented on #88000
Hello @PriyankaRudramaina
Thanks for your confirming. It will be really helpful if you can tell me How long will it take? 1 day or 5 days maybe?

[2022-02-17 02:16] markjbrown commented on #80527
assign:markjbrown

[2022-02-17 02:17] markjbrown commented on #80527
#assign:markjbrown

[2022-02-17 02:18] markjbrown commented on #79812
#assign:markjbrown

[2022-02-17 02:19] KranthiPakala-MSFT commented on #88216
Hi @levsea32
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

@gillharmeet Could you please have a look at the above feedback and update the document as appropriate. Thank you

[2022-02-17 02:19] markjbrown commented on #81892
#assign:markjbrown

[2022-02-17 02:20] markjbrown commented on #70199
#assign:markjbrown

[2022-02-17 02:20] markjbrown commented on #79397
#assign:markjbrown

[2022-02-17 02:21] markjbrown commented on #83600
#assign:markjbrown

[2022-02-17 02:22] markjbrown commented on #71216
#assign:markjbrown

[2022-02-17 02:27] markjbrown commented on #80844
#assign:markjbrown

[2022-02-17 02:35] markjbrown commented on #80844
Our apologies for the extended delay in responding @prashanthmadi and thank you for this sample.

To use this as is would require adapting the markdown article itself that shows snippits of code. There are some other differences as well.

We do need to ensure our samples are compiling and working and using current versions. We will work to prioritize this effort and produce an updated sample.

I w

[2022-02-17 02:38] markjbrown commented on #80527
Thank you for your feedback and apologies for the long delay here.

I have updated this to correct the text to say MongoShell and not Javascript. Also fixed the snippit syntax hint as well.

This is now in a PR and merged. Should publish by tomorrow AM.

Thanks again.

#please-close

[2022-02-17 02:38] #80527 closed

[2022-02-17 02:39] KrishnaG-MSFT commented on #88211
@BruceHaley Thanks for the feedback.
Assigning to @davidsmatlak for visibility, review and document enhancement consideration as appropriate.

[2022-02-17 02:54] markjbrown commented on #78513
@TianyiLu  Thanks for the feedback and apologies for the extremely slow response.

We will work to get this page prioritized for updating.

Thanks.

#assign:markjbrown

[2022-02-17 03:07] MonikaReddy-MSFT commented on #88093
@sakkuntyo - Thanks again for bringing this to our attention. We have updated the Doc last week and there is nothing in document that should cause difference in languages. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-02-17 03:07] #88093 closed

[2022-02-17 03:11] MarcosMMartinez opened #88232 ""Using a Service Principal" needs to be revised."
This section asserts that the SP have contributor rights to the entire subscription. This is not appropriate and does not have parity with the rights we're asserting for the managed identity if the previous section.

We need to ensure the scope of the SP is defined.

![image](https://user-images.githubusercontent.com/29489962/154397596-3061000c-7eef-4acf-9459-f8f5d1a6175a.png)

---
#### Document D

[2022-02-17 03:11] markjbrown commented on #86376
If there is no further comment I will close this issue.

Thanks.

#please-close

[2022-02-17 03:11] #86376 closed

[2022-02-17 03:21] markjbrown commented on #82654
#assign:@abinav2307

[2022-02-17 03:22] amsilf opened #88243 "Throughput assumption in the "Estimating Price" section looks unrealistic"
There is an assumption on network throughput as 2 GBps via public internet ("Migrating data over HTTPS using first solution architecture"); Currently, 2 Gigabytes per second is an unachievable speed over the public internet. I double-check that it's not a typo and numbers are valid if and only if the speed is 2 GBps. Thus, I would assume final that the estimated price is incorrect.

Discussion on

[2022-02-17 03:29] markjbrown commented on #87083
Thanks @MixolydianV for your feedback. You are correct that passage and link back to the same page makes no sense.

I have removed it from the article and submitted a PR to update this in our docs. Should publish live by tomorrow.

Thanks again. Will close this issue now.

#please-close

[2022-02-17 03:29] #87083 closed

[2022-02-17 03:29] AnuragSingh-MSFT commented on #87945
@ozzy92, I hope the comment provided above has answered your questions. We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2022-02-17 03:29] #87945 closed

[2022-02-17 03:31] AshokPeddakotla-MSFT commented on #88218
@onderyildirim Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-02-17 03:37] markjbrown commented on #87734
Thanks @TealDep for your feedback. There are many more examples you can discover and explore by following the recommended reading links at the bottom of this article. For example:

-[NYC Taxi Data Notebooks](https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/cosmos/azure-cosmos-spark_3_2-12/Samples/Python/NYC-Taxi-Data)
-[Which are in a GitHub repo with more samples](https://github.com/Azur

[2022-02-17 03:37] #87734 closed

[2022-02-17 03:38] markjbrown commented on #87734
#assign:markjbrown

[2022-02-17 03:57] markjbrown commented on #86095
Thanks for your feedback @dgpoulet

I have updated that document to include the explanation provided in our SDK docs. This is now in a PR and should publish sometime tomorrow.

Thanks again

#please-close

[2022-02-17 03:57] #86095 closed

[2022-02-17 03:57] markjbrown commented on #86095
#assign:markjbrown

[2022-02-17 03:58] markjbrown commented on #86327
#assign:markjbrown

[2022-02-17 04:03] markjbrown commented on #86327
This is now in a PR. Should publish my tomorrow.

Thanks again.

#please-close

[2022-02-17 04:03] #86327 closed

[2022-02-17 04:25] shashishailaj commented on #88231
@michael-freidgeim-webjet Thankyou for your feedback . We will investigate and update the thread.

[2022-02-17 04:28] shashishailaj commented on #88067
As we have not received any response . We are closing this issue. Should you have any further query , please ad teh information about the document you had queries on and open a new issue in the repository.
Thank you.

[2022-02-17 04:28] SumanthMarigowda commented on #88222
@robertstarling Thanks for the question! We are investigating and will update you shortly.

[2022-02-17 04:28] shashishailaj commented on #88080
@doroodgar  As we have not received any response . We are closing this issue. Should you have any further query , please ad teh information about the document you had queries on and open a new issue in the repository.
Thank you.

[2022-02-17 04:28] SreejaBhattacharya-MSFT commented on #88225
Hello @geraldwolff
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-02-17 04:29] #88080 closed

[2022-02-17 04:30] shashishailaj commented on #88172
@TommyPollyblank  , I am just following up on this to get more information from you . Please let us know the details of your query and the related document link which will help us to help you better on this.

[2022-02-17 04:31] #88067 closed

[2022-02-17 04:44] ShaikMaheer-MSFT commented on #88243
@amsilf Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-02-17 04:56] ram-msft commented on #87900
The Pull  request #https://github.com/MicrosoftDocs/azure-docs-pr/pull/188913 has been raised for the same.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-02-17 04:56] #87900 closed

[2022-02-17 05:02] #88007 closed

[2022-02-17 06:09] RohitMungi-MSFT commented on #88148
@parkervoit The typo is now fixed. We will now proceed to close this thread.

[2022-02-17 06:09] #88148 closed

[2022-02-17 06:09] MayankBargali-MSFT commented on #88206
@dkboon01 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-02-17 06:16] MayankBargali-MSFT commented on #88229
@brandonros Can you share the document that you are following?
MicrosoftDocs Github issue is mainly related to the document issue. For any error/exception/triubleshhoting I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)
Once you post your issue on forums, it will have visibi

[2022-02-17 06:18] MayankBargali-MSFT commented on #88219
@alteredtastes Thank you for your feedback! We will review and update as appropriate.

[2022-02-17 06:19] MayankBargali-MSFT commented on #88227
@Neil65 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-02-17 06:43] ram-msft commented on #87964
@WeihanLi Thanks, At this time, viseme events are available only for English (US) [neural voices](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/language-support#text-to-speech) and will have support for custom neural voice in the near future.

Here is the blog azure neural-text-to-speech-extended-to-support-lip-sync.
https://techcommunity.microsoft.com/t5/azure-ai-blog/a

[2022-02-17 06:52] ram-msft commented on #87964
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-02-17 06:52] #87964 closed

[2022-02-17 07:39] vishalaj1 opened #88244 "Segemented Messages / Handling"
Hi Team,

In the documentation it does not mention limitations of the MQ Connector.

We are receiving messages which are segmented. Logic app connector is not able to receive those messages.

App runs for 15/20 mins and then returns a blank message.

Do you think segmented messages are supported?

Regards,
Vishal

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2022-02-17 07:52] KrishnaG-MSFT commented on #87962
@cveld AFAIK its possible as mentioned in https://github.com/MicrosoftDocs/azure-docs/issues/71989.
@bwren Can you provide an update on the outcome of workitem that is created as part of https://github.com/MicrosoftDocs/azure-docs/issues/71989?

[2022-02-17 07:55] AnuragSharma-MSFT commented on #87875
@ericjiang20 Please let us know if you were able to check it.

[2022-02-17 07:56] AnuragSharma-MSFT commented on #88147
@jeffmcaffer Awaiting your response on this.

[2022-02-17 07:58] v-hagamp commented on #87770
@zen-jsandford , Could you please share us a test account to collect the configuration screenshots and tp update in the document?
Please send us through  - SaaSApplicationIntegrations@service.microsoft.com

[2022-02-17 08:09] AnuragSharma-MSFT commented on #87816
@angusrw Thanks for your reply. We need not to copy everything but just the functions that are used in stored procedure. However let me try to repro it from my side and get back to you.

[2022-02-17 08:09] AnuragSharma-MSFT commented on #88176
@leppie Thanks for pointing this out. We have made the changes through a PR which could take few days to go live.

We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2022-02-17 08:10] WeihanLi commented on #87964
Hi @ram-msft , I had read this blog before, while it seemed there's no instruction for updating the lip position, are there more articles or blog posts on it?

[2022-02-17 08:22] jgarplind opened #88246 "Ambiguous statement: "Use the set-backend-service policy""
Based on my somewhat thorough testing, it seems that `<set-backend-service backend-id="..." />` will link my API request to a pre-configured Backend resource in API Management, whereas `<set-backend-service base-url="..." />` will not establish a link to that backend, even if the URLs match 100%.

If this is indeed how it works, it could be made more clear in the documentation that you need to ref

[2022-02-17 08:34] prochazkapavel7 opened #88247 "Please update this article for Windows 11"
Hi,

This article is not valid for Windows 11. Windows 10 is an old and obsolete system (all new computers comes with Windows 11 installed).  Please update this article.

The script usercert.ps1 does not run on Windows 11. Method **$session.CreateInstance** throws an exception with non-descriptive message:
Unable to create VpnTest profile: A general error occurred that is not covered by a more spe

[2022-02-17 09:19] richsage opened #88249 "TXT record options aren't specified for static web app custom domains"
The TXT record option for subdomain validation is not mentioned on the Static Web Apps custom domain configuration pages but is an option within the Azure Portal.

In addition - it would be good to get clarification at least here what type of TXT record validation options are available. The Azure Portal offers the only option of adding a TXT record of eg www for a subdomain with the validation cod

[2022-02-17 09:23] MrAzureAD opened #88250 "AWS SSO Limits not mentioned"
AWS SSO has strong and low limits (e.g. regarding number of accounts) that should be mentioned in the comparison table.
Details: https://docs.aws.amazon.com/singlesignon/latest/userguide/limits.html

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8fa5814d-91e2-2f75-77e7-62a8597f340c
* Version Independent ID: 458e93d7-a1

[2022-02-17 09:24] MrCordeiro commented on #87920
@YutongTie-MSFT, you took 6 days to come back to me, but only 4 hours before asking for the error message and closing this ticket? And those 4 hours were not even during the working hours period of my timezone. I wished you extended the same courtesy you were shown.

Anyways, here's the Environment's build log error.

[code]

The error still occurs. It's prompting for user input when a PAT was alr

[2022-02-17 09:42] zeeshaanali opened #88252 "VM SelfTest API doesn't work out of the box for Azure Server 2019 gen 2"
I tried to use [this ](https://docs.microsoft.com/en-us/azure/marketplace/azure-vm-image-test#on-windows-os)doc to run the VM self test API for Azure Server 2019 Gen2, but every time I see the common error as below.
1. I observed this magic port no. 5986 - later discovered that its related to WinRM which runs on two ports 5985 ( http ) and 5986 ( https ). I also restarted the WinRM service and res

[2022-02-17 09:44] lucarv opened #88253 "Ubuntu Server/Desktop"
[Enter feedback here]

In Tier 1 we mention Ubuntu Server (AMD64), int Tier 2 we mention Ubuntu (ARM32). This has cause some confusion on why it is different.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf820bbb-9fc6-2037-6d72-c63192763ed6
* Version Independent ID: b0c7e11b-3741-15f6-58e7-8529d492af47
* Content: [Sup

[2022-02-17 09:44] unckleg commented on #37847
Thanks @nin-o :rocket:

[2022-02-17 09:53] racchen commented on #88156
@madsd sure! I just checked but didnt see that in the preview portal. Look forward to having this feature in the portal. Thanks for checking and taking this idea.

[2022-02-17 09:59] AndrewMaisey opened #88254 "I got a little lost on the section "Create a device configuration policy in Intune", I think Azure has changed against the instructions here. Thanks."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c2015c6c-60c7-bb74-469c-e9320301d08a
* Version Independent ID: 0ff19de6-c892-10ff-5fe8-f6a70abfa3f5
* Content: [Self-service password reset for Windows devices - Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/authentic

[2022-02-17 09:59] spmanjunath opened #88255 "Naming rules and restrictions is missing for Azure Synapse resource type"
This page is missing naming rules and restrictions for the following resources,

- Azure Synapse Analytics
- Azure Synapse Analytics Workspaces
- Azure Synapse Analytics SQL Dedicated Pool
- Azure Synapse Analytics Spark Pool

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 374ec8eb-64d4-3766-5c5e-39137a262ffd
* Version

[2022-02-17 10:04] #88160 closed

[2022-02-17 10:05] Givary commented on #88160
@doroodgar if you have any questions related to azure docs, let us know.

[2022-02-17 10:09] AshokPeddakotla-MSFT commented on #88253
@lucarv Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-02-17 10:15] SnehaAgrawal-MSFT commented on #88249
@richsage Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-02-17 10:47] Klaas- commented on #86660
Duplicate of #83997

[2022-02-17 10:48] Klaas- commented on #83997
Closed via https://github.com/MicrosoftDocs/azure-docs/commit/56a53a0735f87c30a45a5fcdbb6627635e7433c6

[2022-02-17 11:03] scottwojack opened #88256 "Regex expressions in data flow Select do not work"
The Regex mapping only works on exact matches. In your documentation you have the text "The above example matches on regex pattern (r)". This does not work. I can only get a column matching if I specify the full name of the column. (r) only matches if the column name is "r".  I can can not get any regex expression to bring back a match. If my column name = startdate  my regex expression must be (s

[2022-02-17 11:21] martinzmw opened #88258 "Clarification about modelID needed"
#### Observed Behaviour

Hello,

the page states that

But, when I take a look in the device twin after starting the adu-agent ([iot-hub-device-update](https://github.com/Azure/iot-hub-device-update)) on Ubuntu it reports a different model ID:
[code]

The ID mentioned on the page can found only as the interface ID of the agent's reported properties:
[code]

#### Questions

So, how does the Device

[2022-02-17 11:27] matt-psaltis commented on #87591
Yes please! Trying to fix a P0 and this doesn't help :)

[2022-02-17 11:33] SreejaBhattacharya-MSFT commented on #88223
Hello @mbiver ,
Thanks for your feedback. I have assigned the issue to the content author to investigate further and update the document as appropriate.

Hi @genlin ,
Could you please take a look at this? Thanks.

[2022-02-17 11:50] cinamori opened #88260 "A new file is created even if the query is not used in PARTITION BY"
[Enter feedback here]
Please update the document.
https://docs.microsoft.com/en-us/azure/stream-analytics/blob-storage-azure-data-lake-gen2-output#blob-output-files

The part our customer would like you to update is:
**If the query is fully partitioned, and a new file is created for each output partition**

The customer did not use PARTITION BY in the query, but the compatibility level 1.2 specifi

[2022-02-17 11:51] doodlleus opened #88261 "accessTokenAcceptedVersion to 2 not working - Can't use third party domains as saml app"
"If you do not update the accessTokenAcceptedVersion to 2 you will recieve an error message requiring a verified domain"
this isn't true, as if you use any thirs party url it will throw the error, regardless of whether this value is set.whatever has changed means that unless i build the saml app myself and host it on a domain i own, then it will not work.

---
#### Document Details

⚠ *Do not edit

[2022-02-17 12:29] mikaelsand commented on #29661
I moved to another blog host and that seems to have messed up all sorts of things.
The blog post is gone. Then again it was almost 3 years ago...
Let me know if there is anything you think I can add.

[2022-02-17 12:29] #29661 closed

[2022-02-17 12:51] ericjiang20 commented on #87875
Hey, here is what I have done.

  1.  get the sid of the user 'pg2_sa' from the first server sql-devqa-cc-seed-db-dtu

[cid:358fd4f2-3e70-413c-add7-a9a8519cdd94]

  1.  I ran the following on the second server which is on a different subscription, and I get the error message "Specified SID is invalid for this version of SQL Server"

As my understanding, the challenge to use sql login to run 'copy

[2022-02-17 13:07] amanmcse commented on #88231
@michael-freidgeim-webjet We set both values because the user is provided with a checkbox for Keep Me Signed In (KMSI). When the user selects the checkbox for Keep me signed in, the persistent KMSI cookies take precedence over the standard browser cookies. When the user doesn't select the KMSI checkbox during sign in, the SessionExpiryInSeconds will be used.

[2022-02-17 13:10] yanivlavi commented on #80168
I still don't get the requested changes.
Other than the correciton of the parameter name, are you suggesting any other changes?

[2022-02-17 13:15] hemanthmatam commented on #87810
I do not understand which PowerShell module required to run these cmdlets
today I used same template
got the same error
![image](https://user-images.githubusercontent.com/95575538/154489250-a13132d0-ef53-458d-a3b6-318390624b75.png)

PS C:\temp> New-AzResourceGroupDeployment -ResourceGroupName $imageResourceGroup -TemplateFile $templateFilePath -api-version "2020-02-14" -imageTemplateName $imageTem

[2022-02-17 13:16] AnuragSharma-MSFT commented on #87875
@ericjiang20 Yes you are right. The login name and password for both source and target server in master db should exactly match. SID is also copied from master db of source server. Even the user  that we create should match on both servers. After this we need to login using these sql credentials on target db and execute copy database statements.

[2022-02-17 13:23] charlejc opened #88265 "Error using cosmosDbTrigger in Azure Serverless Function"
RE: #87183
Reopening.

See #87183 for build output.

Below is my build git hub workflow:

name: Azure Static Web Apps CI/CD

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches:
      - main

env:
  AZURE_FUNCTIONAPP_PACKAGE_PATH: './api' # set this to the path to your web app project, defaults to the repository root
  NODE_VERSION

[2022-02-17 13:34] TimWardC3 opened #88266 "REST API limit still valid so why remove?"
The version from Feb 2021 had the text-to-speech rate limits the the REST API. This has been removed but still appears to be valid so I wasted a couple of days trying to work out why I could not get near to the 200 transactions per second listed for the F0 text-to-speech. After finding this removed text I just swapped to a S0 resource and now know the limits for demo systems using the S0 tier.

If

[2022-02-17 13:43] markwragg opened #88267 "Missing Service Fabric System Services in documentation"
The System Services section of this document doesn't make any mention of the following Service Fabric system services:

- ClusterManagerService
- EventStoreService
- FaultAnalysisService
- InfrastructureService (of which there can be multiple, named InfrastructureService/<Name of each primary nodetype>)
- UpgradeService

It would be useful for these to be described.

#### Document Details

⚠ *Do n

[2022-02-17 13:47] booyaa commented on #88109
@AjayKumar-MSFT I don't have that dialogue on my function app.
<img width="593" alt="image" src="https://user-images.githubusercontent.com/192864/154494582-4a6d2230-c3e2-4d17-b83d-000b78be9536.png">

[2022-02-17 13:49] alexeyo26 commented on #88266
@qiliao123 Can you comment?

[2022-02-17 14:10] ericjiang20 commented on #87875
What is the cause of this error then?

________________________________
From: AnuragSharma-MSFT ***@***.***>
Sent: Thursday, February 17, 2022 8:16 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: ericjiang20 ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] When you run create login loginin with password ='xxxxx', SID = 0x000, the Azure sql db return error, Specified SID

[2022-02-17 14:21] shashishailaj commented on #88230
@LifeRyuto Thank you for your inputs. We will investigate and update the thread.

[2022-02-17 14:29] shashishailaj commented on #88232
@MarcosMMartinez Thank you for your inputs. We have assigned this to the content team for review and update as necessary .

[2022-02-17 14:31] dgpoulet opened #88268 "Clarify the migration route for bulk support in Java V4 SDK"
I'm trying to understand what is meant by the note in this documentation:

**"The  Azure Cosmos DB Java V4 SDK comes with the bulk executor library built-in to the SDK. [...] Azure Cosmos DB Java V4 SDK is the current recommended solution for Java bulk support."**

However there is no explanation of what this means in practice.  The code samples here don't work with V4 but if you go to the API doc

[2022-02-17 14:32] bejaranom opened #88269 "Issues with the Technical Profile for Federation"
Good day Microsoft Team,

We are configuring a custom policy that is going to federate to IdPs, we copied the version 2.0 of the endpoint and had to modify the claims a bit to get the result that we wanted.
The issuerUserId is set to the following <OutputClaim ClaimTypeReferenceId="issuerUserId" PartnerClaimType="oid"/>, we had to change it to <OutputClaim ClaimTypeReferenceId="issuerUserId" Partn

[2022-02-17 14:39] bejaranom commented on #88269
OutputClaim ClaimTypeReferenceId="issuerUserId" PartnerClaimType="sub" is the correct statement even when we get a string back? instead of the object Id of the user

[2022-02-17 14:40] shashishailaj commented on #88254
@AndrewMaisey Thank you for your inputs. We will investigate and update the thread.

[2022-02-17 14:41] bejaranom commented on #88269
OutputClaim ClaimTypeReferenceId="issuerUserId" PartnerClaimType="oid"; there is no oid coming back in the token, it's a string

[2022-02-17 14:41] rosscouldrey opened #88272 "Inconsistent usage of Or, And, and ",""
This article is not consistent in how it outlines whether role requirements, sometimes using OR, sometimes using Commas, sometimes using a "/", and sometimes using + (for AND).

It is confusing customers whether "/" and "," mean "OR" or whether they mean "AND".  Can we find a way to be more clear when we mean OR and AND?

Eg
Review Pipeline Runs uses a "/" which i believe represents OR

Review pip

[2022-02-17 14:42] rosscouldrey commented on #88272
This feedback specifically applies to this page:

[link](https://docs.microsoft.com/en-us/azure/synapse-analytics/security/synapse-workspace-understand-what-role-you-need)

[2022-02-17 14:43] pplavetzki opened #88273 "Sample Ingress Shown is Out-of-Date"
The section on deploying an ingress for Kubernetes is very out of date.  It's in version 1 since v1.19 of Kubernetes, which I don't believe AKS supports anything < v1.19.11.

I recommend using the new `networking.k8s.io/v1` api.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f53838fc-1654-fc18-7e45-7d556193f77e
* Versi

[2022-02-17 14:45] EmreMARTiN commented on #62578
The issue was on certificate. When we check the certificate with the openssl there were following errors:
-verify error:num=19:self signed certificate in certificate chain
-No client certificate CA names sent
-Verify return code: 19 (self signed certificate in certificate chain)

After CA autohority  re-created the certificate problem was gone.

[2022-02-17 14:49] EmreMARTiN opened #88274 "Azure Update Management - Script Option is Broken ?"
When i try to use pre-script/post script on Azure update management it does not allow me to save it ? i have tried same thing  with different tenant no chance.
<img width="152" alt="image" src="https://user-images.githubusercontent.com/51051749/154506231-1cf2ecc8-6aea-4faf-8e06-6ad8aa33daa5.png">

ıs that known issue ?

[2022-02-17 14:57] #88169 closed

[2022-02-17 14:58] shashishailaj commented on #88172
@TommyPollyblank As we have not received any details from you , its not possible for us to understand and help you on this. Please open a new issue with the details of the azure documentation which you may have a query on and we will help you further on the same.

Thank you.

[2022-02-17 14:58] #88172 closed

[2022-02-17 15:03] mbiver commented on #88223
I recently saw a situation where the customer was getting stuck on the OOBE screen and typically that would indicate something went wrong with SYSPREP.  When we got down into the "Windows\Panther\UnattendGC\setupact.log" we found "Found no unattend file for oobeSystem pass; skipping pass"  When we checked Sysprep logs, it said that it completed successfully.  So we started investigating why the un

[2022-02-17 15:07] sagarkul commented on #88062
Mostly, related to Active Directory switching. I am a guest user with around 10+ AD.

It worked with the same active directory user. (which has no additional AD for that user).

[2022-02-17 15:30] porrascarlos802018 opened #88277 "Please clarify if moving from basic to SLA involves downtime"
[Enter feedback here]
Please clarify if moving from basic to SLA involves downtime

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a26e9dfe-c152-881c-5c60-e5753e0e4d2e
* Version Independent ID: e56264a6-3476-9b5f-c800-2c528129c2e2
* Content: [Azure Kubernetes Service (AKS) with Uptime SLA - Azure Kubernetes Service](htt

[2022-02-17 15:31] wkoeter opened #88278 "Updating cacheControl property with Azure CLI is outdated"
The Azure CLI command stated to update the cacheControl is outdated and does not work for new CLI
`azure storage blob upload -c <connectionstring> -p cacheControl="max-age=3600" .\<blob name> <container name> <blob name>`

This is not in the AZ CLI.
The Az CLI equivalent would be
`az storage blob upload` etc with added parameter `--content-cache "max-age=3600"`

Using the combination of `-p cacheC

[2022-02-17 15:38] zen-jsandford commented on #87770
Hello! Do you need a test account for Zendesk? It is possible to create a
free trial account, which I can send!

On Thu, Feb 17, 2022 at 1:58 AM Hamsika ***@***.***> wrote:

--

Jolyn Sandford (She/They)
Technical Architect, Professional Services
Zendesk | Madison, WI

[2022-02-17 15:40] MonikaReddy-MSFT commented on #88255
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-02-17 15:43] MonikaReddy-MSFT commented on #88252
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-02-17 15:50] g7crservice-sajid-f opened #88279 "There are certain SaaS subscriptions purchased but it does not delete after several retries"
**Error message:**
Failed to delete resource group G7CR-MSMarketplace-RG: Deletion of resource group 'G7CR-MSMarketplace-RG' failed as resources with identifiers 'Microsoft.SaaS/resources/ss01' could not be deleted. The provisioning state of the resource group will be rolled back. The tracking Id is '9b7d3e16-8dbb-4443-bef8-07457d7647ca'. Please check audit logs for more details. (Code: ResourceGr

[2022-02-17 15:51] g7crservice-sajid-f commented on #87561
@KrishnaG-MSFT @mingshen-ms

Does Microsoft care for this?

[2022-02-17 15:55] MarileeTurscak-MSFT commented on #88261
@doodlleus
Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-17 15:58] MarileeTurscak-MSFT commented on #88269
@bejaranom
Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-17 16:20] markjbrown commented on #82654
#assign:markjbrown

Work on this has started. Will update here when in PR.

thanks.

[2022-02-17 16:26] hvoerman opened #88281 "Text possibly no longer correct regarding access policies granularity"
The text:

_Important_

_Key Vault access policies don't support granular, object-level permissions like a specific key, secret, or certificate. When a user is granted permission to create and delete keys, they can perform those operations on all keys in that key vault._

is for what I can see no longer valid. With the introduction of RBAC on the level of a specific key, secret, certificate, key v

[2022-02-17 16:37] MaximeRastello opened #88282 "Wrong Credentials description for variable $cloudCred"
The following cmdlet contains an incorrect message description. This should be an Azure AD global admin account and not a Domain Admin account :
`# Enter an Azure Active Directory global administrator username and password.`
`$cloudCred = Get-Credential -Message 'An Active Directory user who is a member of the Domain Admins group for a domain and a member of the Enterprise Admins group for a fores

[2022-02-17 16:40] dzsquared commented on #88206
@dkboon01 - to clarify, where do you want the variable to be populated from?

We have 2 examples on the page, the querystring one you mentioned and the route/URL value one (https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-azure-sql-input?tabs=csharp#http-trigger-get-multiple-items-from-route-data)

[code]

[2022-02-17 16:47] Freia3 opened #88283 "Access ADLS Gen2 in different tenant with service principal"
Can you please add documentation on how to mount/ access ADLS Gen2 located in a different tenant than the databricks workspace?

Please add following information:
- A Service principal with the multi-tenant setting is needed
- The directory-id used in the code needs to be the tenant id of the storage account

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2022-02-17 16:53] CXMelga opened #88284 "XPath query as specified in this document is not working"
[Enter feedback here]
I am following the information on this document but the XPATH filter is not working

If I use the 'basic' for Security > Audit Success, then the information from the Windows Server Security Event log I want 'does appear' in Log Analytics using the following query

Event
| where EventLog == 'Security'
| where Source == 'Microsoft-Windows-Security-Auditing'
| where EventID == '

[2022-02-17 17:00] bandersmsft commented on #87669
https://github.com/MicrosoftDocs/azure-docs-pr/pull/188967

[2022-02-17 17:00] bandersmsft commented on #87670
https://github.com/MicrosoftDocs/azure-docs-pr/pull/188967

[2022-02-17 17:14] ChaitanyaNaykodi-MSFT commented on #88247
Hello @prochazkapavel7
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-02-17 17:18] ChaitanyaNaykodi-MSFT commented on #88273
Hello @pplavetzki
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-02-17 17:20] JamesTran-MSFT commented on #88281
@hvoerman
Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-17 17:20] ChaitanyaNaykodi-MSFT commented on #88278
Hello @wkoeter
Thank you for your feedback! We will review and update as appropriate.

[2022-02-17 17:20] JamesTran-MSFT commented on #88282
@MaximeRastello
Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-17 17:26] kristianjaeger opened #88285 "Azure CLI version listed at the top of the page is incorrect"
[Enter feedback here]
It says, "Azure CLI version 2.7.0 or later". As of today (2/17/22) the release version is 2.33.1 . Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed59d472-ac33-5c03-dbb7-0e86e88c7dd8
* Version Independent ID: 69e1ad8c-2dd3-cc1b-2b31-996a5d866cc0
* Content: [Integrate Azure Container Regist

[2022-02-17 17:38] JohnnyElvis commented on #61539
Hi @haneef95 , can you share some info on what exactly what PG "have tested this on their side by installing and running the application proxy connector on a docker container using a windows server base image and command line install steps"?

[2022-02-17 17:43] AWeber78 opened #88287 "incorrect information script"
There is an incorrect information in the script. Script documentation and variable highlights Cloud, Messages an On-Prem AD account.
Right is the Cloud account.

# Enter an Azure Active Directory global administrator username and password.
$cloudCred = Get-Credential -Message 'An Active Directory user who is a member of the Domain Admins group for a domain and a member of the Enterprise Admins gro

[2022-02-17 17:51] ShaneMcNamara commented on #66458
I'm still seeing this issue.

I'm returning `Content-Type: application/json` and `Content-Length: 111.`

What is going on here?

[2022-02-17 17:52] Monrragon opened #88288 "The limit for staging slots for "ElasticPremium" are not documented"
The limit for staging slot on "Elastic Premium" is not documented under the limitations section of the document could that be added please?

Limitations

Azure Functions deployment slots have the following limitations:

The number of slots available to an app depends on the plan. The Consumption plan is only allowed one deployment slot. Additional slots are available for apps running under the App

[2022-02-17 17:54] lauradolan commented on #84863
@mkdeegan if your team requires help with this change, please file a work request per my message. Thanks!

#please-close

[2022-02-17 17:54] #84863 closed

[2022-02-17 17:54] lauradolan commented on #84850
@mkdeegan if your team requires help with this change, please file a work request per my message. Thanks!

#please-close

[2022-02-17 17:54] #84850 closed

[2022-02-17 18:05] #83795 closed

[2022-02-17 18:07] haneef95 commented on #61539
@JohnnyElvis - I hadn't tried that. @shashishailaj could enlighten on the matter.

I'm hoping that this connector could be containerised with a Linux image... Like the Cloudflare Tunnels.

[2022-02-17 18:09] ChaitanyaNaykodi-MSFT commented on #88244
Hello @vishalaj1
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-02-17 18:11] ChaitanyaNaykodi-MSFT commented on #88265
Hello @charlejc
Thank you for your feedback! We will review and update as appropriate.

[2022-02-17 18:15] markjbrown commented on #85058
#assign:markjbrown

[2022-02-17 18:16] markjbrown commented on #85058
Hello. Thanks for your question and apologies for the slow response.

The older Functions 2.x and 3.x extensions used our old .NET SDK v2 which used IReadOnlyList<Document> to deserialize items.

The newer Functions 4.x which are still in preview use our .NET SDK v3. With these you can deserialize directly to a typed POCO for example, IReadOnlyList<ToDoItem>. This is also the way it works when usi

[2022-02-17 18:16] #85058 closed

[2022-02-17 18:30] lauradolan commented on #79557
@gvanteylingen It looks like the original issue was solved, so I'm going to close this request. Please see my Teams message if you need help with making further changes to the documentation. Thanks!

#please-close

[2022-02-17 18:39] PankajMeshramCSA commented on #69640
Thanks a lot, I can see the changes have been made. I will close the PR.

[2022-02-17 18:39] #69640 closed

[2022-02-17 18:40] kobulloc-MSFT commented on #88285
@kristianjaeger Thank you for bringing this to our attention!  This does appear to be a typo (I suspect 1.7.0 was originally intended).  I'm going to do some investigation and get a PR out to correct this.

[2022-02-17 18:41] cweining commented on #82195
I'm sorry for the very delayed response to the questions here. The only support we have for containers and apps hosted in AKS is the .net core profiler that's documented here: https://docs.microsoft.com/en-us/azure/azure-monitor/app/profiler-aspnetcore-linux. We're behind on updating our documentation, but the .net core profiler works for any .net core app running on windows or linux.

[2022-02-17 18:44] robertstarling commented on #88222
Thanks @SumanthMarigowda

Actually it looks like the requirement is even simpler than I described above.  Although the GUI lets you support multiple default gateways, currently the ASE only supports configuring one default gateway (see ICM 289599974).

If you agree, can we make this clear in the documentation?  Thanks

[2022-02-17 18:44] kristianjaeger commented on #88285
Thanks, @kobulloc-MSFT !

[2022-02-17 18:48] Bartolomeus-649 opened #88289 "Conditional Access: Not satisfying the condition of a BLOCK-policy leads to no access token being issued?"
Third step: Access control BLOCK conditions satisfied
 - NO: Access token NOT issued
 - YES: Process continues

Shouldn't satisfied condition of a BLOCK result in that no Access token is issued?
That is, shouldn't YES and NO switch places for step three? So that when the BLOCK conditions are satisfied it results in no token being issued?

![image](https://user-images.githubusercontent.com/7513795/

[2022-02-17 18:48] geraldwolff commented on #88225
Thank you

From: SreejaBhattacharya-MSFT ***@***.***>
Sent: Wednesday, February 16, 2022 8:29 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: geraldwolff ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] testing the training package FFMPEG (Issue #88225)

Hello @geraldwolff <https://github.com/geraldwolff>
Thanks for the feedback! I have assigned the issue to the content

[2022-02-17 18:50] PankajMeshramCSA commented on #79003
Thanks a lot, I can see the changes have been made. I will close the PR.

[2022-02-17 18:50] #79003 closed

[2022-02-17 18:51] kobulloc-MSFT commented on #88285
@kristianjaeger It looks like we had the CLI requirement listed as 2.0.73 or later on 6/16/20 and then updated that with the typo.  I'm going to track down the intended version.

[2022-02-17 19:06] AjayKumar-MSFT commented on #87773
stamdunan, Thanks for the follow-up and sharing additional info.

As mentioned by btardif (our App Service PM) on a similar discussion [thread](https://docs.microsoft.com/en-us/answers/questions/10215/what-cant-windows-and-linux-app-services-live-in-t.html), (around Jul 29, 2021 - timeframe)
"_Any new resource group since Jan 2021 is enabled to allow Windows/Linux sharing.
We have migrated >99% of

[2022-02-17 19:08] kobulloc-MSFT commented on #88285
@kristianjaeger Ah, that caught me as well.  It looks like [2.7.0](https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli#june-02-2020) was released on June 2nd, 2020.  Just glancing at it, I wasn't registering the "." correctly and saw 270 and 233.  Looking through the version history makes it much more clear (2.07.0 > 2.33.1):

- [2.7.0](https://docs.microsoft.com/en-us/cli/azure/rel

[2022-02-17 19:14] kristianjaeger commented on #88285
@kobulloc-MSFT Thanks! Makes sense even though the numbering is a bit confusing. Cheers.

[2022-02-17 19:17] kobulloc-MSFT commented on #88285
@kristianjaeger No worries!  Had me as well for a minute.

[2022-02-17 19:18] kobulloc-MSFT commented on #88285
@kristianjaeger We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-02-17 19:18] #88285 closed

[2022-02-17 19:18] KranthiPakala-MSFT commented on #88256
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-02-17 19:19] KranthiPakala-MSFT commented on #88260
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-02-17 19:21] KranthiPakala-MSFT commented on #88272
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-02-17 19:23] KranthiPakala-MSFT commented on #88283
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-02-17 19:36] RyanHill-MSFT commented on #88019
@Toshinobu-Suzuki you can find java sample code over at Azure-Samples/media-services-v3-java. However, there aren't any available validation capabilities for files prior to being uploaded as assets. There is a validation when doing something with the asset though.

If you want to check prior to uploading, one thing you could do is kick off a thumbnail job that creates a thumbnail from the asset. J

[2022-02-17 19:36] #88019 closed

[2022-02-17 19:39] AjayKumar-MSFT commented on #88113
aaronmanill, Apologies for the delay!  I have tested deployed a Web PubSub App as outlined in the Azure doc and it works fine (please see screenshot below) Typically, the error could due to incorrect 'Settings' value. You may review the Settings value and/or review the complete error message that appears in the Activity log for pointers.

You may check out these docs for some additional pointers:

[2022-02-17 19:43] ealsur commented on #85058
The linked article in this issue also contains the paragraph for the Document migration:

![image](https://user-images.githubusercontent.com/1633401/154558482-a94262b7-e3cd-4cc0-bd33-7a28bbdefb76.png)

[2022-02-17 19:47] SadiqhAhmed-MSFT commented on #88279
@g7crservice-sajid-f Thank you for reaching out to us. We will look into this and get back to you soon.

[2022-02-17 19:47] santhoshbomma9 opened #88291 "Support for publishing application in the Azure Active Directory application gallery"
who or how do we reach if there is any issues with support for publishing application in the Azure Active Directory application gallery?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc9add8e-9cd4-1f17-0429-a95ac85f4c37
* Version Independent ID: b5bf54e4-54cd-2c94-123a-ed046c3e0a9d
* Content: [Publish your application

[2022-02-17 19:50] markjbrown commented on #85858
Hello @mukul-p. Thank you for your suggest and apologies for the very slow response.

We looked into this and there are some issues with it. Notably is we can't control what ads Google runs in front of the videos we produce. As such it's something that could result in negative experience for users.

We are looking at alternatives however to where we might host videos as this is something we are lo

[2022-02-17 19:50] #85858 closed

[2022-02-17 19:50] JamesTran-MSFT commented on #88289
@Bartolomeus-649
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

I read this similar to how you mentioned it:
- If the Access Control BLOCK condition(s) is satisfied (Yes).
- Then the Access Token is not issued.
- If the Access Control BLOCK condition(s) is not satisfied (No).
- Then go to the Access Control Grant conditions.

[2022-02-17 19:52] JamesTran-MSFT commented on #88291
@santhoshbomma9
Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-17 20:04] MarileeTurscak-MSFT commented on #88287
@AWeber78
Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-17 20:08] RayGHeld opened #88292 "User.Read permission always appears on a consent screen for any delegated flow, even if it is not on the app registration."
The User.Read ( Microsoft Graph permission ) is the default permission required for any delegated sign-in flow.  So, even if that permission is removed from the app registration, an admin consent ( or user consent ) for any other scope will, like the offline_access scope, always be presented for consent.  Documentation should indicate this as the question has come up and this information about the

[2022-02-17 20:24] janpio opened #88293 "Azure CosmosDB Emulator command line options outdated and incomplete"
- Table under `Manage the emulator with command-line syntax` is outdated and missing the 4.0 option for `EnableMongoDbEndpoint`.
- Options string of `Start-CosmosDbEmulator` is completely outdated (e.g. missing `-EnableMongoDb`)
- `Start-CosmosDbEmulator` also seems to be missing the ability to actually accept values for the Mongo version, which means it always starts a Mongo 3.2 API with `-Enable

[2022-02-17 20:25] markjbrown commented on #86364
#assign:markjbrown

[2022-02-17 20:28] markjbrown commented on #86364
@becke-ch-s0-v1 thank you for your feedback and apologies for the very slow response.

This is a typo on our docs. It should read three replicas out of a four replica quorum.

I have made this correction and is in a PR now which should publish later today.

Thanks again for raising this.

#please-close

[2022-02-17 20:28] #86364 closed

[2022-02-17 20:32] omerfar23 opened #88294 "Incorrect information"
The article states we only AD free sub but it turns out you need to have AD P1 or P2 to have custom roles which are required to map AD roles to AWS. Please fix this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8fa5814d-91e2-2f75-77e7-62a8597f340c
* Version Independent ID: 458e93d7-a180-4c2f-5077-9b9d124d726a
* Conte

[2022-02-17 20:38] thommck commented on #84404
I wasn't aware Bastion was well integrated (it wasn't mentioned on this
docs article when I commented).
It's more about RD Gateway being unnecessary infra if you could use the
Microsoft managed rd gateway that comes with AVD

Thanks,
Thom

On Thu, 17 Feb 2022, 18:25 Sagar Chandra Reddy Lankala, <
***@***.***> wrote:

[2022-02-17 20:46] Nicholak-MS commented on #87684
Hello, @J-Fedor

I have completed adding the above products to the online list as well as the csv. These will be reflected later today after this afternoons publish window. Thanks for sharing the missing items.

Thanks
Nick

#please-close

[2022-02-17 20:46] #87684 closed

[2022-02-17 20:47] J-Fedor commented on #87684
Thanks.

John Fedor
Principal Architect
Direct:
Support Desk
630.592.6240
630.592.6260
visit peters.com today!
​Stay up-to-date and follow us on social media!
Cybersecurity insurance providers have increased requirements.  Are you ready? Case Study.
The information transmitted is intended only for the person or entity to which it is addressed and may contain confidential and privileged material
​U

[2022-02-17 20:54] ChaitanyaNaykodi-MSFT commented on #88246
Hello @jgarplind
Thank you for your feedback! We will review and update as appropriate.

[2022-02-17 20:56] MarileeTurscak-MSFT commented on #88294
@omerfar23
Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-17 20:59] porrascarlos802018 opened #88295 "Please add references for procedure with containerd as runtime."
Containerd nodepools unable to mount PV volume as "D:"

create a nodepool with containerD:
https://docs.microsoft.com/en-us/azure/aks/windows-container-cli#add-a-windows-server-node-pool-with-containerd

Follow instructions here, where for windows the document says
"For Windows Server containers, specify a mountPath using the Windows path convention, such as 'D:'."
https://docs.microsoft.com/en-us

[2022-02-17 21:01] MarileeTurscak-MSFT commented on #88294
@omerfar23 this aligns with the custom roles guidance. https://docs.microsoft.com/en-us/azure/active-directory/roles/custom-create

I made a pull request to update the prerequisites: https://github.com/MicrosoftDocs/azure-docs-pr/pull/189011

CC @jeevansd

[2022-02-17 21:01] #88294 closed

[2022-02-17 21:05] asubmani commented on #50919
Is this GA yet? This is important as we are unable to enable/disable private endpoints.

[2022-02-17 21:09] Oury-MSFT commented on #88268
@dgpoulet Thank you for your Feedback. We are reviewing this and will get back at the earliest possible.

[2022-02-17 21:20] j-martens commented on #84404
Thanks @thommck . And update to the doc has been made today and will go live within 24 hours to make this more clear. We appreciate your feedback.

#please-close

[2022-02-17 21:20] #84404 closed

[2022-02-17 21:27] MonikaReddy-MSFT commented on #87939
@rajeshkhanikar - I have reached out to product team and content team to review the issue, will get back to you as soon as i hear back from them. Thank you

[2022-02-17 21:28] MonikaReddy-MSFT commented on #87670
@bandersmsft - Thanks for raising the PR.
@Natochia - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-02-17 21:28] #87670 closed

[2022-02-17 21:28] j-martens commented on #14568
Thanks for sharing your feedback. We apologize for our delayed response. Due to the sheer volume of feedback in our repo, we have decided to prioritize the newest issues and are automatically closing our oldest issues with an Issues bot. If you believe your feedback is still actionable, then either respond directly in this issue or open a new documentation issue and we’ll review. #please-close

[2022-02-17 21:28] #14568 closed

[2022-02-17 21:28] MonikaReddy-MSFT commented on #87669
@bandersmsft - Thanks for raising the PR.
@Natochia - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-02-17 21:28] #87669 closed

[2022-02-17 21:40] MNF commented on #88231
Thank you, it makes sense. I would suggest to include this clarification in https://docs.microsoft.com/en-us/azure/active-directory-b2c/session-behavior?pivots=b2c-custom-policy#configure-a-relying-party-file

[2022-02-17 21:50] #83309 closed

[2022-02-17 21:50] #82194 closed

[2022-02-17 22:01] danimir commented on #88153
The page you are looking at is the source of truth. The second page https://docs.microsoft.com/en-us/sql/master-data-services/master-data-services-overview-mds?view=sql-server-ver15 is incorrect. Typically these check marks are automaticaly generated, sometimes wrongly. @AnuragSharma-MSFT to take action. Thanks.

[2022-02-17 22:05] Oury-MSFT commented on #88268
@Abramees Please see customer feedback regarding the migration route for Java SDV v4 .

[2022-02-17 22:11] ChaitanyaNaykodi-MSFT commented on #88274
Hello @EmreMARTiN, Thank you for your feedback. As we primarily monitor this channel for documentation bugs/enhancements. Can you please provide the documentation link for the intended feedback?

[2022-02-17 22:12] grminch commented on #81546
#reassign:vicancy

[2022-02-17 22:15] #87941 closed

[2022-02-17 22:16] russd2357 opened #88300 "In "Open Ports for Connectivity" section, NSG creation is omitted"
In this section, the first paragraph says "In this task you must configure some external endpoints for the database listener and EM Express to use by setting up the Azure Network Security Group that protects the VM.", then jumps straight to creating nsg rules. You forgot to show the user how to create the NSG. If they follow the instructions as written, they will get an error. Add a step to create

[2022-02-17 22:47] rconiv opened #88301 "Error running powershell command"
I am doing this all on the On-Premise Server 2019 Data Center box that Azure AD Connect is setup on.

When running $env:programfiles"\Microsoft Azure Active Directory Connect" in PS 5, under How can I roll over the Kerberos decryption key of the `AZUREADSSO` computer account? I get this.

PS C:\Windows\system32> $env:programfiles"\Microsoft Azure Active Directory Connect"
At line:1 char:18
+ $env:

[2022-02-17 23:04] ChaitanyaNaykodi-MSFT commented on #88051
Hello @brucelangston, Thank you for providing additional details. I am assigning this issue to the author to review further and take the next course of action. Thank you!

[2022-02-17 23:25] MarileeTurscak-MSFT commented on #88301
Hi @rconiv,

Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-17 23:45] ChristopherHouser commented on #88244
We do not currently support segmented messages.   Are you trying to send message larger than 100 MB?

[2022-02-17 23:45] KranthiPakala-MSFT commented on #88192
We will now proceed to close this thread. Please do share the forum link once it is posted. Thank you

[2022-02-17 23:57] tomprice-msft opened #88302 ""Assign a role to a user-assigned managed identity" section refers to the wrong menu item"
The section "Assign a role to a user-assigned managed identity", here:

https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/how-manage-user-assigned-managed-identities?pivots=identity-mi-methods-azp#assign-a-role-to-a-user-assigned-managed-identity

is incorrect.  It refers to the "Access control (IAM)" menu item when it should actually refer to the "Azure ro

[2022-02-18 00:02] MarileeTurscak-MSFT commented on #88301
Can you navigate to the file separately under %programfiles%\Microsoft Azure Active Directory Connect? It sounds like it's having trouble finding that file.

Can you access it with the following?

cd 'C:\Program Files\Microsoft Azure Active Directory Connect\'

To update the Kerberos keys you need to follow the steps in [Update the Kerberos decryption key on each AD forest that it was set it up on

[2022-02-18 00:02] #88301 closed

[2022-02-18 00:11] cinamori commented on #88260
Thank you for your reply. If you consider it, please let us know ETA.

[2022-02-18 00:12] rconiv commented on #88301
I can get there using cd 'C:\Program Files\Microsoft Azure Active Directory Connect'

I posted it here since the error made it look like the PowerShell coding didn't like the first " before the \ and wanted to make sure the error wasn't due to a coding error that got published.

Update the Kerberos decryption key on each AD forest that it was set it up on is where I published this page comment fro

[2022-02-18 00:12] MarileeTurscak-MSFT commented on #88302
@tomprice-msft
Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-18 00:14] MashaMSFT commented on #78662
Hi @hhitchler , thanks for contacting Microsoft! We've updated the content to bring attention to VNet peering, and may revisit rewriting the steps to include VNet peering sometime in the future.  I'll go ahead and close out the Git Issue for the time being, but please feel free to comment should you need anything further.

Thanks again for helping improve our documentation, and I hope you have a w

[2022-02-18 00:14] #78662 closed

[2022-02-18 00:18] MarileeTurscak-MSFT commented on #88302
@tomprice-msft thanks for reporting this!

I made a pull request to update the steps to match the new UI. https://github.com/MicrosoftDocs/azure-docs-pr/pull/189041

CC @barclayn for review

[2022-02-18 00:18] #88302 closed

[2022-02-18 00:22] MarileeTurscak-MSFT commented on #88287
Thanks for calling this out! I made a pull request to update this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/189043

@justinha

[2022-02-18 00:22] #88287 closed

[2022-02-18 00:24] vishalkalra commented on #85789
Any updates on this issue?

[2022-02-18 00:25] SherryGuo1021 opened #88304 "doc wrong info for nested virtualization supported for Dav4 and Dasv4"
[Enter feedback here]
Hi team,

In this doc (https://docs.microsoft.com/en-us/azure/virtual-machines/acu), apparently, the Dav4 and Dasv4 series do not support nested virtualization.

However, in the main page of dav4 and dasv4 series (https://docs.microsoft.com/en-us/azure/virtual-machines/dav4-dasv4-series), it says nested virtualization is supported.

I verified in my lab, it's actually not sup

[2022-02-18 00:35] ronwarner opened #88305 "Azure.Storage.Blobs.Models.AccessTier Struct has additional values"
Hello!  I'm referencing this doc while developing an application that will upload, download and delete blobs from a container.  I need to make sure I'm implementing sane options so that our applications don't do needless, costly things (such as deleting blobs from the Archive tier before they are old enough to avoid the early deletion charge).  I've needed to familiarize myself with the Azure.Stor

[2022-02-18 00:41] MashaMSFT commented on #83575
Hi @ruimaia8 , thanks for contacting Microsoft! As Mike-Crowley has pointed out, the link is not actually broken, it's constructed in the invoke command. Just in case, we tested the entire code sample and it's working as expected. You can find the full script from Mike-Crowley's comment: https://raw.githubusercontent.com/microsoft/sql-server-samples/master/samples/manage/azure-sql-db-managed-insta

[2022-02-18 00:41] #83575 closed

[2022-02-18 00:45] ChaitanyaNaykodi-MSFT opened #88306 "Typo in the documentation"
Just a space is missing
![image](https://user-images.githubusercontent.com/67453298/154595992-76319d94-1999-436a-9f18-a2ae12e4901c.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 617a5302-20b2-5637-4869-17a16a1e0f97
* Version Independent ID: 5a4b0832-8b16-61c9-0b5d-ed0228fe5711
* Content: [Introduction to IP flow v

[2022-02-18 00:46] ChaitanyaNaykodi-MSFT commented on #88306
Working on the PR

[2022-02-18 00:47] MarileeTurscak-MSFT commented on #88269
Could you include your complete flow?

The "sub" claim is the object ID.

There is an example of a complete flow in this thread. https://github.com/MicrosoftDocs/azure-docs/issues/48396

I would recommend posting this to Microsoft Q&A since this is more of a product question than documentation feedback.

[2022-02-18 00:47] #88269 closed

[2022-02-18 00:54] MarileeTurscak-MSFT commented on #88292
Thanks! I made a pull request to update the documentation. https://github.com/MicrosoftDocs/azure-docs-pr/pull/189045

I'll leave this open for review by the content author, @rwike77

[2022-02-18 00:54] #88292 closed

[2022-02-18 00:56] mmacy commented on #86801
#reassign:nickludwig

[2022-02-18 00:56] PRMerger17 commented on #86801
The following users don't have valid GitHub IDs, or are not collaborators on this repo: nickludwig

[2022-02-18 00:57] mmacy commented on #86801
#reassign:"nickludwig"

[2022-02-18 00:57] PRMerger15 commented on #86801
The following users don't have valid GitHub IDs, or are not collaborators on this repo: "nickludwig"

[2022-02-18 00:59] mmacy commented on #86801
#reassign:nickludwig

[2022-02-18 01:06] #88306 closed

[2022-02-18 01:09] kobulloc-MSFT commented on #88267
@markwragg Thank you for your feedback!  We've assigned this to the document author for review.

[2022-02-18 01:11] kobulloc-MSFT commented on #88295
@porrascarlos802018 Thank you for your feedback!  We've assigned this to the document author for further review.

[2022-02-18 01:15] kobulloc-MSFT commented on #88304
@SherryGuo1021 The Dav4 and Dasv4 are documented as having nested virtualization/AMD Simultaneous multithreading technology in a couple places.  I'm going to do some additional investigation on this.

[2022-02-18 01:16] markjbrown commented on #84374
#assign:markjbrown

[2022-02-18 01:17] kobulloc-MSFT commented on #88300
@russd2357 Thank you for the feedback!  We've assigned this to the document author for further review.

[2022-02-18 01:19] VikasPullagura-MSFT commented on #88277
@porrascarlos802018 Thanks for your Question.
@patpishiva Thanks for answering this query.

[2022-02-18 01:19] VikasPullagura-MSFT commented on #88277
@porrascarlos802018
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2022-02-18 01:19] #88277 closed

[2022-02-18 01:24] RGlanzmann opened #88307 "Why does this not work for Shared Session Hosts?"
I was wondering, why can't I direct assign a user to an AVD Shared Session Host like I can with a Private Session Host? This way I could let's say have two session hosts for my 12 employees and assign every employee to a particular session host and not care about FSLogix. If for some reason a session host needs to be replaced, all the data is cloud synced. Only stupid tools relying on local config

[2022-02-18 01:31] Karishma-Tiwari-MSFT commented on #87947
@johnem-msft Hope that helps. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2022-02-18 01:31] #87947 closed

[2022-02-18 01:34] Karishma-Tiwari-MSFT commented on #87903
@MashaMSFT Can you please help confirm on these 2 questions:

1. In 6th step of Reconfigure cluster section, file name mentioned is ClusterConfig.csv. is it mistake or we need to create another file with this name. Because in all other above steps everywhere filename is mentioned as Cluster-Config.csv.

2. In very first line of article "always on" is mentioned where page is for fail over cluster a

[2022-02-18 01:46] vimrang commented on #88106
Thanks for the feedback @MarcoL-4wardPRO. We will update the documentation to add this.

[2022-02-18 01:52] GitaraniSharma-MSFT commented on #87966
@jye-aviatrix , as mentioned by @anavinahar , we are working to create an example and an update of this category of docs. In the mean time, please refer the below existing doc for reference:
https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-floating-ip#floating-ip

We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gla

[2022-02-18 01:52] #87966 closed

[2022-02-18 02:04] DianaBohorquezT opened #88308 "The support request contributor can be assigned as well at the Resource Group level and it works"
Hello team!

The document mentions we need to add the "Support Request contributor" role at the subscription level to have permissions. However, I have tested today and adding it at the Resource Group level also works. Also, this second option makes more sense in terms of governance: a user will only have access to create support requests for the resources he can see, not for all the subscription.

[2022-02-18 02:24] markjbrown commented on #84374
Thanks @Jehoel for your feedback and apologies for the very slow response.

Yes, EF does not yet have spatial support. I have made a note in that article to clearly call out there is no support for it today.

This change is now in a PR and should publish by tomorrow.

Thanks again for your help.

#please-close

[2022-02-18 02:24] #84374 closed

[2022-02-18 02:28] markjbrown commented on #85862
#assign:markjbrown

[2022-02-18 02:40] amitsahu30 opened #88309 "It gives an error as below"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca90dae1-a7bb-b8f5-3a23-75f4ff9c4137
* Version Independent ID: aec1302d-df09-ef04-6d31-2b1cb633229f
* Content: [Create a Java function in Azure Functions using IntelliJ](https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-maven-int

[2022-02-18 02:40] amitsahu30 commented on #88309
Failed to validate Azure Functions Core Tools, azure Functions Core Tools is not found.
				Is Azure Functions Core Tools installed and correctly configured?Call Stack:
				● Validate Azure Functions Core Tools
				● Run function app locally

[2022-02-18 02:43] #85862 closed

[2022-02-18 02:44] markjbrown commented on #86367
#assign:markjbrown

[2022-02-18 02:52] #86367 closed

[2022-02-18 02:56] SpitFire-666 opened #88310 "Windows 10 version number"
Apologies if I'm reading something wrong here.

"For Windows 10, the correct format of the deviceOSVersion attribute is as follows: (device.deviceOSVersion -eq "10.0.17763")."

I interpreted that as "Win10 will always report version number 10.0.17763" - which was causing me to come unstuck. Perhaps the wording should be changed, or the query could be updated with `-startsWith "10.0.1"` which is ho

[2022-02-18 03:17] markjbrown commented on #80238
#assign:markjbrown

[2022-02-18 03:21] ozdemiremrah81 opened #88311 "Purchase link is not working"
Following link is dead or doesn't work for some reason.
Percept DK ([Purchase](https://www.microsoft.com/store/build/azure-percept/8v2qxmzbz9vc))

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90e99210-548c-f9ac-4f20-febeca72c9ca
* Version Independent ID: 7f2d55e2-9f65-633b-2602-eff9ff144da8
* Co

[2022-02-18 03:22] SumanthMarigowda commented on #88305
@ronwarner Thanks for the question! We are investigating and will update you shortly.

[2022-02-18 03:22] markjbrown commented on #88293
assign:@stefarroyo

[2022-02-18 03:23] markjbrown commented on #88293
#assign:stefarroyo

[2022-02-18 03:24] markjbrown commented on #88293
Hey @StefArroyo, can you take a look at this? Need to add Mongo 4.0 cmdline switches and options for PS as well.  -Thanks.

[2022-02-18 03:25] AnnuKumari-MSFT commented on #87949
Hi @mssaperla / @leifbro
Requesting to validate customer feedback and update the document accordingly as appropriate. Thankyou

[2022-02-18 03:30] markjbrown commented on #87521
#assign:markjbrown

[2022-02-18 03:33] SherryGuo1021 opened #88312 "the restore points collections (snapshots) might not be in the default resource group"
[Enter feedback here]
This is a feedback for doc: https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/move-limitations/virtual-machines-move-limitations?tabs=azure-cli#virtual-machines-with-azure-backup

Regarding "Find the resource with type Microsoft.Compute/restorePointCollections that has the naming pattern AzureBackup_<VM name>_###########.", please aware that the restore

[2022-02-18 03:34] markjbrown commented on #87521
Thanks @christopinka for your question.

The SQL dialect is specific to Cosmos DB's query engine and the database's ability to query JSON data. The language is not a formal spec. All documentation for the query language is available within the Concept articles you see here in our documentation.

Thanks.

#please-close

[2022-02-18 03:34] #87521 closed

[2022-02-18 03:38] KrishnaG-MSFT commented on #87991
@ronking-zhu We have verified and updated the document as required. The change should go live and reflect in the document shortly i.e., in less than 24hours. Thanks again!

Closing this issue for now. If there are further questions regarding this topic or feedback on the referred Azure documentation, please do let us know and we will gladly continue the discussion.

[2022-02-18 03:38] #87991 closed

[2022-02-18 03:41] MayankBargali-MSFT commented on #87937
@felixtsem5 Thanks for reaching out. MicrosoftDocs Github issue is mainly related to the document issue and I do see it is more towards the feature request. I will reach out to you offline to get more details.

As we don't see any document enhancement I will go ahead and close this thread.

[2022-02-18 03:41] #87937 closed

[2022-02-18 03:47] markjbrown commented on #88268
#assign:theovankraay

Theo, can you take a look at this one. Also, be sure to update the author on all the java SDK docs when you get a chance.

Thanks.

[2022-02-18 03:49] MayankBargali-MSFT commented on #87957
@StingyJack Hope @PramodValavala-MSFT answer helps and clears things up. We will now proceed to close this thread. If there are further questions regarding this matter, feel free to tag me in and we will gladly continue the discussion.

[2022-02-18 03:56] MayankBargali-MSFT commented on #88288
@Monrragon Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-02-18 04:01] AnuragSharma-MSFT commented on #88147
@jeffmcaffer Due to lack of response, we will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2022-02-18 04:01] #88176 closed

[2022-02-18 04:11] AshokPeddakotla-MSFT commented on #88311
@ozdemiremrah81 Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-02-18 04:18] SreejaBhattacharya-MSFT commented on #88307
Hi @RGlanzmann ,
Thanks for the feedback. I will check internally on this and get back to you.

[2022-02-18 04:20] SwathiDhanwada-MSFT commented on #88284
@CXMelga Thanks for your comment. We will review the issue and get back to you shortly.

[2022-02-18 04:25] SwathiDhanwada-MSFT commented on #88312
@SherryGuo1021 Thanks for your comment. We will review the issue and get back to you shortly.

[2022-02-18 04:36] AnuragSingh-MSFT commented on #88073
@DBJDBJ, [Any request to Azure Monitor HTTP Data Collector API](https://docs.microsoft.com/en-us/azure/azure-monitor/logs/data-collector-api#authorization) must include an authorization header. This authZ header instead of being a simple bearer token, requires massaging of some data for header content - sign the request with either the primary or the secondary key for the workspace and include it

[2022-02-18 04:55] nhannt97 commented on #88059
It's 1.3.2 stable version @AjayKumar-MSFT

[2022-02-18 05:02] thomasgauvin opened #88314 "appInsights Javascript usage documentation error"
The usage of the Javascript appInsights library is incorrect and inconsistent with other docs in this page. The track event function is invoked this way `appInsights.trackEvent({name: "incrementCount"});`, not this way `appInsights.trackEvent("ExpandDetailTab", {DetailTab: tabName});` as noted in this page. The latter results in a `not_specified` event in the events in Application insights.
![imag

[2022-02-18 05:03] SwathiDhanwada-MSFT commented on #88308
@DianaBohorquezT Thanks for your comment. We will review the issue and get back to you shortly.

[2022-02-18 05:09] SnehaAgrawal-MSFT commented on #88309
@amitsahu30 Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-02-18 06:15] SadiqhAhmed-MSFT commented on #88279
@g7crservice-sajid-f Sometimes it takes time to delete the resource, but the best action here is to open a ticket with our dedicated Marketplace support team for them to look into it - https://partner.microsoft.com/en-US/support/v2/?stage=1

[2022-02-18 06:15] #88279 closed

[2022-02-18 06:19] g7crservice-sajid-f commented on #87561
@KrishnaG-MSFT @mingshen-ms ???

[2022-02-18 06:38] #87883 closed

[2022-02-18 06:42] v-hakob opened #88327 "Upgrading the VM agent"
The cx wants to upgrade the VM agent which they manually installed on the VM they migrated to Azure using ASR.

We don't get the meaning for this sentence "If you have installed the agent manually or are deploying custom VM images you will need to manually update to include the new VM agent at image creation time.." Can we have more explanation for this?

There is the tutorial to install VM agent

[2022-02-18 07:12] shashishailaj commented on #88310
@SpitFire-666 Thank you for your feedback . We will investigate and update the thread.

[2022-02-18 07:19] jin-chong commented on #88059
I found you still can access info by _info property, such as
`addedCall._info.getServerCallId();`

Is there another way to get 'serverCallId' to start call record?  or other way to start call recording??

[2022-02-18 07:26] slavizh commented on #80168
@yanivlavi If you try to use these schemas in Logic App for example your logic app would fail depending on the input (configured rule). For example if properties is null and you have defined some custom properties the logic app will fail as it expects null value for that rather object. Because of that it is good to document certain behaviors of the schema based on the configuration of the alert ru

[2022-02-18 08:42] himanshukgit opened #88331 "Unable to get reason for non-compliance"
I didn't get info about how to fetch 'reason for non-compliance' from compliance details in policy using az PowerShell or diagnostic settings API or search graph query, I have marked as thread name 'Get Azure policy compliance reason using script or api' on Microsoft q&a forums but no correct answer till now, my policy report work is stuck due to this issue

---
#### Document Details

⚠ *Do not ed

[2022-02-18 08:49] adrian-nae opened #88332 "Sign-on URL should be optional"
[The Sign-on URL is mandatory for the Oracle Fusion ERP Azure Gallery App and the recommendation is to set it to the fusion application homepage, but this breaks the IDP initiated login flow. The users are prompted to log in a second time on the fusion apps login page once they click the application icon on the Microsoft myapps portal.
I see that for the standard SAML application, the Sign-on URL

[2022-02-18 09:09] jgarplind opened #88334 "Broken links"
The links to useful tools under https://docs.microsoft.com/en-us/azure/api-management/devops-api-development-templates#migrate-configurations-to-templates point to 404 pages on GitHub.

They seem like useful links, so it would be great to have them updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be62de4a-a2fb-9

[2022-02-18 09:28] SnehaAgrawal-MSFT commented on #88005
@ozala Thanks for the feedback! The PR has been created to for this will be visible soon in document,
Thanks for bringing this to our attention. We will now close this issue but if you feel you need more information please just let us know.

[2022-02-18 09:28] #88005 closed

[2022-02-18 10:01] #88334 closed

[2022-02-18 10:19] liasong-sh opened #88336 "how to customize `the default summary overview pane` of Application Insight"
[Enter feedback here]

we are creating Application Insight on azure for our native app(iOS and Android), want the know how to customize `the default summary overview pane` of Application Insight

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0712a54f-9713-32a4-430a-793b25aad1bd
* Version Independent ID: af7d2d57-9412-6

[2022-02-18 10:22] Toshinobu-Suzuki commented on #88019
@RyanHill-MSFT
I appreciate your quick response.
I understand that Azure Media Service v3 API Java don't have a way to validate file which user uploaded and before created assets.
I'm glad you looked that up, Thank you.

[2022-02-18 10:32] constantino-casado opened #88337 "Wrong Guidance For Exadata Tooling (Pathway does not support Exadata at all)"
Hi Team,

in this page, when we select the Exadata migration we recommend customers to download PATHWAY tool for Exadata to Synapse migrations. Pathway does NOT support Exadata. That will confuse client that will loose time installing the tool and will not be able to get any value out of it.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2022-02-18 11:19] mihralibey opened #88339 "Please Update FAQ - Can I enable Microsoft Defender for Servers on a subset of servers in my subscription?."
I believe that the feature list which will be unavailable when Defender for Servers enabled at Log Analytics Level must be updated:
please add MDE as an important feature to this list or if possible please add all features. MDE extension is really important feature, and we tried very long time to test the Defender extension on a subset of server first, but Defender for Cloud didn't turned on.

---

[2022-02-18 11:22] Kazumz commented on #81868
Hi @markjbrown,

Thanks for getting back to me on this.

I've upvoted the thread you've mentioned.

Thanks.

[2022-02-18 11:24] shashishailaj commented on #88332
@adrian-nae Thank you for your feedback . We will investigate and update the thread.

[2022-02-18 11:25] chrisk314 opened #88340 "Slightly misleading/confusion instructions for specifying an identity for secrets store access"
In the usage details for [Use a system-assigned managed identity
](https://docs.microsoft.com/en-us/azure/aks/csi-secrets-store-identity-access#use-a-system-assigned-managed-identity) and [Use a user-assigned managed identity](https://docs.microsoft.com/en-us/azure/aks/csi-secrets-store-identity-access#use-a-user-assigned-managed-identity) point 5 is a bit misleading and potentially confusing. It

[2022-02-18 11:46] akshaymatmicrosoft opened #88341 "Sticky bit section need to be updated to include "Directory Owner" and "Superuser""
Sticky bit section needs to be updated to include "Directory Owner" and "Superuser". This has been validated in source code and via internal repro.

**_Change this_**
The sticky bit is a more advanced feature of a POSIX container. In the context of Data Lake Storage Gen2, it is unlikely that the sticky bit will be needed. In summary, if the sticky bit is enabled on a directory, a child item can on

[2022-02-18 11:56] zincob opened #88342 "Spark Config"
For the spark config mentioned here: https://docs.microsoft.com/en-us/azure/databricks/tutorials/run-jobs-with-service-principals?source=docs#--create-a-job-in-azure-databricks-and-configure-the-cluster-to-read-secrets-from-the-secret-scope

It is not mentioned that the storage account name should be changed, e.g:
fs.azure.account.auth.type.<account_name>.dfs.core.windows.net OAuth

---
#### Docum

[2022-02-18 12:00] MonikaReddy-MSFT commented on #88314
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-02-18 12:12] KrishnaG-MSFT commented on #88331
Hi @himanshukgit, As informed [here](https://docs.microsoft.com/en-us/answers/questions/736380/index.html), I have reached out to internal product team to get insights on whether there is a way to retrieve 'reason for non-compliance, and 'last evaluated' via Az PowerShell / REST API / CLI. Will keep you updated as I hear more information from our internal product team.

Also, based on the update w