[2020-01-13 07:09] realtomkwok opened #46029 "translate_speech_to_speech: how to extract the audio file or play it via speaker?"
So I followed the example of translating speech to speech and it has run successfully, however, I would like to extract the audio file from the result rather than receiving the size of the synthesized audio. I tried to print `evt.result.audio` and I've got a long string of codes, which seemed to need to be decoded. Is there reference for `evt.result.audio`or how can I extract the file from this bu

[2020-01-13 07:14] irriss commented on #39347
It still fails but now with different errors:

`The property 'refUpdates' cannot be found on this object. Verify that the property exists. At line:978 char:5 + $actualBranch = $WebhookDataObject.resource.refUpdates.name + ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ + CategoryInfo : NotSpecified: (:) [], PropertyNotFoundException + FullyQualifiedErrorId : PropertyNotFoundStrict`

`C

[2020-01-13 07:17] madhumlr opened #46030 "FormRecognizer - Labeling tool"
I am trying to use Azure Form Recognizer with Labeling tool to train and extract text out of images. As per the documentation:

`First, make sure all the training documents are of the same format. If you have forms in multiple formats, organize them into subfolders based on common format. When you train, you'll need to direct the API to a subfolder. (https://docs.microsoft.com/en-us/azure/cognitiv

[2020-01-13 07:19] ivasilyev-servicetitan-com commented on #22099
@duckie there was a [fix ](https://github.com/terraform-providers/terraform-provider-azurerm/pull/4290) in azurerm 1.34. Using [this ](https://github.com/terraform-providers/terraform-provider-azurerm/issues/4378#issuecomment-537948435) as a documentation - you can make a peering between 2 VNets in diff AADs.

[2020-01-13 07:39] AlexanderViken opened #46031 "example code syntax error"
[Enter feedback here]
There is an issue in the example code for adding the permissions for the client application and server application components to use the oAuth2 communication flow.

example code is:

az ad app permission add --id $clientApplicationId --api $serverApplicationId --api-permissions $oAuthPermissionId=Scope

but should be:

az ad app permission add --id $clientApplicationId --api

[2020-01-13 07:42] SnehaAgrawal-MSFT commented on #45845
@mathiasbl Thanks for asking question! As its mentioned in this [doc](
https://docs.microsoft.com/en-us/azure/key-vault/certificate-scenarios#import-a-certificate
) Once the import is final, subsequent operations will use the new policy (new versions).

You may also refer to below doc might be helpful:
https://docs.microsoft.com/en-us/azure/key-vault/about-keys-secrets-and-certificates#key-vault-c

[2020-01-13 07:45] Oronis commented on #45762
I had attempted using `func extensions install` both with and without the `--force` argument and it had no effect. Whether I have the .Net Core SDK installed or not, while working with the python function package, I always get the following message "No action performed. Extension bundle is configured in C:\Repos\FuncRepro\host.json.". I got this error even when it was not correctly installing the

[2020-01-13 07:49] ThijsLecomte opened #46032 "Wrong link for Azure subscription and service limits"
The link for 'Azure subscription and service limits' links to this page: https://docs.microsoft.com/en-us/azure/azure-portal/supportability/classic-deployment-model-quota-increase-requests
Instead of https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/azure-subscription-service-limits

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2020-01-13 07:58] ram-msft commented on #46029
@realtomkwok Thanks for the question. We are investigating the issue and will update you shortly.

[2020-01-13 08:11] SwathiDhanwada-MSFT commented on #46032
Thanks for the feedback! I have fixed the referenced change, and the change should reflect on the doc within 24 hours.

[2020-01-13 08:11] KalyanChanumolu-MSFT commented on #45913
@mvhbharath We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-01-13 08:11] #45913 closed

[2020-01-13 08:12] KalyanChanumolu-MSFT commented on #46009
@aaronralls Thank you for the detailed feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2020-01-13 08:12] jschwellnus92 opened #46033 "Key Vault Access Policy Property Iteration"
Key Vault Access Policy property iteration does not work, you receive an error "An invalid value was provided for 'accessPolicies'".

Reproduction can be done by copying the OP ARM template here https://stackoverflow.com/questions/55245815/arm-template-keyvault-accesspolicies-inside-object-parameter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2020-01-13 08:17] jschwellnus92 commented on #46033
If I take a look at the deployed template on the Azure Resource Group I can see that the copy expansion isn't occurring at all, as documented on this page.

"_Resource Manager expands the copy array during deployment. The name of the array becomes the name of the property. The input values become the object properties._"

![prop-copy-fail](https://user-images.githubusercontent.com/39755231/7224073

[2020-01-13 08:20] Karishma-Tiwari-MSFT commented on #44395
Thanks @viswanadham-k

[2020-01-13 08:24] VikasPullagura-MSFT commented on #46000
@rkttu I just tried reproducing the issue both on Cloud Shell and my local PC, however I am not able to reproduce the issue. Can you try once again and check if it is intermittent issue. I am looping product team on this issue for visibility.

@bramvdklinkenberg Can you try to upgrade the cli to latest version and give it try and see if you it works.

![image](https://user-images.githubusercontent

[2020-01-13 08:24] Karishma-Tiwari-MSFT commented on #45854
@derekrprice Is there an update? Let me know you using Azure CLI to achieve this or Azure Powershell/command prompt?

[2020-01-13 08:25] VikasPullagura-MSFT commented on #46000
@MicrosoftDocs/aks-pm for awareness

[2020-01-13 08:27] kyriakopoulosd opened #46034 "Trying to add and set-up for an Azure Active Directory account “NFC Security Key” as a sign-in method."
I'm trying to add and set-up for an Azure Active Directory account “NFC Security Key” as a sign-in method .(https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-authentication-passwordless-security-key).

For this purpose, I've got the following :
•Yubikey 5 NFC
•ACR122U USB NFC Reader and Writer.

After, installing successfully :
•the Yubikey Smart Card Minidriver for Wind

[2020-01-13 08:27] perkops opened #46035 "First section - sentence flaw"
you can must delete and re-create the variable as un-encrypted.

Can I? or Must I?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbcf48d3-ba48-75e5-092d-40317111b389
* Version Independent ID: 055126f7-51a5-37b3-a447-829b75c694b8
* Content: [Variable assets in Azure Automation](https://docs.microsoft.com/en-us/azure/au

[2020-01-13 08:36] SumanthMarigowda-MSFT commented on #45836
@UtsaVakani I see you have created [MSDN](https://social.msdn.microsoft.com/Forums/en-US/d7512eed-59b6-47bb-b280-aa2880f52c91/create-management-policies-using-arm-template-for-an-existing-storage-account?forum=windowsazuredata#fd232ab7-dff2-4eac-9b72-293f3a6dcf84)  forum thread. We would like to followup there.  Since it's not directly related to the documentation. We'll follow up there. We will n

[2020-01-13 08:36] #45836 closed

[2020-01-13 08:38] SumanthMarigowda-MSFT commented on #45837
@v-hakob Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-01-13 08:40] souravmishra-msft commented on #45649
@daxin09pp, Thanks for reaching out. I apologize for the delay in the response.
Yes I do agree with you on your point as MSAL does support storing the tokens in the browser's _localstorage_ container, and yes, it is vulnerable with XSS implementation in the header.

Ideally we have the following documented symptoms that can be found while storing of tokens on Client Side comes into question.

- Au

[2020-01-13 08:40] simonvane commented on #42603
@msrini-MSFT Any update on this?

[2020-01-13 08:41] msrini-MSFT commented on #42603
@mdgattuso , Can you please take a look?

[2020-01-13 08:51] KalyanChanumolu-MSFT commented on #46016
@pauloster Thank you for reaching out.
We are actively investigating and will get back to you soon.

[2020-01-13 08:53] RohitMungi-MSFT commented on #45926
@vrvrvrvrvr I have created a test QnA bot where user can ask questions like "How to buy shoes" where multi-turn provides two options to place an order and how to check order status. In all the below cases the bot returned options and based on user response the follow-up answer was displayed as mentioned in the KB during training. Here is a screen shot of the same from my team's channel after uploa

[2020-01-13 08:58] VikasPullagura-MSFT commented on #46021
@tdihp Thanks for the Feedback. I am assigning the issue to content author for this doc enhancement request.

[2020-01-13 08:59] ggailey777 commented on #45883
@fiveisprime would you be OK with keeping function key authorization if we got the instructions correct?

[2020-01-13 09:02] mcancarevic commented on #45213
Any hope for me? :)

[2020-01-13 09:02] Klaas- opened #46036 "Latency and performance kpis not met when using premium ssd production recommendation"
Hi,
I have configured a Standard M64ls (64 vcpus, 512 GiB memory) according to this guide but it doesn't meet the hcmt requirements. I am failing these tests:
File System Write ➜ 16KB Block, Data Volume 16GB, Overwrite ➜ ThroughputIO (99MB/s instead of the required 100mb/s or above)
File System Write / 4K Block, Log Volume 5GB, Overwrite / Latency (KPI: &lt;= 1,000us ) [2,226us instead of 1000us o

[2020-01-13 09:08] SwathiDhanwada-MSFT commented on #46032
Assigning to author for reviewing

[2020-01-13 09:11] SumanthMarigowda-MSFT commented on #45840
@marcin-vt Apologies for the delay in responding here. This may be your permission issue.
 Your user account does not have access to the storage account
The issue may be related to firewall rules for the storage account.

To change this go to :Storage accounts > {yourAccount} > Firewalls and Virtual networks and add your IP address
For listing blobs, you would need List permission.

Additional inf

[2020-01-13 09:11] #45840 closed

[2020-01-13 09:18] RohitMungi-MSFT commented on #46030
@madhumlr Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-01-13 09:19] KrishnaG-MSFT commented on #46035
@perkops Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2020-01-13 09:21] KrishnaG-MSFT commented on #46033
@jschwellnus92 Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2020-01-13 09:22] VikasPullagura-MSFT commented on #46028
@WhitWaldo Thanks for pointing this out. I have raised a PR for fixing this and changes will go live soon.

[2020-01-13 09:27] jschwellnus92 commented on #46033
@KrishnaG-MSFT I think I have figured it out and it does not have anything to do with the copy. I moved my Key Vault Access Policies from the parent resource in the template to its own for the purposes of doing the copy. It looks like 'accessPolicies' is a mandatory field on the Key Vault even though the documentation at [here](https://docs.microsoft.com/en-us/azure/templates/microsoft.keyvault/20

[2020-01-13 09:30] VikasPullagura-MSFT commented on #46031
@AlexanderViken Thanks for the Feedback.
I have raised a PR for fixing this and changes will go live once the PR is approved.

[2020-01-13 09:30] #46031 closed

[2020-01-13 09:30] #46028 closed

[2020-01-13 09:38] #46024 closed

[2020-01-13 09:38] DixitArora-MSFT commented on #46024
@jimmcslim PR has been created for this which will address this. Thanks so much for providing the feedback that help us in improving the documentation. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-13 09:39] bramvdklinkenberg commented on #46000
@VikasPullagura-MSFT I will then have to upgrade the cli on the hosted build agent every time we run a job on a hosted agent. Will try that upcoming weekend, we only use the hosted agent to rebuild/redeploy our own AKS cluster with vsts build agents.

[2020-01-13 09:43] #46033 closed

[2020-01-13 09:52] crisansou commented on #45892
Hi @KranthiPakala-MSFT,

No, it's ok. I believe only the documentation needs to be updated.

Best regards,
Cristina

[2020-01-13 09:55] RohitMungi-MSFT commented on #45994
@PatrickFarley Could you please review the above and add snippet to authenticate method in the [cognitive-services-dotnet-sdk-samples](https://github.com/Azure-Samples/cognitive-services-dotnet-sdk-samples/blob/master/documentation-samples/quickstarts/ContentModerator/Program.cs#L121) which can be referenced in this document?

[2020-01-13 09:56] cananac opened #46039 "Key Vault and Storage account subscriptions"
Hi,

There are two statements in different sections for customer-managed keys:
" The storage account and the key vault must be in the same region, but they can be in different subscriptions."
"The key vault must be located in the same subscription as the storage account. "
Aren't those conflicting or are we talking about different key vaults?

Thanks,
Canan

---
#### Document Details

⚠ *Do not ed

[2020-01-13 10:01] VikasPullagura-MSFT commented on #45928
@MicrosoftDocs/aks-pm Please add your comments

[2020-01-13 10:20] jagge123 opened #46040 "Client application - FHIR API not working."
Hi, i have a couple of questions relating to this article. I have been trying for weeks to get my basic .NET Web api to be able to interact with the FHIR API without the need to sign in as a user with not much success. I will try to explain what i have done so far and hopefully someone can give me some help or pointers on where to go next.

I can use POSTMAN to be able to access the FHIR API, but

[2020-01-13 10:22] jagge123 opened #46041 "Client application - FHIR API not working."
Hi, i have a couple of questions relating to this article. I have been trying for weeks to get my basic .NET Web api to be able to interact with the FHIR API without the need to sign in as a user with not much success. I will try to explain what i have done so far and hopefully someone can give me some help or pointers on where to go next.

I can use POSTMAN to be able to access the FHIR API, but

[2020-01-13 10:36] jagge123 opened #46042 "Client application - fhir api"
Hi, i have a couple of questions relating to this article. I have been trying for weeks to get my basic .NET Web api to be able to interact with the FHIR API without the need to sign in as a user with not much success. I will try to explain what i have done so far and hopefully someone can give me some help or pointers on where to go next.

I can use POSTMAN to be able to access the FHIR API, but

[2020-01-13 10:37] cephalin commented on #44233
@LeonardoSobrado Thanks for the feedback. The link correction should be published sometime today.

Note the parent image section applies to more than ASP.NET Core, but also ASP.NET Framework. It makes sense that a Core image would contain the configurations to run Core apps, regardless what the parent image is.

#please-close

[2020-01-13 10:37] #44233 closed

[2020-01-13 10:39] Manishjpradhan opened #46043 "Support as a sink for Microsoft Dynamics 365 Finance and Operations"
Please let us know the plan for supporting this connector as a sink for Dynamics 365 Finance and Operations. Currently the only option to load  bulk data using ADF into Dynamics 365 FinOps is using SSIS packages using third party connectors.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80c83af6-27c2-d140-4f5d-8407704

[2020-01-13 10:42] shibayan opened #46044 "Does the App Service Plan bill by the hour or by the second?"
The documentation states that billing is in hours, while the pricing page states that billing is in seconds. Which is correct?

&gt;  so each VM instance in the App Service plan has an hourly charge

&gt; App Service plans are billed on a per second basis.
https://azure.microsoft.com/en-us/pricing/details/app-service/windows/

---
#### Document Details

⚠ *Do not edit this section. It is required

[2020-01-13 10:47] SnehaAgrawal-MSFT commented on #46044
@shibayan Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-01-13 11:03] Another-Phil-Nhsbt opened #46045 "Using VS2019 - App returns 404 in Azure until you update Microsoft.NET.Sdk.Functions package"
To get it working in Azure:
- update the application to .NET Core 3.0 in application properties (may or may not be required)
- update the Microsoft.NET.Sdk.Functions package to the latest (3.0.2 at time of writing)
- republish

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e88ea08-81ef-2b5a-b9d6-539e85592672
* Version

[2020-01-13 11:04] rkttu commented on #46000
@VikasPullagura-MSFT The issue was gone when I tried to download again about three or four hours ago today. I know that this feature is not ready for production, but I think the download feature should work at any time.

Also, because it has occurred before, and it seems like a regression problem. It would be appreciated if you can detect and fix it first with monitoring activity.

[2020-01-13 11:04] AshokPeddakotla-MSFT commented on #45812
@koolkarni This problem might occur if your environment doesn’t have a Time Series Model hierarchy defined.
I suggest you, add Instances, Hierarchies, and Types and let us know if you still facing this issue.
I tried to repro your issue and able to see the Instances I’ve added.

![image](https://user-images.githubusercontent.com/44426435/72250809-7cdf0500-3622-11ea-9e2b-ec575221e6bd.png)

For more

[2020-01-13 11:07] derekrprice commented on #45854
The az command I quoted is Azure CLI, right?  I am running it from PowerShell in Windows.

Sent from my mobile
Please excuse brevity and typos

[2020-01-13 11:17] cephalin commented on #45766
The link update should be published sometime today. #please-close

[2020-01-13 11:17] #45766 closed

[2020-01-13 11:24] cephalin commented on #45034
@StefanSchoof The client secret is needed if your app uses delegated permissions to access back end services (as opposed to just authenticating users to access your app itself). This is common to OAuth scenarios and isn't particular to App Service. For information about configure Azure AD app registration, see their documentation. For example: https://docs.microsoft.com/en-us/azure/active-director

[2020-01-13 11:24] #45034 closed

[2020-01-13 11:25] tdihp commented on #46021
To add more context, the example is using a Kubernetes internal service domain name, however it's using resolv.conf as the next server. It doesn't work out of box in the scenario that we want to resolve an fqdn to a internal service.

Although the comment added we can use 10.0.0.10 (actually 127.0.0.1 should also work), it didn't clarify why.

[2020-01-13 11:26] RohitMungi-MSFT commented on #45998
@AnthonyBe Curl and Powershell can be used with the [Rest API](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/rest-speech-to-text#powershell-sample). They are currently not supported with the SDK. Please feel free to raise a [user voice idea](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/rest-speech-to-text#powershell-sample) so our team can tak

[2020-01-13 11:29] RohitMungi-MSFT commented on #46043
@Manishjpradhan Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-01-13 11:33] KrishnaG-MSFT commented on #46040
Duplicate of #46042

[2020-01-13 11:33] #46040 closed

[2020-01-13 11:35] KrishnaG-MSFT commented on #46041
Duplicate of #46042

[2020-01-13 11:35] #46041 closed

[2020-01-13 11:38] nmetayer87 commented on #45736
Thank you, I’m having some trouble with importing the desired attributes. Can you tell me which fields are designated for users’ second and third email address. We need to leverage this data for SSO into ancillary apps using legacy accounts.

Thank you!
Nesly

[2020-01-13 11:38] KrishnaG-MSFT commented on #46042
@jagge123 Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2020-01-13 11:42] andyjballgit opened #46046 "Azure Firewall missing from list of Resource Types in "Public IP addresses" section"
should be a full list , instead of "some of the resources".  This is important as it is common for Infosec teams to ask for a list of Public IP Addresses that are under companies control (as opposed to say Azure SQL Server, Web Apps)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c7626c7-1ea9-61ff-2219-2da2ef254524
*

[2020-01-13 11:49] KrishnaG-MSFT commented on #46026
@sunilmaram To better assist you, can you please share the Azure document link / URL for which this feedback is applicable to ?

[2020-01-13 11:52] Skorfulose opened #46047 "Non-Windows / SPNEGO"
Is the additional registry key to enable SPNEGO still needed as described in [SSO for non-Windows apps](https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/application-proxy-configure-single-sign-on-with-kcd#sso-for-non-windows-apps)?

The [2015 App Proxy Troubleshooting Guide](https://aka.ms/proxytshootpaper) (via [here](https://docs.microsoft.com/en-us/azure/active-directory/mana

[2020-01-13 11:52] SaurabhSharma-MSFT commented on #45875
@Galey801  Thank you.
@cyberswimmer We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-01-13 11:52] #45875 closed

[2020-01-13 11:56] cephalin commented on #44785
@dcbrown16 Thanks. The update has been merged and should be published today.

[2020-01-13 11:58] KrishnaG-MSFT commented on #46027
@CedricZhu Thanks for reaching out to us, but at this time it does not look like you are referring to an Azure document but to a specific scenario. In case you are referring to an Azure document and if you think it needs an update (w.r.t documentation or document related product / service) then please let us know that Azure documentation link / URL here in this issues part of azure-docs repository

[2020-01-13 12:01] SaurabhSharma-MSFT commented on #45822
@akiller ok. great.  thanks for letting us know.  We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-01-13 12:01] #45822 closed

[2020-01-13 12:01] rkttu opened #46048 "Some steps should be updated"
a. Create a resource group: Available region should be described. Detecting unsupported regions with regular expression error messages is not intuitive.

b. Create an AKS cluster: Be sure to add a step in this document that first checks the versions of Kubernetes that are supported in the current region.

[code]

c. It should be mentioned that the password in the PASSWORD_WIN environment variable

[2020-01-13 12:25] KrishnaG-MSFT commented on #46034
@kyriakopoulosd Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2020-01-13 12:25] vrvrvrvrvr commented on #45926
Still unresolved. I have event tried to recreate new knowledge base and adjusted ID in application settings. Settings are pretty much the same as yours however I have defined only scope items.
<img width="1447" alt="Screenshot 2020-01-13 at 14 18 03" src="https://user-images.githubusercontent.com/30291300/72255564-b8bc9f00-360f-11ea-9198-b7b8fa32ebb7.png">
In channel:
<img width="714" alt="Screens

[2020-01-13 12:26] Oronis commented on #35973
This seems to still be open, so I'll add here. Same question as the OP except for Python. From what I can find, this currently isn't possible, but it would be a very useful piece of functionality for returning the random guid to applications.

[2020-01-13 12:28] KrishnaG-MSFT commented on #46036
@Klaas- Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2020-01-13 12:30] KrishnaG-MSFT commented on #46039
@cananac Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2020-01-13 12:32] sysadmin-exe opened #46049 "misleading/confusing text in docs"
"Azure Monitor logs currently works only for public Basic load balancers"

I think this is very misleading. Azure Monitor is also the only way to view "multi-dimensional" logs for standard load balancers.

so am i miss understanding this or is this very confusing

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d797fa9d-

[2020-01-13 12:41] NavtejSaini-MSFT commented on #45959
@sandeep8530 We have created a Pull [request](https://github.com/MicrosoftDocs/azure-docs-pr/pull/100936) to correct this. Once it is approved the changes will reflect and the thread will close.

[2020-01-13 12:42] borisd opened #46050 "Please delete"
Following the tutorial leads to a docker container that doesn't load.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 872e5aa0-cda4-295d-08f8-4db6e488e32f
* Version Independent ID: 2b6b32d6-e501-6cb4-bb3b-c3c46851d24e
* Content: [Quickstart: Create a Linux Ruby app - Azure App Service](https://docs.microsoft.com/en-us/a

[2020-01-13 12:45] w0ut0 commented on #45928
I have the same problem, however my storage account is publicly reachable.
I tried deleting the network profile and recreating it (like defined on this page), but this does not work.

We have a manually setup environment (an existing VNET and subnet), but we deploy our Container using the Azure CLI + yml template (pointing to the network profile).

[2020-01-13 12:47] NavtejSaini-MSFT commented on #45973
@CarlosOnline We have assigned this to doc author for review.
@orspod Please check the feedback from the user and correct the queries if needed.

[2020-01-13 12:49] mohamed-shehata-m opened #46051 "DNS settings on VNet level gets stuck on any app service that has VNet integration"
We had performance issues on app services which had VNet integration because app services had old DNS settings (pointing to decommissioned DNS server) cached from VNet integration.
"When we run SET WEBSITE_DNS_ from Kudu console on app service it shows DNS servers that was set on VNet level long time ago".
The VNet itself doesn't have the DNS settings anymore (using azure default DNS).
We had to r

[2020-01-13 12:50] #46050 closed

[2020-01-13 13:06] cwalton82 commented on #34828
We're having the same issue trying to associate the Certificate through ARM.  Is there an up to date example of this yet ?

[2020-01-13 13:06] NavtejSaini-MSFT commented on #45949
@maulik1shah Please raise the request in appropriate forum. We will be going ahead and closing this thread for now.

[2020-01-13 13:06] #45949 closed

[2020-01-13 13:10] ketan-chawda-msft commented on #46045
@Another-Phil-Nhsbt Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-13 13:20] shibinchandra commented on #45582
Hey @mike-urnun-msft, Just checking if the document author got a chance to review. I am very much eager to see if the location header rewrite will work with Azure AD authentication.
Thanks for your support !

[2020-01-13 13:21] jfalameda opened #46052 "Unclear how to add this on a existing deployed cluster"
Hi,

You are encouraged to add this property into the ARM, but in my case, I already have a deployed cluster. What would be the right way to proceed in this case? It would be great to explain this in the document.

Kind Regards,
José.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f98acbcd-3d9a-cc4e-390a-c2f1886d30bb
*

[2020-01-13 13:34] gsahlstrom commented on #45941
Hi! I just followed the steps in the document, and things worked as such, but the text appears in a place that I didn't expect.. anyway, I'll post my question in the Q&A forums instead, and you can close this out.

Thanks!

[2020-01-13 13:35] KrishnaG-MSFT commented on #46050
@borisd Hope you have self resolved and hence closed the issue. Thanks for the update.

[2020-01-13 13:40] nonstoptimm opened #46053 "Problem when creating utterances using Python SDK"
Hi LUIS-Team,
I am facing some issues when creating utterances using the Python SDK.

Within the function "add_utterances", the utterances should be prepared with the respective entities:
- the function "create_utterances" does not seem to exist, which is a bit misleading -&gt; based on the documentation, the utterances should be posted as ExampleLabelObjects, which I understand as a list with tup

[2020-01-13 13:47] MonikaReddy-MSFT commented on #46052
@jfalameda , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-01-13 13:49] MonikaReddy-MSFT commented on #45034
@StefanSchoof , I hope the explanation provided by @cephalin was helpful. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-13 13:52] MonikaReddy-MSFT commented on #40931
@lisaguthrie - Thanks for taking care of this issue.
@MoiMoiDG - Thanks again for bringing this to our attention. We have updated the Doc and We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-13 13:53] StefanSchoof commented on #45034
Thanks, that helped

[2020-01-13 14:16] maya-cnx commented on #43489
Any update on this question?

[2020-01-13 14:22] SubhashVasarapu-MSFT commented on #46049
@sysadmin-exe ,  We are looking into this query and will update you as soon as possible.

[2020-01-13 14:24] SubhashVasarapu-MSFT commented on #46046
@andyjballgit , We are looking into this query and will update you as soon as possible.

[2020-01-13 14:27] o-l-a-v commented on #44946
It's obvious that Microsoft wants extra money for the granularity needed to exclude certain users from Security Defaults. It's not a bug, it's by design.

[2020-01-13 14:34] enkianu commented on #45882
When will the bulk invite feature be restored? No word from you concerning reasons on why it was disabled or time when it'll be restored.

[2020-01-13 14:36] nonstoptimm commented on #39862
Up - were you able to find somebody who can take a look at this :)?

[2020-01-13 14:37] gerardvanderland opened #46054 "Missing space in PowerShell cmdlet"
In the example "Set-MsolDirSyncFeature -Feature SynchronizeUpnForManagedUsers-Enable $True" there should be a space before -Enable". I would also suggest mentioning "Get-MsolDirSyncFeatures -Feature SynchronizeUpnForManagedUsers" to check what the current setting is.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a977

[2020-01-13 14:42] m14cus commented on #45682
Hi Ajay

Sorry for teh slow response I've been tied up with other customer work and
will loop back to this asap and reach out it I need any help.

cheers

Marcus

On Sat, Jan 11, 2020 at 5:23 PM AjayKumar-MSFT <notifications@github.com>
wrote:

[2020-01-13 14:49] daneri-norkart opened #46055 "Error adding container instance to Vnet"
As part of a website I have an API and a Container Instance together in a Vnet in their own subnets, where the api routes calls from a client to the container. This morning when the Container was starting up it could not get past the 'ContainerCreating state', where it would give the errors: 'Killing container with id docker://**. Need to kill Pod' and 'Back-off restarting failed container'.

I tr

[2020-01-13 14:51] lkohn commented on #11299
If I'm reading this right certain directories aren't encrypted at rest: https://docs.microsoft.com/en-us/azure/app-service/app-service-security-controls
'Locally attached disks can optionally be used as temporary storage by websites (D:\local and %TMP%). Locally attached disks are not encrypted at rest.'

[2020-01-13 14:54] dazinator opened #46056 "Doesn't seem to work."
I get this error when attempting to run the acr task:

C:\Users\DarrellTunnell&gt; az acr run --cmd $PURGE_CMD --registry labdocker /dev/null
Queued a run with ID: db1
Waiting for an agent...
2020/01/13 14:51:21 Creating Docker network: acb_default_network, driver: 'bridge'
2020/01/13 14:51:21 Successfully set up Docker network: acb_default_network
2020/01/13 14:51:21 Setting up Docker configurati

[2020-01-13 14:58] rabrahamOpti commented on #45859
Hi @ketan-chawda-msft

I was looking for where the Header name itself was defined. Since I wrote this comment, I found it in the API's settings page, under Subscription:

![image](https://user-images.githubusercontent.com/28309959/72265879-28815880-3615-11ea-9724-85416f514da2.png)

I haven't found documentation on this, and it would be especially helpful to have this documented on this page.

[2020-01-13 15:07] dazinator commented on #46056
Ah this can be closed. My version of az cli was outdated. Sorry.

[2020-01-13 15:37] TheHunter896 opened #46058 "NewsSearchApi is depracated"
NewsSearchApi was changed to NewsSearchClient. Also it now requires the kwarg endpoint, not only credentials.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ebddaf29-f50a-1031-90bc-b6d310e3ab12
* Version Independent ID: b3568f8a-f6da-2444-5eb5-f5f27d1c94fd
* Content: [Quickstart: Perform a news search using the SDK for

[2020-01-13 15:39] RohitMungi-MSFT commented on #45926
@vrvrvrvrvr The steps in the document to change the default answer are correct, A restart of the app service is required after the change before you test the default answer in QnAMaker. Please ensure the correct app service is restarted to check for the change in default answer.

Please feel free to raise a support ticket or submit a query through user voice from the top right corner so the produc

[2020-01-13 15:42] IEvangelist commented on #39862
Hi @nonstoptimm,

What have you done to troubleshoot this thus far? Are there any error responses returned from the REST call? Are you able to capture and output the request body before sending, to verify it for correctness?

Also, I've noticed in your input that you shared here, that there are spaces around the element names... this is actually invalid in XML.

Perhaps you could try this instead

[2020-01-13 15:43] edfreeman commented on #45935
@tamram Thanks for clarifying.

Will the Storage Explorer in the portal support AAD creds once GA? If so, do you know when this will be?

[2020-01-13 15:47] mossywell opened #46060 "Service Endpoints also needs Event Hub"
https://docs.microsoft.com/en-us/azure/app-service/environment/firewall-integration
States that Microsoft.EventHub, Microsoft.SQL and Microsoft.Storage are needed. Strictly speaking the link referenced is talking about outbound connections whereas this is talking about inbound connections. However, given that, in practice, both apply, I think it is worth adding Event Hub to this document.

---
###

[2020-01-13 15:49] lyrana commented on #45812
Hello @koolkarni thank you for pointing this out, I will speak with the appropriate people on the product team to make sure that the link gets changed and that the wording is clarified. Please let me know if you have any additional questions regarding the model and/or PAYG Preview.
Thank you,
Lyrana

[2020-01-13 15:49] IEvangelist commented on #39862
#assign IEvangelist

[2020-01-13 16:06] AjayKumar-MSFT commented on #45634
Susheel, thanks for adding more details. Your feedback has been shared with the content owner (@cephalin) for further review and while I check on this more.

[2020-01-13 16:12] jeanpchr commented on #40726
Is there a release date for this feature in production?

[2020-01-13 16:14] Mcphejoh commented on #31188
Greetings - I have been using the dame Packer code and confirmed today the winrm timeout is still persistent - have tried with winrm ssl set to true and false user and password and with user name and password errors with connection reset by peer, the other ssl method just winrm times cancelling build. windows 2012 works but the power shell levels are ot compatible with code scripts.
Any help is ap

[2020-01-13 16:21] PramodValavala-MSFT commented on #45956
@mslot Even the function app is scaled out, all of the instances poll the same storage queue with just one triggering for each message in the queue.

The blob trigger polls the storage logs and periodically scans the container for new or updated blobs. It uses blob receipts documented in this doc to keep track of processed blobs.

Also, as documented in this doc, Event Grid Trigger could be used f

[2020-01-13 16:26] ShaneCourtrille opened #46061 "Final image shows http instead of https"
The final screenshot in the page showing the end result shows http instead of https.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de55a4d6-ea6b-c5b5-ba8a-a5c07ac91270
* Version Independent ID: 5963e6fa-bf56-7e6c-7550-a89f62d30638
* Content: [Configure SSL for a cloud service](https://docs.microsoft.com/en-us/azure/cl

[2020-01-13 16:27] nonstoptimm commented on #39862
HI IEvangelist,
thanks for your your quick response. Within my script I used valid XML of course, without spaces (I just faced some formatting issues within this editor, as I did not use the code formatting ;)).
Will try your suggestions and provide feedback! Best, Timm

[2020-01-13 16:29] steele6599 commented on #41792
Is there any update as I'm having a similar issue trying to pull Citizenship status to populate to Extensionattribute1 in AD.

Pull From WD Studio:/env:Envelope/env:Body/wd:Get_Workers_Response/wd:Response_Data/wd:Worker/wd:Worker_Data/wd:Integration_Field_Override_Data/wd:Value

string: wd:Worker/wd:Worker_Data/wd:Integration_Field_Override_Data/wd:Value/text()

im not getting any errors in the A

[2020-01-13 16:30] SwathiDhanwada-MSFT commented on #45686
@keithcharlie Can you please provide your insights on the comment?

[2020-01-13 16:33] ToriParla opened #46062 "IoTEdge Module Build fails"
##[section]Starting: AzureIoTEdge
==============================================================================
Task         : Azure IoT Edge
Description  : Build and deploy an Azure IoT Edge image
Version      : 2.3.0
Author       : Microsoft Corporation
Help         : https://docs.microsoft.com/azure/devops/pipelines/tasks/build/azure-iot-edge
===================================================

[2020-01-13 16:35] Dilergore commented on #31188
@Mcphejoh Can you check what is the difference between the WinRM / Windows Firewall (default) settings between 2012 and 2016 (or 2019 and 2016)?

[2020-01-13 16:36] mmacy commented on #44954
Hi @jabamit, any update on whether your errors were resolved by my previous comment?

[2020-01-13 16:39] Klaas- commented on #46036
@msjuergent maybe you can help?

[2020-01-13 16:40] KranthiPakala-MSFT commented on #45892
@crisansou Thanks for confirming. We have assigned the issue to the content author to investigate this and update the document as appropriate.

[2020-01-13 16:53] MonikaReddy-MSFT commented on #45696
Hello @alohaninjal, I have reached out to the internal product team and they have confirmed that the  OpenCensus is not becoming OpenTelemetry.  OpenCensus will continue to exist as a project and could eventually become unsupported.  I hope this information helps.

Since there are no updated in the doc at this moment, We will now proceed to close this thread. If there are further questions regardi

[2020-01-13 16:53] #45696 closed

[2020-01-13 17:00] CeciAc opened #46063 "Deployment options-> Requires Deployment Center update"
Hi team,
I moved this here: https://github.com/MicrosoftDocs/azure-docs.ko-kr/issues/1063

The comments below were machine-translated

@zer0big commented yesterday — with docs.microsoft.com
Deployment by deployment options in the "Deploy from GitHub to your deployment slots" section is no longer valid.
Updates are required for deployment through the Deployment Center.

---
#### Document Details

⚠

[2020-01-13 17:02] KranthiPakala-MSFT commented on #45704
@aniketshintre Thanks for confirming. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2020-01-13 17:02] #45704 closed

[2020-01-13 17:05] normesta commented on #45630
#please-close

[2020-01-13 17:05] #45630 closed

[2020-01-13 17:06] fiveisprime commented on #45883
Yeah, that would be fine.

[2020-01-13 17:08] nonstoptimm commented on #39862
Hi again, unfortunately, the suggestions did not fix my problem. The request bodies look as follows (tried both options):
`Welcome to <prosody pitch="high">Microsoft Cognitive Services Text-to-Speech API.</prosody>`
`b'<speak version="1.0" xml:lang="en-US"><voice name="Microsoft Server Speech Text to Speech Voice (en-US, GuyNeural)">Welcome to &lt;prosody pitch="high"&gt;Microsoft Cognitive Servic

[2020-01-13 17:09] ajinkyas commented on #18489
@MicahMcKittrick-MSFT , I am also facing the same issue on production environment. Do we have any solution for it?

[2020-01-13 17:09] cephalin commented on #44785
#please-close

[2020-01-13 17:09] #44785 closed

[2020-01-13 17:12] dsm0880 commented on #40726
@jeanpchr Hey, I've already done this and it seems to work using the below:
[code]

[2020-01-13 17:12] MGoedtel commented on #37403
No new updates, still planned as communicated back in October and we don't have any specific dates to share at this time.

[2020-01-13 17:16] cynthn commented on #45999
@satyasyamnn Thank you for the feedback. Because this isn't feedback about the documentation, it is probably best to post it to the engineering feedback site, here: https://feedback.azure.com/forums/216843-virtual-machines

#please-close

[2020-01-13 17:16] #45999 closed

[2020-01-13 17:21] MarileeTurscak-MSFT commented on #46054
@gerardvanderland
Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-13 17:23] MarileeTurscak-MSFT commented on #46054
@gerardvanderland thanks! I made a pull request to add this. https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-pta-faq#feedback

CC @billmath for your other feedback.

[2020-01-13 17:23] #46054 closed

[2020-01-13 17:25] asudbring commented on #34432
Updated article to reflect new az commands and removed legacy content
#please-close

[2020-01-13 17:25] #34432 closed

[2020-01-13 17:32] IEvangelist commented on #39862
Yes, the `&lt;` and `&gt;` seem to be a clue in the first example body... It appears that we should be using the [`fromstring` option here](https://docs.python.org/3/library/xml.etree.elementtree.html#xml.etree.ElementTree.fromstring) - if the text has XML in it.

If you replace [this line](https://github.com/Azure-Samples/Cognitive-Speech-TTS/blob/master/Samples-Http/Python/TTSSample.py#L62) with

[2020-01-13 17:33] smf723 opened #46064 "Different URL for Docker Toolbox"
For those that are using Docker Toolbox instead of Docker Desktop the URL is http://192.168.99.100:3000/ as opposed to http://localhost:3000. I know this is just for Docker newbies but I happen to be one. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 67f00138-7492-ba6e-6665-de0a6e0803f8
* Version Independent I

[2020-01-13 17:33] tomkodet commented on #45882
Hi samirs20 and enkianu,
I found a really good powershell script just below this section: https://docs.microsoft.com/en-us/onedrive/b2b-sync#methods-of-sharing

It not only invites guests (notice the invite email notification is suppressed with $false even though the comments in the script says it sends out an invite), but it also adds the new guests to an Azure AD Group immediately. It took me a

[2020-01-13 17:33] RyanHill-MSFT commented on #46051
Thanks for the feedback  @mohamed-shehata-m! We are currently investigating and will update you shortly.

[2020-01-13 17:34] RyanHill-MSFT commented on #46060
Thanks for the feedback @mossywell! We are currently investigating and will update you shortly.

[2020-01-13 17:37] gstevens-kyriba opened #46065 "CA cert for azure.com ?"
This article states:
Get a certificate
First, get a certificate from a certificate authority (CA). The common name of the certificate should be the host name of the cluster. For example, "myclustername.southcentralus.cloudapp.azure.com".

Is this even possible?  How can I get a CA to issue me a cert for that?  I don't control the azure.com domain.

---
#### Document Details

⚠ *Do not edit this se

[2020-01-13 17:41] cybertron2600 commented on #45921
@DixitArora-MSFT That would be great, thank you very much.

[2020-01-13 17:43] sameera commented on #43341
Actually, there's no need to do any guess work here. Go to `Setup > Integration > SAML Single Sign On` in NetSuite and under `NetSuite Configuration`, you will find the exact domain (such as `system.na0.netsuite.com` in this case).
<img width="437" alt="Screenshot 2020-01-13 at 23 05 36" src="https://user-images.githubusercontent.com/208470/72278567-49b86800-365a-11ea-8e29-28dec34b645c.png">

[2020-01-13 17:43] ZachTB123 opened #46066 "Clarification on maximumWaitingRuns property"
The "Change waiting runs limit" section of this page states that the `runtimeConfiguration.concurency.maximumWaitingRuns` property allows a value between 0 and 100. I currently have a Logic App with a concurrency of 1 and am looking to set `maximumWaitingRuns` to 0 so I only have one execution at a time and no queue of waiting executions.

When attempting to set `runtimeConfiguration.concurency.ma

[2020-01-13 17:52] nehaagrawal opened #46068 "CORS issue in ASP.net core web app"
I am following this document(https://docs.microsoft.com/bs-latn-ba/azure/active-directory/develop/quickstart-v2-aspnet-core-webapp) for adding authentication in my asp.net web app and I am getting CORS issue. The document doesn't say anything about CORS setting so I am wondering what am I missing.  Below error is from edge but same can be reproduced in chrome. I work at Microsoft so please let me

[2020-01-13 17:53] DixitArora-MSFT commented on #46066
Hi @ZachTB123 Thanks for reaching out. We will review and update as appropriate.

[2020-01-13 17:55] Grace-MacJones-MSFT commented on #45714
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-13 17:55] #45714 closed

[2020-01-13 17:56] nonstoptimm commented on #39862
The request itself is successful, but the string part of the body is empty when using the following string:
`<prosody pitch='high'>Welcome to Microsoft Cognitive Services Text-to-Speech API.</prosody>`
`b'<speak version="1.0" xml:lang="en-US"><voice name="Microsoft Server Speech Text to Speech Voice (de-DE, Hedda)" /></speak>'`

In case the string does not start with an XML element, I receive a sy

[2020-01-13 17:58] teguhsiswanto87 opened #46069 "Bad doc for beginner"
Not Specific how to finish Prerequisites
    Install Git
    Install PHP 5.6.4 or above
    Install Composer
    Enable the following PHP extensions Laravel needs: OpenSSL, PDO-MySQL, Mbstring, Tokenizer, XML
    Install and start MySQL

how do it on linux, use Cloud Shell? there is no documentation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2020-01-13 18:02] vlado101 opened #46070 "substring and negative startIndex"
Hello,

Is there a reason why Azure Data factory does not allow a negative startIndex so that substring would start from right to left instead of left to right?

For example if I have a file such as "I_File_20180625180636.csv" and I wanted to substring the date value out of it so that I can add logic to make sure that I am getting a file that is closest to sysdate() I think that it would be easier

[2020-01-13 18:02] Grace-MacJones-MSFT commented on #45968
Hi @eric-camplin,  upon further review we feel your feedback would be best received by the doc author to see if it is necessary to update the current doc or create a new doc if they align with your feedback. Thanks!

[2020-01-13 18:04] jasonpnnl commented on #33778
@chetansriv Thanks for adding the warning. I noticed that it's at the very end of the document. Perhaps it would be better to move it to the beginning of the document, the issue being that if it's at the very end the user won't see it until having potentially already performed all the preceding steps and triggering the issue.

[2020-01-13 18:06] eparizzi opened #46071 "How to setup when using IntelliJ IDEA with Maven?"
This page shows how to setup IntelliJ IDEA to support Databricks Connect. Problem occurs when the project is set as a Maven project. Every time the project is "rebuilt" with Maven, the jars added through IntelliJ project structure dialog are lost.

How do we go about adding these on Maven?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-01-13 18:06] ckbargavi opened #46072 "countDownLatch await blocks the thread forever if error callback is executed instead of subscribe callback in Java SDK example"
successfulCompletionLatch.countDown() is not called in error callback which results await call to be blocked forever if error is thrown. Please correct the java example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 239e3b2d-4a09-c6a1-ab36-70b60a18f8b5
* Version Independent ID: 10a323f6-5a10-8b38-6339-48ee7a4c54b3
* C

[2020-01-13 18:18] Mike-Ubezzi-MSFT commented on #45473
@mlee3gsd For awareness.

[2020-01-13 18:19] DeanCefola opened #46073 "Clarify RDP Requirements"
There seems to be a missing requirement, possibly due to an assumption that has been made.
You cannot connect to the VM over RDP unless the PC you are connecting from is joined to the same domain or Azure AD Joined to the same Azure AD.
This information is noted on this page at this link  - https://docs.microsoft.com/en-us/azure/active-directory/devices/howto-vm-sign-in-azure-ad-windows#log-in-usi

[2020-01-13 18:21] Saynac opened #46074 "A few updates"
Hi there.  I work in the Paylocity integration department.  We've noticed a few issues with the default SSO settings on the Azure side.

First -- our mutual clients are getting their default SAML Signing Certificate "Signing Options" created with a default value of "Sign SAML assertion".  We need this to default to "Sign SAML response and assertion".  If Azure can't update the default settings on

[2020-01-13 18:21] Karishma-Tiwari-MSFT commented on #46061
@georgewallace Looks like @tgore03 is not a member of Azure-docs. I have assigned it to you. Let me know if this should be assigned to someone else.
@ShaneCourtrille Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-01-13 18:25] gstevens-kyriba opened #46075 "Template update doesnt work.."
It seems the schema of the "Microsoft.ServiceFabric/clusters" type has changed...  Certs are now shown as:

"clientCertificateCommonNames": [
	{
	"certificateCommonName": "[parameters('certificateCommonName')]",
	"certificateIssuerThumbprint": ""
	}
],
"clientCertificateThumbprints": [],

Seems this has changed from certificateCommonNames to clientCertificateCommonNames
However, updating the Clust

[2020-01-13 18:27] Karishma-Tiwari-MSFT commented on #46056
Thanks for the update. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-01-13 18:27] #46056 closed

[2020-01-13 18:28] Mike-Ubezzi-MSFT commented on #41987
@polszewski If you are still experiencing issues with this, please create an Azure Support Request. If you do not have an [Azure Support Plan](https://azure.microsoft.com/en-us/support/plans/), please send me  your [Azure Subscription GUID](https://blogs.msdn.microsoft.com/mschray/2016/03/18/getting-your-azure-subscription-guid-new-portal/) to [AzCommunity](mailto:azcommunity@microsoft.com) and I

[2020-01-13 18:28] #41987 closed

[2020-01-13 18:31] gstevens-kyriba opened #46076 "Get a certificate.."
This instructions here for the "Get a certificate" differ quite a bit from a similar section on page:  https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-change-cert-thumbprint-to-cn

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e302570c-50f7-af0d-ab7c-62845ecd35cb
* Version Independent ID: 6

[2020-01-13 18:39] YutongTie-MSFT commented on #46058
@
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-01-13 18:42] YutongTie-MSFT commented on #46053
@nonstoptimm
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-01-13 18:42] CeciAc opened #46077 "The givenName and surName are not present in output claims"
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/azure-docs.nl-nl/issues/560

@HWouters commented 3 hours ago — with docs.microsoft.com
I think this is because given_name and family_name are not present in v2.0 tokens:
https://docs.microsoft.com/nl-nl/azure/active-directory/develop/active-directory-optional-claims

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2020-01-13 18:44] YutongTie-MSFT commented on #46064
@smf723
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-01-13 18:45] Erick-Michael opened #46078 "Typo - Duplicate Text"
The sentence "For information about how to add the code manually, see see Manually add an account to the app." has the text "see" two times in a row.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5699f56d-758d-e3c2-cd44-571f9364dfef
* Version Independent ID: 91ec729c-9ffd-a705-c03f-3608e01ce83a
* Content: [Add a work

[2020-01-13 18:48] MarileeTurscak-MSFT commented on #46078
@Erick-Michael
Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-13 18:49] MarileeTurscak-MSFT commented on #46078
Thanks, just made a PR to fix this. It should go live in 24 hours. https://github.com/MicrosoftDocs/azure-docs-pr/pull/100971

[2020-01-13 18:49] #46078 closed

[2020-01-13 18:51] PatrickFarley commented on #40938
@PieterHeemeryck This is a product issue, so I recommend you post it to the [Form Recognizer support](https://cognitive.uservoice.com/forums/921556-form-recognizer) forum. You'll get a quicker answer that way.
#please-close

[2020-01-13 18:51] #40938 closed

[2020-01-13 18:51] TomArcherMsft commented on #46063
@zer0big @CeciAc

Thanks for bringing this to my attention. What exactly is the issue so that I can debug?

[2020-01-13 18:56] MattHartz opened #46079 "C# Service Fabric Application built on Windows, deployed on Mac"
It appears that this article explicitly describes how to build a Java service on mac and how it can be deployed. Is there any documentation on taking an existing application written in C#, and deploy it on a Mac? I have been experimenting with SFCTL along with Powershell core, to not avail.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2020-01-13 19:00] SamaraSoucy-MSFT commented on #45886
@ctaggart that is correct. You want to add the `OperationCorrelationTelemetryInitializer` either in code or in the App Insights config files. It now allows W3C tracing by default so you don't have to declare a specialized initializer for that.

[2020-01-13 19:00] #45886 closed

[2020-01-13 19:01] ggailey777 commented on #45883
@fiveisprime have you noticed a weird bug (at least in Node) where if you stop a running function app using Shift + F5 the IDE later hangs? Doesn't seem to do this when I just shut down func.exe.

[2020-01-13 19:02] diberry commented on #46053
@nonstoptimm Can you provide the code? #in-progress

[2020-01-13 19:03] Karishma-Tiwari-MSFT commented on #46048
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-01-13 19:03] BryanTrach-MSFT commented on #45727
@cgrahlm The -n perimeter is the name for the web app. This value creates a unique name, which can only be used once across all of Azure. If this name is already in use, even by other customers, you are likely to receive this error.

Can you please try using the perimeter with a different name to see if this resolves the issue?

[2020-01-13 19:14] markjbrown commented on #46072
Thanks Bargavi. Will take a look at this.

[2020-01-13 19:16] abraunegg opened #46080 "Verification of publisher domain failed when hosted on GitHub"
@FrankHu-MSFT

This issue (https://github.com/MicrosoftDocs/azure-docs/issues/39665) still presents itself when hosting the file on GitHub Pages:

![publisher-error](https://user-images.githubusercontent.com/4956234/72210458-110c7780-3510-11ea-8723-92f825f4c979.jpg)

As there is no control over the content-type used by GitHub Pages - what is the solution for this given the end user has no control

[2020-01-13 19:20] AjayKumar-MSFT commented on #45848
Thanks for the response and more info! Your feedback has been shared with the content owner (@sethmanheim) for further review.

[2020-01-13 19:25] TomArcherMsft commented on #45213
@mcancarevic I'm looking at this now...

[2020-01-13 19:28] MarileeTurscak-MSFT commented on #46073
@DeanCefola
Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-13 19:30] MarileeTurscak-MSFT commented on #46077
@CeciAc
Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-13 19:30] KranthiPakala-MSFT commented on #46071
@eparizzi Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate.

[2020-01-13 19:31] cgrahlm commented on #45727
I have tried 3 or 4 different parameters for this:
test_pytddddjdjdhon_sdfkjljfsldkfjslfjkshdkjfsh_test
test_python_sdfkjljfsldkfjslfjkshdkjfsh_test
and others.

[2020-01-13 19:38] PatAltimore commented on #37299
Hi @singhrajgithub,

The existing template will eventually be deprecated. This article won't be improved. Take a look at the newly published template for Hyperledger Fabric here:  https://docs.microsoft.com/en-us/azure/blockchain/templates/hyperledger-fabric-consortium-azure-kubernetes-service

Thanks,
Pat

#please-close

[2020-01-13 19:38] #37299 closed

[2020-01-13 19:39] TomArcherMsft commented on #45213
@mcancarevic From what I'm reading, you need to have already "gathered facts" or be working in the developer version. I'm going to connect with the engineering team to see how to update the code so that it works.

[2020-01-13 19:45] jayush commented on #43965
Any update on this issue? We are running into this issue as well.

[2020-01-13 19:45] nonstoptimm commented on #46053
@diberry sure, thank you! It's pretty much the same like in the documentation, just with the small change regarding the invalid function "create_utterances" (created list of tuples instead).
[luisapp.txt](https://github.com/MicrosoftDocs/azure-docs/files/4055464/luisapp.txt)

[2020-01-13 19:46] hansenms commented on #46042
@jagge123 first my apologies for not parsing every sentence in your question here. There is a lot to unpack, so let's start by getting an access token from your application without needing interactive sign-in and then see if you are still blocked after that.

The way to get an access token from AAD with a service principle is by using client credentials flow: https://docs.microsoft.com/en-us/azure

[2020-01-13 19:51] MicahMcKittrick-MSFT commented on #25409
I am not seeing any lack of Documentation on this page. Closing for now but if I missed something let me know and we can reopen and continue the discussion.

[2020-01-13 19:51] #25409 closed

[2020-01-13 19:54] qianw211 commented on #41840
Confirming that resourceId is subscriptionID of the SaaS purchase.

[2020-01-13 19:55] qianw211 commented on #41840
#please-close

[2020-01-13 19:55] #41840 closed

[2020-01-13 19:55] MicahMcKittrick-MSFT commented on #28112
Added this to the FAQ. Once the PR merges the changes will go live after a few hours.

[2020-01-13 19:55] #28112 closed

[2020-01-13 19:55] diberry commented on #46053
@nonstoptimm Does the original code work, without tuples?

[2020-01-13 19:59] MicahMcKittrick-MSFT commented on #29804
I agree with @beerwatch

I adjusted the doc. Once the PR merges the changes will go live after a few hours.

[2020-01-13 19:59] #29804 closed

[2020-01-13 20:03] amogh79 commented on #11884
As mentioned in your response you say ModuleClient needs to be used in Module code, given a scenario wherein there are multiple modules on on IoT Edge Device and I am creating a module client from environment and now that I want ModuleTwin for a specific module how do I do that? Currently I am unable to retrieve ModuleTwin for a specific module when the ModuleClient is created using CreateFromEnvi

[2020-01-13 20:05] MicahMcKittrick-MSFT commented on #30665
Added 18.04 steps. Once the PR merges the changes will go live after a few hours.

[2020-01-13 20:05] #30665 closed

[2020-01-13 20:07] dvansteenburg opened #46081 "No information regarding OLE Automation Procedures"
Under the Stored Procedures, Functions, and Triggers, you need to identify that the OLE Automation Procedures are not supported, though you can change the Ole Automation Procedures sp_configure value.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b8c7fe7-9597-6ea8-54d3-b85f3cc7b1d3
* Version Independent ID: 29b59670-

[2020-01-13 20:09] MicahMcKittrick-MSFT commented on #32865
Added Note and link for Chef Support. Once the PR merges the changes will go live after a few hours.

[2020-01-13 20:09] #32865 closed

[2020-01-13 20:13] nonstoptimm commented on #46053
@diberry when using the original code, I get an error, that the function "create_utterances" does not exist (as it has not been defined/does not exist). So I tried to build the object based on the following documentation: https://docs.microsoft.com/en-us/python/api/azure-cognitiveservices-language-luis/azure.cognitiveservices.language.luis.authoring.models.examplelabelobject?view=azure-python

Whe

[2020-01-13 20:17] MicahMcKittrick-MSFT commented on #34957
Added this information to the Property Values Description section. Once the PR merges the changes will go live after a few hours.

[2020-01-13 20:17] #34957 closed

[2020-01-13 20:18] MicahMcKittrick-MSFT commented on #35572
Fixed.

[2020-01-13 20:18] #35572 closed

[2020-01-13 20:21] MicahMcKittrick-MSFT commented on #37206
I am not seeing an exact ask from a doc standpoint on this so closing out. If have specific feedback please open a new issue and I can take a look.

[2020-01-13 20:21] #37206 closed

[2020-01-13 20:23] MicahMcKittrick-MSFT commented on #37674
Closing based on the doc appears correct. If I am mistaken please let me know and we can reopen and continue.

[2020-01-13 20:23] #37674 closed

[2020-01-13 20:25] Mike-Ubezzi-MSFT commented on #46081
@dvansteenburg Thank you for bringing this to our attention but want to clarify if there is a specific documentation related enhancement you would like made to be made here? Currently, what is included in the documentation with regard to `sp_configure` is the following:

The following sp_configure options aren't supported:

- allow polybase export
- allow updates
- filestream_access_level
- remote

[2020-01-13 20:28] MicahMcKittrick-MSFT commented on #41275
Updated. Once the PR merges the changes will go live after a few hours.

[2020-01-13 20:28] #41275 closed

[2020-01-13 20:33] MicahMcKittrick-MSFT commented on #42025
Updated. Once the PR merges the changes will go live after a few hours.

[2020-01-13 20:33] #42025 closed

[2020-01-13 20:34] fiveisprime commented on #45883
I have not. Which version of func, extension, vs code, and node are you on?

[2020-01-13 20:36] craigjar opened #46084 "Permissions needed for pyspark JDBC connection"
In this article is says "You should still be able to read data from external databases through pyspark jdbc connector.", however when attempting this the following error is received:

java.lang.SecurityException: User does not have permission SELECT on any file.

As this dataframe is accessing data outside the Databrick's database model, not sure what permissions are required.  Enhancing the docum

[2020-01-13 20:44] MicahMcKittrick-MSFT commented on #29111
Updated. Once the Pr merges the changes will go live after a few hours.

[2020-01-13 20:44] #29111 closed

[2020-01-13 20:46] MicrosoftGuyJFlo commented on #44946
@jakemarston @o-l-a-v

As is mentioned in the [blog post announcing this security defaults](https://techcommunity.microsoft.com/t5/azure-active-directory-identity/introducing-security-defaults/ba-p/1061414)

"If you are a person who uses Conditional Access to manage your break glass accounts with terms of use controls, chooses MFA based on device compliance, or integrates Identity protection repor

[2020-01-13 20:47] mohamed-shehata-m commented on #44875
Hello,
I have the same inquiry and i already opened a service request with MS support.
They are saying that local cache default size is 300mb excluding log files which is contradicting with what is stated here in this issue.
I'm still working with MS support on this.

[2020-01-13 20:49] MarileeTurscak-MSFT commented on #45852
Thanks! I made a pull request to add this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/101000

CC: @mmacy

[2020-01-13 20:49] #45852 closed

[2020-01-13 20:50] Adam-Smith-MSFT commented on #45890
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-01-13 20:51] #45890 closed

[2020-01-13 20:58] Selekena opened #46085 "SECURE_DEVICE_TYPE_SYMMETRIC_KEY undefined"
Following along with tutorial and making step 5's change result in a syntax error. It seems the only SECURE_DEVICE_TYPE_VALUES define are
    SECURE_DEVICE_TYPE_UNKNOWN,   \
    SECURE_DEVICE_TYPE_TPM,       \
    SECURE_DEVICE_TYPE_X509,      \
    SECURE_DEVICE_TYPE_HTTP_EDGE

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-01-13 21:20] RouterBox commented on #46055
Same issue.  Container instance in a vnet wont stand up.  I've been doing it this way for months, and it's broken now.  Big problem for me.  I'm working in USEast.

[2020-01-13 21:20] kgremban commented on #11884
@amogh79 What method are you using to retrieve the module twin?

[2020-01-13 21:26] MarileeTurscak-MSFT commented on #45856
In order for this to show up you need to have a subscription with resources in it. I am able to see it in mine where I have those things, but not where I do not have them. If you still have an issue seeing this please post to MSDN and we will gladly assist you there.  https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureKeyVault

[2020-01-13 21:26] #45856 closed

[2020-01-13 21:28] glimoli commented on #45954
@genlin Luke discussed this with me and his feedback is correct but any of us have the access to update the production article. Do you mind removing that requirement? Thanks

[2020-01-13 21:29] anzaman commented on #34912
@nes-jisc - That is why we have the tolower() before the Resource ID. Will update the doc to make a note that data may take a few hours to show up.

Thank you for the feedback

[2020-01-13 21:35] anzaman commented on #34912
Added note
#please-close

[2020-01-13 21:35] #34912 closed

[2020-01-13 21:36] MouraFe opened #46086 "Hyperscale Gen5 Part 2 max requests values"
On Hyperscale Gen5 Part 2, the max requests values are wrong except for 80 vCores.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5676aae7-73bc-c084-174b-50ba4fd7be77
* Version Independent ID: 0998f821-0f03-a833-b4b3-0d6ebd9468e5
* Content: [vCore resource limits - single database - Azure SQL Database](https://docs.mic

[2020-01-13 21:44] Kaien-Ren commented on #40493
"Get-MsolUserByStrongAuthentication -Requirements @()" works for me

[2020-01-13 21:45] IEvangelist commented on #44542
Hi @yuharucan,

I wanted to let you know that we're still working on this... sorry for the delay.

[2020-01-13 21:46] femsulu commented on #46047
@Skorfulose Thanks for the Comment. We are actively investigating and will get back to you soon.

[2020-01-13 21:47] FrankHu-MSFT commented on #46074
hey @saynac thanks for letting us know about this, we're going to look into this and engage accordingly.

cc: @jeevansd

[2020-01-13 21:48] FrankHu-MSFT commented on #43489
hey @maya-cnx we're still looking into this and will update accordingly, thank you for your patience.

[2020-01-13 21:48] #45941 closed

[2020-01-13 21:49] FrankHu-MSFT commented on #45853
hey @lukasz994 as there hasn't been a response in quite some time i will be closing out this git issue by end of day today. Please let us know additional information in order to proceed forwards with this issue

[2020-01-13 21:53] MGoedtel commented on #45590
Corrected and updated article should go live tomorrow AM.  #please-close

[2020-01-13 21:53] #45590 closed

[2020-01-13 21:56] purandharangular commented on #27056
Hi can we authenticate azure servicebus in a springboot applicaiton instead of SAS Tokesn? i dont see any examples

[2020-01-13 21:58] amogh79 commented on #11884
I am using ModuleClient.GetTwinAsync().Result method.

Following is the code snippet, GetModuleClient is implemented in Helper.cs, this class gets injected via the dependency injection pipeline:

public ModuleClient GetModuleClient(TransportType transportType = TransportType.Amqp_Tcp_Only)
{
var amqpSetting = new AmqpTransportSettings(transportType);
ITransportSettings[] settings = { amqpSetting }

[2020-01-13 22:05] jwill20 opened #46088 "Cannot publish to Azure"
I keep getting 'Failed with code 403' when I try to publish to Azure

Any idea where to look for more details on what the problem is?  I'm able to create a Function App directly in Azure with the subscription that I'm trying to use here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04c9d43d-5bd2-87c6-2ccf-0c65ef19376

[2020-01-13 22:16] wesmc7777 commented on #46085
What release tag did you use when cloning the SDK?  Make sure you use the latest and build using this SDK instead of an older one. For example,...

[code]

Also make sure you enabled symm key with the CMake build command shown in the article...

[code]

[2020-01-13 22:20] Karishma-Tiwari-MSFT commented on #45880
@nikolami If I am understanding your question right, you are trying to change the availability set of a VM. Currently we do not have a separate documentation for Linux VM but it is in the backlog.
For Linux VM, you would need to pass -Linux to Set-AzureRmVMOSDisk instead of -Windows.

Also, can you please check this stackoverflow issue and see if this resolves it:
https://stackoverflow.com/questio

[2020-01-13 22:20] vhorne commented on #43672
Restriction was removed
#please-close

[2020-01-13 22:20] #43672 closed

[2020-01-13 22:42] nheinbaugh commented on #46086
Oh good, I'm not the only one who was curious about that!

[2020-01-13 22:43] Karishma-Tiwari-MSFT commented on #45854
@derekrprice Thank you for the reply. Can you please confirm that you have the Azure CLI version 2.0.64 or later installed and configured?
Run az --version to find the version. If you need to install or upgrade, see Install [Azure CLI.](url)

[2020-01-13 22:47] nheinbaugh commented on #46076
Yes, I need clarification on this as my cert soon expires

[2020-01-13 22:49] femsulu commented on #46063
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-01-13 22:50] tfitzmac commented on #45948
#reassign:cherylmc

[2020-01-13 22:52] tfitzmac commented on #45948
@cherylmc - can you take a look at this issue about limits for VPN Gateways?

[2020-01-13 22:54] Lukasz994 commented on #45853
Hey, apologies I got really side tracked and didn't manage to look at this again. Will sit down to it in next 48 hours, and get back to you.

[2020-01-13 23:02] femsulu commented on #46068
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-01-13 23:05] allenwux opened #46090 "typo?"
Not sure why there're two question marks in the code sample:
HttpContext?.User
                                      ?.FindFirst("http://schemas.microsoft.com/identity/claims/scope");

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14524e2e-a5c6-ef53-0643-879b63b6a9f4
* Version Independent ID: 5b3eb1d5-300e-6e03-9e3d-9a

[2020-01-13 23:06] samirs20 commented on #45882
Thanks @tomkodet -

One help if you could - it seems that this command is not working on Mac

$csv = import-csv $csvInput

I am getting an error related to file path. How do I enter the file path for Mac?

[2020-01-13 23:11] FrankHu-MSFT commented on #46090
Hey @allenwux thanks for letting us know about this we'll take a look into this and engage accordingly.

[2020-01-13 23:16] cynthn commented on #29784
#please-close

@v-maroge Thank you for the feedback! That article has been updated and should be live tomorrow.

[2020-01-13 23:16] #29784 closed

[2020-01-13 23:18] dcbrown16 commented on #45925
Thanks for the info, I take it this is the doc you are referring to.
https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/hpc/enable-infiniband
There is a link to this from the Linux HPC size page so I'll go ahead and close for now.

[2020-01-13 23:18] #45925 closed

[2020-01-13 23:21] FrankHu-MSFT commented on #46090
Hey @allenwux it looks like this is correct per the git code : https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2/blob/0fd10f29b07e8afa602aee741ac28b1b8bfa4ef2/Microsoft.Identity.Web/Resource/ScopesRequiredHttpContextExtensions.cs

there don't seem to be any issues filed against this, and it seems that this file was first initialized and committed this way : https://gith

[2020-01-13 23:25] markjbrown commented on #45568
PR is merged. This will be reflected in our Mongo docs tomorrow, 10am Pacific time.

Thanks for reporting!

#please-close

[2020-01-13 23:25] #45568 closed

[2020-01-13 23:28] MarileeTurscak-MSFT commented on #45857
@plord789 can you try repeating steps 7 and 8 in the article? I have asked someone from the product team about how to resolve this as I'm unsure if there's a delay.

[2020-01-13 23:31] EvanBasalik opened #46091 "Azure Files Standard limits not clearly documented"
We reference back to blob, but don't seem to differentiate. For example, the IOPS limit for Files Standard is 1024 transactions/sec, but we don't list that anywhere on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 991338c0-1a61-99e1-41ea-45fd5d5fd63d
* Version Independent ID: f2dd8b70-29f2-bb22-38f5-097c5eb

[2020-01-13 23:38] femsulu commented on #46070
Happy to assist. Please share the link to the document you are referencing so we can review and provide the best possible response.

[2020-01-13 23:41] YutongTie-MSFT commented on #45806
@CESARDELATORRE
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-01-13 23:41] #45806 closed

[2020-01-13 23:44] MaxThom commented on #43144
Here is how I installed iotedge on rpi4 with Raspbian Buster (must be a clean image without installation attempt) :

curl -sL get.docker.com | sed 's/9)/10)/' | sh
sudo usermod pi -aG docker
sudo reboot

sudo apt-get install libssl1.0.2

curl https://packages.microsoft.com/config/debian/stretch/multiarch/prod.list > ./microsoft-prod.list
sudo cp ./microsoft-prod.list /etc/apt/sources.list.d/
curl

[2020-01-13 23:55] TomArcherMsft commented on #45213
@mcancarevic There have been changes to the code syntax. I'm working with the engineering team to update the article. Once I have verified the code, I'll also update this GitHub Issue.

[2020-01-14 00:02] femsulu commented on #46080
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-01-14 00:11] tomkodet commented on #45882
Hi @samirs20, I'm not sure about that. I have not used PowerShell on a Mac. I would guess you would have to alter the $csvInput to reflect how it looks on the Mac file system, or the relative path? Import-csv .\filename.csv

[2020-01-14 00:14] roygara commented on #45063
#reassign: tamram

[2020-01-14 00:19] rheingold commented on #43144
Hi, seems to be a also good wrkarnd for me, maybe I would suggest you to add it as a comment to the original MSDN article where it all begun.... https://docs.microsoft.com/cs-cz/azure/iot-edge/how-to-install-iot-edge-linux#feedback

[2020-01-14 00:20] #24981 closed

[2020-01-14 00:28] XhellarchX opened #46093 "Word "Sync" in several version(s) means?"
Before version 1.1.557.0, it indicates name of sync tool as [Azure AD Connect sync]. Is some version(s) anything different than [Azure AD Connect]? A bit confusing occurs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57f5478b-3132-21d0-a420-a1140db235de
* Version Independent ID: 266bbd16-2117-f680-6493-e183eb09fdbc
*

[2020-01-14 00:29] genlin commented on #45954
@glimoli Not a problem. I will update the article.

Thanks
Thomas

[2020-01-14 00:33] himanshusinha-msft commented on #46084
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-01-14 00:37] cynthn commented on #23164
#please-close

I've updated the article to include instructions on how to resize using the portal. Thank you!

[2020-01-14 00:37] #23164 closed

[2020-01-14 00:46] MicahMcKittrick-MSFT commented on #21749
We are currently going through long standing issues and came across this one.

This is good feedback for the CLI team to address. You can leave feedback here:

https://github.com/Azure/azure-cli/issues

I also see this was opened quite some time ago so it is possible this is no longer an issue.

I will close this out as no doc update is needed but if you do open an issue in the CLI repo feel to @

[2020-01-14 00:46] #21749 closed

[2020-01-14 00:48] MicahMcKittrick-MSFT commented on #21850
#reassign: @micahmckittrick-msft

[2020-01-14 00:54] chmagitt opened #46094 "caution with yaml file"
when editing the Yaml  there  is no space in  front of provisioning after removing #
otherwise it breaks iot edge deployment.
there should be a caution in red in the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 900286b7-54b4-ae6a-33c4-b54be8dee6a4
* Version Independent ID: 0b791e71-7998-ee00-50a8-7a3f3

[2020-01-14 00:55] TomArcherMsft commented on #45213
@mcancarevic The following sample code should work. Please let us know if it doesn't.

`
 - name: Get facts for all Public IPs within a resource groups
    azure_rm_publicipaddress_facts:
      resource_group: "{{ resource_group }}"
    register: output_ip_address

  - name: Get loadbalancer info
    azure_rm_loadbalancer_facts:
      resource_group: "{{ resource_group }}"
      name: "{{ loadbala

[2020-01-14 00:55] KranthiPakala-MSFT commented on #46071
@eparizzi At this time we have assigned the issue to the content author. They will evaluate and provide an update as appropriate.

Hi @mamccrea, Could you please have a look at the feedback from @eparizzi ? - Thanks.

[2020-01-14 00:59] Karishma-Tiwari-MSFT commented on #46055
Sorry for the delay on this. We are aware of the issue and product team is working on the fix. I will share as soon as I get an update. I would recommend going to service health on Azure portal and check for communication there as well.

[2020-01-14 00:59] Adam-Smith-MSFT commented on #46091
@EvanBasalik Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-01-14 01:05] tamram commented on #45834
@artisticcheese - It appears to be a trusted service, based on this note in the [Azure Logic Apps documentation](https://docs.microsoft.com/azure/logic-apps/create-managed-service-identity#authenticate-access-with-managed-identity):

To access Azure storage accounts behind firewalls by using HTTP requests and managed identities, make sure that you also set up your storage account with the exceptio

[2020-01-14 01:29] ecfan commented on #45834
Adding @kevinlam1 to confirm that Logic Apps is missing from the Trusted Services list in this topic and needs to be added: [Configure Azure Storage firewalls and virtual networks
](https://docs.microsoft.com/azure/storage/common/storage-network-security#trusted-microsoft-services)

[2020-01-14 01:31] femsulu commented on #46062
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-01-14 01:32] MaxThom commented on #43144
will do

[2020-01-14 01:34] MaxThom opened #46095 "Raspbian Buster on RPI4"
Here is how I installed iotedge on rpi4 with Raspbian Buster (must be a clean image without installation attempt) :

curl -sL get.docker.com | sed 's/9)/10)/' | sh
sudo usermod pi -aG docker
sudo reboot

sudo apt-get install libssl1.0.2

curl https://packages.microsoft.com/config/debian/stretch/multiarch/prod.list > ./microsoft-prod.list
sudo cp ./microsoft-prod.list /etc/apt/sources.list.d/
curl

[2020-01-14 01:35] #46095 closed

[2020-01-14 01:35] MaxThom opened #46096 "Raspbian Buster on RPI4"
Here is how I installed iotedge on rpi4 with Raspbian Buster (must be a clean image without installation attempt) :

curl -sL get.docker.com | sed 's/9)/10)/' | sh
sudo usermod pi -aG docker
sudo reboot

sudo apt-get install libssl1.0.2

curl https://packages.microsoft.com/config/debian/stretch/multiarch/prod.list &gt; ./microsoft-prod.list
sudo cp ./microsoft-prod.list /etc/apt/sources.list.d/
cu

[2020-01-14 01:43] gregorvilkner commented on #37847
when I select organizational accounts - this doesn't work and return the error described above. unauthorized_client: The client does not exist or is not enabled for consumers.

when i select multi-tenant+personal windows accounts - it auto-selects my windows account, and doesn't let me select. i have both, live and aad org accounts - i can't use the org account? what if i want to use multiple aad

[2020-01-14 01:43] v-hakob opened #46097 "Is capacity metric still in preview?"
Though this document says the capacity metric is in preview under "View metrics of your APIs", this article (https://github.com/MicrosoftDocs/azure-docs/issues/17024) says the metrics are no longer in preview.

Please confirm whether only the capacity metric is still in preview as this document says, or this document is not updated yet. Thank you.

---
#### Document Details

⚠ *Do not edit this se

[2020-01-14 01:45] RyanHill-MSFT commented on #45897
@marc-gmail-towersap, your app service is basically a machine (depending on your app service plan). Since you’re using Linux Webb app container, the lowest app plan you can elect p1v2, so you’re essentially running docker on a stand-alone machine. If you wanted to deploy to two separate web app containers, you would have to use two separate yaml configs (kind of defeating the purpose of the multi-

[2020-01-14 01:46] artisticcheese commented on #45834
It's not listed in documentation page explicetly
![image](https://user-images.githubusercontent.com/13176884/72306624-65f9dc00-363d-11ea-8d2c-2a72e4c3182c.png)

[2020-01-14 02:00] shashishailaj commented on #46093
@XhellarchX Thank you for your query. We will investigate and update this thread.

[2020-01-14 02:04] shashishailaj commented on #46093
@XhellarchX The Azure AD connect as a product comes with multiple internal parts like sync engine , Management console , Configuration manager etc. The word "sync " refers to the Sync engine component where-ever mentioned.  And sometimes customers use Azure AD Connect and Sync or Sync Engine interchangeably which denotes the primary task for the product which is to sync objects from on-premise to

[2020-01-14 02:05] KrishnaG-MSFT commented on #46095
@MaxThom We see that this issue is self resolved / closed. Hence no further action will be taken on this feedback. If there are further / any questions regarding this feedback, please do let us know and we will gladly continue the discussion. Hope this helps!

Going forward, if you share any feedback under this azure-docs repo then please mention Azure documentation link / URL to which the feedbac

[2020-01-14 02:07] eosfor commented on #45853
An example would be Microsoft.AppConfiguration provider

[2020-01-14 02:14] KrishnaG-MSFT commented on #46096
@MaxThom Thanks for the feedback. We are actively investigating on the issue and will get back to you shortly with an update.

[2020-01-14 02:21] CedricZhu commented on #46027
@KrishnaG-MSFT Thanks for your feedback.
Please allow me to provide more information here if you don't mind.
I'm from MS Azure VM support team. The questions actually came from one of our customers.
We discussed internally a lot and were asked to post these queries on the https://docs.microsoft.com/en-us/azure/service-health/azure-status-overview page and open up a relevant GitHub issue
Can you pl

[2020-01-14 02:28] mike-urnun-msft commented on #46088
@jwill20 Thank you for your feedback. Are you getting that error after following the steps on this documentation?

[2020-01-14 02:30] mike-urnun-msft commented on #46097
@v-hakob Thank you for your feedback! We will review and update as appropriate.

[2020-01-14 02:36] jeevansd commented on #43341
@chetansriv we should add this instruction for taking the URL from the UI and then updating it in the Azure AD app. That way customers don’t have to guess for it.

[2020-01-14 02:38] nealmcb commented on #21749
If the functionality stays the same, please note my comment that "the documentation should be changed to note that vm create can also modify an existing vm, which would be a very confusing and dangerous behavior, I figure."

I'll leave creation of a related issue for the CLI to you.

[2020-01-14 02:51] OnlineGameGuy opened #46098 "No Instructions for Create a DB Account/Step 6"
In Step 5 of the Create a Database instructions above, we are told to hit the "Go to Resource" button, but Step 6 fails to tell us whether or not to take an action on that page.  It is implied that we should hit the "Create 'items' container" button, but I notice the "Choose a platform" tab has defaulted to ".NET" when I'm here to learn about the Xamarin/Cosmo.

Should I be hitting the Xamarin tab

[2020-01-14 03:01] MicahMcKittrick-MSFT commented on #24272
I make the link to information on how to create and obtain the SAS token more clear. If others are still having issues after this change I can always come back and see what else I can do.

[2020-01-14 03:01] #24272 closed

[2020-01-14 03:10] MicahMcKittrick-MSFT commented on #24636
I changed the term from "Banked" to "Earned"

Once the PR merges the changes will go live after a few hours.

[2020-01-14 03:10] #24636 closed

[2020-01-14 03:21] MicahMcKittrick-MSFT commented on #25125
We calculate the average CPU usage over a 1 min interval. So when it comes to spikes, it will take all the levels the CPU reaches within that min and will average them to come up with the %.

I am not sure if we need more details in this doc so I will close this for now. But if everyone feels this needs further explanation we can always reopen and reconsider.

[2020-01-14 03:21] #25125 closed

[2020-01-14 03:23] MicahMcKittrick-MSFT commented on #25126
We call out the initial credits you get after deploying a new B series VM based on the size. This information is called out in the table. I will close this but let me know if there is further confusion I can help with.

[2020-01-14 03:23] #25126 closed

[2020-01-14 03:40] RohitMungi-MSFT commented on #46086
@MouraFe Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-01-14 03:41] RohitMungi-MSFT commented on #46098
@OnlineGameGuy Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-01-14 03:44] baltmann opened #46100 "Create the pipeline."
3. Select Easy-to-use prebuilt modules.
IS NOT VISIBLE

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c40f439-613c-e09d-9d5a-8c6001c47417
* Version Independent ID: 185d3a30-b35b-cc5f-f374-f2881a1fccf6
* Content: [Tutorial: Predict automobile price with the designer - Azure Machine Learning](https://docs.microsoft.com/

[2020-01-14 04:03] RohitMungi-MSFT commented on #46030
@madhumlr Thanks for the feedback. The current functionality of the product does not allow to have a single model id for documents with different formats. We have internally provided feedback to our product team about this feature and we shall update you the progress in our future releases.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag

[2020-01-14 04:03] #46030 closed

[2020-01-14 04:24] jakemarston commented on #44946
Thanks for the feedback @MicrosoftGuyJFlo

I've opened a suggestion here [Exclude Emergency Access account from Security Defaults](https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/39425896-exclude-emergency-access-account-from-security-def).

[2020-01-14 04:29] VikasPullagura-MSFT commented on #46076
@gstevens-kyriba Thanks for the Feedback. I am assigning this to content author for adding comments on this.

[2020-01-14 04:32] dcbrown16 commented on #45915
@MGoedtel this doc came up again in Azure support, please position it correctly in the ToC. Thanks!

[2020-01-14 04:32] VikasPullagura-MSFT commented on #46000
@rkttu Thanks for confirming it is working for you. As per the Feedback, I am following up with Product team on this.

[2020-01-14 04:33] AshokPeddakotla-MSFT commented on #46094
@chmagitt Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-01-14 04:46] xinjinmsn opened #46101 "Missing IP Address dependencies in step 4 of Configuring Azure Firewall with your ASE"
Current step 4 just added *:123 and *:12000. Other IP Address dependencies are not included.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29246f12-744e-08a1-c222-b0eae866b401
* Version Independent ID: 6e925f96-dc31-d400-2681-2e387b40ed74
* Content: [Lock down outbound traffic - Azure App Service Environment](https://

[2020-01-14 04:46] VikasPullagura-MSFT commented on #45810
@johnkemnetz Can you please look into this and update the document as applicable.

[2020-01-14 04:48] SnehaAgrawal-MSFT commented on #45845
@mathiasbl Since we didn't heard back from you we will close this out but if you feel you need more information please just let us know.

[2020-01-14 04:48] #45845 closed

[2020-01-14 04:48] codemillmatt commented on #46098
@onlinegameguy - you can continue with the .NET direction for that part. It will work. (Thank you for pointing this out!)

@Rohini-MSFT - we're going to need to get that screenshot updated for step 6 under the `Create Database Account` section. The Xamarin tab needs to be selected instead of the .NET one. Would you be able to do it? Only the screenshot needs to be updated in this case. Thanks!

[2020-01-14 04:54] AjayKumar-MSFT commented on #46005
@pjmartorell, Thanks for sharing the start-up script that works for you. While I check on this, to understand the issue better, do you see the behavior with the specific sample mentioned in the document or any custom container? As noted, all built-in Linux containers have added the SSH instructions in their image repositories.

[2020-01-14 04:56] sayanghosh123 opened #46102 "Can we get a CSV list?"
Can we get this list as a CSV similar to the link at the following page? That helps a lot to look at a long list from a customer's subscription as opposed to individually manually looking up from this page.

https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/move-support-resources

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-01-14 05:09] ketan-chawda-msft commented on #45859
@rabrahamOpti The same has been mentioned with screenshot in the document which I pointed out earlier.

Since there is no doc update required at the moment, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-14 05:09] #45859 closed

[2020-01-14 05:09] sayanghosh123 opened #46103 "Correctness of the list"
Couple of these are uncertain from the way the compatibilty is listed - e.g. "Yes (for Backup vaults I think?" and "Yes??". It will be good to get some authentic, final answers for these from official documentation as partners and customers use this list.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5793ee25-abff-fe5

[2020-01-14 05:11] ketan-chawda-msft commented on #46011
@axisc / @spelluru Do we any sample available for this ? Please provide your thoughts here.

[2020-01-14 05:18] VikasPullagura-MSFT commented on #46000
@MicrosoftDocs/aks-pm Can you check and add your comments

[2020-01-14 05:20] VikasPullagura-MSFT commented on #46036
@msjuergent Can you please check on this and add your comments.

[2020-01-14 05:21] DashleenBhandari-MSFT commented on #46019
@msangapu-msft , Could you please look into this request for doc.

[2020-01-14 05:23] RohitMungi-MSFT commented on #46100
@baltmann Thanks for brining this to our notice. The option to select "Easy-to-use prebuilt modules" is available once you click on the "Designer" tab on the left. Please find the screen shot below.

![image](https://user-images.githubusercontent.com/46958063/72316328-cfb8cb00-36bb-11ea-88b1-31570d45434c.png)

@PeterCLu Could you please update the screen shot in the document to display the option

[2020-01-14 05:28] souravmishra-msft commented on #45649
Closing the thread for now.

[2020-01-14 05:28] #45649 closed

[2020-01-14 05:31] tamram commented on #46039
@cananac - Thanks for pointing out this discrepancy. The key vault and storage account must be in the same region and the same Azure AD tenant. They can be in different subscriptions.

I've updated the doc to clarify this, and the changes should go live within the next day.

#please-close

[2020-01-14 05:31] #46039 closed

[2020-01-14 05:37] baltmann commented on #46100
Hi Rohit,
Here’s my page.
Do I have to “upgrade this workspace to Enterprise edition ….”?
Bill
[cid:image001.png@01D5CAF8.D8AF87A0]

From: RohitMungi-MSFT <notifications@github.com>
Sent: Tuesday, 14 January 2020 16:23
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: baltmann <bill.altmann@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Cr

[2020-01-14 05:38] AshokPeddakotla-MSFT commented on #45812
@lyrana Thanks for checking this issue.
@koolkarni Does that answers your questions? Do let us know if you need further help.

[2020-01-14 05:43] angurusw commented on #45935
Hi @edfreeman, my name is Anand and I am one of the PMs working on Portal. Thanks for reporting this issue. We're meeting internally with teams to see how and when we can resolve issues with Storage Explorer on Portal (today some gaps exist on Portal). Once I have a clearer timeline, I'll follow up back here. Thank you again!

[2020-01-14 05:45] msrini-MSFT commented on #45923
@harryvinod2608 , Radius authentication is supported in User tunnel and not in device tunnel.

[2020-01-14 05:50] KrishnaG-MSFT commented on #45979
@saulcp95 Verified and updated the document as required. Thanks.

[2020-01-14 05:50] #45979 closed

[2020-01-14 05:57] KrishnaG-MSFT commented on #45910
Adding @qianw211 to help review this feedback, provide insights if any and enhance the document if required.

[2020-01-14 06:02] RohitMungi-MSFT commented on #46100
@baltmann To use the designer an upgrade is required to the Enterprise edition.

[2020-01-14 06:03] ggailey777 commented on #45883
I might have been using the wrong Node.js. It's not doing that anymore after I switched to 10.18.1.
However, I am still having to restart VS Code when I install the extension and create a new Python (3.7) functions project. If I don't, and go straight to F5, it acts like Core Tools aren't installed (which they are globally). Since it works after a subsequent restart, I assume it's a venv thing?

[2020-01-14 06:07] miiichael commented on #44369
I am rather dubious of this logic, but okay. Is there a github issue I can follow for the _actual_ documentation fix?

[2020-01-14 06:10] BrianLevenson commented on #45686
Hello, we are working to clarify this article, but in the meantime, I can answer the question.

@msftjayongg, you're correct that transact capabilities are supported for web apps (SaaS). In mid-2019, we introduced the ability to purchase web app offers directly through Microsoft AppSource using a credit card, and in late 2019, we added trial functionality to allow free trials that automatically up

[2020-01-14 06:20] ChiragMishra-MSFT commented on #45759
@nehatiwari1994 I am closing the issue now. Please feel free to comment and tag me if you have any queries on the same.

[2020-01-14 06:20] #45759 closed

[2020-01-14 06:22] VikasPullagura-MSFT commented on #46075
@gstevens-kyriba Thanks for the Feedback.
I am looping in the doc author to check on this change and add comments on this.

[2020-01-14 06:22] VikasPullagura-MSFT commented on #46065
@gstevens-kyriba Thanks for the Feedback.
I am looping in the doc author to check and add comments on this.

[2020-01-14 06:22] VikasPullagura-MSFT commented on #46065
@athinanthny Can you check this and add your comments.

[2020-01-14 06:23] VikasPullagura-MSFT commented on #46076
@athinanthny Can you check this and add your comments.

[2020-01-14 06:25] VikasPullagura-MSFT commented on #46079
@MattHartz  Thanks for the Feedback.
I am looping in the doc author to check on this and add comments on this.

[2020-01-14 06:28] KrishnaG-MSFT commented on #46103
@sayanghosh123 Thanks for the valuable feedback.
Adding @rayne-wiselman for visibility, review and document enhancement consideration.

[2020-01-14 06:28] AshokPeddakotla-MSFT commented on #46069
@teguhsiswanto87 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-01-14 06:29] VikasPullagura-MSFT commented on #46079
@suhuruli Can you please check on this and add your comments.

[2020-01-14 06:30] VikasPullagura-MSFT commented on #46075
@athinanthny Can you check this and add your comments.

[2020-01-14 06:31] KrishnaG-MSFT commented on #46102
@sayanghosh123 Thanks for the valuable feedback.
Adding @rayne-wiselman for visibility, review and document enhancement consideration.

[2020-01-14 06:35] KumudD commented on #45265
#reassign:asudbring

[2020-01-14 06:50] fowl2 commented on #42830
On the App Registration part of the Azure portal, it warns against turning ID tokens:

This definitely needs to be explained.

[2020-01-14 06:50] Selekena commented on #46085
Realized I grabbed an old release. My mistake.

[2020-01-14 07:01] Karishma-Tiwari-MSFT commented on #45954
Thanks @glimoli and @genlin for looking into it and confirming. :)
@genlin Let me know when you update the article and I will close this issue.

[2020-01-14 07:09] daneri-norkart commented on #46055
Thanks for the feedback, and I'm happy to hear that you guys are working on the issue!

[2020-01-14 07:22] SadiqhAhmed-MSFT commented on #45977
@rayne-wiselman To review and update as appropriate.

[2020-01-14 07:28] SadiqhAhmed-MSFT commented on #45970
@jeffwmiles The information provided by your indirect reseller is correct. Azure Cost Management is only available to direct partners and their customers, and not for CSP through indirect reseller.

Thanks for sharing the feedback to include this information in the documentation. We will have this reviewed by the doc-owner and update as appropriate.

Closing this issue for now. Please get back to

[2020-01-14 07:28] #45970 closed

[2020-01-14 07:31] SadiqhAhmed-MSFT commented on #45970
@bandersmsft FYI, to review and update the documentation with the information shared by @jeffwmiles.

[2020-01-14 07:35] ketan-chawda-msft commented on #46045
@Another-Phil-Nhsbt I tried the steps mentioned in the document and it worked as expected. Below is the configuration in my repro:

![image](https://user-images.githubusercontent.com/59500871/72323095-e36d2d00-36cd-11ea-9870-3cf8cc9f4bfa.png)

This channel is for driving improvements towards MS Docs, Since this issue is not related directly to the doc,  I would recommend you to create a thread on

[2020-01-14 07:35] #46045 closed

[2020-01-14 07:39] Karishma-Tiwari-MSFT commented on #45735
@glimoli @genlin Do you have inputs on whether this is supported? Thanks :)

[2020-01-14 07:41] Karishma-Tiwari-MSFT commented on #45781
As per the doc, Live-migration notifications appear in the Azure portal in the Monitor and Service Health logs as well as in Scheduled Events if you use these services.

[2020-01-14 07:42] jagge123 commented on #46042
@hansenms Thank you so much for the fast reply and help. Dont worry about my long question-ish i just tried to be some what detailed since i really didnt know exactly where i gone wrong. This was exactly what i was loooking for.

Thanks again

[2020-01-14 07:44] hansenms commented on #46042
Sure thing. Happy to help.

#please-close

[2020-01-14 07:44] #46042 closed

[2020-01-14 08:01] dany74q opened #46105 "Does the regional-limit table also denote all regions the feature is in preview at ?"
It is said that the feature is GA-ed in a few regions, and in all other regions which it's enabled, it's in preview.
However, it wasn't entirely clear what are the exact regions which the feature is in preview at.

Namely, is this available in government clouds ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81e00caf-

[2020-01-14 08:15] DixitArora-MSFT commented on #45921
@kfollis , @qianw211 Any inputs for this ?

@cybertron2600 I have assigned this to content author for further review and update as appropriate.

[2020-01-14 08:22] Karishma-Tiwari-MSFT commented on #45880
Is there an update? Please let me know.

[2020-01-14 08:27] #45954 closed

[2020-01-14 08:29] #46093 closed

[2020-01-14 08:29] AshokPeddakotla-MSFT commented on #46094
@kgremban Assigning this issue to you, since this has to be updated in all the docs. Please check and update as appropriate.

[2020-01-14 08:30] w0ut0 commented on #45928
Might have something to do this https://app.azure.com/h/GL1R-JC0/82111d. (same issue as https://github.com/MicrosoftDocs/azure-docs/issues/46055 ?)

[2020-01-14 08:31] AshokPeddakotla-MSFT commented on #46085
@Selekena Thanks for the confirmation.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-14 08:31] #46085 closed

[2020-01-14 08:35] Klaas- commented on #46036
This also has a MS support case: 120011024001274

[2020-01-14 08:37] BryanTrach-MSFT commented on #45727
@cgrahlm I tried using CLI 2.0.80 along with python 3.7.6 and ran into similar issues. As a result, I have assigned the issue to the doc author to have them investigate the doc further to see if something has maybe changed.

[2020-01-14 08:38] faerols opened #46108 "What happen when we create a new iteration?"
I have a model which is working well after 10 hours of training. I want to add a new classes to this model.

According to documentation it's look like new iteration are Learning model from scratch. Is it true?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fdb2597d-a612-4cd2-3005-85ab51574f01
* Version Independent ID:

[2020-01-14 08:44] AshokPeddakotla-MSFT commented on #45786
@Sprinton As mentioned on your [MSDN issue](https://social.msdn.microsoft.com/Forums/en-US/8568a1bf-ffef-4318-b2be-d629b7c02129/unable-to-get-local-issuer-certificate?forum=iotedge), please follow the suggestions to contact support.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and

[2020-01-14 08:44] #45786 closed

[2020-01-14 08:44] AshokPeddakotla-MSFT commented on #45917
@wesmc7777 Could you please check this and provide your siggestions?

[2020-01-14 08:48] AshokPeddakotla-MSFT commented on #45833
@senthilnathans As mentioned, please reach out to support for further help.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-14 08:48] #45833 closed

[2020-01-14 08:49] XhellarchX commented on #46093
I understood that the product itself is called "Azure AD Connect" and "Sync" means some specific components which is implemented depends on version value.

[2020-01-14 08:50] AshokPeddakotla-MSFT commented on #46096
Adding author @kgremban for further review and update the doc as appropriate.

[2020-01-14 08:51] marcin-vt commented on #45928
@w0ut0 - I cannot see any health issues related to container (when following your link) - maybe because of another brilliant idea from MS - seems I cann only see issues MS thinks are related to my subscription. @w0ut0 would you mind posting here some summary of the issue you are reffering to?

Also you rights #46055 could be related - as of now I cannot even create container within vnet (in the ne

[2020-01-14 08:55] marcin-vt commented on #46055
@Karishma-Tiwari-MSFT - I do not see any issues related to container... But now I cannot anymore create container with network profile in westeurope. Same container without network profile runs ok.

[2020-01-14 08:56] BzSpi opened #46109 "Max eDTUs per database for 1500 tier on premium elastic pools"
Hello,

This page states that the "Max eDTUs per database" for the tier "1500" on "Premium elastic pool limits" is 1000. However, the maximum value for "Min eDTUs per database" can be 1500.
It seems to be a documentation issue since the minimum value can be higher than the maximum value.

Regards

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2020-01-14 09:09] ToriParla commented on #46062
It seems to be working now, do you know if there is any roadmap and changelog of these iot-edge tasks?

[2020-01-14 09:09] #46062 closed

[2020-01-14 09:24] VikasPullagura-MSFT commented on #45825
@juniwang This field takes a comma-separated list of thumbprints for the direct issuers of the cluster certificates, yes you need to give intermediate certificates aswell.

Hope this clarifies your query.

I will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-01-14 09:24] #45825 closed

[2020-01-14 09:28] ram-msft commented on #46108
@faerols Thanks for the question. We are investigating the issue and will update you shortly.

[2020-01-14 09:30] frececroka opened #46110 "`device_code` parameter should be `code`"
When polling the `/token` endpoint with parameters `client_id`, `grant_type`, and `device_code`, I get the following error:

    {
        "error": "invalid_request",
        "error_description": "AADSTS900144: The request body must contain the following parameter: 'code'.\r\nTrace ID: 8a31965f-dcb6-44b7-bc7e-a37dda6aa000\r\nCorrelation ID: 42cbef7e-07a4-41e3-a624-e38cae7ef01a\r\nTimestamp: 2020-0

[2020-01-14 09:35] Karishma-Tiwari-MSFT commented on #45938
WVD supports using printers and scanners attached to the local workstations through standard USB redirection. Plus, if they register as printers and scanners, we have high-level redirection to optimize for them.

We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-01-14 09:35] #45938 closed

[2020-01-14 09:58] rtcn2 opened #46111 "'How to' need to be updated to cover/exclude Consumption Tier version of Api Management"
With the Limitations of the Consumption Tier, this should be documented/highlighted in this 'How To'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1fce81a3-77bb-2261-1ef6-0e9bc7ff1ea2
* Version Independent ID: b8b3d0eb-099f-57dd-0371-c3195314ebc1
* Content: [How to log events to Azure Event Hubs in Azure API Managemen

[2020-01-14 09:59] VikasPullagura-MSFT commented on #46008
@eveningit I tried reproducing the issue, I followed the tutorial and I am able to see the disks in the disk management (below screenshot for reference).

Since this channel is for driving improvements towards MS Docs, because this isn't feedback about the documentation, I will proceed to close this issue.

However, I would recommend to try this one more time and if you are still run into the same

[2020-01-14 09:59] #46008 closed

[2020-01-14 10:03] VikasPullagura-MSFT commented on #46105
@dany74q Thanks for the Feedback. I have assigned the issue to content author for checking this and updating the doc as applicable.

@dlepow Can you please look into this doc enhancement request and add your comments on the doc update as appropriate.

[2020-01-14 10:05] SnehaAgrawal-MSFT commented on #46013
@richardbartley Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2020-01-14 10:21] RohitMungi-MSFT commented on #46109
@BzSpi Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-01-14 10:27] rayne-wiselman commented on #45750
Thanks for your feedback! Planned failover is available for Hyper-V. Do you see it called out elsewhere? Thanks

[2020-01-14 10:29] rayne-wiselman commented on #43246
Now fixed. Thanks for your feedback!
#please-close

[2020-01-14 10:29] #43246 closed

[2020-01-14 10:31] rayne-wiselman commented on #42512
Thanks for your feedback. This should work. If it doesn't please request help in the Site Recovery forum - https://social.msdn.microsoft.com/forums/azure/en-us/home?forum=hypervrecovmgr
#please-close

[2020-01-14 10:31] #42512 closed

[2020-01-14 10:46] shashishailaj commented on #46093
Thats correct .

[2020-01-14 11:11] msrini-MSFT commented on #45923
https://github.com/MicrosoftDocs/azure-docs-pr/pull/101066

[2020-01-14 11:11] #45923 closed

[2020-01-14 11:30] SnehaAgrawal-MSFT commented on #46044
@shibayan Thanks for bringing this to our attention. I have shared your feedback with the content owner for further review.

[2020-01-14 11:36] AjayKumar-MSFT commented on #46101
@xinjinmsn, Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-01-14 11:46] MartinFuhrmann opened #46112 "Security deafults + new tenant"
I don't quite understand why our users weren't asked to register for MFA on their first login to a new tenant. Security defaults were switched on but user were to logon without registering to MFA. Is this normal?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cfac0ecf-e5a9-c5ff-f8c2-ce27789708f5
* Version Independent I

[2020-01-14 11:50] ahmedsza commented on #38759
+1 on this request. The article is good with lots of information but a sample with walkthrough would be great

[2020-01-14 11:53] PieterHeemeryck commented on #40938
@PatrickFarley Thanks for the recommendation, I did. However, it hardly seems like an 'idea' for UserVoice rather than the preview .NET SDK not working properly.

[2020-01-14 11:54] 23min opened #46113 "Mistake in Custom Iniatialization example"
I believe there is a `return ` statement missing in:

[code]

`ctx.DispatchAsync<Counter>(); `
should be
`return ctx.DispatchAsync<Counter>();`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3799266d-bc0a-63f0-b67a-bc182d37667a
* Version Independent ID: b768cbf4-c572-58d9-d5e2-1d067e9bba5e
* Content: [Developer's Guide

[2020-01-14 12:07] athempel opened #46114 "The "Application permissions" approach described here doesn't seem to restrict permissions"
I have tried using the "Application permissions" approach described here to restrict which client apps can access a server app, but all client apps in my tenant seem able to obtain an access token for the server app, regardless of whether they've been given permission to access the server app.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2020-01-14 12:09] w0ut0 commented on #45928
@marcin-vt
![image](https://user-images.githubusercontent.com/20435853/72343398-0815d480-36cf-11ea-986e-aa97bbbe708b.png)

[2020-01-14 12:09] cananac opened #46115 "How to assess client-side encryption"
Hi,

If blobs are encrypted using client-side encryption, is there a way to monitor and assess data on Azure to make sure that it is encrypted?

Thanks,
Canan

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16c7901b-497c-38bd-3615-defab17b572b
* Version Independent ID: 9855d796-3469-8be5-c9a7-75516d9b8856
* Content: [Az

[2020-01-14 12:15] marcin-vt commented on #45928
thnx @w0ut0 - looks like the thing!

[2020-01-14 12:15] jmprieur commented on #42830
ASP.NET Core needs the IDToken to evaluate the identity of the user, which is why IDToken is used. We are discussing about the portal UX which should not put IDToken in the implicit flow category (as obvisouly it can be used for other cases, like the Auth Code flow)

[2020-01-14 12:16] jmprieur commented on #42830
#please-close

[2020-01-14 12:28] jmprieur commented on #46090
the first question mark is because there are cases (call backs from Graph hooks), where the HttpContext might not be available. The second question mark is for cases where there is no user (same in web hooks callbacks)

#please-close

[2020-01-14 12:28] #46090 closed

[2020-01-14 12:58] mcopik opened #46118 "Incorrect build step for Debian"
Hi! The current build steps can generate incorrect APT sources list since lsb_release might return the distro version in format `x.y` or `x.y.z`. Microsoft's package servers expect only the major version `x` in URL.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2646ad4-34b7-fc5e-dcc9-d53a061df394
* Version Independen

[2020-01-14 12:59] DixitArora-MSFT commented on #46113
Hi @23min Thanks for your feedback. We will review and update as appropriate.

[2020-01-14 13:02] DixitArora-MSFT commented on #46118
@ahmelsayed Any inputs in this ?

[2020-01-14 13:03] DixitArora-MSFT commented on #46111
Hi @rtcn2 Thanks for your feedback. We will review and update as appropriate.

[2020-01-14 13:04] pjmartorell commented on #46005
I tried it with a custom container and with the code snippet provided in the documentation. But without generating SSH keys the code snippet itself does not work, so keys must be generated before running the SSH demon in order to make it work. Thanks

[2020-01-14 13:04] robhardman opened #46119 "(Minor) wrong word used"
"Service accounts and service principles" should read "Service accounts and service principals"

Sent from Pedants' Corner ;P

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca2fb784-f7e9-6fad-9889-2dc6639bc0e1
* Version Independent ID: 8b90e35e-6918-1073-85f6-ad47786033c6
* Content: [Conditional Access - Require MFA fo

[2020-01-14 13:06] vn50a0h opened #46120 "Default Type SAS is not available"
Select the Authentication type. The default is SAS. Above option is not available for me when I am trying to upload file to conainer.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78a47a94-ae99-17e7-44da-12c930e079e2
* Version Independent ID: 3e2e7514-e1da-22ac-1352-79af0d5e573c
* Content: [Quickstart - Create a blob

[2020-01-14 13:13] #45829 closed

[2020-01-14 13:15] #45959 closed

[2020-01-14 13:16] StingyJack commented on #45897
@RyanHill-MSFT We're asking about controlling or interrogating the containers, not necessarily the apps running in them. Can you give an example of how we would run a docker-compose ps or stop or up -d ?

Or do the same in the portal UI?

[2020-01-14 13:27] rabrahamOpti commented on #45859
@ketan-chawda-msft Are you talking about this document:

Doc: https://docs.microsoft.com/en-us/azure/api-management/import-and-publish

There is no screenshot on that page that shows the Subscription Settings portion of the API's settings, including the "Header name" and "Query parameter name" fields. And I believe that should belong to the "Subscriptions in Azure API Management" page that I'm com

[2020-01-14 13:28] mcopik commented on #46118
When using a Docker image based on stretch (python:3.6-slim-stretch in my case), the `lsb_release` returns `9.11`.

[2020-01-14 13:31] ketan-chawda-msft commented on #45859
Here is the screenshot:
![image](https://user-images.githubusercontent.com/59500871/72348352-4081d680-3700-11ea-9769-0b4c5d24111e.png)

[2020-01-14 13:32] ferronsw commented on #18387
This should be supported now, but still no docs here.

[2020-01-14 13:33] ketan-chawda-msft commented on #45859
@rabrahamOpti Here is the screenshot:
![image](https://user-images.githubusercontent.com/59500871/72348352-4081d680-3700-11ea-9769-0b4c5d24111e.png)

[2020-01-14 13:34] rabrahamOpti commented on #45859
@ketan-chawda-msft that's the test page. That's not where the header name for the subscription key is defined...

[2020-01-14 13:36] samirs20 commented on #45882
Thanks tomkodet. I am not able to make it work for Mac - I am not sure how to specify the file path on Powershell for Mac that works.

Anyway - it is not good that Microsoft has disabled this without any notice or reason and there is no update as to when it will be reactivated.

[2020-01-14 13:39] chrisjhahn opened #46121 "How do you assign pools to a group instead of individual users?"
Can pools be assigned to Azure AD group instead of individual list of users?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4aca2613-94aa-ea90-099f-625879914c4e
* Version Independent ID: 6b4fcb8e-5d64-826f-04fd-207530dda12f
* Content: [Windows Virtual Desktop personal desktop assignment type - Azure](https://docs.micro

[2020-01-14 13:43] NavtejSaini-MSFT commented on #46109
@BzSpi Thanks for the feedback. We are in process of correcting the document. The pull request has been raised https://github.com/MicrosoftDocs/azure-docs-pr/pull/101068. Once approved changes will reflect.

[2020-01-14 13:46] ChrisH82 opened #46122 "Special consideration for application installations"
Are there any special consideration for installation of line of business applications under Windows 10 Enterprise multi-session along the lines of RDS Install mode?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cdad1b23-8c75-cd08-41cc-6313fc7016bd
* Version Independent ID: f7979a0f-a1be-100f-33b5-01627c45f783
* Conten

[2020-01-14 13:48] chrisolzi commented on #24239
@angoyal-msft, Any updates on this?  This is a major miss that we need ASAP.

[2020-01-14 13:54] mslot commented on #45956
So for multiple instances, only one instance get triggered, correct?
I have actually reimplemented my usecase and now i dont have a blobtrigger, but I use a storage queue, as described in the doc.

[2020-01-14 14:07] vlado101 commented on #46070
Hi @femsulu please find the link below:

https://docs.microsoft.com/en-us/azure/data-factory/control-flow-expression-language-functions#substring

It is the link to the "Expressions and functions in Azure Data Factory" and the section if for substring.

[2020-01-14 14:14] CeciAc opened #46123 "vhds virtual size maximum"
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/azure-docs.fr-fr/issues/673
@ehsf973 commented 43 minutes ago — with docs.microsoft.com

All VHDs on Azure must have a virtual size aligned to 1MB."
isn't it 1,023 Gbs ?

or we must understand that the min is 1MB and the max is 1,023Gbs. meaning multiple of 1 MB ?

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2020-01-14 14:18] jwill20 commented on #46088
Yes, the steps are slightly different on my machine.

Here are the steps:
Select the azureFunction file to Deploy. - I select the folder that has my Azure Functions
Select subscription  - I select one that I was able to create an Azure Function directly with in the portal
Select Function App in Azure. -  I select Create new Function app in Azure…
Enter a globally uniques name…. - I enter one
Selec

[2020-01-14 14:53] gavinhow opened #46124 "Connectors without ISE label"
'Connectors that don't display the ISE label run in the global Logic Apps service.'
Does this mean they will be charged on the normal consumption based charge just as if the LA was outside the ISE?
Rather than being part of the ISE executions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63815982-c91f-8078-f89d-af3a8

[2020-01-14 15:03] uriel-kluk opened #46125 "Simulated App"
Please note that for step 7 of the simulated App, the MethodResponse is expecting a JSON. It throws a serialization error otherwise.
But, if JSON is a requirement, the MethodResponse constructor should use a string, not a byte array.

The following example works:
            string result = $@"{{""result"":""Reboot Completed""}}";
            return Task.FromResult(new MethodResponse(Encoding.UTF8

[2020-01-14 15:14] asote commented on #21014
@georgewallace  Export-Certificate does not export the private key, can not be used for pfx file.

[2020-01-14 15:15] BenjaminHerbert opened #46126 "Example in section "Data transfer with AzCopy" does not work with azcopy 10.3.3 - "unknown flag: --source""
The example in section "Data transfer with AzCopy" does not work with _azcopy 10.3.3_.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4482b415-9411-f74c-1721-e4a9eda472b3
* Version Independent ID: b9f5613e-bafe-b0ab-ae84-70b4ed789b3b
* Content: [Quickstart - Create a blob with Azure CLI - Azure Storage](https:/

[2020-01-14 15:39] philipstreet-hiscox opened #46127 "Description of NSG rules consistent with other docs pages"
Would it be possible make the following changes?
- Define the NSG rules in the same way as other pages, i.e. in a table format, such as https://docs.microsoft.com/en-us/azure/api-management/api-management-using-with-vnet#prerequisites? It makes it easier to copy & paste the required values into IoC.
- Use the correct Service Tag names, e.g. AzureLoadBalancer instead of "load balancer"

Thanks.

--

[2020-01-14 15:39] LaryTheSeagull opened #46128 "Error [400] REST protocol for Azure ressource Tokens"
# Getting SQL resource token

Hello, I am currently trying to obtain an Azure SQL token to authenticate my web app to an Azure SQL server via managed identities. The runtime I'm using is PHP.

This is the cURL request (http request) I'm sending :

[code]

The response I get from this API call is the following :

[code]

I have tried to print every possible variable to check if they are in order, w

[2020-01-14 15:41] philipstreet-hiscox commented on #46127
I forgot to mention that the each NSG rule should include a description (purpose).

[2020-01-14 15:42] bredr opened #46129 "Maximum subscriptions for a topic for premium service bus"
This document doesn't show the maximum number of subscriptions for a topic for premium service bus. Also Topics don't exist for basic. I wonder if this is a mistake here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17b26254-ce8c-76eb-c3e9-b80c3ecc45ba
* Version Independent ID: fc16f0d4-dae7-8494-e25a-6c5398215b4b
*

[2020-01-14 15:45] cephalin commented on #46069
@teguhsiswanto87 Sorry you're having trouble. However, we're not providing steps to install them because it's not the purpose of our documentation to teach you about PHP or Laravel or MySQL. We assume you're already familiar with these things already and the tutorial teaches about how they play with App Service. However, the internet does have a lot of information on how to install them. Please en

[2020-01-14 15:47] MicahMcKittrick-MSFT commented on #44369
I have an internal one. But I can reopen this for you to keep track of.

[2020-01-14 15:48] KrishnaG-MSFT commented on #46128
@LaryTheSeagull To better assist you, can you please share the Azure document link / URL for which this feedback is applicable to ?

[2020-01-14 15:48] msjuergent commented on #46036
Thanks Clas,
I will check on the Support Case. In regards to the latency. Did you measure against volumes that were using Write Accelerator Caching?

Thanks  Juergen

From: Klaas Demter <notifications@github.com>
Sent: Tuesday, January 14, 2020 12:36 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Juergen Thomas <Juergen.Thomas@microsoft.com>; Mention <mention@noreply.github.co

[2020-01-14 15:49] msjuergent commented on #46036
Sorry typo in the name due to autocorrect. Klaas it should read.

From: Juergen Thomas
Sent: Tuesday, January 14, 2020 7:49 AM
To: MicrosoftDocs/azure-docs <reply@reply.github.com>; MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Mention <mention@noreply.github.com>
Subject: RE: [MicrosoftDocs/azure-docs] Latency and performance kpis not met when using premium ssd production recommend

[2020-01-14 15:49] theheatDK opened #46130 "Is it possible to turn on diagnostics logging to log analytics via Powershell?"
Hi,
Is it possible to turn on diagnostics logging to log analytics via the Az Powershell module?
Regards Peter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4f81d07-fd9a-c911-b9b7-c2aa3c298f5b
* Version Independent ID: 96a5f6c6-e7eb-57a3-8e64-c22f01e50a0b
* Content: [Azure VPN Gateway: Configure alerts on diagnostic

[2020-01-14 15:52] philipstreet-hiscox commented on #46127
For the NSG rules, do most of them really need to have Source=Any?
For http/https, can Protocol=Tcp rather than Any?

[2020-01-14 15:58] dominicbetts commented on #45653
Hi @romankiss - I don't believe self-signed X.509 certificates are supported for IoT Central, but I will investigate to confirm this. I'll get back to you as soon as I have a definitive answer.

[2020-01-14 15:58] cephalin commented on #35549
#reassign:cephalin

New doc is staged to be published for App Service.

[2020-01-14 15:59] cephalin commented on #35549
https://github.com/MicrosoftDocs/azure-docs-pr/pull/101070

[2020-01-14 16:09] ferantivero commented on #37861
just wanted to mention that the correct url is `storage.googleapis.com` on Https:443 and I think in my experience it wasn't optional.

[2020-01-14 16:17] derekrprice commented on #45854
PS D:\code\tdp-website-docker\device-service> az --version
azure-cli                         2.0.69 *

command-modules-nspkg               2.0.3
core                              2.0.69 *
nspkg                              3.0.4
telemetry                          1.0.3 *

Derek

[image: Par-Tech, Inc.]

Derek Price | Senior Software Developer

Mobile: +17175796168

139 Premier Dr | Lake Orion MI 4

[2020-01-14 16:19] LaryTheSeagull commented on #46128
https://docs.microsoft.com/en-us/azure/app-service/overview-managed-identity?tabs=powershell#obtaining-tokens-for-azure-resources

[2020-01-14 16:19] crisher0219 commented on #37499
@MartinJaffer-MSFT Has there been any movement on this at all?

[2020-01-14 16:21] DixitArora-MSFT commented on #46124
Hi @gavinhow Thanks for reaching out. We will review and update as appropriate.

[2020-01-14 16:22] DixitArora-MSFT commented on #46129
Hi @bredr Thanks for your feedback. We will review and update as appropriate.

[2020-01-14 16:23] Torxsmind opened #46131 "Authentication considerations"
you outline "The Logic Apps Designer asks you to authenticate to your Office 365 account"  to select the team / channel.  What is left out is that this logic app will Always post as that user.  i feel there needs to be more text around decisions that need to be made.  Also instruction on how to accomplish the same thing by using a Service Account, and the configuration / considerations on the Team

[2020-01-14 16:24] PeterCLu commented on #45816
Hi @alathrop , you can see how to parameterized datasets in the article [Retrain models with Azure Machine Learning designer](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-retrain-designer).

[2020-01-14 16:24] KrishnaG-MSFT commented on #46128
@LaryTheSeagull Thanks for the Azure document URL. We are actively investigating and will get back to you shortly with an update.

[2020-01-14 16:26] PeterCLu commented on #45967
#assign:@trevorbye

[2020-01-14 16:29] lusteel opened #46132 "Determine VM size and region availability"
When attempting to determine if SSD is available in a region using the provided CLI script or PowerShell script provided in this document it either returns nothing or "cannot index into a null array" even though Ultra SSD is available in that region. Instead of using the above script I would suggest to use the below script to determine if Ultra SSD is available in a region.

CLI
$subscription = "S

[2020-01-14 16:30] oddhair opened #46133 "Link incorrect."
Was linked here from AzureAD security page with title "How password hash synchronization works" which isn't what's here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aad82713-d562-5778-fbf8-035e24f9c470
* Version Independent ID: 6370cca0-c78e-4738-ba67-8fb14594b0f2
* Content: [What is password hash synchronization wi

[2020-01-14 16:32] ferantivero opened #46134 "[ubuntu] motd being denied"
[Enter feedback here]

after following this doc, I'm observing motd.ubuntu.com on 443 gets denied. I couldn't determine whether it is actually my setup or the cluster itself. But just in case, please let me share this in here:

`{"msg":"HTTPS request from 10.10.0.4:49378 to motd.ubuntu.com:443. Action: Deny. No rule matched. Proceeding with default action"}`

---
#### Document Details

⚠ *Do not e

[2020-01-14 16:34] KrishnaG-MSFT commented on #46131
@Torxsmind Thanks for your comment. We are actively investigating and will get back to you shortly with an update.

[2020-01-14 16:37] PeterCLu commented on #46100
@RohitMungi-MSFT , I can update the screenshot to avoid similar issues in the future.

@baltmann, please let us know if we have resolved your issue. If we haven't heard back from a few days, we will proceed to close this issue. Thank you.

[2020-01-14 16:44] markjbrown commented on #45661
Thanks for the question.

For a single-master scenario where multiple users are updating the same replica set this is correct. The commit happens within a replica set for each partition using snap shot isolation. Once the data is committed to three replicas (majority quorum), the etag is updated.

In multi-master scenarios, the same thing happens but in each region if multiple users are updating t

[2020-01-14 16:44] #45661 closed

[2020-01-14 16:47] MGoedtel commented on #45915
@dcbrown16 - I will fix this right now.  #please-close

[2020-01-14 16:47] #45915 closed

[2020-01-14 16:51] a9fagu opened #46135 "Index availability during re-indexing"
Hi,
Reading through section "Index availability during a rebuild":
"To maintain index availability during a rebuild, you must have a copy of the index with a different name on the same service, or a copy of the index with the same name on a different service, and then provide redirection or failover logic in your code.". Wanted to confirm if handling failover through code is still required / recom

[2020-01-14 16:58] MGoedtel commented on #45915
@dcbrown16 - I just investigated this and took notice that this article is already in the TOC under - Managed Shared Resources\PowerShell Modules\Modules.  However, the ref to the article for that TOC entry was not properly referencing the article by the previous content owner.  The fix should go live later today.

[2020-01-14 17:05] mwc360 opened #46136 "Get Web URL from Linked Service URL?"
I have a linked service (Azure Key Vault) that I need to use in pipelines via the web activity to get and set secret values in a pipeline. How can I reference the URL of the AKV linked service as the URL of the web activity? I really need to reference the linked service as I have a Dev/Test/Prod environment and each has its own AKV. Thx

---
#### Document Details

⚠ *Do not edit this section. It i

[2020-01-14 17:09] iainfoulds commented on #45887
I've reached out to the product team for confirmation. I'll post back once I have clarity.

This doc is currently undergoing a re-write, so we'll also incorporate this feedback to be more clear about the roles involved.

#in-progress

[2020-01-14 17:10] DougPetrole opened #46137 "Please add cache size to tables above"
Hi Team,

In this article re: cache size requirements for ephemeral disks it references the cache sizes for a specific VM series and size. Can we please include this here? For instance, the D3v2 machine makes no reference to the size of the cache here despite being referenced below.

https://docs.microsoft.com/en-us/azure/virtual-machines/windows/ephemeral-os-disks#size-requirements

Of specific i

[2020-01-14 17:14] MicahMcKittrick-MSFT commented on #44369
Submitted the fix with additions for Debian

[2020-01-14 17:14] tamram commented on #45865
@xiayonghu - Thanks for pointing out this error! I've fixed the text, and the change should go live shortly.

#please-close

[2020-01-14 17:14] #45865 closed

[2020-01-14 17:18] MicahMcKittrick-MSFT commented on #27027
Submitted a fix. It is QDR. Once the PR merges the changes will go live after a few hours.

[2020-01-14 17:18] #27027 closed

[2020-01-14 17:20] jtourlamain commented on #18475
Some of the thumbprint checks are working some of them give an error while deploying via ARM:

    <choose>
            <when condition="@(context.Request.Certificate == null || !context.Request.Certificate.Verify() || context.Request.Certificate.Thumbprint != "ba7296d87de9bf26a1514bb43ec9d72f5f9dfedb")">
                <return-response>
                    <set-status code="403" reason="Invalid

[2020-01-14 17:21] djpmsft commented on #46136
Hi @mwc360,

You can use the Key Vault REST API which is documented`[here](https://docs.microsoft.com/en-us/rest/api/keyvault/)`.

How are you using your secrets in the pipeline? If you are using something in data factory that natively supports AKV (such as a password in a linked service), you can find more information [here](https://docs.microsoft.com/en-us/azure/data-factory/continuous-integrati

[2020-01-14 17:21] glimoli commented on #45735
@Karishma-Tiwari-MSFT The redeploy option from the portal actually does that.

[2020-01-14 17:22] MicahMcKittrick-MSFT commented on #26913
This is already mentioned in the doc

![image](https://user-images.githubusercontent.com/32313503/72366587-6763ec80-36af-11ea-82db-859eac7c1ea0.png)

#please-close

[2020-01-14 17:22] #26913 closed

[2020-01-14 17:30] bcowdery opened #46138 "Configuring option values example is incorrect"
The example in the 'Working with options and settings' section is incorrect. The example code as provided will always result in an empty `MyOptions` configuration object.

Assuming a local.settings.json configuration like this,
[code]

The `Startup.Configuration` code should be:
[code]

Configuration values from `local.settings.json` are exposed as environment variables, so you must used the flatt

[2020-01-14 17:31] praveenvaltix commented on #30370
Folks, if this is still an outstanding bug, can some one in Azure please fix the documentation below.

https://docs.microsoft.com/en-us/azure/virtual-machines/linux/instance-metadata-service#custom-data
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/instance-metadata-service#custom-data

[2020-01-14 17:33] MicahMcKittrick-MSFT commented on #41441
I adjusted the sentence for now. We don't have steps to remove the Agent as it is a requirement to run VM extensions so we wouldn't want people removing it only updating it or installing. I am following with with other teams in engineering though to see if we want to adjust this further.

[2020-01-14 17:33] #41441 closed

[2020-01-14 17:38] jluk commented on #46000
@zikalino do you know of any cases where extension checksums can diverge? It seems this is a transient issue occurring now and then that sometimes resolves on its own. It looks like CLI based logic to match the checksums in general for any extension installed, have you seen this occur for other services?

[2020-01-14 17:38] cherylmc commented on #45948
Good catch. The product team owns and updates these - so I'll make them aware of the issue and we'll get it changed.

[2020-01-14 17:38] femsulu commented on #46135
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-01-14 17:39] cherylmc commented on #45948
@yushwang - I can update this one. Just wanted you to be aware of the issue that was introduced.

[2020-01-14 17:39] cherylmc commented on #45948
#please-close

[2020-01-14 17:39] #45948 closed

[2020-01-14 17:42] kfollis commented on #45921
@MaggiePucciEvans may be able to help

[2020-01-14 17:42] tfitzmac commented on #45948
@cherylmc - thanks for addressing this issue so quickly!

[2020-01-14 17:45] codecontributorr commented on #33674
I am also getting this error in UAE east region I tried 5 times still it deployment is failing

[2020-01-14 17:47] MarileeTurscak-MSFT commented on #46133
@oddhair
Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-14 17:50] macolso commented on #46055
Hi - ACI PM here. This issue impacts container groups being deployed in a customer VNet. If you aren't using your own VNet, you should still be able to successfully deploy your container group. We're actively working to mitigate this issue. The best place to find updates will be on Azure Portal if your container group has been impacted.

[2020-01-14 17:52] MicahMcKittrick-MSFT commented on #30370
@KumariSupriya can you help look into this one?

[2020-01-14 17:54] praveenvaltix commented on #30370
For reference, we have been using this method for the past year. It suddenly stopped working last week. And Azure support is pointing us to this github issue.

[2020-01-14 17:55] MicahMcKittrick-MSFT commented on #37407
@MSSedusch @rdeltcheva can one of you take a look into this? It has been open for quite some time now.

[2020-01-14 17:58] alvipeo opened #46139 "Groups claim is not present when using B2C"
I've been trying to authorize users based on their Role Directory using Azure B2C. I added Group Claim in "Token configuration (preview)", selected "Directory roles", so they should be available in both ID and Access tokens.

But when the app gets the token, there's no "groups" or anything like that. And my user does have a directory role assignment. What am I missing?

---
#### Document Details

[2020-01-14 18:02] MicahMcKittrick-MSFT commented on #31880
The NV_3 series have been added to the calculator. The preview series are not always added right away.

[2020-01-14 18:02] #31880 closed

[2020-01-14 18:03] asergaz commented on #45917
Hello @skyizthelimit,
I noticed you opened this issue against [this doc](https://docs.microsoft.com/en-us/azure/iot-dps/quick-enroll-device-x509-csharp), though I want to make sure you also read the following docs:

- https://docs.microsoft.com/en-us/azure/iot-dps/quick-enroll-device-tpm-csharp
- https://docs.microsoft.com/en-us/azure/iot-dps/concepts-tpm-attestation
- https://docs.microsoft.com/e

[2020-01-14 18:03] MicahMcKittrick-MSFT commented on #32246
Consolidating issues on this doc to #45578 30370

[2020-01-14 18:03] #32246 closed

[2020-01-14 18:04] MicahMcKittrick-MSFT commented on #43940
Consolidating issues on this doc to #30370

[2020-01-14 18:04] #43940 closed

[2020-01-14 18:06] MicahMcKittrick-MSFT commented on #31499
#30370

[2020-01-14 18:06] MicahMcKittrick-MSFT commented on #31851
#30370

[2020-01-14 18:07] MicahMcKittrick-MSFT commented on #33611
#30370

[2020-01-14 18:07] MicahMcKittrick-MSFT commented on #38802
#30370

[2020-01-14 18:07] MicahMcKittrick-MSFT commented on #39437
#30370

[2020-01-14 18:07] MicahMcKittrick-MSFT commented on #43938
#30370

[2020-01-14 18:07] MicahMcKittrick-MSFT commented on #44145
#30370

[2020-01-14 18:07] MicahMcKittrick-MSFT commented on #44314
#30370

[2020-01-14 18:13] derekrprice commented on #45854
Never mind.  The version of the Azure CLI that I encountered this with was an earlier one.  I can confirm that the current docs work fine with Azure CIL 2.0.69.  Sorry to bother you.

[2020-01-14 18:13] snimmagadda1 opened #46141 "Spring boot feature flag quickstart looks incomplete / missing pieces"
Trying to recreate the sample in the associated quickstart. It looks like a significant portion is missing. The provided steps don't produce a runnable app. For example, where/what is the `Model` class in HelloController? I don't see any mentions or links to its sample code:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2020-01-14 18:18] stewartadam commented on #40619
After reviewing answers on this thread, I would agree and don't think additional work is required for the tokens or UserInfo endpoint itself - but rather, I would rephrase my ask to be better documentation on the issue:
1. Document the two UserInfo endpoint URIs, how to call them, and what they return
2. Document the fact that `openid` scope is primarily used for the 'sign me in' permission, and t

[2020-01-14 18:21] hawkbox opened #46142 "Reverse DNS for internal IPs."
The URL referencing this has no information on getting it working.  How do we generate PTR records for our internal DNS from Azure DHCP? A solution to this was promised 2 years ago and I haven't seen anything.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7b1b215-0434-145b-cd11-95d0f32bc015
* Version Independent ID:

[2020-01-14 18:23] Karishma-Tiwari-MSFT commented on #45854
No problem. Thanks for sharing the update.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-01-14 18:23] #45854 closed

[2020-01-14 18:23] stewartadam commented on #40619
After reviewing answers on this thread, I would agree and don't think additional work is required for the tokens or UserInfo endpoint itself - but rather, I would rephrase my ask to be better documentation on the issue:
1. Document the two UserInfo endpoint URIs, how to call them, and what they return
2. Document the fact that `openid` scope is primarily used for the 'sign me in' permission, and t

[2020-01-14 18:25] YutongTie-MSFT commented on #45816
@alathrop
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-01-14 18:25] #45816 closed

[2020-01-14 18:26] stewartadam commented on #26913
That's pretty vague. Besides being more specific on where it can be found (which is nested 3 levels deep in settings menus), there's also no mention of the OS-specific keys in our current docs.

[2020-01-14 18:29] ckbargavi opened #46143 "How do i display logs for pre-trigger and post-trigger ?"
I understand that for stored procedure as per the docs ScriptLog works fine. But it is not the case for pre-trigger/post-trigger.

Lets say, while creating the document, i set the PreTriggerInclude or PostTriggerInclude and enabled the logs

RequestOptions requestOptions = new RequestOptions();
      requestOptions.setPostTriggerInclude(Arrays.asList("tryPostTrigger"));
      requestOptions.setScr

[2020-01-14 18:32] #42897 closed

[2020-01-14 18:32] SlavaRoikhman commented on #45750
Got it! Thanks. You can close it.

﻿ --
Slava Roikhman
Consultant
MCS | Secure Infrastructure
Slava.Roikhman@microsoft.com<mailto:Slava.Roikhman@microsoft.com>
[Microsoft]
﻿

From: Rayne Wiselman <notifications@github.com>
Sent: January 14, 2020 4:27 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Slava Roikhman <Slava.Roikhman@microsoft.com>; Mention <mention@noreply.github.co

[2020-01-14 18:36] MicahMcKittrick-MSFT commented on #30370
I am in contact with the right people and they are taking a look.

An update will be shared here when available.

[2020-01-14 18:36] #44369 closed

[2020-01-14 18:37] BharathNimmala-MSFT commented on #46141
@snimmagadda1 Thank you for reaching out to us and sharing your feedback. Will further look into this and get back to you at the earliest.

[2020-01-14 18:37] BryanTrach-MSFT commented on #46127
@philipstreet-hiscox Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-01-14 18:46] stdistef commented on #45948
I still see it set to 30?   Do I need to wait for the change to propagate?

[2020-01-14 18:47] AjayKumar-MSFT commented on #45682
Marcus, no worries! Thanks for the update.
When you get a chance kindly try the above steps and see how that goes.
Thanks again for leveraging Azure docs feedback channel - this channel is reserved for ‘Azure docs’ questions- For sharing doc feedback and suggesting content improvements, if your question is technical and not doc specific, you can always feel free to post a forum thread on the [tech

[2020-01-14 18:49] nastassiar opened #46144 "Issues with ARM deployment of Infrastructure deleting code"
When I forgot " WEBSITE_RUN_FROM_PACKAGE: 1" in the application settings portion of my ARM template a new deployment of the Function App would actually delete my code. I didn't realize the Azure DevOps tasks were by default using this new run from package method to deploy so I didn't realize I needed this setting and anytime an ARM template runs it actually deletes existing App settings so it was

[2020-01-14 18:50] MicahMcKittrick-MSFT commented on #33599
This page is referring to extensions. Not the VM agent alone. We have info on the VM agent here:

https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/agent-windows
https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/agent-linux

We also cover install in the above docs.

[2020-01-14 18:50] #33599 closed

[2020-01-14 18:58] vhorne commented on #43207
link added with PR #96862
#please-close

[2020-01-14 18:58] #43207 closed

[2020-01-14 18:59] asergaz commented on #46125
Thanks for the feedback @uriel-kluk ! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-01-14 18:59] karthik25 opened #46145 "Removing a server that's a secondary and adding it back"
Hello,

After a geo-replicated database is disconnected from the primary using the ATER DATABASE '--' REMOVE SECONDARY ON SERVER '---' statement, is it possible to connect it back, without having to drop the database and recreate it?

If I run ADD SECONDARY for the database that was disconnected, I get this error message "The destination database name '---' already exists on the server '---'.". Wh

[2020-01-14 19:02] MicahMcKittrick-MSFT commented on #43816
Added a note. Once the PR merges the changes will go live after a few hours.

[2020-01-14 19:02] #43816 closed

[2020-01-14 19:05] jarthu3 opened #46146 "Azure Government Dependencies"
It is not overwhelmingly clear that the IP dependencies outlined above...

40.77.24.27:80
40.77.24.27:443
13.90.249.229:80
13.90.249.229:443
104.45.230.69:80
104.45.230.69:443
13.82.184.151:80
13.82.184.151:443

...are also needed for Azure Government customers.  Those IPs do not show up on the published Azure Government Public IPs and Service Tags .json file (https://www.microsoft.com/en-us/downl

[2020-01-14 19:06] MicahMcKittrick-MSFT commented on #38051
@axelgMS Seeing as this is the Linux specific doc it seems we went with showing the CLI commands. Similar, the following doc for Windows uses powershell. So I think we can leave this doc as is for now. If you still think it needs fixing feel free to reach out offline and let's discuss. Alternatively, feel free to submit a PR against the doc and myself and the doc team can review.

[2020-01-14 19:06] #38051 closed

[2020-01-14 19:09] MicahMcKittrick-MSFT commented on #36254
Seems a fix was pushed a while back. Closing this.

[2020-01-14 19:09] #36254 closed

[2020-01-14 19:10] adamgourd opened #46147 "Confusion over domain-join support"
Please disregard. Confusion on my part.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 100a0bd2-817c-8c9e-68d6-cb00a5f405eb
* Version Independent ID: ee7081d3-a43f-47ea-db7f-ff6ba23d50b3
* Content: [Use Azure AD Domain Services to authorize access to file data over SMB](https://docs.microsoft.com/en-us/azure/storage/fi

[2020-01-14 19:14] Adam-Smith-MSFT commented on #46126
@BenjaminHerbert Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-01-14 19:16] Adam-Smith-MSFT commented on #46120
@vn50a0h Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-01-14 19:17] MarileeTurscak-MSFT commented on #46110
@frececroka
Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-14 19:18] MarileeTurscak-MSFT commented on #46119
@robhardman
Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-14 19:27] MicahMcKittrick-MSFT commented on #24410
We updated this a while ago. I will close this out but if there are still issues just let me know.

[2020-01-14 19:27] #24410 closed

[2020-01-14 19:28] xsqian opened #46148 "pip install azureml-sdk[notebooks,automl] error message"
When I was running
I got this error message, is this still okay?

Successfully built fusepy dill py-cpuinfo future JsonForm JsonSir json-logging-py smart-open liac-arff fire termcolor
ERROR: azureml-automl-runtime 1.0.83 has requirement azureml-automl-core==1.0.83, but you'll have azureml-automl-core 1.0.83.1 which is incompatible.
Installing collected packages: mccabe, pyflakes, pycodestyle, flak

[2020-01-14 19:29] mrm9084 commented on #46141
@snimmagadda1 The Model class being used in HelloController is the org.springframework.ui.Model. Which we are using with spring-boot-starter-thymeleaf. To modify the html template. You can see the value being used on this line `<li class="nav-item" th:if="${Beta}">`.

Thanks for the input and we will update the Quickstart to clarify this.

[2020-01-14 19:33] MicahMcKittrick-MSFT commented on #27932
I am not sure I follow what needs to be updated. As this is a fairly old issue I am going to close it. But if you believe we still need to update it please let me know and provide some additional details.

[2020-01-14 19:33] #27932 closed

[2020-01-14 19:33] PatrickFarley commented on #45486
Hi @ToddChitt ,
If the docker documentation is missing crucial info, you should file an issue on [that page](https://docs.microsoft.com/azure/container-instances/container-instances-quickstart) as well, but I'll try to get to the bottom of your issue here.

By command prompt we mean the Windows Command Prompt application, but Powershell should work too. What error message did you get when you trie

[2020-01-14 19:39] JayReally opened #46149 "Incorrect location for arm-template-parameters-definition.json"
The article incorrectly states to "create a file named arm-template-parameters-definition.json in the root folder of the repository". It should read "... in the folder specified as the root folder for the data factory git integration".

If, when you setup git integration for data factory, you specify a non-empty rootfolder, then that's were the customer parameters definition file should go (and NO

[2020-01-14 19:40] MarileeTurscak-MSFT commented on #46133
@oddhair what page were you linked from?

[2020-01-14 19:41] markjbrown commented on #39542
@HowardEdidin Can you please provide an ETA on this article? We need to update this and keep up to date. If we cannot we will need to pull it down.

thanks.

[2020-01-14 19:42] kgremban commented on #6868
Much delayed reply, but sharing a link to this tutorial which was published early 2019 to provide an industry example of device location mapping: https://docs.microsoft.com/azure/azure-maps/tutorial-iot-hub-maps

[2020-01-14 19:42] asudbring commented on #45265
Sending to PM for review and guidance

#reassign:rohinkoul

[2020-01-14 19:43] MarileeTurscak-MSFT commented on #46119
Thanks for this, @robhardman . This is fixed. https://github.com/MicrosoftDocs/azure-docs-pr/pull/101124

[2020-01-14 19:43] #46119 closed

[2020-01-14 19:44] MarileeTurscak-MSFT commented on #46119
The changes should go live in 24 hours.

[2020-01-14 19:45] Klaas- commented on #46036
Yeah, write accelerator is properly configured for the log disks

[2020-01-14 19:47] mikenri opened #46150 "Is Azure Kubernetes Service now FedRAMP compliant?"
This document shows that Azure Kubernetes Service was planned to be FedRAMP compliant in 2019.  Is the service now FedRAMP compliant?  If so can this document be updated to reflect the current status and plans for 2020?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e27d0b1-56f9-2eb7-8fee-0c47cfbafeac
* Version Indepe

[2020-01-14 19:47] MicahMcKittrick-MSFT commented on #28552
Fixed. Once the PR merges the changes will go live after a few hours.

[2020-01-14 19:47] #28552 closed

[2020-01-14 19:49] vlado101 opened #46151 "COPY command runs but no data being copied from Teradata (on-prem)"
Hello,

I am running into an issue where I have a set up a pipeline that gets a list of tables from Teradata using a Lookup activity and then passes those items to a ForEach activity that then copies the data in parallel and saves them as a gzipped file. The requirement is to essentially archive some tables that are no longer being used.

For this pipeline I am not using any partition options as m

[2020-01-14 19:55] dcbrown16 commented on #45915
Thanks @MGoedtel, sorry for the trouble!

[2020-01-14 19:55] SnehaGunda commented on #45063
@NavtejSaini-MSFT  can you please change the label on this issue to the storage service, the issue is not on a Cosmos DB doc.

[2020-01-14 19:55] cherylmc commented on #45948
Yep - we're in waiting mode. It has to actually publish. I made the change in the private repo. That gets pulled over and will publish on the next publishing cycle. Most likely later this afternoon. It's not an instant thing.

[2020-01-14 19:58] johnkemnetz commented on #45810
PR for the fix is here: https://github.com/MicrosoftDocs/azure-docs-pr/pull/101132
@VikasPullagura-MSFT , we can close this now.

[2020-01-14 20:01] vladvino commented on #18475
@jtourlamain I wasn't able to reproduce the issue. If it persists, please open a support case.

[2020-01-14 20:06] SubhashVasarapu-MSFT commented on #45689
@sbell303303 , Appreciate your patience. At present there is no option for configuring split tunnel for DNS in client.
We are closing this issue for now.If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-01-14 20:06] #45689 closed

[2020-01-14 20:12] fiveisprime commented on #45883
Are you on Windows or in a remote environment?

[2020-01-14 20:13] ggailey777 commented on #45883
Windows

[2020-01-14 20:15] fiveisprime commented on #45883
@EricJizbaMSFT Have you seen anything like this?

[2020-01-14 20:15] davidfox2 commented on #43073
Additional vote to reopen, I also have this error code similar to above.

[2020-01-14 20:19] vladvino commented on #46111
@rtcn2 please clarify what limitations you are referring to.

[2020-01-14 20:21] sbtron commented on #35009
Sorry I haven't worked in this space in years and really should not be author on this anymore

[2020-01-14 20:23] MGoedtel commented on #44763
Will file a bug for this and triage today or tomorrow the latest.  Thanks for bringing this to my attention.  #please-close.

[2020-01-14 20:23] #44763 closed

[2020-01-14 20:31] jeffreywcarter opened #46152 "bash --html"
When attempting to run the above Bash - az webapp up --location westeurope --name &lt;app_name&gt; --html , I am receiving the following error: az: error: unrecognized arguments: --html

Please advise and thank you,  Jeff Carter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a825f031-250e-034d-e552-4b0d976d88b1
* Versi

[2020-01-14 20:31] Torxsmind opened #46153 "Microsoft Teams"
I do not see a Teams connector list although it is available in Azure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 283ea333-d9a1-50c6-581c-753131c88f5a
* Version Independent ID: 45207a34-a98b-8214-3364-61a62fbada4a
* Content: [Connectors for Azure Logic Apps - Azure Logic Apps](https://docs.microsoft.com/en-us/azure

[2020-01-14 20:31] plzm opened #46154 "Broken link under "Next steps""
The link "Azure Cosmos DB JavaScript server-side API reference" appears to be broken - leads to a nearly blank github page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc953932-e688-4029-9f0c-826273458b1c
* Version Independent ID: 9f6c214e-e39b-0455-d852-96145905e37e
* Content: [Work with JavaScript integrated query

[2020-01-14 20:34] jordanchang opened #46155 "Match root domain (no path)"
Is it possible to match the root domain (e.g. myapp.azurefd.net) to a backend?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c9317fa-eb84-c6f2-2943-f4572059b4cd
* Version Independent ID: fdfe5fc4-a7ec-e0fa-2ed1-1632dfd37b20
* Content: [Azure Front Door Service - Routing rule matching monitoring](https://docs.microsof

[2020-01-14 20:34] stdistef commented on #45948
Ok, sorry about that, I will delete my comment

Steve DiStefano
Sr Cloud Solution Architect – Azure Apps and Infrastructure
Customer Success Unit
stdistef@microsoft.com<mailto:stdistef@microsoft.com> LinkedIn<https://www.linkedin.com/in/steve-distefano-6045b/>
Teams + Mobile: 919.474.4918

[cid:image001.jpg@01D5CAF0.2119ABF0]

[microsoft-certified-azure-solutions-architect-expert][cid:image003.jpg

[2020-01-14 20:38] jeanchavez opened #46156 "Conditional Access MFA for Azure Management is also catching Powerapps"
We noted that CA rules that apply to "Microsoft Azure Management" app will also apply to PowerApps application. Even if you configure Microsoft PowerApps as an exception  it won't work, I mean the CA rule will be enforced for PowerApps.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 221733cf-3951-3fb4-12cc-486ef43d8d16

[2020-01-14 20:42] MicahMcKittrick-MSFT commented on #21850
I added a note that this tutorial only works for Generalized images.

I created a backlog doc item to look into work arounds if you want to accomplish the same using a specialized disk. Once that is created I will publish that doc and link it to this one.

[2020-01-14 20:42] #21850 closed

[2020-01-14 20:48] rtcn2 commented on #46111
The Management REST API is not available for the consumption tier and
cannot be enabled via the portal blade for the consumption tier as with the
other tiers.

Since you cannot enable the Management API, there is no way of enabling the
logging to event hub for a Consumption Tier API Management instance.

Regards.

Rod

On Tue, 14 Jan 2020 at 20:19, Vlad Vinogradsky <notifications@github.com>
wrote

[2020-01-14 20:50] RouterBox commented on #46055
@macolso My containers hit a keyvault when they start up, and the keyvault graphs show when they started doing the restart loop.  Starts Jan 8th, 11:30pm, and by morning had peaked.  Hopefully this can help you pinpoint the update which caused the issue.

![Capture](https://user-images.githubusercontent.com/10282614/72381518-2387dc00-36dd-11ea-9e36-74ce9c52bb7d.PNG)

[2020-01-14 20:53] MarileeTurscak-MSFT commented on #46110
@frececroka can you please include your entire request body?

[2020-01-14 20:54] MicahMcKittrick-MSFT commented on #26741
I added a note about that. I am working on a re-write of this doc as well.

[2020-01-14 20:54] #26741 closed

[2020-01-14 20:55] vladvino commented on #46111
Log to Event Hub policy is supported in the Consumption tier. Direct (legacy) management API is not available in the Consumption tier but ARM API works fine and is a superset of the direct API - https://docs.microsoft.com/en-us/rest/api/apimanagement/.

[2020-01-14 20:57] snimmagadda1 commented on #46141
@BharathNimmala-MSFT @mrm9084 ah got it that makes sense. Thank you!

[2020-01-14 21:01] CeciAc opened #46157 "AADSTS90092 GraphNonRetryableError"
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/azure-docs.it-it/issues/420

@nickgsoft commented 3 hours ago
I see there are error codes listed on the doc, but not all the Error codes have guide to resolve them.
For an example 👍 i am getting error "AADSTS90092: Non-retryable error has occurred." at the moment which i understood from the document that it is "AADSTS90092 | GraphNo

[2020-01-14 21:03] BharathNimmala-MSFT commented on #46141
@mrm9084 Thank you for helping on this and sharing additional context and also taking feedback  further to reflect the documentation.

@snimmagadda1 Thank you for reaching out to us and sharing your feedback. For now, will go ahead and close this issue. If you have any further queries please do tag us in your reply and we will be more than happy to continue the conversation.

[2020-01-14 21:03] #46141 closed

[2020-01-14 21:03] rtcn2 commented on #46111
Shouldn't that information be on the page somewhere? Or that these instructions are marked as legacy, and that you need to do things differently now, like using the ARM API?

[2020-01-14 21:05] vladvino commented on #46111
Yes, the doc can use an update. Thanks!

[2020-01-14 21:10] MicahMcKittrick-MSFT commented on #39274
I found many of them documented here: https://docs.microsoft.com/en-us/azure/azure-monitor/platform/agent-windows

I will add a link to the monitor docs to make it easier to find.

[2020-01-14 21:10] #39274 closed

[2020-01-14 21:11] #42468 closed

[2020-01-14 21:13] suhuruli commented on #46079
if the application is .net core, you should be able to deploy it to the SF Linux clusters using SFCTL. Can you please describe what's not working?

[2020-01-14 21:16] MicahMcKittrick-MSFT commented on #35009
@bwren is this something you can assist with? I see you have worked on the Diagnostic overview pages in Monitor and this extension is part of that.

[2020-01-14 21:18] MicahMcKittrick-MSFT commented on #30572
@bwren is this something you can assist with?

[2020-01-14 21:18] MattHartz commented on #46079
Hi @suhuruli!

I have a couple questions:
1. https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-get-started-mac appears to demo with an "install.sh" script. Is this only generated with Java applications?

2. I am trying to use SFCTL and am having issues. I get this error https://github.com/Microsoft/service-fabric-cli/issues/51 when trying to follow the doc https://docs.microsoft

[2020-01-14 21:20] rtcn2 commented on #46111
Great,

Thank you.

On Tue, 14 Jan 2020 at 21:05, Vlad Vinogradsky <notifications@github.com>
wrote:

[2020-01-14 21:22] #44360 closed

[2020-01-14 21:25] joeljanke opened #46159 "VNet Integration On Standard"
I believe VNet Integration is now supported on Standard App Server Plans and does not require Premium (as was the previous case) and as is the case currently still noted in this article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3847e16b-92ae-0202-c7e1-ca9a8474e65f
* Version Independent ID: a25b6b5b-05ab-b3b2-616c

[2020-01-14 21:25] BharathNimmala-MSFT commented on #45891
Assigning this to our document author @lgayhardt to further evaluate the ask and update the document accordingly.

[2020-01-14 21:26] KonTheCat opened #46160 "Please provide clarity: are storage accounts supported as the destination for Vmware to ASR?"
Hello,

Below is the command I ran, based on this article. Examination of the parameter sets of New-AzRecoveryServicesAsrReplicationProtectedItem does not show a parameter set that has both -VMwareToAzure and -RecoveryAzureStorageAccountId. Please clarify if vmware can be ASRd to Azure Storage Accounts and update this documentation if they cannot be.

PS Azure:\&gt; $Job_EnableReplication1 = New-A

[2020-01-14 21:31] #44845 closed

[2020-01-14 21:33] erikadoyle commented on #8975
#please-close

[2020-01-14 21:33] #8975 closed

[2020-01-14 21:33] erikadoyle commented on #8975
Thanks again @OlegKarasik!

[2020-01-14 21:34] kevinlam1 commented on #46124
If the logic app is running in the ISE then there will not be any action execution charges regardless of what type of connector or where it runs.

[2020-01-14 21:38] dkuzmicki opened #46162 "Incorrect info on the Azure Portal version"
On the Azure portal version of the documentation, you have
" e. Select Sign AuthN Request.

f. As Send AuthN request by, select POST.

g. As Send logout request by, select POST."

the second one, (G) should be"GET". Otherwise you will get an error when signing out.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40756c7

[2020-01-14 21:39] MarkIannucci commented on #45735
@Karishma-Tiwari-MSFT  @glimoli , thank you.  I submitted a PR to add the redeploy functionality as a suggestion.

[2020-01-14 21:41] davidkydd opened #46163 "Out of date API referenced"
listNodeAgentSKUs is now listSupportedImages

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a9c3cde-fcaa-c65c-ba84-d097bb1f1bac
* Version Independent ID: 09504f27-aa61-4829-3195-222983f81c35
* Content: [Run Linux on virtual machine compute nodes - Azure Batch - Azure Batch](https://docs.microsoft.com/en-us/azure/batch

[2020-01-14 21:43] EricJizbaMSFT commented on #45883
The JavaScript thing is tracked here: https://github.com/microsoft/vscode-azurefunctions/issues/1401

The Python thing not exactly. It's all about what's in your path.
- Do you have a startup script of some kind on your machine? It might not run all the time in Code.
- Can you describe exactly how you're opening Code each time? For example, are you typing `code <folder path>` in a terminal, or are

[2020-01-14 21:46] TravisCragg-MSFT commented on #46130
@theheatDK I was not able to find any examples using PowerShell, but it should be possible using the [Set-AzDiagnosticSetting cmdlet](https://docs.microsoft.com/en-us/powershell/module/az.monitor/set-azdiagnosticsetting?view=azps-3.3.0).

Thanks for the feedback! I have assigned the issue to the content author to add PowerShell instructions in addition to Portal instructions.

[2020-01-14 21:49] MicahMcKittrick-MSFT commented on #32846
I added info about the IP address. I don't believe we need more information besides that as it is covered in various docs. If you feel we need more let me know what specifically you are looking for.

Once the PR merges the changes will go live after a few hours.

[2020-01-14 21:49] #32846 closed

[2020-01-14 21:53] MGoedtel commented on #44763
I've identified the issue and corrected it.  Will go live later today.

[2020-01-14 21:54] cemeyer commented on #32846
Thanks, Micah.

Could you maybe provide links to all of the various docs you have in mind, in one place?

I'm having trouble finding any documentation of the (?)REST API used by azure-agent to communicate with 168.63.129.16.  (Looks like sometimes communication with this server uses XML blobs.  What is the schema and documentation for those?)

Thanks again,
Conrad

[2020-01-14 21:55] iannovic opened #46164 "What image formats are available for label projects?"
What image formats are available for label projects?

1. .bmp and .png files do not work with labelling tasks within a labelling project.
1. .BMP files do not work with dataset previews

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e5558ba-c622-2fb4-318b-85dffa50980e
* Version Independent ID: 11408da5-766c-81d0-0225-

[2020-01-14 21:56] MarileeTurscak-MSFT commented on #46112
@MartinFuhrmann
Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-14 21:58] iannovic commented on #46164
I reported this issue here as well https://github.com/Azure/MachineLearningNotebooks/issues/733 . closing this

[2020-01-14 21:58] #46164 closed

[2020-01-14 21:59] jhua18 commented on #8746
Not working with Catalina (10.15.2). any update?

[2020-01-14 22:00] MarileeTurscak-MSFT commented on #46112
Hi @MartinFuhrmann , it should not be excluded unless there is a tenant policy or user policy overwriting the setting, or unless the account is excluded for another reason (for instance, being the AD Connect Synchronization account). Can you please check your conditional access policies to make sure that there's nothing interfering with the setting?

Since it's hard to diagnose this issue without

[2020-01-14 22:00] MarileeTurscak-MSFT commented on #46112
I'm closing this out as it needs to move to a support case.

[2020-01-14 22:00] #46112 closed

[2020-01-14 22:01] MicahMcKittrick-MSFT commented on #32846
@cemeyer What exactly are you trying to accomplish? I can probably help point you in the direct needed.

[2020-01-14 22:02] koolkarni commented on #45812
yes, thanks for the help

[2020-01-14 22:09] NavtejSaini-MSFT commented on #46145
@karthik25 We are checking this and will be getting back to you.

[2020-01-14 22:10] NavtejSaini-MSFT commented on #46143
@ckbargavi We are checking this and will get back to you.

[2020-01-14 22:11] nonstoptimm commented on #46053
Does it work on your site using the code from the documentation as it is?

[2020-01-14 22:11] NavtejSaini-MSFT commented on #46154
@plzm We are checking this and will get back to you.

[2020-01-14 22:12] MarileeTurscak-MSFT commented on #45957
Hi @allenh100 ,

It's unclear whether this is an MSAL issue or a Java issue. Please send your Subscription ID to AzCommunity@microsoft.com and I will open a one-time free support case for you. It's hard to diagnose without seeing your full environment. So sorry that you are facing this!

[2020-01-14 22:13] NavtejSaini-MSFT commented on #46086
@MouraFe @nheinbaugh We are trying to check it on our end but please share if you a reference document where you have seen the values otherwise.

[2020-01-14 22:16] mike-urnun-msft commented on #46138
@bcowdery Thank you for your feedback! We will review and update as appropriate.

[2020-01-14 22:16] TravisCragg-MSFT commented on #46142
@hawkbox Thanks for the feedback. As is stated, this is only possible if you are using a custom DNS server, and not Azure's DNS server. This is typically done using a reverse lookup zone on the DNS server.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-14 22:16] #46142 closed

[2020-01-14 22:17] mike-urnun-msft commented on #46144
@nastassiar Thank you for your feedback! We will review and update as appropriate.

[2020-01-14 22:17] TravisCragg-MSFT commented on #46142
If you would like us to add this feature in the future, please leave your feedback at [Azure Networking's feedback.azure.com page](https://feedback.azure.com/forums/217313-networking)!

[2020-01-14 22:17] NingKuang commented on #30370
Hi, The custom data via IMDS is temporarily offline, due to a product issue. We are working on getting it back.
As a workaround, you can still read the custom data from local files, see this article for the file locations:     https://azure.microsoft.com/en-us/blog/custom-data-and-cloud-init-on-windows-azure/  Thanks.

[2020-01-14 22:17] mike-urnun-msft commented on #46153
@Torxsmind Thank you for your feedback! We will review and update as appropriate.

[2020-01-14 22:20] MarileeTurscak-MSFT commented on #45962
@jvplopper the best practice is to have it Enabled. The caveats, individual configurations, and best practice details are covered in this article. https://docs.microsoft.com/en-us/windows/security/threat-protection/security-policy-settings/password-must-meet-complexity-requirements

[2020-01-14 22:20] #45962 closed

[2020-01-14 22:20] mike-urnun-msft commented on #46159
@joeljanke Thank you for your feedback! We will review and update as appropriate.

[2020-01-14 22:27] TravisCragg-MSFT commented on #46155
@jordanchang This should be possible, and examples are listed in this document.

A routing rule set for "myapp.azurefd.net" with a path of "/", and direct it to the specified backend pool.

Please let me know if you need any additional information .

[2020-01-14 22:27] jeevansd commented on #46162
@chetansriv  and @v-pugoe Please make these changes in the doc. These are all the valid changes.

[2020-01-14 22:30] MarileeTurscak-MSFT commented on #46162
I tried to make a PR but it looks like someone already fixed this. Closing this out.

[2020-01-14 22:30] #46162 closed

[2020-01-14 22:32] cemeyer commented on #32846
I am trying to understand what exactly is communicated between azure-agent and the Wireserver.  The Metadata Service is relatively well documented, but I cannot find any documentation for the Wireserver.  Thank you.

[2020-01-14 22:35] karthik25 commented on #46145
@NavtejSaini-MSFT Thank you! In a nutshell, I was wondering if I can "pause" the replication for a while and "unpause" it.

[2020-01-14 22:36] KranthiPakala-MSFT commented on #46151
@vlado101 Thanks for reaching out. It looks like you are referring to a specific used case scenario and not directly related to document content. This type of queries are best suited in other community forums, hence we request you to please post your question on "_[MSDN - Azure Data Factory](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDataFactory&filter=alltypes&sort=lastpostdes

[2020-01-14 22:39] Karishma-Tiwari-MSFT commented on #46121
Thanks for the question. We are currently investigating and will update you shortly.

[2020-01-14 22:46] MarileeTurscak-MSFT commented on #46073
Hi @DeanCefola ,

Thanks for your feedback! We have reviewed both documents and this is mentioned in each. (It is in the notes on this document.) I re-read them and personally think it is clear as-is, but if you still feel this way you are very welcome to make a pull request yourself by clicking the edit button on the top right corner of the page. That way you will get credited for the change.

[2020-01-14 22:46] MarileeTurscak-MSFT commented on #46073
I'm closing this out but feel free to make a pull request if you'd like!

[2020-01-14 22:46] #46073 closed

[2020-01-14 22:46] RicksterCDN commented on #42037
I would bring in @BorisB2015 to comment on this as he has more knowledge on the RHEL images and recommendations on docs for them.

[2020-01-14 22:47] Adam-Smith-MSFT commented on #46147
Thanks for the feedback, We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-01-14 22:47] #46147 closed

[2020-01-14 22:50] KranthiPakala-MSFT commented on #46149
@JayReally Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2020-01-14 22:52] timpeteren opened #46165 "Invalid (non-resolvable) post_logout_redirect_uri"
Hi.
Just tried to access the good old aadb2cplayground.azurewebsites.net and to my surprise it no longer resolves in public DNS. Perhaps this is temporary? But if not, then I would suggest replacing the example in "Send a sign-out request" section:

GET https://{tenant}.b2clogin.com/{tenant}.onmicrosoft.com/{policy}/oauth2/v2.0/logout?post_logout_redirect_uri=https%3A%2F%2Faadb2cplayground.azurewe

[2020-01-14 22:57] alathrop commented on #45816
Thanks - very helpful!

[2020-01-14 23:00] Karishma-Tiwari-MSFT commented on #46122
Thanks for the question. We are currently investigating and will update you shortly.

[2020-01-14 23:05] kgremban commented on #45535
Here's a pass at rewriting the sample. Instead of changing the return function to pass a success/fail flag, I return None within the 'except' clause, and then in main() check whether the variable 'classification' has a message and only invokes 'send_to_hub' if it does.

Shortened code highlighting just the changed bits:
[code]

And here's the output when cameraCapture started 2 minutes before clas

[2020-01-14 23:09] Jeff-Schafer-Azure opened #46167 "Need to clarify that "All resources" is in the sub=menu"
1. Go to https://docs.microsoft.com/en-us/azure/iot-dps/quick-setup-auto-provision & follow the steps.
2. Step 1 under "Link the IoT hub and your Device Provisioning Service" says "Select the All resources button from the left-hand menu of the Azure portal.".
3. Look for the "All resources" button on your Device Provisioning Service page.

Actual:
"All resources" is *not* in the left pane menu.

I

[2020-01-14 23:14] Yonet commented on #40037
This is an issue all around the document, see images below as well as the related issues.
Can we have the design team look into changing all of the problem images?

Related issues:

1. Closed without getting fixed [#20154](https://github.com/MicrosoftDocs/azure-docs/issues/20154)
2. [#42979](https://github.com/MicrosoftDocs/azure-docs/issues/42970)

![Screenshot (166)](https://user-images.githubus

[2020-01-14 23:20] femsulu commented on #46156
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-01-14 23:22] femsulu commented on #46150
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-01-14 23:26] Grace-MacJones-MSFT commented on #46152
Hi @jeffreywcarter, Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-01-14 23:26] Karishma-Tiwari-MSFT commented on #46123
The maximum size allowed for the VHD is 1,023 GB.

What this 'All VHDs on Azure must have a virtual size aligned to 1MB' implies is, you must have raw disk size in multiples of MB and not in fractions/decimal otherwise you may see issues converting from raw disk to VHD.

[2020-01-14 23:29] femsulu commented on #46160
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-01-14 23:30] femsulu commented on #46160
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-01-14 23:32] MarileeTurscak-MSFT commented on #46114
@athempel
Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-14 23:33] cycwll commented on #39343
I configured HTTPS_PROXY at JVM level on  **master** node to meet this request.

[2020-01-14 23:33] MarileeTurscak-MSFT commented on #46115
@cananac
Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-14 23:34] btardif commented on #40655
We are currently evaluating a re-design to this UX, @marckassay we will take your input for this. I agree with you that this could be much better.

@RyanHill-MSFT please feel free to assign his to me.

[2020-01-14 23:35] MarileeTurscak-MSFT commented on #46139
@alvipeo
Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-14 23:35] femsulu commented on #46157
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-01-14 23:38] MarileeTurscak-MSFT commented on #46077
@CeciAc these should only be available if requested, and only for JWT tokens. Do you know what the customer is trying to do? Do you think we need to revise the documentation?

Not knowing much about what the customer is attempting it seems less likely to be a documentation issue.

[2020-01-14 23:40] Mike-Ubezzi-MSFT commented on #18387
@ferronsw Can you open a new issue for this, as this specific GitHub item was created over a year ago. Thank you!

[2020-01-14 23:42] IronmanM commented on #45578
Got the Solution :
https://docs.microsoft.com/en-us/azure/databricks/administration-guide/account-settings/account

[2020-01-14 23:42] #45578 closed

[2020-01-14 23:46] JnHs commented on #45347
Hi @haoxin - I'm going to close this issue out as I haven't heard more, but if you have further comments or questions related to the docs please let us know. #please-close

[2020-01-14 23:46] #45347 closed

[2020-01-14 23:46] ylashin commented on #45535
Looks good, please ship it.

[2020-01-14 23:52] jpatrickf opened #46169 "Sign-In error code missing: 130500"
Sign-in status 'Failure' with error code 130500.  Failure reason shown as 'Other'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa732de6-2cab-d780-aa21-dfec80e0a8fe
* Version Independent ID: 1a11b9b6-cf4f-3581-0864-0d5046943b6e
* Content: [Error codes in the Azure Active Directory portal](https://docs.microsoft.com/e

[2020-01-14 23:59] Karishma-Tiwari-MSFT commented on #46163
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-01-15 00:03] Karishma-Tiwari-MSFT commented on #46137
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-01-15 00:06] Karishma-Tiwari-MSFT commented on #46134
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-01-15 00:07] Karishma-Tiwari-MSFT commented on #45880
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-01-15 00:07] #45880 closed

[2020-01-15 00:08] MartinJaffer-MSFT commented on #46149
@JayReally Thank you for bringing this to our attention.  I will create a PR for this correction.

[2020-01-15 00:08] richardspitz opened #46170 "Addition to the "Checking the response" section"
Alternatively, if the authorization server does not include the "active" field to indicate that the token is valid or not, determine what properties are set in a valid token using a tool like Postman. For example, if a valid token response contains a property called "expires_in", check if this property name exists or not in the authorization server response:

&lt;when condition="@(((IResponse)cont

[2020-01-15 00:09] nibaccam commented on #45700
Hi @akshaya-a can you please respond to the customer here please?

[2020-01-15 00:16] MaggiePucciEvans commented on #45921
Hello. @cybertron2600 - Yes, you're correct. The content that was at /azure/cloud-solution-provider/... is no longer there. We've retired this content in favor of covering the same information in the Partner Center help and how-to content (hence the redirection to the PC help landing page). I believe the content you need can be found at [https://docs.microsoft.com/partner-center/azure-plan-transit

[2020-01-15 00:16] cat-mucius opened #46171 "Importing certificate to HSM?"
Is it possible to import a certificate with private key from a PFX file to HSM?
I didn't find any way to do it - either via WebUI or via PowerShell.

The aim is to be able to use a certificate with HSM-protected private key with Azure webapps or Azure Application Gateway.

I know it's possible either:
1. Import a key from PFX into HSM - but it's just the key, but not a certificate. It can't be use

[2020-01-15 00:20] TomArcherMsft commented on #45643
@Sanses Could you please elaborate on the doc issue. I'm not sure from your post what you're asking or reporting.

[2020-01-15 00:29] skyizthelimit commented on #45917
Let me share few more details before i reply to your questions

following is what i'm doing to generate a key pair using tpm

$InfContent = @"
[NewRequest]
Subject = "CN=$device_id,O=****,L=****,ST=**,C=US"
Keylength = 2048
KeyAlgorithm = RSA
Exportable = FALSE
UserProtected = FALSE
MachineKeySet = FALSE
ProviderName = "Microsoft Platform Crypto Provider"
ProviderType = 0
FriendlyName = "Testtttt"

[2020-01-15 01:01] TomArcherMsft commented on #42443
@bradleyruff, et al.: I'm looking into this now.

[2020-01-15 01:02] hawkbox commented on #46142
That is literally what I am trying to do. Did you even read what I wrote? I don't give a damn about Azure DNS, reverse lookup for our internal ADDNS doesn't work properly and never has because Azure DHCP can't get it's act together. I literally have to run scripts to manually add in ptr records because Microsoft can't grasp the concept that people might need internal DNS.

[2020-01-15 01:08] stevensnicole commented on #45823
Hello, many thanks for your reply.

yes it's definitely working for 'WEBAPP_STORAGE_HOME', but should variable substitution also work in the docker-compose.yml for variables created by the user?

[2020-01-15 01:24] YutongTie-MSFT commented on #46058
@TheHunter896 Hi David, I am only aware of the change of the Azure SDK .NET class. From the API reference and product page, it still shows as News Search.

https://dev.cognitive.microsoft.com/docs/services/e5e22123c5d24f1081f63af1548defa1/operations/56b449fbcf5ff81038d15cdf

https://azure.microsoft.com/en-us/services/cognitive-services/bing-news-search-api/

https://docs.microsoft.com/en-us/dotnet

[2020-01-15 02:04] FrankHu-MSFT commented on #46047
hello @Skorfulose currently it should be assumed that you need to add the registry key for spnego.

If you are interested in a more official hard versioning of which versions of windows have it enabled and which don't please submit this as feedback here https://feedback.azure.com/forums/169401-azure-active-directoryand if there's enough community support the product team will look into getting thi

[2020-01-15 02:05] rboucher commented on #45763
@fujitani-hiromu-fixer I'm not sure why these are listed twice. The automated process pull them from the REST API. I'll have to see if they are listed in the API twice too. The Japanese documentation is taken from this article so not surprising that it's in both places. IF we correct it here, it'll flow downstream.

[2020-01-15 02:10] FrankHu-MSFT commented on #46080
hello @abraunegg unfortunately if there is no support for control over the content-type use by github pages, there is no workaround. My suggestion would be to file a support ticket against github pages which can be found here : https://support.github.com/contact

And see if they can help with you in regards to this. Otherwise, this SSO feature will not be supported.

That being said, as this issue

[2020-01-15 02:12] FrankHu-MSFT commented on #46114
hey @athempel what sort of permissions do you have? This kind of question is more suited for the Q&A forums or support as there are many issues that could be occurring here. My suggestion is to more thoroughly read through the authentication basics here : https://docs.microsoft.com/en-us/azure/active-directory/develop/authentication-scenarios

As it sounds like your implementation is incorrect, or

[2020-01-15 02:12] #46114 closed

[2020-01-15 02:13] abraunegg commented on #46080
Why cant your auth process be modified to accept the content type that Github presents? It does not make sense for Githib to make modifications here ... plus your both Microsoft organisations ... cant you talk to one another internally to resolve??

[2020-01-15 02:18] FrankHu-MSFT commented on #46115
Hey @cananac I'm not sure i understand the question.
Per the docs : https://docs.microsoft.com/en-us/azure/security/fundamentals/encryption-overview#client-side-encryption

Client side encryption means that the user utilizing Azure will be encrypting the data. Not Azure, Azure does not encrypt nor decrypt the data, Azure simply holds onto the data

Please clarify your ask for us to engage further.

[2020-01-15 02:19] FrankHu-MSFT commented on #46080
@abraunegg  this is not the right path for support escalation on this issue, the github azure docs repo is meant for issues with the docs. For further engagement please file a support ticket against Github.

[2020-01-15 02:29] KrishnaG-MSFT commented on #46148
@xsqian Thanks for your feedback! We will review and provide an update as appropriate.

[2020-01-15 02:50] jeevansd commented on #46074
@Saynac Thanks for the feedback here. We can update the App Gallery app to set this certificate signing option automatically for our customers. Also we can add these default claims to your app so that customers can get it automatically.

@chetansriv and @v-pugoe Please get these changes done in the package. Also retest the app as needed.

[2020-01-15 02:57] kevinlam1 commented on #45834
We should be. Adding @cbrooksmsft from Storage who can verify that this doc should be updated to add Logic Apps to the list.

[2020-01-15 03:18] mike-urnun-msft commented on #45718
Hi @SychevIgor - Please note that there's usually a 10-15min delay until the data is fully available in Azure Monitor. I have gone over the steps of this documentation and validated that everything is working as instructed:

**Logic Apps Management** view:
![image](https://user-images.githubusercontent.com/36717703/72401787-f39eff80-3701-11ea-82e8-dd732d1c6587.png)

**Logs page** view:
![image](ht

[2020-01-15 03:18] #45718 closed

[2020-01-15 03:18] SaurabhSharma-MSFT commented on #46171
@cat-mucius Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-15 03:20] SaurabhSharma-MSFT commented on #46169
@jpatrickf Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-01-15 03:20] azure2439 opened #46174 "Seeing different IP addresses for Integration Runtime from North Central US"
We are getting a 40.80.186.16 IP address value when using an Integration Runtime from the North Central US but the range mentioned on this Microsoft document is 40.80.185.0/25 and 40.80.185.128/26. Please verify and provide the correct range.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33fc045d-cec5-9c08-0eee-8af574

[2020-01-15 03:22] SaurabhSharma-MSFT commented on #46165
@timpeteren Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-15 03:48] kazshi commented on #45690
@KalyanChanumolu-MSFT  @anosov1960  Please update the content accordingly to clarify. Thanks.

[2020-01-15 03:49] ntachandley opened #46175 "DASv4 does not have 8GB Cache"
That should read 8MB Cache per CPU core, though that isn't what's for sale either. These are hyper-threaded CPUs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9bb1d37c-6337-0906-42ff-b5dbc6afdc8b
* Version Independent ID: 72a96e16-1d2d-4c01-45be-3caf82470592
* Content: [Azure Windows VM sizes - General purpose - Azur

[2020-01-15 03:55] YutongTie-MSFT commented on #46064
@smf723 I have created a PR for this issue, it should be live soon. Thanks. I will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-01-15 03:55] #46064 closed

[2020-01-15 04:17] cybertron2600 commented on #45921
Hi Maggie, I'm sorry, but I'm super confused why you guys are doing this. The information is completely different and has nothing to do with the same details. There is no information on how to migrate a customer FROM EA/PAYG/Etc., over TO a CSP account. I think you guys made a large mistake "retiring" that documentation. The information is not the same in the new portal.

[2020-01-15 04:35] mike-urnun-msft commented on #46097
@v-hakob Nice catch! Thanks for helping us drive improvements towards MS Docs! I've created a PR that removes the `(Preview)` mention and the change should be live within the next 24hrs.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-01-15 04:35] #46097 closed

[2020-01-15 05:12] Jigar191089 opened #46177 "Detailed explanation of the screenshots attached in each window above"
A detailed explanation of the screenshots attached as example for each window above would help a lot in understanding

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63c64692-7533-cc84-251d-1994aab6a8fb
* Version Independent ID: 10d6faea-cf4a-1e28-2dd6-76146128e1ce
* Content: [Introduction to Azure Stream Analytics wind

[2020-01-15 05:50] Willem-J-an opened #46179 "What are the aggregate functions?"
The docs state that : "Each aggregation expression must contain at least one aggregate function." However, it is not commented which expression functions are valid as aggregate functions, neither here, nor at the expression functions page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 732a3fdd-541d-4c88-4c54-121ebd6f4

[2020-01-15 06:25] mike-urnun-msft commented on #46088
Thanks for providing additional info, @jwill20! With VS Code open, instead of attempting to directly open the "*.azureFunctions" artifact file (or the project folder that has your Functions app, which I'm not sure how you're able to do), you'll want to make sure your project is already open by going to `File-> Open Folder` to select your Functions project folder. With your project open in VS Code,

[2020-01-15 06:25] #46088 closed

[2020-01-15 06:39] DixitArora-MSFT commented on #46170
Hi @richardspitz Thanks for your feedback. We will review and update as appropriate.

[2020-01-15 06:39] APEThomas opened #46181 "Typo"
"WIndows", should be "Windows"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72cdc251-618a-e84e-f40d-960b0ac69f99
* Version Independent ID: 8cbaba3c-e883-2c71-28fb-f88db3fcaf7d
* Content: [Plan hybrid Azure Active Directory join - Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/devices/

[2020-01-15 06:39] adityaduttmathur commented on #40048
Facing the same issue while adding migrations, using Windows and .Net Framework 2.2

PM> dotnet ef migrations add CreateDatabase
dotnet : Could not execute because the specified command or file was not found.
At line:1 char:1
+ dotnet ef migrations add CreateDatabase
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (Could not execu... was not found.:String) [],

[2020-01-15 06:42] DixitArora-MSFT commented on #45995
@wwinogrodzki Internal work item has been created and thanks for sharing the feedback. Thanks so much for providing the feedback that help us in improving the documentation. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.