[2018-03-19 09:18] Mike-EEE opened #5955 "Access Rights?"
Learning about Azure Functions here, and I am a little confused on "Access rights", in particular the "Function" and what that means.  It is not explained here, at least not what I see.

Also, the "Get started with Azure Functions" link takes you to here:
https://docs.microsoft.com/en-us/visualstudio/?AzureFunctions

Where there is no mention of Azure Functions.  Additionally, typing in "Azure Fun

[2018-03-19 09:27] bastyuchenko commented on #5804
@Mike-Ubezzi-MSFT I'm just studying the service bus documentation and I have studied just the half of the documention and haven't met an explanation how to use 'message session'. I'm going to return to this question later when I study the whole documentation.

[2018-03-19 09:53] rayne-wiselman commented on #5757
Fixed at https://docs.microsoft.com/en-us/azure/site-recovery/hyper-v-prepare-on-premises-tutorial
Presumably we can close?
#close

[2018-03-19 09:57] rayne-wiselman commented on #5738
We should close this. No action required

#close

[2018-03-19 10:03] th389 commented on #5278
It is not needed for pip, only conda (pip has no -n option)

`sudo /anaconda/bin/pip install <package> #pip for Python 2.7
sudo /anaconda/envs/py35/bin/pip install <package> #pip for Python 3.5
sudo /anaconda/bin/conda install [-n py27] <package> #conda for Python 2.7, default behaviour
sudo /anaconda/bin/conda install -n py35 <package> #conda for Python 3.5'

[2018-03-19 10:08] guillaumemeyer opened #5957 "AZ CLI command line error in samples"
The webapp creation command cannot work as is as it uses a "|" to define nodejs version.
Please provide a PS example that escapes characters using --%:
az --% webapp create --resource-group myResourceGroup --plan myAppServicePlan --name <app_name> --runtime "NODE|6.9"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b01

[2018-03-19 10:09] guillaumemeyer commented on #5565
Use "--%" to escape the "|" in --runtime parameter

[2018-03-19 10:27] pvrk commented on #5819
Exactly, label the current commands as CLI 1.0 (since not everyone can get the difference) and provide CLI 2.0 commands as well.

[2018-03-19 11:48] JozoSlejko opened #5958 "App Service Certificates"
App Service Certificates can be moved across subscriptions, limitation is that all web sites that have the imported certificate need to be moved first.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76c1c185-685f-27e0-e634-844b510b1834
* Version Independent ID: 09375778-5354-ab44-c5c6-94c2aebe34bc
* Content: [Move Azur

[2018-03-19 12:31] artemt1 commented on #5937
I need only to Stop the machines at a specific time, so they could be started manually when needed. Is it possible to do Stop-only using this script?

[2018-03-19 12:44] digitus0 opened #5959 "Set vault context"
Hi
I've tried to set the vault context using  Get-AzureRmRecoveryServicesVault -Name "RecoveryVault" |Set-AzureRmRecoveryServicesVaultContext, and albeit the command looks OK, any subsequent commands to list the Backup Policy all fails stating that I need to set a default context first...

Jan

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2018-03-19 13:06] JasonBSteele commented on #5256
Hi @ChristianWolf42, I'm not sure I understand your response.

The section headings are "Create Event Grid subscriptions for Service Bus namespaces" and "Azure portal instructions" so you would assume that you would be given the instructions on how to set up an EG subscription for a Service Bus using the Portal, but this isn't the case.

[2018-03-19 13:41] Clink92 opened #5961 "System.TypeLoadException when running the Chaos example"
I'm trying to run the C# example for Chaos. I've created a console application and copy pasted over the code. Had to add using System.Linq and System.Fabric.Health along with the Microsoft.ServiceFabric NuGet (v6.1.472) to make it compile. I try to run the application (I made sure to target x64) but it goes into break mode before any code is executed. The output log reads:

An unhandled exception

[2018-03-19 13:44] MohitGargMSFT commented on #5726
@jakedenyer-s24 No. I can try that, however, can you please confirm that it works fine for any other version but fails for ASP.NET Core 2.1 app.

[2018-03-19 13:53] MohitGargMSFT commented on #5724
@swkrish Please investigate and update accordingly. Below is the section which @ivratche is referring here -

[https://docs.microsoft.com/en-us/azure/active-directory/connect/active-directory-aadconnect-sso-quick-start#safari-mac-os](url)

@ivratche I am assigning this issue to author to investigate and update as appropriate.

[2018-03-19 13:59] smoms commented on #5396
New-CADevice  "deviceName" hangs for ever...

[2018-03-19 14:00] Mike-EEE opened #5963 "Asynchronous Functions"
Would it be possible to get more context/description on why you would make a function asynchronous?  Is the implication that you can only have one active session/execution of a function that is not asynchronous at time?  That is, if you have 10 requests made to a function at once, those 10 requests are handled in sequential order one by one until it's finished.  So if the trigger takes 1 second to

[2018-03-19 14:19] grzjab opened #5965 "Incorrect link"
Linkt to the vehicle telematics simulator webpage does not work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a5d5aa8-4dc5-bf3c-01f0-5a2ba3cf8dac
* Version Independent ID: 5204144c-280c-6cf8-f7f0-4c16177e45b3
* Content: [Deep dive into how to predict vehicle health and driving habits - Azure](https://docs.microsoft.

[2018-03-19 14:20] mganeshphani opened #5966 "Logic App - Excel Connector failing to delete an existing row randomly"
I am iterating on list of planner tasks and dumping them into excel.. before dumping I am checking if the row already exists or not based on Id, while the row is existing, delete task is randomly failing.. not able to understand why

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ce6a036-ff3c-6151-a20d-3d1ad772b828
* V

[2018-03-19 14:21] mganeshphani commented on #5966
I am not able to find a way to submit bug on Excel connector.. hence logging it here(in documentation), please help me re-route (if needed)...

[2018-03-19 14:48] amanarneja commented on #5949
@qizhiyu While you are right, this is for document feedback. Just wanted to check if you found out where to post the issue. If you haven't the following are the options :
1.) Microsoft Forum : https://social.msdn.microsoft.com/Forums/en-US/home?forum=azurelogicapps
2.) Stack Overflow : https://stackoverflow.com/questions/tagged/azure-logic-apps
3.) Azure Support : https://aka.ms/azsupt

[2018-03-19 15:02] whytoe opened #5968 "OMS Agent vs Diagnostics Agent"
There is no clear articles that I could find showing the difference between the Azure Diagnostics Agent and the OMS agent.
Is there any articles that can compare the two extensions on capabilities and differences?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cfb49644-fb30-6357-708b-d2007fcab408
* Version Independent

[2018-03-19 15:18] Mike-Ubezzi-MSFT commented on #5804
@sethmanheim This scenario may warrant adding content around message sessions, as there is no clear explanation as to implementing  this functionality from this page.

[2018-03-19 15:18] HammerOfThor88 opened #5969 "Update URL for Domo Support"
Hi there :)

I work for Domo in their technical support department, and I wanted to let you know of our process for enabling SSO with  Microsoft Azure. Step 9 of section "Configuring Azure AD single sign-on" currently reads:

To configure single sign-on on Domo side, you need to send the downloaded Certificate, SAML Entity ID, the SAML Single Sign-On Service URL and the Sign-Out URL to Domo suppor

[2018-03-19 15:21] Mike-Ubezzi-MSFT commented on #5866
@cherylmc In trying to reproduce this I am not seeing this either. I think the documentation needs to be updated.

[2018-03-19 15:21] jamesbascle commented on #5102
Is there any information on the schema of activity.json, datasets.json, and linkedServices.json?  Do we just have to try and fail repeatedly to work out what is in the files?

[2018-03-19 15:22] jamesbascle opened #5970 "File Schema"
Is there any information on the schema of activity.json, datasets.json, and linkedServices.json? Do we just have to try and fail repeatedly to work out what is in the files?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a73a1ff2-94e8-a570-ff7b-7a57acca06e6
* Version Independent ID: 9ec244a7-d939-3918-fc87-34ab1eec5293

[2018-03-19 15:27] cephalin commented on #5891
Tracking internally at https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1212376.

[2018-03-19 15:27] Mike-Ubezzi-MSFT commented on #5868
@PatAltimore The user is looking for details on configuring simple user names but is unable to find that content.

[2018-03-19 15:28] #5877 closed

[2018-03-19 15:28] smoms opened #5971 "sending messages to IoT crashes"
deviceClient.SendEventAsync(eventMessage); does not work:

xception Message:    at Microsoft.Azure.Devices.Client.DeviceClient.<>c.<ApplyTimeout>b__74_2(Task t)
   at System.Threading.Tasks.ContinuationTaskFromTask.InnerInvoke()
   at System.Threading.Tasks.Task.Execute()
--- End of stack trace from previous location where exception was thrown ---
   at System.Runtime.CompilerServices.TaskAwaiter.

[2018-03-19 15:32] Mike-Ubezzi-MSFT commented on #5924
@reddy6ue If you should have any further issues, please do not hesitate to reach out with specifics. Thank you.

[2018-03-19 15:32] #5924 closed

[2018-03-19 15:35] Mike-Ubezzi-MSFT commented on #5927
@cherylmc Here is another VPN content edit due to changes in the Azure Portal workflow.

[2018-03-19 15:36] jlsfernandez commented on #5082
Hello

any news about this?

[2018-03-19 15:44] lastcoolnameleft opened #5972 "Errors encountered when walking through documentation"
When I ran spark-submit, I got the following error:
./bin/spark-submit --master k8s://https://xxx.hcp.eastus.azmk8s.io:443 --deploy-mode cluster --name spark-pi --class org.apache.spark.examples.SparkPi --conf spark.executor.instances=3 --conf spark.kubernetes.container.image=yyy.azurecr.io/spark:v1 $jarUrl
...
javax.net.ssl.SSLHandshakeException: sun.security.validator.ValidatorException: PKIX pa

[2018-03-19 15:48] whytoe opened #5973 "Forbidden Webpage"
At the top of the page, first Hyperlink points to https://review.docs.microsoft.com/azure/network-watcher/
The HTTP Hyperlink is supposed to get to Network Watcher documentation but shows a 403 Error Message.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a978edf8-ac89-357a-eb6c-677579a3fb92
* Version Independent ID: 3

[2018-03-19 15:55] neilpeterson commented on #5855
@wlodekb - sorry, I do not know the answer to this. I would start with the NGINX Ingress documentation.

https://github.com/kubernetes/ingress-nginx

[2018-03-19 15:56] mtillman commented on #5944
@MicrosoftDocs/azure-cxp-triage please assign this to @davidmu1 to be fixed.

[2018-03-19 15:59] Mike-Ubezzi-MSFT commented on #5938
@bastyuchenko At the very bottom of the page you are referring to with this issue, there is a [link](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-paired-namespaces#next-steps) to content discussing disaster recovery in a little more detail; specifically paired namespace.

According to the content, paired namespace is to be used for high availability within a single data

[2018-03-19 16:07] jeevansd commented on #5953
@gdd1984 Thanks for reporting it. We are working on it. You should see the changes soon in the article.

[2018-03-19 16:08] jeevansd commented on #5953
@amanarneja Can you set the status as In Progress

[2018-03-19 16:09] KevP opened #5974 "All good until the very last screenshot..."
The 'Add permissions' dialogue (as of 19th March 2018) asks for 'Role', 'Assign access to' and then 'Select'. None of the 'Assign access to' options list any apps. Only users and virtual machines...???

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11aaa091-1108-52f6-0066-0f4e939aeef4
* Version Independent ID: dbc7e37e

[2018-03-19 16:14] #5757 closed

[2018-03-19 16:19] davidmu1 commented on #5944
#in-process

[2018-03-19 16:19] douglaslMS commented on #5426
#in-process

[2018-03-19 16:27] douglaslMS commented on #5102
@jamesbascle This GitHub issue about a typo on a specific Data Factory page is now closed. If you'd like to open a new issue for your question, please go ahead. Or, consider posting in the public ADF forum https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=AzureDataFactory where you'll reach a large body of users and subject matter experts.

[2018-03-19 16:28] georgewallace commented on #5937
@SharmainePopov , I have tested the latest release of the solution and it is able to work with multiple Resource Groups effectively.  It is possible you have an old version of the solution, have you tried removing and re-adding the solution. The following link is the bookmark for the section that shows how to remove the solution. https://docs.microsoft.com/en-us/azure/automation/automation-solutio

[2018-03-19 16:33] SharmainePopov commented on #5937
I will try this. If I still have the issue I will send screen shots and more detail

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: George Wallace <notifications@github.com>
Sent: Monday, March 19, 2018 12:28:20 PM
To: MicrosoftDocs/azure-docs
Cc: Sharmaine Popov; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Start-Stop VMs not processing rg list properly

[2018-03-19 16:38] MicahMcKittrick-MSFT commented on #5931
@rahulkb007 thanks for reaching out. I am having difficulties reproducing the error you are getting.

@rloutlaw can you take a look and confirm the doc has all the correct steps?

[2018-03-19 16:40] PatAltimore commented on #5868
@Mike-Ubezzi-MSFT Can you assign to @davidmu1?  David works on B2C now.  @davidmu1  Can you verify the author metadata on B2C articles?  Thanks!  FAQ might need to be saeeda.

[2018-03-19 16:45] rloutlaw commented on #5931
@rahulkb007  Can you verify that there were no errors or warnings in the 'mvn clean package' step? I believe that this error is at the functions host but before I pass it along to the Functions team for review I need to verify that everything build cleanly.

[2018-03-19 16:58] tfitzmac commented on #5974
@KevP - did you try searching for the app by name? I can clarify the text for that step, but I just want to make sure that the issue is related to the app names being displayed only after searching.

[2018-03-19 17:01] CarlRabeler commented on #5558
#please-close

[2018-03-19 17:03] Adam-Smith-MSFT commented on #5946
@dgorti Thank you for the valuable feedback,we are investigating the issue.

[2018-03-19 17:04] Adam-Smith-MSFT commented on #5947
@dcbrown16 Thank you for the valuable feedback,we are investigating the issue.

[2018-03-19 17:05] #5558 closed

[2018-03-19 17:05] JimacoMS2 commented on #5929
@amanarneja Thanks for the feedback -- much appreciated!

[2018-03-19 17:05] Adam-Smith-MSFT commented on #5950
@andrew-best-diaxion Thank you for the valuable feedback,we are investigating the issue.

[2018-03-19 17:06] myusrn opened #5976 "input, output, submit job and job configuration dialogs producing error"
When following this walkthrough i'm finding that when I try and configure input/output using "choose data source from current account" setting vs "provide data source settings manually" setting it generates the error:

        "Loading this assembly would produce a different grant set from other instances. (Exception from HRESULT: 0x80131401)"

I get the same error surfacing in the "submit job" an

[2018-03-19 17:07] Adam-Smith-MSFT commented on #5952
@NeilBird Thank you for the valuable feedback,we are investigating the issue.

[2018-03-19 17:10] julielerman opened #5977 "Add examples of calling the functions?"
Might be helpful to round this out by showing the http calls to the functions in the examples

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cad004df-f275-bc43-5de9-2a7eed9260d8
* Version Independent ID: 84a11ee5-3e98-3c28-ab41-3b776598894c
* Content: [Azure Cosmos DB bindings for Functions](https://docs.microsoft.com/

[2018-03-19 17:12] MohitGargMSFT commented on #5082
@swkrish Can you please check and update on it soon?

@jlsfernandez Apologies for delay in response here. I will try to reach out to author offline as well to get an update. Thanks for your patience.

[2018-03-19 17:14] Adam-Smith-MSFT commented on #5954
@ANTIGRAVITRY since the comment did not contain any details, we'll lock and close the case. Feel free to ask a detailed question if you need any help.

[2018-03-19 17:14] #5954 closed

[2018-03-19 17:16] Adam-Smith-MSFT commented on #5955
@Mike-EEE Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-03-19 17:17] Adam-Smith-MSFT commented on #5957
@guillaumemeyer Thank you for the valuable feedback,we are investigating the issue.

[2018-03-19 17:18] davidmu1 commented on #5919
@MicahMcKittrick-MSFT: Please assign to @iainfoulds who is now supporting this article.

[2018-03-19 17:19] Adam-Smith-MSFT commented on #5958
@JozoSlejko Thank you for the valuable feedback,we are investigating the issue.

[2018-03-19 17:20] Mike-EEE commented on #5955
Cool, thanks @Adam-Smith-MSFT.  FWIW I realize that the "Get started with Azure Functions" link issue and the subsequent search issue is not documentation-specific, but I was hoping to take advantage of all the new GitHub magic to perhaps link in MSFT resources who might be able to look into it. 😄

[2018-03-19 17:20] Adam-Smith-MSFT commented on #5959
@digitus0 Thank you for the valuable feedback,we are investigating the issue.

[2018-03-19 17:21] amanarneja commented on #5953
@jeevansd Thanks for jumping in! Assigned to you and added #in-process :)

[2018-03-19 17:24] Adam-Smith-MSFT commented on #5963
@Mike-EEE Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-03-19 17:24] Adam-Smith-MSFT commented on #5965
@grzjab Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-03-19 17:26] Adam-Smith-MSFT commented on #5966
@mganeshphani Thank you for the valuable feedback,we are investigating the issue.

[2018-03-19 17:27] douglaslMS commented on #5426
@JoNevi I am adding the information that I received to the page [Programmatically monitor an Azure data factory](https://docs.microsoft.com/azure/data-factory/monitor-programmatically). The updated page will be published later today. Thank you for helping us get this info into the docs.

[2018-03-19 17:27] douglaslMS commented on #5426
#please-close

[2018-03-19 17:29] #5426 closed

[2018-03-19 17:31] Adam-Smith-MSFT commented on #5968
@whytoe Thank you for the valuable feedback,we are investigating the issue.

[2018-03-19 17:31] rojasja commented on #5082
Hello @WhippsP,

I am from the Azure AD B2C team and can take a close look at this.  Are you saying that if we use Azure Storage explorer, the CORS tool will not be necessary?

If so... excellent.

Can you point me to the documentation for this... How would a b2c user upload the HTML, configure coors, and then enable the storage to be available publicly?

https://azure.microsoft.com/en-gb/features

[2018-03-19 17:33] Adam-Smith-MSFT commented on #5969
@HammerOfThor88 Thank you for the valuable feedback,we are investigating the issue.

[2018-03-19 17:34] Adam-Smith-MSFT commented on #5970
@jamesbascle Thank you for the valuable feedback,we are investigating the issue.

[2018-03-19 17:36] Adam-Smith-MSFT commented on #5971
@smoms Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-03-19 17:38] Adam-Smith-MSFT commented on #5972
@lastcoolnameleft Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-03-19 17:39] HarvestingClouds commented on #5892
I checked the environment again and the issue doesn't seem to exist anymore. I can trigger the Runbooks and can also see the data from the scheduled execution of the Runbooks over the weekend. I am not sure what was causing the issue before, but it seems to be working now. Closing the issue. Appreciate @georgewallace for your promptness and for looking into this.

[2018-03-19 17:39] #5892 closed

[2018-03-19 17:40] maburlik commented on #5902
See https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-fabric-settings

      {
        "name": "Diagnostics",
        "parameters": [
          {
            "name": "MaxDiskQuotaInMB",
            "value": "65536"
          }
        ]
      }

[2018-03-19 17:42] davidmu1 commented on #5868
#in-process

[2018-03-19 17:43] Adam-Smith-MSFT commented on #5973
@whytoe Thank you for the valuable feedback,we are investigating the issue.

[2018-03-19 17:43] HarvestingClouds commented on #5890
This seems to be working with the steps mentioned in the document. The automation account is in different subscription than OMS Log Analytics workspace. But they both belong to the same Tenant. The job data got sent to the Log Analytics workspace just fine without any authentication information (i.e. key and workspace ID).

I am still not sure if it is the same tenant or the underlying Azure infra

[2018-03-19 17:43] #5890 closed

[2018-03-19 17:44] MicahMcKittrick-MSFT commented on #5950
@andrew-best-diaxion are you referring to the fourth bullet under General Purpose?

The basic tier sizes are primarily for development workloads and other applications that don't require load balancing, auto-scaling, or memory-intensive virtual machines. For information about VM sizes that are more appropriate for production applications, see (Sizes for virtual machines)[virtual-machines-size-spec

[2018-03-19 17:46] MicahMcKittrick-MSFT commented on #5961
@Clink92 Thanks for the feedback! I have assigned the issue to the content author to investigate further and provide an update.

@motanv can you please take a look?

[2018-03-19 17:47] HammerOfThor88 commented on #5969
Sounds good. Let me know if you have any questions.

[2018-03-19 17:52] jeevansd commented on #5969
@HammerOfThor88 So you are saying that it is not support based process? If not then what is the correct process? I cant see the article link you mentioned it is asking us to login at Domo. So I am not sure on the ask.

[2018-03-19 17:55] xela30 commented on #5902
@MicahMcKittrick-MSFT Yes, that folder is taking up disc space fairly quickly. Especially the QueryTraces sub-folder.
That would be nice to store traces in rolling manner so that older ones get overwritten by newer.

[2018-03-19 17:55] cherylmc commented on #5927
Thanks! I'll take a look!

[2018-03-19 17:56] HammerOfThor88 commented on #5969
Hi @jeevanbisht It is not up to support to build it out, rather we ask our customers to do the legwork, and then if they run into issues to reach out to us for assistance.

The article linked does require a Domo domain to log in and see the article.

[2018-03-19 17:56] larrywa opened #5981 "Are there any updates to this document?"
This information appears to be somewhat dated. Are there any updates to the procedures and process?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7acd6be9-dfb2-9569-ff34-cad061c47cb4
* Version Independent ID: 6e0fcc47-fd74-45b2-f8be-d61fb270f186
* Content: [How to containerize your Azure Service Fabric microservices (

[2018-03-19 17:56] cherylmc commented on #5866
I'll give it a look. Thanks!

[2018-03-19 17:56] MicahMcKittrick-MSFT commented on #5946
If you follow the link shown in the article under [Key-Concepts](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-tutorial-create-vnet-and-windows-cluster#key-concepts) you can read more about what are considered [System Services](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-technical-overview#system-services).

For example, DNS is consider a primary sys

[2018-03-19 17:56] #5946 closed

[2018-03-19 17:58] jeevansd commented on #5969
My id is jeevansd.
If it is self supported by customers then can you please update the article directly and we can review it. Feel free to create your own branch and then raise the PR with the changes. We can review it and then push it to  the public.

[2018-03-19 17:58] jeevansd commented on #5969
@HammerOfThor88 Please see my comments above.

[2018-03-19 17:59] xela30 commented on #5902
@maburlik Unfortunately, it doesn't work for my on-premise cluster.
I assume this setting is supported for Azure hosted version only as of today.

[2018-03-19 18:02] MicahMcKittrick-MSFT commented on #5902
@xela30 thanks for clarifying for me.

@ChackDan can you please take a look into this?

[2018-03-19 18:04] HammerOfThor88 commented on #5969
Thanks! Never used GitHub before. I have re-written that part requested.

[2018-03-19 18:05] jeevansd commented on #5969
@HammerOfThor88 Oh o. Welcome to the GitHub world. Ok then we will use the blurb which you have provided.

[2018-03-19 18:05] HammerOfThor88 commented on #5969
Thanks :)

[2018-03-19 18:06] ShevaDas commented on #5405
@asgerls Please open a new issue to report that bug.

@amanarneja can we close this one out for now? I'm not sure if/when I'll get an explicit response from the OneNote team, but will make sure to update it at that point.

[2018-03-19 18:13] suchiagicha commented on #5164
@mattcowen

What you are trying to achieve?
Are you getting any exception?

WcfCommunicationClientFactory internally uses CommunicationClientFactoryBase. which in turn maintain client caching. We create client if client is not valid or not present in cache.

[2018-03-19 18:13] twooley commented on #5882
#in-process

[2018-03-19 18:15] ChackDan commented on #5902
@MicahMcKittrick-MSFT  please reassign to Deep Kapur. He owns this document now.

[2018-03-19 18:15] MohitGargMSFT commented on #5881
@valentijnscholten We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-19 18:16] MohitGargMSFT commented on #5904
@spottedmahn We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-19 18:18] CarlRabeler commented on #5779
@DanniJuhl @Mike-Ubezzi-MSFT
Neither Sasha nor I understand the confusion. Please provide additional clarity.
Thanks,
Carl
@anosov1960

[2018-03-19 18:19] MohitGargMSFT commented on #5939
@SimpsonAK The link works fine for me in edge and chrome browser. Request you t5o try using different browser and let me if you still see an issue. Below is the link -

[https://blogs.office.com/en-US/2015/11/19/updated-office-365-modern-authentication-public-preview/](url)

[2018-03-19 18:19] suchiagicha commented on #5512
@nitinkale
1 @leikong can answer this
2 We support Windows and x509 ,but no  other security credential.
3. FabricTransport Settings remains the same for V1 and V2.

[2018-03-19 18:20] vturecek commented on #5661
@mjanulaitis Opened an issue to track this in the Service Fabric Reliable Actors repo: Azure/service-fabric-services-and-actors-dotnet#91

What version of VS 2017 and the Service Fabric SDK are you using?

[2018-03-19 18:24] leikong commented on #5512
I am assuming are talking about local credentials, we currently only support loading by findtype and findvalue. So you cannot pass X509Certificate2 directly.

[2018-03-19 18:33] MohitGargMSFT commented on #5940
@akalcik Thanks again for reporting. However, as your inputs are for the GitHub sample, I would suggest you to open a New Issue in published GitHub sample so that required changes are done on it. Below is the link to open GitHub issue on published sample -

[https://github.com/Azure-Samples/active-directory-b2c-dotnet-webapp-and-webapi/issues](https://github.com/Azure-Samples/active-directory-b2c-

[2018-03-19 18:33] Mike-Ubezzi-MSFT commented on #5779
@anosov1960 @CarlRabeler
My feedback is purely from a product branding or product naming consistency perspective. All the features and functionality are being conveyed but maybe not under a consistent use of the correct naming convention for the feature.

[2018-03-19 18:35] bandersmsft commented on #5933
@lsuperman735 Thanks a bunch for catching this!

[2018-03-19 18:35] Adam-Smith-MSFT commented on #5959
@digitus0 just to clarify, after setting the context using the command you've mentioned, and then listing the vaults using Get-AzureRmRecoveryServicesVault still asks you to set the context ?

[2018-03-19 18:38] LSUPERMAN735 commented on #5933
I'm glad and proud do not hesitate to ask me easy things (on programming) / translation or any other helps and I pleased if you follow me or help me back in the future

[2018-03-19 18:38] jeevansd commented on #5969
#in-pocess

[2018-03-19 18:41] ChristianWolf42 commented on #5256
Hi @JasonBSteele I think I understand better what you mean now.

The article says:
Create Event Grid subscriptions for Service Bus namespaces
You can create Event Grid subscriptions for Service Bus namespaces in three different ways:

Would it make it more clear to add a line and say: "Before creating an event grid subscription for a Service Bus namespace make sure you have a Service Bus premium n

[2018-03-19 18:42] DanniJuhl commented on #5779
@CarlRabeler @anosov1960
"Always On" as a technical term, is not a specific technology, however covers the entire high availability/disaster recovery technologies available with the SQL Server.

However, "Availability Groups" would be such a technology within the Always On family, and such the documentation would be more technically accurate, if it would to be updated with clarification, and consi

[2018-03-19 18:42] chris-althoff opened #5983 "Instruction incorrect"
Step 4 of the instruction to use the Group Ploic object give an incorrect path to the setting. there is no setting titled "Allow Linkedin Integration" the correct setting is called "Show LinkedIn features in Office Applications" and it is in the path User Configuration > Administrative Templates > Microsoft Office 2016 > Miscellaneous

---
#### Document Details

⚠ *Do not edit this section. It is

[2018-03-19 18:50] rishirsinha commented on #5902
@xela30 Can you elaborate on what is not working?

[2018-03-19 18:54] tonjohn commented on #5348
Similar to @chrisnewark , here is what I ended up going with:

[code]

[2018-03-19 18:54] MGoedtel commented on #5968
@whytoe - Hi Dan, you are correct, there isn't a single document that provides this detailed information, including the App Insights agent.  I'm going to bug this and see when I can get this written up because it falls into the scope of new content we are working on now related to all-up monitoring in Azure.  #in-process.

[2018-03-19 18:56] dkkapur commented on #5839
#please-close

[2018-03-19 19:13] amanarneja commented on #5973
@whytoe Sorry about that, the correct link should be : https://docs.microsoft.com/azure/network-watcher/. Fix is on the way.

[2018-03-19 19:16] jason-j-MSFT commented on #5736
@Ayanmullick
We don't have a mechanism right now to link GitHub issues to the Azure feedback platform.  I left a link to the GitHub issue in the Azure feedback comments.  We will close this issue for now, and thanks again for the feedback!

[2018-03-19 19:16] #5736 closed

[2018-03-19 19:22] jason-j-MSFT commented on #5910
@bospoort
I have assigned the issue to the content author to investigate further and update the document as appropriate.

@mumian
I have confirmed the link to the sample Event Producer application returns a 404.

[2018-03-19 19:24] dennisg commented on #5973
and... so Why am I mentioned in this conversation ??

On Mon, Mar 19, 2018 at 8:13 PM Aman Arneja <notifications@github.com>
wrote:

[2018-03-19 19:37] cherylmc commented on #5927
#please-close

[2018-03-19 19:38] mjanulaitis commented on #5661
Latest version of 2017 fully patched.
On Mar 19, 2018, at 12:20 PM, Vaclav Turecek <notifications@github.com<mailto:notifications@github.com>> wrote:

@mjanulaitis<https://github.com/mjanulaitis> Opened an issue to track this in the Service Fabric Reliable Actors repo: Azure/service-fabric-services-and-actors-dotnet#91<https://github.com/Azure/service-fabric-services-and-actors-dotnet/issues/91>

[2018-03-19 19:39] cherylmc commented on #5866
Hi @TheChadR - I think you are using the Basic SKU, which has limitations for P2S. I'll add a note to make this a little more clear. Thanks!

[2018-03-19 19:39] cherylmc commented on #5866
#please-close

[2018-03-19 19:39] CarlRabeler commented on #5779
PR submitted

[2018-03-19 19:41] #5927 closed

[2018-03-19 19:41] CarlRabeler commented on #5779
https://github.com/MicrosoftDocs/azure-docs-pr/pull/35687

[2018-03-19 19:42] #5866 closed

[2018-03-19 19:42] Juliako commented on #5443
@giemch, the topic was updated to reflect the up-to-date steps. The screenshots will be added at some later point.

[2018-03-19 19:43] Juliako commented on #5443
#please-close

[2018-03-19 19:50] amanarneja commented on #5973
@dennisg Sorry about that, we have some automation that looks at the document metadata and @ mentions the author. The author's Microsoft Alias is dennisg and somehow that got picked as the GitHub alias incorrectly.

@whytoe Fix is in processing and will go live soon, closing this issue based on this.

[2018-03-19 19:50] #5973 closed

[2018-03-19 19:52] mike-urnun-msft commented on #5966
Hi @mganeshphani,

I'd like to better understand your existing setup and what you're attempting to accomplish so i can recommend specific guidance or route you to the right channel/point of contact. It seems to me that you'd like to write incoming log data into an Excel file (that's hosted OneDrive?) while deleting rows that match an ID value in each iteration (in other words, a match upon value i

[2018-03-19 19:54] dennisg commented on #5973
Thanks aman for the feedback! We will leave it at that...

D.

On Mon, Mar 19, 2018, 20:50 Aman Arneja <notifications@github.com> wrote:

[2018-03-19 19:57] Minewiskan commented on #5843
@spsandran @Adam-Smith-MSFT
Techncally, the note is correct. However, I have no idea who added this to this article. The second sentence is unclear, and unnecessary. I've removed that second sentence and updated the link to CIDR on WIki. Fix is in https://github.com/MicrosoftDocs/azure-docs-pr/pull/35668 which should publish live this afternoon.

[2018-03-19 20:12] giemch commented on #5443
Awesome, thanks @Juliako.

[2018-03-19 20:12] #5443 closed

[2018-03-19 20:25] rwike77 commented on #5715
@hravnaas  Sorry you had trouble with the install.  The VS 2017 C++ redist package is required by the Service Fabric runtime, which is installed with the SDK and tools so you can run a local development cluster.  At this point, I don't think we need to update the article with your workaround since the installation error doesn't seem to occur frequently.  Thanks for your feedback.

#please-close

[2018-03-19 20:30] femsulu commented on #5819
@pvrk, thanks for your response. I have passed on your feedback to the content owner.

[2018-03-19 20:39] acornsoft opened #5988 "SQL Server - Get rows"
There are no examples that I have found that effectively shows how to use the Get Rows and Pagination feature for processing a very large SQL table.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e190390-dc83-246e-3e69-189f33d67ed7
* Version Independent ID: 66132130-9d94-fc33-7bc4-a54ee270efbc
* Content: [Add the Azur

[2018-03-19 20:53] pantofffel opened #5989 "NSG Flow Logs not working with secured Storage Accounts"
Hi there, why is it not possible, to use NSG Flow Logs with a Storage Account, which is secured, so it can only be accessed from within enabled virtual networks? I would have expected, that the Network Watcher, which writes down the flow logs would be seen as "trusted microsoft service" so the exeption in the "firewalls and virtual networks configuration" of my storage account used for the NSG Flo

[2018-03-19 21:06] tfitzmac commented on #5947
#in-process

[2018-03-19 21:07] MicahMcKittrick-MSFT commented on #5981
@larrywa Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-03-19 21:08] MicahMcKittrick-MSFT commented on #5977
@julielerman Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-03-19 21:09] jason-j-MSFT commented on #5738
@cloudinnovating
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-19 21:09] #5738 closed

[2018-03-19 21:11] jeevansd commented on #5582
@hishamam I checked the configuration. You are right we need to make the Reply URL mandatory in this case. We will make the change in the app and will also update the documentation. The Reply URL you mentioned is correct https://sso.services.box.net/sp/ACS.saml2 and it is accepted in the Azure portal.
There is no need to configure the Reply URL. in the Sign on URL you need to enter the tenant spec

[2018-03-19 21:11] jeevansd commented on #5582
#in-process

[2018-03-19 21:14] sethmanheim commented on #5804
@Mike-Ubezzi-MSFT @bastyuchenko We do have an article covering message sessions: https://docs.microsoft.com/en-us/azure/service-bus-messaging/message-sessions.

[2018-03-19 21:25] matiasosca opened #5990 "Tag resources within RG only if changes"
This code verifies the status of the existing tags and modifies only if a change exists..  Much faster.

$group = Get-AzureRmResourceGroup "Platform"
if ($group.Tags -ne $null) {
    $resources = $group | Find-AzureRmResource

    #DELETE
    $resources = $resources[11]

    foreach ($r in $resources)
    {
        $resourcetags = (Get-AzureRmResource -ResourceId $r.ResourceId).Tags
        #forea

[2018-03-19 21:27] mtillman commented on #5521
#please-close
This issue has been resolved per @jeevansd's comment above.

[2018-03-19 21:29] alkohli commented on #5664
The current doc is good as-is. However to alleviate concerns, I can add a screenshot for step 1 in the deployment where you can see the difference. The screenshot does not exist as of now. This will however take some time. Getting a test bed and a govt subscription will take time. I will open a VSTS item and work on that. Will post a comment when this gets done. Thanks!

[2018-03-19 21:30] jeevansd commented on #5521
@mtillman Everyone has confirmed that the issue is resolved in the new plugin. So please close this.

[2018-03-19 21:33] neilpeterson commented on #5145
@mmercan - at this time all engineering effort is going into the AKS product ([docs](https://docs.microsoft.com/en-us/azure/aks/)). WE do not currently have a PowerShell module for AKS, but once it has been completed, we will document AKS operations using PowerShell.

Thanks for the feedback.

@Adam-Smith-MSFT - can you please assign this to me and #please-close

[2018-03-19 21:36] #5521 closed

[2018-03-19 21:51] neilpeterson commented on #5901
@littlecapa63 - thanks for the feedback. I have added a note to the doc. This issue will close once the note has been merged into the repo for publishing.

#in-process

[2018-03-19 21:51] femsulu commented on #5888
@hanislovingit, confirming the url issue has been resolved on the published doc. Closing this issue now but please don't hesitate to ping if you have any followup questions.

[2018-03-19 21:51] #5888 closed

[2018-03-19 21:52] #5921 closed

[2018-03-19 21:57] KumudD commented on #5723
I am investigating this with the service PM. Thanks!
#in-process

[2018-03-19 21:58] KumudD commented on #5729
I am investigating this with the service PM. Thanks!
#in-process

[2018-03-19 22:00] KumudD commented on #5837
I am investigating this with the service PM. Thanks!
#in-process

[2018-03-19 22:01] cynthn commented on #5950
@MicahMcKittrick-MSFT @andrew-best-diaxion I see the issue and will get it fixed. #in-process

[2018-03-19 22:06] WhippsP commented on #5082
Jose,

Unfortunately I cant seem to find the official documentation however the steps are;

Right Clieck on the Blob Container and select “Configure CORS Settings…”
[cid:image006.jpg@01D3C022.57ED31E0]

Then add login.msol

[cid:image007.jpg@01D3C022.57ED31E0]

As far as uploading the Files I just drag and drop however there is an upload button when the container is selected
[cid:image005.png@01D3

[2018-03-19 22:09] MicahMcKittrick-MSFT commented on #5950
@cynthn great thank you!

[2018-03-19 22:21] roygara commented on #5864
@DavLiet just wanted to let you know that the adjustments are live and the article has been corrected. Thanks again for pointing this out!

[2018-03-19 22:22] femsulu commented on #5933
@LSUPERMAN735; confirming that the typo issue has been fixed at the source and will propagate to the localized French version in roughly 2 weeks. thanks again for catching this.

[2018-03-19 22:22] #5933 closed

[2018-03-19 22:25] femsulu commented on #5937
@SharmainePopov, we will now close this issue but please don't hesitate to reopen if needed and we will be happy to resume the conversation.

[2018-03-19 22:25] #5937 closed

[2018-03-19 22:26] mganeshphani commented on #5966
Please close this issue.. I have raised a support ticket with my subscription

[2018-03-19 22:28] roygara commented on #5864
As it's been corrected, #please-close

Thanks!

[2018-03-19 22:34] tverilytt opened #5994 "Wrong image name in "Create an AKS cluster - CLI"?"
Hi!

I have gone through the stes in this page "Create an AKS cluster - CLI":
https://docs.microsoft.com/en-us/azure/aks/kubernetes-walkthrough

After running
kubectl create -f azure-vote.yaml
there seemed to be a problem with pulling the azure-vote-front image.

After checking on Docker Hub:
https://hub.docker.com/r/microsoft/azure-vote-front-redis/tags/

I changed from
 image: microsoft/azure-vo

[2018-03-19 22:41] SharmainePopov opened #5995 "No Luck"
Hi. Trying to install on CentOS 6.8. Cannot get .net to install. Following instructions here
https://www.microsoft.com/net/learn/get-started/linux/centos
Error is
Error: Package: dotnet-runtime-2.0.0-2.0.0-1.x86_64 (packages-microsoft-com-prod)
           Requires: openssl-libs
Did also install openssl-devel. Same error after that.
Openssl is installed. How to fix this?

---
#### Document Details

[2018-03-19 22:41] rthorn17 commented on #5676
@derekschauland As the others have mentioned, Management Groups help with large organizations but it can also help if you have more than a couple subscription you manage.  The value to an individual is where you are able to manage the RBAC and Policy of multiple subscriptions in one place.  If you have 2 subscriptions, the value is minimal because it might not be a real burden to copy the policy b

[2018-03-19 22:48] rthorn17 commented on #5852
@fswgm Thanks for the feedback.  There are situations where some developers have their own subscriptions and then they are added to an Enterprise.  When the developer accepts the invite and is added to the Enrollment, the subscription is then pulled into the enterprise enrollment.  This is not ideal and is not recommended, but my goal in this diagram was to show it doesn't matter what type of subs

[2018-03-19 23:05] Adam-Smith-MSFT commented on #5976
@myusrn Thank you for the valuable feedback,we are investigating the issue.

[2018-03-19 23:05] ScottAzure opened #5996 "Deploy using purchase plan parameters section should referenece VMMarketplaceInvalidInput error "missing plan, needs plan, invalid plan, accept terms""
errors referenced for both windows and Linux (https://docs.microsoft.com/en-us/azure/virtual-machines/windows/error-messages) should reference this doc and this doc should have troubleshooting section specific to these errors. Touch base with me internally

Glad to see this much.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-03-19 23:08] Adam-Smith-MSFT commented on #5983
@chris-althoff Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-03-19 23:09] Adam-Smith-MSFT commented on #5988
@acornsoft Thank you for the valuable feedback,we are investigating the issue.

[2018-03-19 23:11] billmath commented on #5862
@jeremyhagan  good catch!  Thank you for this.  It should be version 1.1.749.0 or higher.  I have updated the doc and it should be live tomorrow.  Thanks!

[2018-03-19 23:12] Adam-Smith-MSFT commented on #5989
@pantofffel Thank you for the valuable feedback,we are investigating the issue.

[2018-03-19 23:16] Adam-Smith-MSFT commented on #5994
@tverilytt Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-03-19 23:17] Adam-Smith-MSFT commented on #5995
@SharmainePopov Thank you for the valuable feedback,we are investigating the issue.

[2018-03-19 23:19] Adam-Smith-MSFT commented on #5990
@matiasosca Thank you for the valuable feedback,we are investigating the issue.

[2018-03-19 23:21] Adam-Smith-MSFT commented on #5996
@ScottAzure Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-03-19 23:22] derekschauland commented on #5676
My organization has something like 9 subscriptions parked under the same EA – rather than migrating the resources into one or two subscriptions I thought it might make more sense to use Management Groups, but was hoping to get my head around it more and potentially work with Microsoft to build use case documentation.

This seems like a situation where teaching others, or writing docs to do so migh

[2018-03-19 23:23] billmath commented on #5846
@KarstenKleinschmidt  good catch.  I have updated the document to make this clearer and it should be live tomorrow.  Thanks!

[2018-03-19 23:29] mike-urnun-msft commented on #5966
@mganeshphani
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-19 23:29] #5966 closed

[2018-03-19 23:29] Adam-Smith-MSFT commented on #5145
@mmercan will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-19 23:29] #5145 closed

[2018-03-19 23:31] billmath commented on #5734
@Itziclinic thank you for this.  I am verifying this now with the PM.  I remember removing this back about a month ago, so it wasn't supposed to be required any more.

[2018-03-19 23:33] Adam-Smith-MSFT commented on #5592
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-19 23:33] #5592 closed

[2018-03-19 23:34] Adam-Smith-MSFT commented on #5715
@hravnaas We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-19 23:34] #5715 closed

[2018-03-19 23:35] Adam-Smith-MSFT commented on #5839
@xela30
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-19 23:35] #5839 closed

[2018-03-19 23:35] #5854 closed

[2018-03-19 23:36] neilpeterson commented on #5994
@tverilytt can you share any info about what happened when you deployed the manifest with the `microsoft/azure-vote-front:v1` image?

This is the correct image name. I've just tested the manifest (copied directly from the doc), and it worked fine.

[code]

Thanks

#in-process

[2018-03-19 23:36] Adam-Smith-MSFT commented on #5864
@DavLiet
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-19 23:36] #5864 closed

[2018-03-19 23:38] jgallucci32 opened #5997 "Description for ServiceAdminOwnerUpn missing"
In Step 3 of "Trigger automation to configure claims provider trust in Azure Stack", the credentials for changing the owner of the default subscription are not well defined. It should be added to the table at the top of the section with the other input parameters.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fac2cea8

[2018-03-19 23:40] ScottAzure opened #5998 "This doc should refer to possible issues enabling boot diagnostics StorageAccountTypeNotSupported"
StorageAccountTypeNotSupported	Storage account {0} is of {1} type. Boot Diagnostics supports {2} storage account types.

And be linked from https://docs.microsoft.com/en-us/azure/virtual-machines/windows/error-messages for that error so that the two docs are linked.

The change would be to mention that the error may be encountered when deploying the boot diagnostics does not support premium storag

[2018-03-19 23:40] rwike77 commented on #5505
@sasachan  @guibirow  I'm updating the article with the version info.

[2018-03-19 23:44] edorphy commented on #5759
The documentation punts on the Authentication Token. You have to do a lot on the developer side to create a token.
https://developer.apple.com/library/content/documentation/NetworkingInternet/Conceptual/RemoteNotificationsPG/CommunicatingwithAPNs.html#//apple_ref/doc/uid/TP40008194-CH11-SW1

The link referenced above is also broken in Apple's documentation.

[2018-03-19 23:50] tamram commented on #5894
@aditya365 - Thanks for your feedback. I've updated the article to include setup information for .NET in the [Prerequisites](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-quickstart-blobs-dotnet?tabs=windows#prerequisites).

The reason that we recommend .NET Core in this article is so that users running on any platform (Windows, Linux, or MacOs) can use it to build a .NET applicatio

[2018-03-19 23:50] tamram commented on #5894
#please-close

[2018-03-20 00:06] MohitGargMSFT commented on #5872
@jeremyhagan Hi, Please note as per below document regarding Azure AD Connect version 1.1.553 below -
[https://docs.microsoft.com/en-us/azure/active-directory/connect/active-directory-aadconnect-version-history#new-features-and-improvements-10](https://docs.microsoft.com/en-us/azure/active-directory/connect/active-directory-aadconnect-version-history#new-features-and-improvements-10)

Specific to

[2018-03-20 00:13] andrew-best-diaxion commented on #5950
Hi @MicahMcKittrick-MSFT

Yes I believe so. I cant seem to get back to the original docs page from this thread easily to confirm.
I wasnt seeking the actual content or pricing, just pointing out a defect in the markdown for the URL. A very quick and easy fix for you guys.

[2018-03-20 00:20] v-payc commented on #5527
#please-close . This work is in our queue now.

[2018-03-20 00:22] andrew-cooper opened #5999 "Missing claims documentation"
I've been playing with Service Bus queues and specifically the function of scheduling messages for a later time.  It appears that the ScheduleMessageAsync() method requires the Listen claim, as well as the Send claim, but that is not reflected in the table above.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13478d1d-

[2018-03-20 00:32] SharmainePopov commented on #5995
Hi.

Also tried to install open-ssl from the epel but conflicts with already installed openssl components…see

…

Running rpm_check_debug
Running Transaction Test

Transaction Check Error:
  file /usr/lib64/libcrypto.so.1.0.1e from install of openssl10-libs-1.0.1e-2.ius.centos6.x86_64 conflicts with file from package openssl-1.0.1e-57.el6.x86_64
  file /usr/lib64/libssl.so.1.0.1e from install of o

[2018-03-20 00:42] andrew-cooper opened #6000 "Typo?"
The "Actions" paragraph says, "The action is performed on the message after it has been matched and before the message is selected into the topic."  I believe that should be, "... selected into the subscription."

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45d45fc4-082b-6da7-80d5-5ab1bc337ce5
* Version Independent I

[2018-03-20 00:55] MarkusVi commented on #5863
Hi @varma31, thanks for your suggestion.
I have created a backlog item to track this.

Thanks,
Markus

#please-close

[2018-03-20 00:57] billmath commented on #5734
@Itziclinic  Just to follow-up.  The PM should be reaching out to you.  They didn't think it was required anymore so they are hoping to speak with you about it.  We can leave this open for now so that he can follow up, I imagine, with some questions.  Thanks!

[2018-03-20 01:13] barbkess commented on #5407
#please-close

[2018-03-20 01:13] barbkess commented on #5705
#please-close

[2018-03-20 01:40] MicahMcKittrick-MSFT commented on #5950
@andrew-best-diaxion thanks for clarifying And I really appreciate the find!

I am asking because the doc you are referencing is https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sizes-general and when I look at the 4th bullet point it links to here  https://azure.microsoft.com/en-us/pricing/details/virtual-machines/linux/ however I am not seeing any issues with it. It takes me to th

[2018-03-20 01:42] jeremyhagan commented on #5872
This is self referential. What user certificates are required and why?
Where do they come from? If they aren't there what is the behaviour?

On 20 March 2018 at 11:06, Mohit Garg <notifications@github.com> wrote:

[2018-03-20 01:45] ggailey777 commented on #5814
@dcbrown16 the fix was made in our private repo, and you should see this commit with the fix now in the public repo: https://github.com/BryanTrach-MSFT/azure-docs-pr/commit/6e3202a72d1c5d218db31840b95393e9a16159d2

[2018-03-20 01:46] andrew-best-diaxion commented on #5950
Here is an annotated screencap of the broken md.
![screen shot 2018-03-20 at 12 44 59 pm](https://user-images.githubusercontent.com/17115773/37631210-b8547364-2c3c-11e8-8bb7-68e20d4e8101.png)

[2018-03-20 01:49] dcbrown16 commented on #5814
@ggailey777 thanks! Looks like the doc is fixed (although the update date hasn't changed).

[2018-03-20 01:50] ggailey777 commented on #5814
@dcbrown16 clarified my earlier comment

[2018-03-20 01:52] MicahMcKittrick-MSFT commented on #5950
@andrew-best-diaxion  ah okay! Very good find! My eyes just skimmed right over it :)

I will assign this to the content author to update the link.

@jonbeck7 can you please take a look and adjust the link accordingly?

[2018-03-20 01:54] MicahMcKittrick-MSFT commented on #5950
@andrew-best-diaxion Ah okay! I see it now. My eyes just skimmed over it :) @cynthn seems to be taking care of it.

Thank you again :)

[2018-03-20 01:59] curtand commented on #5817
@ravisha22
Thanks for your contribution! I fixed this and it will be live tomorrow 3/20 by 11 am.

[2018-03-20 01:59] curtand commented on #5817
#please-close

[2018-03-20 02:01] curtand commented on #5745
#in-process
I have a fix and I’ll have to ge it in tomorrow morning 3/20

[2018-03-20 02:01] curtand commented on #5983
#in-process
Conferring with PMs

[2018-03-20 02:04] ggailey777 commented on #5955
Hey @Mike-EEE is the link you are referring to in a topic or in the product? It’s not clear from this issue.

[2018-03-20 02:08] yeelam opened #6001 "What Azure Role will have permission to create/modify/delete Alert?"
We would like to grant different owner for alert maintenance.
We tried to grant "Monitoring Contributor" role, but it doesn't work.
What role we should grant in order to have the permission?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f795f00-1229-2646-c18e-948b493647b4
* Version Independent ID: 09a2b3c1-1d3e-4df5-

[2018-03-20 02:29] okaicomputer commented on #5127
Could someone please clarify what exactly is meant by "App Service Certificates are not yet available"?  I can upload an SSL certificate that I purchased from a valid CA and bind it to an App Service in Gov and it appears to work fine.  However, if I attempt to create an Access Policy on a Key Vault and use the Azure Gov App Service Service Principal, I receive an error:
Set-AzureRmKeyVaultAccessP

[2018-03-20 02:49] #5817 closed

[2018-03-20 02:54] SharmainePopov commented on #5995
…And I tried with RHEL 7.3
In this case install of dotnet and azcopy succeed.
But azcopy doesn’t work – problem with curl?

[azvmadmin@az-101-rhel73-1 ~]$ azcopy --verbose --source /home/azvmadmin/azcopy-upload.txt  --destination https://az101stg.blob.core.windows.net/azcopy1/blah.txt --dest-key ***==
[2018/03/20 02:45:29.162+00:00] >>>>>>>>>>>>>>>>
[2018/03/20 02:45:29.176+00:00][VERBOSE] Finishe

[2018-03-20 03:04] mvpkenlin commented on #5821
Hi @Eugene, I have sent you email at microsoft about the info.

@Adam-Smith-MSFT    I cannot index html file as well. Is there any special character that inside the html will stop the indexer to be indexed?

[2018-03-20 03:20] JunyuanZheng opened #6002 "Persisting case-sensitivity for field names doesn't work"
Hi, I am using Stream Analytics to process exported app insight data. However, here is the issue:

The original data looks like this (I removed some sensitive data):

[code]

In Stream Analytics I defined 3 UDF to normalize the data:

1. transferContext:
[code]

2.  transferEvent:
[code]

3. transferId:
[code]

My Query looks like this:

[code]

However, in CosmosDB, the custom.dimensions field ch

[2018-03-20 04:39] JasonWHowell commented on #5733
#in-progress

[2018-03-20 04:44] Mike-EEE commented on #5955
Hi @ggailey777 sorry about that.  The link is from the product seen in the lower left corner here:

![](https://docs.microsoft.com/en-us/azure/includes/media/functions-vstools-create/functions-vstools-add-new-function.png)

Incidentally, in the old documentation system you could make comments along specific paragraphs.  It would be valuable to have that again to help provide content.  I've actuall

[2018-03-20 04:47] Mike-Ubezzi-MSFT commented on #5733
@JasonWHowell It makes sense to enable SSL when loading/extracting data to/from a hosted data store. The official PostgreSQL documentation does not show SSL as being an option, unless I am missing something. Thank you.

[2018-03-20 05:09] ggailey777 commented on #5955
Thanks @Mike-EEE I’ll check with the VS folks about that link.

[2018-03-20 05:29] jpoon opened #6005 "Elaborate on the signifcance of setting `scheduledTransferKeywordFilter` to `4611686018427387936`"
I understand `ScheduledTransferKeywordFilter` is a bitmask for the keywords but what does that bitmask mean as opposed to the default `4611686018427387904`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b67ccf12-3864-82ad-a502-db5aa58c0b6f
* Version Independent ID: 6c0deb7f-99cc-7560-0064-3c9fda351d98
* Content: [Azur

[2018-03-20 05:59] ivanl8 opened #6006 "Broken link - Understanding cost reports"
The word "understading" is misspelt with a missing letter n in the url https://docs.microsoft.com/en-au/azure/cost-management/understading-cost-reports resulting in broken link page. Should be "understanding".

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9c157c3-4bc4-b18b-62db-726c9b391b95
* Version Independent ID:

[2018-03-20 06:11] Mike-EEE commented on #5955
FWIW @ggailey777 I believe I found the right area for my tooling-related issue(s):
https://github.com/Azure/Azure-Functions/issues/724

[2018-03-20 06:23] MohitGargMSFT commented on #5872
@jeremyhagan Out to AAD - Device Join SOAInAD sync rule is used to implement Hybrid Azure ad join / Domain Join in a managed domain. In a federated domain this rule is not used as the STS / AD FS would authenticate the device. In a managed domain the certificate for the device would be used to authenticate the device in AAD.

You can disable the sync rule as long as you are using a federated envir

[2018-03-20 06:41] MikkelHegn commented on #5851
#please-close https://github.com/MicrosoftDocs/azure-docs-pr/pull/35481

[2018-03-20 07:09] snrniranjan opened #6007 "Thanks for the documentation"
Does Azure-AD support sessionindex based logoutrequest ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76d4eac0-25d3-b5d5-f58e-cdd1024f32b4
* Version Independent ID: 7771f280-3701-4f88-cb9f-add968d494de
* Content: [Azure Single Sign Out SAML Protocol](https://docs.microsoft.com/en-us/azure/active-directory/develop/act

[2018-03-20 07:42] NileshGhodekar opened #6008 "Ambiguous Verbiage in AAD Connect Password Sync process description"
Currently Text: "The actual data flow of the password synchronization process is similar to the synchronization of user data such as DisplayName or Email Addresses. However, passwords are synchronized more frequently...".
Comment: The "However" statement should also add that unlike user data, passwords remain in-memory and are not persisted in the database.
---
Current Text: "The first time you en

[2018-03-20 07:46] Ramji-S commented on #5323
Thanks for the followup @mrbullwinkle. Much appreciated.

[2018-03-20 07:50] girishgouda commented on #5348
Getting the error that type is not defined and once type is defined as below
 "type": "extensions",
Getting the error message as type invalid . Are people looking into this issue ?

[2018-03-20 08:41] xela30 commented on #5902
@rishirsinha

No matter what number is in "value" field FabricLogRoot folder is growing up indefinitely.

  {
    "name": "Diagnostics",
    "parameters": [
      {
        "name": "MaxDiskQuotaInMB",
        "value": "65536"
      }
    ]
  }

[2018-03-20 08:50] Favna opened #6009 "Subscription icon has changed, screenshot needs updating"
As the title says, the icon for subscriptions has changed from the folder with some paper poking out to a golden key. It is therefore advisable to update the screenshots were the old image is still present.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11aaa091-1108-52f6-0066-0f4e939aeef4
* Version Independent ID: dbc

[2018-03-20 09:01] xela30 commented on #5839
@dkkapur Would you please share a complete example of eventFlowConfig.json file?
Is there a way to simply collect reverse proxy logs from let's say EventLog or whatever else instead of deploying custom watchdog app on each node of the cluster?

[2018-03-20 09:22] bibliothek opened #6010 "Is there support for Azure CLI?"
I am trying to manage this from the command line. I didn't find anything in the Azure CLI 2.0.

Are there any other ways to interact with B2C (e.g. uploading custom policies) apart from the Azure Portal?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bee63035-00ee-f7fd-97a1-69dae5f808ef
* Version Independent ID: a34479

[2018-03-20 09:28] guyhorn1964 opened #6011 "Unattend installation - the working version :-)"
Hi, the way it's described here is not 100% correct. Here is a working version.

cmd /c 'C:\Users\student\Downloads\AADConnectAuthAgentSetup.exe REGISTERCONNECTOR="false" /q'
#$cred = Get-Credential
Set-Location "C:\Program Files\Microsoft Azure AD Connect Authentication Agent"
.\RegisterConnectoguyr.ps1 -modulePath "C:\Program Files\Microsoft Azure AD Connect Authentication Agent\Modules\" -modul

[2018-03-20 10:22] KarstenKleinschmidt opened #6012 "Protocol specification issue"
Hi, can you please correct the protocol definition in table 2-5,7 for http and https?
Do you really use UDP for http(s) ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab256742-c202-ac5b-de83-3ce94e461923
* Version Independent ID: efeaf566-85af-7957-8063-7045d69ce054
* Content: [Hybrid Identity required ports and prot

[2018-03-20 10:43] KarstenKleinschmidt commented on #6012
Already addresses by my coworker. https://github.com/MicrosoftDocs/azure-docs/pull/5964

[2018-03-20 10:43] #6012 closed

[2018-03-20 10:59] canoas opened #6013 "Command line alternative"
As we are switching to LetsEncrypt (3-month cycles), how could we implement this renewal using PowerShell scripts?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 033dfa5c-5c1d-7306-67b7-4cb2657e6fc5
* Version Independent ID: f2553363-c3a4-2c22-caad-f863d6cb8a5a
* Content: [Azure AD Connect - Update the SSL certificate

[2018-03-20 11:03] JoNevi opened #6014 "What is the asazure protocol?"
Would it be possible to include some more info about the asazure: protocol?  Or a link to the tech documentation for it?

I need to know how to configure a corporate firewall to allow outbound traffic (from Power BI Desktop) to talk to AAS.  Which ports does asazure: communicate over?  Does it handshake on one port and then skip to another?

More details or links here would be very helpful.

---
#

[2018-03-20 12:01] NiklasJern opened #6015 "Definition Location in Azure Policy?"
Whats the need for _Definition Location_ on the policys definition (and on Initiative policys) and why can't you change it afterawards?

For me, trying to see if this is a fit for our compliance framework, across all our subscriptions ( about 200 subsciriptions). As I see it now (since there is cloning inbetween subscriptions) you would manually need to re-create each custom policy you've created,

[2018-03-20 12:11] vikaskumawat80 opened #6016 "Query limit to 10000 records"
Currently the max query number is 10000, which is too small for us to use. How to increase the limit?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80ca129e-6ffc-767b-3f1b-3c56cb822e76
* Version Independent ID: 6383735e-1be0-ee09-e381-af054f6448dd
* Content: [Azure Networking Analytics solution in Log Analytics](https

[2018-03-20 12:19] itpropro commented on #5105
The new General Usage Storage Account is introduced here:
https://azure.microsoft.com/de-de/blog/cloud-storage-now-more-affordable-announcing-general-availability-of-azure-archive-storage/
It has a new pricing model, which is explained here:
https://azure.microsoft.com/en-us/pricing/details/storage/

It would be great if this article could reflect these changes.

[2018-03-20 12:54] ThierryBT opened #6017 "AAD DC Administrators not in Remote Desktop local group"
Hi and sorry for my funny English.
I see in documentation :
Additionally, members of this group can use Remote Desktop to connect remotely to domain-joined machines.
In my case this group is not added to the group, I have to do it manually.
Regards

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b52da54f-9843-a479-820b-

[2018-03-20 13:03] jimdial commented on #5989
#in-process

[2018-03-20 13:07] jimdial commented on #5731
#in-process

[2018-03-20 13:24] bradsev commented on #5278
This was fixed in the azure-docs-pr repo and published.  Who verifies and closes it? Adam?

[2018-03-20 13:29] bradsev commented on #5278
@Adam-Smith-MSFT want to assign this back to you now... not sure how to use Tags or reassign in this context. But I am on vacation until the 4th of April:)

[2018-03-20 13:30] ddst0111 opened #6019 "Is ProxyError only raised by Azure internal process?"
can policy create a ProxyError, and go to on-error policy to process the error?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f1f26d3-94ce-6840-ee8a-d358113b56aa
* Version Independent ID: d2f8fc50-3785-6950-304b-699860dacd90
* Content: [Error handling in Azure API Management policies](https://docs.microsoft.com/en-us

[2018-03-20 13:39] ChrisParrBIE opened #6020 "LargeObject Error"
What are the actual limitations on proxyAddresses? Length of individual entries, total size of the list, number of items etc.  It's not particularly helpful to say there are limits then not say what they are.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e8da33ec-9948-97ca-effb-bbe73a13a00f
* Version Independent ID: 2

[2018-03-20 13:55] ezio2907 opened #6021 "Size image"
What is the minimal size of a image? I found that the max was 4 MB. A picture I take with my webcame from jQuery is not less than 15 KB and is there for not accepted.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a315d63c-ebf4-b8ee-8757-d747678e824b
* Version Independent ID: 8a96be01-b252-f0c6-9deb-bd0fc06a1626
* Cont

[2018-03-20 14:20] mrbullwinkle commented on #5898
#in-process

[2018-03-20 14:47] amanarneja commented on #6012
@KarstenKleinschmidt Thanks for reporting and also thanks to your coworker for addressing the issue by contributing directly !

[2018-03-20 15:07] rishirsinha commented on #5902
Which version of Service Fabric is this?

@mattrowmsft

Sounds like the query trace issue.

[2018-03-20 15:20] kringen opened #6023 "Can you give an idea of how often the software packages are updated on the VM image?"
Thanks for this great offering!  It would be helpful for us to know if we deploy a VM, we can expect that the software would have been updated within the last 30, 60, 90 days, etc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 256bb460-6bd0-404e-a720-f50ea44ab46c
* Version Independent ID: b58ada0a-8f5f-1d00-6baf-e06fc

[2018-03-20 15:23] nitinkale commented on #5512
@suchiagicha , can you provide details about Windows credentials?
Also , can we expect a mechanism to extend SecurityCredentials  class in future ? If yes then I can contribute to the codebase ( if it is available on git)

[2018-03-20 15:34] AronT-TLV opened #6024 "Shouldn't these be installed in the `kube-system` namespace?"
e.g. in Bitnami doco  it suggests you install with `--namespace kube-system`

This makes more sense than putting it in default.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ada58160-dc50-b977-d3bc-65f92406e16d
* Version Independent ID: 5c596e04-fddb-effe-3b72-575f4df42d4e
* Content: [Configure ingress with Azure Cont

[2018-03-20 15:47] mcupito opened #6025 "Code Samples"
The code samples are incomplete (first example, where is collection defined) and of all values to use, you chose 12,000 RUs? Really? Especially when the Azure Portal says to Contact Support for RUs over 10,000?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f2b93a5-28b8-db4a-ab64-6342d3aafc63
* Version Independent ID:

[2018-03-20 15:55] xela30 opened #6026 "Reverse proxy events"
A copy of suddenly closed https://github.com/MicrosoftDocs/azure-docs/issues/5839

@dkkapur Would you please share complete example of eventFlowConfig.json file?
Is there a way to simply collect reverse proxy logs from let's say EventLog or whatever else instead of deploying custom watchdog app on each node of the cluster?

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2018-03-20 16:10] #5901 closed

[2018-03-20 16:17] j-martens commented on #5834
@brohrer Hi Brandon! We encourage you to create a public PR on this article. Once we accept the change, your name would appear in the contributor list at the top of the article. The topics don’t highlight a single author – everyone gets mentioned.

[2018-03-20 16:18] MK-Magensa commented on #5511
Test connection to listener - I can only connect to the listener from the primary replica only.

How do I connect from secondary?

[2018-03-20 16:29] Mike-Ubezzi-MSFT commented on #5988
@acornsoft I have found a few content items that show how to leverage pagination. The third link may meet your needs.

**DocumentDB paging support with TOP and more query improvements**
https://azure.microsoft.com/en-us/blog/documentdb-paging-support-with-top-and-more-query-improvements/

**How to do queries and pagination for Azure Table Storage in PHP**
https://azure.microsoft.com/en-us/resource

[2018-03-20 16:33] MicahMcKittrick-MSFT commented on #5511
@craigg can you check in on this? I am not sure if @MikeRayMSFT is still contributing on this doc

[2018-03-20 16:35] curtand commented on #5745
@julianddavidson
Added screenshot of the step in 'create VM' flow to add a static IP address, plus a link to the article on how to do it as well. This will be published sometime today. In the meantime, please use this article: https://docs.microsoft.com/azure/virtual-network/virtual-network-deploy-static-pip-arm-portal
#please-close

[2018-03-20 16:36] justin-vanwinkle opened #6027 "AzCopy on Linux, supress prompts"
The linux version of AzCopy does not have a way to supress prompts that is noted in the documentation.  This is much needed for scripts.

Here is a link to the windows version:
https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azcopy#y

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e224df65-311e-166c-ca

[2018-03-20 16:36] MicahMcKittrick-MSFT commented on #5348
We are working on getting this correct and will update everyone shortly.

[2018-03-20 16:42] #5705 closed

[2018-03-20 16:43] #5745 closed

[2018-03-20 16:44] Mike-Ubezzi-MSFT commented on #5733
@skepticatgit The SSL functionality is implemented via an environment variable and not passed as a command line argument. Can you review the Stack Overflow information and see if this satisfies your SSL requirement? Thank you.

https://stackoverflow.com/questions/43595308/set-sslmode-allow-with-pg-dump

[2018-03-20 16:45] justin-vanwinkle commented on #6027
This feature is also not documented in `azcopy --help` which leads me to think that it is either not implemented in the linux client or not documented anywhere.

[2018-03-20 16:49] seguler commented on #6027
The switch is --quiet on Linux. Could you test and let me know if it helps ?

[2018-03-20 16:55] iainfoulds commented on #5694
Thanks for your question, @dtissen . Are you asking how you can assign multiple IP addresses for use with an Azure load balancer? You can assign multiple public IPs to an Azure load balancer, as documented here - https://docs.microsoft.com/azure/load-balancer/load-balancer-multivip-overview . You can also Azure Application Gateway to add multiple endpoints which can be different IP addresses, pool

[2018-03-20 16:57] SteveMSFT commented on #6021
Thanks @ezio2907,

The minimum detectable face size is 36x36 pixels. The faces in an image that are smaller than 36x36 pixels will not be detected. Can you share more information about your image?

Thanks!

[2018-03-20 16:58] justin-vanwinkle commented on #6027
@seguler aha, I missed that one in the `azcopy --help`.  It does work.  Thanks!

I also do see it in the AzCopy on Linux documentation, but it's used implicitly and has no behavioral description.

Thanks for the quick response!

[2018-03-20 16:58] rwike77 commented on #5505
Change has merged and should publish soon.  #please-close

[2018-03-20 16:59] LoremanReturns opened #6028 "Planning for the GA?"
Hi,
do you know when the feature will be in General Availability? It seems that currently is still in Preview.
Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37b2e4b1-0c75-f9c2-fd1a-134f09fef731
* Version Independent ID: 0d5517f9-d1d2-b129-1121-5ab64d65bf3b
* Content: [What is group-based licensing in Azure Act

[2018-03-20 17:00] seguler commented on #5995
Unfortunately there is no easy way to install .NET Core on RHEL 6. Here are the steps that explains how to: https://github.com/dotnet/core/blob/master/Documentation/build-and-install-rhel6-prerequisites.md

@EmmaZhu regarding the libcurl issue.

[2018-03-20 17:03] iainfoulds commented on #5869
Thanks for the feedback, @dcbrown16 . I'm a little unsure what needs to be changed though? The pricing is different between a Premium disk and Standard disk. There is no difference between a managed and unmanaged disk, sure, but the article is referring to managed Premium and Standard managed disks, not comparing managed to unmanaged disks. On that pricing page, an S4 Premium disk is $5.28 in East

[2018-03-20 17:04] acornsoft commented on #5988
It should be noted, if you have an empty table, Logic Apps can’t read in the Schema values.

Once I put data into my new table, the LogicApps parser was able to see my code and decipher the column data names  Maybe this is by design.  So my issue, was that when I connected to my table, which was empty, to the GetRows “function”, it did not return any columns.

From: Mike Ubezzi [mailto:notificatio

[2018-03-20 17:09] tfitzmac commented on #6009
@Favna - good catch, thanks. I will fix it.

[2018-03-20 17:10] iainfoulds commented on #5871
Thanks for the feedback, @dcbrown16 . That FAQ page doesn't list any steps, so I'm guessing you've come in from a different page? By default, VMs are created with managed disks. Subsequent disks are also then created as managed disks by default. This is the recommended behavior.

For older VMs with unmanaged disks, you can explicitly create and attach an unmanaged disk in the Azure CLI 2.0 with [a

[2018-03-20 17:12] laultman opened #6029 "How to... The Missing Parts? Just about Everything"
The documentation rambles. I have to read the whole body of work and mostly understand it to begin to "connect the dots". Nowhere do you give any examples that use the code. The connective tissue is not there. Integrate for instance is where I would expect to see the full cookbook. Samples does not have samples of what this documentation is about. You are taken to the Azure code sample gallery - u

[2018-03-20 17:13] Blackmist opened #6030 "SSL cert error from the 1_notmnist Jupyter Notebook"
Running the second cell of the 1_notmnist notebook returns the following error:
Attempting to download: notMNIST_large.tar.gz
---------------------------------------------------------------------------
SSLError                                  Traceback (most recent call last)
C:\Anaconda\lib\urllib\request.py in do_open(self, http_class, req, **http_conn_args)
   1317                 h.request(re

[2018-03-20 17:14] MicahMcKittrick-MSFT commented on #6025
@mcupito Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-03-20 17:15] iainfoulds commented on #5871
#please-close

[2018-03-20 17:15] iainfoulds commented on #5869
#please-close

[2018-03-20 17:16] MicahMcKittrick-MSFT commented on #6024
@AronT-TLV thanks for the feedback! Seems Neil has submitted a fix and this issue should close one the changes go live.

[2018-03-20 17:16] cynthn commented on #5950
#please-close the fix is in PR 35788. @andrew-best-diaxion good catch :)

[2018-03-20 17:16] Blackmist opened #6031 "SSL certificate error on 1_notmnist notebook for Tensorflow"
Second code cell returns the following error:
Attempting to download: notMNIST_large.tar.gz
---------------------------------------------------------------------------
SSLError                                  Traceback (most recent call last)
C:\Anaconda\lib\urllib\request.py in do_open(self, http_class, req, **http_conn_args)
   1317                 h.request(req.get_method(), req.selector, req.

[2018-03-20 17:17] Blackmist commented on #6030
Closing, duplicate of #6031

[2018-03-20 17:17] #6030 closed

[2018-03-20 17:17] MicahMcKittrick-MSFT commented on #6023
@kringen Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-20 17:19] iainfoulds commented on #5919
Thanks, @WootJay . I've updated the link in a PR to point straight to https://azure.microsoft.com/support/legal/sla/virtual-machines/ . This link automatically goes to the latest version of the SLA to minimize future problems. When the PR merges, this issue will automatically close.

#in-process

[2018-03-20 17:23] MicahMcKittrick-MSFT commented on #6031
@Blackmist Thanks for the feedback! I have assigned the issue to the content author to investigate further.

[2018-03-20 17:24] MicahMcKittrick-MSFT commented on #6029
@laultman Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-03-20 17:25] mimig1 commented on #6025
@mcupito - Thanks for the feedback. I can modify 12,000 RU/s to a value smaller than 10K. What else are you looking for in the sample? It's intended only to cover setting throughput, per the title of the article.

[2018-03-20 17:25] MicahMcKittrick-MSFT commented on #6020
@ChrisParrBIE Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-20 17:27] MicahMcKittrick-MSFT commented on #6019
@ddst0111 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-20 17:28] gopitk commented on #6031
It seems like the Python "requests" package does not have proper CA root certs on Windows.  Here is a workaround till we can figure out if there is a better solution:

Run the following from an **Administrator** command prompt:
[code]

[2018-03-20 17:28] SteveMSFT commented on #6021
@ezio2907 here is the additional information in our documentation -

https://westus.dev.cognitive.microsoft.com/docs/services/563879b61984550e40cbbe8d/operations/563879b61984550f30395236

- JPEG, PNG, GIF (the first frame), and BMP format are supported. The allowed image file size is from 1KB to 4MB.
- Faces are detectable when its size is 36x36 to 4096x4096 pixels. If need to detect very small bu

[2018-03-20 17:28] MicahMcKittrick-MSFT commented on #6017
@ThierryBT Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-20 17:29] MicahMcKittrick-MSFT commented on #6016
@vikaskumawat80
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-20 17:29] #6016 closed

[2018-03-20 17:30] georgewallace commented on #5398
@arcotek-ltd Just wanted to follow up and see if you were able to come up with an example where this is this the case.  As mentioned in a previous comment, when the Start-AzureRMAutomationRunbook cmdlet is ran, we serialize the object when calling the API.  The parameter "Parameters" is a System.Collections.IDictionary type for that actual parameter.  Please let me know soon as I would like to add

[2018-03-20 17:31] MicahMcKittrick-MSFT commented on #6015
@NiklasJern Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-20 17:33] MicahMcKittrick-MSFT commented on #6014
@JoNevi Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-03-20 17:33] dkkapur commented on #5839
@xela30 when you say simply collect reverse proxy logs from EventLog - do you mean you want your reverse proxy logs to be in EventLog or do you want to use EventLog as a source to redirect them elsewhere?

Here's a sample inputs section for getting the operational channel, health and load events, and error and critical reverse proxy logs:
[code]

If you want just verbose reverse proxy logs, switch

[2018-03-20 17:34] MicahMcKittrick-MSFT commented on #6013
@canoas Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-20 17:35] MicahMcKittrick-MSFT commented on #6011
@guyhorn1964 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-03-20 17:36] #5919 closed

[2018-03-20 17:36] MicahMcKittrick-MSFT commented on #6010
@bibliothek Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-20 17:36] rolyon commented on #5654
I incorporated MohitGargMSFT research and added a section in the Troubleshooting article for Azure Functions. Let me know if this does not address.
https://docs.microsoft.com/en-us/azure/active-directory/role-based-access-control-troubleshooting#azure-functions
thanks
#please-close

[2018-03-20 17:37] dkkapur commented on #6005
@jpoon that filters another set of events to be exposed via the ETW provider. Using '36' at the end will give you verbose logs from the reverse proxy. The '04' means you'll only get the events from the operational channel - https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-diagnostics-event-generation-operational.

[2018-03-20 17:38] MicahMcKittrick-MSFT commented on #6008
@NileshGhodekar Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-03-20 17:39] MicahMcKittrick-MSFT commented on #6007
@snrniranjan Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-20 17:41] MicahMcKittrick-MSFT commented on #6006
@ivanl8 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-20 17:42] rayne-wiselman commented on #5756
merged. We can close this.

[2018-03-20 17:42] MicahMcKittrick-MSFT commented on #6002
@JunyuanZheng Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-20 17:43] MicahMcKittrick-MSFT commented on #6001
@yeelam Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-20 17:45] jhenriks79 opened #6033 "Very Confusing Paragraph"
You should remove or reword this paragraph.  It's very confusing to be reading an article about SQL MI and have a paragraph that's specific to SQL DB.  For a SQL MI article, don't tell customers to use DMA and then tell them DMA isn't supported for SQL MI.

"Use Data Migration Assistant (DMA) to detect potential compatibility issues impacting database functionality on Azure SQL Database. DMA does

[2018-03-20 17:45] MicahMcKittrick-MSFT commented on #6000
@andrew-cooper Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-20 17:45] MicahMcKittrick-MSFT commented on #5999
@andrew-cooper Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-03-20 17:48] MicahMcKittrick-MSFT commented on #5997
@jgallucci32 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-03-20 17:49] MicahMcKittrick-MSFT commented on #6033
@jhenriks79 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-20 17:52] ggailey777 commented on #5336
#please-close

[2018-03-20 17:54] #5407 closed

[2018-03-20 17:54] #5505 closed

[2018-03-20 17:54] #5527 closed

[2018-03-20 17:54] #5851 closed

[2018-03-20 17:54] #5863 closed

[2018-03-20 17:55] #5869 closed

[2018-03-20 17:55] #5871 closed

[2018-03-20 17:55] #5894 closed

[2018-03-20 17:55] #5950 closed

[2018-03-20 18:07] #5756 closed

[2018-03-20 18:10] #5974 closed

[2018-03-20 18:10] MicahMcKittrick-MSFT commented on #5998
@ScottAzure Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-03-20 18:11] dancronintix commented on #5145
From the Azure CLI, after creating a resource group I attempted to run the command:
az ad sp create-for-rbac --role="Contributor" --scopes="/subscriptions/<subscriptionID>/resourceGroups/<resourceGroupName>"

I added the correct subID and resourceGroupName but I then get this error:
A Cloud Shell credential problem occurred. When you report the issue with the error below, please mention the hostna

[2018-03-20 18:11] Adam-Smith-MSFT commented on #6026
@xela30 Thank you for the valuable feedback,we are investigating the issue. I will assign it to the author for investigation.

[2018-03-20 18:14] dkkapur commented on #6026
Looks like we're following up on the previous issue.
Let's close this one to avoid duplicating threads.
#please-close

[2018-03-20 18:19] MicahMcKittrick-MSFT commented on #6023
@kringen Great question! I am assigning this issue to the author to help answer.

@bradsev can you provide some clarity on this?

[2018-03-20 18:20] JunyuanZheng commented on #6002
@MicahMcKittrick-MSFT Thank you!

Here is some background information:

Our blob-storage contains 2 different versions of `custom.dimensions`,

V1 we were using upper camel case for the field, so it's all like `UserType`, `UserId`

V2 we are using lower camel case, like `userType`, `userId`, we also added several new fields, e.g, `start`, `end`. One thing needs to mention is newly added fields do

[2018-03-20 18:23] MarekLani opened #6036 "Repair Manager details"
Please can you provide more details on Repair Manager System Service. How does it work, what is it responsbile for, asi this service is not described among System Services in documentation: https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-technical-overview#system-services Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2018-03-20 18:26] MohitGargMSFT commented on #5726
@jakedenyer-s24 We will now proceed to close this thread. If there are further questions regarding this matter, please open a MSDN Forum post and community will assist you regarding it. Refer to below link to ask new question in MSDN Forum -

[https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazureplatform](https://social.msdn.microsoft.com/Forums/azure/en-US/newthread

[2018-03-20 18:26] MicahMcKittrick-MSFT commented on #6021
Thanks for working on this @SteveMSFT.

@tysonn assigning this to you as I am having issues assigning this to Steve.

[2018-03-20 18:28] MicahMcKittrick-MSFT commented on #6000
@andrew-cooper I am assigning this to the author to review and update as needed.

@clemensv please take a look.

[2018-03-20 18:29] MohitGargMSFT commented on #5872
@jeremyhagan We will now proceed to close this thread. If there are further questions regarding this matter, please open a new MSDN forum post and community will help address your query. Please refer to below link to MSDN forum to ask new question -
[https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazureplatform](https://social.msdn.microsoft.com/Forums/azure/en-US/ne

[2018-03-20 18:29] #5881 closed

[2018-03-20 18:30] #5904 closed

[2018-03-20 18:30] SharmainePopov commented on #5995
Focusing on RHEL 7 which was an easy install but has issues with curl. Can you help?

Sharmaine Popov
Cloud Solution Architect |Microsoft Canada Inc. | sharmaine.popov@microsoft.com<mailto:sharmaine.popov@microsoft.com> | 416-799-0807

From: Sercan Guler [MSFT] <notifications@github.com>
Sent: Tuesday, March 20, 2018 1:00 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Sharmain

[2018-03-20 18:31] MohitGargMSFT commented on #5939
@SimpsonAK We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-20 18:35] mcupito commented on #6025
My personal opinion: If I'm going to MSDN to read up on documentation, it _never_ benefits the reader to not show the entire code (including the creation of all relevant objects when they are going to be used). In the documentation I commented on, that object would be `DocumentCollection` which is never declared, but is used via the variable `collection`. I've seen this moreso in `DocumentDb` docu

[2018-03-20 18:37] SenthuranSivananthan opened #6037 "RSA 2048 keys"
Include in the documentation that only RSA 2048 bit keys are supported.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7e05a67-3121-bbc2-7a46-637199104ea3
* Version Independent ID: 2802344c-0571-bdac-4755-580f75f404b0
* Content: [Azure Storage Service Encryption for Data at Rest](https://docs.microsoft.com/en-us/azure

[2018-03-20 18:51] neilpeterson commented on #5145
@dancronintix I notice that you have double slashes in you command and no resource group name. Does this accurately reflect the command that you've run?

The doc that this issue was raised for will be deprecated at some point int he future.  What are you trying to accomplish, I may be able to provide more up to date guidance.

Also, it would be helpful if you could raise a new issue to track - tha

[2018-03-20 18:51] #5856 closed

[2018-03-20 18:54] MK-Magensa commented on #5511
Update: Here is the error I receive:

C:\Windows\system32>sqlcmd -S SQLListener -E
Sqlcmd: Error: Microsoft ODBC Driver 11 for SQL Server : Named Pipes Provider: Could not open a connection to SQL Server [53]. .
Sqlcmd: Error: Microsoft ODBC Driver 11 for SQL Server : Login timeout expired.
Sqlcmd: Error: Microsoft ODBC Driver 11 for SQL Server : A network-related or in stance-specific error has o

[2018-03-20 18:57] tfitzmac commented on #5958
@JozoSlejko - thanks for this feedback. I am looking into this issue.

[2018-03-20 19:10] MohitGargMSFT commented on #5940
@akalcik We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-20 19:15] jeremyhagan opened #6038 "Pass Through Authentication"
Please provide guidance on configuring this feature with Pass Through Authentication

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72cdc251-618a-e84e-f40d-960b0ac69f99
* Version Independent ID: 8cbaba3c-e883-2c71-28fb-f88db3fcaf7d
* Content: [How to configure hybrid Azure Active Directory joined devices](https://docs.

[2018-03-20 19:26] smoms opened #6039 "function produces a wrong signature"
the ".ToLower()" in the generateSASToken function produces a wrong signature!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5abe8bb4-f610-0800-6ad8-b78349018779
* Version Independent ID: c772405d-98b1-ebdc-29e9-2b65da12ba99
* Content: [Understand Azure IoT Hub security](https://docs.microsoft.com/en-us/azure/iot-hub/i

[2018-03-20 19:26] CarlRabeler commented on #5779
#please-close

[2018-03-20 19:26] CarlRabeler commented on #5445
addressed and clarified
#please-close

[2018-03-20 19:27] CarlRabeler commented on #5840
#please-close

[2018-03-20 19:38] BryanTrach-MSFT commented on #5842
@ShaunInIdaho We have gone ahead and updated the link. Thank you for bringing this to our attention.

[2018-03-20 19:39] mrbullwinkle commented on #5323
@Ramji-S Thanks again for your question. I will close out this issue now.

[2018-03-20 19:40] mrbullwinkle commented on #5323
#please-close

[2018-03-20 19:45] nansravn opened #6040 "AWS PostgreSQL RDS and Azure Data Factory (with self-hosted IR)"
I need to configure Azure Data Factory to access a PostgreSQL DBS in AWS. When creating the Linked Server, it was not clear for me what option of Integration Runtime I should use and also it was not clear how to deal with my SSL certificate requirement (how should I add the certificate). So I have 2 feedbacks:
1) I think that it should be explained somewhere here in the document that, when you nee

[2018-03-20 19:52] nansravn opened #6041 "Few information comparing Power BI Embedded and Power BI Premium"
The session: "Comparing Power BI Embedded with Power BI Premium" doesn't have any comparison between Power BI Embedded and Premium.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bab0d199-c0c3-fd68-ceca-399c0b6ba3be
* Version Independent ID: 3a37f14c-c454-1082-c3ae-9054a60adc52
* Content: [About Azure Power BI Embedded

[2018-03-20 20:08] BryanTrach-MSFT commented on #6006
@ivanl8 Thank you for the heads up. We have updated the link in the left side navigation bar along with updating the link in one of the documents. The changes should be made public shortly.

[2018-03-20 20:14] MicahMcKittrick-MSFT commented on #5348
**Update**
We are working on getting this fixed today.

[2018-03-20 20:14] Mike-Ubezzi-MSFT commented on #5988
@acornsoft I believe this is by design. We are looking at the following to be added to the SQL (SET FMTONLY ON;) which would return the schema without regard to having any data. With this enabled, you would not return a dataset, only schema. It would need to be disabled once you have things sorted. In the Logic Apps configuration, we just do not see how to add it to the JSON.

[2018-03-20 20:15] Dukane opened #6042 "Azure King of Kings"
On a more serious basis, Azure documentations are awesome, awesome in content and knowledge delivery.
Frank Nduka
dukanef@msn.com

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c7b6472-793a-a701-e01d-f61baa45a04e
* Version Independent ID: 6a11a0eb-6e51-f924-37c2-fd7473467da0
* Content: [What is Azure Active Directory?

[2018-03-20 20:19] Mike-Ubezzi-MSFT commented on #5988
**Correction**
The SET FMTONLY ON functionality has been deprecated. See the below link, as it offers additional options of achieving the same functionality.

https://docs.microsoft.com/en-us/sql/t-sql/statements/set-fmtonly-transact-sql

[2018-03-20 20:21] dallasg opened #6043 "Update TollApp.zip link."
I get a 404 error when clicking on the TollApp.zip link.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 607f53f2-125f-ac00-8757-9ffdad4112a3
* Version Independent ID: c3ea49c4-1284-f94d-a773-89d6940e7037
* Content: [Build an IoT solution by using Stream Analytics](https://docs.microsoft.com/en-us/azure/stream-analytics

[2018-03-20 20:29] rndthoughts commented on #6010
I'm also interested in this!

[2018-03-20 20:37] neilpeterson commented on #6024
@AronT-TLV - thanks for the issue. The ingress controller can technically be placed in any namespace, but agreed that default is not the best place.

I have made an update to use `kube-system`, this issue will auto-close once the update has been merged.

Thanks again.

[2018-03-20 20:45] mike-urnun-msft commented on #5777
@nareshnagpal06 Thanks again for pointing this out. We have validated this issue and assigned it to the author to investigate further and take the right course of action.

[2018-03-20 20:47] AronT-TLV commented on #6024
Thanks @neilpeterson  Just want to note that the "nit picking" goes along with a great deal of appreciation for a great product along with great documentation! It's really amazing how Microsoft makes it so easy for your customers to give input and your responsiveness is greatly appreciated as well.

[2018-03-20 20:48] jeevansd commented on #5969
@HammerOfThor88 We have merged this change and you should see the change in few hours on the article.
@Adam-Smith-MSFT Can you please close this item?

[2018-03-20 20:49] jeevansd commented on #5953
@gdd1984 We have made the changes in the article and now it will be merged with the published article in few hours.
@Adam-Smith-MSFT Can you please close this item?

[2018-03-20 20:51] jeevansd commented on #5582
#close I hope you are clear @hishamam now.

[2018-03-20 20:51] jeevansd commented on #5582
@MicahMcKittrick-MSFT Please close this item now.

[2018-03-20 20:52] #5582 closed

[2018-03-20 21:06] #6027 closed

[2018-03-20 21:08] MarkusVi commented on #5835
Hi @lancebates, if you already have AD FS RP configured for authenticating federated users and getting tokens for O365, then there is no need to create a new RP in step #2.
I will add a note to the article.

#please-close

[2018-03-20 21:08] kgremban commented on #5717
Thanks for sharing your findings with us, @melzoghbi. How did you end up finding out about the ARM32 restriction? Maybe we should inform people about that earlier.

[2018-03-20 21:19] sriharsha9 commented on #5931
Hi,

Today I tried to create a function using Maven and Java and was not able to get it working as expected. I was not seeing the expected output neither I see any error.
Also, when we run the command mvn azure-functions:deploy, where does it deploy to in Azure? how do we specify resource-groups, pricing information?

Listening on http://localhost:7071/
Hit CTRL-C to exit...
Generating 0 job funct

[2018-03-20 21:20] twooley commented on #5882
@valentijnscholten Hello. I'm not able to reproduce this issue regarding the video quality. (I tried different browsers as well). Please be aware that these videos will be removed anyways in the very near feature and replaced by static text instructions. The updates will most likely go out mid to late next week. That should help your experience. I'm closing this issue because of the planned video

[2018-03-20 21:22] twooley commented on #5882
#please-close

[2018-03-20 21:27] cicorias opened #6045 "The SSH Reset key doesn't remove or replace, it appends the new key."
See PR https://github.com/MicrosoftDocs/azure-docs/pull/6044

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 67615ae5-3642-6038-80bf-fd54d94e6db1
* Version Independent ID: 6e9ce165-0809-2a8c-5ba7-a8c1f220594d
* Content: [Reset access to an Azure Linux VM](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/usi

[2018-03-20 21:27] MohitGargMSFT commented on #6010
@bibliothek @rndthoughts As of now we do not have an option to use Azure CLI 2.0 to upload custom policy for Azure AD B2C.

Please post this as a feedback @ [https://feedback.azure.com/forums/169401-azure-active-directory](https://feedback.azure.com/forums/169401-azure-active-directory) This will allow the community to up vote and for the product team to include into their plans.
We also have the

[2018-03-20 21:29] dlepow commented on #5996
@azure-cxp-triage - Discussed in email with @ScottAzure. Please reassign to @JarrettRenshaw to track as a possible enhancement to troubleshooting docs maintained by Support. Thx.

[2018-03-20 21:31] rdev37 opened #6046 "Service principal with client secret, also documentation update"
When accessing a Analysis Services located in EastUS2 it would appear that the correct url is https://aspaaseastus2.asazure.windows.net/servers/serverName/models/resource/refreshes

Does this url change affect the generation of the bearer access_token, is "https://*.asazure.windows.net" still correct?

I have been attempting to use a service principle but have only been receiving "401 Unauthorized

[2018-03-20 21:32] davidmu1 commented on #5649
@spottedmahn Thank you for bringing this to our attention. We have opened an item in our documentation backlog to have this investigated and updated. We'll respond back to you on this issue when we've done the work. For now, we'll close this GitHub issue.

#please-close

[2018-03-20 21:32] davidmu1 commented on #5646
@spottedmahn Thank you for bringing this to our attention. We have opened an item in our documentation backlog to have this investigated and updated. We'll respond back to you on this issue when we've done the work. For now, we'll close this GitHub issue.

#please-close

[2018-03-20 21:33] davidmu1 commented on #5545
@spottedmahn  Thank you for bringing this to our attention. We have opened an item in our documentation backlog to have this investigated and updated. We'll respond back to you on this issue when we've done the work. For now, we'll close this GitHub issue.

#please-close

[2018-03-20 21:34] davidmu1 commented on #5217
@spottedmahn  Thank you for bringing this to our attention. We have opened an item in our documentation backlog to have this investigated and updated. We'll respond back to you on this issue when we've done the work. For now, we'll close this GitHub issue.

#please-close

[2018-03-20 21:36] tfitzmac commented on #5702
@MerrionComputing - thanks for this feedback, and sorry about the delay in getting back to you. I agree some guidance would be helpful. I am checking to see what type of recommendation works for all scenarios. #in-process

[2018-03-20 21:39] kgremban commented on #5346
@sandervandevelde The connectionModuleId is part of the system properties section of the message. (Reference: https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-messages-construct) and you can query system properties with the $ in front of the property name (Reference: https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-query-language#device-to-cloud-message-routes-query-e

[2018-03-20 21:52] MK-Magensa commented on #5511
Update 2:
I Rebooted SQL1 and logged on to SQL2 and the Client Access Point was Offline Right Clicked Bring Online nothing.
Right Clicked again Properties then Dependencies.
	Error: The given key was not present in the dictionary.

[2018-03-20 21:53] markdwood opened #6047 "Typo"
I think scripts need to be idempotent, not impotent!

as in "Verify that the script is impotent"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0ccb90c-5cb0-d6b8-4eb3-725689ba84c7
* Version Independent ID: b8a7dbfd-2a4c-b5e3-1642-4d8996d1ab72
* Content: [Script action development with Linux-based HDInsight - Azure](ht

[2018-03-20 22:05] #6024 closed

[2018-03-20 22:13] JoNevi commented on #5970
@jamesbascle If you have Diagnostic Logs enabled in the Batch Account your .Net component uses, then you can pick up copies of the 3 .json files from there.  Enabling Diagnostic Logs creates a Container named "adfjobs" or suchlike, in which there will be a GUID 'folder' per execution.  Most of those folders will have an output subfolder, but at least once per day (I haven't cracked the code for ho

[2018-03-20 22:16] JoNevi commented on #5970
Oh, and if you have thousands of Log entries then you can use PowerShell to zoom in on the ones you need.  Here's the scratch code I use:

$minDateToKeep = (Get-Date 2018-03-01);
$useAccount = Get-AzureRmStorageAccount <put your account details here>
$ctx = $useAccount.Context;
$jobsContainer = Get-AzureStorageContainer -Context $ctx | Where {$_.Name -eq "adfjobs"};
Get-AzureStorageBlob -Context $

[2018-03-20 22:25] JoNevi opened #6049 "LinkedServices connectionString example?"
In the section "Passing objects and properties" in the C# code you give the example of: 'linkedServices[0].properties.typeProperties.connectionString.value' and yet in the JSON code above that there is no connectionString in the referenceObjects property.  Is this a typo?  Or a copy+paste error from the extendedProperties example (where there *is* a connectionString)?  I'm following the code line-

[2018-03-20 22:40] JohnDoe2193 commented on #5511
@MK-Magensa : I don't think connecting to the listener from any of the replicas is how AlwaysOn is intended to be used. I think the idea is to connect to the listener from, say, application server that is NOT hosting any SQL instances. For example, you may try connecting to the listener from domain controller or setup a new VM.

[2018-03-20 22:46] Mike-Ubezzi-MSFT commented on #6033
@bonova The specific paragraph is found in [this section](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-managed-instance-migrate#assess-managed-instance-compatibility) of the document. The title of the document is "SQL Server instance migration to Azure SQL Database Managed Instance" and the second paragraph of the linked section is telling you to use Data Migration Assistant.

[2018-03-20 22:46] mtwelve opened #6050 "Would the absence of the ADFS rules interfere with AAD Hybrid Join?"
We have Windows 10 Devices that are registered in AAD as Hybrid Join however we don't have the specified ADFS claims in place.

Though our devices meet the minimum specification we are unable to backup our BitLocker keys to AAD.

Would the lack of the ADFS claims cause this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2018-03-20 22:51] acornsoft commented on #5988
Still looking for a good example that uses the pagination feature with 100000+ rows.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Mike Ubezzi <notifications@github.com>
Sent: Tuesday, March 20, 2018 4:19:28 PM
To: MicrosoftDocs/azure-docs
Cc: David Blaszyk @ Info; Mention
Subject: Re: [MicrosoftDocs/azure-docs] SQL Server - Get rows (#5988)

Correction
The SET

[2018-03-20 22:57] MohitGargMSFT commented on #6013
@canoas Please note that you can either use AD Connect to update the SSL certificate or refer to this article to [Managing SSL Certificates in AD FS and WAP in Windows Server 2016](https://docs.microsoft.com/en-us/windows-server/identity/ad-fs/operations/manage-ssl-certificates-ad-fs-wap) which uses powershell command Set-AdfsSslCertificate to install new SSL Certificate.

[2018-03-20 23:04] MohitGargMSFT commented on #6017
@ThierryBT Hi, This issue is assigned to author to review and update as appropriate. Thanks.

[2018-03-20 23:19] amanarneja commented on #6041
@nansravn Thanks for the feedback! I have assigned this issue to the author to triage your suggestion and update as appropriate.

[2018-03-20 23:28] canoas commented on #6013
Besides updating the certificate locally (AD FS farm), we faced some issues with AzureAD login not working. There must be something else needed in the end to force AzureAD to refresh FederationMetadata. We found some old/deprecated scripts to force that:  [Update-MSOLFederatedDomain ](https://docs.microsoft.com/en-us/powershell/module/msonline/update-msolfederateddomain?view=azureadps-1.0)

Anyway

[2018-03-20 23:30] MohitGargMSFT commented on #6020
@ChrisParrBIE This issue is assigned to author to investigate and update as appropriate. Thanks.

[2018-03-20 23:32] mike-urnun-msft commented on #6036
@MarekLani Thank you for your feedback! We will investigate and get back to you with the relevant info.

[2018-03-20 23:33] mike-urnun-msft commented on #6037
@SenthuranSivananthan Thank you for reporting this issue! We will investigate and make any necessary changes.

[2018-03-20 23:34] mike-urnun-msft commented on #6038
@jeremyhagan Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-03-20 23:35] mike-urnun-msft commented on #6039
@smoms Thank you for your feedback! We will investigate and take necessary course of action.

[2018-03-20 23:36] mike-urnun-msft commented on #6040
@nansravn Thank you for your feedback! We will investigate and get back to you with the relevant info.

[2018-03-20 23:40] mike-urnun-msft commented on #6042
@Dukane Thanks for the Kudos! We're happy that our docs and their content met your expectations!

[2018-03-20 23:40] #6042 closed

[2018-03-20 23:41] mike-urnun-msft commented on #6043
@dallasg Thank you for your feedback! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-03-20 23:42] mike-urnun-msft commented on #6045
@cicorias Thank you for reporting this issue! We will investigate and make any necessary changes.

[2018-03-20 23:43] MohitGargMSFT commented on #6028
@LoremanReturns We do not have date to share. Please check this document to know new features releasing each month and also can subscribe to the [feed](https://docs.microsoft.com/api/search/rss?search=%22whats%20new%20in%20azure%20active%20directory%22&locale=en-us) to stay up to date with what's new in Azure Active Directory (Azure AD).

[2018-03-20 23:44] #6028 closed

[2018-03-20 23:45] brohrer commented on #5834
Excellent. Thanks @j-martens.

[2018-03-20 23:45] mike-urnun-msft commented on #6046
@rdev37 Thank you for your feedback! We will investigate and get back to you with the relevant info.

[2018-03-20 23:45] mike-urnun-msft commented on #6047
@markdwood Thank you for reporting this issue! We will investigate and make any necessary changes.

[2018-03-20 23:46] mike-urnun-msft commented on #6049
@JoNevi Thank you for your feedback! We will investigate and get back to you with the relevant info.

[2018-03-20 23:47] mike-urnun-msft commented on #6050
@mtwelve Thank you for your feedback! We will investigate and get back to you with the relevant info.

[2018-03-20 23:49] MohitGargMSFT commented on #6038
@jeremyhagan You can follow this document to understand about [Pass Through Authentication](https://docs.microsoft.com/en-us/azure/active-directory/connect/active-directory-aadconnect-pass-through-authentication). You can navigate to document tree structure on left of the document to get more related documents around it.

[2018-03-20 23:50] anandyadavMSFT commented on #6013
@canoas Great feedback on the PowerShell script part. We will work on it and see if we can make it available. But just to give some context, the whole process in the wizard happens in staggered manner - for example when you provide the certificate some of the checks are done at that point and then some of the checks are done during the final configuration. Nevertheless, your feedback is valid and

[2018-03-20 23:53] SyntaxC4 commented on #5297
@leftler Thanks for your feedback. It seems we don't have enough information from you to be able to action on this item at this time. I received an update from @vladvino who said he wasn't able to reproduce the issue either.

Please provide additional information to help us track down how we can address this content bug.

For now, #please-close

[2018-03-20 23:55] #5217 closed

[2018-03-20 23:55] #5323 closed

[2018-03-20 23:56] #5336 closed

[2018-03-20 23:56] #5445 closed

[2018-03-20 23:59] #5545 closed

[2018-03-20 23:59] #5646 closed

[2018-03-20 23:59] #5649 closed

[2018-03-21 00:00] #5654 closed

[2018-03-21 00:00] #5835 closed

[2018-03-21 00:00] #5840 closed

[2018-03-21 00:01] #5882 closed

[2018-03-21 00:01] #6026 closed

[2018-03-21 00:01] MicahMcKittrick-MSFT commented on #6045
MicrosoftDocs/azure-docs#6044

[2018-03-21 00:02] MohitGargMSFT commented on #6050
@mtwelve Please confirm that you followed steps mentioned in this section of the document - [Step 2: Setup issuance of claims](https://docs.microsoft.com/en-us/azure/active-directory/device-management-hybrid-azuread-joined-devices-setup#step-2-setup-issuance-of-claims) as part of configuring hybrid AAD joined device.

[2018-03-21 00:03] MicahMcKittrick-MSFT commented on #6045
@dlepow assigning this to you as you are working on the PR.

Linked it to this issue as well.

[2018-03-21 00:06] MicahMcKittrick-MSFT commented on #6036
@MarekLani thanks for this feedback. I am assigning this to the author to review and update the doc as appropriate.

@novino can you take a look and see if it makes sense to update the doc?

[2018-03-21 00:09] niceysj opened #6056 "What is "Properties" parameter value??"
Missing the value~!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7dc8ef75-1f1d-2d0c-12ad-20159bfd26b9
* Version Independent ID: 03ecc613-7ab0-b470-6995-acc8583bb683
* Content: [Add tenants for usage and billing to Azure Stack](https://docs.microsoft.com/en-us/azure/azure-stack/azure-stack-csp-howto-register-tenants)

[2018-03-21 00:12] #5297 closed

[2018-03-21 00:12] #5779 closed

[2018-03-21 00:21] peternield opened #6057 "Require domain joined (Hybrid Azure AD)"
Can you please confirm that this options requires the device to only be joined to an on-premises AD forest, as implied by the statement "devices that are not connected to Azure AD but joined to your AD"? Is there any other requirements associated with this condition, such as the computer object needing to be sync'ed to Azure AD or the device being Azure AD Joined?

---
#### Document Details

⚠ *Do

[2018-03-21 00:53] SyntaxC4 commented on #5240
Hi @leftler Thanks for the feedback.

Considering there isn't a great way to keep the video and the content related, I think we can leave your comment as the pointer to the code instead of adding it to the article.

#please-close

[2018-03-21 00:57] SyntaxC4 commented on #5957
@guillaumemeyer Thanks for your feedback! Can you clarify that you are using the Azure CLI within a PowerShell window? If this is the case, I understand that the command may break. What would you suggest for the best way to address this, keeping in mind that other users could be using this from a Mac or Linux terminal?

[2018-03-21 01:03] niceysj opened #6058 "More detail explain this step."
I can't understand this step.
You and Mary must coordinate administrative steps across both the directory Azure Stack is installed in (Contoso), and the guest directory (Fabrikam).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27974ff6-00a9-4ed4-94ab-6b7dd1e2325e
* Version Independent ID: ffbe2e63-9cd2-327b-759c-66635

[2018-03-21 01:04] femsulu commented on #5819
@pvrk I received an update from the content author that your feedback has been added to the doc backlog which means these will be resolved soon- based on priority. Thanks again for sharing helpful feedback. Now closing this issue as resolved but do not hesitate to reopen if needed and we will be happy continue the discussion.

[2018-03-21 01:04] #5819 closed

[2018-03-21 01:22] jeffreyCline opened #6059 "Chart data wrong form Memory Optimized Pricing Tier"
Memory Optimized only goes up to 16 vCores, not 32.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61a86489-2b1d-1b42-687a-5d4323ad7306
* Version Independent ID: 48c0caea-6b9a-add5-9fb5-ef995c737064
* Content: [Limitations in Azure Database for PostgreSQL](https://docs.microsoft.com/en-us/azure/postgresql/concepts-limi

[2018-03-21 01:29] jason-j-MSFT commented on #5911
@RajuKanumuri
I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-03-21 01:53] mimig1 commented on #5941
#in-process @AnddrewHoh is investigating

[2018-03-21 02:33] mtwelve commented on #6050
We haven't yet completed those steps but the devices have begun showing as Hybrid Joined in AAD.

[2018-03-21 02:40] #5240 closed

[2018-03-21 03:10] YeeSuan95 opened #6060 "Unable to return 1 million person objects"
As the new release is LargePersonGroup which can cater up to 1 million person objects per large person group, then why is it still only able to return 1000 person objects instead of 1 million person objects for the top parameter in ListPersonsInLargePersonGroupAsync method if my start parameter is 0?  Example "start=0&top=100 000 000"

---
#### Document Details

⚠ *Do not edit this section. It is

[2018-03-21 03:38] novino commented on #6036
I'll add an introductory para about repair manager under https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-technical-overview#system-services
Thanks for the feedback.

[2018-03-21 03:48] SteveMSFT commented on #6060
Hi @YeeSuan95,

Return 1000 persons is by design as the valid scope for `top` is [1, 1000].
Please refer to the API Reference below and see more information in the `Request parameters` section.
Setting `top` to `1,000,000` will return an error.

https://westus.dev.cognitive.microsoft.com/docs/services/563879b61984550e40cbbe8d/operations/599adda06ac60f11b48b5aa1

Thanks!

[2018-03-21 04:05] YeeSuan95 commented on #6060
Hi @SteveMSFT ,

I had read the document before posting my enquiry about this. In the future, does the design will still only be returning maximum 1000 entries?

If the maximum is still 1000 entries for `ListPersonsInLargePersonGroupAsync` method, does that mean I have to loop around until it reaches the maximum of person objects in my cloud storage?

[2018-03-21 05:34] ggailey777 commented on #5977
Hey @julielerman, thanks for the feedback! As an MS MVP, can you also please answer a few follow-up questions? 😁
+ Do you think we need HTTP request examples for each function shown in this reference topic?
+ Would you expect to see a CURL command or raw request/response messages?
+ Do users also want to see code that triggers the queue examples?
+ Do you have the same feedback for the [HTTP and W

[2018-03-21 05:37] ggailey777 commented on #5755
This update is actively being worked on. Can we get a #resolved tag added while we wait for the doc update to be completed?

[2018-03-21 05:42] Mike-EEE opened #6062 "Setting LocalHttpPort Does Not Work as Expected"
The documentation here states that LocalHttpPort is used to set the port the server runs on, but I am setting a different port and it is not respected.

Looks like there is another issue here, but its workaround does not work for me:
https://github.com/Azure/Azure-Functions/issues/584

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2018-03-21 05:46] ggailey777 commented on #6029
@laultman I hope I can get a bit more feedback from you about your comments.

1. I assume from the context that your comments are meant for the entire Functions documentation set and not just the triggers and bindings topic, is that a correct assumption?
2. If so, what was your entry point for the Functions documentation. Did you come in from Google?
3. Can you share with us examples of products/s

[2018-03-21 06:29] dtissen commented on #5694
Hi,

No does not help but thanks. Please see https://serverfault.com/questions/901382/azure-how-to-forward-port-to-another-vm.

Both examples do not allow to forward ports to specific IP's. Also Loadbalancer is able to forward a port to a specific IP. But once you have one rule you are unable to add another rule to foraward to another ip....

I want to forward ports to specific ips. IPtAbles and o

[2018-03-21 07:12] j-wilkie opened #6065 "Menu format change in step 2"
Just a small change but in step 2 of "Create an Azure Data Lake Store account", "Data Lake Store" can now be found in "Storage" or "Data + Analytics".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ccf20f6-c70a-8372-5764-534fea16e7f4
* Version Independent ID: 40eeda07-3d7a-b064-3d10-0c9a1f1f2d72
* Content: [Use Azure

[2018-03-21 07:13] jpalo opened #6066 "Reference only accepts 1 or 2 parameters"
Why does my reference complain that it only accepts 1-2 parameters, so not able to define 'full'.

e.g., here:
"type": "Microsoft.KeyVault/vaults",
      "name": "[parameters('vaultName')]",
      "apiVersion": "2016-10-01",
      "location": "westeurope",
      "properties": {
        "sku": {
          "family": "A",
          "name": "standard"
        },
        "tenantId": "[reference(concat(

[2018-03-21 07:15] mike-urnun-msft commented on #6047
Thanks for pointing this out @markdwood! We have corrected this typo, and the change will reflect after our next scheduled merge; and this issue will auto-close.

[2018-03-21 07:37] ggailey777 commented on #5831
@tsahi we have been trying to de-emphasize the built-in logging (which uses Storage) in favor of Application Insights, which is much better for production. You are looking for [this section](https://docs.microsoft.com/azure/azure-functions/functions-monitoring#logging-to-storage) of the Monitor topic.
The actual location of the log files (which we need to add to this topic) is in the File Share us

[2018-03-21 07:49] rcsprakash commented on #5336
Haven't get any solution for my query. Don't know will get in future.

[2018-03-21 07:52] ThierryBT opened #6067 "What content for the group AAD DC Administrators"
Hi and sorry for my English,
I do not understand how the group AAD DC Administrators is prepared.
In my case, I have 6 members in my Azure Active Directory.
The same group does not have member in my AD Service.
When I add the group in Remote Desktop local group (see #6017), no member of has the right to connect on the server.
Regards

---
#### Document Details

⚠ *Do not edit this section. It is r

[2018-03-21 08:07] ThierryBT commented on #6067
My Screen
![git6067](https://user-images.githubusercontent.com/28751337/37699297-3fa93c6e-2ce7-11e8-91f5-9e8ecd5f4465.png)

[2018-03-21 08:07] #6067 closed

[2018-03-21 08:13] ChristianEder opened #6068 "Reliability of routing IoT Hub messages to a service bus queue"
One of the major reasons I might want to route messages from IoT Hub into a service bus queue and process messages from there - as opposed to reading them directly from IoT Hub using e.g. Event Processor Host, would be the features regarding reliability a service bus queue gives me.

This opens up the question on how reliable the routing form IoT Hub into a service bus queue is - whats the QoS pro

[2018-03-21 08:32] SjoerdWesterhof opened #6070 "Automatic rollover for SAML certificates"
As far as i understand, configuring a custom SAML enterprise Application in Azure does not support automatic signing key rollover since Azure does not expose the Metadata document for SAML at an Http Endpoint or am i missing something?

Kind regards

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9969132-6172-2284-d67f

[2018-03-21 09:09] chrift opened #6072 "Error message"
When I submit my signup form after completing this, I get the error: "One or more fields are filled out incorrectly. Please check your entries and try again."
I've gone through it multiple times, and unless I'm missing a very subtle step, then I think this walkthrough is wrong.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-03-21 09:43] akashdathan opened #6073 "Outdated code syntax"
Outdated code syntax

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df367d1d-ef56-4256-9323-163aba5f849d
* Version Independent ID: 9427de16-2834-a8b4-f982-5379246a7d34
* Content: [Node.js Quickstart for Azure Cognitive Services, Microsoft Translator Text API](https://docs.microsoft.com/en-in/azure/cognitive-services/tr

[2018-03-21 10:17] Velmurugan-n opened #6074 "More steps"
Hopefully the above steps are easy to follow app developers using VSTS, As Infra people may not be able to do. Please add more screen shot and step by step statement will help infra people who is testing / evaluating Azure stack hybrid App.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0e54ed0-e139-1569-adc8-1833de46

[2018-03-21 10:29] xela30 commented on #5902
@rishirsinha
on-premise, version 6.1.456.9494
OS: Windows Server 2016

[2018-03-21 11:40] xela30 commented on #5839
@dkkapur Ideally it would be nice to have them in EventLog.
To be clear, I'm using Splunk Forwarder to collect logs from different sources including EventLog on the box and then send them to the Splunk server for further aggregation.
Thank you for ETW input sample. :)
@Adam-Smith-MSFT BTW, I can't reopen the item closed by repository collaborator. :)

[2018-03-21 11:43] mrbullwinkle commented on #5633
@nikmd23 Depending on the length/complexity of the list it could live in this doc: [https://docs.microsoft.com/azure/application-insights/application-insights-correlation](https://docs.microsoft.com/azure/application-insights/application-insights-correlation)

But if it makes more sense to have a new dedicated doc for this topic, we can do that as well.

[2018-03-21 11:51] julielerman commented on #5977
Hi Glenn and Tom.

- since the different examples do different things it might not be a bad idea to show an HTTP request for each one. It helps sort out how the parameters of the run/exports related to the call.

- I've never used CURL so I can't answer that question

- re code that triggers? I think referencing docs that show how to build code to call would be enough. OTOH, I know that when I wro

[2018-03-21 13:13] ssugar opened #6076 "Uninstall Snapshot Extension"
Snapshot Extension doesn't show up in the Azure portal for me.  Instructions here seem to have manually removed the snapshot extension at the VM level: https://github.com/Azure/WALinuxAgent/issues/1059

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d3159e0-fb4e-ac85-e88d-f085ac54a13f
* Version Independent ID: 1046a441

[2018-03-21 13:37] SamirFarhat opened #6077 "The ASG memebers are not included on the ASG object"
i,

Why are we not able to get the members (NICs) of an Application Security Group when requesting it (via Rest API for example).
For example, if i make a rest API Get request against an ASG, i get only basic information like Name, ID.. but not the members
------------
{
"name": "WebServers",
"id": "/subscriptions/xxxx_xxxxxx_xxxxx-3cxxxxxxxxx/resourceGroups/myResourceGroup/providers/Microsoft.Net

[2018-03-21 13:41] melzoghbi commented on #5717
Yes. This article is misleading because the ML module has never been **tested** on an actual ARM32 device such as RPI3. I spent few days to make this model up and running on an actual device and never worked! We need to clearly state that running this ML module on ARM32 devices is not supported now because the IoT Edge does not support ARM32 devices yet. The specific reason behind this is: the **e

[2018-03-21 14:00] nitinkale opened #6078 "Datacontract opt in mechanism doesn't work with service fabric remoting"
Datacontract opt in mechanism doesn't work with service fabric remoting

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8902374b-b631-9d50-16ef-1899ea2dd29d
* Version Independent ID: 55351e69-aa2a-901c-a563-106b62e3d6ac
* Content: [Service remoting in Service Fabric](https://docs.microsoft.com/en-us/azure/service-fabric

[2018-03-21 14:01] PnetTech opened #6079 "Authentication Pin Prompt"
How can you enable a prompt for the Pin generated via TXT message or authentication app (MS or Google)? During testing, I receive the MFA TXT message from Azure, but there is no place to enter the Pin. If the authentication Pin is not an option then what are the MFA options supported in this scenario?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2018-03-21 14:04] JozoSlejko commented on #5958
Intention of my first post is to provide info about my experience with App Service Certificates and Web Apps which have these certificates imported. I'm refering to certificates which you buy via Azure portal.
Couple of points:
1. This article doesn't mention App Service Certificates.
2. If your intention is to migrate App services without any "downtime", without having to unbind and delete certif

[2018-03-21 14:18] JozoSlejko opened #6080 "App Service Environment for PowerApps"
At the beggining of the article you have a link "App Service Environment for PowerApps". Can you explain the "for PowerApps" part? Is this just an error in the article?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e30dfd76-2a83-bd21-2153-85e32894014e
* Version Independent ID: 9dca62e8-0aef-10eb-b2d3-2ab12087f90a
* Co

[2018-03-21 14:44] cstainie opened #6083 "Incorrect Set of Parameters - New-OnPremiseHybridWorker.ps1"
Hi Guys,

No major thing but the script New-OnPremiseHybridWorker.ps1 has been changed, resulting in a different set of parameters to be used.

New-OnPremiseHybridWorker.ps1 -AutomationAccountName ... -AAResourceGroupName "..." -Hyb
	ridGroupName ... -SubscriptionId ... -WorkspaceName IXBEOMS001 -OmsResourceGroupName "..."

Kind regards,
Cédric

---
#### Document Details

⚠ *Do not edit this secti

[2018-03-21 14:46] mmacy commented on #5231
Hello Patrick @plzm, the new article on ACR storage has been published:

[Container image storage in Azure Container Registry](https://docs.microsoft.com/azure/container-registry/container-registry-storage)

I believe we've taken care of the items you raised, so I'll request to have this issue closed. Please let us know if you have any further questions, however, and we'll address them here. Thank

[2018-03-21 14:55] sorgina13 opened #6084 "Password for fileserver when creating it from putty"
The command below should contain the password in inverted commas :
az batchai cluster create -n landuseclassifier2 -u demoUser -p "Dem0Pa$$w0rd" --afs-name baitshare --nfs landuseclassifier --image UbuntuDSVM --vm-size STANDARD_NC6 --max 2 --min 2 --storage-account-name %STORAGE_ACCOUNT_NAME%

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2018-03-21 14:58] guillaumemeyer commented on #5957
@SyntaxC4 , the problem occurs when using _Azure Cloud Shell_ from the Azure Portal.
The example provided is using a "`--runtime`" parameter to specify nodejs version as "`NODE|6.9`".
In Azure Cloud Shell (at least, not tested from windows powershell command line), the pipe character is considered as a "pipe PS commands".
So the example must include a "`--%`" to escape pipe.

To adresse this prope

[2018-03-21 15:14] ggailey777 commented on #5336
@rcsprakash did you ask in the Cosmos DB forums or on Stack Overflow?

[2018-03-21 15:16] KirkMunro opened #6087 "PR #3658 needs to be re-opened and merged"
PR #3658 needs to be re-opened and merged. The decision to close PR it was related to in Azure PowerShell has been reversed, and the PR was approved and merged a while ago. @tysonn isn't responding replies on that PR, so I decided to log a new issue to get new eyes on this. Would someone on the docs team please re-open #3658 and get it merged so that docs are reflective of the latest updates in Az

[2018-03-21 16:00] MarekLani opened #6090 "State need to use WindowsServer2016DatacenterwithContainers"
Hi, my recommendation is, that tutorial should state the fact, that for the own cluster it is necessary to use WindowsServer2016DatacenterwithContainers OS as by default Windows Server without docker support is used.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 218506d1-caba-0633-ecaa-b92cf58cbc9b
* Version Independe

[2018-03-21 16:01] usharam73 opened #6092 "Having issues creating webapp with python runtime"
Hello I tried the steps outlined in this document and when I try create az webapp create command iam seeing the following error runtime python|3.4 was throwing error

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac1cd213-5a9f-ae10-73b5-96061bfbd9d9
* Version Independent ID: cec78ca0-f4c0-970e-dde0-44db72d3819f
* Conte

[2018-03-21 16:07] sethmanheim commented on #5999
@andrew-cooper Hello and thanks for the feedback. This would be a good addition to the table -- thank you for pointing it out and I'll get it added right away.

[2018-03-21 16:29] SteveMSFT commented on #6060
Hi @YeeSuan95,

The return of 1,000,000 entries is not a practical response. This is related to the limitation of the Azure Query which only return a maximum of 1,000 entities [1].

[1] https://docs.microsoft.com/en-us/rest/api/storageservices/Query-Entities?redirectedfrom=MSDN#remarks

Thanks!

[2018-03-21 16:31] #5139 closed

[2018-03-21 16:40] craigvphillips opened #6095 "Not correct"
"Region availability
Load Balancer Standard is currently available in all public cloud regions except West US."

This is apparently not correct and contradicts other MSFT documentation!!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09325ff2-5a0a-0aff-e3cb-d1c0585a6842
* Version Independent ID: f370d680-5d1d-99a9-e350

[2018-03-21 16:45] sethmanheim commented on #5999
@andrew-cooper @MicahMcKittrick-MSFT The fix has been merged and should be published live within 24 hours.

[2018-03-21 16:45] sethmanheim commented on #5999
@andrew-cooper @MicahMcKittrick-MSFT The fix has been merged and should be published live within 24 hours.

[2018-03-21 16:46] #5999 closed

[2018-03-21 16:49] andyjenkinson opened #6096 "Out of date"
This page says you cannot receive a token for a standalone API from a client application with a different application ID. However you can, it seems to work fine.

Also it says you can't use the v2 endpoint for apps registered in Azure AD, but you can.

I am guessing there are other inaccuracies that you'd be able to spot; I think you need to review this page in its entirety. To give you an idea of

[2018-03-21 16:50] Thraka commented on #5637
@uandrei Please respond, thanks!

[2018-03-21 17:10] #5149 closed

[2018-03-21 17:11] #5231 closed

[2018-03-21 17:11] KumudD commented on #6095
@craigvphillips Thanks for your feedback!

 I confirmed with the service PM that the information in the "Azure Load Balancer Standard Overview" doc is accurate.  Please, can you provide  a link to the MSFT docs that have the contradictory information.  I will be able to help address the inaccuracy in those docs.
Thanks, once again!

[2018-03-21 17:27] iainfoulds commented on #5694
I don't believe that behavior is currently available. @KumudD Can you review this load balancer behavior question, please? If it's not currently supported, best approach would be to file a feature request against the product itself rather than the documentation - https://feedback.azure.com/forums/217313-networking?category_id=77467

[2018-03-21 17:27] mike-urnun-msft commented on #5988
Hi @acornsoft,

The 3rd link that @Mike-Ubezzi-MSFT provided above precisely discusses the configuration for Pagination feature against large set of data; 100000+ rows. Have you had a chance to check it out?

_SQL Pagination for bulk data transfer with Logic Apps_
https://social.technet.microsoft.com/wiki/contents/articles/40060.sql-pagination-for-bulk-data-transfer-with-logic-apps.aspx

In a nuts

[2018-03-21 17:31] acornsoft commented on #5988
So, suffice it to say, the Pagination options under Settings, would not apply in trying to process say 10,000+ more rows of data, I have to resort to this type of implementation.  It would seem that having the GetRows function paginate and works across a LARGE data set would be a fundamental feature of Logic Apps.  Just my 0.02.

From: Mike Urnun [mailto:notifications@github.com]
Sent: Wednesday,

[2018-03-21 17:38] jeevansd commented on #5969
#please-close

[2018-03-21 17:50] JaDevGuy opened #6101 "Username allows only 32 characters for VMAccessLinuxExtension"
This documentation is incorrect regarding the length of the username. It states we allow 1 – 64 characters however the linux shell command used under the hood allows only up to 32.

In the VMAccess linux extension we are using the waagent.MyDistro.CreateAccount which uses the shell command useradd to create the user account.
The documentation for the useradd command states it allows only up to 32

[2018-03-21 17:53] SnehaGunda commented on #6043
#in-progress

[2018-03-21 18:00] girishgoudar commented on #5348
Is there any update on the issue

[2018-03-21 18:23] wagesworld opened #6102 "Failover Timing - additional information"
It should be noted that under the Failover Timing section, the "intermediate step" may require increasing B-Series vCPU quota regardless of what series the target failover machines are using. It appears that the "intermediate step" leverages B-Series machine types to create temporary VMs as part of the transition to the final failover machine types.  The current low initial quota of 30 B-Series vC

[2018-03-21 18:28] thiagonevesuf opened #6103 "Fail to run"
Hi! I tried running the complete tutorial in Eclipse and I'm getting this error message :

SEVERE: A child container failed during start
java.util.concurrent.ExecutionException: org.apache.catalina.LifecycleException: Failed to start component [StandardEngine[Catalina].StandardHost[localhost].StandardContext[/adal4jsample]]
	at java.util.concurrent.FutureTask.report(FutureTask.java:122)
	at java.u

[2018-03-21 18:28] vturecek commented on #5661
Let's track this is at Azure/service-fabric-services-and-actors-dotnet#91 since this looks more like an issue with the SDK rather than the docs.

#please-close

[2018-03-21 18:30] dmarlow opened #6105 "Authentication failure"
Followed the steps, but I cannot login as an AAD user. Here's the error in auth.log:

sshd[41632]: pam_unix(sshd:auth): authentication failure; logname= uid=0 euid=0 tty=ssh ruser= rhost=172.16.x.x  user=bob@CONTOSO100.COM
pam_sss(sshd:auth): authentication success; logname= uid=0 euid=0 tty=ssh ruser= rhost=172.16.x.x user=bob@CONTOSO100.COM
pam_sss(sshd:account): Access denied for user bob@CONTO

[2018-03-21 18:38] juhacket commented on #5463
The documentation has been updated with the correct default values.

"serviceName": {
     "type": "string",
     "defaultValue": **"Application1~Service1**",
     "metadata": {
       "description": "The name of the service resource in the format of {applicationName}~{serviceName}."
     }
   },

#please-close

[2018-03-21 18:58] dmarlow commented on #6105
I figured it out. I looked in the following log

`sudo tail -f sssd/sssd_<DOMAIN>.log`

and saw that there was an error parsing a GPO `ad_gpo_parse_gpo_child_response failed`

I created a new OU, moved the machine to the new OU without any GPOs applied and was then able to login.

[2018-03-21 18:58] #6105 closed

[2018-03-21 19:14] aumanjoa opened #6108 "not possible to geht javascript snippet"
Hey,

the way like described in https://docs.microsoft.com/en-us/azure/application-insights/app-insights-javascript#add-the-sdk-script-to-your-app-or-web-pages is not possible anymore. I can not find the snippet under "getting started" where I can get the snippet from to put it into my one page application?

Is there a best practice way to use application insights for react applications which are

[2018-03-21 19:30] MohitGargMSFT commented on #6050
@mtwelve Please complete the steps and let us know if you still face issue.

[2018-03-21 19:34] seanfdnn opened #6110 "How to rename restored Datawarehouse?"
Article says a restored SQLDW can be renamed ... but how? Can't find any documentation. RENAME T-SQL docs say do not apply to DW

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 815caf94-8459-4dc5-32e3-112e16cf5338
* Version Independent ID: 69fd23e0-bbb5-c9de-4ad2-25434a48a62e
* Content: [Restore an Azure data warehouse

[2018-03-21 19:34] #5463 closed

[2018-03-21 19:35] MohitGargMSFT commented on #6056
Thanks for your feedback! We will investigate and update as appropriate.

[2018-03-21 19:36] MohitGargMSFT commented on #6057
Thanks for your feedback! We will investigate and update as appropriate.

[2018-03-21 19:36] MohitGargMSFT commented on #6058
Thanks for your feedback! We will investigate and update as appropriate.

[2018-03-21 19:37] barbkess commented on #6110
#in-progress
@seanfdnn Thanks for pointing this out.  I will find the instructions for you.

[2018-03-21 19:37] MohitGargMSFT commented on #6059
@jeffreyCline Thanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

[2018-03-21 19:38] MicahMcKittrick-MSFT commented on #6058
@niceysj I have assigned this issue to the author to review and update the doc as appropriate.

@mattbriggs can you please take a look?

[2018-03-21 19:39] MohitGargMSFT commented on #6062
Thanks for your feedback! We will investigate and update as appropriate.

[2018-03-21 19:39] MohitGargMSFT commented on #6065
Thanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

[2018-03-21 19:39] MohitGargMSFT commented on #6066
Thanks for your feedback! We will investigate and update as appropriate.

[2018-03-21 19:40] MicahMcKittrick-MSFT commented on #6056
@niceysj good catch!

@mattbriggs please take a look. They are referring to the code sample here:

`New-AzureRmResource -ResourceId "subscriptions/{registrationSubscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.AzureStack/registrations/{registrationName}/customerSubscriptions/{customerSubscriptionId}" -ApiVersion 2017-06-01 -Properties`

[2018-03-21 19:40] MohitGargMSFT commented on #6068
Thanks for your feedback! We will investigate and update as appropriate.

[2018-03-21 19:41] MohitGargMSFT commented on #6070
Thanks for your feedback! We will investigate and update as appropriate.

[2018-03-21 19:41] MohitGargMSFT commented on #6072
Thanks for your feedback! We will investigate and update as appropriate.

[2018-03-21 19:42] MohitGargMSFT commented on #6073
Thanks for your feedback! We will investigate and update as appropriate.

[2018-03-21 19:42] MohitGargMSFT commented on #6074
Thanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

[2018-03-21 19:43] MohitGargMSFT commented on #6076
Thanks for your feedback! We will investigate and update as appropriate.

[2018-03-21 19:43] MohitGargMSFT commented on #6077
Thanks for your feedback! We will investigate and update as appropriate.

[2018-03-21 19:43] MicahMcKittrick-MSFT commented on #6077
@SamirFarhat thanks for the feedback. Seeing as this feature is is preview it is possible they have not added that feature as of yet. Suggest you provide this suggestion **[here](https://feedback.azure.com/forums/217313-networking)** so the product group can review and consider implimententing it into the product.

[2018-03-21 19:43] #6077 closed

[2018-03-21 19:44] MohitGargMSFT commented on #6078
Thanks for your feedback! We will investigate and update as appropriate.

[2018-03-21 19:44] gauravhombali opened #6111 "Error in documentation"
At Step 6, please update documentation to reflect cosmosdb-manager, instead of docDbUtils.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7ad84a6-f6b6-dd21-e7be-865d922c7ad4
* Version Independent ID: 1f5a0315-d7b4-3f8f-3b1d-ae90c807859d
* Content: [Build a Node.js web app for Azure Cosmos DB](https://docs.microsoft.co

[2018-03-21 19:44] MohitGargMSFT commented on #6079
Thanks for your feedback! We will investigate and update as appropriate.

[2018-03-21 19:45] MohitGargMSFT commented on #6080
Thanks for your feedback! We will investigate and update as appropriate.

[2018-03-21 19:46] MohitGargMSFT commented on #6083
Thanks for your feedback! We will investigate and update as appropriate.

[2018-03-21 19:46] MohitGargMSFT commented on #6084
Thanks for your feedback! We will investigate and update as appropriate.

[2018-03-21 19:47] MohitGargMSFT commented on #6090
Thanks for your feedback! We will investigate and update as appropriate.

[2018-03-21 19:47] MicahMcKittrick-MSFT commented on #6078
@nitinkale can you elaborate on the issue you are having?

[2018-03-21 19:47] MohitGargMSFT commented on #6092
Thanks for your feedback! We will investigate and update as appropriate.

[2018-03-21 19:48] MohitGargMSFT commented on #6096
Thanks for your feedback! We will investigate and update as appropriate.

[2018-03-21 19:49] MohitGargMSFT commented on #6101
Thanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

[2018-03-21 19:49] MicahMcKittrick-MSFT commented on #6090
@MarekLani Good feedback on this. I have assigned it to the content author to review and update the document as appropriate.

@suhuruli please take a look.

[2018-03-21 19:51] MohitGargMSFT commented on #6102
Thanks for your feedback! We will investigate and update as appropriate.

[2018-03-21 19:52] MohitGargMSFT commented on #6103
Thanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

[2018-03-21 19:55] MohitGargMSFT commented on #6108
Thanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

[2018-03-21 20:02] MicahMcKittrick-MSFT commented on #6066
@jpalo have you had a chance to review the complete example of that template to see if you are missing anything?

[2018-03-21 20:11] Adam-Smith-MSFT commented on #6073
@akashdathan Could you provide us details on which Syntax is out of date so we can resolve the case ?
Thanks in advance.

[2018-03-21 20:55] tfitzmac commented on #6066
@jpalo - one other question - are you seeing an error when you try to deploy the template, or are you seeing a warning in your editor (like VS Code)? There are sometimes schema issues that make the editor think it is wrong, but you can ignore those warnings.

[2018-03-21 20:57] bandersmsft commented on #5899
We've updated the article to change the example from "source": "action", to "field": "type", since policy only evaluates on /write actions.  "source": "action", becomes basically equivalent to “field”: “type”.

#please-close
#

[2018-03-21 21:14] #5726 closed

[2018-03-21 21:15] #5872 closed

[2018-03-21 21:16] #5940 closed

[2018-03-21 21:16] #6007 closed

[2018-03-21 21:16] jeffgilb commented on #6074
Thank you for the feedback, passing this on to the current writer, @mattbriggs .

[2018-03-21 21:16] #6010 closed

[2018-03-21 21:29] ggailey777 commented on #5977
Thanks @julielerman for the additional feedback.

[2018-03-21 21:33] MicahMcKittrick-MSFT commented on #6062
@Mike-EEE thanks for bringing this up. I am going to assign this to the content author to take a look and update the doc if needed.

@ggailey777 can you please take a look?

[2018-03-21 21:37] mattbriggs commented on #6074
@Velmurugan-n Thank you for the feedback on this article. I have this article in my next bundle of work to be updated. The update will take some time, but I will keep in mind what you were hoping to get out of the topic, that is a workflow for system admins who are validating the workflow for their devs or for evaluation. After I update, I hope you can see if it meets your needs. Thanks!

#please-

[2018-03-21 21:50] jtuliani commented on #5899
Thanks. To clarify, are you saying that "source": "action" is deprecated?

[2018-03-21 21:52] MicahMcKittrick-MSFT commented on #6111
@gauravhombali Thanks for the feedback! I have assigned this issue to the content author to review and update the doc as appropriate.

@mimig1 can you please confirm if this change is needed?

[2018-03-21 21:54] tophyus opened #6115 "unable to sign in: Self-Signed certs in certificate chain"
We have users that have been using this app and have called OUR help desk with this problem.  I am an Administrator on our Azure Subscriptions, and I have the same issue.  I followed the steps in the troubleshooting guide, added both certificates found (both microsoft).  No dice.
Here are the certs found using OpenSSL (hash hidden)
epth=1 C = US, ST = Washington, L = Redmond, O = Microsoft Corpora

[2018-03-21 21:57] barbkess commented on #6110
@seanfdnn To rename a database in SQL Data Warehouse, you can use the ALTER DATABASE (Azure SQL Data Warehouse) statement (https://docs.microsoft.com/sql/t-sql/statements/alter-database-azure-sql-data-warehouse). I have a pull request that fixes the RENAME (Transact-SQL) (https://docs.microsoft.com/en-us/sql/t-sql/statements/rename-transact-sql) topic to point to the ALTER DATABASE statement.

[2018-03-21 22:16] sethmanheim commented on #5911
@RajuKanumuri Hello and thank you for your feedback. I think the problem here is that the sample code is really incomplete. I am in the process of updating this article right now -- the updates should be published within 24 hours.

[2018-03-21 22:21] MohitGargMSFT commented on #6057
@peternield Great Question! I am confused reading the statement where it infer as the device has to be only on-premise AD joined but rule enforce device to be Hybrid AD Joined.

@MarkusVi Can you please clarify on it and possibly reword the statement to make it clear?

[2018-03-21 22:29] Brenduns commented on #5825
#in-process

[2018-03-21 22:30] MicahMcKittrick-MSFT commented on #6115
@tophyus thank you for reaching out. In regards to getting specific help for Azure Storage Explorer apart from following the guide it is suggested you reach out to the Storage Explorer team directly.

This can be done as shown near the end of the doc with screenshots:

https://docs.microsoft.com/en-us/azure/storage/common/storage-explorer-troubleshooting#next-steps

Provide your email in the feedb

[2018-03-21 22:30] #6115 closed

[2018-03-21 22:31] Brenduns commented on #5873
#in-process

[2018-03-21 22:31] #6059 closed

[2018-03-21 22:31] Brenduns commented on #5586
#in-process

[2018-03-21 22:34] amanarneja commented on #6105
@dmarlow Great that you figured it out! Let me know if you feel the document can be clearer.

[2018-03-21 22:35] amanarneja commented on #6067
@ThierryBT Did you figure it out? Let us know if you still need help.

[2018-03-21 22:37] MohitGargMSFT commented on #6070
@SjoerdWesterhof As mentioned in the document - Applications added from Azure AD Application Gallery (including Custom) have separate guidance with regards to signing keys. [More information.](https://docs.microsoft.com/en-us/azure/active-directory/active-directory-sso-certs)

[2018-03-21 22:41] MohitGargMSFT commented on #6072
@chrift I have assigned the issue to the author to investigate and update as appropriate.

[2018-03-21 22:41] mattreatMSFT commented on #5613
Closing this since I’ve not heard back from you in over a week. If you still have this issue, please contact me to discuss further.  Thank you.  #please-close

[2018-03-21 22:44] myusrn opened #6117 "how do you specify blob storage source where year/month/day.csv storage is involved"
with adf v1 if you were specifying a blob storage source where log files were involved using a year/month/day.csv storage hierarchy you could specify the container source folder as "mylogdata/{Year}/{Month}" and the file as "{Day}.csv", provided you included partitionedBy section outlining how these token placeholders are calculated.  I'm finding adf v2 dataset based on blob storage linked service

[2018-03-21 22:45] myusrn commented on #6117
. . . the error I get when I try this is in adf v2 is
Activity Copy Points Data failed: Failure happened on 'Source' side. ErrorCode=UserErrorSourceBlobNotExist,
'Type=Microsoft.DataTransfer.Common.Shared.HybridDeliveryException,Message=The required Blob is missing.
ContainerName: https://mysajblob.blob.core.windows.net/adf-data, ContainerExist: True,
BlobPrefix: {Day}.csv, BlobCount: 0.,Source=Mi

[2018-03-21 22:52] #6110 closed

[2018-03-21 22:53] tfitzmac commented on #5958
@cephalin - it looks like you made a change to the section about certificates that removed the distinction between App Service Certificates and uploaded certificates. Is it okay to add that back? The article previously stated "You can move an App Service Certificate to a new resource group or subscription without any issues."

@JozoSlejko - did you try moving the App Service Certificate with the W

[2018-03-21 23:00] barbkess commented on #6110
@seanfdnn Although this isn't a channel for product support questions, can you verify in the portal that your DW is online?  And, are you using the latest version of SSMS?

[2018-03-21 23:02] fgalvin opened #6118 "Errors"
Is there more to the fetch XML? I am getting no results. You cannot select a table from the Drop Down in the Connection. This pulls and passes the Display Name to the CRM, you have to click edit and enter the Logical Name of the Entity for the connection to work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 304d4c46-

[2018-03-21 23:05] MohitGargMSFT commented on #6117
Thanks for your feedback! We will investigate and update as appropriate.

[2018-03-21 23:07] #6074 closed

[2018-03-21 23:07] #5661 closed

[2018-03-21 23:09] MohitGargMSFT commented on #5899
@bandersmsft Please help respond on above.

[2018-03-21 23:09] jeevansd commented on #5953
#please-close

[2018-03-21 23:09] #5969 closed

[2018-03-21 23:11] MohitGargMSFT commented on #6079
@PnetTech Based on your contact method setup for MFA check this section to understand what each option does - [Decide how you want to verify your sign-ins](https://docs.microsoft.com/en-us/azure/multi-factor-authentication/end-user/multi-factor-authentication-end-user-first-time#decide-how-you-want-to-verify-your-sign-ins)

[2018-03-21 23:11] mattreatMSFT commented on #5989
@pantofffel Thank you for the feedback. You are correct that Network Watcher NSG Flow Logs is not yet a yet a "Trusted Microsoft Service" for Virtual Network Service Endpoints. This is something that we are aware of and working to add.

[2018-03-21 23:18] kgremban commented on #5630
@dkatson Keeping you updated with the progress on this issue. I filed a bug with the product team to improve their error message to include resolution steps, and that's being actively worked on. In the meantime, I added a section to https://docs.microsoft.com/en-us/azure/iot-edge/troubleshoot to explain this error message. I'm doing some testing with Azure VMs to make sure I understand what values

[2018-03-21 23:19] MohitGargMSFT commented on #6096
@andyjenkinson I have assigned the issue to the author to investigate and update as appropriate.

[2018-03-21 23:19] dcbrown16 commented on #5871
@iainfoulds I'm referring to the Portal steps for VM creation, sorry. It is possible to change the managed/unmanaged behavior through a checkbox on the 3rd tab of the creation process (called "Configure optional features"). However, this is not documented anywhere that I could find, so I was thinking it would make sense to have a question "Can I still create VMs with unmanaged disks?" on the FAQ w

[2018-03-21 23:25] mike-urnun-msft commented on #5760
Hey @frankShih,

We have this question answered on our MSDN forum: https://social.msdn.microsoft.com/Forums/en-US/2131d586-c81e-4dc8-a87c-2e433056d3b2/cannot-find-the-value-of-the-field-azureadstsendpoint?forum=MediaServices

If you continue to have any issues, feel free to let us know and we'd be happy to help & provide clarity.

[2018-03-21 23:27] dcbrown16 commented on #5869
@iainfoulds I see, thank you. I guess there are different sizes in premium for managed vs unmanaged, but the equal sizes are the same price.
The disk limit default of 2,000 does not match the official limitation documentation currently:

For Azure Managed Disks: The disk limit for managed disks is per region and per disk type. The maximum limit, and also the default limit, is 10,000 managed disks

[2018-03-21 23:27] #6009 closed

[2018-03-21 23:31] SnehaGunda commented on #6043
@dallasg Thanks for pointing the issue. The download center link is no longer active and we will be maintaining the source code in GitHub. The next step points to the GitHub repo where you can get data and queries to run the job. I updated the step to make the GitHub link discoverable, the changes will be live tomorrow.

[2018-03-21 23:31] SnehaGunda commented on #6043
#please-close

[2018-03-21 23:33] Mike-Ubezzi-MSFT commented on #5938
@bastyuchenko Please let me know if you need additional assistance with this inquiry. If you do not, I am going to move forward with closing this issue. Thank you.

[2018-03-21 23:42] tfitzmac commented on #5990
@matiasosca - I tested this script, but did not see the tags from the resource group applied to the resources in the resource group. I think the line $resources = $resources[11] needs to be commented out. Was that left in accidentally?

[2018-03-21 23:42] bandersmsft commented on #5899
The source field is a supported, but probably isn't the best to show in programmatic examples. It only accepts one value of "action". It allows you to filter on the “Authorization Action” of the request.  You can see various operations authorization actions in the activity log under authorization.action.

[2018-03-21 23:44] Mike-Ubezzi-MSFT commented on #6039
The C# example to generate a security token is not creating the required signature output.

[2018-03-21 23:44] myusrn opened #6119 "how to specify dynamic directoryPath and fileName values"
with adf v1 you could specify dynamice blob storage directoryPath and filename values using example provided in that documentation, e.g. directoryPath = mycontainer/mylogfiledata/{Year}/{Month} and filename = {Day}.csv followed by property array that defines {Year}, {Month} and {Day} using SliceStart date value.  The documentation above doesn't outline how to do this with adf v2 and trying the sam

[2018-03-21 23:54] KeiroKamioka0000 commented on #5947
Hello, I also would like to know this.

[2018-03-21 23:58] cecilphillip opened #6120 "Channel secure in ASP.NET Core"
How do you supply the AuthenticationApiKey in an AspNetCore 2.0 application? There is no applicationinsights.config file and not sure how you access the QuickPulseTelemetryModule

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3307edb-b27c-a0b9-ff1e-610630c98c15
* Version Independent ID: 20262b8a-31ff-4df9-dd05-859001f

[2018-03-22 00:05] #5760 closed

[2018-03-22 00:15] mike-urnun-msft commented on #5827
@gerhardcit Thanks again for your feedback! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-03-22 00:29] cicorias commented on #6045
#6044 closes this too.

[2018-03-22 00:29] #6045 closed

[2018-03-22 00:53] nikmd23 commented on #5633
In my mind this doc would cover all the libs/frameworks that we integrate with, including logging, metrics and tracing/dependencies - across all languages.

If you agree that’s the proper scope, than I think a new document is appropriate, but the correlation document should link to it.

Thoughts?
L

[2018-03-22 01:25] TheChadR commented on #5681
Hi All
Ive managed to work around this by splitting up my ARM templates into infrastructure deployment and VM deployment to work around the 5 RG limit since I had 8 RGs. What this means now is that I kick off the 1st template by doing the networking and storage with 3 of the storage accounts going into 1 RG and moved manually later. Then I run the VM deployment which deploys to my 5 RGs.
This is n

[2018-03-22 01:28] SergeyKanzhelev commented on #5633
We have this page that covers some of the platforms you listed: https://docs.microsoft.com/en-us/azure/application-insights/app-insights-platforms This question was more about libraries that report dependencies telemetry.

[2018-03-22 01:30] jonathanfishbein1 opened #6122 "Graph API"
Do you plan to offer the ability to migrate json documents to Graph Api?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9edf1df2-588e-01ff-6d1c-234b8e51d550
* Version Independent ID: 27873c08-b6cc-a52f-f277-ff9818a5e4d2
* Content: [Database migration tool for Azure Cosmos DB](https://docs.microsoft.com/en-us/azure/cosm

[2018-03-22 01:33] BryanTrach-MSFT commented on #6092
@usharam73 we have gone ahead and assigned this to the doc author to provide feedback as necessary.

@cephalin Can you please investigate this? I'm unable to repro this due to lacking the necessary hardware.

[2018-03-22 01:33] YeeSuan95 commented on #6060
Alright.

Thanks @SteveMSFT !

[2018-03-22 01:33] #6060 closed

[2018-03-22 01:33] dkatson commented on #5630
Thank you! Like as usual - awesome team!

[2018-03-22 01:34] nikmd23 commented on #5633
Are you sure? OP asked about “telemetry”, not dependencies.

I’m find either way, just want to make sure we’re not making assumptions.

[2018-03-22 01:36] SergeyKanzhelev commented on #5633
@VaclavK what list did you mean? I read it as "I can see service bus client as a dependency, what other services should I expect to see and which shouldn't"

[2018-03-22 01:46] dkkapur commented on #5839
@xela30 just to confirm - Event Log = stuff showing up in Event Viewer on the box, yes? In that case - you can technically provide an Etw Manifest that does that - we currently do this for the base operational channel, but not for any of the other channels. Let me know if you want to talk about this further / it might be worth pursuing this as an issue on our Service Fabric repo so that others can

[2018-03-22 01:59] adamfowlerit opened #6123 "Null or $Null"
I've tried this a few times, whenever I create a query like (user.extensionAttribute1 -ne null) it fails with this error:

Failed to create group OfficeMaps Users Dynamic. Dynamic membership rule validation error: Invalid operands found for operator.Invalid operands found for operator -not

To make it work, I need to use (user.extensionAttribute1 -ne $null) - using $null isn't given in the null ex

[2018-03-22 02:01] andrew-cooper commented on #5999
This update broke the rendering of the table.

[2018-03-22 02:11] cecilphillip commented on #6108
@aumanjoa When I go to "Getting Started" then click on "Monitor and Diagnose Client Side application" I see the script there. Is that what you were looking for ?

[2018-03-22 02:20] ssugar commented on #6076
Yes, please do.  It's frustrating when all the troubleshooting documents linked to by Microsoft say to remove the VM snapshot extension via the Azure portal, but then the extension doesn't actually show up in the portal.  Removing the VM snapshot extension from within the VM itself with the instructions from the link above fixed the linux VM backup issue I've been having for a week or so now.

[2018-03-22 02:28] myusrn commented on #6117
. . . and here is an example of the dataset json that worked with adf v1 but doesn't appear to work when I try it with adf v2

` "type": "AzureBlob",
    "linkedServiceName": "blob-store",
    "typeProperties": {
      "folderPath": "adf-data/gamedata/{Year}/{Month}",
      "fileName": "{Day}.csv",
      "format": {
        "type": "TextFormat",
        "columnDelimiter": ",",
        "firstRowAsH

[2018-03-22 03:03] usharam73 commented on #6092
I ran the command without the runtime option and I later created an extension for python and was able to successfully deploy the hello world to the azure web app service.

[2018-03-22 03:07] jaymzyates opened #6124 "Office 365 Groups"
Get-AzureAdMsGroup appears to exclude office 365 unified groups thus it doesn't seem possible to convert an Office 365 Group to a Dynamic Attribute Office 365 group?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f7a4070-1be8-5f1f-0092-68fb6b9e2305
* Version Independent ID: cd34312f-b507-affe-555e-1e0c63e7d494
* Conte

[2018-03-22 03:38] seguler commented on #5945
Yes - these are additional steps for CentOS 6.8. In 6.9 or later I believe you won't need step 1 and 2. Regardless, I can place this in the wiki section of the repository on GitHub.

Thanks for your contribution!

[2018-03-22 04:32] tysonn commented on #5934
@KellyDF - Could you please review this customer feedback on your Computer Vision documentation?

[2018-03-22 04:37] tysonn commented on #5886
@cynthn + @iainfoulds - Hey, could you please review this contribution proposal?

[2018-03-22 05:39] dkhalife opened #6125 "Nuget package is outdated"
I can't find it in the package manager so maybe it's a new namespace?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f57e416-a37f-e719-4a3e-58a4e6390818
* Version Independent ID: dbb3821b-5793-b41b-9601-559b00e4096a
* Content: [C# Quickstart for Azure Cognitive Services, Text Analytics API](https://docs.microsoft.com/

[2018-03-22 05:43] nitinkale commented on #6078
Define a interface which returns a concrete type
[DataContract]
public class TestDto
{
public string teststring;
}

This object was getting serialized properly in WCF because of Datacontract opt-in behavior, however it is not working with SF remoting.

[2018-03-22 06:26] ThierryBT commented on #6067
@amanarneja
Thank's,
I think the explanation is :
On managed domains, these permissions are reserved by the service and are not made available to users within the tenant.
Regards

[2018-03-22 06:50] su-jie commented on #5976
@myusrn Our team owns the tools. We are looking into the issue. Would you mind let us know your tools version? You can check that by going to Tools->Data Lake->About Data Lake. Also have you upgrade VS 2017 recently? Thanks for your feedback.

[2018-03-22 06:56] aumanjoa commented on #6108
Please finde here my screenshot of the "getting Started" if I select ApplicationInsichts for Node.js
![applicationinsightsjs](https://user-images.githubusercontent.com/20481694/37755551-40bd2aec-2da6-11e8-8ad7-b8477b8e4837.PNG)

Please finde here my screenshot of the "getting Started" if I select ApplicationInsichts for "General"
![applicationinsightsgeneral](https://user-images.githubusercontent.

[2018-03-22 07:59] NiklasJern commented on #6015
Hi again guys,

figured out that you could probably work around this if you utlize Management Groups. :)
I still think however it would be a great idea if you could re-assigne policyies inbetween subscriptions and not lock them down :)

[2018-03-22 08:11] aunraza opened #6128 "Updated azure cli documentation."
Hello, I am using the homebrew version of the azure-cli, but it doesn't have the insights option. Has that been changed? If not, can you provide information on how to do it with the "az" command?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c2b20649-50ea-fd6c-e58f-bf908d88387d
* Version Independent ID: 7794c7a8-e6f7-

[2018-03-22 08:17] cbailiss opened #6129 "Managed Instance Questions"
Managed instances are an interesting and useful development.
(1) Is is possible to pause a manage instance, as with Azure SQL Data Warehouse (DW)?
Azure SQL DW allows the DW to be paused, during which time only storage charges accumulate. One of the weaknesses of Azure SQL DB is that pausing a DB is not possible - which goes against one of the ideals of the cloud (only pay for what you need).
By p

[2018-03-22 08:26] sreelekhaWoonna opened #6130 "High Throughput under Workflow settings of Logic APP sets itself to default(NO) value after every deployment"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-03-22 09:28] ravishankards opened #6131 "How to setup initial replication method offline under replication policy"
We are unable to setup offline replication when we provide share path for both source and target.
We are giving clustered shared volume as a shared path.
Example : \\192.168.1.1\C$\ClusteredStorage\Volume1\Test

Error:
Permissions couldn't be set for one or more hosts on the initial replication folder path.

Provider error:
Provider error code: 31218 Provider error message: The VMM service couldn'

[2018-03-22 09:33] cephalin commented on #6092
Tracking this internally at https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1215703

[2018-03-22 09:45] Favna commented on #6009
Why was the issue closed when it is not resolved yet? The icons are still the old one:

![](https://raw.githubusercontent.com/MicrosoftDocs/azure-docs/master/articles/azure-resource-manager/media/resource-group-create-service-principal-portal/select-subscription.png) ![](https://raw.githubusercontent.com/MicrosoftDocs/azure-docs/master/articles/azure-resource-manager/media/resource-group-create-se

[2018-03-22 10:02] jtuliani commented on #5899
Thanks. That helps clarify.

Simply removing the example doesn't really work, since there are other examples all over the place (including in training materials, existing customer configurations that a new developer is trying to make sense of, etc)

If this is a supported syntax and behaviour, then it really should be documented--that was my original point, it's not described in the documentation

[2018-03-22 10:07] VaclavK commented on #5633
@SergeyKanzhelev yes I believe you read it as intended but I want to stress that my ultimate goal is not plain telemetry but correlated telemetry

the big picture here is to have coherent set of correlated telemetry in the multi-layered application using various Azure services

so we want to use AI to trace the flow via telemetry from UI to API to backend and to various Azure services - including

[2018-03-22 10:10] Favna opened #6132 "(Power BI Workspace Collections) Entire page massively outdated"
There are numerous things on this page that are massively outdated. Just to list a few

- All Azure related images. The whole "preview UI" thing is no longer needed / does it even still exist
- "PowerBI workspace collections" no longer exist, they are "office" groups within the active directory
- Related to above, `Data + Analytics` also does not have this option. Adding groups is accessed through

[2018-03-22 10:18] bibliothek commented on #6010
I added this request as a product feedback. Please upvote here:
https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/33713737-add-azure-cli-support-for-b2c-custom-policies

[2018-03-22 10:37] MartijnSpi commented on #5406
The add as co-administrator context menu is not showing. Is there an other way to set the co-administrator?

[2018-03-22 11:00] solstarz opened #6133 "Deploy the image to your Azure Container Service (AKS) cluster."
In the doc there is a mention about this "Deploy the image to your Azure Container Service (AKS) cluster".
But i don't see how its being initiated during the deploy. Maybe i'm overlooking something.

Is it possible to add your existing aks cluster during a model deployment?

I may not have it correct, but i'm a noob at this. I'm learning.

---
#### Document Details

⚠ *Do not edit this section. It

[2018-03-22 11:07] imaterek opened #6134 "Problem with starting OS upgrade for VMSS"
I received the: Failed to start OS upgrade for xyz. Operation 'osRollingUpgrade' is not allowed on Virtual Machine Scale Set 'xyz'.
Configured as above. Supported SKU.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51c75ce7-2144-d81a-693c-fb51cc00f3e5
* Version Independent ID: cba654ea-ee84-fca4-a76d-717bfb9d9bf5
* Con

[2018-03-22 11:18] JozoSlejko commented on #5958
We had multiple RGs/Web Apps which used the same App Service Certificate,
we could not do a one move operation.

On Wed, 21 Mar 2018 at 23:53 Tom FitzMacken <notifications@github.com>
wrote:

--
Lp,
Jozo Slejko

[2018-03-22 11:23] dragan979 commented on #5953
Just created guide for manual provisioning:https://geekdudes.wordpress.com/2018/03/22/azure-active-directory-integration-with-amazon-web-services-aws-manual-provisioning/

[2018-03-22 11:30] ltaljaard opened #6135 "Update these docs and your Azure Quickstart TodoList solution to use .NET Standard 2.0 instead of the old PCL's"
You still talk about PCL's here, please update the docs and the Quickstart project. In addition, there is a problem with local debugging of the backend app when updating one's backend solution to the .NET Framework 4.7.1. I have at least managed to isolate this problem, see issue #242 on the azure-mobile-apps-net-server Github project: https://github.com/Azure/azure-mobile-apps-net-server/issues/2

[2018-03-22 11:31] AVprog commented on #6133
First we need to create an environment:
az ml env setup - cluster -l westcentralus -n mlenvirementcluster1 -g myResourceGroup

But this command produces an error:
     from azure.mgmt.resource.resources import ResourceManagementClient
ImportError: No module named 'azure.mgmt'

[2018-03-22 11:34] allanwith opened #6136 "Doesn't actually show how information workers can add guest users"
Hi there. This guide only shows how an administrator can allow users or guests to add guest, but how do users or guest actually invite other guests? Do normal users have to go to the Azure Admin portal? That is not really optimal. Or does it happen automatically when I invite someone to view a shared file in OneDrive?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2018-03-22 11:38] ltaljaard commented on #6135
Oh yes, you should also update the following wiki to at least mention the current issue with local debugging when one updates your backend solution to the latest packages (as described in detail in issue #242) so that people don't waste their time trying to figure out why their authentication does not work when running the backend locally: https://github.com/Azure/azure-mobile-apps-net-server/wiki

[2018-03-22 11:38] chrift commented on #6072
I have figured out what the problem with this is. The sample custom policies are set up with different email validation to the built in policies.
Testing with the built in policies I was able to add extra parts after a plus to my email address e.g. test+test123@test.com
But the sample custom policy email regex restriction does not include a plus sign. After I added a plus sign into the regex it wo

[2018-03-22 11:38] chrift commented on #6072
Although it's frustrating it doesn't tell you what's wrong with which field.

[2018-03-22 12:32] mrbullwinkle commented on #6108
#in-process

[2018-03-22 12:38] xela30 commented on #5839
@dkkapur Yes.
Could you please elaborate more on Etw Manifest? I'm not familiar with that stuff.
How to use it to get reverse proxy events available in Event Log?
BTW, when you are talking about Operational channel isn't it the same thing I can see in Event Viewer under Application and Services Logs/Microsoft-ServiceFabric/Operational path?

[2018-03-22 12:44] DavidHBallantyne opened #6137 "Learned a lot, but could only complete this via Powershell from my local workstation"
Attempts to deploy ARMtemplate from CLI were met with errors.  Hit wall of frustration after spending an hour or so trying to get past said errors.

Otherwise, I did obtain objectives of this document.  Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad94a63e-9002-8cf2-bb8c-4de87593152c
* Version Independent

[2018-03-22 12:49] mrbullwinkle commented on #6108
@aumanjoa Thank you for the screenshots it helps a lot.

The UI experience varies slightly based on the **Application Type** selection. Since your Application Insights resource is of the Application Type Node.js your _Getting started_ experience is different than if an alternate application type were selected.

So it looks like at some point between when the doc was originally authored we changed

[2018-03-22 13:20] tsahi opened #6138 "How do you specify the ReceiveMode for queues?"
This isn't specified in the document for queues, only for subscriptions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97523a2e-acab-748f-5530-ded63b6eb6b9
* Version Independent ID: 614584c2-594d-f41c-6b46-201cbf2613ce
* Content: [Overview of Azure Service Bus messaging queues, topics, and subscriptions](https://docs.

[2018-03-22 13:24] girishgoudar commented on #5348
Any updates?

[2018-03-22 13:33] girishgoudar commented on #5896
@mgreenegit Any updates on this

[2018-03-22 13:38] yrvverma commented on #5868
@DavClk : please can you help if simple usernames are supported and the steps required to configure.

[2018-03-22 13:51] eduardokieling opened #6139 "This script create a Windows VM type, what i need in thsi script to create a linux vm type"
This script allways create a windows VM type, how i can create a linux type?

Maybe its necessary to use Set-AzureRmVMOperatingSystem

[2018-03-22 13:51] eduardokieling commented on #5390
This script allways create a windows VM type, how i can create a linux type?

Maybe its necessary to use Set-AzureRmVMOperatingSystem

[2018-03-22 13:58] DavClk commented on #5868
@yrvverma.... i am of no help on this thread. I think you want @davidmu1

[2018-03-22 14:09] spottedmahn commented on #5904
Ah, it is 😁.  Just not in the note.  Thanks for setting me straight!

[2018-03-22 14:10] spottedmahn commented on #5217
that's great, thanks @davidmu1!

[2018-03-22 14:13] spottedmahn commented on #5646
FYI, I put together a Stack Overflow answer documenting the process.

[How do I view the claims returned from B2C? | B2C JWT Viewer](https://stackoverflow.com/a/49307987/185123)

[2018-03-22 14:14] eduardokieling commented on #5390
I had not seen the flag, sorry. Everything is alright now! Thank you

[2018-03-22 14:14] spottedmahn commented on #5649
That's great, thanks @davidmu1!

[2018-03-22 14:32] Dheerajmentor opened #6140 "Automation"
A really good article, is there any way to automate the whole process? If yes, please share

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ecd90d60-b611-779e-f66b-1695abe82f82
* Version Independent ID: 35b76b4a-e523-16e1-e1d4-661f6d13f86d
* Content: [Publish apps with Azure AD Application Proxy](https://docs.microsoft.

[2018-03-22 14:38] msc1504 opened #6141 "Clarification, easier to follow example"
on the nonclustered index creation example change the table name from t1 to match the table in the previous example for clarification
CREATE INDEX zipCodeIndex ON t1 (zipCode);
to
CREATE INDEX zipCodeIndex ON myTable (zipCode);

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4635ce5c-c6b4-0401-8aec-19f06923c4ef
* Versio

[2018-03-22 14:44] dominicbetts commented on #6039
@smoms - thanks for your feedback. DO you get an error when the **toLower** is there, and does it work without?
I just ran a test both with and without and both work for me, so it looks like to **toLower** is redundant. I'll remove it from the sample code. Thanks again!

[2018-03-22 14:47] petersatsuse opened #6142 "wrong example for SUSE distributions"
The document describe that you need to install all samba packager (sudo zypper install samba*)
This is NOT necessary. ONLY the package cifs-utils is needed for mounting with SUSE Linux Enterprise Server (SLES) and openSUSE as the upper text describes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d60d83f-0094-6c5e-e1

[2018-03-22 14:48] smoms commented on #6039
@dominicbetts the function runs. The point is how you name you device. Try to name your device with Upper case and see if IoT Hub accepts it.

[2018-03-22 14:49] georgewallace commented on #5398
@amanarneja Can you please close this issue. @arcotek-ltd, if you feel this is still an issue please open a new issue with examples and I will be happy to take another look at it.  As of now the docs are correct in their description.

[2018-03-22 15:24] cynthn commented on #6101
#in-progress

[2018-03-22 15:37] neilpeterson commented on #5994
@tverilytt any thoughts on this?

[2018-03-22 15:45] dominicbetts commented on #6039
@smoms - I just tried with a deviceId that had mixed case - again it worked both with **toLower** there and without. I'll update the article to remove the **toLower** as it definitely appears to be redundant.

[2018-03-22 15:58] sethmanheim commented on #5999
@andrew-cooper Ah sorry yes I see the problem -- thanks! It will be fixed in the next few hours.

[2018-03-22 16:14] rishtech commented on #5282
@aircelgag -> For the workgroup machines which will not able to communicate the domain controller directly on these type of machines, user's are prompted to enter password.

Process :-
User request will land to login.microsoftonline.com --> The request will be sent to the sync server --> The connector will be listening to these incoming requests and the authentication will be completed.

You can c

[2018-03-22 16:15] jeffgilb commented on #5997
Thank you for this feedback @jgallucci32

I'll discuss with the team and make the appropriate changes the next time we update that article.

#please-close

[2018-03-22 16:15] smoms commented on #6039
@dominicbetts  really i get following error if i use ToLower():
DeviceNotFoundException: Put token failed. status-code: 404, status-description: Device device-demo-001 at IotHub IoTHub-XXX not registered..

[2018-03-22 16:18] tfitzmac commented on #6137
@DavidHBallantyne - were you using CLI from Cloud Shell or a local installation?

[2018-03-22 16:19] sethmanheim commented on #6138
@tsahi Hello and thanks for your feedback. In the old client, you just use the [ReceiveMode enumeration](https://docs.microsoft.com/en-us/dotnet/api/microsoft.servicebus.messaging.receivemode?view=azure-dotnet). For the new client (Microsoft.Azure.ServiceBus), [ReceiveMode is here](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.servicebus.receivemode?view=azure-dotnet).

[2018-03-22 16:26] #5398 closed

[2018-03-22 16:28] myusrn commented on #5976
vs17 | help | about =
Microsoft Visual Studio Enterprise 2017 Version 15.6.3 [ the latest update afaik ]
Microsoft Azure Stream Analytics Language Service - 2.3.3000.1
Microsoft Azure Stream Analytics Node - 1.0

the issue repros with the above versions in place and a from scratch file | new project | Azure Stream Analytics | Azure Stream Analytics Application project.

my dev workstation was full

[2018-03-22 16:28] Brenduns commented on #5873
@lzieba91  Thank you for this feedback.  After working with engineering to identify the source of the account removal, release notes for 1711 are being updated to bring awareness to this product change.  When 1711 update installs, it removes existing instances of the deployment account.  Additional content is also under review to align to this product change.

[2018-03-22 16:30] dlepow commented on #5996
Correcting: @MicrosoftDocs/azure-cxp-triage please reassign as noted. Thanks.

[2018-03-22 16:31] fujiy opened #6144 "Missing Docs - How to capture Web Services (ASMX) exceptions"
There is no docs of how to send Exception from ASMX to Application Insights.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95aee749-dc67-58c6-c911-a8cfcfd387a2
* Version Independent ID: 21056412-21a5-1e79-f588-5bbb846789bf
* Content: [Diagnose failures and exceptions in web apps with Azure Application Insights](https:

[2018-03-22 16:33] jlian commented on #5406
@MartijnSpi, it will only show if the right clicked user is an Owner, can you verify that? Also, what is your current access level on the subscription? If you don't have enough permissions to assign roles the right click also doesn't work

[2018-03-22 16:42] curtand commented on #5983
@chris-althoff

[2018-03-22 16:48] ccompy commented on #6080
Not sure how that got in there.  thanks for pointing it out.  Fix is forthcoming.

[2018-03-22 16:49] nikmd23 commented on #5633
Thanks for the clarity @VaclavK.

I'll get that info added to the correlation document @mrbullwinkle suggested.

[2018-03-22 16:51] lzieba91 commented on #5873
It's important to add azurestack\cloudadmin account to Domain Admins group to be able to initiate RDP connection to DVM before applying 1711 update.

[2018-03-22 16:53] MicahMcKittrick-MSFT commented on #5348
@girishgoudar it is taking longer than expected to fix. The team is working on it.

[2018-03-22 16:54] cparker4486 opened #6145 "Link to "adding a cloud-only global administrator account" is not what you think it is"
Near the beginning of the document there is a recommendation to create a cloud-only global administrator account. The link is called "adding a cloud-only global administrator account." However, the page this goes to another page that provides instructions on simply creating users in Azure AD. At the _bottom_ of that page is a link to another page called "Assign a user to administrator roles in Azu

[2018-03-22 16:55] #5997 closed

[2018-03-22 16:56] cparker4486 commented on #6145
OK this is embarrassing... ummm... I jumped the gun. I didn't go through actual steps before making this recommendation and it's now apparent that you can choose the role while you're making the user. Oh boy...

[2018-03-22 16:56] #6145 closed

[2018-03-22 17:04] tysonn commented on #6087
@KirkMunro - I've updated the comment thread in the pull request to move it along. Sorry I missed the @mentions.

[2018-03-22 17:06] MicahMcKittrick-MSFT commented on #6144
@fujiy Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-03-22 17:07] jeevansd commented on #5953
@dragan979 We are publishing the multi account AWS solution officially.
#please-close

[2018-03-22 17:08] MicahMcKittrick-MSFT commented on #6141
@msc1504 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-03-22 17:10] MicahMcKittrick-MSFT commented on #6140
@Dheerajmentor Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-22 17:11] cparker4486 opened #6146 "How does pass-through authentication impact mobile authentication?"
I don't see this question answered in the FAQ either. I see that the FAQ says authentication doesn't automatically fallback to Password Hash so this says to me that mobile devices would be excluded by authenticating. Doesn't that defeat the purpose? Can these two methods run in parallel?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2018-03-22 17:13] MicahMcKittrick-MSFT commented on #6136
@allanwith Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-22 17:15] MicahMcKittrick-MSFT commented on #6135
@ltaljaard Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-03-22 17:18] MicahMcKittrick-MSFT commented on #6132
@Favna Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-03-22 17:19] MicahMcKittrick-MSFT commented on #6131
@ravishankards Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-22 17:21] MicahMcKittrick-MSFT commented on #6130
@sreelekhaWoonna Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-22 17:22] Brenduns commented on #5873
Thanks Łukasz!

The updated details, going into content will include information that should cover that.  I’ve been working with the product group PM for security and accounts for Azure Stack,  who has provided the following information, which is hoped to help communicate this issue – and the need to ensure you have the correct account in place prior to updating:

Beginning with version 1711, Clou

[2018-03-22 17:23] MicahMcKittrick-MSFT commented on #6129
@cbailiss Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-22 17:23] jontreynes opened #6147 "Linking parameter section of Request and Authorization code"
May you please include links to the parameter section of this link
https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-protocols-oauth-code#request-an-authorization-code
for easy reference

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2870d4a9-e204-023a-56a8-c34e56347b43
* Version Independ

[2018-03-22 17:24] MicahMcKittrick-MSFT commented on #6128
@aunraza Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-22 17:25] MicahMcKittrick-MSFT commented on #6125
@dkhalife Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-03-22 17:26] MicahMcKittrick-MSFT commented on #6124
@jaymzyates Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-22 17:27] MicahMcKittrick-MSFT commented on #6123
@adamfowlerit Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-22 17:29] MicahMcKittrick-MSFT commented on #6122
@jonathanfishbein1 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-22 17:29] curtand commented on #5983
@chris-althoff
I downloaded the templates and verified your information. The updated article will be live at 4 PM PDT today 03/22/2018
#please-close

[2018-03-22 17:32] MicahMcKittrick-MSFT commented on #6120
@cecilphillip Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-22 17:34] MicahMcKittrick-MSFT commented on #6119
@myusrn Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-22 17:35] tamram commented on #5918
@mcbarre - Thank you for your feedback.

I've fixed the first problem you note by adding the missing string value, and the update is now live.

In regards to reading the environment variable from MacOS, there is an open issue in .NET Core relating to environment variables. Please see https://github.com/dotnet/corefx/issues/20147.

We will track this issue and update the sample appropriately in the

[2018-03-22 17:38] fgalvin commented on #6118
Thanks Micah, further investigation has lead me to find that you do not support AliasDataType in the fetch. Importing Schema does not pull all the columns which can make it a challenge to use the GUI to build out all the schema data.

Ford

From: Micah [mailto:notifications@github.com]
Sent: Thursday, March 22, 2018 10:36 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Galvin,

[2018-03-22 17:38] shraboin opened #6149 "The sample given :continuationsample.js is for blobs and not tables"
The link given that has a sample is for blobs not Tables: https://github.com/Azure/azure-storage-node/blob/master/examples/samples/continuationsample.js

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 168890e7-484f-6d2f-9eec-3a97dcd44e6f
* Version Independent ID: ffd475a2-052e-7ce0-851a-622453a14010
* Content: [How to u

[2018-03-22 17:39] #5613 closed

[2018-03-22 17:41] #5953 closed

[2018-03-22 17:42] #6043 closed

[2018-03-22 17:47] ggailey777 commented on #6062
@Mike-EEE thanks for referencing the product issue: Azure/Azure-Functions#584
I've created [a work item](https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1216018) in our private documentation database to clarify this setting when debugging in VS.
I reopened this issue to get Ahmed's attention. Hopefully, the he will respond soon to your query. In the meantime, let's consider the doc

[2018-03-22 17:50] Mike-EEE commented on #6062
Great... thanks @ggailey777 and team!  Now, do I get to create a new issue to make sure everyone is using one and only one tracking system? 😆  JK, sorta. 😄

Sorry, but that would drive me nuts.  As long as I don't have to deal with that, we can consider this resolved, indeed. :)

[2018-03-22 17:55] MicahMcKittrick-MSFT commented on #6139
@eduardokieling can you provide a link to the doc you are following?

[2018-03-22 17:56] MicahMcKittrick-MSFT commented on #6134
@imaterek Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-22 18:05] myusrn commented on #6119
Note i'm taking the msft academy big data track [ [aka.ms/bdMsa](https://aka.ms/bdMsa) ] where course 8 on "Orchestrating Big Data with Azure Data Factory" bases labs and final challenge on use of adf V1.

Many people in that [course's discussion forum](https://courses.edx.org/courses/course-v1:Microsoft+DAT223.3x+1T2018/discussion/forum/) are raising issues about getting hung up in final challeng

[2018-03-22 18:07] myusrn commented on #6119
here is an example of an adf v1 blob storage dataset configuration that myself and others are looking for ways to reproduce in an adf v2 configuration

[code]

[2018-03-22 18:14] LuisCabrer commented on #6125
@dkhalife I can find it in [Nuget.org](https://www.nuget.org/packages/Microsoft.Azure.CognitiveServices.Language/1.0.0-preview).

Also, following the instructions at  https://docs.microsoft.com/en-us/azure/cognitive-services/text-analytics/quickstarts/csharp . So I am curious as to why you could not find it....

thanks!
-Luis Cabrera

[2018-03-22 18:14] ggailey777 commented on #5755
Thanks @amanarneja

[2018-03-22 18:15] LuisCabrer commented on #6125
I responded, but I don’t see a way to “close” or “resolve” the issue.
Can you grant me the rights to resolve the issue?

Thanks!
-Luis.

From: Micah <notifications@github.com>
Sent: Thursday, March 22, 2018 10:25 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Luis Cabrera-Cordon <Luis.Cabrera-Cordon@microsoft.com>; Assign <assign@noreply.github.com>
Subject: Re: [MicrosoftDocs

[2018-03-22 18:17] tfitzmac commented on #5702
@MerrionComputing - the subject should give subscribers a good sense of what happened in the event, and let them filter for events they want to be notified about. Your suggested pattern seems like it could be a good pattern but it would really depend on what the event message contains. The pattern seems good because it would allow subscribers to filter by the path, but it might need to more values