[2021-11-25 15:34] shashishailaj commented on #84411
@jmschafferer  Thank yoiu for your query . Could you please check the article .

https://docs.microsoft.com/en-us/azure/key-vault/general/alert

[2021-11-25 15:34] shashishailaj commented on #84411
@jmschafferer We have generated a request to update the link and it will be updated once verified by the content team .

[2021-11-25 15:38] #84411 closed

[2021-11-25 15:56] VikasPullagura-MSFT commented on #84395
@gjongeneel
Thanks for your Question! We are currently investigating and will get back on this.

[2021-11-25 15:56] VikasPullagura-MSFT commented on #84396
@gjongeneel
Thanks for your Question! We are currently investigating and will get back on this.

[2021-11-25 16:02] isdataninja commented on #84062
That's great @CHEEKATLAPRADEEP-MSFT . I've submitted this PR here to submit another change https://github.com/MicrosoftDocs/azure-docs/pull/84414 . This one is regarding 'Synapse Studio support for multiple PBI workspaces'.

[2021-11-25 16:08] saikumaru opened #84415 "require is not defined- MSAL electron sample bug"
The function in script _main.js_
[code]

Should be
[code]

should also include
`contextIsolation = false`

else the client errors out
https://github.com/electron/electron/issues/23506

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 513e58c2-8752-9286-415e-b3dc1e5fba54
* Version Independent ID: b9a6ea0d-8eac-42b7-0a48-38

[2021-11-25 16:15] kobulloc-MSFT commented on #84404
@thommck Thank you for your feedback!  We are reviewing this and will get back to you shortly.

[2021-11-25 16:17] Joshw97 opened #84416 "Hybrid Azure AD Join Compatibility"
Hi

Is this a typo? Why would 'Windows down-level' devices be supported in a managed infrastructure, but 'Windows current' devices aren't?

See image.

![image](https://user-images.githubusercontent.com/95043031/143474633-693795b7-cf2b-4f5f-9901-381e1da7747d.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e8f55d4-

[2021-11-25 16:34] MGodfrey50 opened #84418 "Insecure Link"
The download of the PDF file kicks out an insecure download message.  This needs to be fixed.

Mark

![image](https://user-images.githubusercontent.com/22599225/143477090-3b5cce3b-571d-4d0f-8659-31209926efa7.png)

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4e98f59-eb03-4692-db13-ac0c61a6dd3c

[2021-11-25 16:50] JorickvdHoeven opened #84419 "Information on how to delete data via SDK is missing"
In the "How to Move data in Pipelines" page at the end of the page it states that users should delete intermediate data to avoid incurring costs. It's not clear how to do this programmatically in any of the pages that I can find. This page which is titled "Export or delete workspace data" is missing crucial information about how to delete data in datastores via the SDK. If there is a supported way

[2021-11-25 17:04] kobulloc-MSFT commented on #84402
@thommck Thank you for your question!  We are investigating this and will get back to you shortly.

[2021-11-25 17:09] BrianBMN commented on #84233
I can confirm that changing to LRS allowed me to enable SFTP.

Feature request: Add to the storage validation process to check the replication settings. While this SFTP is in preview, have a warning that SFTP will only work with LRS storage accounts at this point.

[2021-11-25 18:17] Fleid commented on #81247
A quick update:

## Random order behavior

The random ordering is not something that can be fixed. Some of us, including me, think that it's not a bug. This behavior is actually the same one you expect from querying a table in a SQL database. The order is never guaranteed unless you explicitly specify it with an ORDER BY clause.

We don't support statement level ORDER BY for now, mainly because of

[2021-11-25 18:21] porrascarlos802018 opened #84421 "scenario, diagram missing"
its common to see customers with private AKS clusters and custom DNS servers at VNET level.
please exemplify this scenario in documentation and requirements for DNS resolution to work as expected, when dealing with FQDN record for the cluster API and for own , DNS records for customer DNS servers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2021-11-25 18:53] zhusulai opened #84422 "Enable One-time Passcode Programmatically"
[Enter feedback here]
Hi, is there a way to enable one-time passcode programmatically? For example, using a CLI/pwsh command, or a curl command?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83f1378d-b047-11d1-a138-5c52a3fee6ba
* Version Independent ID: 57c51f57-90ad-e0f9-1e6b-3262f94de02c
* Content: [One-time passcod

[2021-11-25 19:09] Svijay-msft commented on #84192
Just checking in to see if you have had a chance to see the previous response. Kindly let us know if you need further assistance on this issue or is good to be closed.

[2021-11-25 19:36] roylaprattep commented on #38135
You are a genius my man!

They should advice people of this little tweak, so this script is made for english OS.

Thank you very much.

[2021-11-25 19:42] nikki-c opened #84423 "The section How does Azure AD B2B differ from external sharing in SharePoint Online? is out of date"
The section How does Azure AD B2B differ from external sharing in SharePoint Online? is out of date

This information on SharePoint external settings is out of date.
These are the options you see in the SharePoint Admin center for external sharing
![image](https://user-images.githubusercontent.com/69439002/143493610-cfa7bc11-34c8-4c54-a360-da4af051b545.png)

Also the information of external user a

[2021-11-25 19:43] AjayKumar-MSFT commented on #84128
vibrunazo, Apologies for the delay in responding here.
I have gone through the same steps (with multiple accounts and subscriptions) as documented and it works fine (screenshot below).

To narrow down the issue, ensure that you have all the 'prerequisites' installed, as highlighted in the doc.

You may try these steps and see if it helps:

-Install the latest updates in Visual Studio (VS) by selec

[2021-11-25 19:43] #84128 closed

[2021-11-25 19:52] nikki-c opened #84424 "The two videos on the page are unavailable"
The two videos that should appear in the following sections are unavailable

- Set up Azure AD Multi-Factor Authentication for B2B users
- B2B users Azure AD Multi-Factor Authentication for offer redemption

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: baa66805-21c3-2236-594c-ad034314dcb0
* Version Independent ID: 604

[2021-11-25 20:21] sommarskog commented on #84293
Hm, this is not a support site. I directed you here, since you suggested that the documentation should be improved.

I am not sure that the list of limitations should be in this topic, but there should certainly be a link to a topic such a list, so that developers no that not everything works.

[2021-11-25 20:43] arrayofletters opened #84425 "Are Custom Schemes allowed in redirect urls or not?"
Docs say only https is allowed.

But when entering a redirect url, the validators says "Must start with https, http or 'customScheme://'"

I am trying to add ADAL URIs for brokers, which requires a custom scheme.  They seem to validate but are never saved.

If I cannot add ADAL URIs in Azure AD, then I presume ADAL is no longer supported at all?

---
#### Document Details

⚠ *Do not edit this sect

[2021-11-25 21:13] markjbrown commented on #84311
Yes, it absolutely is a security risk. You should use the same care with the master key that you would for any key-based authentication and never build applications which require storing the database's master keys on a client device.

[2021-11-25 21:16] divim opened #84426 "Resource Group is not"
[Enter feedback here]
![image](https://user-images.githubusercontent.com/23166053/143500434-1e148b0a-ef89-4c8f-b6d5-dededeb90150.png)
The resource group made for the Public IP address is different than the RG used to create every other resource.
Please change "MyResourceGroup" to "myResourceGroup" - thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2021-11-25 21:17] divim commented on #84426
The title came out weird - my issue here is that the resource group provided is incorrect and can be inconvenient especially when you want to clear out the demo environment by the resource group. :)

[2021-11-25 21:42] Damag3d opened #84428 "Connecting Data Factory to Azure Key Vault linked service through private endpoint"
It seems that Azure Key Vault is the only Azure linked service that does not support Data Factory connection through private endpoint. Why is that? Can you add some clarification?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4a11102-d44f-c7d2-c6b1-ec2b2a8b6055
* Version Independent ID: 7eb0fce9-55db-6851-4ada-2316fe

[2021-11-25 22:04] carlblanchard opened #84429 "Why is there no mention to company name on here?"
Why can't I seem to set the companyName fields against a user? There is a company name field in the portal under users.
![image](https://user-images.githubusercontent.com/18427214/143503377-ecad4694-75c5-4213-8d18-449e6e31946c.png)

You can set everything else apart from companyName? If I try setting the output claim to companyName I encounter an "Unable to validate the information provided." erro

[2021-11-25 22:17] communauto-asato opened #84430 "AADSSHLoginForLinux - Extension error on RHEL 8"
When installing the AADSSHLoginForLinux extension in a RHEL 8.4, it reported the following error:

[code]

According to the available packages available in the BaseOS repo (RHUI), the latest version for policycoreutils is the 2.9-14 instead of 2.9-16 required.

I do not want to add additional "non-official" repos into my server (such CentOS 8 Stream that I could find policycoreutils 2.9-16). Is th

[2021-11-25 22:29] hkusulja opened #84431 "Google G-Suite and Basic SAML configuration - Identifier domains with HTTPS"
Due to Azure AD update and limitation in portal.azure.com, you can not specify also HTTPS url when specifying whole domain, so need to remove two https options on Configure Azure AD SSO - step 5.  Basic SAML Configuration - Identifier

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3fdf59c4-653e-956e-d675-f7e17ed7d488
*

[2021-11-25 22:34] hkusulja opened #84432 "Google G-Suite SAML and non-ascii in claim"
Since Google G-Suite follows SAML standard that defines that SAML message needs to have only ASCII chars.
It is almost impossible in practice to avoid this on SAML Claims for surname field values etc.
Also, please confirm that Azure AD SAML Claim does not support Transformation from non-ASCII to ASCII function/operator.
Therefore, I suggest to remove existing note from documentation:

And instead

[2021-11-26 00:03] Grace-MacJones-MSFT commented on #84400
Hi @pettermoe95, thank you for the detailed question.  I have assigned the issue to the content author to evaluate and update this doc as appropriate.

[2021-11-26 00:12] Grace-MacJones-MSFT commented on #84399
Hi @LingYi-Wu thanks for your feedback! We will review and update this doc accordingly.

[2021-11-26 00:14] Grace-MacJones-MSFT commented on #84408
Hi @robinmanuelthiel, thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update  this doc as appropriate

[2021-11-26 00:16] Grace-MacJones-MSFT commented on #84409
thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-11-26 00:24] vibrunazo commented on #84128
@AjayKumar-MSFT thanks for the help. Your suggestion unfortunately didn't help me. What worked for me was [this Stack Overflow answer](https://stackoverflow.com/a/63947718/518936). I do not know why some accounts need that extra step while others don't. But I had to do so myself.

[2021-11-26 00:51] BharathNimmala-MSFT commented on #84405
@MasterKolka Thank you for sharing your feedback, assigned this issue to our document author to further review.

[2021-11-26 01:02] Grace-MacJones-MSFT commented on #84397
Hi @RutgerKosters,  thanks for the feedback! Which specific  doc do you want us to update?

[2021-11-26 01:23] caroysMSFT opened #84433 "Add discussion section on Splitting by Listener to monitoring document"
In the main metrics page, it mentions:

`If there are more than one listener in the Application Gateway, then always filter by Listener dimension while comparing different latency metrics in order to get meaningful inference.`

At a practical level, this is referring to the fact that listeners get averaged together, and very low latency on one, and high latency on the other could average each othe

[2021-11-26 01:25] Grace-MacJones-MSFT commented on #84406
Hi @arzWZM , thanks for the the feedback. is there a specific doc you were following?

[2021-11-26 01:34] Grace-MacJones-MSFT commented on #84410
Hi @GannonMA , Thanks for the feedback. Can you please share with us the documentation you're following.

[2021-11-26 01:48] chingzchen opened #84434 "cannot see"
Cannot see the remote skill setting in my custom command settings like this doc described
![image](https://user-images.githubusercontent.com/23547634/143514754-30d48565-0488-4de1-9d58-c5f4f3aeb585.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e6dbc20f-0092-26b5-006b-109563549523
* Version Independent ID: ccee098e

[2021-11-26 02:01] sunilagarwal commented on #84066
Flexible Server runs in a per tenant VM. we will add this clarificaiton

[2021-11-26 03:27] stowen-msft opened #84436 "These docs should also have an example of doing this operation with the dotnet SDKs"
We should have an example of doing this with operation (creating a VM with a cloud init script) using the dotnet SDK because:

1. Our customers won't always be doing these operation with the Azure CLI
2. I want to know how to do it :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7423e88e-de82-f754-956d-ba2575c96cbb
*

[2021-11-26 03:31] MayankBargali-MSFT commented on #84412
@AdaTheDev Thank you for your feedback! We will review and update as appropriate.

[2021-11-26 03:33] MayankBargali-MSFT commented on #84413
@priyankareddy20 Thank you for your feedback! We will review and update as appropriate.

[2021-11-26 03:41] MayankBargali-MSFT commented on #84418
@@MGodfrey50 Thank you for your feedback! We will review and update as appropriate.

[2021-11-26 03:46] MayankBargali-MSFT commented on #84247
@vspandey As there was no response we will now proceed to close this thread. As MicrosoftDocs Github issue is mainly related to the document issue and if this is not the case I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)

Once you post your issue on forums, it will have v

[2021-11-26 03:46] #84247 closed

[2021-11-26 03:53] tshaiman opened #84438 "Public Access"
Great Tutorial !

a short description is missing in the doc regarding the affect that adding the private link cause on the public access of the resource.
in other words : once you allow a private link as per this example , all other users are blocked from accessing the site.
Thus , it is not clear whether the sample was intended to show this , or this is a side effect .

a note about how to enable

[2021-11-26 04:11] MayankBargali-MSFT commented on #84415
@saikumaru Thank you for your feedback! We will review and update as appropriate.

[2021-11-26 04:13] MayankBargali-MSFT commented on #84416
@Joshw97 Thank you for your feedback! We will review and update as appropriate.

[2021-11-26 04:18] VikasPullagura-MSFT commented on #84436
@stowen-msft
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-11-26 04:18] VikasPullagura-MSFT commented on #84436
@mimckitt
Can you please check and add your comments on this doc update request as applicable.

[2021-11-26 04:25] SnehaAgrawal-MSFT commented on #84202
@YusukeTobo Thanks again for feedback! As its mentions in the document introduction that
"In Azure App Service, certain settings are available to the deployment or runtime environment as environment variables. Some of these settings can be customized when you set them manually as app settings. This reference shows the variables you can use or customize." Let us know if further query on this.

[2021-11-26 04:37] ram-msft commented on #84419
@JorickvdHoeven Thanks for the question. We are investigating the issue and will update you shortly.

[2021-11-26 04:44] adarshpunj commented on #34167
I was about to drop a long phishing alert mail to everyone, it's would get so embarrassing lol.

[2021-11-26 04:53] Svijay-msft commented on #84428
Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-11-26 05:16] RohitMungi-MSFT commented on #84434
@chingzchen  I believe there is an update to the settings and this option is not available now. We will check internally and update the documentation as required.
@singhsaumya FYI, could you please confirm?

[2021-11-26 06:18] SnehaAgrawal-MSFT commented on #84159
@tackc Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2021-11-26 06:44] MayankBargali-MSFT commented on #84421
@porrascarlos802018  Thank you for your feedback! We will review and update as appropriate.

[2021-11-26 07:20] SnehaAgrawal-MSFT commented on #84194
@Rashair Thanks for reaching here! If you are receiving any error? Could you please share screen-shot to help better on this.

Further as mentioned in modify section: you make a change to the web app code, rebuild the image, and then push it to your container registry. App Service then automatically pulls the updated image from the registry to update the running web app. Once the image push is com

[2021-11-26 07:35] svrooij commented on #64287
@jogikalpesh you can also use the common endpoint for multi tenant applications. That way it will use the V2 authentication endpoint and you also get Graph Tokens.

See [my blog post](https://svrooij.io/2021/05/05/azure-functions-multi-tenant-authentication/) for more info

[2021-11-26 07:43] RutgerKosters commented on #84397
Hi @Grace-MacJones-MSFT ,

These suggestions are for the following Doc: https://docs.microsoft.com/en-us/rest/api/netapp/volumes/create-or-update

Gr. Rutger

[2021-11-26 08:15] MayankBargali-MSFT commented on #84422
@zhusulai Thank you for your feedback! We will review and update as appropriate.

[2021-11-26 08:16] MayankBargali-MSFT commented on #84423
@nikki-c Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-11-26 08:17] MayankBargali-MSFT commented on #84424
@nikki-c Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-11-26 08:19] MayankBargali-MSFT commented on #84425
@arrayofletters Thank you for your feedback! We will review and update as appropriate.

[2021-11-26 08:24] danglund opened #84442 "Outdated reference to July 2020 as completely new"
The last sentence in this article says

"Note that this will not impact you unless you create a completely new search service."

From what I can understand, there was a change introduced in July 2020. The change only impacts users creating a new service after the July 2020. It is no longer accurate to say that it only affects you if you create a completely new search service. I think a majority of

[2021-11-26 08:29] robert4os opened #84443 "Incorrect interval boundaries in textual description"
Under Overview 3. it is said:
'Create a Copy activity that copies rows from the source data store with the value of the watermark column greater than the old watermark value and less than the new watermark value.'

but in the actual SQL below the following boundaries are used:
select * from data_source_table where LastModifytime > '@{activity('LookupOldWaterMarkActivity').output.firstRow.Watermark

[2021-11-26 08:37] alexeyshishkin01 commented on #84066
ok, seems to be copy-paste issue - the same text's been copied from Single Server documentation to Flexible Server one.

[2021-11-26 08:38] GitHubUser1339 opened #84444 "No documentation on how to troubleshoot non-compliancy with status 'ResourceNotFound'"
I have a Policy Initiative assigned at MG scope which contains a deployIfNotExist policy to configure NSG Flow logs. Out of 19 NSG's, 9 are reported non-compliant with status 'ResourceNotFound', while the NSG's are definitely there. The policy appears to be valid, as 10 NSGs are compliant.

Looking for information how to troubleshoot this, I find there's very little documentation on this topic. So

[2021-11-26 08:42] robert4os opened #84445 "Incorrect interval boundaries, same is in #84443"
Textual description in Overview 3.c. does not match SQL:

select * from @{item().TABLE_NAME} where @{item().WaterMark_Column} > '@{activity('LookupOldWaterMarkActivity').output.firstRow.WatermarkValue}' and @{item().WaterMark_Column} <= '@{activity('LookupNewWaterMarkActivity').output.firstRow.NewWatermarkvalue}'

Text should be:
'...data store with the value of the watermark column greater than t

[2021-11-26 08:46] ShaikMaheer-MSFT commented on #84443
@robert4os Thank you for valuable feedback. We are actively validating it. We will share updates shortly.

[2021-11-26 08:48] ShaikMaheer-MSFT commented on #84445
@robert4os Thank you for valuable feedback. We are actively validating it. We will share updates shortly.

[2021-11-26 08:50] amanmcse commented on #84415
@saikumaru This is assigned to the author to review and update accordingly.

[2021-11-26 08:58] Svijay-msft commented on #84192
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-11-26 08:58] #84192 closed

[2021-11-26 09:06] GannonMA commented on #84410
Hope this is everything you need grace, let me know if you need more specifics:

https://docs.microsoft.com/en-us/azure/active-directory/app-provisioning/workday-attribute-reference#xpath-values-for-workday-web-services-wws-api-v30

[2021-11-26 09:15] klasen opened #84446 "deriving the x5t header"
The base64url encoding of `84E05C1D98BCE3A5421D225B140B36E86A3D5534` would be `ODRFMDVDMUQ5OEJDRTNBNTQyMUQyMjVCMTQwQjM2RTg2QTNENTUzNA`. `84E05C1D98BCE3A5421D225B140B36E86A3D5534`  and `hOBcHZi846VCHSJbFAs26Go9VTQ=` are encodings of the same byte array.
So you probably mean to base64url encode the SHA-1 hash (of the DER  encoding of the X.509 certificate) directly and not to base64url encode the HE

[2021-11-26 09:15] GitaraniSharma-MSFT commented on #84426
@divim , thank you for your feedback. We'll review this and get back to you shortly!

[2021-11-26 09:19] GitaraniSharma-MSFT commented on #84433
@caroysMSFT , thank you for your feedback. We have assigned this issue to the respective product owner for review.

@azhar2005 , Could you please provide your insights here?

[2021-11-26 09:59] SrijitBose-MSFT commented on #84421
@porrascarlos802018 ,

The basic requirement is mentioned in the document for custom DNS:

Also [here](https://docs.microsoft.com/en-us/azure/aks/private-clusters#hub-and-spoke-with-custom-dns) it mentions:

Does this help address your feedback?

[2021-11-26 10:02] richard-artes opened #84447 "Needs updating for the latest Azure portal GUI"
This page needs updating to the latest Azure portal GUI

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04403549-f1f6-6335-ff08-a84bb6c79e75
* Version Independent ID: 91e5132d-ab4c-c4c9-0999-270eac76f587
* Content: [Monitor Azure Site Recovery - Azure Site Recovery](https://docs.microsoft.com/en-us/azure/site-recovery/s

[2021-11-26 10:14] kjhf opened #84448 "Initialize the SDK with Azure AD in Python"
Hi there,
In the [Initialize the SDK with Azure AD](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/cosmos-db/how-to-setup-rbac.md#initialize-the-sdk-with-azure-ad) section, there's no example written for Python, but the Permission model lists Python
as an available Azure RBAC option.
Please can an example be written or a note clarifies Python's TokenCredential usage, if available

[2021-11-26 10:31] SumanthMarigowda commented on #84201
@D3-LucaPiombino Firstly, apologies for the delay in responding here.

You can use Azure pricing calculator estimate the costs for Azure products : https://azure.microsoft.com/en-in/pricing/calculator/, also you can contact [azure billing support ](https://azure.microsoft.com/en-in/support/options/) it's free, and it's the best choice for you

Still I have assigned this content author to provide m

[2021-11-26 10:36] MayankBargali-MSFT commented on #84429
@carlblanchard Thank you for your feedback! We will review and update as appropriate.

[2021-11-26 10:37] MayankBargali-MSFT commented on #84430
@communauto-asato Thank you for your feedback! We will review and update as appropriate.

[2021-11-26 10:38] MayankBargali-MSFT commented on #84431
@hkusulja Thank you for your feedback! We will review and update as appropriate.

[2021-11-26 10:38] MayankBargali-MSFT commented on #84432
@hkusulja Thank you for your feedback! We will review and update as appropriate.

[2021-11-26 11:05] clementratel opened #84449 "Update needed - just follow instructions"
Hello, the training was good but can be improved and updated.

1) the training says that you need to switch to Pay-As-You-Go but that is not true.
You can achieve the training while staying in Free Trial vanilla. To achieve this, the Cluster creation should mention selecting "Single Node" instead of "Standard". This will reduce the number of Cores needed (it did throw an error about 8 cores needed

[2021-11-26 11:05] zojovano commented on #83013
Thanks for clarification. I mistakenly expected all of the limits to be documented in the centralized document page.
Maybe as a suggestion to standardize documenting non-subscription based limits within Service documentation for each service (as a dedicated page for limits)?

[2021-11-26 11:37] krishrocks1904 opened #84450 "how to automate this process to manage the log?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29304fa8-6d2a-1340-9ea1-32ca8e917c57
* Version Independent ID: 95452f42-4bad-b731-6852-9cced9ee7ede
* Content: [Manage disk space in Azure HDInsight](https://docs.microsoft.com/en-us/azure/hdinsight/hadoop/troubleshoot-disk-space)
* Content Source: [a

[2021-11-26 11:38] ssivas commented on #84432
@hkusulja, Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-11-26 11:51] nicemilio commented on #84293
Yes, a list, in its own topic, where you would list what doesn't work would be great. :)

[2021-11-26 12:10] SaiKishor-MSFT commented on #84438
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-11-26 12:23] shashishailaj commented on #84446
@klasen THank you for your feedback . We will engage with the doc author to review and update .

[2021-11-26 12:28] xiongyu0523 commented on #84346
ok, i think we should document this limiation and replace below section

[code]

[2021-11-26 12:30] BMichaelJ opened #84451 "Migration status PowerShell support for Cosmos continuous backup?"
Doing the migration in PowerShell, it would be nice to see the status with Powershell also, the documentation includes the az commands under the PowerShell chapter.
If there is no PowerShell support to check the status this could be clarified to avoid confusion,

https://docs.microsoft.com/en-us/azure/cosmos-db/migrate-continuous-backup#powershell

---
#### Document Details

⚠ *Do not edit this se

[2021-11-26 13:02] nysthee opened #84452 "Duplicate paragraph"
Duplicate paragraph

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ce7cf58-48ce-ba05-0656-f181c4684e87
* Version Independent ID: 06e92106-9896-2343-1c09-df98454d9568
* Content: [Azure Data Lake Storage Gen2 frequently asked questions and known issues - Azure Databricks](https://docs.microsoft.com/en-us/azure/d

[2021-11-26 13:39] massimoforni-turboden opened #84453 "This page should reflect the changes in ASP.NET core and .NET 6, this is still based on .NET Framework 4.6"
This page should reflect the changes in ASP.NET core and .NET 6, this is still based on .NET Framework 4.6

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91eda09f-d369-1ff4-f458-7374597c9c80
* Version Independent ID: fb963d39-68e2-3510-6b0d-5688a5a3bd57
* Content: [Create an ASP.NET web app with Azure Cache for Redis](

[2021-11-26 13:40] PeterKessler opened #84454 "PowerShell Example ist not working"
The second line of the first script is missing a $ before blobStorageAccountKey

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be6225e2-f996-0240-ec57-bb601e0e490d
* Version Independent ID: 02e61a77-e74d-a9ef-cccc-d59e8e26f8b9
* Content: [Secure access to application data - Azure Storage](https://docs.microsoft.com/en-

[2021-11-26 14:01] verbedr opened #84455 "Add info about tls12 restrictions"
Please add a section about the tls1.2 restrictions. We had an issue with no data being logged from our azure app service to an application insight. The solution was to add the httpRuntime setting as explained in the following post.

https://docs.microsoft.com/en-us/azure/azure-monitor/app/snapshot-debugger-troubleshoot?toc=/azure/azure-monitor/toc.json#SSL

---
#### Document Details

⚠ *Do not edi

[2021-11-26 14:27] ryepup commented on #84102
thanks! Please note that I was unable to get `DOTNET|6.0` to work on linux, I opened a separate ticket for that over on https://github.com/Azure/app-service-linux-docs/issues/98, but I'm not sure if that's the right place to report a bug.

[2021-11-26 14:29] reddyeshwar17 opened #84458 "Retrieve full device twin data on device twin changed events"
can I select entire device twin config like below on IoT hub

SELECT * FROM devices WHERE is_object($body.properties.desired)

[2021-11-26 15:23] SnehaAgrawal-MSFT commented on #84442
@danglund Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-11-26 15:46] clementratel opened #84461 "One error in the Quickstart query"
Hello,

A good training but the query
SELECT
*
INTO
...
FROM
....
HAVING TEMPERATURE > 27

should be:

SELECT
*
INTO
...
FROM
....
WHERE TEMPERATURE > 27
(in fact the software will complain about the missing GROUP BY clause if you use HAVING instead of WHERE).

Regards,
Clement RATEL

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2021-11-26 15:48] mestafin opened #84462 "PersonDirectory Structure"
How do you list the persisted faces of a person in the PersonDirectory?
What endpoint / resource do you use?

How do you list the DynamicPeronGroups?
What endpoint / resource do you use?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4df5f96-e61b-ad7a-f0d2-27f8ed88b313
* Version Independent ID: 0529713f-772e-978f-c25d

[2021-11-26 15:56] aravishdatabricks opened #84463 "Doc correction"
The doc needs to be corrected in 2 places, backslashes are missing for the path

1
**Set driver configurations**
Check if the microsoft.sparkodbc.ini file was already created. If it is then jump to step 3.

Change this line
Open Notepad or File Explorer as Run As Administrator and create a file at ODBC DriversSimba Spark ODBC Drivermicrosoft.sparkodbc.ini.

To
Open Notepad or File Explorer as Run

[2021-11-26 16:13] ssivas commented on #84422
@zhusulai,

Thanks for reaching out.

You can enable One-time Passcode through the Microsoft Graph API [authenticationMethodConfigurations/email](https://docs.microsoft.com/en-us/graph/api/emailauthenticationmethodconfiguration-update?view=graph-rest-1.0&tabs=http) method, as demonstrated below:

**Example:**

PATCH https://graph.microsoft.com/v1.0/policies/authenticationMethodsPolicy/authenticati

[2021-11-26 16:13] #84422 closed

[2021-11-26 16:26] clementratel opened #84464 "TelcoGenerator :( Error on send: One or more errors occurred."
Hello,

I had to stop the Tutorial since running TelCoGenerator would output the error message
"Error on send: One or more errors occurred."
between each row of data in the Command Prompt.

I double checked everything, and anticipating your questions:
Yes I did put the valid event hub name, not namespace name, in the correct config file,
Yes I did remove the EntityPath including the ; at the end o

[2021-11-26 16:40] rakheshster opened #84465 "Acquiring an access token with a Managed Identity"
Hi,

Are there any instructions on how to get an access token with the Managed Identity of a Logic App? The document has an example on doing an HTTP request using the Managed Identity but I am looking at a use case where an Azure Function requires authentication via Azure AD and the process for that requires an access token (the ID token). Specifically, one has to get an ID token and then exchange

[2021-11-26 16:44] RedTaz opened #84466 "Incorrect syntax for custom roles cli sample"
`az role create -inputfile <file path>` yields the error

[code]
Azure CLI version: 2.30.0 (latest)

I assume this should be
`az role definition create --role-definition <file path>`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0290c16b-f205-94bb-23c3-4981ec8b0ac3
* Version Independent ID: 3ad049c0-a292-c616-06e6-8d7

[2021-11-26 16:48] stefan-schweiger commented on #36650
@RyanHill-MSFT at least for me when changing connection strings which use KeyVault references restarting the app is not enough. I need to completely change the Connection String to another value which is not the KeyVault reference and then change it back to get the correct version.

[2021-11-26 17:03] DMaxwell02 opened #84467 "Code section for Create digital twins missing two end brackets } } ."
Sample code in help document missing two end brackets:

`            }
        }`

See following link:

https://docs.microsoft.com/en-us/azure/digital-twins/concepts-twins-graph#create-digital-twins

See code pasted here:

`// Define a custom model type for the twin to be created

internal class CustomDigitalTwin
{
    [JsonPropertyName(DigitalTwinsJsonPropertyNames.DigitalTwinId)]
    public stri

[2021-11-26 17:05] stefan-schweiger commented on #51708
@PramodValavala-MSFT @Karishma-Tiwari-MSFT @mattchenderson Also having the same issue with AppServices, restarting isn't enough to get the most recent secret value. I can even disable all older versions in my keyvault and it still uses the old version. Because of this I'm fairly certain that this is a caching issue.

After a certain time and restarting it just works. I guess this happens when the

[2021-11-26 17:07] bandersmsft commented on #84238
@sayel-76 Hi there. Can you please let me know that type of subscription you're referring to? Can can view Properties option under Settings using the various subscription types that I have access to.

[2021-11-26 17:16] fishcharlie opened #84468 "Undefined Property - Object detection with Custom Vision client library"
On [this page](https://docs.microsoft.com/en-us/azure/cognitive-services/custom-vision-service/quickstarts/object-detection?tabs=visual-studio&pivots=programming-language-javascript#upload-and-tag-images), `forkTag` is undefined.

[code]

As you can see in the documentation line above it uses `forkTag.id`, but `forkTag` is never defined.

---
#### Document Details

⚠ *Do not edit this section. It

[2021-11-26 17:18] fishcharlie opened #84469 "Duplicate Code Blocks - Object detection with Custom Vision client library"
This page has duplicate code blocks for the `Authenticate the client` & `Add helper function` sections.

I think that the `Add helper function` section code needs to be updated to be more accurate. I'm assuming this might include #84468, and maybe the `asyncForEach` code?? Hard to say tho.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2021-11-26 17:33] kamalvf opened #84470 "Suggest reordering the sections"
Was confused at first then found Masters in the middle, would suggest making Masters first on the page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06655dd8-72a7-f297-6b31-ae465b8e963a
* Version Independent ID: 598d28da-f7c3-ef63-c3bf-474dc3dad4df
* Content: [Azure Red Hat OpenShift 4 cluster support policy](https://

[2021-11-26 17:37] Pete-rePete commented on #61488
@VikasPullagura-MSFT I think the issue isn't regarding the intended behaviour, Rakesh is asking for the intended behaviour to be documented explicitly? [The best we have is this](https://docs.microsoft.com/en-us/azure/container-instances/container-instances-reference-yaml) which is hard to follow because there is no concrete example

Separately it could be nice to make a feature request to add DNS

[2021-11-26 17:40] clementratel opened #84471 "" The Azure Synapse resource provider (Microsoft.Synapse) needs to be registered with the selected subscription. ""
Hello,

Good training but I got the error:
" The Azure Synapse resource provider (Microsoft.Synapse) needs to be registered with the selected subscription. "
To solve it I had to follow the below steps:

"Subscriptions" in the left pane
select "Free Trial" subscription
"Resource Provider" in the left pane of the "Free Trial" subscription
search for synapse
select Microsoft.Synapse
click "Register"

[2021-11-26 17:42] diegoripera opened #84472 "Error creating new secret scope in firefox"
When trying to register a new secret scope it shows an error from firefox, in chrome this error is not shown:

Unable to grant read/list permission to Databricks service principal to KeyVault 'https://xxxxxxxxxx.vault.azure.net/': key not found: https://management.core.windows.net/

![image](https://user-images.githubusercontent.com/47865002/143616205-e02f885c-04ff-483a-96c2-544319b28155.png)

---

[2021-11-26 17:43] clementratel opened #84473 "Tutorial page improvement suggestion"
Hello,

This training page is a bit below the other ones in quality IMHO, maybe it could be improved.

Steps are incomplete:
- You have to know about the USE database; command if you do not want to use the UI to switch Database. Would be simpler to have them embeded inside tutorial code samples.
- I would recommend to "Publish" each script with a different name one after another for better steps f

[2021-11-26 17:45] fishcharlie opened #84474 "Broken Hyperlink - Object detection with Custom Vision client library"
Under the [Code Examples](https://docs.microsoft.com/en-us/azure/cognitive-services/custom-vision-service/quickstarts/object-detection?tabs=visual-studio&pivots=programming-language-javascript#code-examples) section, the hyperlink to `Add tags to the project` is broken and doesn't do anything.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2021-11-26 17:51] jenellea opened #84475 "Callout(s) for resource menu"
Item 6 is identified as the resource menu; however the text on this page ALSO refers to it as 'the sidebar' and the left pane. The multiple monikers for this menu causes a ripple effect in naming the menus of any subsequent child panes, such as Create resource pane, or the Overview pane for a Service Bus Namespace pane. Is there any guidance on what to call the vertical menu? "left middle pane" *i

[2021-11-26 18:06] martingbrown opened #84476 "Sample commands don't work"
I copied the command off the page and pasted it into the command prompt:
[code]
The hit enter and got this:
[code]
az version is showing this:
[code]
Any ideas?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9afab524-67c2-2e76-fd7a-46238cb9d249
* Version Independent ID: ae2da577-6026-f322-1c09-dbcc6068c01a
* Content: [

[2021-11-26 18:11] porkamizeria opened #84477 "Incorrect PowerShell command"
Hello, there seems to be a small typo on this page.
Under _Expand existing file shares_ section, then _PowerShell_ the command to update share quota is shown as **Set-AzRmStorageShare** however this doesn't seem to be a real command (maybe some older version?). What works instead is
**Update-AzRmStorageShare** with exactly the same parameters
Hope this helps
Cheers!

---
#### Document Details

⚠ *

[2021-11-26 18:44] joataid opened #84478 "URLs update"
To allow **catalogartifact.azureedge.net** the document says you can use AzureCloud service tag.
Is this up to date?

Because I tested in 3 different tenants and subscriptions and allowing AzureCloud service tag connectivity does not allow catalogartifact.azureedge.net.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40

[2021-11-26 18:54] VitalyMCT opened #84479 "Geo-restore link"
The link points to https://docs.microsoft.com/en-us/azure/key-vault/general/disaster-recovery-guidance instead of the correct page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0eedc850-d0b4-c414-b8a3-7657635ddd92
* Version Independent ID: c458e5cf-15f4-9811-2c6b-90a3bca61973
* Content: [SaaS apps: Geo-redundant back

[2021-11-26 19:13] #84465 closed

[2021-11-26 19:14] rakheshster commented on #84465
Closing this as I figured it works out of the box using Managed Identity. Unless you are restricting the App Registration to specific users or groups.

[2021-11-26 20:24] Grace-MacJones-MSFT commented on #84444
thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-11-26 20:26] Grace-MacJones-MSFT commented on #84447
thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-11-26 20:26] Grace-MacJones-MSFT commented on #84448
thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-11-26 21:51] VitalyMCT opened #84482 "Backup & geo-restore commitments"
There are two fundamental DR-related questions which do not seem to be covered on this page:

1) What's the RTO for geo-restores?
2) What's the geo-backup retention period? Can it be customized?

Please provide clarity on these important points. Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7c1ff9c-547c-e9

[2021-11-26 22:09] AjayKumar-MSFT commented on #84212
tdurtschi, Apologies for the delayed  response. Thanks for posting the solution that worked for your with the community, it would surely community with a similar issue/error.

-There could be several causes for the error, node_modules missing error.

I did not notice this issue on my repro, following the doc outlined steps.
Azure App Service does not support all native modules by default, and migh

[2021-11-26 22:24] sssphil opened #84483 "More details needed for the configuration for syncing multiple kinects"
[Enter feedback here]
The section "Avoid interference between multiple depth cameras" says

Are they controlling how the depth capture is delayed off the color capture on the same Kinect and how the color capture on a sub is delayed off the one on the master? According to the documentation of subordinate_delay_off_master_usec,

Does this mean in the case subordinate_delay_off_master_usec is set to

[2021-11-26 22:55] DeanGross opened #84484 "Instructions for configuring/enabling Defender for Key Vault."
Where are the instructions for enabling this defender plan? all of the other plans have an instruction page, but this documentation is written for people that already have the plan enabled.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ff2900e-77dd-bd80-c3fd-30b9bfbfbae7
* Version Independent ID: 86f5fa8e-f446-13b0-42

[2021-11-26 23:09] clementratel opened #84485 "Consider removing PowerBI from your Quickstart guide"
Hello,

Well, PowerBI is clearly not working with Azure in this situation.
I spent way too much time (several hours) trying to make it work with no luck.
I mean just try to play around with Power BI and Azure Synapse Workspaces or Azure Data Lake Gen2, it is clearly not mature !
Maybe you should remove it from that tutorial.

Regards,
Clement RATEL
---
#### Document Details

⚠ *Do not edit this se

[2021-11-26 23:20] IanMercer opened #84486 "How does the Rule Set matching relate to the "Patterns to match" on the Update Route Page"
It's not clear how the RULE interact with the Route Page parameter "Patterns to Match".

Does the rule override the patterns to match? or does the request need to match both the rule and the pattern?

Also unclear is whether `/root/*` matches `/root/foo` and `/root/foo/bar` or just the former. Should call out whether the * wildcard is for a path segment or the remaining path.

Also unclear how the

[2021-11-26 23:50] RogerRamjet69 opened #84487 "EVERYTHING MICROSOFT SUCKS!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!"
Fucking GoDaddy forced us to Microsoft 365 email which NEVER FUCKING WORKS!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!BOTH COMPANIES ARE SHIT!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 115ae83a-95dd-5643-bc88-f5447ebb2b99
* Version Independent ID: 7462ce84-0a9f-4bfd-7eba-c00928d7

[2021-11-27 00:27] YutongTie-MSFT commented on #84275
@wajahat1974 I have updated the document, thanks a lot!
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2021-11-27 00:27] #84275 closed

[2021-11-27 01:36] MayankBargali-MSFT commented on #84449
@clementratel Thank you for your feedback! We will review and update as appropriate.

[2021-11-27 01:37] MayankBargali-MSFT commented on #84450
@krishrocks1904 Thank you for your feedback! We will review and update as appropriate.

[2021-11-27 01:38] MayankBargali-MSFT commented on #84451
@BMichaelJ Thank you for your feedback! We will review and update as appropriate.

[2021-11-27 01:39] MayankBargali-MSFT commented on #84452
@nysthee Thank you for your feedback! We will review and update as appropriate.

[2021-11-27 01:39] MayankBargali-MSFT commented on #84453
@massimoforni-turboden Thank you for your feedback! We will review and update as appropriate.

[2021-11-27 01:40] MayankBargali-MSFT commented on #84454
@PeterKessler Thank you for your feedback! We will review and update as appropriate.

[2021-11-27 01:41] MayankBargali-MSFT commented on #84455
@verbedr Thank you for your feedback! We will review and update as appropriate.

[2021-11-27 01:44] MayankBargali-MSFT commented on #84461
@clementratel Thank you for your feedback! We will review and update as appropriate.

[2021-11-27 01:45] MayankBargali-MSFT commented on #84462
@mestafin Thank you for your feedback! We will review and update as appropriate.

[2021-11-27 01:45] MayankBargali-MSFT commented on #84463
@aravishdatabricks Thank you for your feedback! We will review and update as appropriate.

[2021-11-27 01:46] MayankBargali-MSFT commented on #84464
@clementratel Thank you for your feedback! We will review and update as appropriate.

[2021-11-27 01:47] MayankBargali-MSFT commented on #84466
@RedTaz Thank you for your feedback! We will review and update as appropriate.

[2021-11-27 01:48] MayankBargali-MSFT commented on #84467
@DMaxwell02 Thank you for your feedback! We will review and update as appropriate.

[2021-11-27 01:49] MayankBargali-MSFT commented on #84468
@fishcharlie Thank you for your feedback! We will review and update as appropriate.

[2021-11-27 01:50] MayankBargali-MSFT commented on #84469
@fishcharlie Thank you for your feedback! We will review and update as appropriate.

[2021-11-27 01:51] MayankBargali-MSFT commented on #84470
@kamalvf  Thank you for your feedback! We will review and update as appropriate.

[2021-11-27 01:51] MayankBargali-MSFT commented on #84471
@clementratel Thank you for your feedback! We will review and update as appropriate.

[2021-11-27 01:52] MayankBargali-MSFT commented on #84472
@diegoripera Thank you for your feedback! We will review and update as appropriate.

[2021-11-27 01:53] MayankBargali-MSFT commented on #84473
@clementratel Thank you for your feedback! We will review and update as appropriate.

[2021-11-27 01:55] MayankBargali-MSFT commented on #84474
@fishcharlie Thank you for your feedback! We will review and update as appropriate.

[2021-11-27 01:56] MayankBargali-MSFT commented on #84475
@jenellea Thank you for your feedback! We will review and update as appropriate.

[2021-11-27 01:57] MayankBargali-MSFT commented on #84476
@martingbrown Thank you for your feedback! We will review and update as appropriate.

[2021-11-27 01:57] MayankBargali-MSFT commented on #84477
@porkamizeria Thank you for your feedback! We will review and update as appropriate.

[2021-11-27 01:58] MayankBargali-MSFT commented on #84478
@jorge-ataide Thank you for your feedback! We will review and update as appropriate.

[2021-11-27 01:59] MayankBargali-MSFT commented on #84479
@VitalyMCT Thank you for your feedback! We will review and update as appropriate.

[2021-11-27 02:00] MayankBargali-MSFT commented on #84482
@VitalyMCT Thank you for your feedback! We will review and update as appropriate.

[2021-11-27 02:01] MayankBargali-MSFT commented on #84485
@clementratel Thank you for your feedback! We will review and update as appropriate.

[2021-11-27 02:02] MayankBargali-MSFT commented on #84486
@IanMercer Thank you for your feedback! We will review and update as appropriate.

[2021-11-27 02:03] MayankBargali-MSFT commented on #84484
@DeanGross Thank you for your feedback! We will review and update as appropriate.

[2021-11-27 02:05] MayankBargali-MSFT commented on #84483
@sssphil Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-11-27 02:07] MayankBargali-MSFT commented on #84458
@reddyeshwar17  Can you please provide more details if you have followed any of the Microsoft documents?
MicrosoftDocs Github issue is mainly related to the document issue. If this is not the case I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)
Once you post your issue on f

[2021-11-27 02:12] alex--thomas opened #84488 "Process no longer reflects current UI experience"
Hi,

The process and UI experience described here no longer reflects the current experience within Google.

[Enter feedback here]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ed01893-a5cd-28bd-b865-e7ebe5870567
* Version Independent ID: b3d96be0-1470-eb2c-ea5b-cea0a5cc44a1
* Content: [Add Google as an identity provi

[2021-11-27 04:03] Grace-MacJones-MSFT commented on #84488
Hi @alex--thomas, thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update this docas appropriate

[2021-11-27 07:47] VigilanteWang opened #84493 "Regional Scale Set and Placement groups questions"
1.  Regarding availability, There are 2 types of scale set: Regional and zonal. **Correct?**

2.  In one feedback wrote: "if you do not specify to use AV Zones then the default behavior would be to use placement groups". Does it mean only Regional Scale set uses placement groups?

3. Placement group and Availability Zones, qoute

- Are these 2 sentences both talking about Regional Scale sets?
- VM

[2021-11-27 08:07] jasonhorner opened #84494 "Content is duplicated"
The first entry for the FAQ appears to have been inadvertently duplicated.
I was unable to submit a PR as it appears you don't have that capability enabled on this section of the docs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ce7cf58-48ce-ba05-0656-f181c4684e87
* Version Independent ID: 06e92106-9896-2343-1c09-df

[2021-11-27 08:22] sy-huss opened #84495 "Order of the code is incorrect"
If you are following the tutorial you end up creating a query for objects that do not exist. A main function doesn't also exist. The code at the end it different to what would be followed in the tutorial.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40462fee-eb9e-5874-35b8-26d4605e390f
* Version Independent ID: bccb7

[2021-11-27 08:52] YusukeTobo commented on #84202
@snehaamicrosoft Thank you for updating me. My concern is that WEBSITES_CONTAINER_START_TIME_LIMIT is currently categorized in Custom Container in the doc even though the setting is also valid in Web Apps on Linux.

Some customer possible misunderstand that it's not effective in Web Apps on Linux because it's in Custom Container section.
What do you think about the concern?

![image](https://user-

[2021-11-27 10:14] MMerzinger opened #84496 "Microsoft Defender support for AKS VMSS deployments"
Hello everyone

The documentation states, that there is currently no support for the Log Analytics Agent on AKS clusters deployed with virtual machine scale sets. Furthermore, it states "If your cluster is deployed on an Azure Kubernetes Service virtual machine scale set, the Log Analytics agent is not currently supported.".

But on the other hand, there is the limitation that AKS clusters must us

[2021-11-27 10:52] matthansen0 opened #84497 "Information Outdated"
I am making the assumption that this information is outdated and that Azure is not built on EOS operating systems.

"The OS that runs on all nodes is a customized version of Windows Server 2008 or Windows Server 2012."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ef67581-8a74-70d9-b0d0-a2a1182dfd32
* Version Indepen

[2021-11-27 11:06] SrijitBose-MSFT commented on #84421
@porrascarlos802018 , can you please check if the earlier comment addressed your query?

[2021-11-27 15:04] mitanabe opened #84499 "Video of Installation Guide is unavailable"
[Enter feedback here]
Installation guide video is unavailable in this page now.
https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-install-express#videos

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c650df29-72e7-ea25-ee53-f467f925ef39
* Version Independent ID: fed9f82b-4206-c231-84a3-8791d

[2021-11-27 15:05] mitanabe commented on #84499
![screenshot](https://user-images.githubusercontent.com/50765231/143686695-91f678e3-4f29-457c-a58d-d131a733e380.png)

[2021-11-27 16:10] Gargar17 opened #84500 "Report from Liberia"
[so unfortunately that this service is not available in Liberia with all the knowledge I have gained and encouragement thanks for you understanding and hope to see Liberia on the list]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8da07311-409a-3de1-d501-93f6a798f6ff
* Version Independent ID: 1878ec1a-a173-8234-65db-e

[2021-11-27 18:19] AjayKumar-MSFT commented on #84465
rakheshster, Glad you have figured out the issue. Thanks for leveraging Azure docs feedback channel and much appreciate the follow-up.

[2021-11-27 18:22] AjayKumar-MSFT commented on #84134
liiamjones, No worries. Much appreciate the follow-up on this.

[2021-11-27 18:25] AjayKumar-MSFT commented on #84212
tdurtschi,  We will proceed to close this thread for now. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion.

[2021-11-27 18:25] #84212 closed

[2021-11-27 18:51] jpeckham opened #84501 "probably need other nuget packages"
[Enter feedback here]
probably need other nuget packages

Using NuGet package Manager, install Microsoft.Azure.WebJobs.Extensions and Microsoft.Azure.WebJobs.Extensions.Storage packages.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e9e1a8a-6284-a230-061e-7cb27258571a
* Version Independent ID: 43390e30-04d6-6d4e-018e

[2021-11-27 18:52] #84501 closed

[2021-11-27 19:11] nikki-c opened #84502 "Can a group be restored if it has a retention policy applied to it?"
On the page it states
'Any Microsoft 365 group that is deleted can be restored within 30 days by the group owners or the administrator.'
Can a group be restored if it has a retention policy applied to it?

On the following page it does  not mention  whether it can or cannot https://docs.microsoft.com/en-us/microsoft-365/compliance/retention-settings?view=o365-worldwide#what-happens-if-a-microsoft-

[2021-11-27 19:18] SadiqhAhmed-MSFT commented on #84475
@JnHs Any insights on the mentioned query?

[2021-11-27 20:08] tshaiman opened #84503 "Missing Migration steps from "old" aad-pod-identity"
since this is preview feature , most of the users of AAD-Pod-Identity come from https://azure.github.io/aad-pod-identity/docs/demo/standard_walkthrough/

thus migration steps from that "manual" mode to this new "managed" mode is much required.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3c187c0-27f1-11c9-41af-6c65c

[2021-11-27 21:53] DeanGross opened #84504 "old content"
Please update and keep this page maintained. I am quite sure that there have been some new features added in the past year.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ebd9dd1-08f8-c966-0c56-42dd301bdd93
* Version Independent ID: c83f1274-0c87-bee6-a91d-558c63ab2f95
* Content: [What's new for Azure Key Vault](https

[2021-11-27 22:02] nikki-c opened #84505 "Diagram is hard to read"
Please can the following diagram be made clearer, or if clicked on it enlarges as the text is very small and is heard to read plus the colour contrasts on the pink and purple boxes are not very good.

![image](https://user-images.githubusercontent.com/69439002/143721817-9f0796b4-89c6-4269-9ee2-00d995b6a459.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2021-11-27 22:22] BharathNimmala-MSFT commented on #84487
Please note that this channel (the Azure Docs repository) is only for driving improvements related to the Azure documentation. At this point it appears that there's no edits or updates needed to the documentation. We will go ahead and close this issue, however if you have any further queries please let us know. Thank you

[2021-11-27 22:22] #84487 closed

[2021-11-27 22:44] iddycol opened #84506 "Cloud explorer"
Instructions require the use of cloud explorer but his is retired in Visual Studio 2022? - https://docs.microsoft.com/en-us/visualstudio/azure/vs-azure-tools-resources-managing-with-cloud-explorer?view=vs-2022

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c557865-c800-2846-1d10-003f2c16213b
* Version Independent ID:

[2021-11-28 00:04] Richard-Painworth opened #84507 "HTML Considerations"
This skill is documented to extract text from various file formats, but for HTML, there is no expectation set as to what it will extract.  An example would be greatly appreciated.  New to skillsets for Cognitive services, but I'm sure extracting text from HTML documents are a major use case.  In addition, HTML file should be retrieved using a URL rather than stored as a blob.  Both are retrieved b

[2021-11-28 00:12] jyama4ta opened #84508 "Does Dasv4 support VM-level bursting?"
On 'Virtual machine-level bursting' section, Dasv4 seems to support VM-level bursting.
However, on 'Bursting examples' section, it says D8as_v4 is Non-burstable virtual machine. Also, the figure shows D8s_v3.
This documentation is inconsistent and confusing. Could you please check this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2021-11-28 02:02] SeaDude opened #84510 "Python examples?"
Are there Python examples for programmatically setting Azure subscriptions? They should be linked here if possible.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d73f3e0-d3d3-eca9-483f-4a787fa77bb2
* Version Independent ID: d4046a56-c05e-e278-382d-2cb26dd5c20f
* Content: [Programmatically create Azure Enterprise Agre

[2021-11-28 02:30] Grace-MacJones-MSFT commented on #84493
Hi @VigilanteWang ,  thank you for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

[2021-11-28 02:40] Grace-MacJones-MSFT commented on #84495
Hi @deborahc , thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update this doc as appropriate

[2021-11-28 02:44] Grace-MacJones-MSFT commented on #84497
Hi @matthansen0 , thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update this doc as appropriate

[2021-11-28 02:56] MayankBargali-MSFT commented on #84496
@MMerzinger Thank you for your feedback! We will review and update as appropriate.

[2021-11-28 03:02] Grace-MacJones-MSFT commented on #84494
Hi @jasonhorner ,hanks for your feedback! I've submitted a PR internally to update this doc.

@mssaperla can you please take a look at the PR?

[2021-11-28 03:03] MayankBargali-MSFT commented on #84506
@iddycol Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-11-28 03:05] MayankBargali-MSFT commented on #84499
@mitanabe Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-11-28 03:07] MayankBargali-MSFT commented on #84500
@Gargar17 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-11-28 03:10] MayankBargali-MSFT commented on #84507
@Richard-Painworth Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-11-28 03:11] MayankBargali-MSFT commented on #84502
@nikki-c Thank you for your feedback! We will review and update as appropriate.

[2021-11-28 03:12] MayankBargali-MSFT commented on #84503
@tshaiman Thank you for your feedback! We will review and update as appropriate.

[2021-11-28 03:18] MayankBargali-MSFT commented on #84504
@DeanGross Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-11-28 03:20] MayankBargali-MSFT commented on #84505
@nikki-c Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-11-28 03:21] Grace-MacJones-MSFT commented on #84510
Hi @SeaDude, thanks for the feedback! I have assigned the issue to the content author to evaluate and update this as appropriate.

[2021-11-28 03:21] MayankBargali-MSFT commented on #84508
@roygara Thank you for your feedback! We will review and update as appropriate.

[2021-11-28 04:54] danleonard-nj commented on #84362
This is also happening on my end, and I have a cluster currently running with two B2ms instances without any issues.  The cluster was originally provisioned through the portal and there was no 4 core requirement at that point.  This was less than 6 months ago.

I'm attempting to replace my existing cluster in the hopes that I can finally manage to swap to a standard OS disk type (it's ridiculous h

[2021-11-28 05:04] danleonard-nj commented on #84362
FYI - was able to work around this by selecting B4ms, then changing the size in the node pool configuration

![image](https://user-images.githubusercontent.com/49821189/143730305-1c062dac-b8dc-47e4-90bb-a0bab067d313.png)

[2021-11-28 05:40] SumanthMarigowda commented on #83904
@J-Fedor
CPU/network matters for a service-to-service copy, but they only matter to a certain extent. The bandwidth needed to orchestrate copies is not even comparable to the one required to transfer actual data. As long as the machine from where AzCopy is running can successfully make requests to the service, and can handle the concurrency, then the CPU/network makes very little impact to the ove

[2021-11-28 05:40] #83904 closed

[2021-11-28 05:56] SumanthMarigowda commented on #84233
@jus386 I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Ex: If the storage account i

[2021-11-28 05:56] #84233 closed

[2021-11-28 06:15] ignaciofls opened #84511 "Feedback on Semantic Query"
I believe this phrase could be missleading for anybody not familiar with the Semantic Search feature: " If your query logic includes the following features, you will not get relevance scores or semantic ranking on your results: Filters, fuzzy search queries, and regular expressions iterate over untokenized text, scanning for verbatim matches in the content" under https://docs.microsoft.com/en-us/a

[2021-11-28 07:56] ignaciofls opened #84513 "PhoneNumber category"
Please review categories under https://docs.microsoft.com/en-us/azure/search/cognitive-search-skill-entity-recognition-v3#skill-parameters categories	Array of categories that should be extracted. Possible category types: "Person", "Location", "Organization", "Quantity", "DateTime", "URL", "Email", "PersonType", "Event", "Product", "Skill", "Address", "Phone Number", "IP Address". If no category is

[2021-11-28 09:47] Catastrophe1 opened #84514 "Need to know which extension does builder.AddAzureStorage() belongs to."
[Enter feedback here]
Hi,

I was trying to implement the tutorial based on the doc. However, i cannot run the method as it cannot be found in the extension in my project. I am using VS 2019 and the latest version of provided packages. And I would like to know  which extension does builder.AddAzureStorage() belongs to:
![image](https://user-images.githubusercontent.com/12708640/143763166-a7c3cb4e-0

[2021-11-28 11:52] Rashair commented on #84194
There's no actual error. The logic is just not correct.

That's all correct, but you push it as v1.0.1 version.

That's would be correct, if the version was `latest` not `v1.0.1`. The webhook only reacts to the changes of `latest` image because of the defined scope:

&nbsp;&nbsp; az acr webhook create --name appserviceCD --registry <registry-name> --uri '<ci-cd-url>' --actions push **--scope appsv

[2021-11-28 11:57] kritika1105355 opened #84515 "Azure AD B2C Facing error while uploading the policy"
This is the error  I am getting while uploading the ProfileEdit.xml file
![image](https://user-images.githubusercontent.com/70332651/143766733-f4c74b7b-b83e-459c-b37c-583b36240838.png)
Below is the attachment of the xml which i m using
![image](https://user-images.githubusercontent.com/70332651/143766653-09df28e3-ef38-41af-be0f-58d0470ab7c1.png)

[2021-11-28 12:51] #84515 closed

[2021-11-28 13:05] assaf-grth opened #84516 "How is this offering relate with other service mesh solutions"
Is the new feature replaces the options available [here](https://docs.microsoft.com/en-us/azure/aks/servicemesh-about)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 762cd89e-4478-f58d-cf76-ab024c1cef61
* Version Independent ID: 8dec3455-ec48-b3eb-16d0-cca01ccf8728
* Content: [Open Service Mesh - Azure Kubernetes Serv

[2021-11-28 13:09] doctordns opened #84517 "Yellow Background Suddenly Seen in the Sample"
Halfway through this page, when viewed with Chrome, the template suddenly has a yellow background?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 372e63be-f556-3eae-50af-d928b97e2fca
* Version Independent ID: 9b1b05a6-687a-bae1-bc40-7761bafdc214
* Content: [Quickstart: Create a virtual network using a Resource Manager

[2021-11-28 13:16] William3Johnson opened #84518 "Docs"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd59e134-be71-0ac8-bb71-abebb2ef16f5
* Version Independent ID: a99d6a21-1c49-6bfc-9572-f7dfe8be8a4c
* Content: [What is Azure Load Balancer? - Azure Load Balancer](https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-overview)
* Content

[2021-11-28 15:13] BhargaviAnnadevara-MSFT commented on #84514
@Catastrophe1 Thanks for the question. We're investigating this and will get back to you shortly.

[2021-11-28 15:13] BhargaviAnnadevara-MSFT commented on #84514
@Catastrophe1 Thanks for the question. We're investigating this and will get back to you shortly.

[2021-11-28 15:23] AjayKumar-MSFT commented on #84501
jpeckham, Thanks for leveraging Azure docs feedback channel to raise this question. Since you have closed the thread I presume the issue is resolved, if it's not the case or you need further assistance kindly just let us know.

As a side note, this channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements.

[2021-11-28 17:26] #84123 closed

[2021-11-28 17:46] Fysiks97 opened #84519 "Missing Video"
[Enter feedback here]
Video link for express installation is broken. Please fix it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c650df29-72e7-ea25-ee53-f467f925ef39
* Version Independent ID: fed9f82b-4206-c231-84a3-8791d912ca33
* Content: [Azure AD Connect: Getting Started using express settings](https://docs.micros

[2021-11-28 17:48] James-Hamil-MSFT commented on #84519
Hi, we are investigating your issue and will update you shortly.

Best,
James

[2021-11-28 18:07] bobsyourmom opened #84520 "Images are out of date"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a68d2671-8e5e-63b2-b5d2-5f58c5b9aa2f
* Version Independent ID: 7dd0b7fd-042a-c68f-8979-d5828f1ce2e8
* Content: [Identity Governance - Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/governance/identity-governance-overvi

[2021-11-28 18:17] rajaniesh opened #84521 "error while executing the code"
[Enter feedback here]

The code provided by Microsoft does not work
---

org.apache.spark.sql.AnalysisException: No such struct field score in sentiment, statistics, documentScores, sentences, warnings, error-message;
---------------------------------------------------------------------------
Py4JJavaError                             Traceback (most recent call last)
/databricks/spark/python/pyspa

[2021-11-28 20:11] seb496 opened #84526 "Cannot delete subscription"
In the "Delete a subscription" part

- point 2: the "Try the new admin center" toggle is not shown for me, and I could not find a way to show it
- point 4: I don't have an option to cancel the subscription
- point 5: I don't have an option to delete the subscription

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea77d5

[2021-11-28 20:33] BharathNimmala-MSFT commented on #84511
@ignaciofls Thanks a lot for taking time to share your feedback, our team will further review and get back to you at the earliest.

[2021-11-28 20:34] BharathNimmala-MSFT commented on #84513
@ignaciofls Thanks a lot for bringing this to our notice, our team will further review and do the needful.

[2021-11-28 22:08] Grace-MacJones-MSFT commented on #84516
Thanks for the feedback!  We are currently investigating and will update you when we have accurate information to provide.

[2021-11-28 22:20] Grace-MacJones-MSFT commented on #84517
Hi @doctordns, thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update this doc as appropriate

[2021-11-28 22:22] Grace-MacJones-MSFT commented on #84518
Hi @William3Johnson , do you have specific feedback for this doc?

[2021-11-28 22:24] Grace-MacJones-MSFT commented on #84521
Hi @rajaniesh , thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update this doc as appropriate

[2021-11-28 22:27] Grace-MacJones-MSFT commented on #84520
Hi @bobsyourmom , thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update as appropriate

[2021-11-28 22:28] J-Fedor commented on #83904
Well, not quite accurate.  When there are millions of small files, there are a lot of API calls and we definitely see a difference between a 30Mbps Internet pipe and 100Mbps pipe and a Gigabit pipe.  And CPU/cores matter as we resize guests in Azure to throw more at it.
But if you don't feel like documenting it, so be it.

John Fedor
Principal Architect
Direct:
Support Desk
630.592.6240
630.592.62

[2021-11-28 22:33] Grace-MacJones-MSFT commented on #84526
Thank you for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

[2021-11-28 23:04] William3Johnson commented on #84518
Nothing Thanks.

[2021-11-28 23:05] #84518 closed

[2021-11-28 23:39] xiayonghu opened #84527 "Link broken"
[Enter feedback here]
Optionally, you can set up password hash synchronization as a backup if you decide to use Federation with Active Directory Federation Services (AD FS) as your sign-in method.

Link broken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aad82713-d562-5778-fbf8-035e24f9c470
* Version Independent ID:

[2021-11-29 00:02] pthomas848 opened #84528 "Churnin Archive tier"
[Enter feedback here]

Confused about this sentence here " If the churn in the Virtual Machine is low, moving to archive tier may lead to increase in Backup storage, which may offset the price difference between the Vault-Standard Tier and Vault-Archive Tier. Therefore, that might increase the overall cost" in https://docs.microsoft.com/en-us/azure/backup/archive-tier-support

if Churn is low, doe

[2021-11-29 01:24] YutongTie-MSFT commented on #84474
@PatrickFarley Hello Patrick, I don't see we have any content related to this, could we just remove it?

[2021-11-29 02:18] SadiqhAhmed-MSFT commented on #84528
@pthomas848 Thank you for your post. We will look into this and get back to you soon.

[2021-11-29 02:20] jaluecht opened #84529 "Broken U-SQL Tutorial link"
The URL for the U-SQLTutotial is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca34cf09-1532-3ddd-5984-1e8c481b92b7
* Version Independent ID: 9705533d-12db-4ff3-53a3-ab0a91594633
* Content: [Get started with U-SQL language in Azure Data Lake Analytics](https://docs.microsoft.com/en-us/azure/data-lake-analytics

[2021-11-29 02:57] GoodiesHQ commented on #38427
I came across this issue adding OAuth2 to my application. What I'd like to do is allow any email of any organization to use my application by signing into Azure. All I really need is the authorized email account, then my application creates its own bearer token that is used throughout as only identity verification is required. I am okay if personal accounts are not used. I am using `authlib` in Py

[2021-11-29 03:30] CHEEKATLAPRADEEP-MSFT commented on #84529
@jaluecht  Thanks for the question! We are investigating and will update you shortly.

[2021-11-29 03:32] CHEEKATLAPRADEEP-MSFT commented on #84126
@minnieshi  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-11-29 03:32] #84126 closed

[2021-11-29 03:38] CHEEKATLAPRADEEP-MSFT commented on #84323
@HitenBhavsarMSFT Thanks for the feedback. Opening firewall rule for the  all IP addresses is not a recommended security best practice.

In this document, if you check the step5 Create a Firewall Rule to allow your access to Azure Synapse Workspace from your machine. Which mean only your machine can access the Azure Synapse Workspace.

Hope this helps

[2021-11-29 03:38] #84323 closed

[2021-11-29 03:38] CHEEKATLAPRADEEP-MSFT commented on #84329
@krisande23  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-11-29 03:38] #84329 closed

[2021-11-29 04:00] leizhang1984 commented on #20345
find this command: Connect-AzureAD -AzureEnvironmentName AzureChinaCloud

[2021-11-29 04:00] leizhang1984 commented on #20345
Find this command:
Connect-AzureAD -AzureEnvironmentName AzureChinaCloud

[2021-11-29 04:11] SrijitBose-MSFT commented on #84421
@porrascarlos802018 , we have not heard from you in some time, hence closing this thread for now. If you have further queries please feel free to comment on the thread and we can work from there.

#please-close

[2021-11-29 04:11] #84421 closed

[2021-11-29 04:14] AjayKumar-MSFT commented on #84128
Glad to know that you have sorted out the issue. Thanks for the follow-up and sharing the solution that worked for you with the community.  Much appreciated.

[2021-11-29 04:39] Svijay-msft commented on #84262
Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2021-11-29 04:51] ctolkien commented on #64660
For people new to this thread, I think the advice should basically be: "Don't use this feature yet".

Best of luck.

[2021-11-29 05:01] SnehaAgrawal-MSFT commented on #84202
@YusukeTobo Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-11-29 05:07] MayankBargali-MSFT commented on #84458
@reddyeshwar17 Following up to see if the issue is related to Microsoft documents and if you can share more details on the document link.

[2021-11-29 05:08] MayankBargali-MSFT commented on #84375
@owenpww Can you please provide more details if you have followed any of the Microsoft documents?
MicrosoftDocs Github issue is mainly related to the document issue. If this is not the case I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)
Once you post your issue on forums,

[2021-11-29 05:09] ram-msft commented on #84419
There is a Private Preview for deleting an experiment, however such functionality does not delete the intermediate data generated for the run or any child run. Last time I checked it worked like this:
•	Not deleted:
o	Files in azureml-blobstore-GUID/azureml/{run_id}
o	Code snapshot (zip files)
o	Pipeline intermediate data and child runs
o	Metric data

•	Deleted
o	The output folder content
o	Log fi

[2021-11-29 05:37] AjayKumar-MSFT commented on #84515
@kritika1105355, Thanks for leveraging Azure docs feedback channel to raise this question. Could you please share the Azure documentation for which this feedback is applicable to?
Also, since you have closed the thread I presume the issue is resolved, if it's not the case or you need further assistance, kindly just tag (@shashishailaj) and let us know.

[2021-11-29 06:02] VikasPullagura-MSFT commented on #84493
@mimckitt Can you please check and help on this.

[2021-11-29 06:30] SrijitBose-MSFT commented on #84516
[Open Service Mesh](https://docs.openservicemesh.io/) currently provides the following set of capabilities and features to provide a cloud native service mesh for your Azure Kubernetes Service (AKS) clusters:

 - OSM has been integrated into the AKS service to provide a fully supported and managed service mesh experience with the convenience of the AKS feature add-on

 - Secure service to service

[2021-11-29 07:25] MS-binche opened #84532 "command error"
should be changed to below for the workload VM creation.

$VirtualMachine = New-AzVMConfig -VMName Srv-Work -VMSize "Standard_DS1_v2"
Set-AzVMOperatingSystem -VM $VirtualMachine -Windows -ComputerName Srv-Work -ProvisionVMAgent -EnableAutoUpdate
Add-AzVMNetworkInterface -VM $VirtualMachine -Id $NIC01.Id
Set-AzVMSourceImage -VM $VirtualMachine -PublisherName 'MicrosoftWindowsServer' -Offer 'Windows

[2021-11-29 07:28] MS-binche commented on #84532
original command has issues:
1. Standard_DS2 is likely to be unavailable, add _v2 to the SKU.
2. remove $VirtualMachine = in subsequent commands to avoid overiding the $VirtualMachine parameter

#Define the virtual machine
$VirtualMachine = New-AzVMConfig -VMName Srv-Work -VMSize "Standard_DS2"
$VirtualMachine = Set-AzVMOperatingSystem -VM $VirtualMachine -Windows -ComputerName Srv-Work -Provision

[2021-11-29 08:00] RohitMungi-MSFT commented on #84462
@mestafin The endpoint is the URI that is displayed for your resource in Azure portal. The azure face resource can be created from Azure portal, once the resource is successfully deployed you can lookup the URI from Keys and Endpoint tab.

![image](https://user-images.githubusercontent.com/46958063/143829516-cd313aa5-2fb5-48db-8da2-49adf892ba6e.png)

[2021-11-29 08:10] ArjunDeb420 opened #84533 "i have a question i.e. what it means by 'user assigned' MI not available for Az Policy? while creating Policy with 'deploy' function we do get option to use user assigned MI"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 726adac9-1848-01a6-9586-842c81f820f7
* Version Independent ID: 249db438-8c95-8e69-f69e-8e48fcd0b359
* Content: [Azure Services that support managed identities - Azure AD](https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure

[2021-11-29 08:15] ram-msft commented on #84419
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-11-29 08:15] #84419 closed

[2021-11-29 08:22] AshokPeddakotla-MSFT commented on #84322
@Christian-e-S  Apologies for the delay in response. I further enquired and couldn't find info regarding processing events in a on-premise application. I would suggest you, please post your query on the  [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/) Where community members/PG will respond to your query directly and provided suggestions.

We try to reserve these issues for feedback dir

[2021-11-29 08:30] KrishnaG-MSFT commented on #84455
@verbedr We have verified and updated the document as required. The change should reflect soon i.e., in less than 24 hours. Thanks again!

[2021-11-29 08:30] #84455 closed

[2021-11-29 08:31] KrishnaG-MSFT commented on #84398
@chi-ltd We have verified and updated the document as required. The change should reflect soon i.e., in less than 24 hours. Thanks again!

[2021-11-29 08:31] #84398 closed

[2021-11-29 08:44] BhargaviAnnadevara-MSFT commented on #84514
@Catastrophe1 The `AddAzureStorage` method is a part of the `Microsoft.Azure.WebJobs.Extensions.Storage` extension.

![image](https://user-images.githubusercontent.com/44050820/143834713-5e560a1b-ab32-4e20-9bb0-7e244cd7819e.png)

As instructed in the tutorial, please get the latest stable version of the [Microsoft.Azure.WebJobs.Extensions.Storage](https://www.nuget.org/packages/Microsoft.Azure.Web

[2021-11-29 08:54] SrijitBose-MSFT commented on #84478
@Heidilohr can you please check if this needs an update on the doc?

[2021-11-29 09:23] SaiKishor-MSFT commented on #84532
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-11-29 09:33] jcsfp commented on #84289
Hi Guys, Any progress about this?

[2021-11-29 09:37] oystehei opened #84535 "Service Bus - Max messages for batch processing"
The current documentation for version 5.x+ of the extension lists the property `maxMessages` to control the maximum number of messages that will be passed to each function call. Setting this property has no effect, instead the extension seems to be expecting `maxMessageBatchSize` to control this setting. The documentation should be updated to reflect this.

---
#### Document Details

⚠ *Do not edi

[2021-11-29 09:38] miketheitguy opened #84536 "The documentation as-written does not successfully build an Azure static page."
This page is missing information regarding the github action output parameter.

`hugo -D` builds the output into `app/public`, but when creating a brand new static page using these instructions it's not clear that this needs to be specified in the github action workflow file. This probably needs to be updated on the Hugo static app build process on the backend, but probably worth explaining here?

[2021-11-29 09:42] SaiKishor-MSFT commented on #84200
@AceOfSpades29 This command is working alright and is not throwing any errors. Please reach out to Azure Support if you are running into any issues with the same.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-11-29 09:42] #84200 closed

[2021-11-29 09:45] WenJason opened #84537 "Mapping Data Flow source Amazon S3"
[Through my test, I found Amazon S3 may be not supported for mapping data flow source. Could you please help confirm this [page](https://docs.microsoft.com/en-us/azure/data-factory/data-flow-source#supported-sources)? Thanks in advance.]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 710d4797-888a-ee10-f3e8-67b990e2f89

[2021-11-29 09:49] jianleishen commented on #84537
@WenJason  thank you for your feedback. Noted in the doc, The Amazon S3 source transformation is only supported in the Azure Synapse Analytics workspace now.  could you please confirm where you have tested this? thanks.

[2021-11-29 09:50] WenJason commented on #84537
Data Factory workspace.

[2021-11-29 09:58] #84537 closed

[2021-11-29 10:04] #46951 closed

[2021-11-29 10:11] amanmcse commented on #84196
@DeanGross This is assigned to the author to review and update.

[2021-11-29 10:27] AlexFilipin opened #84538 "Clarification for encryption types for Kerberos"
Clarification for encryption types for Kerberos, I would recommend we optimize the following:

- Outline the two options to limit the encryption types a) link to the GPO b) the decimal value (16) that could be set manually on msDS-SupportedEncryptionTypes
- I assume we say the key should be rolled BEFORE to ensure the AES256 key or? Maybe we can outline when it would be missing or at least mention

[2021-11-29 10:33] AlexFilipin opened #84539 "Protecting AZUREADSSOACC"
Could we outline which permissions should remain on the AZUREADSSOACC for it to be "strongly protected" ? E.g. for the AADC AD MA service account we have this in detail: https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-configure-ad-ds-connector-account#restrict-permissions-on-the-ad-ds-connector-account

---
#### Document Details

⚠ *Do not edit this section. It is req

[2021-11-29 10:35] doctordns commented on #84517
I am still learning GitHub markdown so...

The issue is at line 31 of this article which reads in part

code language="json" source="~/quickstart-templates/quickstarts/microsoft.network/vnet-two-subnets/azuredeploy.json" range="001-98" highlight="56-97":::

Two things - the actual code is only 92 lines long and I have no idea why those lines are highlighted.#

Hope this helps

[2021-11-29 10:35] amanmcse commented on #84527
@xiayonghu Thank you for your feedback. We will investigate and update the thread further.

[2021-11-29 10:35] YuichiTorigoe commented on #84285
Hello @SumanthMarigowda ! Could you please tell me the currently status ?

[2021-11-29 10:38] JYOTHIRMAISURI commented on #84447
cc

@V-SSenthilna

[2021-11-29 10:41] amanmcse commented on #84533
@ArjunDeb420 Thank you for your feedback. We will investigate and update the thread further.

[2021-11-29 10:42] AlexFilipin commented on #84538
Side note: Probably would should have a "hardening" section in the [quick-start deployment,](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-sso-quick-start) likely the hardening recommendations in this "How it works" doc are often missed.

[2021-11-29 10:42] AlexFilipin commented on #84539
Side note: Probably would should have a "hardening" section in the [quick-start deployment,](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-sso-quick-start) likely the hardening recommendations in this "How it works" doc are often missed.

[2021-11-29 10:54] KrishnaG-MSFT commented on #84300
@Robbertbbb We have verified and updated the document as required. The change should reflect soon i.e., in less than 24 hours. Thanks again!

[2021-11-29 10:54] #84300 closed

[2021-11-29 10:55] AlexFilipin opened #84540 "Missing recommended encryption types for Kerberos"
In the [S-SSO technical deep dive](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-sso-how-it-works) we recommend setting the encryption types for Kerberos. This hardening recommendation is missing here in the quick start.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d53fedc-b37d-9c37-f

[2021-11-29 10:59] PramodValavala-MSFT commented on #83459
@WillParry The overlap is required (for at least clients with those overlapped IPs) because **both** policies will be evaluated. Policies are not skipped unless explicitly mentioned like for example the [`return-response` policy](https://docs.microsoft.com/en-gb/azure/api-management/api-management-advanced-policies#ReturnResponse) which aborts the policy pipeline execution.

From my statement abov

[2021-11-29 11:00] PramodValavala-MSFT commented on #84150
@safouenmzah Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-11-29 11:00] #84150 closed

[2021-11-29 11:00] gro1m opened #84541 "Is there not already version 2.0.3 out for az ml - release notes seem to be missing?"
No release notes for version 2.0.3 on https://docs.microsoft.com/en-us/azure/machine-learning/azure-machine-learning-release-notes-cli-v2, but seems to be released.

[code]

Note the "ml": "2.0.3" after installing the ml extension and executing `az version` a second time.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2021-11-29 11:07] KrishnaG-MSFT commented on #84270
@josedanielr07350 We have verified and updated the document as required. The change should reflect soon i.e., in less than 24 hours. Thanks again!

[2021-11-29 11:07] #84270 closed

[2021-11-29 11:19] SnehaAgrawal-MSFT commented on #84194
@Rashair The PR has been created for this, once reviewed by author will be visible. Will keep you posted.

We will now proceed to close this thread. If there are further questions regarding this matter, please let us know.

[2021-11-29 11:19] #84194 closed

[2021-11-29 11:45] RohitMungi-MSFT commented on #84541
@gro1m Thanks for checking. It looks like the doc is not up to date, @mx-iao @balapv could you please help update the release notes for 2.0.3 version of `az ml` extension?

[2021-11-29 11:46] amanmcse commented on #84429
@carlblanchard The companyName attribute is an O365 built-in attribute. B2C uses the integration-only API version in the backend for its own calls, which is why you cannot use the companyName attribute in your custom policy. The only solution is to use the extension attribute eg. extension_companyName.

[2021-11-29 11:51] ApolloII opened #84542 "CyberArk instructions here would be performed on the Vault server, not the PSM. Diagram likely needs to be corrected too."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93546bcb-84fd-b621-a127-57052f758c9d
* Version Independent ID: 08d98768-93ad-3b79-65c2-44c62be91496
* Content: [Integrate CyberArk with Microsoft Defender for IoT - Azure Defender for IoT](https://docs.microsoft.com/en-us/azure/defender-for-iot/organi

[2021-11-29 11:53] ahmedmsy opened #84543 "SAML IdP technical profile in an Azure AD B2C custom policy"
Hi,

For the SAML IdP technical profile we enabled SingleLogoutEnabled to provide single logout for the users, and here is the technical profile from TrustFrameworkExtensions.xml:

[code]

The issue is that the SAML logout request to the IdP fails when running the web application in Firefox and Safari, in Chrome it works.

The SAML logout request gets triggered from the Azure AD B2C client side sc

[2021-11-29 12:27] Rashair commented on #84194
Can you link the PR?

[2021-11-29 12:35] dominicbetts commented on #82593
Hi @romankiss - did you get all the answers you needed? If so I'll go ahead and close this issue. Thanks!

[2021-11-29 12:46] amanmcse commented on #84413
@priyankareddy20 This is expected. Please note that only direct members of AUs are considered to be within the AU management scope. That means that in this specific scenario, the group is part of the AU management scope, but the group members are not (unless they are also added to the AU as direct members, which is not the case here).

In other words, the admin needs to put the user objects direct

[2021-11-29 12:46] #84426 closed

[2021-11-29 12:47] GitaraniSharma-MSFT commented on #84426
@divim , I have updated the resource group name as "myResourceGroup" as requested. It will reflect in the doc shortly!

[2021-11-29 12:53] GitaraniSharma-MSFT commented on #84391
@jjindrich , I was able to successfully migrate a Standard Firewall to Premium SKU using the commands as below:

![image](https://user-images.githubusercontent.com/67630903/143871303-ab66b4fd-45a9-4793-84ce-1cb318c6af6f.png)

May I know where you are facing issue? Could you please share a screenshot for reference?

@mlaboj , I was able to use the same commands and the migration was successful. Cou

[2021-11-29 13:02] romankiss commented on #82593
Hi @dominicbetts, thanks for asking me, yes, I did it.

[2021-11-29 13:05] romankiss commented on #83286
Hi @dominicbetts, please, could you look at this issue again.

Thanks
Roman

[2021-11-29 13:14] GitaraniSharma-MSFT commented on #84466
@RedTaz , yes, you are correct. The CLI command is mentioned here : https://docs.microsoft.com/en-us/azure/role-based-access-control/custom-roles-cli#create-a-custom-role
I've updated the CLI command for creation of custom roles to :

az role definition create --role-definition <file path>

The changes in this doc will be reflected shortly!

[2021-11-29 13:14] #84466 closed

[2021-11-29 13:37] priyankareddy20 commented on #84413
Hello  Amanpreet,
Thank you for the clarification.
May I know what is the use of Groups feature there.

Regards
Priyanka

On Mon, Nov 29, 2021, 1:46 PM AmanpreetSingh-MSFT ***@***.***>
wrote:

[2021-11-29 13:51] JPsGithub1 opened #84544 "Guide is not very clear"
[Enter feedback here]
once you "Scroll down to find the table showing free service usage."
there is nothing there. needs to be more specifc as it not on the home screen of subsciption

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc1b9f94-0697-7726-d678-1439a30005a0
* Version Independent ID: 13c3c83f-6033-d428-2b81-d2

[2021-11-29 13:52] jjindrich commented on #84391
@GitaraniSharma-MSFT please can you clarify for me how it works ? I have policy nameg e.g. "policy1". Script creates "policy1_premium". Than I call script to deallocate and allocate FW - but there is no information about new policy name (policy1_premium)

[2021-11-29 13:54] PDunbarCGI opened #84545 "Documentation still shows Preview status but GA announcement was made"
https://azure.microsoft.com/en-us/updates/azure-backup-for-azure-database-for-postgresql-single-server-longterm-retention-generally-available-2/

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d941a213-7706-3e46-9cc7-cbab9f68f0c1
* Version Independent ID: 8b2fb29a-6102-2222-245f-2ed37547e3ef
* Con

[2021-11-29 14:09] ezYakaEagle442 opened #84546 "Add ARO to the Java web app containerization and migration docs"
Customers having Java workloalds potentially need to use this tool to migrate to Azure RedHat OpenShift aka ARO, a first-party managed OpenShift on Azure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2029115a-26c2-06c0-6340-fa2d8e5afb33
* Version Independent ID: 10746a0b-866a-1de9-df02-94b3a20baf97
* Content: [Azure

[2021-11-29 14:13] ezYakaEagle442 commented on #84546
the tool wizard should propose both options to use ACR and ARO buil-in Registry (azure BLOB storage)

[2021-11-29 14:21] ezYakaEagle442 opened #84547 "Add ARO to the .Net web app containerization and migration tool docs"
Customers having .Net workloalds potentially need to use this tool to migrate to Azure RedHat OpenShift aka ARO, a first-party managed OpenShift on Azure.

I have created another one for Java : [https://github.com/MicrosoftDocs/azure-docs/issues/84546](https://github.com/MicrosoftDocs/azure-docs/issues/84546)

the tool wizard should propose both options to use ACR and ARO built-in Registry (azure

[2021-11-29 14:22] bwren commented on #84050
Each of the samples on that page includes a template file and a sample parameter file. The parameter file includes the sample values for each of the parameters that I think you're asking about. The samples aren't intended to provide full explanation of all parameters, but the sample values should at least show the expected format of the value.

#please-close

[2021-11-29 14:22] #84050 closed

[2021-11-29 14:34] MonikaReddy-MSFT commented on #84545
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2021-11-29 14:39] MonikaReddy-MSFT commented on #84546
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2021-11-29 14:39] MonikaReddy-MSFT commented on #84547
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2021-11-29 15:07] ArjunDeb420 opened #84549 "DOES IT MEAN THAT IF I HAVE TO CREATE A POLICY WITH ABILITY TO REMEDIATE RESOURCE, THEN I SHOULD MINIMUM HAVE ONLY 'USER ACCESS ADMIN' RIGHTS OR EVEN CONTRIBUTOR RIGHTS?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad82c7c8-2bda-ee68-97db-66da6e17646f
* Version Independent ID: b6b8a9bc-6581-859b-5a4d-8b087c04e35e
* Content: [Support and help options for Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/support-help-opti

[2021-11-29 15:31] spelluru commented on #84304
@kasun04 - could you please confirm when you get a chance? Thanks.

[2021-11-29 15:38] owenpww commented on #84375
I followed this https://docs.microsoft.com/en-us/azure/cognitive-services/translator/custom-translator/quickstart-build-deploy-custom-model but yes I have also posted on those forums but have not yet gotten feedback.

[2021-11-29 15:41] sandeeppujar commented on #83286
@romankiss , at this time it is not possible to batch device messages with individual creation time in a single payload/message.

[2021-11-29 15:47] bsaxbergMS opened #84550 "Updates?"
[Enter feedback here]
Do we have any updates on this document as it is going on 6 months old?

Thank you,
Brian

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 311b6efb-2d93-6130-96a9-867fad56bd52
* Version Independent ID: a17faabf-04c6-c3da-9a37-a86b0d00cbfd
* Content: [Azure network round-trip latency statistics](http

[2021-11-29 15:58] bzabber opened #84551 "Confusion Around Churn Pattern for Archive Backups"
Hi all,

The wording in the following bullets is confusing. If there is more changes in the VM resulting in more changes between incremental backups there would be an increase in storage, not the opposite. The opposite would be true if there is less changes between incremental backups.

_"The amount of storage increase depends on the churn pattern of the Virtual Machines.

- The higher the churn i

[2021-11-29 16:48] romankiss commented on #83286
Hi @sandeeppujar that's a bad news. For instance, if the device collected 3600 telemetry data (events) during its 1 hour disconnected time, it will require to create a reliable background loop for sending those 3600 single telemetry data (events) one by one with their _$.ctime_ property to the IoT Central App.
I hope, that the IoT Central team will consider to fix this "design/requirement issue" s

[2021-11-29 16:51] vladai78 commented on #84376
adding @NikaKinska to help with this

[2021-11-29 16:55] amanmcse commented on #84413
@priyankareddy20 Groups feature is to allow management of directly added group(s). E.g. in a given AU, if you have added Group1 which contains Group2 (nested), the Group Administrator of AU can rename Group1, change the assignment type of Group1, add/remove members to Group1 but cannot perform any of these actions on Group2. In order to perform all these actions on Group2, it must be added directl

[2021-11-29 17:07] JnHs commented on #84475
Hi @jenellea - as the document states: "Resource menu. Many services include a resource menu to help you manage the service. You may see this element referred to as the left pane."
A comprehensive discussion of overall Microsoft style/terminology is outside of the scope of this document, so I'm going to close this GitHub issue now.
#please-close

[2021-11-29 17:08] #84475 closed

[2021-11-29 17:16] jorge-ataide opened #84552 "Preview feature?"
Is this feature still in preview?
The question is because in Azure Portal there is no "preview" message.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e485eb1b-63d7-6fb4-a84a-367be0b7ae09
* Version Independent ID: 6b38c7f4-b264-853c-ac69-9a7d9abc557e
* Content: [Azure Virtual Desktop session host autoscale preview](ht

[2021-11-29 17:19] kunalharia opened #84553 "blob_sas_token"
for the code to run, I needed to amend the "blob_sas_token" to be set to   r""   i.e. NOT to the version on this page

also verified this is what is recommended here: https://docs.microsoft.com/en-gb/azure/open-datasets/dataset-seattle-safety?tabs=pyspark

this issue was noted here in April also: https://issueexplorer.com/issue/MicrosoftDocs/azure-docs/83370

---
#### Document Details

⚠ *Do not e

[2021-11-29 17:19] v-dihans commented on #84500
@rymend
@tfosmark

I no longer maintain the topic. Please contact the other author mentioned in the issue post.
Thanks

[2021-11-29 17:27] cgillum commented on #84412
The Canceled status is never actually used by Durable Functions, so there's no need to include it in the list.

[2021-11-29 17:35] MarileeTurscak-MSFT commented on #84549
@ArjunDeb420
Thanks for your feedback! We will investigate and update as appropriate.

[2021-11-29 17:36] #84448 closed

[2021-11-29 17:39] MarileeTurscak-MSFT commented on #84539
@AlexFilipin
Thanks for your feedback! We will investigate and update as appropriate.

[2021-11-29 17:42] MarileeTurscak-MSFT commented on #84540
@AlexFilipin
Thanks for your feedback! We will investigate and update as appropriate.

[2021-11-29 17:46] henrymbuguakiarie commented on #83626
#please-close

[2021-11-29 17:46] #83626 closed

[2021-11-29 17:49] JamesTran-MSFT commented on #84538
@AlexFilipin
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-11-29 18:00] ChaitanyaNaykodi-MSFT commented on #84550
Hello @bsaxbergMS
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-11-29 18:09] SatishBoddu-MSFT commented on #84322
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

[2021-11-29 18:09] #84322 closed

[2021-11-29 18:11] calvinShan opened #84555 "Bug Azure Login (user locked by last company)"
Hello,

I worked for one campany, who gives me the access to suscription Azure as User.

Then, I left for another campany, we work on Azure as Well. They give me access to their suscription azure, but I CAN'T Login

The problem is 'your account has been locked. Contact your support person to unlock it, then try again.'

I think my last company has locked my account, but who is the support person p

[2021-11-29 18:11] b-ahibbard commented on #84364
@ishanslab Thanks for raising this and catching the inconsistency with the title. On Linux/Unix flavors you would run umount <mount-point>, and most Windows users would unmap the drive from the explorer.

@SumanthMarigowda The team discussed the issue and decided unmounting is common knowledge so we will adjust the document title by removing "unmount" to reflect better the scope of the article.

#

[2021-11-29 18:11] PRMerger9 commented on #84364
Only Microsoft employees can close issues or pull requests via commenting in this repo.

[2021-11-29 18:15] ggailey777 commented on #82865
@daigok sorry for the delay. Apparently, now the Azure Functions Core Tools package for Linux has been updated, so now the instructions in this article should work again. If for some reason you still have issues, please feel free to open a new issue. Thanks! #please-close

[2021-11-29 18:15] #82865 closed

[2021-11-29 18:16] #84249 closed

[2021-11-29 18:35] ssivas commented on #84533
@ArjunDeb420,

Thank you for bringing this to our attention.

It appears that the above-mentioned URL has not been updated with recent updates that **Azure Policy now supports user-assigned managed identities! You can [create a user-assigned managed identity][1] and assign it to one or more of your policy assignments, offering easier management of managed identities and controlling access across t

[2021-11-29 18:35] HeidiSteen commented on #84507
Hi @Richard-Painworth - I'll take following up on the HTML example as an action item and see if I can find an owner for this.

The second issue (file retrieval by URL) is a non-starter.  Skillsets are subordinate to indexers, and indexers provide all of the connection, retrieval, serialization, and change detection logic.  It's more than just file retrieval.  For this reason, indexers only work wi

[2021-11-29 18:35] #84533 closed

[2021-11-29 18:47] kengaderdus commented on #83075
#please-close

[2021-11-29 18:47] #83075 closed

[2021-11-29 18:48] sumeetmittal commented on #75134
@adetterer @miqm - This feature didn't make into this semester due to other high priority work. This will be taken up as a planning item for next semester in Feb 2022. Thanks

[2021-11-29 18:51] Richard-Painworth commented on #84507
Ok, I review.  Did a weekend worth of work on this pipeline, and made some progress.   I'm updating the v11 sample app, using the tutorial au enrichment....by adding an documentextractor for an HTML document I stored in a blob.

Would help if I knew what a typical result would be for an HTML file running through that new skill.  Can u point me to any documentation, or the repo as to the code for t

[2021-11-29 18:54] KranthiPakala-MSFT commented on #84482
Thanks for the feedback @VitalyMCT.

@joannapea Could you please review the above feedback? - Thanks

[2021-11-29 18:57] JimacoMS4 commented on #79482
@drcrook1 Thanks again for your feedback. I added this as the second example here: https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-query-language#device-twin-queries. I'm going to close this issue. Please @-comment me here or reach out on email if you think further changes are required. Thanks again,

Jimaco

[2021-11-29 18:57] JimacoMS4 commented on #79482
#please-close

[2021-11-29 18:57] #79482 closed

[2021-11-29 19:04] amcclain opened #84556 "Outdated documentation on MSAL-js logger config"
This doc page directs developers to pass an `Msal.Logger` class instance to the MSAL-js `system.logger` config. As per https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/configuration.md#system-config-options, this appears to have been replaced by a new `system.loggerOptions` config.

(Although this might be a larger issue with this page focusing on M

[2021-11-29 19:06] KranthiPakala-MSFT commented on #84471
Hi @ Thanks for the feedback.

Many resource providers are registered for you when you take certain actions. For example, if you create a resource through the portal, the portal automatically registers any unregistered resource providers that are needed. When deploy resources through an Azure Resource Manager template, any required resource providers are also registered.

For more info please refe

[2021-11-29 19:17] bandersmsft commented on #84236
https://github.com/MicrosoftDocs/azure-docs/issues/84236
@MiraZJ I've updated the article as you suggested.
#please-close

[2021-11-29 19:17] #84236 closed

[2021-11-29 19:18] bandersmsft commented on #84236
https://github.com/MicrosoftDocs/azure-docs-pr/pull/181205

[2021-11-29 19:19] DerekHerman-MSFT opened #84558 "Update supported pairs azcopy sync"
local to Azure Files is supported. As well as sync between Azure Blob and Azure Files.

Reference:
https://github.com/Azure/azure-storage-azcopy/releases/tag/v10.10.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c02ef818-5e53-4582-43a8-22f9f2b2872d
* Version Independent ID: b8f45994-4ac2-f124-c613-b82316203b9f
* Cont

[2021-11-29 19:19] tshaiman commented on #84438
traffic from the internet unable to access it.
If we take some other resources in Azure that support Private links ( Storage for example / SQL / etc) . then allowing private link for a dedicated subNet , does not mean blocking the entire traffic from the internet. This CAN be achieved , but its not automatically being turned on. the customer can decide if he wants to enable/disable public internet

[2021-11-29 19:21] ssivas commented on #84526
Hello @seb496,

Thanks for reaching out.

You may not see the "Try the new admin center" toggle if you are currently in the New admin center UI, therefore disregard point # 2.

Additionally if you have any active M365 subscriptions, you should see cancel subscription when you pick one of them as shown below:

![image](https://user-images.githubusercontent.com/57458999/143928567-29c07a7b-399a-4bc4-

[2021-11-29 19:22] briantward commented on #83077
@MartinJaffer-MSFT any update here?

[2021-11-29 19:24] jmprieur commented on #84251
This is fixed (see PR)
#please-close

[2021-11-29 19:24] #84251 closed

[2021-11-29 19:33] curib commented on #84453
Acknowledged. Thanks for sharing your feedback! I've created a work item to track this.

[2021-11-29 19:33] ssivas commented on #84431
@hkusulja, Thanks for reaching out.

As shown below, I was able to configure the identifier (Entity ID) with `https`. Could you kindly send a snapshot of the issue you're seeing? Thanks.

![image](https://user-images.githubusercontent.com/57458999/143930494-26129a45-88fd-4dcd-bcd3-7ffa2314a8a8.png)

[2021-11-29 19:35] Grace-MacJones-MSFT commented on #84536
Hi @miketheitguy , thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update this doc as appropriate

[2021-11-29 19:35] coffeebeantraining opened #84559 "Cannot Modify or Change the Application Gateway Associated Rule under Listeners."
[Enter feedback here]
This page does not show how to assign "Associated Rule" and shows that it's already set.
The problem is and it's a major oversight on the documentation is you never show how
to update or change the associated rule using powershell.  In fact, using the portal if you
create a new rule and listener there is no option to manually assign the assocated rule column.
This has been a

[2021-11-29 19:37] hkusulja commented on #84431
Uh, now it is working, few days ago it sad that it can not add, since the domain is already up.
Anyhow, is it necessary to add both google.com and https://google.com ? i think not, since the first one covers the second one.

[2021-11-29 19:43] coffeebeantraining commented on #84559
An "Associated Rule" column is available in the Azure Portal, but I cannot find any powershell support for modifying this column setting.  At the very least you should have a -AssociatedRule switch as part of the Set-AzApplicationGatewayHttpListener command or something similar.  As it stands now, i believe most people struggle with updating or modifying the Associated Rule.

[2021-11-29 19:43] JamesTran-MSFT commented on #84556
@amcclain
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-11-29 19:44] bandersmsft commented on #84238
@Sayel-76 Hi there. Are you still having this problem? If so, please let me know what type of subscription you have. Thanks.

[2021-11-29 19:52] JimacoMS4 commented on #70201
@SatishBoddu-MSFT Can you please update me on the status of this issue? Thanks

[2021-11-29 19:54] rwike77 commented on #84245
@benoittgt  I hope you've got this working, now.  If my workaround didn't work for you, I'd recommend working closer with our support team via an [Azure support request](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our [Q&A forum](https://docs.microsoft.com/en-us/answers/products/) by posting your issue there so our co

[2021-11-29 19:54] #84245 closed

[2021-11-29 19:57] epinto opened #84561 "Please update screenshots"
The portal screenshots are in dire need to be updated. May be confusing for new users/customers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ece45be-921e-665a-ef7a-b21bc0675c8a
* Version Independent ID: cc393a6b-eb26-9439-d9d9-36e388539234
* Content: [Service Health overview - Azure Service Health](https://docs.mic

[2021-11-29 20:01] seb496 commented on #84526
Thanks for your reply. When I select the "Azure Active Directory Premium P2 Trial", I do not get the "Cancel subscription" option. Maybe this is because the subscription status is currently "Expired", rather than "Active".

[2021-11-29 20:03] JimacoMS4 commented on #78066
@SatishBoddu-MSFT Can you please let me know if this has been resolved. Are documentation updates required? Thanks!

[2021-11-29 20:07] dlepow commented on #84373
@AldensNow - Thanks for contacting us. I see that you also raised the question [here](https://docs.microsoft.com/en-us/answers/questions/640063/when-i-export-from-an-otherwise-working-contract-i.html) and that the recommendation there is to open a support ticket to investigate. I will keep this issue open in case there may be useful points to add to the documentation in the future.

[2021-11-29 20:09] jonburchel commented on #74887
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2021-11-29 20:09] #74887 closed

[2021-11-29 20:23] spelluru commented on #84304
Hi @Leonardo-Ferreira - I just confirmed with our dev manager that there is no limit for the amount of storage data for retention. I am removing the limits for other tiers in the article. The updated article will go live in 3 hours. Thanks.

[2021-11-29 20:28] zhenlan commented on #84326
@ktoliver, can you please help to merge the PR #84327?

[2021-11-29 20:30] #76874 closed

[2021-11-29 20:49] jeremeguenther commented on #49481
I spent several days working to get this functionality working.  I started with the Azure setup documentation here:
https://docs.microsoft.com/en-us/azure/storage/files/storage-files-networking-overview
Specifically the youtube video it referenced here:
https://youtu.be/jd49W33DxkQ

By the end of that document I had a file share that was working for my virtual network, but not my local network tha

[2021-11-29 20:50] ssivas commented on #84219
@DeanGross,

Thanks for bringing this to our notice.

This appears to be an oversight. Global reader is a role that can access activity reports, so by extension it would apply to workbooks as well. However, we will double-check with the engineering team on this and keep you updated. Thanks

[2021-11-29 20:52] ChaiSwaddipong opened #84562 "No IP support for load balancer backend"
Step 14 - users can only select NIC. Even though  ALB supports IP backend, it is not yet supported by privatelink service.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1895941d-fa70-08ea-53c4-c49a65300625
* Version Independent ID: c41d9420-3dc5-5c49-8135-d208ee13bc14
* Content: [Quickstart - Create a Private Link ser

[2021-11-29 20:58] #77411 closed

[2021-11-29 21:05] ssivas commented on #84526
Thanks for the update.

Yes, If subscription expires, it goes through the following stages: Expired / Disabled / Deleted. The Expired stage lasts for 30 days for most subscriptions so lets wait until it moved to "Disabled state" so you get option to delete subscription.

![image](https://user-images.githubusercontent.com/57458999/143942501-92758789-15e1-4850-8992-1512b7a15416.png)

Learn more, ref

[2021-11-29 21:14] F-Zainab opened #84563 "Please provide more details for setting the properties."
The document says that the user can set the properties however it would be clearer if it could be written as the user can create properties. Adding a screenshot for this would also be helpful.

Thank you!!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82c51aad-3c71-f6d4-1930-869426830cfa
* Version Independent ID: 9f8f

[2021-11-29 21:25] SatishBoddu-MSFT commented on #70201
Sure, let me check on this, Sorry I was on OOF and returned today.

[2021-11-29 21:49] matthewkrieger opened #84564 "Suggest clarification of definition of "WEBSITE_MAX_DYNAMIC_APPLICATION_SCALE_OUT""
[Enter feedback here]

WEBSITE_MAX_DYNAMIC_APPLICATION_SCALE_OUT is defined on this page as "The maximum number of instances that the app can scale out to. Default is no limit." at https://docs.microsoft.com/en-us/azure/azure-functions/functions-app-settings#website_max_dynamic_application_scale_out.

I suggest clarifying that "instances" refers to instances of the underlying VM which hosts the fu

[2021-11-29 21:53] jonburchel commented on #73147
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2021-11-29 21:53] #73147 closed

[2021-11-29 22:00] jonburchel commented on #73611
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2021-11-29 22:00] #73611 closed

[2021-11-29 22:04] kobulloc-MSFT commented on #84552
@jorge-ataide Thank you for bringing this to our attention!  We are reviewing this and will get back to you shortly.

[2021-11-29 22:18] kobulloc-MSFT commented on #84552
@jorge-ataide It appears that the documentation was created about 2 months ago (September 29th, 2021) and that Azure Virtual Desktop Autoscale is still in preview.  @Heidilohr, are you able to confirm this?

[2021-11-29 22:20] lbittner-pdftron commented on #14254
+1 also impacted by this. Using an Edge version is fine, but not having `mssql-tools` is a deal breaker.

[2021-11-29 22:20] ChaitanyaNaykodi-MSFT commented on #84562
Hello @ChaiSwaddipong
Thank you for your feedback! We will review and update as appropriate.

[2021-11-29 22:21] ChaitanyaNaykodi-MSFT commented on #84559
Hello @coffeebeantraining
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-11-29 22:39] himanshusinha-msft commented on #84535
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-11-29 22:40] James-Hamil-MSFT commented on #84519
I have reached out to our team and we will be updating this document. Thank you for bringing this to our attention.

I will now close this issue. Please let me know if you have any questions.

Best,
James

[2021-11-29 22:40] #84519 closed

[2021-11-29 22:41] himanshusinha-msft commented on #84551
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-11-29 22:42] himanshusinha-msft commented on #84553
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-11-29 22:46] JamesTran-MSFT commented on #84340
@McMatty
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-11-29 22:46] #84367 closed

[2021-11-29 22:48] JamesTran-MSFT commented on #84543
@ahmedmsy
Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our [Q&A forum](https://docs.microsoft.com/en-us/answers/products/) by

[2021-11-29 22:48] #84543 closed

[2021-11-29 22:49] himanshusinha-msft commented on #84555
I am pretty confident that they two company are on different tenant and so so one company deactivating an use account should not be an issue . I think you should work with your admin and if they want they can raise a support with Microsoft and that should help .

[2021-11-29 22:53] himanshusinha-msft commented on #84542
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2021-11-29 22:56] calvinShan commented on #84555
@himanshusinha-msft thanks for your response.
Two company have two different tenants. But who is my admin? It is my personal account.
When I login azure portal with this account, it is redirected to the auth page of my last company, and I can not event go to the portal, because my account is locked.

So why my personal account is locked, I can't event go to the portal page

Thanks

[2021-11-29 23:07] kobulloc-MSFT commented on #84353
@macsurferOhm I reached out to the Azure Lab Services product group and they are very interested in having you contribute a new class type.  While we don't currently have an official process for creating a new class type, we could set aside some time to meet with you and go through a demo of what you've created.  We would then use notes from that meeting to create and test the new class type and s

[2021-11-29 23:07] albecker1 commented on #84508
Hey @jyama4ta thanks for your feedback! These documents were made before the v3 and dasv4 had bursting enabled on them. I will go ahead and remove this example because we don't offer many premium VMs that do not have bursting enabled.

[2021-11-29 23:21] SatishBoddu-MSFT commented on #35931
Hi @thanhnt Did you try the below documentation?

[Certificates_CreateOrUpdate](https://docs.microsoft.com/en-us/rest/api/iothub/certificates/create-or-update#examples)
https://docs.microsoft.com/en-us/rest/api/iothub/certificates/create-or-update#examples

For further help on this issue, please post your technical query on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/topics/25494/azur

[2021-11-29 23:25] SatishBoddu-MSFT commented on #35931
#

[2021-11-29 23:29] v-gpettibone commented on #74914
Hi @HSFI , The repeated paragraphs and the stray question mark have been deleted. Please close the issue when you have a chance.

[2021-11-29 23:35] MarileeTurscak-MSFT commented on #84540
Thanks! I made a pull request to add the encryption info. https://github.com/MicrosoftDocs/azure-docs-pr/pull/181268

[2021-11-29 23:35] #84540 closed

[2021-11-29 23:47] SatishBoddu-MSFT commented on #60550
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

[2021-11-29 23:47] #60550 closed

[2021-11-29 23:52] Aegrum opened #84566 "All cloud apps?"
[Enter feedback here]
This policy's recommended configuration is questionable. Implementing a CA to target "All cloud apps" would include *all* MSAL/AAD auth mobile apps, even apps without the Intune SDK. How would one authenticate to an app that had a grant requirement of either "require approved client app" or "require app protection policy" when both those conditions require the app to have the

[2021-11-29 23:56] MarileeTurscak-MSFT commented on #84549
This question was covered in this [related thread](https://github.com/MicrosoftDocs/azure-docs/issues/39701):

Let me know if this helps. If you have further questions feel free to tag me in the comments or open a new post on Q&A. https://docs.microsoft.com/answers/topics/azure-active-directory.html

[2021-11-29 23:56] #84549 closed

[2021-11-29 23:57] JamesTran-MSFT commented on #84566
@Aegrum
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-11-30 00:12] SamaraSoucy-MSFT commented on #84564
Thanks for the feedback! We will review and get back to you shortly.

[2021-11-30 00:14] JimacoMS4 commented on #81455
Hi @Mansoormahfoud - thanks for your feedback. The short answer is that you can call DMs, etc. on a nested edge device w/o any additional considerations as long as you have the device configured correctly in IoT Hub. That is, the device should be configured with the appropriate parent device.

Nested edge is a transparent gateway meaning that once the gateway and the parent/child relationship is s

[2021-11-30 00:24] tfitzmac commented on #84199
If you are moving dependent resources together, there is no downtime. If you need to connect the database to different resources after the move, there would be an interruption of any operations related to those resources. I will clarify the conditions for no downtime. The update should get published tomorrow.
#please-close

[2021-11-30 00:24] #84199 closed

[2021-11-30 00:24] HeidiSteen commented on #84442
Thank you @danglund, I agree that this page is overdue for an update.  I rephrased that section this morning and the edits are now live at the link at the top of this thread. I'm closing this issue, but please let me know if you have any suggestions for further updates.

#please-close

[2021-11-30 00:24] #84442 closed

[2021-11-30 00:35] coffeebeantraining commented on #84559
Thanks!
I looked over this document: https://github.com/Azure/azure-powershell/blob/main/src/Network/Network/help/Set-AzApplicationGatewayRequestRoutingRule.md
and, there is only one spot where one could possibly figure out how to update the Associated Rule column under Example 1: Update a request routing rule.
I think very few people would be able to figure out how to do it based on that example

[2021-11-30 00:38] ecormaksin opened #84567 "Does Dataset's compression have an effect on saving network bandwidth?"
I have a question about [the compression of Delimited text format's Dataset properties on Azure Data Factory](https://docs.microsoft.com/en-us/azure/data-factory/format-delimited-text#dataset-properties). Does it have an effect on saving network bandwith, for example, when using ExpressRoute service to make a network private? Or, does it only have an effect on saving storage usage rate?

---
####

[2021-11-30 00:46] spelluru commented on #84304
The updated article is live now.

#please-close

[2021-11-30 00:46] #84304 closed

[2021-11-30 00:48] ktoliver commented on #84326
Hi @zhenlan - #84327 was closed 6 days ago. Do you want to reopen it for author review?

[2021-11-30 00:51] ecormaksin opened #84568 "Can I use compressed data on TabularDataset?"
I have a question about [the source of TabularDataset on Azure Machine Learnigng](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-create-register-datasets#tabulardataset).

Can I use compressed data saved Azure Data Lake Storage Gen2 like below on TablarDataset without expansion?

- csv with bzip2(.bz2)
- parquet with gzip(gz)
- parquet with snappy

---
#### Document Details

⚠ *Do

[2021-11-30 00:52] zhenlan commented on #84326
It's auto closed. I don't have permission to reopen it.

[2021-11-30 00:54] #84326 closed

[2021-11-30 01:01] pnarsi opened #84569 "Support for Azure Postgress SQL"
Does the Azure Firewall Application SQL FQDN feature documented on this page support [Azure Database for PostgreSQL](https://docs.microsoft.com/en-us/azure/postgresql/) as well or this feature only available for SQL Server family (i.e. Azure SQL Database, Azure Synapse, Azure SQL Managed Instance, SQL Server on IaaS)?

It is not clear from the documentation whether this is supported for any type o

[2021-11-30 01:21] eedorenko commented on #84386
@asergaz Yes, I can see this for all messages
<img width="1110" alt="Screen Shot 2021-11-29 at 4 14 28 PM" src="https://user-images.githubusercontent.com/20337555/143968126-c273ddaf-9f81-48f0-ab14-ca2c4ac9ab10.png">

I can also that the message arrives at IoT Hub and it has `tracestate` system property
![Screen Shot 2021-11-29 at 5 19 23 PM](https://user-images.githubusercontent.com/20337555/14396

[2021-11-30 01:22] eedorenko commented on #84386
Yes, we can move to  https://github.com/Azure/azure-iot-sdk-c/issues/2167

[2021-11-30 01:22] #84386 closed

[2021-11-30 01:29] VikasPullagura-MSFT commented on #84516
@assaf-grth
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2021-11-30 01:29] #84516 closed

[2021-11-30 01:31] kobulloc-MSFT commented on #84353
@macsurferOhm We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-11-30 01:31] #84353 closed

[2021-11-30 01:33] VikasPullagura-MSFT commented on #84396
@gjongeneel

As this feature is in public preview there is no registration needed. This feature is available to all customers without any sub registration.

_When we want to use this feature in the portal, it still shows us the 'Capacity reservation group is in public preview._
This is fixed by the product now, you should not see this anymore.

Hope this helps.

[2021-11-30 01:38] VikasPullagura-MSFT commented on #84395
@gjongeneel

As this is still in public preview the SLA's are not published. Usually for new products SLA's  are not provided during preview stages.

Public preview is for the customers to test the feature and assess fit for their use cases. It is not recommended using this feature for any production workloads.

[2021-11-30 02:34] anbhar opened #84570 "Missing Samples"
The detailed samples/syntax for mid call control, screen sharing etc are all missing, there is no path to that documentation anywhere.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d8b46d15-96f3-5d40-d9a8-fac16521c953
* Version Independent ID: 6e0f2a01-e407-b005-bd72-4d689380806b
* Content: [Azure Communication Servic

[2021-11-30 02:59] CHEEKATLAPRADEEP-MSFT commented on #84567
@ecormaksin  Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2021-11-30 03:00] CHEEKATLAPRADEEP-MSFT commented on #84563
@F-Zainab  Thanks for the feedback! I have assigned the issue to the content author to evaluate and add the details.

[2021-11-30 03:03] MonikaReddy-MSFT commented on #84561
@epinto - Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2021-11-30 03:21] v-sashig opened #84571 "The section link points to the wrong section."
[Enter feedback here]
In the below Japanese page,
https://docs.microsoft.com/ja-jp/azure/azure-sql/database/automated-backups-overview?tabs=single-database&source=docs#backup-storage-redundancy

This section's link (tag) is not located to the correct section. If I click on the chain mark next to the **バックアップ ストレージの冗長性**, it will jump to the different section in the page.  English page has the corr

[2021-11-30 03:33] v-sashig opened #84572 "The section link points to the wrong section in the Japanese page."
[Enter feedback here]
Hello, I noticed the section link in the Japanese page is directing to the wrong section.
Page URL: https://docs.microsoft.com/ja-jp/azure/cost-management-billing/costs/understand-work-scopes
Section:
ロールごとの機能の動作 In Enterprise Agreement Scope
The link is pointing to ロールごとの機能の動作 In General Scope
Wrong link:
https://docs.microsoft.com/ja-jp/azure/cost-management-billing/costs/u

[2021-11-30 03:34] ram-msft commented on #84568
@ecormaksin Thanks for the question. We are investigating the issue and will update you shortly.

[2021-11-30 03:51] dcrreynolds opened #84573 "Add more sustainability information about each service"
As Global Warming continues to be discussed more and more, I am looking to design sustainability into applications from the start. Can we add documentation to highlight the CO2eq of each service? We could include:

- A way to estimate CO2 for each service
- Suggest ways of lowing CO2 produced through configuration if possible for the service (ie: ASR instead of hot-hot DR)
- Add CO2 information to

[2021-11-30 04:23] VikasPullagura-MSFT commented on #83337
![image](https://user-images.githubusercontent.com/48944027/143985309-566a7a22-a062-486e-8e83-a7e117459ab8.png)

The document is updated, closing this issue now.

[2021-11-30 04:23] #83337 closed

[2021-11-30 04:25] AjayKumar-MSFT commented on #84356
jocarv-fte,  Thanks for leveraging Azure docs feedback channel. No worries, much appreciate the follow-up and update on this.

-Just as a side note, this channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements.

[2021-11-30 04:26] VikasPullagura-MSFT commented on #83328
@Klaas-
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-11-30 04:26] VikasPullagura-MSFT commented on #83328
@roygara
Can you please check and add your comments on this doc update request as applicable.

[2021-11-30 04:35] y10e opened #84574 ".NET Core runtime LTS 2.1 runtime is now out of support"
I think that ***Supported .NET runtimes*** which this page  describe is very misleading.
 As .NET Core runtime LTS 2.1 runtime is now out of support on Aug 21, 2021, Service Fabric announced that ***Current apps running on .NET Core 2.1 runtime will continue to work, but requests for investigations or request for changes will no longer receive support***.

[Azure Service Fabric 8.1 Third Refresh R

[2021-11-30 04:40] BhargaviAnnadevara-MSFT commented on #84570
@anbhar Thanks for the feedback. We're investigating this and will get back to you shortly.

[2021-11-30 04:58] MayankBargali-MSFT commented on #84458
@reddyeshwar17 As there was no response we will now proceed to close this thread. If there are document issues feel free to open a new issue and we will gladly continue the discussion.

[2021-11-30 04:58] #84458 closed

[2021-11-30 05:19] VikasPullagura-MSFT commented on #84574
@y10e
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-11-30 05:19] VikasPullagura-MSFT commented on #84574
@sukanyamsft
Can you please check and add your comments on this doc update request as applicable.

[2021-11-30 05:37] ArjunDeb420 commented on #84533
Hi Siva,

yes please get this updated, if possible drop me a notification when
update is done.

Regards,
Arjun

On Tue, Nov 30, 2021 at 12:05 AM SivaKumarSelvaraj-MSFT <
***@***.***> wrote:

[2021-11-30 06:16] RohitMungi-MSFT commented on #84434
@chingzchen The documentation will be updated with the latest screen shots and guidance by our content team. Thanks for spotting this.

[2021-11-30 06:30] dominicbetts commented on #82593
#please-close

[2021-11-30 06:30] #82593 closed

[2021-11-30 06:34] BhargaviAnnadevara-MSFT commented on #84514
@Catastrophe1 Hope the above inputs help. Are there any further questions here?

[2021-11-30 06:35] dominicbetts commented on #83286
Hi @romankiss - I'll close this issue now, but feel free to add any follow-up questions here. Thanks.

[2021-11-30 06:35] dominicbetts commented on #83286
#please-close

[2021-11-30 06:35] #83286 closed

[2021-11-30 06:47] levenleven opened #84575 "Update ruby version"
Ruby 2.3 has reached end of life more than two years ago, probably it's time to update the doc.

Also the only runtime stack supported for web apps out of the box is 2.6, would be nice to have 3.x as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5da98502-69f3-82fd-14d9-5da825e9d541
* Version Independent ID: dcec

[2021-11-30 06:48] SaiKishor-MSFT commented on #84569
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-11-30 06:49] abhijeet-MSFT opened #84576 "Supported OS list is missing information for server 2022"
Supported OS list should include information about server 2022 if it is supported or unsupported with AD Connect health agent.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b4b9ec9-9ce6-dcff-b557-2816d40459b8
* Version Independent ID: b2f56dc2-506e-4ff0-fec5-b7241f7fc4fc
* Content: [Azure Active Directory Connect Hea

[2021-11-30 07:55] lbl1985 opened #84577 "ipywidgets call back does not work in Synapse Notebook"
Do we have an example about how to get the callback working in Synapse Notebook?

I have the following sample code, but by changing the Dropdown value, the callback is not triggered.

dataSelection = widgets.Dropdown(
    options=['SCR_NGC', 'SCR_GVC']
)
def OnStream(change):
    print('callback into OnStream: {0}'.format(change))

dataSelection.observe(OnStream)
display(dataSelection)

---
#### D

[2021-11-30 07:57] JackyChiou opened #84578 "Please add Function Site Name limit is 32 characters"
[Enter feedback here]
Function App Naming rule is the same with Web App
https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/resource-name-rules#microsoftweb

From HostID Truncation can cause collisions https://github.com/Azure/azure-functions-host/issues/2015
Currently when generating a default host ID we use the host name (slot host name) and we truncate to 32 characters max

[2021-11-30 08:06] SaiKishor-MSFT commented on #84438
@tshaiman That is expected behavior from App Service. If you want to allow public access when you enable private endpoint, you need to whitelist the IP's in the Networking Pane. Hope this helps.

[2021-11-30 08:10] BhargaviAnnadevara-MSFT commented on #84570
@anbhar Thanks for the feedback. I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-11-30 08:18] kobulloc-MSFT commented on #84552
@jorge-ataide Although not labeled as "Preview" in the portal, autoscale for Azure Virtual Desktop is still in preview.

[2021-11-30 08:19] kobulloc-MSFT commented on #84552
@jorge-ataide Thank you again for reaching out!  We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-11-30 08:19] #84552 closed

[2021-11-30 08:23] Mrchief85 commented on #49481
Hi,
I wrote a [blogpost ](https://schellevis-ict.nl/?p=168)about this how I configured this piece.
Hope this can help some people.

[2021-11-30 08:34] gjongeneel commented on #84395
Thanks for your response! So indeed, during preview it is paying full price for a SLA that you do not get. I guess this would be a pretty expensive test.

[2021-11-30 08:34] #84395 closed

[2021-11-30 08:42] KrishnaG-MSFT commented on #84578
@JackyChiou Thanks for your comment! We will review and provide an update as appropriate.

[2021-11-30 08:47] #84364 closed

[2021-11-30 08:55] AshokPeddakotla-MSFT commented on #84467
@baanders Please help address this feedback.

[2021-11-30 08:57] BhargaviAnnadevara-MSFT commented on #84575
@levenleven Thanks for the feedback. I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-11-30 09:08] MayankBargali-MSFT commented on #84418
@MGodfrey50 I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-11-30 09:42] shcherbakov88 commented on #83139
Hi
CSV archive contains 1 corrupted record which related to SPE_E5_NOPSTNCONF license:
`Microsoft 365 E5 without Audio Conferencing ,SPE_E5_NOPSTNCONF,cd2925a3-5076-4233-8931-638a8c94f773,RMS_S_PREMIUM,25689bec4-755d-4753-8b61-40975025187c,Azure Information Protection Premium P2`
This Id is invalid
`25689bec4-755d-4753-8b61-40975025187c`
It should be
`5689bec4-755d-4753-8b61-40975025187c`

[2021-11-30 09:50] benoittgt commented on #84245
Hello @rwike77

Thanks for your answer. Sadly it doesn't work.

[code]

There is the same issue open on cloudshell too. https://github.com/Azure/CloudShell/issues/111

[2021-11-30 10:39] dstretch opened #84582 "The SPA Blazor Web Assembly section incorrectly states Authorization code with PKCE"
Hi,

The Blazor Web Assembly "Sign in users" example linked under the Single-page Applications table incorrectly states that the flow is Authorization code with PKCE, where it's actually Implicit flow.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b90331e5-cca5-b157-eaa1-6f8f90003b32
* Version Independent ID:

[2021-11-30 10:39] jocarv-fte commented on #84356
Hi AjayKumer.. Yeah, I know. I usually report feeback here instead of trying to ping individual document authors. This time, I just opened an issue on the wrong document :)

[2021-11-30 10:52] ram-msft commented on #84469
@fishcharlie Thanks, We couldn't see the duplicate code, These code snippets instantiate training and prediction clients using endpoint and keys.

Can you please add more details  helper function that you are trying.

[2021-11-30 10:58] MughundhanRaveendran-MSFT commented on #83776
@Ayanmullick ,

Apologies for the delay.

We have this article that shows how to configure GitHub deployment actions from the GitHub side:

https://docs.microsoft.com/en-us/azure/azure-functions/functions-how-to-github-actions?tabs=dotnet

If you are looking for a PowerShell equivalent to "az webapp deployment github-actions add" in App Service, it is not available/ supported in Functions unfortun

[2021-11-30 10:58] #83776 closed

[2021-11-30 11:02] ram-msft commented on #84469
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-11-30 11:02] #84469 closed

[2021-11-30 11:05] ram-msft commented on #84375
@owenpww Thanks for the details. We would recommend to raise a Azure support desk ticket from Help+Support blade from Azure portal for your  resource if you have a support plan for your subscription. This will help you to share the details securely and work with an engineer who can provide more insights about the issue that if it can be replicated.

[2021-11-30 11:07] asergaz commented on #84324
Hello @DougAtClir can you kindly add more information of the issue you are facing? Thanks!

[2021-11-30 11:08] Svijay-msft commented on #84428
Hello @Damag3d

Per my research it is possible to connect to Azure Key Vault Link service through the private endpoint.

ADF does not provide "Integration Runtime" option for Azure Key Vault in its linked service and always uses the integration runtime corresponding to the dataset since key vault can never be direct source/destination.

![image](https://user-images.githubusercontent.com/66949976/1

[2021-11-30 11:09] ram-msft commented on #84375
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-11-30 11:09] #84375 closed

[2021-11-30 11:19] Daniel-Krzyczkowski opened #84583 "Wrongly formatted Self-attested claims JSON example"
Dear Team,

In the section called "[Input type: Self-attested claims](https://docs.microsoft.com/en-us/azure/active-directory/verifiable-credentials/credential-design#input-type-self-attested-claims)", the JSON file is wrongly formatted. It has too many commas.

This is how it should be to make it work:

`
{
  "attestations": {
    "selfIssued": {
      "mapping": {
        "alias": {
          "c

[2021-11-30 12:08] JanakarM commented on #37611
I am facing same issue.

**Details:**
**Issue 1:** Mentioning individual scopes in **scope** parameter returns **admin_consent=True** in response. But its not reflected in azure admin portal.

**Issue 1:**  After updating permissions to the application using API, when consent url is used with **scope=.default**, the newly added permissions are not listed in the consent page. It take 2-3 minutes af

[2021-11-30 12:10] JanakarM opened #84585 "Admin consent flow not working as mentioned in document."
**Details:**
**Issue 1:** Mentioning individual scopes in **scope** parameter returns **admin_consent=True** in response. But its not reflected in azure admin portal.

**Issue 1:** After updating permissions to the application using API, when consent url is used with scope=.default, the newly added permissions are not listed in the consent page. It take 2-3 minutes after updating permissions for t

[2021-11-30 12:28] WoutVergauwen opened #84586 "ACU's missing"
Hi,

The ACU's for this SKU are missing from this article.

thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5211289-a99f-3f6f-83c6-bd6d89844ef3
* Version Independent ID: ef06c30a-be36-8b6a-d870-8f8199c6fc99
* Content: [Dasv5 and Dadsv5-series - Azure Virtual Machines](https://docs.microsoft.com/en-us/azure/virt

[2021-11-30 12:31] Damag3d commented on #84428
Hm, ok,

_(1) But when you create Linked Service for data stores which references Azure Key Vault Linked Service
(2) and this Linked Service references Azure Integration Runtime with Managed Virtual Network enabled,
(3) then you are able to create a Private Endpoint for the Azure Key Vault Linked Service during the creation._

So I am trying to create ODATA linked service that references Azure Key

[2021-11-30 12:56] rzepinskip opened #84587 "Example command for getting the current count in the deployment history fails with "argument --query: invalid jmespath_type value: 'length(@'""
I tried to use example command for getting the current count in the deployment history mentioned [here](https://docs.microsoft.com/en-us/azure/azure-resource-manager/troubleshooting/deployment-quota-exceeded?tabs=azure-cli#solution) but running `az deployment group list --resource-group exampleGroup --query "length(@)"` fails with `argument --query: invalid jmespath_type value: 'length(@'`. I subs

[2021-11-30 12:59] erangold opened #84588 "Unable to set spark session configuration"
[Enter feedback here]
I followed the tutorial, and I'm having trouble using a custom spark session configuration (e.g., rename the application, modify the amount of executors, etc.):
![image](https://user-images.githubusercontent.com/24757770/144050375-214c9176-d879-4965-91e5-dad82ba6fa28.png)

In the monitor pane in synapse workspace I see a new spark session, but with the same default applicatio

[2021-11-30 13:02] karunakarsolomon commented on #36193
I am also facing same issue,
we have configured ADX data connection with EH. Some of the header info required to fetch from EvenData.Properties.
But i can read data from message body and system properties but no provision to read properties. I tried in spark streaming and it is working but i want to read from ADX.

Any ideas or suggestions,

[2021-11-30 13:04] karunakarsolomon opened #84589 "How to map eventData properties to data explorer using "Ingest data from Event Hub"?"
how to get the properties of the eventData in data ingestion settings.
I used "$.” to get the whole message of the event, but the properties are not in the message.

we have configured ADX data connection with EH. Some of the header info required to fetch from EvenData.Properties.
But i can read data from message body and system properties but no provision to read properties. I tried in spark stre

[2021-11-30 13:14] nelsonchan1221 opened #84590 ""The String is not a valid Base64-encoded string." error while mounting blob on databricks"
Trying to mount a blob storage using this python command on Databricks:

dbutils.fs.mount(
  source = "wasbs://<container-name>@<storage-account-name>.blob.core.windows.net",
  mount_point = "/mnt/<mount-name>",
  extra_configs = {"<conf-key>":dbutils.secrets.get(scope = "<scope-name>", key = "<key-name>")})

Get this error:

shaded.databricks.org.apache.hadoop.fs.azure.AzureException: java.lang.I

[2021-11-30 13:50] VikasPullagura-MSFT commented on #84586
@WoutVergauwen
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-11-30 13:50] VikasPullagura-MSFT commented on #84586
@brbell
Can you please check and add your comments on this doc update request as applicable.

[2021-11-30 13:54] VikasPullagura-MSFT commented on #84396
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2021-11-30 13:54] #84396 closed

[2021-11-30 13:57] tfitzmac commented on #84587
@rzepinskip - thanks for this feedback. Our Azure CLI examples are intended for a Bash environment. In many cases, the syntax is the same whether you are using Bash or another command line (like PowerShell), but in this case, the length syntax requires a Bash environment. I will add a clarification that the command must be run in Bash.

[2021-11-30 14:07] amanmcse commented on #84413
@priyankareddy20 Closing out the issue.

[2021-11-30 14:07] #84413 closed

[2021-11-30 14:08] amanmcse commented on #84429
@carlblanchard Closing out the issue.

[2021-11-30 14:21] tfitzmac commented on #84587
The update will be published later today.
#please-close

[2021-11-30 14:21] #84587 closed

[2021-11-30 14:22] NakayamaKento opened #84594 "Support OS List"
If Windows 11 is supported, please update the list.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 524e47b0-1295-7d07-0cbc-86e6daaa1358
* Version Independent ID: 1cb3a5d8-4f16-583c-ad85-325f7638a873
* Content: [Connect to Azure Virtual Desktop Windows 10 or 7 - Azure](https://docs.microsoft.com/en-us/azure/virtual-desk

[2021-11-30 14:25] barclayn commented on #84583
#please-close

[2021-11-30 14:25] #84583 closed

[2021-11-30 14:27] Ayanmullick commented on #83776
@dingmeng-xue , Which repository does one need to file the feature request in?
Cc: @dcaro

[2021-11-30 14:53] fishcharlie commented on #84469
@ram-msft Maybe I should have specified, this is when you click on the JavaScript toggle at the top.

I still see the exact same code snippet in both sections. Not sure why this would be closed.

[2021-11-30 15:02] boylec opened #84595 "Provide information about using an OAuth 2.0 server to obtain B2C access tokens in API Management Dev Console"
How to require B2C JWT tokens for requests to succeed is documented here, but now how to configure the API Management instance so that a B2C-enabled JWT token can be acquired when testing APIs through the API Management developer console is not.

This other document: https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-protect-backend-with-aad does explain how to configure su

[2021-11-30 15:10] jensmora opened #84596 "Please update NSG advise for AppGw v2"
Please update the documentation for the v2 SKU (https://docs.microsoft.com/en-us/azure/application-gateway/configuration-infrastructure#network-security-groups). According to our experience and confirmed by Azure support, the AppGw v2 SKU requires TCP port 65200-65535 from service tag **Internet**. The documented service tag **GatewayManager** is not sufficient and will raise an ApplicationGateway

[2021-11-30 15:13] ancutato opened #84597 "FIDO2 Supported browsers for rendering engine :("
This article talks about supported browsers when people browse the internet on the OS. There is no actual information on the modern authentication span up by apps such as Office applications or PowerShell for example. If the rendering engine will use an unsupported browser then FIDO2 will not be available.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2021-11-30 15:16] tfitzmac commented on #83913
This update will be published today.
#please-close

[2021-11-30 15:47] kobulloc-MSFT commented on #84594
@NakayamaKento Thank you for your feedback!  We are investigating and will get back to you shortly.

[2021-11-30 16:15] josuvil opened #84598 "Suggestion on cloud support for all tutorials"
Hello team,

I would like to propose a modification with all our SSO and User Provisioning tutorials. These documents do not identify the cloud in which it is supported. For example, many Azure Government customers are discovering these documents and attempting these steps only to find out that Azure Government does not support a particular app (Gallery) or automatic user provisioning.

As a sugge

[2021-11-30 16:22] ie-zero commented on #56945
Thank you sharing the information. We spend quite some time debugging this issue until a colleague run into this post.

[2021-11-30 16:27] jensmora opened #84599 "Please update NSG advise for AppGw v2 - outbound rules"
Please update the documentation for the v2 SKU in regards to NSG associated with the AppGw subnet (https://docs.microsoft.com/en-us/azure/application-gateway/configuration-infrastructure#network-security-groups). According to our experience, the AppGw v2 SKU does not allow **any** outbound deny rule even if it does not affect internet connectivity at all and is specific to a host address/CIDR rang

[2021-11-30 16:56] TroyWitthoeft commented on #84233
@BrianBMN your suggestion got me up and running using this preview feature in order to provide feedback!  Thanks!

@SumanthMarigowda several folks are hitting this issue when trying out this preview feature.  I think it might help to make the Data Redundancy options more prominent?  I've submitted PR #84602 with a small adjustment to the document calling out the restriction.

[2021-11-30 17:04] Genesis129Hunting opened #84603 "Let's see"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2021-11-30 17:05] Genesis129Hunting commented on #84603
What now?

[2021-11-30 17:07] PramodValavala-MSFT commented on #84345
@rolandkru Messages are completed and removed from the queue at the end is `batchOptions.autoComplete` is set to `true`. If set to `false`, you would have to complete or abandon yourself by binding to `MessageReceiver`.

This is usually how processing a batch of messages is expected to end when an exception is thrown but could change depending on your scenario, for which you could take control whe

[2021-11-30 17:15] kobulloc-MSFT commented on #84594
@NakayamaKento Windows 11 is supported.  I'll get a PR out to update the documentation.  Thank you for bringing this to our attention!

[2021-11-30 17:26] ShaikMaheer-MSFT commented on #84443
Created pull request for changes: https://github.com/MicrosoftDocs/azure-docs-pr/pull/181330

[2021-11-30 17:27] ShaikMaheer-MSFT commented on #84445
Created pull request for changes: https://github.com/MicrosoftDocs/azure-docs-pr/pull/181331

[2021-11-30 17:30] #84594 closed

[2021-11-30 17:31] ShaikMaheer-MSFT commented on #84461
@enkrumah Could you please validate customer feedback and update as appropriate. Please Note, If changing HAVING to WHERE is okay then We should consider changing screenshot also. Kindly review. Thank you.

[2021-11-30 17:32] DerekHerman-MSFT commented on #84292
The table under Supported Azure Storage services also needs updating.
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-11-30 17:37] ShaikMaheer-MSFT commented on #84443
PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/181330 Merged successfully. Changes will reflect soon in docs. Thank you.

[2021-11-30 17:37] #84443 closed

[2021-11-30 17:38] ShaikMaheer-MSFT commented on #84445
PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/181331 merged successfully. Changes will reflect in docs very soon.

[2021-11-30 17:39] JamesTran-MSFT commented on #84576
@abhijeet-MSFT
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-11-30 17:40] JamesTran-MSFT commented on #84093
@baf
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-11-30 17:41] JamesTran-MSFT commented on #84582
@dstretch
Thanks for your feedback! We will investigate and update as appropriate.

[2021-11-30 17:42] JamesTran-MSFT commented on #84595
@boylec
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-11-30 17:42] ShaikMaheer-MSFT commented on #84577
@lbl1985 Thank you for sharing your feedback. We are actively validating it. We will share updates soon.

[2021-11-30 17:43] JamesTran-MSFT commented on #84597
@ancutato
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-11-30 17:43] Nicholak-MS commented on #83139
Thanks @shcherbakov88 for catching this extra character. It has been removed and the CSV has been republished.

[2021-11-30 17:44] JamesTran-MSFT commented on #84598
@josuvil
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-11-30 17:44] ShaikMaheer-MSFT commented on #84588
@erangold Thank you for sharing valuable feedback. We are actively validating it. We will share updates soon.

[2021-11-30 17:46] #84527 closed

[2021-11-30 17:48] lzchen commented on #83998
@simonvane
We already have this in our official documentation. Take a look at this [link](https://docs.microsoft.com/en-us/azure/azure-monitor/app/opencensus-python#logs), point #3. We also do not include `APPINSIGHTS_INSTRUMENTATIONKEY` because we want to encourage users to use the connection string.

[2021-11-30 17:53] SaiKishor-MSFT commented on #84599
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-11-30 17:54] GitaraniSharma-MSFT commented on #84391
@jjindrich , as mentioned in https://github.com/MicrosoftDocs/azure-docs/issues/84243, it looks like the policy association part is missing from the doc. I've reached out to the Azure Firewall product group team to get more clarity on same. Will keep you updated.

[2021-11-30 17:55] SaiKishor-MSFT commented on #84596
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-11-30 17:57] Mysticdiva41 opened #84604 "hacking mysticdiva27@hotmail.com's phone and computers"
[Enter feedback here]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* Service: **active-directory**
* Sub-service: **devices**
* GitHub Login: @MicrosoftGuyJFlo
* Microsoft Alias: **joflore**

[2021-11-30 17:59] DerekHerman-MSFT commented on #84477
@porkamizeria Thanks for pointing this out. I have created a PR to fix this and the changes should go live later today.

[2021-11-30 17:59] #84477 closed

[2021-11-30 18:00] JamesTran-MSFT commented on #84604
@Mysticdiva41
Thank you for your post!

Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our [Q&A forum](https://docs.microsoft.c

[2021-11-30 18:00] #84604 closed

[2021-11-30 18:06] #74038 closed

[2021-11-30 18:08] yunhaoling commented on #81985
hey @skeltonsc , how is it going with the development team? let me know if there's anything I could help.

[2021-11-30 18:08] Nickomang commented on #84313
@MichielCornilleKenze , thanks for the feedback!

#please-close

[2021-11-30 18:08] #84313 closed

[2021-11-30 18:09] jonburchel commented on #75532
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2021-11-30 18:09] #75532 closed

[2021-11-30 18:12] MonikaReddy-MSFT commented on #83998
@lzchen - Thank you for providing your insights.
@simonvane  - I hope @lzchen has answered your question.
At this moment, since there is no doc update required, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-11-30 18:12] #83998 closed

[2021-11-30 18:20] v-gpettibone commented on #74914
#please-close

[2021-11-30 18:20] #74914 closed

[2021-11-30 18:21] nitinme commented on #79899
We have created a work item in our backlog to address this issue. We will get to this internal work item based on priority and once this issue is addressed, we'll circle back here and update this issue accordingly.

#please-close

[2021-11-30 18:21] #79899 closed

[2021-11-30 18:21] nitinme commented on #79944
We have created a work item in our backlog to address this issue. We will get to this internal work item based on priority and once this issue is addressed, we'll circle back here and update this issue accordingly.

#please-close

[2021-11-30 18:21] #79944 closed

[2021-11-30 18:21] nitinme commented on #80380
We have created a work item in our backlog to address this issue. We will get to this internal work item based on priority and once this issue is addressed, we'll circle back here and update this issue accordingly.

#please-close

[2021-11-30 18:21] #80380 closed

[2021-11-30 18:27] Will-R-MS opened #84605 "Restricted region access note"
The note on this document explaining the restricted region access request seems very thin, it does not clarify this should be requested to the capacity team. This is easily confusing for customers, who end up opening their requests to Recovery Services team a lot of the time. Please clarify this in the note.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2021-11-30 18:28] KranthiPakala-MSFT commented on #84590
Thanks for leveraging Azure docs feedback channel to raise this question. This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. We didn't determine any changes for this documentation upon reviewing this feedback.

If your issue is specific to a use case, we request you to please reach out in forums like [Microsoft Q&A](https://docs.micros

[2021-11-30 18:29] Oury-MSFT commented on #84312
@Dvansteenburg Please let us know if you need any additional clarification

[2021-11-30 18:30] nitinme commented on #82778
#reassign:jaydeepn

[2021-11-30 18:30] nitinme commented on #83875
#reassign:jaydeepn

[2021-11-30 18:34] nitinme commented on #83612
#reassign:mrbullwinkle

[2021-11-30 18:54] JamesTran-MSFT commented on #84582
@dstretch
Thank you for pointing this out!

Based off the linked articles within the Blazor WebAssembly section, they all reference a similar Implicit Flow, I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.
![image](https://user-images.githubusercontent.com/36619112/144109508-59dfa4a7-c657-4509-b274-d8b9d24db612.png)

![image](https://u

[2021-11-30 18:54] #84582 closed

[2021-11-30 18:59] fishcharlie commented on #84469
@ram-msft Screenshot for reference:

<img width="899" alt="Screen Shot 2021-11-30 at 11 59 11 AM" src="https://user-images.githubusercontent.com/860375/144110564-40a86de9-8098-4c62-ae50-37e1cc50f27f.png">

As you can see the code snippets are identical. I think this needs to be fixed and reopened.

[2021-11-30 19:06] rhavenn commented on #33157
Yeah, we had "network all" and the correct permissions to certificates and secrets. However, I had initially uploaded a PEM with the key, cert and CA intermediates in it. Doing the same but with a PFX and AppGW worked fine without any other changes.

My suggestion is the "pop-up" in the AppGW for adding from a keyvault gets a nice big "this only works with imported PFX files" message.

[2021-11-30 19:07] #76743 closed

[2021-11-30 19:09] #76375 closed

[2021-11-30 19:16] MonikaReddy-MSFT commented on #84603
@Genesis129Hunting - Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2021-11-30 19:17] #76781 closed

[2021-11-30 19:19] MonikaReddy-MSFT commented on #84545
@PDunbarCGI - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-11-30 19:19] #84545 closed

[2021-11-30 19:26] baanders commented on #84467
Hi @DMaxwell02, you're right, thanks for pointing this out. I'm updating the source code behind this snippet to make sure the closing brackets are properly included in the document. I will come back here to close the issue once the fix has been published. :)

[2021-11-30 19:40] Zarnyk opened #84607 "Satellite Distances"
You list 300 miles as the separation requirement which is incorrect. The actual requirement is 250 miles or 400 kilometers. LMK if you have any questions about that. ~Chris Neil (chneil)
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09a788e4-0130-73f2-d985-6fc3aec77974
* Version Independent ID: a

[2021-11-30 19:50] himanshusinha-msft commented on #84571
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-11-30 19:52] himanshusinha-msft commented on #84572
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-11-30 19:56] MonikaReddy-MSFT commented on #84589
@karunakarsolomon - Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2021-11-30 19:56] MonikaReddy-MSFT commented on #84585
@JanakarM - Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2021-11-30 19:57] MonikaReddy-MSFT commented on #84573
@dcrreynolds - Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2021-11-30 19:58] whhender commented on #84098
@tifischer - I've reached out to you to work on adding this information to the documentation.

[2021-11-30 19:59] whhender commented on #84281
@pnarsi - Thank you for your question! I'm looking into this right now. I will follow up as I have more information.

[2021-11-30 20:11] thesheebs opened #84610 "The Sample is not filtering after updating the sample from Microsoft.Graph.Auth to Azure.Identity"
[Enter feedback here]

After updating the sample from Microsoft.Graph.Auth to Azure.Identity, the .Select() function is not filtering results and is displaying approximately 175 attributes., many of which are null. For example:

 "Planner": null,
    "Insights": null,
    "Settings": null,
    "Onenote": null,
    "Photo": null,
    "Photos": null,
    "PhotosNextLink": null,
    "Activities": nul

[2021-11-30 20:13] lbl1985 commented on #84577
I have contact the engineer. and figure out the issue could be about my requirements installed pyspark=3.0.
I am unblocked and you could close up this item for now.   @ShaikMaheer-MSFT
Thanks. (bow)

[2021-11-30 20:13] #84577 closed

[2021-11-30 20:14] dcrreynolds commented on #84573
Hi @MonikaReddy-MSFT! I don't have an issue with any specific doc, the docs are awesome, I am more asking about a new topic to be added overall.

[2021-11-30 20:28] simonvane commented on #83998
Thanks for your response @MonikaReddy-MSFT and @lzchen but...
- Point 3 in that link doesn't show that you add the handler like this - `logger.addHandler(AzureLogHandler())` - if you set the environment variable. I had to go digging around in source code to find out. It would be helpful (and save time) if the documentation showed the different ways this could be set up.
- Please could you elaborat

[2021-11-30 20:31] rballonline opened #84611 "Why is this so magical?"
Is there nothing about how we can all set this up without a template? Or how the template works? How does Azure know to run a docker image at port 8080 pointing to a node server at port 3000 and to serve it on port 80?

It would be great to know how we can setup our own JS file and run in on Azure through a node process. I'll look around more because this just seems magical and hard to change.

--

[2021-11-30 20:36] asergaz commented on #84324
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-11-30 20:36] #84324 closed

[2021-11-30 20:57] DerekHerman-MSFT commented on #84250
@baatch
_When will it run the first time?_
It should occur within a day for creating the rule.

_Is there a way to check if the inventory is currently running?_
look in the location where you asked the inventory to get written, when it starts it places a manifest file, when it finishes it places a checksum file more info here : https://docs.microsoft.com/en-us/azure/storage/blobs/blob-inventory#in

[2021-11-30 20:57] #84250 closed

[2021-11-30 21:23] Minewiskan commented on #83216
#in-progress

[2021-11-30 21:28] vTa47 opened #84613 "Compatibility with Windows Server 2022"
Hello,

Azure Arc now support Windows Server 2022.
Any news about support in Azure Automation for Windows Server 2022 ? Maybe already supported but this documentation is not updated yet ?

Thank you in advance,
Téva

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4515d4f-2f9b-26dc-d7ab-6a2eae42b9b0
* Version Independen

[2021-11-30 21:41] petertuton opened #84614 "The rule for evaluating if a phone is face-down is incorrect, should be "greater than 0.9""
See the [Apple documentation](https://developer.apple.com/documentation/coremotion/getting_raw_accelerometer_events) for details.

This is incorrect: "When the phone is lying on it's back, the z value is greater than 9, when the phone is lying on it's front, the z value is less than -9.". As such, the configured rule is also incorrect.

The correct statement is (with corrections in **_bold italics

[2021-11-30 21:42] ssivas commented on #84216
@amcamillo, Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-11-30 21:47] bandersmsft commented on #84572
@v-sashig Thanks. I've forwarded this information to our Loc team to investigate and fix outside of GitHub issues. It's something that I can't fix in the EN-US docs source, as the problem is specific to the Loc system. I've included you in the offline email.

#please-close

[2021-11-30 21:47] #84572 closed

[2021-11-30 21:51] bandersmsft commented on #84510
@SeaDude Hi there. I spoke with the Billing engineering team. Unfortunately, they don't have the resources to include Python examples.
#please-close

[2021-11-30 21:51] ramya-rao-a opened #84616 "Wrong code snippets for Image Search"
In the [Quickstart: Use the Bing Image Search client library](https://docs.microsoft.com/en-us/azure/cognitive-services/bing-image-search/quickstarts/client-libraries?pivots=programming-language-javascript&tabs=visualstudio#create-and-initialize-the-application), the code snippet makes use of the `@azure/cognitiveservices-imagesearch` package

- It imports `ImageSearchAPIClient` which does not exi

[2021-11-30 21:51] #84510 closed

[2021-11-30 21:51] petertuton opened #84617 "Suggest using $clustername for the name of the service principal to avoid conflicts with existing objects"
When running the `az ad sp create-for-rbac` command, if a service principal name is used that matches an existing service principal, e.g., in the case where someone else in the same tenant has completed the quickstart, the following error is received:
[code]
It might be the case that an existing service principal is wanting to be reused, but this is unlikely.

To avoid conflicts with existing serv

[2021-11-30 21:56] petertuton opened #84618 "Recommend using a cluster name that meets the requirements, i.e., with only alphanumeric characters"
I recommend providing the requirements for cluster names, i.e., it can only include characters that are alphanumeric.

When running the `az kusto cluster create --cluster-name $clustername ...` command, if a cluster name is used the violates the cluster name requirements, the following, obscure, error is received:
[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2021-11-30 21:57] JamesTran-MSFT commented on #84610
@thesheebs
Thanks for your feedback! We will investigate and update as appropriate.

[2021-11-30 21:58] petertuton opened #84619 "WARNING: 'name' property in the output is deprecated and will be removed in the future. Use 'appId' instead."
Recommend changing the use of `--name` to `--appId` for the command, `SP_JSON=$(az ad sp create-for-rbac --skip-assignment --name spforiotcentral)` to avoid receiving the warning:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33701166-a22b-03c6-3d9b-9ec4aa4b6abf
* Version Independent ID: be982211-68ff-1896-c59b

[2021-11-30 22:00] jaulates opened #84620 "Migration to Conditional Access causes confusion on customers"
On customers that are not very familiar with the session control in Conditional Access "Customize continuous access evaluation" the policy created by the Migration can be confusing specially if they had CAE enabled for a few users or groups.

This is because of the logic of the CAP is the other way around as the CAE settings, if CAE was enabled just for a group, the CAP will be enabled and would i

[2021-11-30 22:01] HeidiSteen commented on #84511
Thanks @ignacioufls - I implemented your feedback.  You can re-visit the link at the top of this thread to verify the content updates.

[2021-11-30 22:04] roygara commented on #84292
Thanks for bringing this to our attention, we appreciate it! I've gone ahead and updated the article, the changes will be live later today.

Accordingly, I'll close this out.

#please-close

[2021-11-30 22:04] #84292 closed

[2021-11-30 22:05] tfitzmac commented on #84578
@JackyChiou - thanks for this feedback. I have added clarification about the function name for versions before 4.x. This update should get published today. I'll close this item for now, but feel free to reopen or respond if the added clarification does not address the issue.
#please-close

[2021-11-30 22:05] #84578 closed

[2021-11-30 22:18] JamesTran-MSFT commented on #84620
@jaulates
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-11-30 22:21] aholler2 commented on #80977
@AnuragSharma-MSFT This was never merged AFAIK.

[2021-11-30 22:22] rwike77 commented on #84198
@cveld  Hi, I'm not sure actually if name of the GitHub workflow was considered.  I can check with the engineers.  That's a good suggestion about adding some more info and examples about the other supported entity types.  I'll look into that and will update this issue a little later.  Thanks for your feedback.

[2021-11-30 22:35] Lumute opened #84622 "AD Connect Cloud Sync and Password Writeback with multiple agents in separate sites?"
Hi, AD Connect Cloud Sync sounds like a great solution to our problem of password writeback replicating to AD remote sites.

We currently use the good old AD Connect installed in one of our 2 sites (site 1) and the password writeback takes long to internally replicate to our second site (site 2), so users on that site have to wait a long time before their new password can be used with resources on

[2021-11-30 22:38] rconiv opened #84623 "Link takes me to a different site."
When I click on the link in:

Sign up using your existing Azure or Microsoft 365 subscription
As an Azure or Microsoft 365 subscriber, you can purchase the Azure Active Directory Premium editions online. For detailed steps, see How to Purchase Azure Active Directory Premium - New Customers.

It takes me to:

https://docs.microsoft.com/en-us/teamblog/channel9joinedmicrosoftlearn

---
#### Document

[2021-11-30 22:50] James-Hamil-MSFT commented on #84623
Hi, we are investigating your issue and will update you shortly.

Best,
James

[2021-11-30 22:51] JamesTran-MSFT commented on #84622
@Lumute
Thanks for your feedback! We will investigate and update as appropriate.

[2021-11-30 22:59] JamesTran-MSFT commented on #84610
@thesheebs
Would you be able to share some more info so I can gain a better understanding?

- Did you change the Code discussion sample from Microsoft.Graph.Auth to Azure.Identity, which caused the issue?
- Does an existing sample within the doc have issues?
- Are you recommending that we update our sample?

Any additional information would be greatly appreciated.
Thank you for your time and patie

[2021-11-30 23:17] propellor opened #84625 "Example code not working (for me)"
Maybe just my issue, but having issues with this demo code.
Getting error when running first read of parquet file:

AnalysisException: Unable to infer schema for Parquet. It must be specified manually.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65331fde-51d0-365e-e182-2c3b01de8f99
* Version Independent ID: 79b4f02b

[2021-11-30 23:17] v-gpettibone commented on #41125
This doesn't appear to be a limitation, just expected behavior. If you want to also serialize sensors in the preceding example, then use $twin.properties.desired.SensorConfig.sensors.

[2021-11-30 23:18] v-gpettibone commented on #41125
#please-close

[2021-11-30 23:18] #41125 closed

[2021-11-30 23:28] RyanHill-MSFT commented on #84611
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-11-30 23:31] HeidiSteen commented on #84511
#please-close

[2021-11-30 23:31] #84511 closed

[2021-11-30 23:48] Oury-MSFT commented on #84479
@VitalyMCT Could you please share the link

[2021-11-30 23:57] JimacoMS4 commented on #60958
#reassign v-gpettibone

[2021-11-30 23:58] msmimart commented on #84424
Hi @nikki-c, thanks for pointing this out. Looks like the videos are no longer available in the original location. I've removed the links until we can identify replacement content; updates should publish shortly. Thanks again!

[2021-11-30 23:59] #84424 closed

[2021-12-01 00:02] JimacoMS4 commented on #42615
#reassign v-gpettibone

[2021-12-01 00:04] VitalyMCT commented on #84479
Maybe just remove the link altogether as the page itself seems to be focused on geo-restore? Or maybe point to https://docs.microsoft.com/en-us/azure/azure-sql/database/recovery-using-backups. Just not AKV, it's completely unrelated.

[2021-12-01 00:06] tuttipazzo opened #84626 "Missing sles15 entries?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a500b10-e0e3-db1b-62d2-8af17f8e519c
* Version Independent ID: 7f8427f9-0b98-7299-4f0d-34c37b2dce65
* Content: [Script to enable kdump in SAP HANA (Large Instances) - Azure Virtual Machines](https://docs.microsoft.com/en-us/azure/virtual-machines/work

[2021-12-01 00:13] KranthiPakala-MSFT commented on #84471
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2021-12-01 00:13] #84471 closed

[2021-12-01 00:37] ecormaksin commented on #84567
@CHEEKATLAPRADEEP-MSFT Thank you for your reply! I' sorry that I posted a question to wrong channel. I created [Microsoft Q&A question](https://docs.microsoft.com/en-us/answers/questions/645157/does-dataset39s-compression-have-an-effect-on-savi.html).

[2021-12-01 00:37] #84567 closed

[2021-12-01 00:42] ecormaksin commented on #84568
@ram-msft Thank you for your reply! I'm sorry that I posted to wrong channel. I created [Microsoft Q&A question](https://docs.microsoft.com/en-us/answers/questions/645118/can-i-use-compressed-data-on-tabulardataset.html), and I got the answer from your colleague GiftA-MSFT. So I close this issue.

[2021-12-01 00:42] #84568 closed

[2021-12-01 00:47] dlepow commented on #84418
@MGodfrey50 - Thanks for contacting us and for your feedback. This article will be updated in the very near future.

[2021-12-01 00:48] JamesTran-MSFT commented on #84622
@Lumute
Thank you for your time and patience!

Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our [Q&A forum](https://docs.micr

[2021-12-01 00:48] #84622 closed

[2021-12-01 00:52] JustinDyt opened #84627 "Cannot build when NSG has deny-all rule"
Hello,

We are trying to deploy AIB in an existing subnet.
We followed every step introduced in the documentation to prepare the networking environment.
But we found that we are encountering the error like:
[ERROR] WinRM connection err: unknown error Post "https://10.4.21.11:5986/wsman": context deadline exceeded

With troubleshooting we found in the NSG flow log that it's proxy VM to build VM por

[2021-12-01 01:18] bobhuang1 commented on #83901
For those who are in the same boat as I am - need to pre-load data and run Azurite BEFORE debugging in VS starts:
1. Download and install Azure Storage Explorer if you don't already have it: https://azure.microsoft.com/en-us/features/storage-explorer/#features
2. Make a directory C:\Azurite to store data for Azurite
3. Make a batch file to start Azurite, I am using community version for pro versio

[2021-12-01 01:31] MonikaReddy-MSFT commented on #84573
@dcrreynolds - Thanks for responding back. Do you have any specific doc that you recommend, that the above information needs to be added ?

[2021-12-01 01:51] michaelcadogan opened #84628 "Steps don't align with what is presented within Azure Enterprise Application integration"
This page is really out of date with the settings that are presented to the integrator. You don't make mention of the Reply URL which is a mandatory field. The only way to find the answers to this is to Google and find other people who have configured the integration correctly (most likely by engaging Professional Services or Support).

---
#### Document Details

⚠ *Do not edit this section. It is

[2021-12-01 01:51] michaelcadogan commented on #84628
https://communities.vmware.com/t5/Workspace-ONE-Discussions/Azure-Active-Directory-SAML-Federation-integration-with-AirWatch/td-p/2268300/page/2

[2021-12-01 02:06] ChaitanyaNaykodi-MSFT opened #84629 "Server Variables are only supported on Azure Front Door Standard/Premium"
As Server Variables are only supported on Azure Front Door Standard/Premium, in the URL redirect scenario you cannot use Azure Front Door classic to utilize server variables to dynamically change the request/response headers or URL rewrite paths/query strings

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5c4578c-9d10

[2021-12-01 02:14] ChaitanyaNaykodi-MSFT commented on #84629
I have made a PR which will add a note regarding Server Variable support to this document. It is currently under doc author's review.

[2021-12-01 02:32] nkhuyent commented on #81750
@eyast - Thanks for being patient! I'm currently looking into this. Get back to you soon.

[2021-12-01 03:04] AshokPeddakotla-MSFT commented on #84614
[@petertuton](https://github.com/petertuton) Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-12-01 03:05] AshokPeddakotla-MSFT commented on #84617
[@petertuton](https://github.com/petertuton) Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-12-01 03:07] AshokPeddakotla-MSFT commented on #84618
[@petertuton](https://github.com/petertuton) Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-12-01 03:08] AshokPeddakotla-MSFT commented on #84619
[@petertuton](https://github.com/petertuton) Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-12-01 03:25] dbiscontin commented on #62578
I have the same issue, Root cert is DigiCert. What was the resolution? Thanks.

[2021-12-01 03:37] CHEEKATLAPRADEEP-MSFT commented on #84625
@propellor The code mentioned in the document works as excepted.

When you say example code not working. I would request you to provided the details about the code which you are running along with the screenshot of the error message which you are experiencing?

Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs

[2021-12-01 03:51] fbomb111 opened #84630 "Tutorial out of date"
This tutorial linked below is too out of date to follow along with.  It includes deprecated portions in the Azure Batch Service and too many Visual Studio issues and code errors.

Small example, the first block of code references
`using Microsoft.WindowsAzure.Storage`
which was deprecated and last updated 3 years ago.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2021-12-01 04:03] tej-rana commented on #77097
This assumes that you already have a cluster created.  What some users are facing is the fact that they can't run `az aks create `

`object_id=$(az aks show \
  -g $RESOURCE_GROUP \
  -n $CLUSTER_NAME \
  --query "identityProfile.kubeletidentity.objectId" -o tsv)`

[2021-12-01 04:38] vipulsparsh commented on #84628
@michaelcadogan Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-12-01 04:46] kotoz-ea opened #84633 "Docker engine error during building arm32v7 image for iot edge module"
I'm trying to build and push a simpleModule for edge solution.
Development machine is `Windows`.
I have followed the instructions at [Tutorial: Develop IoT Edge modules with Linux containers
](https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-develop-for-linux?view=iotedge-2020-11&source=docs#build-and-push-your-solution)
This is my `deployment.json` file

[code]
Also, this is `module.json`

[2021-12-01 05:02] RohitMungi-MSFT commented on #84462
@mestafin We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2021-12-01 05:02] #84462 closed

[2021-12-01 05:04] MayankBargali-MSFT commented on #84412
@AdaTheDev Hope the above helps and clears things up. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-12-01 05:04] #84412 closed

[2021-12-01 05:25] ShaikMaheer-MSFT commented on #84577
Thank you @lbl1985

[2021-12-01 05:46] keijutan opened #84634 ""Using this feature""
[Enter feedback here]
----------
License requirements
**Using this feature** requires an Azure AD Premium P1 license. To find the right license for your requirements, see Comparing generally available features of the Free, Basic, and Premium editions.
----------
I'm not sure which feature mean by "Using this feature".
The following is an appropriate page for comparing licenses.
https://www.microso

[2021-12-01 05:51] Catastrophe1 commented on #84514
Thank you @BhargaviAnnadevara-MSFT. Appreciate your prompt answer. I will test your suggestion. No further question now.

[2021-12-01 05:52] erbalaji opened #84635 "ambiguity on hierarchical levels for management groups"
[Enter feedback here]
under RBAC scopes below is the definition for Management groups
  - Hierarchical containers, **up to eight levels**, to organize Azure subscriptions.
but on page https://docs.microsoft.com/en-us/azure/governance/management-groups/overview under https://docs.microsoft.com/en-us/azure/governance/management-groups/overview#important-facts-about-management-groups
it has been ment

[2021-12-01 05:52] #84445 closed

[2021-12-01 06:06] ShaikMaheer-MSFT commented on #84588
@erangold Thanks for the question. Github forum is dedicated for docs related issues. For any technical queries or clarifications, we encourage to utilise Microsoft Q & A platform. Kindly raise your query on [Microsoft Q&A Platform](https://docs.microsoft.com/en-us/answers/index.html).

[2021-12-01 06:06] Svijay-msft commented on #84450
Hello @rishrocks1904

GitHub forum is specifically for logging document feedbacks or doc issues.

Your query seems more related to 'How-tos'. I would encourage to post your query in the [Microsoft Q & A ](https://docs.microsoft.com/en-us/answers/products/)

[2021-12-01 06:14] SadiqhAhmed-MSFT commented on #84528
@pthomas848 Thank you for your patience.

Here is the definition of [Churn](https://docs.microsoft.com/en-us/azure/backup/azure-backup-glossary#churn).
When we move to archive, we convert the incremental to full. Hence the overall increase in the storage will be inversely proportional to how much changed data is contained in the incremental.

For example – Case 1 : lets say a low churn RP contains

[2021-12-01 06:16] SadiqhAhmed-MSFT commented on #84551
@bzabber Thank you for your patience.

Here is the definition of [Churn](https://docs.microsoft.com/en-us/azure/backup/azure-backup-glossary#churn).
When we move to archive, we convert the incremental to full. Hence the overall increase in the storage will be inversely proportional to how much changed data is contained in the incremental.

For example – Case 1 : lets say a low churn RP contains 5

[2021-12-01 06:22] BhargaviAnnadevara-MSFT commented on #84514
@Catastrophe1 We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-12-01 06:22] #84514 closed

[2021-12-01 06:27] Svijay-msft commented on #84450
Hello @rishrocks1904,

Managing the HDInsight programmatically is mentioned in this [document](https://docs.microsoft.com/en-us/azure/hdinsight/hdinsight-administer-use-powershell).

For your requirement, If I am not wrong you could run [script action](https://docs.microsoft.com/en-us/powershell/module/az.hdinsight/submit-azhdinsightscriptaction?view=azps-6.6.0) - to run scripts against the cluste

[2021-12-01 06:27] #84450 closed

[2021-12-01 06:30] svenkatareddy opened #84636 "How to lock record when reading?"
[Enter feedback here]

How can I lock record when reading to update such that other session's will be on hold? Similar to RDBMS. I don't want to create duplicates with some properties in concurrent distributed  systems.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58a1f8fb-77e3-acac-eb1e-05571fc4e018
* Version Indepe

[2021-12-01 06:42] pm-bhatt opened #84637 "Okta App not visiable in myapps page after following all steps"
Hi Team,

After following all the steps as mentioned in the doc, I can not find the app in the Myapps dashboard (post 15-20 mins)
Did anyone face a similar issue?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b4eb058-63aa-900d-9e64-e28eabc225ff
* Version Independent ID: f3589424-d704-c815-e0b6-0d4441772b74
* Content:

[2021-12-01 07:02] RohitMungi-MSFT commented on #84616
@ramya-rao-a Thanks for raising this. I have created a PR to get this updated as per this quickstart sample. The changes should help display similar result as original quickstart.

I believe after the migration of bing search from cognitive services to bing this doc was not updated.

![image](https://user-images.githubusercontent.com/46958063/144187044-a7c3c9db-2166-4105-8531-881a093c288d.png)

@a