[2020-03-01 16:51] magnarw opened #49243 "Query metrics with V3 SDK for .net core"
Hi! Great article.
Is is possible to populate query metrics in the latest version of the SDK (V3)?
I can find any information on how to do this browsing the api documentation.
I gather that Microsoft recommends going for V3 for new projects and version as will V2 eventually will retire?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2020-03-01 17:06] ujlm commented on #42861
For me, it works by running Node 12 LTS for Windows.
It seems like the port doesn't need to be 5000 tho, my bad.

![afbeelding](https://user-images.githubusercontent.com/60962473/75629972-19676180-5be7-11ea-8788-84a5b20e355b.png)

[2020-03-01 17:46] saif-chaudhry commented on #49236
I would assume NAT Gateway takes precedence here based on this "All outbound traffic for the subnet is processed by NAT automatically without any customer configuration. User-defined routes aren't necessary. NAT takes precedence over other outbound scenarios and replaces the default Internet destination of a subnet."

[2020-03-01 17:50] BharathNimmala-MSFT commented on #49243
@magnarw Thank you for your query , our team will further look into it and get back to you at the earliest.

[2020-03-01 17:51] robcamer opened #49244 "Command fails in zsh shell on mac"
this command: sudo pip install ansible[azure]
fails with this error when run from shell:
zsh: no matches found: ansible[azure]
SOLUTION: put module name in quotes:
 pip install 'ansible[azure]'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38838df3-4e07-1722-d828-e38e00fc296e
* Version Independent ID: 80efdd1d-4756-c1

[2020-03-01 17:51] BharathNimmala-MSFT commented on #49242
@cimares Thank you for your feedback, our team will further look into it and get back to you at the earliest.

[2020-03-01 18:07] jlorek opened #49245 "Azure App Service Linux Container - Web Socket Handshake Error 503"
## Environment
* Azure App Service Linux Container, Default settings, WebSockets enabled
* AspNet Core 3.1 Server Side Blazor Default Project

## Problem
When using Web Sockets (eg. Blazor) the socket connection fails on the client side with following error:
[code]

The Problem is somehow well known:
https://github.com/MicrosoftDocs/azure-docs/issues/19578
https://github.com/MicrosoftDocs/azure-do

[2020-03-01 18:44] dotnetgator opened #49246 "Cryptographic Keys entry for AuthenticationType = "none"needs to be updated"
Uploading a policy which contains a RestfulProvider TP with an AuthenticationType set to None as specified above currently fails with the following error:

The doc needs to be updated to include a Metadata entry of "&lt;Item Key="AllowInsecureAuthInProduction"&gt;true&lt;/Item&gt;" for None, and perhaps a stern warning similar to the one raised by the portal above about being careful when doing th

[2020-03-01 18:44] tkindinger commented on #46201
Why is it acceptable that the CDN still doesn't pick up on new keys.

[2020-03-01 18:49] jikuja commented on #43959
Anything? I also would like use this instead of link renderer for cell with _Workbook (template)_. I need to pass multiple parameters derived by the cell being clicked when opening a new workbook.

[2020-03-01 19:13] JBHorne opened #49247 "Get-MsolUser for StrongAuthenticationUserDetails are different results that Get-AzureADUser"
In our environment, the "mobile" field for AzureAD is only populated if the user has a corporate device. Personal mobile numbers are not within this field as this can be seen by all. Instead, our users populate their mobile number and personal email address from within SSPR. We can see this by running:
Get-MsolUser -EnabledFilter EnabledOnly -All | Select UserPrincipalName, DisplayName, MobilePhon

[2020-03-01 19:14] JBHorne commented on #49247
Reference articles:
https://github.com/Azure/azure-docs-powershell-azuread/issues/246
https://github.com/MicrosoftDocs/azure-docs/issues/5648
https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/33487279-pre-provision-mfa-strongauthenticationuserdetails

[2020-03-01 19:36] robcamer opened #49248 "playbook firstwebapp.yml fails both in cloud shell and on mac"
i successfully configured ansible on clouds shell and mac.  both succeed in creating a RG per the tutorials to set it up.

I then tried running firstwebapp.yml above, resulting in errors for both cloudshell and macos:
cloud shell error:
fatal: [localhost]: FAILED! =&gt; {"changed": false, "module_stderr": "No handlers could be found for logger \"msrest.serialization\"\nTraceback (most recent call

[2020-03-01 20:10] crgarcia12 commented on #35932
Any updates on this?

[2020-03-01 21:51] DanielHabenicht commented on #45225
I also would like to see an example. Especially which variables are available for the destination.
My goal is to add a file ending to requests without one, to rewrite the path to match files in blob storage.

[2020-03-01 22:05] jeevansd commented on #48271
@beniluul We have updated the name of the application. But can you please provide the new icons in these sizes? Please send the email to SaaSApplicationIntegrations@service.microsoft.com
Application Small Icon (PNG file, 45px by 45px, solid background color):
Application Large Icon (PNG file, 215px by 215px, solid background color):
Application Logo (PNG file, 150px by 122px, transparent backgroun

[2020-03-01 22:07] BharathNimmala-MSFT commented on #49237
@tudort-iquest Thank you for your query, we will further look into it and get back to you at the earliest.

[2020-03-01 22:10] BharathNimmala-MSFT commented on #49238
@afandl Thank you for your feedback, our team will further look into it and get back to you at the earliest.

[2020-03-01 22:11] BharathNimmala-MSFT commented on #49240
@Chai-NED Thank you for your query, our team will further look into it and get back to you the earliest.

[2020-03-01 22:15] BharathNimmala-MSFT commented on #49245
@jlorek Thank you for your query and feedback, our team will further look into it and get back to you at the earliest.

[2020-03-01 22:50] michaelsync commented on #47461
@VikasPullagura-MSFT Thanks for reminding Jorge.

@palma21   Can you please confirm on the possibility of LB deletion?

[2020-03-01 22:50] SamaraSoucy-MSFT commented on #48794
@sahilpnckr123 The connection string in the App Insights Agent is not currently configurable, so there is no way to configure a gateway or proxy server at this time. There is a backlog item to add this functionality, but I don't have an ETA on that release as of yet.

I'm going to close this issue, as the option doesn't currently exist. I will send an update if I get an ETA on the release of that

[2020-03-01 22:50] #48794 closed

[2020-03-01 22:52] Norrch2 commented on #45852
Is there any update to this? The GetClaims type is still missing from the documentation.

[2020-03-01 22:53] cynthn commented on #49227
@karlochacon Thank you for the feedback. I've fixed the parameter name and the updated doc should be published by end-of-day Monday.

#reassign @cynthn

#please-close

[2020-03-01 22:53] #49227 closed

[2020-03-01 22:54] crgarcia12 opened #49249 "Missing documentation"
I believe a better PowerShell / CLI / ARM examples are needed, since that is the most used technique in real products.
For example, you could add this:

Using CLI:
    az monitor diagnostic-settings create \
        --name "$DiagnosticsSettingsName" \
        --resource "/subscriptions/$SubscriptionId/resourceGroups/$ResourceGroup/providers/Microsoft.Network/azureFirewalls/$FwName" \
        --wor

[2020-03-01 23:00] dcbrown16 commented on #49023
@DashleenBhandari-MSFT sure, thanks for checking this!

[2020-03-01 23:00] #49023 closed

[2020-03-01 23:04] Bartolomeus-649 opened #49250 "Is V2 100% compatible with V1?"
The most important info on upgrading to V2 is missing:

1. Will code accessing the V1 storage continue to work without any modifications whatsoever?

2. Are there any breaking changes in functionality, API or anything else between V1 and V2?

3. Are there any Azure services which only work with the classic V1 storage, that might stop working if you upgrade to V2?

4. Is data in the storage moved,

[2020-03-01 23:15] NavtejSaini-MSFT commented on #49122
@atycholis Glad you were able to figure it out. We are going ahead and closing this thread.

[2020-03-01 23:15] #49122 closed

[2020-03-01 23:18] NavtejSaini-MSFT commented on #48938
@srdan-bozovic-msft We have assigned this issue to you for further review.

[2020-03-01 23:20] TenZeroOne opened #49251 "Obsolete documentation"
This document describes few steps not available on Azure portal. It has to be either removed or at least get a very fast review  . . . actually better try to use an auto-documentation system ;) like OpenSource apps do for instance. What it is described in here cannot be used.

This isn't the only incongruence between the Azure Portal, the Documentation and the $$$ paid Video Tutorials I have found

[2020-03-01 23:23] NavtejSaini-MSFT commented on #48983
@MaxFrost We are assigning this to our author for further review regarding such templates exist or not.
@srdan-bozovic-msft Please check the question from user and help.

[2020-03-01 23:41] markuskonrad commented on #43302
Are there any updates available for this issue? Having the same problem with a Web App / Microsoft.Web/sites.

I assume this is still a problem with the "Preview" status? I already expected problems when I exportet the template and found the "name" value with a static GUID.

`
{
      "name": "[concat(parameters('webAppName'), '/fa2c00c5-e0c8-423b-8079-8848864adc41_', parameters('subnetName'))]",

[2020-03-01 23:48] beniluul commented on #48271
@jeevansd
These three requested icon sizes & formats have been sent by email to SaaSApplicationIntegrations@service.microsoft.com

[2020-03-02 00:28] ram-msft commented on #48925
@DavidFloresFX Can you please add more details for this.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-02 00:28] #48925 closed

[2020-03-02 00:44] BharathNimmala-MSFT commented on #48971
@ciufudean Hope the above information helps , at this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue, however if you have any further queries please tag us in your reply and will be happy to reopen the thread and continue the conversation. Thank you

[2020-03-02 00:44] #48971 closed

[2020-03-02 00:45] BharathNimmala-MSFT commented on #48973
@ciufudean Hope the above information helps, at this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue, however if you have any further queries please tag us in your reply and will be happy to reopen the thread and continue the conversation. Thank you

[2020-03-02 00:45] #48973 closed

[2020-03-02 00:47] BharathNimmala-MSFT commented on #49020
@trhodes9 Since we have not heard back from you and at this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue, however if you have any further queries please tag us in your reply and will be happy to reopen the thread and continue the conversation. Thank you

[2020-03-02 00:47] #49020 closed

[2020-03-02 00:48] BharathNimmala-MSFT commented on #49067
@mrtomnguyen Since we have not heard back from you and at this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue, however if you have any further queries please tag us in your reply and will be happy to reopen the thread and continue the conversation. Thank you

[2020-03-02 00:48] #49067 closed

[2020-03-02 00:49] BharathNimmala-MSFT commented on #49081
@arielcedola Since we have not heard back from you and at this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue, however if you have any further queries please tag us in your reply and will be happy to reopen the thread and continue the conversation. Thank you

[2020-03-02 00:49] #49081 closed

[2020-03-02 00:55] BharathNimmala-MSFT commented on #49244
@robcamer Thank you for bringing this to our notice, assigned this to our document author @TomArcherMsft to further evaluate the feedback and update the document accordingly.

[2020-03-02 00:56] BharathNimmala-MSFT commented on #49246
@dotnetgator Thank you for your feedback, our team will further look into it and get back to you at the earliest.

[2020-03-02 01:01] BharathNimmala-MSFT commented on #49078
@Chonwing Hope the above information helps, Since we have not heard back from you . We will go ahead and close this issue, however if you have any further queries please tag us in your reply and will be happy to reopen the thread and continue the conversation. Thank you

[2020-03-02 01:01] #49078 closed

[2020-03-02 01:03] kazshi opened #49252 "Microsoft.Web/sites (excluding functions) : CpuTime is not available when selecting function app"
CpuTime is not available when selecting function app - please add a note to it description.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0a586c4-71fd-e60b-9c4c-1a3eb2443c74
* Version Independent ID: 2f3706cc-073b-a310-8da4-2a5a90da6473
* Content: [Azure Monitor supported metrics by resource type - Azure Monitor](htt

[2020-03-02 01:09] BharathNimmala-MSFT commented on #49247
@JBHorne Thank you for your valuable feedback, our team will further look into and get back to you at the earliest.

[2020-03-02 01:11] BharathNimmala-MSFT commented on #49248
@robcamer Thank you for your query, our team will further look into it and get back to you at the earliest.

[2020-03-02 01:30] johanburati opened #49253 "Support for SLES 12-SP4"
This document indicates that Disk Encryption is supported for SLES 12-SP4

However when trying to encrypt a data disk on SLES 12-SP4 VM from the Azure Portal a message saying that the operating system and version is not supported is displayed.

I have reported this to the Azure Portal team as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2020-03-02 01:32] johanburati commented on #49253
The doc indicates that encryption is available for SLES 12-SP4:

https://docs.microsoft.com/en-us/azure/virtual-machines/linux/disk-encryption-overview

![image](https://user-images.githubusercontent.com/106444/75638808-1749e500-5c71-11ea-9c00-50d176fc8c64.png)

However Portal returns that the OS is not supported:

![image](https://user-images.githubusercontent.com/106444/75638799-09945f80-5c71-11

[2020-03-02 02:07] dcbrown16 commented on #39175
@SnehaAgrawal-MSFT @btardif
Can you please revisit this request? We have another support request regarding the gap between units listed in docs vs the units when obtained in other ways. All of the unit indications in this doc should probably say something like "Default units displayed in the Azure Portal are <unit>."

[2020-03-02 02:41] VikasPullagura-MSFT commented on #49228
@jder
I have assigned the issue to content author to check and update the document as appropriate.

[2020-03-02 02:41] VikasPullagura-MSFT commented on #49228
@pulkitaggarwl
Can you please check and add your comments on this doc update request as applicable.

[2020-03-02 02:44] loosus456 opened #49254 "Add info about MFA when upgrading to P1?"
We have an Office 365-only tenant. We have enabled MFA per-user for about 10% of our users in the Office 365 Admin Center (not in the Azure Portal).

In the next few months, we are upgrading to Azure Premium 1.

Can you add some information to this article about what will happen, if anything, to existing MFA registrations after the upgrade? For example, will the users who registered for MFA in Off

[2020-03-02 02:44] oo2316oo opened #49255 "For Asynchronous read, how would we set load balance to make it process request parallelly?"
Would you mind provide the document about how to set load balance to process image parallelly with several AKS replica?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 439c70ec-4484-25de-4942-939112188d58
* Version Independent ID: 08f0bb9d-c6a0-d35b-8b3e-e46cca613487
* Content: [How to install and run containers - Compu

[2020-03-02 02:47] ram-msft commented on #49255
@oo2316oo Thanks for the question. We are investigating the issue and will update you shortly.

[2020-03-02 02:47] snesbitt76 opened #49256 "Why is a manual solution required for this?"
It would be a lot more helpful if the deployment retention period could be configured on the resource group. Having to implement an automatic job or pipeline task to do this for every resource group is an unexpected trap.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a9c195d-22dc-a381-dedd-b829d6a3e82f
* Version Inde

[2020-03-02 03:00] DixitArora-MSFT commented on #48841
@dzeyelid Please follow this for the detailed examples. Let me know how it goes.

https://github.com/Azure/azure-functions-durable-extension/issues/146
https://github.com/Azure/durabletask/wiki/Feature---Sub-orchestrations-(aka-nested-orchestrations)

For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly co

[2020-03-02 03:00] #48841 closed

[2020-03-02 03:03] DixitArora-MSFT commented on #48912
@mslot This channel is driving improvements for official repo. If you have specific question to product , it would be best if you can create the product issue to the official [Azure Functions Repo](https://github.com/Azure/Azure-Functions/issues) for better clarity.

[2020-03-02 03:03] #48912 closed

[2020-03-02 03:04] DixitArora-MSFT commented on #48921
@tymoor I have assigned this to content author for further review and update as appropriate.

[2020-03-02 03:04] KrishnaG-MSFT commented on #49252
@kazshi Thanks for the comment!

CpuTime is not available when selecting function app! so I believe that's the reason it's not listed under [Microsoft.Web/sites (functions)](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/metrics-supported#microsoftwebsites-functions) section.

As the referred section name states [Microsoft.Web/sites (excluding functions)](https://docs.microsoft.com/

[2020-03-02 03:18] KrishnaG-MSFT commented on #49256
@snesbitt76 Thanks for your comment! We will review and provide an update as appropriate.

[2020-03-02 03:19] kazshi commented on #49252
@KrishnaG-MSFT Actually the feedback is from my customer. I believe that some of the other metrics like Http40x etc. are available when selecting function as a scope (although they're not function specific metrics) and that's why they expect to see CpuTime metric even though it's listed under [Microsoft.Web/sites (excluding functions)](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/

[2020-03-02 03:24] ketan-chawda-msft commented on #49249
@crgarcia12 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-03-02 03:24] KrishnaG-MSFT commented on #49252
@kazshi I see the point now! Thanks for the clarification!
Assigning content owner @anirudhcavale for visibility, review and document enhancement consideration as appropriate.

[2020-03-02 03:26] ketan-chawda-msft commented on #49250
@Bartolomeus-649 Thank you for your feedback! We will review and provide an update as appropriate.

[2020-03-02 03:29] ketan-chawda-msft commented on #49251
@TenZeroOne Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2020-03-02 03:34] ketan-chawda-msft commented on #49253
@johanburati Thank you for your feedback! We will review and provide an update as appropriate.

[2020-03-02 03:37] ketan-chawda-msft commented on #49254
@loosus456 Thank you for your feedback! We will review and provide an update as appropriate.

[2020-03-02 03:44] CHEEKATLAPRADEEP-MSFT commented on #49204
@ross-p-smith  Hope you have self resolved and hence closed the issue. Thanks for the update.

[2020-03-02 03:50] tamram commented on #49250
@Bartolomeus-649 - Thanks for your feedback. Here are the answers to your question.

**Will code accessing the V1 storage continue to work without any modifications whatsoever?**

The API is completely independent of the account type, so yes.

**Are there any breaking changes in functionality, API or anything else between V1 and V2?**

V1 is no longer under active development, so many features tha

[2020-03-02 03:56] Samantha-Yu commented on #40204
@kazshi Thanks for the feedback. This doc has been refreshed to follow the latest UI. We will now proceed to close this thread.
(_Please open a new issue if you have follow up questions._)

[2020-03-02 03:57] Samantha-Yu commented on #40204
This article has been refreshed to follow the latest UI.
#please-close

[2020-03-02 03:57] #40204 closed

[2020-03-02 03:58] tamram commented on #49250
#reassign: @tamram

#please-close

[2020-03-02 03:58] #49250 closed

[2020-03-02 04:02] Samantha-Yu commented on #29986
@oramoss  Thanks for the feedback! This article has been refreshed to address the issue. We will now proceed to close this thread.
(Please open a new issue if you have follow up questions.)
#please-close

[2020-03-02 04:02] #29986 closed

[2020-03-02 04:07] Samantha-Yu commented on #46438
@AlaricSchenck Thanks for the feedback! This article has been refreshed to follow the latest UI. We will now proceed to close this thread.
_(Please open a new issue if you have follow up questions.)_

#please-close

[2020-03-02 04:07] #46438 closed

[2020-03-02 04:08] Samantha-Yu commented on #46220
@fraynie @Cornpuffs Thanks for the feedback! This article has been refreshed to follow the latest UI. We will now proceed to close this thread.
_(Please open a new issue if you have follow up questions.)_

#please-close

[2020-03-02 04:09] #46220 closed

[2020-03-02 04:11] Samantha-Yu commented on #22723
@marmightygood Thanks for the feedback! This article has been refreshed to follow the latest UI. We will now proceed to close this thread.
(Please open a new issue if you have follow up questions.)

#please-close

[2020-03-02 04:11] #22723 closed

[2020-03-02 04:19] SnehaAgrawal-MSFT commented on #49152
@alohaninja Since We didn’t hear back from you. We will now close this out but if you feel you need more information please just let us know.

[2020-03-02 04:19] #49152 closed

[2020-03-02 04:20] CHEEKATLAPRADEEP-MSFT commented on #48939
@sameh-sharaf
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-03-02 04:20] #48939 closed

[2020-03-02 04:20] SnehaAgrawal-MSFT commented on #49139
@danglund We will now close this out but if you feel you need more information please just let us know.

[2020-03-02 04:20] #49139 closed

[2020-03-02 04:21] piyumi25 opened #49257 "after approved the request still approval window is appeared for the users"
hi,

this is related to the issue I have pointed out last week

https://github.com/MicrosoftDocs/azure-docs/issues/48949#issue-571185834

The documentation I have followed is https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/configure-admin-consent-workflow

[2020-03-02 04:29] gpj1 commented on #49123
Thanks a lot @DashleenBhandari-MSFT. This is cool.

[2020-03-02 04:41] PramodValavala-MSFT commented on #49156
@roofiq Just following up here... Hope my previous comment clears things up.

[2020-03-02 04:46] DashleenBhandari-MSFT commented on #49123
@gpj1 , Thanks for your response. I will go ahead and close the issue.

[2020-03-02 04:46] #49123 closed

[2020-03-02 04:48] DashleenBhandari-MSFT commented on #49021
@okcerk , I will go ahead and close the issue for now. Please feel free to re-open if you need further assistance.

[2020-03-02 04:48] #49021 closed

[2020-03-02 04:50] DashleenBhandari-MSFT commented on #49016
@blmiles , I will go ahead and close the issue for now. Please feel free to re-open if you need further assistance.

[2020-03-02 04:50] #49016 closed

[2020-03-02 04:51] DashleenBhandari-MSFT commented on #48906
@jos1977 , Please let me know if you have further queries.

[2020-03-02 04:55] SnehaAgrawal-MSFT commented on #49036
@proguru Thanks for asking question! If I have understood right, you want to pass secrets as environment variables using ACI. Azure Container Instances supports secure values for both Windows and Linux containers.
You may refer to below doc link might be helpful:
 https://docs.microsoft.com/en-us/azure/container-instances/container-instances-environment-variables#secure-values

https://docs.micros

[2020-03-02 05:02] jakaruna-MSFT commented on #48900
@seanalexander Is there any update

[2020-03-02 05:02] SumanthMarigowda-MSFT commented on #48956
@Digiroka Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused. Your feedback has been shared with the content owner for further review.

[2020-03-02 05:02] souravmishra-msft commented on #49125
Closing this thread for now

[2020-03-02 05:02] #49125 closed

[2020-03-02 05:10] yury-romanov commented on #43262
We need this fixed too. Any changes?

[2020-03-02 05:17] PramodValavala-MSFT commented on #49207
@ShawnTalbert Looks like there is an open issue for this - Azure/azure-functions-nodejs-worker#169

There is a `Response` object that you can refer to but guess the `types` are not in place as of yet. As for the docs, the structure is [documented](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-node#http-triggers-and-bindings) but isn't complete. Please feel free to open

[2020-03-02 05:36] SumanthMarigowda-MSFT commented on #49066
@JuanKerr Enable standard file shares to span up to 100 TiB
By default, standard file shares can span only up to 5 TiB, although the share limit can be increased to 100 TiB. To do this, large file share feature must be enabled at the storage account-level. Premium storage accounts (FileStorage storage accounts) don't have the large file share feature flag as all premium file shares are already ena

[2020-03-02 05:54] AshokPeddakotla-MSFT commented on #49171
@Tam66662  I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-03-02 05:55] AshokPeddakotla-MSFT commented on #28387
We hope that answers you query. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-02 05:55] #28387 closed

[2020-03-02 06:13] KalyanChanumolu-MSFT commented on #49219
@gdalsnes Thank you for the feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2020-03-02 06:17] AshokPeddakotla-MSFT commented on #48700
@PeterTurcan  Thanks for confirming. There are no changes made to the code and it works as expected in the doc.

This would require further troubleshooting to find out the root cause of the issue. Please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Issue as well as your subscription ID

[2020-03-02 06:17] #48700 closed

[2020-03-02 06:18] SumanthMarigowda-MSFT commented on #49142
@alankinane  Can you provide more info on your query
Additional info: roles definitions are created in the Azure Active Directory tenant. You only set a scope when assigning the role, which is available at the group level.

I'd recommend posting your question in https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=windowsazuredata If it's not directly related to the documentation. We'll

[2020-03-02 06:20] SumanthMarigowda-MSFT commented on #49148
@cananac The new way will be https://docs.microsoft.com/en-us/azure/cdn/cdn-azure-diagnostic-logs. A menu named as “Diagnostic settings” will be added for this on public preview very soon Deprecation plan is not decided yet but we will announce when it’s ready in the future.

[2020-03-02 06:20] CHEEKATLAPRADEEP-MSFT commented on #49127
@meenaTrex Yes, TLS data transfer communication is done between Data Factory and Sql data warehouse. You don't require Integration Runtime for cloud scenario.

Security considerations in the following two data movement scenarios:

**Cloud scenario:** In this scenario, both your source and your destination are publicly accessible through the internet. These include managed cloud storage services su

[2020-03-02 06:30] SumanthMarigowda-MSFT commented on #49174
@mehdijalal Just for clarification: Have you referred to this article:[ Blob samples ](https://docs.microsoft.com/en-us/azure/storage/common/storage-samples-dotnet)

[2020-03-02 06:35] dcbrown16 commented on #19968
@Grace-MacJones-MSFT please reopen this to have the other stacks considered as reported. We had this come up in support for Python as well.

[2020-03-02 06:52] amanmcse commented on #49205
@bachoang Thanks for reaching out. I have assigned the issue to the author of the document to add information about the refresh token.

[2020-03-02 07:16] souravmishra-msft commented on #48946
@DLeXh, I apologize for the delay in my response on this. I would like to specify that, the first option "**I forgot my password**", this option doesnt have any description listed at all as this is selft explanatory in itself. The second option **"I know my password but still cant sign in"** has the description which remains constant.

Hope this helps.

[2020-03-02 07:31] linda33wj commented on #45384
@mwc360 Good catch and thanks for your feedback! We are making a change to by default use 2 DIUs instead of 4 for copy into Synapse via COPY cmd, which will behave the same as using PolyBase. Expect it taking effect in a week or so.

Related tip, if the default effective DIU number doesn't meet your requirement or expectation, you can always explicitly set it on Copy activity settings. Refer to ht

[2020-03-02 07:31] #45384 closed

[2020-03-02 07:32] meenaTrex commented on #49127
UnderData encryption in transit

If the cloud data store supports HTTPS or TLS, all data transfers between
data movement services in Data Factory and a cloud data store are via
secure channel HTTPS or TLS .

and Data warehouse doesn't support TLS data transfer, could you explain how
direct TLS data transfer is done between Data factory and Data warehouse.

On Mon, Mar 2, 2020 at 11:50 AM CHEEKATLA

[2020-03-02 07:33] PeterCLu commented on #48868
Thanks @likebupt

@pbartos , thanks for the report. Since this issue has been added to the engineering backlog, I shall proceed to close this issue, #please-close.  If you feel that your issue has not been resolved, please reopen the documentation issue and provide additional context. For product issues, contact technical support.

[2020-03-02 07:33] #48868 closed

[2020-03-02 07:37] linda33wj commented on #19220
Thanks for the feedback and sorry for the delay in response to the issue. The tutorial was updated a while ago to reflect the latest. With ADF GA version of SDKs, use QueryByPipelineRun instead of ListByPipelineRun to monitor pipeline activity runs, the later applies to preview version of SDK earlier. For details refer to "monitor a pipeline run" section.

#please-close

[2020-03-02 07:37] #19220 closed

[2020-03-02 07:42] neeleshray-msft commented on #49121
@trevonmckay Let us know if you have been able to resolve the issue or if you need further help on the same.

[2020-03-02 07:44] jos1977 commented on #48906
@DashleenBhandari-MSFT :

I checked the general text above for any requirements concerning App Service Linux and VNET integration and see the following :

- It only supports calls to RFC1918  and service endpoints. At the moment we use the 10.0.0.0 range for both the blob storage accound and the the app service so this should be okay.
- The app service must be in a S , V or V2 service plan. The ap

[2020-03-02 07:49] marcoNipo commented on #36458
We have been seeing the exact behavior @tjgalama has described and are also wondering where the file shares with the function packages are stored.

Our function apps also include a timer triggered function, so we specify the `AzureWebJobsStorage` setting as [suggested](https://docs.microsoft.com/en-us/azure/azure-functions/functions-app-settings#azurewebjobsstorage): we would have guessed/hoped th

[2020-03-02 07:51] nicolasevens opened #49258 "Missing service?"
I believe Data Factory should also be referenced on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72861cc1-7081-cf6e-b7f9-e700a16faa9a
* Version Independent ID: c870872d-0559-6b77-280f-f478e8c84776
* Content: [Managed identities for Azure resources](https://docs.microsoft.com/en-us/azure/active-directory/ma

[2020-03-02 07:59] amanmcse commented on #47021
@dinesh71 You can use "hsu=1" along with "login_hint=someone@your_tenant.onmicrosoft.com" parameters in the URL for this purpose.

[2020-03-02 08:01] KalyanChanumolu-MSFT commented on #48838
@kanshiG Could you please help here

[2020-03-02 08:46] KalyanChanumolu-MSFT commented on #48838
@zironsys We will not be able to troubleshoot the issue on your environment.
Request you to raise a support issue so that an engineer can work with you and help you with the issue.

[2020-03-02 09:12] cananac commented on #49148
Thank you very much for the reply @SumanthMarigowda-MSFT . How can I follow or get notified for the public preview?

[2020-03-02 09:26] michaelelleby opened #49259 "Escape arrays needs double brackets both opening and closing."
The manual states:
"To have a literal string start with a left bracket [ and end with a right bracket ], but not have it interpreted as an expression, add an extra bracket to start the string with [[." however that fails to deploy. When adding double closing brackets to the string, the deployment succeeds.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2020-03-02 09:38] eyast opened #49260 "Python 3.8 is actually supported"
Python 3.8 is actually supported. I've just create a function 2 minutes ago in East US and I confirm that I could select python 3.8 from the drop down menu

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04c9d43d-5bd2-87c6-2ccf-0c65ef193760
* Version Independent ID: 6bf46ebc-481f-e4ef-b269-99bf99434601
* Content: [Creat

[2020-03-02 09:41] ChristianEder opened #49261 "Offline installation of a specific version docs miss some important details"
The docs miss to point out that

- the releases hosted at https://github.com/Azure/azure-iotedge/releases also contain a .ps1 script file that has to be used intead of the one hosted at https://aka.ms/iotedge-win.

- The downloaded cab file has to be put in the folder specified as OfflineInstallationPath with a different name than it gets downloaded as. Name has to be "microsoft-azure-iotedge.cab"

[2020-03-02 09:46] Bartolomeus-649 commented on #48712
My question stands: How do you check for legacy authentication use with an Office 365 E3 subscription before you turn on MFA?

[2020-03-02 09:49] jpawlowski commented on #49024
We made some effort into putting this into a JSON database format already.
Latest public version can be found here as internal development and improvement continues:

https://github.com/jpawlowski/Azure-AD-Licensing-DB/

Idea is indeed to make this a collaborative action with the public community to create an always up-to-date.

Initial conversion we had:
https://github.com/MicrosoftDocs/azure-doc

[2020-03-02 09:49] SnehaAgrawal-MSFT commented on #49043
@jumppard Thanks for asking question! For app startup errors you may follow below document to diagnose errors when an app is deployed to Azure App Service.

You can run the app in the Kudu Remote Execution Console to discover the error: Open Advanced Tools in the Development Tools area. Select the Go→ button. The Kudu console opens in a new browser tab or window > open Debug console and select CMD

[2020-03-02 09:50] profesor79 opened #49263 "is that a typo?"
quote: "Data is collected on the SQL Server and forwarded to Log Analytics every seven days."
Is data retained on the server for 7 days before we can use it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4ca8348-d608-f3d1-ffa3-7eeec99375af
* Version Independent ID: 8ed5a7eb-ea93-2a4c-28bc-543041bd2c8d
* Content: [Opt

[2020-03-02 09:55] manzinge commented on #47947
@yoelhor Awesome, thank you!

[2020-03-02 09:55] kentmc opened #49264 "Issues after resetting existing service principal credentials"
By following this guide, I have resat the service principal credentials for 3 different Kubernetes clusters running in AKS. They had different sizes, VM types and were running different Kubernetes versions. After updating the clusters became unresponsive. I couldn't schedule new pods to run, update docker images for deployments, etc. That issue disappeared automatically after about an hour. After

[2020-03-02 09:56] sanderdekoning opened #49265 "No response to large request when mTLS client certificate is required"
Whenever I send a request (with or without attaching a client certificate) that has a multipart form containing a part that has a file as a value (tested with a file of size 3mb), Azure doesn't respond to the request nor does it forward it to the App service when I have `Require incoming certificate` switched on. The request goes indefinitely until the client times out the request. Is there a limi

[2020-03-02 10:00] AshokPeddakotla-MSFT commented on #49140
Adding author @shizn for further review and update the doc.

[2020-03-02 10:06] remcorakers commented on #42533
I'm missing how to add WAF exclusions to the WAF policy with ARM templates. Adding an exclusion manually via the Azure portal and then viewing the policy via https://resources.azure.com/ also don't display them in the output. Can you add an example?

[2020-03-02 10:25] andy-davies commented on #7705
@markjbrown Thanks for clearing that up!

[2020-03-02 10:35] OffColour commented on #42991
I've got the same problem. Connects to VPN but browsers have DNS failures to both internal and external addresses. NSLookup uses the local connection DNS and resolves names.
Simply can't connect to anything at all when the VPN is enabled.

[2020-03-02 10:54] AshokPeddakotla-MSFT commented on #48263
@mohibakhan Does that answers your question? Do let us know if you have further questions.

[2020-03-02 11:19] shashishailaj commented on #48974
@lnhzd Thank you for your feedback . This is indeed a miss on our side. The select_account parameter is a valid value for v2 endpoint as well. [Many other documents](https://docs.microsoft.com/en-us/azure/active-directory/azuread-dev/v1-protocols-oauth-code#request-an-authorization-code) were updated earlier. I have updated the current one to avoid any further confusion and included the select_acc

[2020-03-02 11:19] #48974 closed

[2020-03-02 11:29] fpintoG opened #49267 "t"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-03-02 12:20] diablodale opened #49268 "Needs instructions for projects (not just Windows-only Visual Studio projects)"
The how-to guide suggests in the left nav "Add Azure Kinect library to a project" yet this page only writes how to add to a Visual Studio project.
Since the SDK is cross-platform, a cross-platform how-to guide is needed.
* Add to VSCode
* Add to cmake, make
* Add from debian repository
* etc
Part of this info is at https://github.com/microsoft/Azure-Kinect-Sensor-SDK/blob/develop/docs/usage.md

--

[2020-03-02 12:32] anarii opened #49269 "NPS extension for Azure MFA enforces MFA if any StrongAuthenticationMethods configured"
Please include clarification that the NPS extension for Azure MFA will enforce MFA for users with any StrongAuthenticationMethods configured even if no MFA is enforced for the same user. This is relevant in e.g. situations where SSPR+MFA combined registration preview is being used, but only SSPR methods (without MFA) have been configured. If users have registered only for SSPR in this case and the

[2020-03-02 12:33] AshokPeddakotla-MSFT commented on #49261
@ChristianEder Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-03-02 12:37] AshokPeddakotla-MSFT commented on #48690
@mhussar Have you had a chance to see the above response? Can you please check and update?

[2020-03-02 12:41] msrini-MSFT commented on #49267
@fpintoG , Can you please provide more info on your issue and the link to the doc which you are referring to ?

[2020-03-02 12:41] jakaruna-MSFT commented on #49264
@kentmc
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-02 12:42] andybouts commented on #34470
I agree.  The workaround with the ARM template does not mean we don't need this functionality in the CLI, which will save quite a bit of time.  This should remain open so that the CLI is at parity with the UI and the workaround.

[2020-03-02 12:42] jakaruna-MSFT commented on #49264
@kentmc Did that issue occurred on all the clusters?

Let me know the versions of those clusters

@jluk please add your comments

[2020-03-02 12:43] Chahul opened #49270 "Cloud to device Step4 mentions installing Microsoft.Azure.Devices Nuget package but intends it will add Service.I think the package intended was Service Nuget."
Cloud to device Step4  mentions installing Microsoft.Azure.Devices Nuget package but intends it will add Service.I think the package intended was Service Nuget.Plese feedback.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba79df4d-c64b-7950-3ae9-6f28ea94409b
* Version Independent ID: 7ad0c568-0df2-3be8-f221-0fb846bf57

[2020-03-02 13:03] tomkuijsten opened #49271 "Is there a minimal RUs per (logical) partition key?"
There is a maximum nr of RU's per logical partition, is there also a minimum?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e00a0946-e2b2-9a5f-f823-fb1ab1a662ef
* Version Independent ID: 33e279f8-b757-048a-005b-b85392f9dfa2
* Content: [Azure Cosmos DB service quotas](https://docs.microsoft.com/en-us/azure/cosmos-db/co

[2020-03-02 13:04] fpintoG commented on #49267
Hi, seems like it is an authentication error, but still got access to the office suite using my account.

![office_error](https://user-images.githubusercontent.com/6885419/75678671-e7004780-5c6c-11ea-97e3-821ea788223e.PNG)

[2020-03-02 13:06] andreifloricel commented on #39201
Hi @hpsin , are there any changes regarding the CORS support? We need it for de code grant flow because the implicit grant flow does not provide the 'groups' claim.
According to this comment the CORS support whould be in progress: https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1000#issuecomment-576913366

[2020-03-02 13:08] dotnetgator opened #49272 "Missing values for SendClaimsIn option"
As shown in the example here: https://docs.microsoft.com/en-us/azure/active-directory-b2c/identity-provider-linkedin-custom?tabs=applications#obtain-an-email-address

There is an extra supported option for "SendClaimsIn" - URL.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6dff7a38-a459-4eb9-22fe-d225eeac5e34
* Versio

[2020-03-02 13:11] dotnetgator opened #49273 "Missing Metadata value for UseClaimAsBearerToken"
This is unusual, since it straddles the authentication discussion that currently sits pretty much entirely in the CryptogtraphicKeys section, except that cryptographic keys are completely uninvolved with this technique.

Per the documentation published at As shown in the example here: https://docs.microsoft.com/en-us/azure/active-directory-b2c/identity-provider-linkedin-custom?tabs=applications#ob

[2020-03-02 13:28] msrini-MSFT commented on #49257
@piyumi25  , Thank you for your feedback. We will investigate and get back to you shortly.

[2020-03-02 13:30] NavtejSaini-MSFT commented on #49060
@vanthoainguyen Please convey if the operations are back to the normal.

[2020-03-02 13:33] msrini-MSFT commented on #49267
Can you please provide the doc which you are using as reference?

[2020-03-02 13:35] audunsol commented on #35411
I had the same problem now. I verified that the image tag was correct by pulling it on my local machine without problems.
I had scripted the process for granting aks pull access to acr, something copy-pasted from some Microsoft documentation at some point (unfortunately I did not save the link):

[code]

When trying to find the docs back again now, I found this new command (to me at least) here:
h

[2020-03-02 13:46] hbiarge opened #49274 "Client app creation does not match with the instructions using Azure Portal"
Here we are creating a native-app for the client app, while in the Azure Portal, we create the client app as a web one.

If we create the application as a native-app, then we cannot add the necessary redirect uris for Azure Monitor.
And if we create the app as a web one and add the redirect uris for azure monitor, then we cannot enable the app as a public one, because the command `az ad app update

[2020-03-02 13:53] patrickmal commented on #44030
i have a problem i dont know how to make blobfuse persistent i tried nothing works

[2020-03-02 13:55] KalyanChanumolu-MSFT commented on #49120
@sharmapriya2201 [Soft delete](https://docs.microsoft.com/en-us/azure/key-vault/key-vault-ovw-soft-delete) functionality is not available from the Azure portal yet.
This document will be updated when the feature becomes available.

We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-03-02 13:55] #49120 closed

[2020-03-02 13:56] jethrovaneetvelde opened #49275 "Existing savedsearches return 409 when deployed again"
When deploying an arm template in Incremental everything works fine except for Microsoft.OperationalInsights/workspaces/savedSearches resources that already exist. Instead of skipping the resources it returns "The remote server returned an error: (409) Conflict." If I rename the resources to oldname2 it works as expected. To be specific, the resourcename, not the displayname.

---
#### Document De

[2020-03-02 13:58] trevonmckay commented on #49121
Yes, I was able to resolve. I found that if you need to change the credentials used for provisioning it has to be deleted first using the DELETE job method in Graph API. Trying to run Authorize again using the button in Azure portal will not replace the previously used credentials. It might be helpful to include that note in the documentation.

[2020-03-02 14:02] SwathiDhanwada-MSFT commented on #49259
@michaelelleby Thanks for your feedback and also for submitting PR request.
@mumian Kindly review PR and approve it accordingly.

[2020-03-02 14:03] SwathiDhanwada-MSFT commented on #49263
@profesor79Thanks for your comment. We are actively investigating and will get back to you shortly.

[2020-03-02 14:17] dotnetgator commented on #49272
Adding to using the SendClaimsIn=URL value:
- The resulting request verb is GET
- Allows you to specify a {claimName} syntax in the ServiceUrl metadata value, where {claimName} is an indicated PartnerClaimType for an InputClaim on the Technical Profile.

[code]
Where myClaimName has a value of "foo", results in a GET to https://some-root-url.com/foo/something

[2020-03-02 14:20] rssllptrs opened #49277 "Script incorrectly calculates size of container when Page Blob VHD snapshots Exist"
Looks like prior issue, #16217, concerning this issue was closed without this script being fixed.
For example, I have a container with 2 VHD files and added the following write-host line for debug to the script:
        $Blobs | ForEach-Object {
                $blobSize = Get-BlobBytes $_ $IsPremiumAccount
                write-host ("Detail: "+$_.name+" "+$blobSize)

Here is the script output wh

[2020-03-02 14:21] IEvangelist commented on #49255
Hi @oo2316oo,

Thank you for posting this issue and asking a great question. I have a communication open with several key stakeholders right now, currently investigating this a bit further. I'll report back my findings as soon as I hear something on my end.

[2020-03-02 14:34] Nimleth opened #49279 "Is this compatible with Azure Web Application Firewall?"
Hi,

Is using mTLS in the app service compatible with the WAF in AppGW and Front Door (in 'prevention mode')? If so, are there any special considerations to take into account?

Rgds,
Dennis

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb440603-950a-c224-f6c9-222ca502d5a5
* Version Independent ID: 0b5c4944-0327-91fc-2

[2020-03-02 14:34] webash opened #49280 "Require approved client app list out of sync"
The list of approved client apps should not be separately listed here, as it has got out of sync. Please just link to the master page here:
https://docs.microsoft.com/en-us/intune/apps/apps-supported-intune-apps#microsoft-apps

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd934939-4dbb-3a92-f996-56b9557f49ac
* Version

[2020-03-02 14:55] Kevin-at-MQ opened #49281 "block legacy authentication?"
The deprecated "Require MFA for admins (Preview)" baseline policy stated "This policy also blocks legacy authentication".  This is the page Microsoft referred us to for creating an equivalent policy, but legacy authentication is not mentioned on this page.  Can you add those requirements so it is truly "equivalent"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2020-03-02 15:03] phanikkm commented on #49255
Hello,

In this case, we simply rely on the Kubernetes out-of-the-box cpu based autoscaling, for more details refer to https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/#algorithm-details . We use our load tests to come up with the right set of thresholds and min-max. Kubernetes does support custom metrics for autoscaling. The custom metrics are almost always specific to th

[2020-03-02 15:12] BharathNimmala-MSFT commented on #49258
@nicolasevens Thank you for your feedback, our team will further look into it and get back to you at the earliest.

[2020-03-02 15:13] shalosi opened #49282 "Add RI purchase takes 24 hours to be updated in Azure Advisor"
Hello,

Please add RI purchases takes 24 hours to be updated in Azure Advisor

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b703202c-7c7d-7177-6496-d1c61dacf22b
* Version Independent ID: f9ee0bcc-f74a-dbba-c9b9-f84bf7b800a7
* Content: [Reduce service costs using Azure Advisor - Azure Advisor](https://docs.microsoft.co

[2020-03-02 15:13] BharathNimmala-MSFT commented on #49260
@eyast Thank you for your query, our team will further look into it and get back to you at the earliest.

[2020-03-02 15:24] IEvangelist commented on #49255
#please-close

[2020-03-02 15:24] #49255 closed

[2020-03-02 15:26] herecydev commented on #45225
Also after seeing this. Can we get an update please

[2020-03-02 15:30] CharmanderJieniJieni commented on #49166
Thanks, if that is the case, how can we secure privileged Service
Principals?

On Fri, Feb 28, 2020 at 6:48 PM SaurabhSharma-MSFT <notifications@github.com>
wrote:

[2020-03-02 15:33] dipinn26592 opened #49283 "Teams Bot is not responding in Channel, working in private chat"
I am new to Bot framework, and i am testing it with Microsoft Teams. I created a Bot and service from qnamaker.ai website. I have also linked it to Teams Channel, and created a app using app studio.

When asking question in 1-1 chat bot is responding however when doing chat in channel it says " No QnAMaker answers found ". any pointers to troubleshoot would be helpful . Thanks.

[2020-03-02 15:40] trailmax opened #49284 "Use new PS format"
With introduction of Az PowerShell module for Azure the syntax have changed to be `New-AzAutomationSourceControl`. It would be nice to spell that out.
Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83c90e64-b615-711f-a53d-fc76606e2ecd
* Version Independent ID: 2d164036-6886-4440-50f7-369f99f41cea
* Content: [So

[2020-03-02 15:44] mmacy commented on #45852
@Norrch2 Looks like @MarileeTurscak-MSFT's PR was never merged. I'll pull her change into another PR - thanks for the bump.

[2020-03-02 15:52] jakaruna-MSFT commented on #48900
@seanalexander
I will close this out for now. If you need additional help please open a new issue

[2020-03-02 15:52] #48900 closed

[2020-03-02 15:53] jakaruna-MSFT commented on #48853
@Jayesh040 I will close this out for now. If you need additional help please open a new issue

[2020-03-02 15:53] #48853 closed

[2020-03-02 15:53] jakaruna-MSFT commented on #48801
@CesarSolis I will close this out for now. If you need additional help please open a new issue

[2020-03-02 15:53] #48801 closed

[2020-03-02 16:00] petkit opened #49285 "Specify correct path to 'Always on'"
The setting 'Always on' is currently found under Configuration -&gt; General settings.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e26e5a4-7b72-ba7e-cfed-e31a4a8aaef9
* Version Independent ID: dc783fe3-bd1a-c25e-2b92-903595c0822e
* Content: [Application performance FAQs - Azure App Service](https://docs.microsoft.c

[2020-03-02 16:00] shawnweisfeld opened #49286 "SSL/TLS Link returns 404"
this page is linked to from this doc, and returns a 404 https://support.microsoft.com/en-us/help/257591

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21d33e8b-89ac-eecf-f926-263491a223af
* Version Independent ID: 9899274d-7495-b9f7-6740-c30fc376d56d
* Content: [Data security and encryption best practices - Microsoft A

[2020-03-02 16:02] hpsin commented on #39201
Yes, it's in progress. That issue will be resolved when we finish the CORS/code grant work. We're finishing up some last pieces here, but we don't have a date to share at this time.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Andrei Floricel <notifications@github.com>
Sent: Monday, March 2, 2020 5:06:45 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply

[2020-03-02 16:07] muecke36 commented on #20701
Any news on this? This is really needed!

[2020-03-02 16:10] mmacy commented on #45852
@Norrch2 PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/106161 has been merged, update should go live after 10AM publish.

[2020-03-02 16:17] TerryLanfear commented on #49286
@shawnweisfeld - Thank you for the feedback! The link is being fixed now.

[2020-03-02 16:18] rogerbramon opened #49287 "Regional VNET integration still in preview on Azure Portal"
Hi,
Going to the Networking UI in Azure Portal I still see the Vnet Integration in preview, all screenshots don't apply. Following the blog post of @ccompy (https://azure.github.io/AppService/2020/02/27/General-Availability-of-VNet-Integration-with-Windows-Web-Apps.html) I assume that it's already GA. However, having Azure Portal still showing preview doesn't give us enough confidence. Can you ple

[2020-03-02 16:33] devudu opened #49289 "Data Reader or Data Contributor role is a must when accessing using AD"
It is not properly highlighted the importance of Data Reader/Contributor role for accessing the storage account. We struggled so much assuming Contributor role super seeds this role and it may not be necessary to have the additional role assigned to access the storage account.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-03-02 16:36] code-vega opened #49290 "Guest on directory where VM was created. How can I access this VM using Azure AD?"
There are two directories in my account. One has all the users and the other has all the resources, including the VM I am trying to connect to. I can connect using the local admin credentials but can't login using my Azure AD credentials because my PC is technically not on the same directory as the VM. How can I switch to a directory where I am a guest on windows 10? or what other options do I hav

[2020-03-02 16:48] FrankHu-MSFT commented on #49090
single logout is doing the redirect per your initial post. Remember that the access tokens are not invalidated. See here : https://social.msdn.microsoft.com/Forums/en-US/1a959be2-36eb-4099-a607-8f8f4e52665e/azure-ad-b2c-signout-not-working?forum=WindowsAzureAD

If this is not your expected case scenario please submit it against the b2c feedback forums and someone will engage accoridngly.

that bei

[2020-03-02 16:48] #49095 closed

[2020-03-02 16:57] ItrisTF opened #49292 "Incorrect information on the site"
On the site it is listed that older *office* clients not supporting modern authentication isn't supported anymore:

Older Office clients that don't use modern authentication (for example, an Office 2010 client).
Any client that uses older mail protocols such as IMAP, SMTP, or POP3.

However, it is not just office. Users using Android with an older GMAIL version (not supporting modern authenticatio

[2020-03-02 17:05] Bluhmanman opened #49293 "Optional client secret credentials for AppConfig resources with both secret and non-secret values."
Hello, I'm trying to put an Azure App Config resource into my service-fabric application, with only certain parts of my app needing specific secret values. As a result I want to make it so that I can optionally apply secret-client-credential fetching parameters to the Application Configuration helper I'm creating.

The problem is that when I attempt to do this and create an Azure App Configuration

[2020-03-02 17:06] cijothomas commented on #48379
Entire Azure functions is special case, and only Azure functions doc should be referred. I guess every app insights docs should be modified to say "n/a to azure functions" or call out the exact difference.

[2020-03-02 17:06] philmea commented on #25751
#reassign:farah-alyasari

[2020-03-02 17:07] philmea commented on #39110
#reassign:farah-alyasari

[2020-03-02 17:07] philmea commented on #39671
#reassign:farah-alyasari

[2020-03-02 17:07] philmea commented on #43518
#reassign:farah-alyasari

[2020-03-02 17:09] emily-curry commented on #39901
Does this same concept apply to service bus libraries in other languages? Since this article is in the "Concepts" section I assume the advice is platform-agnostic, but so many references are made to .NET code that it's difficult to tell whether these suggestions apply to other client libraries.

[2020-03-02 17:14] TheAzureGuy007 commented on #23789
Do we have any fix for this or its just RBAC enabled AKS cluster tenant need to go through hacks only ?

[2020-03-02 17:16] achakilam1022 commented on #49008
This was due to SSL issues with aks. Fixed now.

[2020-03-02 17:16] #49008 closed

[2020-03-02 17:29] Bluhmanman commented on #49293
After a bit more investigation I've found two possible ways to side-step the issue:

1. **Label or Name my secret values in the AAC** - I found out about an option in the documentation for the AAC there is the configuration setting to do a 'Select'. I'd imagine if I prepended a naming convention to my secret values or a label, I'd be able to single-out the secret values to avoid having the instanc

[2020-03-02 17:44] SaurabhSharma-MSFT commented on #49283
To assist you better on your query could you provide us with the link to the document you are referring to ?
In case your query in not related to document content, open a new forum thread in MSDN, Q&A or StackOverflow as it could be better place to get help on your scenario where the community members could provide their expert guidance to you based on their experience.

[2020-03-02 17:45] #49246 closed

[2020-03-02 17:45] hpsin commented on #49205
Hey Bac - refresh tokens are just opaque strings per the OAuth2 spec (technically encrypted JWTs for now but that's immaterial to a 3rd party app).  RT sizes do change, without warning, and we can't make guarantees around it. Using the refresh token is also governed by the spec, but I like the suggestion that we collect our details on refresh token usage in another doc.  I'll look into adding one

[2020-03-02 17:48] SaurabhSharma-MSFT commented on #49265
@sanderdekoning To assist you better on your query could you provide us with the link to the document you are referring to ?
In case your query in not related to document content, open a new forum thread either MSDN, Q&A or StackOverflow as it could be better place to get help on your scenario where the community members could provide their expert guidance to you based on their experience.

[2020-03-02 17:53] cynthn commented on #34470
@mimckitt Is there a good place to file an feature request for this?

[2020-03-02 17:57] tfitzmac commented on #49256
@snesbitt76 - thanks for your feedback. The product team is aware of the need to fix this requirement and working on a solution.

[2020-03-02 17:57] tfitzmac commented on #49256
#please-close

[2020-03-02 17:57] #49256 closed

[2020-03-02 18:00] SamaraSoucy-MSFT commented on #49293
@Bluhmanman Thank you for your question. I will take a look and see if I can find any other options for you.

Using labels or naming conventions would be the most common way to deal with this, but I understand your concern about making sure everyone follows conventions.

[2020-03-02 18:05] lVlario0O0o opened #49295 "Table not defined"
When I run the stream job, I get an error saying that the input table is not defined.

Test for the input and output works fine.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9028ffb4-d3fb-e5ee-3e3f-fe3d7db65f04
* Version Independent ID: 173bbf71-a44b-0864-b43d-a6b580bba03f
* Content: [Quickstart - Create a Stream Ana

[2020-03-02 18:06] MicrosoftGuyJFlo commented on #49212
That would not be covered in this area. This topic is a template of a policy we see many organizations deploying. You are looking for what would be covered under [managed identities](https://docs.microsoft.com/azure/active-directory/managed-identities-azure-resources/overview).

[2020-03-02 18:06] MicrosoftGuyJFlo commented on #49212
#please-close

[2020-03-02 18:06] #49212 closed

[2020-03-02 18:06] Markiebofficial commented on #46620
Need a fix for this, please. MFA is core to all access. Please update or provide work around.

[2020-03-02 18:06] SumanthMarigowda-MSFT commented on #49277
@rssllptrs Thanks for your question. We are checking on this and will respond to you soon.

[2020-03-02 18:06] tfitzmac commented on #49259
@michaelelleby - can you provide more context about how you are using the expression? For literals, the extra closing bracket does not work. For example, this template:

{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {},
    "variables": {
        "demoVar1": "[[test value]]"
    },
    "resourc

[2020-03-02 18:07] Mike-Ubezzi-MSFT commented on #48990
@sonalinoolkar Can you please ask this question on the [MSDN Forum](https://social.msdn.microsoft.com/Forums/en-US/home?forum=ssdsgetstarted&filter=alltypes&sort=lastpostdesc) or [Stack Overflow Forum](https://stackoverflow.com/questions/tagged/azure-sql-managed-instance). The content team is looking for documentation specific feedback where this question is better asked in the forums. If there sh

[2020-03-02 18:12] seanralexander commented on #48900
Just checked this morning. It worked! Thank you!

[2020-03-02 18:14] SaurabhSharma-MSFT commented on #49166
@CharmanderJieniJieni sorry, but what do you mean by securing privileged Service Principals ?

[2020-03-02 18:14] SaurabhSharma-MSFT commented on #49069
@chrisoc5 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-03-02 18:14] #49069 closed

[2020-03-02 18:16] simonzhai97 commented on #49090
"Single Signout" means signout from website1 will also signout from website2. As you said "the access tokens are not invalidated", so it can't be true for ShashiShailaj's comment of "if you are using local accounts from within your Azure AD B2C directory , you would be able to do a complete sign-out", correct?

[2020-03-02 18:17] vhorne commented on #49132
#reassign:surajmb
@surajmb, can you fix your diagram?

[2020-03-02 18:18] SaurabhSharma-MSFT commented on #48712
@Bartolomeus-649 I do not think you can check that however, I will check this with the product team internally and let you know over here.

[2020-03-02 18:19] MicrosoftGuyJFlo commented on #42826
Requesting input from the Product Group #assign @MicrosoftGuyJFlo

[2020-03-02 18:21] mike-urnun-msft commented on #48992
@timgriff84 Since we haven't heard back, we will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-03-02 18:21] #48992 closed

[2020-03-02 18:23] Grace-MacJones-MSFT commented on #49279
Hi @Nimleth, Thank you for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

[2020-03-02 18:27] svengeance opened #49296 "Confusing SDK versions and breaking changes"
I recently upgraded SDK from 11 to 12 and followed the guide here on how to make the appropriate changes. Here are some of the difficulties encountered along the way:

* https://i.imgur.com/7O47Ijb.png - There is unobvious duplication happening here with different resources for SDK versions that vary without informing you.
* SEO for this page supersedes that of the v12 SDK, meaning anyone who down

[2020-03-02 18:29] grusin commented on #49150
are there any updated on this?

[2020-03-02 18:30] jspiersvalorem commented on #48670
Thank you Dhiraj! The issue was resolved when we tried out location ID.

Best,
Julia

Julia Spiers
Marketing & Alliance Coordinator

Valorem Reply
phone: +1 (816) 406-1827
mobile: +1 (573) 673-4266

From: Dhiraj Gandhi <notifications@github.com>
Sent: Saturday, February 29, 2020 9:58 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Julia Spiers <jspiers@valorem.com>; Mention <me

[2020-03-02 18:34] ggailey777 commented on #46782
#reassign:ggailey777

[2020-03-02 18:35] Grace-MacJones-MSFT commented on #49285
Hi @petkit, Thanks for the feedback. We will update this doc shortly.

[2020-03-02 18:36] #49292 closed

[2020-03-02 18:41] BryanTrach-MSFT commented on #49287
@rogerbramon Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-02 18:51] FrankHu-MSFT commented on #49090
@simonzhai97 there is a miscommunication regarding the words "complete sign-out". it's not complete in the sense that tokens are invalidated,

[2020-03-02 18:56] jslucas commented on #28805
I'm still experiencing this issue. According to these docs it should be possible, however CosmosDB is still denying the requests.

https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-configure-vnet-service-endpoint

[2020-03-02 19:01] MicrosoftGuyJFlo commented on #49281
See the parent of this article [Common Conditional Access policies](https://docs.microsoft.com/azure/active-directory/conditional-access/concept-conditional-access-policy-common) it links to the policies that you are looking for to block legacy authentication. #please-close

[2020-03-02 19:01] #49281 closed

[2020-03-02 19:02] ecfan commented on #47142
@PramodValavala-MSFT: #please-close

[2020-03-02 19:02] #47142 closed

[2020-03-02 19:03] #46782 closed

[2020-03-02 19:03] rasavant-ms commented on #48274
@taromielnaz - Running 'terraform apply' in a directory with multiple .tf files will cause terraform to merge all those files and then execute them. If you want to make sure that certain resources or files are executed after others, you can add a dependency configuration to the resource group.
This link has more information and examples - https://marcelzehner.ch/2018/05/22/terraform-using-multiple

[2020-03-02 19:04] KranthiPakala-MSFT commented on #48886
@Zongrenfeng Thanks for the feedback. We have assigned the issue to the content author. They will evaluate and update the document as appropriate.

[2020-03-02 19:08] SaurabhSharma-MSFT commented on #49269
@anarii Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-03-02 19:08] yoelhor commented on #49272
This feature and another one related to the dynamic service Url is in public/private preview. We'll document it later this year.

#please-close

[2020-03-02 19:08] #49272 closed

[2020-03-02 19:08] KranthiPakala-MSFT commented on #49295
@lVlario0O0o
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2020-03-02 19:09] qianw211 commented on #43973
Hi @santhoshbomma9, I have forwarded your question to the engineering team, and here is their response:

"Subscription is activated by ISV, it should be done within 30 days from the event of purchase. But we have no control when the ISV makes this call."

Hope this helps to clarify the situation...

[2020-03-02 19:09] dotnetgator commented on #49272
Thank you @yoelhor - should the other document be updated then to indicate it is using Preview features?

[2020-03-02 19:10] SaurabhSharma-MSFT commented on #49273
@dotnetgator Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-02 19:12] SaurabhSharma-MSFT commented on #49289
@devudu Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-03-02 19:12] markgar opened #49298 "Secure an HTTP endpoint in production"
I'd like to suggest that a new scenario should be accounted for here.  The new API Management Consumption plan doesn't have a static IP address to use in a IP ACL.  It makes sense to use the Function Access Keys in this scenario to ensure that traffic can only come from APIM.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-03-02 19:12] yoelhor commented on #49273
We have such a feature in private preview. If you need to send a bearer token based on a claim value, please email me, and I'll send you the how to guidance.

#please-close

[2020-03-02 19:12] #49273 closed

[2020-03-02 19:13] theheatDK opened #49299 "How to query activity logs in a Storage account?"
Hi,
If you send activity logs to a log analytics workspace you can use kusto queries to analyse the logs. Are there any tools that will help you with queries in storage accounts?
Regards Peter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8350b5be-45d4-cd5b-48eb-a65da3fa596b
* Version Independent ID: 4ab6dc81-aa30-2a0

[2020-03-02 19:13] dotnetgator commented on #49273
@yoelhor It is not in Private preview - it is publicly documented in another page, with no indication there that this is not RTM/Supported functionality.

[2020-03-02 19:14] SaurabhSharma-MSFT commented on #49290
@code-vega Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-02 19:15] #49162 closed

[2020-03-02 19:15] SaurabhSharma-MSFT commented on #49286
@shawnweisfeld Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-03-02 19:16] SaurabhSharma-MSFT commented on #49280
@webash Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-03-02 19:17] nalhemyariirexorg opened #49300 "need a way to be notified when a new version comes up"
whether rss/email, admin center, we need a way to know when a new version comes up so we prepare for it, just like when you want to deprecate older versions, we need time to test and validate

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57f5478b-3132-21d0-a420-a1140db235de
* Version Independent ID: 266bbd16-2117-f680

[2020-03-02 19:20] SaurabhSharma-MSFT commented on #49258
@nicolasevens The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2020-03-02 19:20] #49258 closed

[2020-03-02 19:20] gavinkendall opened #49301 "The name 'firstspellCheckResult' does not exist in the current context"
I get the feeling that this line of code ...
`var firstspellCheckResult = result.Body.FlaggedTokens.FirstOrDefault();`
... should come before the `if (firstspellCheckResult != null)` check because, as it is now, the variable `firstspellCheckResult` is not declared and therefore needs to be resolved before being used by the `if` statement.

---
#### Document Details

⚠ *Do not edit this section. It

[2020-03-02 19:22] normesta commented on #48527
Thanks @Ayanmullick for clarifying. Looks like your just using straight blob storage (not static website). for example, your URL is ayn.**blob**.core.windows.net.  You'll need to create a static website to ensure that the contents of your markdown file appear in the browser.  After you create a static website, your URL will be something like ayn.z22.**web**.core.windows.net/. If your just using st

[2020-03-02 19:23] normesta commented on #48527
#please-close

[2020-03-02 19:23] #48527 closed

[2020-03-02 19:26] normesta commented on #49063
Thank you @twooley. @duarte-ribeirinho I've corrected the link. Thank you for bringing this to our attention. The fix should appear shortly. Thx again.

[2020-03-02 19:26] normesta commented on #49063
#please-close

[2020-03-02 19:26] #49063 closed

[2020-03-02 19:27] mimckitt commented on #34470
For feature requests related to CLI please open a suggestion here: https://github.com/Azure/azure-cli/labels/Feature%20Request

[2020-03-02 19:31] jmanyoma opened #49302 "Deployment Template"
Are there any readily available function deployment templates to scale/pause/resume analysis services?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 228988d8-beaf-9bb1-efae-c2c25130b525
* Version Independent ID: 8c714c20-60f3-dd75-5ba9-a66d17410685
* Content: [Tutorial: Manage compute with Azure Functions - Azure SQL

[2020-03-02 19:37] Mike-Ubezzi-MSFT commented on #49201
@mslot The content team has reached out to me with some more concise information:

•	Billing is based on number vcores provisioned for the elastic pool.
•	Billing is based on amount storage provisioned for the elastic pool.
•	If the backup storage amount exceeds the amount of storage provisioned, then the additional backup storage usage is billed.
•	Storage due to long term data retention is bille

[2020-03-02 19:40] mlathara opened #49303 "DBFS accessing mounted storage through local file API"
Hello,

Not sure if this is the right place for this question, but I'm having some issues accessing Azure storage account mounted on DBFS. I'm accessing the storage account using local file api (i.e., something like "/dbfs/mnt/....").

This route seems to work fine when I'm using a General-purpose V2 account and mount using the instructions for ADLS Gen2. However, when I try using a premium BlockB

[2020-03-02 19:44] MarileeTurscak-MSFT commented on #49300
@nalhemyariirexorg
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-02 19:45] Grace-MacJones-MSFT commented on #19968
@dcbrown16 i have reopened the issue.

[2020-03-02 19:45] Kevin-at-MQ commented on #49281
The following two conditional access policies (if set up according to Microsoft’s documentation) are NOT the equivalent of the Require MFA for Admins Baseline policy.  The users and groups aren’t even the same.  I’m sure I can figure out how to modify them to accomplish the intended result, but It’s irresponsible to tell people they are the same.

Require MFA for administrators<https://docs.micros

[2020-03-02 19:46] mmacy commented on #44943
#reassign:msmimart

[2020-03-02 19:50] mmacy commented on #46392
#reassign:msmimart

[2020-03-02 19:50] shashishailaj commented on #48858
@sebhe [Security Center analyzes the security state of our resources](https://docs.microsoft.com/en-us/azure/security-center/security-center-using-recommendations) to identify potential vulnerabilities and accordingly creates recommendations for us. It automatically runs periodic scans to analyze the security state of Azure resources. When Security Center identifies potential security vulnerabilit

[2020-03-02 19:50] #48858 closed

[2020-03-02 19:51] MarileeTurscak-MSFT commented on #49300
This would be a good feature request to make, as I don't think there's anything out of the box in place for this at the moment. You can request this in User Voice.
https://feedback.azure.com/forums/169401-azure-active-directory

Other than setting up a script to alert you when this page is updated, right now I think you can only install automatic updates or manually keep track of the version histo

[2020-03-02 19:51] #49300 closed

[2020-03-02 19:51] mmacy commented on #47995
@yoelhor do you have details on these PhoneFactorProtocolProvider details?

[2020-03-02 19:52] shashishailaj commented on #48913
@memildin Could you please review this issue and provide your inputs on this one ?

[2020-03-02 19:52] mmacy commented on #48729
@yoelhor Another one we're looking for details on.

[2020-03-02 20:01] IEvangelist commented on #49011
Could you please confirm the subscription level that your resource was created under. On the **Overview** page of the Speech resource, the **Pricing tier:** should be **Standard**.

[2020-03-02 20:05] JohnGalt1717 commented on #47187
@patrickgalbraith Thanks. Yes, it's available now because it's released. The problem is going forward there needs to be a plan for betas etc. on Linux. Every other platform uses NPM for this reason because you can target the version you want.

[2020-03-02 20:05] DCtheGeek commented on #49052
@squ94wk I followed up with the engineer.  The sample in docs is correct, it should be `properties.description`. We are looking into why the Swagger to Docs generated incorrectly and will work with that team to correct it.  Thanks for pointing this out!

[2020-03-02 20:14] #49280 closed

[2020-03-02 20:29] normesta commented on #19261
Sounds like some decent workarounds! Yes, there's no way to configure headers as part of the static website feature. However, you can use Azure CDN to add headers and append (or overwrite) header values. You'd set up rules with actions in them. Here's a link - [Standard rules engine reference for Azure CDN](https://docs.microsoft.com/azure/cdn/cdn-standard-rules-engine-reference). I added this to

[2020-03-02 20:29] normesta commented on #19261
#please-close

[2020-03-02 20:29] #19261 closed

[2020-03-02 20:29] vanthoainguyen commented on #49060
@NavtejSaini-MSFT I deleted 2 default indexes as suggested **DocumentDBDefaultIndex_1** and **DocumentDBDefaultIndex_** but something is probably corrupted. It's been 2 days & the collection is still not accessible or timeout when lookup by **{_id: number}**. 🤦

[2020-03-02 20:30] BrianLevenson commented on #48884
Just following up to confirm that the SaaS article has been updated to clarify character limits include markup and the medium image requirement. The Eng team has a work item to correct the error message color as well.

[2020-03-02 20:31] normesta commented on #40235
Hi @avantida. There's no way to configure headers (such as No-Cache) as part of the static website feature. However, you can use Azure CDN to add headers and append (or overwrite) header values. See [Standard rules engine reference for Azure CDN](https://docs.microsoft.com/azure/cdn/cdn-standard-rules-engine-reference). If you want to use headers to control caching, try this article [Control Azure

[2020-03-02 20:32] normesta commented on #40235
#please-close

[2020-03-02 20:32] #40235 closed

[2020-03-02 20:33] MarileeTurscak-MSFT commented on #48791
Hi @arcotek-ltd ,

I hope this helped answer your question! If you would like to leave this as product feedback you can add it here: https://docs.microsoft.com/answers/topics/azure-active-directory.html?filter=unanswered

[2020-03-02 20:33] #48791 closed

[2020-03-02 20:34] igorjnz commented on #49119
Hi @SubhashVasarapu-MSFT , any update on this one?

[2020-03-02 20:47] sharmapriya2201 commented on #49120
This functionality is available in azure portal , i myself have used it.

[2020-03-02 20:52] thdotnet opened #49308 "H264Layer - not respecting video resolution"
Hi,

I'm following the sample below to create new videos, but it's not respecting the resolutions I'm providing:

new H264Layer (
                                    bitrate: 1000000, // Units are in bits per second
                                    width: "1080",
                                    height: "720",
                                    label: "HD" // This label is used to modify th

[2020-03-02 20:53] simonzhai97 commented on #49090
Thanks @FrankHu-MSFT , indeed I misunderstood the comment. I will upvote the feature request.

[2020-03-02 20:54] CharmanderJieniJieni commented on #49166
Azure PIM is good for privileged User and Group identities, we have service
principals with administrative privileges for automation purposes. How do
we enable PIM for them?

On Mon, Mar 2, 2020 at 1:14 PM SaurabhSharma-MSFT <notifications@github.com>
wrote:

[2020-03-02 20:55] bandersmsft commented on #48984
@A-M-D Thanks very much for pointing this out. I'll get it fixed ASAP.

[2020-03-02 20:59] anzaman commented on #47909
The pull request will be merged today.

[2020-03-02 21:00] anzaman commented on #47909
#please-close

[2020-03-02 21:00] #47909 closed

[2020-03-02 21:00] mslot commented on #49201
That is awesome! Thanks a bunch @Mike-Ubezzi-MSFT.

[2020-03-02 21:01] sven73a commented on #48401
Although the issue is closed. I found a solution, thanks to an answer on Stackoverflow:
https://stackoverflow.com/questions/60315578/user-assigned-identities-with-app-service-and-azure-sql-does-that-work

Solution is:

[2020-03-02 21:07] taromielnaz commented on #48274
I read the link, actually, it says Terraform merges the files, configuration, and variable. I mean if I upload file1 then execute it, then upload file2 and execute it as well, everything works fine. Imagin in Azure cloud shell I upload multiple files when I run "terraform apply" which file will be run?

[2020-03-02 21:08] MarileeTurscak-MSFT commented on #49099
Thanks @thejrack ! I made a PR to add a step for this. If you or @jeevansd think anything else should be added feel free to make any additions.

[2020-03-02 21:08] #49099 closed

[2020-03-02 21:16] Ayanmullick commented on #48527
@normesta , Funny, your page loads. Mine doesn't, even thru static site link. I'll talk to support.

https://ayn.z13.web.core.windows.net/HelloMarkdown.md

[2020-03-02 21:18] Mike-Ubezzi-MSFT commented on #48963
@onkarthg Was that information helpful? Are you looking for user authentication by chance, or are you looking for [Data Encryption](https://docs.microsoft.com/en-us/azure/postgresql/concepts-data-encryption-postgresql)? In the data encryption scenario, the customer provided key is stored in Azure Key Vault. You have made reference to some documentation but not shared a link. I am going to move to

[2020-03-02 21:18] #48963 closed

[2020-03-02 21:26] Mike-Ubezzi-MSFT commented on #49201
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-03-02 21:26] #49201 closed

[2020-03-02 21:34] HemanK opened #49309 "Latest Best Practices for ADLS Gen 2"
Hi, I am looking for the latest updates on the Best Practices around storage and consumption/usage for ADLS Gen 2 , both from a performance and cost perspective. Does this page represent the latest info from Microsoft on this? Unfortunately the page only shows the date when it was created., but I believe the service went live only in 2019 and there have been some updates to the ADLS Gen 2 service

[2020-03-02 21:41] bandersmsft commented on #44091
@shalosi I've updated various Cost Management articles (and the one you opened the issue against) to say something along the lines of "If you have a new subscription, you can’t immediately use Cost Management features. It might take up to 48 hours before you can use all Cost Management features."
Updated with https://github.com/MicrosoftDocs/azure-docs-pr/pull/106224

Thanks for bringing this to o

[2020-03-02 21:41] #44091 closed

[2020-03-02 21:41] MicrosoftGuyJFlo commented on #49281
@Kevin-at-MQ Please follow up with me via email (in my profile). I dont know what is not the same? The list of admin roles was taken directly from the code for baselines.

[2020-03-02 21:46] BharathNimmala-MSFT commented on #49284
@trailmax Thank you for your feedback, we will further look into it and get back to you at the earliest.

[2020-03-02 21:46] MarileeTurscak-MSFT commented on #49059
It should just be the homepage URL. https://docs.microsoft.com/en-us/powerapps/maker/portals/configure/configure-ws-federation-settings

Are you just looking for the field name to extract? That should just be signOnUrl if I'm understanding your question correctly.

If I misunderstood you or if you have further questions feel free to reach out to me on [Q&A](https://docs.microsoft.com/answers/topic

[2020-03-02 21:46] #49059 closed

[2020-03-02 21:46] zr-msft commented on #32604
Thank you for the feedback @jjindrich and @RicardoNiepel

I've updated the content to reflect this information and it should be live soon.

#please-close

[2020-03-02 21:46] #32604 closed

[2020-03-02 21:47] BharathNimmala-MSFT commented on #49299
@theheatDK Thank you for your query, we will look into it and get back to you at the earliest.

[2020-03-02 21:48] Mike-Ubezzi-MSFT commented on #48990
@sonalinoolkar Additionally, can you take a screen capture that details the action you are attempting within SSMS, or are you simply attempting to connect to the SQL Server instance? The [Troubleshooting Connectivity Issues](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-managed-instance-connect-app?source=docs#troubleshooting-connectivity-issues) section details the following:

[2020-03-02 21:48] BharathNimmala-MSFT commented on #49275
@jethrovaneetvelde Thank you for your query, we will further look into it and get back to you at the earliest.

[2020-03-02 21:49] SaurabhSharma-MSFT commented on #49166
@CharmanderJieniJieni sorry, this is not supported.  I suggest you to please post this as a feedback at [UserVoice](https://feedback.azure.com/forums/169401-azure-active-directory). This will allow the community to upvote and for the product team to include into their plans. "This Product" button in at the bottom section of the document now to take you directly to the appropriate feedback page.

[2020-03-02 21:49] BharathNimmala-MSFT commented on #49282
@shalosi Thank you for your feedback, we will further look into it and get back to you at the earliest.

[2020-03-02 21:51] bandersmsft commented on #48537
Investigating with the enginnering team.
#in-process

[2020-03-02 21:52] bandersmsft commented on #48984
Updated with https://github.com/MicrosoftDocs/azure-docs-pr/pull/106236
#please-close

[2020-03-02 21:52] #48984 closed

[2020-03-02 21:58] normesta commented on #48527
@Alanmullick - Ug. Sorry. Yes please do work with support and I'd love it if you could post back to this issue if this article is missing a key piece of guidance or hint that could save others from this. BTW, I uploaded your file to my endpoint and it renders correctly - https://normestablobaccount.z22.web.core.windows.net/HelloMarkdown.md so something strange is happening there. It's possible tha

[2020-03-02 21:59] audunsol commented on #35411
OK. Found my error: The service principal had expired 🤦‍♂ (I wasn't aware/paying attention of the one year expiration time). Now that I know, I can also see it from the logs on the AKS resource in the Azure Portal.

To fix it, I followed the instructions here https://docs.microsoft.com/en-us/azure/aks/update-credentials

Sorry about the noise, and hope this may help someone else landing on this pa

[2020-03-02 22:10] CharmanderJieniJieni commented on #49166
Thanks, just one more question, Azure AD administrative roles are all
privileged roles, can those be assigned to Service Principals?

On Mon, Mar 2, 2020 at 4:49 PM SaurabhSharma-MSFT <notifications@github.com>
wrote:

[2020-03-02 22:13] robertlagrant commented on #49101
@jakaruna-MSFT well, ideally I'd like a VM with VS 2017 Professional already installed, that I can just put my licence key into.

[2020-03-02 22:15] MicrosoftGuyJFlo commented on #48712
Office subscriptions only support the [per-user enable/enforce method](https://docs.microsoft.com/azure/active-directory/authentication/howto-mfa-userstates) of turning on MFA and then using [App Passwords](https://docs.microsoft.com/azure/active-directory/authentication/concept-authentication-methods#app-passwords) for legacy authentication.

Conditional Access policies and the enhanced reporting

[2020-03-02 22:45] gregbradley opened #49311 "SuccessfullConnectionsPerSec"
Why is `successful` spelt incorrectly?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33d46c28-4183-1ce1-72fb-5304a7052863
* Version Independent ID: ea34e5f4-1c56-8378-e675-673553a38f46
* Content: [Monitor Azure Analysis Services server metrics](https://docs.microsoft.com/en-us/azure/analysis-services/analysis-services

[2020-03-02 22:50] m43kwon opened #49313 "IPv6 support?"
For dual-stack VNETs, do we need to make any modifications to the virtualNetworkCombo?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3df019b-7033-935b-b0d2-4651cf973ee5
* Version Independent ID: 2e96264c-d8e9-7a8d-f39e-5f5e49f2115d
* Content: [VirtualNetworkCombo UI element - Azure Managed Applications](https://docs.

[2020-03-02 22:51] grockland commented on #48521
I'm having the same problem:
When I try to turn on remote debugging I get a "The remote server returned an error: (403) Forbidden" when it tries to configure the scaleset. I'm running VS 2019 in admin mode.

[2020-03-02 22:52] tymtam2 opened #49314 "Update date on this page"
This page is dated 06/10/2019 but there were significant changes to it since. As of 2020-Mar-03 the latest change was on Dec 3, 2019.

https://github.com/MicrosoftDocs/azure-docs/commits/master/articles/iot-hub/iot-hub-devguide-device-twins.md

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ff6fbb2-5679-a9e7-b9f3-40d63

[2020-03-02 22:55] scholtes commented on #41917
I believe you actually can reference the latest version using the alternative format. Like so:

1. ✔️ `@Microsoft.KeyVault(SecretUri=https://[MYKEYVAULT].vault.azure.net/secrets/[MYSECRET]/)`
2. ❌ `@Microsoft.KeyVault(VaultName=[MYKEYVAULT];SecretName=[MYSECRET])`
3. ✔️ `@Microsoft.KeyVault(VaultName=[MYKEYVAULT];SecretName=[MYSECRET];SecretVersion=)`

The trick here being to include `SecretVersio

[2020-03-02 23:02] GiftA-MSFT commented on #48893
Hello @mukdenchild, I was able to run the experiment successfully using VS code and Jupyter Notebook. Please let us know if you continue to experience issues. Thanks.

![image](https://user-images.githubusercontent.com/51332022/75726135-cc9b8d80-5caf-11ea-8d7d-a646b56aaf9d.png)

[2020-03-02 23:02] #48893 closed

[2020-03-02 23:02] dzeyelid commented on #48841
@DixitArora-MSFT Thank you for reporting. I'll try checking the sample code and apply that to my code.

[2020-03-02 23:03] GiftA-MSFT commented on #49301
@gavinkendall we will review your feedback and get back to you shortly. Thanks.

[2020-03-02 23:09] nkiest commented on #17029
@rboucher will look at adding some examples

[2020-03-02 23:10] santhoshbomma9 commented on #43973
Thank you @qianw211 !

[2020-03-02 23:11] timriker opened #49316 "IPv6 RDNS not working"
This is for: "d2cf9574-608e-41e0-373a-adbac913619f" or
https://docs.microsoft.com/en-us/azure/virtual-network/ipv6-overview

The previous version of this article mentions that reverse DNS is not available for Azure public ip IPv6 addresses. This version does not say this, but adding RDNS to a public IP still does not work:

https://docs.microsoft.com/en-us/azure/dns/dns-reverse-dns-for-azure-servi

[2020-03-02 23:17] qianw211 commented on #43973
#please-close this issue seems to have been resolved. Thanks!

[2020-03-02 23:42] curtand commented on #36526
Hi @TheBluLion
My PM and I were able to successfully assign a string value, and there's no known change to the behavior you described.. I won't be updating the documentation yet. Thanks for contributing!
#please-close

[2020-03-02 23:42] #36526 closed

[2020-03-02 23:50] andrewmchen commented on #36301
I don't understand how

indicates that Azure Database for MySQL is not accessible through the `Microsoft.Sql` service tag method. Instead, it seems to directly contradict the disclaimer that it does not work as of August 2018. Could we remove the language suggesting that the Microsoft.Sql service tag method will work?

[2020-03-02 23:55] djpmsft commented on #46279
#please-close

[2020-03-02 23:55] #46279 closed

[2020-03-03 00:01] abhisheksreesaila commented on #45486
The documentation was little mis-leading. The following worked for me.

**First push images to ACR**

- `docker login myregistry.azurecr.io` (it will ask you for username and password)
- `docker tag mcr.microsoft.com/azure-cognitive-services/custom-form/labeltool  myregistry.azurecr.io/<<your path>>` (samples/formslabeltool)
- `docker push myregistry.azurecr.io/<<your path>> `

**Then select the i

[2020-03-03 00:04] KranthiPakala-MSFT commented on #49311
@gregbradley Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2020-03-03 00:15] KranthiPakala-MSFT commented on #49303
@mlathara Thanks for reaching out here. As this repo is to address issues related to document content and your query is more related to product question, I would suggest you to please post your question on [MSDN](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDatabricks) and other forums ([stackoverflow](https://stackoverflow.com/questions/tagged/azure-databricks)), we have our eng

[2020-03-03 00:16] ConnorMcMahon commented on #41177
@andrewatfornax

In general, the rule of thumb is that you can only have one instance of Durable Functions running with the same TaskHub + Storage Account combination at the same time. Otherwise, you will have multiple instances pointing to the same Azure Storage resources, and they can compete for the resources in a way that leads to all sorts of issues.

Therefore, if all of your slots are using

[2020-03-03 00:18] Karishma-Tiwari-MSFT commented on #49274
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-03 00:20] dops0 opened #49317 "Intel MPI version for HB120rs_V2"
Hi,

Could you please provide information on which version of Intel MPI is compatible with HB120rs_V2?

Thanks.

/D

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbe00d45-6f18-5537-1ccc-2e86927ed114
* Version Independent ID: bb5f5c1a-01ec-b61b-db1b-3cbf30a0da0a
* Content: [Set up Message Passing Interface for HPC - Az

[2020-03-03 00:21] mpchen opened #49318 "Security Center not creating Log Analytics Workspace"
According to https://docs.microsoft.com/en-us/azure/security-center/security-center-enable-data-collection#using-a-workspace-created-by-security-center, Security Center will create a log analytics workspace by default by turning on data correction (auto provisioning MMA agent).

However, I donot see a log analytics workspace created even after I enabled auto-provisioning. Could you confirm whether

[2020-03-03 00:23] dcbrown16 opened #49319 "Orphaned page still"
#15463 was never addressed. It seems like this page is talking about management certs for classic services like cloud services, can it be moved next to the doc below?
https://docs.microsoft.com/en-us/azure/cloud-services/cloud-services-certs-create#what-are-management-certificates

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2020-03-03 00:25] dcbrown16 commented on #49319
Or perhaps even better, scrap this page entirely and just move the content to the other page I linked, so that page shows the Portal steps.

[2020-03-03 00:25] golfalot opened #49320 "MultiPolygon support not referenced in this page but does appear to function correctly"
My testing on some sample data shows that is does work, and appears to to function correctly.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 883e73b5-29dd-855b-aefd-16f020edbdb0
* Version Independent ID: 9a7f6444-18a8-f68f-1d06-6555808c1252
* Content: [ST_DISTANCE in Azure Cosmos DB query language](https://docs.microso

[2020-03-03 00:30] SaurabhSharma-MSFT commented on #49270
@Chahul Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-03-03 00:31] SaurabhSharma-MSFT commented on #49268
@diablodale Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-03-03 00:34] SaurabhSharma-MSFT commented on #49316
@timriker Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-03 00:37] SaurabhSharma-MSFT commented on #49308
@thdotnet Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-03 00:43] farah-alyasari commented on #39110
Hello @sujayvsarma,

The doc is now updated, as of 01/29/2020.

Best,
Farah

[2020-03-03 00:49] farah-alyasari commented on #39671
Hello @emas00,

The [doc ](https://docs.microsoft.com/en-us/azure/azure-maps/tutorial-geofence) is now updated, as of 01/15/2020. Please see step 6 for how to obtain the udid, and step 7 for how to use it, under Upload geofences section.

Best,
Farah

[2020-03-03 00:52] dcbrown16 opened #49321 "ToC missing"
If this doc is still current, please add it to the ToC somewhere. The following link is not present in any ToC.
https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-bandwidth-testing

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42423f75-6611-2ff6-135d-cd0a11bab7c2
* Version Independent ID: ae7c8bd5-

[2020-03-03 00:56] tchristiani commented on #46694
This has been identified as a product issue, not a doc bug or enhancement.
We want you to get an answer as quickly as possible so, please take a look at [this document](https://docs.microsoft.com/en-us/azure/cognitive-services/cognitive-services-support-options) and post your issue to the relevant forum.
#please-close

[2020-03-03 00:56] #46694 closed

[2020-03-03 00:57] TravisCragg-MSFT commented on #48854
@insankim Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-03-03 01:04] KranthiPakala-MSFT commented on #49135
@asgaralim We have assigned the issue to the content author. They will evaluate the ask and will provide an update as appropriate.

@djpmsft Could you please take a look at the above ask from the user? - Thanks.

[2020-03-03 01:09] TravisCragg-MSFT commented on #49224
@manojsubramani did you use the PowerShell or CLI deployment script?

[2020-03-03 01:11] TravisCragg-MSFT commented on #49316
@timriker Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-03-03 01:16] svc-aaa-bind commented on #37127
@gavinwoolley  thankyou!

[2020-03-03 01:23] craig-martin opened #49322 "Sentence fragment"
This sentence seems incomplete:
"Automating provisioning to an application requires building and integrating a SCIM endpoint with the Azure AD SCIM compliant."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 271dc426-fb47-7441-d627-ec11f8c7a6ea
* Version Independent ID: 4cb8bfc8-4748-e501-425a-e4c2da0f5f5a
* Content: [D

[2020-03-03 01:31] KranthiPakala-MSFT commented on #49010
@MiloDi According to the document, "The Azure DevOps Services organization must be linked to the same Azure AD tenant as Databricks"- which means currently Databricks must be located in the same tenant as DevOps.  After further investigation it seems that the above error might be due to known issue where your Databricks and your DevOPs are in different AAD tenants which fails the passthrough sign

[2020-03-03 01:31] #49010 closed

[2020-03-03 01:34] lshunnarah77 commented on #49191
Thank you for your responses.  However, this is still not working.  I suspect something isn't correct based on the nslookup query example, when compared with the results I see.  See below my results.  I hid what was private details in our Azure private network, however, what I see missing based on the example is the private IP showing in the nslookup.

nslookup thedatabase.database.windows.net (re

[2020-03-03 01:43] BharathNimmala-MSFT commented on #48984
Thank you @bandersmsft  for helping on this.

[2020-03-03 01:50] shreyasharmamsft commented on #49112
@olivoarroba Thanks for the feedback on the documentation. We're going through a refresh right now and will update with more examples, as you've suggested!

To perform an aggregation like _last($value) - first($value)_, you can use an [Aggregate Variable](https://docs.microsoft.com/en-us/azure/time-series-insights/time-series-insights-update-tsm#aggregate-variables). Numeric Variable kinds don't s

[2020-03-03 01:56] BharathNimmala-MSFT commented on #48959
@BrianLevenson Thank you for helping on this issue.

@jethrovaneetvelde Requesting you to please review the missing step called out by @BrianLevenson. Hope the information helps, at this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue, however if you have any further queries please tag us in your reply and will be happy t

[2020-03-03 01:56] #48959 closed

[2020-03-03 01:56] rrodemann commented on #43515
yeah having the exact same issue.

[2020-03-03 02:01] hisasima opened #49323 "After provisioning, we need to recreate the service in order to add availability zone."
Once I provisioned some services which include VM, AppGW, I can not change AZ setting. I want you to add this limitation in this document. We have to consider the design for future very carefully.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cca70845-100f-2cfd-aba3-34b7fa4a5264
* Version Independent ID: 475b26e5-9e23

[2020-03-03 02:02] manojsubramani commented on #49224
PowerShell

[2020-03-03 02:05] KranthiPakala-MSFT commented on #49185
@gamullen We have assigned the issue to the content author. They will evaluate and update the document as appropriate.

Thank again for pointing this out. :)

[2020-03-03 02:06] BharathNimmala-MSFT commented on #49169
@macambo Since we have not heard back from you we will now proceed to close this thread. However if you can share additional information regarding the documentation you are referring to and circle back on this thread , we will gladly reopen the issue and continue the discussion.

[2020-03-03 02:07] BharathNimmala-MSFT commented on #49196
@menih Since we have not heard back from you we will now proceed to close this thread. However if you can share additional information regarding the documentation you are referring and circle back on this thread , we will gladly reopen the issue and continue the discussion. Thank you

[2020-03-03 02:07] #49196 closed

[2020-03-03 02:08] a30000931 commented on #37127
@gavinwoolley  thanks!

@kgopi05  i also get this issue when re-running the TF code with the extension that azure adds a:
    DeploymentTokenSettings                = {
                  - DeploymentToken = "9982303"
                }

so TF wants to of course remove it - and the numbe changes each time

thoughts?

[2020-03-03 02:09] TravisCragg-MSFT commented on #49240
@Chai-NED The minimum IOPS and throughput listed are the guaranteed throughput levels that you will receive on the disks. I have updated the docs to clarify this, and the docs should reflect the change within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reop

[2020-03-03 02:09] #49240 closed

[2020-03-03 02:13] BharathNimmala-MSFT commented on #48670
@dhirajgandhi  Thank you for helping on this issue.

@jspiersvalorem Thank you for the confirmation , we will go ahead and close the thread. However if you have further queries please tag us in your reply and we will gladly reopen the issue and continue the discussion.

[2020-03-03 02:13] #48670 closed

[2020-03-03 02:18] KranthiPakala-MSFT commented on #49295
@lVlario0O0o Just wanted to confirm if you are trying to follow the tutorial explained in this doc and you are having issue? If so, could you please share the error message or screen-shot of the error?

In case if your job/issue is other than the one explained in the tutorial, I would suggest you to please post your query in MSDN/Stackoverflow forums as this repo is to address issues related to do

[2020-03-03 02:19] roysudi commented on #19261
Dear @normesta, yes we do have headers setup at CDN(Verizon Premium) level. However, it has limitations. Such as not giving ability to remove the ‘Server’ header. This causes our application to be flagged unnecessarily.
Thoughts?

[2020-03-03 02:25] kojoopuni opened #49324 "Links are broken"
The links for this page are broken. Get a 404 error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e974bd0-4652-62e1-2780-b9c36092434b
* Version Independent ID: 0afc3625-d3bb-dabe-411b-2010a00aa0f0
* Content: [Azure Spatial Anchors Unity overview - Azure Spatial Anchors](https://docs.microsoft.com/en-us/azure/spatial

[2020-03-03 02:30] JasonWHowell commented on #48647
This has been published. Closing out this issue since it is now resolved.
 #please-close.

[2020-03-03 02:30] #48647 closed

[2020-03-03 03:00] AshokPeddakotla-MSFT commented on #48467
@fgheysels The certs referenced in the linked doc is for establishing trust between IoT Edge Hub and modules/downstream devices. They have nothing do with device identity, so IoT Hub doesn't know or care about them.

[2020-03-03 03:12] ketan-chawda-msft commented on #49271
@tomkuijsten Thank you for your question ! We will review and provide an update as appropriate.

[2020-03-03 03:14] ketan-chawda-msft commented on #49296
@svengeance Thank you for your feedback! We will review and provide an update as appropriate.

[2020-03-03 03:19] ketan-chawda-msft commented on #49298
@markgar Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-03-03 03:19] DixitArora-MSFT commented on #49319
@dcbrown16 Thanks for reaching out. We will review and update as appropriate.

[2020-03-03 03:22] ketan-chawda-msft commented on #49302
@jmanyoma Thank you for your question! We will review and provide an update as appropriate.

[2020-03-03 03:25] ketan-chawda-msft commented on #49309
@HemanK Thank you for your feedback! We will review and provide an update as appropriate.

[2020-03-03 03:26] gmsantos commented on #46920
Hi @DixitArora-MSFT can you link which PR address this issue? I was about to send a PR but I saw this issue first :)

[2020-03-03 03:27] georgewallace commented on #49319
@dcbrown16 Thanks for reaching out.  I am reaching out to folks to find the proper owner for this content so we can see about merging it with the other content.

[2020-03-03 03:28] ketan-chawda-msft commented on #49313
@m43kwon Thank you for your feedback! We will review and provide an update as appropriate.

[2020-03-03 03:29] TravisCragg-MSFT commented on #49191
@lshunnarah77 Your understanding is correct on this, and you should not need to allow the public IP of the Azure SQL server in your firewall.

There are 2 issues here:

1) when you lookup the address of the database with DNS, it should resolve to the private link VNET IP, not the public IP.

This is an issue with your DNS server or the DNS configuration on the machine you are doing the NSLOOKUP on

[2020-03-03 03:30] ketan-chawda-msft commented on #49314
@tymtam2 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-03-03 03:31] ketan-chawda-msft commented on #49317
@dops0 Thank you for your feedback! We will review and provide an update as appropriate.

[2020-03-03 03:33] ketan-chawda-msft commented on #49318
@mpchen Thank you for your feedback! We will review and provide an update as appropriate.

[2020-03-03 03:35] ketan-chawda-msft commented on #49320
@golfalot Thank you for your feedback! We will review and provide an update as appropriate.

[2020-03-03 03:37] ketan-chawda-msft commented on #49321
@dcbrown16 Thank you for your feedback! We will review and provide an update as appropriate.

[2020-03-03 03:39] ketan-chawda-msft commented on #49322
@craig-martin Thank you for your feedback! We will review and provide an update as appropriate.

[2020-03-03 03:42] ketan-chawda-msft commented on #49323
@hisasima Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-03-03 03:45] ketan-chawda-msft commented on #49324
@kojoopuni Thank you for your feedback! We will review and provide an update as appropriate.

[2020-03-03 03:48] CHEEKATLAPRADEEP-MSFT commented on #49091
@linda33wj Could you please look into this issue?

[2020-03-03 04:01] souravmishra-msft commented on #48946
Closing this thread for now

[2020-03-03 04:01] #48946 closed

[2020-03-03 04:03] ChiragMishra-MSFT commented on #49127
@meenaTrex All data transfers are via secure channel HTTPS and TLS over TCP to prevent man-in-the-middle attacks during communication with Azure services.

 When you're authoring a pipeline by using JSON, add the encryption property and set it to true in the connection string.

Once the encryption is set to true, you can add EncryptionMethod=1 in the connection string (in the Linked Service). This

[2020-03-03 04:12] prvempat opened #49326 "Creation of IKEV1 connection for Standard Sku VPN"
Creation of IKEV1 connection for Standard SKU VPN for a RouteBased VPN is not supported apart from Basic SKU. Connection Protocol IKEv1 is only supported for SKU's VpnGW1, 2 and 3. Please update the document accordingly.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3c9ea83-f9d6-57c0-301d-323d2747a1c5
* Version Indep

[2020-03-03 04:16] nickboucher opened #49327 "Grammatical Errors"
This page is riddled with grammatical errors. Please have an editor review this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d0982c5d-272e-caf3-bee2-8ae53a830f53
* Version Independent ID: 2d1b6d7f-0316-3817-8831-acd8ed396607
* Content: [Azure virtual machine extensions and features](https://docs.microsoft.com/e

[2020-03-03 04:19] PramodValavala-MSFT commented on #49156
@roofiq Hope my previous comment clears things up.

Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-03 04:19] #49156 closed

[2020-03-03 04:24] PramodValavala-MSFT commented on #49207
@ShawnTalbert Just following up here... Hope my previous comment clears things up. I believe the issue linked is a better place to track this and have a more insightful discussion.

As for your specific scenario of sending a PDF document, based on [this line](https://github.com/Azure/azure-functions-nodejs-worker/blob/dev/src/converters/RpcHttpConverters.ts#L60), I believe you should be able to se

[2020-03-03 04:29] cecilphillip opened #49328 "Connection property never used."
The `Connection` property is never used in the sample. Maybe it should be removed?
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11d0f376-ce05-b7a6-8e31-d5a1bc0a0488
* Version Independent ID: 28844087-a4e9-e95c-9583-3ea9c7b47a83
* Content: [Quickstart: Use Azure Cache for Redis with .NET Core apps](https://docs

[2020-03-03 04:32] AshokPeddakotla-MSFT commented on #39110
Thanks for an update.
@sujayvsarma
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-03 04:32] #39110 closed

[2020-03-03 04:33] AshokPeddakotla-MSFT commented on #39671
@farah-alyasari Thanks for updating the doc.
@emas00 Please go through and let us know if you have further questions.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-03 04:33] #39671 closed

[2020-03-03 04:44] SumanthMarigowda-MSFT commented on #49004
@shooker The restriction on configuring NSG rules for subnets with private endpoints was lifted recently, but the storage doc will be updated. We have submitted a PR to update it – PR request will be updated asap .

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen t

[2020-03-03 04:44] #49004 closed

[2020-03-03 04:49] AshokPeddakotla-MSFT commented on #48565
@manueljesusrd Does that answers your question? Do let us know if you have further questions.

[2020-03-03 04:52] SwathiDhanwada-MSFT commented on #48930
Assigning to author @tfitzmac for reviewing feedback and updating the content accordingly.

[2020-03-03 04:52] msrini-MSFT commented on #49326
@prvempat , Thank you for your feedback. We will investigate and get back to you shortly.

[2020-03-03 04:53] SumanthMarigowda-MSFT commented on #49148
@cananac Learn about important Azure product updates, roadmap, and announcements. Subscribe to notifications to stay informed. https://azure.microsoft.com/en-in/updates/
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-03 04:53] #49148 closed

[2020-03-03 04:56] SumanthMarigowda-MSFT commented on #49277
@rssllptrs Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-03-03 04:58] mansi-aggarwal-2504 opened #49329 "ja-JP locale in centralindia Endpoint"
Can I use another languages' locale in "centralindia" service region endpoint?
Like ja-JP in this case.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4de08d1f-8114-7bef-7ef4-022f79c69742
* Version Independent ID: 4c0ceab9-24ed-de01-db30-31acf1de0f48
* Content: [Language support - Speech service - Azure Cognitive Servi

[2020-03-03 05:02] jakaruna-MSFT commented on #49327
@nickboucher
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-03-03 05:15] jakaruna-MSFT commented on #49238
@afandl This tutorial is explicitly kept simple so that anyone can follow.

Port forwarding is not available in ACI.  Instead you can give the list of ports to open for that container.  Networking tab covers that

This may create a problem in some places where your container is listening on port 8080, But you want to expose that app on port 80.   In that case we need to make the app listening on p

[2020-03-03 05:19] msrini-MSFT commented on #49326
Similar to this issue: https://github.com/MicrosoftDocs/azure-docs/issues/43668

[2020-03-03 05:20] BhargaviAnnadevara-MSFT commented on #49234
@sijday Any update here?

We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-03-03 05:20] #49234 closed

[2020-03-03 05:20] msrini-MSFT commented on #49267
@fpintoG , Do you have any update on this issue?

[2020-03-03 05:28] meenaTrex commented on #49127
Following link
https://www.sqlmatters.com/Articles/Checking%20Whether%20Connections%20to%20SQL%20Server%20are%20Encrypted.aspx
,
For Sql DB, we get encrypted data transfer as true as below:

[image: sqlTLS.jpg]
But For Datawarehouse:

Select * FROM sys.dm_exec_connections

We get an error

Msg 104385, Level 16, State 1, Line 1
Catalog view 'dm_exec_connections' is not supported in this version.

C

[2020-03-03 05:38] SubhashVasarapu-MSFT commented on #49082
@neilamoran , Thanks for sharing the resolution on this community forum.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-03-03 05:38] #49082 closed

[2020-03-03 05:39] AshokPeddakotla-MSFT commented on #49324
@kojoopuni Thanks for pointing this out. PR has been created to fix the broken links. After peer review and merge, changes will go live by EOD.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-03 05:39] #49324 closed

[2020-03-03 05:39] ram-msft commented on #49329
@mansi-aggarwal-2504 Thanks for the question. We are investigating the issue and will update you shortly.

[2020-03-03 05:43] jakaruna-MSFT commented on #49317
@dops0
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-03-03 05:48] chetansriv commented on #41252
@v-nagta Please get this note added as suggested above

[2020-03-03 05:50] chetansriv commented on #43043
@v-nagta As discussed, please test and update the article accordingly

[2020-03-03 05:53] chetansriv commented on #43271
@v-nagta As discussed, please reach out to Palo Alto team and get the confirmation

[2020-03-03 05:55] msrini-MSFT commented on #49326
@prvempat , Azure legacy SKU contains 2 SKUs - Basic, Standard, High Performance. We recommend customers to create VPN gateway with the new SKUs which is documented [here ](https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-about-vpn-gateway-settings#gwsku).

When you create VPN gateway in the new SKU, you can create IKEv1 in all the SKU mentioned in the above doc, except Basic SKU.

[2020-03-03 05:56] GorSmith opened #49330 "Minor typo - bug"
Your line that shows as:
.\Release\devkit_device.exe mxchip-001 &lt;scopeid&gt; &lt;primarykey&gt;
Should instead read as:
.\Release\devkit_device.exe mxchip-001 &lt;scopeid&gt; &lt;device key&gt;

This would make it use the device key generated in the steps and thus complete the connection to DPS.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2020-03-03 05:57] JimmyLS opened #49331 "What will happen for existing configured token lifetime policy after May 1st"
We didn't find any statement in this article what will happen for existing configured token lifetime policy after May 1st. Do customer need to remove them manually, or Microsoft will help remove them automatically?
If customers configured both token lifetime policy and CA sign-in frequency policy, will there be any risk causes conflict any that time?

---
#### Document Details

⚠ *Do not edit this

[2020-03-03 06:02] chetansriv commented on #48271
@beniluul We have made all the changes in the article, please review. Icons will be be published separately in this week's release cycle on Friday

[2020-03-03 06:03] chetansriv commented on #48271
#please-close

[2020-03-03 06:03] #48271 closed

[2020-03-03 06:07] rphoon opened #49332 "Mapping for South Africa"
Hi, what is the mapping for South Africa? Are solutions like Update Management not available in that region?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8f86bd0-7555-9be2-1015-76e3ab88062f
* Version Independent ID: 1d310402-fadf-d602-048a-b2e16bd86a7e
* Content: [Azure Automation and Log Analytics workspace mapping

[2020-03-03 06:09] DashleenBhandari-MSFT commented on #48906
@jos1977 , I will go ahead and close this issue. Feel free to reopen if you have further queries.

[2020-03-03 06:09] #48906 closed

[2020-03-03 06:17] KrishnaG-MSFT commented on #49162
@Cashfl0w Verified and updated the document as required. Thanks.

[2020-03-03 06:22] KranthiPakala-MSFT commented on #49085
@jbrody831 Did you set the part after the ? (i.e. $count) to the query property or directly include  it in the url property? if you set the url as https://www.test.com/odata/Datamart/, path as Product and query as the further query information(like $select=column or $count), are there errors with ADF OData connector?

[2020-03-03 06:24] SnehaAgrawal-MSFT commented on #49036
@proguru Since We didn’t hear back from you. We will now close this out but if you feel you need more information please just let us know.

[2020-03-03 06:24] #49036 closed

[2020-03-03 06:38] gpj1 opened #49334 "Benefits of "Connection String" setting over "Application Settings""
While all app settings are encrypted, I can define an app setting for connection string also and refer it from my app using environment variable. Why there is a separate setting for "Connection Strings" and what benefit it offers? Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e25899c-1ed8-7cfc-2c37-73bb010a87

[2020-03-03 06:49] SychevIgor opened #49335 "Delete this article"
Based on this answer- this "product" was archived and not supported.
https://github.com/microsoft/ApplicationInsights-LocalForwarder/issues/37#issuecomment-528697085

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5fdd393-09bc-2d33-8441-85f20737e762
* Version Independent ID: 26f54b0d-4227-6118-0422-984b1a5664c0
* Conte

[2020-03-03 06:50] SychevIgor opened #49336 "Delete or Rewrite this article"
the most important prerequisite of this article is officially archived according to dev team answer
https://github.com/microsoft/ApplicationInsights-LocalForwarder/issues/37#issuecomment-528697085
looks like article should be either deleted or rewritten.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78d2c850-84d3-617f

[2020-03-03 07:01] gpj1 commented on #49123
@DashleenBhandari-MSFT I went through the related docs https://docs.microsoft.com/en-us/azure/app-service/containers/how-to-serve-content-from-azure-storage and see that mounted Azure blob storage is read only. Can you please confirm this and also tell me the recommended way for having persistent logs from App Service?

[2020-03-03 07:06] gpj1 opened #49337 "Recommended way for logging to files or for any persistent storage"
I was looking at this storage mounting feature for sending application logs to persistent storage. But I see the limitation mentioned that mounted blob storage is read only. Is Azure Files is the recommended/only way for any persistent storage needed by App Service apps?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c

[2020-03-03 07:10] Pancat007 opened #49338 "What is the exact language support for Speech Translation?"
According to this Link: https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/language-support#speech-translation
The language suupport for Speech tranlation of speech-to-speech tranlation should based on the Speech-to-Text Service, meaning that having 30+ languages can be tranlated.

But there seems like an old documentation, saying that it is only support for 11 languages:
htt

[2020-03-03 07:17] AshokPeddakotla-MSFT commented on #48467
We hope that address your queries. Do let us know if you have further questions.

[2020-03-03 07:39] Vivekmis opened #49339 "AcceleratedNetworking"
Standard_E4as_v4 Vm supports Accelerated Networking?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8fdfbee1-bb47-fdfa-44f9-603b1313359e
* Version Independent ID: 1404915e-3bca-00bf-a15c-b0545af47319
* Content: [Eav4-series and Easv4-series - Azure Virtual Machines - Azure Virtual Machines](https://docs.microsoft.com/e

[2020-03-03 07:40] gpj1 commented on #49337
I think https://github.com/Azure/app-service-linux-docs/blob/master/BringYourOwnStorage/mounting_azure_blob.md answers this. I see for read/write access AzureFiles is the only mount option now.

[2020-03-03 07:40] #49337 closed

[2020-03-03 07:44] dipinn26592 commented on #45926
@vrvrvrvrvr  - were you able to resolve this. I am also running into the same issue

[2020-03-03 07:46] mbrouwer commented on #48753
I am trying to do this using policies and ran into the same problem. But I also cant find this action using Get-AzProviderOperation to create a custom role. So now I am trying to add Microsoft.Security/* which at least is more restrictive then Constributor.

[2020-03-03 08:03] Skorfulose commented on #49280
The content of the section "Require approved client app" was already changed?
Now you make it look like the partner apps are "approved". This is - or at least was - not the case. Previously it had only been 1st party Microsoft apps.

[2020-03-03 08:21] SnehaAgrawal-MSFT commented on #49334
@gpj1 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-03 08:30] sijday commented on #49234
The point is that the documentation is inaccurate since the PowerShell cmdlets covered do not work.
The issue has been around since lat 2019 and was not resolved by the latest update.
The documentation should highlight that there is an unresolved issue with the cmdlets.

[2020-03-03 08:30] mike-urnun-msft commented on #48891
@symbolthree You can use the `@BindingName` annotation as described [here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-java#metadata). Here's an example of accessing SystemProperties: https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-java#metadata

Properties should be the same. We will now proceed to close this thread for now. If there are f

[2020-03-03 08:30] #48891 closed

[2020-03-03 08:30] ghostinside commented on #40696
the issue still exists, if you use simple string, \r will be replaced, if something more complex, it does not work

![image](https://user-images.githubusercontent.com/10547793/75756853-63b12580-5d42-11ea-8086-ab3ddd8a50ec.png)

[2020-03-03 08:32] ghostinside commented on #40696
@djpmsft  please see my comment above

[2020-03-03 08:47] neeleshray-msft commented on #49121
@jeevansd Could you confirm on this ?

[2020-03-03 08:49] mike-urnun-msft commented on #48874
@mregni Thanks again for your feedback! It looks like the Portal experience has changed quite a bit. As such, we are proceeding to assign this issue to the content author to review further and take the right course of action.

[2020-03-03 08:50] neeleshray-msft commented on #49027
@jgallucci32 You can start with this guide **[documentation](https://docs.microsoft.com/en-us/azure/databricks/administration-guide/users-groups/scim/aad)** for the same. You can contact us on the **[Azure Government Support](https://azure.microsoft.com/en-in/support/plans/government/)** for more assistance.

[2020-03-03 08:50] #49027 closed

[2020-03-03 08:52] neeleshray-msft commented on #48856
@mmacy Could this be checked and verified ?

[2020-03-03 08:53] vjraitila commented on #47977
I agree with @shashankkr. The documentation is unclear about the limitation and having the event-based trigger within Data Factory in the first place gives out the illusion that one should be able to do more with it e.g. something akin to Auto Loader in Databricks. Even if you could not, the limit of 100 files is really low.

Regarding documentation, however, it is especially unclear why we are hi

[2020-03-03 08:55] mike-urnun-msft commented on #48895
@sinkari-kassim Command does show for me:
![image](https://user-images.githubusercontent.com/36717703/75758802-65023400-5ce9-11ea-9452-aa1991e532fd.png)

If it's still not showing for you, let us know what kind of browser and version you're using. Since we haven't found any issues, we will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen

[2020-03-03 08:55] #48895 closed

[2020-03-03 09:06] DashleenBhandari-MSFT commented on #49131
@nofield ,
•We do have a background job that runs and pulls/syncs the new cert from KV. This background job runs about every 8 hours, however it does the syncing by batches, so it’s not a guarantee that the new cert would’ve synced within 8 hours. Thus, we document it as 48 hours in case the cert doesn’t get picked up with the first runs of the background tasks.
•The sync operation should help upd

[2020-03-03 09:16] ChrisSommers opened #49341 "Underscores in FQDNs cause "Unknown error""
I've found that the custom domain FQDN that you're CNAMEing to the azurefd.net FQDN cannot contain an underscore. If it does, it just says "Unknown error"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 105783bc-d51e-c199-7c51-1475bc9fbaa0
* Version Independent ID: 114c01b8-8b95-ff91-98c5-fd44b12ac6fc
* Content: [Tutori

[2020-03-03 09:23] mansi-aggarwal-2504 opened #49342 "Cannot import name 'BlobServiceClient' from 'azure.storage.blob'"
I keep getting this error, no matter what I try:
ImportError: cannot import name 'BlobServiceClient' from 'azure.storage.blob'

I also tried uninstalling and reinstalling as mentioned here, nothing is working
https://github.com/Azure/azure-storage-python/tree/master/azure-storage-blob

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2020-03-03 09:30] mslot opened #49343 "What type of cache is "internal cache""
Is the internal cache used, memory cache? Does it use CDN for Microsoft, or?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad05f88c-be94-58f8-b05c-a4a1a102e24f
* Version Independent ID: 8f58d4b1-73f7-41f2-a15b-fe71d8bf82b0
* Content: [Add caching to improve performance in Azure API Management](https://docs.microsoft.c

[2020-03-03 09:33] AshokPeddakotla-MSFT commented on #49330
@GorSmith Thanks for pointing this out. We are currently investigating and will update you shortly.

[2020-03-03 09:43] mike-urnun-msft commented on #49074
@kilagg We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-03-03 09:43] #49074 closed

[2020-03-03 09:44] CHEEKATLAPRADEEP-MSFT commented on #48852
@mataralhawiti We have fixed the issue.

![image](https://user-images.githubusercontent.com/44426401/75763066-acc4a200-5d61-11ea-8a0c-c7589225f721.png)

[2020-03-03 09:44] kolotu opened #49344 "Compile error in the generated code"
Is this tutorial still up to date? I am getting compile errors in the generated code. Are there maybe additional steps necessary?
cmake --build returns this error:
pnp_app/sample-device/utilities/deviceinfo_interface.h:15:10: fatal error: digitaltwin_interface_client.h: No such file or directory
 #include "digitaltwin_interface_client.h"

---
#### Document Details

⚠ *Do not edit this section. It

[2020-03-03 09:44] CHEEKATLAPRADEEP-MSFT commented on #48852
@mataralhawiti  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-03-03 09:44] #48852 closed

[2020-03-03 09:50] AshokPeddakotla-MSFT commented on #49344
@kolotu Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-03 09:57] mike-urnun-msft commented on #48968
@mlandtved By using try/catch block at an appropriate abstraction layer in a structured manner and passing the Exceptions caught to the ILogger interface, you should be able to see the specific Errors/Exceptions in Applications Insights while still ensuring no data leak has occurred.

[2020-03-03 10:00] bertrandpons commented on #46207
Is there any news about that point?

[2020-03-03 10:06] mike-urnun-msft commented on #49260
@eyast It may be in preview. @Hazhzeng could you confirm?

[2020-03-03 10:18] nicolasevens commented on #49258
Thanks for the quick feedback!

[2020-03-03 10:21] robert4os opened #49347 "Offline Containers"
This article mentions "The Cognitive Services containers are required to submit metering information for billing purposes. The only exception, is Offline containers as they follow a different billing methodology." What exactly are the Offline containers?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 471c94dc-0175-5575

[2020-03-03 10:23] C0smin commented on #20766
You can use powershell to do this:
`$newAzResourceParameters = @{
    Location          = 'West Europe'
    ResourceGroupName = 'myRG'
    ResourceType      = 'Sendgrid.Email/accounts'
    ResourceName      = 'sendGridSubscription'
    Plan = @{
        Name          = 'free'
        Publisher     = 'Sendgrid'
        Product       = 'sendgrid_azure'
        PromotionCode = ''
    }
    Properties

[2020-03-03 10:25] mike-urnun-msft commented on #49149
@AnjaniChallamcherla Could you try using version 4.5.1 as described in [this doc](https://docs.microsoft.com/en-us/azure/azure-functions/functions-scenario-database-table-cleanup#add-the-sqlclient-package-to-the-project). The issue might be related to: Azure/azure-functions-host#3903

[2020-03-03 10:31] RohitMungi-MSFT commented on #49338
@Pancat007 Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-03-03 10:33] RohitMungi-MSFT commented on #49347
@robert4os Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-03-03 10:33] tom-rb opened #49348 "Low write batch size limit in PostgreSQL as ADF sink"
**Service:** [Azure Database For PostgreSQL Connector in Azure Data Factory](https://docs.microsoft.com/en-us/azure/data-factory/connector-azure-database-for-postgresql)

**Issue:** Got the following message while executing Copy Data operation using Azure Postgres as a sink:
`Cannot have more than 32767 columns in one write due to PostgreSQL limit, please reduce Write batch size`

First of all, I

[2020-03-03 10:34] mike-urnun-msft commented on #41315
This doc is now changed structurally and the sample in question is no longer available. As such, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-03-03 10:34] #41315 closed

[2020-03-03 10:38] KalyanChanumolu-MSFT commented on #49328
@cecilphillip Thank you for the feedback.
As mentioned in the comments the connection property is shown separately

Tagging the content author @yegu-ms to evaluate and update the documentation as appropriate.

We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-03-03 10:38] #49328 closed

[2020-03-03 10:40] fgheysels commented on #48467
Ok clear.
However, since communication from iot edge to IoT Hub is done over TLS/SSL, there must  be something that establishes this secure transport layer ?  This is done via certificates as well ?

[2020-03-03 10:43] AshokPeddakotla-MSFT commented on #48882
@onionhammer We hope above response will provide more details and examples. Do let us know if you have further queries.
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-03-03 10:43] #48882 closed

[2020-03-03 10:47] SnehaAgrawal-MSFT commented on #49043
@jumppard Since We didn’t hear back from you. We will now close this out but if you feel you need more information please just let us know.

[2020-03-03 10:47] #49043 closed

[2020-03-03 10:50] TechWatching opened #49349 "Proper way to deploy an update to a Cosmos Db stored procedure"
I can't find in the documentation any recommandation on how to do CI /CD with Cosmos Db stored procedures. The documentation mentionnes how to create a stored procedure with the .NET SDK but that's not really something we can do in a CI/CD pipeline (Azure pipelines for instance). What is the recommanded mechanism to deploy modifications to a store procedure.

---
#### Document Details

⚠ *Do not e

[2020-03-03 10:51] SumanthMarigowda-MSFT commented on #49342
@mansi-aggarwal-2504 Thanks for the question! We are investigating and will update you shortly.

[2020-03-03 10:52] SumanthMarigowda-MSFT commented on #49066
@JuanKerr We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.
I'd recommend posting your question in https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=windowsazuredata If the issue isn't related to the documentation.

[2020-03-03 10:52] #49066 closed

[2020-03-03 10:57] dominicbetts commented on #48511
Hi @isagrwl - thanks for the comments. We added a note the article last week explaining that it's currently necessary to contact technical support to enable PnP functionality in an IoT Central application. I'll update the article (and leave a comment here) as soon as this restriction is removed and you can use the PnP functionality directly. Thanks for your patience.

[2020-03-03 11:10] v-nagta commented on #43271
@ClaudioRifo
We have mentioned about **Validate Identity Provider Certificate** at 4.C in the Configure Palo Alto Networks - Admin UI Single Sign-On section.

To enable SCIM provisioning please reach to [SaaSApplicationIntegrations@service.microsoft.com](SaaSApplicationIntegrations@service.microsoft.com)

[2020-03-03 11:13] sonalinoolkar commented on #48990
Sure.I will.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Mike Ubezzi <notifications@github.com>
Sent: Monday, March 2, 2020 11:37:11 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Sonali Jaydeep Noolkar (Infosys Ltd) <v-sonool@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftD

[2020-03-03 11:15] mlandtved commented on #48968
I agree with you, that I can use a try/catch block if I want to log using the Ilogger interface. But if Application insight is configured for a function app, and I don't use a try/catch block, uncaught exceptions are still published to Application insight. I think you should clarify that in the article, that exceptions can be logged without using a try/catch block

[2020-03-03 11:15] DixitArora-MSFT commented on #49343
Hi @mslot Thanks for reaching out. We will review and update as appropriate.

[2020-03-03 11:25] jtuliani opened #49351 "States static IP not supported"
...but it is supported surely for AZ gateways which use standard tier public IPs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23ea6caa-e264-886b-1866-83dc97fa64ac
* Version Independent ID: c637826b-b3b5-e936-a1f9-743ea87c57a4
* Content: [Tutorial - Create and manage a gateway using Azure VPN Gateway](https://docs.mic

[2020-03-03 11:28] michaelelleby commented on #49259
This seems to be a problem only when you use a parameters file.

Template file
[code]

Parameters file
[code]

Deployed using PowerShell 5.1 and Az module version 2.4.0 with the cmd `New-AzResourceGroupDeployment -ResourceGroupName myresourcegroup -TemplateFile .\template.json -TemplateParameterFile .\parameters.json -Verbose`

[2020-03-03 11:39] SGGIRBS opened #49352 "Defender (ATP) platform support"
According to this article: https://docs.microsoft.com/en-us/azure/security-center/security-center-wdatp
Security centre now has defender support for Windows Server 2016, 2012 R2, and 2008 R2 SP1.

This artcle: https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-atp/configure-server-endpoints
Also suggests you can onboard those OS's

Does this conflict with the 'S

[2020-03-03 11:39] tarvoe commented on #42861
I had exactly the same issue when choosing windows. ("You do not have permission to view this directory or page")
However when choosing Linux it worked fine.

[2020-03-03 11:48] RohitMungi-MSFT commented on #49338
@IEvangelist According to the documentation

The source language should be one of the language from this [table](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/language-support#speech-to-text) and the target language might vary depending if the translation is to speech or text. If the target is text then the available languages are as mentioned in this [table](https://doc

[2020-03-03 12:05] SamirFarhat opened #49353 "Do Blueprints Artifacts support Sub_'Object' Parameters ?"
I have an Artifact of type CustomPolicy. This artifact has a static blueprint level parameter

{
 "diskencryption_policy_effect": "[parameters('VMS-GS13-X-1_DiskEncryption')]"
 }

It works --&gt; When i create the Blueprint, it shows me that the value needs to be set during assignment (Picture 1)

![image](https://user-images.githubusercontent.com/14938496/75774186-ad543d00-5d4f-11ea-9a4c-09c64b85

[2020-03-03 12:08] crackalak commented on #31380
When deployed via "Run From Package", you cannot edit the web.config.

Instead of adding the additional code, you can set the values of the following environment variables to `true`, from within the Application Settings section in the portal:

`ASPNETCORE_CAPTURESTARTUPERRORS`
`ASPNETCORE_DETAILEDERRORS`

You should then see the stack trace of the startup exception when you refresh the page.

[2020-03-03 12:09] RohitMungi-MSFT commented on #49347
@IEvangelist Could you please elaborate on the term offline container and it's billing methodology?

[2020-03-03 12:19] v-nagta commented on #46603
@mirceacraciun

It is mentioned in the Doc under the [AuthnRequest](https://docs.microsoft.com/en-us/azure/active-directory/develop/single-sign-on-saml-protocol#authnrequest) section about IsPassive parameter.

![image](https://user-images.githubusercontent.com/27479164/75775061-3763cc00-5d77-11ea-8197-b2db484323d8.png)

[2020-03-03 12:32] ketan-chawda-msft commented on #49332
@rphoon Thank you for your question! We will review and provide an update as appropriate.

[2020-03-03 12:34] ketan-chawda-msft commented on #49339
@Vivekmis Thank you for your question! We will review and provide an update as appropriate.

[2020-03-03 12:35] ketan-chawda-msft commented on #49341
@ChrisSommers Thank you for your feedback! We will review and provide an update as appropriate.

[2020-03-03 12:37] LorenzPensaert opened #49354 "Authenticating with multiple subscriptions linked to your account"
Hi,

When following this tutorial I encountered a problem with it. If you have access to multiple tenants and subscriptions it will try to generate create the config using ws = Workspace.from_config(). However it might be that it will select the wrong tenant and/or subscription which was the case for me, so instead of using this line of code I replaced this with the following which allows you to s

[2020-03-03 12:38] ketan-chawda-msft commented on #49348
@tom-rb Thank you for your feedback! We will review and provide an update as appropriate.

[2020-03-03 12:41] ketan-chawda-msft commented on #49349
@TechWatching Thank you for your feedback! We will review and provide an update as appropriate.

[2020-03-03 12:42] ketan-chawda-msft commented on #49351
@jtuliani Thank you for your feedback! We will review and provide an update as appropriate.

[2020-03-03 12:44] ketan-chawda-msft commented on #49352
@SGGIRBS Thank you for your feedback! We will review and provide an update as appropriate.

[2020-03-03 12:45] ketan-chawda-msft commented on #49353
@SamirFarhat Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-03-03 12:46] SGGIRBS commented on #49352
Hmm I might answer my own question here. ATP isn't really for endpoint protection, it works in conjunction with defender or Trend AV for example.

[2020-03-03 12:46] #49352 closed

[2020-03-03 12:48] robert4os opened #49355 "scikit model de/serialization problems because of version conflicts"
Hi,

I am running into de/serialization problems because in these tutorials scikit version is not fixed and a different version is used at different places: i.e. compute target for training, vs compute instance (to power notebooks) vs scoring containers.

This issue is around since the beginning of this tutorial and always cause deprecation warnings, now it is starting to break...

I am using scik

[2020-03-03 12:51] nalhemyariirexorg commented on #49300
Done, please share with your team, I hope you’ll be able to help voting for it

Noor

From: Marilee Turscak - MSFT <notifications@github.com>
Sent: Monday, March 2, 2020 2:51 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Noor Alhemyari <nalhemyari@irex.org>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] need a way to be notified when a new versi

[2020-03-03 12:55] donchai opened #49356 "Support of SetHttpsProxy"
Hello, Is there a road map to support proxy settings in HTTPS instead of HTTP as this is a fundamental transport encryption requirement.

URL: https://docs.microsoft.com/en-us/azure/api-management/api-management-advanced-policies#SetHttpProxy

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5310021d-de39-9418-2a55-ccdd9c

[2020-03-03 13:01] macambo commented on #49169
Please reopen the issue.

Here is the URL. Please let me know if you need any additional information.

https://docs.microsoft.com/en-us/azure/storage/blobs/storage-quickstart-blobs-python

[2020-03-03 13:16] mirceacraciun commented on #46603
Hi Nagireddy,
I saw this one but where we should add this parameter?in Azure or in Fiori .In both cases I need more info of where I should add it.
thank you,
Mircea

[2020-03-03 13:19] aelij opened #49357 "Cloning repo fails on Windows"
[code]

Linux works as expected.

[2020-03-03 13:22] diberry commented on #45926
@dipinn26592 Can you tell us more about your bot?

* What channel does it work in? web?
* What channel does it not work in? Teams
* Did you start your bot from a sample or from the publish page "Create bot" or did you have a bot joined?
* Which bot SDK version and language are you using?
* Can you share your bot mutli-prompt code - even in rought/suedo code fashion?
* Can you share your KB - just

[2020-03-03 13:24] mb01r opened #49358 "Log Analytics Authentication"
Hello,
This doc skips the authentication step.  I've tried updating the "Web.Contents" with the workspace primary key. I still get an authentication error. Can you please update this page to include authentication?
Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: daf84287-d3e6-38f3-e67d-41b7aaf350ce
* Version

[2020-03-03 13:29] NavtejSaini-MSFT commented on #49060
@vanthoainguyen From the looks of it, I would advise you to contact support and raise an issue. Still for further insight, assigning this to doc author. Usually they work on issues related to the GitHub docs and not the specific issues with the product. If they also advise to go to support, that will be the best course of action.
@ThomasWeiss @SnehaGunda Please advise regarding the above issue.

[2020-03-03 13:36] krymzn opened #49359 "macOS Catalina issue"
after downloading the VPN Client zip file from the portal, the Generic\VPNServerRoot.cer file imports as keychain item by the name of "DigiCert Global Root CA" but it doesnt show up as a certificate when you're configuring VPN settings in the Network Settings.
Please help.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-03-03 13:37] IEvangelist commented on #49329
Hi @mansi-aggarwal-2504,

As of right now, all the languages supported and corresponding locales are listed. We maintain this list regularly. If it is not listed, assume it is not supported. I apologize for any inconvenience.  #please-close

[2020-03-03 13:37] #49329 closed

[2020-03-03 13:41] shaeussler opened #49360 "Pfx-file with no password"
Generating certificates with certGen.sh
The generated pfx-file needs no password.
I have to remove the password from the following line of code:
var cert = new X509Certificate2(@"&lt;absolute-path-to-your-device-pfx-file&gt;", "");

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90f2e322-a9a1-8887-58ce-324eab7661d2
* Ve

[2020-03-03 13:43] torfulle opened #49361 "Missing DevOps Projects Move Support"
Hi I was just looking to see if can move a DevOps project across subscriptions and it does not appear to be on this page. I did however find this reference that states you cannot: https://developercommunity.visualstudio.com/idea/365852/ability-to-move-azure-devops-projects-between-azur.html , Can we update this page for move support?

---
#### Document Details

⚠ *Do not edit this section. It is r

[2020-03-03 13:44] IEvangelist commented on #49338
Hi @Pancat007 and @RohitMungi-MSFT,

I'm looking into this...but I believe that the Speech Translation is a different service offering than Microsoft Translator, thus they have different language support. Trust the Speech Translation docs for language support, when using the Speech Translation service offering. But I'll get confirmation on that and report back soon.

[2020-03-03 13:48] IEvangelist commented on #49347
Hi @robert4os and @RohitMungi-MSFT,

Thank you for reaching out and inquiring into the term "offline containers". Offline containers are not yet available to the general public, however; we're looking to change that in the near future. An offline container is intended to operate fully disconnected from Azure, not even reporting metering / billing information. Stay tuned... #please-close

[2020-03-03 13:48] #49347 closed

[2020-03-03 13:48] juniwang opened #49362 "How to add compound identity using cli"
For the "User plus application access(referred to as compound identity)", how to add compound identity to a key vault using cli? all I can find on internet are using powershell.

 I tried cmd like `az keyvault set-policy -n myvault --object-id user_object_id --spn app_id --secret-permissions list` but get error `az keyvault set-policy: error: specify exactly one: --object-id, --spn, --upn`.

My az

[2020-03-03 14:00] tClelford commented on #5131
@merso0027 If you're running 2.x and getting `The type or namespace name 'CosmosDB' could not be found (are you missing a using directive or an assembly reference?)` then you need to install the `Microsoft.Azure.WebJobs.Extensions.CosmosDB` package.

[2020-03-03 14:11] sujayvsarma opened #49363 "How do you provide the "Location" parameter value when deploying via REST API?"
For **Subscription** scope deployments

Neither of these two documents:
1) https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/deploy-rest
2) https://docs.microsoft.com/en-us/rest/api/resources/deployments/createorupdateatsubscriptionscope

... provide information on how to set the `location` parameter when deploying via REST API. They only provide examples for PowerShell or Az

[2020-03-03 14:13] landro commented on #42222
Any updates on this? @malopMSFT

[2020-03-03 14:20] pcamposs commented on #48878
The same problem ...
PS C:\Users\demo\Downloads\AzFilesHybrid> New-AzStorageAccountKey -ResourceGroupName XXXXX -Name YYYYYYY -KeyName kerb2
New-AzStorageAccountKey : Key name kerb2 is not valid.
At line:1 char:1

[2020-03-03 14:23] BeameX commented on #16376
@chetansriv We just had a meeting with Concur and they have NOT fixed their messaging on this.

[2020-03-03 14:24] smf723 opened #49364 "Can we have access to the V2 Form Recognizer container?"
Or at least provide us with a time frame as to when it will be available? It's been in preview for a while now as a service in Azure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a36a9196-5e31-1d88-115b-75dfb0b3fb0f
* Version Independent ID: 51db9675-eb67-a325-cd10-a2fbff8e102a
* Content: [How to install and run cont

[2020-03-03 14:31] gbrock-intraprisehealth commented on #48385
Is there any update to this thread?

From: AmanpreetSingh-MSFT <notifications@github.com>
Reply-To: MicrosoftDocs/azure-docs <reply@reply.github.com>
Date: Sunday, February 23, 2020 at 10:57 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Greg Brock <gbrock@intraprisehealth.com>, Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] B2C logout ending exte

[2020-03-03 14:39] BeameX opened #49366 "Concur messaging."
We just had a meeting with Concur and they have NOT fixed their messaging on automatic user provisioning and claims they will stick with text file based provisioning for 20 more years. :-(

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e98995c-09f1-2c1d-fd55-27f978e8262c
* Version Independent ID: 40a8b6e7-dae3-172a-53

[2020-03-03 14:43] mwlootens opened #49367 "Use instance fields for calculations"
Can I use the instance fields to calculate variables for a given type? And if so, how?
So far I only see event data being used ($event.[value].double), but what if I need a static value?
Something like $instance.[fieldname].Double would help but it doesn't seem to work like that...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2020-03-03 14:48] KalyanChanumolu-MSFT commented on #49349
@TechWatching Thank you for the detailed feedback.
This [functionality](https://feedback.azure.com/forums/263030-azure-cosmos-db/suggestions/31202527-deploy-stored-procedures-from-source-control) is currently planned for a future release based on user feedback.
Please upvote and follow the link to get updates when the feature is live.

[2020-03-03 14:54] msrini-MSFT commented on #49351
@cherylmc , Can you please update the doc?

[2020-03-03 14:55] vhorne commented on #49109
updated
#please-close

[2020-03-03 14:55] #49109 closed

[2020-03-03 14:59] DangerMoose87 opened #49369 "REST API Monitor registered provider not found"
Hi,

I am trying to enable various alerts using the REST API on a VM. I am using this command:

armclient GET "subscriptions/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/resourceGroups/DanTemp/providers/Microsoft.Compute/virtualMachines/xx-montest-vm01/providers/Microsoft.WorkloadMonitor/monitors?api-version=2018-08-31-preview"

It returns this error:
"workloadState": "Unitialized",
  "description": "Disc

[2020-03-03 14:59] TechWatching commented on #49349
Thanks for the answer. Do you have hany release date planned ? Because the Azure Cosmos Db Teams answer is from August 2019.

[2020-03-03 15:00] legarasu opened #49370 "RBAC with Service principal in another Azure AD"
In this scenario, two Azure AD in the same subscription like A.onmicrosoft.com and B.onmicrosoft.com, is it possible in A.onmicrosoft.com assign RBAC using an account in B.onmicrosoft.com?
In particular, having a Service principal (an application) in B.onmicrosoft.com, could this application access/use a resource in A.onmicrosoft.com? like assign Storage resource access to application for example.

[2020-03-03 15:14] KalyanChanumolu-MSFT commented on #49349
Unfortunately, we do not have a release date to communicate.
Meanwhile did you check the [deployment options](https://docs.microsoft.com/en-us/azure/cosmos-db/manage-sql-with-resource-manager#create-an-azure-cosmos-db-container-with-server-side-functionality) via Powershell or CLI.
You should be able to easily integrate these with your CI/CD process.

[2020-03-03 15:14] bertrandpons opened #49371 "Failed to add App Service Certificate to the app"
Hello,

Having the App Service with the get permission on secrets in Key Vault, I am not able to import an app service certificate. I face the following error:

"Failed to add App Service certificate to the app, Check error for more details. Error Details: The service does not have access to '/subscriptions/XXXXXXXXX/resourcegroups/XXXXXXXX/providers/microsoft.keyvault/vaults/XXXXXXX' Key Vault. P

[2020-03-03 15:15] baanders commented on #33665
Thank you all for the discussion. It appears the original questions in this issue have been addressed, and it now hangs open on possible notification of future features that may or may not become available. Opting to close the issue based on this, rather than leaving it open indefinitely.

I am taking over Azure Digital Twins content and will continue to monitor for the features @KingdomOfEnds des

[2020-03-03 15:15] baanders commented on #33665
#please-close

[2020-03-03 15:15] #33665 closed

[2020-03-03 15:20] GiftA-MSFT commented on #49364
@smf723 we will review your feedback and get back to you shortly. Thanks.

[2020-03-03 15:21] GiftA-MSFT commented on #49355
@robert4os we will review your feedback and get back to you shortly. Thanks.

[2020-03-03 15:23] GiftA-MSFT commented on #49354
@LorenzPensaert we will review your feedback and get back to you shortly. Thanks.

[2020-03-03 15:25] TechWatching commented on #49349
In fact my infrastructure is already managed by another team using Terraform. So my CosmosDb account, the database and containers are already deployed with Terraform. The only parts missing are the indexes and the stored procedures. I am not sure it's a good idea or even possible to mix Terraform and ARM templates scripts in that case, especially as it's not my team which managed the creation of t

[2020-03-03 15:27] BharathNimmala-MSFT commented on #48885
@corporateg Thanks for the feedback, PR has been raised and post review the changes would go live this week. Closing this issue , feel free to revert back if you have any further queries.

[2020-03-03 15:27] #48885 closed

[2020-03-03 15:31] SinnwellR commented on #43308
@FrankHu-MSFT - 3-4 months later and this document is still out of date.  It appears that Microsoft no longer allows you to see any details about why they classified the user as Risky.  I guess the only thing we can do is take Microsoft's word for it and force the user to reset their password, then Dismiss the entry?  This seems counter-intuitive because we should be able to see at the very least

[2020-03-03 15:32] jitendra1981 commented on #48230
Thanks Srini for your response -
We have again encountered internet not working issue on Prod environment (Below we have configuration)

1. Azure VM with Multiple NIC (Same subnet) this is being followed by long time (add extra IP with additional NIC)

2. When I disabled additional NIC, Internet started, Again enabled still internet working fine.

3. I compared Route (before\after 2nd NIC Enable\D

[2020-03-03 15:38] lyrana commented on #49112
@olivoarroba I hope the above helps, and see this [link](https://docs.microsoft.com/en-us/rest/api/time-series-insights/preview#time-series-expression-and-syntax) for the Time Series Expression (TSX) syntax with examples

[2020-03-03 15:43] dkamstra commented on #48952
The fix for this issue has been deployed.

[2020-03-03 15:49] koyasuda-msft opened #49372 "mistake command"
I found following easy mistake in a command.

Now
Set-AzVmssStorageProfile $vmssConfig `
  -ImageReferencePublisher MicrosoftWindowsServer `
  -ImageReferenceOffer WindowsServer `
  -ImageReferenceSku 2016-Datacenter `
  -ImageReferenceVersion latest
  -OsDiskCreateOption FromImage

Correct
Set-AzVmssStorageProfile $vmssConfig `
  -ImageReferencePublisher MicrosoftWindowsServer `
  -ImageReference

[2020-03-03 15:49] msrini-MSFT commented on #48230
If you haven't changed the primary nic from the Portal or PS, please check if there are any changes done on your guest OS level. We don't have any logging for changes happening in guest OS level.

[2020-03-03 15:50] DixitArora-MSFT commented on #49356
Hi @donchai Thanks for reaching out. We will review and update as appropriate.

[2020-03-03 16:01] cephalin commented on #48678
@darzu Sorry for the delay. The doc is updated with the information and it should be published sometime today. #please-close

[2020-03-03 16:01] #48678 closed

[2020-03-03 16:02] SamaraSoucy-MSFT commented on #49003
@mshinnie do you have further questions or are we good to close this issue?

[2020-03-03 16:06] DCtheGeek commented on #49353
@SamirFarhat The `parameters(parameterName)` function expects **parameterName** to be of type _string_, so doesn't work with _object_. You can see the details for the function in the [Blueprint functions reference](https://docs.microsoft.com/azure/governance/blueprints/reference/blueprint-functions#parameters-2). If you think it should support _object_, please create a suggestion on [UserVoice](ht

[2020-03-03 16:06] #49353 closed

[2020-03-03 16:07] SamirFarhat opened #49373 "ARM Functions are not supported"
Hi,
Quote
"A Resource Manager Template artifact supports the full use of Resource Manager functions in addition to getting a dynamic value through a blueprint parameter."

When using for example the 'array' function, it tells me that this is not supported.
#[error]This artifact is invalid. Error: 'The function 'array' is not valid.

{
    "kind": "roleAssignment",
    "properties": {
        "disp

[2020-03-03 16:08] mmacy commented on #48856
@neeleshray-msft I've moved to another service, reassigning to @msmimart for followup.

#reassign:msmimart

[2020-03-03 16:08] DCtheGeek commented on #49373
#assign:DCtheGeek

[2020-03-03 16:09] fgauna12 opened #49374 "Problems with Windows Instructions"
When I run the commands from Powershell, to install Linkerd and add to my path, it destructively removes other Paths.

For example, I had:
- Git
- Chocolatey
- Kubectl

All to which no longer exist in my path

From the instructions:

[code]

I believe the last line breaks the system environment variables.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2020-03-03 16:14] DCtheGeek commented on #49373
@SamirFarhat This looks related to your other question in #49353. If you look at the [Example for parameter()](https://docs.microsoft.com/azure/governance/blueprints/reference/blueprint-functions#example-2), this can work. The parameter should be declared as **type** _array_ and then should be passed directly to **principalIds**.  No need to wrap it with `array()` if it's already defined as an arr

[2020-03-03 16:14] #49373 closed

[2020-03-03 16:19] SamirFarhat commented on #49373
Hi,
It's not related.
My question is 'Are all the ARM functions supported or not' like quoted above.
I can use array() or provide directly an Array, this is really our choice, so i don't think it's wrong to put it that way.
Let us reopen it please
Regards

[2020-03-03 16:21] DCtheGeek commented on #49373
It appears like it to me, but I may misunderstand what you are pointing out.  Calling `parameters('Reader').readers` indicates you are still trying to use an _object_ as the parameter.  Can you share how you define the parameter in the Blueprint and the value you are passing to it so I understand better?

[2020-03-03 16:22] IanKensey opened #49375 "Run button is now Submit"
In the "Run the pipeline" section, the instructions ask you to select "Run" from the top of the canvas, but there isn't a run option.  There is however a "Submit" option.  From what I can tell, the Submit button is the Run button.  The instruction needs to be updated to match the current interface.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2020-03-03 16:22] griff1000 opened #49376 "Formatting of this page needs sorting out"
As of right now the sample is incomplete and the text on the page doesn't really match up with the code sample being shown, just needs a bit of reformatting

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7cf376a4-4551-ef9d-f7dc-da6e8850398c
* Version Independent ID: e5023416-823e-62bc-2c32-d6e829eead18
* Content: [Mana

[2020-03-03 16:23] SamirFarhat commented on #49353
Hi,

This is not an object. The object is the Blueprint Parameter, but the Artifact Parameter is a string, contained within the BP Object.
My question is why [Parameters('something')] works but [Parameters('something').somethingelse] has different behavior
Please reopen

[2020-03-03 16:25] DCtheGeek commented on #49353
Please provide how you define the parameter in the blueprint definition to help me evaluate this issue.  Thank you.

[2020-03-03 16:31] code-vega opened #49377 "Clarify "Outbound to Azure SQL Database Public IPs is required""
Could someone clarify/expand on this?
"Outbound to Azure SQL Database Public IPs is required: Network Security Groups (NSGs) must be opened to Azure SQL Database IPs to allow connectivity. You can do this by using NSG Service Tags for Azure SQL Database."
&gt; Does this mean I have to create an outbound rule on my database server's NSG to allow the public IP of the VNet? If so, what would the rule

[2020-03-03 16:32] PeterCLu commented on #48242
@DanyEle  Thanks for your report.  This has been added to the documentation backlog. we shall proceed to close this issue, #please-close.  If you feel that your issue has not been resolved, please reopen the documentation issue and provide additional context. For product issues, contact technical support.

[2020-03-03 16:32] #48242 closed

[2020-03-03 16:33] IanKensey opened #49378 "Run the pipeline"
In the Set up pipeline run dialog box, select + New experiment for the Experiment.  This does not match the current interface.  There are now two radio buttons, which let you choose: select existing, or create new.  You need to select "Create new" in order to match the current instructions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2020-03-03 16:34] ChiragMishra-MSFT commented on #49127
@meenaTrex This channel is for driving improvements towards MS Docs, Since this issue is not related directly to the doc,  I would recommend you to create a thread on the forums- [MSDN ](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDataFactory)/ [Stackoverflow](https://stackoverflow.com/questions/tagged/azure-data-factory). Once you post your issue on forums, it will have visibil

[2020-03-03 16:34] #49127 closed

[2020-03-03 16:38] SamirFarhat commented on #49353
Hi,
It's not an issue since when assigning the policy, it works, but we make it work after a while since the portal behavior was different.
Let us say i have a blueprint that have 2 artifacts. Artifact 1 requires a parameter X, Artifact 2 requires a parameter Y

In my Blueprint definition, i have used two Parameters A (string) and B (object). The B object contains a string y
####
{
	"properties" :

[2020-03-03 16:39] SaurabhSharma-MSFT commented on #48960
@grahambird80 The PR for the fix has been created and it will be merged as soon once reviewed by the author and stands correct. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2020-03-03 16:39] #48960 closed

[2020-03-03 16:40] DCtheGeek commented on #49353
@alex-frankel Can you take a look at this?

[2020-03-03 16:40] KrishnaG-MSFT commented on #49337
@gpj1 Glad to know that you have self resolved and hence closed the issue. Thanks for the update.

[2020-03-03 16:43] SamirFarhat commented on #49373
Hi,
I have explained it on https://github.com/MicrosoftDocs/azure-docs/issues/49353. My question here is different: Are all ARM Functions supported as 'blueprint ARM functions' ?

[2020-03-03 16:45] ksaye commented on #36838
Thanks, I am not blocked.  Sorry for going dark.

[2020-03-03 16:46] DashleenBhandari-MSFT commented on #49308
@thdotnet , The StrechMode is defaulted as AutoSize so that the output resolution is automatically adjusted to match the display aspect ratio of the input video. If the customer likes to keep the exact output resolution set in the preset, the StrechMode should be set as “None”. Here is the link about StretchMode:
https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.management.media.models.s

[2020-03-03 16:50] cecilphillip commented on #49328
@KalyanChanumolu-MSFT @yegu-ms  I get what it does but if you look at the rest of the code samples, `lazyConnection.Value` is used everywhere else; which is the same thing that the connection property returns.

I might be missing something, but I don't see the benefit of having readers copy extra code that isn't necessary for the quick-start to work.

[2020-03-03 16:50] ksaye commented on #35692
@kgremban, any update on if will be supported?

@ppavanm, any details to share?

[2020-03-03 16:51] fgauna12 opened #49379 "Failing linkerd pre-check - no clock skew detected"
I ran the pre-checks

[code]

My AKS cluster is on East US.
Kubernetes Version: 1.14.8

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a2af47b-50dd-05a8-b18f-fc0cfba31688
* Version Independent ID: f4cd2c55-1ed7-9ffa-22b1-3f8b994da7b7
* Content: [Install Linkerd in Azure Kubernetes Service (AKS) - Azure Kubernetes Servi

[2020-03-03 16:53] mycloudarchitect opened #49380 "Imcomplete sentence"
Considerations:
After enabling a service endpoint, the source IP addresses of virtual machines in the subnet switch.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1eb0407d-f4a5-6059-488d-fd082915c675
* Version Independent ID: 7c2fb429-743c-aea0-f1d5-de6dc2e62e8e
* Content: [Azure virtual network service endpoints](htt

[2020-03-03 16:55] johndeu commented on #49017
There is currently no DRM bindings for just static MP4 files. Playready, Widevine and Fairplay never provided any DRM binding for standard MP4 files.
The only specification is the Common Encryption spec, which defines how to encrypt a fragmented Mp4 file.
It is still possible to download the fragmented MP4 file and use offline DRM from the major vendors to do what you want - which would be the fea

[2020-03-03 16:57] IanKensey opened #49381 "Create a real-time inference pipeline - submit / run button"
In this section, "Create a real-time inference pipeline", the instructions ask you to select run, but in the interface, it is now submit.  The instructions need to be updated to match the interface.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d019e5f-d971-b4f4-5fcf-2072ad30dec7
* Version Independent ID: 14a7de84-6c

[2020-03-03 16:57] PeterCLu commented on #49375
Thanks @IanKensey for the feedback. That's definitely an issue and we'll work on getting the instructions and any screenshots updated.

[2020-03-03 16:58] PeterCLu commented on #49378
Thanks @IanKensey as you've noticed, the product has made some recent changes to its UI that we need to update our documentation to match. We'll be working on reaching parity very shortly.

[2020-03-03 17:01] danijam opened #49382 "Ability to name the Managed Identity in AAD"
I've been creating initiative assignments in my environment that includes polices that use deployIfNotExists. So therefore a managed identity is created (Shows up in Azure AD as a Enterprise Application)

My issue is that I can't seem to control the name. This is a problem as when you review access control permissions across Azure (IAM) you see this GUID type named App that has "Contributor" right

[2020-03-03 17:01] normesta commented on #19261
Hi @roysudi - I'm not too familiar with Azure CDN, but if you're using Verizon Premium, try this section - https://docs.microsoft.com/en-us/azure/cdn/cdn-verizon-premium-rules-engine-reference-features#header-features . Looks like there is a headers feature that you can use to modify request and response headers (including the ability to delete them). Perhaps this will work?

[2020-03-03 17:03] Anupamvi opened #49383 "DDoS prevention section is outdated and not accurate."
Need to refresh the DDoS prevention section with DDoS Protection Standard service. Details are available here:https://azure.microsoft.com/en-us/services/ddos-protection/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 594121fe-176f-2edd-77b2-6fcdb07819c2
* Version Independent ID: 9cb402e7-595a-f7c8-b747-ce60546d1b4f
* C

[2020-03-03 17:04] ealsur commented on #49376
@griff1000 Could you specify what is incomplete and what parts require reformatting and what would that imply?

[2020-03-03 17:08] lshunnarah77 commented on #49191
Hi, thank you again for the quick response.

Regarding the initial statement, the firewall I was referring to was the Azure SQL server FW settings that I had to allow our public IP we were coming from in order to connect.  I know this is the traditional setup with Azure SQL access protection, but it was basically me stating that the Azure SQL server was functioning in a traditional sense, and I co

[2020-03-03 17:08] rbmathis opened #49384 "a few typos and cli weirdness"
under Provision a  Service Step 5, typo for "az configure --defaults group=&lt;service group name&gt;", should be "&lt;resource group name&gt;"

There seems to be a bug in the CLI on Windows - When I run the "az spring-cloud app show --name gateway | findstr url", it returns a blank space, where the test seems to be black-on-black.  I'm able to copy from the blacked-out area, and if I reset the fo

[2020-03-03 17:08] DCtheGeek commented on #49382
#assign:DCtheGeek

[2020-03-03 17:09] MarileeTurscak-MSFT commented on #49383
@Anupamvi
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-03 17:10] MarileeTurscak-MSFT commented on #49362
@juniwang
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-03 17:10] MarileeTurscak-MSFT commented on #49331
@JimmyLS
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-03 17:12] MarileeTurscak-MSFT commented on #49366
@BeameX
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-03 17:13] MarileeTurscak-MSFT commented on #49370
@legarasu
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-03 17:15] hansmbakker opened #49385 "Unclear how to purge PAYG Time Series Insights environments"
It is unclear how to purge the data from Time Series Insights environments with the PAYG (Pay As You Go) pricing model.

Removing and recreating my TSI environment with the same name showed the old data again! It seems that something is going wrong there..

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2e671da-464f-ce

[2020-03-03 17:18] #49090 closed

[2020-03-03 17:19] DCtheGeek commented on #49382
@danijam The managed identity is created for you and you are correct, you have no control over the name.  Since this isn't an issue with docs, but a feature request, please make the request on [UserVoice](https://feedback.azure.com/forums/915958-azure-governance?category_id=345055). The team evaluates the ideas there to include for future planning.  Thanks!

@MicrosoftDocs/azure-cxp-triage Please

[2020-03-03 17:19] BharathNimmala-MSFT commented on #49358
@mb01r Thank you for your feedback, we will further look into it and get back to you at the earliest.

[2020-03-03 17:19] #49382 closed

[2020-03-03 17:21] BharathNimmala-MSFT commented on #49361
@torfulle Thank you for your feedback, assigned this issue to our document author @tfitzmac to further evaluate the feedback and update the document accordingly.

[2020-03-03 17:22] christiankuhtz commented on #49236
Correct.  NAT takes precedence over other outbound scenarios.

[2020-03-03 17:22] christiankuhtz commented on #49236
this is also explained in detail at https://docs.microsoft.com/en-us/azure/virtual-network/nat-gateway-resource

[2020-03-03 17:23] BharathNimmala-MSFT commented on #49363
@sujayvsarma  Thank you for your query, we will further look into it and get back to you at the earliest.

[2020-03-03 17:25] BharathNimmala-MSFT commented on #49369
@DangerMoose87 Thank you for your query, we will further look into it and get back to you at the earliest.

[2020-03-03 17:26] spmanjunath opened #49386 "Suggestion: A flow diagram depicting various components, and interaction would be helpful."
There is multiple steps involved in 'Protect your api with Azure AD', it would be helpful to visualize the implementation if there is a diagram depicting the flow.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 823eb96f-e5f1-0832-b175-0b31009be92f
* Version Independent ID: 330085ae-dcf6-e930-86a8-0e4a60ab1314
* Content

[2020-03-03 17:29] BharathNimmala-MSFT commented on #49169
@macambo Thank you for sharing the documentation link, reopened the thread and assigned to respective area SME to further look into it. Thanks

[2020-03-03 17:33] cephalin commented on #43823
@eestevao Actually, we strive to use industry terms in docs as they're defined by the industry instead of attempting to add our own definitions. We will leave this one as-is.

#please-close

[2020-03-03 17:33] #43823 closed

[2020-03-03 17:35] SamirFarhat commented on #49236
Thanks. It's the first time in history an outbound traffic takes precedence over the LB 😆

KR.
Samir Farhat

________________________________
From: Christian Kuhtz <notifications@github.com>
Sent: Tuesday, March 3, 2020 6:22:58 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Samir Farhat (MVP) <samir.farhat@live.com>; Mention <mention@noreply.github.com>
Subject: Re: [Microsoft

[2020-03-03 17:37] mbiver opened #49387 "Add Run Command>>SetRDPPort to this list"
I went through this list to troubleshoot RDP and the Run Command&gt;&gt;SetRDPPort feature on the VM Blade solved my issue.  I recommend adding it towards the top of the list since it's a pretty easy fix.  Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d7d17a6-a602-4374-45b5-92cdc5ee664b
* Version Independent

[2020-03-03 17:39] dcurwin commented on #48452
Thank you for your helpful feedback. We have updated the documentation accordingly.

#please-close

[2020-03-03 17:39] #48452 closed

[2020-03-03 17:46] tfitzmac commented on #49361
DevOps information is covered under [Microsoft.VisualStudio](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/move-support-resources#microsoftvisualstudio).

[2020-03-03 17:46] tfitzmac commented on #49361
#please-close

[2020-03-03 17:46] #49361 closed

[2020-03-03 17:51] smithre4 commented on #49280
Hi @webash, we are reverting this change as it is inaccurate. The "require approved client apps" grant control is limited to first party Microsoft apps. The "require app protection policy" grant control is only supported by a select set of apps, at this time. We'll continue to update this page as changes are made to either grant control.

[2020-03-03 17:52] Juliako commented on #40773
Hi @jolguk, i cannot reproduce the issue also please try our latest and most extensive .NET samples in the [Azure Media Services v3](https://docs.microsoft.com/en-us/samples/azure-samples/media-services-v3-dotnet/azure-media-services-v3-samples-using-net/) repository.

[2020-03-03 17:52] Juliako commented on #40773
#please-close

[2020-03-03 17:52] #40773 closed

[2020-03-03 17:53] PeterCLu commented on #47237
#reassign:@blackmist

[2020-03-03 17:56] PeterCLu commented on #49053
#assign:@sdgilley

[2020-03-03 17:57] PeterCLu commented on #49354
#assign:@trevorbye

[2020-03-03 17:58] PeterCLu commented on #49355
#assign:@sdgilley

[2020-03-03 18:04] ninarn commented on #34827
Can you please clarify what error messages you are seeing when you try to connect to the query editor?

[2020-03-03 18:04] thdotnet commented on #49308
I will it a try. Thank you

[2020-03-03 18:10] Juliako commented on #41460
The topic mentioned in the issue appears to have code. Also, seems like other questions have been answered  [here](https://stackoverflow.com/questions/58647595/azure-media-services-v3-specific-output-asset-container-name/58648074#58648074). See [manage assets](https://docs.microsoft.com/en-us/azure/media-services/latest/manage-asset-concept) for more info

[2020-03-03 18:10] Juliako commented on #41460
#please-close

[2020-03-03 18:10] #41460 closed

[2020-03-03 18:15] FrankHu-MSFT commented on #49366
@Beamex can you provide some more clarity/details around what you're suggesting in regards to the docs? It sounds like what you're saying is that the docs are not accurate per Concur's policy and they have decided to go down a different path that this doc will no longer be aligned with.

[2020-03-03 18:18] FrankHu-MSFT commented on #49370
@legarasu no, you can do multi-tenant application/delegated permissions on an AAD App Registration basis, but there is no RBAC across tenants.

If you're interested in this feature please submit it against the feedback here : https://feedback.azure.com/forums/169401-azure-active-directory

And if there's enough support the product team will look into it accordingly.

In regards to multi-tenant app

[2020-03-03 18:19] jftl6y commented on #49187
@Grace-MacJones-MSFT Unfortunately that link is also completely out of date and inaccurate (was last updated over two years ago).  Per our compliance documentation we are currently compliant under PCI DSS version 3.2.1.  This is why I suggest rather than providing guidance to a specific point in time compliance, simply link to our compliance page:  https://docs.microsoft.com/en-us/microsoft-365/co

[2020-03-03 18:20] chantoj-pg commented on #44806
The same issue is happening to me, it got resolved when I change the name of either the endpoint or the experiment, but I am not sure of why.

[2020-03-03 18:21] mhopkins-msft commented on #49296
@svengeance Thank you for taking the time to send us this feedback. I've created a work item to further investigate these issues.

 ~ _Mark_

#please-close

[2020-03-03 18:21] #49296 closed

[2020-03-03 18:21] ajopjo opened #49390 "typo expplaining the method CompareBooleanClaimToValue"
Checks that boolean value of a claims is equal to true or false, and return the result of the compression.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b22a0db8-0391-0479-a20e-5a9c82765571
* Version Independent ID: c9a7f125-6963-be5c-30b7-303e5e52ef04
* Content: [Boolean claims transformation examples for custom poli

[2020-03-03 18:22] Juliako commented on #32276
Please see [this topic](https://docs.microsoft.com/en-us/azure/media-services/latest/media-services-event-schemas#job-related-event-types) for details.

[2020-03-03 18:22] Juliako commented on #32276
#please-close

[2020-03-03 18:22] #32276 closed

[2020-03-03 18:22] mc0re commented on #49017
So you're saying that while the player is capable of playing offline DRM-protected files, there is no way to actually create such one? How did they test it, then?..

Anyway, I'd appreciate some more technical explanation of what a fragmented MP4 file is (related to the CENC / HSL / whatever other Locator one can create in Media Services), and how I can go about it :-)  If I understand you right, i

[2020-03-03 18:26] cherylmc commented on #49351
Investigating. The article is meant to be a tutorial for regular gateways. For tutorials, we are required to prescribe the exact settings for a typical gateway. So, it isn't meant to cover az gateways. However, I am investigating to see if we do now support dynamic for zone-redundant. We only supported static PIP in the past, even for az. If so, I will remove the second part of that note and updat

[2020-03-03 18:32] YutongTie-MSFT commented on #49381
@IanKensey
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-03 18:33] msereda opened #49392 "Missing user message for session does not exist"
Hi - for VerifyCode, a few user message overrides are mentioned on this page:

        &lt;Item Key="UserMessage.VerificationHasExpired"&gt;You have exceed the maximum time allowed.&lt;/Item&gt;
        &lt;Item Key="UserMessage.MaxRetryAttemped"&gt;You have exceed the number of retries allowed.&lt;/Item&gt;
        &lt;Item Key="UserMessage.InvalidCode"&gt;You have entered the wrong code.&lt;/Ite

[2020-03-03 18:33] johndeu commented on #49017
No.  Players are only capable of playing back fragmented MP4 content that complies with the CMAF specification.  IOS supports only CMAF via HLS with Fairplay DRM.  Android uses the EXOPLAYER framework and only supports Widevine DRM with CMAF content.
Everyone tests with HLS and DASH based content and fragmented MP4 that is packaged for compliance with CMAF and Common Encryption.  In that scenario

[2020-03-03 18:34] roysudi commented on #19261
Hi @normesta, thanks for getting back so quick!
Indeed there is and we do use the feature. However, they don’t let you set/unset certain headers, “Server” response header being one of them. Since the server info shows up if you don’t remove it, the app becomes vulnerable to “banner grabbing”

[2020-03-03 18:37] BharathNimmala-MSFT commented on #48952
@dkamstra Thank you for the confirmation on the deployment for the fix.

@nareshnagpal06 , @dlindner-elogic  Thank you for bringing this to our notice and apologies the experience you had because of this issue. Given the fix is deployed across the regions,  would request you to test out the creation of new action group and let us know if you still experience any issue.

[2020-03-03 18:37] #48952 closed

[2020-03-03 18:39] johndeu commented on #40797
There is no guidance for the RTMP protocol in Windows or Xamarin applications that we can provide currently.  There are commercial software libraries available from companies like Main Concept, or there is also the open source FFMPEG encoder library that could be embedded into your applications, but we (AMS) do not provide guidance on building an encoder.

[2020-03-03 18:40] artisticcheese opened #49394 "Please add statement about wildcard support for custom domain"
There seems to be still confusion about support for wildcard domain (*.mydomain.com) so DNS endpoint will handle all records in domain.com

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b32fbbf3-178d-a0ef-7c3a-87df74a8eb16
* Version Independent ID: 2475b34a-88e8-5b45-723d-ee0a62230b8a
* Content: [Tutorial - Add a custo

[2020-03-03 18:41] AjayKumar-MSFT commented on #49251
@TenZeroOne, Just checking to see if you have had a chance to see our response above. Please provide the Azure Doc URL for which this feedback is applicable to.

[2020-03-03 18:41] johndeu commented on #39048
Currently not supported in the Standard Encoder.  We will look at this for a future feature.

[2020-03-03 18:42] jabbera opened #49395 "What about MCA"
In the FAQ section https://docs.microsoft.com/en-us/azure/virtual-machines/linux/spot-vms#limitations under supported billing models, MCA is excluded.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5fc1cf2b-efba-fd67-2111-45a96fb9e407
* Version Independent ID: 7178f530-8b62-19f2-dcfc-2be2df9d6a52
* Content: [Use Azure

[2020-03-03 18:46] mc0re commented on #49017
I will rush answering you before you disappear :-)

I did go through that article, but now after your explanation it's somewhat more clear :-)  Those this phrase put me back on square one: "There are two options for hosting the PlayReady protected MP4 for progressive download".

Otherwise, as I understand, I need to:
* Create a locator for smooth streaming
* Download the streamed contents as "ismv

[2020-03-03 18:48] BryanTrach-MSFT commented on #49371
@bertrandpons Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-03 18:52] markjbrown commented on #49349
That User Voice needs to be marked as complete. ARM Templates have support for stored procedures, triggers and UDF's. PowerShell will be coming soon followed by CLI. Terraform you would need to ask them to add support for it. This is supported in our Resource Provider so there is nothing blocking them from adding this support.

Thanks.

[2020-03-03 18:54] markjbrown commented on #49349
btw, here is a sample, https://docs.microsoft.com/en-us/azure/cosmos-db/manage-sql-with-resource-manager#create-sproc

[2020-03-03 19:00] ohwellwhatever opened #49396 "User Assigned Managed Identity can also be used"
https://docs.microsoft.com/en-us/azure/app-service/overview-managed-identity?tabs=dotnet

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7feaa3d0-7233-a3cb-cb9b-a9a55b1f0d7a
* Version Independent ID: f41f9d51-52f8-1f45-1043-1344a3b74458
* Content: [Use Key Vault references - Azure App Service](https://docs.microsoft.com

[2020-03-03 19:00] theheatDK opened #49397 "Azure Portal and SAS?"
Hi,
It is a little confusing that the Azure Portal is not mentioned anywhere :-)
In my experince the Portal it the first place people go to learn about Azure ressources. As far as I can tell it is possible to create Account SAS in the Portal, but not Service ot user delegation SAS. Right?
Regards Peter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-03-03 19:01] ohwellwhatever opened #49398 "What is the polling interval to detect new versions of certificates?"
Assuming they auto update, how frequently does the App Service poll the Key Vault?  Is this configurable?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7feaa3d0-7233-a3cb-cb9b-a9a55b1f0d7a
* Version Independent ID: f41f9d51-52f8-1f45-1043-1344a3b74458
* Content: [Use Key Vault references - Azure App Service](https://d

[2020-03-03 19:02] DCtheGeek commented on #49373
@alex-frankel If you could, this is the other issue I mentioned. Thanks!

[2020-03-03 19:04] christiankuhtz commented on #48425
the destination VM was provided to create a complete e2e to avoid any issues in the path between the source and destination or any destination rate limiting etc. this tutorial is intended to be completely self contained.  of course, you can target any destination you want in your validation.

[2020-03-03 19:05] #49390 closed

[2020-03-03 19:06] johndeu commented on #43352
I'm assuming that you are using the v3 APIs in this case?

We previously had a method for finding the key delivery url in V2 -> https://docs.microsoft.com/en-us/dotnet/api/microsoft.windowsazure.mediaservices.client.icontentkey.getkeydeliveryurl?view=azure-dotnet

In v3, we actually removed it because the service just populates the manifest for you automatically.  Meaning, we handle the use of the

[2020-03-03 19:08] RicardoNiepel opened #49399 "API for retrieving these"
Is there any API for retrieving this mapping between resource provider namespace and Azure service?
If not - can we please implement this (e.g. adding it to the Azure Resource Graph)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16b4bb50-25ad-a3c6-f42a-84f33c84e362
* Version Independent ID: 6188226a-1f56-2a0a-fc57-4b8

[2020-03-03 19:12] iainfoulds commented on #48356
Hi, @MatthewMcD. Product group has confirmed that the new Edge is indeed a supported browser.

[2020-03-03 19:22] #48356 closed

[2020-03-03 19:27] kgremban commented on #36838
Thanks for following up @ksaye, and @rajb865 I see that you got a resolution through your stackoverflow post. I'm going to close this issue now.

#please-close

[2020-03-03 19:27] #36838 closed

[2020-03-03 19:35] kgremban commented on #35692
@ksaye No, I have no update about this being a supported feature. Since this issue is around feature requests, and we can't make any updates to the documentation for that, I'm going to close this issue. Thanks everyone.

#please-close

[2020-03-03 19:36] #35692 closed

[2020-03-03 19:38] ZanderFick-Accenture opened #49400 "Clarify passive tag assumptions when using a custom base_image"
Please calrify that, when using a custom image, a `:latest` tag will be added to the image path when pulled into an experiment.
If the target base_image is not tagged as `:latest`, i.e. `image:v1` a
Microsoft.MachineLearning.Common.WebApi.Exceptions.BadRequestExceptions is raised, stating that it cannot find `image` when, in reality, it should have stated that `image:latest` could not be found.

-

[2020-03-03 19:44] jeevansd commented on #46603
As this is the change in the SAML request it should be done on the SAP side.

[2020-03-03 19:53] SamaraSoucy-MSFT commented on #49293
Would it be possible to share the helper class code you are working on? It's not entirely clear to me if this is caused by a bug or something that would be a useful feature request. It's also possible that the issue could be solved in the helper class, but I would need the code to check. If you aren't comfortable publicly posting the code, you can send it to my attention at azcommunity(at)microsof

[2020-03-03 20:01] christiankuhtz commented on #49236
Not really ;-) public IP address resources used as instance-level public IP have always done that ;-).. there's already an existing order of precedence captured in https://aka.ms/lboutbound and NAT gateway builds on that notion and offers coexistence with inbound on the same subnet.

[2020-03-03 20:03] BeameX commented on #49366
Yes, correct. The people we have just met with from Concur seem to prefer to use an more old fashioned "csv based" approach with the justification that it is needed anyways to "enrich" the information in Concur.
If they really do not support this option then it should not be there.
Personally I would prefer a modern solution using some kind of SCIM like user provisioning like this offering via Azu

[2020-03-03 20:05] SamirFarhat commented on #49236
That was a joke 😋
We no longer see you on Azure Advisors. Where have you been?

KR.
Samir Farhat

________________________________
From: Christian Kuhtz <notifications@github.com>
Sent: Tuesday, March 3, 2020 9:01:36 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Samir Farhat (MVP) <samir.farhat@live.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-