[2021-08-09 17:01] RyanHill-MSFT commented on #79475
<div style="font-family: &quot;segoe ui&quot;, &quot;segoe ui web (west european)&quot;, &quot;segoe ui&quot;, -apple-system, blinkmacsystemfont, roboto, &quot;helvetica neue&quot;, sans-serif; font-size: 10.5pt; color: rgb(50, 49, 48);"><div style="font-family: &quot;segoe ui&quot;, &quot;segoe ui web (west european)&quot;, &quot;segoe ui&quot;, -apple-system, blinkmacsystemfont, roboto, &quot;he

[2021-08-09 17:11] JacobHollis opened #79483 "Linux php 8 containers now use nginx rather than apache"
This guide works fine for deploying a laravel app to php 7.x on a linux based app service but when using the php 8.0 stack the container seems to use nginx rather than apache so the prescribed step of adding a .htaccess file doesn't work anymore. Is there an easy way of acheiving the same result (eg pointing the app root at wwwroot/public) with nginx? The only ways I can find to do this would invo

[2021-08-09 17:11] BhargaviAnnadevara-MSFT commented on #79373
@cephalin Here is the commit/PR I referred to: https://github.com/MicrosoftDocs/azure-docs-pr/pull/142092 from about 6 months ago. There was also a User story linked within.

#reassign:cephalin

[2021-08-09 17:12] himanshusinha-msft commented on #79157
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2021-08-09 17:13] himanshusinha-msft commented on #79211
In the web activity at this time the timeout is hard coded to 1:00 min .

[2021-08-09 17:13] #79211 closed

[2021-08-09 17:18] SaiKishor-MSFT commented on #79473
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-08-09 17:22] RyanHill-MSFT commented on #79483
<div style="font-family: &quot;segoe ui&quot;, &quot;segoe ui web (west european)&quot;, &quot;segoe ui&quot;, -apple-system, blinkmacsystemfont, roboto, &quot;helvetica neue&quot;, sans-serif; font-size: 10.5pt; color: rgb(50, 49, 48);"><div style="font-family: &quot;segoe ui&quot;, &quot;segoe ui web (west european)&quot;, &quot;segoe ui&quot;, -apple-system, blinkmacsystemfont, roboto, &quot;he

[2021-08-09 17:32] pmaz21 opened #79484 "Disable/Delete"
Hi team,

It would be nice to have a reference within the salesforce and other SCIM apps docs of the following article that explain with more detail how SCIM provisioning and deprovision works.

https://docs.microsoft.com/en-us/azure/active-directory/app-provisioning/how-provisioning-works#de-provisioning

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2021-08-09 17:34] PaulCornellDB commented on #73029
Thanks for the clarification and additional details. I have filed a ticket in the Databricks bug tracking system: DOC-3036. We will update this Git issue when the ticket has been resolved. #label:"in-progress".

[2021-08-09 17:40] matt55119 opened #79485 "To which Azure environments does Rabbit MQ integration apply?"
[This document should address if the integration of Rabbit MQ applies to various Azure subscriptions:  Commercial, Government (GCC), GCC-High, DOD, etc.  Thank you.]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd67bad4-dd9b-e9be-ac1f-2c0509c709f1
* Version Independent ID: f193c624-2bc1-6024-f29e-cb0251206036
* Conte

[2021-08-09 17:45] laujan commented on #79451
Good catch. Thanks, @miguelarcilla

#please-close

[2021-08-09 17:45] #79451 closed

[2021-08-09 17:46] jdevalk2 commented on #69949
@jamesongithub Did you find more information on this?
I read it as option 2) When no zone is specified,  it is equivalent to all Zones knowing about the IP address.
But that is only my personal deduction.

[2021-08-09 18:02] #79366 closed

[2021-08-09 18:04] DerekHerman-MSFT commented on #79326
@Resmap I followed the quickstart step-by-step and did not run into any issues. I recommend checking the [Prerequisites](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-quickstart-blobs-python#prerequisites) and starting from the beginning in a fresh environment.
If you are still having issues I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/

[2021-08-09 18:04] #79326 closed

[2021-08-09 18:04] HeidiSteen commented on #78217
Sorry for the delayed response.  The issue was fixed last week, but we forgot to close the issue. All of the resource group names are now qualified to say which resource they apply to.

#please-close

[2021-08-09 18:04] #78217 closed

[2021-08-09 18:04] PaulCornellDB commented on #74946
I checked with the Databricks Engineering organization and can confirm they are aware of this issue. There are no further details to report at this time.

[2021-08-09 18:06] himanshusinha-msft commented on #79279
We have assigned the issue to the content author . They may be able to help .

[2021-08-09 18:07] himanshusinha-msft commented on #79299
@eosho  : Can you please let us know more on the error which you are seeing ?

[2021-08-09 18:11] stevevi commented on #74737
#please-close

[2021-08-09 18:12] #74737 closed

[2021-08-09 18:17] PrasantHub opened #79486 "Mistake in the documentation"
[Enter feedback here]

Under Pool section- it is mentioned as "If an pool does not". It should be "If a pool does not"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06b57bc7-a97e-947c-442f-7ffbf13aa6cb
* Version Independent ID: 9dd5e8a5-ce82-6e15-bcfa-939c431cf709
* Content: [Configure clusters - Azure Databricks - Wo

[2021-08-09 18:21] AjayKumar-MSFT commented on #79116
Thanks for sharing all the additional details. I'm checking on this internally and will get back to you soon.

[2021-08-09 18:27] videlalvaro commented on #79485
Hi @matt55119

I authored the OG document you are linking here.

Basically wherever an AMQP endpoint is enabled, the techniques explained in the article would apply.

So it's not RabbitMQ specific, but more about ServiceBus and Event Hubs.

[2021-08-09 18:29] jamesongithub commented on #69949
No, it would be good to get some clear documentation from microsoft regarding this.

[2021-08-09 19:00] Cmohan commented on #75378
No, since this issue is not related to Functions at all. The issues is the documentation for deploying Static Web Apps from Azure Dev Ops is missing information.

[2021-08-09 19:01] pmpopovichjr opened #79489 "issue with demo"
I think the steps to deploy the storage don't work, I'm 0-2 at the moment. I think the issue is in not having a storage account defined first, but not 100% positive that is the answer. Currently when you build AKS out of the azure portal and run this bit:

kubectl apply -f <Path to pvc.yaml file> -n <namespace name>

using my name for yaml / namespace in AKS I just see it pending for >30 minutes.

[2021-08-09 19:05] cynthn commented on #79467
@ju-shim FYI :)

[2021-08-09 19:08] SaurabhSharma-MSFT commented on #79325
@Dickkieee, I have tested this and it worked as expected.  You may have missed to select the expression check box as shown below -
![image](https://user-images.githubusercontent.com/38112130/128760618-e8045ac3-341e-4bf9-a76c-7d263effb438.png)

Thanks
Saurabh

[2021-08-09 19:09] ecfan commented on #78864
@v-hakob: I created a doc work item to add these clarifications at some point. Closing this thread as no other action is necessary.

@MayankBargali-MSFT: #please-close

[2021-08-09 19:09] #78864 closed

[2021-08-09 19:16] SadiqhAhmed-MSFT commented on #79469
@mmitchellcit Thank you for your post. This link - https://docs.microsoft.com/en-us/azure/site-recovery/service-updates-how-to#support-for-latest-operating-systemskernels is to check the supported kernel version for your machines that you will be replicating to Azure.

[2021-08-09 19:20] mmitchellcit commented on #79469
I saw that link, but it is unclear whether that refers to the configuration server, or the replicated servers that are being protected. So does this mean that if that procedure is followed, the configuration/process/master target server can be upgraded in-place from 2012 R2 to 2016?

[2021-08-09 19:34] MonikaReddy-MSFT commented on #79457
Great, thanks for confirming.

[2021-08-09 19:38] MonikaReddy-MSFT commented on #79478
@HitenBhavsarMSFT -Thanks for bringing this to our attention.

I see that you have raised another issue regarding the similar problem here - https://github.com/MicrosoftDocs/azure-docs/issues/79481

Hence closing this out as we will take care of the issue as part of other Github issue.

[2021-08-09 19:38] #79478 closed

[2021-08-09 19:39] MonikaReddy-MSFT commented on #79481
@HitenBhavsarMSFT - Thank you for your question.
Can you please share with us the URL of the document that you are having issues with?

[2021-08-09 19:47] HitenBhavsarMSFT commented on #79481
Here is the link of the doc, which need updated.

https://docs.microsoft.com/en-us/azure/azure-sql/database/threat-detection-configure?WT.mc_id=pid:13491:sid:32630457%2F

[2021-08-09 19:57] AnuragSharma-MSFT commented on #79319
@metu Thanks for your patience. **_From_** keyword is not optional as we need to specify the data source from which we need to query the data. In this case the data source would be container, same as in sql where we have data source as tables. Without specifying it we would not be able to run the query as **_where_** also would need us to specify the list of properties need to be present in our co

[2021-08-09 19:59] AnuragSharma-MSFT commented on #79489
@pmpopovichjr Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-08-09 20:55] ergopotato opened #79491 "Screencap Update needed"
[The UI of the site/org admin area in Atlassian organizations (as well as the UI of all Atlassian Cloud applications) changed at least a year ago, so most of the screencaps in this tutorial are out of date and confusing to folks trying to get this set up.  Can someone go through and update those? ]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2021-08-09 21:56] hb66772-home commented on #78229
See the bicep file here from my repo.  Be advised: Variable values have been altered from original values

https://github.com/hb66772-home/bicep/blob/main/mci_cdn_sample.bicep

[2021-08-09 22:06] loudlumi opened #79493 "Depth Mode Session Limit"
Can this page also include information  about what happens when Depth mode is set for a host pool and all session hosts have reached their maximum session limit, are new sessions allowed or are they they disallowed due to resource constraints ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac08640a-844c-d509-7af0-86ab

[2021-08-09 22:31] ecfan commented on #78781
Hi @gcmlpfaltaher & @JayaChatterjee-MSFT, the doc will be updated on 08/10/2021 after 11 AM Pacific Time. Thanks!

[2021-08-09 22:34] mdlinville commented on #73069
Thanks again for this report. The next time the Databricks documentation is deployed, the following important note will be added:

[2021-08-09 22:37] PaulCornellDB commented on #62044
I've confirmed with the Databricks Engineering organization that XML is not supported in this case.

We would prefer not to document lists of unsupported file formats. If it's not on the list, it is not supported by default.

#label:"please-close"

[2021-08-09 22:54] AlexisHW commented on #51184
I confirm that the issue is still actual as it's not properly documented. Thanks to @em-vardol I was able to write a script to collect all eligible assignments in all active subscriptions in the tenant:
`foreach ($sub in $subs) {
    $sub.Name
    $subid = Get-AzSubscription -SubscriptionId $sub.Id | select -ExpandProperty Id
    $pimid = Get-AzureADMSPrivilegedResource -ProviderId AzureResources

[2021-08-09 23:09] SaurabhSharma-MSFT commented on #79486
<div style="font-family: &quot;segoe ui&quot;, &quot;segoe ui web (west european)&quot;, &quot;segoe ui&quot;, -apple-system, blinkmacsystemfont, roboto, &quot;helvetica neue&quot;, sans-serif; font-size: 10.5pt; color: rgb(50, 49, 48);"><a target="_blank" class="user-mention" data-hovercard-type="user" data-octo-click="hovercard-link-click" data-octo-dimensions="link_type:self" data-hovercard-url

[2021-08-09 23:15] MarileeTurscak-MSFT commented on #79484
@pmaz21
Thanks for your feedback! We will investigate and update as appropriate.

[2021-08-09 23:16] MarileeTurscak-MSFT commented on #79491
@ergopotato thanks! I have assigned this feedback to the content author to look into.

[2021-08-09 23:21] MarileeTurscak-MSFT commented on #79403
Hi @ii-batman ,

Azure AD has two [built-in application](https://docs.microsoft.com/en-us/azure/active-directory/roles/delegate-app-roles) admin roles:

**Application Administrator**: Users in this role can create and manage all aspects of enterprise applications, application registrations, and application proxy settings. This role also grants the ability to consent to delegated permissions, and a

[2021-08-09 23:21] #79403 closed

[2021-08-10 00:21] dcbrown16 commented on #71144
@SamaraSoucy-MSFT can you link this issue to the page that it is about?
https://docs.microsoft.com/en-us/azure/app-service/operating-system-functionality#local-drives

I submitted an internal PR to try to fix what they are talking about.

[2021-08-10 00:31] SamaraSoucy-MSFT commented on #79269
You are correct that the specific name of the topic/subscription/queue that was auto deleted is currently not captured in the logs. If you need more direct information and control of this process, your best option would be to utilize something like a Logic App or Function to monitor how long items have been inactive and deactivate them when needed. That entity can then capture data about what it d

[2021-08-10 00:42] Karishma-Tiwari-MSFT commented on #79493
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-08-10 02:56] dcbrown16 opened #79496 "ToC broken"
The ToC link to get to this page ("Frequently asked questions" under Concepts) is broken.
It goes to this link: https://docs.microsoft.com/en-us/azure/purview/frequently-asked-questions.yml
Please have that fixed so that it points to https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/frequently-asked-questions

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2021-08-10 02:57] SatishBoddu-MSFT commented on #79482
Hello @drcrook1 Thanks for the feedback.

Our SME will review your feedback soon.

[2021-08-10 03:17] 4c74356b41 commented on #78229
thanks, on the issue at hand. the validation is a POST action, so I don't think it is possible to perform in an arm template (they can only do PUT requests).

[2021-08-10 03:19] MashaMSFT commented on #76399
Hi @gianlucadardia , thanks for contacting Microsoft! The following table shows that transactional replication is supported on an Azure SQL Managed Instance, meaning that it is possible to configure it as either a publisher or as a subscriber. Conversely, an Azure SQL Database can only act as a subscriber.

![image](https://user-images.githubusercontent.com/32783170/128803033-696f665b-9118-4a50-ae

[2021-08-10 03:19] #76399 closed

[2021-08-10 03:34] MashaMSFT commented on #76641
Hi @divyabhushan , thanks for your feedback! My apologies, I'm not sure I understand your request. Are you asking us to blur this image? Or are you saying the image is blurry?

Thanks!
Masha from the SQL Docs team

[2021-08-10 03:38] MayankBargali-MSFT commented on #79472
@IanKemp Thank you for your feedback! We will review and update as appropriate.

[2021-08-10 04:00] MayankBargali-MSFT commented on #79459
@alegri240 The document is update and will be published soon with the verb updated with GET and api-version as 2016-06-01

[2021-08-10 04:03] #79459 closed

[2021-08-10 04:03] AjayKumar-MSFT commented on #79316
Apologies for the delay. Thanks for sharing all the details.

Firstly, Azure Media Services v2 (legacy) documentation. No new features are being added to Media Services v2. You may check out the latest version, Media Services v3 -[ Live streaming with Azure Media Services v3](https://docs.microsoft.com/azure/media-services/latest/stream-live-streaming-concept).

Your feedback has been shared with

[2021-08-10 04:14] vipulsparsh commented on #79479
@ashfenixx Thanks for reaching out. We will investigate and update the thread accordingly.

[2021-08-10 04:17] BhargaviAnnadevara-MSFT commented on #79496
@dcbrown16 Thanks for the feedback. We shall evaluate and update the document as appropriate.

[2021-08-10 04:20] vipulsparsh commented on #79477
@Siby22071989 Thanks for reaching out. We will investigate and update the thread accordingly.

[2021-08-10 04:27] v-hagamp commented on #74091
The Sign On URL was updated as per the above instructions.
#please-close

[2021-08-10 04:27] #74091 closed

[2021-08-10 04:35] Grace-MacJones-MSFT commented on #78871
Hi @yutaro113, I followed up with offline. "Based on the response from PG, there are no customization points available for `AppServiceHTTPLogs` for Windows. If you're interested in custom logs, `AppServiceAppLogs` is a better fit."

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and

[2021-08-10 04:35] #78871 closed

[2021-08-10 04:44] PramodValavala-MSFT commented on #79271
@MuhammadBilalYar Just following up here... Hope my previous comment clears things up.

[2021-08-10 04:53] ShaikMaheer-MSFT commented on #79418
@kszicsillag Thank you for sharing clarity on Ask. I added author to review this feedback.

[2021-08-10 04:54] ShaikMaheer-MSFT commented on #79418
@saveenr Could you please validate customer feedback and update documentation as appropriate. Thank you.

[2021-08-10 05:00] ShaikMaheer-MSFT commented on #79461
@dcstwh - User is requesting for Synapse  Notebook activity under [Data Transformations activities](https://docs.microsoft.com/en-us/azure/data-factory/concepts-pipelines-activities#data-transformation-activities) section.
Could you please validate feedback and update as appropriate. Thank you.

[2021-08-10 05:13] psmanhas commented on #79468
@ewouds The document is updated and changes will go live soon.

[2021-08-10 05:16] javester opened #79498 "Need code correction on "Attach An Existing Data Disk To A VM""
correction needed in "Attach an existing data disk to a VM" code?

code references $Location variable, but it is not used.
The code fails with "location cannot be null."
It is unknown where the location needs to be set.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4dd4a5e2-c630-2702-ac7c-15004b541161
* Version Indepe

[2021-08-10 05:17] #79468 closed

[2021-08-10 06:18] SadiqhAhmed-MSFT commented on #79477
@bandersmsft Any thoughts?

[2021-08-10 07:14] dldldlepl commented on #79269
@SamaraSoucy-MSFT Thank you for that clarification. I do not want to control deletion process myself with an additional application. I just want to find out, in case of issues with some applications using the servicebus, what and when something was autodeleted. From your response I conclude that the logs might include in the future the information about the deleted entity?

[2021-08-10 07:16] m-gug commented on #79453
Sorry, I accidentally deleted the template.
I have added the data to the initial post.

[2021-08-10 07:17] mb236 opened #79500 "Azure SignalR Service - MigrateClients example documentation"
Hey everyone, I experimented a bit with Azure SignalR service and I think I might have found a small error in your documentation. To be more precise I'm talking about this part of the example:
`var feature = Context.GetHttpContext().Features.Get<IConnectionMigrationFeature>();`

From my testing the `IConnectionMigrationFeature` is not part of the HttpContext but rather of the Context itself. So th

[2021-08-10 07:17] VikasPullagura-MSFT commented on #79498
@javester Thanks for pointing this out.
Here in the code, the location declaration is not necessary as the disk ID (`$disk.Id`) takes care of getting the disk location.

I did the repo in my lab and was successfully able to add and existing disk to the VM as you can see in the below screenshot.

I am updating the document to remove variable declaration of `$location`. The document changes will go

[2021-08-10 07:18] #58775 closed

[2021-08-10 07:19] #79258 closed

[2021-08-10 07:26] KrishnaG-MSFT commented on #79257
@tfitzmac @mumian Any additional insights on this please?

[2021-08-10 07:28] KJ2256 opened #79501 "License requirements for conditional access"
[Enter feedback here]
I heard that Azure AD P1 is also required for the users specified in "Exclude" of "Users and groups".
Please consider describing this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d525ecd-381b-162f-84b7-2912b83462f6
* Version Independent ID: db11cbb8-d83a-2a03-0160-beed5afb42c9
* Content: [What

[2021-08-10 07:28] #79498 closed

[2021-08-10 07:28] mb236 commented on #79500
I wanted to add a link to the sample I have experimented with, but appereantly someone has already commited a change for the mentioned sample: https://github.com/Azure/azure-signalr/commit/5a44fab74ae19be5ce373ef1ddbcbc65eefcfd8b 😂

[2021-08-10 07:43] MayankBargali-MSFT commented on #79450
@ErikMogensen I will reach out to my team and will revert back to you with the recommendation.

[2021-08-10 07:46] ajordaan commented on #46017
Still having this issue. In Cost Management + Billing section my subscription status is Disabled. In the Subscription overview the status is past due. I followed [these instructions](https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/resolve-past-due-balance) to settle the balance, but there is no settle balance link. It's so bizarre that a company makes it this difficult to pay

[2021-08-10 08:18] sijucm opened #79502 "What is Virtual network triggers"
I saw the section on "Virtual network triggers". What does that mean? What is that? Is that a way to trigger a non-http or http function without leaving the vnet? I hope so, but the Azure-CLI option shows about Monitoring something. With my experience with Microsoft created products and documentation style, it could have no relation to any of this.

---
#### Document details

⚠ *Do not edit this s

[2021-08-10 08:21] Catastrophe1 opened #79503 "typo"
[Enter feedback here]

"VNET Integration is not supported for Docker Compose scenarios in App Service. Azure Functions Access Restrictions are ignored if **their** is a private endpoint present."

Should be "there is".
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7a98803-1438-b1b5-f543-7dd88bc4294e
* Version Independ

[2021-08-10 08:30] lpassig opened #79504 "SLA discussion misleading"
Hi all,

the docs are a bit misleading when it comes to the SLA discussion:

### "Business motivations"

"Both IaaS and PaaS provide high, industry standard SLA. PaaS option guarantees 99.99% SLA, while IaaS guarantees 99.95% SLA for infrastructure, meaning that you need to implement additional mechanisms to ensure availability of your databases. You can attain 99.99% SLA by creating an additional

[2021-08-10 08:53] wtomw commented on #79439
Hi, @mutazn, the example provided is to show the difference in YAML configuration.
It uses a private registry (fake one) that should be overriden using customer's private registry.
Fixed the doc to make sure it is clear

[2021-08-10 08:56] vipulsparsh commented on #79501
@KJ2256 Thanks for reaching out. We will investigate and update the thread accordingly.

[2021-08-10 08:56] wtomw commented on #79439
https://github.com/MicrosoftDocs/azure-docs-pr/pull/168581

[2021-08-10 09:03] logcorner opened #79505 "IDX10516: Signature validation failed. Unable to match key:kid: 'System.String'. when using the standard Azure AD functionality of B2C tenant to cannot call a WepApi protected by Azure AD B2C"
Hi
Following the docs here https://docs.microsoft.com/en-us/azure/active-directory-b2c/application-types
We can acquire a token by using the standard Azure AD functionality of B2C tenant, but the token cannot call a WepApi protected by Azure AD B2C

[code]
The Azure AD B2C Web API Config file
[code]

Using Azure AD B2C , you will have the following error :
Failed to validate the token.
Microsoft.I

[2021-08-10 09:04] logcorner commented on #79505
#79434

[2021-08-10 09:04] AnuragSharma-MSFT commented on #79504
@lpassig Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-08-10 09:05] schlesingera commented on #75296
@karimyousfi Have you found any solutions for that problem or any other way to deploy wordpress in a container?

[2021-08-10 09:22] gathakur opened #79506 "NCRONTAB expression fails with 5 fields in .Net Core 5"
[Enter feedback here]
As per documentation: NCRONTAB expression supports both five field and six field format. The sixth field position is a value for seconds which is placed at the beginning of the expression.

Although 6 fields are recommended but it used to work with 5 fields as well. I had a recent case where customer Timer Trigger stopped working post upgrading to .Net Core 5. I asked him to

[2021-08-10 09:27] Donovand4 opened #79507 "Incorrect information for broker APP"
Hi All,
Please can you correct the below statement:

A broker app is required to register the device. The broker app can be the Microsoft Authenticator for iOS, or either the Microsoft Authenticator or Microsoft Company portal for Android devices.

This should mention that both company portal AND Authenticator is required for Android.

---
#### Document details

⚠ *Do not edit this section. It is

[2021-08-10 09:36] #62909 closed

[2021-08-10 09:43] urijah commented on #74421
@AnuragSharma-MSFT
@sunilagarwal
It is really not acceptable to have the wrong license listed. Please correct in a timely fashion.

[2021-08-10 09:52] JozoSlejko opened #79510 "Zone redundant ASE"
Can we get some details for ASE which is zone redundant and not pinned to a specific zone?
Azure Portal gives an option to deploy a zone redundant ASE using a minimum of three ASP instances.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d05795f9-5027-e37d-7862-29c72f5c4edb
* Version Independent ID: 7ccc48be-64dd-10ed-

[2021-08-10 10:11] t-omo-t opened #79512 "Policy (TDE on SQL Database) version changed"
built-in policy version was changed

target:
 4.8: Encrypt sensitive information at rest
 Transparent Data Encryption on SQL databases should be enabled

version
 old:1.0.0
 new:2.0.0

the policy is below
https://github.com/Azure/azure-policy/blob/master/built-in-policies/policyDefinitions/SQL/SqlDBEncryption_Audit.json

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2021-08-10 10:22] BhargaviAnnadevara-MSFT commented on #79503
@Catastrophe1 Thanks for the feedback. We shall evaluate and update the document as appropriate.

[2021-08-10 10:25] BhargaviAnnadevara-MSFT commented on #79500
@mb236 Thanks for the feedback. We're investigating this and will get back to you shortly.

[2021-08-10 10:30] vipin-serra opened #79514 "Please include column storage throughput: IOPS/Read MBps/Write MBps and its values"
Please include column storage throughput: IOPS/Read MBps/Write MBps and its values

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 331382e6-f52a-df0b-50ad-39b5372a2af4
* Version Independent ID: 5bb83180-6fe1-b076-26f0-2ad8298f419e
* Content: [NV-series - Azure Virtual Machines](https://docs.microsoft.com/en-us/azure/vir

[2021-08-10 10:49] vipulsparsh commented on #79505
@logcorner Thanks for reaching out. We will investigate and update the thread accordingly.

[2021-08-10 10:50] vipulsparsh commented on #79507
@Donovand4 Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-08-10 10:53] AnuragSharma-MSFT commented on #79512
@t-omo-t Thank you for the feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2021-08-10 11:03] AshokPeddakotla-MSFT commented on #79238
@srinathck Apologies for the delay. This would require further troubleshooting. I suggest you, Please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Issue as well as your subscription ID and we can help get the support ticket opened for this issue.

[2021-08-10 11:20] davystrong commented on #70465
Any update on the fix? I'm still running into this issue (and a hard timeout seems like a bit of an awkward way of doing it, especially when I already uploaded my whole dataset).

[2021-08-10 11:29] SrijitBose-MSFT commented on #79514
@vipin-serra Thank you for your feedback. We have shared the same with the content author.

[2021-08-10 12:04] take-4c opened #79515 "The private certificate should also contain the root certificate in the certificate chain, shouldn't it?"
Hi Team,

This page says that your private certificate must meet the following requirements:
  - Exported as a password-protected PFX file, encrypted using triple DES.
  - Contains private key at least 2048 bits long
  - Contains all intermediate certificates in the certificate chain

Regarding the 3rd requirement, the private certificate should also contain the root certificate in the certificate

[2021-08-10 12:10] kilasuit opened #79516 "NSG flow logs can now be automated by ARM"
This doc contains old information around not being able to automate NSG Flow logs via ARM
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd699dac-d6e5-5a39-624f-2d3f77f92fca
* Version Independent ID: c922bcd2-0778-a7af-4855-1bff6c9ce380
* Content: [Introduction to flow logging for NSGs - Azure Network Watcher](https://d

[2021-08-10 12:24] memildin commented on #79439
Hi @mutazn, thanks for the feedback and for taking the time to help us improve the docs.

As @wtomw mentioned, the docs have been updated and hopefully this will now better meet your needs. The changes will go live within 12hrs.

I'm going to close this issue, but feel free to comment again here or open a new one if you have additional requests.

#please-close

[2021-08-10 12:24] #79439 closed

[2021-08-10 12:29] samadane opened #79518 "'Dynamics CRM Online' app looks to be Common Data Service now"
When adding an app to a conditional access policy in the azure portal Dynamics CRM Online is no longer an option.  It shows up as Common Data Service.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5b78894-32c2-6712-6699-f3c87d40b1d7
* Version Independent ID: dd791c15-d43b-b203-a93f-a8ec33c519b0
* Content: [Cloud apps

[2021-08-10 12:49] DavidTrigano commented on #75890
Hello @francesco1119,

Thanks for raising this matter. Extended Stored Procedure **are supported** on Managed Instance. We are going to update our documentation accordingly.

Thanks,
D.

[2021-08-10 12:52] BhargaviAnnadevara-MSFT commented on #76722
@dogenstein Just wanted to circle back on this and update that the fix for this bug has been rolled out and is available as part of `db-up` extension version `0.2.4`. Here are the [release notes](https://github.com/Azure/azure-cli-extensions/blob/main/src/db-up/HISTORY.rst#024-2021-07-12):

![image](https://user-images.githubusercontent.com/44050820/128868795-eeb02843-9565-4dba-bf5f-dab50fbd757f.p

[2021-08-10 12:55] Burabari-Dev opened #79519 "Example app error"
Running the example app with `node app.js --alter` and opening browser at http://localhost:1337 only shows a "Not Found" text.
No TODO app is shown.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4ce9745-5765-dae3-2d5b-2a24cfd787bb
* Version Independent ID: 8d21fd6b-15a4-dc2a-c8c2-fc0e04c15f7f
* Content: [Tutorial: No

[2021-08-10 12:55] GitaraniSharma-MSFT commented on #79388
@kaiaschulz , We have assigned this to the content owner/author for review.

@asudbring , for your review.

[2021-08-10 12:55] #79287 closed

[2021-08-10 12:55] GitaraniSharma-MSFT commented on #79287
@simonkurtz-MSFT , I have updated the URI Path Reference in step 7.e and it will be reflected shortly.

We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-08-10 12:56] GiftA-MSFT commented on #79396
Thanks, but for example, what name would you like to match this [image ](https://github.com/microsoft/AIVisualProvision/blob/master/Documents/Images/Training_DataSet/IMG_20181106_100435.jpg) with multiple logos?

[2021-08-10 12:58] yoelhor commented on #79443
Dear @wbsoul, thanks for the feedback. I'm updating the article with the relevant information. A new version will publish later today, and this GitHub issue will be closed automatically (before the doc is published). If you have any questions or need further information, please open new GitHub issue.

[2021-08-10 12:59] yoelhor commented on #79322
Closing due to inactivity.

#please-close

[2021-08-10 12:59] #79322 closed

[2021-08-10 13:00] BhargaviAnnadevara-MSFT commented on #77190
@edisga Just wanted to circle back on this and update that the fix for this bug has been rolled out and is available as part of `db-up` extension version `0.2.4`. Here are the [release notes](https://github.com/Azure/azure-cli-extensions/blob/main/src/db-up/HISTORY.rst#024-2021-07-12):

![image](https://user-images.githubusercontent.com/44050820/128868795-eeb02843-9565-4dba-bf5f-dab50fbd757f.png)

[2021-08-10 13:03] yoelhor commented on #79329
When you click on the sign-in with MSApp1 the browser initiate authorization request to the Azure AD. It should be the first URI you see in the browser network after you click on the button. This is the URL that contains the redirect_url. It's encoded use a URL decoder tool to see the real URL. Then compare the one that appears in the browser network trace to the one you configure in the App regis

[2021-08-10 13:03] Vama97 commented on #79233
Hey,
I wanted to ask about the credentials. Have there been some changes to the
openid connect endpoint or something ? I am unable to get the credential
which I could earlier.

On Wed, 4 Aug 2021, 18:39 James Tran-MSFT, ***@***.***> wrote:

[2021-08-10 13:03] #79443 closed

[2021-08-10 13:05] GitaraniSharma-MSFT commented on #79400
@denschub , We have assigned this issue to the respective product owner for updating the doc accordingly.

@irenehua , as per the support request and internal discussion, it looks like UDP is not supported on Global LB yet. Could you please add this in the limitation section for clarity?

[2021-08-10 13:14] yoelhor commented on #77840
Dear @cotepatrice, thanks for the feedback. Sorry for my late response. The app object ID is relavant to the custom policy only.

I'm updating the article with the relevant information. A new version will publish later today, and this GitHub issue will be closed automatically (before the doc is published). If you have any questions or need further information, please open new GitHub issue.

[2021-08-10 13:18] yoelhor commented on #78006
The number of max reties is based on risk assessment done by Azure AD B2C. Currently you can't change the ms retires. I'm closing this issue. If you have any questions or need further information, please open new GitHub issue.

#please-close

[2021-08-10 13:18] #78006 closed

[2021-08-10 13:19] #77840 closed

[2021-08-10 13:20] denschub commented on #79400
Thank you so much!

---

I'd also like to add that I'm very happy to help alpha-testing support if that's a thing. My email address is listed [here](https://overengineer.dev/me/card.html), and I'm happy to provide the account details used for the Azure account. My use-cases for globally-distributed UDP are for http/3 and for a DNS-based thing - also happy to privately provide details if needed. Th

[2021-08-10 13:31] JohnStraumann66 commented on #79396
Hi: Yes that's what I am asking you! LOL I did a project for crop recognition, and an image of Corn was very obviously tagged Corn. I am not sure what tags to use with the Azure logos, is it up to me to arbitrarily assign?

[2021-08-10 13:35] SamaraSoucy-MSFT commented on #71144
Done. Please let me know if there is anything else you need from me.

[2021-08-10 13:38] tfitzmac commented on #79496
@dcbrown16 - thanks for making us aware of this issue. I have submitted a fix for the links. It should get published today.
#please-close

[2021-08-10 13:47] GitaraniSharma-MSFT commented on #79516
@kilasuit , thank you for the feedback. We have assigned this issue to the respective product owner for updating the doc accordingly.

@damendo , could you please update the doc to include the NSG flow logs automation by ARM?

[2021-08-10 13:48] DvirH commented on #35472
@gajo357
I know it's old already and you probably sitting on an island with a drink, but anyway, I'd struggles with that issue as well.
I ended up with a script file in the /home directory and a command in the code that calling that script file any time the service is started.

in the script file I have the apt-install etc.

[2021-08-10 14:01] kilasuit commented on #79516
@GitaraniSharma-MSFT / @damendo - I have already created a PR to update the docs #79517 which will close this PR (if either of you can link it as I can't & it didn't automatically link it)

[2021-08-10 14:04] GitaraniSharma-MSFT commented on #79516
@kilasuit , I was unable to merge it, so @damendo will be merging the PR & closing it.

[2021-08-10 14:06] abarrafo opened #79520 "Azure AD Passport is an Archived project, best remove it from your list."
Looks like azure-ad-passport is an archived project, should it be removed from this list? Not sure we, an enterprise, can use a project that is not supported.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b787325-589c-b5f5-f530-7f1fe12e075e
* Version Independent ID: 6d678569-0ebe-f2ef-ecd7-69cc62b4b7be
* Content: [Mi

[2021-08-10 14:09] SnehaAgrawal-MSFT commented on #79519
@Burabari-Dev Thank you for your query . We will investigate and update the thread.

[2021-08-10 14:11] SnehaAgrawal-MSFT commented on #79515
@take-4c Thank you for your query. We will investigate and update the thread.

[2021-08-10 14:12] dominicbetts commented on #79155
Hi @W264946 - if you use the phone app to connect to IoT Central, you should see  the views shown in the picture. The phone app sends a model ID that lets IoT Central retrieve the "IoT Plug and Play mobile" device template with the views.

[2021-08-10 14:15] SamaraSoucy-MSFT commented on #79376
I've created an internal ticket for this item [470864](https://ceapex.visualstudio.com/CEINTL/_workitems/edit/470864)

[2021-08-10 14:15] #79376 closed

[2021-08-10 14:17] SamaraSoucy-MSFT commented on #79444
@kye Am I able to close this issue or do you have any follow-up questions?

[2021-08-10 14:34] jd1984 commented on #77605
Still no update but I found https://docs.microsoft.com/en-us/azure/active-directory/external-identities/user-properties which says:

"Convert UserType
It's possible to convert UserType from Member to Guest and vice-versa by using PowerShell. However, the UserType property represents the user's relationship to the organization. Therefore, you should change this property only if the relationship of

[2021-08-10 14:45] thoaingan opened #79522 "Please provide prescriptive guidance on how to implement DevOps for ADF using GitHub Actions in addition to Azure DevOps Pipelines"
Please provide prescriptive guidance on how to implement DevOps for ADF using GitHub Actions in addition to Azure DevOps Pipelines.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e22e4d6-366f-fbf8-e141-8905ca7ab7ae
* Version Independent ID: 5be2acf2-66e7-cadf-6666-5a85a65b9771
* Content: [Continuous integration and de

[2021-08-10 14:48] thoaingan opened #79523 "Please provide prescriptive guidance on how to implement DevOps for Azure Databricks using GitHub Actions"
Please provide prescriptive documentation on how to implement DevOps for Azure Databricks using GitHub Actions!
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56b86f59-7a22-90c6-9aa6-652b85975612
* Version Independent ID: b333ab7b-847b-7129-9b62-4b9b934747d7
* Content: [Continuous integration and delivery on Azure Datab

[2021-08-10 14:49] davystrong commented on #70465
The annoying thing is that using mount() directly I can pass the max_size via mount_options. Is there no way to do this with as_mount()?

[2021-08-10 14:57] macruz opened #79524 "Add AKS cluster resources lack of visibility to the list of considerations"
Similarly to the AppGW backend health, when you have a read-only lock on an AKS cluster, you are unable to see any cluster resources from the "Kubernetes Resources" section on the AKS cluster left-side blade.

This is because you need to perform an authentication to access the data which uses a POST that is blocked by the lock and resulting on a permissions error content blade.

Please add this li

[2021-08-10 14:59] LazaUK opened #79525 "Example refers to deprecated utility dbutils.library"
Unfortunately, example on this Documentation page utilises **_dbutils.library_**, that is already deprecated and will be removed from the future versions of Azure Databricks runtime.

Attempts to launch the following will fail:

    `dbutils.library.installPyPI("xgboost")`

The error  message reported is:

The right and recommended way to install notebook-scoped libraries like this is:

    `%pip

[2021-08-10 15:04] carolga opened #79526 "Add Section for Configuring MIME Types"
[Enter feedback here]
Hi!  Can a section be added about how to configure mime types?  Can there also be some clarity on how to do it for Linux blessed images like NODE?  Richard Marr has a blog about how to do it: https://blogs.iis.net/richma/adding-mime-types-to-your-windows-azure-web-site but there is no mention of how this can be achieved in Linux.

Thanks!

---
#### Document Details

⚠ *Do not

[2021-08-10 15:05] #78320 closed

[2021-08-10 15:09] #78717 closed

[2021-08-10 16:18] VitalyMCT opened #79527 "Out of date information around Power Query"
The information in the 1st paragraph and the 1st screenshot is out of date. The "New Resource" workflow has changed and one can no longer create Power Query activity from the Data Flow workflow.

It may be beneficial to also review the other info on this page to ensure it's current.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2021-08-10 16:28] SaurabhSharma-MSFT commented on #79325
@Dickkieee We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-08-10 16:28] #79325 closed

[2021-08-10 16:29] PRMerger7 commented on #75144
Only Microsoft employees can close issues or pull requests via commenting in this repo.

[2021-08-10 16:30] sebader opened #79528 "Reach ACR via private endpoints instead of peering"
It says:
"For customers that need to enable Azure Container Registry to work with private AKS, the Container Registry virtual network must be peered with the agent cluster virtual network."

That is not really true. You can also - and I would argue that is the better way - create a private endpoint to the ACR in the subnet of the agents.

---
#### Document Details

⚠ *Do not edit this section. It

[2021-08-10 16:30] #73887 closed

[2021-08-10 16:34] MicrosoftGuyJFlo commented on #79501
Covered in the doc under [License requirements](https://docs.microsoft.com/azure/active-directory/conditional-access/overview#license-requirements). Azure AD is licensed per-user. #please-close

[2021-08-10 16:36] VanMSFT commented on #64250
We do not provide dates for when a feature is supported in our docs.

#please-close

[2021-08-10 16:37] #79407 closed

[2021-08-10 16:39] mdlinville commented on #75144
#please-close

[2021-08-10 16:40] mdlinville commented on #56828
#label:"support-request"

[2021-08-10 16:41] mdlinville commented on #58832
#please-close

[2021-08-10 16:41] #79501 closed

[2021-08-10 16:42] #64250 closed

[2021-08-10 16:45] PRMerger7 commented on #75144
Only Microsoft employees can close issues or pull requests via commenting in this repo.

[2021-08-10 16:45] PRMerger8 commented on #58832
Only Microsoft employees can close issues or pull requests via commenting in this repo.

[2021-08-10 16:56] cgillum commented on #79472
Stopwatch is indeed non-deterministic, so it's not recommended to use. Instead, it's recommended that you keep track of time using the "CurrentDateTimeUtc" property of the context parameter to keep track of time.

I wouldn't say it's "unsafe" necessarily - it depends on whether you're trying to use it to make scheduling decisions. However, it definitely won't work the way you'd normally expect it

[2021-08-10 16:59] #79415 closed

[2021-08-10 17:03] maertendMSFT commented on #79479
Hi @ashfenixx , we are working on updating the Azure updates page and the screenshot. The "preview" that shows up in the Cloud Shell pane is a bug.

Virtual networks are fully supported!

[2021-08-10 17:05] SamaraSoucy-MSFT commented on #79269
I do want to acknowledge that the common answer of doing custom logging isn't as viable in this particular case- the whole point of the feature is that it is handled entirely within Service Bus. Unfortunately that the best option I currently have for you if you need the name of the deleted item. I have reached out to the product team to see if they are planning any updates that I can share with yo

[2021-08-10 17:07] PaulCornellDB commented on #75143
Actually, the example dataset should have the time column specified as a `LongType()` (Python) / `long` (R), not a timestamp or date type, as the `time` values in the underlying dataset are expressed as Unix timestamps. That being said, it’s probably better to partition based on `action` rather than `time`, as there could be a rather large number of distinct time values. The example code is being

[2021-08-10 17:18] carlost-MSFT commented on #79243
Looks like there is a portal issue that is not allowing the change from dynamic to static, and it will be fixed soon. But it would still be helpful if we implement this into the script.

[2021-08-10 17:19] #79516 closed

[2021-08-10 17:26] mmacy commented on #79201
@RodrigoGroener Good catch! Will fix shortly. #reassign:mmacy #label:"doc-bug"

[2021-08-10 17:38] AnuragSharma-MSFT commented on #79319
@metu We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-08-10 17:40] johndeu commented on #79316
Yes, please avoid using the v2 API for anything new. It is announced as deprecated and wont live beyond Feb 2024.  Most all customers should be using the latest v3 API.

For the first set of question (as there are many here!) -
1) AMS is built for longer form video - which means in the 5 minute to 2 hour range is optimal.  We can handle much longer, but when you start getting really short videos,

[2021-08-10 17:44] johndeu commented on #79316
@minhhho2  - let me know if you see some documentation changes you would want to see based on the above?

[2021-08-10 17:45] roygara commented on #75529
@skiddder Thanks for reaching out, we've updated the article with Azure CLI instructions. Those updates will be live later today.

Accordingly, I'll close this out.

Thanks again for helping improve our docs, we appreciate it!

#please-close

[2021-08-10 17:45] #75529 closed

[2021-08-10 17:53] AjayKumar-MSFT commented on #79116
I have relayed the feedback on this with our product engineering team and I'll share an update as soon as I hear from them.

Since this ask is not doc enhancement specific, I'll close this for now but will follow-up and share an update.
-Also, your feedback has been shared with the content owner (@cephalin), if required, will update the doc as necessary.

[2021-08-10 17:53] #79116 closed

[2021-08-10 18:11] GiftA-MSFT commented on #79396
It's more of an indirect question sorry :). From what I understand, you want the example images provided [here ](https://github.com/microsoft/AIVisualProvision/tree/master/Documents/Images/Training_DataSet) to reflect the tags in the portal. However, each image of those images have multiple tags, so you'd need to add tags manually for each image. The names are on the image itself, so it's clear wh

[2021-08-10 18:12] ssivas commented on #79251
Thanks for reaching out.

This is still preview experience which allows administrators to add any available authentication methods for users and unfortunately, we don't have ETA.

#please-close

[2021-08-10 18:12] #79251 closed

[2021-08-10 18:17] shashishailaj commented on #79427
@DEberhardt We are checking this internally to get more information on this.

[2021-08-10 18:18] shashishailaj commented on #79137
@dave22000 We are checking this internally and will update you with the findings . In case this requires some troubleshooting we will engage with you offline on this.

[2021-08-10 18:22] mike11stevens opened #79529 "Virtual WAN IL4"
"Azure Government services by audit scope" -> "Virtual WAN" does not show IL4 or IL5 in the table, but appears to be available in Azure Gov when IL4 subscription is created. Please verify and clarify documentation and/or Azure Gov Blueprint for IL4 - thanks!

cc: @MikeBazMSFT
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2021-08-10 18:29] JamesTran-MSFT commented on #79302
@J-Inman
Thank you for the feedback!

Customers should be able to use either the `https://myapps.microsoft.com` or the `https://myapplications.microsoft.com` URL since they both redirect to the same page.
![image](https://user-images.githubusercontent.com/36619112/128914974-2582626c-024d-42b6-acac-b60f8d2c630a.png)
![image](https://user-images.githubusercontent.com/36619112/128915023-093667bb-5a8c

[2021-08-10 18:29] #79302 closed

[2021-08-10 18:29] duongau commented on #69673
@sushruth I have added the values for the X-cache headers. I'm working with our PG team to see if there are other headers values we can expose in the article as well.

Thank you

[2021-08-10 18:35] JamesTran-MSFT commented on #79518
@samadane
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

![image](https://user-images.githubusercontent.com/36619112/128915445-f9043bc7-32a4-49be-be3d-29d81ace76b5.png)

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your tim

[2021-08-10 18:35] #79518 closed

[2021-08-10 18:46] luke-atp opened #79530 "Azure Cosmos DB serverless"
Documentation for enabling Azure Synapse Link for Azure Cosmos DB should include a warning that it cannot be enabled for serverless Azure Cosmos DB accounts.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5ccfb5cf-0a7d-220c-3f68-8ed5ea60bfa4
* Version Independent ID: 080e66e3-d3bd-5915-1137-cf8c48671ecb
* Content: [Con

[2021-08-10 18:50] ssivas commented on #79147
Hi @sujitnaray,

Thanks for reaching out.

I see its redirect to MS Docs now so could you please check and confirm ? Copy pasted here for your reference:

## Prerequisites

To use this feature, you need:
* An Azure event hub that contains Azure AD activity logs. Learn how to [stream your activity logs to an event hub](https://docs.microsoft.com/en-us/azure/active-directory/reports-monitoring/tutor

[2021-08-10 18:50] #79147 closed

[2021-08-10 18:51] ChaitanyaNaykodi-MSFT commented on #79350
Hello @paul-baumgartner,
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-08-10 18:52] Rodrigossz commented on #79530
It is listed [here](https://docs.microsoft.com/en-us/azure/cosmos-db/serverless#using-serverless-resources).

[2021-08-10 18:52] Rodrigossz commented on #79530
#please-close

[2021-08-10 18:52] #79530 closed

[2021-08-10 18:55] stevevi commented on #79529
Hi @mike11stevens this behavior is by design.  My article tracks services in compliance audit scope.  For IL4 and IL5 scope, only services that have been authorized by DISA are listed.  It is perfectly possible for a service to be available in Azure Gov but not yet to be authorized.  Customers then have the option to include that service in their own authorization package or wait until DISA author

[2021-08-10 18:59] itsnotaboutthecell commented on #76978
Hey @Nicholak-MS - I was hoping to see the "Power BI Premium Per User" license though it appears the Power_BI_Pro_CE is just a duplication of the existing Pro License with perhaps a few different GUIDS. Is there an easy way to put in a request to have the Power BI Premium Per User license documented since unfortunately I do not have the code for this item - https://docs.microsoft.com/en-us/power-b

[2021-08-10 19:00] luke-atp commented on #79530
That is where I eventually found that information, as well. However, there is no mention of that limitation on the instructions on the page linked in this issue. Other notes on the limitations of the feature are listed on the page, and it seemed appropriate that this limitation could be listed as well.

Thanks for your response.

[2021-08-10 19:01] rconiv opened #79532 "AD Recycle Bin"
How do I actually enable the feature, specifically in Server 2019.  The section for how to enable AD Recycle Bin doesn't actually say how to do it, and has an article for Server 2008 in the link.  I looked in my roles and features on my server, and didn't see anything about AD Recycling Bin.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2021-08-10 19:02] Rodrigossz commented on #79530
OK, we will think about it but it's a current limitation on the serverless side. That's why it's there.

[2021-08-10 19:02] RavennMSFT commented on #79378
This is correct, but we're still validating all the scenarios. We will add this to our docs as officially supported once we're able to sign off on our side.

[2021-08-10 19:06] sercast opened #79533 "E2s_v3 size does not support accelerated networking"
The documentation states that the entire EsV3 family supports accelerated networking. E2s_v3 has a note that accelerated networking can only be enabled on one NIC. However testing this it seems is not allowed at all.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6688b5a2-8ded-6a3c-a1da-840fc73525de
* Version Independe

[2021-08-10 19:11] ericthomas1 commented on #12527
Similar issue here: How do we handle the body of a complex `x-www-form-urlencoded` request?

[2021-08-10 19:22] SadiqhAhmed-MSFT commented on #79469
@mmitchellcit

![image](https://user-images.githubusercontent.com/44458118/128922036-84e66fba-8f32-4563-abe1-40a5dec1578d.png)

[2021-08-10 19:24] PaulCornellDB commented on #75416
This issue is resolved in the Databricks source files and will be published soon. #please-close.

[2021-08-10 19:24] PRMerger9 commented on #75416
Only Microsoft employees can close issues or pull requests via commenting in this repo.

[2021-08-10 19:25] mike11stevens commented on #79529
thanks for quick reply and clarification, @stevevi. closing issue and looking into IL4 Blueprint a bit further

[2021-08-10 19:25] #79529 closed

[2021-08-10 19:31] SamaraSoucy-MSFT commented on #79383
I'm not able to reproduce your issue so far. Could you please share what versions of the Functions runtime and node you are using? Also, is this in the portal or in local development?

[2021-08-10 19:37] jahyen opened #79534 "Confirm whether unique indexes can only be created on empty collections"
This page mentions that unique indexes can only be created on empty collections. Is that the case? If it's true, can it also be documented here?

https://docs.microsoft.com/en-us/azure/cosmos-db/mongodb/mongodb-indexing

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc2f5f65-888a-1e53-83f3-125bb4f6564b
* Version Indepe

[2021-08-10 19:43] mimckitt commented on #79533
VMs that are utilizing less than 2 physical cores (not vCPUs) and the series supports accelerated networking can only enable it on a single NIC even though you can attach 2 NICs. I am taking a look into the issue to see if we need to add any additional steps/ notes.

[2021-08-10 19:56] mumian commented on #78906
@shae-hurst - thank you for your comments. I have updated the article.

#please-close

[2021-08-10 19:56] #78906 closed

[2021-08-10 20:02] smoms opened #79535 "Is the application in control of the cache?"
Is the read/write to and trough the cache transparent for the application? Or is the application deciding when to read from the cache or disk or when to write cached data to disk? It is bit confusing since in another doc I read that SQL Server is managing the the writing through from cache to disk..

thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2021-08-10 20:10] shohamMSFT commented on #59961
@Eikistein Thanks for the feedback! You are right, backup/restore of a key generated in Azure Key Vault only works within the same geography, that is, if source and target regions are in same geography. In your case since the two regions are in different geographies so the backup/restore won't work. We will update the article to point out the geography restriction.
Note that this limitation is onl

[2021-08-10 20:10] shohamMSFT commented on #59961
#please-close

[2021-08-10 20:10] #59961 closed

[2021-08-10 20:28] AnuragSharma-MSFT commented on #79534
@jahyen Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-08-10 20:31] AjayKumar-MSFT commented on #79390
Apologies for the delay! Typically, it doesn't compile due to syntax error.  Please use within the \<MyDatabaseContext>\ context (as mentioned in the doc). Kindly do share more details if the issue still persists.

      services.AddDbContext<MyDatabaseContext>(options =>
        options.UseSqlServer(Configuration.GetConnectionString("MyDbConnection")));

[2021-08-10 20:38] julieMSFT commented on #79279
#assign: julieMSFT

[2021-08-10 20:38] julieMSFT commented on #79279
#reassign: julieMSFT

[2021-08-10 20:43] iteal commented on #27800
Hi @davidbel ! Any news on this? Thanks!

[2021-08-10 20:46] julieMSFT commented on #78161
@VitalyMCT Thank you for your contribution to Microsoft Docs. The article has been updated. I will go ahead and close this issue. The @notification mechanism continues to work even after an item is closed, in case further communication is needed. We hope to hear from you again.

[2021-08-10 20:46] julieMSFT commented on #78161
#please-close

[2021-08-10 20:47] #78161 closed

[2021-08-10 20:48] julieMSFT commented on #78591
@jejang Is there a work around for this issue? Can we update the article?

[2021-08-10 21:02] julieMSFT commented on #77949
Hi @mirzaj, thank you for contacting Microsoft. We have an open issue to resolve this localization issue. I will close this issue for now but we are working on this. I will update you when the issue is resolved. The @notification mechanism continues to work even after an item is closed, in case further communication is needed. We hope to hear from you again.

[2021-08-10 21:02] julieMSFT commented on #77949
#https://ceapex.visualstudio.com/defaultcollection/CEINTL/_workitems/edit/442250

[2021-08-10 21:02] julieMSFT commented on #77949
#please-close

[2021-08-10 21:02] #77949 closed

[2021-08-10 21:07] julieMSFT commented on #78538
#please-close

[2021-08-10 21:07] #78538 closed

[2021-08-10 21:19] suyashjoshi opened #79536 "Missing Java Example"
It would be nice to see Java Speech SDK and example for Speaker Recognition

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90378d9c-eeb4-f8c5-2f38-a5132a7f303f
* Version Independent ID: a2e20d39-eb18-e7d2-749c-6955bf739d2c
* Content: [Speaker Recognition quickstart - Speech service - Azure Cognitive Services](https://d

[2021-08-10 21:25] julieMSFT commented on #78050
Hi @ChezMose  Thank you for contacting Microsoft. To delete a workspace, open the workspace in the Azure portal and select the delete icon.
![image](https://user-images.githubusercontent.com/44736634/128936359-b723ecad-353a-43b5-940c-01d0dbb002a6.png)

I will not be updating the article as the workspace created in this article is used in subsequent articles. Can you share the link to the page wher

[2021-08-10 21:44] pamjustice opened #79537 "Security group examples"
It would be helpful to explain under what circumstance you would want users to be able to create security groups or M365 groups.  Why should we enable users to do this?  And explain where/how they could do this? Sharepoint? Teams?  What applications would cause a security group to be created and what is the impact of turning this on/off?

---
#### Document Details

⚠ *Do not edit this section. It

[2021-08-10 21:45] mazhar10 opened #79538 "Typo in the document"
The document states "As a result, users in Tree 1 can access resources in domains in Tree 2 and users in Tree 1 can access resources in Tree 2," I think the second clause of this sentence is backwards.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec8a82bd-3cc3-cee0-0ac5-b5da036e48c3
* Version Independent ID: 8822b7cb

[2021-08-10 21:49] mazhar10 opened #79539 "Unclear sentence"
The sentence "When there is no shared root DNS server and the root DNS servers in each forest DNS namespace are use DNS secondary zones are configured in each DNS namespace to route queries for names in the other namespace." makes no sense.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec8a82bd-3cc3-cee0-0ac5-b5da036e

[2021-08-10 21:53] PaulCornellDB commented on #58912
Yes, you can share Shiny apps from Azure Databricks. For considerations, see https://docs.microsoft.com/en-us/azure/databricks/spark/latest/sparkr/shiny-notebooks#share-shiny-app-url.

This issue is resolved in the Databricks source files and will be published soon. #please-close.

[2021-08-10 21:53] PRMerger13 commented on #58912
Only Microsoft employees can close issues or pull requests via commenting in this repo.

[2021-08-10 22:14] VitalyMCT opened #79540 "Feasibility of using Azure IR"
According to this page it would appear to be possible to connect to publicly addressable Oracle servers via the Azure IR (i.e. without installing a self-hosted IR). Is this in fact the case?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aabe9a80-b786-fa4e-40ee-7b0dd6bfa81c
* Version Independent ID: fd7d478c-c2d0-f0f1-

[2021-08-10 22:21] kye commented on #79444
I'd like you to update the docs with that use case, so that I can explain to my business stakeholders.

[2021-08-10 22:32] lawrencelee-github opened #79541 "The GPG key of the latest version (1.0.016820001-1) of aadsshlogin rpm is incorrect"
When installing the **aadsshlogin** extension, it reported the following error:

[code]

Did not have the same problem when version **1.0.015950001-1** was installed last week.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2ede563-b873-0bc3-959f-69e555f0efcc
* Version Independent ID: 8471d9e4-6c79-0cf1-c5ed-50c58e1b9

[2021-08-10 22:42] davidbel commented on #27800
@iteal The steps to configure Single Sign-On are now publicly available at: https://docs.microsoft.com/en-us/azure/virtual-desktop/configure-adfs-sso

[2021-08-10 22:56] MarileeTurscak-MSFT commented on #79538
@mazhar10
Thanks for your feedback! We will investigate and update as appropriate.

[2021-08-10 23:05] MarileeTurscak-MSFT commented on #79539
@mazhar10
Thanks for your feedback! We will investigate and update as appropriate.

[2021-08-10 23:13] shohamMSFT commented on #76023
@robtextrequest Yes the database remains online during the encrypt/decrypt operations when TDE is enabled or disabled on a database. No additional DTUs are consumed.
There is typically a <5% CPU overhead during the initial encryption scan.
Thanks for the feedback on the documentation, we will continue to improve it.

[2021-08-10 23:13] shohamMSFT commented on #76023
#please-close

[2021-08-10 23:13] #76023 closed

[2021-08-10 23:27] MarileeTurscak-MSFT commented on #79538
Thank you! I made a pull request to fix this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/168675

[2021-08-10 23:27] #79538 closed

[2021-08-10 23:36] JamesTran-MSFT commented on #79537
@pamjustice
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-08-10 23:37] JamesTran-MSFT commented on #79532
@rconiv
Thanks for your feedback! We will investigate and update as appropriate.

[2021-08-10 23:40] JamesTran-MSFT commented on #79541
@lawrencelee-github
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-08-10 23:40] MashaMSFT commented on #75504
Hi @MSFTSteve , thanks so much for your feedback! I agree that this article could use some work and we have some plans in place to address this in the near future, stay tuned :) I'll close out this Git Issue for the time being but please feel free to comment should you need anything further.

Thanks!
Masha from the SQL Docs team
#please-close
#reassign:MashaMSFT

[2021-08-10 23:40] #75504 closed

[2021-08-10 23:41] PRMerger6 commented on #75504
GitHub user stevestein has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2021-08-10 23:57] emlisa commented on #76662
For the databases that you would like to migrate to Azure SQL Managed Instance please follow this migration guide https://docs.microsoft.com/azure/azure-sql/migration-guides/managed-instance/sql-server-to-managed-instance-guide . For the databases that you would like to migrate to Azure SQL Database please follow this migration guide https://docs.microsoft.com/azure/azure-sql/database/migrate-to-d

[2021-08-10 23:57] Karishma-Tiwari-MSFT commented on #79282
@alex-3sr I have reached out to the product team to confirm on this.

[2021-08-11 00:01] MarileeTurscak-MSFT commented on #79539
I have assigned this feedback to the content author to review. https://github.com/MicrosoftDocs/azure-docs-pr/pull/168682

[2021-08-11 00:16] Karishma-Tiwari-MSFT commented on #79528
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-08-11 00:24] BharathNimmala-MSFT commented on #79502
@sijucm Thank you for reaching out with your query, our team will review it and get back to you at the earliest.

[2021-08-11 00:29] James-Hamil-MSFT commented on #79506
Hi, we are investigating your issue and will update you shortly.

Best,
James

[2021-08-11 00:29] James-Hamil-MSFT commented on #79510
Hi, we are investigating your issue and will update you shortly.

Best,
James

[2021-08-11 01:37] khalil-omer opened #79543 "Postgres flexible server does or does not automatically fail over to another AZ during scale compute?"
This article says that if a flexible server is configured in high availability mode, triggering a scale operation will failover to the standby database while the primary is being scaled.

https://docs.microsoft.com/en-us/azure/postgresql/flexible-server/how-to-scale-compute-storage-portal

But this article says that that is not currently the case, that scaling a flexible server in high availabilit

[2021-08-11 01:48] KranthiPakala-MSFT commented on #79522
Hi @thoaingan
Thanks for the feedback! We have assigned the issue to the content author to further review this feedback and provide an update as appropriate.

[2021-08-11 01:49] KranthiPakala-MSFT commented on #79523
Hi @thoaingan
Thanks for the feedback! We have assigned the issue to the content author to further review this feedback and provide an update as appropriate.

[2021-08-11 01:50] KranthiPakala-MSFT commented on #79523
@leifbro , @mssaperla - Could you please review this feedback and  share your inputs? - Thank you

[2021-08-11 01:51] KranthiPakala-MSFT commented on #79525
Hi @LazaUK
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2021-08-11 01:52] KranthiPakala-MSFT commented on #79525
Hi @leifbro - Could you please review this feedback and update the documentation accordingly ? - Thank you

[2021-08-11 01:55] KranthiPakala-MSFT commented on #79527
Hi @VitalyMCT
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2021-08-11 01:58] KranthiPakala-MSFT commented on #79527
Hi @kromerm , @jonburchel - Looks like this doc need to be updated with latest info. Could you please review this doc? - Thank you

[2021-08-11 02:05] KranthiPakala-MSFT commented on #79540
Hi @VitalyMCT
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-08-11 03:09] everestster opened #79544 "Title should say React Native plugin instead of Native React plugin"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a698f716-19ef-f04f-f987-3c40b8a5e770
* Version Independent ID: 81ac9c79-1f34-a120-bcc1-f85f35b06356
* Content: [Native React plugin for Application Insights JavaScript SDK - Azure Monitor](https://docs.microsoft.com/en-us/azure/azure-monitor/app/javas

[2021-08-11 03:11] BharathNimmala-MSFT commented on #79526
@carolga Thanks a lot for bringing this to our notice, our team will review it and get back to you at the earliest.

[2021-08-11 03:37] ram-msft commented on #79536
@suyashjoshi Thanks for the feedback! We will review and update accordingly.

[2021-08-11 04:03] himanshusinha-msft commented on #79299
We have assigned the issue to the content author . They will evaluate & update the document as appropriate
Adding @julieMSFT  for visiblity .

[2021-08-11 04:05] vipulsparsh commented on #79535
@smoms Thanks for reaching out. We will investigate and update the thread accordingly.

[2021-08-11 04:06] himanshusinha-msft commented on #79379
We have assigned the issue to the content author . They will evaluate & update the document as appropriate
adding @leifbro for visiblity .

[2021-08-11 04:10] charles138 opened #79545 "Add-In Error in New Office Add-In Panel"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2021-08-11 04:16] just-nick commented on #30112
Is there any way to deal with this scenario while still using the same CDN provider? I have a blue/green deployment so I want to have two identical sets of infrastructure running.

[2021-08-11 04:17] vipulsparsh commented on #79543
@khalil-omer Thanks for reaching out. We will investigate and update the thread accordingly.

[2021-08-11 04:24] AshokPeddakotla-MSFT commented on #79238
@srinathck As suggested, please contact support or reach out to us for further assistance.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-08-11 04:24] #79238 closed

[2021-08-11 05:26] amatarou33 opened #79547 "Contradiction between documents"
[Enter feedback here]
https://docs.microsoft.com/en-us/azure/application-gateway/configuration-infrastructure#supported-user-defined-routes

The above document states:
- Any scenario in which 0.0.0.0/0 needs to be redirected on-premises (forced tunneling) isn't supported for v1.
- Any scenario where 0.0.0.0/0 needs to be redirected through any virtual appliance, a hub/spoke virtual network, or on-

[2021-08-11 05:50] tomkerkhove commented on #70511
Are you open to contributions?

[2021-08-11 06:05] BhargaviAnnadevara-MSFT commented on #79496
@tfitzmac Thanks for the update!
@dcbrown16 The changes are now live in the original doc.

We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-08-11 06:05] #79496 closed

[2021-08-11 06:10] SadiqhAhmed-MSFT commented on #79305
@SHxKM We will now proceed to close this issue. Feel free to ping with questions if any and will continue the discussion.

[2021-08-11 06:10] #79305 closed

[2021-08-11 06:49] Grace-MacJones-MSFT commented on #78586
Hello @v-bbalaiagar ,

I apologize for the delay in response. Based on [this github thread](https://github.com/Azure/azure-functions-host/issues/7512) it looks like this issue was already solved by the support team.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen

[2021-08-11 06:49] #78586 closed

[2021-08-11 07:02] MasterKolka opened #79548 "WebPubSub subresource name"
Hello,

You made a mistake writing a subresource name of a Web PubSub resource.
It is "webpubsub", not a "signalR".

![image](https://user-images.githubusercontent.com/29628534/128984126-087b9302-6c1b-4026-bc20-fb99bf291980.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b006a616-2f2f-8ecf-8b80-fd0a3cc62090
* Versi

[2021-08-11 07:21] SnehaAgrawal-MSFT commented on #79304
@JozoSlejko Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-08-11 07:38] #79275 closed

[2021-08-11 07:39] #79430 closed

[2021-08-11 07:39] #79432 closed

[2021-08-11 07:45] KrishnaG-MSFT commented on #79545
@charles138 Thanks for reaching out! [This](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions, etc.) so can you please share the Azure document link to which your feedback is related to.

If you need help in resolving a

[2021-08-11 08:11] IanKemp commented on #79472
@cgillum The problem with using `CurrentDateTimeUtc` in the way you're suggesting:

[code]

is that the standard .NET guidance, [for essentially forever](https://stackoverflow.com/a/28648/70345), has been that the above is an anti-pattern and `Stopwatch` should be used instead because it has higher precision. What options, if any, do orchestrator function users have for high-precision timing, sinc

[2021-08-11 08:38] lbenediktson commented on #79383
Can't really figure out where to find the version, but when I start the function locally it says:

    Azure Functions Core Tools
    Core Tools Version:       3.0.3477 Commit hash: 5fbb9a76fc00e4168f2cc90d6ff0afe5373afc6d  (64-bit)
    Function Runtime Version: 3.0.15584.0

And it's local development

[2021-08-11 08:48] ciufudean opened #79552 "plugin version and option numbers"
1. re *When prompted with Pricing Tier option, select P1v2 by entering 6*, P1v2 is not option 6, maybe it was at some point.
You could phrase it not to mention option numbers.
1. re `mvn com.microsoft.azure:azure-webapp-maven-plugin:2.0.0:config`, the last version of the plugin is 2.1.0, you could omit the version from the command line and have it use the last version by default.

---
#### Documen

[2021-08-11 08:55] BhargaviAnnadevara-MSFT commented on #79552
@ciufudean Thanks for the feedback. We shall evaluate and update the document as appropriate.

[2021-08-11 08:56] fillip1983 opened #79553 "OWASP 3.2 Core Rule set only shows 13 of 15 Rule Groups"
[OWASP 3.2 section](https://docs.microsoft.com/en-us/azure/web-application-firewall/ag/application-gateway-crs-rulegroups-rules?tabs=owasp32#owasp-crs-32-public-preview) says there are 15 rule groups (2 more than 3.1), but still only shows 13 - the same rule groups that are available on 3.1.

Where are the other 2 Rule Groups?

---
#### Document Details

⚠ *Do not edit this section. It is required

[2021-08-11 09:09] jugi92 opened #79554 "notebook.exit return value size limits missing"
It seems the return value size is limited somehow. It would be good to mentioned the limit in the documentation.
Thx

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ffbe7639-e81d-ae41-53fb-b0c39d6b8b3f
* Version Independent ID: 3b05bf70-b752-8148-11bf-6c268fa74003
* Content: [Notebook workflows - Azure Databricks - Work

[2021-08-11 09:20] shashishailaj commented on #79378
@trs80 . We are going to update this internally after validating all scenarios and will track this internally . We will be closing this issue as of now.

[2021-08-11 09:20] #79378 closed

[2021-08-11 09:20] SubhashVasarapu-MSFT commented on #79386
@dazinator, Appreciate your feedback. Here is the [doc](https://docs.microsoft.com/en-us/azure/bastion/bastion-connect-vm-rdp) that explains clearly about all the required roles that are necessary for connecting windows vm using Bastion service.
Meanwhile we will work on updating this document accordingly.
we are closing this issue for now. If there are further questions regarding this matter, ple

[2021-08-11 09:20] #79386 closed

[2021-08-11 09:25] GitaraniSharma-MSFT commented on #79547
@amatarou33 , thank you for your feedback. We'll review this and get back to you shortly!

[2021-08-11 09:25] GitaraniSharma-MSFT commented on #79548
@MasterKolka , thank you for your feedback. We'll review this and get back to you shortly!

[2021-08-11 09:26] GitaraniSharma-MSFT commented on #79553
@fillip1983 , thank you for your feedback. We'll review this and get back to you shortly!

[2021-08-11 09:33] lannert-ntt opened #79555 "Update Page listing Locations and Providers"
The page is outdated.
We like to give our customers an overview of Azure pops and providers but as the site is out of date we currently can not use it.
Is there a process for continuously updating this site?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a00024b9-36f7-c9a8-4277-9360b0cd6163
* Version Independent ID: aa

[2021-08-11 09:36] squasta opened #79556 "Little error in az cli command to add a new node pool"
`az aks nodepool add --cluster-name $clusterName -g $resourceGroup  -n newNodepool \
  --max-pods 250 \
  --node-count 2 \
  --vnet-subnet-id /subscriptions/$subscription/resourceGroups/$resourceGroup/providers/Microsoft.Network/virtualNetworks/$vnet/subnets/node2subnet \
  --pod-subnet-id /subscriptions/$subscription/resourceGroups/$resourceGroup/providers/Microsoft.Network/virtualNetworks/$vnet/

[2021-08-11 09:46] rubenaster commented on #31375
https://docs.microsoft.com/en-us/azure/logic-apps/workflow-definition-language-functions-reference#setproperty

[2021-08-11 10:11] LazaUK commented on #79525
Hi Kranthi,

  Sure, thank you for the update.

Best regards,
Laziz

On Wed, Aug 11, 2021 at 2:52 AM Kranthi Pakala ***@***.***>
wrote:

[2021-08-11 10:16] gvanteylingen opened #79557 "Incorrect ANF terminology used"
Geert van Teylingen, Azure NetApp Files Product Manager here.

Reviewing this page turns out to expose too much detail on how the Azure NetApp Files service is built.
Typically we do not want to expose constructs like "LIF" and "SVM" to the general public, not that the service is built on "NetAppp systems" in the level of detail.

Hence we'd need to have some paragraphs reworded to ensure everythi

[2021-08-11 10:33] GitaraniSharma-MSFT commented on #79479
@ashfenixx , as mentioned by @maertendMSFT , Cloud Shell in Vnet is already GA and the backend team will update the Azure updates page and screenshot.

We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-08-11 10:33] #79479 closed

[2021-08-11 10:34] btmpn opened #79558 "Possibility to add custom headers via Powershell or CLI"
This page tells how to add static headers to eventgrid subscriptions via AzurePortal.
Unfortunately i could not find any possibilities to set static headers when creating an EventGrid subscription via CLI or Powershell. If there is a possibility to achieve this or if not, it would be great being mentioned here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2021-08-11 10:36] #79556 closed

[2021-08-11 10:37] SrijitBose-MSFT commented on #79556
@squasta thank you for your feedback. We have updated our documentation. It should reflect the changes soon.

[2021-08-11 10:41] GitaraniSharma-MSFT commented on #79555
@lannert-ntt , thank you for your feedback. We have assigned this to the content owner/author for review.

@duongau , for your review.

[2021-08-11 10:45] Svijay-msft commented on #79540
@VitalyMCT - Can you please confirm whether you are referring to the **managed virtual network integration runtime feature** in Azure Data Factory to access the On-Prem Servers without the Self hosted Runtime?

Alternatively, if this is not case, can you please help me understand which part of the article you are referring to ?

[2021-08-11 10:54] JCPuerto opened #79559 ""Automatically resolve alerts" causes 0 results and Top 10 Results empty in the alert email"
We've been trying to understand why an alert was sending Top 10 results and suddenly started behaving different.

So if the "Automatically resolve alerts" option is checked we receive an email alert but
- It says "We are notifying you because there are 0 counts of {alert-name}"
- The Description field is there
- Search interval start time is in the format "8/11/2021 12:25:29 AM"
- The link button'

[2021-08-11 10:54] amit2maha1 commented on #69117
why has no one done anything for this. We spent a day figuring this out. Come on Microsoft.

[2021-08-11 11:03] yutaro113 opened #79560 "Is there any way to query data through multiple container from Portal?"
Hi team,
Is there any way to query data through multiple container from the portal?
I see we can execute query for each container like below, but couldn't find the way to query through multiple containers.
![image](https://user-images.githubusercontent.com/36602021/129018071-a88e7d6b-81cd-484f-b7ec-f3b48d128c4b.png)

I think above scenario is required when we query the container which data schema

[2021-08-11 11:15] GitaraniSharma-MSFT commented on #79553
@fillip1983 , OWASP 3.2 Core Rule set contains 13 Rule Groups and I have cross-checked with portal UI and confirmed this:

![image](https://user-images.githubusercontent.com/67630903/129019318-10a36735-bd9d-4820-ad22-5d93007d5ccf.png)

CRS 3.2 (public preview) offers a new engine and new rule sets defending against Java infections, an initial set of file upload checks, fixed false positives, and m

[2021-08-11 11:15] #79553 closed

[2021-08-11 11:49] BhargaviAnnadevara-MSFT commented on #79503
@Catastrophe1 Thanks for bringing this to our attention. I have submitted a PR to fix the issue that's in review.

[2021-08-11 11:53] AnuragSharma-MSFT commented on #79560
@yutaro113 Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-08-11 11:56] vipulsparsh commented on #79321
@YassineSOUABNI Thanks for the feedback. We will engage the content development team for further investigation.

[2021-08-11 11:57] YassineSOUABNI commented on #56804
Dear,
the typo is still there.
Please correct as it misleads people.

Either
state that the script should somehow disable the onpremises object (AD user) "instead of what is being mentioned : Azure AD User" or propose another alternative to the fact that the AccountExpire isn't synced to Azure AD.... like explicitly blocking the user account through a dedicated BLOCK conditional access ....

Thank

[2021-08-11 12:05] #79548 closed

[2021-08-11 12:05] GitaraniSharma-MSFT commented on #79548
@MasterKolka , I have corrected the subresource for Microsoft.SignalRService/webPubSub to webpubsub and it will reflect in the doc shortly.

We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-08-11 12:10] rpilot opened #79561 "Hash value seems to be incorrect"
Please clarify if the hash value for the latest file version shouldn't be **b4668be44c05836bf0f2ac1c8b1f48b7a9538afcf416c5212c7190629e3683b2**

https://docs.microsoft.com/en-us/azure/migrate/how-to-use-azure-migrate-with-private-endpoints#verify-security

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2021-08-11 12:13] shashishailaj commented on #79315
@theorange7 We have informed the product group related to this and will track this item internally for document update.

Thank you.

[2021-08-11 12:13] #79315 closed

[2021-08-11 12:14] yanivlavi commented on #79559
This is a preview feature for log alerts, not related metric alerts.
We currently don't provide the search results. You can use the GA stateless option for now, use the links, or use dimensions to get the context of the alert.

[2021-08-11 12:14] yanivlavi commented on #79559
#please-close

[2021-08-11 12:14] #79559 closed

[2021-08-11 12:15] shashishailaj commented on #79354
@drdamour We are engaging the content team on this to validate and see how best we can update the document as needed.

[2021-08-11 12:18] Vikram1988 commented on #79561
@rpilot ,
We released a new version of the installer script on Monday but the doc update takes time so the updated hash value should start reflecting in sometime.

I can confirm that the correct hash value is: **b4668be44c05836bf0f2ac1c8b1f48b7a9538afcf416c5212c7190629e3683b2**

[2021-08-11 12:21] cboneill0099 opened #79562 "Automated ADF Publishing Documentation Missing"
The below page should mention the additional requirement of having to use the PowerShell method to deploy global params when using the new automated publishing CI/CD flow.

This is mentioned here: https://docs.microsoft.com/en-us/azure/data-factory/author-global-parameters#cicd

But if someone is following the steps in the below docs page, there is no mention of the global params requirement.

---

[2021-08-11 12:25] CRidge opened #79563 "Confusing limits for Serverless per account"
In section [Serverless per account](https://docs.microsoft.com/en-us/azure/cosmos-db/concepts-limits#serverless-1) I find it a bit confusing. Is it correct that you can have an unlimited number of databases, but per account, you can only have 100 containers? Why would you need more than 100 databases if there can't be more than 100 containers?

---
#### Document Details

⚠ *Do not edit this sectio

[2021-08-11 12:47] dhardie commented on #51708
Restarting my FA didn't pick up the latest KV value :(

[2021-08-11 12:51] rpilot commented on #79561
Thanks a lot, @Vikram1988 !

[2021-08-11 12:51] qsdfplkj opened #79564 "Security warning!!!!"
This should come with a HUGE WARNING. Never share har files with anybody. It contains all the authentication. People are being scammed this way very often.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13f9ad7f-cf04-3030-9f71-511e5d603713
* Version Independent ID: e43fa6b7-536d-1bca-b2ad-4223e2a

[2021-08-11 12:55] Damag3d opened #79566 "Please add information on what permissions are required to use live capture tool"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 987fb261-e328-8329-d7e0-f6c2a6577b7b
* Version Independent ID: 7605dc6b-b90d-f050-5dcd-6e65425bba22
* Content: [How to use live trace tool for Azure SignalR service](https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-howto-troubleshoot-live-

[2021-08-11 13:01] fillip1983 commented on #79553
Great, thanks for clarifying so quickly.

[2021-08-11 13:04] fillip1983 commented on #79553
After checking, I actually have more than 3 Java rules in the set, so the statement that "OWASP CRS 3.1 only contains [...] 944120, 944130 and 944200" still isn't100% accurate. See below.
![image](https://user-images.githubusercontent.com/28857794/129033712-f95b8542-456e-4fdd-ab53-738964aa99e4.png)

[2021-08-11 13:08] 9songs opened #79567 "Support of LastSignInDateTime via Get-AzureADUser or Get-AzUser"
Hi, it would be great to get support for LastSignInDateTime via either Get-AzureADUser or Get-AzUser. Is this planned?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e0a0671-953a-7797-6e0c-6616420f4c3b
* Version Independent ID: a2de95d1-67b2-bcc6-402f-f5d23c53d13a
* Content: [How to manage inactive user accounts in Az

[2021-08-11 13:09] SimplifyLMS opened #79568 "I would like to create a tutorial for SSO for my software"
Hi

I would like to create a tutorial for SSO for my software, similar to this one, but for my learning management system.

https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/learnupon-tutorial

What is the process please?

Thanks

Lynton

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dbcbc01a-98c6-33f7-

[2021-08-11 13:17] PriceChild opened #79570 "Clarify "Supported registries and images:""
This line does not tell the whole story.

https://docs.microsoft.com/en-gb/azure/container-registry/allow-access-trusted-services#trusted-services shows that if you enable access by trusted services, you can remove public access to the ACR and still gain these Azure Defender features.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2021-08-11 13:27] VitalyMCT commented on #79540
@Svijay-msft That's one of the things that's unclear from this article. Are there two possible integration paths?

1) Using the Azure IR via the managed virtual network integration runtime feature
2) Using the Self-Hosted IR

The prerequisites section says the Oracle driver is included. Is it included for both 1 and 2?

What differences apply if 1 vs. 2 are used with Oracle?

I think all of those

[2021-08-11 13:35] gabor-rozsa commented on #19266
The question was on AAD Password Protection Proxy, so the linked AAD Application Proxy article is not relevant.

[2021-08-11 13:44] gabor-rozsa commented on #19266
Possible solution:
$scp = "serviceConnectionPoint"
$keywords = "{ebefb703-6113-413d-9167-9f8dd4d24468}*"
Get-ADObject -SearchScope Subtree -Filter { objectClass -eq $scp -and keywords -like $keywords }

Then modify the filter with the DN of your proxy choice and pipe it into Remove-ADObject

Example:
Get-ADObject -SearchScope Subtree -Filter { objectClass -eq $scp -and keywords -like $keywords} |

[2021-08-11 13:47] abhijitpai commented on #79397
@deborahc can chime in on this.

[2021-08-11 14:01] MayankBargali-MSFT commented on #79416
@melissatranuw Just following up here. Hope my previous comment helped.

[2021-08-11 14:02] MayankBargali-MSFT commented on #79485
@matt55119 Hope the @videlalvaro comment clears things up. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-08-11 14:02] #79485 closed

[2021-08-11 14:14] shashishailaj commented on #79127
@dcaddick We checked this and you can use the following URL for this page to get the feed.

https://docs.microsoft.com/api/search/rss?locale=en-us&$filter=scopes%2Fany(t%3A%20t%20eq%20%27azure%20security-center%20release-notes%27)

If you try this in a feedreader you would get the following as of now and this is because the feed is generated today and there are no new updates on the page. If you u

[2021-08-11 14:14] #79127 closed

[2021-08-11 14:16] KarenTazayan opened #79573 "Is it still possible to create a new tenant in Azure Active Directory?"
I do not see any ability to create a new tenant (B2B Free) in Azure Active Directory. Is documentation outdated?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ce34b51-c8d3-32cc-6a22-7928fb522a05
* Version Independent ID: 59b90561-8d1e-6521-0f60-98fbfda70922
* Content: [Quickstart - Access & create new tenant - Azure

[2021-08-11 14:21] shashishailaj commented on #79137
@dave22000 This may require deeper troubleshooting. I would request you to send an email to azcommunity [at] microsoft [dot] com along with your azure subscription ID and a subject line "ATTN:shashi " referencing this thread and we will help you with alternate support options.

Thank you.

[2021-08-11 14:21] #79137 closed

[2021-08-11 14:34] ram-msft commented on #79536
@erhopf Can you please help with the Java Speech SDK example for Speaker Recognition.

[2021-08-11 14:36] shashishailaj commented on #78581
@Klaas- Thank you for the detailed feedback . We are having this incorporated internally in the feedback loop and the internal team will look into this . Once we have clarification from engineering the document will be changed by the content team as per the new updates from engineering .

Thank you.

[2021-08-11 14:36] #78581 closed

[2021-08-11 14:43] MicrosoftGuyJFlo commented on #72185
@ricktam1469 the only thing I can find is https://docs.microsoft.com/azure/digital-twins/how-to-authenticate-client#authenticate-across-tenants

Posing this question if it is still an issue in that doc's issues will probably get you a better response. #please-close

[2021-08-11 14:43] #72185 closed

[2021-08-11 14:45] VitalyMCT opened #79574 "Functionality of "validate copy runtime" button"
Can the purpose of this button please be described? If it's described elsewhere in the documentation, can you point us to the corresponding page?

![image](https://user-images.githubusercontent.com/1765732/129050638-993f0e41-f271-42a2-9e59-f773fee074b5.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8f48c7b-2f52-6

[2021-08-11 14:59] bigkangji opened #79575 "Automatic key rotation of customer-managed keys is in preview or GA?"
Hello,

From the Azure update pages,
[General availability: Key Rotation and Expiration Policies for Azure Storage](https://azure.microsoft.com/en-us/updates/key-rotation-and-expiration-policies-for-azure-storage/)

From the docs pages,
[Automatic key rotation of customer-managed keys (preview)](https://docs.microsoft.com/en-us/azure/virtual-machines/disk-encryption#automatic-key-rotation-of-custo

[2021-08-11 15:03] PaulCornellDB commented on #61228
I have just gone through the current Power BI connection documentation step by step, and I did not need to provide a port number to successfully connect. Furthermore, providing a URL in the format you describe doesn't work for me.

Which version of Power BI Desktop are you using? Also are you sure you're entering the correct values in the **Azure Databricks** dialog box's **Server Hostname** and *

[2021-08-11 15:07] MuhammadBilalYar commented on #79271
Yes everything is clear

[2021-08-11 15:07] #79271 closed

[2021-08-11 15:11] andreasmarx commented on #79030
Hi. Is ther any update you can provide? Best regards Andreas

[2021-08-11 15:20] Euan-McVie opened #79576 "Application Inisights - Setting the default log level section is not clear"
[Create filter rules in code](https://docs.microsoft.com/en-us/azure/azure-monitor/app/ilogger#create-filter-rules-in-code)
states that the code version is functionally equivalent of the json above. In more complex logging scenarios it is not.

My understanding is that `builder.AddFilter<ApplicationInsightsLoggerProvider>("", LogLevel.Warning);` would set the `LogLevel` under `Logging:ApplicationI

[2021-08-11 15:23] #79396 closed

[2021-08-11 15:26] lgayhardt commented on #79544
@everestster thanks for catching that.

The doc update should go live today

Thanks!
#please-close

[2021-08-11 15:26] #79544 closed

[2021-08-11 15:26] zahraasaleh opened #79577 "PostgreSQL backup pre-requests | Public Network access"
[Hello Team,
When customers are trying to enable backup for PostgreSQL they need to have the Allow access to Azure services set to YES but they cant do that if they have Deny public network access set to YES

so basically, customers with Private network access on the PostgreSQL are not able to use the backup vault to do backup for the database and the registration would fail with
![image](https://

[2021-08-11 15:26] Nicholak-MS commented on #76978
thanks Alex, for the information above. I located the SKU you are referencing and I added it to the doc, it will publish later today.

[2021-08-11 15:26] macel94 opened #79578 "Linked demo not working"
Hi

in this page, the link
"For more information, see the Azure Media Player + VI Insights demo." sends me to https://codepen.io/videoindexer/pen/rYONrO and there with Edge updated to the latest version, the example does not work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30e33927-b43f-0137-6c85-8d4e69f61111
* Ver

[2021-08-11 15:28] JamesTran-MSFT commented on #79567
@9songs
Thanks for your feedback! We will investigate and update as appropriate.

[2021-08-11 15:28] roygara commented on #79575
Hello @bigkangji These are not the same feature. That GA is for key rotation on storage accounts, not managed disks.

#please-close

[2021-08-11 15:28] #79575 closed

[2021-08-11 15:30] JamesTran-MSFT commented on #79568
@SimplifyLMS
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-08-11 15:31] nosvalds opened #79580 "Large WARNING message when using the recommended set up from this article"
I'm using the described set up here. It works, but I noticed that there is a large `WARNING` in the logs which makes it seem like this isn't the BEST way to do this...

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7aef74eb-a8c5-0251-82f6-0cba6f58d712
* Version Independent ID: fa7b29e1-f341-e7ac-f4a8-d04602e2cd

[2021-08-11 15:35] JamesTran-MSFT commented on #79573
@KarenTazayan
Thanks for your feedback! We will investigate and update as appropriate.

[2021-08-11 15:39] JamesTran-MSFT commented on #79567
@9songs
When it comes to the `lastSignInDateTime`, I was able to find some GraphAPI operations that might help with your issue. However, I've reached out to our engineering team to see if this is a planned feature for the [Get-AzureADUser](https://docs.microsoft.com/en-us/powershell/module/azuread/get-azureaduser?view=azureadps-2.0) or [Get-AzADUser](https://docs.microsoft.com/en-us/powershell/mod

[2021-08-11 15:41] erhopf commented on #79536
Hi @ram-msft I no longer work on Cognitive Service. I'm attaching @nitinme and @laujan who can help support.

[2021-08-11 15:45] JamesTran-MSFT commented on #79573
@KarenTazayan
Thank you for pointing this out! It looks like the Azure Portal underwent some changes so the `Create Tenant` option is located under the `Manage tenants` button.

![image](https://user-images.githubusercontent.com/36619112/129060702-ced077d4-2c93-4b29-abfa-9efafbd68271.png)

I went ahead and assigned this issue to the author to update the doc instructions and screenshots.
Thank you

[2021-08-11 15:59] MashaMSFT commented on #46081
Hi @dvansteenburg , thanks so much for bringing this to our attention! We've processed a change on our end to update the documentation, it should be live this week :)

I'll go ahead and close out this Git Issue but please feel free to comment should you need anything further.

Thanks again for reaching out and I  hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#reassign:zo

[2021-08-11 15:59] #46081 closed

[2021-08-11 16:05] scubaninja commented on #75378
@Cmohan what agent are you running in your pipelines? There's a known issue with the hosted agent and .NET version.

[2021-08-11 16:06] duongau commented on #79555
@lannert-ntt the content on this page has been updated more than a few times this year to reflect new peering sites. Is there a peering site that is missing or are you just referring to the date not being updated properly. If you look at the GitHub for the article, the last update to location was on 8/6. I'll update the date on the article to reflect that.

[2021-08-11 16:16] suyashjoshi commented on #79536
Thanks but this is an Android app example, a standalone Java app example would be helpful just like you have for other languages here : https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/get-started-speaker-recognition?tabs=script&pivots=programming-language-csharp

[2021-08-11 16:20] MashaMSFT commented on #78326
Hi @sidprasher , thanks so much for contacting Microsoft!

While Azure managed disks offer encryption at rest at the disk level, for high security environments it may be worth adding the additional layer of encryption that SQL Server Transparent Data Encryption (TDE) provides. When TDE is enabled on a database that resides on managed disk, the database files are encrypted at the file level as well

[2021-08-11 16:20] #78326 closed

[2021-08-11 16:24] sunnyhay commented on #79249
Please provide update on this issue. This blocks my team's work for a while. Thanks.

[2021-08-11 16:29] dcaro commented on #78623
@Ayanmullick this seems to be more a feature request than a doc issues, can you please open an issue in the [Azure PowerShell](https://github.com/Azure/azure-powershell/issues) repo

[2021-08-11 16:30] Justinha commented on #77217
@vinay230890 thanks for comment! The topic has been updated.

[2021-08-11 16:30] Justinha commented on #77217
#please-close

[2021-08-11 16:30] #77217 closed

[2021-08-11 16:31] SadiqhAhmed-MSFT commented on #79561
@rpilot - Thanks for bringing this to our attention.

@Vikram1988 - ETA for doc update?

[2021-08-11 16:38] SamaraSoucy-MSFT commented on #79269
@dldldlepl since there are no doc updates required I do need to close the issue for now- I am still working on getting an update from the product team on whether or not there are any planned schema updates. I will update you with anything I can share, and you can still @ me on this thread if you have any additional follow up.

[2021-08-11 16:38] #79269 closed

[2021-08-11 16:39] SamaraSoucy-MSFT commented on #79444
Sure- I've assigned the issue to the doc author.

[2021-08-11 16:44] SamaraSoucy-MSFT commented on #79392
Hi @poonkodi123 Have you had a chance to look at the CORS policy in Cosmos?

[2021-08-11 16:46] Arash-Sabet opened #79581 "GET action should be considered instead of POST"
The following statement:

Should be rephrased to:

**Use your favorite API development application to generate an API call, and review the response to debug your policy. Construct a call like this example with the following information as the body of the GET request:**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 86e

[2021-08-11 16:50] cgillum commented on #79472
High-precision latency measurements aren't really useful in Durable Functions since operations such as calling activities involve a good amount of network I/O, which you don't have any direct control over. I therefore think the .NET guidance wouldn't really apply here.  This .NET guidance becomes more important when you're dealing with really small measurements (e.g. microseconds) because small me

[2021-08-11 16:51] Justinha commented on #64092
@skiddder unfortunately we don't have much expertise with RHEL on the team. I found this doc on their site, and it mentions how to enable supported encryption types. https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/8/html-single/integrating_rhel_systems_directly_with_windows_active_directory/index

[2021-08-11 16:52] Justinha commented on #64092
#please-close

[2021-08-11 16:52] #64092 closed

[2021-08-11 16:53] SaiKishor-MSFT commented on #79394
@sciguy16 QQ here, when you say discarding user submitted values, do you mean to say that you want Front Door appended values to be carried over to the back end?

[2021-08-11 16:55] markjbrown commented on #79560
You can't query multiple containers under any circumstances whether via the portal or the SDKs.

Cosmos DB is a NoSQL database. It does not support relational constructs like joins.

Worth checking out a few resources that can help you learn how to design for this type of database.

Take a look at all the docs here
https://docs.microsoft.com/en-us/azure/cosmos-db/modeling-data

Then these two MSL

[2021-08-11 16:55] MarileeTurscak-MSFT commented on #79581
@Arash-Sabet
Thanks for your feedback! We will investigate and update as appropriate.

[2021-08-11 16:57] #64149 closed

[2021-08-11 16:58] SaiKishor-MSFT commented on #79394
Thanks for leveraging Azure docs feedback channel to raise this question. This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. We didn't determine any changes for this documentation upon reviewing this feedback.
If your issue is specific to a use case, we request you to please reach out in forums like Microsoft Q&A or Stackoverflow. We h

[2021-08-11 16:58] #79394 closed

[2021-08-11 16:58] RyanHill-MSFT commented on #78174
@manipuraco did you run the following commands first?

[code]

When you run `az -v` you should see `appservice-kube 0.1.21` listed as an extension.

[2021-08-11 16:59] SaiKishor-MSFT commented on #79409
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-08-11 16:59] #79409 closed

[2021-08-11 16:59] coelho5br opened #79582 "Update the Naked Domain information for App Services Managed Certificates"
[Enter feedback here]

please remove the "Public Preview" information for the **App Service Managed Certificates** as it is now GA

 Also on the remark 12, please remove the "Naked domains aren't supported" as it is current is supported. This is the full sentence:

12 Naked domains aren't supported. Only issuing standard certificates (wildcard certificates aren't available). Limited to only one fr

[2021-08-11 17:00] Justinha commented on #72803
@DeiverK Thank you and sorry for delay. Unfortunately we don't have a lot of Linux expertise on the team. If you could kindly submit a pull request with suggested changes, I can share with engineers who can review.

[2021-08-11 17:00] Justinha commented on #72803
#please-close

[2021-08-11 17:00] #72803 closed

[2021-08-11 17:01] philmea commented on #16772
Hello,
The MXChip article has been retired in favor of a new quickstart experience in our Device Developer center: https://docs.microsoft.com/en-us/azure/iot-develop/quickstart-devkit-mxchip-az3166-iot-hub. Please try it out!

Thanks

[2021-08-11 17:02] philmea commented on #16772
#please-close

[2021-08-11 17:02] #16772 closed

[2021-08-11 17:02] Cmohan commented on #75378
I literally followed the article linked in the issue word for word so whatever agent it's using is what I did.

[2021-08-11 17:04] philmea commented on #79080
#please-close

[2021-08-11 17:04] #79080 closed

[2021-08-11 17:14] MicrosoftGuyJFlo commented on #79541
@JamesTran-MSFT Not a doc bug. Forwarded to the Product Group for their feedback.

[2021-08-11 17:15] Oury-MSFT commented on #79563
@CRidge Thank you for your feedback. We are reviewing this and will get back shortly.

[2021-08-11 17:24] MartinJaffer-MSFT commented on #79554
Thank you for your feedback. This has been assigned to the content owner, @mssaperla , and will be updated as appropriate.

[2021-08-11 17:25] MartinJaffer-MSFT commented on #79562
Thank you for your feedback. This has been assigned to the content owner, @nabhishek , and will be updated as appropriate.

[2021-08-11 17:26] DerekHerman-MSFT commented on #79580
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-08-11 17:27] MartinJaffer-MSFT commented on #79574
Thank you for your feedback. This has been assigned to the content owner, @jianleishen , and will be updated as appropriate.

[2021-08-11 17:40] GuyPaddock opened #79586 "Unclear on where to find "Certificate management type""
In [section 3.4](https://docs.microsoft.com/en-us/azure/active-directory-b2c/custom-domain?pivots=b2c-custom-policy#34-configure-https-on-a-front-door-custom-domain), the text says:

It is not clear where you are supposed to find "Custom domain name HTTPS" to select it. It appears that the text should instead say that you should click on the custom domain under "Frontends/domains" and then you can

[2021-08-11 17:43] RyanHill-MSFT commented on #79475
Hi @snobu, I see what you mean. `az webapp list-runtimes` returns values that you can use with the `--runtime` argument for `az webapp create` command. With values like -lts, this won't work. We'll get the doc updated to make this more clear.

[2021-08-11 17:47] SumanthMarigowda commented on #79240
@ SinisterChinaPenguin We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-08-11 17:47] #79240 closed

[2021-08-11 17:49] JamesTran-MSFT commented on #79541
@lawrencelee-github
Thank you for your time and patience throughout this issue.

So I can gain a better understanding of your issue and try to reproduce it on my end, were you following the [Using the Azure Cloud Shell experience to enable Azure AD login](https://docs.microsoft.com/en-us/azure/active-directory/devices/howto-vm-sign-in-azure-ad-linux#using-the-azure-cloud-shell-experience-to-enable

[2021-08-11 17:51] mikenri opened #79587 "Updated image release schedule is misleading"
This document states "AKS provides one new image per week with the latest updates"

This is not accurate for Windows nodes.
Support has advised there is no defined release schedule for Windows node images, it can take up to several weeks after Microsoft updates have been released for an updated Windows node image to be available.

The wording should be corrected as to not set the expectation that

[2021-08-11 17:52] Justinha commented on #79097
#please-close

[2021-08-11 17:52] #79097 closed

[2021-08-11 17:57] GuyPaddock opened #79588 "Why not an alias CNAME for Azure FD?"
In [section 3.1](https://docs.microsoft.com/en-us/azure/active-directory-b2c/custom-domain?pivots=b2c-custom-policy#31-create-a-cname-dns-record), the steps have you create a normal CNAME rather than an alias record CNAME. It appears that Azure supports selecting an Azure FD resource as an alias CNAME target, so is there any reason why the instructions don't recommend using that approach?

Contras

[2021-08-11 18:01] Vikram1988 commented on #79561
@rpilot please check now, the values have been updated

[2021-08-11 18:08] sercast commented on #79533
It is not allowing the customer to enable on even a single NIC. There is also a requirement of a minimum of 4 cores for SKUs that support hyperthreading. However, it is inconsistent as you can see below.

$ az vm list-skus  --zone  --size Standard_E2s_v3 | jq '.[] | {"location": .locations[], "acceleratedNetworking": (.capabilities[] | select(.name=="AcceleratedNetworkingEnabled") | .value)}'
{

[2021-08-11 18:15] MarileeTurscak-MSFT commented on #79539
@justinha assigned a PR to you.

[2021-08-11 18:15] #79539 closed

[2021-08-11 18:30] SumanthMarigowda commented on #79308
@jonpayne Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused.  I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-08-11 18:35] MarileeTurscak-MSFT commented on #79570
Thank you! I made a patch to your pull request to remove the localization and paths from it. https://github.com/MicrosoftDocs/azure-docs/pull/79571/files#diff-94482bd9e510fcc8fa77c284cc21f6183d31ec725019f521e627ddecdce9e0cc

@memildin please review.

[2021-08-11 18:35] #79570 closed

[2021-08-11 18:40] Justinha commented on #76309
@DavidSchrag sorry for the confusion. I'm going to remove the first bullet you cited because it doesn't seem accurate or make sense, let alone the lack of a verb. I think this para earlier in the topic is most relevant for your concern:

If you have an Azure AD password policy that specifies a maximum password age greater than 90 days, that password age is applied to the default policy in Azure AD

[2021-08-11 19:01] kha1989led opened #79590 "Admin consent successful response example typo"
The [Successful response ](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-client-creds-grant-flow#successful-response) has the parameter 'state=' twice:

GET http://localhost/myapp/permissions?tenant=a8990e1f-ff32-408a-9f8e-78d3b9139b95&state=state=12345&admin_consent=True

It should look like this:
GET http://localhost/myapp/permissions?tenant=a8990e1f-ff32-408a-9f8e-78

[2021-08-11 19:02] AskYous opened #79591 "Remove 0.4.0-preview!!!"
I've spent hours and hours trying to find out why my application failed when running it in azure. I then finally tested running the follow command, but withOUT the preview versioning, and it worked:

[code]

This makes the app FAIL when published to Azure for me. So I did this instead and it worked, and I hope the documentation is updated to save others hours of time:

[code]

---
#### Document De

[2021-08-11 19:10] hpsin commented on #79590
Thanks for the catch! Will fix.

[2021-08-11 19:11] Justinha commented on #68971
@Donovand4 Thanks for the suggestion and sorry for delay. This has been added. https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-registration-mfa-sspr-combined#switch-directory

[2021-08-11 19:12] Justinha commented on #68971
#please-close

[2021-08-11 19:12] #68971 closed

[2021-08-11 19:23] Justinha commented on #74597
@cking-uttyler-edu sorry for delay and thanks for your comment. I may be missing what you see. The topic says Graph API is supported for administrator-initiated end-user password resets and not supported for an end user to do the same.

[2021-08-11 19:24] Justinha commented on #74597
#please-close

[2021-08-11 19:24] #74597 closed

[2021-08-11 19:25] #78174 closed

[2021-08-11 19:26] billmath commented on #75187
@sjflanagan
Thanks for calling this out.  I have an internal work item open on this and it will be getting updated.  At this point we can close this issue and I will post to this once I have more.  Thanks!

#please-close

[2021-08-11 19:26] #75187 closed

[2021-08-11 19:27] AjayKumar-MSFT commented on #79390
Braemarblue,  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and we will gladly continue the discussion.

[2021-08-11 19:27] #79390 closed

[2021-08-11 19:29] Justinha commented on #70884
@git14 thanks for the suggestion. This is added.

[2021-08-11 19:29] Justinha commented on #70884
#please-close

[2021-08-11 19:29] #70884 closed

[2021-08-11 19:35] cking-uttyler-edu commented on #74597
Looks like it was fixed on May 4. https://github.com/MicrosoftDocs/azure-docs/issues/74690

Thanks!

________________________________
From: Justin Hall ***@***.***>
Sent: Wednesday, August 11, 2021 14:24
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Braden King ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Supported/unsupported writeback operations involving Microsoft

[2021-08-11 19:43] #79030 closed

[2021-08-11 19:46] billmath commented on #70101
@wUEZRs  Thank you for this issue.

At this point, support for writeback is currently not available with cloud sync.  Once it becomes available we will update the documentation as well as announce it.  Thanks!

#please-close

[2021-08-11 19:46] #70101 closed

[2021-08-11 19:47] JamesTran-MSFT commented on #79591
@AskYous
Thanks for your feedback! We will investigate and update as appropriate.

[2021-08-11 19:48] Justinha commented on #68278
@danmyhre thanks for the suggestion and sorry for delay. This has been added.

[2021-08-11 19:48] Justinha commented on #68278
#please-close

[2021-08-11 19:48] #68278 closed

[2021-08-11 19:49] billmath commented on #70150
Nope, looks good.  Thanks @JamesTran-MSFT

#please-close

[2021-08-11 19:53] Justinha commented on #79105
@git14 thanks for reporting this! A fix is being rolled out any day.

[2021-08-11 19:53] MicrosoftGuyJFlo commented on #77715
Asked the PG for feedback

[2021-08-11 19:53] Justinha commented on #79105
#please-close

[2021-08-11 19:53] #79105 closed

[2021-08-11 19:55] billmath commented on #71853
The information may be objects or attributes, so no, the statement is correct. Thank you!

#please-close

[2021-08-11 19:55] #71853 closed

[2021-08-11 19:55] rolyon commented on #62724
#please-close

[2021-08-11 19:55] #62724 closed

[2021-08-11 19:57] Justinha commented on #73714
@cvaughan3 thanks for reporting this! When this reporting information is available we will update the doc.

[2021-08-11 19:59] billmath commented on #69772
Thank you for your issue submission. Unfortunately, this appears to not be a documentation issue. Issues in this repo are for documentation issues. You can try one of the following links for additional help.

Microsoft Support: https://support.microsoft.com/
Azure AD forums: https://social.technet.microsoft.com/Forums/en-US/home?forum=windowsazureaditpro
Stackoverflow: https://stackoverflow.com/

[2021-08-11 19:59] #69772 closed

[2021-08-11 20:03] MicrosoftGuyJFlo commented on #79507
It depends on the policy configured. In some instances you will need both and then it lets you know and prompts for install. There is an answer in techcommunity https://techcommunity.microsoft.com/t5/microsoft-intune/why-different-broker-apps-for-ios-and-android-not-enrolled-when/m-p/332758 that explains a bit.

The Product Teams are aware of the confusion around having two apps and requiring less

[2021-08-11 20:03] #79507 closed

[2021-08-11 20:05] juharris opened #79592 "Work with Azure Functions Proxies: How to create Function App resource?"
There are many ways to create a Function App resource. Could you please provide some details on the page "Work with Azure Functions Proxies" on how to set up the Function App resource?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c59024a4-9208-9b00-43ee-f6ba936c95a6
* Version Independent ID: 5ac7705c-35e3-b211-ebba-3

[2021-08-11 20:05] MicrosoftGuyJFlo commented on #78847
Taking this ask to the backlog as I simplify this article and reformat it. Thanks for the feedback. I will update you when the changes go live. #please-close

[2021-08-11 20:05] #78847 closed

[2021-08-11 20:14] Justinha commented on #78075
@anwarmahmood1 thanks for raising this! It's been fixed. Thanks @BarbaraSelden!

[2021-08-11 20:14] Justinha commented on #78075
#please-close

[2021-08-11 20:14] #78075 closed

[2021-08-11 20:14] MicrosoftGuyJFlo commented on #73984
If this is still an issue I would raise a support case for them to troubleshoot further. Not a doc issue. #please-close

[2021-08-11 20:14] #73984 closed

[2021-08-11 20:16] JamesTran-MSFT commented on #79591
@AskYous
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2021-08-11 20:16] #79591 closed

[2021-08-11 20:17] juharris commented on #79592
After trying a few different ways, I was able to set it up with:
![image](https://user-images.githubusercontent.com/1594505/129097237-af30a4af-836c-47db-b469-7f00d2843022.png)
![image](https://user-images.githubusercontent.com/1594505/129097263-fc66387f-bb1f-44c9-99df-da6a11fbc0f8.png)

[2021-08-11 20:19] MicrosoftGuyJFlo commented on #70398
Another note out to the PG again

[2021-08-11 20:24] MicrosoftGuyJFlo commented on #74535
macOS is covered more in https://docs.microsoft.com/mem/intune/enrollment/macos-enroll

Adding this to my backlog of docs work I have planned for this half of the year. Will add a note when content is updated.

#please-close

[2021-08-11 20:24] #74535 closed

[2021-08-11 20:24] RyanHill-MSFT commented on #79510
Hi @JozoSlejko can you further clarify on what details you're looking for?

[2021-08-11 20:25] kgremban commented on #79141
Hi @ckarrasalithya, thank you for pointing this out. You're right that the debug interface has changed since this article was last updated, and you found the correct steps to go to the Run + Debug view from the lefthand menu. I will update the article to reflect this change.

As for the error that you're encountering, did you follow the steps in the previous sections to start the IoT Hub simulator

[2021-08-11 20:31] D4-AzIdentity opened #79593 "Documentation errors"
https://docs.microsoft.com/en-us/azure/active-directory/devices/howto-device-identity-virtual-desktop-infrastructure

Misspelled word  in the Note.
Incorrect - Romaning
Correct - Roaming

Slightly incorrect documentation:

Correct:
Roaming of the work account's device certificate is not supported. The certificate, issue by "MS-Organization-Access", is stored in Personal(My) certificate store of th

[2021-08-11 20:32] kalyankrishna1 commented on #79315
A registered Application (careful not to use the term app manifest) can be updated using [Microsoft Graph](https://docs.microsoft.com/en-us/graph/api/resources/application) . This includes creation of app roles and [assigning users to the app roles](https://docs.microsoft.com/en-us/graph/api/resources/approleassignment)

[2021-08-11 21:15] VanMSFT commented on #73887
#reassign:VanMSFT

[2021-08-11 21:16] MarileeTurscak-MSFT commented on #79593
@D4-AzIdentity
Thanks for reporting this! We will add the fixes.

[2021-08-11 21:19] SimplifyLMS commented on #79568
HI James

This seems to be wrong. The author of that page has nothing to do with this
request. I want to create a new page such as:

https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/
*simplifyLMS*-tutorial

It's more the owner of this page who may be the relevant person to advise?

https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/tutorial-list

Thank you

[image:

[2021-08-11 21:25] SenthuranSivananthan opened #79594 "Explicit dependency is setup when using Bicep to deploy child resources"
This statement needs to be revised when using Bicep to deploy.  With Bicep, the dependsOn is explicitly set when using child resources.

`An implicit deployment dependency isn't automatically created between a child resource and the parent resource. If you need to deploy the child resource after the parent resource, set the dependsOn property.`

Reference in the document:  https://docs.microsoft.c

[2021-08-11 21:40] RyanHill-MSFT commented on #79483
Hi @JacobHollis, can you tell me how you determined how php 8 uses nginx? According the [Dockerfile](https://github.com/microsoft/Oryx/blob/main/images/runtime/php/8.0/8.0.Dockerfile), it's still using Apache.

[2021-08-11 21:47] MarileeTurscak-MSFT commented on #79593
Thanks! I made a pull request to update this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/168777

[2021-08-11 21:47] #79593 closed

[2021-08-11 21:48] VanMSFT commented on #75990
Hi @arolshan - Thanks for the question. I can confirm that AAD is supported in Azure Gov cloud. We don't normally list whether a feature is supported for Gov Cloud, unless there are special circumstances.

#please-close

[2021-08-11 21:48] #75990 closed

[2021-08-11 21:59] JacobHollis commented on #79483
Hi @RyanHill-MSFT, I have a laravel app working on a linux app service when php 7.4 is selected  (using a .htaccess file in the wwwroot), as soon as I switch it to 8 it returns a 403 with "nginx/1.14.2" instead of returning the homepage (see screenshot).

![Azure php 8 nginx 403](https://user-images.githubusercontent.com/41264948/129108912-3c8f0d46-7205-4b6f-86ba-a0a83d5b369e.PNG)

To confirm I al

[2021-08-11 22:12] James-Hamil-MSFT commented on #79558
Hi, we are investigating your issue and will update you shortly.

Best,
James

[2021-08-11 22:14] James-Hamil-MSFT commented on #79557
Hi, we are investigating your issue and will update you shortly.

Best,
James

[2021-08-11 22:17] MicrosoftGuyJFlo commented on #70398
@JeremyTBradshaw From the Product Group...

For Win10 hybrid AADJ, SCP is used to determine the tenant, so any domain is fine, even <tenant>.onmicrosoft.com. But if join is done via federation, ADFS is used to enable the hybrid join step. If you dont use ADFS, then you need to enable device sync. Federated join happens instantly but sync join is dependent on AAD Connect sync cycle. So un less you

[2021-08-11 22:18] JamesTran-MSFT commented on #79586
@GuyPaddock
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-08-11 22:34] MarileeTurscak-MSFT commented on #79484
Thanks! I made a pull request to update the article. https://github.com/MicrosoftDocs/azure-docs-pr/pull/168801

CC @jeevansd

[2021-08-11 22:34] #79484 closed

[2021-08-11 22:35] pmaz21 commented on #79484
Hello Marilee,

Thank you very much for checking on this.

Appreciate your time.

Pablo Mesen
Microsoft Support Engineer
Azure Identity Management &
Sync SE

***@***.******@***.***>
Mon - Fri 9:00 am - 6:00 pm (CST/UTC-6)

Office: +506 4103 2005
Alternate Contact if I am not available:
Technical Advisor   | JuanQuesada  | ***@***.******@***.***>
Team Manager's     | Byron Porras | ***@***.******@*

[2021-08-11 22:43] RyanHill-MSFT commented on #79483
Thanks for the info @JacobHollis

[2021-08-11 23:01] ramborude10 commented on #79119
May I please get help here?

[2021-08-11 23:08] JamesTran-MSFT commented on #79590
@kha1989led
Thank you for pointing this out! Since there's a PR to update the documentation, I'll go ahead and close out this issue.

Please allow some time for the changes to reflect and if you don't see the document update, please let me know.
Thank you for your time and patience!

[2021-08-11 23:08] #79590 closed

[2021-08-11 23:13] JamesTran-MSFT commented on #79588
@GuyPaddock
Thanks for your feedback! We will investigate and update as appropriate.

[2021-08-11 23:15] Grace-MacJones-MSFT commented on #79119
Hi @ramborude10, are you using the latest version powershell? Also, are you able to configure your app through the portal?

[2021-08-11 23:19] emardee commented on #79377
Any update on this? I'm under pressure to report back at this end, but have nothing to say.
Thanks

Mike

[2021-08-11 23:36] MicrosoftGuyJFlo commented on #77715
This is a known gap for the feature preview that is in the Product Team's backlog to address. #please-close

[2021-08-11 23:36] #77715 closed

[2021-08-11 23:46] theorange7 commented on #79315
Thanks for the links Kalyan, since I have you, I’m wondering about the limits mentioned for updating a registered application’s app roles. Reference: https://github.com/MicrosoftDocs/azure-docs/blob/master/includes/active-directory-service-limits-include.md

Is this a hard/soft limit imposed on the AAD service by Microsoft?

[2021-08-11 23:47] rachelxj-ms opened #79596 "WEBSITE_CONTENTOVERVNET is supported on Linux ElasticPremium as I tested"
[Enter feedback here]
WEBSITE_CONTENTOVERVNET is supported on Linux ElasticPremium as I tested, please help confirm it and update the document accordingly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18aa54fd-3aa1-37c5-925c-51a0195b1030
* Version Independent ID: 60198016-1ea9-e7ae-b00b-2c665d5ad8ca
* Content: [App s

[2021-08-11 23:55] mmacy commented on #79201
@RodrigoGroener I'll make a quick fix for this, but this technique is not the most accurate way verify a token is app-only. It can also be error-prone, as you've discovered.

The most accurate way to verify a an access token is app-only is to enable the optional `idtyp` claim, then check tokens for existence of the claim a value of `app`. Only app-only tokens will include the `idtyp` claim. To ena

[2021-08-11 23:55] larryclaman opened #79597 "Unclear question (typo or word missing?)"
The question "What Azure RBAC permissions are required to managed identity on a resource?" is unclear.  Seems like there's a word or phrase missing.  Is it supposed to be "What Azure RBAC permissions are required to _assign a_ managed identity on a resource?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e6aa599e-644c-

[2021-08-12 00:04] kalyankrishna1 commented on #79315
its a hard limit.

[2021-08-12 00:08] jeevansd commented on #79568
@SimplifyLMS You cannot create a new tutorial here. Usually when our team publish the applications in the gallery then we create these tutorials for SAML applications. Please make sure that you follow the process documented here https://aka.ms/AzureADAppRequest to list your application in the gallery.

[2021-08-12 00:09] jeevansd commented on #79568
#please-close

[2021-08-12 00:09] #79568 closed

[2021-08-12 00:10] MarileeTurscak-MSFT commented on #79597
@larryclaman thanks for calling this out. Adding a fix.

[2021-08-12 00:11] MarileeTurscak-MSFT commented on #79597
Thanks. I made a pull request to fix the sentence. https://github.com/MicrosoftDocs/azure-docs-pr/pull/168829

[2021-08-12 00:11] #79597 closed

[2021-08-12 00:12] larryclaman commented on #79597
@MarileeTurscak-MSFT  WOW that was blindingly fast!!! 🥇

[2021-08-12 00:19] jspawar opened #79598 "Unclear distinction of max RU throughput"
In the [following document](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/cosmos-db/concepts-limits.md) about throughput limits for Cosmos DB accounts, there is a section which confusingly uses `RUs` and `RU/s` interchangeably:

This is confusing us regarding the limits mentioned later in this doc and trying to understand how to configure throughput in other documents. Does `RUs

[2021-08-12 00:23] BharathNimmala-MSFT commented on #79582
@coelho5br Thanks a lot for bringing this to our notice and helping us improve our Azure documentation. I have raised a PR to update the document based on the feedback shared. Once the PR is reviewed and approved , changes would go live.

At this point it appears that there's no further edits or updates needed to the documentation, other than what has been listed above. We will go ahead and close

[2021-08-12 00:23] #79582 closed

[2021-08-12 01:07] kiki-kekat opened #79599 "Can we choose "Perform a manual migration" to switch from ZRS to GZRS/RA-GZRS"?"
I have a question about "Request a live migration" from ZRS to GZRS/RA-GZRS.

In the document, "option to switch from ZRS to GZRS/RA-GZRS" is only "Request a live migration".
Can we choose "Perform a manual migration" ?

![image](https://user-images.githubusercontent.com/48171139/129122696-eb59390c-d938-4149-9168-f3eab07619aa.png)

Other "how to switch from each type of replication to another" hav

[2021-08-12 01:27] BharathNimmala-MSFT commented on #79564
@qsdfplkj Thank you for reaching out to us on this channel. Current documentation outlines on how HAR files needs to shared only in the case of troubleshooting a Azure portal issue and only share it with our support team.

We do appreciate your feedback, will further pass on your feedback to our concerned team to further evaluate.

[2021-08-12 01:48] XiaoyuMSFT commented on #77013
@julieMSFT  - Hi Julie, Can you please advise how to let the customer know that we will not create a new Gen2 diagram to replace the one used in this article?  Agree it's not perfect but I don't think it's causing confusion on the customer side.  In addition, the video in this article and the text above the diagram are  both very clear that the replicated table is on each node.  Thanks.

[2021-08-12 01:54] XiaoyuMSFT commented on #77018
@jasonhorner - We will add a note to this article to call it out.  Thanks.

[2021-08-12 01:54] #77018 closed

[2021-08-12 02:13] BharathNimmala-MSFT commented on #79340
@Bafff My sincere apologies for delay in getting back to this thread. I am further validating this with our internal team, will keep you updated as I hear more information.

[2021-08-12 03:09] taHTN opened #79605 "WAF with ASC retired?"
I would like to make sure that Application Gateway WAF is now not supported in Azure Security Center.  If so, these article make users confused I think.

---
#### Document Details
_Security Center helps you prevent, detect, and respond to threats. It provides increased visibility into and control over the security of your Azure resources. Application Gateway is integrated with Security Center. Sec

[2021-08-12 03:30] AjayKumar-MSFT commented on #79566
@Damag3d, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-08-12 03:33] vipulsparsh commented on #79577
@zahraasaleh Thanks for reaching out. We will investigate and update the thread accordingly.

[2021-08-12 03:39] vipulsparsh commented on #79578
@MACEL94 Thanks for reaching out. We will investigate and update the thread accordingly.

[2021-08-12 03:41] vipulsparsh commented on #79587
@mikenri Thanks for reaching out. We will investigate and update the thread accordingly.

[2021-08-12 03:47] vipulsparsh commented on #79592
@juharris Thanks for letting us know Justin, we have assigned this to our expert Mayank should you have any follow up questions.

[2021-08-12 03:50] MonikaReddy-MSFT commented on #79594
@SenthuranSivananthan - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-08-12 04:01] KranthiPakala-MSFT commented on #79525
@leifbro Following up to see if you have got a chance to see review the above feedback? - Thanks

[2021-08-12 04:42] Damag3d commented on #79566
Hi, just to clarify little bit more about scenario:
1. I am tech lead and I would like to give limited access to developers to enable troubleshooting.
2. **SignalR Contributor** is working, however, according to general Azure knowledge, Monitoring Reader should be enough. But it does not work.
3. Contributor permissions seems too much as this allows not just read SignalR data but modify the resour

[2021-08-12 04:55] SubhashVasarapu-MSFT commented on #79605
@taHTN , Thanks for reaching out. We will investigate and update this thread.

[2021-08-12 05:00] minhhho2 commented on #79316
Hey @johndeu

I think indicating the level  of ABS on short vs long videos and the optimal lengths would be very helpful for the viewing audience when making a decision to use AMS encoding and ABS.

Thanks for your detailed explanation around concurrency and scaling as well as the depth you went into how native video players operate and others.

It was very helpful and i appreciate it.

[2021-08-12 05:21] minhhho2 commented on #79316
@johndeu  Also just looking for some clarification around this comment.

"For short videos, it's almost always going to be better to pick a specific bitrate and deliver it only without switching sets. You can still do this with HLS or DASH - to get the benefits over progressive downloading videos."

Would that mean there would be an improvement to video viewing experience if we encoded the media f

[2021-08-12 05:38] BhargaviAnnadevara-MSFT commented on #79503
@Catastrophe1 The change is merged internally and will go-live in the public docs shortly.

[2021-08-12 05:38] #79503 closed

[2021-08-12 05:58] manios opened #79608 "Error 66 is thrown when we try to update fields other than _id"
Hi!

The documentation states the following:

| Code       | Error                | Description  | Solution  |
|------------|----------------------|--------------|-----------|
| 66 | ImmutableField | The request is attempting to change an immutable field | "_id" fields are immutable. Ensure that your request does not attempt to update that field or the shard key field. |

However, we have a collec

[2021-08-12 06:08] Vikram1988 commented on #79324
@fearofweapons i am working with Engg to confirm the list of Linux OS variants supported specifically with root and setcap permissions. The list os very specific to "sudo" access as we have only tested it on these variants so far.

[2021-08-12 06:38] vipulsparsh commented on #79596
@rachelxj-ms Thanks for reaching out. We will investigate and update the thread accordingly.

[2021-08-12 06:41] wanlwanl commented on #79566
Hi @Damag3d , thanks for your feedback! I'm from SignalR service product team.
[RBAC](https://docs.microsoft.com/en-us/azure/role-based-access-control/overview) doesn't provide the a finer control level to property (enable/disable live trace feature) inside a service.
Monitoring Reader is for other services that used to monitor. Diagnostic settings is an independent service, and live trace tool is

[2021-08-12 07:17] heikobischoff opened #79610 "Single sign-on required for AAD group writeback?"
In the page mentioned below it is described that single sign-on is required for AAD Connect group writeback.
Is it a pre-requisite for enabling group writeback or an optional feature only?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cba137cc-67ca-2766-b436-54e3634f0c2f
* Version Independent ID: 2f185fba-dcf2-04f5-17

[2021-08-12 07:18] yoelhor commented on #79588
Dear @GuyPaddock,

I'm not sure I really got you. You say *create a normal CNAME rather than an alias record CNAME*. A CNAME recored is a Canonical Name record (abbreviated as CNAME record) is a type of resource record in the DNS system that maps one domain name, **an alias** to another domain. What is the normal CNAME you refer to?

Yoel

[2021-08-12 07:20] SadiqhAhmed-MSFT commented on #79577
@v-amallick Can you review this request with @sachdevaswati and update the doc as appropriate.

[2021-08-12 07:22] immojojojo opened #79611 "Can we improve the explanation for “Your application is consuming too much memory, which is affecting other processes from getting started. If the total VM memory is close to 100%, your node.exe’s could be killed by the process manager.”"
Can we improve the explanation for “Your application is consuming too much memory, which is affecting other processes from getting started. If the total VM memory is close to 100%, your node.exe’s could be killed by the process manager.” in https://docs.microsoft.com/en-us/azure/app-service/app-service-web-nodejs-best-practices-and-troubleshoot-guide#my-nodeexes-are-getting-killed-randomly?

To me

[2021-08-12 07:50] btmpn commented on #79558
Thank you!

I found out, that there is a possibility over Azure CLI, that worked for me.
Azure-Powershell unfortunately does not contain an equivalent to the parameter --delivery-attribute-mapping, which is available in Azure CLI.

So what I told in my first post, is wrong. Sorry. It's possible over Azure CLI, but not over Azure-Powershell.

[2021-08-12 07:53] saiKrish13 opened #79613 "WAF automatic updates notification details need to be updated"
As discussed with PG over email, the below lines needs to corrected.
"WAF on Application Gateway is based on Core Rule Set (CRS) 3.1, 3.0, or 2.2.9 from the Open Web Application Security Project (OWASP). The WAF automatically updates to include protection against new vulnerabilities, with no additional configuration needed."

From: Anthony Roman <Roman.Anthony@microsoft.com>
Sent: Wednesday, Augus

[2021-08-12 07:57] AnuragSharma-MSFT commented on #79598
@jspawar Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-08-12 07:58] AnuragSharma-MSFT commented on #79608
@manios Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-08-12 08:09] lannert-ntt commented on #79555
@duongau Thank you for your quick response. Updating the date would give a better impression certainly. In this specific case I am referring to the locations for NTT GDC EMEA, where two are missing: We have been onboarded at Frankfurt and London this year, both are still missing in the list last time I checked. Could you check this please?

[2021-08-12 08:10] gajo357 commented on #35472
Thanks @DvirH, that seems like a good approach.
Try learning Docker if you have the choice, for simple usage it is very simple and intuitive.
And you can test everything on your own machine and be sure that it will work on the server as well...

All the best!

[2021-08-12 08:30] emmevi93 opened #79614 ""Accounts" section not updated"
The section "Accounts" has a non updated information, based on last release of AD Connect (2.0.30), about the AAD Role needed to setup. Now it's sufficient to be Hybrid Identity Administrator

"Accounts"
<<You must have an Azure AD Global Administrator account for the Azure AD tenant you want to integrate with. This account must be a school or organization account and can't be a Microsoft account.

[2021-08-12 08:37] vslatten commented on #55430
Any updates on this? Is it on a roadmap?

[2021-08-12 08:42] PramodValavala-MSFT commented on #79431
@SvenAelterman The validation required is taken care of by the Functions Extension itself. The same is taken care when running on Azure.

[2021-08-12 08:42] #79431 closed

[2021-08-12 08:47] gat-cs opened #79615 "Misleading "Enable cluster monitoring" section in AKS quickstart"
The "Enable cluster monitoring" section is deeply misleading, particularly step 2.

This sounds like an action has to be taken. This parameter needs to be added to some command that the reader should be executing right now. Worse, it sounds like the linked documentation might be the place to find out about that mysterious command.

That's a fool's errand though. Nothing helpful can be found there,

[2021-08-12 09:02] PramodValavala-MSFT commented on #79404
@diberry Thanks for the feedback! I can confirm that works which is expected since it's a valid URL but for including it into the docs, I would defer that decision to the content author.

[2021-08-12 09:09] PriceChild commented on #79570
@MarileeTurscak-MSFT fantastic thank you.

[2021-08-12 09:16] AnuragSharma-MSFT commented on #79489
@pmpopovichjr This is being assigned to the content author to evaluate and update as appropriate.

[2021-08-12 09:16] SadiqhAhmed-MSFT commented on #79469
@mmitchellcit We haven't heard back from you, so we will now close this issue. If this remains an issue, please reply and we will gladly continue the discussion.

[2021-08-12 09:16] #79469 closed

[2021-08-12 09:30] Svijay-msft commented on #79540
@VitalyMCT - Yes, there are 2 integration paths.  In scenario one the Azure IR is within the ADF Managed Virtual network and on the premise, server is part of the Virtual network.  You could refer [this](https://docs.microsoft.com/en-us/azure/data-factory/tutorial-managed-virtual-network-on-premise-sql-server).

With regards to your query on the Oracle driver, in both scenarios, you don't have to

[2021-08-12 09:50] mikanygTC opened #79617 "ARM template sample for AML Compute Instance Schedule is not valid"
The ARM template example here: https://docs.microsoft.com/en-us/azure/machine-learning/how-to-create-manage-compute-instance?tabs=python#create-a-schedule-with-a-resource-manager-template is wrong.

[code]

Line 2 `"value": {` must be removed.

Also the casing for CRON trigger type used Pascal casing, where as Recurrence trigger type do not. This is very confusing and do not align with the REST AP

[2021-08-12 09:58] #79586 closed

[2021-08-12 10:16] sciguy16 commented on #79394
@SaiKishor-MSFT Yes, I'm only interested in the values added by Front Door, because other values can easily be spoofed by end users. How do the X-Azure-ClientIP and X-Azure-SocketIP headers behave when an incoming request already has values set for them?

[2021-08-12 10:19] HarshitaSingh-MSFT commented on #79610
Hello @heikobischoff, thanks for the question! We are taking a look into this and will get back to you soon.

[2021-08-12 10:23] xomemayol opened #79618 "Lack of documentation of fields in the Properties section"
The document lacks the description of the field in the Properties section which are significant and contain the main content and information for the signin.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6abfd33-5740-865b-24a4-542a989bc399
* Version Independent ID: 0139ee02-5fcd-1d2d-800e-d440131348ec
* Content: [Sign

[2021-08-12 10:35] yoelhor commented on #79588
Dear @GuyPaddock , thanks for the feedback. I'm updating the article with the relevant information (alias). A new version will publish later today, and this GitHub issue will be closed automatically (before the doc is published). If you have any questions or need further information, please open new GitHub issue.

[2021-08-12 10:35] yoelhor commented on #79586
Dear @GuyPaddock , thanks for the feedback. I'm updating the article with the relevant information (more screenshots and reordering the steps). A new version will publish later today, and this GitHub issue will be closed automatically (before the doc is published). If you have any questions or need further information, please open new GitHub issue.

[2021-08-12 10:36] #79588 closed

[2021-08-12 11:08] divyabhushan commented on #76641
Hi @MashaMSFT,
Sorry, maybe my message wasn't clear. I mean the image is blurry and is not very readable.

Thanks

[2021-08-12 11:11] yoelhor commented on #79581
The ROPC call  token exchange is only supported over HTTP POST, not GET.

[2021-08-12 11:15] yoelhor commented on #79329
Please contact me directly yoelh@microsoft.com.

[2021-08-12 11:44] slavizh opened #79619 "Missing proxy settings for Azure Monitor agent extension"
Either add additional examples for proxy settings or provide the link below for the existing examples

https://docs.microsoft.com/en-us/azure/azure-monitor/agents/azure-monitor-agent-overview?tabs=PowerShellWindows#networking
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: baf82535-8a71-c604-5fef-a950c4a384ac
* Version I

[2021-08-12 12:00] slavizh opened #79620 "wrong statement"
There is statement here:
The Azure Monitor agent does not currently support network proxies or private links.

It contradicts with https://docs.microsoft.com/en-us/azure/azure-monitor/agents/azure-monitor-agent-overview?tabs=PowerShellWindows#networking

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8201f331-0fa7-a801-

[2021-08-12 12:09] Nunur01 opened #79621 "Confusion in machine learning services support for Azure SQL Database & Manage instance"
The comparison table between SQL Database and Manage instance reports Machine Learning (R script) is only available as preview in Azure SQL Database.
When looking for documentation around Machine Learning, it points me to Managed Instance.

https://docs.microsoft.com/en-us/azure/azure-sql/database/features-comparison

https://docs.microsoft.com/en-us/sql/machine-learning/sql-server-machine-learnin

[2021-08-12 12:14] lbenediktson commented on #79383
It says this now. Don't know if it has anything to do with it.

    [2021-08-12T12:10:44.922Z] Cannot create directory for shared memory usage: /dev/shm/AzureFunctions
    [2021-08-12T12:10:44.923Z] System.IO.FileSystem: Access to the path '/dev/shm/AzureFunctions' is denied. Operation not permitted.
    [2021-08-12T12:10:48.188Z] Worker process started and initialized.

FYI: it is not alpha becau

[2021-08-12 12:30] GitaraniSharma-MSFT commented on #79613
@saiKrish13 , thank you for your feedback. We have assigned this to the content owner/author for updating the doc accordingly.

@vhorne , for your review.

[2021-08-12 12:57] #79446 closed

[2021-08-12 12:59] yoelhor commented on #78448
Dear @GuyPaddock , thanks for the valuable feedback. I'm updating the article with a note about the basic and advance HTML tags. As for now, we don't provide the list of the HTML tags and attributes. Yes, you can find it the the JS :)

A new version will publish later today, and this GitHub issue will be closed automatically (before the doc is published). If you have any questions or need further

[2021-08-12 13:00] Ofrojas opened #79622 "SAP HANA can't be used as copy data sink"
Hi 👋🏼
In this page, you say that linked services using SAP HANA connector could be used as sink in a copy data activity, but that's not possible yet as you mention in this other page: https://docs.microsoft.com/en-us/azure/data-factory/connector-sap-hana#sap-hana-sink

This issue could cause misconceptions to developers and customer.

Best regards
Oscar Rojas

---
#### Document Details

⚠ *Do not

[2021-08-12 13:01] HavilaDevi opened #79623 "Benchmark stats for Azure cache for Redis enterprise and Basic tier"
We required benchmarks stats for basic tier and Redis enterprise similarly as mentioned in document for Standard and premium tiers.

If we have any please let us know.

Thank you in advance!
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 669ff381-4e57-9bdd-17c0-c93e4b6280c8
* Version Independent ID: 447437a9-8df2-3606-1

[2021-08-12 13:02] ram-msft commented on #79536
@suyashjoshi Thanks, Here is the sample for the same.
https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/master/samples/java/jre/console/src/com/microsoft/cognitiveservices/speech/samples/console/SpeechRecognitionSamples.java

[2021-08-12 13:08] SubhashVasarapu-MSFT commented on #79194
@BevanSin, Appreciate your patience. when I did the same search, this doc got resulted on the top list. But again, search engine plays a key role here. We will assign this issue to the respective content owner to update the document if necessary. Once again, we appreciate your efforts towards building Azure docs.
@Duongau, could you please have a look in to this?

[2021-08-12 13:11] #78448 closed

[2021-08-12 13:12] SumanthMarigowda commented on #79599
@kiki-kekat Thanks for the question! We are investigating and will update you shortly.

[2021-08-12 13:13] cjasset opened #79624 "Encryption options chart is misleading"
The encryption options chart is a bit misleading as it implies that Host Based Encryption can only be achieved with customer managed keys.  This is not the case as HBE can be done with strictly PMK.  In addition it leaves out the double encryption scenarios.   In addition the use of the + sign in place of "with" or "using" is confusing as + implies in addition to as opposed to with or using.  A mo

[2021-08-12 13:14] mattbuske commented on #79541
We can confirm this is happening to us as well on our CentOS vms. This happens when installing via the Azure Cloud Shell or when running 'yum update/install' from inside the VM.

[2021-08-12 13:16] AnuragSharma-MSFT commented on #79621
@Nunur01 Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-08-12 13:16] yoelhor commented on #77197
Could you share the relevant part of your policy? If yes, I can help be checking the technical profiles and the user flows. Before you share your policy, make sure to **remove any confidential data** (including the tenant name). Also share only the relevant part of the policy: the technical profiles and the user journey.

[2021-08-12 13:18] AnuragSharma-MSFT commented on #79623
@HavilaDevi Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-08-12 13:21] yoelhor commented on #78495
We published today [instructions that fits your business requirement](https://docs.microsoft.com/azure/active-directory-b2c/enable-authentication-web-application-options#pass-the-azure-ad-b2c-policy-id). Please check out this section and keep us posted.

[2021-08-12 13:22] MonikaReddy-MSFT commented on #79619
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-08-12 13:38] richardmorton opened #79626 "Process should point out that user can request regional vCPU increase at the same time"
Currently this doc only addresses increasing per VM series vCPU quotas.  The chances are you will want to increase both the per VM series quota and the regional vCPU quota.  Both requests can be submitted on the same ticket, so it would make sense to make this clear in the process steps (I realize the doc explains the concept of both quotas at the beginning).

It's probably worth considering a sim

[2021-08-12 13:43] InDieTasten opened #79627 "Confusing terminology for 2 NS records for one delegation"
At the very end, the records needed to set up the delegation from "parent" to child zones are explained. It says:

The marked/bold phrases do not help and actually confuse more than they explain. It's not clear which entries exactly sit on each nameserver. A better description or another diagram/table would help.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2021-08-12 13:45] danimir commented on #79621
@Nunur01 - Managed Instance does indeed support R as of recently. We will update this doc page. Thanks on your feedback.

[2021-08-12 13:57] DaveRuijter opened #79628 "Add note about requirement to have AAD Directory Readers role"
Hi, in section [Create an Azure Key Vault-backed secret scope using the UI](https://docs.microsoft.com/en-us/azure/databricks/security/secrets/secret-scopes?WT.mc_id=DP-MVP-5003585&#create-an-azure-key-vault-backed-secret-scope-using-the-ui), a note should be added about verifying you have the AAD role 'Directory Readers'.

This is a requirement when creating an Azure Key Vault-backed secret scope

[2021-08-12 15:06] JeremyTBradshaw commented on #70398
Hi @MicrosoftGuyJFlo , to confirm I understand this correctly, customers with federated identity can set the SCP to either ADFS or AAD, but the ADFS option is the one that circumvents the AAD Connect sync delay.  If the sync delay is not a concern, those federated customers can instead set the SCP to AAD.

Sound correct?  And thanks for coming back to this issue.

[2021-08-12 15:16] SvenAelterman commented on #79431
@PramodValavala-MSFT The integration with Azure Functions takes care of the validation, that's correct. However, I was referring to the section when setting up local debugging with ngrok. You'll use a generic Webhook in that case. When creating the Webhook, the Event Grid will send a validation POST request to the endpoint, which contains a URL for validation. The developer will need to visit that

[2021-08-12 15:27] JamesTran-MSFT commented on #79614
@emmevi93
Thanks for your feedback! We will investigate and update as appropriate.

[2021-08-12 15:29] JamesTran-MSFT commented on #79618
@xomemayol
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-08-12 15:29] mmckechney opened #79631 "BatchPoolIdentityUserAssignedIdentitiesValue class no longer available"
The sample code uses the `BatchPoolIdentityUserAssignedIdentitiesValue` class. This class is no longer available in the [`Microsoft.Azure.Management.Batch.Models`](https://github.com/Azure/azure-sdk-for-net/tree/Microsoft.Azure.Management.Batch_14.0.0/sdk/batch/Microsoft.Azure.Management.Batch/src/Models) namespace as of version 14.0.0. Can you please update the sample code to be compatible with t

[2021-08-12 15:29] billmath commented on #79610
No, SSO is not required for group write back itself, but it would be needed for the use case for which it was designed - “as an on premise user I can interact in O365 with Office groups”.   We do not support any other use cases for group write back at the moment .

[2021-08-12 15:29] #79610 closed

[2021-08-12 15:36] KrishnaG-MSFT commented on #79626
@richardmorton Thanks for your comment! We will review and provide an update as appropriate.

[2021-08-12 15:38] Nunur01 commented on #79621
@danimir What about SQL Database support? the link for the preview in the table is pointing to SQL server 2016 & 2019 information. There is no mention of Azure SQL Database

[2021-08-12 15:39] MoAGitHub opened #79632 "Why are we using Thread.sleep(1000) and is there any better way to get the result other than the poll aproach?"
[Enter feedback here]
Is there any better way to get the result? Thread.sleep(1000) makes it really slow. Like instead of checking if the result is complete in a while, is there any way to for us to know if it's complete without using the while loop?
while (pollForResult) {
        // Poll for result every second
        Thread.sleep(1000);
        readResults = vision.getReadResult(UUID.fromStrin

[2021-08-12 15:40] hemantmalik opened #79633 "Update the Partners Solution Overview page for Elastic to point to current documentation"
The Elastic Documentation link points to stale documentation link. Could you please update it to the current documentation link here https://www.elastic.co/guide/en/cloud/current/ec-azure-marketplace-native.html ?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d57d4e32-12ab-0c8c-1a4b-803d7adc819b
* Version Independent I

[2021-08-12 15:40] bwarren18 opened #79634 "The referenced command does not exist in the Az module: Get-AzureServiceAvailableExtension"
Hello, the command referenced to retrieve the schema does not exist in the current Az module.
Get-AzureServiceAvailableExtension

Also there is no guidance on where to install the module from.

Direct link:
https://docs.microsoft.com/en-us/azure/azure-monitor/agents/diagnostics-extension-schema-windows#public-configuration-file-schema

---
#### Document Details

⚠ *Do not edit this section. It is

[2021-08-12 15:44] GiftA-MSFT commented on #79632
@MoAGitHub we'll review your feedback and get back to you shortly. Thanks.

[2021-08-12 15:50] priyankakumarir opened #79635 "Code has build errors"
when i try to use the sample code and run debug in visual studio it says the code has build errors .. i am learing b2c an di have no idea of coding .. How i can fix this

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4fd63eb6-21cc-a68b-a514-67f12566c476
* Version Independent ID: 0c41a395-dfe1-7db3-d592-70c1b7cec724
* C

[2021-08-12 15:53] tusharkadev commented on #79094
@JamesTran-MSFT any update?

[2021-08-12 15:55] JamesTran-MSFT commented on #79094
@tusharkadev
Thank you for the follow up on this!

Adding the author @msmimart to share any updates on this request.

[2021-08-12 15:57] Justinha commented on #73122
@lightupdifire thanks for the suggestion and sorry for delay. I clarified that the TAP won't replace a user password and they can still sign on with password as always. I think the other points about AD FS and so on are covered too.

[2021-08-12 15:58] Justinha commented on #73122
#please-close

[2021-08-12 15:58] #73122 closed

[2021-08-12 16:00] Justinha commented on #73166
@davidsbara thanks for the suggestion and sorry for delay. I added this example.

[2021-08-12 16:00] Justinha commented on #73166
#please-close

[2021-08-12 16:00] #73166 closed

[2021-08-12 16:00] danimir commented on #79621
@Nunur01 - Both Azure SQL Database and MI support R. I will notify people in charge of the other page to clarify this regarding Azure SQL Database.

[2021-08-12 16:03] JacobHollis commented on #79483
Digging into this a bit more I have found there is a difference in what is passed to the startupCommand prop of the create-script command depending on which php major version is selected in the app service configuration page:

When php 7.4 is selected:
`2021-08-12T15:37:47.655280343Z: [INFO]  Running oryx create-script -appPath /home/site/wwwroot -output /opt/startup/startup.sh     -bindPort 8080

[2021-08-12 16:10] AjayKumar-MSFT commented on #79611
@immojojojo, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-08-12 16:11] lawrencelee-github commented on #79541
@JamesTran-MSFT, yes, I was following the steps described in [Using the Azure Cloud Shell experience to enable Azure AD login,](https://docs.microsoft.com/en-us/azure/active-directory/devices/howto-vm-sign-in-azure-ad-linux#using-the-azure-cloud-shell-experience-to-enable-azure-ad-login), however, my PC had trouble installing Azure CLI, so I used the Set-AzVMExtension cmdlet instead. Here's the co

[2021-08-12 16:13] Justinha commented on #75054
Thanks for the info @darrenroback. Outside of the normal DNS records created by AD, the only thing that Azure AD DS explicitly sets is the forwarder to Azure DNS so that DNS resolution works for external addresses.

[2021-08-12 16:19] JasonWHowell commented on #78637
#please-close

[2021-08-12 16:19] #78637 closed

[2021-08-12 16:20] JasonWHowell commented on #72927
@viskri-msft can you please take a look at this customer issue. Do you have a moment to update the doc with the suggestions? Let me know if you need help to do so.
https://github.com/MicrosoftDocs/azure-docs/issues/72927

[2021-08-12 16:22] JasonWHowell commented on #78166
@enkrumah can you please validate the discrepancy between what we have in the doc and what needs to happen. Sounds like the Azure functions page has evolved but our tutorial may not have caught up. Thx, Jason

[2021-08-12 16:37] CaitlinV39 commented on #79335
This is updated. #please-close

[2021-08-12 16:37] #79335 closed

[2021-08-12 16:37] arvindshmicrosoft commented on #75996
@FallenHoot - thanks for the candid feedback.

While I can see and agree on the potential for confusion, note that the logical SQL *s*erver (not "Server") represents a logical container, and presents an endpoint for, the set of Azure SQL Database resources that are contained in it.

This nuance unfortunately has arisen due to the overloaded term "SQL server" which can easily be confused with the p

[2021-08-12 16:39] luisquintanilla commented on #79249
Hi @sunnyhay

The Azure Machine Learning engineering team is investigating into whether the issue is isolated to a JSON syntax error, or maybe something to do with the CLI. We'll update documentation accordingly based on those findings. Thank you for your patience.

cc @gvashishtha @Mutilar

[2021-08-12 16:40] luisquintanilla commented on #78677
#assign:@sdgilley

[2021-08-12 16:40] luisquintanilla commented on #78677
@sdgilley can you please take a look at this one to see if there's anything that needs to be updated. Thanks!

[2021-08-12 16:49] danimir commented on #79621
@AnuragSharma-MSFT - I have updated this particular page now to state ML is supported for Azure SQL Managed Instance. I have also notified owners of the other page customer complained about to make a revision that Azure SQL Database is supported. @Nanur01 - if you do not have any more questions about this doc page, we can consider closing this thread.

[2021-08-12 16:54] apshenichnyi commented on #55058
Hi all! I was also not very satisfied with everything written here, because I also had the same issue. The solution, which worked for me and, I'm sure, should work for all wat to **review their PowerShell script to make sure it contains only AZ commands**. If it does not contains any AzureRM commands, then AzureRM modules will not load and there will be no any conflicts.

[2021-08-12 16:55] gmonzon commented on #60733
Hello,
Recently i faced this problem, we review with the team that administers azure in the company and we identify that the following must be added in the url? forceSchemaEditorEnabled = true, this after azure.com/ and before #blade
with this you can add the missing attributes

Example:

Original url:
https://portal.azure.com/#blade/Microsoft_AAD_IAM/ManagedAppMenuBlade/ManageProvisioning/...

ur

[2021-08-12 16:57] linkhp commented on #79377
Hi @emardee, any web apps like SharePoint Online (or any Office apps thereof) where your Gmail users will be authenticating through the system browser won't be affected. The place where they will be affected and therefore be logging in through our workaround flow is when they're accessing Gmail sign-in page that's embedded in an application (essentially an embedded webview.) If your Gmail users fo

[2021-08-12 16:59] #79621 closed

[2021-08-12 17:06] johnpetersjr commented on #19187
For environments where we want to enforce tagging at the RG level, and then automate inheritance of those tags from the RG to all things built/attached to that RG, it would really be nice if Microsoft/Azure would abide by the --tags parameter in the AKS creation, and put those tags on the auto-generated MC_ resource group.  Seems like an awfully small thing to ask for.

[2021-08-12 17:11] charlesbetros opened #79637 "Typo on MSI RBAC Permissions in FAQ"
There is a section titled "What Azure rbac permissions are required to managed identity on a resource"
Should it be something like "What Azure rbac permissions are required to use managed identity on a resource"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e6aa599e-644c-0aa6-689f-6679719f9d04
* Version Independent I

[2021-08-12 17:16] ChaitanyaNaykodi-MSFT commented on #79627
Hello @InDieTasten
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-08-12 17:19] MayankBargali-MSFT commented on #79416
@melissatranuw We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-08-12 17:19] #79416 closed

[2021-08-12 17:34] bfeldmann12 opened #79640 "Provisioning Mappings Disabled"
Hello,

I'm trying to following the guidance outlined in the section [Part 4: Configure attribute mappings](https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/sap-successfactors-inbound-provisioning-tutorial#part-4-configure-attribute-mappings) but the **Mappings** feature is disabled. I came across a [Microsoft doc](https://docs.microsoft.com/en-us/azure/active-directory/app-provis

[2021-08-12 17:39] kobulloc-MSFT commented on #79624
@cjasset Thank you for your feedback!  We've assigned this to the document author for review.

[2021-08-12 17:40] kobulloc-MSFT commented on #79615
@gat-cs Thank you for your feedback.  We're reviewing this and will get back to you shortly.

[2021-08-12 17:48] MarileeTurscak-MSFT commented on #79637
@charlesbetros
Thanks for your feedback! We will investigate and update as appropriate.

[2021-08-12 17:51] duongau commented on #79555
@lannert-ntt I checked with one of our PG members and they confirmed with me that the two locations are indeed missing from the list. We'll have those locations added later today. We will also do a full audit on the list to ensure other locations are properly displayed in the article. Please let me know if you have any other concerns.

Thank you!

[2021-08-12 18:00] MarileeTurscak-MSFT commented on #79637
Thank you! I made a pull request to fix the error. https://github.com/MicrosoftDocs/azure-docs-pr/pull/168904

[2021-08-12 18:01] #79637 closed

[2021-08-12 18:01] mmckechney commented on #79631
FYI - I determined the proper change and went ahead and created a pull request: PR#79638

[2021-08-12 18:11] Mutilar commented on #79249
[code]

For updating AKS webservices, you need to use the azure-cli-ml extension. Do any az ml service [commands](https://docs.microsoft.com/en-us/cli/azure/ml(v1)/service?view=azure-cli-latest#az_ml_v1__service_show) work @sunnyhay?

Could you try `az ml service show --name modelscoring1 --resource-group lsdresources1 --workspace-name modelscoring-dev --subscription-id <your sub id> -v`?

[2021-08-12 18:13] JamesTran-MSFT commented on #79614
@emmevi93
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.
![image](https://user-images.githubusercontent.com/36619112/129247451-dc105879-3920-4ca1-bce3-3a64842a8ff7.png)
https://docs.microsoft.com/en-us/azure/active-directory/hybrid/reference-connect-version-history#2030

I will now close out this issu

[2021-08-12 18:13] #79614 closed

[2021-08-12 18:16] JamesTran-MSFT commented on #79567
@9songs
Thank you for your time and patience throughout this issue.

I received a response from our engineering team and as of right now, this isn't a planned feature. I'd recommend leveraging our [User Voice forum](https://feedback.azure.com/forums/34192--general-feedback) to create a feature request, so our engineering team can look into implementing this.

Thank you for your time and patience t

[2021-08-12 18:16] #79567 closed

[2021-08-12 18:27] JamesTran-MSFT commented on #79635
@priyankakumarir
Thanks for your feedback! We will investigate and update as appropriate.

[2021-08-12 18:39] o-l-a-v commented on #55058
Seems like Automation Account finally is getting some care from Microsoft.

https://azure.microsoft.com/en-us/updates/az-module-azure-automation-coming-soon/

[2021-08-12 18:39] HarshitaSingh-MSFT commented on #79640
Hello @bfeldmann12 , thanks for the question! We are taking a look into this and will get back to you soon.

[2021-08-12 18:41] zzgzy opened #79644 "Equals seems not a valid operator"
[Enter feedback here]
`Equals` seems not a valid operator but `Equal` is. Could you please help update the doc? Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f2bd9d0-af11-d684-051b-7ac8e611cca9
* Version Independent ID: f83d6e85-4d52-6b7f-a79e-f3ed3f3d0a95
* Content: [Create a newer metric alert with Azure Re

[2021-08-12 18:49] gabesmsft opened #79645 "Add a row for Plan size quota"
In the Quotas table, it would be helpful to add a row for Plan size.
The total quota across all Apps in a Free plan is 0.50 GB.
The total quota across all Apps in a Standard plan is 2.00 GB.
The Plan size quotas are cited in the [SWA pricing doc](https://azure.microsoft.com/pricing/details/app-service/static/), but it would be helpful to mention them in the Quotas doc for consolidation and to avoi

[2021-08-12 18:53] luisquintanilla commented on #77892
Hi @JordanSimba

This issue repository is primarily intended for **documentation**-based issues. To get the best help for technical issues, you should create a support ticket in the Azure portal:

1.	Navigate to the Azure portal.
2.	Select the support question mark (?).
3.	Select Help + support
4.	Select New support request
5.	Include a link to this Issue URL in your support request.

For a more d

[2021-08-12 18:59] priyankareddy20 opened #79646 "Excluding cloud applications is not working"
Excluding cloud applications is not working !! Excluding Office 365 apps works apart from this Office 365 suite, any cloud app being excluded in the policy is not working.I have tried what if tool with the same policy and results are completely different.Kindly update the same in documentation, tif hat exclusion of cloud apps doesnt work in CA policies

![DocMS1](https://user-images.githubusercont

[2021-08-12 19:04] priyankareddy20 commented on #79646
Also I have tried testing on ZIA and ZPA
Its not supported
Kindly let me know if we cannot exclude Zscalar apps

[2021-08-12 19:06] priyankareddy20 commented on #79646
I have tried, Microsoft Azure Management
intune
Intune enrollment
Zsacalar ZIA and ZPA

[2021-08-12 19:14] priyankareddy20 commented on #79646
Kindly help me..I experimented  for 4hrs and now I am kind of done..Expecting a response from MS

[2021-08-12 19:16] mrbullwinkle commented on #77737
#please-close

[2021-08-12 19:16] #77737 closed

[2021-08-12 19:32] SvenAelterman commented on #79431
@PramodValavala-MSFT I am talking about the content of the include file (https://github.com/MicrosoftDocs/azure-docs/blob/master/includes/functions-event-grid-local-dev.md) that talks about local debugging. There, the endpoint is not an Azure Function, but a generic Webhook to an ngrok endpoint.

[2021-08-12 19:40] kbpanchal1 opened #79647 "Diagram Need to correct"
[Enter feedback here]
The IP address in the given diagram is wrong. It is showing "10.0.0.0.0/16", it should be 10.0.0.0/16. It is a cosmetic change in the document. It is in the first question only.

Thanks and Regards,
Krunal Panchal
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70044773-28a9-2075-e483-2e2c5a951f90
*

[2021-08-12 19:45] JnHs commented on #79631
Thanks @mmckechney! Appreciate your identifying the issue and fixing it. Your PR has been merged and the change should be visible within a few hours. I will close this issue now but please let us know if you have additional feedback. Thanks again!
#please-close

[2021-08-12 19:45] #79631 closed

[2021-08-12 19:48] samlh opened #79648 "Include allowed inputs and output value ranges for conversion functions"
It would be nice to include allowed inputs and the output value ranges for conversion functions like `int` or `float`.

That is, please include the info from [this forum answer](https://powerusers.microsoft.com/t5/Building-Power-Apps/What-s-the-maximum-value-you-can-store-in-a-number-field/m-p/31493#M13149), assuming it is accurate.

---
#### Document Details

⚠ *Do not edit this section. It is re

[2021-08-12 20:02] bfeldmann12 commented on #79640
Ok, thanks for the update @cmmdesai .

[2021-08-12 20:06] #68602 closed

[2021-08-12 20:06] #71417 closed

[2021-08-12 20:30] mannamraju opened #79650 "Verification of Microsoft.ExtendedLocation"
[Enter feedback here]
Step2 says verify by running this command "az provider show -n Microsoft.ExtendedLocation -o table". Will be nice to include what the output looks like when the registration is successful. For example,  my screen shows the following :

Namespace                   RegistrationPolicy    RegistrationState
--------------------------  --------------------  -------------------
Micr

[2021-08-12 20:37] emardee commented on #79377
Thanks for the update. Sounds like all will be fine then.

Just want to double check a few items though:

Interested that Google in their email said:
`Google has detected the use of an embedded webview in requests to its OAuth 2.0 authorization endpoint in the past 28 days associated with one or more of the OAuth client IDs listed in this email. All embedded webviews will be blocked starting on Se

[2021-08-12 20:47] whomanGHA opened #79651 "Update cert section to include free managed cert option"
Can we update the move restrictions to include the new free managed certificate option?  Since these are stored in a MS keyvault they fail move validation with "'Property 'id' at path 'properties.keyVaultId' is invalid. Expect fully qualified resource Id that start with '/subscriptions/{subscriptionId}' or '/providers/{resourceProviderNamespace".

---
#### Document Details

⚠ *Do not edit this sec

[2021-08-12 20:50] mmacy commented on #79201
@RodrigoGroener @jmprieur @hpsin I've created ADO work item for this, dropping here for tracking (Microsoft-internal resource):

<html>
<body>

ID | Title | Work Item Type | Assigned To | State | Tags
-- | -- | -- | -- | -- | --
1510996 | [ISSUE] Verify app-only token with idtyp claim instead of oid == sub (79201) | Product Backlog Item | Marsh Macy | New

</body>
</html>

[2021-08-12 21:40] EricBauld opened #79652 "MessageReceiver binding from java @ServiceBusQueueTrigger"
Documentation states that MessageReceiver is part of the metadata but while using Java I cannot seen to get a @BindingName Binding to this object.
I want to be able to Dead Letter a message that is started with a @ServiceBusQueueTrigger binding.
I can get the message uuid, but cannot see a way to DLQ the message without the Message Receiver being available.

---
#### Document Details

⚠ *Do not ed

[2021-08-12 22:09] ramborude10 commented on #79119
Hi @Grace-MacJones-MSFT,
I'm using PowerShell 5.1.19041 version. Yes I'm able to configure app through Azure portal.

[2021-08-12 22:49] James-Hamil-MSFT commented on #79622
Hi, we are investigating your issue and will update you shortly.

Best,
James

[2021-08-12 22:53] cijothomas commented on #79576
Thanks for reporting this. The below statement is incorrect.
_"This preceding code is functionally equivalent to the previous section in appsettings.json"_

We may remove that, or provide an appsettings.json and code equivalent of the same. (it was likely the same, but perhaps some refactoring might have broke this, leaving the above statement incorrect)

[2021-08-12 22:55] MonikaReddy-MSFT commented on #79644
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-08-12 22:55] James-Hamil-MSFT commented on #79628
Hi, we are investigating your issue and will update you shortly.

Best,
James

[2021-08-12 23:00] MonikaReddy-MSFT commented on #79644
@zzgzy - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-08-12 23:00] #79644 closed

[2021-08-12 23:07] Justinha commented on #74921
@iinuwa sorry for delay. I'll update the topic shortly. You can get this info from the auth methods activity report and APIs.

https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-authentication-methods-activity

Here’s the API to get password reset activity: https://docs.microsoft.com/en-us/graph/api/reportroot-list-usercredentialusagedetails?view=graph-rest-beta&tabs=http

[2021-08-12 23:19] JamesTran-MSFT commented on #79646
@priyankareddy20
Thanks for your feedback! We will investigate and update as appropriate.

[2021-08-12 23:33] pkshultz commented on #78415
Hi @arun-rangarajan , thanks for opening this.

I believe you can import modules from the package with `import azext.batch as batch`. I'll get this added to the docs shortly.

Let me know if that helps!

[2021-08-13 00:08] MashaMSFT commented on #75996
Hi @FallenHoot , thanks for contacting Microsoft! To add on to Arvind's response - please note that while there is a logical server in Azure that can host a database created by the Azure SQL Database service, there is no actual product called an Azure SQL Server.  The family of products within Azure SQL are: Azure SQL Database, Azure SQL Managed Instance, and SQL Server on an Azure VM. There are a

[2021-08-13 00:08] #75996 closed

[2021-08-13 00:08] PRMerger8 commented on #75996
GitHub user stevestein has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2021-08-13 00:12] gaugup commented on #78698
@thecpshah, I am sorry I don't understand the issue with the documenation here? Could you elaborate more to what you are looking for?  Which two lines shall we add to the referenced doc?

Regards,

[2021-08-13 00:49] tcsougan opened #79659 "The downtime requirement for the migration"
[Enter feedback here]
It would be nice to mention if there is any downtime requirement for the migration of the Azure Firewall to the Azure Firewall Premium.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 326302f4-752f-4e20-cdf6-39a249548ae4
* Version Independent ID: 576f83ed-4053-40bd-f7c0-9a8f9dc3f5ae
* Content: [Mig

[2021-08-13 00:50] BharathNimmala-MSFT commented on #79634
@bwarren18 Thank you for bringing this to our notice, we will review and get back to you at the earliest.

[2021-08-13 00:51] BharathNimmala-MSFT commented on #79650
@mannamraju Thanks a lot for your feedback, our team will review it and get back to you at the earliest.

[2021-08-13 00:53] BharathNimmala-MSFT commented on #79651
@whomanGHA Thanks a lot for sharing your feedback, our team will review and get back to you at the earliest.

[2021-08-13 02:25] yuharucan opened #79661 "request to add sample command for powershell/command prompt"
[Enter feedback here]
Please add sample command for powershell or command prompt.

e.g.) powershell
curl -X PATCH -n \
  https://<databricks-instance>/api/2.0/workspace-conf \
  -d '{
    \\"enableIpAccessLists\\": \\"true\\"
    }'

e.g.) command prompt
curl -X PATCH -n \
  https://<databricks-instance>/api/2.0/workspace-conf \
  -d "{
    \\"enableIpAccessLists\\": \\"true\\"
    }"

---
#### Do

[2021-08-13 02:26] roberbr opened #79662 "Unclear phrasing"
This paragraph:

"When creating a virtual network peering between virtual networks that exist in different subscriptions, the subscriptions can associated to the same Azure Active Directory tenant. If you don't already have an Azure Active Directory tenant, you can quickly create one."

"can associated to " is incorrect English and it's not clear what this means.

"the subscriptions can associated

[2021-08-13 02:55] GitaraniSharma-MSFT commented on #79647
@kbpanchal1 , thank you for the feedback. We have assigned this to the content owner/author for updating the doc accordingly.

@aletheatoh , please correct the address prefix in the diagram.

[2021-08-13 02:57] GitaraniSharma-MSFT commented on #79659
@tcsougan , thank you for your query & feedback. We'll investigate and get back to you shortly!

[2021-08-13 02:58] GitaraniSharma-MSFT commented on #79662
@roberbr , thank you for your feedback. We'll review this and get back to you shortly!

[2021-08-13 03:03] Adikota opened #79664 "Combination of RBAC and ACL's required to create subfolders"
The scenario mentioned in this article explains if there is a folder structure already made available. But in Scenario's where a Service creates these folders on the fly or daily wise folders what is the POSIX + RBAC required?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3894c552-8352-bf04-6c86-d0ef222b43c8
* Version

[2021-08-13 03:35] MayankBargali-MSFT commented on #79592
@juharris For creating the function app from porta [this document](https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-function-app-portal#create-a-function-app) covers this. The [Work with Azure Functions Proxies ](https://docs.microsoft.com/en-us/azure/azure-functions/functions-proxies) covers how to setup the proxy in function app.

Let me know if you have any queries or con

[2021-08-13 03:40] KranthiPakala-MSFT commented on #79628
Hi @DaveRuijter - Thank you for the detailed feedback. We have assigned this issue to content author to further review and update the document accordingly.

@leifbro , @mssaperla - Could you please review above feedback and update doc accordingly.

Thank you

[2021-08-13 03:51] rmmcgr opened #79666 "No link to code samples for Azure AD Table Storage Access Preview"
It would be great if there was a link to .NET code samples on how to actually do this.

Similar to this:
https://docs.microsoft.com/en-us/azure/storage/common/storage-auth-aad-msi?toc=%2Fazure%2Fstorage%2Fblobs%2Ftoc.json#net-code-example-create-a-block-blob

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc667987-2d36-

[2021-08-13 03:57] Shawn-Yuen opened #79667 "Get-AzDataLakeGen2ChildItem only return the last few records"
Powershell version: PowerShell 7.1.3
PlatForm: Red Hat Enterprise Linux Server release 7.6

Code:
$Maxreturn=1000
$Token = $Null
do{
  $data_files = Get-AzDataLakeGen2ChildItem -Context $storage_context -FileSystem $SRC_CONTAINER_NM -Path $SRC_PATH -Recurse -ContinuationToken $Token -MaxCount $Maxreturn
  $Total += $data_files.Count
  if($data_files.Length -le 0) { Break;}
  $Token = $data_files[$

[2021-08-13 04:05] sbwoodside opened #79668 "Need to select "Show hidden types""
When you are moving across subscriptions, you may need to select "Show hidden types" and then select all of the items in the resource group., or you will get an validation error that you have are missing some of the resources. This isn't documented in this page or in the general document on moving resource groups between subscriptions.

---
#### Document Details

⚠ *Do not edit this section. It is

[2021-08-13 04:06] RyanHill-MSFT commented on #78160
Hi @aggVishal, you can use the [list skus](https://docs.microsoft.com/en-us/rest/api/appservice/list-skus) API

[code]

or  `az webapp list-runtimes [--linux]` to get the available runtimes through Azure CLI. Using the CLI is by far the easiest and quickest way; however, I believe CLI command won't be location specific.

[2021-08-13 04:06] #78160 closed

[2021-08-13 04:11] KranthiPakala-MSFT commented on #79661
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

@leifbro , @mssaperla - could you please review the above enhancement feedback ? - Thanks

[2021-08-13 04:30] SnehaAgrawal-MSFT commented on #79381
@yutaro113 Thanks again for sharing feedback! As discussed with you internally, PG is working for an update on this.
We will now close this out but if you feel you need more information please just let us know.

[2021-08-13 04:30] #79381 closed

[2021-08-13 04:33] SnehaAgrawal-MSFT commented on #79645
@gabesmsft Thank you for your query . We will investigate and update the thread.

[2021-08-13 04:36] khigashi1021 opened #79669 "Cannot select a virtual network and a subnet when selecting an existing location for Availability Zones"
[Enter feedback here]
In the following 2, if we select an existing location, we cannot select a virtual network and subnet in the 5.
You should lead to "Virtual network" blade to update them.

------
1. In the Azure portal, navigate to your API Management service and select Locations in the menu.
2. Select an existing location, or select + Add in the top bar. The location must support availability

[2021-08-13 04:53] cmmdesai commented on #79640
@bfeldmann12 The issue has been fixed. You should now be able to access the mapping section.

[2021-08-13 05:04] ram-msft commented on #79536
Thanks @laujan for the details. @suyashjoshi We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-08-13 05:04] #79536 closed

[2021-08-13 05:06] vipulsparsh commented on #79648
@samlh Thanks for reaching out. We will investigate and update the thread accordingly.

[2021-08-13 05:08] vipulsparsh commented on #79652
@EricBauld Thanks for reaching out. We will investigate and update the thread accordingly.

[2021-08-13 05:11] vipulsparsh commented on #79633
@hemantmalik Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-08-13 05:30] AnuragSharma-MSFT commented on #79560
@markjbrown Thanks for providing the detailed response.

@yutaro113 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-08-13 05:30] #79560 closed

[2021-08-13 05:32] HarshitaSingh-MSFT commented on #79524
I have verified this behavior and created a PR internally for review.

[2021-08-13 05:58] HarshitaSingh-MSFT commented on #79668
Hello @sbwoodside, thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-08-13 06:29] Oury-MSFT commented on #79563
@abhijitpai Please see customer feedback above. Could you please help clarify

[2021-08-13 06:33] abhijitpai commented on #79563
@ThomasWeiss can chime in on this.

[2021-08-13 06:46] vipulsparsh commented on #79667
@Shawn-Yuen Can you help us with the document you are following for this ? That will help us align dedicated resource for you.

[2021-08-13 06:49] Shawn-Yuen commented on #79667
https://docs.microsoft.com/en-us/powershell/module/az.storage/get-azdatalakegen2childitem?view=azps-6.3.0
Example 3

[2021-08-13 06:52] Ravivarman13 opened #79672 "Point to site VPN DNS resolution for Private endpoint"
[We dont have Point to site VPN scenario covered in this documentation. Customers think that they dont need to configure DNS forwarder for point to site config its only for site to site VPN and ExR and this makes customers not comfortable in configuring Private endpoint with point to site connections. This leads to increase SR and Q&A counts. As most of the customers try POC with point to site ini

[2021-08-13 06:54] seephez opened #79673 "Typo"
Hi, there is a typo in the Integrated tools table > Data Migration Assistant > Details > "Data Migration Assistant is a stand-alone tool to assess SQL **Severs**."

[https://cfpstoragepwsh.blob.core.windows.net/misc/Selection_004.png?sv=2020-04-08&st=2021-08-13T06%3A32%3A54Z&se=2021-08-15T10%3A32%3A00Z&sr=b&sp=r&sig=rn2wlmbenCWl7YNJBRHMOtR4YEOZ%2FgcLz1lMbneS2Ng%3D](url)

Sounds dangerous. Happy Fr

[2021-08-13 07:07] GitaraniSharma-MSFT commented on #79547
@amatarou33 , We have assigned this to the content owner/author for review.

@vhorne , could you please review this issue or re-assign as needed?

[2021-08-13 07:11] AnuragSharma-MSFT commented on #79598
@jspawar Thanks for your patience. Yes you are right as these terms are being used interchangeably. When we say Maximum RUs per container is 1,000,000 by default, it means it can process up to 1,000,000 per second. Same is applicable with the serverless account.

[2021-08-13 07:18] GitaraniSharma-MSFT commented on #79672
@Ravivarman13 , thank you for your feedback. We have assigned this to the content owner/author for review.

@asudbring , for your review & update.

[2021-08-13 07:20] SubhashVasarapu-MSFT commented on #79428
@thepaulmacca, Appreciate your patience. Bicep has 100% parity with what can be accomplished with ARM Templates. Here is the main.bicep file syntax for your quick reference,
[code]
You can enable addon's here in this bicep file using "AddonProfiles" property. If you still get stuck while composing the file, then have a look at this reference [ARM template example](https://github.com/Azure/azure-qu

[2021-08-13 07:20] #79428 closed

[2021-08-13 07:25] AnuragSharma-MSFT commented on #79504
@lpassig This is being assigned to the content author to evaluate and update as appropriate.

[2021-08-13 07:25] MilanKrocek opened #79674 "DCOM assigned ports"
[Hello,

there is a reference information about the RPC/DCOM ports in this article:

https://docs.microsoft.com/en-us/azure/backup/backup-azure-microsoft-azure-backup?source=docs#install-and-update-the-data-protection-manager-protection-agent

"By default, DCOM assigns ports dynamically from the TCP port range of 1024 through 65535. However, you can configure this range by using Component Services

[2021-08-13 07:54] KrishnaG-MSFT commented on #79673
@seephez Thanks for the feedback. This is taken care as part of [this](https://github.com/MicrosoftDocs/azure-docs-pr/commit/87b3b4b37974a74c4a3cf9f696e478fc5f6efddf) change. The change should reflect soon in the document. Thanks again!

[2021-08-13 07:58] KrishnaG-MSFT commented on #79674
@MilanKrocek Thanks for your comment! We will review and provide an update as appropriate.

[2021-08-13 08:14] SnehaAgrawal-MSFT commented on #79519
@Burabari-Dev Thanks! Could you please confirm if you have Installed Git and Installed Node.js and NPM as mentioned in the  prerequisites of this tutorial. After installing run these command in Git Bash terminal window. I am able to navigate to http://localhost:1337 in a browser.

![demo1234 - Word](https://user-images.githubusercontent.com/46553948/129326109-01ac9675-6fc8-45ff-b91c-591148e9105e.p

[2021-08-13 08:14] janz04 commented on #63423
Would you please enable the configuration in the portal or update the documentation.

[2021-08-13 08:34] priyankareddy20 commented on #79646
I could see the below error in non-interactive signins.
I have included all cloud apps and excluded azure portal, intune, office 365 and I dont know why CA is looking for compliant .Is this something which will work only for O365??.Also for O365, the logs shows as "Not applied"but when i test, i could access O365

Status
Failure
Continuous access evaluation
No
Sign-in error code
53000
Failure reas

[2021-08-13 08:44] alasdair-stark-amido opened #79675 "azure-vote-front does not start"
Readiness and liveness probes fail with a 502.

I went through all of the instructions twice with a fresh resource group each times. I encountered the same issue both times.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27400039-49fa-5c04-b273-fd663eb82bc0
* Version Independent ID: 6f51e57e-dcfc-3fcf-c2b1-ec0f39ab93c4

[2021-08-13 08:49] vipulsparsh commented on #79667
@SumanthMarigowda Thanks for letting us know. We will investigate and update the thread accordingly.

[2021-08-13 08:50] vipulsparsh commented on #79664
@SumanthMarigowda Thanks for reaching out. We will investigate and update the thread accordingly.

[2021-08-13 09:12] stoicalpirate commented on #57608
I'm 4 months late on here, but I've also had this issue when configuring an Azure Static Web App to use Active Directory B2C. The 'Front-channel logout URL' doesn't seem to be getting called, and it makes not difference what I change the value to be. However, I was able to generate what _appears to be_ a full logout by sending a GET request to `https://{tenant}.b2clogin.com/{tenant}.onmicrosoft.co

[2021-08-13 09:34] yoelhor commented on #79635
You need to [Restore the NuGet packages](https://docs.microsoft.com/nuget/consume-packages/package-restore#restore-packages-manually-using-visual-studio). Please keep me posted (so, we can update the doc accordingly).

[2021-08-13 09:52] IanKemp commented on #79472
We're simply looking to record the duration of orchestrator function execution from beginning to end for our own internal metrics, so that if execution duration exceeds a median value we can be notified to take a look at the func in question to see what's changed. We've been using `Stopwatch` for that in all our ASP.NET web services and standard Azure functions, but for orchestrations we have to u

[2021-08-13 10:29] PingPongSet opened #79679 "Clarification on things: Developer Console and Try it"
[Enter feedback here]

Question 1
Exactly where and what is the **Developer Console** as a client app in APIM? Is it another API that you created yourself or in-built?

Question 2: Where is "**Try it**" as mentioned below?

https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-protect-backend-with-aad#successfully-call-the-api-from-the-developer-portal
---
#### Document Detail

[2021-08-13 10:45] likebupt commented on #78809
@powertrio77
Which learning path document are your referring to?
Meanwhile, could you please share your pipeline screenshot and the module configuration?
If the model performance is not as expected, you could try other algorithms, enrich your training data or refine your data preprocessing.

[2021-08-13 10:50] cveld opened #79680 "Azure Relay and App Service in two different tenants"
Is it possible to create the hybrid connection in one tenant, and then add it to an app service in another tenant?

The az cli commands don't seem to support this scenario.
Is there any other way to add the connection string and hostname port metadata to an app service?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64

[2021-08-13 11:12] FrankCRoth opened #79681 "CURRENT_IP variable is empty"
Correct way how to get your current IP:

CURRENT_IP=$(dig +short myip.opendns.com @resolver1.opendns.com)

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a38439d0-0125-3445-1c0a-a03b940e315d
* Version Independent ID: c6436a35-94b9-6396-3b13-9291f0a17b21
* Content: [Restrict egress traffic in Azure

[2021-08-13 11:32] vipulsparsh commented on #79666
@rmmcgr Thanks for reaching out. We will investigate and update the thread accordingly.

[2021-08-13 11:33] vipulsparsh commented on #79669
@khigashi1021 Thanks for reaching out. We will investigate and update the thread accordingly.

[2021-08-13 11:48] bankarswapnil opened #79683 "LogicApps trigger never get initiated"
Hello Team,
I have a small query.
I tried to follow the below lab given on Azure documentation site a couple of times with Queue & Topic but no success. Logic Apps never gets triggered.
https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-to-event-grid-integration-example?toc=/azure/event-grid/toc.json
There are some overlaps of snaps with Queues and Topics (I mean, step says T