[2020-02-19 14:22] pplavetzki commented on #47002
I redeployed my infra and now do not see the error.  I can close this issue. Thanks for your help.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: jakaruna-MSFT <notifications@github.com>
Sent: Monday, February 17, 2020 9:42:11 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Paul Plavetzki <paul@pareidolia.io>; Mention <mention@noreply.github.

[2020-02-19 14:23] #47002 closed

[2020-02-19 14:25] ramadarla opened #48452 "support for SAP HANA DB clustered VMs"
I don't see any discussion on support for HANA DB backup on clustered VMs. Does it support backup of DB using cluster name or is there any way that hana db backup agent recognize cluster?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc202f44-d2f7-3dee-5810-ae8d14805b6f
* Version Independent ID: df1d2207-594a-4341-546

[2020-02-19 14:28] Ayanmullick commented on #47551
@DashleenBhandari-MSFT , PFB the Microsoft documentation for installing Docker thru PowerShell; ie Windows version.

https://docs.microsoft.com/en-us/virtualization/windowscontainers/deploy-containers/deploy-containers-on-server

[2020-02-19 14:41] dipree opened #48453 "HockeyApp was shut down."
HockeyApp was shut down in favour of App Center. Things mentioned on this page don't work any longer. I propose to remove it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: efe2a0f6-4db3-f260-f201-a2535c611427
* Version Independent ID: 04e5f0f9-a44c-79ea-8493-8de6718931ae
* Content: [Exploring HockeyApp data in Azure A

[2020-02-19 14:43] deomaximo opened #48454 "outdated?"
Some of commands don't all make senses.  What's this MySubscriptionName directory. It doesn't exist on my cloud shell.  Am I suppose to be able to view my resources using the dir command? the copy and try it are not all that useful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d429ecd5-657d-35fc-fbe5-d8131c4da484
* V

[2020-02-19 14:51] FrankAtHexagon commented on #48396
@koo9 Wrong Frank. 😄

[2020-02-19 14:54] serverhack74 commented on #45598
Any clue?

[2020-02-19 14:55] haymansfield opened #48455 "Documentation on data governance"
Hi,

The introduction indicates that 'Containers are great for specific security and data governance requirements.'

Is there any detail on what this means for specific containers in terms of data processing and data control? I'm specifically interested in speech to text, and whether the data is only ever held in the container.

---
#### Document Details

⚠ *Do not edit this section. It is require

[2020-02-19 14:57] porrascarlos802018 opened #48456 "no instructions for when the ACI exists"
can log analytics be enabled when the ACI already exists?

can you add a guide step by step on how to add alerts for PODs running in ACI?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 160bf6c0-980c-bf64-8828-cda81c3ccb83
* Version Independent ID: 26e35469-0fdc-776f-4b23-a9488fc9c2e3
* Content: [Collect & analyze resou

[2020-02-19 15:00] mamccrea commented on #47863
Thanks @alapinsk. This issue was fixed in MLflow 1.5.0.

[2020-02-19 15:02] ticianaciminari commented on #48072
@IEvangelist I haven't noticed you reply because I wasn't tagged. Anyway, I filled this issue on behalf @HyeokIn.

@HyeokIn, could you please check the reply from @IEvangelist?

Kind regards,
Microsoft DOCS International Team

[2020-02-19 15:03] JanNepras commented on #39834
@sethmanheim Could you please verify that this documentation is updated? https://docs.microsoft.com/en-us/azure/notification-hubs/xamarin-notification-hubs-ios-push-notification-apns-get-started

[2020-02-19 15:06] selaromdotnet opened #48457 "Table sample link broken"
Link for table code samples: https://code.msdn.microsoft.com/Managing-Concurrency-using-56018114/sourcecode?fileId=123913&pathId=50196262

redirects here: https://docs.microsoft.com/en-us/samples/browse/?redirectedfrom=MSDN-samples

tried to find the same article in that page but was unable to locate it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-02-19 15:07] TomArcherMsft commented on #42443
Per conversation with @grayzu, the article has been deprecated.

#please-close

[2020-02-19 15:12] #42443 closed

[2020-02-19 15:13] MonikaReddy-MSFT commented on #48453
@dipree , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-02-19 15:15] chrisdoofer commented on #38595
+1 - I am seeing the exact same "The Principal Id cannot be null/empty in the header" error message when attempting to connect using the Azure Cost Management connector in Power BI or using the InvokeRestMethod in powershell when querying against the enrollment scope.

[2020-02-19 15:48] artisticcheese commented on #13201
Any news on this? There is virtually 0 documentation available how to work with Log Analytics logs coming from Load Balancers

[2020-02-19 15:55] artisticcheese opened #48459 "Please provide instructions how to get detailed data into Log Analytics"
All info is provided about Azure Monitor which is good for charting etc but if you need to get raw data for analytical purpouses, like find our what is node name which failed healthcheck. What will be the option for that? There is still diagnostic extension is available with option to send to storage account/Log Analytics but there is no info what those options do and how to query them in case of

[2020-02-19 15:55] shashishailaj commented on #48281
@HoCGeek Since everything is moving to web and newer auth protocols the legacy protocols within web based scenarios will be less used and hence have been grouped within the heading Other clients . As john suggested above , you can check the detailed information about the client within the [sign-in activity logs](https://docs.microsoft.com/en-us/azure/active-directory/reports-monitoring/concept-sig

[2020-02-19 15:56] SylvainUsitab opened #48460 "Any update for a SwiftUI integration ?"
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9c2a719-62fa-b111-03a6-1268cc4caaaa
* Version Independent ID: 2fe78b74-7717-bce9-9204-1089256563f5
* Content: [MSAL for iOS & macOS tutorial - Microsoft identity platform](https://docs.microsoft.com/en-us/azure/active-directory/develop/tutorial-v2-ios#feedback)
* C

[2020-02-19 16:00] dcurwin commented on #48452
#assign:msshradhabarpute

[2020-02-19 16:00] dcurwin commented on #48452
#assign:pvrk

[2020-02-19 16:01] slavizh opened #48461 "In Essentials alertId is described as GUID"
In Essentials alertId is described as GUID. It is not GUID but rather resource ID for the alert.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e4d20cc-b693-ee2d-2694-832b455376a6
* Version Independent ID: 7b929793-dba5-8f94-e44f-7dace50ee018
* Content: [Common alert schema definitions for Azure Monitor - Azure Monito

[2020-02-19 16:02] slavizh opened #48462 "In Essentials severity starts with upper case letter"
In Essentials severity starts with upper case letter, it should be lower case.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e4d20cc-b693-ee2d-2694-832b455376a6
* Version Independent ID: 7b929793-dba5-8f94-e44f-7dace50ee018
* Content: [Common alert schema definitions for Azure Monitor - Azure Monitor](https://docs.mi

[2020-02-19 16:07] DrewBino opened #48463 "A recent update broke this for WAP running on Server 2012 R2"
I followed these instructions to publish RDS through a WAP running on Server 2012 R2. It was working fine for years.

After installing recent update KB4534297/KB4534309, the "rich apps" (Android/iOS/Mac) can no longer connect to the RD Gateway. They give error 0x3000008 when trying to connect.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2020-02-19 16:07] dotnetgator opened #48464 "Clarification on the UserPrincipalName required for SendSMS"
What are the requirements for the UserPrincipalName Input Claim in Send SMS mode? In particular, I'm trying to figure out how to use this during a custom Sign-UP process, before the user has actually been saved to the underlying AAD store. Put another way, can this be used if SMS verification is required prior to user creation? Or is that scenario not supported?

---
#### Document Details

⚠ *Do n

[2020-02-19 16:10] daledev-uk commented on #48341
This isn't quite what I thought it was. The functions that fail have Authentication / Authorization with Azure AD enabled, disable that and they go through.

What do we need to do for this to work? change in b2c? change to the topic subscription? there is no AD settings in Azure portal for non-webhook endpoint types so not sure how I'd configure anything AD related

[2020-02-19 16:12] DixitArora-MSFT commented on #48341
@banisadr Any thoughts on this ?

[2020-02-19 16:12] koo9 opened #48465 "why is Microsoft Account oid not a guid?"
is the oid supposed to be GUID so that it will be consistent with other idp?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 245e95f2-cdaa-920d-c65e-7967efa1c46f
* Version Independent ID: e1863cb0-1212-6b58-35ed-9d400b53e00a
* Content: [Set up sign-in with a Microsoft Account account by using custom policies - Azure AD

[2020-02-19 16:13] SaurabhSharma-MSFT commented on #48450
@CharmanderJieniJieni Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-19 16:14] yoelhor commented on #48396
The token's "sub" claim is the user objectId. To add the email address, or to be more specific, the sign-in name, add following output claim to the relying part policy.

`<OutputClaim ClaimTypeReferenceId="signInName" DefaultValue="" />`

Following is the complete relying party policy sample you can use.

[code]

[2020-02-19 16:17] hansenms commented on #36581
We don't support group oids (yet) in this system. We will though in the not so distant future. But for now individual users have to be added. I will close this out, since it seems to be resolved.

#please-close

[2020-02-19 16:20] hansenms commented on #48037
I suspect there is some type or something else going on here. It is hard to tell without seeing the full query string, which you should not post here. In any case, this is not really related to the FHIR service but a specific Azure Active Directory issue. I would suggest taking the actual query string and put in a ticket in the Azure Portal for the Azure AD team to take a look at. They can determi

[2020-02-19 16:20] #48037 closed

[2020-02-19 16:24] koo9 commented on #48396
@yoelhor  when used the built-in sign up/in user flow, the token show all claims nicely. under setting, the Application Claims can be configured. if check off User's Object ID, the oid will be included in the token.

`{
  "exp": 1582132923,
  "nbf": 1582129323,
  "ver": "1.0",
  "iss": "https://onwareb2c.b2clogin.com/36d92541-9dfb-4e8c-b5a2-f7e5d1005a3e/v2.0/",
  "sub": "c1a8c276-7267-4804-b299-d7

[2020-02-19 16:31] j03Martin opened #48466 "Add arm template support"
It is hard to use this functionality if it cannot be done through ARM templates. The Power shell option is okay, but having to break up your automated deployment into two different deployment methods (ARM templates and Powershell) is just a bad developer experience.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 860f6a

[2020-02-19 16:32] andreasmarx commented on #47909
Hi @TravisCragg-MSFT , @anzaman . Could you please give an update?

[2020-02-19 16:32] andreasmarx commented on #47907
Hi @TravisCragg-MSFT , @anzaman . Could you please give an update?

[2020-02-19 16:36] fgheysels opened #48467 "IoT Edge certificate rolling"
As mentionned on [this](https://docs.microsoft.com/bs-latn-ba/azure/iot-edge/production-checklist) page, IoT Edge devices should have their own certificates installed.
Those certificates will offcourse expire on some day.    Is there any documentation on how to 'roll' the certificates that are used by the IoT Edge device ?

I'm using IoT Edge with DPS and TPM enrollment in one case.
In another cas

[2020-02-19 16:36] asudbring commented on #48425
Hi!

Can you elaborate on your question?  The destination VM is there to show the outbound traffic out of the NAT to an oubound public IP.

Thanks!

[2020-02-19 16:37] asudbring commented on #48426
Its in this section:
https://docs.microsoft.com/en-us/azure/virtual-network/tutorial-create-validate-nat-gateway-cli#configure-nat-service-for-source-subnet

Thanks!

[2020-02-19 16:37] asudbring commented on #48426
#please-close

[2020-02-19 16:37] #48426 closed

[2020-02-19 16:41] dabonz413 opened #48468 "Extra comma"
The second sentence of the opening paragraph has an extra comma. "You can, work with your app" should be "You can work with your app"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad1778e4-3dfd-b76b-d149-7b702dc58d03
* Version Independent ID: 0da6575d-6d33-26fd-f32e-5543d61d9c03
* Content: [Sync content from a cloud f

[2020-02-19 16:42] SamirFarhat opened #48469 "The minimum Permission Role to add the Microsoft partner ID"
Hi,
What is the RBAC role needed to add Microsoft partner ID ? Contributor. Billing Contributor ?
Reader role for example does not work.
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f901056-c225-b086-cdaa-c8bd978db64c
* Version Independent ID: 9c067eb4-54cb-e141-d82f-e136ff3c671e
* Content: [Link an Azure acc

[2020-02-19 16:44] diecknet opened #48470 "Please fix link to Azure Files permission Requirements"
As of now, the document states "Azure Files permissions should match permissions described in Requirements - Profile Containers." and links to https://docs.microsoft.com/en-us/fslogix/overview#requirements/. Please link to https://docs.microsoft.com/en-us/fslogix/fslogix-storage-config-ht instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2020-02-19 16:47] kapilrajyaguru commented on #48392
Thank you but no further investigation required. I recreated dw and it worked perfectly.

Sent from my iPhone

[2020-02-19 16:52] qianw211 commented on #46527
Hi here's the answer to your question:  we don’t show reporting today to partners in PC that comes from tagged resources.  Hope this helps!

#please-close

[2020-02-19 16:56] MashaMSFT commented on #46970
Hi @giovannifl , thank  you for your patience! Yes, that is correct, manual backup/restore is currently the only option.

I hope that helps and please let us know if we can be of further assistance?

Thanks!
Masha from the SQL Docs team

[2020-02-19 16:56] palladia commented on #47776
Hi Jeremy,

Thanks for reporting this.  What you have reported is a known issue with certain versions of Windows.  We made an attempt to fix this in the current version (0.5.20037.003), but have since discovered that it's still incomplete.  Our next release, in March, should provide a more complete fix for this issue.

[2020-02-19 17:06] KumudD commented on #13201
#assign: asudbring

[2020-02-19 17:12] souravmishra-msft commented on #48418
@Tovli, User Managed Identities and System Managed Identities are different, though the purpose for which they are used are same. You are correct, when you enable System MSI for a resource, it creates a Service Principal for that resource. On the contrary, a User MSI is a different object all total that has a corresponding Service Principal object associated with it. Hence their behaviors differ.

[2020-02-19 17:13] Mike-Ubezzi-MSFT opened #48472 "This is a test"
This is a test for the WT ingestion process.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 411f74ce-0f28-4a74-6b67-814116d718e2
* Version Independent ID: 6e373495-4e53-d9e7-17d4-93a2801f351c
* Content: [Overview - Azure Digital Twins](https://docs.microsoft.com/en-us/azure/digital-twins/about-digital-twins)
* Content

[2020-02-19 17:17] CHDAFNI-MSFT commented on #13201
Still an open item of consideration but this GitHub is closed =(

[2020-02-19 17:17] Tovli commented on #48418
Thanks a lot.
so we have 3 SPs that can authenticate?
system assigned msi
user assigned msi
regular service principal

can you direct me to the docs that describe the difference between the user assigned msi and a regular sp? what is the difference between them? is it just the ability to get msi token from within azure without creds?

[2020-02-19 17:19] asudbring commented on #13201
Added PM and sent email about standing up an article to address this need:

#assign:anavinahar

[2020-02-19 17:20] msrini-MSFT commented on #48191
PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/104863

[2020-02-19 17:28] HeidiSteen commented on #47608
@briangeorge @Grace-MacJones-MSFT  As Brian noted, this issue is a dupe of the HTTPS issue. The demo works if you use HTTP (no "s").  Installing a cert on the NYCJobs demo site is a won't fix.  I can revise the doc to reference the C# code sample, but that's as far as we can go.

Brian, here is the link if you want to take a look:  https://docs.microsoft.com/en-us/azure/search/tutorial-csharp-face

[2020-02-19 17:28] #47608 closed

[2020-02-19 17:29] anwald commented on #48455
The only data that leaves the container and goes to Azure is the billing / metering calls. Absolutely no audio or transcribed text ever leaves the container (or physical machine in the case where the user is intentionally mapping the output volume to a host volume). The transcription engine and control is 100% local to the container. We have customers using these containers in the most extreme com

[2020-02-19 17:31] BharathNimmala-MSFT commented on #48452
@ramadarla  Thank you for your query.

@dcurwin Thank you for routing it accordingly.

[2020-02-19 17:32] #48191 closed

[2020-02-19 17:33] jonwbstr opened #48473 "Expand on Comfort factor description"
If a 10 core machine is using 20% CPU and we lower it to a 2 core machine we now have a machine operating at 100% CPU utilization. Shouldn't we be aiming for 80% utilization?

Should I use a comfort factor of 1.2x to get the 20% buffer?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6526c2ab-e0c5-03cc-3c66-0410eee700b7

[2020-02-19 17:35] nickolasfisher commented on #47736
@YutongTie-MSFT @qianw211 STill waiting on resolution for this issue

[2020-02-19 17:39] BharathNimmala-MSFT commented on #47983
@nayar34  Hope the above information helps, request you to please review and let us know if you have any further queries.

For now will go ahead and close the thread, however if you have any queries please tag us in your reply and will be more than happy to reopen the thread and continue our conversation around this. Thanks

[2020-02-19 17:39] #47983 closed

[2020-02-19 17:43] BharathNimmala-MSFT commented on #47948
Adding @nkiest to further help on this. Thank you

[2020-02-19 17:43] sethmanheim commented on #47463
@SamBonavika Thank you for the feedback. Are there specific technical documentation changes you'd like to see in the Notification Hubs docs? If so please feel free to reopen this issue, or open a new one. Thanks again! #please-close

[2020-02-19 17:43] #47463 closed

[2020-02-19 17:47] kobulloc-MSFT commented on #48466
@j03Martin I can definitely see a use for having ARM support here.  To make sure that this feedback is seen by the product group, it will need to be submitted in our feedback channel:

https://feedback.azure.com/forums/357324-azure-monitor-application-insights

I can submit this on your behalf, or you can submit it if you'd like to receive notifications and updates on your idea.  Let me know which

[2020-02-19 17:55] langstonj opened #48474 "Storage account for audit production server shows logs for databases copied to dev environments"
I do not see it mentioned here but have auditing on for a production logical server and see in the corresponding audit storage account results for databases copied to dev/test environments from the production logical server.  Can you confirm this behavior?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c27fe13-a824-84

[2020-02-19 17:55] pvrk commented on #48452
@ramadarla : Currently, we don't support clustered VMs. But can you please elaborate on this? Is this a HA scenario (Active/Passive)? or using HANA System Replication?

[2020-02-19 18:00] Alberto2K opened #48475 "CLI command is incorrect - Register an IoT Edge device"
When I tried to use the command "  az iot hub device-identity create --hub-name {IoTHubName} --device-id myEdgeDevice --edge-enabled" , I have a message that the device-identity is not recognize and I should look for the "az iot hub --help"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30ba9128-7ae3-2054-5af1-53577fec

[2020-02-19 18:01] Mike-Ubezzi-MSFT commented on #48472
Testing WT ingestion.

[2020-02-19 18:05] SaurabhSharma-MSFT commented on #48339
@aws-scripting-guy Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.
@memildin Can you please help on this as I am also getting the same error with "default" parameter.(See screenshot below)
![image](https://user-images.githubusercontent.com/38112130/74861473-440c0d00-52ff-11ea-999c-435b4ec5d344.png)

[2020-02-19 18:10] everythingeverywhere opened #48476 "the yaml file wouldn't work because it was missing `on: push`, after adding it the pipeline worked"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f471d22c-2c0a-0980-7a70-08674d54612f
* Version Independent ID: 3620533b-c0ca-dfa5-419b-69041bbdb263
* Content: [Azure Spring Cloud CI/CD with GitHub Actions](https://docs.microsoft.com/en-us/azure/spring-cloud/spring-cloud-howto-github-actions)
* Cont

[2020-02-19 18:10] anavinahar commented on #48257
@altambaw who owns this now

[2020-02-19 18:10] anavinahar commented on #48257
#assign:@altambaw

[2020-02-19 18:12] kgremban commented on #34375
@krishjan05 Thank you for the extra details. I think your CLI is out-of-date. The latest version is 2.1.0 and shows `accept-terms` as a deprecated command for VM images:

![image](https://user-images.githubusercontent.com/13578436/74862064-46229b80-5300-11ea-828f-0584d2287913.png)

[2020-02-19 18:19] WiseOldHowell opened #48477 "Powershell support - Set TOS and Privacy Statement URL"
Is there a way to set the Terms of Service URL and Privacy Statement URL?

Similar to how the Home page URL can be set?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9642c47-826b-017f-eff3-ab3b25e4e454
* Version Independent ID: 091f26e7-6543-ef0f-b575-b44519943391
* Content: [Register an app with the Microsoft identi

[2020-02-19 18:20] krispenner opened #48478 "Missing Managed Application Contributor Role"
In the Azure Portal I can add a Managed Application Contributor Role to an App Service however the role is not described on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99581afb-7950-6daa-7227-055d04446b7e
* Version Independent ID: f1a5bf89-9e54-aede-3a9a-70788a95927b
* Content: [Built-in roles for Azure r

[2020-02-19 18:25] Mike-Ubezzi-MSFT commented on #11807
@ekaitzht There is currently no way to simply run a specific image in your container platform, given all the additional set-up that is required.

[2020-02-19 18:26] solankisamir commented on #47769
@VaibhavVilasPandit can you put your vote to this
https://feedback.azure.com/forums/248703-api-management/suggestions/35241517-storage-firewall-support-for-apim-backups

[2020-02-19 18:31] Mike-Ubezzi-MSFT opened #48479 "Testing Kinect WT Ingestion - Test #1"
Testing WT ingestion....

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ce54efe-a001-9371-db7c-206cc6698cdf
* Version Independent ID: 9afb9660-42a9-e398-b092-e8045216a401
* Content: [Quickstart- Record Azure Kinect sensor streams to a file](https://docs.microsoft.com/en-us/azure/kinect-dk/record-sensor-streams-file)
*

[2020-02-19 18:33] YutongTie-MSFT commented on #48046
@emma-c-dev Hi Emma, could you please send the input testing file to us at Azcommunity@microsoft.com so that we can take a look? Here is the place for document issue, I will close this issue here now and we are looking forward to your email. Thanks.

[2020-02-19 18:33] #48046 closed

[2020-02-19 18:35] Mike-Ubezzi-MSFT opened #48481 "Testing Spatial Anchors WT Ingestion"
Testing WT ingestion.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60ef096f-c389-e0eb-c67c-00f1c18665a5
* Version Independent ID: dbbf6607-e213-5bb8-7c51-1a9f67187383
* Content: [Azure Spatial Anchors overview - Azure Spatial Anchors](https://docs.microsoft.com/en-us/azure/spatial-anchors/overview)
* Content Source:

[2020-02-19 18:36] mhopkins-msft commented on #48457
@selaromdotnet thanks for your feedback. I'm literally updating that page right now. The changes should be published in the next 24 hours.

Thanks!
 ~ _Mark_

[2020-02-19 18:36] BryanTrach-MSFT commented on #48412
@AshokPeddakotla-MSFT Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-19 18:37] BryanTrach-MSFT commented on #48413
@AshokPeddakotla-MSFT Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-19 18:37] Grace-MacJones-MSFT commented on #48432
Hi @p1johnson thanks for the comment! We are currently investigating and will update you shortly.

[2020-02-19 18:38] Grace-MacJones-MSFT commented on #48468
Hi @dabonz413,Thanks for the feedback! We will update the doc shortly.

[2020-02-19 18:38] yoelhor commented on #48396
Dear @koo9,

I'm afraid there is a confusion between [Azure AD token](https://docs.microsoft.com/en-us/azure/active-directory/develop/access-tokens) to [Azure AD B2C token](https://docs.microsoft.com/en-us/azure/active-directory-b2c/tokens-overview). In Azure AD B2C token the "sub" is always the user object id, unless you explicitly changed the policy. While in Azure AD the "sub" value is immutabl

[2020-02-19 18:39] BryanTrach-MSFT commented on #48421
@pikkuhanuristi Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-19 18:40] SaurabhSharma-MSFT commented on #48450
@CharmanderJieniJieni can you please share the document link which talks about rebooting ?

[2020-02-19 18:42] BryanTrach-MSFT commented on #48439
@vdbosschekoen Thank you for your question. Can you please share with us the URL of the doc that you are having issues with?

Please note that we scope issues on this repro to feedback related to the docs. If you have a product question, please post it on MSDN or Stack Overflow. Thank you for your understanding.

[2020-02-19 18:43] BryanTrach-MSFT commented on #48437
@OvervCW Thank you for your question. Can you please share with us the URL of the doc that you are having issues with?

Please note that we scope issues on this repro to feedback related to the docs. If you have a product question, please post it on MSDN or Stack Overflow. Thank you for your understanding.

[2020-02-19 18:43] SaurabhSharma-MSFT commented on #48366
@dotnetgator Please post this as a feedback https://feedback.azure.com/forums/169401-azure-active-directory. This will allow the community to upvote and for the product team to include into their plans. "This Product" button in at the bottom section of the document now to take you directly to the appropriate feedback page.

[2020-02-19 18:46] BryanTrach-MSFT commented on #48454
@deomaximo Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-02-19 18:49] SandeepMaregowda opened #48482 "Get Metadata for On-Prem files"
Is there a plan to release an option to capture MD5 signature a file when copying from On-Prem file systems?
Its extremely useful when frequent ETL's need to be performed.
As of now copying any file greater than 4 MB to Azure Blob from on-prem file system gets rid of the MD5.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-02-19 18:53] MarileeTurscak-MSFT commented on #48460
@SylvainUsitab
Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-19 18:54] MarileeTurscak-MSFT commented on #48478
@krispenner
Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-19 18:55] MarileeTurscak-MSFT commented on #48477
@WiseOldHowell
Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-19 18:56] MarileeTurscak-MSFT commented on #48465
@koo9
Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-19 18:57] MarileeTurscak-MSFT commented on #48464
@dotnetgator
Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-19 18:57] Adam-Smith-MSFT commented on #48435
@cstainie Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-02-19 18:58] MarileeTurscak-MSFT commented on #48463
@DrewBino
Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-19 18:59] soeirodefaria opened #48483 "Update instructions"
I tried to follow the "Using Log Analytics Workspace" section, but instructions and screenshots don't match anything in the Azure Portal. https://docs.microsoft.com/en-us/azure/backup/backup-azure-monitoring-use-azuremonitor#using-log-analytics-workspace

Could you please review this document and update with more details?

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2020-02-19 19:01] chriskim0101 opened #48484 "Authentication Error for "AAD service principal + key authentication""
I am trying too connect to my trial instance of D365 but running into issues.

For the authentication on the appid, I selected:
- Public client/Native
- Accounts in any organizational directory (Any Azure AD directory - Multitenant)
Public

When I try with non-JSON, I get following error:
"Input string was not in a correct format. Activity ID: e6613de6-9146-48f9-8c13-b27d1ecaec0e."

If I try with

[2020-02-19 19:03] Adam-Smith-MSFT commented on #48449
@vermegi Thanks for the feedback, the documentation specifically mentioned Azure storage account not datalake storage account. @tamram  should we mention addition commented examples for ADLS ?

[2020-02-19 19:05] qianw211 commented on #47736
@nickolasfisher @YutongTie-MSFT This is a bug on engineering side.  This field should have guid format in all cases.  Thanks for your feedback!

[2020-02-19 19:05] #47736 closed

[2020-02-19 19:05] Mike-Ubezzi-MSFT commented on #48479
Issue was manually moved to MR bucket.

[2020-02-19 19:05] SamBonavika commented on #47463
@sethmanheim

Now that you mention it ... ;-}

The [New-AzNotificationHubsNamespaceAuthorizationRule](https://docs.microsoft.com/en-us/powershell/module/az.notificationhubs/new-aznotificationhubsnamespaceauthorizationrule?view=azps-3.5.0) docs have an issue, but that page doesn't yet have the nice comments-capability that this one does.

The issue is with the JSON used as an example for the _Input

[2020-02-19 19:06] Mike-Ubezzi-MSFT commented on #48481
Issue was manually moved to MR bucket.

[2020-02-19 19:07] DrewBino commented on #48463
Sorry, I think this is the wrong doc. I was referring to the on-premises Web Application Proxy and I'm seeing now this says Azure.

[2020-02-19 19:09] IEvangelist commented on #48455
#please-close

[2020-02-19 19:09] #48455 closed

[2020-02-19 19:09] dotnetgator commented on #48366
@SaurabhSharma-MSFT I think you may have misunderstood. The LookupNotFound metadata value already has been implemented in the product and exists - it can be used today, it is not new functionality being requested. It is just missing from the documentation.

[2020-02-19 19:09] qianw211 commented on #48183
#please-close

[2020-02-19 19:10] SnehaGunda commented on #46862
@mkyrath I don't see any doc update, so closing this issue. If you want to discuss further, please reopen.

#please-close

[2020-02-19 19:10] #46862 closed

[2020-02-19 19:10] qianw211 commented on #48066
#please-close

[2020-02-19 19:10] Grace-MacJones-MSFT commented on #48053
Hi @anaskalash, thanks for your patience. If Duration is not set, it is defaulted as MaxValue, which caused the overflow. The workaround is to set Duration as a very big value if intended to overlay from StartTime to the end.

[2020-02-19 19:12] qianw211 commented on #47230
@AlexeyBoiko The subscription renewal is automatic, no actions are required. The user who purchase it can decide not to renew and needs to explicitly do this.
I’ll add a note about renewal in the documentation.

Thanks for your feedback!

#please-close

[2020-02-19 19:12] yoelhor commented on #48465
Thanks for the feedback. I see the issue and I'm fixing the document.

[2020-02-19 19:14] Grace-MacJones-MSFT commented on #48053
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-19 19:14] #48053 closed

[2020-02-19 19:15] normesta commented on #47714
Thanks for raising the issue @flybd5. Have you since resolved this issue? If so, can you please share with us what happened and how you resolved it? If something is missing from the content, we'd like to add that critical piece of information to it. If you are still having trouble and aren't sure how to resolve the issue, we can loop back in support to continue working with you. Thank you!

[2020-02-19 19:16] yoelhor commented on #48465
Thanks for the feedback. I see the issue and I'm fixing the document.

[2020-02-19 19:18] shashishailaj commented on #48228
@tmarius1970 I tested this in my lab and you are absolutely correct. The first access attempt blocked by SharePoint and the subsequent access attempt without even requesting access is allowed. I setup an exactly similar scenario and collected a fiddler trace where I see the Access denied sent by sharepoint at the first access attempt after invitation is redeemed using "Go to sharepoint".

I also n

[2020-02-19 19:18] Grace-MacJones-MSFT commented on #48468
Thanks for catching this error in the doc! I have submitted a PR to fix the issue, the change is merged internally and will go-live in the public docs shortly.

[2020-02-19 19:18] #48468 closed

[2020-02-19 19:20] koo9 commented on #48465
@yoelhor perfect, thx!

[2020-02-19 19:20] dcurwin commented on #48483
#assign:adityabalaji-msft

[2020-02-19 19:21] qianw211 commented on #41979
#please-close

[2020-02-19 19:22] hshahbaz commented on #48078
@ram-msft  sorry for the late reply. The app is migrated to Azure. I used the following to give access to LUIS: https://drive.google.com/open?id=1I6IZxeyp_9hL5DdQwodJ_Z0F4W5YOsLl

The user has Contribute access for LUIS authoring app but when the user logs in to LUIS he is not able to see the LUIS app.

[2020-02-19 19:23] DianeHadley opened #48486 "404 error"
ServiceFabricProcessor link is broken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ccc2d92-fe29-c2f7-eb90-40b7b9f403a1
* Version Independent ID: f23c2696-e920-e23c-2097-ab38491961c1
* Content: [Azure Service Fabric application design best practices - Azure Service Fabric](https://docs.microsoft.com/en-us/azure/servi

[2020-02-19 19:23] brandonh-msft opened #48487 "Lacking docs on extendedSession"
The other host.json parameters are all defined in the table w/ the exception of these.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b2c8f85-9416-d9f2-e082-b1b15961d810
* Version Independent ID: e987c477-36ef-76b9-6dbd-db76fd291e7b
* Content: [Bindings for Durable Functions - Azure](https://docs.microsoft.com/en-us/a

[2020-02-19 19:30] AjayKumar-MSFT commented on #48166
Apologies for the delay! Firstly to highlight on how scaling works - Every App Service app runs in an App Service plan. The container model is environments hold App Service plans, and App Service plans hold apps. When you scale an app, you scale the App Service plan and thus scale all the apps in the same plan.

In ASEv2, when you scale an App Service plan, the needed infrastructure is automatical

[2020-02-19 19:30] #48166 closed

[2020-02-19 19:32] KranthiPakala-MSFT commented on #48482
@SandeepMaregowda Thank you for reaching out and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate

[2020-02-19 19:33] yoelhor commented on #48465
You are welcome. I also changed the `identityProvider` to read the `iss` claim

[code]

[2020-02-19 19:39] #48465 closed

[2020-02-19 19:44] kungfugeek opened #48488 "Access Tokens vs Personal Access Tokens"
Are Access Tokens the same as Personal Access Tokens?  Do they expire or become invalid in the same way?

Also, is there a way to set the lifetime policy of PATs for specific user to be different from the default?

Context:  We have an app that runs as a windows service and makes api calls to Azure DevOps to create/update work items.  We have a work account in Azure DevOps that we use to create PA

[2020-02-19 19:49] KranthiPakala-MSFT commented on #48482
@SandeepMaregowda After reviewing your ask, this sounds like a feature request.
 I would request you to please up-vote and/or comment on below similar feedback by other users. All the feedback shared in this forum are monitored and reviewed by ADF engineering team.

Related ADF Feedback thread: [Get Metadata Activity contentMD5 property Only Supported on Azure Blob File based Stores](https://feedb

[2020-02-19 19:49] #48482 closed

[2020-02-19 19:51] jan-eng commented on #48221
@WenJason, thank you for reporting his. I have a PR open to change the wording. #please-close

[2020-02-19 19:51] #48221 closed

[2020-02-19 19:52] b-juche opened #48492 "Microsoft.NetApp -- need updating for mounttargets and tag support for snapshots"
NetApp support team requests changes for the following page:

https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/tag-support#microsoftnetapp

This page indicates two things that need to be corrected:
1.	mounttargets needs to be removed - this is a deprecated resource type
2.	tag support for snapshots needs to be set to "no" - this is not supported, and I have a customer ticke

[2020-02-19 19:55] WiseOldHowell opened #48493 "Powershell support - Set Supported account types"
New-AzADApplication where -AvailableToOtherTenants $true

sets the Supported account types: Multiple organizations
how about Supported account types:  All Microsoft account users ???

Is there a way to do this via PS ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9642c47-826b-017f-eff3-ab3b25e4e454
* Version Indepen

[2020-02-19 20:00] KranthiPakala-MSFT commented on #48441
@Thorium Thanks for reaching out. Below are the other supported languages for sending and/or receiving events.

- [.NET Core (Azure.Messaging.Eventhubs)](https://docs.microsoft.com/azure/event-hubs/get-started-dotnet-standard-send-v2)

- [Java (azure-messaging-eventhubs)](https://docs.microsoft.com/azure/event-hubs/get-started-java-send-v2)

- [Python (azure-eventhub version 5)](https://docs.micro

[2020-02-19 20:02] mike-urnun-msft commented on #48451
@oatsoda Thank you for your feedback! We will review and update as appropriate.

[2020-02-19 20:05] mike-urnun-msft commented on #48487
@brandonh-msft Thank you for your feedback! We will review and update as appropriate.

[2020-02-19 20:07] ms-premp commented on #38595
We cannot use an AAD App or any non-user context for making these calls. It has to be an user account used to get these API call successful.

[2020-02-19 20:08] 1TheMuffinMan commented on #48399
For the meantime I ended up just viewing the source of `DefaultHttpRequest` and copying the contents of it into my own class so that I could continue using it in my unit tests. Although, I am still curious what the new intended way should be.
Thanks.

[2020-02-19 20:08] koo9 commented on #48396
@yoelhor how to get the email from the local account signin? thx

[2020-02-19 20:12] BharathNimmala-MSFT commented on #48447
@tkumark Thank you for your query, we will look into it and get back to you at the earliest.

[2020-02-19 20:14] yoelhor commented on #48465
The document should be updated later today (afternoon PST). Please check the output claims, I added some missing claims as well. Feel free to open a new issue if something doesn't works as expected.

Yoel

[2020-02-19 20:14] BharathNimmala-MSFT commented on #48461
@slavizh Thank you sharing your feedback , will further evaluate and update the doc accordingly.

[2020-02-19 20:14] schellem opened #48495 "Code Doesn't work"
Get all kinds of errors running 'dotnet restore'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00961883-36eb-f736-b906-73d4c35e69b0
* Version Independent ID: 3a2fd493-9682-eedf-fad1-571b9391cd46
* Content: [Tutorial: ASP.NET Core with SQL Database - Azure App Service](https://docs.microsoft.com/en-us/azure/app-service

[2020-02-19 20:15] BharathNimmala-MSFT commented on #48462
@slavizh Thank you for sharing your feedback, we will evaluate and update the document accordingly to reflect the feedback. Thanks

[2020-02-19 20:17] BharathNimmala-MSFT commented on #48473
@jonwbstr  Thank you for your query, we will further look into this and get back to you at the earliest.

[2020-02-19 20:20] BharathNimmala-MSFT commented on #48492
@b-juche Thank you for your feedback, we will further evaluate and get back to you at the earliest.

[2020-02-19 20:22] BharathNimmala-MSFT commented on #48483
@soeirodefaria Thank you for your feedback.

@dcurwin Thank you for assigning the issue for further review.

[2020-02-19 20:22] CharmanderJieniJieni commented on #48450
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/disk-encryption-windows the important section

[2020-02-19 20:23] krishjan05 commented on #34375
Thank you for the resolution. Updating Azure CLI did fix the issue.

[2020-02-19 20:26] #48439 closed

[2020-02-19 20:27] flybd5 commented on #47714
I did not finish this and did not have the additional time needed to troubleshoot it or come up with alternate content to suggest. My apologies. I just think someone needs to redo this one from scratch and approach it as if the person doing the exercise has never done something like this before.

[2020-02-19 20:28] HoCGeek commented on #48281
I’ve looked at the sign-in logs and there is no more detailed information about which protocols are used, and even if there was more detailed information there, the line "The Client App field under the Basic Info tab will indicate which legacy authentication protocol was used." Is inaccurate – it does not indicate a protocol of any kind, but rather a class of clients.

Dan

From: ShashiShailaj-MSF

[2020-02-19 20:31] vdbosschekoen commented on #48439
sorry it is a more technical question. Will post it on stack Overflow

[2020-02-19 20:34] porrascarlos802018 opened #48496 "Update of log analytics case scenario"
steps to do an update for an already running ACI are not listed or clarified. Please add this section so customers having this problem can read it .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df5263d2-e8da-ad3e-efcc-03c0a1088849
* Version Independent ID: bbb97f05-ca9a-1558-a95e-bca1fe610752
* Content: [Update conta

[2020-02-19 20:37] MartinJaffer-MSFT commented on #48124
@timmo001  Are you using Data Flows, or only regular pipelines?
I have [looked up](https://www.microsoft.com/en-us/download/details.aspx?id=41653) the IP adresses you provided, and they are Microsoft addresses, some in UK West rather than UK South.

[2020-02-19 20:43] eyediatech opened #48498 "What is the URL adtokens.azurewebsites.net?"
Dear writer(s) - Probably you should mention what the url 'https://adtokens.azurewebsites.net/api/HttpTrigger1?code=dv9Xz4tZQthdufbocOV9RLaaUhQoegXQJSeQQckm6DZyG/1ymppSoQ==' does?

I have azure account and everything is setup but it throws error like "Invalid token returned by getToken function"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-02-19 20:44] Mike-Ubezzi-MSFT commented on #48099
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-02-19 20:44] #48099 closed

[2020-02-19 20:46] abatishchev opened #48499 "ARM template sample for ephemeral OS disks requires Storage Account in the Service Fabric section"
While [the doc](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/ephemeral-os-disks#vm-template-deployment) in the VMSS section doesn't have that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 377de97a-1ba1-245c-a81e-289280cb0b48
* Version Independent ID: 70b0a508-c6bb-e82f-0a2b-13990c7c5ce6
* Content:

[2020-02-19 20:51] Mike-Ubezzi-MSFT commented on #48108
@roofiq Can you run the ARM deployment with the following debug flag:
` -DeploymentDebugLogLevel All`

**Example:**

  -Name exampledeployment `
  -ResourceGroupName examplegroup `
  -TemplateFile c:\Azure\Templates\storage.json `
  -DeploymentDebugLogLevel All

[2020-02-19 20:56] Karishma-Tiwari-MSFT commented on #47961
Yes.
Your first "default" agent pool needs to be of type Linux. After this you will be able to create a second Node Pool of type Windows.

Its important that you enable the Preview Feature, since Windows Node support is still in Preview
After that you will need to create your AKS Cluster providing the credentials Block for Windows, using VirtualMachineScaleSets for the vm-set-type, azure for the n

[2020-02-19 20:57] Karishma-Tiwari-MSFT commented on #48443
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-19 20:57] normesta commented on #47714
Your suggestion makes complete sense. I'll ask someone outside of our content team to try this out. Thank you for sharing your experience with this.

[2020-02-19 20:57] Mike-Ubezzi-MSFT commented on #48127
@deyanp They are both the same. The first example is in-line and the second is extended to show each column definition per line. Please let me know if you have any additional questions, as I am going to  close this thread but, if there are further questions regarding this matter please comment and I will gladly continue the discussion.

[2020-02-19 20:59] GiftA-MSFT commented on #48442
@MikeCodesDotNET we will review your feedback and get back to you shortly. Thanks.

[2020-02-19 21:02] Karishma-Tiwari-MSFT commented on #48456
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-19 21:03] normesta commented on #46913
@Robot1que thank you! Yes I tested this out with both PowerShell and CLI and it looks like neither one of them completely add both text/html and the UTF encoding. Storage Explorer uses AzCopy behind the scenes and the AzCopy command that it uses has an auto detect feature that automatically adds the text/html and UTF encoding. I updated both the CLI and PowerShell examples to include your suggesti

[2020-02-19 21:03] Mike-Ubezzi-MSFT commented on #48145
@RaymondILei Do you have an [Azure Support Plan](https://azure.microsoft.com/en-us/support/plans/)? If you do please create a support request for this issue. If you do not, can you please send me your Azure Subscription GUID to [AzCommunity](mailto:azcommunity@Microsoft.com), and I will return next steps to engage support.

[2020-02-19 21:03] normesta commented on #46913
#please-close

[2020-02-19 21:03] #46913 closed

[2020-02-19 21:03] Tam66662 commented on #5417
It has been two years, and still no proper documentation on "createOptions" anywhere on the internet?  I really wish this would get more attention.

[2020-02-19 21:04] Karishma-Tiwari-MSFT commented on #48470
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-19 21:04] RyanHill-MSFT commented on #47611
Hi @m-andersen I've spoken with the product team. Since Sign-in with Apple is OpenID Connect compliant, the team is currently working on this integration. It's currently in private preview but I can pass along preliminary documentation and place you in touch with the team as they gain better understanding from customers using this feature.

Email me at AzCommunity[at]microsoft[dot]com ATTN: Ryan.

[2020-02-19 21:06] Karishma-Tiwari-MSFT commented on #48486
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-19 21:07] SaurabhSharma-MSFT commented on #48366
@dotnetgator sorry for the confusion and thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-02-19 21:09] MGoedtel commented on #47776
Closing this issue as it is unrelated to the article. If you encounter any doc issues, please feel free to open a new GitHub issue.  #please-close

[2020-02-19 21:09] #47776 closed

[2020-02-19 21:10] yoelhor commented on #48366
Dear @dotnetgator The meatdata you should set in the **self-Asseertd** technical profile is `LookupNotFound`. I'll fix the document tomorrow.

[code]

[2020-02-19 21:21] ARambazamba commented on #47892
Thx for reviewing & @lisaguthrie‘s statement about hight volume traffic

[2020-02-19 21:21] #47892 closed

[2020-02-19 21:21] Mike-Ubezzi-MSFT commented on #48145
We will now proceed to close this thread, as there is no direct doc fix to be applied and Azure Support is the best channel to address this issue. If there are further questions regarding this matter, please comment and we will gladly continue the discussion. Please send me your Subscription GUID if you do not have a support plan, so this issue can be investigated by support.

[2020-02-19 21:21] #48145 closed

[2020-02-19 21:24] eyediatech opened #48500 "Map is not getting rendered with different coordinates"
Hi,

I tried with different cordinates and I could draw the polygon, but map is not getting rendered. Any idea?
See this:
![image](https://user-images.githubusercontent.com/59620682/74877891-3755dc00-5334-11ea-9698-18fd13813a60.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4dbd1c7c-f712-ae16-529c-645da8646f2a
* V

[2020-02-19 21:27] TiloGit opened #48501 "Please add powershell/CLI option to get/set this setting"
How can this be set /viewed via CLI? Powershell or other?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cfac0ecf-e5a9-c5ff-f8c2-ce27789708f5
* Version Independent ID: 0f5e0cc9-a54f-a5c8-192d-d60a6a4db3ff
* Content: [Azure Active Directory security defaults](https://docs.microsoft.com/en-us/azure/active-directory/funda

[2020-02-19 21:30] agowdamsft commented on #40513
Make sure to run this (more details from here https://docs.microsoft.com/en-us/azure/aks/configure-azure-cni
[code]
 and copy the full output from this command and pass it to
[code]

[2020-02-19 21:31] arcotek-ltd commented on #48296
Hi,
Thanks. I know, but your documentation seems to stop at this point. Depending on which of the above you choose there are then further dialogues with various options that would help if they were given an explanation.

TIA.

[2020-02-19 21:35] Karishma-Tiwari-MSFT commented on #47738
We will now close this issue as we have the support case open. It would be helpful for other users if you share the solution to your issue once you have it resolved.

[2020-02-19 21:35] #47738 closed

[2020-02-19 21:38] engkemo2002 commented on #48262
as per this document (last update : 18/02) this is not possible and even listed within the current known limitations of AzureFirewall : "Azure Firewall SNAT/DNAT doesn't work for private IP destinations". I'm currently trying to set this up for a hybridation trafic with On-premise, and getting always error message stating that I could only use the public IP for SNAT. would be great if somebody get

[2020-02-19 21:41] deyanp commented on #48127
The 2nd example wraps path in Properties, 1st one not, but nevermind ...

[2020-02-19 21:41] JasSuri commented on #48464
You must send some identifier to tie the SMS to a user. The UPN does not expose any personally identifiable information thus is a good candidate.

[2020-02-19 21:42] normesta commented on #42634
Thanks @AGBrown ! Sorry - the $logs container is not integrated with Event Grid. I've added a not to that article to clarify that. That change should appear live shortly. Thanks for raising the issue.

[2020-02-19 21:42] normesta commented on #42634
#please-close

[2020-02-19 21:42] #42634 closed

[2020-02-19 21:50] rjnair commented on #43139
Hi @sandip-raiyani - turns out I needed to place the hotfix into a different location than what was specified in the Github documentation. However, after implementing the hotfix and copying/running the query I get from TSI Preview, I see a delay of exactly 12 hours on Power BI. Changing the "isSearchSpanRelative" field from "true" to "false" gives more recent data, but disables updating for the ti

[2020-02-19 21:52] CHDAFNI-MSFT opened #48503 "Re-organize / Update - Linux with MABS is supported"
1. This article under 'Support for Linux backup' https://docs.microsoft.com/en-us/azure/backup/backup-support-matrix-iaas#support-for-linux-backup - states that MABS is unsupported for Linux. However the 'Azure Backup support matrix' page https://docs.microsoft.com/en-us/azure/backup/backup-support-matrix#linux-backup-support - explicitly calls out MABS support for Linux including specific MABS fe

[2020-02-19 21:54] Thorium commented on #48441
F#? VB.NET? ...

[2020-02-19 22:02] rido-min opened #48504 "Central does not have Custom Application/Preview template"
This page mentions:

&gt;Sign in to the IoT Central application you created using the **Custom app &gt; Preview application** template

But there is no such option anymore, I only see "Custom app" and "Custom app (Legacy)".

I choose "Custom app", but looks like PnP is not enabled on the underlying hub.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-02-19 22:12] Karishma-Tiwari-MSFT commented on #47961
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-02-19 22:12] #47961 closed

[2020-02-19 22:18] aaronclare3 opened #48505 "Typo in bullet points under English Analyzers Section"
"This means it can handle inflected and irregular word forms much better what results in more relevant search results"

I believe it should be "This means it can handle inflected and irregular word forms much better which results in more relevant search results."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13cff2b3-

[2020-02-19 22:19] FrankHu-MSFT commented on #48488
@kungfugeek Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-19 22:19] FrankHu-MSFT commented on #48493
@WiseOldHowell Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-19 22:19] FrankHu-MSFT commented on #48501
@TiloGit Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-19 22:20] MashaMSFT commented on #44338
Hi @CalvinG-MSFT , thanks for bringing this to our attention! We are tracking this internally ([1679108](https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1679108)). I am going to close this Git Issue for the time being but please feel free to comment should you need anything further in the meantime.

Thanks!
Masha from the SQL Docs team
#please-close

[2020-02-19 22:20] #44338 closed

[2020-02-19 22:21] anavinahar commented on #13201
This is in our backlog, thanks for your patience.

[2020-02-19 22:24] Karishma-Tiwari-MSFT commented on #48243
I saw that you have support case open for your question. I would let the support engineer continue with the backend investigation on your follow up questions.

Posting the answer for other customers, who may have the same question:
In general for scale in / out operations like adding and deleting the node you will not observe the downtime. You have to make sure you have the minimum nodes / VM requ

[2020-02-19 22:25] Karishma-Tiwari-MSFT commented on #48243
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-02-19 22:25] #48243 closed

[2020-02-19 22:28] mschrisran opened #48506 "safelist URLs include "customer" and external endpoints"
Some of these wildcards include customer purchased endpoints, like *.trafficmanager.net. This is a security risk to enable access to these wildcard domains, given that it could include resources outside of a customers or Microsoft's control.
More specific URLs should be listed, or Microsoft managed endpoints should be moved to another namespace separate from customers.

---
#### Document Details

[2020-02-19 22:31] nameier opened #48507 "VMDK conversion instructions"
VMDK conversion instructions are pointing to the Virtual Machine Converter, while this product's page states that it has been retired since June of 2017.  If I go to the download link, I see published date of the Converter is stating that it was published in 2020.

Is this product still getting updated?  If so, can articles and pages be changed so that customers do not get confused when clicking o

[2020-02-19 22:35] KranthiPakala-MSFT commented on #48441
@Thorium Thanks for clarifying the ask. I have checked with internal team and they confirmed that according to recent released Azure.Messaging.EventHubs packages, these include a netstandard2.0 target. Any .NET language that can consume a netstandard2 library and interact with CLR types should just work fine.

If there are specific scenarios that you run into where that doesn’t hold, please open a

[2020-02-19 22:46] MarileeTurscak-MSFT commented on #48197
As I understand, the license server needs to be added to the domain. https://techcommunity.microsoft.com/t5/ask-the-performance-team/rd-licensing-configuration-on-windows-server-2012/ba-p/375383

I do not believe there is a workaround for this outside of adding a domain, though you can create a request in user voice. https://feedback.azure.com/

@MicrosoftGuyJFlo for confirmation

If you have furt

[2020-02-19 22:46] #48197 closed

[2020-02-19 22:48] Mike-Ubezzi-MSFT commented on #48127
@deyanp I see what you are referring to. I have assigned this to the content team to evaluate and update as a doc-enhancement.

[2020-02-19 22:49] TravisCragg-MSFT commented on #48459
@artisticcheese Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-02-19 22:52] t-l-k commented on #30741
Nice work, will have to bear this library in mind. To get our automated test coverage on our durable functions, we followed what the Azure Functions team does to test Azure Functions, and spun up the .NET core TestServer loading in the WebJobs SDK and Script host run times. Proper integration level testing. It works, and quite well, but its quite a bit of test harness. Plus the test cases have to

[2020-02-19 22:56] Karishma-Tiwari-MSFT commented on #48274
Can you please take a look at this thread and let me know if it helps: https://stackoverflow.com/questions/52385397/can-i-use-variables-in-the-terraform-main-tf-file

[2020-02-19 22:59] MikeDodaro commented on #48476
@everythingeverywhere  Does anything need to be changed in the documentation?

[2020-02-19 23:03] Mike-Ubezzi-MSFT commented on #48467
@fgheysels Thank you for bringing this scenario to our attention. Have you seen the following document: [How to roll X.509 device certificates](https://docs.microsoft.com/en-us/azure/iot-dps/how-to-roll-certificates) which discusses certificate management.
There is also X.509 device management for DPS: [Quickstart: Enroll X.509 devices to the Device Provisioning Service using Java](https://docs.mi

[2020-02-19 23:03] normesta commented on #47179
Thanks for the inquiry @michaelhambe. I've updated the doc with an example and that change should appear live by tomorrow.  BTW - the ref for these commands are now appearing. For some time, the preview ref was not available. The specific command ref topic is here - [https://docs.microsoft.com/en-us/cli/azure/ext/storage-preview/storage/blob/directory/access?view=azure-cli-latest#ext-storage-previ

[2020-02-19 23:03] normesta commented on #47179
#please-close

[2020-02-19 23:03] #47179 closed

[2020-02-19 23:03] darzu opened #48509 "In "Tutorial: Build and run a custom image - Azure App Service" step "Change web app and redeploy" does not update the webapp"
For his step: Change web app and redeploy

The instructions are not sufficient to update the webapp. I re-ran "docker build" "docker tag" and "docker push" exactly as described (I also tried again with incrementing the version) and the website did not update after 10 minutes.

I had to run the "az webapp create" step again and now the website works. But this seems wrong, I want to update the exist

[2020-02-19 23:06] Mike-Ubezzi-MSFT commented on #48472
Closing issue.

[2020-02-19 23:06] #48472 closed

[2020-02-19 23:08] normesta commented on #47453
Thanks for raising the issue @rrg92. Yes the algorithm for transfer order is intentionally kept out of the doc because this is something that is very subject to change. As it stands currently, the order of file transfer is random.  Source and destination are compared for files that need to be moved. As those files are found, AzCopy batches the work up into units of 10,000 files at a time, then ran

[2020-02-19 23:08] normesta commented on #47453
Thanks again for sharing your question!

[2020-02-19 23:08] normesta commented on #47453
#please-close

[2020-02-19 23:08] #47453 closed

[2020-02-19 23:10] normesta commented on #47714
#please-close

[2020-02-19 23:10] #47714 closed

[2020-02-19 23:10] isagrwl opened #48511 "Getting error : Error registering device for DPS : Resolved after performing few additional steps in IoT central Application which seem to be currently missing in the document"
Although the document specifies : "Complete the Create an Azure IoT Central application quickstart to create an IoT Central application using the Custom app &gt; Custom application template." ,
it is not evident if we need to go to the next step of creating a 'simulated device' or not.
I initially only created an application and did not add 'simulated device'. After this I was getting error specif

[2020-02-19 23:18] YSZhuoyang opened #48513 "Is it appropriate to use thumbprint to validate SSL certificate?"
Thumbprint is often generated with SHA-1 hash algorithm which is weak, and thus not recommended for validating the SSL certificate. Is it better to use CA validation in given examples instead? At least this document should point that out.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb440603-950a-c224-f6c9-222ca502d5

[2020-02-19 23:20] Thorium commented on #48441
Great! Now the only thing needed is to update this documentation page. :-)

[2020-02-19 23:20] Mike-Ubezzi-MSFT commented on #48475
@Alberto2K Thank you for bringing this to our attention. Can you provide the specific Azure CLI command you experienced this issue with? This would be helpful. In the following section of the document: [Create an IoT Edge device with the Azure CLI](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-register-device#create-an-iot-edge-device-with-the-azure-cli) the specific example is shown as:

[2020-02-19 23:23] ztasre commented on #47908
I ran get-credentials right after I initialized the cluster through the Azure dashboard. I didn't *create* any bindings myself that would be related to the cluster dashboard. I attempted to modify the rolebinding related to the dashboard manually but couldn't.

I took a look at #46893 but I don't think it's relevant in this case, I don't get any stack traces dumped when I run the commands. Just to

[2020-02-19 23:29] Mike-Ubezzi-MSFT commented on #48498
@eyediatech Thank you for bringing this to our attention. Agree that there should be some instruction on updating the `var url` value with a valid token, as a generic (shared) token cannot be used. I will have the content team evaluate and update this as appropriate.

![Screenshot (697)](https://user-images.githubusercontent.com/37126106/74886185-52bce900-532c-11ea-8f43-ff263b80b137.png)

[2020-02-19 23:32] YutongTie-MSFT commented on #48196
@fedsp Hi, thanks for reaching out to us, for now this service only available to west us region. I would highly recommend you to post your idea to User Voice channel - https://cognitive.uservoice.com/ The engineering group is actively reviewing the feedback there.
Since this is not a document feedback, we will now proceed to close this thread. If there are further questions regarding this matter,

[2020-02-19 23:32] #48196 closed

[2020-02-19 23:33] Mike-Ubezzi-MSFT commented on #5417
@Tam66662 Thank you for bringing this to our attention. Can you please open a new issue for this and I will link this issue with the new, and have the content team evaluate this. Thank you!

[2020-02-19 23:35] Mike-Ubezzi-MSFT commented on #48419
This is a test. Closing issue.

[2020-02-19 23:35] #48419 closed

[2020-02-19 23:36] Mike-Ubezzi-MSFT commented on #48412
Closing issue, as this is only a test.

[2020-02-19 23:36] #48412 closed

[2020-02-19 23:36] Mike-Ubezzi-MSFT commented on #48413
Closing issue, as this is only a test.

[2020-02-19 23:36] #48413 closed

[2020-02-19 23:37] Mike-Ubezzi-MSFT commented on #48417
Closing issue, as this is only a test.

[2020-02-19 23:37] #48417 closed

[2020-02-19 23:38] Mike-Ubezzi-MSFT commented on #48479
Closing issue, as this is only a test.

[2020-02-19 23:38] #48479 closed

[2020-02-19 23:38] Mike-Ubezzi-MSFT commented on #48481
Closing issue, as this is only a test.

[2020-02-19 23:38] #48481 closed

[2020-02-19 23:43] TomArcherMsft commented on #46954
@onkarthg As that is a general question about Ansible, I suggest contacting Ansible support.

One such path might be their "community page": https://www.ansible.com/community

I'm going to close this issue as I'm able to both reproduce the error you indicated in the original post and then get the steps to work with the corrected JSON. If you have any further problems, please let us know and we'll

[2020-02-19 23:43] #46954 closed

[2020-02-19 23:43] MarileeTurscak-MSFT commented on #48463
On an [old thread ](https://social.technet.microsoft.com/Forums/Lync/en-US/c24a615a-a388-44d3-aa99-b940eedb12d8/rdp-on-androidios-issues-error-0x3000008-we-couldnt-connect-to-the-gateway-because-of-an-error?forum=winRDc)I saw this:

"The problem comes from the fact that the RDP client (MAC, iOS, Android...etc) uses absolute URI in the SSL tunnel. WAP server supports only relative URI.

Absolute UR

[2020-02-19 23:43] #48463 closed

[2020-02-19 23:51] TravisCragg-MSFT commented on #48390
@fxredeyes This option can be set on either side of the peering, make sure this option is disabled on both ends.

Also, if your NVA is performing NAT on the packets, the peering will see it as coming from the hub VNET.

If you have disabled this option and are not NATing the traffic, but are still seeing the traffic flow through the NVA, your best bet is to speak with Azure Support.

[2020-02-19 23:52] MarileeTurscak-MSFT commented on #48415
Thanks! I made a pull request to add a note about this. Feel free to make your own PR if you feel that more should be added or that it isn't explained fully. https://github.com/MicrosoftDocs/azure-docs-pr/pull/104936

@bmitchell287

[2020-02-19 23:52] #48415 closed

[2020-02-20 00:01] TravisCragg-MSFT commented on #48130
@a-hackw all 3 pages now explicitly list the Standard_v2 and WAF_v2 SKUs.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-20 00:01] #48130 closed

[2020-02-20 00:10] mamccrea commented on #47405
Thanks, @algattik. The cluster owner is the user that created the cluster. The owner can assign permissions to others: https://docs.microsoft.com/azure/databricks/administration-guide/access-control/cluster-acl#types-of-permissions

We're updating the article to make that more clear.

[2020-02-20 00:10] sanjaydatasciencedojo commented on #47446
@lyrana Can I close this one if it is not possible to resolve this issue?

[2020-02-20 00:10] Karishma-Tiwari-MSFT commented on #48275
I have created a PR with the update, changes will be live shortly.
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-02-20 00:10] #48275 closed

[2020-02-20 00:14] KranthiPakala-MSFT commented on #48484
@chriskim0101 Thank you for reaching out and bringing this to our notice. At this time we are reviewing the ask and will provide an update as appropriate

[2020-02-20 00:15] michael-freidgeim-webjet opened #48516 ""Publish website" button is not easy to discover"
Ideally the site menu icons should be visible at TEXT, and in particular Save and Publish should be visible (not hidden by icons).
Alternatively documentation steps should be more detailed to identify it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54c705a3-b106-e0dd-8f50-a74c3752ab40
* Version Independent ID: 748e5

[2020-02-20 00:16] Karishma-Tiwari-MSFT commented on #48496
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-02-20 00:24] Karishma-Tiwari-MSFT commented on #48456
Right now, you can rerun the

az container create command with the same --resource-group, --image, --name and adding the new parameters "--log-analytics-workspace" and "--log-analytics-workspace-key".

Note that this will force a recreate of your container, a fresh container pull and start command will be executed.

There isn't right now any way to update an already created container instance.

re

[2020-02-20 00:54] MarileeTurscak-MSFT commented on #48433
@MikeCodesDotNET thanks! Fixing this now.

[2020-02-20 00:56] twooley commented on #24214
Closing this old issue as it's no longer associated with the "live" topic. A note was added/updated back in June of 2019 in response to this issue. Thanks for pointing this out.

#please-close

[2020-02-20 00:56] #24214 closed

[2020-02-20 00:59] MarileeTurscak-MSFT commented on #48433
Thanks! I made a pull request to fix this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/104949

CC: @tchristiani

[2020-02-20 00:59] #48433 closed

[2020-02-20 01:11] MarileeTurscak-MSFT commented on #48265
Hi @TiloGit , the instructions say to click every app presented.

So per my understanding you would just select everything that appears in that dropdown.

![image](https://user-images.githubusercontent.com/13383753/74891090-cfef5a80-533a-11ea-8527-5ce2591cd624.png)

Hope this helps!

[2020-02-20 01:11] #48265 closed

[2020-02-20 01:15] MarileeTurscak-MSFT commented on #48460
Hi @SylvainUsitab ,

No updates as of yet. The best place to make a request for this is in User Voice (https://feedback.azure.com).

You can also keep track of this page, as well as the "what's new" product pages.

CCing the owners of this doc for awareness of your request. @mmacy and @jmprieur

[2020-02-20 01:15] #48460 closed

[2020-02-20 01:22] steamwings opened #48518 "function.json "is generated automatically"?"
Am I correct that with bindings like CosmosDB you need to specify some values in `function.json` manually? In that case, `function.json` cannot be generated automatically regardless of language.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7aff040c-9c09-c184-d0e7-fb3bbb80ceec
* Version Independent ID: 68d924e7-7b32-f

[2020-02-20 01:29] frehnejc opened #48519 "Agentless migration architecture"
Can we please have an agentless migration architecture also, Cyber Security in large enterprises will need to know specific details.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b41c6ac-c678-55ac-eda3-ddbbc68339a3
* Version Independent ID: 25255e0f-d97b-0268-68c1-f34c10446c9f
* Content: [Agent-based migration in Azu

[2020-02-20 01:31] MarileeTurscak-MSFT commented on #48478
@krispenner can you please provide a screenshot for this? Does the role include a description?

[2020-02-20 01:32] MarileeTurscak-MSFT commented on #48478
I'm assigning this to the author to update.

[2020-02-20 01:40] johanburati commented on #30997
A lot of people are waiting for this feature.
It would be better to keep this issue open until the feature is available.

[2020-02-20 01:44] dhirajgandhi commented on #48469
Any role allows the user to link the partner ID.  The partner recognition depends on the role. Example - CSP Partner Earned Credits are not allowed for reader role.

[2020-02-20 01:44] j-martens commented on #48430
This was solved. Thanks for letting us know. #please-close

[2020-02-20 01:44] #48430 closed

[2020-02-20 01:51] KalyanChanumolu-MSFT commented on #48392
@kapilrajyaguru Thank you for letting us know. We will proceed to close this issue now.

[2020-02-20 01:51] #48392 closed

[2020-02-20 01:57] masnider commented on #48499
@peterpogorski is this one of the templates we're keeping around?

[2020-02-20 01:57] lyrana commented on #47446
@sanjaydatasciencedojo The nudge on this thread was 100% warranted, thank you for having been so patient. Regarding one hour--it depends. Let's look into your specifics to get a better estimate, there are a few data points that we'll need.
There are three costs to calculate--your cold storage cost, warm storage cost, and query cost.

1. During that hour, how much data do you plan on ingesting? Azu

[2020-02-20 02:01] sanjaydatasciencedojo commented on #47446
@lyrana Thank you for your help. I just want to run it for one hour and delete all the resources associated with it. I do not need to save any data.

[2020-02-20 02:07] KalyanChanumolu-MSFT commented on #48007
@waynerobinson This is being assigned to the content author to provide more details and update the documentation as appropriate.

[2020-02-20 02:08] lyrana commented on #47446
@sanjaydatasciencedojo ah okay, and how much data would you ingest during that hour?

[2020-02-20 02:10] sanjaydatasciencedojo commented on #47446
@lyrana Let's say 5 GB during that hour.

[2020-02-20 02:15] BryanTrach-MSFT commented on #48434
@MikeCodesDotNET Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-20 02:27] BryanTrach-MSFT commented on #48436
@MikeCodesDotNET Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-20 02:33] DixitArora-MSFT commented on #48487
@brandonh-msft Could you elaborate more on this. What all parameters you are referring and could you provide the specific piece of documentation that your feedback is applicable to.

[2020-02-20 02:33] adrwh commented on #35061
My understanding is that this connector DOES NOT work for Windows Server 2012, it only works for Server 2012 R2.  Please confirm.

[2020-02-20 02:33] festivus opened #48521 "Remote Debugging Fails"
When I try to turn on remote debugging I get a "The remote server returned an error: (403) Forbidden" when it tries to configure the scaleset. I'm running VS 2019 in admin mode. The scale sets are 2019-Datacenter-Core-with-Containers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e8adfa1c-0bb9-c112-3463-0d655a3e7cd1
*

[2020-02-20 02:33] nishantsny opened #48522 "Setting RunOnStartup to true does not work as expected locally"
Here is my function:
[code]

It does not execute at startup when ran locally from the Visual Studio instance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5527c3b-a5da-c73d-66c2-20d96003ff7c
* Version Independent ID: 42154c7b-b0e0-26db-79bc-3f1673c48e40
* Content: [Timer trigger for Azure Functions](https://docs.mic

[2020-02-20 02:34] KrishnaG-MSFT commented on #48469
@dhirajgandhi Thanks for the quick response. :+1:

[2020-02-20 02:39] KrishnaG-MSFT commented on #48503
@CHDAFNI-MSFT Thanks for the feedback.
Assigning content owner @dcurwin for visibility, review and document enhancement consideration if appropriate.

[2020-02-20 02:42] DixitArora-MSFT commented on #48431
@josefblaha By default the fileLoggingMode is set to debugOnly. Which means its helpful **only** when the **function is published in Azure**. If you want to see diagnostic logs for your function when running locally, you need to set it to always.

[2020-02-20 02:42] nelroosevelt opened #48523 "Virtual network gateway type VPN and Not Expressroutes"
After you configure the ASE subnet to ignore all BGP routes, your apps will no longer be able to reach on premises. To enable your apps to access resources on-premises, edit the UDR assigned to your ASE subnet and add routes for your on premises address ranges. The Next hop type should be set to Virtual network gateway **for virtual network gateway type **VPN**

You cannot specify a virtual networ

[2020-02-20 02:43] KrishnaG-MSFT commented on #48426
@asudbring Thanks for the quick response. :+1:

[2020-02-20 02:46] Alberto2K commented on #48475
First, I was doing the Lab 11 from the following link: https://microsoftlearning.github.io/AZ-220-Microsoft-Azure-IoT-Developer/

In this Lab 11 Exercise 3 (https://microsoftlearning.github.io/AZ-220-Microsoft-Azure-IoT-Developer/Instructions/Labs/LAB_AK_11-introduction-to-azure-iot-edge.html#exercise-3-create-iot-edge-device-identity-in-iot-hub-using-azure-cli ), I need to pass the following comm

[2020-02-20 03:01] DixitArora-MSFT commented on #48399
@1TheMuffinMan As part of ASP.NET Core 3.0 performance improvements, the extensibility of DefaultHttpContext was removed. The class is now sealed. For more information, see [dotnet/aspnetcore#6504](https://github.com/dotnet/aspnetcore/pull/6504).

If your unit tests use Mock<DefaultHttpContext>, use Mock<HttpContext> instead.

For discussion, see [dotnet/aspnetcore#6534](https://github.com/dotnet/

[2020-02-20 03:01] #48399 closed

[2020-02-20 03:09] DixitArora-MSFT commented on #48522
Hi @nishantsny Thanks for reaching out. We will review and update as appropriate.

[2020-02-20 03:10] DixitArora-MSFT commented on #48518
Hi @steamwings Thanks for reaching out. We will review and update as appropriate.

[2020-02-20 03:11] michaelhambe commented on #47179
thanks @normesta

[2020-02-20 03:12] DixitArora-MSFT commented on #48516
Hi @michael-freidgeim-webjet Thanks for your feedback. We will review and update as appropriate.

[2020-02-20 03:18] arcarley opened #48524 "This page contains poor policy recommendations"
Please note: When the NoAutoUpdate registry value is configured, the behavior is identical to AUOptions=1 (disabled). In the documentation on this page, the recommended configuration will not only prevent updates from installing automatically but will prevent any background update activity which includes scan/download/install.

If the desired behavior is for the update to automatically download bu

[2020-02-20 03:18] DixitArora-MSFT commented on #48342
@JoshFlory  Just checking if you have gone through these and see if it helps.

https://docs.microsoft.com/en-us/data-integration/gateway/service-gateway-restart

https://docs.microsoft.com/en-us/data-integration/gateway/service-gateway-onprem-faq

[2020-02-20 03:20] DixitArora-MSFT commented on #48341
@daledev-uk I have assigned this to content author for further review and update as appropriate.

[2020-02-20 03:37] CHDAFNI-MSFT opened #48525 "Throttled by or bypassed VM disk speed limits?"
Can the article please reflect if the disk bursting bypasses the VM size limitations of disk iops / throughput? The VM disk performance limits is seen with Premium SSD capable families

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e6dcff8-b7b3-68b3-2364-dffa15b28356
* Version Independent ID: 6401288f-c695-2d25-1198-0

[2020-02-20 03:42] steamwings commented on #48518
I was wrong. A `function.json` is being generated for my functions by specifying values in the attributes. I forgot I could add the application setting in Configuration in the Azure Portal (or I assume from the CLI). The docs are correct. :)

[2020-02-20 03:42] #48518 closed

[2020-02-20 04:06] coolhome commented on #14133
@gord888 Is that transport type actually supported in `Microsoft.ServiceBus.Messaging`? I know in the new SDK `Microsoft.Azure.ServiceBus` has this implemented and documented.

https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.servicebus.transporttype?view=azure-dotnet

[2020-02-20 04:12] Ayanmullick opened #48526 "How can one customize the timeout period?"
The session connection times out after ~10-15 mins. Is the timeout period customizable? How can one customize it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 227e2c2f-2305-38fc-16db-1f9a760e4caf
* Version Independent ID: fc6d1fd0-3918-1822-751d-92f17b78952b
* Content: [Execute commands in running container instance

[2020-02-20 04:20] DixitArora-MSFT commented on #48335
@estensen Seems like related to VSCode. Could you open the issue at https://github.com/microsoft/vscode/issues/. In this way you are able to make sure your feedback is addressed by the right team.

[2020-02-20 04:26] amanmcse commented on #48214
@dotnetgator We are checking this with our engineering team. We will update the thread once we have a confirmation on this.

[2020-02-20 04:28] RohitMungi-MSFT commented on #48414
@oo2316oo General (compact) [S1] is a new model architecture and is smaller than the current compact general model so can run on smaller devices. You can still export this in multiple formats, it is just not compatible with the Vision AI Dev Kit, so you don't have to select this option up front, you will select it when you go to export after the model is trained.

Products on shelves is a new doma

[2020-02-20 04:32] Ayanmullick opened #48527 "What files can be loaded from blob? Can Markdown be loaded too?"
One can only load files with `.txt` , `HTML` etc like file extensions from Azure blob onto a browser. Is there a list of filetypes supported for browser loading from blob storage? Can one configure a storage account to, similarly, load Markdown files too like Github can load `.md` files like below?

https://raw.githubusercontent.com/PowerShell/PowerShell/master/README.md

---
#### Document Details

[2020-02-20 04:36] srinikris commented on #26076
Do the following
1) Create and empty folder and put the notebook files in that folder
2) Open a conda 3 window
    Your will see something link this        " (base) C:\Users\abc>"
     run the command "conda activate myenv " assuming you have followed the instructions and
     installed conda as per the help documentation.
3) cd to the directory created in (1) above. You should have just the noteb

[2020-02-20 04:39] nguyenbao1502 commented on #23408
I have the same problem, I read this document but i don't know how to fix my problem. Please help me?

[2020-02-20 04:42] genggengyuhuai opened #48528 "Table of commonly used Windows images should change SKU"
https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/virtual-machines/windows/cli-ps-findimage.md

in this page,  "Table of commonly used Windows images " include "MicrosoftSharePoint | MicrosoftSharePointServer | 2019"   , should change the SKU from "2019" to "sp2019".

you can check it by the command
"Get-AzVMImageSku -Location "East Us" -PublisherName MicrosoftSharePoint -Offer Micr

[2020-02-20 04:42] breaktbotz commented on #41969
Seeing the same exact issue as @Plasma

`azcopy copy 'https://asdf.blob.core.windows.net/asdf/filename.xlsx' '/asdf/filename.xlsx'`

I tried the same command with `--recursive` at the end but it fails as expected with the following:
[code]

[2020-02-20 04:56] souravmishra-msft commented on #48418
@Tovli, Ideally there is no documentation that is available to read on this as of now. But you can think it in a way that when you assign permissions or roles on User MSI, that actually gets written to the SP object of that User MSI.

Once you create the User MSI using the Azure Portal, you can find them listed (refer to the screenshot):
![image](https://user-images.githubusercontent.com/54057592/

[2020-02-20 04:59] VikasPullagura-MSFT commented on #48525
@CHDAFNI-MSFT Thanks for the feedback! We are currently investigating and will get back on this.

[2020-02-20 05:00] kanandaraj opened #48529 "step 3a still valid ?"
unable to add redirect URI on the Azure AD app in the below format .

`msauth://code/<broker-redirect-uri-in-url-encoded-form>`

ex: msauth://code/x-msauth-mytestiosapp%3A%2F%2Fcom.myapp.mytestapp

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5fa01e51-ea82-ed6f-a61a-de647453b2d2
* Version Independent ID: 92a31d31-ee58

[2020-02-20 05:01] #48187 closed

[2020-02-20 05:02] VikasPullagura-MSFT commented on #48499
@peterpogorski Can you please confirm on this and add your comments.

[2020-02-20 05:02] jakaruna-MSFT commented on #48526
@Ayanmullick
[UserVoice](https://feedback.azure.com/forums/34192--general-feedback)

[2020-02-20 05:04] AjayKumar-MSFT commented on #48495
@schellem, Thanks for bringing this to our attention! We are taking a look into this and will get back to you soon.

[2020-02-20 05:05] AjayKumar-MSFT commented on #48509
@darzu, Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-02-20 05:06] AjayKumar-MSFT commented on #48513
@YSZhuoyang, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-02-20 05:09] VikasPullagura-MSFT commented on #48280
@adam-pursley Any update on the issue? Can you please share the error details as requested.

[2020-02-20 05:09] VikasPullagura-MSFT commented on #48285
@ticianaciminari Any update on the issue?

[2020-02-20 05:12] nelroosevelt opened #48530 "Linking to FAQ advertised default routes (0.0.0.0/0)"
If you have not advertised default routes (0.0.0.0/0) or Internet route prefixes through the BGP session, you can connect to the Internet from a virtual network linked to an ExpressRoute circuit.

https://docs.microsoft.com/en-us/azure/expressroute/expressroute-faqs#can-i-access-the-internet-from-my-virtual-networks-connected-to-expressroute-circuits
---
#### Document Details

⚠ *Do not edit this

[2020-02-20 05:13] luisenriquetorres commented on #47130
I'm facing this exact scenario setting up a Ghost container against persistent SQLite storage. While MySQL is an option, it is an option that carries an extra cost. For a small blog with a basic account, the MySQL cost can easily be double the processing cost... which is one of the sweetspots that SQLite is supposed to address. I think mountOptions, blob read/write, or some other option should be

[2020-02-20 05:15] amanmcse commented on #48299
@B4st13n The Azure DevOps application that you see under Enterprise applications blade is a Service Principal that corresponds to the Multi-Tenant app registered in Microsoft's tenant. This application is pre-configured with **OpenID Connect-based Sign-on** SSO mode, which is why SSO blade is not available for this application on the portal. You can see the reply urls registered on this applicatio

[2020-02-20 05:24] amanmcse commented on #48296
@arcotek-ltd Thanks for your feedback. I have assigned it to the author of the document to review and add details of the above options.

[2020-02-20 05:40] DixitArora-MSFT commented on #48311
@jikuja Just checking if you have gone through these and see if it helps.

[View logic app storage consumption](https://docs.microsoft.com/en-gb/azure/logic-apps/logic-apps-pricing?source=docs#view-logic-app-storage-consumption)

[View action input and output sizes](https://docs.microsoft.com/en-gb/azure/logic-apps/logic-apps-pricing?source=docs#view-action-input-and-output-sizes)

[2020-02-20 05:47] DixitArora-MSFT commented on #48260
@estensen It is already mentioned in the public docs : Because of [.NET Core limitations](https://github.com/Azure/azure-functions-host/issues/3414), support for F# script (.fsx) functions has been removed. Compiled F# functions (.fs) are still supported.

See [Changes in features and functionality after version 1.x](https://docs.microsoft.com/en-us/azure/azure-functions/functions-versions#changes

[2020-02-20 05:54] RohitMungi-MSFT commented on #48429
@MikeCodesDotNET The complete implementation of both the methods AnalyzeImageUrl and BatchReadFileUrl are available in this github [repo](https://github.com/Azure-Samples/cognitive-services-dotnet-sdk-samples/blob/master/documentation-samples/quickstarts/ComputerVision/Program.cs). The documentation page is displaying only a snippet of this code, It would be great if you can refer the repo to upda

[2020-02-20 05:56] RohitMungi-MSFT commented on #48427
@MikeCodesDotNET The implementation of this method can be referenced from the [program.cs](https://github.com/Azure-Samples/cognitive-services-dotnet-sdk-samples/blob/d3cd6c3c5fd27341a634c69b0ce1c7a302fd2cb3/documentation-samples/quickstarts/ComputerVision/Program.cs#L651) file in the github [repo](https://github.com/Azure-Samples/cognitive-services-dotnet-sdk-samples/blob/master/documentation-sam

[2020-02-20 06:03] AshokPeddakotla-MSFT commented on #48500
@eyediatech Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-20 06:04] AshokPeddakotla-MSFT commented on #48504
@rido-min Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-20 06:05] AshokPeddakotla-MSFT commented on #48511
@isagrwl Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-20 06:07] BharathNimmala-MSFT commented on #48506
@mschrisran  Thank you for sharing the feedback, we will further validate it and get back to you at the earliest. Thanks

[2020-02-20 06:10] rphoon opened #48531 "App Service metric File System Usage documentation and portal does not match"
The "File System Usage" metric mentions the unit being a percentage. However, the Azure portal shows the unit in Bytes.
Can the Azure portal be updated to show percentage as this makes more sense when setting up a metric alert.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2550993f-34f1-d963-3ee5-3dcebe2a64d7
* Versio

[2020-02-20 06:17] BharathNimmala-MSFT commented on #48060
@BrianLevenson Thank you for helping on this thread.

@ryantoll2 Thanks again for reaching out to us, requesting you to review the above information shared by @BrianLevenson and let us know if you have any queries.

At this point it appears that there's no further edits or updates needed for the documentation. We will go ahead and close this thread for now, however if you have any further queries

[2020-02-20 06:17] #48060 closed

[2020-02-20 06:17] jikuja commented on #48311
Most of the requests probably should go to product itself but documentation imo contains misleading information.

**View action input and output sizes:**

All inputs and outpus are shown as **zero size** without link to data for actions which are **inside** **loop contructions**. Therefore there is not usable data in the run details. User cannot go through all actions to count total sizes of input

[2020-02-20 06:20] DixitArora-MSFT commented on #48311
@kevinlam1 Any thoughts on this ?

[2020-02-20 06:20] ozzmaster opened #48532 "This does not work"
I created a pay as you go subscription and I got granted access to a client's active directory. When I try to move the client's resource group to my subscription, it says I don't have subscriptions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65b8cd29-3c9b-6afc-d4fb-256463776002
* Version Independent ID: d905e8f9-49

[2020-02-20 06:22] isagrwl opened #48533 "Prerequisites need to be redefined as Visual Studio may not be needed for Linux"
It appears that Visual Studio is needed for build to work in Windows. But for Linux, Visual Studio may not be needed.
Can you please verify the above statement and categorize prerequisites based on Windows and Linux. This will be helpful for a user who does not want to install Visual Studio.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2020-02-20 06:25] madhuraprasanna commented on #40694
@rastala where can I find the workaround documented? Also is there are plan of providing actual fix?

[2020-02-20 06:39] KrishnaG-MSFT commented on #48474
@langstonj Thanks for your comment! We will review and provide an update as appropriate.

[2020-02-20 06:40] orspod commented on #48127
@deyanp thank you for your feedback. The first example only performs ingestion mapping. The second example adds the event system properties mapping. It is only needed if you selected "Event system properties" in the "Data Connection" pane. Hope this is clear.

[2020-02-20 06:41] SnehaAgrawal-MSFT commented on #48523
@nelroosevelt Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-20 06:42] SnehaAgrawal-MSFT commented on #48530
@nelroosevelt Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-20 06:46] SnehaAgrawal-MSFT commented on #48505
@aaronclare3 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-20 06:48] KrishnaG-MSFT commented on #48519
@frehnejc Thanks for the feedback.
Assigning content owner @rayne-wiselman for visibility, review and document enhancement consideration if appropriate.

[2020-02-20 06:50] KrishnaG-MSFT commented on #48524
@arcarley Thanks for the feedback.
Assigning content owner @MGoedtel for visibility, review and document enhancement consideration if appropriate.

[2020-02-20 06:52] KrishnaG-MSFT commented on #48529
Hello @kanandaraj, Can you share the Azure document link / URL that you are referring to ?

[This](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions if any, etc.) so that's the reason for asking related Azure document l

[2020-02-20 06:54] dcbrown16 commented on #44870
@msrini-MSFT
It seems this document is incomplete then. Shouldn't it be creating two listeners? The redirect to the appGatewayHttpListener listener can't be created if you follow the doc in its current state. Please have that added to the doc.
#please-reopen

[2020-02-20 06:55] ChiragMishra-MSFT commented on #48155
@sfilipi Since we have not heard back from you, I will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-20 06:56] ggailey777 commented on #47586
We actually have a good [how to article about debugging PowerShell functions](https://docs.microsoft.com/azure/azure-functions/functions-debug-powershell-local). It's probably better to link to that article than try and cover this in the quickstart.

Sorry for the confusion.

[2020-02-20 07:01] PramodValavala-MSFT commented on #48451
@oatsoda The [functions runtime](https://github.com/Azure/azure-functions-host) already initializes application insights and uses the same for logging/metrics in its own code.

The idea here is to not re-initialize the same and instead use the existing services. If you require, your own `TelemetryClient` object, you should be able to create one from the injected `TelemetryConfiguration` as shown i

[2020-02-20 07:01] AshokPeddakotla-MSFT commented on #48504
@rido-min Custom Application is the Preview application. I will update the doc to reflect this change.
Also, PnP is enabled by default for the preview applications. You can see the option to add PnP devices under Device templates.

![image](https://user-images.githubusercontent.com/44426435/74908099-f1a01e80-53da-11ea-8c39-3eaf7bac8729.png)

Let me know if you need further help.

[2020-02-20 07:12] ramandeep-singh-1983 opened #48535 "Maximum reported properties size should be 32 KB"
[Enter feedback here]
Size: Maximum reported properties size is 8 KB.
As per https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-device-twins#device-twin-size, the size has now been increased to 32 KB each for reported as well as desired properties so please update the documentation on this page as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2020-02-20 07:13] ramandeep-singh-1983 opened #48536 "Maximum desired properties size should be 32 KB"
[Enter feedback here]
Size: Maximum desired properties size is 8 KB.
As per https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-device-twins#device-twin-size, the size has now been increased to 32 KB each for reported as well as desired properties so please update the documentation on this page as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2020-02-20 07:18] ChiragMishra-MSFT commented on #48232
@mamccrea Can you please take a look at this?

[2020-02-20 07:22] AshokPeddakotla-MSFT commented on #46942
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-02-20 07:25] deyanp commented on #48127
@orspod , @Mike-Ubezzi-MSFT , I have the feeling I am being actively discouraged to point out discrepancies in the docs. Compare the 2 lines below, each one extracted from the 2 mappings at the beginning of this thread, and tell me what is the difference (besides column names and json paths):

[code]

Then check [your own docs](https://docs.microsoft.com/en-us/azure/kusto/management/mappings) wher

[2020-02-20 07:29] AshokPeddakotla-MSFT commented on #48533
@isagrwl Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-20 07:30] AshokPeddakotla-MSFT commented on #48536
@ramandeep-singh-1983 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-20 07:35] orspod commented on #48127
@deyanp thanks for your feedback and for reaching out again with clarification on your question. I now understand your confusion. I am adding @kerend the dev on this feature to assist in responding to your question. We will also make sure to update the docs accordingly to prevent future issues.

[2020-02-20 07:39] sfilipi commented on #48155
@ChiragMishra-MSFT, I still need to get this working. I think the example video in the Azure Friday should not bypass the creation and provisioning of the service principal: users will need an example on what permissions to grant where; i think the issue should be closed when the example gets updated..

This is the error I am getting when testing the connection of the service principal I am trying

[2020-02-20 07:40] ChiragMishra-MSFT commented on #48155
@djpmsft Can you please take a look at this?

[2020-02-20 07:45] neeleshray-msft commented on #48319
@ValerianHeints We would be closing this thread now. Do let us know if you need further help on this.

[2020-02-20 07:45] #48319 closed

[2020-02-20 07:52] SnehaAgrawal-MSFT commented on #48241
@gpj1 Thanks for asking question! While you can’t get managed identities locally, the Microsoft.Azure.Services.AppAuthentication library can be used to provide an abstraction over MSI or other local identities.
You may refer to below link might be helpful:
https://docs.microsoft.com/en-us/azure/key-vault/service-to-service-authentication

[2020-02-20 07:53] Klaas- commented on #46036
The "File System Write ➜ 16KB Block, Data Volume 16GB, Overwrite ➜ ThroughputIO" Test is also green now, the recommendation of the stripesize should change:
https://github.com/MicrosoftDocs/azure-docs/blame/master/articles/virtual-machines/workloads/sap/hana-vm-operations-storage.md#L55
to 256 KB. Then it'll pass with ~103mb/s

[2020-02-20 07:58] neeleshray-msft commented on #48323
@narayankumargupta We cross checked on the steps and screenshots in the document. Which step/screenshot are you referring to be updated ?

[2020-02-20 08:02] Wladinho commented on #31140
So, what is the status of this issue? This option, blob to blob sync, is officially explained on the docs files.

https://docs.microsoft.com/en-us/azure/storage/common/storage-ref-azcopy-sync

azcopy sync "https://[account].blob.core.windows.net/[container]/[path/to/virtual/dir]?[SAS]" "https://[account].blob.core.windows.net/[container]/[path/to/virtual/dir]" --recursive=true

Is there anyone who

[2020-02-20 08:16] KrishnaG-MSFT commented on #48295
@Adebeer Thanks for the information. I have routed this internally to concerned team. However, please feel free to share an update if you have got any from support team so that it helps others who refer to this issue.

[2020-02-20 08:26] dcurwin commented on #48503
#assign:SujayJDesai

[2020-02-20 08:26] rich-davies opened #48537 "Contributors able to delete?"
What is the rationale for the Contributor RBAC role being able to delete a subscription.  Contributors can't assign permissions and it seems that deleting a subscription is an extreme form of revoking permissions.  What deny actions should be used in a new RBAC role to prevent this being possible?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2020-02-20 08:29] dcurwin commented on #48503
@SujayJDesai - can you respond to point 1 about Linux support?

@CHDAFNI-MSFT - I'm not sure I follow point 2. There is a [general support matrix for Azure Backup](https://docs.microsoft.com/en-us/azure/backup/backup-support-matrix, and then there are support matrix articles for individual services. Did you find conflicting information in them?

[2020-02-20 08:31] gogux commented on #45544
I was able to reproduce this issue by setting `AutoGenerateBindingRedirects = true` in the project file and targeting _netcoreapp3.1_. In my case,
the warnings I get are:

[code]

This is just creating a new console application and adding Microsoft.ApplicationInsights.AspNetCore version 2.13.0.

[2020-02-20 08:37] SujayJDesai commented on #48503
@CHDAFNI-MSFT in the second article also we clearly callout that backup of Linux VM on Hyper-V and VMware is supported but for Linux **Azure** VM we callout **File-consistent backup not available for Azure VMs.**

[2020-02-20 08:39] emmanuelg34 opened #48538 "Powershell activate registration not working"
Register-AzProviderFeature -ProviderNamespace Microsoft.Network

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bdb766d9-18ab-2998-d769-99e95ffd8ef8
* Version Independent ID: 467c1ece-0d09-14de-4bda-e3b56d99d546
* Content: [What is Azure Virtual Network NAT?](https://docs.microsoft.com/en-us/azure/virtual-network/nat-ov

[2020-02-20 08:41] OvervCW commented on #48437
@BryanTrach-MSFT Ah, there is no documentation covering this issue right now, so I'll move the issue to MSDN.

[2020-02-20 08:44] rits-development commented on #47803
@jasonnutter I'm currently only interested in finding a solution for my redirect setup, I'm not interested in the popup approach.

Please clarify your last statement

I currently have the following code in my index.html:

[code]

When logging in, I invoke the following:
[code]

I'm redirected to Azure AD and after providing my credentials, I'm redirected to
[code]

auth.html contains the following

[2020-02-20 08:48] Alex-str11 opened #48539 "az ad sp create and Conditional Access"
The command creates the SP without the tag WindowsAzureActiveDirectoryIntegratedApp, which makes it unavailable in Conditional Access.
After adding the tag with az ad sp update --id "objectID" --set tags=['WindowsAzureActiveDirectoryIntegratedApp'] the SP is visible in CA. This should be added to the steps since CA is a highly used feature.

---
#### Document Details

⚠ *Do not edit this section.

[2020-02-20 08:50] fgheysels commented on #48467
Hi @Mike-Ubezzi-MSFT , thanks for the response.

I've read the 'how to roll device certificates', but in that article certificates are rolled via DPS with x509 attestation.   I'm also using DPS but I'm using TPM attestation instead, so I do not know if we can roll certificates with DPS in that scenario as well.

(I'm using C# btw).

[2020-02-20 08:51] VikasPullagura-MSFT commented on #48507
@nameier Thanks for the feedback! We are currently investigating and will get back on this.

[2020-02-20 08:52] PHaastrup opened #48540 "Cannot setup from azure"
{
    "error": {
        "code": "MissingRegistrationForType",
        "message": "The subscription is not registered for the resource type 'servers/jobAgents'. Please check that the resource type exists and re-register for this provider in order to have access to this resource type."
    }
}

I cannot find this ressource type - please advise

---
#### Document Details

⚠ *Do not edit this section

[2020-02-20 08:54] #48437 closed

[2020-02-20 08:58] VikasPullagura-MSFT commented on #47461
@palma21 Can you please confirm on the possibility of LB deletion.

[2020-02-20 09:02] yinoa opened #48542 "It is better to specify detailed path of management service endpoints for access."
You can then access all the service endpoints from the virtual machine you created.

&lt;&lt;&lt; If you want to access mangament service endpoint, you need to specify the path of the website address.
https://contosointernalvnet.management.azure-api.net/apis?api-version=2018-06-01-preview

By detault, "https://contosointernalvnet.management.azure-api.net" is not accessable.

---
#### Document Deta

[2020-02-20 09:10] mgkoko commented on #47192
Hi,

new to Kubernetes and Azure Dev Space.

Followed exactly, but once I got to this stage

helm install bikesharingsampleapp . --dependency-update --namespace dev --atomic

and went to the Uris provided from azds list-uris, it just returned 404.

First I thought, maybe I just need to carry on, so I carry on with the "ingress to use HTTPS" section, but I am stuck at

helm upgrade bikesharing . --

[2020-02-20 09:15] SubhashVasarapu-MSFT commented on #47836
@alexfingercce , Appreciate your patience. We have assigned this issue to the content author for updating the doc accordingly.

[2020-02-20 09:18] euyuil opened #48543 "Maximum number of App Service Domains in a subscription"
Hello. Do we have a limit on the number of App Service Domains that a subscription can keep? Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9dc61ea4-6040-6143-c279-db71f9fda02a
* Version Independent ID: d45201fb-c603-b878-b7d2-191db4b589e5
* Content: [Buy a custom domain name - Azure App Service](https://doc

[2020-02-20 09:18] tom-ditlev opened #48544 "ISFRatio.csv is not being updated."
Today it it possible to buy Reserved Instances for the new AMD based compute in the West Europe region. This is the Standard_DXas_v4 and Standard_EXas_v4 SKUs (ArmSkuName).

However, these SKUs are not found in the CSV.

We are very dependant on this file always being up to date. Alternatively can you point me to a better source of truth on this?

---
#### Document Details

⚠ *Do not edit this sec

[2020-02-20 09:20] vijayraavi opened #48545 "Restrict Delete Secrets when Delete lock applied for KeyVault"
I'm able to delete Secrets even Delete lock applied at KeyVault.
Please fix this.

[2020-02-20 09:22] MikeCodesDotNET commented on #48427
@RohitMungi-MSFT I understand this, but we provide a 'Copy' button, which many users will be using as they step through the guided walk-through. For that reason, the snippets should surely be valid?

[2020-02-20 09:22] DanielWahlgren opened #48546 "Smartfilter and SecurityBaselines"
"Double-click the package to install it. If you see a SmartScreen popup, click More info, then Run anyway."
If you are using Intune and Security Defaults, supplied by Microsoft, this is not possible, even as admin on the device.
Please provide a way to install/configure this without getting stopped by SmartScreen.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2020-02-20 09:22] estensen commented on #48260
Yes, this is mentioned, but it would be great with actual examples with running code.

[2020-02-20 09:26] josefblaha commented on #48431
What does it mean "it's helpful"? I would like to understand what the setting really does.

[2020-02-20 09:28] MikeCodesDotNET commented on #48429
I'm working through our guides to ensure that customers have a great experience with our docs. Whilst I appreciate this is a minor issue if you know to download the entire source, it could be a blocker for someone following the guide as a step-by-step tutorial.

Perhaps there is a rationale to having invalid code snippets but I'm struggling to think of any.

[2020-02-20 09:30] AnjaniChallamcherla commented on #48315
Hi Krishna,

Below is the blog url:
https://docs.microsoft.com/en-us/azure/azure-functions/app-service-export-api-to-powerapps-and-flow#create-and-export-an-api-definition

[2020-02-20 09:35] SnehaAgrawal-MSFT commented on #48238
@gpj1 Since we did not hear from you. We will close this out but if you feel you need more information please just let us know.

[2020-02-20 09:35] #48238 closed

[2020-02-20 09:36] DavidTrigano commented on #48474
Hello @langstonj ,

Thanks for your comment!

If you configured auditing on the database-level, and you copied this database to another server, the audit configuration will be copied as well on the copied database.

Let us now in case you may have additional question.

Best,
D.

[2020-02-20 09:36] DanielWahlgren commented on #48546
Go to File -> Properties and Unblock the file there. That should allow you to install the configuration without SmartScreen interfering.

[2020-02-20 09:39] paragsangoi opened #48548 "How to attached file to REST API in Web Activity in Azure Data Factory"
Hi,

I want to send transformed data CSV file to REST API using Web Activity. I am able to send single records as part of the body however not sure who to send a file using web activity. API i am using does support sending file when i am trying it using PostMan.

Can you please provide appropriate reference or update the document whether scenario i mentioned is possible or not.

Thanks a lot in ad

[2020-02-20 09:44] MutedExclamation opened #48549 "Queues host.json reference no longer points to a valid examples resource"
A link in [`queues`](https://docs.microsoft.com/en-us/azure/azure-functions/functions-host-json#queues) section in [`host.json reference for Azure Functions 2.x and later`](https://docs.microsoft.com/en-us/azure/azure-functions/functions-host-json) article does not point to a resource which actually contains examples with queues host.json file.

---
#### Document Details

⚠ *Do not edit this secti

[2020-02-20 09:56] VikasPullagura-MSFT commented on #48539
@Alex-str11  Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-02-20 09:57] VikasPullagura-MSFT commented on #48539
@mlearned Can you please check this and add your comments on doc update request as applicable.

[2020-02-20 09:59] mike-urnun-msft commented on #48056
@kaerm I have gone through the steps and didn't run into issues. I have tested with `Version: 0.50.2` of the `azure-servicebus` package.

Since we haven't found any issues, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-02-20 09:59] #48056 closed

[2020-02-20 10:00] amanmcse commented on #46469
@cmgharris Could you please clarify below statement that you have posted in your initial comment:

What do you mean by "authenticate our users via SSO". Do you have federation setup?
In case of managed Office365 domain, users get authenticated directly via AAD and get JWT token. How are you getting SAML token?

[2020-02-20 10:00] VikasPullagura-MSFT commented on #48544
@tom-ditlev
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-02-20 10:01] VikasPullagura-MSFT commented on #48544
@cynthn @bandersmsft
Can you please check this request of updating the CSV file with the SKU's  and add your comments as applicable.

[2020-02-20 10:07] CHDAFNI-MSFT commented on #48503
@SujayJDesai this isn't a question on what is and isn't actually supported. It is that the article this pull request is for has conflicting information with what's depicted in the 2nd article. The context is for MABS. Not Azure VM with agent extension. See area in 2nd article titled "Using MABS to back up on-premises machine or Azure VM that's running Linux" which conflicts with 1st article sectio

[2020-02-20 10:07] MartinKosicky opened #48551 "Custom VNET"
would be nice to see how the terraform file looks when using custom virtual network. Because on the terraform page it says that the routing table on subnet must be configured. I have no idea what that means

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c22b6ec6-7a27-4029-ff8f-674a40c0e552
* Version Independent ID: bd2

[2020-02-20 10:09] dcurwin commented on #48503
Yes, please provide examples of either conflicting or redundant information. Thanks.

[2020-02-20 10:19] zaintofie commented on #27318
Hi

If I may reopen this discussion: we're currently evaluating AIS and I've developed a Java REST application using Eclipse as my development environment. The application is packaged as a WAR file and deployed on an Open Liberty runtime. I've implemented the logic such that a call to the REST service triggers a call an eventhub that I created using a free subscription; the namespace of the eventh

[2020-02-20 10:20] BHolthuijsen opened #48552 "SQL Query error"
There's a problem with the SQL query to identify the tables that are consuming the most space.

Instead of "SUM", it uses a.SUM(..) and b.Sum(..)

Correct query should be:
SELECT o.name,
SUM(p.row_count) AS 'Row Count',
SUM(p.reserved_page_count) * 8.0 / 1024 AS 'Table Size (MB)'
FROM sys.objects o
JOIN sys.dm_db_partition_stats p on p.object_id = o.object_id
GROUP BY o.name
ORDER BY [Table Size (

[2020-02-20 10:24] zaintofie commented on #27318
I think the NoClassDef error comes as a consequence of an earlier issue in my EventHub client code when the call is made; EventHub then tries "to do stuff" but doesn't find the classes it needs to report on the actual issue?

[2020-02-20 10:33] SadiqhAhmed-MSFT commented on #48532
@ozzmaster Thanks for the question. To me it appears to be a permission issue or tenant level restrictions.
Snippet from the link - https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/move-resource-group-and-subscription

- The account moving the resources must have at least the following permissions:

- **Microsoft.Resources/subscriptions/resourceGroups/moveResources/action**

[2020-02-20 10:50] shiva8869 opened #48553 "Private Endpoint with private ip"
I have created a Sql database server and I want to connect this sql server by the azure private link and after deployments i successfully login through the private link so, I want to know that can I connect my Sql database server through the Private IP of Endpoint?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbfc7cc

[2020-02-20 10:54] Sankaranis opened #48554 "Getting 401 Unauthorized error while accessing the powerapps cds."
I've generated the access token following link
https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-auth-code-flow.
But, using the access token I need to get power app CDS data.

CDS endpoint - https://orgbf224511.api.crm.dynamics.com/api/data/v9.1/cr189_projecttables

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-02-20 11:01] timmo001 commented on #48124
Both, but this was from testing an ODBC connection requesting data from the self-hosted server.

I don't know how this tool or servers work, but maybe they are redirecting to other servers if they error for one.

The link you provided, are these the IP ranges we should be whitelisting? Or these even, since those are outdated as of June 2020? https://www.microsoft.com/en-us/download/details.aspx?id

[2020-02-20 11:11] PavaraTharkana commented on #48304
azcopy copy 'https://<source-storage-account-name>.file.core.windows.net/?<SAS-token>' 'https://<destination-storage-account-name>.file.core.windows.net/?**<SAS-token>**' --recursive'

[2020-02-20 11:15] SnehaAgrawal-MSFT commented on #48495
@schellem Thanks for asking question! Could you please elaborate on what are the steps you are following and error getting to help you better on this.

[2020-02-20 11:18] PavaraTharkana commented on #48304
@SumanthMarigowda-MSFT the AzCopy command which was mentioned in the document for "Copy all containers, directories, and blobs to another storage account" part, I have to add the SAS Token to for the destination location as well. It did not mentioned in this part. I think above all the copy activities need to add that SAS Token for the destination as well. It does not enough just adding only the s

[2020-02-20 11:18] SnehaAgrawal-MSFT commented on #48543
@euyuil Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-20 11:22] SnehaAgrawal-MSFT commented on #48531
@rphoon Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-20 11:22] cmgharris commented on #46469
@amanmcse  I can't tell you much more than that we get a SAML token, not a JWT Token.
We authenticate by sending a request to https://login.microsoftonline.com/nnnnnnnn-nnnn-nnnn-nnnn-nnnnnnnnnnnn/wsfed.

[2020-02-20 11:31] janus-christensen opened #48555 "Error in code sample in Add a probe to an existing application gateway?"
Hello in the code sample provided in the section Add a probe to an existing application gateway (https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-create-probe-ps#add-a-probe-to-an-existing-application-gateway) the third line uses the variable $probe to add the code to the backend HTTP settings. No where in the code sample is the variable being set.

What is the correc

[2020-02-20 11:32] kerend commented on #48127
@deyanp, both formats are currently supported and working (though in the future we may support only the second one).
therefor, It is advisable to write new mappings in the new format (the second example which wraps path in Properties).

[2020-02-20 11:40] VaibhavVilasPandit commented on #47769
@solankisamir Thanks. I have noted your point regarding Storage account firewall with same Azure region.
Sure, will vote for this (y)

[2020-02-20 11:45] DHoogland commented on #35411
Here also in 1.15.7, haven't seen it in a while, and now its back :-|

[2020-02-20 11:47] nickplennox opened #48557 "Doc updates needed for iOS 13, xCode 11"
Some errors when running through the tutorial on a new iOS 13 project, Xcode 11:

In the section "Create an iOS Project:

On Step 13, the pasted function (showAlert) tries to call present on self.window, but since the implementation of the SceneDelegate, there is no longer a self.window in AppDelegate. I just got rid of showAlert from here, and the two places it's called from.

On Step 17, the pro

[2020-02-20 11:47] gimlichael opened #48558 "Viewing credentials is missing an argument"
When running az aks get-credentials -g myResourceGroup -n myAKSCluster, i receive the following error message:

az aks get-credentials: error: the following arguments are required: --name/-n
usage: az aks get-credentials [-h] [--verbose] [--debug]
                              [--output {json,jsonc,table,tsv,yaml,yamlc,none}]
                              [--query JMESPATH]

[2020-02-20 11:48] tharanga2006 opened #48559 "Hiding the password details when we execute spark-sql"
Hi Support,
I'm using a shell script to execute spark-sql
It look like this
spark-shell --num-executors 50 --master yarn --queue SVOC_ELT --jars /usr/hdp/current/hive_warehouse_connector/hive-warehouse-connector-assembly-1.0.0.3.1.5.0-152.jar --conf spark.security.credentials.hiveserver2.enabled=false --conf spark.sql.hive.hiveserver2.jdbc.url='**jdbc:hive2://xxxx:2181,yyy:2181,zzz:2181/;ssl=true;

[2020-02-20 11:49] gimlichael commented on #48558
My bad - I accidentally removed the space between <groupName>-n and <nameOfCluster.
Sorry.

[2020-02-20 11:49] #48558 closed

[2020-02-20 11:50] VikasPullagura-MSFT commented on #48558
@gimlichael Glad to know you figured out the issue.

[2020-02-20 11:53] crmhh opened #48560 "Repost: targetUpdatedProperties do not reflect old and new values"
Hi,
do you have any updates when the Updated Properties will be correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b651a95f-7c34-a979-f97e-e4feedb47487
* Version Independent ID: ff679d7a-0bc5-692f-8ef8-72e24d402f23
* Content: [Interpret the Azure Active Directory audit log schema in Azure Monitor](https://docs.mic

[2020-02-20 12:09] woutervanranst opened #48561 "Deprecated command"
in Azure Cloud Shell:

first command on this page:
az network application-gateway waf-config list-rule-sets --type OWASP

yields a warning:
This command is implicitly deprecated because command group 'network application-gateway waf-config' is deprecated and will be removed in a future release. Use 'network application-gateway waf-policy' instead.
[

---
#### Document Details

⚠ *Do not edit this

[2020-02-20 12:20] jakaruna-MSFT commented on #48521
@festivus
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-20 12:21] jakaruna-MSFT commented on #48527
@Ayanmullick
Thanks for the question! We are investigating and will update you shortly.

[2020-02-20 12:23] rayne-wiselman commented on #48140
@ceglez. Hi, I don't see any instructions on that page. Can you provide a little more detail? thx!

[2020-02-20 12:25] jakaruna-MSFT commented on #48528
@genggengyuhuai
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-20 12:38] ValerianHeints commented on #48319
Hello @neeleshray-msft,
thanks for the response and detailed description of the property: shouldn't the/your description be in the description in the docs?
Based on the current description "Do Not User", can the customer decide whether to activate the setting or not?

[2020-02-20 12:38] chadmcrowell opened #48563 "--overwrite-existing flag does not reset context"
the step "Interact with cluster resources using Azure AD identities" includes running the command `az aks get-credentials --resource-group myResourceGroup --name myAKSCluster --overwrite-existing` but this command does not reset the kubeconfig context. So, the following step to schedule a basic NGINX pod will succeed without prompting for credentials, then the current context user will still be ab

[2020-02-20 12:40] SubhashVasarapu-MSFT commented on #48555
@janus-christensen , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2020-02-20 12:40] SubhashVasarapu-MSFT commented on #48553
@shiva8869 , We are looking into this query and will update you as soon as possible.

[2020-02-20 12:44] SubhashVasarapu-MSFT commented on #48546
@DanielWahlgren , Thanks for providing the solution here, which will be helpful for the other community members. Are you still looking for some more help here or can we proceed to close the issue ?

[2020-02-20 12:45] SubhashVasarapu-MSFT commented on #48538
@emmanuelg34 , We are looking into this query and will update you as soon as possible.

[2020-02-20 12:47] DixitArora-MSFT commented on #48431
@cgillum Any thoughts on this ?

[2020-02-20 12:48] jakaruna-MSFT commented on #48526
@Ayanmullick  Api dont have a parameter to configure the timeout.
The api to execute the command, returns a web socket.

CLI connects to the web socket.  I dont think we can configure the timeout for that.

[2020-02-20 12:50] jakaruna-MSFT commented on #48169
@LauraBrenner please update the document as needed

[2020-02-20 12:57] DashleenBhandari-MSFT commented on #48398
@bobrundle , In .gitignore  we can add any file or directory which we do not want to be pushed.. So you can add that .env.prod also to it..

[2020-02-20 13:03] DanielWahlgren commented on #48546
You can go areas and close the case.
Thank you for responding so quickly!
/Daniel

Den tors 20 feb. 2020 13:44suvasara <notifications@github.com> skrev:

[2020-02-20 13:06] DashleenBhandari-MSFT commented on #48509
@darzu ,
    So, when we build and push the image to, let's say ACR/DockerHub, the WebApp does not know that the image which it's using has changed.
In order to "notify" the WebApp, we can use webhooks, which will send a HTTP POST request to the CI/CD endpoint of the WebApp. After that, WebApp will pull the latest image.
Even without webhook, if we simply restart the WebApp, it should pull the lat

[2020-02-20 13:13] PramodValavala-MSFT commented on #48542
@yinoa I believe the focus here is about accessing the endpoints when deployed into a VNET.

The [reference doc for the (direct) REST API](https://docs.microsoft.com/en-us/rest/api/apimanagement/ApiManagementREST/api-management-REST) is covered in its docs. Also, do note that you can still use the ARM REST APIs to manage your instance even though its deployed into a VNET since the [required ports]

[2020-02-20 13:15] schellem commented on #48495
As stated in the post, running the restore brings up numerous errors.

From: SnehaAgrawal-MSFT [mailto:notifications@github.com]
Sent: Thursday, February 20, 2020 6:16 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Mike Schellenberger <mikeschellenberger@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Code Doesn't work (#48495)

@schell

[2020-02-20 13:15] PramodValavala-MSFT commented on #48549
@MutedExclamation Thanks for feedback! Looks like this is now fixed.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-20 13:15] #48549 closed

[2020-02-20 13:15] #48267 closed

[2020-02-20 13:16] AshokPeddakotla-MSFT commented on #48535
@ramandeep-singh-1983 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-20 13:16] #47978 closed

[2020-02-20 13:18] NavtejSaini-MSFT commented on #48249
@stevestein Please provide your feedback for the same.

[2020-02-20 13:38] manueljesusrd opened #48565 "How to use Key Vault to store IoT Edge gateway certificates"
Hello there. I'm deploying an IoT solution where our Edge is used a transparent gateway. Right now, we have production certificates located in our Edge, on the paths you specify in this page, at section "Install certificates on the device":

Device CA certificate: &lt;WRKDIR&gt;\certs\iot-edge-device-MyEdgeDeviceCA-full-chain.cert.pem
Device CA private key: &lt;WRKDIR&gt;\private\iot-edge-device-M

[2020-02-20 13:38] NavtejSaini-MSFT commented on #48540
@PHaastrup We are checking this and will get back to you.

[2020-02-20 13:38] yinoa commented on #48542
Hi Pramod,
Thanks for your quick reply.
Yes, I found that specific path finnally just like you mentioned.
https://docs.microsoft.com/en-us/rest/api/apimanagement/apimanagementrest/azure-api-management-rest-api-authentication
Since it is a "how to" guide,  it is better to provide user detailed method to access the service endpoints. Or remind users to attention about the path of those service endpo

[2020-02-20 13:40] NavtejSaini-MSFT commented on #48552
@Potapy4 Thanks for the Pull Request.
@BHolthuijsen The change for the same has been raised. Once approved it will be corrected.

[2020-02-20 13:46] dcurwin commented on #48503
The issues brought up in point 1 have been resolved with an update to the [document](https://docs.microsoft.com/en-us/azure/backup/backup-support-matrix#linux-backup-support). The updated document should show up shortly.

[2020-02-20 13:47] dcurwin commented on #48503
#reassign:dcurwin

[2020-02-20 13:48] mleziva commented on #30644
I was able to get this working with Okta, please see an example in this repository: https://github.com/mleziva/azure-b2c-okta-custom-policy

[2020-02-20 13:54] XristophD commented on #7731
I am receiving the same error when changing existing PolicySet (Initiative) Definitions that haven't been assigned yet. My understanding is, I would only need a default value when the PolicySet (Initiative) is already assigned.

[2020-02-20 13:56] bartvermeersch commented on #48348
Are you aware most codes are also referenced on the folowing page:
https://docs.microsoft.com/en-us/azure/active-directory/develop/reference-aadsts-error-codes

[2020-02-20 13:56] langstonj commented on #48474
Even though I did my production server configuration at the server-level every database on this audited production server will be audited on whatever server the database(s) are ultimately copied.

I suspect that others out there, if they are not already aware, will discover this feature on their dev environments.

Thank you for your response.

Best,

John C Langston  |   SQL Database Administrator

[2020-02-20 13:59] DCtheGeek commented on #7731
@XristophD I'd recommend opening a [support ticket](https://azure.microsoft.com/support/create-ticket/) if you are running into issues with this.

[2020-02-20 14:00] pstapf commented on #48396
If you are working with the LocalAccounts policies from the starter pack like I do, simply replace the following line within the signup_signin policy file:
Remove: <OutputClaim ClaimTypeReferenceId="email" />
Add: <OutputClaim ClaimTypeReferenceId="SignInName" PartnerClaimType="email"/>

/Peter

[2020-02-20 14:03] pstapf commented on #48396
Remove: OutputClaim ClaimTypeReferenceId="email"
Add: OutputClaim ClaimTypeReferenceId="SignInName" PartnerClaimType="email"

[2020-02-20 14:08] chadmcrowell commented on #48563
user error. I missed the AD Integration step. Please close this PR.

[2020-02-20 14:08] deyanp commented on #46724
@himanshu-mishra , can you help me still on this one? The ticket brought questionable results - last recommendation is to call EventHubClient.GetRuntimeInformationAsync() every 15-30 minutes instead of every 5 minutes, which sounds really funny.

In addition to the TaskCancelledException which happens about 40 times a day (out of 288 total requests, every 5 minutes 1) I see that I am getting once

[2020-02-20 14:11] langstonj commented on #48474
A picture is worth a thousand words.

Server-level
[cid:image001.png@01D5E7C5.60835150]

Database-level for a database residing on pscsqlsrv03
[cid:image002.png@01D5E7C5.60835150]

I didn’t see it in the docs (and I realize keeping the docs updated is no small task with a log of moving parts) but my $.02 would be to include something that indicates this behavior is present.

Best,

John C Langston

[2020-02-20 14:14] XristophD commented on #7731
@DCtheGeek , thank you for your feedback. I would rather understand the expected behaviour before I open a support ticket.

[2020-02-20 14:22] Connell1 opened #48566 "Circular reference when trying to learn how to authenticate to create tokens"
Hi. I'm trying to learn how to use the token API and I've come across a circular reference in the docs.
At the top of the page, there is this line:
"Initial authentication to this API is the same as for all of the Azure Databricks API endpoints: you must first authenticate as described in Authentication."
It links to this page: https://docs.microsoft.com/en-us/azure/databricks/dev-tools/api/latest

[2020-02-20 14:22] adamhardin-vaya opened #48567 "Add note about cookie policy and authentication"
Would it be possible to leave a note about adding UseCookiePolicy() and UseAuthentication() under Configure(IApplicationBuilder, IWebHostEnvironment)? Many people can overlook this and cause a lot of unnecessary troubleshooting.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 479bff62-927a-9f71-c85f-4a1188c72bb2
* Versi

[2020-02-20 14:23] ram-msft commented on #48078
@hshahbaz  we would recommend to raise a Azure support desk ticket from Help+Support blade from Azure portal. This will help you to share the details securely and work with an engineer who can provide more insights about the issue that if it can be replicated.

[2020-02-20 14:50] yellow456434 commented on #48286
Oh! Ok I use Helm version is 3

從我的iPhone傳送

jakaruna-MSFT <notifications@github.com> 於 2020年2月19日 下午8:02 寫道：

﻿

@yellow456434<https://github.com/yellow456434> whats the version of helm which you used.

Name parameter is required in helm 3. But optional in helm 2

Reference: https://helm.sh/docs/faq/#name-or-generate-name-is-now-required-on-install

—
You are receiving this because you were menti

[2020-02-20 14:51] #48366 closed

[2020-02-20 14:52] jagge123 opened #48568 "Feedback on type level search"
Hi, its me again(!). I have some feedback on the Azure API (managed service in Azure)

*When doing type level search for all resource of a specific type, e.g: GET https://baseurl/Task. How come you return the oldest resources first and not the other way around? I feel like its more reasonable to always return the newest instances and then use paging to get older. In the current state i cant use th

[2020-02-20 14:57] beniluul commented on #48271
I've emailed SaaSApplicationIntegrations@service.microsoft.com but they haven't responded yet.

[2020-02-20 14:59] 9073241516 commented on #47634
Hi,
I´m not sure if there is a delay, 02 days ago I was able to use gmail account to access (federation mode) Office 365 apps (Teams/Planner).

Now it´s working.

[2020-02-20 15:01] SgtSpamCan commented on #47963
I'll reference that the service itself is still in "Preview", and has been
for several years.

On Tue, Feb 18, 2020 at 1:42 PM Mike Urnun <notifications@github.com> wrote:

[2020-02-20 15:02] dotnetgator commented on #48464
Thank you @JasSuri. Looking over the passwordless phone sign in/up sample at https://github.com/Azure-Samples/active-directory-b2c-custom-policy-starterpack/blob/master/scenarios/phone-number-passwordless/Phone_Email_Base.xml, it appears that the strategy here is to generate the UPN within the profile (concatenating (new GUID)@(RelyingPartyTenantId)), and use that, rather than let the UPN get gene

[2020-02-20 15:16] MGoedtel commented on #48524
@arcarley - I've already tagged this article for a re-write and will be working on it during my next sprint (next month) to address this and other items.  Thanks! #please-close

[2020-02-20 15:16] #48524 closed

[2020-02-20 15:21] SubhashVasarapu-MSFT commented on #48561
@woutervanranst , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2020-02-20 15:27] tharanga2006 commented on #48559
anyone can help on this ?

[2020-02-20 15:31] dotnetgator opened #48569 "Undocumented element used in FormatStringClaim example"
The formatStringClaim example uses an unusual/unexpected/undocumented notation in its input parameter to substitute the RelyingPartyTenantId value (this is also used in the Phone Sign Up example to build a UPN policy-side at https://github.com/Azure-Samples/active-directory-b2c-custom-policy-starterpack/blob/master/scenarios/phone-number-passwordless/Phone_Email_Base.xml)

This looks like a pseudo

[2020-02-20 15:37] memildin commented on #47208
@andyjballgit, thanks for the question!

Azure Security Center's MFA policies aren't connected to any PIM solutions you may have installed. So they're unable to take them into consideration when making recommendations.

If you need any more information, please reopen this ticket or be in touch again.

#please-close

[2020-02-20 15:37] #47208 closed

[2020-02-20 15:39] asudbring commented on #48538
Wrong command on the register section of the PowerShell.  I'm fixing it now and will push the change for our next publish cycle.  Correct Command is:

Register-AzResourceProvider -ProviderNamespace Microsoft.Network

[2020-02-20 15:40] SamaraSoucy-MSFT commented on #48329
Hi @SychevIgor

I'm assuming you are talking about running queries from the [Logs blade in App Insights](https://docs.microsoft.com/en-us/azure/azure-monitor/app/app-map#view-logs-analytics). Please let me know if that is incorrect.

Application Insights does not have the ability to write cross-resource queries like the Application Map, but Log Analytics can query multiple App Insights instances.

[2020-02-20 15:41] asudbring commented on #48538
PR to fix issue:
https://github.com/MicrosoftDocs/azure-docs-pr/pull/104989

#please-close

[2020-02-20 15:41] #48538 closed

[2020-02-20 15:42] SychevIgor commented on #48329
@SamaraSoucy-MSFT thank you. could you somehow add this info to an article? From my perspective - it will be quite beneficial.

[2020-02-20 15:43] mumian commented on #47870
The dev team is focusing on Visual Studio Code at the moment. They will make the 2019 schema available for Visual Studio before they work on the API version issue.

[2020-02-20 15:45] Ayanmullick commented on #48526
@jakaruna-MSFT , Could you share the link for the documentation for this specific API?

[2020-02-20 15:47] asudbring commented on #48264
Adding PM for review on guidance on how to proceed
assign:malopMSFT

[2020-02-20 15:50] bmoscon opened #48570 "Directory structure for python testing not compatible with docker"
I'm not sure why this directory structure

[code]

is suggested. This does not work with dockerized deployments. Unless I'm mistaken the azure functions directories have to be in the site/wwwroot directory - having them a layer down in `__app__` does not seem to work. Am I missing something? Is there an alternative suggestion for these types of deployments?

---
#### Document Details

⚠ *Do not ed

[2020-02-20 15:51] cmplank commented on #42462
How's that investigation going?

Looks like the `userAgentApplication.login*()` methods used to take two params. First was `scope`, then was `extraQueryParamters`. The documentation now says to just pass an object where one property will be scope.

The problem is that it takes your loginRequest object and expects it to be the scope, which should be an array. So just pass the scope as the first par

[2020-02-20 15:53] jshaft1971 opened #48571 "Will app passwords continue working after enabling security defaults?"
We are moving from Baseline Policies to Security Defaults and want to confirm what happens with app password functionality after that change.  The documentation does not state either way specifically what will happen with app passwords so we assume they will continue working.

A follow up question is if the app passwords will continue working after enabling Security Defaults, does Microsoft have a

[2020-02-20 15:53] lmurthy-git opened #48572 "What are the specific benefits of ER for O365?"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-02-20 15:57] threesixfour opened #48573 "7000222 Not Documented"
7000222 is not documented. The message I'm receiving is "The provided client secret keys are expired."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa732de6-2cab-d780-aa21-dfec80e0a8fe
* Version Independent ID: 1a11b9b6-cf4f-3581-0864-0d5046943b6e
* Content: [Error codes in the Azure Active Directory portal](https://

[2020-02-20 15:59] ld0614 opened #48574 "Example 2 Appears to create a version 1 Flow Log"
After running the example the flow logs are created however they all appear to provision as version 1.  Even changing "version": 2 doesn't appear to solve the issue and the ARM template documentation doesn't provide any further documentation as to what the correct configuration of the version field should be.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2020-02-20 16:04] danielurbina opened #48575 "Please update for non Azure Firewall requirements"
The important note in this documentation could be more precise and easy to follow for non Azure Firewall customers:
You cannot authenticate to Azure Data Lake Storage with your Azure Active Directory credentials if you are behind a firewall that has not been configured to allow traffic to Azure Active Directory. Azure Firewall blocks Active Directory access by default. To allow access, configure t

[2020-02-20 16:08] jjindrich opened #48576 "Clarify what is GA"
Please could you clarify what is GA and what Preview ? In table (https://docs.microsoft.com/en-us/azure/private-link/private-link-overview#availability) is defined as Preview. In Blue box is defined as GA
Please help me customers to better understand.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbfc7ccc-7fd0-9bb7-7d

[2020-02-20 16:11] michalmar commented on #48576
Also please clarify if the Private Link is GA for all services (Storage, SQL, Event Hub, etc.)

[2020-02-20 16:12] dominicbetts commented on #48511
Hi @isagrwl - thanks for getting in touch. You shouldn't need to add a device template to complete this tutorial. I just stepped through it and although the first time I ran the device code I saw the DPS error, the second time I ran it (as per the note in the article), it worked as expected. Can you confirm that in your IoT Central application **Auto approve** is enabled on the **Administration >

[2020-02-20 16:16] hansenms commented on #48568
The solution here is for us to support sort, which is on our roadmap. It is probably better to add this as a issue on the https://github.com/Microsoft/fhir-server repo. The discussions here are really for the documentation. I will close the issue here and encourage you to open a feature request on the fhir-server repo.

#please-close

[2020-02-20 16:16] #48568 closed

[2020-02-20 16:21] tmarius1970 commented on #48228
Hi Shashi Shailaj
Thank you for your detailed analysis, I am not familiar with fiddler and couldn’t do it without you.
I am interested to know if there is a solution or maybe a workaround for this issue.
I have not opened any case yet, can you do it for me?
Thank you,
Marius

Toma Marius
Administrator
SC CLOUDLOGIC SRL
office@cloudlogic.ro<mailto:office@cloudlogic.ro>
+40723-425-750

From: ShashiS

[2020-02-20 16:22] jchilde commented on #11383
I think I am running into the same problem.

I am running an AAD protected Azure Function.  I serve static content using proxies and use the same Function App as my API backend.

So, from the static code (front-end) I am able to issue a get request to .auth/refresh; however, since users never leave the function app domain, they can be logged in for some time.  At some point, a fresh is necessary.

[2020-02-20 16:22] ChrisJr4Eva1987 opened #48578 "ChrisJr4Eva87"
@#
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page cre

[2020-02-20 16:22] asudbring commented on #48459
This addition to the docs is in the backlog.  Assigning to PM for visibility:

#assign:@anavinahar

[2020-02-20 16:23] MGoedtel commented on #41944
@aledeniz - The JSON file referenced in my response late last year does now include the IP addresses for AzureMonitor and AzureAutomation, so you would need to config your firewall with the list of IPs per review of this latest file.

[2020-02-20 16:23] sgdesmet opened #48579 "ScriptExecution element is missing in UserJourneyBehaviors options list"
The element `ScriptExecution` does not appear to be mentioned in the `UserJourneyBehaviors` list on this page.
It is only mentioned [here](https://docs.microsoft.com/en-us/azure/active-directory-b2c/javascript-samples#add-the-scriptexecution-element) but is necessary to allow JavaScript customization.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-02-20 16:29] asudbring commented on #43046
Assigning to PM for review
#reassign:@rohinkoul

[2020-02-20 16:32] rithinskaria commented on #38595
The AAD service principal will have no access over enrollment scope, so you cannot use the SPN credentials you have to use a auth token which is of the EA Admin.

If you are looking for Usage at EA level , you can leverage the EA API: 	https://consumption.azure.com/v3/enrollments/{{eaNumber}}/usagedetailsbycustomdate?startTime=2019-10-07&endTime=2019-10-07. You can get the API key from EA Portal.

[2020-02-20 16:32] asudbring commented on #42711
Assigning to PM for review
#reassign@rohinkoul

[2020-02-20 16:32] ghills opened #48580 "How to see WAF details in logs"
I have the Front Door configured such that WAF logging is going to Log Analytics. From there, I can pull logs for requests that were Blocked.

However, the logged data doesn't appear to have the details about why the request was blocked - just the name of the rule that was offended.

I was hoping for details like the Application Gateway WAF logs seems to contain (https://docs.microsoft.com/en-us/a

[2020-02-20 16:34] koo9 commented on #48396
@pstapf such a life saver! thx!

[2020-02-20 16:34] asudbring commented on #17831
Assigning to PM to review

@reassign:@rohinkoul

[2020-02-20 16:36] RGoodmanAxioma opened #48581 "Two problems, one minor and one blocker"
1. When creating the VM with the command shown, the following error is displayed:
invalid usage for storage profile: create unmanaged OS disk created from generalized VHD:
	missing: --use-unmanaged-disk
adding the missing switch allows the command to continue.

2. After creating the VHD file using VirtualBox, the following error is displayed when trying to create the VM using this disk:
"The speci

[2020-02-20 16:36] RyanHill-MSFT commented on #47611
#please-close

[2020-02-20 16:37] asudbring commented on #37214
Assigning to PM for review

#reassign:@sohamnchatterjee

[2020-02-20 16:37] asudbring commented on #33617
Assigning to PM for review

#reassign:@sohamnchatterjee

[2020-02-20 16:38] asudbring commented on #33525
Assigning to PM for review

#reassign:@sohamnchatterjee

[2020-02-20 16:38] asudbring commented on #33465
Assigning to PM for review

#reassign:@sohamnchatterjee

[2020-02-20 16:39] asudbring commented on #33290
Assigning to PM for review

#reassign:@sohamnchatterjee

[2020-02-20 16:39] asudbring commented on #32985
Assigning to PM for review

#reassign:@sohamnchatterjee

[2020-02-20 16:40] asudbring commented on #32567
Assigning to PM for review

#reassign:@sohamnchatterjee

[2020-02-20 16:40] asudbring commented on #32542
Assigning to PM for review

#reassign:@sohamnchatterjee

[2020-02-20 16:41] asudbring commented on #32128
Assigning to PM for review

#reassign:@sohamnchatterjee

[2020-02-20 16:41] asudbring commented on #29967
Assigning to PM for review

#reassign:@sohamnchatterjee

[2020-02-20 16:41] asudbring commented on #27958
Assigning to PM for review

#reassign:@sohamnchatterjee

[2020-02-20 16:41] asudbring commented on #27957
Assigning to PM for review

#reassign:@sohamnchatterjee

[2020-02-20 16:42] asudbring commented on #27197
Assigning to PM for review

#reassign:@sohamnchatterjee

[2020-02-20 16:42] asudbring commented on #25667
Assigning to PM for review

#reassign:@sohamnchatterjee

[2020-02-20 16:43] asudbring commented on #23536
Assigning to PM for review

#reassign:@sohamnchatterjee

[2020-02-20 16:43] asudbring commented on #21808
Assigning to PM for review

#reassign:@sohamnchatterjee

[2020-02-20 16:43] ceglez commented on #48140
The Instructions and screenshots shown, are for the previous version of Azure migrate..., OMS setup etc...
There is no way to setup the OMS if we follow those old instructions..

[2020-02-20 16:44] asudbring commented on #20051
Assigning to PM for review

#reassign:@sohamnchatterjee

[2020-02-20 16:44] asudbring commented on #18814
Assigning to PM for review

#reassign:@sohamnchatterjee

[2020-02-20 16:44] asudbring commented on #18651
Assigning to PM for review

#reassign:@sohamnchatterjee

[2020-02-20 16:44] Benjiiim opened #48582 "Wrong links in "Supported operating systems and drivers" section"
Wrong links in "Supported operating systems and drivers" section

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4d9e8ae-89d0-2e7e-3217-4a9443d1f36d
* Version Independent ID: 24e2d297-d334-eb25-688b-76415eb02704
* Content: [Azure VM sizes - GPU - Azure Virtual Machines](https://docs.microsoft.com/en-us/azure/virtual-ma

[2020-02-20 16:44] VikasPullagura-MSFT commented on #48563
@chadmcrowell Thanks for confirming back that the reported issue is resolved following the tutorial.

[2020-02-20 16:44] #48563 closed

[2020-02-20 16:45] asudbring commented on #16594
Assigning to PM for review

#reassign:@sohamnchatterjee

[2020-02-20 16:45] asudbring commented on #16466
Assigning to PM for review

#reassign:@sohamnchatterjee

[2020-02-20 16:45] sbdoroff commented on #32128
Thank you @asudbring.  A PR has been submitted for this [here](https://github.com/MicrosoftDocs/azure-docs/pull/48150).

[2020-02-20 16:45] asudbring commented on #16407
Assigning to PM for review

#reassign:@sohamnchatterjee

[2020-02-20 16:45] asudbring commented on #13800
Assigning to PM for review

#reassign:@sohamnchatterjee

[2020-02-20 16:46] artisticcheese opened #48583 "KMS client link is outdated"
Link does not list Windows 2019 server keys.
https://technet.microsoft.com/library/jj612867%28v=ws.11%29.aspx?f=255&MSPPError=-2147217396

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87ea8024-c99f-0efe-f663-cc58348a3721
* Version Independent ID: 85c8727b-915b-c920-76cd-6123844d20ad
* Content: [Troubleshoot Windows vi

[2020-02-20 16:46] asudbring commented on #34101
Assigning to PM for review

#reassign:@sohamnchatterjee

[2020-02-20 16:46] asudbring commented on #17798
Assigning to PM for review

#reassign:@sohamnchatterjee

[2020-02-20 16:47] asudbring commented on #11066
Assigning to PM for review

#reassign:@sohamnchatterjee

[2020-02-20 16:51] nibaccam commented on #40694
@madhuraprasanna please see this documentation:
https://docs.microsoft.com/en-us/azure/machine-learning/how-to-save-write-experiment-files#where-to-save-input-files

[2020-02-20 16:52] VikasPullagura-MSFT commented on #48582
@Benjiiim Thanks for the feedback! We are currently investigating and will get back on this.

[2020-02-20 16:52] arcarley commented on #48524
Hello Matt,

Please feel free to reach out if you have any questions on Windows Update policies and the recommended configurations.

Best,
Arai

From: Matt Goedtel <notifications@github.com>
Sent: Thursday, February 20, 2020 7:17 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Aria Carley <Arianna.Carley@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Microso

[2020-02-20 16:58] JasSuri commented on #48396
Add
<OutputClaim ClaimTypeReferenceId="objectId" PartnerClaimType="oid"/>

[2020-02-20 17:10] sgdesmet opened #48584 "Add explanation of options for ExternalLoginSSOSessionProvider"
In some [examples of custom policies](https://github.com/Azure-Samples/active-directory-b2c-custom-policy-starterpack/blob/master/SocialAndLocalAccounts/TrustFrameworkBase.xml), `ExternalLoginSSOSessionProvider` has metadata item `AlwaysFetchClaimsFromProvider`, and also `PersistedClaims`, but these are not explained on the documentation page.

        <TechnicalProfile Id="SM-SocialLogin">

[2020-02-20 17:10] rimroot opened #48585 "Contradictory information about federated user UPN sync"
Hi,
this article (and some other) states "Azure Active Directory does not allow the synchronization of UserPrincipalName (UPN)/Alternate Login ID suffix change from one federated domain to another federated domain." However other sources say that this has been changes and now it is supported, i.e.
https://github.com/MicrosoftDocs/azure-docs/issues/27680
https://feedback.azure.com/forums/169401-azu

[2020-02-20 17:12] vhorne commented on #21170
https://docs.microsoft.com/azure/application-gateway/application-gateway-probe-overview
has been updated and should live around 10am today
#please-close

[2020-02-20 17:12] #21170 closed

[2020-02-20 17:13] SaurabhSharma-MSFT commented on #47492
@hugo-paredes Please let us know if you need a support ticket open for this issue ?

[2020-02-20 17:19] sgdesmet opened #48587 "Add explanation of options for ExternalLoginSSOSessionProvider"
In some [examples of custom policies](https://github.com/Azure-Samples/active-directory-b2c-custom-policy-starterpack/blob/master/SocialAndLocalAccounts/TrustFrameworkBase.xml), `ExternalLoginSSOSessionProvider` has metadata item `AlwaysFetchClaimsFromProvider`, and also `PersistedClaims`, but these are not explained on the documentation page.

        <TechnicalProfile Id="SM-SocialLogin">

[2020-02-20 17:19] vhorne commented on #23773
For information about NSG recommendations, please see:
https://docs.microsoft.com/en-us/azure/application-gateway/configuration-overview#network-security-groups-on-the-application-gateway-subnet
#please-close

[2020-02-20 17:20] sgdesmet commented on #48584
Close issue because necessary metadata was not added by Firefox when navigating from [https://docs.microsoft.com/en-us/azure/active-directory-b2c/custom-policy-reference-sso](https://docs.microsoft.com/en-us/azure/active-directory-b2c/custom-policy-reference-sso)

[2020-02-20 17:22] sgdesmet opened #48588 "ScriptExecution element is missing in UserJourneyBehaviors options list"
The element `ScriptExecution` does not appear to be mentioned in the `UserJourneyBehaviors` list on this page.
It is only mentioned  [here](https://docs.microsoft.com/en-us/azure/active-directory-b2c/javascript-samples#add-the-scriptexecution-element) but is necessary to allow JavaScript customization.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-02-20 17:22] sgdesmet commented on #48579
Closing issue, necessary metadata for submission was stripped by Firefox

[2020-02-20 17:23] vhorne commented on #25962
#reassign:winthrop28

[2020-02-20 17:23] chriskim0101 commented on #48484
I am thinking the AppID that we created needs some type of role assigned somewhere.  I did give API permission to access D365, but there seems to be more security setting that needs to be done.

[2020-02-20 17:25] vhorne commented on #27817
#reassign:winthrop28

[2020-02-20 17:26] vhorne commented on #28838
#reassign:winthrop28

[2020-02-20 17:27] vhorne commented on #31833
#reassign:winthrop28

[2020-02-20 17:28] vhorne commented on #32104
#reassign:winthrop28

[2020-02-20 17:28] KrishnaG-MSFT commented on #48568
@hansenms Thanks for the super quick response. 👍

[2020-02-20 17:29] vhorne commented on #33179
#reassign:winthrop28

[2020-02-20 17:30] vhorne commented on #33601
#reassign:winthrop28

[2020-02-20 17:30] KrishnaG-MSFT commented on #48579
@sgdesmet Thanks for the update! 👍

[2020-02-20 17:32] KrishnaG-MSFT commented on #48584
@sgdesmet Thanks for the update! 👍

[2020-02-20 17:35] spelluru commented on #43062
#please-close

[2020-02-20 17:35] #43062 closed

[2020-02-20 17:38] KrishnaG-MSFT commented on #48588
Duplicate of #48579

[2020-02-20 17:40] KrishnaG-MSFT commented on #48587
Duplicate of #48584

[2020-02-20 17:44] KrishnaG-MSFT commented on #48551
@MartinKosicky Thanks for your comment! We will review and provide an update as appropriate.

[2020-02-20 17:46] KrishnaG-MSFT commented on #48554
@Sankaranis Thanks for your comment! We will review and provide an update as appropriate.

[2020-02-20 17:46] BharathNimmala-MSFT commented on #48354
@bingofingers You can automate Custom Log via ARM today, please refer to [this ](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/template-workspace-configuration#configure-a-log-analytics-workspace) documentation.With in the template you can  look for: "kind": "CustomLog".

You can use the below powershell command to deploy the template.

`New-AzResourceGroupDeployment -Name <deploym

[2020-02-20 17:48] vhorne commented on #33743
Dupe. Issue was addressed by 42800, as pointed out above.
#please-close

[2020-02-20 17:48] #33743 closed

[2020-02-20 17:51] vhorne commented on #35707
#reassign:winthrop28

[2020-02-20 17:52] vhorne commented on #37493
#reassign:winthrop28

[2020-02-20 17:53] vhorne commented on #37884
#reassign:winthrop28

[2020-02-20 17:54] KrishnaG-MSFT commented on #48557
@nickplennox Thanks for your comment! We will review and provide an update as appropriate.

[2020-02-20 17:55] vhorne commented on #38180
#reassign:winthrop28

[2020-02-20 17:56] randomor opened #48591 "Skipped migration settings."
Is there a way to sync select tables from RDS Postgres to Azure DB for Postgresql? The tutorial skipped over the "Configure migration settings" Step somehow.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 258e62a7-a977-1cdf-7dbf-b94ab034e918
* Version Independent ID: 509124d0-7f20-3a1e-237e-d6d047d096a4
* Content: [Tut

[2020-02-20 17:56] TimothyMothra commented on #45544
Lets please move this conversation to the SDK repo so the full dev team can review and respond.

[2020-02-20 17:57] KrishnaG-MSFT commented on #48566
@Connell1 Thanks for your comment! We will review and provide an update as appropriate.

[2020-02-20 17:58] dlepow commented on #47282
Doc update published - thanks again for raising the issue.
#please-close

[2020-02-20 17:58] #47282 closed

[2020-02-20 17:58] vhorne commented on #39017
#reassign:winthrop28

[2020-02-20 17:59] KrishnaG-MSFT commented on #48570
@bmoscon Thanks for your comment! We will review and provide an update as appropriate.

[2020-02-20 17:59] vhorne commented on #39910
#reassign:winthrop28

[2020-02-20 18:00] malgamves commented on #29897
hey @pvpatel777 I have the same issue. How did you sort out the proxy problem?

@mimckitt could there be a fix added to the docs? What makes the issue come up?

[2020-02-20 18:01] KrishnaG-MSFT commented on #48572
Hello @lmurthy-git, Can you share the Azure document link / URL that you are referring to ?

[This](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions if any, etc.) so that's the reason for asking related Azure document

[2020-02-20 18:02] vhorne commented on #41109
#reassign:winthrop28

[2020-02-20 18:03] kobulloc-MSFT commented on #48148
@ajfurst Thank you again for bringing this to our attention!  I've assigned this to the document author so they can update our documentation accordingly.  Thank you for the feedback as well.  It's always great to hear when our documentation is well received.

[2020-02-20 18:04] vhorne commented on #41536
#reassign:winthrop28

[2020-02-20 18:05] vhorne commented on #42508
#reassign:winthrop28

[2020-02-20 18:06] KranthiPakala-MSFT commented on #48575
@danielurbina Thanks for the feedback! We have assigned the issue to the content author for further review and update the document as appropriate.

[2020-02-20 18:07] vhorne commented on #44425
#reassign:winthrop28

[2020-02-20 18:10] vhorne commented on #44713
#reassign:winthrop28

[2020-02-20 18:11] mhopkins-msft commented on #48457
Published!

#please-close

[2020-02-20 18:11] #48457 closed

[2020-02-20 18:11] KranthiPakala-MSFT commented on #48566
@Connell1 Thanks for the feedback and bringing this to our attention. We have assigned the issue to the content author to investigate this and update the document as appropriate.

[2020-02-20 18:11] vhorne commented on #44746
#reassign:winthrop28

[2020-02-20 18:13] vhorne commented on #47005
#reassign:winthrop28

[2020-02-20 18:24] khilscher opened #48594 "PnP Developer Guide Doc Challenges"
The [PnP Developer Guide docs](https://docs.microsoft.com/en-us/azure/iot-pnp/concepts-developer-guide) are not fully in sync with the PnP REST API [documentation](https://docs.microsoft.com/en-us/rest/api/iothub/digitaltwinmodel/digitaltwin) and are missing some key examples.

1. Docs reference the following method ```GET /digitalTwins/t-123/interfaces/info``` which a) doesn't work b) doesn't exi

[2020-02-20 18:25] normesta commented on #48304
Hi @PaveraTharkana. Are you authenticating your identity by using Azure AD? If so, my understanding is that you don't have to use a SAS token on the destination URL. The examples in this article assume Azure AD authentication. If you are using SAS only, you would need to apply the token to both source and destination.

[2020-02-20 18:26] SaurabhSharma-MSFT commented on #48585
@rimroot Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-02-20 18:28] SaurabhSharma-MSFT commented on #48573
@threesixfour Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-02-20 18:30] SaurabhSharma-MSFT commented on #48569
@dotnetgator Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-02-20 18:31] SaurabhSharma-MSFT commented on #48560
@crmhh Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-20 18:32] SaurabhSharma-MSFT commented on #48567
@adamhardin-vaya Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-02-20 18:33] SaurabhSharma-MSFT commented on #48571
@jshaft1971 Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-20 18:33] KumariSupriya commented on #47992
The document has been  updated to show that the latest version may not be available in all regions.

[2020-02-20 18:34] edarsaut opened #48595 "-ThrottleLimit"
It's not clear what -ThrottleLimit object value means.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 805a6236-70b7-7dd5-ac86-eea6efceff3a
* Version Independent ID: e8078e34-bdf0-32b1-fac4-550091f2a06a
* Content: [Learning PowerShell Workflow for Azure Automation](https://docs.microsoft.com/en-us/azure/automation/autom

[2020-02-20 18:39] cherylmc commented on #44672
#reassign:yushwang

[2020-02-20 18:41] cherylmc commented on #46789
I've taken this as a doc bug. Thanks! #please-close

[2020-02-20 18:41] #46789 closed

[2020-02-20 18:42] cherylmc commented on #46538
Hi- I've taken this as a doc bug to evaluate. #please-close

[2020-02-20 18:42] #46538 closed

[2020-02-20 18:46] NavtejSaini-MSFT commented on #48330
@pauloster At this point we are keeping it as Azure Data Ware House, Until the product becomes GA and we roll it out, both names will be used. Also please explain your other issue, cause it appears the verbiage is okay in terms of having back up for dev and testing.

[2020-02-20 18:47] spelluru commented on #48173
@zhenlan - Thank you. It's fixed now.

#please-close

[2020-02-20 18:47] #48173 closed

[2020-02-20 18:52] cherylmc commented on #48194
#reassign:charwen

[2020-02-20 18:53] cherylmc commented on #47104
We will take this as a doc bug. I will work with the PM on this one. #please-close

[2020-02-20 18:53] #47104 closed

[2020-02-20 18:54] jasonnutter commented on #47803
@rits-development Ah, gotya. My advice was referring to use an `auth.html` page with no content on it (or MSAL itself), which works for popup/silent flow.

What I meant by "as redirect uris for redirect actions still must run MSAL" is that the page used for the redirect URI when using `loginRedirect` or `acquireTokenRedirect` must have MSAL running on it, in order to process the request (it looks

[2020-02-20 18:55] cherylmc commented on #46474
#reassign:charwen

[2020-02-20 18:56] cherylmc commented on #45214
#reassign:charwen

[2020-02-20 18:59] cherylmc commented on #42566
#reassign:charwen  @charwen, can you verify or reassign to the PM that can make the appropriate update if needed?

[2020-02-20 19:00] darzu commented on #48509
I see, so running "az webapp restart" after pushing a new image does work, but it causes the site to be down for a couple minutes.

CI/CD triggered sounds great, and I'm going to try that next, but it's also important for my team that we can manually deploy when needed. Setting up a way to send a web request to hit the CI/CD endpoint manually is doable I suppose.

Regarding avoiding downtime, I gu

[2020-02-20 19:01] bandersmsft commented on #48544
@yashesvi Can you comment about this?

[2020-02-20 19:02] alejandl-msft opened #48596 "Template Deployment: settings vs secretsManagementSettings"
Using the template deployment sample, I ran into a deployment error because "secretsManagementSettings" wasn't found. I think this

"settings": {
          "pollingIntervalInS": &lt;polling interval in seconds, e.g: "3600"&gt;,
          ...
        }
      }

Needs to be replaced with

"settings": {
              "secretsManagementSettings": {
                  "pollingIntervalInS": &lt;polling i

[2020-02-20 19:09] cherylmc commented on #33681
reassign:charwen  @charwen, can you have someone confirm and update as appropriate?

[2020-02-20 19:10] cherylmc commented on #35678
reassign:charwen

[2020-02-20 19:13] cherylmc commented on #45245
#reassign:reyandap

[2020-02-20 19:14] cherylmc commented on #38209
#please-close

[2020-02-20 19:14] #38209 closed

[2020-02-20 19:15] cherylmc commented on #27380
#please-close

[2020-02-20 19:15] #27380 closed

[2020-02-20 19:16] mslot commented on #48379
I am sorry, the link is incorrect: https://docs.microsoft.com/en-us/azure/azure-monitor/app/ilogger#aspnet-core-applications - same doc, just under another section than the FAQ question.

[2020-02-20 19:19] yashesvi commented on #48544
Sorry it went out of state. The file has been updated.

[2020-02-20 19:20] spboyer opened #48597 "Missing Publish Action after Step #9"
&gt; 9. Select Create to start creating the Azure resources.
&gt; Once the wizard completes, it publishes the ASP.NET web app to Azure, and then launches the app in the default browser.

After clicking create, only the Publishing Profile and App Service is created, the code for the application is not pushed until the "Publish" button is clicked on the next underlying screen.

![image](https://user

[2020-02-20 19:22] BryanTrach-MSFT commented on #48537
@rich-davies Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-20 19:26] BharathNimmala-MSFT commented on #48595
@edarsaut Thank you for your query , we will further look into it and get back to you earliest.

[2020-02-20 19:40] vikaskumawat80 opened #48598 "Do we need Office 365 E3/G3 licenses? Does Sentinel work in Gov Cloud?"
Do we need Office 365 E3/G3 licenses on users or it can work with Business Essentials/Premium?

Also, Can we implement in GovCloud as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f16c2431-da39-7c6b-a6d1-1b71cb9cd069
* Version Independent ID: 9bd4d8ff-ece6-6ac3-b93e-6f78a5673329
* Content: [Connect Office 365 da

[2020-02-20 19:43] spelluru commented on #43975
Hi @UniSnake - Could you please share the error you received? Thanks.

[2020-02-20 19:47] Karishma-Tiwari-MSFT commented on #48583
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-20 19:48] nickolasfisher commented on #47736
@YutongTie-MSFT @qianw211 How do we get this to engineering?

[2020-02-20 19:50] normesta commented on #32729
Hi @shraboin - sorry for the delay in responding. "X" is required to traverse a directory so you would need "R-X". If you omit "X" from subfolders, the contents of those subfolders would not appear in a listing even if you used recursive flags on your commands or APIs. "R" is really only for controlling whether a file can be read. Listing files and folders always require "X" in the ACL.

[2020-02-20 19:50] normesta commented on #32729
#please-close

[2020-02-20 19:50] #32729 closed

[2020-02-20 19:51] Karishma-Tiwari-MSFT commented on #48596
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-20 19:52] Karishma-Tiwari-MSFT commented on #48581
Thanks for the question. We are currently investigating and will update you shortly.

[2020-02-20 20:03] isagrwl commented on #48511
Thanks Dominic for trying it out. It’s good to know that the setup is working for you. Yes, I do have Auto approve selected by default. I tried to follow the document as is but still facing the issue after multiple tries.

Few other observations:
The error I receive is different from yours:
E:\CSS\SDKs\central_app\devkit_device\cmake>.\Release\devkit_device.exe mxchip-001 --scope id-- --primary ke

[2020-02-20 20:08] Karishma-Tiwari-MSFT commented on #48456
@porrascarlos802018 Any update?

The general documentation on how to create Alerts with Azure Monitor can be seen here
https://docs.microsoft.com/en-us/azure/azure-monitor/insights/container-insights-alerts#create-an-alert-rule
In the end, when you enable --log-analytics-workspace, this will give you access to the container Logs, so you would be able to create alerts based on the logs of the conta

[2020-02-20 20:11] lmurthy-git commented on #48572
Hello,

https://docs.microsoft.com/en-us/office365/enterprise/azure-expressroute

Azure ExpressRoute for Office 365

  *   06/05/2019
  *   5 minutes to read
This article applies to both Office 365 Enterprise and Microsoft 365 Enterprise.
Learn how Azure ExpressRoute is used with Office 365 and how to plan the network implementation project that will be required if you are deploying Azure ExpressR

[2020-02-20 20:14] Karishma-Tiwari-MSFT commented on #47908
Could you confirm you you have enabled RBAC with Azure AD ?

Also, please provide the following output
kubectl describe clusterrolebinding kubernetes-dashboard

[2020-02-20 20:15] Grace-MacJones-MSFT commented on #48597
Hi @spboyer, thanks for bringing this to our attention. I have assigned the issue to @cephalin  to evaluate and update the doc as appropriate

[2020-02-20 20:17] Karishma-Tiwari-MSFT commented on #47781
1. It seems the outbound IP is not the same as the inbound IP for the Azure container instances.
Yes

2. Is there somewhere I can find this Outbound IP for the container instance?
They are automatically assigned and may change when ACI restarts.   There is no way we can keep the outbound ip same.

Alternative is to use Azure Kubernetes service.

[2020-02-20 20:22] cmcapellan opened #48600 "Private Link now GA?"
I see from this Azure blog post that all of Private Link (both Private Link Service and Private Link to PaaS) is now GA, can you confirm and update these docs?
https://azure.microsoft.com/en-us/updates/azure-private-link-is-now-available/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d6cc016-6c8f-81d7-3b5b-edce932294

[2020-02-20 20:23] SaurabhSharma-MSFT commented on #48598
@vikaskumawat80 Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-20 20:24] normesta commented on #33581
Thank you for the feedback @theadzik! We've updated the document with that definition. That change should appear live shortly. Thanks again!

[2020-02-20 20:24] normesta commented on #33581
#please-close

[2020-02-20 20:24] #33581 closed

[2020-02-20 20:24] SaurabhSharma-MSFT commented on #48450
@CharmanderJieniJieni yes, that is correct, it is not required but the VM may reboot.

[2020-02-20 20:26] MartinJaffer-MSFT commented on #48438
@flvndh @djpmsft  I do not believe it is possible to re-run only specific inner activities.  By re-running a ForEach activity, all inner activities of all iterations are run.  There is no way to target a specific iteration or specific inner activity to start a re-run.

[2020-02-20 20:28] rolyon commented on #48478
Hi @krispenner
Thanks for the feedback. I'll ask the team about this role.

[2020-02-20 20:33] landon-ochs opened #48601 "On Failure Activity Reporting Overall Success"
If you have a ForEach loop and the last activity in that loop is On Failure, it causes the ForEach loop to report success as a whole and continue executing the pipeline as long as your On Failure activity succeeded. This is an issue when you want to log any failures to a database and need the pipeline to stop executing when a failure occurs. The only work around I have found is to put a dummy acti

[2020-02-20 20:38] qianw211 commented on #47736
@nickolasfisher  Hi, this GitHub issue has been reported to the engineering team, and the above is their reply.  Thanks!

[2020-02-20 20:45] MicrosoftGuyJFlo commented on #48397
Email out to Product Group for clarification.

[2020-02-20 20:49] normesta commented on #37530
Thanks for raising this issue @VOVELEE. I believe the intention of the document was to say "starting with the preview". That said, we've removed that line from the document because logging in Azure Monitor is not yet in public preview.  Therefore, the statement is a bit misleading. Sorry for the confusion. We'll update the doc with a link to guidance about how to use logging in Azure Monitor after

[2020-02-20 20:50] normesta commented on #37530
#please-close

[2020-02-20 20:50] #37530 closed

[2020-02-20 20:51] saulcp95 opened #48602 "Specify that paired regions are hard coded"
Hi team,

I'm a MSFT FTE, and have seen a few Support Cases where customer's asks if is possible to change the default paired region.

Even though it might be implicit that paired regions cannot be changed, I don't think that hurts to explicitly mention something like: "regional pairs cannot be modified" or "assigned paired region cannot be changed, i.e: West US paired region will always be East U

[2020-02-20 20:56] zaalion opened #48604 "Does Anomaly Detector support "secondly" Granularity?"
By looking at the Granularity enum, I only see down to the "minutes".

Thanks,
Rez

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 222f4df2-f986-f47d-73fa-b7c2eb9c056f
* Version Independent ID: 8af3c8fe-2943-4b14-a209-ff62f4734b97
* Content: [Best practices when using the Anomaly Detector API - Azure Cognitive Services]

[2020-02-20 20:58] kgremban commented on #44675
@romankiss We haven't heard back from you so I'm going to close this issue, but if you have any follow-up questions feel free to post here again and we can reopen the issue if necessary. Thank you.

#please-close

[2020-02-20 20:58] #44675 closed

[2020-02-20 21:06] rambk commented on #27739
@fefie Thank you for the feedback. The typo has been fixed.

[2020-02-20 21:07] vtvel commented on #27791
Even i had the same issue  but as soon as i have added the user to my newly created tenant i could able to get the tenant details

New-RdsRoleAssignment -TenantName 'TenantName' -SignInName 'xxxxx@domain.com' -RoleDefinitionName "RDS Owner"

Get-RdsTenant -Name  'TenantName'

[2020-02-20 21:13] iainfoulds commented on #48356
Thanks for the feedback, @MatthewMcD. I've reached out the product group to confirm the underlying engine doesn't change the supported state of the Edge browser.

#in-progress

[2020-02-20 21:15] CharmanderJieniJieni commented on #48450
Thanks for looking into it. Whether there would be a reboot or not will
directly affect out encrypting strategy. Is there a reason why the word
"may" is used here? Isn't this a definite yes or no question?

On Thu, Feb 20, 2020 at 3:24 PM SaurabhSharma-MSFT <notifications@github.com>
wrote:

[2020-02-20 21:19] mikaelweave opened #48605 "How Long Until Deploy If Not Exist Executes?"
The documentation does not specify how long until a deployIfNotExist action executes. Can this be added?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99d433a1-4e81-e226-e835-639daa90dab4
* Version Independent ID: ab3aa1ad-f438-e2a1-5556-9f9b6269ba76
* Content: [Remediate non-compliant resources - Azure Policy](https:

[2020-02-20 21:20] KranthiPakala-MSFT commented on #48441
@Thorium Thanks much for the feedback. We have an action item opened internally to update the document as appropriate.

Since we are tracking this internally, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me or @spelluru in your reply and reopen the issue. We will gladly continue the discussion.

Thank you. :)

@spelluru - Thanks much fo

[2020-02-20 21:20] #48441 closed

[2020-02-20 21:21] iainfoulds commented on #47775
Thanks for the feedback, @JeremyTBradshaw. I've updated the doc to reflect the complete name throughout of "Office 365 Business Premium". This doc update should publish later on today.

#in-progress

[2020-02-20 21:24] TaylorN15 opened #48606 "Global Temporary table not persisted between activities"
I have done exactly what is described here https://docs.microsoft.com/en-us/azure/data-factory/connector-sql-server#upsert-data but when the Stored Procedure activity goes to run, it fails as it cannot find the temp table ##myData

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2e7af17-5daf-eebf-92b4-433eca93d328
* Ver

[2020-02-20 21:33] #47775 closed

[2020-02-20 21:39] ticianaciminari opened #48607 "NSG for GatewaySubnet"
@hadr10 commented 7 hours ago — with docs.microsoft.com
Hello,

how i can associate nsg for gatewaySubnet? I want to use for nsg flow logs -&gt; traffic analytics.
Failed to save subnet 'GatewaySubnet'. Error: 'The operation failed because the network security group can not be associated to the GatewaySubnet. Please remove the network security group associated to the GatewaySubnet. No changes have

[2020-02-20 21:40] ticianaciminari commented on #48607
Hi Team,

Could you please check the question from user?

Kind regards,
Microsoft DOCS International Team

[2020-02-20 21:47] KranthiPakala-MSFT commented on #48318
@michaeljcameron I have verified this with internal team and confirmed that this is by design. Move-AzDataLakeGen2Item cmdlet can be used for both directories as well as files.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2020-02-20 21:47] #48318 closed

[2020-02-20 21:51] Karishma-Tiwari-MSFT commented on #47908
Since you have RBAC enabled, by default the dashboard won't have any access.
We would need to verify the content of the clusterRoleBindings

`kubectl describe clusterrolebinding kubernetes-dashboard`
to ensure that you have the right settings.

[2020-02-20 21:54] SaurabhSharma-MSFT commented on #48477
@WiseOldHowell Unfortunately, it is not possible through PowerShell.
Please post this as a feedback at [UserVoice](https://feedback.azure.com/forums/169401-azure-active-directory). This will allow the community to upvote and for the product team to include into their plans. "This Product" button in at the bottom section of the document now to take you directly to the appropriate feedback page.

[2020-02-20 21:57] Karishma-Tiwari-MSFT commented on #46970
@giovannifl Is there an update? Did that help answer your question?

[2020-02-20 21:59] Karishma-Tiwari-MSFT commented on #48274
@TomArcherMsft Can you please share your insights on the customer's question. Thanks :)

[2020-02-20 21:59] anavinahar commented on #45707
Okay please re-open once you have a follow up.

#please-close

[2020-02-20 21:59] #45707 closed

[2020-02-20 22:02] SaurabhSharma-MSFT commented on #48560
@MarkusVi do you have any idea on this ?

[2020-02-20 22:06] kobulloc-MSFT commented on #47969
At the end of the doc under "Next Steps", "Create web tests" links to a 2015 blog with the [URL above](https://azure.microsoft.com/en-us/blog/creating-a-web-test-alert-programmatically-with-application-insights/) which is now out of date.

[2020-02-20 22:08] Mike-Ubezzi-MSFT commented on #48565
@manueljesusrd Thank you for bringing this to our attention. I will have the content team evaluate this and update the documentation accordingly.

**Note:**
The [Azure Key Vault](https://docs.microsoft.com/en-us/azure/key-vault/) link detailed in the documentation takes you to a non-specific documentation page. If the content exists, it would be better to have specific reference to how to store ce

[2020-02-20 22:09] TravisCragg-MSFT commented on #27739
@fefie We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-20 22:09] #27739 closed

[2020-02-20 22:14] vhorne commented on #46628
Article updated. Should be live later this afternoon.
#please-close

[2020-02-20 22:14] #46628 closed

[2020-02-20 22:20] ckssaas opened #48608 "Hybrid Deployment Unclear"
Hello,

The section detailing hybrid deployment with Password Hash Sync and Pass-through Auth is unclear. Furthermore, there is no guidance for deployment with Password Hash Sync. Please elaborate on how these models are used to protect on-prem.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c7b90ca-a2b1-9cd8-

[2020-02-20 22:21] vhorne commented on #44782
#reassign:winthrop28

[2020-02-20 22:24] TravisCragg-MSFT commented on #48607
@ticianaciminari as is discussed [Here in the Note](https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-about-vpn-gateway-settings#gwsub), applying a NSG on the Gateway Subnet is not supported. If you would like us to enable this feature in the future, please [leave your feedback Here](https://feedback.azure.com/forums/217313-networking/suggestions/32954200-allow-nsg-for-vpn-gateway-sub

[2020-02-20 22:27] Karishma-Tiwari-MSFT commented on #48336
Do you have the support case open for this issue? If yes, I would recommend working with the support engineer on your case and get your questions answered.

Regarding the current state of the art of this feature there is no specific cmdlet to enable managed identities in the application, but you also do not need to have one deployed to enable it.

In this case the scenario is that this feature is

[2020-02-20 22:27] vhorne commented on #44048
#reassign:winthrop28

[2020-02-20 22:28] vhorne commented on #43902
#reassign:winthrop28

[2020-02-20 22:29] vhorne commented on #43524
#reassign:winthrop28

[2020-02-20 22:30] vhorne commented on #42533
#reassign:winthrop28

[2020-02-20 22:32] Karishma-Tiwari-MSFT commented on #48343
@MashaMSFT Can you please share your inputs on the customer's query referencing the doc. Thanks :)

[2020-02-20 22:32] MasayaAUT opened #48611 "One Azure Kinect Senor not working"
Sorry wrong github please delete

[2020-02-20 22:33] MicrosoftGuyJFlo commented on #47823
The link "Device compliance policies work with Azure AD" in next steps covers these at the top level added same doc in the intro section via PR linked to this issue.

[2020-02-20 22:33] Karishma-Tiwari-MSFT commented on #48347
Can you please elaborate on your ask, as in what do you recommend adding to the document? Thanks

[2020-02-20 22:34] SnehaGunda commented on #48215
Dropped an email to the team to learn more.

[2020-02-20 22:37] Jont-K opened #48612 "labels don't match what's listed in the Create new SaaS offer document or Partner Center"
When creating a new plan in Partner center and readying the "Create a new SaaS offer...." document, the labels are different than what is listed in this document.  for example, "Enabled ID"= "Dimension Identifier", "Display Name" = "Dimension Name"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a4a35b2-e653-3199-1b07-

[2020-02-20 22:38] #47823 closed

[2020-02-20 22:39] SaurabhSharma-MSFT commented on #48598
@vikaskumawat80 Yes, you can as mentioned in the document if your tenant does not have an Office 365 E3 or Office 365 E5 license, you must enable unified auditing on your tenant using one of these processes:
- Using the Set-AdminAuditLogConfig cmdlet and enable the parameter “UnifiedAuditLogIngestionEnabled”).
- Or using the Security & Compliance Center UI.

Unfortunately, it is not available in G

[2020-02-20 22:39] kobulloc-MSFT commented on #48466
@j03Martin I believe the following feedback is in line with your request.  I've added my vote and feel free to do the same to get more visibility to the product group:

https://feedback.azure.com/forums/357324-azure-monitor-application-insights/suggestions/35020774-add-arm-template-support-for-continuous-export

We are going to close this thread as resolved but if there are any further questions r

[2020-02-20 22:39] #48466 closed

[2020-02-20 22:40] SnehaGunda commented on #48007
@ginamr @timsander1 Can you please help with this issue.

[2020-02-20 22:40] SaurabhSharma-MSFT commented on #48608
@ckssaas Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-02-20 22:41] koo9 commented on #48396
@JasSuri I have another outputclaim for
<OutputClaim ClaimTypeReferenceId="issuerUserId" PartnerClaimType="oid" />

when logging with azure ad, it gives a different value than sub. but with
<OutputClaim ClaimTypeReferenceId="objectId" PartnerClaimType="oid"/>

it will map oid to object id which is the same as sub.  so obviously we can not mapp oid to different value from different provider.

[2020-02-20 22:45] KumudD commented on #47014
@vikranthsuravarapu Thanks for bringing this to our attention. I have removed the broken link text. Thanks!
#please-close

[2020-02-20 22:45] #47014 closed

[2020-02-20 22:47] KumudD commented on #46986
#reassign: @Anupamvi

[2020-02-20 22:52] Karishma-Tiwari-MSFT commented on #46134
"Required ports and addresses for AKS clusters" in this doc:

https://docs.microsoft.com/en-us/azure/aks/limit-egress-traffic#required-ports-and-addresses-for-aks-clusters

Those ports should be open and never blocked.

Are you saying that you have created an Azure Firewall and configured it to allow ALL of the listed FQDNs and ports to be allowed in the Azure Firewall ?

[2020-02-20 22:53] iainfoulds commented on #48608
Thanks for the feedback, @ckssaas

What, specifically, is unclear and you're looking for more information on?

[2020-02-20 22:57] Adebeer commented on #48295
@KrishnaG-MSFT

Feedback I have from support:
- The default port when using .\CosmosDB.Emulator /EnableMongoDBEndpoint=<ver> is that the mongo port is 10250 instead of 10255. I think this info should be added to table in [ms docs](https://docs.microsoft.com/en-us/azure/cosmos-db/local-emulator#command-line-syntax)
(note: there's a bug as the connection string in emulator still shows 10255)

- Ther

[2020-02-20 22:57] #48295 closed

[2020-02-20 22:58] UniSnake commented on #43975
@spelluru This was the error I received:

[2020-02-20 22:58] #48611 closed

[2020-02-20 23:00] rezasherafat commented on #48533
I think building the samples using vcpkg of the C SDK should be possible. Adding @ericmitt from our SDK team to look into this.

[2020-02-20 23:03] spelluru commented on #43975
@banisadr - Please see the error message. Thanks.

[2020-02-20 23:14] SnehaGunda commented on #48295
@Adebeer Thanks for your feedback, I just installed a fresh version of the emulator and tried starting with the  /EnableMongoDbEndpoint=3.6,  /EnableMongoDbEndpoint=3.2 options. The CosmosDBEmulator directory will be updated to use the 3.2 or 3.6 endpoints, if you choose "Yes" to the popup, you don't have to pass the port number explicitly, It uses the 10255 port by default.

Would you be interest

[2020-02-20 23:16] BharathNimmala-MSFT commented on #48337
@aewilliams1705 Apologies currently we don't have any ETA for support of creating ITSM connections in EastUS2 region. However if we have any updates in the future about the ETA will keep this thread informed.

At this point it appears that no further edits or updates needed for the document , will go-ahead and close this issue for now. However if you have any queries please tag us in your reply an

[2020-02-20 23:16] #48337 closed

[2020-02-20 23:24] femsulu commented on #48033
adding @MGoedtel for review.

[2020-02-20 23:27] mike-urnun-msft commented on #48065
@mshanahanost It appears that the Peek() and PeekAsync() are no longer available through both [QueueClient](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/servicebus/Microsoft.Azure.ServiceBus/src/QueueClient.cs) and [SubscriptionClient](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/servicebus/Microsoft.Azure.ServiceBus/src/SubscriptionClient.cs), and the recommendation is

[2020-02-20 23:27] #48065 closed

[2020-02-20 23:28] Mike-Ubezzi-MSFT commented on #47526
Referencing additional issue where same topic is being discussed: https://github.com/Azure/azure-cli-extensions/issues/1248

[2020-02-20 23:31] SnehaGunda commented on #47265
@TheovanKraay Did you finish the doc update? please comment if this issue is ready to close.

[2020-02-20 23:35] TheovanKraay commented on #47265
Yes this can be closed.

[2020-02-20 23:35] MicrosoftGuyJFlo commented on #39860
From the Product Group:

There is no dependency on anything but enterpriseregistration.windows.net.

If you are still having issues with this it would be best to open a support case to trace this out further.

[2020-02-20 23:35] MicrosoftGuyJFlo commented on #39860
#please-close

[2020-02-20 23:35] #39860 closed

[2020-02-20 23:38] MicrosoftGuyJFlo commented on #45978
@shAFXr Still waiting for feedback from the Product Groups. I havent forgotten about this.

[2020-02-20 23:39] mike-urnun-msft commented on #48081
@alex-vandermeulen I have validated this as per #48065 and proceeded remove the below statement until further clarification is provided from product team. Please use MessageReceiver object in meantime.

"_For queues, you can use the [QueueClient](/dotnet/api/microsoft.servicebus.messaging.queueclient), Topic subscriptions use the [SubscriptionClient](/dotnet/api/microsoft.servicebus.messaging.subs

[2020-02-20 23:39] #48081 closed

[2020-02-20 23:41] MartinJaffer-MSFT commented on #48601
Hello @landon-ochs  and thank you for bringing this to our attention.  The rules for what constitutes success or failure are a bit un-intuitive.  I like your idea for the ability to choose the criteria for success/fail.  Please share it in the [feedback forum](https://feedback.azure.com/forums/270578-azure-data-factory).  Once that is done, share a link here so others can upvote your idea and show

[2020-02-20 23:49] mike-urnun-msft commented on #48203
@mganeshphani We have reached out to the product team regarding this feedback as it has become a common request ever since the Powershell support has gone GA. Functions team is working on making a collage of Powershell samples available and they'll soon be published on our docs in a consistent manner with samples for other languages. In the meantime, if you'd like assistance on a specific scenario

[2020-02-20 23:49] #48203 closed

[2020-02-20 23:52] krispenner commented on #48478
![image](https://user-images.githubusercontent.com/8837910/74990756-fbd11580-53f8-11ea-8197-c3aeb42ac6df.png)

[2020-02-20 23:54] mike-urnun-msft commented on #48136
@baskarmib Thanks for reporting this and helping us drive improvement towards MS Docs. Correct default version is **3.x**. I've created a PR that updates the sentence to read as follows:

"By default, function apps created in the Azure portal and by the Azure CLI are set to version **3.x**"

We will now proceed to close this thread. If there are further questions regarding this matter, please reop

[2020-02-20 23:54] #48136 closed

[2020-02-20 23:56] Mike-Ubezzi-MSFT commented on #48108
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-02-20 23:56] #48108 closed

[2020-02-20 23:57] mike-urnun-msft commented on #48165
Hi @miaojiang could you share your insights on this one?

[2020-02-20 23:59] andrewatfornax commented on #36395
I'll take your word on it - 6+ months is beyond my span to come back and check I'm afraid :-D

[2020-02-21 00:13] mike-urnun-msft commented on #48167
@mira-mayhem Notation derives from NuGet package versioning, defines a range called "Mixed inclusive minimum and exclusive maximum version". Please see: [Version ranges and wildcards](https://docs.microsoft.com/en-us/nuget/concepts/package-versioning#version-ranges-and-wildcards)

Since this channel is more for driving improvements towards MS Docs and we haven't determined any changes after review

[2020-02-21 00:13] #48167 closed

[2020-02-21 00:15] Mike-Ubezzi-MSFT commented on #48188
@FredFaust There is limited support for Gremlin.NET and this specific document is a general topic to Cosmos DB, and not catered to a specific API. I will have the content team review this and update the [Supported SDK version](https://docs.microsoft.com/en-us/azure/cosmos-db/large-partition-keys#supported-sdk-versions) section as appropriate. @SnehaGunda for awareness.

[2020-02-21 00:23] BharathNimmala-MSFT commented on #48605
@mikaelweave Thank you for sharing the feedback, we will further evaluate and get back to you at the earliest.

[2020-02-21 00:23] KranthiPakala-MSFT commented on #48606
@TaylorN15 Thank you for reaching out and bringing this to our notice. At this time we are reviewing the ask and will provide an update as appropriate

[2020-02-21 00:24] MicrosoftGuyJFlo commented on #45978
For Android Enterprise devices where organizations want to control over mail settings Gmail and Nine Work are the currently supported apps.

https://docs.microsoft.com/intune/configuration/email-settings-android-enterprise

[2020-02-21 00:24] MicrosoftGuyJFlo commented on #45978
#please-close

[2020-02-21 00:24] #45978 closed

[2020-02-21 00:25] qiudashi opened #48616 "typo in run.input_datasets method"
In this section:
https://docs.microsoft.com/en-us/azure/machine-learning/how-to-train-with-datasets#access-the-input-dataset-in-your-training-script

I think the sample code of get input dataset from run contains a typo:
where "dataset = run.input_datasets['titanic_ds']" should be "dataset = run.input_datasets['titanic']" because in the following estimator code the input datasets is named as "tita

[2020-02-21 00:25] BharathNimmala-MSFT commented on #48612
@Jont-K  Thank you for sharing your feedback, we will further look into it and get back to you at the earliest.