[2018-03-30 14:22] molinamelendezj commented on #6436
![image](https://user-images.githubusercontent.com/19845556/38140956-30cae598-3404-11e8-877f-92812ea9060f.png)

[2018-03-30 14:23] molinamelendezj commented on #6436
@vhorne I see you are under app gateway perhaps i'm confusing it, I was looking under the load balancer health probe.

[2018-03-30 14:37] jianhuatian opened #6525 "In Windows 10, it didn't find the ssh command, cannot run ssh azureuser@13.92.154.191. Does it only run in linux?"
In Windows 10, it didn't find the ssh command, cannot run ssh azureuser@13.92.154.191. Does it only run in linux?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b81a147-db1c-b92f-88d1-6dd0991a72fe
* Version Independent ID: f5a2c949-498f-5848-d89c-031d1a757120
* Content: [SSH into Azure Container Service (AKS) cluster

[2018-03-30 14:38] Mike-Ubezzi-MSFT commented on #6484
@SamirFarhat All the above information I provided pertains to the CosmosDB Emulator, and is taken from the following content: [Use the Azure Cosmos DB Emulator for local development and testing](https://docs.microsoft.com/en-us/azure/cosmos-db/local-emulator#trace-files).

[2018-03-30 14:39] dlyall-maine opened #6526 "Incomplete JSON example"
The C# code creating the SQL container contains the following line that specifies the partition key path:

myCollection.PartitionKey.Paths.Add("/pk");

However the JSON example does not contain this path.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf261de8-a6fa-9497-ffff-106550e2a537
* Version Independent ID: ee046

[2018-03-30 14:54] wolftrace commented on #5252
@linda33wj Thank you so much.

I figured there was some issue with my JSON.

I was able to get it working with the JSON example you provided, with "SELECT * FROM Orders" as my query, setting the source and sink information in the tabbed windows.

Still running into some separate issues with getting the data mapped to Azure SQL or an Azure Table, but I was able to confirm the data is getting throug

[2018-03-30 15:01] mattbriggs commented on #6452
@JimmyHjelte  Thanks for letting me know. I'll update with the right link. #in-progress

[2018-03-30 15:02] NCSTman commented on #6467
@MohitGargMSFT
Ok I'll expand more on the what I mentioned in the OP:
Requirements/Assumptions:
1.-AzureAD cloud environment
2.-Proper Admin credentials to that environment
3.-WMF 5.0+ installed and AzureADPreview installed [mentioned in the documentation already]
4.-Have MS Teams desktop app at minimum installed [browser version should work as well but I use the desktop app]
5.-I'll mainly assume

[2018-03-30 15:15] NCSTman commented on #6467
Also forgot to mention to confirm everything looks fine in MS Teams it can take up to 24 hrs... why I don't know hoping MSFT can say but yeah I'll leave that for another day. I can confirm this works for dynamic membership changes on at least 15 groups/Teams I've created so far.

[2018-03-30 15:24] fliang-ms commented on #6483
This is very important public document. Our tool automatically retrieves VM size information from these public documents. May I have the ETA for the fix?

[2018-03-30 15:25] chunsiongtan opened #6527 "Sign up for the Availability Zones preview"
Sign up for the Availability Zones preview does not go to a "signup" page, it redirects to Azure Portal Sign-In. Is there a specific Sign-Up for Preview Page?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cca70845-100f-2cfd-aba3-34b7fa4a5264
* Version Independent ID: 475b26e5-9e23-f769-3bd5-cbc4a678dbf0
* Content: [Av

[2018-03-30 15:33] rmrs75 opened #6528 "Non domain devices"
Hello,

Does PTA only works on domain joined devices?

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c535414b-05a2-d4b5-8f15-5c93274d25ef
* Version Independent ID: 0bef709f-d10f-5fe6-68a8-f21d0204ecd5
* Content: [Azure AD Connect: Pass-through Authentication - Current limitations](https://docs.microsoft.com/en

[2018-03-30 15:38] mimig1 commented on #6338
#in-progress

[2018-03-30 15:50] JohnBruceMS opened #6529 "Group Based Licensing"
Group Based Licensing is working in Azure Gov.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d495f3d-a30d-0e44-a0de-da201e95861c
* Version Independent ID: fa8f545e-e154-16ee-c9ef-0e46ad1b9627
* Content: [Azure Government Security + Identity](https://docs.microsoft.com/en-us/azure/azure-government/documentation-govern

[2018-03-30 16:06] JamesRandall opened #6530 "Gremlin.NET - is this a good recommendation?"
Left this over on Twitter too (@azuretrenches) - is the TinkerPop Gremlin.NET package a good recommendation at the moment? I'm not sure it is against Cosmos DB. It doesn't expose errors such as rate limiting in a way that allows resilience policies (such as from Polly) to be elegantly used as it swallows the error codes and only returns strings - that then require string parsing to determine the m

[2018-03-30 16:14] MicahMcKittrick-MSFT commented on #6483
@fliang-ms I have submitted the change. Once the validation has past I will push it out live. ETA should be within the hour. If longer I will come back and let you know. Once the change has been made this issue will automatically close.

[2018-03-30 16:15] mattbriggs commented on #6452
@JimmyHjelte. The migration guide has been discontinued. If you have questions about how to use API profiles with PowerShell, there is [a topic in the Azure Stack docs,](https://docs.microsoft.com/azure/azure-stack/user/azure-stack-version-profiles) or you can check out the docs on global Azure about using PowerShell with Azure.  #please-close

[2018-03-30 16:18] CarlRabeler commented on #6352
@cloudmelon there is an edit button in the upper right-hand corner of each Azure topic that enables you to submit your edit for review.

[2018-03-30 16:26] #6483 closed

[2018-03-30 16:26] jimdial commented on #5989
@pantoffel I've added text that aligns to Matt's response to the CLI, Portal, and PowerShell versions of the article.  The changes should publish later today.  Thanks. #please-close

[2018-03-30 16:50] subsarma commented on #6522
You may need to restart your powershell session if you manually installed those modules. For the CLI, did you make sure to install the dns extension as described in https://docs.microsoft.com/en-us/azure/dns/private-dns-getstarted-cli#to-installuse-azure-dns-private-zones-feature-public-preview ?

[2018-03-30 16:54] DarinShapiroMS opened #6531 "Broken links under "related links""
"JWT token authentication" link and "Integrate Azure Media Services OWIN..." link are both resulting in "Error establishing a database connection" errors.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bb1d2842-a7df-e4bb-73fc-77c1cb9a5fa8
* Version Independent ID: 689edf64-1405-8f37-cb93-16a66ffc1b68
* Content: [Protec

[2018-03-30 17:02] subsarma commented on #6522
Also check if you have multiple versions of Dns or Network modules installed and if so perhaps your PS session is using an older version. Use the below command to check.

Get-installedmodule -allversions -name azurerm.dns

[2018-03-30 17:04] fperez2nd commented on #5401
I ran these commands successfuly with MFA enabled on my account.
The only strange thing was that I receive the following error when enabling and disabling: "Element 'mv-data' was not found. Line 1, position 2."
But Get-ADSyncExportDeletionThreshold confirms that my changes were successfull.

[2018-03-30 17:04] tysonn commented on #5934
@cjgronlund - Hey Carolyn, I've reached out twice to the author of this Cognitive Services article and they are not responding. Would you be able to follow up?

[2018-03-30 17:06] BryanTrach-MSFT commented on #6498
@ebragas Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-30 17:08] tysonn commented on #5393
@SteveMSFT - Could you follow up on this feedback item?

[2018-03-30 17:08] BryanTrach-MSFT commented on #6499
@thuansoldier Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-30 17:09] neilpeterson commented on #6349
@MicahMcKittrick-MSFT - I am not sure what is going on here. I've tried to deploy as well however am experiencing a different issue.

[code]

I think this will need to go to support / PG. I can help track down some help if needed.

Thanks

[2018-03-30 17:10] tysonn commented on #6021
@ezio2907 @SteveMSFT - It looks like there's a thumbs-up response here, so it looks like this question is answered, so I'm closing :)

[2018-03-30 17:10] #6021 closed

[2018-03-30 17:10] BryanTrach-MSFT commented on #6500
@tvperez76 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-30 17:12] BryanTrach-MSFT commented on #6502
@pankajisgarg Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-30 17:13] BryanTrach-MSFT commented on #6504
@aaronsteers Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-30 17:15] BryanTrach-MSFT commented on #6506
@jgallucci32 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-03-30 17:16] BryanTrach-MSFT commented on #6509
@nnasaki Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-30 17:17] MicahMcKittrick-MSFT commented on #6349
Thanks for coming @neilpeterson! Good to know it is not just us then :)

@HaikoHertes do you have the ability to open a [Technical Support Ticket](http://aka.ms/azsupt)?

If so, can you please open a ticket under the "Cannot Deploy" section and share the ticket number? We can continue this offline as it will require deeper investigation. Else, if you do not have the ability to open a support ticke

[2018-03-30 17:18] BryanTrach-MSFT commented on #6512
@mrdfuse Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-30 17:19] neilpeterson commented on #5972
@lastcoolnameleft - I am going to close this issue. Feel free to open it back up again to re-engage, we are happy to help.

#please-close

[2018-03-30 17:20] BryanTrach-MSFT commented on #6513
@cocowalla Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-30 17:21] neilpeterson commented on #6512
@mrdfuse - good suggestion. I can create backlog item to prioritize and completed this work.

@BryanTrach-MSFT - feel free to assign this one to me, thanks.

[2018-03-30 17:21] BryanTrach-MSFT commented on #6514
@amlenduc Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-30 17:23] figuerres opened #6533 "lacking information for web api applications and user tracking"
i have added code to my app. web api 2.0 app and the azure portal says 1 user and 1 session.
but when i drill down into the logged data i can see plenty of logged user id values.
also web api does not use asp.net session so we need a better way to do that.
i am logging with the jwt token as my sessionid  but the portal is not really showing sessions properly.
adding the ai owin package by the way

[2018-03-30 17:24] BryanTrach-MSFT commented on #6515
@Flodu31 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-30 17:25] neilpeterson commented on #6519
@jakzale - thanks a bunch for catching this. An update has been made and should publish today.

[2018-03-30 17:26] BryanTrach-MSFT commented on #6516
@kiranjshetty Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-30 17:27] BryanTrach-MSFT commented on #6518
@derekschauland Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-30 17:28] BryanTrach-MSFT commented on #6519
@jakzale We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-30 17:28] #6519 closed

[2018-03-30 17:28] neilpeterson commented on #6525
@jianhuatian - in Windows you will either need to use an SSH client like putty, or use the [Windows Subsystem for Linux](https://docs.microsoft.com/en-us/windows/wsl/install-win10).

We are working on some docs platform changes that will allow us to include both Linux and Windows experiences in the same doc. Once these changes have occurred this doc will be updated to include some differentiation

[2018-03-30 17:29] BryanTrach-MSFT commented on #6520
@Phydeauxman Duplicate of #6522

[2018-03-30 17:29] #6520 closed

[2018-03-30 17:30] fliang-ms commented on #6483
I see the right version in the public document. Awesome!!! Thank you for prompt response.

[2018-03-30 17:31] BryanTrach-MSFT commented on #6521
@madmox Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-30 17:33] tfitzmac commented on #6514
@amlenduc - containerSasToken is a parameter in the template. It is passed in so it can be used when linking to the other template. I can add a note in that section to clarify its use.

[2018-03-30 17:33] BryanTrach-MSFT commented on #6524
@varma31 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-30 17:35] BryanTrach-MSFT commented on #6525
@jianhuatian Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-03-30 17:36] BryanTrach-MSFT commented on #6526
@dlyall-maine Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-30 17:38] BryanTrach-MSFT commented on #6452
@JimmyHjelte We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-30 17:38] #6452 closed

[2018-03-30 17:38] Brenduns commented on #6510
#in-progress

[2018-03-30 17:39] BryanTrach-MSFT commented on #5406
@DaveStabilify We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-30 17:39] #5406 closed

[2018-03-30 17:41] MicahMcKittrick-MSFT commented on #6527
@chunsiongtan Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-30 17:42] MicahMcKittrick-MSFT commented on #6531
@DarinShapiroMS Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-30 17:56] MicahMcKittrick-MSFT commented on #6134
@imaterek which SKU are you using?

[2018-03-30 17:57] curtand commented on #6123
@adamfowlerit
I got your answer. You were using the -not operator, which cannot be used as a comparative operator for null. This is by design and is not supported. You get an error even if you use $null with that operator. In general, the way to handle the scenario is to use -eq or -ne. You can use null or $null and it won’t matter.

[2018-03-30 17:58] rajag-github commented on #6527
@chunsiongtan General Availability of Azure Availability Zones was announced earlier this morning. You no longer need to signup for access.

[2018-03-30 18:00] bdcoder2 opened #6534 "Running the function host -- how???"
Documentation states:

To run a Functions project, run the Functions host. The host enables triggers for all functions in the project:

func host start

I open a command window, and enter:
func host start

And the system displays:
Command "func" is not valid.

Obviously, I must have missed something; I ASSUME I enter the command in the command window -- but obviously, this DOES NOT WORK.   So, per

[2018-03-30 18:05] MicahMcKittrick-MSFT commented on #6531
@DarinShapiroMS thanks for this find! I have assigned this to the content author to review and update the links accordingly.

@Juliako please take a look.

[2018-03-30 18:08] MGoedtel commented on #6472
@pawankt - Yes, check out this ARM template created by a member of our Azure CAT team - https://azure.microsoft.com/en-us/resources/templates/oms-existing-storage-account/.  Let me know if that doesn't help and in the meantime, I'll add a task to update this article to reference that template and anything else relevant I can include such as using POSH.

[2018-03-30 18:15] MicahMcKittrick-MSFT commented on #6524
@varma31 although it is not listed in this specific step it is stated in previous steps:

https://docs.microsoft.com/en-us/azure/virtual-machines/windows/tutorial-availability-sets

<img width="155" alt="image" src="https://user-images.githubusercontent.com/32313503/38148481-8fbd12e0-340b-11e8-83e8-b57da07829de.png">

In addition, the New-AzureRmVm command does allow for the -availabilitySetName p

[2018-03-30 18:15] #6524 closed

[2018-03-30 18:16] MicahMcKittrick-MSFT commented on #6527
@chunsiongtan as @raj-ganapathy-msft mentioned you no longer need to signup :) it is now GA. I will close this out but if you have further questions let me know and I can reopen and we can continue.

[2018-03-30 18:16] #6527 closed

[2018-03-30 18:18] iainfoulds commented on #6524
Yep, the Availability Set isn't central to this doc so isn't detailed very much, but those parameters do exist. I believe they were introduced in Azure PowerShell 5.3.0, so check the version that you are running. The Azure Cloud Shell at [shell.azure.com/powershell](shell.azure.com/powereshell) always has the latest version (currently 5.6.0), or you can find instructions on manually installing the

[2018-03-30 18:30] apsave commented on #5401
hot dog. After upgrading to PowerShell v5 (was running v4) on the AADC server I can do it.
Still weird though - the credential popup is the basic username and password prompt, which then gives me the modern auth popup that asks me again for my password, then MFA.
But, for the remainder of the PS session I only need to enter username into the basic window to run subsequent commands, so it's kinda w

[2018-03-30 18:30] rolyon commented on #6250
Hi @NiklasJern,
I've updated the Virtual Machine Contributor description and several other descriptions for the built-in roles to better match the portal. I've also forwarded your feedback to the VM team. If you have more details about the conversion to managed disks, let me know.
thanks,
#please-close

[2018-03-30 18:32] BryanTrach-MSFT commented on #6450
@TechnicallyWilliams It appears the site may have been deleted since yesterday evening. Can you please email me at brtrach@microsoft.com if you are still having issues. We look forward to your reply.

[2018-03-30 19:00] mimig1 commented on #6338
Hi @PrateekChaudharyDevOps - Thank you for alerting us to this issue. I've made the updates in the documentation and they are live on the site: https://docs.microsoft.com/en-us/azure/cosmos-db/firewall-support. #please-close

[2018-03-30 19:08] tfitzmac commented on #6451
@kazshi - the [updated article](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-move-resources) is live. Thanks again for this suggestion. Let me know if more changes are needed.

[2018-03-30 19:08] tfitzmac commented on #6451
#please-close

[2018-03-30 19:09] Ayanmullick opened #6537 "Connect Log Analytics to Automation account"
How do I connect a Log analytics Workspace to an automation account thru Powershell?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb75e535-de4f-e730-4dfb-dfc160386f45
* Version Independent ID: 6b355634-913c-65e4-62fa-a51cfeff143a
* Content: [Use PowerShell to Create and Configure a Log Analytics Workspace](https://do

[2018-03-30 19:14] Ayanmullick opened #6538 "Query Solutions gallery"
How do I query the solutions gallery thru Powershell?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f61b1df-cf84-7854-4a85-383030a64a9c
* Version Independent ID: a9f7f76f-20d3-6281-c295-e46453089e1f
* Content: [Add Azure Log Analytics management solutions](https://docs.microsoft.com/en-us/azure/log-analytics/log-anal

[2018-03-30 19:15] markgalioto commented on #6332
@KeiroKamioka0000 , Thank you for your question. The article that is referenced in your question, explains how to modify the backup policy using the Microsoft Azure Recovery Services (MARS) agent. In step 2 of the [Modify the backup schedule section](https://docs.microsoft.com/en-us/azure/backup/backup-azure-manage-windows-server#modify-the-backup-schedule), it shows you can change the backup sche

[2018-03-30 19:15] #6451 closed

[2018-03-30 19:16] MicahMcKittrick-MSFT commented on #6534
@bdcoder2 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-30 19:16] markgalioto commented on #6332
#please-close

[2018-03-30 19:17] mike-urnun-msft commented on #6458
@julianatanasoae Thanks for reporting this! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-03-30 19:20] spottedmahn opened #6539 "Company Branding vs UI Customizations"
There is a Company Branding feature that only works on sign-in only policies.  And then there is this UI customization in this article.

Reference: [SO Post](https://stackoverflow.com/a/46057178/185123)

I think the differences should be documented...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b1a5dbe-3776-6cbf-41

[2018-03-30 19:30] madmox commented on #6521
Thanks for your quick answer!

It's the storage account admin's responsibility to manage the access policies according to the access level of the blob container, not the tool used to manage it. I can see plenty of use cases where you would want to change the access level of a blob container after having configured a set of access policies, either because of a new business requirement, or a technic

[2018-03-30 19:35] MicahMcKittrick-MSFT commented on #6534
@bdcoder2 the func command installed when you get to this portion of the doc:

https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local#install-the-azure-functions-core-tools

This include running `npm install -g azure-functions-core-tools@core`

[code]

You might need to restart your PC after installing it before the `func` command works.

[2018-03-30 19:39] MicahMcKittrick-MSFT commented on #6521
@madmox thanks for the examples! I completely agree.

[2018-03-30 19:42] #6474 closed

[2018-03-30 19:42] MohitGargMSFT commented on #6474
@Rachitgupta1994 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-30 19:56] MGoedtel commented on #6537
@Ayanmullick - Check out the following article - https://docs.microsoft.com/en-us/azure/automation/automation-manage-send-joblogs-log-analytics.  Please let me know if this doesn't answer your question.

[2018-03-30 19:57] BryanTrach-MSFT commented on #6518
@derekschauland is the other API management service running on the developer or premium SKU? In theory, you should be able to scale up the first api instance to premium SKU (2 IPs) if the second api instance is running on the developer SKU (1 IP), which would consume all 3 available IPs.

If the second api instance was running at premium SKU already when you tried scaling the first api instance to

[2018-03-30 20:06] dirrelito commented on #5565
Love that you are on track with this. I spent 2-3 hours today trying to track down this bug. It is a big hurdle for us IIS-novices.

[2018-03-30 20:07] Mike-EEE opened #6541 "Missing Logs"
I see the folder as described `<DefaultTempDirectory>\LogFiles\Application\Functions`, and I am emitting simple information messages from both `ILogger.LogInformation` and `TraceWriter.Info`, but unfortunately nothing is being added to this folder.  I am using v2, `v1.0.12`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2018-03-30 20:08] derekschauland commented on #6518
Both were at Developer one had an external vnet connection and one had an internal connection trying to scale one up to premium failed

The removing the internal network connection from the other one and trying the scale again failed as well

Removing both from the vnet scaling one to premium while not connected the adding it to the vnet with an external connection got things corrected

Sent from

[2018-03-30 20:08] DarinShapiroMS commented on #6531
Thanks Micah.
 I found the same broken link on another page as well…
https://docs.microsoft.com/en-us/azure/media-services/media-services-cenc-with-multidrm-access-control

[2018-03-30 20:09] MicahMcKittrick-MSFT commented on #6541
@Mike-EEE Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-30 20:11] PrateekChaudharyDevOps commented on #6338
Thanks everyone for your quick action

Best Regards
Prateek chaudhary

On Fri, 30 Mar 2018 at 21:00, Mimi Gentz <notifications@github.com> wrote:

--
Best Regards
Prateek Chaudhary
M:+47-48625016

[2018-03-30 20:15] MicahMcKittrick-MSFT commented on #6531
Thanks @DarinShapiroMS ! Once @Juliako can confirm what the link should be I can update the other doc as well.

[2018-03-30 20:15] Mike-Ubezzi-MSFT commented on #6509
@nnasaki You can use the Azure CLI to perform administrative tasks against [Server Logs in Azure Database for MySQL](https://docs.microsoft.com/en-us/azure/mysql/howto-configure-server-logs-in-cli).
You can then potentially use the Azure Scheduler to automate the download task. I hope this is information is useful to you. If you need additional information, please let me know.
Regards,
Mike

[2018-03-30 20:17] Mike-Ubezzi-MSFT commented on #6499
@thuansoldier Is there a specific section of the documentation that you are referring to? I need some additional information to understand the issue. Thank you, Mike

[2018-03-30 20:34] jpoon opened #6542 "ASF + OMS Template is Gone"
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-diagnostics-oms-setup#deploy-oms-by-using-a-resource-manager-template

The metadata page renders (https://azure.microsoft.com/en-us/resources/templates/service-fabric-oms/), but the underlying template is gone. ie, click the browse on GH or trying pressing the deploy button.

---
#### Document Details

⚠ *Do not edit this section

[2018-03-30 20:39] tfitzmac commented on #6514
@amlenduc - I added a sentence which should be published this afternoon. Feel free to reopen if it needs more clarification.

[2018-03-30 20:39] #6514 closed

[2018-03-30 20:42] MicahMcKittrick-MSFT commented on #6541
@Mike-EEE just to double check, the temp file you are looking at is the path: C:\Windows\Temp?

[2018-03-30 20:43] BryanTrach-MSFT commented on #6504
@saveenr It appears the linked doc might have been deleted and I'm unable to locate a similar document to replace it with.

[2018-03-30 20:45] neilpeterson commented on #6512
@mrdfuse - I have added this item to my backlog and will track from there. I am going to close this issue out. Thanks for the suggestion.

#pleas-close

[2018-03-30 20:45] roygara commented on #6426
@Adam-Smith-MSFT  I'll be taking this particular one, feel free to assign to me.

@bryhall  Thanks for pointing this out! I'll be updating the article and will let you know via this issue when the change has been merged.

[2018-03-30 20:46] Mike-Ubezzi-MSFT commented on #6516
@kiranjshetty I am not finding a Pro/Con document but I can provide you a [reference architecture](https://docs.microsoft.com/en-us/azure/architecture/reference-architectures/dmz/secure-vnet-hybrid) that allows for either a [VPN Gateway](https://docs.microsoft.com/en-us/azure/architecture/reference-architectures/hybrid-networking/vpn) or [ExpressRoute](https://docs.microsoft.com/en-us/azure/archit

[2018-03-30 20:47] dkkapur commented on #6542
@srrengar FYI

[2018-03-30 20:50] cjgronlund commented on #5934
@noellelacharite Please work with @garyericson to go through the process of resolving.

[2018-03-30 20:52] Mike-Ubezzi-MSFT commented on #6526
JSON Sample:
{
    "id": "1",
    "firstName": "Gaby",
    "lastName": "Duperre",
    "email": "gaby@contoso.com",
    "address": [
        {
            "line1": "100 Some Street",
            "line2": "Unit 1",
            "city": "Seattle",
            "state": "WA",
            "zipCode": 98012
        }
    ],
}

[2018-03-30 20:53] MicahMcKittrick-MSFT commented on #6541
@ggailey777 I have been trying to repro this in my local environment but having some troubles. Can you confirm the steps in the doc are correct?

[2018-03-30 20:55] revodavid opened #6543 "What is IRIS?"
The last paragraph mentions "IRIS", a term that has not been previously introduced.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fdb2597d-a612-4cd2-3005-85ab51574f01
* Version Independent ID: 84c078ba-b424-e81d-4dd1-1eb14b11d378
* Content: [Getting started improve your classifier using Custom Vision Service machine l

[2018-03-30 20:55] MicahMcKittrick-MSFT commented on #6542
@jpoon Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@srrengar I have assigned it to you as Deep mentioned you above.

[2018-03-30 20:57] Ayanmullick opened #6544 "Enable Inventory thru Powershell"
How do I enable Inventory thru Powershell.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17043b3e-4d1a-e3fa-418e-9819ba58bac6
* Version Independent ID: 189f65fd-b672-e3e4-6f96-37d7449d3e7a
* Content: [Manage an Azure virtual machine with inventory collection](https://docs.microsoft.com/en-us/azure/automation/automatio

[2018-03-30 20:57] #6512 closed

[2018-03-30 20:58] bdcoder2 commented on #6534
@Micah,

Still having issues with running the functions locally…

See:

https://developercommunity.visualstudio.com/content/problem/226035/unable-to-use-azure-functions-in-visual-studio.html

From: Micah <notifications@github.com>
Sent: Friday, March 30, 2018 1:36 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: bdcoder2 <bdaviduck@shaw.ca>; Mention <mention@noreply.github.com>

[2018-03-30 20:59] MicahMcKittrick-MSFT commented on #6543
@revodavid I have assigned this to the content author to answer as well as consider adding a link or explination into this doc.

@anrothMSFT can you please take a look?

[2018-03-30 21:02] pawankt commented on #6472
This is awesome, let me try

[2018-03-30 21:02] MicahMcKittrick-MSFT commented on #6544
@Ayanmullick I have assigned this to the content author to follow up on.

@jennyhunter-msft can you provide an answer to this? In addition, consider adding the PowerShell equivalent into this doc?

[2018-03-30 21:04] MicahMcKittrick-MSFT commented on #6539
@spottedmahn Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-03-30 21:05] MicahMcKittrick-MSFT commented on #6528
@rmrs75 Thanks for the question! We are currently investigating and will update you shortly.

[2018-03-30 21:07] jennyhunter-msft commented on #6544
Inventory is enabled along with the Change Tracking solution in Log Analytics. You can learn about how to enable Change Tracking through PowerShell at [our documentation here](https://docs.microsoft.com/en-us/azure/automation/automation-onboard-solutions).

[2018-03-30 21:09] MicahMcKittrick-MSFT commented on #6529
@JohnBruceMS Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-03-30 21:12] jpconnock commented on #6142
@petersatsuse -- we will create a PR to implement the suggestions you've made in this Issue.

@wmgries or @RenaShahMSFT -- when you've created the PR, could you please link it here so @petersatsuse can follow the work?

@petersatsuse -- #please-close this Issue when you are satisfied that we're taking appropriate action.  Thank you!

[2018-03-30 21:14] srrengar commented on #6542
hi @jpoon for some reason that template is not in the azure sample template repo, but I've found it in the author's forked repo here for you: https://github.com/krnese/azure-quickstart-templates/tree/master/service-fabric-oms. I will update the article and work with the author to get the Sample template repo updated, thanks!

[2018-03-30 21:15] Ayanmullick commented on #6537
This is to process the Automation account's diagnostics logs in Log Analytics. I'm trying to connect an automation account to Log analytics thru Powershell so I can enable Inventory or update management for a VM.

[2018-03-30 21:15] MicahMcKittrick-MSFT commented on #6534
Ah okay so you are using Visual Studio rather than CLI. I was testing using CLI so likely why there was a difference.

Have followed this?

https://docs.microsoft.com/en-us/azure/azure-functions/functions-develop-vs

[2018-03-30 21:18] Ayanmullick commented on #6544
That doesn't cover how to enable 'Change Tracking' or 'Inventory' thru **## Powershell**.

[2018-03-30 21:18] srrengar commented on #6542
#please-close

[2018-03-30 21:18] jeevansd commented on #6182
@thommck We have updated this article now. You should see the changes in few hours. Please confirm.

[2018-03-30 21:19] #6542 closed

[2018-03-30 21:21] MicahMcKittrick-MSFT commented on #6530
@JamesRandall Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-30 21:21] MicahMcKittrick-MSFT commented on #6538
@Ayanmullick Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-30 21:23] MicahMcKittrick-MSFT commented on #6533
@figuerres Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-30 21:25] jpoon commented on #6542
@srrengar My expectation when closing/resolving these types of issue is that the Azure docs are updated to reflect the new location... ie, on your commit to fix the docs, reference this issue, and close it out at the same time.

[2018-03-30 21:28] MGoedtel commented on #6538
@Ayanmullick - You can use the Azure PowerShell cmdlet - Get-AzureRmOperationalInsightsIntelligencePacks.  Here is the link to the cmdlet - https://docs.microsoft.com/en-us/powershell/module/azurerm.operationalinsights/get-azurermoperationalinsightsintelligencepacks?view=azurermps-5.6.0&viewFallbackFrom=azurermps-5.1.1 and note that the example is using the wrong cmdlet.  Please let me know if thi

[2018-03-30 21:32] Ayanmullick commented on #6538
Get-AzureRmOperationalInsightsIntelligencePacks only shows the solutions already added to a workspace. I am looking for a Powershell cmdlet to get the list of available solutions from the gallery.

[2018-03-30 21:34] jennyhunter-msft commented on #6544
The second half of that documentation reviews running the PowerShell runbook that enables the features. Are you looking for a breakdown of that script and the cmdlets it uses?

[2018-03-30 21:35] srrengar commented on #6542
@jpoon I have already submitted a pull request referencing the issue to the private docs repo and it will update the article within 24hrs after it is approved and merged. Thanks again for reporting this.

[2018-03-30 21:36] gowthamreddyvintha commented on #5565
https://aspensurvey.azurewebsites.net/ZipDeploy
"The resource you are looking for has been removed, had its name changed, or is temporarily unavailable." is giving me this error response. Is there any way to deploy my code base to webapp service from local machine

[2018-03-30 21:38] anrothMSFT commented on #6543
This was an internal team name that slipped through. Submitting a fix. 😊

From: Micah <notifications@github.com>
Sent: Friday, March 30, 2018 2:00 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Anna Roth <anroth@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] What is IRIS? (#6543)

@revodavid<https://na01.safelinks.protection.outloo

[2018-03-30 21:45] roygara commented on #6426
@bryhall  The change has been merged and should be live in a few hours. Thank you again for pointing this out.

#please-close

[2018-03-30 21:47] jboarman opened #6546 "Failed Login Attempts?"
What is the latency on failed login attempts?  Our initial testing _seemed_ to indicate this can take **more** than 24 hours!?  Is that right?  That seems crazy.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4210123-c411-35e9-ef66-5ffc002b5288
* Version Independent ID: 72f79c88-d498-e9dc-c313-4a3e086638c5
* Content:

[2018-03-30 21:48] bdcoder2 commented on #6534
Yes – everything was working for weeks – then, updated NuGet packages and now TraceWriter cannot be bound, ie:

Microsoft.Azure.WebJobs.Host: Error indexing method 'f3.Run'. Microsoft.Azure.WebJobs.Host: Cannot bind parameter 'log' to type TraceWriter.

I am at a complete stand-still because the project no longer recognizes TraceWriter !

From: Micah <notifications@github.com>
Sent: Friday, March

[2018-03-30 21:52] Ayanmullick commented on #6544
I'm looking for a cmdlet or script that I could run from Powershell ISE to enable Inventory for one VM in the AzureVm properties. Maybe like 'Set-AzureRmVMInventoryExtension'

[2018-03-30 21:57] jennyhunter-msft commented on #6544
We don't currently have a pre-made cmdlet or script that can be run from an on-premise machine to enable it for Inventory, but much of the functionality in the VM runbook can be re-used. I will see what we can do about adding an on-premise version to the gallery and getting it documented.

[2018-03-30 21:57] Ayanmullick commented on #6538
Never mind. I got it.  👍

[2018-03-30 21:58] MicahMcKittrick-MSFT commented on #6542
@jpoon I have linked the PR and approved the changes. It should go live within the hour.

[2018-03-30 21:59] MohitGargMSFT commented on #6485
@MatLeger As mentioned in the document regarding Tenant parameter - The directory tenant that you want to request permission from. This can be in GUID or friendly name format. If you don't know which tenant the user belongs to and you want to let them sign in with any tenant, use common.

[2018-03-30 22:01] MicahMcKittrick-MSFT commented on #6534
Do you know which Nuget packages you updated and to what versions?

[2018-03-30 22:01] Mike-Ubezzi-MSFT commented on #6530
@JamesRandall Yes, Azure Cosmos DB supports [Apache Tinkerpop's](http://tinkerpop.apache.org/) graph traversal language, [Gremlin](http://tinkerpop.apache.org/docs/current/reference/#graph-traversal-steps), which is a Graph API for creating graph entities, and performing graph query operations. You can use the Gremlin language to create graph entities (vertices and edges), modify properties within

[2018-03-30 22:04] micah commented on #6534
bdcoder2 <notifications@github.com> writes:

please don't @micah, that is me, not the person you want to contact.

[2018-03-30 22:06] MicahMcKittrick-MSFT commented on #6534
@bdcoder2 you can also try removing the Functions modules in Visual Studio and reinstalling them. That might help incase any of the updates broke something.

[2018-03-30 22:07] ratchetwrench opened #6548 "fatal: Authentication failed for..."
This step: git push azure master.
Does not accept password from this step: az webapp deployment user set --user-name <username> --password <password>.

Or the local git password.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac1cd213-5a9f-ae10-73b5-96061bfbd9d9
* Version Independent ID: cec78ca0-f4c0-970e-dde0-44db72d

[2018-03-30 22:09] Ayanmullick commented on #6544
there should be something in the AzureRM.Compute or the AzureRM.Automation to enable it.

[2018-03-30 22:12] MicahMcKittrick-MSFT commented on #6500
@tvperez76 based on the following Microsoft Doc Service Fabric is not listed as supported:

https://docs.microsoft.com/en-us/azure/active-directory/managed-service-identity/overview

@srrengar would you be able to confirm on this?

[2018-03-30 22:14] MohitGargMSFT commented on #6528
@rmrs75 Yes.

[2018-03-30 22:17] bdcoder2 commented on #6534
Removed Azure workspace from Visual Studio – then reinstalled.

Tried to run project – same result – TraceWriter is simply not recognized any longer !

                  %%%%%%

                 %%%%%%

            @   %%%%%%    @

          @@   %%%%%%      @@

       @@@    %%%%%%%%%%%    @@@

     @@      %%%%%%%%%%        @@

       @@         %%%%       @@

         @@      %%%       @@

[2018-03-30 22:17] bdcoder2 commented on #6534
Yes – I posted the NuGet packages in my post:

https://developercommunity.visualstudio.com/content/problem/226035/unable-to-use-azure-functions-in-visual-studio.html

From: Micah <notifications@github.com>
Sent: Friday, March 30, 2018 4:01 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: bdcoder2 <bdaviduck@shaw.ca>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDo

[2018-03-30 22:18] MicahMcKittrick-MSFT commented on #6546
@jboarman Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-30 22:19] rmrs75 commented on #6528
Thanks for the information.

Is this information available on some Microsoft site?

Thanks!!

[2018-03-30 22:20] mike-urnun-msft commented on #6548
@ratchetwrench Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-03-30 22:20] MicahMcKittrick-MSFT commented on #6534
@bdcoder2 Ah okay in the other post. Got it. Thank you. I will take a look.

[2018-03-30 22:37] srrengar commented on #6500
I believe so but I'm adding @dkkapur to be sure

Additionally, Service Fabric runs on VMSS, and you should be able to add MSI to an existing VMSS according to this https://docs.microsoft.com/en-us/azure/active-directory/managed-service-identity/qs-configure-portal-windows-vmss#enable-msi-on-an-existing-azure-vmms

[2018-03-30 22:37] roygara commented on #5640
@Martin00001 Thanks for taking the time to point this out. I've conferred with @ramankumarlive and we determined the original text is correct. So we will not be taking this suggestion. But again, thank you for taking the time to attempt to help improve our docs.

#please-close

[2018-03-30 22:41] ratchetwrench commented on #6548
Had to go to Azure —> App Service —> Deployment User and save credentials. Then it worked.

[2018-03-30 22:44] rwike77 commented on #6254
@binduchinnasamy Hi.  Yes, the purpose is to get a stateless web app interacting with a backend service.  We're not just trying to show a simple web app, though, but show technology that is widely used.  Thanks for the feedback.

[2018-03-30 22:44] rwike77 commented on #6254
#please-close

[2018-03-30 22:56] rajivmedikonda commented on #6043
I cannot find setup.ps1 file in any of the folders in Github

[2018-03-30 23:07] rajivmedikonda opened #6549 "Missing setup.ps1 file for tollapp"
I cannot find any setup.ps1 file under Tollapp folder in Git repo

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 607f53f2-125f-ac00-8757-9ffdad4112a3
* Version Independent ID: c3ea49c4-1284-f94d-a773-89d6940e7037
* Content: [Build an IoT solution by using Stream Analytics](https://docs.microsoft.com/en-us/azure/stream-

[2018-03-30 23:11] cjgronlund commented on #5934
#in-progress

[2018-03-30 23:11] revodavid opened #6550 "How to obtain Prediction API key?"
The documentation needs more clarity on how to obtain the Prediction API key. The Prediction-Key is displayed when you click the "Prediction URL" button in the customvision.ai application, but I can't figure out how to obtain this key via the Azure portal, nor programmatically via the API.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2018-03-30 23:16] neilpeterson commented on #6397
@typik89 via the Azure CLI you can use the `az ad sp reset-credentials` command. I'm assuming there are similar for PowerShell.

[code]

Does this help?

[2018-03-30 23:48] jeevansd commented on #5850
@adelices You have to use the scoping filter to do that. Check the Provisioning UI and use Scoping filter where you can scope users with some condition like sub domain or different domain etc.

[2018-03-31 00:14] neilpeterson commented on #6397
PowerShell - [docs](https://docs.microsoft.com/en-us/powershell/module/azurerm.resources/new-azurermadspcredential?view=azurermps-5.6.0)

[code]

[2018-03-31 00:30] femsulu commented on #6400
@IshamMohamed Can you please clarify what you mean by "matrix"? Or do you mean "metrics"? just want clarify and make sure I understand you question.

[2018-03-31 00:54] BryanTrach-MSFT commented on #6502
@pankajisgarg We tried working through the document and had no issues getting the code to work in a Visual C# Windows Classic desktop app. Since you are attempting to implement the code into a different style of app, we would request you to post your question over on Stack Overflow.

Please share with us the URL of your question so we can track it internally.

[2018-03-31 00:58] BryanTrach-MSFT commented on #6518
@antonba The documentation does not state how to handle scaling when using internal/external connections. Can you please review the document to see if any clarification around this process would be helpful?

[2018-03-31 01:09] kiranjshetty commented on #6516
But if I already have NVA that is capable of creating VPN then still  why do customers pay extra for Azure VPN gateway. Is there any specific feature that can't be achieved using NVA VPN than Azure VPN gateway..

[2018-03-31 01:12] giemch commented on #5633
As a noob to AI I'm a bit confused about the difference between general logging and telemetry. If we want to correlate between all Azure services, as @VaclavK mentions, do we need to use the TelemetryClient instead of ILogger?

[2018-03-31 01:37] bdcoder2 commented on #6534
Hello,

Just tried a test.

Created a brand new Azure Functions project

The project template uses Microsoft.NET.Sdk.Functions v1.0.6

The project runs just fine.

Fire up NuGet Package Manager and behold – an update exists for Microsoft.NET.Sdk.Functions, update to v1.0.12

After update, the errors I describe in my post all return.

It appears Microsoft.NET.Sdk.Functions v1.0.12 is the culprit

B

[2018-03-31 01:41] bdcoder2 commented on #6534
Update:

Using the NEWLY created project – I downgraded Microsoft.NET.Sdk.Functions to v1.0.11 – everything works again.

Upgrade to v1.0.12 – everything fails.

From: Micah <notifications@github.com>
Sent: Friday, March 30, 2018 4:21 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: bdcoder2 <bdaviduck@shaw.ca>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/az

[2018-03-31 01:59] femsulu commented on #6434
@pawankt
Have you tried  add the security solution to collect security /Audit logs?
Please review the link below for more information:
https://azure.microsoft.com/en-gb/documentation/articles/log-analytics-security-audit/
To check if this data has already been collected (assuming you have added the solution), run the following log search query:
Type=SecurityEvent | measure count() by Activity

[2018-03-31 02:09] MicahMcKittrick-MSFT commented on #6534
@bdcoder2 thanks for the update. I will find the right resource to report that to and provide you an update.

[2018-03-31 02:20] myusrn commented on #6117
@terpie note that I simply installed current vs17 15.6.4 bits with the workloads | web & cloud | azure development option enabled and this appears to applied azure powershell modules for me.  Presumably at some point we get adfV2 project template support as part of azure development option workload that will enable not only defining but also executing and monitoring adfV2 pipeline/trigger setups f

[2018-03-31 02:33] yasskin opened #6552 "Please add instructions on what to do if you already have Visual Studio intalled:"
At the point where the instructions say:

Install Visual Studio 2017 with the following workloads:
ASP.NET and web development
Azure development

It would be helpful to show novice VS users like me that to get these packages you have to go to :

Tools > Get Tools and Features

Right now it isn't intuitive for a new VS user or clear from the docs.

Thanks!

---
#### Document Details

⚠ *Do not edit

[2018-03-31 03:32] Mike-EEE commented on #6541
Hey @MicahMcKittrick-MSFT the path I found was:
`C:\Users\<user>\AppData\Local\Temp\LogFiles\Application\Functions\`

The folder structure for my host/function was created there, but no files or obvious artifacts within it.  I did not see anything obvious under `C:\Windows\Temp`.

[2018-03-31 05:14] dkkapur commented on #6500
Pretty sure @srrengar is right!

[2018-03-31 06:05] #5640 closed

[2018-03-31 06:06] #5972 closed

[2018-03-31 06:06] #5989 closed

[2018-03-31 06:06] #6254 closed

[2018-03-31 06:07] #6426 closed

[2018-03-31 06:07] #6250 closed

[2018-03-31 06:18] JamesRandall commented on #6530
Thanks for looking into it. I'm aware of the .NET Client SDK - I've used it on previous projects but gave the Tinkerpop variant ago after refreshing myself with the docs yesterday.

My point is should a quickstart tutorial be sending people down what is essentially a blind alley for .NET developers on anything except "toy" type development? Particularly when people are learning Cosmos if they pick

[2018-03-31 06:53] Flodu31 commented on #6515
@BryanTrach-MSFT Thanks. I added this line at the end to decrypt the password to : [System.Runtime.InteropServices.marshal]::PtrToStringAuto([System.Runtime.InteropServices.marshal]::SecureStringToBSTR($clientSecret))

[2018-03-31 07:19] rrvenki opened #6553 "Venkat"
Followed the steps and managed to get the production Redirect URLs configured.  The app works fine with production URL.  Now with the same DomainCallBack URL for the AD prompt, we get the token but this token is not valid (401 error) in the App Service which is running in the visual studio.  Unable to figure out without which we could not debug the app.
These steps are maximum confusing without sc

[2018-03-31 08:43] chunsiongtan commented on #6527
Hi all,

“Southeast asia” is in preview, but my 1st hand experience is I’m unable to spin this up.

Maybe I’m doing it wrong (I’ve tried on 2 separate subscription), but would appreciate if you could try on your subscription if possible.

From my previous conversations with the PMs, I understand that there needs to be a whitelist for the specific subscription for “Southeast Asia”

Note the documen

[2018-03-31 09:33] pankajisgarg commented on #6502
HI Bryan

I have posted query on stack overflow at https://stackoverflow.com/questions/49586292/exception-in-uwp-app-on-using-microsoft-azure-devices-client
Can you please help me understand why documentation default is not Managed background or UWP app which can be deployed on IOT device?

[2018-03-31 09:38] sspage commented on #6325
@jeevansd It sounds like you may have not tried this or looked at the Freshdesk cert requirements if you are asking me this.  Also, there are other errors I didn't point out (that is just one of the least obvious ones)... not to mention that if you are doing a custom domain with Freshdesk, there are even more things wrong here.  We've had to setup both standard and custom domains (e.g. mobile app

[2018-03-31 11:03] pawankt commented on #6434
@femsulu i have gone through this, i was expected security flags to be enable from ARM. Figured out instead system level used band.

Security!*[System[(band(Keywords,13510798882111488))]] both AuditSuccess, Failure
Security!*[System[(band(Keywords,4503599627370496))]] Just Failures.

[2018-03-31 11:13] pawankt commented on #6472
ARM template looks good, but it expecting to create new workspace, although i passed as existingomsname as parameter. Error reporting ad The workspace name xxx is not unique

[2018-03-31 11:57] msghaleb opened #6554 "Missing Part?"
where is the part of the "non-azure VMs" ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21ec7d17-7001-3920-3076-a3a0a89ebdf3
* Version Independent ID: 5ee9f1f6-acd1-c03f-1b95-71da73211cae
* Content: [Discover what software is installed on your machines with Azure Automation](https://docs.microsoft.com/en-us/azure/aut

[2018-03-31 12:06] pawankt commented on #6471
Here latest ARM https://docs.microsoft.com/en-us/azure/log-analytics/log-analytics-template-workspace-configuration.

[2018-03-31 12:10] msghaleb opened #6555 "Ports?"
I'd be interested to know, what ports needs to be opened to which destinations? also if I can do everything over a VPN (e.g. between AWS <-> Azure) ? can you add a link to help us here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00a00a3e-a0df-7ee5-4733-7231bd7a024f
* Version Independent ID: 94361683-e1e7-7e55-6993-

[2018-03-31 12:29] msghaleb commented on #6554
https://docs.microsoft.com/en-us/azure/log-analytics/

[2018-03-31 12:33] pawankt opened #6556 "storage table blob"
'The template resource failing for storage table blob '[concat(parameters('applicationDiagnosticsStorageAccountName'),parameters('workspaceName'))]'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7651b7e-278e-2839-e9f4-cee3d8c8d60b
* Version Independent ID: 45386b9f-a8e3-a398-c0da-880fbdd76abb
* Content: [Use Azure Re

[2018-03-31 13:20] pawankt commented on #6556
Type storageInsightConfigs or Microsoft.OperationalInsights/workspaces/storageInsightConfigs also not working..

[2018-03-31 13:36] spottedmahn commented on #6539
Additional data, see [Jose's SO answer](https://stackoverflow.com/a/49580373/185123)

[2018-03-31 14:07] keertisomu opened #6557 "swap-AzureRmWebAppSlot"
Hi,
In the script the following cmdlet is used Switch-AzureRmWebAppSlot whereas in the script explanation it talks about Swap-AzureRmWebAppSlot , also when i click the link it gives me a 404.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 867913af-63c7-ade8-159d-94e40e914e48
* Version Independent ID: 5e7b2b7a-c7ff-f47b

[2018-03-31 14:09] AriLombardi commented on #6176
I followed the steps in this post, and added the <receiver> section to the androidmanifest.xml, but the device can not receive notifications, even more, the device is not registered. I am not understanding the code, but I want to ask if there is something missing in the MainActivity.cs, I do not see where a registration is required.
Thanks

[2018-03-31 14:18] tvperez76 opened #6558 "Clarification"
The document doesn’t specify who will provide the credentialspec file and how it will be provided.  For instance, if the developers needs to provide “WebApplication1.json”, then how would he or she deploy this file (e.g. via Data Packages)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64e17a62-ceb2-b095-1996-feda53c0

[2018-03-31 15:03] raasmasood opened #6559 "Trying to upload ProfileEdit.xml gives error"
Following the steps at the end trying to upload ProfileEdit.xml in custom policy gives error

"Unable to upload policy. Reason : User is currently logged as a user of 'havethat.onmicrosoft.com' tenant. In order to manage 'yourtenant.onmicrosoft.com', please login as a user of 'yourtenant.onmicrosoft.com' tenant"

[2018-03-31 15:55] mrbullwinkle commented on #6533
@NumberByColors  any thoughts on this issue?

[2018-03-31 15:59] mrbullwinkle commented on #6120
#please-close

[2018-03-31 16:12] #6120 closed

[2018-03-31 16:38] spottedmahn opened #6560 "No B2C Videos"
On [Azure AD B2C Documentation](https://docs.microsoft.com/en-us/azure/active-directory-b2c/) there is a videos link.

![image](https://user-images.githubusercontent.com/14079228/38165388-75d72ce6-34e0-11e8-83b4-743d4db6f349.png)

That takes you [here](https://azure.microsoft.com/en-us/resources/videos/index/?services=active-directory-b2c) but there are no videos 😜.

![image](https://user-images.g

[2018-03-31 17:09] BryanTrach-MSFT commented on #6549
@rajivmedikonda Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-31 17:11] BryanTrach-MSFT commented on #6550
@revodavid Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-03-31 17:12] proton1876 commented on #5056
Copy paste doesn't work

[2018-03-31 17:12] BryanTrach-MSFT commented on #6552
@yasskin Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-31 17:14] BryanTrach-MSFT commented on #6553
@rrvenki Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-31 17:18] BryanTrach-MSFT commented on #6555
@msghaleb Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-31 17:19] BryanTrach-MSFT commented on #6556
@pawankt Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-31 17:21] BryanTrach-MSFT commented on #6557
@keertisomu Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-31 17:24] BryanTrach-MSFT commented on #6559
@raasmasood Can you please provide us with the URL of the document that you are having issues with? We look forward to your reply.

[2018-03-31 17:25] BryanTrach-MSFT commented on #6560
@spottedmahn Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-31 17:29] Phydeauxman commented on #6522
I do not

Sent from Nine<http://www.9folders.com/>
________________________________
From: S Sarma <notifications@github.com>
Sent: Friday, March 30, 2018 13:02
To: MicrosoftDocs/azure-docs
Cc: Byron Boudreaux; Author
Subject: Re: [MicrosoftDocs/azure-docs] Not able to implement with PowerShell or AZ CLI installed on my machine (#6522)

Also check if you have multiple versions of Dns or Network mod

[2018-03-31 17:31] Phydeauxman commented on #6522
The machine has been rebooted since installing and I did do the DNS extension

Sent from Nine<http://www.9folders.com/>
________________________________
From: S Sarma <notifications@github.com>
Sent: Friday, March 30, 2018 12:51
To: MicrosoftDocs/azure-docs
Cc: Byron Boudreaux; Author
Subject: Re: [MicrosoftDocs/azure-docs] Not able to implement with PowerShell or AZ CLI installed on my machine (#

[2018-03-31 17:32] BryanTrach-MSFT commented on #6332
@KeiroKamioka0000 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-31 17:32] #6332 closed

[2018-03-31 17:35] BryanTrach-MSFT commented on #6338
@PrateekChaudharyDevOps We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-31 17:35] #6338 closed

[2018-03-31 19:05] lastcoolnameleft commented on #5972
@neilpeterson @lenadroid  That works, I'll re-open in case I'm able to reproduce the error on a different cluster.  Given they've updated the instructions to use kube proxy that should help too.

Thanks for your assistance!

[2018-03-31 19:11] raasmasood commented on #6559
Tenant name, in this file, was not replaced from “yourtenant.***” to the actual tenant name.

Replacing it properly fixed the problem.

[2018-03-31 19:11] #6559 closed

[2018-03-31 20:00] schummbo opened #6561 "Multiple Topics vs Multiple Event Types"
I'm trying to understand the pros / cons / best practices of publishing events to multiple Topics vs. publishing events to one Topic using multiple event types.

As a generic example, say I was building a recipe app that has multiple services for some reason.  And in this app, different events occur, such as UserCreated, UserEdited, CreatedRecipe, and EditedRecipe.

Would one create a Topic for ea

[2018-03-31 22:11] ddst0111 commented on #6019
is it possible to raise customize errors and handle the error in the on-error policy, for example, in my API, i will receive two parameters:
1. Date
2. zip code

want to check
1) if data format is YYYY-mm-DD, and
2) zip is 5 digits xxxxx

if one of the condition not meet, want raise an error, and let the on-error policy to send back 400 bad request error.

In this case, so instead of have an choos

[2018-03-31 22:16] IndreamLuo opened #6562 "Is This A Different Branch Than Azure SDK for .NET"
As I see in:
Azure SDK for .NET(https://docs.microsoft.com/en-us/dotnet/api/microsoft.windowsazure.storage.table.cloudtable?view=azure-dotnet) GitHub(https://github.com/Azure/azure-storage-net/blob/afc5c6d99a805fb4165631ab5cfd139238b00e71/Lib/ClassLibraryCommon/Table/CloudTable.cs).

and this document and used from Nuget WindowsAzure.Storage 9.1.0, the CloudTable classes are different. The above 2

[2018-03-31 23:12] dynamicwebpaige opened #6563 "Clarification for pricing and differences between on-prem and cloud SQL Server instances."
In response to this feedback from Twitter:
https://twitter.com/victortrac/status/980216821025525761

- Transparency for workload pricing.
- Clear references for on-prem SQL Server vs Azure SQL Database.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cdb57370-5e25-f363-4225-02f349a47229
* Version Independent ID: 93f3529

[2018-03-31 23:54] vincpa opened #6564 "Incorrect backend URL"
I tried creating this proxy by plugging in the values in the screenshot and I got an error, "Infinite loop detected when trying to call a local function or proxy from a proxy."

Shouldn't it be ? https://%HELLO_HOST%/api/httptriggercsharp1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cef2688f-faa5-5209-ea5f-23228851c

[2018-04-01 00:05] marcelvb commented on #6337
I think I should have been clearer. I meant to use parameterized queries.

Something like this (not tested):
[code]

See also: https://docs.microsoft.com/en-us/dotnet/framework/data/adonet/configuring-parameters-and-parameter-data-types

[2018-04-01 00:15] BryanTrach-MSFT commented on #6561
@schummbo Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-01 00:16] BryanTrach-MSFT commented on #6562
@IndreamLuo Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-01 00:17] BryanTrach-MSFT commented on #6563
@dynamicwebpaige Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-01 00:20] BryanTrach-MSFT commented on #6564
@vincpa Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-01 00:45] kringen opened #6565 "Replication Network Traffic"
Does the replication network traffic travel over the internet or does it use Azure's internal networks?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2476aace-c2ac-4084-93d5-8bd4edbc0ea0
* Version Independent ID: fa098bb4-5c9e-0f58-cfc7-5d40eb1ce89b
* Content: [Failover groups and active geo-replication - Azure SQL Da

[2018-04-01 03:24] Mike-Ubezzi-MSFT commented on #6337
@rachel-msft The C# examples need to be updated.

[2018-04-01 05:05] Aslameng opened #6566 "Amazing trips"
this is a great opertunities to develp a all computer languages so nice

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6210b41f-15f2-45cd-774a-4cab95bce57c
* Version Independent ID: 0305886f-77d4-86f0-5a1d-75de82b0d342
* Content: [Develop U-SQL scripts by using Data Lake Tools for Visual Studio](https://docs.microsoft.

[2018-04-01 05:26] #6548 closed

[2018-04-01 06:03] mike-urnun-msft commented on #6513
@cocowalla Thank you for your feedback! We have assigned this issue to the author to review and take the right course of action.

[2018-04-01 08:32] nnasaki commented on #6509
Thanks. Sounds good.

[2018-04-01 08:32] #6509 closed

[2018-04-01 08:43] richardleeaus opened #6567 "Can't install AZ ML in standard Powershell"
Hi,

How am i able to install AZ ML in standard Powershell e.g. not from within Workbench.?

I've tried 'pip install -r https://aka.ms/az-ml-o16n-cli-requirements-file' or 'pip install azure-cli-ml', which appears to install all the dependencies, but still 'az ml' returns
'az: error: argument _command_package: invalid choice: ml'.

'az' still works for standard azure cli commands.

Further to this

[2018-04-01 09:57] dcremonini opened #6568 "Link to SqlFilter.SqlExpression is broken"
In the sentence below the link brings to a 404 not found page.
For more details about the expressions that can be used with a SQL filter, review the SqlFilter.SqlExpression syntax.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8dd3492a-d52b-d231-d647-cb73328c9df1
* Version Independent ID: e5d3d05f-1c8c-22f4-288d-66422

[2018-04-01 10:56] snehithm commented on #6444
Support of newer metric alerts for traffic manager profiles and ExpressRouteCircuitts is in the works. We will add support for both of them soon.

[2018-04-01 11:26] Sanyoq opened #6569 "deploymentLocalGitUrl not returned"
After executing the az webapp create above the deploymentLocalGitUrl parameter is not returned in the response JSON. If I take it from the [Git clone url] field in the App Service overview in Azure and try to clone from that URL then I get the [warning: You appear to have cloned an empty repository]. Is there a way to import this sample up and customise it further.

---
#### Document Details

⚠ *D

[2018-04-01 13:39] IshamMohamed commented on #6400
Apologies for the wrong wording. It is 'matrics'

On Sat, 31 Mar 2018, 06:42 femsulu-MSFT, <notifications@github.com> wrote:

[2018-04-01 13:40] IshamMohamed commented on #6400
**metrics

On Sun, 1 Apr 2018, 19:09 Isham Mohamed Iqbal, <isham4you@gmail.com> wrote:

[2018-04-01 16:09] MicahMcKittrick-MSFT commented on #6558
@tvperez76 good point. I have assigned this to the content author to review and update the document as appropriate.

@mani-ramaswamy can you take a look at this?

[2018-04-01 16:10] MicahMcKittrick-MSFT commented on #6478
@chiayenhung any update on this?

[2018-04-01 16:13] MicahMcKittrick-MSFT commented on #6500
Thanks @srrengar and @dkkapur! Good point that since Service Fabric is running on VMSS then it should work no problem.

@tvperez76  you should be able to use MSI on service fabric. Suggest following the steps **[here](https://docs.microsoft.com/en-us/azure/active-directory/managed-service-identity/qs-configure-portal-windows-vmss#enable-msi-on-an-existing-azure-vmms)** to enable it.

I will close

[2018-04-01 16:18] MicahMcKittrick-MSFT commented on #6534
@bdcoder2 thanks again for working through this. I have asked around and found we should post these findings to the Functions team. They are also available on GitHub.

Can you post your findings here: https://github.com/Azure/Azure-Functions/issues

Once posted, you can reference this issue as well by commenting MicrosoftDocs/azure-docs#6534

I will close this issue out however please let me know

[2018-04-01 16:18] #6534 closed

[2018-04-01 16:38] bdcoder2 commented on #6534
Thanks, I have posted to the Azure Functions forum…

https://github.com/Azure/Azure-Functions/issues/743

From: Micah <notifications@github.com>
Sent: Sunday, April 01, 2018 10:18 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: bdcoder2 <bdaviduck@shaw.ca>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Running the function host -- how??? (#6534)

[2018-04-01 16:43] bjarnio opened #6570 "Fix Powershell script"
$CloudAdminCred and $YourCloudAdminCredential should be same variable, you should also have the script choose correct subscription (when more that one)...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3bed670-b412-74b4-f2ea-48023250a718
* Version Independent ID: fca8e000-30cc-e752-7a5a-b60d3636c9eb
* Content: [Redepl

[2018-04-01 16:50] chiayenhung commented on #6478
It works after change the email to our original organization email.
The account we used to login to Azure world is different than our original ones and it cause confusing.
For example,

In my app settings,
Owner email is myself's email, e.g. organization azure account
Collaborator's emails are original organization emails

But we could close this issue if you guys are ok with that.
Thanks,

[2018-04-01 16:54] tvperez76 commented on #6500
Great.  However, that only answers half of my question.  Is it possible to get MSI working on Containers hosted on Service Fabric?  If so, what are the steps necessary activating this feature?  Documentation would really help early adopters.  Thank you.

[2018-04-01 17:55] desslocktx opened #6571 "There is no "New search instance" to click, out of date documentation?"
I was referred to this page directly by the Quick Start Guide in Azure after creating a new Bing Custom Search API resource, but this page seems to either (a) be out of date or (b) not related to what I created in Azure at all, since (1) I directly linked to it from Azure portal itself so "sign in to the portal" is puzzling and (3) "After signing, click New search instance" is completely bizarre s

[2018-04-01 18:44] DeanGross opened #6572 "Info about use with ADFS on Server 2016"
Please provide info about what needs to be done when ADFS is upgraded from 2012 R2 to 2016. What do we need to do so that Connect Health monitors the new ADFS servers?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14a2eadf-b389-1738-bd38-2ebef580525f
* Version Independent ID: 4a4e976b-27c5-29f5-7cd6-44aa20130d39
* Con

[2018-04-01 18:49] MarkusVi commented on #6344
Hi @tathamoddie, thanks for the information.
I have created a backlog item to track this.

#please-close

[2018-04-01 18:51] dsushil2000 opened #6573 "Not able to change the Pricing Tier as well as Cores and Memory within the Tier"
On the Portal: Please note that changing the pricing tier, compute generation, backup redundancy options after server creation is not supported at this time.
Document tation section is creating confusion. Please correct with some info.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0f76399-d904-03fe-f033-94c00edda853

[2018-04-01 18:53] MarkusVi commented on #6295
Hi @phw198, thanks for the information.
I have created a backlog item to track this.

#please-close

[2018-04-01 19:01] MarkusVi commented on #5657
Hi @JRATMS, thanks for the information.
I have created a backlog item to track this.

#please-close

[2018-04-01 19:22] MarkusVi commented on #5645
Hi @DeanGross, thanks for the information.
I have created a backlog-item to track this.

#please-close

[2018-04-01 20:21] ToddASchultz opened #6574 "Snake eating its tail?"
So I glanced at this and thought it would be a good project for students in an enterprise architecture course who have access to Windows Server with Azure PowerShell installed, have built VMs via the portal, and have scripted creating Azure assets but this would be a first exposure to Linux VMs (in this course, anyway).  I should have looked closer because the step

Finally, a public SSH key with

[2018-04-01 20:28] Yukinobusakabe opened #6575 "Please update"
Hello,
I would like to let you know that I found new metrics have been added on Azure portal but did not see them in the section of Microsoft.Compute/virtualMachines. Could you please add the below items?

Data Disk QD
OS Disk QD
Data Disk Read Bytes/Sec
Data Disk Read Operation/Sec
Data Disk Write Bytes/Sec
Data Disk Write Operation/Sec

OS Data Disk Read Bytes/Sec
OS Data Disk Read Operation/Sec

[2018-04-01 20:57] amanarneja commented on #6565
@kringen We are checking and will get back to you soon.

[2018-04-01 20:58] amanarneja commented on #6566
@Aslameng Thanks for the positive feedback! :)

[2018-04-01 20:58] #6566 closed

[2018-04-01 21:01] mrbullwinkle commented on #6399
@jakubjenis I didn't have a .NET Core 2.0 App with a SQL dependency handy to test and confirm the answer to your question so I did the following:

I took the sample template .NET Core 2.0  app from this doc and removed the test exception and swapped in a call to a remote test SQL server in my environment. I added a query with a table name that I knew didn't exist in the database to force a SQL exc

[2018-04-01 21:04] denmak opened #6576 "the SAS definition"
Hello, it is quite good document, but it is not clear how to configure Linked service by using SAS uri.  I cant put it in Azure Data Factory GUI when configure the linked service, there is only Storage account access by Account Key is available to choose.
If I try to change json in "Advanced" section I can't save it.
Please, clarify please, how to configure SAS uri based linked service by using AD

[2018-04-01 21:09] amanarneja commented on #6567
@richardleeaus Is there a specific documentation or steps on which you have a question ? This channel is primarily to discuss issues when following through some documentation.

Looking into your question though, the pre requisite for the Az ML commands is to install the Workbench, the steps are at @ https://docs.microsoft.com/en-us/azure/machine-learning/preview/cli-for-azure-machine-learning

Som

[2018-04-01 21:12] amanarneja commented on #6568
@dcremonini Thanks for pointing it out, we will investigate and update ASAP.

[2018-04-01 21:14] amanarneja commented on #6569
@Sanyoq Thanks for the feedback, I have assigned this issue to the document author to take a look and respond as appropriate.

[2018-04-01 21:16] willam-gregoire opened #6577 "Can't connect Timeout"
I can´t connect using this method. I'm using Putty with the Private key that is on my user profile .shh directory. I checked my local firewall aswell. The NSG created appeers to allow inbound on 22. Could this be because of the private key...or is it pure connectivity? I would also like to ask if the keys are autogenerated at the beggining of this tutorial are indeed saved to my user profile, and

[2018-04-01 21:16] amanarneja commented on #6574
@ToddASchultz Thanks for the detailed feedback! I have assigned this issue to the document author to investigate and update as appropriate.

[2018-04-01 21:25] amanarneja commented on #6570
@bjarnio Thanks for the feedback. I have assigned the issue to the document author to investigate and update as appropriate.

[2018-04-01 21:26] amanarneja commented on #6572
@DeanGross Thanks for the feedback, I have assigned the issue to the author to investigate and update as appropriate.

[2018-04-01 21:28] amanarneja commented on #6573
@dsushil2000 Thanks for the feedback! I have assigned the issue to the author to investigate and update the document as appropriate.

[2018-04-01 21:29] amanarneja commented on #6575
@Yukinobusakabe Thanks for pointing this out! I have assigned the issue to the author to investigate and update as appropriate.

[2018-04-01 21:38] ToddASchultz commented on #6574
Thanks … I am not frustrated at all and have to say the docs.microsoft.com are always a relief to find in a web search because I know I will get so clear, concise, workable guidance. Cheers!

From: Aman Arneja <notifications@github.com>
Sent: Sunday, April 1, 2018 5:17 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: ToddASchultz <t.a.schultz@outlook.com>; Mention <mention@norep

[2018-04-01 21:41] Mike-Ubezzi-MSFT commented on #6565
@kringen In the case of SQL Server Always On replication, the replication traffic travels across the Microsoft backbone network. The following reference architecture indicates SQL Server Always On functionality being synched via the Microsoft backbone: [Run Windows VMs in multiple regions for high availability](https://docs.microsoft.com/en-us/azure/architecture/reference-architectures/virtual-mac

[2018-04-01 23:50] dcbrown16 opened #6579 "Metrics number update"
"Application Gateway currently has one metric. This metric measures the throughput of the application gateway in bytes per second."
This sentence at the top needs to be updated since there are seven metrics available currently. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5f080ad-843f-d7be-eba6-2837993d052b

[2018-04-01 23:52] kjhosein opened #6580 "Dashes shown in the examples are not the same chars that the CLI recognizes"
If you copy and paste many of these examples, they will fail with an 'unrecognized arguments' error. You would need to re-type the dash/hyphen chars with the standard ones on your keyboard.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 643e1686-5729-90e8-83df-85f7f9d1b577
* Version Independent ID: 6258c40a-5043-7cd9-a

[2018-04-01 23:56] dcbrown16 commented on #6579
Also a typo: the "Response Status" note says "further categoized". Thanks.

[2018-04-02 00:04] kazshi commented on #6451
Thank you for the update!

[2018-04-02 01:49] dcbrown16 commented on #5753
Thanks!

[2018-04-02 02:05] dcbrown16 opened #6582 "Revise table"
The table posted as an image under Default and Custom Antimalware Configuration that explains all the settings is not following best practices for documentation in regards to other languages - it appears untranslated. It's also not text that can be found when searching for the content within.
Sorry for the inconvenience, but please recreate this content as actual text within the page so that it ca

[2018-04-02 02:28] MicahMcKittrick-MSFT commented on #6500
@tvperez76 yes the logic behind getting it to work is the same as used in VMSS. Hence, that doc is the reference we were able to provide. We do not have any specific documentation specifically to service fabric at this point in time.

So all you need to do after creating your SF cluster is navigate to Virtual Machine ScaleSets in the portal, select the scaleset that was created when you made your

[2018-04-02 02:46] daviburg opened #6583 "What git add?"
After installing the Composer extension it says to perform git add, ... like in the previous section. What is the previous section? There is no other mention of git add in the whole page or that I can see on above pages under Configure app section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e564777-8d59-9065-6f0d-

[2018-04-02 02:47] daviburg opened #6584 "Error in documentation of what version is enabled by default"
"By default, PHP 5.6 is installed and immediately available for use when you create an App Service web app. The best way to see the available release revision, its default configuration, and the enabled extensions is to deploy a script that calls the phpinfo() function.
PHP 5.6 and PHP 7.0 versions are also available, but not enabled by default. To update the PHP version, follow one of these metho

[2018-04-02 04:03] dkkapur commented on #6500
@tvperez76 Ah yes - sorry I missed that part of the original question. Let us get back to you on enabling this inside Windows Containers!

My hunch is that it should be possible, since if the OS / other processes in your container image support MSI (which I assume is the case), we as Service Fabric should be agnostic to it and it should work.

Tagging @srrengar  and @RajeetN to follow up here.

[2018-04-02 04:30] nileshkrishnan opened #6586 "great news"
good feature

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1964d4c8-7106-ac1e-3d69-30681e755f49
* Version Independent ID: e0d241fa-50d1-076d-eb15-854a9e8086c4
* Content: [Traffic View in Azure Traffic Manager](https://docs.microsoft.com/en-us/azure/traffic-manager/traffic-manager-traffic-view-overview?WT.mc_id=azurebg

[2018-04-02 04:57] amanarneja commented on #6586
@nileshkrishnan Thanks for the positive feedback!

[2018-04-02 04:57] #6586 closed

[2018-04-02 04:58] amanarneja commented on #6576
@denmak Thanks for the feedback! I have assigned the issue to the content author to investigate and update the document accordingly.

[2018-04-02 05:01] amanarneja commented on #6579
@dcbrown16 Thanks for the feedback! I have assigned the issue to the author to investigate and update the document accordingly.

[2018-04-02 05:54] amanarneja commented on #6577
@willam-gregoire Sorry about the experience. I am assigning the issue to @neilpeterson in case he has some suggestions, failing which investigating over a support ticket will be most appropriate.

 If you don't have a support plan we are happy to set you with a free support ticket to investigate this issue.

[2018-04-02 06:12] richardleeaus commented on #6567
If this isn't the appropriate channel, more than happy to post elsewhere. Thanks for your help so far. Cheers

[2018-04-02 06:56] Serjster opened #6587 "Disappointing."
This was generally good info except it doesn't show how to grant other users access to this folder in Azure Storage Cloud Explorer

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a44417e3-0ac4-40e0-6b90-86a07592e87f
* Version Independent ID: c3ed990b-5ae7-d444-f032-46b0ac8e68bb
* Content: [Manage Azure Blob Storage reso

[2018-04-02 08:34] BukeMan opened #6589 "Outdated data"
The data in this document seems to be outdated as some products don't have all services. Where can I get the updated reference?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c245452-161d-89a1-c026-99a0721cf071
* Version Independent ID: 16dec59a-eb83-1837-4efd-4645e7aeaed2
* Content: [Product names and service plan id

[2018-04-02 08:35] carct opened #6590 "base64 encoded scripts on Windows VM"
Hi,

Is it possible to use base64 encoded scripts directly inputted into the ARM Template ?
On Linux VMs this is possible through the 'script' setting set under 'protectedSettings'.

If not, do you think that it is possible on Windows VMs to have this CustomScriptExt without an actual script download from Azure Storage / GitHub / etc. ? (I was thinking about multiple 'commandToExecute' under 'prot

[2018-04-02 09:09] githubavi opened #6591 "Doubt on Anomaly detection condition check"
Hi, in the above documentation condition check for "BiLevelChangeScore", "SlowPosTrendScore" and "SlowNegTrendScore" are same (> 3.25). Is it correct? Shouldn't condition for "SlowPosTrendScore" be "> 0" and condition for  "SlowNegTrendScore" be "< 0"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff7b0ac6-60d5-7282-b

[2018-04-02 09:15] dhananjaypatkar opened #6592 "Fixing inconsistencies in HBase meta"
There were several exceptions "org.apache.hadoop.hbase.exceptions.FailedSanityCheckException: Requested row out of range for doMiniBatchMutation on HRegion"

Recommended action for this to repair the hbase meta using
sudo hbase hbck -fixMeta  "table name"

But when I run this command, it fails with permission error
 WARN  [main] util.HBaseFsck: Got AccessDeniedException when preCheckPermission
org

[2018-04-02 09:32] paulh-rnd opened #6593 "Can't attach to Virtual Machine"
I'm not seeing the "Attach to debugger" option when trying to debug on an Azure VM: see "Debugging Azure virtual machines", step 3.  When I right click on my virtual machine in Server Explorer, all I see is two options: Refresh and Configure.  If I click Configure, it simply takes me to the Azure Portal page for that VM.

I am using VS 2017 version 15.4.1 (admittedly a little out of date, but this

[2018-04-02 09:40] shahrulazwan opened #6594 "Incomplete guide in "Add a message to a queue""
Missing line,

use MicrosoftAzure\Storage\Common\ServicesBuilder;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed474123-27df-37f6-4ccb-fd62bd2c6737
* Version Independent ID: e1725ff7-18bd-3e8b-39c5-dac9678513dc
* Content: [How to use Queue storage from PHP](https://docs.microsoft.com/en-us/azure/storage/queues/storag

[2018-04-02 10:16] AhlemJaouadi opened #6595 "CodeAndroid"
I need this code with java for android app

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 183e5251-798f-9f67-b0d7-20d68230b31d
* Version Independent ID: 775c2385-f03a-fc5c-a5dd-1fd64e678bc3
* Content: [Real-time video analysis with the Face API - Microsoft Cognitive Services](https://docs.microsoft.com/en-us/azure/cogn

[2018-04-02 10:27] Ramji-S opened #6596 "Can't execute a stored procedure using Emulator"
I am running emulator V1.20.108.4 and I don't have the option to "Execute" a stored proc on it, though I can still execute the same using the Azure Portal (or via SDKs ofcourse!). Is this something that can/will be added in the future in emulator as well ? Also can the docs be updated ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2018-04-02 11:30] Tanveeransari1987 commented on #5643
I was getting the same error. I figured out that when the pipeline is triggered through Manual trigger we get this error. trigger().outputs.windowStartTime is only valid when the pipeline is triggered through TumblingWindowTrigger.

[2018-04-02 11:59] richardleeaus commented on #6567
@amanarneja sorry - what channel would it be best to follow this up with?

Essentially i want to be able to run the "az ml" extension without workbench installed. I read the documentation as you could without workbench installed.

Cheers

[2018-04-02 14:30] seanshankus opened #6597 "update documentation to current Hive version"
there is a disconnect between the "Linux" instructions and step 4; which calls for the "standalone" hive-jdbc driver, which doesn't exist (at least not named as such under /usr/hdp/current/hive-client/lib.  Can these instructions be updated to current.   I believe instead of the "hive-jdbc-0.14.0.2.2.9.1-7-standalone.jar" it should be "hive-jdbc-1.2.1000.2.6.2.3-1.jar" at least for HDInsight 3.6 (

[2018-04-02 14:43] Nboothe opened #6598 "Insert Activity"
Hello.  I think something may have changed since part of this document was created.  I'm trying to walkthrough this document and in the "To insert an activity into a Runbook" section it states "At the bottom of the screen, click Insert and then Activity.".  There is nothing at the bottom of the screen and I can't find any reference to "Activity" anywhere on the screen.  I'm trying to work with a v

[2018-04-02 14:45] anshuman-nath opened #6599 "PowerShell issue"
I'm stuck at step-7 and not able to proceed. Tried running the command locally on PowerShell as well as on CloudShell. While trying to enable ICMP, the command doesn't execute and "There are no more endpoints available from the endpoint mapper." message is displayed. Please let me know what I'm missing.

PS Azure:\> Get-ExecutionPolicy -List

  Scope             ExecutionPolicy
  -----

[2018-04-02 15:06] amanarneja commented on #6567
@richardleeaus I tried out the steps and had the same experience, I am currently installing the workbench and seeing if that pulls in some additional dependencies. Will let you know my observations.

The best channel for this query is in our forum : https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=MachineLearning where you might get a quicker response.

[2018-04-02 15:06] vhorne commented on #6579
Thanks. Article updated and will go live later this morning.
#please-close

[2018-04-02 15:08] #6397 closed

[2018-04-02 15:09] vhorne commented on #6303
#please-close

[2018-04-02 15:10] kjhosein commented on #6580
This may be addressed by issue https://github.com/MicrosoftDocs/azure-docs/pull/6581

[2018-04-02 15:37] figuerres commented on #6533
let me know if i can add more info or if you need to look at some data , when i use the analytics query i have user id , it's logged to the api calls.
but the top level portal ui always says 1 user
sessions also only counts 2 or 3, but i have 30 plus users getting jwt tokens every day.
i am using the token as my session id to try and get user / session counting to work.
using owin and identity ser

[2018-04-02 15:54] rfigueroa commented on #6376
@Mike-Ubezzi-MSFT is there any update on this?

[2018-04-02 15:59] lleonard-msft commented on #6491
Hi @yadcam - Just a quick note to let you know that I'm trying to chase down the relevant info.  Hope to have more soon.

[2018-04-02 16:02] Mike-Ubezzi-MSFT commented on #6376
@rfigueroa I was just looking into this and found the following content which should help you understand the differences between the Azure Cosmos DB and the emulator. The emulator is purely local to your PC. [Read more here: Use the Azure Cosmos DB Emulator for local development and testing
](https://docs.microsoft.com/en-us/azure/cosmos-db/local-emulator)
Please let me know if you have any additi

[2018-04-02 16:06] Adam-Smith-MSFT commented on #6521
@madmox it is actually the expected behavior: "You can enable anonymous, public read access to a container and its blobs in Azure Blob storage. By doing so, you can grant read-only access to these resources without

 (SAS)."
Source: https://docs.microsoft.com/en-us/azure/storage/blobs/storage-manage-access-to-resources

The best scenario for the case you've described is to use the SAS features to

[2018-04-02 16:08] MicahMcKittrick-MSFT commented on #6521
Thanks for confirming @Adam-Smith-MSFT!

@madmox I suggest leaving this feedback on [UserVoice](https://feedback.azure.com/forums/217298-storage) that way if others also feel the same way they can vote on it and the product team can consider adding that feature.

Let me know if we need to address anything else :)

[2018-04-02 16:08] #6521 closed

[2018-04-02 16:09] femsulu commented on #6580
@kjhosein
Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-02 16:10] MicahMcKittrick-MSFT commented on #6478
@chiayenhung thanks for getting back and confirming!

[2018-04-02 16:10] #6478 closed

[2018-04-02 16:11] MicahMcKittrick-MSFT commented on #6349
@HaikoHertes I will close this out for now. Please see my above comment for any next action.

[2018-04-02 16:12] jennyhunter-msft commented on #6554
@georgewallace It seems like this article got mixed up with the one for the VM only experience. We should change this to the Automation account view of Inventory, which will make it applicable to both Azure and non-Azure machines.

[2018-04-02 16:12] femsulu commented on #6582
@dcbrown16 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-02 16:14] MicahMcKittrick-MSFT commented on #6500
Thanks @dkkapur. I have assigned @srrengar and @RajeetN along with myself to this issue so they can easily track it.

[2018-04-02 16:15] femsulu commented on #6583
@daviburg  Thanks for the feedback. Your feedback has been shared with the content owner. We will get back to you shortly.

[2018-04-02 16:15] MicahMcKittrick-MSFT commented on #6534
@bdcoder2 thanks! I am following that post to ensure process is made.

[2018-04-02 16:17] yadcam commented on #6491
Sure, do not worry about it!!

From: Lance Leonard (MSFT) [mailto:notifications@github.com]
Sent: Monday, April 2, 2018 9:59 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Yadder Camacho (Tek Experts) <v-yacama@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Higher Throttle Limits (#6491)

Hi @yadcam<https://na01.safelinks.protectio

[2018-04-02 16:19] abgreg commented on #6533
Hi @figurerres, Thanks for reaching out about this issue. :) It would be helpful to get a little more information when you have a moment.
- I'm assuming you're looking at the tab in the Usage section titled Users when you see 1 user. Is that correct?
- Could you please run the following query in Analytics for your app and let me know what it returns?
union pageViews, customEvents
| summarize dcoun

[2018-04-02 16:23] YuriDio commented on #6582
CCing @barclayn and @TerryLanfear since I left the team. They should be able to work on this.

[2018-04-02 16:25] #6538 closed

[2018-04-02 16:26] Mike-Ubezzi-MSFT commented on #6484
@SamirFarhat I want to follow up to see if you have resolved your issue or if you need additional assistance. I was going to reach out to the email address provided (askcosmosdb at Microsoft.com) with your issue but didn't want to duplicate efforts.
The reason I inquired about your region was because this same error occurs when Cosmos DB is deployed in N. Europe but, since you are using the emulat

[2018-04-02 16:30] femsulu commented on #6587
@Serjster Thanks for the feedback. Your feedback has been shared with the content owner. We will get back to you shortly.

[2018-04-02 16:32] femsulu commented on #6589
@BukeMan Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-02 16:36] femsulu commented on #6590
@carct  Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-02 16:37] femsulu commented on #6591
@githubavi Thanks for the feedback. Your feedback has been shared with the content owner. We will get back to you shortly.

[2018-04-02 16:39] femsulu commented on #6592
@dhananjaypatkar  Thanks for the feedback. Your feedback has been shared with the content owner. We will get back to you shortly.

[2018-04-02 16:46] koreyb-MSFT commented on #6453
@sileniced
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-02 16:46] #6453 closed

[2018-04-02 16:48] SamirFarhat commented on #6484
Here the log file after reproducing the error.
Here the command i'm using to launch cosmsodb emulator:
"C:\Program Files\Azure Cosmos DB Emulator\CosmosDB.Emulator.exe"  /AllowNetworkAccess /Key=RjH51CeXZiepzPppob2p0xLGf1E5BaXaE0aNI6v3AMg96FCXo5QZRdZLTwtbQ6wXYtTi85SFpS9q1vSRcHusWQ==

[docdbemulator_000001.zip](https://github.com/MicrosoftDocs/azure-docs/files/1868643/docdbemulator_000001.zip)

[2018-04-02 16:49] mike-urnun-msft commented on #6428
@Rutikhal Number of apps and different features you may use with your Azure AD tenant may vary by subscription type you're in. Please refer to the pricing details (feature comparison page) for more information: https://azure.microsoft.com/en-us/pricing/details/active-directory/

[2018-04-02 16:51] #6428 closed

[2018-04-02 16:53] jason-j-MSFT commented on #6489
@Juliako
At step #25 in this document, it might be good to clarify that you must click the "Grant Permissions" button, then click the OK button to confirm.

[2018-04-02 16:55] dcremonini opened #6602 "Misleading address in ssh command"
Instead of
ssh azureuser@40.118.249.235
a generic tag should be used
ssh azureuser@<publicIpAddress>
possibly explaining how to obtain the public IP address like in https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/tutorial-use-custom-image-cli

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4daf704c-11b

[2018-04-02 17:01] jason-j-MSFT commented on #6471
@pawankt Thanks for the follow up, I hope the guidance in the document you linked helps you well.

[2018-04-02 17:01] #6471 closed

[2018-04-02 17:05] Mike-Ubezzi-MSFT commented on #6599
@anshuman-nath Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-02 17:07] Mike-Ubezzi-MSFT commented on #6598
@Nboothe Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-02 17:08] Mike-Ubezzi-MSFT commented on #6597
@seanshankus Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-02 17:08] georgewallace commented on #6554
@msghaleb Thanks for the feedback, I have started working on this and should have this document updated in the new couple days. I will post the link to the updated doc once it is live.  Thank you so much for bringing this to our attention. @BryanTrach-MSFT can you assign this to me instead of Jenny as I will be making the updates?

[2018-04-02 17:10] Mike-Ubezzi-MSFT commented on #6596
@Ramji-S Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-02 17:10] rymk opened #6603 "Is there a character limit on Log-Type"
Is there a 101 character limit on the Log-Type request header? I have not found any supporting documentation online; however, we are currently experiencing an issue where log entries uploaded, via Rest API, to https://OurWorkspace.ods.opinsights.azure.com/api/logs?api-version=2016-04-01 is returning a 400 Bad Request - InvalidLogType when the Log-Type specified is greater than 101 characters (no s

[2018-04-02 17:11] Mike-Ubezzi-MSFT commented on #6595
@AhlemJaouadi Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-04-02 17:13] Mike-Ubezzi-MSFT commented on #6594
@shahrulazwan Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-02 17:14] msghaleb commented on #6554
@georgewallace @jennyhunter-msft thanks for the great article. I would like to point out as well that we are trying to get the Log Analytics working with both Azure VMs and on prem VMs (win/Linux) all are successfully sending Heartbeats however only the Azure VMs are showing up when querying the Software on the server. Any tips here would be much appreciated. I understand if its off topic - otherw

[2018-04-02 17:16] Mike-Ubezzi-MSFT commented on #6593
@paulh-rnd Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-02 17:18] iainfoulds commented on #6574
Thanks for the feedback, @ToddASchultz . The article should probably point to the Windows version of the SSH doc at the least. CC @dlepow who has a work item for long-term updates to the SSH generation docs.

I'll create a PR that updates this Windows quickstart to link to the Windows SSH doc. The scope of the doc isn't to get very deep here, as the quickstarts are designed to just get a VM up and

[2018-04-02 17:18] figuerres commented on #6533
@abgreg   what you just posted i think explains the problem and what to possibly do to fix this.

PageViews   -- this is an app that hosts about 100 rest web api methods,  so there are *NO* PageViews to record at all.
possibly the azure portal might have a setting for selecting web app / web api or both to chnage some of the logic.
all my api traffic is logged as requests, requests may have a user

[2018-04-02 17:26] subsarma commented on #6522
@Phydeauxman  - not sure what the issue is, but couple of things to try:
1) Try the Azure cloudshell from the Azure Portal: it uses the same modules behind the scenes
2) Try reinstalling Azure Powershell - latest version supports Azure DNS Private zones natively without the need to install custom modules as mentioned earlier: https://docs.microsoft.com/en-us/powershell/azure/install-azurerm-ps?vie

[2018-04-02 17:29] abgreg commented on #6533
@figuerres Thanks for the details! It sounds like the snippet above may not set the user_Id properly. I'll investigate this further and let you know what I find.

[2018-04-02 17:35] #6574 closed

[2018-04-02 17:39] #6579 closed

[2018-04-02 17:39] figuerres commented on #6533
so the snippet is ok but there are other snippets out there that have the other ways that have been used so in searching for how to do this i got some mixed info.
also having 3 different property options that all say "userid" makes for confusion on which ones to set and which to ignore.

now that i set telemetry.Context.User.Id = userId.ToString(); i start to see a user count on the default button

[2018-04-02 17:39] #6344 closed

[2018-04-02 17:40] #6303 closed

[2018-04-02 17:40] #6295 closed

[2018-04-02 17:43] #5657 closed

[2018-04-02 17:43] #5645 closed

[2018-04-02 17:45] ToddASchultz commented on #6574
Thanks again; just making an excellent resource even excellent-er!

Todd Schultz, PhD
Professor Emeritus, Augusta University
tschultz@augusta.edu<mailto:tschultz@augusta.edu> | 706-667-4534 | http://spots.augusta.edu/tschultz

From: Iain Foulds <notifications@github.com>
Sent: Monday, April 2, 2018 1:19 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: ToddASchultz <t.a.schultz@o

[2018-04-02 17:48] TerryLanfear commented on #6582
@YuriDio - Yuri, I'll update the article.  Thanks, Terry

[2018-04-02 17:54] anirudhcavale commented on #6575
These metrics are not yet live. We will only document them once they have been tested and validated. @Yukinobusakabe can you close the issue for now?

[2018-04-02 17:54] jan-eng commented on #6573
@dsushil2000 can you please clarify where the confusions is? Is it the statement in the portal or something that is on the documentation page?

[2018-04-02 17:56] ambakshi opened #6606 "CLI 2.0 instructions don't work"
I tried 'az extensions add --name dns', and got this (on Ubuntu 16.04/xenial)
$ az extension add --name dns
Linux distro check: Mismatch distribution name in /etc/apt/sources.list.d/azure-cli.list file
Linux distro check: If command fails, install the appropriate package for your distribution or change the above file accordingly.
Linux distro check: /etc/apt/sources.list.d/azure-cli.list has 'is',

[2018-04-02 18:05] douglaslMS commented on #6352
@cloudmelon Thank you for your suggestions. To clarify the role of the Hub Database, I am adding this sentence to the page: "The hub database is the central endpoint of the sync topology, in which a sync group has multiple database endpoints. All other database endpoints in the same sync group - that is, all member databases - sync with the hub database."

[2018-04-02 18:05] ggailey777 commented on #6541
@kashimiz can you verify @Mike-EEE's findings? It looks like you added the log file location information originally.

Thanks.

[2018-04-02 18:05] douglaslMS commented on #6352
@cloudmelon To clarify the conflict resolution, I am adding this paragraph to the page:

"Hub wins" means that, when a conflict occurs, the data in the hub database overwrites the conflicting data in the member database. "Member wins" means that, when a conflict occurs, the data in the member database overwrites the conflicting data in the hub database.

[2018-04-02 18:06] douglaslMS commented on #6352
I think this removes the lack of clarity. Let me know what you think.

[2018-04-02 18:12] Blackmist commented on #6597
@seanshankus Thanks for the feedback.
@Mike-Ubezzi-MSFT I've got this one.

The screenshot is incorrect, it should not list the standalone driver. Currently you have to download multiple jars to establish a connection from Squirrel SQL, in addition to replacing the commons-codec.jar for Squirrel (see the troubleshooting section.)

I'll update the screenshot today to reflect the list of jars that a

[2018-04-02 18:16] douglaslMS commented on #6352
@cloudmelon FYI the updated page will be published this afternoon (Monday, April 2, Redmond time).

[2018-04-02 18:20] MicahMcKittrick-MSFT commented on #6580
@kjhosein thanks for pointing this out. I have noticed in a few examples on other docs that when you copy and paste commands sometimes the space between commands is off.

I will assign this to the content author to double check that the dashes are correctly formatted.

@mmccrory  can you please take a look?

[2018-04-02 18:24] MicahMcKittrick-MSFT commented on #6590
@carct great questions!

@danielsollondon is this something you might be able to shed some light on?

[2018-04-02 18:26] fujiy commented on #6144
Ok. Great

[2018-04-02 18:26] iainfoulds commented on #6488
Thanks, @larryms . This is a known area that we need to address, and have a backlog work item to update this for Resource Manager. At the time, even though CLI 2.0 and Resource Manager was the preferred approach, AAD DS only supported ASM. As we have a backlog work item for this already, I'm going to close out this issue.

#please-close

[2018-04-02 18:30] MicahMcKittrick-MSFT commented on #6599
@anshuman-nath just to confirm, are you referring to step 6 under [Route Traffic through NVA](https://docs.microsoft.com/en-us/azure/virtual-network/tutorial-create-route-table-portal#route-traffic-through-an-nva)?

Also, can you attempt to set your execution policy as unrestricted and try the same command? You need to run PowerShell as an Adminstrator to do this.

`Set-ExecutionPolicy -ExecutionP

[2018-04-02 18:35] femsulu commented on #6584
@daviburg Thanks for the feedback. Your feedback has been shared with the content owner. We will get back to you shortly.

[2018-04-02 18:35] jlian commented on #6427
Hey @ScotStover, IIRC you can actually view *all* resources for any offer using the rate card API. But we do require that you have an existing subscription (any kind, so a free trial is enough) to use the API.

Take a look at the reference docs here https://msdn.microsoft.com/en-us/library/azure/mt219004

So if you have a free trial (MS-AZR-0044P) and are looking to get info on Pay-As-You-Go (MS-A

[2018-04-02 18:40] ScotStover commented on #6427
@jlian , Thanks. I will have the team review.

I do appreciate the guidance!

[2018-04-02 18:41] femsulu commented on #6602
@dcremonini Thanks for the feedback. Your feedback has been shared with the content owner. We will get back to you shortly.

[2018-04-02 18:42] femsulu commented on #6603
@rymk Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-02 18:59] cloudmelon commented on #6352
Thank you :)

Melony QIN

[2018-04-02 19:00] Blackmist commented on #6597
updates have been submitted for publication. Should be live later tonight.

[2018-04-02 19:00] MGoedtel commented on #6472
#in-process

[2018-04-02 19:08] RickFlist opened #6607 "-AccountType No Longer Valid"
Looks like -AccounType was renamed SkuName

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4dd4a5e2-c630-2702-ac7c-15004b541161
* Version Independent ID: f64d7493-0278-de95-a16e-c11369f74c55
* Content: [Attach a data disk to a Windows VM in Azure using PowerShell](https://docs.microsoft.com/en-us/azure/virtual-machines/

[2018-04-02 19:10] philipvago opened #6608 "Azure Connection String - "the given header was not found""
Hi team,

I was able to spend a little more time on this!

I hit a new error message : "the given header was not found"

I provided all the required values from the Cosmos db connection string section of my azure account.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9edf1df2-588e-01ff-6d1c-234b8e51d550
* Version Inde

[2018-04-02 19:12] douglaslMS commented on #6352
#please-close

[2018-04-02 19:20] pawankt commented on #6556
Any update would be apprenticed!

[2018-04-02 19:22] Mike-Ubezzi-MSFT commented on #6516
@kiranjshetty Do you have specific throughput requirements or need to support a specific number of tunnels?
The specific instructions for setting up routing for an NVA can be found here: [Route network traffic with a route table using the Azure portal](https://docs.microsoft.com/en-us/azure/virtual-network/tutorial-create-route-table-portal#route-traffic-through-an-nva)
If you do not have a very s

[2018-04-02 19:29] edmacauley commented on #6412
@declang Thanks for catching this, will get right on updating the doc.

[2018-04-02 19:30] #6575 closed

[2018-04-02 19:38] jason-j-MSFT commented on #6449
@chakrarp We are assigning this issue to a content owner for evaluation.

@linda33wj Should more table information be added to the documentation where data is being copied from AmazonMWSSource using a SQL query?  There is an example in the documentation with the "Orders" table in this section:
https://docs.microsoft.com/en-us/azure/data-factory/connector-amazon-marketplace-web-service#copy-activit

[2018-04-02 19:40] cynthn commented on #6607
#in-progress

[2018-04-02 19:44] glennc opened #6609 "az aks install-cli fails with permission denied"
[code]

I already have kubectl in the directory mentioned.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6115d555-45a1-6539-4af6-fbc20a99f008
* Version Independent ID: 21f80c83-ba10-9b7e-c54f-51a9c140517c
* Content: [Quickstart - Azure Kubernetes cluster for Linux](https://docs.microsoft.com/en-us/azure/aks/kubernetes

[2018-04-02 19:44] denmak commented on #6576
As I found there are no options to create linked service and dataset based on shared access signature for table storage  in Azure Data Factory v2 GUI, but there a work around, with Azure Powershell. If set the linked service and dataset via powershell, then we can continue to work with GUI as usual.  but this is not clear from the documentation.

[2018-04-02 19:52] MohitGargMSFT commented on #6485
@MatLeger We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-02 19:53] cynthn commented on #6607
#please-close @RickFlist thanks for the feedback!  Fix is in PR:36846 which just merged for the 3PM publish.

[2018-04-02 19:54] MohitGargMSFT commented on #6528
@rmrs75 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-02 19:54] #6528 closed

[2018-04-02 19:58] MohitGargMSFT commented on #6546
@jboarman As mentioned in the document, in some instances, it can take up to 24 hours for sign-in activity data to show up. However, if you see unusual delay in your environment please open a support ticket so that Identity Support Engineer works with you to figure out the issue. Thanks.

[2018-04-02 19:58] amanarneja commented on #6487
@spottedmahn Typically we link from the Microsoft Azure official repositories to make sure the data stays relevant. Is there a particular topic in this repo that you would like to see in the official documentation?

Also assigning to @davidmu1 to check if he feels differently.

[2018-04-02 20:00] jason-j-MSFT commented on #6456
@hauszerm We are assigning this issue to a content author for evaluation.

@ryanwaite Could you help route this issue to an owner?  This is a request for a documentation enhancement which would more explain Stream Analytics metrics.

[2018-04-02 20:05] Rutikhal commented on #6428
My question was is every user in azure ad (with default permissions) could register new app?

Sent from my Samsung Galaxy smartphone.

-------- Original message --------
From: Mike Urnun <notifications@github.com>
Date: 4/2/18 18:49 (GMT+01:00)
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Rutikhal <alexander.tikhomirov@outlook.com>, Mention <mention@noreply.github.com>
Subject:

[2018-04-02 20:06] MikeRayMSFT commented on #6455
Submitted doc update to explain script.
#please-close

[2018-04-02 20:07] jason-j-MSFT commented on #6459
@gangothriurs If this is an operational issue or a service issue, please report your error to the "deployml@microsoft.com" email address contained in the error.

If this is a documentation issue, please provide a link to the documentation and reopen the case.

[2018-04-02 20:07] #6459 closed

[2018-04-02 20:09] kiranjmsft opened #6610 "Error saying Restore Point collection max limit has reached."
Recommended Action: Please ensure that there are no resouce locks which prevents Restore points cleanup.
However, I didn't create any locks.  How to resolve it?

Error Code: UserErrorRpCollectionLimitReached
Error Message: The Restore Point collection max limit has reached.
Recommended Action: Please ensure that there are no resouce locks which prevents Restore points cleanup.

---
#### Document D

[2018-04-02 20:14] #6455 closed

[2018-04-02 20:14] jason-j-MSFT commented on #6498
@ebragas There is a link at the bottom of the page in the "See also" section which takes you to recent article describing User-Defined Operators:
https://msdn.microsoft.com/en-us/azure/data-lake-analytics/u-sql/extending-u-sql-expressions-with-user-code

We are closing this issue for now but feel free to add comments as needed.

[2018-04-02 20:14] #6498 closed

[2018-04-02 20:21] SyntaxC4 commented on #6584
@Jen7714 Can you take a look at this and provide us the most up-to-date version?

[2018-04-02 20:21] msghaleb commented on #6554
I think I figured out what the problem was for the non azure servers. For azure its being done automatically but for non azure we need to go manually in our automation account and check on "Enable Inventory" and here we have 3 options (see my screen shots).

From Home --> Automation Accounts --> Automate-%ID%-WEU --> Inventory

<img width="821" alt="log_analytics3" src="https://user-images.githubu

[2018-04-02 20:22] spottedmahn commented on #6487
There's no Azure official repo for Angular!! 😊

[2018-04-02 20:25] jason-j-MSFT commented on #6515
@Flodu31 Thanks for the find, we are assigning this issue to a content author for evaluation.

@JYOTHIRMAISURI We have a suggestion to change some lines in the Powershell code on this page.

[2018-04-02 20:27] spottedmahn commented on #6487
And the community ones seem to stay more current than the official ones 😭

I submitted a [PR](https://github.com/Azure-Samples/active-directory-b2c-dotnet-webapp-and-webapi/pull/29) to update the [active-directory-b2c-dotnet-webapp-and-webapi](https://github.com/Azure-Samples/active-directory-b2c-dotnet-webapp-and-webapi) sample 7 days ago, still no comments or feedback.

It's a brave new world, e

[2018-04-02 20:29] MikeRayMSFT commented on #5433
Resolved in private repository. @SiloReed - the updated content should be live in the next couple of days. Thank you for submitting this comment.

#please-close

[2018-04-02 20:29] philipvago commented on #6608
This may be a red herring. I thought I need to deploy my json files using the data migration tool to  Azure. But after licking on the sample button (deploy to Azure) this may not be needed! :-)

[2018-04-02 20:32] anirudhcavale commented on #6400
@IshamMohamed you are correct in that the metrics only make sense when the time grain/resolution is 1min. When the metrics start getting rolled up to higher intervals (like 5min, or 1hour), the values are incorrect. We are working to address this in the coming weeks. In the meantime I would suggest manually setting hte time grain/resolution to 1min when you are querying for time windows greater th

[2018-04-02 20:34] tysonn commented on #6560
@mtillman - Mike, some feedback about a broken link on an AD landing page. I notice on the ACOM video gallery that there is no selector for AD B2C: https://azure.microsoft.com/en-us/resources/videos/index/?services=active-directory.

[2018-04-02 20:36] jennyhunter-msft commented on #6554
@msghaleb , that's a good point. The scope process should be better documented. How were you onboarding Azure machines? From the individual VM resource pages?

[2018-04-02 20:36] philipvago commented on #6608
We can close this. I'm working down a different path to get the sample deployed.

[2018-04-02 20:43] CaryJ opened #6612 "Which AD role is required to register applications?"
You mention that a person must be an admin in the AD tenant, but there are multiple types of admins.  Which specific admin roles have the right permissions?  IT departments don't want to be assigning global admin rights to everyone.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11aaa091-1108-52f6-0066-0f4e939aeef4
* V

[2018-04-02 20:43] pawankt opened #6613 "Invalid config settings given: Must specify storageAccount"
Although passing storageAccountName, storageAccountSasToken in public and private json, linux extension failed with above message. Extension installed but showing this error in VM extension section. No blobs created and data not reporting from logs to storage account

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72166

[2018-04-02 20:45] jason-j-MSFT commented on #6549
@rajivmedikonda We are assigning this issue to a content author for evaluation.

@SnehaGunda There does not appear to be "Setup.ps1" file in the linked GitHub repository for the TollApp.  Also, the link to the supporting TollApp folders and files appears to be broken.  The link is found in this section:
https://docs.microsoft.com/en-us/azure/stream-analytics/stream-analytics-build-an-iot-solution-

[2018-04-02 20:47] msghaleb commented on #6554
@jennyhunter-msft thank you 👍 well the individual VM resource pages is a good start however for many servers this may be time consuming. what I've also did was using the WorkSpace screen itself (s. below) and I'll test a fully automated way as well.

<img width="1210" alt="log_analytics4" src="https://user-images.githubusercontent.com/7212783/38215315-ba3b5680-36c7-11e8-8568-1e77e027e7d7.png">

[2018-04-02 20:48] jlbeasley commented on #5872
I know this case closed, but I am looking at the same situation where the device objects do not have a userCertificate attribute populated so are being filtered out and not joined to AAD. We are using PTA with SSO. Any recommendation on populating this attribute?

[2018-04-02 20:51] jasonzio commented on #6613
StorageAccountSasToken must appear only in protectedSettings. The storageAccountName must appear in both protectedSettings and normal Settings, in precisely the way it is shown in this document.

[2018-04-02 20:54] SyntaxC4 commented on #6518
@MicrosoftDocs/azure-cxp-triage Can you reassign this issue to @vladvino?

[2018-04-02 20:54] timlt commented on #6488
@iainfoulds, can you pls update metadata in this article to current manager?

[2018-04-02 20:54] SyntaxC4 commented on #6489
@MicrosoftDocs/azure-cxp-triage Can you please reassign this issue to @vladvino?

[2018-04-02 20:56] jeremyhagan commented on #5872
The computers require internet access via WinHTTP in order to probe the device registration service. Once they successfully probe the service they create a self-signed certificate which they then use to populate the userCertificate attribute. Check the User Device Registration event log. If you see errors saying winhttp call back failed it is because the machines can't find a proxy or access the i

[2018-04-02 20:58] jennyhunter-msft commented on #6554
@msghaleb , If you add any of the machines via the VM resource page it creates a scope configuration for limiting which machines are onboarded to that solution. (This was originally intended to prevent large charges when a user just wanted to add one machine and they end up with all of the machines in that workspace, but it has added additional confusion for a lot of customers.)

[2018-04-02 20:59] #6607 closed

[2018-04-02 21:00] MicahMcKittrick-MSFT commented on #6609
@glennc Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-02 21:07] Ayanmullick commented on #6544
Also, 'It requires an existing Azure VM to already be onboarded to the solution'.  How could I fully automate it thru powershell. How do I onboard the first VM with Powershell?

[2018-04-02 21:09] toanyonebutyou commented on #5448
Just want to comment and see if you can still on closed issues. Please Ignore

[2018-04-02 21:10] concat commented on #6117
@myusrn my github account name is “concat”; it makes for some interesting emails to me at times - like this one which has code snippet that triggered email to me!

[2018-04-02 21:11] mpnow opened #6614 "Incorrect description"
On this page you say "wingtip-dpt indicates this is the database-per-tenant app."  But this page is not describing the database-per-tenant variant; it is discussing the sharded multi-tenant model.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15c96859-ad47-d8bb-7789-e323ca3ededf
* Version Independent ID: c386cb71-20ee

[2018-04-02 21:15] jasonzio commented on #6613
The [Protected Settings](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/diagnostic-extension#protected-settings) looks like this:
[code]
Meanwhile, the [public settings](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/diagnostic-extension#public-settings) looks like this:
[code]

The storage account must be specified identically in both places.

This (requiring the sam

[2018-04-02 21:25] dubansal commented on #6591
It is correct.

[2018-04-02 21:30] koreyb-MSFT commented on #6593
@paulh-rnd At first glance, I'm seeing the same thing.  I will continue to look into this.

[2018-04-02 21:35] jwilton-winshuttle commented on #6205
I have the same issue when changing the location on "New-AzureRmDiskConfig". I tried on my PC and using the Azure Cloud Shell. It works only if the location is the same as the source, which isn't helpful if you need to change it's location.

@quigleyjp did you verify the disk itself was in the South Central US location, not just the resource group?

[2018-04-02 21:37] tamram commented on #5686
@Adam-Smith-MSFT - can you assign this one to me? Thanks.

[2018-04-02 21:41] ajlam commented on #6186
@yesoreyeram, can you confirm how you are connecting to MySQL?

[2018-04-02 21:48] tfitzmac commented on #6137
@DavidHBallantyne - Here are the changes I made:
- Removed Cloud Shell from [create your first template](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-create-first-template) to simplify deployment steps.
- Changed the [deployment article](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-template-deploy-cli#deploy-template-from-cloud-shel

[2018-04-02 21:50] Louis-Ye commented on #5363
The "application upgrade flowchart" uses the term "Upgrade Domain", which is a typo I assume?

[2018-04-02 21:50] JasonWHowell commented on #6573
@jan-eng the article in question is part of the automatic Document Details. I think it is https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/mysql/concepts-pricing-tiers.md

That pricing tiers doc does not give any caveats about switching tiers, compute generation.

The backup caveat is already there as "It's not possible to change between the two backup storage options after the ser

[2018-04-02 21:56] pawankt commented on #6613
Ofcourse i did same..no luck..
private:

{
  "storageAccountName": "xxxx",
  "storageAccountSasToken": "xxxx",
  "sinksConfig": {
    "sink": [
      {
        "name": "LinuxSyslogBlob",
        "type": "JsonBlob"
      },
      {
        "name": "LinuxFilelogBlob",
        "type": "JsonBlob"
      },
      {
        "name": "LinuxCpuBlob",
        "type": "JsonBlob"
      },
      {
        "name

[2018-04-02 21:58] pawankt commented on #6613
![image](https://user-images.githubusercontent.com/32680371/38218355-1432f30e-3697-11e8-85c1-89bfdf18c5c5.png)

[2018-04-02 22:00] mtillman commented on #6404
@MicrosoftDocs/azure-cxp-triage A commit was merged to addressed this issue.
@Rachitgupta1994 take a look at the change and let us know if there are further problems.
#please-close

[2018-04-02 22:04] #6404 closed

[2018-04-02 22:06] billmath commented on #6251
Thank you @ashrayvk  for catching this.  I have fixed this.  The issue was that the html code for greater than and less than were not being used in the markdown so it was dropping it when rendering.  It should be fixed tomorrow.  Thanks!

#please-close

[2018-04-02 22:09] billmath commented on #6011
@guyhorn1964 Thank you for catching this.  I have created a work item for this, as it will take me some time to build this environment out again.  I will re-open this and update it once I have more information.  Thank you.

#please-close

[2018-04-02 22:10] jasonzio commented on #6613
Open an incident with Microsoft support. Issues in the GitHub documentation repo can be used to report defects in the documentation, but that doesn't appear to be what's going on here.

You can do some work on your own by building the smallest config file that works, then adding one new desired measurement/metric after another until you find the one that doesn't work as expected. Start by eliminat

[2018-04-02 22:13] #6011 closed

[2018-04-02 22:14] billmath commented on #6572
@DeanGross  Nothing would need to be done because you cannot just upgrade to AD FS 2016.  You need to have a clean 2016 server joined to the AD FS farm, so you would just install the agent for connect health on the new 2016 server.  https://docs.microsoft.com/en-us/windows-server/identity/ad-fs/deployment/upgrading-to-ad-fs-in-windows-server  Does this help?

[2018-04-02 22:26] femsulu commented on #6606
@ambakshi Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-02 22:32] roygara commented on #6594
@Adam-Smith-MSFT  if you could go ahead and assign this to me that would be appreciated. I am the owner of this doc.

[2018-04-02 22:34] roygara commented on #6594
@shahrulazwan Thanks for filing an issue! I'm looking into this now. Can I ask when you downloaded composer.phar and ran `php composer.phar install` ? Was it recently?

[2018-04-02 22:51] femsulu commented on #6251
@ashrayvk
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-02 22:51] #6251 closed

[2018-04-02 22:52] mtillman commented on #6096
@andyjenkinson Thanks for letting us know this page needed work. We have an item on our internal backlog to get this page updated soon. When the update is published the author will let you know by commenting on this issue. For now, we'll close the issue to avoid double-tracking.
#please-close

[2018-04-02 22:55] mtillman commented on #6103
#please-close
@thiagonevesuf feel free to reopen this issue if you continue to have problems related to this article.

[2018-04-02 22:55] mtillman commented on #6182
#please-close

[2018-04-02 23:08] Mike-Ubezzi-MSFT commented on #6488
@iainfoulds Closing issue with an understanding that metadata will be updated.

[2018-04-02 23:08] #6488 closed

[2018-04-02 23:09] roygara commented on #5952
@Adam-Smith-MSFT feel free to assign this to me. I'll be taking care of this particular issue.

[2018-04-02 23:10] roygara commented on #5952
@NeilBird Thanks for the suggestion! I'll add the link to the article and will respond when the change has been merged.

[2018-04-02 23:21] iainfoulds commented on #6488
@Mike-Ubezzi-MSFT Yes, @jpconnock is working on updating metadata

[2018-04-02 23:22] mtillman commented on #6013
@canoas please let us know if there are specific changes you'd like to see in the documentation. Otherwise, I'd like to close this issue, assume @anandyadavMSFT is taking your product feedback for future dev consideration. Thanks.

[2018-04-02 23:23] spacecat opened #6618 "MongoDB"
Which of the four "Configure data volumes" alternatives is best suited for MongoDB?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74be7378-92bc-0e59-0b70-c6b10e80d9b6
* Version Independent ID: f7f1eeb3-efe7-86e2-1fd7-04341b2c77cc
* Content: [Use Azure Disks with AKS](https://docs.microsoft.com/en-us/azure/aks/azure-di

[2018-04-02 23:31] roygara commented on #5952
@NeilBird changes have been merged and should be live tomorrow morning. Thanks again for the suggestion!

#please-close

[2018-04-02 23:33] mtillman commented on #6257
@DeanGross we have opened a work item in our internal backlog to have this item tracked for an upcoming sprint. We'll comment on this issue when the work is completed to notify you. For now, to avoid double-tracking, we'll close the issue here.
#please-close

[2018-04-02 23:34] jpoon opened #6620 "Update diagrams to use 19081 for reverse proxy port"
Diagrams are using 19008 for the reverse proxy port where the default value is 19081.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31e0a1d2-789d-240f-be0b-892d43f80b66
* Version Independent ID: aac58453-4adc-5c04-8067-d7107dc2df45
* Content: [Azure Service Fabric reverse proxy](https://docs.microsoft.com/en-us/azure/

[2018-04-02 23:38] mtillman commented on #6263
@new-kirte We have updated page with a note under prerequisites. Please let us know if you have any further changes you'd like to see.

#please-close

[2018-04-02 23:50] mtillman commented on #6317
@donaldhessing SAML 1.1 support in Azure AD is in private preview only right now. There are no public-facing docs on this yet.  Keep an eye on the [AAD blog](https://cloudblogs.microsoft.com/enterprisemobility/?product=azure-active-directory) and the [Azure roadmap](https://azure.microsoft.com/en-us/roadmap/?category=security-identity) for information when it's available.

#please-close

[2018-04-03 00:13] koreyb-MSFT commented on #6593
@paulh-rnd To make sure we aren't overlooking any of the required setup, we are assigning this to the author for follow up.

[2018-04-03 00:14] jeevansd commented on #6173
@danielDMP  and @mtillman We are in the process of updating this documentation. We will remove the link from the tool here and will provide the direct code block so that customers can copy it and modify it as needed. I think that way the don't have to download any tool but still can able to achieve the objective.

[2018-04-03 00:32] jason-j-MSFT commented on #6556
@pawankt I was able to get the template working, however I had to make an edit to the template since it is not a valid JSON.  Take a look at line 92:

"Query": "Event | where Source == "ServiceFabricNodeBootstrapAgent" | summarize AggregatedValue = count() by Computer",

I changed it to:

"Query": "Event | where Source == \"ServiceFabricNodeBootstrapAgent\" | summarize AggregatedValue = count() by

[2018-04-03 00:33] jeevansd commented on #6214
@smusick-teamwork Thanks for reporting this. We will make the Identifier mandatory in this case and then provide the guidance in the document so that customer  knows which URL they should use here.

@chetansriv and @v-nagta Please update the doc and update the app as needed.

[2018-04-03 00:34] jason-j-MSFT commented on #6556
Oops, it looks like the escape character I used was not captured in my comment.  Let me try again:

"Query": "Event | where Source == \\"ServiceFabricNodeBootstrapAgent\\" | summarize AggregatedValue = count() by Computer",

[2018-04-03 00:36] nithinsukumar opened #6621 "Naming convention of linked services?"
Documentation is little confusing. Can linked services have "-" Dashes?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65f81ce0-8915-2390-2c8e-53eb8a93180b
* Version Independent ID: 49fb5956-019b-0f5a-ebff-1ae19fe87c80
* Content: [Rules for naming Azure Data Factory entities](https://docs.microsoft.com/en-us/azure/data

[2018-04-03 00:43] jason-j-MSFT commented on #6556
@richrundmsft I think the nested double quotes on line 92 were not captured in the JSON sample in the document, which may be leading to errors for customers launching from Powershell or command line.

[2018-04-03 00:52] dcbrown16 opened #6622 "Relation with token authentication"
I corresponded with Richard Li about a warning that shows up in the CDN portal stating that "If token auth is enabled, query-string caching can not be enabled." Apparently that means that it can only use the "Ignore query strings" default mode listed on this page (confusingly described as "standard-cache" in the CDN portal).
I think it would be useful it this restriction could be laid out on this

[2018-04-03 01:26] pawankt commented on #6556
@jason-j-MSFT Thanks for reply, unfortunately my problem is different. When trying to add blob tables to storage account, saying invalid type. Although tried type as storageinsightconfigs and
Microsoft.OperationalInsights/workspaces/storageInsightConfigs

        {
          "apiVersion": "2015-11-01-preview",
          "name": "[concat(parameters('applicationDiagnosticsStorageAccountName'),parame

[2018-04-03 01:28] pawankt commented on #6556
I am only passing this block in resource section. remaining removed.

[2018-04-03 01:28] tdavoren commented on #5128
Hi Microsoft team, was this resolved? Was there a sample published elsewhere?

[2018-04-03 01:32] anshuman-nath commented on #6599
@MicahMcKittrick-MSFT.. yeah, i'm trying out the steps mentioned under "Route Traffic through NVA". Here's what I did, I set the execution policy for "Process", "CurrentUser" and "LocalMachine" to "unrestricted" followed by command to enable ICMP through Windows Firewall, but still getting error.

On CloudShell, the error message is "There are no more endpoints available from the endpoint mapper".

[2018-04-03 02:00] shahrulazwan commented on #6594
@roygara
You're welcome. Great! It will save a lot of other developer time since I spend about 30 mins debugging this and found that the ServicesBuilder were not loaded.

And yes, i downloaded and ran composer.phar install yesterday around 5pm (GMT +8)

[2018-04-03 02:14] ILoveRockStar opened #6624 "SNAT Port Alert per VM?"
Sorry If I post to wrong place.
Is it possible to create an alert to notify, one specific VM's SNAT Port has been exhausted?
Or is it only to create alert in per Load Balancer instead of Per VM?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a96406ce-2ffc-cdb3-1234-5154ccd5cc76
* Version Independent ID: f840a092-e1bf-1

[2018-04-03 03:06] adamfowlerit commented on #6123
Yes you're correct. Would be good then for the error to be clearer? I'm using -ne successfully. Appreciate the reply!

Thanks

Adam Fowler

________________________________
From: Curtis Love <notifications@github.com>
Sent: 31 March 2018 04:27:56
To: MicrosoftDocs/azure-docs
Cc: Adam Fowler; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Null or $Null (#6123)

@adamfowlerit<https://github.com/ada

[2018-04-03 03:11] rizwaans opened #6625 "How to just invoke a method on the device module without any timeout"
I'm trying to invoke a method on the device module without having to provide any timeout number. my current code is as below
var methodInvocation = new CloudToDeviceMethod("invokesenddicomimages") { ResponseTimeout = TimeSpan.FromSeconds(300) };

can someone help me achieve this code. I know if don't specify the timeout it will be defaulted to 30 seconds but I just want to invoke the method and do

[2018-04-03 03:22] myusrn commented on #5976
. . . as was clarified offline in 15.6.4 this known issue is resolved by removing the “Runtime support for R development tools”, “R language support” and “Microsoft R Client (3.3.2)” components not just the latter one.  In the 15.7 update this issue is expected to be addressed and the R language support and client components can be installed w/o creating an issue.

[2018-04-03 03:58] rizwaans opened #6628 "How to just invoke a method on the (simulated device)device module without any timeout"
I'm trying to invoke a method on the device module without having to provide any timeout number. my current code is as below
var methodInvocation = new CloudToDeviceMethod("invokesenddicomimages") { ResponseTimeout = TimeSpan.FromSeconds(300) };
can someone help me achieving this code. I know if don't specify the timeout it will be defaulted to 30 seconds but I just want to invoke the method and d

[2018-04-03 04:19] firstgenstudios commented on #6254
The previous commenter was correct - the latest versions of Visual Studio 2017 and ASP.Net Core 2.0 don't have the option to add a bower.json file in the templates.  You have to manually add bower.json and .bowerrc to get it to work right.

[2018-04-03 05:35] githubavi commented on #6591
Thanks. Can the documentation be updated to explain the condition checks for "SlowPosTrendScore" and "SlowPosTrendScore"?

[2018-04-03 05:41] femsulu commented on #6400
@IshamMohamed We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-03 05:41] #6400 closed

[2018-04-03 05:42] dubansal commented on #6591
The article describes the meaning of slow positive trend and slow negative trend. The anomaly detectors for these conditions check the slopes of values in the training window. What level of clarification are you looking for?

[2018-04-03 06:24] amanarneja commented on #6610
@kiranjmsft I Thanks for reaching out. I have marked this issue for investigation and @Adam-Smith-MSFT will investigate tomorrow to come up with next steps

[2018-04-03 06:25] amanarneja commented on #6612
@CaryJ Thanks for reaching out! We are investigating and will get back to you ASAP.

[2018-04-03 06:27] amanarneja commented on #6614
@mpnow Thanks for the feedback! We are checking up on this and will get back to you ASAP with an update.

[2018-04-03 06:30] femsulu commented on #6434
@pawankt Thanks for your response. Will now engage the doc owner to consider enhancing this doc or add to future docs .

[2018-04-03 06:44] imaterek commented on #6134
I'm using the:
"imageReference": {
"publisher": "MicrosoftWindowsServer",
"offer": "WindowsServer",
"sku": "2016-Datacenter",
"version": "latest"
with:
"extensions": [{
"properties": {
"publisher": "Microsoft.Azure.ServiceFabric",
"type": "ServiceFabricNode",

[2018-04-03 06:46] msghaleb commented on #6554
@jennyhunter-msft totally agree! I'm playing now with the solution, very good! thanks Jenny for the fast help and the very useful documentation!

[2018-04-03 06:51] michael-freidgeim-webjet opened #6630 "Can I delete several resources automatically created?"
It is not clear do I actually need "several resources automatically created". They are created for each automation account and fill a list of resources. I prefer to delete them if they not used for my particular automation. I believe that examples are safe to remove, but not so sure about certificates.
More details and explicit note, what can be safely delete will be appreciated.

---
#### Documen

[2018-04-03 07:08] Deepfat opened #6631 "error in template"
Hi in line 10 there is a trailing comma which should not be there..
  "variables": {
    "vnetID": "[resourceId('Microsoft.Network/virtualNetworks','myVNet')]",
    "subnetRef": "[concat(variables('vnetID'),'/subnets/mySubnet')]", #<---
  },

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3a1f07d-4e24-e4e6-d64a-90560d9

[2018-04-03 07:40] carct commented on #6590
found this ref regarding 'customData' property under the VM \ osProfile which sounds that it can accomplish what i would want:
https://mitra.computa.asia/articles/msdn-passing-custom-data-your-azure-vms-metadata-service-workaround

will give it a try in a couple of minutes

[2018-04-03 07:50] michael-freidgeim-webjet opened #6632 "What is OMS Portal?"
Please expand what is OMS Portal?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 445f65f4-cb9c-2060-e5d9-653a21c02d24
* Version Independent ID: 7c16b613-07fc-a189-8e0c-15bd40a4c389
* Content: [Respond to events with Azure Log Analytics Alerts](https://docs.microsoft.com/en-us/azure/log-analytics/log-analytics-tutorial-

[2018-04-03 08:12] DeepPuddles opened #6633 "denied due to invalid subscription key"
have tried both keys, any easy way around?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e458d65d-3c89-3e41-fdf7-613523fcc78a
* Version Independent ID: 4ca7bedf-6435-d19d-9a47-fa0a686da00c
* Content: [Face API Python tutorial - Microsoft Cognitive Services](https://docs.microsoft.com/en-us/azure/cognitive-services/Fac

[2018-04-03 08:24] fhe-fr opened #6634 "Docker execution on local windows server doesn't work"
When I run the iris_sklearn.py on a docker local environnement based on windows server 2017, the job fail with the following error:

Logging experiment preparation in history service.
Running: ['docker', 'build', '-f', 'azureml-setup/Dockerfile', '-t', 'azureml_7533c307cdd76de1128dfb2b86d6fd4e', '.']
Sending build context to Docker daemon  243.7kB
Step 1/14 : FROM microsoft/mmlspark:plus-0.9.9
plu

[2018-04-03 08:27] kasunsjc opened #6635 "$storageType Variable not define"
In Above Sscript $storageType is not define as a variable.
$diskConfig = New-AzureRmDiskConfig -AccountType $storageType -Location $snapshot.Location -SourceResourceId $snapshot.Id -CreateOption Copy

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8712c031-cf75-9523-0d70-2e33e7a3ca1d
* Version Independent ID: 87134f0c-b

[2018-04-03 08:36] githubavi commented on #6591
Just like "BiLevelChangeScore" been explained. How 3.25 value been justified for these 2 categories?

[2018-04-03 08:48] adriantorrie opened #6636 "Args need to be able to be defined for batch scripts"
The `XXXX_hdi_settings.json` file needs to be able to be setup to use arguments for each individual pyspark script under batch mode.

Example: Allows developing of ETL style scripts where dates can be passed in from the command line.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56657840-9406-d909-f67d-674406290ffe
*

[2018-04-03 09:00] MartinNr5 opened #6637 "The Backup command is no longer under Settings"
The Backup "command" is now under Operations, and not Settings.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f9edc7e-ff2d-47fd-7305-03cd6dcd9449
* Version Independent ID: 207c680a-ac78-0e38-16ba-74bc0fe6f9f1
* Content: [First look: Protect Azure VMs with a recovery services vault](https://docs.microsoft.com/en-us/az

[2018-04-03 09:25] B4PJS commented on #6428
@mike-urnun-msft; I believe that @Rutikhal was asking what permissions in Azure AD are required to allow a user to create an application registration

[2018-04-03 09:36] carct commented on #6590
so i managed to use the customData field as per directions from the above link, just that when passing a base64 encoded string as parameter (generated by a different script and dynamically overriding the parameter from the template) it didn't recognize it as base64... therefore i have basically double-encoded the original script (not an issue in the end as it got even more small) and then used a C

[2018-04-03 09:41] richardleeaus commented on #6567
@amanarneja thank you!

[2018-04-03 09:42] JagatjyotiMohanty007 opened #6638 "The function runtime is unable to star (Status: 503 Service Unavailable)- Function host is not running."
The function runtime is unable to start. Microsoft.Azure.WebJobs.Script: Host thresholds exceeded: [Connections]. For more information, see https://aka.ms/functions-thresholds.
Session Id: 7c4bc64e1bf54f248ffebc9adaecae07
Timestamp: 2018-04-03T09:38:18.918Z

Any solution for this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2018-04-03 09:46] Ryan-Wicks commented on #6257
+1 @DeanGross we are also trying to secure Exchange Online and also need to understand what legacy protocols exist.

[2018-04-03 10:00] terpie commented on #6117
@myusrn  Indeed the trigger with
 "startTime": "2016-01-01T00:00:00Z",
 "endTime": "2016-06-30T23:59:00Z",
does not process the last day 2016-06-30 12:00 AM. After manually processing this last day my count(*) is 262080.  To re-run the trigger for the whole period I had to stop-remove-set-start the trigger so in fact remove and recreate the trigger. I did this using PowerShell but I would be inter

[2018-04-03 10:32] eliassal opened #6639 "How to log once ssh connects"
OK, I created a VM using
az vm create -n linuxvmtest -g JumpstartResGroup  --image UbuntuLTS --generate-ssh-keys --no-wait
got the public IP, did ssh and a loging screen was presented, so then what, what is the user name to log in? Is it root ....

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf395b11-607d-1421-3b71-4

[2018-04-03 10:34] yesoreyeram commented on #6186
@ajlam We are testing using telnet client from the internet. ( our assumption is that our mysql/postgres should not be reached from the internet by default ) .  Is there any documentation on how to block default internet access?

Here is the telnet result

![image](https://user-images.githubusercontent.com/153843/38244547-edfd7ca8-3732-11e8-9fbf-d131648922d6.png)

[2018-04-03 10:38] JYOTHIRMAISURI commented on #6515
@jason-j-MSFT

Hi,  checking on this

[2018-04-03 10:40] eliassal opened #6640 "Connect to VM"
OK, what is the user to login to the machine after
ssh public IP
?
I created a VM and everything went OK and can see my Ubuntu vm, doing ssh I get presented with a screen requesting me to login, what is the user? I created the machine as follows
az vm create -n linuxubuntu -g JumpstartResGroup  --image UbuntuLTS --generate-ssh-keys --no-wait

---
#### Document Details

⚠ *Do not edit this section.

[2018-04-03 10:46] dougbw opened #6641 "The sample template is not valid json"
The sample template on this page has invalid json on the following line:

"Query": "Event | where Source == "ServiceFabricNodeBootstrapAgent" | summarize AggregatedValue = count() by Computer",

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7651b7e-278e-2839-e9f4-cee3d8c8d60b
* Version Independent ID: 45386b9f-a8e3-a3

[2018-04-03 10:56] phw198 commented on #6295
@Mike-Ubezzi-MSFT Not sure this should be labelled as "resolved" when it's only been backlogged and the issue currently remains....?

[2018-04-03 11:00] pvrk commented on #6264
@KeiroKamioka0000 : You are right. if backup are stopped with option "Retain Backup data", the last backup taken will be retained forever. All other backups are purged as per retention policy but the last backup is kept so that he can restore to this point. To delete the last backup, you need to manually select "Stop protection with delete data". Hope this is clear.

[2018-04-03 11:12] cephalin commented on #6557
@keertisomu Thanks for reporting. The fix is merged and will be published at 10AM PST.

[2018-04-03 11:12] kikofarad opened #6642 "URLs for Azure Migrate needed for Firewalls"
Dear Team,
I was asking about where can I find the URLs used for Azure migrate when configuring the on prem part , where our client is asking about the Source / Destination URLs being used to communicate with the on premsis during all phases discovery and assessment and migration , would you help in this please ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2018-04-03 11:13] #6557 closed

[2018-04-03 11:13] kikofarad opened #6643 "URLs used for Azure migrate to set it on Firewalls on Prem ?"
Dear Team,
I was asking about where can I find the URLs used for Azure migrate when configuring the on prem part , where our client is asking about the Source / Destination URLs being used to communicate with the on premsis during all phases discovery and assessment and migration , would you help in this please ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2018-04-03 11:34] HemantChandurkar opened #6644 "Dynamic date (as source path) to USQL Activity"
I am not able to locate documentation anywhere which will allow me to send "Scheduled" yyyy, MM, dd as parameter to my U-SQL activity.
The document on this link [https://docs.microsoft.com/en-us/azure/data-factory/control-flow-system-variables] talks abt trigger().scheduledTime, but it is not valid. Can you help?
Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2018-04-03 11:42] cephalin commented on #6552
@yasskin Thanks for the feedback. I've added a note in the prerequisites and it will be published at 10AM PST.

[2018-04-03 11:45] NDBassie opened #6645 "incorrect article title or content"
title of the article is: azure-stack-manage-storage-physical-capacity
contents is about Manage physical memory capacity for Azure Stack

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40265f06-494d-d163-f6ad-1fa7c5ef6d04
* Version Independent ID: 6629a967-67e9-2e86-2540-1201a68daa03
* Content: [Manage physical memory ca

[2018-04-03 11:51] cephalin commented on #6447
@npiasecki Thanks for your feedback, and yes it's true that it's a bit of an advanced scenario. I'm tracking the feedback internally at https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1225308. #please-close.

[2018-04-03 12:07] Marc-013 commented on #6476
@Ayanmullick
PowerShell cmdlet Restore-AzureRmRecoveryServicesBackupItem restores the disks to a storage account (.vhd blob).

After this, you can create a 'managed' disk using PowerShell cmdlet New-AzureRmDisk.
This cmdlet LINKS the .vhd blob which you may not delete!

To be able to remove the storage account you can create a snapshot (New-AzureRmSnapshot) of the disk you just created.
The snapsh

[2018-04-03 12:13] chakrarp commented on #6449
@linda33wj Please also tell how to get column names along with data for the query. Also the tables available to query.

[2018-04-03 12:14] npiasecki commented on #6447
Thanks, I'm not saying it has to be on that page, but could be appropriate for a reference section. If I hadn't found it on some random Microsoft guy's blog, I'd be in for days of run-around with support.

[2018-04-03 12:14] #6447 closed

[2018-04-03 12:14] jimdial commented on #6599
Can you please confirm the following:
- You're using the OS specified, from the Azure Marketplace, and the region specified?  If you're using a different OS version, or your own OS image, settings within the OS may require you to set PowerShell execution policies. If you're using the image specified in the article from the Azure Marketplace, you don't need to run PowerShell as Administrator, or se

[2018-04-03 12:27] fhe-fr opened #6646 "Azure ML Workbench: error during service creation"
The following az commande returns an error:
az ml service create realtime --image-id 75aff2c1-4438-4530-aa86-ab514bcfc25f -n irisapp --collect-model-data true

returns
{'Azure-cli-ml Version': '0.1.0b2', 'Error': MlCliError({'Response Content': APIError(HTTPError('500 Server Error: Internal Server Error for url: http+docker://localnpipe/v1.35/images/create?tag=1&fromImage=mlcrpacr41f106213e17.azur

[2018-04-03 12:28] quigleyjp commented on #6205
While it worked for Mohit, it did not for me. I opened a question in the Azure Storage forum and got a quick replay that moving managed disks to other locations is currently not supported. I'd love to point you at that reply but can't seem to locate it at the moment.

[2018-04-03 12:39] jimdial commented on #6430
@PlateSpinner I'm closing this since I haven't heard back from you, but feel free to let me know what you think is missing or out of date in the future.  Thanks. #please-close

[2018-04-03 12:50] procyclinsur opened #6647 "Screenshots"
Screenshots for device explorer are old and require updating.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee954f99-9e57-d746-e504-445acf410291
* Version Independent ID: 9008125f-1961-6b08-8b8d-afe629a7354e
* Content: [Get started with Azure IoT Hub device twins (Python)](https://docs.microsoft.com/en-us/azure/iot-hu

[2018-04-03 13:12] mattbriggs commented on #6645
@NDBassie I will update the URL of the document to "azure-stack-manage-storage-physical-memory-capacity". Thanks for your feedback! Cheers, Matt #please-close

[2018-04-03 13:24] Molotch opened #6648 "Old documentation?"
Is this documentation obsolete? I've installed an on-premises gateway and nowhere in the visible GUI there's a choice to "Migrate, restore, or take over an existing gateway".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0deaa8b2-66a2-b45c-3ecd-7ea2d08503ed
* Version Independent ID: 364890ed-d3ba-9e01-c40a-ce78600319f

[2018-04-03 13:37] assafmendelson opened #6649 "The deployment step does not work"
I followed the instructions (created the archtype, run the basic example, did az login). However, when I did mvn azure-functions:deploy I got an error:
[ERROR] Failed to execute goal com.microsoft.azure:azure-functions-maven-plugin:0.1.10:deploy (default-cli) on project archiver: java.io.IOException: clientId is null or empty -> [Help 1]

---
#### Document Details

⚠ *Do not edit this section. It

[2018-04-03 13:54] nithinsukumar commented on #6621
Had several linked services in ADF V2 that had "-" dashes & worked perfectly till yesterday. Today all of them give an internal server error. After re-creating them without "-" dashes they are working.

[2018-04-03 13:54] mmacy commented on #6577
Hi @willam-gregoire, can you provide the exact error message that you're getting when you try to connect?

[2018-04-03 14:01] pawankt commented on #6613
Yes i have replaced with "condition": "Name=\"/\" ". This worked.

[2018-04-03 14:01] pawankt commented on #6613
But still i have storage account recognized error, thanks for your time. I will check with MS.

[2018-04-03 14:29] bretthackermsft opened #6651 "Azure AD app config"
The reply URL as configured in the sample is http://localhost:8080/adal4jsample/secure/aad. By default, the sign-on URL is used as the reply URL. The instructions should include configuring that URL for replies.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1e74e67-c142-4c06-3bf2-b72e485248ff
* Version Independent ID

[2018-04-03 14:57] mcollier opened #6653 "404 on Create User link"
Step 5 under the 'Delegating developer sign in and sign-up' section includes a link for 'Create a user'. Following that link results in a HTTP 404 error page.  It should probably go to https://docs.microsoft.com/en-us/rest/api/apimanagement/user/createorupdate.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ca841cb-5a

[2018-04-03 15:13] pawankt commented on #6613
After i did multiple times installations worked.
Status message: Enable succeeded, extension daemon started
Only change i made include all syslogs events LOG_USER, LOG_DAEMON, LOG_FTP etc., syslogEventConfigurationinsyslogEventConfiguration section..

[2018-04-03 15:13] pawankt commented on #6613
Here we go for installation log /var/log/azure/Microsoft.Azure.Diagnostics.LinuxDiagnostic/3.0.111/extension.log

[2018-04-03 15:14] cpdohert commented on #6168
If you have the latest version of the Azure Powershell Module installed, you can get this information with
Get-AzureRmComputeResourceSku | where {$_.Name -match "Standard_F.s_v2"}

[2018-04-03 15:23] declang commented on #6412
No problem Ed, let me know if you need any more information.

[2018-04-03 15:30] AksanaKuzmitskaya opened #6654 "Can't specify Dockerfile"
I am trying to create az ml service with custom docker image.
In the documentation states that az ml service or image create I can add --docker-file argument with custom Dockerfile.
When I run az ml image create -h or service create -h, there is no --docker-file argument.

Please see below:

 $ az ml image create -h

Command
    az ml image create: Create an Operationalization Image. This command

[2018-04-03 15:57] PoisonousJohn opened #6656 "Add example for different languages"
Not clear how to achieve it with Python or any other language. It would be great to have examples of **authentication** per language. For instance I've spent some time trying to figure out how to authenticate Batch with ServicePrinciple via Python SDK

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 726a2add-e28c-ab01-e6

[2018-04-03 16:03] cephalin commented on #6401
Tracking here internally: https://mseng.visualstudio.com/TechnicalContent/AzureApps/_workitems/edit/1201990

[2018-04-03 16:04] Mike-Ubezzi-MSFT commented on #6614
@MightyPen The tutorial is causing some confusion (shared multi-tenant versus per-tenant).

Adding the document text in question: [Deploy the Wingtip Tickets app](https://docs.microsoft.com/en-us/azure/sql-database/saas-multitenantdb-get-started-deploy#deploy-the-wingtip-tickets-app)

![screenshot 71](https://user-images.githubusercontent.com/37126106/38260787-5c10e59c-371d-11e8-9474-85c3e4e38dbe.

[2018-04-03 16:12] navyasric commented on #6651
@bretthackermsft Thank you for the feedback. I will be cleaning up the instructions soon.

[2018-04-03 16:24] KumudD commented on #6095
@isahunter  HA Ports is no longer in preview and is now Generally Available.

#please-close

[2018-04-03 16:38] rwike77 commented on #5981
Thanks for the questions, let us know if there's anything else.  #please-close

[2018-04-03 16:44] benjguin opened #6657 "typo"
In *Configure guest OS for multiple NICs*, there must be a typo: `/etc/sysconfig/network-scripts/ifcfg-eth0` instead of `/etc/sysconfig/network-scipts/ifcfg-eth0`. Same for  `/etc/sysconfig/network-scipts/ifcfg-eth1`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b35a7f9-6899-03a9-cb17-4e34550e1e99
* Version Independ

[2018-04-03 16:45] lleonard-msft commented on #6491
@yadcam - You'll want to sent email to azurekeyvault /at/ microsoft /dot/ com.  I'll update the article accordingly.

Also, may I suggest you should avoid replying to notification email from GitHub?  Your email reply is posted to the issue conversation on GitHub itself, along with quite a bit of extraneous header/link information.  (You may wish to review [this page directly](https://github.com/Mi

[2018-04-03 16:46] mtillman commented on #6173
@danielDMP We're tracking this work internally already, so to avoid double-tracking, we'll close this item on GitHub. Thanks for your feedback.
#please-close

[2018-04-03 16:48] philipvago commented on #6608
I found out where it relates. It is this @amanarneja https://github.com/philipvago/BotBuilder-Samples/tree/master/Node/sample-knowledgeBot. The steps require we to use a NoSQL db, but I was told this was replaced by the Cosmos db, so how can the steps of the linked article be updated to what is available today?

[2018-04-03 16:50] #6173 closed

[2018-04-03 16:53] motanv commented on #5961
#please-close

[2018-04-03 16:55] philipvago commented on #6608
I think by not having NoSQL db; I'm unable to complete this step of the tutorial.

[2018-04-03 16:56] Ayanmullick commented on #6476
How could I restore only the vhd's from a VM's restore point using 'Restore-AzureRmRecoveryServicesBackupItem' without creating the VM?

[2018-04-03 17:05] MicahMcKittrick-MSFT commented on #6657
@benjguin Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-03 17:06] MicahMcKittrick-MSFT commented on #6656
@PoisonousJohn Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-04-03 17:07] MicahMcKittrick-MSFT commented on #6654
@AksanaKuzmitskaya Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-03 17:08] MicahMcKittrick-MSFT commented on #6653
@mcollier Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-03 17:08] douglaslMS commented on #6352
#please-close

[2018-04-03 17:09] MicahMcKittrick-MSFT commented on #6649
@assafmendelson Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-03 17:10] MicahMcKittrick-MSFT commented on #6648
@Molotch Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-03 17:11] MicahMcKittrick-MSFT commented on #6647
@procyclinsur Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-04-03 17:11] cgillum opened #6660 "Handling errors during publishing"
There needs to be more information about status codes and error error handling when publishing to Event Grid topics. I think there are three basic questions which the documentation should answer:

1. What are the set of status codes that can be returned by the `events` endpoint?
2. What is the format of the response content for success cases and error cases?
3. What errors can/should be retried, a

[2018-04-03 17:12] MicahMcKittrick-MSFT commented on #6646
@fhe-fr Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-03 17:12] #6645 closed

[2018-04-03 17:13] MicahMcKittrick-MSFT commented on #6644
@HemantChandurkar Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-03 17:14] MicahMcKittrick-MSFT commented on #6643
@kikofarad Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-03 17:17] MicahMcKittrick-MSFT commented on #6642
@kikofarad Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-03 17:18] MicahMcKittrick-MSFT commented on #6641
@dougbw Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-03 17:19] mrbullwinkle commented on #5898
@robfinney the doc has now been updated. Thank you so much for helping us improve our documentation. If you run into any further problems just let us know.

[2018-04-03 17:19] mrbullwinkle commented on #5898
#please-close

[2018-04-03 17:19] MicahMcKittrick-MSFT commented on #6640
@eliassal Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-03 17:19] vturecek commented on #6078
@suchiagicha - can you look at this?

[2018-04-03 17:25] MicahMcKittrick-MSFT commented on #6634
@fhe-fr Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-03 17:26] MicahMcKittrick-MSFT commented on #6633
@DeepPuddles Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-03 17:27] MicahMcKittrick-MSFT commented on #6632
@michael-freidgeim-webjet Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-03 17:28] MicahMcKittrick-MSFT commented on #6631
@Deepfat Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-03 17:29] MicahMcKittrick-MSFT commented on #6630
@michael-freidgeim-webjet Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-03 17:29] MohitGargMSFT commented on #6205
@quigleyjp @jwilton-winshuttle I think you guys are correct here. The POC I did seems I confused with RG location. I will correct to reply so that other customers are not getting wrong information. Thanks for pointing it out to me.

[2018-04-03 17:30] MicahMcKittrick-MSFT commented on #6660
@cgillum Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-04-03 17:38] #5981 closed

[2018-04-03 17:41] MicahMcKittrick-MSFT commented on #6620
@jpoon Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-04-03 17:43] MicahMcKittrick-MSFT commented on #6621
@nithinsukumar Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-03 17:43] MicahMcKittrick-MSFT commented on #6622
@dcbrown16 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-04-03 17:46] bakerm00 opened #6661 "So is All or Common Default???? and you are missing AD object deletes in Common"
So what is the default settings - All Events or common - document conflicts.
also technically you are missing the collection of AD object deletes in OMS;;  this is a massive audit failure for some.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8267e218-3748-2820-3eee-80479705eec2
* Version Independent ID: 8c6d5fce-638

[2018-04-03 17:46] MicahMcKittrick-MSFT commented on #6624
@ILoveRockStar Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-03 17:47] MicahMcKittrick-MSFT commented on #6661
@bakerm00 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-03 17:50] MicahMcKittrick-MSFT commented on #6625
@rizwaans Thanks for reaching out.

@nberdy could you help on this?

[2018-04-03 17:50] #6546 closed

[2018-04-03 17:51] KemTech commented on #6205
Is it possible to run this script using two subscriptions on different Tenants? Or the two subscriptions has to be on under same tenant?

[2018-04-03 17:52] RebelSyntax opened #6663 "Gremlin.Net -Version 3.2.7"
That version doesn't work with the repository.  I created an issue in the repository suggesting to update the package config to install version 3.3.1 (latest).  With that version and this code base, you have the wrong constructor signature for the GremlinClient and the argument types are also not found.  I suppose you could use 3.2.7 and update the client constructor  and change the arguments to t

[2018-04-03 17:52] MicahMcKittrick-MSFT commented on #6628
Duplicate of #6625

[2018-04-03 17:52] #6628 closed

[2018-04-03 17:56] MGoedtel commented on #6468
I've updated this article to include specific steps on how to reconfigure the Linux Agent to remove or re-assign to a different LA workspace.  It just went live.  #close

[2018-04-03 18:03] LukeBayler opened #6664 "documentation search"
How do I search the online documentation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f12a77c5-fc42-c179-5af7-6c7b2197de28
* Version Independent ID: 2db8d484-530e-d507-2842-c196a5e55c9a
* Content: [Computer Vision API for Microsoft Cognitive Services](https://docs.microsoft.com/en-us/azure/cognitive-services/compute

[2018-04-03 18:08] SamGuckenheimer opened #6666 "Don't know what to do when RENEWING certificate"
I have uploaded a new certificate PFX to an EXISTING Azure Web Site, because the current certificate is expiring soon. I now have two certificates, old and new. Do I need to delete the old one to get the new one applied? Or will this happen automatically?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8dfb8f30-3236-ad5

[2018-04-03 18:13] #6430 closed

[2018-04-03 18:14] #5369 closed

[2018-04-03 18:14] #5433 closed

[2018-04-03 18:14] #5898 closed

[2018-04-03 18:14] #5952 closed

[2018-04-03 18:14] #5961 closed

[2018-04-03 18:15] #6263 closed

[2018-04-03 18:16] #6257 closed

[2018-04-03 18:16] #6095 closed

[2018-04-03 18:34] MicahMcKittrick-MSFT commented on #6618
@spacecat as @andyzhangx mentioned, it will depend heavily on your scenario. I would suggest you review each of the configurations and how they will intergrate with your MongoDB.

I will close this for now but if you feel we need to continue the conversation let me know and we can reopen.

[2018-04-03 18:34] #6618 closed

[2018-04-03 18:34] #6468 closed

[2018-04-03 18:35] Marc-013 commented on #6476
@Ayanmullick

Via the following cmdlets you recover the disks, not the entire VM.

You first will need to provide the correct value for the following variables.
`$RecoveryVaultName = _<Recovery vault name>_`
`$resourceGroupRecoveryVault = _<Resource Group name which contains the recovery vault>_`
`$StorageAccountName = _<Name of the storage account to which the disks are to be restored>_`
`$Resour

[2018-04-03 18:39] msebolt commented on #6647
Including @dominicbetts to re-assign as I am no longer with this team.

[2018-04-03 18:55] twooley commented on #5882
@valentijnscholten @SamirFarhat Hello. The videos have been removed and replaced with static text instructions. I hope this improves your experience. Thanks.

[2018-04-03 18:56] valentijnscholten opened #6670 "Security policy and compliance are not completely managed by Host/inviting organization"
The item "Security policy and compliance: Managed by the host/inviting organization." might confuse people.

At first I thought this meant that things like password complexity rules and password expiration policies would be managed by the hosting/inviting organization. But when I dug a little deeper, I found out this is not the case.
This actually makes sense, because the b2b users identity is fed

[2018-04-03 18:58] valentijnscholten commented on #5882
Yes, much better. (Static content is always better compared to video for scenario's like this).
Thanks!

[2018-04-03 18:59] valentijnscholten commented on #5881
Thanks. New static content is much better now!

[2018-04-03 19:00] valentijnscholten opened #6671 "Image low quality -> unreadeable"
Hi,

The image is unreadeable in chrome, edge, firefox. Even when opened in new tab.

Valentijn

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23b6318a-1d43-e98e-649a-33188c844506
* Version Independent ID: 3dc31b3e-d3ce-8937-d068-b1e460df4569
* Content: [B2B collaboration user claims mapping in Azure Active Directory](

[2018-04-03 19:03] curtand commented on #6467
#in-progress
@NCSTman Hi, I'm Curtis Love and I will have an answer for your original question shortly. The Teams enhancement I'll add to my backlog, and we'll at least correct the statement about Teams in the article right away.

[2018-04-03 19:07] MicahMcKittrick-MSFT commented on #6631
@Deepfat great find! I have fixed the doc and submitted the changes. They should go live in about an hour.

This issue will close once it is complete.

[2018-04-03 19:08] mimig1 commented on #6526
Pinging @rafats via email.

[2018-04-03 19:10] mimig1 commented on #6530
Pinging @LuisBosquez via email.

[2018-04-03 19:15] BryanLa commented on #6427
Hi @ScotStover - I've been discussing this with @jlian  as well, and it sounds like he's provided the guidance you were looking for. We will close the issue for now, but feel free to post another comment if you need additional help!

#please-close

[2018-04-03 19:37] MicahMcKittrick-MSFT commented on #6635
@kasunsjc you are correct. In this example we actually do not even need the $storageType variable as the storage type will be automatically selected based on the type of SnapShot you are using.

I will remove it to avoid further confusion.

[2018-04-03 19:38] femsulu commented on #6491
@yadcam  We will now close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-03 19:38] #6491 closed

[2018-04-03 19:44] #5860 closed

[2018-04-03 19:45] MicahMcKittrick-MSFT commented on #6635
@neilpeterson could you help on this one? When looking at the sample script in the content source it seems the link is broken. However I see you are one of the contributors to it. I am happy to fix it if you could point me to it.

[2018-04-03 19:49] MicahMcKittrick-MSFT commented on #6638
@JagatjyotiMohanty007 this does not appear to be related to the reference documentation.

For general Functions troubleshooting I suggest you use one of the following sources:

https://stackoverflow.com/questions/tagged/azure-functions

https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureFunctions

If you have questions regarding a specific document please let me know. I will close this

[2018-04-03 19:49] #6638 closed

[2018-04-03 19:54] MicahMcKittrick-MSFT commented on #6640
Duplicate of #6639

[2018-04-03 19:54] #6640 closed

[2018-04-03 20:03] Mike-Ubezzi-MSFT commented on #6371
@terchris When you have a chance to test, please let us know if this resolves your connectivity issue.

[2018-04-03 20:07] jason-j-MSFT commented on #6556
@pawankt I am able to use the code in the example template to create the "storageinsightconfigs" without issue.  I believe the code block you supplied in your last post is identical to the block in the template.

Here is a screenshot of the template deployment activity succeeding:
![capture](https://user-images.githubusercontent.com/37126381/38272213-70d71170-373d-11e8-8606-3b8f0c6e8dc9.PNG)

Here

[2018-04-03 20:07] #6556 closed

[2018-04-03 20:15] SyntaxC4 commented on #5891
@SunBuild Would you be able to take a look at this?

[2018-04-03 20:27] Ayanmullick opened #6673 "How do I suppress post-update restarts?"
How do I instruct to suppress restart or specify a different restart-time while scheduling an update?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3461048-c7fc-3979-a818-39af99d5e6bb
* Version Independent ID: d0e5e766-ef63-d934-b21b-678933a5cc65
* Content: [Manage updates and patches for your Azure Windows VMs](http

[2018-04-03 20:30] zjalexander commented on #6673
Hi, this is not possible today. We are starting work on it soon and it is being tracked here: https://feedback.azure.com/forums/905242-update-management/suggestions/31439491-allow-suppress-reboots-as-an-option

[2018-04-03 20:36] Ayanmullick commented on #6673
Thanks. Upvoted. Is there an ETA timescale? weeks, months, quarters?

[2018-04-03 20:46] jasonzio commented on #6613
So there's no documentation issue, then.

#please-close

[2018-04-03 20:57] bakerm00 commented on #6661
ok but the document say two things in two different places.
All Events is default
then further down in a table it says Common (Default)

[2018-04-03 21:00] bakerm00 commented on #6661
I would also state that you need to rectify stating you consulted with Industry;  there are no specialists in the  industry who would not  want to understand object deletes in AD. especially one that leads to an outage.

[2018-04-03 21:06] zjalexander commented on #6673
Months :)

[2018-04-03 21:06] TerryLanfear commented on #6661
@bakerm00 - Thank you for pointing out the inconsistent use of "default."  I am fixing that now.

[2018-04-03 21:16] jason-j-MSFT commented on #6456
@kfile Could you help route this issue to an owner?

[2018-04-03 21:17] cephalin commented on #6584
Tracking internally at https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1225875

[2018-04-03 21:28] MicahMcKittrick-MSFT commented on #6639
In this doc you are creating a VM using SSH keys. Hence, if you have the key installed you do not need to specify a username or password.

If you would prefer to use a username and password you can follow this doc:

https://docs.microsoft.com/en-us/azure/virtual-machines/windows/quick-create-cli

It is essentially the same however during the creation phase you specifcy a usename and password:

`az

[2018-04-03 21:28] #6639 closed

[2018-04-03 21:31] MicahMcKittrick-MSFT commented on #6646
@aashishb can you help on this one? I am not able to reproduce this error.

[2018-04-03 21:32] SyntaxC4 commented on #5891
#please-close

[2018-04-03 21:34] davelee212 opened #6674 "Secret negates need to add Workspace ID and Key to YAML file"
This document tells you to substitute your own Workspace ID and Key into oms-daemonset.yaml - you don't need to do that as it's already been defined in the secret in the previous step.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f6aa8869-24d2-980f-ee15-4e7e42ca80c5
* Version Independent ID: ca90be54-9f0c-d369-6b2b-6

[2018-04-03 21:45] cephalin commented on #6385
Tracking internally at https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1225905

[2018-04-03 21:46] iainfoulds commented on #6639
@eliassal As @MicahMcKittrick-MSFT notes, there is no need to specify a username when you use SSH key authentication as the `--generate-ssh-keys` parameter creates, or uses existing, keys for you. Technically, the user created on your VM is the same as your current shell. For example, if you are logged in to the Azure Cloud Shell and username is *eliassal*, the username on the VM is also *eliassal

[2018-04-03 21:55] roygara commented on #6594
@shahrulazwan Thanks for the response! This is a little confusing because our changelog indicates that ServiceBuilder was depreciated and its relevant bits were distributed into the other RestProxy.php files. I don't see it in the directory when I browse for it. I'm continuing to look into this.

To confirm, this is regarding "add a message to a queue" right? I believe the answer is yes but I want

[2018-04-03 21:58] roygara commented on #6594
@shahrulazwan To reconfirm (I want to be sure you're getting the latest version), your composer.json is contains the following:

{
  "require": {
    "microsoft/azure-storage-queue": "*"
  }
}

[2018-04-03 22:05] dannynguyen27 commented on #6633
I found that you have to change the 'BASE_URL' field to match the endpoint given along with your keys!

[2018-04-03 22:05] MicahMcKittrick-MSFT commented on #6649
@rloutlaw do you have any input on this one? I have followed the doc but I cannot repro this error.

[2018-04-03 22:08] MicahMcKittrick-MSFT commented on #6654
Can you check to make sure you are running the most up to date CLI?

https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest

Also you could try running it via the [Cloud Shell](https://docs.microsoft.com/en-us/azure/cloud-shell/overview) instead to see if that helps.

[2018-04-03 22:10] MNF opened #6675 "Can I create or modify an alert rule using the Azure portal?"
I’ve come to this page from “Create alert rules using Azure portal” link on https://docs.microsoft.com/en-us/azure/log-analytics/log-analytics-alerts and found:
Note
You cannot currently create or modify an alert rule using the Azure portal.
Please elaborate what this note means.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-04-03 22:13] MicahMcKittrick-MSFT commented on #6657
@benjguin thanks for that great catch! I have updated the doc. The changes should go live and auto close this issue within the hour.

[2018-04-03 22:17] LuisBosquez commented on #6530
Hello @JamesRandall, we're actively working on improving the Gremlin.Net package along with the community. One of the immediate items we're working on is exposing the CosmosDB specific metadata for each request. We want to not depend on our specific libraries and enhance the support for the open source connectors in the future.

[2018-04-03 22:28] MicahMcKittrick-MSFT commented on #6624
@ILoveRockStar based on my knowledge I believe this can only be implemented at the load balancer level. This is because load balancers allow you to send [health probes](https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-custom-probe-overview) to specific ports and get alerts on those ports. This level report is not something I have seen be possible at a VM level. You might be able

[2018-04-03 22:28] #6624 closed

[2018-04-03 22:30] MicahMcKittrick-MSFT commented on #6675
@MNF Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-03 22:31] MicahMcKittrick-MSFT commented on #6674
@davelee212 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-04-03 22:31] #6657 closed

[2018-04-03 22:32] #6673 closed

[2018-04-03 22:33] MicahMcKittrick-MSFT commented on #6671
@valentijnscholten Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-04-03 22:33] MicahMcKittrick-MSFT commented on #6670
@valentijnscholten Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-04-03 22:34] MicahMcKittrick-MSFT commented on #6666
@SamGuckenheimer Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-03 22:34] BryanTrach-MSFT commented on #6331
@rizwaans Since this is happening over the network, there is no guarantee that we can orchestrate everything as a transaction and guarantee that it completes within a particular time. The following 3 entities must synchronize:
1.	The device running below code (the controller)
2.	IoT Hub receiving then routing the command to the target device
3.	The device receiving the command and executing it

Th

[2018-04-03 22:37] MicahMcKittrick-MSFT commented on #6664
@LukeBayler can you elaborate on your ask?

[2018-04-03 22:38] MicahMcKittrick-MSFT commented on #6663
@RebelSyntax Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-03 22:41] rloutlaw commented on #6649
@assafmendelson after logging in with the CLI but before you run `mvn azure-functions:deploy`, can you verify that you're in the right Azure subscription with `az account list`? This error looks like a problem related to CLI auth and permissions needed by the plugin to deploy the Function app.

[2018-04-03 22:42] BryanTrach-MSFT commented on #6502
@pankajisgarg Thank you for the update. It appears someone was able to provide a response in Stack Overflow. We will assign the feedback to the doc author and they take action as they see fit.

@dsk-2015 Can you please look at this to determine if providing a UWP/ managed background app instead of the classic desktop application would be helpful?

[2018-04-03 22:47] rizwaans commented on #6331
@BryanTrach-MSFT  Thanks for the response. Is there a way to just invoke the method on the module(IoT Hub) without having to specify the timeout. I know the default is 30 seconds and max is 300 seconds but my request to the method might take more than 300 seconds. so I'm just looking for an option that helps me just to trigger the method

[2018-04-03 23:03] gatneil commented on #6134
Just to double-check, what is the output of `Get-AzureRmProviderFeature -ProviderNamespace Microsoft.Compute -FeatureName AutoOSUpgradePreview`? Also, does the issue resolve itself if you run `Register-AzureRmResourceProvider -ProviderNamespace Microsoft.Compute`?

[2018-04-03 23:07] BryanTrach-MSFT commented on #6552
@yasskin The changes appear to be live. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-03 23:07] #6552 closed

[2018-04-03 23:08] rlauriston opened #6678 "kudos to the writers"
I look at docs all the time in the course of my job documenting complex enterprise software, and rarely do I find what I need as quickly and easily as I did on this page. I needed to get the Kafka broker address for an HDInsight cluster, create a topic, and verify that our product wrote to the product, and all the commands were right here ready for me to copy and paste. Thanks!

---
#### Document

[2018-04-03 23:18] ksaye commented on #5114
If you want to upload the file in the curl command, this sample command should help:   curl -H "Prediction-Key: 9564REMOVED699" -H "Content-type: application/octet-stream" -X POST --data-binary @image.jpg 'https://southcentralus.api.cognitive.microsoft.com/customvision/v1.1/Prediction/1d865b07-6836-4642-8fbd-ad493b4c3064/image'

[2018-04-03 23:25] smrtRock opened #6679 "Caution or pre-req > User should be logged in"
Obvious I know but none of this works without being logged and if there are multiple subscriptions having one selected.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3a1f07d-4e24-e4e6-d64a-90560d90b321
* Version Independent ID: 7cedcb52-393e-5298-6a78-fabf89be864d
* Content: [Create a Windows VM from a template in Az

[2018-04-03 23:33] jason-j-MSFT commented on #6555
@msghaleb Log Analytics endpoint and port information can be found here:
https://docs.microsoft.com/en-us/azure/log-analytics/log-analytics-concept-hybrid

If you are looking to connect your machines in AWS which do not have Internet access, you might consider using OMS Gateway:
https://docs.microsoft.com/en-us/azure/log-analytics/log-analytics-oms-gateway

If you are looking to use an existing VP

[2018-04-03 23:33] #6555 closed

[2018-04-03 23:33] Adam-Smith-MSFT commented on #6637
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-04-04 00:11] kfile commented on #6456
@jason-j-MSFT - yes please assign to Jason Howell (@JasonWHowell ).

[2018-04-04 00:29] KirkMunro opened #6680 "For the Azure IoT docs that refer to a downloadable DevKit, where can we contribute fixes to the actual DevKit?"
In IoT docs that are designed to work with the AZ3166 DevKit, such as [this one](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/iot-hub/iot-hub-arduino-iot-devkit-az3166-get-started.md), the instructions guide users to download an install package for Windows or macOS. Where can we find the GitHub repository containing the contents of that install package?

I'd like to submit a PR

[2018-04-04 00:47] mattchenderson commented on #6564
@alexkarcher-msft would be the right person for this.

[2018-04-04 01:08] pareshmu commented on #5721
You would need perms to deploy a Log Analytics service which is a top-level resource in Azure. It should be the same level of permission as you would need to deploy a VM.

[2018-04-04 01:17] BryanTrach-MSFT commented on #6666
@SamGuckenheimer There are two steps for renewing a certificate. It sounds like you have only completed step 1.

1. Upload the certificate.
2. Bind the new certificate

To complete step 2, select 'Add binding' in the SSL blade of your web app. Select the domain, the new certificate, and either SNI or IP binding type. Select 'add binding' to submit the changes.

Once the blade closes, you should se

[2018-04-04 01:18] garthk opened #6682 "Documentation relies on shortcut that is not always available"
For me, right now, the Azure AD Domain Services' Overview tab does not list Required configuration steps. There's no apparent way to turn the panel back on, nor other means to find the DNS service addresses. This document relies on the panel being present, and cannot help me proceed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2018-04-04 01:43] jpoon commented on #6005
Came across this https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-diagnostics-event-aggregation-wad#log-collection-configurations and it does a good job of explaining what the differences are.

[2018-04-04 01:45] BryanTrach-MSFT commented on #6653
@mcollier Thank you for the heads up. The change has been merged and should be visible within 24 hours. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-04 01:45] #6653 closed

[2018-04-04 01:53] jeremyhagan opened #6684 "Automatic Upgrade Not Supported with PTA"
Please update the limitations to indicate the PTA is an unsupported configuration for Automatic Upgrades. See here: https://docs.microsoft.com/en-us/azure/active-directory/connect/active-directory-aadconnect-feature-automatic-upgrade

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c535414b-05a2-d4b5-8f15-5c93274d25ef
*

[2018-04-04 01:56] ZombiesWithCoffee opened #6685 "GetCertificate?"
You used a method 'GetCertificate' that doesn't exist in your 'load certificate as a file' example.  You may  have wanted something like...

var cert = new X509Certificate2(certPath);

but I'm not sure what the unknown signatureBlock.Thumbprint is for either.

And on the first example, use a 'using' statement for the creation of the certStore to ensure that the store is properly closed.

---
####

[2018-04-04 01:59] winryling opened #6686 "A contradiction in the statement"
It is mentioned in "Logical Networks" that the Azure Stack Infrastructure uses 32 + 8 addresses from the Public VIP network, but in "Network infrastructure - Public VIP network", it says "The Azure Stack infrastructure uses at least 8 addresses". Which one is correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 147e

[2018-04-04 02:34] dcbrown16 opened #6687 ""Resolved" notifications"
Am I correct in understanding that the new alerts no longer have status transitions to Active and Resolved on which notifications can be sent?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e04d8733-e8b9-147a-c820-d7300479b3d2
* Version Independent ID: 12f6cc84-5575-f6e4-1df1-99ae1287e158
* Content: [Explore the new Al

[2018-04-04 02:40] ggailey777 commented on #5143
@ericbrunner if you are using Notification Hubs client inside a function, how is that Functions-specific? It's just like Notification Hubs from any web app.

[2018-04-04 03:42] VanHa96 commented on #5043
Can you please show me how to fill in the "SMTP-Send email" fields. My gmail is vanhathesis2018@gmail.com. What I have to do?
Thank you so much!!!

[2018-04-04 04:39] ericbrunner commented on #5143
Obviously you dont understand the question.

How to send a push message with a template to a targetted userId (in an Azure Function with BUILD-IN BINDINGS)?

Anyway I use as workaround the ordinary NH client nuget and send it from there.

[2018-04-04 05:03] mumian commented on #5340
This issue has been addressed in Spark cluster version 2.2.

[2018-04-04 05:35] JamesRandall commented on #6530
Thanks @LuisBosquez - it seems a bit like being stuck between a rock and a hard place as a .NET developer with Cosmos and Graph at the moment. The old clients being deprecated and the alternative not really supporting real world scenarios.

Do you have any timescales for when Gremlin.NET will support at a minimum better error handling?

I'd gathered you were heading towards the open source drivers

[2018-04-04 05:54] pietrobr opened #6688 "Update languages supported versions"
I run az webapp list-runtimes --Linux
and get those frameworks:
"RUBY|2.3",
  "NODE|4.4",
  "NODE|4.5",
  "NODE|4.8",
  "NODE|6.2",
  "NODE|6.6",
  "NODE|6.9",
  "NODE|6.10",
  "NODE|6.11",
"NODE|8.0",
  "NODE|8.1",
  "NODE|8.2",
  "NODE|8.8",
  "NODE|8.9",
  "NODE|9.4",
  "PHP|5.6",
  "PHP|7.0",
  "PHP|7.2",
  "DOTNETCORE|1.0",
  "DOTNETCORE|1.1",
  "DOTNETCORE|2.0",
  "TOMCAT|8.5-jre8",
  "TOMCA

[2018-04-04 07:08] RoopAnymous opened #6689 "Trigger type comparison"
Backfill scenarios are supported for schedule Trigger according to the document
https://docs.microsoft.com/en-us/azure/data-factory/how-to-create-schedule-trigger
Please update the document here

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d564675-f719-57fc-a406-6aec51d26b29
* Version Independent ID: 84124e8f-efad-2

[2018-04-04 07:16] lzandman opened #6690 "Link to article not working"
At the end there's a link to an article called "Monitor SQL Azure using an existing Log Analytics workspace". However, it seems that article isn't available. It returns a 404 not found error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7651b7e-278e-2839-e9f4-cee3d8c8d60b
* Version Independent ID: 45386b9f-a8e3-a398

[2018-04-04 08:04] timrxtx opened #6691 "DSC config error"
Nice, straightforward article but the sample config file doesn't appear to work properly - it only creates a single DSC node configuration (.NotWebServer), rather than two (.WebServer is missing).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 96a48d43-dc10-b334-3774-b72ea10efdb7
* Version Independent ID: e56beb8a-da04

[2018-04-04 08:32] timrxtx commented on #6691
It appears to object to using a node name of 'WebServer', presumably reserved for something else. Change this and it will successfully import both node configurations.

[2018-04-04 08:59] yuuki247 opened #6693 "No UPN for objects to be deleted"
For an object to be deleted, csanalyzer.ps1 PowerShell script does not retrieve UPN.
Any workaround?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a998868-23d5-a36d-c15c-fcc8bc86a121
* Version Independent ID: 37879abd-9f3e-f512-74e8-b19782497180
* Content: [Azure AD Connect sync: Operational tasks and considerations]

[2018-04-04 09:01] fhe-fr commented on #6646
Hi,
I'm preparing a demo for a client and I follow the tutorial:
https://docs.microsoft.com/en-us/azure/machine-learning/preview/tutorial-classifying-iris-part-3

Here the commands that I ran. I'm using a Windows based data science VM:
1) az ml env setup -n devfhe1 -g MLServices-RG --location westeurope
2) az ml env show -n devfhe1 -g MLServices-RG
3) az ml account modelmanagement create --locatio

[2018-04-04 09:07] RedBa opened #6694 "Before you begin"
The link in the "Before you begin" Important section is dead link should be to "Manage updates in Azure Stack overview"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11c22812-c21f-41bf-fcee-d41776f86010
* Version Independent ID: a1ff868b-c155-3966-1e0b-b398dbd559e4
* Content: [Azure Stack 1803 Update](https://docs.mic

[2018-04-04 09:08] RedBa commented on #6694
link should go to https://docs.microsoft.com/en-us/azure/azure-stack/azure-stack-updates

[2018-04-04 09:47] daveh101 commented on #5271
I am having exactly the same problem.  This is something that has worked fine for months, but the build now fails.  It used to just be a warning.  But as this is now an error I can't even run it locally, let alone try to publish it.

I have install the Service Fabric SDK as the guy above did, but no change for me.
I am currently running VS 2017 15.7.2.0 Preview 2 - am trying to install the officia

[2018-04-04 09:54] hisasima opened #6695 "Active routing support (BGP) in Gateway requirements part is wrong."
I read FAQ for VPN Gateway.
I found following sentence.

"BGP is not yet supported with Azure Virtual Networks and VPN gateways using the classic deployment model"

https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-vpn-faq#can-i-use-azure-vpn-gateway-to-transit-traffic-between-my-on-premises-sites-or-to-another-virtual-network

But this page listed that "This table applies to both the

[2018-04-04 10:03] #6446 closed

[2018-04-04 10:09] femsulu commented on #6497
@aaronsteers  thanks again for catching this. A fix has been initiated. Will share an update once the fix is live.

[2018-04-04 10:38] carct commented on #6590
i have continued to work on this and it seems that i am having issues getting the script to actually execute..

from what i have understood the 'commandToExecute' is executed with SYSTEM account, therefore tried executing the script with some alternate credentials... at this point it is quite 'inception'-like scenario and either i'm doing something wrong or it can't handle it very well..

i would

[2018-04-04 10:44] JoNevi opened #6696 "Get-AzureRoleSize in CloudShell"
How can I run Get-AzureRoleSize in cloudshell?  I get the error message:

"PS Azure:\> Get-AzureRoleSize | where SupportedByWebWorkerRoles -eq $true | select InstanceSize, RoleSizeLabel
Get-AzureRoleSize : The term 'Get-AzureRoleSize' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the
name, or if a path was included, verify that the pat

[2018-04-04 11:40] cpiitb opened #6697 "Not able to access ServiceRemotingServiceEvents in Microsoft.ServiceFabric.Services.Remoting.V2.Runtime namespace"
I am looking for a way to listen ReceiveRequest or SendResponse events while communicating with different services using ServiceRemoting.

Earlier we were able to do that with below events.

ServiceRemotingServiceEvents.ReceiveRequest
ServiceRemotingServiceEvents.SendResponse

These events were available in Microsoft.ServiceFabric.Services.Remoting.V2.Runtime namespace.
Now I am not able to find t

[2018-04-04 11:53] #6697 closed

[2018-04-04 11:53] cpiitb commented on #6697
Closing issue as it is not azure docs issue.

[2018-04-04 11:58] madmox commented on #6521
After a little more investigation, the issue is far more annoying than what I assumed at first. It seems that access policies and public read access level are mutually exclusives!

i.e., like I explained before, if I configure an access policy, then set the access level to "public read on blobs only", it clears all access policies. But re-configuring the access policy after that resets the access