[2021-12-20 18:26] JimmyBanks commented on #83128
Thank you I appreciate the quick reply

[2021-12-20 18:26] KranthiPakala-MSFT commented on #85372
We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

Thank you

[2021-12-20 18:26] #85372 closed

[2021-12-20 18:27] smadala opened #85538 ""Pipeline execution throttled". If the concurrency value is set for a pipeline, a maximum of 100 runs will be queued for execution."
We are regularly hitting `Pipeline execution throttled If the concurrency value is set for a pipeline, a maximum of 100 runs will be queued for execution.`  error when try to trigger failed trigger.

from [this](https://mrpaulandrew.com/2020/01/29/azure-data-factory-resource-limitations/) article, looks like we can't increase value for Maximum queued runs per pipeline.

Can you please make `Maximu

[2021-12-20 18:39] YutongTie-MSFT commented on #85212
Thanks so much for the feedback again, will work with the author to update the document.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2021-12-20 18:39] #85212 closed

[2021-12-20 18:41] CaitlinV39 commented on #85197
@zxue is probably best to help

[2021-12-20 18:46] baanders commented on #85435
The doc update is drafted in the linked PR. I'll have Git automatically close this issue again when the PR is merged into the main content set, and it should go live later today. Thank you!

[2021-12-20 18:54] #85435 closed

[2021-12-20 18:59] MonikaReddy-MSFT commented on #85533
@saswatmohanty01 - Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2021-12-20 19:01] MonikaReddy-MSFT commented on #85523
@yossi-y  - Thank you for providing your insights.
@docloud-eu  - I hope @yossi-y has answered your question.
At this moment, since there is no doc update required, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-12-20 19:01] #85523 closed

[2021-12-20 19:06] cveld opened #85540 "Support for App Service Environment"
Maybe good to add a note that integration with App Service Environment is currently not supported.
See https://github.com/MicrosoftDocs/azure-docs/issues/83617

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16e8524d-09b1-64fe-c19d-17431cd934e2
* Version Independent ID: 4fd36fca-bc59-680c-6d7a-f35987421a41
* Content: [U

[2021-12-20 19:14] JamesTran-MSFT commented on #85518
@Sizzl
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-20 19:28] saswatmohanty01 commented on #85533
Alert for every one minute is in preview but not working when use with custom query. Is it a product bug.

[2021-12-20 19:40] j-martens commented on #84404
#re-assign:j-martens

[2021-12-20 19:40] ckidwellIT opened #85542 "Step 1 is not step 1"
Step 1. Create new policy

Which Microsoft Admin website am I supposed to be on? A how to needs to include how you get to step 1. Azure AD admin center looks nothing like the example anymore and I can't find where to do step 1.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9561a367-20d8-62e9-57e5-694bab4c0878
* Versio

[2021-12-20 19:40] j-martens commented on #84404
#reassign:j-martens

[2021-12-20 19:40] JamesTran-MSFT commented on #85520
@docloud-eu
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-20 19:43] MarkusVi commented on #83126
We have staged an update addressing this.

#please-close

[2021-12-20 19:43] #83126 closed

[2021-12-20 20:06] zxue commented on #85197
Thanks for the feedback. It means the secondary tenant (or external tenant) in the article. The object id means the service principal object id in Azure AD. I will create a PR to clarify the confusion.

[2021-12-20 20:13] jenniehubbardDB commented on #58587
Fixed now.
#please-close

[2021-12-20 20:13] PRMerger7 commented on #58587
Only Microsoft employees can close issues or pull requests via commenting in this repo.

[2021-12-20 20:14] andreakress commented on #68026
This issue has been fixed. Please close.

[2021-12-20 20:21] jenniehubbardDB commented on #63676
#please-close

[2021-12-20 20:21] PRMerger-2 commented on #63676
Only Microsoft employees can close issues or pull requests via commenting in this repo.

[2021-12-20 20:22] jenniehubbardDB commented on #75434
#please-close

[2021-12-20 20:22] PRMerger-2 commented on #75434
Only Microsoft employees can close issues or pull requests via commenting in this repo.

[2021-12-20 20:23] GeethaThatipatri-MSFT commented on #85479
Hi @dianasm22 Thanks for your findings, I'm assigning this to the author for the feedback review.

[2021-12-20 20:25] jenniehubbardDB commented on #54342
#please-close

[2021-12-20 20:25] PRMerger3 commented on #54342
Only Microsoft employees can close issues or pull requests via commenting in this repo.

[2021-12-20 20:26] Ankur-Makwana opened #85544 "Folder path is incorrect"
[Enter feedback here]

2 issues -

1) This folder path is incorrect and needs updating - "Open the azureml-examples-main/cli/jobs/train/tensorflow/mnist directory in Visual Studio Code"

2) I ran into "error 0x80010135 path too long" while downloading this repo -  "Azure ML Examples repository". I tried changing the path length setting through regedit but that didnt fix it. I had to skip over some

[2021-12-20 21:16] JamesTran-MSFT commented on #85522
@sebhe
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-20 21:17] JamesTran-MSFT commented on #85524
@assaf-grth
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-20 21:18] JamesTran-MSFT commented on #85525
@AndreasMWalter
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-20 21:32] Mutilar opened #85546 "Traffic field no longer part of OnlineEndpoint config"
We should remove the "traffic" field from the OnlineEndpoint config table in the "Review the endpoint and deployment configurations" section:

The new schema does not include "traffic": https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/machine-learning/reference-yaml-endpoint-managed-online.md

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2021-12-20 21:48] MarileeTurscak-MSFT commented on #85542
@ckidwellIT
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-20 21:51] preethamrajk opened #85547 "Can the event subscription be created separately?"
Hi,

Can you please confirm if the EG event subscription can be created outside the ADF - either via CLI or terraform?

If so, what are the webhook details?

I wanted to check if the creation is possible via terraform, which allows me to setup dead-lettering and other event grid subscription specific settings.

Thanks,
Preetham

---
#### Document Details

⚠ *Do not edit this section. It is require

[2021-12-20 21:55] Grace-MacJones-MSFT commented on #85540
Hi @cveld , appreciate the feedback. We will review and update this doc accordingly.

[2021-12-20 21:55] JamesTran-MSFT commented on #85536
@ImranKamaluddin
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-20 22:08] gwu70ca opened #85549 ""source address network translation" should really be "source network address translation""
Check out this page what "SNAT" is https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-outbound-connections

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e8650b7-1fd8-8626-de01-73130af5f656
* Version Independent ID: b1766fa1-9bf4-33ed-8bd7-9fee6cd0769e
* Content: [Troubleshooting

[2021-12-20 22:12] JamesTran-MSFT commented on #85536
@ImranKamaluddin
Thanks for your time and patience!

From [our documentation](https://docs.microsoft.com/en-us/azure/key-vault/secrets/quick-create-net#install-the-packages), you should be executing `dotnet add package Azure.Security.KeyVault.Secrets`, from the command shell and not Visual Studio. I was able to run this within my environment and didn't have any problems.
![image](https://user-imag

[2021-12-20 22:12] #85536 closed

[2021-12-20 22:13] JamesTran-MSFT commented on #85531
@Floriszz
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-20 22:15] JamesTran-MSFT commented on #85534
@mrochon
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-12-20 22:25] davidsmatlak commented on #85476
@PatrickMessierGoC thanks for the feedback.

I submitted the fix to remove the duplicated content. After it's approved and merged, this issue will automatically close. The updated document will be online within 24 hours.

[2021-12-20 22:32] #85476 closed

[2021-12-20 22:33] whhender commented on #85480
I have made the updates to the section to correct the instructions and provide additional screenshots.

As always, thank you for the feedback!

[2021-12-20 22:33] whhender commented on #85480
You should see the updates by tomorrow morning at the very latest.

[2021-12-20 22:34] whhender commented on #85480
#please-close

[2021-12-20 22:34] #85480 closed

[2021-12-20 22:44] MarileeTurscak-MSFT commented on #85542
Thank you! I made a pull request to update this to make the instructions consistent with what exists in our other documentation, such as the[ RBAC guide](https://docs.microsoft.com/en-us/azure/search/search-security-rbac?tabs=config-svc-portal%2Croles-portal%2Ctest-portal%2Ccustom-role-ps).

https://github.com/MicrosoftDocs/azure-docs-pr/pull/183370

You create the policy by going to the Azure por

[2021-12-20 22:44] #85542 closed

[2021-12-20 22:49] tamram commented on #85531
@Floriszz - I'm pretty sure that this is correct as written and that this filter functions lexicographically. "ge" means "greater than or equal to". The example as written returns all rows where the row key begins with "S", including "S" itself. If "gt" were used, then "S" itself would not be returned, but only other entries starting with "S".

[2021-12-20 22:53] CheetahChrome commented on #85435
I appreciate the follow-through by doing a couple of more tests. As requested, I was going to report the feedback on the Twins explorer when I get this message in twins (not my Azure dashboard) after the initial SSO login:

_Sigh_

Which is bizarre because I got the Twins working via the example given. I will try again in a couple of days to add the feedback as requested.

[2021-12-20 23:11] jenniehubbardDB commented on #85512
@flrs Thank you for bring this to our attention! We created a work item in our system to fix this issue - https://databricks.atlassian.net/browse/DOC-3739.

[2021-12-20 23:14] ImranKamaluddin commented on #85536
@JamesTran-MSFT
Thanks for the reply. I found out what the issue was. The nuget source location was not configured. By using the following command fixed my issue :

dotnet nuget add source https://api.nuget.org/v3/index.json -n nuget.org

Above command was located from https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-nuget-add-source

I think it would be worth adding this requirement in t

[2021-12-20 23:19] YutongTie-MSFT commented on #85544
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-12-20 23:20] YutongTie-MSFT commented on #85546
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-12-20 23:23] jenniehubbardDB commented on #85393
@brucenelson6655 Thank you for calling this out. We create an internal work item to get this corrected - https://databricks.atlassian.net/browse/DOC-3739.

[2021-12-20 23:26] jenniehubbardDB commented on #85234
Adding content owner @PeterCLu

[2021-12-20 23:42] bandersmsft commented on #85298
@damovsky Thanks for raising this issue. It helped identify a gap we have with Cost Analysis. I'ved updated the article section you linked above with the following information:

As for the reservation that you now have (and seems you don't want). You can cancel your reservation. Check out https://docs.microsoft.com/azure/cost-management-billing/reservations/exchange-and-refund-azure-reservations.

[2021-12-20 23:42] #85298 closed

[2021-12-20 23:47] eric-urban commented on #85444
@djimmo - I'll close this as duplicate of the issue you opened in the samples repo. I see there is already traction / progress over there. Thanks!

[2021-12-20 23:47] eric-urban commented on #85444
#please-close

[2021-12-20 23:47] #85444 closed

[2021-12-21 00:01] #85152 closed

[2021-12-21 00:21] JamesTran-MSFT commented on #85537
@JerryMWeeks
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-21 00:25] JamesTran-MSFT commented on #85538
@smadala
Thank you for your feedback!

Can you share the documentation you're following so I can properly route your feedback to the correct team.

If you have any other questions, please let me know.
Thank you for your time and patience throughout this issue.

[2021-12-21 00:58] JamesTran-MSFT commented on #85549
@gwu70ca
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-21 00:59] JamesTran-MSFT commented on #85547
@preethamrajk
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-21 01:29] sherrywangms commented on #85399
@alexcvx thanks for catching this. fixed in https://github.com/MicrosoftDocs/azure-docs-pr/pull/183388

[2021-12-21 02:02] matsura8 opened #85553 "ubnu39103560149945"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c90e134-28de-dd70-5bce-c4a829866288
* Version Independent ID: 2c62c86f-4bac-9cce-f05d-ebd95cbb3d15
* Content: [Troubleshoot issues when you sign up for a new account in the Azure portal](https://docs.microsoft.com/en-US/azure/cost-management-billing/

[2021-12-21 02:37] ToruMakabe opened #85554 "[Request] Information about the default metrics"
Selecting and setting metrics can be a daunting task. Therefore, nifty default metrics are important.

So, I would like to know what the default metrics of each resource for Load Testing integration are and by what criteria they are chosen. If this information is included in the doc, users will understand the usefulness of this feature before trying it out.

It doesn't matter if "recommended metri

[2021-12-21 03:44] MayankBargali-MSFT commented on #85125
@andrew-twigg I wish to engage with you offline for a closer look and provide a quick and specialized assistance, please send an email with subject line “Attn: Mayank” to AzCommunity[at]Microsoft[dot]com referencing this thread.

For now, I will close this thread and update this thread as it looks like a configuration issue.

[2021-12-21 03:44] #85125 closed

[2021-12-21 04:13] smadala commented on #85538
Here is the documentation I'm talking about.
https://github.com/MicrosoftDocs/azure-docs/blob/master/includes/azure-data-factory-limits.md

<img width="593" alt="image" src="https://user-images.githubusercontent.com/4337332/146869880-b02e6e2b-3977-46ee-ace3-7ffba83ea8be.png">

[2021-12-21 04:13] lordlinus opened #85556 "Include sample/accepted values and format"
[Enter feedback here]

please include example and acceptable format for all config values

e.g.  does spark.cosmos.throughputControl.targetThroughput take integer or string? and should it be same as the cosmos through put defined for max throughput?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a29ae0a5-bdf3-7217-27ad

[2021-12-21 04:20] AnuragSharma-MSFT commented on #85501
@jfalameda Could you please provide the details as requested by @savjani ?

[2021-12-21 04:24] KrishnaG-MSFT commented on #85553
@matsura8 Can you please elaborate what your feedback is ?

[2021-12-21 04:58] SwathiDhanwada-MSFT commented on #85222
Assigning to content author @SGSneha for review.

[2021-12-21 05:11] #85500 closed

[2021-12-21 05:12] VikasPullagura-MSFT commented on #85294
@Karma-AK Can you please share the requested details.

[2021-12-21 05:50] Ravivarman13 opened #85557 "App's in the App service plan can be associated to the same subnet not with other subnets without moving to other ASP"
[**Current Documentation:**
The feature supports only one virtual interface per worker. One virtual interface per worker means one regional virtual network integration per App Service plan. All the apps in the same App Service plan can use the same virtual network integration. If you need an app to connect to another virtual network, you need to create another App Service plan. The virtual interfa

[2021-12-21 06:14] GitaraniSharma-MSFT commented on #85554
@ToruMakabe , thank you for your feedback. We have assigned this to the content owner/author for review.

@ntrogh , for your review.

[2021-12-21 06:14] MayankBargali-MSFT commented on #85087
@jcetina Yes all your above understanding is correct and I can see the same at my end. Looking into the document for service bus output binding and storage output binding I don't see any opportunity for code enhancement/changes. Please confirm if this is not the case.

[2021-12-21 06:15] PramodValavala-MSFT commented on #85433
@XavierGuerette Thanks for the feedback! The snippet mentioned in the doc is how you can bind to a single event and the one generated from VS Code is how you can process a batch of messages in a single invocation, both of which are correct.

We will update the docs to include batch processing as well.

[2021-12-21 06:48] AnuragSharma-MSFT commented on #85556
@lordlinus Thanks for reaching out to us. You can refer to below links for code samples:

https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/test/scala/com/azure/cosmos/spark/SparkE2EThroughputControlITest.scala

This is just one example related to throughput but you can find other sample codes in the same repo. Please let us know if this helps.

[2021-12-21 06:53] Dickson-Mwendia commented on #84556
Updating docs to resolve this issue in this PR -  https://github.com/MicrosoftDocs/azure-docs-pr/pull/183403

[2021-12-21 07:23] AnuragSingh-MSFT commented on #85518
@Sizzl, thank you for bringing it to our attention. I have submitted a proposed change to the doc, to add this URL under "Network configuration", which is under review. Once approved, it will be updated in the published doc.
Please let me know if you have any questions.

[2021-12-21 07:23] #85518 closed

[2021-12-21 07:29] vipulsparsh commented on #85326
@danmyhre Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-12-21 07:37] vipulsparsh commented on #85443
@lightupdifire Its actually 1 Sentinel per tenant. You need to enable Sentinel in one subscription and enable logging via log analytic workspace on which the Sentinel was enabled.

[2021-12-21 07:40] Grace-MacJones-MSFT commented on #85557
Hi @Ravivarman13 , thanks for your feedback! We will work to improve the doc as necessary

cc: @madsd can you please take a look at it.

[2021-12-21 07:45] Floriszz commented on #85531
@tamram, thank you for your explanation. Indeed "S" is included with "ge" and not with "gt". Instead of "gt" it would have made more sense to just use eq 'T' in that example as only 'T' would have been returned.
Sorry for the fuzz. I should have looked at this doc first;
https://docs.microsoft.com/en-us/rest/api/storageservices/querying-tables-and-entities

[2021-12-21 07:45] #85531 closed

[2021-12-21 07:52] vipulsparsh commented on #85447
@razstan Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-12-21 08:18] lightupdifire commented on #85443
Not sure if understood correctly,
We have deployed Sentinel in to one subscription, in this subscription of
course the log analytics was created.
Now shall we create in every subscription log analytics workspace and
attach it to the Sentinel? Or not needed? So Sentinel check whole tenant
and all subscriptions but store data only to the selected log analytics
workspace?

вт, 21 дек. 2021 г., 09:37

[2021-12-21 08:23] #85439 closed

[2021-12-21 08:32] ssivas commented on #84299
@bozenektoja, I would recommend you to share your feedback in dedicated forum for Microsoft Teams topics [here](https://feedbackportal.microsoft.com/feedback/forum/ad198462-1c1c-ec11-b6e7-0022481f8472).

#please-close

[2021-12-21 08:32] #84299 closed

[2021-12-21 08:40] madsd commented on #64660
All public regions are now complete, and in addition, Deployment Center in Azure portal now also has the option of configuring Managed Identity.

Thank you all for your patience. @kemurayama would you mind closing the issue.

[2021-12-21 08:55] CHEEKATLAPRADEEP-MSFT commented on #85514
@spelluru Could you please share inputs on the above ask?

[2021-12-21 09:03] DavidChenLiang opened #85561 "I found there is no Cached IOPS/MBps as other VM sku, is that limitation or something?"
I found there is no Cached IOPS/MBps stated as other VM sku, wondering if the SKU can only be used by 'no cache' mode? And I also tried to provision a VM with this sku from Portal but found it is ok to enable the 'Host Caching', what will be the provisioned IOPS/MBps when this VM is running?

Thank you,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2021-12-21 09:09] VikasPullagura-MSFT commented on #85561
@DavidChenLiang
Thanks for your Question! We are currently investigating and will get back on this.

[2021-12-21 09:13] haripraghash opened #85563 "Durable functions - Powershell worker - Output bindings feature"
Are output bindings on ActivityTriggers supported on Powershell Durable functions? I believe as per issue #[646 ](https://github.com/Azure/azure-functions-powershell-worker/issues/646)the work to enable this is complete but it is not rolled out yet. Would it make sense to call out in the documentation that it is not supported until the release gets rolled out across regions?

---
#### Document Det

[2021-12-21 09:22] amanmcse commented on #85509
@fredrikcarlbom  There is no flaw that makes self-signed certificates unsuitable for authentication. As a best practice from a security perspective, self-signed certificates are not used in the production environment. E.g. in case of compromise, you cannot revoke self-signed certificates.

[2021-12-21 09:34] wkoeter opened #85565 "Incorrect information about template"
The part where it says above the template:

`The following template creates an action group with an email target and enables all service health notifications for the target subscription. Save this template as CreateAdvisorAlert.json.`

Thats not what this template does. It does not create Service Health alerts. It creates **Azure Advisor Cost Recommendation notifications**.

---
#### Document Deta

[2021-12-21 09:39] GitaraniSharma-MSFT commented on #85450
@IknowJoseph , We have assigned this to the content owner/author for review.

@vhorne , for your review.

[2021-12-21 09:41] GitaraniSharma-MSFT commented on #85525
@AndreasMWalter , We have assigned this to the content owner/author for review.

@asudbring , for your review.

[2021-12-21 10:06] fredrikcarlbom commented on #85509
@amanmcse I can't revoke the certificate but I can neither revoke username/password.

Certificates with trusted signature offers something that self-signed certs and username/password does not, but username/password isn't discouraged to use...

[2021-12-21 10:11] khouari1 commented on #43947
Is it still not possible to run docker-in-docker in ACI?

[2021-12-21 10:16] Ronelius opened #85567 "Is it possible to transform real time data which is exposed via stream analytics to power bi?"
Is it possible to transform real time data which is exposed via stream analytics to power bi?

The functionality is greyed out in my Power BI desktop UI but I can't find any limitations in the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97ce2614-0e74-0f67-bf3f-8a477bd5f329
* Version Independent ID: e2

[2021-12-21 10:29] PaulTzl opened #85569 "Invalid SAS token"
The SAS token in this example "blob_sas_token = r"?st=2019-02-26T02%3A34%3A32Z&se=2119-02-27T02%3A34%3A00Z&sp=rl&sv=2018-03-28&sr=c&sig=XlJVWA7fMXCSxCKqJm8psMOh0W4h7cSYO28coRqF2fs%3D""

...fails to authenticate. It looks as if it has expired.

Using this may be more suitable:
blob_sas_token = r""

As per the example here:
https://docs.microsoft.com/en-gb/azure/open-datasets/dataset-seattle-safety?

[2021-12-21 10:33] AjayKumar-MSFT commented on #85102
@anbhar, Apologies for the delay on this! We have raised a PR and once it's merged, the requested changes would be published.
Thanks for bringing this to our attention. Much appreciate your feedback.

[2021-12-21 10:33] #85102 closed

[2021-12-21 10:36] richard-artes opened #85570 ""In Replication Storage Account, select the Azure Storage account in which replicated data will be stored in Azure." needs more information"
You say "In Replication Storage Account, select the Azure Storage account in which replicated data will be stored in Azure."
But you don't say what requirements the storage account has. Please add a link to the requirements for a storage account.
Should it be Public or Private endpoint?
Should it be Microsoft or Internet routing?
Does it need to secure transfer for REST API?
Blob Public access ena

[2021-12-21 10:37] AjayKumar-MSFT commented on #85104
anbhar, Apologies for the delay on this! Your feedback has been shared with the content owner for further review and to evaluate if a doc update is necessary. Much appreciate your valuable feedback.

[2021-12-21 10:40] thanhnt commented on #35931
Hi SatisjBoddu: Our need is to work with CA cert, not with the device certs...Actually the need is to use C# SDK to do step 2 and 3 in this document:
https://docs.microsoft.com/en-us/azure/iot-hub/tutorial-x509-scripts
We have a CA and a ROOT already, now we would like:
- Register the CA and the ROOT (if registering the ROOT is required) with A IOT HUB with some SDK function.
- Then submit a cert

[2021-12-21 10:41] SnehaAgrawal-MSFT commented on #85170
@ingridxinzhuo163 Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2021-12-21 10:41] AjayKumar-MSFT commented on #85103
@anbhar, Apologies for the delay on this! Your feedback has been shared with the content owner for further review and to evaluate if a doc update is necessary. Much appreciate your valuable feedback.

[2021-12-21 10:53] joachim-lazaroms-isolectra commented on #85386
I tried it today on a pi that was already successful configured
It did not give a error, so maybe, in a few weeks i will try a new pi. So closed for now.
thank you

[2021-12-21 11:03] ssivas commented on #84219
I have confirmed with product team and "Global reader" role should have access to workbooks blade. We will update our document accordingly. For now I will proceed with close of this thread, if you have any queries, please tag me in comment. Thanks.

#please-close

[2021-12-21 11:03] #84219 closed

[2021-12-21 11:05] #85301 closed

[2021-12-21 11:07] SrijitBose-MSFT commented on #85434
@palma21 can you please help update documents where `mcr.microsoft.com/aks/fundamental/base-ubuntu:v0.0.11` has been provided in How-to guidelines?

[2021-12-21 11:16] SrijitBose-MSFT commented on #85511
@stefan-kiss , thank you for your feedback. The older mechanism for SSH (using the SSH protocol; the SSH server application running on the AKS nodes) would require you to update the user credentials from the Azure platform, which in turn would require a virtual machine (or scale set instance) update. This however, involves rebooting the VM which would lead to disruptions to your containerized work

[2021-12-21 11:43] ChrisWeedall opened #85571 "Removal of detail - Each object only once in an Azure AD tenant"
The section **Each object only once in an Azure AD tenant** has been removed. Has the capability to sync users from different organisational units to different AAD tenants been withdrawn? Previously the documentation stated:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0562f646-ef99-e341-e2fc-fcc3eed44d15
* Version I

[2021-12-21 11:49] AnnuKumari-MSFT commented on #85569
@PaulTzl Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-21 11:51] GitaraniSharma-MSFT commented on #85537
@JerryMWeeks , We have assigned this to the content owner/author for review.

@vhorne , could you please check if we could create a doc with tutorial for creating an Application Gateway to work with an MFA authenticated Azure app service?

[2021-12-21 11:57] AnnuKumari-MSFT commented on #82832
@riserrad As per the documentation, it is mentioned that we need to create a Database with the name "nyctaxi" and save the content of Dataframe in a table called "trip" .
Please refer to the below mentioned lines of code from the documentation:

spark.sql("CREATE DATABASE IF NOT EXISTS nyctaxi")
df.write.mode("overwrite").saveAsTable("nyctaxi.trip")

Please go through the documentation step by ste

[2021-12-21 11:57] #82832 closed

[2021-12-21 12:00] shashishailaj commented on #85571
@vipulsparsh Thank you for your query . We will investigate and update the thread.

[2021-12-21 12:08] K4S1 opened #85572 "Public / internal / on-prem service"
Hi,

Have some issues with this setup.
1 Certificate Profile in Authentication Profile can't be "none" as shown in this guide. refured in link:https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/paloaltoadmin-tutorial#configure-palo-alto-networks---admin-ui-sso
Bullet point 12.

2 Would be nice if it stated in the start of the document that it is an requirement that the service shoul

[2021-12-21 12:09] Karishma-Tiwari-MSFT commented on #85460
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2021-12-21 12:09] #85460 closed

[2021-12-21 12:10] batamig commented on #85326
Hi @danmyhre, thanks for sending your question into docs!
We're checking back with the team before replying to this one and will then also update the content in this article as needed.

In the meantime, we've added this to our backlog, so I'm going to close this issue. Please feel free to continue adding comments if you have additional feedback.

We appreciate your contributions to docs!
#please-c

[2021-12-21 12:10] #85326 closed

[2021-12-21 12:18] Karishma-Tiwari-MSFT commented on #85459
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2021-12-21 12:18] #85459 closed

[2021-12-21 12:18] SumanthMarigowda commented on #85517
@Floriszz Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-12-21 12:18] SumanthMarigowda commented on #85410
@lindacmsheard The PR request has been initiated, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-12-21 12:18] #85410 closed

[2021-12-21 12:32] gvanteylingen opened #85573 "ANFFileAcess typo"
ANFFileAcess -> ANFFileAccess typo on the page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9edbbe6-647b-2627-2d3b-963df5e948ef
* Version Independent ID: d36b7f2b-53f6-a014-268f-954ff2741664
* Content: [Manage file access logs in Azure NetApp Files](https://review.docs.microsoft.com/en-us/azure/azure-netapp-files/ma

[2021-12-21 12:33] dhcgn opened #85574 "Deprecated Blog Article: Running Go Applications on Azure App Service"
The blog article "Running Go Applications on Azure App Service" from 2015 is deprecated.

https://azure.microsoft.com/de-de/blog/running-go-applications-on-azure-app-service/

I got in contact with AzureSupport and mentioned this deprecated blog post:
https://twitter.com/2a35fbe6/status/1469745523192213512?s=20

I think there is demand in information how to use Go in Azure Cloud Services

## Runni

[2021-12-21 12:44] shashishailaj commented on #85438
@debashishgouda22 Currently this is not possible. You cannot customize the API with custom permission set with attribute level granularity on user accounts . This is not possible at the moment . You can upvote a similar ask about custom roles on the Feedback site https://feedback.azure.com/d365community/idea/d4c0186f-c725-ec11-b6e6-000d3a4f0789 if creating a custom directory role and assigning it

[2021-12-21 12:44] #85438 closed

[2021-12-21 13:14] SadiqhAhmed-MSFT commented on #85570
@richard-artes Thank you for your feedback. We will review this with the content owner and update as appropriate.

@Vikram1988 FYI

[2021-12-21 13:19] SumanthMarigowda commented on #85573
@gvanteylingen Thanks for the question! We are investigating and will update you shortly.

[2021-12-21 13:21] AshokPeddakotla-MSFT commented on #85567
[@Ronelius](https://github.com/Ronelius) Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-12-21 13:39] Karishma-Tiwari-MSFT commented on #85419
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-12-21 13:51] Karishma-Tiwari-MSFT commented on #85160
We will now close this issue. Please share more details and tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2021-12-21 13:51] #85160 closed

[2021-12-21 13:59] Karishma-Tiwari-MSFT commented on #85257
Hope that helps. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2021-12-21 13:59] #85257 closed

[2021-12-21 14:00] AjayKumar-MSFT commented on #85345
@tommysella, Apologies for the delay!

<img width="471" alt="image" src="https://user-images.githubusercontent.com/44606227/146941388-0ba1d2b5-d8c9-4256-a020-47e9a9822784.png">

To deploy from the Docker, you could use similar format, as this example:

Could you please confirm on the Runtime version and the Docker image that you leveraged.
<img width="388" alt="image" src="https://user-images.gith

[2021-12-21 14:10] siouxme opened #85578 "typo"
[Enter feedback here]
Make sure that .... **1443** for Synapse Studio.
= port number is typo

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27b4ec3e-3d82-258b-2038-2990c9f24479
* Version Independent ID: 6c0a6b2e-3b3a-bbd4-8262-fe2c82bd9402
* Content: [Configure IP firewall rules - Azure Synapse Analytics](https://docs.

[2021-12-21 14:19] Karishma-Tiwari-MSFT commented on #85412
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-12-21 14:47] MonikaReddy-MSFT commented on #85565
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2021-12-21 15:25] dejokz opened #85579 "Unable to create new user using SCIM as per the documentation"
The scim create user doesn't work. After entering the command as shown in the documentation. I've replaced <databricks-instance> and <username>, the earlier commands of getting user by ID and filtering works.
It errors going saying

`Warning: Couldn't read data from file "create-user.json", this makes an empty
Warning: POST.
{"schemas":["urn:ietf:params:scim:api:messages:2.0:Error"],"scimType":"In

[2021-12-21 15:29] JamesTran-MSFT commented on #85572
@K4S1
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-12-21 15:32] JamesTran-MSFT commented on #85574
@dhcgn
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-21 15:40] baanders commented on #85435
Thanks for the attempt, and for the additional information.

Presently, those using personal Microsoft accounts (MSA)s are unable to [switch the Explorer URL from one instance to another](https://docs.microsoft.com/azure/digital-twins/how-to-use-azure-digital-twins-explorer#switch-contexts-within-the-app), and I wonder if that could be at play here, affecting you since you had to enter an instance

[2021-12-21 15:43] kabharati commented on #80048
This is added now and should reflect by EOD. Closing the PR. Please feel free to re-open it if you have any questions.

[2021-12-21 15:43] kabharati commented on #80048
#please-close

[2021-12-21 15:43] #80048 closed

[2021-12-21 15:52] JamesTran-MSFT commented on #85538
@smadala
Thank you for the follow up on this!

Since you're referring to our [Azure Data Factory limits](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/azure-subscription-service-limits#azure-data-factory-limits), I've linked your GitHub issue to our [Pipeline execution and triggers in Azure Data Factory or Azure Synapse Analytics](https://docs.microsoft.com/en-us/azure/d

[2021-12-21 15:53] OliCSADoerr opened #85580 "Azure Brazil South East missing as Azure Region for ER peering"
In the section "Azure regions to ExpressRoute locations within a geopolitical region" the Azure Region "Brazil South East" is missing as a possible target for the ExpressRoute connectivity. Please add this, as it confuses our customers otherwise (Now they think that they have to enter Rio through an Expressroute Partner Peering Location in Sao Paolo - which is technically possible, but not the bes

[2021-12-21 15:53] mike-urnun-msft commented on #85563
Hello @haripraghash - Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-12-21 15:56] johnayoub opened #85581 "Elastic Query GA"
When do we expect this feature to go GA?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85bf6940-1cbe-b07c-aede-131130ceb616
* Version Independent ID: 447635d9-5aea-f447-6cb4-8fd44ea5e900
* Content: [Elastic query overview - Azure SQL Database](https://docs.microsoft.com/en-us/azure/azure-sql/database/elastic-query-ove

[2021-12-21 16:00] napbarnes opened #85582 "out of date graphics as Azure evolves faster than a virus"
[Enter feedback here]
This page seems out of date, as what I'm seeing does not match the graphics. You have no idea how frustrating that makes the documentation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 67314add-afed-bd07-a432-1cdf9303f2cb
* Version Independent ID: 742a7c8c-7e72-c340-f900-6fd5c19ae6d9
* Content: [

[2021-12-21 16:01] smehta0908 commented on #47068
Hi @crisansou, @femsulu

Do we have any resolution for this.
How do we Enable Soft Delete for databricks managed storage account on Azure.

Regards

[2021-12-21 16:05] RohitMungi-MSFT commented on #85422
@maxbryan As per the request above the functionality is still supported. Please try to use the same along with some text or use the text analytics API if only entities need to be extracted. We will now proceed to close this thread. Thanks!!

[2021-12-21 16:05] #85422 closed

[2021-12-21 16:06] SatishBoddu-MSFT commented on #35931
Let me check for C# SDK to do step 2 and 3

[2021-12-21 16:09] ScottMetzel opened #85583 "Requesting Separate How-To Article on Using Same Custom Domain Name in GCCH"
Greetings,

The new public preview feature which allows the same object in AD DS to be synchronized with multiple AAD tenants is fantastic. In the article, in the section which speaks to the new (public preview) feature, it's also mentioned the same custom domain can be used with a tenant in Commercial and one in GCC High.

It'd be good to have a separate "How-To" article which covers how an ident

[2021-12-21 16:15] JamesTran-MSFT commented on #85583
@ScottMetzel
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-12-21 16:15] CheetahChrome commented on #85435
As of today, I got the message again after using my one login which I have continuously used throughout the whole process. But...upon a second attempt (no setting changed), I then got the *Enter Host* popup and was allowed to re-add my host and it worked. Something is up with the SSO and Twins. This is not production for me, so its not important. Thank you for your followups.

[2021-12-21 16:17] jocarv-fte commented on #85491
Hey,  @***@***.***>.

Are you the doc author?
Ping me directly on teams when you’re back , to discuss what I’ve found when trying to use the repro the issue on the doc

(Next OOF: Dec 24th)
﻿Please use “reply all” when replying, to ensure proper case routing.

Best Regards,

José Carvalho
SUPPORT ESCAL ENG
Azure Rapid Response Portugal
Customer Services and Support
Office: (+351) 210602486
***@***

[2021-12-21 16:18] netapp-ahibbard commented on #85573
Thanks for catching this @gvanteylingen. @SumanthMarigowda : This document is pending release. I have updated it in the staging branch

[2021-12-21 16:19] CaitlinV39 commented on #85018
This is resolved now. Thanks so much! #please-close

[2021-12-21 16:19] #85018 closed

[2021-12-21 16:20] PaulAW opened #85585 "Search not clickable/functioning in Add co-administrator screen"
The "Search by name or email address" box is not clickable/functionating in the IAM "Add co-administrator" screen referenced in this article.

![image](https://user-images.githubusercontent.com/1663737/146963575-14b0c51a-1338-4b1a-8c53-e0c336fdb802.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25dd53de-a48b-5cc3-

[2021-12-21 16:23] FlorianBorn71 opened #85586 "Two suggested improvements in this doc / sample code"
The sample was very helpful, but I suggest the following two improvements:

1) The prerequisites link to the correct version of ffmpeg to download, but it should be more specific about which zip to pick. For instance, there is a "full" version and "essentials". Depending on which is picked, the relative path must be adjusted in the sample.

2) The doc mentions to name the application ffmpeg versio

[2021-12-21 16:23] arun-mittal opened #85587 "Requirements for Domain Connectivity are not up to date"
Hello,

The requirements section of this page needs to be updated. The Azure Virtual Desktop service can be joined directly to Azure Active Directory without the need for AADDS or a Windows AD with AD connect.

I believe this bullet point needs to be updated:

A Windows Server Active Directory in sync with Azure Active Directory. You can configure this using Azure AD Connect (for hybrid organizati

[2021-12-21 16:41] ermacia91 commented on #83946
I am sorry, I do not see these changes included in the documentation. Were they deemed not necessary? I can attest this will impact customers using this service if they are not familiar how the integration works on Snowflake.

[2021-12-21 16:44] AbhishekShaha opened #85588 "Suggesting small spell change in pg audit settings"
[Enter feedback here]

Please make changes in this section : https://docs.microsoft.com/en-us/azure/postgresql/concepts-audit#pgaudit-settings

At point number 3, it should be pgaudit, instead pg_audit

![image](https://user-images.githubusercontent.com/9308669/146966836-6df81b6d-60ad-421c-83ed-b2419360c936.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2021-12-21 16:49] crisansou commented on #47068
Hi @smehta0908,

Unfortunately, I didn't receive any solution for this case.

[2021-12-21 17:02] pettermoe95 commented on #84400
@cephalin When can I expect someone to look at this, or did I not post the question in the right place?

[2021-12-21 17:12] JamesTran-MSFT commented on #85585
@PaulAW
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-21 17:28] danscarfe opened #85590 "Video URL"
Could you update the link to the video - it's not working

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 756d7e9d-e984-8189-75e4-0e08b26c114a
* Version Independent ID: de71656d-4c71-cf7f-632e-695c018c9644
* Content: [Microsoft Azure confidential ledger overview](https://docs.microsoft.com/en-us/azure/confidential-ledge

[2021-12-21 17:41] JamesTran-MSFT commented on #85590
@danscarfe
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-12-21 17:48] wguyman opened #85591 "How do I create a Cognitive Services Contributor Role? No details"
When trying to create new instances of Computer Vision, Inbal hit this error “Your Azure account must have a Cognitive Services Contributor role assigned in order for you to agree to the responsible AI terms and create a resource. Contact your administrator to get this role assigned to your account.”

She didn’t know how to correct for or solve this, and the documentation says the same but doesn’t

[2021-12-21 17:49] JamesTran-MSFT commented on #85574
@dhcgn
Thanks for your feedback! I've assigned your product feedback to the appropriate team who will investigate and update as appropriate.

[2021-12-21 18:02] IsmaelJCarlo opened #85592 "Firefox content out of date"
Mozilla Firefox now has native Windows SSO integration.  You should update this document to reflect this page:  [Windows SSO | Firefox Help (mozilla.org)](https://support.mozilla.org/en-US/kb/windows-sso)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d53fedc-b37d-9c37-fd71-32088e1e88d3
* Version Independent ID: 1d67c

[2021-12-21 18:10] YutongTie-MSFT commented on #85591
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-12-21 18:14] JamesTran-MSFT commented on #85585
@PaulAW
Thank you for pointing this out! I wasn't able to reproduce your issue.
![image](https://user-images.githubusercontent.com/36619112/146978345-d7932c1e-cd2f-4dbc-ab32-3895dc82581b.png)

But from your screenshot, it looks like your `subscription does not support classic administrators`. Can you see if you have `Microsoft.ClassicSubscription` registered as one of your resource providers? If n

[2021-12-21 18:14] #85585 closed

[2021-12-21 18:14] JamesTran-MSFT commented on #85592
@IsmaelJCarlo
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-12-21 18:16] jcetina commented on #85087
@MayankBargali-MSFT - Agreed. Sorry I thought that service bus page says you could output lists. I clearly misread it. Apologies.

[2021-12-21 18:18] rasldasl opened #85593 "Need better guidance/solution for Autopilot devices"
Autopilot device cleanup is a big issue, as is Azure AD device cleanup in general. I tried following guidance on removing aged AzureAD devices using the Remove-AzureADDevice cmdlet and expected the cmdlet to respect the same rules as the portal (cannot delete Autopilot devices until deleted first from Autopilot) but instead these devices were deleted, leaving the Autopilot device with no associate

[2021-12-21 18:19] KranthiPakala-MSFT commented on #85578
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2021-12-21 18:29] JamesTran-MSFT commented on #85593
@rasldasl
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-12-21 18:49] jmpompeo commented on #77483
Running in to this issue as well. It says the role assignment already access when I run **SP_PASSWD=$(MSYS_NO_PATHCONV=1 az ad sp create-for-rbac --name http://$ACR_NAME-pull --scopes $ACR_REGISTRY_ID --role acrpull --query password --output tsv)**,  but when I run **SP_APPID=$(MSYS_NO_PATHCONV=1 az ad sp show --id http://$ACR_NAME-pull --query appId --output tsv)** I get the service principal doe

[2021-12-21 18:50] GeethaThatipatri-MSFT commented on #85588
Hi, @AbhishekShaha thanks for your feedback! we will investigate and update accordingly.

[2021-12-21 18:53] KranthiPakala-MSFT commented on #85579
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-12-21 18:53] KranthiPakala-MSFT commented on #85582
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2021-12-21 18:55] PaulAW commented on #85585
Microsoft.ClassicSubscription is not in the list of providers to select.
1st Image.
You can see (2nd image) that I've created co-administrators before.  I
don't recall how I did it.  I'm just trying to give a new person access to
our virtual machines.  I've already given them "Global Administrator"
(Image 3) through the active directory.
[image: image.png]

[image: image.png]

[image: image.png]

[2021-12-21 19:15] SubhashVasarapu-MSFT commented on #85580
@OliCSADoerr , Thanks for reaching out. We will investigate and update this thread.

[2021-12-21 19:22] jonburchel commented on #85582
@napbarnes thanks for helping improve the docs!  I created this article very recently and the screenshots should all be up to date.  Can you confirm which screenshot(s) you are seeing that are not correct?  I will ensure the article is updated asap to fix any issues we have in it.

Thank you!

[2021-12-21 19:30] KranthiPakala-MSFT commented on #85538
@smadala - Thanks for the feedback. As this feedback related to product feature request, we recommend you to please submit your feedback here: https://feedback.azure.com/d365community/forum/1219ec2d-6c26-ec11-b6e6-000d3a4f032c

All the feedback shared in this forum are actively monitored and reviewed by ADF product team.

Please do share the link once the feedback is logged so that we can share it

[2021-12-21 21:16] lukebal opened #85595 "$identityName is misspelled"
[Enter feedback here]
When registering the identity, these 2 commands have the $identityName misspelled:
$idenityNameResourceId=$(Get-AzUserAssignedIdentity -ResourceGroupName $imageResourceGroup -Name $identityName).Id
$idenityNamePrincipalId=$(Get-AzUserAssignedIdentity -ResourceGroupName $imageResourceGroup -Name $identityName).PrincipalId

---
#### Document Details

⚠ *Do not edit this section

[2021-12-21 21:19] GeethaThatipatri-MSFT commented on #85581
Hi, @johnayoub currently we do not have any update on the date. you can see feature updates [Here](https://azure.microsoft.com/en-us/updates/?).

[2021-12-21 21:51] gamullen commented on #85262
@mumian - please let me know if you have any questions on my approach.

[2021-12-21 22:23] SethBonser opened #85597 "Please make it more clear which storage Account private endpoints need to be configured on"
It should be more explicitly mentioned that the private endpoints configured for the storage account are NOT for the storage account with the functions fileshare, but for the storage account created in this tutorial for use with the other resources, if you read very very closely you can see that it says to configure them on the second storage account but there should be a disclaimer that your func

[2021-12-21 22:27] JamesTran-MSFT commented on #85586
@FlorianBorn71
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-21 22:28] JamesTran-MSFT commented on #85587
@arun-mittal
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-21 22:29] bnvsp opened #85598 "Invalid SignalRTemplate Error while using Python"
This is for language: Python
[https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-quickstart-azure-functions-python](url)
I'm trying to create "negotiate" function as mentioned in doc using below command:
[code]
This has resulted in an error saying:
```Can't find template "SignalRNegotiateHTTPTrigger" in "Python"```

In one of the community forums I have seen that we need to use another t

[2021-12-21 23:02] apeschel commented on #39634
Confirming this bug is still active as of Dec 21, 2021.

[2021-12-21 23:31] babaknaderi opened #85599 "Deploy multiple container instances with volume using docker-compose"
It is very confusing on how to add volume to the docker compose when I want to use it for deploying multiple containers.
I followed multiple resources and not struggling with error message:
"Error response from daemon: create XXX: error looking up volume plugin azure_file: plugin "azure_file" not found"

meanwhile AzureFile plugin is deprecated: https://github.com/Azure/azurefile-dockervolumedrive

[2021-12-21 23:35] davidmrdavid commented on #85563
@mike-urnun-msft: Can you please assign me as an owner for this ticket? I'm responsible for this feature and I'd like to track this documentation item. Thanks

[2021-12-21 23:53] aaronswebs opened #85600 "Clarity for GRS / GZRS failover on ADLS Gen2 workloads"
In the "Understand the account failover process" there is a note that reads: "This feature is not yet supported in accounts that have a hierarchical namespace (Azure Data Lake Storage Gen2). To learn more, see Blob storage features available in Azure Data Lake Storage Gen2."

This is being interpreted by the field and customers that GRS is not supported for ADLS Gen 2 workloads. Can this statement

[2021-12-22 00:48] JamesTran-MSFT commented on #85595
@lukebal
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-22 01:49] StaceyWA commented on #85171
Thank you @SaiKishor-MSFT Please kindly let me know if there is any further progress. Thank you.

[2021-12-22 02:43] CharlesGroleau commented on #85115
Here an example of the value of $reservationObjects[0].id

"/providers/microsoft.capacity/reservationOrders/51c83fac-15r9-462a-b1a5-y74e8gh11460/reservations/6c5b34bc-585e-4c5b-9d5b-d9da123a3467"

if you only pass "/providers/microsoft.capacity/reservationOrders/51c83fac-15r9-462a-b1a5-y74e8gh11460" to  New-AzRoleAssignment -Scope the command will fail.

[2021-12-22 02:51] MayankBargali-MSFT commented on #85087
@jcetina No worries and thanks for your response. We will now proceed to close this thread. Feel free to reach out to us if you need any assistance in the future.

[2021-12-22 02:51] #85087 closed

[2021-12-22 03:30] SumanthMarigowda commented on #85597
@SethBonser
Thanks for the question! We are investigating and will update you shortly.

[2021-12-22 03:31] SumanthMarigowda commented on #85600
@aaronswebs Thanks for the question! We are investigating and will update you shortly.

[2021-12-22 03:31] smadala commented on #85538
Created ab idea( [feedback.azure.com/d365community/idea/7b2f3c84-d762-ec11-a819-0022484bf651](feedback.azure.com/d365community/idea/7b2f3c84-d762-ec11-a819-0022484bf651) )

[2021-12-22 03:45] AnuragSharma-MSFT commented on #85497
@robertwood62 Thanks for your patience. Through Data Explorer it would not be possible to pass through parameters or use variables. We need to use any of the SDK to use them as mentioned in below article:

[Parameterized queries in Azure Cosmos DB](https://docs.microsoft.com/en-us/azure/cosmos-db/sql/sql-query-parameterized-queries)

[2021-12-22 04:01] mathapli commented on #85182
Great point. We are working on Self Test API and will come back to you as it is ready.

[2021-12-22 04:02] mathapli commented on #85351
@SatishBoddu-MSFT
Can you please help close this?

[2021-12-22 04:03] mathapli commented on #85182
@koder101 we have taken the feedback and will work on Self Test API which provides all test cases. Please close this.

[2021-12-22 04:15] v-hagamp commented on #84248
I created PR for these changes.
#please-close

[2021-12-22 04:15] #84248 closed

[2021-12-22 04:45] BryanTrach-MSFT commented on #85598
@bnvsp Thank you for bringing this to our attention. I was able to reproduce the same error.
![image](https://user-images.githubusercontent.com/20250350/147037007-c004698a-2eb8-4da2-90fb-1b078b068992.png)

As a result, I have tagged this as a doc bug and assigned it directly to the doc author.

[2021-12-22 05:02] KrishnaG-MSFT commented on #85085
Update: Currently the limit is 4096 for the ‘if’ condition and 128 for existence condition regardless of which Azure cloud type. We are working on updating the documentation.

[2021-12-22 05:02] v-hagamp commented on #83946
@ermacia91, The changes are merged. It will take 24 hrs to reflect the changes in to the main article.

[2021-12-22 05:15] anthonychu commented on #85598
@zackliu @JialinXin Can you please take a look?

[2021-12-22 05:17] mike-urnun-msft commented on #80975
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-12-22 05:17] #80975 closed

[2021-12-22 05:17] mike-urnun-msft commented on #80099
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-12-22 05:17] #80099 closed

[2021-12-22 05:18] VikasPullagura-MSFT commented on #85294
@Karma-AK

We will now close this issue. If you have the requested information ready, please tag me in a comment. I will reopen it and we will continue the discussion.

[2021-12-22 05:18] #85294 closed

[2021-12-22 06:02] ssivas commented on #84219
@DeanGross, Our public document has been updated with the revisions. Thank you for your time and patience in working on this matter.

https://docs.microsoft.com/en-us/azure/active-directory/reports-monitoring/howto-use-azure-monitor-workbooks#roles

[2021-12-22 06:12] AjayKumar-MSFT commented on #85345
tommysella,  We will close this issue for now. If there are further questions regarding this matter, we will reopen it and gladly continue the discussion.

[2021-12-22 06:29] smehta0908 commented on #47068
Thanks @crisansou

[2021-12-22 06:43] amanmcse commented on #85509
@fredrikcarlbom There are ways to identify risky users and risky sign-ins and block access or require additional verification methods when identity is suspected to be compromised.
Ref: https://docs.microsoft.com/en-us/azure/active-directory/identity-protection/howto-identity-protection-configure-risk-policies#user-risk-with-conditional-access

[2021-12-22 06:49] VikasPullagura-MSFT commented on #85599
@babaknaderi
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-12-22 06:49] VikasPullagura-MSFT commented on #85599
@macols
Can you please check and add your comments on this doc update request as applicable.

[2021-12-22 07:01] xujxu opened #85604 "Duplicated word exists in one sentence"
Hi,

There is duplicated word ("don't") in below sentence. Feel free to correct it.
Also, should we keep the "namespace" (singular or plural) as same between Standard and Premium?

---
Can I migrate my Standard namespaces to Premium namespace?
We _**don't**_ currently _**don't**_ support migrating from standard namespaces to premium namespace.

---
#### Document Details

⚠ *Do not edit this sectio

[2021-12-22 08:16] MughundhanRaveendran-MSFT commented on #85061
@mikeblakeuk ,

The example provided in the article is same as the below. I dont think document needs to be modified
 "properties": {
	"reserved": true
        "siteConfig": {
            "appSettings": [
                {
                    "name": "AzureWebJobsStorage",
                    "value": "[concat('DefaultEndpointsProtocol=https;AccountName=', variables('storageAccountName'), ';Accoun

[2021-12-22 08:21] OzBob opened #85605 "Azure Table binding example"
suggestion:
add an Azure Table and a Cosmos Table with Attribute binding example, with a reference to the migration required https://github.com/Azure/azure-sdk-for-net/blob/737829359b2a7912a9ccb2ca925e1b6ec25da8cf/sdk/tables/Azure.Data.Tables/MigrationGuide.md

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 549d8479-4b0

[2021-12-22 08:22] v-hagamp commented on #82817
@austin-schaefer,

Would you please share the latest screenshots to update in the Article?

[2021-12-22 08:51] #85345 closed

[2021-12-22 09:24] Kmdkca opened #85606 "link updates"
when does the link to manual updates https://go.microsoft.com/fwlink/?LinkID=394789 gets updated to latest versions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab75f449-661d-bd1e-3ebd-61e2384a911a
* Version Independent ID: e7c93a31-6076-26b8-a53d-d36df01ec6bc
* Content: [Azure Virtual Machine Agent Overview - Azure

[2021-12-22 09:28] napbarnes commented on #85582
Hi

First, apologies if I sounded a bit ‘off’ In my email. It was late, I struggle with everything Azure, and I wish sometimes I could be somewhere else.

I tried to follow your instructions, and for the most part, where they differ I can work out where Microsoft have updated the layout of the screen. Little things like is it important that my screen shows ‘Logic app’ under the little icon top lef

[2021-12-22 09:32] adoelger opened #85607 "In the German translation of the documentation Flexible Server ist still "In Preview""
In the German translation of the documentation Flexible Server ist still "In Preview". You should remove "In Preview" also on the German documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 789139e9-15bb-58a9-7dc3-bd85c0bcfee5
* Version Independent ID: cda59fed-f3ff-aa09-a13c-027a54e4141a
* Content: [Azure Dat

[2021-12-22 09:42] amitjhaa commented on #29976
Error.
An error occurred while processing your request.
Development Mode
Swapping to Development environment will display more detailed information about the error that occurred.

The Development environment shouldn't be enabled for deployed applications. It can result in displaying sensitive information from exceptions to end users. For local debugging, enable the Development environment by setti

[2021-12-22 09:42] amitjhaa commented on #29976
How to Resolve It

[2021-12-22 10:03] malaker opened #85608 "Documentation about how to populate activity parties (e.g to, from for phone call entity)"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 304d4c46-c0ac-05c9-15eb-d8b677ec5e90
* Version Independent ID: 36a79d36-2b72-2722-68e5-e167f9a2cd41
* Content: [Copy data in Dynamics (Microsoft Dataverse) - Azure Data Factory & Azure Synapse](https://docs.microsoft.com/en-us/azure/data-factory/conne

[2021-12-22 10:07] scarvalho-eng opened #85609 "Update Service dependencies"
I've received several cases regarding Service dependencies and we verified there is a service dependency between **Whiteboard Services** and **Microsoft Team Services**.

I've gathered information from Azure logs, and it shows a service dependency between Whiteboard Services and Microsoft Team Services. Whiteboard Services depends on the following services:
•	MS Teams Services
•	Windows Azure Acti

[2021-12-22 10:25] VikasPullagura-MSFT commented on #85606
@Kmdkca
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-12-22 10:25] VikasPullagura-MSFT commented on #85606
@amjads1
Can you please check and add your comments on this doc update request as applicable.

[2021-12-22 10:31] hemanthmatam opened #85610 "MSIX app attach - Pre-req to replicate the AVD session hosts computer objects group is missing."
Hi,I'm working on MSIX app attach , one of the pre-req to attach apps to AVD we need to replicate the AVD session hosts computer objects group into AAD and assign Storage File Data SMB Share Reader/Contributor. But the docs article its missing. Correct me If I'm wrong is this pre-req is not necessary only NTFS permissions are fine to attach app to avd session host

---
#### Document Details

⚠ *Do

[2021-12-22 10:34] hemanthmatam commented on #85610
I'm working with one of our clients and explained this pre-req.
After referring to this Doc : https://docs.microsoft.com/en-us/azure/virtual-desktop/app-attach-azure-portal
now customer is not ready to replicate the computer objects into AAD and asking me to implement this
requesting you to update the DOC's article or if you have alternative solution kindly share with me

[2021-12-22 10:35] hemanthmatam commented on #85324
Thanks for the update : I will Update module and check

[2021-12-22 10:37] VikasPullagura-MSFT commented on #85604
@xujxu Thanks for pointing this out. We are updating the document and changes will go live soon.

[2021-12-22 10:55] VikasPullagura-MSFT commented on #85561
@DavidChenLiang
I checked with internal team on this and got information that we are not documenting the cached values with the "s" sizes as we can't guarantee the IOPs/throughout and in the future we are planning to remove the cache values.

[2021-12-22 10:56] VikasPullagura-MSFT commented on #85561
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2021-12-22 10:56] #85561 closed

[2021-12-22 11:09] shashishailaj commented on #85379
We have created an internal item for this request and will be deprecating this doc page. e will close this issue now.

[2021-12-22 11:09] #85379 closed

[2021-12-22 11:12] MayankBargali-MSFT commented on #85605
@OzBob Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-12-22 11:37] MClauwaert commented on #52241
We are also experiencing issues due to this. Our environments are deployed via automation. But this is causing additional work-arounds.

[2021-12-22 11:39] AnnuKumari-MSFT commented on #85608
Hi @malaker Thanks for the feedback! I have assigned the issue to the content author to add the above mentioned information.

[2021-12-22 11:43] CHEEKATLAPRADEEP-MSFT commented on #82814
@msdpalam To avoid this confusion, I had added an important note in Analyze NYC Taxi data with a Spark pool.

![image](https://user-images.githubusercontent.com/79183421/147087720-b5f217d7-9974-4752-b2f4-222d8b8b84ac.png)

Hope this helps.

[2021-12-22 11:43] #82814 closed

[2021-12-22 11:48] hemanthmatam commented on #85324
Tried After updating the AZ module , its working thanks a lot

[2021-12-22 12:14] trferreira-BR opened #85612 "It's not clear when you say 'are not used frequently' to use Hot or Cool tier"
Hi everyone,

It's not clear when you say 'are not used frequently' to choose and use Hot or Cool tier. We need more information to help us choosing the better and know when to use Hot instead of Cool. Remembering that every person might have some differences about frequency about it.

'are not used frequently' can be:
- 30 seconds
- 1 minute
- 10 minutes
- 30 minutes
- 1 h
- 2 h
- and so on

Let

[2021-12-22 12:17] ssivas commented on #73807
Apologies for delayed response

Unfortunately, currently Azure AD UI does not support space as a valid character in claim transformation, so `Extract()` or `Trim()` with space will not work in this case.

Our engineering team working on preview feature to include whitespace using custom RegexReplace transformation in Azure portal but we don't have ETA on this preview feature.

Meanwhile,  you coul

[2021-12-22 12:17] #73807 closed

[2021-12-22 12:58] stevetownsend3 commented on #9799
This should deffo be in the docs if it isn't already

[2021-12-22 13:11] ssivas commented on #85609
@scarvalho-eng , Thank you for your query . We will investigate and update the thread.

[2021-12-22 13:16] ssivas commented on #85609
@MicrosoftGuyJFlo,
I think we need to collaborate with  "Microsoft Team" and "Whiteboard" teams to add service dependencies for these services in our Doc as this would help customer to have more clarity from Azure Active Directory Conditional Access aspect.

Here is another thread with similar ask. MicrosoftDocs/azure-docs/issues/84299

[2021-12-22 13:18] Karishma-Tiwari-MSFT commented on #85595
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

Thanks for improving our documentation! Just so you know, it's also possible to make these changes yourself, if you are interested. Doing so will improve our documentation, and it will add you as a contributor to the document.
In case you're interested, these are the steps to do so:
1.	Na

[2021-12-22 13:18] #85595 closed

[2021-12-22 13:25] wUEZRs opened #85613 "Download link not updated"
The docs mention a new version but there is no link to download the new version (89) and it seems the target site has not been updated with the new version

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57f5478b-3132-21d0-a420-a1140db235de
* Version Independent ID: 266bbd16-2117-f680-6493-e183eb09fdbc
* Content: [Azure

[2021-12-22 13:32] Karishma-Tiwari-MSFT commented on #85586
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-12-22 13:38] shashishailaj commented on #85495
@drdamour I believe you are receiving a SAML token format in your application which uses long type names like `http://schemas.microsoft.com/identity/claims/objectidentifier` instead of `oid` . The article mentions ID token which uses the JSOPN web token (JWT) format and the JWT token will always contain short type name `oid`  . Now coming to second part of your query .

If your application is read

[2021-12-22 13:38] #85495 closed

[2021-12-22 13:52] GeethaThatipatri-MSFT commented on #85312
Hi, @peted70 We will proceed to close this issue now.
If there are further questions regarding this, please comment and we will gladly continue the discussion.

[2021-12-22 13:52] #85312 closed

[2021-12-22 14:09] xrousseau opened #85614 "Adjustment to powershell example"
To support localization of languages with accents (é ê ç è à ...) , please add ```-ContentType "application/xml; charset=utf-8"``` to the line (46) containing ```response = Invoke-RestMethod -Uri $graphuri -Method Put -Body $policycontent -Headers $headers```

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29

[2021-12-22 14:36] fgheysels opened #85616 "Rotation of edgeHub Server certificate in IoT Edge 1.2"
In the documentation on IoT Edge Certificates, I read this:

![image](https://user-images.githubusercontent.com/3605786/147107687-343b200d-ef67-4bf2-99ba-6c51cb5da29a.png)

It is not clear to me when and why IoT Edge would rotate the certificate.  I assume this is about the edgeHub TLS "Server" certificate that is generated and signed via the Edge CA certficate as displayed here ?

![image](https:

[2021-12-22 14:36] yAnn1x opened #85617 "Creating a Virtual Network Tap via Rest API says subscription not registered for this feature"
I am referring to the following document: https://docs.microsoft.com/en-us/rest/api/network-gateway/virtual-network-taps/create-or-update

When I try to run this in postman, after authentication, I receive the error Subscription xxx is not registered for feature Microsoft.Network/AllowVirtualNetworkTap required to carry out the requested operation.

However this subscription already has the featur

[2021-12-22 14:37] #83541 closed

[2021-12-22 14:44] cephalin commented on #84159
The effect should be immediate. @mattchenderson can you comment?

@ggailey777 FYI

[2021-12-22 14:46] robertwood62 commented on #85497
Thanks.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: AnuragSharma-MSFT ***@***.***>
Sent: Tuesday, December 21, 2021 10:45:42 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Robert Wood ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] How do you execute SQL queries using parameters in data explorer (Issue #85497)

@robertwood62<

[2021-12-22 15:07] gomateus commented on #85317
Any updates on this?

[2021-12-22 15:08] kof-f commented on #85401
@sinepaul have you tried storing the large file somewhere like a storage account and then using Invoke Web Request or a curl? You should be able to use Invoke Web Request in a Powershell customizer to download the files from the location you have them stored.

Documentation: https://docs.microsoft.com/en-us/azure/virtual-machines/linux/image-builder-json#file-customizer

[2021-12-22 15:12] PaulTzl commented on #84464
I had this exact error - took me a while to figure out, in my case it was because I had missed the step in the exercise to create the actual Event Hub in the Event Hubs namespace.

[2021-12-22 15:31] GeethaThatipatri-MSFT commented on #85581
Hi, @johnayoub We will proceed to close this issue now.
If there are further questions regarding this, please comment and we will gladly continue the discussion.

[2021-12-22 15:31] #85581 closed

[2021-12-22 15:31] kabharati commented on #85588
This is addressed and should be available in public documentation by EOD today. Please let me know if you need any other info.
Closing the PR

[2021-12-22 15:31] kabharati commented on #85588
#Please-close

[2021-12-22 15:32] #85588 closed

[2021-12-22 15:35] ohadschn opened #85620 "pickZones docs mix up zonal and zone-redundant."
From what I can tell, wherever it says one it should be the other. For example:

But according to https://docs.microsoft.com/en-us/azure/availability-zones/az-region, storage accounts are zone-redundant (not zonal).

So either the bicep docs are wrong, or the availability zone docs are wrong. I would guess the former is the case, as to me it makes more sense to call `pickZones` with a zone-redunda

[2021-12-22 15:39] kabharati commented on #78944
@kasunsjc - Vnet integration is available for basic tier as well. I am not sure if I understand the issue correctly. Could you please elaborate.

[2021-12-22 15:42] GeethaThatipatri-MSFT commented on #85607
Hi, @sunilagarwal Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-22 15:43] JamesTran-MSFT commented on #85613
@wUEZRs
Thanks for your feedback! When trying to find the 2.0.89.0 download, I was only able to find the previous version 2.0.88.0
![image](https://user-images.githubusercontent.com/36619112/147118038-c7a03983-afa6-411d-9c79-cbc5327917c2.png)
https://www.microsoft.com/en-us/download/details.aspx?id=47594

I've assigned this issue to the author who will investigate and update as appropriate.
Thank

[2021-12-22 15:45] JamesTran-MSFT commented on #85614
@xrousseau
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-12-22 15:45] kabharati commented on #70203
@tomconte  - I know it's been a while since you raised this request and i just noticed that official documentation is updated and includes the missing parameters you pointed out. I have reached out to our networking expert to look into your other questions

[2021-12-22 15:48] andrePKI opened #85621 "Where can I find this reference?"
Where can I find

as mentioned on this page?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 069802b7-9db6-f5d6-b1aa-52ebc42e96f8
* Version Independent ID: 7b011f8a-0a1c-5066-5d20-3cedcdfc7403
* Content: [Auto-deploy agents for Microsoft Defender for Cloud](https://docs.microsoft.com/en-us/azure/defender-for-cloud/enabl

[2021-12-22 15:49] JamesTran-MSFT commented on #85610
@hemanthmatam
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-22 16:10] PramodValavala-MSFT commented on #85524
@assaf-grth Yes. That is correct. The same limit holds for function apps as well.

[2021-12-22 16:14] JohnDelisle opened #85622 "Looking to contact the author of this document please"
Hello - I'm looking for contact information of the author of this article.  I'm a Ceridian employee and I'd like to discuss this content in a private channel (email).  Can you please contact me? Thank you - John.Delisle@Ceridian.com

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d92f6ea3-ee4a-705d-ed1e-b7013024d1b8
* V

[2021-12-22 16:19] JamesTran-MSFT commented on #85622
@JohnDelisle
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-12-22 16:23] AnuragSharma-MSFT commented on #85497
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-12-22 16:23] #85497 closed

[2021-12-22 16:24] AnuragSharma-MSFT commented on #85556
@lordlinus Awaiting your response on this.

[2021-12-22 16:24] AnuragSharma-MSFT commented on #85501
@jfalameda Awaiting your response on this.

[2021-12-22 16:26] MWPatterson2000 opened #85623 "Download link for updated for 2.0.89.0"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57f5478b-3132-21d0-a420-a1140db235de
* Version Independent ID: 266bbd16-2117-f680-6493-e183eb09fdbc
* Content: [Azure AD Connect: Version release history](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/reference-connect-version-history

[2021-12-22 16:40] yusosov opened #85624 "Azure ML service : print from service results in "no request id" + echo in the log"
[Enter feedback here]

executing

[code]

results in the following 2 lines in the
service.get_logs()
...
This is init
no request id,This is init
...

when I was deploying the services in Jun-Jul 2021 the logs showed just
...
This is init
...

please fix it

please see:
[Deploy machine learning models to Azure > Define a dummy entry script](https://docs.microsoft.com/en-us/azure/machine-learning/ho

[2021-12-22 16:53] JamesTran-MSFT commented on #85623
@MWPatterson2000
Thanks for your feedback! We currently have a related issue open https://github.com/MicrosoftDocs/azure-docs/issues/85613

I'll go ahead and close this one out, and would recommend following #85613 for more info.
Thank you for your time and patience throughout this issue.

[2021-12-22 16:53] #85623 closed

[2021-12-22 16:54] nickselvaggio opened #85626 "Sentinel Content Hub - Private Azure Marketplace"
There appears to be a limitation with subscriptions that utilize the Private Azure Marketplace. Assuming that the appropriate Sentinel solutions are approved, the deployment does not work using the Sentinel Content Hub - the following error is received in the dev tools console:

![2021-12-22_10-35-45](https://user-images.githubusercontent.com/28307087/147127636-721afd75-ed8b-432b-828b-363d94fe1c4b

[2021-12-22 16:57] kabharati commented on #74265
Requested information is updated and will be available by EOD today in our public documentation. Closing the PR.

[2021-12-22 16:57] kabharati commented on #74265
#please-close

[2021-12-22 16:57] #74265 closed

[2021-12-22 17:03] marcusgaspar opened #85627 "Lack of a warning/information about the use of this procedure when a VM has Hybrid Benefits enabled"
[Enter feedback here]
I had a VM with Hybrid benefits enabled. I used this procedure to change the VM to a new availability set and the "new" VM lost this setting.
It would be important to have a warning or information mentioning it, to avoid unexpected costs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7eed234f-9a8

[2021-12-22 17:20] kabharati commented on #78944
No further action required. Hence closing the PR. please feel free to reply if you need any other information.

[2021-12-22 17:20] kabharati commented on #78944
#Please-close

[2021-12-22 17:20] #78944 closed

[2021-12-22 17:33] devan10 opened #85629 "VM not found in the specified location"
For the error "VM not found in the specified location"  the recommended guidance is to choose another location.  I had originally set "Canada Central" as my target location and received the error.   I then changed to "West US" and the VM recommended was a "Standard_F8s", however I have confirmed this size is available in "Canada Central".

Please provide additional guidance on how to troubleshoot

[2021-12-22 17:36] mike-urnun-msft commented on #85317
Hello @gomateus - Sorry for the delay in our responses. System topics can't be created apart from their corresponding data source on different subscriptions or tenants. Not sure what particular use-case that you're looking to implement but please feel free to post a follow-up how-to question on the [Microsoft Q&A channel](https://docs.microsoft.com/en-us/answers/index.html) and I'm certain that th

[2021-12-22 17:36] JackStromberg commented on #58295
Hello @jihu, appreciate you reaching out and apologies for the slow response.  Between the time this docs issue was opened and today, we have decreased the default refresh time to keyvault from 24 hours to every 4 hours.  We have this documented here: https://docs.microsoft.com/azure/application-gateway/key-vault-certs#supported-certificates

Regarding an endpoint to force refresh, we do not have

[2021-12-22 17:36] #58295 closed

[2021-12-22 17:38] gomateus commented on #85317
The thing is, there is no specific statement on any documentation that states "System topics can't be created apart from their corresponding data source on different subscriptions or tenants." and many customers have this query. Can you please update the documentation adding this statement?

[2021-12-22 17:51] v-krishnag commented on #83740
created pr to update instructrions

[2021-12-22 17:53] v-krishnag commented on #83740
#please-close

[2021-12-22 17:53] #83740 closed

[2021-12-22 18:02] YutongTie-MSFT commented on #85624
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-12-22 18:02] SadiqhAhmed-MSFT commented on #85629
@devan10 Regarding VM size availability, there could be two reasons:
1) There could be region availability constraints
2) There could be limitations for regions availability at subscription level

For the first one, you need to choose a different region as a workaround
For the second one, you need to contact Azure subscription management team by raising a support request to enable region availabil

[2021-12-22 18:29] marcelkmfst opened #85631 "add information about CMK support"
Would recommend to explicitly add the Customer managed key encrypted accounts are supported. The point with the "on-request" was at least for my customer confusing. They thought that CMK is not supported.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8eb0dea9-36b5-22ab-c8e3-8177acca705d
* Version Independent ID: a7a92

[2021-12-22 18:33] #84529 closed

[2021-12-22 18:50] sujaykumarbs commented on #32672
@AjayKumar-MSFT can please provide any update on this issue - we need to use the '.cer' file for client authentication

[2021-12-22 18:53] YutongTie-MSFT commented on #85421
@ahyerman I have updated the document, thanks a lot for the feedback again.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2021-12-22 18:53] #85421 closed

[2021-12-22 19:16] strueder opened #85632 "UnexpectedQuit when deploying to Azure as static webapp"
I followed to the tutorial step by step but when i want to use "Deploy as static webapp" i get an UnexpectedQuit error with no further information in VSCode. What can i do and were can i find more information why it crashed? The local version with webpack worked fine but the error accures when i start to deploy. The azure storge get created. But i dont have more information.

---
#### Document Det

[2021-12-22 19:23] JamesTran-MSFT commented on #85612
@trferreira-BR
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-22 19:24] JamesTran-MSFT commented on #85617
@yAnn1x
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-22 20:05] kabharati commented on #85607
Thanks for pointing this out. I have asked our german locale expert to fix this. Will close this PR once it is updated.

[2021-12-22 20:05] josuvil opened #85633 "Authorize button does not work on aad.azure.portal.com"
Hello,

It may be best to suggest against using the AAD portal for this tutorial. For example, when attempting the steps on https://aad.azure.portal.com, the Slack Authorize pop-up button does not work. It only works on the normal [Azure Portal](https://portal.azure.com). Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2021-12-22 21:08] straville commented on #84362
+1.
Such time waste with either clear documentation to which Portal doesn't adhere to
or ambiguous bullshit like `AKS requires nodes use VM sizes with > 2 CPUs.`

Thanks a bunch @danleonard-nj for workaround.

[2021-12-22 21:12] mike-urnun-msft commented on #85317
@gomateus Sure, we'll now proceed to assign this issue to the content author of this documentation to review further and take the next course of action.

cc: @spelluru

[2021-12-22 21:32] MGodfrey50 opened #85634 "Update documentation"
Please update the screen shots to show the switch from Detect to Prevent - now it's on Overview page, no longer on the Policy Settings.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56fba770-a051-0507-f7dd-1eccb3137541
* Version Independent ID: 044c50b3-d16e-fe32-4661-1f5a1b881940
* Content: [Tutorial: Create WAF poli

[2021-12-22 21:35] JamesTran-MSFT commented on #85616
@fgheysels
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-22 21:36] JamesTran-MSFT commented on #85620
@ohadschn
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-22 21:38] os-slalom opened #85635 "SSL My SQL Connection Examples"
I am trying to set up a connection to MySQL database from ADF with a provided SSL client certificate. There are no examples on the internet of how to do it and the current documentation provides only "specify the full path" statement, which is not enough. Here are a few questions:

1. Is it possible to reference a certificate stored in the Key Vault?
2. If not - where should I store the certificat

[2021-12-22 21:39] raghulmsft opened #85636 "REST API Example"
It'll be nice to know how to enable the same thing using the AKS REST API as well. Right now, only CLI is listed.

And it's hard to locate the REST call in the document as well.

https://docs.microsoft.com/en-us/rest/api/aks/managed-clusters/create-or-update

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 409a3be9-4831-

[2021-12-22 21:41] os-slalom commented on #85635
If ADF doesn't support MySQL connection with SSL - please update the documentation appropriately.

[2021-12-22 21:41] JamesTran-MSFT commented on #85633
@josuvil
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-12-22 21:44] JamesTran-MSFT commented on #85621
@andrePKI
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-22 22:05] oising opened #85637 "Control of individual storage accounts doesn't seem to be possible"
You state "To enable or disable Defender for Storage for **individual** storage accounts under a specific subscription:" and then proceed to show steps to disable/enable for ALL storage accounts under a subscription, _en masse_.

Please show how to disable defender for an INDIVIDUAL STORAGE ACCOUNT under a specific subscription, as hinted.

---
#### Document Details

⚠ *Do not edit this section. I

[2021-12-22 22:16] kgremban commented on #85616
@fgheysels The tip box that you included is referring to the certificates that you place on the device. That would be the root CA certificate, and the edge CA certificate and key. Most people create and manage these certificates and keys themselves, but some people configure the cert service (aziotcs) to rotate the edge CA certificate in the future. In that case, the aziotcs group (which should be

[2021-12-22 22:23] afogarty85 opened #85638 "Virtual Network/Private End Point: How to for internal employees?"
How can Microsoft employees access AzureML from a Private Endpoint and virtual network?

The consequence of this guide: https://docs.microsoft.com/en-us/azure/machine-learning/tutorial-create-secure-workspace

Is that you get a Data Science VM that cannot get Microsoft corporate policies pushed down onto it (since the image is missing things policy wants to manipulate) so therefore it cannot domai

[2021-12-22 22:29] JamesTran-MSFT commented on #85626
@nickselvaggio
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-12-22 22:33] JamesTran-MSFT commented on #85627
@marcusgaspar
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-22 22:40] hkusulja opened #85639 "Update NPS docs for Windows Server 2019"
Please update this documentation page.
Current Windows Server 2016 is older and different NPS configuration.
Windows Server 2019 has newer / different NPS and RRAS integrations settings.
Also please show (via screenshots) whole NPS settings for Windows Server 2019.

Thank you
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2021-12-22 22:46] #85616 closed

[2021-12-22 22:49] JamesTran-MSFT commented on #85621
@andrePKI
You should be able to find this on the Azure Portal within Microsoft Defender for Cloud under Recommendations.

![image](https://user-images.githubusercontent.com/36619112/147163454-7501e88a-cd4d-4cf4-9b83-9705048cace5.png)
`Note: The recommendation doesn't show within my screenshot because there aren't any resources needing the monitoring agent health issue to be resolved.` For [more in

[2021-12-22 22:49] #85621 closed

[2021-12-22 22:50] JamesTran-MSFT commented on #85617
@yAnn1x
Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our [Q&A forum](https://docs.microsoft.com/en-us/answers/products/) by p

[2021-12-22 22:50] #85617 closed

[2021-12-22 22:50] kgremban commented on #84643
@RFAG-daniel-ott Thank you to bringing this to our attention. The steps that you found that worked for you are what we used to have in our installation doc, and we recently updated them to point to a convenience package instead of the microsoft-prod.list file. However, we didn't realize that it would cause errors on raspbian buster. I've reverted the article to reflect the previous steps while the

[2021-12-22 22:51] JamesTran-MSFT commented on #85639
@hkusulja
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-12-22 22:59] #84643 closed

[2021-12-22 23:11] GeethaThatipatri-MSFT commented on #85607
Thanks @kabharati for looking in to this

[2021-12-22 23:20] AartBluestoke opened #85641 "Get-AzAutomationCredential is not supported, this documentation should be updated."
the link from "New-AzureAutomationCredential" near the top of the page points to
according to https://docs.microsoft.com/en-us/powershell/module/servicemanagement/azure.service/new-azureautomationcredential?view=azuresmps-4.0.0

"This PowerShell command for Azure Automation is longer supported as of 01/23/2020. The Azure Service Management model is deprecated for Azure Automation and was disabled

[2021-12-22 23:21] JackStromberg commented on #31833
Thank you for the feedback @aydeisen!  I've clarified the statement; the change should be live in about 24 hours.

Thank you,
Jack
#please-close

[2021-12-22 23:21] #31833 closed

[2021-12-22 23:23] onionhammer opened #85642 "Why doesnt this page use bicep to deploy all the resources?"
The article deploys only the apps using bicep, and then everything else with CLI commands, which seems silly - why not just deploy all the ARM resources with bicep instead of using the CLI to create things manually?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d31dffd-2408-63bf-6c64-3b177a6302f1
* Version Independen

[2021-12-22 23:39] JamesTran-MSFT commented on #85631
@marcelkmfst
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-22 23:39] JamesTran-MSFT commented on #85637
@oising
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-22 23:41] #85351 closed

[2021-12-22 23:46] mjmatthiesen opened #85643 "Include cURL Example"
The language specific examples are great, but something more neutral like cURL would be greatly appreciated.

Thanks.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39fa12ff-87c9-ecc0-929b-055b1b7e1a86
* Version Independent ID: 1351b31b-04b6-2e8b-8f03-adb7aa74f6ad
* Content: [Quickstart: Get started with Translator - A

[2021-12-22 23:56] strueder opened #85645 "cant deploy to static web app"
I wanted to combine this with the https://docs.microsoft.com/en-us/azure/communication-services/tutorials/building-app-start create a static web app but if i want to run it with npm run build:dev i does not work. What do i need to change to make this compatible? Static Web App did work but when i replaced the index.html with the new one and add the client.js it does not work anymore. Do i need to

[2021-12-22 23:56] #85632 closed

[2021-12-22 23:56] strueder commented on #85632
Reinstalled VS Code and the bug was fixed.

[2021-12-23 00:20] JackStromberg commented on #54894
Hello @dougsilva1, route tables can be applied to the Application Gateway subnet via Portal, CLI, PowerShell, ARM template, etc, but you must ensure that a route to the internet is available.  Docs have been updated quite a bit since this was opened, so I'm going to close this out.  Please reach out if you have any other questions though.

Reference: https://docs.microsoft.com/azure/application-ga

[2021-12-23 00:20] #54894 closed

[2021-12-23 00:23] JackStromberg commented on #55610
Hello @lukecarrier, thanks for reaching out!  Apologies for the slow response, but we have heavily updated the Key Vault + Application Gateway page to include proper configuration for Network Rules and Key Vault permissions.  Specific to key vault permissions, this includes proper permissions for both policy access model or RBAC.

If there are any other items missing, please open another issue, ha

[2021-12-23 00:23] #55610 closed

[2021-12-23 00:48] JackStromberg commented on #33157
Hello Team,

Trying to consolidate down this thread, as it's a bit lengthy.  We've updated the Key Vault documentation quite a bit to reflect network permissions and key vault permissions, so I hope those changes address the items covered in this thread.

To clarify a few statements made on this thread:
1. Deployment of AppGW + Key Vault is supported via Portal, PowerShell, CLI, ARM, Bicep, and Te

[2021-12-23 00:48] #33157 closed

[2021-12-23 00:54] JackStromberg commented on #48866
Hello @gaikovoi,

Thank you for reaching out!

"All networks" access should not be required for key vault.  I responded back to issue #33157 and included some additional details in this comment: https://github.com/MicrosoftDocs/azure-docs/issues/33157#issuecomment-999965021

If you are still having issues, please reach out to us via support case so we can get you up and running.

Thank you!
Jack
#

[2021-12-23 00:54] #48866 closed

[2021-12-23 00:56] mike-urnun-msft commented on #84074
Hi @metaxiom - Since we haven't heard back, we will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-12-23 00:56] #84074 closed

[2021-12-23 00:59] mike-urnun-msft commented on #85524
Hi, @assaf-grth - I hope the confirmation above answers your question. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-12-23 00:59] #85524 closed

[2021-12-23 01:01] smoop-msft opened #85646 "Add Info about Gen2"
This Public Doc talks about steps to create an image from disk.
Can we add some details about creating image from a VHD that was created from gen2 VM.
The info is available at https://docs.microsoft.com/en-us/azure/virtual-machines/generation-2#frequently-asked-questions
This would help distinguish between steps needed for creating an image using VHD that was from gen2 VM and a gen1 VM disk that w

[2021-12-23 01:04] BryanTrach-MSFT commented on #85632
@strueder We are happy to hear you were able to resolve the issue. Please contact us in the future if you have any further issues.

[2021-12-23 01:05] smoop-msft opened #85647 "New-AzDisk Error: Required parameter 'storageAccountId' is missing"
Used PS commands mentioned at and ran into error mentioned at https://github.com/Azure/azure-powershell/issues/12719#:~:text=Description%20New-Azdisk%20command%20fails%20requiring%20a%20storageaccountId%20parameter,fails%20New-AzDisk%3A%20Required%20parameter%20%27storageAccountId%27%20is%20missing%20%28null%29.

Had to make sure to pass the storage account ID in order to get the New-AzDisk comman

[2021-12-23 01:20] mike-urnun-msft commented on #85375
Hello @amihailes - The note refers to the existing `<forward-request ...>` policy that is already in place inside the backend scope of every new APIM instance that you spin up:
![image](https://user-images.githubusercontent.com/36717703/147172925-e06af465-f9c9-4e7b-ae45-ac5b2b28d092.png)

As for the second question regarding the timeout=0 attribute, the doc [states](https://docs.microsoft.com/en-u

[2021-12-23 01:20] #85375 closed

[2021-12-23 02:01] JamesTran-MSFT commented on #85634
@MGodfrey50
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-23 02:02] JamesTran-MSFT commented on #85635
@os-slalom
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-23 02:03] JamesTran-MSFT commented on #85636
@raghulmsft
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-23 02:04] JamesTran-MSFT commented on #85638
@afogarty85
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-23 02:06] JamesTran-MSFT commented on #85641
@AartBluestoke
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-23 02:16] JamesTran-MSFT commented on #85642
@onionhammer
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-12-23 02:17] JamesTran-MSFT commented on #85643
@mjmatthiesen
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-23 02:18] JamesTran-MSFT commented on #85645
@strueder
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-23 02:18] JamesTran-MSFT commented on #85646
@smoop-msft
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-23 02:19] JamesTran-MSFT commented on #85647
@smoop-msft
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-23 02:59] shruthibhaskar opened #85648 "Service principal in base64 command is not same anymore. Document needs to be updated."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d3925c0f-2f3a-a53e-d558-c00cca37e961
* Version Independent ID: 1a49146e-07a4-bb12-0a5b-0d07590fbcad
* Content: [Create an ingress controller with an existing Application Gateway](https://docs.microsoft.com/en-us/azure/application-gateway/ingress-contr

[2021-12-23 03:01] ShaikMaheer-MSFT commented on #85492
@mamccrea I tried repro customers ask. Facing similar issue. It seems doc needs to be corrected to update with working example. Could you please validate below screenshot and customer feedback and update document as appropriate.
![image](https://user-images.githubusercontent.com/84302758/147181563-753c91a7-8205-4e21-8bdb-72d564272b02.png)

[2021-12-23 03:05] zackliu commented on #85598
@bnvsp Python is missing `SignalRNegotiateHTTPTrigger` template. Negotiation function is actually using `HttpTrigger`, so use `func new -n negotiate -t HttpTrigger` and others are the same. I'm updating the document.

[2021-12-23 03:06] MonikaReddy-MSFT commented on #85565
@wkoeter - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-12-23 03:06] #85565 closed

[2021-12-23 03:08] MonikaReddy-MSFT commented on #85533
@saswatmohanty01 - Thanks for getting back to us with more info. I have reached out to product team regarding this and I will reach out back to you once I hear from them.

[2021-12-23 03:10] MonikaReddy-MSFT commented on #85471
@tiwalter - I have reached out to product team and I will get back to you as soon as I hear back from them.

[2021-12-23 03:11] MonikaReddy-MSFT commented on #84923
@deagraw  - Thank you for providing your insights.
@wealthz01  - I hope @has answered your question. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-12-23 03:11] #84923 closed

[2021-12-23 03:13] moderor opened #85649 "Totally incorrect"
This entire page doesn't work, the create credential command isn't available in Azure SQL nor is the restore database command and there is no gui support for restore as shown in the screenshots.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 759e5bd8-e4f0-24aa-ab48-c2820fccd39a
* Version Independent ID: b42082b1-8c3e-8

[2021-12-23 03:20] euchungmsft opened #85650 "Portal doesn't inform the error details - Azure Spring Cloud"
Hi team,

I'm not sure if it's right to post this here, please let me know where to post this issue if it's not

It never gives what's wrong with my initial settings of Azure Spring Cloud instance
See the shot below, no further details on the screen
![image](https://user-images.githubusercontent.com/20915976/147183401-6f8ee17c-f1fd-49a1-adef-0670419caa62.png)

Initial setting looks like this, with

[2021-12-23 03:21] pnarsi opened #85651 "SHIR Network Requirements in the Context of Synapse"
The top of the page says that this SHIR VM setup applies for both Data Factory and Synapse Analytics. However the Firewall and Ports section only mentions Data Factory. What FQDN do we need to whitelist if we want to use a SHIR VM to talk back to Synapse. Is it **{synapseworkspace}.dev.azuresynapse.net** ?

![image](https://user-images.githubusercontent.com/7891408/147182902-9bffde13-c5e8-49d9-bc3

[2021-12-23 03:58] AnuragSharma-MSFT commented on #85649
@moderor Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-12-23 04:14] SubhashVasarapu-MSFT commented on #85371
@Cecilyanyy, Appreciate your feedback. We have assigned this issue to the respective content owner to update the document accordingly.

[2021-12-23 04:51] dracosachin opened #85652 "Always On Feature Query"
"_If you run on an App Service plan, you should enable the Always on setting so that your function app runs correctly. On an App Service plan, the functions runtime goes idle after a few minutes of inactivity, so only HTTP triggers will "wake up" your functions._" - Does this mean even if we have enabled the Always On setting the functions will go into an idle state ? I am planning to use a queue

[2021-12-23 04:55] AnnuKumari-MSFT commented on #85651
@pnarsi  Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-23 05:05] PramodValavala-MSFT commented on #85433
@XavierGuerette We've created an internal PR to get this resolved which once merged should reflect in a couple of hours. Thanks again for the feedback!

[2021-12-23 05:05] #85433 closed

[2021-12-23 05:05] moderor commented on #85649
This may work for bacpac files but it's not clear at all and I don't think the gui shows the restore db option even for a bacpac file. It also doesn't change the fact that the commands aren't supported...

[2021-12-23 05:23] drdamour commented on #85495
@shashishailaj its not a saml token, this is an openid connect identity token 100%.  My app is secured with easy auth and that doesnt work with saml.  And if i change my id token in app reg to add optional claims those show up in my token. If i change saml claims they do not show up.  So you are incorrect about it being saml

please reopen

[2021-12-23 05:36] RohitMungi-MSFT commented on #85643
@mjmatthiesen The curl samples are listed [here](https://docs.microsoft.com/en-ca/azure/cognitive-services/translator/reference/v3-0-reference).

[2021-12-23 05:42] ajburnle commented on #81056
Hey @rtccoupe thanks for your feedback. We will be refactoring the content in the Fundamentals doc set and will be updating this article as part of the refactor. Thanks again, and I'll be closing this issue. Let us know if you have any other questions. #please-close

[2021-12-23 05:42] #81056 closed

[2021-12-23 05:54] yuriwoof commented on #84769
hi @SrijitBose-MSFT sorry for my late reply.
No, according to doc, 75-persistent-net-generator.rules  expect be under /etc/udev/rules.d/
But they told that it was under /lib/udev/rules.d/.

[2021-12-23 05:55] ajburnle commented on #83586
Hey @captaingig, you must use the filters to see this activity. Click on azure active directory, and then in the left nav, click "Audit logs". There you must first change the category filter to "UserManagement" and then change the activity filter to "Request approved". You will then get a list of all approved requests. If you keep the activity filter set to "all" it will be a list of everything an

[2021-12-23 05:55] #83586 closed

[2021-12-23 06:02] GitaraniSharma-MSFT commented on #85648
@shruthibhaskar , thank you for your feedback. We have assigned this issue to the respective product owner for review.

@mscatyao , Could you please provide your insights here?

[2021-12-23 06:06] GitaraniSharma-MSFT commented on #85502
@abatishchev , thank you for your feedback. We have assigned this to the content owner/author for review.

@KumudD , for your review.

[2021-12-23 06:15] kemurayama commented on #64660
Hi @madsd,

I really appreciate kind support.

I tried this tutorial in my Azure environment. I expected that System Assigned Managed Identity would allow me to pull the container image without the Azure Container Registry (ACR) admin user credential.

However, it looks that `az webapp config container set` needs admin user on ACR as long as I tried. Is it expected behavior ? I failed to pull imag

[2021-12-23 06:20] madsd commented on #64660
Hi @kemurayama,

You are right, this is missing from the CLI currently, and you need to use a few extra commands to enable it.

But it should be added. Would you mind creating an Issue in the Azure CLI github repo https://github.com/Azure/azure-cli - then I will make sure it will get attention.

Thanks.

[2021-12-23 06:24] ajburnle commented on #84520
Hi @bobsyourmom thanks for your feedback. The image has been updated in the following pull request: https://github.com/MicrosoftDocs/azure-docs-pr/pull/183555. The updated image should be published soon. Closing this GitHub issue. Thanks again for your feedback. #please-close

[2021-12-23 06:24] #84520 closed

[2021-12-23 06:38] batamig commented on #85626
Hi @nickselvaggio - thanks for writing into docs about the Private Azure Marketplace!

I'm going to check back with the team on this one before we make any updates to the docs. And since we're now tracking this issue internally, I'm going to close it here.

Please feel free to add more comments if you have additional feedback.
We appreciate your contributions to Microsoft docs!

#please-close

[2021-12-23 06:38] #85626 closed

[2021-12-23 06:39] GitaraniSharma-MSFT commented on #85634
@MGodfrey50 , We have assigned this to the content owner/author for updating the doc accordingly.

@vhorne , could you please update the screenshot for [Change Mode](https://docs.microsoft.com/en-us/azure/web-application-firewall/afds/waf-front-door-create-portal#change-mode) to the latest UI as below:

<img width="545" alt="image" src="https://user-images.githubusercontent.com/67630903/147199213-

[2021-12-23 06:51] ajburnle commented on #79573
@KarenTazayan thanks for your feedback. I have updated the screenshots and steps to this document in the following pull request: https://github.com/MicrosoftDocs/azure-docs-pr/pull/183557. These updates should be published soon. I am closing this GitHub issue, thanks again for your feedback. #please-close

[2021-12-23 06:51] #79573 closed

[2021-12-23 06:54] ajburnle commented on #84723
@alisson276 Thank you for your feedback. Unfortunately, I do not work on the documents for the China portal. That portal may also have different configurations for default permissions, however I am not familiar with that portal. Sorry I couldn't be of more assistance. I will be closing this GitHub issue. Thanks! #please-close

[2021-12-23 06:55] #84723 closed

[2021-12-23 06:57] ajburnle commented on #79024
Hey @olprod thanks for your feedback. Unfortunately, I do not update docs for mooncake. Thanks again for your feedback and I'll be closing this GitHub issue. #please-close

[2021-12-23 06:57] #79024 closed

[2021-12-23 07:06] ajburnle commented on #81533
Hey @ronsonntag54 thanks for your feedback. The stale video was removed in the following pull request: https://github.com/MicrosoftDocs/azure-docs-pr/pull/183559. We with be refactoring all the documents in the fundamentals document set, so there will be additional changes made to this article. Thanks again, and I am closing this GitHub issue. #please-close

[2021-12-23 07:06] #81533 closed

[2021-12-23 07:06] andrePKI commented on #85621
Maybe it is a good idea then to put some kind of remark where to find this in the document? I didn't have a clue where to look and I searched for it on docs.microsoft.com. Maybe just add "(in the Defender for Cloud Recommendations blade)"?

[2021-12-23 07:09] ajburnle commented on #83089
@DeanGross thanks for your feedback. The entries about the new apps always include links to either the app or documentation about using the app. All other entries link to documents on how to use the new or changed features. Thanks again for your feedback! #please-close

[2021-12-23 07:09] #83089 closed

[2021-12-23 07:13] SergeyKomarovIntrum opened #85656 "MySQL replication filtering cannot be changed for Azure MySQL Flexible server"
Hello!
Regarding filtering setup using _replicate_wild_ignore_table_ server parameter. This parameter is read-only for Azure MySQL Flexible server and cannot be changed:

`(ConfigurationReadOnly) The configuration(s) 'replicate_wild_ignore_table' is(are) read-only for MySQL server version 5.7.
Code: ConfigurationReadOnly
Message: The configuration(s) 'replicate_wild_ignore_table' is(are) read-only

[2021-12-23 07:13] ajburnle commented on #85311
this is a support issue. #re-assign:@vipulsparsh

[2021-12-23 07:18] ajburnle commented on #85363
@halkazwini I believe that is in reference to the guest users. The global admin, etc. should already have licenses to create access reviews, so in a guest user scenario, they don't need any more licenses. @isabelleatmsft Is this correct?

[2021-12-23 07:18] savjani commented on #85656
Adding @SudheeshGH for this feedback

[2021-12-23 07:19] ajburnle commented on #85363
#reassign:@isabelleatmsft

[2021-12-23 07:22] SudheeshGH commented on #85656
This is already taken care

![image](https://user-images.githubusercontent.com/48085058/147203686-1f7fec77-ef40-4e98-9285-975ce92f153c.png)

https://docs.microsoft.com/en-us/azure/mysql/flexible-server/concepts-data-in-replication#filtering

[2021-12-23 07:23] SudheeshGH commented on #85656
You may please close the PR

[2021-12-23 07:29] SergeyKomarovIntrum commented on #85656
There is according notes on another page so I'll close this issue.
Thank you for quick response

[2021-12-23 07:29] #85656 closed

[2021-12-23 07:34] kemurayama commented on #64660
Hi @madsd

Thanks. Now I confirmed that the App Service with Managed Identity is working successfully but azure cli sets admin user credentials automatically to AppSettings when the admin user on ACR is enabled. Or it shows the error message I posted when the admin user on ACR is disabled. It is really confusing.

I created a new issue on Azure CLI repo.

[2021-12-23 07:35] santo2 opened #85657 "where to find information on what diagnostics are available per resource type?"
Hi, I found this page of examples for diagnostic settings, but I don't seem to find ANY documented examples of what all is possible with servicebus? I can do 'AllMetrics' but that's probably not what I want, since logging to log Analytics isn't cheap I want to see how I can filter per metric.
so:
- what are the possible diagnostic settings for service bus?
- is there another documentation page whi

[2021-12-23 07:36] #64660 closed

[2021-12-23 07:48] jthulstrup opened #85658 "Missing variable assignments in PowerShell script - script not working"
In the "Deploy virtual network gateway" PowerShell script the variables $region and $gatewaySubnet has not previously been defined.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4387410-73b7-a07e-708c-eeac4e81397f
* Version Independent ID: aaaab239-4acf-d9ea-c3a6-9abb0cdbb623
* Content: [Configure a Point-to-Site (P2

[2021-12-23 08:10] db422 opened #85659 "Do we really need a certificate for the IDPS test"
For the IDPS test, why we need an internal webserver and corresponding certificate?

Azure firewall premuime should be able to generate a certificate for any web site and utilite IDPS to check the https connection, right?

I followed the article to create a test environment and tried to command "curl --ssl-no-revoke -A "BlackSun" www.bing.com". It works as expected.

---
#### Document Details

⚠ *

[2021-12-23 08:16] mkoivi-ms opened #85660 "Wrong method call in setting collection variables"
In section :
3. Select the Test tab and enter in the text section: pm.environment.set("bearerToken", pm.response.json().access_token);

This  pm.environment call does not store the variable for the whole collection to be used. You should call this method instead:
pm.collectionVariables.set

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2021-12-23 09:07] GitaraniSharma-MSFT commented on #85659
@db422 , thank you for your query. We'll investigate this and get back to you shortly!

[2021-12-23 09:16] GitaraniSharma-MSFT commented on #85659
@db422 , did you go through the below doc:
https://docs.microsoft.com/en-us/azure/firewall/premium-certificates

It says : Azure Firewall Premium can intercept outbound HTTP/S traffic and auto-generate a server certificate for www.website.com. This certificate is generated using the Intermediate CA certificate that you provide. End-user browser and client applications must trust your organization

[2021-12-23 09:23] MughundhanRaveendran-MSFT commented on #85652
@dracosachin , "Always on" feature is not only applicable to http triggers. It is applicable to all function triggers. So it will work for your scenario which is queue trigger.  Please note that, Always on is like a pinging service that will keep pinging the backend instance/VM that is running the function app so that the VM/instance is warm and would avoid cold start.

Hope this helps. Please let

[2021-12-23 09:23] AnuragSharma-MSFT commented on #85660
@mkoivi-ms Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-12-23 10:32] lordldx opened #85661 "ADB2C Custom Policies: Issue with expected order of child elements in UserJourneyBehaviors"
The documentation explains the expected order of child elements as follows:
- SingleSignOn
- SessionExpiryType
- SessionExpiryInSeconds
- JourneyInsights
- ContentDefinitionParameters
- ScriptExecution
- JourneyFraming

However, when I try to upload a policy file with the following UserJourneyBehaviors element:
[code]
Then I get the following error:
![image](https://user-images.githubusercontent.c

[2021-12-23 10:40] asurace-swissre opened #85663 "Data Source registration"
[Enter feedback here]
From this doc I cannot understand that I need to register my data source in the Log Analytic Workspace.
Please add a reference to this step.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0edef100-c23f-752e-f2a9-4cf50f358e77
* Version Independent ID: 2017b797-fc03-5eb1-17e0-077c5de16a76
* Content:

[2021-12-23 10:49] Marchelune commented on #23652
Hello @TravisCragg-MSFT , the feedback link seems down, is there any progress on that topic ?

In our current use-case, the app gateway needs a different listener for each internal and external traffic. Since traffic will be browser-based, we need the port 443 for both so that users have a seamless experience. I attempted to use 80 as a last resort, even if it's unconventional for https, but app g

[2021-12-23 11:04] halabap commented on #84923
Thanks a lot for support and fixing the issue

[2021-12-23 12:16] MACEL94 opened #85665 "Outdated docs or bug - AVAM Video Upload using SAS Token is broken"
Hello

from today when i try to index something using the described Logic App connectors this is what i get:
{
  "ErrorType": "INVALID_INPUT",
  "Message": "Url content type 'text/plain' is not supported. Only audio and video files are supported. You can find the supported types here: https://docs.microsoft.com/ro-ro/azure/media-services/media-services-media-encoder-standard-formats. Trace id: 'dc

[2021-12-23 12:23] sherlock1982 opened #85666 "What exchange plan to access users contacts & events"
I have a user with `Microsoft Teams Exploratory` license assigned.
When I try to acces it's contacts or events with Graph I get the followin error:

MailboxNotEnabledForRESTAPI
Message: The mailbox is either inactive, soft-deleted, or is hosted on-premise.

On the other hand `Microsoft 365 F1` works fine.

From my understanding I need to have a plan for exchange service for this to work.
`Microsof

[2021-12-23 12:34] jcdsr opened #85667 "poor example of setting https for linux Vm on azure"
[Enter feedback here]

Every example on ms docs should be provided as cloud shell and as using the portal UI.

and sorry for the strong feedback but not everyone is a backend expert proficient with cloud shell.

I found it impossible to set a LInux VM with HTTPS. I super simple to do it on the web app service, but with VM is not.

How to add https on a linux VM ubuntu using the portal? Seems no tu

[2021-12-23 12:46] PriyankaRudramaina commented on #81133
Hi @dougkuchna,

       For your follow up query, the best course of action is to follow the guidance from [https://docs.microsoft.com/en-us/azure/service-fabric/configure-container-repository-credentials#use-tokens-as-registry-credentials](url)

[2021-12-23 12:54] Logan-V opened #85668 "Session log Copy Activity doesn't have file write size property"
[Enter feedback here]
Hi Team,

The Session Log in Copy activity doesn't have file write size property. We could see the Read file size property is available but write size property is missing. Can someone let us know how to get or add the same so that this log session would be useful to validate. I feel that without this property it's really useless because we can't compare the data whether it's

[2021-12-23 13:00] YannickJanssens commented on #7731
A workaround so you don't have to start over from scratch is by clicking the three dots next to an Initiative and select 'Duplicate Definition'. You can then delete the parameter and save it as a new Initiative. Not ideal but it should work.

[2021-12-23 13:17] ssivas commented on #85661
@lordldx , Thank you for your feedback and bringing to our notice. We will investigate and update the thread.

[2021-12-23 13:37] ssivas commented on #85661
#please-close

[2021-12-23 13:37] #85661 closed

[2021-12-23 13:39] PriyankaRudramaina commented on #81475
Routed to support

[2021-12-23 13:39] #81475 closed

[2021-12-23 14:04] KrishnaG-MSFT commented on #85663
@asurace-swissre Thanks for your comment! We will review and provide an update as appropriate.

[2021-12-23 14:10] Erdemg opened #85670 "URL access definition minor issue"
Hi All,

There is a URL in the access section for the azure portal like    _*.portal.azure.com_  but, this is not recognized by some firewalls as portal.azure.com so we need to add _portal.azure.com_ also. A few customer of mine had this issue and I want to mention it here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2021-12-23 14:41] andrePKI opened #85671 "on-premises machines versus servers-azure arc"
When do servers appear as `On-premises machines` (host DNS name+VMUUID) and when as `Servers - Azure Arc` (just hostname)?
Could this information be added, please?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 351581a9-c1fb-1083-f396-254095339bf9
* Version Independent ID: 1884292e-3840-0df8-9b67-c0cbe6e512c1
* Content

[2021-12-23 14:52] JamesTran-MSFT commented on #85650
@euchungmsft
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-23 15:26] abatishchev commented on #85502
Please disregard, see my comment above.

[2021-12-23 15:31] #81133 closed

[2021-12-23 15:34] vishnu4 opened #85672 "Error: failed pre-install: timed out waiting for the condition"
Getting an issue on helm install in the documentation.  The code that i'm using is:

[code]

and then

[code]

The second part is a little difficult though, because in your CLI instructions you have the digests equalling "", but in the powershell, you specify them above.  Regardless, including them or excluding them has no effect.

I tried changing the helm version like https://github.com/Microsof

[2021-12-23 15:39] JamesTran-MSFT commented on #85621
@andrePKI
Thank you for the feedback! I've created a PR to update the documentation with the link, and location of where to find the recommendation. It's currently waiting for the author to review and sign off.

Please allow some time for the author to review and the changes to reflect.
Thank you again!

[2021-12-23 15:42] alangoldman opened #85673 "RSS feed not updating?"
[Enter feedback here]
The AAD breaking changes page references a url to use for RSS feeds: https://docs.microsoft.com/api/search/rss?search=%22whats%20new%20for%20authentication%22&locale=en-us

However my RSS reader did not update during the 11/24/21 update 405c6ba6.

Loading the feed in the browser I notice it doesn't have any <item> tags in it. Is the feed broken?

---
#### Document Details

⚠

[2021-12-23 15:44] JamesTran-MSFT commented on #85666
@sherlock1982
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-23 15:45] JamesTran-MSFT commented on #85657
@santo2
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-23 15:46] JamesTran-MSFT commented on #85658
@jthulstrup
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-23 15:46] alangoldman commented on #85673
Looks like searching for https://docs.microsoft.com/api/search/rss?search=%22Azure+Active+Directory+breaking+changes+reference%22&locale=en-us works, I will open a PR

[2021-12-23 15:51] JamesTran-MSFT commented on #85665
@MACEL94
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-12-23 15:53] JamesTran-MSFT commented on #85673
@alangoldman
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-23 15:54] JamesTran-MSFT commented on #85667
@jcdsr
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-23 15:56] JamesTran-MSFT commented on #85668
@Logan-V
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-23 15:57] JamesTran-MSFT commented on #85670
@Erdemg
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-23 16:33] Joh-nnyC opened #85675 "More details of how passwords work under security implementation"
Under Security implementations I would like more details about the actual password generation. I notice when file recovery for the same machine are generated within a short time frame it will generate the same password even if it's a different recovery point. Are the passwords static per machine or do they rotate after some period (i.e: 24 hours).

---
#### Document Details

⚠ *Do not edit this se

[2021-12-23 16:34] memildin commented on #84639
@bigkangji thanks for pointing these out.
There's an ongoing process to update the screenshots in the docs in line with the new branding. Since these screens are functionally identical to the newer UI, they were lower priority. Nevertheless, new screenshots for this page will be live within 24hrs.
#please-close

[2021-12-23 16:34] #84639 closed

[2021-12-23 16:37] memildin commented on #85275
Hi @ShaXam-King, thanks for the feedback and for taking the time to help us improve the docs. I've added the missing word. Change will go live within 24hrs.

#please-close

[2021-12-23 16:37] #85275 closed

[2021-12-23 16:46] memildin commented on #85158
Hi @bczudek, thanks for the feedback and for taking the time to help us improve the docs.

I'm discussing this with the various product managers that own this feature and will update the page with the relevant info as soon as I have it.

I'm going to close this issue, but feel free to comment again here or open a new one if you have additional requests.

#please-close

[2021-12-23 16:46] #85158 closed

[2021-12-23 16:48] memildin commented on #84943
Hi @andrePKI, thanks for the feedback and for taking the time to help us improve the docs.

This documentation page is currently undergoing a major refresh. An updated version will be published early next year.

I'm going to close this issue, but feel free to comment again here or open a new one if you have additional requests.

#please-close

[2021-12-23 16:48] #84943 closed

[2021-12-23 16:49] memildin commented on #84944
Hi @andrePKI, at the top of the page there is an availability section. There, you'll see the note about the need to be Owner.

Thanks for the feedback and for taking the time to help us improve the docs.

I'm going to close this issue, but feel free to comment again here or open a new one if you have additional requests.

#please-close

[2021-12-23 16:49] #84944 closed

[2021-12-23 17:10] adhunna opened #85676 "Hours of delay to propagate MS Graph permissions to Managed Identity"
We have create 4 function apps with Managed Identity enabled. When provided Graph API Users.Read.All permissions, Two of them were assigned and working immediately but the other two did not work over 24 hours period and started to work next day without any changes. Error received during 24 hours window "Insufficient privileges to complete the operation". We believe that sometime some synchronizati

[2021-12-23 17:17] memildin commented on #84638
Hi @bigkangji, thanks for the feedback and for taking the time to help us improve the docs.

The pictures and procedure have been updated. Changes will go live within the next 24hrs.

I'm going to close this issue, but feel free to comment again here or open a new one if you have additional requests.

#please-close

[2021-12-23 17:17] #84638 closed

[2021-12-23 17:20] memildin commented on #84484
Hi @DeanGross , thanks for the feedback and for taking the time to help us improve the docs.

The instructions for enabling any "Microsoft Defender for x" plan in Microsoft Defender for Cloud are the same and are presented [here](https://docs.microsoft.com/azure/defender-for-cloud/enable-enhanced-security#to-enable-enhanced-security-features-on-your-subscriptions-and-workspaces).

Also, for other

[2021-12-23 17:20] #84484 closed

[2021-12-23 17:25] memildin commented on #85247
Hi @thommck, thanks for the feedback and for taking the time to help us improve the docs.

The benefits of each option are explained at the top of [this page](https://docs.microsoft.com/en-us/azure/defender-for-cloud/deploy-vulnerability-assessment-vm). We leave it up to our users to decide the best approach for their organizations or systems.

I'm going to close this issue, but feel free to comme

[2021-12-23 17:25] #85247 closed

[2021-12-23 17:32] thommck commented on #85247
That's the problem. The description at the top of the page doesn't explain
the difference at all.
A like for like comparison, or similar, is what organisations would need to
enable them to make a decision

Thanks,
Thom

Sent from 07988 228438

On Thu, 23 Dec 2021, 17:25 PRMerger12, ***@***.***> wrote:

[2021-12-23 17:41] shekhar-jha opened #85677 "Access to documentation from main Azure AD page"
Would it be possible to add reference to the Azure AD App proxy to https://docs.microsoft.com/en-us/azure/active-directory/ page so that on-premise applications can be identified specifically as an important part of the solution set. I would suggest adding the link as part of "on-premise application" within the application management sub-group.

---
#### Document Details

⚠ *Do not edit this secti

[2021-12-23 17:43] ywhe opened #85678 "Cannot delete all app registrations"
when trying to delete the all app registrations, there is a system app blocking it as shown here:
![image](https://user-images.githubusercontent.com/7788345/147275148-c3179d55-99e7-47e5-8a94-4f4e8151bf76.png)

any recommendation?
thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea77d5a9-6619-0f31-9567-6085b7a4b5a2

[2021-12-23 17:45] shekhar-jha opened #85679 "Access to Azure RBAC roles from main page"
Please provide access to Azure RBAC role from the main documentation page https://docs.microsoft.com/en-us/azure/active-directory/ so that it is identified clearly as being part of overall azure documentation set.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e21d4b9-f574-e01d-8676-fb23d6a4ab67
* Version Independent

[2021-12-23 17:48] shekhar-jha opened #85680 "Global admin assignment can be performed by other roles"
The guidance here may need to be corrected to reflect that Privileged Role Administrators can also assign GA role.

![image](https://user-images.githubusercontent.com/1870713/147275566-4949725f-0326-4ebb-ae7c-d6e3e6afacee.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 278fd397-b3b7-5192-47ff-b5c9edfa44b4
* Version

[2021-12-23 18:03] shekhar-jha opened #85681 "Fix link for Cloud HR"
Please fix the link for Cloud HR system to something more appropriate like [What is HR driven provisioning](https://docs.microsoft.com/en-us/azure/active-directory/app-provisioning/what-is-hr-driven-provisioning)

![image](https://user-images.githubusercontent.com/1870713/147276291-4b90dc0b-f504-47ee-afb9-e24eaf884b17.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2021-12-23 18:14] JamesTran-MSFT commented on #85677
@shekhar-jha
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-12-23 18:16] JamesTran-MSFT commented on #85678
@ywhe
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-23 18:16] JamesTran-MSFT commented on #85679
@shekhar-jha
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-12-23 18:17] JamesTran-MSFT commented on #85680
@shekhar-jha
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-23 18:19] JamesTran-MSFT commented on #85681
@shekhar-jha
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-12-23 18:20] JamesTran-MSFT commented on #85671
@andrePKI
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-12-23 18:22] JamesTran-MSFT commented on #85672
@vishnu4
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-23 18:22] JamesTran-MSFT commented on #85675
@Joh-nnyC
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-23 18:24] JamesTran-MSFT commented on #85676
@adhunna
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-23 18:36] AnnuKumari-MSFT commented on #85651
@lrtoyou1223 Requesting to validate customer feedback and update the document accordingly as appropriate. Thankyou

[2021-12-23 18:41] syewchuk opened #85682 "I can't add billing profiles"
My billing account shows that it is a Microsoft Customer Agreement. However, I cannot add new Billing Profiles. (Yes, the permissions are fine, I am the billing account owner).

Are there certain types of accounts that are prevented from adding new Billing Profiles? If so your documentation is misleading and I would ask that you update it to be more complete.

I have spent a lot of time pouring ov

[2021-12-23 19:25] bprime opened #85683 "Missing host caching limitation on Standard SSD"
In the Standard SSD limitations section there is no host caching limitation listed for Standard SSDs like there is for Premium.

The Azure portal will actually default the host caching drop down to ReadOnly for Standard SSDs and not allow it to be changed, which is probably another issue but I don't know where to report it. Deployment of the VM will fail with the response

[code]

---
#### Documen

[2021-12-23 19:55] rufioIK708 opened #85685 "Supported browsers and OS section"
In the supported browsers section ( https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/concept-conditional-access-conditions#supported-browsers) for Windows 10, Internet Explorer is listed.  But according to this ( https://docs.microsoft.com/en-us/lifecycle/announcements/internet-explorer-11-support-end-dates ) all dates have passed for IE 11 support.  I think this document

[2021-12-23 20:26] martincoetzer commented on #85681
Link updated. Thank you! #please-close

[2021-12-23 20:27] #85681 closed

[2021-12-23 20:41] strueder opened #85688 "403 Error on website"
If followed the tutorial step by step and it worked but i get this console log every few seconds. `POST https://ic3.events.data.microsoft.com/OneCollector/1.0/?cors=true&content-type=application/x-json-stream&client-id=NO_AUTH&client-version=1DS-Web-JS-3.1.2&upload-time=1640291968369&w=0 403 (No events are from an allowed domain.) ` Can i fix this somehow or is this a azure sided error?

---
####

[2021-12-23 21:16] shekhar-jha opened #85689 "Additional note for external user scenario"
Would it be appropriate to add note with reference to license option for external user as defined [here](https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/multi-tenant-common-considerations#licensing-considerations-for-guest-users-in-teams) for additional context.

![image](https://user-images.githubusercontent.com/1870713/147291391-74661970-0ccc-46fa-bba7-22df3e24824d.png)

---

[2021-12-23 21:31] koder101 opened #85690 "Inline scripts in deployment-script-template makes the entire json as invalid"
When using the deployment-script-template, the way [inline script](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/deployment-script-template#use-inline-scripts) is used, it makes the entire json as invalid, and its not deployable from the PowerShell.

I also have a specific use case where I am preparing the ARM template for the Azure marketplace, and no way I can use the i

[2021-12-23 21:39] koder101 commented on #85182
@mathapli  Thanks for taking it forward. If I close it, where can I track its progress?

[2021-12-23 21:46] koder101 commented on #85174
@SadiqhAhmed-MSFT  Sorry for the late reply, Yes, I was able to connect from the desktop certification tool. The issue gets reproduced only from Self Test API.

[2021-12-23 21:59] communauto-asato commented on #84430
@rmascaro thanks for sharing your workaround and sorry for my late reply.

Manually installing via RMP seems to fix the problem.

My extension status was in "Transitioning" for quite some time after running the steps manually, but once I unistalled the extention and re-installed via the portal it came as "Provisioning succeeded".

I still need to validate the connection adding RBAC roles to the VM

[2021-12-23 23:44] JamesTran-MSFT commented on #85685
@rufioIK708
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-12-23 23:45] JamesTran-MSFT commented on #85689
@shekhar-jha
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-12-23 23:46] JamesTran-MSFT commented on #85682
@syewchuk
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-23 23:47] JamesTran-MSFT commented on #85683
@bprime
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-23 23:48] JamesTran-MSFT commented on #85688
@strueder
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-23 23:50] JamesTran-MSFT commented on #85690
@koder101
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-24 00:38] kausui opened #85691 "Start/Stop doesn’t work with a firewall configured in forced-tunnel mode issue seems to be fixed"
Start/Stop doesn’t work with a firewall configured in forced-tunnel mode issue seems to be fixed according to workitem 7272084.
I tried allocate command for AzureFirewall configured in forced-tunnel mode.
I do not see any error and the Firewall works fine.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 474ba3cb-afa1-4e

[2021-12-24 01:07] JamesTran-MSFT commented on #85691
@kausui
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-24 02:19] laukik85 commented on #83535
Any Update? I am facing same issue.

[2021-12-24 03:26] imeya opened #85694 "what's the meaning of 1200 total for Max outbound connections for consumption plan?"
doc: https://docs.microsoft.com/en-us/azure/azure-functions/functions-scale#service-limits

In the above document, server limits section:
for consumption plan -> Max outbound connections, it mentions "600 active (1200 total)". what does the 1200 total mean? could you please explain more about it? thanks.

[2021-12-24 04:32] ram-msft commented on #85521
@Aoloa-dev Thanks, Play with your data using the online interactive demo :https://algoevaluation.azurewebsites.net/#/

[2021-12-24 05:04] AnuragSharma-MSFT commented on #85501
Due to lack of response, we will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-12-24 05:04] #85501 closed

[2021-12-24 05:04] AnuragSharma-MSFT commented on #85556
Due to lack of response, we will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-12-24 05:04] #85556 closed

[2021-12-24 05:23] NiniiGit opened #85695 "enhancement: command line utlity to check the "status" of AKS cluster autoscalar is enabled or not"
Hello Team,

Thanks for awesome feature of cluster autoscalar been introduced in AKS as it removes additional overhead and manual efforts. Currently from the available Microsoft documents, I can not see a command line utility that can help to check if cluster autoscalar is enabled or not for a particular node pool group. The only commands available are the one to either enable or disable cluster a

[2021-12-24 05:28] dcaddick opened #85696 "Azure MFA & CA - errors relating to Legacy Auth"
Looking deeper into a deployment of Azure MFA and seeing lot's of "Sign-in Error Code" 50076 - this appears to be directly related to Basic/Legacy Auth usage?
is this correct?

https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/block-legacy-authentication

Can we get confirmation that Error code 50076 does come for the use of Legacy Auth? cause it's not clearly stated in th

[2021-12-24 05:35] #85521 closed

[2021-12-24 05:47] SadiqhAhmed-MSFT commented on #85682
@bandersmsft For visibility.

[2021-12-24 05:48] SadiqhAhmed-MSFT commented on #85629
@devan10 Checking in to see if the above answer helped. Let us know if there are still any additional issues we can help with.

[2021-12-24 07:02] rockboyfor commented on #85085
@KrishnaG-MSFT,
Appreciate your great help!
Would you please help to confirm the other questions, Q2 and Q3 listed in the beginning of this thread?

Best Regards,

[2021-12-24 07:19] vipulsparsh commented on #85696
@dcaddick Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-12-24 07:20] #85311 closed

[2021-12-24 07:24] vipulsparsh commented on #85443
@lightupdifire  No need to create Log analytic workspace in every subscription, instead use the LAWS which is attached to Sentinel to send your logging data.

[2021-12-24 07:24] #85443 closed

[2021-12-24 07:26] vipulsparsh commented on #85507
You will need to raise this with the Intune Dedicated forum here :  https://techcommunity.microsoft.com/t5/microsoft-intune/bd-p/Microsoft-Intune

[2021-12-24 07:26] #85507 closed

[2021-12-24 07:27] vipulsparsh commented on #85571
@ChrisWeedall  Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-12-24 07:34] hemanthmatam opened #85697 "Hi Team ,I'm trying to create Azure virtual desktop Image by using AIB by following the steps in URL by using Powershell core: https://docs.microsoft.com/en-us/azure/virtual-machines/windows/image-builder-virtual-desktop#configure-the-image-template. When I start import the template getting below error ::PS C:\Users> New-AzResourceGroupDeployment -ResourceGroupName $imageResourceGroup -TemplateFile $templateFilePath -api-version "2020-02-14" -imageTemplateName $imageTemplateName -svclocation $location New-AzResourceGroupDeployment: A parameter cannot be found that matches parameter name 'api-version'.:: I verifeid Az modules ,current version is 7.0.0 still getting the error .requesting you to update the cmdlt"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fdd1ceed-3b0d-e6ea-c508-c17a7cadddd1
* Version Independent ID: 1ec9906b-ea9d-535b-9523-5f45aa34212f
* Content: [Image Builder - Create a Azure Virtual Desktop image - Azure Virtual Machines](https://docs.microsoft.com/en-us/azure/virtual-machines/wind

[2021-12-24 08:07] db422 commented on #85659
Thanks for your reply.

I just reviewed your reply and my thread. Maybe you misunderstood my question.

The article mentioned: “To test IDPS, **you'll need to deploy your own internal Web server with an appropriate server certificate.** For more information about Azure Firewall Premium certificate requirements, see Azure Firewall Premium certificates.” “Type the following command at the command pr

[2021-12-24 08:24] KranthiPakala-MSFT commented on #85538
Thank you @smadala ! We will forward this feedback to relevant product team. Appreciate much.

We will now proceed to close this thread. If you have further queries. Please do let us know,.

[2021-12-24 08:24] #85538 closed

[2021-12-24 08:50] GitHubUser1339 opened #85698 "Dataplane access blocked when using private endpoint connection and all networks configuration"
The document contains the following statement:

"Make sure the option Private endpoint and selected networks is selected. If you find All networks select, that explains why external clients are still able to access the key vault."

I'm preparing for the move to private endpoints and I've created private endpoint connections for my Key Vaults. I've left the 'All networks' setting to not impact exis

[2021-12-24 09:28] VigilanteWang opened #85699 "Replacing Disk: Managed Disk's snapshot is not stored in storage account"
For the [replacing disk](https://docs.microsoft.com/en-us/azure/backup/backup-azure-arm-restore-vms#replace-existing-disks) scenario, it writes:

But after the retore, the snapshot of the original managed disk is not found in the storage account specified, the original disk is there in the resource group. In fact, during the test, the 'Transfer data to vault' step was skipped due to previous backu

[2021-12-24 09:40] AshokPeddakotla-MSFT commented on #85567
@Ronelius

Could explain your query bit more to understand better?

Are you looking to transform the data from PowerBI which is already exposed via stream analytics?

[Stream Analytics and Power BI: A real-time analytics dashboard for streaming data](https://docs.microsoft.com/en-us/azure/stream-analytics/stream-analytics-power-bi-dashboard)

AFAIK there are no limitations.

Could you please share

[2021-12-24 09:42] #85578 closed

[2021-12-24 09:45] KranthiPakala-MSFT commented on #85578
The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2021-12-24 09:50] #85061 closed

[2021-12-24 09:58] SadiqhAhmed-MSFT commented on #85699
@VigilanteWang Thank you for your post. We will look into it and get back to you shortly.

[2021-12-24 10:11] CorinaMAC opened #85700 "Ultra Disk support for V5 series"
V5 series don't support yet Ultra Disks for all regions, despite the documentation statement:
"To use Premium SSD or Ultra Disk storage, select Esv5-series virtual machines"

This is causing confusion for customer who try to spin up ultra disks on V5 series.
If this is an on-going activity to enable the support, it would be valuable to have the documentation state that this is not yet supported fo

[2021-12-24 10:15] CorinaMAC opened #85701 "Ultra disk supported on E series"
V4 series don't support Ultra Disks  (or the feature is not enabled) on all regions, despite the documentation statement.

This is causing confusion for customer who try to spin up ultra disks on specified VM supported SKUs, as they get Allocation Failure (although it is not a capacity issue - e.g. WE).

If this is an on-going activity to enable the support, it would be valuable to have the docume

[2021-12-24 10:20] AnnuKumari-MSFT commented on #85668
@Logan-V Thank you for sharing feedback here.
I tried to repo the scenario it seems Read size is available but Write size is missing in session log inside Copy Activity.

![2021-12-24 15_44_29-e22f1edc-0235-ae75-ceab-ce83c426b5c4_0 - Notepad](https://user-images.githubusercontent.com/96407195/147344127-5bee2f3b-439c-45ea-bd88-d9d21a71f77a.png)

Please feel free to create feedback item for this fea

[2021-12-24 10:33] AnnuKumari-MSFT commented on #85668
@Logan-V  In addition to session log , you can consider relying on the Monitor tab of ADF where the output JSON of copy activity displays the data read and data write file size for efficient comparison between source and target data.
![2021-12-24 15_55_25-annu-adf - Azure Data Factory](https://user-images.githubusercontent.com/96407195/147345131-1ac28992-26d6-4be3-ba01-09c1874a8a19.png)
![2021-12-

[2021-12-24 10:39] MayankBargali-MSFT commented on #85694
@imeya Thank you for your feedback! We will review and update as appropriate.

[2021-12-24 10:47] im-subash commented on #25749
I'm Still getting this error at end of 2021.
I'm indeed in Supported regions(in India).
Should I force myself to use a VPN to get this error resolved?
Or is there any breakthrough you got to resolve this issue

[2021-12-24 10:57] RohitMungi-MSFT commented on #85643
@mjmatthiesen We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. Thanks!!

[2021-12-24 10:57] #85643 closed

[2021-12-24 12:01] GitaraniSharma-MSFT commented on #85659
@db422 , thank you for the update. We have assigned this issue to the respective product owner for review.

@elazulai , Could you please provide your insights here?

[2021-12-24 12:04] MaratMussabekov opened #85702 "broken link"
Link to  **SAP HANA certified IaaS Platforms** doesn't work

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8eeba0ab-3f65-09d3-6a79-3e74eb49b56b
* Version Independent ID: b58b7bbd-dfc1-d775-92bf-4b15f90b30f3
* Content: [Certification of SAP HANA on Azure (Large Instances) - Azure Virtual Machines]

[2021-12-24 12:09] GitaraniSharma-MSFT commented on #85458
@shaunsat , I see that you are trying to use next hop type "VirtualNetworkServiceEndpoint". It is not supported.

You cannot specify VNet peering or VirtualNetworkServiceEndpoint as the next hop type in user-defined routes. Routes with the VNet peering or VirtualNetworkServiceEndpoint next hop types are only created by Azure, when you configure a virtual network peering, or a service endpoint.

Yo

[2021-12-24 12:09] #85458 closed

[2021-12-24 12:14] PriyankaRudramaina commented on #85697
Hello Hemanthmatam,

Upon reviewing the cmdlet AzResourceGroupDeployment document [Here](https://docs.microsoft.com/en-us/powershell/module/az.resources/new-azresourcegroupdeployment?view=azps-7.0.0) I don't see _**-api-version**_ as a parameter. Hence, I made a change in the actual command as below and this one worked for me.

_New-AzResourceGroupDeployment -ResourceGroupName $imageResourceGroup

[2021-12-24 12:39] OliverRC opened #85703 "Azure AD authentication instructions are incorrect and don't work."
Followed instructions to "Set up authentication using an Azure AD token"
https://docs.microsoft.com/en-us/azure/databricks/dev-tools/cli/#--set-up-authentication-using-an-azure-ad-token

**Issue 1: There is a mistake in the command**

    $databricks_aad_token = az account get-access-token | jq .accessToken --raw-output
[System.Environment]::SetEnvironmentVariable('DATABRICKS_AAD_TOKEN', $databric

[2021-12-24 13:29] GitaraniSharma-MSFT commented on #85580
@OliCSADoerr , I only see Brazil South in the region list when creating an ExpressRoute circuit:

<img width="319" alt="image" src="https://user-images.githubusercontent.com/67630903/147355629-86b57b7a-c7f6-40bf-87e0-5e22a17f8dcf.png">

Could you please share a screenshot or let us know where you can see the Azure Region "Brazil South East" for ExpressRoute?

[2021-12-24 13:39] akshaymatmicrosoft opened #85704 "Provided SAS token seems to have issues with its signature"
Unable to complete the tutorial as Step 3 fails (last code snippet) with Authorization Error (403). There seems to be some issue with provided SAS token, here the failure.

shaded.databricks.org.apache.hadoop.fs.azure.AzureException: com.microsoft.azure.storage.StorageException: Server failed to authenticate the request. Make sure the value of Authorization header is formed correctly including the

[2021-12-24 14:01] #85697 closed

[2021-12-24 14:12] PriyankaRudramaina commented on #85697
@hemanthmatam,

Thank you for reporting this. Upon reviewing the cmdlet AzResourceGroupDeployment document Here I don't see **-api-version** as a parameter. Hence, I made a change in the actual command as below and this one worked for me.

_New-AzResourceGroupDeployment -ResourceGroupName $imageResourceGroup -TemplateFile $templateFilePath -**TemplateParameterObject @{"api-Version" = "2020-02-14"}

[2021-12-24 14:28] ShaikMaheer-MSFT commented on #85704
@akshaymatmicrosoft Thank you for sharing feedback.  We are actively validating it. We will share updates soon.

[2021-12-24 14:29] shaunsat commented on #85458
@GitaraniSharma-MSFT What you are saying and what the document says appear to be different. Next hop types does have VirtualNetworkServiceEndpoint:

https://docs.microsoft.com/en-us/azure/virtual-network/virtual-networks-udr-overview#next-hop-types-across-azure-tools

Having tried also with PowerShell the command exists in the cmdlet however it doesn't stay once applied. Either the documents need

[2021-12-24 14:48] SvenAelterman commented on #23652
@Marchelune As a workaround, you can place a public standard load balancer in front of the App GW.

[2021-12-24 14:50] GitaraniSharma-MSFT commented on #85458
@shaunsat , It is correct that a next hop type "VirtualNetworkServiceEndpoint" exists in Azure, however it is only created by Azure, when you configure a service endpoint. You can see this service tag in the effective routes on a VM where service endpoint is enabled but you cannot specify VirtualNetworkServiceEndpoint as the next hop type in user-defined routes.

VirtualNetworkServiceEndpoint is a

[2021-12-24 15:48] GitaraniSharma-MSFT commented on #85702
@MaratMussabekov , Thanks for the feedback! We've assigned the issue to the content author to evaluate and update as appropriate.

[2021-12-24 15:56] hemanthmatam commented on #85697
HI Thanks for the update
I will try with latest command and test it

[2021-12-24 16:27] ezYakaEagle442 opened #85707 "Azure Spring Cloud environment to rely on Microsoft Build of OpenJDK"
_Azure Spring Cloud supports both Java 8 and Java 11. In general, Azure PaaS only supports Java LTS versions and Azure Spring Cloud will support Java 17 LTS. **The hosting environment contains the latest version of Azul Zulu OpenJDK for Azure**_

/!\ **[IMPORTANT Update](https://docs.microsoft.com/en-us/azure/developer/java/fundamentals/java-support-on-azure)** June 30th, 2021: Zulu for Azure will

[2021-12-24 16:37] porrascarlos802018 opened #85708 "Managed NAT Gateway VS user-assigned NAT Gateway"
Please clarify What are the differences of  user-assigned NAT Gateway and managed NAT gateway  when attached to AKS cluster in regards to functions and price?

more information about
user-assigned NAT Gateway
needed.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3ea12e7-6e6d-cfa1-b094-2f33e2e7b64b
* Version Independen

[2021-12-24 16:48] JamesTran-MSFT commented on #85695
@NiniiGit
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-24 16:56] JamesTran-MSFT commented on #85698
@GitHubUser1339
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-24 16:57] JamesTran-MSFT commented on #85700
@CorinaMAC
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-24 17:00] JamesTran-MSFT commented on #85701
@CorinaMAC
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-24 17:02] JamesTran-MSFT commented on #85703
@OliverRC
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-24 17:02] pmeuser opened #85709 "How to deal with different access policies to SAP apps regarding managed/unmanaged devices?"
What I am missing a little bit in this article: I have several requests to allow access to some SAP apps behind IAS by unmanaged devices, while others - especially privileged admin access - should require compliant devices. How can this be achieved using AAD CA policies, when IAS is only visible as a single enterprise app?

Any clarification is much appreciated!

---
#### Document Details

⚠ *Do n

[2021-12-24 17:03] JamesTran-MSFT commented on #85707
@ezYakaEagle442
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-24 17:06] JamesTran-MSFT commented on #85708
@porrascarlos802018
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-24 17:08] JamesTran-MSFT commented on #85709
@pmeuser
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-24 17:13] porrascarlos802018 opened #85710 "Pricing clarification or reference needed on document for managed nat gateway / user assigned NAT"
Please add clarification in regards to pricing for Managed NAT Gateway and user assigned NAT so customers can have some values as reference.

https://azure.microsoft.com/en-us/pricing/details/virtual-network/
https://azure.microsoft.com/en-us/pricing/details/load-balancer/
https://azure.microsoft.com/en-us/pricing/details/ip-addresses/
---
#### Document Details

⚠ *Do not edit this section. It is

[2021-12-24 17:16] JamesTran-MSFT commented on #85710
@porrascarlos802018
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-24 17:21] ezYakaEagle442 opened #85711 "Azure App Service : Java runtime to rely on Microsoft Build of OpenJDK"
_Azure's supported Java Development Kit (JDK) is Zulu provided through Azul Systems. Azul Zulu Enterprise builds of OpenJDK are a no-cost, multi-platform, production-ready distribution of the OpenJDK for Azure and Azure Stack backed by Microsoft and Azul Systems_

/!\ **[IMPORTANT Update](https://docs.microsoft.com/en-us/azure/developer/java/fundamentals/java-support-on-azure)** June 30th, 2021: Z

[2021-12-24 17:42] SadiqhAhmed-MSFT commented on #85699
@VigilanteWang But after the retore, the snapshot of the original managed disk is not found in the storage account specified, the original disk is there in the resource group. ==> Storage account for restore is used temporarily as while restore it is restores as unmanaged and converted into managed...

In fact, during the test, the 'Transfer data to vault' step was skipped due to previous backup i

[2021-12-24 18:21] JozoSlejko opened #85712 "scriptContent loadTextContent option"
Suggestion to add the option of using loadTextContent function for scriptContent property.
Avoids both inline and external scripts.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a6fccd2-266a-7cfb-f77e-4b219131192a
* Version Independent ID: 6512ebbf-772f-1ae5-aa9a-cd2e4b29793d
* Content: [Use deployment scripts in Bic

[2021-12-24 18:47] mbukovich opened #85713 "SAML Applications will not work as the middle-tier API in an OBO flow"
One limitation in the OBO flow is that the middle-tier API must not be a SAML Application (setup to handle SAML SSO, containing a SAML signing certificate). Doing so results in an AADSTS50013 error. I can't find anywhere in our public documentation that describes this behavior.

I have had multiple customers who have struggled with this problem and did not have any documentation to look at to help

[2021-12-24 20:36] JamesTran-MSFT commented on #85711
@ezYakaEagle442
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-24 20:48] scottstauffer-fc opened #85714 "The title indicate retrieving the key too, but there were no steps for that."
The title indicate retrieving the key too, but there were no steps for that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0af8604-5120-2482-a2ad-2a4c1f34c1ba
* Version Independent ID: 755c0e34-983c-b646-2c5b-67c38949f555
* Content: [Azure Quickstart - Set and retrieve a key from Key Vault using Azure portal](https:/

[2021-12-24 21:48] elmonitoboy commented on #37092
@mimckitt Is there any word on reopening this issue? I have environment variables that have '-' in them as well

[2021-12-24 23:55] ritugoyal12 opened #85716 "The acr get login server command is not working with --output table"
I found that the ```azure-voting-app-redis rgoyal1$ az acr list --resource-group rgoyal-kube-test --query "[].{acrLoginServer:loginServer}" --output table``` is erroring out with message
```Table output unavailable. Use the --query option to specify an appropriate query. Use --debug for more info.```
Please correct the document to ```azure-voting-app-redis rgoyal1$ az acr list --resource-group rgo

[2021-12-25 00:24] JamesTran-MSFT commented on #85712
@JozoSlejko
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-25 00:26] JamesTran-MSFT commented on #85713
@mbukovich
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-12-25 00:27] JamesTran-MSFT commented on #85714
@scottstauffer-fc
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-12-25 00:29] JamesTran-MSFT commented on #85716
@ritugoyal12
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-25 02:49] imeya opened #85717 "I get this error "Failed to fetch Kudu App Settings. Ip Forbidden (CODE: 403)" in the step of function deployment."
I followed this doc: https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-vnet#deploy-a-service-bus-trigger-and-http-trigger

when in the step of  function deployment from github, it throws this error: Failed to fetch Kudu App Settings. Ip Forbidden (CODE: 403).
![e1](https://user-images.githubusercontent.com/25738099/147376350-0829d065-3606-4052-ba10-4558e1e7835b.PNG)

Could yo

[2021-12-25 03:03] VigilanteWang commented on #85699
@SadiqhAhmed-MSFT Thank you, that answered the questions clearly.

[2021-12-25 06:25] eric-urban commented on #85266
@alhieng - Here are snippets that I ran successfully on Ubuntu 20.04 LTS.

# Set speech resource key and region
These settings are used in the examples below
[code]

# Get voices
[code]

# Submit synthesis
[code]

Here is an example submit synthesis response with 'Location' header. There is no response body.
[code]

# Get synthesis by location URL

A prerequisite for this example is **jq**
[code]

[2021-12-25 07:26] SadiqhAhmed-MSFT commented on #85699
@VigilanteWang Glad to help. Closing this for now.

[2021-12-25 07:26] #85699 closed

[2021-12-25 07:36] bnvsp commented on #85598
@zackliu Thanks for clarification, will use it as suggested.

[2021-12-25 07:47] SadiqhAhmed-MSFT commented on #85629
@devan10 We haven't heard back from you, so we will now close this issue. If this remains an issue, please reply and we will gladly continue the discussion.

[2021-12-25 07:47] #85629 closed

[2021-12-25 09:54] HichemDax commented on #84125
The link is still broken..

[2021-12-25 09:55] shaunsat commented on #85458
@GitaraniSharma-MSFT Thanks re-read and understand now 👍

[2021-12-25 10:51] GitaraniSharma-MSFT commented on #85717
@imeya , thank you for your question. We'll investigate and update as appropriate!

[2021-12-25 10:54] adrianakbari opened #85718 "CLI and Powershell Commands Out-dated"
The powershel and cli commands for this turorial are out-dated. They dont work and they need to be updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab030f18-c377-42e4-02ab-f9fda73253ad
* Version Independent ID: 2ac64eb4-0de4-6538-d97d-40ddb5ac5060
* Content: [Quickstart - Deploy Docker container to container ins

[2021-12-25 11:36] adrianakbari opened #85719 "login part is not correct."
In the login part you should add az acr credential show first.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab030f18-c377-42e4-02ab-f9fda73253ad
* Version Independent ID: 2ac64eb4-0de4-6538-d97d-40ddb5ac5060
* Content: [Quickstart - Deploy Docker container to container instance - PowerShell - Azure Container Instance

[2021-12-25 12:20] staedy opened #85720 "Staedy"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f0990fc-9834-bde3-5e06-071c75fa89a5
* Version Independent ID: 96f5df37-aa95-443d-2500-37665179ce89
* Content: [Quickstart: Create a virtual network - Azure portal - Azure Virtual Network](https://docs.microsoft.com/en-us/azure/virtual-network/quick-c

[2021-12-25 14:20] Ronelius commented on #85567
Hi!

When using the real-time analytics **dashboard**, I can't offer interactive filtering to the end-user right? I'm working on an IoT scenario and would for example filter my live-data by device and by sensor with a data slicer.

So I tried to use a **report** instead, but I could not find a way to **transform** the dataset in PowerBI.
So for example changing column types, calculating new fields

[2021-12-25 14:26] GitaraniSharma-MSFT commented on #85719
@adrianakbari , thank you for your feedback. We'll review this and get back to you shortly!

[2021-12-25 14:27] GitaraniSharma-MSFT commented on #85718
@adrianakbari , thank you for your feedback. We'll review this and get back to you shortly!

[2021-12-25 14:29] GitaraniSharma-MSFT commented on #85720
@staedy , could you please provide details on this feedback submission for us to review/investigate further? For now, the feedback is blank without any details.

[2021-12-25 17:01] harryarce opened #85722 "BulkExecutorGraph sample app using new library Microsoft.Azure.Cosmos"
Are you updating bulk executor graph sample app to use the new library Microsoft.Azure.Cosmos ?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fba84f21-fbf3-14d6-f3ad-616888c5d24c
* Version Independent ID: c0f79887-cf7a-06e9-756c-555e3f305ef1
* Content: [Use the graph bulk executor .NET library w

[2021-12-25 19:32] JamesTran-MSFT commented on #85722
@harryarce
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-25 20:47] memildin commented on #85316
Hi @andrePKI, thanks for the feedback and for taking the time to help us improve the docs.

There used to be a security recommendation regarding health issues for the Log Analytics agent. In that recommendation you could see these various health states. That recommendation was deprecated, so I've removed the table from this page. Thanks for pointing it out.

The changed page should go live within

[2021-12-25 20:47] #85316 closed

[2021-12-25 23:49] robvet opened #85723 "Looks like the DevOps Starter wizard has changed."
Revisit this article and update screen shots.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 679c851f-0cc9-3b99-1d31-88672aebb693
* Version Independent ID: 91ce6957-0bc6-1934-8ac9-f7af096caa95
* Content: [Tutorial: Create a CI/CD pipeline for your existing code by using Azure DevOps Starter](https://docs.microsoft.com/

[2021-12-26 00:20] JamesTran-MSFT commented on #85723
@robvet
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-12-26 02:40] YutongTie-MSFT commented on #85546
@Mutilar  I have created a PR to fix it. Thanks a lot for the feedback again.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2021-12-26 02:40] #85546 closed

[2021-12-26 05:47] AnuragSingh-MSFT commented on #85620
@ohadschn, thank you for bringing it to our attention. I have assigned this issue to the author for clarification and update, as required.

[2021-12-26 11:32] GitaraniSharma-MSFT commented on #85580
@OliCSADoerr , If you are referring to Local Azure Regions which ExpressRoute Local at each peering location can access, then Brazil Southeast is already added to the list in the table shown in the "Provider by location" doc:

https://docs.microsoft.com/en-us/azure/expressroute/expressroute-locations-providers#partners

<img width="440" alt="image" src="https://user-images.githubusercontent.com/67

[2021-12-26 11:32] #85580 closed

[2021-12-26 14:32] kaushalbcactus opened #85729 "Commands needs to be reviewed by microsoft as I unable commands in powershell- eg:- Unable to find package 'Microsoft.Azure.SqlDatabase.Jobs' and Get-AzureSqlJob"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 20e20274-5c6f-c034-de95-b487093716ee
* Version Independent ID: 8258f8fc-7f62-8f6e-75f1-ff0d21013656
* Content: [Migrate to new Elastic Database Jobs (preview) - Azure SQL Database](https://docs.microsoft.com/en-us/azure/azure-sql/database/elastic-jobs

[2021-12-26 16:10] miqm commented on #83932
Hello, any update on this?

[2021-12-26 16:30] memildin commented on #85671
Hi @andrePKI, thanks for the question. This relates to the change we made in November and described in this release note:

https://docs.microsoft.com/en-us/azure/defender-for-cloud/release-notes#inventory-display-of-on-premises-machines-applies-different-template-for-resource-name

Any resources using the previous template will change over time.

I'm going to close this issue, but feel free to com

[2021-12-26 16:30] #85671 closed

[2021-12-26 17:52] memildin commented on #83961
Hi @prafulbusa, I don't see a reply to the questions asked above.

I'm going to close this issue, but feel free to comment again here or open a new one if you have additional requests.

#please-close

[2021-12-26 17:52] #83961 closed

[2021-12-26 18:03] memildin commented on #84903
Hi @andriikut , thanks for the feedback and for taking the time to help us improve the docs.

This documentation page is going to get refreshed in the coming days, and we'll incorporate the information discussed here.

#please-close

[2021-12-26 18:03] #84903 closed

[2021-12-26 18:41] memildin commented on #84209
Hi @donchai, thanks for the question.

Today, Microsoft Defender for Storage doesn’t provide full antimalware scanning. You're correct that, as the docs explain, we provide hash reputation analysis performed when a file has already been uploaded.

I'm going to close this issue, but feel free to comment again here or open a new one if you have additional requests.

#please-close

[2021-12-26 18:41] #84209 closed

[2021-12-26 18:43] memildin commented on #84496
Hi @MMerzinger, thanks for the question. As you've no doubt seen, the situation has changed since [we launched Microsoft Defender for Containers](https://docs.microsoft.com/en-us/azure/defender-for-cloud/release-notes#microsoft-defender-for-containers-plan-released-for-general-availability-ga).

I'm going to close this issue, but feel free to comment again here or open a new one if you have additi

[2021-12-26 18:43] #84496 closed

[2021-12-26 18:47] memildin commented on #84945
Hi @andrePKI, thanks for the feedback and for taking the time to help us improve the docs.

This documentation page is going to get refreshed in the coming months, and we'll incorporate the information discussed here.

I'm going to close this issue, but feel free to comment again here or open a new one if you have additional requests.

#please-close

[2021-12-26 18:47] #84945 closed

[2021-12-26 21:16] mrochon opened #85730 "Enable script execution required when using policy from a JS app"
I kept getting the following error when running my SUSI policy changed to use the recommended password reset subjourney. The error was **not** happing when running the policy from the B2C portal IEF policy list. It only happened when starting the journey from a JS app. Once I added ScriptExecution Allowed the error disappeared.

Does the documentation need to reflect that requirement?
---
#### Doc

[2021-12-26 22:14] Adelzu opened #85731 "Wrong Documentation"
The JSON samples of the request body are wrong.
Please notice that
1) The `quantity` is NOT a string, it is a number (int or long, who knows!).
2) There are a lot of useful parameters available for use which are not documented.
3) `Subscription` is also included.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94571708-c

[2021-12-27 00:04] JamesTran-MSFT commented on #85730
@mrochon
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-12-27 00:09] JamesTran-MSFT commented on #85731
@Adelzu
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-27 04:51] dchecks opened #85734 "Add reference to other templates"
Reference in section 'Create a local function project'

Would go a long way to making this page more useful. Currently it only provides HTTP trigger with no indication of where to find more info.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b1ff97a-0ca7-c91b-5b45-370212407a51
* Version Independent ID: b60719ca-3e64-

[2021-12-27 04:52] SumanthMarigowda commented on #85573
@gvanteylingen We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-12-27 04:52] #85573 closed

[2021-12-27 05:00] SaiKishor-MSFT commented on #85720
@staedy Any update?

[2021-12-27 05:17] AnuragSharma-MSFT commented on #85660
This is being assigned to the content author to evaluate and update as appropriate.

[2021-12-27 06:38] AnuragSharma-MSFT commented on #85729
@kaushalbcactus Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-12-27 07:27] SnehaAgrawal-MSFT commented on #85505
Thanks for asking question! As its already mentioned in the document that "Auto swap isn't supported in web apps on Linux and Web App for Containers." For custom warm-up  WEBSITE_SWAP_WARMUP* and applicationInitialization should work with Linux Web Apps. If you are receiving any error? Could you please elaborate.

[2021-12-27 08:47] StaceyWA commented on #85171
@SaiKishor-MSFT May I have any update on this? Thank you for your assistance!

[2021-12-27 08:49] ShaikMaheer-MSFT commented on #85635
@os-slalom Below document helps to import a certificate in Azure key vault.
https://docs.microsoft.com/en-us/azure/key-vault/certificates/tutorial-import-certificate

@jianleishen Could you please validate customer feedback and update document as appropriate to reflect details related to certificate authentication for MySQL? Below are the points which can be addressed in current version of documen

[2021-12-27 08:52] ShaikMaheer-MSFT commented on #85704
@mamccrea / @leifbro SAS tokens provided in documentation are failing with Authorization issues. Could you please validate feedback and update document as appropriate.

[2021-12-27 09:33] AnuragSharma-MSFT commented on #85649
@moderor Thanks for your patience. When we connect SQL Managed Instance with SSMS using public end point, we do have the option of 'Restore Database' when we right click databases.

![image](https://user-images.githubusercontent.com/66360845/147457761-f00ff3fc-9986-4efc-9d5b-07fdcfcf3462.png)

Could you please provide the snapshot of what you are able to see? Also please mention which commands are

[2021-12-27 09:40] MughundhanRaveendran-MSFT commented on #85652
@dracosachin , I hope you had a chance to look into my previous comment. Please let me know if you have any further queries

[2021-12-27 09:43] dracosachin commented on #85652
Hi Mughundhan,

Yes, its clear now

Thanks,
Sachin C

On Mon, Dec 27, 2021, 3:10 PM Mughundhan_R-MSFT ***@***.***>
wrote:

[2021-12-27 10:23] abatishchev opened #85737 "Supported Windows versions by Service Fabric doesn't list Windows Server 2022"
I'm running a fleet of clusters on the latest OS so believe it's supported.

See the [Supported Windows versions and support end date](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-versions#supported-windows-versions-and-support-end-date) section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59

[2021-12-27 10:25] abatishchev commented on #85737
+ @craftyhouse

[2021-12-27 10:39] Karishma-Tiwari-MSFT commented on #85636
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-12-27 10:44] Karishma-Tiwari-MSFT commented on #85646
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-12-27 10:45] PriyankaRudramaina commented on #85737
Hi @abatishchev,
Thank you for reporting this. I am assigning this github thread to the service fabric document owner to review and update the support matrix link [https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-versions#feedback](url) accordingly.

[2021-12-27 10:47] AjayKumar-MSFT commented on #85549
gwu70ca, Apologies for the delay! We have raised a PR with the requested changes, the changes would be published once the doc is merged (shortly). Thanks again for taking time to share your feedback.

[2021-12-27 10:47] #85549 closed

[2021-12-27 11:02] rabbyn opened #85738 "Ressources mismatches for source and target datalake db's creation"
Hello,

in your AdventureWorks Data.zip from the github link provided in this tutorial (*) , the csv file's headers are missing (actually they are all set to "[Not Applicable]") ; therefore it's rather difficult to create the datalake database if the source files hosted in datalake doesn't have headers.

As well I noticed that the target schema mentioned in this tutorial defined on the github link

[2021-12-27 11:17] PriyankaRudramaina commented on #84769
@yuriwoof, Apologies for the delay in responding here, I have assigned this issue to the content author for further review.

[2021-12-27 11:19] PriyankaRudramaina commented on #85235
@SnoWolfT Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-12-27 11:19] #85235 closed

[2021-12-27 11:21] PriyankaRudramaina commented on #85083
@deangarcia Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-12-27 11:21] #85083 closed

[2021-12-27 11:22] PriyankaRudramaina commented on #85118
@devsheoran, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-12-27 11:22] #85118 closed

[2021-12-27 11:24] SumanthMarigowda commented on #85013
@cfizz34, Apologies for the delay response! I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the

[2021-12-27 11:24] #85013 closed

[2021-12-27 11:26] PriyankaRudramaina commented on #84227
@clarenceb, Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-12-27 11:26] #84227 closed

[2021-12-27 11:28] PriyankaRudramaina commented on #84157
@congyiwu I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-12-27 11:30] SumanthMarigowda commented on #81510
@olivermue ,Apologies for the delay response! I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen th

[2021-12-27 11:30] #81510 closed

[2021-12-27 11:33] PriyankaRudramaina commented on #84222
@aparna10061, Apologies for the delay response! I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen

[2021-12-27 11:33] #84222 closed

[2021-12-27 13:08] romanzdk opened #85739 "az storage blob directory delete - `directory` is not recognized"
# Command used:
`az storage blob directory delete -h`

# Received output:
[code]

# Expected output
[Help](https://docs.microsoft.com/en-us/cli/azure/storage/blob/directory?view=azure-cli-latest#az_storage_blob_directory_delete) for the specified command.

# Environment:
azure-cli                         2.27.2 *
core                              2.27.2 *
telemetry                          1.0.6
E

[2021-12-27 13:30] Houssem-Azzouz opened #85740 "Azure Communication Services is incorrectly listed under the list of the Azure services that support Azure AD authentication"
The Azure Communication Services listed here https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/services-support-managed-identities#azure-communication-services looks like it belongs to the section where "Services that support managed identities" are listed and not in the section where "Azure services that support Azure AD authentication" are specified.

---

[2021-12-27 13:36] jeffyeh opened #85741 "Typo on "Can I use sql profiler" section"
Should be "on" Managed instance instead of "or".

https://docs.microsoft.com/en-us/azure/azure-sql/managed-instance/frequently-asked-questions-faq#can-i-use-sql-profiler-for-performance-tracking

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc18c2bc-ae31-5ad9-061b-0d6f6d03b5b4
* Version Independent ID: 0fc6037f-1bed-f

[2021-12-27 13:46] qqnarwhal opened #85742 "API checkZonePeers doesn't exist"
The doc mentioned that "You can use the dedicated ARM API called: checkZonePeers to compare zone mapping for resilient solutions that span across multiple subscriptions.", but the API doesn't exist.

If it's not possible to check the logical/physical mapping for subscriptions, then we need to call it out in the public doc and state that it's not possible. Otherwise, we should correct it and provid

[2021-12-27 13:49] robmaas opened #85743 "Azure WAF Exclusions case-sensivity are not documented correctly"
On page https://docs.microsoft.com/en-us/azure/web-application-firewall/ag/application-gateway-waf-configuration
is described that `In all cases matching is case insensitive and regular expression aren't allowed as selectors.`.

The text regards to the WAF exclusion lists and explains that all selectors are case-insensitive.

This text does not seem to be correct:
The selector of `Request attribut

[2021-12-27 14:45] shekhar-jha opened #85744 "Invalid link for M365 App registeration"
The section on [Microsoft 365 Application Launcher](https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/end-user-experiences#microsoft-365-application-launcher) has incorrect reference for link "Have your app appear in Office 365 application launcher".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d250

[2021-12-27 14:49] LitKnd commented on #85729
Hi @kaushalbcactus ,

Can you please provide some more information about where things went wrong?

Were you able to run the commands in the first section, [Install the latest Elastic Jobs cmdlets](https://docs.microsoft.com/en-us/azure/azure-sql/database/elastic-jobs-migrate) successfully? If that section is not successful then I would expect to see an error like you mention in the title of this i

[2021-12-27 14:53] ssivas commented on #83070
Please find detailed [Graph API way to manage **claimsMappingPolicy**][1].  Hope this helpful. Please tag me if you have any queries. Thanks.
#please-close

[1]: https://docs.microsoft.com/en-us/graph/api/resources/claimsmappingpolicy?view=graph-rest-1.0

[2021-12-27 14:53] #83070 closed

[2021-12-27 14:53] AnuragSharma-MSFT commented on #85741
@jeffyeh Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-12-27 15:00] tfitzmac commented on #85690
@koder101 - there are two suggestions in the article for formatting the inline script. One is to use semi-colons between lines to format the script as a single line. The other is to escape any double quotes in the script. I tested the example script on a 3rd party json linter. Adding semi colons allowed it to pass validation.

[2021-12-27 15:18] rouke-broersma commented on #38383
@SubhashVasarapu-MSFT this problem has still not been resolved. I hit this issue today and could not find why it was not working.

[2021-12-27 15:20] shekhar-jha opened #85746 "Updates suggested"
The page has following information

1. AFAIK there is no requirement to have an active subscription. Please update the documentation to reflect the same
![image](https://user-images.githubusercontent.com/1870713/147484256-c3da2b50-1595-418e-ba10-55282e639bd9.png)
2. Is being owner of application principal give access to add an application?
3. Please update link to Azure portal if possible.
![image

[2021-12-27 15:20] shekhar-jha opened #85747 "Updates suggested"
The page has following information

1. AFAIK there is no requirement to have an active subscription. Please update the documentation to reflect the same
![image](https://user-images.githubusercontent.com/1870713/147484256-c3da2b50-1595-418e-ba10-55282e639bd9.png)
2. Is being owner of application principal give access to add an application?
3. Please update link to Azure portal if possible.
![image

[2021-12-27 15:34] JamesTran-MSFT commented on #85734
@dchecks
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-27 15:50] ShaikMaheer-MSFT commented on #85738
@rabbyn Thank you for sharing your feedback. We are actively validating it. We will share updates soon.

[2021-12-27 15:53] JamesTran-MSFT commented on #85744
@shekhar-jha
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-27 15:54] JamesTran-MSFT commented on #85747
@shekhar-jha
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-12-27 15:55] JamesTran-MSFT commented on #85746
@shekhar-jha
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-27 15:56] nicoride93 opened #85748 "Link missing"
**Add the geo to the selected attribute on a user. The list of available geos can be found in this table.**

That line is on Step 9. There is no link for the table.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b285f539-0487-0de5-24ef-89f773a1081d
* Version Independent ID: b4f26f73-6b46-9703-692b-abe1f0d5f825
* Conten

[2021-12-27 15:58] JamesTran-MSFT commented on #85740
@Houssem-Azzouz
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-27 15:59] JamesTran-MSFT commented on #85748
@nicoride93
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

![image](https://user-images.githubusercontent.com/36619112/147488089-62fea14c-f80e-4937-8c04-0b720b0f73b2.png)

[2021-12-27 16:11] scott1138 opened #85749 "Windows VM Encryption Extension Details"
Can information be added about using HSM keys with a premium key vault?  Or at least whether or not this is possible.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b2cf75b-7d46-2565-cec2-8436bfbd6bdf
* Version Independent ID: e8b54243-bfb9-5457-7c3d-fe5cf026a4e2
* Content: [Azure Disk Encryption for Windows - Azure V

[2021-12-27 16:12] manishmsfte commented on #84261
#close

[2021-12-27 16:13] #84261 closed

[2021-12-27 16:19] kaushalbcactus commented on #85729
Hi @LitKnd,

Yes installation and import was successful.
But I was unable to install "Install the old Elastic Database Jobs cmdlets" sections. For e.g. it showed -  The term 'Use-AzureSqlJobConnection' is not recognized as the name of a cmdlet....... and same for many commands.

Thanks for promptly looking into this.

Best Regards,
Kaushal Bagrodia

[2021-12-27 16:19] ChrisMcKee278 opened #85750 "Incorrect instructions"
Add Blob Storage trigger under the standard section bullet 5 D should say enter container name only not the URL.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc1a51f6-730a-6077-6f9d-90afeaceed20
* Version Independent ID: 6d012a9a-5fbd-fd18-9656-c42e88bac5d0
* Content: [Connect to Azure Blob Storage - Azure Logic Apps

[2021-12-27 16:26] AshokPeddakotla-MSFT commented on #85739
@romanzdk Please help with the link of document on which above document feedback request is created.
Under this repository we want to make sure any issue is linked to a doc so we can help others that may be having the same issue.

[2021-12-27 16:49] SaiKishor-MSFT commented on #85743
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-12-27 16:52] LitKnd commented on #85729
Hi @kaushalbcactus ,

Thanks for the details. The cmdlet [Use-AzureSqlJobConnection](https://docs.microsoft.com/en-us/powershell/module/elasticdatabasejobs/use-azuresqljobconnection) is part of the older elastic database jobs module.

The article section [Install the old Elastic Database Jobs cmdlets](https://docs.microsoft.com/en-us/azure/azure-sql/database/elastic-jobs-migrate#install-the-old-el

[2021-12-27 16:58] AshokPeddakotla-MSFT commented on #85567
@Ronelius That's correct. You will not be able to filter when the data loads. Instead you can write the stream analytics queries as per your requirements and send data to PowerBI for visualization.

We try to reserve these issues for feedback directly related to the tutorials: like if there are errors that block tutorial completion or if there are updates/changes required, suggestions for improvem

[2021-12-27 17:04] MikeFatinoLCOFS commented on #10766
Experiencing this without PowerToys Installed.  Information Security has tracked this error to my PC but I know nothing about Vortex and they're asking questions.  Need an ETA when this will be.  @priyamohanram

[2021-12-27 17:34] YutongTie-MSFT commented on #85591
@wguyman I am sorry for the late response, please refer to below document for how to assign roles:

Assign Azure roles using the Azure portal: https://docs.microsoft.com/en-us/azure/role-based-access-control/role-assignments-portal?tabs=current

Assign Azure roles using Azure PowerShell: https://docs.microsoft.com/en-us/azure/role-based-access-control/role-assignments-powershell

Assign Azure role

[2021-12-27 17:34] #85591 closed

[2021-12-27 18:08] JamesTran-MSFT commented on #85666
@sherlock1982
I've assigned this issue to the author to see if they can add to our documentation - what Exchange license is required to access the [Mail REST API](https://docs.microsoft.com/en-us/graph/api/resources/mail-api-overview?view=graph-rest-1.0).

When it comes to troubleshooting your issue, I'd recommend leveraging our [Q&A forum](https://docs.microsoft.com/en-us/answers/products/) by po

[2021-12-27 18:10] JamesTran-MSFT commented on #85673
@alangoldman
Thank you for pointing this out and creating a PR to update the documentation. Since it's currently waiting for the author to review and sign off, I'll close out this issue.

Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2021-12-27 18:10] #85673 closed

[2021-12-27 18:14] JamesTran-MSFT commented on #85678
@ywhe
Thank you for your time and patience!

Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our [Q&A forum](https://docs.micros

[2021-12-27 18:14] #85678 closed

[2021-12-27 18:28] JamesTran-MSFT commented on #85680
@shekhar-jha
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2021-12-27 18:28] #85680 closed

[2021-12-27 18:40] JamesTran-MSFT commented on #85709
@pmeuser
Thank you for your time and patience throughout this issue.

Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our [Q&A f

[2021-12-27 18:40] #85709 closed

[2021-12-27 18:41] JamesTran-MSFT commented on #85740
@Houssem-Azzouz
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-12-27 18:42] YutongTie-MSFT commented on #85638
@Blackmist Hi Larry, I believe we should have internal guidance somewhere, do you have any insight here? Thanks.

[2021-12-27 18:49] JamesTran-MSFT commented on #85744
@shekhar-jha
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

New link - [Personalize your Office 365 experience](https://support.microsoft.com/en-us/office/personalize-your-office-365-experience-eb34a21b-52fa-4fbf-a8d5-146132242985)

I will now close out this issue. Please allow some time for the auth

[2021-12-27 18:49] #85744 closed

[2021-12-27 18:51] JamesTran-MSFT commented on #85746
@shekhar-jha
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-12-27 19:02] MicrosoftGuyJFlo commented on #85696
Yes the error 50076 should have the following description: UserStrongAuthClientAuthNRequired

We are working on updating the documentation around error messages. Currently the popular ones are listed in the following location.

https://docs.microsoft.com/azure/active-directory/conditional-access/troubleshoot-conditional-access#conditional-access-error-codes

Hope to add more including this one ove

[2021-12-27 19:02] #85696 closed

[2021-12-27 19:06] leomartins1999 commented on #6808
Returning a regex to the user rather than spitting out the constraints for the vault-name is not a great design choice, gotta admit! 😅

[2021-12-27 19:07] JamesTran-MSFT commented on #85698
@GitHubUser1339
Thank you for the detailed post!

However, since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our [Q&A forum](https

[2021-12-27 19:07] #85698 closed

[2021-12-27 19:09] JamesTran-MSFT commented on #85746
@shekhar-jha
Since this issue is a duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/85747, I'll go ahead and close this one out.

Thank you for the feedback, and for your time and patience.