[2021-01-27 17:03] erapade opened #69598 "Diagram not correct"
The diagram here: https://docs.microsoft.com/en-us/azure/azure-sql/database/connectivity-settings#deny-public-network-access. is not correct. When "Deny public network access" is set to no, you can still connect using Private link. The diagram shows that this is not possible. From "No" there shall also be an arrow to the Private link

---
#### Document Details

⚠ *Do not edit this section. It is r

[2021-01-27 17:05] KrishnaG-MSFT commented on #69590
@andriikut Hope you have self resolved and hence closed the issue. Thanks for the updated comment.

[2021-01-27 17:05] Nickomang commented on #68509
@eugen-nw, Hmm, strange indeed. It's possible something's off in your AD settings or something else could be going on.

In any case, I'd recommend asking on Stack Overflow, or leverage an Azure Support offering. I don't believe what you're experiencing to be a typical result for following this article, and I don't suspect any doc-related artifact to come out of resolving the issue, so I'm going to

[2021-01-27 17:05] #68509 closed

[2021-01-27 17:12] AshokPeddakotla-MSFT commented on #69255
@fgheysels We would like to connect with you offline to get more details on your requirement and help you further by prioritizing the request.

Please send an email to azcommunity@microsoft.com with the below details, we will work closely on this matter.

Thread URL: #
Your Subscription ID:
Email Subject: Attn Ashok Peddakotla

Please let me know once you have done the same.

[2021-01-27 17:12] VikasPullagura-MSFT commented on #69470
@dalewolan Thanks for sharing all the details. This issue needs deeper investigation to understand why the disk is not getting detached. I would request you to open a support case so that a support engineer can check your issue.

If you don't have the ability to open a technical support ticket, you can email me with Subject as "ATTN: Vikas" at AzCommunity@microsoft.com and provide me with your Sub

[2021-01-27 17:13] AjayKumar-MSFT commented on #69381
Apologies for the delay! Copying your SO answer here for benefiting the customer "It turned out that I had referenced Microsoft.Data.SqlClient from one of my projects instead of System.Data.SqlClient. Changing back to System.Data.SqlClient resolved the error."  Much appreciate you sharing the solution that worked for you with the community.

This doc only aims at highlighting and demonstrating the

[2021-01-27 17:13] #69381 closed

[2021-01-27 17:13] MonikaReddy-MSFT commented on #69589
@maheshkvis - The GA is in March with the Kubernetes Version of 1.20. Hope this helps.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-01-27 17:13] #69589 closed

[2021-01-27 17:13] dalewolan commented on #69470
In the meantime? am I going to be charged?

Dale

On Wed, Jan 27, 2021 at 12:12 PM VikasPullagura-MSFT <
notifications@github.com> wrote:

[2021-01-27 17:16] dalewolan commented on #69470
this is a joke. I will be off this platform by the weekend. I am so upset
at the level of service that has been provided. I spent more time
communicating with support than reading "how to do this simple task". No
service = No need to actually pay for it.

Dale

On Wed, Jan 27, 2021 at 12:12 PM VikasPullagura-MSFT <
notifications@github.com> wrote:

[2021-01-27 17:23] VikasPullagura-MSFT commented on #69470
@dalewolan We really apologies for any inconvenience this issue may have caused. Support team can take a look at your subscription and see why the disk is not getting deleted. So, requesting you to open a support case.
If you don't have the ability to open a technical support ticket, please email as mentioned in the previous comment for getting your subscription enable with a one time free support

[2021-01-27 17:25] alienzin opened #69599 "apiVersion mismatch error during tutorial"
The file `https://raw.githubusercontent.com/Azure/live-video-analytics/master/MediaGraph/topologies/cvr-asset/topology.json` referenced as topologyUrl contains `"@apiVersion": "1.0"` so I get error like following during debugging session

[code]

Please update the topology.json.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2021-01-27 17:28] jd8757417 opened #69600 "Please clarify documentation (my comments are above the step that needs attention)"
At this step we should clarify that only one of these agents (waagent or cloud-init) need to be installed for provisioning. It has been causing confusion with customer deployments leading to failures. As well as necessary is spelled incorrectly.

9.Install the Azure Linux Agent, cloud-init and other necesary utilities by running the following command:

Console

Copy
# sudo yum install -y WALinuxAg

[2021-01-27 17:31] VikasPullagura-MSFT commented on #69597
@sujaypillai
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-01-27 17:31] VikasPullagura-MSFT commented on #69597
@zr-msft @mlearned
Can you please check and add your comments on this doc update request as applicable.

[2021-01-27 17:37] VikasPullagura-MSFT commented on #69600
@jd8757417
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-01-27 17:37] VikasPullagura-MSFT commented on #69600
@danielsollondon
Can you please check and add your comments on this doc update request as applicable.

[2021-01-27 17:40] DavidStrickland0 opened #69601 "Luis.AI UI Changed this Is no longer valid"
The LUIS endpoint key is now pulled (far as I can tell) from the prediction resource entry under. Manage => Azure Resources => Prediction Resources

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a697f080-dd5c-c2fe-966c-af5f0c1000e8
* Version Independent ID: 2b841906-42e9-7b20-5c39-dd27faaa536d
* Content: [Quickstart: C

[2021-01-27 17:43] linda33wj commented on #60448
Thanks for raising the issues. The doc has been updated to address them. Hope it helps clarify.
#please-close

[2021-01-27 17:43] #60448 closed

[2021-01-27 17:44] cwickham33 opened #69602 "How to grant access to system managed service identity in a subscription that is not on my list"
I'm trying to grant reader access to a system managed service identity (a VMSS resource) in a subscription that I am not associated with. Some indication of what is required to do that on this page or a pointer to another page would be really helpful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b276e2a1-6208-4caa-bc

[2021-01-27 17:49] brandonh-msft opened #69603 "Need to document *default* language version for those that support more than one"
For languages like Java, Node, and Python Functions v3 supports more than one version of the language. Yet it's possible to deploy a Function App without specifying the version. In this case, the portal will show (for Java):

![image](https://user-images.githubusercontent.com/20270743/106032014-c90db380-6084-11eb-9ad6-2e283801488f.png)

and the Function(s) will execute w/o issue. However, there's

[2021-01-27 17:50] JamesTran-MSFT commented on #69516
@RevathiS23
Thank you for pointing this out!

I've reached out to our ADE team to confirm, and you can encrypt a VM with unmanaged disks, you can follow our [Windows](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/disk-encryption-overview) or [Linux ADE documentation](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/disk-encryption-overview) to enable this feature. As

[2021-01-27 17:51] JamesTran-MSFT commented on #69587
@DeanGross
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-01-27 17:54] yaronyg commented on #69279
@ChandraKavya - I believe this one is for you.

[2021-01-27 17:55] NavtejSaini-MSFT commented on #69351
@rahul-mohan At this point we are going ahead and closing this request.

[2021-01-27 17:55] #69351 closed

[2021-01-27 17:57] shermes commented on #69533
Issue created: https://github.com/Azure/azure-cli/issues/16688#issue-795319152

[2021-01-27 18:12] #62970 closed

[2021-01-27 18:17] DerekHerman-MSFT commented on #69571
@stephen-cairns Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-01-27 18:17] ChaitanyaNaykodi-MSFT commented on #69573
Hello @becke-ch-s0-v1,
Thank you for your feedback! We will review and update as appropriate.

[2021-01-27 18:20] spelluru commented on #62867
@pmisiuda - This article is updated now. https://docs.microsoft.com/en-us/azure/azure-relay/service-bus-relay-security-controls#network.

Still waiting for the response regarding the UI deployment. Thanks.

[2021-01-27 18:21] ChaitanyaNaykodi-MSFT commented on #69578
Hello @gomateus,
Thank you for your feedback! We will review and update as appropriate.

[2021-01-27 18:22] spelluru commented on #64014
Here's the response from a dev: "Metrics are at namespace level for Log Analytics. "

[2021-01-27 18:23] CaitlinV39 commented on #69594
Thank you for catching this! It is resolved.

[2021-01-27 18:27] himanshusinha-msft commented on #69584
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2021-01-27 18:29] JayaChatterjee-MSFT commented on #69467
@vlkuznet Functions on windows and Linux work differently. Those settings are not needed/ expected for Linux function apps. Also, for Linux it is recommended to use the run from package instead and/or use a container. Did you encounter any issue when you don't include these settings?

[2021-01-27 18:31] JasonWHowell commented on #68885
#reassign:@enkrumah

[2021-01-27 18:31] PRMerger14 commented on #68885
GitHub user enkrumah has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2021-01-27 18:32] JasonWHowell commented on #68885
#reassign:@ebnkruma

[2021-01-27 18:32] PRMerger14 commented on #68885
ebnkruma is not a valid GitHub ID, or is not a collaborator on this repo.

[2021-01-27 18:41] #64891 closed

[2021-01-27 18:54] gregdegruy opened #69605 "Business Applications ISV Connect Program FAQ"
The link https://assetsprod.microsoft.com/business-applications-partner-faq.pdf for Business Applications ISV Connect Program FAQ is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bda9d41a-6433-8ab3-fb88-f5e4a0b007a2
* Version Independent ID: e443e57d-a600-982a-9b7c-9a509de0464d
* Content: [Microsoft Business A

[2021-01-27 19:01] sgel-msw opened #69606 "Screenshot is dated"
[Enter feedback here]
Hi,

Could you please provide an updated screenshot?  It looks very old and doesn't match what the current Marketplace looks like.

Thanks,
- Stephen

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90d78351-7bde-2224-ae47-1c567c65a05d
* Version Independent ID: cf1c0055-aca8-17e0-73ca-9b5688c25909
*

[2021-01-27 19:04] SaiKishor-MSFT commented on #69460
@ElanShudnow [Connect a virtual network gateway to an Azure Virtual WAN](https://docs.microsoft.com/en-us/azure/virtual-wan/connect-virtual-network-gateway-vwan) This article assists you to connect a VPN Gateway associated to a VNET in Azure to the Virtual WAN Gateway whereas article: [https://docs.microsoft.com/en-us/azure/virtual-wan/virtual-wan-site-to-site-portal.](https://docs.microsoft.com/e

[2021-01-27 19:14] BharathNimmala-MSFT commented on #69605
Thanks a lot @gregdegruy for bringing this to our notice, we will review and fix the link.

[2021-01-27 19:14] RyanHill-MSFT commented on #69599
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-01-27 19:15] jmprieur commented on #69540
@shashishailaj this is an issue for the ASP.NET Core team.

[2021-01-27 19:23] m1o1 commented on #67701
I think this documentation is what I was looking for:
https://docs.microsoft.com/en-us/azure/aks/azure-ad-rbac

But please correct me if I'm wrong:
* Using Azure AD as described in this document does not require any preview features.
* [Azure RBAC for Kubernetes Authorization](https://docs.microsoft.com/en-us/azure/aks/manage-azure-rbac) which is in preview, is only if we want to use Azure Roles (

[2021-01-27 19:31] ChaitanyaNaykodi-MSFT commented on #69603
Hello @brandonh-msft,
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-01-27 19:33] dalewolan commented on #69470
Executed delete command on 1 selected items
Succeeded: 0, Failed: 1, Canceled: 0.
Error details
dalewolanazdisk_2
<https://portal.azure.com/#resource/subscriptions/f19fc74c-ad43-46f1-b414-6b2709e90686/resourceGroups/DALEWOLANAZ_GROUP/providers/Microsoft.Compute/disks/dalewolanazdisk_2>:
Disk dalewolanazdisk_2 is attached to VM
/subscriptions/f19fc74c-ad43-46f1-b414-6b2709e90686/resourceGroups/DALE

[2021-01-27 19:34] JamesTran-MSFT commented on #69436
@KapilGeorge
Thank you for the quick reply and details!

We'd like to take a closer look into your environment and issue, can please email me with the info below. I'll go ahead and enable a one-time free technical support request for your subscription so you can work with our support engineers to get this issue resolved.

Email: AzCommunity@microsoft.com
Subject: ATTN - James Tran
Body:
[Azure Sub

[2021-01-27 19:35] #69436 closed

[2021-01-27 19:36] pietronromano commented on #69399
Thanks a lot to the team for your help
Turns out I was simply missing a  az account set --subscription <ID> to get the tool to select between a number of available subscriptions

[2021-01-27 19:43] JamesTran-MSFT commented on #69602
@cwickham33
Thank you for your inquiry!

In order to assign a VMSS a system-assigned managed identity you need write permissions over the resource. For example, for virtual machines you need Microsoft.Compute/virtualMachines/write. This action is included in resource specific built-in roles like [Virtual Machine Contributor](https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in

[2021-01-27 19:50] panitaxx commented on #68170
It works. Thanks!

[2021-01-27 19:53] dcolebatch commented on #68631
@bandersmsft @dhirajgandhi - there is no error, but in subscriptions with Reader role the `Partner information` panel contains no input box.  Simply this:

![portal azure com_](https://user-images.githubusercontent.com/161612/106045752-5fef6580-60af-11eb-9c2d-a5f7231ef451.png)

[2021-01-27 20:10] #57517 closed

[2021-01-27 20:15] KranthiPakala-MSFT commented on #69474
@firstpp
Thanks for leveraging Azure docs feedback channel to raise this question. This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. We didn't determine any changes for this documentation upon reviewing this feedback.

If your issue is specific to a use case, we request you to please reach out in forums like [Microsoft Q&A](https://do

[2021-01-27 20:17] phatcher opened #69611 "Don't understand the statement"
I'm trying to set up vulnerability scanning against a SQL Server and the page has the statement...

`The vulnerability assessment service can't access storage accounts protected with firewalls or VNets if they require storage access keys.`

All storage accounts have access keys, can this be made clearer.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2021-01-27 20:18] spelluru commented on #62867
@pmisiuda - The updated UI is live now. Thanks.

[2021-01-27 20:18] MubDubs opened #69612 "No X Button next to Disk"
In the Disks portion of the VM properties, there is no X to detach disks. Please update.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc8c8392-0eb4-cda5-c282-0656869b7a6b
* Version Independent ID: 5d4d2a61-9d83-a09e-2c33-36465a04e5c5
* Content: [Detach a data disk from a Windows VM - Azure - Azure Virtual Machines](h

[2021-01-27 20:20] wesmc7777 commented on #56161
Agreed that ARM templates should support creating enrollments. Unfortunately it is not yet available.  This is a known and understood request that we are wanting to provide in the future but presently do not have a committed timeframe for.

[2021-01-27 20:28] #69594 closed

[2021-01-27 20:31] RyanHill-MSFT commented on #53436
Hi @aclottan, I'm follow up with the team and will let you know the updates.

[2021-01-27 20:35] cherylmc commented on #69497
Updated to #additional. The update will publish this week. Thanks!

[2021-01-27 20:35] #56161 closed

[2021-01-27 20:35] cherylmc commented on #69497
#please-close

[2021-01-27 20:35] #69497 closed

[2021-01-27 20:36] ThomasPoppelgaard commented on #64371
Hi Vikancha, can you please update the page so the supported OS are under the NVv4 driver, you mention that Windows 10 Enterprise Multisession 1909 is supported now it only says 1903

[2021-01-27 20:39] DerekHerman-MSFT commented on #69524
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-01-27 20:42] cynthn commented on #69612
@MubDubs Thank you! Yes, it is labelled detach, not delete. Update should be live by 3:00 PM PST.

#assign @cynthn
#please-close

[2021-01-27 20:42] #69612 closed

[2021-01-27 21:16] rtb144 opened #69614 "This list is too damn long"
The FedRAMP list needs to be reformatted to make it readable.  It is getting too long see any of the column headers and understand the context of where you are on the page.
![this-fedramp-list](https://user-images.githubusercontent.com/10184928/106055106-2cf6a300-60aa-11eb-9678-f6bc3f98fcbb.jpg)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2021-01-27 21:20] YutongTie-MSFT commented on #69601
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-01-27 21:22] emuench commented on #69605
I have started making contacts to find the new link or if perhaps this doc is obsolete.

[2021-01-27 21:43] mimckitt commented on #62991
#reassign: @amjads1

[2021-01-27 21:43] PRMerger17 commented on #62991
amjads1 is not a valid GitHub ID, or is not a collaborator on this repo.

[2021-01-27 21:51] lujiangfeng666 commented on #69210
Non-CAE-capable client's behavior will not change and will not get claim challenge.

[2021-01-27 22:02] MicrosoftGuyJFlo commented on #66625
A 200 OK response should be returned. This has been escalated to the product group for review since it looks like some endpoints aren't working correctly. Thanks for calling it out. #please-close will make changes based on response from the PG when they resolve.

[2021-01-27 22:02] #66625 closed

[2021-01-27 22:02] iranogajec opened #69615 "Messed billing metrics"
Just before the picture you write that you are sending a 1Gbps worth of data and that is billed, but should that state 1GB of data so it reflects the true metric that is being billed?

![image](https://user-images.githubusercontent.com/71089031/106060192-04939680-60f4-11eb-9e89-dd49c08993a0.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2021-01-27 22:02] Dbakevlar commented on #63768
This was fixed in https://github.com/MicrosoftDocs/azure-docs-pr/pull/144638

[2021-01-27 22:04] Dbakevlar commented on #64553
Agreed and this is part of a larger document change that is going to be addressed.

[2021-01-27 22:04] dkamstra commented on #60782
Thanks for pointing this out. The fix is being merged.

[2021-01-27 22:14] Dbakevlar commented on #65214
The first change couldn't be merged due to repository challenges and have resubmitted the change to a new request: https://github.com/MicrosoftDocs/azure-docs-pr/pull/144649

[2021-01-27 22:18] DerekHerman-MSFT commented on #69505
@DaehyunLee Unfortunately I am not very familiar with the Azure AD B2C registration process. I recommend posting your question in https://docs.microsoft.com/en-us/answers/topics/azure-ad-b2c.html since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We

[2021-01-27 22:18] #69505 closed

[2021-01-27 22:28] BarbaraSelden commented on #68854
HI @kenwith @thommck-
 The redirection to myapplications.microsoft.com was temporary and it will be reverting back soon. thanks for being so on top of it!.

[2021-01-27 22:29] BarbaraSelden commented on #68854
Please close

[2021-01-27 22:41] kenwith commented on #68854
#please-close

[2021-01-27 22:41] #68854 closed

[2021-01-27 22:56] #69516 closed

[2021-01-27 22:57] #69453 closed

[2021-01-27 23:00] dipankar-ray opened #69616 "Misspelled reference to conda environment"
Looking at the section: https://docs.microsoft.com/en-us/azure/machine-learning/tutorial-1st-experiment-sdk-setup-local#workspace

In this section is this line:
In the window that has the activated **tutorial1** conda environment, run this code from the tutorial directory.

It refers to **tutorial1**, but the conda env created above was named *tutorial* (without the 1)

---
#### Document Details

[2021-01-27 23:06] BharathNimmala-MSFT commented on #69570
@simonzhaoms Thank you for reaching out, our team will review your query and get back to you at the earliest.

[2021-01-27 23:25] MarileeTurscak-MSFT commented on #69395
Hi Nassoor,

I couldn't find further documentation on this, but did find this [Stack Exchange thread](https://unix.stackexchange.com/questions/305643/ntpd-vs-systemd-timesyncd-how-to-achieve-reliable-ntp-syncing#:~:text=systemd%2Dtimesyncd%20is%20basically%20a,to%20replace%20ntpd%20for%20clients.) that describes some of the differences:

[2021-01-27 23:29] MarileeTurscak-MSFT commented on #69395
Also in that thread another comment says,

So based on that thread it seems like you do need NTP to get the time correct. https://unix.stackexchange.com/questions/305643/ntpd-vs-systemd-timesyncd-how-to-achieve-reliable-ntp-syncing#:~:text=systemd%2Dtimesyncd%20is%20basically%20a,to%20replace%20ntpd%20for%20clients.

[2021-01-27 23:30] MarileeTurscak-MSFT commented on #69395
Hope this helps! If you have further questions feel free to tag me in the comments or reach out to me and I can look for a more thorough description of the differences.

[2021-01-27 23:30] #69395 closed

[2021-01-27 23:36] savjani commented on #69077
Thanks @piotrgwiazda. Once again, thanks for reaching out and sharing your feedback. We will act on it soon.

@NavtejSaini-MSFT - need your help to close this issue. thanks !!!

[2021-01-27 23:41] mimckitt commented on #60359
#reassign: @amjads1

[2021-01-27 23:41] PRMerger16 commented on #60359
amjads1 is not a valid GitHub ID, or is not a collaborator on this repo.

[2021-01-27 23:43] kinwolfqc commented on #53844
When will Azure Devops be add as a trusted services?  Microsoft just changed the IP's again for the agents and now all our pipelines are failing.  Whitelisting is NOT a solution since the IPs keeps changing!

[2021-01-27 23:45] spelluru commented on #69578
Yes. That's right. It's referring to custom topics. System topics don't support managed identities yet. Please assign the issue to me if you aren't comfortable making the update and adding a note. Thanks.

[2021-01-27 23:49] spelluru commented on #38762
These articles have been updated recently.

#please-close

[2021-01-27 23:49] #38762 closed

[2021-01-27 23:51] JasonWHowell commented on #69560
I suspect this is not a docs issue, but a product design. This list of classifications is baked into the product, and visible in the drop-down shown here. The doc just lists what's there, which is a secondary issue.
![image](https://user-images.githubusercontent.com/5067358/106068233-1c97f580-60b5-11eb-99a0-8ab0b615798a.png)

[2021-01-27 23:55] jlichwa commented on #69271
@MisinformedDNA - the resource group name is an example. There will not be conflicts for AKV and SQL as shown below:
**akvrotation-kv**           akvrotation      eastus      Microsoft.KeyVault/vaults
**akvrotation-sql**          akvrotation      eastus      Microsoft.Sql/servers

[2021-01-28 00:03] msfcolombo commented on #68060
@PaulCojoc, please comment on documentation change https://github.com/MicrosoftDocs/azure-docs/commit/722c1430d41cc10b1a0a7c76968d07014e755b04.

[2021-01-28 00:09] natinimni commented on #29916
Hi @loic-sharma , supporting managed identities in the other way around actually means supporting AAD authentication :)  I can share that we have been actively working to support AAD authentication in Azure Cognitive Search, and are expecting a public preview later this year.

[2021-01-28 00:13] jeffstokes72 opened #69617 "where is the sentiment analysis?"
Article was fine years ago, now we just pump data into blob and call it a day? Fail.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9636d03-2832-6aaf-9b92-dc67e7ba16fb
* Version Independent ID: eb372908-c7f1-313b-198e-8f960cadda6c
* Content: [Real-time Twitter sentiment analysis with Azure Stream Analytics](https://do

[2021-01-28 00:25] msfcolombo commented on #68060
@brownz11 There is a limitation where Application Gateway is not trusted by Key Vault firewall if you specified a user-assigned managed identity in the Application Gateway resource.

Can you please verify if that is your case?

If yes, would you consider trying with a system-assigned managed identity?

For information on managed identity types, please see https://docs.microsoft.com/en-us/azure/act

[2021-01-28 00:41] tigormanmsft opened #69619 "Recommendations section for Disk Cache Settings incorrect"
On this page, there is a section headed "Disk Cache Settings".  Right below, there is a subsection headed "Recommendations" which reads...

...which is then followed by a screen shot.

Only the first sentence of these recommendations is correct, and the second and third sentences are incorrect.  Instead, this section should read as follows...

---
#### Document Details

⚠ *Do not edit this section

[2021-01-28 00:42] MarileeTurscak-MSFT commented on #69562
@cc91029
Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-28 00:54] kumarallamraju opened #69620 "Incorrect RBAC role while doing role assignments"
[Enter feedback here]
I believe it is "Azure Kubernetes Service RBAC Reader" not Azure Kubernetes Service RBAC Viewer

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42afd8de-b697-100c-98c7-ae8e6a6f1b92
* Version Independent ID: 81674054-0ea2-210b-2e65-18a0f15617c1
* Content: [Manage Azure RBAC in Kubernetes From Azure

[2021-01-28 00:55] brownz11 commented on #68060
@msfcolombo

We have considered using a System Assigned Identity, however Application Gateway are not on the list of resources that support System managed identities.

Even trying to force one out using ARM presents

"Resource type 'Microsoft.Network/applicationGateways' does not support creation of 'SystemAssigned' resource identity. The supported types are 'UserAssigned'. (Code: CannotSetResourc

[2021-01-28 01:12] Camios opened #69621 "Validate-JWT audiences vs required-claims "aud""
The validate-jwt policy allows two ways to check audience. Using the `<audiences><audience>` elements and secondly using the `<required-claims><claim name="aud" match="..."><value>`

Is there guidance for using one over the other?

e.g. Audiences element seems briefer, but lacks the flexibility of matching "all" or "any" other claim?

---
#### Document Details

⚠ *Do not edit this section. It is r

[2021-01-28 01:36] warrenkc commented on #69360
Thank you. However, I don't think you understand. I want to transcribe the speech from the system audio (loopback capture).
Example: Zoom meeting in Spanish. I need to be able to use the audio in real-time from the Zoom meeting in Spanish. This would be the audio coming out of the system speakers in real-time. **Not afterwards.**

[2021-01-28 01:48] VikasPullagura-MSFT commented on #69620
@kumarallamraju Thanks for the Feedback. We will check and update the document.

[2021-01-28 01:49] #69566 closed

[2021-01-28 02:06] NavtejSaini-MSFT commented on #69350
@christopheranderson We have added the line to say the same using  - https://github.com/MicrosoftDocs/azure-docs-pr/pull/144700 . Please review.

[2021-01-28 02:09] NavtejSaini-MSFT commented on #69466
@tknandu Please check the issue and provide feedback and if we need to make changes to the document as well.

[2021-01-28 02:12] NavtejSaini-MSFT commented on #69506
@mokabiru Please help with document that you need to be updated.

[2021-01-28 02:17] #69494 closed

[2021-01-28 02:21] VikasPullagura-MSFT commented on #69620
@kumarallamraju The document is updated by the author. The changes will go live soon.

[2021-01-28 02:21] #69620 closed

[2021-01-28 02:24] VikasPullagura-MSFT commented on #64371
@vikancha-MSFT-zz Can you please check and add your comments.

[2021-01-28 02:31] KrishnaG-MSFT commented on #69594
@CaitlinV39 Thanks for the super quick response. :+1:

[2021-01-28 02:33] KrishnaG-MSFT commented on #69612
@cynthn Thanks for the super quick response. :+1:

[2021-01-28 02:35] KrishnaG-MSFT commented on #69606
@sgel-msw Thanks for your comment! We will review and provide an update as appropriate.
@vikrambmsft FYI

[2021-01-28 02:37] KrishnaG-MSFT commented on #69598
@erapade Thanks for your comment! We will review and provide an update as appropriate.

[2021-01-28 02:41] NavtejSaini-MSFT commented on #69077
@piotrgwiazda Thank you for the confirmation. We are going ahead closing this feedback.

[2021-01-28 02:41] #69077 closed

[2021-01-28 03:35] ram-msft commented on #69360
@warrenkc Thanks for the details. We have forwarded to the product team as feature request to support real-time from the zoom meeting.

 You can also raise a user voice request [here](https://feedback.azure.com/forums/932041-cognitive-services) so the community can vote and provide their feedback, the product team then checks this feedback and implements the feature in future releases.
We will now

[2021-01-28 03:35] #69360 closed

[2021-01-28 04:06] AnuragSharma-MSFT commented on #69611
@phatcher Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-01-28 04:10] CHEEKATLAPRADEEP-MSFT commented on #69617
@jeffstokes72  Thanks for bringing this to our attention. I have assigned the issue to the content author to review further and update the document as appropriate.

[2021-01-28 04:10] ram-msft commented on #69616
@dipankar-ray Thanks for the feedback! We will review and update accordingly.

[2021-01-28 04:15] jelew opened #69623 "Issues with https://docs.microsoft.com/en-us/azure/virtual-machines/troubleshooting/troubleshoot-rdp-internal-error"
[Enter feedback here]
I found the following 4 issues with this doc...someone needs to check before publishing!

https://docs.microsoft.com/en-us/azure/virtual-machines/troubleshooting/troubleshoot-rdp-internal-error

Enable dump log and Serial Console
Step #2
reg load HKLM\BROKENSYSTEM F:\windows\system32\config\SYSTEM.hiv (ISSUE: this won't load the SYSTEM hive!)

Enable all supported TLS version

[2021-01-28 04:29] VikasPullagura-MSFT commented on #69623
@jelew
Thanks for the feedback! We will check and update the document as appropriate.

[2021-01-28 04:34] SwathiDhanwada-MSFT commented on #69274
@rboucher  Can you please review this and provide your insights ?

[2021-01-28 04:44] SwathiDhanwada-MSFT commented on #69428
@cweining Can you please provide your inputs on this?

[2021-01-28 04:49] ggailey777 commented on #69467
@vlkuznet thanks for point this out. It seems that I screwed-up in my recent update to this article. The linked PR in our private repo will fix this to read as mentioned by Jaya.

[2021-01-28 05:07] shankargurav commented on #68428
We have same issue in our tenant. Using custom policy and layouts. Did you found solution to it?

[2021-01-28 05:17] sandeepraichura opened #69625 "Why is the only Windows 10 client image only available to certain subscriptions ?"
[Enter feedback here]
There is a follow up question from customers asking why is Windows 10 client images not available to other subscription types, so it would be great to add an explanation in this document.  If customer is willing and pay and want to use, should they use a different subscription altogether ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2021-01-28 05:29] ramya-rao-a opened #69627 "App registration section can use some step by step instructions"
In https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-spa-app-registration#create-the-app-registration, we have a neat step by step instruction on how to do the app registration whereas in https://docs.microsoft.com/en-us/azure/active-directory/develop/app-objects-and-service-principals#application-registration we have walls of text and a screenshot.

Since app registration i

[2021-01-28 06:02] NMcCloud1997 commented on #51596
Hi, I'm not the original poster butI am having the same issue. Failed upgrade due to exceeding vnet ip quota, and trying to scale down fails. Please help. Thanks

[2021-01-28 06:05] VikasPullagura-MSFT commented on #69623
@jelew
I have assigned the issue to content author to check and update the document as appropriate.

[2021-01-28 06:06] VikasPullagura-MSFT commented on #69623
@genlin
Can you please check and add your comments on this doc update request as applicable.

[2021-01-28 06:18] yuishi-ms opened #69628 "The script to verify the GUID deployment doesn't work for Az 5.2.0"
[Enter feedback here]
The script to verify the GUID deployment doesn't work for Az 5.2.0.
I think it's because the return value of Get-AzResourceGroupDeploymentOperation has changed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db44bc8f-a6d7-8651-165d-929230435633
* Version Independent ID: c7847825-9d79-419e-a177-aca

[2021-01-28 06:32] VikasPullagura-MSFT commented on #69619
@tigormanmsft
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-01-28 06:32] VikasPullagura-MSFT commented on #69619
@Dbakevlar
Can you please check and add your comments on this doc update request as applicable.

[2021-01-28 06:33] VikasPullagura-MSFT commented on #69625
@sandeepraichura
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-01-28 06:33] VikasPullagura-MSFT commented on #69625
@cynthn
Can you please check and add your comments on this doc update request as applicable.

[2021-01-28 06:40] cweining commented on #69428
Yes, this bug has been fixed. It took us much longer than we thought and was just fixed in the last couple of months. I'll update the documentation in the next couple of days. Thanks for bringing it to our attention.

[2021-01-28 06:40] MayankBargali-MSFT commented on #69511
@mmulhearn I have tested it at my end and I can see ConfigureAppConfiguration method under the FunctionsStartup class.

![image](https://user-images.githubusercontent.com/67255909/106100035-ac937900-6161-11eb-9844-9baa219a3b1c.png)

Please verify if the [DependencyInjection extension](https://www.nuget.org/packages/AzureFunctions.Extensions.DependencyInjection/1.1.2) is installed.

[2021-01-28 06:46] NirajCricket opened #69629 "this document doesn't work, lacks clarity..fix it"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 597ba957-9501-5919-73a0-6d47b1ca2c6d
* Version Independent ID: 6345fa19-b3f2-ffd6-f526-908f845b51f6
* Content: [Use your TLS certificates for ingress - Azure Kubernetes Service](https://docs.microsoft.com/en-us/azure/aks/ingress-own-tls)
* Content Sou

[2021-01-28 06:47] KrishnaG-MSFT commented on #69397
@ababdul I see the link is fixed now so closing this issue for now. If there are further questions regarding this matter or questions or feedback on the referred documentation, please do let us know and we will gladly continue the discussion.
@rayne-wiselman Thanks a lot for fixing it. 👍

[2021-01-28 06:47] #69397 closed

[2021-01-28 06:51] KrishnaG-MSFT commented on #69411
Assigning @tfitzmac for visibility, review and document enhancement consideration.

[2021-01-28 06:53] KrishnaG-MSFT commented on #69416
@rayne-wiselman Thanks a lot for fixing it. 👍
@v-harrishe Closing this issue for now. If there are further questions regarding this matter or questions or feedback on the referred documentation, please do let us know and we will gladly continue the discussion.

[2021-01-28 06:53] #69416 closed

[2021-01-28 06:55] VikasPullagura-MSFT commented on #63768
@Dbakevlar Thanks for fixing the document.

[2021-01-28 06:55] #63768 closed

[2021-01-28 06:56] VikasPullagura-MSFT commented on #64553
@Dbakevlar Thanks for sharing the update.

@mabicca The document will address all your feedback as mentioned by @Dbakevlar

[2021-01-28 06:58] VikasPullagura-MSFT commented on #65214
@Dbakevlar Thanks for updating the document. Hope the changes will be live once it is merged.

[2021-01-28 06:58] #65214 closed

[2021-01-28 07:23] VikasPullagura-MSFT commented on #69629
@NirajCricket Thanks for your Feedback on the document.

Can you please elaborate a bit more on the issue you are facing while following this document. What is failing or not working for you.
Which part of the document needs clarity?

These details can help us to see if we are able to reproduce the issue at our end and then share the feedback to Document Authors for updating the document according

[2021-01-28 07:31] GuyPaddock opened #69630 "AKS Certification Rotation Re-creates Node Disks"
After running the `az aks rotate-certs` command on a cluster we had setup in early 2019, we observed that the OS disks on all of our cluster nodes have been recreated as part of rotating certificates. Each disk was 100 GB but is now 30 GB:
![image](https://user-images.githubusercontent.com/2631799/106104785-e720f580-6110-11eb-85a4-a646e39de622.png)

Is this behavior expected? If so, this should be

[2021-01-28 07:36] ChaitanyaNaykodi-MSFT commented on #69333
Hello @drojasug,
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-01-28 08:05] rich-davies opened #69631 "No mention as to how frequently the assessment is run"
Having installed the extension I appreciate that a 24-hour cycle may be required to complete vulnerability assessment.  However, after remediating vulnerabilities it is not clear when the instance is re-assessed. It doesn't seem to be daily.  Some guidance as to what this interval is would be appreciated.  Being able to manually kick off an assessment via a guest os command is all very well, but i

[2021-01-28 08:08] SnehaAgrawal-MSFT commented on #69382
@rogerhealy glad to know that issue successfully resolved.

Thanks for the Learn module feedback: https://docs.microsoft.com/en-us/learn/modules/publish-app-service-static-web-app-api/4-exercise-static-web-apps?pivots=angular

As it mentioned in the note as below:

"Your repository is a bit different than the ones you may have used in the past. It contains four different apps in four different fol

[2021-01-28 08:14] Nimleth opened #69632 "Conflicting ACR Admin account guidance"
Hi,

On this page you state "The container registry you use must have the admin account enabled", but the documentation of ACR states "The admin account is designed for a single user to access the registry, **mainly for testing purposes**."
They apparently changed the documentation and toned it down a bit because it used to stated that the admin account should not be used for production systems be

[2021-01-28 08:17] DavidTrigano commented on #69611
Hello @phatcher,

Thank you for the feedback. Can you please re-save Azure Defender for SQL settings?

[2021-01-28 08:22] alan0609 opened #69633 "Azure Service Bus trigger for Azure Functions Documentation Error"
I believe there is an error in the documentation for PeekLock behavior on the [Azure Service Bus trigger for Azure Functions page](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-service-bus-trigger?tabs=csharp#peeklock-behavior).

The documentation states that

As I understand it (and checked with some testing) it is only the Lock Duration that is limited to 5 minutes or

[2021-01-28 08:34] MCKLMT opened #69634 "Ingress requirements for AKS"
Hi,

I don't find any sentence about limiting ingress on AKS. Is it a requirement to get AKS working?

Thanks
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36ecef62-68f2-9e81-f4b6-da2b49d1a653
* Version Independent ID: a6c2c35a-8a12-a9de-0a4e-669cf8506892
* Content: [Support policies for Azure Kubernetes Service (AKS)

[2021-01-28 08:37] barmettlerl opened #69635 "Azure IOT Hub message routing: Filter on device twin tags not possible"
We have tried several times to filter the message based on a combination of a device twin property and a message body property. This however did not work. It is very difficult to debug in such cases, because we cannot see the full message (message + meta info like device twin) before we routing it. Any idea why this is not working?

Thanks in advance.

**Query:**
``` $body.name='ProcessData' AND $

[2021-01-28 08:40] ram-msft commented on #69364
@Raoulwe Thanks for the details. We could see the following links are working fine in the [doc](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/concepts-gating-overview).
based on Microsoft's principles for responsible innovation in AI.
https://www.microsoft.com/en-us/ai/responsible-ai?rtc=1&activetab=pivot1%3aprimaryr6

Disclosure for voice talent:
https://docs.microsoft.

[2021-01-28 08:44] Teja2608 commented on #69432
Hi,

Let's say, I got a domain: test.com configured in the listener. This will be mapped to a backend using the rule. When the backend is unhealthy Appgw will throw a 502 and  this can edited using custom page. In the similar way, If we configure a path based routing to different backend pool and the backend goes down can we redirect it to a custom page instead of default one?

[2021-01-28 08:49] lgayhardt commented on #68847
Hi @JFolberth,

Sorry for the delay.

Thank you for wanting to contribute to the docs. We really appreciate  it. I am going to pull your PRs to make additional changes to align it with the screenshot requirements we have for docs.

For future doc contributions please use MicrosoftDocs/azure-docs to create pull request. The two pull request you have now are in Microsoft/azure-docs, which I think is

[2021-01-28 08:51] SwathiDhanwada-MSFT commented on #69628
@yuishi-ms Thanks for your comment. We will review the issue and get back to you shortly.

[2021-01-28 09:12] CHEEKATLAPRADEEP-MSFT commented on #69576
@jcordtz  Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/144724](https://github.com/MicrosoftDocs/azure-docs-pr/pull/144724 )
The changes should be live EOD or tomorrow. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contributions.

[2021-01-28 09:12] #69576 closed

[2021-01-28 09:16] KrishnaG-MSFT commented on #69614
@rtb144 Thanks for your comment! We will review and provide an update as appropriate.

[2021-01-28 09:17] KalyanChanumolu-MSFT commented on #69598
@erapade Thank you for the feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2021-01-28 09:23] PramodValavala-MSFT commented on #69464
@verschaevesiebe Thanks for catching that! We have worked up a PR to address this, which once merged should reflect in a couple of hours.

[2021-01-28 09:33] #69464 closed

[2021-01-28 09:38] shashishailaj commented on #69627
@ramya-rao-a Thank you for your inputs on this. We will engage the content team to review this request and action it as appropriate.

[2021-01-28 09:38] JayaChatterjee-MSFT commented on #69467
@vlkuznet  Thanks for reporting this item! The author has updated the doc ( Thanks to @ggailey777) and it will be published soon. We appreciate the feedback! We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-01-28 09:38] #69467 closed

[2021-01-28 09:39] shashishailaj commented on #69631
@rich-davies Thank you for your feedback . We will investigate and update the thread.

[2021-01-28 09:47] SnehaAgrawal-MSFT commented on #69536
@almisson Thanks for asking question! When you uploaded a certificate via portal, portal will give a name to the certificate resource.

•	If you upload a PFX file, portal will set the certificate resource name to [Thumbprint]-[WebSpace name].
•	If you import a cert from Azure Key Vault, the certificate resource name is set to [Key Vault name]-[Key Vault Secret].
•	If you import Free/Managed certif

[2021-01-28 09:53] PramodValavala-MSFT commented on #69448
@hankbeasley Thanks for catching that! We have worked up a PR to address this, which once merged should reflect in a couple of hours.

[2021-01-28 09:57] lgayhardt commented on #68847
#please-close

[2021-01-28 09:57] #68847 closed

[2021-01-28 10:03] PramodValavala-MSFT commented on #69398
@phatcher Thanks for catching that! We have worked up a PR to address this, which once merged should reflect in a couple of hours.

[2021-01-28 10:03] vipulsparsh commented on #69631
@rich-davies For most of the resources it is checked every 24 hours. It calculates the status after 24 hours and if the recommendations has not been implemented it checks back those resources again in 24 hours.

However, there are following exemptions :
1) Operating system security configuration recommendations are updated within 48 hours.
2) Endpoint Protection issues recommendations are updated

[2021-01-28 10:16] #69277 closed

[2021-01-28 10:19] glprasanna opened #69638 "Is version 1.0.11 SSO plugin is compatible with JIRA 8.14 version ?"
Hi Team,

Is version 1.0.11 SSO plugin is compatible with JIRA 8.14  version ?

Regards,
Prasanna

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d38cad90-6574-38c2-3262-059a9f975064
* Version Independent ID: dd08d5c5-65a4-c2cc-8b51-7a35268dde68
* Content: [Tutorial: Azure Active Directory single sign-on (SSO) integrati

[2021-01-28 10:27] SwathiDhanwada-MSFT commented on #69579
@rboucher Can you please review this feedback and update document accordingly?

[2021-01-28 10:31] rich-davies commented on #69631
Thanks for the clarification.  Could you update the documentation to reflect this?  It would also be good to understand if there is a way to initiate a re-scan of instances from the Azure Console, or via API.

[2021-01-28 10:33] KrishnaG-MSFT commented on #69638
@glprasanna Thanks for reaching out!

If the issue is related to particular Azure document then as [this](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions, etc.) so please share the Azure document link and more context

[2021-01-28 10:36] KrishnaG-MSFT commented on #69615
@iranogajec Thanks for your comment! We will review and provide an update as appropriate.

[2021-01-28 10:38] AshokPeddakotla-MSFT commented on #69255
@fgheysels Since we are working with you offline, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-01-28 10:38] #69255 closed

[2021-01-28 10:38] AshokPeddakotla-MSFT commented on #69406
@Strkli Could you share your code as requested? I am unable to repro your issue.

[2021-01-28 10:39] #69398 closed

[2021-01-28 10:40] KrishnaG-MSFT commented on #69621
@Camios Thanks for your comment! We will review and provide an update as appropriate.

[2021-01-28 10:59] jeevanbalanmanoj opened #69639 "Ambiguity in whether new resources will get onboarded on not"
[Enter feedback here]
 A customer was unable to understand if new resources will automatically get onboarded to the management system. It will be super helpful if we can confirm the same in the documentation somewhere. More details [here](https://stackoverflow.microsoft.com/questions/240557). I can work with the team to get this done if needed. Looking forward to hearing from you.

---
#### Docume

[2021-01-28 10:59] austintraver commented on #43666
Checking in one month later, this issue has not been fixed.

[2021-01-28 11:00] grumm90 commented on #65873
This is how it works:
There are 4 nodes and two load balancer:
jiraloadbalance1.example.com
jiraloadbalance2.example.com
jiranode1.example.com
jiranode2.example.com
jiranode3.example.com
jiranode4.example.com
Each the there is a request its answers are from one of the nodes on behalf of the load balancer.
The two load balancers have floated a floating IP.

So we have only one ACS URL.
Regards,
Gab

[2021-01-28 11:05] AshokPeddakotla-MSFT commented on #69635
@barmettlerl Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-01-28 11:06] theseha commented on #33997
@shashishailaj Wouldn't there be host-based solution for tenant restriction in case that the employees logon SaaS solutions from home-network or else. Understand that Conditional Access is an alternative for now, but it will block whole access to the SaaS.

https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/tenant-restrictions#fiddler-for-a-host-based-approach

[2021-01-28 11:09] KrishnaG-MSFT commented on #69570
@simonzhaoms Thanks for reaching out!

[This](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting Azure doc bugs, Azure doc enhancements, Azure product issues related to wrong doc instructions, etc.) so if issue is intended to update / correct / enhance anything in an Azure document then going for

[2021-01-28 11:39] Milanski commented on #68469
Hi @superstandy,
In your release pipeline you can add AzureCLI and execute:
`AGENT_IP=$(curl ifconfig.me)
az aks update --resource-group <rg_name> --name <aks_name> --api-server-authorized-ip-ranges ${AGENT_IP}`
before the deployment. This will authorize only the ip of the build agent only.
After that you should execute bash "sleep" for 2-3 minutes.

[2021-01-28 11:43] SubhashVasarapu-MSFT commented on #69518
@RonnieQuan, Appreciate your patience. days: 0 is infinite retention where infinite retention = no deletion. We are assigning this issue to the respective content author for updating the doc if necessary.

[2021-01-28 11:44] SubhashVasarapu-MSFT commented on #69561
@szirbucz, we are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-01-28 11:44] #69561 closed

[2021-01-28 12:11] PankajMeshramCSA opened #69640 "DB2 Cluster configuration commands"
Hi Team,

I have build the ansible automation for DB2 HA and pacemaker configuration. My setup is running on Rhel 8.1 with DB2 11.5
While doing this piece of work, I noticed few changes for RHEL 8.1.

I see you are using master in some of the commands for cluster configuration. The command has been changed to "promotable"  in Rhel 8
Example
 following command will use promotable in rhel 8.1
# Repl

[2021-01-28 12:13] DeanGross opened #69641 "PCI compliance"
I have the PCI DSS 3.2.1 compliance policy in my tenant, but this is not mentioned in the documentation. Is this an oversight or has it been deprecated?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9fbe6ca-1f70-657b-fc1a-c488335bdef6
* Version Independent ID: 4962534a-ec5a-bc9a-f0ec-2074cf446807
* Content: [Using th

[2021-01-28 12:21] RohitMungi-MSFT commented on #69632
@Nimleth Thanks for the feedback. We are investigating the issue and will update you shortly.
@Blackmist FYI.

[2021-01-28 12:27] pbakhil opened #69642 "unused variables"
Unused variables listed. The variables memberServerName and memberDatabaseName never used any where in the script.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 856c3148-4309-2d97-d093-b29a4481cb8f
* Version Independent ID: 0d057151-804f-3c7e-fc1f-be792b7e59f2
* Content: [PowerShell: Sync between multiple databases in

[2021-01-28 12:29] thommck opened #69643 "Clarity on .NET"
Why do the DC Agent and Proxy Service require different (and both non-current) versions of .NET?
Proxy says .NET 4.7
DC agent says .NET 4.5
Did you mean that is the minimum version but anything above that is fine (and recommended)?
The current version is .NET 5.0 and the latest previous version is 4.8 - https://dotnet.microsoft.com/download

---
#### Document Details

⚠ *Do not edit this section.

[2021-01-28 12:33] genlin commented on #69150
@jelew Thanks for the feedback. I check with our product team to see if this is by design, and update the article.

[2021-01-28 12:44] psmanhas commented on #69538
@khetheri Can you please confirm if you are referring to control plane MI? What is the exact command you are trying to run.

Also when you say two different subscription are those two subscription part of same tenant or different tenant altogether.

The reason I am confirming this is because as per [this ](https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/k

[2021-01-28 12:44] psmanhas commented on #69538
@khetheri Can you please confirm if you are referring to control plane MI? What is the exact command you are trying to run.

Also when you say two different subscription are those two subscription part of same tenant or different tenant altogether.

The reason I am confirming this is because as per [this ](https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/k

[2021-01-28 12:45] AnuragSharma-MSFT commented on #69642
@pbakhil Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-01-28 12:49] pvones opened #69644 "Webhook payload JSON example incorrect"
The Webhook payload JSON example says

But the actual value is **Succeded**, not the Success. Would be possible to provide some service metadata to create C# client code **automatically** (SOAP services can do it based on WSDL for ages) instead of forcing us to waste hours by the try-and-fail approach?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2021-01-28 12:58] mmulhearn commented on #69511
@MayankBargali-MSFT I do not have that referenced and that does fix the issue.  The documentation does not mention or reference that pkg so I did not know it was required.

[2021-01-28 13:07] nick-cloud-maker-ai opened #69645 "Bacpac import should be conditional on create"
It would be great if bacpac import via ARM could be improved so that I didn't have to remove the Import extension If I wanted to run my ARM template again to update additional parts of my infrastructure. Importing a bacpac should be conditional on database creation, and on update, it shouldn't run.

The current approach isn't very true to the declarative nature of IaC and means I need to remember

[2021-01-28 13:07] lokijota opened #69646 "Broken link on the pre-requisites section"
On the top of the page, on the Prerequisites part, there's a link to "set up the environment". This link points to https://review.docs.microsoft.com/en-us/azure/media-services/live-video-analytics-edge/detect-motion-emit-events-quickstart?branch=release-preview-media-services-lva#set-up-the-environment and is broken, I get a 404:

We are sorry, the page you requested cannot be found.
The URL may b

[2021-01-28 13:46] Blackmist commented on #69632
Thanks for the feedback @Nimleth ! Currently the ability to use a managed identity is in public preview. You can find information on using managed identities with Azure Machine Learning at [https://docs.microsoft.com/azure/machine-learning/how-to-use-managed-identities](https://docs.microsoft.com/azure/machine-learning/how-to-use-managed-identities), including how to use an existing ACR without en

[2021-01-28 13:49] NavtejSaini-MSFT commented on #69350
@ThomasWeiss @christopheranderson Please review the above PR.

[2021-01-28 14:07] danmyhre opened #69649 "Contains"
It should be clarified that the "Contains" operator is not used in the normal sense here...it is doing partial string matches, not item in a collection matches.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f7a4070-1be8-5f1f-0092-68fb6b9e2305
* Version Independent ID: cd34312f-b507-affe-555e-1e0c63e7d494
* Content: [

[2021-01-28 14:08] Aaronmcd1978 commented on #69228
Hi
When i create dcr with az REST API commands for windows Vm i still need to configure workspace to view event logs. When I create dcr the same way on a linux VM Syslogs are viewed automatically. Is there a reason for this ?

[2021-01-28 14:10] almisson commented on #69536
Thanks for the information. Is this naming convention how the Azure process which syncs certificates after they're updated in key vault works? If it is not based upon naming convention, is there more information you can provide on how Azure knows which certificate resources to update after a certificate in key vault gets updated?

[2021-01-28 14:11] Aaronmcd1978 commented on #69228
Also when can we expect  DCR's to be able to deploy at scale via policies ect. ?

[2021-01-28 14:20] wingmans opened #69650 "Add reference to automation options"
[Enter feedback here]
Please refer to options to do this in an automated way instead of manual through the portal as well

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f7ced07-0b71-715f-749b-180567591c72
* Version Independent ID: 8c533d7b-a058-3f1a-c296-9c0305f85f13
* Content: [Understanding the Azure Active Director

[2021-01-28 14:27] Nimleth commented on #69632
@Blackmist
Hi Larry,

Super, thanks.

Rgds,
Dennis

[2021-01-28 14:27] #69632 closed

[2021-01-28 14:34] XristophD commented on #69228
@Aaronmcd1978 , what is your goal with Policies?
I guess it would be good to open another issue since your question is drifting away from the initial topic.

You already can deploy DCRs and DRC-Associations via ARM. The documentation officially states, that DCRs are not able to be deployed via ARM template yet, but this is not true, I already deploy them via ARM.

it might be that you need to take

[2021-01-28 14:39] XristophD commented on #69228
@SwathiDhanwada-MSFT, @Aaronmcd1978

I guess I figured my issue with the VMs not sending logs have been a network issue. As stated in the [documentation](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/azure-monitor-agent-overview#current-limitations), VMs with the Agent installed need to have connection to the endpoints:

- *.ods.opinsights.azure.com
- *.ingest.monitor.azure.com
- *

[2021-01-28 14:41] Aaronmcd1978 commented on #69228
@Xristoph I can also deploy via ARM template but the template in question does not install the Monitor agent as it suggest

[2021-01-28 14:45] abhiramani-iptiq opened #69651 "update this document with static azuefile NFS Share with kubernetes"
Hi
can you update this document with static azuefile NFS Share with kubernetes example?
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc6adf61-d0eb-f95c-60a7-bd3e1b52b5a5
* Version Independent ID: e1a7cc5d-2988-3c62-5169-48eac7c0fc47
* Content: [Use Container Storage Interface (CSI) drivers for A

[2021-01-28 14:52] DwayneSelsig opened #69652 "Reply URL is required for the Itslearning app. What to enter?"
In section "Configure Azure AD single sign-on" number 4:
[The screenshot is not up te date.]

a. The "Sign on URL" is correct
b. The "Identifier (Entity ID)" is correct
c. [MISSING] A reply URL is also required, but not mentioned. What do I enter there?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bfc4dd95-3402-dbc2-

[2021-01-28 15:05] SnehaAgrawal-MSFT commented on #69646
@lokijota Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-01-28 15:11] barmettlerl commented on #69635
Thank you.

[2021-01-28 15:31] macolso commented on #69596
Hi @Redukes425 - thanks for the feedback. We will update the docs accordingly

[2021-01-28 15:31] tfitzmac commented on #69645
@nick-cloud-maker-ai - I have not worked with bacpac so I don't know if this necessarily applies, but have you tried using [conditional deployment](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/conditional-resource-deployment) on the extension resource.

[2021-01-28 15:31] #64014 closed

[2021-01-28 15:32] ssabat opened #69654 "Move sunscriptions and resources from tenanat to tenant"
What would be method to move resources in a subscription of current tenant to new tenant under new or same subscription?
Can we use **az export and then az create**  cli?

Can you give an example? We need it to move **Azure Data Factory** resource from  one tenant to another for a customer scenario.
Azure Data Fcatory can be exported as **ARM template with parmeters** and can be imported into a su

[2021-01-28 15:37] iamalexmang commented on #68602
Oh, really?!
I'd love to learn what the impact of the `scope` property/field is in this regard and also what's the difference in between this property and the `scope` property of the `roleAssignment` object.

[2021-01-28 15:40] MonikaReddy-MSFT commented on #69654
@ssabat -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-01-28 15:57] MonikaReddy-MSFT commented on #69490
@WenceyWang -Have you tried using **`Get-AZVM`** or **`Get-AzOSDisk`**.

[2021-01-28 16:00] shashishailaj commented on #69639
@jeevanbalanmanoj Thank you for your feedback . We will investigate and update the content authors with the requirements.

[2021-01-28 16:07] shashishailaj commented on #69641
@DeanGross Thank you for your query. We will investigate and provide an update soon .

[2021-01-28 16:10] shashishailaj commented on #69643
@thommck Thank you for your feedback . We will investigate and update the thread.

[2021-01-28 16:13] Aaronmcd1978 commented on #69228
@xristoph I can also see Event logs from Windows Virtual machine. It needs to be conigured from the workspace in Advanced settings.

[2021-01-28 16:21] naiteeks commented on #65380
adding @bennage to comment on this.

[2021-01-28 16:22] naiteeks commented on #65381
This has now been added to the docs: https://docs.microsoft.com/en-us/azure/media-services/live-video-analytics-edge/get-started-detect-motion-emit-events-quickstart#set-up-azure-resources

See the list of resources under point 4.

We can close this issue.

[2021-01-28 16:25] naiteeks commented on #65384
the setup script has been updated to take care of the deprecation messages. This is good to close.

[2021-01-28 16:26] JamesTran-MSFT commented on #69649
@danmyhre
Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-28 16:26] wtcan99 opened #69656 "Is it possible to WID instead WorkerID?"
We would like to use WID to locate worker in Workday. Is it possible? Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be669f51-5f2a-3e2b-ebd7-b5268e473044
* Version Independent ID: ec36c599-5a24-3317-bcd0-3c6f21902fd3
* Content: [Tutorial: Configure Workday writeback in Azure Active Directory](https://docs.micro

[2021-01-28 16:27] JamesTran-MSFT commented on #69650
@wingmans
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-01-28 16:28] naiteeks commented on #65385
changes are in. This will be updated by tomorrow. Good to close this issue.

[2021-01-28 16:28] JamesTran-MSFT commented on #69652
@DwayneSelsig
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-01-28 16:29] naiteeks commented on #65386
The doc is updated with the info on how to get the Endpoint information. This is good to close as well.

[2021-01-28 16:36] wingmans commented on #69650
Thanks James, the link to the issues page is broken as well. There are many more inconsistencies in the docs, this makes it a nightmare to understand the tech. Dotnet framework upgrades broke many things, inconsistent language/terms etc. Horrible experience, however to be fair: it improved over the years.

My main complaint is the style of writing. It's still propaganda, and doesn't have the quali

[2021-01-28 16:43] Rinki-MSFT opened #69657 "MSAL support for UWP on Win 8.1"
MSAL doesn't seem to support UWP on Win 8.1 platform. The lowest is uap10.0 as per this [wiki](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/msal-net-2-released#modernization-of-the-platforms-supported-by-msalnet).
This [doc](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-net-uwp-considerations) should be updated. It says Win 8.1 should work with

[2021-01-28 16:44] ecfan commented on #69333
Hi @drojasug,

A couple questions about your suggestion...

* What did you mean by setting up the Contributor *log*?
* When you say to log in with the Contributor account, where exactly are you logging in? To the Azure portal or to Office 365?

Thanks!

[2021-01-28 16:46] rbgigo opened #69658 "When will Azure load-balancer supported for AcI?"
I noticed that currently placing an Azure Load-Balancer in front of container instances in a networked container group is not supported.

Will this support be available sooner or later?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c7387c7-c5ea-584a-1463-eeb562b2cf4d
* Version Independent ID: 7

[2021-01-28 16:59] RyanHill-MSFT commented on #69599
@juliako, please see open PR for review. Does the [raw topology.json](https://raw.githubusercontent.com/Azure/live-video-analytics/master/MediaGraph/topologies/cvr-asset/topology.json) need to be updated separately?

[2021-01-28 17:02] JamesTran-MSFT commented on #69657
@Rinki-MSFT
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-01-28 17:05] drojasug commented on #69333
Hi Esther,
Thanks for getting back on this. Please find below my answers:

- Sorry I think that was a typo. I meant once you set the account as a Contributor.
- The first one. Azure Portal. I needed to log with the account I set as a Contributor.

You are right.

Thanks a lot!

[2021-01-28 17:08] MonikaReddy-MSFT commented on #69317
@chadcarlton - I have reached out to product team and awaiting their response. Thank you for your patience and co-operation on this.

[2021-01-28 17:09] ThomasWeiss commented on #69350
I feel like adding this would require a small redesign of the sections, probably something like:
1. Use the Azure portal
  a. Data Explorer
  b. Integrated Mongo shell

@christopheranderson any thoughts?

[2021-01-28 17:10] memildin commented on #69583
Hi @porrascarlos802018, thanks for the feedback and for taking the time to share it.

The technical steps to be taken, AKA the remediation steps, are available within the UI. We've made a conscious decision **not** to duplicate them in the docs, since they're so easy to access within the product itself:

![image](https://user-images.githubusercontent.com/55078580/106173206-5bed4180-619c-11eb-8da9-

[2021-01-28 17:10] #69583 closed

[2021-01-28 17:12] VikasPullagura-MSFT commented on #69640
@PankajMeshramCSA
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-01-28 17:12] VikasPullagura-MSFT commented on #69640
@msjuergent
Can you please check and add your comments on this doc update request as applicable.

[2021-01-28 17:12] ecfan commented on #69333
@drojasug, how about this updated version?

![image](https://user-images.githubusercontent.com/13206671/106173549-e906ab00-6148-11eb-987f-17bc724bc58a.png)

[2021-01-28 17:14] krish-gh commented on #62110
This issue was also reported in  StackOverflow https://stackoverflow.com/questions/65846738/how-does-message-locking-and-lock-renewal-work-in-azure-service-bus

[2021-01-28 17:33] Strkli commented on #69406
Sorry Ashok, I had deleted that code after I was unable to get it to work.
Frankly, I had bastardized the code so badly that it was useless.
I was successful at displaying the map using a different tutorial, and I'll
continue to work from there.

Thanks, and sorry we didn't resolve this issue, I'm confident I must have
done something wrong.

On Thu, Jan 28, 2021 at 5:39 AM AshokPeddakotla-MSFT <
n

[2021-01-28 17:37] GuyPaddock commented on #69630
Related to https://github.com/Azure/AKS/issues/1468.

[2021-01-28 17:37] cynthn commented on #69625
#assign @mimckitt

[2021-01-28 17:37] KrishnaG-MSFT commented on #69542
@anirudhcavale Thanks a lot for providing insights offline.

@xuegao0112 The 50,000 time series limit is set at a subscription AND region level. So Subcription A in West US has 50K, and Subscription A in East US is another 50K. For the second question, currently there is no really good way to determine this yet.

Just FYI, [this](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repos

[2021-01-28 17:37] #69542 closed

[2021-01-28 17:43] KrishnaG-MSFT commented on #69630
@GuyPaddock Thanks for your comment! We will review and provide an update as appropriate.

[2021-01-28 17:43] rwike77 commented on #41671
We have an ADO work item tracking this doc enhancement work item (#1276439). We'll update this thread when the work is completed.
For now, #please-close

[2021-01-28 17:43] #41671 closed

[2021-01-28 17:47] rwike77 commented on #60373
Opened ADO work item 1276443 to track this issue. Will loop back here once that doc work item has been resolved.

For now, #please-close

[2021-01-28 17:47] #60373 closed

[2021-01-28 17:53] KrishnaG-MSFT commented on #69633
@alan0609 Thanks for your comment! We will review and provide an update as appropriate.

[2021-01-28 17:53] TiloGit opened #69659 "BYOL with RH OCP lic?"
Please clarify if adding own RH pull secret will drop the RH OpenShift license cost of ARO.

https://docs.microsoft.com/en-us/azure/openshift/tutorial-create-cluster#get-a-red-hat-pull-secret-optional

RH OpenShift license cost on Worker nodes
https://azure.microsoft.com/en-ca/pricing/details/openshift/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2021-01-28 17:54] KrishnaG-MSFT commented on #69634
@MCKLMT Thanks for your comment! We will review and provide an update as appropriate.

[2021-01-28 17:56] KranthiPakala-MSFT commented on #69474
@firstpp
We will now proceed to close this thread. Once your issue is posted in forum, please do share the forum thread link here for tracking. If there are further questions please continue to comment. We will gladly continue the discussion.

Thank you

[2021-01-28 17:56] #69474 closed

[2021-01-28 17:59] phatcher commented on #69611
@DavidTrigano Yes, I can, but I'm actually trying to configure this via terraform and I don't understand the semantics of "_if they require storage access keys_", are you implying that the correct RBAC permissions must be granted instead?

[2021-01-28 18:03] DavidTrigano commented on #69611
Yes

[2021-01-28 18:22] cbardini commented on #55765
I am having the same issue. I am allowed to add an array to the device twin in Azure, but I cannot change the reported properties from my device. I get the same error stating that "arrays are not supported"

[2021-01-28 18:23] anilmur commented on #69646
@SnehaAgrawal-MSFT  - the correct fwdlink is https://docs.microsoft.com/en-us/azure/media-services/live-video-analytics-edge/detect-motion-emit-events-quickstart?pivots=programming-language-csharp#set-up-your-development-environment

Can you please follow up with @Juliako to get this fixed?

[2021-01-28 18:24] TravisCragg-MSFT commented on #69354
@ThomasPoppelgaard Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-01-28 18:24] #69354 closed

[2021-01-28 18:29] phatcher commented on #69611
@David you might actually want to say that, as although it's implied, you don't mention granting RBAC access anywhere that I can see, and I can't work out which service principal I would be granting access to?

[2021-01-28 18:31] adiun opened #69661 "Product link is broken"
If you click to give feedback for `This Product` at the bottom of the page, the link is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2d68613-eaa2-12ca-d1e8-8fb2278ed534
* Version Independent ID: fb7a90f3-6eee-0d6b-59c5-58041b2c2c86
* Content: [Retrieve the current POP IP list for Azure CDN](https://docs.micr

[2021-01-28 18:31] BryanTrach-MSFT commented on #67950
@cephalin It doesn't appear that your PR was merged with the document as I'm not seeing your edits on the doc.

[2021-01-28 18:33] JamesTran-MSFT commented on #69649
@danmyhre
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-01-28 18:37] JamesTran-MSFT commented on #69602
@cwickham33
Thank you for your time and patience throughout this issue!

Since our [FAQ page](https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/known-issues#can-i-use-a-managed-identity-to-access-a-resource-in-a-different-directorytenant) describes what permissions are needed to assign a system-assigned managed identity to your resources, I'll go ahead and

[2021-01-28 18:48] utraghuv commented on #69061
@Herman5006 Can you confirm if the nslookup is hitting your DNS server and not the global DNS?

[2021-01-28 18:57] FFRakesh opened #69662 "While deploying ARM Templates to test ADF instance in incremental mode, the deleted linked services from Dev ADF instance is still reflecting in Test ADF instance."
# While deploying ARM Templates to test ADF instance in incremental mode, the deleted linked services from Dev ADF instance is still reflecting in Test ADF instance.

# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Cr

[2021-01-28 19:04] drojasug commented on #69333
This looks great.
Thanks a lot! Hopefully, it will help people facing the same error in the future.

[2021-01-28 19:09] EverNewJoy commented on #25394
I can echo this experience, but the current solution which is more streamlined than an arbitrary support ticket request for additional vcpus is to open a new support ticket in Azure Portal as follows:

**Switch To Pay By Invoice**
https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/pay-by-invoice

Which simplifies the process greatly :)

♥

Rama

[2021-01-28 19:10] ecfan commented on #69333
Thanks, @drojasug! I'll sign off on the PR, which should go live late afternoon.

[2021-01-28 19:10] #69333 closed

[2021-01-28 19:15] RyanHill-MSFT commented on #53436
@aclottan did you get your error following this guide as well or your own project?

[2021-01-28 19:28] MarileeTurscak-MSFT commented on #69656
@wtcan99
Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-28 19:39] MarileeTurscak-MSFT commented on #69146
The product team confirmed that yes, it seems to be a miss in the documentation. Just like OutputClaims, PersistedClaims also supports the AlwaysUseDefaultValue. It should be included in the documentation.

I made a pull request to add this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/144802

[2021-01-28 19:39] #69146 closed

[2021-01-28 19:42] MarileeTurscak-MSFT commented on #69123
Thank you, @Rnalivaika. Could you please share your logs with me? Logs can be found at https://docs.microsoft.com/en-us/troubleshoot/azure/active-directory/installation-issues#procedure

If you would prefer you can send them to me at AzCommunity@microsoft.com ("Attn: Marilee Turscak")

[2021-01-28 19:48] #69326 closed

[2021-01-28 19:48] ChaitanyaNaykodi-MSFT commented on #69326
Hello @EasyAsABC123,
We were able to replicate the issue mentioned, so we have made the changes in the doc, you will able to see the changes in next 24 hours. Please let us know if you have any further concerns. Thank you!

[2021-01-28 19:53] trailblazer0711 opened #69664 "The page about integration with Grammarly is inaccurate"
On this page:
https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/grammarly-tutorial#feedback

The information in step #5 shows that  **EmailAddress** has to be mapped to **user.principalname**. In my account, I can see that the default mapping for **EmailAddress** is **user.mail**. Please verify which one is correct and update one of the sources.

---
#### Document Details

⚠ *Do no

[2021-01-28 20:00] EasyAsABC123 commented on #69326
@ChaitanyaNaykodi-MSFT did you also update the `func` tool to generate these functions correctly?

[2021-01-28 20:07] JamesTran-MSFT commented on #69664
@trailblazer0711
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-01-28 20:14] himanshusinha-msft commented on #69336
@BenjaminWCarne  : Sorry for the delay in response on our side . As far as I am have know i dont think ADF provide a lot of details on the bad request , but I can be wrong , so I am looping in @linda33wj  to comment on the same .
@linda33wj  : Can you please let us know your thoughts on this please ?

[2021-01-28 20:31] Duffney commented on #42467
Hi @mikmikmikmik,

I have an open [PR ](https://github.com/Azure-Samples/ansible-playbooks/pull/86)to update the `vmss-scale-out.yml` Ansible playbook.

Here's the playbook with my proposed changes. I've confirmed it works with version Ansible 2.9+.

Thank you so much for taking the time to submit the issue,

vmss-scale-out.yml

[code]

[2021-01-28 20:35] sidkri commented on #69448
@hankbeasley thanks for catching that!

[2021-01-28 20:47] #68353 closed

[2021-01-28 21:04] AjayKumar-MSFT commented on #69444
@samfromlv, Thanks for the detailed description of the scenario and your suggestion on adding clarity on Local Cache for Functions. Since Local cache is not fully functionally, so the doc states (it as a note 'Local cache is not supported in Function app'). So, from the doc, the idea is not to set/add app setting 'WEBSITE_LOCAL_CACHE_OPTION = Always' for Azure Function apps. Our team is working on

[2021-01-28 21:13] cmmdesai commented on #69656
WID is only supported as the primary key. For matching attribute in the Writeback scenario, please use WorkerID.

[2021-01-28 21:23] justinkneff opened #69666 "BrokeredMessage no longer available on Microsoft.Azure.WebJobs.Extensions.ServiceBus"
I no longer see see "BrokeredMessage" for service bus triggers. I am using Microsoft.Azure.WebJobs.Extensions.ServiceBus 4.2.1. I do however find "Message" entity.

Azure Functions Version 3.11
netcoreapp 3.1
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d50399c-0873-e903-35ca-1845c84b6c6c
* Version Independent ID: 1a

[2021-01-28 21:32] kenwith commented on #51174
Thank you for the feedback in improving the doc. I have added this item to our backlog so that it can be prioritized and worked on as appropriate.

#please-close

[2021-01-28 21:32] #51174 closed

[2021-01-28 21:33] kenwith commented on #53176
Thank you for the feedback in improving the doc. I have added this item to our backlog so that it can be prioritized and worked on as appropriate.

#please-close

[2021-01-28 21:33] #53176 closed

[2021-01-28 21:33] kenwith commented on #54104
Thank you for the feedback in improving the doc. I have added this item to our backlog so that it can be prioritized and worked on as appropriate.

#please-close

[2021-01-28 21:34] #54104 closed

[2021-01-28 21:34] maximivanov opened #69667 "Clarify WEBSITE_HEALTHCHECK_MAXPINGFAILURES"
From what I understand `WEBSITE_HEALTHCHECK_MAXPINGFAILURES` app setting in Azure Functions corresponds to the `Load Balancing` time input in the Portal UI:

<img width="854" alt="Screen Shot 2021-01-28 at 21 18 42" src="https://user-images.githubusercontent.com/1759643/106200339-ba232000-61ae-11eb-852d-6c7a6aaa1cd2.png">

In the referenced [docs page](https://docs.microsoft.com/en-us/azure/azure-

[2021-01-28 21:35] kenwith commented on #55972
Thank you for the feedback in improving the doc and explanation on your findings. I have added this item to our writing backlog so we can prioritize doc updates.

#please-close

[2021-01-28 21:35] #55972 closed

[2021-01-28 21:35] kenwith commented on #56334
Thank you for the feedback in improving the doc. I have added this item to our backlog so that it can be prioritized and worked on as appropriate.

#please-close

[2021-01-28 21:35] #56334 closed

[2021-01-28 21:37] kenwith commented on #58671
See referenced PR above. If other updates are needed please go ahead and re-open. #please-close

[2021-01-28 21:37] #58671 closed

[2021-01-28 21:37] kenwith commented on #57942
Thank you for the feedback in improving the doc. I have added this item to our backlog so that it can be prioritized and worked on as appropriate.

#please-close

[2021-01-28 21:37] #57942 closed

[2021-01-28 21:38] kenwith commented on #59332
Thank you for the feedback in improving the doc. I have added this item to our backlog so that it can be prioritized and worked on as appropriate.

#please-close

[2021-01-28 21:38] #59332 closed

[2021-01-28 21:38] kenwith commented on #59760
Thank you for the feedback in improving the doc. I have added this item to our backlog so that it can be prioritized and worked on as appropriate.

#please-close

[2021-01-28 21:38] #59760 closed

[2021-01-28 21:38] kenwith commented on #59982
Thank you for the feedback in improving the doc. I have added this item to our backlog so that it can be prioritized and worked on as appropriate.

#please-close

[2021-01-28 21:38] MonikaReddy-MSFT commented on #69659
@TiloGit -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-01-28 21:38] #59982 closed

[2021-01-28 21:38] kenwith commented on #64236
Thank you for the feedback in improving the doc. I have added this item to our backlog so that it can be prioritized and worked on as appropriate.

#please-close

[2021-01-28 21:38] #64236 closed

[2021-01-28 21:39] kenwith commented on #64719
Thank you for the feedback in improving the doc. I have added this item to our backlog so that it can be prioritized and worked on as appropriate.

#please-close

[2021-01-28 21:39] #64719 closed

[2021-01-28 21:40] kenwith commented on #64898
Thank you for the feedback in improving the doc. I have added this item to our backlog so that it can be prioritized and worked on as appropriate.

#please-close

[2021-01-28 21:40] #64898 closed

[2021-01-28 21:40] kenwith commented on #65767
Thank you for the feedback in improving the doc. I have added this item to our backlog so that it can be prioritized and worked on as appropriate.

#please-close

[2021-01-28 21:40] #65767 closed

[2021-01-28 21:40] kenwith commented on #69234
Thank you for the feedback in improving the doc. I have added this item to our backlog so that it can be prioritized and worked on as appropriate.

#please-close

[2021-01-28 21:40] #69234 closed

[2021-01-28 21:43] kenwith commented on #69243
@Andrew-Webb - I have added all of the issues you have brought up to our backlog and have a meeting with @ArvindHarinder1 who is the PM for this area. I am closing the issues out here in GitHub and have added notes to update the PR's with the GitHub Issues so they are tracked.

Thank you for the time to submit all of these issues on SCIM. I know it takes time to provide feedback when you notice so

[2021-01-28 21:43] #69243 closed

[2021-01-28 21:44] kenwith commented on #69431
I have added this item to our backlog so that it can be prioritized and worked on as appropriate.

#please-close

[2021-01-28 21:44] #69431 closed

[2021-01-28 21:44] kenwith commented on #69402
I have added this item to our backlog so that it can be prioritized and worked on as appropriate.

#please-close

[2021-01-28 21:44] #69402 closed

[2021-01-28 21:44] kenwith commented on #69247
I have added this item to our backlog so that it can be prioritized and worked on as appropriate.

#please-close

[2021-01-28 21:44] #69247 closed

[2021-01-28 21:44] kenwith commented on #69245
I have added this item to our backlog so that it can be prioritized and worked on as appropriate.

#please-close

[2021-01-28 21:44] #69245 closed

[2021-01-28 21:45] nikhilsinghmsft opened #69668 "TTL option not available of IR in Synapse Analytics"
The option to create an IR with setting the TTL value for the DataFlow runtimes is not available in Synapse Analytics.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5f9a36b-e828-9d3b-1a09-6e574603398a
* Version Independent ID: d59d372a-158f-af94-8064-d5d15b06da8c
* Content: [Create Azure integration runtime in Azure

[2021-01-28 21:47] kenwith commented on #64937
Thank you for the feedback on how to improve this article. I agree this would be very helpful and have added this work to the backlog so the article can be updated.

#please-close

[2021-01-28 21:47] #64937 closed

[2021-01-28 21:49] MartinJaffer-MSFT commented on #69423
I have done a test @MamidiVasavi .

After moving between resource groups in the same subscription, the ACLs remained intact, but the RBAC was lost.
After moving to a resource group in a different subscription the ACLs remained intact, but the RBAC was lost.

[2021-01-28 21:49] kenwith commented on #52570
Article was updated with information that Message Analyzer was retired.

#please-close

[2021-01-28 21:49] #52570 closed

[2021-01-28 21:54] hrasheed-msft commented on #69281
#re-assign @arnabganguly

[2021-01-28 21:56] kenwith commented on #69243
https://github.com/MicrosoftDocs/azure-docs-pr/pull/144824

[2021-01-28 21:56] hrasheed-msft commented on #69281
@arnabganguly Could you please clarify if the RPO is "zero" or merely "very low"?

[2021-01-28 21:57] hrasheed-msft commented on #69284
#reassign @arnabganguly

@arnabganguly Could you comment on the clarifications requested for this article?

[2021-01-28 21:59] yzheng-msft commented on #69571
GPV2 account support will be there for the UK region at GA.

The features you listed will work at GA as well.

[2021-01-28 22:14] KranthiPakala-MSFT commented on #69463
@tifischer There is a note under `Creating and running a scan` section about the mismatch, please refer to it. I have already escalated this to PG team.

![image](https://user-images.githubusercontent.com/50185738/106205131-dbfeb180-6172-11eb-997f-85e476a0d5b5.png)

Thanks

[2021-01-28 22:21] jonclyde opened #69669 "Installing language files from mapped drive gives errors"
Using the script under section "Create a custom Windows 10 Enterprise multi-session image automatically" when using a mapped drive (as instructed) instead of the full UNC path I recieve errors.

When using a mapped drive, for the Add-AppProvisionedPackage I got :

Add-AppProvisionedPackage : The parameter is incorrect.

For the Add-WindowsPackage I got:

Add-WindowsPackage : Invalid package path

[2021-01-28 22:24] tifischer commented on #69463
steps 6 and 6 are referencing SQL Database storage instead of Blob
![image](https://user-images.githubusercontent.com/533790/106206233-589a8b80-6185-11eb-8fc4-82c1ea76d4dd.png)

[2021-01-28 22:25] arnabganguly commented on #69284
1. 5 hour mark is an arbitrary value that was assumed in the case study for Contoso. See section "Contoso Retail's business continuity requirements" section for assumptions made .

2. Look the into the HBase BCDR designs to learn the many ways in which this can be designed. Most common is the Leader-Follower Model and its the App that triggers the failover and starts reads( and writes if allowed )

[2021-01-28 22:28] bandersmsft commented on #69372
Here are some helpful articles:
- https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/create-free-services
- https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/avoid-charges-free-account
- https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/check-free-service-usage

[2021-01-28 22:38] SaiKishor-MSFT commented on #69661
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-01-28 22:56] Gt3pccb opened #69671 "Missing Linux steps"
The document skips a lot of steps for Linux, especially when Linux users, for the most part, do not use a UI. Ideally we would have a step-by-step for windows and Linux

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97e1bea1-753c-1d8f-71d1-ec7dac1b4a91
* Version Independent ID: cfa0e0b4-98ba-91a8-ec7e-d3529db6de86
* Co

[2021-01-28 22:56] dkocur opened #69672 "Error in Prerequisites?"
I believe that the links to **sink** and **source** in the Prerequisites section should be swapped.  I.e. "To copy data to delta lake, ... Learn more from Delta lake as the source" should be "To copy data to delta lake, ... Learn more from Delta lake as the sink".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c860a04a

[2021-01-28 22:57] #69045 closed

[2021-01-28 23:14] sushruth opened #69673 "X-Cache header's all values and descriptions are not listed"
![image](https://user-images.githubusercontent.com/2114206/106210246-487dae80-617b-11eb-9fdd-cb818a2a9a98.png)

It would be helpful to have complete list of all values (and their descriptions) that the `X-Cache` header can contain.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c44a91d-f0a9-99cb-1ba6-a4a0918c1b8f
* Ve

[2021-01-28 23:17] verschaevesiebe commented on #69464
You're welcome !

[2021-01-28 23:17] mhopkins-msft commented on #67554
Hi @metoule

Thanks for your feedback. I checked with the Azure Storage Python SDK team and they told me that support for `UseDevelopmentStorage=true` is coming in the next SDK release. I'm going to close this GitHub issue for now. If there are any further issues after the next SDK release, please feel free to reopen this.

Thanks!
 ~ *Mark*

#please-close

[2021-01-28 23:17] #67554 closed

[2021-01-28 23:19] daniellee-microsoft opened #69674 "Publish-GuestConfigurationPackage fails unless you create blob container "guestconfiguration""
[Enter feedback here]

If I run Publish-GuestConfigurationPackage as described in the doc, it fails with error below. Looking at GuestConfiguration.psm1, it seems to be looking for a blob container named "guestconfiguration". I think you need to document or add another line of code that creates this container before publishing the package.

Line |
 469 |          $Blob = Set-AzStorageBlobContent -

[2021-01-28 23:20] DCtheGeek commented on #69674
#assign:mgreenegit
#label:"doc-bug"

@mgreenegit Can you take a look at this?

[2021-01-28 23:25] MarileeTurscak-MSFT commented on #69503
Older versions of Azure File Sync (prior to v10) did not support the moving of a subscription, so people who have older version may have issues. Once you have the latest agent version, you must give the Microsoft.StorageSync application access to the storage account.

You can't move app registrations so you need to either create the app under the new tenant or keep the subscription associated with

[2021-01-28 23:25] #69503 closed

[2021-01-28 23:30] MonikaReddy-MSFT commented on #69425
@eduarandilla -
Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-01-28 23:30] #69425 closed

[2021-01-28 23:33] ecfan commented on #69469
@rgmatthes, I checked with the Logic Apps team, and they responded that the Content-Type header isn't usually included with GET requests. I'm checking whether you need to use a different method and what to do in situations when the target API expects and requires the Content-Type header.

[2021-01-28 23:41] cchapin-ms opened #69675 "Next Steps link goes back to same page"
[Enter feedback here]
The Next Steps link is for the current page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43125fc1-f1fb-fa8c-69a6-7866a1b3a1fe
* Version Independent ID: 174dbe2c-7469-a63a-ffd6-757272ce5c50
* Content: [Activate my Azure AD roles in PIM - Azure Active Directory](https://docs.microsoft.com/en-us/a

[2021-01-28 23:42] KranthiPakala-MSFT commented on #69672
@dkocur
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2021-01-28 23:42] mhopkins-msft commented on #68931
@jayallenmsft Thanks for the feedback! I have created a work item to update this article and added it to our backlog for future consideration.

Thanks!
 ~ *Mark*

#please-close

[2021-01-28 23:42] #68931 closed

[2021-01-28 23:44] KranthiPakala-MSFT commented on #69668
@nikhilsinghmsft
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2021-01-28 23:44] cchapin-ms commented on #69675
One more comment, the paragraph in the "Determine your version of PIM" section that starts with:
"Beginning in November 2019" - is that the correct year? The date of the article shows 11/28/20.
Just wondering

[2021-01-28 23:44] JamesTran-MSFT commented on #69675
@cchapin-ms
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-01-28 23:52] slsu0424 opened #69676 "ReadTweetsFromEventHub notebook - Batch:0 returns zero records"
I am executing the notebooks provided in the page.  The first notebook, **SendTweetstoEventHub** works fine.

![Screen Shot 2021-01-28 at 6 53 52 PM](https://user-images.githubusercontent.com/25472516/106213259-48d97200-619a-11eb-853d-44bfb4aa8874.png)

However, when I execute the second notebook, **ReadTweetsfromEventHub**, batch:0 returns zero (binary) records.

Can someone advise as to this err

[2021-01-28 23:56] dstefanMSFT opened #69677 "Psexec command line wrong"
to launch PSExec as system you should launch:

psexec.exe -s -i powershell.exe

command in the doc is wrong

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 054e25ff-9daf-60ba-53e0-0be9ba862e94
* Version Independent ID: 4c6b0faf-bd4b-e6e4-4256-f1e5297222a6
* Content: [Configure an Always-On VPN tunnel - Azure VPN Gateway

[2021-01-28 23:56] DerekHerman-MSFT commented on #69671
@Gt3pccb Thanks for the feedback. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-01-29 00:06] spelluru commented on #27056
Looks like the original issue isn't a limitation anymore. Please see https://github.com/MicrosoftDocs/azure-docs/issues/69398

#please-close

[2021-01-29 00:06] #27056 closed

[2021-01-29 00:09] richardspitz opened #69678 "Update article to include Azure Key Vault Managed HSM"
The article needs to be updated to reflect the new Azure Key Vault Managed HSM service.

For example, this section says:

"Microsoft’s multi-tenant Azure Key Vault service currently only provides FIPS 140-2 Level-2 certification"

and further down in the same article:

"Whether Azure Dedicated HSM will work for you depends on a potentially complex mix of requirements and compromises that you can o

[2021-01-29 00:14] KranthiPakala-MSFT commented on #69668
Hi @nikhilsinghmsft - Since the TTL feature isn't available in Azure Synapse Analysis, we request you to please submit a feature request suggestion in User voice forum. https://feedback.azure.com/forums/307516-azure-synapse-analytics

Please do share the feature request link once it is posted so that other users with similar suggestion can up-vote and/or comment on your idea.

Thank you

[2021-01-29 00:16] JamesTran-MSFT commented on #69678
@richardspitz
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-01-29 00:18] HughDevlin commented on #69267
a Windows with Java pre-installed

$planPublisher = 'azul',
$planProduct = 'azul-zulu13-windows-2019',
$planName = 'azul-zulu13-windows2019',

[2021-01-29 00:21] SaurabhSharma-MSFT commented on #69676
@slsu0424 Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-29 00:22] #69470 closed

[2021-01-29 00:23] sakthi-vetrivel commented on #69659
Great question, the ARO pull secret does not change the cost of the RH OpenShift license for ARO.

[2021-01-29 00:25] HughDevlin commented on #69267
Yes, Set-AzVMSourceImage will accept an image id as retrieved by Get-AzImage.

Thank you for directing me to the "Supply Azure Marketplace purchase plan information when creating images" topic. I was able to get this working by modify this approach, without using Shared Galleries.

[2021-01-29 00:25] VikasPullagura-MSFT commented on #69651
@abhiramani-iptiq
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-01-29 00:25] VikasPullagura-MSFT commented on #69651
@palma21
Can you please check and add your comments on this doc update request as applicable.

[2021-01-29 00:27] benjamincburns commented on #68602
@iamalexmang I'll preface to say that I'm definitely no authority on the subject. I'm no spring chicken, but I'm new to Azure and I don't work for Microsoft, so take what I say here with as much salt as your arteries will allow. That said, I'd love it if someone who _is_ an authority on the subject could confirm or correct my empirical understanding here. Piecing this together has cost me _conside

[2021-01-29 00:29] wtcan99 commented on #69656
Will WorkerID be mandatory in the mapping? We would like to use WID alone, will it be feasible?

[2021-01-29 00:29] VikasPullagura-MSFT commented on #69658
@rbgigo
Thanks for your Question! We are currently checking with internal team on this and will get back.

[2021-01-29 00:30] benjamincburns commented on #69541
I added [some relevant details](https://github.com/MicrosoftDocs/azure-docs/issues/68602#issuecomment-769488358) over on #68602:

[2021-01-29 00:33] VikasPullagura-MSFT commented on #69530
@mbiver The document update is in progress. Changes will go live soon.

[2021-01-29 00:34] HughDevlin commented on #69267
In scripting VM creation from a managed image, I read the New-AzVM doc and saw the parameter set with the -Image parameter and ran with it. This so-called "simplified" parameter set does a great job of simplifying VM creation through reasonable defaults. However it was not clear to me it did not offer enough flexibility for my use case. It seems to me creating a VM from a marketplace image, or a c

[2021-01-29 00:42] benjamincburns commented on #69541
Prior to writing the above comment, I wasn't aware of the relationship between [child resources](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/child-resource-name-type) and resource extensions. I only encountered the subject of resource extensions when trying to make sense of the documented top-level `scope` field on the template reference page for `Microsoft.Authorizatio

[2021-01-29 00:44] mhopkins-msft commented on #69035
Hi @czerwonykalafior

Thanks for the feedback. Unfortunately, I was unable to replicate the behavior you described. I was able to call `get_container_client` on an already existing container. I was able to re-use the `container_client` created earlier in the code and I was able to create a new container client from the existing container, all with no exceptions. It sounds like maybe you are callin

[2021-01-29 00:44] #69035 closed

[2021-01-29 00:45] TiloGit commented on #69659
@sakthi-vetrivel thanks for the quick clarification.  Could you please add this to the tutorial or where appropriate in ARO document.

Does MS have any plans to change this? So allow BYOL / drop prize if own RH license (via pull secret) is used.

[2021-01-29 00:46] rwike77 commented on #66693
The problem, which was causing some customers to receive this error when they shouldn't, has been resolved by engineering.  I've added a short section in this article about the UnableToAddPublisher error message.  #please-close

[2021-01-29 00:46] #66693 closed

[2021-01-29 00:46] cynthn commented on #69267
Yeah, the simplified parameter set is basically the counterpart to the CLI `az vm create`. It uses the same defaults and has a very small set of required parameters. Before the simplified parameter set, creating a VM using PowerShell was ALWAYS a very long set of commands to create every separate piece (networking, storage, vm config etc).

The simplified set is nice for creating simple VMs for te

[2021-01-29 00:49] MarileeTurscak-MSFT commented on #69526
For app registrations it depends on the settings in the tenant. By default all users can register applications, but if the "users can register applications" setting is set to "no" then yes, users need to have the Application Developer role at minimum.

I made a pull request to update this page and add a reference to the permissions page.

CC @rwike77

[2021-01-29 00:49] #69526 closed

[2021-01-29 00:56] rwike77 commented on #69141
@IanMercer Yes, thanks for pointing this out.  I just updated the article.  #please-close

[2021-01-29 00:56] #69141 closed

[2021-01-29 00:56] colinweiner opened #69680 "hostname: does not work, need to use fqdn:"
hostname: does not work, need to use fqdn:

using this does not set the hostname
#cloud-config
hostname: myhostname

this does set the hostname:
#cloud-config
fqdn: myhostname

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: afc3ac83-6658-5543-ca23-42c8ced7b053
* Version Independent ID: 1ff3f407-845f-4eb4-6409-0a6516e430

[2021-01-29 00:57] BharathNimmala-MSFT commented on #69644
@pvones Thank you for sharing the feedback, assigning this issue to our document author @mingshen-ms to further review the feedback and enhance the document accordingly.

[2021-01-29 01:00] benjamincburns commented on #69541
Another thought - if it's an error to use an extension resource as anything other than a child resource, it should trigger a template validation failure with an error message that's abundantly clear. I no longer have a copy of the text of the error message that I was getting when I was treating the top-level `scope` field like it was the role assignment scope, but it was something to the effect of

[2021-01-29 01:02] sakthi-vetrivel commented on #69659
@TiloGit will do. We are planning to allow customers to bring their own OpenShift license to use with an Azure Red Hat OpenShift cluster, and are working through the logistics of that now.

[2021-01-29 01:14] jhornych opened #69681 "The 'location' property must be specified for the deployment"
I am trying to deploy the pid resource within the subscriptionDeploymentTemplate along with other resource. The pid part is copied from the document

[code]

Unfortunately I am getting this error
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db44bc8f-a6d7-8651-165d-929230435633
* Version Independent ID: c784782

[2021-01-29 01:16] karataliu opened #69682 "Include 'AKS preview features' notice in use-managed-identity preview features"
Since this feature https://docs.microsoft.com/en-us/azure/aks/use-managed-identity#update-an-aks-cluster-to-managed-identities-preview is preview, it needs to include a preview note as in https://docs.microsoft.com/en-us/azure/aks/use-azure-ad-pod-identity
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a9c74a8-

[2021-01-29 01:34] simonzhaoms commented on #69570
Thank you for the clarification

[2021-01-29 01:34] #69570 closed

[2021-01-29 02:15] vabgujral opened #69683 "Grammatical error in FAQs"
[Enter feedback here]
Looks like a grammatical error in the section https://docs.microsoft.com/en-us/azure/active-directory/authentication/multi-factor-authentication-faq#can-my-organization-switch-between-consumption-based-billing-and-subscriptions-a-license-based-model-at-any-time -

_Users with licenses aren't be counted in the per-user consumption-based billing._

should be

_Users with licens

[2021-01-29 02:26] KrishnaG-MSFT commented on #69681
@jhornych Thanks for your comment! We will review and provide an update as appropriate.

[2021-01-29 03:13] AshokPeddakotla-MSFT commented on #69406
@Strkli Thanks for an update.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-01-29 03:13] #69406 closed

[2021-01-29 03:36] AElharouny opened #69685 "Is Key vault secrets in API Management Name Values is out of preview or not?"
Hello,

Just confirming that we can use Key vault secrets in API Management Name Values in production and its out of preview and governed by SLAs.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 336f4e1b-62f2-fde1-d31f-a7cc30fc857c
* Version Independent ID: d5ccdd33-80d7-035f-1941-cc8a90c331ab
* Content: [How to use nam

[2021-01-29 03:51] nikhilsinghmsft commented on #69668
Sure, will do that.
Meanwhile can the documentation be updated to show the synapse IR not having the TTL option and only ADFv2 having it.
The misinformation sent me down a rabbit hole and others can benefit from not going down that path.

________________________________
From: KranthiPakala-MSFT <notifications@github.com>
Sent: Thursday, January 28, 2021, 6:14 PM
To: MicrosoftDocs/azure-docs
Cc: N

[2021-01-29 04:20] nzigel opened #69687 "Why does this code resize the image to a square of 256x256 only to then crop the image to 224x224?"
The network input size for an exported classifier from custom vision is 224x224 so I don't understand why this code resizes the image to 256x256 only then to crop the center of it to 224x224 (network_input_size) losing 32 pixels around the edge of the image.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 754dd7d5-dd8b-

[2021-01-29 04:36] MayankBargali-MSFT commented on #69666
@justinkneff BrokerMessage parameter are for Azure function version 1.x for 2.x and higher you need to use Message instead of BrokeredMessage. The same is mentioned under the [usage ](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-service-bus-trigger?tabs=csharp#usage) section.

[2021-01-29 04:36] SwathiDhanwada-MSFT commented on #69667
@maximivanov Thanks for your comment. We will review the issue and get back to you shortly.

[2021-01-29 04:44] ecfan commented on #69469
@rgmatthes, the team responded that the Content-Type header is permitted for PUT and POST requests, just not GET requests. I can add a note to the doc that clarifies this detail.

[2021-01-29 04:46] #69448 closed

[2021-01-29 04:50] MayankBargali-MSFT commented on #69685
@AElharouny Thank you for your feedback! We will review and update as appropriate.

[2021-01-29 05:09] SubhashVasarapu-MSFT commented on #69677
@dstefanMSFT, Thanks for reaching out. We will investigate and update this thread.

[2021-01-29 05:15] ecfan commented on #69469
#assign @ecfan

[2021-01-29 05:19] #69469 closed

[2021-01-29 05:22] ecfan commented on #69469
The doc update should go live after 11 AM Pacific Time.

[2021-01-29 05:29] SnehaAgrawal-MSFT commented on #69646
@lokijota Thanks for bringing this to our attention. This is now fixed. We will now close this issue.

[2021-01-29 05:29] #69646 closed

[2021-01-29 05:30] AnuragSharma-MSFT commented on #69569
@DavidTrigano Thanks for making the change.

@phatcher Thanks for pointing it out. The PR will be live in some days based on approval and hence the changes as well. We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-01-29 05:30] #69569 closed

[2021-01-29 05:33] GavinJin8 opened #69692 "Better to elaborate more about "-ClientRootCert" parameters."
[Enter feedback here]
Nowadays, every windows machines keep a bunch of clients certificates and I tested by myself (MS FTE alias: gujin) I had to fill out "-ClientRootCert" when I download certificates from Azure Portal.
otherwise, with a p2s client package without "-ClientRootCert" would returns error 798.

After I put -ClientRootCert, we would prompt so that I can pick the right cert.
![image](h

[2021-01-29 05:37] SnehaAgrawal-MSFT commented on #69382
@rogerhealy  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-01-29 05:37] #69382 closed

[2021-01-29 05:51] glprasanna commented on #69638
Hi Krishna,

This is related to https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/jiramicrosoft-tutorial
This azure document is about which version of SSO plugin ?
Is this document related to 1.0.11 Azure SSO Plugin. If it is 1.0.11 is this version is compatible with 8.14 JIRA version ?

Regards,
Prasanna

[2021-01-29 05:59] SwathiDhanwada-MSFT commented on #69228
This is documentation bug which will be corrected soon. As mentioned earlier, creating an association between virtual machine and data collection rule doesn't install the AMA agent. [Here](https://docs.microsoft.com/en-us/azure/azure-monitor/samples/resource-manager-agent#template-file) is sample template for installing AMA agent using ARM template.

[2021-01-29 05:59] eyast opened #69693 "Part 2 does not continue on Part 1"
Part of 1 of the doc was based on the scoring of two models side by side and then the evaluation at the end.
Part 2 starts with a different pipeline in which only one model is loaded (linear regression).

Therefore, Part 2 is not really a continuation of Part 1, as the article says at the beginning.
The screenshot that shows where the inference button is also contains a "map" or "visual representa

[2021-01-29 06:05] ram-msft commented on #69687
@nzigel Thanks for the feedback! We will review and update accordingly.

[2021-01-29 06:10] eyast opened #69694 "screenshot update"
The screenshots on that page are outdated, the interface looks different now (with regards to the screenshot of creating a new AKS cluster)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e6fbc978-36aa-d15b-c770-e9140fb89f79
* Version Independent ID: ba3e2bc4-d812-c405-15cc-02660b374676
* Content: [Tutorial: Deploy ML m

[2021-01-29 06:23] eyast opened #69695 "Build inference before submitting"
Preferably, mention that once the model is submitted, it can only be deployed if an inference cluster has already been created.
Then show the instructions of creating the inference cluster
Then submit / deploy the model.

the way the page is now written starts with submitting the model. A newcomer to this field will then have to create an inference cluster, wait 15 minutes, and SUBMIT agin, before

[2021-01-29 06:26] eyast opened #69696 "Objectives mention "testing the model" but instructions are not there"
The last (of the 4) objectives stated at the beginning of the page is "test the model".
But nowhere in the page are there instructions to test the model. Instead, there's a link to "consume the model" available under the "View the REal-time endpoint" section.

But testing and consumption are different things. Would you either remove the test section, or alternatively add some easy to follow instru

[2021-01-29 06:27] cmollgaard opened #69697 "References deprecated function"
You specifically reference UserDefinedAggregateFunction which is deprecated.
Aggregator is the updated version.

Is there a reason for this, and is Aggregator supported?

Deprecation message can be found here
https://spark.apache.org/docs/latest/api/scala/org/apache/spark/sql/expressions/UserDefinedAggregateFunction.html

New class can be found here
https://spark.apache.org/docs/latest/api/scala/o

[2021-01-29 06:32] stunax commented on #69697
Deprecation message can be found here
https://spark.apache.org/docs/latest/api/scala/org/apache/spark/sql/expressions/UserDefinedAggregateFunction.html

[2021-01-29 06:33] stunax commented on #69697
New class can be found here
https://spark.apache.org/docs/latest/api/scala/org/apache/spark/Aggregator.html

[2021-01-29 06:41] SubhashVasarapu-MSFT commented on #69273
@bahramr, Appreciate your patience. I have tested this locally but unable to see this behavior. The first custom DNS server is always taking the precedence in my case. This requires a deeper investigation, so if you have a support plan, I request you file a support ticket, else please do let us know, we will try and help you get a one-time free technical support. In this case, could you send an em

[2021-01-29 06:41] #69273 closed

[2021-01-29 06:43] #69662 closed

[2021-01-29 06:51] vipulsparsh commented on #69631
@rich-davies There is currently no API or Portal option for starting a manual scan.
The timelines for normal scan is mentioned in this doc :
https://docs.microsoft.com/en-us/azure/security-center/security-center-using-recommendations

[2021-01-29 07:23] xelossan commented on #68428
Nope, ended up translating everything we need manually and using some jQuery hacks to display these translations on UI.
Honestly, working with B2C Custom Policies was a really bad experience to put it mildly, so it was the last time we used B2C in our projects.

[2021-01-29 07:27] CHEEKATLAPRADEEP-MSFT commented on #69697
@stunax  Thanks for bringing this to our attention.  I have assigned the issue to the content author to review further and update the document as appropriate.

[2021-01-29 07:45] psmanhas commented on #69630
@GuyPaddock When you create the node pools in AKS default size is 30 GB ( portal).Can you please confirm how did you create the cluster. Did you created the cluster via cli and used the parameter OS disk size as 100GB at time of creation?

If you went ahead and manually changed the OS disk size from 30 GB to 100 GB on the VM this would get reverted when there is a reboot , or scaling or upgrade. S

[2021-01-29 07:49] ssivas commented on #69562
Hello @cc91029,

Thanks for sharing your feedback.

I had tested it on my lab and found that the Original PowerShell command listed in KB doesn't list all Azure AD policy when there are many existing policy, and adding following syntax would list all policy.
$currentpolicy = Get-AzureADPolicy **-All $true** | ?{$_.Type -eq 'B2BManagementPolicy'} | Select-Object -First 1

Please find below screensh

[2021-01-29 07:54] sopelt commented on #37163
With the availability of front door managed certificates it is especially unfortunate that SSL provisioning is only available via the REST management API and not via arm. With recent api versions ARM seems to accept but doesn't execute setting `customHttpsConfiguration` when creating/updating front door.

@AdamS-MSFT @SaurabhSharma-MSFT @sharad4u - did you get in touch with the product team to fin

[2021-01-29 07:57] shankargurav commented on #68428
Thank you @xelossan for information.  Hope the xmls would get some new form/technology in coming future.

[2021-01-29 08:09] psmanhas commented on #69629
@NirajCricket Can you please provide details as per the ask so we can help you out further on this.

Awaiting your response.

Thanks

[2021-01-29 08:10] shashishailaj commented on #69683
@vabgujral Thank you for your feedback . We will investigate and update the thread.

[2021-01-29 08:20] psmanhas commented on #68109
@mcurko I do understand your concern but since it was holiday season most of our Product Group folks were oof as well.

If you can arrange code somehow I will request you to share same with me if that is not possible will it be ok to close issue for time being so if you face issue again we can help you out in timely manner.

Thank you for your patience over the matter.

Thanks

[2021-01-29 08:21] psmanhas commented on #68109
@mcurko I do understand your concern but since it was holiday season most of our Product Group folks were oof as well.

If you can arrange code somehow I will request you to share same with me if that is not possible will it be ok to close issue for time being so if you face issue again we can help you out in timely manner.

Thank you for your patience over the matter.

Thanks

[2021-01-29 08:21] SwathiDhanwada-MSFT commented on #69228
I am checking this information with Product Group team and revert to you with response.

[2021-01-29 08:25] RNalivaika commented on #69123
@MarileeTurscak-MSFT I would share the logs with you, but there is no folder "AADConnect" in %localappdata%

[2021-01-29 08:27] psmanhas commented on #69290
@Pratik44 Since your requirement is around deploying AKS without a public IP address we do have another offering of creating a private AKS cluster. You can review it [here](https://docs.microsoft.com/en-us/azure/aks/private-clusters#:~:text=Go%20to%20the%20node%20resource,to%20the%20private%20DNS%20zone.)

Do let me know if it helped you out with your user case.

Thanks

[2021-01-29 08:27] SwathiDhanwada-MSFT commented on #69228
@Aaronmcd1978 Here is a sample template which creates system managed identity , AMA agent and associates DCR rule with the azure vm. Kindly check it out.

[code]

[2021-01-29 08:31] SwathiDhanwada-MSFT commented on #69228
@Aaronmcd1978 Can you please elaborate on this ? Are you mentioning that even with creating any data source in DCR , were you able to view Linux syslogs?

[2021-01-29 08:52] adriennn commented on #45126
is this prefixing also valid for a V2 storage account with a hierarchical namespace?

[2021-01-29 08:55] AnuragSharma-MSFT commented on #69568
@becke-ch-s0-v1 This is being assigned to the content author to evaluate and update as appropriate.

[2021-01-29 09:28] SadiqhAhmed-MSFT commented on #69591
@wcneumann219 A subscription containing RS vault can be moved to a different tenant with following conditions:
•	If vault does not have CMK (customer managed keys) configured, it will not have any impact on backup/restore functionality
•	If vault does use CMK, then vault will need to be updated to re-create and re-configure vault managed identity and CMK (which should be in new tenant) otherwise b

[2021-01-29 09:32] GergoNinacs opened #69699 "Incorrect documentation: dependsOn is not on the correct level"
In the example from the connection-resource-definitions section the dependsOn property is on the wrong level. It is as a child of the properties element, but instead it should be on the root level of the resource definition.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7e8368e-10de-d0fd-a4e3-cd87300cdb9f
* Version I

[2021-01-29 09:48] zekth commented on #57579
Any update on this?

[2021-01-29 09:52] rboucher commented on #69667
@shilpasharmaAM and @JasonFreeberg .  Can you take a look?

[2021-01-29 10:23] kantipenko opened #69700 "VM v2 requirements reference blog post from 2015"
Are those recommendations are still applicable in the link  https://azure.microsoft.com/en-us/blog/disaster-recovery-to-azure-enhanced-and-were-listening/

for _"
VM type | Generation 1Generation 2--Windows | Generation 2 VMs with an OS disk type of basic (which includes one or two data volumes formatted as VHDX) and less than 300 GB of disk space are supported.Linux Generation 2 VMs aren't suppor

[2021-01-29 10:31] RohitMungi-MSFT commented on #69693
@eyast I think in part 1 of the tutorial also linear regression is used which is a continuation in part 2. Which other model are you referring to in part 1?

In the second part of your question are you referring to screen shot in this [section](https://docs.microsoft.com/en-us/azure/machine-learning/tutorial-designer-automobile-price-deploy#create-a-real-time-inference-pipeline-1)? The designer mo

[2021-01-29 10:35] RohitMungi-MSFT commented on #69694
@eyast Yes, there are slight changes in the UI now where the training clusters are named as compute clusters but the inference clusters tab is pretty much the same. If you have not created any compute before it might look a bit different but if you have an existing compute the options should be the same as the screen shot in the documentation. @likebupt FYI

[2021-01-29 10:38] psmanhas commented on #69680
@colinweiner Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-01-29 10:38] psmanhas commented on #69680
@RicksterCDN Can you please check and add your comments on this doc update request as applicable

[2021-01-29 10:39] psmanhas commented on #69682
@karataliu Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-01-29 10:39] psmanhas commented on #69682
@mlearned Can you please check and add your comments on this doc update request as applicable

[2021-01-29 10:41] psmanhas commented on #69669
@jonclyde Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2021-01-29 10:41] maniaX1 commented on #56924
Hello @bandersmsft it has been almost two years when first issue with cost exports has been raised. And today I found out that there is still no fix. Do you have some any new information it this is going to be solved or not? Thank you.

[2021-01-29 10:43] RohitMungi-MSFT commented on #69695
@eyast Thanks again for the feedback. Yes, creating a new cluster takes about 15 minutes so a note is added in the documentation informing the user about this while running the steps. Creating a cluster before creating a pipeline can be done to save time, we will request our content team to review the feedback in our future doc updates to ensure a user is able to understand the flow and also save

[2021-01-29 10:48] RohitMungi-MSFT commented on #69696
@eyast I think in this case the intention is to show how users can consume a model from the consume tab. @likebupt I think the initial section of the document might need an update to "Consume the real-time endpoint" instead of "Test the real-time endpoint" to avoid confusion. Thanks!!

[2021-01-29 10:52] eyast commented on #69693
Thabks a lot for the reply. I remember now that I actually didn't build the model step by step but just loaded the sample pipeline for auomobiles,assuming it would be the same.
The sample in the library trains two models,and evaluates them against each other .sorry,my bad,I thought what's in the library represents what's detailed on the pages because I think this was mentioned somewhere on the pag

[2021-01-29 10:54] eyast commented on #69694
Yes you're right,but I assume the instructions are for someone who has never created an inference compute before ,that's why I called it out.not a biggie I guess,just wanted to let you know : the screenshot is wrong .thx for your help

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: RohitMungi-MSFT <notifications@github.com>
Sent: Friday, January 29, 2021 9:3

[2021-01-29 10:56] eyast commented on #69696
Id appreciate that,id steps are shown how to access the consumer page. Personally,I tried consuming the model using python and it took me over an hour to figure out how to form the JSON payload correctly. Once I clicked around a bit and found the consume pages,and saw how the request was formed for that model (to match the schema) everything went well .thx

Get Outlook for Android<https://aka.ms/g

[2021-01-29 11:01] blueelvis opened #69702 "Add a note that Event Grid Events to Queue and then using a QueueTrigger is not supported"
Steps to reproduce -
1. Create an event grid subscription which delivers events to the Queue Storage.
2. Create an Azure Function with queueTrigger which connects to the above queue.
3. Send a message to the Queue. Notice that the Azure Function will fail because Event Grid sends the events in plain text whereas the QueueTrigger accepts only base64 encoded messages which is a problem.

Thanks,
Pra

[2021-01-29 11:12] sopelt commented on #48177
@davidobrien1985 you don't happen to have any documentation/spec from digicert what they required in terms of TXT record?

For CDNs there [seems to be something similar](https://docs.microsoft.com/en-us/azure/cdn/cdn-custom-ssl?tabs=option-1-default-enable-https-with-a-cdn-managed-certificate#custom-domain-isnt-mapped-to-your-cdn-endpoint) ... so I am curious if that "just works" if you know the v

[2021-01-29 11:15] jokarl opened #69703 "Newly created function app has no host keys"
I created a new function app using terraform (0.12.29), and I've successfully deployed functions in a zip deployment.

However, there is no way to call any function since there are no keys available. This is what it looks like in the portal:

![image](https://user-images.githubusercontent.com/6864214/106268001-c482ff80-622a-11eb-83e3-6261f1eb0bb3.png)

I was thinking it might have been a UI bug, s

[2021-01-29 11:31] rboucher commented on #69579
@anirudhcavale FYI.  I started and email thread on this.

[2021-01-29 11:36] Alan-Hinton opened #69704 ""Allow Azure services and resources to access this server” required"
I found this guide very useful.  However I hit one issue when following it.  I got a firewall error when the sync job was provisioning the Azure database.  With the help of Azure support I discovered that the firewall on the Azure database must have "Allow Azure services and resources to access this server” setting set to "Yes" to enable the provisioning to work.

It might help other users to add

[2021-01-29 11:37] SAIMMINHAS opened #69705 "Management Group is not visible in the 'Definition location' option"
Hi,

I'm trying to configure a Blueprint but here's the issue.

The 'Management Group' that i've already created is not visible in the 'Definition location' option. Below are the snapshots. Not sure where there issue is.

![image](https://user-images.githubusercontent.com/30388154/106270760-589e9800-6226-11eb-9f7e-d3e69a04ed05.png)

![image](https://user-images.githubusercontent.com/30388154/10627

[2021-01-29 11:38] SAIMMINHAS commented on #69705
FIXED it myself...

[2021-01-29 11:38] #69705 closed

[2021-01-29 11:45] AnuragSharma-MSFT commented on #69704
@Alan-Hinton Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-01-29 11:54] Fabiest opened #69707 "Azure Databricks Table Access control in an automatic way"
Please indicate how can this be achieved in non-manual way so it can be included in continuous deployment.

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4279443-fb91-0bbd-ac82-2036eb1424b4
* Version Independent ID: bd3c1287-edb9-8778-7462-9fa15a3f0dc3
* Content: [Enable table access control for your workspace - Azure Databricks - Workspace](ht

[2021-01-29 12:14] tomconte opened #69709 "Example using HTTP Trigger"
This example is useful, however it uses a Blob Trigger, and it would be useful to have an example that uses an HTTP Trigger. I am currently struggling to find the URL that should be used to call the scoring function, once deployed using an HTTP Trigger.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5111706-3d4f-f436-

[2021-01-29 12:19] jokarl commented on #69703
It seems I've honed in on some kind of issue. I'm not sure if this is my fault or something underlying. When I first create the function app, the host keys exist:
[code]
I then deploy my functions as a zip like this:
[code]

The result of the deployment command:

[code]

After this, there are no longer any keys in the function app:
[code]

This is deployed from bitbucket pipeline using `mcr.micros

[2021-01-29 12:22] mlearned commented on #69634
Are you asking about ingress controller options?  See https://docs.microsoft.com/en-us/azure/application-gateway/ingress-controller-overview  and https://docs.microsoft.com/en-us/azure/application-gateway/tutorial-ingress-controller-add-on-existing?toc=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fazure%2Faks%2Ftoc.json&bc=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fazure%2Fbread%2Ftoc.json  and there

[2021-01-29 12:35] femsulu commented on #69244
Hi @mikenelson-io , sorry for the delay in responding. I am able to confirm Resource Health is no longer an option for managed Applications. Visit [here](https://docs.microsoft.com/en-us/azure/service-health/resource-health-checks-resource-types) for the full list of Azure Resources that continue to support Resource Health. Azure Monitor alerts remains supported as shown in the visual below.

![im

[2021-01-29 12:36] SAIMMINHAS opened #69710 "Subscription not visible in the 'Assign a blueprint' option"
Hi,

I'm trying to assign a blueprint to a Subscription but no subscription not visible in the 'Assign a blueprint' option.

![image](https://user-images.githubusercontent.com/30388154/106275729-3577e680-622e-11eb-86b5-06b759985dd9.png)

I've tested by creating another Blue print but same issue.
![image](https://user-images.githubusercontent.com/30388154/106275800-59d3c300-622e-11eb-88ab-d0ff904d2

[2021-01-29 12:41] femsulu commented on #69244
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

#please-close

[2021-01-29 12:41] #69244 closed

[2021-01-29 12:54] bannerss commented on #53436
Hi,
I am experiencing the same error and would like to share with you our .yml actions and log:

### **.yml:**
- name: Download artifact
        uses: dawidd6/action-download-artifact@v2
- name: Replace tokens
        uses: cschleiden/replace-tokens@v1.0
  - name: 'Deploy to Azure WebApp'
        uses: azure/webapps-deploy@v2

### **.log:**
Detecting node version spec...
ENOENT: no such file or di

[2021-01-29 13:18] avlind opened #69711 "Scenario 1 Incorrect VNet range for Hub"
The png diagram in Scenario 1, I believe, has a typo in the CIDR range for the Hub Virtual Network. It's stated as 10.1.0.0/16 in the current diagram. That range conflicts with the Virtual Machine Virtual Network range, and is outside the range of the subnets within the diagram that hold the hub resources. I believe it just needs to be updates to say Hub Virtual Network: 10.0.0.0/16.

---
#### Doc

[2021-01-29 13:20] KrishnaG-MSFT commented on #69705
@SAIMMINHAS Glad to know that you have self resolved and hence closed the issue. Thanks for the update.

[2021-01-29 13:22] SwathiDhanwada-MSFT commented on #69710
@SAIMMINHAS Thanks for your comment. We will review the issue and get back to you shortly.

[2021-01-29 13:23] KrishnaG-MSFT commented on #69673
@sushruth Thanks for your comment! We will review and provide an update as appropriate.

[2021-01-29 13:28] MamidiVasavi commented on #69423
thanks @MartinJaffer-MSFT  for testing and letting me know the updates, i hope its for gen1 only. So can we expect this info will be stated in the FAQ session here: https://docs.microsoft.com/en-us/azure/data-lake-store/data-lake-store-access-control#common-questions-about-acls-in-data-lake-storage-gen1.

Also, could you enlighten me on how can I validate that the ACLs are intact before and after

[2021-01-29 13:44] sopelt commented on #63977
@SubhashVasarapu-MSFT are there plans to remove this limitation at some point?

[2021-01-29 14:03] badsector-82 opened #69712 "Import-PfxCertificate access denied"
I guess that's not an issue, but I can't find a forum where I can ask for help. So, running Export-RunAsCertificateToHybridWorker gives me Access Denied while trying to Import-PfxCertificate. The credentials the runbook uses are of a domain admin but somewhere on the web I've red this cmdlet needs elevated prompt. Anyway I imported the certificate manually with mmc, but I was wondering why this ha

[2021-01-29 14:29] Heloiseboanerges opened #69713 "Unable to get image using the get-azimage cmdlet"
Hi,

We are trying to clone a image for a proyect but when we use the get-azimage cmdlet we are not receiving output. When I force with the name, it says it can't find the resource.

Cann you review it? We are having the same issue from two different computers in different locations. My version of the az.compute module is:

![image](https://user-images.githubusercontent.com/40353290/106287080-b216

[2021-01-29 14:29] MCKLMT commented on #69634
No. I'm talking about NSG. My customer wants to define NSG on the subnet hosting the nodes. We are not able to find any documentation on this scenario (except the egress limitation) and especially the incoming ports needed to be opened on this NSG.

[2021-01-29 14:46] DCtheGeek commented on #69710
#reassign:DCtheGeek

@SAIMMINHAS Are you expecting the "Pay-as-you-go1" subscription to be in the drop-down list?  From the screenshot, the Management Group "Management-Group-1" and Subscription "Pay-as-you-go1" are both at the same level as peers under the root tenant. If that subscription is your target, it needs to be under the "Management-Group-1" hierarchy since the blueprint definition is st

[2021-01-29 14:46] DCtheGeek commented on #69710
#label:"in-progress"

[2021-01-29 14:46] KirillBorunov opened #69714 "Error on example"
This section: https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-fed-saml-idp#configuring-a-domain-in-your-azure-ad-directory-for-federation
Step 2 (command example) contains 2 errors:

1) line 8: variable `$uri` is declared but never used.
2) line 2: contains a "-" instead of a "=": `$BrandName - "Sample SAML 2.0 IDP"`

---
#### Document Details

⚠ *Do not edit this sec

[2021-01-29 15:00] fabianallendorf opened #69715 "AKS node auto-repair needs minimum of 2 nodes"
The documentation is missing information about the minimum required nodes in an aks cluster for the remediator to work properly. We had a cluster with only one node. This node is stuck in NotReady state forever. Support informed me that the minumum recommended amount of nodes is two, so that the remediator works.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2021-01-29 15:22] SaurabhSharma-MSFT commented on #69707
@Fabiest Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-29 15:29] balintbako opened #69716 "Kubernetes Pod names with hostname and subdomain cannot be resolved"
If I configure a hostname and subdomain for a pod then it can't be resolved from other pods.

I am following these steps: https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/

The Pod configs relevant part:
[code]

Checking the hostname of the container:
[code]

Then checking the same name from the server with DNS:
[code]

The DNS config of the pod:
[code]

---
#### Document De

[2021-01-29 15:35] MonikaReddy-MSFT commented on #69715
@fabianallendorf -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-01-29 15:38] bmcder opened #69717 "Sendgrid no longer provides free emails"
Sendgrid no longer provides free emails

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73d91616-a93f-84af-7900-5aa34b361ffd
* Version Independent ID: f202a678-4853-d024-55c5-19f89558415c
* Content: [How to use the SendGrid email service (.NET)](https://docs.microsoft.com/en-us/azure/sendgrid-dotnet-how-to-send-email)
*

[2021-01-29 15:48] plynch66 opened #69718 "Maximum VNet Size"
Hi,

This document states that the maximum supported VNet size (in CIDR notation) is /8 :
https://docs.microsoft.com/en-us/azure/virtual-network/virtual-networks-faq#how-small-and-how-large-can-vnets-and-subnets-be

However, this contradicts the Networking Limits documentation which states that the maximum number of Private IP addresses per VNet is 65536 :
https://docs.microsoft.com/en-us/azure/az

[2021-01-29 16:03] nigeldao007 commented on #68211
Just realized the Swap Configuration (/etc/cloud/cloud.cfg.d/00-azure-swap.cfg) does not seem to work, that is when I built a new VM from the image created, I don’t see swap configured.  Can you pass this along to the author?  I’ll search for solution in the meantime, perhaps, I missed something along the way, but any feedback would be greatly appreciated.

Thank you

PS:  same information was sen

[2021-01-29 16:03] MonikaReddy-MSFT commented on #69659
@sakthi-vetrivel - Thanks for providing your insights.
@TiloGit -  Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-01-29 16:03] #69659 closed

[2021-01-29 16:05] MonikaReddy-MSFT commented on #69490
@WenceyWang - Please try the above suggested commands and if that helps.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-01-29 16:05] #69490 closed

[2021-01-29 16:09] jyeblog commented on #67831
@RonyMSFT this week is extremely busy, I will try the repro next week.
But I do recall, without private endpoint, and have firewall turned off on the storage account. I was able to get past step 8. So honestly I don't think it was a spark error.

[2021-01-29 16:23] BharathNimmala-MSFT commented on #69372
Thanks a lot @bandersmsft for helping on this thread.

@agribot2 Hope the above articles will help , also based on your feedback a PR has been raised to link the documentation referred on this thread with above articles as applicable.

At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue, however if you have any furthe

[2021-01-29 16:23] #69372 closed

[2021-01-29 16:32] DCtheGeek commented on #69674
@daniellee-microsoft @mgreenegit has submitted a PR to fix this.  The updated articles will be published in a few hours.  As such, I'm going to close this issue.  Thanks for pointing this out!

#please-close

[2021-01-29 16:32] #69674 closed

[2021-01-29 16:37] JamesTran-MSFT commented on #69714
@KirillBorunov
Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-29 16:47] fgheysels commented on #67310
Hi @SatishBoddu-MSFT  @lyrana @deepakpalled
Any news already regarding updated documentation for MSI authentication ?

[2021-01-29 17:00] SnehaAgrawal-MSFT commented on #69536
Thanks for reply. To elaborate on how our renew and syncs happen:

- You might be aware of that App Service Certificate uses GoDaddy APIs to issue your SSL certificates. Once a certificate is issued,
we store the certificates in the KeyVault you configured during the KeyVault configuration step.
- We have a AutoRenew background task that runs every 8 hours in the App Service Certificate backend to

[2021-01-29 17:07] TomArcherMsft commented on #42467
#sign-off

[2021-01-29 17:08] nigeldao007 commented on #68211
Looks like the partitioning of the resource disk is not working as expected – with the configuration we have in place, we expect the resource disk to be partitioned into 2 partitions (66% and 33% for SWAP) but instead I only see one partition (no SWAP):

fdisk -l /dev/sdb

Disk /dev/sdb: 7 GiB, 7516192768 bytes, 14680064 sectors

Units: sectors of 1 * 512 = 512 bytes

Sector size (logical/physical

[2021-01-29 17:11] georgewallace commented on #69717
@bmcder Thanks, this is aging documentation that I am working with Sendgrid to update, I removed the offending text. This content will be live in the next 1 1/2 hours. #please-close

[2021-01-29 17:11] #69717 closed

[2021-01-29 17:17] marcelkmfst opened #69721 "Add information about howto modify default route"
Can we please add information about changing the default route? This can´t be done in the portal for cross-tenant connections. It can either be done during the creation of the peering or afterwards.

During the creation:
New-AzVirtualHubVnetConnection -ParentResourceId "/subscriptions/9076d78f-8a52-4f8d-8567-11b42296bf31/resourceGroups/RG-VWAN-GER/providers/Microsoft.Network/virtualHubs/WANHUBGER"

[2021-01-29 17:20] tamram commented on #68205
@ToddBowman - Actually, the restore time is always specified in UTC time. The portal converts the local time to UTC time to perform the operation.

In some cases, you may get the same result regardless of whether you specified local time or UTC time. For example, let's say your local time zone is UTC - 5. When you specify the local time for the restore point, the restore operation will proceed wit

[2021-01-29 17:20] #68205 closed

[2021-01-29 17:22] tamram commented on #67298
@Console32 - Thanks for your feedback.

I have added the CLI examples to the how-to article for point-in-time restore:

https://docs.microsoft.com/azure/storage/blobs/point-in-time-restore-manage

#please-close

[2021-01-29 17:22] #67298 closed

[2021-01-29 17:30] hpsin opened #69722 "The SDK section at the top should include links to download them"
This was a great page to find, but then I had to figure out how to get the sample code / SDK packages myself.  It would be good to include these in the descriptions of each sdk.

Also, is this all of the SDKs that support daemon auth?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08bcd9e7-d45f-1867-185a-c74636a9f448
*

[2021-01-29 17:31] JayaChatterjee-MSFT commented on #69578
@spelluru Thanks for your help.

[2021-01-29 17:32] sasedlock opened #69723 "Add note pointing out need for user-role-assignment to FHIR API"
Hello,

As a colleague and I were following this page's documentation, I wanted to share a step I think is missing, or would be beneficial for others to be aware about; specifically, the need to define a Role specific to the Azure API for FHIR resource within the Access Control (IAM) section.

More technically, after following the instructions to obtain an access token through Postman, they will b

[2021-01-29 17:32] easp opened #69724 ""No Subscriptions Were Found" when trying to publish project to Azure."
I've previously created a free account and logged in to Azure in VisualStudio Code.

When I click the "Deploy to function app..." button I receive an error dialog in the lower left that reads:  "No subscriptions were found. Set up your account at https://azure.microsoft.com/en-us/free/."

After clicking the link it isn't clear what additional account setup is required.

Tutorial should explain req

[2021-01-29 17:33] JamesTran-MSFT commented on #69722
@hpsin
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-01-29 17:34] shashishailaj commented on #68830
@docast This change have been merged and we have updated the content . It could take upto 48 hours for the content to be live in all geographies . We will now close this issue.

Thank you.

[2021-01-29 17:34] #68830 closed

[2021-01-29 17:40] JamesTran-MSFT commented on #69714
@KirillBorunov
Thank you for pointing this out! I've assigned this issue to the author who will investigate and update as appropriate.

![image](https://user-images.githubusercontent.com/36619112/106308274-51bb5980-6215-11eb-97e9-23a17fedccc1.png)

[2021-01-29 17:41] SaiKishor-MSFT commented on #69661
Hello, Thank you for pointing this out. We have fixed the page now. I will go ahead and close this thread, please let me know if you have any further concerns. Thank you!

[2021-01-29 17:41] #69661 closed

[2021-01-29 17:42] mmacy commented on #69722
@msewaweru I chatted with Hirsch on this one, there are a couple ways we can go about fixing (one is quick, other is more involved with possible use of INCLUDEs). Passing this over to you for scheduling next sprint. #reassign:mmacy

[2021-01-29 17:43] SAIMMINHAS commented on #69710
Hi DCtheGeek,

Many thanks for the tip.

It solved my issue.

[2021-01-29 17:43] #69710 closed

[2021-01-29 17:43] bandersmsft commented on #69332
@RicardoNiepel Hi there. Sorry that the article was a little out of date. Power BI made some changes that limits customizability of template apps. To get full customization, you can use the Azure Cost Management Power BI connector in Power BI Desktop. It will allow you to join data from multiple datasets. I've updated this article to say as much.

Here are some links that might be useful:
- https:

[2021-01-29 17:44] spelluru commented on #69578
The article explicitly mentions "custom topics" now.

#please-close

[2021-01-29 17:44] #69578 closed

[2021-01-29 17:51] #69562 closed

[2021-01-29 18:03] JeffLoo-ong opened #69726 "Needs an update on how to Download blob info."
[Enter feedback here]
`await download.Content.CopyToAsync(downloadFileStream)` should be `await download.Value.Content.CopyToAsync(downloadFileStream)`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60e56e69-1c44-2056-ad5f-319535e4b525
* Version Independent ID: 49fa6098-0b8e-ebf5-efe7-f50f3604e325
* Content: [Quickstar

[2021-01-29 18:11] KranthiPakala-MSFT commented on #69668
Thanks for the feedback @nikhilsinghmsft. Will update the document to have a note. Please do share the user voice feedback link once it is posted.

Thank you

[2021-01-29 18:17] YutongTie-MSFT commented on #69709
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-01-29 18:19] SatishBoddu-MSFT commented on #69076
Hello @ramakrpr Just checking back on this, please let us know if you need further help in this matter.

[2021-01-29 18:21] nikhilsinghmsft commented on #69668
Here you go:
TTL feature for IR in Azure Synapse Analysis - Customer Feedback for ACE Community Tooling<https://feedback.azure.com/forums/307516-azure-synapse-analytics/suggestions/42575461-ttl-feature-for-ir-in-azure-synapse-analysis>

Regards,

Nikhil Singh
Cloud Solution Architect - Data & AI
singh.nikhil@microsoft.com<mailto:singh.nikhil@microsoft.com>
+1(469) 775-3952
8:30 AM - 5 PM Central
[

[2021-01-29 18:28] rwike77 commented on #50421
#reassign:@paulgarn

[2021-01-29 18:30] shashishailaj commented on #69692
@GavinJin8 Thank you for your feedback . We will investigate and update the thread.

[2021-01-29 18:38] ChaitanyaNaykodi-MSFT commented on #69699
Hello @GergoNinacs,
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-01-29 18:41] SaiKishor-MSFT commented on #69711
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-01-29 18:42] SaiKishor-MSFT commented on #69718
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-01-29 18:42] SaiKishor-MSFT commented on #69721
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-01-29 18:44] ChaitanyaNaykodi-MSFT commented on #69702
Hello @blueelvis,
Thank you for your feedback! We will review and update as appropriate.

[2021-01-29 18:45] MartinJaffer-MSFT commented on #69461
Thank you for your question @YidiQin .
@mssaperla I have been unable to locate information useful for answering this question.  Could you please route this to the appropriate expert?

[2021-01-29 18:51] HemantG25 opened #69728 "Updated Path for makecert.exe"
The path of make cert is varies as per updated SDK in Windows 10, below will be updated path for Windows 10:

C:\Program Files (x86)\Windows Kits\10\bin\10.0.19041.0\x64> .\makecert.exe

At above 10.0.19041.0 is get changed as per updated SDK.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6928a89c-cd36-28ad-c6bc-007b8

[2021-01-29 18:52] pmzara opened #69729 "Wrong data type parameters since and until."
The parameters "since" and "until" on this page should be string and not integer.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3dedace3-fcb7-45b7-8bc1-11b5485d033a
* Version Independent ID: 1af36bac-1b08-f493-285f-23b64f12c500
* Content: [Retrieve IoT Edge logs - Azure IoT Edge](https://docs.microsoft.com/en-us/azure

[2021-01-29 18:52] jeevansd commented on #69664
@trailblazer0711 You can choose the right value for this claim based on your requirement. Please look at the Grammarly user store and see what is the identifier used their based on that you can choose the UPN or email address. Every customer requirement is different and so we allow to change this value as needed.

[2021-01-29 18:52] jeevansd commented on #69664
#please-close

[2021-01-29 18:52] #69664 closed

[2021-01-29 18:53] KranthiPakala-MSFT commented on #69668
@nikhilsinghmsft Thank you

[2021-01-29 18:53] lisaweixu commented on #62959
The SDK 1.15 supports creating a voice profile from a saved profile id and voice type. It will support retrieving enrollment status from a single voice profile in the near future. Probably in 1.16. The customer need to save trained profile ids and use them in identification/verification later.

[2021-01-29 18:54] jorendorff opened #69731 "The page that explains the "control plane" concept is very good"
My apologies if this non-actionable positive feedback is just creating work for someone! No need to respond. :)

I asked duckduckgo what a control plane is, and they sent me here. The examples are so crisp and do their job so well I almost laughed out loud. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 173ac54

[2021-01-29 18:59] SadiqhAhmed-MSFT commented on #69700
@kantipenko Thanks for the feedback. We will have this reviewed by the content owner and update as appropriate.

@rayne-wiselman For visibility

[2021-01-29 19:01] BharathNimmala-MSFT commented on #69332
Thanks a lot @bandersmsft for helping on this thread.

@RicardoNiepel Please review the information shared by @bandersmsft and let us know if you have any further queries.

At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue, however if you have any further queries please tag us in your reply and will be happy to reop

[2021-01-29 19:01] #69332 closed

[2021-01-29 19:07] julieMSFT commented on #34212
Hi @LindaLF the article you are referencing, [PowerShell example - create a managed instance in Azure SQL Database](https://docs.microsoft.com/en-us/azure/azure-sql/managed-instance/scripts/create-powershell-azure-resource-manager-template) is out of date and will be removed. This link will be redirected to the updated article, [Quickstart: Create an Azure SQL Managed Instance using an ARM templat

[2021-01-29 19:07] julieMSFT commented on #34212
#https://github.com/MicrosoftDocs/azure-docs-pr/pull/144950

[2021-01-29 19:07] julieMSFT commented on #34212
#please-close

[2021-01-29 19:07] #34212 closed

[2021-01-29 19:13] MartinJaffer-MSFT commented on #69423
@MamidiVasavi
Well, in my test, I created a new ADLS gen1, then uploaded 2 random files from my hard drive.  I then assigned ACL permission on one of them to my colleague X.  I then assigned ACL permission on the root folder to my colleague Y.  I then assigned a reader RBAC role to colleague Z.
After moving, I checked the permissons on both files and the root folder.  I saw entries for my colleagu

[2021-01-29 19:14] roninstar commented on #62959
Excellent thanks Wei! I am excited to continue development with the speaker recognition voice profile work. This feature is exactly what we needed to retrieve an enrolled profile from the server so our device can recognize our users who have completed voice training.
Best regards,
Mark

Mark Lane
Director of Software Engineering
HandsFree Health
mlane@handsfreehealth.com
phone 484-645-0677
www.han

[2021-01-29 19:20] julieMSFT commented on #58619
HI @minhdn90 Thank you for contacting Microsoft Docs. I hope this answered you question. I will go ahead with closing this issue. The @notification mechanism continues to work even after an item is closed, in case further communication is needed. We hope to hear from you again.

[2021-01-29 19:20] julieMSFT commented on #58619
#please-close

[2021-01-29 19:20] #58619 closed

[2021-01-29 19:22] julieMSFT commented on #58619
#assign:julieMSFT

[2021-01-29 19:24] shsandeep123 commented on #68086
Thanks for the feedback! We have removed the email addresses from the starterkitterms.csv file now.

[2021-01-29 19:24] shsandeep123 commented on #68086
#please-close

[2021-01-29 19:25] #68086 closed

[2021-01-29 19:29] renancnetto opened #69732 "Error AADSTS500021"
Hi everyone! I have just created a Azure AD B2C Tenant and when I try to change my directory to the fresh new tenant I receive the error "AADSTS500021: Access to %tenant_name% tenant is denied.".
This AADSTS500021 error is not described in the docs microsoft page below.
Best.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2021-01-29 19:37] ChaitanyaNaykodi-MSFT commented on #69703
Hello @jokarl,
Thank you for your feedback! We will review and update as appropriate.

[2021-01-29 19:47] ThomasPoppelgaard commented on #64371
Can we please get updated the page so it include the right OS, there is no longer any 1903 in the azure image gallery there is 1909. so its very important we get this updated. Also if there is support for newer OS (WIndows10) that would be great to get this updated.

[2021-01-29 19:52] davidjhastings opened #69734 "NTttcp download links are broken"
All download links for NTttcp are broken as of yesterday. This is also breaking installing via chocolatey.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42423f75-6611-2ff6-135d-cd0a11bab7c2
* Version Independent ID: ae7c8bd5-2eb5-1c4d-af63-def403a4a574
* Content: [Testing Azure VM network throughput](https://docs.micr

[2021-01-29 19:52] ColdenCullen opened #69735 "NTttcp download instructions are broken"
This page links to a direct download link for the ntttcp installer, and instructions to "bing it and click the first result." Both strategies fail, as they both redirect to a home page for code samples. Is there a new location to download NTttcp from?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42423f75-6611-2ff6-13

[2021-01-29 19:54] kosinsky opened #69736 "Add SQL data type mapping when loading ORC files"
Page says that both ORC and Parquet files are supported, but it doesn't specifies mapping for ORC files. As a result, it a lot of guess work when trying to load ORC.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 437b3c1e-b43f-360d-fb6f-27bb66b29a55
* Version Independent ID: 96509a9c-d258-8956-a219-02d188c16d9b
* Conte

[2021-01-29 19:54] ColdenCullen commented on #69735
Looks like I got beaten to the punch, this is a dupe of #69734.

[2021-01-29 19:54] #69735 closed

[2021-01-29 19:55] ThomasPoppelgaard commented on #69354
Thank you for updating this,

[2021-01-29 19:57] spelluru commented on #43975
Closing it for now.

#please-close

[2021-01-29 19:57] #43975 closed

[2021-01-29 20:01] ChaitanyaNaykodi-MSFT commented on #69724
Hello @easp,
Thank you for your feedback! We will review and update as appropriate.

[2021-01-29 20:11] shivanissambare commented on #69709
Hi,

Thanks for the feedback.
We will look into having HTTP trigger example.

For now, you can go into your resource group --> select the Functions App --> go to Functions --> azureml-service --> click on it --> get functions URL

https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-function-linux-custom-image?tabs=bash%2Cportal&pivots=programming-language-python#verify-your-fun

[2021-01-29 20:24] MonikaReddy-MSFT commented on #69735
@ColdenCullen - Thanks for brining this to our attention. We will work on getting this fixed. Thank you.

[2021-01-29 20:25] MonikaReddy-MSFT commented on #69734
@davidjhastings -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-01-29 20:40] spelluru commented on #69702
This is an Azure Functions issue.

I ran through the Azure Functions tutorial for Queue Trigger:
https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-storage-queue-triggered-function

And, when I send the test message with the default option "Encode the message body in Base64", the function receives the message fine.

If I clear the "Encode the message body in Base 64" option, I

[2021-01-29 20:55] HughDevlin commented on #69267
This article in particular helped send me down the wrong path. I feel this article among others oversells the simplified parameter set by not giving adequate weight to the significant limitations:

Create a VM using a generalized image

https://docs.microsoft.com/en-us/azure/virtual-machines/vm-generalized-image-version-powershell

[2021-01-29 20:58] MarileeTurscak-MSFT commented on #69732
@renancnetto thanks for the feedback!

@rwike77 this was reported here too. https://github.com/MicrosoftDocs/azure-docs/issues/69022

Could you take a look?

[2021-01-29 21:01] HughDevlin commented on #69267
Thank you for your reply.

You asked, "when you can get away with using the simplified parameter set"

Anytime you need to supply plan info, anytime you try create a VM from a marketplace image, or from an image based on a marketplace image, it seems you may not use the simplified parameters, what use cases are left?

Isn't Microsoft going to require plan info anytime you try to create a Windows V

[2021-01-29 21:02] MarileeTurscak-MSFT commented on #36607
I have reported this to the product team. Please stand by.

[2021-01-29 21:03] davidjhastings commented on #69734
I'd guess this is due to the [TechNet Gallery shutdown](https://docs.microsoft.com/en-us/teamblog/technet-gallery-retirement) without migrating NTttcp for Windows (the Linux version is already available on GitHub).

[2021-01-29 21:04] DeanGross opened #69739 "Missing Content"
WHen I click on the link to get the SSPR Communications content, it points to https://www.microsoft.com/download/details.aspx?id=56768 and that says the content is no longer available. Can you find that content and/or fix the link?
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c25827f-08b6-03e4-2997-d39ae6a2b6

[2021-01-29 21:04] rgmatthes commented on #69469
Thanks ecfan, I see the update. At least it's something.

I added the UserVoice here: https://feedback.azure.com/forums/287593-logic-apps/suggestions/42578674-enable-support-for-content-type-header-in-http-get

@gjelhus @jrobijn @ecfan @ChaitanyaNaykodi-MSFT You know what to do

[2021-01-29 21:10] ecfan commented on #69469
@rgmatthes, I've alerted the engineering team that you opened the request. They'll evaluate based on how many people vote for the update.

[2021-01-29 21:10] bandersmsft commented on #56924
@maniaX1 Hi there. I'll check with the engineering team, but I think this issue has not been solved. I'll reply here when I have confirmation.

[2021-01-29 21:13] MarileeTurscak-MSFT commented on #69739
@DeanGross
Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-29 21:17] roygara commented on #69499
@tonipalma1 Thanks for pointing this out, we appreciate it. The English version is correct, we've contacted the localization team and will get the Spanish version aligned.

Accordingly, I'll close this out.

Again, thanks for bringing this to our attention and helping us improve the documentation. :)

#please-close

[2021-01-29 21:17] #69499 closed

[2021-01-29 21:20] MarileeTurscak-MSFT commented on #69739
It looks like this already got fixed. https://www.microsoft.com/en-us/download/details.aspx?id=56768

If you go there and select the download link you can choose which documents to download.

![image](https://user-images.githubusercontent.com/13383753/106328393-97d3e580-6234-11eb-8772-dc95830f3592.png)

![image](https://user-images.githubusercontent.com/13383753/106328430-aae6b580-6234-11eb-998f-9

[2021-01-29 21:21] #69739 closed

[2021-01-29 21:21] alan0609 commented on #69633
I believe this is a duplicate of [#62110](https://github.com/MicrosoftDocs/azure-docs/issues/62110)

[2021-01-29 21:31] spelluru commented on #37532
Hi @nickstaggs - Sorry for the late reply. I have been going through all the old issues and responding as soon as I can.

I discussed the issue with @axisc and confirmed that the above statement from @SeanFeldman is correct. JSON and AVRO formats are recommended with considerations for payload serialization. I will update the statement. Thanks for the feedback.

[2021-01-29 21:33] baf opened #69740 "Hardware token support for SSPR"
The table on this page shows "MFA" only next to the "OATH hardware tokens" authentication method, but the page at https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/whats-new-archive#users-can-reset-their-passwords-using-a-mobile-app-or-hardware-token-general-availability states that "Users can reset their passwords using a mobile app or hardware token (General Availability)."

D

[2021-01-29 21:39] BharathNimmala-MSFT commented on #69731
@jorendorff Thank you for reaching out and sharing your candid feedback .

Apologies for the experience , will share the feedback with our document authoring team and have a back log item to see how we can improve this experience.

[2021-01-29 21:47] davidmrdavid commented on #57955
I believe these features have been documented by now, are we good to close this issue @iMicknl?

[2021-01-29 22:02] DerekHerman-MSFT commented on #69726
@JeffLoo-ong Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-01-29 22:20] schnerring commented on #64154
Was this resolved?

[2021-01-29 22:21] VladimirKhvostov opened #69741 "Not obvious how to determine OS, temp, and managed disks programatically"
This article should describe links under /dev/disk/azure/

lrwxrwxrwx 1 root root   9 Jan 29 18:57 resource -> ../../sda
lrwxrwxrwx 1 root root  10 Jan 29 18:57 resource-part1 -> ../../sda1
lrwxrwxrwx 1 root root   9 Jan 29 18:57 root -> ../../sdc
lrwxrwxrwx 1 root root  10 Jan 29 18:57 root-part1 -> ../../sdc1
lrwxrwxrwx 1 root root  11 Jan 29 18:57 root-part14 -> ../../sdc14
lrwxrwxrwx 1 root ro

[2021-01-29 22:23] SatishBoddu-MSFT commented on #69729
Hello @pmzara
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2021-01-29 22:28] schnerring commented on #30370
I've done that by reading through WALinuxAgent's code. See https://github.com/linuxkit/linuxkit/pull/3585 for a very simplistic Go implementation. The custom data is provided via CDROM attached by the Azure hypervisor. See also [cloud-init Azure docs](https://cloudinit.readthedocs.io/en/latest/topics/datasources/azure.html#builtin-agent) for a high level overview how cloud-init does it.

[2021-01-29 22:54] cynthn commented on #69267
@HughDevlin You'd think so , but nope. I've created hundreds VMs from images and snapshots and never had to pass in plan information. I suspect it's because I usually use the vanilla Microsoft supplied iamge for Windows 2016 or 2019. As far as I know, this only happens with some 3rd party Marketplace images. I've yet to confirm why it happens with some, but not others, and I think it is based on w

[2021-01-29 23:09] ChaitanyaNaykodi-MSFT commented on #69302
Hello @vlad610, apologies for the delay. I could not replicate the issue faced.
By following the [steps mentioned](https://docs.microsoft.com/en-us/azure/api-management/api-management-using-with-internal-vnet#enable-a-virtual-network-connection-using-the-azure-portal) in the document. I was not able to perform the API call using the Test console from Azure Portal as shown below.

![image](https://

[2021-01-29 23:09] #69302 closed

[2021-01-29 23:11] JamesTran-MSFT commented on #69740
@baf
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-01-30 00:02] TravisCragg-MSFT commented on #69713
@Heloiseboanerges I am able to get this working without issue with compute module 4.8, and yours is 4.6.

If the command 'Get-AzImage' is not throwing an error, it is likely just not finding any images in your subscription. Verify that you have created a managed image and that it exists in your subscription.

[2021-01-30 00:03] NavtejSaini-MSFT commented on #69506
@mokabiru At this time we are going ahead and closing this issue. When we get more info from you , we will work on the same.

[2021-01-30 00:09] SaurabhSharma-MSFT commented on #69676
@slsu0424 I am not seeing any issues while running it.  Batch:0 though appears at the top of the output window.  Once you scroll down you can see other Batches with data. (see below gif for your reference).
![Twitter_Notebook](https://user-images.githubusercontent.com/38112130/106339746-5ea76f80-624c-11eb-9ed9-986b1b159621.gif)

Thanks
Saurabh

[2021-01-30 00:13] mokabiru commented on #69506
@NavtejSaini-MSFT - I'm still waiting for confirmation / updates from @alalani123 based on my comment. Re-pasting it here:

@alalani123 - you are correct that DMA does not support migration to target SQL MI. But DMA still supports assessment for SQL MI. The docs page only talks about using DMA for assessment and not migration. If you look at the migration tools we have listed in the guide here: ht

[2021-01-30 00:21] ChaitanyaNaykodi-MSFT commented on #69447
Hello @tyeth, Thank you for reporting the issue, I could replicate the error, the Route template should be set to `hello` instead of `\hello`. To get rid of the error first change the route in `function.json` file in `Code + Test` section and then update the Route Template in the `Integration` section.
We have assigned this issue to the author to review further and take the next course of action.

[2021-01-30 00:33] TravisCragg-MSFT commented on #69741
@VladimirKhvostov Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-01-30 00:36] SaiKishor-MSFT commented on #69440
@RonnieQuan Traffic Manager is only a DNS product. When there is a client request, it goes to traffic manager, traffic manager response back with a dns response, it doesn't have control over if the client is connecting via http or https. Ideally you should not be using the Traffic Manager url and should create a cname as given in document- https://docs.microsoft.com/en-us/azure/traffic-manager/tra

[2021-01-30 00:37] SaiKishor-MSFT commented on #69432
@Teja2608 Custom error pages can map to a listener, not an individual route. So yes you should be able to do it.

[2021-01-30 00:38] NavtejSaini-MSFT commented on #69723
@sasedlock We are checking this and will get back to you.

[2021-01-30 00:53] ChaitanyaNaykodi-MSFT commented on #69500
Hello @Radamonas, apologies for the delay. Yes, you are correct it should be `context.Subscription.CreatedDate` . I have made a PR to update the document, which is currently under doc-author's review. Thank you for the feedback!

[2021-01-30 00:53] BharathNimmala-MSFT commented on #69712
@badsector-82 Thank you for reaching out. Please note that this channel ([the Azure Docs repository](https://github.com/MicrosoftDocs/azure-docs/issues)) is only for driving improvements related to the Azure documentation.
The best place for specific answers about implementations are going to be on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/topics/azure-automation.html) or [Stack Ove

[2021-01-30 00:53] #69712 closed

[2021-01-30 00:56] #69500 closed

[2021-01-30 00:59] TravisCragg-MSFT commented on #69716
@balintbako Are you using a custom DNS service with CoreDNS as described in this doc, or are you using the default Kubernetes DNS pod & service?

[2021-01-30 01:00] TravisCragg-MSFT commented on #69353
@ThomasPoppelgaard Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-01-30 01:00] #69353 closed

[2021-01-30 01:00] TravisCragg-MSFT commented on #69356
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-01-30 01:00] #69356 closed

[2021-01-30 01:31] KranthiPakala-MSFT commented on #69736
@kosinsky
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-01-30 01:43] sanjaydatasciencedojo opened #69744 "Incomplete guide"
This guide is incomplete. It does not talk about selecting the os type. If we don't select the os type, the disk is unusable. The create option for VM greys out for the disk.

https://docs.microsoft.com/en-us/previous-versions/azure/virtual-machines/scripts/virtual-machines-powershell-sample-create-managed-disk-from-vhd

We will need to specify the following way to avoid the issue.

`$diskConfig =

[2021-01-30 01:55] KrishnaG-MSFT commented on #69717
@georgewallace Thanks for the super quick response. :+1:

[2021-01-30 01:56] xppolo opened #69745 "custom vision"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97b63c98-e3f6-6ccc-e6db-0422a96a8042
* Version Independent ID: 06e0e981-d666-2fab-a44f-66622a16c144
* Content: [Image categorization - Computer Vision - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/cognitive-services/computer-visio

[2021-01-30 02:32] cmmdesai commented on #69656
Currently WorkerID is mandatory in writeback scenario.

[2021-01-30 02:33] cmmdesai commented on #69656
Using WID alone is not supported. With inbound user provisioning you can populate WorkerID from Workday to Azure AD or AD employeeId attribute and use it in the Writeback.

[2021-01-30 02:35] pavel242242 opened #69747 "it just doesn't work on my subscription"
I started with sqlpackage on mac, but it gave me login failed eventho I'm 100% sure, my credentials and connection parameters were correct.
I continued with importing bacpac from cloud shell, but New-AzSqlDatabaseImport threw unexpected error. After I realised I have created storage account in wrong region, I hurried to try again, probably solved, right? No. Another unexpected error.
Then I tried

[2021-01-30 02:36] cmmdesai commented on #69521
Currently it is not possible to change the provisioning interval schedule. For the other issue on specific attributes not synchronizing, please open a ticket with support to help with the resolution.

[2021-01-30 03:01] benjamincburns opened #69749 "When introducing the new terms "actions" and "resourceTypes," the new terms link me to pages that don't define the terms"
I'm providing feedback about the overview page for Custom Resource Providers.

Under the "How to build custom resource providers" heading I encountered the terms `action` and `resourceType` for the first time. The terms are linked, so I clicked through expecting that I'd find some definition of an `action` or `resourceType`, but I'm brought to tutorial pages for [how to create an `action`](https:/

[2021-01-30 03:03] MonikaReddy-MSFT commented on #69744
@sanjaydatasciencedojo -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-01-30 03:15] MonikaReddy-MSFT commented on #69592
@cshea15 - This product is in Public Preview and we have added this in our backlog to get the document updated.
Thanks again for bringing this to our attention. Once the doc is updated it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reope

[2021-01-30 03:15] #69592 closed

[2021-01-30 03:15] MonikaReddy-MSFT commented on #69593
@cshea15 - This product is in Public Preview and we have added this in our backlog to get the document updated.
Thanks again for bringing this to our attention. Once the doc is updated it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reope

[2021-01-30 03:15] #69593 closed

[2021-01-30 03:20] MonikaReddy-MSFT commented on #69744
@sanjaydatasciencedojo -
Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-01-30 03:20] #69744 closed

[2021-01-30 05:37] #69672 closed

[2021-01-30 05:43] KranthiPakala-MSFT commented on #69672
@dkocur
The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2021-01-30 06:05] KrishnaG-MSFT commented on #69728
@HemantG25 Thanks for your comment! We will review and provide an update as appropriate.

[2021-01-30 06:21] vaibhavb commented on #18475
Any thoughts on how this would be solved in 2021?

[2021-01-30 07:33] KrishnaG-MSFT commented on #69749
@benjamincburns Thanks for the feedback.
Assigning content owner @jjbfour for visibility, review and document enhancement consideration as appropriate.

[2021-01-30 09:09] gb5757870 commented on #69374
Terrific. Thank you!

On Tue, 26 Jan 2021 at 00:08, James Tran-MSFT <notifications@github.com>
wrote:

[2021-01-30 09:33] henrywang08 opened #69752 "The step of "Block a user" is not matching with Azure UI"
[Enter feedback here]
In current Azure UI, there is no "Replication Group". Here is the screenshot when try to block a user:

![image](https://user-images.githubusercontent.com/16641366/106352726-66384880-6320-11eb-80e4-23334e2b0ad0.png)

Please correct the document to reflect the correct step by removing "Replication Group".

Please also verify if "username\\@domain.com" is correct format, since

[2021-01-30 10:01] vlad610 commented on #69302
@ChaitanyaNaykodi-MSFT I should have specified - you should be in the same VNET as the APIM service. If you are not in the same VNET, you can't reach that internal IP (as expected).

[2021-01-30 10:35] trailblazer0711 commented on #69664
So how do I determine what value is correct for me?

On Fri, Jan 29, 2021, 8:52 PM PRMerger19 <notifications@github.com> wrote:

[2021-01-30 10:37] trailblazer0711 commented on #69664
What exactly do you mean by "look at the Grammarly user store and see what
is the identifier used"?

Could you please send a screenshot?

On Sat, Jan 30, 2021, 12:35 PM Anthony Smith <trailblazer0711@gmail.com>
wrote:

[2021-01-30 12:47] tomconte commented on #69709
Hi,

Thanks for this suggestion, I have tried that, unfortunately there is no function listed in the "Functions" tab. I have followed the tutorial, except I used a HTTP_TRIGGER instead of BLOB_TRIGGER.

[2021-01-30 15:06] jikuja opened #69754 "SHIR reconfiguration vs full uninstall/install"
Multiple tickets(1) mention that SHIR should be re-installed to change settings instead of using dmgcmd.exe. Why this best practice is not documented at all? Even the subtitle in the documentation is `Set up an existing self-hosted IR via local PowerShell` instead of `Do initial set up an existing self-hosted IR via local PowerShell`

Does this also mean that in order to update TLS certs I need to

[2021-01-30 15:16] NavtejSaini-MSFT commented on #69506
@mokabiru Thank you for the same. I have reopened the issue and assigned to you.

[2021-01-30 15:28] SadiqhAhmed-MSFT commented on #69514
@ericrrichards The ARM template resource type "Microsoft.Resources/deployments" can contain a “template” property which can contain a nested template that will be included in that deployment,
Not all resources are part of that deployment resource, like resource group,

See ARM docs for more details,
[Microsoft.Resources/deployments - ARM template reference | Microsoft Docs](https://nam06.safelinks

[2021-01-30 16:33] mlcooper commented on #39701
@DCtheGeek I am confused by this statement above that "The Resource Policy Contributor doesn't include those RBAC operations."  However, in looking at the documentation for this role, it has `Microsoft.PolicyInsights/*`:

![image](https://user-images.githubusercontent.com/9505606/106362094-037a8900-62ef-11eb-86e5-10f2b315d6fe.png)

[2021-01-30 16:36] gbeaudoin78 commented on #55315
Any updates on this issue?

[2021-01-30 16:46] diligent176 opened #69756 "Screenshot from CosmosDB conainer would help clarify"
This example would really benefit from a screenshot of the Families container in CosmosDB.
It's easier to grasp the SQL syntax and JSON results when you see the DB structure it comes from.

(Specifically, what is c in this example?) ` SELECT * FROM c IN Families.children `

- Jason

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2021-01-30 16:58] barmettlerl commented on #69635
And? What is the problem?

[2021-01-30 17:00] Manuel-Moya commented on #61627
I would need a solution for this issue. It does not make any sense not controlling the ACI ip address, in my opinion, it is not useful at all having ACI in private VNET having this issue.

[2021-01-30 17:23] soderlind commented on #48177
@amitsriva, do you have an answer to @sopelt question above? I would also like to use manged certificates for apex domains. I have 100+ domains I need to add.

[2021-01-30 17:36] cuatrix-bensonlee opened #69757 "MFA Enforced"
It probably is helpful to share that `$st.State = "Enabled"` can be changed to `$st.State = "Enforced"` so that MFA is enforced, which is one notch higher than simply enabling MFA.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4cb129d2-9594-bf0c-5946-982f0ed0d888
* Version Independent ID: 6522b038-6853-3552-55c8-f174c

[2021-01-30 17:53] KrishnaG-MSFT commented on #69745
@xppolo Can you please elaborate or explain what your feedback is regarding?

[2021-01-30 17:55] KrishnaG-MSFT commented on #69747
@pavel242242 Thanks for your comment! We will review and provide an update as appropriate.

[2021-01-30 17:57] KrishnaG-MSFT commented on #69752
@henrywang08 Thanks for your comment! We will review and provide an update as appropriate.

[2021-01-30 18:10] javester opened #69758 "disk swap video missing video"
no video link

"Disk Swap Video:
If you do not have access to GRUB watch this video and see, how you can easily automate the disk swap procedure to recover your VM"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee4513bb-d7bd-8695-3b13-26fb00996ec3
* Version Independent ID: 820e768d-153b-0b2b-76e3-c50e87336a85
* Conten

[2021-01-30 18:10] RonnieQuan commented on #69440
So https://<>.trafficmanager.net does not response is by design?

[2021-01-30 18:41] javester opened #69759 "disk swap video missing"
references disk swap video but there is nothing there, same issue as last submission but on different page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95441ea4-e1d7-2ae1-2ddc-c473caab08bf
* Version Independent ID: 16c18348-6f30-6324-1791-a7e1404a7f61
* Content: [Troubleshoot boot errors in Azure Linux Virtual Machin

[2021-01-30 20:09] zxue commented on #69723
Thanks for the feedback. We will update the doc to add the missing step (which is covered in a different doc as shown below) or add a link to the doc where we discuss how to assign roles. You can use one of the four roles for the Azure API for FHIR service, for example, "FHIR Data Contributor".

Configure Azure RBAC for FHIR
https://docs.microsoft.com/en-us/azure/healthcare-apis/configure-azure-rb

[2021-01-30 20:22] peterdol commented on #11755
I created a nuget package for this scenario, see https://www.nuget.org/packages/AzureFunctionsRoutePriority/1.1.1 and https://github.com/peterdol/azure-functions-route-priority. It applies to proxies as well. Please use at your own risk and test it well, I only created and tested it for my own needs and use cases.

[2021-01-30 22:37] KranthiPakala-MSFT commented on #69668
@nikhilsinghmsft - Here is an existing [doc](https://docs.microsoft.com/en-us/azure/synapse-analytics/data-integration/concepts-data-factory-differences#available-features-in-adf--azure-synapse-analytics) which talks about differences between Synapse pipelines and ADF and TTL functionality is being called out in this doc.

![image](https://user-images.githubusercontent.com/50185738/106369682-64628

[2021-01-30 22:37] #69668 closed

[2021-01-30 22:51] Javaman2 opened #69762 "Followed the instructions and the HTML page doesn't talk to the function"
If one tries this today, it doesn't work.

First, there is no message folder.
Renaming the Http1Trigger folder to message allows for this call to work from browser.
http://localhost:7071/api/message/ which returns the data to the browser window, this means the function runs fine after pressing F5.

This code in the vanillaBasic project doesn't work

    (async function() {
      let { text } = awa

[2021-01-30 23:31] joelulrich opened #69763 "SKU Missing - MCOPSTNEAU2 and any other Telstra Calling Plans"
Hello,
I cannot find the SKU Details for MCOPSTNEAU2. This is a Telstra Calling Plan in Australia, I am able to see the SKU on my tenant when Get-AzureADSubscribedSku is ran.

I am unsure if there are other SKU's for the different Telstra Calling Plans.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c245452-161d-89a1-

[2021-01-30 23:48] abatishchev commented on #56483
@femsulu, @gsacavdm ping

[2021-01-31 00:21] sasedlock commented on #69723
Thanks Benjamin, a link to the other doc page would be great.

Best,

Sean

On Sat, Jan 30, 2021 at 2:09 PM Benjamin Xue <notifications@github.com>
wrote:

[2021-01-31 01:23] etaham opened #69764 "Summary of managed identities is unclear - which mode is it talking about?"
AKS (and this page) has three different option for cluster identity:
1. Use an SP
2. Use a system managed identity
3. Use a user defined managed identity.

There is a table on the page called **Summary of managed identities**. It's not clear what "Bring your own identity" mean. Is it an SP or user-defined msi? Please add a seperate column for each option and described if the function is supported

[2021-01-31 01:36] ram-msft commented on #69565
Thanks for the feedback. @cartacioS Could you please help with the doc update for the day_of_week in [create-and-load-dataset](https://docs.microsoft.com/en-gb/azure/machine-learning/tutorial-first-experiment-automated-ml#create-and-load-dataset).

[2021-01-31 01:48] KrishnaG-MSFT commented on #69754
@jikuja Thanks for your comment! We will review and provide an update as appropriate.

[2021-01-31 01:51] KrishnaG-MSFT commented on #69756
@diligent176 Thanks for your comment! We will review and provide an update as appropriate.

[2021-01-31 01:53] KrishnaG-MSFT commented on #69757
@cuatrix-bensonlee Thanks for your comment! We will review and provide an update as appropriate.

[2021-01-31 01:55] KrishnaG-MSFT commented on #69758
@javester Thanks for your comment! We will review and provide an update as appropriate.

[2021-01-31 01:56] KrishnaG-MSFT commented on #69759
@javester Thanks for your comment! We will review and provide an update as appropriate.

[2021-01-31 02:48] ram-msft commented on #69616
Thanks, Raised the PR #https://github.com/MicrosoftDocs/azure-docs-pr/pull/145042 for the update.

[2021-01-31 03:03] VikasPullagura-MSFT commented on #69758
@mimckitt
Can you please check and add your comments on this doc update request as applicable.

[2021-01-31 03:04] VikasPullagura-MSFT commented on #69759
@mimckitt
Can you please check and add your comments on this doc update request as applicable.

[2021-01-31 03:04] #69530 closed

[2021-01-31 03:15] VikasPullagura-MSFT commented on #69764
@etaham
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-01-31 03:16] VikasPullagura-MSFT commented on #69764
@zr-msft @mlearned
Can you please check and add your comments on this doc update request as applicable.

[2021-01-31 03:18] VikasPullagura-MSFT commented on #30370
@mimckitt Can you please check and add your comments.

[2021-01-31 03:19] VikasPullagura-MSFT commented on #64154
@KumariSupriya Can you please check and add your comments.

[2021-01-31 03:20] VikasPullagura-MSFT commented on #64371
@ThomasPoppelgaard
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-01-31 03:21] VikasPullagura-MSFT commented on #64371
@vikancha-MSFT-zz
Can you please check and add your comments on this doc update request as applicable.

[2021-01-31 03:22] VikasPullagura-MSFT commented on #61627
@macolso Can you please check this ask and add your comments.

[2021-01-31 03:36] RyanHill-MSFT commented on #69762
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-01-31 03:37] RyanHill-MSFT commented on #69763
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-01-31 04:10] KalyanChanumolu-MSFT commented on #69756
@diligent176 Thank you for the feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2021-01-31 05:17] steven-tomlinson commented on #69717
Is there a reasonable alternative? Say good old old reliable SMTP relay or something like that?
Does Azure functions belong on the list of things that are only available to organizations who seem to have an infinite IT budget?

[2021-01-31 05:49] rsrk2008 opened #69766 "As I am new to Azure I would like to know , How to configure an alert on VM usage per Month , which feature I have to use ?"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2021-01-31 05:51] softwarepronto opened #69767 "Error in copy for "$ docker images""
The copy for
$ docker images

Should be
docker images

The $ is not part of the command and is a prompt so it is an error to run $ docker images

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6afe8c14-efa4-31a6-9fd9-e68f2d878226
* Version Independent ID: c67857a5-ee1b-3ed2-f281-dd62c4c4c6f3
* Content: [Kubernetes on Az

[2021-01-31 06:04] msmarkma opened #69768 "Error: "connection string with the name MyDbConnection already exists""
Fails @ step 3 - Note that the first option is "Local user secrets file" now, not "Azure App Settings".

I tried to go back and set things up using an Azure Key Vault, but I assume there are other things I'm missing, because it doesn't work after publishing.  Also note in the error below that it references "Azure SQL Database mssql1."  I don't have a db with that mssql1 name, not sure where that c

[2021-01-31 09:43] KrishnaG-MSFT commented on #69766
@rsrk2008 Thanks for reaching out!

If the issue is related to particular Azure document then as [this](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions, etc.) so please share the Azure document link and more context a

[2021-01-31 10:23] #67209 closed

[2021-01-31 11:35] BhargaviAnnadevara-MSFT commented on #69767
@softwarepronto Thanks for bringing this to our attention. I have submitted a PR to fix the issue that's in review.

[2021-01-31 11:43] Saul-R commented on #67459
You can set them,yes, but they won't work.
They'll keep timing out, restarting your containers:
[code]

[2021-01-31 11:56] SnehaAgrawal-MSFT commented on #69536
@almisson We will now proceed to close this thread. If there are further questions regarding this matter, please let us know.

[2021-01-31 11:56] #69536 closed

[2021-01-31 12:06] amanjeetsingh opened #69770 "Clarification - zonal redundancy for AKV"
Hi

Can you please share more guidance on AKV support for zonal redundancy?
- Is it enabled by default/managed by Microsoft and available for both Standard/Premium SKU of AKV?
- How AKV behaves in case of a zonal failure? Is it completely transparent to the application?
- What happens if all of zones fails, will AKV service continue to be available or not? I presume failure of all zones is akin to

[2021-01-31 13:07] takashiuesaka opened #69771 "The status in HCM is never changed to connected"
[Enter feedback here]
At the Hybrid Connection Manager section, I Had to do the step 7. It was to restart the local service, "Azure Hybrid Connection Manager Service". Otherwise, It will forever remain not-connected.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 645d01fc-eae4-67c0-ef63-77d34d854d5e
* Version Independe

[2021-01-31 14:02] badsector-82 opened #69772 "Import process initiator"
I'm sorry but in this article I can't find clearly written who is the initiator of the import process. When some changes are made to an object in the active directory, how these changes reach the connector. Are they pushed by a DC or they are pulled by the connector? What happens when changes are made on one DC and then a new sync cycle is started before these changes are replicated to the other D

[2021-01-31 14:14] diligent176 commented on #69756
Thanks! Specifically this example is the one that was a bit confusing to me.
 (what is c?)
` SELECT * FROM c IN Families.children `

[2021-01-31 14:18] almisson commented on #69536
Thank you for the detailed information. I'm primarily interested in the linking between key vault and the app service more than app service certificates in particular.

In the referenced article it states "all certificates that have a KeyVault reference". This is the piece I'm getting hung up on. What identifies a certificate in an app service as having a key vault reference? I can't find anything

[2021-01-31 14:38] lissff opened #69774 "AKS cannot deploy on subnet with Microsoft.ContainerService.managedClusters delegations"
[Enter feedback here]
According to this document : The subnet assigned to the AKS node pool cannot be a delegated subnet.
Even if it is delegated to AKS: **Microsoft.ContainerService.managedClusters**. , then what is tag **Microsoft.ContainerService.managedClusters** used for?

e.g. I’ve created a test subnets delegated to AKS, and AKS creation would fail of SubnetIsDelegated error if the subnet i

[2021-01-31 15:22] V4A001 opened #69775 "Please update example with managed identity as service principal is not there"
I had a cluster running, but cannot repeat it. The documentation is targeting a service principal which does not exist in managed identities. Please update docu with a smooth 100% running example including a azure vnet instead of kubenet

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12009c1f-282

[2021-01-31 15:31] AjayKumar-MSFT commented on #69771
@takashiuesaka, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-01-31 15:33] AjayKumar-MSFT commented on #69768
@msmarkma, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-01-31 15:35] tndata opened #69776 "Missing question in the FAQ page for Azure Container instances"
A question that is missing in the FAQ is what is the minimum size of a container (CPU and RAM)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 894ff75f-fc5c-93a7-92d9-9d262d5bb904
* Version Independent ID: 5464901a-bb5b-a9dd-0a51-3620383f4c23
* Content: [Frequently asked questions - Azure Container Instances](https://d

[2021-01-31 16:32] V4A001 opened #69777 "Cannot add a static ip from other resource group with managed identities"
Error syncing load balancer: failed to ensure load balancer: Retriable: false, RetryAfter: 0s, HTTPStatusCode: 0, RawError: Retriable: false, RetryAfter: 0s, HTTPStatusCode: 403, RawError: Retriable: false, RetryAfter: 0s, HTTPStatusCode: 403, RawError: {"error":{"code":"LinkedAuthorizationFailed","message":"The client 'xxbeb' with object id 'xxbeb' has permission to perform action 'Microsoft.Comp

[2021-01-31 18:21] SadiqhAhmed-MSFT commented on #69391
Per @RZomermanMS When running the notebook from a scratch deployed server, need to accept the EULA.

**_os.environ['ACCEPT_EULA'] = 'yes'_**

@twright-msft & @DCtheGeek To review and update the doc about accepting EULA **_os.environ['ACCEPT_EULA'] = 'yes'_**

Closing this issue as no further discussion required.

[2021-01-31 18:21] #69391 closed

[2021-01-31 18:23] SadiqhAhmed-MSFT commented on #69591
@wcneumann219 Just wanted to check with you if you have any follow up question here?

[2021-01-31 18:25] SadiqhAhmed-MSFT commented on #69514
@ericrrichards Just wanted to check with you if there any follow up question you have here?

[2021-01-31 18:35] ericrrichards commented on #69514
I would really appreciate it if the documentation was more clear.

I've tried this both ways over the past month, and I have never seen the
attribution show up in the Partner Center reporting.

On Sun, Jan 31, 2021 at 1:25 PM SadiqhAhmed-MSFT <notifications@github.com>
wrote:

[2021-01-31 18:39] SadiqhAhmed-MSFT commented on #69514
@ericrrichards Was my post helpful or not?
I can certainly get the corrections done to the documentation if you could describe briefly what exact information would be helpful.

[2021-01-31 20:14] matevzcesar commented on #9925
@mrent Did you find a soultion to this problem by any chance? I am facing the same issue.

[2021-01-31 20:19] ErikMogensen opened #69778 "Maximum number of scale units per region for API Management"
According to the GUI in the Azure portal you can increase this to 20. However, on this page it says it is 10 per region. Please update this page if it is 20 per region.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36f49a06-90b1-cbe1-3853-2c38277b79f8
* Version Independent ID: 02ff6f6c-3ef6-b48f-060d-b290419e0aba
* Co

[2021-01-31 20:37] balintbako commented on #69716
@TravisCragg-MSFT  I am using the default DNS of AKS, that is CoreDNS, if I am not mistaken.
From the linked documentation, I was referring to the expectated behaviour for resolving pod names when hostname and subdomain ar set.

[2021-01-31 20:57] aronchick opened #69779 "There is no section called "Extract Your Private Key" on the OpenVPN site"
If we are going to direct people to that site, there should be an explicit section on it. Ideally, we don't redirect them at all.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f36e0264-e439-92d2-7862-096c3fffe2a8
* Version Independent ID: 010d36f4-897e-6435-3f97-c6729ed496ce
* Content: [How to configure OpenVPN Client