[2019-01-03 18:40] mrbullwinkle commented on #11721
@MicrosoftDocs/azure-cxp-triage #please-close

[2019-01-03 18:42] BharathNimmala-MSFT commented on #11721
Thank you Michael.

[2019-01-03 18:42] #11721 closed

[2019-01-03 18:44] Adam-Smith-MSFT commented on #21415
@vanpyrzericj  We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-01-03 18:44] #21415 closed

[2019-01-03 18:55] Mike-Ubezzi-MSFT commented on #20464
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-01-03 18:55] #20464 closed

[2019-01-03 18:55] gacurtin opened #21596 "Incorrect requirement (AZ Module)"
AFSS is still dependent on AzureRM.  Please update.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61bb35a5-e2f3-1ce8-1d6e-a926374de6c8
* Version Independent ID: e4b3065a-5351-26ef-cdbb-ef2eaea3f301
* Content: [Deploy Azure File Sync](https://docs.microsoft.com/en-us/azure/storage/files/storage-sync-files-deployment-gu

[2019-01-03 18:56] Mike-Ubezzi-MSFT commented on #17459
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-01-03 18:56] #17459 closed

[2019-01-03 18:57] wmgries commented on #21596
@gacurtin This was fixed this morning, please elaborate what you're asking for.

[2019-01-03 18:59] clickbangdead commented on #16137
Did anyone actually find out what this attribute is used for?

[2019-01-03 18:59] vainolo commented on #21245
@CarlRabeler - working on this.

[2019-01-03 19:00] MashaMSFT commented on #20464
The [doc ](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-automated-backups?branch=master#how-to-change-the-pitr-backup-retention-period) was updated with images for both logical servers, and for managed instance. @m60freeman , thanks for bringing this to our attention! Can you please confirm this better suits your needs?

[2019-01-03 19:01] mike-urnun-msft commented on #21589
Hi @cpdohert Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-01-03 19:03] yyanev commented on #20171
The problem is this #EXT# thing. The UPN check doesn't recognize # and upper case characters. We should add the # character. However you can use your e-mail instead of UPN.
The new version will have a better message in case you use upper case.

[2019-01-03 19:04] kobulloc-MSFT commented on #21590
@jeubank12 Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2019-01-03 19:04] mattbriggs commented on #21408
@jgallucci32 I've added your screen shot and some text. Thanks for your contribution. The update should appear in the next build. #please-close

[2019-01-03 19:05] #21312 closed

[2019-01-03 19:05] mike-urnun-msft commented on #21558
Hi @crgolden Thank you for reporting this issue! We will review and make any necessary changes.

[2019-01-03 19:07] michaelmilligan opened #21597 "Oracle?"
Why is Oracle not listed in the Sample Scripts title menu?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89c636f3-280f-d78a-20bb-1ee0c8cf6696
* Version Independent ID: 840a66ca-f7c1-6289-1059-df584786b538
* Content: [Azure CLI script examples for SQL Database](https://docs.microsoft.com/en-us/azure/sql-database/sql-da

[2019-01-03 19:11] richrundmsft commented on #21566
@MeirMen and @bwren can you review the key vault article and update the screenshots / steps as needed?

[2019-01-03 19:12] mike-urnun-msft commented on #21575
Hi @rossvernal

Thank you for sharing your valuable feedback! Please do let us know and update this thread once the root cause for the unexpected amount billed is identified.

We will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-01-03 19:12] #21575 closed

[2019-01-03 19:13] CarlRabeler commented on #21597
Hi Michael - are you asking about SQL Database and Oracle?

[2019-01-03 19:13] DanaEpp commented on #21574
I'm open to take pull requests if someone wants to add refresh support.

[2019-01-03 19:16] NickSpag opened #21598 "Ubuntu DSVM req for Compute Target not mentioned in "Dev Environment" docs"
Since the "Configure your dev environment" doc is in the context of Azure ML Service, would it be beneficial to add a tooltip in the DSVM subsection that clarifies that if they also want it to be a compute target it can only be an Ubuntu DSVM? Not sure if there are any issues with using a DSVM as both your dev environment and a ML Service compute target for certain tasks, but might be a not-uncomm

[2019-01-03 19:18] briannipper opened #21599 "Broken Link - New-AzStorageContainer"
The link it goes to is:
https://docs.microsoft.com/en-us/powershell/module/azure.storage/new-AzStoragecontainer

This shows a 404 page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b04a28c3-81d7-123d-5b16-6642636c07a8
* Version Independent ID: 2179498b-00e8-1c9d-bd11-4a903ae3ad52
* Content: [Azure Quickstart - Create

[2019-01-03 19:18] mattbriggs commented on #5585
@timothytavarez Let me see if I can find some who is more familiar with your scenario than I am. I'll get back to with an answer soon. #in-progress

[2019-01-03 19:21] SubhashVasarapu-MSFT commented on #21408
@jgallucci32 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-03 19:21] #21408 closed

[2019-01-03 19:22] briannipper opened #21600 "Broken Link Set-AzStorageblobcontent"
The link points to the following which is a 404 page:
https://docs.microsoft.com/en-us/powershell/module/azure.storage/set-AzStorageblobcontent

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b04a28c3-81d7-123d-5b16-6642636c07a8
* Version Independent ID: 2179498b-00e8-1c9d-bd11-4a903ae3ad52
* Content: [Azure Quickstart

[2019-01-03 19:30] mike-urnun-msft commented on #21583
Hi @cconrado

Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-01-03 19:32] stevestein commented on #18726
@mcurko - thanks for opening this issue. I added an additional pre-req for the sqlserver module.
[PR 6203](https://github.com/MicrosoftDocs/azure-docs-pr/pull/62037).

[2019-01-03 19:33] tfitzmac commented on #21584
@Yvand - yes, it is expected. The template is redeployed as a local copy, so templateLink is not returned. I am adding that clarification to the article.

[2019-01-03 19:35] SnehaGunda commented on #21467
@joshlang Thanks for pointing out the issue, the content was initially written in word and when it's copied to convert into markdown format, looks like an extra underscore came in from the word doc format. I submitted a fix to update the doc.

[2019-01-03 19:35] SnehaGunda commented on #21467
#please-close

[2019-01-03 19:39] m60freeman commented on #20464
Looks good, although the date in the header (at https://docs.microsoft.com/en-us/azure/sql-database/sql-database-automated-backups) still shows as "12/09/2018" and that date is also shown in the Google search results. If I was looking only for more recent articles, I wouldn't find this one. But the content of the article itself is fine now.

[2019-01-03 19:40] garyericson commented on #21581
@j-martens - Can you take a look at this? The question is whether a couple deprecated Workbench articles will be replaced with new content.

[2019-01-03 19:44] #21584 closed

[2019-01-03 19:45] garyericson commented on #16054
Forgot to request that this be closed given the resolution in the comment above. #please-close

[2019-01-03 19:45] Mike-Ubezzi-MSFT commented on #21467
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-01-03 19:45] #21467 closed

[2019-01-03 19:45] msmimart commented on #16921
Hi @WayneYangsa thanks for the feedback; can you provide more info about the scenario you're referring to and how you'd like to see this article clarified?

[2019-01-03 19:46] MarileeTurscak-MSFT commented on #21499
I don't believe that it is supported for managed domains since as a prerequisite it is listed that "A federation server must be configured."

CC: @MicrosoftGuyJFlo

[2019-01-03 19:46] #21499 closed

[2019-01-03 19:46] femsulu commented on #21557
@MilanNXT Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-01-03 19:52] danbord opened #21602 "A little misleading"
The steps to create the CDN are a little misleading (identifying which field is which), a screenshot would've helped.  Second, nothing says that you need to select a premium CDN to use SSL!  Third, at step #8 nothing says that it can take hours before the CDN is up and running, I'm getting a 404 error

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-01-03 19:54] craigshoemaker commented on #21130
Thanks for the feedback, @JasonSingh. I went through the tutorial again and I was able to get everything working via the existing steps. I did identify some places where more detail is helpful and updated a few C# class names. Hopefully these changes help you.

Can you also tell me more about the struggle you're having? What part doesn't work? Are you using C# or the Node examples?

Thanks!

[2019-01-03 20:00] garyericson commented on #21192
@nithinab1 - Thanks for sending feedback when you notice something incorrect. It definitely helps us keep the documentation accurate and useable.

In this case, however, I believe the documentation is correct. In Step 2, sub-step 4, the instructions are to select the "Remove entire row" cleaning option (rather than "Remove entire column"). The "Remove entire row" option will leave the column intac

[2019-01-03 20:02] femsulu commented on #21455
@krishnasingh1818 can you confirm that you at least have read access to the application referenced in your app() expression? Also, is the app in the same/diff subscription than the log-analytics workspace?

https://docs.microsoft.com/en-us/azure/azure-monitor/log-query/app-expression#notes
![image](https://user-images.githubusercontent.com/34327711/50658828-761dac80-0f4f-11e9-9659-be19ca7a9b12.png

[2019-01-03 20:05] aljo-microsoft commented on #21569
@PawelHaracz  and @MicahMcKittrick-MSFT

Myself and the team of engineers working on SF MSI don't have a public release date yet; something similar to ACI's MSI, is being worked on, and we will have an update by build conference 2019: https://docs.microsoft.com/azure/container-instances/container-instances-managed-identity?context=azure/active-directory/managed-identities-azure-resources/context/m

[2019-01-03 20:05] brettcannon commented on #21044
Command is `python3.7 -m pvscbot` as set in the Portal. Cod is at https://github.com/microsoft/pvscbot .

[2019-01-03 20:06] mganeshphani opened #21603 "What about Azure Functions located in App service environment?"
There is no mention if the blob trigger is polling based or invoke based.. i.e. will the function runtime keep polling for new blobs/queues periodically in the backend or the storage account service calls the function app on hidden http endpoint exposed(in which case storage account might not be able to reach a function in ASE)

I am assuming this is a polling based mechanism acting there..

what

[2019-01-03 20:08] MicrosoftGuyJFlo commented on #21499
Sent to PG for clarification.

[2019-01-03 20:09] ClinteRich opened #21604 "Cannot Select a Resource Group"
Step 3 under Create an ILB ASE its stated that you can "Select or create a resource group". This is not possible and is overridden by the Resource Group of the selected VNET. In other words, you have to use the Resource Group of the VNET when you create an ASE.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b1afa49-a5

[2019-01-03 20:10] #21569 closed

[2019-01-03 20:12] ClinteRich opened #21605 "Cannot Select Resource Group of an ASE"
Step 3 under Create an ASE and an App Service plan together its stated that you can "Select or create a resource group". This is not possible and is overridden by the Resource Group of the selected VNET. In other words, you have to use the Resource Group of the VNET when you create an ASE. That step should be changed and a call out or note should be added as its important to call out when designin

[2019-01-03 20:15] aljo-microsoft commented on #21239
@oleksandr-bilyk
I don't see any review comments left by you on the above PR?

[2019-01-03 20:18] Adam-Smith-MSFT commented on #21599
@briannipper Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-03 20:18] oleksandr-bilyk commented on #21239
@aljo-microsoft . Sorry. I'm not very experienced with  GitHub. Please check this https://github.com/Azure-Samples/service-fabric-cluster-templates/pull/11#pullrequestreview-189121778

[2019-01-03 20:19] Adam-Smith-MSFT commented on #21600
@briannipper Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-03 20:20] MarileeTurscak-MSFT commented on #21510
Thanks for your feedback, @wonderplayer . You might be right that this needs to be updated, but from what I know the documentation for registering an application in the preview portal exists in a separate spot, and once the preview portal takes place of the old portal all documentation will reflect that change.

We will now proceed to close this thread unless @jmprieur has additional comments.

[2019-01-03 20:20] #21510 closed

[2019-01-03 20:20] SyntaxC4 commented on #21293
@timaschew There isn't much secret sauce to talk about here. The documentation is actually developed independently of the software. We work with a really close partnership with the Product Groups to understand what their roadmap is, when they have working prototypes and align with them to attempt to symship the content. It doesn't always work out to ship the product and the documentation at the sa

[2019-01-03 20:21] aljo-microsoft commented on #20108
@MicahMcKittrick-MSFT
Please close this.

[2019-01-03 20:32] #20754 closed

[2019-01-03 20:38] remware commented on #21214
@kgremban I use the iot configure_device instructions as in the following document:
https://github.com/Azure-Samples/azure-iot-starter-kits/blob/master/seeed/CONFIG-EDGE-DEVICE.md

there is no indication about edge-enabled flag, maybe you are correct the issue is not with Vs code extension itself but with the instructions for azure cli.

Let me know if I can reconfigure or recreate the device some

[2019-01-03 20:39] VanMSFT commented on #19763
@CarlRabeler @aliceku - Issue was fixed on 12/3: https://github.com/MicrosoftDocs/azure-docs/commit/3cd460219a0829e8d97ed58fb28bd3d0a86d5f4a

Thank you @tjrobinson for your contribution!

#please-close

[2019-01-03 20:41] Mike-Ubezzi-MSFT commented on #19763
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-01-03 20:41] #19763 closed

[2019-01-03 20:42] mbonig commented on #21098
@paymonparsadmehr sounds great!

[2019-01-03 20:42] MarileeTurscak-MSFT commented on #21592
Hi @helloantizeh , thanks for the question!

You have a couple of options:

You can go to aka.ms/mfasetup and change your phone setting there if your admin allows this.

If that doesn't work, you can ask your IT administrator to change your phone settings for you.

[2019-01-03 20:44] MarileeTurscak-MSFT commented on #21592
Let me know if this helps!

[2019-01-03 20:44] femsulu commented on #21567
@ravikiran-srini Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-01-03 20:47] msmimart commented on #12652
Hi @SwilliamsIOT and @eschrader just wanted to follow up; is the issue resolved or did you find a workaround that we might be able to add to the article?

[2019-01-03 20:54] guillermoarellano opened #21610 "The deployment is not automatic!!"
Hi,

This tutorial gives the impression that the deployment of your application will be automatic. It's not. You will need to go into KUDU console, go to your approot directory where you deployed your Zipped files, run 'npm install', and then run 'npm start.'

Please update the documentation!

- Guillermo

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2019-01-03 20:54] xyz92 opened #21611 "SendGrid Account Paused and Banned"
I created a SendGrid Account via Azure by following https://docs.microsoft.com/en-us/azure/sendgrid-dotnet-how-to-send-email. Currently when I go to SendGrid Account, I see 'Paused':
<Customer-PII data removed>

On clicking 'Manage', it opens SendGrid dashboard that shows 'Your account has been banned'. When I try to delete the account, it shows 'Error deleting account'. Could you please let me kn

[2019-01-03 20:57] colindooley11 commented on #21531
@aljo-microsoft @msfussell  @MicahMcKittrick-MSFT   Any ideas? Anyone?

[2019-01-03 21:04] georgewallace commented on #21191
@kvenkazure Thanks for reaching out.. So reviewing this I would like to get a better understanding of what information you are wanting to see.  While I know many companies use the CVE list, but for instance we do not provide a link to the CVE in the portal but to the KB article for the patch for a windows patch for example.  Are you looking for Update Management to provide this capability?

[2019-01-03 21:05] vishiy commented on #20565
Looks like an extra 'space' before 'roleRef'

[2019-01-03 21:06] dlepow commented on #21064
PR merged with text clarification, and will publish later today or tomorrow AM. Closing this issue.
#please-close

[2019-01-03 21:07] ecfan commented on #20475
@coltonf93, thanks for your question!
@divyaswarnkar, can you review what we need to do for this one? Thanks!

CC: @ecfan

[2019-01-03 21:14] swinarko commented on #21567
Public IP, NSG, and load balancer are injected into the resource group of your VNet to direct/restrict/distribute inbound and outbound traffics between your SSIS IR inside VNet and our backend services outside VNet, see https://docs.microsoft.com/en-us/azure/data-factory/join-azure-ssis-integration-runtime-virtual-network.

[2019-01-03 21:18] aljo-microsoft commented on #21239
@oleksandr-bilyk
They have been accepted, and it is only awaiting merge.

@Karishma-Tiwari-MSFT
Please close this.

[2019-01-03 21:20] mestew commented on #21138
Hey @marioanton. I spoke to one of the developers about your issue. Below is the response:

"I think the key to understanding is that the customer managed secret is stored in KeyVault, but it is the platform that will be retrieving that secret and attaching it to the VM as the BEK volume.  If the platform cannot do this operation, then the key will not be provided to the VM at time of boot. To mak

[2019-01-03 21:29] mstair opened #21612 "Flow Logs Version 2 REST API support"
Which REST API version is the ability to set Flow Logs Version to 2 available in? Not seeing the option here, https://docs.microsoft.com/en-us/rest/api/network-watcher/networkwatchers/setflowlogconfiguration (2018-08-01). Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbb716b8-84da-2f21-2ef6-36a49ae2001f
* Vers

[2019-01-03 21:32] swinarko commented on #21509
Our doc had been published before we released Execute SSIS Package activity, so in the past, you could use Stored Procedure activity for Azure IR (Default IR) to invoke SSISDB sprocs on Azure SQL DB that will in turn create and start package executions on SSIS IR.  You could still do that if you want to invoke more/other sprocs in a single activity, but it's simpler to just use Execute SSIS Packag

[2019-01-03 21:33] femsulu commented on #16054
Closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-01-03 21:33] #16054 closed

[2019-01-03 21:34] femsulu commented on #21192
Closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-01-03 21:34] #21192 closed

[2019-01-03 21:34] femsulu commented on #21293
Closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-01-03 21:34] #21293 closed

[2019-01-03 21:35] femsulu commented on #21386
Closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-01-03 21:35] #21386 closed

[2019-01-03 21:36] diberry commented on #21371
@SQLSteveT I've updated the [doc](https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/quickstarts/get-answer-from-kb-using-postman). Please let me know where this updated version strays from your experience.

[2019-01-03 21:48] swinarko commented on #21470
SSIS IR must be running for you to deploy and execute your packages that are stored in SSISDB hosted by Azure SQL DB.  It's SSIS IR worker nodes that actually complete the deployment/execution jobs, but you can stop your IR when you don't need it for deployment/execution, i.e. when it's idle, and start it again when you need it.

[2019-01-03 21:51] xyz92 commented on #21611
I wonder if this is the reason why account got banned:

"After you have completed your purchase and clicked the Manage button to initiate the email verification process, you will receive an email from SendGrid asking you to verify your account. If you do not receive this email, or have problems verifying your account, please see this FAQ."

I gave a mail address which was set to "no acceptance fro

[2019-01-03 21:52] jason-j-MSFT commented on #21572
@CeciAc
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-03 21:52] bradyson opened #21613 "Add example for subdomain delegation in Azure DNS zones"
After delegating root domain (contoso.net) to azure dns, use these steps to delegate a sub-domain:
-add new domain to Azure DNS zone: i.e. (dmz.contoso.net)
-Make note of subdomain nameservers
-nslookup -type=soa dmz.contoso.net -- returns Non-existent domain
-create 1 resource record named dmz.contoso.net of type NS in contoso.net zone with the 4 name servers listed in subdomain dmz.contoso.net
-

[2019-01-03 21:54] jason-j-MSFT commented on #21586
@don4of4
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-03 21:54] Futtrup87 commented on #21559
As far as i can see, it's the same issue with Linux Containers. I'm guessing the install srcipt assumes that its run on a US localization Windows 10.
I'm not very familar yet with docker containers and scipting. Could you provide me with a link or some guidance how to deploy a local IoTEdge that way?

Thank you.

[2019-01-03 21:56] MedAnd commented on #21436
Thank you for above. One other related question, would it be possible to clarify somewhere in the docs how null field values are stored for each datatype and the size null values take in an index?

[2019-01-03 21:57] Adam-Smith-MSFT commented on #21602
@danbord Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-03 22:06] #21334 closed

[2019-01-03 22:12] femsulu commented on #21611
@xyz92, I edited your comment to remove references to your subscription ID and other relevant customer-related details since we classify these as customer-PII and shouldnt be posted on a public forum.
Regarding your issue, I would recommend you first start with Sendgrid support to update your email profile for your sendgrid account.
https://support.sendgrid.com/hc/en-us

[2019-01-03 22:12] #21611 closed

[2019-01-03 22:12] captaingig commented on #20645
May we have more specificity in this document regarding the effects of the Resolve/FP/Ignore actions or link to a document section containing those specifics?

[2019-01-03 22:13] Karishma-Tiwari-MSFT commented on #21239
@oleksandr-bilyk Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-01-03 22:13] #21239 closed

[2019-01-03 22:13] xyz92 commented on #21611
Thank you @femsulu

[2019-01-03 22:14] aljo-microsoft commented on #21531
@colindooley11

My assumption is you are confusing a named Application (I.E. Object) instance with an ApplicationType (I.E. Class).

Each registered ApplicationType can include many SFPKG version (I.E. Different Code, Config, or Data Packages).

A named application is a unique instance of a ApplicationType, at a specific version.

I.E.
Example Cluster State:
MyApplicationType == MyApplication

my

[2019-01-03 22:17] cloudhandler commented on #20645
@SteveHernou - Yes, you can click the mark as false positive action. However, if it's coming from a browser like Tor it will continue to trigger in future. @captaingig - we are releasing updated documentation on the new experience in the coming weeks to provide more specifics

[2019-01-03 22:23] femsulu commented on #21568
@biren1234 Thanks for the comment. Not sure I fully understand your issue so please clarify. Also, would be helpful if you can share a link to the Azure document you are referencing so we can review and help resolve your issue.

[2019-01-03 22:23] YutongTie-MSFT commented on #21598
@NickSpag Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@rastala Hi Roope, can you please take a look of this suggestion and update the document as necessary? Thank you.

[2019-01-03 22:24] ecfan commented on #20451
@boltlol, thanks for your suggestion. We created a work item on our backlog for prioritization.
@KetanChawda-MSFT #please-close

[2019-01-03 22:31] euankennedy opened #21614 "More information about how graph Webhooks bindings differ from rolling-your-own webhooks using graph API"
I gather from playing around that the Webhooks bindings documented here are implemented in a specific way that is different to those documented at https://docs.microsoft.com/en-us/graph/webhooks, and are not just direct wrappers over the REST webhooks. For example,

- subscriptions created using the function templates aren't available for inspection at GET https://graph.microsoft.com/v1.0/subscrip

[2019-01-03 22:33] femsulu commented on #21064
Closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-01-03 22:33] #21064 closed

[2019-01-03 22:34] TravisCragg-MSFT commented on #21613
@bradyson Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-03 22:37] MarileeTurscak-MSFT commented on #21592
@helloantizeh please contact your administrator to change your settings or check aka.ms/mfasetup if you have access.

[2019-01-03 22:37] #21592 closed

[2019-01-03 22:40] daxfohl commented on #19284
@ishepherd If you create your DocumentClient with `serializerSettings: new JsonSerializerSettings { DateFormatString = "o" }`, it'll work.
@Mike-Ubezzi-MSFT and @SnehaGunda this seems like something worth documenting, as it is far from obvious that this would be necessary, and it breaks DateTime sort order without it.

[2019-01-03 22:50] #21470 closed

[2019-01-03 22:51] MilanNXT commented on #21557
Issue I have is thatsilent login for regular user isnot working. We are on 1811 version. Here is error fromlogs. I tried couple of accounts with same errors. I verified the script get back the right context and Default provider subscription info but when tried to call AzureRM account below error was thrown.
`VERBOSE: Current trusted root: 22.*.*.225, 22.*.*.224
VERBOSE: Performing the operation "R

[2019-01-03 22:51] Anand-Moghe opened #21615 "Web App Diagnostic Logs into Azure Monitor"
Without using AppInsight is it possible to check/enable Diagnostic Logs for Web App from Azure Monitor's Diagnostic Logs settings? At the moment, I have turned on Diagnostic Log for my Web App (both file and blob) and added some instrumentation logs in the deployed .net C# web app . However I do not see we app instance populated in to the Azure Monitor's Diagnostic Setting tab. Is this supported ?

[2019-01-03 22:52] yairt1974 commented on #21504
@ekramy-elnaggar  - this is just an artifact of the current implementation, but no traffic is getting to www.google.com. Azure Firewall has a transparent proxy listening on 80/443 to return a custom error message (currently done only for HTTP). Tcpping doesn't get a response from www.google.com - this response is from the transparent proxy. We plan to change this implementation and not respond to

[2019-01-03 22:52] rbrundritt commented on #21561
Thanks for the feedback. Improvements have been made and submitted. They should be online in the next day or two.

[2019-01-03 22:56] mganeshphani opened #21616 "One-Time Bypass for MFA in the cloud install"
Hello,

The table above says this(One-Time Bypass) is not supported on MFA in the cloud install, but I am able to see the feature available in our tenant. is it only visible but dummy? or this documentation is out of date?

-Ganesh M.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 042912e8-9a79-02b6-fc12-fd20ff0ee4d1
*

[2019-01-03 22:58] aljo-microsoft commented on #19494
@letrungkien211
Thanks for the product feature request, please submit them as issues against the public software product repository: https://github.com/Microsoft/service-fabric/issues

@MicahMcKittrick-MSFT
Please close this as the user is requesting software features, and doesn't have supportability content issues.

[2019-01-03 22:58] MicrosoftGuyJFlo commented on #21616
https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfa-mfasettings#manage-mfa-server

Those settings are for MFA Server only.

[2019-01-03 23:00] #19494 closed

[2019-01-03 23:00] aljo-microsoft commented on #9698
@MicahMcKittrick-MSFT
Please close this as the user found the example they were looking for, and I provided additional accessible content.

[2019-01-03 23:00] MicrosoftGuyJFlo commented on #21616
Also says right in the One-time bypass blade "This feature only applies to MFA Server deployment."

[2019-01-03 23:01] #9698 closed

[2019-01-03 23:04] aljo-microsoft commented on #20918
@starforce @hrushib @jakaruna-MSFT @MicahMcKittrick-MSFT
Please close this as the user posted issue has been resolved.

[2019-01-03 23:07] anrothMSFT commented on #21184
Thanks! Sorry for missing this while out for Christmas. These links have been fixed. Our docs team is evidently switching over to new API Reference docs, and evidently this broke links in process. So sorry.

From: YutongTie-MSFT <notifications@github.com>
Sent: Wednesday, December 26, 2018 11:09 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Anna Roth <anroth@microsoft.com>; M

[2019-01-03 23:07] CarlRabeler commented on #20041
If the only goal is to convert the callback to promises, this can be easily done using NodeJS Promisify.

Below is one of the solutions using vanilla NodeJS. We refrain ourselves from using the third party libraries such as q.js unless we cannot achieve something using default NodeJS packages.

Solution -
// Start queries!

function queryDatabase(queries)
{
  let result = [];
  return new Promise(

[2019-01-03 23:14] kgremban commented on #21214
@remware I haven't tried out the iot starter kits that you point to, but did see this video that demonstrates the configure_device script that you mention: https://iotcompanionapp.blob.core.windows.net/videos/configure-device.mp4. It looks like that script handles the setup of your device on your behalf, which explains why you haven't used the CLI device-identity create commands yourself. Were you

[2019-01-03 23:14] TylerMSFT commented on #15072
#please-close

I have the following to [Introduction to Reliable Collections in Azure Service Fabric stateful services](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reliable-services-reliable-collections)

* Because writes are persisted and replicated, you cannot create a volatile ReliableDictionary, ReliableQueue, or other reliable collection that only persists data in mem

[2019-01-03 23:15] ecfan commented on #21583
@cconrado, thanks for catching this issue! We have a work item on our backlog now and should resolve the issue soon.

[2019-01-03 23:15] SnehaGunda commented on #20882
#please-close

[2019-01-03 23:16] Anand-Moghe commented on #21161
@alexsoble  Check this [link](https://social.msdn.microsoft.com/Forums/en-US/b7272c38-860e-467d-8c24-f52dfdbc46b0/connect-logs-from-blob-storage-to-log-analytics-and-use-log-search) which clearly states that currently there is no out of the box integration to send logs from Azure Blob Storage to Log Analytics.

AppInsight is not available in Azure Government (as of today)  and so custom pipeline i

[2019-01-03 23:17] YutongTie-MSFT commented on #21343
@cjgronlund @erhopf Hi, have we finished the update of the Java sample? Can you please take a look?

[2019-01-03 23:19] MarileeTurscak-MSFT commented on #21595
@mwchilde thanks for your feedback! We will investigate and update as appropriate.

[2019-01-03 23:19] erhopf commented on #21343
@YutongTie-MSFT - I can help investigate, but we need to redirect this issue to the product team that owns the code samples for this product.

[2019-01-03 23:19] MilanNXT commented on #21557
Also in additionaI think the problem is also

Agree, I will look for help through technical channels.

[2019-01-03 23:19] ecfan commented on #21583
@cconrado The update is now merged and should appear live tomorrow, thanks!

@mike-urnun-msft #please-close

[2019-01-03 23:19] MarileeTurscak-MSFT commented on #21595
Are you saying that you believe this to be an issue with the product itself, or could there be something specific to your environment that might be causing this? Have you followed the linked guide? https://stackoverflow.com/questions/53926956/sqldependency-not-working-with-existing-database

[2019-01-03 23:21] YutongTie-MSFT commented on #21343
@erhopf Thanks. It related to #11732 .

[2019-01-03 23:21] MilanNXT commented on #21557
In addition to authentication problem the documents does not explain correctly how to use "AzureEnvironment" parameter correctly. Comment is not right as parameter can not be ignored for ADFS stack. It is set as mandatory with validation which does not allow any meaningful value for ADFS Stack.

[2019-01-03 23:23] SnehaGunda commented on #21542
@cacsar thanks for reporting the issues, Looks like the Java SDK package names are changed that resulted in broken links. I submitted a PR to fix the broken links, referenced above. We will now close this issue.

[2019-01-03 23:23] SnehaGunda commented on #21542
#please-close

[2019-01-03 23:30] eschrader commented on #12652
Microsoft support got back to me, it all worked out. An admin at the B2B guest company took over control of the domain and restricted password reset, so the employee contacted their co-worker and was able to reset the password.

Here is what the MS Support rep said:

Body: In addition, please find a summary of the case below:

Problem: A user from a specific tenant cannot reset the password becaus

[2019-01-03 23:30] YutongTie-MSFT commented on #21343
@wilsonchua20 Hi, can you please provide the link of the code sample you are using? Is it https://github.com/Microsoft/Cognitive-SpeakerRecognition-Android ? If not, can you please share it? Thank you.

[2019-01-03 23:32] femsulu commented on #20451
Closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-01-03 23:32] #20451 closed

[2019-01-03 23:40] SnehaGunda commented on #21228
@arturek thanks for pointing out the issue, the syntax for these commands are not listed in the doc however, you can see some examples in the following docs:

Examples with BETWEEN keyword: https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-sql-query#between-keyword

Examples with TOP keyword: https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-sql-query#TopKeyword

We will add a work ite

[2019-01-03 23:41] YutongTie-MSFT commented on #21501
@pushsos
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-01-03 23:41] #21501 closed

[2019-01-03 23:44] mganeshphani opened #21617 "Please remember to include Integration Services environment"
I guess it would be interesting to mention the Integration services environment option in this page to access on-premise data using VNET's

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7892e678-a98f-73fa-7c54-1a8a921f35c7
* Version Independent ID: 064c9db9-5e18-7266-1740-ada24a2086a1
* Content: [Access data sources on

[2019-01-03 23:54] SaurabhSharma-MSFT commented on #21545
@johnthcall Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-01-03 23:58] Leon99 commented on #21349
@kobulloc-MSFT thanks for the links. They both give me a lot of information, though I'm not sure it's up to date and it's hard to understand what exactly I need to do to automate the AI deployment. In any case, I was looking for an explanation on a very specific question - what exactly happens behind the scenes of that "Turn on site extension" button. There is no extension seen on the Extensions b

[2019-01-04 00:20] MicrosoftGuyJFlo commented on #21562
#please-close

[2019-01-04 00:20] MicrosoftGuyJFlo commented on #21616
#please-close

[2019-01-04 00:22] MicrosoftGuyJFlo commented on #21124
These controls are for MFA Server.

[2019-01-04 00:22] MicrosoftGuyJFlo commented on #21124
#please-close

[2019-01-04 00:30] TravisCragg-MSFT commented on #21287
@rkellyxm unfortunately no, this will not work to redirect directly to a file. It can only append the path. If you would like us to add this feature in the future, please [leave your feedback Here](https://feedback.azure.com/forums/217313-networking?query=front%20door).

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We

[2019-01-04 00:30] #21287 closed

[2019-01-04 00:31] WiseMack opened #21618 "Tutorial Update Request"
In https://docs.microsoft.com/en-us/azure/virtual-machines/linux/tutorial-secure-web-server

Based upon the windows based implementation of a secure web server

I have:
- A running VM with the "Bitnami Simple Machines Forum Implementation"
- A KeyVault with an included Certificate for my Domain Name bought from Azure

I executed the following commands
----------------------------------------------

[2019-01-04 00:37] ggailey777 opened #21620 "Show an actual example of settings using Key Vault"
@mattchenderson I think it would be very helpful to show a screenshot of the App Settings in the portal when using the Key Vault references instead of regular string. It would have saved me a lot of time conceptually groking this article (sorry I didn't give you this feedback sooner).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2019-01-04 00:42] colindooley11 commented on #21531
I understand the typical deployment pattern.
The high density approach I also understand the 2 ways we can do this.

I think I can just about wrap my head around having different versions per customer using named applications or services.

I think then the DNS service could be used (in the example above) to have part of the DNS name have some customer identifying part.

I understand the different

[2019-01-04 00:52] tariknz commented on #16003
I don't see the documentation anywhere also but it seems like if you set the `Error document path` to also index.html it does a path rewrite and the client routing seems to work.

![image](https://user-images.githubusercontent.com/1115631/50668981-578ae480-1027-11e9-87c1-adaf2f9ca1a7.png)

I've only tested it briefly but it seems to kind of work, inspecting the network tab shows it returns 404 in

[2019-01-04 00:55] tariknz commented on #16003
FYI @klaaslanghout normally on a server this works by doing a URL rewrite to index.html. If it's IIS it looks like this:

[code]

[2019-01-04 00:58] kobulloc-MSFT commented on #21615
@Anand-Moghe Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2019-01-04 00:59] sabbour commented on #20565
Use this instead until the docs are fixed:

[code]

[2019-01-04 01:02] dlepow commented on #20808
@girishgouda @maganvill - Thanks both for the feedback. I notice in Girish's case that the login server name AzureContainerRegistryDemo1.azurecr.io used to create the container contains uppercase letters. If you try the example using all lowercase for the login server name (azurecontainerregistrydemo1.azurecr.io), does it work? Generally the underlying docker commands expect all lowercase for the

[2019-01-04 01:02] ishepherd commented on #19284
👍 @daxfohl but note that `serializerSettings` is not a full solution because of https://github.com/Azure/azure-cosmos-dotnet-v2/issues/351.

[2019-01-04 01:04] imeya opened #21621 "How to transfer files from FTP server to file storage with stream?"
I want to transfer files from FTP to file storage with stream.

I can get the stream of the file from FTP, but when I use the file.UploadFromStream(response_Stream_from_FTP), an error occurs:"Operation is not valid due to the current state of the object."

The sample code I used as below:
[code]
But if I try to use UploadFromStream() of blob storage, it can successfully upload to the blob storage.

[2019-01-04 01:10] ggailey777 commented on #14702
Thanks @craigshoemaker! I think we can #please-close this issue. It can be reopened if needed.

[2019-01-04 01:12] wilsonchua20 commented on #21343
code sample java in https://westus.dev.cognitive.microsoft.com/docs/services/563309b6778daf02acc0a508/operations/5652c0801984551c3859634d , except I am building it for a web service in oracle jdeveloper 12c

[2019-01-04 01:15] konabuta commented on #21406
@kgremban  Thanks you. ML/DL model on Azure IoT Edge is very important ! Looking forward to your updates.

[2019-01-04 01:16] dlepow commented on #21407
@msalvadores - Thanks for your detailed feedback. Currently in the VNet preview for ACI, virtual network peering is not supported. We'll update the article to reflect the limitation. According to the product team, VNet peering should work by the GA of the feature or earlier.
#in-progress

[2019-01-04 01:18] msalvadores commented on #21407
Thanks @dlepow

[2019-01-04 01:19] TravisCragg-MSFT commented on #21612
@mstair Thanks for the feedback! That Rest API version is most likely correct, but the commands to configure it are not properly published. I am unable to reverse engineer the proper API call from the portal's changes.

 I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-04 01:31] SeaDude commented on #21449
Any news :) ? Path-on-map is a pretty hot topic on our team right now.

[2019-01-04 01:37] Karishma-Tiwari-MSFT commented on #15072
@pisees We will now close this issue. If there are further questions regarding this matter, please tag me to reopen it and we will gladly continue the discussion.

[2019-01-04 01:37] #15072 closed

[2019-01-04 01:38] ggailey777 commented on #16928
It looks that this article has become stale. I have created an internal work item to track us getting it refreshed ([#1419663](https://dev.azure.com/mseng/TechnicalContent/_workitems/edit/1419663)).

[2019-01-04 01:38] #14702 closed

[2019-01-04 01:39] #15077 closed

[2019-01-04 01:41] ggailey777 commented on #19517
It looks like this article has become stale. I have created an internal work item to track us getting it refreshed ([#1419663](https://dev.azure.com/mseng/TechnicalContent/_workitems/edit/1419663)).

[2019-01-04 01:43] TroyMartinNet commented on #18969
Its been two months and the instructions for "registering personal device on organizations Azure AD" remain confusing and incorrect.  Why was this closed?

[2019-01-04 01:47] ggailey777 commented on #21144
@JohnReeson I don't believe that Cosmos DB or SendGrid had any settings in the v1.x host.json file. Do you know of any?

[2019-01-04 01:49] ggailey777 commented on #21078
Thanks @clintoj, we did apparently miss this article when refreshing articles for the most recent portal changes.

[2019-01-04 01:51] mike-urnun-msft commented on #21603
Hi @mganeshphani Thank you for your feedback! We will review and update as appropriate.

[2019-01-04 01:52] mike-urnun-msft commented on #21614
Hi @euankennedy Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-01-04 01:53] mike-urnun-msft commented on #21617
Hi @mganeshphani

Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-01-04 01:57] okaicomputer opened #21622 "Documentation incorrect"
According to this documentation, you have to use Powershell to enable diagnostics logging.  This is not true, as you may also use the Azure Monitor / Diagnostics Settings in the portal to achieve the same result.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42e52c78-8986-28fc-f9f0-db87d95fce8c
* Version Independent I

[2019-01-04 01:58] JasonSingh commented on #21130
Thank you Craig. I’ll take a look at this tonight.

Jason

From: Craig Shoemaker <notifications@github.com>
Sent: Thursday, January 3, 2019 11:55 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: JasonSingh <jassmsft@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] The example above is not clean and does not work. (#21130)

Thanks for the

[2019-01-04 02:06] TroyMartinNet opened #21624 "GPP example for "Allow updates to status bar via script" is missing"
I assume this was supposed to be done...Here's the key location for how to do it in GPP https://getadmx.com/?Category=Windows_10_2016&Policy=Microsoft.Policies.InternetExplorer::IZ_Policy_ScriptStatusBar_1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d53fedc-b37d-9c37-fd71-32088e1e88d3
* Version Independent ID: 1d67

[2019-01-04 02:06] 7100SW commented on #21462
I noticed the same about a week ago.  It was working for me before.

[2019-01-04 03:00] fdashti opened #21625 "Security issue with Azure AD B2C Local Account - Sign in form"
Hi

I just noticed that in Azure AD B2C, if a user tries to login with an incorrect username/ email with a local account, the system shows an error of

**_We can't seem to find your account_**

And if they enter a correct account ID, and wrong password the system says

**_Your password is incorrect_**

This is the most basic security consideration, I'm very surprised that it is not considered here

[2019-01-04 03:01] imeya opened #21626 "Is it possible to use phantomJS on Azure app service for linux?"
like the title, is it possible to use phantomJS on Azure app service for linux?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef9002ed-c817-c615-fe32-05ad4cc78b61
* Version Independent ID: 72295255-8d90-a2c6-0995-0e1208fcdcab
* Content: [Introduction to App Service on Linux - Azure](https://docs.microsoft.com/en-us/az

[2019-01-04 03:04] sodafatty commented on #21058
Thanks @diberry  It finally worked.
I still have a question about the results:
![image](https://user-images.githubusercontent.com/25497029/50671976-513d3e00-1010-11e9-8d99-6457ca823515.png)
Could you tell me how you calculate these three value? Cause it seems not the same with my result.
Thanks.

[2019-01-04 03:06] bingosummer opened #21627 "Does 1811 have custom image support?"
https://docs.microsoft.com/en-us/azure/azure-stack/user/azure-stack-managed-disk-considerations mentions that the custom image is not supported. Is it supported in 1811?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59a27271-21e7-da9c-2fc4-dfa8b1c1bdca
* Version Independent ID: 21fccb06-b91b-66cb-261d-0906697b6f19
* C

[2019-01-04 03:39] BharathiAN commented on #21499
Thank you. We will wait for the reply.

Regards,

Bharathi
IT Infrastructure | Information Systems Department | L&T Construction

From: John Flores <notifications@github.com>
Sent: 04 January 2019 01:39
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Bharathi.AN <bharathi@lntecc.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] For managed domain (

[2019-01-04 03:44] sethreidnz commented on #20767
I am also seeing this same issue

[2019-01-04 03:54] danbord opened #21628 "HTTP to HTTPS redirection could be improved"
Some information are unclear in the "HTTP to HTTPS redirection" section.  An example could help define how to set origin-path

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 339692e2-c35e-cf53-89c9-894c2d851f1f
* Version Independent ID: f95242d1-b3f3-4bf3-089d-10ac447159fa
* Content: [Use Azure CDN to access blobs with

[2019-01-04 03:55] olivierbloch commented on #21214
Hi @remware : just a sanity check, is your IoT Hub a Basic or Standard SKU? Asking because Basic IoT hubs do not support IoT Edge.

[2019-01-04 04:07] nealmcb opened #21629 "quickstart gives no hint that "application.py" is magically considered to be the default for FLASK_APP"
The [quickstart](https://docs.microsoft.com/en-us/azure/app-service/containers/quickstart-python) gives no hint that `application.py` is magically considered to be the default for FLASK_APP.

I'm not the first to point this sort of thing out - see #16676 where you just blew off the question. You should indicate what is magic peculiar to Azure, and where to look in the docs to do more customization

[2019-01-04 04:09] nealmcb commented on #16676
I think this should be reopened - you should give appropriate indications of magic values you've used, and hints for future customizations.  See also https://github.com/MicrosoftDocs/azure-docs/issues/21629

[2019-01-04 04:19] SumanthMarigowda-MSFT commented on #21628
@danbord Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-01-04 04:31] femsulu commented on #21605
@ClinteRich  Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-01-04 04:42] nealmcb opened #21630 "When restart of container is needed, say so and link to documentation"
In the troubleshoot section of Introduction to App Service on Linux - Azure | Microsoft Docs
 https://docs.microsoft.com/en-us/azure/app-service/containers/app-service-linux-intro#troubleshooting

you say

&gt;  you need to enable Docker Container logging under Diagnostics Logs.

It isn't clear when this takes effect. A link to a common next step, like restarting the app, would be handy also.

---

[2019-01-04 04:44] AshokPeddakotla-MSFT commented on #20666
@philmea Please check this once and update as appropriate.

[2019-01-04 04:44] femsulu commented on #21604
@ClinteRich Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-01-04 04:51] #21468 closed

[2019-01-04 05:00] ameetkonnur opened #21631 "Unable to load js files from atlas.microsoft.com"
Hi, was trying the sample code above and got the below error.
Loading failed for the &lt;script&gt; with source “https://atlas.microsoft.com/sdk/js/atlas.min.js?api-version=1”. mapRoute.html:10:1
Loading failed for the &lt;script&gt; with source “https://atlas.microsoft.com/sdk/js/atlas-service.js?api-version=1”.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2019-01-04 05:04] KetanChawda-MSFT commented on #21462
@thedevolution I tried this but I am not able to reproduce the issue. It is working for with custom products as well. Can you please try creating a new a new product and check if it is working.

[2019-01-04 05:08] AjayKumar-MSFT commented on #21620
@ggailey777, Thanks for the feedback! I have assigned the issue to the content author to review further   and update the document as appropriate.

[2019-01-04 05:14] AjayKumar-MSFT commented on #21629
@nealmcb, Thanks for bringing this to our attention and your feedback on this item. I have assigned the issue to the content author and your feedback has been shared. The author will review further and update the document as appropriate.

[2019-01-04 05:18] ManojReddy-MSFT commented on #21358
@RamakrishnanRamar We have not heard from you in a while.We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-01-04 05:18] #21358 closed

[2019-01-04 05:18] AjayKumar-MSFT commented on #21626
@imeya, Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-04 05:30] thedevolution commented on #21462
Interesting.  I just tried this on a brand new APIM instance that I created today and it works as expected.  I tried on an APIM instance that I had created last week (or maybe the week before) and it still has issues.  Weird?!?!

[2019-01-04 05:35] pushsos commented on #21501
@YutongTie-MSFT : https://github.com/MicrosoftDocs/azure-docs/issues/16837

Followed this

[2019-01-04 05:37] pushsos commented on #21501
@YutongTie-MSFT As you have mentioned this is solved offline , can you share the same ?

This issue is solved offline. We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-01-04 05:39] KetanChawda-MSFT commented on #21462
@thedevolution Can you try deleting that product and create a new product with the same name and same  settings and check if it working like that

[2019-01-04 05:50] thedevolution commented on #21462
Still seems to be having issues on the older APIM instance.  I'll try some more scenarios tomorrow morning to see if I can hone in on what's going on.  Thx!

[2019-01-04 05:52] BryanTrach-MSFT commented on #21457
@Liamdelee Can you please email us at azcommunity@microsoft.com with your subscription ID and the URL of this post if you are still having this issue?

[2019-01-04 05:52] #21457 closed

[2019-01-04 05:55] KetanChawda-MSFT commented on #21462
@thedevolution After deleting the earlier created product and recreating the new product giving you the same error ?

If yes, I would suggest you to file a support request to troubleshoot that issue as it is an environment specific.

Let me know If you have any other questions with this or should I go ahead and close this issue?

[2019-01-04 05:55] remware commented on #21214
@olivierbloch hi, I think that is related since I am using FKU for testing. What is the recommended tier hub ?

[2019-01-04 06:10] ahkim commented on #21549
Hi Sumanth, it looks like that it doesn't show on mine only. Product team confirmed that this might be a bug and I reported my subscription and storage name to verify.

I have just found the primary static website endpoint in Properties as you said. This wasn't there yesterday though, interesting. Thanks!

[2019-01-04 06:10] #21549 closed

[2019-01-04 06:13] shashishailaj commented on #21616
@mganeshphani .
As explained by John above , the setting is available for on-premise MFA server only.
![image](https://user-images.githubusercontent.com/532022/50675754-fb6b9480-1015-11e9-99a5-87d9622a9857.png)

You see the options on the portal because there are certain settings of on-prem MFA server which can be managed through the portal. We will close this issue now.
thanks.

[2019-01-04 06:14] #21616 closed

[2019-01-04 06:32] 7100SW commented on #21462
Deleting the product, the subscribers will loose their keys, right?  Is there a way to back and restore them If I delete and then create a new product?

[2019-01-04 06:43] Pratik-Gautam opened #21632 "Add additional Authorized Redirect URLs"
While configuring the solution https://github.com/Azure-Samples/active-directory-b2c-dotnet-webapp-and-webapi, It is seen that the expected redirect url is "https://login.microsoftonline.com/te/tenant-name.onmicrosoft.com/oauth2/authresp" and not "https://tenant-name.b2clogin.com/tenant-name.onmicrosoft.com/oauth2/authresp". I believe this has to be updated in step 6 of "Create a LinkedIn Applicat

[2019-01-04 06:52] georgievaja commented on #17084
Hi, this is a real blocker - gateway is not usable for us now. I also agree you should make at least choosable to use standard X-Forwarded-Host header. I do not like the idea of rewriting all the middlewares which count on X-Forwarded-Host to use X-Original-Host instead.

[2019-01-04 06:57] Poods1158 commented on #21509
If I create a Store Procedure activity, the linked service for that doesn't show the Azure SSIS IR. It only shows the default IR. I assume stored procedure activity is dispatched from the default IR to the azure SQL database to be executed natively. I am not sure, if we can do that with Azure SSIS IR.

[2019-01-04 06:59] ravikiran-srini commented on #21509
If I create a Store Procedure activity, the linked service for that doesn't show the Azure SSIS IR. It only shows the default IR. I assume stored procedure activity is dispatched from the default IR to the azure SQL database to be executed natively. I am not sure, if we can do that with Azure SSIS IR.

[2019-01-04 07:04] JohnReeson commented on #21144
@ggailey777 I should have clarified before. Check the sample below.

    {
        "documentDB": {
            "connectionMode": "Gateway",
            "protocol": "Https",
            "leaseOptions": {
                "leasePrefix": "prefix"
            }
        },
        "sendGrid": {
            "from": "Azure Functions <samples@functions.com>"
        }
    }

[2019-01-04 07:24] ravikiran-srini opened #21633 "Port 3389 is open"
I am concerned with a few issues I notice

a) Port 3389 is open in my Azure SSIS IR, after being joined to VNet. I am not comfortable of the purpose RDP port is opened, as it might pose some risk.
b) Further to that, in NSG, I could see that 3 different IPs are connecting to SSIS IR through the ports 29876 & 29877. Are these data factory IPs? If so, why 3 IPs?
c) And what are node agents and node

[2019-01-04 07:36] #21562 closed

[2019-01-04 07:37] wilsonchua20 commented on #21343
the problem is solved now, apparently the url is blocked by the network. Thanks for the help! i just want to ask if the testing console for speaker verification will be available again?

[2019-01-04 07:44] AjayKumar-MSFT commented on #21630
@nealmcb, Thank you for your question on this item.
As mentioned in the “Note” in this document- https://docs.microsoft.com/en-us/azure/app-service/troubleshoot-diagnostic-logs#enablediag--“Unlike changing the web.config file, enabling Application diagnostics or changing diagnostic log levels does not recycle the app domain that the application runs within”. So, just to clarify your statement, do

[2019-01-04 08:12] SnehaGunda commented on #21228
#please-close

[2019-01-04 08:20] ggailey777 commented on #21144
@jeffhollan can you confirm that these are valid v1.x host.json settings? They weren't in the original (v1.x) host.json article as far as I can tell.

[2019-01-04 08:40] mjalas opened #21634 "Invalid type in documentation example"
The type *extensions* that is used in the example seen below
[code]
seems to be invalid, since it is causing the following error.

[code]

Visual Studio Code suggests that this should be changed to *Microsoft.Compute/virtualMachines/extensions*, which does not cause the error. If this is the correct value, then please update the documentation accordingly.

---
#### Document Details

⚠ *Do not edit

[2019-01-04 08:58] WiseMack commented on #21618
I made an issue https://github.com/Azure/azure-cli/issues/8162 over in the Azure-CLI github, maybe you should write in
https://docs.microsoft.com/en-us/azure/virtual-machines/linux/tutorial-secure-web-server
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/tutorial-secure-web-server
that
"We are currently having trouble implementing this functionality and as a result the implementat

[2019-01-04 09:00] jakaruna-MSFT commented on #21618
@WiseMack Cloud init works during the first boot. ie when we create a machine from the image.
So we can load cloud init file only when creating a VM.
For your use case, You can use a [custom script extension](https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/custom-script-linux) and execute a script to install nginx and configure it.
For configuring you will be using the same run

[2019-01-04 09:11] WiseMack commented on #21618
First
This is an older implementation as in 8 hours ago, and I already gave up trying to inject the Cloud init.
in Azure/azure-cli#8162 I wrote my current code, and there I am creating the vm with Cloud init included, unfortunately it is giving me problems with --secrets instead.

Here I create the VM then succeed at adding the secrets yet fail at adding the cloud init
In the other one I succeed a

[2019-01-04 09:11] roman-turovskyy opened #21635 "Log alert didn't fire when Period = Frequency"
In the article you state: "To mitigate data ingestion delay, the system waits and retries the alert query multiple times if it finds the needed data is not yet ingested". We have an issue with triggering alerts and the issue suggests that described behavior is not very reliable as a lot of our alerts aren't fired. To be more precise we ingress logs from Data Factory V2 into Log Analytics and watch

[2019-01-04 09:13] WiseMack commented on #21618
According to
https://docs.microsoft.com/en-us/azure/virtual-machines/linux/tutorial-secure-web-server
it should be possible to create a vm with --secrets AND --custom-data, unfortunately this is not the case

[2019-01-04 09:30] jakaruna-MSFT commented on #21618
@WiseMack Sorry that you ran into so many problems.
are you running azure cli commands in powershell?
If yes, Its good to use [cloud shell](https://shell.azure.com/) where you get the latest version of cli and a linux environment.
On the top left corner of cloud shell, You have an option to choose between powershell and bash. You can choose bash there and run azure cli there.

I will check about h

[2019-01-04 09:33] AshokPeddakotla-MSFT commented on #21631
@ameetkonnur Could you provide more details about the issue which you are facing? In which step you are getting this error message? Have you created map account and configured the key accordingly?

[2019-01-04 09:36] WiseMack commented on #21618
Yes I am using cloud shell, it is the one included in the azure portal on the >_ button

[2019-01-04 09:37] WiseMack commented on #21618
CLI version (az --version 2.0)
to be exact

[2019-01-04 09:37] WiseMack commented on #21618
how do I execute azure cli from bash?

[2019-01-04 09:42] WiseMack commented on #21618
Correct me if I'm wrong but you are in charge of the https://docs.microsoft.com web page, wouldn't it be better to wait until the guys over at https://github.com/Azure/azure-cli fix this problem before revisiting this topic?
Or are you also a programmer?

[2019-01-04 09:45] simonvane commented on #7705
Is there any news on the index mechanism changes? Having to store an upper cases version of the data to avoid the RUs costs a lot of development time.

[2019-01-04 09:52] jakaruna-MSFT commented on #21618
You are right. We are responsible for documents and we also help users who run into issues while following the documents.
Cloud shell is available in portal.
![image](https://user-images.githubusercontent.com/43405697/50682200-1a791f00-1034-11e9-9415-4d0a45426a74.png)
You can select between powershell and bash as shown in the screenshot.

[2019-01-04 10:00] ekramy-elnaggar commented on #21504
@yairt1974 : thanks a lot for your valuable reply , it explained the situation completely :)

[2019-01-04 10:01] MohamedKhelifi opened #21637 "Improvement for kubernetes-dashboard with RBAC"
Hello,

We have to add another service account for the default namespace, if not we get lot of errors on the dashboard.

Like this:
kubectl create clusterrolebinding kubernetes-dashboard --clusterrole=cluster-admin --serviceaccount=kube-system:kubernetes-dashboard --serviceaccount=default:kubernetes-dashboard

Best regards.

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2019-01-04 10:01] WiseMack commented on #21618
I HAVE been using the powershell from the portal
When I asked how to open Azure CLI from bash I was referring to

I already said so over at  Azure/azure-cli#8162 but I succeded in creating the vm wihout the secret and adding the secret after deployment

unfortunately the domain name does not recognize the certificate.
neither does the dns zone

[2019-01-04 10:02] Yvand commented on #18818
@kobulloc-MSFT any news on this?

[2019-01-04 10:02] imeya opened #21638 "can we import some .dll file in powershell runbook?"
In my case, I need to use the Microsoft.WindowsAzure.Storage.dll in powershell.

In local, I can use this command to import this .dll file : [Reflection.Assembly]::LoadFile("D:\Test\2\Microsoft.WindowsAzure.Storage.dll").

Then in the powershell runbook, is it possible to use this .dll file? or any other powershell module can have the same functions like the functions in the .dll?

thanks.

---
##

[2019-01-04 10:02] ameetkonnur commented on #21631
I am trying the sample routeMap.html which gives the below error. It doesn’t even load the map. It just shows a blank screen with error below.
I have set the Azure Map key in the code. Am using this from India.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: AshokPeddakotla-MSFT <notifications@github.com>
Sent: Friday, January

[2019-01-04 10:03] SubhashVasarapu-MSFT commented on #21504
@ekramy-elnaggar We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-04 10:03] #21504 closed

[2019-01-04 10:05] phatcher opened #21639 "Clarify what rights are required in AD to grant role assignment"
There's a line "For example, due to your organization's security model, you might not have sufficient permission in your Azure AD directory to assign a role to the AKS-generated service principal", would be nice to know exactly what permission in the AD are required, I already have subscription Owner permission

---
#### Document details

⚠ *Do not edit this section. It is required for docs.micros

[2019-01-04 10:12] AshokPeddakotla-MSFT commented on #21631
The Azure Maps API is currently available in all countries except for the following:

- Argentina
- China
- India
- Morocco
- Pakistan
- South Korea

This could be a problem with the region. I had the same blank screen issue when i try this.
As a work around you can create a VM and try the example.

[2019-01-04 10:17] florianeidner commented on #21142
@automationbk @MarileeTurscak-MSFT
I encountered the same problem and found the required module. What you need is the Az.Storage Module in version 1.1.1-preview or higher (https://www.powershellgallery.com/packages/Az.Storage/1.1.1-preview).

I think the required module version should be mentioned in the documentation.

[2019-01-04 10:23] ameetkonnur commented on #21631
Thanks. Any timelines when this would be available in India ?

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: AshokPeddakotla-MSFT <notifications@github.com>
Sent: Friday, January 4, 2019 3:42:34 PM
To: MicrosoftDocs/azure-docs
Cc: Ameet Konnur; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Unable to load js files from atlas.

[2019-01-04 10:38] maganvill commented on #20808
Switching to lower case worked for me!

I never realised that issue since AZ CLI in all other places where ACR is used, is user friendly and corrects the casing for me.

And yes, the portal procedure worked the whole time but was not an option for me.

Thanks

[2019-01-04 10:40] assilabdulrahim commented on #20754
Thank you for looking into the remark I have given.
My remark was not a critique of any kind and it was not indicating a mistake from your end.
It as just an attempt towards perfection because Microsoft has always been #1 in documentation and user-friendly interfaces without competition.
Yes, you can choose any colors you want. but look at this link for instance:
https://docs.microsoft.com/en-us/a

[2019-01-04 11:00] sergaz-msft commented on #21449
Hi @SeaDude I am also not able to draw a path on the map [using the examples on the API](https://docs.microsoft.com/en-us/rest/api/maps/render/getmapimage#uri-parameters). We are investigating this internally and will get back to you soon.

Not sure what is the issue you are mentioning?

Thanks!

[2019-01-04 11:07] ChiragMishra-MSFT commented on #21561
@Hansonaplane We will now close the issue. Feel free to comment if you need any other information.

[2019-01-04 11:07] #21561 closed

[2019-01-04 11:07] ManojReddy-MSFT commented on #21625
@fdashti Thanks for reporting this. I will check with the product team regarding this and will provide an update accordingly.

[2019-01-04 11:16] ChiragMishra-MSFT commented on #21633
@ravikiran-srini Thanks for the feedback. We are assigning this concern to the author to provide some more clarity.

@swinarko Can you please take a look at this.

[2019-01-04 11:36] pvrk commented on #21405
The only way to get completion alerts for MAB agent backups is to use LA to direct the diagnostic data and create alerts from LA. This is detailed in this blog: https://azure.microsoft.com/blog/monitor-all-azure-backup-protected-workloads-using-log-analytics/

Once you configure the LA, you can identify a completed job from a MAB agent and then create a custom alert on that scenario.

[2019-01-04 11:43] aquibqureshi26 commented on #21405
I'm currently using the same, I've created a LA with logic Apps to get the list of completed backup. But it would be nice to have this functionality just like the failed backup out of the box

[2019-01-04 11:44] jarroput commented on #18460
@paulwalls Thanks, that does the trick 👍

[2019-01-04 11:47] guyhorn1964 opened #21640 "Errors @ Update-Package -Reinstall"
Hi,
I'm not getting past the first steps. Update-Package -Reinstall fails and Building the solution fails later. I'm runing VS 2017 community. And I downloaded and installed .net framework SDK version 4.7
# ------------------------

This is the error:
One or more unresolved package dependency constraints detected in the existing packages.config file. All dependency constraints must be resolved to

[2019-01-04 11:51] shashishailaj commented on #21461
@stephenc01 We have tested it with trusted location where a named location is marked as trusted and it is working as expected and the what-if tool also provides correct interpretation. Can you elaborate more on your test scenario with details on your policy settings. However , the What-if behavior with "MFA trusted IPs" seems to be problematic. If you are considering the "MFA Trusted IPs" as defin

[2019-01-04 11:51] #21461 closed

[2019-01-04 11:54] bjthomson commented on #21602
I must be missing something, if I navigate to [mystaticwebcdn].azureedge.net I get an error:
<Error>
<Code>InvalidQueryParameterValue</Code>
<Message>Value for one of the query parameters specified in the request URI is invalid. RequestId:75f0f848-601e-0013-6123-a4aff5000000 Time:2019-01-04T11:52:05.9894406Z</Message>
<QueryParameterName>comp</QueryParameterName>
<QueryParameterValue/>
<Reason/>

[2019-01-04 12:00] pvrk commented on #21405
Thanks for the feedback.

[2019-01-04 12:08] florianeidner opened #21641 "Usage of "version" parameter is not clear"
In my opinion, the usage of the version parameter within the policies is not specified clear enough. At the moment it can be easily mistaken with a user-defined parameter to versionize the policies.

As this parameter seems to be the api-version behind the cmdlet, i suggest to rename it or describe the purpose more clearly.

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2019-01-04 12:32] andyianprice commented on #21451
Im also seeing this error, i have ran the command Get-AzureRmProviderOperation Microsoft.Storage/* to see all the actions available in the json file but there are no file service options available, (this action "Microsoft.Storage/storageAccounts/fileServices/fileshare/*" is not listed as an available action) ive updated my powershell modules to the latest prerelease versions but still cant get thi

[2019-01-04 12:32] stephenc01 commented on #21461
@shashishailaj is there a private way to send you more details? We are using named locations marked as trusted as an exclusion to a conditional access rule. The what-if tools shows the rule as applied when it should be excluded.

[2019-01-04 12:33] andyianprice commented on #21451
here is my json file

{
  "Name": "AzureFiles-ChangeRights",
  "Id": null,
  "IsCustom": true,
  "Description": "Allows for read, write and delete access to Azure File Share over SMB",
  "Actions": [
    "Microsoft.Storage/storageAccounts/fileServices/fileshare/*"
  ],
  "DataActions": [
    "Microsoft.Storage/storageAccounts/fileServices/fileshares/files/*"
  ],
  "NotDataActions": [
    "Microso

[2019-01-04 12:42] jakaruna-MSFT commented on #18076
@peterschen @justinbarias sorry for replying after a long time.
I have some pointers. DSC is created to work with Azure automation. Azure automation has a DSC server.
If we need to set LCM parameters, Then we need to use a script(comes with the extension) which sets the LCM parameters and then pulls the DSC from the DSC server and configures the system.
We can use azure automation as the placehold

[2019-01-04 12:43] jakaruna-MSFT commented on #21478
@NitroAMD is there any update?

[2019-01-04 12:44] jakaruna-MSFT commented on #21407
Thanks @dlepow . I am assigning this issue to you to update the document.

[2019-01-04 12:44] jakaruna-MSFT commented on #21260
@badalk
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-01-04 12:44] #21260 closed

[2019-01-04 12:45] Futtrup87 commented on #21559
I tried your suggestion and it seems to work, some of the way.
When i check the status of the IoTEdge i get an error when it tries to pull the images from the reposetory. I have attached a txt file with the log from the IoTEdge.
Great help so far, hope you can helt the the rest of the way.

[IoTEdge Error.txt](https://github.com/MicrosoftDocs/azure-docs/files/2727004/IoTEdge.Error.txt)

Thank you.

[2019-01-04 12:45] jakaruna-MSFT commented on #21342
@cynthn . I have updated the links. Please update the screenshots.

[2019-01-04 12:49] jakaruna-MSFT commented on #21313
@abhijitkakade914 I think If you create an empty disk (raw disk without supplying a snapshot), Then it wont encrypt till we initialize it.
If you have some data in that disk, Then its already initialized and you will be able to see that as a drive in windows. In that case that extension will encrypt it.
cc: @MicahMcKittrick-MSFT

[2019-01-04 12:58] Futtrup87 commented on #21559
I tried the process over again on a new IoTHub and a new IoTEdge identity, the same error occurs again.

[IoTEdge Error Again on the second try.txt](https://github.com/MicrosoftDocs/azure-docs/files/2727048/IoTEdge.Error.Again.on.the.second.try.txt)

[2019-01-04 12:59] romankiss opened #21642 "What is the purpose of the using access token?"
This release version didn't show any restriction of using the IoT Central App access tokens. There is no note in the documents or on the Administrator page for using the above access tokens.

In other words, can we use this access token in the production? If it isn't, why is not this limitation documented?

Based on this access token, we can get an access to the internal IoT Hub service-facing end

[2019-01-04 13:01] AlekseySokol opened #21643 "Azure AD Connect configration"
Hello!
Could you please advice how to configure Azure AD Connect to support Federation and Password hash synchronization?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6ff701b-a0fa-2ca5-ddba-40cedaaf0a38
* Version Independent ID: db655cc8-030e-6801-a01a-1a795e717620
* Content: [Azure AD Connect and federation](https:

[2019-01-04 13:04] buggooo commented on #21580
Just some additional clarification: I'm running on Windows (Docker for Windows). It seems that the C:\Users\...\AppData\Local\Temp\azureml_runs\sklearn-mnist_1546526644_ad63ddfb folder is mounted into \azureml-run but is empty inside the docker image

[2019-01-04 13:08] MarkSFrancis commented on #13271
I was caught out by this one.
For me it was an issue with Kudu (the build server within Azure) misinterpreting your project as a Mono solution, and trying to build it using the Solution Parser for Mono's MSBuild instead of .NET Core's.
I found that after I'd deleted my .sln file, the solution built properly.

This is mentioned in this PR on Kudu, but as far as I know, was never fixed:
https://gith

[2019-01-04 13:30] hsbsandrecv opened #21644 "Trusted IPs - Public or Private addresses?"
I have a question in regards to what is a Trusted IP to MFA: on the "Enable named locations by using conditional access" section there is an example of Private IP Subnet Address, on the other hand there is a mention of "For requests from a specific range of public IPs".
So my question is: When Configuring trusted ips on multi-factor authentication service settings I will set public IP or Subnets,

[2019-01-04 13:34] jay98014 commented on #21370
@franciso - thanks for raising this point.   I have filed a bug to implement your suggestion, and in addition will plan on writing a small readme.txt file in the root of that AADPP-specific folder to let folks know what the folder is used for.

[2019-01-04 13:41] Norrch2 opened #21645 "Company branding info available via REST?"
Hi all,

I had a question.

Is this information available to retrieve using a REST based API? Perhaps Graph?

For example, can I have an application that can grab the url of the images from Azure Active Directory company branding page?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72f2e675-436d-dcd4-fa27-49408b201158

[2019-01-04 13:44] abditimer opened #21646 "Standard properties link broken"
In the nav bar on the left, under Log Data there is a page header called "Standard properties" that seems to not have an associated link? I am unable to click on it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa4abe74-27fa-93a8-ffc6-a2d75a8291da
* Version Independent ID: e37207e6-a781-e2b1-7fee-c020568f3b41
* Conte

[2019-01-04 14:12] jay98014 commented on #20478
@fedonasc, thank you for raising this.  I have added a warning note to step 2 of "Install and configure the Azure AD password protection proxy service" to document the workaround and alert other customers to the requirement.

[2019-01-04 14:12] Slaaaap opened #21647 "A little mistake"
"At least 50 images per label for the training set are recommended as a starting point. With fewer images, there's a strong risk that you're overfitting."

Did you mean underfitting ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fdb2597d-a612-4cd2-3005-85ab51574f01
* Version Independent ID: 84c078ba-b424-e81d-4dd1-1e

[2019-01-04 14:17] andreea-anastasescu commented on #19304
I have also experienced this issue and I was looking for a solution: https://social.msdn.microsoft.com/Forums/en-US/ba7e6ad3-5a5b-4e81-9e14-f93c61c68099/how-to-obtain-a-v2-access-token?forum=WindowsAzureAD

I have noticed that the 'accessTokenAcceptedVersion' field maters: regardless where the registration was done: azure portal app registration (preview) or app registration portal (https://apps.d

[2019-01-04 14:18] liamfoneill opened #21648 "Multiple Site Hosting Limit Per Instance or Per Application Gateway"
Here: https://docs.microsoft.com/en-gb/azure/application-gateway/overview#multiple-site-hosting

You mention allowing up to 20 sites per Application Gateway Instance.

1.Does that mean if I deploy a Single Application Gateway with an Instance Count of 3 I am able to host 60 sites or only 20?
  a. If no, what does increasing the Instance Count give me?
2. What is exactly limited to 20? Backend Pool

[2019-01-04 14:28] xxCrazyII opened #21649 "Awesome"
this is awesome!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77957bce-73f9-6b80-df53-34563ae053a0
* Version Independent ID: 491c6d7e-6254-b7ce-0df4-fc345f2707f3
* Content: [Sign up your organization to use Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/sign-up-organizati

[2019-01-04 14:32] CeciAc opened #21650 "Improvement for the dashboard with RBAC"
@MohamedKhelifi commented on [Fri Jan 04 2019](https://github.com/MicrosoftDocs/azure-docs.fr-fr/issues/214)

Hello,

We have to add another service account for the default namespace, if not we get lot of errors on the dashboard.

Like this:
kubectl create clusterrolebinding kubernetes-dashboard --clusterrole=cluster-admin --serviceaccount=kube-system:kubernetes-dashboard --serviceaccount=default:

[2019-01-04 14:33] CeciAc commented on #21650
Hi team,
I'm moving this here since the user is making a suggestion on the code
best regards

[2019-01-04 14:41] navy0333 commented on #20041
Yea, but is the majority of the NodeJS user is using Express? I don't have any proof but if the tutorial itself is splitted between the get, process and response actions, that might be good for everyone that using different frameworks

[2019-01-04 14:43] ttilton opened #21651 "Still can't delete restored users that were previously synched"
@marlieeTurscak-MSFT I do not believe the issue discussed in #21040 is fully resolved.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7534551-96d6-8f83-6791-7c61bd0f166b
* Version Independent ID: cda5d1a6-ccf6-8e63-eecc-b733c8220957
* Content: [Restore or permanently remove a recently deleted user - Azure Active Direc

[2019-01-04 14:45] fdashti opened #21652 "Azure AD B2C - Remember Device"
Hi there,
It seems that currently there is no such functionality to remember the device which the user performed MFA on. For that reason each time the user tries to log in, B2C is asking them to perform MFA. This not only is time consuming for the end-user but also costly for the site owner as for each MFA they are charged.
It would be very helpful is you could implement trusted devices feature in

[2019-01-04 14:48] SeaDude commented on #21449
Thanks for the response @sergaz-msft. Awaiting your findings.
**RE: "...missing West of Victoria/Portland/Salem/San Francisco.":** Please refer to your screenshot above and my screenshot below (from google maps). There is a lot of land west of those points that is NOT showing on the Azure Maps tile. I also saw this behavior when working with the same parameters.
![image](https://user-images.github

[2019-01-04 14:51] lbenassi opened #21653 "Import schema not available"
Hi,
I implemented the parameterization of the database name on my linked services on my Azure Data Factory as shown in the tutorial, but I encountered an issue with "copy activities": it is normal that once in the linked services has been parameterized the database name, in copy activities the import button can not be used?
If I try to use the import schema button, I get this error:
"The Linked Se

[2019-01-04 14:56] pythianchaves commented on #9533
The documentation here: https://docs.microsoft.com/en-us/azure/data-factory/copy-activity-fault-tolerance#supported-scenarios

Says "You can still enable redirecting PolyBase incompatible rows to Blob or ADLS as normal as shown below."

so it is in direct contradiction to what is stated in this thread that is still open.

Also the behavior has now changed, before the pipeline would execute but not

[2019-01-04 15:01] OffColour opened #21654 "Atlassian Access account"
Page still refers to Atlassian Identity Manager which has been renamed Atlassian Access.
It should also point out that the extra cost subscription to Atlassian Access is required right at the beginning of the article rather than half way through.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb39c8bf-2709-c59d-94f8-6d

[2019-01-04 15:09] msmimart commented on #12652
That's great, thanks so much for the update. I'll work this into the docs.

[2019-01-04 15:10] chanes-cds commented on #6500
For .NET core based images (e.g. microsoft/dotnet:2.1-aspnetcore-runtime), the route add workaround does not work due to insufficient permissions (route add yields "The requested operation requires elevation.").  Perhaps I am missing something - has anyone had luck hitting the 169.254 endpoint with .NET core images?

[2019-01-04 15:12] hhcakir opened #21655 "Use double quotes in Azure CLI"
Single quoted Azure CLI commands are not working (on Windows 10).
Change to double quotes please.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16b2d08f-c5b9-ed1f-f97f-475552cd7970
* Version Independent ID: 264a3806-0b3e-5480-59f1-cad723b6cae6
* Content: [Azure Quickstart - Set and retrieve a secret from Key Vault usi

[2019-01-04 15:15] nealmcb commented on #21630
Thank you for pointing me to that page. But it seems either outdated or misleading. I don't see most of the options it shows, only "application logging". No web server logging, detailed error messages, failed request tracing.

And I remember being astonished that you seem to only allow me to get the actual logs via ftp. That protocol became obsolescent many decades ago.

What does it mean to "recy

[2019-01-04 15:28] imeya opened #21656 "Can we create an python app in azure app service(not linux)?"
Can we create an python app in azure app service(not Azure App Service on Linux)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53dd65b1-6f9d-9431-5850-9cee636aeabd
* Version Independent ID: 0012e819-bb2b-2955-d87b-d6f145fb6af7
* Content: [App Service overview - Azure](https://docs.microsoft.com/en-us/azure/app-servic

[2019-01-04 15:33] cephalin commented on #21456
@serkanozkul I used the connection I'm not disputing the fact that AzureServiceTokenProvider can log in using the Azure account, but can it actually do it given the constraints of this tutorial? In the tutorial the only account allowed to access the SQLDB is the managed identity automatically assigned to the App Service app, and the token for it must be retrieved from within App Service itself, no

[2019-01-04 15:43] bsiva commented on #21460
@LisandroSu : Thanks for bringing this to our attention. This has been fixed.

[2019-01-04 15:47] imeya opened #21657 "can we just back up some files or folders?"
I don't want to back up all of the sites, but only back up some files or folders. How can I do?

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8012af66-1d80-8d93-2a09-f5a549476825
* Version Independent ID: 27f77a36-53b0-4c47-cf07-058f8c7bb7de
* Content: [Azure PowerShell Script Sample - Back up a web app](http

[2019-01-04 15:52] rothja commented on #21108
@Anand-Moghe Thanks for the suggestion and sorry for the delayed response! I'm going to find someone who specializes in App Service to help answer this.

@MicahMcKittrick-MSFT Could you please reassign to @cephalin who works with App Service? Thank you!

[2019-01-04 15:54] imeya opened #21658 "can we see the source code of the powershell cmdlet?"
can we see the source code of the powershell cmdlet? like the source code(c#) for the cmdlet New-AzureRmWebAppBackup.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8012af66-1d80-8d93-2a09-f5a549476825
* Version Independent ID: 27f77a36-53b0-4c47-cf07-058f8c7bb7de
* Content: [Azure PowerShell Script Sample - Back up a

[2019-01-04 15:55] rothja commented on #21384
@robertdsmithii Thanks for pointing that out. I'll fix it now.

[2019-01-04 16:00] ryancole commented on #21475
Thank you @mike-urnun-msft and @KetanChawda-MSFT. That SO post explained the issue and the recommended workaround works for me.

[2019-01-04 16:07] bitpilot opened #21659 "Wrong function name in URLs in "Test the function" section"
Most of the URLs have the wrong function name as part of the URL in the code examples in "Test the function". The function was named "HttpTrigger" when created earlier, but it is now referred to as "MyHttpTrigger" in the curl command given, for example. Copy&pasting that line to bash and changing only the app name does not produce the expected result. Furthermore, the screen capture of the browser

[2019-01-04 16:13] roygara commented on #21600
@briannipper thanks for bringing this to our attention. I've fixed the links and that fix should be live later today. Accordingly,

#please-close

[2019-01-04 16:13] roygara commented on #21599
@briannipper thanks for bringing this to our attention. I've fixed the links and that fix should be live later today. Accordingly,

#please-close

[2019-01-04 16:15] guyhorn1964 opened #21660 "Can connect but cannot verify credentials."
What am I doing wrong?

Q1:
I have the service installed in Subscription "A" and I have a subscription "B" where I try to configure an SCIM app. Is that all right? Or maybe both MUST be in the same subscription? I can see that things are happening.

Here is the log:
e:\AzureAD-BYOA-Provisioning-Samples3\FileProvisioning\Host\bin\Debug&gt;FileSvc.exe http://10.0.1.6:9000 TargetFile.csv
Attempting t

[2019-01-04 16:15] CloudCrusader opened #21661 "file consistent vs app consistant"
in the backup process item 3,
The backup extension takes a storage-level, app-consistent snapshot.
Shouldn't this be listed as file-consistent backup?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2bdbfa0f-4305-1b2f-2dd9-a8c23e789a78
* Version Independent ID: 7ceb2658-7fa8-3fbb-a9a6-81ddd40f4dd3
* Content: [About Azur

[2019-01-04 16:16] guyhorn1964 commented on #21640
I solved it by running 'Install-Package Microsoft.VisualStudio.Validation -Version 15.3.58' before 'Update-Package -Reinstall'

[2019-01-04 16:32] Karishma-Tiwari-MSFT commented on #21637
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-04 16:34] SumanthMarigowda-MSFT commented on #21641
@florianeidner Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-01-04 16:42] robertdsmithii commented on #21384
Hi Jason,

Much obliged! I actually work as an Azure engineer, but for some reason I can’t log in using my Microsoft email account for whatever reason. I appreciate the fix!

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Jason Roth <notifications@github.com>
Sent: Friday, January 4, 2019 9:55:56 AM
To: MicrosoftDocs/azure-docs

[2019-01-04 16:46] olivierbloch commented on #21214
@remware, I was able to reproduce. It seems there is an issue with the devkit CLI tool "iot" which doesn't create an IoT Edge device but a regular one instead. Invstigating, stay tuned.

[2019-01-04 16:53] Minewiskan commented on #21363
#in-progress

[2019-01-04 16:58] Futtrup87 commented on #21559
So i got some more to work now, i gues...
Now i can see the IoTEdge service is running, but i cant see any docker containers running:

PS C:\Windows\system32> get-service iotedge

Status   Name               DisplayName
------   ----               -----------
Running  iotedge            iotedge

PS C:\Windows\system32> iotedge list
A module runtime error occurred
        caused by: Could not list

[2019-01-04 17:01] CeciAc opened #21665 "Django Binding Problem"
@erdemlal commented 11 days ago — with docs.microsoft.com

I tried to run a django app, in the document above it says

For Django apps, App Service looks for a file named wsgi.py within your app code, and then runs Gunicorn using the following command:
gunicorn --bind=0.0.0.0 --timeout 600 <module>.wsgi

But actually it logs the following:
2018-12-24T10:12:44.228591212Z GUNICORN_CMD_ARGS="--bind=0

[2019-01-04 17:03] CeciAc commented on #21665
Hi team,
I moved manually this here (zenHub didn't work) because the user was commenting on the example provided
best regards

[2019-01-04 17:16] themorey opened #21666 "incorrect link for prime.py?"
Hi,

I am not able to access the link for prime.py listed in the doc (https://raw.githubusercontent.com/Azure/Avere/master/src/dataingestor/prime.py).  I get a 404 error.

I was able to manually get there and download it using this link instead:
https://github.com/Azure/Avere/tree/master/src/clientapps/dataingestor/prime.py

thanks,
Jerry

---
#### Document Details

⚠ *Do not edit this section. It

[2019-01-04 17:21] CeciAc opened #21667 "TSI Walkthough Video"
@pvirgili commented on [Fri Dec 28 2018](https://github.com/MicrosoftDocs/azure-docs.es-es/issues/161)

Hi folks,
I've been watching the TSI walkthrough video and in minute 10:32 the presenter had to return to read the TSI  documentation and even with no comments at all. After 2+ minutes in silence he continued with the powerpoint "as nothing happened here". I think is a better idea to edit the vi

[2019-01-04 17:22] CeciAc commented on #21667
Hi team
I'm moving this here since the comment is on the video
best regards

[2019-01-04 17:23] blouwagie opened #21668 "The server creation script needs some tuning"
These are things that I can work around. The warnings about the future release seem to indicate the script may already be able to use the future version of the command?

Following warnings appeared with server creation script as well as an error. Maybe the script or instructions can make this even tighter. Here is the output I got:

VERBOSE: Importing alias 'List-AzureRmApplicationGatewayAvailable

[2019-01-04 17:26] CeciAc opened #21669 "Create a Recovery Services vault"
@jesusgilv commented on [Sat Dec 29 2018](https://github.com/MicrosoftDocs/azure-docs.es-es/issues/163)

Step 1 say: In the Azure portal, select Create a resource &gt; Storage &gt; Backup and Site Recovery (OMS).
Another path to can create is
Step 1: In the Azure portal, select Create a resource &gt;Management Tools&gt; Backup and Site Recovery (OMS).

---
#### Detalles del documento

⚠ *No edite

[2019-01-04 17:26] CeciAc opened #21670 "Create a Recovery Services vault"
@jesusgilv commented on [Sat Dec 29 2018](https://github.com/MicrosoftDocs/azure-docs.es-es/issues/163)

Step 1 say: In the Azure portal, select Create a resource &gt; Storage &gt; Backup and Site Recovery (OMS).
Another path to can create is
Step 1: In the Azure portal, select Create a resource &gt;Management Tools&gt; Backup and Site Recovery (OMS).

---
#### Detalles del documento

⚠ *No edite

[2019-01-04 17:35] dlepow commented on #18849
@DaveVoyles - Dave, apologies for slow response. I found when I used your `wget https://goo.gl/HmHv9N -O job.json` command I downloaded an HTML page from OneDrive, not the target job.json. So that is causing the subsequent `az batchai job create` command to fail. I'm not an expert on using wget with OneDrive, but folks in the community have found workarounds ([example](https://unix.stackexchange.c

[2019-01-04 17:38] DaveVoyles commented on #18849
Quite alright. I appreciate you clarifying as well. I suspected that it may be the issue, too. Thanks again!

[2019-01-04 17:38] #18849 closed

[2019-01-04 17:39] YutongTie-MSFT commented on #21647
@Slaaaap
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-04 17:40] thedevolution commented on #21462
The best solution if you face this problem is to use the Backup/Restore API Management Service (https://docs.microsoft.com/en-us/rest/api/apimanagement/apimanagementservice/restore).  I ran a backup of my older APIM instance that was having trace issues, deleted it and ran a restore on it.  Restoring keeps all the subscriber keys intact.  After doing the restore (which required me to create a new/

[2019-01-04 17:40] dlepow commented on #20808
@maganvill - Glad to hear that changing the case of the login server worked. I will make a small update to the article to mention that and adjust the script so it must use lowercase for the login server name.
#in-progress

[2019-01-04 17:54] MicahMcKittrick-MSFT commented on #21650
Duplicate of #21637

[2019-01-04 17:55] ADevanney commented on #8144
Ensure you login to docker with your username, rather than your email address.

Otherwise this error is given in the client tools.
ERROR: Get https://registry-1.docker.io/v2/library/redis/manifests/latest: unauthorized: incorrect username or password

[2019-01-04 17:58] MicahMcKittrick-MSFT commented on #21639
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-04 18:02] BryanTrach-MSFT commented on #21657
@imeya Yes, can you configure a partial backup using a backup filter. Please check out the below link on how to configure the backup filter for your site. Please let us know if you have any questions.

https://docs.microsoft.com/en-us/azure/app-service/manage-backup#configure-partial-backups

We will now proceed to close this thread. If there are further questions regarding this matter, please tag

[2019-01-04 18:03] aljo-microsoft commented on #21531
@colindooley11

So effectively you are trying to load balance requests from a client to cluster named Service B instances; and need to decide what service should you use to achieve that.

This is documented here:
https://docs.microsoft.com/azure/service-fabric/service-fabric-connect-and-communicate-with-services

and here:
https://docs.microsoft.com/azure/service-fabric/service-fabric-reverseproxy

[2019-01-04 18:03] #21657 closed

[2019-01-04 18:07] MarileeTurscak-MSFT commented on #21622
@okaicomputer
Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-04 18:07] MarileeTurscak-MSFT commented on #21624
@TroyMartinNet
Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-04 18:08] bdesmond commented on #21624
You would rather set this with the native admin template than with GPP so that you get the benefit of Group Policy's native policy settings/rollback.

[2019-01-04 18:08] BryanTrach-MSFT commented on #21520
We just heard back from @cgillum and the guidance is that the current Google authentication implementation will not be impacted.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-04 18:08] nicolaiax opened #21671 "Adjusting the web service call (get_workers) by adding a reference criteria call"
It would be beneficial if the web service call for workers could be adjusted to call another integration to get values that the normal API call won't get.

Example: Some values needed or recommended for provisioning might be part of custom objects or derived from other objects in Workday.

What I propose is that you at least enable customization of parts of the Get_Workers API call. What I would l

[2019-01-04 18:09] #21520 closed

[2019-01-04 18:10] jay98014 commented on #21370
@franciso - that is a good suggestion, I am considering it as well.

[2019-01-04 18:10] SaurabhSharma-MSFT commented on #21632
@Pratik-Gautam Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-04 18:11] SaurabhSharma-MSFT commented on #21640
@guyhorn1964 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-01-04 18:11] #21640 closed

[2019-01-04 18:12] SaurabhSharma-MSFT commented on #21643
@AlekseySokol Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-04 18:13] SaurabhSharma-MSFT commented on #21644
@hsbsandrecv Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-04 18:13] SaurabhSharma-MSFT commented on #21645
@Norrch2 Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-04 18:14] SaurabhSharma-MSFT commented on #21649
@xxCrazyII Thanks for your feedback.  We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-01-04 18:14] #21649 closed

[2019-01-04 18:15] SaurabhSharma-MSFT commented on #21651
@ttilton Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-04 18:16] SaurabhSharma-MSFT commented on #21652
@fdashti  Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-04 18:17] SaurabhSharma-MSFT commented on #21654
@OffColour Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-01-04 18:18] SaurabhSharma-MSFT commented on #21655
@hhcakir Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-04 18:18] hellkama commented on #19766
I don't think you really get what the original creator of the issue meant. What are the complete steps to create a working and supported cluster using a certificate that uses common name?

As far as I know I will not be able to obtain the certificate TheClusterIWantToCreate.Location.cloudapp.azure.com because I can't prove to the CA (digicert) that I control that domain. And I absolutely don't con

[2019-01-04 18:18] agregacontabil opened #21672 "VM without windows license"
When I use this script the VM is created without the windows license. How to create with windows license?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a3d35c1-9e1b-c3ae-06f1-af0402ac24e2
* Version Independent ID: b2e086c9-5864-e43c-4f3b-d74208e676e2
* Content: [Create a Windows virtual machine by using PowerShell in

[2019-01-04 18:18] SaurabhSharma-MSFT commented on #21660
@guyhorn1964 Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-04 18:18] YutongTie-MSFT commented on #21647
@Slaaaap Hi, for here overfitting is right. Overfitting is a modeling error which occurs when a function is too closely fit to a limited set of data points. Fewer data will bring more bias problems, since the model represents a small model well but will not work well a bigger model. If the model fit in fewer than 50 photos well, which means that it fit in a small model. That small volume training

[2019-01-04 18:18] YutongTie-MSFT commented on #21647
@Slaaaap Hi, for here overfitting is right. Overfitting is a modeling error which occurs when a function is too closely fit to a limited set of data points. Fewer data will bring more bias problems, since the model represents a small model well but will not work well a bigger model. If the model fit in fewer than 50 photos well, which means that it fit in a small model. That small volume training

[2019-01-04 18:19] MicrosoftGuyJFlo commented on #20478
#please-close

[2019-01-04 18:19] SaurabhSharma-MSFT commented on #21668
@blouwagie Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-04 18:19] Grace-MacJones-MSFT commented on #21656
Hi @imeya, thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-04 18:20] MicrosoftGuyJFlo commented on #21370
#please-close

[2019-01-04 18:20] #21647 closed

[2019-01-04 18:31] olivierbloch commented on #21214
Update on this one @remware
I think I have identified the issue. The devkit CLI tool published on pip is not up to date. Here is a workaround till I fix this, in a command prompt:

[code]
Once you have done that try again starting from the "iot configure-device" step. In the output, you should now see the word "edge" in the prompt related to device creation: "Enter an IoT Hub **Edge** Device name"

[2019-01-04 18:35] lunar87 opened #21674 "What does "retain this subscription within my Azure AD" mean?"
There is a screen shot showing this checkbox and a link. it would be great if you could explain that this checkbox means without having to actually go through this process.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65b8cd29-3c9b-6afc-d4fb-256463776002
* Version Independent ID: d905e8f9-49c6-19de-1c43-796efc04003f

[2019-01-04 18:37] MicrosoftGuyJFlo commented on #21644
@hsbsandrecv the example IP is just to show the format required. The IP Address should be the public IP that you wish to define.

[2019-01-04 18:50] Adam-Smith-MSFT commented on #21666
@themorey Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-04 18:54] BryanLa commented on #20969
@jderus - thanks very much for your feedback. I've incorporated your suggestion, and cleaned up the article a bit. It should republish again around 3:30pm Pacific today.

CXP #please-close

[2019-01-04 18:54] remware commented on #21214
@kgremban hi the ouput for docker ps is as follows before reinstalling pip dependencies (olivier fix):
CONTAINER ID        IMAGE                      CREATED             STATUS              PORTS               NAMES
3d38c3a71310        microsoft/azureiotedge-agent:1.0.0-preview022-linux-arm32v7   "/usr/bin/dotnet Mic…"   11 days ago         Up 9 days                               edgeAgent

@olivi

[2019-01-04 18:54] nicolaiax commented on #21671
The XPATH used in the attribute mapping would then look like this:
wd:Worker/wd:Worker_Data/wd:Integration_Field_Override_Data[wd:Field_Reference/wd:ID[@wd:parent_id='INTEGRATION_FIELDOVERRIDE_NAME'] eq 'nameValueToLookFor']/wd:Value

[2019-01-04 18:55] yasmin-amajeed opened #21675 "Is there any sample code or project which does CRUD using SQLite but does offline sync with AZURE?"
the demo tutorial is based on using AZure db, does not show how to sync the SQlite database.
Can you help, I am using Java and Android studio
How to sync multiple tables in local storage(SQLite) to Azure cloud ? How to setup back-end and database  for that

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c26239e-ff1d-ee

[2019-01-04 18:56] cmmdesai commented on #21671
@nicolaiax Thank you for sharing your feedback! This feature which we also refer to as - Support for Workday "Integration System" custom attributes - is in our feature backlog. In order for you to track it, I just added this to our User Voice feedback portal and you can upvote the feature here: https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/36448306-support-for-workday

[2019-01-04 18:58] MDornian commented on #21544
That did help.  I guess that, unless you are using a specific extension, you do not need to do this step.  It would be useful to see an example somewhere of a node.js javascript making use of an extension.  Are their extensions within Core that a person might use within javascript that are not otherwise available within node.js?

[2019-01-04 18:59] MarileeTurscak-MSFT commented on #21632
Hi @Pratik-Gautam , aer you using the [Microsoft.AspNetCore.Authentication.AzureADB2C.UI](https://github.com/aspnet/AADIntegration) library?

The b2clogin url should be available for you. https://docs.microsoft.com/en-gb/azure/active-directory-b2c/b2clogin

[2019-01-04 19:05] mike-urnun-msft commented on #21659
Hi @bitpilot Thank you for reporting this issue! We will review and make any necessary changes.

[2019-01-04 19:07] kobulloc-MSFT commented on #21646
@abditimer Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2019-01-04 19:08] BryanTrach-MSFT commented on #21665
@erdemlal Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-04 19:09] eross-msft commented on #18969
Thank you for following up. We thought we had addressed the issues, but realized today that we need to update it some more. I will do that today and hopefully get the content republished this evening. As far as the terminology that we're using in this content, this user-help site is intended for end-users and is meant to be simpler. While Azure tenancy is technically  more correct, the average con

[2019-01-04 19:10] YutongTie-MSFT commented on #21538
@JeffreyCA Hi, for the temporary workaround, please change “string subscriptionKey = ""; ” to "static string subscriptionKey = ""; " I will contact the author to update the document. Thanks a lot!

[2019-01-04 19:11] YutongTie-MSFT commented on #21538
@ashmaka Hi, can you please take a look of this issue, we can debug out but still need to correct the document. Can you please check? Thank you !

[2019-01-04 19:13] Grace-MacJones-MSFT commented on #21656
@imeya no, you can only create python apps in Azure App Service on Linux. In the past, you could set up python environment on Azure App Service Windows but that has been [deprecated](https://docs.microsoft.com/en-us/visualstudio/python/managing-python-on-azure-app-service?view=vs-2017).

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me i

[2019-01-04 19:13] #21656 closed

[2019-01-04 19:15] thekwilson commented on #18052
@raduart a word of thanks for the script you provided.  I had an AKS Virtual Node deployment that I could not fully delete because the regular Resource Group delete functions (portal, powershell & CLI) all failed.  I used this script as a basis for tearing down the Subnet SAL & Delegation settings so I could then delete the Subnet, VNET & RG.

[2019-01-04 19:18] chanes-cds commented on #6500
I figured it out and was able to add a permanent route in my Dockerfile with the following:
[code]

[2019-01-04 19:20] jgmitter opened #21677 "lack of proper documentation on how to deal with Force-Tunneling"
Would be great to have a section purely on if a customer Force-Tunnels, follow these steps, X, Y an  Z.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d854b3c-f9f9-7f6a-f889-e19acac2961c
* Version Independent ID: ed544e54-d24b-2f37-05b6-8b60eacd2026
* Content: [How to use Azure API Management with virtual networks](ht

[2019-01-04 19:22] olivierbloch commented on #21214
@remware , after running the iot device-configure, can you confirm your new device shows in the IoT Edge section of the IoT Hub blade on the portal and not in the Devices section?

[2019-01-04 19:32] YutongTie-MSFT commented on #21538
@JeffreyCA We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-01-04 19:32] #21538 closed

[2019-01-04 19:37] KaiWalter commented on #6500
With your approach I also can add the route but the request to the metadata endpoint did not work.
I figured out that `USER ContainerAdministrator` right before the `CMD` will help the entry-script to run elevated.

**Dockerfile**

[code]

**entry.PS1**
[code]

[2019-01-04 19:37] SnehaGunda commented on #19433
@darthmolen and @sridharanprasanna apologies for the long delay in getting back, most of us were on vacation over the past few weeks. The code sample that Sridhar pointed to are right, we have extended the sample and added test cases for CI pipeline. I updated the code in the repo to include test cases as well and the doc to point to this code sample. The following are the two files that you need:

[2019-01-04 19:37] femsulu commented on #21627
@bingosummer Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-01-04 19:38] SnehaGunda commented on #19433
#please-close

[2019-01-04 19:38] tamram commented on #15471
@agnel123 - Thanks for your feedback. I've updated that section to point to our new content about moving data into and out of Blob storage.

#please-close

[2019-01-04 19:39] Karishma-Tiwari-MSFT commented on #21634
@mjalas I am seeing the correct value in [this document](https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/custom-script-linux). Can you please check again and share?

![image](https://user-images.githubusercontent.com/20851144/50707346-65d00500-1015-11e9-9100-85b38be04a4e.png)

[2019-01-04 19:40] tamram commented on #13057
@julesman101 - Thanks for your feedback. I've updated the article to better describe the available types of storage accounts.

[2019-01-04 19:40] tamram commented on #13057
#please-close

[2019-01-04 19:41] femsulu commented on #21635
@roman-turovskyy Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-01-04 19:41] bendodge-xwis commented on #20736
Have not seen this issue again with v10, even after killing the process mid-operation. However, the v8.1 documentation is still wrong...

[2019-01-04 19:42] DavidEaton opened #21679 "Great Tutorial"
Many thanks for the excellent tutorial. We are developing a multi-tenant web app on Azure so this material is just what we need to get familiar.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ede0bd6-400a-50ea-1ca0-43754c16c1f5
* Version Independent ID: 621395e7-83a4-bbb5-9b8d-2d8beaed2d9b
* Content: [Database-per-ten

[2019-01-04 19:43] femsulu commented on #21638
@imeya Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-01-04 19:44] kanshiG commented on #21127
As explained on email this is planned for later.

[2019-01-04 19:47] femsulu commented on #21600
Closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-01-04 19:47] #21600 closed

[2019-01-04 19:48] cwatson-cat commented on #21674
@adpick Can you please have a look at this?  Label on Transfer subscription page is unclear.

[2019-01-04 19:49] DavidBerg-MSFT commented on #12694
Thanks for letting us know.  This should be corrected now and M32* VMs should now support Accelerated Networking.

[2019-01-04 19:50] femsulu commented on #21542
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-01-04 19:50] #21542 closed

[2019-01-04 19:51] cwatson-cat commented on #21126
@mumami Can you please follow up on this one?

[2019-01-04 19:51] SnehaGunda commented on #21127
@ricardoserradas Looks like you have had email conversation with Govind on this issue. The document is meant to show the list of features supported by Cassandra API in Cosmos DB. We will keep this list up to date as new features are added. Any functionality that is not available in this list is not yet supported and it's in our plan to add it.

We will now close this issue.

[2019-01-04 19:52] femsulu commented on #21370
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-01-04 19:52] #21370 closed

[2019-01-04 19:52] SnehaGunda commented on #21127
#please-close

[2019-01-04 19:53] MarileeTurscak-MSFT commented on #21652
Hi @fdashti, thanks for the feedback! The product team is planning to add this feature. There is already a [request ](https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/16104154-mfa-remembering-device)to add this in B2C in user voice. You can upvote the request or create your own request there.

[2019-01-04 19:53] TravisCragg-MSFT commented on #21627
@bingosummer Custom images are supported, just not with managed disks. I am following up to check on the status of 1811 and managed disks with custom images.

[2019-01-04 19:53] femsulu commented on #21124
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-01-04 19:53] #21124 closed

[2019-01-04 19:53] MarileeTurscak-MSFT commented on #21652
We will now proceed to close this thread. If you have further questions please feel free to tag me in the comments or open a new issue.

[2019-01-04 19:53] #21652 closed

[2019-01-04 19:53] femsulu commented on #20969
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-01-04 19:53] #20969 closed

[2019-01-04 19:54] femsulu commented on #20962
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-01-04 19:54] #20962 closed

[2019-01-04 19:55] femsulu commented on #20478
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-01-04 19:55] #20478 closed

[2019-01-04 19:58] TravisCragg-MSFT commented on #21627
@bingosummer This is correct, custom images with managed disks is not supported, but it will be soon, most likely with the next update.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-04 19:58] #21627 closed

[2019-01-04 19:58] cwatson-cat commented on #18121
@mumami Can you please follow up on this one?

[2019-01-04 20:00] TroyMartinNet commented on #18969
Hello Elizabeth,

Thank you for the timely response ??

I understand the dilemma and the way it’s handled in the docs makes sense. It’s tough.

Thank you for taking the time to review and clarify further.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Elizabeth Ross<mailto:notifications@github.com>
Sent: Friday, January 4, 2019 2:09 PM
To: MicrosoftDocs/azure

[2019-01-04 20:00] BryanLa commented on #20999
Hi @rohancragg - the 404 was a temporary issue for a short period, related to the migration from `AzureRM.`, to `Az.`. The link was back up shortly after. The migration of links within articles to the new `Az.` cmdlet format will take place soon as well.

CXP: #please-close

[2019-01-04 20:02] TravisCragg-MSFT commented on #12694
@Noambi We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-04 20:02] #12694 closed

[2019-01-04 20:03] TroyMartinNet commented on #21624
Agreed.

I preferred GPP rather than GP because GPP allows for ‘editing’ reg-values rather than ‘replacing’ them, thereby allowing users to still add their own.

But I definitely understand what you’re saying ??

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Brian Desmond<mailto:notifications@github.com>
Sent: Friday, January 4, 2019 1:08 PM
To: MicrosoftDocs

[2019-01-04 20:03] cwatson-cat commented on #13487
@alherz can you please follow up on this?

[2019-01-04 20:07] TravisCragg-MSFT commented on #21672
@agregacontabil the VM should be created with a license if you are using the gallery image from the Azure Marketplace.

Are you doing this from an ASDK instance or from an Azure Stack Multi-Node deployment?

[2019-01-04 20:07] cwatson-cat commented on #12981
@manish-shukla01 Can you please follow up on this?

[2019-01-04 20:07] mike-urnun-msft commented on #21677
Hi @jgmitter Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-01-04 20:08] MarileeTurscak-MSFT commented on #21671
We will now proceed to close this thread. If you have further questions feel free to post them in the comments.

[2019-01-04 20:08] #21671 closed

[2019-01-04 20:10] cwatson-cat commented on #11945
@Lumute Did @yashesvi updates resolve your issue?

[2019-01-04 20:20] mjalas commented on #21634
@Karishma-Tiwari-MSFT it is correct in the beginning of the document, but if you scroll down to the **Template Deployment** section, then there the value for the *type* key is only *extensions*. I assume that should also be *Microsoft.Compute/virtualMachines/extensions*.

[2019-01-04 20:20] cwatson-cat commented on #11814
@mumami Can you please follow up on this issue?

[2019-01-04 20:23] cwatson-cat commented on #11685
@mumami Please follow up on this issue.

[2019-01-04 20:23] Alberto-Vega-MSFT commented on #21667
@pvirgili @CeciAc Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-04 20:23] brandonh-msft opened #21680 "The examples should use data from the Setup step for cohesiveness"
When looking through this doc, it's hard to understand how the metadata I added in the first section is pulled out and used in the subsequent sections. For cohesiveness, these should build on each other so I can see where/how the data I added in the first part is referenced and appears in my Logic App's execution later on.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-01-04 20:24] cwatson-cat commented on #10914
@mnall did @manish-shukla01 answer your question?

[2019-01-04 20:31] slandsaw commented on #20976
This was definitely helpful. I was able to tweak to work on server 2016 containers as well.

I took the Docker file from here:
https://github.com/Azure/azure-functions-docker/blob/master/host/2.0/nanoserver-1709/Dockerfile

And tweaked it slightly so that it now looks like this:

    # Installer image
    FROM microsoft/windowsservercore:ltsc2016 AS installer-env

    SHELL ["powershell", "-Comman

[2019-01-04 20:32] cwatson-cat commented on #7119
@MicrosoftDocs/azure-cxp-triage please assign to @mumami

[2019-01-04 20:35] Grace-MacJones-MSFT commented on #21284
Hi @bammer13,  assigning this issue to the content owner because I can't seem to find the FAQ page to make the necessary changes.

[2019-01-04 20:36] Grace-MacJones-MSFT commented on #21658
Hi @imeya, Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-04 20:36] #21599 closed

[2019-01-04 20:37] #21127 closed

[2019-01-04 20:37] #20999 closed

[2019-01-04 20:37] #19433 closed

[2019-01-04 20:37] #15471 closed

[2019-01-04 20:37] #13057 closed

[2019-01-04 20:37] heislord5 commented on #20044
Any updates on this?  I need to be able to track users in both Modern & Classic pages.

[2019-01-04 20:38] #21384 closed

[2019-01-04 20:47] TravisCragg-MSFT commented on #16860
@JohnDelisle it looks like this was fixed with an update. Please let me know if you need any additional assistance with this issue.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-04 20:47] #16860 closed

[2019-01-04 20:48] Grace-MacJones-MSFT commented on #21658
@imeya you can find it [here](https://github.com/Azure/azure-powershell).

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-04 20:48] #21658 closed

[2019-01-04 20:48] TravisCragg-MSFT commented on #21128
@kristopherjturner We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-04 20:48] #21128 closed

[2019-01-04 20:49] TravisCragg-MSFT commented on #20456
@parabolic123 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-04 20:49] #20456 closed

[2019-01-04 20:50] colindooley11 opened #21681 "Diagrams lacking in Limitations section"
The description of communication flows and halves not matching, would really be aided by diagrams.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7eaaf7c7-c1fe-1afc-e7f8-bc0e90044fb8
* Version Independent ID: 6461936a-3f5d-c2fe-cb37-e40fc9dc929e
* Content: [What is Azure Load Balancer?](https://docs.microsoft.com/en-us

[2019-01-04 20:58] Mike-Ubezzi-MSFT commented on #21679
@DavidEaton Thank you so very much for the kind feedback. I will pass this along to @MightyPen, who is the content owner for this article.

[2019-01-04 20:58] bhuiyans commented on #15069
Hi @Karishma-Tiwari-MSFT
we get the same error code, can't find the extension.

* azurerm_virtual_machine_extension.join-domain: 1 error(s) occurred:

* azurerm_virtual_machine_extension.join-domain: compute.VirtualMachineExtensionsClient#CreateOrUpdate: Failure sending request: StatusCode=0 -- Original Error: autorest/azure: Service returned an error. Status=404 Code="ArtifactNotFound" Message="E

[2019-01-04 20:59] MicahMcKittrick-MSFT commented on #21639
@phatcher fair feedback. You would need to have write permissions to the AAD Tenant. So even if you are an owner of the subscription, you might not be able to assign permissions at an AAD level.

I will assign to the author to review and see if we can add a note.

[2019-01-04 20:59] Mike-Ubezzi-MSFT commented on #21679
@MightyPen I am going to close this issue but wanted to ensure you receive feedback from the customer.

[2019-01-04 20:59] #21679 closed

[2019-01-04 21:04] colindooley11 commented on #21531
Yes load balancing in a word!

Existing URLs are needed so it rules out the SF proxy.

DNS service is  OK. But the  distribution algorithm is very basic and also distinguished names to pick out a named service for a business capability is not a requirement. So....

It might seem like heresy but we've plumped on hitting a load balancer internal to the subnet the cluster sits in.

 We get a better d

[2019-01-04 21:05] Alberto-Vega-MSFT commented on #21642
@romankiss Thank you for your valuable feedback! I assigned the issue to the content author @viv-liu so she can evaluate and update as appropriate.

Also if you believe that this functionality should be kept as part of the service. Please create an entry on the [IoT Central User Voice](https://feedback.azure.com/forums/911455-azure-iot-central) this way other customers can upvote it.

[2019-01-04 21:05] colindooley11 commented on #21531
...note this is Interim we are likely to have Traefilk in there eventually.

[2019-01-04 21:10] smithGit opened #21682 "Unclear at Step 6"
At step 2, Internet of Things does not have Event Hubs option.
At Step 6,  the Azure Portal and the figures do not match.  I do not see anything on the portal referencing Deployment.  Clicking Alerts brings up the Notification panel but no mention of Deployments.  To ascertain the user is in the right place, suggest adding periodically a "path" phrase that says in effect, if you get lost, go to re

[2019-01-04 21:13] BryanTrach-MSFT commented on #21675
@yasmin-amajeed Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-04 21:14] ecfan commented on #20967
@Anand-Moghe, thanks for your feedback! Apologies for the delayed response as I'm returning from vacation. Logic Apps has an existing page about limits, which also includes integration accounts:

https://docs.microsoft.com/azure/logic-apps/logic-apps-limits-and-config

If you're looking more for content about how logic apps and integrations usage is charged, this page might be more helpful:

https

[2019-01-04 21:15] brandonh-msft opened #21683 "What is the maximum size for a map?"
For schemas we allow direct uploading if &lt;2mb. &lt;8mb and they can go in to Blob Storage w/ a reference to the blob URL put in to the IA Schema entry. However for Maps there's no indication of a maximum size or the ability to reference from Blob storage.
This complicates CI/CD as we have to re-deploy an ARM Template and _embed_ the map in the template in order to do an update (vs just changing

[2019-01-04 21:21] kobulloc-MSFT commented on #18818
@jkwon2013 Have you had a chance to review this?

[2019-01-04 21:33] Mike-Ubezzi-MSFT commented on #21505
@Anmolgan81 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-01-04 21:33] #21505 closed

[2019-01-04 21:36] mestew commented on #21668
Hey @blouwagie. Looks like you might be running version 5.2 for the AzureRM.Compute module (usually goes with AzureRM version 6.4). The scripts should work ok with that version aside from the warnings. I do know that there was an improvements to Get-AzureRmVmssVMDiskEncryptionStatus in 5.5 for Compute in case you are using scale sets in your environment.

I'm currently running AzureRM v6.13.1/Azur

[2019-01-04 21:36] #21516 closed

[2019-01-04 21:36] mattchenderson commented on #21620
@ggailey777 Fair point. More or less like the one from the [blog post](https://azure.microsoft.com/en-us/blog/simplifying-security-for-serverless-and-web-apps-with-azure-functions-and-app-service/)? I'd probably want to retake that rather than directly reuse that one.

[2019-01-04 21:43] Karishma-Tiwari-MSFT commented on #15069
@kgopi05 @bhuiyans As per [this ](https://github.com/Azure/azure-quickstart-templates/blob/4a9cc36257ab8f16d37ea2176a41241657fdb9c5/anti-malware-extension-windows-vm/azuredeploy.json#L245)template, Try replacing the `type_handler_version = "1.5.5.1"` to `"typeHandlerVersion": "1.1"`

[2019-01-04 21:43] MarileeTurscak-MSFT commented on #21643
Hi @AlekseySokol ,

You just need to select "Federation with ADFS" at the first step in the AD Connect Wizard and then select Password Hash at one of the later steps so that you can have both.
(This blog talks a bit about this. http://www.enowsoftware.com/solutions-engine/a-closer-look-at-azure-ad-connect-%E2%80%93-part-2)

There are a number of good guides out there that you can reference. https:

[2019-01-04 21:44] MarileeTurscak-MSFT commented on #21643
Hope this helps! If you have further questions please revert them to MSDN as we are moving away from product questions in the doc comments. https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

[2019-01-04 21:44] #21643 closed

[2019-01-04 21:46] smithGit opened #21684 "Unclear What is Best Repository for IoT Measurements"
I don't know if I am alone, but it is unclear what is the best way to process IoT Central measurements.  I set up Continuous Export, which is fine but how does one access this data?  Then I read about Event Hubs and Service Bus, which I initially thought may be the way to process the exported data, but now it appears that one must choose between these three options.  What is the best way for a new

[2019-01-04 21:47] Karishma-Tiwari-MSFT commented on #20222
@TomShinder Can you please share your insights on this one? Thanks.

[2019-01-04 21:47] Karishma-Tiwari-MSFT commented on #20222
https://github.com/MicrosoftDocs/azure-docs/issues/15069

[2019-01-04 21:50] Mike-Ubezzi-MSFT commented on #21516
@damienestewart We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-01-04 21:51] SaurabhSharma-MSFT commented on #21523
@apraovjr We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-01-04 21:51] #21523 closed

[2019-01-04 21:53] Wreckergibb opened #21685 "Edit security configurations no longer under Settings"
Where is the Edit security configurations now? It seems to have moved in Azure Commercial. I still see it in Azure Government but no longer in Azure Commercial.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 05914675-3eff-2c26-6cd4-50a64e025d44
* Version Independent ID: 00837f00-fa21-e105-59a1-28dcb7466e31
* Content: [

[2019-01-04 21:54] Mike-Ubezzi-MSFT commented on #21530
@wocar We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion; although, support is the best option for this specific issue.

[2019-01-04 21:54] #21530 closed

[2019-01-04 21:55] CamyDee opened #21686 "SQL Connector Documentation should be explicit about pass-through native query"
The SQL Connector allows Pass-through Native Query to allow developers to provide an actual SQL query. As many are aware, SQL queries need to be constructed properly to avoid injection attacks. We should highlight this here to ensure folks are aware, and also provide guidance as to how to properly use ```formalParameters``` and ```actualParameters``` to ensure that user input is parameterized prop

[2019-01-04 21:56] mrdfuse commented on #20565
Oh yeah, it's not that I wanted a corrected version, I have done that myself :) I just wanted to point this out because other people will surely have the same problem when copy pasting.

[2019-01-04 21:59] SaurabhSharma-MSFT commented on #21655
@hhcakir I do not see any issue using single quotes in Windows 10 and I am able to execute the command successfully.  See screenshot below -
![image](https://user-images.githubusercontent.com/38112130/50713177-e4826d80-1028-11e9-9a10-6fec58e186af.png)

Are you getting any error while using single quotes(') ?

[2019-01-04 22:00] TrishaChandra123 opened #21687 "Issue with the experiment"
I followed these steps with a different dataset. I keep getting an error when I deploy the predictive experiment and run the test.
Please find the links to the training as well as predictive experiment here:
https://gallery.cortanaintelligence.com/Experiment/TM-Training
https://gallery.cortanaintelligence.com/Experiment/TM-Predictive-Exp
I am not sure why it's expecting the n-grams as input featur

[2019-01-04 22:13] kobulloc-MSFT commented on #20863
@francofs We'd love to help you troubleshoot this over at [MSDN](https://social.msdn.microsoft.com/Forums/en-US/home?filter=alltypes&sort=lastpostdesc), especially if you have a scenario that you are able to consistently reproduce.  From a documentation standpoint, I don't believe there's anything else we can add.

[2019-01-04 22:18] guillermoarellano opened #21688 "Where is the information for setting up Alerts?"
Could not find information on this document that talks about setting alerts. Click bait?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 694a543a-e2f6-1046-b618-01acc45c4dfe
* Version Independent ID: 392351bb-9bba-0e62-c6ef-229c508e311d
* Content: [Prevent unexpected costs, manage billing in Azure](https://docs.microsof

[2019-01-04 22:20] MarileeTurscak-MSFT commented on #21595
@mwchilde please leave your question on MSDN if you would like to continue the discussion. https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

If you would like to leave product feedback, please leave it here.https://feedback.azure.com/forums/169401-azure-active-directory

[2019-01-04 22:21] MarileeTurscak-MSFT commented on #21595
We will proceed to close this thread. If you have further questions please feel free to tag me in the comments, or if you would like to make a pull request please do so on the document and we will review it promptly.

[2019-01-04 22:21] #21595 closed

[2019-01-04 22:40] TravisCragg-MSFT commented on #19228
@dcbrown16 My apologies for the delay on this one. I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-04 22:43] olivierbloch commented on #21214
@remware it seems using the setup.py develop command didn't work and you are still using the version of the iot app that is behind in version. If you run the steps I provided (not the setup.py develop command) you should then be able to recreate a new device that will be an Edge device. I need to do some validations before I can push a new version of the Wheel package on PyPi (certainly not before

[2019-01-04 22:43] MohamedKhelifi commented on #21637
Hello Karishma

Yes I did the same and it works, but it's very strange when I did it
yesterday it didn't work I had to add another service account for default
namespace.

Thanks for your reply and sorry for my mistake...

Best regards,

Mohamed KHELIFI
Cloud Consultant DevOps

Le ven. 4 janv. 2019 à 23:23, Karishma Tiwari - MSFT <
notifications@github.com> a écrit :

[2019-01-04 22:45] adwise3 commented on #12981
This service is not deprecated and will not be until a replacement feature is in place. We plan to release a replacement next year but the exact date is still TBD. This doc article should remain as is for the time being.

[2019-01-04 22:45] philliplyle commented on #19526
Thank you for confirming that there would not be a negative impact by enabling this.

[2019-01-04 23:10] remware commented on #21214
@olivierbloch I did rerun your steps now in PS terminal ( first time did on git bash) so there might be a difference as azure cli works only in PS or CMD. Again same results. Next try was to remove first the device in Azure Dashboard and then repeat the iot configure_device in PS terminal. After that the device appears in IoT Edge section.
After that the icon next to device in Vs code changed, and

[2019-01-04 23:12] mike-urnun-msft commented on #21475
@JoNevi Nice! We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-01-04 23:12] #21475 closed

[2019-01-04 23:13] dlepow commented on #21537
@mtmazurik - Marty, thanks for providing helpful feedback on the script. I found that your updated query statement `--query "[?!(tags[?'*'])].digest"` correctly selected untagged images in my test repo. However, when I formatted the output using `--output tsv` (as the command was originally written) I found I didn't need to apply your `cut` command. In my case, I found that the query output contai

[2019-01-04 23:14] melzoghbi opened #21690 "AADSTS700016 is not listed"
I registered an app in AAD and when i try to connect to my app i am getting this error code: AADSTS700016.

Here is the error details:
AADSTS700016: Application with identifier 'bbe6ea72-3498-452b-9125-787be7a187d4' was not found in the directory 'XXXXXX'. This can happen if the application has not been installed by the administrator of the tenant or consented to by any user in the tenant. You may

[2019-01-04 23:16] mtmazurik commented on #21537
Thanks, Dan for update, and yeah … I didn’t go back to tsv after playing, so glad you worked that out and I figured there was just some changes to the internal structure of the JSON that necessitated the change to the query,
Glad to help out (minorly) that’s cool,

Thanks!
marty

From: Dan Lepow <notifications@github.com>
Sent: Friday, January 4, 2019 3:14 PM
To: MicrosoftDocs/azure-docs <azure-do

[2019-01-04 23:18] moseleycj opened #21691 "Reusing TelemetryClient"
The examples say that it's recommended to reuse and existing TelemetryClient and refers to an ambiguous "note above". I think more details on how best to reuse TelemetryClient for each scenario would be useful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95aee749-dc67-58c6-c911-a8cfcfd387a2
* Version Independent ID:

[2019-01-04 23:32] mike-urnun-msft commented on #21462
Hi @7100SW Please explore using the restore feature as suggested by @thedevolution. If you continue to encounter issues with this, we recommend opening a support ticket at https://aka.ms/azsupt as a next step so that support engineers who have deeper insights to your environment can help unblock you.

In case your subscription doesn't carry a support plan, we are able to provide you with one-time

[2019-01-04 23:32] #21462 closed

[2019-01-04 23:36] Karishma-Tiwari-MSFT commented on #21634
@mjalas Thanks for clarifying. I have assigned the issue to the content author to investigate further and update the document as appropriate.

@roiyz-msft Can you please confirm on this and make the required changes. I also checked the [GitHub template link](https://github.com/Microsoft/dotnet-core-sample-templates/blob/master/dotnet-core-music-linux/azuredeploy.json) provided under the **Template

[2019-01-04 23:38] Karishma-Tiwari-MSFT commented on #21637
@MohamedKhelifi No problem. Thanks for your quick response and sharing the update.
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-01-04 23:38] #21637 closed

[2019-01-04 23:39] viv-liu commented on #21684
Hi! Thanks for trying out Continuous data export.
When you set up an export, data will be pumped to a destination you choose, whether that is Blob storage in Avro files, Event Hubs in JSON messages, or Service Bus in JSON messages.
To look at the messages as they arrive in Event Hubs or Service Bus, you can use the [Service Bus explorer](https://github.com/paolosalvatori/ServiceBusExplorer). To pr

[2019-01-04 23:43] viv-liu commented on #21642
Hi Roman,

The access token at this time is only meant to be used with the [IoT Central Explorer CLI](https://docs.microsoft.com/en-us/azure/iot-central/howto-use-iotc-explorer). This tool only provides read-only commands today, used for debugging device connectivity and seeing messages come through.

In the future the access token may be changed to provide access to other kinds of commands or a p

[2019-01-04 23:45] adpick commented on #21674
It looks like the screenshot is out of date. It should look like this:
![image](https://user-images.githubusercontent.com/15332885/50716723-c839fd00-1037-11e9-8e75-0ab082df992f.png)

[2019-01-04 23:52] mike-urnun-msft commented on #21680
Hi @brandonh-msft Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-01-05 00:01] Mike-Ubezzi-MSFT commented on #21686
@CamyDee Can you please provide the doc link to the documentation you are speaking to? Thanks!

[2019-01-05 00:08] chanes-cds commented on #6500
Thanks for trying it out.  You are right about my route not working.  Turns out it was another change I made that was causing things to work.  When I add a persistent route inside the container, that persistent route is surprisingly added to the host routing table and then becomes available to both existing and subsequently created containers such that they are suddenly able to reach the IMDS endp

[2019-01-05 00:09] johnthcall commented on #21545
It appears support is currently being rolled out. Will track and verify this issue.

[2019-01-05 00:14] daxfohl commented on #19284
Yeah, in fact it doesn't appear to work at all.  Still looking for a
solution to this myself.

On Thu, Jan 3, 2019 at 5:02 PM Iain Shepherd <notifications@github.com>
wrote:

[2019-01-05 00:18] TravisCragg-MSFT commented on #18063
@benjamingorman @robymes @SamirFarhat To enable VSE in the portal, you must have permissions at the subscription level, not at the Resource Group level. This appears to be an issue with the portal, as you can enable VSE using PowerShell or the CLI with only RG permissions.

I have confirmed this to be an issue with the portal, and will be following up to get this resolved.

[2019-01-05 00:31] kobulloc-MSFT commented on #21691
@moseleycj Thank you for the feedback!  We have assigned this to the document author so they can update the document accordingly.

[2019-01-05 00:34] VanMSFT commented on #18643
Hey @jaszymas - Following up on this. Thanks!

[2019-01-05 00:38] jason-j-MSFT commented on #21682
@smithGit
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-05 00:40] SaurabhSharma-MSFT commented on #21690
@melzoghbi Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document with the error code and description. You can however check if you are using the right authorization endpoint of the tenant where the application is.  You can check the authorization endpoints by going to Azure portal (Azure AD Application registration page)-
![image](https://us

[2019-01-05 00:43] kobulloc-MSFT commented on #21646
@abditimer This appears to be missing from the PDF version as well.  It's possible that this document has been removed.

@mrbullwinkle Can you confirm if this document still exists?

[2019-01-05 00:50] MarileeTurscak-MSFT commented on #21685
@Wreckergibb
Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-05 00:56] femsulu commented on #21688
@guillermoarellano Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-01-05 01:00] femsulu commented on #21661
@CloudCrusader Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-01-05 01:02] femsulu commented on #21670
@CeciAc Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-01-05 01:04] blouwagie commented on #21668
Hi Meghan,

Thank you for the response!

I am running version 6.4 of azureRM.
AzureRM 6.4.0   C:\Program
Files\WindowsPowerShell\Modules\AzureRM\6.4.0\AzureRM.psd1

I never got your scripts to work but found a great alternative discussed at
https://github.com/Azure/azure-powershell/issues/1833

The article links to this one that works:
https://github.com/Azure/azure-powershell/blob/master/src/Reso

[2019-01-05 01:05] MarileeTurscak-MSFT commented on #21632
cc @davidmu1 for confirmation

[2019-01-05 01:06] femsulu commented on #21669
@CeciAc CLosing this as a Duplicate of #21670

[2019-01-05 01:06] #21669 closed

[2019-01-05 01:16] Juliako commented on #20216
The https://docs.microsoft.com/en-us/azure/media-services/latest/media-services-event-schemas#event-schemas-and-properties was corrected. Thank you!

[2019-01-05 01:16] Juliako commented on #20216
#please-close

[2019-01-05 01:31] Grace-MacJones-MSFT commented on #21284
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-05 01:31] #21284 closed

[2019-01-05 01:32] KingdomOfEnds commented on #19946
Hi @davebanthorpe! Happy New Year! Thanks for your questions and interest! I regret the longer than usual response time since most of the team has been out. I just recently rejoined the Digital Twins team and updated the [How to UDF](https://docs.microsoft.com/azure/digital-twins/how-to-user-defined-functions) documentation. You'll see that in the [How to UDF](https://docs.microsoft.com/azure/digi

[2019-01-05 01:35] mike-urnun-msft commented on #21683
Hi @brandonh-msft Thank you for your feedback! We will review and update this thread with our findings.

[2019-01-05 01:38] KingdomOfEnds commented on #19946
@davebanthorpe - Please let me know if you have any other questions regarding the examples, documentation, or reference material! I'm happy to further clarify as needed. Also, a full refresh and update of the four tutorial documents has been completed and will be brought live soon.

[2019-01-05 01:53] femsulu commented on #21149
@cloudmelon, Just got word that the Dev team is looking into this issue. The current hypothesis is that this issue is intermittent. Please retry the API call and let me know if the issue persists.

[2019-01-05 03:07] femsulu commented on #21687
@TrishaChandra123 Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-01-05 03:12] MarkusVi commented on #21249
Hi @juntakata, it is not a question of the license but of the role. The Identity Secure Score is available in all editions of Azure AD.  See [Who can use the identity secure score](https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/identity-secure-score#who-can-use-the-identity-secure-score), for more details.

#please-close

[2019-01-05 03:49] georgewallace commented on #21638
@imeya When working with a [Hybrid Runbook Worker](https://docs.microsoft.com/en-us/azure/automation/automation-hybrid-runbook-worker) you control the underlying OS so loading assemblies and dealing with the local file system and working with it is easy.  When working with runbooks that run in Azure, not everything may be available in the sandbox that we run automation runbooks on so things may no

[2019-01-05 03:50] cconrado opened #21692 "Uploading to Github?"
How do you handle source control with this? I know VSCode has source control built in.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 47be9e62-a0a7-b842-ab8d-e3611c3ea75a
* Version Independent ID: 15fb316f-4166-dc73-e4bb-31dab82903fd
* Content: [Create and manage automated workflows with Visual Studio Code - Azure Logi

[2019-01-05 04:14] lbacaj opened #21693 "Documentation is out of date."
For example:

var client = new NewsSearchAPI(new ApiKeyServiceClientCredentials("YOUR-ACCESS-KEY"));

will never work, because it is now called NewsSearchClient and not NewsSearchAPI.. please fix.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e3db2ef-063e-cbc7-08e2-085ea951db95
* Version Independent ID: 5029f366-383b

[2019-01-05 04:22] davidmatson opened #21694 "LTSC 2019 images not supported"
The documentation says Azure Container Instances supports LTSC versions only, but it only supports the first LTSC version. The current LTSC version is 2019, and the service gives an error about the OS version not being supported when trying to use this image.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab165b0d-5cb2

[2019-01-05 04:30] surentip commented on #21245
Can we have timeline when LogAnlytics Preview feature will be GA?

[2019-01-05 04:40] femsulu commented on #20216
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-01-05 04:40] #20216 closed

[2019-01-05 04:41] femsulu commented on #21249
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-01-05 04:41] #21249 closed

[2019-01-05 04:42] jacksonp2008 opened #21695 "terraform on AZ"
I am a customer/user of AZ from a good sized company.  I see you have great docs and support here for TF.

 Why don't you provide a terraform automation script export?  I see you have CLI, Powershell, .Net and Ruby.  The only of which is useful is CLI.

When will we see Terraform?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2019-01-05 04:42] Anand-Moghe commented on #20967
@ecfan That will do. Thanks.

[2019-01-05 04:42] #20967 closed

[2019-01-05 04:44] femsulu commented on #21692
@cconrado Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-01-05 07:52] femsulu commented on #21695
@jacksonp2008 Thanks for the comments/kudos. Your feedback has been shared with the doc owner for further review.

[2019-01-05 07:54] femsulu commented on #21693
@lbacaj Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-01-05 07:55] femsulu commented on #21694
@davidmatson Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-01-05 08:11] romankiss commented on #21642
Hi Vivian,

Thanks for your prompt reply.  Today access token generated by IoT Central Administrator has a policy for read and write and it is available for any kind of clients. The documentation didn't mention about its limited usage such as only for debugging purposes, etc.

Anyway,  I think for following your reply, this (today) access token should be changed for read-only policy which it will

[2019-01-05 09:08] femsulu commented on #20996
adding @dushyantgill to comment.

[2019-01-05 09:11] femsulu commented on #21455
Thanks for the info, @krishnasingh1818 . I have assigned this to @bwren for insight. This could be a bug but I will let him confirm.

[2019-01-05 09:12] femsulu commented on #21568
@biren1234 any update please?

[2019-01-05 09:15] femsulu commented on #21638
Thanks @georgewallace for the response.
@imeya We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-01-05 09:15] #21638 closed

[2019-01-05 09:33] andyianprice commented on #21451
i have ran the Role Definition for File Share Read Permission and it gives me the following error

New-AzRoleDefinition : '/read' does not match any of the actions supported by the providers.

[2019-01-05 09:36] alvipeo commented on #16793
Hi! Guys, thank you for the help. Microsoft Azure Media Services team helped me to fix the issue. The problem was with the Azure Blob Container name when I was creating a new asset in my code. Now it works!

[2019-01-05 09:36] #16793 closed

[2019-01-05 10:11] rahulunlimited opened #21696 "NotConnectedError: mqtt.js returned client disconnecting error"
I have setup a Raspberry Pi 3 B+ device connected to Azure S1 IoT Hub over wifi. I have noticed after approximate 45 minutes the connection always breaks and reports the error NotConnectedError: mqtt.js returned client disconnecting error.
The only difference in my code is I use nohup command to initiaite the node.js so that the application runs even when the terminal window is closed.
nohup sudo

[2019-01-05 10:13] rahulunlimited commented on #21696
The complete error message
home/pi/iot-hub-node-raspberrypi-client-app/node_modules/az-iot-bi/node_modules/applicationinsights/AutoCollection/Exceptions.js:27
                        throw error;
                        ^
NotConnectedError: mqtt.js returned client disconnecting error
    at translateError (/home/pi/iot-hub-node-raspberrypi-client-app/node_modules/azure-iot-device-mqtt/lib/mqtt-tra

[2019-01-05 15:58] michaelsoliman-com opened #21698 "Azure functions don't work locally when there's a space in the directory name."
I tried the starting guide found here https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-java-maven. `mvn azure-functions:run` does not work when the working path contains spaces. It throws an error like this:

I removed the space from the directory and it worked fine.

[2019-01-05 16:01] michaelsoliman-com opened #21699 "Azure functions don't work locally when there's a space in the directory name."
I tried the starting guide found here https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-java-maven. `mvn azure-functions:run` does not work when the working path contains spaces. It throws an error like this:

&gt; The jar URL "file:/C:/azure%20tutorial/fabrikam-functions/target/azure-functions/fabrikam-functions-20190105105510203/fabrikam-functions-1.0-SNAPSHOT.jar" be

[2019-01-05 16:02] #21698 closed

[2019-01-05 17:02] mwotha opened #21701 "Mwotha advertisement app"
Connect mwotha advertisement app today and get customers in every country.mwotha advertisement app is used across the world for Advertisement join today and get customers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 888a6b76-3e97-a52f-85d3-c423e9664fdf
* Version Independent ID: 2778814f-fba7-97f3-039c-674434e48b3f
*

[2019-01-05 17:16] AjayKumar-MSFT commented on #21338
@KeiroKamioka0000, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-01-05 17:16] #21338 closed

[2019-01-05 17:33] AjayKumar-MSFT commented on #21630
Thank you for your feedback! Agreed that the document needs some enhancement, I have assigned the issue to the content author to review further on the items you pointed out and update the document as appropriate.

[2019-01-05 17:48] AjayKumar-MSFT commented on #21626
@imeya, All Azure Web Apps (as well as Mobile App/Services, WebJobs and Functions) run in a secure environment called a sandbox. Each app runs inside its own sandbox, isolating its execution from other instances on the same machine. So, as mentioned in this GitHub page- https://github.com/projectkudu/kudu/wiki/Azure-Web-App-sandbox#unsupported-frameworks, PhantomJS is not supported.
Also, kindly c

[2019-01-05 18:07] craig-martin opened #21706 "Does not work with Node 11"
The prerequisites specify Node 8+ but should also specify a maximum of 10.  I tried this with Node 11 and it does not work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04c9d43d-5bd2-87c6-2ccf-0c65ef193760
* Version Independent ID: 6bf46ebc-481f-e4ef-b269-99bf99434601
* Content: [Create your first function in Azure u

[2019-01-05 18:14] Jayesh040 opened #21707 "Need help for double to integer sentiments value conversion."
The above C# code in run.csx gives output with double value can anyone help me to generate output in integer value ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae1a4055-33b7-eead-6eb4-0092b7112567
* Version Independent ID: 7b866c4b-46d2-d420-278e-f49ec05e5d0d
* Content: [Create a function that integrates with Azure

[2019-01-05 18:30] mike-urnun-msft commented on #21698
duplicate of #21699

[2019-01-05 18:31] mike-urnun-msft commented on #21699
Hi @michaelsoliman-com Thank you for your feedback! We will review and update as appropriate.

[2019-01-05 18:54] 7100SW commented on #21462
Thank you for that answer.  I accept backup and restore as a solution.

[2019-01-05 19:37] kelos-01 opened #21708 "Thank you"
Nice step by step; thanks guys.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30ef211a-c625-61cd-9ae9-ca63e32ff4d2
* Version Independent ID: b60685c0-1d9c-ebcb-4393-e231d7b09c24
* Content: [Use Visual Studio Code to create Azure Resource Manager template](https://docs.microsoft.com/en-us/azure/azure-resource-manager/r

[2019-01-05 19:45] jlwilliamson8 opened #21709 "Endpoint Host Name not working"
What do I enter for my Host Name ?
I am entering the full URL which works from PostMan.
However, it is not working from the Test In Web Chat tool in Azure.
The full url below I have entered in Host Name.
https://jw2qnamakerservice.azurewebsites.net/qnamaker/knowledgebases/aa1fae26-94d6-4028-b4bd-8d8174d29f6d/generateAnswer

When I enter the chat question ....
"How do I programmatically update my K

[2019-01-05 21:20] danmyhre opened #21710 "Property Name update"
Property for devices is "device.deviceOSVersion", not "device.OSVersion".  I tried to edit but GitHub was throwing an HTTP 500 error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f7a4070-1be8-5f1f-0092-68fb6b9e2305
* Version Independent ID: cd34312f-b507-affe-555e-1e0c63e7d494
* Content: [Dynamic automatic group mem

[2019-01-05 21:50] femsulu commented on #21709
@jlwilliamson8 Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-01-05 21:52] femsulu commented on #21706
@craig-martin Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-01-05 21:56] femsulu commented on #21707
@Jayesh040 Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-01-05 21:59] femsulu commented on #21696
@rahulunlimited Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-01-05 22:00] femsulu commented on #21708
@kelos-01 thanks for the Kudos.

@mumian  - fyi

[2019-01-05 22:00] #21708 closed

[2019-01-05 22:02] femsulu commented on #21701
closing this issue as spam.

[2019-01-05 22:02] #21701 closed

[2019-01-05 22:04] femsulu commented on #21710
@danmyhre Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-01-06 00:41] furmangg commented on #13764
Any updates?

[2019-01-06 02:40] femsulu commented on #21611
@xyz92 , sorry for the inconvenience. The Accounts support team should be able to assist. Please use [this link](https://support.microsoft.com/en-us/getsupport?wf=0&tenant=classiccommercial&oaspworkflow=start_1.0.0.0&locale=en-us&supportregion=en-us&pesid=15470&ccsid=635827966273974972&forceorigin=esmc) to engage Azure Accounts support.

[2019-01-06 03:03] skybear2014 opened #21720 "NVIDIA GRID drivers and supported distribution"
I am a little confused here. In the documentation, the supported distribution is up to RHEL 7.4 and CentOS 7.4. However, if you follow the instruction of "Install GRID drivers on NV or NVv2-series VMs", you will get a RHEL 7.6 or CentOS 7.6 after performing "sudo yum update". Does that mean it actually supports RHEL 7.6 or CentOS 7.6?
Thank you for your help.

---
#### Document Details

⚠ *Do not

[2019-01-06 04:17] Karishma-Tiwari-MSFT commented on #21720
Thanks for the question. We are currently investigating and will update you shortly.

[2019-01-06 06:13] ashuthinks opened #21723 "Iot hub bulk import not working"
I have tried bulk import iot hub using this link
[iot-hub-bulk-identity-mgmt.md](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/iot-hub/iot-hub-bulk-identity-mgmt.md)

but still devices are not able to register in given iot hub not gettign any exception error :(

what is the probable problem and solution for this ?

I tried code into console as well as in web app nothing works fo

[2019-01-06 06:52] imeya commented on #21626
is this limitation applied for app service for linux? thanks.

[2019-01-06 07:30] gpminsuk opened #21724 "Race condition"
How do you say
"the result could be two different created instances of the singleton"
and
"The important point is that there is only ever one instance running at a time."
in the same document?

Please fix or don't call it singleton.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5d6badc-f611-71ad-b167-aabfb95dc13f
* V

[2019-01-06 09:46] accampos opened #21726 "Small code adjustment"
To test a connection for port 445 you need to write the argument for ComputerName in brackets.
Test-NetConnection -ComputerName ([System.Uri]::new($storageAccount.Context.FileEndPoint).Host) -Port 445

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dfcc20de-f394-74bf-155f-639cfe00aba4
* Version Independent ID: 76ccfc8f-

[2019-01-06 10:03] liamfoneill opened #21727 "Limit of 10 resolution zones"
Having a Private Zone limited to 10 resolution zones doesn't work very well for a hub and spoke VNet architecture. If my hub hosts the private zone, then I am limited to 9 spoke resolution VNets.

Can you tell us why that limitation is in place? Or if there will be a way to remove it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2019-01-06 10:06] liamfoneill commented on #21648
Ok thank you Travis, and yes the limit does now appear to be 40.

[2019-01-06 10:14] liamfoneill commented on #21727
I meant that it would be good to make the answers to these questions clear in the Docs and highlight if this limitation is just for the private preview or is generally the limitation of the number or resolution zones per private zone.

[2019-01-06 10:37] vainolo commented on #21245
Soon, but I can't disclose specific dates yet

[2019-01-06 10:37] anky2209 opened #21728 "How to Set Partition Key In Event Hub Output"
Hey, i want to send data to particular partition, how to set partition key while sending data to event hub output binding

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b24ff8d-a59e-01e0-205d-ac777f06bb7a
* Version Independent ID: f2106a8a-28fe-ebdf-525e-1d93013778fa
* Content: [Azure Event Hubs bindings for Azure Fun

[2019-01-06 11:47] rayne-wiselman commented on #20912
#please-close

[2019-01-06 13:49] mike-urnun-msft commented on #21724
Hi @gpminsuk Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-01-06 13:52] mike-urnun-msft commented on #21728
Hi @anky2209 Thank you for your feedback! We will review and update this thread with relevant info.

[2019-01-06 13:57] Jayesh040 commented on #21707
@femsula thanks for your on-going efforts, please help with solutions.

[2019-01-06 14:08] jefffhaynes opened #21729 "Use correct mechanism to send to specific users"
The examples here all use tags to send to specific users.  However, tags are not really the correct way to do this.  In the Android example, the json message should use the "to" field.  In the apns example, unfortunately there doesn't seem to be a way exposed in the interface (even though there is a mechanism in the actual APNS service).  Regardless, using tags is effectively a hack and it seems l

[2019-01-06 15:04] qusp66 opened #21730 "step 10 fails"
Condition Control actions give no hits on search. You need to enter only Condition.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3201421-7bd5-1abb-0f22-8408f935e715
* Version Independent ID: 8dc88c97-426a-16b8-a89e-f0ad71fdba73
* Content: [Tutorial: Capture events from an Azure Digital Twins space](https://docs.micr

[2019-01-06 15:10] bikashkarmakar opened #21731 "unable to test http trigger functions locally on VSCode"
Followed the https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-function-vs-code and tried to test locally using debugger ,

Starting language worker process:node  --inspect=5858 "/usr/local/Cellar/azure-functions-core-tools/2.3.199/workers/node/dist/src/nodejsWorker.js" --host 127.0.0.1 --port 49865 --workerId 630704fd-93d6-4b9c-9194-5717e6650754 --requestId dee7f2d0-bc

[2019-01-06 15:44] helloantizeh commented on #21592
hello it didnt work
its texting and calling a number that i no longer have.
please help asap

[2019-01-06 15:44] helloantizeh commented on #21592
hello thank you for your reply!
okay ill check it out

[2019-01-06 16:54] MikiMakhlevich commented on #16255
Hi @v-maroge,
The simple answer will be they are not in GA yet.

Actually, the detectors are working behind the screen for everyone but on silent mode - we don't send alerts caused by them because we first inspect that the volume isn't too high and that the alerts bring value. We don't want to spam users with high false-positive detections.

Data exfiltration contains 2 detectors and one of them,

[2019-01-06 16:55] CheetahChrome commented on #14875
What might be more appropriate is the missing *why* of putting it into an environment variable. Is this being done because one shouldn't save a connection string in a test file or does this have practical application say to when creating an Azure Function and that environment variable is read from that value? Sometimes the why/explanation is just as important as a code sample.

[2019-01-06 17:22] rajnemani opened #21732 "Issue with using Availability Zones"
Modifying the template to use Azure AZs by
1. Adding 'zones' property to VMSS TF provider in the template
2. Specifying the 'sku' property and setting it to 'Standard" for both LB and PIP providers

The Terrafrom deployment seems to work fine and all the resources seem to have deployed fine but Nginx website does not  come up.  It looks like the Basic SKU LB setup is not working with Standard SKU.

[2019-01-06 18:36] julielerman opened #21733 "Add to MongoDB node also?"
This guidance might be missed for those looking at the mongodb docs but it is still relevant. Even if you had a link in the Introduction page of the MongoDB API below it might not get noticed. I can't come up with a great resolution other than just copy it so it's as obvious for the Mongo docs as it is for the SQL API docs.

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2019-01-06 18:49] SeaDude commented on #21449
I need to get this working this week. Any chance of `path` assistance?
Thank you

[2019-01-06 18:58] Liversage commented on #19766
@hellkama I gave up trying to get my point across. We are now using a self-signed certificate but I think a possible solution to use a CA certificate is to deploy using a self-signed certificate with a short expiration with the necessary HTTP end-point in place to prove ownership of the domain. When you get the CA certificate [you can use PowerShell to add the CA certificate as a secondary certifi

[2019-01-06 20:14] theheatDK opened #21734 "Create SP with Powershell"
Hi,
I would be nice with a section that shows how to create the SP via Powershell.
If it just a matter of calling New-AzADServicePrincipal. I can add the section myself, but it might be more complicated than that?
Regards Peter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25a0d502-ce71-76d4-bf8a-060e63913b52
* Versio

[2019-01-06 21:48] femsulu commented on #21723
@ashuthinks Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-01-06 21:50] femsulu commented on #21730
@qusp66 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-01-06 21:53] femsulu commented on #21731
@bikashkarmakar Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-01-06 21:54] mcasperson commented on #21532
It looks like this was due to a misconfigured cluster autoscaler deployment. I'll try and replicate the issue, but for now I think we can chalk this up to user error.

[2019-01-06 21:56] ecfan commented on #21037
@CeciAc, thanks for your feedback! We've added a work item to our backlog for prioritization.

@mike-urnun-msft #please-close

[2019-01-06 21:57] femsulu commented on #21732
@rajnemani Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-01-06 21:59] femsulu commented on #21734
@theheatDK Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-01-06 22:02] femsulu commented on #21733
@julielerman Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-01-06 22:05] femsulu commented on #21726
@accampos Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-01-06 22:06] ecfan commented on #21160
@mganeshphani, thanks for your questions. Apologies for delayed responses due to holiday vacation.

Here's more info about how usage is metered for integration service environments: [Pricing model for Azure Logic Apps](https://docs.microsoft.com/azure/logic-apps/logic-apps-pricing#fixed-pricing-model)

Will ask for clarity around resources deployed to your tenant/subscription.

[2019-01-06 22:10] femsulu commented on #21729
@jefffhaynes Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-01-06 22:15] femsulu commented on #20912
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-01-06 22:15] #20912 closed

[2019-01-06 22:25] CHDAFNI-MSFT opened #21736 "Transit Routing - Now available via ER Global Reach?"
Section "Transit routing and cross-region routing" states transit routing is not supported by ER. Is this still the case in the context of ExpressRoute Global Reach? If transit routing is supported with Global Reach, please consider updating this article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b29b475d-056b-ba4

[2019-01-06 22:48] #21037 closed

[2019-01-06 23:07] ecfan commented on #21617
@mganeshphani, thanks for your suggestion! I've created a work item for our backlog.
@mike-urnun-msft, #please-close, thanks!

[2019-01-06 23:14] kevinlam1 commented on #21160
The pricing for the integration service environment has not been publicly announced yet.

[2019-01-06 23:50] femsulu commented on #21736
@CHDAFNI-MSFT Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-01-07 00:06] kazshi commented on #21360
@SaurabhSharma-MSFT Thank you for the information. It would be great if we could have the info in somewhere in the content (Security? or VMSS?).

[2019-01-07 00:09] dcbrown16 commented on #21243
I see, thanks for that info. I'll watch for the update and close this once I see it come through correctly.

[2019-01-07 00:10] dcbrown16 commented on #15958
Reopened so @tamram can assess, thanks @markarnolditpro!

[2019-01-07 00:12] dcbrown16 commented on #21275
@douglaslMS just thought we should edit the part of the TOC title outlined in red here.
![image](https://user-images.githubusercontent.com/34466884/50743504-b0947d00-11cd-11e9-9c10-9318141b6f13.png)

[2019-01-07 00:12] kevinlam1 commented on #21207
The run once pattern can be achieved by having a logic app with a request trigger that takes a start time as a parameter with the first action being a delayUntil that uses the input parameter as the time to delay until.  You can use the pre-built designer template called "Scheduler: Run once jobs" to get you started.

[2019-01-07 00:18] davidobrien1985 opened #21741 ""Vnet needs to be empty" requires clarification"
Hello,

I just tried creating a new private DNS zone in an existing vnet.
The vnet itself initially had some subnets, route tables and NSGs in it.

The zone creation failed because the vnet wasn't empty. So far I could only find documentation saying that the vnet must not have any VMs or NICs in it.
Am I not seeing some documentation stating the fact that the only thing that's allowed to exist whe

[2019-01-07 00:38] ecfan commented on #19753
@divyaswarnkar, can you help with this issue? I think the example assumes the file system is on the same computer as the gateway. Otherwise, wouldn't you just use the account credentials for the computer where the file system is located? These credentials should be different than the Windows service account used by the gateway? Thanks!

[2019-01-07 01:18] v-maroge commented on #13194
Hi, adding a comment since I had a question from a different customer that slightly relates to this thread. I'm still not sure the way to change max update domain number of 5 to 20. Do they request a quota change? I'm still confused with the "can then" part of "Resource Manager deployments can then be increased" as well.

[2019-01-07 01:22] rizwaans opened #21742 "Open with LogicApp designer not enabled when adding a new AzureDeploy.json file"
Hi,
I have created a logic app and successfully deployed it to Azure. However, When I add the new 'Azure Resource Manager Deployment Template' I cannot see the option 'open with logicapp designer'

Can some one tell me if I can create multiple logic apps under one solution file ?

![image](https://user-images.githubusercontent.com/25411949/50744410-dc743900-1287-11e9-9551-145a27e2b1b1.png)

![imag

[2019-01-07 01:40] weswigham opened #21743 "Powershell docs use older command alias"
Powershell docs should use `New-AzContainerGroup` instead of `New-AzureRmContainerGroup` (which is only added if `Az.ContainerInstance` is imported rather than simply `Az`). At least it seems like that's the case, I'm not really sure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8cd0d0a1-65c0-ec3f-ab56-ef68f9f819a0
*

[2019-01-07 01:52] hrasheed-msft commented on #18523
@arnabganguly The initial response from the product team was that they were having trouble reproducing the issue. Have you been able to contact [Azure support](https://azure.microsoft.com/en-us/support/options/) as suggested by @JasonWHowell? Azure Support can do a more detailed analysis of what is going wrong and walk through debugging and troubleshooting steps with you.

[2019-01-07 01:54] hrasheed-msft commented on #18523
@edirgarcia @msdorachua thank you for the feedback and we appreciate you giving us more insight on the extent of this issue. The product group has asked us to refer customers with this issue to [Azure Support](https://azure.microsoft.com/en-us/support/options/). Please open a ticket and they should be able to assist you better. Please let us know the outcome of the case. Thank you.

[2019-01-07 01:57] hrasheed-msft commented on #19555
@raghavdotc please let us know if you were able to find the information you needed.

[2019-01-07 02:08] szellerK commented on #21111
This does not seem to be fixed in Azure CLI 2.0.54.  I am following the instructions above for enabling encryption on an existing VM and receive the following error:

Please provide --aad-client-id

[2019-01-07 02:35] SeaDude commented on #21449
Did you remove the `path` feature from this API? I don't see it listed as a parameter any longer!

Name | In | Required | Type | Description
-- | -- | -- | -- | --
format | path | True | RasterTileFormat | Desired format of the response. Possible value: png.
subscription-key | query | True | string | Azure Maps subscription key
api-version | query | True | string | Version number of Azure Maps API

[2019-01-07 03:20] dcbrown16 opened #21744 "Mutiple domains and ADFS"
Is it possible to have one+ domain(s) federated through ADFS and another one+ domain(s) using pass-through authentication in the same AAD Connect configuration? i.e. can we mix and match authentication methods across multiple domains?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 081729e5-959f-d8c2-de1b-b035c6dbc8fb
*

[2019-01-07 03:28] jasonshave opened #21745 "Delegating subscription produces no notification"
I've noticed just after getting my website's product delegation working that I didn't receive a notification when I tested it. I  normally do for other subscriptions created manually through the portal. Is this a limitation of using the API to create a subscription?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ca841

[2019-01-07 03:30] nellyontour opened #21746 "az keyvault set-policy incorrect options"
"All" is no longer an option for
az keyvault set-policy --name $keyvault_name --spn $sp_id \
    --key-permissions all \
    --secret-permissions all

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be92861f-e146-8497-5e35-6aa4439b729b
* Version Independent ID: 388da76b-9e92-6d84-f1b6-86be00df2468
* Content: [Azure CLI S

[2019-01-07 03:45] #21617 closed

[2019-01-07 03:56] kobulloc-MSFT commented on #21615
@Anand-Moghe I believe our documentation on enabling diagnostics logging for apps in Azure App Service (using the Azure portal and Azure CLI to work with diagnostic logs) will give you what you are looking for without using Application Insights.

https://docs.microsoft.com/en-us/azure/app-service/troubleshoot-diagnostic-logs

[2019-01-07 03:57] femsulu commented on #21742
@rizwaans The best channel for your question is our MSDN Forum for Logic Apps.
I recommend posting your question [here ](https://social.msdn.microsoft.com/Forums/en-US/home?forum=azurelogicapps)to guarantee the best possible answer.
This GitHub channel is reserved for feedback to Azure documentation.  Cheers.
![image](https://user-images.githubusercontent.com/34327711/50748218-21975d00-11ed-11e9-9

[2019-01-07 03:58] #21742 closed

[2019-01-07 04:10] femsulu commented on #21743
@weswigham Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-01-07 04:20] femsulu commented on #21741
@davidobrien1985 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-01-07 04:42] jakaruna-MSFT commented on #21313
Is there any update @abhijitkakade914

[2019-01-07 04:47] daitranthanhhoa opened #21747 "Face API can return Jaw point?"
Face API can return Jaw point?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23e0f9f3-a52f-2382-395a-f8bfef4ed48d
* Version Independent ID: 4266d1e8-42ed-57a5-cb35-c48df49efcf6
* Content: [Example: Detect faces in images - Face API - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/cognitive-services/f

[2019-01-07 05:00] ManojReddy-MSFT commented on #21744
@dcbrown16 If you configured ADFS in your environment with AD Connect, then it's not possible to have both federation and PTA enabled at the same time.

However if you have configured ADFS manually then it is possible to have both of them enabled as described in the option B if the deployment guide available [here](https://aka.ms/adfstoptadpdownload).

In this method you would have to manually con

[2019-01-07 05:16] neeleshray commented on #21146
We will be closing this thread. Kindly let us know if you need further help.

[2019-01-07 05:16] #21146 closed

[2019-01-07 05:17] nealmcb opened #21749 "Warn us that when you re-use an existing vm "name", the error is super-confusing: Changing property 'linuxConfiguration.ssh.publicKeys'"
When running `az vm create` I get this over and over no matter what ssh key options I use.
Finally I figured out that it was just trying to tell me that I had another vm by the same name.

    Deployment failed. Correlation ID: 163b5780-ef30-4a2a-8805-2db89193e745. {
      "error": {
	"code": "PropertyChangeNotAllowed",
	"message": "Changing property 'linuxConfiguration.ssh.publicKeys' is not allo

[2019-01-07 05:32] ManojReddy-MSFT commented on #21625
@fdashti Can you please send the screenshots of the errors ?

[2019-01-07 05:35] yotauber commented on #21207
@kevinlam1 , thanks for your reply.
If I understand correctly, the request trigger will require something to send an HTTP POST request for the logic app to be triggered. What I'm trying to achieve is a logic app that triggers immediately (and only once) after being deployed by an ARM template, without further manual actions. Would that be possible?

[2019-01-07 05:38] Anand-Moghe commented on #21615
@kobulloc-MSFT  Thanks. It is useful.

[2019-01-07 05:38] #21615 closed

[2019-01-07 05:40] swinarko commented on #21509
Your assumption is correct with Stored Procedure activity, where it's Azure IR that dispatches sproc executions to Azure SQL DB, not SSIS IR.  If you want to invoke sprocs in your package running on SSIS IR, you can use Execute SQL Task.

[2019-01-07 05:43] jlee-vi commented on #21469
Thanks for the clarification. I also confirmed with some tests and was able to verify the behaviour.

A VM with no Internet Access was only able to access the Storage Account when Service Endpoints were enabled. The optimised routes were added. This was with the Storage Firewall turned off.

The ARM template download also shows the key point: the deny rule isn't added to the SA.

If the documentat

[2019-01-07 05:43] fdashti commented on #21625
[Image]

[Image]

Hi

Please find attached screenshots of both cases.

Thanks
Farshad
________________________________
From: K N Manoj Reddy <notifications@github.com>
Sent: Monday, January 7, 2019 5:32:28 AM
To: MicrosoftDocs/azure-docs
Cc: Farshad; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Security issue with Azure AD B2C Local Account - Sign in form (#21625)

@fdashti<https://github.com/f

[2019-01-07 05:45] jakaruna-MSFT commented on #21746
@nellyontour Thanks for reporting.
Option 'All' id not supported now. For that script I think read permission is enough. I will test with read permission and let you know.

[2019-01-07 06:14] noce2 opened #21756 "Error in Debug Termination Command"
Seems like debug is terminated by Shift + F5 rather than F1.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04c9d43d-5bd2-87c6-2ccf-0c65ef193760
* Version Independent ID: 6bf46ebc-481f-e4ef-b269-99bf99434601
* Content: [Create your first function in Azure using Visual Studio Code](https://docs.microsoft.com/en-us/azure

[2019-01-07 06:19] raymondhahs opened #21757 "Do not require MFA for specific apps"
To confirm, if i want to exclude few domain admin membership group to exempt the MFA for specific apps, e.g Yammer.  Does it mean i just "uncheck" the MFA authenticaiton in step 11?  Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22df42c6-831d-ba42-8224-27176e8fd7d9
* Version Independent ID: 15299b18-e361-9e9f-

[2019-01-07 06:20] juntakata commented on #21249
Hi @MarkusVi , my question is about the license, not a role. As far as I looked at the behavior, the Identity score will be 0/0 on Azure AD Free, Basics, and Premium P1. The score will be non-zero if AAD Premium P2 is enabled. If this is expected behavior, I would like you to add this license requirement to the document.

[2019-01-07 06:35] ChiragMishra-MSFT commented on #21550
@CheNgH826 I will now proceed to close the issue. Please feel free to comment if you want any more information.

[2019-01-07 06:35] #21550 closed

[2019-01-07 07:00] imeya opened #21758 "“TooMuchData” error during graphical runbook run"
our customer encountered an issue, his graphical runbook which outputs a large json file about 5MB, and cause an error says "TooMuchData".  Is there a limit how much data can be returned by runbooks to output stream? if has, how to change it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1683116-76e6-ff15-aba7-54c95e

[2019-01-07 07:03] jarodzhu commented on #21633
Azure-SSIS Integration Runtime is using Azure-Batch as underlying compute service, the 3 issues you noticed are related to that.
For a), right now port 3389 is left open on inbound of NIC level NSG created by azure batch, the purpose is to allow Microsoft engineer to login on VM for trouble shooting. Customer can block 3389 inbound by specifying their own subnet level NSG which disallow 3389 inbou

[2019-01-07 07:17] ChiragMishra-MSFT commented on #21747
@daitranthanhhoa As of now, Face API does not return jaw point. It returns the following 27 facial landmarks :

"pupilLeft", "pupilRight", "noseTip", "mouthLeft", "mouthRight", "eyebrowLeftOuter", "eyebrowLeftInner", "eyeLeftOuter", "eyeLeftTop", "eyeLeftBottom", "eyeLeftInner", "eyebrowRightInner", "eyebrowRightOuter", "eyeRightInner", "eyeRightTop", "eyeRightBottom", "eyeRightOuter", "noseRootLe

[2019-01-07 07:39] Clebam commented on #19936
Hi, just to be sure there is no misunderstanding, we're talking "Around the year 2018 end" 👍 ?

:trollface:

More seriously, can we have some update about this ?

Thanks guys!

[2019-01-07 07:57] KetanChawda-MSFT commented on #21547
@gpj1  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-07 07:57] #21547 closed

[2019-01-07 08:35] KetanChawda-MSFT commented on #21745
@jasonshave Thank you for your feedback! We will review and get back to you with our findings.

[2019-01-07 08:38] SubhashVasarapu-MSFT commented on #21727
@liamfoneill Thanks for the question! We are investigating and will update you shortly.

[2019-01-07 08:46] jlee-vi commented on #13057
Is this correct?

The documentation here (https://docs.microsoft.com/en-us/azure/storage/common/storage-account-overview) seems to conflict with this page?

The table that describes Storage Account types/kinds ("Types of storage accounts") differs quite a lot from the overview documentation I linked above. And differs from practice.

The table herein, and subsequent text, suggests that you can cre

[2019-01-07 08:47] msvijayn commented on #21551
As frequency is 5 mins, the alert rule will execute provided query every 5 minutes - starting successful alert rule creation. Since time period is 30 min, on execute of query data from last 30 minutes will be fetched and if you have latency of 6 mins; it would mean effectively at the time of alert execution last 24 mins of data would be provided by Log Analytics.

For more details, see: https://do

[2019-01-07 08:53] SubhashVasarapu-MSFT commented on #20701
@FrankSandqvist We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-07 08:53] neeleshray commented on #21757
Is it only for certain Groups that you wish not to include the specific application ?

On Step 9, you can use the "Exclude" option in this case.
![image](https://user-images.githubusercontent.com/31060822/50758116-3e806e80-1287-11e9-8a7e-5740bcdc1f0a.png)

After creating the Policy, it is always a good idea to [Evaluate a Sign-In](https://docs.microsoft.com/en-us/azure/active-directory/conditional

[2019-01-07 08:56] msvijayn commented on #21635
@roman-turovskyy - Since this is a forum for discussion on any errors in documentation, I am not in a position to assist with Log Analytics query specifics and data ingestion. Suggest either creating an Azure Support Ticket or try: [https://aka.ms/AzureLogAnalyticsCommunity](https://aka.ms/AzureLogAnalyticsCommunity) for details.

I think you can use a large time-period (say) 1 hour and then reduc

[2019-01-07 08:56] KetanChawda-MSFT commented on #21659
@bitpilot Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-07 08:57] msvijayn commented on #21635
#please-close

[2019-01-07 08:57] msvijayn commented on #21551
#please-close

[2019-01-07 08:59] SubhashVasarapu-MSFT commented on #21230
@nerddtvg We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-07 08:59] #21230 closed

[2019-01-07 09:15] raymondhahs commented on #21757
my account is "raymond" is global admin and MFA status is enforced status.  nightmare is every day i access my Yammer it always ask for MFA which i dont like. i just want to disable MFA for my Yammer... so i am thinking can i use this policy to "stop" Yammer MFA only,  when access to admin portal still MFA.

[2019-01-07 09:30] andyjballgit commented on #14662
I hit this issue today , even though I am Global Admin in both tenants - is this expected ?

thx
Andy

[2019-01-07 09:30] andyjballgit commented on #14662
I hit this issue today , even though I am Global Admin in both tenants - is this expected ?

thx
Andy

[2019-01-07 09:47] SubhashVasarapu-MSFT commented on #21556
@Qq20180503 Generally all load balancer health probes originate from the IP 168.63.129.16 as their source. This is for general standard load balancer in which AzureLoadBalancer service tag identifies the source IP in your NSG and permits health probe traffic by default. As Front door satisfies load balancing solution, it might use similar IP as of load balancer for health probes. So, will assign t

[2019-01-07 09:56] PramodValavala-MSFT commented on #21699
@michaelsoliman-com The same issue seems to have been raised and fixed here - azure-functions-java-worker#44

Could you try [installing](https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local#install-the-azure-functions-core-tools) the latest version of Functions Core Tools (2.3.199) and try again?

[2019-01-07 09:58] Pratik-Gautam commented on #21632
Hi @MarileeTurscak-MSFT , I am using [this](https://github.com/Azure-Samples/active-directory-b2c-dotnet-webapp-and-webapi ) sample wherein, ASP.NET Framework 4.5.1 is used. Here, OWIN is used for authentication

[2019-01-07 10:10] weyCC81 opened #21760 "PowerShell with AzureRM.Resources"
Is it possible to get the Status with "Get-AzureRmVM"?

Part 1:
$vm = Get-AzureRmVM -ResourceGroupName $rg -Name $name
$vm.OSProfile.windowsConfiguration.provisionVMAgent = $True
Update-AzureRmVM -ResourceGroupName $rg -VM $vm

Part 2:
Get-AzureRmVM -ResourceGroupName RG1 -Name VM1 -Status  | Select -ExpandProperty VMAgent | Select -ExpandProperty Statuses

---
#### Document Details

⚠ *Do not edi

[2019-01-07 10:13] Anmolgan81 commented on #21565
Hi @Mike-Ubezzi-MSFT did you heard back from product group?

[2019-01-07 10:15] Liamdelee opened #21761 "Azure data lake gen2 Rest api list folders not working with Oath2"
- [ Azure-Data-Lake-Store-Gen2]
- [ https://docs.microsoft.com/en-us/rest/api/storageservices/datalakestoragegen2/path/list]
- [Hi, So i wanted to check out the rest api for adls Gen2.
The api calls to list, create of a filesystem work as intended with a Oath2 Bearer token in the Authentication header.
However when i want to do the same but to list all directories and files in a specified filesyst

[2019-01-07 10:32] tidug opened #21762 "AAP & Tableau"
This document states that "Some third-party applications like Tableau Server don't like this method of authenticating". Is this still the case? Because I thought that AAP now supported Tableau on-prem server, but I'm having trouble with AAP, Tableau and KCD...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5fb3d3b-c05

[2019-01-07 10:52] vimalamaldas commented on #21186
Is it possible to deploy models to Azure web app for containers?

[2019-01-07 10:54] slugerrist opened #21763 "Usage of SSL in MQ Connector"
Usage of SSL in MQ Connector is very unclear or has no helpful documentation at all. What else needs to be configured apart from checking the SSL check box in the API connection (using on-premise data gateway)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42e7fab4-1469-22df-2618-b6b82b09df6d
* Version Independent ID:

[2019-01-07 11:14] MikkelHegn commented on #12757
The sample has just been updated to use the latest SDK, so this should not be a problem, unless you are on older SDKs. What doc updates would you suggest we make?

[2019-01-07 12:00] jn-altius opened #21765 "Trigger Activation Error"
I have followed the steps above.  The new trigger deploys ok, and then a second message pops up with the text "Trigger Activation Error.  Trigger activation failed for &lt;my trigger name&gt;.  Response with status: 400 Bad Request for URL: &lt;url to the trigger&gt;/start?ap-version=2018-06-01

I have tried 10+ times and always get this same error message.  If I untick the Activated box the error

[2019-01-07 12:00] EstherAF commented on #18819
I had the same issue in my AKS, so I opened a ticket and they helped me to solve it. It was an odd error, so I don't know if this is going to help any of you, but I'm telling it, just in case.

In my case, that property `logAnalyticsWorkspaceResourceID` was stored with a wrong name (in lowercase), and besides the resource group was in readonly mode, instead of read/write.

To check it, go to:
`htt

[2019-01-07 12:07] hhcakir commented on #21655
Hi SaurabhSharma,

I got this error when using single quotes on Microsoft Windows 10 [Version 10.0.17134.472]:

az keyvault secret show --vault-name 'MyVaultName' --name 'ExamplePassword'

Max retries exceeded attempting to connect to vault. The vault may not exist or you may need to flush your DNS cache and try again later.

Flush DNS "ipconfig /flushdns" dit not help.

Using double quotes solved