[2022-05-26 17:31] khdownie commented on #91256
#please-close

[2022-05-26 17:31] #91256 closed

[2022-05-26 17:34] dlepow commented on #86983
@tijmenamsing - Apologies for slow response to the issue you point out. You are correct that the issue here is likely related to the firewall of the key vault. We've updated the article to note that, in the case of a key vault with a firewall enabled, you may only use the API Management instance's *system-assigned* managed identity. Thanks for letting us know.

#please-close

[2022-05-26 17:52] aahill commented on #91629
Thanks for opening this issue. I checked with the product team, who had the following to say:

Active learning is used to suggest questions based on chat logs. The idea behind active learning is that users get a list of suggested questions that they can add as alternate questions to the knowledge base to ensure more questions get answered over time.

Following would be my response to the user quer

[2022-05-26 17:52] #91629 closed

[2022-05-26 18:01] #91870 closed

[2022-05-26 18:33] Rykimaruh opened #93536 "Missing information regarding documentation vs what user has in their tenant"
Was following the steps but noticed that some options are missing on my tenant that the documentation presents:

This is what t he documentation tells me:
![image](https://user-images.githubusercontent.com/5460795/170553282-c5e4208e-6b07-498d-b940-d4dc8729c60c.png)

This is what I have:
![image](https://user-images.githubusercontent.com/5460795/170553517-e4190451-9dfd-4c38-901f-2062ba756ffa.png)

[2022-05-26 18:42] #93247 closed

[2022-05-26 18:42] DarqueWarrior opened #93537 "Missing prerequisite"
When you run:

[code]

You are asked for the name of your ACR, but ACR is not listed as a prerequisite in the docs. Near where you say you need and AKS you may want to list ACR as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7cbb7ea2-7c42-85ba-488a-406d330954a0
* Version Independent ID: 2b7cbb4f-426e-4ba3-ebc7-

[2022-05-26 18:43] #93326 closed

[2022-05-26 18:46] FasihZafar opened #93538 "Setting-k1-and-b-parameters example doesn't work"
The example https://docs.microsoft.com/en-us/azure/search/index-ranking-similarity#setting-k1-and-b-parameters does not work.
The Postman response is shared below
{
    "error": {
        "code": "",
        "message": "The request is invalid. Details: index.fields : Index definition must contain one or more valid fields\r\n"
    }
}

@nitinme @HeidiSteen @DCtheGeek any help would be highly apprec

[2022-05-26 18:46] JamesTran-MSFT commented on #93536
@Rykimaruh
Thanks for your feedback! We will investigate and update as appropriate.

[2022-05-26 18:49] meenasaravanan02 commented on #63141
Hi @njallain,
We have modified the code in the document in the PR - https://github.com/MicrosoftDocs/azure-docs-pr/pull/199522
#please-close this issue

[2022-05-26 18:49] #63141 closed

[2022-05-26 18:52] juliouribeMinTic commented on #93245
Getha good afternoon .

Please help with the link

On Sat, May 21, 2022, 6:13 PM GeethaThatipatri-MSFT <
***@***.***> wrote:

[2022-05-26 18:53] kobulloc-MSFT commented on #93537
@DarqueWarrior Thank you for your feedback!  We are reviewing the documentation and will get back to you shortly.

[2022-05-26 18:57] JamesTran-MSFT commented on #93536
@Rykimaruh
Thank you for your screenshots!

When it comes to the "Add External users and Groups" option, can you make sure you're under the `Organizational settings`, sinceit looks like the [steps only apply to the Organizational settings](https://docs.microsoft.com/en-us/azure/active-directory/external-identities/cross-tenant-access-settings-b2b-collaboration#to-change-inbound-b2b-collaboration-s

[2022-05-26 19:44] vhorne commented on #85811
This article was edited for various updates back in January.
#please-close

[2022-05-26 19:44] #85811 closed

[2022-05-26 19:48] Rykimaruh commented on #93536
Yes, I see it under Organization settings. I think the documentation is confusing for example here:

![image](https://user-images.githubusercontent.com/5460795/170565517-f793b33f-57fc-4591-9751-bfe6df981d02.png)

According to this documentation, I am assuming only step 2 only applies to Organizational Settings since it says it only applies to that step. Step 4 is confusing, as it doesn't have a si

[2022-05-26 19:49] gregsmi opened #93542 "Graphic needs to be updated with new "main" default terminology"
Text for section "Continuously deploy code" section was updated to reflect terminology change "master"->"main", but associated picture still has outdated terms

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eaaa2dff-e57f-370e-fbf7-3ed37de2bb2a
* Version Independent ID: 24c98efe-5bcf-fe19-445d-8512e7929a58
* Content: [D

[2022-05-26 20:02] btardif commented on #75000
#please-close This is fixed with above pr 👆🏽

[2022-05-26 20:02] #75000 closed

[2022-05-26 20:16] SteveWohl commented on #93245
@juliouribeMinTic @alexandersoy

I've updated the link to the DICOM Client NuGet package. The change has been committed in [PR 199554](https://github.com/MicrosoftDocs/azure-docs-pr/pull/199544).

[2022-05-26 20:27] javiersoriano opened #93543 "Add roles needed to perform searches in Archive"
The new search feature requires users to have Log Analytics Contributor role in order to use the feature. When you perform a search, it creates a new table in Log Analytics and that permission is not available with any of the Sentinel roles, therefore, Log Analytics Contributor is required.

Please add to the additional roles section.

---
#### Document Details

⚠ *Do not edit this section. It is

[2022-05-26 20:29] cameron-doherty opened #93544 "Image used for Step 10 showing "Users Scope" is different than current portal"
The image used in Step 10 shows the first radio button as being "Users and Groups" however the current portal version shows "All Users and Groups". This seems to be causing some confusion and misunderstanding of what these radio buttons actually are configuring.

This is what is seen in several tenants I have checked:
![image](https://user-images.githubusercontent.com/6854150/170575120-00b2d299-dc

[2022-05-26 20:31] Stephen-McDowell opened #93545 "Azure Front Door Domain Verification Docs"
These docs, https://docs.microsoft.com/en-us/azure/frontdoor/front-door-custom-domain, reference using a CName to verify a custom domain.  Following these docs and creating a CName did not work.

These docs, https://docs.microsoft.com/en-us/azure/frontdoor/standard-premium/how-to-add-custom-domain, state to use a TXT record.  This aligns with the experience in the portal and actually worked.

⚠ *D

[2022-05-26 20:41] MarileeTurscak-MSFT commented on #93543
@javiersoriano
Thanks for your feedback! We will investigate and update as appropriate.

[2022-05-26 21:05] ChaitanyaNaykodi-MSFT commented on #93545
Hello @Stephen-McDowell, thank you for reaching out.
The difference in experience here is due to the different tiers of Azure Front Door.

Azure FrontDoor Classic tier utilizes CNAME record to verify custom domain.

Azure FrontDoor Standard/Premium tier utilizes TXT record to verify custom domain.

You can find additional information regarding Azure FrontDoor tiers in [this documentation](https://

[2022-05-26 21:09] davidkydd opened #93546 "Add AKS versioning info for when container runtime changed"
We could add something like container runtime changed from Docker->ContainerD after AKS v1.19

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1e42fdb-aa59-786b-ba0d-659f67db3cf3
* Version Independent ID: cc199e1d-6737-5f52-f2a2-b6c0b603dbdc
* Content: [Cluster configuration in Azure Kubernetes Services (AKS) - Azure Ku

[2022-05-26 21:12] greg-lindsay commented on #81968
https://github.com/MicrosoftDocs/azure-docs-pr/pull/199551
The PR to fix this is complete and will publish soon.

[2022-05-26 21:18] greg-lindsay commented on #81968
#please-close

[2022-05-26 21:18] #81968 closed

[2022-05-26 21:20] AbdullahBell commented on #79647
#please-close

[2022-05-26 21:20] #79647 closed

[2022-05-26 21:21] jgross1031 commented on #91256
Hi Ken,
  Sorry I didn't respond sooner. I looked back at my comment and I left the word "not" out. So I meant to say "This does seem to be a supported scenario currently so it would be nice to have that in the documentation for users to see." I just don't see that listed explicitly anywhere so we get questions about it is all.

From: Ken Downie ***@***.***>
Sent: Thursday, May 26, 2022 1:31 PM
To

[2022-05-26 21:22] greg-lindsay commented on #93014
This PR included the update to the image.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/198582

[2022-05-26 21:22] greg-lindsay commented on #93014
#please-close

[2022-05-26 21:22] #93014 closed

[2022-05-26 21:22] AbdullahBell commented on #67539
#please-close

[2022-05-26 21:23] JamesTran-MSFT commented on #92957
@LainRobertson
Thank you for your time and patience on this!

When it comes to `/promote` it's not implemented in the MS Graph API, and you'll need to use the Azure AD API. For [more info](https://github.com/MicrosoftDocs/azure-docs/issues/91517#issuecomment-1099536369).

`POST
https://graph.windows.net/{tenant_id}/domains/{domainid}/promote`

If you have any other questions, please let us know.
T

[2022-05-26 21:31] Oury-MSFT commented on #93180
@traderhut Could you please post this issue on [Microsoft Q&A site for Azure SQL]( https://docs.microsoft.com/en-us/answers/search.html?type=question%20OR%20idea%20OR%20kbentry%20OR%20answer%20OR%20topic%20OR%20user&redirect=search%2Fsearch&sort=relevance&q=azure-sql-database). Please share the thread link with me once the question is posted on Microsoft Q&A.

[2022-05-26 21:31] #93180 closed

[2022-05-26 22:00] YutongTie-MSFT commented on #93238
@mtyeager Yes, thanks for your feedback. Acutually they have put it in the side bar, but I agree with you we should make it more clear. I am sorry about this.

![image](https://user-images.githubusercontent.com/38084098/170587086-bc70b3d6-0ecc-4f47-a8c6-7c0cd35dffef.png)

[2022-05-26 22:03] nutmix opened #93547 "tutorial not working (on m1 mac), no option to create a function project"
This tutorial is broken, for M1 mac at least.  After installing all the pre-requisits, the option to create a new project is missing. Perhaps the instructions are for visual studio not visual studio code?

Specifically this line is wrong:

Choose the Azure icon in the Activity bar, then in the Azure: Functions area, select the Create new project... icon.

When I click on the azure icon in activity

[2022-05-26 22:06] #93475 closed

[2022-05-26 22:14] cdmdotnet opened #93548 "parameter ImmediatePurgeDataOn30Days is un-used in ARM template properly"
[Enter feedback here]
The ARM template here references a parameter ImmediatePurgeDataOn30Days which is not used within the tempalte itself, so it is unclear if this is set on the CurrentBillingFeatures or the resource itself. Please update the sample ARM template to actually use the parameter and show how to set the feature.

---
#### Document details

⚠ *Do not edit this section. It is required f

[2022-05-26 22:22] seesharprun commented on #80844
Thanks for your feedback, since your change was a separate repository, we needed to manually implement those changes in the project. We have now updated the [azure-samples//azure-cosmos-db-mongodb-spring](https://github.com/Azure-Samples/azure-cosmos-db-mongodb-spring) repository to use the latest spring-boot. Since the article's code samples are in JavaScript, there were no changes to the article

[2022-05-26 22:22] #80844 closed

[2022-05-26 22:27] juliouribeMinTic commented on #93245
Many thanks...

El jue, 26 may 2022 a las 15:16, Steve Wohl ***@***.***>)
escribió:

[2022-05-26 22:32] Grace-MacJones-MSFT commented on #93533
Hi @Cardiohater1, thanks for the feedback! Can you please clarify what you mean by there is a "There is a on the git clone command on the git clone" so we can make the necessary updated needed to this doc?

[2022-05-26 22:33] Cardiohater1 commented on #93533
There is a ` mark at the end of the code which creates issues while deploying it

[2022-05-26 22:34] byronbayer opened #93549 "Page needs updating to Azure.Messaging.ServiceBus from Microsoft.Azure.ServiceBus"
The whole page and links need updating for the newer service bus package Azure.Messaging.ServiceBus and move away from Microsoft.Azure.ServiceBus
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d50399c-0873-e903-35ca-1845c84b6c6c
* Version Independent ID: 1a3150b4-5eb9-0ac5-ee2b-d1bb6b6fd63e
* Con

[2022-05-26 22:38] Grace-MacJones-MSFT commented on #93538
Thanks for your feedback! We will review and update this doc accordingly.

[2022-05-26 22:40] Grace-MacJones-MSFT commented on #93533
I see. thanks for catching that. we will update the doc shortly!

[2022-05-26 22:42] seesharprun commented on #81973
Hello @bdcoder2! We are still investigating this so we can get the right person to update the docs.

You should expect to hear something back on this issue within the next couple of weeks. Thanks!

[2022-05-26 22:46] MarileeTurscak-MSFT commented on #93544
@cameron-doherty
Thanks for your feedback! We will investigate and update as appropriate.

[2022-05-26 22:50] timlt commented on #92399
Published, with updates as discussed internally.

https://docs.microsoft.com/en-us/azure/iot-hub/quickstart-send-telemetry-cli

#please-close

[2022-05-26 22:50] #92399 closed

[2022-05-26 22:52] suzizuber commented on #92845
#please-close

[2022-05-26 22:52] #92845 closed

[2022-05-26 22:53] suzizuber commented on #93071
#please-close

[2022-05-26 22:53] #93071 closed

[2022-05-26 22:54] suzizuber commented on #92862
This issue has been resolved, FAQ has been updated.

[2022-05-26 22:54] suzizuber commented on #92862
#please-close

[2022-05-26 22:54] #92862 closed

[2022-05-26 23:08] SaiKishor-MSFT commented on #92915
@Fafa4 II am not sure what you mean by using ADDS Powershell. The script is run on Azure Cloudshell after connecting it to your Storage Account on Azure which should work as expected. Please explain further regarding your question if your concern is different so I can understand better...Thank you!

[2022-05-26 23:13] MarileeTurscak-MSFT commented on #93543
Thanks! I made a pull request to update the document. Feel free to make your own PRs in the future for these types of changes though. https://github.com/MicrosoftDocs/azure-docs-pr/pull/199579

[2022-05-26 23:13] #93543 closed

[2022-05-26 23:15] Grace-MacJones-MSFT commented on #93542
thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update as appropriate

[2022-05-26 23:17] deborahc commented on #93389
- There is no charge to use burst capacity. However, note that when burst capacity is used with autoscale, autoscale will try to use all your max RU/s first before going into burst capacity, so you'll likely see autoscale scaling to the max RU/s during spikes of traffic (though even without burst capacity, autoscale would have likely scaled anyway due to spikes). With autoscale, you are billed for

[2022-05-26 23:26] LainRobertson commented on #92957
@JamesTran-MSFT

Thanks, James. But is there any chance the Microsoft Docs article can be updated to reflect this? Right now, it's providing incorrect guidance.

Cheers,
Lain

[2022-05-26 23:38] GeethaThatipatri-MSFT commented on #93245
Thanks, @SteveWohl for fixing the link.
@juliouribeMinTic Thank you again for your findings which help in improving our documents.

[2022-05-26 23:38] #93245 closed

[2022-05-26 23:43] richardhauer opened #93552 "Firebase setup guidance is out of date"
Google Firebase key setup has changed and the UI and nomenclature no longer match this documentation. E.g. there is no "server key" in Firebase.  Instead there is a "Web Push certificate" for which I can create a "key pair" and there's FCM Massaging API (V1) which directs me to Google's Service Accounts settings in the GCP console. There I can create a "Key" for the service account but I need to c

[2022-05-26 23:53] JamesTran-MSFT commented on #92957
@LainRobertson
Thank you for following up!

I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

Thank you again for your time and patience on this!

[2022-05-27 00:07] shannonmae999 opened #93554 "Auth"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae3dbcad-9d0d-c32d-7b02-2a3ffe291b2e
* Version Independent ID: 4f716e15-73a2-71a0-53ba-801b6097c479
* Content: [Azure Active Directory passwordless sign-in](https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-authentication-

[2022-05-27 00:10] MarileeTurscak-MSFT commented on #93554
@shannonmae999
Thanks for your feedback! We will investigate and update as appropriate.

[2022-05-27 00:12] MarileeTurscak-MSFT commented on #93554
Thanks for creating this post. Since there is no explicit feedback here, I would recommend creating a new issue and detailing the exact change that you would like to see in the documentation.

[2022-05-27 00:12] #93554 closed

[2022-05-27 00:15] JamesTran-MSFT commented on #92957
Closing since PR merged

Please allow some time for the changes to reflect.
Thank you!

[2022-05-27 00:15] #92957 closed

[2022-05-27 00:18] seahawks8 commented on #92301
@seesharprun this is still a problem, not working
[code]

[2022-05-27 00:30] mbender-ms commented on #89508
Thanks for the feedback. The article is being updated.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/199577

#please-close

[2022-05-27 00:30] #89508 closed

[2022-05-27 00:44] VikasPullagura-MSFT commented on #93509
@StevenTCramer
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-05-27 00:44] VikasPullagura-MSFT commented on #93509
@zr-msft
Can you please check and add your comments on this doc update request as applicable.

[2022-05-27 00:46] VikasPullagura-MSFT commented on #93546
@palma21
Can you please check and add your comments on this doc update request as applicable.

[2022-05-27 00:47] mbender-ms commented on #74304
#unassign: @mbender-ms

[2022-05-27 00:49] J227668 commented on #92102
When I click the link I received this error message "The page you are trying to access was not found. Please check your URL for typos and try again."

[2022-05-27 00:53] davidkydd commented on #93546
nm this was copy pasted support feedback without parsing - irrelevant as 1.19 out of support already

[2022-05-27 00:53] #93546 closed

[2022-05-27 00:55] VikasPullagura-MSFT commented on #93546
@davidkydd Thanks for updating the information and closing the issue.

[2022-05-27 01:01] mike-urnun-msft commented on #93513
Thank you for your feedback! We will review and update as appropriate.

[2022-05-27 01:04] mbender-ms commented on #81801
Thanks for the suggestion. I'll review it during the next doc review cycle and make changes as appropriate.

#Please-close

[2022-05-27 01:04] #81801 closed

[2022-05-27 01:07] rachelxj-ms commented on #91695
@GitaraniSharma-MSFT
I have discussed it with Allen, it seems there is discrepancy here.
The static app I created on 2021-02-02 is using Azure DNS Zone privatelink.azurestaticapps.net,
but for newly created static app, it's using Azure DNS Zone privatelink.1.azurestaticapps.net.

[2022-05-27 01:20] sancreations opened #93556 "The Powershell shared here to disable the Network Policies doesn't work."
Executing ($virtualNetwork | Select -ExpandProperty subnets | Where-Object  {$_.Name -eq $virtualSubnetName} ).privateLinkServiceNetworkPolicies  = "Disabled"
Fails with The property 'privateLinkServiceNetworkPolicies' cannot be found on this object

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4d302f3-da66-cda0-95e0

[2022-05-27 01:23] shwetamathur7 commented on #93511
@rosacek Thanks for your feedback. We will investigate and update the thread.

[2022-05-27 01:26] shwetamathur7 commented on #93506
@ganniaiuei Thanks for your feedback. We will investigate and update the thread.

[2022-05-27 01:28] shwetamathur7 commented on #93515
@csj Thanks for your feedback. We will investigate and update the thread.

[2022-05-27 01:32] shwetamathur7 commented on #93532
@dhgokul Thank you for raising this issue. Unfortunately, this forum is only for documentation issues and not functionality issues. But such functionality issues are investigated at [Microsoft Graph Q&A](https://docs.microsoft.com/en-us/answers/index.html). Please share the link in case of issue related with any tutorial or document you are following.

[2022-05-27 01:44] AdamGuanhh opened #93557 "Where will Site Recovery replicated data be saved?"
There are inconsistencies in the description of the Azure Site Recovery cache storage account in the current documentation. Please help to confirm and adjust the documentation, thank you.
1. The following section mentions that it is copied directly to managed disk, and only the copy log is written to the cache storage account.

![image](https://user-images.githubusercontent.com/106216778/170611081

[2022-05-27 02:21] ToruMakabe opened #93558 "Is there a way to make sure the replicas are distributed in the zones?"
I can't find any steps in this document to enable zone redundancy. So, I enabled "zoneRedundant" property by referring to [ARM template docs.](https://docs.microsoft.com/ja-jp/azure/templates/microsoft.app/2022-03-01/managedenvironments?tabs=bicep#managedenvironmentproperties)

Anyway, is there a way to make sure the replicas are distributed in the zones? I've tried `az containerapp replica show`

[2022-05-27 02:38] KrishnaG-MSFT commented on #93548
@cdmdotnet Thanks for your comment! We will review and provide an update as appropriate.

[2022-05-27 03:12] ThomasWeiss commented on #93529
Thanks for the heads up @x509cert, the docs have been updated accordingly
#please-close

[2022-05-27 03:12] #93529 closed

[2022-05-27 03:27] SteveCuriously opened #93561 "What does 'Authenticator phone sign in' mean?"
A graphic lists "Best: Passwordless" with "Authenticator phone sign in" underneath. There's no explanation in the article of what "Authenticator phone sign in means".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8f14188-98ec-5c94-f408-162ee1baa076
* Version Independent ID: 41ed4874-e1e6-56d3-4de4-39c024d1e06c
* Cont

[2022-05-27 03:37] onnov72 commented on #92820
@RohitRanjanMS, I created a small sample project that reproduces the problem, the repo is [here](https://github.com/onnov72/AzureWebJobIssueRepo)

[2022-05-27 03:49] MayankBargali-MSFT commented on #93549
@byronbayer Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-05-27 03:49] MayankBargali-MSFT commented on #93547
@nutmix Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-05-27 04:02] Givary commented on #93561
@SteveCuriously Thank you for reaching out to us. Reviewed your query I see you are looking for information related to Authenticator phone sign-in, however same information is present under Authentication methods - Overview - Passwordless section ( https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-authentication-passwordless#:~:text=need%20to%20consider.-,Microsoft%20A

[2022-05-27 04:02] #93561 closed

[2022-05-27 04:29] ram-msft commented on #93319
@haiqing0065 Thanks for the details. Attaching multiple Workspaces to a single AKS cluster is not supported.

[2022-05-27 04:29] ram-msft commented on #93319
@haiqing0065 Thanks for the details. Attaching multiple Workspaces to a single AKS cluster is not supported.

[2022-05-27 04:35] AjayKumar-MSFT commented on #93552
@richardhauer,  Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2022-05-27 04:37] AjayKumar-MSFT commented on #93470
Anand-Moghe,   Thanks for leveraging Azure docs feedback channel to raise this question. Since you have closed the thread I presume the issue is figured out, if it's not the case or you need further assistance kindly just let us know.

[2022-05-27 04:41] GitaraniSharma-MSFT commented on #93556
@sancreations , thank you for your feedback. We'll review this and get back to you shortly!

[2022-05-27 04:42] #93416 closed

[2022-05-27 04:42] AjayKumar-MSFT commented on #93494
mikequ-taggysoft, No worries. Much appreciate the follow-up.
Thanks for leveraging Azure docs feedback channel to raise this question.

[2022-05-27 04:47] sharathmalladi opened #93562 "Docs do not align with actual memory for small size"
When developing a spark job definition in synapse, the option for Executor Size dropdown for small shows as "Small (4 vCores, 28GB memory)". But the docs note that Small is actually 32GB memory. So there is a disconnect between what is noted here and what I see in this documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2022-05-27 04:52] GitaraniSharma-MSFT commented on #91695
@rachelxj-ms , I discussed this with the Product group team and below is the update:

Every Static webapp will have a default hostname that ends with some DNS suffix. For some apps that will be ‘azurestaticapps.net’, for others it could be a sub domain (i.e. ‘1.azurestaticapps.net’, ‘2.azurestaticapps.net’). This is by design and allows the platform to be more resilient to DNS outages.

For privat

[2022-05-27 04:55] VikasPullagura-MSFT commented on #93425
@Mina69

Currently this is not supported at the Cluster level. The Feedback has been shared to the document author to update the document to make this clear.

You can achieve this using Azure Policy refer this [document](https://docs.microsoft.com/en-us/azure/aks/use-azure-policy) once.

BTW, AdmissionConfiguration cannot not be applied via `kubectl`, they are used with the api-server parameter **

[2022-05-27 04:55] VikasPullagura-MSFT commented on #93425
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2022-05-27 04:55] #93425 closed

[2022-05-27 05:00] ram-msft commented on #93277
@peterboba Thanks, I have raised the pull request #https://github.com/MicrosoftDocs/azure-docs/pull/93563 for the same.

[2022-05-27 05:00] ram-msft commented on #93277
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-05-27 05:00] #93277 closed

[2022-05-27 05:39] ShaikMaheer-MSFT commented on #93258
@awysza Could you please validate customer feedback and update or enhance document as appropriate? Thank you.

[2022-05-27 05:41] ShaikMaheer-MSFT commented on #93259
@nabhishek could you please validate feedback and update or enhance document as appropriate? Thank you.

[2022-05-27 06:02] haiqing0065 commented on #93319
It's cluster's namespace, not workspace we are talking about here.

Thanks,
Haiqing

On Thu, May 26, 2022, 9:29 PM Ram ***@***.***> wrote:

[2022-05-27 06:21] ngauravit opened #93565 "Requests for API sql are not supported for this account"
I am trying to provision a Cosmos DB using terraform but I am getting below error:

2022-05-27T06:19:25.2425952Z Error: checking for presence of Sql Database: (Name "testcosmosdb" / Database Account Name "testcosmosdbaccoun" / Resource Group "cosmosdb-rg"): documentdb.SQLResourcesClient#GetSQLDatabase: Failure responding to request: StatusCode=405 -- Original Error: autorest/azure: Service returne

[2022-05-27 06:54] BzSpi commented on #93456
Hi @PriyankaRudramaina

May be we misunderstood.
Indeed the pages you're pointing at mention the private link service. But, the link I've provided to you shows the new implementation on how to deploy a private link service directly from k8s annotations. And I don't think this new feature is in the Microsoft documentation at the moment.

[2022-05-27 06:56] JananiRamesh-MSFT commented on #93480
@HiroakiMachida Thanks for reaching out
From the given details I understand that you're trying to integrate App Gateway with Api Management according to [this ](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-integrate-internal-vnet-appgateway) document.

currently you're trying to setup the custom domain names for your APIM endpoints where you need to provide .pfx file.

[2022-05-27 07:19] 9Rune5 opened #93566 "Redundant step?"
Doc states: "**Get the latest changes**
This stage downloads code from the designated branch to the agent execution agent."

But we never bother with that in other pipelines afaict. Why is it necessary here? (the way databricks manhandles its git integration has been a great source of frustration for me from the start, so I am probably missing something obvious)

---
#### Document Details

⚠ *Do n

[2022-05-27 07:37] charleswang007 opened #93567 "The undelete_path() call in Python example is not exposed directly. Need to use _undelete_path() for the example to work."
In https://docs.microsoft.com/en-us/azure/storage/blobs/soft-delete-blob-manage?tabs=dotnet#restore-soft-deleted-blobs-and-directories-by-using-python, the Python example uses direct function call to **undelete_path()** to invoke restore of the deleted path. However, that function is only internal so if we want to make this example work, we need to change **undelete_path()** to **_undelete_path()*

[2022-05-27 07:54] #93431 closed

[2022-05-27 08:21] Fafa4 commented on #92915
![image](https://user-images.githubusercontent.com/80324125/170660235-a1b6a8ef-2704-4ba7-ac9e-a41f80819de7.png)

See picture attached. This script is run in PowerShell in Azure AD Domain Services environment to change Kerberos encryption level. Not in Azure PowerShell.

[2022-05-27 08:33] webezine opened #93568 "outdated instructions"
[Enter feedback here]

A lot of the instrutions are outdated now and don't really work. A lot of additional googling to get this building let alone working.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: affa806e-ed31-20b7-9aee-2b56572225ab
* Version Independent ID: 5dea14a7-065e-c21b-712c-0cee7d3ffb16
* Content: [Send

[2022-05-27 08:43] TheRealSvc commented on #93280
@asergaz
thank you, i just fiddled a bit with the DNS settings but to no avail. I will leave it, since i have no trouble with my own modules. Anyways here's the log-output when i manually start the docker container:

[code]

[2022-05-27 08:56] SwathiDhanwada-MSFT commented on #92523
Assigning to content author @v-amallick   for doc-enhancement.

[2022-05-27 09:00] AdamSharif-MSFT opened #93569 "Release tracker link?"
Hello,

According to the documentation we should be able to access the release tracker for AKS, however I can't see a link anywhere or instructions on how to reach it, can this be clarified please?

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 462a5558-5d08-ceb3-80f0-d0df9a4683f9
* Version Independent ID: 3e0

[2022-05-27 09:09] SwathiDhanwada-MSFT commented on #93517
@yangchengs Thanks for your comment. We will review the issue and get back to you shortly.

[2022-05-27 09:12] dbandre76 commented on #19416
Hello Guys

Good Morning . I am trying to start off and test  Polybase  feature only for read a simple csv in my server, but I have got this error . Someone else help me  ?

Ps Polybase Service is Running with the same SQL Server Service Version

IsPolybaseInstalled
-------------------------------------------------------------------------------------------------------------------------------------

[2022-05-27 09:28] AnuragSingh-MSFT commented on #93506
@ganniaiuei, thank you for pointing it out to us. I am assigning this issue to content team for review.

@Vikram1988, can you please review this question and share your thoughts. Thanks.

[2022-05-27 09:32] SwathiDhanwada-MSFT commented on #93557
@AdamGuanhh Thanks for your comment. We will review the issue and get back to you shortly.

[2022-05-27 09:33] SwathiDhanwada-MSFT commented on #93349
@Ankit10100 Did you get chance to look into previous comments? Kindly revert if you have further questions.

[2022-05-27 09:41] H1ndo opened #93570 "Handling Exceptions example"
The Handling Exceptions example is wrong as the catch block should use **when** and not _where_

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61a4b262-7396-3c10-fcbe-a2cc766cb276
* Version Independent ID: 49ebc630-9e92-de92-37a4-6568701c9865
* Content: [Azure Event Hubs - .NET exceptions - Azure Event Hubs](ht

[2022-05-27 09:53] rida-xavor commented on #84434
Still facing the same issue, is there any way to export custom commands app as a skill? @eric-urban @RohitMungi-MSFT

[2022-05-27 10:01] Vikram1988 commented on #93506
@ganniaiuei I am looking the SHA mismatch issue and would take up the correction after reviewing the issue

[2022-05-27 10:10] MichaelBrooks-Informatyx opened #93572 "Need to discuss accessing blobs"
[Enter feedback here]
This topic does not necessarily need to be covered on this specific page, but there is no obvious page covering it anywhere else in this online document, and this page seems to me to be the most appropriate.
You need to tell the readers how to address a blob for retrieval purposes. Based on the limited information that is provided (i.e. the storage account has a URL, the cont

[2022-05-27 10:15] kschinspari opened #93573 "List of possible SKU values needed"
Hello

I am buiding a bicep module for provisioning a dedicated pool for Azure Synapse Analytics.

The template in the documentation gives me this:
sku: {
    capacity: int
    name: 'string'
    tier: 'string'
  }

I have been trying for over a hour now to find a list of accepted  values for capacity, name, and tier.
This includes searching the official documentation, third party examples and try

[2022-05-27 10:22] VikasPullagura-MSFT commented on #93569
@AdamSharif-MSFT
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-05-27 10:22] VikasPullagura-MSFT commented on #93569
@zr-msft
Can you please check and add your comments on this doc update request as applicable.

[2022-05-27 10:28] sumner804 opened #93575 "2 Typos"
Great content! Just caught two typos.

"**This is due each** subnet address range is within an address range of the address space of a virtual network." Should be something like "This is due to the fact that each..."

"Internet: **Routes traffic** specified by the address prefix to the Internet." Should be "Routes' traffic is specified..." or "Route traffic is specified..."

Thanks!

---
#### Docu

[2022-05-27 10:36] hsbsandrecv commented on #93366
Hello James,

thank you for your feedback. I understand that it will take some time for the settings to propagate.
And that while that has not happening some successful legacy protocols could still happens. That´s ok.

My main question is what about after settings are fully propagated, let´s say 48h later. Should we expect to see Failed Legacy Protocol Auth (IMAP for instance) login attemps? or wi

[2022-05-27 10:48] shwetamathur7 commented on #93565
@ngauravit Thank you for raising this issue. Unfortunately, this forum is only for documentation issues and not functionality issues. But such functionality issues are investigated at [Microsoft Graph Q&A](https://docs.microsoft.com/en-us/answers/index.html). Please share the link your are referring in case of issue related with any tutorial or document .

[2022-05-27 10:51] ngauravit commented on #93565
Ohh Thanks for highlighting it, I will reach out in the correct forum.

[2022-05-27 10:55] MughundhanRaveendran-MSFT commented on #93443
@xmseraph ,

you can use dependency injection for .net based functions
https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection

[2022-05-27 10:58] dknappettmsft commented on #86544
Thanks for the feedback. I have added a warning for this and a way to not get disconnected.  The change should be visible later today.

#please-close

[2022-05-27 10:58] #86544 closed

[2022-05-27 10:59] MughundhanRaveendran-MSFT commented on #93443
@xmseraph , Can you be more specific about the windows library file that you are refering to?

If its a shared component, it would be blocked by the Functions sandboxed environment
https://github.com/veleek/kudu/wiki/Azure-Web-App-sandbox#general-sandbox-restrictions

In .net based functions, we have dependency injection to register services
https://docs.microsoft.com/en-us/azure/azure-functions/f

[2022-05-27 11:00] dknappettmsft commented on #92931
Thanks for the feedback.  I have added the links to the article to make it easier.  The changes should be visible later today.

#please-close

[2022-05-27 11:00] #92931 closed

[2022-05-27 11:07] WillParry opened #93576 "RE: Use this script till cmdlets address the -SettingsString format issue we observed"
https://github.com/hashicorp/terraform-provider-azurestack/issues/125

Regarding the issue with using Set-AzVmExtension with settingsString, there seems to be a link with the above issue, whereby they mention issues I found with using the 4 part version number for the TypeHandlerVersion.

I have been able to use Set-AzVmExtension after changing the creation of the settingString

[code]
and convert

[2022-05-27 11:16] ljunquera opened #93577 "How to create devices"
In the **Create a provisioning profile** section under **Next, select the devices to use for testing, and select Continue.** what if there is no device created?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f96a6e9-8b01-fe0b-c6ec-2afd2c69a5e8
* Version Independent ID: cfda931c-cac9-8d25-d20c-7b3308e9eeed
* Content: [

[2022-05-27 11:20] ridasaleem0 opened #93578 "No skill settings in Custom Commands"
[The settings in the custom commands tab show no skills settings and I am unable to export my application as a skill. Please provide guidance regarding it]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e6dbc20f-0092-26b5-006b-109563549523
* Version Independent ID: ccee098e-48ec-049f-cb9e-6762e920f164
* Content: [How T

[2022-05-27 11:23] ridasaleem0 commented on #93578
@singhsaumya @encorona-ms

[2022-05-27 11:27] ksysiekj opened #93579 "update Azure Reservation VM instance size spreadsheet"
can you please update the spreadsheet reference in the doc (https://isfratio.blob.core.windows.net/isfratio/ISFRatio.csv) and add info for the new SKU?

SKUs I want to have support for are:

app_service_i1_v2_windows
app_service_isolated_plan_stamp_fee
app_service_isolated_plan_stamp_fee_linux
Archive_GRS_Data_Stored_1 Pb
archive_lrs_data_stored_100 tb
av36
Azure_App_Service_Premium_v3_Plan_Linux_

[2022-05-27 11:30] AjayKumar-MSFT commented on #93568
@webezine,
Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2022-05-27 11:35] ciufudean opened #93580 "Unfinished sentence"
Sentence with only a subordinate clause
"Even though the underlying result set is different."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40f6532a-085e-3d44-6af0-53da297b906d
* Version Independent ID: 8e400cca-5227-074b-d6ac-7f4ff0558051
* Content: [Azure Monitor workbook chart visualizations - Azure Monitor](https:

[2022-05-27 11:47] giwleb opened #93581 "SQL Injection concerns"
Did you want to mention any SQL injection concerns, if any?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a437aab4-edd6-00f0-c9e0-52bf7be7747e
* Version Independent ID: 71031e09-b2a4-cbb5-e5e1-0798a1676755
* Content: [Azure SQL input binding for Functions](https://docs.microsoft.com/en-us/azure/azure-functions/functio

[2022-05-27 12:17] olavt opened #93582 "Missing link to AKS Release Tracker?"
I scanned through the article a couple of times, but I had a hard time finding a link to the actual AKS Release Tracker?

Is it missing?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 462a5558-5d08-ceb3-80f0-d0df9a4683f9
* Version Independent ID: 3e01d427-e45b-6cf9-5616-cb8f46be71ed
* Content: [AKS release tracker - Az

[2022-05-27 12:28] GitaraniSharma-MSFT commented on #93575
@sumner804 , thank you for your feedback. We'll review this and get back to you shortly!

[2022-05-27 12:37] #93565 closed

[2022-05-27 12:41] shwetamathur7 commented on #93558
@ToruMakabe Thanks for your feedback. We will investigate and update the thread.

[2022-05-27 12:43] mtyeager commented on #93238
Hello Yutong,

You recently replied to my message on Microsoft Q&A: Azure ML Studio Quotas for Assisted Labeling and Training Object Detection Model.

A case was opened after I posted on Q&A with the global quota team: TrackingID#2205260040005330

Unclear whether this is user error, a bug or config problem in Azure ML Studio, or something in the quota system…

Let me know if you need any other inf

[2022-05-27 12:46] nkumars commented on #92641
@yoelhor, any update you can share please?

[2022-05-27 13:00] MonikaReddy-MSFT commented on #93580
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-05-27 13:20] ram-msft commented on #93319
@@shivanissambare Can you please comment on this cluster namespace.

[2022-05-27 13:38] tictag opened #93588 "Note no longer relavant"
The Note that starts, "If Members can invite is set " is no longer relevant - UI has changed, note relates to old UI.

David.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4aa45818-3e2a-f952-2a60-86fe930d416c
* Version Independent ID: 02f84110-9385-e158-b847-303cd31d888f
* Content: [Enable B2B external collaboration s

[2022-05-27 13:41] tictag opened #93589 "Screenshot out of date"
Screenshot under section **Enable self-service sign-up for your tenant** is out-of-date - UI has changed.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c05d9cd-275d-4585-f25f-fa5b88f1ec10
* Version Independent ID: a3d263e6-20a6-9cea-f60c-a9f772a7f444
* Content: [Add a self-service sign-up user flow - Azure AD](https:

[2022-05-27 14:14] KrishnaG-MSFT commented on #93132
@rmagalla, Sure.

As at this point it appears that there's no edits or updates needed for the referred documentation so I will be closing this issue for now but if there are further questions regarding this matter or feedback on the referred documentation, please do let us know and we will gladly continue the discussion.

[2022-05-27 14:14] #93132 closed

[2022-05-27 14:18] Sylphe88 opened #93590 "No Debian Support for Azure AD Login VMs"
I haven't been able to find a single flavour of Debian machines allowing the Azure AD Login option. For instance, A Debian 10 machine gives this management screen:
![image](https://user-images.githubusercontent.com/10143177/170717218-2cfd577e-2a69-49d5-88c5-a71b679c99ca.png)

Some Suse and CentOS images that are supposed to support AADSSHLogin are also blocked. Ubuntu and RHEL images work well, as

[2022-05-27 14:43] diligent176 opened #93591 "Next Steps section has two of the same hyperlinks"
Bottom of this page (**Next Steps**) there are two links pointed to the same place.  I think the second link should point here maybe?

https://docs.microsoft.com/en-us/azure/container-registry/container-registry-tutorial-private-base-image-update

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0236053-cc8e-d48c-d16a-85

[2022-05-27 15:04] #93575 closed

[2022-05-27 15:04] GitaraniSharma-MSFT commented on #93575
@sumner804 , I have updated the line under Virtual Network (default) as below and the changes will reflect shortly.
From : This is due each subnet address range is within an address range of the address space of a virtual network.
To : This is because each subnet address range is within an address range of the address space of a virtual network.

The second typo you mentioned is actually documente

[2022-05-27 15:06] marcus-hooper commented on #92107
I think there may still be an issue with Lines 95, 131

https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/virtual-machines/trusted-launch-portal.md

[2022-05-27 15:36] JamesTran-MSFT commented on #93576
@WillParry
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-05-27 15:38] JamesTran-MSFT commented on #93590
@Sylphe88
Thanks for your feedback! We will investigate and update as appropriate.

[2022-05-27 15:53] kobulloc-MSFT commented on #93582
@olavt We are reviewing the documentation and will get back to you shortly.

[2022-05-27 16:09] ecfan commented on #87242
Hi @jyrate,

The product team responded that the convertFromUTC() function's current implementation doesn't include the offset details, so they'd have to create a new function to provide that information. This work would qualify as a new feature request. Could you please open a feature request at the [Azure Logic Apps feedback site](https://feedback.azure.com/d365community/forum/cb47c115-7926-ec11

[2022-05-27 16:12] khdownie commented on #92741
@TarekNabeel sorry for the delay. I understand the confusion. As you state, Azure File Sync doesn't support storage account failover, because doing so will cause sync to stop working (synced file share must be in the same region) and may also cause unexpected data loss in the case of newly tiered files. However. in the very unlikely scenario that an entire region becomes unavailable, Microsoft wil

[2022-05-27 16:13] KranthiPakala-MSFT commented on #93562
@sharathmalladi - Thanks for reaching out. I just tried to verify the feedback you have provided and noticed that the node size for small is (4 vCores, 32GB memory) as mentioned in the document. Please see below image which I captured today.

![image](https://user-images.githubusercontent.com/50185738/170737940-81b333bf-4260-4bbb-83ec-8932193c1f43.png)

Please do share a screenshot of yours where

[2022-05-27 16:15] KranthiPakala-MSFT commented on #93566
Thanks for the feedback! We have assigned the issue to the content author to further review this and provide an update as appropriate.

@mssaperla - Could you please help assist on the above feedback. Thank you

[2022-05-27 16:20] kobulloc-MSFT commented on #93591
@diligent176 It looks like you are correct.  I'll get a PR out to address this.  Thank you again for bringing this to our attention!

[2022-05-27 16:21] GitaraniSharma-MSFT commented on #93556
@sancreations , I tried this command on a subnet and it worked perfectly:

![image](https://user-images.githubusercontent.com/67630903/170738900-b6d7837f-cf57-47d4-a5a1-cbeb8af73770.png)

Could you please try the below command to get the subnet details on which you are trying to disable PrivateEndpointNetworkPolicies and share the details?

`$VnetName = "Vnetname"`
`$RGName = "rgname"`
`$virtualNe

[2022-05-27 16:25] KranthiPakala-MSFT commented on #93570
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2022-05-27 16:29] cynthn commented on #92107
@marcus-hooper Yep, there were 2 more places that needed to be updated. I've filed a PR. Hopefully the changes will be live after 3:00 PM PST today. Thanks for catching that! :)

[2022-05-27 16:30] ecfan commented on #87242
#assign @ecfan

[2022-05-27 16:44] #87242 closed

[2022-05-27 16:47] RyanHill-MSFT commented on #93577
[@ljunquera](https://github.com/ljunquera), I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-05-27 16:47] Skatterbrainz commented on #93477
Thank you!

[2022-05-27 16:49] cynthn commented on #83306
#please-close Here are links to the specific sizes mentioned:

Dv5 - https://docs.microsoft.com/en-us/azure/virtual-machines/linux/compute-benchmark-scores?source=docs#dv5
Ev5 - https://docs.microsoft.com/en-us/azure/virtual-machines/linux/compute-benchmark-scores?source=docs#ev5

Thank you!

[2022-05-27 16:49] #83306 closed

[2022-05-27 17:09] eric-urban commented on #93498
@Johnnytechn and @ram-msft - Currently for continuous Speech translation with continuous LID, the v2 endpoint (via FromEndpoint) is required.

[2022-05-27 17:09] eric-urban commented on #93498
#please-close

[2022-05-27 17:09] #93498 closed

[2022-05-27 17:13] eric-urban commented on #93578
#please-close

[2022-05-27 17:13] khdownie commented on #82142
#please-close

[2022-05-27 17:13] #82142 closed

[2022-05-27 17:23] MartinJaffer-MSFT commented on #93573
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2022-05-27 17:24] timwarner-msft commented on #93517
Hi @yangchengs. It’s been a while since this mapping was done, but the logic was likely that virtual disks fall under the umbrella of "network services" (the ISO document is not truly updated to account for cloud technologies).

An advantage to managed disks is that customers can use role-based access control (RBAC) for more granular access control, Private Link access, among other benefits.

Our

[2022-05-27 17:24] timwarner-msft commented on #93517
#please-close

[2022-05-27 17:24] #93517 closed

[2022-05-27 17:26] FabianGonzalez-MSFT opened #93595 "Re state the deprecation line for TLS"
Recently, heard from Engineering Groups that deprecation time for TLS will be pushed out:

The dates for May 31 2022 have  been pushed out due to significant customers still relying on TLS 1.0  / 1.1

Please investigate what are the new dates and update the document accordingly.

**Talking about this specific line in the doc:**
"Key Vault connections via TLS 1.0 & 1.1 will be deprecated starting o

[2022-05-27 17:26] MartinJaffer-MSFT commented on #93573
Well I'm sure the tiers are listed on the [pricing page](https://azure.microsoft.com/en-us/pricing/details/synapse-analytics/).  But I agree, the valid options ought to be listed / documented somewhere.  I'll poke around a bit.

[2022-05-27 17:27] #93570 closed

[2022-05-27 17:27] KranthiPakala-MSFT commented on #93570
The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2022-05-27 17:34] #93562 closed

[2022-05-27 17:58] sowsan opened #93596 "Service Principal deletion"
The document says Service Principal created by aks won't be deleted automatically when we delete the aks cluster. I have tested by creating aks using UI and cli and the service principal created for the AKS got deleted automatically. Could you please clarify it? is documentation saying the service principal created manually?

https://docs.microsoft.com/en-us/azure/aks/kubernetes-service-principal?

[2022-05-27 18:03] JamesTran-MSFT commented on #93595
@FabianGonzalez-MSFT
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-05-27 18:27] fei0x opened #93597 "Article does not explain how to find partner id for subscription-less tenants"
I have a partner associate in my tenant, that does not have a subscription. where do i see the associated partner id?
I also have a tenant with only CSP subscriptions and the partner menu option is not present. I believe the partner id is 1 per tenant, why is it only accessible via a subscription? How do I see it in this tenant?
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this

[2022-05-27 18:31] Oury-MSFT commented on #93462
@lunar87, I have raised a pull request to update the doc. Changes will be live once pull request is approved. Thank you for helping improve our documentation.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/199678

[2022-05-27 18:46] #93462 closed

[2022-05-27 19:02] drazen-relias opened #93598 "Adding a new version defined in a swagger file"
While adding a new version, it looks like there is no way of pointing that one to a pertinent swagger file!?
Am I correct? And just wondering why that would be the case?
I would assume that APIM will allow user to point to a  corresponding version as opposed to just copy a previous version over.

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2022-05-27 19:14] jimmart-dev commented on #90396
The link azcopy releases link has been added to the article: https://github.com/Azure/azure-storage-azcopy/releases

[2022-05-27 19:33] MartinJaffer-MSFT commented on #93573
I found a little more in the REST Api page.  Something still mystifies me.

https://docs.microsoft.com/en-us/rest/api/synapse/sql-pools/create#sku

[2022-05-27 19:47] patpishiva commented on #93596
@sowsan ,
   Basically when you create the cluster using az aks create or by using Azure Portal it will create a default Managed Identity (equivalent to Service Principal) under the MC resource group which gets created as a part of AKS cluster creation.
So when we delete the AKS cluster that particular MC resource group also gets deleted which in-turn means the ManagedIdentity also gets deleted !

[2022-05-27 19:51] whhender commented on #92942
I've updated the document to make sure the basics are all still correct, and to reduce confusion!

Because of that, I'll close this request for now. But I'm working on a larger update to this FAQ so it can continue to stay accurate/relevant!

Thank you again for the update!

[2022-05-27 19:51] whhender commented on #92942
#please-close

[2022-05-27 19:51] #92942 closed

[2022-05-27 19:53] patrick-steele opened #93600 "Clarifications on Request time-out section"
When explaining the differences between Application Gateway V1 and V2, the section for V2 talking about a second attempt to another backend pool states:

1. I'm assuming "fails" means another time-out -- not an actual non-2xx HTTP failure?  If so, it should be clear this is talking about a time-out.
2. Assuming we are talking about a time-out, could you clarify if this second attempt uses the same

[2022-05-27 20:00] MartinJaffer-MSFT commented on #93573
The sku names appear to be (fetched from scaling options):
DW100c
DW200c
DW300c
DW400c
DW500c
DW1000c
DW1500c
DW2000c
DW2500c
DW3000c
DW5000c
DW6000c
DW7500c
DW10000c
DW15000c
DW30000c

The [powershell](https://docs.microsoft.com/en-us/powershell/module/az.synapse/update-azsynapsesqlpool?view=azps-8.0.0#example-1) uses the "DW___c" as "PerformanceLevel"

I'm starting to develop a theorey... these

[2022-05-27 20:16] Juliako commented on #93451
@Copennin , this is a duplicated issue that was fixed. Can you please check again and i will close it.

[2022-05-27 20:24] festivus opened #93601 "VM Scalesets compatability"
Does this work for vm scalesets?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed0dc6c0-66e0-4026-9f2a-1cdb8b04e5c5
* Version Independent ID: d02abfda-83d6-4022-bfb0-b3d0391a6223
* Content: [Understand the guest configuration feature of Azure Policy - Azure Policy](https://docs.microsoft.com/en-us/azure/governance/pol

[2022-05-27 20:29] bakerr99 commented on #92942
Thanks!

[2022-05-27 20:30] bwren commented on #61583
SUSE Linux Enterprise Server 15 is not supported by diagnostic extension. It is supported by Azure Monitor agent. Complete list of supported OS is at https://docs.microsoft.com/azure/azure-monitor/agents/agents-overview#supported-operating-systems.

#please-close

[2022-05-27 20:31] kalebpederson opened #93602 "Incorrect URI on "Send events using JavaScript" link"
The "Send events using JavaScript" link is pointing at the Python page instead of the [JavaScript page](https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-node-get-started-send).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 44c8a071-97c3-3680-937d-ce96dca97426
* Version Independent ID: fb85004b-e746-fe6a-e3

[2022-05-27 20:31] w-azure commented on #91776
Thanks for the feedback @jahlqvis. A new Visual Studio 2022 version was just merged (expect it to be published in a day or so). This will replace the 2019 how-to article directly. Some of the new changes in the 2022 version are:

- Cloud Explorer extension is retired, so you can replace some of those sections by using CLI instead.
- Slightly different interface, though most menu items we use for I

[2022-05-27 20:32] w-azure commented on #91776
#please-close

[2022-05-27 20:34] MisinformedDNA commented on #11755
@AverageCakeSlice Per https://github.com/Azure/azure-functions-host/issues/3153#issuecomment-1073158123, it may have something do to the alphabetical order.

[2022-05-27 20:34] bwren commented on #75128
Apologies for the horribly late response. We have a work item open for this and other improvements to Container Insights content.

#please-close

[2022-05-27 20:34] #75128 closed

[2022-05-27 20:34] nickludwig commented on #81334
Hey @jesussalasp - apologies for the (very) late response. I'm not sure if this issue is relevant anymore, but my answer is that if it's an SP initiated app that the response is sent to, then SSO isn't going to work because the request isn't coming from the app. If you want to test this, go to the app and sign in with the app. If the app isn't set up to accept unsolicited tokens from an IdP (i.e.,

[2022-05-27 20:34] nickludwig commented on #81334
#please-close

[2022-05-27 20:34] #81334 closed

[2022-05-27 20:40] JamesTran-MSFT commented on #93536
@Rykimaruh
Thank you for the detailed follow up on this! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-05-27 20:41] JamesTran-MSFT commented on #93589
@tictag
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-05-27 20:42] jimmart-dev commented on #90396
#please-close

[2022-05-27 20:42] #90396 closed

[2022-05-27 20:45] Sleekbobby1011 opened #93603 "Issue"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2022-05-27 21:07] bwren commented on #93393
Thanks, looks like we have an out of date screenshot. I'll get that updated.

#please-close

[2022-05-27 21:07] #93393 closed

[2022-05-27 21:08] bwren commented on #90829
Sorry for the late reply. This was a typo that we've corrected.

#please-close

[2022-05-27 21:08] #90829 closed

[2022-05-27 21:11] SrDirko opened #93604 "Instructions are not instructions"
"Dismiss user risk - The user risk policy blocks a user if the configured user risk level for blocking access has been reached. You can reduce a user's risk level by dismissing user risk or manually closing reported risk detections."

These are not instructions. This is a potential solution. How do you do it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2022-05-27 21:15] MarileeTurscak-MSFT commented on #93604
@SrDirko
Thanks for your feedback! We will investigate and update as appropriate.

[2022-05-27 21:18] jayeshdesai1 opened #93605 "Not clear if both are requried"
Hello, I would like some clarity on this article.
1. Can you clarify if access keys are still required when using managed identities? The article goes through setting up access key in vault it seems, then setup managed identity?
2.   Also is this true for both Linux and Windows, or is there a difference in the setup?
3. When is using managed identity only without access key going GA?
Thanks,
Jay

[2022-05-27 21:19] bwren commented on #90195
Sorry for the late reply. Thanks for this. This does appear to be out of date. I'll get it updated.

#please-close

[2022-05-27 21:19] #90195 closed

[2022-05-27 21:20] jimmart-dev commented on #79987
@ROSMITHJ-MSFT Thanks for reporting this, Robert. The portal dialog around this has changed somewhat and I am ensuring that I not only change the blade name, but also update the complete experience when enabling Defender.

[2022-05-27 21:28] jlichwa commented on #93595
@FabianGonzalez-MSFT the deprecation starts in May, just we no longer will disallow calls, so TLS 1.0, 1.1 will continue to work. This statement was just updated based on revision from engineering

[2022-05-27 21:28] jlichwa commented on #93595
#please-close

[2022-05-27 21:28] #93595 closed

[2022-05-27 21:29] geoffbrucepayne opened #93606 "Frequent disconnects"
When running this example, the loop forever is showing that I keep getting disconnected.  Here is a sample with a timestamp added to the `on_connect` and `on_disconnect` functions:
[code]

Any idea what might be going wrong?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bcf2a86a-1de0-2786-db87-58279ceffb22
* Version I

[2022-05-27 21:48] Copennin commented on #93451
All good now, thanks @Juliako!

[2022-05-27 21:48] TerryLanfear commented on #93576
@WillParry - Thank you for your feedback! I've asked the program manager for this article to review your feedback. I'll follow up here after they review.

[2022-05-27 22:02] airtank20 commented on #90396
Thanks so much!

[2022-05-27 22:09] ChaitanyaNaykodi-MSFT commented on #93545
Hello @Stephen-McDowell, we will now proceed to close this issue out. Please tag me in your response if you have any additional questions. Thank you!

[2022-05-27 22:09] #93545 closed

[2022-05-27 22:27] AaronMaxwell commented on #92691
The PR has been merged indicating that only sample values are provided. #please-close

[2022-05-27 22:27] #92691 closed

[2022-05-27 22:30] khdownie commented on #91497
@jesselve thanks for taking the time to point this out. I've made your suggested changes to the doc:

https://docs.microsoft.com/en-us/azure/storage/files/storage-files-configure-p2s-vpn-windows

[2022-05-27 22:32] khdownie commented on #85658
@jthulstrup thank you for pointing this out. I've updated the doc to fix this issue:

https://docs.microsoft.com/en-us/azure/storage/files/storage-files-configure-p2s-vpn-windows

[2022-05-27 22:32] khdownie commented on #80514
@jamesorlando thank you for pointing this out. I've updated the doc to fix this issue:

https://docs.microsoft.com/en-us/azure/storage/files/storage-files-configure-p2s-vpn-windows

[2022-05-27 22:41] khdownie commented on #80514
#please-close

[2022-05-27 22:41] #80514 closed

[2022-05-27 22:41] khdownie commented on #85658
#please-close

[2022-05-27 22:41] #85658 closed

[2022-05-27 22:42] khdownie commented on #91497
#please-close

[2022-05-27 22:42] #91497 closed

[2022-05-27 23:36] Juliako commented on #93451
#please-close

[2022-05-27 23:36] #93451 closed

[2022-05-27 23:52] Juliako commented on #93469
@RyanHill-MSFT , i am updating the docs, for now you can use this URL: https://azure.microsoft.com/pricing/details/video-indexer/

[2022-05-27 23:54] mike-urnun-msft commented on #93581
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-05-27 23:55] lipalath-ms opened #93608 "missing "Override the dashboard time settings at the tile level""
I do not see this option "**_Override the dashboard time settings at the tile level_**" on my tile:

![image](https://user-images.githubusercontent.com/6519992/170801278-cf06897c-1900-4cff-97b1-30d8f5c111a9.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b9fbf1b-0eac-5494-3cb6-ee7da4e25605
* Version Independent ID

[2022-05-27 23:59] mike-urnun-msft commented on #93598
Thank you for your feedback! We will review and update as appropriate.

[2022-05-28 00:30] MarcosMMartinez opened #93609 "Section "Deploy the container app" should be consolidated or omitted."
The insight from the section below is not unique to ACA - it's common for the deployment of a large variety of resources within the portal. I believe it should be omitted or consolidated to provide more cohesive consumption of the doc.

Ref:

![image](https://user-images.githubusercontent.com/29489962/170802518-afe88340-48d4-4ec1-9896-3e4d03b74bb2.png)

---
#### Document Details

⚠ *Do not edit th

[2022-05-28 00:43] MarileeTurscak-MSFT commented on #93604
Thanks! I made a pull request to add the instructions. https://github.com/MicrosoftDocs/azure-docs-pr/pull/199759/commits/56e181dcf19aa901e3f1debcafe2758c3f21f0a4

To **Dismiss user risk**, search for and select **Azure AD Risky users**, select the affected user, and select **Dismiss user(s) risk**.

[2022-05-28 00:43] #93604 closed

[2022-05-28 01:09] Sleekbobby1011 opened #93610 "- name: Azure WebApp uses: Azure/webapps-deploy@v2"

[2022-05-28 01:37] #93610 closed

[2022-05-28 01:59] shwetamathur7 commented on #93567
@charleswang007 Thanks for your feedback. We will investigate and update the thread.

[2022-05-28 02:01] shwetamathur7 commented on #93572
@MichaelBrooks-Informatyx Thanks for your feedback. We will investigate and update the thread.

[2022-05-28 02:01] KrishnaG-MSFT commented on #93608
@lipalath-ms Thanks for your comment! We will review and provide an update as appropriate.

[2022-05-28 02:05] shwetamathur7 commented on #93603
@Sleekbobby1011 Thanks for raising this. Please share the issue you are facing along with the page link you are referring for that issue.

[2022-05-28 02:07] shwetamathur7 commented on #93609
@MarcosMMartinez Thanks for your feedback. We will investigate and update the thread.

[2022-05-28 02:07] seesharprun commented on #92301
@seahawks8

I will take a look again and document the exact repo steps

[2022-05-28 02:14] shwetamathur7 commented on #93579
@ksysiekj Thanks for your feedback. Could you please share the document link which you are referring for this spreadsheet.

[2022-05-28 02:18] shwetamathur7 commented on #93597
@fei0x Thanks for your feedback. We will investigate and update the thread.

[2022-05-28 03:33] Jeremyp87 commented on #28250
Is there any progress on this?

[2022-05-28 03:37] Juliako commented on #92349
@kzuenkler-avanade, it does say it in the topic you linked to, not sure what you mean by "this information can be added here."

[2022-05-28 03:44] Juliako commented on #93469
#please-close

[2022-05-28 03:44] #93469 closed

[2022-05-28 03:46] Juliako commented on #92349
I will add this note to the AVA and Video Indexer overview topics as well. Please check on Tuesday.

[2022-05-28 03:47] Juliako commented on #92349
#please-close

[2022-05-28 03:47] #92349 closed

[2022-05-28 04:00] Juliako commented on #90854
@AnuragSharma-MSFT , will ping a PM to look into the issue

[2022-05-28 04:08] Juliako commented on #89860
The docs were updated with this information
https://docs.microsoft.com/en-us/azure/azure-video-indexer/video-indexer-output-json-v2
https://docs.microsoft.com/en-us/azure/azure-video-indexer/video-indexer-get-started

[2022-05-28 04:08] Juliako commented on #89860
#please-close

[2022-05-28 04:08] #89860 closed

[2022-05-28 05:30] masters3d opened #93611 "container-apps virtual network should mention additional cleanup in mc_ resource groups"
[Enter feedback here]

On the clean up section there is no mention of cleaning up that is automated by the service on behalf of the customer. I deleted an environment and it took a few minutes for the service to delete the mc_ resource group so I thought that this was going to be left behind.

See inline below https://docs.microsoft.com/en-us/azure/container-apps/networking#managed-resources

Mana

[2022-05-28 05:50] ksysiekj commented on #93579
@shwetamathur7 it's https://isfratio.blob.core.windows.net/isfratio/ISFRatio.csv

[2022-05-28 06:17] RohitRanjanMS commented on #92820
Thanks @onnov72
This is potentially a code issue; we are investigating the issue and will update here.
Meanwhile, you can pin to previous stable version of functions runtime.
i.e. 3.7.1.0 in case of v3

[2022-05-28 07:15] RohitRanjanMS commented on #92820
Upon further investigation, we found that there is no impact on v4 apps.

If you are using dashboard logging, consider disabling it by removing the settings.
If the issue persists, downgrade function runtime to previous stable version.
3.7.1.0 in case of v3.

[2022-05-28 07:51] OskarKlintrot commented on #92820
We hit this both when running locally and when we do some integration testing in our CI/CD pipeline. We don't use Azure Functions but web jobs that run on an App Service. So this is an issue outside of the scope of Function Apps as well. We haven't deployed anything to an App Service though for obvious reasons so I don't know if it will crash there as well.

[2022-05-28 07:55] RohitRanjanMS commented on #92820
@OskarKlintrot We are working on a hotfix, should be available after the long weekend.

[2022-05-28 13:12] geoffbrucepayne commented on #93606
Found the problem.  I had missed the trailing slash at the end of the publish topic after events.

[2022-05-28 13:12] #93606 closed

[2022-05-28 13:28] MayankBargali-MSFT commented on #93605
@jayeshdesai1 Thank you for your feedback! We will review and update as appropriate.

[2022-05-28 14:21] netsaurabh opened #93613 "Erroneous command"
The command in step 3 need to edited as otherwise this results into error into subsequent command. The value of blob_sas_token should be updated to r"" instead of the string shown below.

blob_account_name = "azureopendatastorage"
blob_container_name = "citydatacontainer"
blob_relative_path = "Safety/Release/city=Seattle"
blob_sas_token = r"?st=2019-02-26T02%3A34%3A32Z&se=2119-02-27T02%3A34%3A00Z&

[2022-05-28 14:28] dennyverse opened #93614 "Need to update information in getting "server key""
[Enter feedback here]
It's unclear on what does it mean by `server key` in FCM, as the firebase console seems to be changed. It uses Service Accounts and no server key.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6fd4915d-64a9-b703-f139-91338412825a
* Version Independent ID: e731d0e6-e063-d209-7faf-82db773e5d30
* Co

[2022-05-28 14:31] dennyverse commented on #93614
Align with Issue #93552

[2022-05-28 16:19] SrDirko commented on #93604
Thank you! I did Google and figure it out eventually. But this will help
the next person to stumble upon this article.

On Fri, May 27, 2022, 7:43 PM Marilee Turscak - MSFT <
***@***.***> wrote:

[2022-05-28 16:55] dalewb2 opened #93617 "Privileged Role Administrator issue"
In the section "Who can do what?" it reads "only a user who is in the Privileged Role Administrator ... can manage assignments for other administrators," and then in the next paragraph it reads "Users who are Privileged Role Administrators ... do not by default have access to view assignments to Azure resource roles in Privileged Identity Management"
I'm no expert, but in order to manage assignmen

[2022-05-28 17:45] jikuja opened #93618 "OpenVPN client configuration: cipher selection"
Current documentation lists ciphers used available for OpenVPN connections(1) but none of the documentation gives information on how to change or check used cipher with OpenVPN clients.

Previous ticket(2) was closed by a major documentation overhaul but this item is still unresolved.
The information should be available for all OpenVPN-based clients:  for OS X/Windows/Linux and for both certificat

[2022-05-28 17:50] shwetamathur7 commented on #93600
@patrick-steele Thanks for your feedback. We will investigate and update the thread.

[2022-05-28 17:51] shwetamathur7 commented on #93601
@festivus Thanks for your feedback. We will investigate and update the thread.

[2022-05-28 17:52] shwetamathur7 commented on #93602
@kalebpederson Thanks for your feedback. We will investigate and update the thread.

[2022-05-28 17:53] shwetamathur7 commented on #93611
@masters3d Thanks for your feedback. We will investigate and update the thread.

[2022-05-28 18:22] williamyinssw opened #93619 "sample of .net 4.8 isolated (samples/NetFxWorker) is missing"
The hyperlink of "[.NET Framework 4.8 isolated sample project](https://github.com/Azure/azure-functions-dotnet-worker/tree/main/samples/NetFxWorker)" is broken, cannot find "NET Framework 4.8 isolated sample project"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ad5f362-cbfb-0621-4389-6378f50359e4
* Version Independe

[2022-05-28 22:45] Juliako commented on #71369
The docs were moved and are now here: https://docs.microsoft.com/azure/azure-video-indexer/video-indexer-overview .
The general feedbacks seems to work.

The redirection from the old URL doesn't work, will take a look why.

[2022-05-28 22:46] Juliako commented on #71369
#please-close

[2022-05-28 22:46] #71369 closed

[2022-05-28 23:40] Juliako commented on #57516
Please use child elements under Insights and not SummarizedInsights as recommended in https://docs.microsoft.com/en-us/azure/azure-video-indexer/video-indexer-output-json-v2

[2022-05-28 23:40] Juliako commented on #57516
#please-close

[2022-05-28 23:40] #57516 closed

[2022-05-29 01:57] yosaeki opened #93620 "SQL Server / SQL Database of Synapse dedicated SQL pools are hidden types resources"
[Analyze data with dedicated SQL pools](https://docs.microsoft.com/en-us/azure/synapse-analytics/get-started-analyze-sql-pool)

    A dedicated SQL pool consumes billable resources as long as it's active. You can pause the pool later to reduce costs.

SQL Server / SQL Database created by this above procedure are marked as resources of "Hidden types" in the Managed resource group. I think that it s

[2022-05-29 04:19] hkamel opened #93622 "Release Tracker URL"
The page missing the actual link to the release tracker where the screenshot was taken, how to access it, and what is the URL?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 462a5558-5d08-ceb3-80f0-d0df9a4683f9
* Version Independent ID: 3e01d427-e45b-6cf9-5616-cb8f46be71ed
* Content: [AKS release tracker - Azure Kubern

[2022-05-29 05:16] SreejaBhattacharya-MSFT commented on #93622
Thank you for reaching out. We are currently reviewing the documentation and will update the thread at the earliest.
@zr-msft Could you please review this once and check if the link to the release tracker can be added to the documentation?

[2022-05-29 06:30] mike-urnun-msft commented on #93619
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-05-29 06:34] E-RELevant opened #93623 "`az login --identity` stopped working: Failed to connect to MSI"
It worked for a few days, then it stopped, dropping the following error:
![image](https://user-images.githubusercontent.com/20738487/170855501-9d2be04e-b693-48f8-be36-fbcc34958971.png)

[code]

#### Additional information
The VM has System assigned identity enabled.
![image](https://user-images.githubusercontent.com/20738487/170855062-d2878ace-c898-4395-b56a-d8fa182dbdd6.png)

And 'AcrPush' role t

[2022-05-29 06:45] akhudairymicrosoft commented on #91180
thank you for the update on status.

[2022-05-29 06:47] shwetamathur7 commented on #93613
@netsaurabh Thanks for your feedback. We will investigate and update the thread.

[2022-05-29 06:48] shwetamathur7 commented on #93614
@dennyverse Thanks for your feedback. We will investigate and update the thread.

[2022-05-29 06:48] mattmazzola opened #93624 "Inconsistency of Azure CLI code snippets in the powershell tabs"
I'm not sure if it's intentional but I noticed all of the code snippets on the tutorial pages seem to use the new Azure cli such as `az login` or `az group create ...`

but the powershell tab page for "Tutorial: Deploy a Dapr application to Azure Container Apps with an Azure Resource Manager or Bicep template" uses the older commands like

`Connect-AzAccount` and `New-AzResourceGroup`

I think thi

[2022-05-29 06:49] shwetamathur7 commented on #93617
@dalewb2 Thanks for your feedback. We will investigate and update the thread.

[2022-05-29 06:50] shwetamathur7 commented on #93618
@jikuja Thanks for your feedback. We will investigate and update the thread.

[2022-05-29 07:04] KrishnaG-MSFT commented on #93448
@AlexcFrench We have verified and updated the document as required. The update will go live and reflect in the document in less than a day. Thanks again!

[2022-05-29 07:04] #93448 closed

[2022-05-29 07:29] KrishnaG-MSFT commented on #93608
@lipalath-ms [This](https://docs.microsoft.com/en-us/azure/azure-portal/azure-portal-dashboards#customize-time-span-for-a-tile) "Override the dashboard time settings at the tile level" option would only be on tiles (E.g. metric charts) which allow you to select a different time span i.e., under Time settings. Please double check and confirm if you are not able to see it in a tile that support Time

[2022-05-29 07:30] kiranpradeep opened #93625 "Negotiate Function example for for isolated process"
In both in-process and c# script input binding, the negotiate function [sample](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-signalr-service-input?tabs=in-process&pivots=programming-language-csharp#example) is provided. That sample shows a function that acquires SignalR connection information using the input binding and returns it over HTTP.

But for isolated process s

[2022-05-29 07:42] ElazarK commented on #93422
@moravindMSFT the page you are referring to has a section about adding compliance, there is no screenshot i can see of the enable plans page. Can you please clarify?

[2022-05-29 07:42] KrishnaG-MSFT commented on #93548
@cdmdotnet We have verified and updated the document as required. The update will go live and reflect in the document in less than a day. Thanks again!

[2022-05-29 07:42] #93548 closed

[2022-05-29 07:53] guywi-ms commented on #92689
@andrefboliveira Thanks for your dedication to our documentation!
We've created an internal work item to update the queries shortly.
We are closing this issue for now, but feel free to comment here as necessary.
#please-close

[2022-05-29 07:53] #92689 closed

[2022-05-29 08:33] AbbyMSFT commented on #93347
@FoxSpirit77- Thank you for noticing and bringing this to our attention! We are actually in the middle of the process of going through all of the workbooks content, and we are aware that there is a lot of missing information. We are working on it!
I will keep this issue open and let you know as soon as we have updated the docs.
Thanks again for your dedication to our documentation,
Abby

[2022-05-29 11:17] cheapgrog opened #93626 "Why do I need Visual studio?"
Hi there,

I just don't understand why I need Visual studio to develop Azure functions that use System.Data.SqlClient, rather than just developing through he portal.

I am now considering switching to python as I believe I can develop this solely via the portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4785005-a

[2022-05-29 11:37] snerting opened #93628 "I don't see the App Roles menu"
In the document there is a reference to the App Roles menu, but in my AD I don't see it.

I think it's because I'm in a Active Directory of a Directory of AD Account. An directory created on my main Account.

Why is this removed here? I must go into the manifest file to add app roles.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2022-05-29 13:03] Bartolomeus-649 opened #93629 "Please use a character-set/font which Edge can properly render."
![Screenshot_20220529-144937_Edge](https://user-images.githubusercontent.com/7513795/170870098-043213f1-9d6f-4f96-95b9-f754202cfcd0.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa500b3f-b01e-862e-94d3-91d42dae7bad
* Version Independent ID: 41da757e-159d-9029-9e04-1f4c1202c73b
* Content: [Speech phonetic alphabet

[2022-05-29 13:10] mcmorry commented on #69436
I had the same initial issue, and I solved it by configuring the Redirect URI in the Authentication blade on the Azure portal.
I had only the `msal...://auth` one enabled that I was using for my mobile app. After selecting also the `https://{tenant}.b2cloging.com/oauth2/nativeclient` one it worked smoothly.

[2022-05-29 13:29] rezanid commented on #90953
I highly doubt that, but I will try both to make sure.

[2022-05-29 13:33] LiquaFoo opened #93630 "Grammatical Errors"
Under **Managing the lifecycle of digital identities**

Step 3: **if there are digital identities but visitors,**... the word "but" probably should be "for"
Step 4: **Configure that changes from the system of record**... I assume this should say "Ensure that changes from the system of record"

Under **Identity lifecycle management for representing employees and other individuals with an organizati

[2022-05-29 13:49] Bartolomeus-649 commented on #64027
Status?

[2022-05-29 13:52] kazidevelop opened #93631 "Azure CLI- Issue setting azureaduser does not work."
[Enter feedback here]

azureaduser=$(az ad user list --filter "userPrincipalName eq '<user-principal-name>'" --query [].objectId --output tsv)
does not work...
1. there is no objectId  the attribute should be id
2. using the userPrincipalName fails in the filter because the value of this field has special characters. "Invalid filter clause"
---
#### Document Details

⚠ *Do not edit this section. I

[2022-05-29 14:01] shwetamathur7 commented on #93620
@yosaeki Thanks for your feedback. We will investigate and update the thread.

[2022-05-29 14:03] kazidevelop opened #93632 "Version in Install-Package Azure.Identity -Version 1.5.0"
[Enter feedback here]
No Need to specify the version. Current version of is already 1.6.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e119045-e113-d9d1-1b5e-a87e6befe3aa
* Version Independent ID: 98fcc13e-5da6-7251-d702-d9ee07c00581
* Content: [Tutorial: Access data with managed identity - Azure App Service](https:

[2022-05-29 14:17] Bartolomeus-649 opened #93633 "Application Initialization, slot-swapping and more..."
Please elaborate on:

1. Swapping prodution and staging slots. Is the health check "slot swap aware"?
2. How does the health check handle "Application Initialization" which return 200 no matter the url?
3. Is there a way to programmatically report a site as bad/unresponsive or healthy? Note: For example there is no documented/supported way of controlling or running code before or during the applic

[2022-05-29 15:31] ggailey777 commented on #93626
#assign:ggailey777

[2022-05-29 16:17] ggailey777 commented on #93626
Hi @cheapgrog, thanks for your question. I agree that the ability you have to now develop Python functions in the portal is a great new feature. There are two challenges with doing C# development in the portal:

1. You are restricted to using C# script, which requires you to use function.json for definitions and extension bundles for extension packages.
2. It's harder to add in custom libraries/pa

[2022-05-29 16:53] nlasok1 opened #93634 "No mentioning that results to ports 80 and 443 should not be trusted."
This documentation page doesn't mention that in cases of using Azure Firewall this won't provide reliable test results to ports 80 and 443. The reason is that there is no direct TCP connectivity to these ports on destination IPs, since the TCP is terminated at the firewall's HTTP proxy.

So, you get Reachable status in the "Connection troubleshoot" when in fact this FQDN/IP is NOT reachable becaus

[2022-05-29 17:02] joslat opened #93635 "Azure AutoML not working properly in Tutorial-NYCTaxi python notebook"
[Enter feedback here]
Hi, on the step 11 of the https://docs.microsoft.com/en-us/azure/machine-learning/tutorial-auto-train-models walkthrough, it is not working (was working before, so seems recent/due to some changes) , upon executing this cell:
from azureml.core.experiment import Experiment
experiment = Experiment(ws, "Tutorial-NYCTaxi")
local_run = experiment.submit(automl_config, show_output=

[2022-05-29 17:18] shwetamathur7 commented on #93630
@LiquaFoo Thanks for your feedback. We will investigate and update the thread.

[2022-05-29 17:34] joslat commented on #93635
**Note:**
This is fixed by opening the terminal *Open terminal " on the toolbar in the left-hand pane of the Notebook section in Azure Machine Learning which opens a command window and then I execute the following command:

`pip install -r /anaconda/envs/azureml_py38/lib/python3.8/site-packages/azureml/automl/core/validated_linux_requirements.txt
`
I then reset the kernel and rerun the notebook, a

[2022-05-29 19:32] lipalath-ms commented on #93608
The tile allows to select different time spans. The tile shows cost analysis by Resource Group.

[2022-05-29 20:36] Juliako commented on #70112
@agribot2 , unfortunately VI currently does not support this capability.

[2022-05-29 20:37] Juliako commented on #70112
#please-close

[2022-05-29 20:37] #70112 closed

[2022-05-29 22:54] laminsamba opened #93637 "All request routing rules should have a priority defined starting from api-version 2021-08-01""
az network application-gateway create \
 --name myAppGateway \
 --location eastus \
 --resource-group myResourceGroupAG \
 --vnet-name myVNet \
 --subnet myAGsubnet \
 --capacity 2 \
 --sku Standard_v2 \
 --http-settings-cookie-based-affinity Disabled \
 --frontend-port 443 \
 --http-settings-port 80 \
 --http-settings-protocol Http \
 --public-ip-address myAGPublicIPAddress \
 --cert-file appgwce

[2022-05-30 00:34] shwetamathur7 commented on #93623
@E-RELevant Thanks for your feedback. We will investigate and update the thread.

[2022-05-30 00:37] shwetamathur7 commented on #93625
@kiranpradeep Thanks for your feedback. We will investigate and update the thread.

[2022-05-30 00:42] shwetamathur7 commented on #93628
@snerting Thanks for your feedback. We will investigate and update the thread.

[2022-05-30 01:52] Johnnytechn commented on #93498
@eric-urban So this preview feature which references the v2 endpoint is available in Global but has not been available
 in Mooncake? Right？ Please help to confirm it.

[2022-05-30 01:55] AdamGuanhh opened #93638 "the hybrid DR scenarios"
What does the hybrid DR solution mentioned here refer to? I didn't find a relevant explanation elsewhere in the documentation.Is it a new program that is not available yet?
![image](https://user-images.githubusercontent.com/106216778/170903135-5b0dd2bc-752d-4990-905c-f21f1fa678ae.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2022-05-30 04:15] SwathiDhanwada-MSFT commented on #92905
Assigning to content author @SnehaSudhirG  for doc-enhancement.

[2022-05-30 04:16] SwathiDhanwada-MSFT commented on #93257
Assigning to content author @AaronMaxwell  for review.

[2022-05-30 04:17] SwathiDhanwada-MSFT commented on #93349
@Ankit10100  As we haven't heard from you, we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2022-05-30 04:17] #93349 closed

[2022-05-30 04:17] jyama4ta opened #93641 "[Update Request] Replace 'aks snapshot show' to 'aks nodepool snapshot show'"
If we run ''aks snapshot show'' command as per this document, we get following WARNING. Please update this document for future release.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba2a49af-10d0-9f2a-92b4-564f8a7ab514
* Version Independent ID: 291646ac-698b-569c-c603-a3bbe74e3013
* Content: [Snapshot Azure Kubernetes

[2022-05-30 04:18] SwathiDhanwada-MSFT commented on #93631
@kazidevelop Thanks for your comment. We will review the issue and get back to you shortly.

[2022-05-30 04:19] sreekzz commented on #92563
#please-close

[2022-05-30 04:19] #92563 closed

[2022-05-30 04:21] ram-msft commented on #93629
@Bartolomeus-649 Thanks for the question. We are investigating the issue and will update you shortly.

[2022-05-30 04:21] SreejaBhattacharya-MSFT commented on #93641
@jyama4ta
Thanks for pointing it out. I'll review and update the document shortly.

[2022-05-30 04:25] SwathiDhanwada-MSFT commented on #93482
@scottwtang Thanks for your feedback.

Assigning to content author @JnHs  for review.

[2022-05-30 04:26] AjayKumar-MSFT commented on #93633
@Bartolomeus-649, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2022-05-30 04:27] AjayKumar-MSFT commented on #93624
@mattmazzola,   Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2022-05-30 04:32] SnehaAgrawal-MSFT commented on #93632
@kazidevelop Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-30 04:32] AjayKumar-MSFT commented on #93610
Sleekbobby1011,    Thanks for leveraging Azure docs feedback channel to raise this question. Since you have closed the thread I presume the issue is resolved, if it's not the case or you need further assistance kindly just let us know. Also, Please share the doc for which this feedback is applicable to.

As a side note, this channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback a

[2022-05-30 04:40] shashishailaj commented on #93634
@nlasok1
Thank you for your feedback . We will investigate and update the thread.

[2022-05-30 04:44] AshokPeddakotla-MSFT commented on #93392
@jgossett Hope that clarifies your query. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-05-30 04:44] #93392 closed

[2022-05-30 04:59] MughundhanRaveendran-MSFT commented on #93443
@xmseraph , Did you get a chance to look at my comment? Please let me know if you have any questions

[2022-05-30 05:00] SreejaBhattacharya-MSFT commented on #93641
I have raised a PR with the necessary changes to update the documentation. It will takes a few days for the PR to get merged. Once that is done, you should be able to see the changes. Thanks again for helping us improve our documentation.

[2022-05-30 05:00] #93641 closed

[2022-05-30 05:05] SadiqhAhmed-MSFT commented on #93638
@AdamGuanhh Thank you for your post. We will look into this and get back to you soon.

[2022-05-30 05:06] CHEEKATLAPRADEEP-MSFT commented on #93144
@songhua-zhang The above is not specific to this documentation. When I tried to open an Microsoft official document with Redocly - I'm unable to view.

Since this issue is not related directly to the document and it's related to third-party tool.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the

[2022-05-30 05:07] #93144 closed

[2022-05-30 05:21] SadiqhAhmed-MSFT commented on #93506
@Vikram1988 Any update on this?

[2022-05-30 05:24] joshbinney opened #93642 "C# versions"
Hey just wondering if someone can update this to include C# tutorials, it's not very clear how to actually code this up in other languages. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 387fac47-1aa6-8949-e828-2ce0019d91b2
* Version Independent ID: cccff84e-393e-d817-de0e-99466f3368bb
* Content: [Provision dev

[2022-05-30 05:27] naokitakeda14 opened #93643 "Requesting to modify RPO"
[Enter feedback here]
The document says about Geo Restore that RPO would be <15 min on [Overview of business continuity - Azure Database for MySQL Flexible Server | Microsoft Docs](https://docs.microsoft.com/en-us/azure/mysql/flexible-server/concepts-business-continuity).
However, another document mentions "This delay can be up to an hour, so, if a disaster occurs, there can be up to one hour data

[2022-05-30 05:29] AnuragSingh-MSFT commented on #93597
@fei0x, thank you for bringing it to our attention. I am assigning this to our content team for further review.

@keferna, can you please review this issue and share your thoughts. Thanks.

[2022-05-30 05:33] ShaikMaheer-MSFT commented on #93332
@pnarsi Yes Azure Databricks not supports private git servers still apply if the Databricks environment is VNET.

Please Note, GitHub forum is dedicated for docs related issues. For any technical queries or clarifications, we encourage to utilise Microsoft Q & A platform. Kindly raise your query on [Microsoft Q&A Platform](https://docs.microsoft.com/en-us/answers/index.html)

[2022-05-30 05:36] #93332 closed

[2022-05-30 05:37] pnarsi commented on #93332
Thanks for that. It is probably worth mentioning this fact in the docs as well.

[2022-05-30 05:39] ShaikMaheer-MSFT commented on #93345
@akirajay Under pre-requisites section its mentioned that Your workspace must assigned the Azure Contributor role to the affected Dedicated SQL Pools. Hope helps customers to have proper permissions to MSI. Please check and let us know if any concerns. Thank you.

[2022-05-30 05:39] AshokPeddakotla-MSFT commented on #93642
@joshbinney Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-05-30 05:42] ShaikMaheer-MSFT commented on #93348
@WilliamDAssafMSFT Could you please validate customer feedback and enhance document as appropriate? Thank you.

[2022-05-30 05:45] SnehaAgrawal-MSFT commented on #93322
@bansalrachita Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2022-05-30 05:52] nkumars commented on #92641
@yoelhor / @JamesTran-MSFT , please don't close the ticket unless it is resolved. We are trying to have a unified solution where login should be possible using a same user flow **and better be of the one available in the standard user flows**. From the screen shots above, we will have to create two user flows, one for email login and another for UserID login. It is possible to use Phone/Email sign

[2022-05-30 05:53] ShaikMaheer-MSFT commented on #93350
@Candelit Thanks for the feedback. GitHub forum is dedicated for docs related issues. For any product improvements we encourage to utilize [feedbacks portal](https://feedback.azure.com/d365community/forum/9b9ba8e4-0825-ec11-b6e6-000d3a4f07b8). PG team will be closely monitoring feedbacks there and consider them for future releases. Thank you.

[2022-05-30 05:58] Hareesh061 opened #93645 "Not A Issue"
[Enter feedback here]
This is the one  of the Good learing plateform.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1b9d373-2140-ead0-e1b2-de63f8e94125
* Version Independent ID: 0bcd0103-042c-0ed8-2c8b-922ee27bff3c
* Content: [Tune Model Hyperparameters - Azure Machine Learning](https://docs.microsoft.com/en-us/azure

[2022-05-30 06:01] CHEEKATLAPRADEEP-MSFT commented on #93369
@mrfabbers Yes, it looks like issue from docs.azuredatabricks.net gives certification error message. You can try to use official document from Microsoft.

Document from Databricks: https://docs.azuredatabricks.net/administration-guide/account-settings/account.html#upgrade-or-downgrade-an-azure-databricks-workspace

Document from Microsoft: https://docs.microsoft.com/en-us/azure/databricks/administ

[2022-05-30 06:01] #93369 closed

[2022-05-30 06:02] ShaikMaheer-MSFT commented on #93410
@pnarsi There is document section for Networking & security. Where various scenarios and concepts covered for purview.
https://docs.microsoft.com/en-us/azure/purview/catalog-private-link

Could you please check them and see if that helps.
![image](https://user-images.githubusercontent.com/84302758/170927000-0acd036a-3cb3-44e3-9f06-1214be51168f.png)

[2022-05-30 06:03] ihamquentin opened #93646 "download blob blob client"
download blob uses blob client and blob client already has a blob name, this can be confusing.
# Download the blob to a local file
# Add 'DOWNLOAD' before the .txt extension so you can see both files in the data directory
download_file_path = os.path.join(local_path, str.replace(local_file_name ,'.txt', 'DOWNLOAD.txt'))
blob_client = blob_service_client.get_container_client(container= container_na

[2022-05-30 06:08] ShaikMaheer-MSFT commented on #93414
@mssaperla Could you please validate customer feedback and update document as appropriate? Thank you.

[2022-05-30 06:22] StefanieJaeger opened #93647 ""User Provisioning" is now under "Settings" not "Directory" on Jira"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04509836-867e-279f-c1d6-135a237d357e
* Version Independent ID: e05a10ce-c46b-334e-78e2-30b416ed904a
* Content: [Tutorial: Configure Atlassian Cloud for automatic user provisioning with Azure Active Directory](https://docs.microsoft.com/en-us/azure/act

[2022-05-30 06:25] jyama4ta commented on #93641
@SreejaBhattacharya-MSFT Thank you so much for your quick help!!

[2022-05-30 07:09] MayankBargali-MSFT commented on #93377
@AbhishekTripathi Thanks for reporting it. As @dlepow has confirmed that the URL is now redirecting correctly to the [Policy fragment document](https://docs.microsoft.com/en-us/azure/api-management/policy-fragments) as below.

![image](https://user-images.githubusercontent.com/67255909/170936278-60932fb1-1417-448f-b44b-c21c2b303361.png)

We will now proceed to close this thread. If there are furth

[2022-05-30 07:09] #93377 closed

[2022-05-30 07:10] adjustit opened #93648 "Incomplete examples"
[Enter feedback here]
This help document seems to be incomplete. It doesn't take into account file uploads in multi part forms.
while it is possible to get the uploaded file content by using triggerFormDataValue('<filename>') , it makes no mention of how to retrieve the filename and the file type.
The file name is required if you want to upload the file to blob storage for example.

---
#### Docum

[2022-05-30 07:16] JananiRamesh-MSFT commented on #93480
@HiroakiMachida Just following up here. Hope my previous comment clears things up.

[2022-05-30 07:32] kschinspari commented on #93573
@MartinJaffer-MSFT thank you for this.
I found an example that only used the "DW100c" SKU and decided that it would have to do.

This challenge is actually the same for every module that I build - the documentation specifies that a parameter is a string, but finding out what values are valid sometimes takes hours for that alone. It would be really, *really* helpful to have a list or help to find a

[2022-05-30 07:43] SumanthMarigowda commented on #93646
@ihamquentin Thanks for the question! We are investigating and will update you shortly.

[2022-05-30 07:45] Sanjeev017 opened #93649 "Registry location"
Hi Team,

The below statement in the article is vague-
Prepare your image for Teams
**To enable media optimization for Teams, set the following registry key on the host:**
HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Teams

This registry has to be added to the AVD VM so it would be great if the above could be modified as "To enable media optimization for Teams, set the following registry key on the host

[2022-05-30 07:49] SumanthMarigowda commented on #93572
@MichaelBrooks-Informatyx  Can you provide more context on the issue.

[2022-05-30 07:52] IanLuo opened #93650 "More information on request detail"
Can you provide more information on the request detail, the endpoint, header and the body. there's only some pictures, no text can be copied, or link can refer to

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f168986-8f8f-4e97-cba8-547564c97eb5
* Version Independent ID: 12ac4571-4f35-300e-9119-8d13673f3722
* Content:

[2022-05-30 08:03] SreejaBhattacharya-MSFT commented on #93649
@Sanjeev017 , Thanks for the feedback. We will review and update the document shortly. Thank You.

[2022-05-30 08:09] GYOERFT opened #93651 "Update Workspace URLs"
Hello, in the section "per-workspace URL" you say one should not use the legacy region URLs. The notbook-url-section still references the legacy region urls though.

Greetings
Till

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 263b80a1-69db-f556-e303-392f93aeeff5
* Version Independent ID: 31f8747f-adc9-c081-d3d0-29de9

[2022-05-30 08:29] AnuragSharma-MSFT commented on #93643
@naokitakeda14 Thank you for the detailed feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2022-05-30 08:49] SnehaAgrawal-MSFT commented on #93473
@paulaustin-automutatio Thanks for reaching here! You may refer to this detailed document here might be helpful. https://docs.microsoft.com/en-us/azure/static-web-apps/configuration

[2022-05-30 08:58] YutongTie-MSFT commented on #93458
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-05-30 09:03] VikasPullagura-MSFT commented on #93558
@ToruMakabe
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-05-30 09:03] VikasPullagura-MSFT commented on #93558
@craigshoemaker
Can you please check and add your comments on this doc update request as applicable.

[2022-05-30 09:04] VikasPullagura-MSFT commented on #93611
@craigshoemaker
Can you please check and add your comments on this doc update request as applicable.

[2022-05-30 09:10] Nirmal4G opened #93652 "Missing links and pages in Azure Cloud Service docs"
There are missing links to the missing pages in the following section of the docs.

https://github.com/MicrosoftDocs/azure-docs/blob/69c11d6790db7001a585c6e9be9f412282df2f49/articles/cloud-services-extended-support/cloud-services-model-and-package.md#L23-L27

---

<details>
<summary><h4>Document Details</h4></summary>

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2022-05-30 09:13] SnehaAgrawal-MSFT commented on #93481
@kano4 Thanks again for the feedback! This is taken care now. We will now proceed to close this thread. If there are further questions regarding this matter, please let us know.

[2022-05-30 09:13] #93481 closed

[2022-05-30 09:17] rifaterdemsahin opened #93653 "Azure Data Factory Linked Template Deployment Change Regions"
If I want to change the region of the Azure data factory it is not documented how here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02fc2654-e6e1-12f9-6efc-696dcc407e7f
* Version Independent ID: b541405a-d07b-606f-d943-a5f1bec174cf
* Content: [Tutorial - Deploy a linked template - Azure Resource Manager](https://doc

[2022-05-30 09:37] shwetamathur7 commented on #93603
Closing this issue as we don't have enough info on this. Please free to reopen to provide more information.

[2022-05-30 09:47] #93649 closed

[2022-05-30 10:07] shwetamathur7 commented on #93465
As we don't have any updates regarding this issue, so closing this thread.

[2022-05-30 10:07] #93465 closed

[2022-05-30 10:08] shwetamathur7 commented on #93532
As we don't have any updates regarding this issue, so closing this thread.

[2022-05-30 10:08] #93532 closed

[2022-05-30 10:18] L-u-k-e-GIT commented on #93447
Hi i was able to user AzApi to deploy a vm application on a vm. If you want here there is the code:
https://github.com/L-u-k-e-GIT/module_vm_applications.git

[2022-05-30 10:25] Abhishek-Sharan opened #93654 "Query on "https://docs.microsoft.com/en-gb/azure/firewall/premium-features#idps""
[Enter feedback here]
Hi Team,

Kindly review "https://docs.microsoft.com/en-gb/azure/firewall/premium-features#idps", specifically this line " The IDPS signatures are applicable for both application and network level traffic (Layers 4-7)"

Feedback: if it's network level traffic then it should be Layer 3 instead of Layer 4. Please review and advise on it.

Regards
Abhishek Sharan
absharan@microso

[2022-05-30 10:27] rishjai-msft commented on #93638
"Hybrid DR" refers to the following scenarios:

- VMWare to Azure Disaster Recovery
- Hyper-V to Azure Disaster Recovery
- Physical to Azure Disaster Recovery

[2022-05-30 10:30] shwetamathur7 commented on #93338
Hi @aelij There are many ways to get the access token based on application types and different scenarios which are mentioned in each documentation to get the access token.

@nickludwig Could you please help us, where all the ways to retrieve access token are documented in the same place.

[2022-05-30 10:33] #93350 closed

[2022-05-30 10:43] chetan-goenka-by opened #93655 "Role action removed ?"
In the documentation for Microsoft.Sql resource provider, I can see "Microsoft.Sql/servers/databases/dataMaskingPolicies/rules/delete" exists but when I run a powershell command to retrieve via Get-AzProviderOperation it doesnt exist, is the role operation deprecated?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3321

[2022-05-30 10:44] ishchatul commented on #92884
I am following this https://docs.microsoft.com/en-us/learn/modules/microservices-aspnet-core/3-solution-architecture and getting the same error

[2022-05-30 10:55] rifaterdemsahin opened #93656 "When deploying to a different subscriptionid and regions"
How do I pass the different subscriptionid and regions into the linked templates at the build time?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b5392af-90b9-8dbb-663d-9ea12defe00e
* Version Independent ID: 54296020-8b98-ea17-7915-5b918b173793
* Content: [Automated publishing for continuous integration and delivery

[2022-05-30 11:07] dr-consit opened #93657 "Recommendation can't be applied"
The documentation here says that one should "[Increase file size to get more IOPS](https://docs.microsoft.com/en-us/azure/azure-sql/managed-instance/resource-limits?view=azuresql#file-io-characteristics-in-general-purpose-tier)"

This in turn leads to another page: "improve performance by [increasing the file size](https://techcommunity.microsoft.com/t5/Azure-SQL-Database/Increase-data-file-size-t

[2022-05-30 11:09] AnuragSharma-MSFT commented on #93657
@dr-consit Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-05-30 11:37] olavt commented on #91768
I have tested this again today using the same versions / syntax as found here:

https://docs.microsoft.com/en-us/azure/container-apps/microservices-dapr-azure-resource-manager?tabs=bash&pivots=container-apps-bicep

And I get the same warning:

olav@Azure:~$ az deployment group create --resource-group "Test" --template-file ./HomeAutomationWeb.bicep --parameters ./HomeAutomationWebParameters.json
/

[2022-05-30 11:41] CHEEKATLAPRADEEP-MSFT commented on #93507
@AriCohen8  I would suggest to keep an eye on [Azure updates.](https://azure.microsoft.com/en-in/updates/)
Azure updates provide information about important Azure product updates, roadmap, and announcements.

[2022-05-30 11:41] #93507 closed

[2022-05-30 11:49] Givary commented on #93647
@StefanieJaeger Thank you for your feedback, let me investigate and revert back

[2022-05-30 11:51] maestros opened #93662 "Incomplete steps how to register a VC Request Service app in AAD"
The document titled "Configure your tenant for Azure AD Verifiable Credentials" contains a section named "Register an application in Azure AD". This section mentions: "Search for the service principal that you created earlier, Verifiable Credential Request Service, and select it.".

However, there are no previous steps in the document that describe how to create the service principal.

https://git

[2022-05-30 12:09] Givary commented on #93655
@chetan-goenka-by Thank you for raising this, let me investigate and revert back.

[2022-05-30 12:10] rifaterdemsahin opened #93663 "Should i insert the GlobalParametersUpdateScript before the template deployment ?"
How do I pass the different subscriptionid and regions into the linked templates at the build time?

I am trying to change the region of the adf from source to destination
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b5392af-90b9-8dbb-663d-9ea12defe00e
* Version Independent ID: 54296020-8b98-ea17-7915-5b918b173793
*

[2022-05-30 12:15] sreekzz commented on #73250
@sunscorch
We have come up with a new page for Kafka Mirror Maker 2. Hope this resolves your concern.
https://docs.microsoft.com/en-us/azure/hdinsight/kafka/kafka-mirrormaker-2-0-guide

[2022-05-30 12:29] #93515 closed

[2022-05-30 12:30] shashishailaj commented on #93650
@IanLuo
Thank you for your feedback . We will investigate and update the thread.

[2022-05-30 12:31] SreejaBhattacharya-MSFT commented on #93515
I have raised a PR to update the doc with this point. It will take sometime to reflect in the documentation. Thanks again for helping us improve our Docs.

[2022-05-30 12:45] endintiers opened #93664 "No need to double-kill the projectKind"
projectKind should only be in the metadata section:
  "metadata": {
    "projectKind": "CustomEntityRecognition",
    "storageInputContainerName": "{CONTAINER-NAME}"

If you put projectKind in the assets section you get an error
  "assets": {
    **"projectKind": "CustomEntityRecognition",**  <== import error
    "entities": [
      {

---
#### Document Details

⚠ *Do not edit this section. It is

[2022-05-30 12:52] krisbock opened #93665 "The examples are missing a credential value from the SDK tabs when creating MLClient.from_config"
Python SDK examples use:
ml_client = MLClient.from_config()

However, this causes an error.
TypeError: from_config() missing 1 required positional argument: 'credential'

Workaround:
from azure.identity import DefaultAzureCredential
from azure.ai.ml import MLClient

credential = DefaultAzureCredential()
ml_client = MLClient.from_config(credential)

Applies to both tabs - "Python SDK: Identity base

[2022-05-30 13:19] SreejaBhattacharya-MSFT commented on #93596
@sowsan
Checking in to see if your query has been resolved?

[2022-05-30 13:32] kimjamia opened #93666 "Application Insights: DependencyTrackingOptions missing from schema documentation"
On [this page in the purple note box](https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-dependencies#advanced-sql-tracking-to-get-full-sql-query), it says to add the following to host.json but according to the page referenced below, there's no `DependencyTrackingOptions` or `enableSqlCommandTextInstrumentation` in the schema.
[code]

On the other hand, the other property, `EnableDep

[2022-05-30 13:50] ShachafGoldstein opened #93667 "Typo in AKS CA YAML example"
There is a typo in the YAML for the secret - `apiVerison` instead of `apiVersion`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df4734d7-cbfc-686e-f21b-ee5fce0e8ec6
* Version Independent ID: bf4d2780-378e-dc46-47a7-2fec8c3524b6
* Content: [Custom certificate authority (CA) in Azure Kubernetes Service (AKS) (preview) -

[2022-05-30 13:51] CHEEKATLAPRADEEP-MSFT commented on #93651
@GYOERFT  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-05-30 13:52] CHEEKATLAPRADEEP-MSFT commented on #93656
@rifaterdemsahin  Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2022-05-30 13:53] #93663 closed

[2022-05-30 13:57] sowsan commented on #93596
Yes thanks for your detailed explanation. Appreciate it 🙏

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: SreejaBhattacharya-MSFT ***@***.***>
Sent: Monday, May 30, 2022 9:20:03 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: sowmyan soman ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Service Principal deletion (Issue #93596)

@sowsa

[2022-05-30 14:00] #93596 closed

[2022-05-30 14:00] shwetamathur7 commented on #93637
@laminsamba Thanks for  your feedback. We will investigate and update the thread.

[2022-05-30 14:57] felipeaugusto-ergo opened #93669 "publicipaddresses resource type is not clear"
publicipaddresses resource type should be clearly stating that only basic SKU is supported to be moved.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23df5354-6833-a5da-0eb3-d860150c8b78
* Version Independent ID: 682ec206-0fda-3e0b-5841-543860a87e34
* Content: [Move operation support by resource type - Azure Resource

[2022-05-30 15:04] ShaikMaheer-MSFT commented on #93348
Please feel free to re-open issue if require to discuss more. Thank you.

[2022-05-30 15:04] #93348 closed

[2022-05-30 15:06] asocorro commented on #93119
Hi, any updates on this?

Thanks!

________________________________
***@***.***

Adolfo J. Socorro, Ph.D.
President
eSolutions, Inc.

eSolutionsPR.com <http://www.esolutionspr.com/>
LinkedIn Profile<https://www.linkedin.com/in/adolfosocorro/>
787-553-3200 (Mobile)
.:. Business Intelligence and SQL Server Solutions .:.

The information contained in this message is a private interchange between the

[2022-05-30 15:12] helloyesthisisdave opened #93670 "Full Fidelity data type suffixes in documentation do not match those in the Analytical Store"
Within the [Full Fidelity Schema Representation](https://docs.microsoft.com/en-us/azure/cosmos-db/analytical-store-introduction#full-fidelity-schema-representation) section, there are 3 numerical types of `int32`, `int64` and `float64` listed.  In my testing numerical values are all being returned with a suffix of `num`, which is not included in the documentation at all.

I am also getting values

[2022-05-30 15:27] MarileeTurscak-MSFT commented on #93588
Thanks @tictag! I agree. Since the new language in the portal makes it clear what each setting allows, the note is no longer relevant.

I made a pull request to remove it from the document. https://github.com/MicrosoftDocs/azure-docs-pr/pull/199833

CC @msmimart

[2022-05-30 15:27] #93588 closed

[2022-05-30 15:37] MarileeTurscak-MSFT commented on #93630
Thanks for pointing out these errors, @LiquaFoo! I made a pull request to fix these as well as some of the other grammatical errors in the article. https://github.com/MicrosoftDocs/azure-docs-pr/pull/199834

[2022-05-30 15:37] #93630 closed

[2022-05-30 15:42] ChaitanyaNaykodi-MSFT commented on #93654
Thank you for your feedback! We will review and update as appropriate.

[2022-05-30 15:47] vincentonderwaater opened #93671 "Error in MySQL Flexible Server replication documentation"
The argument for passing in the read replica name [when stopping replication](https://docs.microsoft.com/en-us/azure/mysql/flexible-server/how-to-read-replicas-cli#stop-replication-to-a-replica-server) is `--name`, NOT `--read-replica`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8bbff09e-fcd8-abb6-9650-e416ab9ce6a4

[2022-05-30 15:51] SwathiDhanwada-MSFT commented on #93669
@felipeaugusto-ergo Thanks for your comment. We will review the issue and get back to you shortly.

[2022-05-30 15:54] shashishailaj commented on #92744
@dandresini We have an update from the product group . The product group has successfully tested the fix for this issue.  It will be deployed and it should be globally fixed in the next two weeks approximately . Due to the huge distributed nature of the B2C environment deploying the components would take time. We will close this issue now and changes should be live in a few days.

Thank you .

[2022-05-30 15:54] #92744 closed

[2022-05-30 15:57] MarileeTurscak-MSFT commented on #93413
Hi @dshimogawa ,

This should be the same info that the standard B2B redemption experience requires  (Reading name, email address, and photo)  See https://docs.microsoft.com/en-us/azure/active-directory/external-identities/redemption-experience#consent-experience-for-the-guest

I made a pull request to include this in the document. https://github.com/MicrosoftDocs/azure-docs-pr/pull/199835

[2022-05-30 15:57] #93413 closed

[2022-05-30 16:00] PingPongSet opened #93672 "Where is Smart Groups?"
I cannot see the Smart Groups under Monitor -> Alerts?

![image](https://user-images.githubusercontent.com/2021414/171028150-8d163b5b-d3e8-426f-996f-1a2588cc88d6.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17a05825-89ab-5622-aca5-c8ec819bfeb0
* Version Independent ID: ae5c2ceb-ed67-a885-111d-3e52b910202e
* Cont

[2022-05-30 16:17] VikasPullagura-MSFT commented on #93667
@ShachafGoldstein Thanks for pointing this out. The document is updated and changes will go live soon.

[2022-05-30 16:25] christianarg opened #93673 "The documentation for Azure functions Isolated is incorrect. As far as I know, the package Microsoft.Azure.Functions.Extensions works for In-Process mode"
The documentation for Azure functions Isolated is incorrect.

https://docs.microsoft.com/en-us/azure/azure-app-configuration/quickstart-azure-functions-csharp?tabs=in-process

[assembly: FunctionsStartup(typeof(FunctionApp.Startup))]

never fires

As far as I know, the package Microsoft.Azure.Functions.Extensions https://www.nuget.org/packages/Microsoft.Azure.Functions.Extensions/ works for In-Pro

[2022-05-30 16:35] #93667 closed

[2022-05-30 16:48] mike-urnun-msft commented on #93293
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-05-30 16:48] #93293 closed

[2022-05-30 16:56] BryanTrach-MSFT commented on #93645
@Hareesh061 Thank you for the feedback! We appreciate hearing when a document is helpful.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-05-30 16:57] #93645 closed

[2022-05-30 16:58] BryanTrach-MSFT commented on #93648
@adjustit Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-30 16:59] BryanTrach-MSFT commented on #93652
@Nirmal4G Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-05-30 17:00] BryanTrach-MSFT commented on #93653
@rifaterdemsahin Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-05-30 17:05] zaalion opened #93675 "The Global Admin user in B2C"
[Enter feedback here]
Hello,

So after we configured all the steps, and see the logs in the log analytics workspace, can we revoke the Global Administrator access from the user? or even remove it from the Security group? Or should we create a dedicated user and permanently leave it in the security groups?

Clarification is appreciated,
R

---
#### Document Details

⚠ *Do not edit this section. It

[2022-05-30 17:08] gachandw commented on #93652
***@***.******@***.***> to look into this.

________________________________
From: Bryan Trach ***@***.***>
Sent: Monday, May 30, 2022 10:29:13 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Gaurav Chandwani ***@***.***>; Assign ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Missing links and pages in Azure Cloud Service docs (Issue #93652)

Assigned #93652<https://nam06.safelinks.protecti

[2022-05-30 17:10] MarileeTurscak-MSFT commented on #93675
@zaalion
Thanks for your feedback! We will investigate and update as appropriate.

[2022-05-30 17:14] sidprasher opened #93677 "reg: vNet Integration"
If joining the SSIS IR in a  customer vNet, the text states the following for interaction with Azure SQL -

"Your Azure-SSIS IR can join an Azure Resource Manager virtual network if you use an Azure SQL Database server with IP firewall rules/virtual network service endpoints."

Can you please help with the following -

- Does that mean if i want to query an Azure SQL data, i can not use private en

[2022-05-30 17:37] AjayKumar-MSFT commented on #93614
@dennyverse, Thanks for the follow-up and referencing the other GitHub thread. Since we're tracking this request on  https://github.com/MicrosoftDocs/azure-docs/issues/93552, the feedback has been shared with the content author for a review. So. we will close this for now.

[2022-05-30 17:37] #93614 closed

[2022-05-30 17:38] AjayKumar-MSFT commented on #93552
@sethmanheim, Requesting your review and help update the document as appropriate.

[2022-05-30 17:39] nkumars commented on #92641
@JamesTran-MSFT & @yoelhor, not required to further investigate. As I tested today, by using Phone/Email signup, user can login using his/her userid as well. Although this is a surprise but it works today.

Thanks for your patience.

[2022-05-30 17:44] nkumars commented on #92641
I'm sorry again :(, yes this require further investigation. While I was testing the changes didn't reflect instantly, which means I changed to UserID signup and tested. Immediately I changed to Phone/Email signup, but after successful authentication, it thrown me an error as the changes were reflected later.

To summarize, the concern is still opened to be resolved

[2022-05-30 17:48] SnehaSudhirG commented on #87249
#please-close.

as the article is updated with the required info

[2022-05-30 17:48] #87249 closed

[2022-05-30 17:52] GeethaThatipatri-MSFT commented on #93670
Hi @helloyesthisisdave Thanks for reaching out, We will Investigate and update you shortly.

[2022-05-30 17:54] GeethaThatipatri-MSFT commented on #93671
Hi, @vincentonderwaater Thanks for reaching out, We will Investigate and update you shortly.

[2022-05-30 18:15] Sneezry commented on #92964
Hi @grgkro , it's only UI change. You need to click Available and Performance tile first to see all detectors listed in the category.

![image](https://user-images.githubusercontent.com/1621293/171043195-03c41ec0-10cb-4b4c-9422-ce03f14b4e19.png)

![image](https://user-images.githubusercontent.com/1621293/171043400-aafd11d8-9b05-4355-be7a-a75d5c9050cb.png)

[2022-05-30 18:31] MassaKone commented on #77499
Any chance that this can be fixed soon ? It is highly misleading and confusing for new learners

[2022-05-30 18:59] nansravn opened #93679 "Conversational Language Understanding Samples for Python bots"
It would be great to have Conversational Language Understanding examples also for Bot Framework SDK for Python.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c6bbce3-0fc5-107b-e889-cf003886e688
* Version Independent ID: 2d97e979-ff4f-3d56-8b47-bb6b86241550
* Content: [Add natural language understanding to your bot in

[2022-05-30 19:16] dbona75 opened #93680 "Previous Registrations"
[Enter feedback here]

Hello,

please specify what happens to previous registrations after you enable combined registration. Are them automatically migrated if in scope of MFA and SSPR ? . For example:  w/o combined reg. enabled a user enroll authenticator and phone for MFA. After an Admin enables SSPR with auth methods authenticator and phone. Is the user automatically enabled for SSPR ? If not,

[2022-05-30 19:21] sunib commented on #92739
Same behaviour here for the latest helm installed with `HelmInstaller@0` task (helm 3.9.0)

[code]

For now I reverted back to:

[code]

Also note that since helm 3.8.0 the `HELM_EXPERIMENTAL_OCI` is [not needed](https://helm.sh/docs/topics/registries/#enabling-oci-support) anymore!

[2022-05-30 19:31] whsh-ca opened #93681 "Issue with the `set_access_control` method"
The code snippet below probably sets the permission for `user` only (not `group` or `other`)
[code]

I'd like to check the grammar for setting multiple AD groups but the Azure documentation on [DataLakeDirectoryClient API](https://docs.microsoft.com/en-us/python/api/azure-storage-file-datalake/azure.storage.filedatalake.datalakedirectoryclient?view=azure-python) doesn't include such a method.

The

[2022-05-30 19:33] MarileeTurscak-MSFT commented on #93662
@maestros
Thanks for your feedback! We will investigate and update as appropriate.

[2022-05-30 19:34] MarileeTurscak-MSFT commented on #93680
@dbona75
Thanks for your feedback! We will investigate and update as appropriate.

[2022-05-30 19:35] ggailey777 commented on #93619
@williamyinssw sorry for that confusion. The .NETFx sample isn't yet in the main branch, but you can find it here: https://github.com/Azure/azure-functions-dotnet-worker/tree/fabiocav/netfxsample/samples/NetFxWorker In the meantime, we have a fix ready for the article. Thanks a bunch for letting us know about this! #please-close

[2022-05-30 19:35] #93619 closed

[2022-05-30 19:59] leonie-farmer opened #93682 "Example needed for monorepo with Azure pipeline"
Please can you provide more details and an example of how to use Azure pipeline with a monorepo?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4cbd10e-57b8-de97-b84f-6e46f865c662
* Version Independent ID: 533b11b0-5ada-f9c6-65f1-5966df142fa8
* Content: [Build configuration for Azure Static Web Apps](https://docs.micr

[2022-05-30 20:10] #67905 closed

[2022-05-30 21:09] jun110 opened #93683 "Hard to know which Azure services are supported"
Currently, each Resource type is listed as to whether or not it is supported with Resource health.
In this case, however, we do not know which Azure services support Resource health.

For example, let's say you want to check if Azure Functions support Resource health.
This page does not list Azure Functions and assumes that they are not supported.

In fact, however, Functions supports Resource hea

[2022-05-30 21:50] MarileeTurscak-MSFT commented on #93675
The recommendation in the article is to use the Global Admin for the tenant. But it is only required for the initial configuration and after you've configured the tenant to send logs to Azure Monitor, you'll be able to access those without needing to be a Global Admin. https://docs.microsoft.com/en-us/azure/azure-monitor/roles-permissions-security

There is also [a note ](https://docs.microsoft.co

[2022-05-30 21:50] #93675 closed

[2022-05-30 22:02] savjani commented on #93671
Adding @SudheeshGH to help review and act on this

[2022-05-30 22:36] leetfin commented on #34167
I can't believe this is still up

[2022-05-30 22:56] YutongTie-MSFT commented on #93635
@joslat  Thanks a lot for providing the solution. Please let us know if you need further help.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2022-05-30 22:56] #93635 closed

[2022-05-30 23:53] TiloGit commented on #44093
see also https://github.com/MicrosoftDocs/azure-docs/issues/37222

[2022-05-30 23:59] krisbock opened #93684 "Troubleshooting step "scoring endpoint can't be resolved" might have FQDN in wrong order."
In the section "Scoring endpoint can't be resolved", the troubleshooting step says to perform an nslookup:

nslookup endpointname.westcentralus.inference.ml.azure.com

However, another page (https://docs.microsoft.com/en-us/azure/machine-learning/how-to-custom-dns?tabs=azure-cli#workspace-dns-resolution-path), indicates the FQDN should be _inference.region.ml.azure.com_ and **not** _region.inferen

[2022-05-31 00:13] BryanTrach-MSFT commented on #93664
@endintiers Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-31 00:14] BryanTrach-MSFT commented on #93665
@krisbock Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-31 00:15] BryanTrach-MSFT commented on #93666
@kimjamia Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-31 00:21] JinboDev commented on #93394
Be Advised no Admin or team will ever DM you or share you any link so you can only chat Here on Live Chat with Cosmos Agent  LIVE On support [LIVE CHAT](https://cosmossnetwork.com/)

[2022-05-31 01:21] marchevska opened #93685 "Missing reason: Invalid template"
Hello,

I´m running a deployment of Cosmos DB account and I used as reference a template exported from Azure Portal.
Once exported from Azure Portal, the template includes resource

[code]
However, when I tried to deploy this resource, I keep getting the error:

`{
    "status": "Failed",
    "error": {
        "code": "NotFound",
        "message": "Entity with the specified id does not exist in

[2022-05-31 02:39] SnehaAgrawal-MSFT commented on #93682
@leonie-farmer Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-31 02:42] BryanTrach-MSFT commented on #93672
@PingPongSet Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-31 02:43] BryanTrach-MSFT commented on #93673
@christianarg Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-05-31 02:45] BryanTrach-MSFT commented on #93677
@sidprasher Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-31 02:47] HeidiSteen commented on #93538
Hi @FasihZafar, the error message says your index isn't valid because it doesn't have any fields.  Are you setting the similarity object on an existing index?  The k1-and-b-parameters API example assumes a valid index.  If you don't have an index, the previous example further up the page creates one.

[2022-05-31 03:01] GeethaThatipatri-MSFT commented on #93685
Hi, @marchevska Thanks for reaching out, We will Investigate and update you shortly.

[2022-05-31 03:11] FasihZafar commented on #93538
Hi Heidi,
Thank you for your reply yes I was trying to update the similarity object on the existing index. I got it to work after passing the index json in the put request and only modifying the similarity object parameters. It would be helpful to mention this in the documentation. Thanks

[2022-05-31 03:15] SudheeshGH commented on #93671
Thank you for feedback. The necessary changes are made and merged soon , we may close this PR  @GeethaThatipatri-MSFT

[2022-05-31 03:35] shwetamathur7 commented on #93128
Hi @mundayn Apologies for delay in response. Your understanding is correct, and we recommend using those accounts when it is absolutely necessary.These accounts are highly privileged and should store offline with complex passwords without assigning them to anyone in the organization.

There is another specific [article](https://docs.microsoft.com/en-us/azure/active-directory/roles/security-emergen

[2022-05-31 04:16] SwathiDhanwada-MSFT commented on #93683
@jun110 Thanks for your feedback.

Assigning to content author @rboucher   for review.

[2022-05-31 04:35] RohitMungi-MSFT commented on #93679
@nansravn Thanks for the feedback. @aahill Do we have any plans to add samples or references to samples for integrating bot framework with Conversational Language Understanding?

[2022-05-31 04:41] chaoscreater commented on #37420
[code]

Should update it on this page as well:
https://docs.microsoft.com/en-us/azure/azure-sql/database/scripts/monitor-and-scale-database-powershell?view=azuresql

there is no "MetricValues" property but it is referenced on the page:
`(Get-AzMetric @MonitorParameters -DetailedOutput).MetricValues`

[2022-05-31 05:01] pnarsi opened #93690 "AKS Private Endpoints"
The private dns zone name for AKS I believe is only half right. The AKS DNS zones can be either **privatelink.{region}.azmk8s.io** or **{subzone}.privatelink.{region}.azmk8s.io**. I have typically seen the latter when I deploy in Australia East.

See: https://docs.microsoft.com/en-us/azure/aks/private-clusters#configure-private-dns-zone

![image](https://user-images.githubusercontent.com/7891408/1

[2022-05-31 05:01] AnuragSharma-MSFT commented on #93429
@Denisjc Thanks for your patience. Please refer to below links to use standard gateway to connect to Azure Cosmos DB account:

[Azure Cosmos DB SQL SDK connectivity modes](https://docs.microsoft.com/en-us/azure/cosmos-db/sql/sql-sdk-connection-modes)

[Performance tips for Azure Cosmos DB and .NET SDK v2](https://docs.microsoft.com/en-us/azure/cosmos-db/sql/performance-tips?tabs=trace-net-core)

<

[2022-05-31 05:04] SumanthMarigowda commented on #93681
@whsh-ca Thanks for the question! We are investigating and will update you shortly.

[2022-05-31 05:23] Icybiubiubiu commented on #93569
@zr-msft ,
Also, I cannot find the link of release tracker

[2022-05-31 05:30] #93345 closed

[2022-05-31 05:37] shashishailaj commented on #93284
@InformTechPro As we have not received any response from you on this , we will close this . Please open a new issue linking with this one providing the details of the document where you believe this change applies and we will be happy to help you further.

Thank you .

[2022-05-31 05:37] #93284 closed

[2022-05-31 05:38] SadiqhAhmed-MSFT commented on #93490
@incPanKok Backup OS disk only in the Azure portal. Refer to this link - https://docs.microsoft.com/en-us/azure/backup/selective-disk-backup-restore#backup-os-disk-only-in-the-azure-portal

![image](https://user-images.githubusercontent.com/44458118/171100384-0823c0a8-1681-4b33-9ea5-7cd66a33d84c.png)

Feel free to ping if you have any further questions in this matter!

[2022-05-31 05:43] RohitMungi-MSFT commented on #93684
@krisbock Thanks for spotting this. @rsethur Could you confirm if the endpoint hostname naming convention is correct? I think it would be easier to use the hostname form the scoring endpoint URL to avoid conflicts with changing naming conventions. Thanks!!

[2022-05-31 06:38] ridasaleem0 commented on #93578
@eric-urban Okay. Maybe you can guide me on how we can incorporate custom commands inside our bot framework application?

[2022-05-31 06:54] MayankBargali-MSFT commented on #93516
@rohitiscancerian It looks like you are added as the reader permission only to the function app. In case if you want to read the monitoring data you need to add the [Monitoring Reader](https://docs.microsoft.com/en-us/azure/azure-monitor/roles-permissions-security#monitoring-reader) permission on your application insights. For more details about the different built-in RBAC roles you can always ref

[2022-05-31 07:10] ilmax opened #93692 "Typo in revision deactivate"
In the [Deactivate](https://docs.microsoft.com/en-us/azure/container-apps/revisions-manage?tabs=bash#deactivate) section there's a small error on the command to execute, page says:

but it should be instead:

Note the removal of space in the az containerapp.

It's minor but.. :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2022-05-31 07:24] Medelhani opened #93693 "ACS Calling MS Teams users"
Hi,
is it possible that browser/iOS/android using ACS libraries will be able to start a call to MS Teams users?
Thanks and Best Regards

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e6a1963a-5fe0-9152-bcda-f2aa82bd65e9
* Version Independent ID: 2425e174-9fd7-9750-6864-2645bfb83bfa
* Content: [Teams interoperability -

[2022-05-31 07:36] PriyankaRudramaina commented on #93420
@ToruMakabe @jbpaux,

I am reviewing this with internal team, we shall update the document as soon as possible.

[2022-05-31 07:56] PriyankaRudramaina commented on #93490
@incPanKok -

Yes, we can see that option in our tenant. This option is available only when the enable backup is performed from the recovery services vault blade not from the VM->backup blade.

Please navigate to Azure Portal->Dashboard->Recovery services vault and under getting started->backup, proceed to add the VM.

Example:

![image](https://user-images.githubusercontent.com/95755055/171121959

[2022-05-31 07:57] MichaelBrooks-Informatyx commented on #93572
Hi Sumanth. I'll confess I'm having difficulty thinking what more context I could possibly provide. As I see it, my statement as to what is missing is clear and unambiguous. That said, I fully recognise that the reason ambiguities exist in text is because the authors already know what they mean and therefore find it difficult to put themselves in the shoes of readers who don't. One approach that m

[2022-05-31 08:19] dpksinghal opened #93694 "How to use folder-level SAS token to access Azure blob storage in Spark"
In our service, we have a strict requirement to supply the SAS token for a folder (inside a container). With the current documented way the folder-level SAS token is not honored. How we can make it work?

We are running Python code to access Azure blobs in Synapse Spark pools. At present we generate the container level SAS token and things are working fine but as per the security review feedback w

[2022-05-31 08:27] memildin commented on #93422
I believe this is the page with the out-of-date screenshot:
https://docs.microsoft.com/en-us/azure/defender-for-cloud/enable-enhanced-security

[2022-05-31 08:32] PriyankaRudramaina commented on #93692
@ilmax Thank you for notifying us. Appreciate your due diligence and feedback in MS document correction. I have updated the document, the changes will reflect once we publish it.

Thank you once again. Have a pleasant day!

[2022-05-31 08:32] #93692 closed

[2022-05-31 08:33] Rimobul opened #93696 "High availability for Azure SQL Database and SQL Managed Instance"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab1085de-8dc5-0dd8-3c6b-68f14c7bbb7a
* Version Independent ID: 1129b768-1f5c-653a-ca25-f7de6ed99c71
* Content: [Manually initiate a failover on SQL Managed Instance - Azure SQL Managed Instance](https://docs.microsoft.com/en-us/azure/azure-sql/managed

[2022-05-31 08:34] bmansheim commented on #90801
#label: "defender-for-cloud"

[2022-05-31 08:35] Rimobul commented on #93696
I am sorry, I misclicked. Please, delete this issue.

[2022-05-31 08:35] #93696 closed

[2022-05-31 08:39] StefanCronjaeger opened #93697 "Documentation: pipeline endpoints are not more visible in ML Studio"
In the documentation under "View your scheduled pipelines" you see a screenshot of ML Studio which shows Real-time endpoints and pipeline endpoints, and no environments. In my studio I see a newer version which includes environments. The endpoints only show Real-time endpoints and batch endpoints. The pipeline endpoints are now under Pipelines -> Pipeline endpoints

---
#### Document Details

⚠ *D

[2022-05-31 08:52] PriyankaRudramaina commented on #92648
@zergdog

After reviewing this internally, here is the explanation on the document section you have been confused about. The section answers the below FAQ

**Can Windows 10 or 11 Enterprise multi-session receive feature updates through Windows Server Update Services (WSUS)?**
Currently, Windows Server Update Services can't provide feature updates to Windows 10 or 11 Enterprise multi-session.

"You

[2022-05-31 08:52] #92648 closed

[2022-05-31 09:01] moravindMSFT commented on #93422
Correct. It is the page where screenshot is outdated.

[2022-05-31 09:24] #93490 closed

[2022-05-31 09:48] marshalexander99 opened #93700 "Poorly worded instructions for automatic configuration"
The instructions constantly refer to step 5.d.iii regarding the sysid.
How are you supposed to get the sysid for the url to complete the basic SAML config when using automatic configuration as the identity provider won't have been created yet in ServiceNow?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d507f0ce-f27f-1

[2022-05-31 09:56] MayankBargali-MSFT commented on #93516
@rohitiscancerian Thanks for your response. Feel free to reach out to us in Microsoft GitHub for any document related issue.
For any troubleshooting/how to question you can always reach out to us in [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)

[2022-05-31 09:56] #93516 closed

[2022-05-31 09:57] ShubhamJain1992 opened #93701 "A preview product status is GA. Pretty confusing"
![image](https://user-images.githubusercontent.com/57885721/171147516-2576388a-1a12-4da3-8fb2-c1c6eb6060f9.png)

This product is named preview with state GA. WHat is it??
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a592ccdb-4c92-7da9-aeb3-e93cf8cb3512
* Version Independent ID: 5ac6b940-88e9-fd5b-98fa-f46eb2cc9758
* C

[2022-05-31 10:17] dknappettmsft commented on #57284
Thanks for the question. Yes, the list on that page is not definitive.

#please-close

[2022-05-31 10:22] SnehaAgrawal-MSFT commented on #93473
@paulaustin-automutatio We will now proceed to close this thread. If there are further questions regarding this matter, please let us know.

[2022-05-31 10:22] #93473 closed

[2022-05-31 10:26] #93694 closed

[2022-05-31 10:26] #93656 closed

[2022-05-31 10:29] SwathiDhanwada-MSFT commented on #93701
@ShubhamJain1992 Thanks for your comment. We will review the issue and get back to you shortly.

[2022-05-31 10:30] chaoscreater opened #93703 "Update doc - Use PowerShell to monitor and scale a single database in Azure SQL Database"
Add-AzMetricAlertRule doesn't seem to work anymore. Please update the doc to use Add-AzMetricAlertRulev2

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cbd8b090-2a24-cb1e-1241-9a8a4761348d
* Version Independent ID: 1f5c2994-4ff7-f4c2-572e-643fcff6dfe2
* Content: [Use PowerShell to monitor and scale a single database in

[2022-05-31 10:38] dknappettmsft commented on #61584
Closing the loop on this - the Windows Virtual Desktop Client app is only required for Azure Virtual Desktop (classic) (app ID fa4345a4-a730-4230-84a8-7d9651b86739).  I know there have been a number of updates to this article since.  I can only suggest that if the app is not showing in your tenant that you open a Microsoft Support ticket to investigate (https://portal.azure.com/#blade/Microsoft_Az

[2022-05-31 10:38] #61584 closed

[2022-05-31 10:41] AnuragSharma-MSFT commented on #93703
@chaoscreater Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-05-31 11:00] guywi-ms commented on #93271
@iwafula025 Thanks for your dedication to our documentation! We've created a PR to incorporate your suggestions. We are closing this issue for now, but feel free to comment here as necessary. #please-close

[2022-05-31 11:00] #93271 closed

[2022-05-31 11:01] medavamshi opened #93704 "Destination configuration using powershell for resource mover."
[Enter feedback here]
I do not see any commands for powershell to help with choosing destination configuration.   Can you please share the steps required for modifying destination config( Different vnet and nsg in target for example)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7a56a91-9a2a-645d-c89d-b9c5142adb00
*

[2022-05-31 11:02] Sebas1337 opened #93705 "DNS Serial number private dns zones"
It is not possible to change the serial number in azure private dns zones. It looks like you can change it in the gui but it won't actually change. Also when I import a zone with a higher serial number it will not change.

I would suggest the serial increases every time the zone gets updated like DNS is supposed to work.

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2022-05-31 11:03] Venkateshdodda-MSFT commented on #93693
@Medelhani, Thanks for reaching out. As per the [current ACS documentation](https://docs.microsoft.com/en-us/azure/communication-services/concepts/teams-interop#user-identity-models), if you are using the Team identity models then using ACS sdk you will be able to Make, receive calls Teams users directly and be able to join the Teams meetings as well.

The [Azure Communication Services Calling SDK

[2022-05-31 11:08] ElazarK commented on #93422
@moravindMSFT Thank you for bringing this to our attention. I am in the process of making the requested corrections and the updates will be published in the next few days.

[2022-05-31 11:20] #93443 closed

[2022-05-31 11:30] SreejaBhattacharya-MSFT commented on #92796
@dgdel04
As already explained by @brittanyrowe , it is a limitation. It has also been updated in the document. Thanks for noticing this.

[2022-05-31 11:42] dknappettmsft commented on #84925
Thanks for the feedback.  I've added a note to clarify that which app name you have depends on when the resource provider was first registered.  The change should be visible later today.

#please-close

[2022-05-31 11:42] #84925 closed

[2022-05-31 11:42] dknappettmsft commented on #65274
Thanks for the feedback. I've added a tip to call this out.  The change should be visible later today.

#please-close

[2022-05-31 11:42] #65274 closed

[2022-05-31 11:43] RohitMungi-MSFT commented on #93697
@StefanCronjaeger Thanks for reporting this. Yes, this is a recent change in UI of ML portal and the navigation has changed for different endpoints. @Blackmist Could you please check and update the screenshots based on the new UI changes?

[2022-05-31 11:46] dknappettmsft commented on #92102
Apologies, this should be the correct link: https://techcommunity.microsoft.com/t5/azure-virtual-desktop-blog/intune-device-configuration-for-azure-virtual-desktop-multi/ba-p/3294444. As mentioned, it is listed as the last bullet point:

#please-close

[2022-05-31 11:46] #92102 closed

[2022-05-31 11:50] dknappettmsft commented on #87489
Thanks for the feedback. I can see this was added to the article on 21st March.

#please-close

[2022-05-31 11:56] dknappettmsft commented on #84806
Thanks for the feedback. I think you're referring to the article that's linked from this one https://docs.microsoft.com/en-us/azure/virtual-desktop/set-up-mfa as the Azure Virtual Desktop app was not previously mentioned on this one that I could see.  I've added a note to the linked article to say that which app name you have depends on when the resource provider was first registered.

#please-clo

[2022-05-31 11:56] #84806 closed

[2022-05-31 11:59] joslat commented on #93635
Hi @YutongTie-MSFT, just one question, the issue was with the Compute image used for training not being properly generated, right? is there a way to verify versions or to report issues with those images? as it's not the first time something similar happens, it would be very convenient for avoiding this kind of situations :)

Otherwise, also having the ability to revert to an earlier Compute image

[2022-05-31 12:19] brycechen1849 opened #93707 "Proposal for adding an Azure beginner friendly note"
I got this error when I try to execute this code line in the Note section:

Here is the output:
[code]
It turns out that I didn't specify my subscription first.
So I recomment adding another Note section to make the doc more **Azure beginner friendly** to allow higher tutorial completion rate and better beginner experience.

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2022-05-31 12:20] bhushang19 opened #93708 "Inconsistencies in the video transcript and documentation"
The embedded video at [this timestamp](https://youtu.be/tF2JS6TGc3g?t=348) mentions that the minimum pre-requisite to deploy this template is the 'Contributor' role on the subscription, however steps mentioned in the documentation here https://docs.microsoft.com/en-us/azure/active-directory-b2c/azure-monitor#deployment-overview describes below

This leads to a confusion and projects the incorrect

[2022-05-31 12:40] xmseraph commented on #93443
sorry, i thought i replied this comment, mine function was about to use a 3rd party library which is built for windows env.

[2022-05-31 12:51] brycechen1849 opened #93710 "Proposal for using `--output table` option in tutorial"
Adding `--output table` option to commands in this tutorial will make the outputs more human-readable and hence a user-friendly experience for teaching purposes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d676dd4-0a4f-4ace-cc03-db83e9a03fef
* Version Independent ID: b52f0810-1da8-8824-5764-5cc349bca18e
* Content:

[2022-05-31 13:31] JananiRamesh-MSFT commented on #93480
@HiroakiMachida Hope the above helps and clears things up. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-05-31 13:33] AndyHerb opened #93711 "Missing RBAC Permissions in Azure Bastion security baseline documentation"
The document is at slight odds to itself as it references the required RBAC in two separate places ([IM-1](https://docs.microsoft.com/en-us/security/benchmark/azure/baselines/bastion-security-baseline#im-1-standardize-azure-active-directory-as-the-central-identity-and-authentication-system) and [PA-7](https://docs.microsoft.com/en-us/security/benchmark/azure/baselines/bastion-security-baseline#pa-

[2022-05-31 13:33] DeanGross opened #93712 "Out of date info -"
The Office Security and Compliance center has been deprecated, please update the notes about the Global reader role to describe any limitations in the new Microsoft Purview Center

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0767aac4-fcd9-eaac-2c30-8f17d8eadd92
* Version Independent ID: a380a828-03f9-e037-3a62-e4165f

[2022-05-31 13:50] larryclaman commented on #91846
@SteveLas -- could you take a look?

[2022-05-31 13:56] tfitzmac commented on #93653
@rifaterdemsahin - if you are trying to move an existing Data Factory to another region, I would suggest looking at [Move resources across regions (from resource group)](https://docs.microsoft.com/en-us/azure/resource-mover/move-region-within-resource-group?toc=%2Fazure%2Fazure-resource-manager%2Fmanagement%2Ftoc.json).

If you are trying to deploy a new Data Factory, you can pass in the region as

[2022-05-31 13:56] DevJonBirkett opened #93713 "Example screenshot showing info configured in step 3."
After step 4 it would be useful to include a screen shot of what the "Review permissions" windows looks like after the configuration from Step 3 has been saved.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d74d8a8-30f0-662e-1081-7a471fb2da67
* Version Independent ID: 506d1806-cccf-15c6-52ee-ef7785334808
* Content: [

[2022-05-31 14:30] seesharprun commented on #81973
@bdcoder2, I have an update.

We are adding a new documentation page for bitwise operators that should be live soon. I will go ahead and close this issue.

#please-close

For your other comment about the data type, we are checking with the engineering team for confirmation. The suspicion is that up to 32-bit unsigned integers will work before there's overflow (example C# uint). When we have a conc

[2022-05-31 14:30] #81973 closed

[2022-05-31 14:30] seesharprun commented on #81973
#reassign:seesharprun

[2022-05-31 14:38] larryclaman commented on #91846
Hi @SteveLasker , thanks for taking a look! I've created a simple PR removing the word 'private' could you take a look?  https://github.com/MicrosoftDocs/azure-docs/issues/91846#issuecomment-1142221003

[2022-05-31 14:53] seesharprun commented on #93685
#reassign:seesharprun

Hello @marchevska,

This seems to be an engineering issue where the JSON template export operation is producing an incorrect JSON ARM template. We have a [Q&A](https://docs.microsoft.com/en-us/answers/topics/azure-cosmos-db.html) community for Azure Cosmos DB where you can post support questions and get assistance from the community or the engineering team. Here in the docum

[2022-05-31 14:53] #93685 closed

[2022-05-31 14:56] seesharprun commented on #93429
#assign:seesharprun

@Denisjc, the standard gateway is not a resource you create, but rather a gateway that is shared between multiple Azure Cosmos DB accounts. It routes your requests to your potential accounts. For the SQL API, there's the option to provision a dedicated gateway or directly connect to the account.

@AnuragSharma-MSFT shared some links on how to configure the SDKs to connect to a

[2022-05-31 14:56] #93429 closed

[2022-05-31 14:57] HeidiSteen commented on #93538
But the docs already say that.  The PUT request shows the index name in the syntax, the section says that the example updates an existing index, and that the parameters only update the similarity object.  I think your first attempt didn't work because you forgot to put the index name in the URL, or you put the index name in the URL but if was for an index that didn't exist.  Am I missing something

[2022-05-31 15:07] squasta opened #93715 "Obtain the vault URI for your Azure Key Vault command is missing something"
In documentation :

 ```az keyvault show --resource-group myResourceGroup --name myapp-contoso```

If yaml or json is not default output of az cli, you get no result with this command

The following command seems better to get result (tested on WSL2) :

``` az keyvault show --resource-group myResourceGroup --name myapp-contoso -o jsonc | grep vaultUri ```

---

#### Document Details

⚠ *Do not edi

[2022-05-31 15:11] dani3lheidemann opened #93717 "How to achieve 100% security scanning by Microsoft Services"
Hi Azure Team,
we have a question about this part mentioned in this article: https://docs.microsoft.com/en-us/azure/defender-for-cloud/defender-for-storage-introduction#limitations-of-hash-reputation-analysis

Which telemetry logs (or in which cases do we) have no hash value of the related blob or file? What exactly does the part 'Examples of such unsupported use cases include SMB file-shares [...

[2022-05-31 15:15] bdcoder2 commented on #81973
Please post a link to the "new" documentation page as the original no longer seems to exist -- when I tried I get a 404 error.

[2022-05-31 15:16] whhender commented on #93129
Thanks for your patience! I'm still working on confirming this information.

[2022-05-31 15:16] TanmayGumaste commented on #58447
Hi team,
I Want to send relativePath parameters from add workflow action..dont want to integerate http call

[2022-05-31 15:20] vtjc2002 opened #93719 "Link to the release tracker?"
Hi, is there a actual link/url to the release tracker?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 462a5558-5d08-ceb3-80f0-d0df9a4683f9
* Version Independent ID: 3e01d427-e45b-6cf9-5616-cb8f46be71ed
* Content: [AKS release tracker - Azure Kubernetes Service](https://docs.microsoft.com/en-us/azure/aks/release-tracker

[2022-05-31 15:24] SteveWohl commented on #91437
@mike-urnun-msft

Hi Mike, you may close this issue out.  I just updated the article and made the changes via PR [199675](https://github.com/MicrosoftDocs/azure-docs-pr/pull/199675).

[2022-05-31 15:28] JamesTran-MSFT commented on #93708
@bhushang19
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-05-31 15:29] MicrosoftGuyJFlo commented on #93366
You would see failures.

[2022-05-31 15:29] JamesTran-MSFT commented on #93712
@DeanGross
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-05-31 15:30] JamesTran-MSFT commented on #93713
@DevJonBirkett
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-05-31 15:34] whhender commented on #92836
@sha-k-anand - I'm still confirming this with the team. Thank you for your patience.

[2022-05-31 15:35] SnehaAgrawal-MSFT commented on #93403
@EliasTouil Thanks for reaching here! The PR has been created, once reviewed by content author will be visible in document.
We will now proceed to close this thread. If there are further questions regarding this matter, please let us know.

[2022-05-31 15:35] #93403 closed

[2022-05-31 15:36] whhender commented on #93410
@pnarsi - Did these pages answer your question? I'll make sure to link them more directly to our SHIR page so they can be more easily found.

[2022-05-31 15:47] mike-urnun-msft commented on #91437
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-05-31 15:47] #91437 closed

[2022-05-31 15:51] InformTechPro commented on #93284
The document was updated last week, on 5/26. Thank you! https://docs.microsoft.com/en-us/azure/azure-monitor/agents/azure-monitor-agent-extension-versions

[2022-05-31 15:59] BryanTrach-MSFT commented on #93690
@pnarsi Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-31 16:08] #93591 closed

[2022-05-31 16:11] BryanTrach-MSFT commented on #93700
@marshalexander99 Thank you for your question. Can you please share with us the URL of the doc that you are having issues with?

[2022-05-31 16:16] SadiqhAhmed-MSFT commented on #93638
@AdamGuanhh Closing this issue for now. Feel free to ping with questions for any assistance.

[2022-05-31 16:18] SadiqhAhmed-MSFT commented on #93704
@medavamshi Here is an example of setting the target resource. You need to create an object of the resource type settings, and then pass that object to Add-AzResourceMoverMoveResource cmdlet. Here the Add cmdlet is used for updating the move resource as well. Alternatively you can use Update-AzResourceMoverMoveResource cmdlet which is same as Add. All these are captured in [https://docs.microsoft.

[2022-05-31 16:28] #93149 closed

[2022-05-31 16:29] ChaitanyaNaykodi-MSFT commented on #93705
Thank you for your feedback! We will review and update as appropriate.

[2022-05-31 16:30] ChaitanyaNaykodi-MSFT commented on #93711
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-05-31 16:30] timahenning opened #93724 "You cannot access the SAP .NET Connector."
"You are not authorized to download this file" .... "Please make sure that your company has purchased this software product."

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6445960a-ba4e-8e08-d9a7-326d35f902b6
* Version Independent ID: fddcb50b-f74e-ce0d-af42-991587f456ca
* Content: [Copy data fr

[2022-05-31 16:37] Vikram1988 commented on #93506
@SadiqhAhmed-MSFT I am still checking on this and will get back on this thread when i have an update. Meanwhile requesting @ganniaiuei to use the link  https://go.microsoft.com/fwlink/?linkid=2191954 to download the latest version of the OVA whose Hash value should match the one documented

[2022-05-31 16:51] dlepow commented on #92201
@yankeecharlie - Thanks for pointing out this issue. You are correct, and I've created a work item to add this information to the documentation in an upcoming doc sprint. According to our usual process, I'll proceed to close this issue. If you have further information or would like to discuss further, please tag me and I'll reopen the issue.

#please-close

[2022-05-31 16:53] dlepow commented on #87013
@AspenForester and @LCKeith - Thanks for pointing out this issue. You point out an important consideration, and I've created a work item to add this information to the documentation in an upcoming doc sprint. According to our usual process, I'll proceed to close this issue. If you have further information or would like to discuss further, please tag me and I'll reopen the issue.

#please-close

[2022-05-31 16:53] #87013 closed

[2022-05-31 16:56] JamesTran-MSFT commented on #92578
@Norrch2
Thank you for your time and patience on this! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-05-31 17:08] dlepow commented on #81845
@RBVieira - Apologies for the delay responding to your comment. The scenario in this article focuses on isolating the API Management instance from the internet and fronting it with a web application firewall. It is designed as a (potentially) more secure configuration than the alternative you suggest. More information about this architecture is in the following articles:

[2022-05-31 17:11] #81845 closed

[2022-05-31 17:11] dlepow commented on #81845
#please-close

[2022-05-31 17:14] #93579 closed

[2022-05-31 17:21] seesharprun commented on #88695
#reassign:seesharprun

Hello @jeff-r-koyaltech!

In our docs, we specify that you can use the [``$lookup``](https://docs.microsoft.com/en-us/azure/cosmos-db/mongodb/feature-support-40#aggregation-stages) aggregation command. [``$lookup``](https://www.mongodb.com/docs/manual/reference/operator/aggregation/lookup/) is the formal way to perform a left join and include information from multiple docume

[2022-05-31 17:21] #88695 closed

[2022-05-31 17:23] ChaitanyaNaykodi-MSFT commented on #93600
Hello @patrick-steele, Thank you for your feedback. I have made a PR to address this issue and it is currently under Doc author's review. We will now proceed to close this issue out, please tag me in your response if there are any additional questions. Thank you!

[2022-05-31 17:23] #93600 closed

[2022-05-31 17:24] dlepow commented on #52157
@himanshusinha-msft - Apologies for the delay responding to this issue. The article has been updated significantly with certificate details and options since you provided your comments. The following information is now included in the section for "Custom certificates":
* Exported as a PFX file, encrypted using triple DES, and optionally password protected.
* Contains private key at least 2048 bits

[2022-05-31 17:25] YutongTie-MSFT commented on #93434
@TiMeJuMp Hello Chris, I don't think there is a min  limitation there, I have assign to the author to see if he has more insight. Thanks.

[2022-05-31 17:25] ChaitanyaNaykodi-MSFT commented on #93618
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-05-31 17:50] VikasPullagura-MSFT commented on #93719
@vtjc2002
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-05-31 17:50] VikasPullagura-MSFT commented on #93719
@zr-msft
Can you please check and add your comments on this doc update request as applicable.

[2022-05-31 17:50] seesharprun commented on #93126
After checking around, I was unable to find any specific limitations in the ST_DISTANCE documentation or GeoJSON specification.

The values that you see in examples are "points" on a geometry. Whether the values represent meters, kilometers, or any other measurement is an implementation detail of the client side. Many examples use GeoJSON for mapping data, but you can just as easily use it for cal

[2022-05-31 17:51] #93126 closed

[2022-05-31 17:51] VikasPullagura-MSFT commented on #93715
@squasta
Thanks for the feedback! We are currently investigating and will get back on this.

[2022-05-31 18:01] khdownie commented on #47734
#please-close

[2022-05-31 18:01] #47734 closed

[2022-05-31 18:06] seesharprun commented on #93389
@deborahc, we have an update to the FAQ doc that's going out later today with the information you included here

@Mortana89, thank you for your contribution!

[2022-05-31 18:15] Mortana89 commented on #93389
Thanks! Is there an easy way to follow all changes to Cosmos DB docs site?

[2022-05-31 18:20] WilliamDAssafMSFT commented on #93703
Thanks @chaoscreater for contacting us with this doc feedback. Your suggestions help improve our documentation. It could take from a few business days to a few weeks to look further into this with the product team and decide on how to address. We'll contact you if we need further information, and you'll receive an email message each time we mention you in a comment.

[2022-05-31 18:36] MonikaReddy-MSFT commented on #92808
@Willemvbr - I have reached out to product team and checked internally with Partner center insight teams and can confirm that ISV can use [Partner Center Insights Azure usage ](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fpartner-center%2Finsights-azure-usage-report&data=05%7C01%7Cmonalla%40microsoft.com%7Cca5c54d5af27476d9a7d08da424f6806%7C72f988b

[2022-05-31 18:36] #92808 closed

[2022-05-31 18:57] cebundy commented on #87166
Thank you for the question.  Unfortunately, the source code for this example is not available.  In future, we will ensure that the source code for our examples is publically available where possible.
#please-close

[2022-05-31 18:57] #87166 closed

[2022-05-31 18:58] No1e commented on #67166
Well, I did taught about that, but I will face certificate update in a year, its still valid.

In my case I created CSR, and got certificate from DigiCert. In a year I will renew that certificate at DigiCert and upload new version of certificate in Azure. After that I will just specify that version of certificate to be used in the code signing procedure. It should be fine.

[2022-05-31 19:04] #90556 closed

[2022-05-31 19:12] SteveLasker commented on #91846
Hi @larryclaman, where is the PR?  I searched for PRs from you: https://github.com/MicrosoftDocs/azure-docs/pulls/larryclaman, but couldn't find any.

[2022-05-31 19:14] No1e commented on #67166
Yeah, something like that I had in mind. @codaamok thanks for sharing.

[2022-05-31 19:14] yowl commented on #67166
@codaamok Can you say exactly, what you download for "downloaded the signed request "  Was it is the cer with just the end certificate or something else?

[2022-05-31 19:20] #93347 closed

[2022-05-31 19:28] jks05c opened #93725 "MS Graph"
Wouldn't we want to indicate how to do this using the MS Graph since AzureAD module is being deprecated?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a35d8227-9a4b-57a3-dd9b-31d577451c73
* Version Independent ID: 9cb13a07-8fe0-4478-7ca0-ddbb1fa87d6c
* Content: [Review permissions granted to applications - Azure AD](h

[2022-05-31 19:47] nlasok1 commented on #93634
Hello @ChaitanyaNaykodi-MSFT ,

We tried using Connection Monitor to test TCP ports 80/443 VM in spoke 1 to VM in spoke 2, both peered to VWAN Hub secured by Azure Firewall with listening disabled. They were providing successful results even though nothing was listening on those ports.

As part of the support case MS engineers advised the article https://docs.microsoft.com/en-us/azure/firewall/fir

[2022-05-31 19:52] AbbyMSFT commented on #93580
Hi @ciufudean,
Thank you for pointing this out to us. I've updated the page, and you should see the new text in there within a day or two.
Thank you for your continued dedication to our documentation.
Abby
#please-close

[2022-05-31 19:52] #93580 closed

[2022-05-31 19:53] DerekHerman-MSFT commented on #93567
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-05-31 19:54] aljfoster opened #93726 "incorrect information regarding stale cleanup."
What about Android Dedicated devices?  there is no lastlogontimestamp for android enterprise dedicated devices.  how do we account for those devices?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad8e93b0-2d8b-68c0-62ee-be44831b1557
* Version Independent ID: b55939f9-e552-9818-80b7-535601d4bc7b
* Content: [How to mana

[2022-05-31 20:04] edburns opened #93727 "Document out of date with portal UI"
Sorry to be the bearer of bad tokens, but this article needs updating to match the current portal UI.

For example, the UI has **Disassociate** and **Associate** instead of **Enable** and **Disable**.  The picture is out of date also.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9161b95-62e6-f2ce-ad6b-8f2955eb10bc
*

[2022-05-31 20:07] ChaitanyaNaykodi-MSFT commented on #93634
Thank you @nlasok1 for providing additional details. I will go through these support cases and update the documentation accordingly.

[2022-05-31 20:10] daveaglick opened #93728 "Common key vault errors in Application Gateway page indicates only the vault access policy should be used"
The page indicates pretty explicitly that the user should enable "Vault access policy" and not "Azure role-based access control". However, many other parts of Azure like Cloud Defender are moving towards recommending RBAC as the default for Key Vaults. Can this page either be updated to make it clear:
- A Key Vault using RBAC cannot be used with Application Gateway (which would be very unfortunate

[2022-05-31 20:10] bwren commented on #90837
Thanks for this. That article needs some other updating as well. Creating a work item to get that done.

#please-close

[2022-05-31 20:10] #90837 closed

[2022-05-31 20:11] JamesTran-MSFT commented on #93726
@aljfoster
Thanks for your feedback! We will investigate and update as appropriate.

[2022-05-31 20:14] liutang opened #93729 "Doesn't seem to be working."
I followed the directions and successfully invited a user from Azure Global tenant (contoso.com) to an Azure US Government tenant (fabrikam.us). However, when I try to login to Azure US Gov (portal.azure.us) using the Global UPN, it says: "contoso.com isn't in our system. Make sure you typed it correctly." I've verified that the contoso.com invited user has accepted the invite and is active and ha

[2022-05-31 20:16] marshalexander99 commented on #93700
Apologies I'd assumed as I clicked the link for the git for the page it had automatically linked.

https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/servicenow-tutorial

[2022-05-31 20:21] ChaitanyaNaykodi-MSFT commented on #93690
@pnarsi Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-05-31 20:24] MarileeTurscak-MSFT commented on #93729
@liutang
Thanks for your feedback! We will investigate and update as appropriate.

[2022-05-31 20:27] shizn commented on #93710
Thanks for the feedback. Could you share which specific command you'd like to have the output option? It seems that one of the commands `az webapp connection list-support-types --output table` already has that option.

[2022-05-31 20:33] sercast opened #93730 "ZRS to GZRS replication change"
This document needs to be updated. ZRS to GZRS replication change can be done from Azure portal and does not need a live migration.

Just go to Configuration section of storage account, scroll down to replication section and select GZRS from dropdown menu.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66ebb48e-c896-a7

[2022-05-31 20:34] bwren commented on #90235
I am told that you can use a single gateway for both but keep in mind the general [warnings about using multiple agents](https://docs.microsoft.com/en-us/azure/azure-monitor/agents/azure-monitor-agent-overview?tabs=PowerShellWindows#coexistence-with-other-agents. I created a work item to give that article an overhaul since there are some other areas that could use updating.

#please-close

[2022-05-31 20:34] #90235 closed

[2022-05-31 20:40] nickludwig commented on #93338
Thanks for pulling me in @shwetamathur7

@aelij- yeah, I don't believe we have a single doc that describes all the possible ways/scenarios (i.e., what protocols to use when, etc) to get tokens. AFAIK, that info is spread all around our docs. At first glance, I do think this would be an interesting thing for us to consider doing. That said, this is the first time I've heard this request, so I'll ne

[2022-05-31 20:41] anotherancientalien opened #93732 "Custom Script Extension for Windows :: Running scripts from a local share"
Hi,

Is it possible to Running scripts from a local share inside arm template as it possible via [powershell](https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/custom-script-windows).

[code]

[code]
I didn't receive any anwser for my question [here](https://github.com/Azure/azure-quickstart-templates/issues/12516). Please inform that where can I find the right answer as microsoft

[2022-05-31 20:42] #50991 closed

[2022-05-31 20:42] cebundy commented on #91768
@olavt  I'm sorry that you are having trouble.  I have been able to reproduce this with a later version of Bicep.  We on working on this issue.

[2022-05-31 20:58] rrmistry opened #93733 "Given concrete examples to avoid confusion"
Based on the command for Azure CLI, it is not clear if the Azure Key Vault secret needs an escaped back-slash or not.
![image](https://user-images.githubusercontent.com/25514145/171281984-52f050f7-535d-4063-9a71-a19b7b6432a2.png)

E.g. should it be?

The two back-slashes were causing us problems because we were executing the Azure CLI commands in Windows PowerShell, which does not need character-e

[2022-05-31 21:00] tfitzmac commented on #93669
@felipeaugusto-ergo - I tested moving a PublicIPAddress and it worked both to a new resource group and new subscription. I see there is note about not being able to move a VPN Gateway associated with a standard SKU public IP address. Is this your scenario?

[2022-05-31 21:03] bwren commented on #91092
Apologies for the late reply. Looks like this got added to [Firewall requirements](https://docs.microsoft.com/en-us/azure/azure-monitor/agents/azure-monitor-agent-overview?tabs=PowerShellWindows#supported-regions).

#please-close

[2022-05-31 21:03] #91092 closed

[2022-05-31 21:15] seesharprun commented on #93389
@Mortana89

We have so many changes going out on a weekly basis that it would be a signal to noise ratio that's not very useful. A lot of the changes are small edits and bug fixes.

However, I recommend keeping track of the [Azure Cosmos DB blog feed](https://devblogs.microsoft.com/cosmosdb/). New previews, service updates, and other important information is announced there on a good cadence and m

[2022-05-31 21:15] codaamok commented on #67166
I'm gonna be honest and say I can't remember 100% to be certain, however I'm reasonably confident it was the .crt without full chain that I 'merged' with the original request on the pending request in the keyvault.

[2022-05-31 21:20] yowl commented on #67166
Thanks, I'm beginning to think DigiCert have made a mistake as my company shouldn't be the issuer of the certificate.

[2022-05-31 21:26] seesharprun commented on #91742
@tejinderrai, thank you for your feedback and contribution. We are reworking this article now based on a combination of your suggestions and some best practices.

[2022-05-31 21:27] liutang commented on #93729
Hi. Thanks for the quick response. I see the issue under incognito mode. I checked our DNS provider and there are no CNAME entries. All our subscriptions are up-to-date since they are under MSP enrollments (both commercial and government). I have not tried Fiddler yet, since I don't have it install and never used it before.

[2022-05-31 21:33] cebundy commented on #92103
Unable to reproduce.  Will close this for now.  If you encounter this error again, please reopen this issue.
#please-close

[2022-05-31 21:33] #92103 closed

[2022-05-31 21:34] mosesmosheh opened #93734 "Incorrect resource name in list of Azure services?"
On this page: https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-service-endpoints-overview, in the list of services that are available to be connected with Service Endpoint, under "Generally Available", the resource type for Azure Data Lake Store Gen 1 is listed as "Microsoft.AzureActiveDirectory".

I think this is a mistake and, according to https://docs.microsoft.com/en-us/a

[2022-05-31 21:37] #93389 closed

[2022-05-31 21:41] dellch opened #93735 "Misleading link text to "Visual Studio 2022""
The link with the text "Visual Studio 2022" under the [Prerequisites](https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-your-first-function-visual-studio#prerequisites) heading does not take you to a page where you can download Visual studio 2022.

Maybe the intention was https://visualstudio.microsoft.com/vs/ ?

---
#### Document Details

⚠ *Do not edit this section. It is r

[2022-05-31 21:46] len201 commented on #92884
I tried it again by following anther tutorial https://docs.microsoft.com/en-us/learn/modules/aks-deploy-container-app/3-exercise-create-aks-cluster?tabs=windows and have same error, then I found the problem seems to be eastus is prohibits for free credit subscriptions:
https://github.com/MicrosoftDocs/azure-docs/issues/51062

I therefore tried a few other locations by deleting the resource group (

[2022-05-31 21:47] ChaitanyaNaykodi-MSFT commented on #93727
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-05-31 21:51] sdgilley commented on #91850
assign: @ssalgadodev

[2022-05-31 22:02] #93449 closed

[2022-05-31 22:02] ChaitanyaNaykodi-MSFT commented on #93728
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-05-31 22:05] ChaitanyaNaykodi-MSFT commented on #93734
Thank you for your feedback! We will review and update as appropriate.

[2022-05-31 22:05] erik-ha-msft commented on #92874
Thank you for the feedback.

We've updated the article to address your feedback and the changes should be available soon.

#please-close

[2022-05-31 22:44] cebundy commented on #93624
@mattmazzola Thank you for your input.  Many of our docs offer the option to use a bash shell or PowerShell.   In the PowerShell tabs, we use PowerShell syntax and commands (cmdlets) where possible.  In cases where there is not an equivalent PowerShell cmdlet, the Azure CLI command is used.
When the PowerShell cmdlets for Azure Container Apps are available they will be added to the documents, so t

[2022-05-31 22:44] #93624 closed

[2022-05-31 23:21] ChaitanyaNaykodi-MSFT commented on #93705
Hello @Sebas1337,

Updating the serial number of a SOA record is not supported in Azure Private DNS Zone. [The documentation linked](https://docs.microsoft.com/en-us/azure/dns/dns-zones-records#soa-records) to this issue is related to Azure Public DNS Zone where you can update the serial number of a SOA record.

If you wish to have this as a feature in Azure Private DNS Zone, you can create a feat

[2022-05-31 23:21] #93705 closed

[2022-05-31 23:24] kgremban commented on #93642
@joshbinney Thank you for the suggestion. We'll take that into consideration for improving the tutorial experience. In the meantime, are any of these samples helpful for your scenario? https://github.com/Azure-Samples/azure-iot-samples-csharp/tree/main/provisioning/Samples

[2022-05-31 23:29] mattmazzola commented on #93624
I'm not sure how this is relevant. I am asking for Azure CLI to be used for consistency. There clearly are both command available.

The command I referred to are not for Container Apps. They are the most fundamental Azure CLI commands

All the other pages show:
[code]
This page shows:
[code]

Because it's the only page, it makes the reader feel it was intentional, but it is possibly a mistake. I c

[2022-05-31 23:29] JamesTran-MSFT commented on #93724
@timahenning
Thanks for your feedback! We will investigate and update as appropriate.

[2022-05-31 23:37] mattmazzola commented on #93624
Does this mean all the other pages are incorrect?
Because their "PowerShell" tabs, show the Azure CLI instead of commandlets? Perhaps that should be changed then.

[2022-06-01 00:02] pnarsi commented on #93410
@whhender - I don't believe that the page that @ShaikMaheer-MSFT has shared has answered my question. That page is focus on ingestion private endpoints (for SHIR VM to access various data sources) and what authentication methods are supported.

It doesn't say anything about whether we can use private endpoints for the SHIR VM for non ingestion related traffic i.e. for management traffic back to th

[2022-06-01 00:06] dkamstra commented on #92975
@helloyesthisisdave the template documentation you refer to does have the correct information. A 'Secure Webhook' is a Webhook receiver where useAadAuth == true

    "webhookReceivers": [
      {
        "identifierUri": "string",
        "name": "string",
        "objectId": "string",
        "serviceUri": "string",
        "tenantId": "string",
        "useAadAuth": "bool",
        "useCommonAle

[2022-06-01 00:14] dkamstra commented on #92975
#please-close

[2022-06-01 00:14] #92975 closed

[2022-06-01 00:44] KarlErickson commented on #92964
#assign:@v-kevinmic3

[2022-06-01 00:55] medavamshi opened #93736 "How to Disable trusted lunch for a vm?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cedc5fc7-5576-f22f-9c9a-a2977ad93607
* Version Independent ID: e7cda6ea-acd1-b56f-9d81-92d6fde31921
* Content: [Trusted launch for Azure VMs - Azure Virtual Machines](https://docs.microsoft.com/en-us/azure/virtual-machines/trusted-launch)
* Content So

[2022-06-01 01:17] brycechen1849 commented on #93710
Yes. It's in the View connections section:
`az webapp connection list -g "<your-app-service-resource-group>" -n "<your-app-service-name>`
I have 3 service connections. They look much better when the output shows as a table.
Also, I would suggest this become a general practice in this tutorial series.

[2022-06-01 01:18] kobulloc-MSFT commented on #93736
@medavamshi Thank you for your question!  We are reviewing the documentation and will get back to you shortly.

[2022-06-01 02:19] kobulloc-MSFT commented on #93733
@rrmistry Thank you for your feedback!  We are reviewing the documentation and will get back to you shortly.

[2022-06-01 02:21] kobulloc-MSFT commented on #93732
@anotherancientalien Thank you for your question!  We are reviewing the documentation and will get back to you shortly.

[2022-06-01 02:27] SumanthMarigowda commented on #93572
@MichaelBrooks-Informatyx I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-06-01 02:32] SumanthMarigowda commented on #93681
@whsh-ca
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-06-01 02:38] spelluru commented on #93192
The article has been updated by the content dev now.

#please-close

[2022-06-01 02:38] #93192 closed

[2022-06-01 02:46] russd2357 opened #93738 "Email rule doesn't trigger if recipient email not Administrator role."
You need to specify in this document that the email address specified for the email action must be connected with the Azure account/subscription. I specified 3 different email addresses:

- one Gmail (not affiliated with my subscription)
- another private email address not associated with the Azure account
- the email of the Administrator account (rdepina@microsoft.com)

Only the Administrator acc

[2022-06-01 03:24] AshokPeddakotla-MSFT commented on #93738
@russd2357 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-06-01 04:00] MayankBargali-MSFT commented on #93735
@dellch Thank you for your feedback! We will review and update as appropriate.

[2022-06-01 04:10] ShaikMaheer-MSFT commented on #93410
@linda33wj Could you please validate customer feedback and enhance document as appropriate? Thank you.

[2022-06-01 04:14] aluty opened #93740 "Azure Cosmos DB Emulator - Release notes and download information; missing release notes for latest 2.14.7"
Azure Cosmos DB Emulator - Release notes and download information; missing release notes for latest 2.14.7

Latest Microsoft Download Center https://aka.ms/cosmosdb-emulator (as of 2022-05-31) (Signed 2022-05-08 22:48:00Z)
{
"PackageName": "azure-cosmosdb-emulator-2.14.7-c041c584.msi",
"Manufacturer": "Microsoft® Corporation",
"ProductName": "Azure Cosmos DB Emulator",
"ProductVersion": "2.14.7",

[2022-06-01 04:15] pushpasis commented on #67595
Hi is this issue resolved yet? Please provide the new PR# here.

[2022-06-01 04:32] CHEEKATLAPRADEEP-MSFT commented on #93740
@aluty  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-06-01 05:54] kobulloc-MSFT commented on #93518
@suzizuber It looks like all of the hrefs for the FAQ direct to faq.yml (lines 219 through 243) which is causing the behavior we are seeing.  In addition, the TOC nav mirrors the page nave on the right.  Do we have a preference for how we want to address this?

[2022-06-01 06:01] kobulloc-MSFT commented on #93520
@geordiekorper A PR has been created to address this.  We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-06-01 06:01] #93520 closed

[2022-06-01 06:11] Nidhoggr opened #93741 "Creating dev environment"
Do we need to generalize the waagent?
We have created a snapshot and converted our live site to its own Linux VM in Azure for a dev. environment, and not done anything with the waagent before this procedure.
Just wondering what implications this might present, and for a workaround, could we just run generalize on our dev.environment since it is up and running?

---
#### Document Details

⚠ *Do not

[2022-06-01 06:13] brycechen1849 opened #93742 "--secret option seemed doesn't work when combined with --new"
In this page :

When executing this in my cloud shell, the creation failed because I don't have the permission of `RoleAssignment` in the subscription.
[code]

But I think the expected authentication was using an access key and password rather than a system identity. As illustrated in the cli help `az webapp connection create storage-blob -h`
[code]
So I tried to create in Portal manually a storag

[2022-06-01 06:14] SreejaBhattacharya-MSFT commented on #93741
@Nidhoggr
Thanks for reaching out. Looking into this.

[2022-06-01 06:39] GeethaThatipatri-MSFT commented on #93531
I'm assigning this to the author for the feedback review.

[2022-06-01 06:47] georgeOsdDev opened #93743 "update quick start guide to meet latest VS Code."
Please update quick start guide to meet latest VS Code.
Create project flow is changed.

https://github.com/microsoft/vscode-azureresourcegroups/releases/tag/v0.5.0

https://marketplace.visualstudio.com/items?itemName=ms-azuretools.vscode-azurefunctions
<img width="383" alt="image" src="https://user-images.githubusercontent.com/1381907/171343614-9c1788f1-49a3-4183-97c1-21c8bedcadbd.png">

---
####

[2022-06-01 07:19] ozhug opened #93744 "when a web activity fails what values are returned and how can this be dealt with"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34b3d465-6a2b-88ad-6e80-4fb784cd489e
* Version Independent ID: 51b70888-d089-7352-4abd-7d587726700a
* Content: [Web Activity - Azure Data Factory & Azure Synapse](https://docs.microsoft.com/en-us/azure/data-factory/control-flow-web-activity)
* Content

[2022-06-01 07:20] ksysiekj commented on #93579
@bandersmsft ok, but how will I track it now? how will I know if this is done, how will I be notified about it? Is there any way I can track it or who should I ping about it?

[2022-06-01 07:22] ggailey777 commented on #93626
@cheapgrog I'm going to go ahead and close this issue. If you have any other documentation suggestions, please open a new issue. Thanks! #please-close

[2022-06-01 07:30] jackpoz commented on #83901
https://developercommunity.visualstudio.com/t/VS-2022-ships-outdated-Azurite-version/10026492 has been closed with VS 17.2.3 https://docs.microsoft.com/en-us/visualstudio/releases/2022/release-notes#17.2.3 .

Azurite 3.17.1 is the new shipped version, which is the latest according to https://github.com/Azure/Azurite/releases :
![image](https://user-images.githubusercontent.com/1153754/171350203-dc

[2022-06-01 08:02] jonathan-ford opened #93745 "Update Management Drivers Classification"
Update Management allows you to connect VMs in via Azure Arc and Update Management will correctly identify missing driver updates, but the classifications selection on update schedules don't allow for drivers to be scoped.

Either Drivers are not supported - in which case please comment on the page.

Or Drivers are supported but the Update Schedule drop-down selection doesn't allow for this select

[2022-06-01 08:11] felipeaugusto-ergo commented on #93669
Hi @tfitzmac - That is interesting because I tested creating a new VM with a public IP standard SKU and when I tried to move the entire resource group to a different subscription, it failed. If I create a new Basic Public IP and replace it in the VM, I'm able to move. I will try again shortly, but can you describe how you made this move?

[2022-06-01 08:16] helloyesthisisdave commented on #92975
Thanks @dkamstra

Given that the documentation makes reference to a `SecurewebhookReceivers` property that doesn't actually exist within the ARM Template, and that you are suggesting this functionality should actually be configured via a `webhookReceivers` object that has the `useAadAuth` flag set, does the documentation not need to be updated here?

[2022-06-01 08:22] raghu4sangeeth opened #93746 "User Role Assignments required to access the Reservations API is missing."
The document is missing the roles required for the user to see the reservations data and access through api.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5205150-d00d-725a-4fb7-f0d111b50574
* Version Independent ID: 93e72498-45c7-3277-6f3f-c08b3c7f7ce4
* Content: [Understand Azure reservations usage for Enterprise A

[2022-06-01 08:39] #80070 closed

[2022-06-01 08:45] #73441 closed

[2022-06-01 08:51] Alex-Boo opened #93747 "Retry attributes for functions in isolated mode"
Hello,
Could you please mention there functions in the isolated mode?
As I understand they don't support retry through attributes. Do you have plans to implement this feature?

thanks
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da28e92f-8a1e-9937-4547-180e26ede62e
* Version Independent ID: 2b95e024-e55b-98d4-bd84-8cb

[2022-06-01 09:02] Akshaymane71 opened #93748 "Please explain syntax of $sourceVM what to give input to & how is it reference to SourceImageId"
Please explain syntax of $sourceVM what to give input to & how is it reference to SourceImageId

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 720b9403-2322-5abd-2edc-7fa80bae90f2
* Version Independent ID: 2c33a6b1-43ef-6736-3255-8f8c25feb9cf
* Content: [Create an image definition and image version - Azure Virtual Mach

[2022-06-01 09:08] hazeljin1 opened #93749 "[Change request] Add whitelist IPs to the MDC Continuous export official docs"
[Enter feedback here]
Below ip addresses should be added to whitelist when continuous export to Event Hub on Vnet.
20.44.10.224/27
52.168.112.96/27
20.44.19.128/27
40.79.139.224/27
51.138.160.32/27
20.52.72.0/27
51.116.245.224/27
52.240.241.96/27
13.69.233.64/27
51.120.109.64/27
51.120.220.224/27
20.45.126.64/27
51.12.101.128/27
51.12.205.64/27
51.107.128.64/27
51.107.192.96/27
13.87.124.192/27
51

[2022-06-01 09:20] lwsrbrts opened #93750 "FAQ Q4 answer is no longer correct."
Q4 answer states:

**Q: Can I enable single sign-on for only a subset of my Google Cloud / G Suite Connector by Microsoft users?**

*A: No, turning on single sign-on immediately requires all your Google Cloud / G Suite Connector by Microsoft users to authenticate with their Azure AD credentials. Because Google Cloud / G Suite Connector by Microsoft doesn't support having multiple identity provider

[2022-06-01 09:30] avandras opened #93751 "Outdated screenshots and content"
The screenshot in the section describing restoring from a snapshot seems to be outdated (or from the future), as the name of some fields differ from what I see in the Portal itself.  Also, there is currently no option to create a new workspace (or restore point) as part of the restore process.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2022-06-01 09:34] takacs525 opened #93752 "Typos related to delete-destination flag"
Hi,

I think I found 2 typos in this document:
- In the [Synopsys](https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/storage/common/storage-ref-azcopy-sync.md#synopsis) the mentioned _deleteDestination_ flag correct name is _delete-destination_
- In the [Options](https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/storage/common/storage-ref-azcopy-sync.md#options) there is

[2022-06-01 09:42] SwathiDhanwada-MSFT commented on #93745
@jonathan-ford Thanks for your feedback.

Assigning to content author @SnehaSudhirG   for review.

[2022-06-01 09:44] GermanZz opened #93753 "Wrong sample for using retry context in a function"
Python sample to use retry context in a function is not valid. Attribute error context object has no attribute retry_context error received
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da28e92f-8a1e-9937-4547-180e26ede62e
* Version Independent ID: 2b95e024-e55b-98d4-bd84-8cba06319c9e
* Content: [Azure Functions error

[2022-06-01 09:47] SreejaBhattacharya-MSFT commented on #93748
Hello @Akshaymane71 , could you please share the entire syntax here/code snippet here.

[2022-06-01 09:50] Dushelov commented on #7091
Read both articles, still don't understand what would be if I have 2 DINE policies assignments on different layers (parent and child management groups) of same policy definition but with different values - which one will win?
For example on top level I use: assign network endpoint to private DNS A, and on child level I use assign network endpoint to private DNS B. At the end my endpoint will be as

[2022-06-01 09:57] Akshaymane71 commented on #93748
$imageDefinition = New-AzGalleryImageDefinition `
   -GalleryName $gallery.Name `
   -ResourceGroupName $gallery.ResourceGroupName `
   -Location $gallery.Location `
   -Name 'myImageDefinition' `
   -OsState specialized `
   -OsType Windows `
   -Publisher 'myPublisher' `
   -Offer 'myOffer' `
   -Sku 'mySKU'

$region1 = @{Name='South Central US';ReplicaCount=1}
   $region2 = @{Name='East US';Rep

[2022-06-01 09:57] #93748 closed

[2022-06-01 10:13] shashishailaj commented on #93730
@sercast Thank you for your inputs . We will investigate and update the thread further.

[2022-06-01 10:17] shashishailaj commented on #93749
@hazeljin1 Thank you for your feedback . We will investigate and update the thread.

[2022-06-01 10:28] mjuda-bdg opened #93754 "It's not working - content should be parsed"
Hello,
Provided instruction is not correct.
Send email step can't use Body from HTTP Request because it's Object type

`InvalidTemplate. Unable to process template language expressions in action 'Send_an_email_(V2)' inputs at line '0' and column '0': 'The template language expression 'triggerBody()?['subject']' cannot be evaluated because property 'subject' cannot be selected. Array elements can o

[2022-06-01 10:30] jtidmus opened #93755 "Typo in FAQ entry"
Text:
"Does CloudKnox integrate with third-party ITSM (Information Technology Security Management) tools?"
should be:
"Does CloudKnox integrate with third-party ITSM (Information Technology Service Management) tools?"

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d223b814-76f8-ac48-eaef-33c508a3d15f
* Version Independ