[2022-03-24 18:28] terryclancy opened #90428 "This pshould cover how to protect against accidental deletion of the Storage Account or Resource Group."
I would suggest that this page also cover how to protect against accidental deletion of the Storage Account or Resource Group. Soft Delete is fine but not much protection again these other risks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 597c9b5f-f41f-400c-f4da-8bc8159d366a
* Version Independent ID: 5b993db0-eb4c-

[2022-03-24 18:28] AjayKumar-MSFT commented on #89672
bdcoder2, Thanks for the additional info. both configuration keys disappearing seems little offset. Sure, please let me know if you still need further assistance. I'll follow-up with you further for a closer investigation.
Since this is not related to documentation specific feedback, I'll close this for now. Thanks again for your time and feedback.

[2022-03-24 18:33] rwike77 commented on #90046
Hi, starting in January of 2021 some features were introduced that changed the default lifetimes of several token types.  Configurable token lifetimes for refresh and session tokens were also retired.  That's why this article saw big updates last year.  The default lifetime for single-factor session tokens (persistent and non-persistent) is until revoked:
https://docs.microsoft.com/en-us/azure/act

[2022-03-24 18:41] srinia commented on #90277
@nilact, We are working through some of the high priority asks that have come in during our current public preview of Elastic Jobs. This work is expected to land in late second half of CY 2022 but will add some enhanced capabilities. GA is planned soon after that. Current public preview is and continues to be fully supported and all the issues/incidents are handled by our support and product teams

[2022-03-24 18:42] angelicafaber opened #90430 "Updates"
[Enter feedback here]

Azure Security Center should be updated to Microsoft Defender for Cloud.
Also, Microsoft Sentinel is not listed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 47e39a6c-c05c-8c59-c96c-d7aa4d55c40d
* Version Independent ID: 9fe0e0db-ca4b-53d1-3980-d204d9996364
* Content: [Azure Security Services a

[2022-03-24 18:42] srinia commented on #40111
We are working through some of the high priority asks that have come in during our current public preview of Elastic Jobs. This work is expected to land in late second half of CY 2022 but will add some enhanced capabilities. GA is planned soon after that. Current public preview is and continues to be fully supported and all the issues/incidents are handled by our support and product teams. Hope th

[2022-03-24 18:47] JamesTran-MSFT commented on #90430
@angelicafaber
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-24 18:48] tfitzmac commented on #90301
#please-close

[2022-03-24 18:48] #90301 closed

[2022-03-24 18:50] tfitzmac commented on #90112
@milope - thanks for this feedback. I'll update the doc to clarify this issue.

[2022-03-24 18:51] krazy-glue opened #90431 "LXP ISO links not working"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a8d3194d-974c-f014-cd0a-6ec611952281
* Version Independent ID: 52951f02-174b-a688-bca0-4f93cc6f7e8b
* Content: [Install language packs on Windows 10 VMs in Azure Virtual Desktop - Azure](https://docs.microsoft.com/en-us/azure/virtual-desktop/language-

[2022-03-24 18:52] RyanHill-MSFT commented on #90387
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-03-24 18:57] #90430 closed

[2022-03-24 19:06] mike-urnun-msft commented on #90176
@schen213 Since we didn't determine any changes to this documentation upon reviewing your feedback, we will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-03-24 19:06] #90176 closed

[2022-03-24 19:27] hallihan commented on #68720
@yuecong Is this issue still relevant?  If so, please share some additional details on how to replicate the problem.

[2022-03-24 19:27] oneringmordor opened #90434 "Wording clarification and information additions"
Under the "Synchronizing temporary passwords and "Force Password Change on Next Logon"" section, can we clarify the wording here? Especially for tenants that have synced users whose on-prem passwords have expired but the cloud password policy wasn't matching on-prem or a similar situation.

When the admin turns on this flag does it make everyone have to change their password at next logon or does

[2022-03-24 19:28] oneringmordor commented on #90434
Closing as opened under wrong Github account. Reopening with correct MS internal account.

[2022-03-24 19:28] #90434 closed

[2022-03-24 19:30] stephengregorio opened #90435 "Wording clarification and Information additions"
Under the "Synchronizing temporary passwords and "Force Password Change on Next Logon"" section, can we clarify the wording here? Especially for tenants that have synced users whose on-prem passwords have expired but the cloud password policy wasn't matching on-prem or a similar situation.

When the admin turns on this flag does it make everyone have to change their password at next logon or does

[2022-03-24 19:31] hallihan commented on #69167
@ramandhillon84 is there any update on this thread regarding dual-stack IPv4/v6 on Azure VMs?

[2022-03-24 19:34] hallihan commented on #53476
#please-close

[2022-03-24 19:34] #53476 closed

[2022-03-24 19:58] DerekHerman-MSFT commented on #90428
This page is meant specifically for Azure File Shares. The various data protection including stopping deletion for storage accounts can be found on this page:
https://docs.microsoft.com/en-us/azure/storage/blobs/data-protection-overview

Perhaps adding this link under the next steps section would be helpful. Assigning this feedback to the doc author for consideration.

[2022-03-24 19:58] tfitzmac commented on #90112
I have added a note which should get published later today that states multi-tenant accounts are currently not supported for managing resources through a private link.

[2022-03-24 19:58] tfitzmac commented on #90112
#please-close

[2022-03-24 19:58] #90112 closed

[2022-03-24 20:03] #90310 closed

[2022-03-24 20:07] vdimov-gcmlp commented on #90416
The following setup worked for setting up a Microsoft.Skills.Custom.WebApiSkill System Managed Identity authorized by EasyAuth and AppRoles.

Finding the correct `authResourceId` Enterprise App Page:
![image](https://user-images.githubusercontent.com/73200875/159999601-01f5908b-0e8e-425c-bfac-4fcd855eed75.png)

Setting authResourceId:
[code]

[2022-03-24 20:14] mfaulkdel opened #90437 "Do fields within complex types count towards the 1000 field limit?"
Do fields within complex types count towards the 1000 field limit?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 05e60837-26b9-1f5a-7a44-88ae8c9a7bc3
* Version Independent ID: eaa6fabe-3d51-d626-3a51-d2e46efca454
* Content: [Service limits for tiers and skus - Azure Cognitive Search](https://docs.microsoft.com/en-us/az

[2022-03-24 20:27] rollingage opened #90438 "Need to clarify how to access Key Vault secrets in Synapse."
https://docs.microsoft.com/en-us/azure/synapse-analytics/spark/microsoft-spark-utilities?pivots=programming-language-python#configure-access-to-azure-key-vault

_"Synapse notebooks use Azure active directory(Azure AD) pass-through to access Azure Key Vault. Synapse pipelines use workspace identity(MSI) to access Azure Key Vault. To make sure your code work both in notebook and in Synapse pipeline,

[2022-03-24 20:28] Nagendracv opened #90439 "Please update documentation - handleRedirectCallback does not take a callback function anymore. It takes a hash string."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e97ee60-1cb2-9517-04b5-f7c80f7bcd7b
* Version Independent ID: 08b8c5f2-333a-8576-c5d2-64afa758892c
* Content: [Handle errors and exceptions in MSAL.js - Microsoft identity platform](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal

[2022-03-24 20:31] RyanHill-MSFT commented on #89605
I see @dereklegenzoff. I was referencing [latest v11.3.0](https://docs.microsoft.com/en-us/dotnet/api/overview/azure/search.documents-readme?view=azure-dotnet). I see the overload in [preview 11.4.0-beta7](https://docs.microsoft.com/en-us/dotnet/api/azure.search.documents.indexes.searchindexclient?view=azure-dotnet-preview).

[2022-03-24 20:42] wedoazure opened #90441 "Subscription Type Support"
The transfer hub page - https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/subscription-transfer - lists new offer in Azure CSP Azure Plan as a supported offer, detailed as MPA. Which links to this page. But for clarity, there is no MPA listed on the supported sub types section. Could this be clarified please? Or does the listing of Azure Plan now mean transfer requests are supp

[2022-03-24 20:45] rantonov commented on #90087
Any news/updates please?

[2022-03-24 20:50] YutongTie-MSFT commented on #90426
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-03-24 20:52] ziaddiab-globaldws commented on #90164
@KrishnaG-MSFT , @SatishBoddu-MSFT
Can someone please help us here.
Can you share the source code of the application you ran on .NET 4.7
Thanks

[2022-03-24 21:00] bschaef14 opened #90442 "Clarify Application Responsibility for Reported Properties update responsibility"
Optimistic concurrency or another section should mention that to guarantee correct behavior of reported properties in twin, application needs to guarantee single in-flight message at a time. See this github issue: https://github.com/Azure/azure-iot-sdk-c/issues/1432 and Support Ticket: 2112080010001504

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2022-03-24 21:03] mike-urnun-msft commented on #90381
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-03-24 21:05] andrewbrownmsft commented on #83050
Hi. With our Public Preview Refresh release in February, we revamped our documentation further and have hopefully addressed the issues you reported. Can you let us know if anything is still problematic?

[2022-03-24 21:11] jb185t opened #90444 "How to get private link id for binary allow connection."
[Enter feedback here]

I was looking for instruction on how to create linked service for NVA binary allow connection. To create Binary allow in Bastion, you need to get private link id. To get it you need to execute curl command something like below;

curl -x http://proxy.conexus.svc.local:3128 www.xyz.com
F5-REJECT LinkID: 553649021, srcIP: 10.2.0.4 blocked to www.xyz.com

Then you can use the Li

[2022-03-24 21:12] pinyuko opened #90445 "What is the least RBAC needed to install Network Watcher Agent on VM extension?"
[Enter feedback here]
Hi I'm Penny Ko in MSFT, I got a feedback from customer that they would like to have the least RBAC needed to install Network Watcher Agent on VM extension. Would you kindly share what rights are needed? Thank you!
Are there any more granular Action than below?
Microsoft.Compute/virtualMachines/extensions/Read
Microsoft.Compute/virtualMachines/extensions/Write

https://docs.m

[2022-03-24 21:14] SnehaGunda commented on #88272
#reassign:@SnehaGunda

[2022-03-24 21:20] harrchen88 opened #90448 "The SetupApplication PowerShell throw exception of "value of identifierUris property must use a verified domain""
When trying to run the script to create app registration, I got this error:
 .\SetupApplications.ps1 -TenantId 'cb1448dd-17d3-4d26-a615-5041036cf945' -ClusterName 'hachensfc' -WebApplicationReplyUrl 'https://hachensfc.eastus.cloudapp.azure.com:19080/Explorer/index.html'
TenantId =  cb1448dd-17d3-4d26-a615-5041036cf945
Invoke-RestMethod : {"odata.error":{"code":"Request_BadRequest","message":{"lang

[2022-03-24 21:36] andrewbrownmsft commented on #88045
Hi. Since I haven’t heard back from you and we've verified the link is fixed from our side, I’m going to close this issue as resolved. If you have further questions on this topic feel free to comment here again and we can reopen the issue. Thanks!

[2022-03-24 21:37] andrewbrownmsft commented on #88045
#please-close

[2022-03-24 21:37] #88045 closed

[2022-03-24 21:38] andrewbrownmsft commented on #88046
Hi @m-chau. Just checking to see if you have additional feedback here?

[2022-03-24 21:47] nathan-alexander-byu opened #90451 "Pandas can easily read write from cluster driver filesystem, how to do this with spark?"
See details here: https://stackoverflow.com/questions/71607021/why-is-pyspark-unable-to-read-this-csv-file

Basically, I created a csv file in the tmp directory of the cluster, and have not figured out how to get Spark to read it in. Per my example on Stack Overflow, Non-Spark Pandas can do this:

import pandas as p
p.read_csv('/tmp/test.csv')

And the dbutils object can see the file:
dbutils.fs.l

[2022-03-24 22:12] TerryLanfear commented on #89045
@pkruesi - Thanks for reaching out. If VMs cannot reach MU public endpoint, your next option is to use one of the following:

- Internal DefenitionUpdateServer
- FileShare

For both, the customer has to build and maintain. Please see the following article for more information: https://docs.microsoft.com/en-us/windows-hardware/customize/desktop/unattend/security-malware-windows-defender-fallbackord

[2022-03-24 22:23] kobulloc-MSFT commented on #90398
@RicardoNiepel Thank you for your feedback!  We've assigned this to the document author for further review.

[2022-03-24 22:24] Nicholak-MS commented on #90423
Hi Thomas,

Thank you for bringing this bug to our attention. I have removed the extra space in the column header.

Regards,
Nick

[2022-03-24 22:24] kobulloc-MSFT commented on #90405
@aszego Thank you for your feedback!  We've assigned this to the document author for further review.

[2022-03-24 22:26] kobulloc-MSFT commented on #90431
@krazy-glue Thank you for your feedback!  We are reviewing the LXP ISO links and will get back to you shortly.

[2022-03-24 22:27] MarileeTurscak-MSFT commented on #90435
@stephengregorio
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-24 22:29] MarileeTurscak-MSFT commented on #90435
Hi @stephengregorio , I see you are an internal Microsoft employee. Since this is the case, I would recommend emailing the author or raising a pull request in a private email to address this issue, rather than using the public Github comments.

[2022-03-24 22:29] #90435 closed

[2022-03-24 22:37] JamesTran-MSFT commented on #90425
@Cephei
Thank you for your time and patience!

It sounds like the provisioning service is working as expected to your SaaS app with no issues. However, you're consistently seeing this Core Directory failure message within your Audit Logs.

- Can you share a screenshot of what you're seeing? *Keeping in mind PII.
- How long have you been seeing this error?

If you have any other questions, please l

[2022-03-24 22:45] shescripts commented on #80426
Hi @YuriySamorodov, I got the same error when I used more than 365 days in my expiration schedule. 365 days and under it works.. but anything over and I get the ["ExpirationRule"] error.

[2022-03-24 22:45] bdcoder2 commented on #89672
@AjayKumar-MSFT - I have confirmed that when an environment variable is entered in the Azure portal for an App Service -- the environment variable (as-is) is created and a second environment variable with the prefix "APPSETTING_" is also created (as stated in the docs) and loaded when the AddEnvironmentVariables() is called.

See:  [https://github.com/bdcoder2/env1](https://github.com/bdcoder2/env

[2022-03-24 22:45] Cephei commented on #90425
Here are some images from a dev/test Azure instance. This issue appears whenever we create a new enterprise app and connect provisioning. SCIM is successfully working, but this failure error keeps appearing in the Audit Log.

<img width="1544" alt="Screen Shot 2022-03-24 at 11 41 35 PM" src="https://user-images.githubusercontent.com/1054639/160022066-241c4b20-4dcf-4360-b7ae-ba73091c4b35.png">
<img

[2022-03-24 22:46] MarileeTurscak-MSFT commented on #90329
Thanks! I made a pull request to update the document https://github.com/MicrosoftDocs/azure-docs-pr/pull/192874

CC @rolyon

@meggarlandmsft based on your user name you appear to be a Microsoft FTE. If this is the case, for future issues feel free to create your own private pull request or reach out to the author via email for these types of changes, rather than creating a public Github issue.

ht

[2022-03-24 22:46] #90329 closed

[2022-03-24 22:58] Cephei commented on #90425
I'm not quite sure how long we've been seeing it for and whether it happens for each customer. I'll try to get more information on that tomorrow and report back. But it's definitely happening on more than two un-related Azure instances / subscriptions. I don't know if it happens to apps in the gallery, but as ours is not currently, it happens every time I create a new enterprise app.

We have a cl

[2022-03-24 23:01] MarileeTurscak-MSFT commented on #90401
Thanks! I made a pull request to update the least privileged roles. https://github.com/MicrosoftDocs/azure-docs-pr/pull/192877

@rolyon

In the future, feel free to make your own PR for this type of update. https://docs.microsoft.com/en-us/contribute/#quick-edits-to-documentation

[2022-03-24 23:01] #90401 closed

[2022-03-24 23:36] tfitzmac commented on #89509
@ohadschn - thanks for this feedback. I have added some clarification to the Cosmos DB example. That situation is unusual because Cosmos DB is not a zonal resource but you are not looking for zones for the resource type. Instead, you are looking for  zones for georeplication, in which case storage account works.

While zonal resources will return the same results, it's helpful to pass the resource

[2022-03-24 23:37] tfitzmac commented on #89509
#please-close

[2022-03-24 23:37] #89509 closed

[2022-03-24 23:41] MarileeTurscak-MSFT commented on #90394
Azure Confidential Ledger uses blob storage, which does support these types, so I believe that this would be possible. However, I have assigned this issue to the content author to update and confrim.

[2022-03-24 23:57] mike-urnun-msft commented on #90386
Thank you for your feedback! We will review and update as appropriate.

[2022-03-25 00:13] euchungmsft commented on #90378
Thanks @mike-urnun-msft

One more thing, in the sample code, `azure-core` is optional which automatically fetched with right version, no need to explicitly add to build file. It seems like it often makes misreadings by the developers. Please consider to remove it

[2022-03-25 00:18] KranthiPakala-MSFT commented on #90389
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-03-25 00:20] KranthiPakala-MSFT commented on #90399
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback, the PR and will update you as appropriate.

Appreciate much for submitting the PR and helping improve the content. :)

[2022-03-25 00:22] KranthiPakala-MSFT commented on #90410
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-03-25 00:25] KranthiPakala-MSFT commented on #90444
Thanks for leveraging Azure docs feedback channel to raise this question. This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. We didn't determine any changes for this documentation upon reviewing this feedback.

If your issue is specific to a use case, we request you to please reach out in forums like [Microsoft Q&A](https://docs.micros

[2022-03-25 00:35] johndowns commented on #90199
@gsuttie, a few responses:

We want to avoid trying to document all of Azure in the Bicep documentation  - we're trying to specifically show what you need to know to deploy them in Bicep, and there are other docs that explain what role assignments are, such as [Steps to assign an Azure role](https://docs.microsoft.com/en-us/azure/role-based-access-control/role-assignments-steps). Having said that,

[2022-03-25 00:40] ram-msft commented on #90414
@abhijit-z Thanks for the question. We are investigating the issue and will update you shortly.

[2022-03-25 00:49] namanpatel12 commented on #90426
I have same issue and started happening today morning. Can we please have an update asap?

[2022-03-25 00:51] yusosov commented on #85624
I have some heavier workload now, not related to this thread, but I will definitely return to this issue, hopefully next week.

[2022-03-25 00:52] ninarn commented on #89871
I will add that it looks like your issue is with Azure Storage accounts, and this document is only about connectivity to the Query Editor feature for Azure SQL Databases. Perhaps you can open an issue with the page with the instructions you are struggling with. I wish you luck in resolving your issue and completing the learn module.

[2022-03-25 01:38] MonikaReddy-MSFT commented on #90391
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2022-03-25 01:42] anumalasri opened #90455 "Apache Web Server Monitoring"
Does AppInsights able to monitor Apache webserver?

If it's possible, where can we find documentation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3de928ad-68c6-d30b-bc63-3354b76c149f
* Version Independent ID: cbd03b5d-7f6b-b483-6ddf-4fe4cde5e9ec
* Content: [Application Insights overview - Azure Monitor](https://doc

[2022-03-25 01:48] rycharlind commented on #78992
I also had a similar issue and was getting the following error: `Container didn't respond to HTTP pings on port: 80, failing site start.`.

However, I also noticed that I was getting this error before it: `standard_init_linux.go:228: exec user process caused: exec format error`.

I figured out from the below thread that the issue was b/c I was building my container on an Apple Silicon Mac.  Since

[2022-03-25 02:18] k-byun commented on #43631
I concur, the parameter `-SettingString` should be `-Setting`.

The information at the MS Doc below needs to be updated - at the last line under the section "To deploy the extension on a VM:":
https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/key-vault-windows#azure-powershell-deployment

[2022-03-25 02:54] GiftA-MSFT commented on #90395
@ravriel we'll review your feedback and get back to you shortly. Thanks.

[2022-03-25 02:59] terryclancy commented on #90428
Thanks for your responce.  Sure but the page you reference appears to be specific for Blobs and thus not Azure file shares.  I agree that some of the precautions apply, but they should be included on a Azure file shares page not just on the Blob page.

[2022-03-25 03:07] spelluru commented on #90378
Hi @euchungmsft - Apologize for the inconvenience. Updated dependencies as you suggested. The update will go live with the tomorrow morning 4 AM PST publish. Thanks.

#please-close

[2022-03-25 03:07] #90378 closed

[2022-03-25 03:07] ohadschn commented on #89509
@tfitzmac thank you!

I'm not sure how unusual that really is - for example Azure Container Registry, Azure App Services, Azure Kubernetes Service Azure Batch, and basically any other managed service that uses Zonal resources under the covers (a list which I expect will only grow in time).

I don't see how such a check makes sense in the context of an ARM/bicep file, where you would only make it f

[2022-03-25 03:08] spelluru commented on #89976
#please-close

[2022-03-25 03:08] #89976 closed

[2022-03-25 03:19] hiaga commented on #89892
**Update** - We checked with our Backend team and looks like this is expected for an AG from Backend side.

Get container API is expected to return nothing until protection is configure for that AG. This API is called in Protectable items command to fetch the NodesList.

**Fix** - We will block the error which is currently breaking the command and will keep NodesList empty unless the get container

[2022-03-25 03:24] CHEEKATLAPRADEEP-MSFT commented on #90451
@nathan-alexander-byu  Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2022-03-25 03:52] VikasPullagura-MSFT commented on #90445
@pinyuko
Thanks for your Question! We are currently investigating and will get back on this.

[2022-03-25 03:58] AshokPeddakotla-MSFT commented on #90442
@bschaef14 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-03-25 04:27] euchungmsft commented on #90378
Thank you so much @spelluru  for your such a prompt feedback

I'll close this tomorrow when it's on the doc site

[2022-03-25 04:27] SwathiDhanwada-MSFT commented on #90408
@NickSpag Thanks for your comment. We will review the issue and get back to you shortly.

[2022-03-25 04:31] SwathiDhanwada-MSFT commented on #90420
@vdimov-gcmlp Thanks for your comment. We will review the issue and get back to you shortly.

[2022-03-25 04:33] SwathiDhanwada-MSFT commented on #90424
@mikegud Thanks for your feedback.

Assigning to content author @stevevi for review.

[2022-03-25 04:34] SwathiDhanwada-MSFT commented on #90437
@mfaulkdel Thanks for reaching out. Can you please share the azure document you are referring to so that I could redirect you to appropriate team ?

[2022-03-25 04:37] SwathiDhanwada-MSFT commented on #90441
@wedoazure Thanks for your comment. We will review the issue and get back to you shortly.

[2022-03-25 04:38] SwathiDhanwada-MSFT commented on #90455
@anumalasri Thanks for your comment. We will review the issue and get back to you shortly.

[2022-03-25 04:46] ShaikMaheer-MSFT commented on #90438
@rollingage Thanks for sharing feedback. We are actively validating it. We will share updates soon.

[2022-03-25 05:01] amanmcse commented on #90434
@oneringmordor Thank you for updating the thread.

[2022-03-25 05:02] AnnuKumari-MSFT commented on #90059
Hi @peterd-kovrr ,
Selfhosted IR will be installed on some machine and configured in ADF.

**KeyFilePath** - Its full path on the selfhosted IR machine to the .p12 key file that is used to authenticate the service account email address.

**trustedCertPath** - Its full path on the selfhosted IR machine to the .pem file that contains trusted CA certificates used to verify the server when you connect

[2022-03-25 05:02] SreejaBhattacharya-MSFT commented on #90448
Hi @harrchen88, thanks for reaching out. We will investigate on this and update you.

[2022-03-25 05:49] scott-gibbo opened #90457 "Calculation of 'Cache hit percentage' Appears Incorrect"
Calculation of 'Cache hit percentage' appears incorrect.

Currently: (cache hits / cache miss ) * 100

Should be?: (cache hits / (cache hits + cache miss)) * 100

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 118e87ff-f5a6-2f1d-d61e-b0749e274364
* Version Independent ID: 1b6a9a85-07d4-2b66-8ed5-4ab16a044e1e
* Content:

[2022-03-25 05:49] makokui opened #90458 "ASE v3 migration instructions are missing on the Japanese document"
[Enter feedback here]
Migration instructions are missing on the Japanese document. The detail is shown below.

https://docs.microsoft.com/ja-jp/azure/app-service/environment/how-to-migrate
![image](https://user-images.githubusercontent.com/19471946/160062056-012f1f81-6a0a-45d4-bf72-7d2419625174.png)

https://docs.microsoft.com/en-us/azure/app-service/environment/how-to-migrate?pivots=experience-az

[2022-03-25 05:51] kobulloc-MSFT commented on #90291
@Klaas- Hello again!  For product feedback and suggestions you'll want to submit your idea to feedback.azure.com.  This makes sure that your idea gets seen by the product group and allows other members of the community to vote on ideas to increase their visibility.  Here is the link for Virtual Machines:

https://feedback.azure.com/d365community/forum/ec2f1827-be25-ec11-b6e6-000d3a4f0f1c

[2022-03-25 05:56] PriyankaRudramaina commented on #90383
@lorenzomsft,

For the point#1, we could bring the note up a bit in important section. The important is made in every microsoft document to be able to make sure users read it. It cannot be more visible than that.

For your second point, All  of those topics discuss generalized VMs, but they refer back to this article for how to generalize. What kind of alternative are you looking for? What isit yo

[2022-03-25 06:01] chaisen2006 opened #90461 "Pre-requisite of User Role for AWS RDS MYSQL to Azure MYSQL Migration"
Hello experts,

I would like to know the role the user requires for both source and target needed for DB migration.

Case 1 : Source DB - AWS RDS MYSQL   Target - Azure MYSQL
Case 2 : Source DB - AWS RDS PostGresSQL   Target - Azure PostGresSQL

Both these needs to be migrated using Azure DMS services.
Can you please clearly call out the user privilege required for Data Migration. ( both for sourc

[2022-03-25 06:17] darshak2801 opened #90462 "Context error - Soft delete for VMs using Azure portal"
Title: Soft delete for VMs using Azure portal
Page URL: https://docs.microsoft.com/en-us/azure/backup/soft-delete-virtual-machines#soft-delete-for-vms-using-azure-portal

Point#2
In the following window, you'll be given a choice to delete or retain the backup data. **If you choose Delete backup data and then Stop backup, the VM backup won't be permanently deleted.** Rather, the backup data will be

[2022-03-25 06:17] #90342 closed

[2022-03-25 06:17] AnuragSharma-MSFT commented on #90277
@srinia Thanks a lot for providing detailed response.

@nilact Please let us know if you have any follow up queries. If not, we will proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2022-03-25 06:18] AnuragSharma-MSFT commented on #90376
@vibhaskashyap Awaiting your response on this.

[2022-03-25 06:50] CHEEKATLAPRADEEP-MSFT commented on #90278
@bhagyashreesarode-gep As explained on the issue https://github.com/MicrosoftDocs/azure-docs/issues/63834, I'm able to successfully convert standard to premium tier and vice versa.

This issue looks strange. For a deeper investigation and immediate assistance on this issue, if you have a support plan you may file a support ticket.

[2022-03-25 06:50] #90278 closed

[2022-03-25 06:53] #90372 closed

[2022-03-25 07:23] calazlo opened #90464 "update doc: AAD Connect Health Agent for Sync has been updated from version 3.1.110.0 to version 3.2.1823.12"
I was wondering if this doc could be also update with:

"We updated the Azure AD Connect Health component in this release [2.0.91.0] from version 3.1.110.0 to version 3.2.1823.12.
This new version provides compliance of the Azure AD Connect Health component with the [Federal Information Processing Standards (FIPS)](https://www.nist.gov/standardsgov/compliance-faqs-federal-information-processing-st

[2022-03-25 08:19] javiersoriano opened #90465 "Clarify compliance statement"
We need to clarify this statement about compliance and data residency:

” In Microsoft Sentinel, data is mostly stored and processed in the same geography or region, with some exceptions, such as when using detection rules that leverage Microsoft's Machine learning. In such cases, data may be copied outside your workspace geography for processing.”

Customer raised following concerns:
•	“Such as w

[2022-03-25 08:21] javiersoriano commented on #90465
@tianderturpijn I believe you wrote the compliance section. Should we just remove that paragraph and reference this: https://docs.microsoft.com/en-us/azure/sentinel/quickstart-onboard#geographical-availability-and-data-residency?

[2022-03-25 08:28] adsk2050 commented on #45158
I am not using tempdir, I am just deleting the delta table using dbutils.fs.rm(table_path, recurse=True) and still getting this error. Please help!

[2022-03-25 08:54] MarekLani opened #90466 "Add alias field into SecretProviderClass examples"
In SecretProviderClass examples it would be good to have field  "objectAlias: SECRET_1    # [OPTIONAL] object alias" so that it is clear how the aliasing of secrets can be achieved. Currently it takes quite some time to find resource on how to achieve that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec9ff712-aa4c-4

[2022-03-25 09:06] VikasPullagura-MSFT commented on #90466
@MarekLani
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-03-25 09:06] VikasPullagura-MSFT commented on #90466
@Nickomang
Can you please check and add your comments on this doc update request as applicable.

[2022-03-25 09:14] PriyankaRudramaina commented on #81510
@kaarthis

Please look in to it.

[2022-03-25 09:21] kengaderdus commented on #89295
@saeedalhamed

Thank you for your feedback and patience. I agree that we should've mentioned something about sign in logs - we'll look into that.

However, sign in and audit logs are only retained for 7days. You need to use the [Azure monitor](https://docs.microsoft.com/en-us/azure/active-directory-b2c/azure-monitor)  if you require a longer retention period.

Does this help?

[2022-03-25 09:23] PriyankaRudramaina commented on #90131
@Theresa-Nguyen,

Can you please review this and answer?

[2022-03-25 09:26] lorenzomsft commented on #90383
Hi Priyanka,
For point #1 , got it thanks

For point #2, from a customer perspective that wants to generalize images by adding some customization, I think there should be some alternatives to that unsupported scenario. Like, I want to use sysprep, what are the supported scenarios and best practices (if there are) ? How can I customize the image without issues?
If I don’t want to use sysprep for an

[2022-03-25 09:29] kirilvalev commented on #89929
It's confusing, because the documentation is structured in two options in the beginning which explain how to 1) add a new app registration or 2) how to reuse an existing registration. When I follow the steps in options 1) or 2) an entry in Authentication is created, such that I can access the Azure Function over the web. This is perfectly fine:

![image](https://user-images.githubusercontent.com/4

[2022-03-25 09:32] jkbryan commented on #90392
Hi,

I think I have got it figured out now, after a little trial and error.

I'll provide the following 2 samples for user and group, the author can confirm, but they work for me.

I also note that when defining an approver, you can provide for example just the ObjectGUID, it works but renders in the portal as a kind of reference object with no details - adding the other attributes fills out the r

[2022-03-25 09:34] SwathiDhanwada-MSFT commented on #90462
@darshak2801 Thanks for your comment. We will review the issue and get back to you shortly.

[2022-03-25 09:54] robert4os opened #90467 "Inconsistency in Data Flow compute type naming"
Hi,

under https://docs.microsoft.com/en-us/azure/data-factory/control-flow-execute-data-flow-activity#type-properties possible types for Data Flow are listed:
"General", "ComputeOptimized", "MemoryOptimized"

However in most other places, there is only mention of 'Basic' and 'Standard'
- i.e. on Pricing: https://azure.microsoft.com/en-us/pricing/details/synapse-analytics/
- i.e. on Azure Pricing

[2022-03-25 09:54] klaas commented on #90131
@PriyankaRudramaina , please note my username. Thanks.

[2022-03-25 10:05] #89767 closed

[2022-03-25 10:20] chaisen2006 opened #90468 "Azure Cosmos DB to Azure Cosmos DB Migration"
Hello Experts,

If we have a use case to migrate data from Azure Cosmos SQL API to Azure Cosmos SQL API how this can be achieved by MS provided tools.

Both of these Cosmos sits on different subscription under the same tenant ,

Data : For Data I see we have Cosmos DB as a source and target option for Cosmos DT Tool but for other schema artifacts like Functions, triggers, procedures what could be

[2022-03-25 10:23] Oppedijk commented on #85807
Please take a look at these descriptions, as these are the base for Security Standards (like CIS) which might rely on this wrong data

[2022-03-25 10:37] rschouten97 opened #90469 "SSPR_0029: Your organization hasn't properly set up the on-premises configuration for password reset"
We encountered the following issue today:
SSPR_0029: Your organization hasn't properly set up the on-premises configuration for password reset

After spending 2,5 hours with 2 guys on this issue, trying to set/correct permissions. We decided to uninstall the Azure AD Connect on our DC en install it on another member server.
Doing this had it fixed immediately, perhaps provide this as a possible so

[2022-03-25 10:43] VigilanteWang opened #90470 "VM and SQL Server Backup"
[In this question](url), The "copy-only full backup on the VM",

Does it mean: when doing the Azure VM backup, it does copy-only backup, but when doing the SQL DB backup, it does regular backup(truncate the logs)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a079cf10-0e77-8a07-fdea-615b693d6769
* Version Independent

[2022-03-25 10:49] kavitagpawar opened #90471 "Error: compute.VirtualMachineExtensionsClient#CreateOrUpdate: Failure sending request: StatusCode=0 -- Original Error: Code="ArtifactVersionNotFound" Message="No version found in the artifact repository that satisfies the requested version '2.1' for VM extension with publisher 'Microsoft.Azure.Extensions' and type 'CustomScript'.""
I am trying to add new azurerm_virtual_machine_extension resource block. In one block I have already installed linux agent and in new extension resource block I am trying to install dotnet

esource "azurerm_virtual_machine_extension" "agent_pool_vm" {
  name                 = "abc"
  virtual_machine_id   = azurerm_linux_virtual_machine.pipeline_agent.id
  publisher            = "Microsoft.Azure.Ex

[2022-03-25 10:51] ezYakaEagle442 opened #90472 "Improve Bicep doc describing 'default' ONLY accepted value"
some resources parameters ONLY accept 'default' as value, this is not documented and should be documented as any other value would cause the Bicep deployment to fail.

Example
[code]

Also in azurespringcloudmonitoringSettings the 'appInsights.properties.ConnectionString' should be used, not the InstrumentationKey

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2022-03-25 10:53] SadiqhAhmed-MSFT commented on #90470
@VigilanteWang Thank you for your post.

[2022-03-25 11:01] kengaderdus commented on #89299
@mbarsott

Thank you for your feedback and patience.

At the moment, you've to select **Accept** to view the **Sing in/up** button, but we'll address that design issue.

I've created an item to track this issue internally, so I'll close this issue for now.

I'll comment back when the sample is updated.

Thanks.

#please-close

[2022-03-25 11:02] SadiqhAhmed-MSFT commented on #90441
@bandersmsft For visibility.

[2022-03-25 11:02] #89299 closed

[2022-03-25 11:05] andyjballgit opened #90473 "If a rule allows traffic to flow to an address , why do I only see the outbound entry in the Firewall Log ?"
[Enter feedback here]
ie I think i am right in saying for a successful outbound / inbound connection through the firewall , you will only see the outbound entry as "Allow" in the log , but not the successful reply / Allow in the log.  This is because Azure firewall is stateful.

My point is that it would be good to call this behaviour out in the FAQ , as ive seen it confuse multiple people - ie ma

[2022-03-25 11:17] VikasPullagura-MSFT commented on #90140
@cybersmithio Any update on this issue?
Were you able to retry?

[2022-03-25 11:39] elf2003 commented on #88608
Any chance to response?
Are you still live?

[2022-03-25 11:40] AminAvan opened #90474 "Does the Azure SQL Database ledger support video, audio, image, pdf?"
According to the row of "Restricted data types" in the "Limitations" table of the Azure SQL Ledger database, does the Azure SQL Ledger database support video, audio, image, and pdf datatypes?

If the Azure SQL Ledger database is a SQL database, how do the supported [data types of SQL database](https://docs.microsoft.com/en-us/sql/t-sql/data-types/data-types-transact-sql?view=sql-server-ver15) diff

[2022-03-25 11:43] SadiqhAhmed-MSFT commented on #90470
@VigilanteWang Copy-only backup doesn't become a base for the next differential backup. So the SQL side backups will run in sequence. You can refer to this link - https://charbelnemnom.com/running-sql-server-in-azure-vm-what-backup-solution-should-i-use-azurebackup/ makes it clear.

Feel free to reply if you have questions!

[2022-03-25 11:48] cubikca opened #90475 "Clarify User/System-assigned Identity"
While the instructions do refer to the system-assigned managed identity as "this identity", it's not clear that it won't work with any user-assigned managed identities to the same language service. Please clarify that it must be the system-assigned identity and not any others.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2022-03-25 11:54] AnuragSharma-MSFT commented on #90461
@chaisen2006 Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-03-25 11:58] mfaulkdel commented on #90437
I am referring to the following document:

https://docs.microsoft.com/en-us/azure/search/search-limits-quotas-capacity#index-limits

Thanks
Mark

From: SwathiDhanwada-MSFT ***@***.***>
Date: Friday, March 25, 2022 at 1:35 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Faulkner, Mark ***@***.***>, Mention ***@***.***>
Subject: [EXT] Re: [MicrosoftDocs/azure-docs] Do fields within complex types co

[2022-03-25 12:02] JohanKlijn opened #90476 "Open the “VAzure Video Analyzer for Media portal” created using the Azure Portal, when a trail account also exists"
I created a “Video Analyzer for Media account” in the Azure portal, and want to explore the portal of the created account. So I click the link “Azure Video Analyzer for Media portal” (https://aka.ms/vi-portal-link). Then I need to choose how to login:
-	AAD Account
-	Personal Microsoft account
-	Google
I choose AAD Account and sign in with the same account as I used to create the  “Video Analyzer

[2022-03-25 12:33] hallihan commented on #61592
@christiankuhtz for the Docs, we're going to keep this as-is for now, to match the use of the term "Source" as displayed in the effective routes view:
<img width="817" alt="image" src="https://user-images.githubusercontent.com/1796255/160121341-5afe66b2-ce84-4f49-82ca-49bb727ed947.png">

@please-close

[2022-03-25 12:34] hallihan commented on #61592
#please-close

[2022-03-25 12:34] #61592 closed

[2022-03-25 12:37] AjayKumar-MSFT commented on #90458
@makokui,  Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2022-03-25 12:38] AjayKumar-MSFT commented on #90458
@seligj95,  Requesting your comments on this.

[2022-03-25 12:43] explorer855 commented on #59569
Are there any updates on this issue? This link which was shared earlier has no direction.

[2022-03-25 12:48] PaulSipos opened #90477 "Logic Apps outbound IP missing from the list for UK South region"
[Hi,
Following lots of back and forth between us and our integration supplier I discovered the SFTP-SSH connector for logic apps uses 51.140.80.51 as outbound PIP which is not in the list for UK south region.
I hope adding it to the list will save time for others in the future.
Thanks,
Paul]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2022-03-25 12:49] MladjoA commented on #88608
Thanks for pinging, I missed previous conversation. This looks more like candidate for opening support case than documentation related issue. Anyway, let me check with the engineering team is there is a quick advice they can share.

[2022-03-25 12:52] ezYakaEagle442 commented on #90220
update: it looks like it is not necessary to deploy a self-hosted runner when the Azure Spring Cloud instance is deployed to a VNet as the Control Plane uses public IP, there is no Private-Endpoint.

Also, the "Use Azure Spring Cloud CI/CD with GitHub Actions" [doc](https://docs.microsoft.com/en-us/azure/spring-cloud/how-to-github-actions?pivots=programming-language-java) shows pipeline snippet al

[2022-03-25 12:53] VigilanteWang commented on #90470
@SadiqhAhmed-MSFT Thank you for you reply. So the Iaas VM backup doesn't truncate the logs, but SQL DB backup does, right?

[2022-03-25 13:12] johnAgilisys opened #90478 "Classic Azure release pipeline for Azure Load Testing (preview)"
I am in the process of creating a Classic Azure release pipeline Azure Load Testing (preview). However the Azure Load Testing  task fails with an error message

2022-03-25T13:00:37.6527344Z ##[error]The Load Test configuration file should be of type .yaml or .yml

can you help please.

I have the following tasks in the release pipeline
1. Install JMeter 5.4.2
2. Azure Load Testing
3. Upload releas

[2022-03-25 13:16] #90143 closed

[2022-03-25 13:19] SnehaAgrawal-MSFT commented on #90400
@daemel Thanks for bringing this to our attention. As mentioned by Content author @SteveWohl the PR has been created, it will be visible soon.We will now close this issue. If there are further questions regarding this matter, please let us know

[2022-03-25 13:19] #90400 closed

[2022-03-25 13:19] GitaraniSharma-MSFT commented on #90379
@aralvar , I checked with the Product Group team and they confirmed that they are still working on this and Accelerated Networking will be officially supported in Windows 2022 soon but we don't have an ETA yet. We'll update this doc once we officially start supporting Accelerated Networking on Windows 2022.

We are closing this issue for now. If there are further questions regarding this matter, p

[2022-03-25 13:19] #90379 closed

[2022-03-25 13:23] GitaraniSharma-MSFT commented on #90377
@slavizh , I checked with the Load balancer Product Group team on this and below is their response:

We’re working on updating this documentation shortly! We believe this is just out of date documentation, Kusto queries in Azure Logs will work today. However, we don’t recommend customers to use Azure Monitor Logs for metrics, as it doesn’t support multi-dimensional metrics. Instead, we would recom

[2022-03-25 13:23] #90377 closed

[2022-03-25 13:28] MladjoA commented on #88608
Thanks for sharing additional details. If I understand well, you decreased amount of data stored in the history table ~15x and still getting the same error message?

[2022-03-25 13:31] drumph33 commented on #75652
General Settings tab is probably removed because most of the what in there cannot be configured on Linux consumption apps.  CLI commands can still be used.

FTP is disabled by default.  This is the important thing to remember.  There is no such thing as FTP on Linux consumption apps.  Security center is checking the property "ftpsState" which defaults to "AllAllowed" even for Linux consumption app

[2022-03-25 13:38] henrypi73 opened #90479 "Azure Security Benchmark v1"
I believe v3 is out for the ASB, can you update the link and info please?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8925ae80-af82-f464-b700-511ddc0cbdf1
* Version Independent ID: 5c29f4a8-7ecd-74b5-abb2-33ad118caed2
* Content: [Azure Policy Regulatory Compliance controls for Azure Logic Apps - Azure Logic

[2022-03-25 13:49] alexisweeren commented on #90309
Any updates?

[2022-03-25 13:59] AminAvan commented on #90394
How can I store data on Azure Confidential Ledger?
For example, how I can store an image on Azure Confidential Ledger?

[2022-03-25 14:03] Nicholak-MS commented on #90287
Hi Thomas,

Thank you for the feedback and yes you are correct that an API exposing the latest and greatest product and service plan mapping information would be ideal. And we do have this on our backlog of things to do but unfortunately I do not have a firm date of when this will be made available due to other higher priority items being built. So in the interim we provide this documentation and

[2022-03-25 14:12] sidprasher opened #90480 "Automated Patching for AOAG"
[Enter feedback here]
Can some guidance be added on how this works for a AOAG configuration? Can/Should the IaaS Agent extension be used for it or should this be done manually?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5fc1e80-5a56-3850-cb63-7c882950c4e6
* Version Independent ID: ee5da592-4c95-f38d-6f9f-7787fff9f

[2022-03-25 14:19] LitKnd commented on #79504
Hi @lpassig ,

Thanks for submitting this issue. We're working with folks in the product group to analyze this and see if this is something we can clarify.

Cheers,
Kendra from the Database Docs Team

[2022-03-25 14:20] dijiflex commented on #32472
yes

On Thu, Mar 24, 2022 at 5:43 PM JorgenSQ ***@***.***> wrote:

[2022-03-25 14:26] GiscardGirard opened #90481 ""Using OAuth2 Bearer" section is missing a critical step."
"Using OAuth2 Bearer" section is missing a critical step. The "REST-AcquireAccessToken" profile must be added as to a step in the user journey.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7cbe5bd8-f4fa-cfac-b3f1-ac25ae741dae
* Version Independent ID: 7b7a29b9-b779-88a6-b53a-84b4a6cc1f9b
* Content: [Secure APIs used

[2022-03-25 14:31] nilact commented on #90277
@srinia

Thanks for providing the information.

As Elastic Job is in preview mode, confirming that we can consider it for production usage?

It would be great if you could share the link to the Elastic Job roadmap like other Microsoft products. Thanks.

[2022-03-25 14:48] v-thomask opened #90484 "possible command typo for a Resource Group name"
[Enter feedback here]

the command for "Get Identity Resource Id" under the section "Create a user-assigned managed identity" has an extra "E" on the end of "--resource-group MyResourceGroupE". I do not think the "E" should be on the end.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f29e6da4-fd14-a166-e21e-6b87a0f491

[2022-03-25 15:00] khdownie commented on #90428
@terryclancy @DerekHerman-MSFT I have added the additional links to Next Steps, so this issue can now be closed. Thanks!

https://docs.microsoft.com/en-us/azure/storage/files/storage-files-prevent-file-share-deletion

[2022-03-25 15:11] KSchlobohm commented on #89605
Oh, that's cool. Sorry, I didn't realize how new this was @RyanHill-MSFT.

I think the steps I followed when I did this were similar to the ones outlined in this doc for Key Vault [Tutorial - Use Azure Key Vault with an Azure web app in .NET](https://docs.microsoft.com/en-us/azure/key-vault/general/tutorial-net-create-vault-azure-web-app#configure-the-web-app-to-connect-to-key-vault).

Some highli

[2022-03-25 15:19] GeethaThatipatri-MSFT commented on #90468
HI @chaisen2006 Thanks for reaching out, We will Investigate and update you shortly.

[2022-03-25 15:25] #90132 closed

[2022-03-25 15:29] ShaikMaheer-MSFT commented on #90457
@scott-gibbo Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-03-25 15:40] Neutrino-Sunset opened #90485 "CosmosDB logic app connection only seems to support SQL API"
The Cosmos DB connector only seems to support the Cosmos accounts created using the SQL API. If you use an account using the Table API and attempt to create a new document the logic app reports no errors but it just doesn't work (doesn't create or update any documents).

The requirement that the input payload have an `id` property might be considered a cryptic clue to this, since Table API entries

[2022-03-25 15:43] antbewes commented on #89591
Hi @RyanHill-MSFT thanks for responding. For Java SE (Embedded Web Server) on a windows app service host, we'd have say applications settings of say:
JAVA_OPTS = -Dserver.port=%HTTP_PLATFORM_PORT% -Dprops.path=file:%HOME%\\site\\wwwroot
and
JAVA_JAR_FILE_NAME = %HOME%\site\wwwroot\myapp.jar
I can't find any documentation of how JAVA_JAR_FILE_NAME gets used, presume it's part of the JavaBootstrappe

[2022-03-25 15:44] JamesTran-MSFT commented on #90464
@calazlo
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-03-25 15:58] kobulloc-MSFT commented on #90484
@v-thomask Thank you for bringing this to our attention!  We are reviewing the command and will update you shortly.

[2022-03-25 15:59] GiftA-MSFT commented on #90465
@javiersoriano we'll review your feedback and get back to you shortly. Thanks.

[2022-03-25 16:05] GiftA-MSFT commented on #90476
@JohanKlijn we'll review your feedback and get back to you shortly. Thanks.

[2022-03-25 16:06] GiftA-MSFT commented on #90478
@johnAgilisys, kindly share the document you're referencing so we can assign to the appropriate team. This repo is for doc related issues. Thanks.

[2022-03-25 16:13] mtosic opened #90486 "Can't leave organization because they're not visible under "Organizations""
I'm having some "orphaned" organizations in Azure portal under my personal Microsoft account.
Biggest issue is that sometimes I'm stuck in permanent login loop (last one was publishing to Azure App Service) because when I sign in, it seems that account tries to authenticate to all organizations.
Seems similar problem like: https://github.com/MicrosoftDocs/azure-docs/issues/51478

When I try to lea

[2022-03-25 16:13] kobulloc-MSFT commented on #90212
@tasb Thank you again for your feedback!  We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-03-25 16:13] #90212 closed

[2022-03-25 16:32] AdamSharif-MSFT opened #90489 "Clarification on Certificate Auto Rotation"
Hi team,

For the section on "certificate auto rotation", please can we have clarification on the following:

- An example of the content that should be present in the **bootstrap-kubeconfig** file if TLS bootstrapping is enabled
- To enable the feature, which type of upgrade is needed - i.e. control plane only, a node pool only, control plane + node pools or any upgrade operation whatsoever?

Tha

[2022-03-25 16:36] mimckitt commented on #72849
Sorry for the delay on this. The 1GB overwrite is per blob. I will be updating the doc today to clarify this.

#please-close

[2022-03-25 16:36] #72849 closed

[2022-03-25 16:46] Oury-MSFT commented on #90338
@sunilagarwal Could you please provide your insights o the above feedback to update the doc.

[2022-03-25 16:47] Oury-MSFT commented on #90234
@emlisa Could you please provide your insights on the above feedback from customer.

[2022-03-25 16:52] seligj95 commented on #90458
I just pushed a change, please give a couple hours for the docs to update

[2022-03-25 16:52] mimckitt commented on #87837
Updating doc today.

#please-close

[2022-03-25 16:52] #87837 closed

[2022-03-25 16:53] mimckitt commented on #89253
Per offline discussions, we have updated the doc and are continuing to do additional updates around the availability options of Azure.

#please-close

[2022-03-25 16:53] #89253 closed

[2022-03-25 16:56] #86899 closed

[2022-03-25 16:56] elf2003 commented on #88608
Exactly, I wonder if the problem is the amount of data in the historical table or the type of data in that table.

[2022-03-25 16:57] davidmu1 commented on #89496
Updated the article with the following:
Be sure to enable password-based SSO in your mobile settings, which can be off by default. For example, Settings -> Privacy and Security -> Azure AD Password SSO.

#please-close

[2022-03-25 16:57] #89496 closed

[2022-03-25 16:57] tcsougan opened #90492 "The version of the Network Watcher Agent should be updated on the page"
[Enter feedback here]

The version of the NW agent should be updated. As of now, the current version is "1.4.2146.1"

![image](https://user-images.githubusercontent.com/68875610/160166705-7983d6b6-743c-475b-ab72-8470ee027ca6.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d435c401-9ed7-2cea-6e9a-9c0e242a0a47
* Vers

[2022-03-25 16:58] mimckitt commented on #65559
@roygara since this is in the disks section, can you take a look with the storage PMs to see how we might fix this?

#reassing: @roygara

[2022-03-25 16:59] mimckitt commented on #65559
@roygara since this is in the disks section, can you take a look with the storage PMs to see how we might fix this?

#reassign: @roygara

[2022-03-25 16:59] davidmu1 commented on #87755
Revised the article with the following information:

Banner logo in the My Apps header. For more information about assigning a banner logo, see [Add branding to your organization's Azure Active Directory sign-in page](https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/customize-branding)

#please-close

[2022-03-25 16:59] #87755 closed

[2022-03-25 17:00] mmacy commented on #90034
@jberry777 I'm curious how you landed on the [Troubleshooting common authentication errors](https://docs.microsoft.com/azure/marketplace/cloud-partner-portal-api-troubleshooting-authentication-errors#unauthorized-error) article in the Marketplace docs that links to this doc. That is, what was referrer that sent you to [that troubleshooting article](https://docs.microsoft.com/azure/marketplace/clou

[2022-03-25 17:05] mmacy commented on #78005
@negoe @SaeedAkhter-MSFT Who can take a look at this?

[2022-03-25 17:08] saeedalhamed commented on #89295
Thank you for your reply and about Azure monitor features, the issue mainly is about that there is no specific documentation about the signing logs in Azure B2C.
For reporting topics in Azure B2C you will find a reference only for Audit logs, its expected to find a reference for the signing logs inside Azure B2C since its not having the same features as in the default Azure Active Directory:

AAD

[2022-03-25 17:09] mmacy commented on #79261
@SaeedAkhter-MSFT @EmLauber Who can take a look at this? It's over 250 days old and might no longer be an issue, but we need someone to look at it. If no one on your team can do so, let me know and I'll reassign it to someone that can. Thanks!

[2022-03-25 17:15] seligj95 commented on #90458
reopenIssue

[2022-03-25 17:18] mimckitt commented on #70172
CC @Xandersherry

[2022-03-25 17:19] vlkuznet opened #90493 "Can we improve the 'Example' table storage input binding?"
Two parts here:

- I'd love to see more examples of using this input binding provided, in general.
- I believe there's some inaccurate information in the 'Example' section

### More examples
For some languages, I see we provide an example of an HTTP triggered function that uses a path attribute as a rowkey.
Others seem to use a queue-triggered function. Why not both?

Can we also provide one examp

[2022-03-25 17:19] kobulloc-MSFT commented on #90484
We're going to redirect this directly to the document author so they can make the edit, @MicrosoftDocs/bot-docs-team

![image](https://user-images.githubusercontent.com/37556655/160170039-acfac83d-4863-4aa3-a4b9-0be674aad6fa.png)

[2022-03-25 17:23] mmacy commented on #72420
@Li-Yanzhi What @hamiltonha is saying is that unless a[ tenant admin has given your account the _Cloud Device Administrator_ role](https://docs.microsoft.com/azure/active-directory/develop/tutorial-v2-shared-device-mode#set-up-a-tenant), you won't see that option.

I'm going to close this one out because there are no documentation updates identified. If you feel it was closed prematurely, let us k

[2022-03-25 17:23] #72420 closed

[2022-03-25 17:24] rwike77 commented on #86851
@Rashair, sorry for the slow reply on this...  My understanding is that it's a good practice to register the permissions in the portal (so that an admin can consent on behalf of the org, and users won't go through the consent process on sign in).  But it isn't required, and I believe you can register admin and user permissions separately as you said.  The important message does seem confusing, I'm

[2022-03-25 17:25] kobulloc-MSFT commented on #90492
@tcsougan Thank you for the feedback!  The typeHandlerVersion is updated frequently so I'm going to reach out to the document author to see how we handle this from a documentation standpoint.

[2022-03-25 17:26] tcsougan opened #90494 "Unclear information with the Android OS when it comes to client supported OS"
[Enter feedback here]
 At the beginning of the page, we can read from the table below that Android OS is supported for Radius and Azure certificate scenarios only:
![image](https://user-images.githubusercontent.com/68875610/160170815-3f104e74-b184-445b-b41f-c7275596eff1.png)

Below, on both lists of client OS supported, Android doesn't appear anywhere:

FAQ for native Azure certificate authenticat

[2022-03-25 17:26] nitin-narkar opened #90495 "Example please"
Can you please share an example of how to use these schemas ? This would be very helpful.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 292225b2-8397-7a3a-b549-9b293f86f309
* Version Independent ID: 82dc1859-e2f9-a709-2892-6bc92dc3d952
* Content: [AS2 tracking schemas for B2B messages - Azure Log

[2022-03-25 17:28] tcsougan commented on #90492
Thank you very much. I understand!
I opened this issue because it has confused a couple of customers already.

[2022-03-25 17:30] mimckitt commented on #84493
CC @fitzgeraldsteele

[2022-03-25 17:30] KranthiPakala-MSFT commented on #90467
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2022-03-25 17:31] mimckitt commented on #85791
CC @fitzgeraldsteele @avirishuv

[2022-03-25 17:34] Nicholak-MS commented on #90119
Hi @ajh0912

I have updated both the online table as well as the downloadable CSV with the product and service plan details for M365 E5 Developer.

Thanks,
Nick

#please-close

[2022-03-25 17:34] #90119 closed

[2022-03-25 17:36] mmacy commented on #77933
@Visinghr Apologies for the delay in response on this. I've recorded this in our backlog as a doc enhancement:

ID | Title
-- | --
[1833993](https://identitydivision.visualstudio.com/Technical%20Content/_workitems/edit/1833993) | [ISSUE][77933] add how the CA policy and broker behavior in Workprofile

We evaluate update priority based on issue severity and/or frequency of demand and will bring it

[2022-03-25 17:36] #77933 closed

[2022-03-25 17:37] Robert-Lauriston-at-Striim opened #90496 "Can't find introduction to / overview of Cosmos DB SQL API"
The link [Get started with Azure Cosmos DB SQL API](https://docs.microsoft.com/en-us/azure/cosmos-db/create-sql-api-dotnet) goes to "Quickstart: Build a .NET console app to manage Azure Cosmos DB SQL API resources." I'm looking for the SQL API equivalent of [Azure Cosmos DB API for MongoDB](https://docs.microsoft.com/en-us/azure/cosmos-db/mongodb/mongodb-introduction).

---
#### Document Details

[2022-03-25 17:42] mimckitt commented on #89501
Thanks for the feedback on this. At this we feel we have this information available already in various docs and explicitly call out when the OS will not be persisted. At this time, we don't want to add more to the FAQ page, but we have made note of this and if it comes up again we can always reevaluate.

#please-close

[2022-03-25 17:42] #89501 closed

[2022-03-25 17:48] kaarthis commented on #81510
Yes, it's fixed. It should be in the aks extension whose version is equal or later than 0.5.52. @allenjzhang

[2022-03-25 17:51] #89889 closed

[2022-03-25 17:53] GiftA-MSFT commented on #90486
@mtosic we'll review your feedback and get back to you shortly. Thanks.

[2022-03-25 17:53] MarileeTurscak-MSFT commented on #90481
@GiscardGirard
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-25 17:54] mimckitt commented on #90121
#assign: @mimckitt

[2022-03-25 18:00] vdimov-gcmlp commented on #90420
Resolved by #1077850318

[2022-03-25 18:00] mimckitt commented on #90121
#assign: @arushisharma27

[2022-03-25 18:00] PRMerger13 commented on #90121
The following users don't have valid GitHub IDs, or are not collaborators on this repo: arushisharma27

[2022-03-25 18:05] juliakm commented on #89652
Thanks @georgeOsdDev! I'll make that update.

[2022-03-25 18:09] fitzgeraldsteele commented on #84493
Excellent questions!

_Regarding availability, [There](https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-faq#do-scale-sets-work-with-azure-availability-sets-) are 2 types of scale set: Regional and zonal. Correct?_

**Correct. This is the same for all Azure VMs**

_In one feedback wrote: "if you do not specify to use AV Zones then the default behavior wou

[2022-03-25 18:12] mmacy commented on #78003
@shoatman @SaeedAkhter-MSFT This issue is **over 250 days** old. Who can follow up to confirm @christianrowlands' findings so we can update the doc accordingly?

#label:"usability-accuracy"

[2022-03-25 18:12] HeidiSteen commented on #90416
@vdimov-gcmlp The doc changes are live in two articles:
https://docs.microsoft.com/en-us/azure/search/cognitive-search-custom-skill-interface  ** how-to
https://docs.microsoft.com/en-us/azure/search/cognitive-search-custom-skill-web-api ** reference

Please let me know if you have any suggestions for improving either one. Thanks for filing the issue!  I'll close this now, but feel free to reopen f

[2022-03-25 18:13] mmacy commented on #78003
#label:"doc-bug"

[2022-03-25 18:13] HeidiSteen commented on #90416
#please-close

[2022-03-25 18:13] #90416 closed

[2022-03-25 18:17] mmacy commented on #81334
@nickludwig Reassigning this one to you as it looks like @shashishailaj never received a response when requesting assistance through internal channels.

Can you help here?

@shashishailaj, can you prefix the title of this issue with `[SAML] `, please? Thanks.

#reassign:nickludwig

[2022-03-25 18:22] ChaitanyaNaykodi-MSFT commented on #90494
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-03-25 18:23] nickludwig commented on #81334
@mmacy - Sure, will go investigate

[2022-03-25 18:26] mmacy commented on #83303
@RayGHeld Great feedback. We're working on all-new tutorial series for each app type/dev lang combo that will replace our current tutorials.

I'll reach out internally with a couple questions - closing this one out and will note it in our code sample tracker for the new tutorials. There'll be code samples directly backing the tutorials, and we'll need to account for this.

#please-close

[2022-03-25 18:26] #83303 closed

[2022-03-25 18:26] mimckitt commented on #84493
Thanks Jerry!

@VigilanteWang let us know if that helps. If not, we can reopen and continue the discussion.

#please-close

[2022-03-25 18:26] #84493 closed

[2022-03-25 18:42] mimckitt commented on #90121
@aramsmith  Since you are an FTE, I am going to close this issue and add you to the internal thread.

#please-close

[2022-03-25 18:46] SatishBoddu-MSFT commented on #90164
Hello @ziaddiab-globaldws Wanted to know the owner of this issue? Did you try login from different accounts to respond to this issue?

[2022-03-25 18:50] #70172 closed

[2022-03-25 18:58] mike-urnun-msft commented on #90485
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-03-25 19:01] mike-urnun-msft commented on #90493
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-03-25 19:11] SatishBoddu-MSFT commented on #90164
Hello @ziaddiab-globaldws @AlanPintor-git
Please refer to the below Github page to access the code snippet.
https://github.com/SatishBoddu-MSFT/SocialNode

[2022-03-25 19:14] SatishBoddu-MSFT commented on #90164
Please let us know if you need further help in this matter.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microso

[2022-03-25 19:19] VanMSFT commented on #90474
Hi @AminAvan - The ledger feature is part of Azure SQL Database, and there should be no difference to the supported data types other than the ones listed in the doc. Whether it supports audio/video is dependent on the data type used.

@Pietervanhove - Can you please confirm?

[2022-03-25 19:22] GeethaThatipatri-MSFT commented on #90496
Hi @Robert-Lauriston-at-Striim Thanks for reaching out, We will Investigate and update you shortly.

[2022-03-25 19:24] mrochon opened #90498 "PartnerClaimType must be explicitly defined for SAML RP to work"
As per my [issue described on SO](https://stackoverflow.microsoft.com/questions/299844/299862#299862), SubjectNamingInfo does not recognize claim's name defined in the ClaimType, it requires PartnerClaimType be explicitly specified, even if it is the same as the original name. Your statement that PartnerClaimType just the claim with a different name is not complete or correct: it is required if th

[2022-03-25 19:46] devlanfear opened #90499 "Azure Speech Services: Multi-device demo doesn't work"
Hello!

Official JS MS sample worked few days ago - https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/quickstart/javascript/browser/multi-device-conversation

Tried the same code yesterday and today - it doesn't work: events "transcribing" and "transcribed" are not raised.

Can you please help with this one?

Thank you

---
#### Document Details

⚠ *Do not edit this sectio

[2022-03-25 19:48] ultimal commented on #35145
This path is still wrong. Can't find this executable anywhere on the system.

[2022-03-25 19:49] #84773 closed

[2022-03-25 19:53] mmacy commented on #84773
@jcqvisser Thanks for the issue, and please accept our apologies for the delay in response. I suspect this issue is either caused or made worse by bad code in the assignment of `authority` in the config object:

![image](https://user-images.githubusercontent.com/13394541/160191575-4f1e2768-3401-4f15-ae49-e6afa055c8a7.png)

I've fixed that in https://github.com/MicrosoftDocs/azure-docs-pr/pull/1929

[2022-03-25 20:04] Robert-Lauriston-at-Striim commented on #90496
I also can't find any information about server-side retry when using the Core / SQL API, but maybe it doesn't exist?

[2022-03-25 20:20] kobulloc-MSFT commented on #88595
Hello, @hiLemontree!

Thank you for posting in Microsoft Q&A!  I just spoke with the documentation team and wanted to follow up on the answer in that thread so you understand where this lives in the documentation.

This is the original document that we started with, the VM Maintenance Notifications FAQ:
https://docs.microsoft.com/en-us/azure/virtual-machines/maintenance-notifications#faq

Above th

[2022-03-25 20:22] ramon-garcia opened #90500 "SAML identity provider forces use of SHA1, which is insecure for signing"
In the document [about connecting Azure AD to a SAML identity provider ](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-fed-saml-idp), it says that one must use RSA-SHA1 for signing.

SHA-1 is not secure enough for signing. It [has been demonstrated](https://shattered.io/static/shattered.pdf) that an attacker can create two documents with the same hash with a cost of

[2022-03-25 20:38] mm-gmbd opened #90501 "Describe how to effectively exclude nested properties from WAF inspection"
Even though [some requests](https://github.com/MicrosoftDocs/azure-docs/issues/28250) have been made in the past to improve this documentation, I would still consider it lacking.

There are currently two examples and:

1. They're wordier than necessary (which makes them harder to understand)
2. They don't cover much of the available functionality (one covers a request header and one covers a query

[2022-03-25 20:41] saketh-cloudknox opened #90502 "License Plan and Service Plan Definition"
Under "View license plans and plan details" the term "Service Plan" is newly introduced without being defined.

[code]

Can the documentation clarify if License Plan and Service Plan are interchangeable. If not please define each term.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c81d6f9-ede5-46eb-8ca0-eaec8019ece9

[2022-03-25 20:45] mm-gmbd commented on #90501
After writing all of that, I decided to test if the selector understand dot-syntax for nested property access, and it does!

So, in the above example for nested properties, instead of using `Contains` as I originally thought was necessary, one can use the following exclusion configuration `Request Attribute Name, Equals, aRootContainer.aNestedProperty`.

This badly needs documented.

[2022-03-25 20:53] mm-gmbd commented on #90501
Additionally, for examples, it would be very useful to show for each an example request that would be blocked without the exclusion and bypassed with the exclusion in place.

[2022-03-25 21:19] ecfan commented on #90065
@rohithah and @derek1ee, any idea who can investigate? Otherwise, @Neutrino-Sunset, try opening an issue in the [Azure Logic Apps product feedback forum](https://feedback.azure.com/d365community/forum/cb47c115-7926-ec11-b6e6-000d3a4f032c).

[2022-03-25 21:48] toddmcdermid opened #90504 "Example 5 Incomplete"
Example 5 provides a compelling use scenario.
The supplied requests and responses nicely show the conditions that define the scenario.
Unfortunately, step 2 of the example solution is "refer to Example 4.1-4.6." which applies to another scenario, and is not generalizable to this scenario. Specifically, nowhere in Example 4 is a dynamic value compared to an element in the response.
Please provide s

[2022-03-25 21:55] JamesTran-MSFT commented on #90498
@mrochon
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-03-25 21:55] JamesTran-MSFT commented on #90500
@ramon-garcia
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-03-25 21:56] JamesTran-MSFT commented on #90502
@saketh-cloudknox
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-03-25 22:06] aconsolati opened #90505 "Insufficient guidance for a 'Deploy First' guide"
Thankyou for this guide.  It is a good starting point but takes quite a lot of additional research to complete the task.

The example command for `az containerapp create` using a private container registry depends on defining a set of magic parameters for values that a beginner will be unfamiliar with.

A more fully-worked example is needed to get the command working.

Many users will be trying to

[2022-03-25 22:22] LuisDev99 commented on #73966
Can we re-open the issue? I don't see the IEF tab for adding phone signup/signin with custom policies in the docs. I cannot find the PR which @yoelhor posted as well. Is there another place in the docs for setting up phone authentication with custom policies? Thanks.

![image](https://user-images.githubusercontent.com/30758539/160209720-1536d0b7-beaa-4f4d-9499-77aba959eb83.png)

[2022-03-25 22:31] JamesTran-MSFT commented on #90425
@Cephei
Thank you for the follow up on this!

I reached out to our engineering team and also found a related issue with the same error that you're receiving `Core Directory Update External Secrets`.

Because your provisioning service is working as expected the failure messages within your Audit logs should go away after the system is complete with the transition.

If you're still experiencing thes

[2022-03-25 22:36] JamesTran-MSFT commented on #90427
@Stevta
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-03-25 23:42] mike-urnun-msft commented on #90505
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-03-25 23:45] RyanHill-MSFT commented on #89605
I think once @dereklegenzoff can confirm the overload in the official release, doc code snippet should be updated

[2022-03-26 00:01] TLKG opened #90507 "Missing "Accounts in any identity provider or organizational directory (for authenticating users with user flows)""
In [Register the SPA application](https://docs.microsoft.com/en-us/azure/active-directory-b2c/tutorial-register-spa#register-the-spa-application), step 7 **Supported account types** missing "Accounts in any identity provider or organizational directory (for authenticating users with user flows)"

All four available options:

- Accounts in this organizational directory only (Default Directory only

[2022-03-26 00:12] YutongTie-MSFT commented on #90499
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-03-26 02:17] #89591 closed

[2022-03-26 02:24] cybersmithio commented on #90140
I retried in another tenant and had the same results.  To add to my original data, this is occurring in Canada Central.

This was the command line used:
![image](https://user-images.githubusercontent.com/29439208/160221082-23292381-e089-4160-800d-e912bfa385d4.png)

And in the Portal it showed the CSI driver as not enabled:
![image](https://user-images.githubusercontent.com/29439208/160221104-6a13c

[2022-03-26 02:33] dowdeswells commented on #89976
Hi JoshLove-msft,
Thanks for your reply,
For myself, for example, i most easily found information from Autofac that their container would automatically call dispose on a singleton - so i installed and used that to overcome the lifecycle question on that very day.

The point of the feedback was to suggest that you tie in the example with the best practice in the content (not simply as advice to me)

[2022-03-26 03:45] JoshLove-msft commented on #89976
The advice about using a singleton is in the doc referenced here. Are you suggesting that we make it more visible?

![image](https://user-images.githubusercontent.com/54595583/160223490-c4627db8-cb44-479d-92b4-256e42276fc9.png)

[2022-03-26 04:03] SwathiDhanwada-MSFT commented on #90480
@sidprasher Thanks for your comment. We will review the issue and get back to you shortly.

[2022-03-26 04:05] SwathiDhanwada-MSFT commented on #90489
@AdamSharif-MSFT Thanks for your comment. We will review the issue and get back to you shortly.

[2022-03-26 04:07] SwathiDhanwada-MSFT commented on #90501
@mm-gmbd Thanks for your comment. We will review the issue and get back to you shortly.

[2022-03-26 04:08] SwathiDhanwada-MSFT commented on #90504
@toddmcdermid Thanks for your comment. We will review the issue and get back to you shortly.

[2022-03-26 04:09] SwathiDhanwada-MSFT commented on #90507
@TLKG Thanks for your comment. We will review the issue and get back to you shortly.

[2022-03-26 04:56] dowdeswells commented on #89976
Hi @JoshLove-msft  ... kind of .. im suggesting that the example either be one that uses a more practical scenario (like a Web APi) or links an example of a similar client that does. An example of such a client (like HttpClient) in a Web Api host that copes with the whole life cycle of the singleton or static HttpClient appropriately. Then each of these specific examples could link to that one "pr

[2022-03-26 05:02] bubbletroubles opened #90522 "Update to reflect ability to resize address space without removing peering"
The page says _"You can't add address ranges to, or delete address ranges from a virtual network's address space once a virtual network is peered with another virtual network. To add or remove address ranges, delete the peering, add or remove the address ranges, then re-create the peering. To add address ranges to, or remove address ranges from virtual networks, see [Manage virtual networks](https

[2022-03-26 05:36] chinos0228 opened #90523 "Gateway SKUs inquiry"
[Enter feedback here]

I have one question regarding on below highlight content, IPsec limits the throughput of a single VPN gateway (both S2S and P2S connections) to 1.25Gbps.
In Gen2, Aggregate Throughput Benchmark already reached to 10 Gbps, would you please confirm the statement is out of date or I totally misunderstood.

https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-about-vpn

[2022-03-26 05:40] #90523 closed

[2022-03-26 07:58] PriyankaRudramaina commented on #90131
@klaas The previous comment was for document content author Theresa. It wasn't meant for you.

[2022-03-26 10:02] ozbillwang commented on #75652
@drumph33

looks it works for me

[code]

[2022-03-26 10:02] #75652 closed

[2022-03-26 10:53] AjayKumar-MSFT commented on #89672
bdcoder2, Thanks for the follow-up and sharing your analysis and the sample.

[2022-03-26 12:10] cveld commented on #90196
Great! 20 servers seems the default available number in one subscription. How can we read the actual quota of a subscription?

Neither https://docs.microsoft.com/en-us/azure/azure-sql/database/quota-increase-request seems to mention a way to read out the current quota.

[2022-03-26 12:24] ncarandini commented on #87042
@kengaderdus

Yes I'm registering a Web app, not a SPA.
My question is: if the info are correct in this tutorial, why it is discouraged on the B2C page (sse my previous comment image)?

[2022-03-26 12:58] SwathiDhanwada-MSFT commented on #90522
@bubbletroubles Thanks for your comment. We will review the issue and get back to you shortly.

[2022-03-26 13:15] GeethaThatipatri-MSFT commented on #90116
Hi @yang-jiayi /hybridCertificate?api-version=2021-08-01-preview has been updated.

[2022-03-26 13:42] jeremy-donson opened #90525 "The word sink is used, instead of the proper word: sync"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

This issue seems to start in Azure Data Factory, in the Web UI.  This incorrect use of English is obvious and embarrassing.  It has polluted the docs and many other related

[2022-03-26 15:52] GiftA-MSFT commented on #90525
@jeremy-donson, kindly share the document you're referencing so we can assign to the appropriate team. This repo is for doc related issues. Thanks.

[2022-03-26 16:28] alexeyshishkin01 opened #90527 "'$Registry' has to be either changed or better explained"
[Enter feedback here]

Hello, all !

Pls. have a look at the following snippet of this page:

'
The following example uses $Registry to specify the registry where you run the command:

az acr run --registry myContainerRegistry008 \
  --cmd '$Registry/sample/hello-world:v1' /dev/null
'

In this example the name of the Azure Container Registry is 'myContainerRegistry008', but '$Registry' is 'myConta

[2022-03-26 17:12] markjbrown commented on #90496
The MongoDB API samples are further down in our docs.

SQL API does not have a perfect equivalent to server-side retries like Mongo does but the SQL API SDK clients does provide retries on operations.

[2022-03-26 17:40] kobulloc-MSFT commented on #90527
@alexeyshishkin01 Thank you for your feedback!  We are reviewing the code sample and will get back to you shortly.

[2022-03-26 19:41] danmyhre opened #90528 "Clarification needed"
This sentence doesn't make sense. Please clarify:

_Note that we have no yet release an autop upgrade version for Azure AD Connect._

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c1e2969-8162-7cad-99b7-803ba089081d
* Version Independent ID: cca0134b-5685-ae09-f9f3-275426e6e3b8
* Content: [What is Azure AD Connect v2.

[2022-03-26 19:44] frpierre opened #90529 "STEPS need to be added for SUSE distro in addition to make current steps clearer"
[There needs to be clear steps for SUSE distribution

https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-test-latency

for SUSE

    sudo zypper install gcc -y -q
    sudo zypper install git -y -q
    sudo zypper install gcc-c++ -y
    sudo zypper install ncurses-devel -y
    sudo zypper install -y automake
    sudo zypper install -y autoconf

SLES SAP15 gives the error message

[2022-03-26 19:51] thiagoamado commented on #47466
i'm facing the same problem too!
Is there a known solution?

[2022-03-26 20:48] djryanj opened #90530 "Public Network Access flag in Storage Accounts is not mentioned anywhere"
Azure Storage Accounts has a flag that you can set via Azure CLI called `publicNetworkAccess` (for example, see: https://docs.microsoft.com/en-us/cli/azure/storage/account?view=azure-cli-latest#az-storage-account-create-optional-parameters). However, this flag is not discussed anywhere that I can find in current documentation about Storage Accounts and the description of the flag on the Azure CLI

[2022-03-26 21:00] bdcoder2 commented on #89672
@AjayKumar-MSFT - Yes -- that is what the sample project confirmed -- initially I was not sure why two environment variables were present, but now it is clear, the App Service prepends each environment variable with the "APPSETTING_" prefix.  Not sure why this is done, but regardless, mystery solved.

Thanks again.

[2022-03-26 21:00] #89672 closed

[2022-03-26 21:33] thiagoamado commented on #47220
i have same issue!

[2022-03-26 21:34] GeethaThatipatri-MSFT commented on #90349
Hi @mayurpuli It is recommended to follow the same scaling guidance both for within a purchasing model scale-up scenario and when scaling up from DTU to vCore

[2022-03-26 21:38] GeethaThatipatri-MSFT commented on #90116
@yang-jiayi We will proceed to close this issue now.
If there are further questions regarding this, please comment and we will gladly continue the discussion.

[2022-03-26 21:38] #90116 closed

[2022-03-26 22:48] amcamillo opened #90531 "Add details on what and where UEBA will be applied once the steps are taken."
[Enter feedback here]

The document is not clear on how UEBA will affect current and future workspaces.

Add details on what and where UEBA will be applied once the steps are taken.

It is implied that UEBA affects "Sentinel" in general, meaning all future workspaces will be affected - but again, it is not made clear.

---
#### Document details

⚠ *Do not edit this section. It is required for docs

[2022-03-26 23:12] Rajini09 opened #90532 "download the notebook link does not work"
Download link for the notebook does not work for all Azure Notebooks, databricks, & Synapse
Error - The remote server returned an error: (403) Forbidden.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef20a146-eade-d9f6-b100-543908ef18b1
* Version Independent ID: fedbe821-7b38-0764-9531-5c462869f4dc
* Content: [Public H

[2022-03-27 00:20] GeethaThatipatri-MSFT commented on #90468
HI @chaisen2006 you may also check this [document](https://docs.microsoft.com/en-us/azure/cosmos-db/cosmosdb-migrationchoices) on Options to migrate data into Cosmos DB

[2022-03-27 00:25] chaisen2006 commented on #90468
@GeethaThatipatri-MSFT : Thanks Geetha, I went through before but there was no call out for Functions, triggers, procedures which is my main requirement.

I want to migrate these artifacts from Azure Cosmos to Azure Cosmos. Looking for possible approaches.

Regards

[2022-03-27 01:23] GiftA-MSFT commented on #90528
@danmyhre we'll review your feedback and get back to you shortly. Thanks.

[2022-03-27 01:25] GiftA-MSFT commented on #90529
@frpierre  we'll review your feedback and get back to you shortly. Thanks.

[2022-03-27 01:32] GiftA-MSFT commented on #90530
@djryanj we'll review your feedback and get back to you shortly. Thanks.

[2022-03-27 01:34] GiftA-MSFT commented on #90531
@amcamillo we'll review your feedback and get back to you shortly. Thanks.

[2022-03-27 01:36] GiftA-MSFT commented on #90532
@Rajini09 we'll review your feedback and get back to you shortly. Thanks.

[2022-03-27 02:37] wattlebird opened #90533 "Page is not displaying in Firefox"
By using Firefox to visit page https://docs.microsoft.com/en-us/azure/app-service/webjobs-create, the page is blank. It only works on Edge or Chromium based browsers.
The Firefox version I'm using is 98.0.2.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24523dbf-010f-b844-5ff0-88192eac8849
* Version Independent ID: d7

[2022-03-27 03:20] SwathiDhanwada-MSFT commented on #90533
@wattlebird Welcome to GitHub Forum. I have verified from my end and I could see its being rendered without any issue.

<img width="941" alt="image" src="https://user-images.githubusercontent.com/48976275/160265215-0c74d66a-0e56-4c07-9f40-063794e8da46.png">

Can you please clear your cache and cookies within your FireFox browser and retry it ?

[2022-03-27 04:00] ypae opened #90543 "Need some examples to minimize misunderstanding or global configuration mistakes"
"Grant admin consent for X" is very tempting to click and yet very scary of granting too much permissions. and I read the article a few times but still cannot fully understand the implication of clicking the button. Can you give me some examples when you want (and you don't want) to click the button to understand better and minimize potential data leaking? Thanks,

---
#### Document Details

⚠ *Do

[2022-03-27 04:50] SeanStL opened #90544 "Grammar mistake"
You are missing a quote in the 4th example of the assigned scope section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0091902-7cb0-8dc3-2a7a-dc644f39a961
* Version Independent ID: d2757c88-1bad-8d27-b548-9e04a8ec7fe1
* Content: [Understand Azure role definitions - Azure RBAC](https://docs.microsoft.com/en-us/azure/

[2022-03-27 05:40] wattlebird commented on #90533
This issue is resolved by disabling Ghostery.

[2022-03-27 05:40] #90533 closed

[2022-03-27 07:10] jeremy-donson commented on #90525
@GiftA-MSFT
You can search for the word "sink" in the docs.  It is WRONG wherever it appears (hundreds of places).
This should provide plenty.

If you need for me to search docs for this rampant mistake, will do.
Additionally, I will create a separate github issue ticket for
the ADF user interface which says "sink" instead of "sync".

Another good question:  How long has this been wrong?

[2022-03-27 07:40] madsd opened #90546 "Update article to use empty subnet for webapp"
vnet integration for App Service require and empty subnet with Microsoft.Web/serverFarms delegation. The current turorial tries to integrate into the subnet that already is delegated to postgres. Article should create a new subnet for web app before trying to integrate to it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2022-03-27 07:41] madsd commented on #90546
Also reported here: https://github.com/Azure/azure-cli/issues/16939

[2022-03-27 08:04] batamig commented on #90465
tagging @yelevin and @cwatson-cat as the new content owners

[2022-03-27 08:07] AryanSood3003 opened #90547 "shows this error even when the i2c device is detected"
Error: , Remote I/O error] errno: 121, code: '', syscall: 'writeByte'

Shows this error when trying to run index.js
I2C device is showing connected and is sending readings
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a57d05c9-562c-02a5-7ccd-b1b1bb7c8f0c
* Version Independent ID: 17ee094f-aee3-ca0c-959b-6380e4ea8b89
*

[2022-03-27 08:14] AryanSood3003 commented on #90547
<img width="1437" alt="image" src="https://user-images.githubusercontent.com/84537277/160272933-8377331a-2c07-4ef8-a70f-93394a01e736.png">

using raspberry pi

[2022-03-27 08:15] AryanSood3003 commented on #90547
<img width="781" alt="image" src="https://user-images.githubusercontent.com/84537277/160272996-311f9db9-e839-4797-8a89-bef4af27b83a.png">

Using raspberry pi

[2022-03-27 09:09] bartek-ml opened #90548 "What do you mean as "retrain"? Train model on new dataset and start from random seed or train already trained model?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d7186c4-6ade-ed65-3cf9-2783f7af84a5
* Version Independent ID: 350c7c95-8f7f-04dc-4bb1-25f80a8806ac
* Content: [Use pipeline parameters to retrain models in the designer - Azure Machine Learning](https://docs.microsoft.com/en-us/azure/machine-learning

[2022-03-27 09:28] deforation commented on #90280
Check here for a closer description about the issue:
[Issue](https://forums.developer.nvidia.com/t/azure-mellanox-dpdk-19-11-11-21-11-0-22-03-0-loosing-packets-after-minutes-to-hours-of-fine-operation/209479)

[2022-03-27 10:05] mifurm commented on #52606
have the same issue for West Europe, providers registered, dont see any specific limit which should block me from creating this.

[2022-03-27 10:36] t-leblanc opened #90549 "Remove the quotes for the boolean value"
Regarding section https://docs.microsoft.com/en-us/azure/virtual-machines/linux/image-builder-json#powershell-customizer

My suggestion is to remove the quotes for the boolean value. We do not set a true / false value between quotes

![image](https://user-images.githubusercontent.com/53039292/160277528-64f292c5-3787-4e08-94c1-db90e09d789f.png)

Kr,
Thomas

---
#### Document Details

⚠ *Do not edit

[2022-03-27 11:01] diegodct opened #90550 ""On Ubuntu 19.10 and later versions, Red Hat Enterprise Linux, and CentOS 8.x, chrony is configured to use a PTP source clock.""
I have checked Azure Markeplace images RHEL8.1 and CentOS 7.9 and still syncing with NTP servers instead of Azure hosts by default. Can this documentation clarify when the images come predefined to sync with Azure host ?

Also found the following Red Hat article where it states that it needs to be configured:
https://access.redhat.com/solutions/3584951

[Enter feedback here]

---
#### Document Det

[2022-03-27 14:14] shwetamathur7 commented on #90544
@SeanStL Thank you for your feedback. We will investigate and update the thread.

[2022-03-27 14:17] shwetamathur7 commented on #90543
@ypae Thank you for your feedback. We will investigate and update the thread.

[2022-03-27 14:33] maloo opened #90552 "Missing variable"
You are using $CertManagerTag in your samples, but it is not declared or explained where it comes from or the format of the version tag, like v1.2.3 or 1.2.3.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12009c1f-282d-2632-fac0-64b09c432833
* Version Independent ID: 6052d3d4-d295-9340-b16d-4c200e34cd73
* Content: [Us

[2022-03-27 15:09] SreejaBhattacharya-MSFT commented on #89486
Hi @universalamateur ,
DNID (docker-in-docker) is not possible in ACI as it is not possible to access the underlying host.
It is possible to for an application running in azure container or kubernetes spawn to spawn other containers or pods via REST API calls.
In Kubernetes, you can send rest api call from pod to api server. The pod will require a service account associated with it for authenticat

[2022-03-27 15:24] YutongTie-MSFT commented on #90309
@alexisweeren Sorry for the delay due to the weekend. I want to answer the question from two point. The first one, if you are asking the endpoint in the portal will change or not, the answer is yes, since the new endpoint is for the language resource you are newly created.

The point two, I think you are mentioning when you migrate your origianl resource to question answer, if you need to deploy a

[2022-03-27 15:36] YutongTie-MSFT commented on #90548
@bartek-ml Thanks for reaching out to us, "retrain" means use the published pipeline you created to train your model again with **new data**.

[2022-03-27 15:36] SwathiDhanwada-MSFT commented on #90546
@madsd Thanks for your comment. We will review the issue and get back to you shortly.

[2022-03-27 15:37] SwathiDhanwada-MSFT commented on #90547
@AryanSood3003 Thanks for your comment. We will review the issue and get back to you shortly.

[2022-03-27 15:38] SwathiDhanwada-MSFT commented on #90549
@t-leblanc Thanks for your comment. We will review the issue and get back to you shortly.

[2022-03-27 15:39] SwathiDhanwada-MSFT commented on #90550
@diegodct Thanks for your comment. We will review the issue and get back to you shortly.

[2022-03-27 15:40] si-chan opened #90553 "Clarification of disk resilience options"
The zone redundancy icon ("zone redundant" icon is used) for "Azure Storage accounts" and "Azure storage: disk storage" doesn't differentiate between LRS (which is Zonal) and ZRS (which would be "zone redundant"). The linked doc for these two entries says clearly there is a choice, so it may make more sense to have both icons next to these two entries.

The entry for "Azure storage: Managed Disks"

[2022-03-27 15:42] SwathiDhanwada-MSFT commented on #90552
@maloo Thanks for your comment. We will review the issue and get back to you shortly.

[2022-03-27 16:07] SreejaBhattacharya-MSFT commented on #90549
Thanks @t-leblanc , thanks for the feedback. We will review and update the document with the necessary changes. Thanks.

[2022-03-27 17:10] frkr commented on #87610
they asked me to contact you. And you asked to get in touch with them. Another loop from microsoft.

[2022-03-27 17:47] markpatterson27 opened #90554 "Missing variable assignment for $skuStorage"
The script given at [Run the script](https://docs.microsoft.com/en-us/azure/azure-functions/scripts/functions-cli-create-function-app-github-continuous#run-the-script) is missing a skuStorage assignment.

The line
[code]
refences a `$skuStorage` variable and the `az storage account create` requires a storage type to be set.

I believe `skuStorage=Standard_LRS` is missing from the variables declara

[2022-03-27 17:56] lefig commented on #88403
Same here. We would appreciate any update.

Thanks

[2022-03-27 18:04] markpatterson27 commented on #90554
I opened a [PR](https://github.com/Azure-Samples/azure-cli-samples/pull/421) for this in the [azure-cli-samples](https://github.com/Azure-Samples/azure-cli-samples) repo, as the error is in the script, not the documentation.

https://github.com/Azure-Samples/azure-cli-samples/pull/421

[2022-03-27 18:13] fhinkel opened #90555 "ACA docs suggest canadacentral, but product not available there"
Following this tutorial https://docs.microsoft.com/en-us/azure/container-apps/get-started, I can't create the environment following the instructions with `LOCATION="canadacentral"`. Maybe we should update the docs with East US 2 as that's the only region that [shows](https://azure.microsoft.com/en-us/global-infrastructure/services/?regions=canada-central,non-regional,us-central,us-east,us-east-2,u

[2022-03-27 18:21] #90555 closed

[2022-03-27 18:30] fhinkel opened #90556 "Container App deployment failed"
Following the docs, I can't deploy a container app. Do I need to opt in to use container apps in preview?

`{"code":"DeploymentFailed","message":"At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/DeployOperations for usage details.","details":[{"message":"Subscription 'xxx' is not allowed to create environments in Region 'Ea

[2022-03-27 18:38] GiftA-MSFT commented on #90553
@si-chan we'll review your feedback and get back to you shortly. Thanks.

[2022-03-27 18:51] GiftA-MSFT commented on #90554
@markpatterson27 we'll review your feedback and get back to you shortly. Thanks.

[2022-03-27 19:01] GiftA-MSFT commented on #90556
@fhinkel we'll review your feedback and get back to you shortly. Thanks.

[2022-03-27 20:53] bartek-ml commented on #90548
@YutongTie-MSFT thanks for answer! Is there any way to train already trained model created in designer? My business case requaier to train model with dataset for start and then I need to periodically train that model with new data. In pytorch it is very simple , you just need to use torch.nn.Module.load_state_dict.

[2022-03-27 20:54] alexeyshishkin01 opened #90557 "example with source code context"
[Enter feedback here]

Hello, all !

the link https://docs.microsoft.com/en-us/azure/container-registry/container-registry-tasks-scheduled provides the example of the task

az acr task create \
  --name timertask \
  --registry $ACR_NAME \
  --cmd mcr.microsoft.com/hello-world \
  --schedule "0 21 * * *" \
  --context /dev/null

which runs without source code context.

Could you pls. add the examp

[2022-03-27 21:41] sumukhs opened #90558 "Use non interactive command to install xfce4"
[Enter feedback here]
Replace the below in documentation
`sudo apt-get -y install xfce4`
to
`sudo DEBIAN_FRONTEND=noninteractive apt-get -y install xfce4`

This avoids entering a keystroke that is prompted to pick the default windows manager

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 077ee673-528a-d893-5832-7656b91

[2022-03-27 21:58] olitomlinson opened #90559 "Guide needs updating to support .NET 6"
Currently the docs only show v3 Functions with Core 3.1

This needs updating to show how to use v4 with .NET 6.

I had to slightly modify the .dockerfile (generated with `func init --worker-runtime dotnet-isolated --docker`) to this

[code]

I also had to modify the csprj to the following :

[code]

**I've tested this running this locally, but not in Azure yet**

---
#### Document Details

⚠ *Do n

[2022-03-27 22:26] ailwqqqssdsaasfaddqag commented on #90554
بتاريخ الأحد، 27 مارس 2022، جاء من GiftA-MSFT ***@***.***>:

--
null

[2022-03-27 23:29] nicknameyu opened #90561 "Cannot find "Agent Image Tag" with the instructions in this page."
[Enter feedback here]
There is this description in the page:

But I can't find the `Agent Image Tag` in the property pane of a node. I'm using Azure portal->AKS->Node Pool->Node|Overview-> Properties. Am I in the right place to look for this `Agent Image Tag`?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1eac8408-d57

[2022-03-28 00:21] louis-li opened #90567 "Aci Deployment failed with exception: Error in entry script, ImportError: cannot import name 'Markup' from 'jinja2'"
[Enter feedback here]

Got error message while deploying:

Service deployment polling reached non-successful terminal state, current service state: Failed
Operation ID: 8bc49295-9592-4999-959d-7506c29829b9
More information can be found using '.get_logs()'
Error:
{
  "code": "AciDeploymentFailed",
  "statusCode": 400,
  "message": "Aci Deployment failed with exception: Error in entry script, Import

[2022-03-28 01:21] SubhashVasarapu-MSFT commented on #89047
@BenPxs, Apologies for the delay in response. Yes, the user who performs the action to add the Key Vault certificate to the Front door instance should have "Get" and "List" permissions to that same Key Vault for Secret and Certificate permissions. We will assign this issue to the respective content owner to update the document accordingly.

[2022-03-28 01:30] SubhashVasarapu-MSFT commented on #90522
@bubbletroubles, we appreciate your feedback. The doc has been edited accordingly and it would take some time for the changes to get reflected over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2022-03-28 01:30] #90522 closed

[2022-03-28 01:33] dcollien opened #90568 "Docs state the binding property is "outMessages" when the correct value is "signalRMessages""
[code]

Should be:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b253c164-d46b-0193-b168-7eb024097bf6
* Version Independent ID: 5858135e-528b-81ba-84a9-a89e8f165c36
* Content: [Azure Functions SignalR Service output binding](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-signalr-serv

[2022-03-28 01:39] vixisoft commented on #47466
Facing the same issue, would like to hear about the solution

[2022-03-28 01:54] dnetoa opened #90569 "Clarify about how this can impact or scenarios to whom already had collaboration"
HI,

I hope this documentation must clarify impacts and considerations over tenants with long-term collaboration mode, like guests over two sides.

What are the impacts to change from B2B collaboration to B2B direct connect.

What happens to previously guest users with access to visitor tenant, can be migrated?

Should Sharepoint websites, team sites, invite these users again?

How does this impac

[2022-03-28 02:02] SumanthMarigowda commented on #89850
@tamram Can you please add your comment here

[2022-03-28 02:14] SumanthMarigowda commented on #90001
@JeroenJSmit Firstly, apologies for the delay in responding here! Are you facing any issue while using azurite or accessing the data?

Note: The Azure Storage Emulator may not start correctly if another storage emulator, such as Azurite, is running on the system.

To use Azurite with the Azure SDKs, use OAuth and HTTPS options: azurite --oauth basic --cert certname.pem --key certname-key.pem

Azur

[2022-03-28 02:14] #90001 closed

[2022-03-28 02:16] SumanthMarigowda commented on #89787
@Herman5006  I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Additional information:

[2022-03-28 02:16] #89787 closed

[2022-03-28 02:35] kobulloc-MSFT commented on #90484
@v-thomask Thank you again for bringing this to our attention!  @miwithro has been added to this so we are going to close the issue as resolved.  Thank you for helping to improve the documentation!

[2022-03-28 02:35] #90484 closed

[2022-03-28 02:41] kobulloc-MSFT commented on #90291
I'm going to include the document author so that we make a note of this from both the PG and the Docs, @rdeltcheva.

**Request:**
Please create a custom role for fencing as this is a common scenario.

**Doc:**
https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/sap/high-availability-guide-rhel-pacemaker#1-create-a-custom-role-for-the-fence-agent

[2022-03-28 02:42] kobulloc-MSFT commented on #90291
@Klaas- Thank you again for your feedback!  We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-03-28 02:42] #90291 closed

[2022-03-28 02:55] LuchM opened #90571 "Modified manage.py"
Nice tutorial and easy to follow.
However, when you try to port your own site there are a few surprises.
Maybe have a quick technical intro on the extra packages you are using, why and how you have implemented them.
For example, I wasn't expecting an edited manage.py to implement WhiteNoise and DotEnv.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2022-03-28 03:39] AnuragSharma-MSFT commented on #90196
@cveld Once we meet the default quota, we need to submit a new support request in the Azure portal. For more information, see [Request quota increases for Azure SQL Database](https://docs.microsoft.com/en-us/azure/azure-sql/database/quota-increase-request).

[2022-03-28 03:44] AnuragSharma-MSFT commented on #90277
@nilact thanks for replying back. As mentioned by @srinia, what all features available in current preview will be available and supported through product teams and support groups. If that meets your production needs, you can use it.

Also as mentioned we see the GA near to late second half of CY 2022, but there is no specific link. We can come back to same thread once again.

[2022-03-28 03:45] AnuragSharma-MSFT commented on #90376
@vibhaskashyap We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2022-03-28 03:45] #90376 closed

[2022-03-28 03:54] AnuragSharma-MSFT commented on #90370
@Hexxagon01 Thanks for your patience. You should always consider below link for latest updates:

[What is Azure Database for PostgreSQL?](https://docs.microsoft.com/en-us/azure/postgresql/overview)

It seems Microsoft learn content is not up to date. You can submit the request for the same in below link:

[Report Feedback](https://docs.microsoft.com/en-us/learn/support/troubleshooting#report-feedb

[2022-03-28 03:56] MayankBargali-MSFT commented on #90554
@markpatterson27 Thanks for creating the PR in the sample repository. I have reached out to the team to approve the PR and will close this issue for now. Once your changes are merged it should be reflected in the document.

[2022-03-28 03:56] #90554 closed

[2022-03-28 03:56] #90164 closed

[2022-03-28 03:57] MayankBargali-MSFT commented on #90559
@olitomlinson Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-03-28 04:01] MayankBargali-MSFT commented on #90568
@dcollien Thank you for your feedback! We will review and update as appropriate.

[2022-03-28 04:04] Hexxagon01 commented on #90370
Hi AnuragSharma, thank you for setting the record straight. I always thought that both Microsoft Docs and Learn would synonymously update their content. I find it strange that this is not the case. So, I wonder why do they have two different information links about the same subjects, but are not synchronised?
Any way I must redo my notes completely and waist time on redoing the entire Microsoft Le

[2022-03-28 04:04] AjayKumar-MSFT commented on #90571
LuchM, Thanks for the feedback! Your feedback has been shared with the content owner for further review.

[2022-03-28 04:08] MayankBargali-MSFT commented on #90568
@dcollien Thanks for reporting this item! The doc has been updated and it will be published soon. We appreciate the feedback!

[2022-03-28 04:08] #90568 closed

[2022-03-28 04:19] SwathiDhanwada-MSFT commented on #90188
Assigning to content author @bwren for review.

[2022-03-28 04:20] SwathiDhanwada-MSFT commented on #90561
@nicknameyu Thanks for your comment. We will review the issue and get back to you shortly.

[2022-03-28 04:23] SreejaBhattacharya-MSFT commented on #90558
Thanks for reaching out @sumukhs . We will review and update the document as appropriate.

[2022-03-28 04:25] ram-msft commented on #90567
@louis-li Thanks for the question. We are investigating the issue and will update you shortly.

[2022-03-28 04:31] #90059 closed

[2022-03-28 04:41] ShaikMaheer-MSFT commented on #90246
@lrtoyou1223 Could you please validate customer feedback and update doc as appropriate. Thank you.

[2022-03-28 05:01] SreejaBhattacharya-MSFT commented on #90557
Hi @alexeyshishkin01 , thanks for reaching out. We will review and update the document after evaluation.

[2022-03-28 05:07] SwathiDhanwada-MSFT commented on #90210
@JnHs  Can you please review the PR [#193046](https://github.com/MicrosoftDocs/azure-docs-pr/pull/193046) ?

[2022-03-28 05:10] SwathiDhanwada-MSFT commented on #90437
@mfaulkdel Thanks for sharing the document .We will review the issue and get back to you shortly.

[2022-03-28 05:11] SwathiDhanwada-MSFT commented on #90269
@journey-wang As requested earlier comment, kindly provide the document you are referring to ?

[2022-03-28 05:19] #90549 closed

[2022-03-28 05:38] KranthiPakala-MSFT commented on #90399
@lrtoyou1223, @jonburchel - Could you please review the above PR and help merge the changes - Thank you

[2022-03-28 05:38] AnuragSharma-MSFT commented on #90370
Apologies for the trouble you faced because of inconsistency in the documents. Learn document is more of detailed step by step instructions build on basis of other documents and sometimes the latest changes take a little while to get updated on them. However I will pass this feedback to the learn team. Again sorry for the double effort you need to spend and all the best for you exams.

[2022-03-28 05:38] #90370 closed

[2022-03-28 05:40] KranthiPakala-MSFT commented on #90444
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

Please share the forum thread link once the issue posted. Thank you

[2022-03-28 05:40] #90444 closed

[2022-03-28 05:40] Hexxagon01 commented on #90370
Thanks man.
Have a great day.

With Kind Regards
Stephen Elliott Gerard C. Buckle
Bsc. Electro Engineer
***@***.******@***.***>

99576431

Fra: AnuragSharma-MSFT ***@***.***>
Sendt: mandag 28. mars 2022 07:38
Til: MicrosoftDocs/azure-docs ***@***.***>
Kopi: Hexxagon01 ***@***.***>; Mention ***@***.***>
Emne: Re: [MicrosoftDocs/azure-docs] Deployment options for Azure Database for PostgreSQL (Issue

[2022-03-28 05:44] SadiqhAhmed-MSFT commented on #87610
@frkr Sorry for the confusion. For queries related to subscriptions, only subscription management can investigate the issue and help further. Let me know if you have raised a support request before?

[2022-03-28 05:50] YutongTie-MSFT commented on #90426
@tthung1997 @namanpatel12 This issue should be fixed. Please check and let me know if you still have any issue regarding to this.

[2022-03-28 06:08] amanmcse commented on #90507
@TLKG Looking at the details you have provided, I suspect that you are connected to your Azure AD tenant and not the Azure AD B2C tenant. The option `Accounts in any organizational directory (Any Azure AD directory - Multitenant) and personal Microsoft accounts (e.g. Skype, Xbox)` will only be available when you register the application in the B2C tenant.

In the Azure portal, click on the Setting

[2022-03-28 06:20] Zimmergren commented on #30693
@pieterlukasse, unfortunately, it's been quite some time since this scenario was valid for me. We have since moved on to use different solutions for our problems.

[2022-03-28 06:33] BenPxs commented on #89047
Hello, This is not what I am describing - firstly, I am referring to the Frontdoor Service Principal permissions, and secondly I am asking for clarification regarding Key Vault RBAC permissions (NOT access policy).

[2022-03-28 06:33] VikasPullagura-MSFT commented on #90550
@diegodct
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-03-28 06:33] VikasPullagura-MSFT commented on #90550
@cynthn
Can you please check and add your comments on this doc update request as applicable.

[2022-03-28 06:45] GitaraniSharma-MSFT commented on #90501
@mm-gmbd , We have assigned this to the content owner/author for review & update.

@vhorne , for your review.

[2022-03-28 06:48] SreejaBhattacharya-MSFT commented on #90448
Hi @harrchen88 , is the domain added to the list of verified domains in your tenant?

[2022-03-28 06:51] universalamateur commented on #89486
Thank you @SreejaBhattacharya-MSFT for our answer,
Do you have a link for the docs to the pods in Kubernetes authenticated via a service account?
And also for a container running with a managed identity please?

[2022-03-28 07:07] miqm opened #90577 "Missing Basic tier description"
Hello,

MySQL Flexible Server has also "Basic" tier in compute options, however this is not described here or anywhere else in Flexible Server documentation.
Please update with description how it differs from Burstable.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ecba95e1-af55-5a99-5c44-585b10b26ac5
* Version Indepe

[2022-03-28 07:20] bmansheim commented on #90014
Fixed in #193053

[2022-03-28 07:22] mugambiwarwema opened #90579 "Typo in docs"
Under this subtitle, [Viewing Application Insights usage on your Azure bill](https://docs.microsoft.com/en-us/azure/azure-monitor/app/pricing#viewing-application-insights-usage-on-your-azure-bill) there's a typo on line one. Changes 'baed' to based.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93d51fcb-63a2-c622-7df3

[2022-03-28 07:32] bmansheim commented on #90014
#please-close

[2022-03-28 07:32] #90014 closed

[2022-03-28 07:34] SnehaAgrawal-MSFT commented on #90579
@mugambiwarwema Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-28 07:47] bhavana-129 commented on #90375
@tunc-ay We made suggested name change in the tutorial in another PR. Please submit an update request from our [Microsoft Application Network portal](https://microsoft.sharepoint.com/teams/apponboarding/Apps/SitePages/Default.aspx) to rename an existing application into the gallery.
Please let us know if you face any access related issue.
![image](https://user-images.githubusercontent.com/76771527

[2022-03-28 07:50] AshokPeddakotla-MSFT commented on #90547
@AryanSood3003 Raspberry Pi has only two pins that work with I2C. So, if you connected your sensor to a different pins, then the sensor won't work with standard I2C scripts. Try connecting the sensor to the proper I2C pins (SDA and SCL).

<img width="336" alt="image" src="https://user-images.githubusercontent.com/44426435/160349894-12648bb8-d020-4683-8559-1fc8373bfa0a.png">

Please see [Raspberry

[2022-03-28 07:54] dgrospelier commented on #90002
Ok but in this article: https://docs.microsoft.com/en-us/azure/logic-apps/single-tenant-overview-compare, there is a table where all Logic Apps SKUs are compared.
And for the ASEv3, there is this statement "Pay only for the ASE App Service plan, no matter the number of logic apps that you create and run.". It should probably be clarified.

[2022-03-28 08:06] CloudCrusader opened #90581 "lacking VM family in portal approach"
portal + CLI deployment does not mention specific VM family/type

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e8201d1-3ff4-a4e2-fb55-7f707d19e5cc
* Version Independent ID: b261aaec-02b5-648d-89fe-907d96da539a
* Content: [Create an Azure AMD-based confidential VM with ARM template (preview)](https://docs.microsoft.co

[2022-03-28 08:11] divim commented on #77516
Hello, Any update on whether size flexibility for Azure App Reservations are available? And if not, when will they be available?

Thank you in advance.

[2022-03-28 08:21] LouisHerber opened #90582 "typo in second block"
Second "important" block: change Dynamics Omnichanell   to  Dynamics Omnichannel. Typo.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24c63639-af9e-0fec-0025-052361e49d5e
* Version Independent ID: 33bb4d18-4c3f-111a-3193-3858eaafd7de
* Content: [Azure direct routing provisioning and configuration - Azure Communication

[2022-03-28 08:22] shashishailaj commented on #90569
@dnetoa Thank you for the feedback . We will investigate and update the thread.

[2022-03-28 08:25] gbms311 opened #90583 "Pg needs more info how Azure AD Connect and Azure AD Password protection agents and proxies co-exist in an environment."
This section is confusing, as the page is dedicated to "Azure AD Password Protection" , and is talking about "Azure AD Password Protection DC Agent" and  "Azure AD Password Protection Proxy Service" , but then this section 'Microsoft Azure AD Connect Agent Updater prerequisites' states .... (categorically... ie does not start the sentence with IF)

_"The Microsoft Azure AD Connect Agent Updater se

[2022-03-28 08:26] muellni6 opened #90584 "Azure AD Connect - Missing information custom SQL Database Name"
The screenshots on point 12 "Install required components" does not reflect the actual Azure AD Connect screen.
Since Azure AD Connect 1.3.20.0 (04/24/2019) it is allowed to enter an own Database name.

This option is not mentioned in any docs-article.

Changing the screenshot and information does not only apply to this page, but to all pages with information for Azure AD Connect custom installatio

[2022-03-28 08:39] pvrk commented on #90470
@VigilanteWang : The Azure Backup for SQL is a solution that includes log backups. So, didn't understand the query about truncating logs.

[2022-03-28 09:01] VikasPullagura-MSFT commented on #90252
@RSteeno The document will be updated and changes will go live soon.

[2022-03-28 09:09] sooch-msft opened #90585 "Wrong description in ja-jp doc : "Using a user-assigned managed identity for an Azure Automation account" regarding Hybrid Runbook Worker"
Hi I found some conflicts in ja-jp doc.
I believe the en-US doc is correct one.
Please update the ja-JP doc as en-US doc.

https://docs.microsoft.com/en-US/azure/automation/add-user-assigned-identity
https://docs.microsoft.com/ja-JP/azure/automation/add-user-assigned-identity

In en-US doc, I can see the Hybrid Runbook Worker is **not** available for user-assigned Managed identity.

![image](https

[2022-03-28 09:12] AnuragSharma-MSFT commented on #90577
@miqm Thank you for the feedback. Could you please provide the screenshots for the same? I could not locate the basic tier.

![image](https://user-images.githubusercontent.com/66360845/160365750-dc940fa4-f37b-499f-81f1-93a0f29e372b.png)

[2022-03-28 09:14] VikasPullagura-MSFT commented on #90581
@CloudCrusader
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-03-28 09:14] VikasPullagura-MSFT commented on #90581
@RunCai
Can you please check and add your comments on this doc update request as applicable.

[2022-03-28 09:16] YutongTie-MSFT commented on #90309
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2022-03-28 09:16] #90309 closed

[2022-03-28 09:34] The-algar opened #90586 "support link DO NOT WORK"
[Enter feedback here]
theis is the essage you got when trying to reactivate a subscription that was accidentally canceled:

Account management has moved to Azure portal
This portal has been retired. We have migrated all the functionality including managing payment methods, downloading invoices, usage & costs and viewing your subscriptions to the Azure portal.

Azure portal offers a richer unified

[2022-03-28 09:48] SnehaAgrawal-MSFT commented on #89929
@kirilvalev Thanks for reply! I wish to engage with you offline for a much closer look and provide a quick and specialized assistance, please send an email with subject line “Attn:Sneha |thread title” to AzCommunity@microsoft.com referencing this thread with your Azure subscription ID and WebApp details, I will follow-up with you.

Closing here, looking forward for your email to help you on this,

[2022-03-28 09:48] #89929 closed

[2022-03-28 09:57] SadiqhAhmed-MSFT commented on #90586
@The-algar Thank you for your post. We will look into this issue and get back to you soon.

[2022-03-28 10:09] Misterlokinl commented on #90139
@MarileeTurscak-MSFT I am also seeing the same problem. Was installing this for the first time and instantly received a message that the agents (both proxy and DC) needs to be updated from version 1.0.01899.11. I cannot find version 1.0.01899.11 anywhere in the version history and I downloaded the files from the Microsoft (website https://www.microsoft.com/en-us/download/details.aspx?id=57071).

I

[2022-03-28 10:10] jackson-yang-microsoft opened #90587 "Clarification of API Key/Authorization token"
Is there anyway we can generate "API key" for Log Analytics?
We can find "API Access" from Application Insight and successfully get key from portal, but there's no "API Access" option for Log Analytics.
![image](https://user-images.githubusercontent.com/101696604/160375666-17a14163-3082-4604-8ea3-f37d77f03dd6.png)

It's indeed easy to demo using Authenticating with an API key, but also confusing i

[2022-03-28 10:22] ram-msft commented on #90414
@abhijit-z Thanks for the details. Currently you can't select the multiple cells in the azure machine learning notebook. We have forwarded the feedback to team to support in the near future.

[2022-03-28 10:23] ram-msft commented on #90414
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-03-28 10:23] #90414 closed

[2022-03-28 10:51] ShilpaSharePoint opened #90590 "Proper suggestors"
Index data from SharePoint document libraries via Azure Search preview API:-

SharePoint Library Columns are included as additionalColumns while creating datasource for SharePoint , also included when creating suggestor via index - Multiple fields are added as suggestor based on requirement like 'search suggestions should come from complete content of SharePoint libraries which has documents + add

[2022-03-28 11:01] shwetamathur7 commented on #90544
@SeanStL Thanks for your contribution to enhance documentation. I have added the missing quote. Changes will be reflected once author will approve.

[2022-03-28 11:01] #90544 closed

[2022-03-28 11:04] Cephei commented on #90425
Thank you very much for investigating this. 🍻

[2022-03-28 11:04] #90425 closed

[2022-03-28 11:22] kengaderdus commented on #87042
@ncarandini

Thank you for your feedback.

You do need a secret, so you can dismiss the 'discouragement'. Select the ellipsis (...) menu, and then select **Dismiss item**. That must be a mistake, and I'll reach out to put product team.

<img width="326" alt="dismiss" src="https://user-images.githubusercontent.com/88311008/160387273-fd757a3e-b8dc-46d9-b7f3-be2d955ab4c3.png">

Regarding implicit gra

[2022-03-28 11:31] yelevin commented on #87692
This document has been updated to reflect the current state of the user interface. Thanks for your contribution!
#please-close

[2022-03-28 11:31] #87692 closed

[2022-03-28 11:36] larrywa commented on #90352
Hi Sneha,

Thanks. Yes I understand that the two articles are associated with each other. I started with item number 1 and then have been stepping through the managed identity tutorial.

However, in the instructions, its seems to point out that all you need for your connection string in the web.config is:

<add name="MyDbConnection" connectionString="Server=tcp:<myservername>.database.windows.net;

[2022-03-28 11:49] manishmsfte commented on #90325
@bamalburg,
The timeout is 30 seconds, in case you are facing specific challenge then please raise a support ticket.

#please-close

[2022-03-28 11:49] #90325 closed

[2022-03-28 12:04] AjayKumar-MSFT commented on #87538
@cephalin,  Requesting your review and help in updating this doc to include steps for NGINX. Thanks!

[2022-03-28 12:10] chamnan522 opened #90592 "My Homepage"
[Uploading google_terms_of_service_en.pdf…]()

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b448cfd0-b673-7d04-047b-71aa62bebc27
* Version Independent ID: 75118bff-94de-c9f9-7666-d2a6f4253b11
* Content: [Leave an organization as a guest user - Azure Active Directory](https://docs.microsoft.com/e

[2022-03-28 12:22] sven5 opened #90593 "Missing sampling"
I've been struggling with missing log data.
You should definitely mention that one needs to disable adaptive sampling in order to get all the custom `ILogger` error messages from an ASP.NET Core application.

Thanks
Sven

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b09a09da-72ae-d5c0-fe25-69274054d302
* Version Indep

[2022-03-28 12:28] The-algar commented on #90586
please call me now
We need to reactivate our VPS on azure subscription iD  f7062012-6dd8-4663-a21d-890d87522e1b NOW!
________________________________
De : SadiqhAhmed-MSFT ***@***.***>
Envoyé : lundi 28 mars 2022 11:57
À : MicrosoftDocs/azure-docs ***@***.***>
Cc : Eric M. Clermontet ***@***.***>; Mention ***@***.***>
Objet : Re: [MicrosoftDocs/azure-docs] support link DO NOT WORK (Issue #90586)

[2022-03-28 12:51] lightupdifire opened #90594 "Device state (deprecated)"
Hello,

Using this parameter in policy: (device.trustType -eq 'Workplace'), tested by deleting all existing policies and creating new from scratch.

But, if run the "What If" tool, the policy shows it will not apply because the "Device state (deprecated)"

Not sure why... so I try to understand, is it in the documentation missing some steps or it is technical tenant linked.

![image](https://user-

[2022-03-28 13:00] dmetcalfe-work opened #90595 "Script does not update existing policy; can't find a way to update existing policy using powershell."
Hi,
The script provided does not update an existing policy if there is one in place. It will only create one if it doesn't exist.

Line number 49 returns with no output & no error if an existing policy is there.

I thought maybe this would help, however it doesn't:
[code]
With the above adjustment, the script appears to try registering a files & folders backup, rather than system state:
[code]

Th

[2022-03-28 13:01] MonikaReddy-MSFT commented on #88954
@brishalkumar - Thanks for providing the info. We have added this in our backlog to review it and update the document.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-03-28 13:26] slavizh commented on #90377
@GitaraniSharma-MSFT please re-open. The issue relates to Load Balancer logs, not metrics. I am aware that metrics work and that they do not have dimensions. Overall it is a matter of choice what alerts can be used. But as mentioned the issue and the statement refers to logs not to metrics.

[2022-03-28 13:30] shoresh57 opened #90596 "train.py Ip address"
Hi the code needs to be changed to get IP adress not based on variabrl. also it would be great that you give guidline to customers who want create compute instance and cluster on vnet and add NSG with rules on subnet of vnet
[Enter feedback here]

![image](https://user-images.githubusercontent.com/48243439/160409238-e221fb58-1106-4a11-a862-c68ff917a697.png)

---
#### Document Details

⚠ *Do not ed

[2022-03-28 13:33] Blackmist commented on #89781
@byronverz Sorry for the late reply. After researching and speaking with folks on other doc teams and their corresponding PM contacts, one zone per FQDN is how it is implemented for the DNS zones for private links. There's not currently a way to avoid this.

As @jhirono mentioned earlier, the only other option is to use a custom DNS server.

#please-close

[2022-03-28 13:33] #89781 closed

[2022-03-28 13:51] RyanHill-MSFT commented on #90582
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-03-28 13:52] RBVieira opened #90598 "Output binding storage examples?"
Hi Guys,

This document provides just one c# script output binding for blob storage. Do you have a link with other examples of output binding for Azure Blob Storage?

Thank you.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 910d4732-bb08-d16a-a932-19c6bd1628c2
* Version Independent ID: af4358c7-c

[2022-03-28 14:01] byronverz commented on #89781
@Blackmist alright, thanks very much for getting back to me, we have gone the custom dns route and have managed to get things working :)

[2022-03-28 14:07] RyanHill-MSFT commented on #90590
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-03-28 14:11] blockingHD opened #90600 "AD asks for a different record than is stated in this documentation"
Not sure what is correct here but Azure AD asks for a txt or mx record on the root or apex domain. Where as in this documentation it states that it is not supported.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c4a65cd-dae6-898a-514b-5bb9238f58a3
* Version Independent ID: 9c2f7824-efed-7108-7c1e-eb2b57f3c0d6
* Conte

[2022-03-28 14:12] SadiqhAhmed-MSFT commented on #90586
@The-algar Can you share the link you are using to re-activate your subscription?
Ideally, you should be able to re-activate the subscription from Azure portal - http://portal.azure.com/

![image](https://user-images.githubusercontent.com/44458118/160417198-e5bc906f-3052-4f7b-831b-a6eea50ae1cd.png)

If you are unable to activate your subscription, you can contact Azure subscription management team

[2022-03-28 14:17] SadiqhAhmed-MSFT commented on #90595
@dmetcalfe-work Thank you for bring this to out attention. We will review it and update as appropriate.

@adityabalaji-msft For visibility!

[2022-03-28 14:20] tamram commented on #90530
#reassign: @normesta

@djryanj - This is a new property and will be documented in the near future.

[2022-03-28 14:23] MayankBargali-MSFT commented on #90598
@RBVieira Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-03-28 14:39] harrchen88 commented on #90448
Apparently not.  The challenge is almost all the dev/test SFC will not have verified domains.  The creation of app registration works manually, just failed from script.

[2022-03-28 14:42] dmetcalfe-work commented on #90595
Thankyou for picking this up so quickly.

I can summarize my issues with these powershell commands below.
I'm running the latest version of the MARs agent:
![image](https://user-images.githubusercontent.com/76944419/160423039-44ad230c-f936-499e-b189-9759cddecf0d.png)

When an existing policy is in state, you can't update / remove the policy via set-obsystemstatepolicy:
![image](https://user-images

[2022-03-28 14:42] shashishailaj commented on #90584
@muellni6 Thank you for your feedback . We have assigned this issue to the content authors for further making the changes as necessary .

[2022-03-28 14:45] AnuragSingh-MSFT commented on #90587
@jackson-yang-microsoft, thank you for bringing it to our attention. I am reviewing this and will update you soon.

[2022-03-28 14:51] DTSzumski commented on #84066
I hate the way they claim to provide a service run into a problem drop-down list to solve your? problem take a class like your stupid your the problem not them I am over 60+ take classes to obtain the services they claim to provide gladly the gave me $200 to figure that out paid would been angry and disappointed now I just disappointed. I will figure out a way to get my tables into a database to d

[2022-03-28 14:51] shashishailaj commented on #90592
@chamnan522 Thank you for your post on the forum. We use the azure-docs repository for issues related to the documentation . If you coudl provide more information and clarification about which document you have issue with and details of the same we can help you better. Looking forward to your response and help you further.

[2022-03-28 14:55] shashishailaj commented on #90600
@blockingHD
Thank you for your feedback . We will investigate and update the thread.

[2022-03-28 14:59] shashishailaj commented on #90583
@gbms311
Thank you for your feedback . We will investigate and update the thread.

[2022-03-28 14:59] boris-bazilevskiy commented on #90582
Fixed. Thank you for the feedback!

From: Ryan Hill ***@***.***>
Date: Monday, 28 March 2022, 15:51
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Boris Bazilevskiy ***@***.***>, Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] typo in second block (Issue #90582)

Thanks for the feedback! We are currently investigating and will update you shortly.

—
Reply to this email directly, view i

[2022-03-28 15:04] #90398 closed

[2022-03-28 15:05] zr-msft commented on #90398
Thank you for the feedback.

We've updated the article to address your feedback and the changes should be available soon.

[2022-03-28 15:12] gadros opened #90602 "misleading connection between Managed Disks limits and Storage Account"
under 'virtual machine disk limits' there's the table of 'For Azure managed disks:' which shows the maximal number of disks. beneath the table and still seems related to managed disks (MD) there's the paragraph that starts with "You can roughly calculate the number of highly". it can lead to believe that MD are limited by storage account limits. unmanaged disks are way beneath.
i think it would be

[2022-03-28 15:17] dlepow commented on #90557
#reassign: @tejaswikolli-web   Could you please take a look at this issue? Thanks!

[2022-03-28 15:17] RyanHill-MSFT commented on #89591
Slight correction @antbewes, the app setting is `WEBSITE_JAVA_JAR_FILE_NAME`, my apologies on that. And you are correct that there aren't any docs on this; the doc should be updated for this. Use this setting only using the filename. The platform will find and set the file path. There shouldn't be any need to use Dprops.path. Check your logs for any issues finding your jar file and let me know if

[2022-03-28 15:27] RyanHill-MSFT commented on #90582
#please-close

[2022-03-28 15:27] #90582 closed

[2022-03-28 15:30] SumanthMarigowda commented on #90201
@cveld Firstly, apologies for the delay in responding here! I am checking on this query

[2022-03-28 15:36] Pietervanhove commented on #90474
That is correct yes. All data types are supported in a ledger table except for:
- XML
- SqlVariant
- User-defined data type
- FILESTREAM

[2022-03-28 15:39] #89602 closed

[2022-03-28 15:44] SaiChakravarthymorla opened #90604 "clode"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bef92944-e84a-bda9-13d8-e537ede110fc
* Version Independent ID: 1879e7a2-8c60-06a8-fc44-3bfbbb9802f9
* Content: [Azure Resource Manager overview - Azure Resource Manager](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/overview

[2022-03-28 15:47] NelsonJAbbey commented on #90284
Thanks James.

When my guys (with COntributor access) try to upload files  to our blobs using AZcopy -- they get error. I added them to group containing Storage Blob COntaner Contributor and it worked. Am I missing something?

[2022-03-28 15:52] Karishma-Tiwari-MSFT commented on #90292
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

Thanks for improving our documentation! Just so you know, it's also possible to make these changes yourself, if you are interested. Doing so will improve our documentation, and it will add you as a contributor to the document.
In case you're interested, these are the steps to do so:
1.	Na

[2022-03-28 15:52] #90292 closed

[2022-03-28 15:55] NelsonJAbbey commented on #90284
@JamesTran-MSFT just saw your note on scopes -- are you suggesting that could be the cause of initial issue?

[2022-03-28 15:58] Karishma-Tiwari-MSFT commented on #90555
Looks like this issue is closed. Let me know if you are still seeing issues. Thanks.

[2022-03-28 16:01] #90300 closed

[2022-03-28 16:02] porrascarlos802018 opened #90606 "Consider updating document with examples for memory HPA utilization in AKS"
Steps to implement HPA based on memory metrics:

1.	Create a deployment using this yaml
kubectl create -f php-apache.yml

https://gist.githubusercontent.com/vamsijakkula/b7b561ebcf1a9ce37566bd9f1957065a/raw/58ca6924bd2ef62de8171219e43a72cf58509024/gistfile1.txt

apiVersion: apps/v1
kind: Deployment
metadata:
  name: php-apache
spec:
  selector:
    matchLabels:
      run: php-apache
  replicas: 1

[2022-03-28 16:09] Karishma-Tiwari-MSFT commented on #90328
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-03-28 16:12] sd40250 opened #90608 "Is it possible to list required permissions for restarting the database server on this page?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d6d4bd2d-0ee0-4d84-f5d9-f4497f428212
* Version Independent ID: ee4c63c3-6d55-4c35-3410-a9abcf4a10ff
* Content: [Restart server - Azure portal - Azure Database for PostgreSQL - Single Server](https://docs.microsoft.com/en-us/azure/postgresql/howto-rest

[2022-03-28 16:17] Karishma-Tiwari-MSFT commented on #90293
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-03-28 16:17] Karishma-Tiwari-MSFT commented on #90075
We will now close this issue. Please share the details and tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2022-03-28 16:17] #90075 closed

[2022-03-28 16:20] NelsonJAbbey commented on #90284
I will see if I can repro tomorrow. End of Day here in Cork. I will remove them from group and check their original scopes.

Thanks

[2022-03-28 16:21] #90558 closed

[2022-03-28 16:22] urosmil commented on #88449
Hi @catluker-wandisco / @AnuragSharma-MSFT

The PR with the changes I have mentioned above have been implemented in the following PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/192943

Hope that feedback is addressed and that we can close the issue.

Regards,
Uros Milanovic
Program Manager
Azure SQL Managed Instance

[2022-03-28 16:32] NaganandiniS opened #90609 "Lookup activity in Azure Data Factory and Azure Synapse Analytics"
It's really good article. Activities are explained well too. Well, if there is one line of explanation for each of these properties (like timeout, retry etc.,) it would be more helpful.
Thanks :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ede89f3f-055a-b123-c081-8622a9035171
* Version Independent ID: c4fe312f-71a6-

[2022-03-28 16:34] Karishma-Tiwari-MSFT commented on #90061
Thanks for bringing this to our attention. I have created a PR with the update, the document will be updated once it is reviewed and approved by the author.

Thanks for improving our documentation! Just so you know, it's also possible to make these changes yourself, if you are interested. Doing so will improve our documentation, and it will add you as a contributor to the document.
In case you're

[2022-03-28 16:34] #90061 closed

[2022-03-28 16:36] ravkash opened #90611 "upgrade service level timeline"
[Enter feedback here]

Hello,

the documentation clarifies that moving from higher to lower (after recent change) requires 7 day wait time, which is good. Now, if we were to upgrade say, premium to ultra, I know that there is no wait time or restrictions, however, the documentation does not clarify that.

I understand it may be thought of assumed, but it would be good to put it in writing to avoid

[2022-03-28 16:50] ziaddiab-globaldws commented on #90164
@SatishBoddu-MSFT ,
This code is for sending the telemetries to IoT Central. We need the sample code for provisioning the device using .NET 4.7

[2022-03-28 16:50] JoeCodeswell opened #90612 "TLDR: Associate or add an Azure subscription to your Azure Active Directory tenant"
TLDR: Associate or add an Azure subscription to your Azure Active Directory tenant.

TLDR!!!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da261ee4-3348-b520-a27c-98f9d9ef40cc
* Version Independent ID: 13d12189-ee46-8058-dd99-058adc69f1c5
* Content: [Add an existing Azure subscription to your tenant - Azure AD](https:

[2022-03-28 16:55] mmacy commented on #88081
@shwetamathur7  Please reopen so we can look into this. Thanks!

#reassign:henrymbuguakiarie

[2022-03-28 16:56] Jasonth23 opened #90614 "Feedback due to unsupported scenario"
Greetings,

We were trying to set up a function app with managed identity as system assigned, create a staging slot, and then swap slots, all from a single ARM template. Doing this did not throw any exceptions, the deployment finished successfully but at the time of checking the function app, the managed identity for the function app was not enabled.
This was not expected since there were no error

[2022-03-28 17:07] Robert-Lauriston-at-Striim commented on #90496
I found all the MongoDB API docs I need. My issue is that I can't find a similar introduction to / overview of the SQL API. Please read my issue again. It feels like something got deleted or a link is going to the wrong page or somehow an introduction / overview was never written.

[2022-03-28 17:25] KranthiPakala-MSFT commented on #90609
Thank you for reaching out and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2022-03-28 17:27] egachi opened #90615 "Add rbenv commands to initialize ruby environment through SSH"
In scenarios where customers want to interact with Ruby and Bundler cli commands through SSH in Ruby blessed images, we can let them be aware that we are using rbenv to handle the ruby environment. So they can run these two commands:

`rbenv global $RUBY_VERSION`

`eval "$(rbenv init -)"`

for loading the environment in the ssh session, then they can run bundler and ruby cli commands, if they want

[2022-03-28 17:29] JamesTran-MSFT commented on #90612
@JoeCodeswell
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-28 17:31] jaydeepn commented on #90475
The image clearly shows it for System Assigned. What is the exact confusion? Happy to improve the instructions if you can elaborate more on the clarity needed.

![image](https://user-images.githubusercontent.com/31678352/160454175-ffa2ea71-8284-4203-8811-0b08b3429302.png)

[2022-03-28 17:33] cittakaro opened #90616 "How to get custom object"
Hi,

How to extract custom object from Marketing Cloud?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df56c0c4-ac20-76e5-3f99-7e5ed9c2d726
* Version Independent ID: 8b224227-1cf7-6fa7-4bee-24d243509e45
* Content: [Copy data from and to Salesforce - Azure Data Factory & Azure Synapse](https://doc

[2022-03-28 17:33] nibaccam commented on #90567
@AbeOmor is this something you can take a look at please?

[2022-03-28 17:35] AaronMaxwell commented on #90244
We are discussing a few options that may include adding a link to the information box in the portal, or possibly removing that information box completely.

- There is no concern with creating an API key
- Nobody is going to go learn and implement Azure AD based on a random information box.

#please-close

[2022-03-28 17:35] #90244 closed

[2022-03-28 17:41] nibaccam commented on #90567
Hi @adamcorn could you please post the error message you're receiving?

[2022-03-28 17:47] whhender commented on #90243
Thanks! We're working on that and will have the source page updated this week!

[2022-03-28 17:48] adamcorn commented on #90567
Certainly!

[code]

[2022-03-28 17:52] HeidiSteen commented on #90387
@gleidsongmsft I completed a test pass on my side and sent the results to engineering. You're cc'd on that thread.  If it's okay with you, I'd like to close this issue since we're pursuing it through different channels.  I think there might be a product bug.

#please-close

[2022-03-28 17:52] #90387 closed

[2022-03-28 18:01] jeremy-donson commented on #90525
https://docs.microsoft.com/en-us/azure/data-factory/data-flow-sink

[2022-03-28 18:02] jeremy-donson commented on #90525
https://docs.microsoft.com/en-us/azure/data-factory/concepts-data-flow-performance-sinks

Your job is to use search to find ALL of these errors, and not give that job back to me.

[2022-03-28 18:17] AbeOmor commented on #90567
@adamcorn and @louis-li Looks like a bug, that was fixed in the last update. Please try with the latest azureml-defaults or azureml-inference-server-http package

[2022-03-28 18:18] HeidiSteen commented on #90420
Hi vdimov-gcmlp, thanks for resolving.  We are scheduled to update the custom skill examples (4) in the next month and we can address the authentication options then.

In the mean time, the article you found is the best resource for using system identity:  https://docs.microsoft.com/en-us/azure/search/cognitive-search-custom-skill-interface#set-the-endpoint-and-timeout-interval

#please-close

[2022-03-28 18:18] #90420 closed

[2022-03-28 18:29] gmndrg commented on #90590
Hello @ShilpaSharePoint from the explanation here, we are not able to understand if the issue is the content being ingested is not what you expect or if the suggester is not being used correctly. From the documentation here: [Create a suggester - Azure Cognitive Search | Microsoft Docs](https://docs.microsoft.com/azure/search/index-add-suggesters#property-reference) see below a good candidate for

[2022-03-28 18:31] AnuragSharma-MSFT commented on #88449
@urosmil Thanks a lot for covering these changes through the PR.

@catluker-wandisco We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2022-03-28 18:31] #88449 closed

[2022-03-28 18:41] ju-shim commented on #82159
Working with the PM team to look into this request, work item #[1934047](https://dev.azure.com/mseng/TechnicalContent/_workitems/edit/1934047).

Closing this issue now since there's no immediate planned work/issue to take care of. Thank you for submitting this request!

#please-close

[2022-03-28 18:41] #82159 closed

[2022-03-28 18:44] ju-shim commented on #83225
Hello,

Thank you for the request. Currently, you are right, there is no clear documentation. I'll work with the right PMs to get some documentation up, but there is no immediate update possible right now. I'll circle back to this issue once we have something ready.

Thank you for your patience.

[2022-03-28 18:46] JamesTran-MSFT commented on #90612
@JoeCodeswell
Thank you for your time and patience throughout this issue!

Can you share some more details as to what you'd like changed or enhanced within our [Associate or add an Azure subscription to your Azure Active Directory tenant](https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/active-directory-how-subscriptions-associated-directory) documentation?

[2022-03-28 19:00] MonikaReddy-MSFT commented on #89931
@mbanck - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2022-03-28 19:06] MonikaReddy-MSFT commented on #90604
@SaiChakravarthymorla - Thank you for your question.
 Can you please share with more info of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2022-03-28 19:07] TerryLanfear commented on #89045
#please-close

[2022-03-28 19:07] #89045 closed

[2022-03-28 19:24] Grace-MacJones-MSFT commented on #90614
Hi @Jasonth23, thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update this doc as appropriate

[2022-03-28 19:25] jhaydt opened #90623 "Rename the MessageProperties class"
Because you named your message "message", it is unclear whether I need a properties class for every property.  You named it MessageProperties and the only message in it is one named message.  Please either point out that it is a general name for all messages or chose another name.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2022-03-28 19:25] JoeCodeswell commented on #90612
Thanks, James.
After a LONG absence, today I went back to the Azure Portal.
I don't recognize it.
I used to have an Angular App working at https://webappj2.azurewebsites.net/
I'm not sure if this is active any more or that my Azure Portal relates to the account that created it.
I don't even know how to check.  :...(
Thanks for the response.
Love and peace,
Joe

[2022-03-28 19:39] mike-urnun-msft commented on #90623
Thank you for your feedback! We will review and update as appropriate.

[2022-03-28 19:47] Grace-MacJones-MSFT commented on #90615
Hi @edisga , thanks for bringing this to our attention. e will review and update this doc

[2022-03-28 19:51] mike-urnun-msft commented on #90208
Hello @DrReedo - Thanks again for your feedback. The `decodeBase64()` function is deprecated, as noted on this doc, and the guidance is to use the `base64ToString()` function instead.

Since we didn't determine any changes to this documentation upon reviewing your feedback, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will

[2022-03-28 19:51] #90208 closed

[2022-03-28 19:52] Karishma-Tiwari-MSFT commented on #90060
@[buzzfrog](https://github.com/buzzfrog) I tried to reproduce on my side and it is working. Can you please try again ensuring you are using the right tag.
I had another customer who faced the same issue and in that case the tag which was being referred didn’t exist & a different tag specified did the work.
Let me know if you are still seeing the issue and I can further investigate over email by ge

[2022-03-28 19:53] adamcorn commented on #90567
Thank you @AbeOmor
First I tried upgrading the azure-core package, but pip let me know that it is incompatible with azureml-core:
`pip install --upgrade azure-core`
...
`ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
azureml-core 1.39.0.post1 requires azure-core<1.22, but

[2022-03-28 19:56] GeethaThatipatri-MSFT commented on #90177
Thanks @SteveWohl
@ladydanes Here is the response to your query.
1. Data replication happens behind the scenes continuously once the DR feature is enabled. As documented, our RPO is 15 minutes
2. As documented, to enable the DR feature, all the customers need to do is submit a support ticket. Our engineering support team then enables the DR feature. It is an internal operation for the managed serv

[2022-03-28 19:56] VanMSFT commented on #90474
Thanks @Pietervanhove!

@AminAvan - Since this question has been addressed, we will go ahead and close this Issue. Feel free to provide additional comments.

#please-close

[2022-03-28 19:56] #90474 closed

[2022-03-28 19:57] Karishma-Tiwari-MSFT commented on #90052
I am currently trying to reproduce this issue, will share an update shortly. Thanks.

[2022-03-28 19:57] PatrickFarley commented on #88949
Hi @jesweare, our recommendation is any NVIDIA CUDA Compute Capable GPU 6.0 or higher, not just T4. I've edited the doc to reflect this.
#please-close

[2022-03-28 19:57] #88949 closed

[2022-03-28 20:03] Karishma-Tiwari-MSFT commented on #89782
@lucasgcbkhomp Thanks for sharing the details. I am looking into it and will share an update shortly.

[2022-03-28 20:04] #90477 closed

[2022-03-28 20:05] ecfan commented on #90477
@PaulSipos, I made a clarity update that should hopefully make the separate doc link clearer. Should go live after 4 PM Pacific Time.

[2022-03-28 20:08] Karishma-Tiwari-MSFT commented on #89177
You are right. This document has been removed.

I found the following information from [this document](https://docs.microsoft.com/en-us/microsoft-365/enterprise/azure-expressroute?view=o365-worldwide) though:
We do not recommend ExpressRoute for Microsoft 365 because it does not provide the best connectivity model for the service in most circumstances. As such, Microsoft authorization is required

[2022-03-28 20:08] #89177 closed

[2022-03-28 20:08] ChaitanyaNaykodi-MSFT opened #90625 "Missing Hyperlink to Custom Domain Page"
I think we need to add a hyperlink to Custom Domain Page in the paragraph below.

![image](https://user-images.githubusercontent.com/67453298/160478485-fe365a08-e9d5-4e64-8733-783942d25401.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed72df51-8f93-f2f3-6d66-fc4d085fe691
* Version Independent ID: 2774ed11-a0a1-bc

[2022-03-28 20:09] ChaitanyaNaykodi-MSFT commented on #90625
I am working on a PR for this issue.

[2022-03-28 20:12] tshaiman opened #90626 "Managed Identity Support"
[Enter feedback here]
Is there a sample / Support for Using Content Moderator client with managed Identities ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54699297-e828-23c5-77ff-267f5d9c2593
* Version Independent ID: f591d910-92fe-4099-0ec4-7e17800a68b7
* Content: [Quickstart: Use the Content Moderator client libra

[2022-03-28 20:12] Karishma-Tiwari-MSFT commented on #90043
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-03-28 20:15] miked1313 commented on #89177
Hi @Karishma-Tiwari-MSFT Can the removed document be restored?  It had a lot of useful information in it.

[2022-03-28 20:15] mike-urnun-msft commented on #90523
@chinos0228 It looks like you have self-closed this issue. If you still have further queries on this matter, please consider posting on [MS Q&A channel](https://docs.microsoft.com/en-us/answers/index.html) instead. Thanks!

[2022-03-28 20:18] seligj95 commented on #90458
@msangapu-msft - please have a look. Thanks!

[2022-03-28 20:30] #88207 closed

[2022-03-28 20:32] weyCC81 commented on #81628
Hi @curtand
Is there an update on this available?

[2022-03-28 20:34] weyCC81 commented on #84005
@MarileeTurscak-MSFT
Any updates on this available?

[2022-03-28 20:37] #90467 closed

[2022-03-28 20:37] KranthiPakala-MSFT commented on #90467
The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2022-03-28 20:39] HeidiSteen commented on #90437
@mfaulkdel  From the engineering team:  "Yes they actually do count towards the total. The complex field itself is not counted but all of its children are. For example, a complex field "Address" with subfields Street, City, and Zip will count as 3 fields."

I will update the docs this afternoon.  Thanks for posting your question.

[2022-03-28 20:43] dev717 opened #90627 "Azure B2C default Email Customization"
Can't seem to find instructions on how to customize the default email verification email from Azure AD B2C.

See attached for default coming from our tenant.
![b2c default email](https://user-images.githubusercontent.com/15719335/160483709-8523df6b-68fe-40d8-9656-93cb77b2b5c4.jpg)

Thanks
Kurt

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2022-03-28 20:43] jeremy-donson commented on #90525
Please confirm that you can find ALL occurrences of 'sink' in the msoft docs.

And here is the source of these silly doc errors in the Azure Data Factory platform: https://adf.azure.com/en/authoring/pipeline...

<img width="683" alt="Screen Shot 2022-03-28 at 2 39 06 PM" src="https://user-images.githubusercontent.com/34130568/160483584-ff8ffbb1-e262-48ed-89ef-c304732735f1.png">

I will be creating

[2022-03-28 20:47] chrishaslam opened #90628 "graphic is wrong"
the graphic under 'Custom IPsec/IKE policy with Azure VPN gateways' has GCMAES128 listed twice above VNet-to-VNet. i assume this should be 'GCMAES256'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3c9ea83-f9d6-57c0-301d-323d2747a1c5
* Version Independent ID: 424eec9a-4017-9128-1bbb-9b50996a9b7b
* Content: [Cryptograp

[2022-03-28 20:47] jeremy-donson commented on #90525
Related ticket for software glitch in Azure.
https://github.com/Azure/Azure-DataFactory/issues/369

[2022-03-28 20:51] GiftA-MSFT commented on #90525
@jeremy-donson thanks for the detailed information. I've linked the docs you've provided to this issue and assigned to appropriate team. We'll review your feedback and get back to you shortly.

[2022-03-28 20:55] #90625 closed

[2022-03-28 20:58] GiftA-MSFT commented on #90478
Following up on above request so I can assign this issue to appropriate team. Thanks.

[2022-03-28 21:02] GiftA-MSFT commented on #90471
Following up on above request so I can assign this issue to appropriate team. Thanks.

[2022-03-28 21:03] KranthiPakala-MSFT commented on #90525
Hi @jeremy-donson,

Thanks for the feedback.
The word `Sink` is correct with respect to ADF product. Here the word `sink` has been used for output or the target.

For more clarification please refer to this wiki - [Sink (computing)](https://en.wikipedia.org/wiki/Sink_(computing)#:~:text=In%20computing%2C%20a%20sink%2C%20event%20sink%20or%20data,allowing%20events%20to%20be%20fired%20to%20delegate%2

[2022-03-28 21:19] JamesTran-MSFT commented on #90627
@dev717
Thank you for your feedback!

The instructions to create a custom email verification with SendGrid should be under the Custom Policy Tab.
![image](https://user-images.githubusercontent.com/36619112/160488729-f1f6ee5c-486e-4198-bca4-5576dbaee824.png)

If you have any other questions, please let me know.
Thank you for your time and patience throughout this issue.

[2022-03-28 21:20] Robert-Lauriston-at-Striim commented on #90496
Also, where can I find the documentation for retries when using the SQL API?

[2022-03-28 21:23] DTronD opened #90630 "Add info in SUBSTRING entry's warning that SLICE may be a better choice than SUBSTRING"
Not sure when the SLICE function was added.....or maybe I've just been overlooking it forever.  Regardless, it seems that the SLICE function doesn't throw an error when the StartIndex or EndIndex parameters are larger than the length of the text input parameter unlike SUBSTRING which does.

It would be helpful to either mention SUBSTRING has been deprecated in favor of SLICE, or at least mention t

[2022-03-28 21:24] AlanPintor-git opened #90631 "Do you have the Android version of this tutorial?"
All the Android versions we find in azure repositories are not for the new IoT Central(v3). Do you have any tutorial or code sample we can use?

Or perhaps, the "[IoT Plug and Play](https://play.google.com/store/apps/details?id=com.iot_pnp&hl=en_CA&gl=US)" repository so we can modify it as needed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2022-03-28 21:34] MarileeTurscak-MSFT commented on #90528
Thanks! I made a pull request to update this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/193166

[2022-03-28 21:34] #90528 closed

[2022-03-28 21:37] Grace-MacJones-MSFT commented on #90079
Thanks for catching this error in the doc! I have submitted a PR to fix the issue, the change is merged internally and will go-live in the public docs shortly.

[2022-03-28 21:37] #90079 closed

[2022-03-28 21:38] ecfan commented on #90630
@DTronD, thanks for reaching out with your feedback!

@RyZum, can you help address these questions from @DTronD? Thanks!

[2022-03-28 21:39] ecfan commented on #90630
#assign:@ryzum

[2022-03-28 21:40] leekester commented on #85742
Hi @pinyuko

Thanks for this nugget of information. Really useful and has definitely got me closer!

I've registered the feature in my personal subscription and also one used by my organization. While "checkzonepeers" is showing as registered, I'm seeing the following in both subscriptions. Same message whether I construct the request through Microsoft's "Try it" or generate a HTTP post using Powe

[2022-03-28 21:48] rolyon commented on #88795
Hi @svartanian
Thanks for your feedback. Have you seen the PowerShell and CLI role assignment examples here?
https://docs.microsoft.com/en-us/azure/role-based-access-control/role-assignments-powershell#assign-role-examples
https://docs.microsoft.com/en-us/azure/role-based-access-control/role-assignments-cli#assign-role-examples
thanks

[2022-03-28 21:51] KranthiPakala-MSFT commented on #90399
Hi @ShaneOsborne . Looks like the changes have been merged.

![image](https://user-images.githubusercontent.com/50185738/160493193-1b12d0e7-9dc5-4bce-91c4-6200c6e510da.png)

We will now proceed to close this thread. Thanks for your contributions in helping improve our doc content.

[2022-03-28 21:51] #90399 closed

[2022-03-28 21:52] wadepickett opened #90632 "Only implementing ConfigureAppConfiguration from FunctionsStartup as per documentation does not compile"
This issue has been moved to the correct repo: azure-docs.

It was originally filed by @edvinkugelberg-ff.

"Following the tutorial on how to use dependency injection for azure functions, the code under the subtitle ["Customizing configuration sources"](https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection#customizing-configuration-sources) results in error:

[2022-03-28 22:02] TLKG commented on #90507
Thank you.

[2022-03-28 22:02] #90507 closed

[2022-03-28 22:03] thor-injoy opened #90634 "Glossary Format Documentation"
I must just be looking in the wrong spot, but I can't seem to find anything about the ACTUAL formatting of the glossaries. Sure, okay, I can find what file formats are accepted, but I can't find anything about the actual format of the actual information contained in those files.

I can get the document translation to work without the glossaries, but not with the glossaries. Every time I try it jus

[2022-03-28 22:17] leekester commented on #85742
Apologies @pinyuko . I had a malformed body in my request.

All working as expected!

Thanks again.

Matt

[2022-03-28 22:29] skylaro opened #90635 "Clarify 'scopes' parameter of Microsoft.Insights ARM resource"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2022-03-28 22:32] billzCFGH opened #90636 "Incorrect Key File Path"
I'm having trouble connecting to the key file in my Azure SQL VM with self-hosted IR. I've uploaded the .p12 file to the VM and filled out the key path as C:\Users\me\Documents\myp12file.p12 and am getting the following error when testing the connection:

ERROR [28000] [Microsoft][DriverOAuthSupport] (8706) Unable to find or open file from:  C:\Users\me\Documents\myp12file.p12
ERROR [28000] [Micro

[2022-03-28 22:35] 4deeptech opened #90637 "The screenshots for Storage Account Migration do not match the current portal"
The screenshots for Storage Account Migration do not match the current portal. When I look at a storage account, the Settings area doesn't have the same options as in this screenshot and I do not see any storage accounts that seem to have the "Migrate to ARM" option. I have no way to tell which storage account may need migration and how to migrate. Can you update this article to match current Port

[2022-03-28 22:49] KranthiPakala-MSFT commented on #90616
Thanks for leveraging Azure docs feedback channel to raise this question. This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. We didn't determine any changes for this documentation upon reviewing this feedback.

If your issue is specific to a use case, we request you to please reach out in forums like [Microsoft Q&A](https://docs.micros

[2022-03-28 22:53] thor-injoy commented on #90634
Okay, looks like I had an error in my request formatting that was the real source of the problem. I still feel like it would be helpful to have more information around the correct formatting of the glossary CSV files. It seems to be working now using CSV files formatted according to [Google's API documentation](https://cloud.google.com/translate/docs/advanced/glossary#format-glossary)

[2022-03-28 22:53] #90634 closed

[2022-03-28 22:59] YutongTie-MSFT commented on #90626
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-03-28 23:08] AldoSaucedo opened #90638 "Download and Upload files in JAR file"
I'm using this library in a Java application to download, encrypt and upload files from/to Azure Blob Storage.
It works perfectly in my local machine, but I need this application running in an Azure Data Factory.

I'm using a JAR activity linked to the JAR file generated from this application.

Even when the JAR Activity finishes successfully,  files does not get downloaded nor uploaded.

Any idea

[2022-03-28 23:23] SatishBoddu-MSFT commented on #90631
Hello @AlanPintor-git

Please have a look at this Q&A post for guidance: [Continuous Patient Monitoring Sample](https://github.com/iot-for-all/iotc-cpm-sample)

![image](https://user-images.githubusercontent.com/62923178/160503247-1f97b99c-0d76-4714-bf05-66782da55f7d.png)

Also check: [How to connect android device to IoT Central?](https://docs.microsoft.com/en-us/answers/questions/267717/how-to-c

[2022-03-28 23:42] GeethaThatipatri-MSFT commented on #90317
Hi, @KSchlobohm Thanks for the feedback! It helps us understand what we have, and what we don't have. This functionality
to "get rid of connection strings and use managed identities" is not available at this time. To answer your question directly,
it is not achievable this way.

It is something we’re actively looking into. Stay tuned. When it becomes available, we will note that in What's New.

If

[2022-03-28 23:43] SaiKishor-MSFT commented on #90123
@catmanjan Do you have the option [Host Name Override](https://docs.microsoft.com/en-us/azure/application-gateway/configuration-http-settings#host-name-override) selected in your HTTP setting with the above domain? That's probably why you have that domain parameter included in the cookie for your prod environment.

[2022-03-28 23:59] kobulloc-MSFT commented on #90606
@porrascarlos802018 Thank you for the feedback!  We've assigned this to the doc author for further review.

[2022-03-29 00:11] kobulloc-MSFT commented on #90492
@tcsougan I've reached out to the documentation team and an update is being worked on.

[2022-03-29 00:14] koichino opened #90641 "There should be no limit on “number of files” that created per hour for storage account."
I’m CSA from Microsoft and got the questions from my customer about the doc below, It says the error caused by the limit of the “number of files” that created per hour.
[https://docs.microsoft.com/en-us/azure/databricks/kb/jobs/azure-throttling]

"
Each ADLS subscription level has a limit on the number of files that can be created per unit of time, although the limits may differ depending on wheth

[2022-03-29 00:20] Bei-He opened #90642 "incorrect link to 'Prepare Azure' in the 'Before you begin' section"
[Enter feedback here]
I think the link to 'Prepare Azure' in the 'Before you begin' section is not correct.

The link will redirect to 'Prepare Azure for **on-premises** disaster recovery to Azure'
https://docs.microsoft.com/en-nz/azure/site-recovery/tutorial-prepare-azure

However, I think it should be 'Prepare Azure resources for **Hyper-V** disaster recovery'.
https://docs.microsoft.com/en-us/a

[2022-03-29 00:27] kobulloc-MSFT commented on #90431
@krazy-glue It appears that some of the links aren't working (shown below in purple).  I'm continuing to investigate this.

![image](https://user-images.githubusercontent.com/37556655/160508835-f46aa7a8-c198-4280-a1e4-e444b17b8ed0.png)

[2022-03-29 00:31] MarileeTurscak-MSFT commented on #90486
Hi @mtosic,

As mentioned on the other thread, once the account is disabled, the tenant admin needs to either enable the account so that you can remove yourself, or delete the account. If someone disabled your account, then you cannot authenticate and cannot leave. You need to get a valid administrator there to remove you.

You can also try the troubleshooting steps in these articles:

https://doc

[2022-03-29 00:31] #90486 closed

[2022-03-29 00:39] krazy-glue commented on #90431
Thank you, those was exactly the ones I found out.

[2022-03-29 01:15] ms-ishiyam opened #90644 "Can not get diag logs for AAD login"
When I login to a VM with AAD auth and native client, I can not find any logs in diagnostic logs. I also find that UserName in session information is blank when  I login to a VM with AAD auth and native client. Cloud you add this limitation into the public document ?

![image](https://user-images.githubusercontent.com/37136042/160512765-3917753f-e1d6-4f59-bed4-7aeb5cb04226.png)

---
#### Document

[2022-03-29 01:44] AnuragSharma-MSFT commented on #90196
@cveld We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2022-03-29 01:44] #90196 closed

[2022-03-29 01:44] AnuragSharma-MSFT commented on #90277
@nilact We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2022-03-29 01:44] #90277 closed

[2022-03-29 01:52] AnuragSharma-MSFT commented on #90602
@gadros Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-03-29 01:53] AnuragSharma-MSFT commented on #90611
@ravkash Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-03-29 01:54] WenJason opened #90645 "Import Transformation notebook failed."
Hi Team,

Is the url of [Transformation notebook](https://docs.microsoft.com/en-us/azure/data-factory/solution-template-databricks-notebook#import-a-notebook-for-transformation) correct? When I imported the notebook, it's failed. Could you please have a check?
![image](https://user-images.githubusercontent.com/38063322/160516578-4f2fc2e2-9a24-4680-a77b-ad9cab7be956.png)
Thanks in advance.

---
###

[2022-03-29 01:57] GeethaThatipatri-MSFT commented on #90349
Hi @mayurpuli please let us know if you have any additional questions

[2022-03-29 03:13] CHEEKATLAPRADEEP-MSFT commented on #90645
@WenJason  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-03-29 03:29] KrishnaG-MSFT commented on #90642
@Bei-He Thanks for your comment! We will review and provide an update as appropriate.

[2022-03-29 03:31] mayurpuli commented on #90349
Thank you Geetha! Appreciate your inputs. You can close the issue.

[2022-03-29 03:34] mayurpuli commented on #90349
But it would be great, if this point comes out very clearly or atleast re-word the existing line just so that it brings in more clarity for the benefit of every one.

[2022-03-29 03:37] AnuragSharma-MSFT commented on #90635
@skylaro Thanks for the feedback. Could you please mention the url/documentation you are referring to? This platform is mainly used for queries/doubts related to Microsoft Documentation.

[2022-03-29 03:43] VikasPullagura-MSFT commented on #90480
@bluefooted Thanks for sharing the details.

[2022-03-29 03:43] VikasPullagura-MSFT commented on #90480
@sidprasher
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2022-03-29 03:43] #90480 closed

[2022-03-29 03:55] YutongTie-MSFT commented on #90426
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2022-03-29 03:55] #90426 closed

[2022-03-29 03:55] FM-AX commented on #57709
Statement 'CREATE WORKLOAD GROUP' is not supported in this version of SQL Server. I'm running in database not in master db. Please help
`CREATE WORKLOAD GROUP DataLoads
WITH (
    MIN_PERCENTAGE_RESOURCE = 100
    ,CAP_PERCENTAGE_RESOURCE = 100
    ,REQUEST_MIN_RESOURCE_GRANT_PERCENT = 100
    );

CREATE WORKLOAD CLASSIFIER [ELTLogin]
WITH (
        WORKLOAD_GROUP = 'DataLoads'
    ,MEMBERNAME = '

[2022-03-29 03:55] SwathiDhanwada-MSFT commented on #90253
@Rboucher Can you please review this and provide your valuable insights?

[2022-03-29 03:56] SwathiDhanwada-MSFT commented on #90269
@journey-wang As we haven't heard from you, we will close the issue for now. If there are further questions , please revert with requested information and we will be glad to assist you.

[2022-03-29 03:56] #90269 closed

[2022-03-29 03:57] christcottrell opened #90647 "Is this up to date???"
[Enter feedback here]

The instructions state to add this to the module imports..  Except it just leads to a build error complaining about the null MsalGuardConfiguration.. I haven't gotten far with this, but this isn't giving me a lot of confidence. And I thought the intent of MSAL was to make things simpler over ADAL.. ADAL was much simpler imo and I'm just not finding that MSAL is a complete wo

[2022-03-29 04:05] VikasPullagura-MSFT commented on #90637
@4deeptech
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-03-29 04:06] VikasPullagura-MSFT commented on #90637
@tanmaygore
Can you please check and add your comments on this doc update request as applicable.

[2022-03-29 04:16] VikasPullagura-MSFT commented on #90628
@chrishaslam
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-03-29 04:16] VikasPullagura-MSFT commented on #90628
@cherylmc
Can you please check and add your comments on this doc update request as applicable.

[2022-03-29 04:17] VikasPullagura-MSFT commented on #90644
@hisasima
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-03-29 04:17] VikasPullagura-MSFT commented on #90644
@cherylmc
Can you please check and add your comments on this doc update request as applicable.

[2022-03-29 04:20] 2929butakimchi commented on #90585
@AnuragSingh-MSFT , thank you very much for checking this. Understood that currently the review is on-going!

[2022-03-29 04:28] mike-urnun-msft commented on #90225
Hello @MartinWickman - I answered your questions below:

Both retry policies are separate and layer on top of each other. As result, the total number of retries multiply. You may review [this explanation](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-error-pages?tabs=csharp#using-retry-support-on-top-of-trigger-resilience) where it discusses the effect of runtime retry

[2022-03-29 04:36] #90579 closed

[2022-03-29 04:38] SnehaAgrawal-MSFT commented on #90579
@mugambiwarwema Thanks for bringing this to our attention. The PR has been created and will visible in document soon.
We will now close this issue.

[2022-03-29 04:43] SwathiDhanwada-MSFT commented on #90210
@Siby22071989 Requested change has been documented in [this document](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/view-quotas). Screenshot for your reference.

<img width="451" alt="image" src="https://user-images.githubusercontent.com/48976275/160534615-3d05d024-4af2-491e-8f11-0bc67209b7ca.png">

These changes will be available on the public documentation soon. We will clos

[2022-03-29 04:43] #90210 closed

[2022-03-29 04:47] kobulloc-MSFT commented on #90431
@krazy-glue It looks like the first 3 are back up again, while the last two are still down.  The links appear to be correct so this seems like a server issue.  I'll see what I can track down as this is outside of the docs.

[2022-03-29 04:50] shwetamathur7 commented on #90647
@christcottrell Thanks for your feedback. We will investigate and update the thread.

[2022-03-29 04:52] SwathiDhanwada-MSFT commented on #89848
@MSNina123456 We have not released the PowerShell support for the new API version(2021-06-22) or the flag – DisableLocalAuth.  Please use the Rest-API with api version - 2021-06-22 to update the flag.

As of now this flag is under the public preview, this feature should only work for the whitelisted subscriptions. If you would like  to use this feature, then kindly mail to Azcommunity@microsoft.co

[2022-03-29 05:17] CHEEKATLAPRADEEP-MSFT commented on #90451
@nathan-alexander-byu  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-03-29 05:17] #90451 closed

[2022-03-29 05:18] CHEEKATLAPRADEEP-MSFT commented on #90345
@VasanthiMudunuri This [document](https://docs.microsoft.com/en-us/azure/synapse-analytics/spark/apache-spark-manage-python-packages) helps to install packages on Sparks pools.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-03-29 05:18] #90345 closed

[2022-03-29 05:34] SwathiDhanwada-MSFT commented on #90235
@bwren Can you please review this and update document if necessary ?

[2022-03-29 05:54] MSNina123456 commented on #89848
so shall we need update our doc accordingly?

[2022-03-29 06:09] MayankBargali-MSFT commented on #90632
@wadepickett Thanks for reporting this item! @edvinkugelberg-ff have updated the doc and I will check with the content team for approval. Once the changes are approved it will be reflected in the document.

[2022-03-29 06:15] RunCai commented on #90581
@CloudCrusader , VM type is listed in the title, for instance [Create an Azure AMD-based confidential VM with ARM template (preview)]

should we add exact VM SKU in the title? There are four different types of confidential VMs, and @lauradolan has some concerns as it will be too long if we keep all VM SKU name in.

[2022-03-29 06:18] maspange opened #90649 "Windows Event Forwarding information"
Hi,

The AMA information section for Sentinel Windows Event Forwarding seems to be phrased incorrectly. It mentions "Windows Forwarding Event (WEF)" instead of "Windows Event Forwarding (WEF)".

Link: https://docs.microsoft.com/en-us/azure/azure-monitor/agents/azure-monitor-agent-overview?tabs=PowerShellWindows#supported-services-and-features

Thank you
---
#### Document Details

⚠ *Do not edit th

[2022-03-29 06:28] SumanthMarigowda commented on #90638
@AldoSaucedo Thanks for the question! We are investigating and will update you shortly.

[2022-03-29 06:37] SwathiDhanwada-MSFT commented on #89848
@MSNina123456 Yes, checking with product team on the same. Will keep you posted.

[2022-03-29 06:55] jszisanhi opened #90650 "Customer Managed Key (CMK) for Cognitive Service (LUIS)"
When you enable Customer Managed Key (CMK) for Cognitive Service (LUIS),
Do you have to allow all networks or add Azure Cognitive IP ranges on the Key Vault firewall to allow communication between the services. I have noted Cognitive Service (https://docs.microsoft.com/en-us/azure/key-vault/general/overview-vnet-service-endpoints#trusted-services) is not on the list of Trusted Services for Azure K

[2022-03-29 07:00] SwathiDhanwada-MSFT commented on #90649
@maspange Thanks for your comment. We will review the issue and get back to you shortly.

[2022-03-29 07:15] bmansheim commented on #86527
#reassign:@bmansheim

[2022-03-29 07:16] xps233 opened #90651 "Could you help confirm if Oracle Linux 8, could also reference this page"
Hi Team,

Reference this [Link](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/oracle-create-upload-vhd), it do has mentioned that Oracle 7.0+ could have the self-made VHD file upload to Azure, but due to the version differences, would you help confirm if the VHD file, running within Oracle 8.0. could reference this documents also, so as to have VM running in Azure.

Would much appr

[2022-03-29 07:19] GiftA-MSFT commented on #90415
@PAOLT quick follow-up. I was able to add the url source successfully. It was probably a glitch. Please try again, if the error persists please submit feedback using the smiley icon at the top.

[2022-03-29 07:20] ElazarK commented on #86550
#label:assign-to-author

[2022-03-29 07:21] GiftA-MSFT commented on #90297
Following up on above request so I can assign this issue to appropriate team. Thanks.

[2022-03-29 07:21] ElazarK commented on #86550
#label:assigned-to-author

[2022-03-29 07:27] bmansheim commented on #86550
#label:"assigned-to-author"

[2022-03-29 07:37] naokitakeda14 opened #90654 "The Effect of Vnet case for Azure Database for PostgreSQL - Flexible Server"
[Enter feedback here]
Does it also have any issues for applying CanNotDelete to Vnet?
Because considering what the public document says below.

===excerpt===
Applying a lock of either type against Private DNS Zone or individual record set may interfere with ability of Azure Database for PostgreSQL - Flexible Server service to update DNS records and cause issues during important operations on DNS,

[2022-03-29 07:38] gjoshevski opened #90655 "Pod-managed identities (preview), is replaced with Azure AD Workload Identity"
The section Use Pod-managed Identities in the [Best practices for managing identity - Azure Kubernetes Service](https://docs.microsoft.com/en-us/azure/aks/operator-best-practices-identity) needs to be updated to reflect the latest guidelines since the introduction of [Azure AD Workload Identity](https://github.com/Azure/AKS/issues/1480)

---
#### Document Details

⚠ *Do not edit this section. It i

[2022-03-29 07:45] AnuragSharma-MSFT commented on #90395
@ravriel Thank your for reporting this. I was able to reproduce this issue. I am checking internally with team and will get back to you.

[2022-03-29 07:46] AnuragSharma-MSFT commented on #90577
@miqm Awaiting your response on this.

[2022-03-29 07:48] sidprasher commented on #90480
Thanks Pam for the confirmation. I think it might be useful for others if that note is also added to the text.

[2022-03-29 07:48] rolyon commented on #88795
Hi @svartanian
Let us know if you have any additional feedback.
thanks

[2022-03-29 07:48] rolyon commented on #88795
#please-close

[2022-03-29 07:48] #88795 closed

[2022-03-29 08:10] rolyon commented on #88476
Hi @mpellizzon
Thanks for your feedback. I checked with the team and confirmed that you do need the Network Contributor role to read and write NSG rules. They are also checking into the Contributor role. Depending on their research, we'll update the docs as needed.
Let us know if you have any additional feedback.
thanks

[2022-03-29 08:10] rolyon commented on #88476
#please-close

[2022-03-29 08:10] #88476 closed

[2022-03-29 08:12] jeremy-donson commented on #90525
Please differentiate the word sync from the word sink.
- We sync data, as in synchronize.
- _We do not sink data._

This is not really a matter of debate.

You might look up these words in the standard English dictionary to ensure that you are using English properly.
Acting like you can ignore standard English is a ruse.

_No other cloud vendor makes this error.  Defending errors is a microsoft tr

[2022-03-29 08:21] ram-msft commented on #90650
@jszisanhi Thanks for the question. We are investigating the issue and will update you shortly.

[2022-03-29 08:26] jeremy-donson commented on #90525
This is accurate.
https://wikidiff.com/sink/sync.

Do you contest this information?  :)

Also, are you calling the work "sink" a noun or a verb?

[2022-03-29 08:31] cveld commented on #90196
@AnuragSharma-MSFT  Can you confirm that there are currently no means to inspect the current quota?

[2022-03-29 08:32] miqm commented on #90577
@AnuragSharma-MSFT I was referring to the pricing page: https://azure.microsoft.com/en-gb/pricing/details/mysql/flexible-server/
![image](https://user-images.githubusercontent.com/7921224/160568453-012a8817-e8dc-4f9d-a99c-058fcfca12bc.png)

However, after closer look it seems that `Basic` on pricing is `Standard_B1s`. Not sure if you can pass this to whomever is taking care of pricing pages to ali

[2022-03-29 08:34] Givary commented on #90594
@lightupdifire Thank you for reaching out to us. Regarding your query i see Device State (deprecated) will be deprecated soon, as we have come up with below option ( screenshot for reference ) for more granular settings for devices, This control allows targeting specific devices based on their attributes in a policy.

![image](https://user-images.githubusercontent.com/96041973/160569054-5506fdd2-6

[2022-03-29 08:41] SreejaBhattacharya-MSFT commented on #90651
Hi @xps233 , thanks for reaching out. I will check this and get back to you.

[2022-03-29 08:42] SadiqhAhmed-MSFT commented on #90470
@VigilanteWang Have you had a chance to see previous response from pvrk?
Please clarify your ask.

[2022-03-29 08:44] ElazarK commented on #86550
@alana257 You are correct that the link leads to the wrong place in the documentation. We are working to fix this issue.

[2022-03-29 08:50] dgpoulet opened #90656 "Update page for 4.2 release"
The list of supported API versions goes up to version 4.0 but version 4.2 is GA now.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 958fb2c2-c1b8-5a1b-09db-8f255bf07778
* Version Independent ID: 5bf25011-d90e-8e9c-e330-7952cf0c71b0
* Content: [Introduction to Azure Cosmos DB API for MongoDB](https://docs.microsoft.com/

[2022-03-29 08:52] lightupdifire commented on #90594
@Givary
Not sure if understood. According to this:
https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/concept-conditional-access-conditions
![image](https://user-images.githubusercontent.com/39700914/160572819-82721e81-7131-46b3-8fbb-d957093cff99.png)
We must use "Filter for devices", I don't see "Device state" in my selection at all when creating policy, I'm using only the

[2022-03-29 09:03] ElazarK commented on #86550
@alana257 the link is in the process of being corrected and will link to the right place in the next few days. Thank you for bringing this to our attention.

[2022-03-29 09:03] ElazarK commented on #86550
#please-close

[2022-03-29 09:03] #86550 closed

[2022-03-29 09:16] chez-charlie commented on #90023
#please-close

[2022-03-29 09:16] #90023 closed

[2022-03-29 09:20] AnuragSharma-MSFT commented on #90196
@cveld One way is to use the Rest APIs as mentioned in the below document. It will return the current value and the limit based on region.

[Subscription Usages - Get](https://docs.microsoft.com/en-us/rest/api/sql/2021-02-01-preview/subscription-usages/get)

[2022-03-29 09:27] KrishnaG-MSFT commented on #90642
@Bei-He We have verified and updated the document as required. The update will go live shortly i.e., in less than 24 hours. Thanks again!

[2022-03-29 09:27] #90642 closed

[2022-03-29 09:41] ShaikMaheer-MSFT commented on #90636
@billzCFGH From error message it seems below path is missing. Kindly check it once.
C:\Users\me\Documents\myp12file.p12

Please Note, GitHub forum is dedicated for docs related issues. For any technical queries or clarifications, we encourage to utilise Microsoft Q & A platform. Kindly raise your query on [Microsoft Q&A Platform](https://docs.microsoft.com/en-us/answers/index.html)

[2022-03-29 09:47] wukun2015 opened #90657 "Azure Speech-To-Text service doc: 3 regions are missed in doc"
Hello Speech documentation team,

The [speech-to-text service region list doc](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/regions#speech-to-text-text-to-speech-and-translation) does not contain below three regions, which users can create service on like below snapshot:
<img width="418" alt="snapshot" src="https://user-images.githubusercontent.com/13058007/160583790-b2

[2022-03-29 09:55] ShaikMaheer-MSFT commented on #90641
@koichino Could you please try to reach Azure support team on this by creating support ticket? Hope that way we can get more insights on this. Thank you.

[2022-03-29 10:17] RohitMungi-MSFT commented on #90657
@wukun2015 Thanks for spotting this. I believe this is covered under Azure docs china [documentation ](https://docs.azure.cn/zh-cn/cognitive-services/speech-service/regions)but chinanorth still seems to be missing.

@eric-urban Do we need to add the above regions as supported in Azure Global  docs?

[2022-03-29 10:17] GitaraniSharma-MSFT commented on #89922
@saiKrish13 , the Azure VPN Product Group has confirmed the below:

**We support packet capture for route-based gateways (including Basic).**

They are checking to see why the capture option is not showing up in portal and will work on the same or update the doc accordingly post investigation.

In the meantime, you can use Azure PowerShell/CLI to perform packet capture on the legacy SKU VPN gatewa

[2022-03-29 10:17] #89922 closed

[2022-03-29 10:23] slavizh commented on #90377
@GitaraniSharma-MSFT I am not sure what do you mean not supported. You can see those configured via diagnostic settings (attached settings). If those are no longer send there should be official announcement for those who already have configured those. Additionally there could be customers using those logs when they were previously available in alerts and their alerts will no longer work. Also any

[2022-03-29 10:24] sdblepas opened #90658 "must add the cluster state"
The cluster state must be running to do so.
In a stopped state you can not Update or rotate the credentials for Azure Kubernetes Service

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b842222-f6ac-5266-227f-7e400610e07b
* Version Independent ID: 429cd3bf-2691-f633-2e0d-e70e5d8d0e03
* Content: [Reset the credentials fo

[2022-03-29 10:28] SreejaBhattacharya-MSFT commented on #90448
@harrchen88 try with this https://{tenant name}.onmicrosoft.com/{app registration name} , and let me know if it works.

[2022-03-29 10:30] EmiFlo opened #90659 "A vulnerability assessment solution should be enabled on your virtual machines but policy does not target vmss"
Hello,
If my understanding is correct, this page lists policies applicable to scalesets, however the policy linked for vulnerability assessment for example targets only virtual machine and so does not apply to scaleset.
Is it an error in the policy, the docs, or my understanding ? :)
Thanks !

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2022-03-29 10:46] gabr1elt-arc commented on #83932
Functions running in containers seem to ignore the disable setting. Is there any setting that can fix this?

[2022-03-29 10:47] Sarchia opened #90660 "Language codes for Kurdish (Central and Northern)"
In Unicode and most internet projects, such as Wikipedia, the "ku" code is used for Northern Kurdish (Kurmanji) and "ckb" is used for Central Kurdish (Sorani).

Microsoft used "ku" for Central Kurdish and "kmr" for Northern Kurdish. This is a big problem and must be solved in all Microsoft Products.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2022-03-29 10:49] GitaraniSharma-MSFT commented on #90377
@slavizh , For Standard Load balancer, you no longer get diagnostic logs, all metrics are under monitor.

![image](https://user-images.githubusercontent.com/67630903/160594567-1c85d440-10f1-4882-8d0a-6f5acd1d8132.png)

The diagnostic logs were removed in the distant past. I couldn't find any official announcement but I'm checking regarding the same and will keep you updated.

Also the already enab

[2022-03-29 10:52] wukun2015 commented on #90657
Hello @RohitMungi-MSFT ,

i'd suggest fix global doc because it is on one of doc journey paths directing customers of those regions. E.g.

- Stop1: https://www.azure.cn/ to search speech product in China.
- Stop2-A: https://azure.microsoft.com/en-us/services/cognitive-services/speech-services/, this is directed by cognitive service product link in home page of Stop 1.
- Stop2-B: https://docs.micro

[2022-03-29 10:54] slavizh commented on #90377
I am pretty sure no official announcement has been done. Also if you can still configure those via code it is deceiving as only trough portal you cannot configure them and with code you will think that everything is working fine but it is not.

[2022-03-29 10:56] GitaraniSharma-MSFT commented on #90377
@slavizh , I've reached out to the Product Group team for an update on the same. Will keep you posted. Thank you!

[2022-03-29 10:58] phatcher opened #90661 "Service Endpoints on subnets when using private link"
Do I need to still enable service endpoints on a subnet when I am communicating to the target services via private links e.g. say a web app talking to it's associated key vault and a SQL Server

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1eb0407d-f4a5-6059-488d-fd082915c675
* Version Independent ID: 7c2fb429-743c-ae