[2022-03-21 22:47] seanmudbath opened #90180 "Content out of date"
Images and steps in this document do not match the current steps in the process

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7815e9ed-fdb1-b826-12a0-2feb9f0d452d
* Version Independent ID: 514f9447-5fb5-7815-eae8-ff4dc431f1f4
* Content: [Send alerts from Azure Application Insights - Azure Monitor](https://docs.microso

[2022-03-21 22:50] GeethaThatipatri-MSFT commented on #90177
Hi @ladydanes Thanks for reaching out, We will Investigate and update you shortly.

[2022-03-21 22:53] schen213 commented on #90176
I confirmed that both formats should work according to the docs for Crontab for .NET, but if I change to a 5 field format the function will not run in the Azure portal. The function does work locally using the 5 field format, just not when published and attempting the "Run/Test" function in the portal.

[2022-03-21 22:54] ChaitanyaNaykodi-MSFT commented on #90013
Hello @jmalouf69, We will now close this issue out. Please tag me in your response if you have any additional questions. Thank you!

[2022-03-21 22:54] #90013 closed

[2022-03-21 22:56] bwren commented on #75233
Apologies for the extreme delay in this. Taking care of some backlogged items here.  This shouldn't refer to the ConfigMap file, so I'll remove that. This is specifying that you should ensure that the job configuration specifies that jobs are to be autocleaned.

#please-close

[2022-03-21 22:56] #75233 closed

[2022-03-21 23:06] SatishBoddu-MSFT commented on #90080
Hello @ziaddiab-globaldws

As you connect a device to IoT Central, it goes through the following stages: registered, provisioned, and connected.
You only need to **register a device once** in your IoT Central application. When a device first tries to connect to your IoT Central application, it starts the process by connecting to the Device Provisioning Service (DPS). DPS checks the device's creden

[2022-03-21 23:28] drmiru opened #90182 "With private endpoint enabled, egress is using public IP of APIM"
Enabling private endpoint disables the vnet integration feature. Egress requests from API management are routed via the public IP address, where I'd expect the private endpoint's IP to be the source for egress traffic towards a private web app or private Azure Function.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3

[2022-03-21 23:54] YutongTie-MSFT commented on #90179
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-03-21 23:55] mazgi opened #90183 "[application-gateway/ingress-controller-overview] Please add a link for azure.github.io/application-gateway-kubernetes-ingress"
Please add a link for https://azure.github.io/application-gateway-kubernetes-ingress/ in this AGIC overview page or another page.

I couldn't find any link for `azure.github.io/application-gateway-kubernetes-ingress` in `https://docs.microsoft.com/`.
So, it seems Azure users cannot reach `azure.github.io/application-gateway-kubernetes-ingress` from `https://docs.microsoft.com/`.

`azure.github.io/

[2022-03-22 00:07] #90179 closed

[2022-03-22 00:09] YutongTie-MSFT commented on #90179
I have updated the document, thank you for your PR again, I am sorry I can not merge it for some permission issue. But it's really helpful!
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2022-03-22 00:13] SatishBoddu-MSFT commented on #90164
@AlanPintor-git
Please visit the [azure-iot-sdk-csharp SDK page](https://github.com/Azure/azure-iot-sdk-csharp/issues) to log or report any issues With SDK. Please add more details to your report while you submit the issue on SDK page! (What you were trying to do? What error encountered? Any Error screenshots? Any Logs?)

![image](https://user-images.githubusercontent.com/62923178/159382695-7fcf5e

[2022-03-22 00:13] GiftA-MSFT commented on #90140
@cybersmithio we'll review your feedback and get back to you shortly. Thanks.

[2022-03-22 00:14] GiftA-MSFT commented on #90142
@haripraghash we'll review your feedback and get back to you shortly. Thanks.

[2022-03-22 00:16] GiftA-MSFT commented on #90143
@boris-tarasov-maersk we'll review your feedback and get back to you shortly. Thanks.

[2022-03-22 00:17] GiftA-MSFT commented on #90154
@SPea-1 we'll review your feedback and get back to you shortly. Thanks.

[2022-03-22 00:23] GovindKrishnan commented on #90179
@YutongTie-MSFT It's not modified yet. Kindly reopen this issue. Merging my PR #90181 can resolve this. Thanks!

[2022-03-22 00:35] YutongTie-MSFT commented on #90179
@GovindKrishnan Hello, it has been fixed but there is a delay to be alive...
![image](https://user-images.githubusercontent.com/38084098/159384808-fb86dbbd-cdae-41b4-acc3-4da01901556e.png)

Thanks again.

[2022-03-22 00:37] YutongTie-MSFT commented on #90179
@GovindKrishnan Please let me know if I missed anything.

[2022-03-22 00:42] GovindKrishnan commented on #90179
Seems Good! Also, the same typo appears in `articles/machine-learning/how-to-enable-studio-virtual-network.md`

Please fix that as well

[2022-03-22 00:45] MonikaReddy-MSFT commented on #90180
@seanmudbath  - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2022-03-22 00:46] kobulloc-MSFT commented on #89943
@mathiaskvist AKS does not offer official support for integration with FastAPI so there's nothing we can do from a documentation standpoint.  There are a couple examples online that you can reference:

- https://github.com/gbourniq/aks_demo
- https://docs.microsoft.com/en-us/answers/questions/467642/no-response-from-api-for-long-running-jobs-in-aci.html

For additional troubleshooting you can try

[2022-03-22 00:46] #89943 closed

[2022-03-22 00:46] MonikaReddy-MSFT commented on #90167
@timwarner-msft - Thanks for raising the PR.
@bubbletroubles  - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-03-22 00:46] #90167 closed

[2022-03-22 00:50] spelluru commented on #88917
@robece @jfggdl - please help with answering these questions and I will update the documentation. Thanks.

[2022-03-22 00:58] apeguy opened #90186 "Confusing on "SMS-based authentication isn't currently compatible with Azure AD Multi-Factor Authentication.""
**"SMS-based authentication isn't currently compatible with Azure AD Multi-Factor Authentication."**

I think the statement above creates some confusion.  it seems like, the SMS (text message) option can be enabled for the user(s) to enroll and select as an MFA option to authenticate azure portal or an app.

is it meant to state that the SMS as an MFA option is not secure/recommended during authen

[2022-03-22 00:58] martinemde commented on #88548
On the user-side, I ended up discovering that it was required to enable the token store in order to receive the access token headers. This wasn't documented anywhere that I found, but I think it was mentioned in a stack overflow for a different auth provider (maybe twitter?), and I decided to try it. It was a few weeks ago so I don't remember perfectly.

[2022-03-22 01:01] mazgi opened #90187 "[application-gateway/ingress-controller-annotations] Please update the annotation list or add a link for azure.github.io/application-gateway-kubernetes-ingress/annotations"
https://azure.github.io/application-gateway-kubernetes-ingress/annotations/ lists many annotations as follows.
<img width="200" alt="image" src="https://user-images.githubusercontent.com/194222/159385906-75ee35b0-046b-4216-bb9f-7a069543b62a.png">

However, https://docs.microsoft.com/en-us/azure/application-gateway/ingress-controller-annotations#list-of-supported-annotations has fewer than the abov

[2022-03-22 01:01] kobulloc-MSFT commented on #90165
@sedwardstx Thank you for bringing this to our attention!  We will review the documentation and get back to you shortly.

[2022-03-22 01:06] #90026 closed

[2022-03-22 01:45] erroltuparker opened #90188 "Script is no longer being maintained"
The script mentioned in this article is no longer being maintained and also uses an old module (AzureRM). There is a pull request on the script to be updated to the latest module (Az) pending since 2020.

Can this script be forked under the Microsoft repos so that the script can then be maintained by the community?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2022-03-22 02:22] YueSheng6 commented on #90051
Yes, 1-100 will change the volume. But "0" is equal to "100". Shall the description in the document be changed?

[2022-03-22 02:31] mike-urnun-msft commented on #89855
Hello @MrMeterPing - Thanks again for sharing your feedback and helping us drive improvements towards MS Docs! I've created a PR that updates the names of the attributes to correct ones, and the changes will be live within the next 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-03-22 02:31] #89855 closed

[2022-03-22 02:33] likebupt commented on #88726
Hi @richardvlas , sorry for the inconvenience caused.
In order to maintain proper lineage and reproducibility, we introduce tombstoning for deleted components and other assets including dataset/model/env, etc. If you delete a component with specific name+version, you cannot create a new one with the same name+version, but you should be able to create same name and different version.
This will prev

[2022-03-22 02:41] leonard520 commented on #89925
The Service Registry supported in Basic Tier is the open-source version.
And what you see in [Enterprise Tier](https://docs.microsoft.com/en-us/azure/spring-cloud/how-to-enterprise-service-registry) is the commercial version.
[code]

[2022-03-22 03:20] ziaddiab-globaldws commented on #90080
This is excellent, thank you @SatishBoddu-MSFT.
One last question:
Does IoT .Net SDK support .NET framework 4.7 or lower? We are getting MQTT transport exception on version 4.7 and the same code is working fine with .NET CORE

[2022-03-22 03:22] CHEEKATLAPRADEEP-MSFT commented on #90104
@minnieshi High Concurrency clusters are intended for use by multiple users, sharing the cluster resources, and isolating every notebook, etc. For all mentioned languages, separate processes are created and they execute the code that is limited to API exposed by Spark to that language. But Scala code will be executed inside the Spark JVM (per machine) that is shared between all users, so you can g

[2022-03-22 03:22] #90104 closed

[2022-03-22 03:57] SatishBoddu-MSFT commented on #90080
Hello @ziaddiab-globaldws ,
I quickly tested, with a sample from C# , I hope this helps!

![image](https://user-images.githubusercontent.com/62923178/159404768-8b52faf8-6378-4935-851a-29b783898b91.png)

![image](https://user-images.githubusercontent.com/62923178/159404850-9ed4c6b8-7d4a-46e4-878b-94a70e66cc92.png)

Happy to help you further!

Please let us know if we can close this issue!

[2022-03-22 04:05] SwathiDhanwada-MSFT commented on #90188
@erroltuparker Thanks for your comment. We will review the issue and get back to you shortly.

[2022-03-22 04:14] ziaddiab-globaldws commented on #90080
Thank you @SatishBoddu-MSFT , you can close the ticket.
Your help is greatly appreciated

[2022-03-22 04:31] SnehaAgrawal-MSFT commented on #89847
@boris-tarasov-maersk
Thanks, We will now proceed to close this thread. Sure, will internally reach-out to assignee.  If there are further questions regarding this matter, please let us know.

[2022-03-22 04:31] #89847 closed

[2022-03-22 04:49] SatishBoddu-MSFT commented on #90080
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

[2022-03-22 04:49] #90080 closed

[2022-03-22 04:52] GitaraniSharma-MSFT commented on #90183
@mazgi , thank you for the feedback. We'll review this and get back to you shortly!

[2022-03-22 04:52] GitaraniSharma-MSFT commented on #90187
@mazgi , thank you for the feedback. We'll review this and get back to you shortly!

[2022-03-22 05:13] amanmcse commented on #90186
@apeguy Thank you for your feedback. We will investigate and update the thread further.

[2022-03-22 05:18] Dedme opened #90189 "Login Hint description inconsistent. loginHint vs login_hint"
[Enter feedback here]
Text for login hint uses both loginHint and login_hint.
![image](https://user-images.githubusercontent.com/40647185/159412941-1f4c916b-cd7e-40ec-9636-a6641457aec9.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39418791-b741-b97c-f15d-8309f5576bad
* Version Independent ID: 8801c50e-b3ec-5f3b-d

[2022-03-22 05:23] MayankBargali-MSFT commented on #89397
@bartlannoeye Hope the above helps and clears things up. I will work with @ggailey777 on how best we can update this information on [EventGrid trigger document](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-event-grid?tabs=in-process%2Cextensionv3&pivots=programming-language-csharp)
We will now proceed to close this thread. If there are further questions regarding this

[2022-03-22 05:23] #89397 closed

[2022-03-22 05:37] CHEEKATLAPRADEEP-MSFT commented on #90064
Duplicate of #90064

[2022-03-22 05:38] CHEEKATLAPRADEEP-MSFT commented on #90100
Duplicate of #90064

[2022-03-22 05:38] #90100 closed

[2022-03-22 05:38] CHEEKATLAPRADEEP-MSFT commented on #90101
Duplicate of #90064

[2022-03-22 05:38] #90101 closed

[2022-03-22 05:46] yangyuantianming commented on #89078
The default logging level is `INFO`, but the entry script use `logger.debug`. So the content won't show up.
To quick fix this issue, you can use `logger.info` in the entry script.
Will update the documentation.

[2022-03-22 05:50] VikasPullagura-MSFT commented on #89112
@festivus Apologies in delayed response on this.

As far as thread safe, a stateless service can handle multiple calls simultaneously. So 10 simultaneous calls into stateless 1 would all use the same service proxy to call stateless2, is that safe?

[2022-03-22 05:51] SadiqhAhmed-MSFT commented on #89911
@paulbaber Closing this issue for now as no action pending on us. We shall update the document once the support is enabled for Windows Server 2022.

[2022-03-22 05:51] #89911 closed

[2022-03-22 05:57] mike-urnun-msft commented on #90058
Hello @dariuszbz - You're probably missing the Logic Apps extension in your Visual Studio. Try installing the [Azure Logic Apps Tools for Visual Studio 2019](https://marketplace.visualstudio.com/items?itemName=VinaySinghMSFT.AzureLogicAppsToolsForVS2019) extension by following the steps listed [here].(https://docs.microsoft.com/en-us/visualstudio/ide/finding-and-using-visual-studio-extensions?mscl

[2022-03-22 06:26] SGSneha commented on #89602
@MonikaReddy-MSFT - The query is investigated by the Engg team. Will update soon.

[2022-03-22 06:38] SadiqhAhmed-MSFT commented on #90020
@Sharmistha-Rai Your comments please.

[2022-03-22 06:38] SadiqhAhmed-MSFT commented on #90016
@Sharmistha-Rai Your comments please.

[2022-03-22 06:38] hiaga commented on #89892
**Update** -  we aren't getting any response from service for the get-container for SQL AG and hence the command is resulting an error.  We need to investigate with backend why our get container isn't returning anything.

I'll add some changes in next PS version onwards where the command will succeed even if we don't get any container for SQL AG, so that the command doesn't fail

@GrzegorzHejman

[2022-03-22 06:39] SadiqhAhmed-MSFT commented on #89892
@GrzegorzHejman This is still being investigated.
In the meanwhile if you are just interested in Protectable items - you can use older Az.RecoveryServices module 4.7.0.

[2022-03-22 06:40] Sharmistha-Rai commented on #90016
@TiloGit - ack on the documentation issue. I will get this updated today. Thanks for finding this!

[2022-03-22 06:56] eyoh5 opened #90193 "Need to register AllowGlobalTagsForStorage both subscriptions if storage account and VNET located in different subs."
[Enter feedback here]
On the following section, there is no mention of needs for registering the 'AllowGlobalTagsForStorage' feature on both subscriptions when storage account and VNET locate in different subscription.
https://docs.microsoft.com/en-us/azure/storage/common/storage-network-security?tabs=azure-powershell#enabling-access-to-virtual-networks-in-other-regions-preview

When I test this f

[2022-03-22 07:05] madsd commented on #45511
The change has been added: https://docs.microsoft.com/azure/app-service/app-service-ip-restrictions#permissions
#please-close

[2022-03-22 07:05] #45511 closed

[2022-03-22 07:05] madsd commented on #46127
#please-close

[2022-03-22 07:05] #46127 closed

[2022-03-22 07:43] #88844 closed

[2022-03-22 07:44] Sharmistha-Rai commented on #90020
@TiloGit - have made the edits to add a link to the passphrase generation section. It should be live in a couple of hours.

[2022-03-22 07:57] asaphn opened #90195 "Extension Name Is Wrong"
The extension name (listed as "OMSExtension" or "<parentVmResource>/OMSExtension") is wrong, the service is unable to deploy with this name, the correct name is MicrosoftMonitoringAgent or <parentVmResource>/MicrosoftMonitoringAgent.
Source - I compared a failed request with an arm template vs a successful one with Powershell using Kusto Explorer on ARMprod

---
#### Document Details

⚠ *Do not ed

[2022-03-22 08:09] devlanfear commented on #90114
Thanks, it works now!

Does speakers recognition work now (if speakers' voices were not pre-created)?
I did set: speechConfig.setProperty(SpeechSDK.PropertyId.DifferentiateGuestSpeakers,"true");

Found an issue on SOW that doesn't work: https://stackoverflow.com/questions/67782596/azure-diarization-speaker-separation-not-working

[2022-03-22 08:15] devlanfear commented on #90114
Sorry for false alarm.

This worked: speechConfig.setProperty("DifferentiateGuestSpeakers", "true");
for speakers recognition

Thank you for help!

[2022-03-22 08:25] VikasPullagura-MSFT commented on #90195
@asaphn Thanks for reporting this, we will check and update the document accordingly.

[2022-03-22 08:43] Strazil001 commented on #84727
Is there any news on this topic?

[2022-03-22 08:50] cveld opened #90196 "Where to find the current quotas"
Where can we find the current SQL Server related quotas?
In the subscription usage & quotas blade we can't find it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 47e65063-71ce-f74b-9df4-7b93d5fc77c1
* Version Independent ID: 3f606c79-fe27-719a-0324-d8c4f407eee9
* Content: [Request a quota increase - Azure SQL Database

[2022-03-22 10:18] euchungmsft commented on #62192
Dear @TravisCragg-MSFT

Is there any updates since 15 Sep 2020 ?

[2022-03-22 10:18] manekinekko commented on #89734
Thank you @mcclda.

Hey @diberry, it looks like we are missing the `npm install` step. I've opened a PR that fixes that.

[2022-03-22 10:24] AnuragSharma-MSFT commented on #90196
@cveld Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-03-22 10:41] gsuttie opened #90199 "Better explanation"
[Enter feedback here]
I feel that this page is pretty confusing and the samples are pretty vague - a more in-depth explanation and scenarios would be welcome. Like the name of the role definition as a guide using resourcegroup().id

This could do with a much better explanation of what is going on here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2022-03-22 10:45] amanmcse commented on #90115
@byguo2018  I have included links to the required documents to understand the statement.

If you have [Configured user consent](https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/configure-user-consent?tabs=azure-portal) settings to allow standard users to consent and also configured [App role assignment](https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/assign-u

[2022-03-22 10:49] cveld opened #90201 "Password refresh process"
We are currently having Azure file shares based on user AD objects as well as computer AD objects.

Are both types of objects automatically refreshed by the Azure Files service?

At least for computer objects I see that normally the computer owning the AD object is refreshing the password during net logon:
https://adsecurity.org/?p=280

So what is the behavior of Azure Files? Will it update the pa

[2022-03-22 11:08] VikasPullagura-MSFT commented on #89997
@mtwelve Apologies for delayed response on this.

A certificate will be created on each logon for a user.
Example: If you have 1000 users and all of them logon once a day, then 1000 certificates will get created.
If they logon twice a day 2000 certificates will get created.

Hope that helps.

[2022-03-22 11:08] Klaas- opened #90202 "GlusterFS EOL"
Hi,
my understanding is that glusterfs on rhel is no strategic product anymore. It's being phased out and EOL is 2024. Maybe note this in the glusterfs docs so that no one creates a solution based on a product that is already sunsetted.

Refs:
https://access.redhat.com/support/policy/updates/rhs

Greetings
Klaas

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2022-03-22 11:17] Chanito-Me opened #90204 "Pertinent, exciting for my planned outcome, impossible for a not Teck savvy retired Teacher.."
Pertinent, exciting for my planned outcome, impossible for a not Teck savvy retired Teacher..ThANKS AND GOOD LUCK. THE PRESENT IDEALISTS NEED YOUR DEVELOPPERS. THEY WILL LEAD KIDS INTO A BETTER FUTURE. O

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e85be67f-8375-6229-18aa-d687463991f9
* Version Independent ID: c49477

[2022-03-22 11:18] vvamaraju opened #90205 "Over the page, kindly include that, Trusted Azure services config replication to secondary is not allowed when Geo-DR is enabled"
I understood that Trusted Azure services configuration will not be replicated to secondary when Geo-DR is enabled.
Kindly include the same over the page.
-
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f80f9ca1-70ba-8d90-384f-b08f495ff608
* Version Independent ID: 40fb8fb4-6e2e-2fd5-ffa9-e5cc051513f6
* Content: [Azure Serv

[2022-03-22 11:20] RoyKM commented on #89871
I'm getting a different problem now.  I tried to follow the instructions in https://docs.microsoft.com/en-us/learn/modules/explore-provision-deploy-non-relational-data-services-azure/6-exercise-azure-storage?ns-enrollment-type=learningpath&ns-enrollment-id=learn.wwl.azure-data-fundamentals-explore-non-relational-data, but it's not allowing me to enter "Concierge Subscription".  It looks like all t

[2022-03-22 11:25] goenning opened #90206 "It's unclear how AFD treats new backends in relation to its health checks"
For an existing AFD with a health setup of sample size of 4, 2 successful samples required and 30s interval, it takes at least 1 minute to determine its health state.

When we modify this resource to add a new backend (with priority 1) and modifying the existing backend (to lower its priority to 2), what is the Health State for both the new and existing backends during that minute? Considering tha

[2022-03-22 11:32] amanmcse commented on #90186
@apeguy When you use username/password for first-factor authentication, you can configure/require second-factor authentication using **Phone Call/SMS/Authenticator App**, to provide multi-factor authentication.

To understand this statement, think of SMS-based authentication as first-factor authentication. When you use SMS-based authentication, you cannot use second-factor authentication. Hence, i

[2022-03-22 11:46] pieterlukasse commented on #30693
hi @Zimmergren, did you find a solution for this?

[2022-03-22 11:56] SwathiDhanwada-MSFT commented on #90199
@gsuttie Thanks for your comment. We will review the issue and get back to you shortly.

[2022-03-22 11:59] DrReedo opened #90208 "What's the difference between @base64ToString and @decodeBase64?"
They both seem to decode the 64-base encoded string.  Are there any differences?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03aa9e88-7fa0-56ab-f794-58f0c37b6d7a
* Version Independent ID: 25c5ef5c-6ba4-f5ff-f94b-8f2818ec2feb
* Content: [Reference guide for expression functions - Azure Logic Apps](https://docs.micros

[2022-03-22 12:14] RBVieira opened #90209 "The text is correct?"
Guys,

(https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-cosmosdb-v2-trigger?tabs=in-process%2Cextensionv4&pivots=programming-language-csharp)

This page is talking about Azure Cosmos DB trigger but in the following text the service Event Grid is mentioned suddenly. Is there something that I did not get in text or the name of event grid was put in the place of cosmos db ac

[2022-03-22 12:47] Siby22071989 commented on #81994
@SwathiDhanwada-MSFT : This is not yet resolved. I do not see a statement in the document stating that there is no cost associated with unutilized quota

[2022-03-22 12:49] Siby22071989 opened #90210 "https://github.com/MicrosoftDocs/azure-docs/issues/81994 NOT IMPLEMENTED"
Can you please add a feedback stating that there is no cost associated with increasing quota only cost associated with utilizing the same. I have been getting a lot of partner requests stating if there is a price associated with quota increase. A one liner should provide clarification on the same

I created a previous issue # https://github.com/MicrosoftDocs/azure-docs/issues/81994 which stated th

[2022-03-22 12:56] bwren commented on #88452
Sorry for delayed response. I think these should answer your questions. Supported Kubernetes versions are explained here - https://docs.microsoft.com/en-us/azure/aks/supported-kubernetes-versions?tabs=azure-cli. There's a command in here that should give you version of the oms agent - https://docs.microsoft.com/en-us/azure/azure-monitor/containers/container-insights-manage-agent#how-to-upgrade-the

[2022-03-22 12:56] #88452 closed

[2022-03-22 13:09] kamilzzz opened #90211 "What is the reason behind configuring custom domain for Azure AD"
Why would I have to assign a custom domain for Azure AD (not Azure AD B2C) tenant in this scenario?

Later on we're configuring custom domain on Azure Front Door and I cannot see where Azure AD custom domain is used.
I've managed to configure it following docs and it's working fine. But I started wondering why are we assigning custom domain for Azure AD tenant, I deleted custom domain there and it

[2022-03-22 13:15] kamilzzz commented on #90211
Nevermind. It needed some time for propagation and custom domain for Azure AD is indeed needed.

[2022-03-22 13:19] tasb opened #90212 "Max Surge value related with node count"
Regarding max surge value, there is this phrase on the doc:

"If the max surge value is lower than the current node count at the time of upgrade, the current node count is used for the max surge value."

I think that should be changed to "If the max surge value is **_higher_** than the current node count at the time of upgrade, the current node count is used for the max surge value."

Having a max

[2022-03-22 13:25] bonen commented on #90114
Hello, would this also work if you get the audio in real-time from the Microphone (AudioConfig.fromDefaultMicrophoneInput)?

`
let speechConfig = SpeechSDK.SpeechConfig.fromSubscription('key','region');
speechConfig.differentiateGuestSpeakers = true;
speechConfig.setProperty('TranscriptionService_SingleChannel', true);
let audioConfig = SpeechSDK.AudioConfig.fromDefaultMicrophoneInput();
let conve

[2022-03-22 13:41] spggooss commented on #39037
I'm having the same problem, i regenerated the client secret 10 times but keep getting
`Invalid client secret provided. Ensure the secret being sent in the request is the client secret value, not the client secret ID, for a secret added to app`

Then i found this issue, looks like its still relevant, because no matter how many times i recreate a secret, it always contains a ~ character. I'm creati

[2022-03-22 13:41] mkumaramsft opened #90214 "Incorrect statement on increasing partition count"
CX shared the below feedback on the statement mentioned in the article.
![image](https://user-images.githubusercontent.com/95652148/159494687-02f9168d-7965-4964-a4c1-21402251dace.png)

The number of partitions is specified at creation and must be between 1 and 32. **The partition count isn't changeable in all tiers except the [dedicated tier]**(https://docs.microsoft.com/en-us/azure/event-hubs/eve

[2022-03-22 13:42] #89112 closed

[2022-03-22 13:48] nagendramishr commented on #90172
The url has in it  {functionname}  or similar... you must replace that with the name of the actual function..

From: Mike Urnun ***@***.***>
Sent: Monday, March 21, 2022 6:39 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Nagendra Mishr ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] missing directions (Issue #90172)

Hello @nagendramishr<https://nam06.safelinks.protec

[2022-03-22 13:53] rwb196884 opened #90215 "Cannot add IP for azuresigntool beause there is no Access Restrictions thing under Networking"
There is no _access restrictions_ under _networking.
The documentation does not match what is actually on the screen -- presumably it is out of date?

![image](https://user-images.githubusercontent.com/12090617/159497200-87cd18cf-5659-4b3d-802c-b48db020f26c.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d90bbf62-4

[2022-03-22 13:59] madsd commented on #90215
Hi @rwb196884 you are right, you have to select the specific web app/function app that you want to add an access restriction to first. I'll take a note to add that step. Thank you.

[2022-03-22 14:04] MsGabsta commented on #90195
#reassign @bwren

[2022-03-22 14:14] Zhww2018 opened #90217 "Private IP(SNAT) will be changed to "SNAT All" after migration to premium firewall policy via script"
After migrating the firewall policy to Premium SKU via the script, the configuration for "Private IP(SNAT)" will be changed to "SNAT all". Could you please kindly note it or modify the script? Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 326302f4-752f-4e20-cdf6-39a249548ae4
* Version Independent ID: 576f83ed-

[2022-03-22 14:15] AaronMaxwell commented on #90180
Thanks for your dedication to our documentation. This issue has been triaged and accepted. An internal work item has been created for prioritization and tracking. https://dev.azure.com/mseng/TechnicalContent/_workitems/edit/1932108 #please-close

[2022-03-22 14:15] #90180 closed

[2022-03-22 14:15] RyanHill-MSFT commented on #47130
The underlying storage is NFS/CIFS which is why SQLite isn't advise on a storage mount. The best workaround is to leverage either PostgreSQL or MySQL.

[2022-03-22 14:15] davidslight opened #90218 "Terminology definitions"
[Enter feedback here]
Three mentioned only two defined in table
Need a definition of "benchmark"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27213820-08b0-89bd-5b33-c8e48172e26e
* Version Independent ID: 7316e682-7339-0477-23fe-608ee1a3fc74
* Content: [Azure Security Benchmark Introduction](https://docs.microsoft.co

[2022-03-22 14:25] sopopa2 opened #90219 "Guests restriction does not apply for SPO External sharing"
The setting "No one in the organization can invite guest users including admins (most restrictive)" (under "External collaboration settings") does not apply to SharePoint "External sharing" (https://docs.microsoft.com/en-us/sharepoint/external-sharing-overview). Even if you have this setting set to "Yes", you are still able to invite guests via SharePoint, for any active site, if you go to Permiss

[2022-03-22 14:29] #74664 closed

[2022-03-22 14:29] ezYakaEagle442 opened #90220 "No easy way to create Deployments in Azure Spring Cloud"
In the Azure Portal / Azure Spring Cloud instance / Apps / myApp / Deployment, the create deployment leads to the doc, why it is not possible to create a deployment from the portal ?

Also by default, there is NO deployment at all, even not Production, as a consequence any App deployment through CLI or CI/CD fails whereas the CLI does not state that --deployment is required

[code]
fails with
[cod

[2022-03-22 14:32] seligj95 commented on #80590
@cephalin - the following bicep and ARM template snippets include what is being asked for here and can be added to the doc. The properties that need to be modified are part of the Microsoft.Web/sites resource and are:
-clientCertEnabled: true
-clientCertMode: 'Required'
-clientCertExclusionPaths: '/sample1;/sample2'

Bicep:
`
resource appService 'Microsoft.Web/sites@2020-06-01' = {
  name: webSite

[2022-03-22 14:37] OlgaOkhrimenko opened #90222 "PORT5 and PORT6 on the diagram are swapped."
On the  diagram of the back of the appliance PORT5 and PORT6 are swapped.
Port 5 on the diagram corresponds to the Port6 (or so it is reflected in the WEB UI), and Port 6 on the diagram corresponds to the Port5 on the appliance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ebc5ec9c-3a5b-aedb-b7a5-a6dcfec5585b
* Versi

[2022-03-22 14:39] smorasoto opened #90223 "Variables are using PowerShell format in the installation Sample for virtual machine scale sets - Azure CLI"
[Variables are using PowerShell format in the installation Sample for virtual machine scale sets - Azure CLI

Current config
# Set your Azure virtual machine scale set diagnostic variables.
$my_resource_group=<your_azure_resource_group_name_containing_your_azure_linux_vm>
$my_linux_vmss=<your_azure_linux_vmss_name>
$my_diagnostic_storage_account=<your_azure_storage_account_for_storing_vm_diagnosti

[2022-03-22 14:46] seligj95 commented on #87485
+1 to @JasonFreeberg 's comment since that works. This was discussed the other day as well. You are free to input an array as an app setting since essentially app settings are just environment variables, but make sure characters are escaped properly depending on how the app setting is being used (which is customer workload/use case dependent).

[2022-03-22 14:46] seligj95 commented on #87485
#ready-to-doc

[2022-03-22 14:50] erik-ha-msft commented on #80402
Thank you @marcelkmsft for the feedback.

In the article mentioned, there are reference URLs to the policies that direct you to the JSON policy document on GitHub, which includes additional details such as constraints.

At this time, we're not planning on updating the article with this information.

#please-close

[2022-03-22 14:50] #80402 closed

[2022-03-22 14:51] diberry commented on #89734
Hi @manekinekko - Thank you for creating a PR. Can you please close the public PR and open it on the azure-docs-pr repo instead? All FTEs need to use the private repo for PRs.

[2022-03-22 14:53] JamesTran-MSFT commented on #90189
@Dedme
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-22 14:54] JamesTran-MSFT commented on #90218
@davidslight
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-22 14:55] JamesTran-MSFT commented on #90219
@sopopa2
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-22 14:55] seligj95 commented on #77693
#taken-by:jordanselig

[2022-03-22 15:03] azure1123 opened #90224 "Proxy configuration for AMA"
The PowerShell commands provided in the [document](https://docs.microsoft.com/en-us/azure/azure-monitor/agents/azure-monitor-agent-overview?tabs=PowerShellWindows#proxy-configuration)to configure Proxy for the AMA agent are resulting in errors.
This is very important to be updated because many customers are migrating from Log Analytics agent to AMA and the proxy configuration is highly used.

We t

[2022-03-22 15:06] ezYakaEagle442 commented on #90220
Now
[code]
fails with :
[code]

[2022-03-22 15:08] MartinWickman opened #90225 "How does clientRetryOptions work in relation to Retry Policies?"
I'm trying to understand how and when `clientRetryOptions` and `maxAutoLockRenewalDuration` are used. It's not clear from the docs.

What's confusing is when you use [retry policies](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-error-pages?tabs=csharp#retry-policies-preview) attributes which you put on functions. It seems to me they conflict with each other, or I am ju

[2022-03-22 15:11] seligj95 commented on #77693
Just tested this out and updating the App Service plan name in the template will move the App Service to another App Service plan and will NOT recreate the App Service. The App Service plans can be in different resource groups but must be in the same subscription. The App Service plans can be in different regions.

#ready-to-doc

[2022-03-22 15:19] kobulloc-MSFT commented on #90212
@tasb Thank you for your feedback!  We are reviewing the documentation and will get back to you shortly.

[2022-03-22 15:38] Vampiredk opened #90226 "Vue project Azure Web App Service "You do not have permission to view this directory or page.""
So I have made a Vue project and it works fine locally and on a static web app, but know I want to try to add a database to the project so I will move to Web App Service instead, but here I am starting to encounter some problems.

The Azure Web App Service is made with node 16

I followed this guide with the "Configure the App Service app and deploy code" part for windows
https://docs.microsoft.co

[2022-03-22 15:57] Oury-MSFT commented on #89871
@RoyKM I will go ahead and close this Git issue for now. If you are still having issues, please create a thread in [Microsoft Q&A forum] (https://docs.microsoft.com/en-us/answers/support/qna-faq) so we can better assist you.

[2022-03-22 15:57] #89871 closed

[2022-03-22 15:59] Oury-MSFT commented on #90041
@danielgerlag I will go ahead and close this case since there are no further action.

[2022-03-22 15:59] #90041 closed

[2022-03-22 16:01] tamram commented on #89163
@AdelaManea - the CLI example is now live here: https://docs.microsoft.com/en-us/azure/storage/blobs/blob-cli#restore-a-deleted-blob

[2022-03-22 16:01] mathapli commented on #89323
@SadiqhAhmed-MSFT please assign to https://github.com/sharroy

[2022-03-22 16:05] VikasPullagura-MSFT commented on #89997
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2022-03-22 16:13] GitaraniSharma-MSFT commented on #90093
@ydnaod , as documented in [this doc](https://docs.microsoft.com/en-us/azure/virtual-network/service-tags-overview#available-service-tags), Azure DataFactory cannot be used with Azure Firewall yet.

![image](https://user-images.githubusercontent.com/67630903/159524738-81d18fe9-d0e0-47b3-9aa0-7b6bd387bebb.png)

Even tough all the service tags are available in the Azure Portal UI, not all of them ca

[2022-03-22 16:13] #90093 closed

[2022-03-22 16:19] SwathiDhanwada-MSFT commented on #90182
@drmiru Thanks for your comment. We will review the issue and get back to you shortly.

[2022-03-22 16:22] SwathiDhanwada-MSFT commented on #90210
@Siby22071989 Thanks for pointing it out.  Seems, during the revamp of the document the statement has been removed.  I will check and revert to you on the same.

[2022-03-22 16:25] SwathiDhanwada-MSFT commented on #90224
@azure1123 Thanks for your comment. We will review the issue and get back to you shortly.

[2022-03-22 16:38] #53688 closed

[2022-03-22 16:42] v-jrushing commented on #87009
Updates completed #please-close.

[2022-03-22 16:42] Bilal-GHub commented on #90080
@SatishBoddu-MSFT  Thank you so much for such detailed answer. The problem we are facing with .NET framework 4.7 is, we are getting an exception "MQTT transport exception". The Sample code we are using is developed in .NET Core and it is working fine.
You can find the sample code at given link

DPS Service sample code C#: https://docs.microsoft.com/en-us/azure/iot-central/core/tutorial-connect-dev

[2022-03-22 16:45] madiepev opened #90227 "Outdated command"
To create a service principal it is advised to use the `az ad sp create-for-rbac` command. When doing so in the Azure Cloud Shell I get the following warnings:

The underlying Active Directory Graph API will be replaced by Microsoft Graph API in a future version of Azure CLI. Please carefully review all breaking changes introduced during this migration: https://docs.microsoft.com/cli/azure/microso

[2022-03-22 16:47] NickDorak opened #90228 "URLs are changing in April 2022"
We received email from Microsoft to no longer use the URLs on this page as they would be changing soon. This page should reflect the most recent recomendations.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 524e47b0-1295-7d07-0cbc-86e6daaa1358
* Version Independent ID: 1cb3a5d8-4f16-583c-ad85-325f7638a873
* Content: [

[2022-03-22 16:51] #87009 closed

[2022-03-22 16:53] MonikaReddy-MSFT commented on #89224
@devsheoran - Thanks for sharing the link with us.  I'm going to assign this to the document author so they can update the document accordingly.

[2022-03-22 16:55] cephalin commented on #89383
#needs-sme-input

[2022-03-22 16:59] #85731 closed

[2022-03-22 17:05] RBVieira opened #90229 "Sandbox limitations"
I have searched throughout the entire azure functions documentation and could not find an explanation saying why for a consumption plan I can have 200 maximum instances on windows and only 100 in Linux. Is there some basic technical explanation for that?
Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0643673

[2022-03-22 17:08] aahill commented on #90018
Thanks, in terms of documentation - I've updated the limits article to be more clear about these invalid characters.

#please-close

[2022-03-22 17:20] tfitzmac commented on #90154
@SPea-1 - thanks for this feedback. This page documents the name restrictions for the resource type, which as you noted can be set through different interfaces. Currently, I am not aware of an update needed for the documentation so I will close this issue. However, I have forwarded your feedback to the portal and Databricks teams so they can see if the portal needs to be updated.
#please-close

[2022-03-22 17:23] #90018 closed

[2022-03-22 17:25] SaiKishor-MSFT commented on #90217
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2022-03-22 17:28] DerekHerman-MSFT commented on #89998
@JeroenJSmit You can exclude certain storage accounts from monitoring but not certain transactions.
https://docs.microsoft.com/en-us/azure/defender-for-cloud/defender-for-storage-introduction#can-i-exclude-a-specific-azure-storage-account-from-a-protected-subscription

For product feedback and feature requests I will refer you to our feedback forum. This allows the community to add their voice and

[2022-03-22 17:28] #89998 closed

[2022-03-22 17:32] KarlErickson commented on #89925
@ezYakaEagle442 both pages indicate that Enterprise tier uses Tanzu components, so I don't think any change is needed. If you have a specific suggestion that would make this distinction clearer, we will consider making that update. Thanks!

#please-close

[2022-03-22 17:37] #90154 closed

[2022-03-22 17:38] KarlErickson commented on #90220
#assign:karlerickson

[2022-03-22 17:41] KarlErickson commented on #90220
@yangtony90 can you comment or assign someone to comment? Thanks!

[2022-03-22 17:44] #89925 closed

[2022-03-22 17:45] dloder0 opened #90232 "Config migration steps are obsolete"
This page has old guidance for config migration.  That section should be completely replaced with a link to the import/export capabilities https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-import-export-config

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf9169c8-ec81-9342-c93e-963647d70c6

[2022-03-22 17:46] DerekHerman-MSFT commented on #90193
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-03-22 17:48] fercobo-msft opened #90234 "Suggestion to the disruptive events bullet"
[Enter feedback here]

Hello,

The possible causes that suggest that can disrupt the Azure SQL Database/MI services seems to be very specific. The bullets suggest that in the face of an earthquake, if the data center goes down, then there's nothing Microsoft can do. What happens if there's a flood? What happens if a meteorite hits the datacenter? What happens if there's a riot and they burn down t

[2022-03-22 17:50] ecfan commented on #84727
As of March 1, I don't have an update about supporting Visual Studio 2022. However, you can vote for this request on the [Azure Logic Apps feedback forum](https://feedback.azure.com/d365community/idea/34599c57-238b-ec11-a81b-0022484bfd94). However, you can also use [Visual Studio Code](https://docs.microsoft.com/azure/logic-apps/quickstart-create-logic-apps-visual-studio-code#prerequisites).

[2022-03-22 17:51] JamesTran-MSFT commented on #90189
@Dedme
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2022-03-22 17:51] #90189 closed

[2022-03-22 17:51] LijuV-MSFT commented on #90062
@DerekHerman-MSFT , doesn't the steps in [Configure key auto-rotation in Azure Key Vault (preview)](https://docs.microsoft.com/en-us/azure/key-vault/keys/how-to-configure-key-rotation) do just that?

The ability to create a rotation policy is available when configuring the storage account to use a new CMK to use with a key vault.

[2022-03-22 17:55] JamesTran-MSFT commented on #90204
@Chanito-Me
Thank you for your time and patience throughout this issue.

To gain a better understanding of your issue, can you share some more info regarding the updates you'd like to see within our documentation?

If you have any other questions, please let me know.
Thank you!

[2022-03-22 17:56] GiftA-MSFT commented on #90202
@Klaas- we'll review your feedback and get back to you shortly. Thanks.

[2022-03-22 17:56] jessiewestlake commented on #29999
If you can't restart the shell, you should, instead, be able to re-import the module by doing `Remove-Module PowerShellGet` and then `Import-Module PowerShellGet`.

[2022-03-22 17:59] GiftA-MSFT commented on #90209
@RBVieira we'll review your feedback and get back to you shortly. Thanks.

[2022-03-22 18:00] maud-lv commented on #87307
Hi @VitalyMCT , we have updated the article: https://docs.microsoft.com/en-us/azure/azure-app-configuration/concept-point-time-snapshot. I hope that you like it :)

[2022-03-22 18:02] JamesTran-MSFT commented on #90232
@dloder0
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-22 18:02] AnuragSharma-MSFT commented on #90117
@chaisen2006 Thanks for your patience. The Amazon DynamoDB source importer option allows you to import from a single Amazon DynamoDB table. Below are the answers to your queries:

1. Yes we need to run the migration process multiple times for each container in AWS.
2. This tool is very specific for data import, other objects are not currently supported.
3. As long as JSON file is in valid format i

[2022-03-22 18:04] GiftA-MSFT commented on #90226
@Vampiredk we'll review your feedback and get back to you shortly. Thanks.

[2022-03-22 18:05] JamesTran-MSFT commented on #90219
@sopopa2
Thank you for your detailed post!

When it comes to the [documentation](https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-mfa-howitworks) that you created this GitHub issue under, are you asking for a note to be added within our MFA documentation regarding guest restrictions not applying to SPO external sharing?

If you have any other questions, please let me

[2022-03-22 18:06] AnuragSharma-MSFT commented on #90196
@cveld Thanks for your patience. There are multiple docs you can refer for quota or limits:

1. [Resource limits for single databases using the vCore purchasing model](https://docs.microsoft.com/en-us/azure/azure-sql/database/resource-limits-vcore-single-databases)
2. [Resource limits for single databases using the DTU purchasing model - Azure SQL Database](https://docs.microsoft.com/en-us/azure/a

[2022-03-22 18:08] Karishma-Tiwari-MSFT commented on #90228
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-03-22 18:08] JamesTran-MSFT commented on #90232
@dloder0
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-03-22 18:11] azure1123 opened #90235 "Log Analytics Gateway - Support for AMA + MMA deployments"
The article says that machines with AMA **or** MMA is supported to forward to the Gateway, but it's not clear if we can have a machine sending logs through both AMA + MMA at the same time.

This information is important for our journey to migrate MMA to AMA.

The document should be updated with the information regarding support of the scenario 3.

**1.** vm01 with only AMA sending logs to the Gate

[2022-03-22 18:18] Aminadad27 opened #90236 "Creative Project Programing 👌"
I use Adobe Scan to scan everything to PDF, it's free and easy to use. Check it out: https://adobescan.app.link/LYfBUdFMlY

[2022-03-22 18:24] mike-urnun-msft commented on #90205
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-03-22 18:24] mike-urnun-msft commented on #90208
Thank you for your feedback! We will review and update as appropriate.

[2022-03-22 18:25] mundayn commented on #90182
@drmiru does the egress requests from the APIM route via the "Virtual IP (VIP) addresses" defined for the APIM instance? Or a random Azure assigned APIM IP range?

[2022-03-22 18:27] #90215 closed

[2022-03-22 18:30] mike-urnun-msft commented on #90225
Thank you for your feedback! We will review and update as appropriate.

[2022-03-22 18:35] mike-urnun-msft commented on #90229
Thank you for your feedback! We will review and update as appropriate.

[2022-03-22 18:38] porrascarlos802018 opened #90237 "Please add rest API for AKS VM SKU flltering"
when the portal is used, when creating an AKS cluster you can select from the VM SKUs enabled for AKS.  Same reset API query is needed to be published and shared with customers.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf1062f1-616d-acc2-abeb-b04e4cad28ad
* Version Independent ID: 44068874-

[2022-03-22 18:41] #90078 closed

[2022-03-22 18:41] KranthiPakala-MSFT commented on #90078
The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2022-03-22 18:42] DerekHerman-MSFT commented on #90193
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-03-22 18:44] mimckitt commented on #89501
#label: disks

[2022-03-22 18:45] mimckitt commented on #89501
#label: "disks"

[2022-03-22 18:45] mimckitt commented on #89501
#label: "disks"

[2022-03-22 18:53] drmiru commented on #90182
As far as I observed it, the public VIP was source of egress

[2022-03-22 18:55] ggailey777 commented on #90229
Hey @RBVieira. This is actually a great question. We don't document this because its an internal implementation detail, which we don't typically document. The short answer is that to be able to run on Linux with the Consumption plan model, we needed to basically use a different hosting and scale mechanism, which has a slightly different set of constraints. If you have other questions along this li

[2022-03-22 18:55] #90229 closed

[2022-03-22 18:56] ggailey777 commented on #90229
#reassign:ggailey777

[2022-03-22 18:56] ggailey777 commented on #90209
#reassign:ggailey777

[2022-03-22 18:57] AskYous opened #90239 "Max number of "to"s"
Please include the maximum amount of languages we're allowed to translate to in a single request. I came here looking for it but couldn't find it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1648784c-c385-4120-a2a6-3414a0d752e1
* Version Independent ID: 1f90c698-a146-3345-40dd-eb5dabe56cf3
* Content: [Translator Tra

[2022-03-22 18:57] spelluru commented on #90170
@VinnyBonner - Were you able to complete the tutorial when you deployed the function code from the new repo: https://github.com/Azure-Samples/storage-blob-resize-function-node? Thanks

[2022-03-22 18:57] ggailey777 commented on #90209
Thanks @RBVieira for reporting this, which is likely a copy-paste error. I'll investigate.

[2022-03-22 18:58] DerekHerman-MSFT commented on #90222
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-03-22 19:04] VinnyBonner commented on #90170
I did note that the newer code did not match 100% of the current tutorial. It appears they made some slight changes that would be needed to update in the tutorial as well. They dropped some app settings and added in another one.

I am not sure which would be the best course of action from here. I tried the tutorial the way it is now, and found the code error. However, since the repo is archived, I

[2022-03-22 19:05] ChaitanyaNaykodi-MSFT commented on #90206
Thank you for your feedback! We will review and update as appropriate.

[2022-03-22 19:09] MattSidor opened #90242 "Typo in sample host.json code"
I am not sure, but I think there may be a typo on line 112 for the "version" property of `hosts.json`. I think this must be "2.0" and "3.0" will not work.

Earlier in the document, on line 76, the same v3 extension bundle is referenced with a sample `hosts.json` but it has "2.0" there.

I think the `host.json` "version" property is different from the extension bundle version.

---
#### Document De

[2022-03-22 19:09] DerekHerman-MSFT commented on #90062
Thanks for linking the document. I wasn't aware of this preview feature. I will assign this to the author to note this.

[2022-03-22 19:10] #90209 closed

[2022-03-22 19:26] msangapu-msft commented on #77693
#please-close

[2022-03-22 19:26] #77693 closed

[2022-03-22 19:30] msangapu-msft commented on #80590
#reassign msangapu-msft

[2022-03-22 19:37] mwherman2000 commented on #90153
In addition, there needs to be slight reordering of the steps in this section (and possibly the previous section), after you update the `issuance_request_config.json`, you likely have to both re-`dotnet build` and then `dotnet run` the project.

[2022-03-22 19:53] msangapu-msft commented on #82661
This needs a portal screenshot and tabs update.

#reassign msangapu-msft

[2022-03-22 19:53] msangapu-msft commented on #80590
We need to add tabs here.

[2022-03-22 19:55] AnuragSharma-MSFT commented on #90117
@chaisen2006 Could you please provide couple of examples of dynamo db json documents so I can verify once?

[2022-03-22 19:57] tifischer opened #90243 "Update supported lineage"
Some of the data sources now support lineage or in preview that are not listed in the table of data sources.  Please update.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84720ac4-0ef5-30cd-9c68-036dd0a6cbfd
* Version Independent ID: 04da604a-0599-ac90-1d0c-2d1cafe81964
* Content: [Lineage from SQL Server Integration

[2022-03-22 20:12] msangapu-msft commented on #87485
App Setting screenshot and CLI example needs updating.

#reassign msangapu-msft

[2022-03-22 20:13] festivus opened #90244 "Live Metrics Secure Channel Conflict"
[Enter feedback here]

This page says to create an Api Key to use with creating a secure channel for live metrics. However, when I go to the portal to create an Api Key it says "Creating new API keys for Live Metrics is not recommended. Please consider migrating to Azure AD".

There's no link on the portal about migrating to Azure AD and there's nothing on this page about it either. So, should we

[2022-03-22 20:30] blacelle commented on #55055
Hello. It remains unclear why there would be a maximum of 5 minutes. These 5 minutes limitation seems not present anywhere in ServiceBus own documentation.

[2022-03-22 20:30] blacelle commented on #55055
@DixitArora-MSFT Direct reference as your requested explicitely.

[2022-03-22 20:31] eponerine opened #90245 "Adaptive Sampling example has both ExcludedTypes and IncludedTypes configured for same type"
In the **Add Application Insights manually** section, **step 3.**.. there is contradicting configurations. Specifically, `ExcludedType` and `IncludedType`

Please update the example to comment one or the other out, or leave a detailed comment in that sample explaining not to have both with same Type.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2022-03-22 20:38] yobyot opened #90246 "A poster child for the wretched state of Azure documentation"
This page is badly written (dropping indefinite articles, for example), poorly organized (making marketing claims for which it offers no proof: "...ensures that data integration process is isolated and secure"), presents an unintelligible illustration that sheds no further light and, overall, represents the worst of Azure documentation. It makes the end user guess what the author is communicating

[2022-03-22 20:39] himanshusinha-msft commented on #89873
@BradBiggers  : Can you please provide more details on which version of Java are you using ?

[2022-03-22 20:42] brutaldev opened #90247 "Certain examples are not supported in the current preview of Container Apps"
The page highlights several scaling rules that can be defined for Container Apps template. However, only two of them actually work. You get the following error when trying to deploy Memory or CPU scale rule examples:

`The scale rule 'XYZ' provided for Container App 'ABC' is invalid must have either Azure Queue or HTTP or Custom Rule specified. (Code:91013)`

---
#### Document Details

⚠ *Do not e

[2022-03-22 20:53] seligj95 commented on #68715
#taken-by:jordanselig

[2022-03-22 20:56] seligj95 commented on #68715
It will just allow the configured Client ID. You will need to explicitly add other audiences if you want them to be used.

#ready-to-doc

[2022-03-22 20:56] BradBiggers commented on #89873
Azul 1.8.0_322 build 25.322-b06

Brad Biggers | Senior Principal Consultant
Software AG Government Solutions, Inc.
12950 Worldgate Drive Suite 300 Herndon, VA 20170
M: 703.939.4701 | F: 703.435.3472
***@***.******@***.***>
www.softwareagGov.com<http://www.softwareaggov.com/>
***@***.***<http://www.softwareaggov.com/>
  Complex IT, Simplified.

From: himanshusinha-msft ***@***.***>
Sent: Tuesday, M

[2022-03-22 20:58] #89694 closed

[2022-03-22 21:15] KranthiPakala-MSFT commented on #90137
The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2022-03-22 21:15] #90137 closed

[2022-03-22 21:21] GiftA-MSFT commented on #90227
@madiepev we'll review your feedback and get back to you shortly. Thanks.

[2022-03-22 21:29] rboucher commented on #87211
#please-close.  Working behind the scenes to get this in the main metrics reference.

[2022-03-22 21:29] #87211 closed

[2022-03-22 21:32] SnehaGunda commented on #90110
@DesuNinshu Thanks for your feedback, because you already tested the scenario, are you willing to contribute to the doc? Our docs are open source. You can click on the edit button on the page a submit a PR.
Let us know if you can't I will pass your suggestion to the right team.

[2022-03-22 21:32] eric-urban commented on #90114
#please-close

[2022-03-22 21:32] #90114 closed

[2022-03-22 21:37] nibaccam commented on #89078
Documentation has been updated and will be published to the live site in a couple hours.
We will now proceed to close this thread.
#please-close

[2022-03-22 21:37] #89078 closed

[2022-03-22 21:47] dean-dot-git commented on #34562
They deprecating the property bag on the HttpRequest Object in favor of the HttpRequestMessage Options.  These two simple things are moving inapposite directions.  What is a dev to do?

[2022-03-22 21:53] b-hchen commented on #89695
@elfcounsel - Thanks again, Win.  Per discussion with the team, we will only document that this feature (dynamic volume move) is supported only within the same NetApp account.

This change is implemented in PR 191922, posting ETA 3/22/22 PST.

[2022-03-22 21:54] minnieshi commented on #90104
My quote in the question, says it only supports python and sql. So "Does above mean the jar attached to the cluster cannot be written in scala?"

[2022-03-22 21:55] abhijit-z commented on #89949
Hi @nibaccam Dataset.File.upload_directory() takes one parameter as source directory but not a single file. I just want to upload a single file. How shall I go about that?

[2022-03-22 21:57] mvisosky commented on #86587
Bump. Hoping this can be addressed somehow in the documentation?

[2022-03-22 22:00] minnieshi commented on #90100
Can you please open the ticket again? It is not the same or duplicate of the other ticket. The contents or the questions are different.

[2022-03-22 22:00] minnieshi commented on #90101
Can you please open the ticket again? It is not the same or duplicate of the other ticket. The contents or the questions are different.

[2022-03-22 22:02] b-hchen commented on #89695
#please-close

[2022-03-22 22:02] #89695 closed

[2022-03-22 22:16] khdownie commented on #89763
@crshovrd41 @SumanthMarigowda this has been clarified in the article and this issue can now be closed: https://docs.microsoft.com/en-us/azure/storage/files/storage-files-identity-ad-ds-assign-permissions?tabs=azure-portal#share-level-permissions-for-specific-azure-ad-users-or-groups

[2022-03-22 22:19] johndowns commented on #90199
@gsuttie This page is intended to explain the different components of role assignments and definitions and how you use Bicep to create them. However, there are some complete examples in the 'Related resources' section, under 'Quickstart templates'.

If those don't help you, can you please clarify what you'd like to see, and what points on the page confused you?

[2022-03-22 22:20] RSteeno opened #90252 "Combined parameter files not working"
When building a custom BOM for the SAP Installation, the **Combine Parameter Files** section states you can combine all the parameter files (ASCS, PAS and AAS) into a single parameter file.

When executing playbook ```playbook_05_00_00_sap_scs_install.yaml``` using a custom BOM, the playbook is looking for ```<bom_base_name>-scs-inifile-param.j2``` and is failing as it doesn't exist.

It appears t

[2022-03-22 22:27] Heidilohr commented on #90228
Hi, @NickDorak. I've confirmed with the team that the change only applies to the [Azure Virtual Desktop web client](https://docs.microsoft.com/azure/virtual-desktop/user-documentation/connect-web#access-remote-resources-feed), not the Windows Desktop client.

[2022-03-22 22:44] YutongTie-MSFT commented on #90239
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-03-22 22:49] #90016 closed

[2022-03-22 22:51] ggailey777 commented on #90242
#assign:ggailey777

[2022-03-22 22:53] ggailey777 commented on #90242
@MattSidor thanks for reporting this. Not sure how that got changed, but you're right, there's no version 3.0 yet for host.json. I have submitted a PR to fix.

[2022-03-22 23:02] YutongTie-MSFT commented on #90179
@GovindKrishnan Sure, I will take a look that doc as well. Thanks for the remind.

[2022-03-22 23:05] spelluru commented on #90170
Hi @VinnyBonner - Thanks. I am working with the SDK team to see if I can get this fixed. With the new code, I get a different error and I am working with them on it too. Thanks.

[2022-03-22 23:05] spelluru commented on #90009
This is fixed. The update will go live tomorrow around 10 AM PST. Thanks.

[2022-03-22 23:05] spelluru commented on #90009
#please-close

[2022-03-22 23:05] #90009 closed

[2022-03-22 23:12] #90242 closed

[2022-03-22 23:13] octocat1000 commented on #83517
Can confirm, docs are wrong.  Frustrating and time wasting.  Hope its corrected soon.  @fmms thanks for providing the solution.

[2022-03-22 23:15] LenaVinogradov commented on #45722
@MarileeTurscak-MSFT , I have delete the uriId on my apps (multi tenant) and they still function as expected. Can you please comment?

[2022-03-22 23:33] ggailey777 commented on #90082
This seems like a good suggestion. IIRC, there are other portal features that don't work on various types of Linux hosting. The rule of thumb is if the icon isn't there in the portal, it's not supported. I've opened this work item ([#1932332](https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1932332)) to track internally.

[2022-03-22 23:40] AaronCreighton opened #90253 "Alert/notification properties & Resource Alert Properties"
It would also be good to clarify if these notification properties can be used when creating the alerts. I.e. it is unclear if all or some of these notification properties are also alert properties and can be used to trigger different alerts.

In addition it would be really good to get a version of this page for Resource Health Alert (&/or Notifications) properties. I can't find anything about what

[2022-03-22 23:52] dhnilang opened #90254 "Incorrect information on supported clusters for Enterprise Security Package"
[Enter feedback here]
This web page says that the only Hadoop cluster that supports Enterprise Security Package is HDInsight 3.6. But this version is getting retired very soon. So I think this page needs correction.
![WebPageScreenshot](https://user-images.githubusercontent.com/14895078/159595323-f3f6d18b-d35a-4593-8533-29bbc59ac52d.jpg)

---
#### Document Details

⚠ *Do not edit this section. It

[2022-03-22 23:56] KranthiPakala-MSFT commented on #90214
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-03-23 00:07] HiroakiMachida opened #90255 "functions-test-a-function.md is removed"
Hello Team,

functions-test-a-function.md was removed at some point, but I think it was not supposed to be removed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c91c3121-aea2-9a38-c44c-45cc5bbc9248
* Version Independent ID: c3c5199d-cff8-f313-dfc6-41499941e505
* Content: [Debug PowerShell Azure Functions locally](htt

[2022-03-23 01:32] MonikaReddy-MSFT commented on #90245
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-03-23 01:41] #90236 closed

[2022-03-23 01:50] GiftA-MSFT commented on #90247
@brutaldev we'll review your feedback and get back to you shortly. Thanks.

[2022-03-23 01:51] GiftA-MSFT commented on #90252
@RSteeno we'll review your feedback and get back to you shortly. Thanks.

[2022-03-23 02:01] bmay-cloudwallcapital opened #90265 "Azure Websocket APIM Management concerns"
Hi,

I have two concerns with the Websocket for APIM documentation which I cannot figure out
- The doc says it supports Azure Resource Manager, but I can't find documentation related to ARM templates or Bicep creation when related to creating Websocket entries in APIM.  At present the only way I've seen to setup WebSockets in APIM is via the manual Portal settings
- The doc says JWT Validation can

[2022-03-23 02:07] coreyman2000 commented on #67768
still broken 20.04

[2022-03-23 02:36] iangithub opened #90266 "Available features section "Deployment options" content miss reference hyperlink"
[Enter feedback here]

in zh-tw culture , Available features section "Deployment options" content miss reference hyperlink

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c05c103e-34b8-86ec-3def-4d63e0ff35fc
* Version Independent ID: eedefee5-81d2-88c5-fca5-25bf2cc6c080
* Content: [What is Azure Cognitive Service for La

[2022-03-23 03:16] SnehaGunda commented on #89951
@alexszym Do you have multiple versions as workspace packages or one in the workspace package and the other in the Data lake storage path? In the scenario, the wheel files specified in the Workspace packages list are installed by default.

 The doc has the following note, does it answer your question?

_Within Azure Synapse, an Apache Spark pool can leverage custom libraries that are either upload

[2022-03-23 03:19] spelluru commented on #90170
@VinnyBonner - I have updated the tutorial to use the new function at https://github.com/Azure-Samples/storage-blob-resize-function-node. The updated article will go live tomorrow morning. One note: right now, the function takes an output file name, so when you follow the tutorial, there's always one file in the Thumbnails folder. In the old code, the input file name is used for the output file na

[2022-03-23 03:19] #90170 closed

[2022-03-23 03:23] CHEEKATLAPRADEEP-MSFT commented on #90243
@tifischer  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-03-23 03:26] CHEEKATLAPRADEEP-MSFT commented on #90254
@dhnilang  Thanks for the feedback! We are investigating and will update you shortly.

[2022-03-23 03:37] YutongTie-MSFT commented on #90266
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-03-23 03:55] AjayKumar-MSFT commented on #90136
Heurazio, Glad to know that you have figured out the issue. Thanks for the update, much appreciated. cc: @amanmcse

[2022-03-23 03:59] AjayKumar-MSFT commented on #90158
mwherman2000, No worries. Thanks for the additional info and update, much appreciated.

[2022-03-23 04:02] AjayKumar-MSFT commented on #90211
kamilzzz, Glad to know that you have figured out the issue. Thanks for the follow-up and sharing an update on this, it's much appreciated. cc: @amanmcse

[2022-03-23 04:13] SreejaBhattacharya-MSFT commented on #89486
Hi @universalamateur , I checked with the internal team on this. you will not be able to access the host in ACI, and also this can't be done on AKS either.
Please check [https://docs.microsoft.com/en-us/azure/aks/cluster-configuration#containerd-limitationsdifferences](url).

Since there's nothing we can do from a documentation standpoint, we are going to close this thread. If you have any feedbac

[2022-03-23 04:13] #89486 closed

[2022-03-23 04:19] ziaddiab-globaldws commented on #90164
@SatishBoddu-MSFT ,
Thank you so much for such detailed answer. The problem we are facing with .NET framework 4.7 is, we are getting an exception "MQTT transport exception". The Sample code we are using is developed in .NET Core and it is working fine.
You can find the sample code at given link

DPS Service sample code C#: https://docs.microsoft.com/en-us/azure/iot-central/core/tutorial-connect-de

[2022-03-23 04:25] ShaikMaheer-MSFT commented on #90246
@yobyot Thank you for sharing feedback. We are actively checking this. We will share updates soon.

[2022-03-23 04:27] VikasPullagura-MSFT commented on #90140
@cybersmithio

Checked this using az cli version 2.34.1, but not able to reproduce the issue.
As documented, created cluster and it is working as expected.

Can you please try running the command again, ensuring `--enable-addons azure-keyvault-secrets-provider` set, and check the output of `kubectl get pods --all-namespaces` ?

[2022-03-23 04:30] VikasPullagura-MSFT commented on #90121
@aramsmith

Thanks for reporting this, and sharing the details. From the screenshots shared the VM names are all different, but the computer names are identical.

I am checking with internal team on this and will keep you posted.

[2022-03-23 05:05] amanmcse commented on #90115
@byguo2018  closing out the issue.

[2022-03-23 05:05] #90115 closed

[2022-03-23 05:12] amanmcse commented on #90186
@apeguy Closing the issue now. Feel free to tag me in your reply if you have any quesion.

[2022-03-23 05:12] #90186 closed

[2022-03-23 05:15] SwathiDhanwada-MSFT commented on #90235
azure1123 Thanks for your comment. We will review the issue and get back to you shortly.

[2022-03-23 05:19] naokitakeda14 commented on #89993
Hi, @AnuragSharma-MSFT, @sunilagarwal
Do you have any update so far?
Please kinldy let me know that. Thank you.

[2022-03-23 05:26] enkrumah commented on #89940
updated wording clear ambiguity

[2022-03-23 05:26] enkrumah commented on #89940
#please-close

[2022-03-23 05:26] #89940 closed

[2022-03-23 05:29] SwathiDhanwada-MSFT commented on #90253
@AaronCreighton Thanks for your comment. We will review the issue and get back to you shortly.

[2022-03-23 05:30] SwathiDhanwada-MSFT commented on #90244
@festivus Thanks for your comment. We will review the issue and get back to you shortly.

[2022-03-23 05:34] mike-urnun-msft commented on #90002
Hello @dgrospelier - Yes, operations from managed connectors are metered and billed the [same Standard or Enterprise connector pricing as the Consumption plan](https://azure.microsoft.com/pricing/details/logic-apps).

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-03-23 05:34] #90002 closed

[2022-03-23 05:41] PriyankaRudramaina commented on #90237
Hello @porrascarlos802018,

Thank you for your feedback. We will investigate and update the thread further.

[2022-03-23 05:41] MayankBargali-MSFT commented on #89918
@aleksandervalle Apology for the delay. Looks like I have misunderstood both libraries is use the same Subject field in the filter. @spelluru Any thoughts if it needs document update as the Subject is still valid.

[2022-03-23 05:43] MayankBargali-MSFT commented on #89926
@BlackPhlox Thanks for reporting this item! I have updated the doc and it will be published soon. We appreciate the feedback!

[2022-03-23 05:43] VikasPullagura-MSFT commented on #90142
@haripraghash

A nodepool upgrade operation will trigger an agentpool reconcile (which means that the cluster is going to try to get the nodepool to desired state: using MI) under the hood.

So it doesn't matter if the nodepool is on latest node image version.

Hope that helps.

[2022-03-23 05:43] VikasPullagura-MSFT commented on #90142
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2022-03-23 05:43] #90142 closed

[2022-03-23 05:47] VikasPullagura-MSFT commented on #90202
@Klaas-
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-03-23 05:48] VikasPullagura-MSFT commented on #90202
@rdeltcheva
Can you please check and add your comments on this doc update request as applicable.

[2022-03-23 05:50] journey-wang commented on #66787
How to use autoloader at my PC?

[2022-03-23 05:52] journey-wang opened #90269 "How to use autoloader locally at PC?"
images = spark.readStream.format("cloudFiles") \
  .option("cloudFiles.format", "binaryFile") \
  .option("recursiveFileLookup", "true") \
  .option("pathGlobFilter", "*.jpg") \
  .load("/databricks-datasets/flower_photos") \
  .repartition(4)

But when running locally,

Traceback (most recent call last):
  File "/root/henry/inject.py", line 28, in <module>
    .load("/root/henry/flower_photos") \

[2022-03-23 06:18] mike-urnun-msft commented on #90176
@schen213 I just tested and the "Run/Test" functionality in Portal worked for me:
![image](https://user-images.githubusercontent.com/36717703/159634963-379e0b9c-214b-4d73-8462-8d6870792e04.png)

You can also manually invoke your TimerTrigger function by making an HTTP call: [Manually invoke a timer trigger](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-timer?tabs=in-pro

[2022-03-23 06:20] anishjaindev opened #90271 "Azure Storage Static Website Load Capacity"
HI,

I am hosting a script/html page as a static website hosted in Azure Storage that my front end app calls and renders using the static website endpoint.

How much load capacity is this static website expected to handle ? If there is more load, do we need to provision additional storage account and static website and configure both behind Front Door ?

---
#### Document Details

⚠ *Do not edit t

[2022-03-23 06:26] MayankBargali-MSFT commented on #90255
@HiroakiMachida Thanks for reaching out. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-03-23 06:28] MayankBargali-MSFT commented on #90265
@bmay-cloudwallcapital Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-03-23 06:47] mike-urnun-msft commented on #90172
Thanks, @nagendramishr. I've created a PR that updates step 2 to explicitly mention the replacing of the {functionName} URL param.

[2022-03-23 06:51] mike-urnun-msft commented on #90058
@dariuszbz Just following up, were you able to install the prereq tool above and try with a new project in Visual Studio?

[2022-03-23 06:53] shekharsorot commented on #89594
Just want to point out, currently, the dependency chain for "python3-azure-mgmt-compute" does not includes "python3-azure-identity", not it's installed by default with any other azure  packages as well unless explicitly specified. This seems to be an issue from SUSE side.

It might make sense to add this package to the line  "sudo zypper install python3-azure-mgmt-compute"  since end users / admin

[2022-03-23 06:58] #90172 closed

[2022-03-23 06:58] Qythyx commented on #58976
Unfortunately, I'm now having this issue again. I'm still using the full decoration, but when the app is in the background the methods are not being called. I'm guessing it is either an iOS update issue, or a Xamarin Forms iOS update issue. Sigh.

[2022-03-23 07:00] AshokPeddakotla-MSFT commented on #90045
@jb1977 I further verified and confirm the changes already done in the config file. I have created a PR to update the doc as per feedback. Doc changes will happen after it has been peer reviewed and merged.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue

[2022-03-23 07:00] #90045 closed

[2022-03-23 07:15] AnuragSharma-MSFT commented on #90094
@hawkmoth8 Thanks for your feedback. I am tagging the content author to provide more details on the issue and update the doc if needed.

[2022-03-23 07:18] AnuragSharma-MSFT commented on #90117
@chaisen2006 Below is an example from docs about json that would work. Actually any json if formatted correctly will work but if you can provide any example as well then we can check.

[code]

[2022-03-23 07:34] SadiqhAhmed-MSFT commented on #90020
@TiloGit - The doc has been updated. Closing this issue now.

[2022-03-23 07:34] #90020 closed

[2022-03-23 07:47] olivomarco opened #90273 "Flexible servers VNET integration missing"
I have noticed that in this page, in the table that lists all the services supporting VNET integration, PaaS Flexible servers offerings (MySQL, Postgres) are missing.
The table gives therefore misleaded guidance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2422f8ec-802e-7f92-c499-9181f3fe8d8b
* Version Independent I

[2022-03-23 07:57] universalamateur commented on #89486
Thank you, this is very disappointing.
Is there any other way that an application running in Container or Kubernetes services can spawn other containers or pods as siblings?

[2022-03-23 08:13] AjayKumar-MSFT commented on #89672
Thanks for adding additional clarity, bdcoder2.
In regards to this -

Correct, [Windows Azure Web Sites: How Application Strings and Connection Strings Work | Azure Blog and Updates | Microsoft Azure](https://azure.microsoft.com/blog/windows-azure-web-sites-how-application-strings-and-connection-strings-work/)

I'm unable to repro this. For a test you may try this out with only via app settings an

[2022-03-23 08:19] sopopa2 commented on #90219
Hi,

I am asking for a note to be added regarding this setting:

"No one in the organization can invite guest users including admins (most restrictive): To deny everyone in the organization from inviting guests, select this radio button."
https://docs.microsoft.com/en-us/azure/active-directory/external-identities/external-collaboration-settings-configure#to-configure-external-collaboration-setting

[2022-03-23 08:28] hanchoi opened #90274 "deployment failed when assigning blueprint"
Hi team, I created a blueprint following the documentation and tried assigning it without any modification(only put default arguments... org name "Aiden"). However... it failed with this error below. Did I miss something or is this due to recent policy change?

There were error(s) encountered during the deployment:
The resource group 'Aiden-Application-rg' failed to deploy due to the following err

[2022-03-23 08:41] PriyankaRudramaina commented on #90237
@porrascarlos802018,

Have you checked this document here
https://docs.microsoft.com/en-us/rest/api/aks/managed-clusters/create-or-update#managedclustersku
https://docs.microsoft.com/en-us/rest/api/aks/managed-clusters/create-or-update#create-managed-cluster-using-an-agent-pool-snapshot

[2022-03-23 09:08] gvanteylingen commented on #89787
Roadmap information is not being shared in docs. Please direct requested to an Azure ANF representative.

[2022-03-23 09:08] Basssiiie commented on #49672
@iamim It seems this message is added by the browser and not by Azure B2C, thus the localization of it is done by the browser as well. If I set my browser language to another language, the language of that string changes as well regardless of the language B2C is in.

[2022-03-23 09:12] SwathiDhanwada-MSFT commented on #90269
@journey-wang Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page creates an issue that contains

[2022-03-23 09:13] SwathiDhanwada-MSFT commented on #90271
@anishjaindev Thanks for your comment. We will review the issue and get back to you shortly.

[2022-03-23 09:17] SwathiDhanwada-MSFT commented on #90274
@hanchoi Thanks for reaching out. From the error provided, I could see that there exists an azure policy within your subscription where it allows deployment of resource groups in certain locations which are defined within policy.

To fix your issue, check the allowed locations within the policy named as "Allowed locations for resource groups" and deploy the blueprint again.

[2022-03-23 09:17] SnehaAgrawal-MSFT commented on #90271
@anishjaindev Thanks for asking question! Could you please share the document you are referring to help you better on this.

[2022-03-23 09:20] anishjaindev commented on #90271
The document I referred was the below. But I couldn't find anything from the load perspective

https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-static-website-host

[2022-03-23 09:24] maud-lv commented on #87307
#please-close

[2022-03-23 09:24] #87307 closed

[2022-03-23 09:32] ishmeet177 opened #90275 "Azure Traffic Manager doesn't support the use of : in the tag name."
[Enter feedback here]
I tried to add cx provided tag name and value on my Traffic Manager profile, and I observed the same behavior. The tag disappears after doing a refresh.

Tag Name: jbl:owner_email
Tag Value: 123

After save:
![image](https://user-images.githubusercontent.com/62622851/159667590-3ef97fcc-d726-4df3-aeaf-70661c832562.png)

after refresh, the tag disappears:
![image](https://user-

[2022-03-23 09:52] sopelt opened #90276 "Support for AAD as external IdP for Workload Identity Federation"
Hello, Workload Identity Federtation looks like a great tool for avoiding handing out and rotating client secrets for certain use-cases.
We would really like to use it for MSI-based authentication between AAD-tenants and were expecting to be able to do so by defining a credential as an external OIDC IdP.

Trying to setup this workflow causes the following error during the token exchange: `AADSTS70

[2022-03-23 09:52] nilact opened #90277 "Azure Elastic Job general availability"
Is there an estimate available for when elastic jobs will become GA?

Please refer to the similar thread [here](https://github.com/MicrosoftDocs/azure-docs/issues/40111). That was two years ago.

I am awaiting a response.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe5d5f3a-ed62-4868-962e-2a2561309e80
* Version Inde

[2022-03-23 09:59] JasSuri commented on #86587
The new secret will only become active once the not before date has been surpassed.

https://docs.microsoft.com/en-us/azure/active-directory-b2c/policy-keys-overview?pivots=b2c-custom-policy#key-rollover

[2022-03-23 10:10] bhagyashreesarode-gep opened #90278 "Downgrade ADB to standard Tier | ApplianceManagedResourceGroupMismatch |Error"
I am currently trying to move my ADB from premium to standard tier.(referred to this doc https://github.com/MicrosoftDocs/azure-docs/issues/63834  , https://docs.microsoft.com/en-us/azure/databricks/administration-guide/account-settings/account#--upgrade-or-downgrade-an-azure-databricks-workspace)

But while recreating I am getting this error:
{
    "status": "Failed",
    "error": {
        "code

[2022-03-23 10:12] dknappettmsft commented on #71244
This has been corrected to say operator instead of contributor. Microsoft.DesktopVirtualization/hostpools/sessionhosts/* is correct and you can find that in the Azure portal in the JSON for the built-in role. It allows read, write and delete actions.  The text is correct in that an operator still cannot add session hosts as they don't have write permissions on hostpools (i.e. the next level up), b

[2022-03-23 10:12] #71244 closed

[2022-03-23 10:19] danijam commented on #46565
Hi @jeeszacharia, we've just hit this same issue. Did you ever find a solution?

[2022-03-23 10:20] hwjwyf opened #90279 "1111"

[2022-03-23 10:20] #90279 closed

[2022-03-23 10:21] deforation opened #90280 "DPDK Setup Description outdated also (Dropping random packets)"
[Enter feedback here]
The description is based on an outdated DPDK version.
-w argument doesn't exist since ages.

After some time the adapter gets unstable (failsafe) and random packets are dropped.
Also the burst_rx command starts to take ages (see  detail description under the link below)

Check here for a closer description about the issue:
https://forums.developer.nvidia.com/t/azure-mellanox-

[2022-03-23 10:28] #89926 closed

[2022-03-23 10:32] SwathiDhanwada-MSFT commented on #90275
@ishmeet177 Thanks for your comment. We will review the issue and get back to you shortly.

[2022-03-23 10:35] deforation commented on #90280
Also net_vdev_netvsc seems  to  drop tons of incoming packets

[2022-03-23 10:38] Peter-Msft opened #90281 "[Feedback] Cannot transfer an Azure SQL database with Azure AD authentication enabled to a different directory"
[Enter feedback here]
In the section "Understand the impact of transferring a subscription" it mentions "You cannot transfer an Azure SQL database with Azure AD authentication enabled to a different directory."

There is a workaround to transfer the SQL server/databases if you follow these steps:
1. If there is AAD Authentication only enabled, disable it.
2. Add the SQL logins and users who should

[2022-03-23 10:44] KaavyaTamil commented on #10180
In ADF SSIS-IR, OLEDB connection works fine with the connection string
**Data Source=xxxxxxx;Initial Catalog=dbnnnnn;ConnectUsingManagedIdentity=True;Provider=MSOLEDBSQL.1;**

My ADO.Net connection fails with the similar connection string.
"Server=xxxxxxx;Initial Catalog=dbnnnnn;ConnectUsingManagedIdentity=True;"
Error: Failed to acquire connection \"ADO\".

Am I missing any other details in the c

[2022-03-23 10:57] chucklu commented on #30917
Hi @YaraZakaria , @PramodValavala-MSFT ,
     I encounter the same problem, but I don't know how to use winpty on Azure environment. Is there a tutorial or article about how to use winpty on Azure.

[2022-03-23 11:01] chucklu commented on #30917
Hi @PramodValavala-MSFT ,

We encounter the problem in powershell
[code]

[2022-03-23 11:06] AnuragSharma-MSFT commented on #90277
@nilact Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-03-23 11:36] CHEEKATLAPRADEEP-MSFT commented on #90278
@bhagyashreesarode-gep You are experiencing this error due to mismatch of the source and destination resource group.

**Source resource group:** `databricks-rg-Datascience-NEU-RG`
**Destination resource group:** `databricks-rg-Datascience-NEU-gssgidlmjaa4i`

To resolve this issue, make sure you use the same resource group for the source and destination.

[2022-03-23 11:37] gsuttie commented on #90199
Hi John, thanks for your reply.

I think an explanation of what role assignments are, what they can be used for, and more importantly why you might want to consider using them.  The thing that confused me was why is the name of the role assignment a Guid, can I generate a new Guid or what?.

Also the joined up thinking of creating one thing and linking it to another is what I feel is missing.

An

[2022-03-23 11:38] NelsonJAbbey opened #90284 "Roles"
[Contributor](https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#contributor)	Grants full access to manage all resources, but does not allow you to assign roles in Azure RBAC, manage assignments in Azure Blueprints, or share image galleries.

This is incorrect, it does not grant full access -- please correct

---
#### Document Details

⚠ *Do not edit this section. It i

[2022-03-23 11:42] hanchoi commented on #90274
Hi Swathi, thanks a lot for the comment. I double checked it and it seems that my previous assigned policy conflicted ! I removed them all and tried with luck ;) thanks a lot for the comment

[2022-03-23 11:43] bhagyashreesarode-gep commented on #90278
@CHEEKATLAPRADEEP-MSFT , but as per documentation
It says to use Resource group not managed resource group,
I am referring to the same RG as my source ADB, but errors refer to the managed resource group.

[2022-03-23 11:45] deMD opened #90285 "OpenAPI specification versus wildcard operations - Specify how to associate OpenAPI specification"
In the section [OpenAPI specification versus wildcard operations](https://docs.microsoft.com/en-us/azure/api-management/import-app-service-as-api#openapi-specification-versus-wildcard-operations) it is mentioned that if you have an openapi specification that it will be automatically read by api management. However it is not specified how to configure it. It seems just having an enpoint to /swagger

[2022-03-23 12:17] schittli opened #90287 ""You can also download a CSV version of this table" - what?? Please offer a scriptable solution!"
Hello

For years, scripted handling of Azure/O365 licenses in PowerShell has been a nightmare and M$ pretty much stubbornly ignores the customer requests. One of the best examples is this most annoying "Docs" website: [Product names and service plan identifiers for licensing](https://docs.microsoft.com/en-us/azure/active-directory/enterprise-users/licensing-service-plan-reference)

It's really use

[2022-03-23 12:38] mllipi opened #90288 "Outdated information on wildcards"
Hi Team,

The following information seems to be incorrect as I was able to add wildcard record in Azure DNS using Azure Portal

"Currently, adding wildcard domains through Azure DNS is only supported via API, PowerShell, and the Azure CLI. Support for adding and managing wildcard domains in the Azure portal isn't available."

Lab:
![image](https://user-images.githubusercontent.com/49646183/1596999

[2022-03-23 12:55] Klaas- opened #90289 "Use MSI for pacemaker fencing"
Hi,
with RHEL you can now use msi for fencing, I'd say it be a good replacement for the service principal. Maybe update the docs to integrate this?

https://bugzilla.redhat.com/show_bug.cgi?id=1818157

Greetings
Klaas

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1f5847a-561c-2cf8-3955-6e5cfef0f73e
* Version Independ

[2022-03-23 12:55] JoeAveva opened #90290 "Please include reference to Vnet Peering and Azure Bastion"
[Enter feedback here]
The "Required roles" in section https://docs.microsoft.com/en-us/azure/bastion/bastion-connect-vm-rdp-windows should reference the requirements listed in section https://docs.microsoft.com/en-us/azure/bastion/vnet-peering

Something along the lines:
When using bastion on a peered vnet (typical in a hub-spoke networking model) please see additional requirements here (https://d

[2022-03-23 12:56] Klaas- opened #90291 "Create builtin role for fencing"
Hi,
currently you suggest to create a custom role for fencing. I would consider this to be a very common scenario -- why not create a built in role for this?
https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/sap/high-availability-guide-rhel-pacemaker#1-create-a-custom-role-for-the-fence-agent

Greetings
Klaas

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2022-03-23 12:58] Klaas- opened #90292 "Fix custom roles link"
Hi,
currently you're linking to https://docs.microsoft.com/en-us/azure/role-based-access-control/role-assignments-cli
https://github.com/MicrosoftDocs/azure-docs/blame/main/articles/virtual-machines/workloads/sap/high-availability-guide-rhel-pacemaker.md#L242

but I think you want to link to the custom role creation:
https://docs.microsoft.com/en-us/azure/role-based-access-control/custom-roles-cli

[2022-03-23 13:06] Klaas- opened #90293 "Ordering of the tasks"
Hi,
currently you try to use the file /usr/share/SAPHanaSR/srHook/SAPHanaSR.py
https://github.com/MicrosoftDocs/azure-docs/blame/main/articles/virtual-machines/workloads/sap/sap-hana-high-availability-rhel.md#L572

that you only install a couple of steps later in:
https://github.com/MicrosoftDocs/azure-docs/blame/main/articles/virtual-machines/workloads/sap/sap-hana-high-availability-rhel.md#L635

[2022-03-23 13:23] bdcoder2 commented on #89672
@AjayKumar-MSFT - Thanks, I can now see (according to the docs) that the "**APPSETTING_azure_keyvault_uri**" environment variable is created by the App Service.

I am assuming the un-prefixed environment variable "**azure_keyvault_uri**" is also loaded "as is" (without the prefix) when AddEnvironmentVariables() is called; when I remove the call to AddEnvironmentVariables(), both configuration keys

[2022-03-23 13:25] bhetc opened #90294 "Zero Clients"
Are there any more plans to certify Zero Clients for AVD?
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2790f804-e26d-d830-cfd3-f856fb2f4d45
* Version Independent ID: 0049bc46-c7c6-fd43-b9ca-2b8e76c3ef55
* Content: [Azure Virtual Desktop thin client support - Azure](https://docs.microsoft.com/en-

[2022-03-23 13:32] JoelCanteroGCO commented on #89927
Hello @YutongTie-MSFT ,

Thanks for getting back to me.

Yes, I am using the same subscription as destination and origin. Nevertheless, it should work as well, right? I mean, if I just want to move Machine Learning workspaces between Resources groups I have to follow this guidance.

Thank you,
Joel

[2022-03-23 13:32] tmakin opened #90295 ""you should use environment variables in the Dockerfile for the connection string instead""
[Enter feedback here]
Please could you add more clarity on the statement regarding connection strings in private images.

It's not obvious why this would be the case. And does it mean that all required env vars need to be baked into a deployment image?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d505ab9-d351-6650-6

[2022-03-23 13:34] #88994 closed

[2022-03-23 13:36] chrischiedo commented on #83969
Thanks @CatchSandeepVaid for sharing your feedback! A work item has been opened for this issue and it's going to be prioritized accordingly.

#please-close

[2022-03-23 13:36] #83969 closed

[2022-03-23 13:38] yehudamakarov commented on #88994
The problem was that the documentation was difficult to find in the necessary context.

[2022-03-23 13:45] chrischiedo commented on #85529
Thanks @maddhatter for sharing your feedback. A work item has been opened for this issue and it's going to be prioritized accordingly.

#please-close

[2022-03-23 13:52] VitalyMCT commented on #87307
Thanks @maud-lv , this update looks perfect. Much appreciated.

[2022-03-23 14:04] #87921 closed

[2022-03-23 14:19] rashid199 opened #90297 "user identity usage for policy assignment on subscription scope"
We have the Blueprint deployment for Azure environment through Azure Devops on a Management group scope.
For all the policy assignment we are using the system-assigned managed identity. These are mainly for our Private endpoint A record policy with "deploy-if-not-exist" effect.

But the issue we have is there are too many system-assigned managed identity are getting created (approx. 1700, for our

[2022-03-23 14:24] GeethaThatipatri-MSFT commented on #90116
Hi @yang-jiayi team will be updating the script by tomorrow we will let you know once done.

[2022-03-23 14:34] omar-nav commented on #89600
Hi James, any update?

[2022-03-23 14:41] RyanHill-MSFT commented on #89591
@antbewes, that section applies to Linux hosted apps, I'll make sure it's removed. To answer your question though, you can create a `JAVA_OPTS` application setting set to relative path of the jar `-jar "D:\home\site\wwwroot\myapp.jar"`

[2022-03-23 14:56] robmaynardjr opened #90300 "Add token info to documentation"
[Enter feedback here]
I've had customers ask about token specifics. It would be helpful to add the below bit to the Service Principal section:

ACR auth token gets created upon login to the ACR, and refreshed upon subsequent operations.
The time to live for that token is 3 hours.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2022-03-23 15:08] diegodct opened #90301 "Build your own template in the editor"
When selecting "Build your own template in the editor" as per the steps in the article, there is an error stating that unable to load the schema. The issue is easily reproducible:

![image](https://user-images.githubusercontent.com/51022577/159731320-ece88826-65de-4989-9378-5d5eea006a6c.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2022-03-23 15:08] GiftA-MSFT commented on #90289
@Klaas- we'll review your feedback and get back to you shortly. Thanks.

[2022-03-23 15:12] GiftA-MSFT commented on #90293
@Klaas- we'll review your feedback and get back to you shortly. Thanks.

[2022-03-23 15:14] GiftA-MSFT commented on #90297
@rashid199, kindly share the document you're referencing so we can assign to the appropriate team. This repo is for doc related issues. Thanks.

[2022-03-23 15:19] GiftA-MSFT commented on #90300
@robmaynardjr  we'll review your feedback and get back to you shortly. Thanks.

[2022-03-23 15:31] guywi-ms commented on #89708
Thanks for your dedication to our documentation. We've created an internal work item to incorporate your suggestions. We are closing this issue for now, but feel free to comment here as necessary. #please-close

[2022-03-23 15:32] etaham opened #90302 "Please ducument the unique key for each row returned by the API"
Each resource in Azure will have multiple consumption rows returned for it. What is the set of 'Term's in this document that make up a unique entry? This would help folks using databases to store this information.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 96771ba5-ef91-ed15-33a3-ff5e5b9e753f
* Version Independent

[2022-03-23 15:38] josgonz231 commented on #89894
Hello Gitarani,

I was looking into this again, the following may have to be added at line 55 of the current script to account for DNS settings which network fqdn rules leverage

replacing line 55 with something similar to the below should configure the DNS Settings of the Azure Firewall Policy.
#DNS settings
$dnsSettings = New-Object -TypeName Microsoft.Azure.Commands.Network.Models.PSAzureFirewa

[2022-03-23 15:46] tfitzmac commented on #90275
I have made the change to the documentation. It should get published later today.
#please-close

[2022-03-23 15:49] ThomasWeiss commented on #90094
Adding @sajeetharan to look into this

[2022-03-23 15:52] BzSpi opened #90304 "Azure ML attachment CLI command line has a wrong type value"
The command for attaching the compute in the documentation has a wrong `type` parameter. In the documentation, the value is `kubernetes` but in the CLI the value is `Kubernetes`, with an upper case "k".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1c452c6-2d95-0565-0930-1eb072c16f4d
* Version Independent ID: bdbc368

[2022-03-23 15:53] yelevin commented on #88087
@okand Functionality such as you describe is on the development roadmap. I don't have any more specific information on that at this time. However, you can already get a fair bit of benefit out of custom details through the use of playbooks. For example, you can automatically extract information from custom details and include that information in emails, reports, etc. See [this article](https://doc

[2022-03-23 15:59] JamesTran-MSFT commented on #90276
@sopelt
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-23 16:00] nibaccam commented on #89949
Hi @abhijit-z, you can leverage the `pattern` parameter of `upload_directory() `  to indicate the single file you want to upload.

In the below example, I upload the iris.csv file that's in my train-dataset directory on my local machine. The file gets uploaded to a directory of the same name in the storage container that's connected to my workspace's default datastore

[code]

[2022-03-23 16:00] JamesTran-MSFT commented on #90281
@Peter-Msft
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-03-23 16:03] JamesTran-MSFT commented on #90284
@NelsonJAbbey
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-23 16:04] JamesTran-MSFT commented on #90287
@schittli
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-03-23 16:08] #85544 closed

[2022-03-23 16:09] ishmeet177 commented on #90275
Appreciate your quick response.

[2022-03-23 16:09] #90275 closed

[2022-03-23 16:10] SaiKishor-MSFT commented on #90290
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2022-03-23 16:12] willcotton-msft opened #90307 "Clarify use for serverless pool"
This document repeatedly refers to this as a "Synapse" connector, but doesn't specify dedicated or serverless pool. I think this is only supported for dedicated pool. Can we have a comment or note clarifying whether this applies exclusively to dedicated pool so customers don't get confused?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2022-03-23 16:15] abhijit-z commented on #89949
Hi @nibaccam I tried that but it uploads 0 files. Here is part of the snippet of the progress  after executing the code:
Uploading an estimated of 0 files
Uploaded 0 files

[2022-03-23 16:16] DavidHaltinner opened #90308 "UserErrorFsFreezeFailed troubleshoot instructions correction"
The documentation states that the recommended troubleshooting entries be added to "/var/lib/waagent/Microsoft.Azure.RecoveryServices.VMSnapshotLinux-1.0.9170.0/main/tempPlugin/vmbackup.conf", however, it turns out that file gets both overwrtten and the changes are ignored. Whether you make the change, restart the agent, or make the changes while the agent is running, the changes made in that file

[2022-03-23 16:22] alexisweeren opened #90309 "Migrating a QnA maker"
When Migrating from QnA Maker to custom question answering, https://docs.microsoft.com/en-us/azure/cognitive-services/language-service/question-answering/how-to/migrate-qnamaker?context=/azure/cognitive-services/qnamaker/context/context, does the API change?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f44a0f5-997f-

[2022-03-23 16:23] margelef opened #90310 "Needs updating to support Form Recognizer Studio"
the new Form Recognizer Studio page links to this documentation - but the documentation is still referencing the old FOTT site
Should be updated w/ instructions for use with https://formrecognizer.appliedai.azure.com/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4bb3563-6461-c0af-5306-fc60da33b808
* Version Independ

[2022-03-23 16:24] vlad-kozlov opened #90311 "Update Apache Spark 3.0 (preview) to 3.1"
Update Apache Spark 3.0 (preview) to 3.1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c8918ad-1e5e-7c35-c0cc-40553544c6fb
* Version Independent ID: 8173044c-4690-9514-f995-6df7fcacc2a7
* Content: [Apache Hadoop components and versions - Azure HDInsight 4.0](https://docs.microsoft.com/en-us/azure/hdinsight/hdinsight-

[2022-03-23 16:24] #89708 closed

[2022-03-23 16:31] pinyuko opened #90312 "checkZonePeers API need to be registered before using, lacking in the documentation"
[Enter feedback here]
The [checkZonePeers](https://docs.microsoft.com/en-us/rest/api/resources/subscriptions/check-zone-peers) API document page mentioned on this page is lacking a documentation to mention about register the feature is needed before calling the API.
I couldn't find a place to share that feedback and couldn't find the owner, thus sharing the feedback here.

You would need to regist

[2022-03-23 16:50] RBVieira opened #90313 "Trigger, input and output binding with cosmos db"
Could you provide a example where I have a Cosmos DB trigger, with Cosmos DB input binding and a Cosmos DB output binding all in one azure function? Or I have to deal with static client from azure cosmos db in this case?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6dfb86c0-02ed-0abc-8789-ba91d

[2022-03-23 16:50] bandersmsft commented on #90302
@etaham Azure uses different fields to build a unique ID for a single cost record. That’s stated to by the footnote after the table at https://docs.microsoft.com/azure/cost-management-billing/understand/understand-usage#list-of-terms-and-descriptions. So, each of the "terms", which are column headings in the usage CSV file, that have the <sup>1</scp> superscript are used to create the unique ID fo

[2022-03-23 16:50] spelluru commented on #89918
@MayankBargali-MSFT - Please assign it to me. I will need to work with the product team to get a clarification on it. Thanks.

[2022-03-23 16:52] bandersmsft commented on #90302
#please-close

[2022-03-23 16:55] spelluru commented on #90071
Added the note.

#please-close

[2022-03-23 16:55] pinyuko commented on #85742
Hi @RZomermanMS, @DerekHerman-MSFT , and @qqnarwhal ,

I figured that the [checkZonePeers](https://docs.microsoft.com/en-us/rest/api/resources/subscriptions/check-zone-peers) API document page lacks mentioning there is a register prerequisite.

You would need to register the feature before calling the checkZonePeers API.
Please run the following Azure CLI commands:
• To register: az feature regist

[2022-03-23 16:56] spelluru commented on #90071
#please-close

[2022-03-23 16:58] abhijit-z commented on #89949
@nibaccam Please find the code below:
from azureml.core import Workspace, Datastore, Dataset
from azureml.data.datapath import DataPath
datastore_name = 'ericsondatalake'

# get existing workspace
workspace = Workspace.from_config()

# retrieve an existing datastore in the workspace by name
datastore = Datastore.get(workspace, datastore_name)

Dataset.File.upload_directory(
    src_dir='/mnt/batch

[2022-03-23 17:00] Justinha commented on #70808
@git14 sorry for delay. There is no expiration. I'm not sure where you found this stated but I will try to add it to the docs.

#please-close

[2022-03-23 17:02] SaiKishor-MSFT commented on #90273
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate

[2022-03-23 17:03] #90302 closed

[2022-03-23 17:04] SaiKishor-MSFT commented on #90280
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2022-03-23 17:05] #90071 closed

[2022-03-23 17:07] #70808 closed

[2022-03-23 17:12] rboissy opened #90314 "Typo"
[Enter feedback here]The main figure shown on this web page includes a typo (bottom right text element) "Phyton" should be Python.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bb30fb65-1e02-652e-2344-dfafb81f6a1c
* Version Independent ID: 9c877b29-083c-d99a-e34b-4c7fbbf3fd59
* Content: [Get started with the DICOM ser

[2022-03-23 17:26] #90204 closed

[2022-03-23 17:27] SaiKishor-MSFT commented on #90288
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2022-03-23 17:33] tommyleedberg opened #90315 "WAD config only supports 1 application insights sink"
Hello, I am trying to set up a WAD configuration using 2 application insights sinks to partition some of the data we are collecting. The purpose for this is to enable customers to view some of the data but not all of it. When trying to do this however I see the following error in the VMSS's windows event logs: `Multiple Application Insights sinks defined in SinksConfig, only the first one will be

[2022-03-23 17:34] Cybertronic88 opened #90316 "Re-Add recommendation against installing Azure AD Sync on a domain controller."
I have included a link to my comment on Line 50 from June 25th 2020 where the following line was removed:

"Installing Azure AD Connect on a Domain Controller is not recommended due to security practices and more restrictive settings that can prevent Azure AD Connect from installing correctly."

[https://github.com/MicrosoftDocs/azure-docs/commit/80a0c85c90f08f1c3d5bdeee89b07a54f9a98a9c#r69373390]

[2022-03-23 17:41] KSchlobohm opened #90317 "Azure Cache for Redis Quickstart: Managed Identity"
Thanks for the guidance in this doc that helped me get started. I would like to request that this doc add a link to an article, as a next step, about how to use Managed Identity to replace my access keys. I can't find that document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1443ecf9-6c3f-c09a-e5e0-19c9d945ca7e
* V

[2022-03-23 17:49] SteveWohl commented on #90314
From: Robert J Boissy ***@***.***>
Sent: Wednesday, March 23, 2022 10:13 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Steve Wohl (Aquent) ***@***.***>; Mention ***@***.***>
Subject: [MicrosoftDocs/azure-docs] Typo (Issue #90314)

[This article has been recently edited and is in PR 192395<https://github.com/MicrosoftDocs/azure-docs-pr/pull/192395> review. The new editorial changes should go liv

[2022-03-23 17:50] nibaccam commented on #89949
@abhijit-z the pattern parameter does an exact match filter on the path and file name. Since you didn't get an error saying that your directory doesn't exists, I'm thinking the path you're filtering on in the pattern parameter isn't an exact match.

Can you verify that the file name you're referring to matches what's in your source directory and that it has the correct file extension?

[2022-03-23 17:54] jtlarson opened #90318 "Role names listed in "Manage identity" have changed"
There are multiple additions/deletions/name changes when compared to the role assignments currently offered in Azure for a lab resource.

Current list from Azure:

Lab Assistant - The lab assistant role
Lab Contributor - The lab contributor role
Lab Creator - Lets you create new labs under your Azure Lab Accounts.
Lab Operator - The lab operator role
Lab Services Contributor - The lab services con

[2022-03-23 18:00] madansr7 commented on #86638
#please-close

[2022-03-23 18:03] JamesTran-MSFT commented on #90219
@sopopa2
Thank you for the clarification! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2022-03-23 18:03] #90219 closed

[2022-03-23 18:04] MonikaReddy-MSFT commented on #90308
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-03-23 18:05] JamesTran-MSFT commented on #90284
@NelsonJAbbey
Thank you for your feedback!

Can you share some examples of what you're seeing on your end when it comes to the Contributor role definition not being correct?

[2022-03-23 18:10] aimee-littleton commented on #89827
Pricing information link has been added to the Overview section of virtual network NAT. This item can be closed as done:
https://docs.microsoft.com/en-us/azure/virtual-network/nat-gateway/nat-overview#pricing-and-sla

[2022-03-23 18:12] mike-urnun-msft commented on #90285
Thank you for your feedback! We will review and update as appropriate.

[2022-03-23 18:13] kobulloc-MSFT commented on #90294
@bhetc There are plans to increase the number of partners in the future to add more clients however we don't have any additional details that we can share for the time being.  We should note that there are some Zero Client options in the thin client device list in the documentation (looking at 10Zig and Dell, for example):

https://docs.microsoft.com/en-us/azure/virtual-desktop/user-documentation/

[2022-03-23 18:15] nachoalonsoportillo opened #90319 "Table showing distributions/versions in which ADE is supported is outdated"
Table showing distributions and versions in which Azure Disk Encryption is supported is outdated (https://docs.microsoft.com/en-us/azure/virtual-machines/linux/disk-encryption-overview#supported-operating-systems).

At least OpenLogic:CentOS:7.2n:latest doesn't exist. And there are newer versions on which ADE is probably supported but are not enumerated in that list.

---
#### Document Details

⚠

[2022-03-23 18:18] marcelofsouza1 opened #90320 "Checking requirements"
This Solution is amazing! Works very well!

But we need to add to this doc: Every real (poduction environment) project that will use Eventhub need to use at least a "standard Azure postgres instance". Using a basic instance, connectors and replication slots will not work properly. Maybe on last versions Microsoft allow using basic PG instances.  This tip will save hours for Azure customers.

---
#

[2022-03-23 18:21] JamesTran-MSFT commented on #90276
@sopelt
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

Unfortunately, we don't provide product release updates through our GitHub channels. For this, I'd recommend referring to our [Azure Updates](https://azure.microsoft.com/en-us/updates/) or [Microsoft 365 Roadmap](https://www.microsoft.com/en-us/m

[2022-03-23 18:21] #90276 closed

[2022-03-23 18:21] erik-ha-msft commented on #85412
Thank you for the feedback.

Creating an AKS cluster through the portal shows that there are no availability zones available for Canada East.

#please-close

[2022-03-23 18:21] #85412 closed

[2022-03-23 18:22] nachoalonsoportillo opened #90322 "SKU 7.2n of OpenLogic CentOS referred in the example doesn't exist any longer"
Image chosen for the example shown in step 1 of [this](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/disk-encryption-sample-scripts#steps) section should better use an existing version for that publisher+offer combination.

There is no 7.2n available in any of the regions I have peeped into.

az vm image list-skus --location westeurope --offer "CentOS" --publisher OpenLogic --query

[2022-03-23 18:23] JamesTran-MSFT commented on #90316
@Cybertronic88
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-23 18:24] spelluru commented on #90214
Thanks @mkumaramsft

I just fixed this issue to resolve https://github.com/MicrosoftDocs/azure-docs/issues/88462.

#please-close

[2022-03-23 18:24] #90214 closed

[2022-03-23 18:28] erik-ha-msft commented on #80012
Thank you for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2022-03-23 18:28] #80012 closed

[2022-03-23 18:30] mike-urnun-msft commented on #90313
Thank you for your feedback! We will review and update as appropriate.

[2022-03-23 18:40] erik-ha-msft commented on #80737
Thank you for the feedback.

As stated in the document:

At this time, we're not planning on updating the article with this information.

#please-close

[2022-03-23 18:40] #80737 closed

[2022-03-23 18:47] nikossaperas commented on #58976
I am not using Xamarin Forms, I use Xamarin iOS and your fix is still working. However, I got the "updates available"
 notification and a new version of Xamarin.iOS is included on the updates..

[2022-03-23 18:48] EMaher commented on #90318
@jtlarson, The new built-in RBAC roles you have listed apply to an upcoming update of Azure Lab Services.  Currently, the update is in private preview.  The needed changes to administrator-guide.md are already staged and will be release publicly when the update moves from private preview to public preview.

FYI - @j-martens

[2022-03-23 18:48] AaronMaxwell commented on #90245
Thanks for your dedication to our documentation. This issue has been triaged and approved. The sample code has been updated and will go live in the next 24-48 hours. #please-close

[2022-03-23 18:48] #90245 closed

[2022-03-23 18:52] SteveWohl commented on #90314
@mike-urnun-msft

Hi Mike.  PR [192395](https://github.com/MicrosoftDocs/azure-docs-pr/pull/192395) fixes this issue.

[2022-03-23 19:20] SnehaGunda commented on #89559
@filippopovic you have opened PR on the public repo: https://github.com/MicrosoftDocs/azure-docs/pull/90003. It's closed without merging because internal teams are expected to work in the private(azure-docs-pr) repo.

I created another PR in the private repo to address this: https://github.com/MicrosoftDocs/azure-docs-pr/pull/192666

[2022-03-23 19:21] SnehaGunda commented on #89559
The above change should be live by end of the day. We will close this issue now.

#please-close

[2022-03-23 19:21] #89559 closed

[2022-03-23 19:27] RyanHill-MSFT commented on #89605
I certainly understand the ask here. However, the [SearchIndexClient](https://docs.microsoft.com/en-us/dotnet/api/azure.search.documents.indexes.searchindexclient?view=azure-dotnet) object still uses an `AzureKeyCredential` which can't be directly cast to `DefaultAzureCredential`. This would be a feature request in the [SDK](https://github.com/Azure/azure-sdk-for-net/issues/new/choose) to support

[2022-03-23 19:27] #89605 closed

[2022-03-23 19:33] JoshLove-msft commented on #89976
Hi @dowdeswells,
I'm not aware of the static recommendation that you are referring to. In general, we'd recommend that these instances are reused throughout a program so perhaps you mean a "singleton"? We detail this recommendation here - https://github.com/Azure/azure-sdk-for-net/tree/main/sdk/servicebus/Azure.Messaging.ServiceBus#client-lifetime

If you are using a IHostedService, you can hook u

[2022-03-23 19:33] TiloGit commented on #82379
here my log4j2 attempt: https://gist.github.com/TiloGit/071105f053e1961146dcfe0622d1915c

[2022-03-23 19:34] #88915 closed

[2022-03-23 19:38] TiloGit commented on #90020
@SadiqhAhmed-MSFT , don't see anything about the genpassphrase or Passphrase in the document.
also don't see any change for that: https://github.com/MicrosoftDocs/azure-docs/blame/main/articles/site-recovery/vmware-physical-mobility-service-overview.md

[2022-03-23 19:39] Tchimwa commented on #77482
The DNS forwarder can be linux or Windows

[2022-03-23 19:39] bamalburg opened #90325 ""Traversal timeout" in docs says 30 seconds, but is it really 60 seconds?"
I noticed I had some Gremlin requests which took about 60 seconds before failing with a GraphTimeoutException. The docs say 30 seconds though, so maybe the docs are wrong? [or I'm misunderstanding something]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dde5b1e4-420f-2890-2de2-53c6eabfc09c
* Version Independent ID: cf

[2022-03-23 19:48] GeethaThatipatri-MSFT commented on #90325
Hi @bamalburg Thanks for your findings,We will investigate and update as appropriate

[2022-03-23 19:52] abhijit-z commented on #89949
Thanks @nibaccam I checked the name again. The letter was in caps which I missed. I executed the code with correct filename and then checked the blob storage, i can see the uploaded file.
Could you please give some link that shows example for building end azure machine learning pipeline?

[2022-03-23 19:55] SnehaGunda commented on #89055
#reassign:@SnehaGunda

[2022-03-23 19:56] SnehaGunda commented on #89055
Closing this issue now.

#please-close

[2022-03-23 19:56] #89055 closed

[2022-03-23 19:56] ChaitanyaNaykodi-MSFT commented on #90128
Hello @haoxin, since we did not hear back from you, I will now proceed to close this issue out. Please tag me in your response if you have any additional questions. Thank you!

[2022-03-23 19:56] #90128 closed

[2022-03-23 19:56] erik-ha-msft commented on #81538
Thanks for the feedback!

The article requires having the aks-preview extension as a pre-requisite.

#please-close

[2022-03-23 19:56] #81538 closed

[2022-03-23 19:57] SnehaGunda commented on #89559
#reassign: @SnehaGunda

[2022-03-23 20:03] James-Hamil-MSFT commented on #89600
Hi @omar-nav , sorry for the delay in response. Are you a global admin? In this doc: https://docs.microsoft.com/en-us/powershell/azure/create-azure-service-principal-azureps?view=azps-7.3.2 it details your error. You just need to make sure you have the proper role/permissions to do this.

[2022-03-23 20:06] MsGabsta commented on #90006
@bwren could you look into this?

[2022-03-23 20:07] James-Hamil-MSFT commented on #89600
Also, you'll most likely need to update your Graph [permissions ](https://docs.microsoft.com/en-us/graph/api/user-list?view=graph-rest-1.0&tabs=http#permissions)to User.Read.All.

[2022-03-23 20:07] GiftA-MSFT commented on #90310
@margelef we'll review your feedback and get back to you shortly. Thanks!

[2022-03-23 20:07] kcaswick opened #90328 ""Prepare a Debian VHD for Azure" references non-functional, outdated software"
The [azure-manage](https://github.com/credativ/azure-manage) tool [linked from the page](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/debian-create-upload-vhd#use-azure-manage-to-create-debian-vhds) was last updated in 2017, and does not appear to run on current versions of Debian like bullseye.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2022-03-23 20:08] GiftA-MSFT commented on #90312
@pinyuko we'll review your feedback and get back to you shortly. Thanks!

[2022-03-23 20:09] GiftA-MSFT commented on #90315
@tommyleedberg, kindly share the document you're referencing so we can assign to the appropriate team. This repo is for doc related issues. Thanks.

[2022-03-23 20:12] #90024 closed

[2022-03-23 20:16] meggarlandmsft opened #90329 "Configure B2B external collaboration settings"
Per https://docs.microsoft.com/en-us/azure/active-directory/external-identities/external-collaboration-settings-configure it seems as though Security Administrator is the least privileged role to accomplish the task "Configure B2B external collaboration settings," **not** Global Administrator. Kindly update the docs for consistency, thank you!

---
#### Document Details

⚠ *Do not edit this sectio

[2022-03-23 20:17] michaelwechner commented on #89481
Hey Sergio

Thanks again for your feedback!

I was now able to finish the implementation and it works very well now :-)

Please feel free to close the ticket in case it is still open.

All the best

Michael

Am 17.03.22 um 11:07 schrieb Sergio Correia:

[2022-03-23 20:23] santhoshb-msft opened #90330 "The table for leads is automatically generated, the docs mean something else"
The table for leads is automatically generated, the docs mean something else

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c14f046-8a16-65ac-2bb2-0740610e2b55
* Version Independent ID: 5a901ada-563e-378d-a9b8-fddd9059901b
* Content: [Lead management with Azure Table storage - Microsoft commercial marketplace](https:/

[2022-03-23 20:31] #90223 closed

[2022-03-23 20:32] tommyleedberg commented on #90315
The following document walks through setting up the WAD config to use an App Insights sink. No where in the document does it mention that only 1 AppInsights sink is allowed at a time though... I could have the wrong repo for this issue if I do could you point me to the right place for my inquery?

https://docs.microsoft.com/en-us/azure/azure-monitor/agents/diagnostics-extension-to-application-insi

[2022-03-23 20:32] kobulloc-MSFT commented on #90223
@smorasoto We've updated the code sample based on your feedback.  Thank you for helping to improve the documentation!

[2022-03-23 20:33] MarileeTurscak-MSFT commented on #90329
@meggarlandmsft
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-23 20:36] erichenson opened #90333 "Details needed on licenses"
The article says:
"Azure Active Directory Premium licenses for your tenant."

What does this mean? Does this mean your tenant needs a single P1 license? Or a P2 license? Or every user needs a P1 license?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cba137cc-67ca-2766-b436-54e3634f0c2f
* Version Independent ID: 2f185f

[2022-03-23 20:37] meggarlandmsft opened #90334 "Passthrough authentication"
Per https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-pta-quick-start, it appears that the Hybrid Identity Administrator role also allows a user to configure passthrough authentication, which is less permissive role than the highly permissive Global Administrator. Kindly update the docs, thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required

[2022-03-23 20:41] #89949 closed

[2022-03-23 20:44] meggarlandmsft opened #90335 "Seamless single sign on"
It appears that to enable seamless single sign on, per this article https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-sso-quick-start, users are able to enable it using the hybrid identity administrator role. This is a less permissive role than Global Admin, which is outlined in this doc as the "least permissive role." Kindly update the docs, thank you!

---
#### Docume

[2022-03-23 20:45] MarileeTurscak-MSFT commented on #90333
@erichenson
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-23 20:50] nibaccam commented on #85624
@yusosov or @sumitag19  we haven't heard from you in a while. If the problem continues to persist please comment here and provide the requested information from @shmahe.

We will now proceed to close this thread.
#please-close

[2022-03-23 20:55] nibaccam commented on #88712
@porrascarlos802018 did the information @mjaow provided assist? Would like confirmation before we update documentation.

[2022-03-23 20:56] nibaccam commented on #88726
@richardvlas we haven't heard from you. We will now proceed to close this thread. If you have additional questions on this topic, please comment here.

#please-close

[2022-03-23 20:56] #88726 closed

[2022-03-23 20:57] paulhaefeli opened #90338 "Service Principals limitation"
Please document the limitation that Service Principals are not supported

From a technical standpoint, what is happening here is:
1)	You acquire the access token to sign in to PostgreSQL server with resource=[https://ossrdbms-aad.database.windows.net]
2)	You then run a "grant azure_ad_user to <role>"
3)	PostgreSQL server acquires the access token for AAD Graph API using "on behalf of" flow (OBO).

[2022-03-23 21:13] kobulloc-MSFT commented on #90322
@nachoalonsoportillo Thank you for bringing this to our attention!  We are reviewing this and will get back to you shortly.

[2022-03-23 21:13] JamesTran-MSFT commented on #90334
@meggarlandmsft
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-23 21:14] KranthiPakala-MSFT commented on #90307
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-03-23 21:14] JamesTran-MSFT commented on #90335
@meggarlandmsft
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-23 21:16] kobulloc-MSFT commented on #90319
@nachoalonsoportillo Thank you for bringing this to our attention!  We are reviewing the table in the documentation and will get back to you shortly.

[2022-03-23 21:18] KranthiPakala-MSFT commented on #90311
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-03-23 21:19] KranthiPakala-MSFT commented on #90320
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-03-23 21:21] Norrch2 opened #90339 "Can We Expose Additional OIDC Claims Resolvers"
Hello,

You are already exposing most of the OIDC parameters including username and password which is awesome. We are requesting that ResponseType and ResponseMode also be added to the OIDC claims resolvers to complete the full spectrum of OIDC claims.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4fc94d79-52c2-d03a-9

[2022-03-23 21:26] SnehaGunda commented on #89557
@jovanpop-msft thank you for addressing. Closing this issue.

#please-close

[2022-03-23 21:26] #89557 closed

[2022-03-23 21:27] JimacoMS4 commented on #78066
Hi @simonfrindberg,

Sorry for the delayed response on this issue. Can I ask whether you were able to get this resolved? (Perhaps through another channel.)

Thanks,

Jimaco

[2022-03-23 21:27] yusosov commented on #85624
Hello,
what do you mean by:
would you be able to share information about **which image you are using**?
I am not an administrator of Azure or even of my account in Azure. Where am supposed to to find **which image** I am using ?

[2022-03-23 21:30] spelluru commented on #88462
Fixed. the updated article will go live in an hour.

#please-close

[2022-03-23 21:30] #88462 closed

[2022-03-23 21:32] rdq32 opened #90341 "Missing"
The webpage should have a form that is structured so you do not have to consult the documentation!!!!
You should have 2 sections. 1 that shows the customer's setup and the other that shows Azures...
Have the customer provide a /30, and then have the website show the first address of that /30 goes to customer...
Along with the ASN provided. Also display Azure's ASN on the page. NOT EVEN THE DOCUMEN

[2022-03-23 21:34] nibaccam commented on #90304
@BzSpi thank you for reporting this. The documentation has been updated and the change will go live in a couple hours.
We will now proceed to close this thread.

# please-close

[2022-03-23 21:34] #90304 closed

[2022-03-23 21:38] jeeszacharia commented on #46565
@danijam - It's not happening for me now, removed all the sessions from the technical profiles and used SM-Noop.  The solution I am working on doesn't require any session, so anyway I had to remove all the sessions so that might have fixed the issue.

[2022-03-23 21:41] KSchlobohm commented on #89605
Hi Ryan, I think we may be looking at different method overloads. In VS I see that `DefaultAzureCredential` inherits from `TokenCredential` and that satifies the other overload.

![image](https://user-images.githubusercontent.com/23503973/159800498-f3ad64fe-e2f0-4123-b983-54ac41b8217e.png)

[2022-03-23 21:41] jasperbaes opened #90342 "Typo in What If tool"
In the What If tool (in the Conditional Access service), there is a typo in the JSON object which is being sent by the Azure Portal. When submitting a What If request, the following JSON is being sent to the endpoint 'https://main.iam.ad.ext.azure.com.mcas.ms/api/Policies/Evaluate':

[code]

Here, the property '**excludeDomainJoionedDevice**' is misspelled and should be '**excludeDomainJoinedDevic

[2022-03-23 21:49] tsardaryanCamenAI opened #90343 "Firewall rules are missing in ARM template"
Firewall rules are declared as a parameter, but it's not used in ARM template itself.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b0b7c42-a6d2-d2b2-5dd2-f8752e109cde
* Version Independent ID: d016d075-2393-b7b0-4410-bef55a6792e8
* Content: [Quickstart: Create an Azure DB for PostgresSQL Flexible Server - ARM templa

[2022-03-23 21:50] yusosov commented on #85624
here is a typical log
`print(service.get_logs())`

`2022-03-23T19:02:12,132935200+00:00 - gunicorn/run
Dynamic Python package installation is disabled.
2022-03-23T19:02:12,138695300+00:00 - rsyslog/run
Starting HTTP server
2022-03-23T19:02:12,149464400+00:00 - iot-server/run
2022-03-23T19:02:12,160942600+00:00 - nginx/run
EdgeHubConnectionString and IOTEDGE_IOTHUBHOSTNAME are not set. Exiting...
2

[2022-03-23 21:55] SnehaGunda commented on #89560
@sdebruyn I added some links to the existing docs from this doc to help with discoverability. Changes will be live soon. We will close this issue now.

#please-close

[2022-03-23 21:56] #89560 closed

[2022-03-23 21:56] SnehaGunda commented on #89560
#reassign: @SnehaGunda

[2022-03-23 22:00] SnehaGunda commented on #88882
@ksclubb can you please call out the specific things that aren't working?

[2022-03-23 22:05] flang-msft commented on #88207
@RaymondBorbon Thanks for the feedback! It helps us understand what we have, and we don't have. This functionality
to "get rid of connnnection strings and use managed identities" is not available at this time. To answer your question directly,
it is not achievable this way.

It is something we’re actively looking into. Stay tuned. When it becomes available, we will note that in _What's New_.

If y

[2022-03-23 22:13] JamesTran-MSFT commented on #90339
@Norrch2
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-03-23 22:16] jcruiz commented on #73507
@damienbod doing some clean up here, back in January this year we published a sample rules file that demonstrates how to pull data from an OpenID connect provider. We also have samples for B2C as well as IDToken and IDToken hint. Let me know if this works and sorry for the delay here https://github.com/Azure-Samples/active-directory-verifiable-credentials/blob/main/CredentialFiles/IDToken/Verified

[2022-03-23 22:23] VasanthiMudunuri opened #90345 "Error - module 'fsspec_wrapper' has no attribute 'AzureBlobFileSystem"
Hi,
I am trying fsspec to read/write to adls as mentioned here in the doc

But the path 'abfs[s]://<container>/<path-to-file>' (I followed this format for my path) is not working I tried 'abfs://<container>/<path-to-file>' it says 'module 'fsspec_wrapper' has no attribute 'AzureBlobFileSystem''. what must be the issue here could someone help?

---
#### Document Details

⚠ *Do not edit this section

[2022-03-23 22:24] apeguy commented on #90186
thanks for the response it makes sense the way you have described it.
But I think the confusion on the statement needs to be clarified or re-worded on the document accordingly

thank you

[2022-03-23 22:33] YutongTie-MSFT commented on #90309
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-03-23 22:33] mike-urnun-msft commented on #90066
Hello @boris-tarasov-maersk - Within the [set of commands supported for functions](https://docs.microsoft.com/en-us/cli/azure/functionapp?view=azure-cli-latest) by Az CLI, I don't think there is one that'll let us run a `Container Registry` -> `Azure App Service` deployment. If you absolutely need to do it that way, you may have to SSH into the Docker instance run by App Service and manually execu

[2022-03-23 22:36] shmahe commented on #85624
This issue has been fixed in these base images: https://docs.microsoft.com/en-us/azure/machine-learning/concept-prebuilt-docker-images-inference

From the logs, it looks like you are using one of these images: https://github.com/Azure/AzureML-Containers/tree/master/base/cpu

We do not have an ETA on when the changes will be pushed in the images that you are using, it may be another month or so. I

[2022-03-23 22:45] SnehaGunda commented on #88391
@AnnuKumari-MSFT did you have a chance to test the series of tutorials? I personally didn't but looking at the docs, we didn't explicitly create the "SQLDB1.dbo.PassengerCountStats" table unless it's created as a part of some operation. The dedicated SQL pool and the database name are "SQLPOOL1" which doesn't match with "SQLDB1"

[2022-03-23 22:51] jcruiz commented on #73653
@Bikash2860 @BharathNimmala-MSFT we recently rollout a [new feature](https://docs.microsoft.com/en-us/azure/active-directory/verifiable-credentials/whats-new#march-2022) that allows editing the domain associated with the verifiable credential service organization. I double-checked in the new UX and the domain verification snippet remains the same as long as the new domain is not updated.

[2022-03-23 22:52] yusosov commented on #85624
Thank you for re-opening the issue !

Please clarify what you mean by **image**.
If you mean VM image, for that I have no idea how to find out what it is.
Or let me know how I can get the image name.
But it seems that the image is related to Kernel-s that I can assign.

The Kernels that are available to me are:
Python 3.6 -- AzureML
Python 3.8 -- AzureML
Python 3.8 -- AzureML Pytorch and Tensorflo

[2022-03-23 22:52] jcruiz commented on #73653
@ssivas question has been answered, we can close once @Bikash2860 confirms that it is working on his end.

[2022-03-23 22:57] mayurpuli opened #90349 "Scaling up an Azure SQL DB Elastic Pool with Fail Over Groups to different service tier is not very clear"
Hello There : I am working with a customer who has a DTU based SQL DB elastic pool (Standard Tier) with failover groups on certain databases and he is trying to scale up to vCore service tier in both primary and secondary database servers (sample representation below in the diagram)
![image](https://user-images.githubusercontent.com/3738310/159809097-808c361b-01d0-4653-8862-4dc3d455af83.png)

I wa

[2022-03-23 23:01] yusosov commented on #85624
more about **image**
to run my model on on **Compute Cluster** I use
`
model = run.register_model(model_name=model_name, model_path=model_path+'/'+modelZipFileName)
service = Webservice(name=service_name, workspace=ws)
`
I can then
`print('service=',service)` with the following output (I replaced name,subscription_id, resource_group with xxxx) :
service= AciWebservice(workspace=Workspace.create(na

[2022-03-23 23:05] yusosov commented on #85624
it looks like I have the same issue in Python 3.8 -- AzureML Pytorch and Tensorflow kernel
pls see the logs:
2022-03-23T22:59:06,807029700+00:00 - rsyslog/run
2022-03-23T22:59:06,805803000+00:00 - iot-server/run
2022-03-23T22:59:06,805813900+00:00 - gunicorn/run
Dynamic Python package installation is disabled.
Starting HTTP server
2022-03-23T22:59:06,841767400+00:00 - nginx/run
EdgeHubConnectionSt

[2022-03-23 23:08] kobulloc-MSFT commented on #90294
@bhetc We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-03-23 23:08] #90294 closed

[2022-03-23 23:10] mahoekst commented on #90153
The sample code replaces that string automatically with the host name
.NET: https://github.com/Azure-Samples/active-directory-verifiable-credentials-dotnet/blob/main/1-asp-net-core-api-idtokenhint/IssuerController.cs#L120
Java: https://github.com/Azure-Samples/active-directory-verifiable-credentials-java/blob/main/1-java-api-idtokenhint/src/main/java/com/verifiablecredentials/javaaadvcapiidtokenhi

[2022-03-23 23:12] laujan commented on #90239
Hi @AskYous,

For text translation, there is no limit as to the number of target languages, but there is a limit of 10,000 characters per request. Since the target language is part of the request query parameter, you will be limited in how many target languages you can specify by the number of characters you need to create the request URL. See [Character and array limits per request](https://docs.

[2022-03-23 23:18] yusosov commented on #85624
same issue when using **Python 3.8 -- AzureML Pytorch and Tensorflow** kernel
2022-03-23T23:16:54,719003700+00:00 - gunicorn/run
Dynamic Python package installation is disabled.
Starting HTTP server
2022-03-23T23:16:54,729570000+00:00 - iot-server/run
2022-03-23T23:16:54,779991200+00:00 - rsyslog/run
2022-03-23T23:16:54,790126000+00:00 - nginx/run
EdgeHubConnectionString and IOTEDGE_IOTHUBHOSTNAME

[2022-03-23 23:21] yusosov commented on #85624
So no matter which kernel I use, in all of them :
Python 3.6 -- AzureML
Python 3.8 -- AzureML
Python 3.8 -- AzureML Pytorch and Tensorflow
I have the same thing

I will provide a very small code to reproduce the issue tomorrow.

[2022-03-23 23:30] shmahe commented on #85624
You mentioned you are following [this doc](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-deploy-and-where?tabs=azcli), correct?

In this section, it details where to set the base image in your inference config: https://docs.microsoft.com/en-us/azure/machine-learning/how-to-deploy-and-where?tabs=azcli#define-an-inference-configuration

This issue should be independent of the kernel

[2022-03-23 23:35] GeethaThatipatri-MSFT commented on #90343
Hi @tsardaryanCamenAI Thanks for your findings, We will investigate and update as appropriate

[2022-03-23 23:37] GeethaThatipatri-MSFT commented on #90317
Hi @KSchlobohm Thanks for your findings,We will investigate and update as appropriate

[2022-03-23 23:41] GeethaThatipatri-MSFT commented on #90338
Hi, @paulhaefeli Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-23 23:42] rolyon commented on #90281
Hi @Peter-Msft
Thanks for your feedback. We've created a work item for this. I'll contact you to discuss.
thanks

[2022-03-23 23:42] rolyon commented on #90281
#please-close

[2022-03-23 23:42] #90281 closed

[2022-03-23 23:43] GeethaThatipatri-MSFT commented on #90349
Hi @mayurpuli Thanks for reaching out, We are looking into it and update you shortly.

[2022-03-23 23:46] MarileeTurscak-MSFT commented on #90333
Azure AD is always licensed per user. A proper license is required if a user benefits directly or indirectly from any feature covered by that license.

I made a pull request to update the guide to specify that at least a Premium P1 license is required for each user, but I will leave it open for review by @billmath

https://github.com/MicrosoftDocs/azure-docs-pr/pull/192709

[2022-03-23 23:46] #90333 closed

[2022-03-24 00:10] ChaitanyaNaykodi-MSFT commented on #90341
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-03-24 00:10] larrywa opened #90352 "What is the connection string supposed to look like in step 3.3 (Entity Framework)?"
[Enter feedback here]
I've tried several different styles of connection string, but get a variety of errors. What should it look like after this step?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e119045-e113-d9d1-1b5e-a87e6befe3aa
* Version Independent ID: 98fcc13e-5da6-7251-d702-d9ee07c00581
* Content: [Tutorial:

[2022-03-24 00:11] agr opened #90353 "Need details about permissions required to do slot swap"
In order to be able to set up least privileged access some details about the least privileged role that can do a slot swap would be nice to have.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f6e09089-1ae2-8943-5ce2-9d48f458c81f
* Version Independent ID: ba780cba-f604-b0a4-a81a-23c7d2384762
* Content: [Set up staging

[2022-03-24 01:27] mwherman2000 commented on #90153
Unfortunately I just tore down my VC preview environment and can no longer reproduce but I can assure you the substitution for `` (or `callback.url`) is happening.

Rereading the .NET sample code, I believe the reason is that in Line 115 (in the .NET sample) which precedes the Line 120 you referenced above, the value of `callback.url` is never null.

When `https://github.com/Azure-Samples/active-d

[2022-03-24 01:50] mwherman2000 commented on #90153
You're correct. I was able to run enough of the sample (with some added `_log.trace` statements) to see what was happening. At some point, I must have tried `http://localhost:5000`.

[2022-03-24 01:50] mwherman2000 commented on #90153
You're correct. I was able to rerun enough of the sample (with some added `_log.trace` statements) to see what was happening. At some point, I must have tried `http://localhost:5000`.

[2022-03-24 01:50] mwherman2000 commented on #90153
You're correct. I was able to run enough of the sample (with some added `_log.trace` statements) to see what was happening. At some point, I must have tried `http://localhost:5000`.

[2022-03-24 01:50] #90153 closed

[2022-03-24 02:14] j-martens commented on #90318
Thank you for your post, @jtlarson. We believe this answers your query. We will now proceed to close this issue. #please-close

[2022-03-24 02:14] #90318 closed

[2022-03-24 02:35] KrishnaG-MSFT commented on #90279
@hwjwyf [This](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions, etc.) so if issue is intended to update / correct / enhance anything in any Azure document then please elaborate your feedback and share the Azure docume

[2022-03-24 02:37] Rasukarusan commented on #38401
My solution is here.

SimpleHttpTrigger/function.json
[code]

[2022-03-24 02:42] KrishnaG-MSFT commented on #90342
@jasperbaes [This](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions, etc.) so if issue is intended to update / correct / enhance anything in any Azure document then please elaborate your feedback and share the Azure do

[2022-03-24 02:56] yut0adachi commented on #89832
@vipulsparsh Thank you. I appreciate if you let me know currently situation, and generaly how long does it take to investigate and fix.

[2022-03-24 03:47] SnehaAgrawal-MSFT commented on #90352
@larrywa Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-03-24 03:48] SnehaAgrawal-MSFT commented on #90353
@agr Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-03-24 03:51] CHEEKATLAPRADEEP-MSFT commented on #90345
@VasanthiMudunuri  Thanks for the question! We are investigating and will update you shortly.

[2022-03-24 03:52] TonySh127-ms opened #90369 "Provision deployment plan picture feedback"
[Enter feedback here]

Hi Team,

I would like to feedback this document picture seems to cause confusion. Please correct me there is any misunderstand:

![image](https://user-images.githubusercontent.com/68043042/159837687-d7dfba00-4b76-485d-b346-58162bd2ab27.png)

In above picture, the o365 is a SaaS application in the cloud which is using provisioning service. But based my experience, that is im

[2022-03-24 03:57] JoshLove-msft commented on #89918
SQL filters are evaluated on the broker, so they wouldn't be using the updated names from the client. Users would need to continue using the old names from the Microsoft.Azure.ServiceBus Message type.

[2022-03-24 04:18] Hexxagon01 opened #90370 "Deployment options for Azure Database for PostgreSQL"
Hi, I just read the article on the three deployment levels or options for Azure Database for PostgreSQL and I am totally shocked, because for the last 4 months, I studied and believed that there were only two. On the Microsoft-learning webpage for preparing to take the DP-900 exam:
'https://docs.microsoft.com/en-us/learn/modules/explore-provision-deploy-relational-database-offerings-azure/3-azure-

[2022-03-24 04:25] SwathiDhanwada-MSFT commented on #90330
@santhoshb-msft Thanks for your comment. We will review the issue and get back to you shortly.

[2022-03-24 04:28] mike-urnun-msft commented on #90058
Since we haven't heard back, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-03-24 04:28] #90058 closed

[2022-03-24 04:29] mohamedsaif opened #90371 "AKS has incorrect target permission"
Thanks for the guide.

This documentation state that "Azure Kubernetes Service Cluster User Role" is the target permission for AKS clusters, but the correct target permission is "Azure Kubernetes Cluster Admin Role"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8916b6f5-e73b-c333-1fba-a3c338e1cef4
* Version Independen

[2022-03-24 04:49] jcr010910 commented on #85414
@SatishBoddu-MSFT
we are end of Q1
any update on this one?

[2022-03-24 04:51] amanmcse commented on #90369
@TonySh127-ms Thank you for your feedback. We will investigate and update the thread further.

[2022-03-24 04:56] SadiqhAhmed-MSFT commented on #90020
@Sharmistha-Rai Updates aren't reflecting. Could you please look into this?

[2022-03-24 05:26] Sharmistha-Rai commented on #90020
@SadiqhAhmed-MSFT and @TiloGit - have reopened and closed the branch again. It should work now.

[2022-03-24 05:36] lipalath-ms opened #90372 "The connection was inactive for more than the allowed 60000 milliseconds and is closed by container"
The connection was inactive for more than the allowed 60000 milliseconds and is closed by container '9b67b4ea-a9e6-4d1d-971f-e3604ef26916'. The connection was inactive for more than the allowed 60000 milliseconds and is closed by container '9b67b4ea-a9e6-4d1d-971f-e3604ef26916'.

How do I fix this error?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2022-03-24 05:36] amanmcse commented on #90369
@TonySh127-ms I agree, the image needs to be corrected. I've assigned the issue to the author to update it.

[2022-03-24 05:41] SwathiDhanwada-MSFT commented on #90274
@hanchoi Glad to know it helped. As there are no further documentation changes, we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2022-03-24 05:41] #90274 closed

[2022-03-24 05:50] athamala opened #90373 "Embedded image phone-sign-in-microsoft-authenticator-app.png is too large"
Embedded image is too large. It could be resized.

image url: https://docs.microsoft.com/en-us/azure/active-directory/authentication/media/howto-authentication-passwordless-phone/phone-sign-in-microsoft-authenticator-app.png

image size: 3860x2475 px
content-length: 7362338

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2022-03-24 05:57] SatishBoddu-MSFT commented on #85414
@asudbring Could you please help with this issue!

[2022-03-24 06:06] AnuragSharma-MSFT commented on #90370
@Hexxagon01 Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-03-24 06:07] AnuragSharma-MSFT commented on #90117
@chaisen2006 Awaiting your response on this.

[2022-03-24 06:07] AnuragSharma-MSFT commented on #90196
@cveld Awaiting your response on this.

[2022-03-24 06:25] SnehaAgrawal-MSFT commented on #89929
@kirilvalev Apologies for late response here! Just to confirm if you are using Microsoft Store application then you need to use the [package SID](https://docs.microsoft.com/en-us/previous-versions/azure/app-service-mobile/app-service-mobile-dotnet-how-to-use-client-library#package-sid) as the URI instead.

Going through [mentioned steps ](https://docs.microsoft.com/en-us/azure/app-service/configur

[2022-03-24 06:39] chaisen2006 commented on #90117
@AnuragSharma-MSFT : I would get hold of those in couple of weeks :( . We would get Dynamo DB Json

[2022-03-24 06:46] damienbod commented on #73507
@jcruiz Looks great

[2022-03-24 06:47] #73507 closed

[2022-03-24 06:58] francisferreira commented on #69949
How is it possible that we still don't have clarification on this?

@jdevalk2 I don't think 'no zone' = 'zone redundant'. Why would that be? Doesn't make sense having multiple nomenclature for the exact same architecture. 'no zone' most likely means your resources are created in a random availability zone within the target Azure Region. But yeah, only MS would be able to give us a final answer for

[2022-03-24 07:21] AnuragSharma-MSFT commented on #90117
@chaisen2006 Thanks for replying back. For now we will proceed to close this thread and once we have the data/json we can reopen this issue or we can create a new issue and discuss there. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2022-03-24 07:21] #90117 closed

[2022-03-24 07:57] ssivas commented on #89136
Thanks for bringing this to our attention.

Yes, All Microsoft support and development for ADAL, including security fixes, ends in December, 2022 and [here detailed guidance](https://docs.microsoft.com/azure/active-directory/develop/msal-migration#how-to-migrate-to-msal) on how to migrate to MSAL. However, I will work with content author to get this updated in this article. Thanks.

[2022-03-24 07:58] tunc-ay opened #90375 "Re-branding"
The company has re-branded. Its name is changed into "Invicti"
Source: https://www.invicti.com/blog/news/netsparker-is-now-invicti-new-era-modern-application-security/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ce21e36-7f65-78ce-1aec-babd5e6473e2
* Version Independent ID: 74a91f1a-f97a-6c7d-0daf-6266b58b6fa9
* Con

[2022-03-24 08:01] AnuragSingh-MSFT commented on #90244
@festivus, thank you for your query. In Azure portal, on the "API Access" option in Application Insights resource, the `Help` link points to the documentation for [Azure Monitor Log Analytics API Overview](https://docs.microsoft.com/en-us/azure/azure-monitor/logs/api/overview). This contains information about using the Azure AD for authentication and using the API.

![image](https://user-images.gi

[2022-03-24 08:02] ssivas commented on #89411
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2022-03-24 08:02] #89411 closed

[2022-03-24 08:10] vibhaskashyap opened #90376 "Precise explanation of Azure SQL DB connectivity. Rohit Nayak video helped resolving my connectivity issue. Thanks a lot !!"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3102127-3223-8b70-a029-bbc33fea53d6
* Version Independent ID: 0bd59bd9-753b-39c9-c773-e8c2a0e086e7
* Content: [Network Access Controls - Azure SQL Database & Azure Synapse Analytics](https://docs.microsoft.com/en-us/azure/azure-sql/database/network-a

[2022-03-24 08:12] slavizh opened #90377 "Clarification on "There is currently an issue with Kusto queries that prevents data from being retrieved from load balancer logs.""
Where is this known issue tracked?
Is there some timeline for resolving it?
Shouldn't be such issue tracked via Service Health?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ef8318b-fcb3-e9e6-4522-b6bc46e28c8e
* Version Independent ID: ebcb2253-31a7-e3e6-d177-ba9f79b7d37a
* Content: [Monitoring Azure Load Balancer](h

[2022-03-24 08:28] SwathiDhanwada-MSFT commented on #90328
@kcaswick Thanks for your comment. We will review the issue and get back to you shortly.

[2022-03-24 08:29] euchungmsft opened #90378 "Outdated SDK version numbers in the sample code"
[Enter feedback here]

Hi Team,

I know you guys are busy and product release cycle might be different from the SDKs and doc site contents. But in the sample code in this page, it looks it's way too outdated

![image](https://user-images.githubusercontent.com/20915976/159873112-df3274bb-0218-492e-b5d3-25fdd4d98c52.png)

![image](https://user-images.githubusercontent.com/20915976/159873370-7e62d128

[2022-03-24 08:49] aralvar opened #90379 "Please include Windows 2022 as supported Windows OS"
Accelerated Networking is also supported in Windows 2022

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbfe1f3b-01da-a475-8dee-15f628bd7e17
* Version Independent ID: 4315f677-aa2b-b82c-8491-634dfb3fc11e
* Content: [Accelerated Networking overview](https://docs.microsoft.com/en-us/azure/virtual-network/accelerated-netw

[2022-03-24 09:10] SnehaAgrawal-MSFT commented on #90143
@boris-tarasov-maersk Thanks for asking question! To elaborate on this, you may want to know that When you deploy your web app to [Azure App Service](https://docs.microsoft.com/en-gb/azure/app-service/overview), you can use a separate deployment slot instead of the default production slot when you're running in the Standard, Premium, or Isolated App Service plan tier.
Note that the Deployment slot

[2022-03-24 09:21] NelsonJAbbey commented on #90284
Hi James -- "Grants full access to manage all resources," It doesnt really do that? Cant update storage, and do a lot of other things. That is my issue...

[2022-03-24 09:31] #90226 closed

[2022-03-24 09:32] PetrutOPopescu commented on #90345
Same problem on my side, couldn't find a fix. Maybe the fsspec version has changed?

[2022-03-24 09:57] AnuragSharma-MSFT commented on #90376
@vibhaskashyap Thanks for your feedback. It seems this is an appreciation post for Rohit for the great explanation he provided. Thanks @rohitnayakmsft

Please let us know if you have any other queries or else we can close this thread..

[2022-03-24 10:05] amanmcse commented on #90375
@tunc-ay Thank you for your feedback. We will investigate and update the thread further.

[2022-03-24 10:06] amanmcse commented on #90373
@athamala Thank you for your feedback. We will investigate and update the thread further.

[2022-03-24 10:10] ConstantGH opened #90381 "Add Logic app Enable text"
For good measure add the action "In the overview pane for the logic app, select Enable." to all paragraphs. It's not included in the sequencing and autostop steps.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 472a3f66-eb6d-4699-5a5d-558b69c60b4f
* Version Independent ID: 9529161c-f2b8-0c5b-e62a-dcee86601d47
* Content

[2022-03-24 10:16] lorenzomsft opened #90383 "Sysprep supported scenarios"
Hello team,
in the page, "Windows" paragraph, "Important" section, last line:

**_We do not support custom answer file in the sysprep step, hence you should not use the "/unattend:answerfile" switch with your sysprep command._**

1. Can you please make this statement more visible? It's hard to note, and as a consequence customers a lot of time do not follow it.
2. it only mentions non-supported sc

[2022-03-24 10:19] CHEEKATLAPRADEEP-MSFT commented on #90372
@lipalath-ms  Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2022-03-24 10:22] dknappettmsft commented on #90228
#please-close

[2022-03-24 10:22] #90228 closed

[2022-03-24 10:32] lewischeng-ms commented on #10180
Hello @KaavyaTamil , ConnectUsingManagedIdentity is not a native property in SQL connection string supported by OLE DB driver or ADO.NET provider. It's a property that must be set on your ADO.NET/OLE DB connection manager rather than in connection string. You could just happen to hit one implementation trick that makes your OLEDB connection string to work but you should always refer to https://doc

[2022-03-24 10:57] batamig commented on #87607
Hi - I'm just coming in to close some legacy items. Thanks again for your contributions!
#please-close

[2022-03-24 10:57] #87607 closed

[2022-03-24 10:59] batamig commented on #85510
Hi, I'm reassigning this to myself as the new content owner for Defender for IoT.
We're going to research this and add it to our backlog if it doesn't have a quick fix. We appreciate your contributions.
#reassign:batamig

[2022-03-24 10:59] PRMerger6 commented on #85510
GitHub user shhazam-ms has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2022-03-24 10:59] batamig commented on #84542
Hi, I'm reassigning this to myself as the new content owner for Defender for IoT.
We're going to research this and add it to our backlog if it doesn't have a quick fix. We appreciate your contributions.
#reassign:batamig

[2022-03-24 10:59] batamig commented on #81925
Hi, I'm reassigning this to myself as the new content owner for Defender for IoT.
We're going to research this and add it to our backlog if it doesn't have a quick fix. We appreciate your contributions.
#reassign:batamig

[2022-03-24 10:59] batamig commented on #80248
Hi, I'm reassigning this to myself as the new content owner for Defender for IoT.
We're going to research this and add it to our backlog if it doesn't have a quick fix. We appreciate your contributions.
#reassign:batamig

[2022-03-24 11:00] batamig commented on #77049
Hi, I'm reassigning this to myself as the new content owner for Defender for IoT.
We're going to research this and add it to our backlog if it doesn't have a quick fix. We appreciate your contributions.
#reassign:batamig

[2022-03-24 11:00] PRMerger5 commented on #77049
GitHub user shhazam-ms has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2022-03-24 11:01] GitaraniSharma-MSFT commented on #90379
@aralvar , thank you for your feedback. We'll review this and get back to you shortly!

[2022-03-24 11:01] batamig commented on #75259
Hi, this looks like an old issue that's no longer relevant.
As such, I'm going to close this issue, but feel free to continue commenting as needed.
Thank you for your contributions to docs!
#please-close

[2022-03-24 11:01] #75259 closed

[2022-03-24 11:01] batamig commented on #74228
Hi, I'm reassigning this to myself as the new content owner for Defender for IoT.
We're going to research this and add it to our backlog if it doesn't have a quick fix. We appreciate your contributions.
#reassign:batamig

[2022-03-24 11:01] PRMerger16 commented on #74228
GitHub user shhazam-ms has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2022-03-24 11:01] batamig commented on #66558
Hi, I'm reassigning this to myself as the new content owner for Defender for IoT.
We're going to research this and add it to our backlog if it doesn't have a quick fix. We appreciate your contributions.
#reassign:batamig

[2022-03-24 11:02] batamig commented on #64536
Hi, I'm reassigning this to myself as the new content owner for Defender for IoT.
We're going to research this and add it to our backlog if it doesn't have a quick fix. We appreciate your contributions.
#reassign:batamig

[2022-03-24 11:07] batamig commented on #63593
Hi, I'm reassigning this to myself as the new content owner for Defender for IoT.
We're going to research this and add it to our backlog if it doesn't have a quick fix. We appreciate your contributions.
#reassign:batamig

[2022-03-24 11:07] PRMerger15 commented on #63593
GitHub user shhazam-ms has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2022-03-24 11:15] ilikeyi opened #90385 "If you really don't let it go, don't let it go, is it fun to fool?"
https://docs.microsoft.com/en-us/azure/virtual-desktop/language-packs

Are you the cheating department?

I waited for two months, and finally got it, and it turned out to be all wrong when I opened it.

![shift fuck ms](https://user-images.githubusercontent.com/73377514/159904729-a6a86f6c-92ef-4aad-b13b-58bd4d0b566e.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2022-03-24 11:18] RBVieira opened #90386 "HTTP trigger C# script"
When I create an HTTP trigger through the portal the following directives/references are included automatically:

#r "Newtonsoft.Json"

using System.Net;
using Microsoft.AspNetCore.Mvc;
using Microsoft.Extensions.Primitives;
using Newtonsoft.Json;

Why Newtonsoft.Json is put two times? With "using" and with "#r". What is the difference?

[Enter feedback here]

---
#### Document Details

⚠ *Do not

[2022-03-24 11:19] PriyankaRudramaina commented on #90385
Hello @ilikeyi,,
Thank you for your feedback. I am currently reviewing the content on this document. I will investigate the issue and work with the content author to update the document with correct details. Please standby while I get back to you.

[2022-03-24 11:20] dkboon01 commented on #88206
Thank you for the help that worked

[2022-03-24 11:20] #88206 closed

[2022-03-24 11:23] #90254 closed

[2022-03-24 11:29] VasanthiMudunuri commented on #90345
I even tried pandas way to read/write data but still the same error 'fsspec_wrapper' has no attribute AzureBlobFileSystem. I am trying the same format for my path with required container name and path to file - abfs://<container>/<path-to-file> its not working.

[2022-03-24 11:35] PriyankaRudramaina commented on #90383
Hello @lorenzomsft,

Thank you for your feedback. We will investigate and update the thread further.

[2022-03-24 11:47] ssivas commented on #90375
@tunc-ay  Thanks for bringing this to our attention. I have assigned this to content author who can help us in this matter. Thanks.

[2022-03-24 11:57] lstejl commented on #62398
The documentation has not been updated yet.
I have used so much time figuring this out.

When I called:
https://login.microsoftonline.com/contoso.onmicrosoft.com/v2.0/.well-known/openid-configuration
there was no error.

But when I called:
https://login.microsoftonline.com/<my tenantname>.onmicrosoft.com/v2.0/.well-known/openid-configuration
I got errorcode 400.

Finally I tried with:
https://logi

[2022-03-24 12:07] gleidsongmsft opened #90387 "Need to insert Search service IP address in the Storage firewall"
In this section
https://docs.microsoft.com/en-us/azure/search/search-howto-managed-identities-data-sources?tabs=portal-sys%2Cportal-user#allow-firewall-access
For same-region connections to Azure Blob Storage or Azure Data Lake Storage Gen2, use the [trusted service exception](https://docs.microsoft.com/en-us/azure/search/search-indexer-howto-access-trusted-service-exception) to admit requests.

T

[2022-03-24 12:25] VasanthiMudunuri commented on #90345
@PetrutOPopescu I tried adding the latest version of fsspec in requirement.txt file as fsspec==2022.2.0 but that job failed. How to add the latest version in packages could you please let me know the steps. Thank you for taking time to respond.

[2022-03-24 12:46] PetrutOPopescu commented on #90345
@VasanthiMudunuri  just put fsspec without ==....  because it will fetch automatically what it needs

[2022-03-24 12:47] robert4os opened #90389 "wrong curl syntax"
Hi,

it has to be "curl -n -X ..." nad NOT "curl -X -n ...".

The order of arguments matters. The example given on this doc, does not work as is.

best, Robert

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb833fb7-abf9-432d-ab67-8b94c445407d
* Version Independent ID: 082b9e2c-aabd-1ff2-6782-1014ecfaa5ba
* Content: [I

[2022-03-24 12:49] robert4os commented on #90389
'GET' is also missing in the example code of this pages. So all in all it has to be
'curl -n -X GET https://...'

[2022-03-24 12:57] sandervandevelde commented on #66558
Hello @batamig , I forgot about this one already :-)

Please reach out if I can be of service to you.

[2022-03-24 13:01] kengaderdus commented on #84595
Hi @boylec

Thank you for your feedback and patience. We've noted the discrepancy, and we'll work to address that. We've opened a work item to track this issue internally, so we'll close this issue. If you've any queries, please let us know. #please-close.

[2022-03-24 13:01] #84595 closed

[2022-03-24 13:09] VasanthiMudunuri commented on #90345
@PetrutOPopescu I tried it twice but the SystemReservedJob-LibraryManagement is failing with below error. [plugins.****.systemreservedpool-librarymanagement.5 WorkspaceType:<Synapse> CCID:<****>] [Monitoring] Livy Endpoint=[https://hubservice1.***]. Livy Id=[0] Job failed during run time with state=[dead].
I am not sure if this is environment issue as I don't see any issue with adding package it s

[2022-03-24 13:11] PetrutOPopescu commented on #90345
@VasanthiMudunuri  don't know what to say. maybe try to remove the whole configuration file to see if it works

[2022-03-24 13:27] kengaderdus commented on #85614
@xrousseau
Thank you for your contribution and patience. We've made the change. This issue may be closed before the change go live.

[2022-03-24 13:48] cveld commented on #90196
@AnuragSharma-MSFT Thanks for the links! Those all seem related to the single resource constraints, not related to the subscription quotas. We are really looking for means to inspect the current subscription quotas on SQL Server resources.

[2022-03-24 13:50] ck-muc opened #90391 "Page is incomplete in several areas and needs a review"
The page has inconsistencies between the pictures and the text.
For example, the text under https://docs.microsoft.com/en-us/azure/azure-monitor/agents/data-sources#azure-service-health refers to _Activity _Logs_ and _Azure Monitor  Logs_ as destinations for _Azure Service Health_ however, the drawing above is showing _Logs_, _Activity Log_, _Storage_, and _Event Hub_ as destination.
In addition,

[2022-03-24 13:59] jkbryan opened #90392 "Please provide documentation on how to manage approvers within the POSH examples"
I have been trying to script the creation of PIM policies, I am failing when it comes to add an approver.

Looking at the role's settings once an approver is set, I can see that component's state in the policy, e.g.:

ApprovalRule           {"Enabled":true,"IsCriteriaSupported":true,"Approvers":[{"Id":"<GUID>","Type":"User","DisplayName":"Joe Bloggs","PrincipalName":"","Email":"jbloggs@joe.com"}],

[2022-03-24 14:00] MonikaReddy-MSFT commented on #90074
@Leonardo-Ferreira - Yes, we need to open the firewall.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-03-24 14:00] #90074 closed

[2022-03-24 14:03] ThomasSaintThomas opened #90393 "Can't read column contents"
[Hello, the info in the last column is cut off]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c245452-161d-89a1-c026-99a0721cf071
* Version Independent ID: 16dec59a-eb83-1837-4efd-4645e7aeaed2
* Content: [Product names and service plan identifiers for licensing - Azure AD](https://docs.microsoft.com/en-us/azure/activ

[2022-03-24 14:06] AminAvan opened #90394 "What kind of data types can we store on Azure Confidential Ledger?"
Hi everyone,

Does the Azure Confidential Ledger support the image, audio, and video data types?

Regards,
Amin

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 756d7e9d-e984-8189-75e4-0e08b26c114a
* Version Independent ID: de71656d-4c71-cf7f-632e-695c018c9644
* Content: [Microsoft Azure confidential ledger overview](htt

[2022-03-24 14:18] kengaderdus commented on #86750
#reassign vipulsparsh

[2022-03-24 14:23] ravriel opened #90395 "The projection positional operator $ does not behave as documented"
The projection positional operator $ does not behave as documented in [https://www.mongodb.com/docs/manual/reference/operator/projection/positional/](https://www.mongodb.com/docs/manual/reference/operator/projection/positional/)

**Specifically, it does not return the first element that matches the query condition on the array.**

For example:
[code]
The following query with projection positional

[2022-03-24 14:26] airtank20 opened #90396 "Include Minor Version details"
V10 is the latest major version however the version numbers also include the minor levels.  I had to physically download the file to determine that the version I had running elsewhere was behind.  I wasn't able to easily identify what the exact current version of azcopy.

After downloading, I was able to find the information via the releases section in GitHub, so maybe include a link to that repo

[2022-03-24 14:26] Nicholak-MS commented on #90393
Hi @ThomasSaintThomas

This is a real estate limitation due to the size/width of the table. The information is not actually cut off but does require scrolling to the right to see it. You can do this in a couple of ways. 1. If you click your cursor on the table itself you can use the left:right arrow keys on your keyboard to move back and forth. 2. if your mouse scroll wheel allows for left right n

[2022-03-24 14:33] meggarlandmsft opened #90397 "Least privileged roles for combined registration method"
Per this article on enabling combined registration, https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-registration-mfa-sspr-combined, the User Administrator role can be used to enable combined registration. User Administrator is a lower privileged role as compared to Global Administrator. Kindly update the docs so that the correct least privileged role is aligned to the

[2022-03-24 14:35] #53986 closed

[2022-03-24 14:39] #87426 closed

[2022-03-24 14:43] JorgenSQ commented on #32472
Did you figure out how to remove them? Kinda SUPER annoying.

[2022-03-24 14:44] RicardoNiepel opened #90398 "Make it clearer if manual Cordon/Drain is requried if AKS node pool is deleted"
Make it clearer if manual Cordon/Drain is requried if AKS node pool is deleted.

Many customers are expecting that Azure is taking care of this, if the Azure portal / CLI is used to delete a AKS node pool.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5b5876c-adc5-d81c-6ef7-0f376bb58ff7
* Version Independent ID: 0746

[2022-03-24 14:48] JamesTran-MSFT commented on #90397
@meggarlandmsft
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-24 14:53] ShaneOsborne opened #90399 "User should be directed to Linked services not Managed private endpoints"
Documentation describes going to Manage Private Endpoints to create a new Linked Service which is incorrect, for Step 1

https://docs.microsoft.com/en-us/azure/data-factory/tutorial-managed-virtual-network-on-premise-sql-server#create-a-linked-service-and-test-the-connection

User should be directed to

Go to the Manage tab and then go to the Linked services section.

Thanks

Shane

---
#### Docum

[2022-03-24 14:54] daemel opened #90400 "Add links to FHIR and DICOM service installs."
At the bottom of the page the next steps are to deploy a FHIR service but there is no link to that content
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1834aa06-4671-345e-cb64-ebde46345856
* Version Independent ID: 3af33dcf-7266-a70f-e0ef-d603ebb3e03c
* Content: [Deploy workspace in the Azure po

[2022-03-24 14:56] #89827 closed

[2022-03-24 14:57] meggarlandmsft opened #90401 "Update least privileged roles for creating Azure AD domain services instance and deleting all existing app passwords"
Per https://docs.microsoft.com/en-us/azure/active-directory-domain-services/tutorial-create-instance#:~:text=%20To%20launch%20the%20Enable%20Azure%20AD%20Domain,to%20which%20the%20managed%20domain%20should...%20See%20More., the least privileged role to create an Azure AD domain services instance is combination of Application Administrator and Groups Administrator. These roles are more least privil

[2022-03-24 14:59] ShaneOsborne commented on #90399
Have created a pull request for this
https://github.com/MicrosoftDocs/azure-docs/pull/90402

[2022-03-24 15:02] kengaderdus commented on #87042
@ncarandini

Thank you for your patience.

What app type are you using?

For example, that tutorial you've shared in this issue is for registering a web app, which is not a single-page app(SPA). There is a note in that tutorial, which gives you a link to a doc with steps for registering an SPA.

So, for instance, if you're registering an SPA, you must select SPA in the drop-down, and then:

- Don'

[2022-03-24 15:12] liupuibm opened #90404 "[Always on VPN] after rebooting, the VPN connection is not automatically restored."
[Enter feedback here]
Step 8 is not working.
---> If the connection succeeds, reboot the computer. The tunnel will connect automatically.

I followed the instructions and everything works fine until step 8: After rebooting the computer, the tunnel is NOT connected automatically. I had to run "rasphone" and then connect manually.

The details are available in ICM https://portal.microsofticm.com/imp

[2022-03-24 15:12] #68715 closed

[2022-03-24 15:15] aszego opened #90405 "RoleBindings need UPN for users"
The docs don't talk about RoleBindings vs. single users, and because groups need object ID, one would falsely assume that the same is true for users - except that they require UPN.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84495e76-eca6-ddc9-989f-01c844aaa29d
* Version Independent ID: de2a46f6-59c7-f4bd-c409-ea8d0

[2022-03-24 15:22] asudbring commented on #85414
#reassign:@ivapplyr

[2022-03-24 15:29] shainw commented on #87926
@JamesTran-MSFT - Any update on this one, we have another large customer asking for this documentation.

[2022-03-24 15:38] NickSpag opened #90408 "Azure Managed Applications: Service catalog size limits and other feedback"
I've selected this page for the feedback, but it could apply to other areas.

#### Service Catalog Managed Applications: General Size Limit
 From what I can glean, an Azure Managed Application has a 120MB size limit when deployed via service catalog definition, which is easy to hit when deploying services with their code packaged in. This was only discovered when hitting the limit in the CLI. The

[2022-03-24 15:51] vlad-kozlov opened #90410 "referenced github repo with HDI releases misses latest releases"
In the article
"For additional release notes on the latest versions of HDInsight, see [HDInsight release notes](https://docs.microsoft.com/en-us/azure/hdinsight/hdinsight-release-notes)[](https://docs.microsoft.com/en-us/azure/hdinsight/hdinsight-component-versioning#versioning-considerations)."
after following the link, the latest release listed there is 2021-07-27, however, there were 2 more rel

[2022-03-24 15:51] tlisiecki opened #90411 "Incorrect parametes used in Get-AzPrivateEndpointConnection invocations"
Hi,

I believe ServiceName should be used in the examples instead of Name in Get-AzPrivateEndpointConnection calls.
_ServiceName_ refers to PrivateLinkService we want to query for the PrivateEndpointConnections while the _Name_ refers to a particular PrivateEndpointConnection. PrivateEndpointConnections cannot be queried without specifying the PrivateLinkService instance.

---
#### Document Detail

[2022-03-24 15:56] smithers54 opened #90413 "Misleading information on HTTP2 support"
The document states that HTTP2 is natively supported without any user action. This however is for front-end only and isn't specified in this section:

https://docs.microsoft.com/en-us/azure/application-gateway/features#websocket-and-http2-traffic

We know that user action is needed to enable http2 back-end support found here:

https://docs.microsoft.com/en-us/azure/application-gateway/configuratio

[2022-03-24 16:04] SnehaAgrawal-MSFT commented on #90400
@daemel Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-03-24 16:06] SnehaAgrawal-MSFT commented on #90387
@gleidsongmsft Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-03-24 16:10] AbbyMSFT commented on #87238
#please-close

[2022-03-24 16:23] hallihan commented on #59677
@msrini-MSFT Can you address this, or make a suggested change?  I have seen you address this [separately in the forums](https://social.msdn.microsoft.com/Forums/en-US/eaa3c295-24b8-497d-b315-1388b2a8b3dd/disable-ipv6-on-azure-vm?forum=WAVirtualMachinesVirtualNetwork).

#assign: @msrini-MSFT

[2022-03-24 16:27] Theyssens commented on #35298
https://www.windowstechupdates.com/azure-application-gateway-chain-issues-incorrect-order-contains-anchor/

[2022-03-24 16:27] tfitzmac commented on #90301
@diegodct - thanks for this feedback. You can ignore the warning about the schema not loading. I will add a note about that.

[2022-03-24 16:28] abhijit-z opened #90414 "Can I select multiple cells in the notebook?"
[I am struggling to find a way to select multiple cells in the azure machine learning notebook. I can find options to move cell up or down but I cannot find any option to select multiple cells. Can anyone please share a way to do that if possible?]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25d37573-7e5e-f808-2dce-

[2022-03-24 16:32] GiftA-MSFT commented on #90371
@mohamedsaif we'll review your feedback and get back to you shortly. Thanks.

[2022-03-24 16:35] HeidiSteen commented on #90387
@gleidsongmsft can you confirm that Azure Storage and Cognitive Search are in the same region?  I'll test this again, but as I recall, I had to use either trusted exception or resource exception (in preview).  Setting up an inbound rule didn't work for me if both services are in the same region, and I think that's a know limitation of Azure Storage (not specific to Cognitive Search).

[2022-03-24 16:36] GiftA-MSFT commented on #90394
@AminAvan, kindly share the document you're referencing so we can assign to the appropriate team. This repo is for doc related issues. Thanks.

[2022-03-24 16:38] AnuragSharma-MSFT commented on #90196
@cveld Thanks for replying back. Please refer to below screenshot and link for more details:

<img width="439" alt="image" src="https://user-images.githubusercontent.com/66360845/159965988-42cbabfd-a29a-4e9c-bf36-91b3dd73e6ed.png">

[Logical server limits](https://docs.microsoft.com/en-us/azure/azure-sql/database/resource-limits-logical-server)

Please let us know if this helps.

[2022-03-24 16:42] alexszym commented on #89951
@SnehaGunda I'm adding the packages to the workspace and then to the spark pool from the ones i've added to the workspace. I don't believe I'm using the Data lake storage path solution. The documentation for me is lacking as to what would happen when i have the following packages in the spark pool:

- dependencies-0.1.0-py3-none-any.whl
- dependencies-0.2.0-py3-none-any.whl
- dependencies-0.3.0-py

[2022-03-24 16:43] MarileeTurscak-MSFT commented on #90401
@meggarlandmsft
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-24 16:45] tfitzmac commented on #90301
The update will get published later today.
#please-close

[2022-03-24 16:46] PAOLT opened #90415 "The source in the quickstart fails to load..."
[Enter feedback here]
When running the quick-start and creating a new source (URL https://download.microsoft.com/download/7/B/1/7B10C82E-F520-4080-8516-5CF0D803EEE0/surface-book-user-guide-EN.pdf), it fails and it provides no reasons for the failre (i.e., "bad argument - Failed to extract QnAs from the source").

Two problems here:
- the quickstart shouldn't fails
- failures should provide some re

[2022-03-24 16:55] GiftA-MSFT commented on #90415
@PAOLT we'll review your feedback and get back to you shortly. Thanks.

[2022-03-24 16:56] vdimov-gcmlp opened #90416 "Custom skill pointing to Azure Function via System Managed Identity get Unauthorized"
Cognitive Search (CS) indexer is unable to enrich documents calling Azure Function (AF) endpoint. The AF is setup with EasyAuth and AppRoles to enforce authentication and the indexer's system managed identity is given permissions to execute the AF endpoint (a parallel setup to ensure AppRoles are effective is setup and working fine). Upon execution the following error message is returned:
[code]

[2022-03-24 16:58] JamesTran-MSFT commented on #90284
@NelsonJAbbey
Thank you for following on this!

- Can you share specifically what updates you aren't able to do?
- What aren't able to manage with the Contributor role?

Depending on the [Scope](https://docs.microsoft.com/en-us/azure/role-based-access-control/overview#scope) that your user has, that's assigned the Contributor Role, you should have full access to manage all resources.
![image](http

[2022-03-24 17:06] JamesTran-MSFT commented on #90334
@meggarlandmsft
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2022-03-24 17:08] HeidiSteen commented on #90416
The doc updates are queued for publishing.  Sorry about the disjointed experience.  I'll circle back as soon as the edits are live.  The page that you'll want to look at is this one:  https://docs.microsoft.com/en-us/azure/search/cognitive-search-custom-skill-interface#set-the-endpoint-and-timeout-interval

[2022-03-24 17:09] vdimov-gcmlp opened #90420 "Custom Skill calling Azure Function with EasyAuth"
The Azure Function example uses `?code` host key. What is the setup necessary to use System Managed Identity of EasyAuth enabled Azure Function?

System Managed Identity should is supported but setup is unclear: [documenation](https://docs.microsoft.com/en-us/azure/search/search-howto-managed-identities-data-sources?tabs=portal-sys%2Cportal-user)

---
#### Document Details

⚠ *Do not edit this sec

[2022-03-24 17:11] AminAvan commented on #90394
Hi,

There is a service named "[Microsoft Azure confidential ledger](https://docs.microsoft.com/en-gb/azure/confidential-ledger/overview)", I want to know the Azure Confidential Ledger is able to keep the image, video, audio data types?

If there is a more related "repo" for my question, please let me know?

Thanks

[2022-03-24 17:11] HeidiSteen commented on #90416
I don't know if this will unblock you, but the parameter in the custom skill is "authResourceId"
"@odata.type": "#Microsoft.Skills.Custom.WebApiSkill",
"description": "This skill has a 230 second timeout",
"uri": "https://[your custom skill uri goes here]",
"authResourceId": "[for managed identity connections, your app's client ID goes here]",
"timeout": "PT230S",

The format of the client ID is d

[2022-03-24 17:13] HeidiSteen commented on #90416
When the authResourceId property is detected, the indexer/skillset knows to use a managed identity.

[2022-03-24 17:16] gleidsongmsft commented on #90387
I @HeidiSteen , yes I can confirm, the both resources are in the same region.
For system-assigned is working fine only use "Allow Azure services on the trusted services list to access this storage account.
".
For user-assigned we also need to allow the search service IP address in the Storage firewall.

[2022-03-24 17:16] JamesTran-MSFT commented on #90397
@meggarlandmsft
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.
![image](https://user-images.githubusercontent.com/36619112/159972711-45f5873a-34fe-4247-a0db-69f6483a1080.png)

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for you

[2022-03-24 17:16] #90397 closed

[2022-03-24 17:18] kengaderdus commented on #86750
#reassign kengaderdus

[2022-03-24 17:19] JamesTran-MSFT commented on #90335
@meggarlandmsft
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2022-03-24 17:19] #90335 closed

[2022-03-24 17:22] schittli opened #90423 "Bug in header of_ `Product names and service plan identifiers for licensing.csv`"
Hello

it is a shame that Microsoft "Docs", which is used by hundreds of millions of customers, does not have better quality management 😢, we often have to complain about embarrassing bugs and missing basic information. This issue should be obvious for any senior employee, too:

The File `Product names and service plan identifiers for licensing.csv` has a bug in it's header, just read the column n

[2022-03-24 17:23] kengaderdus commented on #86750
@wouterSeyen

Thank you for your contribution and patience. We note that the country names are not translated well. We've contacted the team responsible for that and the issue will be resolved. For now, we'll close this issue. #please-close.

[2022-03-24 17:23] #86750 closed

[2022-03-24 17:27] HeidiSteen commented on #90387
@gleidsongmsft thanks for confirming!  Stay tuned... Although I guess you're not blocked, it's just a possible doc or product bug.

[2022-03-24 17:43] SteveWohl commented on #90400
At the bottom of the page the next steps are to deploy a FHIR service but there is no link to that content

[I've updated the Next steps section by including links to the articles listed in the bullet points. The new changes are staged in PR 192798<https://github.com/MicrosoftDocs/azure-docs-pr/pull/192798>.]

From: SnehaAgrawal-MSFT ***@***.***>
Sent: Thursday, March 24, 2022 9:05 AM
To: Microsof

[2022-03-24 17:47] JamesTran-MSFT commented on #90423
@schittli
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-03-24 17:47] dereklegenzoff commented on #89605
@KSchlobohm is right that `DefaultAzureCredential` can be used with the Azure Searh SDK.

@KSchlobohm - are there any equivalent tutorials/how-tos out there that you can share that are similar to what you're requesting?

[2022-03-24 17:48] laujan commented on #90239
Hi @AskYous,

I'm going to close this issue. Please feel free to reopen if you have further concerns.

Thank you!

cc: @YutongTie-MSFT

[2022-03-24 17:48] #90239 closed

[2022-03-24 17:50] hallihan commented on #53476
There should be a more specific route for 168.63.129.16 that sends traffic to the default interface, so a change to the default route will not impact traffic destined for 168.63.129.16.  If you are intending to use a virtual appliance as the default next hop, you should use User Defined Routes as described in https://docs.microsoft.com/azure/virtual-network/virtual-network-scenario-udr-gw-nva so n

[2022-03-24 17:51] mikegud opened #90424 "Missing endpoint, please add."
Hi, the endpoint for connecting Azure Data Explorer to Log Analytics or Application Insights is missing from the page.

It is mentioned in the instructions on this page: https://docs.microsoft.com/en-us/azure/data-explorer/query-monitor-data#add-a-log-analyticsapplication-insights-workspace-to-azure-data-explorer-client-tools

On that page, search for "adx.monitor.azure.us" to find the mention.

S

[2022-03-24 17:53] Cephei opened #90425 "Audit Log Failure: Core Directory, ApplicationManagement, UpdateExternalSecrets is always present when configuring SCIM"
After configuring SCIM provisioning for a custom, non-gallery app, Audit logs consistently show a Core Directory failure - stating "Update external secrets". To help diagnose, I've disabled group provisioning; have limited user provisioning to only familyName/givenName, and scoped this to only sync assigned users. Everything is provisioning just fine to our SaaS app, but this error is so obscure i

[2022-03-24 17:54] laujan commented on #90310
Hi @margelef,

Thank you for your feedback. The v3.0 version of Form Recognizer, which supports Form Recognizer Studio, is still in public preview. The Form Recognizer v2.1 version, which supports the Sample Labeling Tool, is the current GA version. We will update the documentation once the v3.0 version is GA.

Thank you again! 🙂

cc: @GiftA-MSFT

[2022-03-24 17:55] mike-urnun-msft commented on #90378
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-03-24 18:00] JamesTran-MSFT commented on #90425
@Cephei
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-24 18:01] Cephei commented on #90425
Sincerely, it's immensely appreciated.

[2022-03-24 18:08] ChaitanyaNaykodi-MSFT commented on #90411
Thank you for your feedback! We will review and update as appropriate.

[2022-03-24 18:09] ChaitanyaNaykodi-MSFT commented on #90413
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-03-24 18:13] SaiKishor-MSFT commented on #90396
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2022-03-24 18:15] tthung1997 opened #90426 "Cannot access Machine Learning workspace by REST API through private endpoint"
I'm trying to use REST API to access my Machine Learning workspace which is configured in a secure environment with private endpoints following the instructions in the documentation. I sent the REST API request from my local machine that is connected to the workspace virtual network through AzureVPN over a virtual network gateway. I already have the `hosts` file configured to map the private IP ad

[2022-03-24 18:22] Stevta opened #90427 "Error is powershell script embedded in the document"
Import-Module AzureADPreview
Connect-AzureAD

$grpUnifiedSetting = (Get-AzureADDirectorySetting | where -Property DisplayName -Value "Group.Unified" -EQ)
$template = Get-AzureADDirectorySettingTemplate -Id 62375ab9-6b52-47ed-826b-58e47e0e304b
**# $setting = $template.CreateDirectorySetting() This appears to be resetting values to default**

$Setting.Values

$Setting["EnableMIPLabels"] = "True"

$S

[2022-03-24 18:25] JamesTran-MSFT commented on #90427
@Stevta
Thanks for your feedback! We will investigate and update as appropriate.