[2019-12-09 18:20] #44079 closed

[2019-12-09 18:23] cynthn commented on #44001
@dcbrown16 Thanks for the feedback! That was a fun bug :)  I've fixed it, should publish by 3:00PM PST. The article should be the one right above this one in the TOC: https://docs.microsoft.com/en-us/azure/virtual-machines/maintenance-notifications-cli?toc=/azure/virtual-machines/linux/toc.json&bc=/azure/virtual-machines/linux/breadcrumb/toc.json.

The TOC was pointing to the wrong path, and was g

[2019-12-09 18:24] themaxx75 commented on #36888
Everything deploys without errors, but the function crashes when trying to import modules.
Also, is a closed comment "Remove worker_venv support in Python 3.7 and future version" relevant for this issue?

[2019-12-09 18:24] KrzysztofCwalina opened #44319 "sentenceLengths should be sentLen"
The response example (on this page) shows sentenceLengths JSON property. But in the actual JSON returned from the server the property is called "sentLen".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2adf00c-d6f4-165f-8be9-01a879386905
* Version Independent ID: 08681003-1f0b-5237-b55c-0c2adc3a4676
* Content: [Transl

[2019-12-09 18:24] #44001 closed

[2019-12-09 18:24] cwsusa opened #44320 "JSON "Timestamp" is a client access time?"
In this element from a response, the Timestamp field, after multiple attempts and delays, appears to be nothing more than the time my client executes azcopy list against the container? Exactly how is that supposed to be leveraged for currency decisions about the object in the container? Maybe I'm misunderstanding the REST API being supported here?

{"TimeStamp":"2019-12-09T18:04:28.157871444Z","Me

[2019-12-09 18:26] iainfoulds commented on #44181
Sorry for the change in portal UI, @tx5westmt. The _Authentication contact info_ section is now shown under **Authentication methods** for a user, not on the default **Profile** page. I have a doc update lined up to fix this which should publish today.

#in-progress

[2019-12-09 18:27] jn-altius opened #44321 "Adding Filters to a .Net Core Console application"
Hi,

I'm following the example here: https://docs.microsoft.com/en-us/azure/azure-monitor/app/worker-service#net-corenet-framework-console-application

I have everything set up and working, and I can see test messages from my console app appear in Application Insights but ONLY if I use LogError (which appear as severity = 3).

I want to change this so that I can see LogInformation messages in Appl

[2019-12-09 18:27] julieMSFT commented on #37420
@kartiknagappa @Ishwinder-kaur @Odin88 Hell, thank you for raising this issue. This looks like it may be a bug.
I checked the customer issue but we cannot know why they are not getting any resource because there is no debug output. Please create an issue regarding this matter using our PowerShell repo, https://github.com/Azure/azure-powershell. When creating your issue fill out the template to pro

[2019-12-09 18:29] PatAltimore commented on #44032
#please-close

[2019-12-09 18:29] #44032 closed

[2019-12-09 18:30] YutongTie-MSFT commented on #44319
@KrzysztofCwalina
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-09 18:30] MicahMcKittrick-MSFT commented on #43359
Your thoughts are correct.

Using an Always On SQL group would ensure that if an entire data center were to go down, you would remain up as you would have nodes in a secondary data center.

I don't believe using file share or not will matter much unless you have nodes in multiple regions.

[2019-12-09 18:31] julieMSFT commented on #37420
@please-close

[2019-12-09 18:32] MicahMcKittrick-MSFT commented on #43965
@jnoller @jluk @palma21 any idea on this?

[2019-12-09 18:34] kevinrosal opened #44322 "Updating VM exclusions"
is there a way to update the vm exclusions when its already deployed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 225c9d05-83dd-b006-0025-3753f5ab25bf
* Version Independent ID: 9eecef0c-b1cb-1136-faf7-542214492096
* Content: [Start/Stop VMs during off-hours solution](https://docs.microsoft.com/en-us/azure/automation

[2019-12-09 18:35] beerwatch commented on #29804
@tanmoysinha, thank you for your response. As the guide tells, the size measured and rounded is the size of the image in RAW format. No headers mentioned, no headers included. You convert the RAW into VHD in the next step. During the raw to vhd conversion step the header gets added. It happens AFTER the round-up in all cases. It is not a belief, it is a fact. The header and its addition is irrelev

[2019-12-09 18:37] Mike-Ubezzi-MSFT commented on #43901
@kevinvngo Thank you for the information and for providing direction on this issue. @mwc360 Please comment on and up vote on the [UserVoice](https://feedback.azure.com/forums/307516-sql-data-warehouse) item. We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-12-09 18:37] #43901 closed

[2019-12-09 18:43] NavtejSaini-MSFT commented on #44317
@pauloster We are checking this and will get back to you.

[2019-12-09 18:44] NavtejSaini-MSFT commented on #44316
@pauloster We are checking this and will get back to you.

[2019-12-09 18:45] NavtejSaini-MSFT commented on #44315
@pauloster We are checking this and we will get back to you.

[2019-12-09 18:46] #37420 closed

[2019-12-09 18:47] JimacoMS3 commented on #44153
You're welcome, Garry. Thanks again for your feedback on our documentation. I'm glad you have a path forward. At this time, I'll go ahead and close this issue.

Best regards,

Jimaco

[2019-12-09 18:47] JimacoMS3 commented on #44153
#please-close

[2019-12-09 18:47] #44153 closed

[2019-12-09 18:50] benjamminhansen commented on #44248
I figured it out, @jakaruna-MSFT and @MicahMcKittrick-MSFT . It was because I had just added a free account recently with no credit/debit card attached. So after the free subscription trial, it will charge me, but because I didn't have any card attached, no options were available... At least that's my guess.

Thanks!

[2019-12-09 19:04] MarileeTurscak-MSFT commented on #44285
@SychevIgor
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-09 19:06] MicrosoftGuyJFlo commented on #43925
#please-close

[2019-12-09 19:06] #43925 closed

[2019-12-09 19:18] djpmsft commented on #43728
this is fixed

#please-close

[2019-12-09 19:18] #43728 closed

[2019-12-09 19:23] pmozbert opened #44323 "missing explanation of DiskEncryptionKeyFileName"
what is the purpose of the DiskEncryptionKeyFileName tag on the KEK secret?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9f0eeaf-7290-1f64-5700-a88ec325a9d0
* Version Independent ID: 401634dd-56ad-5f64-5436-3563fa438e1a
* Content: [Azure Disk Encryption sample scripts - Azure Linux Virtual Machines](https://docs.mic

[2019-12-09 19:24] DeanCefola opened #44324 "Path on Register script is wrong"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62521d12-9efc-d132-176b-ca6a4ea83f16
* Version Independent ID: 21322b77-a2e0-41a2-b128-7681d2d62577
* Content: [Windows Virtual Desktop MSIX app attach - Azure](https://docs.microsoft.com/en-us/azure/virtual-desktop/app-attach?source=docs#register-powershell-script)
* Conte

[2019-12-09 19:26] DeanCefola commented on #44324
At path https://docs.microsoft.com/en-us/azure/virtual-desktop/app-attach?source=docs#register-powershell-script
the 2nd script to register the App path on line 13 currently says
"Add-AppxPackage -Path \$path -DisableDevelopmentMode -Register"

This path is wrong  -  \$path

Change to  -  $path

[2019-12-09 19:26] DeanCefola commented on #44324
update doc to proper path for register script

[2019-12-09 19:27] agrabhi opened #44325 "Why forceChangePasswordNextLogin is always set to false?"
The page says - forceChangePasswordNextLogin is always set to false. What if an admin wants customers to change the password on their first login

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a4b8453-d2bc-9c8d-bb16-26fa7e4c6363
* Version Independent ID: 160642fc-b5a9-1ebe-7daf-105509b6e2f4
* Content: [Use the Graph A

[2019-12-09 19:31] kyjeeper opened #44327 "Step 4's "copy" box needs to be cleaned up"
The copy box contents are not verbosely written to what a user would need to copy/paste.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 054e25ff-9daf-60ba-53e0-0be9ba862e94
* Version Independent ID: 4c6b0faf-bd4b-e6e4-4256-f1e5297222a6
* Content: [Configure an Always-On VPN tunnel - Azure VPN Gateway](https://docs.micr

[2019-12-09 19:46] MarileeTurscak-MSFT commented on #44323
@pmozbert
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-09 19:49] rastala commented on #40694
There was a similar question on Stack Overflow: the answer is to break the list of metrics into smaller pieces, and let service concatenate them.

https://stackoverflow.com/questions/58691120/metric-document-is-too-large-in-azure-ml-service

[2019-12-09 19:50] nibaccam commented on #43827
@RohitMungi-MSFT the referenced PR includes the fix.

@CESARDELATORRE Thanks for your report, the article fix will be live in a few hours. We shall proceed to close this issue, #please-close.

[2019-12-09 19:50] #43827 closed

[2019-12-09 19:52] nibaccam commented on #42754
@YutongTie-MSFT the referenced PR includes this fix.

@rhpluss Thanks for your report, the article fix will be live in a few hours. We shall proceed to close this issue, #please-close.

[2019-12-09 19:52] #42754 closed

[2019-12-09 19:54] MGoedtel commented on #44119
@tkumark - This scenario is under development and I don't have an ETA to provide at this time. I'm including the PM from the DSC team @mgreenegit to add any additional information.  Thanks.

[2019-12-09 19:56] MarileeTurscak-MSFT commented on #44300
@CeciAc
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-09 19:56] diberry commented on #44151
@YutongTie-MSFT Asking product group...

[2019-12-09 20:00] tx5westmt commented on #44181
Great, thanks!

[2019-12-09 20:04] TravisCragg-MSFT commented on #44303
@chrisking64 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-12-09 20:11] santhoshbomma9 opened #44329 "Clarification on why Associate Microsoft account not a work account?"
Could you please clarify on why we need to Associate a personal Microsoft account instead of work account during completing the process of payout information. https://docs.microsoft.com/en-us/azure/marketplace/partner-center-portal/manage-account#payout-account

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7106793e-df

[2019-12-09 20:19] brandonmartinez opened #44330 "Docker Container Performance"
It doesn't seem to be addressed if there are any negative impacts to utilizing a custom container for Azure Functions in the consumption model vs the other deployment methods. Are there any negative drawbacks to utilizing a container vs packaging and deploying just the code to a function natively?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2019-12-09 20:22] aravish opened #44331 "Correction needed"
[Please correct rule for EAST US region in the doc, it should be dbartifactsprodeastus2.blob.core.windows.net and not ddbartifactsprodeastus2.blob.core.windows.net as in the doc, there is an extra "d" at the beginning.

Artifact Blob storage secondary | ddbartifactsprodeastus2.blob.core.windows.net
-- | --

]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2019-12-09 20:23] i255d opened #44332 "This information on Terraform back end state is far to incomplete."
What is shown here is mostly worthless because it doesn't address the issues with creating a second or third resource.  Trying to do this as documented here, would overwrite the previous resources. I think you need to add to this example, how to make and reference multiple state files when creating more resources

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2019-12-09 20:24] aravish opened #44333 "Schema documentation for Azure Databricks"
Please include Schema doc for Azure Databricks. We have a customer case, do we have any internal documentation that we can share?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2815c53c-9b3f-bf3c-2e8c-f29e29a441bd
* Version Independent ID: 81ee9fdf-73d6-bd68-a508-11ab7a2dc51f
* Content: [Azure Resource Logs supported s

[2019-12-09 20:28] tamram commented on #43579
@murdockcrc - Thanks so much for pointing this out. I updated the query line per your suggestion.

#please-close

[2019-12-09 20:34] PatAltimore commented on #43434
Hi @kierenj,

I added the missing type description. it should be published soon. We don't have the mapping documented. I raised your question to the dev team.

Thanks,
Pat

[2019-12-09 20:37] aleksmark opened #44336 "Not able to import python 2 package in tar.gz format"
When I want to upload python 2 package in tar.gz format, and I browse to a file location on my computer, the file is grayed out and I am not able to select that file. The file is less than 100MB.

The documentation clearly says that it should be possible to upload a tar.gz file format.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2019-12-09 20:37] MarileeTurscak-MSFT commented on #44287
@snobu
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-09 20:37] amanjee commented on #44079
My attempt to fix did not resolve. Tried both svc prin and User ID.

[2019-12-09 20:38] TravisCragg-MSFT commented on #44327
@kyjeeper Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-12-09 20:42] MarileeTurscak-MSFT commented on #44287
Hi @snobu ,

Yes, you do get charged for apps in the stopped state. This is by design so that the app does not delete the other resources contained in the app service plan.

Rates listed for the Standard vCPU and memory group duration apply to apps in the stopped state. You would need to delete the service instance (s) that is not in use.

This is covered on the pricing page for spring cloud. http

[2019-12-09 20:42] #44287 closed

[2019-12-09 20:53] CesarGonzalezZenta commented on #40730
@ManojReddy-MSFT We still waiting for this after 2 months

[2019-12-09 20:54] anzaman commented on #43012
@faisch It depends on the Protocol that you are using, but the problem with this approach is that you would have to add the routes to the vnet(s) manually -  which again needs admin rights

[2019-12-09 20:56] theheatDK commented on #43740
Thanks @TravisCragg-MSFT
I wanted to see the effective routes for traffic that arrives from on-premise to the GatewaySubnet.

[2019-12-09 20:58] KingdomOfEnds commented on #43477
@gregorvilkner - I have added a clarificatory note to our documentation as well. It will be live later today. Thanks!

[2019-12-09 21:01] anzaman commented on #43398
#close

[2019-12-09 21:01] anzaman commented on #43398
added "&"

[2019-12-09 21:02] drmiru commented on #42614
Any update on this? Both B2B and B2C AuthN fails with the error: [Error] Dialing VPN connection Test, Status = Server did not respond properly to VPN Control Packets. Session State: Key Material sent

[2019-12-09 21:11] anzaman commented on #44053
fixed screenshot

[2019-12-09 21:11] julieMSFT commented on #44305
@pauloster Thank you for you input. I have fixed the issue and you should be able to see it later today. I will go ahead and close this issue. The @ notification works even when the issue is closed.

[2019-12-09 21:12] msaburnley commented on #42815
Hey @Boris344

Thanks for your question. The content is up to date with the current licensing requirements. You need an Azure AD Premium P2 license.

[2019-12-09 21:13] msaburnley commented on #42815
#please-close

[2019-12-09 21:13] #42815 closed

[2019-12-09 21:15] CalvinG-MSFT opened #44338 "Cloud Witness w/ Standard Loadbalancer and SQL Server Always-on Availability"
In preparation to move to Availability Zones, the customer switched from Basic Loadblanacer to Standard LoadBalancer for their SQL Server Always-On Availability cluster. They were caught off-guard when their Cloud Witness broke due to the inability for their SQL nodes to reach Azure Storage accounts without assigning a public IP to their SQL nodes. As a result, they moved to a file share on a sing

[2019-12-09 21:16] edu-gp opened #44339 "Post http://localhost:5001/score: net/http: request canceled (Client.Timeout exceeded while awaiting headers)"
I deployed a model with ACI, upon calling the REST endpoint, it returns the error:

[code]

This defintiely looks like something internal to how the model is deployed (hence the `localhost:5001` in the return message.)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9415d8d-a30c-42f9-989c-c7b3a79d7108
* Version Indepen

[2019-12-09 21:16] julieMSFT commented on #44315
@pauloster Thank you for you input. I have fixed the issue and you should be able to see it later today. I will go ahead and close this issue. The @ notification works even when the issue is closed.

[2019-12-09 21:16] julieMSFT commented on #44316
@pauloster Thank you for you input. I have fixed the issue and you should be able to see it later today. I will go ahead and close this issue. The @ notification works even when the issue is closed.

[2019-12-09 21:17] julieMSFT commented on #44317
@pauloster Thank you for your input. I have fixed the issue and you should be able to see it later today. I will go ahead and close this issue. The @ notification works even when the issue is closed.

[2019-12-09 21:18] #44181 closed

[2019-12-09 21:20] diberry commented on #44151
My understanding is this is not supported. A pattern can only reference the top/parent component. I'll add this to the docs. #please-close

[2019-12-09 21:20] #44151 closed

[2019-12-09 21:20] kartiknagappa commented on #37420
Thank you @julieMSFT -

What @edyoung suggested seems to have resolved my problem:
[code]

Specifically, `$metric.Data` gives me the metrics datapoints for which I queried using `Get-AzMetric`.

I'll hold off on creating a bug since I'm guessing that this is how one would access the data for the Timeseries datatype.

Here's the output of the `$PSVersionTable` command.

_Note that the command was r

[2019-12-09 21:21] #44258 closed

[2019-12-09 21:23] MarileeTurscak-MSFT commented on #44297
@pavanivm
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-09 21:24] MicrosoftGuyJFlo commented on #43521
The policy configuration is correct as updated. The policy to block legacy authentication should not target apps but protocols hence Client apps, Mobile apps and desktop clients, Other clients.

The article mentioned needs an update too and I am working on getting that taken care of.

[2019-12-09 21:25] rtselizondo commented on #27893
I also am having this issue, Is there a workaround @Leon99 @SnehaAgrawal-MSFT

[2019-12-09 21:27] julieMSFT commented on #44317
#https://github.com/MicrosoftDocs/azure-docs-pr/pull/98417

[2019-12-09 21:28] julieMSFT commented on #44316
#https://github.com/MicrosoftDocs/azure-docs-pr/pull/98417

[2019-12-09 21:28] julieMSFT commented on #44315
#https://github.com/MicrosoftDocs/azure-docs-pr/pull/98417

[2019-12-09 21:28] julieMSFT commented on #44305
#https://github.com/MicrosoftDocs/azure-docs-pr/pull/98417

[2019-12-09 21:37] amuthusa opened #44340 "listAvailableSizes for resize when the machine is deallocated gives me the list of sizes which throws error when resize is tried for."
Error message is SkuNotAvailable "The requested size for resource {specific resource} is currently not available in location 'eastus' zones '' for subscription {subscription id}. Please try another size or deploy to a different location or zones. See https://aka.ms/azureskunotavailable for details"

Is there any way to get the available sizes to be only compatible sizes which are available for the

[2019-12-09 21:38] diberry commented on #42890
#please-close

[2019-12-09 21:39] #42890 closed

[2019-12-09 21:41] julieMSFT commented on #44316
#please-close

[2019-12-09 21:41] #44316 closed

[2019-12-09 21:41] julieMSFT commented on #44305
#please-close

[2019-12-09 21:41] #44305 closed

[2019-12-09 21:41] julieMSFT commented on #44315
#please-close

[2019-12-09 21:41] #44315 closed

[2019-12-09 21:42] julieMSFT commented on #44317
#please-close

[2019-12-09 21:42] #44317 closed

[2019-12-09 21:47] MarileeTurscak-MSFT commented on #44308
@ivratche
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-09 21:52] anzaman commented on #43398
#please-close

[2019-12-09 21:52] #43398 closed

[2019-12-09 22:07] MarileeTurscak-MSFT commented on #44306
Thanks. I made a pull request to add this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/98427

[2019-12-09 22:07] #44306 closed

[2019-12-09 22:11] MarileeTurscak-MSFT commented on #44296
@lightupdifire
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-09 22:12] kobulloc-MSFT commented on #44321
@jn-altiusThank you for the feedback!  We are investigating this and will get back to you shortly.

[2019-12-09 22:41] chrisking64 commented on #44303
Thanks!

On Monday, December 9, 2019, TravisCragg-MSFT <notifications@github.com>
wrote:

[2019-12-09 22:42] RavulaChetan commented on #20348
Thanks @ScottHolden for helping me out.. i have  a working VNet integration with ARM for app services now.
I notice that sometimes the template fails with Bad Request 500 Internal server error. And it happens on may be 2 apps when i am using the same template on 13 apps. And also not every run. is there any issue with parallel integration? is anybody facing this issue?

[2019-12-09 22:50] MarileeTurscak-MSFT commented on #44220
I think since this article is about AAD roles this might not be the place to add this.

Can you give an example of where you see this and provide a screenshot?

I know you can use Admin quarantine to protect cloud files and detect threatening files, but this isn't the same as the roles described here. https://docs.microsoft.com/en-us/cloud-app-security/use-case-admin-quarantine

[2019-12-09 22:54] MarileeTurscak-MSFT commented on #44268
@denuez this is good feedback! We will pass it along here, but the best place to post this is in [User Voice ](https://feedback.azure.com/forums/169401-azure-active-directory)where the product team can respond directly.

If you share the link here I will make sure to give it an upvote as well.

[2019-12-09 22:54] #44268 closed

[2019-12-09 22:59] pdhimate commented on #30381
I have got powershell 7 preview 6 , .Net Core 3.x and still get the same error :/ This was working previously with me.

[2019-12-09 23:13] leniel commented on #44306
Hey @MarileeTurscak-MSFT, when I click the link above to see your PR I get a 404 page. Is this URL right?

[2019-12-09 23:14] PaulTown opened #44343 "No info on iOS or Android Devices"
Other than the first line of this doc that mentions iOS and Android there does not seem to be any mention of how a PRT works on a mobile device like iOS or Android.  The whole doc talks about how it works on Windows 10.  Where is the info on how the PRT works on mobile devices.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-12-09 23:20] femsulu commented on #44322
added triage labels.

[2019-12-09 23:20] #44322 closed

[2019-12-09 23:21] MarileeTurscak-MSFT commented on #44343
@PaulTown
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-09 23:24] femsulu commented on #44329
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-12-09 23:25] femsulu commented on #44333
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-12-09 23:26] MarileeTurscak-MSFT commented on #44302
@achandrasekhar1976
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-09 23:26] femsulu commented on #44336
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-12-09 23:31] lewcianci opened #44344 "Images are broken links"
Images are broken on this page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23882704-aa62-1e54-8959-aff4a8eeb0c9
* Version Independent ID: 02dbc532-a5e8-79ea-68c6-5a488c03f9cf
* Content: [Configure mobile apps that call web APIs - Microsoft identity platform](https://docs.microsoft.com/en-us/azure/active-directory/de

[2019-12-09 23:33] rhelm opened #44345 "Directions on Microsoft out of the gallery"
Directions on Microsoft does not offer Azure Active Directory integration any more.
Our application was removed from the Gallery, but the process failed to remove this page:
https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/active-directory/saas-apps/directions-microsoft-tutorial.md
Please remove the page.
Thanks,
Rob Helm
rhelm@directionsonmicrosoft.com

---
#### Document Details

[2019-12-09 23:33] alexkarcher-msft commented on #44123
Hello. Because Event Grid does not support service endpoints it cannot be accessed through virtual network integration. You can however access it through the public endpoint while virtual network integration is enabled for your Function app.
This should work just fine today with no additional configuration required.

[2019-12-09 23:47] Karishma-Tiwari-MSFT commented on #44079
@ChristianMontoya Would you be able to share your insights on this?

[2019-12-09 23:49] MonikaReddy-MSFT commented on #44124
@br0cky ,
Thanks again for bringing this to our attention.

I was able to repro your scenario and I have reached out to Product team to further help on this. I will keep this thread posted with any updates we may have.

[2019-12-09 23:54] Karishma-Tiwari-MSFT commented on #44338
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.
@MikeRayMSFT Can you please take a look at this doc feedback request. Thanks :)

[2019-12-09 23:54] v-akhana opened #44348 "What to do if an intermediate certificate authority is selected"
Please also describe the steps for selecting an intermediate certificate authority.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 325a9114-36b2-a6b3-d0a4-19c522b7abf0
* Version Independent ID: cbd84d9f-fbfd-d97d-9826-26947f64d18a
* Content: [Tutorial - Configure LDAPS for Azure Active Directory Domain Services](https:

[2019-12-09 23:56] jmprieur commented on #44344
@lewcianci what do you mean images are broken links. I can see them
![image](https://user-images.githubusercontent.com/13203188/70483157-7fd35c80-1a9c-11ea-8c66-921b6f2d48b5.png)

Which locale are you using?

[2019-12-10 00:04] DataMinerUK commented on #43911
I've been working on this same issue and there is no **monkey patch** options, sadly. For more context we have a pipeline whose last activity run a DataBricks notebook using a Spark job. We need another pipeline to trigger on completion of this activity. Therefore we created a trigger looking in the container for a blob path ending in _SUCCESS with the event trigger as blob created. This will trig

[2019-12-10 00:04] TravisCragg-MSFT commented on #41486
@sharad4u I created #44349 to state the frontend HTTP/2 connectivity.

The confusion was caused by [This Section](https://docs.microsoft.com/en-us/azure/frontdoor/front-door-overview#protocol-support---ipv6-and-http2-traffic) of the overview document. Would you like me to create a PR to edit that section as well?

[2019-12-10 00:20] asergaz commented on #44294
Thanks for sharing your workaround @Jbarrins. At this article we also say:

![image](https://user-images.githubusercontent.com/22173500/70484069-8d133a00-1ae2-11ea-9369-f59715b27a80.png)

Which leds you to: https://docs.microsoft.com/en-us/samples/azure-samples/mxchip-iot-devkit-pnp/sample/ and https://github.com/Azure-Samples/mxchip-iot-devkit-pnp/tree/master/

There you also have other .bin to t

[2019-12-10 00:26] DCtheGeek commented on #42908
@jtuliani Thanks for the feedback. We've decided to keep the system-assigned examples for now. If you want to see an example of creating an assignment with PowerShell that's user-assigned, see Example 3 in the reference page for [New-AzBlueprintAssignment](https://docs.microsoft.com/powershell/module/az.blueprint/New-AzBlueprintAssignment#examples).  Thanks for the feedback!

@MicrosoftDocs/azure-

[2019-12-10 00:26] #42908 closed

[2019-12-10 00:29] MarileeTurscak-MSFT commented on #44348
@v-akhana
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-10 00:34] DCtheGeek commented on #42911
@jtuliani There's an example of the JSON assignment file for user-assigned managed identity in the REST API docs. I've added a link to that from the section in this article. When that update merges, this issue will automatically close.  Thanks again for the feedback!

[2019-12-10 00:36] Alberto-Vega-MSFT commented on #44098
@benjamminhansen We will now be closing issue here since you are getting help directly from engineering team on the SDK repo.

[2019-12-10 00:36] #44098 closed

[2019-12-10 00:36] mike-urnun-msft commented on #44330
@brandonmartinez Thank you for your feedback! We will review and update as appropriate.

[2019-12-10 00:36] MarileeTurscak-MSFT commented on #44348
This document describes this to an extent, but I agree that it could be beneficial to add more information. https://docs.microsoft.com/en-us/azure/active-directory/authentication/active-directory-certificate-based-authentication-get-started

[2019-12-10 00:39] MarileeTurscak-MSFT commented on #44325
@agrabhi
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-10 00:39] #44248 closed

[2019-12-10 00:39] kartiknagappa commented on #37420
One more thing @julieMSFT -

https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.management.monitor.models.metric?view=azure-dotnet
☝️ The link above makes no mention of the metric "Data" property that can be accessed to list the actual data.

Does the documentation need to be updated to reflect this? If not, which API doc should I be looking to for guidance?

Thanks muchly!

[2019-12-10 00:45] #42911 closed

[2019-12-10 00:46] bakerm00 commented on #34210
confirm if Azure AD Guest b2b accounts will be provisioned?

[2019-12-10 00:56] bakerm00 opened #44350 "how about including SF and AWS?"
how about including SF and AWS?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 05f5a433-2e47-e4d6-f21a-922bad2c5078
* Version Independent ID: 285be395-3f7c-54f1-b63b-7afe90dfea0b
* Content: [Configure SaaS apps for B2B collaboration - Azure AD](https://docs.microsoft.com/en-us/azure/active-directory/b2b/configure-saas-

[2019-12-10 01:24] dcbrown16 opened #44352 "Other Linux OSes"
Does this procedure basically work on other Linux OSes as well? We have a customer asking about CentOS.
From general searches it seems like the initial installation commands are different (i.e. using yum not sudo?) but are the steps under "Generate and export certificates" the same once you have strongswan installed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2019-12-10 01:30] ram-msft commented on #44117
@jonmikeli Roobo Smart Audio Dev Kit for Microsoft speech services.
Please follow the below document for setup of the Roobo Dev Kit.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-12-10 01:30] #44117 closed

[2019-12-10 01:36] Alberto-Vega-MSFT commented on #44081
@maxbog If you still need help. Can you please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Doc/Issue as well as your subscription ID and we can help get the support ticket opened for this issue.

[2019-12-10 01:40] mignonsys opened #44353 "Please clarify whether the two outbound requirements must be satisfied?"
Hi,
Within an enterprise environment, two of the following outbound rules mentioned in this article may NOT be easily applied:
80, 443	Outbound	TCP	Redis dependencies on Azure Storage/PKI (Internet)	(Redis subnet)	*
443	Outbound	TCP	Redis dependency on Azure Key Vault	(Redis subnet)	AzureKeyVault 1

Could you please clarify whether those two are required only for the data persistence feature, or r

[2019-12-10 01:42] v-shmao opened #44354 "EasyAuth, CORS, and MSI are not currently supported for multi-containers."
One of customers have spent a lot of time with using MSI in multi-containers. Customer had no clue these three features not supported in multi-container. Please kindly set some warning tips on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad0cae44-bfc2-c879-d406-23ab0b756ab9
* Version Independent ID: 5d812d

[2019-12-10 01:54] Alberto-Vega-MSFT commented on #44081
@maxbog Have you seen this issue on the Azure IoT Edge repo? https://github.com/Azure/iotedge/issues/1106

[2019-12-10 02:14] Karishma-Tiwari-MSFT commented on #44059
Thanks @davidhanna66
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-12-10 02:16] Karishma-Tiwari-MSFT commented on #44213
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-12-10 02:21] Karishma-Tiwari-MSFT commented on #44324
I have created a PR with the update, changes will be live shortly.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/98467

[2019-12-10 02:33] #44324 closed

[2019-12-10 02:45] AshokPeddakotla-MSFT commented on #41680
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-12-10 02:45] #41680 closed

[2019-12-10 02:51] AshokPeddakotla-MSFT commented on #44256
In case your query in not related to document content, open a new forum thread in MSDN forum or Stack Overflow as it could be better place to get help on your scenario.
These forum community members could provide their expert guidance on your scenario based on their experience. Thanks.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in

[2019-12-10 02:51] #44256 closed

[2019-12-10 02:55] ww451575464 commented on #44290
@ManojReddy-MSFT  this ?
https://docs.microsoft.com/en-us/azure/cognitive-services/computer-vision/quickstarts-sdk/python-sdk#read-printed-and-handwritten-text

[2019-12-10 03:33] tanmoysinha commented on #29804
@beerwatch I realised this after I posted the comment. Actually whenever I create a blank disk with --for-upload and with a size say X bytes . The azure API always computes (X minus 512) and checks whether that value is 1 MB aligned. In my case, the raw files are always in GB and hence 1MB aligned, so I simply convert it to VHD (it adds 512 bytes extra) and simply set it for upload.

And as you po

[2019-12-10 03:43] taylorchasewhite opened #44356 "US Government data link points to Census"
The top two links refer to US Government Data and US Census Data. Presumably Government Data was intended to point to a different URL than that of the US Census Data!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 452f2925-6078-97f7-187e-ffd88c51c551
* Version Independent ID: 98610307-54cc-d7bc-0b8f-6f2aa775092a
* Cont

[2019-12-10 03:46] jannavarro opened #44357 "How to authenticate using REST API?"
Based on the docs:
&gt;You can invoke the MLflow REST API using URLs of the form https://\&lt;databricks-instance&gt;/api/2.0/mlflow/\&lt;api-endpoint&gt;, replacing \&lt;databricks-instance\&gt; with the \&lt;region\&gt;.azuredatabricks.net domain name of your Azure Databricks deployment.

I am building a C# application that will call the MLFlow APIs. I'm testing things out first. Doing an HTTP c

[2019-12-10 03:48] peterturquoise opened #44358 "Incorrect info - you don't need to "XML-encode""
In section 2c of "Configure the sample" the line

" You must XML-encode the client secret before adding it to your Web.config."

seems incorrect as I didn't (AFIK - I'm not quite sure what XML-encoding it is) do that and it worked OK.

I spent quite a while trying to figure eout how to "XML-encode" it, but just gave up in the end and tries it without. All was good.

---
#### Document Details

⚠ *D

[2019-12-10 03:51] kumarallamraju opened #44359 "helm install chart name is missing"
[Enter feedback here]
# Create a namespace for your ingress resources
kubectl create namespace ingress-basic

# Use Helm to deploy an NGINX ingress controller
helm install stable/nginx-ingress \
    --namespace ingress-basic \
    --set controller.replicaCount=2 \
    --set controller.nodeSelector."beta\.kubernetes\.io/os"=linux \
    --set defaultBackend.nodeSelector."beta\.kubernetes\.io/os"=lin

[2019-12-10 04:02] dcbrown16 opened #44360 "Non-Az module commands?"
I see Set-AsrVaultSettings, Get-ASRJob, New-ASRFabric, etc.
Aren't these outdated commands?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32d3f437-872e-7927-2652-6d2606a3342a
* Version Independent ID: 06a7db7e-4ce0-00d0-37fa-968833b121c3
* Content: [Disaster recovery for Azure VMs using Azure PowerShell and Azure Site

[2019-12-10 04:05] SumanthMarigowda-MSFT commented on #44313
@CeciAc Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-12-10 04:07] SumanthMarigowda-MSFT commented on #44320
@cwsusa Thanks for your question. We are checking on this and will respond to you soon.

[2019-12-10 04:07] SumanthMarigowda-MSFT commented on #44309
@cwsusa Thanks for your question. We are checking on this and will respond to you soon.

[2019-12-10 04:09] SumanthMarigowda-MSFT commented on #43806
@igormusinov We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-12-10 04:10] SnehaAgrawal-MSFT commented on #44354
@v-shmao Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-10 04:11] SnehaAgrawal-MSFT commented on #44168
@dcbrown16 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-12-10 04:13] SnehaAgrawal-MSFT commented on #44209
@csteelatgburg Since We didn't hear from you, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-12-10 04:13] #44209 closed

[2019-12-10 04:17] SumanthMarigowda-MSFT commented on #43861
@mcurko Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-12-10 04:17] #43861 closed

[2019-12-10 04:29] SumanthMarigowda-MSFT commented on #44030
@poonamnimje01 Apologies for the delay in the response!

You may refer to this article : https://github.com/Azure/azure-storage-fuse/wiki/2.-Configuring-and-Running

Thanks for the feedback! I have our feedback has been shared with the content owner for further review.

[2019-12-10 04:30] billhung opened #44362 "Error: publish has encountered an error Object reference not set to an instance of an object A diagnostic log has been written to following location"
Repro steps
Official Tutorial
https://docs.microsoft.com/en-gb/azure/cognitive-services/Speech-Service/tutorial-voice-enable-your-bot-speech-sdk#feedback
1. "Tutorial: Voice-enable your bot using the Speech SDK"
        &gt;"Deploy your bot to an Azure App Service"
        &gt;"A new window titled Pick a publish target will open"
2. results in error:
"publish has encountered an error Object refere

[2019-12-10 04:31] #44265 closed

[2019-12-10 04:31] dcbrown16 commented on #36418
@femsulu please reopen, this has not been addressed at all. It's related to the original feedback from #23900 that was only partially addressed, and now we are fielding a support issue with the same confusion.
Owner role has access to Microsoft.Storage/storageAccounts/listkeys/action, which means you automatically get the keys and have full access to data from the Portal, Storage Explorer etc. Thi

[2019-12-10 04:31] #44165 closed

[2019-12-10 04:37] dcbrown16 commented on #36418
See below for a reference that listkeys action alone grants access to all Storage data through Portal and when signed in for commands.
https://docs.microsoft.com/en-us/azure/storage/common/storage-auth-aad?toc=%2fazure%2fstorage%2fblobs%2ftoc.json#access-data-with-an-azure-ad-account

[2019-12-10 04:38] dkijc commented on #44255
@kumarallamraju camelCase 'HttpApplicationRouting' should be all lower case 'httpapplicationrouting'

Thanks for pointing that out!

[2019-12-10 04:38] SwathiDhanwada-MSFT commented on #44360
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-12-10 04:40] batizar commented on #25015
I ended up changing how I was doing this to use `AddApplicationInsightsWebJobs` like this with Autofac and Serilog. Please let me know if there is any better way to get `TelemetryConfiguration` because I don't really like building service provider just to get it.

[code]

[2019-12-10 04:41] #43941 closed

[2019-12-10 04:45] RohitMungi-MSFT commented on #44339
@edu-gp Could you please let us know if you are following any quickstart from azure documentation before facing this issue? In general, the timeout limit that can be set is a maximum of [60 seconds](https://github.com/MicrosoftDocs/azure-docs/issues/24800).

This forum is used to support issues related to azure documentation. For service level issues we would request to post them in our [stackover

[2019-12-10 04:46] souravmishra-msft commented on #44358
@peterturquoise, Thank you for pointing this out. We are currently reviewing the doc and will update the doc accordingly after review.

[2019-12-10 04:49] KalyanChanumolu-MSFT commented on #44356
@taylorchasewhite Thank you for pointing out the issue, I have updated the doc accordingly.
The changes should be live EOD or tomorrow.
We will close this issue now.

[2019-12-10 04:49] #44356 closed

[2019-12-10 04:50] souravmishra-msft commented on #44350
@bakerm00, Thank you for sharing your thoughts. I am checking on my end how best I can accommodate this ask here. But in the mean time, I would suggest you to post a request here
[https://feedback.azure.com/forums/169401-azure-active-directory?category_id=165471](url)

[2019-12-10 05:05] PramodValavala-MSFT commented on #44330
@cgillum @alexkarcher-msft Do we have any insights we can share here?

[2019-12-10 05:25] VikasPullagura-MSFT commented on #44359
@kumarallamraju Thanks for the Feedback.
I have raised PR for fixing the command in the document.
The changes will go live once it is approved.

[2019-12-10 05:25] #44359 closed

[2019-12-10 05:26] knoxbit opened #44364 "Cannot connect with API URL"
The sample is broken. I've tried to connect for the last hour and nothing has worked.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 021ecbd2-8976-64a4-ca95-0009a1c02692
* Version Independent ID: 47011e64-0198-6fac-cd07-0334f350f59c
* Content: [Use prediction endpoint to programmatically test ima

[2019-12-10 05:28] CHEEKATLAPRADEEP-MSFT commented on #44331
@aravish  Thanks for bringing this to our attention. Your feedback  has been shared with the content owner for further review.

@mamccrea Could you please remove extra [d] at the beginning  of the **East US 2** region, Service **Artifact Blob storage secondary**  FQDN.

![image](https://user-images.githubusercontent.com/44426401/70498217-b1e7cb80-1b3b-11ea-88d4-f5d76d902397.png)

[2019-12-10 05:32] knoxbit commented on #44364
I resolved it by using:

System.Net.ServicePointManager.SecurityProtocol = SecurityProtocolType.Tls12;

I suspect because I'm missing a header.

[2019-12-10 05:48] CHEEKATLAPRADEEP-MSFT commented on #44199
@mamccrea Could you please look into this issue?

[2019-12-10 05:57] KalyanChanumolu-MSFT commented on #44023
@huajunzhao I have updated the doc accordingly.
The changes should be live EOD or tomorrow.

[2019-12-10 06:00] RohitMungi-MSFT commented on #44364
@knoxbit Thanks for reporting the issue and posting the resolution. We will go ahead and close this issue now.

[2019-12-10 06:00] #44364 closed

[2019-12-10 06:02] ManojReddy-MSFT commented on #44301
@theheatDK  We are looking into this and will get back to you shortly.

[2019-12-10 06:02] ram-msft commented on #44362
@billhung Thanks for the question. We are investigating the issue and will update you shortly.

[2019-12-10 06:13] cap273 commented on #43438
Relevant post: https://stackoverflow.com/questions/59181302/blob-input-binding-with-azure-function-in-python-is-not-working-inputblob-name

[2019-12-10 06:21] dcurwin commented on #44164
Thanks for noticing this. For now, I've removed those links. We will update the FAQ with more information and then link to it in the relevant articles.

#please-close

[2019-12-10 06:21] #44164 closed

[2019-12-10 06:22] panchagnula commented on #44124
@btardif FYI - this is because of the change we explicitly made to support only  the stacks defined by the runtime API

[2019-12-10 06:22] ManojReddy-MSFT commented on #44314
@dariuszSki We are looking into this and will get back to you shortly.

[2019-12-10 06:26] ManojReddy-MSFT commented on #44345
@rhelm Thanks for bringing this to our attention. I have assigned this to the author to take the necessary action.

[2019-12-10 06:40] CHEEKATLAPRADEEP-MSFT commented on #44357
@jannavarro Could you please verify that you have a valid access token

Steps to use MLFlow REST APIs.

**Step1:** To authenticate and access Databricks REST APIs, you use personal access tokens. This [article](https://docs.microsoft.com/en-us/azure/databricks/dev-tools/api/latest/authentication) helps to create personal access token.

**Step2:** Choose the api endpoint, here we are using "/experi

[2019-12-10 06:41] vignesh-123 opened #44365 "Rest Call for custom modeled Speech Recognition"
How to use Custom speech model (CRIS) with a REST API call

But nowhere in the below documentation, there is a mention of where to specify the app id
If I don't specify the app Id which app does this Text to Speech service hit
Which led me to the question does the REST API even support CRIS
But again the docs say it does

[https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/re

[2019-12-10 06:45] onkarthg opened #44366 "configure dynamic inventories of your Azure resources using Ansible"
Hello

I am working on dynamic inventories ansible taging using Bash.
I had added the Microsoft article link which i followed for above process.

 https://docs.microsoft.com/en-us/azure/ansible/ansible-manage-azure-dynamic-inventories#prerequisites

so i followed all steps and able to connect the machine after that when i am trying to install nginx using YML so it generated plugins errors.  i have

[2019-12-10 06:55] kartben commented on #41680
I would like to suggest to keep the issue opened untill it is actually resolved. Thanks.

[2019-12-10 06:58] ddineen opened #44367 ".NET core examples are light"
It would be great to see some certificate auth/ app registration token access to service bus. More comprehensive examples. The community at large needs more examples of secure AD access to Azure resources from on premise. Plenty of great managed identity examples but very few real world examples.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2019-12-10 07:06] SadiqhAhmed-MSFT commented on #44216
@ltloopy Please share more details on what you want us to look at.

[2019-12-10 07:09] ChiragMishra-MSFT commented on #44291
@JSeb225 Can you please take a look at this?

[2019-12-10 07:27] jmprieur opened #44368 "Add a link to the daemon sample calling a protected Web API"
We need to add a link to the daemon sample calling a protected Web API: https://github.com/Azure-Samples/active-directory-dotnetcore-daemon-v2/tree/master/2-Call-OwnApi

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99d7a4e1-48e0-df79-ee56-79d5df3b7bc7
* Version Independent ID: 7266a603-9e98-9864-6b26-bdaa8d5b78b8
* Co

[2019-12-10 07:40] miiichael opened #44369 "waagent not actually available in Debian wheezy"
Docs seems to claim that Debian wheezy has a waagent package. It does not. [This page](https://packages.debian.org/search?keywords=waagent&searchon=names&suite=all&section=all) seems to indicate it's only available in jessie and later.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e86655f9-6d0b-106b-7b88-edbd20ee4544

[2019-12-10 07:46] Jbarrins commented on #44294
And why does the IoT DevKit template for IoT Central not include all the sensors data? It only has temperature, humidity, and pressure.
I need the motion sensors (gyroscope and accelerometer).

[2019-12-10 07:48] SABARISHV06 opened #44370 "Is Maximum of 500 event triggers per storage account?"
Here it is mentioned that, due to an Azure Event Grid limitation, Azure Data Factory only supports a maximum of 500 event triggers per storage account. It means, only 500 blobs create events are supported for event trigger? if we have requirement of more then 500, will the event get trigger and works as expected? Kindly clarify it.

---
#### Document Details

⚠ *Do not edit this section. It is req

[2019-12-10 07:53] DixitArora-MSFT commented on #44253
@csharpfritz I have assigned this to content author for further review and update as appropriate.

[2019-12-10 07:56] rayne-wiselman commented on #44216
@ltloopy  Thanks for your feedback. I presume your ask is to add to the article that the local user account must be admin?

[2019-12-10 07:58] SidShetye commented on #41486
@sharad4u whats the plan for FD to backend going http/2?

[2019-12-10 08:04] icelava commented on #43353
Yes, I found out that Intune can rename devices when looking at the device properties.

Subsequently, also found out it's actually possible to do so in Azure AD, but in a very convoluted nested navigation path,

Home > <ORGANISATION NAME> > Devices - All devices (CLICK ON an Azure AD joined DEVICE) > Device (CLICK MANAGE) > All devices (CLICK ON TARGET DEVICE, again) > [DEVICE NAME] (CLICK ON [Ren

[2019-12-10 08:05] SubhashVasarapu-MSFT commented on #44118
@dzejsien , Appreciate your patience. We had edited the document accordingly and it will take some time to get the changes reflect on the doc.

[2019-12-10 08:10] ManojReddy-MSFT commented on #44332
@i255d Thanks for the feedback. I have assigned this to the author to update the document accordingly.

[2019-12-10 08:12] icelava commented on #43353
Additionally, the rename in Intune will only affect the AAD record that's associated with the enrollment in Intune (going by device ID + user ID). It is possible to have the same physical computer sporting _multiple records_ in AAD, due to different users performed register and join separately with different Intune license assignment or auto-enrollment states; each record has _different device IDs

[2019-12-10 08:12] poonamnimje01 commented on #44030
Hello,

I followed the steps it is not working. Please let me know the exact fstab
entry.

/<path_to_blobfuse>/mount.sh </path/to/desired/mountpoint> fuse _netdev

what would be the path to blobfuse as per the document?

Thank You,
Poonam Nimje

On Tue, Dec 10, 2019 at 9:59 AM SumanthMarigowda-MSFT <
notifications@github.com> wrote:

[2019-12-10 08:12] SwathiDhanwada-MSFT commented on #43904
We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2019-12-10 08:12] #43904 closed

[2019-12-10 08:15] icelava commented on #43459
I have been working on this problem past few weeks with Azure support, and was shocked to learn that Intune support is a different unintegrated CRM system altogether and have to raise separate support ticket. Still trying the understand where it all went wrong on the computer. (My colleague and myself could sign in as administrator in other test computer just fine.)

[2019-12-10 08:17] #44118 closed

[2019-12-10 08:20] #43806 closed

[2019-12-10 08:24] SumanthMarigowda-MSFT commented on #44084
@nickhopkins11 Thanks for the feedback! It  has been shared with the content owner for further review.

[2019-12-10 08:25] jakaruna-MSFT commented on #44340
@amuthusa
Thanks for the question! We are investigating and will update you shortly.

[2019-12-10 08:26] jakaruna-MSFT commented on #44340
@amuthusa Can you give me the old and new vm sized which you tried?
That will help me to troubleshoot the issue in my environment

[2019-12-10 08:31] KalyanChanumolu-MSFT commented on #44353
@mignonsys Thank you for the detailed feedback.
This is being assigned to the content author to evaluate and update as appropriate.

[2019-12-10 08:42] KalyanChanumolu-MSFT commented on #44264
We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-12-10 08:42] #44264 closed

[2019-12-10 08:47] bencalnan opened #44372 "Need to make sure HTTP is still on for this to work."
Just a note to say this only works if HTTP is on. If you have deactivated HTTP for the CDN Endpoint (in the portal), a call to the HTTP endpoint will fail before the rewrite to HTTPS can take place.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f7c20cf-3978-d4e5-cd89-e77ae59f4afb
* Version Independent ID: 70019c90-4f

[2019-12-10 08:49] ManojReddy-MSFT commented on #44309
@cwsusa  Currently the list command uses a specific format as shown below to list the items.

PS Azure:\> azcopy list https://xyz123.blob.core.windows.net/tutorial
INFO: input/Blob-Azure AD.PNG; Content Size: 67.82 KiB
INFO: input/emp.txt; Content Size: 18.00 B

As this is not within the scope of the doc, I would recommend submitting this as a feature request [here](https://feedback.azure.com/foru

[2019-12-10 08:55] CHEEKATLAPRADEEP-MSFT commented on #44367
@ddineen  Thanks for the feedback! Your feedback  has been shared with the content owner for further review.

[2019-12-10 08:58] ChiragMishra-MSFT commented on #44370
@SABARISHV06 The limitation is on the number of triggers and not on the events. So, you can create upto 500 event-based triggers in ADF. The number of times the trigger is executed because of blob creation is not restricted.

Hope this helps.

[2019-12-10 09:01] ajakupov opened #44373 "Custom Translator SDK"
Hello, is there a way to manage a workspace and a model using API, like in Custom Vision? We are going to automate the training with a web service that will automatically generate training documents (approved by service users) and we wonder if there is a way to upload documents and train models using API, without having to connect to the Custom  Translator Portal

---
#### Document Details

⚠ *Do

[2019-12-10 09:02] ram-msft commented on #43867
@sirjun05 Could you please share the snapshots of the same. I have used the following [sample ](https://github.com/microsoft/Cognitive-SpeakerRecognition-Windows) created the profile, upload a audio file and enroll a user. After successfully enrolling the user I tried to identify the user using the identify and it was able to successfully identify the enrolled user. Here is a screen shot of the sa

[2019-12-10 09:10] rayne-wiselman commented on #42587
Fixed. The change will show up later today. Thanks!
#please-close

[2019-12-10 09:10] #42587 closed

[2019-12-10 09:10] rayne-wiselman commented on #42007
Added this info to the article. Thanks for your feedback!
#please-close

[2019-12-10 09:10] #42007 closed

[2019-12-10 09:15] rayne-wiselman commented on #43879
Closing this here.
#please-close

[2019-12-10 09:15] #43879 closed

[2019-12-10 09:24] ksgopal4 opened #44374 "Permission needed to run set RBAC for storage"
Article should mention, what permissions are needed to run these commands, both as a user and as a service principal. This is not clear from documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: acf84bf3-dbf7-bb9c-0002-8f0692e218d3
* Version Independent ID: fc3f3dc3-27ac-6d31-1aea-5ec0f9d868d4
* Content: [Use P

[2019-12-10 09:26] rayne-wiselman commented on #43402
#please-close. You can email me for more details

[2019-12-10 09:26] #43402 closed

[2019-12-10 09:39] aidanfinn opened #44375 "What about existing WAF instances?"
Just like every other PoSH example for WAF, this page assumes a clean lab environment. One is most likely to deploy custom rules in EXISTING deployments of a WAF where problems are found. But there is no documentation on how to do this deployment.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55f82804-ee47-ea10-8cfc-9

[2019-12-10 09:46] ManojReddy-MSFT commented on #44290
@ww451575464 Thanks for the update. I have assigned the issue to an SME from cognitive services and he will get back to you shortly.

[2019-12-10 09:49] JasperCodes opened #44376 "Cross-tenant data factory operation not supported?"
Hi I have delegated a subscription to another tenant, in which a authorized user has deployed a Data factory. He can see the data factory resource in the management tenant, but receives errors when trying to perform operation in the Data factory.

Are cross tenant Data factory operation not supported? And if not, when (if at all) will Data factory operation be supported in Azure Lighthouse.

---
#

[2019-12-10 09:50] xlegalles commented on #21127
I totally agree with @ricardoserradas  and don't understand your answer: it is much more efficient to have a full list of unsupported features than having to look for absent keywords. A documentation is made to help developers isn't it?

[2019-12-10 09:51] jjindrich opened #44377 "Expose Function as OData service"
Hi, I'm looking for solution how to publish Azure Function as OData service. There is workaround how to convert Rest to OData https://www.algohace.net/posts/odata-en-azure-functions-v2/. Is it planned to have it native OData support in Azure Functions runtime ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a8a0ac96-e4

[2019-12-10 10:03] ManojReddy-MSFT commented on #42906
@mayankprayas I apologize for the delay in getting back to you. If you are still facing the issue, can you provide the following details to investigate this issue further?

1) Are you getting this error when you send the code_challenge parameter to the authorize endpoint?

2) What exactly do you mean by "if code_challenge length varies we will get this error.". Are you changing the length of code_

[2019-12-10 10:10] wankostar commented on #44108
would you tell me about the situation?
Thanks.

[2019-12-10 10:11] Jbarrins opened #44378 "Sensor types included in Devkit template and data"
Why does the IoT DevKit template for IoT Central not include all the sensor data? It only has temperature, humidity, and pressure - and I'm not getting Temperature data (see images)
I need the motion sensors (gyroscope and accelerometer).
<img width="960" alt="no temperature data" src="https://user-images.githubusercontent.com/27839419/70520280-9bdb0a80-1b3d-11ea-9f1e-8c5c83cba854.PNG">
<img width

[2019-12-10 10:12] wankostar commented on #44106
@jakaruna-MSFT
I appreciate for your help.
Would you tell me about the situation?
Thanks!

[2019-12-10 10:15] Bhanu88 opened #44379 "Connection termination error for ssl URL"
when we have installed istio 1.4.0 with AKS and trying to use SSL url it is giving following issue

Upstream connect error or disconnect/reset before headers. reset reason: connection termination

Note : same setup is working fine with Istio 1.3.2

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d64cf65-bf33-ff76-3ece-4

[2019-12-10 10:17] ManojReddy-MSFT commented on #43774
@WJayesh Apologies for the delay. The article is indeed about V2.0.

Coming back to the issue, can you browse the URL being generated in your app manually in a browser? It should show you a sign-in page.

If it doesn't show you a sign-in page, you should get an error that will help us identify where the problem is.

Sample: https://amsin.b2clogin.com/amsin.onmicrosoft.com/b2c_1_susitest/oauth2/v2.

[2019-12-10 10:23] bentwistbsc commented on #21690
Was someone able to find a solution to this issue?

[2019-12-10 10:27] ChrisAtMAF opened #44380 "Mozilla Firefox now supports network.negotiate-auth.trusted-uris via Group Policy"
Hi,

Mozilla Firefox now supports configuring the network.negotiate-auth.trusted-uris section via Group Policy:

1) Download the ADMX templates via https://support.mozilla.org/en-US/kb/customizing-firefox-using-group-policy-windows and add them to the Group Policy Central Store as per https://support.microsoft.com/en-us/help/3087759/how-to-create-and-manage-the-central-store-for-group-policy-admin

[2019-12-10 10:32] ram-msft commented on #44373
@ajakupov Thanks for the question. We are investigating the issue and will update you shortly.

[2019-12-10 10:34] ManojReddy-MSFT commented on #41458
@limjiann Apologies for the delay in getting back to you.

For versions 4.6 and above, security settings can be controlled in two methods.
1) App context
2) Windows Registry Key

Most of the applications, use App context, instead of the registry key as described here: https://docs.microsoft.com/en-us/dotnet/framework/network-programming/tls#configuring-security-via-appcontext-switches-for-net-fram

[2019-12-10 10:44] shashishailaj commented on #44380
@ChrisAtMAF Thank you for pointing that out . We will have this reviewed and action it accordingly.

[2019-12-10 11:03] SABARISHV06 commented on #44370
@ChiragMishra-MSFT thanks for confirmation.

[2019-12-10 11:04] ChiragMishra-MSFT commented on #44370
@SABARISHV06 I will now proceed to close this thread. Feel free to still comment and tag me if you have any queries around the same.

[2019-12-10 11:04] #44370 closed

[2019-12-10 11:05] limjianan commented on #43925
@neeleshray-msft hello, i think the ticket has been closed without updating the documentation. If @rohinigoyal1  is correctt, then this should be reflected in the documentation on the top section to highlight so user should consider using security default or conditional access.

[2019-12-10 11:05] AshokPeddakotla-MSFT commented on #44378
@Jbarrins Please help with the link of document on which above document feedback request is created.
Under this repository we want to make sure any issue is linked to a doc so we can help others that may be having the same issue.

[2019-12-10 11:09] Jbarrins commented on #44378
https://docs.microsoft.com/en-us/azure/iot-central/preview/howto-connect-devkit

I think the Temperature data should be being sent, but isn't. I don't think
this is a hardware issue - can you replicate it?

And if the sensor data that is being sent is limited to three types, I
would request all sensor types can be included in the IoT DevKit template.

On Tue, 10 Dec 2019 at 12:05, AshokPeddakotla-

[2019-12-10 11:17] VikasPullagura-MSFT commented on #44369
@miiichael Thanks for the Feedback.
I have assigned the issue to content author to check and update document accordingly.

[2019-12-10 11:18] VikasPullagura-MSFT commented on #44369
@axayjo Please look into this feedback and add your comments as applicable.

[2019-12-10 11:20] SnehaAgrawal-MSFT commented on #44254
@PingPongSet Thanks again for asking question! If I have understood right, you want to access managed identities for app services instead of Azure SQL Database.
You may refer to below link: https://docs.microsoft.com/en-us/azure/app-service/overview-managed-identity?tabs=dotnet

[2019-12-10 11:21] jakaruna-MSFT commented on #44366
@onkarthg Can you give me the version of ansible and the azure module which you are using

[2019-12-10 11:23] SnehaAgrawal-MSFT commented on #44252
@PingPongSet Thanks again for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-12-10 11:27] msrini-MSFT commented on #44375
@aidanfinn , Can you try the below script?

$a = Get-AzApplicationGateway -Name "Name of AppGW" -ResourceGroupName "RG of AppGW"
# Check if there is any firewall policy that was attached earlier.
$a.FirewallPolicy
# Create a new firewall policy.
$a.FirewallPolicy = New-AzApplicationGatewayFirewallPolicy -Name "RestrictIPsForGW" -ResourceGroupName "AppGW" -Location "westus" -CustomRule $apiAllExcep

[2019-12-10 11:32] mtwelve opened #44381 "Is this the same as the feature as is controlled the WEBSITE_DYNAMIC_CACHE application setting?"
Is this the same as the feature as is controlled the WEBSITE_DYNAMIC_CACHE application setting?

I cannot find any documentation regarding the option WEBSITE_DYNAMIC_CACHE.

I also wanted to know if WEBSITE_DYNAMIC_CACHE is supported on Linux App Services?

Thanks
Sam

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93f1

[2019-12-10 11:33] msrini-MSFT commented on #44372
@bencalnan , Thank you for your feedback. You are absolutely correct. If you enable HTTPS only, the HTTP call request are not processed.

It is called out in portal itself:

The protocol used from the client to the origin. The same protocol (HTTP or HTTPS) is used from the client to the CDN, and from the CDN to the origin (e.g., if the client to the CDN is using HTTP, the CDN to the origin must us

[2019-12-10 11:34] AshokPeddakotla-MSFT commented on #43943
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-12-10 11:34] #43943 closed

[2019-12-10 11:35] shashishailaj commented on #44284
@JGezels Thank you for pointing this out. I think you are still trying to use the legacy App registration experience which had properties tab and hence you see that option. The new app registration experience have the home page URL settings under Branding section as shown below.

As for your main issue of Home Page URL grayed out , it's because you require [**Application administrator**](https://d

[2019-12-10 11:35] #44284 closed

[2019-12-10 11:36] Jbarrins commented on #44378
I'm using the IoT Central Connected Logistics template, by the way.

On Tue, 10 Dec 2019 at 12:09, <johnbarrins@gmail.com> wrote:

[2019-12-10 11:37] AjayKumar-MSFT commented on #44381
@mtwelve, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-12-10 11:37] smahajan1989 opened #44382 "Can you use Yahoo as your identity provider"
In the docs, it doesn't state that we can use yahoo as an identity provider. Can you please provide if that is supported

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b8cd351-ffd7-d9f4-2894-b31bd903915d
* Version Independent ID: 72118a2f-53cf-aaed-c655-b98f114eb0d5
* Content: [Tutorial: Add identity providers to your

[2019-12-10 11:40] SwathiDhanwada-MSFT commented on #43967
Thanks for reaching out. Here is an example for diagnostic setting that might help you.

`{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "batchaccountName": {
            "type": "String",
            "metadata": {
                "description": "Name of the Batch Account that will be

[2019-12-10 11:40] #43967 closed

[2019-12-10 11:41] JGezels commented on #44284
Thanks! Found it in the mean time 😉

Jan GEZELS
Groupe Architecture & Project - DSI SUEZ HQ
-
Toutes les enterprises du Groupe portent désormais la marque SUEZ
-
SUEZ
Tour CB21 - 16 place de l’Iris
92040 Paris La Défense - France
Mob.: +32 475 69 05 58

[1476175783464_PastedImage]

From: ShashiShailaj-MSFT <notifications@github.com>
Sent: Tuesday, 10 December 2019 12:36
To: MicrosoftDocs/azure-doc

[2019-12-10 11:45] asergaz commented on #44378
Hi @Jbarrins can you test with the firmware from this repo instead? https://github.com/Azure-Samples/mxchip-iot-devkit-pnp/tree/master/bin

This relates to #44294

[2019-12-10 11:52] RohitMungi-MSFT commented on #44365
@vignesh-123 Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-12-10 12:25] faisch commented on #43012
@anzaman : I do get installed a "semi route summarized" route installed if I'm connecting (still without a need for admin). My vnet is 172.23.128.0/22; i do get installed as a route on the client 172.23.0.0/16.
Additionally, as I like to do, you need to install routes for on-premise-service - this can be done with the powershellcommandlet "Add-VpnConnectionRoute". at least in my environment withou

[2019-12-10 12:27] joslat opened #44383 "MXChip Firmware does not allow IoT connection string"
Hi,
the link to https://aka.ms/devkit/prod/getstarted/latest gets a non-working Firmware (devkit-getstarted-1.6.5.bin) that does not allow to add the Connection string.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0cf9b53c-0438-f23c-fd2e-d57481d57e85
* Version Independent ID: f01afd66-d093-ac44-2b20-df225530b39e
* Co

[2019-12-10 12:27] truealex81 opened #44384 "Deny policies doesn't applied until container restarted"
Hello!
I have k8s cluster v1.14.8 deployed with --network-plugin azure --network-policy azure.
When I deploying denying Network Policies my pods continue to recieve traffic until I restart them. But after that if I change my policy to allow traffic it works without restart.
Is it expected behaviour?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2019-12-10 12:33] SubhashVasarapu-MSFT commented on #44352
@dcbrown16 , We are looking into this query and will update you as soon as possible.

[2019-12-10 12:34] azhar787 commented on #44242
@AshokPeddakotla-MSFT I was able to see my Invoices on 9th December,it should be properly documented somewhere so it helps us understand the scenario and not left out for assumptions.

[2019-12-10 12:44] scottsa-msft commented on #44220
Here you go
[cid:image001.png@01D5AF2D.93AA2C50]

Scott Sanders | Office 365 Service Delivery Manager
scottsa@microsoft.com<mailto:scottsa@microsoft.com> ' 678 629-5746 È 404 538-5105  7 O365 Support 1-800-936-3100
[cid:image002.png@01D5AF2D.93AA2C50]

From: Marilee Turscak - MSFT <notifications@github.com>
Sent: Monday, December 9, 2019 5:50 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.git

[2019-12-10 12:48] memildin commented on #43936
Yes, this is old and about to be retired (before the end of the month).
#please-close

[2019-12-10 12:48] #43936 closed

[2019-12-10 12:51] Jbarrins commented on #44378
That did resolve the Temperature issue! Nice one. That's resolved.

Is there an easy way to add the other sensor data? Can you update the
template or provide an additional version of it? All the effort that went
in to the DevKit and no way to use the data easily.

On Tue, 10 Dec 2019 at 12:45, António Sérgio Azevedo <
notifications@github.com> wrote:

[2019-12-10 13:12] phrayze opened #44385 "Metastore FQDNs in East US 2 have the same IP Address"
The East US 2 Metastore FQDNs resolve to the same IP Address
consolidated-eastus2-prod-metastore.mysql.database.azure.com
consolidated-eastus2-prod-metastore-addl-1.mysql.database.azure.com

both resolve to 52.177.185.181

User Defined Routes in Azure cannot have duplicate Route Prefixes, so this will fail

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2019-12-10 13:16] andyjballgit opened #44386 "What Permissions are required to create a B2C tenant ?"
thats it

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 588fc4d6-0c4d-297d-cfe1-8562728fdc4d
* Version Independent ID: cf117c91-90fa-036b-9763-a3c16b398a33
* Content: [Tutorial - Create an Azure Active Directory B2C tenant](https://docs.microsoft.com/en-us/azure/active-directory-b2c/tutorial-create-tenant#feedback)
* C

[2019-12-10 13:23] SadiqhAhmed-MSFT commented on #44173
@pbutlerm FYI. Could you please review this thread and update as required.

[2019-12-10 13:28] SadiqhAhmed-MSFT commented on #44242
@qianw211 FYI. Could you please review this thread and update as required.

[2019-12-10 13:30] SadiqhAhmed-MSFT commented on #44091
@bandersmsft FYI. Could you please review this thread and update as required.

[2019-12-10 13:37] DixitArora-MSFT commented on #44377
@cgillum Any inputs in this ?

[2019-12-10 13:49] awoSYS opened #44387 "Hard to understand "Query example: Detect the duration of a condition""
I find it quite hard to understand "Query example: Detect the duration of a condition". I'm neither a SQL nor an ASA professional, so sorry, if my questions seem dumb.
Especially the square brackets notation confuses me. I assume "previousTime [EndFault]" for example is equal to "previousTime AS EndFault", but then why would you write "LAG([time]) OVER (LIMIT DURATION(hour, 24)) as previousTime" i

[2019-12-10 13:56] awoSYS opened #44388 "Basic query syntax question"
I'm not an SQL or ASA pro, so sorry if this question seems dumb.
In your SQL query example, what's the difference between wrting "metric = metrics.metric.value," in one sub-query and "System.Timestamp as time," in the other? ("=" vs. "as") Is this to show the different supported language flavors or are these two different things?
Thanks for considering my feedback!

---
#### Document Details

⚠ *D

[2019-12-10 14:01] iibber commented on #36312
Hi Microsoft,
Any further updates from your side? I can confirm that I have moved App Services with Certs inside the Private Certificates page and moved them to a new sub.

Can you confirm anything from your side?

[2019-12-10 14:04] seedosrun opened #44389 "DNS Preview Event Viewer Error - Event 4502, HealthService,"
I am getting this error in the event viewer and logs are not going up to Azure Sentinel DNS preview.  This is working on 2 of the 3 DNS servers but not this server.

A module of type "Microsoft.EnterpriseManagement.Mom.Modules.DDIAnalytics.DnsCollector.DnsZonePerformanceDataSource" reported an exception System.ArgumentOutOfRangeException: Index was out of range. Must be non-negative and less than

[2019-12-10 14:06] #44389 closed

[2019-12-10 14:06] seedosrun commented on #44389
wrong place to post.

[2019-12-10 14:09] craigshoemaker commented on #35228
@JustinGrote: The article is now updated with information regarding using [route parameters](https://docs.microsoft.com/azure/azure-functions/functions-bindings-http-webhook#using-route-parameters).

Thanks for the suggestion!

@vbrodsky: When it comes to user input, you should always do or repeat validation on the server side.

#please-close

[2019-12-10 14:09] #35228 closed

[2019-12-10 14:09] seedosrun opened #44390 "DNS Event Viewer Error Event 4502, HealthService"
I am getting this error in the event viewer and logs are not going up to Azure Sentinel DNS preview connector. This is working on 2 of the 3 DNS servers.

A module of type "Microsoft.EnterpriseManagement.Mom.Modules.DDIAnalytics.DnsCollector.DnsZonePerformanceDataSource" reported an exception System.ArgumentOutOfRangeException: Index was out of range. Must be non-negative and less than the size of

[2019-12-10 14:20] memildin commented on #43678
Thanks for highlighting this. We plan to remove this page in a reorg of this documentation set planned to occur in the next few months. This page will be removed before the end of the year.
#please-close

[2019-12-10 14:20] #43678 closed

[2019-12-10 14:39] craigshoemaker commented on #30577
Closing this issue as Python support is in preview and @jayhub42 has a work around.

#please-close

[2019-12-10 14:39] #30577 closed

[2019-12-10 14:43] cgillum commented on #44377
I think feedback.azure.com will be the best place to request native support for OData in Azure Functions.

[2019-12-10 14:43] MonikaReddy-MSFT commented on #43949
@lordlycastle , Since we haven't heard back from you,  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-12-10 14:43] #43949 closed

[2019-12-10 14:48] baatch opened #44391 "How to get objectid of managed identity through Powershell?"
Most of the other services follow the same standard for accessing the objectid of the managed identity:

$ID = (Get-AzVM -ResourceGroupName myRG -Name myVM).identity.principalid
$ID = (Get-AzDataFactoryV2 -ResourceGroupName myRG -Name myDF).Identity.PrincipalId
$ID = (Get-AzWebApp -Name "myWebapp).Identity.PrincipalId

But for Logic app the same does not work:

$ID = (Get-AzLogicApp -Name myLogicA

[2019-12-10 14:57] tkumark opened #44393 "how to find out scale set model definition has TypeHandlerVersion"
How do I find out the Scale Set model definition has TypeHandlerVersion 1.1 or above
"The Service Fabric extension on the scale set model definition must have TypeHandlerVersion 1.1 or above."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51c75ce7-2144-d81a-693c-fb51cc00f3e5
* Version Independent ID: cba654ea-ee84-fca

[2019-12-10 14:59] jabbera opened #44394 "There is no documentation on how to use custom dns"
"To avoid issues, create a different domain name or follow the suggested name for each service below."

There is no documentation on how to do use a different domain name and just replacing the "privatelink.database.windows.net" with "privatelink.database.test.tld" for my internal testing fails miserably.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2019-12-10 15:00] craigshoemaker commented on #44253
Will work with @csharpfritz internally to get this updated

#please-close

[2019-12-10 15:00] #44253 closed

[2019-12-10 15:08] agarirsonairnet opened #44395 "Starting VMs fail if peakLoadBalancingType set to BreadthFirst"
Starting VMs fail with Start-AzureRmVM : 'resourceGroupName' cannot be null error if peakLoadBalancingType is set to BreadthFirst.  Also the script did not throw this error until I removed the -ErrorAction option from the Start-AzureRmVM command.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24a6c4e2-702f-2b17-3e2d-c8

[2019-12-10 15:11] jesperilsoenielsen opened #44396 "Service Fabric DNS behavior when service replica is unhealthy"
1. Service Fabric DNS service returns IP address of nodes where service replica is unhealthy.
1.1. Steps to reproduce:
1.1.1. Add a service DNS name to WordCount service.
1.1.2. Deploy the WordCount application package.
1.1.3. Put one of the service replicas in an unhealthy state (Warning or Error) by using https://docs.microsoft.com/en-us/rest/api/servicefabric/sfclient-api-reportreplicahealth.
1

[2019-12-10 15:11] mariuszo-at-microsoft-com opened #44397 "the UI for "Automate threat responses" is different"
The current UI to assign playbooks to rules is completely different than the one described in "Automate threat responses" section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9962c711-a464-85d7-07dc-29140ff9a715
* Version Independent ID: bc9eaa33-6bb4-6c91-724e-589f022c2159
* Content: [Tutorial: Run a playbook in Az

[2019-12-10 15:15] asergaz commented on #44378
Awesome :)! To review the code or modify and compile it, go to the [Code Samples](https://docs.microsoft.com/samples/azure-samples/mxchip-iot-devkit-pnp/sample/). All is open sourced and ready to be changed ;)!

[2019-12-10 15:17] asergaz commented on #44294
Hi @Jbarrins like discussed on the other thread #44378

To review the code or modify and compile it, go to the [Code Samples](https://docs.microsoft.com/samples/azure-samples/mxchip-iot-devkit-pnp/sample/). All is open sourced and ready to be changed ;)!

[2019-12-10 15:21] alejandrocolman commented on #41460
Any updates on this?

[2019-12-10 15:23] makdotma commented on #41460
This [question](https://stackoverflow.com/questions/58647595/azure-media-services-v3-specific-output-asset-container-name/58648074#58648074) might help you @alejandrocolman

[2019-12-10 15:24] csteelatgburg opened #44398 "Error 400 - Bad Request"
After creating the bot per the instructions above when I test in the web chat I receive the following error:
The bot encounted an error or bug.
To continue to run this bot, please fix the bot source code.

I downloaded the bot code and opened it in Visual Studio Community 2019 for Mac and ran the code locally. The emulator gave the same error as above, and it also supplied the following trace:
{

[2019-12-10 15:25] makma commented on #41460
Hey @alejandrocolman , [this question](https://stackoverflow.com/questions/58647595/azure-media-services-v3-specific-output-asset-container-name/58648074#58648074) might help you.

[2019-12-10 15:26] Jbarrins commented on #44378
Thanks, I thought you guys might do it!

On Tue, 10 Dec 2019 at 16:16, António Sérgio Azevedo <
notifications@github.com> wrote:

[2019-12-10 15:27] Jbarrins commented on #44294
I thought you add the capabilities of the device to match its potential
yourselves!

On Tue, 10 Dec 2019 at 16:17, António Sérgio Azevedo <
notifications@github.com> wrote:

[2019-12-10 15:27] smwwork opened #44399 "Is SSL termination (SSL/HHTPS inspection or acceleration) on traffic from the connector servers to Azure supported?"
HHTPS?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e155d50c-0cce-90a0-5635-54f58669bb3f
* Version Independent ID: c290985b-a0ff-9a42-0300-d71e2aec4377
* Content: [Azure AD Application Proxy frequently asked questions](https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/application-proxy-faq#feedback)

[2019-12-10 15:31] asergaz commented on #44294
@Jbarrins we prioritize the feedback based on number of votes from feedback channel: https://feedback.azure.com/forums/911455-azure-iot-central . I am taking note for this one but please add an entry there as well so others can vote. Thanks!

[2019-12-10 15:34] msmimart commented on #44158
@mikenri thank you for the follow-up; please have a look at the section we've added, which includes a PowerShell sample.

[2019-12-10 15:35] mirage8 opened #44400 "AKS node group tags created by policy on creation"
Dear Team, regarding this statement: "AKS allows you to create and modify custom tags. You might want to create or modify custom tags, for example, to assign a business unit or cost center. By modifying the resources under the node resource group in the AKS cluster, you break the service-level objective (SLO)."
Our policy applied to all resources in the subscription forces that each resource gets

[2019-12-10 15:35] benlucasbeggars opened #44401 "Tenant URL has changed"
https://api.ciscospark.com/v1/scim/{OrgId}
as seen here https://help.webex.com/en-us/aumpbz/Synchronize-Azure-Active-Directory-Users-into-Cisco-Webex-Control-Hub

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd387482-3e21-f53c-d54e-6a853356b511
* Version Independent ID: 84781f14-a81a-b0c0-f5c0-2000eb7d08e3
* Content:

[2019-12-10 15:38] jshinevar opened #44402 "Unable to add Application Insights to .NET Core 3 Web App running on Linux from the Resource Manager"
When creating a Web App in the Azure Portal, I selected the .NET Core 3 runtime and Linux for the OS.  When I move to the monitoring tab, I am told that Application Insights is not available for my configuration.  You can see screenshots of my issue at: https://stackoverflow.com/questions/59269801/can-application-insights-be-used-with-a-linux-web-app-running-net-core-3-runtim

---
#### Document De

[2019-12-10 15:41] Chai-NED opened #44403 "Is this GA'ed?"
I heard that the feature has recently been generally available. True?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 98de8b0f-6cc5-8d9f-6329-f1661e3dedb0
* Version Independent ID: a6eff3cd-3859-0cc1-c29b-c7ece21f6f6c
* Content: [Overview of Azure Dedicated Hosts for virtual machines - Azure Windows Virtual Machines](ht

[2019-12-10 15:42] edu-gp commented on #44339
I used the 1-click deployment via the UI to deploy a trained model, then I followed the “Consume web services” guide to call the endpoint.

Unfortunately, when I deploy on either ACI or AKS, both deployment succeeds, but when I call the endpoints, they time out.

The error above is for ACI. I just tried deploying on AKS and hitting the endpoint there, I get the error “Request timed out on replica”

[2019-12-10 15:47] vishalsinghdev commented on #44187
@amkondi , I followed  below document to mount the disk.
[https://docs.microsoft.com/en-us/azure/virtual-machines/linux/attach-disk-portal](url)

I mounted disk successfully and after that i started disk encryption as volume = All, so when I runned powershell command to get status shows the data disk is not mounted.

[2019-12-10 15:51] SamaraSoucy-MSFT commented on #44402
@jshinevar thank you for your feedback. I will investigate and get back with you shortly.

[2019-12-10 15:53] ranzanici opened #44404 "9443 needed for migration?"
port 9443 is listed in other pages as needed (with 443) for MIGRATION, but not here

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 104caea8-472d-2fc6-e50f-343d00fddeee
* Version Independent ID: bd4ae232-e684-f687-e8a8-3ed7d4d87a10
* Content: [Support for physical server assessment/migration with Azure Migrate - Azure M

[2019-12-10 16:08] dfw-dba opened #44405 "What does the abbreviation GA mean?"
In this quote, what does GA mean?
"For Azure AD admins for MI created prior to GA, but continue operating post GA"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d4a33b0-87d0-f60c-1b52-aeafa889e657
* Version Independent ID: c281bdb7-c98c-6853-5077-41b3dd44d3a2
* Content: [Configure Azure Active Directory authenticatio

[2019-12-10 16:08] Jbarrins commented on #44294
Done. Thanks a lot. You know it makes sense :)

On Tue, 10 Dec 2019 at 16:31, António Sérgio Azevedo <
notifications@github.com> wrote:

[2019-12-10 16:09] amkondi commented on #44187
@vishalsinghdev try theses steps mybe it will succeed :

1- Attache the data disk from the portal
2- Restart your VM
3- execute theses commands (for my case it was Ubuntu)
    - fdisk /dev/sdc ==> follow the instruction
    - partprobe
    - mkfs -t ext4 /dev/sdc1
    - resize2fs  /dev/sdc1
    - UUID=$(blkid | grep sdc1 | awk 'NR>0 {print $2}' | sed -e 's/\"//g')
    - echo "$UUID   /<Your_Mount_

[2019-12-10 16:13] AggieCMD opened #44406 "Provide more detail on nameid restrictions"
Is the following statement accurate? Any transformation with more than one step gets generated as persistent, however, a strict attribute mapping with no transformation or a single transformation will correctly be generated as “unspecified” with the proper value.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d362c1b5-

[2019-12-10 16:20] NavtejSaini-MSFT commented on #44405
@dfw-dba GA means Generally Available. Any Azure service is first made available as a Preview and all the issues are corrected in the preview and then made generally available.

[2019-12-10 16:22] ManojReddy-MSFT commented on #44368
@jmprieur I will submit a PR to add that link to the doc. Let me know if you want me to assign this to you.

[2019-12-10 16:25] potato-enthusiast opened #44407 "Performance considerations for modifying replicated tables"
The sentences:
"For example, a replicated table on a DW400 has 5 copies of the data. A master copy and a full copy on each Compute node" do not agree with the specs in https://docs.microsoft.com/en-us/azure/sql-data-warehouse/memory-concurrency-limits which states that DW400 has 1 compute node, not 4.

It would be helpful to elaborate on the role of the master table as well. Which compute node hol

[2019-12-10 16:29] ctimon opened #44408 "How about an example using DiskSpd utility?"
Why not use Diskspd - https://gallery.technet.microsoft.com/DiskSpd-A-Robust-Storage-6ef84e62

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a29e4933-1dc6-c222-5ea5-25bdfaa3b426
* Version Independent ID: 2c387745-4f69-21b2-8388-71600a09d450
* Content: [Benchmarking your application on Azure Disk Storage - managed disks

[2019-12-10 16:30] Rodrigossz opened #44409 "API not part of the link"
In the URL below, Extract text from images section, two APIs are mentioned.

On the first one, API is part of the link. On the second one, it is not. I suggest to choose one style and use it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f12a77c5-fc42-c179-5af7-6c7b2197de28
* Version Independent ID: 2db8d484-530e-d507

[2019-12-10 16:30] rsponholtz commented on #37849
These changes apparently didn't get merged to master yet.

Also, bash shell scripts should not have spaces between the variable, the equals sign, and the expression.  For example:
#spaces between subscription and equals sign and ", gets an error
me@Azure:~$ subscription = "eef21314-653e-4eec-893f-81681da67b86"
bash: subscription: command not found
#remove the spaces is successful
me@Azure:~$ subsc

[2019-12-10 16:31] shornddia opened #44410 "Sign-In error code missing: 500014"
We are getting a sign-in error code: 500014 with the failure reason: Other when users are trying to log into Power BI Desktop

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa732de6-2cab-d780-aa21-dfec80e0a8fe
* Version Independent ID: 1a11b9b6-cf4f-3581-0864-0d5046943b6e
* Content: [Error codes in the Azure Active Dir

[2019-12-10 16:33] Ballzer0 opened #44411 "timeout in minutes right?"
the page should probably specify that the function timeout duration is in minutes. IDK why but i assumed it was in seconds and i was trying to think about all kinds of workarounds to do my data analytics job in a bunch small runs.

TLDR: should probably specify that the timeout duration is in minutes

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2019-12-10 16:36] aparent-talend opened #44413 "ADLS Gen2 on HDP 3.1.x"
From this page I can read that ADLS Gen2 is supported on HDP 3.1
However when I click on the link, it's about Cloudbreak and not "on-premise" HDP.

Is ADLS Gen2 available on "on-premise" HDP 3.1 ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ab1d75b-3cbf-58f2-6d6f-8f7445fc27a7
* Version Independent ID: 9d4e2945-27ec

[2019-12-10 16:40] sanoraya commented on #44235
Thank you Krishna, I apologize for posting my question in the wrong place. You can close the issue

[2019-12-10 16:40] #44235 closed

[2019-12-10 16:40] DixitArora-MSFT commented on #44411
Hi @Ballzer0 Thanks for your feedback. We will review and update as appropriate.

[2019-12-10 16:43] potato-enthusiast opened #44414 "Replicated tables"
Please elaborate on the behavior of replicated tables when they're used in joins. My testing indicates that with consecutive, identical queries which include a replicated table, the first query is much slower than those following it. I  However, I cannot find an explanation of this behavior in this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-12-10 16:50] #44172 closed

[2019-12-10 16:51] j-martens commented on #44230
#assign:@maxluk

[2019-12-10 16:53] alejandrocolman commented on #41460
Thanks you @makma !

[2019-12-10 16:58] MonikaReddy-MSFT commented on #44273
Hello @SidShetye ,
Apologies for the delay here.

Currently Remote debugging is not supported for Linux OS.
I have tried to repro the scenario and this is what it says in the portal **"Your Selected Runtime Stack does not currently Support Remote Debugging"**

Please see the screenshot below:
![RemoteDebugging](https://user-images.githubusercontent.com/47833949/70550596-fc6d4600-1b43-11ea-992e-322

[2019-12-10 16:58] #44273 closed

[2019-12-10 16:58] csteelatgburg commented on #44398
After more trouble shooting I was finally able to determine that there was an issue with the underlying knowledge base. When attempting to test the KB on the QnA Maker site I received an error of Unknown KB. I created a new KB, updated the app service configuration and the bot is now working.
This would have been much easier to track down with better error handling in the example client.

[2019-12-10 16:58] stevebus commented on #43157
any updates?  Still can't get this to work...  Have a second customer interested in doing this...

[2019-12-10 16:58] samueljamkhandi07 opened #44416 "Typo at step 13 under solution for case 1"
[Enter feedback here]

Shouldn’t it be “Unload Hives from Menu” instead of Load Hives under “Solution for Case 1” at 13th Point.

13. Select the BROKENSYSTEM key and then select File > Load Hive from the menu.

Regards
Samueljamkhandi
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e814964-701d-7f37-0864-ad5e417e0a49
*

[2019-12-10 16:58] jordanchang commented on #43834
@DixitArora-MSFT, I'm not sure I got an answer on what the expected behavior is. From my testing, it appears APIM will respect your Backend API's Expires header, regardless of what's set in the APIM cache-duration field. If that's true, what is the proper way to express this behavior without putting in a magic number in cache-duration field that will actually be ignored.

[2019-12-10 16:59] adrianwells opened #44417 "Details for files and folders skipped varies between documents"
Details between the Storage Files FAQ &lt;https://docs.microsoft.com/en-us/azure/storage/files/storage-files-faq&gt; and this document &lt;https://docs.microsoft.com/en-us/azure/storage/files/storage-sync-files-planning#files-skipped&gt; differ in the statements about "Files skipped" by Azure File Sync. Please review and update. Maybe one document should simply reference the other to keep one sour

[2019-12-10 17:05] miryb commented on #41118
Coming back on this issue that matopablo was saying. Besides replacing servername with the database property, you also need to remove the TechNet Gallery script which uses same Servername attribute. This is written on the script page by the author and in comments:

I have removed this script based on the comments by Brian Day regarding the accuracy of the attribute being used; unfortunately I have

[2019-12-10 17:11] pvayner opened #44418 "Is guidance going to be updated for Brazil?"
Is the guidance for Brazil expected to change, considering southeast satellite?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09a788e4-0130-73f2-d985-6fc3aec77974
* Version Independent ID: a9f4ec3f-f0a3-b050-020b-f487c74c5179
* Content: [Business continuity & disaster recovery - Azure Paired Regions](https://docs.micr

[2019-12-10 17:16] msrini-MSFT commented on #44403
@Chai-NED , No. This feature is still in public preview and the GA date is pushed. ETA on GA date cannot be shared via this forum.

Once the feature is GA, this docs will be updated.

[2019-12-10 17:16] #44403 closed

[2019-12-10 17:30] nibaccam commented on #40694
@AndrewLouw did this help answer your questions?

[2019-12-10 17:31] shanmuksai commented on #13195
@fhryo-msft
I was trying to add application insights for storage account,I was facing the following error.
**Subscription '47254fc5-a663-47a3-98dd-5d2369669a17' is not whitelisted in the private preview of diagnostic log settings for Azure resource type 'microsoft.storage/storageaccounts', feature flag: 'microsoft.insights/diagnosticsettingpreview'**
By following your discussion I came to know tha

[2019-12-10 17:38] Chai-NED commented on #44403
https://azure.microsoft.com/en-us/updates/azure-dedicated-hosts-now-generally-available/

Thanks,

Chai

________________________________
From: KARTHIK SRINIVAS <notifications@github.com>
Sent: Tuesday, December 10, 2019 12:16:36 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Chai-NED <Csadvisor@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azu

[2019-12-10 17:39] HoCGeek commented on #42225
The document states:

“Registering and joining give your users Seamless Sign-on (SSO) to cloud resources and administrators the ability to apply Conditional Access policies to those resources.”

As far as I know, there is no way to “apply Conditional Access policies” to registered devices, so the line above is misleading.

Dan

From: RavennMSFT <notifications@github.com>
Sent: December 5, 2019 3:1

[2019-12-10 17:39] PramodValavala-MSFT commented on #44391
@baatch Thanks for the feedback! We will review and update accordingly.

[2019-12-10 17:42] msrini-MSFT commented on #44403
Yes, it got delayed and GA is pushed further

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Chai-NED <notifications@github.com>
Sent: Tuesday, December 10, 2019 11:08:39 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Karthik Srinivas <msrini@microsoft.com>; State change <state_change@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure

[2019-12-10 17:46] amuthusa commented on #44340
One of the vm size I tried is Standard_ND40rs_v2 which throws SkuNotAvailable another failure i encountered is OperationNotAllowed for vm size Standard_M8-2ms. We need a way to get the compatible size which we will be able to resize (which can apply filter for Skus which are either not available for subscription or quota not available)

[2019-12-10 17:51] jmprieur commented on #44368
@ManojReddy-MSFT sure I'll be happy to review your PR :)

[2019-12-10 18:01] mmacy commented on #44306
Hi @leniel, that PR is in the private repo (azure-docs-pr). Microsoft internal folks typically work in the private repo, and we provide the public repo for community contributions and issue tracking (like this one).

[2019-12-10 18:03] hrasheed-msft commented on #44080
Sent a reminder to the author.

[2019-12-10 18:04] rwike77 commented on #41704
Updates have merged, will publish soon.  #please-close

[2019-12-10 18:04] #41704 closed

[2019-12-10 18:11] femsulu commented on #43973
hi @santhoshbomma9 For Azure subscription the activation is instant, in rare cases there may be a few hours lag. Hope that answers your question.
We will now close this thread but do let us know if you have any follow up questions and we will be happy to continue the conversation.

Cheers.

[2019-12-10 18:11] #43973 closed

[2019-12-10 18:13] Heidilohr commented on #42061
I've updated the document and the changes should go live later today. #please-close

[2019-12-10 18:13] #42061 closed

[2019-12-10 18:13] mmacy commented on #44358
Hi @peterturquoise, the need to XML-encode the client secret actually depends on the characters that are included in the generated client secret. Sometimes characters that are included in the client secret string that are reserved XML strings, and sometimes not, thus we specify the need to XML-encode the value to be safe.

There are several online tools you can use for XML-encoding a string, try t

[2019-12-10 18:16] mrudulan commented on #43113
Hey @iljoong we don't support FPGA inference on notebook vms yet.
I will take this as customer ask and add it into your backlog item.

[2019-12-10 18:17] vishalsinghdev commented on #44187
Sure, I will try this out and get back to you.

[2019-12-10 18:22] rbrayb commented on #27593
https://stackoverflow.com/questions/59270821/recommended-sign-in-user-flow-available

Valid question - there is currently no recommended sign-in only flow.

And sign-in only is a valid use case.

[2019-12-10 18:26] TiloGit opened #44420 "Auto-shutdown changes in Activity Log?"
I change Auto-Shutdown (enable on/off) but the "Activity log" doesn't record this.
Can yo please add how I would see that in your FAQ.
"providers/microsoft.devtestlab/schedules/shutdown-computevm-MyVM'
".properties.status"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d0898b73-c45b-a846-3753-992411edeaa7
* Version Ind

[2019-12-10 18:33] lordneeko commented on #31136
I agree. Link Shortening services are VERY suspicious. In fact the DoD blocks all of them (except their own HA)...so all aka.ms links just fail for us. This is actually becoming commong for enterprises. The reason is we TRAIN users to look at URLs to be sure they are going where they think they are going. With Link Shorteners you can never be certain...no matter how "official" the link shorteener

[2019-12-10 18:35] JimacoMS3 commented on #43523
Hi @iancraig45,

Since this doesn't appear to be a documentation item, I'm going to close the issue. To pursue it further, I suggest running the command with the `--debug` option and then filing on Stack Overflow to get help from our support engineers.

Thanks,

Jimaco

[2019-12-10 18:36] YutongTie-MSFT commented on #44398
@csteelatgburg
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-10 18:37] YutongTie-MSFT commented on #44409
@Rodrigossz
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-10 18:37] FrankHu-MSFT commented on #44382
@smahajan1989 Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-10 18:37] FrankHu-MSFT commented on #44386
@andyjballgit Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-10 18:37] FrankHu-MSFT commented on #44399
@smwwork Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-10 18:37] FrankHu-MSFT commented on #44401
@benlucasbeggars Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-10 18:37] FrankHu-MSFT commented on #44406
@AggieCMD Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-10 18:37] FrankHu-MSFT commented on #44410
@shornddia Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-10 18:37] MonikaReddy-MSFT commented on #44420
@TiloGit , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2019-12-10 18:40] diberry commented on #44398
@csteelatgburg Please provide a sample of the better error handling in the example you would like added to the doc.

[2019-12-10 18:43] kmccormick opened #44421 "Modifying the DNS label causes AADDS109"
The default DNS label created on the public IP address must remain, but this is undocumented. We began receiving error AADDS109: Resources for your managed domain cannot be found. Per this page, this is an unrecoverable error after 4 hours, but we were able to work with support on case #119120221002543 to resolve by configuring the original DNS label.

---
#### Document Details

⚠ *Do not edit thi

[2019-12-10 18:44] Workshop2 commented on #16501
Are there any updates on this?

[2019-12-10 18:44] kmccormick opened #44422 "Can't modify DNS label on public IP address"
The default DNS label created on the public IP address must remain, but this is undocumented. We began receiving error AADDS109: Resources for your managed domain cannot be found which we were ultimately able to correct by restoring the original DNS label. A note should be added to the Network resources used by Azure AD DS section of this page.

---
#### Document Details

⚠ *Do not edit this secti

[2019-12-10 18:46] mmacy commented on #44358
#reassign:mmacy

[2019-12-10 18:48] Haddox19 commented on #35288
+1 for needing a .net core implementation.

I am attempting to rewrite AzureAD authentication as a micros service that obtains a token for authorization in the app.
We are unable to use the Owin libraries in the ASP .NET tutorial because they require the .NET 4.6.1+ framework

[2019-12-10 18:49] rastala commented on #40694
@AndrewLouw  The workaround to the issue has been documented and should go live in few hours. a We shall proceed to close this issue.

#please-close

If you feel that your issue has not been resolved, please reopen the documentation issue and provide additional context. For product issues, contact technical support.

[2019-12-10 18:49] #40694 closed

[2019-12-10 18:50] rastala commented on #43048
@lgaud The documentation has been updated to address this issue and should go live in few hours. We shall proceed to close this issue.

#please-close

If you feel that your issue has not been resolved, please reopen the documentation issue and provide additional context. For product issues, contact technical support.

[2019-12-10 18:50] #43048 closed

[2019-12-10 18:51] MarileeTurscak-MSFT commented on #44422
@kmccormick
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-10 18:52] MarileeTurscak-MSFT commented on #44421
@kmccormick
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-10 18:54] #44358 closed

[2019-12-10 18:55] mmacy commented on #44358
@peterturquoise I've changed that line to be more explicit in the "why":

[2019-12-10 19:02] AjayKumar-MSFT commented on #44072
@daltonks, Apologies for the delay! Since this channel is reserved for ‘Azure docs’ questions- For doc feedback and content improvements, we recommend posting technical questions on the [technical forum1](https://stackoverflow.com/questions/tagged/azure-web-sites) and [technical forum2](https://docs.microsoft.com/answers/topics/azure-webapps.html) where one of our specialized engineers in the subj

[2019-12-10 19:02] #44072 closed

[2019-12-10 19:05] craigshoemaker commented on #41828
This [article is now updated](https://docs.microsoft.com/azure/azure-functions/functions-bindings-storage-blob#trigger---polling) to better describe the polling algorithm. Thanks for you suggestion, @johndowns! #please-close

[2019-12-10 19:05] #41828 closed

[2019-12-10 19:09] MarileeTurscak-MSFT commented on #44220
The image isn't showing.  Please email it to marilee.turscak@microsoft.com

[2019-12-10 19:13] jjindrich commented on #44377
Posted https://feedback.azure.com/forums/355860-azure-functions/suggestions/39224662-expose-function-as-odata-service

[2019-12-10 19:13] mumian commented on #42149
@gitjeph - thank you for the comments.  I have a revision released yesterday.

#please-close

[2019-12-10 19:13] #42149 closed

[2019-12-10 19:15] MarileeTurscak-MSFT commented on #44300
Thanks. I made a pull request to update these. https://github.com/MicrosoftDocs/azure-docs-pr/pull/98547

[2019-12-10 19:15] #44300 closed

[2019-12-10 19:17] craigshoemaker commented on #22785
This syntax is documented in the [HTTP binding reference](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-http-webhook?tabs=javascript#trigger---example).

#please-close

[2019-12-10 19:17] #22785 closed

[2019-12-10 19:18] FrankHu-MSFT commented on #44399
hey @smwwork  thanks for letting us know about this! We're currently updating the doc now, as we're addressing this issue, I'll be closing this GitHub issue by end of day today. please let us know if there are any other concerns within regards to this issue before end of day today.

[2019-12-10 19:19] FrankHu-MSFT commented on #44401
thanks for letting us know about this! @zchia can you please take a look at this?

[2019-12-10 19:21] #41355 closed

[2019-12-10 19:24] oising opened #44425 "Health probe status unhealthy when using wildcard certificate on backend host (CN doesn't match host header)"
This seems like a bug --  "The Common Name (CN) of the backend certificate does not match the host header of the probe" is my error when I'm using a wildcard certifcate on the backend host. I'm using a custom probe because it's APIM (need custom path) and everything is fine when working directly with APIM. However, obviously the CN doesn't strictly match (myapim.mydomain.private against *.mydomain

[2019-12-10 19:27] shashishailaj commented on #44016
@aakash-shah Are you trying to build something which uses the leaked credential report ? As far as my knowledge goes , The UPN /password is the combination which is used to check for leaked credentials . I think you are talking about situation where one uses Alternate LogonID .[ However  alternate logon ID value is still updated in the userprincipalname attribute in azure AD](https://docs.microsof

[2019-12-10 19:27] #44016 closed

[2019-12-10 19:27] erhopf commented on #44365
@vignesh-123 - Thanks for bringing this up. You can call a custom model with the REST API using the `cid` parameter, passing in your endpoint ID as the value.

[code]

[2019-12-10 19:31] JimacoMS3 commented on #43523
#please-close

[2019-12-10 19:31] #43523 closed

[2019-12-10 19:36] JGezels commented on #21562
Is there an official way to do this with Powershell? (AzureAD cmdlets?) I guess as there is a menu option,
this should also be doable by using Powershell. (non get-msoluser cmdlets)

[2019-12-10 19:40] MarileeTurscak-MSFT commented on #38810
It does not appear that two are required. If you have further questions please open an issue on Microsoft Q&A https://docs.microsoft.com/answers/questions/index.html

[2019-12-10 19:40] #38810 closed

[2019-12-10 19:40] souravmishra-msft commented on #44231
@Martony78 , Graph explorer can also be protected by using the Conditional Access Policies. Conditional Access Policies can be applied for all the service principals that are registered in Azure AD.

![image](https://user-images.githubusercontent.com/54057592/70562759-0a0de480-1bb3-11ea-9b9b-7ec00b1051ec.png)

Hope this helps.

[2019-12-10 19:44] roygara commented on #41277
#please-close

[2019-12-10 19:44] #41277 closed

[2019-12-10 19:49] greendx commented on #27776
I'm having trouble creating a new comment. Hopefully someone can move it out into its own thread.

My question is, when using powershell to create an image from a custom VM/managed disk, why isn't there a way to automatically delete this virtual machine after creating the image like there is in the portal since the source VM becomes useless after creating an image? Is the only option using separat

[2019-12-10 19:52] CeciAc opened #44426 "Does CopyData Activity not support overwriting Sink data?"
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/azure-docs.zh-cn/issues/677

The comment below was machine-translated

@ Mr-San commented 15 hours ago — with docs.microsoft.com
Does CopyData Activity not support overwriting Sink data? Data collection should be divided into two types, full coverage and incremental insert or merge

---
#### Document Details

⚠ *Do not edit this sec

[2019-12-10 19:53] jonmikeli commented on #44117
Hi @ram-msft,

Thank you for your answer.
Unfortunately, it does not answer my question (related to commercial devices and not development devices). Any known commercial device fulfilling all the requirements you detail in the link below?
https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/speech-devices-sdk-microphone

[2019-12-10 19:59] glimoli commented on #27776
HI @cynthn I can take the feedback about the DVD-Rom not to be disabled on the Guest and update my article on "How to prepare a VHD before uploading to azure" however don't know what @greendx is talking about on this last comment.

[2019-12-10 20:10] glimoli commented on #27776
Hey @JarrettRenshaw I tried to update this out directly myself but I was blocked since I don't have access to the private repo. Can you have anyone on your team do this? my changes are in here:

https://github.com/MicrosoftDocs/azure-docs/pull/44427

[2019-12-10 20:13] YutongTie-MSFT commented on #44319
@KrzysztofCwalina Hi, thanks again for the report. I have created a PR to fix it and it should be live soon.

[2019-12-10 20:25] alexkarcher-msft commented on #44330
@dariagrigoriu This looks right up your alley :)

[2019-12-10 20:39] wpitallo opened #44428 "Continuous deployment for Linux apps running on a Consumption plan"
Hi what is the plan with: Continuous deployment for Linux apps running on a Consumption plan? When is this going to be supported? Are there any alternative CI/CD options for this setup? Does not seem like docker containers are supported either? Is this going to be available anytime soon?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2019-12-10 20:42] FrankHu-MSFT commented on #44382
hey @smahajan1989 currently there is only documentation on handling some certain external identity providers. I would suggest trying to implement Yahoo under the generic identity provider section, this can be found below.
Please see : https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-setup-oidc-idp

Per the reference on the left side of the azure docs, see below.
![i

[2019-12-10 20:45] MarileeTurscak-MSFT commented on #44323
The value of the DiskEncryptionKeyFileName is the same as the secret name.

This is described here: https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/backup/backup-azure-restore-key-secret.md

[2019-12-10 20:46] MarileeTurscak-MSFT commented on #44323
Hope this helps.

We will proceed to close this thread but if you have further questions feel free to ask in [Microsoft Q&A](https://docs.microsoft.com/answers/questions/index.html).

[2019-12-10 20:46] #44323 closed

[2019-12-10 20:53] Alberto-Vega-MSFT commented on #44081
@maxbog Were you able to resolve the issue?

[2019-12-10 20:55] #44081 closed

[2019-12-10 21:00] cdesewell commented on #21315
I'm also seeing this error, does anyone have a suggestion?

[2019-12-10 21:04] bandersmsft commented on #44091
@SadiqhAhmed-MSFT Investigating with the enginnering team. As soon as I have more info, I'll reply here.

[2019-12-10 21:11] MartinJaffer-MSFT commented on #44385
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2019-12-10 21:18] deepikabandhanadham commented on #43236
@kromerm @ChiragMishra-MSFT  Can someone please update on this?

[2019-12-10 21:27] MartinJaffer-MSFT commented on #44385
Thank you for bringing this to our attention.  I have noticed that both westus2 metastores resolve to 13.66.226.202

eastus metastore and westus metastore do not appear to have this issue.  Only those ending in 2 appear to have this issue.

I will reach out internally for more information.

[2019-12-10 21:33] Karishma-Tiwari-MSFT commented on #44416
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-10 21:34] Karishma-Tiwari-MSFT commented on #44393
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-10 21:34] msaburnley commented on #44160
Hey @vbrophy,
This is a great idea. I have created a work item to include a glossary for help and support. I'm going to close this GitHub issue. Please let me know if you have any questions. Thanks!

[2019-12-10 21:34] Karishma-Tiwari-MSFT commented on #44395
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-10 21:34] msaburnley commented on #44160
#please-close

[2019-12-10 21:34] #44160 closed

[2019-12-10 21:36] YutongTie-MSFT commented on #44270
@iahmedbacha Thanks again for the feedback, I have created a PR to fix it and it should be live soon.

[2019-12-10 21:41] Karishma-Tiwari-MSFT commented on #44408
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-12-10 21:44] #44270 closed

[2019-12-10 21:46] strategywise commented on #26707
Is there an option that would allow for something like 'run on the 8th business day of the month' ? Not sure if the above methods would work in this case?

[2019-12-10 21:46] Alberto-Vega-MSFT commented on #44383
Hi @joslat Can you please describe the issue you are seeing in more detail so I can try to reproduce this issue?

[2019-12-10 21:47] YutongTie-MSFT commented on #44258
@singsong2016
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-12-10 21:48] #44319 closed

[2019-12-10 21:48] YutongTie-MSFT commented on #44319
@KrzysztofCwalina
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-12-10 21:51] #43113 closed

[2019-12-10 21:54] peterturquoise commented on #44358
Marsh,

that was a quick response. I think it would be helpful to include a link to
tool that could do the XML encoding (or at least the search) so perhaps (at
least) add the line you wrote above

"There are several online tools you can use for XML-encoding a string, try
the search term "online xml encode string" in your favorite search engine
and you should see several this."

Thanks for looking

[2019-12-10 22:03] lostmygithubaccount opened #44430 "various issues..."
"When you use an Azure Resource Manager template to create the workspace and associated resources (including Azure Key Vault), multiple times. For example, using the template multiple times with the same parameters as part of a continuous integration and deployment pipeline."

"Check if the Key Vault resource already exists. If it does, do not recreate it through the template. For example, add a p

[2019-12-10 22:05] saurabh2996 opened #44431 "Correction to Scenario "13. High availability and disaster recovery with HSR""
[Enter feedback here]
This is a great document for anyone who wants to understand different HLI architectures. Although for scenario "13. High availability and disaster recovery with HSR" diagram shows that NIC logical interface D for STONITH is in use but the 'Ethernet' section says that 'Configured but not in use'? I believe it should be changed to In use? Please let us know what is correct.

Th

[2019-12-10 22:06] j-martens commented on #41738
#assign:@peterclu

[2019-12-10 22:13] j-martens commented on #42329
@meltemsevgi - thanks for your report. This forum is used to support issues related to azure documentation. For service level issues we would request to post them in our stackoverflow or MSDN forums with details of your implementation so other members of the community can help. #please-close If you feel that this is a documentation issue, please provide additional context.

[2019-12-10 22:13] #42329 closed

[2019-12-10 22:17] nibaccam commented on #42581
@wangdfgithub as discussed via teams, please submit your PR for this update.

[2019-12-10 22:19] oising commented on #44425
OK, so it's not a bug but the documentation is SEVERELY lacking. You cannot use a _self-signed_ wildcard certificate -- you must create a root self-signed root CA cert, then create a wildcard certificate signed with the self-signed root CA. You can then upload the CA root CER file (public key) to the http setting, and bind the APIM gateway with the wildcard PFX (full chain PFX). Man, this took day

[2019-12-10 22:32] RavulaChetan opened #44432 "App Service stack for .NET Core"
Hi
I am creating Azure Web App, by default the the Runtime Stack is .NET, i am deploying a .NET Core app but the Runtime Stack is still set to .Net with version 3.5 on it.

i can find a powershell command to change the stack to .NET Core either.

How does the runtime stack get updated to .NET Core if i dont want to do it manually.

[2019-12-10 22:42] HeidiSteen commented on #24491
@edercastro77   I believe it was fixed last spring, so perhaps there is a regression or its a different issue?  For product related questions, I recommend stack overview.  It's closely monitored by the engineering team. https://stackoverflow.com/questions/tagged/azure-cognitive-search

[2019-12-10 22:45] GiftA-MSFT commented on #44430
@lostmygithubaccount we are reviewing your feedback and will get back to you shortly. thanks.

[2019-12-10 22:49] GiftA-MSFT commented on #44430
@Blackmist the documentation mentions that "if you have an existing KeyVault, then add a parameter that allows you to disable the creation of the Key Vault resource if it already exists". Can you provide an example? Which [parameter properties](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-authoring-templates#parameters) should we use for creating a parameter based o

[2019-12-10 22:49] seetharamanis opened #44433 "504 : Bad Gateway error"
Getting Bad Gateway (504) error while running a fairly simple transformation on a premium function. Time out is to 50 minutes, yet, it doesn't complete. I believe the client thread is waiting for some endpoint which is long gone (even before 50 minutes).  Live-stream didn't detect any error in processing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2019-12-10 22:55] singsong2016 commented on #44258
hi.i have a puzzle while using azure service. i do not understand this sentence: free tier rest period 30days.
is that mean there will be 30days to expire free tire when it is up to date?&nbsp; thans very much

---Original---
From: "YutongTie-MSFT"<notifications@github.com&gt;
Date: Wed, Dec 11, 2019 05:47 AM
To: "MicrosoftDocs/azure-docs"<azure-docs@noreply.github.com&gt;;
Cc: "Mention"<mention@n

[2019-12-10 22:58] TravisCragg-MSFT commented on #44425
@oising this is discussed [Here in the End to End SSL with the V2 SKU](https://docs.microsoft.com/en-us/azure/application-gateway/ssl-overview#end-to-end-ssl-with-the-v2-sku). Where would you recommend this requiremet be in the future to make this easier to troubleshoot?

[2019-12-10 23:02] JnHs commented on #44376
Hi @JasperCodes -
I believe this is not currently supported - but to help confirm, could you share more about the specific operations the user was trying to perform on the Data Factory?

[2019-12-10 23:06] anumalasri opened #44434 "How to set Health Check URL for a webapp"
This document explains everything, but how to set HealthCheck, before setting up Alerts.

Can you please explain detail on how to set health check URL for a WebApp Resource, especially using Docker in ASE ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aee61956-ad7e-4573-3bbb-461f3043bcb1
* Version Independent ID: cdf

[2019-12-10 23:15] jbmadscience opened #44435 "Some context, please?"
What namespaces do we need to import? What nuget packages should we reference? What types does the Linq to CosmosDB SQL apply to? Perhaps I'm missing something, but all I see in the examples is "input" with no explanation for what "input" is.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7af26f57-f473-916a-bd4d-0918ef

[2019-12-10 23:35] PatrickFarley commented on #40627
#please-close
Feel free to reopen if you still have the issue

[2019-12-10 23:35] #40627 closed

[2019-12-10 23:40] allan-mobley-jr opened #44437 "Azure Function Serverless Smerverless"
I was so excited about going serverless that I decided to make preparations for the way I deploy our company services. A couple of days ago, I deployed two empty Azure Function consumption plans via the Azure portal. However, I paused there until today when I decided to create an HTTP trigger on one of them for testing.

To my surprise, I discovered that Azure had already assessed $80.47 in total

[2019-12-10 23:53] chjone opened #44438 "Requesting more clarification on early terminations"
Is the 12% early termination fee based on the original reservation amount or on the remaining balance?  It would also be helpful to see some example calculations for early termination. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f0af130-6b0a-0a7e-5fd9-e67810f66b45
* Version Independent ID: 445b1c77-472a-e0f

[2019-12-11 00:04] Karishma-Tiwari-MSFT commented on #44379
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-11 00:08] Mike-Ubezzi-MSFT commented on #44407
@potato-enthusiast Thank you for bringing this to our attention. I will have the content author evaluate and update as appropriate.

[2019-12-11 00:13] femsulu commented on #44376
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-12-11 00:14] vbrophy commented on #44160
Hi Ajane,

Yeah, am creating a support process guide for our internal 3rd line support on how to create Azure tickets and was looking for a break down of what all the different options are in the dropdowns. Most of it is pretty straightforward, but for certain things the dropdown lists can be pretty long and I don’t expect our 3rd line support to readily understand all this stuff so I thought a gl

[2019-12-11 00:15] femsulu commented on #44404
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-12-11 00:15] femsulu commented on #44434
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-12-11 00:20] Karishma-Tiwari-MSFT commented on #43511
I am sorry for the delay on this. Are you still seeing the issue or you were able to resolve it. Please let me know.

[2019-12-11 00:22] wiazur commented on #40627
@PatrickFarley Thanks, I must have lost notifications for this when I had an account switch mid-October. I think we are not working on this anymore, but thanks anyway!

[2019-12-11 00:23] Mike-Ubezzi-MSFT commented on #44407
The [Memory and concurrency limits for Azure SQL Data Warehouse](https://docs.microsoft.com/en-us/azure/sql-data-warehouse/memory-concurrency-limits#data-warehouse-capacity-settings) doc specifies only a single compute node for DW400c:

![Screenshot (513)](https://user-images.githubusercontent.com/37126106/70580311-29335480-1b68-11ea-850b-87da72c738f1.png)

Where the doc discussing replicated tabl

[2019-12-11 00:26] MarileeTurscak-MSFT commented on #44374
@ksgopal4 please include the link to the article that you would like to be updated.

[2019-12-11 00:28] kyschouv commented on #43511
I haven't tried since, but I'd still call it a known issue. Not being able to change the min scale setting (and have the current value react, instead of block the change) is fairly impactful. We had an incident that required forcing a higher scale, and I had to turn off cluster-autoscaler and manually scale the cluster, since I couldn't change the autoscaler settings.

[2019-12-11 00:30] dcbrown16 commented on #16442
@Mike-Ubezzi-MSFT
I just ran across this as well, the introductory paragraph needs updating. It should not put the classic model first, and this whole article doesn't even mention the possibility of virtual network rules/service endpoints. The requirement for public IPs is very misleading.
"Then, create a reserved IP (classic deployment) for the resource that needs to connect, such as an Azure VM

[2019-12-11 00:41] MarileeTurscak-MSFT commented on #44390
@seedosrun
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-11 00:42] Karishma-Tiwari-MSFT commented on #44396
Thanks for the question. We are currently investigating and will update you shortly.

[2019-12-11 00:42] Karishma-Tiwari-MSFT commented on #44384
Thanks for the question. We are currently investigating and will update you shortly.

[2019-12-11 00:44] MarileeTurscak-MSFT commented on #44220
Please send the images to my email and explain how it relates to the article. If approved by the content author, @curtand, we will update the documentation. I'm closing this out since we will be able to resolve this offline.

[2019-12-11 00:44] #44220 closed

[2019-12-11 00:44] Karishma-Tiwari-MSFT commented on #44400
Thanks for the question. We are currently investigating and will update you shortly.

[2019-12-11 00:48] Karishma-Tiwari-MSFT commented on #44431
@saghorpa Can you please help confirm on this? Thanks :)

[2019-12-11 00:50] hrasheed-msft commented on #44244
Sent a reminder to the author.

[2019-12-11 00:51] MarileeTurscak-MSFT commented on #44302
There are some existing guidelines: https://docs.microsoft.com/en-us/azure/key-vault/key-vault-key-rotation-log-monitoring

https://techcommunity.microsoft.com/t5/SQL-Server/Always-Encrypted-Key-rotation-8211-Column-master-Key-rotation/ba-p/384425

Per the [guide](https://blogs.msdn.microsoft.com/usisvde/2012/03/15/windows-azure-security-best-practices-part-7-tips-tools-coding-best-practices/):

I

[2019-12-11 00:54] MarileeTurscak-MSFT commented on #44302
Hope this helps. If you have further questions please post to [Q&A ](https://docs.microsoft.com/answers/questions/index.html) as this section is intended more for feedback on specific documentation.

[2019-12-11 00:54] #44302 closed

[2019-12-11 00:59] hrasheed-msft commented on #44236
@markjbrown I'm filling in while @SnehaGunda is OOF. I'll try to get this request completed by 12/11 EOD.

[2019-12-11 01:34] anwather opened #44439 "Cannot build in cloud shell due to missing DSC binaries"
Doesn't work in the cloud shell as DSC for Linux is not installed

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a410153e-4b2d-ee5d-3ce4-6e050f2aaaf9
* Version Independent ID: 80b06afb-9e10-5bd9-3019-bd28aca84a97
* Content: [How to create Guest Configuration policies - Azure Policy](https://docs.microsoft.com/en-us/azu

[2019-12-11 01:35] kazshi opened #44440 "number of Storage account management operations requests"
Is it possible to get number of Storage account management operations requests? and how if it's possible?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b0e0e84a-7aa0-e751-f7b0-f60505df154a
* Version Independent ID: 93bfc173-6c71-5601-dbf1-8cf551a42495
* Content: [Request limits and throttling - Azure Resource Manager]

[2019-12-11 01:40] MatthewAt3Sharp commented on #44439
make sure that you're using the 'POWERSHELL' version of Azure Cloud Shell, and not the BASH Version.

[2019-12-11 01:46] Mike-Ubezzi-MSFT commented on #44414
@potato-enthusiast Thank you for bringing this to our attention. This could be a caching issue but will have the content owner to review the document and provide any applicable enhancement as appropriate.

[2019-12-11 01:47] MarileeTurscak-MSFT commented on #44397
@mariuszo-at-microsoft-com
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-11 01:47] anwather commented on #44439
Yep I am - having massive issues following this one through - need to add in that PSDscResources is a prereq as well

But the error I'm getting is below
[code]

Cloud shell is running a Linux container anyway - getting the same errors in the AzureSDK container image

[2019-12-11 02:05] genlin commented on #27776
@glimoli I can submit a pull request to update the article.

[2019-12-11 02:19] Karishma-Tiwari-MSFT commented on #44130
@andyturn31 Please take a look at this doc and let me know if you have any questions.
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/capture-image-resource#create-an-image-from-a-managed-disk-using-powershell

[2019-12-11 02:23] kazshi opened #44441 "The use of more than 64 vCPU require one of these supported guest operating systems:"
Looks like additional information "2 The use of more than 64 vCPU require one of these supported guest operating systems: Windows Server 2016, Ubuntu 16.04 LTS, SLES 12 SP2, and Red Hat Enterprise Linux, CentOS 7.3, or Oracle Linux 7.3 with LIS 4.2.1." is not up-to-date. I think it should be the same as 5 for Lsv2, pasted in below. Please update accordingly.  Thanks.

=====
VMs with more than 64 v

[2019-12-11 02:27] Karishma-Tiwari-MSFT commented on #44156
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-12-11 02:31] mike-urnun-msft commented on #44428
@wpitallo Thank you for your feedback! We will review and update as appropriate.

[2019-12-11 02:33] mike-urnun-msft commented on #44433
@seetharamanis Thank you for your feedback! We will review and update as appropriate.

[2019-12-11 02:53] #44399 closed

[2019-12-11 02:53] #44382 closed

[2019-12-11 02:56] KalyanChanumolu-MSFT commented on #16442
@dcbrown16 Thank you for the feedback.
This is being reopened & assigned to the content author to evaluate and update as appropriate.

[2019-12-11 03:03] femsulu commented on #44216
@rayne-wiselman, I believe your presumption is accurate. Would it be possible to add this to your doc-enhancement backlog?
@ltloopy - we will now close this thread but don't hesitate to ping if we have misunderstood your feedback.

Cheers.

[2019-12-11 03:03] #44216 closed

[2019-12-11 03:03] mike-urnun-msft commented on #44437
Hi @allan-mobley-jr - Thank you for your feedback! I'm sorry to hear about the inconvenience that you have experienced with your recent attempt in using a different and newer Azure service. I'm a customer engineer with Azure CXP (Customer Experience) team and we are always looking to make sure that you are successful with our products and services.

If there is an existing support ticket for this

[2019-12-11 03:03] hiteshtulsani opened #44442 "Upgrading from Blob to Gen 2 and Hierarchical Namespace"
Is there a way to enable Hierarchical Namespace while upgrading from Blob Storage account to Gen 2 Storage?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d48ad43e-d044-e50d-4f5f-cd831be1a6be
* Version Independent ID: da568047-781e-c97b-7d55-9a5739243d6c
* Content: [Azure Data Lake Storage Gen2 Hierarchical Namespace](

[2019-12-11 03:15] JAugustusSmith opened #44443 "Dependency injection not working in Azure Functions v3"
The code given in the example no longer works:

 private readonly TelemetryClient telemetryClient;

        /// Using dependency injection will guarantee that you use the same configuration for telemetry collected automatically and manually.
        public HttpTrigger2(TelemetryConfiguration telemetryConfiguration)
        {
            this.telemetryClient = new TelemetryClient(telemetryConfigura

[2019-12-11 03:30] allan-mobley-jr commented on #44437
Hi Mike.

Thanks for responding. I emailed you at the above but here's the support ticket #119121024002050.

I did the math, and it would take over a TB of data going out of Azure data center for it to amount to that much of a charge for bandwidth. But how that bandwidth can occur for two empty consumption plans is beyond me. I don't think I have ever seen a few pennies for bandwidth in all the ye

[2019-12-11 03:43] dcbrown16 opened #44444 "DataBricks restriction"
"If your subscription includes an Azure DataBricks namespace, roles assigned at the subscription scope will be blocked from granting access to blob and queue data."
What is this all about? They are blocked from "granting" access?? Is that saying like Owner role on subscription would not be able to grant Storage Blob Data Contributor to other users in this situation?
Or is it saying that if you hav

[2019-12-11 03:45] allan-mobley-jr commented on #44437
BTW, I feel my comments here are appropriate for "driving improvements towards MS Docs" which states that for consumption plans that "you only pay for the time that your code runs." Obviously, that is not true and misleading.

[2019-12-11 03:50] MSNina123456 opened #44445 "Add custom log for mapped network drives"
cx would monitor a file folder from a mapped network drive using Azure custom logs. Per my understanding, we don't support mapped network drive for custom logs as it doesn't appear as disk or volume in system.
I also tried to add network drive path directly but it's not supported path such as \\xxxx\test.txt, but we didn't mention such limitation in this doc.
I found mapped network drive guide for

[2019-12-11 04:07] jimmcslim opened #44446 "Just what exactly does 'Ocp' stand for?"
I know it doesn't really matter, but I am curious as to the meaning of the 'Ocp-' prefix? Someone suggests on Stack Overflow that it is 'Open Compute Project', but that seems like a hardware initiative rather than a software/API initiative!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76ca8cff-348b-5595-1c3a-f319d606

[2019-12-11 04:13] SubhashVasarapu-MSFT commented on #44394
@jabbera , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-12-11 04:18] dimitri-furman commented on #44277
@masashioms We have updated the Known Limitations section in [documentation](https://docs.microsoft.com/azure/sql-database/sql-database-service-tier-hyperscale#known-limitations) to clarify this. Thanks for bringing this to our attention.

[2019-12-11 04:19] SumanthMarigowda-MSFT commented on #44417
@adrianwells Thanks for your question. We are checking on this and will respond to you soon.

[2019-12-11 04:19] mjtpena opened #44447 "Long ABI results to 414"
If you have a very long ABI, you'll receive an HTTP Error 414 saying that the request URL is too long.
Realistically an ABI will be very long.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a18a5a6-0630-17aa-a2d1-686e575d7e22
* Version Independent ID: 02b19cbb-7ff3-4f3f-06d1-8a0ccb4ad707
* Content: [Call, trigger, or

[2019-12-11 04:19] dimitri-furman commented on #44277
Resolved with 98465. #please-close

[2019-12-11 04:19] #44277 closed

[2019-12-11 04:21] billhung commented on #44362
Hi,
 I solved the error after talking to Microsoft support.
The tutorial said it support Visual Studio 2017. I have VS 2017 Professional, VS 2017 Community, and VS 2015 professional installed on my PC. I didn't know that makes a difference.
At the end, after uninstalling everything except VS 2017 Professional, the error went away, and I was able to proceed for the rest of the tutorial.
Bill

[2019-12-11 04:21] #44362 closed

[2019-12-11 04:23] SumanthMarigowda-MSFT commented on #44413
@aparent-talend Thanks for your question. We are checking on this and will respond to you soon.

[2019-12-11 04:24] SumanthMarigowda-MSFT commented on #44444
@dcbrown16 Thanks for your question. We are checking on this and will respond to you soon.

[2019-12-11 04:26] AjayKumar-MSFT commented on #44387
@awoSY, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2019-12-11 04:28] AjayKumar-MSFT commented on #44388
@awoSYS, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-12-11 05:05] onkarthg commented on #44366
@jakaruna-MSFT  ansible 2.9.1
azure CLI

[2019-12-11 05:06] CHEEKATLAPRADEEP-MSFT commented on #44442
@hiteshtulsani There is no way to enable Hierarchical Namespace while upgrading from Blob Storage account to Gen2 Storage.

**Note:** Enabling Hierarchical Namespace option must be set during storage account creation.

Hope this helps.

[2019-12-11 05:07] CHEEKATLAPRADEEP-MSFT commented on #44357
@jannavarro  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-12-11 05:07] #44357 closed

[2019-12-11 05:08] KrishnaG-MSFT commented on #44389
@seedosrun Thanks for the update. Just FYI which you might already be aware by now - In future, if you share any feedback under this azure-docs repo then please mention Azure documentation link / URL to which feedback is related to. This helps us to provide you better assistance. Cheers!

[2019-12-11 05:12] RohitMungi-MSFT commented on #44262
@theonlygusti Please try to use the language model id and check if it works for you. We will now proceed to close this thread. If you have any questions please let us know. Thanks!!

[2019-12-11 05:12] #44262 closed

[2019-12-11 05:13] VikasPullagura-MSFT commented on #44441
@kazshi Thanks for the Feedback.
I have assigned the issue to content author for checking and updating the document as applicable.

[2019-12-11 05:16] msrini-MSFT commented on #44372
@bencalnan , Do you have any update on this issue?

[2019-12-11 05:16] msrini-MSFT commented on #44375
@aidanfinn , Do you have any update on this issue?

[2019-12-11 05:27] yuriwoof opened #44448 "Could you please add how to check the expiration date"
I checked my cluster which I deployed recently (2019-12-08).
But that cert is still short.

It'd be greatly helpful if you could implement 1) how to check the expiration date and 2) how we can deploy a cluster which has longer cert.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b78509d-73eb-6c32-aee1-9b34685a

[2019-12-11 05:29] jefjos opened #44449 "Cannot create any issue on stack-overflow with the given tag"
Creating the new tag 'azure-custom-providers' requires at least 1500 reputation. Try something from the existing tags list instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0448e14e-f408-8c53-54f8-fa6ae8b2ac36
* Version Independent ID: 01269026-a8a2-cf86-2fa7-254cf29e4a4a
* Content: [Overview of Azure Custom Reso

[2019-12-11 05:30] VikasPullagura-MSFT commented on #44441
@jonbeck7 Please look into this feedback and add your comments for updating the document as appropriate.

[2019-12-11 05:30] DixitArora-MSFT commented on #44377
@jjindrich So for now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-12-11 05:30] #44377 closed

[2019-12-11 05:30] jefjos opened #44450 "Is this feature supported in all Azure regions? If not what are the supported regions?"
Please provide the list of supported regions for Custom resource providers

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0448e14e-f408-8c53-54f8-fa6ae8b2ac36
* Version Independent ID: 01269026-a8a2-cf86-2fa7-254cf29e4a4a
* Content: [Overview of Azure Custom Resource Providers](https://docs.microsoft.com/en-us/azure/ma

[2019-12-11 05:33] takekazuomi opened #44451 "Where is mcr.microsoft.com/azuredocs/go images Dockerfile ?"
Hi, try to get some information about the latest base docker image of mcr.microsoft.com/azuredocs/go.  Having a Dockerfile is very helpful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b1864e8-0c73-eaaa-94e6-5e8993a3bf9d
* Version Independent ID: 9e246eaa-216b-c06e-1c11-4a5aa60453ff
* Content: [Quickstart: Run a cus

[2019-12-11 05:38] VikasPullagura-MSFT commented on #44448
@yuriwoof Thanks for Feedback. We are looking into this and will get back on this thread.

[2019-12-11 05:43] VikasPullagura-MSFT commented on #44384
@MicrosoftDocs/aks-pm Can you confirm on this behavior and add your comments on the issue.

[2019-12-11 05:46] VikasPullagura-MSFT commented on #44255
I am proceeding to close the issue, the document changes will reflect once the PR is approved.
Thanks.

[2019-12-11 05:46] #44255 closed

[2019-12-11 05:50] DixitArora-MSFT commented on #44446
Hi @jimmcslim Thanks for reaching out. We will review and update as appropriate.

[2019-12-11 05:51] mslot commented on #44064
Any update to my latest answer? Am I right about my assumption?

[2019-12-11 05:53] DixitArora-MSFT commented on #44443
Hi @JAugustusSmith Thanks for your feedback. We will review and update as appropriate.

[2019-12-11 05:53] AshokPeddakotla-MSFT commented on #44378
@Jbarrins We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-12-11 05:53] #44378 closed

[2019-12-11 05:54] DixitArora-MSFT commented on #44447
Hi @mjtpena Thanks for your feedback. We will review and update as appropriate.

[2019-12-11 06:03] RohitMungi-MSFT commented on #44339
@edu-gp Thanks for the clarification. Since this looks an issue with the experiment rather than documentation we would request to post details of your experiment on our [MSDN](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureMachineLearningService) or [stackoverflow ](https://stackoverflow.com/questions/tagged/azure-machine-learning-service)forums so the community can replicate the i

[2019-12-11 06:04] KrishnaG-MSFT commented on #44418
@pvayner Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-11 06:07] KrishnaG-MSFT commented on #44438
@chjone Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-11 06:07] RohitMungi-MSFT commented on #44365
@erhopf Thanks for the update. @vignesh-123 Please let us know if this works for you while our team updates the document.

[2019-12-11 06:08] KrishnaG-MSFT commented on #44439
@anwather Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-11 06:23] KrishnaG-MSFT commented on #44445
Assigning content owner @bwren for visibility, review, to provide insights and  for document enhancement considerations. Other related reference - CSS case 119120823000247.

[2019-12-11 06:27] kirankumarkolli commented on #44244
Container is created with partition-key "/**LastName**" (case sensitive) and default Json.net serialization for "public string LastName { get; set; }" matches it.

It seems for the test scenarios "/Last**n**ame" is used (with lower-case 'n' instead) resulting in above.

[2019-12-11 06:27] ram-msft commented on #44373
@ajakupov [Custom Translator](https://portal.customtranslator.azure.ai/) can also be programmatically accessed through a [dedicated API](https://custom-api.cognitive.microsofttranslator.com/swagger/) (currently in preview). The API allows users to manage creating or updating training on a regular basis through their own app or webservice.

Please follow the below documents for using the Custom Tra

[2019-12-11 06:35] anspa opened #44452 "Command for the script is wrong"
AzureMigrateInstaller-physical.ps1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e280f0d6-a71b-6b97-5d3d-ef6974607581
* Version Independent ID: 65621352-e710-b77b-0ca4-ec169566d7e6
* Content: [Set up an Azure Migrate appliance for physical servers - Azure Migrate](https://docs.microsoft.com/en-us/azure/migrate/how-to-

[2019-12-11 06:47] KrishnaG-MSFT commented on #44449
Assigning content owner @jjbfour for visibility, review and document enhancement considerations. May be, adding a note something like 'Users over 1500 reputation only can create tags. Tags not having any question will be automatically removed in a day' would clarify. Also, you may suggest other tags which generally exists and are suitable.

[2019-12-11 06:57] KrishnaG-MSFT commented on #44440
@kazshi Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-11 07:04] JAugustusSmith commented on #44443
https://github.com/Azure/azure-functions-host/issues/5353

[2019-12-11 07:10] KrishnaG-MSFT commented on #44450
@jefjos You may view supported or valid locations for a resource type using

- 'Resource Explorer' in Azure Portal or
- 'Get-AzResourceProvider' Az PowerShell cmdlet or
- 'az provider show' Az CLI command

For more information, refer [this](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-supported-services) document.

Illustration using 'Resource Explorer' in Azure P

[2019-12-11 07:18] pstapf opened #44454 "B2C custom mail, link to docu not working"
The link to the b2c custom mail documentation is broken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87fb3b64-807c-48b1-bbb0-822255efafcb
* Version Independent ID: 93a95ce4-cb41-4b3b-9d1d-49dd255f47b6
* Content: [What's new? Release notes - Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directo

[2019-12-11 07:33] byroncollins opened #44455 "Confirm pricing model"
This page mentions pricing per scan but the [pricing page](https://azure.microsoft.com/en-us/pricing/details/security-center/) has it listed per image.

The specific questions we have are (assuming we have X existing images and we deploy Y additional images a day):
1.	We assume that on a push of a new image, a scan of all images in the repository will be triggered. Can you please confirm this is c

[2019-12-11 07:39] vip32 commented on #11383
doesn't this has to do with easyauth itself? I see that the X-MS-TOKEN-AAD-ID-TOKEN itself is never refreshed. This id_token is needed by the token binding to get a valid graph token

https://github.com/Azure/azure-functions-microsoftgraph-extension/blob/master/src/TokenBinding/TokenBaseAttribute.cs#L55
and
https://github.com/Azure/azure-functions-microsoftgraph-extension/blob/master/src/TokenBind

[2019-12-11 07:51] KrishnaG-MSFT commented on #44452
@anspa Thanks for the feedback. I have created a PR (Pull Request) with the required changes. The doc will automatically get updated once the open PR is merged.

[2019-12-11 07:58] DixitArora-MSFT commented on #44433
@seetharamanis This channel is for driving improvements towards MS Docs, for any product related question/issue I would recommend you to create a thread on the forums- [MSDN](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureFunctions) / [Stackoverflow](https://stackoverflow.com/questions/tagged/azure-function-app). Once you post your issue on forums, it will have visibility across th

[2019-12-11 08:01] KrishnaG-MSFT commented on #44188
@spaelling At this point it appears that there's no edits or updates needed for the referred Azure documentation so closing this issue for now. If there are further questions regarding this matter or feedback on the documentation, please do let us know and we will gladly continue the discussion.

[2019-12-11 08:01] #44188 closed

[2019-12-11 08:14] azhar787 commented on #44283
@KrishnaG-MSFT @bmoore-msft @tfitzmac

While Deploying locally the deployment takes just around 4 minutes
![image](https://user-images.githubusercontent.com/56245045/70603274-298d2780-1c1c-11ea-941c-f1b627510b42.png)

![image](https://user-images.githubusercontent.com/56245045/70603293-36118000-1c1c-11ea-865d-819a8f691122.png)

So am not able to understand what breaks while publishing the offer.

[2019-12-11 08:18] jjgriff93 opened #44457 "Not clear when you are cloning a project using extensions (storage etc.) that you need to perform a `func extensions sync`"
I was receiving the error "binding type(s) 'blobTrigger' are not registered” on trying to run a sample my colleague had written - not able to find anything on the docs on how to resolve this and eventually managed to fix by running a `func extensions sync` command. It would be useful to have more info on how this works and common gotchas with extension registration in Python on the docs

---
####

[2019-12-11 08:22] Heidelberger opened #44458 "Uploading in-portal package binaries"
The documentation discusses "uploading custom packages" to the bin directory for in-portal functions.  However, the information is sparse. Please add instructions or a link to how to do that (use Kudu?)
Also, the word "custom" is misleading.  Which packages can be included via the function.proj file, and which must be manually uploaded and referenced via #r ?
Thank you!

---
#### Document Details

[2019-12-11 08:23] DixitArora-MSFT commented on #44457
Hi @jjgriff93  Thanks for your feedback. We will review and update as appropriate.

[2019-12-11 08:27] DixitArora-MSFT commented on #44458
Hi @Heidelberger Thanks for your feedback. We will review and update as appropriate.

[2019-12-11 08:38] SumanthMarigowda-MSFT commented on #44162
@alexmbaker Apologies for delay in responding here!
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-12-11 08:42] SumanthMarigowda-MSFT commented on #44187
@vishalsinghdev  You may try the above mentioned suggestion, if the issue still persists,  I'd recommend posting your question in https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=AzureDiskEncryption&filter=alltypes&sort=lastpostdesc  since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions r

[2019-12-11 08:42] #44187 closed

[2019-12-11 08:44] kkondo-msft opened #44459 "Windows Server 2008 support"
According to the announcement below, Azure Backup seems to support Windows Server 2008, but it isn't listed tables in this page.
https://azure.microsoft.com/ja-jp/blog/announcing-support-for-backup-of-windows-server-2008-with-azure-backup/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e2dde49-662d-fc39-a03f-c67f7f86d

[2019-12-11 08:46] SumanthMarigowda-MSFT commented on #44221
@knaidoo33 Apologies for delay in responding here! Thanks for the feedback! I have assigned the issue to the content owner for further review.

[2019-12-11 08:47] kkondo-msft opened #44460 "32TB data disk support"
Azure Backup now supports 32TB data disk but this page has not been updated it yet.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: efe1b860-8d24-1742-4f20-c3e75cacbba3
* Version Independent ID: 2ac226c0-df97-f729-fe09-3d51d61b9083
* Content: [Answers to common questions - Azure Backup](https://docs.microsoft.com/en-us/

[2019-12-11 08:53] SumanthMarigowda-MSFT commented on #44261
![image](https://user-images.githubusercontent.com/44606021/70605842-3fe9b200-1c21-11ea-9f56-87bb5f1cb7f8.png)

![image](https://user-images.githubusercontent.com/44606021/70605872-51cb5500-1c21-11ea-8008-96fb54f0bb6c.png)

[2019-12-11 08:57] dcurwin commented on #44460
#assign:dcurwin

[2019-12-11 09:02] LanderVe opened #44461 "This page needs to be updated using the latest Azure.Storage.Queues NuGet Package"
Azure.Storage.Queues replaces Microsoft.Azure.Storage.Queue. The API looks different, so this tutorial needs an update.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f2aca97e-9eef-14a2-4991-e52fa84f080b
* Version Independent ID: 717bca9c-6b25-3a3a-00a3-d0653dc0145a
* Content: [Tutorial - Work with Azure storage queues

[2019-12-11 09:04] rayne-wiselman commented on #44418
We're not taking changes on this article right now. Thanks for your feedback.
#please-close

[2019-12-11 09:04] #44418 closed

[2019-12-11 09:07] sachdevaswati commented on #40221
That’s right. We override instance level defaults with COMPRESSION / NO_COMPRESSION clause depending on that check box.

Fair point. Language can be improved. SQL does it in the VM for us, we don’t compress the stream.

[2019-12-11 09:09] jakaruna-MSFT commented on #44366
Got the issue.

Vaule for state in this below line is not from the allowed options.
`apt: pkg=nginx state=installed`

Allowed options can be found in this Ansible documentation https://docs.ansible.com/ansible/latest/modules/apt_module.html

Instead of installed, we can use `present` or `latest` which fits our scenario.

I will update the doc to have `present` in it.

[2019-12-11 09:10] LiorArmiev commented on #44261
Thanks, but the problem as encountered is that when you connect **more than** 100 drives to the share **simultaneously** it's failing. but when less then there is no problem.

[2019-12-11 09:10] TWolverson opened #44462 "32-bit or 64-bit client?"
For Logic Apps, should we install the 32-bit or the 64-bit Oracle client on the gateway server? The linked documentation only talks about Power BI Desktop. Please specify.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7f70535-1e83-54f0-4bc8-b80f5919f118
* Version Independent ID: 57f5c3a0-7a24-ce56-d84c-542d85ffe6a9
*

[2019-12-11 09:15] KlutzyBubbles commented on #44019
Yes i understand that now, i apologize for the created issue :/

[2019-12-11 09:19] SadiqhAhmed-MSFT commented on #44438
@yashesvi To share your insights on the query.

@bandersmsft To consider for doc-enhancement to include example calculation for early termination (if needed)

[2019-12-11 09:26] AjayKumar-MSFT commented on #44451
@takekazuomi, You can find all Docker files on [GitHub](https://github.com/azure-app-service). You can find all Docker containers on [Docker Hub](https://hub.docker.com/u/appsvc/).
The discovery experience for these images is still maintained on Dockerhub, with the responsibility of servicing the images maintained by MCR, hence MCR does not have its own Catalog UI experience.

To provide more clar

[2019-12-11 09:29] irriss commented on #39347
I did not specify the folder and it does not work. Having the same erros in logs as Ba4bes commented 3 months ago

[2019-12-11 09:29] DixitArora-MSFT commented on #44462
Hi @TWolverson Thanks for your feedback. We will review and update as appropriate.

[2019-12-11 09:31] LevisAllanon commented on #39347
Dit you set the webhook version to V1.0 as stuartin sugested?

[2019-12-11 09:33] VikasPullagura-MSFT commented on #44314
@dariuszSki Only Public IP addresses with basic SKU are available when using instance metadata service IMDS. Standard SKU is not supported. Please check this [document](https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-ip-addresses-overview-arm#standard) for this information.

Can you check which SKU are you using?

[2019-12-11 09:33] irriss commented on #39347
No, stuartin mention that tomorrow (12 Dec) it will be fixed. Fingers crossed

[2019-12-11 09:37] asergaz commented on #44294
Here is the feedback link for reference: https://feedback.azure.com/forums/911455-azure-iot-central/suggestions/39223060-include-all-the-iot-devkit-sensor-capabilities-in

[2019-12-11 09:37] jakaruna-MSFT commented on #43947
@iocuydi
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-12-11 09:37] #43947 closed

[2019-12-11 09:38] jakaruna-MSFT commented on #44193
@assaf-grth
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-12-11 09:38] #44193 closed

[2019-12-11 09:38] LevisAllanon commented on #39347
For me when not having a subfolder settings the webhook to v1.0 worked

[2019-12-11 09:43] xieofxie opened #44463 "Is ACI limited in python functions?"
For example, if I add `os.path.exists(model_path)` in the init() function of score.py, the deploy will fail with CrashLoopBackOff.
Therefore I couldn't even debug to verify if model file exists when using other models following this guidance..

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89cb4f9c-34e0-b4df-f911-e083c

[2019-12-11 09:45] jzoran05 opened #44464 "AAD as a supported service"
I believe that information about AAD as a supported service requires bit more clarity as it seems that not all of the AAD capabilities are accessible via Microsoft Peering.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3cdb32c0-628d-0be2-f514-477d46dfa1b8
* Version Independent ID: fa096059-2d16-30a2-1e8b-8b9671afcaa4

[2019-12-11 09:46] TWolverson commented on #44462
Ah. The problem here is that I can't read. Please close.

[2019-12-11 09:46] #44462 closed

[2019-12-11 09:52] KrishnaG-MSFT commented on #44460
@kkondo-msft Thanks for your comment. The feedback has been shared with the content owner for further review.
@dcurwin Thanks for the super quick response. 👍

[2019-12-11 09:52] asergaz commented on #44294
The link for "pre-built Azure IoT Central Plug and Play firmware" will be replaced soon by: https://github.com/Azure-Samples/mxchip-iot-devkit-pnp/raw/master/bin/iotc_devkit.bin as I have confirmed that https://github.com/Azure-Samples/mxchip-iot-devkit-pnp is the official and most up-to-date repo for MxChip firmware.

We will now proceed to close this thread. If there are further questions regard

[2019-12-11 09:52] #44294 closed

[2019-12-11 09:55] KalyanChanumolu-MSFT commented on #44435
Thank you for the detailed feedback.
This is being assigned to the content author to evaluate and update as appropriate.

[2019-12-11 09:57] jakaruna-MSFT commented on #44396
@jesperilsoenielsen Thanks for the detailed question.
I am reaching out to the internal teams and i will update you once i have some information.

[2019-12-11 09:57] PramodValavala-MSFT commented on #44391
@baatch Looks like the [`Workflow`](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.management.logic.models.workflow?view=azure-dotnet) object returned by [`Get-AzLogicApp`](https://docs.microsoft.com/en-us/powershell/module/az.logicapp/Get-AzLogicApp?view=azps-3.1.0) doesn't have the `identity` property defined. I will check with the team internally and keep this thread updated with t

[2019-12-11 09:57] Contadmin opened #44465 "Syslog messages from Fortigate"
I've managed to use the Azure Sentinel connector and connect my Fortigate firewall, but am wondering if I must have Sentinel in order to gather Syslog messages and just design a workbook on my own on Log Analytics.
I've configured the Forti to try and send Syslog to 25226, 25224 and what not, also different formats (csv, cef and plaintext) but am seeing nothing on Log Analytics.
If I can gather Sy

[2019-12-11 10:07] ThomasBalder opened #44466 "Add support for W10 pro versions"
Could you add the "always-on" part of the device tunnel for W10 pro versions (instead of Enterprise/EDU only)? The device tunnel itself works fine, just the automatic reconnection after a reboot or so does not work on my test W10 pro machine.

In my lab-environment (also Azure-only) I've successfully deployed a workaround by creating a scheduled task to start a small cmd-file (rasdial myshopsvpnna

[2019-12-11 10:09] ChiragMishra-MSFT commented on #44388
@awoSYS AS is an operator used to assign an alias to a column. Let's say you have a column called lastName that you want to display as "name", you would use "AS".

"=" on the other hand is an assignment operator used to assign values, which means you can do a lot of operations like concatenate stuff. eg- If you have 2 columns called firstName and lastName and you want to concat them together to st

[2019-12-11 10:13] TechWatching opened #44467 "Quickstart for Azure App Configuration with azure functions is not using FunctionStartup"
With the release of dependency injection in Azure Functions, there is a FunctionStartup class to do the dependency injection. My guess is that configuration should also be done in the FunctionStartup to properly configure dependency injection with the settings. I think this page should be updated to reflect that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2019-12-11 10:16] ChiragMishra-MSFT commented on #44387
@awoSYS Square brackets ([]) are not needed if you pick "reasonable" names for your identifiers, taking care to avoid unusual characters and reserved words.

As an example, if your column name is "Product Number", which contains a space, you would need to specify it as "[Product Number]" in your T-SQL queries.

When you use "()", it means you are passing a value to a function or scoping something

[2019-12-11 10:20] ChiragMishra-MSFT commented on #30153
@hmayer1980 As mentioned by Daniel, If you want to fail a pipeline, I would recommend have a Web Activity pointing at an invalid endpoint after your fail condition logic.

I will close the issue now. Please feel free to still comment if you have any queries on the same.

[2019-12-11 10:20] #30153 closed

[2019-12-11 10:21] mslot commented on #44259
Any clarification on this?

[2019-12-11 10:22] takekazuomi commented on #44451
Thank you very much. I found a Dockerfile.
https://github.com/Azure-App-Service/go

I think it would be nice if the document had a link to the Dockerfile as well as a link to the container image.

[2019-12-11 10:25] ChiragMishra-MSFT commented on #42122
@CeciAc Azure-SSIS IR now can be created with fixed Azure public ip addresses. Please see the document here for help: https://docs.microsoft.com/en-us/azure/data-factory/join-azure-ssis-integration-runtime-virtual-network#publicIP.

As you can see in this picture (https://docs.microsoft.com/en-us/azure/data-factory/media/join-azure-ssis-integration-runtime-virtual-network/ir-setup-advanced-setting

[2019-12-11 10:25] #42122 closed

[2019-12-11 10:26] jesperilsoenielsen commented on #44396
@jakaruna-MSFT Thanks for the update.

[2019-12-11 10:28] ChiragMishra-MSFT commented on #35646
@joesamraj I believe your query was resolved with the help of a Support ticket as I see from the following thread :
https://social.msdn.microsoft.com/Forums/en-US/785f27e3-d852-41d1-985b-f8b2a2aa2a90/parameterized-linked-service-for-mongodb-connection?forum=AzureDataFactory

You can also parameterize any Linked Service or Dataset by using the following article :

https://social.technet.microsoft.c

[2019-12-11 10:28] #35646 closed

[2019-12-11 10:31] AjayKumar-MSFT commented on #44432
@RavulaChetan, Thanks for leveraging Azure docs feedback channel and posting a good question.

In App Service, app settings are variables passed as environment variables to the application code.
For ASP.NET and ASP.NET Core, the app settings in App Service are like setting them in <appSettings> in Web.config or appsettings.json, but the values in App Service override the ones in Web.config or apps

[2019-12-11 10:31] stefanwiele opened #44468 "Updates to the My Apps page along with new workspaces"
This one is public preview right? Not GA?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87fb3b64-807c-48b1-bbb0-822255efafcb
* Version Independent ID: 93a95ce4-cb41-4b3b-9d1d-49dd255f47b6
* Content: [What's new? Release notes - Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/fundamental

[2019-12-11 10:34] adamfowlerit opened #44469 "Legacy Authentication vs Older Protocols"
These sections say pretty much the same (blocking IMAP, SMTP, and POP3) but the first area says it affects all users, where the second only talks about administrator accounts.

Also Exchange ActiveSync not being blocked makes it sound like any app that uses this will work, except only these clients are supported: https://docs.microsoft.com/en-au/exchange/clients-and-mobile-in-exchange-online/disab

[2019-12-11 10:38] adamfowlerit opened #44470 "MFA"
There's one section on forcing MFA against administrators, another section for forcing users to register for MFA, and a third section that says all users will be 'prompted for additional authentication whenever necessary.'

This should be tidied up, what's the difference between administrators and users in when they get prompted, and how often will a user be prompted for MFA- 'whenever necessary'

[2019-12-11 10:41] allan-mobley-jr commented on #44437
I got up this morning and see that the bandwidth totals for the two Azure Function Consumption plans has moved up to $98.90. I deleted them last night, but apparently Azure is not done squeezing me. This ordeal totally blindsided me. I was expecting to pay nothing for deployment and testing, and yet now I will be paying more than I normally do for a 24/7 server. All in a matter of a few days. Ridi

[2019-12-11 10:56] souravsubhankar opened #44471 "python code spark.read.csv("adl://myadlsfolder.azuredatalakestore.net/MyData.csv").collect() also giving error"
This code works fine directly from databricks notebook to read/write to ADLS Gen1. When we are trying to call from azure data factory notebook activity , it is giving the error

com.databricks.backend.daemon.data.client.adl.AzureCredentialNotFoundException: Could not find ADLS Gen1 Token

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2019-12-11 11:05] Risord opened #44472 "MSAL.js reference link is broken"
Currently: https://htmlpreview.github.io/?https://raw.githubusercontent.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-core/docs/classes/_useragentapplication_.useragentapplication.html

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b787325-589c-b5f5-f530-7f1fe12e075e
* Version Independent ID: 6

[2019-12-11 11:05] ChiragMishra-MSFT commented on #44426
@CeciAc @Mr-San Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-12-11 11:08] SubhashVasarapu-MSFT commented on #44286
@evanzhang89 , Appreciate your patience. It has been already stated in the document regarding this issue.
![image](https://user-images.githubusercontent.com/44890829/70616414-6402be80-1c34-11ea-8c63-89a01d08c1f6.png)
For more clarification here, I have edited the document and added a NOTE accordingly,
![image](https://user-images.githubusercontent.com/44890829/70616452-7b41ac00-1c34-11ea-8faa-c626

[2019-12-11 11:08] sirjun05 commented on #43867
![image](https://user-images.githubusercontent.com/40811659/70616333-278d8d80-1c49-11ea-9cec-cfbdb0f31f49.png)

it's happening again in enrollment, same thing with identification . It's working fine yesterday.

[2019-12-11 11:09] #44286 closed

[2019-12-11 11:18] pkoelemij opened #44473 "The supplied powershell script restarts IAS without warning"
The installer of the NPS Extension (https://www.microsoft.com/en-us/download/details.aspx?id=54688) provides the person installing with a powershell script at "‘c:\Program Files\Microsoft\AzureMfa\Config\AzureMfaNpsExtnConfigSetup.ps1"

The supplied powershell script restarts IAS without any warning. This restart is undocumented. This can cause trouble in production.

---
#### Document details

⚠

[2019-12-11 11:20] PramodValavala-MSFT commented on #44447
@mjtpena Could you clarify what ABI is?

From context, if you are referring to the URL character limit to trigger the Logic App, it seems to be about 32K.

[2019-12-11 11:26] CHEEKATLAPRADEEP-MSFT commented on #44471
@souravsubhankar  Thanks for the feedback!  Your feedback  has been shared with the content owner for further review.

[2019-12-11 11:27] SadiqhAhmed-MSFT commented on #44459
@kkondo-msft Thanks for the comment!  That was an [old announcement](https://azure.microsoft.com/ja-jp/blog/announcing-support-for-backup-of-windows-server-2008-with-azure-backup/) in the year 2014 with no updates post publishing it publicly. However, the [support matrix link](https://docs.microsoft.com/en-us/azure/backup/backup-support-matrix-iaas#operating-system-support-windows) has more detail

[2019-12-11 11:28] RohitMungi-MSFT commented on #44463
@xieofxie Thanks for the feedback. We are investigating the issue and will update you shortly.

[2019-12-11 11:38] ram-msft commented on #44260
Can you please add more details about the use case that you are trying to solve. For multi turn the doc [here ](https://docs.microsoft.com/en-us/azure/cognitive-services/QnAMaker/concepts/data-sources-supported#pdf-doc-files) talks specifically about how the structure of the document drives how questions, answers, and follow on prompts are discovered during import.  Organizing the document as desc

[2019-12-11 11:56] anttipo opened #44474 "Adding a 0-route to a spoke vnet using peering will not push the vnet-to-vnet traffic via Azure Firewall"
If you add a 0.0.0.0/0 route on any of the vnets (be it spoke or hub), this would by default push all the traffic via the virtual appliance.

However, if you are using vnet peering, configuring the peers will automatically generate system routes that direct the traffic between virtual networks subject to peering. Doesn't this lead to a case where, when network traffic is moving between the network

[2019-12-11 12:02] fadyanwar opened #44475 "Missing Templates"
The templates Custom application, Sample Contoso, Sample Devkits are not available under template available options on Azure IoT Central application creation page.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 764886ca-fa5c-593d-ea1f-687bac3fb1ac
* Version Independent ID: 7b56d6be-a964-1d4f-3cef-bc5ade8a28d8
* Content

[2019-12-11 12:15] felipepessoto opened #44476 "Charges question"
In the answer "If your Azure web app is hosted in a data center where there is an Application Insights collection endpoint, there is no charge."

How can I know if my data center has a collection endpoint? They are the same datacenters where AI is available?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0526b200-ba5c-

[2019-12-11 12:23] SubhashVasarapu-MSFT commented on #44394
@jabbera , It has been stated in one of our Azure documents about integration/configuration of private link with custom DNS. You can have a look at this screenshot.
![image](https://user-images.githubusercontent.com/44890829/70620469-63225a80-1c3d-11ea-82cd-b8ae7b822850.png)
Here is the [doc link](https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-configure-private-endpoints#configure-custom-

[2019-12-11 12:34] bczudek commented on #44455
I am lost here as well.
3. If I have CI/CD pipeline set up which pushes image (i.e. tagged by build id) to the registry every time someone committed the code to the repo, will it be charged each time?
4. Is there a way to enable scan on specific repository only (i.e. production one)?

[2019-12-11 12:35] mariuszo-at-microsoft-com opened #44477 "need to click on "Apply below configuration to my machines" to be able to enter facilty name in "Configure Syslog in the Azure portal""
In "Configure Syslog in the Azure portal" currently one first needs to click on "Apply below configuration to my machines" to be able to enter any facility names in the box below.  Either that's UI bug, or the documentation needs to be amended to reflect that behavior of UI

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2019-12-11 12:36] jabbera commented on #44394
My question isn’t how to use custom dns servers. It’s about how to use a different domain which the documentation says is supported.

Your suggestion works fine assuming you are using privatelink.database.windows.net as the domain. What if I wanted to use privatelink.test.tld?

If you have a database server: testserver.database.windows.net configured with the standard domain an nslookup on testser

[2019-12-11 12:55] msrini-MSFT commented on #44474
@anttipo , You are correct. Azure routing happens with Longest Prefix match and when you have a VNET peered with the another VNET, Azure will have your peered VNET address space route and when you apply 0.0.0.0/0, this traffic is not preferred as it has a system route with longest prefix match.

So you would need to add a more specific route in the UDR to route the traffic between peered VNETs via

[2019-12-11 13:06] SubhashVasarapu-MSFT commented on #44394
@jabbera , Try creating a A record for your custom domain say, "testserver.test.tld" pointing to Azure private link's private IP.

[2019-12-11 13:07] StefanSchoof opened #44478 "Activate continuous export with powershell or az cli"
The documentation only describes the way to activate the continuous export in the portal. It should also describe how to do this in a way that allows automation or say that is not possible.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: efaf8e6d-7f77-33b4-04ea-e692fa377bfc
* Version Independent ID: 26885d0b-3696-ef26-8

[2019-12-11 13:08] pkoelemij opened #44479 "Supplied Azure MFA powershell script will purge complete MY certificate store"
The installer of the NPS Extension (https://www.microsoft.com/en-us/download/details.aspx?id=54688) provides the person installing with a powershell script at "‘c:\Program Files\Microsoft\AzureMfa\Config\AzureMfaNpsExtnConfigSetup.ps1"

The script will purge your complete MY certificate store:

The function parameter is $thumprint and, while it does a Get-Item Cert:\Localmachine\My\\$thum**b**prin

[2019-12-11 13:14] wrkettlitz commented on #39069
https://www.nuget.org/packages/Microsoft.AspNetCore.Authentication.AzureAD.UI/3.1.0?_src=template

[2019-12-11 13:16] wrkettlitz commented on #39069
@allenwux

https://www.nuget.org/packages/Microsoft.AspNetCore.Authentication.AzureAD.UI/3.1.0?_src=template

[2019-12-11 13:21] baatch commented on #44391
THANKS!

[2019-12-11 13:26] mcorrigan opened #44481 "Typos"
Scaling resources is the easiest and the most effective way to improve performance of your database without changing either [the] database or application code. In some cases, even the highest service tiers, compute sizes, and performance optimizations might not handle your workload [in a] successful and cost-effective way. In that [case,] you have these additional options to scale your database:

[2019-12-11 13:28] jabbera commented on #44394
I did. I’m unable to connect. I have a ticket open about it not being able to connect but am assuming there is explicit documentation that’s missing.

[2019-12-11 13:33] cloudnovum opened #44482 "Associating one or more domain namespaces to a direct federation relationship"
The document states "organizations associate one or more domain namespaces to these IdPs."  However, when configuring a direct federation, both in the portal or with PowerShell (New-AzureADExternalDomainFederation -ExternalDomainName $domainName), there is only the ability to associate a single domain namespace with the external IdP.

---
#### Document Details

⚠ *Do not edit this section. It is r

[2019-12-11 13:34] Anaig opened #44483 "Subnet ID"
It is unclear if the Subnet ID is only the &lt;guid&gt; which is highlight in the code or the whole "/subscriptions/&lt;guid&gt;/resourceGroups/myVnet/providers/Microsoft.Network/virtualNetworks/myVnet/subnets/default"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37ba0343-7e43-6e2e-e564-5d3a0f523a75
* Version Indepen

[2019-12-11 13:41] gerrynicol opened #44484 "Using Azure ADDS for scripts"
Its mentioned in the document that the amended scripts (Stage, Register etc) can be used with GPO's. Am I right in saying that this cannot be achieved if you are using Azure AD Domain services with your Windows Virtual Desktop Tenant?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62521d12-9efc-d132-176b-ca6a4ea83f16
*

[2019-12-11 13:57] MonikaReddy-MSFT commented on #44476
@felipepessoto , Thanks for asking the question. We will investigate it further and update you shortly.

[2019-12-11 14:00] MonikaReddy-MSFT commented on #44467
@TechWatching , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2019-12-11 14:13] lightupdifire opened #44485 "Testing steps"
Hello,
Is it possible to know what could be impacted by a scenario when used:
1. on-premise AD
2. on-premise RDS
3. AD sync
4. ADFS
Like if exist internal DNS records for adfs.domain.com?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c6d0647-b60f-9e49-9660-8d023d3c68d7
* Version Independent ID: a17ae501-1088-198c-633

[2019-12-11 14:26] NavtejSaini-MSFT commented on #44405
@dfw-dba If you have no further question, we will close this thread by EOD.

[2019-12-11 14:32] NavtejSaini-MSFT commented on #44481
@mcorrigan We are checking this and will get back to you.

[2019-12-11 14:40] AndreSalvadorFerreira opened #44487 "Add link to Microsoft document about MongoDB 3.6 features"
This page should include a link for the following Micrososft document about the new features on version 3.6: https://devblogs.microsoft.com/cosmosdb/azure-cosmos-dbs-api-for-mongodb-now-supports-server-version-3-6/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc2f5f65-888a-1e53-83f3-125bb4f6564b
* Version Independent

[2019-12-11 14:43] NavtejSaini-MSFT commented on #44481
@mcorrigan We have raised a Pull Request https://github.com/MicrosoftDocs/azure-docs-pr/pull/98646 to correct the errors. Once approved, it will take few hours before the changes are published.

[2019-12-11 14:51] alejandrocolman opened #44488 "Inserting empty audio track following code based configuration"
Hi,
I'm migrating from v2 and previously I was using a json file to configure my Presets. For my Codecs I have the following setting when the video has no audio

[code]
How can I achieve the [InsertSilenceIfNoAudio functionality](https://docs.microsoft.com/en-us/azure/media-services/previous/media-services-advanced-encoding-with-mes#silent_audio)?  I didn't found any property for **AacAudio** clas

[2019-12-11 14:56] estensen opened #44489 "Section "Changing version of apps in Azure" gives unclear advice"
As Functions 3.0 are in GA we would like to upgrade C# functions from 2.0.
The docs says that `.csproj` should be changed, and that seems straightforward.
In [this](https://docs.microsoft.com/en-us/azure/azure-functions/functions-versions#changing-version-of-apps-in-azure) section it says something about changing `FUNCTIONS_EXTENSION_VERSION`. But what the implications of the disclaimer are unclea

[2019-12-11 14:59] #44368 closed

[2019-12-11 14:59] RavulaChetan commented on #44432
Hi @AjayKumar-MSFT

Thanks for responding to my question. i agree with what you provided above but i still my question is not answered. its my fault i did not explain with more details.
I am creating the web app and web app setup using Terraform and Powershell. by default the app is created as .NET. my .NET Core app is deployed to the web app but the stack is still as .NET. I understand i can manu

[2019-12-11 15:11] Craigmeister68 opened #44490 "Add Sample Data section incorrect."
Add Sample Data section incorrect. #add-sample-data
The issue is the user is directed to create a document.

{    "id": "1",
     "category": "personal",
     "name": "groceries",
     "description": "Pick up apples and strawberries.",
     "isComplete": false
}

However, the document schema does not match the schema of the class in the solution.
My example:
{    "id": "45",
     "name": "FeedCats

[2019-12-11 15:16] anton-khoryukov-zf opened #44491 "AR session is null"
After 5 days of debuging and doubting myself I've found out that the session initialization does not happen properly. In fact, it happens too early in the onCreate() handler, when the native AR session (sceneView.getSession()) is yet null.
Proposed changes:
- Add a boolean member variable into MainActivity class: private boolean sessionNotNull = false;
- In the initializeSession() function add a c

[2019-12-11 15:16] eross-msft commented on #44454
@pstapf  Thank you for catching this. I'm in the process of tracking down whether the link is simply broken and needs to be updated or if the article has yet to be published.

[2019-12-11 15:20] brandonmartinez commented on #44330
Some additional information:

I currently have a project where I'm utilizing Azure Functions (C#/.NET Core specifically) and am evaluating whether I utilize the container images for the Function runtime to simplify my DevOps CI/CD pipeline (utilizing ACR to pull new images opposed to doing a deployment with the Function SDK or other method). I love the idea of pull from ACR, but if there are perfo

[2019-12-11 15:25] mariojacobo opened #44493 "Autoscaler status command"
To check on the autoscaler status and operations, this command gives you much better visibility:

 $ kubectl -n kube-system describe configmap cluster-autoscaler-status

As opposed to kubectl get configmap -n kube-system cluster-autoscaler-status -o yaml

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 077f1bb5-2ba9-490c

[2019-12-11 15:36] kspoojary commented on #43746
any update on this? is there any end to end template sample

[2019-12-11 15:41] cmaneu opened #44494 "IoT Hub landing page - Incorrect links"
Hello Docs Team,
There is an issue on that page :
https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/iot-hub/index.yml
(live here https://docs.microsoft.com/en-us/azure/iot-hub/)

The _5 Minutes Quickstart_ table links are not in the proper column when there is no quickstart with cloud shell (see _Control a device_ for example).

As this page is YAML-based, I'm not sure what fix is m

[2019-12-11 15:44] heldchen opened #44495 "Get-AzRecoveryServicesVaultSettingsFile creates invalid credential settings file"
the section `https://docs.microsoft.com/en-us/azure/backup/backup-client-automation#registering-using-the-ps-az-module` is currently not working (see also https://github.com/Azure/azure-powershell/issues/9533):

[code]
this workflow results in `Start-OBRegistration -VaultCredentials $CredsFilename.FilePath -Confirm:$false` throwing the following error:
[code]
as pointed out in the comments of http

[2019-12-11 15:46] curtand commented on #44220
I don't think this is relevant. Azure AD admin roles can be used to manage credentials of an application, but not quarantining data in CAS. That's not an authentication or identity operation.

[2019-12-11 15:47] KalyanChanumolu-MSFT commented on #44238
I am not aware of any feature to handle accidental overwrites.
@aliceku Please pitch in if otherwise.

[2019-12-11 15:48] ajakupov commented on #44373
Thank you very much. The issue has been resolved

[2019-12-11 15:49] MGoedtel commented on #44477
@mariuszo-at-microsoft-com - You are correct, the UX behavior changed since this article was originally written and needs to be updated to align with that behavior.  I'll create a work item and see about updating the article today since it's a quick fix. Thanks!   #please-close

[2019-12-11 15:49] #44477 closed

[2019-12-11 15:52] KrishnaG-MSFT commented on #44477
@MGoedtel Thanks for the super quick response. :+1:

[2019-12-11 15:53] shashishailaj commented on #44454
@eross-msft Thank you .

[2019-12-11 15:57] NavtejSaini-MSFT commented on #44487
@AndreSalvadorFerreira We are checking this and will get back to you.

[2019-12-11 15:58] NavtejSaini-MSFT commented on #44490
@Craigmeister68 We are checking this and will get back to you.

[2019-12-11 16:00] dootdootbeep commented on #44383
I just ran into this also. The page only a drop down to select SSID or manually enter one, then enter SSID password. There's no field to enter the connection string.

[2019-12-11 16:00] stevebus commented on #43157
Ok, after some internal discussion with rajeevmv, I re-did all my inputs and it looks like I must have had a typo in my registration id when I generated by SAS token.  This works 'as documented' now.  Closing the issue.  Thanks all.

[2019-12-11 16:00] #43157 closed

[2019-12-11 16:05] KrishnaG-MSFT commented on #44465
@Contadmin Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-12-11 16:09] Contadmin commented on #44465
I've managed to get the firewall syslog events on Log Analytics.

I was trying to send syslog events on port 25224 which is incorrect, rsyslog daemon still listens to syslog events on 514. The omsagent then captures events from the rsyslog daemon on port 25224.

Sentinel is a different story, the doc on the Fortinet connector was fairly simple to execute and start running.

It's worth mentioning i

[2019-12-11 16:14] kevinvngo commented on #38702
This is tracked for a future release of our portal experience. #please-close

[2019-12-11 16:14] #38702 closed

[2019-12-11 16:23] serlapoi opened #44496 "User cases Send an email when a runbook job fails or suspends"
I really appreciate that Microsoft document user cases like this one, since it show how the community help us grow and use the platform.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a52eb74e-6880-eb97-8cfd-c7c88feb64d7
* Version Independent ID: 612bb48d-0b43-1dbf-9053-14e55edb5095
* Content: [Forward Azure Automation

[2019-12-11 16:29] zhusulai commented on #44157
@TravisCragg-MSFT thanks for the clarification. The issue can be closed.

[2019-12-11 16:32] AndreasFrangopoulos opened #44497 "There is a typo in the second line."
"...while policies..."  should be "which policies..."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e746c38-18e2-56fd-becf-a4d0d05127f6
* Version Independent ID: d4be02d5-a0c5-a614-f206-e3448bd337cc
* Content: [Details of the policy assignment structure - Azure Policy](https://docs.microsoft.com/en-us/azure/governanc

[2019-12-11 16:46] DCtheGeek commented on #44497
#assign:DCtheGeek

[2019-12-11 16:48] DCtheGeek commented on #44497
@AndreasFrangopoulos Thanks for catching this! I’ll get it fixed later today.

@MicrosoftDocs/azure-cxp-triage Please label ‘doc-bug’ and #in-progress.

[2019-12-11 16:51] joslat commented on #44383
yes, exactly this.
To reproduce:
1. get the MXchip
2. Drop the 1.6.5 binary on it
3. Trigger the update. (or follow the steps on the "Send DevKit telemetry" section at https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/iot-hub/iot-hub-arduino-iot-devkit-az3166-get-started.md
4. get to point 6.
![image](https://user-images.githubusercontent.com/9831011/70641986-c2cd3580-1c3e-11ea-8e27

[2019-12-11 16:51] KrishnaG-MSFT commented on #44497
@DCtheGeek Thanks for the quick response. :+1: Added labels 'doc-bug' and 'in-progress'.

[2019-12-11 16:51] oising commented on #44425
@TravisCragg-MSFT The language in this article ( https://docs.microsoft.com/en-us/azure/application-gateway/ssl-overview#end-to-end-ssl-with-the-v2-sku ) needs to be overhauled and made more specific. A self-signed certificate - by definition - has no chain: It is its own signer. So notes like "The self-signed certificate must be a part of a certificate chain. A single self-signed certificate with

[2019-12-11 16:52] RyanHill-MSFT commented on #44381
Hi @mtwelve, this document references local cache which can be set by you, the customer. Dynamic cache is a platform enhancement implemented on the infrastructure side to improve App Service performance as mentioned [here](https://blogs.msdn.microsoft.com/waws/2017/08/02/asp-net-and-asp-net-core-application-restarts-on-azure-app-service/).

On Linux app service side of things, local cache is not s

[2019-12-11 16:55] mhopkins-msft commented on #44461
Thanks @LanderVe, I already have work items update all the tutorials. I'm getting to them!

#please-close

[2019-12-11 16:55] #44461 closed

[2019-12-11 16:58] oising commented on #44425
Maybe as a follow on, show people how to store these certificates safely in azure keyvault. Though app gateway cannot use keyvault, api management can.

[2019-12-11 17:01] bdcoder2 opened #44498 "Temporary disks are assigned a drive letter of D: by default - How to change??"
Given that 90+% of all existing systems in the real world probably use D: as a data disk, trying to "lift and shift" an on-premises system to Azure can get a bit tricky if Azure allocates D as a "temporary drive".

How do we create a VM and specify that the temporary drive should be "X" or "T" (at VM creation or after?)

It appears the New-AzVM command does NOT include a parameter which can set th

[2019-12-11 17:05] IGx89 opened #44499 "Missing "Development" tab"
Hello! I'm trying to following the instructions to disable the storage emulator (https://docs.microsoft.com/en-us/azure/vs-azure-tools-storage-emulator-using#initializing-and-running-the-storage-emulator), however when I right-click on my Azure Functions project in Solution Explorer and click Properties, the resulting window doesn't have the mentioned "Development" tab. I see the normal Applicatio

[2019-12-11 17:24] glimoli commented on #27776
thanks @genlin ! let me know if you need anything there. I just added a note stating not to disable the DVD-Rom

[2019-12-11 17:33] SubhashVasarapu-MSFT commented on #44394
@jabbera , We are assigning this issue to the respective content author for further analysis on updating the document. @asudbring , Could you provide your insights on this?

[2019-12-11 17:34] crisher0219 commented on #37499
Is there any update on this?

[2019-12-11 17:39] DeepaliRathore30 commented on #41979
This is happening for us as well.Do you have any updates on this issue?

[2019-12-11 17:40] shashishailaj commented on #44482
@cloudnovum Thank you for your feedback . We will investigate and update this thread further.

[2019-12-11 17:41] santhoshbomma9 commented on #43973
Oh sorry for the confusion, I’m talking about SaaS offer subscriptions.

[2019-12-11 17:42] shashishailaj commented on #44469
@adamfowlerit Thank you for your query . We will investigate an update the thread further.

[2019-12-11 17:43] shashishailaj commented on #44472
@Risord Thank you for pointing that out. We will review this and have it updated as needed.

[2019-12-11 17:44] shashishailaj commented on #44455
@byroncollins @bczudek Thank you for your queries. We will have this checked and update the thread.

[2019-12-11 17:51] jpendyala opened #44503 "Add tags to Log Analytics Workspace during creation"
Document: https://docs.microsoft.com/en-us/azure/azure-monitor/learn/quick-create-workspace

Why don't we have the ability to add tags to Log Analytics Workspace during creation? We have a policy enforcement at the subscription level to deny resource creation if there is no specific tag. So how do we get around this? I know we can add the Resource group as exception but I don't feel that as an ide

[2019-12-11 17:52] julieMSFT commented on #37420
@kartiknagappa Thank you so much for this further information. I am checking to see if this is the expected behavior so that the documentation can be updated.

[2019-12-11 17:55] mamccrea commented on #44291
Thank you for your feedback @arvind-dhariwal. Can you please tell me which window type is confusing?

[2019-12-11 17:57] mamccrea commented on #43426
The fix has been published.

[2019-12-11 17:58] terrymandin commented on #43685
viv-liu, feel free to reach out to me if you have questions.  I work at Microsoft so you can reach out directly.

[2019-12-11 17:59] anzaman commented on #44327
Done

#please close

[2019-12-11 18:04] msangapu-msft commented on #44451
Hi team, the sample image used in the article can be found here: https://github.com/Azure-Samples/go-docs-hello-world . I will update the article with the link to the Dockerfile. Image link is already specified (MCR). Thank you for your feedback @takekazuomi . Happy holidays.

[2019-12-11 18:05] cynthn commented on #44498
@bdcoder2 Thanks for the feedback! Here is an article about how to change the drive letter for Windows: https://docs.microsoft.com/en-us/azure/virtual-machines/windows/change-drive-letter

I don't think we currently have a Linux version of this article, but I will add a work item to get that done.

I also don't think we touch on whether this carries over if you take a VM image of a VM where the da