[2022-11-08 15:58] SaibabaBalapur-MSFT commented on #101135
@srrrrrrrrrr
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-08 16:02] skywalker45 opened #101148 "How do you create a username and password??"
How do you create a username and password?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 26ef6223-ad6b-4f74-e43a-da331ef2e7a3
* Version Independent ID: 28e62309-14f3-b446-6a93-141e9a27b001
* Content: [Tutorial: Deploy Bastion using specified settings: Azure portal](https://learn.microsoft.com/en-us/azure/bastion/tuto

[2022-11-08 16:09] SadiqhAhmed-MSFT commented on #101135
@mumian Could you please review the feedback and take appropriate action?

[2022-11-08 16:14] SaibabaBalapur-MSFT commented on #101145
@VitalyMCT
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-08 16:14] davidsmatlak commented on #101140
@olegd-superoffice Thank you for the documentation feedback. The article's purpose is to describe how to use MSBuild to convert a Bicep file to JSON. The `dotnet publish` command is outside the scope of the article. But I'll do some research about your question.

[2022-11-08 16:17] bartvermeersch commented on #100226
@ntrogh I also had to grant permissions to a service principal called **Azure Lab Services** on the subnet since I received an error:
 Lab Services does not have permissions to access resource with ID '/subscriptions/.../resourceGroups/.../providers/Microsoft.Network/virtualNetworks/.../subnets/...'.
Make sure 'Azure Lab Services' principal has access to the resource and try again

There are two s

[2022-11-08 16:26] SaibabaBalapur-MSFT commented on #101122
@KrishnaG-MSFT
Please review it

[2022-11-08 16:33] SaibabaBalapur-MSFT commented on #101123
@paulth1
Can you please check and add your comments on this doc update request as applicable.

[2022-11-08 16:37] cwatson-cat commented on #100231
#assign:austinmccollum

[2022-11-08 16:39] cwatson-cat commented on #97515
#assign:cwatson-cat

[2022-11-08 16:42] mtrmmsoftware opened #101149 "How many reminders can we register?"
Hi I found the page helpfull but I am missing the information how many reminders per actor we can register, I gues it is not unlimited!?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 70a492fe-4ea3-2972-e4bd-e25f95b210bf
* Version Independent ID: 31b848a4-c9ce-bf05-d3c3-c171d7696741
* Content: [Reliable Actors timers

[2022-11-08 16:43] cwatson-cat commented on #95501
#assign:austinmccollum

[2022-11-08 16:45] cwatson-cat commented on #93938
#assign:yelevin

[2022-11-08 16:45] KrishnaG-MSFT commented on #101122
Tagging @durior1 for visibility, review and document enhancement consideration as appropriate. cc:@sadiqhahmed-msft

[2022-11-08 16:49] cwatson-cat commented on #92813
Looks like this got fixed a while ago so #please-close

[2022-11-08 16:49] #92813 closed

[2022-11-08 16:50] cwatson-cat commented on #92509
#please-close

[2022-11-08 16:51] #92509 closed

[2022-11-08 16:53] cwatson-cat commented on #92431
#assign:yelevin

[2022-11-08 16:55] cwatson-cat commented on #92175
#assign:cwatson-cat

[2022-11-08 17:15] #76047 closed

[2022-11-08 17:28] v-edmckillop commented on #79241
@MicrosoftGuyJFlo: Please see previous comment.

[2022-11-08 17:31] jboback commented on #100890
@fausttiger The "Add an Input" button doesn't appear when you search the connectors because it's inside the "Power Virtual Agents" connector:
![image](https://user-images.githubusercontent.com/99754378/200634290-5643d518-7082-4a6c-93cf-f5ec37ee6890.png)

[2022-11-08 17:32] #101147 closed

[2022-11-08 17:35] mlamberty opened #101151 "Deploy virtual network gateway script still fails"
Get error:
New-AzVirtualNetworkGatewayIpConfig : Cannot validate argument on parameter 'SubnetId'. The argument is null or empty. Provide an argument that is not null or empty, and then try the
command again.
At line:18 char:15
+     -SubnetId $gatewaySubnet.Id `
when running script.
Tried adding variable with command:
$gatewaySubnet = $virtualNetwork | `
    Select-Object -ExpandProperty Subnets

[2022-11-08 17:36] #100300 closed

[2022-11-08 17:39] timwarner-msft commented on #101087
@ozcanli Thanks for the clarification. Sadly, Azure CLI behaves differently on macOS and Linux than it does on Windows, particularly with line breaks and escape characters. I've asked my colleague who manages the Azure CLI docs for insight. I'll report back what she says.

[2022-11-08 17:40] ju-shim commented on #79467
Hello,

There have been some robust updates to the VMSS space and we are highlighting Flexible orchestration mode as the way forward. All feature comparisons tables have been moved and are updated. The changes you seek were addressed. Learn more in the Overview article and here: https://learn.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-orchestration-modes

Thank

[2022-11-08 17:40] #79467 closed

[2022-11-08 17:44] hiep3382tran commented on #95986
Hello Vallirani ,

This is in response to your question regarding using TLS from Logic Apps Standard MQ connector.  Below is the requirement and procedures to implement TLS from Logic Apps using MQ connector:

Logic Apps standard uses App Server as the platform and that is where the certs are handled.  App Server only allows private certs to be added to the Trusted Root Certificates store on their

[2022-11-08 17:48] cwatson-cat commented on #92175
#assign:limwainstein

[2022-11-08 17:49] cwatson-cat commented on #95872
#assign:austinmccollum

[2022-11-08 17:52] dlepow commented on #99041
@mikebudzynski - Do you have any insight into whether access-restricted requests in Consumption tier are counted toward calls quotas in that tier? Thanks!

[2022-11-08 17:53] parlevjo2 commented on #100934
This is not true Why do I get then an error "an parameter cannot be found that matches parameter name 'adminUsername'
![2022-11-02 09_20_01-Privileged Remote Access Console - ghost pinkelephant nl - jpa pink](https://user-images.githubusercontent.com/36136880/200639156-92605c44-7548-485f-be03-bfb6ba867a85.jpg)

[2022-11-08 18:08] marcioapm commented on #98954
We are also not unable to turn on KMS on our cluster. We get this same error.

Facts:
- our KV is not RBAC and is public
- our AKS uses a user assigned identity, for which we create a role assignment with decrypt/encrypt
- we follow the docs in https://learn.microsoft.com/en-us/azure/aks/use-kms-etcd-encryption

Any help would be appreciated.

[2022-11-08 18:11] #101087 closed

[2022-11-08 18:14] paulth1 commented on #101123
@SaibabaBalapur-MSFT - I'm a contract editor, not the SME, so I can't revisit this file. An edit pass must be assigned:
https://mseng.visualstudio.com/TechnicalContent/_workitems/create/Task?templateId=92d10a37-97b1-407d-958a-f209c3e9975d&ownerId=58c2fc6a-48db-4416-bf42-bf800faf1b95

[2022-11-08 18:21] MicrosoftGuyJFlo commented on #101078
#label:"awaiting-product-team-response"
#reassign:@MicrosoftGuyJFlo

[2022-11-08 18:21] MicrosoftGuyJFlo commented on #101078
Note out to the PM responsible. Waiting for response.

[2022-11-08 18:27] jeremytbrun commented on #33927
Are there any updates on this? I am looking at importing Key Vault certs into App Services and have the same questions about the security scope and implications of giving the global App Service service principal get permissions on my key vault.

[2022-11-08 18:44] lukevander opened #101152 "App Protection Policy doesn't list Yammer app for Android"
I reached out to the Android Yammer Team and code was added in July 2020 so this should be updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: bd934939-4dbb-3a92-f996-56b9557f49ac
* Version Independent ID: 3cda6b81-26e8-c9ac-e768-d912636a461b
* Content: [Grant controls in Conditional Access policy - Azure Active D

[2022-11-08 18:56] AjayKumar-MSFT commented on #101037
Much appreciate your feedback on this. As commented by author #46332 -

[2022-11-08 19:10] ozcanli commented on #101087
@timwarner-msft I use AZ CLI. I experienced the same thing on Linux. I think that this behavior worth mentioning in docs. Thanks for you answer.

[2022-11-08 19:56] hmenchaca commented on #100809
Hello Team! I hope you are having a great day! - is there an update on this? Best Regards, Thanks!

[2022-11-08 19:57] janicericketts commented on #76047
@MicrosoftGuyJFlo @vipulsparsh  Please close this issue per above. Thank you.

[2022-11-08 19:58] jonburchel commented on #96825
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2022-11-08 19:58] #96825 closed

[2022-11-08 20:00] tifischer opened #101153 "Built in Attributes need to be updated in doc..number and specify that they are required to have values"
Built in Attributes need to be updated in doc..number and specify that they are required to have values
1) The doc says 8 attributes but lists 11
2) The doc does not clearly state if all 11 are required to have values

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: a006b62e-b3a3-18f9-cb26-1fd91b4cf9bd
* Version Indepen

[2022-11-08 20:02] #96946 closed

[2022-11-08 20:28] kris1254 opened #101155 "Need to be revised"
The text mentions a limitation of single AD per region, then in the later sentence, says that there can be multiple if they are in different subscriptions. This leads the reader to think that as long as they're netapp accounts are deployed in different subscriptions, they can have multiple AD domains.

"Azure NetApp Files doesn’t support multiple AD connections in a single region, even if the AD c

[2022-11-08 20:54] rajeshsetlem commented on #100239
Thanks @HitenBhavsarMSFT for the feedback. Have added a note in https://learn.microsoft.com/en-us/azure/azure-sql/database/high-availability-sla?view=azuresql&tabs=azure-powershell to improve awareness for customers.

[2022-11-08 20:55] rajeshsetlem commented on #100239
#please-close

[2022-11-08 20:55] #100239 closed

[2022-11-08 20:56] rajeshsetlem commented on #99524
#please-close

[2022-11-08 20:56] #99524 closed

[2022-11-08 21:23] baanders commented on #101138
Document author here with another update--

The code snippet has been updated in the [live document](https://learn.microsoft.com/azure/digital-twins/how-to-manage-graph#create-relationships) to include a method signature that takes in this `twin` variable as a parameter. I'm going to mark this issue as resolved, but feel free to continue the conversation if you have further concerns or questions.

[2022-11-08 21:23] #101138 closed

[2022-11-08 21:31] #100878 closed

[2022-11-08 21:45] cwatson-cat commented on #100231
@andrePKI There's a table reference in this library: https://learn.microsoft.com/en-us/azure/azure-monitor/reference/tables/sentinelaudit

You can also run the getschema operator in your workspace to get more info about a table:
https://learn.microsoft.com/en-us/azure/data-explorer/kusto/query/getschemaoperator

[2022-11-08 21:56] kaistrubel commented on #98139
#please-close

[2022-11-08 21:56] #98139 closed

[2022-11-08 21:58] kaistrubel commented on #99303
Thanks for the feedback. I added some explanation here on our networking page to explain "Public Access Disabled" https://learn.microsoft.com/en-us/azure/key-vault/general/network-security

[2022-11-08 21:58] kaistrubel commented on #99303
#please-close

[2022-11-08 21:59] kaistrubel commented on #98074
Thanks for the feedback. I added some explanation for "Public Access Disabled" here https://learn.microsoft.com/en-us/azure/key-vault/general/network-security

[2022-11-08 21:59] kaistrubel commented on #98074
#please-close

[2022-11-08 21:59] #98074 closed

[2022-11-08 22:38] philipstratford opened #101157 "Apparent errors resulting from copy and paste"
The sections "Sign-in button" and "SignIn action of the controller" on this page appear to have been copied pasted from the corresponding "Sign-out button" and "SignOut action of the controller" sections, but the text hasn't been edited subsequently so that it makes sense for the sections related to signing in.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.micro

[2022-11-08 22:46] seesharprun commented on #98089
Thanks @dgpoulet for this question!

Since this is a product question, I'm going to let @gahl-levy take this question offline with you. If he determines a docs update should be created to support this question, we'll update the relevant doc at that time.

As always, thank for your feedback!

#please-close

[2022-11-08 22:46] seesharprun commented on #98092
Thanks @dgpoulet for this question!

Since this is a product question, I'm going to let @gahl-levy take this question offline with you. If he determines a docs update should be created to support this question, we'll update the relevant doc at that time.

As always, thank for your feedback!

#please-close

[2022-11-08 22:46] #98089 closed

[2022-11-08 22:46] #98092 closed

[2022-11-08 22:58] RoYoMi opened #101158 "Confusing typo"
[Enter feedback here]
This line
`Create a new file named auth.js under the router folder and add the following code there:`

should probably read
`Create a new file named auth.js under the routes folder and add the following code there:`

In following along with your example there is no folder called `router`

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microso

[2022-11-08 22:59] wasker opened #101159 "HostProcess sample is broken on in AKS 1.24.6 with Windows 2019 nodes"
When I'm trying to run the HPC example as shown on the page, it breaks with the following error:

[code]

Environment: AKS v1.24.6, nodes with Windows Server 2019 image. The sample is copy-pasted as is.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 24ad7559-335d-43d6-24d4-0de3cf7db10b
* Version Independent ID: 48597f

[2022-11-08 23:03] wasker commented on #101159
The only way I was able to start pwsh is by specifying `command` as `"Program Files\\PowerShell\\pwsh.exe"`.

[2022-11-08 23:27] khdownie commented on #78822
Initialized $gatewaySubnet in script:
https://learn.microsoft.com/en-us/azure/storage/files/storage-files-configure-p2s-vpn-windows

[2022-11-08 23:27] khdownie commented on #78822
#please-close

[2022-11-08 23:27] #78822 closed

[2022-11-09 00:14] normesta commented on #99148
Thanks @zezha-msft ! I updated the ref article to point to the guidelines section of the blob copy between accounts article + added a note about the requirement for being in the same tenant. Updates should go live by tomorrow AM. Closing. Thx all!

#sign-off

[2022-11-09 00:15] normesta commented on #99148
#please-close

[2022-11-09 00:15] #99148 closed

[2022-11-09 00:19] jmprieur commented on #101157
For each language/framework? [philipstratford](https://github.com/philipstratford) ?

[2022-11-09 00:38] #100695 closed

[2022-11-09 00:56] raymondluo1 opened #101161 "Seeing discrepancies about the resource token TTL in Cosmos DB"
Hi,
I am seeing some discrepancies about the resource token TTL in Cosmos DB and I want to know what's the exact TTL limit for the resource token in Cosmos DB.
Here it mentioned that the TTL limit for the resource token is 5 hours:
https://learn.microsoft.com/en-us/azure/cosmos-db/secure-access-to-data?tabs=using-primary-key#resource-tokens

But in the developer doc, it's 24 hours:
 https://learn.

[2022-11-09 01:02] MartinJPalmer opened #101162 "This page is not very helpful."
This page is not very helpful.  All I need to do is get a message from a subscription, yet this sample make it so convoluted, after reading it I still don't know how to get the message...

I guess I will need to learn how to use MS technology from some other site... Very poor documentation by MS.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitH

[2022-11-09 02:10] darkoa-msft commented on #100059
Please ignore, looks like the VM Custom Script Extension is not using the User Assigned Managed Identity properly.

I remoted into the VM, signed in as the VM identity and downloaded the blob content (Get-AzStorageBlobContent).
The identity had only the data reader role assignment.

[2022-11-09 02:10] #100059 closed

[2022-11-09 02:24] SachithKasthuriarachchi opened #101164 "Map the temporary cdnverify subdomain Section is Hidden"
[Enter feedback here]
As you can see in the following image, the above section is hidden in a two tabbed table.

<img width="712" alt="Screenshot 2022-11-09 at 07 51 29" src="https://user-images.githubusercontent.com/44407066/200721444-1bda9ca9-1111-4102-b019-2cc25a02ddae.png">

This section contains the solution for a most important and common problem, which is `How to migrate static content to C

[2022-11-09 02:58] GeethaThatipatri-MSFT commented on #101161
@raymondluo1 Thank you for reaching out. We will look into it and update you as appropriate.

[2022-11-09 03:07] spelluru commented on #101162
The get started tutorial should have the Connection String as the default option. The Passwordless option is an advanced option, which is recommended to be used in production environments.

[2022-11-09 03:11] BryanTrach-MSFT commented on #101147
@healthfirstbeforemoney-group Please let us know if you have any doc feedback. Otherwise, we will keep the question closed. Thanks.

[2022-11-09 03:29] AjayBathini-MSFT commented on #101081
@thefonz3h
I'm going to assign this to the document author so they can take a look at it accordingly.

@asudbring
Can you please check and add your comments on this doc update request as applicable.

[2022-11-09 03:37] VitalyMCT opened #101168 "Old TDE Link for SQL Server"
Link still points to SQL Server 2016. I suggest updating to a version-independent page.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 16c7901b-497c-38bd-3615-defab17b572b
* Version Independent ID: 9855d796-3469-8be5-c9a7-75516d9b8856
* Content: [Azure encryption overview](https://learn.microsoft.com/en-us/azure/secur

[2022-11-09 03:37] rabbyn commented on #96946
Hello @jonburchel , sorry but I don't understand. What internal work item to incorporate my suggestion ? to update Synapse UI or to update the documentatiton ? Thanks

[2022-11-09 03:38] Naveenommi-MSFT commented on #101099
@Nahtandidzze

Thank you for your feedback!

Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request] (https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our Q&A forum by posting your issu

[2022-11-09 03:38] #101099 closed

[2022-11-09 03:43] Naveenommi-MSFT commented on #101149
@mtrmmsoftware

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-09 03:49] KapilAnanth-MSFT commented on #101164
@SachithKasthuriarachchi , Thanks for your feedback.

I shall assign this to the author @jessie-jyy for further review.

[2022-11-09 03:50] RamanathanChinnappan-MSFT commented on #100984
@GouravGit

We are going to close this thread ,but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-11-09 03:50] #100984 closed

[2022-11-09 03:51] RamanathanChinnappan-MSFT commented on #101027
@Masonta1976

We are going to close this thread   but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-11-09 03:51] #101027 closed

[2022-11-09 03:52] SaibabaBalapur-MSFT commented on #101151
@mlamberty
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-09 03:52] RamanathanChinnappan-MSFT commented on #101035
@SammyAyyalusamy

We are going to close this thread  but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-11-09 03:52] #101035 closed

[2022-11-09 04:15] YashikaTyagi-MSFT commented on #101013
@aysarabomwis
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-11-09 04:15] #101013 closed

[2022-11-09 04:16] #100946 closed

[2022-11-09 04:18] SaibabaBalapur-MSFT commented on #101155
@kris1254
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-09 04:19] SaibabaBalapur-MSFT commented on #101152
@lukevander
Thanks for your feedback! We will investigate and update as appropriate.

Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team

[2022-11-09 04:20] YashikaTyagi-MSFT commented on #101070
@Visinghr
Since you are internal Employee. I would suggest you fill the below form.
Please use this form to submit your proposal to contribute to [docs.microsoft.com](http://docs.microsoft.com/) (which includes Docs, Learn, Azure Architecture Center, and Cloud Adoption Framework). You'll receive a follow up once submitted to begin the process.
https://forms.office.com/Pages/ResponsePage.aspx?id=v4

[2022-11-09 04:21] SaibabaBalapur-MSFT commented on #101153
@tifischer
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-09 04:22] SaibabaBalapur-MSFT commented on #101157
@philipstratford
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-09 04:23] SaibabaBalapur-MSFT commented on #101158
@RoYoMi
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-09 04:25] SaibabaBalapur-MSFT commented on #101159
@wasker
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-09 04:27] SaibabaBalapur-MSFT commented on #101162
@MartinJPalmer
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-09 04:28] SaibabaBalapur-MSFT commented on #101168
@VitalyMCT
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-09 04:30] AnuragSingh-MSFT commented on #100701
@rawatsudhir1, I got an update that - Custom properties are meant for routing/enrichment in automation actions today and therefore don't appear in the email.

Hope this helps.

[2022-11-09 04:30] #100701 closed

[2022-11-09 04:40] YashikaTyagi-MSFT commented on #101051
@rolstead
Thanks for your feedback! We have assigned the issue to author who will provide further updates.

[2022-11-09 04:42] AshokPeddakotla-MSFT commented on #100843
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-11-09 04:42] #100843 closed

[2022-11-09 04:51] AnuragSingh-MSFT commented on #100726
@rz1qt2, we will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2022-11-09 04:51] #100726 closed

[2022-11-09 05:20] ManoharLakkoju-MSFT commented on #101079
@sneha-joy
Thank you for your feedback!

Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request] (https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our Q&A forum by posting your issue th

[2022-11-09 05:36] Naveenommi-MSFT commented on #100418
Hi @yodobrin
Once Doc author review your point, then will update Document as appropriate.

[2022-11-09 05:46] AjayBathini-MSFT commented on #101131
Hi @delsehi
Could you please refer below comments for your reference.

You could leverage [Microsoft Azure Configuration Manager Library for .NET](https://www.nuget.org/packages/WindowsAzure.Storage/) and retrieve the rough usage for a specific file share as follows:

CloudFileShare share = fileClient.GetShareReference("{your-share-name}");
ShareStats stats = share.GetStats();
Console.WriteLine("C

[2022-11-09 05:48] AjayBathini-MSFT commented on #101155
@kris1254

Thank you for your feedback!
Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request] (https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our Q&A forum by posting your issue the

[2022-11-09 05:48] #101155 closed

[2022-11-09 05:50] eric-urban commented on #100599
OK we are tracking this internally. Thanks!
#please-close

[2022-11-09 05:50] #100599 closed

[2022-11-09 05:51] applefacts opened #101169 "Unable to set MDC storage pricing to per transaction"
az security pricing create -n StorageAccounts --tier "standard" --subPlan "PerTransaction"

unrecognized arguments: --subplan PerTransaction

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 2b92c195-c670-2e27-2422-fd131586bdd7
* Version Independent ID: 75ad901d-8064-bfbe-67f5-de507bede1bc
* Content: [Enable Microsoft De

[2022-11-09 05:53] AjayBathini-MSFT commented on #101159
@wasker
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

[2022-11-09 05:53] AjayBathini-MSFT commented on #101159
@MGoedtel
Can you please check and add your comments on this doc update request as applicable.

[2022-11-09 06:06] SaibabaBalapur-MSFT commented on #101123
@romary349
Please review it.

[2022-11-09 06:12] SaibabaBalapur-MSFT commented on #101132
@wellsluo
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

@roygara
Can you please check and add your comments on this doc update request as applicable.

[2022-11-09 06:15] enusan opened #101170 "Serious mistranslation on What is Identity Protection? page"
On License requirements section, all capabilites on Azure AD Premium P1 is No except Security reports function.
But in Korean page, it shows Azure AD Premium P1 also has those capabilites. No is translated to "예", which means yes.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: c2e83171-fd05-9fe1-3ba7-0fb20161ee63
* Ve

[2022-11-09 06:20] ms-ishiyam opened #101171 "Changing connection properties in OS"
Microsoft does not recommend changing connection properties in OS. We should change DNS Setting of VM NIC or VNet. VMs should get DNS IP automatically using DHCP.  Could you fix this document ?

https://learn.microsoft.com/en-us/azure/azure-sql/virtual-machines/windows/availability-group-manually-configure-prerequisites-tutorial-multi-subnet?view=azuresql#set-preferred-dns-server-address

--------

[2022-11-09 06:23] eric-urban commented on #101028
@2fersen -

Got it. The symptom is the same, so please see the Windows 10 update [here](https://support.microsoft.com/en-us/topic/october-17-2022-kb5020435-os-builds-19042-2132-19043-2132-and-19044-2132-out-of-band-243f34de-2f44-4015-a224-1b68a4132ca5).

For macOS I'm not aware of any issues. I suggest posting repro steps and results on stackoverflow: [https://learn.microsoft.com/en-us/answers/top

[2022-11-09 06:29] Naveenommi-MSFT commented on #101067
Hi @flohfeld

Thank you for your feedback!

Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request] (https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our Q&A forum by posting your issue

[2022-11-09 06:30] SaibabaBalapur-MSFT commented on #101158
@RoYoMi
Thanks for bringing this to our attention.

We have created a PR for this issue and the changes should go live soon.

[2022-11-09 06:32] SaibabaBalapur-MSFT commented on #101168
@VitalyMCT
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

@msmbaldwin
Can you please check and add your comments on this doc update request as applicable.

[2022-11-09 06:40] saeedalhamed opened #101172 "OutputClaim ClaimTypeReferenceId="tenantId" PartnerClaimType="tid""
Hello There,

This is Saeed from MS internal support, This xml element (OutputClaim ClaimTypeReferenceId="tenantId" PartnerClaimType="tid")
should be removed from the custom policy file, I had to deal with 2 cases from our customers because of that entry, it will reproduce an issue in multi-tenant scenario, PG team helped in resolving the issue by removing that xml entry because it will not work w

[2022-11-09 07:13] AmmarMohanna commented on #94105
@sunnyhay I am facing the exact same issue. Is it possible to tell me how to increase the timeout limit in the YAML file?
And is it the same YAML file used for deployment and specifications of dependencies?

![image](https://user-images.githubusercontent.com/32446816/200763296-d415404c-67e0-47c1-a935-354c982d1090.png)

[2022-11-09 07:21] AmmarMohanna commented on #94105
I just wanted to add that in my case, I can see the results in the deployment logs, but I am getting an upstream request timeout from postman

[2022-11-09 07:49] shtakeda commented on #99753
Hi @xixian73
I added the code on https://learn.microsoft.com/en-us/azure/communication-services/concepts/interop/custom-teams-endpoint-use-cases#steps to the sample (https://github.com/Azure-Samples/communication-services-javascript-quickstarts/tree/main/add-1-on-1-cte-video-calling).

The following error was returned:
CallingCommunicationError: Starting a one to one with thread ID is invalid.

[2022-11-09 07:52] SadiqhAhmed-MSFT commented on #101008
@ankitaduttaMSFT and @v-pgaddala - Could you please review this request?

IMO, this feedback needs to be considered for doc-enhancement.

[2022-11-09 07:53] ntrogh commented on #100226
@bartvermeersch thanks for reporting - I'll check with the engineering team.
In the meantime, I'll reopen this issue.

#please-open

[2022-11-09 08:41] kumarkvk opened #101174 "the pod never runs"
I have deployed to check HPC on a windows node but receiving the follwoing error :
Controlled By:  DaemonSet/privileged-daemonset
Containers:
  powershell:
    Container ID:  containerd://9bfe2196b3666848efa302d43562d07489d7697636b752f8683309915613a504
    Image:         mcr.microsoft.com/powershell:lts-nanoserver-1809
    Image ID:      mcr.microsoft.com/powershell@sha256:948ead9f5f0fcaa63103e67b

[2022-11-09 08:46] sekharkumar commented on #99691
Hi @AshokPeddakotla-MSFT.

As we discussed earlier this feature will support to window 10 as well from November.  If possible could you please confirm from when it will be available on this month.

[2022-11-09 08:51] SnehaAgrawal-MSFT commented on #101049
@sy-huss Thanks for reaching here! We appreciate your document feedback, Could you please point out specifically to help you better on this.

[2022-11-09 08:54] AmmarMohanna commented on #94105
I had the same issue but I solved it in a different way: I added request settings in the ManagedOnlineDeployment class.

![image](https://user-images.githubusercontent.com/32446816/200784618-1abe3fdb-7457-42c5-bae4-6b6ee54f8c63.png)

[2022-11-09 09:16] urimsft commented on #101122
please remove @durior1 from any place it's listed, and use @urimsft instead

________________________________
From: KrishnaG-MSFT ***@***.***>
Sent: Tuesday, November 8, 2022 6:45 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Uri Dor ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Correction: AD Application Secrets only good for 24 Months (Issue #101122)

Tagging @dur

[2022-11-09 09:29] jipsterious opened #101176 "Missing new DNS zone recommendation for storage accounts in azure.net"
With storage account previewing 5000 storage accounts with new Azure DNS zone, the Private link recommendation for storage accounts should be appended with the new FQDN names.

New storage account FQDNs:
Blob Storage | https://<storage-account>.z[00-99].blob.storage.azure.net
Static website (Blob Storage) | https://<storage-account>.z[00-99].web.storage.azure.net
Data Lake Storage Gen2 | https://<

[2022-11-09 09:40] jpinwa commented on #98717
I was considering moving from AWS to Azure, but after discovering this "bug" (which is, in fact, a complete roadblock to my deployment), and seeing that it is still not resolved after nearly two months, I can only conclude that Azure is not yet a serious cloud platform. Very disappointing.

[2022-11-09 09:49] bqstony opened #101178 "link of publishednodes.json"
The link for exmple of publishednodes.json

should target: https://github.com/Azure/Industrial-IoT/blob/main/docs/modules/publishednodes_2.8.json

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 5150882c-0855-b11f-9d43-bc68161a36ce
* Version Independent ID: 27e946a4-3894-f90a-344c-0fa094389929
* Content: [Configure the

[2022-11-09 09:53] AnuragSingh-MSFT commented on #101030
@yohny, thank you for this feedback. As mentioned in [the doc](https://learn.microsoft.com/en-us/azure/azure-monitor/app/javascript?tabs=snippet#connection-string-setup) - _"On March 31, 2025, support for instrumentation key ingestion will end. Instrumentation key ingestion will continue to work, but we'll no longer provide updates or support for the feature."_

Therefore, I would request you to f

[2022-11-09 09:53] VikasPullagura-MSFT commented on #101171
@ms-ishiyam
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-11-09 09:53] VikasPullagura-MSFT commented on #101171
@tarynpratt
Can you please check and add your comments on this doc update request as applicable.

[2022-11-09 09:53] MartinParis opened #101179 "Moving subscription fails when resources are NonCompliant in source for Audit and same policy is in Deny in target?"
[Enter feedback here]
We like to know what happens in this scenario, see subject.
This might be a good detail addition to the page.
We already learned that this fails for individual resources, but does that also apply to Subscriptions?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 7d78cf71-d050-1d54-6048-7e92ea98084d

[2022-11-09 09:55] AnuragSingh-MSFT commented on #101048
@joslat, we will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2022-11-09 09:55] #101048 closed

[2022-11-09 10:01] #101176 closed

[2022-11-09 10:02] jipsterious commented on #101176
In my testing it seems privatelink for azure.net uses core.windows.net.

[2022-11-09 10:05] Pulakesh25 opened #101180 "Azure cli Command group experimental and under development"
Faced issue while running initial script to do a basic installation of Azure Devops Services for the SAP on Azure Deployment Automation Framework.

Getting Error "Command group 'config' is experimental and under development. Reference and support levels: https://aka.ms/CLI_refstatus". Below are the code executed in Azure Cloud Shell

`export ADO_ORGANIZATION=https://dev.azure.com/<yourorganization

[2022-11-09 10:15] KrishnaG-MSFT commented on #101122
@urimsft done

[2022-11-09 10:15] harshal-perennial commented on #95751
Can anyone share the details (like OS version) of the mobile device on which this issue is seen?

[2022-11-09 10:25] SadiqhAhmed-MSFT commented on #101083
@v-ksreedevan Could you please review this issue with the feature owner to get confirmation on changes required for doc updates?

[2022-11-09 10:25] hdep commented on #60933
Hello, thanks a lot @RonnieQuan
Can this be added to documentation ?

This is a common use case.

[2022-11-09 10:27] kogepanh opened #101183 "Unclear options for restore on App Service."
Currently there is an option "Ignore conflicting domain names" when restore from a custom backup of the App Service. But it is unclear how this option will work.

This option is not mentioned in the Docs.

It seems that this option works as mentioned in the following page, but this should be included in Docs as well, so please let us discuss it.

---
#### Document Details

⚠ *Do not edit this sect

[2022-11-09 10:47] philipstratford commented on #101157
Good question. It seems be for ASP.NET (not Core) for both sections, and for Java in the "SignIn action of the controller" section. I'm not sure about other languages.

[2022-11-09 11:01] yelevin commented on #92431
#assign:@limwainstein

[2022-11-09 11:03] KapilAnanth-MSFT commented on #101176
@jipsterious , Thanks for your feedback.

I see you have able to find the answer in your test environment.
Let us know if you would require more details on this.

[2022-11-09 11:21] AnuragSingh-MSFT commented on #101102
@brsteel, can you please confirm if you are running these commands after connecting to the required tenant (which does not have any subscription). You can use `get-azcontext` for the current tenant being used.

I removed all the context in powershell using `get-azcontext | remove-azcontext`. Then used `connect-azaccount` cmdlet to signin to the managing tenant (the one without subscription) and I

[2022-11-09 11:24] AshokPeddakotla-MSFT commented on #101178
@bqstony Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-11-09 11:48] mmiliarakis opened #101186 "Confusing units for Megabytes per second"
Please use uniform Megabytes per second notation everywhere, because right now it is very confusing.
Currently you are using both MB/s and MBps. Also in Azure portal again you use different units, eg Mbps (which means megabits per second)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 5e6dcff8-b7b3-68b3-2364-dffa15b28

[2022-11-09 12:25] M4ttLaNE opened #101188 "NTFS permissions give all users read access to everyone's profile"
[Enter feedback here]
With a File server and Share you can disable inheritance and set permissions correctly.  Following the instructions in the article all users have read access to everyone's profile.  Which is a data breach.   you can't disable inheritance so can't remove inherited permissions.  This is concerning.  Also, I can't see any documentation to set this up correctly, I have looked at

[2022-11-09 12:36] RamanathanChinnappan-MSFT commented on #101080
@Willem-J-an

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-11-09 12:36] RamanathanChinnappan-MSFT commented on #101080
@nabhishek

could you please review this and update as appropriate.

[2022-11-09 12:42] RamanathanChinnappan-MSFT commented on #101098
@rolyhudson

Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request] (https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our Q&A forum by posting your issue there so our community, and MV

[2022-11-09 12:42] #101098 closed

[2022-11-09 12:43] k-krupka commented on #88207
@flang-msft Is this feature on the roadmap?

[2022-11-09 12:44] anwarmahmood1 opened #101189 "https://learn.microsoft.com/en-us/azure/active-directory/fundamentals/active-directory-licensing-whatis-azure-portal?source=docs#licensing-requirements is now out of date"
https://learn.microsoft.com/en-us/azure/active-directory/fundamentals/active-directory-licensing-whatis-azure-portal?source=docs#licensing-requirements

is no longer true;

[Migrate your apps to access the license managements APIs from Microsoft Graph - Microsoft Community Hub](https://techcommunity.microsoft.com/t5/microsoft-entra-azure-ad-blog/migrate-your-apps-to-access-the-license-managements-

[2022-11-09 12:48] Naveenommi-MSFT commented on #101100
Hi @johnazariah
could share the details about which account your using (public or private), Please add screenshots you are following for these steps. This would help us redirect the issue to the appropriate team. Thanks!

[2022-11-09 12:54] Naveenommi-MSFT commented on #101058
Hi @DinLim

Could you please go through this below link for your reference.

https://machinelearningmastery.com/how-to-connect-model-input-data-with-predictions-for-machine-learning/

Disclaimer: This response contains a reference to a third-party World Wide Web site. Microsoft is providing this information as convenient to you. Microsoft does not control these sites and has not tested any softwar

[2022-11-09 13:15] rz1qt2 commented on #100726
Thank you yes you can close this based on explanation.

On Tue, Nov 8, 2022 at 10:51 PM Anurag Singh ***@***.***>
wrote:

[2022-11-09 13:18] seesharprun commented on #101161
@raymoundlou1, this took a bit of digging but I think I have an answer.

Per the [SDK docs](https://learn.microsoft.com/en-us/dotnet/api/microsoft.azure.cosmos.user.createpermissionasync?view=azure-dotnet), the maximum is 24 hours. If you go to the [request limits](https://learn.microsoft.com/en-us/azure/cosmos-db/concepts-limits#per-request-limits) page, you will also see the maximum is 24 hours.

[2022-11-09 13:28] wkoeter commented on #92908
@artisticcheese
https://learn.microsoft.com/en-us/azure/azure-functions/functions-reference?tabs=blob#configure-an-identity-based-connection

https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/azure-functions/functions-reference.md

under

## Common properties for identity-based connections
An identity-based connection for an Azure service accepts the following common properties, where

[2022-11-09 13:34] ManasaDevadas opened #101192 "Azure Policy - App Service apps should disable public network access - Not working as expected."
Azure Policy - _App Service apps should disable public network access_ - Not working as expected.
Please remove from the doc, or else add what other configuration is needed for the policy to work as expected.

When creating an app from portal, even after enabling "Enable network injection" and "private end points" unable to create the app.
Publicnetworkaccess property is "null" for both with/witho

[2022-11-09 13:35] ChuckSnow-DSG opened #101193 "Plan the maintenance window"
I cut over a small test tenant from Federated to Managed after testing via a staged rollout.   The cutover was performed using Option A "Switch from federation to the new sign-in method by using Azure AD Connect".  When testing the new sign-in method I was prompted intermittently with the message "Choose a way to sign in".    This prompt did not provide any choices but rather only included a "Back

[2022-11-09 13:42] brsteel commented on #101102
Can't run the cmdlet without a context:
***@***.***

However with azcontext set properly in a tenant without a subscription:

***@***.***
***@***.***

In a tenant with a subscription, and no -role parameter used:
***@***.***
***@***.***

I overlooked one thing in my tests yesterday.
If you add the -scope parameter and use subscription, it sets the role contributor on that scoped parameter, my bad.

[2022-11-09 13:44] brsteel commented on #101102
I also need to mention that the error returns between Az.Resources 6.3.1 and 6.4.0 are different.

It appears that in 6.4.0 at least, the SPN is created even when it errors on the role assignment.

Brooke Steele
Senior Azure Customer Engineer
Advanced Cloud Engineering (ACE)

Azure. Invent with purpose.
Office: +1 703-234-9291
Mobile: +1 703-989-3042
***@***.******@***.***>

From: Brooke Steele
Se

[2022-11-09 13:47] barclayn commented on #91033
@KSchlobohm thank you for your feedback. We have made updates to the article, and they should be live in the next couple of days.

[2022-11-09 13:48] barclayn commented on #91033
#please-close

[2022-11-09 13:56] lukevander commented on #101152
The URL in question is https://learn.microsoft.com/en-us/azure/active-directory/conditional-access/concept-conditional-access-grant?source=docs#require-app-protection-policy @SaibabaBalapur-MSFT

[2022-11-09 14:17] stutommi commented on #101088
Thanks @AjayBathini-MSFT for the response!

I can try the steps you outlined, they seem to make sense to me, although I have to admit that I have a poor knowledge of AKS / Secret management so far.

What I'm still puzzled about, is that doesn't the page that this issue refers now guide a way how to set up TLS for Ingress controller in a way that is managed by AKS (using user-assigned identity). Is

[2022-11-09 14:25] ChaitanyaNaykodi-MSFT commented on #101120
@JohnPoetzinger, the suggested changes were made.
Thank you @erjosito for making the PR.

[2022-11-09 14:25] #101120 closed

[2022-11-09 14:26] ChaitanyaNaykodi-MSFT commented on #100994
@dcint Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-11-09 14:28] nibanks commented on #69477
I was just informed of this discussion, and I would tend to disagree with "fragmentation is not bad." It causes a whole host of issues, for which the entire QUIC protocol (built on UDP and the really the next protocol for the internet) has taken the stance to set the "Don't Fragment" bit to make sure fragmentation doesn't happen.

But to that end, does the Azure network stack fully respect this bi

[2022-11-09 14:29] lukegreen001 opened #101196 "Typo"
Measuing change feed request unit - The header here has a typo. Should say Measuring

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: fdcc897a-d6df-3305-e9cb-01889a3c5d4f
* Version Independent ID: 739a9fc7-3782-a860-ac6d-4194fd1ce2e8
* Content: [Working with the change feed support in Azure Cosmos DB](https://learn.micr

[2022-11-09 14:44] RyanHill-MSFT commented on #101031
Thanks @juminrubin, I have a pending PR to correct the typo

[2022-11-09 14:45] guywi-ms commented on #99353
@DaleKoetke please review and approve.

[2022-11-09 14:47] guywi-ms commented on #99354
Thanks @mosbahmajed !
I'm closing this issue and we'll continue working on https://github.com/MicrosoftDocs/azure-docs/issues/99353.

#please-close

[2022-11-09 14:47] #99354 closed

[2022-11-09 14:52] guywi-ms commented on #100121
Thanks @Jarsenal !
The link seems to be working now. Please let us know if you're still encountering issues downloading the templates.

#please-close

[2022-11-09 14:52] #100121 closed

[2022-11-09 14:53] #101031 closed

[2022-11-09 14:54] angelfourth opened #101198 "Docs article should point out the correct ordering of child elements under UserJourneyBehaviors"
Hi,

inserting JourneyInsights child element under UserJourneyBehaviors produces the following error when uploading via the Azure portal interface when placed after a ScriptExecution element:

Upload custom policy
Validation failed: 1 validation error(s) found in policy "B2C_1A_CustomPolicy" of tenant "xxx.onmicrosoft.com".Schema validation error found at line 122 col 8 in policy "B2C_1A_CustomPol

[2022-11-09 14:59] ajgball opened #101199 "Microsoft.elastic is missing"
[Enter feedback here]
Microsoft.elastic is missing

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 23df5354-6833-a5da-0eb3-d860150c8b78
* Version Independent ID: 682ec206-0fda-3e0b-5841-543860a87e34
* Content: [Move operation support by resource type - Azure Resource Manager](https://learn.microsoft.com/en-us/azure/azu

[2022-11-09 15:07] romary349 commented on #101123
@SaibabaBalapur-MSFT I am not the correct person to review this.

[2022-11-09 15:11] vbrozik commented on #69477
@nibanks I agree. These statements do not make sense:
* "fragmentation is not bad."
* "Most packets are much smaller than 1400 or 1500 – so there’s no risk of fragmentation"

In the same sense have commented an issue which was closed without any sound reasoning:
https://github.com/MicrosoftDocs/azure-docs/issues/65888#issuecomment-1296894484

Are you sure? The "Don't Fragment" bit is normally bein

[2022-11-09 15:15] AaronMaxwell commented on #100758
Thanks for your dedication to our documentation. This issue is being triaged by multiple product groups before we comment, and we apologize for the further delay that is expected. Thanks in advance for your understanding as we investigate to provide the most accurate answer and documentation updates.

[2022-11-09 15:16] AaronMaxwell commented on #99998
Thanks for your dedication to our documentation. This issue is being triaged by multiple product groups before we comment, and we apologize for the further delay that is expected. Thanks in advance for your understanding as we investigate to provide the most accurate answer and documentation updates.

[2022-11-09 15:16] AaronMaxwell commented on #99774
Thanks for your dedication to our documentation. This issue is being triaged by multiple product groups before we comment, and we apologize for the further delay that is expected. Thanks in advance for your understanding as we investigate to provide the most accurate answer and documentation updates.

[2022-11-09 15:17] long20p commented on #90689
So in globalValidation we can set something like:
[code]
What can be the values of redirectToProvider?

[2022-11-09 15:23] mikhilsanghvi opened #101203 "Documentation for Application gateway Mutual Authentication"
Does the below text from the documentation needs correction?

"Mutual authentication, or client authentication, allows for the Application Gateway to authenticate the client sending requests. _**Usually, only the client is authenticating the Application Gateway**_; mutual authentication allows for both the client and the Application Gateway to authenticate each other."

---
#### Document Details

[2022-11-09 15:24] #101203 closed

[2022-11-09 15:25] nibanks commented on #69477
About what part? The OS is involved in TCP based communication and may use the Don't Fragment bit when doing PMTUD, yes. When it's done in QUIC, the OS isn't necessarily involved in anything more than providing a UDP socket. Then, it's the app layer that's telling the UDP socket to set the Don't Fragment bit.

[2022-11-09 15:26] GeethaThatipatri-MSFT commented on #101161
Thanks, @seesharprun for providing the update,We will proceed to close this issue

[2022-11-09 15:26] #101161 closed

[2022-11-09 15:35] AaronMaxwell commented on #100967
Thanks for your dedication to our documentation. This issue is being triaged by multiple product groups before we comment, and we apologize for the further delay that is expected. Thanks in advance for your understanding as we investigate to provide the most accurate answer and documentation updates.

[2022-11-09 15:38] khdownie commented on #101151
@mlamberty the $gatewaySubnet variable wasn't initialized. I added it to the script:

$gatewaySubnet = "<gateway-subnet-name-here>"

[2022-11-09 15:39] Naveenommi-MSFT commented on #101169
@kevelife

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-09 15:41] Naveenommi-MSFT commented on #101170
@enusan

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-09 15:41] ChaitanyaNaykodi-MSFT commented on #100999
@fabio-s-franco ,

Thank you for reaching out. Can you please let us know which SKU of Linux VM you observed this issue for?

As per the prerequisite section of this document, can you please confirm if you have already taken the required steps?
![image](https://user-images.githubusercontent.com/67453298/200874552-c4cce427-ad56-4450-ab63-50710d718911.png)

[2022-11-09 15:43] AnuragSingh-MSFT commented on #101129
@kongou-ae thank you for reporting this.
@JnHs - could you please review this and share your thoughts. Thank you

[2022-11-09 15:43] Naveenommi-MSFT commented on #101172
@saeedalhamed

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-09 15:47] ChaitanyaNaykodi-MSFT commented on #101086
@jamcguire Thank you for reaching out.

The command `az network bastion rdp --name "<BastionName>" --resource-group "<BastionResourceGroupName>" --target-resource-id "<VMResourceId>"` is supported on AZ CLI native client. I see that you are running these in PowerShell which will not work and the error above is expected.

You can run Az CLI commands using [Azure Cloud Shell](https://learn.microsoft

[2022-11-09 15:47] #101086 closed

[2022-11-09 15:47] Naveenommi-MSFT commented on #101174
@kumarkvk

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-09 15:49] AnuragSingh-MSFT commented on #101139
@iisworks, you can restore logs which would make a specific time range of data in a table available in the hot cache for high-performance queries. Please see this link for more details - [Restore logs in Azure Monitor](https://learn.microsoft.com/en-us/azure/azure-monitor/logs/restore?tabs=api-1)

When you restore data, the specified data from source table is restored to a custom destination table

[2022-11-09 15:51] RobertoPrevato commented on #13558
I am experiencing the same issue. I worked on a PoC using Custom Extensions back in July, and the following command was working:

[code]

where `script-config.json` was a file with the following content (a simple script I was using to test):

[code]

When I run now the same command, I get:

[code]

[2022-11-09 15:54] Naveenommi-MSFT commented on #101179
@MartinParis

Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

@timwarner-msft

Could you please review this and update as appropriate.

[2022-11-09 15:56] Naveenommi-MSFT commented on #101180
@Pulakesh25

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-09 16:01] Naveenommi-MSFT commented on #101183
@kogepanh

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-09 16:03] Naveenommi-MSFT commented on #101186
@mmiliarakis

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-09 16:04] CC-Fleming opened #101204 "Incorrectly listing MySQL"
I believe this page is describing SQL Server and not MySQL - correct?

Sentence in question - "This example queries MySQL using its JDBC driver. "

Also I think the code is incorrect.  If the user just enters the database name - the full URL should result in someting similar to
"jdbc:sqlserver://servernamehere.database.windows.net:1433;databaseName=databasenamehere"     The literal "databaseName"

[2022-11-09 16:06] Naveenommi-MSFT commented on #101188
@M4ttLaNE

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-09 16:07] iisworks commented on #101139
Thank you, I am aware of the temporary restore options but I was actually wondering if it is possible to revert the "Archive" action completely, making both historic and newly added data available in the "Interactive" tier (=roll back)?

[2022-11-09 16:07] jasongroce commented on #101123
#reassign:uridor

[2022-11-09 16:10] jasongroce commented on #101123
@urimsft Can you look at this one?

[2022-11-09 16:11] #98050 closed

[2022-11-09 16:11] M4ttLaNE commented on #101188
Thanks for getting back to me,
I have re-applied the NTFS permissions using icicles today and this time the permissions have worked as expected (I did exactly the same yesterday and no permissions were removed even though the DOS cmd was successful) .   Must be a weird AD sync issue or an issue yesterday in Azure. Its all working properly today.  Sorry to waste your time.
Regards Matthew Lane

Fro

[2022-11-09 16:11] jasongroce commented on #100661
#reassign:amhindma

[2022-11-09 16:25] whhender commented on #101153
Quite right! I'll get that fixed today!

[2022-11-09 16:29] jasongroce commented on #97786
@santhoshb-msft Closing this issue. Feel free to reach out to Dhiraj directly if you want to follow up. Thanks!

[2022-11-09 16:46] khdownie commented on #101151
#please-close

[2022-11-09 16:46] #101151 closed

[2022-11-09 17:00] SvenAelterman opened #101205 "Scaling plan diagnostics appear to support Log Analytics Workspace now"
The doc states that only storage accounts and Event Hubs are supported for scaling plan diagnostics. However, in the Azure Portal, it's possible to configure Log Analytics as the destination for diagnostics.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 263e2cf0-66fe-a5bf-1550-eeb57ecbcc8f
* Version Independent ID: 9

[2022-11-09 17:01] Naveenommi-MSFT commented on #101198
@angelfourth
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-09 17:03] Naveenommi-MSFT commented on #101192
@ManasaDevadas
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-09 17:06] Naveenommi-MSFT commented on #101199
@ajgball
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-09 17:08] olegd-superoffice commented on #101140
@davidsmatlak Will there be separate article about using `dotnet publish`? IMO it is just a part of the same process and usually I use `dotnet publish` in Azure DevOps pipeline to produce zipped packages which then will be used deployed to deploy to Azure in different environments.

[2022-11-09 17:08] SadiqhAhmed-MSFT commented on #101199
@tfitzmac Could you please review this?

[2022-11-09 17:09] mlongoria opened #101206 "Missing info on accessing account admin if the workspace was created by someone not global admin"
This doc says: "The first Azure Databricks account admin must be an Azure Active Directory Global Administrator at the time that they first log in to the Azure Databricks account console. Upon first login, that user becomes an Azure Databricks account admin and no longer needs the Azure Active Directory Global Administrator role to access the Azure Databricks account."

But it provides no informat

[2022-11-09 17:12] Naveenommi-MSFT commented on #101205
@SvenAelterman
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-09 17:13] seesharprun commented on #101196
Thanks @lukegreen001. We will update the header and this issue will auto-close once the update is in our publishing pipeline. You should see the change live soon.

[2022-11-09 17:24] #101196 closed

[2022-11-09 17:30] lon-tierney commented on #93233
I had opened a ticket on this issue, and I do believe it has been resolved as a bug, and since fixed (deployed around September 15, 2022). This was only happening in Data Exfiltration Protected configuration (at least from support reproduction report).

[2022-11-09 17:32] jcoyne-msft commented on #64497
I am posting here to +1 the notion we should be noting the NetBIOS character limit for storage accounts slated for ADDS auth as mentioned above.

[2022-11-09 17:37] lon-tierney commented on #93242
@SnehaGunda while that information is helpful, we found that adding external WHL files often fail with an error stating that the package is unsupported on the platform. I believe (but have no proof) that is due to the packages being built for specific runtimes, such as Linux 32 bit or Linux 64 bit. It would be helpful on the referenced pages above if we listed the underlying platform that the Spar

[2022-11-09 17:51] ben-childs-docusign opened #101207 "Managed Identity Config not documented for connecting self hosted grafana"
When following these directions, just enabling azure_ad_auth does not enable the managed identity option.
Per this doc it looks like there is additional config needed:
https://github.com/grafana/grafana/blob/852d069a3c7558e6943be739c5aec44f4e02f8d0/docs/sources/datasources/azure-monitor/_index.md#configure-managed-identity

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2022-11-09 17:57] ChaitanyaNaykodi-MSFT commented on #101203
@mikhilsanghvi ,
Thank you for reaching out. I see the issue was closed and I assuming the issue was resolved. Please tag me in your response if you have any additional questions. Thank you!

[2022-11-09 17:59] Karishma-Tiwari-MSFT commented on #100995
Please refer to this document for Downloading a Windows VHD from Azure after generalizing the VM :
https://learn.microsoft.com/en-us/azure/virtual-machines/windows/download-vhd?tabs=azure-portal
Post that, you can run DISM on the VHD.

You may also find these docs helpful for the next steps:
https://learn.microsoft.com/en-us/azure/virtual-machines/windows/prepare-for-upload-vhd-image#generalize-a-

[2022-11-09 18:08] Nicholak-MS commented on #100628
Hello @AlexSchwerzmann

Apologies for the delay here as it took quite a while to compile all of the W365 products that are available. I have updated the online table as well as the downloadable CSV. Please let me know if you have any questions.

Thanks
Nick

[2022-11-09 18:08] Nicholak-MS commented on #100628
#please-close

[2022-11-09 18:08] #100628 closed

[2022-11-09 18:13] johnluo92 opened #101210 "It’s"
please change the typos on all pages, especially on Cosmos DB’s learn page. Thanks

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 6b791922-4cff-59b3-ea11-e13d5c55ffe4
* Version Independent ID: d1e2e03c-ad04-f570-b122-c0382ae4bf65
* Content: [Database security - Azure Cosmos DB](https://learn.mic

[2022-11-09 18:18] Nickomang commented on #101088
@stutommi , The certificate renewal process is determined by how your application consumes the secret. In the TLS document you followed, it looks like both scenarios mount the cert secret as a Kubernetes volume and define a SecretProviderClass configured to sync the mounted content as a K8s secret, so following the instructions for enabling autorotation should be sufficient to accomplish your goal

[2022-11-09 18:20] guywi-ms commented on #100217
Thanks for your dedication to our documentation @slavizh !
The link seems to be working now.

#please-close

[2022-11-09 18:20] #100217 closed

[2022-11-09 18:23] sblair01 opened #101211 "TIER-0 router not consumable"
It needs to be crystal clear that the tier-0 router can not be consumed/managed by customers. Many customers are still basing their designs based on being able to manipulate routing functionality at the tier-0. When mentioning Tier-0 in this doc, I would create a note/highlight there.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue lin

[2022-11-09 18:34] jlichwa commented on #101016
Hello @KarlErickson I don't understand your request. From discussions I see this: "There's a default retry strategy ExponentialBackoff under azure-core for each HTTP-based client, in which the max retries is 3, the base delay is 800 milliseconds, the max delay is 5 seconds."

Are you suggesting that above should be used instead? The defaults above does not follow guidelines for our service which i

[2022-11-09 18:36] Rick-Anderson opened #101213 ".NET 7 update: Deploy an ASP.NET web app"
Update to .NET 7

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 64e750b6-a84d-c665-9bb3-167241a33d10
* Version Independent ID: f22f673f-469c-e137-304b-aa92662e0790
* Content: [Quickstart: Deploy an ASP.NET web app - Azure App Service](https://learn.microsoft.com/en-us/azure/app-service/quickstart-dotnetcore?tabs=net60

[2022-11-09 18:42] whhender commented on #101153
Only "Name" is mandatory when defining and attribute. None of the others are mandatory.

You should see those changes later today!

[2022-11-09 18:43] stutommi commented on #101088
Awesome, thanks @Nickomang for insight, wasn't aware aware of that documentation you linked, which in hindsight should've been the first thing for me to read.

I'll try enabling the auto-rotation and follow up with results!

Either way, I think even a small link within the Ingress TLS documentation referring to enabling auto-rotation (and that it might not be enabled by default) could be helpful f

[2022-11-09 18:46] 2fersen commented on #101028
Now its working i just installed the windows update from today!

[2022-11-09 18:53] aaronsgutierrez opened #101217 "update securityprofile fails"
[Enter feedback here]
Hello,

 upon testing the following command does not work within GCC:

For existing VMs, you can enable or disable secure boot and vTPM settings. Updating the virtual machine with secure boot and vTPM settings will trigger auto-reboot.

Azure CLI

az vm update \
   --resource-group myResourceGroup \
   --name myVM \
   --enable-secure-boot true \
   --enable-vtpm true

---

A

[2022-11-09 18:53] whhender commented on #101153
#please-close

[2022-11-09 18:53] #101153 closed

[2022-11-09 19:01] Cricam opened #101218 "Command misspeling."
[Enter feedback here]

The command is
"az devcenter admin devbox-definition list  --dev-center-name  "contoso"  --resource-group "rg"

dev-center-name instead of devcenter-name

slds.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 032e33b5-11fe-3b45-89a2-8062e2a7a2ab
* Version Independent ID: db28072a-95c7-247c-6104-a

[2022-11-09 19:09] JonathanFingold opened #101219 "Steps are out of date with respect to Azure Bot Service"
The create, provision, and publish steps are a bit out of date, specifically the **Create a channel registration** section.

1. Folks now create an Azure Bot resource.
2. They should use the multi-tenant bot type.

For reference, see these articles:

- https://learn.microsoft.com/azure/bot-service/provision-and-publish-a-bot
- https://learn.microsoft.com/azure/bot-service/bot-service-quickstart-cr

[2022-11-09 19:16] Rick-Anderson opened #101221 "SP initiated SSO."
What's SP? Does that MT (machine translate)?

[Top 10 tips for Microsoft style and voice](https://learn.microsoft.com/en-us/style-guide/top-10-tips-style-voice#use-bigger-ideas-fewer-words)

Use bigger ideas, fewer words
Our modern design hinges on crisp minimalism. **_Shorter is always better_**. To learn more, see [Brand voice](https://learn.microsoft.com/en-us/style-guide/brand-voice-above-all-

[2022-11-09 19:23] KarlErickson commented on #101016
@moarychan can you reply? Thanks!

[2022-11-09 19:33] seesharprun commented on #101210
@johluo92, we are going through a content freshness exercise this year and next to look at every article in the Azure Cosmos DB documentation on Learn for accuracy, editing, and freshness. This effort just kicked off this month and there are hundreds of articles to check!

We also have another team that's looking at the Learn training modules to update that content to be accurate.

Thanks for the

[2022-11-09 19:40] Klaas- commented on #99504
@roygara so it got this fixed another way, the hyperv linux kernel people found the issue: https://lore.kernel.org/linux-hyperv/1668019722-1983-1-git-send-email-mikelley@microsoft.com/T/#u , so it'll be fixed in new linuxes as soon as it's merged, I'll request backports to rhel8/9.

[2022-11-09 19:49] Klaas- commented on #96290
@SreejaBhattacharya-MSFT @msmbaldwin  any updates here?

[2022-11-09 20:06] #101037 closed

[2022-11-09 20:37] spelluru commented on #101012
@JWEthernet - could you please give us more details about the issue? I am looking at the article you commented on and I can't figure out what the issue is about. Thanks in advance.

[2022-11-09 20:43] jfggdl commented on #95907
@XIBRIGHT, I am the Event Grid Product Manager.  Thank you for your feedback. We want to have documentation that is understandable to everyone. Would you please provide more details as to what aspect of the function of Event Grid was not clear? The first sentence in the overview article reads "Event Grid is a highly scalable, serverless event broker that you can use to integrate applications using

[2022-11-09 20:54] MGoedtel commented on #99996
I've completed my edit of this article and reworked the intent to where the article is about the migration scenarios and how to migrate based on your use case. It went live yesterday.

I'm optimistic it addresses your concerns and point of view.

#please-close

[2022-11-09 20:54] #99996 closed

[2022-11-09 21:11] mbender-ms commented on #101125
Thanks for the feedback @marion-msft.

I'll take this to the product group and work on getting an update to the chart.

[2022-11-09 21:20] mbender-ms commented on #100957
Thanks for the feedback, @mbrat2005.

I'm currently reviewing this and will make updates to the docs as appropriate.

[2022-11-09 21:48] newsrpc opened #101225 "Google Sign in for Groups or Organisations"
Hi there,

There has now been some recent changes in the Google side where you can add user groups to have Third party SSO profiles.

You can now create SSO Profiles Assignments which allows you to move users over in stages so you don't move the whole company all in one go.

In this area you are given SP details with an Entity ID and ACS URL which you will now need to add into Azure Apps for reply

[2022-11-09 21:51] Cricam opened #101226 "mistake az cli command --dev-center-name"
[Enter feedback here]

In
Dev Box Definition
List Dev Box Definitions in a DevCenter
Code

The command is
"az devcenter admin devbox-definition list  --dev-center-name  "contoso"  --resource-group "rg"

"--dev-center-name" instead of "--devcenter-name"

slds.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 032e33b5-11f

[2022-11-09 23:15] spelluru commented on #101162
@MartinJPalmer  - Thanks for the feedback and apologize for the inconvenience. There was a recent change (of adding passwordless option) to the quickstart.

I have updated the quickstart so that the **Connection String** option (tab) is the default one, which is much easier to follow than the **Passswordless** option.

#please-close

[2022-11-09 23:15] #101162 closed

[2022-11-09 23:27] slynickel commented on #87926
This is the list we currently see split out but what is currently documented and what is not.

## Documented
* To send audit logs to the Log Analytics workspace, select the `AuditLogs` check box.
* To send sign-in logs to the Log Analytics workspace, select the `SignInLogs` check box.
* To send non-interactive user sign-in logs to the Log Analytics workspace, select the `NonInteractiveUserSignInLo

[2022-11-09 23:42] jeffl2022 commented on #86245
It's been over a year.  Can't you just run the old test and publish it?  Then you can 'reevaluate' how you do ACU and redo them all on your own time in the future.

see 84037, Nov 2021.  https://github.com/MicrosoftDocs/azure-docs/issues/84037

[2022-11-09 23:44] jeffl2022 opened #101228 "ACU of the v5 generation VMs"
It's been over a year. Can't you just run the old test and publish it? Then you can 'reevaluate' how you do ACU and redo them all on your own time in the future.

see 84037, Nov 2021. https://github.com/MicrosoftDocs/azure-docs/issues/84037
and
86245 https://github.com/MicrosoftDocs/azure-docs/issues/86245

Document Details
⚠ Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2022-11-10 00:18] PatAltimore commented on #98541
Hi @miniGweek ,

Thanks for the feedback. Sorry for the late reply. I'm working on an update to this article and have addressed the issue as part of the update. As Koichi mentioned in https://github.com/microsoft/vs-azure-iot-edge-docs/issues/43, you'll need to manually update the deployment manifest as explained in the VS Code article https://learn.microsoft.com/en-us/azure/iot-edge/how-to-vs-cod

[2022-11-10 00:18] #98541 closed

[2022-11-10 00:24] NZKobra commented on #85021
I've been running into this issue and have been trying to figure it out for a while now.
No matter what I do, I cannot seem to get any `acr`, `amr`, or related claims from the id tokens retrieved via the V2 endpoints.
Even manually adding the acr optional claim via the manifest (as @nickludwig suggested) doesn't work for me.

It seems absurd to me that the Microsoft docs are pushing everyone to sw

[2022-11-10 00:25] AbdullahBell commented on #18399
#please-close

[2022-11-10 00:25] #18399 closed

[2022-11-10 00:32] meduri99 opened #101231 "Why not display roles needed for any technical walkthrough?"
This is just a sample page I am referring to here, to explain how the help section can be more effective.
When we want to try something explained on any page, it will be excellent to see a para on what all the roles are needed to replicate the item shown in that page.

Example - you need X, Y, Z roles to try this on Azure portal.

Like the ingredients of a recipe, this will make us check with our

[2022-11-10 00:39] garthoid opened #101232 "Network Section does not clearly talk about IP Firewall for Managed DBs"
In NS section (https://learn.microsoft.com/en-us/security/benchmark/azure/baselines/sql-database-security-baseline#network-security) spends a lot of time telling us what an Azure SQL Managed database cannot be protected with. However, not a lot of time is spent on the built in IP firewall.

Yet, in PV-1 (https://learn.microsoft.com/en-us/security/benchmark/azure/baselines/sql-database-security-bas

[2022-11-10 00:46] nagasandeepMSFT opened #101233 "Please include to update Reply URL's in Azure AD portal"
[Enter feedback here]

This document is more for developers. When Developers are testing their applications locally they are in need to use localhost addresses in reply URL's.
So developers are thinking that Reply URL's need to update on App Service Authentication Settings like shown below.
![image](https://user-images.githubusercontent.com/25488633/200972566-0a107119-54a1-42c3-9678-386e8b14f2ef.p

[2022-11-10 01:04] jingwora opened #101234 "Error during deploy"
I have followed below tutorial.
https://learn.microsoft.com/en-us/azure/machine-learning/tutorial-power-bi-custom-model
During the deployment in last code there is an error below.
How should I fix it?

`service_name = 'my-diabetes-model-2022-11-10'

service = Model.deploy(ws, service_name, [model], inference_config, overwrite=True)
service.wait_for_deployment(show_output=True)`

Tips: You can try

[2022-11-10 01:20] Tsuchiya-Hayato opened #101235 "Pre-copy Script doesn't work in ADF tutorial"
[Enter feedback here]
I followed the tutorial and set it up.
the problem point is at [Create the pipeline IterateAndCopySQLTables, g. Click the Pre-copy Script input box -> select the Add dynamic content below -> enter the following expression as script -> select Finish.]
 (url : https://learn.microsoft.com/en-us/azure/data-factory/tutorial-bulk-copy-portal#create-the-pipeline-iterateandcopysqltab

[2022-11-10 01:39] ssabat commented on #100003
@yutaro113 thanks for feedback. What second link talks about is about processing steps. Data never gets stored locally. Data is persisted into sink only. Azure Data Factory including Azure Integration Runtime and Self-hosted Integration Runtime does not store any temporary data, cache data or logs except for linked service credentials for cloud data stores, which are encrypted by using certificate

[2022-11-10 01:39] #100003 closed

[2022-11-10 01:44] ssabat commented on #97085
@erwinkramer Same integration runtime aka self hosted integration runtime, is used by ADF, Synapse Pipeline and Purview. Purview uses it for scanning while ADF and Synapse Pipeline uses for Copy tasks.

#please-close

[2022-11-10 01:44] #97085 closed

[2022-11-10 02:51] moarychan commented on #101016
This is a default behavior for the Azure SDK level, @KarlErickson could you help involve the SDK team member to explain more details?

I have updated the MS reference doc for the Spring Cloud Azure configuration part, added [configuration examples](https://learn.microsoft.com/en-us/azure/developer/java/spring-framework/spring-cloud-azure?tabs=maven#configuration-examples), we will keep adding more

[2022-11-10 02:55] jlichwa commented on #101016
@moarychan we understand if it is default behavior but it is not how our service behave today. Key Vault throttling is using 10 seconds blocks, so that is why our service requires extended exponential back-off which we had described in our guidelines.

I'm dev experience PM for Key Vault driving SDK team the code snippet is coming from our SDK team.

[2022-11-10 03:19] jingwora commented on #101234
I have checked.
It is due to Authorization setting.

[2022-11-10 03:19] #101234 closed

[2022-11-10 03:22] moarychan commented on #101016
Thanks @jlichwa
Sorry, I'm not too familiar with the behavior of the service, but any code snippets are welcome, could you please add more descriptions in this article [recommends exponential back-off and retry](https://docs.microsoft.com/en-us/azure/key-vault/general/overview-throttling#how-to-throttle-your-app-in-response-to-service-limits) to make the doc clear for customers?

[2022-11-10 03:41] VikasPullagura-MSFT commented on #101217
@aaronsgutierrez
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-11-10 03:41] VikasPullagura-MSFT commented on #101217
@lakmeedee
Can you please check and add your comments on this doc update request as applicable.

[2022-11-10 03:42] rybouc opened #101236 "Video link needed"
The document says "as seen in this video" but it's picture, not an actual video in the content.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: f0a68b6f-2d2c-cf28-7a46-e8a6b0c029c9
* Version Independent ID: 7c1193e5-c697-5000-71c4-7e1498b80afe
* Content: [Use Azure Data Lake Tools for Visual Studio Code](https://learn.

[2022-11-10 03:42] VikasPullagura-MSFT commented on #101211
@sblair01
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-11-10 03:44] VikasPullagura-MSFT commented on #101211
@jjaygbay1
Can you please check and add your comments on this doc update request as applicable.

I am not able to assign this to @Ajayan1008 as it is not showing up under assignments. If you are not the right person for this doc update, requesting your reassign accordingly.

[2022-11-10 03:45] RolandlinAKS opened #101237 "Test egress from a container group does not return firewall public IP"
[Enter feedback here]
We are following the instruction to create a lab environment. The container group and firewall are all successfully deployed, however there is an issue to verify the egress traffic.
https://learn.microsoft.com/en-us/azure/container-instances/container-instances-egress-ip-address#test-egress-from-a-container-group

We create the 'testegress' container group and it will run 'cu

[2022-11-10 03:48] VikasPullagura-MSFT commented on #101237
@RolandlinAKS
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-11-10 03:49] VikasPullagura-MSFT commented on #101237
@tomvcassidy
Can you please check and add your comments on this doc update request as applicable.

[2022-11-10 04:00] SaibabaBalapur-MSFT commented on #101207
@ben-childs-docusign
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-10 04:02] SaibabaBalapur-MSFT commented on #101213
@Rick-Anderson
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-10 04:04] SaibabaBalapur-MSFT commented on #101218
@Cricam
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

[2022-11-10 04:06] SaibabaBalapur-MSFT commented on #101219
@JonathanFingold
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-10 04:08] SaibabaBalapur-MSFT commented on #101221
@Rick-Anderson
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-10 04:09] SaibabaBalapur-MSFT commented on #101225
@newsrpc
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-10 04:11] SaibabaBalapur-MSFT commented on #101226
@Cricam
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-10 04:12] SwathiDhanwada-MSFT commented on #101107
@himachida Thanks for your feedback. We've created an internal work item to incorporate your suggestions. We are closing this issue for now, but feel free to comment here as necessary.

[2022-11-10 04:12] #101107 closed

[2022-11-10 04:12] SaibabaBalapur-MSFT commented on #101226
Duplicate of #101218

[2022-11-10 04:15] SaibabaBalapur-MSFT commented on #101228
@jeffl2022
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-10 04:17] SaibabaBalapur-MSFT commented on #101231
@meduri99
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-10 04:19] SaibabaBalapur-MSFT commented on #101232
@garthoid
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-10 04:20] SaibabaBalapur-MSFT commented on #101233
@nagasandeepMSFT
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-10 04:22] SaibabaBalapur-MSFT commented on #101235
@Tsuchiya-Hayato
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-10 04:23] georgeOsdDev opened #101239 "Add document about platform type"
[Enter feedback here]

App Service for Container will run image on x86_64 platform.
Thus if user built docker image on M1/M2(Apple silicon) Mac and deploy it to App Service, it will be fail due to `exec format error`.
It is better to add document about platform type.
Or workaround for M1/M2 Mac user to use `docker build` command with `--platform` option

For example ACA explicitly describes.

http

[2022-11-10 04:24] SaibabaBalapur-MSFT commented on #101236
@rybouc
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-10 04:25] SaibabaBalapur-MSFT commented on #101239
@georgeOsdDev
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-10 04:26] AjayBathini-MSFT commented on #101174
Hi @kumarkvk

Thank you for your feedback!
Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request] (https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our Q&A forum by posting your issue

[2022-11-10 04:26] #101174 closed

[2022-11-10 04:27] petehauge commented on #100226
Hi @bartvermeersch - I just gave this a try and it appears to be working for me.  I deployed a Lab Plan using an ARM template, see below.

I would guess that maybe the Azure Lab Services resource provider isn't registered in the subscription containing the subnet?  The doc for that is here: https://learn.microsoft.com/en-us/azure/azure-resource-manager/management/resource-providers-and-types#regis

[2022-11-10 04:28] AjayBathini-MSFT commented on #101188
@M4ttLaNE

Thanks for clarification!

We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-11-10 04:28] #101188 closed

[2022-11-10 04:31] AjayBathini-MSFT commented on #101088
@stutommi
Thanks for clarification.

@Nickomang
Thank you for the inputs and contribution.

[2022-11-10 04:34] AjayBathini-MSFT commented on #101228
@mimckitt
Can you please check and add your comments on this update request as applicable.

[2022-11-10 04:36] #101079 closed

[2022-11-10 04:39] ManoharLakkoju-MSFT commented on #101186
@mmiliarakis
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

[2022-11-10 04:40] ManoharLakkoju-MSFT commented on #101186
@roygara
Can you please check and add your comments on this doc update request as applicable.

[2022-11-10 04:54] ManoharLakkoju-MSFT opened #101240 "Below link is getting 404 error"
https://learn.microsoft.com/en-us/cli/azure/security/pricing.md#az-security-pricing-create.md
<img width="467" alt="image" src="https://user-images.githubusercontent.com/110587558/201003898-5446ec72-b93c-48f2-8141-112f6ed2513c.png">

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 2b92c195-c670-2e27-2422-fd131586bdd7
*

[2022-11-10 04:56] ManoharLakkoju-MSFT commented on #101240
@bmansheim
Can you please check and add your comments on this doc update request as applicable.

[2022-11-10 04:57] ManoharLakkoju-MSFT commented on #101169
@kevelife
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

[2022-11-10 04:58] ManoharLakkoju-MSFT commented on #101169
@bmansheim
Can you please check and add your comments on this doc update request as applicable.

[2022-11-10 05:02] ManoharLakkoju-MSFT commented on #101221
@Rick-Anderson
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

[2022-11-10 05:02] ManoharLakkoju-MSFT commented on #101221
@jeevansd
Can you please check and add your comments on this doc update request as applicable.

[2022-11-10 05:08] SaibabaBalapur-MSFT commented on #101149
@mtrmmsoftware
I'm going to assign this to the document author so they can take a look at it accordingly.

@tomvcassidy
Can you please check and add your comments on this doc update request as applicable.

[2022-11-10 05:12] SaibabaBalapur-MSFT commented on #101152
@lukevander
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

@MicrosoftGuyJFlo
Can you please check and add your comments on this doc update request as applicable.

[2022-11-10 05:19] #101158 closed

[2022-11-10 05:25] SaibabaBalapur-MSFT commented on #101193
@ChuckSnow-DSG
Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request] (https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our Q&A forum by posting your issue there so our community, and

[2022-11-10 05:27] SaibabaBalapur-MSFT commented on #101226
@Cricam
Closing as Duplicate of #101218
https://github.com/MicrosoftDocs/azure-docs/issues/101218

[2022-11-10 05:27] #101226 closed

[2022-11-10 05:30] SaibabaBalapur-MSFT commented on #101233
@nagasandeepMSFT
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

@madansr7
Can you please check and add your comments on this doc update request as applicable.

[2022-11-10 05:38] hkusulja opened #101241 "No SAML download button"
Hello,
please fix documentation, when using browser extension, there is no anywhere "download SAML request/response" button

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: ba6c47fe-8ee0-cf71-9582-9404f400aeb9
* Version Independent ID: 384c74ce-0bb4-9e96-3c7f-6d5a67243a2b
* Content: [Debug SAML-based single sign-on - Mi

[2022-11-10 05:46] SaibabaBalapur-MSFT commented on #101241
@hkusulja
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-10 06:04] erwinkramer commented on #97085
@ssabat the document doesn't seem to be updated according to yourbaswe.

[2022-11-10 06:16] shaktisingh-msft commented on #101232
Hi @msmbaldwin,

Could you please look into this question. Thank you

[2022-11-10 06:17] YashikaTyagi-MSFT commented on #101057
@pizang
It makes sense that "All applications also include Managed Identities".
@AllisonAm kindly provide your input.

[2022-11-10 06:18] wadepickett commented on #100885
@aulong-msft,  I am not the manager nor the author for this topic.  It does appear that someone thought I was and assigned my name as author and manager.  Do you happen to know what manager owns this content area now for Active Directory?

I did touch this topic years ago once as part of a large meta data update sweep.  So maybe that is why.

[2022-11-10 06:21] jeromelearner opened #101244 "This page is for disable VM Insights, but it's under Application Insights section"
[Enter feedback here]
This page is for disable VM Insights, but it's under Application Insights section

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 883a8ca1-9350-187e-fac6-da44aae71bb3
* Version Independent ID: e7aef7b2-1bd9-260c-9d02-8dc3af5e4c75
* Content: [Disable monitoring in VM insights - Azure Monitor](https

[2022-11-10 06:30] AdamGuan13 opened #101245 "There are some error links."
Some links is error.

404 error: --> https://mcr.microsoft.com/dotnet/aspnet:3.1-nanoserver-1809
404 error: --> https://mcr.microsoft.com/dotnet/aspnet:3.1-nanoserver-ltsc2022
404 error: --> https://mcr.microsoft.com/dotnet/aspnet:6.0-nanoserver-1809
404 error: --> https://mcr.microsoft.com/dotnet/aspnet:6.0-nanoserver-ltsc2022
404 error: --> https://mcr.microsoft.com/dotnet/framework/aspnet:4.8-w

[2022-11-10 06:45] Naveenommi-MSFT commented on #101204
Hi @CC-Fleming

Thanks for reporting this! We have created a PR for this issue and the changes should go live soon.

[2022-11-10 07:28] kungfudante opened #101247 "WAF is no longer supported on CDN"
As titled, we cannot select CDN while creating WAF policy.
![image](https://user-images.githubusercontent.com/106713170/201026877-3685b8d7-d1b9-4303-bc96-a3ac1e65172c.png)

Please correct all the related articles to avoid misguiding our customer.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 3b9c5b69-edba-541d-1259-1

[2022-11-10 08:03] FreBon opened #101248 "Missing curly bracket in connection example for Knowledge store"
The example for the connection string when using Knowldege store is missing one curly bracket at the start of "storage-account-name":

`"knowledgeStore": {
  "storageConnectionString": "ResourceId=/subscriptions/{subscription-ID}/resourceGroups/{resource-group-name}/providers/Microsoft.Storage/storageAccounts/storage-account-name};",`

---
#### Document Details

⚠ *Do not edit this section. It is

[2022-11-10 08:19] rolyhudson commented on #101098
It appears reckless to close this so quickly and assume this is not due to out dated or incorrect documentation.
Providing links to help on Teams suggests the information in the Document Details has not been reviewed.
Not very helpful support for those trying to learn Azure Stream Analytics job in Visual Studio Code.

[2022-11-10 08:47] SwathiDhanwada-MSFT commented on #101207
@ben-childs-docusign Thanks for your feedback.

Assigning to content author @bwren   for review.

[2022-11-10 08:54] iamdruid opened #101251 "Typo STEP 2"
STEP 2 says "The container inside workspace1..."
Should say "The container inside storage1..."

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 1149f92f-5b95-7b27-5525-db4f792d7937
* Version Independent ID: 60242818-539c-6e91-7dc8-222ccc383574
* Content: [Access control in Synapse workspace how to - Azure Synapse Analyt

[2022-11-10 08:58] KapilAnanth-MSFT commented on #101247
@kungfudante , Thanks for your feedback. We shall review this and get back to you shortly

[2022-11-10 09:20] RonH1111 opened #101252 "Azure ADConnect page not up to date."
I click on latest versions, see a link to Microsoft Download Center and Release notes for the latest V2.0 release.
I click on Download and see the latest version you can download is version 2.1.20.0
But when I click on Release notes it jumps to version 2.0.28.0.
So, I scroll up to find release notes about 2.1.20.0, they aren't there? It stops at 2.1.19.0.

---
#### Document Details

⚠ *Do not edit

[2022-11-10 09:22] Willem-J-an opened #101253 "Secure webhook segment poorly written and unclear"
The segment explaining Secure Webhook does not really explain what it is or how it works; it only describes how to make it work, by providing a powershell script.

After reading this a million times I think I have reverse engineered this segment enough to understand what it is:
A secure webhook forwards the alert to a webhook endpoint protected by Azure AD.

**As I understand it, this is the main

[2022-11-10 09:42] bmansheim commented on #101240
@ManoharLakkoju-MSFT This fix should be published later today. Thanks for pointing it out!

[2022-11-10 09:44] bmansheim commented on #101240
#please-close

[2022-11-10 09:44] #101240 closed

[2022-11-10 09:48] shsagir commented on #100920
@liute110  In the URL you pasted above, you have additional characters (*%60*) after .csv: https://kustosamples.blob.core.windows.net/samplefiles/StormEvents.csv*%60*

Please use the correct URL as specified in the docs: https://kustosamples.blob.core.windows.net/samplefiles/StormEvents.csv

Thx

#please-close

[2022-11-10 09:48] #100920 closed

[2022-11-10 09:49] bmansheim commented on #101105
@assign: @ElazarK

[2022-11-10 09:51] #99972 closed

[2022-11-10 09:57] Hans-AAB opened #101255 "Why does App Service Plan get less discount for Dev/Test subscriptions for both RI and Savings Plan? For dev/test subscriptions the pay as you go pricing for both Windows and Linux is equal. For the Linux App Service Plan there is a reduced discount compared to the Enterprice offering. Though the Windows App Service Plan do get 0% disount, while this is the same compute. So actually, these are two related question on App Service Plan for Dev/Test subscriptions."
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2022-11-10 10:12] pwragg commented on #100996
The person in charge our our Azure configuration has re-looked at this and sorted it so don't think any further updates are actually required after all - thanks

[2022-11-10 10:12] #100996 closed

[2022-11-10 10:13] dknappettmsft commented on #63580
Thanks for the feedback, and sorry for the delay - this RBAC role isn't just used by a global admin to elevate access to all subscriptions and management groups, as per the article you linked. While it can be used for that, in this case you don't use that process in the directory to toggle that switch.  Like other RBAC roles, User Access Management can be assigned to a subscription, resource group

[2022-11-10 10:13] #63580 closed

[2022-11-10 10:23] bartvermeersch commented on #100226
Hi @petehauge thank you!

Microsoft.LabServices wasn't registered in the other subscription. I'll check the entire deployment again after the weekend and let you know if it is solved.

It would be helpful if it is stated as a requirement or surfaced in the error message.

This seems a relevant discussion as well for this issue: https://github.com/Azure/bicep/issues/3267

[2022-11-10 10:27] enpiri opened #101256 "OWASP 3.1 rulesets is missing rule 200002"
OWASP 3.1 rulesets is missing rule 200002

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 079888f6-188c-1bb9-0516-bd52ad0f287e
* Version Independent ID: 1971c541-4019-f620-b57b-8cfd5acf87a1
* Content: [CRS rule groups and rules - Azure Web Application Firewall](https://learn.microsoft.com/en-us/azure/web-application-fi

[2022-11-10 10:41] GitaraniSharma-MSFT commented on #101256
@enpiri , thank you for your feedback. We'll investigate this and get back to you shortly!

[2022-11-10 10:51] AnuragSingh-MSFT commented on #101030
@yohny, thank you again for reporting it. I got an update from the GitHub repo team that the doc update is in works and would be applied to the referenced .md file soon.
We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2022-11-10 10:51] #101030 closed

[2022-11-10 10:55] HarikrishnaChilukurthi opened #101258 "Issue while reading Marketo data using ADF"
Hi,

I'm not able to extract data from Marketo source for large tables. I have a table where data is almost 30M. I'm using copy activity to read data. But it almost ran for 8hrs and then failed with issues as 'Failure happened on source side. next page token is not valid.'

I tried to limit data for only 1 row having a filter on unique key. But even then it is going into some kind to loop. From lo

[2022-11-10 10:55] AnuragSingh-MSFT commented on #101102
@brsteel, thank you for the details.
It appears that some of the content (probably screenshots/images) are missing in the comments above as it seems to have been sent via email. Also, please let me know if there are any pending questions for me regarding this issue.

[2022-11-10 10:56] jjmurre opened #101259 "Deployment to azure crashes on logging"
This is the traceback:

2022-11-10T10:51:56  Welcome, you are now connected to log-streaming service.
Exception in thread Thread-1 (_get_log):
Traceback (most recent call last):
  File "/opt/az/lib/python3.10/site-packages/urllib3/response.py", line 697, in _update_chunk_length
    self.chunk_left = int(line, 16)
ValueError: invalid literal for int() with base 16: b''

During handling of the above

[2022-11-10 10:57] AnuragSingh-MSFT commented on #101139
@iisworks, thank you for reply. No, it is not possible as of now to revert the archive action completely.
Please let me know if you have any questions.

[2022-11-10 11:04] SaibabaBalapur-MSFT commented on #101180
@Pulakesh25
I'm going to assign this to the document author so they can take a look at it accordingly.

@KimForss
Can you please check and add your comments on this doc update request as applicable.

[2022-11-10 11:07] SaibabaBalapur-MSFT commented on #101251
@iamdruid
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-10 11:10] SaibabaBalapur-MSFT commented on #101234
@jingwora
this thread as resolved by customer.

[2022-11-10 11:19] Alex-Zicaro opened #101260 "test"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 535cb7a2-f177-7ba0-bb06-25bc540d9055
* Version Independent ID: 5e79865e-3d8d-3f7f-cae4-2670b408870f
* Content: [OAUTH 2.0 authentication with Azure Active Directory - Microsoft Entra](https://learn.microsoft.com/en-us/azure/active-directory/fundament

[2022-11-10 11:39] iisworks commented on #101139
@AnuragSingh-MSFT  Thanks, that answers my question!
It might be useful to explicitly mention this in the docs as well.

[2022-11-10 11:47] SnehaAgrawal-MSFT commented on #101248
@FreBon Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-11-10 11:49] 1u0n commented on #56017
weird that this hasn't been mentioned: instead of going through the hassle of registering your client on the rest api, you can use `az rest`

[code]

You just need to:

* encode the whole customData file contents into Base64
* replace {group-name} and {vmss-name} with the right values. `az rest`will replace {subscriptionId} automatically

[2022-11-10 11:59] RamanathanChinnappan-MSFT commented on #100924
@PMLIO

Author provided the solution for this case kindly refer it

in main.cmd file, there are 'your-dns-server-ip1 your-dns-server-ip2', replace them with your dns server ips

[2022-11-10 12:09] SadiqhAhmed-MSFT commented on #101231
@AaronMaxwell Please review the feedback and comment on the same.

[2022-11-10 12:37] jan-hudec opened #101261 "Missing `resource` parameter from the description of request to token endpoint."
The required parameter `resource` is missing from the description of the request to the token endpoint. The same in the other workflows where it is required. But it is clearly required; omitting it results in error saying so.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: b3eac288-4ddd-1099-1c86-885aa42a566f
* Version

[2022-11-10 13:17] SnehaAgrawal-MSFT commented on #100965
@DaemonWalker Could you please confirm if you are using ASE? As mentioned in the document "private DNS zone is only supported on Internal Load Balancer (ILB) App Service Environment (ASE)."

[2022-11-10 13:30] mbender-ms commented on #100957
Doc update with PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/217840

#please-close

[2022-11-10 13:30] #100957 closed

[2022-11-10 13:51] karl-petter-sj opened #101264 "No NFS service tag"
According to https://learn.microsoft.com/en-us/azure/virtual-network/service-tags-overview there exists no NFS service tag but the table for after January 13, 2020 list that for the two last rules. Remove rows or replace with correct information.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 93bd5c16-e0ec-5064-9bc0-1

[2022-11-10 13:57] ElazarK commented on #101105
Hi @guverduz I tested this on my environment and was able to apply a fix to both a Linux and Windows recommendation for more than 1 recommendation.

[2022-11-10 13:57] porrascarlos802018 opened #101265 "Document clarification required in regards to supported state of the aks as requirement."
Please clarify in the document,  the AKS cluster is required to be in supported version and even patch version, for the auto upgrade to work.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 55f2d3c5-04fe-9f60-e927-e0afdc1c3ac5
* Version Independent ID: 04cc17af-4291-6d3b-ea30-dbceddfdec2c
* Conte

[2022-11-10 13:58] ElazarK commented on #101105
#please-close

[2022-11-10 13:58] #101105 closed

[2022-11-10 14:07] csmulligan commented on #96638
@Wibusts thanks so much for this suggestion. I've moved this issue to an internal work item for tracking. I'll update this thread once I have any news on this item.

[2022-11-10 14:15] ChaitanyaNaykodi-MSFT commented on #100999
@fabio-s-franco
Just following up here, can you provide the information requested above? Thank you!

[2022-11-10 14:28] GitaraniSharma-MSFT commented on #101148
@skywalker45 , you create the username and password when creating a Virtual Machine.
And use the same username and password when connecting to that specific VM via Bastion.

<img width="463" alt="image" src="https://user-images.githubusercontent.com/67630903/201117568-fe24f503-7be1-41f0-92e1-4d67cf369865.png">

Refer : https://learn.microsoft.com/en-us/azure/bastion/tutorial-create-host-portal#pre

[2022-11-10 14:28] #101148 closed

[2022-11-10 14:40] timwarner-msft commented on #101179
Thanks @MartinParis. I'll pass your feedback on to the Azure Policy engineering team. Kindest regards, Tim

[2022-11-10 14:40] timwarner-msft commented on #101179
#please-close

[2022-11-10 14:44] stutommi commented on #101088
Hey again,

Verifying here now, running
[code]
enabled the rotation, and ingress certificate got quickly renewed within the AKS. :)

Big thanks again!

[2022-11-10 14:52] jpdfr-msft opened #101267 "Exhaustivity and precision of the "Supporting services" table"
Is the "Supporting Services" table exhaustive in term of CMK usage ?

Also, some clarification and correction about which services can use CMK with AKV Managed HSM should be made:
i.e. Azure Monitor Log Analytics is supporting CMK with Managed HSM (https://learn.microsoft.com/en-us/azure/azure-monitor/logs/customer-managed-keys?tabs=portal).

Kind regards

---
#### Document Details

⚠ *Do not edit

[2022-11-10 15:05] SaibabaBalapur-MSFT commented on #101244
@jeromelearner
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-10 15:06] SaibabaBalapur-MSFT commented on #101252
@RonH1111
Thanks for your feedback! We will investigate and update as appropriate.

Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team

[2022-11-10 15:11] RonH1111 commented on #101252
I went to the page to copy the URL, to see it's already updated. Maybe I was too quick?
Anyway, this was the URL: https://learn.microsoft.com/en-us/azure/active-directory/hybrid/reference-connect-version-history#21200

[2022-11-10 15:20] SaibabaBalapur-MSFT commented on #101253
@Willem-J-an
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-10 15:21] timwebster9 opened #101269 "Ruleset and VNet limits"
I'm a bit confused on how many forwarding rules are supported.

This page says you can have up to 1,000 rules per ruleset: https://learn.microsoft.com/en-us/azure/dns/dns-private-resolver-overview#dns-forwarding-rulesets

However the limits state that you can only have 25 rules per ruleset, and 2 rulesets per endpoint: https://learn.microsoft.com/en-us/azure/dns/dns-faq#what-are-the-usage-limits-f

[2022-11-10 15:22] SaibabaBalapur-MSFT commented on #101255
@Hans-AAB
Thanks for your feedback! We will investigate and update as appropriate.

Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team

[2022-11-10 15:38] Hans-AAB commented on #101255
Hi Saibaba,
The information is in the Azure Calculator. https://azure.microsoft.com/en-us/pricing/calculator/

Kind regards,
Hans

From: Saibaba Balapur Hireka ***@***.***>
Sent: donderdag 10 november 2022 16:23
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Hans de Kruif ***@***.***>; Mention ***@***.***>
Subject: [External] Re: [MicrosoftDocs/azure-docs] Why does App Service Plan get less discoun

[2022-11-10 15:38] ulkeba opened #101270 "Clarify 'inheritance' of attributes and properties for group nesting -- Follow-Up"
Following up on #99271, I was wondering if it would also make sense to remove the usage of 'inherit' from following sentences:

and

I think that would make sense to ensure consistency and avoid irritation.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: d8e8f086-fb5c-4fe3-10d3-cf6c5557559d
* Version Independent ID: 31

[2022-11-10 15:38] SaibabaBalapur-MSFT commented on #101258
@HarikrishnaChilukurthi
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-10 15:41] SaibabaBalapur-MSFT commented on #101259
@jjmurre
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-10 15:43] SaibabaBalapur-MSFT commented on #101260
@Alex-Zicaro
Thanks for your feedback! We will investigate and update as appropriate.

We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-11-10 15:43] #101260 closed

[2022-11-10 15:44] SaibabaBalapur-MSFT commented on #101261
@jan-hudec
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-10 15:45] SaibabaBalapur-MSFT commented on #101264
@karl-petter-sj
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-10 15:47] SaibabaBalapur-MSFT commented on #101265
@porrascarlos802018
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-10 15:49] SaibabaBalapur-MSFT commented on #101267
@jpdfr-msft
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-10 15:49] ChaitanyaNaykodi-MSFT commented on #101003
@peterzhang718,

Thank you for your feedback, I have made a PR to address this issue and it is currently under doc-author's review. We will now proceed to close this issue out. Please tag me in your response if you have any additional questions. Thank you!

[2022-11-10 15:49] #101003 closed

[2022-11-10 15:55] otravers opened #101271 "What about Azure Automation?"
I think it belongs in your comparison:
https://learn.microsoft.com/en-us/azure/automation/overview

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 82ee9751-961d-7109-63d6-813b1862c632
* Version Independent ID: 583d1b2f-9c1a-3580-9d14-37bb551eaf44
* Content: [Integration and automation platform options in Azure](https:/

[2022-11-10 15:57] SaibabaBalapur-MSFT commented on #101271
@otravers
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-10 16:01] SaibabaBalapur-MSFT commented on #101252
@RonH1111
Thank you for providing URL.

[2022-11-10 16:17] rohoffgit commented on #92352
Hi, seems, the issue has not been fixed. Links on Data Map still do not work. Why is it closed? br, Robert
![image](https://user-images.githubusercontent.com/105487022/201149232-bd4f5782-8dfd-4328-9972-3f3a71d56ad4.png)

[2022-11-10 16:24] MarkMcTernan opened #101272 "Maybe a doc mentioning a new policy that blocks "Domain Fronting" could throw a sentence or two as to what Domain Fronting is and the ramifications of how it can be abused?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: f7be424c-f540-a753-6ecc-6ff3913368d5
* Version Independent ID: dc80b25f-374d-8775-16e7-ae7d57b4b94f
* Content: [Azure Front Door - Frequently asked questions](https://learn.microsoft.com/en-us/azure/frontdoor/front-door-faq#how-does-front-door-handle

[2022-11-10 16:43] VerusLee commented on #99941
Hi Duong,

As you can see the *.teams.microsoft.com will be resolved as a front door IP.

Refer to:

Download Azure IP Ranges and Service Tags – Public Cloud from Official Microsoft Download Center <https://www.microsoft.com/en-us/download/confirmation.aspx?id=56519>

But we confirmed that Expressroute doesn’t support Azure Frontdoor.

See doc below:

FAQ - Azure ExpressRoute | Microsoft Learn <ht

[2022-11-10 16:53] aulong-msft commented on #100885
hey @wadepickett m not sure who owns this, however, your name is at the top of the contributor list on the article (im assuming thats why you were assigned) Could you please me with this contribution or help me find the right person? I dont have access to contribute otherwise i would be more than happy to introduce this sample.

[2022-11-10 16:56] jlichwa commented on #101016
@moarychan in general our recommendations are:
        Recommended client-side throttling method
        On HTTP error code 429, begin throttling your client using an exponential backoff approach:

        Wait 1 second, retry request
        If still throttled wait 2 seconds, retry request
        If still throttled wait 4 seconds, retry request
        If still throttled wait 8 seconds, retry re

[2022-11-10 17:02] nelroosevelt opened #101274 "**Azure App Services - Not all App Services are eligible.**"
Could the document point out the Azure App Services that are not eligible to be clear what is not available.

Charges covered by savings plan
Virtual Machines - A savings plan only covers the virtual machine and cloud services compute costs. It doesn't cover other software, Windows, networking, or storage charges.
Azure Dedicated Host - Only the compute costs are included with the Dedicated host.

[2022-11-10 17:16] #99793 closed

[2022-11-10 17:17] DeanGross opened #101275 "Add PCI 4"
PCI 4 is available in the MDC portal, but not listed on this page, please update the docs to include all of the standards that are actually available
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: a9fbe6ca-1f70-657b-fc1a-c488335bdef6
* Version Independent ID: 4962534a-ec5a-bc9a-f0ec-2074cf446807
* Content: [The regulat

[2022-11-10 17:25] Alestrix opened #101276 "Incorrect wording for "self-signed" certificate"
The document states

This wording is incorrect as the certificate referred to as "create a self-signed certificate" is ***not*** self-signed, but instead signed by the private and untrusted "own custom CA" (that CA is self-signed). The term "self-signed" is well defined and means that the public key stored within a self-signed certificate can validate the signature of the very same certificate.

-

[2022-11-10 17:28] wadepickett commented on #100885
Sure, I just saw this last night before getting my kids to bed. (I don't have any content in this repo so it is not one I regularly scan.)  Getting it for you now this morning, sorry.  Will also take my name off it.  I changed one meta data value across several repos once.  Ever since I have been assigned to topics I have no idea of since no one else touched the topic for years.

[2022-11-10 17:38] Ray-Eldath opened #101278 "What do you mean by "covering" and "non-covering" cache in Azure SQL Hyperscale?"
In the architecture diagram of Azure SQL Hyperscale, there's two types of cache: _covering SSD cache_ and _non-covering SSD cache_ which are denoted by blue and yellow color respectively. But what do you mean by "covering"? Google Search suggests the only place where such terminologies are used is this document, and even on this document there's no explanation of "covering". I can only guess that

[2022-11-10 17:50] jeffjfield opened #101279 "Deallocate Azure Firewall in VWAN Hub"
Is it possible to deallocate and allocate Azure Firewall when it is in a secured VWAN hub?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 6bba1b4d-cf65-c0a2-9bb6-4ff7896f0a15
* Version Independent ID: 7ab0db77-e78d-de58-369f-641782327264
* Content: [Azure Firewall FAQ](https://learn.microsoft.com/en-us/azure/firewall/

[2022-11-10 18:01] PatrickFarley commented on #97909
PR merged
#please-close

[2022-11-10 18:01] #97909 closed

[2022-11-10 18:07] PatrickFarley commented on #99632
#please-close

[2022-11-10 18:07] #99632 closed

[2022-11-10 18:12] cynthn commented on #99517
@pgbfnf The sizes you are using are specialized for VDI workloads and aren’t generally available. For information about each size, you can look at the information for the equivalent Dsv3 size here: https://learn.microsoft.com/en-us/azure/virtual-machines/dv3-dsv3-series#dsv3-series

#please-close

[2022-11-10 18:12] #99517 closed

[2022-11-10 18:15] SillyKeith opened #101281 "The content update handler tutorial is using the v1 update type vs v2 and an extra space in apt --update-type 'microsoft/a pt:1'"
[Enter feedback here]
The content update handler tutorial is using the v1 update type vs v2 and an extra space “--update-type 'microsoft/a pt:1'

In the Prerequisites area, shouldn't this command be changed to use the new v2 update type?  If not, then at least the extra space should be removed from "a pt"

**Current**  with extra space in apt:1
`sudo /usr/bin/AducIotAgent --register-content-handle

[2022-11-10 18:21] pgbfnf commented on #99517
Cynthia,
They may not be generally available, but we are using 1735 of them.
We would like some documentation describing what the specs are, to compare to other sizes, to make educated decisions in our VDI environments.

Peter Bollwerk
Azure Cloud Engineer
Fidelity National Financial
***@***.******@***.***>
Mobile: 714-439-7128

From: Cynthia Nottingham ***@***.***>
Sent: Thursday, November 10, 20

[2022-11-10 18:33] aahill commented on #100727
Thanks for reaching out,

Text data has to be uploaded as separate .txt files to your storage account.

https://learn.microsoft.com/azure/cognitive-services/language-service/custom-text-classification/how-to/design-schema#data-preparation

I'll update the documentation to make this more clear.

#please-close

[2022-11-10 18:33] #100727 closed

[2022-11-10 18:35] ChaitanyaNaykodi-MSFT commented on #101279
@jeffjfield Thank you for your feedback! We will review and update as appropriate.

[2022-11-10 18:39] madansr7 commented on #101233
@nagasandeepMSFT I see the issue but the document highlighted by @SaibabaBalapur-MSFT is probably not the doc that should be updated. The guidance on the app services side needs to be updated to state that if the developer is trying to test locally, they must go to the app reg blade and change the setting.
@SaibabaBalapur-MSFT  this should be re-assigned to someone in app services.

[2022-11-10 18:41] ChaitanyaNaykodi-MSFT commented on #101276
@Alestrix Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-11-10 18:41] ChaitanyaNaykodi-MSFT commented on #101272
@MarkMcTernan Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-11-10 18:52] seesharprun commented on #101210
#reassign:seesharprun

[2022-11-10 18:57] mumian commented on #101135
@srrrrrrrrrr - thank you for your comments.  I have created a PR to address the issue.  The PR is https://github.com/MicrosoftDocs/azure-docs-pr/pull/217964

#please-close

[2022-11-10 18:57] #101135 closed

[2022-11-10 19:14] #100986 closed

[2022-11-10 19:17] mlongoria commented on #101206
Ok, now that I have worked through the actual technical issues, I think the wording is just confusing/a little sparse. Particularly this part:

The emphasis on **first** login was misleading for me. Here is what I _think_ I understand now and would want to know from that paragraph:
1. The account console is a separate location from the workspace (although it can be accessed from the workspace if y

[2022-11-10 19:46] nickludwig commented on #101261
Hey @jan-hudec - I'm a little confused what you mean. As far as I'm aware, there's no such thing as a `resource` parameter in the ROPC flow. What resource you're requesting an access token for is specified by the scopes included in the `scopes` parameter.

Could you let me know what the error code you're experiencing is? Perhaps that'd help me better understand what you're referring to.

[2022-11-10 19:46] kurtkluth opened #101283 "Powershell script does not work"
The provided Powershell flat out does not work and it's very frustrating.

If one loads it adds there subscriptionId and hits run it fails right away at the creation of the first SQL Server instance  because the subnet is missing a setting.

It needs to Delegate subnet to a service "Microsoft.Sql/managedInstances" and it does not.
Later on, it fails during the creation of the failover groups.

---

[2022-11-10 19:58] WilliamDAssafMSFT commented on #101278
#assign:WilliamDAssafMSFT

[2022-11-10 19:58] WilliamDAssafMSFT commented on #101278
#assign:dimitri-furman

[2022-11-10 19:59] WilliamDAssafMSFT commented on #101278
Thanks @Ray-Eldath for contacting Microsoft with feedback about our product documentation. It could take from a few business days to a few weeks to look further into this with the product team and decide on how to address. A conversation about your feedback on this image is already underway. We'll contact you if we need further information, and you'll receive an email message each time we mention

[2022-11-10 20:20] DeanGross opened #101284 "what about 2022"
Windows Server 2022 is not included in the list of applicable Operating Systems, is that correct or an oversight?
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: ddbaf64c-f5c5-3e31-e639-b96213dc257c
* Version Independent ID: ac13399d-6ee7-3ab9-b9fd-9dae5370b14d
* Content: [Harden your Windows and Linux OS with Azure sec

[2022-11-10 20:58] Oury-MSFT commented on #101283
@kurtkluth Could you please specify which one of the scripts does not work.

[2022-11-10 21:10] PatAltimore commented on #97362
Hi @ddobric ,

Thanks again for the feedback. Quick status update. I'm working on an update to this article and have addressed the issue as part of the update. Because of some dependencies, I can't publish the changes yet.

At a high level, you can debug either a single module or all modules with the simulator. When debugging a single module, the simulator listens for messages on port 53000 (defau

[2022-11-10 21:10] #97362 closed

[2022-11-10 21:51] nickludwig commented on #100859
Hey @AdrianGolda - what are you trying to accomplish? Are you trying to authenticate your application, or authenticate users for your application? The reason why I ask is because you're referring to two different flows in your post here

The document you linked here, for the Client Credentials flow, is not the same thing as the implicit flow. The flows are entirely different, and the scenarios the

[2022-11-10 21:59] chcomley commented on #94511
Hi @SuperOfficeDevNet, thanks for your feedback. The file limit is 15,000, which isn't a bug, so I've added a row to the table within the article for this information.  Once it goes live, this issue will automatically close. Thanks again!

[2022-11-10 22:24] ddobric commented on #97362
Thanks for the feedback and you engagement @PatAltimore.

[2022-11-10 22:27] trevor-webster commented on #100179
@ntrogh
When uploaded to Azure load test, see this error

Test script is not valid. Exception: ClassCastException: class org.apache.jmeter.protocol.http.sampler.HTTPSamplerProxy cannot be cast to class org.apache.jorphan.collections.HashTree (org.apache.jmeter.protocol.http.sampler.HTTPSamplerProxy and org.apache.jorphan.collections.HashTree are in unnamed module of loader 'app')

[2022-11-10 22:40] #101005 closed

[2022-11-10 22:54] flang-msft commented on #95718
#reassign: rotata

I've re-assigned this hoping that @rotata can give you information on how to create a bug on this issue.

[2022-11-10 23:00] flang-msft commented on #96291
@yichungyu - Thanks for the feedback. As you suggest "the client-side NSG requirements are probably just the reverse of the inbound/outbound requirements for Redis vnet NSG," Our investment now is in the Private Link as opposed to VNet:

   Tier flexibility – Azure Private Link is supported on all our tiers; Basic, Standard, Premium, Enterprise, and Enterprise Flash. Compared to Virtual Network in

[2022-11-10 23:10] flang-msft commented on #96805
#re-assign: @shpathak-msft - When this is resolved, re-assign to me when determined.

[2022-11-10 23:11] flang-msft commented on #96805
#re-assign: @shpathak-msft

[2022-11-10 23:12] flang-msft commented on #96805
#assign: @shpathak-msft

[2022-11-10 23:13] flang-msft commented on #94748
We are following up on this:
#re-assign: @shpathak-msft

[2022-11-10 23:14] flang-msft commented on #94748
#assign:@shpathak-msft

[2022-11-11 00:11] wadepickett commented on #100885
Fixed with https://github.com/MicrosoftDocs/azure-docs-pr/pull/218022

[2022-11-11 00:12] Karishma-Tiwari-MSFT commented on #100995
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2022-11-11 00:12] #100995 closed

[2022-11-11 00:54] cynthn opened #101290 "Testing the feedback mechanism"
I'm just testing whether md.reviewer gets this feedback. Ignore me :)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: aca0ec03-776b-fb48-3c1d-82dc11916534
* Version Independent ID: 030f5f5d-992a-1ead-ec17-39faba84cef1
* Content: [DCsv2-series - Azure Virtual Machines](https://learn.microsoft.com/en-us/azure/virtual-mac

[2022-11-11 01:17] trevor-webster commented on #100179
Can you pls post an example with CSVDataSet properties

`<boolProp name="quotedData">true</boolProp>
            <boolProp name="recycle">true</boolProp>`

            Thank you

[2022-11-11 01:24] moarychan commented on #101016
Thanks @jlichwa .

@KarlErickson , the original issue is raised for the unclear documentation of Key Vault, I check the previous [comment from Ed Burns](https://github.com/MicrosoftDocs/azure-dev-docs/issues/863#issuecomment-1216923144), should we wait for Manfred to give a more detailed description on the doc [recommends exponential back-off and retry](https://docs.microsoft.com/en-us/azure/key-v

[2022-11-11 03:16] AshokPeddakotla-MSFT commented on #101281
@SillyKeith Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-11-11 03:26] Naveenommi-MSFT commented on #101236
@MikeRys

Could you please review this and update as appropriate.

[2022-11-11 03:26] Naveenommi-MSFT commented on #101236
@rybouc

Thank you for bringing this to our attention. I've assigned this issue to the author who will investigate and update as appropriate.

[2022-11-11 03:33] IyshwaryaK commented on #100820
I found a GitHub repo to solve the problem

On Fri, 11 Nov, 2022, 12:00 am Patrick Farley, ***@***.***>
wrote:

[2022-11-11 03:43] DavidKlempfner opened #101292 "Inconsistency"
"Do not use ToList() on DocumentClient.CreateDocumentQuery(...) which uses blocking calls to synchronously drain the query. Use [AsDocumentQuery()](https://github.com/Azure/azure-cosmos-dotnet-v2/blob/a4348f8cc0750434376b02ae64ca24237da28cd7/samples/code-samples/Queries/Program.cs#L690) to drain the query asynchronously."
This is under a list of items titled "Do not". The other items don't start w

[2022-11-11 04:01] SaibabaBalapur-MSFT commented on #101274
@nelroosevelt
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-11 04:02] SaibabaBalapur-MSFT commented on #101275
@DeanGross
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

[2022-11-11 04:03] VikasPullagura-MSFT commented on #101290
@cynthn Closing this as test.

[2022-11-11 04:03] #101290 closed

[2022-11-11 04:05] SaibabaBalapur-MSFT commented on #101284
@DeanGross
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

[2022-11-11 04:10] SaibabaBalapur-MSFT commented on #101292
@DavidKlempfner
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-11 04:20] AjayBathini-MSFT commented on #101088
@stutommi
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-11-11 04:20] #101088 closed

[2022-11-11 04:40] shaktisingh-msft commented on #101292
Hi @StefArroyo,

Could you please look into this document update request. Thanks.

[2022-11-11 04:46] AnuragSingh-MSFT commented on #101102
@brsteel, closing this issue as it seems to be working for you now. If I misunderstood the comment above, please let me know and reopen the issue. We will gladly continue the discussion.

[2022-11-11 04:46] #101102 closed

[2022-11-11 04:48] mike-urnun-msft commented on #101012
Hi @JWEthernet Since this channel is for driving improvements toward MS Docs and we didn't determine any changes to documentation upon reviewing this feedback, we will now proceed to close this issue for now. If there are further questions regarding this matter, please reopen this issue and we will gladly continue the discussion.

[2022-11-11 04:48] #101012 closed

[2022-11-11 04:49] van1989 opened #101294 "Cannot join domain into windows server"
I tried to join domain to windows server machine using the same user/pw account that I declared when I created the virtual machine.
But I don't understand why I still get the error that the user / PW is not correct.
I also tried entering user with format user@domain but to no avail.
Who can help me?
![2022-11-11_111107](https://user-images.githubusercontent.com/81602090/201265487-21c41dde-d0e1-422

[2022-11-11 04:58] ManoharLakkoju-MSFT commented on #101205
@SvenAelterman
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

@Heidilohr
Can you please check and add your comments on this doc update request as applicable.

[2022-11-11 05:24] ManganoIT opened #101295 "Update document to reflect that traceroute is not allowed over Site to Site VPN"
In Azure Case 2211110030000416 support advised that S2S VPN does not support traceroute, please update this document to include that traceroute is not supported/allowed over S2S VPN and so traffic will be dropped for traceroute

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 089a64fa-6ccb-6c2c-9d32-9a1a1fd04d1d
* Versi

[2022-11-11 05:30] ChaitanyaNaykodi-MSFT commented on #100999
@fabio-s-franco,
Since we did not hear back from you, we will now proceed to close this issue out. Please tag me in your response and we will reopen this issue for further troubleshooting. Thank you!

[2022-11-11 05:30] #100999 closed

[2022-11-11 05:35] ichibanbrew opened #101296 "Azure Storage Explorer asks to connect to Password Manager on Kubuntu with KWalletManager installed"
The issue is similar to [Azure Storage Explorer asks to connect to Password Manager Service when it's already connected in openSUSE](https://github.com/MicrosoftDocs/azure-docs/issues/46007)

I am running Kubuntu 22.04 with KWalletManager installed.

I installed Azure Storage Explorer from the snap store and it is asking me to connect to Password Manager.
The installation instructions are here: [I

[2022-11-11 05:43] kiranpradeep opened #101297 "mapping between downloaded images and pandas data frame rows"
This [page](https://learn.microsoft.com/en-us/azure/machine-learning/v1/how-to-use-labeled-dataset#explore-labeled-datasets-via-pandas-dataframe) has belwo code sample to download images in a dataset and also to convert to pandas dataframe. I like to confirm if indexes in _animal_pd_ (pandas dataframe) and _download_path_ (list) match each other. For e.g. will download_path[0] always correspond to

[2022-11-11 06:30] DeepaThiruna opened #101298 "Packages for custom question answering in QNA Maker migration flow"
Not able to install packages of Microsoft.Bot.Builder.AI.QnA with version 4.11.1, if we update to 4.18.1 showing error to downgrade
<img width="408" alt="image" src="https://user-images.githubusercontent.com/44960060/201277610-0eb7b631-6bb2-4497-9215-ef45d4540da0.png">

[2022-11-11 06:37] YashikaTyagi-MSFT commented on #101101
@paulaustin-automutatio
Thanks for your feedback! We have assigned the issue to author who will provide further updates.

[2022-11-11 06:38] #101070 closed

[2022-11-11 07:01] AdityaNair102001 opened #101299 "Incorrect link"
Under the **Quickstart** section, link for

1. "[Migrate an existing MongoDB Node.js web app] (https://learn.microsoft.com/en-us/azure/cosmos-db/mongodb/create-mongodb-nodejs)" redirects to "https://learn.microsoft.com/en-us/azure/cosmos-db/mongodb/quickstart-dotnet?tabs=azure-cli%2Cwindows"

2. "[Build a web app using Azure Cosmos DB's API for MongoDB and .NET SDK] (https://learn.microsoft.com/en

[2022-11-11 07:19] YashikaTyagi-MSFT commented on #101157
@jmprieur
I have performed the required changes for ASP.NET but it looks like the section https://learn.microsoft.com/en-us/azure/active-directory/develop/scenario-web-app-sign-user-sign-in?tabs=java#signin-action-of-the-controller. For java language also needs to be improve apart from it other languages seems to be correct.

[2022-11-11 07:29] YashikaTyagi-MSFT commented on #101233
@nagasandeepMSFT
As you are internal  Microsoft Employee
Please use this form to submit your proposal to contribute to [docs.microsoft.com](http://docs.microsoft.com/) (which includes Docs, Learn, Azure Architecture Center, and Cloud Adoption Framework). You'll receive a follow up once submitted to begin the process.
https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbR958mqNUZ

[2022-11-11 07:39] SnehaAgrawal-MSFT commented on #101049
@sy-huss Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2022-11-11 07:39] #101049 closed

[2022-11-11 07:45] AnuragSingh-MSFT commented on #101139
@iisworks, thank you for the feedback, I will submit it to our content team for further consideration and update.

[2022-11-11 07:45] #101139 closed

[2022-11-11 07:54] Naveenommi-MSFT commented on #101251
Hi @iamdruid

Thanks for reporting this! We have created a PR for this issue and the changes should go live soon.

[2022-11-11 07:57] RamanathanChinnappan-MSFT commented on #100924
@PMLIO

We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-11-11 07:57] #100924 closed

[2022-11-11 08:02] SaibabaBalapur-MSFT commented on #101294
@van1989
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-11 08:40] neok-g opened #101301 "Issue/question with Azure Security Benchmark initiave assignment"
I have question with regard to the Azure Security Benchmark: https://learn.microsoft.com/en-us/azure/governance/policy/samples/azure-security-benchmark. It contains a policy [Subnets should be associated with a Network Security Group](https://portal.azure.com/#blade/Microsoft_Azure_Policy/PolicyDetailBlade/definitionId/%2Fproviders%2FMicrosoft.Authorization%2FpolicyDefinitions%2Fe71308d3-144b-4262

[2022-11-11 08:42] MarekLani opened #101302 "Use Managed Identity during Logic App local development to Authenticate against Azure Function"
I followed example of developing logic apps locally; however, I am not able to find any guidance on the specific scenario I need to implement. My workflow scenario requires calling an Azure Function which has authentication enabled (Easy Auth). When Logic App from portal, it is fairly straightforward, and I managed to implement the workflow using this approach (https://learn.microsoft.com/en-us/az

[2022-11-11 08:43] GitaraniSharma-MSFT commented on #101295
@ManganoIT , thank you for your feedback. We have assigned this to the content owner/author for review.

@chadmath , for your review.

[2022-11-11 08:46] aggerritsen opened #101303 "Routes for the destination are missing in the virtual network gateway"
Hi,

We set up a connection monitor for ICMP between two Windows Virtual Machine in different regions. The communication between these regions is established by a Fortigate NVA (FW/VPN) relaying over the On Premise Network. In both Virtual Networks routing tables exist having a default route (0.0.0.0/0) set to the Fortigate inbound IP (10.5.33.20).

[code]

Communications work fine, as well as the

[2022-11-11 09:20] harshal-perennial commented on #95751
Please confirm once you'll get the device information because it seems that this problem isn't occurring for all devices, therefore we need that particular device details.

[2022-11-11 09:58] SadiqhAhmed-MSFT commented on #101274
@bandersmsft Could you please help clarify questions posted by @nelroosevelt ?

[2022-11-11 10:07] MughundhanRaveendran-MSFT commented on #101076
@Lesrac , The "path" for the @BlobOutput cannot be changed at runtime as it is a part of the Function definition. You will have to use the [blob storage java SDK](https://learn.microsoft.com/en-us/java/api/overview/azure/storage?view=azure-java-stable) to write to the blob once you figure out the path

[2022-11-11 10:11] CamiloTerevinto commented on #85389
Hey @ericd-mst-github / @Karishma-Tiwari-MSFT:

Sorry for the delay in getting back to you. I only now had time to update the CD pipeline and the `az vmss application set` now actually replaces the previous version with the new one. I've checked the VM and I see the new version being downloaded and the new version gets installed in ~2 minutes.
I wonder why the rolling update takes like ~2-3 more m

[2022-11-11 10:16] ManoharLakkoju-MSFT commented on #101265
@porrascarlos802018
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

@Nickomang
Can you please check and add your comments on this doc update request as applicable.

[2022-11-11 10:17] ManoharLakkoju-MSFT commented on #101241
@hkusulja
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

@AllisonAm
Can you please check and add your comments on this doc update request as applicable.

[2022-11-11 10:18] ManoharLakkoju-MSFT commented on #101061
@LinVince
We are going to close this thread but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation

[2022-11-11 10:18] #101061 closed

[2022-11-11 10:23] shaktisingh-msft commented on #101299
Hi @AdityaNair102001,

Thanks for sharing this feedback. We will look into this and update as appropriate.

[2022-11-11 10:25] shaktisingh-msft commented on #101299
Hi @gahl-levy,

Could you please look into this document update request. Thanks

[2022-11-11 10:45] AshokPeddakotla-MSFT commented on #101178
@jehona-m Changes require confirmation. Please go through this feedback and update the doc accordingly.

[2022-11-11 10:46] AnuragSingh-MSFT commented on #101253
@Willem-J-an, thank you for the feedback.

@jacegummersall - can you please review this and share your feedback. Thank you

[2022-11-11 10:57] v-ksreedevan commented on #101083
Awaiting inputs from the PM.

[2022-11-11 11:12] contact2abhi opened #101304 "Node Affinity Yaml example giving error "expected 'array' while given 'string' for values""
The following section was giving error

affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
        - matchExpressions:
          - key: hardware
            operator: In
            values: highmem

worked when changed to

affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
        -

[2022-11-11 11:21] matsest commented on #93952
Related:
- https://github.com/Azure/Enterprise-Scale/issues/1073
- https://github.com/Azure/terraform-azurerm-caf-enterprise-scale/issues/482
- https://github.com/Azure/ALZ-Bicep/issues/330

[2022-11-11 11:28] RamanathanChinnappan-MSFT commented on #101121
@idcha0s

Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request] (https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our Q&A forum by posting your issue there so our community, and MVPs

[2022-11-11 11:28] #101121 closed

[2022-11-11 11:36] SaibabaBalapur-MSFT commented on #101298
@DeepaThiruna
Thanks for your feedback! We will investigate and update as appropriate.

Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team

[2022-11-11 11:36] dazinator opened #101305 "LUN number and HCTL output"
It reads:

Yet looking at the output shown above this comment there would appear to be multiple HCTL output all with LUN 0:

[code]

E.g the last number of the `HTCL` appears to be 0 in all of the cases shown - so what does it mean exactly?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 2036c044-4fbd-6016-c026-fea724b

[2022-11-11 11:39] SaibabaBalapur-MSFT commented on #101296
@ichibanbrew
Thanks for your feedback! We will investigate and update as appropriate.

Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team

[2022-11-11 11:44] jyama4ta commented on #100714
@MGoedtel Could you please take a look?

[2022-11-11 11:47] dazinator commented on #101305
I'm trying to develop a script that I could execute unattended to create a partition and format it based on the newly attached disk. The only thing I know in advance is LUN number of the attached disk.

I have multiple instances of VM's that have attached the same (shared) disk, and in most cases the shared disk - which always has LUN 0, ends up being `sdc`

However in once instance, the shared di

[2022-11-11 11:55] GitaraniSharma-MSFT commented on #101303
@aggerritsen , Thank you for your feedback. However, since this is a product issue which is not related directly to the doc, I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)
Once you post your issue on forums, it will have visibility across the community which is a better su

[2022-11-11 11:55] #101303 closed

[2022-11-11 12:08] dazinator commented on #101305
For example here is a command that will give me the name of the disks (filters our partitions) with a specific size. However suppose the disk being attached happened to be same size as the OS disk, how would I know which is which - given both HTCL's end with 0.

[code]

[2022-11-11 12:22] sebader opened #101306 "Azure Service Bus Topics Trigger also supported?"
The page explicitly mentions Azure Service Bus Queues as a supported trigger. What about Service Bus Topics-based triggers? Are they supported in the same way with KEDA?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 2cbf4053-0a3d-a803-3e0d-8cf28db358e8
* Version Independent ID: 782efd9c-beea-249c-f8e8-4ee4389bfb07
*

[2022-11-11 12:25] damiansubartowicz commented on #88428
Can you please point which registry key need to be changed to extend enpoint limit?

[2022-11-11 12:28] AjayBathini-MSFT commented on #101270
@ulkeba
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

[2022-11-11 12:28] AjayBathini-MSFT commented on #101270
@shlipsey3
Can you please check and add your comments on this doc update request as applicable.

[2022-11-11 12:59] joostjansenskg opened #101307 "Wrong Powershell example."
On the website their is an powershell example:
[code]

But it contains a mistake. The last comma behind
[code]
Must be deleted.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 60d23869-94f5-22cc-425e-4bf675d84ce0
* Version Independent ID: 5105047f-04bf-87ef-ee8e-3e9bf9b5ac3a
* Content: [Azure Active Directory Condition

[2022-11-11 13:14] RamanathanChinnappan-MSFT commented on #101206
@mlongoria

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-11-11 13:16] RamanathanChinnappan-MSFT commented on #101239
@georgeOsdDev

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-11-11 13:19] RamanathanChinnappan-MSFT commented on #101258
@HarikrishnaChilukurthi

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-11-11 13:20] RamanathanChinnappan-MSFT commented on #101235
@Tsuchiya-Hayato
Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-11-11 13:34] matt-buchanan opened #101308 "Baseline download for Azure SQL Database points to ASB v1.1 file, baseline documentation itself is v2.0"
The download link for the baseline file still points to the ASB v1.0 baseline. The underlying library doesn't appear to have the v2.0 baseline file that reflects the current documentation. Current link is: https://github.com/MicrosoftDocs/SecurityBenchmarks/raw/master/Azure%20Offer%20Security%20Baselines/1.1/azure-sql-database-security-baseline-v1.1.xlsx

Is there a v2.0 spreadsheet available?
---

[2022-11-11 13:40] adminAsks commented on #95751
Hello, right now can provide you an example of my device, where the issue occurs and in closer time provide you with more examples form users.
My device parameters:

- Brand: Huawei
- Model: RNE-L21
- Version EMUI: 8.0.0
- Android Version: 8.0.0
- Browser: Chrome
- Browser version: 107.0.5304.91

However this issue was reported in the past on iOS and different browsers (Edge, Chrome, Safari) with

[2022-11-11 13:42] mumurug-MSFT commented on #101306
@sebader Thanks for reaching out. We will review and update as appropriate.

[2022-11-11 13:44] mumurug-MSFT commented on #101302
@MarekLani Thanks for reaching out. We will review and update as appropriate.

[2022-11-11 13:45] joostjansenskg opened #101310 "Cannot create Conditional Access Rules with Graph API for workload identities"
I receive the following error when I want to create Conditional Access rules with Graph API for Workload Identities:

`1150: Cannot create or update policies with workload identity premium features. Upgrade to a workload identity premium P1 or P2 license and try again
`
I cannot find any information about this license. In the documentation, the following is noted:
`In public preview, you can scope

[2022-11-11 14:37] AdrianGolda commented on #100859
I wanted to use client credentials from app that serves some powerbi reports and embed them in my public client frontend app. It turned out it is not possible so I create a simple confidential python app as a middleware. I think we can close the ticket.

[2022-11-11 14:45] mumian commented on #95896
@jlagarda - I haven't heard from you.  If you still have the same issue, you can ping me back to reopen the ticket.

#please-close

[2022-11-11 14:45] #95896 closed

[2022-11-11 14:46] dahiro opened #101312 "Missing IP in IP ranges for EU-West (connectivity architecture)"
We experienced multiple times that the IP-ranges mentioned on this page are not up2date. I.e. we have a DB-Server in EU-West but the connection from a k8s-cluster in azure gets redirected to d823e34816d3.tr29148.westeurope1-a.worker.database.windows.net which gets resolved to 20.61.99.232 which is not part of any IP-ranges mentioned.

Can you tell us on what Information we can base our firewall ru

[2022-11-11 14:53] RyanHill-MSFT commented on #101183
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-11-11 15:02] SunnyDeng commented on #101170
@MicrosoftGuyJFlo i've send email offline, can you please close the issue here and follow the new process. thanks

[2022-11-11 15:08] MicrosoftGuyJFlo commented on #101170
#please-close

[2022-11-11 15:08] #101170 closed

[2022-11-11 15:08] MicrosoftGuyJFlo commented on #101170
#reassign:@MicrosoftGuyJFlo

[2022-11-11 15:10] MicrosoftGuyJFlo commented on #101307
#reassign:@MicrosoftGuyJFlo

So @joostjansenskg your recommendation is

[code]

[2022-11-11 15:24] SaibabaBalapur-MSFT commented on #101297
@kiranpradeep
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-11 15:26] SaibabaBalapur-MSFT commented on #101301
@neok-g
Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team

[2022-11-11 15:27] SaibabaBalapur-MSFT commented on #101304
@contact2abhi
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-11 15:29] SaibabaBalapur-MSFT commented on #101305
@dazinator
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-11 15:30] SaibabaBalapur-MSFT commented on #101307
@joostjansenskg
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-11 15:31] SaibabaBalapur-MSFT commented on #101308
@matt-buchanan
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-11 15:32] GimmeDaKitty commented on #95654
@eyankzz did you figure this problem out? We are having exactly the same problem.

We have been given a root certificate which our company injects in all requests - weird, but when I do all checks still no proxy server is detected.

[2022-11-11 15:32] ericd-mst-github commented on #85389
No problem, and glad to hear your speedy success! Have a great rest of your week :)

[2022-11-11 15:33] SaibabaBalapur-MSFT commented on #101310
@joostjansenskg
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-11 15:35] SaibabaBalapur-MSFT commented on #101312
@dahiro
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-11 15:37] dinos-kon opened #101314 "redundant repetition a hash, of the hash"
_Azure AD Connect synchronizes **a hash, of the hash,** of a user's password from an on-premises Active Directory instance to a cloud-based Azure AD instance._

I think there is a redundant repetition here. I think it should read "Azure AD Connect synchronizes the hash of a user's password..."
thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟

[2022-11-11 15:40] SShah30-hue commented on #75088
@chiehpower thanks so much for raising this issue. Could you please share how you resolved the base image issue ? I am using nvidia/cuda:11.4.2-base-ubuntu20.04 at the start of my Dockerfile but when I run it on ACI, no GPU drivers are recognised.
![err](https://user-images.githubusercontent.com/61804269/201374381-86962a94-72fa-4f7d-bf17-5aa6664754b8.PNG)

[2022-11-11 15:55] timwarner-msft commented on #101301
#please-close

[2022-11-11 15:55] #101301 closed

[2022-11-11 16:06] MGoedtel commented on #100714
@jyama4ta and @SaibabaBalapur-MSFT - I'm discussing this with my peers to understand why this point was made in that note and why it's not linked to any guidance on how to resize the OS disk in a supported way. While the recommended approach is to create a new node pool with the resized disk(s), I'm checking to see if there is another way that doesn't involve the heavy lifting required to address

[2022-11-11 16:11] bwren commented on #100952
Correct, it's not supported yet in government clouds. Apologies that we did a bad job of making that obvious. I'm going to add a note to that article now.

#please-close

[2022-11-11 16:11] #100952 closed

[2022-11-11 16:29] mumurug-MSFT commented on #101306
@sebader Yes, Topics-based triggers are supported. You can learn more about it in https://keda.sh/docs/1.4/scalers/azure-service-bus. We have made the changes in our docs, and it will be published soon.

Thanks again for sharing the feedback. We will now proceed to close this thread and feel free to reach out to us anytime.

[2022-11-11 16:45] #101306 closed

[2022-11-11 16:53] gahl-levy commented on #98092
I've updated the docs to reflect this. Thanks for pointing out this issue!

[2022-11-11 17:14] KranthiPakala-MSFT commented on #101067
We will now proceed to close this thread. If there are further questions regarding this matter, please reply and reopen the issue. We will gladly continue the discussion.

[2022-11-11 17:14] #101067 closed

[2022-11-11 17:15] KranthiPakala-MSFT commented on #101100
We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please reply and reopen the issue. We will gladly continue the discussion.

[2022-11-11 17:15] CorrenSoft opened #101318 "Invalid capability EnableUniqueCompoundNestedDocs"
This page has been recently updated adding this capability as available. However, following the provided steps I was unable to make work.

[code]

I got similar output when a tried with `create` instead of `update` (az CLI version 2.42.0)

So, I don't know if there are missing steps/details to this specific capability, or if it is a bug in the product or is not yet available. In any case, this nee

[2022-11-11 17:26] #100885 closed

[2022-11-11 17:38] brucenelson6655 opened #101320 "Information on Azure Databricks Service Tag is out of date"
THe line "

AzureDatabricks | Azure Databricks. | Both | No | No Says that Azure Databricks Service Tag is "No" for "Can use with Azure Firewall?" My belief is that is not correct it should be "Yes"

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 08217244-82bb-13b5-46f7-454801d8f865
* Version Independent ID: 4a8b0a32-b

[2022-11-11 17:51] nickludwig commented on #100859
@AdrianGolda - gotcha, sounds good! Closing the ticket.

[2022-11-11 17:51] #100859 closed

[2022-11-11 17:52] jonburchel commented on #97404
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2022-11-11 17:52] #97404 closed

[2022-11-11 17:57] artisticcheese opened #101321 "Need additional information about verification for wildcard certificates"
There is no information provided how to validate wildcard certificates on this page, especially using multi-level domains (`*.sub2.sub1.domain.com`)
In this case TXT record shall be created at `@.domain.com` and not `@.sub2.sub1.domain.com`

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: cc2ee874-df45-1de2-1b30-1fd75c7

[2022-11-11 18:03] jonburchel commented on #97420
Thanks for caring about the docs and giving feedback to help us improve them @senchiee.  I see in this case, these links do both point to the same video, but the first one is offset into the video at t=526, since it is specifically covering the narrow issue of [Decreased startup time](https://learn.microsoft.com/en-us/azure/data-factory/data-flow-tutorials#optimizing-mapping-data-flows) discussed

[2022-11-11 18:03] #97420 closed

[2022-11-11 18:10] jonburchel commented on #97466
Thanks for helping us improve the docs, @maschAtWork!  I reviewed this and added verbiage to call out that it is for the testResourceGroup in the example so readers can identify that would need replacement in their actual useage of the command.  The change should be published in the next 24 hours.  I will close this one out now but if necessary we can continue the discussion here too, even after t

[2022-11-11 18:10] #97466 closed

[2022-11-11 18:21] jonburchel commented on #97809
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2022-11-11 18:21] #97809 closed

[2022-11-11 18:24] #97785 closed

[2022-11-11 18:27] nickludwig commented on #85021
Hey @NZKobra - Thanks for the feedback.

Yeah, that's because neither `amr` nor `acr` are supported for v2 id_tokens. `acr`, however, *is* supported for v2 access tokens, which is what I was referring to above. Apologies for the confusion.

As for other potential workarounds which you and @onionhammer have asked for, I'm afraid I'm not aware of any off the top of my head. I agree this is important

[2022-11-11 18:29] GeethaThatipatri-MSFT commented on #101145
@VitalyMCT changes are made to the document and will be updated soon.

[2022-11-11 18:29] #101145 closed

[2022-11-11 18:38] mumian commented on #100947
@thisjustin816 - Hi Justin, can you share your code?

[2022-11-11 18:43] flang-msft commented on #88207
[@k-krupka](https://github.com/k-krupka) - The ability to use managed identities for connecting to Azure Cache for Redis is actively being worked on. However, it is too early to provide any release timelines. Thanks for your inquiry.

[2022-11-11 18:46] juliakm commented on #100143
Thanks @RohitMungi-MSFT! I'll make the update now.

[2022-11-11 19:01] MGoedtel commented on #101304
@contact2abhi - Thanks for bringing this to our attention. Your correct that the two example YAML files in this section for setting up affinity were not formatted correctly by the original author. I'm going to create a bug for this now and see about fixing it before the day is out.

#please-close

[2022-11-11 19:01] #101304 closed

[2022-11-11 19:11] thisjustin816 commented on #100947
[code]

The deployment is a vue app with an api backend. Both are deployed as app services (in separate deployments/pipelines) to the same resource group. I use a bicep registry module for the app service deployments. I also conditionally apply a custom domain based on environment so I recreate the app service resource after applying the domain so that all hostnames are available and since the app

[2022-11-11 19:11] thisjustin816 commented on #100947
[code]

The deployment is a vue app with an api backend. Both are deployed as app services (in separate deployments/pipelines) to the same resource group. I use a bicep registry module for the app service deployments. I also conditionally apply a custom domain based on environment so I recreate the app service resource after applying the domain so that all hostnames are available and since the app

[2022-11-11 19:18] SladMSFT opened #101324 "Cache storage account FQDN used for replication"
[For the section of the page "(Optional) Create private endpoints for the cache storage account" we need to make a note that the FQDN that will be used by MARS agent to upload cache data to cache storage account will be **storageaccount.blob.core.windows.net**. Yes we do have to create the private endpoint for the cache storage account but the FQDN that will be used is blob.core.windows.net and no

[2022-11-11 19:20] Oury-MSFT commented on #101318
@CorrenSoft Thank you for your feedback. We are reviewing this and will get shortly.

[2022-11-11 19:28] onionhammer commented on #85021
Appreciate it, thanks @nickludwig

[2022-11-11 19:29] Grace-MacJones-MSFT commented on #101321
Hi @artisticcheese, thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update as appropriate

[2022-11-11 19:29] wadepickett commented on #100885
@aulong-msft, I updated this again on https://github.com/MicrosoftDocs/azure-docs-pr/pull/218110 to highlight better.  Merged again and should publish soon.

[2022-11-11 19:48] NZKobra commented on #85021
Thanks @nickludwig, Your effort on this issue is much appreciated.

[2022-11-11 20:01] davidsmatlak commented on #101140
@olegd-superoffice I created an internal task to review the article and research how to include a step like [dotnet publish](https://learn.microsoft.com/dotnet/core/tools/dotnet-publish) to the existing article. The task to review and update the article will be prioritized and scheduled, so I'm closing the GitHub issue. I'll post a comment when the work begins.

Thanks for your feedback.

[2022-11-11 20:04] davidsmatlak commented on #101140
#please-close

[2022-11-11 20:04] #101140 closed

[2022-11-11 20:22] JasonWHowell commented on #101100
#please-open

[2022-11-11 20:22] JasonWHowell commented on #101100
The feedback is pretty clear, we don't need screenshots.

[2022-11-11 20:35] JasonWHowell commented on #101100
Example
![image](https://user-images.githubusercontent.com/5067358/201427001-07632b29-8110-47ac-b242-147e997c2b75.png)

[2022-11-11 20:38] fierylevi opened #101326 "Please clarify verbiage for CustomizedSyncCycleInterval"
The details under "Scheduler configuration" for configuring the "CustomizedSyncCycleInterval" is unclear.

Specifically the last part, referencing using a setting with a value lower than AllowedSyncIntercal. It references that "the latter is used". What is the latter that will be used? Can this be made more clear? Can I set a value lower than 30 minutes or not? Please adjust the verbiage to clarif

[2022-11-11 20:50] mumian commented on #75269
See sample 4 in https://learn.microsoft.com/en-us/azure/azure-resource-manager/bicep/deployment-script-bicep#sample-bicep-files

#please-close

[2022-11-11 20:50] #75269 closed

[2022-11-11 21:52] JasonWHowell commented on #101100
@johnazariah I'll fix the instructions today. Thanks for pointing out the issues.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/218130

[2022-11-11 21:57] ChaitanyaNaykodi-MSFT commented on #101320
@brucenelson6655
Thank you for your feedback, as mentioned in this issue here https://github.com/MicrosoftDocs/azure-docs/issues/95900

We will now proceed to close this issue out, please tag me in your response if you have any additional questions. Thank you!

[2022-11-11 21:57] #101320 closed

[2022-11-11 22:06] ashokgop opened #101327 "Potential typo in paragraph #1"
[Enter feedback here]
The first paragraph reads..."Learn how to create and remove a NAT gateway resource from a virtual network subnet. A NAT gateway enables outbound connectivity for resources in an Azure Virtual Network. You may wish to change the IP address or prefix your resources use for outbound connectivity to the internet. The public and public IP address prefixes associated with the NAT g

[2022-11-11 22:15] VitalyMCT commented on #98752
@AjayBathini-MSFT @adbadram Any updates or ETA on a response? I have customers who are wondering about this.

[2022-11-11 22:25] VitalyMCT opened #101328 "Disconnect between options listed in overview and in details"
There are the options listed in the Migrate section:

The options detailed below are quite different. For example, Azure Data Studio is listed in details and not in the listing. Another example is that log shipping is only listed in the overview. This is very confusing. There should be correlation between TOC and detailed walkthroughs.

---
#### Document Details

⚠ *Do not edit this section. It is

[2022-11-11 22:36] #101157 closed

[2022-11-11 23:19] ChaitanyaNaykodi-MSFT commented on #101327
@ashokgop
Thank you for your feedback! We will review and update as appropriate.

[2022-11-11 23:41] #101100 closed

[2022-11-12 00:13] pinyuko opened #101330 ""Set Availability options to No infrastructure redundancy required" is confusing"
[Enter feedback here]

This is Penny Ko from MSFT.
I got feedback from CSA that they think they couldn't create a Zonal VM with ZRS data disk because of the sentence "3. Select a supported region and set Availability options to No infrastructure redundancy required."

However, when I tried on Azure Portal, I can successfully create a Zonal VM (for example Zone 1) and with ZRS data disk (as long as

[2022-11-12 01:06] jsimsmsft opened #101332 "Auzre NFS file shares do not support hardlinks of symbolic links"
got a customer not happy about undocumented limitation of NFS shares not supporting hard links of symbolic links as per bug 4666914
Customer is asking to update the documentation to mention this limitation.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 0c51c5ff-142c-fcaa-b7d4-dbfab61ca55f
* Version Independent ID: 3b

[2022-11-12 01:07] arindam0310018 commented on #100012
Hello @kabharati,
Thank you very much for correcting. Much Appreciated.
Kindly share the link where this was corrected.

Many Thanks
Regards, Arindam Mitra

[2022-11-12 01:15] kabharati commented on #100012
Here is the link

https://learn.microsoft.com/en-us/azure/active-directory/enterprise-users/groups-naming-policy

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Arindam Mitra ***@***.***>
Sent: Friday, November 11, 2022 8:07:40 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Kanchan Bharati ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-doc

[2022-11-12 02:11] Rick-Anderson opened #101333 "Too many includes in one folder, only goes to the functions-"
<img width="454" alt="image" src="https://user-images.githubusercontent.com/3605364/201451511-2668a737-3959-4e91-af1e-9f8871e29d6b.png">

Wow, the includes directory needs folders rather that thousands of includes. I went to edit an include and I got that error.

[code]

First, run the following commands to add the package repository and then add the Microsoft package signing key to your list of t

[2022-11-12 02:56] AjayBathini-MSFT commented on #98752
Hi @VitalyMCT

Author is working on it, and we will update you after our investigation has been done.

[2022-11-12 03:24] Naveenommi-MSFT commented on #101058
Hi @DinLim

We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-11-12 03:24] #101058 closed

[2022-11-12 03:28] SaibabaBalapur-MSFT commented on #101255
@Hans-AAB
Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request] (https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our Q&A forum by posting your issue there so our community, and MVPs

[2022-11-12 03:36] SaibabaBalapur-MSFT commented on #101314
@dinos-kon
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-12 03:41] SaibabaBalapur-MSFT commented on #101324
@KrishnaG-MSFT
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-12 03:45] SaibabaBalapur-MSFT commented on #101326
@fierylevi
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-12 03:48] SaibabaBalapur-MSFT commented on #101328
@VitalyMCT
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-12 03:50] SaibabaBalapur-MSFT commented on #101330
@pinyuko
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-12 03:51] SaibabaBalapur-MSFT commented on #101332
@jsimsmsft
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-12 03:53] SaibabaBalapur-MSFT commented on #101333
@Rick-Anderson
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-12 04:08] SaibabaBalapur-MSFT commented on #101252
@billmath
Can you please check and add your comments on this doc update request as applicable.

[2022-11-12 06:31] dicrtarasov opened #101334 ""skip-definer" option does not exists in mysqldump"
[Enter feedback here]
`skip-definer` option does not exists in `mysqldump`.
This option only in `mysqlPump`

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 9072e74a-cda0-bfb2-7949-8cd81244bd64
* Version Independent ID: a5a72a04-1365-3d5e-68c5-0a0f6f32e5b8
* Content: [Migrate using dump and restore - Azure Database for

[2022-11-12 06:33] eyankzz commented on #95654
@GimmeDaKitty : It has been sometime since I worked on this, let me check my history to identify if I was able to get through it or took a detour around this. Kindly give me some time to get back.

[2022-11-12 12:00] m-yuka746 opened #101336 "AMPLS fails provisioning with Private Endpoint set Statically allocate IP address."
Hi team,
I found the difference between the actual UI and docs UI image at Section [Connect to a private endpoint](https://learn.microsoft.com/en-us/azure/azure-monitor/logs/private-link-configure#connect-to-a-private-endpoint), step 5..
Could you update it?  I have attached the actual UI and docs image.

In addition, I have a question about Private IP configuration.
When I create PE with setting

[2022-11-12 12:06] oshihirii commented on #32572
I am getting the same behaviour.

I created a web app, FTP'ed in, edited the default 'hostingstart.html' file and an hour later the changes are still not showing.

Nothing is mentioned in the docs about this behaviour:

https://learn.microsoft.com/en-us/azure/app-service/deploy-ftp?tabs=portal

[2022-11-12 12:38] hannosgit opened #101338 "Java app to connect and run SQL commands on Azure Cosmos DB for PostgreSQL Wrong Version"
In the text, it says that the pom.xml configures Java 18 but in the pom.xml it says 1.8 which means Java 8.

` ` <properties>
    <project.build.sourceEncoding>UTF-8</project.build.sourceEncoding>
    <maven.compiler.source>1.8</maven.compiler.source>
    <maven.compiler.target>1.8</maven.compiler.target>
  </properties>
``

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2022-11-12 15:14] Naveenommi-MSFT commented on #101334
@dicrtarasov

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-12 15:21] Naveenommi-MSFT commented on #101336
@m-yuka746

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-12 15:24] Naveenommi-MSFT commented on #101338
@hannosgit

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-12 15:31] eric-urban commented on #101028
#please-close

[2022-11-12 15:31] #101028 closed

[2022-11-12 15:33] eric-urban commented on #101219
@JonathanFingold and @SaibabaBalapur-MSFT - Got it! We are tracking this internally, so I'll close out the public issue.

[2022-11-12 15:33] eric-urban commented on #101219
#please-close

[2022-11-12 15:33] #101219 closed

[2022-11-12 15:56] Givary opened #101340 "Need to update the doc as configuration tab is not available in permission analytics trigger section"
Need to update the doc as configuration tab is not available in permission analytics trigger section.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 03a2acba-a3c1-cadc-4448-c608a712881b
* Version Independent ID: 54fafa9f-0b1d-46eb-f04b-85b3d314f44e
* Content: [Create and view permission analytics triggers in Permissio

[2022-11-12 16:12] aaron-celestin opened #101341 "This doc only shows how to install already available Windows resources"
This doc only shows how to install already available Windows resources. It would be nice if the docs showed sysadmins how to install 3rd party software instead of using this space for instructions on how to install Windows components. Keep the instructions to install DSC in the DSC section, please!

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ Gi

[2022-11-12 16:40] pbandj1001 opened #101342 "Refresh as described not working"
How can refreshes be scheduled in the service with the Power BI Cosmos Connection?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: db43c478-6301-7b69-131a-c4289797c49d
* Version Independent ID: 5f991bdb-919e-f712-1fe0-050eba25ebaf
* Content: [Power BI tutorial for Azure Cosmos DB](https://learn.microsoft.com/en-us/azur

[2022-11-12 16:54] Rodrigossz commented on #101342
Hello @pbandj1001.

- Please check Power BI documentation for Power BI details. This is an Azure Cosmos DB documentation page.
- Please don't open a documentation issue with a question. If you can't find the answer you are looking for, please open a support case or the public forums like https://community.powerbi.com/ .
- If you search online for "power bi scheduled refresh" you will find your ans

[2022-11-12 16:54] #101342 closed

[2022-11-12 17:03] pbandj1001 commented on #101342
There are two ways to refresh data: ad hoc and scheduled. Simply click Refresh Now to refresh the data.

**For a scheduled refresh, go to Settings, open the Datasets tab. Click on Scheduled Refresh and set your schedule.**

I dont think this is true, the scheduled refresh part.

[2022-11-12 17:09] jerrycalebj commented on #67937
@AjayKumar-MSFT I am also getting the same error
 Entity Framework Core 6.0.8 initialized 'ApplicationDbContext' using provider 'Microsoft.EntityFrameworkCore.Sqlite:6.0.8' with options: None
System.ArgumentException: Connection string keyword 'server' is not supported. For a possible alternative, see https://go.microsoft.com/fwlink/?linkid=2142181.

I am using a Mac with docker to connect SQL

My

[2022-11-12 17:18] Naveenommi-MSFT commented on #101340
@Givary

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-12 17:23] Naveenommi-MSFT commented on #101341
@aaron-celestin

Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-11-12 17:23] Naveenommi-MSFT commented on #101341
@ju-shim

Could you please review this and update as appropriate.

[2022-11-12 17:50] Rodrigossz commented on #101342
OK. I will remove it.

[2022-11-12 18:03] tshaiman opened #101343 "Incompatible Yaml Pipeline files"
when importing the pipelines into Azure Dev Ops a non-compatible error message appears :

![image](https://user-images.githubusercontent.com/512709/201488275-ef92a603-3187-41f0-b89a-d087a10f1339.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 72579f7e-b040-d514-cf8f-422a66ceb0b0
* Version Independent ID: 22d40926-

[2022-11-12 20:09] PFlorey opened #101344 "Proper grammar would be nice."
For example, " In order to eliminate a scenario where a single certificate matching multiple Azure AD accounts, the tenant administrator should:"  Did you mean "where a single certificate [matches] multiple Azure AD accounts"? Or maybe "where a single certificate matching multiple Azure AD accounts [unlocks the door]"?  Using incomplete sentences or poor grammar causes the reader to stop and figur

[2022-11-12 22:11] cjnova opened #101345 "ARM Template not found"
[ARM template is not located where this page is referring to]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: a4c6cf88-c218-f367-83f4-6708d1eb3e5f
* Version Independent ID: 3f16c5c9-0f3b-4652-b67e-68adb5229f08
* Content: [Deploy OKD in Azure - Azure Virtual Machines](https://learn.microsoft.com/en-us/azure/virtual-mach

[2022-11-12 23:47] AaronMaxwell commented on #100967
Azure Cafe Sample App: https://github.com/AaronMaxwell/AzureCafe
PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/218157
#please-close

[2022-11-12 23:47] #100967 closed

[2022-11-13 00:22] MarcosMMartinez opened #101347 "AGIC does support self-signed certificates - documentation needs update"
This note is incorrect:

![image](https://user-images.githubusercontent.com/29489962/201499740-525741a6-3dd5-4c67-864d-946f36d4a50a.png)

AGIC does support self signed certificates now per: https://azure.github.io/application-gateway-kubernetes-ingress/tutorials/tutorial.e2e-ssl/#setup-ingress-for-e2e
I've verified.

Furthermore, the following annotation also needs to be added to this doc:
appgw.i

[2022-11-13 01:57] justin-ruffin commented on #91290
This needs to be assigned as a higher priortity since this is security related issue with Azure AD B2C directory.

[2022-11-13 03:29] chiachang100 opened #101348 "There is a typo under "FHIR service" section"
[Enter feedback here]
There is a typo under "FHIR service" section, the text of "For more information about **MedTech**" should be "For more information about **FHIR**" instead.

**FHIR service**

- Azure Health Data Services includes support for FHIR service. The FHIR service enables rapid exchange of health data using the Fast Healthcare Interoperability Resources (FHIR®) data standard. For more

[2022-11-13 03:47] SaibabaBalapur-MSFT commented on #101343
@tshaiman
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-13 03:48] SaibabaBalapur-MSFT commented on #101344
@PFlorey
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-13 03:51] SaibabaBalapur-MSFT commented on #101345
@cjnova
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-13 03:53] SaibabaBalapur-MSFT commented on #101347
@MarcosMMartinez
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-13 03:54] SaibabaBalapur-MSFT commented on #101348
@chiachang100
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-13 04:27] IamMeenakshiMathur opened #101349 "Screenshots are OLD"
[Images show 5 APIs, old name Core SQL. Kindly change]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: ae249fe4-6c82-1a75-2d65-ebdf252b74ab
* Version Independent ID: 99c17cd9-8e38-9965-347c-d0581e7c2297
* Content: [Quickstart - Azure Cosmos DB for NoSQL client library for .NET](https://learn.microsoft.com/en-us/azure/c

[2022-11-13 05:02] oshihirii opened #101350 "Changes made via FTP program are not visible on the frontend of the web app"
I created a Web App with these specs:

Operating System: Linux
SKU: Free
Publish: Code
Runtime stack: Node 18 LTS

I FTP into the app (using WinSCP).

I change and save the default 'hostingstart.html' file.

24 hours later and the changes are still not reflected when viewing the app.

I tried stopping and starting the app and it made no difference.

I have googled "azure web app ftp changes not be

[2022-11-13 06:16] AjayBathini-MSFT commented on #101131
@delsehi
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-11-13 06:16] #101131 closed

[2022-11-13 06:20] #101204 closed

[2022-11-13 09:02] SauravB-MS opened #101351 "[DOC Update] [Doc Update] VIP swap operation is not supported on cloud service [CSES] with both public and internal load balancers."
[Enter feedback here]
Please update doc , under prerequisites, CS LB shouldn't reference PublicIPAndSubnet both.
Error:
[CloudServiceLoadBalancerShouldNotReferenceBothPublicIPAndSubnet] : Cloud service load balancer frontend IP configuration ************ should reference either public ip address or subnet but not both.
---
#### Document Details

⚠ *Do not edit this section. It is required for lear

[2022-11-13 09:15] AbbyMSFT commented on #100555
#assign: @v-jbasden

Hi Jaret - can you please replace the link in this article as per the request above?
Thanks,
Abby

[2022-11-13 09:40] bmansheim commented on #101284
#reassign: @ElazarK

[2022-11-13 10:56] pisaev opened #101352 "Example not aligned with Azure recommended best practices"
[Enter feedback here]
Hi,

The Azure recommended best practice for secured communication is to prefer to leverage the mechanisms like Azure System/Managed Identities for authentication over the use of connection strings with an embedded access token, however, the example in the documentation shows only the way to connect with connection strings which encourage the readers to use it as the default

[2022-11-13 13:56] ElazarK commented on #101275
@DeanGross Thank you for bringing this to my attention. I am looking in to it now and hope to have an update for you shortly.

[2022-11-13 14:05] ElazarK commented on #101284
@DeanGross Thank you for bringing this to my attention. I am looking in to it now and hope to have an update for you shortly.

[2022-11-13 14:23] EmreJM opened #101353 "403 Error when testing the Load Balancer"
Hi,

I'm getting:
403 - Forbidden: Access is denied.
You do not have permission to view this directory or page using the credentials that you supplied.

When entering the LB IP in address bar, any guidance on why and how this can be fixed? I did follow the official documentation.
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

[2022-11-13 14:25] JiriZidek opened #101354 "SKU "mariner" is wrong"
In the example, for mariner you state

`--os-sku mariner`

But correct is

`--os-sku CBLMariner`
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 8c420b2c-e868-9a6a-49fb-913f2cd007ef
* Version Independent ID: 5c543e08-7d75-21eb-9510-22e2cd56d16b
* Content: [Use multiple node pools in Azure Kubernetes Service (AKS) - Azur

[2022-11-13 14:37] SaibabaBalapur-MSFT commented on #101349
@IamMeenakshiMathur
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-13 14:39] SaibabaBalapur-MSFT commented on #101350
@oshihirii
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-13 14:39] MilosBrzi opened #101355 "SignalR docs - Minor syntax issue - error/err"
Great docs!

Please just fix minor syntax issue (error => err) in this paragraph
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 2bd09899-bf7e-da8d-921b-6770befa4b31
* Version Independent ID: 058bf2f8-c0e1-f70e-3136-17d37b7c17f3
* Content: [Use JavaScript to create a chat room with Azure Functions and SignalR Se

[2022-11-13 14:43] SaibabaBalapur-MSFT commented on #101351
@SauravB-MS
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-13 14:44] SaibabaBalapur-MSFT commented on #101352
@pisaev
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-13 14:46] SaibabaBalapur-MSFT commented on #101353
@EmreJM
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-13 14:47] SaibabaBalapur-MSFT commented on #101354
@JiriZidek
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-13 14:48] HakanL commented on #85021
Perhaps a stupid question, but how can I get the claim (added to the manifest as described above) from the access token? The access token I get is not a JWT format, and the MSAL library doesn't seem to offer a way to parse it. I'm using the Microsoft.Identity.Client (version 4.48) library. In my Winforms app I just need to authenticate a user against AzureAD and make sure their account has MFA ena

[2022-11-13 14:48] SaibabaBalapur-MSFT commented on #101355
@MilosBrzi
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-13 14:51] #101193 closed

[2022-11-13 15:55] arindam0310018 commented on #100012
Hello @kabharati
Thank you!!!
I can now see the changes made.
Thank you again for making the changes.

![image](https://user-images.githubusercontent.com/29681063/201531098-f1904590-5250-47d2-85e3-aaae783e7a3b.png)

Best Regards, Arindam Mitra

[2022-11-13 16:15] pgdrews opened #101356 "Screenshot for "Organizational Relationships - Settings" is outdated."
Screenshot in article is outdated.  Should be eliminated or updated with current options.

![image](https://user-images.githubusercontent.com/7563343/201532057-b3ea7899-79b1-4ce1-a152-046a9ae5b362.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 7bd8b41a-26fd-936b-5773-3eb158de253a
* Version Independent ID: eac9538

[2022-11-13 16:59] tspearconquest opened #101357 "The operation `Microsoft.Network/virtualNetworks/subnets/action` is missing from the "Azure resource provider operations" page"
Hello,

Recently I was working to create an Azure Database for Postgres Flexible Server with a private configuration, so I needed to make an update to our Terraform code to allow for subnet delegation.

In the page [here](https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/subnet#actions) is listed among several other operations: `Microsoft.Network/virtualNetworks/subne

[2022-11-13 17:28] davidjrh opened #101358 "Spanish localization of the What's New in Azure AD B2C page"
Hi,

I've noticed that the spanish localization of the "What's New in Azure AD B2C" page (https://learn.microsoft.com/es-es/azure/active-directory-b2c/whats-new-docs) is always behind two or three months behind the original english one (https://learn.microsoft.com/en-us/azure/active-directory-b2c/whats-new-docs). This probably happens for all other languages as well.

I'm curious about the localiz

[2022-11-13 17:34] Cloudlieu opened #101359 "Sample Data not downloadable from MS Learn Synapse Page"
# Unable to Download from MS Learn Synapse Page

Hi Team,
I was working to learn Synapse and while following the instructions unable to download the sample data from MS Website.

## Issue Description

While downloading the files from MS Learn URL, i am getting no public access enabled.

https://azuresynapsestorage.blob.core.windows.net/sampledata/NYCTaxiSmall/NYCTripSmall.parquet

I am also attach

[2022-11-13 18:24] IsaacASmith opened #101361 "Incorrect directions for adding secret on GitHub actions"
In the **Add the GitHub secret** section of this page, the directions tell you to Select **Security > Secrets and variables > Actions**, but it appears that the correct instructions should be: Select **Settings > Secrets > Actions**.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 9a0ad9be-7b06-1d81-0339-3776b7fedca2
*

[2022-11-13 18:29] rboucher commented on #77234
#reassign:@guywi-ms

[2022-11-13 18:32] rboucher commented on #100451
#reassign:@guywi-ms

[2022-11-13 18:33] rboucher commented on #100324
#reassign:@rboucher

[2022-11-13 18:33] IsaacASmith commented on #101361
PR created to update this section: https://github.com/MicrosoftDocs/azure-docs/pull/101362

[2022-11-13 20:40] amyndhupelia opened #101363 "How to configure multiple UI Clients calling the same backend?"
The Client ID is listed in appsettings with below

{
  "AzureAdB2C": {
    "Instance": "https://contoso.b2clogin.com",
    "Domain": "contoso.onmicrosoft.com",
    "ClientId": "<web-api-app-application-id>",
    "SignedOutCallbackPath": "/signout/<your-sign-up-in-policy>",
    "SignUpSignInPolicyId": "<your-sign-up-in-policy>"
  },
  // More settings here
}

How to **add a second client id** under

[2022-11-13 23:03] ForteUnited opened #101364 "Azure Container Apps and best practices for secure PaaS deployments"
Can/should this page be updated for discussion/clarity on Azure Container Apps. How does ACA fit into the PaaS services landscape and a secure posture related to other PaaS service and Defender for cloud.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 5e6dec1d-373d-292b-a0d2-98ed82b71e44
* Version Independent ID: 8833

[2022-11-13 23:09] DavidKlempfner opened #101365 "Missing link"
The section in https://learn.microsoft.com/en-us/azure/cosmos-db/nosql/sdk-connection-modes#service-port-ranges talks about the need for ports to be open, but provides no link to an article which explains how to open these ports. Please add a link to an article explaining this.
It also doesn't talk about Direct/HTTPS mode which is valid in SDK v2.

---
#### Document Details

⚠ *Do not edit this se

[2022-11-14 01:14] DavidKlempfner opened #101366 "Sentence doesn't make sense"
In https://learn.microsoft.com/en-us/azure/app-service/troubleshoot-intermittent-outbound-connection-errors#tcp-connections-and-snat-ports:

"Existing TCP sessions will fail when new outbound TCP sessions from Azure App Service source port. You can either use a single IP or reconfigure backend pool members to avoid conflicts"

The first sentence doesn't make sense, it sounds like there is more to

[2022-11-14 01:23] LinVince opened #101367 "Become a Microsoft-compatible FIDO2 security key vendor"
Hi,

We are a security key vendor (WiSECURE Technologies).
Regarding "Become a Microsoft-compatible FIDO2 security key vendor", our security key "AuthTron" has been approved by Microsoft. Also, we have shipped our security key to Microsoft office in the States for the final validation.

We would like to ask for urgent help and confirm if the Microsoft FIDO2 Authenticator project has received our s

[2022-11-14 01:29] vicancy commented on #101355
`err` is a variable name, and using `err` to shorthand `error` is widely applied in JS world.

[2022-11-14 01:36] SwathiDhanwada-MSFT commented on #100877
@dazinator Thanks for your feedback.

Assigning to content author @mumian  for review.

[2022-11-14 01:37] SwathiDhanwada-MSFT commented on #100833
@hailugebru Thanks for your feedback.

Assigning to content author @eedorenko  for review.

[2022-11-14 01:47] #101355 closed

[2022-11-14 01:53] jamesdplee opened #101368 "SSE vs Infrastructure Encryption"
Hi Team,

Could this documentation please be updated to provide additional clarity around SSE vs Infrastructure Encryption.

My understanding has been that SSE is encryption of Azure Storage data at rest. I.e., when it is persisted to storage. However the optional Infrastructure Encryption (for double encryption) now conflates this and notes -

-> SSE is encryption at the service layer
-> Infrastr

[2022-11-14 02:41] ManoharLakkoju-MSFT commented on #101356
@pgdrews
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-14 02:43] ManoharLakkoju-MSFT commented on #101357
@tspearconquest
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-14 02:46] ManoharLakkoju-MSFT commented on #101358
@davidjrh
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-14 02:48] ManoharLakkoju-MSFT commented on #101359
@Cloudlieu
Thanks for your feedback! We will investigate and update as appropriate.

It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!

[2022-11-14 02:54] ManoharLakkoju-MSFT commented on #101361
@IsaacASmith
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-14 02:54] thiruma0203 opened #101369 ""az ad app permission grant" does not work with Azure CLI v2.37.0. --scope argument is mandatory."
Tutorial describes below command to grant the permissions for the server application.

`az ad app permission grant --id $serverApplicationId --api 00000003-0000-0000-c000-000000000000`

However, this command fails with below error with Azure CLI v2.37.0

az ad app permission grant --id $serverApplicationId --api 00000003-0000-0000-c000-000000000000
**the following arguments are required: --scope**

[2022-11-14 02:56] ManoharLakkoju-MSFT commented on #101363
@amyndhupelia
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-14 03:00] ManoharLakkoju-MSFT commented on #101364
@ForteUnited
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-14 03:03] ManoharLakkoju-MSFT commented on #101365
@DavidKlempfner
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-14 03:06] ManoharLakkoju-MSFT commented on #101366
@DavidKlempfner
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-14 03:07] ManoharLakkoju-MSFT commented on #101367
@LinVince
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-14 03:10] ManoharLakkoju-MSFT commented on #101368
@jamesdplee
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-14 03:14] ManoharLakkoju-MSFT commented on #101369
@thiruma0203
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-14 03:25] MughundhanRaveendran-MSFT commented on #101076
@Lesrac , Hope my answer helps! I will close this issue for now. Feel free to reopen if required

[2022-11-14 03:25] #101076 closed

[2022-11-14 03:32] zakimal commented on #91431
I agree with this issue.

[2022-11-14 04:07] MayankBargali-MSFT commented on #101361
@IsaacASmith Thanks for updating the document. I will reach out to the content author and review your PR.
Once the PR is approved, it will be published soon. We appreciate the feedback!

[2022-11-14 04:19] shaktisingh-msft commented on #101365
Hi @ealsur,

Could you please look into this document update. Thanks

[2022-11-14 04:53] Visinghr commented on #101070
Thanks Yashika, I have submitted the request on the below given form.

Regards,
Vikrant Singh

Developer Support Engineer
Azure Identity
Customer Service & Support
* (+1) 855.425.1603 Ext 82176
*    ***@***.******@***.***>
*     9:30am-6::30pm Mon-Fri IST

Manager: Gautam Bhowal ***@***.******@***.***%7C>
You may contact the Premier Support for the next available engineer at +1-800-936-3100

***@*

[2022-11-14 04:54] ManoharLakkoju-MSFT commented on #101344
@PFlorey
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

@vimrang
Can you please check and add your comments on this doc update request as applicable.

[2022-11-14 04:56] ManoharLakkoju-MSFT commented on #101326
@fierylevi
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

@billmath
Can you please check and add your comments on this doc update request as applicable.

[2022-11-14 05:00] ManoharLakkoju-MSFT commented on #101330
@pinyuko
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

@roygara
Can you please check and add your comments on this doc update request as applicable.

[2022-11-14 05:00] YashikaTyagi-MSFT commented on #101225
@newsrpc
Thanks for your feedback! We have assigned the issue to author who will provide further updates.

[2022-11-14 05:24] SaibabaBalapur-MSFT commented on #101124
@KrishnaG-MSFT
Please review it.

[2022-11-14 05:27] #101255 closed

[2022-11-14 05:32] YashikaTyagi-MSFT commented on #101267
@jpdfr-msft
Thanks for your feedback! We have assigned the issue to author who will provide further updates.

[2022-11-14 05:37] Naveenommi-MSFT commented on #101264
@karl-petter-sj

Thank you for bringing this to our attention. I've assigned this issue to the author who will investigate and update as appropriate.

[2022-11-14 05:38] Naveenommi-MSFT commented on #101264
@mssaperla

Could you please review this and add your comments on this, update as appropriate.

[2022-11-14 05:38] SnehaAgrawal-MSFT commented on #100965
@DaemonWalker Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2022-11-14 05:38] #100965 closed

[2022-11-14 05:44] SnehaAgrawal-MSFT commented on #101044
@MarkvanderSalm Thanks for sharing the detailed feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2022-11-14 05:56] YashikaTyagi-MSFT commented on #101340
@jenniferf-skc
Kindly take a look at this issue and provide your inputs.
As per information from @Givary this is a document issue which he has confirmed from engineering team.
Please find the below ADO details related to this issue.
[Bug 2160197: IcM - EPM Alerts Not Working. No Configuration tab for Permission Analytics Triggers. - Boards (visualstudio.com)](https://identitydivision.visualstudio.

[2022-11-14 05:59] YashikaTyagi-MSFT commented on #101261
@jan-hudec
Kindly provide update on ask from @nickludwig.

[2022-11-14 06:03] DavidKlempfner opened #101376 "Add more info"
https://learn.microsoft.com/en-us/azure/cosmos-db/nosql/conceptual-resilient-sdk-applications#connectivity-modes

It says "Direct mode uses the TCP protocol". This is only true for v2 if you set `ConnectionPolicy.ConnectionProtocol` to `Tcp`, otherwise it'll use HTTPS. I think this should be included here for clarity since Direct/HTTPS is a valid mode in v2.

See this answer:
https://stackoverflow

[2022-11-14 06:04] tfbubu111 opened #101377 "Azure FW + internal load balancer, traffic inside AKS cluster will have problem to go internet"
[Enter feedback here]
When creates AKS with UDR, uses internal loadbanlacer as inbound,  it may have issue with adding the route:
az network route-table route create -g $RG --name $FWROUTE_NAME_INTERNET --route-table-name $FWROUTE_TABLE_NAME --address-prefix $FWPUBLIC_IP/32 --next-hop-type Internet
https://learn.microsoft.com/en-us/azure/aks/limit-egress-traffic#create-a-udr-with-a-hop-to-azure-fi

[2022-11-14 06:07] zakimal opened #101378 "Update notes on auto backup feature for Azure Functions"
# Desciption

The following link describes the auto backup feature for Azure Functions.

https://learn.microsoft.com/en-us/azure/app-service/manage-backup?tabs=portal#does-azure-functions-support-automatic-backups

Function apps hosted on the Basic plan can also use the auto backup feature and should be modified like below:

---

# Azure documentation issue guidance

Thanks for opening an issue in