[2019-08-13 00:32] #36919 closed

[2019-08-13 00:32] #36908 closed

[2019-08-13 00:32] daveRendon opened #36961 "Missing JS sample or clarification whether if it´s supported or not"
Would be very useful to add a note whether if a user have to enable this feature on js or not

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e73d0530-fbc3-e58e-3a32-f68c6d58d987
* Version Independent ID: e0ff21e6-25da-f067-252f-d78384ab3daa
* Content: [Send user context IDs to enable usage experiences in Azure Applicat

[2019-08-13 00:33] FrankHu-MSFT commented on #36903
Hey @mvancamp  I'm following up on this could you please respond at your earliest convenience? It looks like you might have an issue with your environment, and the github issues are really meant for issues with the docs.

I can continue troubleshooting with you in regards to this, but it may require a deeper look into the existing environment to figure out what's going on in regards to this.

[2019-08-13 00:33] #36961 closed

[2019-08-13 00:33] #36902 closed

[2019-08-13 00:33] daveRendon commented on #36961
duplicated

[2019-08-13 00:33] #36797 closed

[2019-08-13 00:35] JnHs commented on #36763
@alphasteff Sorry to hear it's not working. I'm not sure how else to troubleshoot, so you may want to open a support ticket to get more help with this. Info here: https://docs.microsoft.com/en-us/azure/lighthouse/concepts/azure-delegated-resource-management#support-for-azure-delegated-resource-management

[2019-08-13 00:48] kalittles opened #36962 "C# MongoDB API Driver Not Binding a Field from CosmosDB"
I am using MongoDB API in Cosmos DB. I have created a collection called Conversations. It has this schema:

[code]

I'm trying to retrieve all of the fields when I query for it, but for some reasons, the Participants list is empty.

This is how I create a conversation:
[code]

This successfully saves a conversation that looks like this in CosmosDB:

[code]

When I try to retrieve the messages, I u

[2019-08-13 00:58] Adam-Smith-MSFT commented on #36943
@stewartadam Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-08-13 01:09] joshlang opened #36963 "Example seems wrong"
[code]

This doesn't seem right.  Perhaps the `Where` clause should be `parent =&gt; parent.FamilyName == "Wakefield"`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7af26f57-f473-916a-bd4d-0918ef9eefcd
* Version Independent ID: b553182a-4d34-96d6-219e-1abbd031c642
* Content: [LINQ to SQL translation in Azure Cosmos DB

[2019-08-13 01:12] jlee-vi opened #36964 "Sign-ins Report - Content is out of date with Portal"
Hi Team,

Just a friendly message to let you know that the graphic and instructions used for the "Sign-ins report" section of this article is out-of-date.

The graphic shows an old Azure portal, and the instructions refer to the old portal also.

The update now has this section found within "Monitoring" within Azure AD. The option is still referred to as "Sign-ins". It's only the heading that has

[2019-08-13 01:24] dcbrown16 opened #36965 "Python and JAR"
Besides the Databricks Notebook, I believe the list of transformation activities should now also contain Databricks Python and Databricks JAR activities.
https://docs.microsoft.com/en-us/azure/data-factory/transform-data-databricks-python
https://docs.microsoft.com/en-us/azure/data-factory/transform-data-databricks-jar

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2019-08-13 01:30] YutongTie-MSFT commented on #36808
@vijayanandrav Hi, for now we don't have a function to retrain the model directly with additional data. But I highly recommend you to post your idea to https://cognitive.uservoice.com/forums/555934-custom-speech-service the UserVoice forum. The engineering team will review it and update the product accordingly. Thank you.

We will now proceed to close this thread. If there are further questions re

[2019-08-13 01:30] #36808 closed

[2019-08-13 01:38] MoRMongol commented on #36892
@roygara Thanks for your response. Let me clarify it if I can. If you know how "Exavault" works, it'll be very easy to understand. The following scenario is what we're trying to resolve with Azure.

Let's say, I own this 3d design company. We make 3d models for our customers. We create this online shared folder for a certain customer only. Let's say it's a phone case making company called "Smart C

[2019-08-13 01:43] cynthn commented on #13518
@roygara

[2019-08-13 01:54] swinarko commented on #36904
You can still use Win Auth for your Azure-SSIS IR to connect to your SQL VM, see

https://docs.microsoft.com/sql/integration-services/lift-shift/ssis-azure-connect-with-windows-auth?view=sql-server-2017

You can now use AAD Auth w/ ADF managed identity for your Azure-SSIS IR to connect to your SQL MI, see

https://docs.microsoft.com/sql/integration-services/connection-manager/ole-db-connection-man

[2019-08-13 02:29] CharmanderJieniJieni opened #36966 "Custom script extension does not support sub folders in container"
I Have a custom extension powershell script with following content:
'echo 'hello' | Out-File -FilePath D:\\\\hello.txt'

I uploaded this file as .ps1 script to storage account /subscriptions/{subscription_id}/resourceGroups/{resource_group}/providers/Microsoft.Storage/storageAccounts/{storageAccount} blob container {Container A} and the script can execute with no issue.

However, if I create a sub

[2019-08-13 02:34] Darko-git opened #36967 "Cannot find code snippets on Github"
At the top of the page, we are told that code snippets are taken from two working samples:
https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/2-WebApp-graph-user/2-1-Call-MSGraph
https://github.com/Azure-Samples/ms-identity-aspnet-webapp-openidconnect

The first link is referenced once more, just before a code snippet.

I looked at Startup.cs in both o

[2019-08-13 02:39] robmaw commented on #36796
I can confirm what @loup73 has described. In my test tenant I see:</br>
![image](https://user-images.githubusercontent.com/48315918/62911244-01ed9600-bdc7-11e9-82d4-738e3a6112d3.png).

Nothing shown for 'Azure Smart': </br>
![image](https://user-images.githubusercontent.com/48315918/62911293-32cdcb00-bdc7-11e9-9ec2-c5972028168b.png)

[2019-08-13 02:42] KingdomOfEnds commented on #36796
Thanks @robmaw and @loup73 - I've pinged the engineering team.

[2019-08-13 02:46] femsulu commented on #36949
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-08-13 03:07] mohamedsaif commented on #23789
This is what I did based on @palma21 mentioned:
**aks-dashboard.sh**
[code]

[2019-08-13 03:09] KingdomOfEnds commented on #36796
@robmaw , @loup73 - Thank you very much. I've confirmed with the engineers that the exact search result may vary depending on the tenant you belong to. I've corrected our documentation and you should see a change shortly. Thanks again!

[2019-08-13 03:10] RyanHill-MSFT commented on #36730
@Arash-Sabet I've heard back from the team. There are two conditions when `GetEndpointsForGroup` is invoked.

1. There are multiple endpoints configured for the running web application
2. There is a Group related message sending from the web application, e.g. in the `Hub` class, call `Clients.Group("groupName").SendAsync(...)`

In regards to clarification to what "connection" is meant in server ro

[2019-08-13 03:31] Syncret commented on #36916
We just identified this is a bug of ADF UI. It's caused by a design change of ADF which splits tableName into schema and table, leading the validation failed to pass. Currently we are working on the fix, to work around it, you can append **&feature.splitTableName=false** to the end of the ADF web's url to temporarily disable this feature and create a new sql dataset. Or you can also click the code

[2019-08-13 03:50] srinihp commented on #36556
I have checked this document, the way listener is implemented and available differs between Windows & Linux. So this is not of much help.

So this goes back to my initial questions:

Need instructions on how to assign Floating IP in Linux.

Is there a way that the System (VM) which has the Floating IP address assigned will be the one that serves that request always. Although the service is active

[2019-08-13 03:58] nateforsyth opened #36968 "Cannot add inline Code snippet to an Azure Logic App"
I have read this article and am absolutely positive that it's perfect for our use case (token replacement of body variables); my problem? I cannot add the snippet within Logic Apps.

I note that it is labelled as "Preview", is it still meant to be available? If so, how do I enable it?

**EDIT**

I've tried to add a node manually but I am receiving the following message within Visual Studio (2017):

[2019-08-13 04:21] lukeb1961 opened #36969 "broken link to app.js"
"The app.js file of"
if you click on the link you get a 404.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08836ace-1fd0-b59b-18ce-6e615fe86c5b
* Version Independent ID: 193861e9-5a1c-82b1-bc92-7e68b7263662
* Content: [Node.js examples for Azure Cosmos DB](https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-nodej

[2019-08-13 04:22] lukeb1961 opened #36970 "no example for offer get or update"
examples would be extremely useful regarding offers.
get the existing RU's, alter, do some stuff, reset RU's

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08836ace-1fd0-b59b-18ce-6e615fe86c5b
* Version Independent ID: 193861e9-5a1c-82b1-bc92-7e68b7263662
* Content: [Node.js examples for Azure Cosmos DB](https://docs.m

[2019-08-13 04:27] SeaDude commented on #36257
I appreciate the offer. I'll just let this one close. Not a priority for any projects at the moment. Thanks.

[2019-08-13 04:35] KetanChawda-MSFT commented on #36968
@nateforsyth Thanks for posting your question. Have you linked your Logic App with an Integration account which is a prerequisite to use Inline Code action described [here](https://docs.microsoft.com/en-gb/azure/logic-apps/logic-apps-add-run-inline-code#prerequisites).

[2019-08-13 04:36] #36790 closed

[2019-08-13 04:36] KalyanChanumolu-MSFT commented on #36950
@iruvetar Thank you for reporting this issue.

As mentioned on the article, the SDK targeting .NET Framework will be deprecated soon.
The documentation for the newer SDK which targets .Net Standard is [here](https://docs.microsoft.com/en-us/azure/cosmos-db/table-sdk-dotnet-standard)

[2019-08-13 04:40] KetanChawda-MSFT commented on #36951
@tiwari-abhishek Thank you for your question! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

If the issue is not related directly to the doc, I would recommend you to create a thread on the forums- [MSDN](htt

[2019-08-13 04:41] KalyanChanumolu-MSFT commented on #36950
@wmengmsft I cant find the references to microsoft.azure.cosmosdb.table namespace on https://docs.microsoft.com/en-us/dotnet/api/

Could you please update the doc as applicable.

[2019-08-13 04:46] KalyanChanumolu-MSFT commented on #36955
Thank you for your interest in Azure Database for PostgreSQL
This issue is being assigned to the content author to help you with the timelines.

[2019-08-13 04:48] PramodValavala-MSFT commented on #36959
@Infinitism Thanks for the feedback! We will review and update accordingly.

[2019-08-13 04:49] Alberto-Vega-MSFT commented on #36645
@lkoppenol Sorry for the delay. I am reaching out internally I will update you as soon I heard back!

[2019-08-13 04:49] VikasPullagura-MSFT commented on #36966
@CharmanderJieniJieni Thanks for the feedback. We are investigating on this and will update you shortly.

[2019-08-13 04:50] KetanChawda-MSFT commented on #36780
@whataride Checking in to see if the above post helped answering your question.

[2019-08-13 04:54] omerzubair commented on #28109
Azure Automation Account are unable to run the Az commands. I have updated all modules from AzureRM -> Az.

Error:
====
Get-AzKeyVaultSecret : The 'Get-AzKeyVaultSecret' command was found in the module 'Az.KeyVault', but the module could not be loaded. For more information, run 'Import-Module Az.KeyVault'.
Started using Add-AzAccount command in the runbook and now there is no error but runbook say

[2019-08-13 05:00] KetanChawda-MSFT commented on #36858
@ToMakeSense In my test it is `StorageV2 (general purpose v2)` and the logs are getting created.

Try re-configuring diagnostics settings after deleting the existing one and see if it works for you.

Note that it will take some time to reflect the logs in the container in your storage account.

[2019-08-13 05:01] jorgecarleitao opened #36971 "Explain that these are passed as env variables"
"In App Service, you use app settings like environment variables." This does not explain which env variables and where they are injected.

A better wording would be "In App Service, app settings are variables passed as environment variables to the application."

Also, there is no reference to docker images. These app settings are passed to the docker container as `-e ...`, would also be useful to

[2019-08-13 05:04] Alberto-Vega-MSFT commented on #36639
@TiNovTec Thanks for sharing the link. I reached out internally with the link to your issue.

[2019-08-13 05:05] PramodValavala-MSFT commented on #36959
@Infinitism The links for the corresponding services are provided under the [`Authentication and authorization`](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-azure-and-service-bus-queues-compared-contrasted#authentication-and-authorization) section for their SAS based authentication/authorization.

Also, both of them now support identity-based security as well. Here is

[2019-08-13 05:10] jakaruna-MSFT commented on #36962
@kalittles
Thanks for the question! We are investigating and will update you shortly.

[2019-08-13 05:10] mvancamp commented on #36903
Hi @FrankHu-MSFT, sorry for posting this on the wrong thread and I'm in the Central European Time zone, that's why I respond only now.
As you said the application runs on a work computer joined to the work's domain.  It is an application with a WPF UI and WCF services that we are migrating towards Azure.  Authentication was previously done on LDAP.  For the migration we like to authenticate agains

[2019-08-13 05:11] jakaruna-MSFT commented on #36962
@kalittles Let us know the document URL if you are following one

[2019-08-13 05:12] jakaruna-MSFT commented on #36897
@Mr-Sharma Did you got a chance to look at my previous comment?

[2019-08-13 05:13] jakaruna-MSFT commented on #36897
@ChristianMontoya @Heidilohr Please add your comments .

[2019-08-13 05:13] ANGULARANJEET commented on #28216
It's good Approach ,Please share the steps along with the real time Images also Thanks. For the simple and straight forward requirement : https://www.linkedin.com/pulse/simply-deploying-apps-api-web-wcf-services-azure-ranjeet-bhargava-/

[2019-08-13 05:14] SumanthMarigowda-MSFT commented on #36954
@marknettle Thanks for your question. We are checking on this and will respond to you soon.

[2019-08-13 05:16] Kris-Patil commented on #35732
Hello @shashishailaj , @FrankHu-MSFT :

Can you please confirm the above behaviour?

Thanks.

[2019-08-13 05:17] SnehaAgrawal-MSFT commented on #36971
@jorgecarleitao Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-13 05:17] jakaruna-MSFT commented on #36703
@abelal83
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-08-13 05:17] #36703 closed

[2019-08-13 05:17] jakaruna-MSFT commented on #36710
@PabloBotas Did the suggestions help

[2019-08-13 05:23] iamanuradha commented on #36641
PFA error.png, displaying
"AllocationFailed : Desired number of low priority nodes could not be
allocated. Instances of the specified VM size are not currently available.
Please retry later, try reducing the VM size or number of instances, or try
deploying to a different region"
Please let me know what am I missing or suppose to do to resolve this issue.

On Mon, Aug 12, 2019 at 10:38 PM hchandola

[2019-08-13 05:26] KalyanChanumolu-MSFT commented on #36957
@dmarlow Thank you for reaching out. We are actively investigating and will get back to you soon.

[2019-08-13 05:32] BharathNimmala-MSFT commented on #36667
@TylerGross-SBS Thank you for the question. Inactive issues make it difficult for us to track what is being worked on so we close them if there is no response. but that doesn't mean the conversation has to be over. Please tag me in your reply and we'll be more than happy to continue the conversation and we can pick it up again right away. Thank you for your support.

[2019-08-13 05:32] #36667 closed

[2019-08-13 05:32] neeleshray-msft commented on #36967
@Darko-git  Thank you for your query. We will check it with the engineering internally and let you know accordingly.

[2019-08-13 05:33] neeleshray-msft commented on #36964
@jlee-vi Thank you for the update. We will check it with the engineering internally and let you know accordingly.

[2019-08-13 05:34] neeleshray-msft commented on #36960
@StephenFerrero  Thank you for your query. We will check it with the engineering internally and let you know accordingly.

[2019-08-13 05:35] neeleshray-msft commented on #36953
@rvahaver  Thank you for your query. We will check it with the engineering internally and let you know accordingly.

[2019-08-13 05:41] jakaruna-MSFT commented on #36875
@theheatDK Thank for your detailed reply.
I dont have info about DNS restriction.
I will check with the internal team about plans for DNS restriction and update you

[2019-08-13 05:47] robertwe commented on #20737
I can confirm this issue is still very much valid. `az network nic list -g <name>` shows me empty result.

[2019-08-13 05:51] ChiragMishra-MSFT commented on #36633
@hung-doan I will now proceed to close this issue. Feel free to still comment if you have any queries.

[2019-08-13 05:51] #36633 closed

[2019-08-13 05:52] KrishnaG-MSFT commented on #36794
@git001 Verified and updated the document as required. Thanks.

[2019-08-13 05:52] #36794 closed

[2019-08-13 05:53] KrishnaG-MSFT commented on #36843
@whihathac Verified and updated the document as required. Thanks.

[2019-08-13 05:53] #36843 closed

[2019-08-13 06:16] hchandola commented on #36641
Like the error says the vm size (NC6 is a gpu vm) is not available in this region in your subscription. You can try a different region and see whether they are available there.

[2019-08-13 06:17] DixitArora-MSFT commented on #36767
@miaojiang Just following up again in case missed the previous communication.

[2019-08-13 06:18] CHEEKATLAPRADEEP-MSFT commented on #36965
@dcbrown16 Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/85190](https://github.com/MicrosoftDocs/azure-docs-pr/pull/85190).
The changes should be live EOD or tomorrow. We will now close this issue. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to ta

[2019-08-13 06:18] #36965 closed

[2019-08-13 06:21] iricigor opened #36972 "CNAME domain validation - examples clarifications"
Please unify all examples for CNAME validation as it is not clear. In screenshots, there are examples with many different CDNs and custom domains. None of them is using www, but CNAME example line says www.contoso.com. Is it required to use www, or I can just create CNAME from contoso.com? Maybe it would be good to mention both in examples for full clarification? Also, there are symbols &lt; &gt;

[2019-08-13 06:29] loup73 commented on #36796
Dear All,

I don’t see any service starting with Azure Smart, search result list is empty.
I can find Azure Digital Twins, but no deployer or dev strings at the end. But the id is the one you display below.

Thanks & Br,

Lorant

From: Adam Gerard <notifications@github.com>
Sent: Monday, August 12, 2019 10:36 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Farkas, Lorant (Nokia

[2019-08-13 06:33] Mr-Sharma commented on #36897
"https://docs.microsoft.com/en-us/azure/virtual-desktop/". This is the Document I'm referring to deploy **Windows Virtual Desktop**. By the end of this tutorial, we can connect to our **WVD** using the web client URL: "https://rdweb.wvd.microsoft.com". Can we change this URL to include our domain?

[2019-08-13 06:38] snehithm commented on #36942
The document is updated explicitly calling this out.

#please-close

[2019-08-13 06:38] #36942 closed

[2019-08-13 06:44] KetanChawda-MSFT commented on #36788
@ToMakeSense Than ks for the feedback. I will pass on this feedback to the Engineering team. Since there is no doc update required at the moment, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-13 06:44] #36788 closed

[2019-08-13 06:45] KetanChawda-MSFT commented on #36707
@ToMakeSense As of now Logic Apps is not available in the France Central region and EUAP regions are Early Updates Access Program - These are special regions in Azure.

[2019-08-13 06:49] ToMakeSense commented on #36858
@KetanChawda-MSFT  I created a new `StorageV2 (general purpose v2)` without **Data Lake Storage Gen2** option,  the logs container were created in this storage account. just because I used a storage account enabled **Data Lake Storage Gen2** option(In this way. **it had a file system service instead of blob**).
![image](https://user-images.githubusercontent.com/6244148/62920266-cd360a80-bdd7-11e9-

[2019-08-13 06:52] SABARISHV06 commented on #36870
@KalyanChanumolu-MSFT sorry when I tried now I couldn't see the error now. Thanks for your time.

[2019-08-13 06:52] #36870 closed

[2019-08-13 06:52] seanbetts commented on #31280
Hi @MartinJaffer-MSFT, thanks for getting back to me. Below is an image of my pipeline logic:
![IMG_0367](https://user-images.githubusercontent.com/19579294/62921010-b7a8ec80-bda7-11e9-875b-b20fdb098644.jpeg)

[2019-08-13 06:59] neeleshray-msft commented on #36879
@MicrosoftGuyJFlo
John, could the script be corrected ?

[2019-08-13 07:04] ChiragMishra-MSFT commented on #36854
@djpmsft Can you please take a look at this ?

[2019-08-13 07:13] Shaktikantpadhi commented on #36648
@DarrinEide
Thanks for your response. Essentially, I am trying to get the details of a specific paper (title and paper extended metadata attributes content) by the help of DOI instead of paper id.
Example:- if I have E.DOI='10.1145/2740908.2742839', then how to get the paper content by the help of DOI?

[2019-08-13 07:26] candidson commented on #36916
The workaround with the URL parameter works for me! Thanks!

[2019-08-13 07:28] djpmsft commented on #36854
Hi there,

Can you elaborate on what the exact ask is? Are you trying to deploy a pipeline with a custom activity? Are you wondering on how to trigger a pipeline with a custom activity?

Thanks,
Daniel

[2019-08-13 07:29] naile commented on #23915
@yegu-ms do you have any update on the timeline for availability of Redis v4+? Redis latest stable is now 5.0 and it's hard getting such old versions as 3.x running locally because it's so old it's not even available in many package managers anymore.

[2019-08-13 07:34] jhgbrt opened #36975 "Link to 'Remote debugging and SSH in App Service on Linux' goes to blog home"
The link 'https://aka.ms/linux-debug' ('Remote debugging and SSH in App Service on Linux') does not lead to a page explaining the topic. Seems disappeared??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b421fa01-1f39-28a5-78c2-63dd5700c8c5
* Version Independent ID: 10ed9c91-16e0-d371-fcfc-d6d5a7f984b2
* Content: [App

[2019-08-13 07:39] lkoppenol commented on #36638
no errors, just 0 Targeted, 0 Applied. Waiting does not help. Using Ubuntu however does work. I call this from Azure DevOps Release Pipeline now, from Azure CLI on Ubuntu. This works so the problem for me is solved. Just my local tests failed. From my amateur point of view it seems like the * is escaped, and when changing anything on iot hub portal the * is unescaped when saving. Changing nothing

[2019-08-13 07:44] Nealcly opened #36976 "SocketException: An existing connection was forcibly closed by the remote host in multi-participant conversations with the Speech SDK"
Hi I'm trying to use the transcribe multi-participant conversations. However, when I try to create voice signatures for participants, there is an error:
SocketException: An existing connection was forcibly closed by the remote host

What should I do? Thanks for your help.

[2019-08-13 07:54] yuriwoof opened #36977 "Doc needs to clarify the behavior of public key upload"
Sometimes I get a question regarding supported format.
When I generate public/private key, keys have ssh.com(SECSH) format using puttygen.
But the action I should take is different by Azure portal and CLI (Azure CLI/Azure PowerShell).

Azure PowerShell: I can upload the public key as ssh.com(SECSH) format
CLI                       : I should convert the key into OpenSSH format.

---
#### Document

[2019-08-13 07:55] monhaber commented on #36890
Hi - I will disciss with a Product Manager and get back to you soon.

[2019-08-13 08:00] imeya opened #36978 "Not very clear handled/unhandled exception tracking in mvc/web api in application insights."
In [these section](https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-exceptions#mvc) about MVC and web api in application insights, it says: All exceptions handled by application still need to be tracked manually. Unhandled exceptions originating from controllers typically result in 500 "Internal Server Error" response. If such response is manually constructed as a result of handled

[2019-08-13 08:11] whataride commented on #36780
@KetanChawda-MSFT Many thanks for checking. We will try Event Grid and will let you know how that works for us.

[2019-08-13 08:13] perkops opened #36979 "Import behavior - ImportMode - Create - Confusing Description"
If a device does not exist with the specified ID, it is newly registered.
If the device already exists, an error is written to the log file.
The user can optionally specify twin data along with the device data. The twin’s etag, if specified, is processed independently from the device’s etag. If there is a mismatch with the existing twin’s etag, an error is written to the log file.

If its a create

[2019-08-13 08:23] woodyard opened #36980 "Spelling correction"
Regarding the phrase: "When upgrading from a version of Azure MFA Server older than 8.0 to 8.0+ that the mobile app web service can be uninstalled after the upgrade"

Is should be "....older than 8.0 to 8.0+ THEN the mobile app web service can be uninstalled...."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 86e190f4-

[2019-08-13 08:24] KalyanChanumolu-MSFT commented on #36963
@joshlang Thank you for reporting this issue.
I see that there is an open pull request from the community to fix this issue.
The changes should be live in the next 24 hours

[2019-08-13 08:24] KetanChawda-MSFT commented on #36780
@whataride Since there is no doc update required at the moment, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-13 08:24] #36780 closed

[2019-08-13 08:33] KetanChawda-MSFT commented on #36858
@ToMakeSense Yes it will not create logs if the storage is of type Data Lake Storage Gen2. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-13 08:33] #36858 closed

[2019-08-13 08:33] VikasPullagura-MSFT commented on #36966
@CharmanderJieniJieni I have reproduced the issue you reported.

You have to add the script name along with relative path of the sub-folder when you want to run the script from Extensions.
In my case while running the script through Custom Script Extension, I gave relative path of the ps file name as shown below and the script was successfully downloaded and executed as expected.

`Set-AzVMCustomS

[2019-08-13 08:38] PramodValavala-MSFT commented on #36948
@axisc @clemensv Could you please share insights on this?

[2019-08-13 08:39] FunkEinstein commented on #29978
I want to know is this issue fixed? @jeevansd says that "we will update this GitHub item once we fix the issue on our side" but a long time any information about this bug doesn't appear.

[2019-08-13 08:40] SubhashVasarapu-MSFT commented on #36972
@iricigor, Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-08-13 08:46] Syncret commented on #36916
The fix has been deployed. Refresh the webpage and the issue should be gone. Thanks.

[2019-08-13 09:04] ToMakeSense commented on #36858
@KetanChawda-MSFT Not sure if it's better to document about this "it will not create logs if the storage is of type Data Lake Storage Gen2" in the documatation. or, adding verification (portal, script, SDK) so that the storage account without blob service cannot be the target storage account for setting up "Diagnostics settings"

[2019-08-13 09:06] TiNovTec opened #36982 "Clean up resources ? --No "delete" option for specific anchors in the DB ?"
The article only describes how to completely delete all resources like for examples all the Spatial Anchors in the Cosmos DB by deleting the whole resource group.
But I'd also like to know, optimally in this demo, how to delete specific Spatial Anchors in the Cosmos DB from within the Unity app.
Are there any examples or documentation available yet ?

---
#### Document Details

⚠ *Do not edit this

[2019-08-13 09:07] gw111zz opened #36983 "Example code in IoT Edge C module tutorial is incomplete"
The tutorial asks the user to paste in code into the template solution as part of the tutorial. This example code contains two macros: ENUM_TO_STRING and __FAILURE__ which are not defined in the tutorial or the template.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cbadb895-ea0b-0415-de1d-f40252981a5b
* Version Indep

[2019-08-13 09:07] andikrueger commented on #36139
Looking for a define answer too. It would be great to have a more detailed overview on this topic - especially in regards of this preview feature: https://docs.microsoft.com/de-de/sharepoint/sharepoint-azureb2b-integration-preview

[2019-08-13 09:11] OjasviBhargava commented on #36853
@Adam-Smith-MSFT I believe this was a generic question, not relating to any subscription I have or anything. Just wanted to know more about Microsoft Managed Failovers, especially about the two questions I asked. It'd be great if you provide me with that info here itself, or maybe update the docs a little more accordingly. Thanks.

[2019-08-13 09:22] Shreyasnie commented on #36500
@Alberto-Vega-MSFT  sorry for the late response i have raised ticket, and Microsoft team told me that it looks bug. but i haven't got the complete details yest.

[2019-08-13 09:22] angoyal-msft commented on #36862
@hhubik Thanks for the response. @markjbrown Could you please comment on why count(*) is not working. Also, there is no information on MIN and MAX aggregation function.

[2019-08-13 09:23] Shreyasnie commented on #36500
Can you please reopen this ticket?

[2019-08-13 09:23] SuperSing commented on #36904
Which version of Visual Studio /SSIS Designer do you suggest for configuring property for "Managed Identity" ? Talking about this link : https://docs.microsoft.com/sql/integration-services/connection-manager/ole-db-connection-manager?view=sql-server-2017#managed-identities-for-azure-resources-authentication

[2019-08-13 09:24] angoyal-msft commented on #36969
@lukeb1961 Thanks for the valuable feedback. I'll assign this issue to the content author for updating the document appropriately.
@deborahc Could you please look at this issue and update the document accordingly.

[2019-08-13 09:30] swinarko commented on #36904
At the bottom of that page, you can find the link for the latest SSDT: https://docs.microsoft.com/sql/ssdt/download-sql-server-data-tools-ssdt?view=sql-server-2017.

[2019-08-13 09:38] SuperSing commented on #36904
Thanks. I shall try that. Please close the case.

[2019-08-13 09:41] lanicolas opened #36984 "Duplicated word"
Hi, on the "Verify appliance settings for assessment" section, the step 1 has written "Verify" twice.

There is also a small typo on "Prepare for agentless VMware migration" step 4, it is closed with a bracket

Review appliance requirements for agentless migration.]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ee1443

[2019-08-13 09:50] squasta commented on #36941
Hi. My mistake, after a deployment Edge Hub is effectively setup automatically. So I was confused because of the result of iotedge check. May be an additional note in the documentation about the result of sudo iotedge list after initial setup (having only edgeAgent container running if no deployment have been done) could be a good idea :). thanks anyway for this quick answer.

[2019-08-13 09:54] #36941 closed

[2019-08-13 10:13] angoyal-msft commented on #36970
@lukeb1961 Thanks for the valuable feedback. I'll assign this issue to the content author for updating the document appropriately.
@deborahc Could you please look at this issue and update the document accordingly.

[2019-08-13 10:20] candidson commented on #36916
Awesome! Thanks a lot!

[2019-08-13 10:28] ram-msft commented on #36976
@Nealcly Thanks for the feedback. We are investigating the issue and will update you shortly.

[2019-08-13 10:34] amigup commented on #35072
@cijothomas - Can you please assist on this query?

[2019-08-13 10:40] msrini-MSFT commented on #36899
@sarojkpr , Do you have any update on this issue.

[2019-08-13 10:51] chojrak11 commented on #36984
Also in "Prepare for agent-based VMware migration" section point 2 is bizarre, telling about "Set up an account to access the vCenter Server with the required permissions for **agentless migration**". Why is that?

[2019-08-13 10:59] asif1191 opened #36986 "How to access Container shell in azure portal"
Hi,

I am very new in Azure portal. I am getting error when trying to deploy webservice , as model path is not correct. Hence I will below code in azure shell to find out exact model path in azure portal.

from azureml.core.model import Model
import logging
logging.basicConfig(level=logging.DEBUG)
print(Model.get_model_path(model_name='my-best-model'))

Please advise from where I will access conta

[2019-08-13 10:59] SnehaAgrawal-MSFT commented on #36971
@jorgecarleitao Thanks again for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-08-13 11:01] Pycorax opened #36987 "Instructions are not updated for v1.3"
Version 1.3 uses AR Foundation instead of the native platform AR APIs. AddARAnchor() is no longer present and seems to be replaced by CreateWorldAnchor() ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 47ed5367-ee97-31a2-78ff-dd98e5c23d24
* Version Independent ID: 2e975197-ca07-351a-f538-372500c0cc8f
* Content: [How t

[2019-08-13 11:04] abij commented on #36888
Publishing the function using the `func` command-line tools works. After some research into the `azure-functions-core-tools` we have found that its building a `.python_packages` folder with the packages copied from the temp-dir virtual-env.

The creation of the virtual-env in the folder `.python_packages` works in the build-pipeline.

[2019-08-13 11:05] bobbytreed commented on #36366
I have reached out to the Engineering team for them to fix

[2019-08-13 11:15] TiagoBonin opened #36988 "Not enough examples"
No examples on how to map an existing user to a new database, or even a query to get the user permissions already set

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 429955f9-093b-70bd-9461-4269ad2eb8e9
* Version Independent ID: 9aad7a41-bca9-9159-0cc7-c79516648857
* Content: [Azure SQL logins and users](https://docs.mi

[2019-08-13 11:16] bobbytreed commented on #36921
THANKS!! I have updated the doc with Gallery steps that precede the portal alternative. #please-close

[2019-08-13 11:16] #36921 closed

[2019-08-13 11:23] AjayKumar-MSFT commented on #36975
@jhgbrt, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-08-13 11:35] sarojkpr commented on #36899
Sure, thanks for the update. If possible can we update it in document.

[2019-08-13 11:35] #36899 closed

[2019-08-13 11:37] msrini-MSFT commented on #36930
@avooca , Here is an example,

If you apply NSGs to the AzureBastionSubnet, allow the following two service tags for Azure Control plane and Infrastructure:

GatewayManager (Resource Manager only): This tag denotes the address prefixes of the Azure Gateway Manager service. If you specify GatewayManager for the value, traffic is allowed or denied to GatewayManager. If you are creating NSGs on the A

[2019-08-13 11:37] solankisamir commented on #36779
Switching between dev and premium or vice-versa will not change an IP, unless it is a Vnet type change. Please open a support case if you see otherwise. We will update the doc to mention that switching between VNET type changes IP.

[2019-08-13 11:43] #36730 closed

[2019-08-13 11:49] avooca commented on #36930
My testing doesn't agree, this is an NSG I am using successfully:
Inbound Internet Tag  --> Bastion Subnet TCP 443
Inbound GatewayManager Tag --> Bastion Subnet Any
Inbound DenyAll
Outbound Bastion Subnet --> VM Subnet TCP 22,3389
Outbound Bastion Subnet --> AzureCloud Tag
Outbound DenyAll

The note does say Outbound AzureCloud but the other pieces are spread around the document.  Consolidating th

[2019-08-13 11:50] msrini-MSFT commented on #36556
@srinihp , When an actual request is made to the LB on a port where the Floating IP is enabled, then when the packet reaches the server, you will see the destination IP address as the IP address of the Lb rather than private IP of the server.

If your VM is responding to the request , please take a tcpdump and check the conversation and paste the results here. I can take a look.

[2019-08-13 11:55] msrini-MSFT commented on #36930
@avooca , My bad, AzureCloud service tag needs to be added in the Outbound rules. When you don't specify a region, then it includes all the Azure IP of all region. If your Bastion belongs to East US, you can add EastUS to the Tag.

[2019-08-13 11:56] x00 opened #36990 "Why not update the client configuration article, to refer to this?"
The client configuration article is misleading about linux. Apart from the bit that appears to use a window prompt (why would instructions for linux be referring to widows command line?), there is still the out of date or unclear info on linux referring to extracting keys from pfx, which is unlikely to work if they haven't been generated correctly.

I had to find out second hand through the commen

[2019-08-13 12:03] LukeGahan opened #36991 "Azure Functions, python reference - Unit Testing"
Could you please include information on the running of unit tests when importing a module from a SharedCode path (As described in the "Folder Structure" section, `from __app__.SharedCode import myFirstHelperFunction `).

At present the running of unit tests fails as the `__app__` element of the module path is not available.

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2019-08-13 12:17] jakaruna-MSFT commented on #36977
@yuriwoof Thanks for the feedback.
I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-08-13 12:17] jakaruna-MSFT commented on #36977
@cynthn Please take care of this issue

[2019-08-13 12:18] Planche95 opened #36992 "AddScoped behaves like Singleton"
Sample project: https://github.com/Planche95/AddScopedSample

[code]
prov.GetService<Foo>(); always gets the same instance of Foo.

[code]
Foo _please; is also always the same instance.

[code]

looks like only inside Function Scoped working correctly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5786402e-9d88-5de0-6

[2019-08-13 12:42] noamles opened #36993 "User provisioning"
Under Create Zoom test user section, its states user provisioning is manual for zoom, but user provisioning was added for the zoom application - https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/zoom-provisioning-tutorial.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65a972cb-fe26-60cb-b12d-1af9ed8e87

[2019-08-13 12:46] claireemmabrydon opened #36994 "Update for Availability Zones"
It would be good to see a mention of Availability Zones, in addition to Availability Sets, in this SQL on Azure documentation, now that AZs are widely used.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66022e29-3f7d-633d-fa34-2fd3afc2bc7a
* Version Independent ID: fe935bd7-efe5-8a76-02f7-4de3e6caade3
* Content: [High

[2019-08-13 12:46] matsimon commented on #36403
Hi Frank

It has been improved a bit, but still leaves room for interpretation and confusion.

As I've experienced it, by default if userPrincipalName isn't chosen as user principal name in AAD connect setup as Azure AD's User Principal Name, the on-prem userPrincipalName won't be synchronized to Azure AD, hence PTA won't work.

If there is a way to synchronize the userPrincipalName to Azure AD wh

[2019-08-13 12:46] jakaruna-MSFT commented on #36986
@asif1191 Thanks for posting here.
Please post the document link here is you are following one

[2019-08-13 12:56] AnthonyDewhirst opened #36995 "403 when creating the block blob"
I have tried to follow this example in our production code, but kept getting a 403 when creating the BlockBlob.
If I create a container, this works just fine, but the blob fails.

I created a console app to ensure I wasn't doing anything silly using just the code from the documentation with some slight additions to the constants. I have some commented out code in there too, which is how I was tryi

[2019-08-13 13:02] AnthonyDewhirst commented on #36995
While I was the owner of the resource, once I gave myself "Storage Blob Data Owner" role then it all worked.

[2019-08-13 13:02] #36995 closed

[2019-08-13 13:07] j-martens commented on #36530
@blackmist - any thoughts?

[2019-08-13 13:08] j-martens commented on #36661
@Blackmist - can you please update the doc for this one? Also please let me know if the SDK docs needs clarified too please?

[2019-08-13 13:17] AnthonyDewhirst commented on #36995
It probably should be noted that I could create blobs via powershell when I was just the resource owner.
Also, if I am part of a group that has "Storage Blob Data Owner" but don't directly have that role myself, then it still doesn't work

[2019-08-13 13:23] KalyanChanumolu-MSFT commented on #36782
@bonova Its been a while we heard from you.
We will proceed to close this issue now. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-08-13 13:23] #36782 closed

[2019-08-13 13:30] KalyanChanumolu-MSFT commented on #36957
@dmarlow The Elastic Jobs service is in preview and can be provisioned with Standard and Premium Pricing tiers as of now.
However you can run tasks on any target database irrespective of the pricing model.

Please let us know if you have further questions.

[2019-08-13 13:32] CharmanderJieniJieni commented on #36966
Thanks for the quick response! I added the subfolder to command and it works as expected now.

[2019-08-13 13:35] VikasPullagura-MSFT commented on #36966
@CharmanderJieniJieni Thanks for the confirmation. I am closing this issue for now. If you have any further questions mention my name in the comment so that we can reopen the issue and can work on it.

[2019-08-13 13:35] #36966 closed

[2019-08-13 13:36] vvadymv commented on #35206
Current reply from AWS:
When using SAML based access to AWS for users in your IdP, the authentication and authorization tasks are split between the IdP and AWS. Your IdP handles the authentication part and AWS handles the authorization part, you can implement MFA on your IdP side, but our STS endpoints only parses/takes into consideration four items: Role, RoleSessionName, matching x.509 signature

[2019-08-13 13:36] dreck410 opened #36996 "Reservation Purchase Pricing API?"
Is there a way to view the price of a Reservation based on my Enterprise Agreement through the API?

If we have a custom discount on a reservation it would be good to get that information from the API

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5205150-d00d-725a-4fb7-f0d111b50574
* Version Independent ID: 93e72498-

[2019-08-13 13:45] KalyanChanumolu-MSFT commented on #36988
@TiagoBonin Thank you for the feedback. We are evaluating this and will get back to you soon..

[2019-08-13 13:48] TiagoBonin commented on #36988
No need to reply me back, just posting my opinion on the content of the
documentantion.
I very ofter have to look into other sources to find my answers rather than
Microsoft documentation itself.

On Tue, Aug 13, 2019 at 3:45 PM Kalyan Chanumolu <notifications@github.com>
wrote:

--
Atenciosamente, Best regards

Tiago Bonin
Software Engineer/Developer
+31 6 2008-7636

[2019-08-13 13:51] lisenkaci commented on #36938
Thank you! Let me know if you need any more information.

[2019-08-13 13:53] Blackmist commented on #36530
@j-martens unsure on the cause; the ML extension was enabled in the cloud shell by default for me (and others I've talked to in engineering) once it went GA. It's there for me by default today.

The best we can do from a documentation perspective is add a note that if you get this error, register the extension. I'll add that today.

[2019-08-13 13:54] SenthuranSivananthan opened #36997 "Performance impact to VMs"
It would be great to post a guidance on the type of performance impact that can be expected of running the scan.  For instance, the scans will increase CPU by X% and memory by Y%.  Would this be possible?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9303652-2bf3-e20a-4213-628466cc209d
* Version Independent ID: b7318

[2019-08-13 13:57] eross-msft commented on #36815
@ChrisAtMAF @FrankHu-MSFT   There is a parallel pull request with the change, listed above. I had previously approved the change, but didn't realize I needed to also sign off on the request. I did the sign off this morning, so you should see the update after our 10am publish. Thanks for following up!!!

[2019-08-13 13:59] zboyanov opened #36998 "Is there any way to change listenconnectionstring and notificationhubname in one application?"
Is there any way to change listenconnectionstring and notificationhubname in one application, because I want to use the same template for several projects and I don't want to create application everytime and wait from apple to publish it ? Is there a way to do something with switch() or else and just upgrade the current application?

---
#### Document Details

⚠ *Do not edit this section. It is re

[2019-08-13 14:09] jwargo commented on #36998
@zboyanov Are you asking if you can use the same Notification Hub/Namespaces for multiple applications. The answer to that is yes. If you're asking about how Apple manages app registration for notifications, that's up to Apple.

[2019-08-13 14:10] krokoko commented on #36766
Hi,

   Any update ? Thanks ! :)

[2019-08-13 14:24] rasciodc commented on #36916
All good here now! Thanks!

[2019-08-13 14:25] prees1 commented on #36155
Yea sure I can see that rational. It is certainly confusing when comparing the v1 to v2 documentation and the naming pattern changed. When we were upgrading we weren't sure if it had changed or not due to the documentation changing.

Beyond the inconsistency between versions, listing parameters by their name is much more standard and conventional, as opposed to placeholder values. I can't recall a

[2019-08-13 14:25] oracle000 opened #36999 "Adding Mediatr as Dependency Injection in Azure Function"
I'm planning to implement CQRS in my Azure Function using Mediatr as DI

`public class DisplayName
    {
        private readonly IDisplayName _displayName;
        private readonly IMediator _mediator;

        public DisplayName(IDisplayName displayName, IMediator mediator)
        {
            _displayName = displayName;
            _mediator = mediator;
        }

        [FunctionName(nameof

[2019-08-13 14:26] NavtejSaini-MSFT commented on #36233
@cowinr Please let us know if you need any further information or we will go ahead and close this thread.

[2019-08-13 14:26] gsodens opened #37000 "GOV and EDU Product Names and SKUs"
Can you add all the Government and Education Product names and service plan identifiers (and SKUs) to the list on the page https://docs.microsoft.com/en-us/office365/servicedescriptions/office-365-platform-service-description/office-365-plan-options

[2019-08-13 14:28] milope commented on #36779
Hello @solankisamir, I will double check if the VNET type was changed by attempting to find historical data. Note that I filed this incident after the resolution of a Support case.

[2019-08-13 14:32] zboyanov commented on #36998
No, I'm asking if I can use only one application for several projects, but to change dynamically ListenConnectionString and NotificationHubName for every project...

[2019-08-13 14:37] Mental-NV opened #37001 "Typo, true instead of false"
"But if you want to decrypt the value to store in ASP.NET Core IConfiguration, you can set the DecryptValue flag to false"

Should be true instead of false

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2639218d-5e54-aba0-ca0a-e53025b06d15
* Version Independent ID: fec67d60-26a4-ba4c-45cf-f53c74281659
* Content: [Servi

[2019-08-13 14:44] javirivas80 opened #37002 "Hybrid Azure AD join License requiered"
I need to implement Hybrid Azure AD join in order to use SSO in Office 365 applications. What license do I need to get? If Azure AD Free enough or Azure AD P1 is required?.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72cdc251-618a-e84e-f40d-960b0ac69f99
* Version Independent ID: 8cbaba3c-e883-2c71-28fb-f88db3fcaf7d

[2019-08-13 14:47] lukos opened #37003 "This page is seriously out of date"
Like other guides, this does not reflect the current Browser blade in AI in the portal. It is a shame that the product was updated before the documents were updated to match. Related to the change is that the detailed timings seem to have disappeared completely, which is regression - I can't see that the new page has added anything of note, except analytics is now inside the blade, which is fine.

[2019-08-13 14:48] DarrinEide commented on #36648
I see, thanks for clarifying.

We don't currently support lookup by DOI, but it's something we're looking to enable soon. We will update the [Academic Knowledge API](https://docs.microsoft.com/en-us/azure/cognitive-services/academic-knowledge/home) documentation when the feature is available.

[2019-08-13 14:49] ppavanm commented on #35692
Update:
The only way I am able to connect downstream device is - create device manually and use Mqtt protocol.

@kgremban As you suggested in above comment I tried creating device using regular DPS step, manually setting its parent to the edge device but it is not working (tried both Amqp and Mqtt).

[2019-08-13 14:51] etiennecelery commented on #6371
Hi. I tried everything I could think off, including escaping the @ character with %40. I am using sqlalchemy to connect to the database, and I am not able to connect, as the error says "The Username should be in <username@hostname> format."
My password has "/" characters and my hostname is similar to "sql-rs-rd423", so it has the "-" character.
If I try to connect with the following URL I get the

[2019-08-13 14:59] mrbullwinkle commented on #37003
Thanks @lukos, regarding the docs freshness portion of your comment, we are tracking this with a work item internally and should have the doc updated this sprint.

[2019-08-13 14:59] LHTech-Analytics commented on #36574
Hi @nabhishek, I'd really appreciate a response if possible considering this was raised 7 days ago now. The docs do not match the workflow in ADF UI. They appear to be wrong and relate to ADF V1 which is not a visual interface and has a JSON editor only. I am trying to use the visual interface (For which I can find no docs whatsoever) and it is failing with error 2600.

I'd really like to use DF b

[2019-08-13 15:00] PramodValavala-MSFT commented on #36888
@abij Yes. With `func`, it uses [`.python_packages` by default](https://github.com/Azure/azure-functions-core-tools/blob/dev/src/Azure.Functions.Cli/StaticResources/python_docker_build.sh#L6).

Looking at [how the python environment is setup in the official python docker containers for azure functions](https://github.com/Azure/azure-functions-docker/blob/master/host/2.0/stretch/amd64/python-contex

[2019-08-13 15:01] rverschuur opened #37006 "No template for "Subscription requests (requiring approval)""
There is no template for the e-mail that is send to the administrator when a new subscription requests is made. The current template still points to the old Administrator portal, which cannot be used anymore.

I want to alter the template so it links to the subscriptions page on the Azure portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2019-08-13 15:09] Tiberriver256 opened #37008 "Resource is "Required" if using MFA"
Multi-factor authentication policies do not appear to trigger when resource is not included in the initial request to the `/authorize` endpoint.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2870d4a9-e204-023a-56a8-c34e56347b43
* Version Independent ID: 846fe3ae-21cb-e030-f68f-db73acef0c74
* Content: [Understand the O

[2019-08-13 15:11] F5veRings commented on #25113
I think you understated the problems with the Forecast API... It's broken! Grain or date filters don't work which are the most important tools that the API can offer.

[2019-08-13 15:12] festivus opened #37009 "Service Fabric clarification"
Will this feature fail if service fabric durability is Bronze? Will it not even turn on if it's Bronze? If it doesn't fail and does turn on, what exactly happens if the durability is Bronze? How are we to apply updates for Bronze level service fabric scalesets?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51c75ce7-21

[2019-08-13 15:19] markjbrown commented on #36862
Can you assign this to @timsander1? This one is his.

Thanks.

[2019-08-13 15:20] markjbrown commented on #36844
This fix is not published. Thanks again for raising.

#please-close

[2019-08-13 15:20] #36844 closed

[2019-08-13 15:21] SamaraSoucy-MSFT commented on #36978
@imeya Thank you for your feedback. I will look into it and get back to you shortly.

[2019-08-13 15:22] SamaraSoucy-MSFT commented on #37003
@lukos Thank you for you feedback. I will look into the issue and get back to you shortly.

[2019-08-13 15:22] spelluru commented on #36959
@Infinitism - Thank you for the feedback. I will fix it (add links to RBAC articles) and then publish the article soon.

#in-progress

[2019-08-13 15:27] michevnew opened #37011 "Location condition?"
Why is this not even mentioned in the article? At the very least add a link to some article detailing it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0073f5a8-daf6-7f14-127f-e0c9d80af78d
* Version Independent ID: d6d0afdf-3619-ca03-718b-a40bfd07bab9
* Content: [Azure Active Directory Conditional Access settings refe

[2019-08-13 15:27] F5veRings opened #37012 "Forecast API optional parameters don't work"
Source: [Forecasts (Azure Consumption)](https://docs.microsoft.com/en-us/rest/api/consumption/forecasts/list)

The Azure Forecast API does not seem to process optional parameters and only returns the current month's forecast with daily grain regardless of grain or date filter specified.

**Filter by date**
`https://management.azure.com/subscriptions/$subId/providers/Microsoft.Consumption/forecasts

[2019-08-13 15:35] candidson commented on #36916
Thanks guys for the fast fix... Closing this thread now

[2019-08-13 15:35] #36916 closed

[2019-08-13 15:39] mohclips opened #37015 "Message: Offer with PublisherId: abc and OfferId: xyz not found."
The final step az vm create always requires the plan to be defined, but when define the plan is not found.

without plan defined:
[code]
with plan defined:
[code]

As the plan details are mandatory in the web GUI it would be a good idea to show an example of using this and how this matches the name/offer/sku.  eg. --plan-publisher abc --plan-product xyz --plan-name 1.0

thanks

---
#### Document D

[2019-08-13 15:40] cephalin commented on #33383
@polarapfel Sorry for the delay and thanks for reporting the mistake. I've fixed the section now and it should be published sometime today. #please-close

[2019-08-13 15:40] #33383 closed

[2019-08-13 15:42] VictoryShima opened #37016 "Unwanted error on "Authentication Email" method"
I own an university e-mail account and registered to Office 365 using the Student Program. Part of the "security measures" requires me to input an "Authentication Email". When trying to use my university e-mail the following error message is displayed:

    Don't use your work or school email address, because you won't have access to it if you forget your password.

This message seems strange, sin

[2019-08-13 15:45] mohclips commented on #37015
I should point out that the image i am trying to access is 24 hours old.  So the 30min wait for it to be available has already expired. :)

[2019-08-13 15:46] rtamellini opened #37017 "App ""keeps stopping""
I followed all steps carefully but the app keeps stopping when I run it.
When I try to debug it I notice that the following line is driving this behavior:
private final FaceServiceClient faceServiceClient =
            new FaceServiceRestClient(apiEndpoint, subscriptionKey);
If I comment it the app runs and I can choose the picture from gallery. I'm using the Endpoint and subscriptionKey provided

[2019-08-13 15:47] dmarlow commented on #36957
So, if I understand correctly. You provision it to some other database, then target a task specifically to the correct database, right?

[2019-08-13 15:47] CeciAc opened #37018 "Link error"
@maddentist commented on [Tue Aug 13 2019](https://github.com/MicrosoftDocs/azure-docs.fr-fr/issues/571)

Hey, the link at the top ".NET API reference documentation" links to a 404 error page... You might want to have a look at that !

---
#### Détails du document

⚠ *Ne pas modifier cette section. C’est obligatoire pour docs.microsoft.com ➟ Liaison des problèmes GitHub.*

* ID: 001b3d41-4861-9cf9

[2019-08-13 15:48] CeciAc commented on #37018
Hi team,
the broken link repros in the en-us site and replicates in the localized versions
best regards

[2019-08-13 15:52] SumanthMarigowda-MSFT commented on #36609
@yangyadi1993 There is similar thread discussion in [SO] forum, refer to the suggestion mentioned in that link. (https://stackoverflow.com/questions/57384205/how-to-use-msimanaged-service-identity-with-azure-storage-emulator)
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gla

[2019-08-13 15:52] #36609 closed

[2019-08-13 15:54] Karishma-Tiwari-MSFT commented on #36994
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-08-13 16:03] mike-urnun-msft commented on #36991
Hi @LukeGahan - Thank you for your feedback! We will review and update as appropriate.

[2019-08-13 16:04] mike-urnun-msft commented on #36992
Hi @Planche95 - Thank you for your feedback! We will review and update as appropriate.

[2019-08-13 16:06] mike-urnun-msft commented on #36999
Hi @oracle000 - Thank you for your feedback! We will review and update as appropriate.

[2019-08-13 16:07] SumanthMarigowda-MSFT commented on #36684
Also try to download the latest Azure Backup agent.
Check the size of backup, as the scratch folder drive should be at least 5% - 10% free of the size of backed up volume. If the scratch drive is low in free space, expand the scratch folder drive and let us know the status.

Example: If you wish to back up the 10 TB volume, the agent must be installed on a larger volume so that its scratch directo

[2019-08-13 16:07] #36684 closed

[2019-08-13 16:08] SumanthMarigowda-MSFT commented on #36709
@ssjaronx4 you can raise the issue on the .net repo and ask the dev team in charge of .net on how to set https://github.com/Azure/azure-storage-net
Azure/azure-storage-net
Microsoft Azure Storage Libraries for .NET. Contribute to Azure/azure-storage-net development by creating an account on GitHub.

We will now proceed to close this thread. If there are further questions regarding this matter, ple

[2019-08-13 16:08] mike-urnun-msft commented on #37006
Hi @rverschuur - Thank you for your feedback! We will review and update as appropriate.

[2019-08-13 16:09] alex-frankel commented on #36785
Hmm, interesting. Let us know if it is a PIM specific issue. I may need to bring in folks from the identity team to take a deeper look.

[2019-08-13 16:09] KalyanChanumolu-MSFT commented on #36957
Yes, Elastic Job agent requires an existing SQL database. This database needs to be a standard or Premium tier for now.
The agent configures this existing database as the "Job database".

[2019-08-13 16:11] cephalin commented on #36784
@StingyJack Thanks for reporting. The main issue with this section of the doc has been that it was actually never finished. I've made an [update](https://github.com/MicrosoftDocs/azure-docs-pr/pull/85224/commits/34d5b116c2c4b2ced7007d29c142efa4fee340ae) today that should be published very soon that fixes the "doesn't work" issue. .NET Core functions differently and you can't get app settings using

[2019-08-13 16:11] #36784 closed

[2019-08-13 16:15] SumanthMarigowda-MSFT commented on #36853
Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused.
	Yes, the data in that secondary region will be read-access geo-replicated again automatically.

	After a failover, the storage account will stay in the secondary region as the new primary storage endpoint but all existing URIs will work the same before and after a geo-failover since the DNS ent

[2019-08-13 16:15] JesvinJoseph commented on #25351
Hi @Vijay-Karthick , on each message we are checking the connectivity status of the edgeHub with IoTHub. If it is offline, we are storing the message on a local database in the Gateway and if the connectivity is back, they will be send with the filtered property. If the offline data is huge, we are sending the data in a compressed file to blob on appropriate folders.

[2019-08-13 16:16] alex-frankel commented on #36533
So after some more digging, this was an intentional decision to use the file name, instead of the "name" property. If you look at the API for artifacts, the "name" property only shows up in the payload on [GET](https://docs.microsoft.com/en-us/rest/api/blueprints/artifacts/get), but on [PUT](https://docs.microsoft.com/en-us/rest/api/blueprints/artifacts/createorupdate) the name comes from the URI

[2019-08-13 16:17] StingyJack opened #37020 "What is the " 'dashboards' resource group " mentioned in step 4 of publish and share?"
Is it some specially tagged or defined resource group?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b9fbf1b-0eac-5494-3cb6-ee7da4e25605
* Version Independent ID: d2d457fb-fd9b-72f9-c3bb-4f99c615dca6
* Content: [Create and share Azure portal dashboards](https://docs.microsoft.com/en-us/azure/azure-portal/azure-portal

[2019-08-13 16:23] NavtejSaini-MSFT commented on #37018
@CeciAc There is another thread open for this issue:
https://github.com/MicrosoftDocs/azure-docs/issues/36950

Still I am going to keep this thread open as well as it refers to the change in International docs. I will assign it to author to make the necessary changes.

@wmengmsft Please look into the link in the documentation for ".NET API reference documentation" and update the same as it is givi

[2019-08-13 16:24] cephalin commented on #36971
@jorgecarleitao Thanks for the feedback. I've updated the doc accordingly and it should be published sometime today. #please-close

[2019-08-13 16:24] #36971 closed

[2019-08-13 16:24] YutongTie-MSFT commented on #29363
@lisenkaci Hi, do you have a support plan under your Azure subscription ID? IF yes, I would highly recommend you to create a support ticket for live trouble shooting. IF no, please send us an email at Azcommunity@microsoft.com with you Azure subscription ID and URL of this thread so that we can enable you one. Thank you.

[2019-08-13 16:26] hansenms commented on #36303
#please-close

[2019-08-13 16:26] PatAltimore commented on #36031
#please-close

[2019-08-13 16:26] #36303 closed

[2019-08-13 16:26] #36031 closed

[2019-08-13 16:27] YutongTie-MSFT commented on #36763
@alphasteff Hi, do you have a support plan under your Azure subscription ID? IF yes, I would highly recommend you to create a support ticket for live trouble shooting. IF no, please send us an email at Azcommunity@microsoft.com with you Azure subscription ID and URL of this thread so that we can enable you one. Thank you.

[2019-08-13 16:27] hansenms commented on #36304
#please-close

[2019-08-13 16:27] #36304 closed

[2019-08-13 16:30] ChristianMontoya commented on #36897
@Mr-Sharma : Currently, we do not support providing a custom URLs to replace "https://rdweb.wvd.microsoft.com" . This is something we are investigating for the future.

[2019-08-13 16:31] nomula opened #37023 "Creating Cluster Fails even after feature registrations"
az aks create     --resource-group RG-AKS-SDOP-WIN-SBX01     --name akssdopwinsbx01     --node-count 3     --enable-addons monitoring     --kubernetes-version 1.14.1     --generate-ssh-keys     --windows-admin-password $PASSWORD_WIN     --windows-admin-username azureuser     --enable-vmss     --network-plugin Azure     --service-cidr 10.1.0.0/16     --dns-service-ip 10.1.0.10     --pod-cidr 10.244

[2019-08-13 16:32] ChethanRavulaGit commented on #32922
Hi
I am using the Add VNet (preview) feature but it wont let me add app under same app service plan to be integrated to same subnet.
below is what i am trying to do
App Service Plan 1
a.	VNet1
i.	Subnet1 --> App1
ii.	Subnet1 --> App2
iii.	Subnet1 --> App3 - fails with error "Failed to add delegation to the existing subnet:
Adding this VNET would exceed the App Service Plan VNET limit of 1."

[2019-08-13 16:32] rthomas529 commented on #36827
any update? The documentation for the API is lacking. I have no way to monitor my reservation utilization in any meaningful way. How am I suppose to ensure that I'm efficiently using my reservations if Azure doesn't give me the relevant data.

![image](https://user-images.githubusercontent.com/16446194/62959017-728fb500-bdbd-11e9-9bd7-eb624c8deed8.png)

There is nothing in the documentation that t

[2019-08-13 16:37] MicrosoftGuyJFlo commented on #37011
The location condition has its own article.
https://docs.microsoft.com/azure/active-directory/conditional-access/location-condition

[2019-08-13 16:37] MicrosoftGuyJFlo commented on #37011
I will see if there is a good way to add mention though when I rework the articles.

[2019-08-13 16:37] MicrosoftGuyJFlo commented on #37011
#please-close

[2019-08-13 16:37] #37011 closed

[2019-08-13 16:39] MicrosoftGuyJFlo commented on #36980
@woodyard If you would like to propose an edit using the edit button at the top of the doc I am happy to approve this change. Otherwise I will get to it when I get some free time later this week.

[2019-08-13 16:41] YutongTie-MSFT commented on #36813
@Shaktikantpadhi Hi, since DoI is a string attribute, yous should use one the following as your need:

1. String Attribute: Single value (includes matches against synonyms)
Composite(DOI='doi')

2. String Attribute: Exact single value (matches only canonical values)
Composite(DOI=='doi')

3. String Attribute: Prefix value
Composite(DOI='do'...)

So the query should be like:
https://westus.api.cogn

[2019-08-13 16:42] dwj300 opened #37024 "--ppg should clarify the need to specify the fully qualified ppg name"
--ppg should clarify the need to specify the fully qualified ppg name

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7fcc8492-4e08-56e3-75c4-3b24a8ee3b53
* Version Independent ID: 1418a67f-031d-c1f6-735b-f75b1f3a3ec6
* Content: [Use proximity placement groups preview for Linux VMs](https://docs.microsoft.com/en-us/azur

[2019-08-13 16:42] dwj300 commented on #37024
i.e. /subscriptions/...

[2019-08-13 16:44] MicrosoftGuyJFlo commented on #36953
@rvahaver It is hard to cover every scenario and every policy permutation that someone could want in the docs. Several sentences down it talks about excluding admin roles. You can add users to exclude there.

[2019-08-13 16:49] Adam-Smith-MSFT commented on #36979
@perkops Thank you for the valuable feedback,we are investigating the issue.

[2019-08-13 16:49] MicrosoftGuyJFlo commented on #36881
@cloudhandler is probably better prepared to explain this.

[2019-08-13 16:51] Adam-Smith-MSFT commented on #36982
@TiNovTec Thank you for the valuable feedback,we are investigating the issue.

[2019-08-13 16:52] YutongTie-MSFT commented on #36905
@alexmpmenezes Hi, does delete the resource group work for your scenario at this time?

@PatrickFarley Hi Patrick, could we have a document like : https://docs.microsoft.com/en-us/azure/cognitive-services/custom-vision-service/export-delete-data to tell customer how to delete their data when they want to stop? Thank you.

[2019-08-13 16:52] Adam-Smith-MSFT commented on #36983
@gw111zz Thank you for the valuable feedback,we are investigating the issue.

[2019-08-13 16:53] mlearned commented on #36880
Thanks for the feedback , looking into a doc update.

[2019-08-13 16:54] Adam-Smith-MSFT commented on #36984
@lanicolas , @chojrak11 Thank you for the valuable feedback,we are investigating the issue.

[2019-08-13 16:54] YutongTie-MSFT commented on #37017
@rtamellini
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-13 16:55] abidashaik commented on #35753
Thanks for your prompt response Prasad!
1. Consumption plan with storage account in another region didnt work for me. However, I couldnt find a way to whitelist the IP. Any clues?
2.I did a "vnet integration" of the function app into the same vnet as the storage account - both function app and storage account in the same region, but in two different RGs. It also didnt work.

Any further suggestion

[2019-08-13 16:55] #36813 closed

[2019-08-13 16:56] YutongTie-MSFT commented on #36920
@lauracristianas
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

@PatrickFarley FYI

[2019-08-13 16:56] #36920 closed

[2019-08-13 16:58] FrankHu-MSFT commented on #36903
Hey @mvancamp i see, so this is a custom application is that right?

Is the issue with your custom application when you are calling the AcquireTokenInteractive call from the MSAL Library?

[2019-08-13 16:59] FrankHu-MSFT commented on #37016
@VictoryShima Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-13 16:59] FrankHu-MSFT commented on #36993
@noamles Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-13 16:59] FrankHu-MSFT commented on #36997
@SenthuranSivananthan Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-13 16:59] FrankHu-MSFT commented on #37002
@javirivas80 Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-13 16:59] FrankHu-MSFT commented on #37008
@Tiberriver256 Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-13 17:01] dangershin opened #37025 "Read Secret with Line Breaks"
In Azure Key Vault, when reading the secret value from the portal, line breaks contained within the secret are ignored. Clicking "Copy to Clipboard" copies the entire secret without line breaks. This causes an issue particularily when storing an RSA key.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23617aaa-af93-2f09

[2019-08-13 17:03] rvahaver commented on #36953
The issue here is that the policies that Microsoft mandated that the partners implement by 8/1 are not modifiable so how do we implement the exceptions?

David Haver
Senior Cloud Architect
THInc.IT, A Cherry Bekaert LLP Company
(O) 804-794-3491 | (D) 804-673-5762 | (C) 804-690-7669

From: John Flores <notifications@github.com>
Sent: Tuesday, August 13, 2019 12:45 PM
To: MicrosoftDocs/azure-docs <a

[2019-08-13 17:07] FrankHu-MSFT commented on #37002
Hey @javirivas80 please take a look at the pricing docs for more information on this.

https://azure.microsoft.com/en-us/pricing/details/active-directory/

Per the P1 summary :

[2019-08-13 17:08] MicahMcKittrick-MSFT commented on #37024
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-13 17:08] FrankHu-MSFT commented on #37002
@javirivas80 So you will need premium p1 if you want seamless access on premise and cloud capabilities, which is sso with o365 apps.

Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue by end of day today. Please reopen this git issue if you have anymore concerns. Thanks

[2019-08-13 17:08] MicahMcKittrick-MSFT commented on #37015
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-13 17:09] MicahMcKittrick-MSFT commented on #37009
Thanks for the question! We are investigating and will update you shortly.

[2019-08-13 17:10] MicahMcKittrick-MSFT commented on #37023
@nomula please provide us with the link to the documentation you are following so we can better assist.

[2019-08-13 17:11] FrankHu-MSFT commented on #37008
Hey @Tiberriver256 what kind of conditional access policy do you have setup for your MFA?

Can you reproduce consistently? And what is the exact request you're sending to the authorize endpoint that you're expecting a Multi-Factor auth?

[2019-08-13 17:12] MicahMcKittrick-MSFT commented on #20737
If anyone sees this please open a support request to get this resolved. If you can't open a request see my above comment and feel free to reach out to me with the requested information.

[2019-08-13 17:14] FrankHu-MSFT commented on #37016
Hello @VictoryShima
Users who leave an organization generally lose access to their work email address.

When they do, they may not be able to back into their personal Microsoft account if they forget their password. Also, their IT department could reset their password and get into the personal account of former employees. There are several other bad issues when you do this. To avoid this problem,

[2019-08-13 17:18] tamram commented on #36709
@ssjaronx4 - Thanks for your feedback. You can set an immutability policy on a container using the Storage Resource Provider library. See the relevant classes [here](https://docs.microsoft.com/dotnet/api/microsoft.azure.management.storage.models).

I'll work on adding a .NET example to the docs.

[2019-08-13 17:18] nomula commented on #37023
sure - https://docs.microsoft.com/en-US/azure/aks/windows-container-cli

[2019-08-13 17:19] basma-msft commented on #36155
@prees1 Yes, I can see how that can be confusing with the pattern change between the versions. Thank you for taking out time to communicate this to us. We are always striving to make our documentation easy to follow, and any feedback that can help us achieve that is very valuable. We will have our team review the V2 documentation in this light and update as appropriate. Thank you Philip!

[2019-08-13 17:25] #36907 closed

[2019-08-13 17:25] CHEEKATLAPRADEEP-MSFT commented on #36894
@STEFGUOLONDON

The following image shows how data is sent to Stream Analytics, analyzed, and sent for other actions like storage or presentation:

![image](https://user-images.githubusercontent.com/44426401/62961900-4d319400-be1b-11e9-95d3-b92f9c50c8bf.png)

Azure Stream Analytics (ASA) on IoT Edge empowers developers to deploy **near-real-time analytical intelligence closer to IoT devices** so t

[2019-08-13 17:25] FrankHu-MSFT commented on #36907
If there are anymore questions within the scope of this git issue please reopen this git issue.

Thanks

[2019-08-13 17:26] Alberto-Vega-MSFT commented on #36979
@perkops Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-08-13 17:30] qm13 commented on #35540
Fixed

[2019-08-13 17:35] borys86 opened #37028 "Modify ASP.NET Core section, no Entity Framework"
Any example on how to use Microsoft.Azure.Services.AppAuthentication without EF?
I use System.Data.SqlClient.SqlConnection to execute command. Any way I can plug in Microsoft.Azure.Services.AppAuthentication?
I tried touse  .AccessToken = (new AzureServiceTokenProvider())           .GetAccessTokenAsync("https://database.windows.net/").Result;
but I am getting error that AccessToken  is not part of

[2019-08-13 17:36] ggailey777 commented on #36860
@bradygaster have you tried the [steps in this article for manual import](https://docs.microsoft.com/en-us/azure/azure-functions/app-service-export-api-to-powerapps-and-flow#use-manual-export)?

[2019-08-13 17:39] KranthiPakala-MSFT commented on #35923
@candidson Sure, will keep posted once we have an update.

Also, I would suggest to keep an eye on [_Azure updates_](https://azure.microsoft.com/en-us/updates/?product=data-factory). Azure updates provide information about important Azure product updates, roadmap, and announcements.

Thank you.

[2019-08-13 17:50] MicahMcKittrick-MSFT commented on #37009
@festivus it won't fail. However using a bronze level durability tier grants no privileges. So if you have automatic OS updates enabled, the cluster will not wait pause between updates to ensure availability. This in turn could cause your entire cluster to be taken down for an update rather than a single node at a time.

If you want to avoid this, do not enable automatic OS updates and instead man

[2019-08-13 17:50] #37009 closed

[2019-08-13 17:53] bradygaster commented on #36860
@ggailey777 yes - i've tried manually importing an OAI file from:

1. An API Management instance where I'd ingested the Function app according to the earlier doc in the series.
1. An NSwag-generated OAI doc in an App Service where I'd set up CORS to allow the Azure and PowerApps portals to access

None of this worked. I'm still pushing on it today, and will keep you updated. Feel free to ping me v

[2019-08-13 17:55] TravisCragg-MSFT commented on #36990
@x00 Thanks for the feedback! Can you post or link to exactly where in the comments you are talking about?

I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-08-13 17:56] Mike-Ubezzi-MSFT commented on #12480
@thecherrytree I received feedback on this issue and this is a known issue that is being addressed. The current solution is to sequentially step through each one instead of listing multiple valies:

Please let us know if you are still having issues.

[2019-08-13 17:57] vladvino commented on #37006
Please assign this to @mikebudzynski

[2019-08-13 17:58] diberry commented on #35661
@bluetrane - is this still an issue?

[2019-08-13 17:58] diberry commented on #35643
@tellarin - any update?

[2019-08-13 18:01] diberry commented on #34913
@seanbetts @tulasim88 Did this get resolved with the service team?

[2019-08-13 18:02] roygara commented on #36892
@MoRMongol Thank you for clarifying, there's actually a few separate ways you can setup an environment that will achieve what you're looking for. They're each very much contextual though, as in it depends on what specific needs you have. Would you email AzureFiles@microsoft.com for a more direct engagement so that we can work with you to find the one best suited to your particular needs?

[2019-08-13 18:06] daveba commented on #23999
@ajayanti1 Can we close this issue now since you have taken this on as to what seems like a backlog item?

[2019-08-13 18:08] KranthiPakala-MSFT commented on #36904
@swinarko Thanks much the details!

@SuperSing We will now proceed to close this thread. If there are further questions regarding this matter, please tag me or @swinarko in your reply and reopen the issue. We will gladly continue the discussion.  - Thanks!

[2019-08-13 18:08] #36904 closed

[2019-08-13 18:12] daveba commented on #20102
We have this as backlog item for tracking.  We can close this issue now.  Please check back in the next month or so for the update.  #please-close

[2019-08-13 18:12] #20102 closed

[2019-08-13 18:14] nirtiac opened #37029 "Documentation about updating scoring script references nonexistant function"
The documentation instructs me to use "service.reload()" to update my scoring script, however no such attribute exists on the AciWebservice object. It is unclear how I would use service.update() to update the scoring script.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a077225-4fb9-57c8-6bf7-f6e22eef0870
* Version I

[2019-08-13 18:15] bluetrane commented on #35661
Yes, this is still an issue. When entities are mismatched, there seems to
be no way to map them correctly. The screenshot below shows an example of a
search for a geographical place "Sandy Hook." It was incorrectly labeled as
a person name which is understandable, but I cannot change the entity to be
the built-in geographyV2 which is what I would like to do.

The LUIS project we are working on is

[2019-08-13 18:25] rachel-msft commented on #6371
Hi @etiennecelery. There a couple things here.

1) It looks like you moved the %40servername lower down in the uri. It is part of the username, before the password. Could you try `postgresql://username%40sql-rs-rd423:sDsO/43J/TU2@sql-rs-rd423.database.windows.net:5432/sandbox`

2) Your password has "/". Can you change to a password that doesn't use that character? The uri format will think that yo

[2019-08-13 18:26] yashesvi commented on #36996
Here is the API: https://docs.microsoft.com/en-us/rest/api/reserved-vm-instances/reservationorder/calculate

[2019-08-13 18:28] isuckatscripting opened #37030 "Much Fast"
"A server in staging mode continues to receive changes from Active Directory and Azure AD. It always has a copy of the latest changes and can very fast take over the responsibilities of another server. If you make configuration changes to your primary server, it is your responsibility to make the same changes to the server in staging mode."

Suggested modification:
A server in staging mode continu

[2019-08-13 18:32] bwren commented on #36761
#please-close

[2019-08-13 18:32] #36761 closed

[2019-08-13 18:33] bwren commented on #36258
Publishing today.  #please-close

[2019-08-13 18:33] #36258 closed

[2019-08-13 18:33] MarileeTurscak-MSFT commented on #36980
Thanks for pointing this out, @woodyard .

I made a pull request to add the change but feel free to make your own if you'd like to get credit. https://github.com/MicrosoftDocs/azure-docs-pr/pull/85254

[2019-08-13 18:33] #36980 closed

[2019-08-13 18:34] SamaraSoucy-MSFT commented on #36978
Handling an exception usually involves a try/catch block.

There are two things that are going on with most exceptions. The first is the exception itself and the second is the 500 response to the client. If you don't use try/catch then those two things happen together. However, the important thing here is that they are not the same thing. That's why a 500 error doesn't mean that the exception is t

[2019-08-13 18:35] daveba commented on #18571
We have a opened a backlog item to investigate this and will close this issue and track the backlog item.  Thanks for the feedback!

[2019-08-13 18:35] #18571 closed

[2019-08-13 18:36] KingdomOfEnds commented on #36796
Hi @loup73 - You are seeing the correct one - the **Azure Digital Twins** result (no `developer` or `dev` as a suffix) I think due to the instance you are on.

[2019-08-13 18:39] festivus commented on #37009
Ok, thanks. Actually, I tried to enable it and got an error: "Automatic OS Upgrade is not allowed on Virtual Machine Scale Sets having Service Fabric extension with durabilityLevel as 'Bronze'."

So it doesn't appear it can even be enabled.

[2019-08-13 18:40] MicahMcKittrick-MSFT commented on #37023
@nomula seems like a permission issue on the subscription. What is you access level to the subscription and the Tenant?

To check the subscription access, go to the portal and select subscriptions
![image](https://user-images.githubusercontent.com/32313503/62967921-d6ff4400-bdbe-11e9-9b3a-b38e20934c26.png)

![image](https://user-images.githubusercontent.com/32313503/62967953-e4b4c980-bdbe-11e9-8f7

[2019-08-13 18:40] alexmpmenezes commented on #36905
@YutongTie-MSFT Does deleting the resource group would also delete all the customer data used in the Computer Vision API? And if yes, do we have a Doc confirming it? :)

Thanks!

[2019-08-13 18:40] MarileeTurscak-MSFT commented on #37030
@isuckatscripting
Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-13 18:43] MicahMcKittrick-MSFT commented on #37024
@dwj300 not sure I fully understand what you are looking to have added to this doc. Can you elaborate or share an example?

[2019-08-13 18:44] billmath commented on #25632
Yes this is correct, no additional steps required.

#please-close

[2019-08-13 18:44] #25632 closed

[2019-08-13 18:45] curtand commented on #23999
#please-close

[2019-08-13 18:45] #23999 closed

[2019-08-13 18:46] wooters opened #37031 "Duplicate `ws.location` info in print()"
In the example code for the section `Connect to a workspace`:

[code]
The `ws.location` variable is printed twice.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4bee4b9a-ce0f-f98b-3160-d6c4a40ef3ac
* Version Independent ID: a0475a9e-47f6-2803-8707-fac54ba898dd
* Content: [Image classification tutorial: Train models -

[2019-08-13 18:46] MicahMcKittrick-MSFT commented on #37009
@festivus you are correct. I just tried too. I remember at some point it allowed you to but it is good it errors out now at least to prevent it to start with.

[2019-08-13 18:49] MarileeTurscak-MSFT commented on #37030
Thanks @isuckatscripting -

I made a pull request to update the text. In the future feel free to make your own pull requests if you'd like to get credited for these sorts of changes. :)

https://github.com/MicrosoftDocs/azure-docs-pr/pull/85259

[2019-08-13 18:49] #37030 closed

[2019-08-13 18:51] nomula commented on #37023
I'm : Subscription : owner , Azure AD - Global Admin

[2019-08-13 18:54] billmath commented on #27198
@DrEnnui Thank you for the feedback.  At this time we are focused on other things, so there is limited bandwidth to add this.  However, I do encourage you to create a doc on this and submit it via a PR.  Thanks!

#please-close

[2019-08-13 18:54] #27198 closed

[2019-08-13 18:56] curtand commented on #28835
@ajayanti1 is implementing an online version of this info, and I will retire the article as soon as possible.
#please-close

@grzegorzwierzbicki Thanks for your addition!

[2019-08-13 18:56] #28835 closed

[2019-08-13 18:57] iainfoulds commented on #9764
Sorry for the delay here.

There's already a doc update scheduled to go live in the next few days that notes the updated default behavior on network security group rules is to limit traffic to the _AzureActiveDirectoryDomainServices_ service tag which should provide for communication with the Azure AD tenant for correct synchronization. This is the current support method to restrict traffic.

If t

[2019-08-13 18:57] #9764 closed

[2019-08-13 18:58] RyanHill-MSFT commented on #37028
Thanks for the feedback @borys86! We are currently investigating and will update you shortly.

[2019-08-13 18:58] kgremban commented on #34875
@VidyaKukke I updated the article to include more information about setting up host filesystem permissions. Please take a look and let me know if these changes resolve your issue or if you feel there's more to be done. Thanks!

[2019-08-13 18:59] curtand commented on #32454
Hi @ivratche It looks like the information was published.
#please-close

@ajayanti1

[2019-08-13 18:59] #32454 closed

[2019-08-13 18:59] mvancamp commented on #36903
Hi @FrankHu, it is actually with the sample code for this article. As a pre-test to verify the functionality for the real (custom) Application.

[2019-08-13 19:00] billmath commented on #27293
@sasanmcp You are correct.  Convert-MSOLDomainToStandard should have been used instead.  We actually call this out on the Set-MsolDomainAuthentication documentation.  https://docs.microsoft.com/en-us/powershell/module/msonline/set-msoldomainauthentication?view=azureadps-1.0

I am going to create a work item and get this updated.  Thanks!

#please-close

[2019-08-13 19:00] #27293 closed

[2019-08-13 19:01] curtand commented on #32454
Hi @ivratche It looks like the information was published.
#please-close

@ajayanti1

[2019-08-13 19:03] bbakermmc commented on #30179
@kobulloc-MSFT So do we need to add this or not, documentation still has it listed....

[2019-08-13 19:04] MicahMcKittrick-MSFT commented on #37015
Can you share more information about the image you are using and how you prepared it?

[2019-08-13 19:05] Blackmist commented on #36530
Thanks for reporting @rbavery !
Docs have been updated to add a note about the error and adding the extension. This update will publish later today.

#please-close

[2019-08-13 19:05] #36530 closed

[2019-08-13 19:07] kgremban commented on #36941
Thanks for confirming your results. I agree about setting expectations better, and will update the installation doc to specify what the initial result of 'iotedge list' should be.

[2019-08-13 19:07] YutongTie-MSFT commented on #36938
@lisenkaci Hi, could you please try to change as following: var uriBase =
            "https://canadacentral.api.cognitive.microsoft.com/vision/v2.0/analyze";
It works for me well.

![image](https://user-images.githubusercontent.com/38084098/62969796-e84a4f80-bdc2-11e9-95f4-f8f29c33dcb9.png)

[2019-08-13 19:09] daveba commented on #29050
This looks resolved.  Looks like @stephenbell79 was able to do this with no issue.  I will now close the issue.  Please feel free to reopen if that's not the case.  Thanks!

[2019-08-13 19:09] #29050 closed

[2019-08-13 19:12] thecherrytree commented on #12480
Thanks for the update on this, Mike. So this sounds like an interesting solution. We will test it. We've leveraged dependsOn for many of our resources as a standard practice, so we're familiar with this capability.

I have one question: Would a `dependsOn` work with an array of rules of variable length that are being passed into a resource using the copyIndex() function?

In our case, our input fi

[2019-08-13 19:13] mohclips commented on #37015
The image is a previously prepared AMI from the marketplace (a rhel 7 linux build).  The image is then tweaked at the OS level.
deallocated and generalised.
then added to the image gallery

[2019-08-13 19:14] rswgnu opened #37033 "Document any parent catch-all exceptions"
There should be a way to use a single exception name to catch all Azure exceptions specific to a given Azure service and one to catch all Azure exceptions across services, for catch-all handlers.  If these exist, they are not documented in this document.  If they don't exist, think about adding them.  Otherwise, there are too many exceptions to deal with individually in many cases.

And all except

[2019-08-13 19:14] Decker-Russell opened #37034 "Hyperledger Fabric version"
When does Microsoft plan on supporting v1.4?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d118d5c0-4a68-be18-cff2-b0a156ab6583
* Version Independent ID: 94cba81b-5851-e0a1-9738-873f38e446b8
* Content: [Hyperledger Fabric Consortium Network on Azure](https://docs.microsoft.com/en-us/azure/blockchain/templates/hyperled

[2019-08-13 19:17] HeidiSteen commented on #33842
@AjayKumar-MSFT @aasis21  Apologies for the delayed response.  The report in question is currently lacking an owner.  I don't know if this helps, but you should be able to replace the CTR calculation with one that works better with your data.  This link looks promising:  https://community.powerbi.com/t5/Desktop/Calculating-CTR-and-display-in-the-right-format-in-Power-PI/td-p/254225

[2019-08-13 19:18] MicahMcKittrick-MSFT commented on #37015
If you try to create a VM from that custom image not using shared image gallery does it produce the same error?

[2019-08-13 19:19] MicahMcKittrick-MSFT commented on #37023
Thanks for that. And are you running this using a local instance of CLI or the Azure Cloud shell?

[2019-08-13 19:21] mohclips commented on #37015
I can try that.

But, the plan definition that cannot be found is added by the Shared Image Gallery.

[2019-08-13 19:22] iainfoulds commented on #27068
Sorry for the delay here, @juhap.

As previously noted, this is definitely valid guidance on real-world deployments. Arguably, all our docs don't quite show such real-world scenarios as we're trying to balance simplicity and getting started examples with full examples including the much wider design decisions around naming. When you're providing a custom DNS name, it's usually part of a wider exis

[2019-08-13 19:22] #27068 closed

[2019-08-13 19:23] MicahMcKittrick-MSFT commented on #37015
It would be worth a try to ensure it's not a image preparation issue

[2019-08-13 19:25] Blackmist commented on #36661
Thanks for the feedback @anugrahasinha !
The docs have been updated and will publish later today.

#please-close

[2019-08-13 19:25] #36661 closed

[2019-08-13 19:26] Alberto-Vega-MSFT commented on #36411
@ghost I'm sorry I missed your comments. Please post on MSDN  the Azure Block-chain engineering team is very active there. https://social.msdn.microsoft.com/Forums/en-US/home?forum=azureblockchain

[2019-08-13 19:30] mohclips commented on #37015
interesting same original error message

message": "Creating a virtual machine from Marketplace image requires Plan information in the request. VM:

Any idea what causes it?  there does not seems to be a way to add plan information at the vm creation page in the GUI

[2019-08-13 19:31] blueelvis commented on #36823
@FrankHu-MSFT - That is specifically about IaaS VM Disks and not the PaaS services which are available in Azure. My question about the encryption at rest is still not answered for the PaaS services.

[2019-08-13 19:33] blueelvis commented on #36895
@FrankHu-MSFT - I agree that we should not list every default setting for reference. Maybe just create a separate page listing the following?
1. Encryption At Rest?
2. Encryption in Flight?
3. Allows Bring Your Own key Scenarios?

Thanks,
Pranav

[2019-08-13 19:33] nomula commented on #37023
I'm running Azure CLI on a Mac. I had a --pod-cidr 10.244.0.0/16 which is not supported w/ network-plugin Azure but emoving that the error is same.

[2019-08-13 19:34] MicahMcKittrick-MSFT commented on #37015
You can't add plan info from the GUI only CLI or PowerShell.

When you prepared the VM, did you follow the steps listed here?

https://docs.microsoft.com/en-us/azure/virtual-machines/linux/capture-image

[2019-08-13 19:37] MicahMcKittrick-MSFT commented on #37023
Can you try using the Azure Cloud Shell as well?

I ran in the cloud shell exactly as written in the doc and it worked

[code]

Can you also try it without adding the  `--dns-service-ip 10.1.0.10 --pod-cidr 10.244.0.0/16 --docker-bridge-address 172.17.0.1/16 --vnet-subnet-id $SUBNET_ID --service-principal “12345678910” --client-secret “abcd12345`“ that way we can narrow down where the issue is hap

[2019-08-13 19:37] mohclips commented on #37015
Yes i did follow that but i did it from the Ansible version.

I'm going to do this all again.  test each image as it is created.  But from the az cli.

I'll take a look at this tomorrow now if you dont mind,  it's 20.30 hrs here :)  no OT.
will report back when i do the tests.

thanks for your prompt replies and pointing me in another direction to resolve this. :)

[2019-08-13 19:38] daveba commented on #30552
@mcurko, please see @jmprieur comment.  I haven't seen you reply back so I'm going to close this issue.  Please feel free to reopen if you problem is not resolved.  Thanks!

[2019-08-13 19:38] #30552 closed

[2019-08-13 19:40] MicahMcKittrick-MSFT commented on #37015
Sounds good! No rush :) Let me know how it goes. I am assuming it is a preparation issue as if you are using a custom image, you shouldn't have to specify the publisher info. But give it another go and if you hit any errors let me know and we can keep digging. I will just wait for an update from you.

[2019-08-13 19:42] msmbaldwin commented on #26370
#please-close

[2019-08-13 19:42] #26370 closed

[2019-08-13 19:44] vijetajo commented on #25117
As this (https://docs.microsoft.com/en-us/azure/machine-learning/data-science-virtual-machine/dsvm-ubuntu-intro#jupyter-notebook) documentation states by default on DSVM The Jupyter notebook is accessed through JupyterHub. You sign in using your local Linux user name and password.  All configuration files for JupyterHub are found in directory /etc/jupyterhub the default_jupyter_config.py file and

[2019-08-13 19:44] unstephenk opened #37036 "Javascript"
Please provide documentation on this with Javascript.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7743df92-031d-2bbb-6b28-6b43380b6ac4
* Version Independent ID: 08ea82c4-1336-98e4-c9d5-48a9242a6187
* Content: [Call or trigger logic apps with Azure Functions and Azure Service Bus](https://docs.microsoft.com/en-us/azu

[2019-08-13 19:44] #25117 closed

[2019-08-13 19:44] gacurtin opened #37037 "Storage Firewall Clarity of IP addresses"
It would be helpful to add a clear note that states that VMs (or other resources) and Storage Account do not communicate by public IP when they are in the same region.   Currently, this is not clearly stated.  This is especially important when the storage firewall is enabled.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-08-13 19:47] TravisCragg-MSFT commented on #36828
@the-blesss the ER circuit should not affect your web app communicating with your VNET's DNS, unless you are advertising the route for Azure's DNS server across the circuit.

If you would like to know more about how Web Apps resolve DNS queries with Web Apps with Regional Integration, your best bet is to ask that question on that doc page.

Keep in mind that Regional integration is for your Web Ap

[2019-08-13 19:56] nomula commented on #37023
let me try the cloudshell w/ the above settings and let you know .......

[2019-08-13 19:58] ThomasWeiss commented on #36704
The screenshot has been updated, thanks!
#please-close

[2019-08-13 19:58] #36704 closed

[2019-08-13 20:01] farooqkh opened #37038 "v3 support in Azure Government"
Would i be able to use AMS v3 in Azure Government cloud?

I was trying to test AMS Explorer v3 with an AMS instance created in Azure Govt cloud, and i could upload and transcode but cannot perform analysis on it. AMS Explorer gives error while creating Transform. The exact error message is 'Error when creating the transform'.

I have tried using various transform under Analyze with same results.

[2019-08-13 20:02] etiennecelery commented on #6371
Hi Rachel and thank you for your reply.
I tried your suggestion unsuccessfully: `(psycopg2.OperationalError) FATAL:  The server name you tried cannot be found. Please use the correct name and retry. Please check your server name sql-is-ad001
FATAL:  The server name you tried cannot be found. Please use the correct name and retry. Please check your server name sql-rs-rd423`

It is weird because I a

[2019-08-13 20:02] Alberto-Vega-MSFT commented on #36389
@rajb865 Do you have an update?

[2019-08-13 20:06] nomula commented on #37023
getting close w/ the cloud shell:

az aks create     --resource-group RG-AKS-SDOP-WIN-SBX01     --name akssdopwinsbx01     --node-count 3     --enable-addons monitoring     --kubernetes-version 1.14.1     --generate-ssh-keys     --windows-admin-password "P@ssw0rd1234"     --windows-admin-username azureuser     --enable-vmss     --network-plugin Azure     --service-cidr 10.1.0.0/16     --dns-servic

[2019-08-13 20:06] Alberto-Vega-MSFT commented on #36766
@krokoko This will require some deeper analysis. Can you please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Doc/Issue as well as your subscription ID and we can help get the support ticket opened for this issue.

[2019-08-13 20:07] daveba commented on #33735
@axthosarouris, it looks like @nelsonmorais and @jmprieur have provided links and an example to answer your question.  I will close this issue now.  Please feel free to reopen if you need further assistance. Thanks!

[2019-08-13 20:07] #33735 closed

[2019-08-13 20:12] MicahMcKittrick-MSFT commented on #37023
@nomula likely an issue passing the password. Try this

[code]

The cloud shell vs local CLI have some formatting differences when it comes to passing parameters

[2019-08-13 20:13] daveba commented on #24900
@ManojReddy-MSFT and @MRITIF  I'm going to close this issue since there's been no activity for a long time  If we do get something, we can reopen and update.  Thanks!

[2019-08-13 20:13] #24900 closed

[2019-08-13 20:13] j-martens commented on #35719
@xiaoharper - can you look please?

[2019-08-13 20:16] daveba commented on #35010
@Hbaele and @bt102 please follow @ManojReddy-MSFT instructions and drop an email to the alias in his comment with the information request.  I'm going to close this issue, but please feel free to reopen if you have further comments and/or feedback.  Thanks!

[2019-08-13 20:16] #35010 closed

[2019-08-13 20:17] MRITIF commented on #24900
So there is no solution provided ? I Would like to have a solution forthe problem .. Thanks in advance

[2019-08-13 20:20] nomula commented on #37023
all options i tried fail w/ the same error:

ravi@Azure:~$ PASSWORD_WIN="P@ssw0rd1234"
ravi@Azure:~$ az aks create --resource-group RG-AKS-SDOP-WIN-SBX01 --name akssdopwinsbx01 --node-count 3 --enable-addons monitoring --kubernetes-version 1.14.1 --generate-ssh-keys --windows-admin-password $PASSWORD_WIN --windows-admin-username azureuser --enable-vmss --network-plugin Azure --service-cidr 10.1.0.

[2019-08-13 20:20] daveba commented on #24900
@MRITIF Thanks for the feedback.  @ManojReddy-MSFT Did you get an answer from the product group?

[2019-08-13 20:21] curtand commented on #27331
Hi @TormDK
The Azure AD Basic plan has been deprecated, and the article (https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/active-directory-licensing-whatis-azure-portal) is now updated. I can't update the pricing page, but I know it's in the works.

@SaurabhSharma-MSFT
#please-close

[2019-08-13 20:21] #27331 closed

[2019-08-13 20:22] borys86 commented on #30368
https://blog.bredvid.no/handling-azure-managed-identity-access-to-azure-sql-in-an-azure-devops-pipeline-1e74e1beb10b
maybe this will help?

[2019-08-13 20:22] markjbrown commented on #36844
Sorry, is "now" published. Thanks.

[2019-08-13 20:23] MicahMcKittrick-MSFT commented on #36995
Thanks for the update and closing out the issue. If you need further assistance please share the document you are following and we can always reopen and investigate

[2019-08-13 20:26] MicahMcKittrick-MSFT commented on #37023
Both the tries look to still have the same problem.

In the first, you set the password instead of passing the variable. And the second, you just passed the password.

![image](https://user-images.githubusercontent.com/32313503/62974840-e89c1800-bdcd-11e9-94a0-d7f1833340c2.png)

[2019-08-13 20:26] MicrosoftGuyJFlo commented on #36964
@cawrites we should look at this issue.

[2019-08-13 20:27] MicahMcKittrick-MSFT commented on #37023
Ah another thing, can you make sure to register the features again while in the Cloud Shell?

[2019-08-13 20:28] curtand commented on #22886
Hi @SaurabhSharma-MSFT
Please assign this to Jim Dial. I was only helping the networking team in his absence last fall.

[2019-08-13 20:29] #19263 closed

[2019-08-13 20:30] TravisCragg-MSFT commented on #36762
@yogevdaniel We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-13 20:30] #36762 closed

[2019-08-13 20:30] mrbullwinkle commented on #30179
@bbakermmc  if you add Application Insights to .NET Core via Visual Studio using the Add > Application Insights Telemetry enablement experience client-side monitoring is automatically added for you, but you can always check `_ViewImports.cshtml` `_Layout.cshtml` to confirm.

If you add Application Insights manually in VS Code or with some other IDE you need to follow the steps to add client-side m

[2019-08-13 20:30] nomula commented on #37023
good point ....let me try that

[2019-08-13 20:31] TravisCragg-MSFT commented on #36681
@ibartley it is only possible to use SSH on port 22 at this time. If you would like us to enable additional functionality, please [leave your feedback at Azure Networking's Feedback.Azure.Com page](https://feedback.azure.com/forums/217313-networking).

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continu

[2019-08-13 20:31] #36681 closed

[2019-08-13 20:33] MicahMcKittrick-MSFT commented on #37023
There is also a note in the doc

![image](https://user-images.githubusercontent.com/32313503/62975271-e090a800-bdce-11e9-917a-8f9a56b07d5e.png)

Might be worth also trying a resource group in another region.

[2019-08-13 20:34] CelesteDG commented on #21660
#reassign:@msmimart - @msmimart please reach out to Arvind for help with the reported issue and determine if there's anything here for docs or this should be tracked elsewhere. Thank you.

[2019-08-13 20:35] wavemotionio commented on #9257
Hi, this still appears to be a problem.  Has anyone resolved this issue?

`# docker push hpuidocker.azurecr.io/products-service:v1
The push refers to repository [hpuidocker.azurecr.io/products-service]
08e2cdb90fe0: Layer already exists
bc1fd392a87d: Layer already exists
11122785fc00: Layer already exists
c11ef9008a54: Layer already exists
85815f69e311: Layer already exists
ade8acb532e7: Pushing [

[2019-08-13 20:35] rajukum opened #37039 "The script needs to be updated to support V2. The sample uses Names which is no longer there in Az module. As an example Get-AzDataFactoryActivityRun should be updated to Get-AzDataFactoryV2ActivityRun"
The script needs to be updated to support V2. The sample uses Names which is no longer there in Az module. As an example Get-AzDataFactoryActivityRun should be updated to Get-AzDataFactoryV2ActivityRun. Please update the script, when i try to open the git link to edit the sample, it throws me 404.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2019-08-13 20:36] curtand commented on #22886
Hi @SaurabhSharma-MSFT
I can't update Intune documentation about how to set system labels. Dynamic group articles are correct.

#please-close

[2019-08-13 20:36] #22886 closed

[2019-08-13 20:37] MicahMcKittrick-MSFT commented on #36524
@Sas002 I did confirm that this solution will ONLY work if the VM is hosted in Azure. We rely on the metadata exposed by the host in order for this to work. This is also why you might not find much inside the VM for configuration changes as we take some info from the host when enabling this feature.

We are looking into making this work for on prem VMs as well but no ETA or full commitment on that

[2019-08-13 20:40] KranthiPakala-MSFT commented on #37039
@rajukum Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2019-08-13 20:50] jasonpnnl opened #37040 "Reference to manual setup for external repository"
There is a reference to setting up an external repository at the beginning of this doc:
"To manually configure continuous deployment from a cloud repository that the portal doesn't directly support, such as GitLab, see Set up continuous deployment using manual steps."

That points to https://github.com/projectkudu/kudu/wiki/Continuous-deployment#setting-up-continuous-deployment-using-manual-steps

[2019-08-13 20:51] nomula commented on #37023
i can only try this region as we have subnets created.

There is progress after feature registation but landed up w/ the same error as my local CLI.

az aks create --resource-group RG-AKS-SDOP-WIN-SBX01 --name akssdopwinsbx01 --node-count 3 --enable-addons monitoring --kubernetes-version 1.14.1 --generate-ssh-keys --windows-admin-password "P@ssw0rd1234" --windows-admin-username azureuser --enable-

[2019-08-13 20:53] jasonpnnl opened #37041 "Options to deploy from OneDrive or Dropbox not present"
In deployment center currently the options to deploy from OneDrive and Dropbox are not present. Has this functionality been removed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad1778e4-3dfd-b76b-d149-7b702dc58d03
* Version Independent ID: 0da6575d-6d33-26fd-f32e-5543d61d9c03
* Content: [Sync content from a cloud fo

[2019-08-13 20:54] MicahMcKittrick-MSFT commented on #37023
@mlearned @sauryadas any input on this one?

[2019-08-13 20:54] jcbrooks92 opened #37042 "Note to note take a dependency by manually uploading the *.azurewebsites.net certificate to the App gateway"
A note should be added here to not manually upload the *.azurewebsites.net certificate as it can be changed without notice. The App Gateway built in integration should be used instead or a custom domain.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 218baca3-fde1-9a34-6cb2-19fd48daa471
* Version Independent ID: 651db5

[2019-08-13 20:55] Adam-Smith-MSFT commented on #37000
@gsodens Could you please leave a github comment under the specified document? the repo you used here belongs to Azure, while documentation if for 365(we don't have access to that org).
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-08-13 20:55] #37000 closed

[2019-08-13 20:56] Adam-Smith-MSFT commented on #37001
@Mental-NV Thank you for the valuable feedback,we are investigating the issue.

[2019-08-13 20:58] Mike-Ubezzi-MSFT commented on #12480
@thecherrytree You can use a serial copy, which is one firewall rule at a time:

https://github.com/Azure/azure-docs-json-samples/blob/master/azure-resource-manager/multipleinstance/serialcopystorage.json

[2019-08-13 20:59] Adam-Smith-MSFT commented on #36987
@Pycorax Thank you for the valuable feedback,we are investigating the issue.

[2019-08-13 21:03] Adam-Smith-MSFT commented on #37012
@F5veRings Thank you for the valuable feedback,we are investigating the issue.

[2019-08-13 21:17] Adam-Smith-MSFT commented on #37025
@dangershin Could you please provide us with the documentation link related to your question?

Thanks,
Adam

[2019-08-13 21:18] Adam-Smith-MSFT commented on #37037
@gacurtin  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-08-13 21:19] borys86 opened #37044 "no AccessToken in .Net Core 2.2"
Following your example I cannot find System.Data.SqlClient.SqlConnection.AccessToken property. Using .Net Core 2.2, SDK  v2.2.401 and Visual Studio 2019 so still do not know how to run this example with .Net Core.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31b0d33c-f88e-d50c-2926-7933940f3b92
* Version Independent

[2019-08-13 21:23] alexkarcher-msft commented on #35753
Hi @abidashaik

It takes up to 12 hours for the storage account to whitelist a virtual network. We just tested this scenario yesterday, so let me know if it begins working after leaving the firewall configured for 12 hours.

In on of my tests it started working in ~30 minutes. In another test it took about 11 hours.
We're working on our side to fix whatever is making this configuration change take

[2019-08-13 21:31] chetansriv commented on #35432
@jimmymcpeter We have updated the article as per suggestion, please review.

#please-close

[2019-08-13 21:31] #35432 closed

[2019-08-13 21:33] chetansriv commented on #35766
@Manimi-Chart We have updated the article as per your suggestion, please review

#please-close

[2019-08-13 21:33] #35766 closed

[2019-08-13 21:34] chetansriv commented on #36282
@tariqjaber We have updated the article as per your suggestion, please review

#please-close

[2019-08-13 21:34] #36282 closed

[2019-08-13 21:35] FrankHu-MSFT commented on #36903
Hello @mvancamp please see the help section.
https://docs.microsoft.com/en-us/azure/active-directory/develop/tutorial-v2-windows-desktop#help-and-support

![image](https://user-images.githubusercontent.com/6366013/62978914-46812d80-bdd7-11e9-8b35-6a8477b8dd5d.png)

My suggestion is to file a github issue against the MSAL library that you're having issues with. Please see : https://github.com/Azure

[2019-08-13 21:37] chetansriv commented on #36627
@AdrianSanguineti We have updated the article as per your suggestion, please review.

#please-close

[2019-08-13 21:37] #36627 closed

[2019-08-13 21:41] Alberto-Vega-MSFT commented on #16456
@mfekihahmed Would you please open an issue here: https://github.com/Azure/azure-iot-sdk-python

[2019-08-13 21:42] gw1108 opened #37046 "Grammar error"
The sentence:
"This value of this property also determines how long the client manifests can grow."
Has an extra this at the start of the sentence. Should probably be "The" instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 923d79a3-6478-88dc-3e46-a7436eeb317d
* Version Independent ID: a5c60150-cb1c-ed8a-c625-a0b8

[2019-08-13 21:44] Alberto-Vega-MSFT commented on #36677
@terrymandin Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-08-13 21:44] roygara commented on #13518
@schroedh Thanks for reaching out, it sounds like you're asking if you can take the LRS copies and distribute them using availability zones? That's not something we currently support.

Outside of that, we do intend to update the document to reflect changes due to availability zones but, that will not be for some time.

[2019-08-13 21:44] daveba commented on #26612
Thanks for the feedback.  I manage the doc team and we'll create a backlog item to see how we can make this article more concise.  #please-close

[2019-08-13 21:44] #26612 closed

[2019-08-13 21:47] daveba commented on #28290
Please assign to @CelesteDG so she can triage appropriately.

[2019-08-13 21:53] daveba commented on #14909
Please assign to @TylerMSFT.  He now owns this article.

[2019-08-13 21:53] kgremban commented on #36611
@PatricioVidal Thank you for pointing out this oversight. I'll add the missing prerequisite to the how-to file that you were using. Since this is a straightforward update, I'll have GitHub close this issue automatically once that pull request gets merged.

[2019-08-13 21:55] PatricioVidal commented on #36611
Great! Thanks!

From: Kelly Gremban <notifications@github.com>
Sent: Tuesday, August 13, 2019 5:54 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Patricio Vidal <PatricioVidal@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Missing Windows 10 with 1809 update or newer prerequisite. (#36611)

@PatricioVidal<https://github.com/PatricioV

[2019-08-13 21:55] daveba commented on #15339
@andretms and @CelesteDG have both provided an answer to this issue.  This issue can be closed.  Please feel free to reopen to if this doesn't work for you. #please-close

[2019-08-13 21:55] #15339 closed

[2019-08-13 21:55] cawrites commented on #36964
@jlee-vi I fixed this in a pull request. It should publish later today.

[2019-08-13 21:56] daveba commented on #22797
Please reassign this issue to @rwike77.  He's now the author of this article.

[2019-08-13 21:58] daveba commented on #13692
@anil0225 has provided an answer to this issue.  #please-close, but feel free to reopen if this doesn't solve your problem.  Thanks!

[2019-08-13 21:58] #13692 closed

[2019-08-13 21:59] cgearing opened #37047 "Adding Key Vault Reference to Function App Settings does not result in environment variable being set (Python Consumption Plan)"
Hi there,

I've been trying to use the Key Vault references to inject secrets into my Function App running Python.  Unfortunately, it seems that the App Settings I have added do not end up in the environment of the running container, which I have confirmed by logging the environs.

Does this work for Python Function Apps running on a consumption plan?

---
#### Document Details

⚠ *Do not edit thi

[2019-08-13 22:00] daveba commented on #30836
@annabarh has answered all questions pertaining to this issue.  #please-close, but feel free to reopen if her answers don't solve your problem.

[2019-08-13 22:00] #30836 closed

[2019-08-13 22:00] kgremban commented on #36611
Also, to double check, you were developing Windows modules, right? Not Linux?

[2019-08-13 22:00] Alberto-Vega-MSFT commented on #37034
@Decker-Russell Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-13 22:03] daveba commented on #26868
We'll create a backlog item for tracking to get this update.  #please-close

[2019-08-13 22:03] #26868 closed

[2019-08-13 22:04] MarileeTurscak-MSFT commented on #36929
Hi @Anand-Moghe ,

You can set a scope which defines the set of resources that access applies to. You can set the scope at multiple levels: management group, subscription, resource group or resource. In your situation, you should be able to assign the contributor role to the user at the resource level for the function app.

You can do this through the role assignments portal in IAM. https://docs.m

[2019-08-13 22:04] lisenkaci commented on #36938
That worked thank you! where can I find the correct API base to use in the docs? In the Azure portal resource it was different. I just want to understand for the future. Thank you!

[2019-08-13 22:08] MrRitt opened #37049 "NFS Ports?"
I see on the SMB volume's that there are required ports listed there.
What are the port requirements for NFS?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0137f22d-29a2-f8f6-2dcb-5b44ac11f516
* Version Independent ID: d7d5a7a0-4e24-15bb-2cdc-293510994f69
* Content: [Create an NFS volume for Azure NetApp Files](https:

[2019-08-13 22:08] lisenkaci commented on #29363
I just needed to change my uriBase to https://canadacentral.api.cognitive.microsoft.com/vision/v2.0/analyze and it worked thank you @YutongTie-MSFT

[2019-08-13 22:11] degrover-cn opened #37050 "Registration no longer works this way"
The instructions for setting App ID URI are out of date.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f1c454d-73bc-5a73-5d3f-1b1ca7625044
* Version Independent ID: 552b3f09-6650-e7f7-01f2-a702005b83e9
* Content: [Configure Azure Active Directory authentication - Azure App Service](https://docs.microsoft.com/en-us/az

[2019-08-13 22:12] conork123 commented on #20848
Any update on this? I agree with OP - it's not too obvious from any of the MS Azure docco what happens you add a deny 'any source' to 'any destination' on a subnet level NSG as an explicit over-ride rule for example. In this case it actually blocks traffic between VMs in the same subnet unless you explicitly open the required ports to allow intra subnet communication

[2019-08-13 22:26] TylerMSFT commented on #14909
#reassign:TylerMSFT

[2019-08-13 22:27] TylerMSFT commented on #14909
I’ve reassigned this to myself.

From: Davanand Bahall <notifications@github.com>
Sent: Tuesday, August 13, 2019 2:54 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Tyler Whitney <Tyler.Whitney@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Carthage command switch (#14909)

Please assign to @TylerMSFT<https://nam06.safelinks.protec

[2019-08-13 22:28] diberry commented on #35569
@mattmazzola Hi Matt - I wrote a [new app](https://github.com/Azure-Samples/cognitive-services-qnamaker-nodejs/pull/11) that has most of the tasks in one file (the new format). Please take a look. It will be published this week as the REST api quickstart for node.js. The URI path is cleaned up so less guessing what is in each variable.

[2019-08-13 22:29] MarileeTurscak-MSFT commented on #36929
I tested in my tenant with a function app and it appeared to work. You just add the user as a Contributor only within that function app.

My test user is able to contribute on the function app but not on anything else in the tenant. If you wanted you could also create custom roles and just set the scope at the resource/function app level.

This appears to be the hierarchy:
Subscriptions

-> Subscr

[2019-08-13 22:30] MarileeTurscak-MSFT commented on #36929
Let me know if you still have issues.

[2019-08-13 22:32] thecherrytree commented on #12480
Ok, great. That makes sense. We're using the serial copy, so that means our resource would look like this? Let me test it and get back to you.

[code]

[2019-08-13 22:44] #36964 closed

[2019-08-13 22:47] daveba commented on #12725
We are moving to close this issue since there hasn't been any activity for nearly 8 months.  Please feel free to reopen if you have further needs. Thanks! #please-close

[2019-08-13 22:47] #12725 closed

[2019-08-13 22:52] daveba commented on #35175
@jeevansd, since your team is going to update this doc in the private repo, can we now close this issue?

[2019-08-13 22:53] MartinJaffer-MSFT commented on #31280
Okay.  I see what is happening.  Let me use this picture to help with example:
![image](https://user-images.githubusercontent.com/46612670/62981067-25234000-bddd-11e9-9fe5-88059ddfe4f4.png)
Here, both validation activities ValidX and ValidY are connected to SetVar by 'on failure' dependencies.  SetVar waits for all 'incoming' activities before executing.  When _both_ ValidX and ValidY time out, Se

[2019-08-13 22:53] Karishma-Tiwari-MSFT commented on #37001
I have created a PR with the update and changes will be live shortly.

[2019-08-13 22:57] nigelmeakinspbi opened #37052 "Must Restart HCM Service"
As noted in this article https://www.linkedin.com/pulse/hybrid-connection-on-premises-sql-server-tayyab-nasir/ it is required to restart the HCM windows service on the on-premises machine in order for the Azure Status to show "Connected".

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 645d01fc-eae4-67c0-ef63-77d34d854d

[2019-08-13 22:57] #26921 closed

[2019-08-13 23:02] KranthiPakala-MSFT commented on #36913
@SuperSing Please refer to below docs.

- [Use Azure Active Directory Authentication for authentication with SQL](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-aad-authentication)
- [Tutorial: Managed instance security in Azure SQL Database using Azure AD server principals (logins)](https://docs.microsoft.com/azure/sql-database/sql-database-managed-instance-aad-security-tutorial

[2019-08-13 23:03] Karishma-Tiwari-MSFT commented on #37001
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-08-13 23:03] #37001 closed

[2019-08-13 23:05] Karishma-Tiwari-MSFT commented on #36841
@Heidilohr @ChristianMontoya I could not find any doc on this. Need your help confirming if Windows virtual desktop can be used with Azure Bastion service. Thanks :)

[2019-08-13 23:09] tfitzmac commented on #36956
#please-close

[2019-08-13 23:09] #36956 closed

[2019-08-13 23:16] ChristianMontoya commented on #36841
@Karishma-Tiwari-MSFT @brettrowberry : Circled back with some folks. Yes, you can use Azure Bastion instead of opening up a public IP address and/or just-in-time access with RDP.

[2019-08-13 23:22] ChristianMontoya commented on #36841
#please-close

[2019-08-13 23:22] #36841 closed

[2019-08-13 23:25] thecherrytree commented on #36515
@allenwux - have you had a chance to review? We'd like to raise this as a feature request with Uservoice if this is not an optional config pattern, but are planning to wait until we have an indication one way or the other.

[2019-08-13 23:29] #36469 closed

[2019-08-13 23:29] WhitWaldo opened #37053 "Invalid nuget package name"
The documentation under "Application Insights SDK" indicates that the Nuget package is called "Microsoft.Diagnostics.EventFlow.Output.ApplicationInsights". This is not accurate - rather, it's called "Microsoft.Diagnostics.EventFlow.Outputs.ApplicationInsights". Note the "s" on Outputs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2019-08-13 23:29] KranthiPakala-MSFT commented on #36913
@SuperSing Here is another doc for Using an Azure AD identity to connect from a client application:

- [Using an Azure AD identity to connect from a client application](https://docs.microsoft.com/azure/sql-database/sql-database-aad-authentication-configure#using-an-azure-ad-identity-to-connect-from-a-client-application)

[2019-08-13 23:32] b-juche commented on #37049
Looping in Will (@ntap512) and Lichun (@lichunli-ms).

Will, could you answer this question?  Thanks.

[2019-08-13 23:36] elisilvajr opened #37054 "Any type of caching on the disks (Read, Write, Read and Write) will affect BOTH read and write operations throughput on the VM."
On Esv3-series (and all other sizes that apply), regarding the "Max cached and temp storage throughput: IOPS / MBps" column, please add the information that it does not matter what type of cache is used in the disks, BOTH reads and writes throughputs are going to be limited.

This is based on Azure CSS support case #119081124000322, where customer was using a Standard_E8s_v3 VM and complained that

[2019-08-13 23:40] #37016 closed

[2019-08-13 23:40] #37002 closed

[2019-08-13 23:41] CelesteDG commented on #25858
Apologies for the late resolution of this GH issue. We addressed this in a PR that was made in March and further updates were also made after that. The latest version of the article should be correct. Thank you.

#please-close

[2019-08-13 23:41] #25858 closed

[2019-08-13 23:42] msaburnley commented on #36807
@neodym3k The documentation has been updated to call out this issue. Thanks for your feedback

[2019-08-13 23:42] msaburnley commented on #36807
#please-close

[2019-08-13 23:42] #36807 closed

[2019-08-13 23:43] MicahMcKittrick-MSFT commented on #37054
Thanks @elisilvajr I will take a look into it.

[2019-08-13 23:43] mike-urnun-msft commented on #37033
Hi @rswgnu - Thank you for your feedback! We will review and update as appropriate.

[2019-08-13 23:43] MicahMcKittrick-MSFT commented on #37053
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-13 23:44] jeevansd commented on #35175
@Robab02 I think you can assign the ERP roles directly in the Oracle Fusion ERP app and not from IDP.

[2019-08-13 23:44] jeevansd commented on #35175
#please-close

[2019-08-13 23:44] #35175 closed

[2019-08-13 23:44] henry-asg commented on #11187
Sam issue blocked me.

[2019-08-13 23:44] mike-urnun-msft commented on #37036
Hi @unstephenk - Thank you for your feedback! We will review and update as appropriate.

[2019-08-13 23:45] Infinitism opened #37055 "Different roles in ServiceBus"
Hi,

In using RBAC for service bus, are we able to assign granular access control. Like certain roles can only access certain queues? Or certain roles can only "add" things and others can only "remove" things. Also things like if identity "A" created a message it should only be editable by the same identity and not everyone with access to the queue? Likewise "readonly" roles?

Doc hosted is here:

[2019-08-13 23:46] mike-urnun-msft commented on #37055
Hi @Infinitism - Thank you for your feedback! We will review and update as appropriate.

[2019-08-13 23:48] CelesteDG commented on #26041
#reassign:@TylerMSFT - To review for any improvements we can make to the tutorial to address the feedback.

[2019-08-13 23:52] rezasherafat commented on #36506
@jhosteny, it is hard to say. Is it possible to share the code you use? You can email me at rezas @ msft.com

[2019-08-13 23:56] TravisCragg-MSFT commented on #36809
@saif-chaudhry Can you please elaborate more on the NSG rules you are adding that produce this error? I was able to get an (expected) error when setting the outbound-ports to an abnormally high number:

but I was not able to reproduce the error on updating the NSG on the VMs.

[2019-08-13 23:58] TylerMSFT commented on #26041
That's a good point. I didn't write this tutorial but can update it so it flows better. I'll be able to get to this in a couple days.

[2019-08-14 00:06] zxyanliu opened #37056 "Can we use one Knowledge Based with two different bot applications?"
Hi -

I have a basic question about QnA Knowledge Base.

I followed instructions in this [article](https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/how-to/create-knowledge-base) and created my knowledge base in my [QnA Maker portal](https://www.qnamaker.ai/). Before this, I created my QnA service in my [Azure portal](https://ms.portal.azure.com/#home). Things works well and I tes

[2019-08-14 00:16] Karishma-Tiwari-MSFT commented on #36900
Could you please try rebooting all the nodes via the Azure Portal.
After they come back up, please run the command:
Kubectl describe nodes

If rebooting the nodes dose not help, please perform an in place upgrade, by running the command:
az aks upgrade --name   --resource-group  --kubernetes-version 1.10.5

Let me know the results.

[2019-08-14 00:20] CelesteDG commented on #26889
Apologies for the delay. We've had some ownership transitions for mobile.

@xerners is our PM and can advise.

[2019-08-14 00:22] TravisCragg-MSFT commented on #37042
@jcbrooks92 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-08-14 00:23] doodlemania2 opened #37057 "Functional but Errors?"
Does this solution still apply to latest revs of AKS? I've got it deployed and it works well, however, it appears to be in a never ending pending state in aks browse and am seeing errors in the logs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10de2de7-9d5a-b791-1e28-a399634993d6
* Version Independent ID: a92015a1-4

[2019-08-14 00:29] CelesteDG commented on #26402
#reassign:@mmacy - Marsh recently took over ownership of our Azure AD B2C docs. Reassigning to him to review the feedback here as he works to build out our DevX story for B2C.

@mmacy - Please feel free to open a doc enhancement work item in ADO and link that to this issue. We may need to close this for now as you work on that longer work item and then go back to update this thread once the docs a

[2019-08-14 00:30] veyalla commented on #36868
@HagayatFeelit None. You are only charged on cloud ingestion or workload management from the cloud per https://azure.microsoft.com/en-us/pricing/details/iot-hub/

[2019-08-14 00:32] Anand-Moghe commented on #36929
@MarileeTurscak-MSFT  Thank you very very much 👍 !!!

[2019-08-14 00:32] #36929 closed

[2019-08-14 00:39] CelesteDG commented on #30777
Hi @SoujanyaMangipudi - Are you using the client credentials flow? More guidance is here, https://docs.microsoft.com/azure/active-directory/develop/v2-oauth2-client-creds-grant-flow, and a detailed app scenario walkthrough that uses this flow here: https://docs.microsoft.com/azure/active-directory/develop/scenario-daemon-overview.

[2019-08-14 00:46] CelesteDG commented on #29574
#reassign:@TylerMSFT

@TylerMSFT  To review suggestion and open a separate ADO work item to track this (can close GH issue doc enhancement request and update if ADO work item is delivered). This is for ADAL. Thank you.

[2019-08-14 00:51] CelesteDG commented on #29452
#reassign:rwike77

@rwike77 - Please see the suggestion here to see if improvements can be made to the v2.0 version of the topic. Philippe is the PM. Also note that we have permissions best practices and recommendations in https://docs.microsoft.com/en-us/azure/active-directory/develop/identity-platform-integration-checklist so those may be worth folding into the v2.0 permissions and consent topic

[2019-08-14 00:51] CelesteDG commented on #29452
#pri2

[2019-08-14 00:54] CelesteDG commented on #29322
#reassign:@hpsin to evaluate this doc ask for v1.0

[2019-08-14 00:54] CelesteDG commented on #29322
#pri2

[2019-08-14 00:56] hpsin commented on #29322
Thanks! Will take a look at this. It's standards compliant, so everything in the v2 doc applies except on the v1 endpoint using the resource parameter.

[2019-08-14 00:59] CelesteDG commented on #28317
My sincerest for just now getting to this issue.

#reassign:@hpsin - Hi @hpsin - Can you please review and advise? Thank you very much.

[2019-08-14 00:59] CelesteDG commented on #28317
#pri2

[2019-08-14 01:00] yashesvi commented on #36996
#please-close

[2019-08-14 01:00] #36996 closed

[2019-08-14 01:07] stewartadam opened #37058 "PowerShell or Bash syntax?"
Is this page written with the intention of using Bash or PowerShell syntax? Currently the leading `$` on the variable declaration renders it incompatible with Bash, which judging by the other commands written in this document is what it is targeting:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b81a147-db1c-b

[2019-08-14 01:10] yashesvi commented on #36827
The data is delayed by up to 8 (usually less). There is no real time API to tell you where the RI got applied.

Can you please reach out to me at yashar@microsoft.com and provide your reservation order ID.

[2019-08-14 01:13] Mike-Ubezzi-MSFT commented on #36037
@aodugga An update has been merged and published. Please let us know if you have additional questions. We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-08-14 01:13] #36037 closed

[2019-08-14 01:14] omerzubair opened #37060 "I have seen this new Add Vnet feature in preview for ~12 months."
Is there a road map on when this is planed to be released? This will help reducing the use expensive App Service Environment (ASE) in lite scenarios.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7a98803-1438-b1b5-f543-7dd88bc4294e
* Version Independent ID: 37ff1d0f-ed8e-5e4d-1f4c-1b9f6cffb938
* Content: [Integrate a

[2019-08-14 01:27] robinsh commented on #36677
I have updated the enrichment documentation to reflect that enrichment names can only have alphanumeric characters, hyphens, underscores, and periods. I'll fix this tutorial as well, so it has no spaces in the key.

[2019-08-14 01:35] don4of4 opened #37061 "Table for Scaling is for (old) Gen 1 DW"
This entire page is extremely old and incorrect.  The Gen 2 scaling details are very different and this page is misleading.

See https://docs.microsoft.com/en-us/azure/sql-data-warehouse/memory-and-concurrency-limits for contradictory information.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e9885b5-edf8-0b6f-880c-5

[2019-08-14 01:52] saif-chaudhry commented on #36809
@TravisCragg-MSFT I can certainly provide more information on the NSG. I don't believe it's specific to NSG rule (I tried different rules) but I re-did the end to end steps again and produces the error for you.

By the way I'm using Powershell to add new rules and they are applied at the VM Nic Level.

Here are the steps;

1- removed the outbound rules from the PLB  and verified it's gone.
2- upda

[2019-08-14 01:53] MisinformedDNA opened #37062 "Finding transactions with a snapshot"
Is there a way to query transactions/operations to find snapshots? Clicking through each operation is less than effective.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce8f1b18-83c6-0872-197a-c6320537578b
* Version Independent ID: 00173c2b-6efb-6749-3e8b-494e55d13006
* Content: [Azure Application Insights Snapshot De

[2019-08-14 01:57] kobulloc-MSFT commented on #37062
@MisinformedDNA Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2019-08-14 01:57] robinsh commented on #36677
@terrymandin I have also updated the one screenshot in the tutorial that has 'device location' in it. This should take care of the problem. Let me know if there's anything else I can help with.
/cc: @Alberto-Vega-MSFT

[2019-08-14 02:11] femsulu commented on #37020
It simply a built -in resource group. You have the option to un-check the "publish to the dashboards' resource group" option and use your preferred resource group instead.
Hope this answers your question. Feel free to reply if you need further engagement.

[2019-08-14 02:11] #37020 closed

[2019-08-14 02:19] KalyanChanumolu-MSFT commented on #36957
We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-08-14 02:19] #36957 closed

[2019-08-14 02:22] RyanHill-MSFT commented on #37028
@borys86 the `Microsoft.Azure.Services.AppAuthentication` class isn't dependent on EF. I also check verified that `AccessToken` is an available property on the `SqlConnection` class (see [here](https://docs.microsoft.com/en-us/dotnet/api/system.data.sqlclient.sqlconnection.accesstoken?view=netcore-2.2)). Are you following the _Secure SQL database_ tutorial or using your own custom code? Can you el

[2019-08-14 02:24] KalyanChanumolu-MSFT commented on #37061
@don4of4 Thank you for the detailed feedback.
This is being assigned to the content author to evaluate and update as appropriate.

[2019-08-14 02:35] KrishnaG-MSFT commented on #36961
@daveRendon Thanks for the update.

[2019-08-14 02:53] dcbrown16 opened #37063 "Unavailable Assessments for machines"
Please include criteria (in some doc, not necessarily this one) about what cause recommendations to appear as Unavailable Assessments for compute resources. This page mentions Unavailable Assessments for Web Apps but not for machines. The identity and access page also mentions them, while network and data and storage do not.
Ideally, each recommendation should have criteria for why it might be una

[2019-08-14 03:09] ToMakeSense opened #37064 "Importing API having OAuth section does not get the API binded with existing oauth instance"
Importing API having OAuth section() does not get the API binded with existing oauth instance, still need operating manually on Azure portal or via scripting to get it done.

I also refered to the this document: [authorize developer accounts using OAuth 2.0](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-oauth2) and [API import restrictions and known issues](https://doc

[2019-08-14 03:24] kitkatneko commented on #15004
I am sorry but following the steps still also get 403. changing the SP from contrib (default) to owner doesn't help.

[2019-08-14 03:41] StingyJack commented on #36784
@PRmerger - I am perfectly able to close an issue, kindly go bother someone else.

@cephalin - eh, I can still use Configuration Manager in netcore apps. I just did it today, actually.

[2019-08-14 04:16] WhitWaldo opened #37065 "Programmatically grant VM access"
The instructions on this page indicate how to acquire the secrets from the Key Vault via MSI for a VM that's been configured for such access, but only gives instructions for performing that configuration with the portal itself. I would suggest that there should also be a link under "Grant your VM access to a Secret stored in a Key Vault" to https://docs.microsoft.com/en-us/powershell/module/azurer

[2019-08-14 04:18] AshokPeddakotla-MSFT commented on #34875
Thanks for an update @kgremban
@VidyaKukke We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-14 04:18] #34875 closed

[2019-08-14 04:19] UKayo commented on #36821
@MicrosoftGuyJFlo
https://docs.microsoft.com/en-us/office365/admin/add-users/let-users-reset-passwords?view=o365-worldwide

The article above states, "You get self-service password reset for cloud users free with any Office 365 business, education, or nonprofit paid plan. It doesn't work with Office 365 trial."

Wouldn't this contradict with this article?
"Self-Service Password Reset for cloud use

[2019-08-14 04:23] DashleenBhandari-MSFT commented on #37060
@omerzubair , Thanks for raising the issue. The feature goes GA towards the end of Q3CY2019.  That is the current schedule should nothing go amiss in the Networking product group deployments.

Please let me know if you have any other queries.

[2019-08-14 04:29] AjayKumar-MSFT commented on #37038
@farooqkh, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-08-14 04:32] AjayKumar-MSFT commented on #37040
@jasonpnnl, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-08-14 04:33] AjayKumar-MSFT commented on #37041
@jasonpnnl, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-08-14 04:35] AjayKumar-MSFT commented on #37044
@borys86, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-08-14 04:37] AjayKumar-MSFT commented on #37046
@gw1108, Thanks for bringing this to our attention. We are taking a look into this and will get back to you soon.

[2019-08-14 04:41] AjayKumar-MSFT commented on #37047
@cgearing, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-08-14 04:42] AjayKumar-MSFT commented on #37050
@degrover-cn, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-08-14 04:48] abhishek-kumar-mishra opened #37066 "Don't see any option to auto-scale search service for surge load"
We are looking to auto-scale azure search so that we can handle surge loads whenever it happens.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1f0f53b-3c91-6bbb-4c2d-1c3d993a011d
* Version Independent ID: 68164191-a7a3-f592-91f0-557289e8aa5a
* Content: [Scale partitions and replicas for query and indexing - Azure Sea

[2019-08-14 04:50] msrini-MSFT commented on #36930
@avooca , please tag me if you have any further questions.

[2019-08-14 04:50] #36930 closed

[2019-08-14 04:52] AjayKumar-MSFT commented on #37066
@abhishek-kumar-mishra, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-08-14 04:52] RohitMungi-MSFT commented on #37029
@nirtiac Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-08-14 04:55] jakaruna-MSFT commented on #36710
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-08-14 04:55] #36710 closed

[2019-08-14 04:55] RohitMungi-MSFT commented on #37031
@wooters Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-08-14 04:56] jakaruna-MSFT commented on #37057
@doodlemania2
Thanks for the question! We are investigating and will update you shortly.

[2019-08-14 05:02] HeidiSteen commented on #37066
@abhishek-kumar-mishra Quick question, can you reply back with the tier/SKU of your Azure Search service?  Free tier does not provide scaling options.  Basic tier will let you add replicas but not partitions.  Tier/SKU info is on the overview page in the portal.

[2019-08-14 05:04] HagayatFeelit commented on #36868
Thanks.
What services remain once disconnected ?
Can the code and services on Azure functions and UI run on the IoT Edge ? Or does that require seperate developmnet ?
Are the functions deployed to the IoT Edge?

[2019-08-14 05:04] DixitArora-MSFT commented on #36934
@opticyclic It is mentioned as an important note so that user don't miss on this point.

[2019-08-14 05:13] DixitArora-MSFT commented on #36999
@oracle000 This specific platform is for doc bugs or improvement. If you have any other question specific to product , it would be best if you can create the product issue to the official [Azure Functions Repo](https://github.com/Azure/Azure-Functions/issues) for better clarity.

[2019-08-14 05:19] KetanChawda-MSFT commented on #37064
@ToMakeSense Thank you for your feedback! We will review and provide an update as appropriate.

[2019-08-14 05:20] ram-msft commented on #37056
@zxyanliu Thanks for the feedback. We are investigating the issue and will update you shortly.

[2019-08-14 05:21] VikasPullagura-MSFT commented on #36880
@jcledezma As the author confirmed that the document will be updated, I am assigning the issue to doc author.

[2019-08-14 05:22] VikasPullagura-MSFT commented on #36880
@mlearned Can you please update the document as required.

[2019-08-14 05:23] KetanChawda-MSFT commented on #37064
@vladvino Can you confirm if this is a know restriction from product side?

[2019-08-14 05:23] mvancamp commented on #36903
Hi @FrankHu-MSFT, many thx for you explanation.  I will look into those documentation and verify my workstation settings.  Please close this thread. Regards

[2019-08-14 05:23] #36903 closed

[2019-08-14 05:24] abhishek-kumar-mishra commented on #37066
We are in standard tier with 3 replica.

On Wed, 14 Aug, 2019, 10:33 AM Heidi Steen, <notifications@github.com>
wrote:

[2019-08-14 05:24] AjayKumar-MSFT commented on #37052
@nigelmeakinspbi, Typically, the service does not require a restart. Just to confirm, have you already completed the setup and experiencing the same behavior? Could you please let us know if you're receiving any specific error/with status 'Not connected"? You could try the '[Troubleshooting](https://docs.microsoft.com/azure/app-service/app-service-hybrid-connections#troubleshooting)' section in th

[2019-08-14 05:25] DixitArora-MSFT commented on #36992
@craigshoemaker Any inputs in this ?

[2019-08-14 05:27] neeleshray-msft commented on #37065
@WhitWaldo Thank you for your query. We will check it with the engineering internally and let you know accordingly.

[2019-08-14 05:28] HeidiSteen commented on #37066
@abhishek-kumar-mishra  Hmm, this sounds like a bug or possibly a transitory service issue.  Can you file a support request? This link should get you started --  https://azure.microsoft.com/en-us/support/create-ticket/

[2019-08-14 05:29] neeleshray-msft commented on #37063
@dcbrown16 Thank you for your query. We will check it with the engineering internally and let you know accordingly.

[2019-08-14 05:30] AshokPeddakotla-MSFT commented on #36786
@PanClifton We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-14 05:30] #36786 closed

[2019-08-14 05:31] Alberto-Vega-MSFT commented on #36659
@PatricioVidal Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-08-14 05:32] VikasPullagura-MSFT commented on #37058
@stewartadam Thanks for the feedback. It is intended for Bash, the syntax should be for Bash. We are looking into fixing this. Will update you shortly.

[2019-08-14 05:33] DashleenBhandari-MSFT commented on #37050
@mattchenderson , Could you please verify the documentation and update.

[2019-08-14 05:34] #36853 closed

[2019-08-14 05:35] DashleenBhandari-MSFT commented on #37040
@cephalin , Could you please verify [this ](https://github.com/projectkudu/kudu/wiki/Continuous-deployment#setting-up-continuous-deployment-using-manual-steps)documentation and update if this is possible or not any longer?

[2019-08-14 05:37] Shaktikantpadhi commented on #36648
@DarrinEide
Thanks for your update. Please let us know once this feature is enabled. Again thanks for your time and support.

[2019-08-14 05:39] Shaktikantpadhi commented on #36813
@YutongTie-MSFT
Thanks for your update. Please let us know once this feature is enabled.
Thanks for your time and support.

[2019-08-14 05:43] dcurwin commented on #36665
I hope the above answers were helpful.

#please-close

[2019-08-14 05:43] #36665 closed

[2019-08-14 05:44] MoRMongol commented on #36892
@roygara Can you just direct me on one of those separate ways you are talking about? Can it be done via Azure File Share or no? If not, what's one way you would suggest? I've been bouncing too many times between Microsoft representatives.

[2019-08-14 05:47] imeya commented on #36978
thank you.

[2019-08-14 05:47] #36978 closed

[2019-08-14 05:50] abhishek-kumar-mishra commented on #37066
Hey, let me clarify. Not sure if I explained correctly. I said I don't see
the option to auto scale. Not sure if that is an option.

I didn't mean to say that I am not able to manually scale it.

On Wed, 14 Aug, 2019, 10:59 AM Heidi Steen, <notifications@github.com>
wrote:

[2019-08-14 05:53] borys86 commented on #37028
@RyanHill
you refer to documentation but it is not in the code. I have also posted that question above.

I am peaking into the following assembly:
#region Assembly System.Data.SqlClient, Version=4.2.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a
// .nuget\packages\system.data.sqlclient\4.4.0\ref\netstandard2.0\System.Data.SqlClient.dll
// Decompiled with ICSharpCode.Decompiler 4.0.0.4285
#e

[2019-08-14 06:04] rboucher commented on #34994
@andrewatfornax . Quite correct.  Sorry for late reply. https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/diagnostics-windows is the right link.

[2019-08-14 06:08] linda33wj commented on #36310
Thanks for the feedback. I have clarify it in Prerequisite section: https://docs.microsoft.com/en-us/azure/data-factory/connector-mysql#prerequisites

Currently ADF don't provide fixed IP range for whitelist, we are working on it.

#sign-off

[2019-08-14 06:08] rboucher commented on #34994
fixing per github internal PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/85332

[2019-08-14 06:09] #36310 closed

[2019-08-14 06:10] AshokPeddakotla-MSFT commented on #35540
@qm13 Thanks for the confirmation.
@Shri-Humrudha We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-14 06:10] #35540 closed

[2019-08-14 06:13] MarnusStoop commented on #36900
Thank you for the reply.

The nodes have all fixed themselves after a while without intervention. And everything is back to normal now.

[2019-08-14 06:13] #36900 closed

[2019-08-14 06:21] Alberto-Vega-MSFT commented on #36717
@petermillsacumentive Please feel free to reach out when ready. Thank you!

[2019-08-14 06:21] #36717 closed

[2019-08-14 06:23] asif1191 commented on #36986
https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-troubleshoot-deployment#dockerlog

Below the head line section:
Function fails: get_model_path()

[2019-08-14 06:26] iamanuradha commented on #36641
I changed the region and now getting error
RequestId: 2d060df0-a6fd-4643-be19-4e60dc380e5d Error code:
'AuthorizationFailed'. Target: ''. Message: 'The client
'052e4e16-dcc9-4ac8-a9f6-8d9a61f3036a' with object id
'052e4e16-dcc9-4ac8-a9f6-8d9a61f3036a' does not have authorization to
perform action 'Microsoft.BatchAI/workspaces/read' over scope
'/subscriptions/d6da88cb-610b-49af-8c23-6e86e3b0d8a2/re

[2019-08-14 06:30] Alberto-Vega-MSFT commented on #36683
Thanks again @shulagrawal  I have assigned the issue to the content author to evaluate and update as appropriate. @dominicbetts I am not sure which sample will replace this one that is missing https://github.com/Azure/azure-iot-sdk-c/tree/master/iothub_client/samples#list-of-samples

[2019-08-14 06:35] SnehaGunda commented on #37018
@CeciAc Submitted a fix to update the link, here is the right link: https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.cosmos.table?view=azure-dotnet

We will now close this issue.

#please-close

[2019-08-14 06:35] #37018 closed

[2019-08-14 06:36] SnehaGunda commented on #36950
@iruvetar Submitted a fix to update the link, here is the right link: https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.cosmos.table?view=azure-dotnet

We will now close this issue.

#please-close

[2019-08-14 06:36] #36950 closed

[2019-08-14 06:38] KetanChawda-MSFT commented on #37055
@axisc / @spelluru can you please confirm if this is supported scenario.

[2019-08-14 06:39] KetanChawda-MSFT commented on #36968
@nateforsyth Checking in to see if the above post helped answering your question.

[2019-08-14 06:41] KetanChawda-MSFT commented on #36951
@tiwari-abhishek Just checking in in case you missed my previous comment.

[2019-08-14 06:48] ibartley commented on #36681
Thx Travis.

On Tue, Aug 13, 2019, 4:31 PM TravisCragg-MSFT <notifications@github.com>
wrote:

[2019-08-14 06:55] neeleshray-msft commented on #36855
@BernieJ54
As of July 1, 2019, Microsoft will no longer offer MFA Server On-Premise for new deployments. New customers who would like to require multi-factor authentication from their users should use cloud-based Azure Multi-Factor Authentication.

[2019-08-14 06:55] #36855 closed

[2019-08-14 06:58] neeleshray-msft commented on #36885
@jeevansd
Jeevan, Could this be verified ?

[2019-08-14 07:02] markleavesley opened #37067 "C# code doesn't compile"
No overload for method 'CallActivityAsync' takes 1 arguments, DurableTask nuget 1.8.3.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: efa40ad5-ef98-4fa0-f071-65b804a6c617
* Version Independent ID: 948676b8-6319-3adb-5a38-946ddbb852f0
* Content: [Eternal orchestrations in Durable Functions - Azure](https://docs.microsof

[2019-08-14 07:06] SnehaGunda commented on #36950
@iruvetar actually my comment above is wrong. Thanks @KalyanChanumolu-MSFT for identifying.

The reference content is refreshed with the latest version of SDK (Microsoft.Azure.Cosmos.Table). The older version of API docs are no longer available. Our platform only supports one stable version of SDK docs. So the older version of docs won't be available. Also, that SDK is in maintenance mode and we r

[2019-08-14 07:06] SnehaGunda commented on #37018
@CeciAc actually my comment above is wrong. Thanks @KalyanChanumolu-MSFT for identifying.

The reference content is refreshed with the latest version of SDK (Microsoft.Azure.Cosmos.Table). The older version of API docs are no longer available. Our platform only supports one stable version of SDK docs. So the older version of docs won't be available. Also, that SDK is in maintenance mode and we rec

[2019-08-14 07:08] msvijayn commented on #36395
@SwathiDhanwada-MSFT - please refer to my [post ](https://github.com/MicrosoftDocs/azure-docs/issues/36395#issuecomment-518558096)prior to assignment

[2019-08-14 07:10] AjayKumar-MSFT commented on #37066
@abhishek-kumar-mishra, For better clarity, could you post a screenshot after concealing any private details?

[2019-08-14 07:11] SnehaGunda commented on #36846
@artisticcheese We show an example output of QueryRuntimestatics logs, but it doesn't clarify how to read the query.

@kanshiG who can clarify what this means. Govind, how do we read the where clause below? what does p1_12 mean?

SELECT *
FROM r1
WHERE (((r1["p1__12"] = 1) AND CONTAINS(r1["p2__19"], "str1__13")) AND (r1.p1__12 = 1))

[2019-08-14 07:27] PabloBotas commented on #36710
Yes. I was hoping to be able to directly attach the container to the log in the container instance view. But I'll configure log analytics instead.

Thanks!!

[2019-08-14 07:28] KalyanChanumolu-MSFT commented on #36988
This is being assigned to the content author to evaluate and update as appropriate.

[2019-08-14 07:29] SwathiDhanwada-MSFT commented on #36395
@msvijayn  i was unable to assign the issue to @abver so i kept you in the loop.
@abver Can you please provide your insights on this issue?

[2019-08-14 07:37] philipktlin commented on #36645
you need to manually strinigying the $edgeHub JSON.

az iot edge deployment update --deployment-id testedge --hub-name microwaves --set content.modulesContent.'$edgeHub'="{'properties.desired': {'routes': {'route': 'FROM /messages/* INTO $upstream'},'schemaVersion': '1.0','storeAndForwardConfiguration': {'timeToLiveSecs': 7201}}}"

However it doesn't do anything because of content being immutable.

[2019-08-14 07:37] breno601 commented on #36854
Hey Daniel,  thanks for reaching out.

I have some pipelines in DF that uses Custom Activities. I am currently deploying it manually by moving the files to the AzureBlobStorage. I couldn't find any documentation regarding how to automate the deployment of those files/custom activities.

Thanks in advance!
Breno

[2019-08-14 07:40] SnehaGunda commented on #36436
@southpolesteve Thanks for handling this issue, per @SogoGolf 's feedback above do you plan to make any further updates to the doc/sample? does it need more time, if it's helpful you can track the issue in the SDK repo and close it here.

[2019-08-14 07:44] mohclips commented on #37015
Looks like it's the build somehow.

process:

following:  https://docs.microsoft.com/en-us/azure/virtual-machines/linux/capture-image

login to build and `sudo waagent -deprovision+user`

then
[code]

error:
[code]

[2019-08-14 07:48] Tiberriver256 commented on #37008
I don't have too much info on the MFA side.

This request does not trip the MFA:
[code]

This request does:
[code]

The only difference between the two being a resource was requested. It is reproducable 100% of the time for me.

[2019-08-14 07:53] mohclips commented on #37015
Question:  Could it be that as i am using a BYOS AMI as the base vm, that this is causing the issue?

[2019-08-14 07:53] PramodValavala-MSFT commented on #37036
@unstephenk For javascript, you could either directly use the built-in `http` module or a package like `axios` to make the HTTP call to the Logic App

[code]

The sample code in the doc is more of a representation of what needs to be done functionally from a Logic Apps perspective. But I don't believe adding sample code for each language supported by Azure Functions would make sense here. @ecfan T

[2019-08-14 08:04] jakaruna-MSFT commented on #37057
@doodlemania2 This document holds goof for current versions also.
I tried with 1.13.9.

Can you please post the error you got

[2019-08-14 08:04] PramodValavala-MSFT commented on #36991
@LukeGahan There seems to be an open discussion here - Azure/azure-functions-python-worker#469 - for this which I believe would be a better place to discuss this for a more insightful discussion.

Also, I've tried with direct imports [before](https://github.com/MicrosoftDocs/azure-docs/issues/30588) which I believe should still work and something similar is discussed in the python-worker issue as

[2019-08-14 08:05] VikasPullagura-MSFT commented on #37058
@stewartadam I raised a PR for fixing the issue. The changes should be live once the it is approved.

[2019-08-14 08:05] FunkEinstein commented on #29978
I checked it by myself and as I can see you do nothing. So my next question is when you will fix this issue?

[2019-08-14 08:06] KrishnaG-MSFT commented on #37011
@MicrosoftGuyJFlo Thanks for the quick response. 👍

[2019-08-14 08:07] PramodValavala-MSFT commented on #37067
@markleavesley Thanks for the feedback! We will review and update accordingly.

[2019-08-14 08:08] jakaruna-MSFT commented on #36897
@Mr-Sharma You can submit a feedback here https://feedback.azure.com/forums/34192--general-feedback  to request for this feature
Then the community can upvote it.

[2019-08-14 08:12] wucj opened #37071 "Does "scope=https://graph.microsoft.com/.default" support for personal microsoft account?"
I used “https://graph.microsoft.com/.default” instead of listing all scopes in the `/authorize` endpoint. When I use my organization account login, everything is fine. However, when I login via my personal @outlook.com account, I get the error message below:

“An error occurred. Error while trying to authorize access to account: invalid_scope The provided value for the input parameter ‘scope’ is n

[2019-08-14 08:21] femsulu commented on #36474
Apologies for the delay. Please share this feedback directly with the feature owner via our public feedback channel. This allows other users to comment and vote on your feedback to helps prioritize the request against our backlog. Thanks again for the feedback.

@qianw211  - FYI

[2019-08-14 08:21] #36474 closed

[2019-08-14 08:21] lokijota opened #37072 "Wrong parameter in Powershell: -AllowPrerelease"
PS C:\WINDOWS\system32&gt; Install-Module Az.Storage -Repository PSGallery -AllowPrerelease -AllowClobber -Force           Install-Module : A parameter cannot be found that matches parameter name 'AllowPrerelease'.                             At line:1 char:49                                                                                                       + ... tall-Module Az.Storage -Reposit

[2019-08-14 08:28] lkoppenol commented on #36645
Thanks for your answer, here and on stackoverflow :D can you point to the documentation for this?

[2019-08-14 08:28] #36645 closed

[2019-08-14 08:36] LukeGahan commented on #36991
Hi Pramod,

Yeap that's definitely helpful, I'll follow up on that thread. I was using direct imports successfully until the end of last week but something seems to have changed in the way the python functions are executed. I tried logging the output of `sys.path` from my funtion and it seems that the home folder (/home/site/wwwroot/) is not present, which I believe is preventing me from doing a d

[2019-08-14 08:42] ToMakeSense commented on #21817
@KetanChawda-MSFT It seems no powershell cmdlet to create tag in apim. right?

[2019-08-14 08:43] AshokPeddakotla-MSFT commented on #36878
@ericloeliger Please help with the link of document on which above document feedback request is created.
In case your query in not related to document content, open a new forum thread in MSDN forum or Stack Overflow as it could be better place to get help on your scenario.
These forum community members could provide their expert guidance on your scenario based on their experience. Thanks.

[2019-08-14 08:57] ToMakeSense commented on #21817
@KetanChawda-MSFT  report a bug, the column "Display Name" changed to "Name", should be typo during upgraging, there are two column named "Name" now.
![image](https://user-images.githubusercontent.com/6244148/63008136-93870180-beb4-11e9-8ff9-64a94fabb387.png)

[2019-08-14 08:58] KalyanChanumolu-MSFT commented on #36962
@kalittles Support on GitHub is limited to questions on documentation.
Please post this issue on [MSDN Forums](https://social.msdn.microsoft.com/Forums/en-US/home?forum=azurecosmosdb) or [StackOverflow ](https://stackoverflow.com/questions/tagged/azure-cosmosdb)

We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continu

[2019-08-14 08:58] #36962 closed

[2019-08-14 09:14] CHEEKATLAPRADEEP-MSFT commented on #37072
@lokijota Thanks for bringing this to our attention.

![image](https://user-images.githubusercontent.com/44426401/63008801-e951ae80-bea0-11e9-86de-9c6b3af60c74.png)

I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/85341](https://github.com/MicrosoftDocs/azure-docs-pr/pull/85341).
The changes should be live EOD or tomorrow. We will now close this issue. In futu

[2019-08-14 09:14] #37072 closed

[2019-08-14 09:21] CHEEKATLAPRADEEP-MSFT commented on #36894
@STEFGUOLONDON  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-08-14 09:21] #36894 closed

[2019-08-14 09:26] j0h opened #37075 "Timescale DB extension version"
Hi, would it be possible to state the current version of the Timescale DB extension that's currently used in Azure PostgreSQL?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08d2543f-f47a-e9dc-1f80-1ac5ad7a71ad
* Version Independent ID: cc5f4337-01f7-4774-6c26-fda65fadbdbf
* Content: [Use PostgreSQL extensions in Azure

[2019-08-14 09:30] CHEEKATLAPRADEEP-MSFT commented on #34489
@xurui203 Could you please look into this issue?

[2019-08-14 09:32] CHEEKATLAPRADEEP-MSFT commented on #31461
@twooley Could you please update the document with the latest updates?

[2019-08-14 09:41] ADringer commented on #23301
I've had the same experience, after scaling up an app service plan it left the sites unresponsive for a few minutes.  Not great for production sites.

[2019-08-14 09:45] zhengwia opened #37076 "This installation package could not be opened"
Hi, I tried updating to this latest version of cosmos Emulator on our windows server 2016 where a previous version was running, and it's throwing "this installation package could not be opened" error. Any ideas pls?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1300a10b-16f3-9185-af2a-67437bf428d2
* Version Independen

[2019-08-14 10:03] svrooij commented on #17210
@MarileeTurscak-MSFT I stumbled upon this issue as well. Let me elaborate some more.

We have 2 Azure AD tenants, 1 that is setup years ago (as a developer Tenant for Office 365) that has some of our **multi tenant** applications registered. We also have 1 tenant with our new office 365 subscription.

We want to get rid of the old Office 365 developer tenant, but we don't want force our customers

[2019-08-14 10:17] bobbytreed commented on #36443
This should be resolved in a few days #please-close

[2019-08-14 10:17] #36443 closed

[2019-08-14 10:19] jakaruna-MSFT commented on #36857
@JimXu199545 Did you had a chance to try out the suggestions?

[2019-08-14 10:20] bobbytreed commented on #36445
I have updated the docs #please-close

[2019-08-14 10:20] #36445 closed

[2019-08-14 10:21] cephalin commented on #37028
@borys86 check your .NET Core version. You need 2.2 or above.

[2019-08-14 10:26] bowlerma commented on #28461
Having the same problem with App Services and SQL Azure, this doesn't seem to work as the documentation and the various other demos indicate it should:

https://www.youtube.com/watch?v=wWX5iTQPp5M

https://www.youtube.com/watch?v=ic6Laiv9Jfc

[2019-08-14 10:52] mohclips commented on #37015
Interestingly, all the previous versions of BYOS AMIs from RHEL are failing, but the Ubuntu builds/images i have created work fine.

[2019-08-14 10:56] pmcilreavy opened #37077 "Limitations"
In the *Limitations* section the first point is _"A Web App can be mapped to a private IP in a VNet/subnet. Even if service endpoints are turned ON from the given VNet/subnet, connections from the Web App to the server will have an Azure public IP source, not a VNet/subnet source. To enable connectivity from a Web App to a server that has VNet firewall rules, you must Allow Azure services to acces

[2019-08-14 11:28] cheng93 opened #37078 "QnAMaker REST API Reference"
## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page creates an issue that contains all the article details so you can focus on the feedback part.

You can also create a feedback issue here in the repo. If you do this, please make sure your issue lists:

- [ ] The relevant Azure service

[2019-08-14 11:31] VikasPullagura-MSFT commented on #36706
@ksysiekj Just want to keep you posted on the progress on this issue. Author is working on removing the duplicates. The changes will be live once the PR is live.

[2019-08-14 11:38] LeonardoFelippine commented on #36139
I have the feeling that not even Microsoft is sure about these rules. We have had a really long-running support case about Azure AD Premium features (not only related to guests), and no one could provide a definitive answer. They always point to these dubious documentation.

[2019-08-14 11:53] JimXu199545 commented on #36857
It does not work. I get an error as below

[code]

[2019-08-14 11:54] JimXu199545 commented on #36857
Hi. According to my test, if I read json content from parameters.json. It does work. Ths json content is `{{ "adminUserName": { "vaule": "Azureuser" }, "adminPassword": { "vaule": "Azure12345678" }}}`. Can you tell me wht?

My code

[code]
            string resourceGroupLocation = "Southeast Asia"; // must be specified for creating a new resource group
            string pathToTemplateFile = "htt

[2019-08-14 12:08] malishivom commented on #29061
Is it possible to use *Use Built-In Image* is CentOS image in image configuration in Jenkins agent VM configuration.

[2019-08-14 12:30] bobbytreed commented on #36390
I have passed the feedback to the engineering team #please-close

[2019-08-14 12:30] #36390 closed

[2019-08-14 12:32] sbi-rviot opened #37079 "Excel (Business) step - Add row to table - expression file path not working"
Hello,
I tried to find documentation in the subject but fell short until now.
I am trying to use **Logic Apps** in order to update a table when a trigger occurs.
I have two different tables and the path to those two tables are in the trigger.
I am using an **Expression** in the path to "File" instead of manually clicking to get to this path and so that depending on the trigger, the app knows wheth

[2019-08-14 12:35] the-blesss commented on #36828
Thanks @TravisCragg-MSFT we have a ticket opened and have a PaaS engineer assigned to look at the name resolution options. We only need the Web App to speak to on-premise backend at the moment, but we prefer not to have to stand up VMs to handle the DNS forwarding to Azure DNS and use the Private DNS Zones, which seams like an extra step to me, but something about PaaS needs this, or additonal Web

[2019-08-14 12:57] IvoMerchiers opened #37080 "Usage of a cluster is not clear"
The page explains how to set up an azure machine learning services compute cluster. It also uses this as a target for a training experiment. However, this experiment seems to only ever uses one node. From the documentation provided, it is not clear whether this is expected behaviour or not, nor is there any advise on how to actually use multiple nodes from the cluster.

It would be an improvement

[2019-08-14 13:00] PramodValavala-MSFT commented on #36896
@henrycollet Looks like a template metadata problem. Comparing the metadata for a [simple http function](https://github.com/Azure/azure-functions-templates/blob/dev/Functions.Templates/Templates/HttpTrigger-JavaScript/metadata.json#L13) and a [durable http starter](https://github.com/Azure/azure-functions-templates/blob/dev/Functions.Templates/Templates/DurableFunctionsHttpStart-JavaScript/metadat

[2019-08-14 13:07] bhavya11 opened #37081 "Prepare networking for Azure VM DR"
Hi,
The documentation states that explicit outbound rules have to be created to enable access to Azure AD and Storage location from Azure VM.

But the default outbound rules of NSG allow outbound traffic to all internet IP addresses. Then why are we required to configure specific outbound rules for AAD and Azure Storage, which are accessible over public ip address.

Thank you

[2019-08-14 13:08] featuresnap commented on #31118
In the case of Durable Functions, I believe there may be value in supporting method injection. Many of the examples of Durable Orchestration Functions just include the activities as methods of the orchestration class. However, it seems at best confusing, and at worst unsafe, to use constructor-injected dependencies in a class housing multiple activity functions (think thread safety, immutability,

[2019-08-14 13:08] DeanGross commented on #36235
The issue is that that the current page is estimated to take 61 minutes minutes to read which is much longer than most pages in this site. Splitting it up into several pages would make it easier to scroll up and down.

[2019-08-14 13:09] AdamSharif-MSFT opened #37082 "Name for cluster role binding is case-sensitive"
As discovered in a recent SR, name is case-sensitive but this is not mentioned in this article:

https://kubernetes.io/docs/reference/access-authn-authz/rbac/

It's more to do with Kubernetes and not AKS specifically, but it's worth mentioning here, as in some situations parts of AAD UPNs may be uppercase and cause confusion.

Thanks,
Adam

---
#### Document Details

⚠ *Do not edit this section. I

[2019-08-14 13:21] jwargo commented on #36998
@zboyanov We don't have an issue with that, but that's probably something you would have to work out with Apple.

#please-close

[2019-08-14 13:21] #36998 closed

[2019-08-14 13:36] ChrisSommers opened #37083 "Container access level"
Why is it specified to configure the container as anonymously accessible?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e891ae5d-cb70-cb08-e3b2-f803087ba156
* Version Independent ID: 5beb898f-2c44-42e7-fd88-baf7e03d68ac
* Content: [Tutorial: Search unstructured data in Azure Blob storage](https://docs.microsoft.com/en

[2019-08-14 13:43] florianbader opened #37084 "Image paas-saas-technologies-solutions does not explain the difference between coloring"
The paas-saas-technologies-solutions.png image shows the PaaS technologies and uses the colors yellow and blue for each technology. What's the difference between technologies that are yellow and technologies that are blue?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b152be48-0a05-890e-9ad0-6826aa3336b2
* Version Ind

[2019-08-14 13:54] cheng93 commented on #37078
oh right, the API is case insensitive

[2019-08-14 13:54] #37078 closed

[2019-08-14 13:55] mlearned commented on #36880
yes we have an item to update the doc

[2019-08-14 13:58] cephalin commented on #34631
@dkamstra Sorry for the delay. I've updated the steps and screenshots and it should be published sometime today.

[2019-08-14 13:58] cephalin commented on #34631
#please-close

[2019-08-14 13:58] #34631 closed

[2019-08-14 13:59] cephalin commented on #36494
@jhosteny I've updated the steps and screenshots and it should be published sometime today. #please-close

[2019-08-14 13:59] #36494 closed

[2019-08-14 14:03] kanshiG commented on #36846
@SnehaGunda @artisticcheese  Key here is to understand that query can be logged to 2 locations - queryruntimestatistics table in diagnostic log vs storage account. You would pick up the activityid from the diagnostic log and use that activity log to look up the query itself.

[2019-08-14 14:08] southpolesteve commented on #36436
I do plan to make a few tweaks. But we can track it over in the SDK repo
and close this issue.

On Wed, Aug 14, 2019, 2:40 AM Sneha Gunda <notifications@github.com> wrote:

[2019-08-14 14:11] ChethanRavulaGit commented on #25052
Can anybody share how to programmatic set up access restriction on Vnet/subnet and not on ip address.
Either ARM or powershell should be good, having both listed out is even better.

[2019-08-14 14:49] #37058 closed

[2019-08-14 14:55] rudolfdobias opened #37087 "No default configmaps for coredns"
&gt; "To see the default AKS CoreDNS ConfigMaps, use the `kubectl get configmaps coredns -o yaml` command."

This command returns nothing. Isn't there missing argument `--namespace kube-system`?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f95537e-770a-739c-0175-4447a995f8b2
* Version Independent ID: 6c9a1132-05af-7

[2019-08-14 14:56] kanshiG commented on #36846
@SnehaGunda the parameter values are not logged in exact fashion respecting the PII. Those names are placeholders for the parameters and their values. Key here is for you to get the idea - which query it is. And then use activity id to debug the issue - in terms of why you would make the query with help of client side stats you would have logged via FeedOptions.PopulateQueryMetrics = true.  Or in

[2019-08-14 14:59] NavtejSaini-MSFT commented on #37075
@j0h We are looking into this and will try to add this information.

[2019-08-14 15:04] NavtejSaini-MSFT commented on #37076
@zhengwia We are looking into this and will check regarding the same.

[2019-08-14 15:06] NavtejSaini-MSFT commented on #37077
@pmcilreavy We are looking into this and we will get back to you.

[2019-08-14 15:14] MrRitt opened #37089 "IOPS?"
What's the expected IOPS per service level? Can you also provide some examples of IOPS speed per TiB and also by block size?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d94f4f03-1311-569a-4800-d1866b58bf7e
* Version Independent ID: 3b92a62e-5dbf-f6f4-166e-27d6ec74801f
* Content: [Service levels for Azure NetApp File

[2019-08-14 15:15] #36218 closed

[2019-08-14 15:15] spamela-blah commented on #25532
Is there an answer to this?

[2019-08-14 15:16] stijn192 opened #37090 "Error in graphic for Sliding Window"
In the graphic for the 10-second Sliding Window, I believe the measure below the X axis should be "secs" not "minute".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63c64692-7533-cc84-251d-1994aab6a8fb
* Version Independent ID: 10d6faea-cf4a-1e28-2dd6-76146128e1ce
* Content: [Introduction to Azure Stream Analytics win

[2019-08-14 15:16] hrasheed-msft commented on #36218
@anssenfang1 We are submitting a PR to resolve this issue. Thanks for bringing this to our attention.

[2019-08-14 15:19] schroedh commented on #13518
@roygara As my comment was pretty much 1y ago, to be honest I don't exactly remember the background of my question. What striked me when reading the article was the fact it mentions and explains LRS, GRS, RA-GRS but not ZRS.   What I'd like to understand better from the article is: when using VMs distributed to AZs, is also the managed disk and its redundant copies then using ZRS replication?

[2019-08-14 15:20] markjbrown commented on #37076
This is a support question. Please email askcosmosdb@microsoft.com and we can better help you.

Thanks.

#please-close

[2019-08-14 15:20] #37076 closed

[2019-08-14 15:24] blueelvis opened #37092 "Unable to use special characters in Environment Variables while trying to deploy from AZ CLI"
Hi,

My YAML file for deployment contains a few environment variables which start with `-` (Hyphen) and need to be like that. When I tried deploying, I got the following error and I believe this needs to be called out in the docs -
[code]
Example Environment values -
[code]

If there is a workaround for this, would like to know that as well.

Thanks,
Pranav

---
#### Document Details

⚠ *Do not ed

[2019-08-14 15:26] dangershin commented on #37025
@Adam-Smith-MSFT The link has been added already, but for reference, it is here: https://docs.microsoft.com/en-us/azure/key-vault/quick-create-portal

[2019-08-14 15:43] zawor commented on #31154
On current stable release 1.1.2 it looks like this: [AuthOptions](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/v1.1.2/lib/msal-core/src/Configuration.ts#L34-L41) so @aszalacinski is right.
I was dumb stuck when I saw those here in the docs

[2019-08-14 15:47] jn-altius opened #37096 "Can Functions be added to existing Resource Groups?"
Or must we create a new Resource Group each time?

I tried creating a Function in my existing Resource Group and got the following message:
						"ExtendedCode": "59324",
						"MessageTemplate": "Requested feature is not available in resource group {0}. Please try using a different resource group or create a new one."

Is there something 'special' about the Resource Groups created by the portal a

[2019-08-14 15:49] Karishma-Tiwari-MSFT commented on #37087
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-14 15:50] cephalin commented on #34184
@pfeio This issue was already fixed in the fix for a separate issue. #please-close

[2019-08-14 15:50] #34184 closed

[2019-08-14 15:53] cephalin commented on #31262
@paululvinius The wording of the doc has been modified from a separate issue and this issue has been fixed already as a side effect. #please-close

[2019-08-14 15:53] #31262 closed

[2019-08-14 15:53] lancezhoward commented on #27184
My connection keeps resetting and trying to reconnect I get the error message : Connection reset, restarting [0] I am using openvpn-install-2.4.7-I607-Win10

Here are my logs I replaced all identifiable info with generic stuff please help
Wed Aug 14 11:37:34 2019 MANAGEMENT: TCP Socket listening on [AF_INET]127.0.0.1:25342
Wed Aug 14 11:37:34 2019 Need hold release from management interface, waiti

[2019-08-14 15:54] rohitnayakmsft commented on #37077
@pmcilreavy your feedback is valid. Vnet firewall rules work well to limit traffic that is coming from a particular Vnet: subnet. However there are exceptions to this i.e. services like Web App or Power BI that are not in a Vnet cannot take advantage of this feature

[2019-08-14 15:54] cephalin commented on #30023
The wording of the doc has been modified from a separate issue and this issue has been fixed already as a side effect. #please-close

[2019-08-14 15:54] #30023 closed

[2019-08-14 15:59] PramodValavala-MSFT commented on #36948
@rjosephp Since you are simulating a failover (when there is actually no problem with the namespace), I believe the messages might've just gone into the primary namespace. Could you check and confirm?

In a real scenario, the namespace would be unavailable causing the client to fail while sending messages until the failover is initiated.

[2019-08-14 16:02] gs9824 opened #37097 "Unclarity in the document"
In :
Test the function in Azure
Use cURL to test the deployed function. Using the URL that you copied from the previous step,

The URL contains api/httptrigger?code=cCr8sAxfBiow548FBDLS1

But it is not clear where the part 'code=...' can be retreived from. Can it be seen in the Azure portal ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2019-08-14 16:03] MicahMcKittrick-MSFT commented on #37092
Thanks for the question! We are investigating and will update you shortly.

[2019-08-14 16:06] MicahMcKittrick-MSFT commented on #37078
Thanks for reaching out and closing the issue. If you need anything else just let us know.

[2019-08-14 16:08] mohclips commented on #37015
I am finding that rhel byos local images are failing to build even outside of the shared image gallery.
I have built image all day and now have worked.

The plan information is required
[code]

If the plan information is provided the plan is not found

[code]

Upper/lower/or mixed case spellings of the plan do not resolve this.

My Ubuntu images are working as expected locally and via the shared i

[2019-08-14 16:11] djpmsft commented on #36854
Hey Breno,

By deploying, do you mean running the pipeline? On which cadence are you trying to automate the deployment of these files/custom activities?

Sorry for so many follow ups, just want to make sure I am going to give you the correct advice!

Thanks,
Daniel

[2019-08-14 16:11] PramodValavala-MSFT commented on #37097
@gs9824 Thanks for catching that! We have assigned this issue to the content author for review and to update the doc accordingly.

You could get the URL from the portal as described [here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-azure-function#test-the-function).

[2019-08-14 16:16] rachel-msft commented on #36226
The CLI sample has been updated.

#please-close

[2019-08-14 16:16] #36226 closed

[2019-08-14 16:22] CelesteDG commented on #28290
Thank you very much for the feedback, @mahoekst

We retested and updated the tutorial in July and the latest and greatest is what we’ve got live now. Thank you.

#please-close

[2019-08-14 16:22] #28290 closed

[2019-08-14 16:22] MicahMcKittrick-MSFT commented on #37053
@WhitWaldo fixed :)

Once the PR merges the changes will go live after a few hours.

[2019-08-14 16:22] #37053 closed

[2019-08-14 16:25] MicahMcKittrick-MSFT commented on #37092
@blueelvis we have a doc you can review regarding all the naming conventions and limitations for Azure resources here:

https://docs.microsoft.com/en-us/azure/architecture/best-practices/naming-conventions

You cannot start a resource name in Azure with a "-" there is not a work around for that.

[2019-08-14 16:27] jeevansd commented on #36885
@jaswanthpadigala Yes, we are in the process of verifying the new JIRA versio 8.3.1

[2019-08-14 16:28] jeevansd commented on #36885
@chetansriv please track this.

[2019-08-14 16:28] stevestein commented on #36558
@masashioms - thanks for raising this issue. The team is working on gathering accurate information and we have an internal work item (1584637) to add Gen4 info for Hyperscale.

Thanks!

[2019-08-14 16:30] MicahMcKittrick-MSFT commented on #37015
Thanks for trying all that! I believe it would be best to get you in touch with support to get this sorted out. And if there is a problem with that image, support can contact redhat on your behalf.

Do you have the ability to open a technical support ticket? If not, you can email me at AzCommunity@microsoft.com and provide me with your Azure SubscriptionID and link to this issue. I can then enable

[2019-08-14 16:30] #37015 closed

[2019-08-14 16:30] VanMSFT commented on #36988
Hi @TiagoBonin! Thanks for the feedback! I agree that we could have more samples in this article, and it would be helpful. Mapping users to databases can have many intricacies, and we would not be able to cover all of them in this article. We do link to different permission pages that can explain this in more details. If there are any particular examples you feel would help the community, I highly

[2019-08-14 16:31] VanMSFT commented on #36988
#please-close

[2019-08-14 16:31] #36988 closed

[2019-08-14 16:39] deborahc commented on #36850
Hi @SogoGolf. thank you for the feedback. We've created an item to track the sample request here:

https://github.com/Azure/azure-sdk-for-js/issues/4765

cc @southpolesteve

[2019-08-14 16:41] yashesvi commented on #36706
Please check the CSV. #please-close.

[2019-08-14 16:41] #36706 closed

[2019-08-14 16:41] Adam-Smith-MSFT commented on #37071
@wucj Thank you for the valuable feedback,we are investigating the issue.

[2019-08-14 16:41] KranthiPakala-MSFT commented on #37090
@stijn192 Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2019-08-14 16:42] yashesvi commented on #36700
Please check the CSV. v2 are also added there now. The table was getting hard to manage and consume with the long list of SKUs.

[2019-08-14 16:44] HeidiSteen commented on #37066
@abhishek-kumar-mishra Got it! There is no built-in feature support for autoscaling. I'm sure people have done it, but it would require using the management APIs and writing custom code.  You can suggest new features, or vote-up existing feature requests, on UserVoice: https://feedback.azure.com/forums/263029-azure-search

My recommendation is to post your question on Stack Overflow.  This isn't s

[2019-08-14 16:44] yashesvi commented on #36889
I added InstanceSizeFlexibilityGroup to the CSV. The instance flexibility works only within the InstanceSizeFlexibilityGroup and not the VM-Family. See the D-Series example above. That's why I am not including VM family in the CSV, it will be confusing to know if the instance size flexibility works across the entire family or the InstanceSizeFlexibilityGroup if I include both.

[2019-08-14 16:45] philipktlin commented on #36645
The documentation (https://docs.microsoft.com/en-us/cli/azure/ext/azure-cli-iot-ext/iot/edge/deployment?view=azure-cli-latest) currently doesn't have this information; will update it asap.

[2019-08-14 16:48] MicrosoftGuyJFlo commented on #36953
I would open a support case this is not a docs question.

[2019-08-14 16:48] MicrosoftGuyJFlo commented on #36953
#please-close

[2019-08-14 16:48] #36953 closed

[2019-08-14 16:48] Adam-Smith-MSFT commented on #37079
@sbi-rviot Thank you for the valuable feedback,we are investigating the issue.

[2019-08-14 16:51] KranthiPakala-MSFT commented on #36913
@SuperSing We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

And if you have a specific scenario which is not directly related to the document content but needs assistance, then please consider posting your question on _[MSDN-Azure Analysis Services](https://soci

[2019-08-14 16:51] #36913 closed

[2019-08-14 16:55] jasondown opened #37100 "Manage Application Settings Blank When No local.settings.json file"
Even though the template for creating an Azure function app generates a local.settings.json file, it is also automatically added to the .gitignore file. Anyone who checks out that repository will not have that file by default. When you open up the publish settings for the azure app in Visual Studio (I guess this is the publish profile) and click on Manage Application Settings (or in VS 2019 it is

[2019-08-14 16:59] femsulu commented on #36479
Sorry for the delay. Yes you should be able to install all 3 on the same server initially but as your deployment grows, you may need to install additional or separate servers Process or Master Target servers to handle growing replication loads. Hope this answers your question. Closing this issue but don't hesitate to reply if required.
![image](https://user-images.githubusercontent.com/34327711/63

[2019-08-14 16:59] #36479 closed

[2019-08-14 17:00] NavtejSaini-MSFT commented on #37075
@j0h The following document given the version for Azure Postgres as "Only TimescaleDB v1.1.1 is available on Azure Database for PostgreSQL"
https://docs.timescale.com/latest/getting-started/installation/azure/installation-windows-azure

Also you can use query "SELECT * FROM pg_available_extensions;" for finding the extension versions as the engine keeps on changing and the document can easily get

[2019-08-14 17:04] femsulu commented on #36484
Thanks @andrewatfornax. I engaged @stephbaron to review and make necessary enhancements.
Thanks again for bringing this up. We will now close this issue but please don't hesitate to reply if needed.

[2019-08-14 17:04] #36484 closed

[2019-08-14 17:05] artisticcheese commented on #36846
If logging to storage account is setup will I be able to get query parameters or they still will be obfuscated?

[2019-08-14 17:06] toddgauntgs opened #37101 "Are ECC Signed Certificates Supported"
Is there Elliptic Curve Cryptography Key Support for certificates used by Edge devices? I had done some manual testing and failed to get a connection, however `iotedge check` passes with the following output:
[code]
When I try to send and receive messages using RSA signed certificates generated from the example scripts I am able to successfully do so, however using ECC signed certificates generate

[2019-08-14 17:06] kalittles commented on #36962
Okay, sorry for not being more specific - I guess specifically with regard to the documentation:

https://docs.microsoft.com/en-us/azure/cosmos-db/create-mongodb-dotnet

Navigating to
https://github.com/Azure-Samples/azure-cosmos-db-mongodb-dotnet-getting-started
And then checking the models directory only has instances of strings being bound - none with lists, hashsets, or IEnumerables.

I have t

[2019-08-14 17:07] Vijay-Karthick commented on #25351
Thanks @JesvinJoseph for the explanation. This seems to be a painful work-around and like @veyalla had mentioned, this should be handled seamlessly by IoT Edge. I totally understand the scenario where you should skip processing 'offline' tagged messages in Stream Analytics and send it directly to a long term data storage.

This is very common as networks tend to be sketchy especially in IoT for mo

[2019-08-14 17:08] veyalla commented on #36868
It depends on the modules. Some services like Cognitive Services modules need to reach out periodically to a billing endpoint, so those will not work with an extended offline period.

UI and Azure functions can be deployed to the edge via IoT Edge and can work offline indefinitely. See https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-deploy-function

[2019-08-14 17:09] peterpogorski commented on #33629
Hi @jfalameda at this time this is not a supported action and we do not have any current plans to enable this in the near future.

[2019-08-14 17:10] peterpogorski commented on #33629
#please-close

[2019-08-14 17:10] #33629 closed

[2019-08-14 17:10] peterpogorski commented on #35081
@StingyJack this issue was fixed in the 16.2 release of Visual Studio 2019. Are there any other issues that you are experiencing that you would like to have cleared up?

[2019-08-14 17:11] Vijay-Karthick commented on #29555
Thank you @djpmsft

[2019-08-14 17:12] Alberto-Vega-MSFT commented on #37101
@toddgauntgs Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-14 17:16] jn-altius commented on #37096
Oh, this is in the West Europe datacenter btw

[2019-08-14 17:16] Alberto-Vega-MSFT commented on #37084
@florianbader Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-08-14 17:16] FrankHu-MSFT commented on #36823
Hey @blueelvis I see, let me see if I can get a definitive answer. In addition to that, please remember to reopen a git issue if it requires further discussion. Thanks!

[2019-08-14 17:17] MicahMcKittrick-MSFT commented on #37092
In addition, we don't allow dashes "-" only underscores "_"

So all in all, nothing to be done besides avoid needing to use dashes and replace them with underscores.

[2019-08-14 17:17] #37092 closed

[2019-08-14 17:18] MicahMcKittrick-MSFT commented on #36524
I will close this for now but if you have further questions let me know and we can always reopen and continue the discussion.

[2019-08-14 17:18] #36524 closed

[2019-08-14 17:19] FrankHu-MSFT commented on #36713
@MortenBroerup Hey Morten, the github doc issue page is for feedback against the docs. This information will be forwarded to the product team, but you should file this against the user feedback as well. As again, the github issues against the docs are not meant to be utilized for issues with the product, but with the doc. Per the bottom of the page.

![image](https://user-images.githubusercontent.