[2018-11-19 10:08] mrbrettc commented on #19154
Same here, all 2FA services are failing in my domain, unable to access anything!

[2018-11-19 10:48] SnehaGunda commented on #18269
@jialic The reads are guaranteed to honor the consistent-prefix only in a single writer session, they may not match in a multi-writer session. I have submitted a fix to update the doc. Please let us know if this clarifies or if you have any additional questions.

[2018-11-19 10:51] DOliana commented on #15499
Any news here? It would be interesting to know the status - is 3.0.0 GA or still preview?

[2018-11-19 11:14] mcurko opened #19158 "Error"
Console.WriteLine("Insert an Entity.");
customer = await SamplesUtils.InsertOrMergeEntityAsync(table, customer);

results in console messages:

Insert an Entity.
The specified resource does not exist.

Checking in Azure portal, I see that the table was created.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef1295f9-ea

[2018-11-19 11:15] metang commented on #14128
Could you assign to Eric?

From: Josée Martens <notifications@github.com>
Reply-To: MicrosoftDocs/azure-docs <reply@reply.github.com>
Date: Saturday, November 17, 2018 at 2:22 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Meng Tang <metang@microsoft.com>, Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Web Based Azure ML Studio (#14128)

@metang<h

[2018-11-19 11:15] jkonecki opened #19159 "Several error codes are not explained at all"
I am currently experiencing error AADSTS50087 SasRetryableError
There is absolutely no explanation of this error so I don't know where to even begin looking to resolve it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a826ee6f-f457-7109-9f77-67c57977d4e7
* Version Independent ID: 11766f27-492e-a579-dced-8a42528cbb47
*

[2018-11-19 11:15] KetanChawda-MSFT commented on #19155
@forester123 Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-11-19 11:21] jmilkiewicz opened #19160 "aggregating events ?"
Hey
I am just wondering how the workaround proposed above regarding would work in case that you have many publishers (let's say more than 1 instance of the same piece of code that send to eventHub). How would you define consistent sequence numbers between these instances?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2018-11-19 11:32] spetrukhin commented on #18870
@ManojReddy-MSFT I've enabled "Time-based retention" policy for "insights-logs-auditlogs" container and after that all "PT1H.json" logs have 0 size.

[2018-11-19 11:35] #18992 closed

[2018-11-19 11:41] JohnStraumann66 commented on #19134
OK I tried that, downloaded the ZIP file to my local drive, and got errors when trying to open in Visual Studio: "One or more projects in the solution were not loaded correctly", so then tried to follow these steps listed on the Git page:

    1. Starting in the folder where you clone the repository (this folder). JJS>>I assume "this folder" means the Root after unzipping?
    2. In a git command

[2018-11-19 11:44] neeleshray commented on #19154
We are investigating the Azure MFA issues being faced by subset of users in the Europe and Asia-Pacific Region. Keep an eye on the [Azure Status page](https://azure.microsoft.com/en-us/status/) for updates.

[2018-11-19 11:46] zxshinxz commented on #16997
Hi,

I am having same problem with
bigin.documents.azure.com

db.getCollection('labels').aggregate([
            {"$match": {"category": "bg:itemView",
                        "application": ObjectId("5bd6adb506a2f64866ddc7d2"),
                        "timestampDate": {"$gt": ISODate("2018-10-31 15:00:00.000Z"),  "$lt": ISODate("2018-11-18 15:00:00.000Z")}}},
                        {"$project":

[2018-11-19 12:12] rayne-wiselman commented on #19060
@Adam-Smith-MSFT . Hi, please assign to @Rajeswari-Mamilla who I think owns this area. thx

[2018-11-19 12:13] rayne-wiselman commented on #19077
Fixed.Should merge today

From: Rajani Janaki Ram <notifications@github.com>
Sent: Monday, November 19, 2018 10:06 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Rayne Wiselman <raynew@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Next Steps wording (#19077)

@rayne-wiselman<https://na01.safelinks.protection.outlook.com/?url=https

[2018-11-19 12:31] MSiNL opened #19162 "Add other admin roles to the baseline policy"
Hi all,

Is it possible to add other directory roles to the baseline policy? We also have admins with other roles, like "User management administrator" role. Can we also add those roles to the baseline policy?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53ea4e70-2931-8691-e9cc-13c72b514d9c
* Version Independent ID:

[2018-11-19 12:36] jlowthert commented on #19154
I am in North America and none of my 2FA are working either.  It is not just "Europe and Asia-Pacific Region"

[2018-11-19 12:46] Agazoth opened #19163 "Install the Azure File Sync agent - Powershell"
Links need to be updated

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61bb35a5-e2f3-1ce8-1d6e-a926374de6c8
* Version Independent ID: e4b3065a-5351-26ef-cdbb-ef2eaea3f301
* Content: [Deploy Azure File Sync](https://docs.microsoft.com/en-us/azure/storage/files/storage-sync-files-deployment-guide?tabs=powershell)
* Cont

[2018-11-19 12:52] EM1L commented on #18902
We have a private git repo ceated in the past in VSTS (now Azure DevOps) project and the user names seem to be in the format `<FirstName><space><LastName>`
I also verified the username with current user git configuration and yes indeed it appears there is a space. While I can not comment why/ how the project was setup with spaces in the usernames I can confirm I have successfully tested mapping vo

[2018-11-19 12:55] rfranks08 commented on #19154
seconded. In north america, unable to 2FA to multiple deloittenet.com apps.

[2018-11-19 12:57] EM1L commented on #18902
*Correction* - I should have used the azure domain in my example as this is relevant to the Azure DevOps private repos! Please note the correction:

`--gitrepo-url https://Firstname%20Surname:abcdef1234fdsa4321abcdef@dev.azure.com/your-org/_git/some-private-repository`

[2018-11-19 13:15] MacJakubiec commented on #19154
Toronto, Canada -> The same issue here! Can you provide any ETA?

[2018-11-19 13:22] jscaravilli opened #19164 "Add Azure Search to 'Trusted Microsoft Services'"
Azure Search should be included in the 'Trusted Microsoft Services' designation. Considering the only indexer natively supported is a BLOB indexer, we should be able to lock down the target blob storage account. If we do restrict VNET access to this storage account, we currently have no mechanism to permit Azure Search indexer to access it. So that leaves the only option as 'Allow access from All

[2018-11-19 13:36] javiersoriano opened #19165 "Managing computer groups location"
I cannot see the Advanced Settings section inside a log analytics workspace. How can someone access the dialog to manage computer groups?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04ea7b8d-1ebd-f0d9-54eb-5c4bda514b6f
* Version Independent ID: 0bf8d290-b10b-5faf-b6c4-2bb6ecb85ce2
* Content: [Computer groups in Azur

[2018-11-19 13:44] CeciAc opened #19166 "运行之后状态返回500"
@yatyu commented on [Sat Nov 17 2018](https://github.com/MicrosoftDocs/azure-docs.zh-cn/issues/148)

我按照这个文档的过程一步步操作后得到的状态是"500 Internal Server Error"我不清楚具体是哪里出了问题，但是我很肯定我是按照这个文档来做的。

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: 939101cd-9c92-ed8f-b241-664794db8a0d
* Version Independent ID: 21392fd3-c4e7-f785-a660-ebbbf88646e4
* Content: [使用 Azure Cosmos DB 和 Azure

[2018-11-19 13:48] nkbpc opened #19167 "Cannot start classic VM"
I have deployed the solution for a classic VM. When the runbook "ScheduledStartStop_Parent" runs, with the WhatIf parameter to "False" i get the following error:

Get-AzureVM : ForbiddenError: The server failed to authenticate the request. Verify that the certificate is valid and
is associated with this subscription.
At line:369 char:34
+                     $currentVM = Get-AzureVM | where Name -

[2018-11-19 13:51] DavidSale commented on #19154
Over 5 hours of not being able to logon with 2FA - Please can we have a ETA?

[2018-11-19 13:51] aljazbc commented on #19154
Cannot access my emails through Office 365 OWA using two step verification.

[2018-11-19 13:52] TerryLanfear commented on #17208
@jschrap - Thanks for reaching out to the Azure Security Documentation team. Unfortunately, we don’t have the resources to offer individual technical advice to the broad array of customers who use the Azure Security Center documentation. It may be best if your question is reviewed by the Azure Security Center Field Discussion (asctalk@microsoft.com), where other Azure Security Center users and Mic

[2018-11-19 13:53] ransomdenton commented on #19154
Same here. Education institution in the Texas, USA.

[2018-11-19 13:58] spencekile commented on #18953
1. Connect to an Azure SQL DW instance using AAD - Universal with MFA Support
2. Create a temp table
    CREATE TABLE #temp (c1 int);
    INSERT INTO #temp (c1) VALUES (1);
3. In the same session, but executed in a different batch from the create temp table
   SELECT count(1) from #temp

Running the create table and the select as one batch works and returns 0. Running the statements in 2 batches r

[2018-11-19 14:00] Lroca88 commented on #19007
@MicahMcKittrick-MSFT, restarting the VM didn't clear the failed state.
![image](https://user-images.githubusercontent.com/5395468/48711277-d68f9f00-ebd8-11e8-9e14-6d13b6c9c39b.png)

I guess my last option is deleting the AKS cluster and re provision it as you said. I hope no one faces this issue in prod, they won't like to start from the ground again.

Thanks for taking the time to deal with this

[2018-11-19 14:03] CeciAc commented on #19166
Hi team,
I'm moving this one here since the contributor is reporting an error in the code.
Rough translation:

Then, they added a new message:

[2018-11-19 14:12] ArvidBaa opened #19168 "Incorrect indentation in pipeline-batch-scoring.ipynb"
In the section `pipeline-batch-scoring.ipynb#Python-scripts-to-run`, the function `get_class_label_dict(label_file)` has incorrect indentation. Instead of 4 spaces, only 2 has been added. The rest of the notebook seems to be fine, though.

[code]
should be
[code]

I don't think the functionality is impacted, but it looks weird. And Jupyter highlights the error.

Thank you for a great guide and a g

[2018-11-19 14:37] olivergrimes commented on #10656
Any update on this?  I'm finding it difficult to get going with this

[2018-11-19 14:45] olivergrimes commented on #10656
Never mind!  I was just being stupid

[2018-11-19 14:50] coopers98 commented on #19154
This is ridiculous....

[2018-11-19 14:52] PramodValavala-MSFT commented on #19166
@CeciAc Thanks for the feedback! We will review and update the doc accordingly.

[2018-11-19 14:58] trailmax opened #19169 "Connection string"
Whatever I do, I get that my connection string is not valid and the application can't connect. What permissions should I give to the connecting user?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04a4db94-e031-f543-07fe-9700bf203dac
* Version Independent ID: eeb18a5a-98ef-2d69-6803-e9bbd6bd7b9c
* Content: [Get started

[2018-11-19 14:58] Jiihaa commented on #16394
The code for the function has been updated to v2, it doesn't compile on Azure Function V1, which you are forced to use for the rest of the thing to work. You should roll back to V1 code.

[2018-11-19 15:02] MichelleRStewart commented on #19154
Same here. Montgomery, AL

[2018-11-19 15:02] DaveVoyles commented on #18849
I tried again this morning on another machine (Windows this time, not that it would make a difference since I'm doing it all through the cloud shell) and received the same issue.

The **only** thing I change from the tutorial is the storage account name (because they are global, so we can't all use _mystoraceaccount_ per the tutorial. For me, it is _dvmystorageaccount_ and I replace it everywhere.

[2018-11-19 15:11] fpd2dc commented on #19154
Same in VA Are all types of MFA out of service or just the texting and calling?

[2018-11-19 15:11] Jiihaa opened #19170 "The code for the doc is wrong, functions V2 code can't be used"
[Enter feedback here]
You would need to use the V1 compatible code to use OpenApi definition, so the correct code is:
using System.Net;

const double revenuePerkW = 0.12;
const double technicianCost = 250;
const double turbineCost = 100;

public static async Task<HttpResponseMessage> Run(HttpRequestMessage req, TraceWriter log)
{
    dynamic data = await req.Content.ReadAsAsync<object>();
    int

[2018-11-19 15:12] onionhammer opened #19171 "How do you enable diagnostic schema with ARM?"
I am trying to automate our deployment here, it appears the only way to do this is to manually hook up IoT Hub connections events to Event Hub manually. Also it takes several minutes for connect and disconnect events to appear in the Event Hub.

Why is Operations Monitoring being removed if it is superior?

This is unacceptable.

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2018-11-19 15:16] vhorne commented on #18946
Updated

#please-close

[2018-11-19 15:16] Ahmad-Al-Ali opened #19172 "Template failing to deploy"
I was trying to deploy one of the templates form the documentation and I am getting the below error during deployment, is this error specific to me or the template is broken , I have tried to browse to the related git-hub repo for the template but it seems it's a private one.

Please advise on how to get the template to work

{ "id": "/subscriptions/16c50f7b-6242-45ad-92a2-ba6334ce76f2/resourceGro

[2018-11-19 15:17] mcruz-QS commented on #18790
I had this happen to me as well and the only way I was able to clean it up was to delete the resource group. This was caused by me manually trying to change GitHub Configurations while trying to troubleshoot why my account could not use Source Control (Preview) Auto Sync feature on a private git repo. I was able to reproduce it by deleting the webhook that is created in GitHub.

[2018-11-19 15:37] MGoedtel commented on #19149
@dcbrown16 - Thanks for bringing this to our attention.  I'll bug this and we will determine the best way to address this since we are in the planning process to re-write content from Log Analytics regarding data collection.  In the meantime, I can determine which link to App Insights to reference in the existing article.  #please-close

[2018-11-19 15:40] robinmanuelthiel opened #19173 "Describe how to run an Azure Function from the Command Line"
I don't like the sentence "To test your function, set a breakpoint in the function code and press F5 to start the function app project.". Some people might have a different keyboard mapping; others might not have the correct `launch.json` file in place. I would suggest describing the manual steps, who to run an Azure Function locally by using the command line. That helps lets readers understand wh

[2018-11-19 15:40] georgewallace commented on #18790
@mcruz-QS @ricohomewood Thanks for reaching out.. As this is not the expected behavior I would recommend reaching out to support to have them help you delete the source control entry.

[2018-11-19 15:43] LMtx commented on #18946
Thank you.

[2018-11-19 15:43] #18946 closed

[2018-11-19 15:44] baharw commented on #18195
@sergaz-msft  I am not behind a proxy. Any other suggestions or updates?

[2018-11-19 15:44] bwilsonkey commented on #19154
Agreed -- this is pathetic. Not getting 2FA emails or texts. No way to access support for my corporate account without first logging in (which obviously I can't do). I tried calling general Microsoft support and -- no joke -- the person asked how you spell "Azure." Have now emailed critical support and still no response an hour later. Really bad.

[2018-11-19 15:45] georgewallace commented on #19167
@nkbpc Thanks for reaching out.. It sounds as if your Classic Run As account is not configured correctly or the certificate expired.  Can you check that to ensure that it shows as healthy? Here is an image showing you what it should look like.
![image](https://user-images.githubusercontent.com/6796566/48717854-15b8f280-ebcf-11e8-990d-60856940d94e.png)

[2018-11-19 15:46] umgpg commented on #19154
How long until the remaining infrastructure that still has trouble gets the fix/hotfix and gets relief?

[2018-11-19 15:48] georgewallace commented on #19100
@theheatDK Thanks for reaching out.. no you can make more than 1000 but you can't have more than 1000 concurrently open.. When you make a call using an AzureRM cmdlet when it is done, the network connections are closed.  We are working on expanding the error details so when you do hit this error that you get the real reason for failing.

[2018-11-19 15:49] terrylan commented on #17208
Please remind me from this thread. Thank you

[2018-11-19 15:51] uda832 commented on #12547
+1 for the API suggestion

[2018-11-19 15:54] SeanC1976 commented on #19154
I am in North America as well. i am having trouble with One Drive because of not being
able to receive the codes via text or phone call.

[2018-11-19 15:56] nkbpc commented on #19167
Thanks a lot for your reply.
Indeed my classic run as account is not configured correctly. (as you can see in the attached image) . But the problem is that is greyed out and cannot be created at all.

[cid:image001.png@01D48031.256B0330]

Nasos Katsaros,
Software Developer - CRM Consultant
Best Practice Consulting<http://www.bpc.gr/> | Anapafseos 6 | 144 51 Metamorfosi, Greece
n.katsaros@bpc.gr<ma

[2018-11-19 15:57] VladimirDomnich commented on #19154
Located in CIS, Russian Federation.
Text messages and calls don't get through for 2FA.

[2018-11-19 15:58] cdonner commented on #19154
I can't do anything, I can't even log into my Polycom phone to make a call. What were these people smoking when they decided that one's entire electronic presence should be controlled by a very volatile MFA service?

[2018-11-19 16:01] v1bh0r commented on #15637
I'm facing the same issue. Tried az login again and the following steps:
[code]

[2018-11-19 16:02] giovannifl opened #19175 "How to import / apply a new RBAC is missing"
Hello,
I guess "Create RBAC binding" section is incomplete because following two steps are missing:
- Create a YAML file where save the new RBAC role
- How to import / apply a YAM file with a new RBAC role into a Kubernetes cluster (i.e. kubectl create -f role role.yaml)

Regards

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-11-19 16:03] reutann commented on #18120
Thanks y'all!

[2018-11-19 16:10] devyhia commented on #19154
Same in Germany. Can not access emails or any other Microsoft Online service. Any ETA would be great from the company's side!!

[2018-11-19 16:10] devyhia commented on #19154
More precisely, neither emails nor sms messages are reaching my phone.

[2018-11-19 16:13] JoeRistine commented on #19154
MFA is not working here either........ USA... Not working since last night. Any ETA?????

[2018-11-19 16:30] fractalbrain commented on #19154
Same here.  I'm in the USA.  None of my MFA options work and no way to get into my account.  I'm posting this comment via GitHub.

[2018-11-19 16:34] hoangpx commented on #19154
Need an ETA. How can MS let this happens ??

[2018-11-19 16:34] pyoungberg opened #19176 "RSS Feed Broken"
The RSS feed referenced at the top of the article is broken. Currently links to https://docs.microsoft.com/api/search/rss?search=%22whats%20new%20in%20azure%20active%20directory%22&locale=en-us/. Error is UnsupportedApiVersion and it won't sync with readers like Inoreader.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2018-11-19 16:35] JCGalavis commented on #19154
That someone knows any change? I can't login in FL

[2018-11-19 16:35] spongessuck opened #19177 "Not clear if SKUs without Azure AD Authentication integration support this workflow"
It's not clear whether or not Azure API Management SKUs that don't have Azure AD Integration (i.e. Basic) support this workflow. It doesn't seem like there's anything Azure AD specific on the API Management Service side but I wouldn't be sure without testing it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 823eb96f-e

[2018-11-19 16:37] MarkusVi commented on #19162
Hi @MSiNL, no, this is not possible.
To include additional roles, you need to configure a custom policy.

#please-close

[2018-11-19 16:44] badalk opened #19178 "Installation Issue"
Am I missing something?

I scripted all of the above steps and I am passing all the parameters in the last command to install azure/open-service-broker-azure but i get below error:

Install the Open Service Broker for Azure using the Helm chart

Error: validation failed: unable to recognize "": no matches for kind "ClusterServiceBroker" in version "servicecatalog.k8s.io/v1beta1"

script returned e

[2018-11-19 16:48] eross-msft commented on #19176
@pyoungberg  This link is working properly for me. You need to use an RSS Feed reader (like feedly), copy and paste the URL from the What's New page, https://docs.microsoft.com/api/search/rss?search=%22whats%20new%20in%20azure%20active%20directory%22&locale=en-us/ and then choose to follow for updates or click on the title in feedly to go the page.

[2018-11-19 16:51] lalagerber commented on #19154
unable to login using the 2 factor authentication - its not texting or calling my phone

[2018-11-19 16:57] cdonner commented on #19154
https://twitter.com/msft365status

[2018-11-19 17:00] 4k4xs4pH1r3 commented on #17127
I have the same issue, appreciated any help from Microsoft please.

[2018-11-19 17:01] Adam-Smith-MSFT commented on #19163
@Agazoth Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-19 17:01] sanpil commented on #19168
Thanks for the feedback. We will update the Notebook soon.

[2018-11-19 17:01] YutongTie-MSFT commented on #19172
@Ahmad-Al-Ali
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-19 17:02] Adam-Smith-MSFT commented on #19164
@jscaravilli Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-19 17:04] YutongTie-MSFT commented on #19153
@ajaichemmanam
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate

@tulasim88
Hi, this is a product feedback of Azure Search, can you please take a look? Thanks a lot!

[2018-11-19 17:04] nick-wegner commented on #19154
unable to login using the 2 factor authentication - it's not texting or calling my phone.  North America region.

[2018-11-19 17:04] jkadki2 commented on #16763
Under the SQL server section "Microsoft Azure SQL Database is not supported as a database." Does this include Managed Instance? It would be helpful to be able to use SQL MI for the Azure AD Connect database.

[2018-11-19 17:04] RustyPaperclips commented on #19154
First I didn't get the Emergency Presidential Alert Text, now I can't even get a 2FA text to get into my calendar at work. Super harsh.

[2018-11-19 17:05] YutongTie-MSFT commented on #19151
@Dawny33
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-19 17:06] JCGalavis commented on #19154
Me too

[2018-11-19 17:11] derekdai1978 commented on #19074
When I tried to load data following this instruction,
https://docs.microsoft.com/en-us/azure/sql-data-warehouse/load-data-from-azure-blob-storage-using-polybase

When creating the table from external sources, it errors out as below,
_Msg 110813, Level 16, State 1, Line 89
Object reference not set to an instance of an object._

_---Scrtips---
CREATE EXTERNAL TABLE [ext].[Date]
(
    [DateID] int NO

[2018-11-19 17:14] leecbaker12 commented on #19154
How long does this take it over 12 hours now ?

[2018-11-19 17:16] Adam-Smith-MSFT commented on #19060
@rayne-wiselman updated assignee

[2018-11-19 17:17] Mike-Ubezzi-MSFT commented on #19158
@mcurko Thank you very much for your interest in Azure products and services. We are investigating this and will update you shortly.

[2018-11-19 17:20] Adam-Smith-MSFT commented on #19141
@olavt asa

[2018-11-19 17:21] georgewallace commented on #19023
@spacexii It looks like the Environment name for the Government cloud in the doc is incorrect.  I will update that .. it should be one of the values as seen below.

[code]

[2018-11-19 17:31] Grace-MacJones-MSFT commented on #17127
Hi @4k4xs4pH1r3, can you specify exactly what issue you are facing so we can take a closer look at it?

[2018-11-19 17:32] mike-jarosch-aw opened #19179 "Automatic tuning and index maintenance?"
Does the automatic tuning of indexes (Create and/or Delete) also do regular maintenance on the indexes? Does the automatic tuning check the fragmentation level of the indexes and perform a reorg or
rebuild of the indexes? What about existing indexes that it didn't create, does it do any maintenance on those indexes?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2018-11-19 17:32] kaywilliams opened #19180 "PHP link points to wrong page."
The link for "PHP in this page points to the .NET core page (https://docs.microsoft.com/en-us/azure/app-service/containers/quickstart-dotnetcore).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef9002ed-c817-c615-fe32-05ad4cc78b61
* Version Independent ID: 72295255-8d90-a2c6-0995-0e1208fcdcab
* Content: [Introduction t

[2018-11-19 17:37] jakaruna-MSFT commented on #18962
@fastrnu80 Sorry for the delay.  I tried out this scenario.  Images are stored in standard HDD. But when you are create a VM from that image you can select any sku(premium ssd, standard ssd etc).

[2018-11-19 17:37] MicahMcKittrick-MSFT commented on #19175
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-19 17:40] danimir commented on #19179
@mike-jarosch-aw Thanks on your question. Maintenance and defragmentation are not supported at this time. Automatic tuning, by design, manages only indexes it has created itself. Hope this helps. Thanks!

[2018-11-19 17:42] #17208 closed

[2018-11-19 17:42] #19162 closed

[2018-11-19 17:44] onionhammer commented on #19171
We have seen delays of up to 20 minutes before a device appears offline after it is disconnected..

[2018-11-19 17:45] Adam-Smith-MSFT commented on #19112
@hassanbabaie we currently don't have an exact date that's published, i'd recommend posting in: https://feedback.azure.com/forums/327234-data-lake We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-19 17:45] #19112 closed

[2018-11-19 17:49] sergaz-msft commented on #19171
For reliable connection status of devices check [Device heartbeat](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-identity-registry#device-heartbeat).

[2018-11-19 17:55] jason-j-MSFT commented on #19160
@jmilkiewicz Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-19 17:56] jason-j-MSFT commented on #19165
@javiersoriano Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-19 17:57] gitsreerao commented on #19154
The twitter status page advises admins to check the status page. However, I am unable to login to the admin portal without 2FA. Shouldn't they have the fail open option (if the 2nd factor burps)?

[2018-11-19 17:57] Karishma-Tiwari-MSFT commented on #19178
Thanks for the question. We are currently investigating and will update you shortly.

[2018-11-19 17:58] kobulloc-MSFT commented on #18846
@silverl That's great to hear.  We are going to close this issue as resolved (the 400), but if you continue to run into hurdles please open another issue and we will continue looking at this.

If there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2018-11-19 17:58] #18846 closed

[2018-11-19 17:58] MicahMcKittrick-MSFT commented on #19152
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-19 17:59] MicahMcKittrick-MSFT commented on #19148
@antgonmir please provide a link to the document you are referring to

[2018-11-19 18:01] Karishma-Tiwari-MSFT commented on #18345
@jakaruna-MSFT Thanks :)
@rizwaans Glad to know it helped. We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-11-19 18:01] #18345 closed

[2018-11-19 18:06] Karishma-Tiwari-MSFT commented on #18988
@abhijeetgaiha Did you get a chance to take a look at this one, need confirmation whether this is expected behavior from portal. If yes. the doc needs to be updated. Thanks.

[2018-11-19 18:10] abhijeetgaiha commented on #18988
@Karishma-Tiwari-MSFT I don't work on this anymore. Could you ping the Linux Agents team internally?

[2018-11-19 18:12] MicrosoftGuyJFlo commented on #19110
You no longer need the standalone mobile app web service. It was retired and is just part of the core product now.

https://docs.microsoft.com/azure/active-directory/authentication/howto-mfaserver-deploy-mobileapp

[2018-11-19 18:13] bwren commented on #19165
It sounds like you don't have appropriate permissions to the workspace.   The Advanced Settings option won't display if you don't have permissions to make those changes.

[2018-11-19 18:15] MicrosoftGuyJFlo commented on #18899
#please-close

[2018-11-19 18:15] fastrnu80 commented on #18962
Ok, just wanted to make sure that even though I'm spinning up a SSD sku VM that it wasn't spinning up in a HDD storage account. I believe that is a possible scenario in Azure though and I wouldn't want to be paying for SSD but only getting SSD speeds.

Thanks,

Russell

________________________________
From: jakaruna-MSFT <notifications@github.com>
Sent: Monday, November 19, 2018 9:37 AM
To: Micro

[2018-11-19 18:17] Grace-MacJones-MSFT commented on #19177
Hi @spongessuck, thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-19 18:18] onionhammer commented on #19171
@sergaz-msft Sure, I'll just submit a stop-ship on the manufacturing process and we'll just go ahead and add a heartbeat. Then I'll hop in the time machine and make sure all the thousands of units in the field already have that implemented.

[2018-11-19 18:22] mbialecka commented on #17351
We've updated our multi-arch manifests and both :latest and :1.0 tags should now be pointing to the 1.0.2 version for Linux amd64 platform.

[2018-11-19 18:30] MicahMcKittrick-MSFT commented on #18902
@EM1L thanks for the update on this! As you and I noted, we dont usually see spaces in usernames. But it is good to know that it is possible to encounter this scenario and I think it is something good to cover in the doc.

I will assign to author to review and make any needed changes :)

[2018-11-19 18:32] MicahMcKittrick-MSFT commented on #18722
@robertdj I am working offline on this. Will continue to update you as I have more info

[2018-11-19 18:35] sergaz-msft commented on #19171
Did you consider the following alternative:

"
We recommend subscribing to the device disconnected event on Event Grid to get alerts and monitor the [device connection state](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-event-grid#event-types). Use this [tutorial](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-how-to-order-connection-state-events) to learn how to integrate Device

[2018-11-19 18:36] bhushan-b commented on #13567
Just use thi:

# Add NIC(s)

    foreach ($nic in $originalVM.NetworkProfile.NetworkInterfaces) {
    if ($nic.Primary -eq "True")
    {
        Add-AzureRmVMNetworkInterface `
           -VM $newVM `
           -Id $nic.Id -Primary
           }
           else
           {
             Add-AzureRmVMNetworkInterface `
           -VM $newVM `
           -Id $nic.Id
           }

    }

[2018-11-19 18:37] Karishma-Tiwari-MSFT commented on #18975
@szarkos Thank you for the detailed explanation. The customer has clarified on his ask, can you please share your insights.
For the 2nd question, do you think we need to make a doc-enhancement? Thanks :)

[2018-11-19 18:38] MicahMcKittrick-MSFT commented on #19041
@summer-ice2000 thanks for all the information! What you found makes sense.

I will assign to the content author to review and see how we can improve the doc.

[2018-11-19 18:40] JCGalavis commented on #19154
Dear all, I just entry, I am in FL, Try.  Good afternoon

[2018-11-19 18:45] mike-jarosch-aw commented on #19179
That helps a lot, thanks!

[2018-11-19 18:45] #19179 closed

[2018-11-19 18:46] StudentAndy opened #19184 "equivalent of AWS internet gateway in Azure"
What would be an equivalent of AWS internet gateway in Azure ?

It looks like that newly created VNET in azure has empty routing table by default, but, at the same time it allows for communication from private subnet to internet (SNAT).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38bd69ac-a1b5-a401-184d-37b55188a7c4

[2018-11-19 18:51] ondrejgr commented on #19154
I was able to login successfully, finally (via Text Message SMS) - Europe Region.

[2018-11-19 18:52] jkadki2 opened #19185 "Supported SQL Server versions."
Under the SQL server section "Microsoft Azure SQL Database is not supported as a database." Does this include Managed Instance? SQL Managed Instance in Azure is different from the PaaS Azure SQL Database. It would be good to clearly identify if SQL MI is supported or not.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2018-11-19 18:57] jason-j-MSFT commented on #19165
@javiersoriano could you test this role:
https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#log-analytics-contributor

[2018-11-19 19:01] badalk opened #19187 "Tags on MC_ resource group"
We realized that there are no tags at all on MC_ resource group that is created by AKS (though it is mentioned in the FAQ above that there are some default tags). Unfortunately, this is creating an issue for us as we have a policy that restricts creation of resource group with appropriate tags such as cost center, business unit etc. We wanted to add an exception rule to allow creation of resource

[2018-11-19 19:05] onionhammer commented on #19171
"
Deployment has failed with the following error: {"code":"Provider Registration","message":"The Microsoft.EventGrid resource provider is not registered in subscription ... . To resolve this, register the provider in the subscription and retry the operation."}
"

[2018-11-19 19:08] Karishma-Tiwari-MSFT commented on #19050
@roiyz-msft Would you be able to confirm on the sasURL value. I can then update the document. Thanks. :)

[2018-11-19 19:15] j-martens commented on #19172
@Ahmad-Al-Ali The functionality was merged into https://services.azureml.net/ -> Test -> RRS (and BES) so there is no need for this template.  We will update the docs to reflect this. Thanks for your post.

[2018-11-19 19:16] MicahMcKittrick-MSFT commented on #19078
@johnxy84 thanks for the extra details.

I tested this out in my subscription and it appears to have worked as designed

 ![alt text]( "2018-11-19 11_13_30-Clipboard.jpg")

 ![alt text]( "2018-11-19 11_13_53-Clipboard.jpg")

I followed this doc to create the cluster originally https://docs.microsoft.com/en-us/azure/aks/kubernetes-walkthrough

I just stopped before the "Run the Application" section

[2018-11-19 19:19] sudhirap commented on #17351
@sandervandevelde @JeeWeetje Can you please educate us about your blob storage scenarios? What workload needs this module and what is your end-to-end goal?

[2018-11-19 19:20] sudhirap commented on #18549
@ml810326 Can you please educate us about your blob storage scenarios? What workload needs this module and what is your end-to-end goal?

[2018-11-19 19:30] Grace-MacJones-MSFT commented on #19173
Hi @robinmanuelthiel, thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-11-19 19:33] Grace-MacJones-MSFT commented on #19170
Hi @Jiihaa, thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-19 19:49] fablehouse opened #19188 "VM total cores per subscription 20 per Region"
VM total cores per subscription	20 per Region	 , it that wording correct?  isn't it per VM?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1cd57b6d-3c6f-e546-b3ea-f83892f4c23d
* Version Independent ID: 27aecc7b-f107-96d4-b044-ae026bca2727
* Content: [Azure subscription limits and quotas](https://docs.microsoft.com/en-u

[2018-11-19 19:50] kgremban commented on #18716
@CeciAc The changes that I mentioned last week are now live in the English version of the quickstart. Please take a look and let me know if you think that adds sufficient clarity to resolve this issue, or if there's more that I could do.

Thanks!

[2018-11-19 19:51] allan-xiazhan commented on #18225
My email: xiazhan@microsoft.com

[2018-11-19 19:55] sandervandevelde commented on #17351
At this point, I am evaluating the capabilities of Blob storage on the Edge. I was hoping to fill blobs directly using the routes with messages. And at a certain limit, I was hoping to send blobs to the cloud as an affordable way of (local) persisting and uploading large amounts of raw data.

I also want to check out if this could be used together with a camera for cognitive services. To send cert

[2018-11-19 19:58] MarileeTurscak-MSFT commented on #19154
@zakirahman Thanks for the response! We will investigate and update as appropriate.

[2018-11-19 20:05] stefanfritsch commented on #19066
@MarileeTurscak-MSFT It's not there:

![image](https://user-images.githubusercontent.com/7372706/48731506-7aab3180-ec3d-11e8-86d7-4d6deb4bd1d2.png)

The reason is stated [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-restrict-your-app-to-a-set-of-users).

Why do those two separate articles exist? Both seem to cover the same ground but each missing some of the informat

[2018-11-19 20:17] TravisCragg-MSFT commented on #19103
@ravikiran-srini you understanding is correct. I will pass this along to the author.

Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-19 20:19] ManuRiver opened #19189 "SUSE support for cloud-init"
Has Suse/SLES tested with cloud-init? If so, are there any undocumented ways they’ve found to fix this or do we know when the Suse OS types will be in an eval phase?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 67fb132b-0dc3-d493-69bc-dc28b5bfd5e1
* Version Independent ID: ba5cb476-3e32-911f-0395-0cc8087d1ff3
* Conte

[2018-11-19 20:19] MicahMcKittrick-MSFT commented on #19113
@danvanderboom valid points. I have adjusted the doc to better reflect what is trying to be stated.

Once the PR merges the changes will go live in a few hours.

Thanks again :)

[2018-11-19 20:19] #19113 closed

[2018-11-19 20:20] sajayantony commented on #18722
@MicahMcKittrick-MSFT .Run.ID is the particular build/task instance. So yes it is semantically equivalent to BuildId in DevOps/Jenkins etc.
https://github.com/Azure/acr-builder/blob/master/docs/templates.md#using-custom-values
You can either pass them in using
`--set value1=$VARIABLE` and can be accessed in the builder task runtime.

[2018-11-19 20:33] PrometheusRising1 opened #19190 "Lack of Gen2 Documentation"
Can you at least confirm that Storage Explorer does NOT support Gen 2?  And maybe note what GUI tools can/can't be used with Gen2?  For Gen1, a lot of people's go-to tool when starting was Storage Explorer - for many, they will want to see what simple methods/tools can be used to learn + test before coding a Spark job or automating large uploads.  Not having any resources listed here for Gen 2 is

[2018-11-19 20:40] MicahMcKittrick-MSFT commented on #19175
@giovannifl we do link you out to the Kubernetes doc for using RBAC authorization which should cover your asks. But valid feedback as we do not call it out directly in this doc.

I will assign to the author to review and determine how we can move forward.

[2018-11-19 21:01] MarileeTurscak-MSFT commented on #19156
@MartinRinas
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-19 21:02] MarileeTurscak-MSFT commented on #19159
@jkonecki
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-19 21:03] MicahMcKittrick-MSFT commented on #19178
@badalk I just ran through this doc but am not seeing the same error. The commands appear to work as written

[code]
Then I waited a few mins and checked the status:
[code]

After that I continued to follow the doc and all commands succeeded as expected.

Are you running this in the Cloud Shell or local CLI? I attempted it in the Azure Cloud Shell Bash environment.

[2018-11-19 21:06] wwoomobile commented on #19074
Please see the message above, there may be an issue with the public link. Best is to create your blob storage with an access key. Use azCopy to copy the files from the public to your private and use the snippet to point to your private blob store.

[2018-11-19 21:06] MarileeTurscak-MSFT commented on #19154
The issue has now been resolved. MFA and Exchange faced an outage earlier today but are back up and running. Please run a refresh and post to MSDN if you are still facing problems. From there we will be able to help you reach a solution.
https://social.msdn.microsoft.com/Forums/en-US/home?forum=windowsazureactiveauthentication

If you are testing with the Authenticator app, please run a refresh wi

[2018-11-19 21:06] #19154 closed

[2018-11-19 21:06] MicahMcKittrick-MSFT commented on #19189
Thanks for the question! We are investigating and will update you shortly.

[2018-11-19 21:07] MicahMcKittrick-MSFT commented on #19188
Thanks for the question! We are investigating and will update you shortly.

[2018-11-19 21:11] TravisCragg-MSFT commented on #19184
@StudentAndy Azure does not have an exact version of an Internet Gateway. The closest VNET level object would be an [Azure Firewall](https://docs.microsoft.com/en-us/azure/firewall/overview). For connectivity, a Public IP attached to a resource will give outbound internet connectivity. You can also ajust routing to point internet traffic to a specific destination.

[2018-11-19 21:11] jpr2016git opened #19192 "Error while creating NVA"
Hi, I'm trying out the commands from this article and got stuck on creating an NVA. The article says the --public-ip-address "" parameter instructs Azure not to create and assign a public IP address to the VM, since the VM doesn't need to be connected to from the internet. However, I'm getting the error:
az : ERROR: az vm create: error: argument --public-ip-address: expected one argument
At line:1

[2018-11-19 21:17] dlepow commented on #18902
@EM1L - Thanks for pointing out this issue and the workaround you suggest. I am investigating whether to mention this in the documentation.

[2018-11-19 21:17] MicahMcKittrick-MSFT commented on #19188
@fablehouse the wording is correct.

The default core limit per subscription is set to 20 cores in each region. So each customer can have any number of VMs that use up to 20 cores total in each region. Anything after that, you will contact support to increase the number of cores in a specific region.

So for example, in East US you could have 4 VMs that each have 5 cores. This would take up the 20

[2018-11-19 21:17] #19188 closed

[2018-11-19 21:19] Placid7 opened #19193 "Update Manager Available Clients"
There is a limited list of clients that support Update manager. For instance Windows 2016 Database isn't listed. Is this up to date, if so are there plans to add more?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db47901d-1664-058d-9407-47e932dc9661
* Version Independent ID: e90ec9ee-e7da-4f19-248f-4c825aaa8b9f
* Con

[2018-11-19 21:20] MicahMcKittrick-MSFT commented on #19138
@maneeshbhat21 you are correct. There are more than 3 types now :)

https://docs.microsoft.com/en-us/azure/virtual-machines/windows/premium-storage#features

`Premium Storage supports VM disks that can be attached to specific size-series VMs. Premium Storage supports a wide variety of Azure VMs. You have a choice of eight GA disk sizes: P4 (32 GiB), P6 (64 GiB), P10 (128 GiB), P15 (256 GiB), P20 (

[2018-11-19 21:41] #18985 closed

[2018-11-19 21:46] wiemerr opened #19195 "Rdemption through a direct link needs additional explanation"
How is the link formed?   What keeps a third party from executing a GET on such a link?  Must there be a user object in the directory with permissions granted to the application before the target will see a consent when executing the GET?  If so, is this direct link method equivalent to a powershell or graph invitation where the email is suppressed?

---
#### Document Details

⚠ *Do not edit this

[2018-11-19 21:49] yohanb opened #19196 "sudoers file location"
should be `/etc/sudoers.d/aad_admins` and not `/aad/etc/sudoers.d/aad_admins`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bb8e2623-1f79-aee3-bd97-8b5f647b6980
* Version Independent ID: 6346b54d-cc8d-0b79-a6b8-f9144cfa2459
* Content: [Log in to a Linux VM with Azure Active Directory credentials](https://docs.microsof

[2018-11-19 21:51] MohitGargMSFT commented on #18991
@pauska Thanks for confirmation. So then if [CountryOrRegion] works fine, its as stated in this document. None of the example in this document uses [Country].

I have created a document feedback on this document - https://docs.microsoft.com/en-us/office365/admin/create-groups/groups-naming-policy?view=o365-worldwide.

We will move ahead to clsoe this GitHub issue. Thanks for your help again.

@cur

[2018-11-19 21:55] eross-msft commented on #19176
@pyoungberg  If you're still having issues what that URL, you can try: https://docs.microsoft.com/api/search/rss?search=%22release+notes+for+azure+AD%22&locale=en-us instead and see if it works better. Thanks!

@MarileeTurscak-MSFT  #please-close

[2018-11-19 22:02] #18899 closed

[2018-11-19 22:02] #18971 closed

[2018-11-19 22:03] eross-msft commented on #18969
@elenanakhmanson @ManojReddy-MSFT
After talking to the device management writer, you're correct. The steps in this guide are the process to register your device to access your organization's network; however there is a bit more that happens after that, that's controlled by your administrator.

1. You run the steps in this article, registering your device for use on the network.

2. Assuming that y

[2018-11-19 22:05] MohitGargMSFT commented on #19071
@gcormier Please nate that as of now that is the only way possible to achieve it.

Please post this as a feedback @ https://feedback.azure.com/forums/169401-azure-active-directory. This will allow the community to upvote and for the product team to include into their plans. We also have the "Give Product Feedback" button in our documents now to take you directly to the appropriate feedback page.

[2018-11-19 22:07] badalk commented on #19178
@MicahMcKittrick-MSFT  yes it is strange. When I am running individual commands in order it works but through a shell script I am getting error(s). I modified the last command from multi-line to single-line and now I get this error

`Error: release osba failed: the server is currently unable to handle the request (post clusterservicebrokers.servicecatalog.k8s.io)`

[2018-11-19 22:08] antgonmir commented on #19148
@MicahMcKittrick-MSFT
Thanks for your reply and apologies for missing the link, this is the first time I open an issue.
Link below:
[Manage SSO and token customization using custom policies in Azure Active Directory B2C](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-reference-manage-sso-and-token-configuration)

[2018-11-19 22:08] Grace-MacJones-MSFT commented on #18368
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-19 22:08] #18368 closed

[2018-11-19 22:10] MicahMcKittrick-MSFT commented on #19196
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-19 22:11] MohitGargMSFT commented on #19082
@AlexFilipin We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-11-19 22:11] #19082 closed

[2018-11-19 22:12] MohitGargMSFT commented on #19098
@click3rs We will now proceed to close this thread.

Please post your MSDN forum thread here and I will make sure you are getting helped on it. Thanks.

[2018-11-19 22:12] MicahMcKittrick-MSFT commented on #19193
Thanks for the question! We are investigating and will update you shortly.

[2018-11-19 22:13] MohitGargMSFT commented on #19102
@KC-TB We will now proceed to close this thread.

Please post the MSDN Thread URL here and I will make sure you are getting help on it. Thanks.

[2018-11-19 22:14] MicahMcKittrick-MSFT commented on #19148
@antgonmir no worries :) just want to make sure I get it to the correct engineer.

@MarileeTurscak-MSFT can you take a look?

[2018-11-19 22:15] MicahMcKittrick-MSFT commented on #19178
Can you share the script you created?

[2018-11-19 22:18] BDE95 opened #19197 "ADFS/Azure 2FA Issue"
Hello,

I'm currently trying to get 2FA to work on a new Relying Party Trust I have added. (This happens on other trusts as well). I have the ADFS adapter installed, I added the users to the MFA Server tool (with their phone numbers), as well as installing the Web Service SDK and modifying the CONIFG file using the appropriate SDK URL, Username, Password, and ServiceSDK is set to true. The usernam

[2018-11-19 22:19] giovannifl commented on #19175
After below paragraph,

"Next, use the following manifest to create a ClusterRoleBinding for an Azure AD account. Update the user name with one from your Azure AD tenant. This example gives the account full access to all namespaces of the cluster:"

t would be sufficient to add  something like:
- create a manifest file called "role_rbac.yaml" and paste the content
- execute following command:
kube

[2018-11-19 22:21] Mike-Ubezzi-MSFT commented on #19074
@derekdai1978 Per the suggestion by @wwoomobile:

[2018-11-19 22:25] binoyjt opened #19199 "Do we need to Provision the Service Endpoints on the gateway Subnet in addition to the other subnets.? The Documentation did not have a clear picture on this."
Do we need to Provision the Service Endpoints on the gateway Subnet in addition to the other subnets.? The Documentation did not have a clear picture on this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1eb0407d-f4a5-6059-488d-fd082915c675
* Version Independent ID: 7c2fb429-743c-aea0-f1d5-de6dc2e62e8e
* Content: [Az

[2018-11-19 22:32] dlepow commented on #18893
I added a sentence about this to the article, and this update should publish within the next day. Thanks again for submitting the issue and your interest in container instances.
#please-close

[2018-11-19 22:32] MicahMcKittrick-MSFT commented on #19187
@badalk If you go to the MC resource group and add a column for tags you will see there are multiple tags  that were automatically generated

![image](https://user-images.githubusercontent.com/32313503/48738970-6d735000-ec07-11e8-80d2-6b253d089d16.png)

![image](https://user-images.githubusercontent.com/32313503/48738983-749a5e00-ec07-11e8-8e4e-9e83f45b3369.png)

![image](https://user-images.githu

[2018-11-19 22:32] TejaKommineni opened #19200 "Interactive Documentation"
It would be more helpful to  have interactive documentation. See the Try this API section here.
https://cloud.google.com/vision/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f12a77c5-fc42-c179-5af7-6c7b2197de28
* Version Independent ID: 2db8d484-530e-d507-2842-c196a5e55c9a
* Content: [What is the Computer Vision API?

[2018-11-19 22:35] #18893 closed

[2018-11-19 22:40] iainfoulds commented on #19187
@MicahMcKittrick-MSFT No, we don't have anything documented as it varies based on what's deployed, version numbers, etc. It's also not something that can be edited or deleted, though you are free to add your own custom tags and create reports or filters based on them.

[2018-11-19 22:41] cijothomas opened #19201 "Azure Cosmos DB is tracked only if HTTP is used."
Modify documentation to say Azure Cosmos DB is tracked automatially only if http mode is used. TCP mode wont be captured by application insights.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4ded2ce-d8c3-7118-bec9-865f6225dbe0
* Version Independent ID: a4089752-177c-866c-7237-3ac02c7750d9
* Content: [Dependency Trac

[2018-11-19 22:41] szarkos commented on #18975
1 - Yes, these are part of the kernel package. Of course if you hold back or downgrade your kernel then you may end up missing something - i.e. a feature, bugfix, security fix, etc.

2 - Yes, probably the only way to answer that question is to correlate the version of the distribution that is known to be supported on Azure with the kernel that is available on that distro. If a customer asks if a p

[2018-11-19 22:44] RicksterCDN commented on #19189
adding @danielsollondon who is more knowledgeable about this one.

[2018-11-19 22:49] brlewi commented on #8688
Test

[2018-11-19 22:52] badalk commented on #19187
@iainfoulds @MicahMcKittrick-MSFT so the tags are added on each individual resource but not on the resource group itself. From the FAQ doc, I got a feeling that MC_ resource group has some in built tags and hence i was looking there but it does not have any. We were trying to write a policy that inspects the tags for the resource group being created. Thus if we find AKS specific tags, then ignores

[2018-11-19 23:00] MicahMcKittrick-MSFT commented on #19193
@Placid7 AFAIK Windows 2012 and 2016 are supported in Update Management.

@georgewallace can you take a look and confirm if we need to update this list?

[2018-11-19 23:00] MarileeTurscak-MSFT commented on #19195
@wiemerr
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-19 23:02] georgewallace commented on #19193
@Placid7 @MicahMcKittrick-MSFT  I will clear up the verbiage, but the server 2008 r2 sp1 and later includes 2012 and 2016

[2018-11-19 23:05] MicahMcKittrick-MSFT commented on #19187
@badalk makes sense. So there are no tags that are added to the MC resource group itself. Just the resources within the resource.

![image](https://user-images.githubusercontent.com/32313503/48740424-49663d80-ec0c-11e8-8832-fb45f64b646b.png)

You could of course add any Tags as needed to the resource group level to specify that it is AKS related. A policy of something like, if MC* is present -> Ad

[2018-11-19 23:06] j-martens commented on #14128
@YutongTie-MSFT please assign to @ericlicoding

[2018-11-19 23:07] MicahMcKittrick-MSFT commented on #19197
@BDE95 please provide us with the link to the documentation you are referring to

[2018-11-19 23:11] alinamstanciu commented on #18089
@thuru and @testerting we have found a bug on our side and we have a hotfix for it that will be release soon. Once we have that you will receive instructions on how to delete your instances.

[2018-11-19 23:13] TerryLanfear commented on #6943
@aaronralls - I hope the links provided in this PR assisted you.
@MohitGargMSFT - Thank you for suggesting a document enhancement and I've shared that suggestion with the current author for Azure Security Center. This article is specific to how Security Center monitors identity and access activity so the update, if made, will be to a different article or the update will be a new article.

#please-

[2018-11-19 23:13] nanomo opened #19202 "NodeJS + Express: Cosmos DB connection error"
Hi, i was facing a connection error con cosmosbd with mongodb, the issue was the connection string password.

We aware that the passwords that contain "==" at the end must be encoded as "%3D%3D"
The password with "==" simbols are in the  "connection string" menue
The password with "%3D%3D" are in the "Quick start" menu in the code for mongodb 3+ for Node js

Hope this can save someone a few days o

[2018-11-19 23:16] mamccrea commented on #15506
Hi @andrepodnozov - we have created a work item to create additional samples and to update the existing sample.

[2018-11-19 23:16] mamccrea commented on #15506
#please-close

[2018-11-19 23:17] BDE95 commented on #19197
https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfaserver-adfs-2012

[2018-11-19 23:18] andrepodnozov commented on #15506
I'll look forward to that. Thanks.

[2018-11-19 23:18] szarkos commented on #16811
This doc has been updated with at least the latest versions and the correct repo configuration info.  Let me know if more is needed here.

#please-close

[2018-11-19 23:18] MicahMcKittrick-MSFT commented on #19197
@BDE95 thanks!

@MarileeTurscak-MSFT can you take a look?

[2018-11-19 23:18] #16811 closed

[2018-11-19 23:18] adewaleo opened #19203 "Is this still in preview?"
Is this feature still in preview? If not, the title should be updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1bd5076-fe52-cfca-4173-dec861167812
* Version Independent ID: 0122fff1-79e0-446c-00a4-85248a21b6dc
* Content: [Create an Azure scale set that uses low-priority VMs (Preview)](https://docs.microsoft.com

[2018-11-19 23:19] mamccrea commented on #18092
Hi @ampac28 - we haven't heard from you in a while. Has your issue been resolved? I am going to ask that this issue be closed. Feel free to reopen if you need more assistance.

[2018-11-19 23:19] mamccrea commented on #18092
#please-close

[2018-11-19 23:19] dlepow commented on #17636
@tjhgit - I want to let you know that I am publishing an update to this article that provides more information about the command line, working directory, and container settings for a container task in Batch. This should publish within the next day or two. I hope this clarifies how Batch works with containers. Your feedback was very helpful - thanks again!
#please-close

[2018-11-19 23:19] #19176 closed

[2018-11-19 23:21] BDE95 commented on #19197
If you need screenshots of some sort or maybe a short gif of what happens, I am more than happy to provide.

[2018-11-19 23:22] rafats commented on #18146
Your question - What I'm trying to accomplish is to give a client device permission to execute a stored procedure, but I don't want them to have anything but read permissions on the data.
Answer is "No", because to execute Stored procedure it must have ALL permission.

Stored procedure is at the level of Collection. I am not understanding what you mean by  "put the stored procedures in a dedicated

[2018-11-19 23:22] MicahMcKittrick-MSFT commented on #19199
@binoyjt please provide us with the link to the documentation you are referring to

[2018-11-19 23:32] binoyjt commented on #19199
This the Link that I was Referring to - [https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-service-endpoints-overview](url)

Need clarity on service endpoints usage in Gateway Subnet

[2018-11-19 23:33] szarkos commented on #17365
Redirect implemented now.

#please-close

[2018-11-19 23:41] j2ali commented on #15490
Thanks for sharing the cert creation commands. This should be added to the documentation

[2018-11-19 23:44] Jann-Skotdal commented on #8988
@jsypkens - All request limits for the Translator Text API are now documented at [https://docs.microsoft.com/en-us/azure/cognitive-services/translator/request-limits](https://docs.microsoft.com/en-us/azure/cognitive-services/translator/request-limits). If you have any further issues, you can post them to Translator's user support forum at [http://aka.ms/TranslatorForum](http://aka.ms/TranslatorFor

[2018-11-19 23:51] jamesbak commented on #19141
Hi @olavt - these prices are preview prices, which are always 50% of GA prices. The pricing page will be updated when ADLS Gen2 goes GA.

Cheers,
James

[2018-11-19 23:56] derekdai1978 commented on #19074
Hello both,

The source location is

_CREATE EXTERNAL DATA SOURCE NYTPublic
WITH
(
    TYPE = Hadoop,
    LOCATION = 'wasbs://2013@nytaxiblob.blob.core.windows.net/'
);_

could you let me know how I can copy this type of storage ("wasbs://") to my own? I understand AZCOPY but not sure how I can convert the "wasbs://" to a "http://" source endpoint that azcopy support.

[2018-11-20 00:15] #18092 closed

[2018-11-20 00:16] dcbrown16 commented on #18975
Thanks for your input!
As I mentioned briefly, in one case the specific kernel version was because Symantec apparently doesn't support the latest ones, and in the other case they wanted a later version than what came with the image they had. Perhaps a couple of sentences about how kernels work in relation to the distro versions would help Linux newbies (such as myself) or people who want to make s

[2018-11-20 00:18] andrewatfornax opened #19205 "Lies!"
Resources that can be moved - Container Registry. Lies, I tell you! :-)

This is only partially supported - if you have replications enabled, you can't do it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76c1c185-685f-27e0-e634-844b510b1834
* Version Independent ID: 09375778-5354-ab44-c5c6-94c2aebe34bc
* Content: [Mo

[2018-11-20 00:27] wiemerr opened #19206 "Link to access the application"
This article indicates the user can access the Azure portal specifying the resource forest in the URL.  This induces a consent form but after granting consent the user is left at the Azure administration portal and is not redirected to target application.  How can we specify a URL that will result in consent followed by access to the shared application?

---
#### Document Details

⚠ *Do not edit t

[2018-11-20 00:41] MarileeTurscak-MSFT commented on #16405
Testing for synchronization in WT

[2018-11-20 00:46] Karishma-Tiwari-MSFT commented on #19196
@yohanb Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-11-20 00:53] ausfestivus commented on #12247
Thanks @jeevansd. Ill need to schedule some time in for some testing.

Followup Q:

What is the difference between the "JIRA SAML SSO by Microsoft" and "JIRA SAML SSO by Microsoft (V5.2)"?

https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/jiramicrosoft-tutorial
https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/jira52microsoft-tutorial

Regards
Andrew

[2018-11-20 00:58] Karishma-Tiwari-MSFT commented on #18943
@roiyz-msft Can you please help confirm if this is the expected behavior. Thanks :)

[2018-11-20 01:01] kobulloc-MSFT commented on #19201
@cijothomas Thank you for the feedback!  We will assign this to the document author so they can update the document accordingly.

[2018-11-20 01:07] jeevansd commented on #12247
@ausfestivus  There is a specific plugin for JIRA 5.2 versions and so we have published a different documents for it. You can use the same app in Azure AD app gallery but the plugin is different for that version. We have some customers who are using this specific version and they need solution for it.

[2018-11-20 01:11] pyoungberg commented on #19176
Not sure if you're testing inside or outside of Corp-Net but it's broken out here. You can confirm by trying to validate the feed at https://validator.w3.org/feed/check.cgi?url=https%3A%2F%2Fdocs.microsoft.com%2Fapi%2Fsearch%2Frss%3Fsearch%3D%2522whats%2520new%2520in%2520azure%2520active%2520directory%2522%26locale%3Den-us%2F. The second link you gave me did add successfully to my reader but it on

[2018-11-20 01:15] #17365 closed

[2018-11-20 01:17] eross-msft commented on #19176
There is only a single item. This RSS feed is a bit unusual, all it's intended to do is to notify you that the page itself has changed. It doesn't tell you the changes themselves.

[2018-11-20 01:18] pyoungberg commented on #19176
Gotcha, thank you.

[2018-11-20 01:20] eross-msft commented on #19176
You're welcome :)

[2018-11-20 01:41] v-maroge opened #19207 "Azure Network Security Group Analytics retirement"
My customer has Azure Network Security Group Analytics already installed and is wondering if there is an estimated schedule for complete retirement.
Also, will the Service administrator receive email as notification when this happens?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c04951f-ef92-c32f-50b7-ee33119531cf
*

[2018-11-20 01:45] baharw opened #19208 "Does deleting a deployment delete the docker image from the device?"
I am successfully able to add and remove custom modules from a deployment. However, I notice that the modules that I remove, remain on the device, occupying space. How do I remove those images?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 877a68cb-b6ad-52a2-64ff-2965e936b3a0
* Version Independent ID: 07f38c9a-bafb-bf

[2018-11-20 02:46] michaeljqzq commented on #17737
@smoms , yes. Once Azure Pipelines add the ARM platform as the hosted agent, I'll add support for the hosted ARM agent from our extension. But currently there's no hosted ARM agent support on Azure Pipelines.

[2018-11-20 03:02] SnehaGunda commented on #18269
#please-close

[2018-11-20 03:09] KeiroKamioka0000 opened #19210 "List of hardware cluster"
Is there are list of hardware cluster, so customer can consider on resize the vm without deallocating the VM?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c823b1f-688f-e1b9-1590-92d12c28b138
* Version Independent ID: ac483660-9046-51b6-b678-4e6f5cd15e74
* Content: [Use PowerShell to resize a Windows VM in Azure](htt

[2018-11-20 03:13] PramodValavala-MSFT commented on #18987
@whaakman Since there is no doc update required and we haven't heard back from you, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-20 03:13] #18987 closed

[2018-11-20 03:31] vadim-berman opened #19213 "Azure Marketplace Onboarding email bounces"
Hi, I received a notification (subject: Complete your Microsoft marketplace offer) with an email in it. But my emails sent to it just bounced. Please advise.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da0a4ffb-2da4-9795-3028-32fd7ab16ee2
* Version Independent ID: 80718acd-41f7-4dcc-3d8d-a0ac07c3deb9
* Content: [Sup

[2018-11-20 03:33] MicahMcKittrick-MSFT commented on #19199
@binoyjt thanks for that.

@TravisCragg-MSFT can you take a look at this one?

[2018-11-20 03:38] maysamdabbagh opened #19214 "400 Status"
Hi
I wrote the following code. It get the token and make a call to westus.tts.speech.microsoft.com/cognitiveservices/v1 however it return 400 status code.
<!DOCTYPE html>
<html>
	<head>
	<script src="jquery.min.js"></script>
	</head>

	<body>
		<input name='text' value="This is a demo to call Microsoft text to speech service."/>
		<button type="button" onclick="myFunction()">Try it</button>

		<sc

[2018-11-20 03:38] MicahMcKittrick-MSFT commented on #19210
@KeiroKamioka0000 not sure I fully understand the question.

We have documentation all the available sizes in Azure

https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sizes

You can also get a list of available sizes per region using PowerShell

https://docs.microsoft.com/en-us/azure/virtual-machines/windows/tutorial-manage-vm#understand-vm-sizes

Regardless, if you decide to resize

[2018-11-20 03:40] maysamdabbagh commented on #19214
Hi
I wrote the following code. It get the token and make a call to westus.tts.speech.microsoft.com/cognitiveservices/v1 however it return 400 status code.
<!DOCTYPE html>
<html>
	<head>
	<script src="jquery.min.js"></script>
	</head>

	<body>
		<input name='text' value="This is a demo to call Microsoft text to speech service."/>
		<button type="button" onclick="myFunction()">Try it</button>

		<sc

[2018-11-20 03:42] MicahMcKittrick-MSFT commented on #19203
Thanks for the question! We are investigating and will update you shortly.

[2018-11-20 03:43] MicahMcKittrick-MSFT commented on #19205
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-20 03:43] KeiroKamioka0000 commented on #19210
@MicahMcKittrick-MSFT
Thanks,

I believe there are several types of the hardware clusters, VM located.
I would like to see the list of the hardware clusters pattern.

If there was a list, customer can tell the deallocation is required for changing the VM Sizes or not before using the powershell.

https://docs.microsoft.com/en-us/azure/virtual-machines/windows/resize-vm#resize-a-windows-vm-not-in-a

[2018-11-20 03:45] maysamdabbagh opened #19215 "Get 400 status code."
I can get a valid token by calling function getToken(), however, TTS call gives me 400 status code. What am I missing?

&lt;!DOCTYPE html&gt;
&lt;html&gt;
	&lt;head&gt;
	&lt;script src="jquery.min.js"&gt;&lt;/script&gt;
	&lt;/head&gt;

	&lt;body&gt;
		&lt;input name='text' value="This is a demo to call Microsoft text to speech service."/&gt;
		&lt;button type="button" onclick="myFunction()"&gt;Try

[2018-11-20 03:47] SnehaGunda commented on #19202
@nanomo the connection string is has ASCII code equivalent of the '=' character in the Node.js version, did the %3D%3D version didn't work when you use it in the quickstart app? I see you are not blocked, but please confirm if there is any fix from our end in the portal or the doc.

[2018-11-20 03:56] YutongTie-MSFT commented on #19200
@TejaKommineni Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@PatrickFarley Hi Patrick, please take a look of this feedback. Thanks a lot!

[2018-11-20 04:04] kaywilliams opened #19217 "Broken Link"
The link in this sentence is broken:

"The DSC Linux extension supports all the Extension Supported OS's except:"

It points to a URL that does not exist:

"https://azurewiki.cloudapp.netvmagentextension/extensionSupportedOSs"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2d49683-d807-3ba0-74df-c0542a7d76ce
* Version

[2018-11-20 04:04] CHEEKATLAPRADEEP-MSFT commented on #18269
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-11-20 04:04] #18269 closed

[2018-11-20 04:04] nanomo commented on #19202
My setup with express + mongoose + cosmos DB with mongo works only if i use:
"%3D%3D" like mention in the code on the "quick start" , this happens either on azure nor my local machine.

If i use the connection string where in the portal is showing "==" that fails to connect.

[2018-11-20 04:18] cloudybrain commented on #6788
This just happened to me tonight. I have a demo I have to show tomorrow, and then this happens:

This site can’t be reached localhost refused to connect.
Try:

Checking the connection
Checking the proxy and the firewall
ERR_CONNECTION_REFUSED

I tried to uninstall, I removed any residuals, removed the directory, reinstalled, and same problem. This didn't happen 5 days ago, and nothing changed sinc

[2018-11-20 04:47] #8988 closed

[2018-11-20 05:05] NewOzzie opened #19218 "Azure DevOps is very different"
Since the release of Azure DevOps, these instructions need to be updated

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e22e4d6-366f-fbf8-e141-8905ca7ab7ae
* Version Independent ID: 5be2acf2-66e7-cadf-6666-5a85a65b9771
* Content: [Continuous integration and delivery in Azure Data Factory](https://docs.microsoft.com/en

[2018-11-20 05:08] MicahMcKittrick-MSFT commented on #19190
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-20 05:08] MicahMcKittrick-MSFT commented on #19192
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-20 05:10] #6943 closed

[2018-11-20 05:11] #15506 closed

[2018-11-20 05:12] Dawny33 commented on #19151
@yutingMS I figured out the mistake.

Instead of this json: `data = {'data':'image_data'}`, I should be just assigning data directly: `data = image_data`

[2018-11-20 05:12] #19151 closed

[2018-11-20 05:14] Karishma-Tiwari-MSFT commented on #18975
@dcbrown16 Thanks for the feedback. I would let the content author investigate further and update the document as appropriate.

[2018-11-20 05:14] #18975 closed

[2018-11-20 05:32] sergeroz opened #19219 "Managed identity and EF6"
The worked example in [Modify ASP.NET code](https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-connect-msi#modify-aspnet-code) section does not work for EF6.
Please provide a worked example that can be implemented on EF6.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31b0d33c-f88e-d50c-2926-79

[2018-11-20 05:38] Grace-MacJones-MSFT commented on #19061
@colinrippeyfinarne  CDS provides a security framework to help protect your data.  This setting lets you securely store and manage your apps data. You can learn more about CDS [here](https://docs.microsoft.com/en-us/powerapps/maker/common-data-service/data-platform-intro).

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply.

[2018-11-20 05:38] #19061 closed

[2018-11-20 05:42] YutongTie-MSFT commented on #19215
@maysamdabbagh Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@erhopf Hi, can you please take a look? Thanks a lot!

[2018-11-20 05:42] ManojReddy-MSFT commented on #19206
@wiemerr  You can achieve this by using the PS Command [New-AzureADMSInvitation ](https://docs.microsoft.com/en-us/powershell/module/azuread/new-azureadmsinvitation?view=azureadps-2.0) to send the email and specify the URL that you want the user to be redirected to in the "InviteRedirectUrl" parameter.

[2018-11-20 05:49] ManojReddy-MSFT commented on #18964
@gervaisfokam I am checking in to see if the above answer was helpful. Let me know if you have any other questions.

[2018-11-20 05:50] ManojReddy-MSFT commented on #18869
@RaghuramP I am checking in to see if the above answer was helpful. Let me know if you have any other questions.

[2018-11-20 05:51] jakaruna-MSFT commented on #18962
@fastrnu80
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2018-11-20 05:51] #18962 closed

[2018-11-20 05:56] YutongTie-MSFT commented on #19134
@SteveMSFT Hi Steve, can you please take a look of this issue? The customer want more details of the tutorials in every step.

[2018-11-20 06:06] Karishma-Tiwari-MSFT commented on #18587
@bruckGT This would need to be looked by our support engineers. If you do not have a support plan, please Email me at AzCommunity@microsoft.com with your subscriptionID and a link to this post. I will enable a one-time free support request for you to get this issue resolved.

[2018-11-20 06:36] CHEEKATLAPRADEEP-MSFT commented on #19169
@trailmax I have followed the same document and able to create sharded app without any issue:

**Detailed steps to create sharded app:**

**Prerequisites:**
•	Visual Studio 2012 or later with C#: [Visual Studio Downloads](https://visualstudio.microsoft.com/downloads/).
•	NuGet 2.7 or later: [Installing NuGet](https://docs.microsoft.com/en-us/nuget/install-nuget-client-tools).
•	Library: [Microsoft

[2018-11-20 06:44] jakaruna-MSFT commented on #18076
@cynthn @zr-msft @bobbytreed Please provide your inputs

[2018-11-20 06:57] xsqian opened #19220 "'IActivityRunsOperations' does not contain a definition for 'ListByPipelineRun'"
/.../ADFv2Tutorial/ADFv2Tutorial/Program.cs(66,66): Error CS1061: 'IActivityRunsOperations' does not contain a definition for 'ListByPipelineRun' and no extension method 'ListByPipelineRun' accepting a first argument of type 'IActivityRunsOperations' could be found (are you missing a using directive or an assembly reference?) (CS1061) (ADFv2Tutorial)

---
#### Document Details

⚠ *Do not edit this

[2018-11-20 06:58] Grace-MacJones-MSFT commented on #18885
@daniel-rocha thanks for your patience. Have you tried restarting the site? You can also try to deploy the WAR file into Azure Web App through FTP or Kudu. Also, please make sure the WAR file is unzipped and put the WAR file in the "webapps" directory. Hope that helps.

[2018-11-20 06:59] ChiragMishra-MSFT commented on #19218
@NewOzzie Thanks for the feedback. We are investigating the issue.

[2018-11-20 07:00] ChiragMishra-MSFT commented on #19218
@douglaslMS Can you please take a look ?

[2018-11-20 07:12] AjayKumar-MSFT commented on #18982
Just to highlight, typically the deployment slots are used to have separate environment for your production and staging (test or deployment) app for the same WebApp (Website), it lets you deploy different versions of your WebApp to different URLs. This development slot lets you deploy your test or non-production ready code for testing prior to the release to the live WebApp.

You could either have

[2018-11-20 07:42] xiongyu0523 commented on #18398
I agree this is an essential feature for Gateway. When downstream devices like Zigbee or BLE mesh being provisioned, they use their own security and authentication method, once these devices joined the subnetwork, the provisioner (usually the gateway) should be responsible to register and manage identities for them, I would like to see how this can be implemented.

[2018-11-20 07:46] johnyesberg commented on #16548
I'm happy for the issue to be closed. I thought it might be worth updating the documentation to show something like these lines (which took me a while to work out).

    const sasUri = 'https://myaccount.table.core.windows.net/mytable';
    const sasQuery = 'sv=2018-03- 28&si=saspolicy&tn=mytable&sig=1%2FgfWdreRKfWpRjhRy3E8MiHDIxH35SPZY5ssU8lKw%3D';
    const tableService = new azure.TableService(

[2018-11-20 07:47] riabovil commented on #12247
@jeevansd, still waiting for Service Desk 3.8 compatibility. Thank you

[2018-11-20 07:48] forester123 opened #19224 ""Standard Load Balancer" VS "Load Balancer Standard""
Might be a silly request here, but the two different terms as titled may bring confusion to customers, especially being translated to other languages like Simplified Chinese. Can we use "Standard Load Balancer" in all places? Thanks a lot!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09325ff2-5a0a-0aff-e3cb-d1c0585a6

[2018-11-20 07:48] pramodkn opened #19225 "Could not get any response from API TTS."
i am getting token from region service https://eastasia.api.cognitive.microsoft.com/sts/v1.0/issueToken by passing my speech service key created in azure and by using the same token i am calling https://eastasia.tts.speech.microsoft.com/cognitiveservices/v1 with xml payload and required header as given but its not connecting to rest even. and android tts sample https://github.com/Azure-Samples/Cog

[2018-11-20 07:49] mcurko opened #19226 "Error"
In the Add cluster dialog box, enter https://help.kusto.windows.net, then select Add.

=&gt;

Principal 'msauser=***************************************' is not authorized to perform operation 'Access the Kusto service' on 'https://help.kusto.windows.net:443/'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e0fe92a-90

[2018-11-20 07:51] KetanChawda-MSFT commented on #18246
@saulcruz

Creation of Azure function from portal only supports runtime 2.x and python is not available in 2.x runtime.

The version 2.x runtime doesn't support experimental languages. Support for new languages is added only when the language can be supported in production.

See the documentation [here](https://docs.microsoft.com/en-us/azure/azure-functions/supported-languages#languages-in-runtime

[2018-11-20 07:58] KetanChawda-MSFT commented on #18777
@imeya Closing this issue as we have not heared back from you. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2018-11-20 07:59] #18777 closed

[2018-11-20 08:00] mcurko commented on #19226
However I can do it in Opera (instead of Chrome)

[2018-11-20 08:00] mcurko commented on #19226
And then:

Add Cluster

Please enter the URI

URI

https://myclusterxxxx.westus.kusto.windows.net
Authorization has been denied for this request.

Something is wrong with this application...

[2018-11-20 08:03] mcurko opened #19227 "Question"
Why would I need an organizational account? I have a MS account and a MSDN Azure subscription (like many others, I suppose).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee4aa15b-5f33-b4f8-f3cd-f5f2434f3836
* Version Independent ID: 3b3a2b51-9e57-d651-5c9c-711acdd627ef
* Content: [Quickstart: Visualize data using the

[2018-11-20 08:18] RaghuramP commented on #18869
Thanks Manoj, it is clear and if documentation can be updated to include this, it would be great and help others.

[2018-11-20 08:31] aryus96 commented on #17232
Hi,

I'm also interested on a more detailled documentation. And please if you have time  to make an example on C#.

Thank you,

[2018-11-20 08:53] dcbrown16 opened #19228 "Requirement for Azure agents"
Are Azure agents required to monitor Microsoft peerings? I have a customer with on-premises agents set up but no bandwidth is displayed for the Microsoft peering.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 68c6efe1-73cb-10bc-91c7-6a93265eed2c
* Version Independent ID: b4015538-934a-49c3-802b-a3f0a7e215b6
* Content:

[2018-11-20 08:55] ManojReddy-MSFT commented on #18870
@spetrukhin Do you see any audit logs in the portal after you enabled the policy ? The latency for events to be displayed in storage is account is between 5-15 minutes after the action is performed.

[2018-11-20 08:57] cloudybrain commented on #6788
I did this...

netsh http add iplisten ipaddress=0.0.0.0

and it worked... wow

[2018-11-20 08:58] YutongTie-MSFT commented on #18286
@wolfma61 Thanks a lot!
@alexander-riss Thanks for your feedback. We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-11-20 08:58] #18286 closed

[2018-11-20 09:00] YutongTie-MSFT commented on #19042
@MikeDodaro Thanks.

@solidcloudio Thanks for the feedback. We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-11-20 09:00] #19042 closed

[2018-11-20 09:03] YutongTie-MSFT commented on #19053
@swhite-msft Hi Scott, can you please take a look of this issue? Thanks a lot!

[2018-11-20 09:04] YutongTie-MSFT commented on #18284
@tulasim88 Thanks!

@nicojdejong We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-11-20 09:04] #18284 closed

[2018-11-20 09:05] YutongTie-MSFT commented on #18488
@j-martens Thanks!

@jamestm27 We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-11-20 09:05] #18488 closed

[2018-11-20 09:19] AshokPeddakotla-MSFT commented on #18977
This will be fixed in[#58382](https://github.com/MicrosoftDocs/azure-docs-pr/pull/58382) We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-11-20 09:20] #18977 closed

[2018-11-20 09:31] woodwardmatt opened #19229 "azCopy process not terminating on finish"
I'm using azCopy in a release pipeline within the Azure DevOps platform. Having read the above I've configured the following bash task (after installing azcopy) as an inline script:

azcopy \
    --source &lt;build agent local file path&gt; \
    --destination &lt;file share url&gt; \
    --dest-key &lt;security key&gt; \
    --recursive \
    --verbose

The task runs (and appears to successfully

[2018-11-20 09:38] spetrukhin commented on #18870
@ManojReddy-MSFT Yes, I can see activities in Azure AD Activity Logs on portal after I enabled "Time-based retention" policy for "insights-logs-auditlogs" container.

[2018-11-20 09:40] orspod commented on #19226
@mgblythe, please fix if needed.

[2018-11-20 09:41] neeleshray commented on #19185
@jkadki2: Azure SQL Managed Instance is also a part of the [Azure SQL Database](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-managed-instance). Azure AD Connect needs an On-Premise instance of Database to connect to. Hence, the Managed SQL Instance in Azure also is not supported.

[2018-11-20 09:41] orspod commented on #19227
@mgblythe, please address the issue.

[2018-11-20 09:44] jakaruna-MSFT commented on #18507
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2018-11-20 09:44] #18507 closed

[2018-11-20 09:48] Dinesh-AR opened #19230 "Not able to find PowerShell script to restore VM from Recovery Services Vault"
I am able to find restoring VM backup from Azure Vault. Recently our Azure Vault has been upgraded to Recovery Services Vault (V2 backup stack). I tried to find script for restoring VM from V2 backup stack ( backup taken within 7 days). It would be helpful if you provide some pointers to PowerShell scripts for restoring VM from Recovery Services Vault.

---
#### Document Details

⚠ *Do not edit th

[2018-11-20 09:48] ManojReddy-MSFT commented on #18869
@RaghuramP I will close this issue for now and will work with the author offline to get this added to the doc.Thanks.

[2018-11-20 09:48] #18869 closed

[2018-11-20 09:57] jakaruna-MSFT commented on #19217
@kaywilliams Thanks for reporting.
"/" is missing after cloudapp.net. But after adding "/"  its redirecting to other website.
Generally Endorsed (https://docs.microsoft.com/en-us/azure/virtual-machines/linux/endorsed-distros#supported-distributions-and-versions) distributions except CoreOS will be supported. I will assign this issue to the author to investigate and alter the contents.

[2018-11-20 09:58] jakaruna-MSFT commented on #19217
@bobbytreed Please check this issue.
cc: @MicahMcKittrick-MSFT

[2018-11-20 10:04] Sogup commented on #19230
Restoring VM on stack V1 and V2 is exactly the same. You can use same scripts on stack V2 as well.
Adding @Geetha Lakshmi G<mailto:Geetha.G@microsoft.com>, if you need any more info on IaaS VM restore.

From: Dinesh AR <notifications@github.com>
Sent: Tuesday, November 20, 2018 3:19 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Sonia Gupta <Sonia.Gupta@microsoft.com>; Mention

[2018-11-20 10:32] SadiqhAhmed-MSFT commented on #19213
@vadim-berman, Thanks for your feedback. We are working with the on-boarding team and shall get back to you at the earliest.

[2018-11-20 10:36] burningza commented on #15051
Hi,
I had the same (similar?) problem.
At first I didn't add the Connected Services (Cloud Storage with Azure Storage) described in https://docs.microsoft.com/en-za/azure/visual-studio/vs-storage-aspnet-getting-started-blobs#set-up-the-development-environment, but opted to add, what I thought was the correct packages from Nuget.

To resolve my problem I removed the package(s) using the Nuget Packa

[2018-11-20 10:39] burningza commented on #15051
<code>
<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.4.1.9004" targetFramework="net462" />
  <package id="bootstrap" version="3.0.0" targetFramework="net462" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net462" />
  <package id="jQuery" version="1.10.2" targetFramework="net462" />
  <package id="jQuery.Validation" version="1.11.1" targetF

[2018-11-20 10:42] balakumaronline opened #19232 "API returns an error"
Tried to use https://westus.api.cognitive.microsoft.com/sts/v1.0/issueToken but this returns this error below, even with a valid subscription key

{ "statusCode": 404, "message": "Resource not found" }

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ba5bbd9-c69d-fbfe-6392-f5cea4ebfb08
* Version Independent ID: 617eeeb5

[2018-11-20 10:45] tomkuijsten commented on #18466
@femsulu I tried it again, with another AI query and it seems to work fine now. I probably messed something up, thanks for the quick response.

[2018-11-20 10:50] EM1L opened #19233 "How to list files in Azure Storage File Share Directory?"
I would expect to see a sample how to list the contents of a Azure Storage Directory or even better wild card search for files in a directory - it there a way to accomplish this?

**Please note:** I am referring to Azure File Share and a way to list directory contents without mounting the share locally.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2018-11-20 10:50] ksix opened #19234 "B2B Guest Users cannot register with Authenticator App Method"
**B2B Guest Users cannot register with Authenticator App Method**

Timeout on waiting for confirmation from authenticator app during app activation. Only occurs for guest users. Tenant has enabled the security info registration preview.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8f14188-98ec-5c94-f408-162ee1baa076

[2018-11-20 11:04] eholman commented on #19062
@jason-j-MSFT I discovered what went wrong, and for a Cosmos DB newby like me, it's not clear that MongoDB is **not** supporting SQL API nor that Cosmos DB in Azure clearly shows the data model is of type MongoDB.

So in the end I needed to switch to the MongoDB Connector.

[2018-11-20 11:38] EM1L commented on #19233
Actually the example was in front of my eyes I just didn't see it:

`az storage file list` sample is there... closing this issue

[2018-11-20 11:38] #19233 closed

[2018-11-20 11:38] balakumaronline opened #19235 "Tutorials for Text to Speech"
There seems to be lack of tutorials for Azure Cognitive Services Text to Speech..
It would be great to have a look at and see how to adapt this in Asp.Net, C# web Applications

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ba5bbd9-c69d-fbfe-6392-f5cea4ebfb08
* Version Independent ID: 617eeeb5-0ad6-f54c-7d36-edeb2e6d95

[2018-11-20 12:03] vicperdana opened #19236 "AzureRM powershell site extension"
I would like to have the ability to run azureRM powershell commands under a web app context.  The scenario is I would like to host a web front end using Azure Web App which runs an Azure powershell script in the background.  The site is like this https://labgrading.azurewebsites.net - it throws an error that AzureRM is not installed whenever you enter azurerm powershell commands.

---
#### Documen

[2018-11-20 12:18] WithHolm opened #19237 "Roles"
Hi, Are there any other roles besides Global Admin, that a person could have to be able to go to this website to review the settings?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f132318f-8670-fd0d-2524-01305ccff2a1
* Version Independent ID: 0849b4a9-ff14-1d61-47f2-a2daecf3cde9
* Content: [Get started Azure MFA in th

[2018-11-20 12:38] IlyaNikitinMs commented on #6788
I also have exact same problem, I tried all listed above solutions. None of them worked.

[2018-11-20 12:48] jakaruna-MSFT commented on #19205
@andrewatfornax Thank you very much for reporting.
I created a registry with Premium SKU (only premium can have the replication) in a resource group. I tried to migrate that registry to other resource group. But the validations failed with an error `"Resource move is not supported for resource types Microsoft.ContainerRegistry/registries/replications'."`
I was able to move when i tried with the re

[2018-11-20 12:53] jakaruna-MSFT commented on #19205
@tfitzmac we are unable to move the Container registries which has replication feature enabled.
Move works fine for the registries without replication feature.
Please review and add this to the limitations.
cc: @MicahMcKittrick-MSFT

[2018-11-20 12:53] marcelofelman opened #19238 "Document how to test Azure Portal sign in"
I followed the guide and was able to successfully set up Google auth to log into the Azure portal. However, I struggled with:
- I had to invite the gmail accounts on Azure Portal. May be obvious for experienced users but would be nice to add.
- The Azure Portal URL is https://portal.azure.com/&lt;tenantId&gt; (without ?tenantid= as described in the first purple box).

Overall it would be nice to h

[2018-11-20 13:14] marcelofelman opened #19239 "Network bandwidth for NC-Series?"
Hello. I can't seem to find any information on the maximum network bandwidth for any GPU VM except for the NDv2-series.
It would be nice to detail on the far side column for every N-Series just as for NDv2-series.
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c946c151-c1a6-59bc-2e44-6a820547f48e
* Version Inde

[2018-11-20 13:31] liamfoneill opened #19240 "Front-End Scaling needs for information"
When a front-end scale occurs, it causes apps within the ASE to stop working (returning HTTP 50x errors). Does this mean scaling needs to be planned and occur within a maintenance window?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e754567e-9482-5693-5ef8-6cc811ea7f57
* Version Independent ID: 7c87e9ce-cf7f-120d-e6a

[2018-11-20 13:37] marcusmills opened #19241 "dnsfeedback@microsoft.com bounced "The group dmems only accepts messages from people in its organization or on its allowed senders list, and your email address isn't on the list.""
Trying to contact the Engineering team on dmsfeedback@microsoft.com, but got a bounceback.

We have several databases to migrate to Azure with multiple LOBs greater than 32kb and want to use the online migration to reduce downtime.  We just figured out that much of our data on the first 2 DBs we tried has been truncated due to:

If the length of Large Object (LOB) column is bigger than 32 KB, data

[2018-11-20 13:38] rkarlin commented on #6943
@aaronralls Hi Aaron, thanks for letting us know that this is something that would be helpful to you. We are in the process of improving the remediation steps for all the Alerts in Security Center. It will take some time until you see an impact in the product, but your input helps the development team prioritize this project. Thanks again for the feedback.

[2018-11-20 13:38] andrewatfornax commented on #19205
Thanks! If you could also include a link for users to the documentation on how to remove replication, so that it can be moved (and replication added again after the move), that would be great - have not been able to find that.

[2018-11-20 13:49] gervaisfokam commented on #18964
Hello Manoj,

Thank for the feedback, sorry for the delay, yes, I didn’t run the script first and that would explain why.
I am all set.
Kind Regards

Gervais

From: K N Manoj Reddy <notifications@github.com>
Sent: Tuesday, November 20, 2018 00:49
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Gervais Fokam <Gervais.Fokam@microsoft.com>; Mention <mention@noreply.github.com>
Subjec

[2018-11-20 14:14] radhagpt opened #19242 "PowerShell Billing API"
Is there any PowerShell command available to generate a Billing API key for EA Portal?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4569359f-ed2e-1c44-1d75-059f21434f50
* Version Independent ID: ac69b995-6fc0-903c-d05d-2386b350f2aa
* Content: [Grant access to create Azure Enterprise subscriptions](https://docs.micros

[2018-11-20 14:33] ASchwarz1984 commented on #16842
Same issue here - any updates so far?
How to proceed when "Az" module is installed? The script will install AzureRM module side by side with "Az" module.

[2018-11-20 14:53] wiemerr commented on #19206
The topic on this page is about getting consent without an invitation which make your answer unresponsive.

How can we deliver an experience where the user is prompted for consent when they attempt to access the application and then redirect them to the application after giving consent?

[2018-11-20 14:58] Klaas- opened #19243 "invalid json in example"
Hi,
https://github.com/MicrosoftDocs/azure-docs/blame/master/articles/virtual-machines/extensions/custom-script-linux.md#L91
the "," needs to be removed

greetings
klaas

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df5a8957-9b4c-2a2e-81c2-79125373f8f1
* Version Independent ID: d1c2d4cf-88cd-7581-10b5-88a5d11986e6
* C

[2018-11-20 15:09] georgewallace commented on #19167
@nkbpc GitHub doesn't attach images when replying by email so I can't see your image.. It sounds like you don't have permissions to create a run as account.  Run As Accounts have [permissions](https://docs.microsoft.com/en-us/azure/automation/manage-runas-account#permissions) needed to create them. I would suggest confirming with someone in your subscription that has the appropriate permissions

[2018-11-20 15:13] georgewallace commented on #19193
@Placid7 No problem whatsoever.  Update Management relies on the local package manager or Windows Update to apply updates.  It will only apply updates that the local machine states that it needs.  This is completely transparent what patches / packages are being updated as you can review that in your local Windows Update log or package manager log. We also log the patches / packages that are update

[2018-11-20 15:13] mgblythe commented on #19226
Thanks for the feedback @mcurko in this issue and the other one. Looking into both of these.

[2018-11-20 15:15] pipernet opened #19244 "navigation path to policy is out of date"
To find sign-up and sign-in policy, this guide should indicated to click on User Flows-&gt;New user flow-&gt;click All to view the Sign up and sign in option.

In fact the Create the policy section needs a rewrite based on the new wizard UI.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36c209d9-c15f-87a4-a7ee-bb2bd34

[2018-11-20 15:31] abhinav-jain09 opened #19245 "how to define the CORS problematically ?"
I do not see example for defining the CORS via program or Maven plugin . Its stupid to do it manually on Azure portal specially we are talking about azure functions serverless.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e85de04-2f8b-68ea-eeb9-dcc65f216332
* Version Independent ID: db26953c-f234-3828-4c38-493ad410e

[2018-11-20 15:38] CeciAc commented on #5286
Hi team,
any updates on this?
@SunnyDeng @twooley @DavidPrio

[2018-11-20 15:38] PramodValavala-MSFT commented on #19065
@paulhasell
I have tried creating a the same connector as described in this tutorial and was able to create the custom connector successfully and was also being prompted for the API Key when trying to use it in flow.

I did face one issue when trying to import the function into PowerApps + Flow from Azure though

I noticed that without selecting anything in that dropdown and just providing a name

[2018-11-20 15:40] OffColour opened #19246 "Using credentials from an Automation Account"
This covers a manual process, but what about an automated one?
Joining a VM to a domain is a common thing to do with DSC, but is a little bit hacky and insecure.

1. Add credentials into the Automation Account
2. In the DSC script:
2.1 Use Get-AutomationPsCredential to retrieve the credentials from the Automation Account
2.2 Use the DSC "Computer" module to join the domain passing the retrieved cr

[2018-11-20 15:48] darshankumarys commented on #18544
hey @Adam-Smith-MSFT  , from this url am downloading and installing it. and am getting same rror.

https://azure.microsoft.com/en-us/features/storage-explorer/

[2018-11-20 16:00] aaronATproject commented on #17157
You have to do this for the entity id: google.com/a/<yourdomain.com>

otherwise if there is another google generic binding in your list it will think its that. Since there is oauth people may have done it will think it is that app and not the one your trying to connect.

[2018-11-20 16:03] Alberto-Vega-MSFT commented on #18849
@dlepow Any insights on this?

[2018-11-20 16:16] mgreschl opened #19247 "Sample Code Link Broken"
The current link to sample code is broken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3bd993d-a293-6f79-e52c-d9fd7574b377
* Version Independent ID: 5daefc94-8374-dc00-aa4b-126ebd05f9b1
* Content: [Azure ServiceFabric diagnostics and monitoring](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-re

[2018-11-20 16:19] GWBasic opened #19248 "Actual instructions needed"
This article says a lot about package management without providing any actual instructions for doing package management.

You need to explain how to include a package. This means explaining how to create a packages.json file.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c7219dd-8a37-bce7-2894-95ffe55f3a20
* Version

[2018-11-20 16:24] iamkoch opened #19249 "Can I persist the receive claim to the user's profile?"
Hi

I have a working copy of the example above - I send the objectid to the function and return back a different id, a guid, called 'profileId'

I want this profileId to be stored against the user so that I can avoid the function being called every time the user logs in, just when they sign up.

Is this possible? I have tried my best to stick PersistedClaims / PersistedClaim in various places in o

[2018-11-20 16:41] erhopf commented on #19215
@maysamdabbagh - There is a typo in one of your headers that may be causing the issue.

[code]

should look like this:

[code]

Here's a working sample in Node.js that you can use to fix up your code.

[code]

@YutongTie-MSFT - This isn't a documentation issue, rather technical support. In the future, are there other teams that should be assisting with these inquiries?
(@tchristiani )

[2018-11-20 16:45] MikeDodaro commented on #19053
I am working on it.

[2018-11-20 16:45] VanMSFT commented on #19087
Hi @jl101, it is the same Contained Database User Model that has been in existence.

[2018-11-20 16:46] cmmdesai commented on #18715
Thank you for the feedback. I'll update the document with this information. #please-close.

[2018-11-20 16:55] maysamdabbagh commented on #19215
Thanks for your reply

- **raw-16khz-16bit-mono-pcm**  is one of the audio format. I changed my code to use this format as well but it did not work

- I cannot add  'User-Agent': 'YOUR_RESOURCE_NAME', to the header it give me **Refused to set unsafe header "User-Agent"** error

- from this sample code, I was missing **'cache-control': 'no-cache',** header and I added it so I still get the same 400

[2018-11-20 17:00] wwoomobile commented on #19074
Glad you got it working.

If you need, here is the syntax I used for Azcopy

azcopy /Source:https://nytaxiblob.blob.core.windows.net/2013 /Dest:https://wwcontosoretail.blob.core.windows.net/taxi /Destkey:mykey /S

Finished 427 of total 427 file(s).
[2018/11/20 11:58:52] Transfer summary:
-----------------
Total files transferred: 427
Transfer successfully:   427
Transfer skipped:        0
Transfer

[2018-11-20 17:04] erhopf commented on #19215
@maysamdabbagh - A few things. To get the sample I sent over working you'll need to:
* Replace `YOUR_RESOURCE_NAME` with the name of your Speech Service resource from the Azure portal

Also, can you please let us know which region you created your resource in? If it's not West US, we're going to need to change the endpoint you're hitting.

Last, please post the 400 error message that you're receiv

[2018-11-20 17:05] PramodValavala-MSFT commented on #19245
@abhinav-jain09 Thanks for the feedback!

You can configure CORS using the Azure CLI. Here is a [doc](https://docs.microsoft.com/en-us/cli/azure/functionapp/cors?view=azure-cli-latest) to it.

[2018-11-20 17:09] MicahMcKittrick-MSFT commented on #19243
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-20 17:09] MicahMcKittrick-MSFT commented on #19246
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-20 17:10] MicahMcKittrick-MSFT commented on #19248
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-20 17:10] MicahMcKittrick-MSFT commented on #19247
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-20 17:11] MicahMcKittrick-MSFT commented on #19239
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-20 17:12] MicahMcKittrick-MSFT commented on #19214
@maysamdabbagh please provide us with the link to the documentation you are referring to so we can better assist.

[2018-11-20 17:15] nelsonmorais opened #19252 "What should be the Agent Pool if a Module targets multiple platforms"
Let's say we have a Module with the following platforms:
            "platforms": {
                "amd64": "./Dockerfile.amd64",
                "arm32v7": "./Dockerfile.arm32v7",
                "windows-amd64": "./Dockerfile.windows-amd64"
            }

What should be the Agent Pool on such cases?
Is this scenario supported?
Do we have to create multiple module-&lt;platform&gt;.json files and

[2018-11-20 17:18] kgremban commented on #19208
@baharw When you create a deployment for a device, the IoT Edge runtime compares the modules listed in the deployment manifest to the modules running on the device. Any new modules listed in the deployment manifest are added. Any existing modules not in the deployment manifest are removed. If you wanted to keep IoT Edge running on a device but remove all modules, you could create a deployment mani

[2018-11-20 17:19] YutongTie-MSFT commented on #19235
@balakumaronline Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-11-20 17:19] maysamdabbagh commented on #19215
Thanks again for your reply

- Yes I replace it with the name that is specified in the Azure portal for cognitive services and still getting **jquery.min.js:2 Refused to set unsafe header "User-Agent"**

- location is West US based on my subscription. Also in it mentioned the same on the cognitive services overview.

[2018-11-20 17:20] MicahMcKittrick-MSFT commented on #13395
@jonbeck7 any update on this?

[2018-11-20 17:29] Mike-Ubezzi-MSFT commented on #19241
@marcusmills Thank you very much for your interest in Azure Cloud. It might be worth while to run the [Microsoft® Data Migration Assistant v4.1](https://www.microsoft.com/en-us/download/details.aspx?id=53595) and documnetatin that goes with it: [Overview of Data Migration Assistant](https://docs.microsoft.com/en-us/sql/dma/dma-overview?view=sql-server-2017).
The Azure Data Migration Service can th

[2018-11-20 17:30] jason-j-MSFT commented on #19207
@v-maroge Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-20 17:30] femsulu commented on #18583
Closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2018-11-20 17:31] jason-j-MSFT commented on #19220
@xsqian Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-20 17:32] erhopf commented on #19215
@maysamdabbagh I did some quick research and it looks like you're getting errors because it's a client-side and not a server request. https://stackoverflow.com/questions/33143776/ajax-request-refused-to-set-unsafe-header

@YutongTie-MSFT - Please work with @WSturman to identify/reassign a resource to assist @maysamdabbagh. Thanks!

[2018-11-20 17:34] mcurko opened #19253 "The function code doesn't compile"
2018-11-20T17:31:31  Welcome, you are now connected to log-streaming service.
2018-11-20T17:31:43.417 [Information] Executing 'Functions.HttpTrigger1' (Reason='This function was programmatically called via the host APIs.', Id=8c6f1f8a-04d9-46e9-b369-56f26c43dd39)
2018-11-20T17:31:43.495 [Error] Function compilation error
Microsoft.CodeAnalysis.Scripting.CompilationErrorException : Script compilati

[2018-11-20 17:34] femsulu commented on #19144
adding @DCtheGeek to help clarify.

[2018-11-20 17:36] YutongTie-MSFT commented on #19101
@cbrit We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-11-20 17:36] #19101 closed

[2018-11-20 17:36] dlepow commented on #18849
@DaveVoyles - Hello Dave. Like @Alberto-Vega-MSFT I went through the tutorial steps again in Cloud Shell and they work for me. Your steps sound correct, but the initial error you reported suggests a problem the syntax of the job.json file. JSON syntax can be unforgiving if there are any stray braces, quotes, etc.
[code]
I don't know what editor you used to create the job.json, but I like to use Vi

[2018-11-20 17:38] femsulu commented on #18790
@mcruz-QS , @ricohomewood , please use the steps [here](https://docs.microsoft.com/en-us/azure/azure-supportability/how-to-create-azure-support-request
) to file a support ticket. If you do not have a support plan, send mail to AzCommunity@microsoft.com includng the link to this Github thread and we will assist you further.

[2018-11-20 17:38] #18790 closed

[2018-11-20 17:39] maysamdabbagh commented on #19215
Thanks, @erhopf. How come the JSNODE code work then. It is on the client side as well.

Looking forward to finding a resolution to be able to call the TTS API from JS code.

[2018-11-20 17:43] maysamdabbagh commented on #19215
I removed the user agent and it worked,
The main issue was the typo
Thanks @erhopf

[2018-11-20 17:43] #19215 closed

[2018-11-20 17:49] Grace-MacJones-MSFT commented on #18885
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-20 17:49] #18885 closed

[2018-11-20 17:50] iLikeAzureSQL opened #19254 "Missing Startup.cs from project"
Couldn't find Startup.cs in project which cloned from Git

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00961883-36eb-f736-b906-73d4c35e69b0
* Version Independent ID: 3a2fd493-9682-eedf-fad1-571b9391cd46
* Content: [Build a .NET Core and SQL Database web app in Azure App Service](https://docs.microsoft.com/en-us/azure

[2018-11-20 17:52] MarileeTurscak-MSFT commented on #19197
@BDE95
There was a global outage for all of Azure MFA yesterday. Have you tried again today?

[2018-11-20 17:53] MicahMcKittrick-MSFT commented on #18722
Thanks @sajayantony! That helps.

@robertdj does that help with your ask?

[2018-11-20 17:55] RicksterCDN commented on #19189
looks like Daniel is Out until December 4th. adding @BorisB2015 for insight and comment here.

[2018-11-20 17:57] jcbrooks92 opened #19256 "Diagnostics logs are not supported for functions"
Can we add a note that diagnostic logs are not supported with functions? The recommended solution is to use AI as mentioned in the document.

A note similar to this:
 Note
When the Functions host starts, it overwrites the existing file structure in the directory.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13672b67-

[2018-11-20 17:58] MicahMcKittrick-MSFT commented on #19239
@marcelofelman good point!

@jonbeck7 could you take a look and see if we can get this info added?

[2018-11-20 18:08] isamllr opened #19257 "Runs successfully after filesystem/folder was created"
In case you are using a brand new ADLS Gen2 account, you need to first create the filesystem at step 9.
The Data Factory wizard would not let me do that, you will have to do this using the REST API, Databricks (https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/storage/data-lake-storage/handle-data-using-databricks.md) or the HDInsight console first.

At this very moment, it is only

[2018-11-20 18:09] lgayhardt commented on #19027
@anblanco Sorry for the delay. The doc is referring to this [nuget package](https://www.nuget.org/packages/System.Net.Http/4.1.0)

[2018-11-20 18:11] MicahMcKittrick-MSFT commented on #19247
@mgreschl thanks for the find.

The correct link should https://azure.microsoft.com/en-us/resources/samples/?service=service-fabric&sort=0

I corrected the doc. Once the PR merges the changes will go live in a few hours.

[2018-11-20 18:11] #19247 closed

[2018-11-20 18:11] #19254 closed

[2018-11-20 18:13] MicahMcKittrick-MSFT commented on #19243
@Klaas- thanks for the find! I have corrected the doc. Once the PR merges the changes will go live in a few hours.

[2018-11-20 18:13] #19243 closed

[2018-11-20 18:15] MicahMcKittrick-MSFT commented on #19203
@adewaleo Low-Priority VMs for VMSS is still in preview. So the doc is correct.

[2018-11-20 18:15] #19203 closed

[2018-11-20 18:16] diberry commented on #18866
@CalvinFengDatacom

#in-progress

Hi Calvin,

I testing this idea of [updating](https://westus.dev.cognitive.microsoft.com/docs/services/5a93fcf85b4ccd136866eb37/operations/5ac266295b4ccd1554da7600) and [replacing](https://westus.dev.cognitive.microsoft.com/docs/services/5a93fcf85b4ccd136866eb37/operations/knowledgebases_publish) the KB where the questions array had multiple values. Both API calls

[2018-11-20 18:17] Adam-Smith-MSFT commented on #19233
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-11-20 18:18] Mike-Ubezzi-MSFT commented on #19227
@mcurko I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-20 18:19] Adam-Smith-MSFT commented on #19229
@woodwardmatt Thank you for the valuable feedback,we are investigating the issue.
What specific version of AZcopy are you using ? it should normally terminate the copy once it is done.

[2018-11-20 18:21] YutongTie-MSFT commented on #19099
@alathrop Hi, I don't think we support it now. But we can help you analyze the content type of images by indicating whether an image is clip art, rating the likelihood on a scale, or a line drawing. https://docs.microsoft.com/en-us/azure/cognitive-services/computer-vision/concept-detecting-image-types

@JinYam Hi Jin, do you have any idea about it or will we have any feature support it in the futu

[2018-11-20 18:21] BDE95 commented on #19197
Hi Marilee,

I have tried today and unfortunately receive the same result.

[2018-11-20 18:32] Cherisle commented on #11884
Hi again @kgremban, I think I have a better understanding of what's going wrong now. It seems that the reason why my receiving module doesn't pick up the D2C messages is because although I have my modules within the device running, the device itself is not connected. However, since DataModule was created as a module, this makes me unsure where and whether I need to use DeviceClient to send data. I

[2018-11-20 18:33] #6041 closed

[2018-11-20 18:33] SunnyDeng commented on #5286
@CeciAc this issue was assigned to the PM @winthrop28 to take care of already. Please kindly leave some time there.

[2018-11-20 18:43] MarileeTurscak-MSFT commented on #19237
@WithHolm
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-20 18:43] MarileeTurscak-MSFT commented on #19244
@pipernet
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-20 18:44] MarileeTurscak-MSFT commented on #19238
@marcelofelman
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-20 18:45] MarileeTurscak-MSFT commented on #19249
@iamkoch
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-20 18:45] markingmyname commented on #6132
@Favna Thank you for your feedback.  First, I want to apologize for the delayed response.  This information is out-dated. Power BI Workspace collections have been deprecated and should not be used to create new embedded type scenarios anymore. If you currently have a PBI Workspace collection setup, then please migrate over to Power BI Embedded in Azure. Please reference information about How to mi

[2018-11-20 18:45] markingmyname commented on #6132
#please-close

[2018-11-20 18:48] davidmu1 commented on #17979
@liitimellison I appreciate the feedback and am going to relay your request to the engineering team to possibly assist me in putting this type of information in a conceptual article. For example the B2C overview or FAQ. But we don't want to add that type of conceptual content to the tutorials themselves. Thanks again.

#please-close

[2018-11-20 18:50] MikeDodaro commented on #19053
Thanks @lucasgros !

[2018-11-20 18:50] sumeetmittal commented on #19199
No you don't need to provision SE on gateway subnets. You only provision on subnets where you want to lock the access from. Thanks

[2018-11-20 18:51] Placid7 opened #19258 "Update cmdlets"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3461048-c7fc-3979-a818-39af99d5e6bb
* Version Independent ID: d0e5e766-ef63-d934-b21b-678933a5cc65
* Content: [Manage updates and patches for your Azure Windows VMs](https://docs.microsoft.com/en-us/azure/automation/automation-tutorial-update-managem

[2018-11-20 18:58] kgremban commented on #11884
Thanks, @Cherisle. We did sort of wind around a lot of topics in this thread :) If you have questions about the product itself, you can also open issues on the iotedge repository: https://github.com/Azure/iotedge. They may be able to better understand what you're trying to do and what you need to get there.

 In general, though, I think you don't need DeviceClient at all on an IoT Edge device. The

[2018-11-20 19:00] fitzgeraldsteele opened #19259 "Link to supported distrubtions"
Would it be possible to make the support distrubtions and regions a hyperlinkable heading? It would be nice to be able to point people directly to this section

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bb8e2623-1f79-aee3-bd97-8b5f647b6980
* Version Independent ID: 6346b54d-cc8d-0b79-a6b8-f9144cfa2459
* Content: [L

[2018-11-20 19:05] bwren commented on #19207
I don't have a date when it won't be available in the marketplace anymore, but that doesn't affect it's functionality.  As described in https://docs.microsoft.com/en-us/azure/log-analytics/log-analytics-azure-networking-analytics#azure-network-security-group-analytics-solution-in-log-analytics It's been moved to community support and will continue to function.

[2018-11-20 19:14] TravisCragg-MSFT commented on #19199
@binoyjt We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-20 19:14] #19199 closed

[2018-11-20 19:22] #6132 closed

[2018-11-20 19:23] clarkpeters opened #19260 "RSS feed link"
Appears broken, should be: https://azurecomcdn.azureedge.net/en-us/status/feed/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bb7d1f73-bfb0-fd4f-4dfe-cad545467a35
* Version Independent ID: e56e646d-0067-26ad-b49c-cbe7623f050f
* Content: [Azure status overview](https://docs.microsoft.com/en-us/azure/service-health/azur

[2018-11-20 19:38] MicahMcKittrick-MSFT commented on #19246
@OffColour there are a few ways to pass credentials to VMs in a secure manner. I would suggest pulling them from a Keyvault resource. Something like shown in

https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-keyvault-parameter

We also have some information on creating credential objects in Automation

https://docs.microsoft.com/en-us/azure/automation/automation-crede

[2018-11-20 19:50] MicahMcKittrick-MSFT commented on #19210
Got it.

So if you decide to simply use the resize option in the portal for example we will provide you a list of available sizes you can resize to. The same results as running

[code]

while your VM is online and running. If the size you want is not listed that does not mean you cannot resize to that VM size. Rather you just need to stop the VM first. Note, regardless of if you resize or stop the

[2018-11-20 19:53] MicahMcKittrick-MSFT commented on #19187
@badalk let me know if you have any follow up questions on this.

To close out, you have no control over the tags that are generated when creating an AKS cluster. No tags are generated on the Resource group level but rather on the resource level inside the resource group. You can add additional tags but it is not suggested you modify any existing tags added by the platform.

I would suggest you ad

[2018-11-20 19:53] #19187 closed

[2018-11-20 19:57] fastrnu80 commented on #18962
Hi Jagadeesh, can you confirm the part about a SSD based VM being spun up in a HDD account. Can you confirm the VM is not being spun up in a HDD storage account?

Ok, just wanted to make sure that even though I'm spinning up a SSD sku VM that it wasn't spinning up in a HDD storage account. I believe that is a possible scenario in Azure though and I wouldn't want to be paying for SSD but only getti

[2018-11-20 19:58] TravisCragg-MSFT commented on #19192
@jpr2016git I was able to make the NVA without an issue. Please make sure that your[ CLI is fully updated](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest). If you are still having this error, please let me know.

[2018-11-20 20:03] mercurjl opened #19261 "Manage HTTP Headers for Azure static website"
There doesn't seem to be a clear and defined way to manage HTTP headers with an Azure static website. I know this feature is still in preview but my team and I are attempting to make this into a production ready web application.

I think most people utilizing the static website feature will be using javascript frameworks like Reactjs or Angular. Since there isnt a web.config to manage http headers

[2018-11-20 20:04] CHDAFNI-MSFT opened #19262 "Which servers to target with solution?"
Can the article be updated to better understand the intended target machine (or machines) of the solution?

Example: Is 1 domain controller per domain enough to pull the analytical data (since the AD database is widely replicated) or does the agent NEED to be on more than 1 domain controller from the same domain / forest?

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2018-11-20 20:08] drewingram opened #19263 "Unclear about verify that the API is exposed"
The final step when you verify that the API is exposed says to repeat the steps to configure a client application to access web APIs and provides a link to this exact page. The next part of this step says... "When you get to the Select an API step, select your resource"  but there doesn't seem to be a "Select an API" step. Not sure what this means.

---
#### Document Details

⚠ *Do not edit this s

[2018-11-20 20:08] TravisCragg-MSFT commented on #19228
@dcbrown16 the Azure Agent is not required on either end, however the VM Agent is always recommended in Azure. [Network Performance Monitor](https://docs.microsoft.com/en-us/azure/log-analytics/log-analytics-network-performance-monitor) is a standalone application.

If you are not able to properly monitor the bandwidth after following the documentation, please open a case with Azure Support. If th

[2018-11-20 20:09] TravisCragg-MSFT commented on #19224
@forester123 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-20 20:12] MicahMcKittrick-MSFT commented on #19178
@badalk closing this issue as we verified the doc works as written. We can continue our discussion offline via email.

[2018-11-20 20:12] #19178 closed

[2018-11-20 20:13] Grace-MacJones-MSFT commented on #19256
Hi @jcbrooks92, thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-11-20 20:19] MicahMcKittrick-MSFT commented on #19111
@MohitGargMSFT @MarileeTurscak-MSFT do either of you know the expected results if a user removes a VM from managed identity? Do they have to do anything to ensure that VM does not still have access to the secret? My guess is that if the secret is still the same maybe it is cached somewhere. But I am just guessing.

[2018-11-20 20:20] davidmu1 commented on #18956
@ccuscott I appreciate the feedback. The user flow experience is still currently in preview. The work to updates the articles to match the new UI in the portal is complete and waiting for the status of the user flow features to change to general availability by the engineering team. This should happen soon and when it does, look for the documentation updates.

#please-close

[2018-11-20 20:22] alathrop commented on #19099
Thanks for the response. Classifying an image as in-focus vs. out-of-focus is an important task for one of our clients. They have thousands of images they have to review - so this sort of automation would have tremendous value.

[2018-11-20 20:30] badalk commented on #19187
@MicahMcKittrick-MSFT  you can close this

[2018-11-20 20:32] #19207 closed

[2018-11-20 20:34] baharw opened #19264 "How to delete deployed image from IoT Edge?"
Deleting the deployed module from Azure Portal, does not delete the docker image from the IoT Edge device. Which ends up consuming precious space on the flash. Is there something I am doing incorrectly?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3808c67c-7c20-c275-efaa-d3724ccd88fc
* Version Independent ID: 4d86b41

[2018-11-20 20:34] MicahMcKittrick-MSFT commented on #19261
@mercurjl can you please provide me with the link to the doc you are referring to?

Also, if this feature is still in preview it is highly suggested not to use it for production. The product may change by the time it goes GA and this could break your production site.

[2018-11-20 20:35] MicahMcKittrick-MSFT commented on #19259
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-11-20 20:36] TerryLanfear commented on #14777
@slavish - Thank you for your suggestion. A link to information on how to delete personal data in Log Analytics has been added to article titled Manage user data found in an Azure Security Center investigation.

[2018-11-20 20:37] TerryLanfear commented on #14777
#please-close
Update is in PR #58435

[2018-11-20 20:39] davidmu1 commented on #18852
Removed the reference to SHA-1.

#please-close

[2018-11-20 20:40] TerryLanfear commented on #14777
@slavizh - Thank you for your suggestion. A link to information on how to delete personal data in Log Analytics has been added to article titled Manage user data found in an Azure Security Center investigation.

[2018-11-20 20:40] rrmistry opened #19265 "Azure DevOps No Longer supports "Azure Resource Group Deployment" task."
I know of a workaround to use PowerShell to deploy, but the documentation needs to be updated.
Thanks!

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e22e4d6-366f-fbf8-e141-8905ca7ab7ae
* Version Independent ID: 5be2acf2-66e7-cadf-6666-5a85a65b9771
* Content: [Continuous integration and delivery in Azure Data Factory]

[2018-11-20 20:47] dsolodow opened #19266 "Remove password protection proxy?"
Since currently you can only have two proxies, how do you remove/unregister one if that server is being retired for example?
Will simply uninstalling the proxy agent software be sufficient?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 799247b7-b3f3-807f-2183-1775f47500f9
* Version Independent ID: 8c242698-eaa1-4132-4

[2018-11-20 20:53] #18956 closed

[2018-11-20 20:55] rrmistry commented on #19265
Never mind. It is not part of a template, which is initially presented as the complete list of available options. I could not find it using key words like "Azure Resource", "Resource", "ARM", "template".

The only way I found it was when I crated empty pipeline, then searched again.

My apologies for creating this issue. I'll close now. Thanks!

[2018-11-20 20:55] #19265 closed

[2018-11-20 21:01] jpetitte commented on #17592
Hey @skukan159

If i understand your issue correctly, you can use recognizer.speechEndDetected to restart continuous recognition after a period of silence cutting the service. That's what I'm doing right now. For example:

[code]

These should be the relevant parts of the docs: https://docs.microsoft.com/en-us/javascript/api/microsoft-cognitiveservices-speech-sdk/recognizer?view=azure-node-latest#

[2018-11-20 21:02] mganeshphani opened #19267 "Links within document are broken"
https://docs.microsoft.com/en-us/azure/log-analytics/log-analytics-containers#configure-an-oms-windows-agent-for-kubernetes

doesn't take me to anywhere

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7783cfe9-0508-9a73-3923-597cbc523cda
* Version Independent ID: e2dba78f-0f1a-20d1-54d8-f30084328bb0
* Content: [Containe

[2018-11-20 21:02] MarileeTurscak-MSFT commented on #19266
@dsolodow Thanks for the response! We will investigate and update as appropriate.

[2018-11-20 21:03] georgewallace commented on #19258
@Placid7 Yes, they are in the latest Azure PowerShell module updates released this month.

https://docs.microsoft.com/en-us/powershell/module/azurerm.automation/New-AzureRmAutomationSoftwareUpdateConfiguration?view=azurermps-6.13.0

[2018-11-20 21:03] MarileeTurscak-MSFT commented on #19263
@drewingram Thanks for the response! We will investigate and update as appropriate.

[2018-11-20 21:05] jpetitte opened #19268 "Catching errors of websocket initial connection"
Is there a good way to catch the errors of the initial websocket connection on line 2389 of the sdk:

 _this.websocketClient = new WebSocket(_this.uri);

If it can't make a connection, I can't figure out how to catch the error and then do something with it (i.e. notify the user, attempt a reconnect, etc.)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2018-11-20 21:21] jeking3 commented on #18810
I'm also interested in these instructions.

[2018-11-20 21:31] kgremban commented on #13397
@theangellmethod I've decided not to incorporate this suggestion into the documentation. Copy+paste steps aren't unique to nano, as the save and exit steps are. Instead, copy+paste steps depend on which interface you're using to configure the IoT Edge device, which may vary between readers.

I'm going to ask that @Mike-Ubezzi-MSFT #please-close this issue. If you still feel strongly that these ste

[2018-11-20 21:34] JinYam commented on #19099
@Yutong Tie<mailto:Yutong.Tie@microsoft.com> – I’m in charge of OCR only, so below inquiry is not in my domain.

Cornelia in CC may be able to help – though I don’t believe we have this feature.

Jin
Computer Vision/OCR

From: YutongTie-MSFT <notifications@github.com>
Sent: Tuesday, November 20, 2018 10:22 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Jin Yamamoto <jinyam@mic

[2018-11-20 21:35] kgremban commented on #19264
Hi @baharw is there a reason that you opened this second issue in addition to the one that you opened yesterday? (https://github.com/MicrosoftDocs/azure-docs/issues/19208) It would be easier to maintain one conversation thread in a single issue, unless these are two distinct issues?

[2018-11-20 21:36] eransha opened #19269 "These instructions don't work"
Using the MSFT tenant these examples don't work:
a. the https://login.microsoftonline.com/{0}/oauth2/token URL indicate there are no tokens (error AADSTS90002)
b. without it, I'm prompted for admin consent even though the document indicates no consent is needed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d02de0bf-0

[2018-11-20 21:38] ovishesh opened #19270 "Need better SEO support for QnA Maker docs"
Just doing a quick search on google for "qna maker docs" where the top 5 results still point to the [old docs](https://www.qnamaker.ai/old/Documentation/CreateKb) and the first page of results don't even point to these new docs. Not sure how we'd be able to fix this, but will result into poor developer experience when getting started. We should atleast setup redirects from the old docs to these ne

[2018-11-20 21:38] ovishesh commented on #19270
![image](https://user-images.githubusercontent.com/3990367/48804479-9ae00b00-ed79-11e8-9433-0b6842db0683.png)

[2018-11-20 21:42] kgremban commented on #19088
@baharw The version of Docker CE isn't significant to develop for IoT Edge. I would say as a general rule of thumb that newer is better, but IoT Edge doesn't depend on a specific version. For Ubuntu, you could follow these instructions: https://docs.docker.com/install/linux/docker-ce/ubuntu/

For developing on a Linux machine for a Linux-based device, you actually don't need Docker CE specifically

[2018-11-20 21:55] Alberto-Vega-MSFT commented on #19095
@Couchiman Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-20 21:56] j-martens commented on #19095
@Alberto-Vega-MSFT  please assign to @ericlicoding . He is the new owner of the article. Heather is no longer on this.

[2018-11-20 22:06] CalvinFengDatacom commented on #18866
Hi @diberry, I see what the issue is. Actually, in our DB, we have more than 100 questions for one answer for some special reasons. So, I got an error message when I was trying to replace the QnA KB. The error message is:

**{StatusCode: 400, ReasonPhrase: 'Bad Request', Version: 1.1, Content: System.Net.Http.NoWriteNoSeekStreamContent, Headers:{  Date: Tue, 20 Nov 2018 22:03:14 GMT  X-Content-Typ

[2018-11-20 22:14] MicahMcKittrick-MSFT commented on #18722
In my tests with images in my registry I have been able to add multiple tags

![image](https://user-images.githubusercontent.com/32313503/48806184-682d0880-ecce-11e8-8bfa-809637863c77.png)

So you should be able to achieve this via the automation you are looking to do as well. Not sure if you would be able to pass multiple tags in an array or if you have to perform multiple tag operations.

@sajay

[2018-11-20 22:15] baharw commented on #19208
I am saying that after removing a module from the deployment, the module stops running, but remains on the IoT Edge Device, using up space on the device.

[2018-11-20 22:18] justinbarias opened #19271 "Incorrect RefreshFrequencyMinutes minimum value"
It says "settings.configurationArguments.RefreshFrequencyMins	uint32	Specifies how often LCM attempts to check with the Automation account for updates. Default value is 30. Minimum value is 15."

Minimum value is 30 minutes - tried to use 15 (hoping it was actually reduced to 15) doesn't seem like this has taken effect in at least TypeHandlerVersion 2.76.

---
#### Document details

⚠ *Do not edit

[2018-11-20 22:22] MicahMcKittrick-MSFT commented on #18784
@dcbrown16 as per the first line of this doc **A snapshot is a full, read-only copy of a virtual hard drive (VHD). You can take a snapshot of an OS or data disk VHD to use as a backup, or to troubleshoot virtual machine (VM) issues.**

So it is a full copy of the OS disk to a new disk. Essentially you are cloning the OS disk of the VM. Including all files, users, etc. No shadow copy of anything of

[2018-11-20 22:23] MicahMcKittrick-MSFT commented on #19078
@johnxy84 any update on this?

[2018-11-20 22:36] Ayanmullick commented on #18400
Also, how could one switch recovery points while failing over by recovery plan and not by protected item?

[2018-11-20 22:37] harshasanagaram opened #19272 "Property Name is incorrect"
The property name shown in this documentation (also below) is incorrect:
{
  "properties": {
    "upgradePolicy": {
      "automaticOSUpgradePolicy": {
        "enableAutomaticOSUpgrade":  true
      }
    }
  }
}

For me, the setting that worked was this:
  "properties": {
     "upgradePolicy": {
      "mode": "Automatic",
      "automaticOSUpgrade": true
    }

---
#### Document Details

⚠ *Do n

[2018-11-20 22:42] SnehaGunda commented on #16548
@johnyesberg thanks for the suggestion, I submitted a PR to add an example for host URI and SAS keys. Also added a link to the table storage doc: https://docs.microsoft.com/en-us/azure/storage/common/storage-dotnet-shared-access-signature-part-1#examples-of-sas-uris for detailed information on SAS. Hope this helps.

In future, if you have any doc suggestions or bug fixes please feel free to submit

[2018-11-20 22:42] SnehaGunda commented on #16548
#please-close

[2018-11-20 22:50] SnehaGunda commented on #19089
@shudson302 we will close this issue here but track it as a support ticket when you send an email to askcomsosdb alias.

#please-close.

[2018-11-20 22:50] TerryLanfear commented on #15088
@ezlbrmn - Thank you for your suggestion. This update has been made.

[2018-11-20 22:51] TerryLanfear commented on #15088
#please-close

[2018-11-20 22:55] Mike-Ubezzi-MSFT commented on #16500
Please Up-Vote and Comment on the following: [Support Gremlin Bytecode to enable the fluent API of Gremlin.NET](https://feedback.azure.com/forums/263030-azure-cosmos-db/suggestions/33632779-support-gremlin-bytecode-to-enable-the-fluent-api).
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion as a

[2018-11-20 22:55] #16500 closed

[2018-11-20 22:56] Karishma-Tiwari-MSFT commented on #18587
@jpconnock @cynthn @zr-msft This document has a link to an old blog post which is 2 years old. The customer is trying to follow the blog and is seeing errors. I am speculating that it must be outdated by now. Can you please take a look if we should change the link.
[The link is PFX certificates in Azure Key Vault.](https://www.rahulpnath.com/blog/pfx-certificate-in-azure-key-vault/)

[2018-11-20 22:58] Mike-Ubezzi-MSFT commented on #16548
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-11-20 22:58] #16548 closed

[2018-11-20 22:59] #19089 closed

[2018-11-20 23:00] Mike-Ubezzi-MSFT commented on #13397
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-11-20 23:00] #13397 closed

[2018-11-20 23:07] baharw commented on #19264
Sorry, my fault. I did not realize that the two were connected.

On Tue, Nov 20, 2018 at 4:35 PM Kelly Gremban <notifications@github.com>
wrote:

[2018-11-20 23:07] SnehaGunda commented on #19202
@nanomo I confirmed this with our dev team, for the MongoDB Node.js 2.2 driver the connectivity works with "==" character. For 3.0 version and higher, the connection string should have the ASCII character %3D%3D, it's expected to fail if you use the regular character. So what's in the portal is correct.  Hope this clarifies.

[2018-11-20 23:08] kgremban commented on #19208
@baharw I can't reproduce the experience that you're describing. After you remove a module from the deployment, what commands are you using to verify that the modules are still on your device? iotedge list, docker ps, docker ps -a, or docker images?

[2018-11-20 23:09] sergaz-msft commented on #19264
Duplicate of #19208

[2018-11-20 23:09] #19264 closed

[2018-11-20 23:10] baharw commented on #19208
sudo docker images -a

[2018-11-20 23:10] rfernand2 opened #19274 "Tutorial costs the user $950/month!"
A user following the steps of this tutorial, but stopping after the "Get Job Output" step (not doing the cleanup steps) will be surprised to see that they are being charged $950/month for the privilege of having a dedicated but idle NC6 cluster (as I was).  For this reason, I strong suggest that you instead change this "hello Azure Batch API" tutorial to NOT use a dedicated cluster, but use the Ba

[2018-11-20 23:12] binoyjt commented on #19199
@sumeetmittal Thanks Sumeet for that Clarification.
@TravisCragg-MSFT Hi Travis, I had another question related to the same. I did not see any blockage is adding the SE in the gateway subnet. So if we add the SE to the Gateway Subnet and use a VPN connection (ER or S2S), I guess the traffic from On premises resources will never be able to use the SE in the Gateway Subnet. So I wanted to know if th

[2018-11-20 23:15] kgremban commented on #19208
Oh, sorry. I've been misinterpreting your question. Yes you're right. I'll refer back to @sergaz-msft's original response.

[2018-11-20 23:20] YutongTie-MSFT commented on #19268
@jpetitte Thanks for your feedback. I will investigate it and get back to you soon.

[2018-11-20 23:41] #14777 closed

[2018-11-20 23:41] #15088 closed

[2018-11-20 23:41] #18675 closed

[2018-11-20 23:41] #18852 closed

[2018-11-20 23:42] mattallenuk commented on #16500
@mike-ubezzi-msft there appears to be some confusion here.

The original issue raised is that the documentation is out of date with the latest gremlin javascript driver, this is still the case.

You are asking us to vote on CosmoDB byte code and you are saying that until this is implemented in CosmoDB then you cannot update the documentation to use the latest Gremlin javascript driver, is that cor

[2018-11-20 23:44] sergaz-msft commented on #18575
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-20 23:44] #18575 closed

[2018-11-20 23:49] YutongTie-MSFT commented on #17249
@jeary49252000 @carlosfbteixeira Does above solve your problem? If not, we'd like to work with you further on this issue. Can you please email us at azcommunity@microsoft.com? Please provide us with your subscription ID and the URL for this thread.

[2018-11-20 23:49] YutongTie-MSFT commented on #19099
@JinYam Thanks Jin.

[2018-11-20 23:54] sergaz-msft commented on #17445
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-20 23:54] #17445 closed

[2018-11-20 23:59] MicahMcKittrick-MSFT commented on #19272
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-21 00:02] sergaz-msft commented on #18501
We need to collect some more info of your environment and for that we need to do it through assisted support. Can you please file a support request @ https://aka.ms/azsupt and reference this issue in the description? If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Doc/Issue as well as your subscription ID and we can help get the support

[2018-11-21 00:03] sergaz-msft commented on #18501
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-21 00:03] #18501 closed

[2018-11-21 00:12] YutongTie-MSFT commented on #19168
@ArvidBaa We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-21 00:12] #19168 closed

[2018-11-21 00:17] MarileeTurscak-MSFT commented on #19263
I believe this is referring to the "Expose an API" section. @CelesteDG can you confirm?

[2018-11-21 00:17] #19110 closed

[2018-11-21 00:23] bedlam-au opened #19277 "Recursive link in Next Steps"
The URL to the "downloadable white paper" links back to this document.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 672e4cc0-5c23-cb7f-90ea-e983c08a69c4
* Version Independent ID: 5d2c3199-0331-e7eb-5f31-cf2e9774529c
* Content: [Set up disaster recovery for multi-tier SAP NetWeaver app deployment with Azure Site Recov

[2018-11-21 00:29] Adam-Smith-MSFT commented on #19269
@eransha , did you assign the RBAC role to the security principal in your Azure AD? Also this might possibly not work on the Corp AD since we most likely have restrictions, my advice is to create a test AD from Azure portal, then apply the same concept in this documentation. I'd recommend reaching out to internal DLs for internal AAD team.

[2018-11-21 00:31] woodwardmatt commented on #19229
Thanks for the quick response @Adam-Smith-MSFT :)

I believe it's this package:

[code]

I install using the following code from the article:

[code]
It definitely seems odd. Is there anything else I can supply / test to help identify the cause?

[2018-11-21 00:35] sergaz-msft commented on #16960
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-21 00:35] #16960 closed

[2018-11-21 00:37] sergaz-msft commented on #18468
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-21 00:37] #18468 closed

[2018-11-21 00:47] woodwardmatt commented on #19229
Yep just confirmed:

[code]

[2018-11-21 00:49] YutongTie-MSFT commented on #19270
@tulasim88 Hi, can you please take a look of this issue? Thanks a lot!

[2018-11-21 01:00] drewingram commented on #19263
@MarileeTurscak
I think it's actually referring to the previous document (the one above this one on the left). The instructions seem to line up and it looks like the text in the link is identical to the title of the previous document.

[2018-11-21 01:19] sergaz-msft commented on #17696
Can you try your configuration on a different network? Let me also suggest that you file a new issue here: https://github.com/Azure/iotedge/issues

Thanks in advance for your patience!

[2018-11-21 01:19] MikeDodaro commented on #19076
@brlewi  Ok, I'm paying attention now.  Fixed in PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/58481 .  It should publish tomorrow.  Thanks for the catch!

[2018-11-21 01:20] nzaetta commented on #18583
ehhh, why was it closed? Is this role supposed to flow through to Windows instances or not?

[2018-11-21 01:30] sergaz-msft commented on #19116
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-21 01:33] sergaz-msft commented on #18195
Bringing @xinshiMSFT under the discussion to share if there are any known issues\bugs related with this one ? Thanks.

[2018-11-21 01:34] sajayantony commented on #18722
Yes multi-tagging is a core feature of tasks
[code]

[2018-11-21 01:38] PramodValavala-MSFT commented on #18949
@IdiotLeon Just following up... I realize that is a lot of information to take in but just wanted to check if you got a chance to look over it and it it helps you out.

[2018-11-21 01:40] dcbrown16 commented on #19228
Sorry, I mean the Log Analytics agents that this article instructs you to install.
"Install monitoring agents on the on-premises servers and the Azure VMs (for private peering)."
This implies that the agent is only needed on Azure VMs to monitor Private Peering, which would make sense (the Microsoft peering should just be hitting up MS endpoints on the Azure side).

However, both the doc here and

[2018-11-21 01:54] sergaz-msft commented on #18195
@baharw , @saifuddin123 , @danielcrisp see [the following MSDN Thread](https://social.msdn.microsoft.com/Forums/en-US/2d54b3c5-eda3-4201-9d55-2b1a96a6dbfe/problem-sending-messages-to-a-transparent-gateway?forum=iotedge) and take a look at stevebus answer since it may be somehow related with this issue.

- the name that you used for the 'hostname' in the config.yaml file  a) cannot be localhost, b)

[2018-11-21 02:01] rolyon commented on #18510
Hi @dcnoren
Here is what I learned from the team. The policy applies to Azure PowerShell, which calls the Azure Resource Manager API. It does not apply to Azure AD PowerShell, which calls Microsoft Graph.
I made an update to the article.

[2018-11-21 02:03] sergaz-msft commented on #18549
As we provided you an answer\workaround to your issue we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please let @sudhirap know about your scenarios if possible :)!

[2018-11-21 02:03] #18549 closed

[2018-11-21 02:05] PatAltimore commented on #19109
#in-process

[2018-11-21 02:08] sergaz-msft commented on #17737
@smoms let us know if you have further questions or this issue can now be closed? Thanks.

[2018-11-21 02:22] faister opened #19280 "Logging issue when using custom policy for cipher suites and policy order"
According to https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-faq#can-i-configure-cipher-suites-and-policy-order, when defining a custom policy, at least one of the following cipher suites must be enabled. However we have tested that the list of cipher suites must be enabled in order for logging/diagnostics to work.

---
#### Document Details

⚠ *Do not edit this sect

[2018-11-21 02:32] nmikuni opened #19281 "non-rebootful maintenance operations seems to be applied update domain by update domain, not fault domain by fault domain"
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/maintenance-and-updates#memory-preserving-maintenance
says non-rebootful maintenance operations are applied [fault domain by fault domain] but I think it is [update domain by update domain].

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58389db7-2eba-59fe

[2018-11-21 02:44] ManojReddy-MSFT commented on #19234
@ksix Thanks for reporting this. I am able to activate authenticator app using guest accounts in my tenant.
Can you please open a new MSDN forum post and community will help address your query. Please refer to below link to MSDN forum to ask new question -
https://social.msdn.microsoft.com/Forums/en-US/newthread?category=undefined&forum=windowsazureactiveauthentication
Do mention your MSDN thread

[2018-11-21 02:55] ksix commented on #19234
@ManojReddy-MSFT do you have the security info registration preview enabled in your tenant?

[2018-11-21 02:57] ksix commented on #19234
https://social.msdn.microsoft.com/Forums/en-US/be1c3360-96e9-4b5c-87e1-3e75b4ed9f58/b2b-guest-users-authenticator-app-registration-timeout-problem?forum=windowsazureactiveauthentication

[2018-11-21 03:10] sergaz-msft commented on #19068
Hi @cocowalla on this tutorial the device that you create is issued by the intermediate certificate "CN=Azure IoT CA TestOnly Intermediate 1 CA" . And you uploaded to IoTHub only the RootCA. So to answer your question, you only need to have on your IoTHub the RootCA.

Though, on your device you need to have the entire chain up to the RootCA. On this case the device.pfx includes the "Azure IoT CA T

[2018-11-21 03:12] ksix commented on #19234
Also, the account I'm testing with also already has authenticator app registration in its home tenancy. It's home tenancy doesn't have the security info registration preview enabled. So there may be some complexity. Additionally there is no real reference in the "Azure AD authentication methods" documentation on how guest accounts are treated. Do guest accounts get an additional registration of se

[2018-11-21 03:17] sergaz-msft commented on #19252
Great question @nelsonmorais , thanks for asking!  I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-21 03:19] sergaz-msft commented on #17054
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-21 03:19] #17054 closed

[2018-11-21 03:31] ManojReddy-MSFT commented on #18964
@gervaisfokam Thanks for the confirmation. I will close the issue.

[2018-11-21 03:31] #18964 closed

[2018-11-21 03:34] sergaz-msft commented on #19092
@baharw this should be device agnostic. You have other issues opened where you are trying to use Raspberry Pi with a Python Module right? Please let us know if this one can be closed.

Thanks.

[2018-11-21 03:36] sergaz-msft commented on #19171
@onionhammer please open a new issue under the respective document referencing that error.

Let us know if this issue can now be closed?

Thank you.

[2018-11-21 03:38] sergaz-msft commented on #19152
Hello,
Can you please confirm that this is [the same issue on MSDN](https://social.msdn.microsoft.com/Forums/en-US/33505330-70fc-460c-b347-f1200a4be501/could-not-find-member-certificate-on-object-of-type-templateresource?forum=azureiothub)?

Thank you.

[2018-11-21 03:38] yilo2417 commented on #18716
首先，很感谢你们及时的跟进和反馈。
我查看了这个链接下的内容（使用英语阅读），仍然未能解决我提出的困惑。
https://docs.microsoft.com/zh-cn/azure/iot-edge/quickstart-linux#deploy-a-module
我自己操作时，截了一下图，供参考。
https://github.com/yilo2417/hello-world/blob/master/%E8%AE%BE%E7%BD%AE%E6%A8%A1%E5%9D%97set%20modules.png
前6步都没有截图，比较难找到，查看英文版的加粗关键字，才对应上了。

[2018-11-21 03:40] sergaz-msft commented on #19088
Also note that Ubuntu 18.05 LTS is [not yet supported.](https://docs.microsoft.com/en-us/azure/iot-edge/support) Please file a new issue here so that product group can evaluate your scenario and OS.

Thanks

[2018-11-21 03:41] sergaz-msft commented on #19088
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-21 03:41] #19088 closed

[2018-11-21 03:47] dcbrown16 commented on #18784
Thanks Micah, I'll close for now and follow up again if my customer needs more info.

[2018-11-21 03:47] #18784 closed

[2018-11-21 03:51] v-maroge commented on #19207
@bwren So does that mean "Customers who have already installed the solution can continue to use it until further notice." is no longer accurate?

[2018-11-21 03:58] AceLiu21 commented on #19152
Hello
This is same issue.
Thx&B.R!

From: António Sérgio Azevedo [mailto:notifications@github.com]
Sent: Wednesday, November 21, 2018 11:38
To: MicrosoftDocs/azure-docs
Cc: Ace Liu; Author
Subject: Re: [MicrosoftDocs/azure-docs] 'Could not find member 'certificate' on object of type 'TemplateResource' when deploy Dps using template (#19152)

[External E-mail]

Hello,
Can you please confirm that th

[2018-11-21 04:03] onionhammer commented on #19171
I would say it's an open issue to either support ARM deployments, as it is not visible from resources.azure.com or from the 'Automation Scripts' area on the IoT hub

[2018-11-21 04:17] brendanmain opened #19283 "Windows 10 Pro dynamic group"
device.deviceOSType -eq "Windows 10 Pro"

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f7a4070-1be8-5f1f-0092-68fb6b9e2305
* Version Independent ID: cd34312f-b507-affe-555e-1e0c63e7d494
* Content: [Dynamic automatic group membership rules reference in Azure Active Directory](https://docs.microsoft.com/en-au/azure/act

[2018-11-21 04:34] ishepherd opened #19284 "Please specify DateTime conversion fully"
I suspect that the second fraction always has 7 digits and is always followed by a Z. Please confirm?

We have had an issue recently from inexact string/date comparison in cosmos queries, so I'd like this to be firmly specified

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c256dbf4-122d-1569-c4c3-0e401766c712
* Versio

[2018-11-21 04:47] ravindrakk opened #19285 "What needs to be done if any of guest account in State1 have some changes in their tenant?"
should we have to remove the guest and resent an invitation to the updated tenant? please advise
thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6eb6697-4ace-adb6-c922-df8a9a485283
* Version Independent ID: fd4ce34d-d55e-92af-d71a-625210ad3a63
* Content: [Properties of an Azure Active Directory B2B collaboration

[2018-11-21 05:01] MicahMcKittrick-MSFT commented on #19253
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-21 05:02] MicahMcKittrick-MSFT commented on #19257
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-21 05:02] MicahMcKittrick-MSFT commented on #19262
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-21 05:05] AshokPeddakotla-MSFT commented on #19267
@mganeshphani Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-21 05:07] YutongTie-MSFT commented on #19076
@gavdgavd We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-21 05:07] #19076 closed

[2018-11-21 05:11] ebertrams commented on #19092
@baharw, this sample shows you how to use run a custom python module on raspberry pi: https://github.com/Azure-Samples/Custom-vision-service-iot-edge-raspberry-pi.

[2018-11-21 05:15] Adam-Smith-MSFT commented on #19277
@bedlam-au Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-21 05:16] AceLiu21 commented on #19152
Hello
This is same issue.
Thx&B.R!

[2018-11-21 05:16] AceLiu21 commented on #19152
@sergaz-msft

Hello
This is same issue.
Thx&B.R!

[2018-11-21 05:22] dipjyotighosh opened #19287 "Deploy Azure File Sync"
Is there any equivalent on Linux platform?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61bb35a5-e2f3-1ce8-1d6e-a926374de6c8
* Version Independent ID: e4b3065a-5351-26ef-cdbb-ef2eaea3f301
* Content: [Deploy Azure File Sync](https://docs.microsoft.com/en-us/azure/storage/files/storage-sync-files-deployment-guide?tabs=

[2018-11-21 05:29] Adam-Smith-MSFT commented on #19287
@dipjyotighosh Thank you for the valuable feedback,we are investigating the issue.

[2018-11-21 05:31] neeleshray commented on #19283
@brendanmain If you are looking to use "Windows10Pro" to the Device attribute "deviceOSType" - Yes, it would work if you have the Windows 10 Pro Devices.

[2018-11-21 05:49] Adam-Smith-MSFT commented on #19229
@woodwardmatt Is it possible to try it with[Azcopy v10?](https://github.com/Azure/azure-storage-azcopy) , The newer version has better performance as well as additional options/flags. Let me know if this works for you.

[2018-11-21 06:04] abovethelimit commented on #14124
Edit: Never mind, The command has to be run to propagate the ADE extension and update the secrets on the VM. Maybe state that instead of saying to run the command again. I, like others, mistook that the disk encryption process needed to be started all over again.

[2018-11-21 06:17] kaki104 opened #19290 "Why does Location appear in bold?"
This API call returns a JSON response that includes the operation ID in the header field Location.
In the above sentence, I wonder why Location is shown in bold.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22bde23a-229e-d781-cb2c-a49ee7d01b18
* Version Independent ID: 9085131f-ac6a-6069-5baf-671ed9d6d3f1
* Content:

[2018-11-21 06:33] SadiqhAhmed-MSFT commented on #19213
@vadim-berman, Appreciate your patience. With regards to your query I would suggest you to create a support request using this link - https://support.microsoft.com/en-us/getsupport?wf=0&tenant=classiccommercial&oaspworkflow=start_1.0.0.0&locale=en-us&supportregion=en-us&pesid=16230&forceorigin=esmc&ccsid=636783060674844240 to connect with our Marketplace On-boarding team for a better and faster re

[2018-11-21 06:37] PramodValavala-MSFT commented on #19122
@7100SW I hope my previous comment answers your query. To be thorough, here is a complete sample for V2

[code]

We have assigned the issue to the content author to review and update the samples in this doc

[2018-11-21 06:40] neeleshray commented on #19285
You can invite a user to multiple Tenants. In that case, the Guest User would get the Directory selection as well to choose from.
![directory-switcher](https://user-images.githubusercontent.com/31060822/48823302-53ac4700-ed86-11e8-8e0d-aeefe4f6d875.jpg)

[2018-11-21 06:48] vadim-berman commented on #19213
So if I don't have a paid support plan, you suggest me to pay $300 in order to let Microsoft know that they posted a non-working email address?

What is there to work on, sorry? It's their email address, they just need to delete junk or correct the link.

[2018-11-21 07:01] nkolchakov commented on #18036
I'm pretty sure I did @mamccrea

[2018-11-21 07:05] pramodkn commented on #19225
i am calling https://eastasia.api.cognitive.microsoft.com/sts/v1.0/issueToken api to get access token. speech service i have created in east asia region. check the screen shots from post man that.  for Ocp-Apim-Subscription-Key i am passing speech service key.
<img width="752" alt="payload" src="https://user-images.githubusercontent.com/15156033/48824154-6f651c80-ed89-11e8-95ad-e474effde645.PNG">

[2018-11-21 07:11] SadiqhAhmed-MSFT commented on #19213
@vadim-berman, can you share the non-working email address with us?

[2018-11-21 07:15] Prafulkapse commented on #15894
Just went through the issue and want to know if this one is resolved.

[2018-11-21 07:17] vadim-berman commented on #19213
Sure. AzureMarketplaceOnboard@microsoft.com

[2018-11-21 07:35] olavt commented on #19141
Then I think the page should clearly state that these prices are preview prices.

[2018-11-21 08:04] kazshi opened #19292 "the host won't be changed after deallocating and starting a VM?"
'Deallocate – is where a VM is stopped and "removed from the host."'
I would like to make sure the host won't be changed after deallocating and starting a VM, correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be8729fb-9c09-1872-be3f-8a0dc1a93d38
* Version Independent ID: 51bba8e0-91a8-38c0-5ec2-9309687985b9
* Con

[2018-11-21 08:09] guygregory opened #19293 "SQL Reserved Capacity"
Can SQL Reserved Capacity be applied to the SQL Hyperscale tier?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80e91c6d-6b32-5f29-a604-9a7857ed920c
* Version Independent ID: bd7b284c-9cc5-c656-875b-d9b72568cb2e
* Content: [Azure SQL Database Hyperscale Overview](https://docs.microsoft.com/en-us/azure/sql-database/sql-

[2018-11-21 08:10] kaki104 commented on #19290
I can see that the Json result is in the header "Location".

[2018-11-21 08:16] Kayal1406 commented on #7643
What was the problem? I'm getting the same issue

[2018-11-21 08:38] #19234 closed

[2018-11-21 08:48] Sogup commented on #19230
Request you to assign it to @GeethalakshmiG  as she owns the restore flow.

[2018-11-21 08:48] dcbrown16 opened #19294 "Authentication"
Does this method require deployment credentials, or do you just need appropriate RBAC permissions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1b66f78-8d9b-b527-7678-fa1975044c39
* Version Independent ID: c9c5d61a-a1c0-07e5-1bf9-315cc99bd722
* Content: [Deploy your app to Azure App Service with a ZIP or WAR file](h

[2018-11-21 08:49] Sogup commented on #19230
@Adam-Smith-MSFT  Please reassign the issue to @GeethalakshmiG . Thanks.

[2018-11-21 08:54] cocowalla commented on #19068
Ah, good, so any leaf cert that chains to the uploaded root is trusted, and there is no need to upload the intermediate certs to Azure - exactly what I need!

[2018-11-21 08:54] #19068 closed

[2018-11-21 08:55] ManojReddy-MSFT commented on #18870
@spetrukhin Can you give me the exact policy details(public access level, permissions set in the policy, storage account type ) of your time based retention policy for the "insights-logs-auditlogs" container ? I will try to reproduce the exact scenario and test this once.

Is it working when you don't have a retention policy for the storage account in your environment ?

[2018-11-21 08:56] clemensv opened #19295 "Service Bus for RabbitMQ developers"
There should be a section in the Service Bus documentation that helps developers familiar with RabbitMQ concepts to discover the matching features in Service Bus easily, e.g. it should explain how Exchanges/Bindings/Queues map to Topic/Rule/Subscription and also explain how to form topologies with multiple Exchanges pointing to one Queue by ways of leveraging the Subscription.ForwardTo feature.

[2018-11-21 08:58] nmikuni commented on #19281
sorry it was dup

[2018-11-21 09:05] jamiepetey commented on #18753
I added the below to my runbook code and it resolved the errors.

$ServicePrincipalConnection = Get-AutomationConnection -Name 'AzureRunAsConnection'

This was my reference:
https://docs.microsoft.com/en-us/azure/automation/troubleshoot/runbooks

[2018-11-21 09:09] dcbrown16 commented on #17524
Any update here?

[2018-11-21 09:39] lucasmike commented on #16500
Hi @Mike-Ubezzi-MSFT I agree with @mattallenuk - it would be great to upgrade documentation and examples to the latest official javascript driver

[2018-11-21 09:50] MHHenriksen commented on #17205
Thanks for this explanation! Could you also advise which aggregation type that should be selected? I'm guessing Max, since Sum and Count give extremely high values when increasing the time range.

[2018-11-21 09:53] dcbrown16 opened #19297 "Permissions required"
I see that Notification Hub operations are logged in the Activity Log.
Is the creation and enabling of Notifications entirely controlled through RBAC? I don't see any applicable built-in roles, so is it just up to us to pick and choose from the Notification Hub operations?
https://docs.microsoft.com/en-us/azure/role-based-access-control/resource-provider-operations#microsoftnotificationhubs
If the

[2018-11-21 10:06] jakaruna-MSFT commented on #19281
@nmikuni Updates requiring reboots are carried out by update domain to update domain.
All non-rebootful updates are done by fault domain to fault domain. During non-rebootful operations, customers will hardly notice a change.
CC: @MicahMcKittrick-MSFT

[2018-11-21 10:18] mcconnellt150 commented on #19064
What else would you use though? I can't see that the new alerts system has been added to that only classic

[2018-11-21 10:25] abhinav-jain09 opened #19298 "Function deploy creates the storage account"
HI Team,
when I deploy the function azure-functions:deploy it creates the storage account  and as per my service plan it also create the storage service plan . Where are the setting to control it . it really frustrating that it creates the hell lot of stuff and no setting to control it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2018-11-21 10:30] jakaruna-MSFT commented on #18962
@fastrnu80 When we create a machine from the image, we can select the storage sku we need. Based on the selected storage sku, customers will be charged.
we can verify this scenario after creating a VM.
Lets say we are creating a VM from the image and selecting "Premiun SSD" as the sku under storage.
Once the VM is created, we can go to the disks and check the storage type.
It will show "Premium SS

[2018-11-21 10:32] omniayehia8 opened #19299 "jobTitle , department and manager is not supported through custom claims via directory extensions"
i couldn't retrieve jobtitle and department attributes by using directory extension as explained above.
the code is not reflecting on the token
"optionalClaims": {
    "idToken": [
      {
        "name": "extension_38exy3a9-bad5-xxxx-xxx-xxxxxxx_jobTitle",
        "source": "user",
        "essential": true,
        "additionalProperties": []
      }
    ],
    "accessToken": [],
    "saml2Token"

[2018-11-21 10:45] csalperwyck commented on #18901
By the way the AKS version (1.11.2) is not anymore available to be deployed.

[2018-11-21 10:51] Idlefisher opened #19300 "Preview is not working for me (AADC sync service version 10.2.65.0)"
When I choose Preview in  the Connector space, it doesn't pull/load the updates on the given object from the  connected on-prem AD, no matter full sync or delta sync is selected. As a result, nothing happens even if "commit preview" is selected, all attributes are flagged as "unchanged" in the report. The on-prem directory has truly changed since last normal sync cycle. If I launch another manual

[2018-11-21 10:52] OLEG-V-IVANOV opened #19301 "No Public IP Address"
After execution of all the scripts, all resources are created successfully, but no public IP is assigned to "myAGPublicIPAddress".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51fe6df9-e646-2add-678b-a4383f09715f
* Version Independent ID: 77c5735e-9942-e983-d603-5e084993b192
* Content: [Quickstart - Direct web traffi

[2018-11-21 10:54] MikeWedderburn-Clarke commented on #15227
+1 Managed disks are charge by allocated space not consumed so the section on 'TRIM' is misleading in an article specifically about 'managed disks'. Please remove it.

[2018-11-21 11:17] carlosfbteixeira commented on #17249
@YutongTie-MSFT The suggestion fixed my issue. And now using pip install azure-cli already brings the ml module which means that we no longer need to use the az extension command to add it manually

[2018-11-21 11:23] lakshmisivareddy opened #19302 "How to connect existing iot-hub devices to Iot central"
Hi, my question is
Is there a way to connect existing iot-hub devices to iot central

[2018-11-21 11:37] radhagpt commented on #19242
Can anyone confirm on the same if there are powershell commands available to generate and fetch the billing API Key for EA Portal

[2018-11-21 11:40] AdaTheDev opened #19304 "accessTokenAcceptedVersion default behaviour is not correct"
The documentation states that the default value for 'accessTokenAcceptedVersion' is null and that this will be treated as 2. This doesn't appear to be the case - only by explicitly setting this value to 2, was a WebAPI I was exposing able to accept a token.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f7ced07-0b71-7

[2018-11-21 11:47] KetanChawda-MSFT commented on #19043
@vetrivelmp

In our setup we are using normal Azure AD tenant and have created a group within the same. The group has both members from normal Azure AD instance and Azure AD b2C instance. If we logon using the user from Azure AD tenant. it works as per the group based product filtering. We tried to check the product filtering by creating a few products within APIM and when we signin to the develop

[2018-11-21 11:59] wuffers commented on #18469
Thanks for the tip on the VMSS auto OS upgrade. I will take a look as that is a completely different paradigm, but I do see monthly cadences of image updates. We do customize the OS a bit after deployment, which is currently done manually. DSC might be the way to go on that. Is there any documentation on how to actually test the OS upgrade? I suppose I can deploy a scale set with an older image ve

[2018-11-21 12:08] ManojReddy-MSFT commented on #19299
@omniayehia8 Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-11-21 12:16] KetanChawda-MSFT commented on #19298
@abhinav-jain09  Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-11-21 12:17] virtualamjath commented on #19116
True It is not at all working .....
is there any alternatives to show real time data in web-app ..
As i have Quick Demo to Client .

[2018-11-21 12:19] virtualamjath commented on #19116
I am checking in logs ...  It is able to connect to IoT and could see PartitionID .. but could not read data from IoT hub ...
It seems to  be the issue.

[2018-11-21 12:27] pawelros opened #19305 "Load Certificate on Linux Web App"
Hey Team. Is this feature available for 'Web Apps for Containers' deployed on Linux App Service Plan?

1. I imported certificate to my web app
2. Added WEBSITE_LOAD_CERTIFICATES=&lt;thumbprint&gt; (also tried with *)
3. The following code deployed to Azure is not able to retrieve my certificate (works on my local Windows machine):

[code]

Please advise.

---
#### Document Details

⚠ *Do not edit

[2018-11-21 12:28] TomaszOledzki opened #19306 "Where's PowerShell?"
It should be mentioned how to create Custom Error Pages using powershell (at lease which commands create listener na global level custom error pages).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8876a502-81db-4ef1-9e22-ebff4a63cabe
* Version Independent ID: c9676383-40c2-44fc-2d26-ef571466712f
* Content: [Create Azu

[2018-11-21 12:39] virtualamjath commented on #19004
@sergaz-msft  @srinath9394  It seems problem in reading Data from IoT Hub .

[2018-11-21 12:55] Eduard-TC commented on #18551
Hi,
Thank you for all. Recreate a new SP solve the problem for now.
Regards,
Eduard.

[2018-11-21 13:02] rama84 commented on #8121
Hi, have the same issue.

- oauth2AllowImplicitFlow: true
- spring-boot-starter-parent: 2.0.3.RELEASE
- azure-active-directory-spring-boot-starter: 2.0.4

[code]

[2018-11-21 13:16] Mahesh-Aravapalli opened #19309 "The entire page shows DoNotDelete in the Syntax"
The entire page shows DoNotDelete in the Syntax, where as it should be CanNotDelete, including the examples it is mentioned as DoNotDelete. please correct this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0290c16b-f205-94bb-23c3-4981ec8b0ac3
* Version Independent ID: 3ad049c0-a292-c616-06e6-8d7b4b3dd756
* Content: [

[2018-11-21 13:29] Placid7 commented on #19258
So I found those yesterday and was able to use the instruction here...
https://azure.microsoft.com/en-us/updates/azurerm-automation-6-0-preview/
to download and run the modules from my local machine.
I tried to update the AzureRM.Automation module in the management portal and it did not pull down the new cmdlets. What am I missing? Do I have to manually upload these into the portal?

[2018-11-21 13:45] VladDerptastic opened #19310 "ExecutionContext moved or removed with newer SDK version"
Under **Binding types** &gt; the **UseCore** section speaks of ExecutionContext which is bound to a dead github link.
Manually navigating the SDK repository gives off the impression it has been restructured (compared to the link) thus I'm guessing this property has been moved (or perhaps removed)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2018-11-21 13:58] dave-ch opened #19311 "Is this still up to date?"
I don't see recommendations regarding north south segmentation with ASG's or anything about Azure Firewall. Are the recommendations above still considered best practice?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1856224-8709-d6db-c533-50e5e05f2091
* Version Independent ID: f4f18c8f-c849-6da6-e0ab-a52c6eeec07a
* C

[2018-11-21 14:09] diberry commented on #19290
Hi @kaki104, thank you for reporting that. It appears the document is mis-representing the JSON. #in-progress

[2018-11-21 14:13] EM1L commented on #18902
What will be really useful is to mention:
- the syntax to make the `gitrepo` volume **readonly**
- is there a way to specify a specific branch in the `gitrepo`?

[2018-11-21 14:24] julesman101 opened #19312 "Support for Sharepoint 2016?"
This doc page says that sharepoint 2013 is the newest version supported.  The MABS doc page here (https://docs.microsoft.com/en-us/azure/backup/backup-mabs-protection-matrix) refers to support for Sharepoint 2016. Which is correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca786864-02f5-aa86-aa9f-4f0f87d5014a
* Ve

[2018-11-21 14:31] baharw commented on #19088
Thank you for your help!

On Tue, Nov 20, 2018 at 10:41 PM António Sérgio Azevedo <
notifications@github.com> wrote:

[2018-11-21 14:48] dpravo opened #19313 "Is smart lockout available for Azure US Gov ?"
I cannot see the 'Authentication Methods' icon in the AAD portal.

I could not find any mention of it not being available in Gov in the variations section of this document:

https://docs.microsoft.com/en-us/azure/azure-government/documentation-government-services-securityandidentity#azure-active-directory

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2018-11-21 14:48] lestaat opened #19314 "Purge-protection flag"
Some comments to documentation, by default and if the parameter is not specified the "enablePurgeProtection" is show as "null" what's it means? off / on?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c0af272-74a9-6fb9-6079-8d6d0b800a6a
* Version Independent ID: 79354b48-c4f0-6361-cf6b-8afc9d70c97b
* Content: [Azure K

[2018-11-21 15:00] PramodValavala-MSFT commented on #18949
@IdiotLeon Since there isn't any change required in the doc, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-21 15:00] #18949 closed

[2018-11-21 15:10] pcl-houghton commented on #10108
The monitoring overview documentation defines a signal like this: Signal - Signals are emitted by the target resource and can be of several types. Metric, Activity log, Application Insights, and Log.

The various metric signals are listed as things like: Percentage CPU; Server Response Time.

When I look at configuring a new alert to replace a classic app insights alert, I can only see activity lo

[2018-11-21 15:13] mguirao opened #19315 "typo"
"The implicit grant presents more risks than other grants, and the areas you need to pay attention to are well documented. For example, Misuse of Access Token to Impersonate Resource Owner in Implicit Flow and OAuth 2.0 Threat Model and Security Considerations)."

Seems that the closing bracket has no matching opening bracket.
Same issue in the previous section with no closing bracket.

---
#### D

[2018-11-21 15:14] ruprizal commented on #16061
I found the issue. The metricName should be one of the predefined supported metric names from MS.
In the example above, "metricName": "MyCustomMetric", is invalid. Example: if you are tracking run time errors, then example metricName should be like this: "metricName":"Errors"

Please use one of the supported metricNames from the link below:
https://docs.microsoft.com/en-us/azure/monitoring-and-dia

[2018-11-21 15:16] spetrukhin commented on #18870
@ManojReddy-MSFT For the "insights-logs-auditlogs" container we use following storage account:
Account kind: StorageV2 (general purpose v2)
Replication: Geo-redundant storage (GRS)
Performance/Access tier: Standard/Hot

"insights-logs-auditlogs" container:
Public access level: Private
Stored access policies: None
Immutable blob storage: Policy Type - Time-based retention; Retention period for 3650

[2018-11-21 15:18] ruprizal commented on #16061
Here is specific link to supported stream analytics job metric names:
https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/monitoring-supported-metrics#microsoftstreamanalyticsstreamingjobs

[2018-11-21 15:29] raptor75 opened #19316 "No documentation on adding multiple workspaces to Linux Agent"
For the Windows agent it is easy to add multiple workspaces to the OMS control panel.

However any attempt to do this on the Linux agent complains about the workspace being already onboarded, even if it obviously different.

Any documentation about this please?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e1bc14e-2b

[2018-11-21 15:38] tamram commented on #19085
@simonua - thanks for bringing this to our attention. We will have PowerShell support soon. I'll update this issue once it's available and the documentation is updated.

[2018-11-21 15:57] Vigneshbosch opened #19317 "Where to find the Username and Password to add a Linked Service File System"
Hi Everyone

My Scenario : **I am trying to copy files from my Local File system on my Laptop ->  Azure Blob Storage using Azure Data Factory.**

I Installed the Microsoft Integration Run time configuration manager on my laptop and successfully established a connection with Azure Data factory.

Now i am trying to create a Linked Service to access the local filesystem of my Laptop using the connect

[2018-11-21 16:00] Grace-MacJones-MSFT commented on #19294
Hi @dcbrown16, thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-21 16:02] Grace-MacJones-MSFT commented on #19305
Hi @Rosiv, thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-21 16:06] Grace-MacJones-MSFT commented on #19310
Hi @VladDerptastic, thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-21 16:08] Grace-MacJones-MSFT commented on #19297
Hi @dcbrown16, thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-21 16:10] IotDevelope commented on #19079
Hi, thantks for the response!
I have to considerer to change protocol (MQTT on WebSocket) but i don't have understand how to set the address and port of proxy to allow comunication. Can you post an example for do this? Thanks a lot.

[2018-11-21 16:14] AlexandrPavlovski opened #19318 "Create a deployment user without using Cloud Shell"
When I'm trying to use "free" Cloud Shell I get this:
![image](https://user-images.githubusercontent.com/36845873/48853078-cc7bc500-edbf-11e8-865b-bc0db59c9f70.png)
I don't want to create a storage and pay the small cost.

Is there a way to create a deployment user without using Cloud Shell?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2018-11-21 16:21] #8840 closed

[2018-11-21 16:22] sdgilley commented on #17763
Thanks for your feedback.  The article is now updated.

#please-close

[2018-11-21 16:23] RamPallisetti commented on #19218
Hello, is there a way to get the ARM template downloaded using powershell? i can't use "Save-AzureRmResourceGroupDeploymentTemplate" as my pipelines are created manually and not through deployment, cant either use "Export-AzureRmResourceGroup" since my resource group has lot other resources.. so basically i want to download the similar template i get from UI but through powershell..

[2018-11-21 16:24] pudelkoM opened #19319 "Enable more APIs over Websockets"
Currently the validators only expose the "pubsub" and "traces" APIs over websockets.
The APIs "web3", "eth" and "net" are only exposed via rpc, but are required for full dApps.

Would it be possible to re-configure parity by default?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce2275c9-8660-ef40-7846-69ab07035809
*

[2018-11-21 16:29] MicahMcKittrick-MSFT commented on #19260
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-21 16:29] CeciAc opened #19320 "Confusing messages"
@JGezels commented on [Tue Nov 20 2018](https://github.com/MicrosoftDocs/azure-docs.nl-nl/issues/112)

Hi

As stated by the documentation, it is no longer possible to create an MFA credential provider via the portal. However, under the option MFA option 2 : Consumption based model, you say: "Create an Azure Multi-Factor Authentication Provider within an Azure subscription." which …. you can't anym

[2018-11-21 16:31] MicahMcKittrick-MSFT commented on #19292
Thanks for the question! We are investigating and will update you shortly.

[2018-11-21 16:32] MicahMcKittrick-MSFT commented on #19295
@clemensv please provide us with the link to the documentation you are referring to

[2018-11-21 16:32] toutougabi commented on #11060
We deployed a custom version of the teapot external-dns and simply added it as a cluster service. So we have a resource group with all our DNS in and when we define a new ingress is goes to update the dns for us.

[2018-11-21 16:33] MicahMcKittrick-MSFT commented on #19302
@lakshmisivareddy please provide us with the link to the doc you are referring to so we can better assist.

[2018-11-21 16:34] Vegas588 commented on #10588
Any update on this? I have a scenario coming up where the ILB ASE environment has about a dozen different apps in it and would like documentation on how to go about using the WAF with it.

[2018-11-21 16:34] Eduard-TC opened #19321 "Is there any way to install php modules for App Service Linux?"
I'm trying to install some moduels (php7.0-mysql php7.0-mcrypt php7.0-mbstring php7.0-fpm php7.0-common php7.0-xml php7.0-gd openssl php7.0-mysql php7.0-bcmath) in a App Service linux. How can I do it?
Regards,
Eduard.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef971d21-e72b-7771-d34a-b6da42d602bb
* Version Indepen

[2018-11-21 16:35] MicahMcKittrick-MSFT commented on #19317
@Vigneshbosch Please provide us with the link to the document you are referring to so we can better assist.

[2018-11-21 16:41] MicahMcKittrick-MSFT commented on #18722
@sajayantony thanks!

@robertdj I will close for now. If you have additional questions just let us know :)

[2018-11-21 16:41] #18722 closed

[2018-11-21 16:42] MicahMcKittrick-MSFT commented on #19078
@johnxy84 sounds good. Thank you for the update.

[2018-11-21 16:45] gunnarcms opened #19322 "Change content URL when configuring the application rule"
The current GitHub.com test URL is not displaying correctly on Internet Explorer browser when under the firewall, which is the one that will be deployed with the VM SKU following the documentation steps, I would recommend changing the URL to other one supported by Internet Explorer, or changing the image of the VM used.  The documentation guides us to configure the application rule to test with Gi

[2018-11-21 16:46] lbergeron01 opened #19323 "Authentication not working when trying to setup new Source Control"
As other issues opened, the Authenticate button is not working. Error message "The authorization process could not be completed." is showing up. I've seen the Personal Access Token Permissions, but it's not clear how it needs to be configured. Even if I manually create a Personal Access Token, there is no place to enter it into the Source Control page.

---
#### Document Details

⚠ *Do not edit th

[2018-11-21 16:47] TalabH commented on #19136
Are there any updates?

[2018-11-21 16:54] MicahMcKittrick-MSFT commented on #19210
@KeiroKamioka0000 I will close this for now. If you have additional questions just let me know.

[2018-11-21 16:54] #19210 closed

[2018-11-21 16:57] MicahMcKittrick-MSFT commented on #19214
@maysamdabbagh I will close this for now. Please provide the link to the doc you are following if you believe there are issues that need to be addressed. Otherwise, if you are looking for general troubleshooting assistance I suggest reaching out to [MSDN](https://social.msdn.microsoft.com/Forums/en-US/home) or [Stack Overflow](https://stackoverflow.com/).

[2018-11-21 16:57] #19214 closed

[2018-11-21 17:01] MicahMcKittrick-MSFT commented on #19260
@clarkpeters thanks for the find! I have corrected the doc. Once the PR merges the changes will go live in a few hours.

[2018-11-21 17:01] #19260 closed

[2018-11-21 17:01] MicahMcKittrick-MSFT commented on #19261
@mercurjl any update on this?

[2018-11-21 17:06] #19292 closed

[2018-11-21 17:06] MicahMcKittrick-MSFT commented on #19292
@kazshi whenever you stop the VM from the portal it is considered deallocating the VM. This means we release the hold on the resources. So when you start the VM again it will be allocated to a new host that is different from the previous one. This does not mean you are losing any data or anything like that. Rather we allocate resources required to run your VM and start it back up.

So yes, dealloc

[2018-11-21 17:15] MicahMcKittrick-MSFT commented on #19271
@bobbytreed can you confirm if the doc is correct?

[2018-11-21 17:16] MicahMcKittrick-MSFT commented on #19272
@rajsqr can you take a look at this?

[2018-11-21 17:27] Darcy123 opened #19325 "IoTHub example code for adfruit Huzzah esp8266 is not working"
With this IoTHub arduino example code for adfruit Huzzah esp8266, I am not able to send the message to IoTHub. The board went to crash all the time. Even after I tried several different version of Azure IoTHub libraries

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6908b99a-b62b-0596-3dbe-c2fec0260b2b
* Version Indepe

[2018-11-21 17:30] Mike-Ubezzi-MSFT commented on #19293
@guygregory Thank you for your interest in Azure Cloud. We are investigating this and will update you shortly.

[2018-11-21 17:33] cdwchriburg opened #19326 "Clarify route selection when both Expressroute and VPNs use BGP"
This document doesn't clearly define if Azure gives any preference to routes from Expressroute if the same route is advertised via BGP over Expressroute and via BGP through a VPN Gateway.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38bd69ac-a1b5-a401-184d-37b55188a7c4
* Version Independent ID: ef976d45-36eb-8a32-4b2

[2018-11-21 17:37] mercurjl commented on #19261
@MicahMcKittrick-MSFT Yep I've made some headway. Sorry I don't have a specific link to documentation I was referring too, it was more of a lack thereof. I ended up following this blog post: https://blog.headforcloud.com/2018/07/29/static-hosting-headers/ and went down this path to get the headers working. Essentially using a Function App proxy to add the headers.

It does work if I point the Func

[2018-11-21 17:40] tamram commented on #19067
@TWolverson - Thanks so much for your feedback.

I've added the necessary information to the article on which you commented, and also provided a link to the full explanation in the REST API. This change should go live today.

Please let us know if there's anything further that we can do.

#please-close

[2018-11-21 17:40] Adam-Smith-MSFT commented on #19312
@julesman101 The 2016 version is supported. I will assign it to the author to update the documentation.

[2018-11-21 17:41] #19067 closed

[2018-11-21 17:44] CeciAc opened #19327 "Only TTS has Python example.STT no have，Use REST API"
@SingeCore commented on [Wed Nov 21 2018](https://github.com/MicrosoftDocs/azure-docs.zh-cn/issues/157)

In STT, I only saw TTS Python example on GitHub, no STT example, when I wrote REST API STT code with python, there were many problems URI did not respond. I asked engineers to give an example. Thank you!

[2018-11-21 17:46] CeciAc commented on #19327
Hi team,
I'm moving this here since the user is requesting more examples
best

[2018-11-21 17:48] beerkato opened #19329 "Azure documentation issue guidance"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-11-21 17:48] Mike-Ubezzi-MSFT commented on #19284
@ishepherd Thank you for the detailed feedback. I have assigned this to the content author to evaluate and update as appropriate.

[2018-11-21 17:50] YutongTie-MSFT commented on #19274
@MicahMcKittrick-MSFT We don't need to do anything else for this issue? Thanks.

[2018-11-21 17:51] MicahMcKittrick-MSFT commented on #19274
@YutongTie-MSFT. Nope. User reached out offline and is working with author directly.

[2018-11-21 17:55] tamram commented on #19033
@RavSalgado - Thanks so much for your feedback. I've made this fix, and expect it to go live later today.

[2018-11-21 17:55] YutongTie-MSFT commented on #19136
@ericlicoding Hi Eric, can you please check this issue? Thanks a lot!

[2018-11-21 17:56] tamram commented on #19033
#please-close

[2018-11-21 17:59] YutongTie-MSFT commented on #18898
@garyericson Hi, can you please take a look of this issue? Thanks.

[2018-11-21 18:09] jason-j-MSFT commented on #19316
@MGoedtel could you take a look at this request?

[2018-11-21 18:16] kazshi commented on #19292
@MicahMcKittrick-MSFT Thanks for your detailed explanation.

[2018-11-21 18:34] RavSalgado commented on #19033
#Closing Issue, Thank you all.

[2018-11-21 18:34] #19033 closed

[2018-11-21 18:46] MarileeTurscak-MSFT commented on #19315
@mguirao Thanks for the feedback! I have created a pull request to add the two missing parentheses. https://github.com/MicrosoftDocs/azure-docs-pr/pull/58531

[2018-11-21 18:46] #19315 closed

[2018-11-21 18:54] BellaLi commented on #17820
@rs38
The only failure from the fiddler trace is the a few 404s. Looks like some js files failed to load from ux.console.azure.com. For the js security error in main.js createTerminal, do you see request sent out to create Terminal?

I just followed your repro steps and cannot repro. My CloudShell showed up properly.

If the symptom still exists for you, please give me the time and your domain nam

[2018-11-21 18:56] jonpayne opened #19330 "The 'system topology' diagram is not readable when using the 'dark' theme"
On the "Azure Cosmos DB global distribution - under the hood" page:
https://docs.microsoft.com/en-us/azure/cosmos-db/global-dist-under-the-hood

The 'system topology' diagram is not readable when using the 'dark' theme. It seems the background color is set to transparent rather than white.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue