[2020-02-04 21:01] jonbeck7 commented on #46137
Not sure who owns ephemeral OS disks work.  I would guess that it is Chetan Agarwal.

[2020-02-04 21:01] leela-uppuluri opened #47437 "Test model on Azure Container Instance"
I was trying our own model to do inference on couple of images and I was following 00-anomaly-detection-tutorial.ipynb as a reference for my experiment. I'm running into `FileNotFound` error where to test the performance of my model by deploying container to Azure Container.

![Capture-1](https://user-images.githubusercontent.com/43678538/73786623-472fc680-475f-11ea-84ee-d72d9e453dac.PNG)

---
###

[2020-02-04 21:29] dhoegl commented on #47244
You can close. My concerns were to add another error message to your list. If it’s inappropriate, or out of context, that’s okay.
    	Thank you!      From: Frank Hu <notifications@github.com>
Sent: Monday, February 3, 2020 4:14 PM
To: MicrosoftDocs/azure-docs
Cc: dhoegl; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Reply URL mismatch when attempting to consent to Enterprise Application (#47244

[2020-02-04 21:30] tehtertot opened #47439 "Wrong link for Classic IaaS Virtual Machine"
Docs show the same link for Powershell deployment for both cloud and VMs. These are not deployed in the same way. I believe VM link should be https://docs.microsoft.com/en-us/powershell/module/azurerm.compute/add-azurermvmssextension?view=azurermps-6.13.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08b1a2dc-7fa3-20d

[2020-02-04 21:41] MicrosoftGuyJFlo commented on #47361
@Silencer0001

As of today Azure AD is licensed and priced per user. As the article mentions Conditional Access requires at least an Azure AD Premium P1 license.

More info on assigning, removing, and monitoring license information can be found in the article (Assign or remove licenses in the Azure Active Directory portal)[https://docs.microsoft.com/azure/active-directory/fundamentals/license-user

[2020-02-04 21:42] MicrosoftGuyJFlo commented on #47361
#please-close

[2020-02-04 21:42] #47361 closed

[2020-02-04 21:53] Silencer0001 opened #47440 "Consequence of not having a correct license but targeted for conditional access policy"
My previous question was closed without receiving an answer: What would be the consequence of a user not having a license but targeted with a conditional access policy? Will access to the resource be blocked? Or worse: Will it be allowed since it can't evaluate the policy due to having no license?

Can we easily see for which licenses we're incompliant so we can correct the licenses?

This informa

[2020-02-04 22:02] ytingyeu opened #47441 "Please update the content using deprecated service"
Section [Modify alert rules](https://docs.microsoft.com/en-us/azure/azure-monitor/app/continuous-monitoring#modify-alert-rules) seems to be out-of-date. The current **Azure App Service deployment with continuous monitoring** template uses **Azure CLI** to configure Application Insight Alerts while this document is using **Azure Monitor alerts (Deprecated)**

---
#### Document Details

⚠ *Do not ed

[2020-02-04 22:08] ams0 commented on #18204
Seems like the key in `values.yaml` changed slightly, now called `controller.service.annotations`. I am deploying nginx-ingress with Helm3 now with this:

[code]

[2020-02-04 22:15] vikramdadwal commented on #47249
Thanks @lisaguthrie  for the detailed answer.

[2020-02-04 22:15] #47249 closed

[2020-02-04 22:40] MarileeTurscak-MSFT commented on #47351
Thanks! I made a pull request to add a note. https://github.com/MicrosoftDocs/azure-docs-pr/pull/103341

[2020-02-04 22:40] #47351 closed

[2020-02-04 22:43] ScarlettFalls commented on #43441
This appears fixed as the info and prompt dialog is initiated after "az login"

[2020-02-04 22:54] ajopjo opened #47442 "Add query string parameter to external identity auth end point"
Issue:
I need to pass a custom query string parameter to an external IDP auth endpoint to configure the UI rendering.

When registering an external IDP with Azure B2C, it supports only a subset of OpenIdConnect 2.0 request parameters.

Is there any way I can send additional quesrt string parameters?

help on this will highly be appreciated!!!

[2020-02-04 22:59] willknoll opened #47443 "Typo in article content"
If you're a WAF admin, you may want to write you own rules...

should be

If you're a WAF admin, you may want to write **your** own rules...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f69ca730-5af2-a52f-8017-c9a38a45b60e
* Version Independent ID: f5f6bdec-fb46-6b69-48c1-599e34f7acf0
* Content: [Azure Web Applicatio

[2020-02-04 22:59] ajopjo opened #47444 "Add query string parameter to external identity auth end point"
I have a requirement to pass a custom query string parameter to an external IDP auth endpoint to configure the UI rendering.
When registering an external IDP with Azure B2C, it supports only a subset of OpenIdConnect 2.0 request parameters.
Is there any way I can send an additional query string parameter?
help on this will highly be appreciated!!!

---
#### Document Details

⚠ *Do not edit this se

[2020-02-04 22:59] #47442 closed

[2020-02-04 22:59] #45843 closed

[2020-02-04 22:59] dcbrown16 commented on #47005
@SubhashVasarapu-MSFT right, and 4096 is effectively a duplicate of 65500. As a support engineer, we like to be able to provide good docs that show the best practices. I understand how all the default rules work, which is why I'm bringing this up. The main point should be the rule 100 allowing the GW traffic, so I think the rules 110 and 4096 are unnecessary distractions. The only change vs not ha

[2020-02-04 23:20] joelpelley commented on #29547
DC is Vikas Bhatia and team as Jon noted above :)

[2020-02-04 23:20] joelpelley commented on #46137
Please check with Chetan Agarwal as Jon noted above :)

[2020-02-04 23:21] knyhus opened #47445 "MABS: what to do if backup is offline > 15 days (and not a network prob)?"
The doc addresses how to troubleshoot network connectivity issues, if that's what's causing DPM/MABS-based backups to have gone offline from Azure for over 15 days.

But there's nothing about what to do if there are other causes (in our case, our MABS server was not activated for a while so going offline. Now we've activated it, and it's back up, and DPM - local, storage-pool-based backups are rev

[2020-02-04 23:23] Mike-Ubezzi-MSFT commented on #47406
@th3ragex Thank you for this contribution. I am going to assign this to the content team to be reviewed for a documentation enhancement. Additionally, customers have the ability to contribute to the documentation. Please see the following guide: [Microsoft Docs contributor guide overview](https://docs.microsoft.com/en-us/contribute/)
Again, thank you for taking the time to provide this detailed fe

[2020-02-04 23:26] sanjaydatasciencedojo opened #47446 "Need for more transparency in pricing"
I think there is a need for more transparency in time series insights pricing. I am still unable to figure out the pricing if I plan to use it for one day.

https://azure.microsoft.com/en-us/pricing/details/time-series-insights/

It would be nice if Microsoft could provide pricing on the Azure dashboard instead of asking to open in a new tab in a different website.

[2020-02-04 23:32] MarileeTurscak-MSFT commented on #46843
I agree with the feedback on this doc, but since this is being tacked internally I suggest closing the issue.

[2020-02-04 23:37] mmacy commented on #46843
I'm OK with that, @MarileeTurscak-MSFT. Not sure we'll hit this in the FEB sprint, but that's where it currently sits. I've added a note to update this issue (closed or not) when the work item is complete.

[2020-02-04 23:41] #47133 closed

[2020-02-04 23:41] #47244 closed

[2020-02-04 23:42] #47280 closed

[2020-02-04 23:52] cphares opened #47447 "Confusing instructions"
Being unfamiliar with the end-to-end process, I find this page simply confusing.  It needs more detailed instructions and examples.  I want to set my AZ AD Admin User to be an AD Group so that any member of the group can administrate users.  Also, a more detailed example of setting the PGPASSWORD would really be helpful.  Should the variable contain the entire JSON doc returned by az account get-a

[2020-02-04 23:53] martshep commented on #26064
@neeleshray, whitelisting the IP address as you described is not useful as this is the IP address where the radius request originates (which will always be the RDS server), not the IP address of the client.

[2020-02-04 23:56] TravisCragg-MSFT commented on #47403
@hansmbakker There are a few parts of Front Door's Arm Templates which are not properly documented, see [#42215](https://github.com/MicrosoftDocs/azure-docs/issues/42215) for example. I typically create a front door using the portal or PowerShell, and then use [resources.azure.com](resources.azure.com) to view the JSON of the resources in different API versions. This will typically give the needed

[2020-02-04 23:58] ezra-at-lumedic opened #47448 "Early sections mention a similar setup for Azure SQL (vs Data Warehouse) but not such instructions are shown"
Documentation appears incomplete in the way described in the subject line.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e253528-7277-9f78-06e7-fff9f91e7a79
* Version Independent ID: 36ade0d7-ae89-da1e-2c74-65a4defefa84
* Content: [Tutorial: Load New York Taxicab data - Azure SQL Data Warehouse](https://docs.microsof

[2020-02-05 00:02] djpmsft commented on #38790
Apologies for the delay in response, but we have updated the docs which I can confirm are correct and work. Do not delete the resources in your collaboration branch. Please follow these steps

1. Remove your current Git repository
1. Reconfigure Git with the same settings, but make sure **Import existing Data Factory resources to repository** is selected and choose **New branch**
1. Create a pull

[2020-02-05 00:02] #38790 closed

[2020-02-05 00:03] mmacy commented on #44051
Hi @cstainie, the new article on enabling Azure Monitor support for an existing Azure AD B2C tenant has been published:

[Monitor Azure AD B2C with Azure Monitor](https://docs.microsoft.com/azure/active-directory-b2c/azure-monitor)

Please give the steps in that doc a try, and if you run into trouble, let us know. Thanks so much for your patience.

#please-close

[2020-02-05 00:03] #44051 closed

[2020-02-05 00:04] ezra-at-lumedic opened #47449 "References Azure SQL Warehouse but no such resource appears in the Azure portal"
Did Azure SQL Warehouse reach end of life ?   Can't find it anywhere in the list of resource types in the Azure Portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e253528-7277-9f78-06e7-fff9f91e7a79
* Version Independent ID: 36ade0d7-ae89-da1e-2c74-65a4defefa84
* Content: [Tutorial: Load New York Taxicab data - Az

[2020-02-05 00:11] robert4os opened #47450 "incorrect import module"
in
from azureml.train.automl.automl_explain_utilities import AutoMLExplainerSetupClass, automl_setup_model_explanations
...

'azureml.train.automl.automl_explain_utilities' should be 'azureml.train.automl.runtime.automl_explain_utilities'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8aec7bd5-0f42-7a2b-31bc-331fddc49e

[2020-02-05 00:16] Karishma-Tiwari-MSFT commented on #47346
I checked the support case resolution by the support engineer and it says:

Do you have any other questions? I would recommend engaging over the support case itself if you have follow up questions. Let me know and I can reach out to the engineer working on your support case.

[2020-02-05 00:24] lfittl-msft commented on #47447
Hi @cphares - thanks for your comment!

I agree we need more detailed instructions and examples here, and we're actively working on that.

Regarding PGPASSWORD - you only need to pass in the part thats marked as TOKEN on the documentation page, i.e. not the full JSON object. Typically I would put it in quotes, like this:

[code]

Does that help?

[2020-02-05 00:24] TravisCragg-MSFT commented on #46811
@Poolshark314 As is discussed in the other issue, Azure's DHCP will not update your DNS with the PTR records. Further troubleshooting should be done at the OS level, not from the Azure level. Have you seen [this StackOverflow post about Windows machines not updating the PTR records](https://serverfault.com/questions/639398/reverse-dns-records-not-registered-when-using-dhcp)?

[2020-02-05 00:26] MaxThom commented on #47235
Hi,
i'm trying to configure the exact same thing as @fgheysels . So I have those events in json (see below).
For property id when creating the TSI PAYG, I have :
- deviceId
- telemetry.sensorId

This is the result in the TSI Explorer :
![image](https://user-images.githubusercontent.com/26239574/73799295-91c33a00-4783-11ea-9c53-de91c9190b4c.png)

I also tried to create a TSI with those properties,

[2020-02-05 00:27] kazshi opened #47451 "tempdb_ metrics for Microsoft.Sql/servers/databases"
According to the following page, the "tempdb_" metrics will be available for databases using the vCore purchasing model or 100 DTU and higher for DTU-based purchasing models.  Please add it to the description for each tempdb_ metric.

Metrics and diagnostics logging - Azure SQL Database | Microsoft Docs
https://docs.microsoft.com/en-us/azure/sql-database/sql-database-metrics-diag-logging#advanced-

[2020-02-05 00:31] Karishma-Tiwari-MSFT commented on #47374
@ju-shim I was not able to find the script to make updates. Assigning it to you. Thanks :)
@georgeAccnt-GH I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-02-05 00:34] SaurabhSharma-MSFT commented on #47337
@dcnoren As mentioned in the document, if you using a string value containing a double quotes, both quotes should be escapted using ` character.  See below -
![image](https://user-images.githubusercontent.com/38112130/73799864-012d2f80-476c-11ea-9cc3-9c768f6eaf90.png)
I am able to create the rule following the same.

[2020-02-05 00:40] MarileeTurscak-MSFT commented on #47153
Hi @martininvillia ,

From what I understand they will be blocked if they try to use MFA.  This has been answered here. https://stackoverflow.com/questions/54215795/authenticate-and-get-azure-ad-token-in-net-core-web-api-with-grant-type-as-pass

+  @rwike77

[2020-02-05 00:41] MarileeTurscak-MSFT commented on #47153
If you have further questions feel free to tag me in the comments and I will gladly continue the discussion.

[2020-02-05 00:41] #47153 closed

[2020-02-05 00:42] MaxThom opened #47452 "json ingest, device with multiple sensors"
Hi,
i'm trying to configure tsi json ingest with a composed key. I want my deviceId and sensorId together. In my scenario, a device has multiple sensor. So I have those events in json (see below).
For property id when creating the TSI PAYG, I have :
- deviceId
- telemetry.sensorId

This is the result in the TSI Explorer :
![image](https://user-images.githubusercontent.com/26239574/73799295-91c33a0

[2020-02-05 00:55] sharmapriya2201 commented on #24796
I have migrated my database, using native restore from url, to managed instance and now assigned failover group to it. I have opened encryption key on both primary and secondary database but still sometime data comes in encrypt form

[2020-02-05 00:55] femsulu commented on #47424
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-02-05 00:56] MarileeTurscak-MSFT commented on #47224
Hi Slavizh, have you already tried changing the access token lifetime through Powershell? https://docs.microsoft.com/en-us/azure/active-directory/develop/registration-config-change-token-lifetime-how-to

You should be able to change the max time to one day instead of one hour.

[2020-02-05 00:57] femsulu commented on #47445
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-02-05 00:58] femsulu commented on #47451
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-02-05 01:03] georgeAccnt-GH commented on #47374
@Karishma-Tiwari-MSFT . @ju-shim this is the script I am talking about:
https://docs.microsoft.com/en-us/azure/batch/scripts/batch-cli-sample-create-user-subscription-account?source=docs#example-script

[2020-02-05 01:07] rrg92 opened #47453 "Sync order"
The doc is not clear about the order of sync.

Files will be read on source and sent to destination by creation date, size, etc?

This is useful data that we can use to better plan copy of critical files, like backups.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c02ef818-5e53-4582-43a8-22f9f2b2872d
* Version Indepen

[2020-02-05 01:07] MarileeTurscak-MSFT commented on #47276
Thanks @yoelhor !

Closing this out.

[2020-02-05 01:07] #47276 closed

[2020-02-05 01:11] kutluomeroglu commented on #46777
I have experienced the same issue and resolved it in a similar way to scenario described above, which is:

@SaurabhSharma-MSFT any updates on this?

[2020-02-05 01:15] SaurabhSharma-MSFT commented on #47444
@ajopjo Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-05 01:17] SaurabhSharma-MSFT commented on #47435
@ivratche Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-05 01:18] dcurwin commented on #47445
#reassign:SujayJDesai

[2020-02-05 01:19] gtracer opened #47455 "DNAT rule"
Would be great to add a written callout of the required DNAT rule from the firewall public IP the SLB public IP for inbound traffic. In addition, an explanation of why it is needed (since firewall is stateful and will otherwise drop the connection) and an associated associated image (similar to the wonderful image of the route table rules) of how to add it.

---
#### Document Details

⚠ *Do not ed

[2020-02-05 01:23] Grace-MacJones-MSFT commented on #47064
Thanks for the clarification @karimabuzaid ! I have submitted a PR to fix the issue, the change is merged internally and will go-live in the public docs shortly.

[2020-02-05 01:23] #47064 closed

[2020-02-05 01:29] johnwildes commented on #47158
What I was hoping for was a document update that said "Microsoft supports the DSVM image for use in production environments"

[2020-02-05 01:40] szhaomsft commented on #47344
@christoph-zenger-hcsg   which voice do yo use?

[2020-02-05 01:41] MarileeTurscak-MSFT commented on #47359
As you stated, it is billed and licensed per user. I would suggest speaking to your licensing vendor of choice and reading the license agreement if you need additional clarification.

[2020-02-05 01:41] #47359 closed

[2020-02-05 01:52] prakash1097 opened #47456 "JIT for On-Premises VMs"
Is it possible to enable Just In time Access for On-Premises VMs?
In azure Security center Recommendation it only shows VMs that are in Azure only?
It's been said that we could link On-premises VMs with Azure Security Center by installing Microsoft Monitoring gent but I couldn't see not even a single JIT recommendation On-prem VM.
Please clarify

[2020-02-05 02:08] PramodValavala-MSFT commented on #47091
@bmwaechter Looks like this has just been fixed - Azure/azure-functions-servicebus-extension#44

I believe it should be included in the next release of the extension.

[2020-02-05 02:19] CHEEKATLAPRADEEP-MSFT commented on #47422
@aelmanaa  Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-05 02:22] CHEEKATLAPRADEEP-MSFT commented on #47423
@Joel-Cripps  Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-05 02:23] CHEEKATLAPRADEEP-MSFT commented on #47428
@ferlop84  Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content, open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/newthread?prof=required) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community me

[2020-02-05 02:24] CHEEKATLAPRADEEP-MSFT commented on #47429
@mwc360  Thanks for the question! We are investigating and will update you shortly.

[2020-02-05 02:26] CHEEKATLAPRADEEP-MSFT commented on #47431
@robert4os  Thanks for the question! We are investigating and will update you shortly.

[2020-02-05 02:27] CHEEKATLAPRADEEP-MSFT commented on #47433
@mihalko  Thanks for the question! We are investigating and will update you shortly.

[2020-02-05 02:32] CHEEKATLAPRADEEP-MSFT commented on #47436
@ticianaciminari & @erhopf  Thanks for the question! We are investigating and will update you shortly.

[2020-02-05 02:33] CHEEKATLAPRADEEP-MSFT commented on #47437
@leela-uppuluri  Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content, open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/newthread?prof=required) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum commun

[2020-02-05 02:35] CHEEKATLAPRADEEP-MSFT commented on #47439
@tehtertot  Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-05 02:36] CHEEKATLAPRADEEP-MSFT commented on #47440
@Silencer0001  Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-05 02:37] CHEEKATLAPRADEEP-MSFT commented on #47441
@ytingyeu  Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-05 02:43] CHEEKATLAPRADEEP-MSFT commented on #47446
@sanjaydatasciencedojo  Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-05 02:44] koratshail commented on #46601
@AshokPeddakotla-MSFT
How can I start with below link?
[https://github.com/gtrifonov/iotc-edge-device-bridge](url)
[https://github.com/Azure/iotedge-lorawan-starterkit](url)

Is there any steps to build or create IoT edge Gateway?

[2020-02-05 02:44] CHEEKATLAPRADEEP-MSFT commented on #47456
@prakash1097  Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content, open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/newthread?prof=required) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community

[2020-02-05 03:03] CHEEKATLAPRADEEP-MSFT commented on #47443
@willknoll Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/103374](https://github.com/MicrosoftDocs/azure-docs-pr/pull/103374)
The changes should be live EOD or tomorrow. We will now close this issue. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to t

[2020-02-05 03:03] #47443 closed

[2020-02-05 03:06] kristiandg commented on #32605
@awalman I'm having the same issue. I have a few directories I need synched on a server, but it won't let me do what you tried, nor will it let me create multiple sync groups to the same file share (which is stupid). But, what's worse is I need to filter down to the file level to have a select few files synched between servers - and I can't find any way to do that.

[2020-02-05 03:10] github-acc-001 opened #47458 "Request of Improving Documents for GUEST-OS Release"
I would appreciate it if you could consider improving the document.

There was a recent update on ASP.NET as follows.
https://devblogs.microsoft.com/dotnet/net-framework-december-2019-security-and-quality-rollup/
In “Cloud Service” of Azure PaaS, the above change was included in the “WA-GUEST-OS-5.38_201912-01”, so the issue suddenly occurred in my application after the version was applied to the

[2020-02-05 03:10] FrankHu-MSFT commented on #47194
@sjthompsonengl are you using a custom policy here? In addition to that could you please provide the request and response being sent? This might require a support ticket for further troubleshooting as this sounds like it might be a problem specific to your policy.

[2020-02-05 03:16] FrankHu-MSFT commented on #47397
@fabmas thanks for letting us know about this, I'm currently putting this in the doc now please let us know if you have anymore concerns in regards to this, otherwise I will be closing this out end of day today.

The current Section

Updated Section

[2020-02-05 03:19] FrankHu-MSFT commented on #47409
@bartlettdn thanks for letting us know about this, could you please provide a screenshot of your current situation? In addition to that can you clarify, in what context are you setting up MFA? Are you using b2c, b2b, or a regular AAD tenant?

Are you sure you don't have any extra configs that might be hiding the intl extension?

[2020-02-05 03:22] VijayRod commented on #47439
I believe it must say Set-AzureServiceExtension rather than Set-AzureServiceAntimalwareExtension, as also confirmed by Claire Chen.

[2020-02-05 03:23] FrankHu-MSFT commented on #47411
@ChrisB9907 Azure AD Powershell is it's own AAD App registration. I'm not sure if this needs to be added though.

Because this could lead to multiple services that aren't a part of azure management.
Per the docs, the only services that are supported are:

Azure portal
Azure Resource Manager provider
Classic Service Management APIs
Azure PowerShell
Visual Studio subscriptions administrator portal
A

[2020-02-05 03:23] FrankHu-MSFT commented on #47411
If there are no more questions I will be closing out this git issue by end of day tomorrow.

[2020-02-05 03:25] FrankHu-MSFT commented on #47444
@ajopjo you should be able to use the claims resolvers listed here : https://docs.microsoft.com/en-us/azure/active-directory-b2c/claim-resolver-overview#non-protocol-parameters

Per the custom query string parameter. Please let us know if there are anymore questions in regards to this, otherwise I will be closing out this git issue by end of day tomorrow.

[2020-02-05 03:26] CHEEKATLAPRADEEP-MSFT commented on #47434
@mlee3gsd Thanks for bringing this to our attention. I have assigned the issue to the content author to review further and update the document as appropriate.

@mamccrea Could you please update the document according to this article?

[https://docs.microsoft.com/en-in/azure/event-hubs/event-hubs-create#create-an-event-hubs-namespace](https://docs.microsoft.com/en-in/azure/event-hubs/event-hubs-cre

[2020-02-05 03:28] mike-urnun-msft commented on #46989
Thanks for sharing your findings, @asears! That looks to be correct that the dynamic mutation for the `queuename` parameter is possible with runtimes that support imperative binding only. As for the suggested improvement for the SB binding doc, could you create a separate issue specifically under that doc, pls? Just wanted to make sure right samples are added to the right doc consistent with the c

[2020-02-05 03:28] #46989 closed

[2020-02-05 03:33] KrishnaG-MSFT commented on #47391
@Lukasz994 Glad to know that you have self resolved and hence closed the issue. Thanks for the update.

[2020-02-05 03:35] michaelschmit commented on #46886
Bumping this one because I haven't heard anything in a week.

[2020-02-05 03:46] ram-msft commented on #47319
@kishan19 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-05 03:46] #47319 closed

[2020-02-05 03:53] hukun01 opened #47459 "Could you provide details on Full-node SKUs for Gold durability?"
Hi, today I tried to upgrade my cluster to use Gold durability, and after waiting for 2 hours, the deployment failed with error "The requested DurabilityLevel is not supported by the compute resources you have selected." Then I came back to this page, and realized that the VM SKUs that support gold durability are still not clear to me.
What is a full-node SKU? I couldn't find any description about

[2020-02-05 04:02] michaelschmit opened #47460 "Kubectl Access to AKS through Azure Firewall"
I have kubectl installed on a vm within azure. I have added a route table to route 0.0.0.0/0 to an azure firewall. I know kubectl (and my config) works when the azure firewall is not in play. To start simple, from that box I am allowing all outbound traffic on 443 so I can be certain FQDN rules are not getting in the way. I can access google.com using curl from this box over HTTPS, however I canno

[2020-02-05 04:12] michaelsync opened #47461 "Example on how to use internal load balancer and delete the public default load balancer"
This article https://docs.microsoft.com/en-us/azure/aks/internal-lb explains well about how to create the internal load balancer.

I would like to request a couple of sections as below.

1. How to delete the default public load balancer that was created when creating the AKS cluster? If we follow this article, we ended up having two load balancers. I think the public load balancer is hosting the K

[2020-02-05 04:13] MGoedtel commented on #46723
#please-close as I've updated the articles to consistently specify the URLs required to support AzMon for containers Live Data (preview) feature with Azure AD authentication.

[2020-02-05 04:13] #46723 closed

[2020-02-05 04:13] CHEEKATLAPRADEEP-MSFT commented on #47334
@adelinaBalasa  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-02-05 04:13] #47334 closed

[2020-02-05 04:14] CHEEKATLAPRADEEP-MSFT commented on #47379
@itsjusth  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-02-05 04:14] #47379 closed

[2020-02-05 04:20] SwathiDhanwada-MSFT commented on #47324
@richardjgreen Thanks for feedback. The link has been part of the documentation. You can see the highlighted section as shown in below image which traverses to the link you have suggested.

![image](https://user-images.githubusercontent.com/48976275/73810545-da6b0980-47fc-11ea-822f-02a747856335.png)

As there are no further documentation changes , we will close the issue for now.Please revert if y

[2020-02-05 04:20] #47324 closed

[2020-02-05 04:20] AshokPeddakotla-MSFT commented on #47327
@iAnyKey Does that answers your question? Do let us know if you have further queries.

[2020-02-05 04:21] bigdatamoore opened #47462 "Problem with recursive example"
From my experimenting it seems that the code example to recursively apply permissions to all child items does not work as written.  I believe the -FetchPermission flag needs to be added.  Without that, this was failing for me.
This line:
[code]
Should be instead:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56

[2020-02-05 04:28] mimckitt commented on #29547
#reassign: @bhati001

[2020-02-05 04:28] PRMerger13 commented on #29547
bhati001 is not a valid GitHub ID, or is not a collaborator on this repo.

[2020-02-05 04:36] SwathiDhanwada-MSFT commented on #47401
@mumian Can you please review the feedback and update the document accordingly?

[2020-02-05 04:40] SamBonavika opened #47463 "While still possible, is the new Az module functionality a better approach?"
I stumbled on this page at the same time as https://docs.microsoft.com/en-us/azure/notification-hubs/scripts/create-notification-hub-powershell, so I am curious if major portions are this document are deprecated by the new functionality.

Please confirm.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5fc788d-09ee-3387

[2020-02-05 04:44] #47456 closed

[2020-02-05 04:47] bigdatamoore opened #47464 "Problem with Update directory and file permissions examples"
The examples above say that they are to update permissions on a "User", however in the example, you are setting -AccessControlType for a Group.  This should be changed to User.

Current:
[code]
Should be:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 562aa838-243f-bed8-c3cb-9164af5efe71
* Version Independent ID

[2020-02-05 04:52] SumanthMarigowda-MSFT commented on #47453
@rrg92 Thanks for the question! We are investigating and will update you shortly.

[2020-02-05 04:53] SumanthMarigowda-MSFT commented on #47111
@bladerunner41 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-05 04:53] #47111 closed

[2020-02-05 04:57] SumanthMarigowda-MSFT commented on #47190
@duckblaster The PR request has been raised! For now We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-05 04:57] #47190 closed

[2020-02-05 05:02] ChiragMishra-MSFT commented on #47326
@Ihavenowan

[2020-02-05 05:03] #47326 closed

[2020-02-05 05:10] bigdatamoore opened #47465 "Issue installing az cli extension"
I am unable to install the storage-preview extension in my az cli.   Below is the debug output.   Any help here is appreciated.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18ec84b9-0311-d67f-60a8-428db54add42
* Version Independent ID: af6292f5-b0ca-5874-3f50-cf539e28675a
* Content: [Use Azure CLI for files &

[2020-02-05 05:13] ram-msft commented on #47450
@robert4os Thanks for the question. We are investigating the issue and will update you shortly.

[2020-02-05 05:16] CHEEKATLAPRADEEP-MSFT commented on #47442
@ajopjo  Hope you have self resolved and hence closed the issue. Thanks for the update.

[2020-02-05 05:18] shashishailaj commented on #47168
@mdddev The admin can make it required but not as the only sign-in option as of now . If you have selected multiple options for 2FA and have enabled combined registration then we have a logic where most secure 2FA method is used first , so once this logic kicks in , the user is presented with the most secured sign-in option as 2FA . FIDO is currently considered first factor when logging in interac

[2020-02-05 05:18] #47168 closed

[2020-02-05 05:19] VikasPullagura-MSFT commented on #47458
@github-acc-001 Thanks for the Feedback. This is assigned to doc author for checking and updating the as applicable.

[2020-02-05 05:20] bigdatamoore commented on #47182
If the directory command is not available with the storage-preview extension, then why does the documentation above say that it works?

[2020-02-05 05:20] VikasPullagura-MSFT commented on #47458
@raiye Can you please look into this doc enhancement request and add your comments.

[2020-02-05 05:26] KrishnaG-MSFT commented on #47370
@abharath27 I believe functionality to encode query as base 64 is not available as of now and looks like there is no note or information regarding the same in the documentation.
Tagging @yanivlavi and @ofirmanor for visibility and document enhancement consideration if appropriate. And also to provide insights if this is a feature request that has to be raised in UserVoice / feedback forum or not.

[2020-02-05 05:37] eddyzhu1980 opened #47466 "Azure Front Door instance is not visible on Azure DNS Resource list"
My domain name is on GoDaddy.
I followed MS article "Onboard a root or apex domain on your Front Door" to add apex domain to my azure front door.
https://docs.microsoft.com/en-us/azure/frontdoor/front-door-how-to-onboard-apex-domain

However, my azure front door instance is not visible on the dropdown list. Please see below screenshot for details. My front door has created and my www.mydomainxx.co

[2020-02-05 05:38] KrishnaG-MSFT commented on #46792
@yashas850039 As there is no response from you on the above questions by @adwise3, we will be closing the issue for now. If there are further questions regarding this matter or feedback on the documentation, please do let us know and we will gladly continue the discussion.

[2020-02-05 05:38] #46792 closed

[2020-02-05 05:45] VikasPullagura-MSFT commented on #47459
@hukun01 Thanks for your Feedback. I am assigning the issue to content author for checking and adding comments.

[2020-02-05 05:47] VikasPullagura-MSFT commented on #47459
@peterpogorski Can you please check this Feedback and add your comment.

[2020-02-05 05:52] shashishailaj commented on #47386
@johanburati Currently this is a work in progress but we do not have a timeline on the same. We do have a [feature request item already opened on user-voice for ADE support on RHEL 8.0](https://feedback.azure.com/forums/217298-storage/suggestions/38624401-please-add-azure-disk-encryption-support-for-rhel) and I would suggest you to up-vote the same . the user-voice is monitored by product group pe

[2020-02-05 05:52] #47386 closed

[2020-02-05 05:55] rwike77 commented on #46781
@boachim, haven't heard back so closing this for now.  Feel free to re-open if necessary,  #please-close

[2020-02-05 05:55] #46781 closed

[2020-02-05 05:59] #46738 closed

[2020-02-05 06:01] CHEEKATLAPRADEEP-MSFT commented on #47465
@bigdatamoore Have you installed Storage-preview extension?

Make sure to install Storage-Preview extension, by using the following command:

`az extension add -n storage-preview`

![image](https://user-images.githubusercontent.com/44426401/73815146-0a210e00-480b-11ea-9b49-2212f0cf8185.png)

Hope this helps.

[2020-02-05 06:08] pulakkumar599 commented on #47400
Please find below the link:

https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/quickstart-voice-assistant-csharp-uwp

[2020-02-05 06:11] kanshiG commented on #47265
Thanks Chad.

[2020-02-05 06:12] slavizh commented on #47224
Hi @MarileeTurscak-MSFT Yes, I already mentioned that when opening this issue. I have set policy on both organization level (default), on app level and even on service principal level. When you try to get access token via refresh token the only way you get access token lifetime according to the policy is when the resource value is equal to the application id. In my case that is useless as I need t

[2020-02-05 06:19] msrini-MSFT commented on #47466
@eddyzhu1980 , It seems like a similar issue (https://github.com/MicrosoftDocs/azure-docs/issues/47220)

You cannot create apex domain in Go Daddy. You need to do it in Azure DNS Zone to make it work.

[2020-02-05 06:33] SwathiDhanwada-MSFT commented on #47159
@aka0 The document you have been following outlines the legacy activity log collection. I would suggest you to refer [this document](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/activity-log-schema) for the activity log schema.

Hope this helps!

[2020-02-05 06:56] dcbrown16 opened #47469 "Inbound rule"
"The Network Security Group (NSG) associated with the virtual network for the load balancer, by default, has a rule to allow all inbound external traffic."
Can you check on this? My aks-agentpool-...-nsg that was created by default only has the bog standard default NSG rules, which means it denies all inbound other than Vnet and AzureLoadBalancer.

---
#### Document Details

⚠ *Do not edit this se

[2020-02-05 06:57] dcbrown16 commented on #47469
![image](https://user-images.githubusercontent.com/34466884/73818177-a8788980-47a1-11ea-8c61-d7b91499a25f.png)

[2020-02-05 06:58] dcbrown16 commented on #47469
To be clear, I haven't created any LoadBalancer services within AKS. That's the NSG that comes with it in a totally default deployment.

[2020-02-05 07:03] deepakagr-007 opened #47470 "How to use multiple locales with category field"
Hi,
I have custom models trained for many languages and would want to route the translate request to their respective models when the request contains multiple target languages. It works when all the models have same category id (when in same workspace), but fails for Chinese Traditional / Chinese Simplified since they can't have the same category id even in the same workspace.
Is there a way to u

[2020-02-05 07:04] KalyanChanumolu-MSFT commented on #47449
@ezra-at-lumedic Thank you for reaching out.

Azure Synapse Analytics is the next evolution of Azure SQL Data Warehouse.
Please read more about our announcement [here](https://azure.microsoft.com/en-in/blog/azure-sql-data-warehouse-is-now-azure-synapse-analytics/)

[2020-02-05 07:04] AshokPeddakotla-MSFT commented on #47452
@MaxThom Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-05 07:13] damendo commented on #30578
This is now available: https://docs.microsoft.com/en-us/azure/network-watcher/network-watcher-nsg-flow-logging-azure-resource-manager

[2020-02-05 07:36] CasperJ commented on #37247
Any news on this topic? We are hitting the same issue. Building microservices and all MSIs of those are put in a group which is then added to AKV, but is doesn't work. Have to add each of them and doesn't scale well as we also have to add them other places. Would have been SO much easier if you just supported MSI access via Groups

[2020-02-05 07:51] amanmcse commented on #47236
@barisbikmaz Thank you for pointing this out. The statement was true for v1 endpoint but not for v2. When the document was updated for v2, we missed updating this statement. I am updating the document now and this thread will automatically be closed during the merger.

[2020-02-05 07:56] AjayKumar-MSFT commented on #45823
Apologies for the delay! Environment variable substitutions are only allowed for Environment Variables itself in the compose. It is not possible to override the tag for the image with an Environment variable.

[2020-02-05 08:06] GilShalit commented on #47288
Is there an ETA on this?

[2020-02-05 08:06] eddyzhu1980 commented on #47466
my domain name is registered at godaddy. I am following the MS article to make root domain name work with azure front door. however, the front door instance is not showing up on the dropdown list on azure DNS zone. can you please advise?

[2020-02-05 08:14] #47236 closed

[2020-02-05 08:15] iAmSaugata opened #47472 "Provisioning stuck on "Initial cycle not run""
Hi,
I have created a new demo setup by following all the instructions but unfortunately auto provision not working it is getting stuck with this message "Initial cycle not run".

Under status it is showing "Last completed cycle: Not Available"

Is there anyhow we could force this?

https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/amazon-web-service-tutorial

Regards,
Saugata D.

-

[2020-02-05 08:19] JesvinJoseph commented on #47054
@mbialecka @Mike-Ubezzi-MSFT Is there any workaround for this?

[2020-02-05 08:19] msrini-MSFT commented on #47466
Can you try this powershell command?
New-AzDnsRecordSet -Name "@" -ZoneName "sample.com" -ResourceGroupName "RG" -Ttl "3600" -RecordType A -TargetResourceId "/subscriptions/XXXX/resourceGroups/YYYY/providers/Microsoft.Network/frontdoors/XXXX"

[2020-02-05 08:21] Artfoul opened #47473 "Is device write-back required?"
Hello,
I found no details on how the Azure AD join (only) machine can do Kerberos with Active Directory, can this kinematic be explained? Especially, does it require the computer object to be written back from AAD to On-Premise ADDS ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d912434-0693-e158-f371-51b010f8a533
*

[2020-02-05 08:22] sjthompsonengl commented on #47194
Yes it's a custom policy, it has to be for SAML RP support! What format do you want the data in? Is a SAML trace from Chrome useful?

[2020-02-05 08:25] CHEEKATLAPRADEEP-MSFT commented on #47472
@iAmSaugata  Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content, open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/newthread?prof=required) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community

[2020-02-05 08:43] waitingkuo opened #47474 "How to listen on signalR disconnection event?"
I have a callback function that need to be run while connection is disconnected. Which input type should i use?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ca50463-807e-fd04-de4d-25be2199ae70
* Version Independent ID: 7a8f74f9-81b5-735e-fe85-4a5f1482456a
* Content: [Azure Functions SignalR Service bindings](https:/

[2020-02-05 08:54] CHEEKATLAPRADEEP-MSFT commented on #47455
@gtracer  Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-05 08:57] christoph-zenger-hcsg commented on #47344
We use HeddaRUS. Request bodies are of the form

`<speak version='1.0' xml:lang='de-DE'><voice xml:lang='de-DE' xml:gender='Female' name='Microsoft Server Speech Text to Speech Voice (de-DE, HeddaRUS)'>Hallo</voice></speak>`

[2020-02-05 09:06] KrishnaG-MSFT commented on #47422
Tagging @tfitzmac for visibility, review and to provide insights if any and for document enhancement consideration if appropriate.

[2020-02-05 09:07] CHEEKATLAPRADEEP-MSFT commented on #47464
@bigdatamoore  Thanks for bringing this to our attention. I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-02-05 09:10] hramoser opened #47475 "Automatic language detection for speech to text not working"
Source language recognition is not working for the service region westeurope.
The application receives a SpeechStartDetected event followed by ResultReason::NoMatch.
Without language recognition the programs works as expected. The program uses StartContinuousRecognitionAsync().

Tested with C++ SDK 1.9 on Ubutu 18.04.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2020-02-05 09:11] msrini-MSFT commented on #47423
@Joel-Cripps , You can have a VM with multiple NIC. For a NIC, maximum rules are 300. Hope that clarifies.

[2020-02-05 09:12] iAmSaugata commented on #47472
https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/amazon-web-service-tutorial

[2020-02-05 09:12] ionut-matei opened #47476 "Non-deterministic training explanation"
Hello,

I have a LUIS model and I've come across with the situation explained here https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-concept-prediction-score#differences-with-predictions-between-different-training-sessions.

I use non-deterministic training=true and I have some different predictions between training sessions (using either the same LUIS application or different on

[2020-02-05 09:14] CHEEKATLAPRADEEP-MSFT commented on #47462
@bigdatamoore Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/103395](https://github.com/MicrosoftDocs/azure-docs-pr/pull/103395)
The changes should be live EOD or tomorrow. We will now close this issue. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love t

[2020-02-05 09:14] #47462 closed

[2020-02-05 09:17] souravmishra-msft commented on #47440
@Silencer0001, Thank you for reaching out and I apologize for the previous experience. To answer your query, lets take and example, where lets assume your org has only 10 users and you have only 5 P1 licenses. Also you have created a CA Policy for MFA and applied to all users. Now as a result you would see that all 10 users in your org would get the MFA prompts as the CA policies would be working

[2020-02-05 09:17] SwathiDhanwada-MSFT commented on #46738
Thanks for the feedback. We have made necessary changes to the document and the changes will reflect within 24 hours.We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2020-02-05 09:19] iAnyKey commented on #47327
@AshokPeddakotla-MSFT, not really.
@tesych, I am aware of losing my warranty in such a case. You aim developers and engineers with this product and it will be disassembled and adapted to specific application soon or later, exactly as it was with original kinect. So I hoped to get some kind of bit more detailed information about the hardware.
As I mentioned, the whole Kinect DK-Unit is quite bulky

[2020-02-05 09:23] pbartos opened #47478 "Missing "Use cached results" options"
Hi,
I am missing "Use cached results" options on Import data module. Is there any restriction or is it an only bug in the current Azure Machine Learning designer version?
Thanks,
Pavel.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a04c021-b7f1-42b8-f8be-2de5266e9336
* Version Independent ID: bb968ce3-0be3-effe-7c9a-

[2020-02-05 09:24] fawohlsc commented on #47350
@SaurabhSharma-MSFT
Yes the issue stated is similar to mine, if not even the same.

[2020-02-05 09:31] BhargaviAnnadevara-MSFT commented on #47441
@ytingyeu Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-02-05 09:33] KalyanChanumolu-MSFT commented on #47448
@ezra-at-lumedic Thank you for the feedback.
We are actively investigating and will get back to you soon.

[2020-02-05 09:42] jakaruna-MSFT commented on #47200
@moussaillon20 Good to know that your issue is resolved.
I will close this out for now. If you need additional help open a new issue.

[2020-02-05 09:42] #47200 closed

[2020-02-05 09:42] yanivlavi commented on #47370
This is something we are planning to address in this sprint.

[2020-02-05 09:45] cananac opened #47479 "Support for smaller IP ranges"
Is there a plan to support smaller address ranges (&gt;30 prefixes) for firewall address ranges or increase the allowed number of rules?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2632af75-7664-b79b-ac5b-c7c17e6a609a
* Version Independent ID: 6ecf71b6-77c4-3ab6-8ec9-353ea407d70f
* Content: [Configure Azure Storage

[2020-02-05 09:49] dedvds commented on #47389
Link is back again. Thanks!

[2020-02-05 09:49] #47389 closed

[2020-02-05 09:52] VikasPullagura-MSFT commented on #47469
@dcbrown16 Thanks for pointing this out. I will have doc author check and add comment on this.

[2020-02-05 09:53] VikasPullagura-MSFT commented on #47469
@zr-msft Can you please check this and add your comments.

[2020-02-05 09:55] jrm346 commented on #30248
Hi,

Our organisation has multiple AAD tenants and as part of the data science team we want to be able to ingest office 365 data from each tenant. Since you've said this is a deliberate restriction, could you please tell us what the "correct" way to go about doing what we want is?

Thanks

[2020-02-05 09:56] marinnedea opened #47480 "Missing information for RHEL8 RHUI"
Since all data related to RHEL8 RHUI configuration is missing, please follow instructions below in case you need to rebuild the repository:

## Create config file with the following content.

[code]

2. Save the file and run the following command.

`dnf --config rhel8.config install 'rhui-azure-rhel8'`

3. Test it with:

`dnf update`

---
#### Document Details

⚠ *Do not edit this section. It is r

[2020-02-05 10:02] DanieleG90 commented on #46905
@mike-urnun-msft thanks for you response, but if the old parameters could be deprecated, I need to know hot to configure the on-premises gateway with the new parameters.
Could you help me?

[2020-02-05 10:10] cananac commented on #46944
Hi @SumanthMarigowda-MSFT ,

Thanks for the reply. But I still see a need to be able to enforce expiry time. The consumer application can call an API to generate user delegated SAS by specifying all the parameters including expiry time, over which we have no control. Can you please confirm if that's right?
And if that's the case, what is the proposal for preventing users from generating long expir

[2020-02-05 10:11] VikasPullagura-MSFT commented on #47461
@michaelsync Thanks for the Feedback.
I will have the Product team comment on deletion of public default load balancer.

You can check the [private AKS Cluster service](https://docs.microsoft.com/en-us/azure/aks/private-clusters) which is in **preview** for having internal IP addresses.

[2020-02-05 10:14] ChiragMishra-MSFT commented on #47328
@JipFransen Thanks again for bringing this to our notice. I have made the changes and submitted a PR. The changes would reflect in production very soon.

[2020-02-05 10:14] #47328 closed

[2020-02-05 10:18] VikasPullagura-MSFT commented on #47461
@MicrosoftDocs/aks-pm Please add your comments.

[2020-02-05 10:20] fgheysels commented on #47235
@MaxThorn you can create a custom type via the `Model` section in the TSI (Preview) explorer.   Define a type there, and add some variables there, where the _Value_ for the variable is defined like this for instance:
[code]
Then, you need to define a filter for each variable as well, which looks like this:
[code]
Then, you also need to assign your custom type to the 'time series instance' (is that

[2020-02-05 10:23] DOliana opened #47481 "collections seemingly need to be specified as dependent when using shared db-level RUs"
When using an ARM template as the one above I sometimes get the error message "Please retry as possibly multiple shared RU collection creates are competing" - so I assume that a dependency between the collections must be set manually and is nor resolved by ARM.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cecb9c8e-13

[2020-02-05 10:33] thiagofborn opened #47482 "How about update and patching the WVD pool OSs?"
Hello Team,

Is it possible to add some information about update/patching the Windows Virtual Desktop OS to this documentation? With a plus of best practices and side effects?

All the best,

Thiago

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c05d017a-8ce4-d3c2-333c-9f1decbc8e6c
* Version Independent ID: 7f2287e0-71

[2020-02-05 10:44] stevensnicole commented on #45823
Hi Ajay, I really appreciate you digging an answer out.  Many thanks.

[2020-02-05 10:48] CHEEKATLAPRADEEP-MSFT commented on #47182
@normesta Could you please look into this issue and update the document asap?

[2020-02-05 10:48] rubentlc opened #47483 "French problems"
I'm getting several problems with words with accents. For example the word "Allô", I get a low score threshold if I write just "allo" without accent.

How can I improve situations like this one?

[2020-02-05 10:49] zhouwangzw opened #47484 "Page information is outdated and wrong"
Hello,

It seems that this page is outdated. According to https://docs.microsoft.com/en-us/azure/storage/common/storage-service-encryption, table storage should be encrypted by default. And this page (in the how-to section) https://docs.microsoft.com/en-us/azure/storage/common/account-encryption-key-create?toc=%2Fazure%2Fstorage%2Ftables%2Ftoc.json&tabs=azure-cli, also says that content in Azure t

[2020-02-05 10:51] CHEEKATLAPRADEEP-MSFT commented on #47400
@pulakkumar599 Thanks for sharing the document.  We are investigating and will update you shortly.

[2020-02-05 10:52] CHEEKATLAPRADEEP-MSFT commented on #47483
@rubentic Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content, open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/newthread?prof=required) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community mem

[2020-02-05 11:03] CHEEKATLAPRADEEP-MSFT commented on #47460
@michaelschmit  Thanks for the question! We are investigating and will update you shortly.

[2020-02-05 11:05] CHEEKATLAPRADEEP-MSFT commented on #47463
@SamBonavika  Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-05 11:05] lightupdifire opened #47485 "messageInfo.customizedMessageBody"
Hello,
Seems if messageInfo.customizedMessageBody is in another language, like French, then encoding not really working..
Maybe good to add info about supported language for this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 488fdbc7-ca6a-0356-35a2-c3de26392fc4
* Version Independent ID: 0bc17388-55fa-2f0b-46bd-5c3362

[2020-02-05 11:16] CHEEKATLAPRADEEP-MSFT commented on #47472
@iAmSaugata Thanks for sharing the document. We are investigating and will update you shortly.

[2020-02-05 11:25] RohitMungi-MSFT commented on #47470
@deepakagr-007 Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-02-05 11:28] eddyzhu1980 commented on #47466
Thank you,
I can run above powershell script. The A record has been created on the Azure DNS zone. Please see below screenshot for details.

![image](https://user-images.githubusercontent.com/20348425/73837248-34071e80-4865-11ea-8329-6682aca1a492.png)

After that, I go to my azure front door and try to add my apex domain name xxxxx.com on azure front door, however, I got below error message: Pleas

[2020-02-05 11:37] msrini-MSFT commented on #47466
Can you drop me an email to azcommunity@microsoft.com without masking your domain name with the above screenshots?

[2020-02-05 11:40] VikasPullagura-MSFT commented on #47480
@marinnedea Thanks for the Feedback and providing the details. I will have the doc author check and add comments on the doc update request.

[2020-02-05 11:41] VikasPullagura-MSFT commented on #47480
@asinn826 Can you please check this Feedback and add your comments on including these instructions in the doc.

[2020-02-05 11:41] peterbud commented on #47413
Well, having another issues submitted is a clear sign that the document is not clear enough (btw I have not seen the other issue before)

IMHO what should be deleted is this sentence:

This is simply not true, after I have read the description/clarification at #42440. Deletion DOES consume RUs, and therefore costs money. The only specialty is that one should not plan/purchase additional RUs specif

[2020-02-05 11:44] RohitMungi-MSFT commented on #47400
@pulakkumar599 Is the UWP workload installed while installing VS 2019? By default this is not checked with VS 2019 installation.

![image](https://user-images.githubusercontent.com/46958063/73838930-d067fb80-483a-11ea-8795-3f82577d8b56.png)

[2020-02-05 11:44] pixelicous commented on #23789
I love the transparency here and the great communication from MS. 🤦‍♂

[2020-02-05 11:45] VikasPullagura-MSFT commented on #47482
@thiagofborn Thanks for the Feedback. I have assigned the issue to content author for adding checking on this doc enhancement request.

[2020-02-05 11:45] VikasPullagura-MSFT commented on #47482
@Heidilohr Can you please check this doc enhancement request and add your comments.

[2020-02-05 11:47] eddyzhu1980 commented on #47466
Hi @msrini-MSFT ,

After I sent email to your above email address, the email has been bounced back. Please see below returned message. Have you received my email? If not, can you please provide another email address?

azcommunity@microsoft.com (azcommunity@microsoft.com)
Your message wasn't delivered because the recipient's email provider rejected it.

Diagnostic information for administrators:
Ge

[2020-02-05 11:53] GarimaBhattAzureAD commented on #41370
Hi, Please confirm if there is any update on this?

[2020-02-05 11:58] szhaomsft commented on #47344
thanks.  the silence is about 700ms

we don't change that recently

[2020-02-05 12:11] BhargaviAnnadevara-MSFT commented on #47288
@GilShalit Unfortunately, I was unable to reproduce the said issue. But one reason for this problem could be driver incompatibility. Please ensure you have the latest version of chromedriver available. Get it from [here](http://chromedriver.storage.googleapis.com/index.html). Ensure to place it either in the current directory or set the path in the environment variable "ChromeWebDriver". Please ch

[2020-02-05 12:14] anupaaggarwal commented on #29547
Please work with @Sunanda Saxena<mailto:Sunanda.Saxena@microsoft.com> on docs update for DC Series.

Thanks,
Anupa

From: Micah McKittrick <notifications@github.com>
Sent: Tuesday, February 4, 2020 8:29 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Anupa Aggarwal <anupa@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] ACU not listed

[2020-02-05 12:14] PRMerger9 commented on #29547
bhati001<https is not a valid GitHub ID, or is not a collaborator on this repo.

[2020-02-05 12:29] DixitArora-MSFT commented on #47474
Hi @waitingkuo Thanks for reaching out. We will review and update as appropriate.

[2020-02-05 12:42] HeidiSteen commented on #46135
#please-close

[2020-02-05 12:42] #46135 closed

[2020-02-05 13:07] bramthedev commented on #18297
Any idea why I can't access the device twin properties from a module environment?
It seems like such a foundational feature to have...

[2020-02-05 13:11] NavtejSaini-MSFT commented on #47417
@rachel-msft Can you please look into this issue and clarify the use.

[2020-02-05 13:12] NavtejSaini-MSFT commented on #47416
@kummanish Please check the feedback from user and provide clarity regarding the same.

[2020-02-05 13:14] NavtejSaini-MSFT commented on #47413
@peterbud Definitely more issues means more clarity is needed. We will definitely go to doc author to correct this.
@markjbrown @SnehaGunda Please check if the document should be edited to make the use of RU's clearer.

[2020-02-05 13:15] NavtejSaini-MSFT commented on #47331
@stevestein @anumjs Please confirm if we can edit the link to above.

[2020-02-05 13:17] NavtejSaini-MSFT commented on #47481
@DOliana We are checking this and will get back to you.

[2020-02-05 13:22] demichev78 opened #47486 "Baseball"
For those not familiar with Baseball terminology (trust me, there's a ton of people outside of US who are clueless) it is pretty hard to walk through an example. You not only need to think about consistency levels but google for "innings" and how it is relevant.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b3fb7da-5

[2020-02-05 13:24] marawanshalaby commented on #40586
I know that this is now closed, but I was wondering how to specify the "1.0.2" version as the version of the tokenizer to use. There is no such option in the UI and the json schema for a LUIS app doesn't include this field https://github.com/microsoft/botbuilder-tools/blob/master/packages/LUIS/swagger/LUIS-Authoring.json#L8500

[2020-02-05 13:36] BakkerJan opened #47487 "Atypical vs impossible travel"
Those 2 risk detections are rather simular. Can you provide extra information on how these 2 are different form each other?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81a1385f-b90a-e7b4-8cbd-f25aeb8b3c49
* Version Independent ID: d468eb75-88a9-b1aa-7fb3-19ebb4faa179
* Content: [What is risk? Azure AD Identity Prote

[2020-02-05 13:55] BhargaviAnnadevara-MSFT commented on #47297
@abymsft Here is a solution using Visual Studio:
- Place the jar in the `wwwroot` folder
- Right click on the file properties from Solution Explorer.
- Set the "Copy to Output Directory" property to "Copy always" (or "Copy if newer" if applicable)
![image](https://user-images.githubusercontent.com/44050820/73847754-e4b4f400-484c-11ea-8077-352e25ad99a2.png)

When you now build your application, you

[2020-02-05 14:02] deepakagr-007 commented on #47470
I specifically would like to know how to call the Chinese Simplified and Chinese Traditional custom models in the same request (the models are in same workspace). All the other models in that workspace have the same category id

[2020-02-05 14:06] BhargaviAnnadevara-MSFT commented on #47298
@abymsft I believe you should be able to package the jar in the `wwwroot` directory with [this](https://github.com/MicrosoftDocs/azure-docs/issues/47297#issuecomment-582418513).

Please note that some [instructions](https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-agent#additional-config-spring-boot) mentioned in the doc are applicable only to App Services running on Windows.

[2020-02-05 14:13] Noirde commented on #45071
Were you able to deduct a solution?

[2020-02-05 14:31] BharathNimmala-MSFT commented on #47167
Thank you @SquirrelAssassin for sharing additional details.

Using the example you have shared was able to be repro the issue with below output in Azure Portal --> Virtual Machine blade --> Run Command --> RunPowerShellScript. However the reason i see is regarding the write-output line “” , the same works in PowerShell ISE but not in portal through browser.

![image](https://user-images.githubuser

[2020-02-05 14:33] #47475 closed

[2020-02-05 14:34] hramoser commented on #47475
Resolved. Language recognition requires utterances with a few words. Otherwise no result is returned.

[2020-02-05 14:34] iAmSaugata commented on #47472
Screenshot.
https://user-images.githubusercontent.com/26755120/73850858-8db21d80-4852-11ea-9155-65828d0aae10.png

[2020-02-05 14:37] SquirrelAssassin commented on #47167
It’s not that it’s if you want to indent as you should when putting in the write-output, indent it as you should and you will see the error.

Regards,
Bill

Typed on a phone with tiny keys and big thumbs, please pardon the typos.
________________________________
From: BharathNimmala-MSFT <notifications@github.com>
Sent: Wednesday, February 5, 2020 8:31:51 AM
To: MicrosoftDocs/azure-docs <azure-doc

[2020-02-05 14:45] leela-uppuluri commented on #47437
@CHEEKATLAPRADEEP-MSFT I was referring to the steps that mentioned in [Tutorial: Deploy Azure Machine Learning as an IoT Edge module (preview)](https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-deploy-machine-learning) and I have trained my own model and test that model on Azure Container Instance and deploy that container to Azure IoT Edge device and in that process I am running into error

[2020-02-05 14:46] tfitzmac commented on #47422
@aelmanaa - thanks for this feedback. In the template reference docs, we block any properties that are marked as readonly in the REST API specification. But, there are some properties that are not properly identified. Which properties gave you that error?

[2020-02-05 14:47] BharathNimmala-MSFT commented on #47167
With the Indent for the write-output as per below screen shot , it does work. Sorry @SquirrelAssassin not getting the complete context on the issue you are calling out, can you please share any screen shot for the script you are writing on the portal and the error it shows. Which might help me to further isolate the issue. Thank you

![image](https://user-images.githubusercontent.com/45180002/7385

[2020-02-05 14:48] tfitzmac commented on #47080
We will close for now, but it can be reopened if needed.

[2020-02-05 14:49] tfitzmac commented on #47080
#please-close

[2020-02-05 14:49] #47080 closed

[2020-02-05 14:50] pbartos opened #47489 "Add Script bundle input to Create Python Model module"
Hi,

would be useful to have Script bundle input as in Execute Python Script for more advanced training.

Pavel.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 69e02a02-3642-ed25-4922-37e4d9347a37
* Version Independent ID: bc7e6a25-de32-a442-5074-214dd6c9ac3d
* Content: [Create Python Model: Module Reference - Azure Ma

[2020-02-05 14:54] aelmanaa commented on #47422
hello @tfitzmac

thanks for your answer. For instance , ContainerServiceNetworkProfile (https://docs.microsoft.com/en-us/azure/templates/microsoft.containerservice/2019-02-01/managedclusters)  properties are immutable.

what do you mean by "block properties in the template reference docs"?
other question: where do you find "readonly" in the API specification? I don't find it in here https://docs.m

[2020-02-05 14:55] elmariofredo commented on #36682
Any update? Autoscaler configuration would be nice to have.

[2020-02-05 14:59] JasSuri commented on #47444
Using custom policy to configure your OIDC IdP, you can add any number of input claims which will be sent as query parameters in addition to the OIDC request made to the external IdP.

Eg
https://docs.microsoft.com/en-us/azure/active-directory-b2c/identity-provider-amazon-custom?tabs=applications

[code]
That will send the OIDC request, and append `&myQueryParam=staticParamValue`.

If the input cl

[2020-02-05 14:59] CHEEKATLAPRADEEP-MSFT commented on #47473
@Artfoul Thanks for the question! We are investigating and will update you shortly.

[2020-02-05 15:04] CHEEKATLAPRADEEP-MSFT commented on #47437
@leela-uppuluri Thanks for sharing the document. We are investigating and will update you shortly.

[2020-02-05 15:08] CHEEKATLAPRADEEP-MSFT commented on #47476
@ionut-matei  Thanks for the question! We are investigating and will update you shortly.

[2020-02-05 15:11] CHEEKATLAPRADEEP-MSFT commented on #47478
@pbartos  Thanks for the question! We are investigating and will update you shortly.

[2020-02-05 15:12] CHEEKATLAPRADEEP-MSFT commented on #47479
@cananac  Thanks for the question! We are investigating and will update you shortly.

[2020-02-05 15:14] CHEEKATLAPRADEEP-MSFT commented on #47484
@zhouwangzw  Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-05 15:17] Tinus-schwalyk commented on #46866
@JasSuri, I have given the partner entity url correct as per the documentation.
Is the local accounts from azure ad b2c are supported to authenticate against salesforce?

[2020-02-05 15:21] KukyNekoi opened #47490 "Wrong parameters"
At the documentation page, it states that the parameter `key` used in this document  for the TextAnalytics API calls should be `credential` instead on Python3.

https://docs.microsoft.com/en-us/python/api/azure-ai-textanalytics/azure.ai.textanalytics.aio?view=azure-python-preview

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-02-05 15:23] JoelCBennett opened #47491 "Resource Locks Incompatible With Azure Backups / Recovery Service Vaults"
Should note that Azure Resource Locks are incompatible with Azure Backups / Recovery Service Vaults.  A 'No Delete' lock will prevent restore point cleanup and generate backup errors if you apply a lock at the subscription or Backup Vault level.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e7af209-7240-dd2a-7130-e7f

[2020-02-05 15:26] hugo-paredes opened #47492 "Could it be incomplete?"
I'm not sure if it's specific to my situation, but I couldn't login until I added the following command `sudo realm permit --all`.
I've followed the steps regarding RHEL 7 and everything worked, until I've tried to login. After some search, I've added the command above and then it worked.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-02-05 15:33] langstonj commented on #25972
Is the feed back from almost a year ago of a 200gb max bacpac file size when exporting to blob storage this still the case?

The doc references to "local storage" I presume really means "local" like a server room across the hall and that an Azure VM is not an option - can you confirm?

I have a database with 483 gb used that  I am needing to send to a vendor for examination and looking like my opt

[2020-02-05 15:39] pbartos opened #47493 "Pass pipeline parameter value into the Execute python script module"
Hi,

Is there any way how to pass pipeline parameter value into the Execute python script module?

Thanks,
Pavel

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be943f78-3388-c77f-4c64-d38013952ef9
* Version Independent ID: 6bfc173f-05c9-52d0-a401-3e659e9df1d1
* Content: [Execute Python Script: Module Reference - Azure

[2020-02-05 15:41] poctob opened #47494 "Always On feature needs detailed explanation"
Here is a good detailed answer on what it does:
https://stackoverflow.com/questions/26578934/azure-website-always-on

An important detail is that you can't control the endpoint, it is always application root. So if your app does not have a root route, you are going to see a lot of 404s in your logs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2020-02-05 15:43] vishakha-cell opened #47495 "SAML SSO with Mobile app"
How to use SAML 2.0 SSO with MSAL for Native mobile app which connects with onpremise web APIs to Get or POST the data?

[2020-02-05 15:44] JasSuri commented on #46866
No, since those accounts don't exist in SalesForce. Only accounts that exist in SalesForce would be able to login at the page in your screenshot.

[2020-02-05 15:45] krottiers commented on #36505
@reallydontask So I assume Managed Identity didn't work. What did you specify in the linuxFxVersion parameter?

[2020-02-05 15:46] kread2002 opened #47496 "Sign-in error code 50034 is not logged in azure b2c sign in logs"
When user name is incorrect azure b2c sign in logs always shows 50126 and when password is wrong it shows samw 50126. I was looking for specific error code 50034 to identify that user with non existing email is trying to login.

[2020-02-05 15:51] lyrana commented on #47452
Hi @MaxThom
A few things to note:
-When creating your TSI environment in the portal if you want to configure a composite time series ID be sure to enter the values into separate lines as shown in the photo below (replacing node Id with your second value)

![thumbnail_image001 (1)](https://user-images.githubusercontent.com/16039279/73857739-324d4480-47ec-11ea-9692-e619e28abf99.png)

-If you have co

[2020-02-05 15:54] GiftA-MSFT commented on #47489
@pbartos we will review your feedback and get back to you shortly. Thanks.

[2020-02-05 15:55] lyrana commented on #47235
Hi @fgheysels thanks for jumping in to help the community! We've moved Max's issue to a different issue. I reached out to you via the e-mail that you have listed on your GitHub page.

[2020-02-05 15:56] GiftA-MSFT commented on #47490
@KukyNekoi we will review your feedback and get back to you shortly. Thanks!

[2020-02-05 15:58] oising opened #47498 "Step 2 should state that "Apply" needs to be clicked"
I've lost count how many times I've visited this page looking for service principals, then remember I have to choose "all applications" and I forget to click apply.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1ef3583-67cc-685f-fb2e-09b64f682bf2
* Version Independent ID: 8e441ecd-4771-8620-4423-8c40d8cce192
* Conten

[2020-02-05 16:00] LarryChe-600 commented on #25972
Perhaps, as an alternative, using an Azure VM you can install the latest version of Data-Tier Application Framework (18.3.1) ver 15.0.44538.1 dated 9/13/2019, https://www.microsoft.com/en-us/download/details.aspx?id=100297     For larger exports I recommend the 64Bit variant when dealing with very large databases to avoid out of memory errors.

With that download comes SqlPackage.exe that you can

[2020-02-05 16:03] GiftA-MSFT commented on #47493
@pbartos we will review your feedback and get back to you shortly. Thanks!

[2020-02-05 16:05] BrianTJackett opened #47499 "Suggest updating documentation to use Microsoft.Data.SqlClient"
Suggesting to look into updating documentation to use the Microsoft.Data.SqlClient package as that is the future direction for SqlClient.  Full disclosure I haven't tested if fully compatible with above scenario yet.  See more on announcement blog post here:
https://devblogs.microsoft.com/dotnet/introducing-the-new-microsoftdatasqlclient/

---
#### Document Details

⚠ *Do not edit this section. It

[2020-02-05 16:05] souravmishra-msft commented on #46816
@closing this thread for now.

[2020-02-05 16:05] #46816 closed

[2020-02-05 16:16] LarryChe-600 commented on #25972
Follow up.  I inadvertently left out some important considerations for my recommendation.

In using the SqlPackage.exe approach there are some additional size limitations that must be considered in regards to the Azure VM itself.

  *   Disk space requirements on the Azure VM where the bacpac is deposited needs to be considered when dealing with large databases.  During bacpac export, DacFx tempor

[2020-02-05 16:23] dcurwin commented on #31822
The documentation has been updated.

#please-close

[2020-02-05 16:23] #31822 closed

[2020-02-05 16:25] dhavalshah02 opened #47500 "Unable to fetch metrics from insights.containers/nodes and insights.containers/pods namespaces for AKS managed clusterd"
Enabled Azure Monitor for containers through terraform on an existing AKS cluster using the steps given in https://docs.microsoft.com/en-us/azure/azure-monitor/insights/container-insights-enable-existing-clusters

I am able to see and fetch metrics from the **Container Service (managed) Standard metrics** namespace on the portal. I am also able to see the **Container Insights** workspace and view

[2020-02-05 16:26] dgilbert101 commented on #40338
@cynthn, I've been able to successfully share the gallery across subscriptions and tenants using the RBAC method. However, the user is not able to successfully create a virtual machine from the shared image. The shared image is only visible by switching the user's directory to my companies directory. Once there, the user cannot create a virtual machine from the image targeting a resource group in

[2020-02-05 16:27] jjgriff93 opened #47501 "Guidance on Unit Testing with pytest needed and more info on unit testing different types of triggers"
There is very light documentation on the recommended folder structure for testing - however if you use thie with pytest instead of build-in UT it throws up Module Not Found errors as you need some blank `__init__.py` files in the directory structure for discovery to work properly.

It's also important to mention Unit Testing different types of triggers - there's some info on HTTPTrigger() but none

[2020-02-05 16:28] jsnape opened #47502 "VNet restrictions with Azure Monitoring"
At the top the docs state:

&gt; First party integrations are not supported when Virtual Networks are enabled. Common Azure scenarios that don't work with Virtual Networks -
&gt; * Azure Diagnostics and Logging

I understand this means streaming data from Azure monitor into an event hub but it is not clear whether this also includes the ability to capture this event hub's diagnostic data in Log An

[2020-02-05 16:32] sujayvsarma opened #47503 "CXP Assistance Requested - Azure App Domains - Advanced Management Portal - Federation Error"
**NOTE:** This is not an issue in the docs. I am trying to reach the Azure CXP team to get some information or assistance for my problem.
----

A few months ago, when I was using the (GoDaddy-powered) "Advanced Management Portal" for App Service Domains, I changed something on that (GoDaddy) portal. Now, I am unable to use the Advanced Management Portal for any App Service Domain.

I get this "Fed

[2020-02-05 16:39] DarrinEide commented on #47205
@DavidRayner If possible could you provide an example call that is failing?

[2020-02-05 16:45] YutongTie-MSFT commented on #47500
@dhavalshah02
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@MGoedtel
Hi Matt, could you please help check this feedback? Thanks.

[2020-02-05 16:46] danielsollondon commented on #31188
Hi All, I'm a Program Manager for the Azure VM image builder (which uses Packer under the hood), we have seen this too, and we have engaged the Windows PG to investigate. Initially there was a low memory condition which could cause problems, when using Standard D1_v2, this was due to Windows Update, and has been mitigated. However, there is still an issue, Windows PG is investigating, and I will r

[2020-02-05 16:46] YutongTie-MSFT commented on #47496
@kread2002

Thanks for reaching out to us. Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content, open a new forum thread in MSDN forum or Stack Overflow as it could be better place to get help on your scenario. These forum community members could provide their expert guidance on your scenario based on thei

[2020-02-05 16:52] seandilda commented on #38595
I am also seeing this issue when querying against an enrollment scope

[2020-02-05 16:56] msrini-MSFT commented on #47466
@eddyzhu1980 , No I haven't received your mail yet. Can you try again?

AzCommunity@microsoft.com

If that doesn't work, drop an email to msrini@microsoft.com

[2020-02-05 16:56] YutongTie-MSFT commented on #47503
@sujayvsarma
Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content, open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Profile/u/create?referrer=https%3A%2F%2Fsocial.msdn.microsoft.com%2FForums%2Fen-US%2Fnewthread) or [Stack Overflow ](https://stackoverflow.com/)as it could be better

[2020-02-05 16:57] dudu-markovitz opened #47504 ""Azure SQL Data Warehouse" should be changed to "Azure Synapse Analytics""
.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b006a616-2f2f-8ecf-8b80-fd0a3cc62090
* Version Independent ID: 92c54dc6-8ddf-b1f7-4a58-d61b8cd7fe25
* Content: [What is an Azure Private Endpoint?](https://docs.microsoft.com/en-us/azure/private-link/private-endpoint-overview#feedback)
* Content Source: [articles/private

[2020-02-05 16:58] YutongTie-MSFT commented on #47495
@vishakha-cell
Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content, open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Profile/u/create?referrer=https%3A%2F%2Fsocial.msdn.microsoft.com%2FForums%2Fen-US%2Fnewthread) or [Stack Overflow ](https://stackoverflow.com/)as it could be bette

[2020-02-05 17:05] Mike-Ubezzi-MSFT commented on #47197
@kirubha-webex We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-02-05 17:05] #47197 closed

[2020-02-05 17:07] Mike-Ubezzi-MSFT commented on #47273
@GedillurBjorn We will now proceed to close this thread. If there is a specific issue or recommendation with an article found in the Microsoft Docs repository, please click on the feedback link at the bottom of the page and your detailed feedback will be properly routed. Thank you, ~Mike

[2020-02-05 17:07] #47273 closed

[2020-02-05 17:09] Mike-Ubezzi-MSFT commented on #47295
@abymsft We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-02-05 17:09] #47295 closed

[2020-02-05 17:16] MaxThom commented on #47452
Thank you @lyrana ! So last night, I had no environment found when opening the explorer when I tested with the telemetry_sensorId. Was to tired to put more time. I've retried this morning and everything work great.

![image](https://user-images.githubusercontent.com/26239574/73865387-2a53cb80-4811-11ea-9fdb-bbda095a2fc6.png)

![image](https://user-images.githubusercontent.com/26239574/73865425-36d

[2020-02-05 17:16] #47452 closed

[2020-02-05 17:19] lyrana commented on #47452
Glad to hear that @MaxThom!

[2020-02-05 17:29] GiftA-MSFT commented on #47332
@markamos can you help out with this issue? Thanks.

[2020-02-05 17:38] aahill commented on #47490
Thanks @KukyNekoi for finding this documentation bug; you're right that the correct variable is `credential`. I've created a fix, which should be live shortly.

[2020-02-05 17:40] jacobt123 commented on #40338
I faced the exact same issue @dgilbert101 Dan mentioned in his post. I can share the gallery across subscriptions, but a user in a different subscription cannot create a VM from the shared image. So this is not really useful. I wish there was some documentation that explains how this is done.

[2020-02-05 17:43] ashwinnatty commented on #44551
Do we have any updates on this?

[2020-02-05 17:46] MarileeTurscak-MSFT commented on #47498
@oising
Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-05 17:49] bowlerma opened #47507 "Does the container restart when the storage volume changes?"
Does this behave in the same way as persistent storage, as in the container will restart if there are change to the underlying storage volume, as per https://docs.microsoft.com/en-gb/archive/blogs/waws/things-you-should-know-web-apps-and-linux#you-can-enable-and-disable-storage-persistence-with-an-app-settingapplies-to-web-app-for-containers?

---
#### Document Details

⚠ *Do not edit this section

[2020-02-05 17:52] mhomol commented on #47136
So I think this is no longer an issue, but it still could assist with clarifying something in the referenced document?  I misunderstood that there is both a Virtual Machine backup in the portal AND a SQL Virtual Machine backup in the portal.  I believe that once I turned on the SQL Virtual Machine backups that I'm now achieving what I wanted which was granular backups of the database, not just sna

[2020-02-05 17:52] #47136 closed

[2020-02-05 17:59] ashoemaker-penlink commented on #46550
Though not for MD5's, this same thing is impacting me.  I'm loading data into a log analytics workspace so that I can join with data in application insights (very similar use case to examples provided in the documentation).  The value I'm joining on is a string in application insights, without dashes, but log analytics is converting it to a guid (sometimes), so it's with dashes on ingestion so I c

[2020-02-05 18:00] djpmsft commented on #43395
Thanks for your feedback! We have worked to (and are continuing to invest in) improving our error messages. The docs now also include reasons that may cause this error.

#please-close

[2020-02-05 18:00] #43395 closed

[2020-02-05 18:00] shpradha opened #47508 "P2S will also need routetable and firewall steps (as in S2S)"
if we create vpn gateway but not a routing table, VPN g/w by default drops the IP packets whose destination is not within VNET range
​
   [One of Developer's feedback: ] VPN is designed for VNET access ...
    So adding route table helps in routing non-VNET packets to NVA (in our case Firewall) so they get routed to Azure/Internet
in short, without Route table, only VNET can be accessed

---
####

[2020-02-05 18:00] Mike-Ubezzi-MSFT commented on #47486
@demichev78 Thank you for providing the feedback. The baseball analogy does work well to highlight how the available consistency levels keep track of the score. I think the following section should be replaced, as it does not directly help the reader understand how a specific consistency level would keep track of the score. It is important to know that the game is in-progress and that the score is

[2020-02-05 18:00] christoph-zenger-hcsg commented on #47344
We cache and store the result in a database, so I have checked with the same text from January 10 against December 17th and the newer one is shorter by about 50 ms. In general we used to have about 800ms seconds silence. The feeling is it changed with the new year. Unfortunately it has a quite apparent effect on our app behaviour.

The more pressing questions is whether we can rely on that being 7

[2020-02-05 18:05] mamccrea commented on #47434
Thanks for the feedback. I've created a PR with the changes.

#please-close

[2020-02-05 18:05] #47434 closed

[2020-02-05 18:06] mwahrtp opened #47509 "Updating Citrix ShareFile screenshots"
[Enter feedback here]
Hi,

How can someone at Citrix provide updates to the screenshots? I can provide the new updated SAML configuration screens.

Please reach out to mark.wah@citrix.com

Thanks,
Mark Wah
Sr Manager, Product Management, Citrix

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0bc4f40-b67f-5d0d-88f3-7627

[2020-02-05 18:08] YutongTie-MSFT commented on #47478
@xiaoharper Hi Harper, Could you please provide more details for this part. I can not figure out where to find the setting for "Use Cached Results" as the tutorials as well. Thanks.

[2020-02-05 18:12] raiye commented on #47458
@Erik Swart<mailto:v-erswar@microsoft.com> will be driving this to conclusion.

Thank you,
Rashmi

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: VikasPullagura-MSFT <notifications@github.com>
Sent: Tuesday, February 4, 2020 9:20:33 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Rashmi Iyer <raiye@microsoft.com>; Mention <mention@noreply.

[2020-02-05 18:15] anumjs commented on #47331
Yes, please edit the link to the above link (https://github.com/Azure/elastic-db-tools/)

[2020-02-05 18:21] brendanfoxen commented on #33494
Managed to do this via  "az rest". The Graph API docs are wrong. Example command below:
az rest --method post --uri https://graph.microsoft.com/beta/users/$user/appRoleAssignments --body "{\"appRoleId\": \"$appRoleId\",\"principalId\": \"$user\",\"resourceId\": \"spObjectId\"}" --headers "Content-Type=application/json")"

Hopefully this saves someone a couple of days it took me to work out. You ca

[2020-02-05 18:26] abharath27 commented on #47370
Thanks!

[2020-02-05 18:29] lostmygithubaccount commented on #47237
new contact for this is MSFT alias Manoj (mabables) - not sure what his github id is

[2020-02-05 18:30] KrishnaG-MSFT commented on #47132
@nolavime Thanks for your insights. 👍
@SteveColegrove We will be closing this issue for now but if there are any further questions regarding this matter or feedback on the referred Azure documentation, please do let us know and we will gladly continue the discussion.

[2020-02-05 18:30] #47132 closed

[2020-02-05 18:31] asasine opened #47510 "Use traffic manager + CDN without custom domain"
Can traffic manager and CDN be set up together without using a custom domain? For my needs, the &lt;mytm&gt;.trafficmanager.net endpoint is sufficient.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2004e554-882e-932e-d55b-7b60b53bcc5b
* Version Independent ID: 67dd746b-88a3-b114-68e2-622c18e95853
* Content: [Failover

[2020-02-05 18:31] tesych commented on #47327
@AshokPeddakotla-MSFT, you are correct about Azure Kinect being a developer kit, but it is not meant to be taken apart. Our team, though, would love to learn about different scenarios so we can make the requested changes to the future iterations of the device.
As for your question about the depth measurement, can you please be more specific what exactly do you need in addition to the information p

[2020-02-05 18:41] gaikovoi commented on #42947
Does Microsoft has any comments on  the first comment?

[2020-02-05 18:42] BryanTrach-MSFT commented on #47494
@poctob Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-05 18:44] rajdhandus opened #47511 "invalid syntax"
"FQDN": {
        "value": "[reference(resourceId('Microsoft.Network/publicIPAddresses', parameters('ipAddressName')).dnsSettings.fqdn]",
        "type" : "string"
    }

doesn't have balanced paranthesis..

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0551fca9-d710-15d1-9141-baf2121a4ab1
* Version Independent ID: cc5

[2020-02-05 18:45] BryanTrach-MSFT commented on #47507
@bowlerma Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-05 18:48] SteveColegrove commented on #47132
Sorry for the delayed reponse—I didn’t realize there was reply on 2/3.

1.  In my case, only INCIDENT is available.  It seems like REQUEST should be an available type when the connected system is Service manager?

2. As I said, I have many templates in Service Manager, 250 actually, but only 3 of the templates are available to me when I am configuring an ITSM action in an Action Group. I have veri

[2020-02-05 18:48] PatrickLownds opened #47512 "Creating the Key Vault via PowerShell results in errors"
If you follow the above instructions to create a Key Vault via PowerShell using "New-AzKeyvault -name MyKV -ResourceGroupName myResourceGroup -Location EastUS -EnabledForDiskEncryption" when you look at the Key Vault in the Azure portal and go to for example Key under Settings you get an error

The operation "List" is not enabled in the key vault's access policy." also "You are unauthorized to vie

[2020-02-05 18:49] krpovmu commented on #32421
Finally I did it, thanks @lawrencegripper without this comment:
"Nope I don't think that certs need to be generated with a Linux computer but I do think the CommonName used when generating has to be updated on the %client line of the config when using the CLI path to match the CommonName of the certificate. I haven't been able to test this further as I went back to using the GUI based setup and ma

[2020-02-05 18:50] jacobwbutler opened #47513 "Protocol Diagram Spelling Error"
Looks like "/admindconsent" -&gt; "/adminconsent"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9e02a6a-cd93-700d-0073-cca2f6166d67
* Version Independent ID: 215511e6-6599-4aac-5592-635640a635cb
* Content: [OAuth 2.0 client credentials flow on the Microsoft identity platform](https://docs.microsoft.com/en-us/azure/a

[2020-02-05 18:51] fgheysels opened #47514 "Is the 0.5 Mbps per partition ingestion rate limitation a temporary limitation ?"
This page states the following:

&gt;you'll need to calculate your per partition ingestion rate to determine if it is within the preview limits. TSI preview currently has a per partition limit of 0.5 MB/s. Use the examples below as a reference, and please note the following IoT Hub-specific consideration if you're an IoT Hub user.
and
&gt;For environments using IoT Hub as an event source, calculat

[2020-02-05 18:52] mike-urnun-msft commented on #42947
@fabiocav for any insights

[2020-02-05 18:54] mike-urnun-msft commented on #46905
@DanieleG90 Could you open a thread on [MSDN forums for Functions](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureFunctions) and tag me here with the URL? I'll make sure we get an answer for you from the product team.

[2020-02-05 18:54] dyateseci opened #47515 "Reprotect and Failback using incorrect variables"
Hi, The commands are asking for the -ProtectionContainerMapping and the variable in the instructions is the protection container($RecoveryProtContainer) and not the container mapping($WusToEusPCMapping). The recoveryresourcegroupID variable is also incorrect and should be $sourceVMResourcegroup.resourceId and not $sourceVMResourcegroup.Id

---
#### Document Details

⚠ *Do not edit this section. It

[2020-02-05 18:56] xtianus79 opened #47516 "None of these instructions on this page currently works at all"
There seems to be a few steps here to use a file from sharepoint with the QNA maker portal and none of the steps are working as I am continuting to get a an error saying the following:
`Unsupported/Invalid URLs: "https://rccl.sharepoint.com/:x:/s/VCMessaging/EYiOZnTNJHZFtbSvTk91K_4Bqr59hl3aeua_1TXq9MIBVg?e=gKjLfr"`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2020-02-05 18:59] fgheysels opened #47517 "Cold storage of events"
[This](https://docs.microsoft.com/en-us/azure/time-series-insights/time-series-insights-update-storage-ingress#data-storage) part of this page explains that TSI PAYG keeps data in hot storage and in cold storage.
The data in cold storage is saved in a storage account using parquet files.   Does this mean that the data is only available in parquet after the data has exceeded the 'hot storage ttl' ?

[2020-02-05 19:01] fgheysels commented on #47235
@lyrana I haven't received any e-maill on that address ?

[2020-02-05 19:03] MarileeTurscak-MSFT commented on #47509
@mwahrtp Thanks Mark! I have assigned this to the author who will reach out to you shortly.

[2020-02-05 19:06] MarileeTurscak-MSFT commented on #47485
@lightupdifire
Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-05 19:06] MarileeTurscak-MSFT commented on #47512
@PatrickLownds
Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-05 19:07] gaikovoi opened #47518 "URL authorization"
Where is documentation about authorization.json/authorization.yaml files? The link to app service team blog (https://blogs.msdn.microsoft.com/appserviceteam/2016/11/17/url-authorization-rules/) is dead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75e17529-8b8a-1d67-f0e1-840d1d3ca990
* Version Independent ID: 265645d

[2020-02-05 19:07] vlado101 commented on #46151
Hello,

Just wanted to post a response just in case someone is still facing this issue. The issue that I had was that I was trying to write a very large file with just a single query on the source side. Once I update my job to do parallel queries (from Teradata side) then the job completed without issues.

[2020-02-05 19:07] MarileeTurscak-MSFT commented on #47487
@BakkerJan
Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-05 19:08] MarileeTurscak-MSFT commented on #47492
@hugo-paredes
Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-05 19:09] vlado101 opened #47519 "Using batch write size on Teradata source"
Is it possible to manage the write batch size on the Teradata source? For example if we are using Azure Database there is an option to change the write batch size from 10000 to 60000 to help performance. I was hoping for such a setting for Teradata as that would help where we are trying to copy data from an on-premise system onto a could blob storage or Azure Database.

Thank you

---
#### Documen

[2020-02-05 19:16] Karishma-Tiwari-MSFT commented on #47371
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-02-05 19:16] #47371 closed

[2020-02-05 19:16] sirdank commented on #39863
Any update on this?

[2020-02-05 19:22] EvgeniiProkofevItomych opened #47520 "Unable to change underlying image for VMSS with spot instances"
Unable to change underlying image, got this error:

The requested size for resource '/subscriptions/bfc15256-xxxx-1e85ea4cbc09/resourceGroups/marvel-development-rg/providers/Microsoft.Compute/virtualMachineScaleSets/developmentvmss' is currently not available in location 'westeurope' zones '' for subscription 'bfc15256-xxxx-1e85ea4cbc09'. Please try another size or deploy to a different location o

[2020-02-05 19:25] Karishma-Tiwari-MSFT commented on #47520
Thanks for your question. Since the scope of the documentation issues is to provide feedback on Azure docs, please provide us with the link to the documentation you are referring to so we can better assist.

[2020-02-05 19:27] GiftA-MSFT commented on #47489
@pbartos can you please describe what will your use case?

[2020-02-05 19:31] mumian commented on #47511
@rajdhandus - thank you for reporting the issue.  A PR has been created to fix the issue - https://github.com/MicrosoftDocs/azure-docs-pr/pull/103434

#please-close

[2020-02-05 19:39] amoghnatu opened #47522 "Different dates mentioned for upgrading to GA at the beginning and in advanced configuration section"
The timeline mentioned for upgrading to GA is inconsistent. It is given as March 31, 2020 at the top of the article, but in the "Advanced configuration using ARM Templates" section (https://docs.microsoft.com/en-us/azure/databricks/administration-guide/cloud-configurations/azure/vnet-inject#advanced-configuration-using-azure-resource-manager-templates), it is mentioned as January 31st, 2020. Can y

[2020-02-05 19:41] AjayKumar-MSFT commented on #47191
@shawndewet, Apologies for the delay! Yes! thanks for bringing this to our attention! Your feedback has been shared with the content owner for further review.

[2020-02-05 19:42] gvashishtha opened #47524 "Train image classification models link broken"
Try clicking on the "Train image classification models" link under "Next steps"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f10520ed-79e8-dd46-b980-a7abdf27748a
* Version Independent ID: e6b5c5a2-4055-5bbf-73dd-d71814b7e912
* Content: [Train with azureml-datasets - Azure Machine Learning](https://docs.microsoft.com/

[2020-02-05 19:47] nolavime commented on #47132
1. As I know only those 3 types exists: incident, alert and event.
2. Are all those 250 template created before the ITSM connection was created? if not try to create the connection again, it is only synced in creation.

[2020-02-05 19:53] CharmanderJieniJieni opened #47525 "What would be the egress traffic route look like when introducing MS peering"
If we enable MS peering between on prem to Azure SQL, from my understanding inbound traffic from on prem to Azure SQL will be routed through ExpressRoute, what if Azure SQL wants to reach out to internet? Does it go out directly still or will be routed back to on prem

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2eb5

[2020-02-05 19:55] grizzljt opened #47526 ""is IoT Edge device" via the Azure CLI"
How can you do the following via the Azure CLI ?
For group enrollment, if you check “is IoT Edge device” option to be true in symmetric key attestation, all the devices that are registered under that enrollment group will be marked as IoT Edge devices.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a187d323-2b82-0394-f

[2020-02-05 19:56] christiankuhtz opened #47527 "clarify ² Recommended, but not a mandatory requirement imposed by the service."
Unclear if this means No with this footnote means that not having a dedicated subnet is recommended or this is allowed but dedicated is recommended.  can you perhaps elaborate the footnote to be more clear? thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2422f8ec-802e-7f92-c499-9181f3fe8d8b
* Version Independ

[2020-02-05 20:01] jlichwa commented on #37247
@CasperJ I see similar issue in closed, was that tried: https://github.com/MicrosoftDocs/azure-docs/issues/5141

[2020-02-05 20:07] shashishailaj commented on #47024
@memildin Could you please provide your views here if the suggested amendment could be done ?

[2020-02-05 20:08] mumian commented on #47401
Expressions support json(‘null’) and properties support a literal value of null.  In both cases, ARM treat it as if the property is not present.

[2020-02-05 20:18] CasperJ commented on #37247
Hi, I can add MSIs to aad groups through the az CLI. No issues there.

The problem is that when we add an access policy to akv for that group then
is has no effect for the MSIs in the group. If we add them directly then it
works just fine

On Wed, Feb 5, 2020, 21:01 Jack Lichwa <notifications@github.com> wrote:

[2020-02-05 20:32] dmgolembiowski commented on #38836
Try this for better readability

Hi @SwathiDhanwada-MSFT @femsulu @bobbytreed
I have an example for you to analyse the intermittent issue.
How can i share it? as it happened again.

the error is right at the beginning before any custom code. i.e at the time of login.

#####################
Code Start
#####################
[code]
# Get the connection "AzureRunAsConnection"
[code]

}
###############

[2020-02-05 20:34] KranthiPakala-MSFT commented on #47502
@jsnape Thanks for reaching out. We have assigned the issue to the content author for further review the ask and provide an update as appropriate.

[2020-02-05 20:38] KranthiPakala-MSFT commented on #47519
@vlado101 Thank you for reaching out. At this time we are reviewing the feedback and will provide an update as appropriate

[2020-02-05 20:39] KranthiPakala-MSFT commented on #47522
@amoghnatu Thanks for the feedback and bringing this to our notice! We have assigned the issue to the content author to investigate this and update the document as appropriate.

[2020-02-05 20:40] KranthiPakala-MSFT commented on #47522
@mamccrea Could you please have a look at the feedback? - Thanks.

[2020-02-05 20:49] dlydston opened #47528 "Units?"
Can you be explicit about the units in your table?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 311b6efb-2d93-6130-96a9-867fad56bd52
* Version Independent ID: a17faabf-04c6-c3da-9a37-a86b0d00cbfd
* Content: [Azure network round-trip latency statistics](https://docs.microsoft.com/en-us/azure/networking/azure-network-l

[2020-02-05 20:56] omerzubair opened #47529 "This page is need to bookmarks on RHS under "In this article" heading."
This Page is too long to read
- Can we please request the book marks on RHS .
- This will make it in line with RPO page and can book mark and share with relevent teams in organisation.

Example:
https://docs.microsoft.com/en-us/azure/role-based-access-control/resource-provider-operations#microsoftsql

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2020-02-05 20:58] a3diaz commented on #47421
Done! [This is the link](https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/add-custom-domain#verify-your-custom-domain-name)

[2020-02-05 21:04] KranthiPakala-MSFT commented on #47405
@algattik Thanks for the feedback! We have assigned the issue to the content author to investigate this and update the document as appropriate.

[2020-02-05 21:13] robertlagrant commented on #40780
@mimckitt this is taking much too long.

[2020-02-05 21:15] Karishma-Tiwari-MSFT commented on #23789
@palma21 Can you please share if you have any update on this issue? Thanks :)

[2020-02-05 21:18] lostmygithubaccount commented on #47524
internal bug is created - will close this once fixed

[2020-02-05 21:18] jlichwa commented on #37247
It was an issue under same document for Key Vault, so it seems like somebody made it to work.

I still believe that it could be something with MSI itself and the way Security Groups are working. I'm trying to identify if there is an issue in Key Vault code, or there is something with MSI as a member of Security Groups.

I found this:
https://social.msdn.microsoft.com/Forums/azure/en-US/aaa1871f-2f

[2020-02-05 21:22] stewart-southwell opened #47530 "Can't join on local reference input"
Hello, I get the following error when trying to join a local input source on a reference input source:

[code]

The input type is set as 'Reference data'  but it does not recognize it as such.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e8f1f47b-62e5-1652-d8d2-189b0d2f4128
* Version Independent ID: 09ac7e5d-

[2020-02-05 21:23] Karishma-Tiwari-MSFT commented on #36682
@jluk Can you please help identifying the right person who can update the doc with this information. Thanks. :)

[2020-02-05 21:41] stewart-southwell opened #47531 "Can't join on local reference input"
Hello, I get the following error when trying to join a local input source on a reference input source:

[code]

The input type is set as 'Reference data' but it does not recognize it as such:

[code]

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28189e46-4356-358e-11e8-4a54f7e306a2
* Version Independent ID: 10

[2020-02-05 21:42] stewart-southwell commented on #47530
Moved this issue to more appropriate section:

https://github.com/MicrosoftDocs/azure-docs/issues?utf8=%E2%9C%93&q=%22106d06bc-def9-b332-9edf-5cd581b4b059%22&in=body

[2020-02-05 21:42] #47530 closed

[2020-02-05 21:44] taylorturner opened #47532 "How to define the parameters isn't clear"
It would be helpful to include an entire template including the parameters block. And it's not exactly clear that you have to create a new template with the Key Vault secrets then link to your original template. I think most people aren't comfortable putting their templates in a public repo, so some advice on how to link to a secure URI would be nice as well.

---
#### Document Details

⚠ *Do not

[2020-02-05 21:45] himanshusinha-msft commented on #47127
@mcurko : I did tried to repro the issue , but unfortunately i was not able to do that . Going ahead and assigning the issue to the content author ,

[2020-02-05 21:46] taylorturner commented on #47532
Specifically in this section:
https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/azure-resource-manager/managed-applications/key-vault-access.md#reference-key-vault-secret

[2020-02-05 21:50] MarileeTurscak-MSFT commented on #47513
@jacobwbutler
Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-05 21:50] MarileeTurscak-MSFT commented on #47513
Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-05 21:51] himanshusinha-msft commented on #47164
@sandeep8530 : I did checked the ADB documents and also reached out to internal team , at this time I don't think its possible . @mamccrea : Can you please double check on this ?

[2020-02-05 21:51] jluk commented on #36682
@mlearned owns this document, we are working on exposing this via AKS API calls and more importantly - enable custom setting of these flags.

Please track this issue for the timing of this feature: https://github.com/Azure/AKS/issues/1055

Upon release we will update this document for instructions how to GET and UPDATE these settings.

[2020-02-05 21:57] michaelschmit opened #47534 "FQDN Tag for Azure Monitor"
From my understanding there are 4 FQDNs that need outbound 443 traffic so that MMA can connect to log analytics.  Why is that not a FQDN tag?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d4e1aef-bb70-e95a-66fa-b8e25bc9fcbb
* Version Independent ID: d223a464-6a66-4755-2eea-40148ab3cf29
* Content: [FQDN tags overview

[2020-02-05 21:59] yoelhor commented on #47277
The is now updated

#please-close

[2020-02-05 21:59] #47277 closed

[2020-02-05 22:00] stewart-southwell commented on #47531
To  save others the same problem I encountered.

Although I had added a local 'data Stream' input, I did not add a local 'reference Data' input.  Rather, I had a live 'reference Data' input.

Can the VS Code tooling have another option after 'Add local input' to pick between  a stream data source or a reference data source?  The lack of such  an option is what confused me and led me to choose 'Ref

[2020-02-05 22:04] SaurabhSharma-MSFT commented on #47418
@bartvermeersch sorry but I am not able to follow your concern.  Can you please help explaining the same.

[2020-02-05 22:27] michaelschmit commented on #46886
I checked today and it seems the security center item is no longer providing a false positive.

[2020-02-05 22:28] BharathNimmala-MSFT commented on #47230
@AlexeyBoiko Can you please help confirm that you are seeing the same behavior with the below URL ?

[https://marketplaceapi.microsoft.com/api/saas/subscriptions?api-version=2018-09-15](https://marketplaceapi.microsoft.com/api/saas/subscriptions?api-version=2018-09-15)

[2020-02-05 22:30] yoelhor commented on #47368
#please-close

[2020-02-05 22:30] #47368 closed

[2020-02-05 22:32] vitaliy-goncharuk commented on #47248
@Mike-Ubezzi-MSFT any updates?

[2020-02-05 22:32] michaelsync commented on #47461
@VikasPullagura-MSFT  Thanks. Yes. I am aware of the private AKS but we already have the AKS running so we prefer not to delete and re-create a new one. If there is an option to convert the existing public AKS to private AKS, I would like to know.

As of now, we added the internal load balancer to the existing AKS and ended up having two load balancers (default one and internal one). We couldn't d

[2020-02-05 22:34] kubasiak opened #47535 "Few gaps"
I think estimator name is once "estimator" and another time "tf_est"

It is noy clear how to use the "cluster spec". And in the link about registration and deploymenr the examples are showing a case without it.

Registration link is only a general case and I cant find any example showing the parameters as mentioned : " By registering your model as shown above with the model_framework, model_framew

[2020-02-05 22:36] mike-urnun-msft commented on #47499
@BrianTJackett Thank you for your feedback! We will review and update as appropriate.

[2020-02-05 22:38] mike-urnun-msft commented on #47501
@jjgriff93 Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2020-02-05 22:41] jeevansd commented on #41370
@GarimaBhattAzureAD and @joachimloe We have now updated the article with the note. Our app is now approved in Workplace by Facebook.

![image](https://user-images.githubusercontent.com/15001780/73889939-a526e180-4825-11ea-98b0-698900e39904.png)

[2020-02-05 22:42] yoelhor commented on #46987
Until this is issue is fixed, as a temporary solution, you can use [StringJoin](https://review.docs.microsoft.com/en-us/azure/active-directory-b2c/string-transformations?branch=pr-en-us-103425#stringjoin) and [StringSplit](https://review.docs.microsoft.com/en-us/azure/active-directory-b2c/string-transformations?branch=pr-en-us-103425#stringsplit) claims transformations to serialise/deserialise the

[2020-02-05 22:42] MarileeTurscak-MSFT commented on #47513
@jacobwbutler it looks like someone already fixed this. I searched the document and the error seems to be gone, so I'm closing this out. If you still see anything awry feel free to make a pull request and we can merge it.

[2020-02-05 22:42] #47513 closed

[2020-02-05 22:43] markarnolditpro commented on #13457
Any chance Tables now support auto retry?

[2020-02-05 22:48] peterpogorski commented on #45513
#reassign @amenarde

[2020-02-05 22:50] jeevansd commented on #47472
@iAmSaugata Note that first cycle may take hours here. Based on the number of users and groups in your tenant it will take more time. But once that is complete then you can see that the Time stamp will be available when the first run is complete. After that it is a incremental cycle of 40 min

[2020-02-05 22:51] yoelhor commented on #46916
The document is now updated. BTW, the display name for OIDC/OAuth1/OAuth2/SAML are shown on the sign-in buttons. Self-Asserted display name is shown on the page title

[2020-02-05 22:52] jeevansd commented on #47472
If you still see the issue please feel free to open the support ticket directly from Azure Management Portal.

[2020-02-05 22:52] jeevansd commented on #47472
#please-close

[2020-02-05 22:52] #47472 closed

[2020-02-05 22:56] SaurabhSharma-MSFT commented on #47512
@PatrickLownds I have followed the steps to create the Azure Key Vault in PowerShell and I am not getting any error which you are talking about.  Are you running these cmdlets in Cloud Shell ?

[2020-02-05 23:08] nthewara commented on #47292
documentation updated to fix this issue. https://github.com/MicrosoftDocs/azure-docs/pull/47293. I will close this.

[2020-02-05 23:08] #47292 closed

[2020-02-05 23:23] FrankHu-MSFT commented on #47194
Preferably a raw request and response would be beneficial, and also if you could provide the custom policy that would help as well, @sjthompsonengl

[2020-02-05 23:23] #47397 closed

[2020-02-05 23:24] MarileeTurscak-MSFT commented on #47224
Thanks for the context, @slavizh . I've reached out to someone on that team to see if there's a way to get around the problem you are describing.

I appreciate your patience and detail in describing the issue!

[2020-02-05 23:24] FrankHu-MSFT commented on #47409
@bartlettdn can you please respond in regards to the last github comment? If there's no response by eod tomorrow I will be closing out this git issue.

Thanks,
- Frank

[2020-02-05 23:25] #47411 closed

[2020-02-05 23:35] shmed commented on #47300
Hi @QuetzalcoatlRosso, Azure Cognitive Search currently leverage the Lucene Classic Similarity algorithm to calculate base document score: https://lucene.apache.org/core/6_6_0/core/org/apache/lucene/search/similarities/TFIDFSimilarity.html
The way the scoring profile influence the final score varies depending on how you configure it. You can understand field boosting as adding a multiplication fac

[2020-02-05 23:40] jeevansd commented on #47509
@mwahrtp Thanks for the note here. Please feel free to edit this article directly by clicking on the Edit button at the top right corner of the article. Then submit the PR and we can review that and approve the changes.

[2020-02-05 23:40] jeevansd commented on #47509
@chetansriv for visibility.

[2020-02-05 23:40] kummanish commented on #47416
Questions : Does the VNets mean using service endpoints ?

The traffic from the VM, which are deployed in the customer's VNET, to the Azure Database for PostgreSQL using service endpoints does only go through the azure backbone. There is no public internet involved here in spite of the service open to public internet.

[2020-02-05 23:42] bwren commented on #46691
Sorry, it looks like that article didn't get updated with the new query language.  That should say _summarize_ instead of _measure_. For example, _AzureActivity | summarize count()  by CategoryValue_. There are some examples in the UI too. The Two timelines tile doesn't require the aggregation.  Again, that's mentioned in a note in the UI.

[2020-02-05 23:45] QuetzalcoatlRosso commented on #47300
Although the added info is helpful (thank you), my question is still unanswered. How about this simpler question (which is scenario independent): is the *default* scoring function a weighted linear sum of the given boosts and weights? A 'yes' or 'no' answer would be helpful.

[2020-02-05 23:50] femsulu commented on #47491
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-02-05 23:50] KevinBlasko opened #47537 "Metric names do not match Azure Monitor Supported Metrics List"
The list of metrics on this document does not match the list on the Azure Monitor Supported Metrics document (https://docs.microsoft.com/en-us/azure/azure-monitor/platform/metrics-supported#microsoftnetworkapplicationgateways).  For example, this page lists "Web Application Firewall matched rules" as a metric, but there is no metric in the other doc by this exact name.  There are a few others that

[2020-02-05 23:52] MarileeTurscak-MSFT commented on #47421
Hi @a3diaz ,

Once the domain is joined with a tenant, it can not be re-joined with another tenant, unless de-associated with the previous tenant. In this case, since you are not able to determine where the domain was joined before, the best option is to create a Technical Support case for us to assist you properly. If you send me an email and include your subscription ID, I can open a one-time fr

[2020-02-05 23:52] MarileeTurscak-MSFT commented on #47421
I am closing this out here since this is better handled through support.

[2020-02-05 23:52] #47421 closed

[2020-02-05 23:52] davidsmatlak commented on #46663
#assign:davidsmatlak

[2020-02-05 23:52] femsulu commented on #47511
re-opened to add triage labels.

[2020-02-05 23:53] davidsmatlak commented on #46912
#assign:davidsmatlak

[2020-02-05 23:53] #47511 closed

[2020-02-05 23:55] femsulu commented on #47515
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-02-05 23:55] davidsmatlak commented on #47515
#assign:davidsmatlak

[2020-02-05 23:56] femsulu commented on #47529
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-02-05 23:59] femsulu commented on #47529
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-02-05 23:59] brjohnstmsft commented on #47300
@QuetzalcoatlRosso There is no such thing as a “default” scoring function. You have to define scoring functions yourself as part of a scoring profile, and either include the name of that scoring profile in the query, or set it as the default scoring profile on the index.

Since you define scoring functions yourself, you get to choose how the boosting factors from each function are combined togethe

[2020-02-05 23:59] shmed commented on #47300
The very short answer is "yes", the default aggregation function when setting up a scoring profile is "sum" (as mentioned in the documentation).
However, I'm not sure what you mean by "default scoring function". The default scoring function does not include any boost or weights. The default scoring function is the one I linked above, which treats each field as having the same weight and does not a

[2020-02-06 00:01] brjohnstmsft commented on #47300
@shmed Conceptually, scoring functions are applied after the base score is calculated, so I wouldn’t consider the similarity algorithm to be a “default scoring function” in any meaningful sense.

[2020-02-06 00:03] femsulu commented on #47532
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-02-06 00:03] danewalton opened #47539 "Response codes in chart are wrong"
Hi all,
I believe that the status codes for requesting the twin documents and updating reported properties are switched.

In the case of "GET"ing the twin doc, the response code will be a 200 instead of the listed 204 since the returned body will contain the twin document. [Link here](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-mqtt-support#retrieving-a-device-twins-properties).
In the

[2020-02-06 00:05] shmed commented on #47300
I agree with you. I was trying to convey that by default (as in, when no scoring profile is set), the score was simply the output of the cosine similarity function I linked above.

[2020-02-06 00:09] #47498 closed

[2020-02-06 00:11] Grace-MacJones-MSFT commented on #47518
Hi @gaikovoi, thanks for bringing this to our attention. Is this the blog post you are looking for
https://azure.github.io/AppService/2016/11/17/URL-Authorization-Rules.html ?

[2020-02-06 00:16] ChrisH82 opened #47540 "What resource management is used"
Can you elaborate on whether WVD running Windows 10 Enterprise multi-session utilises the same/or very similar Dynamic Fair Share Scheduling (DFSS) features to manage CPU/Disk/Network contention between users like a session based RDS deployment does once the role is enabled? If so if this is enabled by default or if not WVD or how it would enabled and disabled?

---
#### Document Details

⚠ *Do no

[2020-02-06 00:27] QuetzalcoatlRosso commented on #47300
thanks everyone, I believe my question is now essentially answered: when adding features and their corresponding weights to a scoring profile, then if the default functionAggregation value ('sum') is used, these are combined as a weighted linear combination that (eventually) give rise to a "score". I guess there was an initial disconnect in how a floating point value was computed mathematically an

[2020-02-06 00:30] knicholasa opened #47541 "Terminology mistake"
I think there's a mistake in the terminology in the first sentence. When it says "...separate users, or 'tenants,' to view..." it should be "...users in separate tenants to view...". A tenant is not the same thing as a user.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0580581f-c333-b3a8-ed67-ebef7fcd5452
* Version I

[2020-02-06 00:30] mike-urnun-msft commented on #47091
@bmwaechter Pls track the issue that @PramodValavala-MSFT referenced above.

Since there are no doc changes required at this time, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-02-06 00:30] #47091 closed

[2020-02-06 00:32] NCleverly commented on #23029
Has Anyone Found a solution to this? I want to add google calendar to my App but i am blocked if i stay with Azure B2C.

[2020-02-06 00:32] davidsmatlak commented on #46663
I'll review the issue about whether replication supports private endpoints.

[2020-02-06 00:33] gavinaguiar opened #47542 "Ambari spelling error"
https://docs.microsoft.com/en-us/azure/hdinsight/hdinsight-hadoop-use-blob-storage#identify-storage-path-from-abmari

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4855a93d-b0e1-0656-b28c-d422b5bc7bb7
* Version Independent ID: c3733aca-47ce-bf8a-556e-198345ecb755
* Content: [Query data from HDFS-compatible Azure storag

[2020-02-06 00:37] FrankHu-MSFT commented on #47485
@lightupdifire  thanks for your feedback, if you're interested in this feature being added please submit it against the feedback forums here : https://feedback.azure.com/forums/169401-azure-active-directory?query=b2b%20localized%20info and if there's enough community support the product team will look into implementing it accordingly.

That being said as this has been addressed within the scope of

[2020-02-06 00:44] szhaomsft commented on #47344
yes we won't change that silence setting.

[2020-02-06 00:49] Grace-MacJones-MSFT commented on #45896
Thanks for your patience @rcorral-ci. We have updated the docs. I have submitted a PR to fix the issue, the change is merged internally and will go-live in the public docs shortly.

[2020-02-06 00:49] #45896 closed

[2020-02-06 00:51] su-jie commented on #47531
Hi Stewart,

This is really good feedback. Thanks for letting us know. We will improve it in future releases.

Feel free to reach out to me via sujie@microsoft.com if any other feedback.

Thanks,
Jie

[2020-02-06 00:59] davidsmatlak commented on #47515
I'll review the document and update the variables. The **Create a protection container mapping for failback** section might need a line of code to create the protection container mapping for `$WusToEusPCMapping`.

[2020-02-06 01:01] dcbrown16 opened #47543 "Storage firewall guidance"
Please add information to this doc about whether we can configure the firewall on the storage account used for Functions.
My understanding is that Functions in the same region as a Storage account communicate with private IPs instead of using the public outbound IPs, making it impossible to whitelist the traffic.
I thought enabling vnet integration and using a virtual network rule on the storage f

[2020-02-06 01:02] davidsmatlak commented on #46912
I'll review the document and how the cache account is created.

[2020-02-06 01:03] Mike-Ubezzi-MSFT commented on #47525
@CharmanderJieniJieni Thank you for your interest in Azure. During the provisioning process, you have the ability to configure the database instance with either a Public, Private or no service endpoint. You going to want to select private endpoint, and select the VNet that has been configured to route to your ExpressRoute endpoint. This will appear in the list if you configure this before you setu

[2020-02-06 01:07] Mike-Ubezzi-MSFT commented on #47514
@fgheysels Thank you for bringing this to our attention. It looks like you are seeking some clarification of the documentation. I will have the content team review this and make updates where appropriate.

[2020-02-06 01:10] Mike-Ubezzi-MSFT commented on #47517
@fgheysels Thank you for bringing this to our attention. It looks like you are seeking some clarification of the documentation. I will have the content team review this and make updates where appropriate.

[2020-02-06 01:16] Mike-Ubezzi-MSFT commented on #47526
@grizzljt Thank you for your inquiry. I want to confirm that you are seeking the Azure CLI option for group enrollment steps. Is this the case?

[2020-02-06 01:32] koo9 commented on #37847
Getting the same error here. any update on this issue?

[2020-02-06 01:34] TravisCragg-MSFT commented on #47508
@shpradha Depending upon what kind of protocol and network configuration you are using, adding routes is needed to access resources outside of the VNET. [Routing with a P2S VPN is discussed Here](https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-about-point-to-site-routing). Exact steps to add the routes depend upon the operating system, and guidance from the OS manufacturue should be

[2020-02-06 01:34] KranthiPakala-MSFT commented on #47542
@gavinaguiar Thank you for feedback and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate

[2020-02-06 01:37] femsulu commented on #47068
Hi @crisansou, apologies for the delayed response. I was unable to reproduce this issue. Are you still unable to dismiss the recommendation? If yes, please escalate to the [Azure Support channel](https://azure.microsoft.com/en-us/support/create-ticket/) for deeper debug to help resolve this. If you do not have a support plan, send mail to AzCommunity@microsoft.com, include your subscription ID and

[2020-02-06 01:38] femsulu commented on #47068
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-02-06 01:38] #47068 closed

[2020-02-06 01:38] KranthiPakala-MSFT commented on #47530
Duplicate of #47531

[2020-02-06 02:03] femsulu commented on #47159
thanks @SwathiDhanwada-MSFT.
@aka0  -
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-02-06 02:03] #47159 closed

[2020-02-06 02:10] TravisCragg-MSFT commented on #47527
@christiankuhtz I have updated the footnote to state "It is recommended as a best practice to have these services in a dedicated subnet, but not a mandatory requirement imposed by the service". The change should reflect on the doc within a few hours.

@malopMSFT FYI

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will

[2020-02-06 02:10] #47527 closed

[2020-02-06 02:11] GiftA-MSFT commented on #47516
@xtianus79 we will review your feedback and get back to you shortly. Thanks.

[2020-02-06 02:12] KranthiPakala-MSFT commented on #47542
@gavinaguiar I have submitted a [PR#103489](https://github.com/MicrosoftDocs/azure-docs-pr/pull/103489) which should fix the typo. Once the reviewer reviews and merge it, doc will reflect the changes.

Thanks much for pointing this out. :)

[2020-02-06 02:14] TravisCragg-MSFT commented on #47528
@dlydston Thanks for the feedback! I believe these measurements are in milliseconds, but this is not called out anywhere on the doc.

I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-02-06 02:18] TravisCragg-MSFT commented on #47534
@michaelschmit If you would like us to add this FQDN tag in the future, please [leave your feedback at Azure Networking's feedback.azure.com page!](https://feedback.azure.com/forums/217313-networking)

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-06 02:18] #47534 closed

[2020-02-06 02:18] simeyla opened #47549 "Deprecated API being used"
This page includes usage of the deprecated `new TelemetryClient()` parameterless constructor.

Can it please be updated to the preferred approach.

See also: https://github.com/microsoft/ApplicationInsights-dotnet/issues/1152

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95aee749-dc67-58c6-c911-a8cfcfd387a2
* Version

[2020-02-06 02:33] GiftA-MSFT commented on #47158
@johnwildes, thanks for your feedback. Currently, Azure DSVM is designed for general data analytics, data science, and AI/ML training and experimentation. However, you are free to use it in your production environment if it meets your requirements. Hope this helps.

[2020-02-06 02:35] TravisCragg-MSFT commented on #47537
@KevinBlasko Thanks for the feedback! From my observation, the ClientRTT, ApplicationGatewayTotalTime, BackendConnecttime, BackendFirstByteResponseTime, BackendLastByteResponseTime, and BlockedReqCount do not appear in this document.

I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-02-06 02:41] #47489 closed

[2020-02-06 02:48] helderpinto commented on #34858
@craig-martin, although not supported by Azure Automation, you can find [here](https://techcommunity.microsoft.com/t5/core-infrastructure-and-security/how-to-use-group-managed-service-accounts-gmsa-in-azure/ba-p/1150335) a detailed description of how to deal with this limitation.

[2020-02-06 02:53] eddyzhu1980 commented on #47466
@msrini-MSFT , I have sent the email to msrini@microsoft.com. You should have received it since the email didn't bounce back. Look forward to hearing from you soon.

[2020-02-06 02:54] hpsin commented on #47224
Please see the web API example. You must apply the policy to the resource, not the client app.

[2020-02-06 02:54] diberry commented on #47516
@xtianus79 Hi! Can you please provide more info? What result did you get at each step? This is a fairly tricky connection between QnA Maker and share point so please provide as much information in chronological order as possible. #in-progress

[2020-02-06 02:56] CHEEKATLAPRADEEP-MSFT commented on #47510
@asasine  Thanks for the question! We are investigating and will update you shortly.

[2020-02-06 02:57] femsulu commented on #47175
@blair0011 Apologies for the issue you encountered. Adding @MGoedtel to review and see how we can integrate a full working example that enables Prometheus on AKS. in the meantime, take a look at [this public content](http://www.allaboutwindowssl.com/2019/03/setup-prometheus-grafana-monitoring-on-azure-kubernetes-cluster-aks/) to see if it solves your issue.

will follow up with @MGoedtel to explor

[2020-02-06 02:57] femsulu commented on #47175
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-02-06 02:57] #47175 closed

[2020-02-06 02:57] CHEEKATLAPRADEEP-MSFT commented on #47382
@madhur02  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-02-06 02:57] #47382 closed

[2020-02-06 02:58] grizzljt commented on #47526
@Mike-Ubezzi-MSFT In the GUI, there is a toggle to specify that the group enrollment is for IoT Edge devices.  I was specifically looking to replicate that functionality via the Az CLI but did not see a way to do so in the [documentation](https://docs.microsoft.com/en-us/cli/azure/ext/azure-cli-iot-ext/iot/dps/enrollment-group?view=azure-cli-latest#ext-azure-cli-iot-ext-az-iot-dps-enrollment-group

[2020-02-06 02:58] CHEEKATLAPRADEEP-MSFT commented on #47428
@ferlop84  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-02-06 02:58] #47428 closed

[2020-02-06 03:01] lyrana commented on #47514
Hi @fgheysels thank you for bringing up that the docs are not clear. The 0.5 MBps per partition limit currently in place in preview is for any event source--an IoT Hub or an Event Hub. The IoT Hub-specific note attempts to raise awareness to the fact that certain architectures are prone to hit this limit sooner than the customer might think. For example, in the situation where multiple devices are

[2020-02-06 03:01] CHEEKATLAPRADEEP-MSFT commented on #47475
@hramoser  Hope you have self resolved and hence closed the issue. Thanks for the update.

[2020-02-06 03:02] femsulu commented on #46550
assigning to @bwren for input.

[2020-02-06 03:02] CHEEKATLAPRADEEP-MSFT commented on #47504
@dudu-markovitz Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/103491](https://github.com/MicrosoftDocs/azure-docs-pr/pull/103491)
The changes should be live EOD or tomorrow. We will now close this issue. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love

[2020-02-06 03:02] #47504 closed

[2020-02-06 03:04] #46735 closed

[2020-02-06 03:05] kishan19 commented on #46694
Keep us posted, as this will be really useful to have. We're looking to build an interface to interpret WER results and bring in human-in-the-loop capabilities for our speech transcription system.

[2020-02-06 03:09] DixitArora-MSFT commented on #47543
Hi @dcbrown16 Thanks for reaching out. We will review and update as appropriate.

[2020-02-06 03:09] mike-urnun-msft commented on #47057
@tscheffel Thanks for reporting this and helping us drive improvements towards MS Docs! I've created a PR that updates the samples and the changes should be live shortly after the merge occurs.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-02-06 03:09] #47057 closed

[2020-02-06 03:11] mike-urnun-msft commented on #47209
@mattruma Since we haven't heard back, we will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-02-06 03:11] #47209 closed

[2020-02-06 03:20] dlydston commented on #47528
Thank you.

On Feb 5, 2020, at 6:14 PM, TravisCragg-MSFT <notifications@github.com> wrote:

﻿

@dlydston<https://eur01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fdlydston&data=02%7C01%7C%7Cba4c6b57727f482d03d708d7aaaa58b9%7C84df9e7fe9f640afb435aaaaaaaaaaaa%7C1%7C0%7C637165520914526279&sdata=9oPCV2eBvteffQAg7zNcxqsnVcSwwg6nEym%2BUV%2F2%2BbU%3D&reserved=0> Thanks for the feedba

[2020-02-06 03:34] Ayanmullick opened #47551 "PowerShell steps to run a container from ACR"
Can this be done thru PowerShell? Are the PowerShell steps documented somewhere? Not listed in below samples' list.
[PowerShell samples for Azure App Service](https://docs.microsoft.com/en-us/azure/app-service/samples-powershell?toc=%2fazure%2fapp-service%2fcontainers%2ftoc.json)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-02-06 03:39] su-jie commented on #47531
This is a product improvement feedback. Not on the doc.

[2020-02-06 03:45] BhargaviAnnadevara-MSFT commented on #47549
@simeyla Thank you very much for bringing this to our attention. We're investigating this and will get back to you shortly.

[2020-02-06 03:47] #47300 closed

[2020-02-06 03:49] Justin-Nash commented on #46930
Hi All,
I appreciate the effort that you have spent looking into my enquiry, But my concern is about sweeping statements like:

It is implied that app passwords will always work and that if a company happens to have legacy Auth locked down for any reason it will still work as long as you have the ability to create an app password. Hence my original question.

I understand that this article is not

[2020-02-06 03:53] pacon-vib opened #47552 "Incorrect URL on hyperlink (duplicated from previous dot point)"
Incorrect URL on hyperlink (duplicated from previous dot point)

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 177c5ca2-6358-a4d9-63b4-71d9b21472e9
* Version Independent ID: 115868ae-93cb-3bea-eea8-4de3fe5ce39a
* Content: [Operator best practices - Identity in Azure Kubernetes Services (AKS)](https://docs.micro

[2020-02-06 04:35] damochiz opened #47553 "hard to determine if the Speech SDK is available for Swift"
In fact, I know that the Objective-C SDK is used on Swift using Bridging-Header. However, because there is no word of "Swift" on this page, it may seem unusable. The following sites clearly show Swift, which confuses people who see this page. Please list Swift as a supported language.
URL: https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/scenario-availability

---
#### Docu

[2020-02-06 04:39] VikasPullagura-MSFT commented on #47307
@jamesbannan As suggested please upvote for the feature request.
We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-02-06 04:39] #47307 closed

[2020-02-06 04:40] szhaomsft commented on #47344
i checked the update on this voice.

we don't change anything  related to  tailing silence

we did change some lexicon pronunciations etc.  it may have some impact a bit on some duration of the phonemes.

but the overall silence should be stayed at same level.

[2020-02-06 04:44] DixitArora-MSFT commented on #47311
@stevenluda Just following up if you have taken the reference from this and see if it helps. https://github.com/yokawasa/azure-functions-python-samples/tree/master/v2functions/blob-trigger-watermark-blob-out-binding

Do let me know how it goes.

[2020-02-06 04:47] RohitMungi-MSFT commented on #47436
@cagrimunyas @ticianaciminari Opening the doc in Chrome works for me on windows. @erhopf confirms that it works on Mac as well. Could you please check the same on a different Mac if possible as it looks like a localized issue.

[2020-02-06 04:49] RyanHill-MSFT commented on #37847
@koo9, check the recent update made to the doc in https://github.com/MicrosoftDocs/azure-docs/commit/b402177fae39e7fb8ba4d4df4f8da9e9de282129. The reply URLs were updated to alleviate the confusion. If you did follow the updated tutorial, let me know and post any logs/traces you have around the error.

[2020-02-06 05:00] RohitMungi-MSFT commented on #47535
@kubasiak Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-02-06 05:02] KalyanChanumolu-MSFT commented on #47256
@StingyJack This is good feedback and we will pass it on to the product team.
Unfortunately, you will need to login via the SQL authentication by providing the username and password and run **Invoke-SqlCmd**.

Coming to **sp_msforeachdb**, it was neither documented nor officially supported, so it was not made available in Azure SQL. There is an open feedback item [here](https://feedback.azure.com/

[2020-02-06 05:03] cagrimunyas commented on #47436
Hi Rohit,
I have 13” MacBook Pro. I’ll check the it again and if the problem persists
I’ll grab screenshots and send it as attachments.

Regards,
Çağrı.

On 6 Feb 2020 Thu at 07:47 RohitMungi-MSFT <notifications@github.com> wrote:

[2020-02-06 05:03] stevenluda commented on #47311
Thanks for the response. However, I don't think this addresses the problem.
The example has input image and output image as seperate blobs, meaning
that the editing was not on the original file but a copy of it.

On Wed., Feb. 5, 2020, 11:44 p.m. DixitArora-MSFT <notifications@github.com>
wrote:

[2020-02-06 05:06] KalyanChanumolu-MSFT commented on #47257
@StingyJack Thank you for the feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2020-02-06 05:08] KalyanChanumolu-MSFT commented on #47352
@SnehaGunda FYI

[2020-02-06 05:12] AshokPeddakotla-MSFT commented on #47539
@danewalton Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-02-06 05:15] KalyanChanumolu-MSFT commented on #47448
@ezra-at-lumedic Thank you for the feedback.
The tutorial is very specific to Azure SQL Data Warehouse.
The confusion should go away once the document is updated to use the new name Synapse Analytics.

[2020-02-06 05:22] RohitMungi-MSFT commented on #47553
@damochiz Thanks for your feedback. @erhopf Is it possible to add a note about swift support using objective C SDK on the SDK [page](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/speech-sdk)?

[2020-02-06 05:26] lyrana commented on #47517
Hi @fgheysels great question. When data is ingested into TSI it is written to both warm and cold stores, and is available for query from either. Please note that to specify that you want to route a query to cold you'll set the [storeType param](https://docs.microsoft.com/en-us/rest/api/time-series-insights/dataaccess(preview)/query/execute#uri-parameters) and also note that there is a billing mete

[2020-02-06 05:26] koo9 commented on #37847
@RyanHill-MSFT turned out to be the supported account type was not set to any directory.  it works now.  thx

[2020-02-06 05:34] shashishailaj commented on #47541
@knicholasa Thank you for your feedback . We will investigate and update this thread further.

[2020-02-06 05:39] FredFaust opened #47555 "Rename section"
The section named "Connect to your app service" is confusing. It seems to indicate that this documentation is related to Azure App Services in some sort, which is not the case.

I suggest renaming the section to "Connect to your graph" or something similar.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc248d85-e363-b

[2020-02-06 05:53] RohitMungi-MSFT commented on #47470
@swmachan Could you please confirm if this is a valid scenario that is supported?

[2020-02-06 05:57] CharmanderJieniJieni commented on #47525
What if our on prem netwoek wants to access the instance directly?  Our on prem is using ExpressRoute and on prem infrastructure would like to access Azure Sql instance directly without necessarily using an Azure VNet.  How can this traffic go through a private route instead of routing through Internet?

[2020-02-06 06:16] AjayKumar-MSFT commented on #47248
@vitaliy-goncharuk, Apologies for the delay and I understand the frustrated experience with this issue. I followed the document for a test case (repro) and the steps outlined works fine. I wish to engage with you offline further to understand some more details about the problem, have a closer look and provide a specialized assistance, please send an email to AzCommunity[at]Microsoft[dot]com refere

[2020-02-06 06:16] #47248 closed

[2020-02-06 06:17] ram-msft commented on #47315
@beritatscioplus Can you please add more details that you are trying. Are you facing this issue from your local computer or Notebook VM(Compute instance) R-Studio.

[2020-02-06 06:26] msrini-MSFT commented on #47466
@eddyzhu1980 , Will work with you offline and close this issue for now.

[2020-02-06 06:26] #47466 closed

[2020-02-06 06:26] msrini-MSFT commented on #47423
@Joel-Cripps , Do you have any update on this issue?

[2020-02-06 06:33] ManojBableshwar commented on #47237
I'm confused, looks like the product does support App Insights logging for ACI. Kindly let me know if I'm missing something here.

https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.core.webservice.aci.aciservicedeploymentconfiguration?view=azure-ml-py

![image](https://user-images.githubusercontent.com/15225532/73911699-76c9f600-4867-11ea-871f-48c99a4879fe.png)

![image](https://use

[2020-02-06 06:41] ChiragMishra-MSFT commented on #47429
@nabhishek Can you please look into this?

[2020-02-06 06:51] msrini-MSFT commented on #47510
@asasine , It totally depends on based on how you configured your website. When you try accessing the site with the trafficmanager URL, the HTTP header will have the hostname of xxx.trafficmanager.net.

When TM resolves to one of the CDN endpoint, CDN forwards the traffic to the backend. If backend accepts the traffic with host-name "xxx.trafficmanager.net" then we are good. If not, you need to ov

[2020-02-06 06:56] pulakkumar599 commented on #47400
Yes. I have checked the Visual Studio Installer and it shows the UWP workload checked which means that it has been installed.

[2020-02-06 06:56] AshokPeddakotla-MSFT commented on #47437
@leela-uppuluri I followed the steps and able to see the output without any error messages.

![image](https://user-images.githubusercontent.com/44426435/73912867-a74b7780-48db-11ea-849c-59ca6efc43a0.png)

As you mentioned, you are trying the own model, I would suggest you clearly check the steps to modify the file while registering the model.

[2020-02-06 07:04] DarkNoir commented on #34239
It's been more than 6 months and no update. I am really concerned about continued support for this product. it feels abandoned and so do I. All information on this has been purged from Microsoft docs and only Cosmos exists. Doesn't feel accidental and neither does the lack of response. Maybe we should go away.

[2020-02-06 07:09] msfcolombo commented on #37247
@CasperJ

Key Vault will automatically detect groups if the token that you are submitting contains one of these claims:
- `"groups"`
- `"hasgroups"`
- `"_claim_names"` and `"_claim_sources"`

(for more information on these claims, see [this document](https://docs.microsoft.com/en-us/azure/active-directory/develop/access-tokens))

You can parse the token using this tool: https://adfshelp.microsoft.

[2020-02-06 07:14] kyanagimoto commented on #42128
@paulbouwer  - Sure, NP.
Now using with azure CNI :)

[2020-02-06 07:14] #42128 closed

[2020-02-06 07:31] bartvermeersch commented on #47418
Hello @SaurabhSharma-MSFT

This page only discusses the attributes synced by **Azure AD Connect Sync**.
If you go to

https://docs.microsoft.com/en-us/azure/active-directory/hybrid/reference-connect-sync-attributes-synchronized?context=azure/active-directory/cloud-provisioning/context/cp-context

the content is displayed in the context of **Azure AD Connect cloud provisioning**, which is a differe

[2020-02-06 07:58] PatrickLownds commented on #47512
Yes, I was running these cmdlets in Cloud Shell. Is that an issue?

[2020-02-06 08:00] RohitMungi-MSFT commented on #47400
@pulakkumar599 Did you run the installation steps 4 and 5?

![image](https://user-images.githubusercontent.com/46958063/73917082-b71b8980-48e4-11ea-9523-a2c85531d09d.png)

It works perfectly fine on VS studio 2019 enterprise version 16.4.4 after selecting Install while downloading. If you face issues installing them you can try to contact visual studio [support ](https://visualstudio.microsoft.com

[2020-02-06 08:10] mikelazell commented on #10273
Hi there,

I was following a similar guide and received the error "This application does not have sufficient permissions against this web resource to perform the operation." on authenticating.

I checked all of my config and it looked right.

I then stumbled across this thread and in particular the comment linked below.

https://github.com/Azure-Samples/active-directory-b2c-javascript-msal-singlep

[2020-02-06 08:12] beritatscioplus commented on #47315
I am following the example point by point. Hence, I generate a compute instances and open Rstudio in this as explained in the "Open R-studio" section. I guess I am running a Notebook VM (Compute instance) version. The R-studio is running in my browser. I use Mozilla Firefox 72.0.2.

I also have R-studio installed locally version 1.1.383. Local installation of R is version 3.5. I also have python i

[2020-02-06 08:13] RohitMungi-MSFT commented on #47431
@robert4os Could you please let us know if there are any explanations visible on the portal against your run?

![image](https://user-images.githubusercontent.com/46958063/73917780-1c23af00-48e6-11ea-908c-d23ab623c053.png)

We have run this [notebook ](https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/automated-machine-learning/regression-hardware-performance-explanat

[2020-02-06 08:18] cegganesh84 commented on #37727
Hi @elliot-labs,

I would like to set up a socks tunnel to bastion host from my laptop so that I could view the UIs in the VMs. Any tips for this use case?

Thanks!

[2020-02-06 08:19] amanmcse commented on #47473
@Artfoul Thank you for pointing this out. I have assigned it to author of the document to review and add required information.

[2020-02-06 08:21] ram-msft commented on #47314
@beritatscioplus Thanks for the feedback. I could see this package has been archived as shown in the [CRAN](https://cran.r-project.org/web/packages/DAAG/index.html).
![image](https://user-images.githubusercontent.com/49180516/73918330-740ee580-48e7-11ea-97b3-fd494ba9a690.png)
So you can try the following to install DAAG.
url <- "https://cran.r-project.org/src/contrib/Archive/DAAG/DAAG_1.22.tar.gz"

[2020-02-06 08:22] CHEEKATLAPRADEEP-MSFT commented on #47540
@ChirsH82 Thanks for the question! We are investigating and will update you shortly.

[2020-02-06 08:47] VikasPullagura-MSFT commented on #47552
@pacon-vib Thanks for the Feedback. We are looking into this and would get back to you soon on this thread.

[2020-02-06 08:50] abshamsft commented on #47537
ClientRTT, ApplicationGatewayTotalTime, BackendConnecttime, BackendFirstByteResponseTime, & BackendLastByteResponseTime are already covered in the document. The new WAF-related metric are not updated. @winthrop28 to update the WAF metrics.

@TravisCragg-MSFT can you assign this to @winthrop28 ?

[2020-02-06 08:54] fgheysels commented on #47514
Hi @lyrana , I've provided some feedback / background information regarding my project via LinkedIn.

Will the 0.5MBps limit be increased once you're going GA ?

[2020-02-06 08:57] DashleenBhandari-MSFT commented on #47551
@Ayanmullick , Are we using windows containers?
Docker to a registry uses Docker's API. So, PowerShell won't be applicable here.

[2020-02-06 08:57] SubhashVasarapu-MSFT commented on #47005
@dcbrown16 , Agree with your point. I will assign the respective content author here for updating the document with the selective ruleset.
@vhorne , Could you please provide your insights here?

[2020-02-06 09:06] shashishailaj commented on #47320
@memildin Could you please review this and update the table as necessary ?

Thank you.

[2020-02-06 09:08] shashishailaj commented on #47075
@ticianaciminari We are trying to get more information on this from the back-end team and will update this thread accordingly.

[2020-02-06 09:11] DanieleG90 commented on #46905
OK, I created a a new thread:
https://social.msdn.microsoft.com/Forums/en-US/bee93dda-fa2e-4fa6-9c94-e5d31662d6c1/sql-connector-v2-for-logic-app-with-onpremises-gateway-in-visual-studio?forum=AzureFunctions

[2020-02-06 09:17] yoelhor commented on #47396
You should be able to get more claims from AAD app v2. Learn [How to provide optional claims to your Azure AD app](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-optional-claims). With regard to the email address, this value is included by default if the user is a **guest** in the tenant, read [more about the optional claims here](https://docs.microsoft.com/en-us/

[2020-02-06 09:22] yoelhor commented on #46846
I updated the [doc](https://docs.microsoft.com/en-us/azure/active-directory-b2c/claimsschema) last week. The type of the claim. The data types of boolean, date, dateTime, int, long, string, stringCollection can be used. Primitive data type represents the equivalent of C# variable data type. stringCollection represents a collection of strings. For more information see C# Types and variables. Date f

[2020-02-06 09:22] #46846 closed

[2020-02-06 09:23] slavizh commented on #47224
Hi @MarileeTurscak-MSFT  I am not sure if the issue is fully understood. We are using the following instructions:
https://docs.microsoft.com/en-us/partner-center/develop/enable-secure-app-model#scope

They basically describe the creation of Azure AD application (with service principal) and using Azure AD User account that has specific permissions. The Azure AD app impersonates that user and gets a

[2020-02-06 09:31] shashishailaj commented on #47541
@knicholasa Thank you for pointing this out. I have created a request internally to the content team for review and update . In case the change request gets approved after review , it will be updated on the article after 24-48 hours of approval. We will now close this issue. In case you still have any residual queries on this , please feel free to reply to us and we will be happy to help.

Thank y

[2020-02-06 09:31] #47541 closed

[2020-02-06 09:33] DixitArora-MSFT commented on #47311
@stevenluda Thanks for responding back. If you have specific question to product , it would be best if you can create the product issue to the official [Azure Functions Repo](https://github.com/Azure/Azure-Functions/issues) for better clarity.

[2020-02-06 09:38] shashishailaj commented on #47383
@jeevansd For tracking.

@chetansriv @v-nagta Could you please review this request and ad the missing instructions with screenshots as mentioned by the customer on this article ?

[2020-02-06 09:39] DixitArora-MSFT commented on #47329
@codemaker  Have you considered [ASE](https://docs.microsoft.com/en-us/azure/app-service/environment/intro) for this. In ASE,you have the option for putting Azure Function inside the VNET itself. In that way , it will not act as a Proxy and you have complete control for the inflow and outflow traffic .

[2020-02-06 09:42] DixitArora-MSFT commented on #47335
@Srinivas-Potnuru This channel is driving improvements for official repo. If you have specific question to product , it would be best if you can create the product issue to the official [Azure Functions Repo](https://github.com/Azure/Azure-Functions/issues) for better clarity

[2020-02-06 09:51] DixitArora-MSFT commented on #47339
@shashankkr  The following code sets the retry policy on a Service Bus client using the Microsoft.Azure.ServiceBus library:
[code]
More information can be found in this https://docs.microsoft.com/en-us/azure/architecture/best-practices/retry-service-specific#retry-mechanism-6

[2020-02-06 09:58] AlexanderViken opened #47558 "Sample code needs to be updated"
Two notse about the code sample:
ACCOUNT_UPN=$(az account show --query user.name -o tsv)
$ACCOUNT_ID=$(az ad user show --upn-or-object-id $ACCOUNT_UPN --query objectId -o tsv)

1. The "--upn-or-object-id" parameter should be replaced with "--id" since it has been deprecated

2. The code will return an error saying that the account is not found if you are logged in with a guest account in AAD.  $AC

[2020-02-06 09:59] jakaruna-MSFT commented on #47460
Are you using authenticated ip feature in AKS?  https://docs.microsoft.com/en-us/azure/aks/api-server-authorized-ip-ranges

I will also repro this in my environment and let you know

[2020-02-06 09:59] DixitArora-MSFT commented on #47369
@ajklotz The recommended way to disable a function is by using an app setting in the format AzureWebJobs.<FUNCTION_NAME>.Disabled. You can create and modify this application setting in a number of ways, including by using the Azure CLI and from your function's Manage tab in the Azure portal.

**Use the Azure CLI**

In the Azure CLI, you use the [az functionapp config appsettings set ](https://docs

[2020-02-06 10:00] AnjaniChallamcherla opened #47559 "Could not load file or assembly 'Microsoft.Extensions.Configuration.Abstractions, Version=3.1.0.0, Culture=neutral, PublicKeyToken=adb9793829ddae60' or one of its dependencies. The system cannot find the file specified."
I was trying to create a table in Azure Cosmos DB using article in https://docs.microsoft.com/en-us/azure/cosmos-db/tutorial-develop-table-dotnet.
I created an Azure Function App in Visual Studio, followed all the steps mentioned in article and ran the code. Initially it throwed error as below,
**Could not load file or assembly 'Microsoft.Extensions.Configuration.Abstractions, Version=3.1.1, Cultu

[2020-02-06 10:00] shashishailaj commented on #46502
@mrmueller Hope you are good. Please let us know if you have any residual queries on the above explanation . If not we will proceed with closure of this thread.

[2020-02-06 10:01] souravmishra-msft commented on #47440
@Silencer0001, closing this thread for now.

[2020-02-06 10:01] #47440 closed

[2020-02-06 10:02] wudong opened #47560 "Data Encryption missing in Portal"
Is the Data Encryption settings available in all regions? Couldn't find it the portal for the instance I created.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6540d683-82a9-27eb-24ec-6c8314289d19
* Version Independent ID: ac2c48cc-aa0e-187a-cbf2-1915b76b9deb
* Content: [Data Encryption for Azure Database for PostgreS

[2020-02-06 10:05] TaekeK commented on #47396
Hi Yoel, I agree with you that there are more claims available with AAD app v2. However, the examples given for single AAD en multi AAD federation have been changed to adapt v2, and suddenly the email address is missing compared to the v1 examples. Since email address is often used in the B2C flows, I would recommend explaining how to add this to your policies, again.
More general, you could expla

[2020-02-06 10:10] rudolfovich opened #47561 "typo"
Typo in 3rd paragraph:

shows **hot** to

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07975975-4348-3096-0639-1a625d1d4fc4
* Version Independent ID: c84ebe3e-40f6-1857-d379-9970e709021f
* Content: [Publish Azure Media Services content using REST](https://docs.microsoft.com/en-us/azure/media-services/previous/media-se

[2020-02-06 10:10] RohitMungi-MSFT commented on #47237
@ManojBableshwar Thanks for checking. I think the confusion might be due to the screen shots in the documentation. The screen shots are from the Azure portal from the workspace resource where they display the same for AKS compute but this option is now not visible in portal as we are moving to ml.azure.com which provides this option to enable app insights for both the AKS and ACI compute. I think

[2020-02-06 10:20] bertrandpons opened #47562 "Azure CDN Standard from Akamai - Feature"
Hello,

I would like to know if it is possible to retrieve client IP address after having gone through the CDN?

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e34a359d-9ba2-a8e3-8391-8dfa780a5c47
* Version Independent ID: f8b7a25e-c8ea-c435-7a96-45cdcfd2e60e
* Content: [Compare Azure Content Delivery Network

[2020-02-06 10:24] CHEEKATLAPRADEEP-MSFT commented on #47561
@rudolfovich Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/103508](https://github.com/MicrosoftDocs/azure-docs-pr/pull/103508)
The changes should be live EOD or tomorrow. We will now close this issue. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to

[2020-02-06 10:24] #47561 closed

[2020-02-06 10:28] SubhashVasarapu-MSFT commented on #47325
@twem , Appreciate your patience. It is listed indirectly in the document say, "Ubuntu 16.04 or later" will be supported platforms.
![image](https://user-images.githubusercontent.com/44890829/73928621-6cf0d300-48f9-11ea-8c1e-1c146a8a678c.png)
We are closing this issue for now.If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-02-06 10:28] #47325 closed

[2020-02-06 10:30] YutongTie-MSFT commented on #47404
@PatrickFarley I can confirm there is difference between the document and the JSON. Could you please help confirm it? Thanks.

[2020-02-06 10:31] YutongTie-MSFT commented on #47408
@PatrickFarley Hi Patrick, I can confirm there is difference between the document and the JSON. Could you please help confirm it? Thanks.

[2020-02-06 10:55] djain1109 opened #47563 "Issue in HomeController.cs File"
Couldn't get IDatabase cache = lazyConnection.GetDatabase(); & lazyConnection.Dispose();
It should be IDatabase cache = lazyConnection.Value.GetDatabase(); & lazyConnection.Value.Dispose();

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91eda09f-d369-1ff4-f458-7374597c9c80
* Version Independent ID: fb963d39-68e2-3510-6

[2020-02-06 11:00] aalewismsft opened #47564 "Encryption Model and key management table is out of date"
The table information is out of date for the following services
-  Azure Table Storage - https://docs.microsoft.com/en-us/azure/storage/common/account-encryption-key-create?toc=%2Fazure%2Fstorage%2Fqueues%2Ftoc.json&tabs=azure-cli
- Azure Queue Storage - https://docs.microsoft.com/en-us/azure/storage/common/account-encryption-key-create?toc=%2Fazure%2Fstorage%2Fqueues%2Ftoc.json&tabs=azure-cli
- A

[2020-02-06 11:15] awbmansour commented on #37247
Dear @msfcolombo

Thanks for your reply. This is interesting information, but I think we need some guidance in the Documentation on how to make this Practically doable.

The runtime workflow that is described is:

Web App issue an authentication with AAD, it receives a MSI Token from AAD.
Web App uses the Token to access AKV to get the Connection String's Secret.

Q1. Where in this workflow should

[2020-02-06 11:20] mavilleg opened #47565 "Pullrequest"
Could you add something about the dimensions monitored by the healthprobe because all of my customers asked me about it and did not find any information on it. Thanks in advance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fabcb1d6-d6df-23a8-6258-d8cc3600804c
* Version Independent ID: 3a6cab2e-d26b-3a60-f9ef-ad85c53

[2020-02-06 11:23] RohitMungi-MSFT commented on #47535
@kubasiak We have created a pull request [103509](https://github.com/MicrosoftDocs/azure-docs-pr/pull/103509) to address the issue with the incorrect estimator variable.

Regarding the cluster specification here are more details from tensor flow [documentation ](https://www.tensorflow.org/guide/distributed_training#TF_CONFIG) to set it as a environment variable during your training or in your trai

[2020-02-06 11:25] yoelhor commented on #47396
Yes, we are updating the docs with this extra septs to expose the first name, last name and email. I'll keep you posted soon.

[2020-02-06 11:41] msrini-MSFT commented on #47562
@bertrandpons , Thank you for your feedback. We will investigate and get back to you shortly.

[2020-02-06 11:41] sumitt18 opened #47566 "How to "Add redirect URIs to service principals"?"
The linked article https://docs.microsoft.com/en-us/azure/active-directory/develop/app-objects-and-service-principals#application-and-service-principal-relationship in section https://docs.microsoft.com/en-us/azure/active-directory/develop/reply-url#add-redirect-uris-to-service-principals does not provide any guidance on how to add redirect URIs with wildcards to the service principal. How to do s

[2020-02-06 11:44] NavtejSaini-MSFT commented on #47331
@dav3thompson  We have edited the document using https://github.com/MicrosoftDocs/azure-docs-pr/pull/103510
Once approved changes will reflect in approx 24 hours.

[2020-02-06 11:46] NavtejSaini-MSFT commented on #47555
@FredFaust We are checking this and will get back to you.

[2020-02-06 11:47] NavtejSaini-MSFT commented on #47560
@wudong We are checking this and will get back to you.

[2020-02-06 11:47] NavtejSaini-MSFT commented on #47563
@djain1109 We are checking this and will get back to you.

[2020-02-06 12:01] VinothJeyaraman55 commented on #46760
We support only key authentication to connect to storage account.

[2020-02-06 12:03] adityabalaji-msft commented on #46760
Hi @NoShet - We support only key authentication to connect to storage account.

[2020-02-06 12:03] adityabalaji-msft commented on #46760
#please-close

[2020-02-06 12:04] #46760 closed

[2020-02-06 12:06] elliot-labs commented on #37727
Hi Cegganesh84,

The bastion host resource only offers HTML to RDP/SSH.
It does not expose the RDP/SSH to you directly.
It runs only from the web browser.
Because of this a socks tunel (ssh tunnel) is not possible to a bastion host from an admin machine.

Thanks!

[2020-02-06 12:10] qusp66 opened #47568 "your text is incorrect"
&lt;quote&gt;
Query expressions
A query on message body needs to be prefixed with the $twin. Your query expression can also
&lt;/quote&gt;
You need to change this because queries on twin should be prefixed with $twin

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8be1f717-4e46-0a00-b4e3-823245834d3e
* Version Independe

[2020-02-06 12:11] beniluul commented on #47074
@jeevansd @MarileeTurscak-MSFT
Let me know if there's a way for me to send you an updated draft (_of https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/halogen-software-tutorial_) as Word doc or html or something. Maybe that will help for your team to just approve the updates and publish it.

[2020-02-06 12:27] mikewo opened #47570 "Requesting additional information on setting Stack in general settings"
The documentation discusses the ability to choose the stack settings under the General settings, but in practice it's not clear what this does. We have several ASP.NET Core 3.X apps running in Azure App Service on Windows; however, looking at the Stack Settings in the App service they are showing Stack .NET and version 4.7. The apps are running just fine as far as we can tell, and when I look at t

[2020-02-06 12:48] onkarthg commented on #46954
hey i checked all tags but the issue is not resolve.

[2020-02-06 12:48] cagrimunyas commented on #47436
I've just checked. I confirm that the issue is resolved. I'm attaching the
screenshots(English and Turkish versions of the doc) from when the issue
existed.

Thanks,
Çağrı.

On Thu, Feb 6, 2020 at 8:03 AM çağrı münyas <cagrimunyas@gmail.com> wrote:

[2020-02-06 13:00] kaplik opened #47571 "RBAC for Application Gateway with private frontend IP"
Hello,
lets have 1 user and 2 resource groups:
- user have Contributor on RG1
- user have Reader on RG2
- no permissions on subscription level scope

RG2 contains virtual network with subnet.

User will try to deploy Application Gateway to RG1 with private endpoint IP in subnet in network in RG2. Deployment is successful. I would expect error during the deployment, because user don't have "Microso

[2020-02-06 13:05] SteveColegrove commented on #47132
1. Understood

2. All but 2 of the 250 templates were created before ITSMC was connected to this Service Manager instance.  The 2 templates that were created after, which are intended to be used by the Action Group to create an IR or SR in Service Manager, are not appearing, and the 3 which are available as options on the ITSM Action Group are preexisting templates.  I have deleted and recreated t

[2020-02-06 13:05] AshokPeddakotla-MSFT commented on #47568
@qusp66 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-02-06 13:12] RossLyonsHF opened #47572 "Groups - The following scenarios DO NOT supported nested groups"
The following should be amended in this document:

"Group-based licensing (assigning a license automatically to all members of a group)"

I believe is now available, as I am assigning licenses this way currently successfully.

Thanks,
Ross

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42a0b4cb-1981-1cbc-ce2c-dbfd8af15

[2020-02-06 13:20] BhargaviAnnadevara-MSFT commented on #47288
@GilShalit Any luck?

[2020-02-06 13:22] BhargaviAnnadevara-MSFT commented on #47297
@abymsft Any update here?

[2020-02-06 13:23] md42 opened #47573 "having gitignore in __app__ folder does not make sense"
I would keep it outside as e.g. ".vscode" Folder is also in gitignore which is outside __app__ folder

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d955d169-8fb8-c511-8911-3e49f95c5ce6
* Version Independent ID: 8a3d927c-51ce-d7d4-e5d1-acd928826db2
* Content: [Python developer reference for Azure Functions](https://doc

[2020-02-06 13:25] md42 commented on #47573
seems this is a dup to https://github.com/MicrosoftDocs/azure-docs/issues/43754

[2020-02-06 13:25] #47573 closed

[2020-02-06 13:25] reallydontask commented on #36505
Basically this:

`"linuxFxVersion": "DOCKER|<myregistry>.azurecr.io/<myrepo>:<mytag>"`

[2020-02-06 13:27] BhargaviAnnadevara-MSFT commented on #47298
@abymsft Have you had a chance to check this?

[2020-02-06 13:42] robburton58 commented on #41479
Can the process for reclaiming an orphaned organization be explained in detail.

The following is in place: Azure Devops administrator role yet when I attempt to access the organisation I get A REQUEST TO THE ADMINISTRATOR page and I know that the administrator no longer exists in the Active Directory.

[2020-02-06 13:43] robburton58 opened #47574 "Azure Devops Administrator - Reclaim Orphaned Organisation"
Can the process for reclaiming an orphaned organization be explained in detail.

The following is in place: Azure Devops administrator role yet when I attempt to access the organisation I get A REQUEST TO THE ADMINISTRATOR page and I know that the administrator no longer exists in the Active Directory.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-02-06 14:01] TomArcherMsft commented on #46954
@onkarthg I started looking at this yesterday and should have a reply for you today. Thanks for bringing this to my attention.

[2020-02-06 14:01] marawanshalaby opened #47575 "Choosing tokenizer version"
I can't find any documentation about how to specify the "1.0.2" version as the version of the tokenizer to use for `de-de`. There is no such option in the UI and the json schema for a LUIS app doesn't include a tokenizer field https://github.com/microsoft/botbuilder-tools/blob/master/packages/LUIS/swagger/LUIS-Authoring.json#L8500

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2020-02-06 14:01] jakaruna-MSFT commented on #47558
@AlexanderViken
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-06 14:07] gomateus opened #47576 "Cannot create a message endpoint if storage account is created in South Afrcia North region"
I've done the test by creating two storage accounts (both Storage v2 but one Premium and the other Standard) and it is indeed not possible to subscribe to Storage events from storage accounts within the South Africa North region, because the "Events" option is not there. Is this not possible to configure in the South Africa North region? If not, when can we expect this to be available?

---
#### D

[2020-02-06 14:12] TheKangaroo opened #47577 "It's not clear if I have to delete everything in a subscription prior to deletion"
The sentences "Delete all resources and all resource groups. Deleting them is required before you can cancel a subscription." makes it pretty clear, that you have to delete everything in a subscription before you can cancel it.
But later on, the article states, that "After you cancel, your services are disabled. That means your virtual machines are de-allocated, temporary IP addresses are freed, a

[2020-02-06 14:14] crisansou commented on #47068
Hi @femsulu ,

As requested, I sent an email to "Az Community@microsoft.com". Thank you!

Best regards,
Cristina

[2020-02-06 14:18] SubhashVasarapu-MSFT commented on #47565
@mavilleg , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2020-02-06 14:19] SubhashVasarapu-MSFT commented on #47571
@kaplik ,  We are looking into this query and will update you as soon as possible.

[2020-02-06 14:27] Chai-NED commented on #30671
I ran into the same issue yesterday because MFA was turned on for my upn. I got around it by using service principal instead.

[2020-02-06 14:31] tjgalama commented on #36458
Isn't `WEBSITE_CONTENTSHARE` one of the required appsetting when deploying a function App using ARM?

[2020-02-06 14:32] ajklotz commented on #47369
@DixitArora-MSFT I'm well aware of how to do this. In fact, I read the same documentation that this github issue is filed for. Your response doesn't really clarify the problem here but just repeats what the documentation states. What am I missing?

[2020-02-06 14:36] d4md1n opened #47578 "Private DNS Zone resolution over VPN"
Can Private DNS Zone resolution work over Azure virtual network gateway point to point link?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a9fefae-13a3-95c4-b80c-ca5b765548be
* Version Independent ID: c78810af-b35b-5eb6-32ad-e188e394014e
* Content: [Azure Private DNS FAQ](https://docs.microsoft.com/en-us/azure/dns/dn

[2020-02-06 14:36] datasharkNL commented on #37739
Try to use this command:
`sudo npm install --unsafe-perm`

[2020-02-06 14:37] markingmyname commented on #10237
#please-close

[2020-02-06 14:37] #10237 closed

[2020-02-06 14:40] DixitArora-MSFT commented on #47576
Hi @gomateus Thanks for reaching out. We will review and update as appropriate.

[2020-02-06 14:40] shashankkr commented on #47339
@DixitArora-MSFT Sorry for not being clear earlier, I am using the new service bus node js package: https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-nodejs-how-to-use-queues-new-package
I have two questions
a) Does the send method supports retires?
b) What is the success criteria of the send method, right now it does not return any ack if the send is successful

[2020-02-06 14:42] SnehaAgrawal-MSFT commented on #47303
@chaseyangguang Thanks again for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-02-06 14:47] gaikovoi commented on #47518
Hello @Grace-MacJones-MSFT , I suppose yes, this the information I've been looking for.

Could you add a reference to this blog into official documentation?

[2020-02-06 14:47] szymonslipek opened #47579 "Shortcut to other Dashboards"
I want to build "Mother" dashboard with some Azure Monitor workbooks and have possibility to insert shortcuts to other dashboards. For example - Mother dashboard will visualise general resource health status and some general metrics together with tiles ("shortucts") to other dashbords with more detailed data about particular subscriptions or resources. Is there a way to do it?

---
#### Document D

[2020-02-06 14:50] PKingRoch opened #47580 "Metrics Explorer"
Metrics Explorer is deprecated per https://docs.microsoft.com/en-us/azure/azure-monitor/app/metrics-explorer

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93da39f3-c5d3-cce9-0101-784415455e26
* Version Independent ID: f91645ce-b33f-f43e-f5af-69aeb967ae92
* Content: [Azure Monitor data platform - Azure Monitor](https:/

[2020-02-06 14:57] Aitor1972 opened #47581 "Where is documentation for Snapshot Policy"
I haven't yet been given access to ANF on my subscription so I can't take a look at what the Snapshot Policy blade allows. I'm hoping that it will allow scheduling of snapshots and their deletion, so that it can be used for backup on hours/days/weeks/months/years schedules.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2020-02-06 14:57] CHEEKATLAPRADEEP-MSFT commented on #47574
@robburton58  Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content, open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/newthread?prof=required) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community

[2020-02-06 14:59] CHEEKATLAPRADEEP-MSFT commented on #47559
@AnjaniChallamcherla  Thanks for the question! We are investigating and will update you shortly.

[2020-02-06 15:09] damochiz opened #47584 "Compute Instance can be used for all regions"
The Note on this page shows that Compute Instance is available only for workspaces with a region of North Central US, East US 2, North Europe or UK South. However, it is currently available in all regions. Please correct it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5431c3cc-af53-d7d5-4241-cf3d23d8689e
* Version I

[2020-02-06 15:15] nfgallimore opened #47585 "Missing link to sample project to import"
There is no link to the sample android project

[2020-02-06 15:15] Ayanmullick commented on #47551
Yes @DashleenBhandari-MSFT  , Windows containers running .Net Core 3.1 application. Could you share PowerShell steps documentation for Windows containers?

[2020-02-06 15:23] leela-uppuluri commented on #47437
@AshokPeddakotla-MSFT I was trying with different model and also I have changed the business logic as well which means I have replaced the Anomaly Detection code with my inference code and in the cell where testing the model on Azure Container Instance I was running into error because my inference code is looking for trained_model and an image to run the inference but it couldn't able to find the

[2020-02-06 15:27] diberry commented on #47575
@marawanshalaby Thank you for pointing that out. That will be fixed. #47021

The only place to specify it is in the app.json field - then import the app.json.

tokenizerVersion parameter

#in-progress

[2020-02-06 15:31] Miteshc1 opened #47586 "Need more details on wait-debugger"
Being new to functions this page looked like it would be a good start I was lost at "insert Wait-Debugger" in the code.  It does not say where, what it should look like. so following this and adding this code randomnly at various points in the code shows nothing and the function exists.  would be useful to show what do to exactly as it looks like a good basic example.

[feedback here]

---
#### Do

[2020-02-06 15:47] ermacia91 opened #47587 "LDAPS Certificate Store"
We need confirmation from engineering as to where are the certs placed when configuring LDAPS in AAD DS.
A scenario we ran with a customer as that they removed an existing DS instance and created a new one while keeping a DC hosted in a VM that was attached to the old DS instance, which was attached to the new one.
In this DC we couldn't find the LDAPS server cert in the Computer\Personal store, b

[2020-02-06 15:50] peterpogorski commented on #47459
Hi @hukun01!

Can you please let me know which VM SKU you are trying to use in the VMSS? How many VMs do you have in the VMSS?  To be on Gold Durability it would require that you have at least 7 VMs in the VMSS.

[2020-02-06 15:51] flabbergasted opened #47589 "250 Service Per Cluster Limitation"
Please update the documentation to reflect the fact that windows clusters currently have a limit of 250 services before they start to run into port exhaustion.  Issue detailed here:

https://github.com/Azure/AKS/issues/1375

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1297e121-7cf0-63c1-99b3-87a85d80945b
* Version In

[2020-02-06 15:53] MayMSFT commented on #47524
fixed the redirection

[2020-02-06 15:53] tatroc opened #47590 "Consumption Plan Front End LB scaling limits"
We find this statement in the documentation not to be true.
"Function apps in the same region can be assigned to the same Consumption plan. There's no downside or impact to having multiple apps running in the same Consumption plan. Assigning multiple apps to the same Consumption plan has no impact on resilience, scalability, or reliability of each app."

During load testing phase of software we ha

[2020-02-06 15:55] RohitMungi-MSFT commented on #47524
@MayMSFT Thanks for updating this. @gvashishtha We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-02-06 15:55] #47524 closed

[2020-02-06 15:56] michaelschmit opened #47591 "GuestAndHybridManagement Azure FW Name"
It shows that this service tag can be used as an outbound rule in azure FW, but I don't see it listed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08217244-82bb-13b5-46f7-454801d8f865
* Version Independent ID: 4a8b0a32-bf57-7544-c60d-6b7f250c4477
* Content: [Azure service tags overview](https://docs.microsoft.com/en

[2020-02-06 15:57] ShawnMcGough commented on #47182
@CHEEKATLAPRADEEP-MSFT
@bigdatacamp
You must have at least version `0.2.10` installed. There are earlier versions of `storage-preview` that do not support directory command. Version `0.2.10` requires the Azure CLI >= `2.0.67`. If your Azure CLI is below that, it will install version `0.2.8`, which _does not_ have `directory` support.

Ensure versions by running `az --version`

![image](https://use

[2020-02-06 15:59] michaelschmit commented on #47460
Yes, I am.  Perhaps I should add the FW external IP address to the the IP range?

[2020-02-06 16:01] robburton58 commented on #47574
this is the MS document I am referring to

[2020-02-06 16:02] robburton58 commented on #47574
https://docs.microsoft.com/en-us/azure/devops/organizations/accounts/faq-change-organization-ownership?view=azure-devops

[2020-02-06 16:07] hpsin commented on #47224
@slavizh - I own authentication, please don't open new issues against unrelated teams.

You mention that you've applied the policy "to the Azure AD organization, to the App registration and even to the Service Principal.".

Can you paste the policy that you created here? I will reach out to see if ARM is somehow exempted from this policy, but I am not aware of such an exemption.

[2020-02-06 16:07] mrlerdahl commented on #47563
I had the same issue, I changed it to have  IDatabase cache = lazyConnection.Value.GetDatabase(); & lazyConnection.Value.Dispose();
and works fine for me

[2020-02-06 16:15] timatactia opened #47593 "Worthless"
Great example, how do you use it?  Where does this code go?  Like many examples there is no context.  Please try to understand that this is meant to be a learning experience.  How do you use this with ASP.NET MVC for example.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb440603-950a-c224-f6c9-222ca502d5a5
* Version

[2020-02-06 16:23] ChristopherGLewis commented on #46977
Yes, this is a duplicate.  The original issue has not been addressed - this document page has not been updated since September of 2017

[2020-02-06 16:25] marawanshalaby commented on #47575
hey @diberry thank you very much for your prompt response. Quick followup, I usually use an `.lu` file for my raw utterances, then in my pipeline, I convert it to the `.json` file using ludown/bf-cli . Is there a way to specify the `tokenizerVersion` parameter in the `.lu` file or during the conversion with ludown or bf-cli? I don't see it in the [lu file spec](https://github.com/microsoft/botbuil

[2020-02-06 16:28] SaurabhSharma-MSFT commented on #47564
@aalewismsft Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-02-06 16:28] sumitt18 commented on #47566
This can be achieved using powershell commandlet Set-AzureADServicePrincipal -ObjectId <ObjectId> -ReplyUrls <replyUrls>. Can it be done from the Azure portal?

[2020-02-06 16:28] #47542 closed

[2020-02-06 16:29] bigdatamoore commented on #47465
@CHEEKATLAPRADEEP-MSFT if you look at my log message, that is the command that I am running that is failing.

[2020-02-06 16:31] AlexKelAnova opened #47594 "Does not work - returns an error"
Getting following error in PowerBI:
An error occurred in the ‘’ query. DataSource.Error: Web.Contents failed to get contents from 'https://xxxxxx.cognitiveservices.azure.com/anomalydetector/v1.0/timeseries/entire/detect' (400): BAD REQUEST

While with same settings it works without errors in Azure Notebooks and on https://westus2.dev.cognitive.microsoft.com/docs/services/AnomalyDetector/operations

[2020-02-06 16:31] oising commented on #33157
@SubhashVasarapu-MSFT This needs to be reopened. The App Gateway should never end up in a disabled/broken state like this -- I've hit the same issue again. How can this be escalated? This is not a documentation issue. This is a product quality issue.

[2020-02-06 16:31] bigdatamoore commented on #47182
Ok thanks.  I am unable currently to get the storage-preview extension installed successfully (see my other open issue) so am unable to test this out...

[2020-02-06 16:36] sjthompsonengl commented on #47194
Here is the GET request we are sending for logout:

https://englpublic.b2clogin.com/englpublic.onmicrosoft.com/B2C_1A_ENGL/samlp/sso/logout?SAMLRequest=nZJPj9MwEMXP8Cki3xMnbv7VarIsFFCksgd24cClctxJapHYIeNs9%2BPjeqnocuCwlg%2FWjMbv955mc%2FM0DsEjzKiMrkgSxSQALc1B6b4i3x4%2BhSW5qTcoxmHiO9ObxX6FXwugDdygRu47FVlmzY1AhVyLEZBbye9vv%2Bw4i2I%2BzcYaaQZyNfL%2FCYEIs3VEJGi2FdmzkkmID2nC5KosZAttnmU5SwuQApJVWmZCdAWw1t

[2020-02-06 16:43] ChosenSilver opened #47595 "AndroidManifest.xml is out of date I believe"
As far as I can tell the section on the android manifest file is either slightly out of date, or at least misleading. I was only able to get my redirect to work by using the following in the manifest

&lt;activity android:name="microsoft.identity.client.BrowserTabActivity"&gt;
      &lt;intent-filter&gt;
        &lt;action android:name="android.intent.action.VIEW" /&gt;
        &lt;category androi

[2020-02-06 16:45] MickeJagekrans opened #47596 "Premium plan ARM template deployment example is using an old schema"
The newer schemas have the "sku" property outside of "properties" (same issue as the closed #36839).
Please update to a more recent schema.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1ba8817-3e01-7e84-6c71-b98b131f2927
* Version Independent ID: a7703386-9e83-1075-72ef-f9e63f3dc4de
* Content: [Automate function app

[2020-02-06 16:45] slavizh commented on #47224
It seems I have pasted the wrong link in previous post. This is the link I have used: https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-configurable-token-lifetimes to configure the policy

Example policy I have used:

[code]

I have created the same policy with IsOrganizationDefault to true but still none of the policies I have created didn't exceed the access token

[2020-02-06 16:46] robert4os commented on #47431
Hi, not in the portal either.

RohitMungi-MSFT <notifications@github.com> schrieb am Do., 6. Feb. 2020,
09:13:

[2020-02-06 16:47] hpsin commented on #47224
Thanks - can you also paste the PS you used to apply this to the various levels of your directory, and the URL you're using to request the token? How you are validating the token lifetime would also be good.

Thanks,
Hirsch

[2020-02-06 16:50] DavidRayner commented on #47205
I used to be able to slowly cycle through thousand by thousand (6 months ago). But I now get timeouts after ~10,000 papers.

[code]

A separate issue I've spotted is that the `L` field (paper language) has been removed?

[2020-02-06 16:59] slavizh commented on #47224
Apply on SP level:

[code]
Apply on Application level:
[code]

For this I  was using the Azure AD Preview model.

To issue the access token I am using the following cmdlet from Partner Center module:

[code]

But to be sure that there is nothing specific in the cmdlet that is causing the token to not be issued for longer than 1 hour I have tried also this:

[code]

In the above scenario token is 1

[2020-02-06 17:03] b3nt0 commented on #30898
I've seen this as well. When using custom policy configuration similar to @adriexnet I get an access token that isn't a valid JWT.

When I use a userflow configured to return the idp access token it is correctly formatted. The user flow uses an OpenID Connect identity provider configured with my dev Azure AD tenant.

This configuration sends a JWT:
https://docs.microsoft.com/en-us/azure/active-dir

[2020-02-06 17:03] cbogart opened #47597 "Typo in example Linux/Mac OS command on this page"
The text shows this:

mysql -h mydb.mysql.database.azure.com \ --user user@tenant.onmicrosoft.com@mydb \ --enable-cleartext-plugin \ --password=az account get-access-token --resource-type oss-rdbms --output tsv --query accessToken

But what works for me on Mac OS is this:

export AD_TOKEN=`az account get-access-token --resource-type oss-rdbms --output tsv --query accessToken`
mysql -h mydb.mysql.d

[2020-02-06 17:07] MarkMcGee1 commented on #47484
@Adam-Smith-MSFT, I removed myself from the assignment (I don't know who owns this article).

[2020-02-06 17:11] b-juche commented on #47581
I'm not sure about the support of snapshot policy for Azure NetApp Files.
cc @lichunli-ms and @ntap512 for them to respond.

[2020-02-06 17:14] SaurabhSharma-MSFT commented on #47572
@RossLyonsHF Thanks for the feedback.  I do not think that it is supported yet however  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-02-06 17:16] msrini-MSFT commented on #47578
@d4md1n , Answer to your question is "No". It is mentioned in one of the scenarios [here](https://docs.microsoft.com/en-us/azure/virtual-network/virtual-networks-name-resolution-for-vms-and-role-instances).

[2020-02-06 17:17] SaurabhSharma-MSFT commented on #47350
@fawohlsc As per the product team it seems like a defect in Cloud Shell.  I have assigned this issue to author which will help updating the documentation to reflect this case.

[2020-02-06 17:18] erhopf commented on #47553
#reassign: @oscholz

[2020-02-06 17:19] umeshbarapatre commented on #45071
@keithdv - That's good to hear that NameID and other attributes worked for you. W.r.t Graph API , if you can tell which graph api you are using, then probably I can share my views which can be helpful.

[2020-02-06 17:20] umeshbarapatre commented on #45071
@Noirde  - As Keith confirmed the SAML assertion is successful, we are one step ahead, I can help with Graph API acceptance based on information provided

[2020-02-06 17:20] #47594 closed

[2020-02-06 17:23] SaurabhSharma-MSFT commented on #47512
@PatrickLownds This is a known issue with the cloud shell and the product team will be looking into the same.  In the interim,  the author will be working on it to update the documentation.  Please refer to the below issues for details:
 - [Issue 47143](https://github.com/MicrosoftDocs/azure-docs/issues/47143)
- [Issue 47350](https://github.com/MicrosoftDocs/azure-docs/issues/47350)

[2020-02-06 17:30] solidstore commented on #46412
Is the source available for the test app? We are trying to test SAML with a new B2C app, and getting 404 error when going to:
https://login.microsoftonline.com/te/myb2c.onmicrosoft.com/B2C_1A_signup_signin_saml/samlp/sso/login?&SAMLRequest=xxxxxxxxxxx

[2020-02-06 17:46] BharathNimmala-MSFT commented on #47167
@SquirrelAssassin One of the possiblity of seeing such special characters is related to encoding. Would request you to follow through [this ](https://docs.microsoft.com/en-us/powershell/scripting/components/vscode/understanding-file-encoding?view=powershell-5.1#the-powershell-integrated-scripting-environment-ise) documentation and see if that helps.

Given that the issue called out in this thread

[2020-02-06 17:46] #47167 closed

[2020-02-06 17:50] BharathNimmala-MSFT commented on #47230
@AlexeyBoiko Can you please share additional information on the behavior you see based on above feedback , which would help us to further help you on this issue. Thank You

[2020-02-06 17:52] MaxThom opened #47600 "Telemetry, Logs and Alerts"
Hi,

we are currently investigation the use of TSI PAYG. For now it seems like a great product.
But a few questions remain.

Our devices can send telemetry, logs and alerts. In our current architecture, we have our IotHub with different routes for each type of message.
TSI can only be "plugged" onto the default route of an event hub or an IoT hub.
How do you manage different types of data ? I find

[2020-02-06 17:53] EmanuelYuCorella opened #47601 "Problems with Preregistration Script"
Hello,

I tried to run the preregistration script but I got this message:

"Need a valid system Key to create the backup key"

How can I solve this error?

Regards

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5d16f95-6c6c-aad4-7c98-b434327fee2c
* Version Independent ID: 2de588d0-81a3-ca99-67ab-267e0cdd42ff
* Content

[2020-02-06 17:55] turfday opened #47602 "Out of Date Documentation"
The date of this page is 10/29/2016 so its way old.   The top of the page implies that you should use Microsoft "App Center" for data, authentication, push, etc.  OK.  But App Center data, authentication,  etc. has now been discontinued.   See Microsoft recent blog post of APP Center.  So now what?  This is chasing discountinued products.

---
#### Document Details

⚠ *Do not edit this section. It