[2020-05-20 21:36] HeyItsTodd opened #55304 "Pricing Information"
IMO, any Azure page should explicitly identify the costs, if any, or link to the page which does.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3de928ad-68c6-d30b-bc63-3354b76c149f
* Version Independent ID: cbd03b5d-7f6b-b483-6ddf-4fe4cde5e9ec
* Content: [What is Azure Application Insights? - Azure Monitor](https://do

[2020-05-20 21:37] msmbaldwin commented on #44530
This is listed in unsupported scenarios at the moment, but we intend to roll out support June. At that time we will updated the unsupported scenarios section to remove it. #please-close

[2020-05-20 21:37] #44530 closed

[2020-05-20 21:39] guntaled opened #55305 "Azure Databricks mounts using Azure KeyVault-backed scope -- error after changing SP secret"
Is there a way to refresh mounts (tried dbutils.fs.refreshMounts(), but it does not help with this) and the secrets they use?

Issue:
1.	Mounted ADLS gen2 container using service principal secret as secret from Azure Key Vault-backed secret scope. All good, can access the data.
2.	Rotated secret, updated Azure Key Vault secret. All good, can access the data.
3.	Restarted cluster. Unable to access

[2020-05-20 21:43] guntaled commented on #55305
Mount was done following these recommendations: https://docs.microsoft.com/en-us/azure/databricks/data/data-sources/azure/azure-datalake-gen2#mount-azure-data-lake-gen2

[2020-05-20 21:49] diberry commented on #55292
@Meryg-19 Can you please reproduce the same steps and issue in a web browser with F12/dev tools open, then save to a .HAR file and send the file to LUIS (luservice @ microsoft.com)?

[2020-05-20 21:49] PeterCLu commented on #54398
@krackjack29, a couple of values in the article were incorrect. The documentation has been updated, and you should see the changes live in a few hours.

    az rest --method put --uri https://management.azure.com/subscriptions/<subscription-id>/resourcegroups/<resource-group>/providers/Microsoft.ContainerService/managedClusters/<aks-resource-id>?api-version=2018-11-19 --body @body.json

has been r

[2020-05-20 21:55] Mike-Ubezzi-MSFT commented on #55189
@loarabia We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-05-20 21:55] #55189 closed

[2020-05-20 21:56] julieMSFT commented on #55150
#assign:julieMSFT

[2020-05-20 22:01] julieMSFT commented on #55150
@Zmon3y Hello, thank you for contacting Microsoft. Thank you for notifying us about this link, this is the [correct link ]( https://aka.ms/SynapseSamples). I have updated the link in the document  and you should see it soon. I will close this issue now. The @notification mechanism continues to work even after an item is closed, in case further communication is needed. We hope to hear from you agai

[2020-05-20 22:01] julieMSFT commented on #55150
#please-close

[2020-05-20 22:01] #55150 closed

[2020-05-20 22:03] jeeszacharia commented on #6866
Instead of removing the SignUpSignIn from base policy, rename the Journey in Extension that fixed my problem.

[2020-05-20 22:04] mrbullwinkle commented on #55304
The official location for pricing/costs for Azure Monitor is here: https://azure.microsoft.com/pricing/details/monitor/

Official pricing for any Azure service is here:
https://azure.microsoft.com/pricing/

While we are allowed to talk about pricing/cost in a general sense within the technical docs having only one authoritative location for pricing information is an intentional choice by Microsoft

[2020-05-20 22:04] bruceharrison1984 opened #55306 "Entire objects can be made in to parameters"
It should be stated that properties that are objects can also be parameterized.
Example:
"connectVia": "-:connectVia:object"

In my case I needed to deploy DataFactory before the IR server was available. This results in some strange issues with the default being a string, but it at least bypasses the inital issue

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2020-05-20 22:07] #55293 closed

[2020-05-20 22:10] mrbullwinkle commented on #55304
#assign:mrbullwinkle

[2020-05-20 22:12] kobulloc-MSFT commented on #55304
@HeyItsTodd The pricing page that @mrbullwinkle linked is very useful and more importantly, reliable for up to date information that you can use to plan and budget your projects.  It is highly recommended for any service that you may be interested in.

We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and w

[2020-05-20 22:12] #55304 closed

[2020-05-20 22:14] Mike-Ubezzi-MSFT commented on #55234
@yqxiaxia I am looking for a bit of clarification regarding your request. Are you looking to create a PostgreSQL Server instance from a backup taken from a separate server? The backup available can only be used for the PostgreSQL instance it originated from. If you are looking to restore to a second PostgreSQL Server instance, please use the pg_dump and pg_restore commands to export and restore th

[2020-05-20 22:14] kobulloc-MSFT commented on #55294
@BuddhaBuddy1 Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2020-05-20 22:19] julieMSFT commented on #52517
@jamserra Hello, I have added the addition screenshot to showcase how to create a SQL pool with sample data. It will be visible in the document soon. I will go ahead and close this issue. The @notification mechanism continues to work even after an item is closed, in case further communication is needed. We hope to hear from you again.

[2020-05-20 22:19] julieMSFT commented on #52517
#please-close

[2020-05-20 22:19] #52517 closed

[2020-05-20 22:22] PeterCLu commented on #55239
@oo2316oo Since this appears to be a known issue, I'll proceed to #please-close this issue. If you still need direct assistance, the best way to do so is through a support ticket:

1. Navigate to the Azure portal.
2. Select the support question mark (?).
3. Select Help + support
4. Select New support request

![image](https://user-images.githubusercontent.com/10505176/82503133-8d5e2b00-9aad-11ea-9

[2020-05-20 22:22] #55239 closed

[2020-05-20 22:23] jonels-msft commented on #52084
Sorry, didn't get to it this week. I'll review this next week.

[2020-05-20 22:23] Karishma-Tiwari-MSFT commented on #55250
Thanks for the question. We are currently investigating and will update you shortly.

[2020-05-20 22:33] lisaguthrie commented on #48148
@BuddhaBuddy1 which step 5 is that? The key/value pairs for this article (dynamic refresh) are created in the quickstart that's a prerequisite, and I do see FontSize listed as a key/value to create (it's step #6)

[2020-05-20 22:33] mimckitt commented on #55085
@LukeCarrier just to confirm, you are looking to push two separate scripts to a single VM using the Custom Script Extension correct? Essentially applying two instances of CSE.

We call this out in the Windows section but it looks like it is not called out in the Linux one so I will get that addressed. Apart from that, if you can tell me more about what your end goal is I might be able to suggest s

[2020-05-20 22:36] Karishma-Tiwari-MSFT commented on #45500
Closing this old issue. Let us know if you are still seeing this issue.

[2020-05-20 22:36] #45500 closed

[2020-05-20 22:36] Mike-Ubezzi-MSFT commented on #54916
@LifeRyuto Thank you for the feedback.

[2020-05-20 22:37] Karishma-Tiwari-MSFT commented on #46888
Closing this old issue. Let us know if you are still seeing issues.

[2020-05-20 22:37] #46888 closed

[2020-05-20 22:39] Karishma-Tiwari-MSFT commented on #47058
We will now close this issue as this is an old issue. If you are still seeing this issue, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-05-20 22:39] #47058 closed

[2020-05-20 22:41] kumarigal opened #55307 "API to check if cluster exists before creating it"
Is there an API to check if a cluster exists before creating it? The cluster id is only available after creating a cluster. Was wondering if there is something like "createIfNotExist" using cluster name kind of API, if it already exists then return the clusterId.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e5705b9-

[2020-05-20 22:43] khmerforce commented on #54875
@RohitMungi-MSFT Thank you so much for your reply. I am using directline and not Web Chat at the moment. Also, the chat is for external users which means they do not need authentication to use the bot which is why I'm worry about someone who will use the spam bot to damage my bot and using all of our resources. I created a spam bot and used it on my bot then I checked the metric page for "Request"

[2020-05-20 22:43] himanshusinha-msft commented on #54913
Hello Vishal ,
If you try out the " " in the Null Value it will send an blank on the SQL table .

[2020-05-20 22:43] julakanti16 commented on #26862
Hi, I'm getting same error

	Error Message: 'ActivityRunsOperations' object has no attribute 'query_by_pipeline_run'
Using same piece of code from MSFT portal, python sdk

query_response = adf_client.activity_runs.query_by_pipeline_run(
        rg_name, df_name, pipeline_run.run_id, filter_params)

this is working on my local mac(python 3.5) but when i try to run the same on Oracle Linux machine,

[2020-05-20 22:45] Karishma-Tiwari-MSFT commented on #49411
@yyanev Need your help with confirmation on these customer questions:
Please share your insights. Thanks :)

[2020-05-20 22:47] lisaguthrie commented on #54829
@marcin-vt that is correct. We are looking to introduce an option that will allow you to re-enable the public endpoint, but it is not available yet. I will update the article to make this clear. Thank you for the feedback!

[2020-05-20 22:49] Karishma-Tiwari-MSFT commented on #50628
The extensions in the visual studio will stay as part of your VM storage. You can find information on storage optimized VM sizes here: https://docs.microsoft.com/en-us/azure/virtual-machines/sizes-storage
If you have further questions on how to setup your environment, please post your question here:
https://docs.microsoft.com/en-us/answers/topics/azure-virtual-machines.html

[2020-05-20 22:50] #50628 closed

[2020-05-20 22:51] Karishma-Tiwari-MSFT commented on #52656
Are you still seeing this issue?

[2020-05-20 22:53] Karishma-Tiwari-MSFT commented on #53782
Are you still seeing this issue?

[2020-05-20 22:54] Karishma-Tiwari-MSFT commented on #54903
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-05-20 22:54] #54903 closed

[2020-05-20 22:59] Karishma-Tiwari-MSFT commented on #55233
Thanks for sharing the update.

[2020-05-20 23:00] gopi158 commented on #54398
@PeterCLu thanks for the update, now REST call is able to change the LB type.
` "loadBalancerType": "InternalLoadBalancer"`

[2020-05-20 23:01] himanshusinha-msft commented on #54923
@gehudd-MSFT  : I think that the connection string mentioned is in the corrct format .
https://docs.microsoft.com/en-us/sql/tools/configuration-manager/creating-a-valid-connection-string-using-tcp-ip?view=sql-server-ver15

We are closing this issue  , you can always re-open the issue if you think that appropriate .

[2020-05-20 23:01] #54923 closed

[2020-05-20 23:04] DibyodyutiMondal opened #55308 "Key information about TechnicalProfile missing from reference docs"
This issue is related to the documentation of Technical Profiles.
https://docs.microsoft.com/en-us/azure/active-directory-b2c/technicalprofiles

The sections of this page, that I would like to provide feedback for are
- InputClaims
- OutputClaims

Let us look at the following technical profile from one of the [samples from Microsoft](https://github.com/Azure-Samples/active-directory-b2c-advanced-p

[2020-05-20 23:07] lisaguthrie commented on #55068
@shannonslaton - make sure you've run through the [ASP.NET Core quickstart](https://docs.microsoft.com/en-us/azure/azure-app-configuration/quickstart-aspnet-core-app) first, particularly adding the `Microsoft.Azure.AppConfiguration.AspNetCore` NuGet package.

[2020-05-20 23:07] MarileeTurscak-MSFT commented on #55247
Hi @viresh-contino ,

No, you can not move these across subscriptions. You can move across tenants but not subscriptions.

Hope this helps! https://docs.microsoft.com/en-us/azure/virtual-machines/windows/shared-image-galleries

[2020-05-20 23:08] #55247 closed

[2020-05-20 23:09] himanshusinha-msft commented on #54995
Hello @artisticcheese ,
I think your query is missing some " " " . Can you please review the example here
https://docs.microsoft.com/en-us/azure/data-factory/connector-shopify#shopify-as-source

Please do let me know as to how it goes .

[2020-05-20 23:09] TravisCragg-MSFT commented on #55297
@RonnieQuan Traffic Manager by definition is public facing, and uses DNS to route requests to different endpoints. Private Links are endpoints in your Virtual Network for securely accessing resources outside the Virtual Network without having to traverse the internet.

Can you elaborate more on your question?

[2020-05-20 23:11] LukeCarrier commented on #55085
@mimckitt that's pretty much it -- it at least needs to be called out before others assume this (basic, IMO) feature is implemented.

I'd love to see the limitation removed, but I realise it's beyond the scope odf a docs issue ;-)

[2020-05-20 23:13] himanshusinha-msft commented on #55057
@mcsinghbisht  We have assigned the issue to the content author . @kromerm : Can you please help out here please ?

[2020-05-20 23:13] yyanev commented on #49411
There are currently no plans for xrdp support.

From: Karishma Tiwari - MSFT <notifications@github.com>
Sent: Wednesday, May 20, 2020 3:46 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Yancho Yanev <yyanev@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] xrdp login (#49411)

@yyanev<https://nam06.safelinks.protection.outlook.com/?ur

[2020-05-20 23:14] TravisCragg-MSFT commented on #55298
@RonnieQuan As is described [Here in the How Traffic Manager Works doc](https://docs.microsoft.com/en-us/azure/traffic-manager/traffic-manager-how-it-works),

The endpoint must be public facing to work with Azure Traffic Manager. It might be possible to get this scenario working, but it would not be a supported scenario. You can find [more information about endpoints with Azure Traffic Manager Her

[2020-05-20 23:16] davidsmatlak commented on #54713
@erbalaji Following-up on the question about if you've deployed additional virtual machines in the virtual network (VNet) that has the additional IP addresses? Thanks.

[2020-05-20 23:18] kgremban commented on #36638
lkoppenol, I'm sorry that I dropped the ball on responding to you last August. Since you said in your last message that the problem was solved for you, I'm going to go ahead an close this issue. If you've still been encountering this issue after your last message, please let me know and we can reopen the issue and pick up our conversation again. Thank you.

#please-close

[2020-05-20 23:18] #36638 closed

[2020-05-20 23:20] jahmai commented on #55120
@markjbrown That's great but this issue is not about partition keys, it's about document id's. I realise I made a mistake saying "key" in the original issue, so I'll be very clear about what I mean here:

On this page, it states that Cosmos "Id" property (not "Partition Key") can be 1023 characters:

https://docs.microsoft.com/en-us/azure/cosmos-db/concepts-limits#per-item-limits

![image](https:/

[2020-05-20 23:25] hpsin commented on #55240
@KritikaSingh89 you'll need to provide more details here. You cannot call the token endpoint without an auth code.  If you get an error when you call /authorize, you need to fix the underlying issue that caused that error.  Can you provide more details about that /authorize error?

[2020-05-20 23:27] hpsin commented on #55028
Can you also ensure that you are correctly formatting the password? namely, using x-www-form-urlencoded

[2020-05-20 23:27] binals commented on #54921
Hi,

To add application gateway in front of the firewall, you can add the firewall as a backend to the application gateway to achieve the integration. We are working on adding documentation for this scenario. Default route to an appliance is currently not supported on application gateway v2.

[2020-05-20 23:31] lisaguthrie commented on #54156
@CarlosOnline got it -- noted for future discussions around providing this functionality in App Service.

#please-close

[2020-05-20 23:32] #54156 closed

[2020-05-20 23:32] TravisCragg-MSFT commented on #55186
@Gurpreet103 Thanks for the follow up!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-20 23:32] #55186 closed

[2020-05-20 23:39] RonnieQuan commented on #55297
@TravisCragg-MSFT
We are searching an Azure service to support cross region load balancing for DR/resilience.
Traffic manager is the only service supports cross region.
but our endpoint/workload runs on IaaS and resides in our private vnet.
and we don't intend to exposed our endpoint to public internet.

That's why I ask if traffic manager can be accessed via private endpoint.

[2020-05-20 23:48] mbialecka commented on #51800
@levi106 I now see the problem. It looks like an issue with the Blob Storage SDK. Please follow up here: https://github.com/Azure/azure-sdk-for-net/issues/10539

I was also able to find a workaround. If you create container client from storage account client the URI seems to be formed correctly:
[code]
I hope this helps.

[2020-05-20 23:52] DibyodyutiMondal commented on #55047
I find that there is an "Expose an API" under the "Manage" section of the blade. (I was following the instructions for the "Applications (Preview)" part)

[2020-05-21 00:07] TravisCragg-MSFT commented on #55297
I believe this is answered in [issue #55298](https://github.com/MicrosoftDocs/azure-docs/issues/55298). Please let me know if you have any additional questions.

[2020-05-21 00:08] crisansou opened #55309 "How to give access to a subdirectory?"
Hello,

I'm trying to give access to a subdirectory, but access is only granted in the subdirectory, in previous directories access is not granted. Can someone help me please?

Below is the step by step:

**Data Lake Structure**

![image](https://user-images.githubusercontent.com/29444086/82509442-49cfe500-9ade-11ea-8c77-53bf5b3931d7.png)

**Commands**

$resourceGroup = "rg-cmanalytics-dsv-brs"
$d

[2020-05-21 00:22] Karishma-Tiwari-MSFT commented on #50247
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-05-21 00:22] #50247 closed

[2020-05-21 00:27] mike-urnun-msft commented on #55280
@shayannyc25 Thank you for your feedback. There's a binding available for CosmosDB: https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-cosmosdb-v2

However, if you feel strongly about binding support for Azure SQL Database be made available, please upvote the following feature request: https://feedback.azure.com/forums/355860-azure-functions/suggestions/16711846-sql-azure-tr

[2020-05-21 00:27] #55280 closed

[2020-05-21 00:28] Karishma-Tiwari-MSFT commented on #49411
Thanks for confirming.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-05-21 00:28] #49411 closed

[2020-05-21 00:30] Karishma-Tiwari-MSFT commented on #55272
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-05-21 00:34] Karishma-Tiwari-MSFT commented on #55286
You can find more details on Azure free account [here](https://azure.microsoft.com/en-us/free/search/?&ef_id=CjwKCAjwqpP2BRBTEiwAfpiD-9TJ0k3jmEZFCxcVD-o1WeSYc9oojFD7SIQTgX5-Q8f35ssFXZJWixoCSCUQAvD_BwE:G:s&OCID=AID2000128_SEM_CjwKCAjwqpP2BRBTEiwAfpiD-9TJ0k3jmEZFCxcVD-o1WeSYc9oojFD7SIQTgX5-Q8f35ssFXZJWixoCSCUQAvD_BwE:G:s&gclid=CjwKCAjwqpP2BRBTEiwAfpiD-9TJ0k3jmEZFCxcVD-o1WeSYc9oojFD7SIQTgX5-Q8f35ssFX

[2020-05-21 00:36] Karishma-Tiwari-MSFT commented on #55288
Thanks for the question. We are currently investigating and will update you shortly.

[2020-05-21 00:37] Karishma-Tiwari-MSFT commented on #54931
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-05-21 00:37] #54931 closed

[2020-05-21 00:38] Karishma-Tiwari-MSFT commented on #54979
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-05-21 00:38] #54979 closed

[2020-05-21 00:38] Karishma-Tiwari-MSFT commented on #54945
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-05-21 00:38] #54945 closed

[2020-05-21 00:39] #55286 closed

[2020-05-21 00:39] dalmat36 opened #55310 "get_body automatically dequeues message?"
I noticed with the python function code sample that the message is automatically dequeued upon calling get_body... is there a way to manually dequeue the message using function with queue trigger?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f723af92-4ebb-07db-6485-1ceb7422c74b
* Version Independent ID: f33b432f-f14d

[2020-05-21 00:42] Karishma-Tiwari-MSFT commented on #54915
A workaround to secure a partial NC-series VM would be to deploy your workload directly to a container group via ACI. If the GPU-enabled service needs to be accessible to other applications running inside the AKS cluster, you could create a service of type ExternalService (ref: https://kubernetes.io/docs/concepts/services-networking/service/#externalname) in kubernetes which points to the ACI cont

[2020-05-21 00:45] Karishma-Tiwari-MSFT commented on #54381
Thanks for bringing this to our attention. There was an issue with the edit functioanality and thus it took time. I have created a PR with the update, changes will be live shortly.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/115984

Thanks for improving our documentation! Just so you know, it's also possible to make these changes yourself, if you are interested. Doing so will improve our d

[2020-05-21 00:45] #54381 closed

[2020-05-21 01:13] andyzhangx commented on #55080
Unfortunately current slowness is on Azure Compute(CRP) level, here are the main issues:
 - Disk attach/detach latency is high
 - Cluster scale up is slow
   - Parallelization of disk attach/detach in VMSS/VMAS is now only 3

CRP team are working on this, current target date is around Oct this year.

Also, there is a new vhd disk feature based on azure file which could attach/detach disk < 1s, con

[2020-05-21 01:16] turp commented on #47466
@msrini-MSFT - so what was the final resolution? I'm facing a similar problem

[2020-05-21 01:22] mcollier opened #55311 "Readability Suggestions"
This is a good page, but it is very long.  There are two changes which I feel would make this page a bit easier to read, and thus for a developer to find key information quickly.

1. Include a section on configuring monitoring & Application Insights via dependency injection. The page at https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection#logging-services in

[2020-05-21 01:27] KranthiPakala-MSFT commented on #55307
@kumarigal Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate.

[2020-05-21 01:29] KranthiPakala-MSFT commented on #55300
Hi @kosinsky , Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2020-05-21 01:29] KranthiPakala-MSFT commented on #55300
@nabhishek Could you please have a look at the feedback above? - Thanks.

[2020-05-21 01:31] mamccrea commented on #54858
I hope this information has been helpful! If you have any additional questions, please reopen this issue.

#please-close

[2020-05-21 01:31] #54858 closed

[2020-05-21 01:35] spelluru commented on #54160
Updated:
https://docs.microsoft.com/en-us/azure/service-bus-messaging/message-sessions#request-response-pattern

#please-close

[2020-05-21 01:35] #54160 closed

[2020-05-21 01:36] awentzel opened #55312 "Azure Service Principal"
You mention in this page deploying with an Azure Service Principal, however, it would be improved by providing a link to "How to create a Azure Service Principal"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 967b3514-23c5-514d-186f-d901ac94069b
* Version Independent ID: 7a8581b2-feb6-534e-c88d-a0d7c7de7b92
* Content:

[2020-05-21 01:43] rafamerlin opened #55313 "CORS origin mismatch returning an empty 200"
I have an APIM configured with cors like this:

[code]

If I make a request to this APIM sending no Origin headers and no Authorization header as well I'll get a 401, which is expected.

If I make a request sending no Authorization header but sending the origin header as `https://mysite.com/` it will get me a 401, also expected.

If I make a request with no Auth header and any other origin like `h

[2020-05-21 01:50] femsulu commented on #55302
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-05-21 01:50] awentzel opened #55314 "Best practices should consider more details on deploying"
For example.  When using a SP you have to login to Azure in your GH Action.  But, if you are run a high availability application behind Front Door for example, this process would require logging in/out multiple times in your deployment process because you would have one SP per region.

So in this instance using a Publish Profile for each web app itself may be more desirable and eliminate the need

[2020-05-21 02:00] patrickgalbraith commented on #48484
Had the same issue as @dannyh22 above. The full steps to make this work are:

### 1) Create a service principal that uses a client secret credential
In this section, you register your app using the Azure portal, which creates the service principal object in your Azure AD tenant. In this example, you specify a client secret credential, but the portal also supports X509 certificate-based credentials

[2020-05-21 02:01] yqxiaxia commented on #55234
@Mike-Ubezzi-MSFT

Thanks for your reply, base on the document https://docs.microsoft.com/en-us/azure/postgresql/howto-restore-server-portal#geo-restore, it says:

It means we can create a new PostgreSQL server instance with the geo backup, is my understand correct? But as your information:

It makes me confused. Need your help to clarify it. Thanks

[2020-05-21 02:08] Mike-Ubezzi-MSFT commented on #54916
@LifeRyuto Upon further review of this section of the [document](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-networkaccess-overview#ip-vs-virtual-network-firewall-rules), this applies to private IP addresses. There is the [Azure SQL firewall rules](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-firewall-configure) and there is the [VNET Firewall service](http

[2020-05-21 02:11] hwkwicre opened #55315 "Looks like this article isn't complete."
{{Fill ADConnectorXML Description}}
{{Fill in the Description}}
{{ Add example description here }}
Lots of things like that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb9977f6-930f-88e5-556c-9ad44143c77e
* Version Independent ID: 613fbf21-62b0-63f2-5329-29167b34bf8d
* Content: [Azure AD Connect: ADSyncTools PowerS

[2020-05-21 02:13] HarshUpadhyay-MSFT opened #55316 "Local environment setup step 3 causes step 4 to fail"
If step 3 is followed and an ipykernel installed prior, `pip install azureml-sdk[notebook,automl]` fails:
- first with missing cmake error, solved via `conda install cmake`
- now pip install fails with this error: `ERROR: Could not find a version that satisfies the requirement onnxruntime==1.0.0`

Skipping step 3 caused absolutely no issues. Not even the missing cmake error.

---
#### Document Det

[2020-05-21 02:33] CHEEKATLAPRADEEP-MSFT commented on #55305
@guntaled  Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/topics/azure-databricks.html) or [Stackoverflow](https://stackoverflow.com/questions/tagged/azure-databricks)
Once you post your issue on forums, it will have visibility across the community which is a better suited audien

[2020-05-21 02:41] Vdevtest commented on #55005
Thanks @SaurabhSharma-MSFT
Just to make sure I understood this correctly, so I do not have to setup a whole new Microsoft Account right? I can just use test@outlook.com as the recovery email too? And yes, I do have an iCloud account.
Thanks!

[2020-05-21 02:42] ecfan commented on #55275
These topics are now updated:

* https://docs.microsoft.com/azure/logic-apps/create-managed-service-identity

* https://docs.microsoft.com/azure/logic-apps/logic-apps-securing-a-logic-app#managed-identity-authentication

* https://docs.microsoft.com/azure/logic-apps/logic-apps-azure-functions#enable-authentication-for-azure-functions

[2020-05-21 02:43] PRMerger17 commented on #55275
ecfan is already assigned.

[2020-05-21 02:43] PRMerger17 commented on #55275
ecfan is already assigned.

[2020-05-21 02:45] ecfan commented on #55275
@mike-urnun-msft: #please-close

[2020-05-21 02:45] #55275 closed

[2020-05-21 02:49] ecfan commented on #54975
@nthewara, thanks for reaching out. I'm running your proposed edits by the engineering team.

[2020-05-21 02:50] ecfan commented on #54975
#assign @ecfan

[2020-05-21 02:53] nthewara commented on #54975
Thanks for the update @ecfan

[2020-05-21 02:55] OrawanO opened #55318 "Does data control and responsibility by the customer or Microsoft?"
Because I found different 3 sources of Microsoft, some o365 control by customer. Some control by Microsoft. I confuse.
Does data control and responsibility by the customer or Microsoft?

https://docs.microsoft.com/en-us/microsoft-365/enterprise/ebcm-customer-and-cloud-partner-ebcm-responsibilities?view=o365-worldwide

https://www.microsoft.com/security/blog/2018/06/19/driving-data-security-is-a-sh

[2020-05-21 02:58] echurchm opened #55319 "Sample not working"
The sample for local logging is not working.  It did nothing until I added the line:
  telemetry.logs.local: localsyslog

Now that I added that line I get the error:
 ---&gt; System.Configuration.ConfigurationErrorsException: Log endpoint must be specified either as absolute file path or IP address/hostname and port number.

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2020-05-21 03:05] SnehaAgrawal-MSFT commented on #55314
@awentzel Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-21 03:06] DixitArora-MSFT commented on #55291
Hi @boreys Thanks for reaching out. We will review and update as appropriate.

[2020-05-21 03:06] SnehaAgrawal-MSFT commented on #55312
@awentzel Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-21 03:06] DixitArora-MSFT commented on #55295
Hi @zgirod Thanks for reaching out. We will review and update as appropriate.

[2020-05-21 03:08] DixitArora-MSFT commented on #55301
Hi @norman-v I have assigned this to content author for further review and update as appropriate.

[2020-05-21 03:09] DixitArora-MSFT commented on #55310
Hi @dalmat36 Thanks for reaching out. We will review and update as appropriate.

[2020-05-21 03:11] DixitArora-MSFT commented on #55311
Hi @mcollier I have assigned this to content author for further review and update as appropriate.

[2020-05-21 03:13] DixitArora-MSFT commented on #55313
@vladvino Appreciate your inputs in this.

[2020-05-21 03:14] DixitArora-MSFT commented on #55319
@miaojiang Appreciate your inputs in this.

[2020-05-21 03:15] Mike-Ubezzi-MSFT commented on #55234
@yqxiaxia And the initial PostgreSQL instance was configured for `Geo-Redundant` in the `Backup Retention Period` section? Is the region for which you are wanting to deploy the second server a [paired region](https://docs.microsoft.com/en-us/azure/best-practices-availability-paired-regions#azure-regional-pairs) with the first server region? I think this is why you are not seeing the backup. And ye

[2020-05-21 03:16] AshokPeddakotla-MSFT commented on #54824
@ajaydinakaran Since this is not a documentation issue and this will require some deeper analysis.
Can you please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan,
please reach out @ AZCommunity@microsoft.com with a link to this Doc/Issue as well as your subscription ID and we can help get the support ticket opened for this issue.

We will now proceed to

[2020-05-21 03:16] #54824 closed

[2020-05-21 03:19] antonihanus opened #55320 "Secure Score Explanation"
I got rather confused by the explanation.  I think part of the problem is not seeing the column headers above the screenshot underneath:  "For example, the security control called "Apply system updates" has a maximum score of six points, which you can see in the tooltip on the potential increase value of the control:"

This is how I explained it once I understood it:

The max Score for this contro

[2020-05-21 03:20] AshokPeddakotla-MSFT commented on #55105
Please help with the link of document on which above document feedback request is created.

In case your query is not related to document content, please open a new thread in [Q&A forum](https://docs.microsoft.com/en-us/answers/topics/azure-kinect-dk.html) or [Stack Overflow](https://stackoverflow.com/questions/tagged/azurekinect) as it could be better place to get help on your scenario.
These for

[2020-05-21 03:20] #55105 closed

[2020-05-21 03:28] BhargaviAnnadevara-MSFT commented on #55111
@lisaguthrie Thanks for the update.

@SeaDude Thanks again for the feedback. We're tracking this work item internally and will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-05-21 03:28] #55111 closed

[2020-05-21 03:30] #54918 closed

[2020-05-21 03:33] suhas9844 opened #55321 "Error in deployment manifest"
Hi,

Creating the at scale deployment from the portal, puts "1,0" in **schemaVersion** of the **edgeAgent** instead of **"1.0"** in the deployment manifest, which results in invalid property error on edge.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad3731a8-f0df-f1a1-d1a1-e89a769a0908
* Version Independent

[2020-05-21 03:33] BhargaviAnnadevara-MSFT commented on #55261
@eparizzi Thanks again for the feedback. We will now proceed to close this thread, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-05-21 03:33] #55261 closed

[2020-05-21 03:37] amanmcse commented on #55019
@jeevaeastpoint The first person to use PIM should be assigned to Security Administrator and Privileged role administrator roles manually so that he can administer PIM. These roles re not assigned automatically. Global administrator has highest privileges, so you don't need to assign these roles to global admin.
I am updating the document to make this clear. This thread will be closed during the m

[2020-05-21 03:44] gary918 commented on #54819
Thank you, @PeterCLu @ram-msft ! This is very helpful.

[2020-05-21 03:48] SumanthMarigowda-MSFT commented on #55258
@moraiMicrosoft Can you please provide us with the URL of the Azure Doc you are having issues with? We look forward to your reply.

[2020-05-21 03:48] SumanthMarigowda-MSFT commented on #55259
@syed-sohaib7 Can you please provide us with the URL of the Azure Doc you are having issues with? We look forward to your reply.

[2020-05-21 03:49] SumanthMarigowda-MSFT commented on #55264
@Can you please provide us with the URL of the Azure Doc you are having issues with? We look forward to your reply.

[2020-05-21 03:52] SumanthMarigowda-MSFT commented on #55273
@Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-21 03:52] SumanthMarigowda-MSFT commented on #55276
@JTollas Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-21 03:53] SumanthMarigowda-MSFT commented on #55277
@priyankareddy20 Can you please provide us with the URL of the Azure Doc you are having issues with? We look forward to your reply.

[2020-05-21 03:54] SumanthMarigowda-MSFT commented on #55282
@kcnighsurf Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-21 03:54] SumanthMarigowda-MSFT commented on #55284
@suhas9844 Can you please provide us with the URL of the Azure Doc you are having issues with? We look forward to your reply.

[2020-05-21 03:56] SumanthMarigowda-MSFT commented on #55285
@suhas9844 Can you please provide us with the URL of the Azure Doc you are having issues with? We look forward to your reply.

[2020-05-21 03:56] SumanthMarigowda-MSFT commented on #55289
@challengelogic Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-21 03:59] priyankareddy20 commented on #55277
I did provide the URL in the issue itself

On Thu, May 21, 2020, 09:23 SumanthMarigowda-MSFT <notifications@github.com>
wrote:

[2020-05-21 04:00] wely opened #55323 "Incorrect description in SQL Database REST API?"
Hi folks,

I am trying to execute a failover REST request following: https://docs.microsoft.com/en-us/rest/api/sql/failovergroups/failover?source=docs

From the doc, it shows that:

![image](https://user-images.githubusercontent.com/1658657/82521956-978a3300-9b5a-11ea-86df-c25cf7369744.png)

Apparently during my testing (via postman), this isn’t not correct.
It’s supposed to be the secondary (targ

[2020-05-21 04:08] ram-msft commented on #55299
@Tirumala-K Thanks for the question. We will update you shortly.

[2020-05-21 04:11] GiftA-MSFT commented on #55316
@HarshUpadhyay-MSFT we will review your feedback and get back to you shortly. Thanks.

[2020-05-21 04:15] ram-msft commented on #54622
@jeffthink Thanks for the details.Currently this feature is on road map. We have forwarded this feedback to our product team. You can also raise a user voice request [here ](https://feedback.azure.com/forums/257792-machine-learning) so the community can vote and provide their feedback, the product team then checks this feedback and implements the feature in future releases.

[2020-05-21 04:16] ram-msft commented on #54622
@jeffthink We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-21 04:16] #54622 closed

[2020-05-21 04:17] asifwaquar commented on #54523
thank you so much Ramya for details ,Yes It was due to VM quota limit issue. Now I am able to deploy .

Regards
Asif

[2020-05-21 04:17] #54523 closed

[2020-05-21 04:23] suhas9844 commented on #55285
@SumanthMarigowda-MSFT I was talking about this doc ... https://docs.microsoft.com/en-us/azure/iot-edge/how-to-register-device

[2020-05-21 04:24] syed-sohaib7 commented on #55259
**Relevant Azure Doc:** [https://docs.microsoft.com/en-us/azure/machine-learning/tutorial-designer-automobile-price-deploy](url)

**Relevant Azure Service:** Azure Machine Learning

_Background_
1. Pipeline runs are used to train models.
2. In order to get predictions from the model, real-time inferencing is used.
3. Every time a model is updated via the pipeline run, it needs to be deployed to fe

[2020-05-21 04:35] vipulsparsh commented on #55020
@AfroDigital I hope you were able to make some progress with the Office team, I will be closing this thread for now, feel free to comment if you need any further help. Thanks

[2020-05-21 04:35] #55020 closed

[2020-05-21 04:35] oshihirii commented on #39665
I am getting the same error as @abraunegg when hosting page on GitHub pages with custom domain.

When I copy and paste the following link I can see the JSON, so I know it is there:

    https://my-domain-here.com/.well-known/microsoft-identity-association.json

![cant_verify_domain_name](https://user-images.githubusercontent.com/5090307/82523458-a4fde800-9b6f-11ea-8cdc-5e48e03fc64f.jpg)

It is jus

[2020-05-21 04:41] abraunegg commented on #39665
@oshihirii , @veler , @neobie
Just to add to this: https://docs.microsoft.com/en-us/answers/questions/13291/publisher-domain-verification-fails-because-verifi.html?childToView=14181#comment-14181

I have attempted to get this resolved in 3 different area's as per above ... all folk appear not interested in fixing this issue.

[2020-05-21 04:55] ElanShudnow opened #55324 "Missing Azure Information Protection"
Missing Azure Information Protection from the table of supported services.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd0472f9-1ed9-0154-3bfd-b25e5da64cd1
* Version Independent ID: 846187d4-c24c-279f-e216-80b6507228b3
* Content: [Microsoft Azure Data Encryption-at-Rest](https://docs.microsoft.com/en-us/azure/securi

[2020-05-21 04:57] DixitArora-MSFT commented on #54972
@EklipZgit Since subnet size can't be changed after assignment, you must use a subnet that's large enough to accommodate whatever scale your app might reach.The **subnet size restricts the total** number of instances that your **Premium plan function app can scale** out to. So the recommendation is to go for 100 available addresses to accommodate future scale requirement.

For now will proceed to

[2020-05-21 04:57] #54972 closed

[2020-05-21 05:10] SadiqhAhmed-MSFT commented on #55006
@v-mohaly We haven't heard back on this. Hence, closing this issue for now.

[2020-05-21 05:10] #55006 closed

[2020-05-21 05:10] DixitArora-MSFT commented on #54973
@EklipZgit The comparison has already given at the start of the document. Just mentioning here if any chance there is a miss.

"For a comparison of the Premium plan and other plan and hosting types, [see function scale and hosting options.](https://docs.microsoft.com/en-us/azure/azure-functions/functions-scale)

![image](https://user-images.githubusercontent.com/46984568/82525621-7112ca80-9b4f-11e

[2020-05-21 05:10] #54973 closed

[2020-05-21 05:18] oshihirii commented on #39665
thanks for the update @abraunegg , yes i can see you and others have been very thorough in researching the issue and articulating all the points, hopefully something is done soon.

i had a thought...to verify the domain another way:

https://docs.microsoft.com/en-us/microsoft-365/admin/setup/add-domain?view=o365-worldwide

So what I did was just complete the first two steps, ie add a text record t

[2020-05-21 05:19] SadiqhAhmed-MSFT commented on #54603
@tescales As of now, we don’t have any plans to show costs on the invoice based on tags. You may create a feedback item for feature request in the [UserVoice forum](https://feedback.azure.com/forums/906772-cost-management) and up vote it. The more individuals that vote for the request, the higher the likely hood it will be implemented.

Closing this issue for now. Feel free to reach out if you hav

[2020-05-21 05:19] #54603 closed

[2020-05-21 05:23] abraunegg commented on #39665
@oshihirii
That process only works if you own the domain and can add a TXT record. If you are hosting the verification JSON on github - via github pages .. you cant follow that process ...

The issue is clear, the solution is clear - MS need to update the validation to ignore charset if it is set .. very easy to do & fix.

[2020-05-21 05:23] DixitArora-MSFT commented on #55042
@lazootkin Just checking if you have gone through this and see if it helps.

https://github.com/Azure-Samples/azure-cosmos-db-change-feed-dotnet-retail-sample/tree/master/ChangeFeedLabSolution

https://towardsdatascience.com/working-with-azure-cosmos-db-in-your-azure-functions-cc4f0f98a44d

[2020-05-21 05:29] oshihirii commented on #39665
@abraunegg - ah sorry, i see, i forgot you didn't have a custom domain for it (i do, but am hosting on GitHub pages as well).  yes, I think your conclusion seems correct.

(in case anyone needs it, and i am sure there are hundreds of other competitors, namesilo.com has cheap domain registration (with DNS management) or you can use a more basic domain registrar and then cloudflare (to add text reco

[2020-05-21 05:43] abraunegg commented on #39665
@FrankHu-MSFT
So .. question is back to you ... when will Microsoft fix this issue ?

[2020-05-21 05:49] #55218 closed

[2020-05-21 05:52] SudheeshGH opened #55325 "Create replica will not work if destination RG is different"
In the Create replica using Az it is written
(Resource-group | myresourcegroup | **The resource group where the replica server will be created.**) for command
az postgres server replica create --name mydemoserver-replica --source-server mydemoserver --resource-group myresourcegroup
But if myresourcegroup  not the same RG as of source server we will fail.

Eg
Lets says i have sudipostgres11 -->is i

[2020-05-21 05:53] Marco-Santoni opened #55326 "Package input missing from YAML task (Linux deploy)"
The yaml task [Linux function app deploy](https://docs.microsoft.com/en-us/azure/azure-functions/functions-how-to-azure-devops?tabs=csharp#linux-function-app) is missing one required input: `package`. Would it be possible to add it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ab62930-d35d-d6d3-8bb7-2ed6b34636bb
* V

[2020-05-21 05:55] SubhashVasarapu-MSFT commented on #55029
@ranabanerjee15 , Appreciate your patience. This issue has been assigned to content author for updating the doc if needed.

[2020-05-21 05:58] RohitMungi-MSFT commented on #54999
@JJ11teen We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-05-21 05:59] jmasengesho opened #55327 "I keep getting an error when i create a private cluster with Azure CLI: --vnet-subnet-id is not a valid Azure resource ID."
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-05-21 06:01] RohitMungi-MSFT commented on #55203
Thats great. @MayMSFT Could you please consider updating the notebook sample link in the next doc update as this seems helpful to users while using ADLS2 setup.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-05-21 06:01] #55203 closed

[2020-05-21 06:01] #55327 closed

[2020-05-21 06:01] jmasengesho commented on #55327
Wrong page

[2020-05-21 06:01] prawin2k opened #55328 "Release annotations - Image Missing"
In the last section of this page, it mentioned that the The following image shows how this marker appears. However, the image is missing. Please add to make it complete

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7247c58-0a2c-a9a2-efa3-caf805fe0e18
* Version Independent ID: cdd6fbf2-43b6-19c5-1dc6-8d1271bccbeb
* Co

[2020-05-21 06:02] jmasengesho opened #55330 "Error with script with Azure CLI"
I keep getting an error when I try to create a private cluster with Azure CLI: "--vnet-subnet-id is not a valid Azure resource ID."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b68f2c4-bb6c-11a2-6c61-8af4057a2438
* Version Independent ID: e3498bed-1447-6841-8353-9f1b5d3dc8df
* Content: [Create a private Azure Kubern

[2020-05-21 06:05] souravmishra-msft commented on #54910
Closing this thread for now.

[2020-05-21 06:05] #54910 closed

[2020-05-21 06:10] souravmishra-msft commented on #54912
Closing this thread for now since no response.

[2020-05-21 06:10] #54912 closed

[2020-05-21 06:13] souravmishra-msft commented on #55243
Closing this thread since no updates

[2020-05-21 06:14] HiltonGiesenow opened #55331 "Alternate Workflow"
Is it possible to run an alternate workflow? I've tried for a bit but can't seem to get it working. I'd like, for instance: (a) publish to staging on checkin to "dev" branch, and publish to prod on checkin to master, or publish to staging on checkin to master, publish to prod on tag. Is this possible with the current version?

---
#### Document Details

⚠ *Do not edit this section. It is required

[2020-05-21 06:18] AjayKumar-MSFT commented on #55331
@HiltonGiesenow, Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-05-21 06:22] priyankareddy20 commented on #55277
https://docs.microsoft.com/en-us/azure/security-center/security-center-permissions

kindly explain the table mentioned w.r.t permissions
I see Security Admin cannot apply the quick fix recommendations is that so??

I  also see, dismiss alerts and recommendations in the table. There is no dismiss recommendations option in ASC.Kindly provide screenshot or steps if there is an option

Subscription Co

[2020-05-21 06:23] HiltonGiesenow commented on #55331
great stuff, thanks!

[2020-05-21 06:23] #55331 closed

[2020-05-21 06:24] HiltonGiesenow commented on #55331
I've also got a feature request - allowing a custom domain for the staging site (I've tried creating a cname, but it didn't work, not sure if I just messed something up, or if it's not supported) - where could I log it as a feature request?

[2020-05-21 06:25] slavizh opened #55332 "Typo: SignInLogs instead of SigninLogs"
In some places there is a typo. SignInLogs instead of SigninLogs . If you copy the table directly from here there is a big differences as Log Analytics is case sensitive on table names and SignInLogs will return error where SigninLogs will return results.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b7f4494-1ed0-73a

[2020-05-21 06:32] VikasPullagura-MSFT commented on #55174
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-05-21 06:32] #55174 closed

[2020-05-21 06:34] VikasPullagura-MSFT commented on #54611
@tomaszms The doc author is working on adding the details of ARO 4.x to the document. The changes will go live soon.

[2020-05-21 06:34] #54611 closed

[2020-05-21 06:35] glprasanna commented on #55243
Hi Sourav,

Thank you for the update. Is it compatible with 8.5.4 ?

First you have mentioned this "JIRA Core and Software: 6.4 to 8.8.0"
Now I can see your comment like "JIRA Core and Software 6.0 to 7.13.3 and 8.0, 8.1.1, 8.2.1, 8.2.4 and 8.5.1"

We are planning for upgrade to 8.5.4 so please confirm 1.0.6 plugin is compatible with 8.5.4 or it is compatible only with 8.5.1

Thanks,
Prasanna

[2020-05-21 06:36] VikasPullagura-MSFT commented on #55033
@SteveLasker Thanks for sharing the details.

[2020-05-21 06:36] VikasPullagura-MSFT commented on #55033
@pnarsi
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-05-21 06:36] #55033 closed

[2020-05-21 06:36] shashishailaj commented on #55296
@garrett-wood Thank you for your feedback . We will have this investigated and update this thread.

[2020-05-21 06:40] BhargaviAnnadevara-MSFT commented on #55328
@prawin2k Thank you very much for bringing this to our attention. I have assigned the issue to the content author to evaluate and update as appropriate.

Meanwhile, please note that annotations should appear as mentioned in [this](https://docs.microsoft.com/en-us/azure/azure-monitor/app/annotations#view-annotations) doc.

[2020-05-21 06:49] shashishailaj commented on #55315
@amanmcse Thank you for your feedback. We will engage the content team and action it accordingly.

[2020-05-21 06:50] codydiehl commented on #53939
That is fantastic, been looking for something like this, surprised to not see it next to or within the existing docs for SAP HA that were mentioned above.

I have since updated the load balancer to use a network rule collection and allowing any port and protocol to AzureCloud service tag, and so far so good. It usually took a day or two to timeout so it was at least mostly functional with https/ht

[2020-05-21 06:52] shashishailaj commented on #55308
@amanmcse Thank you for your inputs. We will have this reviewed with content team and see how best we can incorporate this information.

[2020-05-21 06:55] SeaDude opened #55333 "Missing Azure Function naming restrictions"
Only "function" result on the page is for StreamAnalytics. Need Azure Function naming restrictions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 374ec8eb-64d4-3766-5c5e-39137a262ffd
* Version Independent ID: 3abeeae9-6854-651a-483c-a1673eea9f9f
* Content: [Resource naming restrictions - Azure Resource Manager](https:

[2020-05-21 06:56] shashishailaj commented on #55332
@slavizh Thank you for pointing that out . We will have this reviewed and update the thread.

[2020-05-21 06:58] shashishailaj commented on #55324
@ElanShudnow Thank you for pointing this out . We will have this reviewed and get it updated as required.

[2020-05-21 07:01] shashishailaj commented on #55320
@antonihanus Thank you for your query . We will investigate and update the thread .

[2020-05-21 07:02] shashishailaj commented on #55318
@OrawanO Thank you for your feedback . We will investigate and update the thread .

[2020-05-21 07:08] MonikaReddy-MSFT commented on #54829
@lisaguthrie - Thank you for providing your insights and updating the doc.
@marcin-vt - Thanks again for bringing this to our attention. We have updated the Doc and We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-21 07:08] #54829 closed

[2020-05-21 07:09] asergaz commented on #54519
Hello @johnzy1, sorry for the late response.
Glad things are being more clear now :)!

The value for metadata is metadata.json and the test.txt is just an empty file that will be filled after the POST request. I agree with you that the doc can be enhanced. I will ask @alinamstanciu to take a look at it.

- Can you use the Swagger API, same POST request and see if you have the same outcome? I canno

[2020-05-21 07:09] Meryg-19 commented on #55292
Thank you for your quick reply. It's working now. It may have been a temporary issue.

[2020-05-21 07:10] sabil05 commented on #54747
Hello team,

I also wanted to understand when we set OS auto upgrade for VMSS how will I come to know the OS has been upgraded or not.  I am not able to find that information any of the documentation.

Thanks.

[2020-05-21 07:11] santoshc1 commented on #55253
@EvanBasalik, which part of the document are you referring to?

[2020-05-21 07:24] zhuguang11111 commented on #45303
Could Azure  provides the Mellanox ConnectX-4 network adapter now?

[2020-05-21 07:34] itsorch commented on #54918
Hi Amanmcse, thats not right though, you say you tested it, but was the user an Exchange admin? What were the parameters of the test? This documentation is supposed to help me sort this out, but currently it doesn't. What could possibly be wrong in my tenant that prevents this from working?

[2020-05-21 07:42] shubhammicrosoft1 opened #55336 "Publisher portal is going Legacy"
We only see Developer portal that is going to be continued . However, can we also include publisher portal activities in this developer portal so that Developer/Publisher functionalities can be served using one portal

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54c705a3-b106-e0dd-8f50-a74c3752ab40
* Version Independ

[2020-05-21 07:46] glprasanna commented on #55243
Hi Sourav,
Thank you for the update. Is it compatible with 8.5.4 ?
First you have mentioned this "JIRA Core and Software: 6.4 to 8.8.0"
Now I can see your comment like "JIRA Core and Software 6.0 to 7.13.3 and 8.0, 8.1.1, 8.2.1, 8.2.4 and 8.5.1"
We are planning for upgrade to 8.5.4 so please confirm 1.0.6 plugin is compatible with 8.5.4 or it is compatible only with 8.5.1
Thanks,
Prasanna

[2020-05-21 07:48] nascar3000 opened #55337 "Update 5 information missing"
SS 8600 Update 5 capacity information not exist for max supported pinned volumes table and Q&A section

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa29e9c0-ba0a-ae54-276f-ce792078de97
* Version Independent ID: 7bc78965-2b79-6ee2-4e7b-d5de1ba62d54
* Content: [StorSimple locally pinned volumes FAQ](https://docs.micros

[2020-05-21 07:50] CHEEKATLAPRADEEP-MSFT commented on #55309
@crisansou  Thanks for the question! We are investigating and will update you shortly.

[2020-05-21 07:55] samueljamkhandi-MSFT opened #55338 "Add below script to copy managed snapshots as VHD to a storage account in different region with AZCOPY"
Can you add below script to copy managed snapshots as VHD to a storage account in different region with AZCOPY. I have tested this and it works.

#Provide the subscription Id of the subscription where managed disk is created
$subscriptionId = "yourSubscriptionId"

#Provide the name of your resource group where managed is created
$resourceGroupName ="yourResourceGroupName"

#Provide the managed dis

[2020-05-21 07:56] aks1994 opened #55339 "Attribute name for filename of uploaded file - no documentation around this"
If my users have a single quote in the filename for a while they are uploading via my app gateway, App gateway blocks the request due to 920140: Multipart request body failed strict validation.

Is there an attribute name I can exclude so that the filename of an uploaded file is excluded?

If not, I guess I can disable 920140 but what are the implications of this?

I have hunted through the docume

[2020-05-21 08:06] TheVonguru commented on #43869
This feature is fundamental, especially on Azure gov. When is this finally going to be implemented?

[2020-05-21 08:28] tksh164 opened #55340 "Number of instances of the zone-redundant ExpressRoute gateway"
This meaning a zone-redundant ExpressRoute gateway has three instances in total? If so, three instances are active?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e8b1636d-5e05-ff6a-5412-fff24162ee64
* Version Independent ID: 79fea7c8-d22c-d972-3cc0-f2d52e26a695
* Content: [About zone-redundant virtual network gateways

[2020-05-21 08:36] alfredoniw220 opened #55341 "AADSTS50194: Application is not configured as a multi-tenant application. Usage of the /common endpoint is not supported for such applications created after '10/15/2018'. Use a tenant-specific endpoint or configure the application to be multi-tenant."
AADSTS50194: Application is not configured as a multi-tenant application. Usage of the /common endpoint is not supported for such applications created after '10/15/2018'. Use a tenant-specific endpoint or configure the application to be multi-tenant.

Saludos volvi a tener el mismo problema la verdad no se si sea de configuraciòn de Azure.+

[2020-05-21 08:40] LengZai commented on #45991
Hi,
I got a ticket with MS Support, and indeed the issue is that some client libraries don't force IPv4 (as TcpClient) as the virtual NIC installed on the App Services workers (for regional VNet integration) don't support IPv6.

Since SmtpClient relies on TcpClient, using Mailkit fixed my issue to send e-mail to smtp.office365.com:587.

In the meantime, it will be great that this issue is document

[2020-05-21 08:49] ram-msft commented on #54726
@Tadiuz Please follow below document for compute instances setup.
https://docs.microsoft.com/en-us/azure/machine-learning/concept-compute-instance#managing-a-compute-instance

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-21 08:49] #54726 closed

[2020-05-21 08:59] ajsing commented on #54979
Hi Karishma,

I appreciate your response, Let me have a look into the provided docs and get back you.

[2020-05-21 09:01] frehnejc opened #55342 "Azure Portal vWAN "Getting started" mentions 5 tutorials"
The link in the Azure Portal vWAN blade "Getting started" https://docs.microsoft.com/en-us/azure/virtual-wan/virtual-wan-site-to-site-portal

There are actually 3 tutorials, is there content missing?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 316afee6-13d5-4b73-5224-073b35e69737
* Version Independent ID: be1f6b3f-e

[2020-05-21 09:07] alfredoniw220 commented on #55341
No Quiero obtener el multicliente
import * as Msal from 'msal';

export default class AuthService {
  constructor() {
    let PROD_REDIRECT_URI = 'https://localhost:8080/';
    let redirectUri = window.location.origin;
    if (window.location.hostname !== '127.0.0.1') {
      redirectUri = PROD_REDIRECT_URI;
    }
    this.applicationConfig = {
      clientID: ''ec86a0fa-1ae1-4f2c-bcff-82f71bc069b

[2020-05-21 09:12] amanmcse commented on #55308
@DibyodyutiMondal The information you are looking for is documented here: https://docs.microsoft.com/en-us/azure/active-directory-b2c/self-asserted-technical-profile.

Using OrchestrationSteps you can control which IDP buttons to display on the UI. By default the orchestration step 1 < ClaimsProviderSelections > is responsible for this. Other orchestration steps are used for claims exchange, calli

[2020-05-21 09:13] amanmcse commented on #55028
@m-malik15 Could you please share the above information so that we can investigate the issue.

[2020-05-21 09:14] DixitArora-MSFT commented on #55326
Hi @Marco-Santoni I have assigned this to content author for further review and update as appropriate.

[2020-05-21 09:16] amanmcse commented on #55315
@hwkwicre Thank you for pointing this out. I have assigned it to the author of the document to complete it.

[2020-05-21 09:20] JBines opened #55343 "Conditional Access with a third-party MFA provider"
More information on this requirement is needed. I'd be interested to know how a 3rd party MFA provider could be used on a cloud only non federated account?

"However if Azure MFA is your primary part of authentication for your administrative accounts, then consider a different approach for these, such as using Conditional Access with a third-party MFA provider."

---
#### Document Details

⚠ *Do n

[2020-05-21 09:22] SumanthMarigowda-MSFT commented on #55306
@bruceharrison1984 Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-21 09:30] vipulsparsh commented on #55296
@garrett-wood Installing AAD cloud provisioning agent on server core is not supported. We will add a note to reflect this in document.

@billmath I have created a PR as well for this, please check and update as needed.

[2020-05-21 09:40] SubhashVasarapu-MSFT commented on #54996
@rjisom , Appreciate your patience. It looks like there might be some conflict issue with mac OS Catalina. Generally, IKEV2 P2S is supported for mac OS 10.11 and higher.
I would recommended you to open a support request. If you do not have a support plan, please Email me at azcommunity@microsoft.com with your subscription ID and a link to this post, and I will enable a one-time free support reques

[2020-05-21 09:55] SwathiDhanwada-MSFT commented on #55241
Assigning content authors @tfitzmac @rayne-wiselman for doc-enhancement

[2020-05-21 09:55] saquibm6 opened #55345 "File uploads issue for website on Web App"
Hello team,

We have an issue where when we upload file to our website that is served using Azure Web App (Node JS stack on Linux Web App), it does not work.

1. The issue that we have at this point is the fact that when we upload the file (xlsx), it uploads fine without any errors but the actual data within the file is just not present. The same feature works fine when its done on the local serve

[2020-05-21 09:58] SubhashVasarapu-MSFT commented on #55342
@frehnejc , Thanks for your feedback. Are you mentioning here about the Inter-hub and VNet-to-VNet transiting through the virtual hub?

[2020-05-21 10:02] adityabalaji-msft commented on #54434
@jtuliani - you are correct. The limit is 100 workspaces (across tenants). Have now added it under the penultimate point in the supported scenarios section: https://docs.microsoft.com/azure/backup/configure-reports#supported-scenarios

[2020-05-21 10:03] adityabalaji-msft commented on #54434
Closing this issue for now.. please write back in case of any other questions

[2020-05-21 10:03] adityabalaji-msft commented on #54434
#please-close

[2020-05-21 10:03] #54434 closed

[2020-05-21 10:19] ChiragMishra-MSFT commented on #55067
@joannapea Can you please take a look at this?

[2020-05-21 10:21] ChiragMishra-MSFT commented on #55168
@kevinvngo Can you please take a look at this?

[2020-05-21 10:22] ChiragMishra-MSFT commented on #55121
@nabhishek Can you please take a look at this?

[2020-05-21 10:31] #55341 closed

[2020-05-21 10:42] iinatti opened #55346 "Documentation about deleting Application Insights Profiler"
At section Disable Profiler it is written: "To delete Profiler, go to Extensions." Is this a valid instruction?
I have nothing profiler related under my App Service's Extensions. Does the documentation refer to some other Extensions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c30bf4fa-902a-c12d-179f-1829c0b967be
*

[2020-05-21 10:50] szonp commented on #54398
@PeterCLu I think **loadBalancerType** property is missing here:

https://docs.microsoft.com/en-us/azure/templates/microsoft.machinelearningservices/2018-11-19/workspaces/computes

[2020-05-21 10:53] toffendask opened #55347 "AzureCP vs user.localuserprincipalname"
It’s not clear from the article whether AzureCP is required for the user.localuserprincipalname attribute change to have the intended effect?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: abc120a6-1b98-874a-1cfb-b43456f4a718
* Version Independent ID: 1008851f-9a43-953c-e6c1-269397268c72
* Content: [Tutorial: Azure Act

[2020-05-21 11:04] felipe-conde-benavides opened #55348 "Field clientPort"
I have seen that "clientPort" in same cases is a number but in other cases is a string, this is not a very good approach for doing any kind of post processing job (Like I need to do).

For having a more concise information, could you add a "field type" to any field description? (this applies to all fields)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2020-05-21 11:08] dhheeraj opened #55349 "Multiple web jobs deployed through pipelines are getting replaced with the last deployed item."
Hi team,
i have two web jobs as continues running types. build artifacts are in proper folder structure.
Trying to deploy both web job on same app service through pipeline, replacing the exisiting web job and finnally i can see the last web job as deployed. Out of two only one webjob is deployed (last one)

Can you please help me, what i m doing wrong.

[2020-05-21 11:21] LANETLTD opened #55350 "Diagnostics Logs (classic)"
Hi the article talks about enabling storage logs using the Diagnostic (classic) option.  Is there an explanation why this is called Classic ? Implies it won't be there for long...Should we not be using this now ?  Please can someone clarify..thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30ebd39b-ae34-4988-5694

[2020-05-21 11:41] abhijithkumar123 opened #55351 "Azure Front Door Diagnostics - TotalLatency is lower than BackendRequestLatency?"
We use front door in our project and I observed that 'TotalLatency' metric is sometimes lower than
'BackendRequestLatency'. How's this even possible? Can someone please explain?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62f7409d-5cbe-20d0-e37a-891981ecac97
* Version Independent ID: ad725093-ebd3-ecfc-84c8-e7c19a71

[2020-05-21 11:46] anurag-oss opened #55352 "VMSS update, deploy certs"
In the section update the virtual machine scale set "https://docs.microsoft.com/en-us/azure/service-fabric/scripts/service-fabric-powershell-add-application-certificate#update-the-virtual-machine-scale-set", there is a mention of second and third part.
But there is no clear mention of which is the second part and the third that is being referred to.

---
#### Document Details

⚠ *Do not edit this

[2020-05-21 11:51] shashishailaj commented on #55343
@JBines Thank you for your feedback . We will investigate and update the thread.

[2020-05-21 11:52] shashishailaj commented on #55347
@toffendask Thank you for your feedback. We will have this reviewed with the content team and update the thread.

[2020-05-21 11:55] shashishailaj commented on #55337
@nascar3000 Thank you for pointing that out. We will have this reviewed with  the content team and action it accordingly .

[2020-05-21 11:56] amanmcse commented on #54918
@itsorch I tested with User Administrator role only. I didn't assign any other role.

1. I created a new user in Azure AD using Azure Portal.
2. Assigned only User Administrator role to the user. No Exchange admin or any other role was assigned.
3. Edited profiles of other users in Azure Portal and successfully updated profile picture.

This platform is not for troubleshooting. We use this platfor

[2020-05-21 11:58] mitch1995 opened #55353 "Refresh token always being included in the response"
In the document it states that refresh tokens are "only provided if offline_access scope was requested". However every request I make (using the auth code flow) seems to include a refresh token in the response (even though I haven't included the offline_access scope in the requests).

**Code request:**
[code]

**Token request:**
[code]

**Token response:**
[code]

I have tried many ways to resolve

[2020-05-21 12:01] shashishailaj commented on #55350
@LANETLTD  Thank you for your query. We will investigate and update the thread.

[2020-05-21 12:02] AmitavaHazra opened #55354 "Issue with Train the automatic regression model"
If we run it as per suggested in this doc. it is failing with "azureml-defaults" related package error.

Then I ran pip install azureml-defaults.

After that I ran it again and this time it is creating two run.
one is run type "script" and it is failing with below error.
UserError: User program failed with AttributeError: 'str' object has no attribute 'name'
Then simultaneously another run with ru

[2020-05-21 12:10] haymansfield opened #55355 "Is there any documentation on automating the creation of a SelfHosted integration runtime"
Is there any guidance on automating the creation of a Self-Hosted integration runtime on a provisioned VM?

I have provisioned the VM and also followed this guide on deployment. My deployment fails as the VM is not setup.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e22e4d6-366f-fbf8-e141-8905ca7ab7ae
* Version Inde

[2020-05-21 12:11] VikasPullagura-MSFT commented on #55330
@jmasengesho
Thanks for your Question! We are currently investigating and will get back on this.

[2020-05-21 12:12] amanmcse commented on #55343
@JBines We are currently using Custom Controls in Conditional Access to provide support for 3rd party MFA but we are redesigning this feature to add more functionality. However, Custom Controls will be supported in preview until the new design is completed. Please check below links for more details:

- https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/controls
- https://te

[2020-05-21 12:13] VikasPullagura-MSFT commented on #55338
@samueljamkhandi07
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-05-21 12:14] VikasPullagura-MSFT commented on #55338
@ramankumarlive
Can you please check and add your comments on this doc update request as applicable.

[2020-05-21 12:16] haymansfield commented on #55355
There is plenty:

https://docs.microsoft.com/en-us/azure/data-factory/create-self-hosted-integration-runtime

However I think it might be useful if this page had an info box linking to the integration runtime deployment docs.

[2020-05-21 12:21] AmitavaHazra commented on #55354
If we run it as per suggested in this doc. it is failing with "azureml-defaults" related package error.
Error: User error: Incompatible/Missing packages found: azureml-defaults requires flask==1.0.3 but has Flask 1.1.2.

Then I ran pip install azureml-defaults.

After that I ran it again and this time it is creating two run.
one is run type "script" and it is failing with below error.
UserError: U

[2020-05-21 12:21] JBines commented on #55343
Thanks for the feedback. I nenver thought that would work with non federated accounts. Good to know. I guess when it's released we can add a link in the article.

[2020-05-21 12:26] anurag-oss opened #55356 "Key Vault prereq missing"
In the section update virtual machine scale sets profile https://docs.microsoft.com/en-us/azure/service-fabric/scripts/service-fabric-powershell-add-application-certificate, there is a missing prerequisite; the key-vault should have the policy "Azure Virtual Machines for deployment" set.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2020-05-21 12:30] MonikaReddy-MSFT commented on #55346
@iinatti -Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-05-21 12:32] mcurko commented on #49010
I have the same issue, and I'm using the same AAD tenant.

[2020-05-21 12:32] artisticcheese commented on #54995
In which part of the query do you feel quotes are missing?

[2020-05-21 12:33] JordanSimba opened #55357 "Any plan to support in UK regions?"
Is there any plan to support this vnet deployment of container instances in the UK regions,
South and or West?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c7387c7-c5ea-584a-1463-eeb562b2cf4d
* Version Independent ID: 798fcb07-735e-c79f-6ede-485c671d2364
* Content: [Scenarios to use a virtual network - Azure Contain

[2020-05-21 12:33] #55256 closed

[2020-05-21 12:38] tx5westmt commented on #54585
@SaurabhSharma-MSFT The tenant did already have the converged registration enabled for all users group. I will prepare a fiddler trace but 2 questions:
*the email you referencedl did not include an [at], should it be azcommunity[at]microsoft[dot]com?
*regarding the correlation ID and timestamp are you referring to a microsoft error page? If so, there is no error page, the user account is simply re

[2020-05-21 12:39] #55019 closed

[2020-05-21 12:43] Nayyar0 opened #55358 "user enforced integrity"
I have a question regarding the below line:

After creating a table with primary key or unique constraint in Synapse SQL pool, users need to make sure all values in those columns are unique.

So how do users make sure the values are unique? Previously SQL would have thrown an error on violations of primary or unique constraints but in the above examples it doesn't error and the emphasis is on the

[2020-05-21 12:46] memildin commented on #55320
Thanks, @antonihanus!
I've incorporated some of your text into an updated version of the page which should go live within the next 24hrs.
#please-close

[2020-05-21 12:46] #55320 closed

[2020-05-21 12:47] mathieu-benoit opened #55359 "Wrong repo link as example?"
Under this section https://docs.microsoft.com/en-us/azure/azure-arc/kubernetes/use-gitops-connected-cluster#create-a-configuration, there is the mention of this repo https://github.com/slack/cluster-config, should it be replaced by this one https://github.com/Azure/arc-k8s-demo instead? The latter is the one used in the examples right after.

---
#### Document Details

⚠ *Do not edit this section.

[2020-05-21 12:49] JakubW88 opened #55360 "Metrics CPU/Memory % per instance"
Hi,
Is option to check metrcis by CPU/Memory % but per instance ?

I don't want to se CPU Time becuase I have Standard and Premium AppService Plan but if I have 5-10apps connect to one App Service Plan, I want to check how many CPU % and Memory % teak each application

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2550

[2020-05-21 12:49] mathieu-benoit opened #55361 ""Broken link" to the private GH repo"
Under this section https://docs.microsoft.com/en-us/azure/azure-arc/kubernetes/use-gitops-connected-cluster#create-a-configuration, "Apply configuration from a private git repository" is referencing the private GH repo, it should now refer to the associated section on this exact same page instead: https://docs.microsoft.com/azure/azure-arc/kubernetes/use-gitops-connected-cluster#apply-configuratio

[2020-05-21 12:55] lanicolas opened #55363 "Install Azure Policy Add-on for Azure Arc enabled Kubernetes - Helm Chart Step"
Hello,

I believe there is an error on the procedure on how to deploy the Helm Chart for Arc enabled K8S. On the comment describing the RESOURCE_ID variable there is a mistake.

The example says the format should be:
/subscriptions/&lt;subscriptionId&gt;/resourceGroups/&lt;rg&gt;/Microsoft.Kubernetes/connectedClusters/&lt;clusterName&gt;

However it is missing "providers" it should be something li

[2020-05-21 13:08] #55332 closed

[2020-05-21 13:14] anurag-oss opened #55364 "Open NSG port instruction is missing"
In the section open 443 in load balancer ( https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-tutorial-dotnet-app-enable-https-endpoint#open-port-443-in-the-azure-load-balancer), another step is missing, if we have followed the previous unit(aka 2- Deploy the application); we have to open port 443 in the NSG associated the v-net of VMSS.

---
#### Document Details

⚠ *Do not edit

[2020-05-21 13:15] antonihanus commented on #55320
thank you

Cheers, Antoni

On May 21, 2020, at 05:46, Mel <notifications@github.com> wrote:

﻿

Thanks, @antonihanus<https://github.com/antonihanus>!
I've incorporated some of your text into an updated version of the page which should go live within the next 24hrs.
#please-close

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com

[2020-05-21 13:20] LifeRyuto commented on #54916
@Mike-Ubezzi-MSFT
Thank you for your information. It's okay to close this issue.

[2020-05-21 13:20] dominicbetts commented on #54828
Hi @sschotte - I'm going to close this issue, but feel free to reopen it if you have any further questions. The article has been updated with the link I provided above. Thanks!

#please-close

[2020-05-21 13:20] #54828 closed

[2020-05-21 13:21] dheerajkumar-solanki commented on #52431
Hi, Sorry for the delay, I was trying to find out from which part of the code this problem is starting. I have replicated the scenario for the part which caused the issue.
In below example, 2 datasets are using:
1) sales data (columns: customernumber, material, bill_date, quantity, units, price) [large dataset]
2) customernumber data which is used to filter out sales data [small dataset]

Below is

[2020-05-21 13:22] SubhashVasarapu-MSFT commented on #55348
@felipe-conde-benavides ,  We are looking into this query and will update you as soon as possible.

[2020-05-21 13:24] dominicbetts commented on #54343
Hi @jlorich - I wanted to confirm that you only need to have the `azure-iot` extension installed as it supersedes the `azure-cli-iot-ext` extension. Thanks.

[2020-05-21 13:24] SAIMMINHAS commented on #16033
No one is bothering to reply...!

[2020-05-21 13:26] harryvinod opened #55365 "Basic Load Balancer is created by default when the SKU is not specified in CLI/ARM Template"
The documentation mentions: "By default, the Standard SKU is used when you create an AKS cluster". I think this is only for the portal. However, when an ARM template is used like the one in https://docs.microsoft.com/en-us/azure/templates/microsoft.containerservice/2019-08-01/managedclusters, a Basic SKU LB is created when no parameter is passed for LB SKU. It would clarify if this page is updated

[2020-05-21 13:33] EvanBasalik commented on #55253
See the callout for Storage in https://docs.microsoft.com/en-us/azure/virtual-network/routing-preference-overview#supported-services

From: Santosh Chandwani <notifications@github.com>
Sent: Thursday, May 21, 2020 3:12 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Evan Basalik <Evan.Basalik@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure

[2020-05-21 13:34] saranrajappa opened #55366 "Azure Active Directory integration -Native Active Directory (On-Prem)"
Asking here to use and be in support: Is "Azure Active Directory integration -Native Active Directory (On-Prem)" of Azure Files an storage option for WVD spring 2020?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e4d27a4-b7be-bfea-4dfa-f40f98b1f9b4
* Version Independent ID: b0bf6bef-ad05-b5ac-eced-a820e94867bd
* Cont

[2020-05-21 13:39] SnehaAgrawal-MSFT commented on #54988
@WilliamXieMSFT Thanks for the valuable feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-05-21 13:39] tannis00 commented on #55358
I've been searching everywhere trying to find out how people are dealing with this, and the only answer I've come up with is that they are crossing their fingers. This is totally unacceptable for a DBMS that claims to be enterprise grade.

[2020-05-21 13:44] dheerajkumar-solanki commented on #54902
Hello,
I tried setting this `delta.deletedFileRetentionDuration` table property, but after delted file retention duration the logically deleted files are still there in storage.
After further more investigation, found that `VACUUM operations on Delta tables are not triggered automatically`. It automatically triggers for Spark table not for Delta table.
Below is the documentation link :
[https://do

[2020-05-21 13:45] SwathiDhanwada-MSFT commented on #55246
@HansonChiu1994 Thanks for reporting this. I am currently checking with engineering team and I will update you soon.

[2020-05-21 13:47] StingyJack commented on #55229
@tamram - apparently not. I would have thought that bit of info would be on this page (for "Enabling Versioning") and not at the bottom of some other page. I hope Canada doesn't mind a few temporary digital émigrés.

[2020-05-21 13:47] #55229 closed

[2020-05-21 13:50] sspiro8 opened #55367 "LzLabs - need to recategorize LzLabs to Emulation list"
LzLabs is listed under Code Conversion.  They are more of an Emulation vendor than a code conversion vendor.

Thanks,
Scott

Scott Spiro
Sr. Partner Development Manager
WW Mainframe Transformation Practice Lead
One Commercial Partner
m) (518) 364-2555
e) sspiro@microsoft.com

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2020-05-21 13:51] DCtheGeek commented on #55363
#assign:DCtheGeek

[2020-05-21 13:53] DCtheGeek commented on #55363
Thanks @lanicolas! I believe you are correct. I'll stage an update while confirming with the engineers. Once they confirm and that PR merges, this issue will automatically close.  Thanks for catching and pointing this out!

@MicrosoftDocs/azure-cxp-triage Please label as 'doc-bug' and #in-progress.

[2020-05-21 13:57] garethmorris78 commented on #52758
Having the ability to preserve the Pod IP without the NAT occurring at the node  for egress allows for more granular upstream firewall rules.  I.e. i have an AKS cluster in an Azure VNET connected to express route ... one of my pods needs to contact an on-premise system. I'd need to whitelist all node IPs on the upstream firewall to allow communication. Which is not really secure; yes k8s network

[2020-05-21 14:02] mikoskinen opened #55368 "Restrict by domain?"
Is it possible to restrict the self-service sign-up to only some domains? So that for example users from contoso.com and mycompany.com could sign-up but users from thiscompany.com couldn't.

I suppose this should be configurable on application or on user flow -level. Single global domain restriction on the tenant level probably isn't good enough, because applications have different needs.

---
###

[2020-05-21 14:06] SnehaAgrawal-MSFT commented on #55004
@bhavanikp84 Thanks for the feedback! Could you please share screenshot of this to help you better on this.

[2020-05-21 14:06] SubhashVasarapu-MSFT commented on #55351
@abhijithkumar123 ,  We are looking into this query and will update you as soon as possible.

[2020-05-21 14:06] dstrebel commented on #55359
Yes, good catch this should point to https://github.com/Azure/arc-k8s-demo

[2020-05-21 14:11] CharmanderJieniJieni opened #55369 "Difference between NSG Diagnostic Settings and NSG Flow Logs"
Hi, I am trying to understand the difference between NSG Diagnostic Settings and NSG Flow Logs. Seems both are used to inspect traffic evaluated by NSG rules. Are they for similar purpose?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80ca129e-6ffc-767b-3f1b-3c56cb822e76
* Version Independent ID: 6383735e-1be0-ee09-e3

[2020-05-21 14:14] VikasPullagura-MSFT commented on #55357
@JordanSimba
Thanks for your Question! I am checking with internal team on this and will get back on this.

[2020-05-21 14:17] abhaykhotpal opened #55370 "Get ACL Default scope for owner of a folder in ADLS gen 2 using powershell script"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-05-21 14:18] yqxiaxia commented on #55234
@Mike-Ubezzi-MSFT

Thanks for your reply, The first server created before **three days**, we have already selected `Geo-redundant` in the `backup retention period`, the settings like below:
![image](https://user-images.githubusercontent.com/29936430/82567732-60df0780-9bb0-11ea-917f-e8df4a04958c.png)

And also the first server region is `East US`, and new server region we choose `West US` which is

[2020-05-21 14:19] gehudd-MSFT commented on #54923
@himanshusinha-msft I think that the connection string mentioned is **not** in the correct format. If you use the mentioned format as a parameter within an ARM template deployment the Fully Qualified Domain Name and Database Name attributes of the linked service will be NULL.

Additionally, as _Server_ and _Database_ are not recognized as connection string attributes, they are added as two additio

[2020-05-21 14:19] VikasPullagura-MSFT commented on #55356
@anurag-oss
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-05-21 14:19] VikasPullagura-MSFT commented on #55356
@athinanthny
Can you please check and add your comments on this doc update request as applicable.

[2020-05-21 14:20] VikasPullagura-MSFT commented on #55365
@harryvinod
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-05-21 14:20] VikasPullagura-MSFT commented on #55365
@zr-msft
Can you please check and add your comments on this doc update request as applicable.

[2020-05-21 14:21] SnehaAgrawal-MSFT commented on #55107
@joncloud Thanks for the valuable feedback! As this feature is in preview and team is working on this. I really appreciate you for sharing the steps which helped you on unblocking the issue occurred with an incorrect CAA DNS record, this would certainly benefit other community members.
Thanks again for bringing this to our attention.

[2020-05-21 14:22] blessedwithsins commented on #54945
@Karishma-Tiwari-MSFT Thanks a ton and apologies for delay response. 👍

[2020-05-21 14:23] VikasPullagura-MSFT commented on #55352
@anurag-oss
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-05-21 14:23] VikasPullagura-MSFT commented on #55352
@athinanthny
Can you please check and add your comments on this doc update request as applicable.

[2020-05-21 14:23] mmoioli opened #55371 "location of the resource is required"
I'm following the documentation without any change but when I run az resource create, I obtain this error: location of the resource is required

The location in my json file is correctly set.

[2020-05-21 14:29] EvanMulawski commented on #54462
**SN** appears to be Brussels

Also seeing **BL** in the Boston area.

[2020-05-21 14:33] RohitMungi-MSFT commented on #55354
@AmitavaHazra Are you using a notebook on Azure to run this tutorial? This is most likely an issue with the initial failure that is causing another run to be stuck. Could you please submit your run details along with the error from Azure ML portal from the top right hand corner by clicking the smiley? This would help our team to lookup the issue and contact you on steps to fix the same.

[2020-05-21 14:39] shashishailaj commented on #55324
@msmbaldwin Could you please verify the details about Azure information protection with engineering and add it with relevant information ?

[2020-05-21 14:39] CharmanderJieniJieni opened #55372 "Diagnostic Settings"
In Diagnostics settings section of Virtual network there is a "VMProtectionAlerts" log type. May I know what this is used for?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f03f79a2-923f-3e1a-5e8f-8ce1f5913a56
* Version Independent ID: 6330e3e6-d903-b8f8-370d-e61ff4384d5e
* Content: [Azure Virtual Network](https://doc

[2020-05-21 14:39] SnehaAgrawal-MSFT commented on #55112
@gregdegruy Thanks for asking question! Just to confirm if you have set app settings? As if you're using Azure Container Registry (ACR) for your multi-container deployment, Web App for Containers needs to know how to log into the ACR. We do that with a series of app settings.
(These are set in the App Settings blade in the Azure portal.)

DOCKER_REGISTRY_SERVER_USERNAME - The username for the ACR

[2020-05-21 14:44] Nayyar0 commented on #55358
LOL. Yes I too have been googling and not coming up with much. Am hoping someone can give some insight into this?

[2020-05-21 14:44] gareth-blueprism commented on #41790
@SnehaAgrawal-MSFT is there anything on the issues raised above?

[2020-05-21 14:46] MGoedtel commented on #51379
I've bugged this and am working with engineering to address this in the documentation.  In the meantime, I hope you were able to work around the issue as you described earlier.  #please-close.

[2020-05-21 14:46] #51379 closed

[2020-05-21 14:46] fernandozago opened #55373 "There is a way to delete (internal) cache item using cli tools ?"
My companies security team is requesting us to delete routes that clears cache from APIM.

There is a way to delete or clear cache from any CLI provided by microsoft that we can automate ?

I tried using az and AzApiManagement module.

Thanks in advance.

[2020-05-21 15:01] emacdona commented on #55080
Thanks for the info! I'll check out the vhd disk feature.

[2020-05-21 15:02] diberry commented on #55292
@Meryg-19 Glad to hear it. #please-close

[2020-05-21 15:02] #55292 closed

[2020-05-21 15:10] antopolskiy commented on #47044
Since page is the top result for Google Search "azure queue sdk python", IMO this link to the latest version should be on top of the page.

[2020-05-21 15:22] mgblythe commented on #55290
Thanks @dsv591 - fixed. #please-close

[2020-05-21 15:22] #55290 closed

[2020-05-21 15:25] Andriy-dev commented on #52758
It seems that problem can be fixed by modifying **azure-ip-masq-agent-config** cm. To be more specific, network should be added to "**nonMasqueradeCIDRs**"

[2020-05-21 15:25] #52758 closed

[2020-05-21 15:26] shashishailaj commented on #55104
@WyattBest You can use the command  "**dsregcmd.exe /debug /leave**" for windows current clients.  We have updated the document but the changes will be updated after 3-4 days as per the release cycle. We will now close this issue. In case you have any further queries please tag me to your reply and we will be happy to help .

Thank you.

[2020-05-21 15:35] MGoedtel commented on #54817
@sscchh2001 - Thanks for bringing this to our attention.  This documentation does need to be updated to correct this item and I'll bug this and see if we can squeeze it in this sprint or the next sprint.  I also see some inconsistencies with the corresponding Linux HRW install article, so I'll include that in the work item also.  #please-close

[2020-05-21 15:38] sql-deadwood opened #55376 "Additional flags similar to /XO /XX?"
azcopy copy

https://docs.microsoft.com/en-us/azure/storage/common/storage-ref-azcopy-copy?toc=/azure/storage/blobs/toc.json

In the older version of azcopy (8.1 and lower) there were options which mimicked robocopy flags, specifically `/XO` and `/XX` ("exclude older" and "exclude extra," respectively). The newer `azcopy copy` does not seem to have this functionality. Have these flags been rolled

[2020-05-21 15:41] KrishnaG-MSFT commented on #55333
@SeaDude Thanks for the comment!
Assigning @tfitzmac for visibility, review and document enhancement consideration as appropriate.

[2020-05-21 15:50] sql-deadwood opened #55377 "Azcopy logging"
azcopy

https://docs.microsoft.com/en-us/azure/storage/common/storage-ref-azcopy?toc=/azure/storage/blobs/toc.json

The older version of azcopy (8.1 and prior) included the `/V:` parameter, allowing the user to point the log file to a destination of their choice. The newer version of azcopy includes `--log-level` to specify log verbosity but there doesn't appear to be a way to specify the log file

[2020-05-21 15:53] AmitavaHazra commented on #55354
@RohitMungi-MSFT, I am running this from jupyter notebook.
I have attached feedback as per you suggested.
Awaiting for response.

[2020-05-21 15:59] tfitzmac commented on #55333
@SeaDude - thanks for the feedback. The actual resource type for the function app is Microsoft.Web/sites. I'll add a note that Azure Functions follows that naming restriction.

[2020-05-21 16:05] nihaozh opened #55378 "Insufficient privileges to complete the operation"
Running az aro create encounters a "Insufficient privileges to complete the operation" . Are more permissions required to be assigned? Any help would be greatly appreciated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b9ab474-2ead-2841-31ed-df59e1f83a60
* Version Independent ID: fbc0a299-c4e7-b8fb-1437-5bdfd56978c5

[2020-05-21 16:13] shashishailaj commented on #54971
@jmprieur Could you please verify this statement and update the document as necessary?

Thank you.

[2020-05-21 16:17] vhorne commented on #54467
Added this info to the article.
#please-close

[2020-05-21 16:17] #54467 closed

[2020-05-21 16:18] cephalin commented on #47097
AB#1

[2020-05-21 16:26] asergaz commented on #54965
Hello @erikerikson,
I am sorry for taking some time getting back to you.

It means that, if the reported property on device side changes too fast, eg: {16:26:01 "buttonclickState":"on" ; 16:26:02 "buttonclickState":"off" ; 16:26:03 "buttonclickState":"on"} , it is not guaranteed that _twinChangeEvents_ will route 3 notification messages ... it can send only 1 notification message with all changes,

[2020-05-21 16:26] #55333 closed

[2020-05-21 16:28] jamesread opened #55379 "v3 / v4 Supported node maximums"
Hey folks,

RE the supported node maximums; https://docs.microsoft.com/en-gb/azure/openshift/openshift-faq#what-cluster-operations-are-available

My understanding is that the supported node maximum for v3 is 20, but this has been increased to 250 with v4. Could we look at a doc fix here if this is true? Thanks.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.micros

[2020-05-21 16:31] JimMoyle opened #55380 "New 4800 installation files misnamed"
Hi the agents you download version 1.0.1932.4800 are misnamed they both have a double filename extension

![image](https://user-images.githubusercontent.com/20442811/82581636-c6b79900-9b88-11ea-9af6-d0976109ecf2.png)

they have .msi.msi

This shouldn't matter, but it's definitely an error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-05-21 16:33] ezYakaEagle442 opened #55381 "Private DNS records to be added in the docs with CLI"
At https://docs.microsoft.com/en-us/azure/key-vault/general/private-link-service#establish-a-private-link-connection-to-key-vault-using-cli a step is missing : the Private DNS records should be added, otherwise the nslookup still resolves the Public IP.

See my snippet at https://github.com/ezYakaEagle442/aks-sec-gov/blob/master/setup-kv.md#update-dns-records

[code]

---
#### Document Details

⚠

[2020-05-21 16:38] mike-urnun-msft commented on #55336
@shubhammicrosoft1 Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2020-05-21 16:38] cynthn commented on #16033
#reopen @SAIMMINHAS, the Issue is currently closed, so folks might not be getting notified. I thought this was fixed. Have you tried this recently?

[2020-05-21 16:39] ahahn95 commented on #39423
@nagasandeep I'm looking for this functionality too

@ChiragMishra-MSFT Is there a recommended pattern clear data out of tables before a copy?

[2020-05-21 16:46] v-demjoh commented on #52381
#please-close

[2020-05-21 16:46] #52381 closed

[2020-05-21 16:48] cweining commented on #55346
@iinatti  - Thanks for finding this issue. It should say WebJobs instead of Extensions. I'll fix that right away.

[2020-05-21 16:49] Grace-MacJones-MSFT commented on #54861
Hi @vijayraavi, thanks for your patience.  Upon communicating with the support team, it looks like your issue was reloved and an RCA was provided.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-21 16:49] #54861 closed

[2020-05-21 16:50] MayMSFT commented on #55203
@RohitMungi-MSFT  did you end up using data transfer to transfer data from adlsgen2 to blob?

[2020-05-21 16:50] SatishBoddu-MSFT commented on #55321
@suhas9844 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-21 16:51] KranthiPakala-MSFT commented on #55355
@haymansfield Thanks for the feedback! At the we are reviewing your input, and will provide an update accordingly.

[2020-05-21 16:56] sasever commented on #52719
This command should be  sudo -su oracle

[2020-05-21 17:00] joncloud commented on #55107
For what it's worth I was unable to find a way to manage the `CAA` type records using Azure Portal, and I was required to use the cmdlet.

[2020-05-21 17:00] cweining commented on #55346
@iinatti - One other thing - there isn't a way to delete the profiler any longer. You can stop the webjob, or disable it using the switch on the Application Insights page (see instructions above), but it can't be deleted. When the switch is off, the process does nothing but check to see if it is has been turned on. If the profiler is off, the process goes to sleep for a period of time before check

[2020-05-21 17:01] thisispaulsmith opened #55385 "Using AKS cluster as a backend pool."
It's not particularly clear how requests are routed to backends. I say this because I'm having problems routing to a AKS cluster via it's IP.

Routing HTTPS requests to the backend via HTTP is working however, HTTPS to HTTPS just result in a 503. I've tested the backend directly and it works as expected with a valid certificate. (tested via windows hosts file and IP address). However, since it's f

[2020-05-21 17:02] felickz commented on #5286
Also fun, PATCH is denied.  This is RESTFUL and heavily used in APIs

[2020-05-21 17:05] SaurabhSharma-MSFT commented on #55271
@npigit We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-05-21 17:05] #55271 closed

[2020-05-21 17:06] vhorne commented on #54929
article updated
#please-close

[2020-05-21 17:06] #54929 closed

[2020-05-21 17:06] SaurabhSharma-MSFT commented on #55287
@YassineSOUABNI The PR for the fix has been created and submitted for author's approval. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2020-05-21 17:06] #55287 closed

[2020-05-21 17:09] GiftA-MSFT commented on #54866
@davenull311 thanks for the followup. From your post it is hard to understand if you are getting this error on train or Analyze. If you are referring to analyze, it seems you are sending a blog storage to Analyze, however, analyze accepts a single file as input and can be called in parallel on several files to support batch but that API is file by file.

[2020-05-21 17:12] SNVSNANNAPA opened #55386 "Azure Migrate REST API availability and documentation."
Hi,

Are the Azure Migrate API’s for initiating replication , launching migration tests and migration are ready for public consumption ? Is there a documentation on how to invoke these API’s? Please provide if there is any example available.

[2020-05-21 17:15] Mike-Ubezzi-MSFT commented on #55323
@wely Thank you for bringing this to our attention. The way the REST API docs and functional specs are addressed is through this repository: [azure-rest-api-specs](https://github.com/Azure/azure-rest-api-specs/issues). The dev team will triage and correct both documentation and api issues. This channel does not support REST issues. I apologize for having to redirect you and until we have a better

[2020-05-21 17:15] dragav commented on #8724
Yes, it is closed. The original issue was opened to track a bug in the certificate export flow, which 'succeeded' even when the private key was not exportable. That bug has been fixed, and the cert export will fail in that case.

Mike's point was that the usual certificate provisioning mechanisms available in Azure will install private keys as non-exportable; this is by design, and won't change. A

[2020-05-21 17:20] mrbullwinkle commented on #55328
Thank you so much for pointing this out. The removal of the screenshot was intentional, but the line referencing the screenshot was missed in the removal. I have fixed this internally the change will go-live later today.

[2020-05-21 17:20] mrbullwinkle commented on #55328
#please-close

[2020-05-21 17:20] #55328 closed

[2020-05-21 17:23] kgremban commented on #54478
#reassign:anastasia-ms

[2020-05-21 17:23] Mike-Ubezzi-MSFT commented on #55325
@SudheeshGH Thank you for bringing this to our attention. I am having the product group review this and make an update to the document as appropriate.

[2020-05-21 17:24] priyankareddy20 opened #55387 "Could you please explain what is SKIPPED in Regulatory Compliance in Azure Security Center."
Could you please explain what is SKIPPED in Regulatory Complaince in Azure Security Center. Document for reference: https://docs.microsoft.com/en-us/rest/api/securitycenter/regulatorycomplianceassessments/list I understand Passed and failed status.What does that skip mean? if skipped how do we have to monitor the resources?

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2020-05-21 17:24] cynthn commented on #54528
#please-close Change is in this pull request: https://github.com/MicrosoftDocs/azure-docs-pr/pull/116066

[2020-05-21 17:24] #54528 closed

[2020-05-21 17:25] nathan-given-health-catalyst opened #55388 "How do you run DISM on a sysprep'ed azure vm?"
The instructions on this page seem to be geared towards an Azure VM (the instructions say _in Azure_).  As such, it would be great if the instructions indicated how to run the DISM tool against an azure VM that has been sysprep'ed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d299c34-ffe1-b930-bace-f43c8d8217ca
* Ve

[2020-05-21 17:29] RyanHill-MSFT commented on #55360
Thanks for the feedback @JakubW88! We are currently investigating and will update you shortly.

[2020-05-21 17:36] cynthn commented on #54080
#assign @vikancha

[2020-05-21 17:36] Grace-MacJones-MSFT commented on #54096
I have submitted a PR to update the doc, the change is merged internally and will go-live in the public docs shortly.

[2020-05-21 17:36] #54096 closed

[2020-05-21 17:40] SaurabhSharma-MSFT commented on #54585
@tx5westmt oh.. sorry, yes it should be azcommunity[at]microsoft[dot]com.

[2020-05-21 17:40] DCtheGeek commented on #55363
This has been merged and will publish this afternoon, but automatic close didn't fire.  #please-close

[2020-05-21 17:40] #55363 closed

[2020-05-21 17:40] Grace-MacJones-MSFT commented on #54796
@btardif wanting to confirm if I should add a note in the doc stating "restore-AzDeletedWebApp isn't supported for function apps"?

[2020-05-21 17:42] Mike-Ubezzi-MSFT commented on #54916
@LifeRyuto Please let me know if you have additional questions and I will be happy to answer any additional questions on this topic.

[2020-05-21 17:42] #54916 closed

[2020-05-21 17:45] mrbullwinkle commented on #54953
I have updated the doc to include info on InMemoryChannel and to call out/link to the active issue. The change is merged internally and will go-live later today. Thanks again for helping us to improve the docs!

[2020-05-21 17:45] mrbullwinkle commented on #54953
#please-close

[2020-05-21 17:45] #54953 closed

[2020-05-21 17:46] kodaksmile opened #55390 "syntax errors"
code for create database has a syntax error - should not have spaces before spark - should be %%spark
code block 2 for analyzing taxi data in spark also produces an error but, this code works:
%%pyspark
df = spark.sql("""
   SELECT PassengerCount,
       SUM(TripDistanceMiles) as SumTripDistance,
       AVG(TripDistanceMiles) as AvgTripDistance
   FROM nyctaxi.trip
   WHERE TripDistanceMiles &gt;

[2020-05-21 17:47] MarileeTurscak-MSFT commented on #55002
Closing this as it will be updated within the next week.

[2020-05-21 17:47] #55002 closed

[2020-05-21 17:52] ashishvermapu opened #55391 "Private EndPoint Link Option Doesn't Exist"
As mentioned in this section of the document

https://docs.microsoft.com/en-us/azure/private-link/create-private-endpoint-webapp-portal#create-the-private-endpoint

There is no option to create private endpoint for webapp.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d8fc5319-ac3d-db5d-a3d2-aa0e800a3c7e
* Version Ind

[2020-05-21 17:58] rmchndrng opened #55392 "Add documentation regarding the requirement to re-install the VPN Client after adding a new peered network."
Please add the documentation or a notification toast(flagged as important) describing the need to download and install the VPN Client which has the updated configuration and routes of the newly peered VNet.
A well written blog can be found at https://wmatthyssen.com/2019/12/12/unable-to-connect-to-vms-in-a-peered-vnet-from-a-p2s-vpn/, which saved my day.

---
#### Document Details

⚠ *Do not edit

[2020-05-21 17:59] SaurabhSharma-MSFT commented on #55381
@ezYakaEagle442 Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-21 17:59] myers-dev opened #55393 "Mapping C-TAG to the target VNET ?"
We plan to deploy two separate disconnected environment in Azure - Prod and Dev.  Can we map C-TAG to the separate VNET ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84695fdf-03f1-a3d4-2bec-b17e06102119
* Version Independent ID: 008b4912-3d0a-4fff-577a-d9a3e4dcc9c7
* Content: [About Azure ExpressRoute Direct](https:

[2020-05-21 18:01] SaurabhSharma-MSFT commented on #55353
@mitch1995 Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-21 18:02] SaurabhSharma-MSFT commented on #55368
@mikoskinen Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-21 18:08] tfitzmac commented on #54762
@pauljemmett - thanks for this feedback. I will update the move support article to make sure it is consistent with the Azure Firewall overview. It cannot be moved.

[2020-05-21 18:20] JnHs commented on #45202
Thank you @Christian-e-S for the feedback, and I apologize for the long time to respond. As this is a product question and not a docs issue, I would suggest using the newly announced Docs Q&A forum instead.
https://docs.microsoft.com/en-us/answers/topics/azure-batch.html
Thanks again!
@MicrosoftDocss/azure-cxp-triage #please-close

[2020-05-21 18:20] #45202 closed

[2020-05-21 18:42] DeekshaReddybandari opened #55395 "Does Azure Bastion support classic VNET"
It does not appear to be documented, can it be confirmed that Bastion must use ARM virtual networks and that it will not work with Classic Virtual networks?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a1d3f69-74ba-0ba9-17ba-c7c1086d2662
* Version Independent ID: 7f2680d3-7d10-b253-bdc3-ca661b5da5af
* Content: [Azur

[2020-05-21 18:44] dlepow commented on #55033
I believe the question is answered, so closing the issue. Thanks!
#please-close

[2020-05-21 18:45] mlearned commented on #54750
you would use a self-hosted agent as described here: https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/agents?view=azure-devops&tabs=browser

Doc will get an update stating "cloud hosted agents" aren't suitable at this time

[2020-05-21 18:47] mlearned commented on #54753
@pulkitaggarwl can you comment on this one please?

[2020-05-21 18:53] SnehaGunda commented on #53380
@Rodrigossz I have a PR to update the release notes and samples page to Python V4 SDK:https://github.com/MicrosoftDocs/azure-docs-pr/pull/115574

I am waiting for the SDK team to merge another PR which is dependent on my current PR to merge. The content will go live in a day. We will close this issue now.

#please-close

[2020-05-21 18:53] #53380 closed

[2020-05-21 18:57] tksh164 commented on #55231
@mimckitt - Is the delivery scope of scheduled events really the same for availability set and availability zone? I tried it, but I could not confirm that behavior.

In case of the availability set, the event was notified to **VM1 and VM2** if VM2 reboot. The event has VM2 as "Resources".

- Availability Set
    - VM1
    - VM2

[code]

But, in case of the availability zone, the event was notified

[2020-05-21 19:01] mimckitt commented on #55231
Will confirm and get back to you

[2020-05-21 19:09] mamccrea commented on #55122
Hi @pnarsi! This feature is in public preview. Please see [Get an Azure Active Directory token using a service principal](https://docs.microsoft.com/azure/databricks/dev-tools/api/latest/aad/service-prin-aad-token)

[2020-05-21 19:12] panchagnula commented on #54796
@Grace-MacJones-MSFT my 2 cents here is that Az*WebApp or for Webapps onlyand we don't support or guarantee them to work on FunctionApps. Its for this same reason that in CLI we have AzWebApp & AzFunctionApp commands. Functions team can comment on the support on Powershell but WebApps teams don't own supporting this. Thanks!

[2020-05-21 19:13] pabbinedi opened #55396 "Article is not updated for Sumary Agents"
As per below article it says Log analytics agent also collects Crash Dumps, but this informatoin has not updated in Sumary of Agent section.

https://docs.microsoft.com/en-us/azure/security/benchmarks/security-control-logging-monitoring#24-collect-security-logs-from-operating-systems  (Refer to 2.4: Collect security logs from operating systems).

---
#### Document Details

⚠ *Do not edit this sect

[2020-05-21 19:14] gregdegruy commented on #55112
I have done all this and still face the same issue.

[2020-05-21 19:15] mamccrea commented on #55086
Hi @travis-c-lagrone - I've opened a ticket to have this added to the documentation.

[2020-05-21 19:16] Karishma-Tiwari-MSFT commented on #54915
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-05-21 19:16] #54915 closed

[2020-05-21 19:16] akuchotrani opened #55397 "Question regarding the API"
I have few questions consuming the API.
1) Does the API do the data preprocessing automatically?
       - Does it take care of missing value, noise, etc?
       - Can I visualize the data once it's preprocessed to make sure nothing weird is going on?
2) How does it decide which algorithm to pick out of 5-6 mentioned? As a customer can I decide which algorithm to pick manually?

---
#### Document D

[2020-05-21 19:17] artisticcheese opened #55398 "Need info on what parameter types are allowed in blueprint definition"
So far I can see only "string" and "array" seems to be supported.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7edcb12-a677-c371-2fdf-ed29fcab78e2
* Version Independent ID: fa17c37a-0b32-3bf4-0bdf-9318f07a48f1
* Content: [Use parameters to creating dynamic blueprints - Azure Blueprints](https://docs.microsoft.com/en

[2020-05-21 19:17] Karishma-Tiwari-MSFT commented on #55327
Thanks for the update.

[2020-05-21 19:20] DCtheGeek commented on #55398
#assign:DCtheGeek

[2020-05-21 19:21] DCtheGeek commented on #55398
@artisticcheese Thanks for the question.  The list of supported **TemplateParameterType**'s is in the reference doc here: https://docs.microsoft.com/rest/api/blueprints/blueprints/createorupdate#templateparametertype

@MicrosoftDocs/azure-cxp-triage Please label 'product-question' and #please-close.

[2020-05-21 19:21] #55398 closed

[2020-05-21 19:22] roygara commented on #38708
We've significantly reworked the identity-based authentication story and as such this should be resolved. Also this segment has been removed from this article.

Accordingly:

#please-close

[2020-05-21 19:22] #38708 closed

[2020-05-21 19:22] ADringer opened #55399 "Keep app warm"
Hi, I'm having period performance issues where a request takes a lot longer than usual to process. Looking at the logs it's calling `docker run` at this time which leads me to believe that the app is 'spinning down' due to inactivity and then I get a cold start. Is there a way to keep the app always running? I've enabled 'Always On' via the portal but that has made no difference. Note that this is

[2020-05-21 19:24] Grace-MacJones-MSFT commented on #54128
I have submitted a PR to update doc, the change is merged internally and will go-live in the public docs shortly.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-21 19:24] #54128 closed

[2020-05-21 19:24] ezYakaEagle442 commented on #54304
Whne you create an AKs private cluster and set outbound-type to UDR routing the traffic to Azure Firewall throug ha Route table ,potentially you do not get LB, Public IP neither.

[code]

[2020-05-21 19:30] Grace-MacJones-MSFT commented on #55075
@sethmanheim is there an updated downloadable link for the Windows Azure Messaging Framework?

[2020-05-21 19:35] mslot opened #55400 "Automated database backups are used when you create a database copy"
What does this mean? I am soon going to create a copy of a production database, and i _dont_ want that to become unavailable at any time. I dont care if it is not 1:1 data wise, because I am only going to do some testing. I also dont want to slow down the production sql server. As I understand it, the copy takes the latest backup and restores the database. Is that correct?

What i dont understand

[2020-05-21 19:46] snobles commented on #19293
Would be nice to have a definitive answer. Not everyone who is estimating pricing has authority to navigate the reservation workflow in the portal. I believe you need to be an owner or be assigned access to an existing reservation. So, by not answering the question here, you are limiting the knowledge to people who have high-level subscription permissions.

[2020-05-21 19:52] Seddy24 opened #55402 "SMS verification code"
I have users asking for the ability to choose send verification code to email or phone number during sign up and reset password.
Is this possible?  They don't want the MFA additional step to get the test message.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c8b6c59-f5d7-44c3-2f00-83bbd4b533cb
* Version Inde

[2020-05-21 19:52] mrbullwinkle commented on #54719
This info has been added to the doc. It is merged internally and will go-live later today.

[2020-05-21 19:52] mrbullwinkle commented on #54719
#please-close

[2020-05-21 19:52] #54719 closed

[2020-05-21 19:54] alohaninja opened #55403 "Network Latency for Telemetry Tracking"
[Specifically the section on performance overhead should callout latency sending data](https://docs.microsoft.com/en-us/azure/azure-monitor/app/javascript#sdk-performanceoverhead) - not just the negligible latency retrieving a static asset from CDN.  Is there a way to point to your own backend host that is HTTP/2 compatible to receive the SDK events?

There is significant network latency + perform

[2020-05-21 19:59] mhopkins-msft commented on #54675
Hi @manish-jain-1,

Since I haven't heard back from you in over a week, I'm going to assume you found a resolution and close this issue. If you still have questions, please feel free to reactive.

Thanks,
 ~ *Mark*

#please-close

[2020-05-21 19:59] #54675 closed

[2020-05-21 20:05] soderlind commented on #48177
@amitsriva, any new on this? We're moving 100+ domains to front door at half of them are apex domains.

[2020-05-21 20:06] anastasia-ms commented on #54478
@v-radelg  I was able to reproduce your problem by using the Subscription Key instead of the Primary Key for authentication. If you replace the Subscription Key with Primary Key in the map control, your map should render. I am working on updating the docs to make this clear. Thank you.

[2020-05-21 20:08] contactvikasgupta opened #55405 "Capture az cli command failure"
If any az command like 'az artifacts universal download ***' or 'az artifacts universal publish ***' fails, how to capture error code at bash?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a60d96f9-f869-b3e9-fe07-94b53bd1f136
* Version Independent ID: 5c5bff37-d707-9220-53c1-bc1fe35eef6d
* Content: [Azure Cloud Shell

[2020-05-21 20:08] Marusyk opened #55406 "How to manage IoT Hub connection strings when there are a few instances of IoT Hub in highload systems?"
Hello,

Need help with using many instances of IoT Hub.
Let's say there are 1 DPS service and 4 linked IoT Hub instance. All `Microsoft.Devices.DeviceCreated` events from IoT Hub routes to ServiceBus Topic. Then I have a simple consumer to handle those events and store `deviceId` and `hubName` to the database.

I need to send C2D message. Get device ID from the database and call the direct method.

[2020-05-21 20:22] CarlRabeler commented on #19293
@snobles Look at this pricing page: https://azure.microsoft.com/en-us/pricing/details/sql-database/single/ to see pricing options for the service tiers - you will see that the hyperscale tier qualifies for Azure Hybrid Benefit but not for reserved capacity

[2020-05-21 20:22] MarileeTurscak-MSFT commented on #54932
@fedehermida You can login either with phone number, user name, or email address of a user with that property. The options for that property are listed here: https://docs.microsoft.com/en-us/azure/active-directory-b2c/user-profile-attributes

So you can change it to a user name but I don't believe you can do anything else with that property such as adding authenticator app.

Depending on what you

[2020-05-21 20:22] #54932 closed

[2020-05-21 20:24] cpopolo commented on #31136
5 months later, you're still using this domain to encourage Windows 10 owners to link their phone with their desktop, so that "I never have to email pictures to myself ever again".  So those pictures will be routed through a server in Montserrat?  Thanks, but I figure I'll just download them via USB instead.

[2020-05-21 20:27] PeterCLu commented on #54086
@86mm86, thanks so much for the report. Our content teams have been notified of your request and a task item has been created to address the issue. I'll proceed to #please-close this. You should see the changes live by the end of the month

[2020-05-21 20:27] #54086 closed

[2020-05-21 20:30] femsulu commented on #55369
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-05-21 20:32] tfitzmac commented on #54762
The update should get published later today.

[2020-05-21 20:33] tfitzmac commented on #54762
#please-close

[2020-05-21 20:33] #54762 closed

[2020-05-21 20:33] vpetersen opened #55407 "jwt policies"
We had to add an issuer into the JWT policies for the STS login. The way that I was able to identify the error was configuring application insights to be verbose and monitoring it with live metrics.

&lt;issuers&gt;
     &lt;issuer&gt;https://sts.windows.net/xxxxxxxxxxxxxxxxx/&lt;/issuer&gt;
&lt;/issuers&gt;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2020-05-21 20:35] AjayKumar-MSFT commented on #55331
Hilton, Thanks for additional details. For feature request or any product specific questions, please open an issue directly in the [Static Web Apps](https://github.com/Azure/static-web-apps) Github repo.

@christiannwamba, Any comments on the initial question would be appreciated.

[2020-05-21 20:40] Grace-MacJones-MSFT commented on #54796
Thanks for your input @panchagnula.

I have submitted a PR to update the doc, the change will go-live in the public docs shortly. We will now proceed to close this thread.

[2020-05-21 20:40] #54796 closed

[2020-05-21 20:42] Dan-Co opened #55408 "wvd"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80970cb8-947b-60cb-d28d-f0197cebb803
* Version Independent ID: 031f04e5-03fb-09c7-c7ab-25676ec6bc88
* Content: [Troubleshoot Remote Desktop client Windows Virtual Desktop - Azure](https://docs.microsoft.com/en-us/azure/virtual-desktop/troubleshoot-cli

[2020-05-21 20:42] #55408 closed

[2020-05-21 20:48] snobles commented on #19293
Ok, thanks. Because not everything is implemented for Hyperscale yet, I was unsure whether this page was up-to-date. Thanks for the clarification.

[2020-05-21 20:59] ArvindHarinder1 commented on #53940
Hi all, we are working on two stages to address this.1) Having a dedicated tag for identity that will include all the IP ranges (targeted next month) 2) Releasing a solution that will allow you to deploy an agent on prem and avoid having to open any IP ranges (this is a longer term effort).

[2020-05-21 21:01] tdgray opened #55409 "Throughput values are not in the correct unit"
This document indicates that the throughput limits are in MiB/s. This does not match up with the portal or the ARM schema resulting in the values being incorrect.

A P40 disk created in the portal shows a maximum throughput of 250MB/s, which translates to approximately 238 MiB/s (view on the confiuguration tab of the disk):

ACTUAL PERFORMANCE
IOPS limit	7500
Throughput limit (MB/s)	250

The schem

[2020-05-21 21:02] AjayKumar-MSFT commented on #54950
@nofield, As sebader pointed out you could try the workaround mentioned in the other GitHub thread and let us know if it helps your case.
Your feedback has been shared with the content owner (@mattchenderson) for further review and update the document as appropriate.
Thanks again for taking time to share your valuable feedback with us.

[2020-05-21 21:29] ravick4u opened #55410 "Does my function runs parallal"
Hello,
If my function Schedule is "0 0/1 * * * *" means it will trigger every minute. If function runs more then 1 minute does the next trigger will occur even if the instance of existing function is still running?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4e5181c-002d-33bb-5e9d-02fad30a5d3c
* Version Independent

[2020-05-21 21:33] rolyon commented on #54740
Hi @Emmanuel-Bresson
Thanks for your feedback. There isn't a way to remove a role assignment using a template. A template is meant for deployment. You use other tools (Portal, PowerShell, CLI, REST) to manage the deployed resources.

[2020-05-21 21:45] javerdej opened #55412 "Looking for clarity on Windows Server 2019 Support."
Received feedback from one of our S500 customers that this page did not clearly state support for Windows Server 2019.  Only "Essentials" is named, and the statement "The server must be using Windows Server standard or better."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06faa428-c7b6-ca5c-271e-3f98d9536d4f
* Versio

[2020-05-21 21:47] kobulloc-MSFT commented on #55403
@alohaninja Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2020-05-21 21:51] AjayKumar-MSFT commented on #54909
@SeaDude, Apologies for the delay!
Managed identities for Azure resources is a feature of Azure Active Directory and both Azure App Service and Azure Functions are [supported service](https://docs.microsoft.com/azure/active-directory/managed-identities-azure-resources/overview#how-can-i-use-managed-identities-for-azure-resources). The Azure doc you're referring to outlines steps for both Azure App

[2020-05-21 21:52] tomkuijsten commented on #54411
Did you get the confirmation?

[2020-05-21 21:58] ehashman opened #55413 "Broken table in "Verify your permissions" section"
The table under the "Verify your permissions" heading is currently broken, see attached screenshot.

https://docs.microsoft.com/en-us/azure/openshift/tutorial-create-cluster#verify-your-permissions

![Screenshot at 2020-05-21 14-57-23](https://user-images.githubusercontent.com/4706131/82610555-784bcf80-9b73-11ea-9cfd-7fd7162944be.png)

---
#### Document Details

⚠ *Do not edit this section. It is

[2020-05-21 22:04] v-radelg opened #55414 "RegisterNativeAsync doesn't take 3 args any more"
@Brosten commented on [Thu May 21 2020](https://github.com/MicrosoftDocs/azure-docs.sv-se/issues/500)

Just a reminder to update the docs...
Also, some other views has changed

---
#### Dokumentinformation

⚠ *Redigera inte det här avsnittet. Det krävs för docs.microsoft.com ➟ länkning till GitHub-problem.*

* ID: 45afd17d-e909-ccd9-01c3-f746bdf406a2
* Version Independent ID: d2c8cc69-5a37-4c73-d4

[2020-05-21 22:05] v-radelg opened #55415 "This document has the error, the service principal "Microsoft.StorageSync" not exist"
@t106362512 commented on [Thu May 21 2020](https://github.com/MicrosoftDocs/azure-docs.zh-tw/issues/619)

The service principal "Microsoft.StorageSync" not exist, it should be changed to the "Storage Resource Provider".

link:
https://docs.microsoft.com/zh-tw/azure/storage/files/storage-sync-files-troubleshoot?tabs=portal1%2Cazure-portal#troubleshoot-rbac

---
#### 文件詳細資料

⚠ *請勿編輯此區段。 這是 docs.micr

[2020-05-21 22:06] erikerikson commented on #54965
Thank you @asergaz, this is very helpful!  Reasonably timely too, I understand there must be many demands on time and attention.

I'd like to verify my understanding:

To avoid concerns... (I don't expect an answer of yes and will state what I do expect next)  Are you suggesting the timestamps are the basis of ordering?  i.e. that we should sort any batch we receive by timestamp?  We don't expect

[2020-05-21 22:30] PatrickFarley commented on #55083
Thank you, we've updated the docs to reflect the new SDK
#please-close

[2020-05-21 22:30] #55083 closed

[2020-05-21 22:33] djesko1 opened #55418 "AMD Processors"
Hi, does the Azure Kinect work with AMD processors or is it strictly Intel ones?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b679a0f-1dd5-60dd-b6e2-4a7e3341379b
* Version Independent ID: 37baf258-c14f-1871-58a3-c642c38cbb34
* Content: [Azure Kinect Sensor SDK system requirements](https://docs.microsoft.com/

[2020-05-21 22:38] TravisCragg-MSFT commented on #55340
@tksh164 The number of instances in an ExpressRoute Gateway can differ, but there will always be at least 2 instances for high availability.

[2020-05-21 22:44] anurag-oss commented on #55364
Adding @VikasPullagura-MSFT

[2020-05-21 22:49] femsulu commented on #55369
Hello @CharmanderJieniJieni ,

**NSG Diagnostic Settings:** are the list of Resource logging settings available to be configured on a Network Security group Resource. Resource logging is enabled separately for each NSG you want to collect diagnostic data for.
When you enable logging for an NSG, you can gather the following types of resource log information:

1.) Event: Entries are logged for which

[2020-05-21 22:55] femsulu commented on #55369
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-05-21 22:55] #55369 closed

[2020-05-21 23:17] JJ11teen commented on #54999
Hi @RohitMungi-MSFT, thanks for the quick reply and answer. It was not obvious to me that the 'score' talked about within the sentiment analysis would be the same score returned from the named entity extraction API. My initial assumption when receiving a 'score' from any ML classification algorithm is that it would refer to a confidence level.

Does this mean that a call to NER effectively contain

[2020-05-21 23:20] m-malik15 commented on #55028
@amanmcse yes the account I'm trying is synced account with password hash sync enabled. I've tried using a cloud only account and able to get the response.

![Azure AD Connect](https://user-images.githubusercontent.com/6137829/82615279-ef0fb980-9bc1-11ea-92eb-516cd8b1e16d.PNG)

[2020-05-21 23:22] TravisCragg-MSFT commented on #55372
@CharmanderJieniJieni Thanks for the feedback! I do not believe we have any documentation about what exactly it is, all I could find is this [doc about diagnostic log schema](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/diagnostic-logs-schema).

I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-05-21 23:22] crisansou commented on #54991
The group was removed using the code below:

$resourceGroupName = "rg-cmanalytics-dsv-brs"
$dataLakeName = "dlscmanalyticsdsv"
$directoryACL = "---"
$groupId="f038986f-d19c-4bb1-904d-f5d633d529db"
$filesystemName = "raw"
$dirname = "mp4"

$storageAccount = Get-AzStorageAccount -ResourceGroupName $resourceGroupName -AccountName $dataLakeName
$ctx = $storageAccount.Context

$acl = (Get-AzDataLakeGen

[2020-05-21 23:22] #54991 closed

[2020-05-21 23:31] aahill commented on #54999
Hi @JJ11teen, I was online and can help. Thanks for reaching out! The info @RohitMungi-MSFT  mentioned is for the sentiment analysis v2.1 output.

In NER, `score` does signify the confidence level of the model like you mention - where a score closer to 1 signifies a higher confidence. NER does not encapsulate the sentiment analysis output.

As a side note, in the new version of the API, `score` is

[2020-05-21 23:36] femsulu commented on #54992
Hi Matt, yes it does and with this already in your backlog, I'm sure you plan to published sometime soon. :) @blueelvis 's question was if this topic/content will (or can) be referenced doc once it's finalized. I guess that's a suggestion to explore closer to publishing.

@blueelvis  - We hope the above answers your question but feel free to reply if you have any followup questions or comments. wi

[2020-05-21 23:36] #54992 closed

[2020-05-21 23:38] MarileeTurscak-MSFT commented on #55339
@vhorne
Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-21 23:39] TravisCragg-MSFT commented on #55385
@thisispaulsmith You will need to add the backend pool by its DNS name if you want to connect to your AKS cluster via HTTPS. If you are using a custom domain, [this doc outlines how to enable HTTPS](https://docs.microsoft.com/en-us/azure/frontdoor/front-door-custom-domain-https).

Try to connect to your AKS cluster directly using HTTPS and see if that is working, and then try to use Azure Front Do

[2020-05-21 23:40] KranthiPakala-MSFT commented on #54032
Hi @nabhishek, I tried following this tutorial and also experiencing the same issue.  Could you please have a look at this? - Thank you.

[2020-05-21 23:42] Karishma-Tiwari-MSFT commented on #55366
Thanks for the question. We are currently investigating and will update you shortly.

[2020-05-21 23:43] MarileeTurscak-MSFT commented on #54679
@SV937200 make sure you don't have any setting for "Password never expires" or "User cannot change password" settings configured either in cloud or on premises.

Also, make sure that you are using a global admin account to enable it.

Since this is more of a troubleshooting question than a documentation feedback, please post your question to[ Q&A](https://docs.microsoft.com/answers/topics/azure-ac

[2020-05-21 23:43] #54679 closed

[2020-05-21 23:47] Karishma-Tiwari-MSFT commented on #55378
Can you please confirm that you followed all the prerequisites mentioned in the article under [Before you begin](https://docs.microsoft.com/en-us/azure/openshift/howto-create-private-cluster-4x#before-you-begin) section?

[2020-05-21 23:53] radderz opened #55419 "Linux?"
Hi, can you confirm this is now possible to be done on Linux too now?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d34f6d36-58e7-ab10-e659-bdd10a64deca
* Version Independent ID: 25d94e4b-8c95-7423-2665-7c09d438a16b
* Content: [Update a cluster to use certificate common name - Azure Service Fabric](https://docs.micros

[2020-05-21 23:55] simondevries opened #55420 "Document that azure functions need to have a system-assigned identity"
TLDR: Azure functions require that a managed identity is setup and that principle is added under the access policy in azure keyvault (See blog post I found helpful -&gt; https://blog.joaograssi.com/using-azure-key-vault-references-with-azure-functions-appservice/)
===
I've been setting up azure functions using a keyvault instance under the same resource group. I'm using azure functions v1.0 which

[2020-05-21 23:58] dpolivy opened #55421 "Download usage for pending charges section has wrong link names"
In the Download usage for pending charges section, it says to "Select Azure usage and charges." to download month-to-date charges. It seems the portal has changed, as there is no link with this name in the location shown in the picture. The link is currently called "Download usage and prices". It might be helpful to others to update the instructions/link name, as well as the image of the portal sh

[2020-05-21 23:59] Karishma-Tiwari-MSFT commented on #55379
Thank you for bringing this to our attention. We do have a backlog item open with the doc-authors. The doc author is working on adding the details of ARO 4.x to the document.
https://github.com/MicrosoftDocs/azure-docs/issues/54611

We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discus

[2020-05-21 23:59] #55379 closed

[2020-05-22 00:01] MarileeTurscak-MSFT commented on #54937
Thanks! Just made a pull request to add a note about this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/116165

[2020-05-22 00:01] #54937 closed

[2020-05-22 00:03] TravisCragg-MSFT commented on #55392
@rmchndrng Thanks for the feedback! I have added a note to the doc which states that you will need to re-download the VPN client. The doc should reflect this change within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-22 00:03] #55392 closed

[2020-05-22 00:06] Karishma-Tiwari-MSFT commented on #55380
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

CC: @eva-seydl

[2020-05-22 00:11] TravisCragg-MSFT commented on #55393
@Andriy-dev Thanks for the feedback. We are actively investigating and will get back to you soon.

[2020-05-22 00:18] GiftA-MSFT commented on #55273
@SiliconOrchid If you see My Apps tab, that means a LUIS resource already exists and you should skip ahead to create new app section. Furthermore, supported regions and endpoint details are provided in this [document](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-reference-regions). However, I agree that it would be helpful to reference it in this document. Will create a PR t

[2020-05-22 00:21] MarileeTurscak-MSFT commented on #55041
There does not appear to be an out of the box way to do this yet. You can import user credentials into new tenants but even that requires corresponding accounts. https://docs.microsoft.com/en-us/azure/active-directory-b2c/user-migration

If you would like to request this as a feature please do so in [User Voice](https://docs.microsoft.com/en-us/azure/active-directory-b2c/user-migration) and link t

[2020-05-22 00:21] #55041 closed

[2020-05-22 00:23] MarileeTurscak-MSFT commented on #54956
I've assigned your feedback to the author of this article.

[2020-05-22 00:24] Karishma-Tiwari-MSFT commented on #55409
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-05-22 00:30] MarileeTurscak-MSFT commented on #54868
You need to use a Microsoft account as the backup account. To add a new backup account, go to Settings in your Authenticator app and toggle on "iCloud backup." Then you'll be prompted to add your recovery account.

Hope this helps! Since this is more of a troubleshooting question than a documentation feedback, feel free to post this to[ Microsoft Q&A ](https://docs.microsoft.com/answers/topics/azu

[2020-05-22 00:30] #54868 closed

[2020-05-22 00:30] TravisCragg-MSFT commented on #55395
@DeekshaReddybandari Classic Virtual Networks are not supported for Azure Bastion, and I was unable to find this limit documented either.

Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-05-22 00:31] Karishma-Tiwari-MSFT commented on #55080
Thanks @andyzhangx
@emacdona  Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-05-22 00:31] #55080 closed

[2020-05-22 00:36] Karishma-Tiwari-MSFT commented on #55413
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-22 00:37] lisaguthrie commented on #52234
Hi @prawin2k - thanks for the feedback and so sorry for the delay. I've added this to our documentation backlog. I'm hoping to write something up in the next few weeks.

[2020-05-22 00:39] Karishma-Tiwari-MSFT commented on #55408
Is this resolved?

[2020-05-22 00:41] Karishma-Tiwari-MSFT commented on #55364
@anurag-oss Can you please share the section of the doc(Deploy the application) you are referring to? Thanks.

[2020-05-22 00:43] djsly commented on #55288
To configure the cluster autoscaler profile, you need to use the az cli with the `--cluster-autoscaler-profile` argument. This is available when you have the `aks-preview` extension installed

https://docs.microsoft.com/en-us/azure/aks/cluster-autoscaler#install-aks-preview-cli-extension

all provided profile settings are `key=value` pairs that are all controlled using the `--cluster-autoscaler-pr

[2020-05-22 00:44] Karishma-Tiwari-MSFT commented on #52656
We will now close this issue. If you are still seeing this issue, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-05-22 00:44] #52656 closed

[2020-05-22 00:45] Karishma-Tiwari-MSFT commented on #53782
We will now close this issue. If you are still seeing this issue, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-05-22 00:45] #53782 closed

[2020-05-22 00:47] Karishma-Tiwari-MSFT commented on #54500
@Heidilohr Can you please help confirm on this and update the document accordingly. Thanks :)

[2020-05-22 00:51] lisaguthrie commented on #50526
Feel free to reopen for any further feedback.

#please-close

[2020-05-22 00:51] #50526 closed

[2020-05-22 00:53] Karishma-Tiwari-MSFT commented on #55378
Can you also please check for the following permissions:
![image](https://user-images.githubusercontent.com/20851144/82619846-e1d7d800-9b8b-11ea-82d7-a3216868413d.png)

[2020-05-22 00:55] MarileeTurscak-MSFT commented on #54767
Yes, for member users you need the license. The text says "non-guest" so I think it makes sense here.

[2020-05-22 00:55] #54767 closed

[2020-05-22 00:56] lisaguthrie commented on #49435
This now gives a friendlier error when the export date is prior to the resource creation date.

![image](https://user-images.githubusercontent.com/26001667/82620069-72161d00-9b8c-11ea-862a-065916846e42.png)

#please-close

[2020-05-22 00:56] #49435 closed

[2020-05-22 01:03] Grace-MacJones-MSFT commented on #55399
Hi @ADringer, thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-22 01:03] RyanHill-MSFT commented on #55360
Hi @JakubW88,

If you're using the Metrics blade under the app service plan, you can change the scope which will allow you to pick the app service you're interested in.

![2020-05-21 20_58_58-Clipboard](https://user-images.githubusercontent.com/47189704/82620407-6172a080-9ba6-11ea-8e0c-af6c89fcccd3.png)

or you can use the Diagnose and solve problems blade and see the metrics per app service that

[2020-05-22 01:06] UnsnappedKhan8 opened #55424 "UnsnappedKhan8/Azure"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-05-22 01:06] UnsnappedKhan8 opened #55425 "UnsnappedKhan8/Azure"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-05-22 01:07] Grace-MacJones-MSFT commented on #55414
Hi @v-radelg, thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update as appropriate

[2020-05-22 01:07] Karishma-Tiwari-MSFT commented on #53728
Apologies for the delay on this. are you still seeing this issue?

[2020-05-22 01:16] Ayanmullick commented on #54868
@MarileeTurscak-MSFT , Can one or can one not use one's M365 account as the backup account?

[2020-05-22 01:27] jahmai commented on #55120
More info: The service does always support 1023 characters, it was an unrelated issue that was rejecting the id.

So my original request stands, please update the docs to note the difference between id limits on the service (1023) and the emulator (254).

[2020-05-22 01:34] dcbrown16 opened #55426 "ToC"
This page is missing from the ToC. Can it be added back in if the doc is still current?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae68aa1a-26f8-007c-c353-619521edf569
* Version Independent ID: 577d5c30-903a-29aa-561e-6abdacccf360
* Content: [Virtual machines in an Azure Resource Manager template - Azure Windows Vi

[2020-05-22 01:38] tksh164 commented on #55340
@TravisCragg-MSFT What are the factors that make the difference? I want know the following points:

- When does the number of instances increase to more than two?
- How to configure the number of instances if it configurable?

[2020-05-22 01:44] SnehaGunda commented on #55183
@MarkWme Thank you, I think it makes sense to remove the link and just use the plain text. The next paragraph anyways links to the Cosmos DB bootstrap doc. I submitted a PR to update the doc. We will now close this issue.

#please-close

[2020-05-22 01:44] #55183 closed

[2020-05-22 01:44] JAK1047 commented on #55093
Might also want to update the instructions. The current ones don't make much sense:

1. Connect by Remote Desktop to each NVv4-series VM. (RDP to the VM)

2. If you are a NVv4 preview customer then please stop the VM and wait for it to move to Stopped(Deallocated) state. (Stop the VM which kills the RDP connection you just made?)

3. Please start the VM and download the latest AMD Cleanup Utility.

[2020-05-22 01:47] GiftA-MSFT commented on #55316
@rastala please can you review the code for Local environment? Thanks.

[2020-05-22 01:50] TravisCragg-MSFT commented on #55340
@tksh164 We do not have any documentation regarding this info, as this is handled entirely by Azure, and does not affect the pricing. You cannot configure the instances.

[2020-05-22 01:56] SnehaGunda commented on #55001
@dlech Thanks for pointing out, I updated the library names in the doc. We will now close this issue.

#please-close

[2020-05-22 01:56] #55001 closed

[2020-05-22 02:00] SnehaGunda commented on #54207
@abhirockzz I recently refreshed this doc to use the Java V4 SDK (azure-cosmos). The above-referenced PR has all the updates. We will now close this issue.

#please-close

[2020-05-22 02:00] #54207 closed

[2020-05-22 02:13] rosanch commented on #50228
@SaurabhSharma-MSFT  I got the message
Remove-AzureRmKeyVault : Operation 'DeletedVaultPurge' is not allowed.
How can enable the operation? I created the keyvault myself, and I've done it with other keyvaults the only difference with this one is that it does have purge protection enabled but I can't seem to be able to disable it...

[2020-05-22 02:15] GiftA-MSFT commented on #55316
@HarshUpadhyay-MSFT can you try updating conda using the following command?
`conda update -n base -c defaults conda`

[2020-05-22 02:17] rosanch opened #55427 "How disable purge protection?"
I can't find how to disable purge protection. I created a keyvault through arm and now I can't purge it.   I keep looking but I can't find documentation about how to disable it and in portal I don't seem to be able to modify it.

I ran the command:
Remove-AzureRmKeyVault -VaultName acrbld-usnat  -l usnatwest -InRemovedState

and got the response:
Confirm
Are you sure you want to remove vault 'acrb

[2020-05-22 02:34] marcelmedina opened #55428 "Isn't App Center Auth dead?"
I couldn't find any resources about it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e1b83a0-0082-c844-3b88-e1b0713c891f
* Version Independent ID: b16ff8ba-185d-e2c7-3bf1-fc9b63e78235
* Content: [Add authentication to your mobile apps with Visual Studio App Center and Azure services](https://docs.microsoft.com/en-us

[2020-05-22 02:36] frehnejc opened #55429 "Connectivity Status is missing "Updating" status"
The Title Connectivity Status: is missing the status of "Updating".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d62470b-a511-4b32-5498-2ae5182ec585
* Version Independent ID: df2d4c2e-8afb-14ae-6667-9a504a5f8197
* Content: [Azure Virtual WAN: Create Site-to-Site connections](https://docs.microsoft.com/en-us/azure/vi

[2020-05-22 02:45] damochiz opened #55430 "Is Azure Synapse Analytics supported as a datastore?"
It's not on the "Supported data storage service types" list, but it seemed as possible as SQL Database. If possible, i want you to add it to the list.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd91721f-4a86-30cb-5e37-147c7319f0e6
* Version Independent ID: 98499c4f-ad83-81a4-e5db-af6415f79a98
* Content: [Connect to

[2020-05-22 02:48] nihaozh commented on #55378
Yes, I did. Followed all the prerequisites and assigned the sp with contributor and user access administrator. Still encountered the "Insufficient privileges to complete the operation" prompt

[2020-05-22 02:50] CHEEKATLAPRADEEP-MSFT commented on #54982
@mamccrea Could you please look into this question?

[2020-05-22 02:57] CHEEKATLAPRADEEP-MSFT commented on #54995
@artisticcheese You may checkout the syntax. It should be like this:

[code]

[2020-05-22 03:01] CHEEKATLAPRADEEP-MSFT commented on #55420
@simondevries  Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-22 03:03] CHEEKATLAPRADEEP-MSFT commented on #55358
@XiaoyuMSFT Could you please look into this question?

[2020-05-22 03:05] CHEEKATLAPRADEEP-MSFT commented on #55370
@abhaykhotpal  Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content, open a new forum thread in [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/questions/ask.html) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community member

[2020-05-22 03:07] amit12cool commented on #35998
Which extension you missed? Im facing the same problem.

[2020-05-22 03:08] CHEEKATLAPRADEEP-MSFT commented on #55390
@kodaksmile  Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-22 03:10] hisasima opened #55431 "About SNAT port for Classic LB."
I know SNAT port of classic LB is configured by dynamic allocating but I can not find that behavior in public document. Could you add the behavior of dynamic SNAT port for classic LB into this document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a96406ce-2ffc-cdb3-1234-5154ccd5cc76
* Version Independent ID: f840a09

[2020-05-22 03:15] DibyodyutiMondal commented on #55308
Thank you very much!

[2020-05-22 03:15] #55308 closed

[2020-05-22 03:24] amit12cool opened #55432 "No D2C message seen in console for IoT Edge"
I have successfully done the setup as per the tutorial.But not able to see the logs in console for IotEdge device.I have attached images for the IoTEdge modules running, some commands that I ran on the VM i.e. IoT Edge device. Please help what Im doing wrong.
<img width="617" alt="VSCode_Console" src="https://user-images.githubusercontent.com/6692132/82628183-cdd2bb80-9c09-11ea-9da7-c6056c1e775a.P

[2020-05-22 03:28] DibyodyutiMondal opened #55433 "Unable to fully remove an Azure B2C tenant even after following instructions"
I am having trouble deleting my azure B2C tenant from my resource group.

I followed the instructions given in this article:
https://docs.microsoft.com/en-us/azure/active-directory-b2c/faq?tabs=applications#how-do-i-delete-my-azure-ad-b2c-tenant

This seems to have deleted the tenant. However, when I try to remove the b2c directory from the resource group, it always returns 'Delete failed'. The ac

[2020-05-22 03:32] amit12cool opened #55434 "No D2C message seen in console for IoT Edge"
I have successfully done the setup as per the tutorial.But not able to see the logs in console for IotEdge device.I have attached images for the IoTEdge modules running, some commands that I ran on the VM i.e. IoT Edge device. Please help what Im doing wrong.

<img width="275" alt="VSCode_Edge_extension" src="https://user-images.githubusercontent.com/6692132/82628613-e98a9180-9c0a-11ea-98fb-510c46

[2020-05-22 03:32] amit12cool commented on #55432
I have raised the issue in feedback section of the tutorial

[2020-05-22 03:32] #55432 closed

[2020-05-22 03:39] MGoedtel commented on #54899
I see the vendor missed adding the new article to the TOC so I've created a bug for this and we will address this as soon as we can.  Thanks for bringing this to our attention.  #please-close.

[2020-05-22 03:39] #54899 closed

[2020-05-22 03:46] Robert-Tortorelli commented on #30457
I'm having the same error:
The  Kusto Query Language link (https://kusto.azurewebsites.net/docs/query/index.html) in page https://docs.microsoft.com/en-us/azure/sentinel/notebooks cannot be accessed because any attempt to access it, including using a new Azure Active Directory account, results in the message: "Selected user account does not exist in tenant 'Microsoft' and cannot access the applica

[2020-05-22 03:46] vikancha commented on #55093
Update the docs. Merged #116185 into master.

[2020-05-22 03:51] nagasandeep commented on #39423
@ahahn95 I ended up disabling all the constraints on the database before executing the pipeline and then enabled them again.

[2020-05-22 03:53] roongr2k7 opened #55435 "Cannot create Spot VM"
[ป้อนคำติชมที่นี่]

command (azure-cli) to create SpotVM
`az vm create --resource-group myResource --size Standard_E4a_v4 --name mySpotVM --image UbuntuLTS --priority Spot --max-price 0.05`

error message
[code]

check SKU is available
`az vm list-skus -l southeastasia --query "[?name=='Standard_E4a_v4']"`

[code]

`az --version`

[code]
---
#### รายละเอียดเอกสาร

⚠ *อย่าแก้ไขส่วนนี้ กำหนดให้ต้องจ

[2020-05-22 03:54] MGoedtel commented on #52898
The release has now moved to June 2020.  Because this isn't a doc issue, I'm going to close this issue.  For any additional comments/feedback/questions, please use User Voice. #please-close.

[2020-05-22 03:54] #52898 closed

[2020-05-22 03:55] AshokPeddakotla-MSFT commented on #55406
@Marusyk Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-22 04:04] CHEEKATLAPRADEEP-MSFT commented on #55390
@kodaksmile Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/116188](https://github.com/MicrosoftDocs/azure-docs-pr/pull/116188)
The changes should be live EOD or tomorrow. We will now close this issue. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to

[2020-05-22 04:04] #55390 closed

[2020-05-22 04:06] basilwong commented on #53204
@PramodValavala-MSFT created a repo with azure functions that implement implicit ftps. Wanted to send it here in case someone else asks this question.

https://github.com/basilwong/azure-function-implicit-ftps-suite

[2020-05-22 04:10] SumanthMarigowda-MSFT commented on #55377
@sql-deadwood Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-22 04:10] VikasPullagura-MSFT commented on #55093
@vikancha Thanks for the doc update.

[2020-05-22 04:10] SumanthMarigowda-MSFT commented on #55376
@sql-deadwood Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-22 04:10] VikasPullagura-MSFT commented on #55093
@JAK1047 I will proceed to close this issue now.

[2020-05-22 04:10] #55093 closed

[2020-05-22 04:11] SumanthMarigowda-MSFT commented on #55373
@fernandozago Can you please provide us with the URL of the Azure Doc you are having issues with? We look forward to your reply.

[2020-05-22 04:11] SumanthMarigowda-MSFT commented on #55371
@mmoioli Can you please provide us with the URL of the Azure Doc you are having issues with? We look forward to your reply.

[2020-05-22 04:12] ram-msft commented on #55430
@damochiz Thanks for the feedback. We will update you shortly.

[2020-05-22 04:12] SumanthMarigowda-MSFT commented on #55367
@sspiro8 Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-22 04:12] ram-msft commented on #55397
@akuchotrani Thanks for the question. We will update you shortly.

[2020-05-22 04:13] KranthiPakala-MSFT commented on #54984
Hi @mcsinghbisht,  Apologizes for the delay in response. Yes, your understanding is correct, the 'after completion' action will be triggered after all the components/transformations inside the dataflow are executed successfully.

For example,if you are copying files from a source to two (2) folders/sinks --> and  if 'move' option is selected, then 'move' operation will be triggered only after two

[2020-05-22 04:13] #54984 closed

[2020-05-22 04:13] SumanthMarigowda-MSFT commented on #55361
@mathieu-benoit Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-22 04:16] SumanthMarigowda-MSFT commented on #55349
@dhheeraj Can you please provide us with the URL of the Azure Doc you are having issues with? We look forward to your reply.

[2020-05-22 04:16] VikasPullagura-MSFT commented on #55419
@radderz
Thanks for your Question! We are currently investigating and will get back on this.

[2020-05-22 04:17] mrbullwinkle commented on #54627
@dcbrown16 as always thank you for helping to improve the docs. It turns out this doc was referenced in 27 other articles across docs.microsoft.com which I was not aware of. I have updated the existing references in those 27 docs so they now point to the new workbooks overview, and I have retired the doc and created a redirect as well. These changes are merged internally and will go-live tomorrow

[2020-05-22 04:17] mrbullwinkle commented on #54627
#please-close

[2020-05-22 04:17] #54627 closed

[2020-05-22 04:17] SumanthMarigowda-MSFT commented on #55388
@nathan-given-health-catalyst Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-22 04:17] VikasPullagura-MSFT commented on #55426
@dcbrown16
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-05-22 04:18] VikasPullagura-MSFT commented on #55426
@cynthn
Can you please check and add your comments on this doc update request as applicable.

[2020-05-22 04:21] SumanthMarigowda-MSFT commented on #55386
@SNVSNANNAPA Can you please provide us with the URL of the Azure Doc you are having issues with? We look forward to your reply.

[2020-05-22 04:22] SumanthMarigowda-MSFT commented on #55345
@saquibm6 Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-22 04:23] SumanthMarigowda-MSFT commented on #55387
@Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-22 04:27] VikasPullagura-MSFT commented on #55435
@roongr2k7
Thanks for your Question! We are currently investigating and will get back on this.

[2020-05-22 04:28] VikasPullagura-MSFT commented on #55175
@ingokofler
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-05-22 04:28] #55175 closed

[2020-05-22 04:31] ram-msft commented on #55213
@Micpic3 Please follow the below for running in LUIS container.
Option 1
The models can be COPY'd directly into /input/. e.g.

FROM mcr.microsoft.com/azure-cognitive-services/luis:latest

COPY *.gz /input/
This will work, but requires that you don't mount to /input at runtime as it will squash the COPY'd files. The message "A folder must be mounted" is only logged if the /input directory does not

[2020-05-22 04:32] KranthiPakala-MSFT commented on #54944
Hi @sartoris , Apologizes for the delayed response and thanks for bringing this to our notice.

We have assigned the issue to the content author to evaluate further and update the document as appropriate.

[2020-05-22 04:35] KranthiPakala-MSFT commented on #54944
Hi @djpmsft, '_and_' function supports only 2 arguments. This needs to be clarified in the document.

![image](https://user-images.githubusercontent.com/50185738/82631634-d47e1600-9baa-11ea-959c-3704491a118e.png)

![image](https://user-images.githubusercontent.com/50185738/82631667-e495f580-9baa-11ea-9c2c-7cf4e524b961.png)

Could you please have a look at this feedback? - Thank you.

[2020-05-22 04:37] BhargaviAnnadevara-MSFT commented on #55424
@UnsnappedKhan8 Thank you for the question! In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2020-05-22 04:38] BhargaviAnnadevara-MSFT commented on #55425
Duplicate of MicrosoftDocs/azure-docs#55424

[2020-05-22 04:38] #55425 closed

[2020-05-22 04:39] AshokPeddakotla-MSFT commented on #55434
@amit12cool Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-22 04:41] amit12cool commented on #55434
Also I'm able to receive D2C messages on my IoT hub.

[2020-05-22 04:44] souravmishra-msft commented on #55024
@jeevaeastpoint, I dont think it would remove your Global Admin privilege or even lock you out. That should not happen.

[2020-05-22 04:46] SNVSNANNAPA commented on #55386
@SumanthMarigowda-MSFT  My question regarding Azure Migrate service and is mainly an extension to other closed question.
https://github.com/MicrosoftDocs/azure-docs/issues/50617
It is mainly about the Rest API availability for the operations that I'm asking in my origin ticket.

https://docs.microsoft.com/en-us/azure/migrate/migrate-services-overview
https://docs.microsoft.com/en-us/rest/api/migra

[2020-05-22 04:46] souravmishra-msft commented on #55024
Closing this thread for now. Do let us know if any more queries around this so that we can help you further. In case there are more queries on this and you would like to reopen this thread, do drop an email to **azcommunity[at]microsoft[dot]com** and share the reference of this thread so that its easier for us to help you in re-opening the thread.

[2020-05-22 04:46] #55024 closed

[2020-05-22 04:46] AjayKumar-MSFT commented on #55391
@ashishvermapu, Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-05-22 04:50] SumanthMarigowda-MSFT commented on #55129
@aledeniz The PR request has been raised. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-22 04:50] #55129 closed

[2020-05-22 04:52] SumanthMarigowda-MSFT commented on #55222
@eddied4 Azure file shares only support authentication against one domain service, either Azure Active Directory Domain Service (Azure AD DS) or on-premises Active Directory Domain Services (AD DS).

AD DS identities used for Azure file share authentication must be synced to Azure AD. Password hash synchronization is optional.

On-premises AD DS authentication does not support authentication again

[2020-05-22 04:59] SumanthMarigowda-MSFT commented on #55249
@WillyMoselhy https://github.com/Azure-Samples/azure-files-samples/releases
We need to Download and unzip the AzFilesHybrid module

[2020-05-22 05:04] SumanthMarigowda-MSFT commented on #55252
@tam203 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-05-22 05:07] RohitMungi-MSFT commented on #55400
@mslot Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-05-22 05:10] DibyodyutiMondal commented on #55433
Also, I created another B2C tenant in another resource group. This time, I deleted it from the resource group first. It was removed from the resource group. Then I switched directories, removed all apps and, gave myself the required permission, as that was the only thing left that was blocking the delete. Then I logged out so that the permission would take hold. AFTER I logged back in, the portal

[2020-05-22 05:12] AshokPeddakotla-MSFT commented on #55418
@djesko1 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-05-22 05:14] TravisCragg-MSFT commented on #54993
@mulasien There are currently 2 different types of connection monitor, this version, and the [new preview version](https://docs.microsoft.com/en-us/azure/network-watcher/connection-monitor-preview). The non preview version works with this schema, and that is the one that is used in this tutorial.

We will now proceed to close this thread. If there are further questions regarding this matter, pleas

[2020-05-22 05:14] #54993 closed

[2020-05-22 05:20] Divya-CreateBytes commented on #49205
Hi,
Thanks for replying. I have got the way to refresh the token now.

On Thu, 21 May 2020 at 00:51, Hirsch Singhal <notifications@github.com>
wrote:

--

Divya Yadav

M: +91-9024253342

E: divya.yadav@createbytes.com

ABL Workspaces, 6th floor, plot number, 44

Sector 44, Gurugram, Haryana 122003

https://www.createbytes.com

[2020-05-22 05:28] gbrandonparga commented on #54345
Hi Guys,

Im Pretty new to this but i cant get past the rm Migrations -r
 every time i run in the VS for mac terminal i get
rm: Migrations: is a directory
rm: -r: No such file or directory

any ideas?

# Delete old migrations
rm Migrations -r
# Recreate migrations
dotnet ef migrations add InitialCreate

# Set connection string to production database
# PowerShell
$env:ConnectionStrings:MyDbConnecti

[2020-05-22 05:31] priyankareddy20 opened #55436 "Non Azure Servers Security"
Security Center can monitor the security posture of your non-Azure computers but you need to first onboard these resources.
Does this cover n/w receommendations??
Does non azure servers can have JIT enabled??
Could you please provide what all features can be enabled for non azure servers?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-05-22 05:37] SubhashVasarapu-MSFT commented on #54996
@rjisom ,We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-05-22 05:37] #54996 closed

[2020-05-22 05:38] SubhashVasarapu-MSFT commented on #55145
@edufolios-matt , I was wondering if you have had a chance to look over our previous reply yet? Let us know if you have any query or input for us or if we good to close this issue.

[2020-05-22 05:40] vipulsparsh commented on #55251
@karmicsynergy We will be closing this thread now, if you have any questions please comment on this thread and we will re-open it. Thanks

[2020-05-22 05:40] #55251 closed

[2020-05-22 05:43] Emmanuel-Bresson commented on #54740
Thanks @rolyon. I was fearing this but was still hoping you'd say otherwise...
It may be worth mentioning it at the start or the end of the page as the parent section talks about adding or removing role assignments.
But happy for you to close the issue in any case.

[2020-05-22 05:43] Mike-Ubezzi-MSFT commented on #55400
@mslot Thank you for raising your concern. There are two methods for creating a copy of a database. These is the Export method (to a .bacpac file) and there is the Copy method, which uses the automated backup process for your automated backups that are part of the service. The Copy method is least impactful and is how backups of your current database have been taking place as a background task. Wh

[2020-05-22 05:45] iinatti commented on #55346
Thanks!

[2020-05-22 05:45] #55346 closed

[2020-05-22 05:46] vaishali-prophecy commented on #16045
@mimckitt  I know this issue is closed but can you tell me where can I see the DNS entry that my ingress service gets after putting this annotation. Also I am able to access my service on <label>.<zone>.cloudapp.azure.com but just wanted to check the corresponding dns entry. Also wanted to understand why can't it resolve subhosts like `<label2>.<label>.<zone>.cloudapp.azure.com`. In A type DNS rec

[2020-05-22 05:48] kmleow commented on #55245
More findings:
To make auto-provisioning compatible with External AD users, (1) need to configure Salesforce side to use 'Federation ID' for matching, and (2) need to add under Azure AD > Salesforce Provisioning > Provisioning > Attribute Mapping, add a mapping from originalUserPrincipalName to Salesforce FederationIdentifier.

[2020-05-22 05:50] mslot commented on #55400
Aaah. So the copy uses the _same_ procedure as when normal backup is applied. That is a third way of reading it :) thanks.

[2020-05-22 05:50] vaishali-prophecy commented on #18204
This is working for me but can you tell me where can I see the DNS entry that my ingress service gets after putting this annotation.  I am able to access my service on <label>.<zone>.cloudapp.azure.com but just wanted to check the corresponding dns entry. Also wanted to understand why can't it resolve subhosts like <label2>.<label>.<zone>.cloudapp.azure.com. In A type DNS records, it is generally

[2020-05-22 05:50] #55370 closed

[2020-05-22 05:51] abhaykhotpal commented on #55370
I don't want to make any further investigation on this.

[2020-05-22 06:11] D1rtyBit commented on #42379
@tohagan. This may not work for you due to the nature of every configuration being different, but I had tried most everything recommended here and on other sites. I switched from miniconda to an alternative app for virtual environments and somehow not everything associated with miniconda was properly removed. I am not sure why but after I uninstalled miniconda, it left remnants inside my powershel

[2020-05-22 06:12] glprasanna opened #55438 "Does this 1.0.6 version plugin supports 8.5.4 version of JIRA ? Also currently we are using 1.0.5 version of SSO plugin does 1.0.5 version is compatible with 8.5.4 version ?"
Hi Team,
Thank you for the update. Is it compatible with 8.5.4 ?
Inside the document it was mentioned it is compatible with "JIRA Core and Software: 6.4 to 8.8.0"
On the download page it is showing it is compatible with "JIRA Core and Software 6.0 to 7.13.3 and 8.0, 8.1.1, 8.2.1, 8.2.4 and 8.5.1"
We are planning for upgrade to 8.5.4 so please confirm 1.0.6 plugin is compatible with 8.5.4 or it is

[2020-05-22 06:14] priyankareddy20 opened #55439 "Is this feature applicable to non azure servers??"
VMs are Classic VMs: Only Azure Resource Manager VMs are supported.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db55d711-a6c9-a620-a783-6e3e0d2617a0
* Version Independent ID: 9a43442c-2c87-8a82-aeb8-aa1a933a9d03
* Content: [Adaptive Network Hardening in Azure Security Center](https://docs.microsoft.com/en-us/azure/s

[2020-05-22 06:17] SeaDude commented on #55333
Thank you!

[2020-05-22 06:20] SeaDude commented on #54909
Thank you. I was getting hung up in thinking that an "App Service" plan was a premium feature. What I realized after creating an Azure Function, is that the "Consumption Plan" is a form of "App Service" plan.
Makes sense now.

[2020-05-22 06:20] #54909 closed

[2020-05-22 06:21] VikasPullagura-MSFT commented on #55211
@mlearned
Can you please check and add your comments on this doc update request as applicable.

[2020-05-22 06:25] SeaDude commented on #54966
I was under the impression that an "App Service Plan" was a premium-only resource. After deploying an Azure Function using a "Consumption Plan", I now see that a Consumption Plan shows up as an App Service Plan in the portal (they are one in the same).
Disregard.
Thank you

[2020-05-22 06:25] #54966 closed

[2020-05-22 06:27] guntaled opened #55440 "Get Metadata child items - order?"
Is there an order to how get metadata child items are returned? I.e., is the list sorted?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e4997d4-36fd-4f1c-464b-ea3190531e02
* Version Independent ID: ebf216ca-d096-549f-3dcc-9442d7c4a8dc
* Content: [Get Metadata activity in Azure Data Factory - Azure Data Factory](https

[2020-05-22 06:32] priyankareddy20 opened #55441 "How to connect 3rd party firewall in Security Solutions"
Could you please provide the steps how to on board 3rd party firewall to Azure and please provide what recommendations it would provide

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3aa2f48e-a8f8-fb03-753b-9e3b76075b96
* Version Independent ID: 2554dcd1-27a2-3a32-4097-b17dd261a1ad
* Content: [Integrate security soluti

[2020-05-22 06:34] santo2 commented on #55250
Hi, I followed the guidelines here:
https://github.com/Microsoft/ApplicationInsights-ServiceFabric
I already do get context on my logging, and correlation now also seems to work between requests, but not yet for all traces logged in a request. Is there a working example of that?

This is what I have

**in CreateServiceInstanceListeners method:**

`FabricTelemetryInitializerExtension.SetServiceCall

[2020-05-22 06:36] RohitMungi-MSFT commented on #55259
@PeterCLu Is there a possible way to update the endpoint with updated model from the SDK? The pipeline SDK [documentation](https://docs.microsoft.com/en-us/python/api/azureml-pipeline-core/azureml.pipeline.core.pipeline_endpoint.pipelineendpoint?view=azure-ml-py#publish-workspace--name--description--pipeline---workflow-provider-none---service-endpoint-none-)  provides method to update pipeline ver

[2020-05-22 06:41] thisispaulsmith commented on #55385
@TravisCragg-MSFT Thanks for the reply.

We've setup the backend with the DNS name.
We have enabled SSL on the front end domain.
We have enabled SSL on the cluster and can directly hit services via HTTPS bypassing front door with a valid cert.
If we enable "Match Request" on the rule. HTTP requests work but HTTPS gets a 503.

It's like it's not passing the host for the HTTPS requests and hitting t

[2020-05-22 06:46] neosource commented on #35973
Can you please point to the python example.

[2020-05-22 06:49] eddied4 commented on #55222
@SumanthMarigowda-MSFT this did not really answer the question... Most of that information is already in the article.
Does AD DS Authentication work for Azure files over the internet without connection to your local network?

[2020-05-22 06:58] ejspencer opened #55443 "No SPA tile!"
The instructions for adding a redirect URI for MSAL 1.x clients with implicit flow are incorrect. When one creates an App registration then clicks Authentication under Manage there is no SPA tile in sight. Instead the available options are Web, iOS/ macOS, Android and Mobile and desktop applications.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2020-05-22 07:00] priyankareddy20 opened #55444 "On-premise n/w recommendations available?"
As we have option to on board non azure servers , i would like to know if we get recommendation on on-premise n/w too?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d6b9c315-bb47-fae9-86d0-f42b2086c15d
* Version Independent ID: 8de99b89-164c-240e-6ed6-dd04be2572b0
* Content: [Protecting your network resources in Azure

[2020-05-22 07:03] pnarsi commented on #55122
Hi @mamccrea. Yes I did see that the feature was in public preview.  My question was around whether we can start using the feature for the SCIM integration. At the moment the SCIM provisioning article only talks about using personal tokens.

https://docs.microsoft.com/en-us/azure/databricks/administration-guide/users-groups/scim/aad

[2020-05-22 07:03] mboppe opened #55445 "Add a New Workspace"
Some of our servers already have MMA installed. Is there a automated way to check if the MMA is up-to-date. If not, update to the latest version and add a new workspace

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00a00a3e-a0df-7ee5-4733-7231bd7a024f
* Version Independent ID: 94361683-e1e7-7e55-6993-86d3c2486a14
* Co

[2020-05-22 07:06] SumanthMarigowda-MSFT commented on #55396
@pabbinedi Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-22 07:09] ChiragMishra-MSFT commented on #55440
@guntaled Thanks for reaching out to us. We are investigating into your query and will update you shortly.

[2020-05-22 07:10] ChiragMishra-MSFT commented on #55087
@normesta Can you please take a look at this?

[2020-05-22 07:11] #55039 closed

[2020-05-22 07:18] Grace-MacJones-MSFT commented on #55391
Hello @ashishvermapu, this feature is currently in preview. As the doc states "The preview is available in East US and West US 2 regions for all PremiumV2 Windows and Linux Web Apps."

What region is your app in? Can you please share a screenshot of what you are seeing in the portal?

[2020-05-22 07:21] HiltonGiesenow commented on #55331
done - thanks

[2020-05-22 07:21] HiltonGiesenow commented on #55331
on the original question, it might make sense to name the actions differently, as they're very linked to the "workflow" right now

[2020-05-22 07:25] SumanthMarigowda-MSFT commented on #55282
@kcnighsurf Your feedback has been shared with the content owner for further review.

[2020-05-22 07:29] VikasPullagura-MSFT commented on #55361
PR approved, do changes will go live soon. Hence closing the issue.

[2020-05-22 07:29] #55361 closed

[2020-05-22 07:29] #55211 closed

[2020-05-22 07:29] VikasPullagura-MSFT commented on #55359
PR approved, do changes will go live soon. Hence closing the issue.

[2020-05-22 07:29] #55359 closed

[2020-05-22 07:31] SumanthMarigowda-MSFT commented on #55405
@contactvikasgupta  Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-22 07:33] SumanthMarigowda-MSFT commented on #55421
@dpolivy Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-22 07:33] DibyodyutiMondal commented on #55433
I solved the issue of the wrong api version by using the `az resource delete` command from the Azure CLI, and by providing the `--api-version` parameter.

But the problem with the second b2c tenant remains

[2020-05-22 07:35] SumanthMarigowda-MSFT commented on #55429
@frehnejc Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-22 07:36] SumanthMarigowda-MSFT commented on #55427
@rosanch Can you please provide us with the URL of the Azure Doc you are having issues with? We look forward to your reply.

[2020-05-22 07:37] demetrioi opened #55446 "Storage Account File Format"
The storage account file format should be JSON.

The current file format (XEL) is not flexible to use and does not allow, for example, reading the logs using Data Lake Analytics

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4adb3ca-e7b5-648c-5389-904af0a1af87
* Version Independent ID: f086acf8-2414-2a4f-3e1a-9ab787d8

[2020-05-22 07:40] tehho opened #55447 "Azure Devops Private Repo"
It says that only github public and private are the supported options for sourceControlConfiguration but in "Apply configuration from a private git repository" it references Azure Devops with ssh key.

Could we get an example how to set up a connection to azure devops with ssh?
Oranisation, project and path in repo, the hole shebang.

Great product! Looking forward for native support in AKS

---
#

[2020-05-22 07:41] Micpic3 commented on #55213
@ram-msft I have tried what you suggested.  I am unable to use: `aicpppe.azurecr.io/microsoft/cognitive-services-luis` as I do not have authorization to access, but I can use `mcr.microsoft.com/azure-cognitive-services/luis:latest`.  Unfortunately, I am still getting the error when following the above instructions.

I have narrowed down the issue though.  If I create a new version from cloning an

[2020-05-22 07:47] ChrisSommers commented on #27537
If it helps anyone, I wrote the attached script which creates a dashboard containing a tile for each VM in the subscription. Each tile shows the VM's CPU utilisation over the last 24h.

[vm-cpu-dashboard.txt](https://github.com/MicrosoftDocs/azure-docs/files/4666727/vm-cpu-dashboard.txt)

[2020-05-22 07:47] SumanthMarigowda-MSFT commented on #55415
@v-radelg Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-22 07:47] SumanthMarigowda-MSFT commented on #55412
@javerdej Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-22 07:49] wely commented on #55323
Hi @Mike-Ubezzi-MSFT , i have created another one there: https://github.com/Azure/azure-rest-api-specs/issues/9557

[2020-05-22 07:49] SumanthMarigowda-MSFT commented on #55410
@ravick4u Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-22 07:50] grzegorzbrelski commented on #46225
For anyone with similar issue. In my particular cases problem in PS script was with "time-generated-field" = $TimeStampField; into $headers. Same symptoms, custom table created but no logs. Removing "time-generated-field" part did the job. FYI @femsulu

[2020-05-22 07:50] SumanthMarigowda-MSFT commented on #55407
@vpetersen Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-22 07:50] SumanthMarigowda-MSFT commented on #55402
@Seddy24 Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-22 07:52] KrishnaG-MSFT commented on #55023
At this point it appears that there's no edits or updates needed for the referred Azure documentation so closing this issue for now. If there are further questions regarding this matter or feedback on the referred Azure documentation, please do let us know and we will gladly continue the discussion.

[2020-05-22 07:52] #55023 closed

[2020-05-22 07:59] kmkukla commented on #29343
I also have the same problem, also added web.config file.

[2020-05-22 08:05] rbhanot4739 commented on #53703
I can second this, I am also facing the same issue. There seems to be a bug with the `starting_position`, if I don't specify the value as `-1` the events are not received at all. Specifying `starting_position=-1` is not ideal for any production application.

[2020-05-22 08:06] SumanthMarigowda-MSFT commented on #55433
@DibyodyutiMondal Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-22 08:07] SumanthMarigowda-MSFT commented on #55438
@glprasanna Can you please provide us with the URL of the Azure Doc you are having issues with? We look forward to your reply.

[2020-05-22 08:31] femsulu commented on #55091
@andremarques023  - we are tracking + working internally to update this script and we will push out an update once the script has been revised, peer reviewed and finalized.
@MGoedtel  - since the script is buggy in it's current state, can we remove temporarily?

Closing this issue for now but will update with a PR request once the script is ready for publication.

Cheers.

[2020-05-22 08:31] #55091 closed

[2020-05-22 08:40] ezYakaEagle442 commented on #54750
Also a self-hosted agent would require a Personal Access Token , the AKS documentation should explain (or provide a link to another MD doc) how to implement the 2 best solutions :

- self-hosted agent leveraging [ACI linked to AKS VNet + using Managed Identities](https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/services-support-managed-identities#azure-con

[2020-05-22 08:44] branchfork commented on #54944
It's the same for the "or" function as well. It only takes 2 arguments in ADF.

[2020-05-22 08:45] ram-msft commented on #55032
@dubbySwords Please follow the below sanpshots as shown below. You can save to the file in the Speech Recognized event instead of writing to the console.
![image](https://user-images.githubusercontent.com/49180516/82648832-f07ac980-9c35-11ea-9216-6ea0c0337408.png)

![image](https://user-images.githubusercontent.com/49180516/82648688-a98cd400-9c35-11ea-8693-655961b290f8.png)

[2020-05-22 08:50] sasever opened #55449 "dbca command is not correct and not working"
the  dbca command in
2. Create the database:
below part
       -storageType FS \
       -ignorePreReqs
is missing file location information that should be set under -datafileDestination option and should be like:
       -storageType FS \
	-datafileDestination /home/oracle/<the selected data path> \
       -ignorePreReqs

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2020-05-22 08:52] sasever opened #55450 "Switch to the oracle superuser, then initialize the listener for logging command wrong"
the command is stated as:
$ sudo su - oracle
$ lsnrctl start

which is wrong, it should be
$ sudo -su  oracle
$ lsnrctl start

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 279359a4-139a-ee4b-027b-4f43c538b90f
* Version Independent ID: 950014e2-2457-6045-eefd-865bd1c1fb76
* Content: [Create an Oracle database in an Azu

[2020-05-22 08:56] DStekel3 opened #55451 "Minor typo"
There is a comma missing in after entry_script in this code example:

from azureml.train.sklearn import SKLearn

script_params = {
    '--kernel': 'linear',
    '--penalty': 1.0,
}

estimator = SKLearn(source_directory=project_folder,
                    script_params=script_params,
                    compute_target=compute_target,
                    entry_script='train_iris.py'

[2020-05-22 08:57] amanmcse commented on #55343
@JBines That's a good idea. I have updated this document to "However if Azure MFA is your primary part of authentication for your administrative accounts, then consider a different approach for these, such as using Conditional Access with a third-party MFA provider via [Custom controls](https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/controls)."

We will update the link

[2020-05-22 08:58] DStekel3 opened #55452 "Inconsistent variable names in code examples"
At first we use variable `exp` for the Experiment object. However, in the following code example there is a reference to variable named `experiment` which should be `exp`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f70a36b8-6b3b-e06c-84d6-33fd56f79ea7
* Version Independent ID: fd3dc619-fc56-5f93-860b-997c2eeb44f4
*

[2020-05-22 09:02] jurjenoskam opened #55453 "Header "Restrict your storage account to a virtual network" is incorrect"
The header "Restrict your storage account to a virtual network" states the exact opposite of what the paragraph directly below it instructs you to do, which leads to confusion. My suggestion would be to change the header to "Do not restrict your storage account to a virtual network".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2020-05-22 09:12] #55343 closed

[2020-05-22 09:16] VikasPullagura-MSFT commented on #55447
@tehho
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-05-22 09:17] CHEEKATLAPRADEEP-MSFT commented on #55140
@RanadheerKotha
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-05-22 09:17] #55140 closed

[2020-05-22 09:17] ttony678 opened #55454 "Can the "aeg-event-type" be set when publishing to the Event Grid Topic?"
Even if I explicitly set that request header, the value is always set as "Notification" during Service Bus consumption.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 261bba89-1910-13a4-145c-4c16e2659409
* Version Independent ID: 8cd0799c-6656-22f7-5e62-37563ddf15df
* Content: [Service Bus queues and topics as event ha

[2020-05-22 09:17] CHEEKATLAPRADEEP-MSFT commented on #55305
@guntaled
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-05-22 09:17] #55305 closed

[2020-05-22 09:19] jamesryanuk opened #55455 "Minor: code blocks syntax highlighting not working as author intended"
The syntax highlighting in a few of the Python code blocks on this page don't appear to be working correctly

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe78588d-6ed5-52b1-7b02-6e53affb000d
* Version Independent ID: df4cdd51-678e-7a57-ef23-59c48b623fdd
* Content: [Monitor Python applications with Azure Monitor (prev

[2020-05-22 09:21] VikasPullagura-MSFT commented on #55447
@mlearned
Can you please check and add your comments on this doc update request as applicable.

[2020-05-22 09:30] shashishailaj commented on #55443
@ejspencer Thank you for your feedback . We will investigate and update the thread.

[2020-05-22 09:31] shashishailaj commented on #55444
@priyankareddy20 Thank you for your query. We will investigate and update the thread.

[2020-05-22 09:41] shashishailaj commented on #55441
@priyankareddy20 Thank you for your query. We will investigate and update the thread.

[2020-05-22 09:43] shashishailaj commented on #55439
@priyankareddy20 Thank you for your query. We will investigate and update the thread.

[2020-05-22 09:46] shashishailaj commented on #55436
@priyankareddy20 Thank you for your query. We will investigate and update the thread.

[2020-05-22 09:46] ram-msft commented on #55451
@DStekel3 Thanks for the feedback. We will update you shortly.

[2020-05-22 09:47] SadiqhAhmed-MSFT commented on #55386
@SNVSNANNAPA Thanks for reaching out to us. There is no publicly shareable ETA as of today. So the answer to your question is same as posted [here](https://github.com/MicrosoftDocs/azure-docs/issues/50617) by @bharathsreenivas

Let me know if you have any further questions in this matter.

[2020-05-22 10:04] wawrzek commented on #53728
I  haven't tried, but I noticed https://docs.microsoft.com/en-us/azure/virtual-machines/windows/shared-image-galleries. Initial tests indicates that it does what I want to achieve. BTW might be worth to link that document from here.

[2020-05-22 10:27] VikasPullagura-MSFT commented on #55330
@jmasengesho Based on error, the reason could be wrongly mentioning the subnet ID value for
   `--vnet-subnet-id`.
We need to pass full subnet ID for this parameter in the cli command.

For this, you can use below cli command and list the subnet in your vnet
`az network vnet subnet list --resource-group <rgname>  --vnet-name <vnetname>` from this command output take the complete subnet ID and pass

[2020-05-22 10:30] amanmcse commented on #55443
@ejspencer  Please refer to below screenshot. The option is available as per the instructions:

- Under Manage, select Authentication, and then select Add a platform.
- Under Web applications, select Single-page application tile.

![image](https://user-images.githubusercontent.com/33834131/82658652-0479f780-9c45-11ea-89f8-c747acf41b64.png)

[2020-05-22 10:42] SwathiDhanwada-MSFT commented on #55078
@liutang To enable Azure monitor logs for on-premise servers or other cloud providers, I would recommend you to go through [this documentation](https://docs.microsoft.com/en-us/azure/azure-monitor/insights/vminsights-enable-hybrid-cloud).

After installing log analytics agent and dependency agent by going through above mentioned document, you can view your Hybrid environment in Monitor -> Virtual

[2020-05-22 10:42] #55078 closed

[2020-05-22 10:53] MonikaReddy-MSFT commented on #55455
@jamesryanuk -  Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-05-22 10:55] amanmcse commented on #55028
@m-malik15 Looking at the screenshot, you have Federated authentication enabled for user sign-in. When we authenticate using a federated user, we get redirected to the federated IDP for credentials validation. Now when you are using ROPC flow via postman, this redirection is not possible and it results in **Invalid username or password** error.

In order for this to work, you would need to disable

[2020-05-22 10:55] #55028 closed

[2020-05-22 10:55] DanielHolth opened #55460 "Dynamics Business Central"
I observe that Power BI has a connection to user Dynamics Business Central as a data source. How do I do the same in Data Factory?

---
#### Dokumentinformasjon

⚠ *Ikke rediger denne delen. Den kreves for koblingen docs.microsoft.com ➟ GitHub-problem.*

* ID: 4810e7d6-28ed-d956-44b6-77fe62b579e5
* Version Independent ID: 98b5df43-40de-ee10-e63c-c5f15eca1a16
* Content: [Source transformation in ma

[2020-05-22 10:56] sonampanchmiya opened #55461 "Azure APIM Azure Functions slots"
Hi Team,

I have an azure function with 2 slots (Dev and UAT) and the main function acts as prod. I am trying to import the function and its slots in the Api Management. The issue is at a time it points only to one slot or the main app. I am not able to import all the slots as backend. I tried creating the backend via rest api but that gives me 400 error.

Also I am not able to find Azure APIM in

[2020-05-22 10:57] payalgaikwad42 commented on #39257
this document gives information about making direct method calls to opc publisher module. But when I do so I always get status:500 into response payload. According to git issue https://github.com/Azure/Industrial-IoT/issues/361 direct methods have been deprecated from opc publisher. Can somebody please confirm this and give correct information? It would be very helpful. Thank you.

[2020-05-22 11:19] mafais opened #55462 "Peak DTU utilization per DB and Peak DTU utilization per DB"
[Enter feedback here]
How to calculate these below Parameters

1) Number of concurrently peaking DBs
2)  Peak DTU utilization per DB

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 954fdc5f-1572-c6a5-eb19-22e890b1174f
* Version Independent ID: b5776cca-f233-4c34-a649-9a61324a2edd
* Content: [Manage multiple databases wi

[2020-05-22 11:19] MonikaReddy-MSFT commented on #55068
@lisaguthrie  - Thank you for providing your insights.
@shannonslaton - I hope @lisaguthrie has answered your question.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-22 11:19] #55068 closed

[2020-05-22 11:22] MonikaReddy-MSFT commented on #55164
@mrbullwinkle  - Thank you very much for providing your insights.

@awentzel - I hope @mrbullwinkle has answered your question.
And thank you for providing valuable feedback. It means a lot. At this moment, Since there is no doc update required, We will now proceed to close this thread.
If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the d

[2020-05-22 11:22] #55164 closed

[2020-05-22 11:27] NephorLabs commented on #48738
Have the same query. Not sure if it was resolved for @AleynovSergey.

In the documentation link above, the only thing i see as guidance for tables with multiple rows is: "Table data should be detected automatically and will be available in the final output JSON file. However, if the model fails to detect all of your table data, you can manually tag these fields as well. Tag each cell in the table

[2020-05-22 11:36] MonikaReddy-MSFT commented on #55182
@francedot - Thanks again for bringing this to our attention. We have updated the Doc and it should merge once approved, and We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.