[2019-10-21 21:24] bwren commented on #21354
Sorry, looks like this one got dropped.  Trying to identify who can best answer this.

[2019-10-21 21:25] prajster commented on #35358
It does not work for StandardSSD_LRS as a disk type as well.

Let me simplify the case a bit,
I tested the entire script with AZ module and it works fine (except for the standardssd_LRS type) The issue is with the way AzureRM takes the input for the osdisk. its includes VHDURL as a parameter but then leaves it blank for manged disk VMs, and hence fails coz that value is blank.

Let me know if ther

[2019-10-21 21:25] MarileeTurscak-MSFT commented on #41133
Hi @Canis-Lupis ,

I've reached out to ask if a work item can be created to address this.

[2019-10-21 21:27] GiftA-MSFT commented on #41043
Hi @diberry I was able to verify that the option to assign resource for all apps isn't available based on the instructions specified in this document. It seems users can only assign resource while creating or managing individual apps. Can you please update the document accordingly, or if this is a bug, notify the product team for a fix? Thanks.

[2019-10-21 21:33] HiQiQi commented on #41003
My platform is Windows 10.

Both azcopy v10 and the latest version can't work with a single quote.

Maybe about one month ago ( I can't remember whether the examples in the docs were single quoted or double quoted), the commands work when I follow the format.

Now all the commands work with double quotes.

At 2019-10-22 04:43:02, "Norm Estabrook" <notifications@github.com> wrote:

Thank you @HiQiQ

[2019-10-21 21:37] normesta commented on #41148
Thank you @phil-lgr. I've added a note to the prerequisites that makes this requirement clear. That update will appear live by this afternoon. Thanks again!

[2019-10-21 21:37] normesta commented on #41148
#please-close

[2019-10-21 21:37] #41148 closed

[2019-10-21 21:58] JonCole commented on #37777
I have submitted a PR with a fix for this.  Will close this out once the change is merged.

[2019-10-21 21:59] normesta commented on #41003
Thanks @HiQiQi ! Would you be using a Windows Command console off chance? It seems that I too am getting failures in a Windows Command console. Single quote strings appear to work without issue in Windows PowerShell. Thx

[2019-10-21 22:13] FrankHu-MSFT commented on #41013
hello @erikandreas that link is up to date, and is the most up to date resource for all MSAL JS items.

Per the github issue/pull request you had mentioned, https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/784

There is currently a known issue in the MSAL JS library. This is being fixed and you can pull the dev branch if you're interested in utilizing this feature.

Once t

[2019-10-21 22:14] KranthiPakala-MSFT commented on #41166
@bkpearson
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2019-10-21 22:14] FrankHu-MSFT commented on #41123
hello @mamedca, can you clarify what you mean? The global administrator role has every single individual role converged into the global admin role. It can be considered the ultimate role that has the ability to perform every task in an Azure Active Directory.

[2019-10-21 22:15] KranthiPakala-MSFT commented on #41164
@imlarry Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2019-10-21 22:17] FrankHu-MSFT commented on #40945
hey @DeanGross alright sounds good we'll forward this feedback back to the product group accordingly,

Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue by end of day today. Please file a new git issue with a reference to this one if you have anymore concerns. Thanks

[2019-10-21 22:20] JasonWHowell commented on #40016
#please-close Looks like this issue is resolved with Guy's changes.

[2019-10-21 22:20] #40016 closed

[2019-10-21 22:20] dodgy99 commented on #37403
Great news

[2019-10-21 22:22] FrankHu-MSFT commented on #41056
hey @jaffadog ah I see.

The extension attribute should be of this format :

**extension_<appid>_<attributename>**

**The <appid> must match the ID of the application requesting the claim.**

Can you try using that format and seeing if that returns a correct value?
Per : https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-optional-claims#directory-extension-formatting

[2019-10-21 22:26] FrankHu-MSFT commented on #41165
hey @IntrepidBlazon we're looking into this issue and will try adding it if possible.

@IntrepidBlazon Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue by end of day tomorrow. Please file a new git issue with a reference to this one if you have anymore concerns. Thanks

[2019-10-21 22:31] FrankHu-MSFT commented on #41147
hey @demesg can you clarify on what you mean in regards to : saml-idp-tech-profile

The docs are a bit misleading, and we're going to look into changing them accordingly.

Please see the stackoverflow answer here : https://stackoverflow.com/questions/28683022/saml-request-with-multiple-authncontextclassref-and-response-that-indicates-stat

There is actually some confusion here and we're currently

[2019-10-21 22:33] #41166 closed

[2019-10-21 22:36] KranthiPakala-MSFT commented on #41166
@bkpearson Thanks again for pointing this out. The PR for the fix has been created and it will be merged soon. I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2019-10-21 22:41] MicahMcKittrick-MSFT commented on #41168
@Heidilohr @ChristianMontoya can either of you comment further on this?

[2019-10-21 22:55] andrewatfornax opened #41177 "Slots"
In a support call with MS about an issue with Azure Functions, it was suggested (but not exactly confirmed) that a different task hub name may be required for all slots that are in use.

Are you able to confirm if each slot should use a different task hub name, please, or otherwise point out in the documentation that this is not a requirement, and that it's only needed at the Azure Function level?

[2019-10-21 23:07] JonCole commented on #37777
https://github.com/MicrosoftDocs/azure-docs-pr/pull/92678

[2019-10-21 23:10] JonCole commented on #37777
#please-close

[2019-10-21 23:10] #37777 closed

[2019-10-21 23:12] Alberto-Vega-MSFT commented on #40764
@michal-demecki-profil-software closing this issue for now. Please feel free to share the link here, also if you do not get traction (which I doubt) please tag me here and I will try to help.

[2019-10-21 23:12] #40764 closed

[2019-10-21 23:17] BSamodien opened #41178 "References to OMS in stead of Log Analytics"
When will the OMS References in the documentation be updated to reflect Log Analytics instead of the now deprecated OMS.
https://docs.microsoft.com/en-us/azure/azure-monitor/platform/oms-portal-transition

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b75ad427-0a6e-39d7-eaa9-02d03e4f3a7d
* Version Independent ID: 8223d

[2019-10-21 23:25] mpchen commented on #40735
@shashishailaj Based on my test, only Security Admin role is needed to make the pricing tie change (upgrade from free to standard). And Security Admin role can also update email and contact settings.

[2019-10-21 23:36] mike-urnun-msft commented on #41152
Hi @John-Blair - Apologies for the confusing experience. Please let us know what was confusing on this documentation and if you'd like to recommend an improvement that we should make.

[2019-10-21 23:38] mike-urnun-msft commented on #41177
@andrewatfornax Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

cc: @cgillum

[2019-10-21 23:39] GiftA-MSFT commented on #41134
Hi @j-martens, please can you help to clarify where to enter the "override snapshot" command? Also, the error message isn't exactly the same as the error message in this [document ](https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-save-write-experiment-files#storage-limits-of-experiment-snapshots) (i.e project size instead of snapshot size, and limit of 25MB instead of 300MB)

[2019-10-21 23:50] FrankHu-MSFT commented on #40945
Hey @DeanGross could you please provide where you found this guidance in regards to stop using password expiration policies?

[2019-10-21 23:50] #40927 closed

[2019-10-21 23:51] #41018 closed

[2019-10-21 23:51] #41033 closed

[2019-10-21 23:51] #40894 closed

[2019-10-21 23:51] #41013 closed

[2019-10-21 23:51] FrankHu-MSFT commented on #41123
@mamedca Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue by end of day tomorrow. Please file a new git issue with a reference to this one if you have anymore concerns. Thanks

[2019-10-21 23:52] FrankHu-MSFT commented on #41147
Adding some more members to look into this issue further
--------------------------
cc: @mmacy

[2019-10-21 23:53] Alberto-Vega-MSFT commented on #40777
@BhupalPatil Closing the feedback here. Please feel free to share the link so others can upvote your request.

[2019-10-21 23:53] #40777 closed

[2019-10-21 23:54] svangeti opened #41179 "ingest exception into poison queue message for python function"
I am trying to add custom attributes(Exception) to poison queue on function queue storage trigger with python.

using below code to set the modified message in the exception block but getting below error:

[10/21/19 11:46:03 PM] Exception: AttributeError: 'QueueMessage' object has no attribute 'set'

Code:
```msg.set(custom_msg)```

The documentation refers on how to set single message here in Out

[2019-10-21 23:55] Alberto-Vega-MSFT commented on #40805
Hi @jackiebecker have you seen the previous question posted by the author?

[2019-10-21 23:58] Alberto-Vega-MSFT commented on #40827
Closing issue here since the issue is being worked on in the samples repository.

[2019-10-21 23:58] #40827 closed

[2019-10-22 00:19] Alberto-Vega-MSFT commented on #40869
@banderson501 can you please confirm that your feedback was addressed?

[2019-10-22 00:22] Alberto-Vega-MSFT commented on #40911
@applegfbf Thanks for trying Azure Kinect. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-22 00:22] #40911 closed

[2019-10-22 00:24] Alberto-Vega-MSFT commented on #40952
Hi @cecm9113 I'm glad that you were able to resolve your issue.

[2019-10-22 00:24] #40952 closed

[2019-10-22 00:25] richardspitz commented on #41065
@jakaruna-MSFT Sure!

[2019-10-22 00:29] oshmytov opened #41180 "Broken link"
The "Full list of managed disk templates" link above points to a non-existing web page: https://github.com/Azure/azure-quickstart-templates/blob/master/managed-disk-support-list.md

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2cc1d01-15df-351e-bd60-a2a8f91f6e8a
* Version Independent ID: 1af73212-f352-31ce-1896-330cc

[2019-10-22 00:30] Kav7 opened #41181 "External reference not completely accurate"
Hi,
For the convertFromUtc function, it references this resource for timezone values: https://support.microsoft.com/en-us/help/973627/microsoft-time-zone-index-values

In this reference for Sydney timezone, it says to use 'A.U.S. Eastern Standard Time', but using this verbatim fails in MS Flow. It works only if you use 'AUS Eastern Standard Time', basically without the full stops in the name.

---

[2019-10-22 00:30] Alberto-Vega-MSFT commented on #40972
@josiahlaivins That makes sense and thank you for taking the time to provide your valuable feedback. A way to push for this functionality would be to create an entry in the Azure IoT Edge User Voice if it gets enough upvotes it will help the engineering team prioritize. https://feedback.azure.com/forums/907045-azure-iot-edge

[2019-10-22 00:30] #40972 closed

[2019-10-22 00:52] neeleshray-msft commented on #40828
@rwike77 Can the PR be verified ?

[2019-10-22 00:55] neeleshray-msft commented on #41175
@jyotsnaravikumar Thank you for the query. We will check and update on the same soon.

[2019-10-22 01:34] j-martens commented on #41134
@GiftA-MSFT - Please reach out to @greazer

[2019-10-22 01:35] dluc opened #41183 "Default partitioning, when value is not specified"
By default a container created using C# SDK has a partition key set to `/_partitionKey`.  However, neither the SDK or service require the value to be set when creating a new item.

What's CosmosDb SQL behavior when creating documents without specifying the value of `/_partitionKey` ? Are all records stored in the same logical partition?

---
#### Document Details

⚠ *Do not edit this section. It i

[2019-10-22 01:44] wapayne69 commented on #26361
Is there a reason why the https://docs.microsoft.com/en-us/azure/data-factory/quickstart-create-data-factory-python example still hasn't been updated to fix the issues discussed in this thread?  LinkedServiceReference is still used incorrectly in the provided script in the article, LinkedServiceReference(ls_name) instead of LinkedServiceReference(reference_name=ls_name)

[2019-10-22 01:49] decturau opened #41184 "Assigned Role Assignments but cant mount share with that account"
I have assigned all the role assignments at the share-level for SMB access for one of my users. When I try and mount the SMB share and authenticate with that account it fails. I can ONLY mount the share with storage account name and one of the access keys for the storage account.
Is it not possible to mount with the account you have given access? If not, what is the purpose of this if all the moun

[2019-10-22 02:12] Alberto-Vega-MSFT commented on #41161
Hi @josiahlaivins we reserve this issues for feedback directly related to the doc in question. Would you please post this question on the Azure IoT Edge repository?

[2019-10-22 02:14] VikasPullagura-MSFT commented on #41150
@sthoward0914 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-22 02:24] Alberto-Vega-MSFT commented on #41163
@josiahlaivins The scope of this document is limited to the device to cloud and cloud to device communication (IoT Hub) and what you are looking for is Edge module to Edge module communication . Please open another issue on the Edge repository the engineering team should be able to help you, just make sure to provide enough details about what you are doing. (scenario, message size, code if possibl

[2019-10-22 02:27] femsulu commented on #40966
Thanks @KrishnaG-MSFT for attempting to reproducing this.

@DBtheDBA  - if this issue persists, we might need to redirect your issue to our [technical Forum](https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=opinsights) or Azure support channels. If you do not have a support plan, please send mail to AzCommunity@microsoft.com, incldue your subscription ID and a link to this thread (f

[2019-10-22 02:33] VikasPullagura-MSFT commented on #41180
@oshmytov Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-22 02:55] innosam opened #41185 "The script to enable custom automation account fails with error " Microsoft.IdentityModel.Clients.ActiveDirectory.dll not found"."
The script issue while resolving the Active Directory DLL, which was resolved by following fix:

Correct one:
$AzureRMProfile = Get-Module -ListAvailable -Name AzureRM.Profile | Select Name, Version, Path
$AzureRmProfileModulePath = Split-Path -Parent $AzureRMProfile.Path
Add-Type -Path (Join-Path $AzureRmProfileModulePath "Microsoft.IdentityModel.Clients.ActiveDirectory.dll")

Documented one:
$Az

[2019-10-22 02:56] SumanthMarigowda-MSFT commented on #40717
@mkennedy345  I'd recommend posting your question in https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=windowsazuredata since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the is

[2019-10-22 02:56] #40717 closed

[2019-10-22 02:56] innosam opened #41186 "The script to enable custom automation account"
The documentation does not indicate that the script to enable custom automation account needs to run in an Automation Account.
Can we explicitly update that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c11ae82-7254-7494-1401-ce2c116eb1b6
* Version Independent ID: 6e45cb37-357e-14fc-5a98-82f03358985d
* Content: [Aut

[2019-10-22 02:58] inzi25 opened #41187 "Coudn't create new smart contract"
![image](https://user-images.githubusercontent.com/10509895/67256575-79196780-f4a5-11e9-9bbb-16fc0e2daf66.png)

When I try to create new smart contarct. I am getting below erorr. Appreacite your support to overcome this issue,

[Execute command] npm WARN deprecated truffle-hdwallet-provider@1.0.10: WARNING: This package has been renamed to @truffle/hdwallet-provider.
npm WARN deprecated fs-promise

[2019-10-22 03:05] DixitArora-MSFT commented on #41181
Hi @Kav7 Thanks for your feedback. We will review and update as appropriate.

[2019-10-22 03:06] CeciAc opened #41188 "Saml technicalprofile - "Cryptographic keys""
@demesg commented on [Sun Oct 20 2019](https://github.com/MicrosoftDocs/azure-docs.sv-se/issues/478)

Hi
On https://docs.microsoft.com/sv-se/azure/active-directory-b2c/saml-technical-profile

In "Digital encryption" section:
2. Add a **CryptographicKey** element
should be **Key**

****
Edited:  My previous comments were just miss understanding from my side.. But I think the documentation should be

[2019-10-22 03:08] DixitArora-MSFT commented on #41179
Hi @svangeti This channel is for driving improvements towards MS Docs, If you have any other question specific to product , it would be best if you can create the product issue to the official [Azure Functions Repo](https://github.com/Azure/Azure-Functions/issues) for better clarity.

[2019-10-22 03:09] CeciAc commented on #41188
Hi team,
I moved this here because the contributor's comment is on the original documentation
best

[2019-10-22 03:13] shashishailaj commented on #41081
@MGamil-MSFT Thank you for sharing the same . We have reviewed this and will initiate a change on our side.

[2019-10-22 03:33] Rajani-Janaki-Ram commented on #41186
HI Harkirat,

This missed my radar previously. Will be checking in the changes today.

Thanks,
Rajani.

From: Harkirat Singh <notifications@github.com>
Sent: Tuesday, October 22, 2019 8:27 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Rajani Janaki Ram <rajanaki@microsoft.com>; Mention <mention@noreply.github.com>
Subject: [MicrosoftDocs/azure-docs] The script to enable custo

[2019-10-22 03:48] jz247 opened #41189 "Got error - "AttributeError: module 'tensorflow' has no attribute 'logging'" from a pre-configured Notebook VM"
Got the following error when I try to run the cell that creates autoMLConfig object from a pre-configured Azure Notebook VM. Any suggestion on how to fix this? Thanks!
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-18-e5f3111bec14> in <module>
----> 1 from azureml.train.automl im

[2019-10-22 04:16] xuonginhanoi opened #41190 "Tôi chờ nó trên Mac và Linux"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 109ed3f8-faf1-92b9-bf50-4be52e9099d4
* Version Independent ID: ebc5326a-46da-6bc1-1f47-01a8e16d11fb
* Content: [Develop locally with the Azure Cosmos Emulator](https://docs.microsoft.com/en-us/azure/cosmos-db/local-emulator)
* Content Source: [article

[2019-10-22 04:17] xuonginhanoi commented on #41190
Không biết những trang web về dịch vụ và sản phẩm của tôi sau đây có lên dùng nó không?
--
<strong><a href="http://xuonginhanoi.com">xưởng in Hà Nội</a></strong>
<strong><a href="http://inkhanlanh.net">khăn lạnh nhà hàng</a></strong>

[2019-10-22 04:26] keshava-hm commented on #40855
@asergaz  I'll continue on the other thread, but wanted to clarify few points

1. The code that is "generated" when we create a new IoT edge module in VS and VSCode are different. Config.yaml that you have mentioned is related to the edge run time I believe, which is on the target machine... But when I create a new project/module on VS , it generates a module which has a code to receive the info s

[2019-10-22 04:28] VikasPullagura-MSFT commented on #41157
@nzthiago Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-22 04:31] msrini-MSFT commented on #41172
@mkiernan , Thank you for your feedback. We will investigate and get back to you shortly.

[2019-10-22 04:48] VikasPullagura-MSFT commented on #41178
@BSamodien Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-22 04:51] VikasPullagura-MSFT commented on #41162
@rupeshprasad Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-22 04:54] msrini-MSFT commented on #41172
@mkiernan , When you first connect to your VM via Azure Bastion, a new window opens and asks for permission to access the clipboard as shown below:

![image](https://user-images.githubusercontent.com/47132998/67259639-9570d080-f4b4-11e9-88e9-4377c5af74ac.png)

In the left- center of your screen, you can find this arrow, when you click on it, you will see the palette.

![image](https://user-images.

[2019-10-22 05:00] RohitMungi-MSFT commented on #41189
@jz247 Thanks for the feedback. We are investigating the issue and will update you shortly.

[2019-10-22 05:01] SwathiDhanwada-MSFT commented on #41186
@Rajani-Janaki-Ram  Thanks for the quick response.

[2019-10-22 05:04] SwathiDhanwada-MSFT commented on #41084
@thiagosoeiro Can you please share the document link that you are following so that we can look into it and assist you accordingly?

[2019-10-22 05:05] SwathiDhanwada-MSFT commented on #41085
@thiagosoeiro Can you please share the document link that you are following so that we can look into it and assist you accordingly?

[2019-10-22 05:21] SubhashVasarapu-MSFT commented on #40835
@JackNs-16 , Appreciate you patience. Are you still facing the issue? I was able to successfully reproduce this. Let us know if you need any further help in this.

[2019-10-22 05:24] souravmishra-msft commented on #41188
@CeciAc, Thank you for sharing the query. Based on this, it looks like the documentation has to be updated. We are looking into this and will try to update the document accordingly.

[2019-10-22 05:26] KetanChawda-MSFT commented on #40999
@topese Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-22 05:26] #40999 closed

[2019-10-22 05:52] VikasPullagura-MSFT commented on #41184
@decturau Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-22 05:54] SadiqhAhmed-MSFT commented on #41185
@innosam Thank you for the feedback. This issue is being assigned to the content author to evaluate and update as appropriate.

@Rajani-Janaki-Ram Could you please review this request and make necessary changes?

[2019-10-22 05:59] ManojReddy-MSFT commented on #40733
@damiandiaz76 I was able to get it to work in my environment. Managed identities tend to cache tokens and that sometimes causes a delay in the policies and group memberships taking effect.
Normally forcing the managed identity to get a new token helps. (A restart of the resource is the easiest way).

Also, ensure that your managed identity is not part of too many groups (upper limit of ~200). I wi

[2019-10-22 05:59] #40733 closed

[2019-10-22 05:59] KetanChawda-MSFT commented on #41010
@spelluru Re-posting in case you missed the last post.

[2019-10-22 06:00] jakaruna-MSFT commented on #41107
@LouisDK

I tried to reproduce your issue.

First i created a ACi with the below command.
`az container create --name jakaruna-container --image microsoft/azure-cli --assign-identity  --command-line "sleep 300"`
This command created am ACI and assigned an identity to it.  i gave the permission for that identity to access my key vault.
Then i logged in to the container and i am able to access the s

[2019-10-22 06:03] greazer commented on #41134
@GiftA-MSFT, Unfortunately, this is a result of the recent change to remove the extension's use of the Python Azure ML SDK to support it's functionality. The work to reenable projects over 25MB is tracked here: https://github.com/microsoft/vscode-tools-for-ai/issues/293.

[2019-10-22 06:05] ChiragMishra-MSFT commented on #41162
@rupeshprasad Since the issue is not a feedback on the doc in reference, I would recommend you to create a thread on the forums - [MSDN ](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDataFactory) or [stack overflow](https://stackoverflow.com/questions/tagged/azure-data-factory).

Once you post your issue on forums, it will have visibility across the community which is a better su

[2019-10-22 06:05] #41162 closed

[2019-10-22 06:13] dcurwin commented on #41170
#reassign:dcurwin

[2019-10-22 06:21] kuznetsov420 commented on #39533
Any updates on this?

[2019-10-22 06:21] ashishmundrajll opened #41191 "Please document SSO support in general"
Please specify is Azure AD the only way or can we use another SSO solution as well e.g. Okta or PingIdentity to secure APIs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 823eb96f-e5f1-0832-b175-0b31009be92f
* Version Independent ID: 330085ae-dcf6-e930-86a8-0e4a60ab1314
* Content: [Protect an API by using OAuth 2.0 wit

[2019-10-22 06:37] VikasPullagura-MSFT commented on #41187
@inzi25 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-22 06:49] mamedca commented on #41123
Hi, I sure can elaborate.
So my question is, if I assign all individual roles to an administrator, what can that user NOT do compared to just having Global administrator as role.
Our admins are supposed to help with every regard of system administration. We want to do everything, but Billing. This is supposedly not possible yet, so everyone is Global administrator and sees billing information. If

[2019-10-22 06:58] AshokPeddakotla-MSFT commented on #41110
@doingnz  [PR](https://github.com/MicrosoftDocs/azure-docs-pr/pull/92736) has been created to fix this issue. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-22 06:58] #41110 closed

[2019-10-22 07:09] smoms commented on #41155
well these links are about how apps and AAD works together, in general. To put that specific example with Kubernetes one has to spend "probably days". So why don't just  give a one-pic diagram to show the authN and authZ process described in that documentation? thanks

[2019-10-22 07:12] jgwinner commented on #39538
Can we update the base document so that it is correct? As the OP notes, many people end up here, and your own steps don't coincide with your own portal.

[2019-10-22 07:18] MSNina123456 opened #41192 "Incorrect cmd for Azure CLI to install oms extension"
this one didn't work:
az vm extension set \
  --resource-group myResourceGroup \
  --vm-name myVM \
  --name OmsAgentForLinux \
  --publisher Microsoft.EnterpriseCloud.Monitoring \
  --version 1.10.1 --protected-settings '{"workspaceKey":"myWorkspaceKey"}' \
  --settings '{"workspaceId":"myWorkspaceId"}'

Should modify to:
az vm extension set --resource-group myResourceGroup --vm-name myVM --name

[2019-10-22 07:19] jgwinner commented on #39538
Ah, I got it … the document does mention this (my mistake). I would recommend changing the paragraph 1 to step 2, and adding a step 1 that says "Ensure a storage account exists, or create one" and then have the excellent URL you mention before in the explanation for step 1. People often skip the intro paragraphs and go to the steps, which causes confusion.

[2019-10-22 07:22] benc-uk opened #41193 "Virtual Nodes Incompatibility"
I've discovered (the hard way) that the cluster autoscaler isn't compatible with Windows nodes. If you enable Windows when you create your AKS cluster (e.g. with `--windows-admin-username`) Then cluster autoscaler ceases to function. This is the case even if you don't have a Windows node pool

Would be good to put that clearly in the limitations section :)

**CORRECTION: After some testing I can c

[2019-10-22 07:27] deheems commented on #40769
@BharathNimmala-MSFT I can confirm this issue is similar when opened with Admin Privilege's.

[2019-10-22 07:43] SamirFarhat commented on #41143
Hi,

It's true that the Title is for Linux, but the attached link shows that this is supported for both Windows and Linux, and this is very confusing.

Thanks

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Micah <notifications@github.com>
Sent: Monday, October 21, 2019 10:53:32 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Samir Farhat

[2019-10-22 07:58] jaq316 commented on #40774
@DixitArora-MSFT ... Thank you.

I was unsure whether the Delay and Delay Until actions were using poll executions under the covers, but from your response, I assume it is not and will only be regarded as 1 execution in terms of billing.

Am I correct?

[2019-10-22 08:01] benc-uk commented on #41193
Note. The limitation section in the Windows docs no longer mentions the autoscaler either

[2019-10-22 08:01] patrickpouw commented on #39533
Please update this plugin, waiting for it for a month now...

[2019-10-22 08:05] wisesimpson commented on #38152
@PramodValavala-MSFT
If I want to build a simple page, triggered by http request and response with some data from cosmos db. Is it still possible to using the second alternative (using queue message)? I don't know if it's possible to carry the http response to the following function?

[2019-10-22 08:07] ChiragMishra-MSFT commented on #41008
@cstainie I will now proceed to close this thread. Please feel free to still comment and tag me if you have any queries in this regard.

[2019-10-22 08:07] #41008 closed

[2019-10-22 08:08] DixitArora-MSFT commented on #41098
@WhitWaldo  I have assigned this to content author for further review and update.

[2019-10-22 08:16] artsheiko opened #41194 "Is there any possibility to get 10000+ rows from Hubspot.Companies table ?"
Currently, Copy activity gets only 10000 rows (the result is same for both "Use query" =Table and =Query options). Is there some workaround to get all table data ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d9d4670-d8f7-2c1a-b93c-2d260f32ab84
* Version Independent ID: 6756005b-8c21-9dac-3837-340b30565078
* Content

[2019-10-22 08:16] AFUEU commented on #39375
Hi May, sorry for the late answer. I was on vacation.

It works when I just set the prefix to "experiments". However the moment I want to specify a path in the FileStore it always reports 0 downloads. Like if I have the model under experiments/foo/bar and specify set prefix="experiments/foo/bar", it won't download the files available in the specified directory.

[2019-10-22 08:20] jakaruna-MSFT commented on #41193
@benc-uk
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-22 08:21] satish225 opened #41195 "Hi Team,"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7e0a294-1b8a-1711-6f80-cb9ee87730ad
* Version Independent ID: 46e6645b-48ca-fa7c-1fb9-bc3442fde1d7
* Content: [Kubernetes on Azure tutorial  - Deploy an application](https://docs.microsoft.com/en-us/azure/aks/tutorial-kubernetes-deploy-application#)

[2019-10-22 08:23] cephalin commented on #31012
@elenay93 looks like this doc has been updated recently. Just to make sure I've reshot the screenshots and it should be published sometime today. #please-close

[2019-10-22 08:23] #31012 closed

[2019-10-22 08:23] taliesins opened #41196 "Clarity around aadp license with multiple tenants"
When you purchase p1 licenses is it:
- a p1 license per a user per tenant: this means guest users that already have a license will need an additional license in the guested tenant.
- a p1 license per a user in Azure: this means guest users that already have a license do not need one in the guested tenant.

The scenario being an organisation that has a prod and non-prod tenant. Users are homed in p

[2019-10-22 08:27] satish225 opened #41197 "Unable to access the application from Load balance IP after done with AKS setup"
Hi Team,

We are trying to use AKS service and followed the steps as guided by below Microsoft link.

https://docs.microsoft.com/en-us/azure/aks/tutorial-kubernetes-prepare-app

After done with 4th step , we could not access the application form LB ip.

Here i am placing the yamal script  for reference.
Please go through  it and let me know what needs to be done from my end to avoid the issue.

--

[2019-10-22 08:32] jakaruna-MSFT commented on #41065
cc: @MicahMcKittrick-MSFT

[2019-10-22 08:35] hollyemblem commented on #39590
Sure thing: https://stackoverflow.com/questions/58377444/swagger-json-example-json-for-forecast-model-doesnt-seem-to-return-predictions

[2019-10-22 08:36] ctolkien opened #41198 "Lighthouse ('My Customers') now has a 'Cloud Solutions Provider' Section"
But there is no documentation on how you go about adding your customers to this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6144129d-ab4c-d692-f69f-cb09b87a7e2f
* Version Independent ID: a0a18fe9-58b4-4c30-4043-05fa74e276ca
* Content: [Cloud Solution Provider program considerations - Azure Lighthouse](https://docs.

[2019-10-22 08:38] benc-uk commented on #41193
I think it was virtual nodes causing the issue. I disabled them and the CA kicked into life

[2019-10-22 08:40] PramodValavala-MSFT commented on #38152
@wisesimpson You'd want to serve the page statically and have JavaScript make the call to fetch the data as required. You can use patterns like [Async HTTP APIs](https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-overview#async-http) to achieve something like that.

[2019-10-22 08:43] MSNina123456 commented on #41192
sorry, copy wrongly, should modify to:
az vm extension set --resource-group Nina-rg1 --vm-name rhel75 --name OmsAgentForLinux --publisher Microsoft.EnterpriseCloud.Monitoring --version 1.12.5 --protected-settings '{\"workspaceKey\":\"EFA67HvBSdOP76OC8vksmkOwqhUS6z/g+f8wU09C7zYMwrlLLSPx2hbgtoQYOzR7si+o/uD05jhe5C9eLShOXA==\"}' --settings '{\"workspaceId\":\"d923aee4-da70-436b-ad6c-3ea79be5970e\"}'

[2019-10-22 08:44] MSNina123456 commented on #41192
Oh strange, I cannot add escape in comments, actually the solution is to add escape character before "

[2019-10-22 08:48] shashishailaj commented on #41094
@kumarallamraju We checked this and found that the screenshots that you have provided is correct and the documentation is also correct about the two enterprise applications **Domain Controller Services** and **AzureActiveDirectoryDomainControllerServices** . The Documentation refers to the application entries created within the Azure Active directory instance where you have enabled Azure AD domain

[2019-10-22 08:49] VikasPullagura-MSFT commented on #41195
@satish225 Is there any specific document feedback you want to give on this document? If so please provide the entire feedback/query you have on this document and the appropriate team will look into the feedback.

As for now there is no issue/comment from you on this issue provided, I am closing this Issue.

[2019-10-22 08:49] #41195 closed

[2019-10-22 08:55] christianb7 commented on #26366
It does seem that it now works, although I still see the documentation is not updated.  Would be great to have an update on when/it it is officially available and supported.

[2019-10-22 09:01] jakaruna-MSFT commented on #40673
Scaling down, autoscaling will remove the NAT config for that VM.
reimage, deallocate wont affect the NAT configuration.

I need to check for "perform maintenance" and "redeploy". I think "redeploy" will preserve the NAT port mappings

[2019-10-22 09:03] MeirMen commented on #21354
Guys, Network Watcher has its own docs. We can refer to it but I see no other implication.

[2019-10-22 09:05] jakaruna-MSFT commented on #41193
@benc-uk Good to know that it worked well.

In case of multi nodepool environment, we need to enable autoscaler per nodepool.
we can specify different settings for each nodepool. Reference :  https://docs.microsoft.com/en-in/azure/aks/cluster-autoscaler#use-the-cluster-autoscaler-with-multiple-node-pools-enabled

i think autoscaler for windows nodepools are not supported yet.

@jluk @zr-msft @mlea

[2019-10-22 09:07] MoiMoiDG commented on #41024
Hi @SamaraSoucy-MSFT,

Thank you for the quick reply.
There is a misunderstanding: The dynamic refresh does not work (for me) in .NET 3.0 after implementing the tutorial
https://docs.microsoft.com/en-us/azure/azure-app-configuration/enable-dynamic-configuration-aspnet-core
Is your solution on GitHub?

Thanks!

[2019-10-22 09:08] #41108 closed

[2019-10-22 09:08] NikhilBansal21 opened #41199 "Designing a speech sdk + luis for web widget"
I am following this link for creating a voice assistant of my Luis agent -

https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-recognize-intents-from-speech-csharp

Here i have two things which i am not able to find in the documentation
1- Here i want to send response of the intent classified by the speech service instead of intent classification
2- I want the same pro

[2019-10-22 09:08] KetanChawda-MSFT commented on #41108
@superknife0512 Thank you for pointing that out. Created a PR which will fix this.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-22 09:09] bizinbarefeet opened #41200 "Free Services is not listed on page"
[Enter feedback here]
Free Services is not listed on page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: caadbfdd-05b5-dc2e-7fd6-69ff2f9fb2e9
* Version Independent ID: f76cad32-0690-b06f-4447-0626b92d3e1f
* Content: [Avoid charges with your Azure free account](https://docs.microsoft.com/en-us/azure/billing/billing-avoi

[2019-10-22 09:13] AlexJPawlak opened #41201 "More info on Licensing Role for Windows Server deployments"
Based on the information here:

https://techcommunity.microsoft.com/t5/Windows-Virtual-Desktop/Windows-Virtual-Desktop-server-licensing-mode-not-configured/m-p/925860/highlight/true#M1802

Could you highlight the fact that for RDS deployments on Windows Server you need to manage your own licensing role? Also, that would be great if DSC extension that configures WVD also deployed unconfigured licen

[2019-10-22 09:15] dcurwin commented on #41170
Corrected the mistake.

#please-close

[2019-10-22 09:15] #41170 closed

[2019-10-22 09:16] SubhashVasarapu-MSFT commented on #41069
@dahovey , Appreciate your patience. We are assigning this issue to content author for updating the document accordingly.

[2019-10-22 09:29] iogrecu commented on #39211
Hi,
For O365_BUSINESS_PREMIUM	f245ecc8-75af-4f8e-b61f-27d8114de5f3

Several items missing:

PS C:\WINDOWS\system32> (Get-MsolAccountSku | where {$_.AccountSkuId -eq "ioanagrecu:O365_BUSINESS_PREMIUM"}).ServiceStatus

ServicePlan                     ProvisioningStatus
-----------                     ------------------
MICROSOFT_SEARCH                Success
WHITEBOARD_PLAN1                Success
M

[2019-10-22 09:37] LeonardoFelippine opened #41202 "Update deployment process"
Hello.

Could you please provide additional information regarding the update deployment process? Some questions that have emerged are:
- How are updates applied to production? Do I need to approve them? If not, what is the period between they are applied to validation and production?
- Will I be notified of new updates applied to validation?
- If an update "breaks" something, can I delay it?

Rega

[2019-10-22 09:38] pes-kapacity opened #41203 ""See details in connector article""
At several places in this article, the documentation states: "See details in connector article" (I.e. See details in connector article -&gt; Copy activity properties section.).

Seeing this *is* the Connector article, (At least in the treeview it shows up as "How to Guides -&gt; Connectors -&gt; Delimited Text Format"), shouldn't this be where we can find the information? If not, could the text be

[2019-10-22 09:46] ManojReddy-MSFT commented on #41118
@billmath There are a couple of other issues within step8

8.1) "The list of available geos can be found in this table." table needs to be hyperlinked
8.3) @matopablo's suggestion above
8.4) The script suggested has been removed by the original contributor as it is no longer accurate.

Can you take a look at this and update the article accordingly?

[2019-10-22 09:49] ChiragMishra-MSFT commented on #41203
@pes-kapacity Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2019-10-22 09:50] ChiragMishra-MSFT commented on #41194
@artsheiko Thanks for the question. We are currently investigating into the issue and will update you shortly.

[2019-10-22 09:50] ErnestBrant opened #41204 "Is the MARS agent supported on Windows 2019 Server CORE"
Hello,
I have been testing the current version of the MARS agent in Windows 2019 Server CORE, with very intermittent results.
Looking at the official Microsoft Support Matrix here

https://docs.microsoft.com/en-us/azure/backup/backup-support-matrix-mars-agent#support-for-direct-backups

Windows Server CORE is absent from the support matrix when using the MARS agent (on-premise physical server).

T

[2019-10-22 09:52] JDWNL opened #41205 "MMA Agent should not be referred to as an extension"
"The Log Analytics agent virtual machine _extension_ for Windows is published and supported by Microsoft. "

I think the agent should not be referred to as an extension as the installation process is different as compared to for example the IaaSAntiMalware Extension. The MMA agent _is not listed_ in the VM extensions blade.

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2019-10-22 09:53] ManojReddy-MSFT commented on #41090
@kennethvs Actually you can register your personal and mobile devices to Azure AD. On your personal device, you might be signing with your local account but you can register it to Azure. So, adding that to the UI will complicate other scenarios.

I hope this clarifies.

[2019-10-22 09:54] ErnestBrant opened #41206 "Is the MARS agent supported on Windows 2019 Server CORE"
Hello,
I have been testing the current version of the MARS agent in Windows 2019 Server CORE, with very intermittent results.
Looking at the official Microsoft Support Matrix here

https://docs.microsoft.com/en-us/azure/backup/backup-support-matrix-mars-agent#support-for-direct-backups

Windows Server CORE is absent from the support matrix when using the MARS agent (on-premise physical server).

T

[2019-10-22 10:01] ManojReddy-MSFT commented on #41120
@PingPongSet The number of times a deny assignment added explicitly is very less when compared to having no assignments at all.

Once the assignments are retrieved, the processing is done at the user level and there is not much difference in performance if you check deny assignments first. The benefit of checking allow assignments first is that if allow assignment does not exist then there is no n

[2019-10-22 10:01] femsulu commented on #40998
@anirudhcavale can you review the doc-enhancement request for possible revision to the doc per comment above?

[2019-10-22 10:03] dcurwin commented on #41206
#assign:saurabhsensharma

[2019-10-22 10:03] dcurwin commented on #41204
#assign:saurabhsensharma

[2019-10-22 10:04] #41203 closed

[2019-10-22 10:04] julioas09 opened #41207 "This applies to a wider scope"
Most of the content in this page applies also to non-container services. Resource governance is also relevant for ASP.NET Core services for example.
Additionally it would be good to explicitly state that Resource Governance is static. Only static resource governance policies defined at application manifest level are taken into account for node load. Dynamic metrics (defined of read by ResourceMoni

[2019-10-22 10:05] ChiragMishra-MSFT commented on #41194
@artsheiko One way to get all the data from the table is by using either a [custom activity](https://docs.microsoft.com/en-us/azure/data-factory/transform-data-using-dotnet-custom-activity) or an [Azure Function activity ](https://docs.microsoft.com/en-us/azure/data-factory/control-flow-azure-function-activity) and use SDKs to read from the source and write to the sink.

Hope this helps.

[2019-10-22 10:07] pes-kapacity commented on #41203
Why was the issue closed?

[2019-10-22 10:09] ChiragMishra-MSFT commented on #41203
@pes-kapacity I just fixed the doc and sent a PR. The PR was merged into master and you should be able to see the changes in production very soon. Hence the issue was automatically closed as it was referenced by a PR which was merged.

[2019-10-22 10:10] sarah026 commented on #41010
Thanks I look forward to an answer, as having the logs is important to us, esp for PaaS services outside our control.

[2019-10-22 10:12] RohitMungi-MSFT commented on #41189
@jz247 It looks like the pre-reqs to install some of the pip packages might be missing in this environment. Could you please try to install the same?
`!pip install azureml-sdk[automl] azureml-opendatasets azureml-widgets`

Also, please check which version of tensorflow is installed

[code]

It also looks like a higher version(>2) of tensorflow is installed which might not work for this tutorial. C

[2019-10-22 10:12] pes-kapacity commented on #41203
Ah, cool. Thanks! I'll try and be patient until the fix shows up :)

[2019-10-22 10:14] ChiragMishra-MSFT commented on #41203
@pes-kapacity It definitely will show up very soon. I do not have an exact ETA but please expect the changes to show up within the next 24 hours.

[2019-10-22 10:21] pes-kapacity opened #41208 "wildcardFileName"
The documentation states that wildCardFileName is Required:

"if fileName is not specified in dataset"

The wording of this makes it sound as if as long as the fileName is specified, the wildcard would be ignored. However, we seem to be seeing the opposite. We have a parameter that sets the fileName (1 single file), but the pipeline somehow processes multiple files.

---
#### Document Details

⚠ *

[2019-10-22 10:40] pes-kapacity commented on #41208
I can now confirm that when the wildcard contains a value (in our case: *.csv), regardless of whether fileName is filled in by means of the variable, it simply processes all files matching the wildcard. If the wildcard is empty, the pipeline correctly processes just the file by that name.

My suggestion would be to adjust the information to reflect this, and word it so that it states that if/when

[2019-10-22 10:46] femsulu commented on #40904
@brucedkyle Hope the above helped answer your question. Please don't hesitate to reply if you have any followup questions. We will now close this request.

[2019-10-22 10:46] #40904 closed

[2019-10-22 10:47] femsulu commented on #40946
Hi @DanniJuhl  - any update on the above please?

[2019-10-22 10:47] guoch opened #41210 "databricks configure --profile primary ask for username and password"
databricks configure --profile primary will ask prompt for username and password. May I know which username and password is?

As a workaround, I use    databricks configure --profile primary --token,  and input token for that

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7be07cf2-e36b-7e52-e531-8eae2ea1f63d
* Version

[2019-10-22 10:50] guoch opened #41211 "Step 6 raised IndexError: list index out of range"
It seems that these lines are raising list index out of range in my side when I run it directly from my test, could you please take a look?
jobs_list = []
for jobs_info in jobs_info_list:
  jobs_list.append(jobs_info.split(None, 1)[0])

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7be07cf2-e36b-7e52-e531-8eae2ea1f63d

[2019-10-22 10:59] markjbrown commented on #41190
Hỗ trợ cho Mac và Linux là trên bản đồ đường của chúng tôi. Không biết ngày chính xác. Cảm ơn bạn.

#please-close

[2019-10-22 10:59] #41190 closed

[2019-10-22 11:02] markjbrown commented on #41183
Yes, if you do not specify a partition key value it will go into a the "null" value partition key which will eventually hit the 10GB limit.

Not sure what version of the SDK you are using. I am pretty sure you must set this value for SDK v3.

thanks.

[2019-10-22 11:11] AjayKumar-MSFT commented on #40988
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and we will gladly continue the discussion.

[2019-10-22 11:11] #40988 closed

[2019-10-22 11:13] AjayKumar-MSFT commented on #41047
@roalexan, Apologies for the delay! I have assigned the issue to the content author to review further and update the document as appropriate. Thanks again for sharing your valuable feedback.

[2019-10-22 11:18] AjayKumar-MSFT commented on #41157
@nzthiago, Thanks for the good feedback! Your feedback has been shared with the content owner for further review.

[2019-10-22 11:18] ChiragMishra-MSFT commented on #41211
@guoch Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2019-10-22 11:19] ChiragMishra-MSFT commented on #41210
@guoch Thanks for your feedback. We are investigating into the issue and will update you shortly.

[2019-10-22 11:19] ChiragMishra-MSFT commented on #41210
@guoch Thanks for your feedback. We are investigating into the issue and will update you shortly.

[2019-10-22 11:20] ChiragMishra-MSFT commented on #41208
@pes-kapacity Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2019-10-22 11:22] PramodValavala-MSFT commented on #41191
@ashishmundrajll While this doc showcases how to protect your APIs using Azure AD, you can use any OAuth or OpenID Connect provider as well.

[2019-10-22 11:23] PramodValavala-MSFT commented on #40932
@rasmuschristensen Just following up here... Hope my previous comment clears things up.

[2019-10-22 11:28] PramodValavala-MSFT commented on #41048
@jasoncoding I believe the lock duration set when creating a queue is used for a session as well. In case of a session, the lock is applied to all messages for that session.

Like for message locks, when session locks are not renewed before completing a message, its delivery count is affected. The [impact on delivery count](https://docs.microsoft.com/en-us/azure/service-bus-messaging/message-sessi

[2019-10-22 11:34] SadiqhAhmed-MSFT commented on #41206
@ErnestBrant Thanks for the comment. We are looking into this and will get back to you shortly.

[2019-10-22 11:36] SadiqhAhmed-MSFT commented on #41204
Duplicate of 41206#

[2019-10-22 11:36] #41204 closed

[2019-10-22 11:46] SadiqhAhmed-MSFT commented on #41200
@bizinbarefeet Thanks for the comment! Which part of the article are you referring to for Azure free services? Please provide more details so that we can take appropriate action.

FYI: Here is a [full list of free Azure services for 12 months](https://azure.microsoft.com/en-in/free/search/?&ef_id=EAIaIQobChMI_Kf22eSv5QIVg5KPCh2G1QDtEAAYASAAEgKODfD_BwE:G:s&OCID=AID2000081_SEM_qdiHspWG&MarinID=qdiHs

[2019-10-22 12:02] VikasPullagura-MSFT commented on #41183
@dluc Thank you for sharing the query. I have assigned the issue to content author to add comments.

[2019-10-22 12:03] jakaruna-MSFT commented on #41192
@MSNina123456 I tried that command in [cloudshell ](https://shell.azure.com/) and it works well.

Are you executing that command on powershell?

[2019-10-22 12:07] timoklimmer opened #41212 "Some skill outputs missing"
The mentioned list of skill outputs is not complete, eg. it misses urls and e-mails. The article needs an update.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19aab454-eee8-1d01-e7e4-651060a424ff
* Version Independent ID: 461d010a-ee86-7223-f6ed-85afbad8a028
* Content: [Named Entity Recognition cognitive search skill

[2019-10-22 12:08] VikasPullagura-MSFT commented on #41196
@taliesins Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-22 12:11] ukez15 opened #41213 "Outdated Documentation"
Hi guys,

Could we get this documentation updated to reflect the latest changes on the portal and on the apple software.

The current steps are not easily followed on with the new apple interface.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07303594-9639-aa5f-1c57-e404a90cf96e
* Version Independent ID: 97cba838-e304

[2019-10-22 12:12] felickz opened #41214 "Different AAD then tenant tied to sentinel"
How can you pull in aad data from another tenant or B2C tenant?  Can you provide a tenant id and credentials with proper permissions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ff6ed5e-5b5c-e516-aeae-c9bf0a0c69c9
* Version Independent ID: 63ecbda4-59e4-343e-e640-1c6be2ce805d
* Content: [Connect Azure AD data to Az

[2019-10-22 12:14] jakaruna-MSFT commented on #41205
@JDWNL
Thanks for the feedback!

Not all the extensions will be listed on the VM extensions blade.

But when we describe the vm using Azure cli or powershell, We can see all of them.

The installation process is similar to installing other extensions. Can you please elaborate about the way it differs?

[2019-10-22 12:17] jakaruna-MSFT commented on #41207
@julioas09
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-10-22 12:17] VikasPullagura-MSFT commented on #41212
@timoklimmer Thank you for feedback. We are looking into this and will get back to you on this thread.

I am assigning the issue to content author for adding comments and updating the document appropriately.

[2019-10-22 12:20] VikasPullagura-MSFT commented on #41213
@ukez15 Can you please provide the document link you are referring for an update, so that appropriate team can be engaged.

[2019-10-22 12:22] VikasPullagura-MSFT commented on #41201
@AlexJPawlak Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-22 12:23] VikasPullagura-MSFT commented on #41202
@LeonardoFelippine Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-22 12:24] ukez15 commented on #41213
It's a documentation on notification hub:
https://docs.microsoft.com/en-us/azure/notification-hubs/notification-hubs-push-notification-http2-token-authentification

I'm a support engineer with CSS and a customer is having difficulty following the documentation as the screenshots reflecting the apple part are outdated.

[2019-10-22 12:26] deanellerby opened #41215 "Flowchart"
"Does you app authenticate with username and password" on Flowchart only has "Yes" choice.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9edfc165-8727-4f35-1be0-b570ee716673
* Version Independent ID: b41dd96e-4a97-6f83-0b31-9ce17d1de42c
* Content: [Single sign-on to applications - Azure Active Directory](https://docs.

[2019-10-22 12:29] ElD4n1 commented on #35692
Hello, we are also trying to implement this scenario.
I think this is the main related issue that makes implementing the scenario difficult and the reason why it didn't work when you tried it:
([#24358](https://github.com/MicrosoftDocs/azure-docs/issues/24358))

[2019-10-22 12:31] jakaruna-MSFT commented on #41197
@satish225 are you using the file `azure-vote-all-in-one-redis.yaml` and deployimg on AKS?

[2019-10-22 12:32] mylabonline opened #41216 "When will APIs and PowerShell become available for Entitlement Management?"
Hello - Hoping you can provide an update to when REST APIs and PowerShell cmdlets will become available for Entitlement Management?

We have started using Entitlement Management in a POC, but as a production solution, automation and REST APIs must be available.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06

[2019-10-22 12:34] jakaruna-MSFT commented on #41197
Can you check the status of the deployments and services and post here?

`kubectl get deployments`

`kubectl describe service azure-vote-front`

[2019-10-22 12:40] jakaruna-MSFT commented on #41197
If you have used the ACR to store your images, you need to authenticate from AKS to ACR to pull images.

Steps for that are mentioned at the end of the document.

Id authorization is not done, Please follow this [link ](https://docs.microsoft.com/en-us/azure/aks/cluster-container-registry-integration#configure-acr-integration-for-existing-aks-clusters) to create it.

Try this out and let me know

[2019-10-22 12:49] Anaig opened #41217 "Update code snippet"
https://docs.microsoft.com/en-us/azure/search/search-query-simple-examples#example-3-filter-queries
The select field of the body json should not contain "select="

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a010249-e112-304a-04d2-c6926bec10da
* Version Independent ID: 764aa985-b2d8-fcfa-b8d2-9653b05a706a
* Content:

[2019-10-22 12:54] pjgpetecodes opened #41218 "error C2065: 'POLICY_CONFIGURATION_DISTRIBUTED_TRACING': undeclared identifier when running sample."
When I try to run the sample after adding the `(void)IoTHubDeviceClient_LL_EnablePolicyConfiguration(device_ll_handle, POLICY_CONFIGURATION_DISTRIBUTED_TRACING, true);` line, I get the following error;

iothub_ll_telemetry_sample.c(146,121): error C2065: 'POLICY_CONFIGURATION_DISTRIBUTED_TRACING': undeclared identifier.

Any info for a workaround here?

Thanks!

---
#### Document details

⚠ *Do no

[2019-10-22 12:59] VikasPullagura-MSFT commented on #41213
@ukez15 Thanks for pointing out this. I am assigning this to the doc author for updating the screenshots as applicable.

[2019-10-22 13:01] ciufudean opened #41219 "The log location is wrong"
At least for my OS, the logs are under are under C:\WindowsAzure\Logs\Plugins\Microsoft.Azure.Diagnostics.PaaSDiagnostics&lt;version&gt;\

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3a5910a-2b07-f14a-e5b4-afdef8ec1366
* Version Independent ID: 5d9f6b8c-d991-dac6-8d15-010f06a678b4
* Content: [Troubleshooting Azure D

[2019-10-22 13:03] DeanGross opened #41220 "Global reader- missing Secure Score"
As a Global Reader, I can access the Security and Compliance Center, but I'm not seeing the Secure Score widget. Is this a known limitation? if so, please state this in the notes above, otherwise, please file a bug report

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0767aac4-fcd9-eaac-2c30-8f17d8eadd92
* Version Inde

[2019-10-22 13:05] mprsic commented on #41187
Run into the same issue, trying to get a new sample contract in VS Code, however with a slightly different error message. Please see below. All prerequisites installed successfully. Also installed the C++ compiler separatelly, using npm install --global windows-build-tools. Any ideas for the source of my issue?

npx truffle unbox Azure-Samples/Blockchain-Ethereum-Template
[Execute command]
[Execut

[2019-10-22 13:10] DeanGross opened #41221 "Global reader - unable to see Security Dashboard reports"
In the Global reader role, I am not able to see many of the reports widgets on https://protection.office.com/insightdashboard. I'm expecting to be able to see the reports described on https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/reports-and-insights-in-security-and-compliance and most of them are missing.

---
#### Document Details

⚠ *Do not edit this section. It is

[2019-10-22 13:21] jasonfare opened #41223 "Instructions for Administrators"
As an administrator, how do we turn on the experience for our users?  Neither page provides instructions for the administrators.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf9ff347-e8ff-e3e5-b053-fe269ed19858
* Version Independent ID: 469e35b5-d852-d5ca-d2f7-d480eb3e1305
* Content: [My Profile (preview) portal over

[2019-10-22 13:32] SwathiDhanwada-MSFT commented on #41198
@ctolkien  Thanks for the comment. We are looking into it and will update you soon.

[2019-10-22 13:33] sonaliwalia1 opened #41225 "Event hub EventProcessorHost"
https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-node-get-started-send
 I am trying to use this sample but I am not able to read unread data only. One more thing I am getting two different error
1)  connect ETIMEDOUT 40.112.242.0:5671
2)  lease lost while updating checkpoint

In the node js sample, I am not able to set checkpoints. I have tried  Azure/azure-sdk-for-js as well. But it i

[2019-10-22 13:34] SwathiDhanwada-MSFT commented on #41219
@ciufudean Thanks for the comment. We are looking into it and we will update you soon.

[2019-10-22 13:38] charles-chen-wtw commented on #41016
Resolved by upgrading azure-cli to latest version. The pip failure was fixed in newer version.

I would suggest to indicate minimum support azure-cli version.

Thanks

[2019-10-22 13:39] kpetrow opened #41226 "Can not Create S2S Device on RDS Mysql"
https://docs.microsoft.com/en-us/azure/dms/tutorial-rds-mysql-server-azure-db-for-mysql-online

How am I supposed to install a Site to Site device on Cloud Server?  When trying to create a VPN it says i need S2S VPN when there is now way to install hardware specified.

The title of this article is "Migrate RDS MySQL...."  And it is giving me instructions on "on-premises" VPN installation.

Will My

[2019-10-22 13:44] dabasejumper opened #41227 "Error when running "terraform plan -out out.plan""
When running terraform plan -out out.plan, We are getting the following warnings and errors. We have gone line by line in this guidance document.

[](https://docs.microsoft.com/en-us/azure/terraform/terraform-create-k8s-cluster-with-aks-applicationgateway-ingress)

`Warning: "public_ip_address_allocation": [DEPRECATED] this property has been deprecated in favor of `allocation_method` to better mat

[2019-10-22 13:48] chadcarlton commented on #6844
In azure devops I am trying to create an APIM instance, and then enable SSO with AAD. NOT having powershell equivalents for the above guidance is making this more work than it needs to be. In other documentation areas, powershell/azure cli equivalents make work like this easy. Please add these into the documentation.

[2019-10-22 13:49] jaffadog commented on #41056
Hi @FrankHu-MSFT  - extensionattribute11 is the attribute I am after. In the manifest snippet in my prior post, you can see i've already tried something like:

"name": "extension_1fca6f915df347129e80de0633c59fe9_extensionattribute11",

...and that does not work.

There may be some confusion here. I suspect this documentation referring to extension_<appid>_<attributename> is to be used for actual s

[2019-10-22 13:49] dNsl9r opened #41228 "GitHub Link broken"
The Link in "Example C# code for Train API with Bot Framework 4.x The following code illustrates how to send information back to QnA Maker with the Train API. This **complete code sample** is available on GitHub." is broken.

Target should be https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/48.qnamaker-active-learning-bot in my opinion

---
#### Document Detail

[2019-10-22 14:01] tuxmanu commented on #28847
I still dont see any answer for this question. Why was it closed?

[2019-10-22 14:04] pjgpetecodes commented on #41218
Solved: This was due to using the non-preview version of the SDK... I followed the prerequisites which use the regular SDK. I'd not spotted that this sample uses the Preview SDK.

[2019-10-22 14:06] KRU5HA opened #41229 "Alternative issue and resolution"
I was receiving the same 502 error, this was actually due to adding an Access Restriction to the App Service.  When adding the AAG IP or everything (0.0.0.0/0) as an IPv4 address the app did not allow access from the Azure Application Gateway.
I had not noticed that the rule had options for IPv4, IPv6 and Virtual Network.  So IPv4 and IPv6 should possibly be labelled as Internet IPv4 or Internet I

[2019-10-22 14:09] #41094 closed

[2019-10-22 14:18] jmlumpkin commented on #40317
@simonemarra this is actually what I did locally, just worry that 1) I am now missing any async call, but 2) the documentation as is wouldn't work right from this change.

[2019-10-22 14:20] mrbullwinkle commented on #41091
15 is correct. It was originally 7, but was later changed to 15. When the doc was updated earlier this year to 15 one of the references was missed. I will get that taken care of this morning. Thank you for bringing this to our attention.

#In-Progress

[2019-10-22 14:22] mrbullwinkle commented on #41091
#in-progress

[2019-10-22 14:23] msangapu-msft commented on #40440
Hi @MForMarlon. Do you see @RyanHill-MSFT 's message above to "build commands on the target server"? If you selected "No, and don't show again" then it will run locally - which may be the reason for the failure. Please let us know!

[2019-10-22 14:25] NavtejSaini-MSFT commented on #41060
@cobra30299 We are going ahead and closing this thread for now. Please get back to us if any questions.

[2019-10-22 14:25] #41060 closed

[2019-10-22 14:27] erikverwer commented on #41012
You have to use a username of an existing AAD User. (UPN or ObjectID) so not "ClusterUser"

[2019-10-22 14:27] NavtejSaini-MSFT commented on #40779
@cobra30299 /Steve - We are going ahead and closing this thread. Please get back to us if any questions.

[2019-10-22 14:27] #40779 closed

[2019-10-22 14:32] loopfish commented on #41012
@erikverwer why? I'm not using an AAD-authenticated cluster. Surely its the omsagent service that should be requesting this cluster role binding, not one of my AAD users...

[2019-10-22 14:36] nspiteri opened #41230 "Hosting container in Azure App Service with startup parameters"
I have a container which requires command line parameters on startup.  Is it possible to set them in the app service?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 705f9cf9-9bdd-c0e6-8170-062c62b6e12b
* Version Independent ID: 8de37e15-ccfb-e619-69b1-d8918dcb0b3e
* Content: [Run custom Windows container (Preview) - Az

[2019-10-22 14:36] LeonardoFelippine opened #41231 "Licensing clarification"
Hello,

Can you please confirm how licensing works on WVD? Do I need a Microsoft 365 E3 (for example) for each user that will access the WVD environment, on top of the Azure costs?

Regards.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2eeca14-80ef-c0b4-2719-80ceb286ba3d
* Version Independent ID: b7d3df23-3158-2807-

[2019-10-22 14:40] cephalin commented on #36380
@Pancat007 Sorry for the delay. Portal steps changed and suggested note added. It should be published sometime today. Thank you. #please-close

[2019-10-22 14:41] diberry commented on #41228
@dNsl9r Thank you for reporting this. This fix is on backlog. #please-close

@simer99 FYI

[2019-10-22 14:41] #41228 closed

[2019-10-22 14:49] erikverwer commented on #41012
Ah sorry, i'm assumed that you were using AAD RBAC.

[2019-10-22 14:49] jmonticelli commented on #40863
No, I do not. Also, with the provided example, given a device I know exists and should work, I am able to get the twin document using `get_twin`, but `update_twin` fails with the following error message:

[code]

[2019-10-22 14:51] jmonticelli commented on #40863
No, I do not. Also, with the provided example, given a device I know exists and should work, I am able to get the twin document using `get_twin`, but `update_twin` fails with the following error message:

[code]

I would be extremely happy if I could upgrade to the 2.0.0 SDK, as I know many people suggest, but it does not have a considerably large amount of features that my team needs for its proj

[2019-10-22 14:52] cobra30299 commented on #40779
Thank you.

Sent from my iPhone

[2019-10-22 14:53] cpatte7372 opened #41232 "Tumbline Trigger - Unable to Start Trigger - Missing or invalid pipeline references for trigger Trigger_c2l"
Community,

The following Powershell Command will successfully stop my Tumbling Triggers:

[code]

However, when I run the command to restart the triggers I get the following error

[code]

[code]

Can someone please let me know why I'm getting the error? And what is needed to fix it?

Cheers

Carlton

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-10-22 14:55] HeidiSteen commented on #41212
@timoklimmer The article you mention is for a deprecated skill. Can you use this one instead: https://docs.microsoft.com/en-us/azure/search/cognitive-search-skill-entity-recognition

If you run into issues with the current/active skill, please log another issue.

Thanks for reaching out!

#please-close

[2019-10-22 14:58] itguysocal opened #41233 ""If you're using Conditional Access and have Conditional Access policies enabled in your environment, security defaults won't be available to you""
This is not functioning correctly, in our tenant we have CA policies enabled, but Security Defaults is still available for us and it does not show the warning as listed in the documentation above.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cfac0ecf-e5a9-c5ff-f8c2-ce27789708f5
* Version Independent ID: 0f5e0cc9-a54f

[2019-10-22 15:00] abezverkov commented on #19968
My aspnetcore webapi apps are seeing it as well

[2019-10-22 15:04] sgdesmet opened #41234 "IP Address range used by RESTful technical profile"
We need to call a REST service which whitelists IPs.
Is there a list of IP ranges available which are used by the restful technical profile?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6dff7a38-a459-4eb9-22fe-d225eeac5e34
* Version Independent ID: c3e92211-d07e-edec-3a08-eb68a26859bb
* Content: [Define a RESTful tec

[2019-10-22 15:04] MicahMcKittrick-MSFT commented on #41231
Thanks for the question! We are investigating and will update you shortly.

[2019-10-22 15:05] MicahMcKittrick-MSFT commented on #41227
@dabasejumper please provide me with the link to the document you are following so I can better assist.

[2019-10-22 15:08] basilwong opened #41235 "SFTP Files Larger than 1 GB"
Are there options for connecting to an SFTP endpoint and moving files that are larger than the 1 GB limit mentioned on this page?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e8acdbe0-a74f-a747-10f3-c861c831e46a
* Version Independent ID: bf1b180c-b240-6340-d409-74dfc125a5d6
* Content: [Connect to SFTP server with SSH

[2019-10-22 15:17] jwaldrop62 opened #41236 "More Info on High Risk vs Medium Risk"
I would like to understand the main differences for medium risk and high risk login attempts.  A few examples/use cases of when an account would be flagged for medium vs high would be helpful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 26558ba4-fafb-1a59-8423-464a1c82c6a7
* Version Independent ID: 0db788e5-5d8a-4d7

[2019-10-22 15:19] gprl opened #41237 "Issue with Logout when multiple users logged in"
I am having issues with the logout sequence when multiple users are signed in on the same browser. When we send the LogoutRequest from the SP, we are asked to select which account to log out (even though that information should be found from the request itself). Once we select the account, Azure AD sends a broadcast with a LogoutRequest, but since it doesn't accept a LogoutReponse, we are simply r

[2019-10-22 15:26] msrini-MSFT commented on #41229
@KRU5HA , thank you for your feedback.

Do you have ASE or Web App behind the Application Gateway ?
Which rule are you speaking about where you have options for IPv4 and IPv6?
Can you share me the screenshot ?

[2019-10-22 15:30] kar400 opened #41238 "No clarification for double asterisks"
[Enter feedback here]
In the matrix for "How does the Hyperscale service tier differ from the General Purpose and Business Critical service tiers", in the Resource Type column on the IOPS row, there are double asterisks next to "Single Database" with no notation in the legend below the matrix for double asterisks.  There is only a notation for single asterisks.

---
#### Document Details

⚠ *Do no

[2019-10-22 15:38] ravick4u opened #41239 "How to connect with Azure Active Directory"
Hello,

this document mentions at below step on how to log in with SQL Login. Is there a way we can connect with SQL Server Mangement Studio? If yes could you please share the link to the same?

https://docs.microsoft.com/en-us/azure/sql-database/sql-database-connect-query-ssms#connect-to-your-database

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-10-22 15:40] DeanGross commented on #40945
One place is https://docs.microsoft.com/en-us/office365/admin/misc/password-policy-recommendations?view=o365-worldwide another is https://www.ftc.gov/news-events/blogs/techftc/2016/03/time-rethink-mandatory-password-changes and the whitepaper at https://www.microsoft.com/en-us/research/publication/password-guidance/

[2019-10-22 15:41] sajithvasu commented on #40941
Hi @TravisCragg-MSFT : Were you able to check this?

[2019-10-22 15:49] PramodValavala-MSFT commented on #41235
@basilwong For such cases, its best to offload that processing to something like Azure Functions which you can [call from Logic Apps](https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-azure-functions).

Depending on how long such transfers would take, you will need to choose where to deploy such a function. Refer [this table](https://docs.microsoft.com/en-us/azure/azure-functions/functi

[2019-10-22 15:50] v-videba opened #41241 "Error 33004"
This error could also appear if the user that the password is changed have the attribute AdminCount set to 1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f5e3651-45ec-5dbc-7df5-526d0f7a4080
* Version Independent ID: 9f218d06-c2e6-19c2-6413-542c5e88ec64
* Content: [Self-service password reset troubleshooting - Azure

[2019-10-22 15:55] Tiberriver256 opened #41242 "SSO_206 error"
Hello,

After configuring as directed by the documentation here and the documentation for PingAccess I get the following error message:

![image](https://user-images.githubusercontent.com/6989492/67305168-f1daec80-f4c2-11e9-963c-6272841340e9.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9dd280a-20a3-d0b7-6591-c3

[2019-10-22 15:57] souravmishra-msft commented on #41070
@mohitmeshram, The NameID is not encrypted in this case, but its converted to a **pairwise value**, because the format which is used to request for the **NameID** is **Persistent** in your case.

The details can be here: [https://docs.microsoft.com/en-us/azure/active-directory/develop/single-sign-on-saml-protocol#nameidpolicy](url)

The **NameIDPolicy element**, which requests a particular name ID

[2019-10-22 15:59] Nickomang commented on #17836
Hi @JParkSolver, after speaking with the Service Fabric team it looks like we don't have the capacity to provide any code samples for such an edge case at this time. We have, however, noted it as something to be looked at in the future. Thanks for your feedback!

#please-close

[2019-10-22 15:59] #17836 closed

[2019-10-22 16:04] spelluru commented on #41010
This article covers only the metrics and the blob storage one is an example for getting to metrics for a specific resource.

I don't see an article about logging information for Event Grid either.

@banisadr - could you add your input here? should we add an article on it? Thanks.

[2019-10-22 16:07] MicahMcKittrick-MSFT commented on #41143
As I see, you mean this section:

Operating System
The Custom Script Extension for Linux will run on the extension supported extension OS's, for more information, see this [article](https://support.microsoft.com/en-us/help/4078134/azure-extension-supported-operating-systems).

Which links to a Windows List. I will get this fixed.

[2019-10-22 16:09] MicahMcKittrick-MSFT commented on #41143
@SamirFarhat fixed! Once the PR merges the changes will go live after a few hours. Thanks again for pointing this out!

[2019-10-22 16:09] #41143 closed

[2019-10-22 16:09] MonikaReddy-MSFT commented on #41016
@charles-chen-wtw  - Thanks for sharing the feedback.  Appreciate it.

@andrehe001 - Could you try to upgrade your Azure-CLI to latest version and see if you are able to resolve the issue.

Also, Assigning it to the doc author to further investigate it.

[2019-10-22 16:11] MicahMcKittrick-MSFT commented on #41155
@smoms yeah that makes sense. Not sure if the authors and Engineering team want to over complicate the doc though. Regardless, I will leave that up to them to review. Assigning to the content author to take a look.

CC @MicrosoftDocs/aks-pm

[2019-10-22 16:13] MicahMcKittrick-MSFT commented on #41231
Is this not covered under the requirements section?

https://docs.microsoft.com/en-us/azure/virtual-desktop/overview#requirements

As well as the link for the pricing calculator

https://azure.microsoft.com/en-us/pricing/details/virtual-desktop/

[2019-10-22 16:20] sethmanheim commented on #41213
@ukez15 Thank you for reporting this -- we will get this updated as soon as possible, but realistically it may be a couple of weeks.

[2019-10-22 16:22] sethmanheim commented on #40317
@jmlumpkin Thank you for reporting this. I am investigating and will get back with a doc update ASAP.

[2019-10-22 16:23] SnehaAgrawal-MSFT commented on #41230
@nspiteri Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-22 16:25] NavtejSaini-MSFT commented on #41238
@kar400 We are checking this and will get back to you.

[2019-10-22 16:27] iharrington opened #41244 "Log Analytics Solution is dated/creates broken solution"
When using the log analytics solution module in TF (see below) the product/name of "ContainerInsights" seems to be wrong/old and creates a broken solution that does not work.

` resource "azurerm_log_analytics_solution" "test" {`
   ` solution_name         = "ContainerInsights"`
  `  location              = "${azurerm_log_analytics_workspace.test.location}"`
 `   resource_group_name   = "${azurerm

[2019-10-22 16:27] mmacy commented on #40785
Hi @mleziva, I can add a note about the significance of the order of the `BuildingingBlock` elements.

For an example of `PredicateValidations`, please see this sample policy:

https://github.com/azure-ad-b2c/samples/blob/master/policies/password-reset-not-last-password/TrustFrameworkBase.xml

I'm currently investigating this. I'm unable to use the character set listed in the sample policy or in t

[2019-10-22 16:28] NavtejSaini-MSFT commented on #41239
@ravick4u We are checking this and we will get back to you.

[2019-10-22 16:29] SvenAelterman opened #41245 "Alerts listed on this page don't match the protection types in the portal"
This page lists seven alerts. The Azure Portal lists five types. How do these correlate to each other? The first two seem obvious matches, but the rest aren't.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84969b1b-b82c-ddc5-5716-e22a2a37d505
* Version Independent ID: 24a33dfd-bb0d-e228-aaf9-44802b625aa8
* Content: [A

[2019-10-22 16:35] MicahMcKittrick-MSFT commented on #41244
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-22 16:37] NavtejSaini-MSFT commented on #41239
@ravick4u The AAD can be used to give access to the Azure SQL DB.

Please check the below links for getting more information regarding the same:
https://docs.microsoft.com/en-us/azure/sql-database/sql-database-aad-authentication

Hope this helps

[2019-10-22 16:42] jlian commented on #41218
Cool. Let us know right here if you run into any more issues

[2019-10-22 16:44] NavtejSaini-MSFT commented on #41238
@kar400 We are assigning this to doc author for further reference.
@stevestein Please check and provide an explanation for ** in the document.
![image](https://user-images.githubusercontent.com/52257742/67309302-9ceea480-f4c9-11e9-84bd-3ec1dc393492.png)

We are assigning this to you.

[2019-10-22 16:45] vairamsvsjdo commented on #28938
What are the rewrite rule conditions allowed
What are list of server variables that can be used
Is there a current server time variable available to add conditions for redirect and routes, rewrite headers and in waf rules

For example, enable this promotion page only between set time and expire after and redirect to a promotion not found page
How can we do this in application gateway v2

[2019-10-22 16:51] GiftA-MSFT commented on #41134
Thank you @j-martens and @greazer.

@greazer is there any workaround for now in order to successfully deploy the experiment using VS code, or should users track progresss of the workaround using the link you provided? Thanks.

[2019-10-22 16:56] katerinapetsa opened #41247 "Question about the web app"
Hello, I found your article very helpful. My question is where should I deploy this app? Should I create a new web app on Azure?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9158a1bb-6dbe-b6d5-6daf-d7a6cd4b8ef8
* Version Independent ID: 32c5fd0d-749b-99f2-0eb8-2ad1a0fde99c
* Content: [Tutorial - Connect to Azure API

[2019-10-22 17:09] JnHs commented on #41198
Hi @ctolkien - The CSP section will show any existing CSP customers who have signed the Microsoft Customer Agreement and are under the Azure plan. There is no action needed to add those customers - they should show up automatically. We'll be updating this topic soon to clarify what's shown in the CSP section. Let us know if you have additional questions.

[2019-10-22 17:10] SaurabhSharma-MSFT commented on #41242
@Tiberriver256 Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-22 17:12] gkgaurav31 opened #41248 "Best way to handle logout when using EasyAuth feature of the WebApp"
I am using EasyAuth (Authentication / Authorization) feature of the WebApp - AAD on WebApp for Containers. I already have a CI/CD configured using webhooks. Whenever I change the image, the WebApp restarts, which is expected. The output of /.auth/me is then blank: []
Also, since my application index page uses data from this auth page, I get HTTP 500 after the WebApp restarts. I have to manually ca

[2019-10-22 17:14] jeffhollan commented on #18922
Thanks - just addressed this with a doc update. Appreciate the feedback.

#please-close

[2019-10-22 17:14] #18922 closed

[2019-10-22 17:15] SaurabhSharma-MSFT commented on #41236
@jwaldrop62 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-10-22 17:16] SaurabhSharma-MSFT commented on #41234
@sgdesmet Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-22 17:18] MartinJaffer-MSFT commented on #39777
Since I haven't heard back from you, @fantinis , I will close this issue.

[2019-10-22 17:18] #39777 closed

[2019-10-22 17:18] SaurabhSharma-MSFT commented on #41233
@itguysocal Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-22 17:19] elechuga opened #41249 "Please revise your instructions in this document"
In the section: Create Qlik Sense Enterprise test user : -- The role of Qlik Support is to work issues, helping clients add users is consulting enablement. That or they must follow https://help.qlik.com/en-US/sense/June2019/Subsystems/ManagementConsole/Content/Sense_QMC/create-user-directory-connector.htm so they may create LDAP connections to import users. Clients are now calling in for assistanc

[2019-10-22 17:21] SaurabhSharma-MSFT commented on #41223
@jasonfare Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-22 17:22] SaurabhSharma-MSFT commented on #41220
@DeanGross Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-22 17:23] SaurabhSharma-MSFT commented on #41221
@DeanGross Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-22 17:24] SaurabhSharma-MSFT commented on #41237
@gprl Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-22 17:25] jeffhollan commented on #31929
Thanks for the feedback, Made a doc fix to call out docker login and how to deploy from a private registry

#please-close

[2019-10-22 17:25] #31929 closed

[2019-10-22 17:26] SaurabhSharma-MSFT commented on #41215
@deanellerby Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-10-22 17:26] stevestein commented on #36034
Content has been updated. Thanks Jovan.

https://docs.microsoft.com/azure/sql-database/sql-database-features

#please-close

[2019-10-22 17:26] SaurabhSharma-MSFT commented on #41241
@v-videba Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-22 17:28] FrankHu-MSFT commented on #41123
hello @mamedca

The roles for the global administrator are found here : https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/directory-assign-admin-roles#company-administrator-permissions

If you're interested in creating a custom role, you can do so following the steps here, using the table linked above as a reference : https://docs.microsoft.com/en-us/azure/active-directory

[2019-10-22 17:32] NavtejSaini-MSFT commented on #41245
@SvenAelterman We are looking into this and will get back to you.

[2019-10-22 17:33] SaurabhSharma-MSFT commented on #41130
@JohnStraumann66 Great to hear that your are unblock now.  We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-10-22 17:33] #41130 closed

[2019-10-22 17:39] FrankHu-MSFT commented on #41165
Hello @IntrepidBlazon
I will be adding the below information to clarify on what the stipulated period is. Please let me know if this answers your question,

ADFS will then start deleting device objects from on-premises directory after the stipulated period defined in the ADFS Device Registration's attribute "MaximumInactiveDays". ADFS Device Registration objects can be found using the powershell c

[2019-10-22 17:39] JnHs commented on #39204
Hi @adrianwells - thanks for the question and feedback, and I'm sorry it's taken so long to respond again. At this point, since DAP is explained at the link you mentioned above and is not directly related to Azure Lighthouse and the concepts shown here, I think it may be overly confusing to talk more about DAP in this article. I will close this issue but will continue to monitor for additional que

[2019-10-22 17:39] #39204 closed

[2019-10-22 17:40] CeciAc opened #41250 "Missing instructions via ARM or CLI"
@jhueppauff commented on [Tue Oct 22 2019](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/578)

Please add additional documentation on how to achieve this with ARM

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforderlich.*

* ID: b32fbbf3-178d-a0ef-7c3a-87df74a8eb16
* Version Independent ID: 247

[2019-10-22 17:40] CeciAc commented on #41250
Hi team,
I moved this here because the contributor is asking for aditional information
best regards

[2019-10-22 17:41] alexkarcher-msft commented on #12030
This has been fixed by UX changes
#please-close

[2019-10-22 17:41] #12030 closed

[2019-10-22 17:42] alexkarcher-msft commented on #37844
#please-close

[2019-10-22 17:42] #37844 closed

[2019-10-22 17:44] lisaguthrie commented on #40937
Hi @MoiMoiDG - thanks for commenting. Feature flags have a special content type that differentiate them from regular configuration values. They also support some additional options, e.g. feature filtering, which allows you to specify that a feature flag should apply to some users but not to others based on different criteria.

And yes, if you set up your app to refresh configuration dynamically (a

[2019-10-22 17:44] RyanHill-MSFT commented on #40955
@Djongov I'm not sure which version of Azure PowerShell you're using but when running 2.8, I get `Bad Request` error when using the `-SourceWebApp` parameter. Not the same error as you so I'm assuming you might be on an older version. Nonetheless, there might be a bug so I'll create an issue in the Azure PowerShell repo for you.

[2019-10-22 17:51] LeonB87 opened #41251 "One-time bypass for on-prem MFA server only"
This page is set under the "Cloud-based MFA" section in the how-to guides. However, The option "One-time Bypass" on the azure page states that "This feature only applies to MFA Server deployment."

This is not entirely clear in the how-to guide.
Is there another way to grant a user a one-time bypass for cloud-based MFA?

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2019-10-22 17:52] NavtejSaini-MSFT commented on #41245
@SvenAelterman Please find the following descriptions:

**The SQL injection and vulnerability refers to the following:**
-Vulnerability to SQL injection: This alert is triggered when an application generates a faulty SQL statement in the database. This alert may indicate a possible vulnerability to SQL injection attacks. There are two possible reasons for the generation of a faulty statement:
1) A

[2019-10-22 17:56] Alberto-Vega-MSFT commented on #40805
@jackiebecker Since we haven't heard back from you, We will now proceed to close this thread. If there are further questions regarding this matter, please feel free to tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-22 17:56] #40805 closed

[2019-10-22 17:56] elechuga opened #41252 "section is wrong: Create Qlik Sense Enterprise test user"
The support team is being called to assist with adding users. These instructions are incorrect please change them immediately.
The role of consulting/partners is to help enable clients. Or, Clients may get education and training and learn to create a UDC (user directory connection) to their LDAP.  https://help.qlik.com/en-US/sense/June2019/Subsystems/ManagementConsole/Content/Sense_QMC/create-user

[2019-10-22 17:59] RyanHill-MSFT commented on #40839
@Djongov, we've updated screen shot to include the tag with the image. Thanks for pointing out that omission.

[2019-10-22 17:59] #40839 closed

[2019-10-22 18:04] rupeshprasad commented on #41162
There is already a question in SO but no satisfactory answer so far.

[2019-10-22 18:05] RyanHill-MSFT commented on #40853
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-22 18:05] #40853 closed

[2019-10-22 18:05] MicahMcKittrick-MSFT commented on #41244
@TomArcherMsft can you take a look at this? I see we have another open issue on this document as well.

[2019-10-22 18:08] Adam-Smith-MSFT commented on #41142
@qub1n  1 GB is 1,024 MB valid for both scenarios you described.
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-10-22 18:08] #41142 closed

[2019-10-22 18:13] vairamsvsjdo opened #41253 "Rules, regex conditions and server time variable"
Is there a current server time variable available to add conditions for redirect and routes, rewrite headers and in waf rules

For example, enable this promotion page only between set time and expire after and redirect to a promotion not found page
How can we do this in application gateway v2

What are the rewrite rule conditions allowed
What are list of server variables that can be used

---
####

[2019-10-22 18:15] FrankHu-MSFT commented on #40945
Hey @DeanGross I have an update in regards to this issue.

Although MS policy and guidance states 1yr, many customers have yet to adopt this due to not using PHS and Identity Protection, which makes having an alert more effective.

At some point we will make this alert (look back period) configurable and allow customers to exclude user accounts (targeting only service principals and admin accounts

[2019-10-22 18:18] IntrepidBlazon commented on #41165
Thanks for the clarification!

[2019-10-22 18:24] mkiernan commented on #41172
Unfortunately that window does not appear, or perhaps it appeared when another colleague opened the window in his browser first time. Is there any way to enable this at some point later ?

[2019-10-22 18:27] msrini-MSFT commented on #41172
@mkiernan , can you try opening the link in an private windows and check if you get that windows?

[2019-10-22 18:34] stefan-rapp commented on #33632
I had the same message "_bastion.azure.com took too long to respond._" The solution was to allow **443** (SSL) on the AzureBastionSubnet from the **public internet**.

[2019-10-22 18:47] Mike-Ubezzi-MSFT commented on #40799
@DCtheGeek This is controlled by the document metadata. If you update the `service` to reflect `azure-policy`, the auto-tagging functionality will correctly label any issues opened against this doc. This cannot be done manually.

[2019-10-22 18:47] Djongov commented on #40955
Let me try again tomorrow. Just in case i will try from Azure portal Powershell too. And yes I am using Standard SKU on both App Service plans

[2019-10-22 18:48] DCtheGeek commented on #40799
Good to know, thanks Mike!

[2019-10-22 18:55] craigshoemaker commented on #39934
Adding PowerShell examples to this article is part of a larger effort we are working toward adding PowerShell examples throughout the binding docs. I am going to #please-close this issue as the PowerShell support is being tracked internally.

[2019-10-22 18:55] #39934 closed

[2019-10-22 18:55] azav opened #41254 "Podfile syntax now no longer supported."
After step 3, issuing a pod install returns this.

$ pod install

[!] Invalid `Podfile` file: [!] The specification of `link_with` in the Podfile is now unsupported, please use target blocks instead..

 #  from /Users/XXXXXXXXX/Developer/NativeClient-iOS-skeleton/Podfile:2
 #  -------------------------------------------
 #  source 'https://github.com/CocoaPods/Specs.git'
 &gt;  link_with ['QuickSt

[2019-10-22 18:59] tamram commented on #39842
@axelgMS - I've made the clarification in the doc that soft delete is available for unmanaged disks, which are page blobs under the covers. If you want to see the changes, reach out to me internally and I'll help you with that. Otherwise they should go live later today.

I think that the key for your customer is to clarify that an unmanaged disk is a page blob. So if they want to use soft delete o

[2019-10-22 19:00] craigshoemaker commented on #39378
This fix is submitted and will go live in a few hours. Thanks for the heads-up, @NextTurn! #please-close

[2019-10-22 19:00] #39378 closed

[2019-10-22 19:01] azav commented on #29253
This still has not been addressed as of Oct, 22, 2019.  The link in the pod file in the sample application is correct, but the text in this article for what should be in the pod file is not.

Also, line 2 of the podfile returns this error: [!] Invalid `Podfile` file: [!] The specification of `link_with` in the Podfile is now unsupported, please use target blocks instead..

[2019-10-22 19:03] msaburnley commented on #39040
Hey @v-alkolc

I have added you to a thread in which they are troubleshooting this issue. I'm going to close this GitHub issue.

Thanks!

[2019-10-22 19:03] azav commented on #29253
https://stackoverflow.com/questions/37433169/how-can-i-replace-link-with-with-target-blocks.  This is still open after 3 years.

[2019-10-22 19:03] msaburnley commented on #39040
#please-close

[2019-10-22 19:03] #39040 closed

[2019-10-22 19:08] tamram commented on #39842
#please-close

[2019-10-22 19:08] #39842 closed

[2019-10-22 19:09] sthomas40 commented on #41112
@VikasPullagura-MSFT  - Looking for an update please? This is a huge change that will impact our tenant and we are basing a large communication decision based on it.

[2019-10-22 19:09] shashishailaj commented on #40979
@cchambers-cap We confirm that the number formats like +1 (123) 555-1212" or "+1 123-555-1212" are also acceptable formats. you would still get calls or messages on the same. WE will now close this issue. Should you have any further query , please tag me to your reply and I will be happy to help.

Thank you.

[2019-10-22 19:09] #40979 closed

[2019-10-22 19:10] TravisCragg-MSFT commented on #41232
@cpatte7372 can you post a link to the doc you are referring to?

[2019-10-22 19:24] TravisCragg-MSFT commented on #41248
@gkgaurav31 can you post a link to the doc you are referring to?

[2019-10-22 19:29] ramdsec opened #41256 "How to pull the AKS pod cpu & memory utilization? Could you please post the query for the same?"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18f95793-d856-c29e-6d2c-d8145632898b
* Version Independent ID: 98ae91ae-473c-f4da-a50a-a8ce432fa95a
* Content: [Create performance alerts by using Azure Monitor for containers](https://docs.microsoft.com/en-us/azure/azure-monitor/insights/container-insights-alerts)
* Conten

[2019-10-22 19:32] TravisCragg-MSFT commented on #41250
@jhueppauff Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-10-22 19:33] YutongTie-MSFT commented on #40938
@PatrickFarley Hi Patrick, could you please help to check this sample? I can not reproduce this error. Please share any insight if you have. Thanks a lot.

[2019-10-22 19:33] CelesteDG commented on #41254
Hi @azav - I noticed that you're commenting on the v1.0 iOS quickstart. Can you please let us know what your scenario is? We recommend that new iOS/macOS apps use Microsoft identity platform and MSAL. The v2.0 quickstart is here: https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-v2-ios.

We'll be updating our v1.0 quickstarts to make sure they link to the v2.0 equivalent,

[2019-10-22 19:34] ghogen commented on #41137
@tomfrenzel - I will get this information confirmed and integrated into the docs soon. Thanks!

[2019-10-22 19:34] CelesteDG commented on #41254
#assign:@TylerMSFT

[2019-10-22 19:35] cpatte7372 commented on #41232
https://docs.microsoft.com/en-us/azure/data-factory/continuous-integration-deployment#update-active-triggers

[2019-10-22 19:37] kennethvs commented on #41090
@ManojReddy-MSFT - thanks for your comment.

Just wanted to let you know that by saying "Require Multi-Factor Auth to join devices" I firstly, and probably with me others will think that MFA is only forced for Azure AD join scenario's - hence my comment. I don't see what the difference is between personal and mobile devices in this case? If for example, i require my mobile device to register in Az

[2019-10-22 19:37] fernandoBRS commented on #26747
@TomArcherMsft `FormatArgs` is expecting an `Options` reference type instead of a `map[string]interface{}`. So `tfOptions.Vars` argument must be replaced by `tfOptions`:

[code]

Could you please update the article?

Thanks! 😉

[2019-10-22 19:37] MicahMcKittrick-MSFT commented on #41256
@ramdsec We use this repo to identify and resolve document related issues. Can you please share the doc you are following so we can better assist? Else if this is not related to a document I suggest posting the ask on MSDN or Stack Overflow.

[2019-10-22 19:38] diberry commented on #41058
@xtianus79 Were you able to log the issue?

@cahann Do you have any more information on this?

[2019-10-22 19:39] TravisCragg-MSFT commented on #41253
@vairamsvsjdo [This Doc outlines URL Rewrites and what can be done with them](https://docs.microsoft.com/en-us/azure/application-gateway/rewrite-http-headers). There is not a server time variable that you can use to set a promotion to enable or disable at a specific time.

You will either need to configure that on your application, or you can enable a URL Rewrite manually or programmatically at a

[2019-10-22 19:41] #9152 closed

[2019-10-22 19:44] craigshoemaker commented on #40343
Adding PowerShell examples to this article is part of a larger effort we are working toward adding PowerShell examples throughout the binding docs. I am going to #please-close this issue as the PowerShell support is being tracked internally.

[2019-10-22 19:44] #40343 closed

[2019-10-22 19:49] jhosteny commented on #40863
@asergaz just to add a note to this, the total device count / enabled device count appear to track the high water mark of the number of devices ever created.

After @jmonticelli mentioned the problem he observed to me, I went in and started adding test devices by hand. The total / enabled count did not change until I added a third device, and then started incrementing until I got to 13 total. I wo

[2019-10-22 19:53] DanniJuhl commented on #40946
Hello,

I think a link to Lighthouse could be sufficient, as long as there's some kind of reference to documentation that the setup described in this page can be heavily simplified by utilizing the service.

[2019-10-22 19:58] MGoedtel commented on #41012
@loopfish - We are getting ready to publish an updated version of the documentation that includes a revised version of the yaml config template for RBAC-enabled clusters. Can you save this and update your configuration to see if it corrects your issue?

    apiVersion: rbac.authorization.k8s.io/v1
    kind: ClusterRole
    metadata:
       name: containerHealth-log-reader
    rules:
        - apiG

[2019-10-22 19:59] spzSource commented on #32439
Under .NET Core a library Microsoft.Azure.Services.AppAuthentication throws error "Microsoft.Azure.Services.AppAuthentication: Connection string RunAs=CurrentUser is not supported for .NET Core."

But there is no any mentioning about that in the related documentation.

[2019-10-22 20:00] mkiernan commented on #41172
I get the window popping up in an in private browser the first time for the windows VM, however the copy/paste buffer still doesn't populate with anything when I copy some text in the VM.

[2019-10-22 20:03] MGoedtel commented on #40946
I have a work item already created to work on incorporating Lighthouse into our workspace design guidance and hopefully we will be able to address this in our next sprint.  Looping in @bwren on my team who will be responsible for this.

[2019-10-22 20:04] hannan-chang opened #41257 "Azure Relay monitoring not working"
hi,

I set up the server and listener as the tutorial guides, but it seems like the monitoring in Azure is not working for this case. On the metrics, it just showed as "Resource not found".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c1ac508-11f9-e3ec-ae0e-49c9fb33ff4e
* Version Independent ID: 2befdf41-7476-7f61-2

[2019-10-22 20:05] hannan-chang commented on #41257
![image](https://user-images.githubusercontent.com/17561234/67327272-88f87200-f4cc-11e9-920c-5296ce80ac00.png)

[2019-10-22 20:06] MonikaReddy-MSFT commented on #40721
@patobtx , The document should be updated now. Once again thanks for the feedback.

[2019-10-22 20:06] #40721 closed

[2019-10-22 20:08] msrini-MSFT commented on #41172
Did you tried using the recommended browser which i have mentioned above?

[2019-10-22 20:09] markjbrown commented on #41183
nothing actionable remaining. Answered customer question.

#please-close

[2019-10-22 20:09] #41183 closed

[2019-10-22 20:11] shashishailaj commented on #40994
@Breaker119 At present , The product group is in the process of having the Authenticator app uploaded to the most alternative app stores in china officially on Microsoft channel due to google play store being banned in China. This is taking time because of multiple levels of approval from the company side as well during review process.

Alternatively The Microsoft Authenticator has been provided u

[2019-10-22 20:11] #40994 closed

[2019-10-22 20:12] MashaMSFT commented on #40664
Hi @Raj-Krishnamoorthy , thanks again for helping make our docs better! I've created an internal work item to track this work ([1622221](https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1622221)). I will close out this Git Issue for the time being, but please feel free to respond should you need anything further in the meantime.

Thanks again!
Masha from the SQL Docs team
#please-cl

[2019-10-22 20:12] #40664 closed

[2019-10-22 20:14] markwahl-msft commented on #41216
Hi, we are working on bringing Azure AD entitlement management into the Microsoft Graph.  It is not there yet, but please monitor the Microsoft Graph [changelog](https://docs.microsoft.com/en-us/graph/changelog) as we will add a note there once it is available.  Subsequently we will be providing an example of how to call that API via PSh.

[2019-10-22 20:25] SaurabhSharma-MSFT commented on #40849
@pritub We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-10-22 20:25] #40849 closed

[2019-10-22 20:25] MashaMSFT commented on #35729
Hi @Cyber-Cloud-Consulting , thank you for contacting Microsoft! Yes, if you're configuring replication between SQL Server (whether on-prem or IaaS),  and Azure SQL DB, you will need to open traffic on port 1433.

No manual intervention is necessary to allow TLS 1.2 (at least for Windows 2012 + VMs). The client side will always negotiate with the strongest encryption protocol available, so as long

[2019-10-22 20:28] MashaMSFT commented on #40185
Hi @banzaisi , thanks for contacting Microsoft! I was able to confirm @jakaruna-MSFT's findings that automated backups are running managed backups behind the scenes, and so the schedule is determined by the workload as defined in this article: https://docs.microsoft.com/en-us/sql/relational-databases/backup-restore/sql-server-managed-backup-to-microsoft-azure?view=sql-server-2017#backup-scheduling

[2019-10-22 20:28] CharmanderJieniJieni opened #41258 "What is the max capacity of autoscale in vmss"
What is the max number of vm that can be handled by a autocale rule in VMSS? I tested in portal it is showing as 100, which is not enough with the fact we can have 600+ vms in a vmss

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 26e17067-6b16-e5f5-b4e3-4f415554d60c
* Version Independent ID: 2f05072d-1396-ef6e-9e24-81e

[2019-10-22 20:29] jeffjcom opened #41259 "Azure AD Graph has been depreciated."
Can you please revise this to reference Microsoft Graph instead? Caused me a bit of confusion :-(
Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49643811-ee04-ae88-8153-aad4cc009b73
* Version Independent ID: d1e1f15d-d988-7951-e453-f10ed6bb20bf
* Content: [Use a Windows VM system-assigned managed identity to ac

[2019-10-22 20:30] mezmiro2040 opened #41260 "Enable Automatic Tuning - Permissions Required"
Could you add content to this page regarding the required permissions to enable/disable/modify automatic performance tuning for Azure Single SQL databases?

Right now I'm running into an issue where the Azure Portal shows me this message at the bottom of the automatic tuning settings screen: "You don't have write permissions for this database. Recommendation management is disabled." I'm authentica

[2019-10-22 20:31] PatrickFarley commented on #40938
This looks like a service issue.
@NHaiby, do you know why the SDK might be failing with `application/pdf` forms?

[2019-10-22 20:33] BeigeBadger opened #41262 "Creating a test failed with unhelpful error message"
I successfully uploaded audio only data following the instructions [here](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-custom-speech-test-data#upload-data). However, when I attempt to create a test using this data set it fails after 5 minutes, the only feedback I get is the status of the test changes to "Failed".

My data set consists of 5 wav files, in a zip arc

[2019-10-22 20:33] SimonLuckenuik commented on #9152
Could you please point me to the updated documentation?

[2019-10-22 20:44] MicahMcKittrick-MSFT commented on #41258
We call this scenario out here:

https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-design-overview#limits

Which also links to a doc on how to work with Large ScaleSets

https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-placement-groups

The limit you are seeing is 100 due to a placement group restraint. See the

[2019-10-22 20:48] benbjamin24 commented on #29314
for me, it was just a typo in the command listed. , I got this to work by simpling adding a ";" at the beginning and end of the ps command:  env:path += ';C:\Users\%user%.azure-kubectl;'"

[2019-10-22 20:53] YutongTie-MSFT commented on #41262
@BeigeBadger Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-22 20:53] erhopf commented on #41262
#reassign: @ArcherAZ

[2019-10-22 20:56] ctolkien commented on #41198
Hi @JnHs  - we have multiple customers who have signed this agreement who do not show up in this list (we are an indirect reseller)?

Secondly, the content on this page details steps to use for CSP to use delegated resource management, but it sounds like that shouldn't be required if CSP customers will automatically just "light up" under the new CSP section of lighthouse?

[2019-10-22 20:56] NavtejSaini-MSFT commented on #41135
@srdan-bozovic-msft @stevestein Can you please check and confirm if the edit should be to table or the note below:
![image](https://user-images.githubusercontent.com/52257742/67332232-ca007e80-f4ec-11e9-876b-becb999f3831.png)
![SG](https://user-images.githubusercontent.com/52257742/67332335-e1d80280-f4ec-11e9-9e12-174702cba87f.JPG)

[2019-10-22 20:58] martinjoshua opened #41264 "RDMA on Linux compute nodes"
There is a note in this document that states, "To take advantage of RDMA on Linux compute nodes, you must use Intel MPI on the nodes."
But the referenced blog post ( https://blogs.technet.microsoft.com/windowshpc/2016/07/20/introducing-mpi-support-for-linux-on-azure-batch ) seems to indicate that OpenMPI will also work.  Should this note be updated to indicate that either MPI package can be used?

[2019-10-22 21:00] SaurabhSharma-MSFT commented on #41242
@Tiberriver256 Have you tried to capture the trace using [SAML/SSO Tracer] ?(https://ping.force.com/Support/PingIdentityArticle?id=kA3400000008S68CAE)

[2019-10-22 21:01] MicrosoftGuyJFlo commented on #41236
Risk is additive. A user may do things that are considered low risk and stay at a low risk but then do something that increases their risk to medium or high. Like having a credential leak where we see their credentials in the wild.

An Identity Protection detection is an indicator of suspicious activity from an identity risk perspective. These suspicious activities are called risk detections. Thes

[2019-10-22 21:04] MicrosoftGuyJFlo commented on #41251
There is no way to perform true one-time bypass for cloud based MFA today. It is something the product team is looking at but cannot provide any timelines on as of now. You could choose to exclude users from Conditional Access policies, but that would require upkeep to make sure users do not stay excluded and cause a security incident.

[2019-10-22 21:05] MarileeTurscak-MSFT commented on #41063
Hi @jgwinner ,

The best place to leave product feedback like this is in User Voice, where the product team can reply to you directly.  https://feedback.azure.com/forums/169401-azure-active-directory

I'm also passing this along to the doc authors to address in the documentation.

If it's really the administrator account, then you should disable the mailbox and reconnect it (Enable-Mailbox) to a d

[2019-10-22 21:07] MicahMcKittrick-MSFT commented on #41264
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-22 21:15] MicahMcKittrick-MSFT commented on #41264
@laurenhughes could you confirm on this? From my understanding you essentially just need to pick the RDMA compatible node size in Azure but if we need to update this note on the doc I can adjust it.

[2019-10-22 21:24] BeigeBadger commented on #41262
Interestingly enough the same file which results in a fail for the "Inspect quality test" works with the "Evaluate" accuracy test, albeit it is a chunk of the file so that it is under the 60s limit for audio with human transcriptions.

I have also tried running the tests with different models (my own and the unified one, just mine, just the unified model) and it fails in all cases.

I think used b

[2019-10-22 21:28] himanshusinha-msft commented on #41232
@cpatte7372 ; We did looked into this and at this time we are confident the trigger Trigger_az4 , is not mapped to any pipeline . If we navigate to ADF Ui -> Author -> Triggers -> << your trigger name >> -> please look at the column "number of pipeline" , it should be showing 0  . The triggers needs to be mapped to a pipeline , once you do that and run the query it will work fine .

At this time w

[2019-10-22 21:28] #41232 closed

[2019-10-22 21:33] #41218 closed

[2019-10-22 22:01] NavtejSaini-MSFT commented on #41260
@mezmiro2040 We are assigning this to our doc author for checking if this can be added to the document.
@danimir Please check and provide/add the necessary information.

[2019-10-22 22:04] MicrosoftGuyJFlo commented on #41251
#please-close

[2019-10-22 22:04] #41251 closed

[2019-10-22 22:05] Tiberriver256 commented on #41242
Turns out we had a conditional access rule in place that was blocking sign in and this was the result. Thank you for the assistance!

[2019-10-22 22:05] #41242 closed

[2019-10-22 22:05] MicrosoftGuyJFlo commented on #41236
#please-close

[2019-10-22 22:05] #41236 closed

[2019-10-22 22:10] MicrosoftGuyJFlo commented on #41112
No it is still in preview. It was refreshed from an earlier preview version.

[2019-10-22 22:10] MicrosoftGuyJFlo commented on #41112
#please-close

[2019-10-22 22:11] MicrosoftGuyJFlo commented on #41112
The PM is working towards GA but no timeline that can be shared as of yet.

[2019-10-22 22:13] JnHs commented on #41198
Are those customers also under the Azure plan? If so, I believe they should appear here. If that's not the case let me know and I'll investigate.
For the second question: the Cloud Solution Provider section shows those CSP customers, whether or not you have also onboarded the customers for Azure delegated resource management. If a CSP customers has delegated resources to you, then they will also a

[2019-10-22 22:14] sthomas40 commented on #41112
When is it going to GA? Microsoft already communicated via Azure Portal Announcements it was going to GA and that change neve happened.

[2019-10-22 22:16] NavtejSaini-MSFT commented on #41066
@kb321 - Kevin and Dan - This information has been provided to you over separate email., as this is given out on need basis only.
We ware going ahead and closing this thread.

[2019-10-22 22:16] #41066 closed

[2019-10-22 22:24] kayoshino opened #41266 "Access Files REST API with AAD"
Quick question. Is there any way to access the azure files REST API with AAD auth instead of a connection string?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0eff27d7-f909-fc99-14f6-ad572629907f
* Version Independent ID: 57504146-9f89-e4d6-3f5b-5cd9af305d45
* Content: [Develop for Azure Files with .NET](https://docs

[2019-10-22 22:28] TravisCragg-MSFT commented on #41257
@hannan-chang Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-10-22 22:29] cchambers-cap commented on #40979
@shashishailaj from our testing we have found a lot of information incomplete or missing. For example, the article state the number must be formatted with a space between the "+1" and the rest of the number but we found it doesn't matter. It would also be good to explain in more detail about how the process works. My understanding was that when you used SSPR with office phone the system would simp

[2019-10-22 22:32] Adam-Smith-MSFT commented on #41266
@kayoshino  Azure File share has to have Azure AD DS enabled prior to its use, but doesn't work with AD, checkout the below table and this documentation: https://docs.microsoft.com/en-us/azure/storage/common/storage-auth
![1495198](https://user-images.githubusercontent.com/34456968/67339928-06c67880-f4e1-11e9-9ac2-a72019eeffc1.png)

Let me know if this helps.

Thanks,
Adam

[2019-10-22 22:34] kayoshino commented on #41266
@Adam-Smith-MSFT That answers my question. Thank you.

[2019-10-22 22:34] #41266 closed

[2019-10-22 22:37] brucedkyle commented on #40904
The question was specific to migrating classic resources between subscriptions (from Gov to enterprise). I have a need to migrate from classic App Services to a new subscription as a classic service. Two important points:
a) The vendor has not updated to resource manager.
b) The region needs to be close to an Office 365 region to reduce latency. So one of the questions was how to specify the regio

[2019-10-22 22:48] gjustice commented on #13911
Just as a followup, I did some packet sniffing and although I saw outbound packets to 169.254.169.254, I never saw inbound packets from 169.254.169.254 in the several days I let the sniffer run on a VM NIC.  (I did add an NSG rule to allow this traffic explicitly just in case.) So maybe this IP address has only outbound requirements and is thus covered by the default NSG.

So then I tried this wit

[2019-10-22 22:53] jameslee-la commented on #40654
Hi Steve,

This article is about choosing the right deployment option based on differences, features, limitations, etc, for (1) SQL DB, (2) SQL MI, and (3) SQL VMs.

Two out of three of the options do NOT provide access to SSIS, which is an important feature of Microsoft SQL Server. Microsoft supports this functionality through (3) or Azure Data Factory.

I'm certainly not an authority on SQL, but

[2019-10-22 22:59] gjustice commented on #32725
I added some new information on https://github.com/MicrosoftDocs/azure-docs/issues/13911 but as I am new to this (github) I do not know how to reopen the issue or ring some alarm bells there.  Or even how to send a message to the original contributor (hoping he could do either).

Completely aside from the issue of NSG service tags, there seems to be special routing for 168.63.129.16 and 169.254.16

[2019-10-22 23:10] ajlam commented on #40531
@mpchen - I think you should be able to create a policy that uses checks if audit logs are enabled with diagnostic settings using the alias for:
`"Microsoft.Insights/diagnosticSettings/logs[*].enabled" `

When using this particular alias, I can see if logs are enabled. In the example below, you can see that slow query logs being piped through diagnostic logs are set up for the below server:

[code

[2019-10-22 23:13] dcbrown16 commented on #32725
Thanks @gjustice. @TravisCragg-MSFT, please update us on the status of this request when possible.

[2019-10-22 23:16] TravisCragg-MSFT commented on #32725
@dcbrown16 @gjustice The doc authors have the action on this thread going forward. I will see what I can do from my end to get this moving.

[2019-10-22 23:16] dcbrown16 commented on #21354
I think I'm looking for a comparison document for network monitoring solutions. What does Watcher offer that Network Performance Monitor doesn't? Doesn't Network Watcher have its own Traffic Analytics? What even is the "Network Analytics" that is the title of the page this feedback is on, is that a general category?

[2019-10-22 23:37] femsulu commented on #40946
thanks @DanniJuhl & @MGoedtel  - sounds like we have this tracked so closing this issue. Thanks again for the feedback.

[2019-10-22 23:37] #40946 closed

[2019-10-22 23:43] rwike77 commented on #38427
@hpsin , can you comment on this?  Thanks.

[2019-10-22 23:45] rwike77 commented on #34906
@mliudev, I've added a link to the spec as @hpsin suggested.  Hopefully that helps you and anyone else looking for info on the JWK format.  #please-close

[2019-10-22 23:45] #34906 closed

[2019-10-22 23:48] UmairSyed commented on #41143
we faced an issue on linux machines in VMSS when we tried to run a custom script and our VMs stopped responding, after some time we had to deallocate and re allocate them back in order to get them up again. The timing in the logs where it switches from v1.0.7 to 2.1.1 was 5:41pm AEST on 22nd Oct. When was the update rolled out and was it forced/scheduled on restart?

[2019-10-22 23:49] MarileeTurscak-MSFT commented on #41059
Thanks Jgwinner,

Yes, the URL you linked describes the differences.

The article also notes how it integrates with your existing tenant.

I have relayed your feedback to the doc team but if you have further notes feel free to make a new issue or send me an email at AzCommunity@microsoft.com and I will gladly continue the discussion.

[2019-10-22 23:49] #41059 closed

[2019-10-22 23:51] yobyot opened #41267 "Subject verb agreement is incorrect in page title"
The page's title should read "What _**are**_ managed identities for Azure resources?

The lack of standard English grammar and syntax across the Azure documentation set makes using and understanding Azure much harder than it should be.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7bd6bdc9-b545-f

[2019-10-22 23:53] huzzeytech commented on #40808
Looking for feedback. Thank you in advance.

[2019-10-22 23:54] wisesimpson commented on #38152
@PramodValavala-MSFT Thanks for your reply. I follow your link and started to create durable functions. Another issue popped up but please forgive me if it's not specific to this topic. Here's the issue:
In the Orchestrator, I called `context.df.callActivity("Action1", {"keywords":"test","top":2})`
In the "Action1"'s function.json, I added a cosmosDB binding with sqlQuery as `SELECT TOP {top} * FR

[2019-10-22 23:58] cgillum commented on #9152
@SimonLuckenuik I'm impressed that you're still interested in following up on this docs issue even after ~515 days (apparently this was the oldest still-open docs issue for Functions)! :) I just checked and the updates should be published now. You can find the updated content here: https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-versioning.

You can also see the di

[2019-10-23 00:11] hpsin commented on #38427
Yes, this is unfortunately an inherent issue with the /common alias.  By using /common, the app is indicating that they expect a user in any tenant (issuer) to be able to sign into the app.  We reflect the ultimately chosen tenant in the issuer claim.  This is especially important when there are tenant specific signing keys, where the app must know which jwks URI to visit in order to get the key u

[2019-10-23 00:11] greazer commented on #41134
We have already begun the implementation for this. In the meantime there isn't a good workaround.

[2019-10-23 00:22] FrankHu-MSFT commented on #41022
Hey @AlexFilipin The list of attributes depends on what attributes are available in the AD schema and which ones are actually imported - there is no such thing as a fixed list.

Which attributes are available in a specific deployment of AADC can be seen by the user in the UX/GUI.

The list provided in this doc is not a list of all attributes, but more of a list of minimum attributes to synchronize

[2019-10-23 00:34] AlexFilipin commented on #41022
Hey @FrankHu-MSFT that sounds strange - I get that the existence of e.g. Exchange schema extension will add sync rules to the AADC config.

But when I am using the app and attribute filters, what in an environment would change the attributes synced for e.g. O365 ProPlus Activation? Anyways I believe the current documentation gives the impression "that are all the attributes for use case X when i u

[2019-10-23 00:47] FrankHu-MSFT commented on #41022
After further discussion, this document mentions the attributes that are synced to AAD, based on the product selection that a user wants to support in their Hybrid environment.

This is independent of which attributes a user can use to filter -
	an attribute can be synced but not filtered against,
	an attribute can be filtered against but not synced.

I will now be closing out this github issue. i

[2019-10-23 00:47] #41022 closed

[2019-10-23 00:57] kazshi commented on #40377
@djpmsft Thank you for the clarification.

[2019-10-23 00:57] #40377 closed

[2019-10-23 01:00] b137 commented on #39533
Also waiting on an update to this plugin for Confluence 7.0. Thanks for the support so far!

[2019-10-23 01:05] MSNina123456 commented on #41192
I also tried it in cloudshell, Azure CLI cmd has issue, but powershell cmd should work, they are different. In this doc, only Azure CLI deployment is available.

[2019-10-23 01:06] swhite24 opened #41270 "URL Rewriting on backend service only"
From what I can tell from Front Door behavior, setting a URL rewrite serves only configured front door routing rules.

Take the following example:

- Front door configured with frontend host `myfd.azurefd.net`
- A backend pool with one host, say `https://myexample.com`
- A routing rule  matching `/foo` with URL rewrite set to `/bar`

1. Requesting `https://myfd.azurefd.net/foo` tries to serve `htt

[2019-10-23 01:33] NuAlex commented on #41022
@AlexFilipin you are looking at the attributes in the Metaverse. Some of these attributes are calculated properties. Can you check at the properties imported from AD by looking at the object in AD Connector Space?

And just to confirm my understanding, you used the _**Azure AD app and attribute filtering**_ feature (https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-inst

[2019-10-23 01:49] JackNs-16 commented on #40835
nope, issue solved thanks

[2019-10-23 02:03] #40945 closed

[2019-10-23 02:03] #41123 closed

[2019-10-23 02:03] #41165 closed

[2019-10-23 02:05] FrankHu-MSFT commented on #41234
Hello @sgdesmet can you clarify what the ask is? Azure datacenter IPs can be found here : https://www.microsoft.com/en-us/download/details.aspx?id=41653

What is the issue that you're experiencing?

[2019-10-23 02:10] FrankHu-MSFT commented on #41237
@gprl

I don't understand what the issue is here, the aad server sends out the logoutresponse to the application, not the client. Can you clarify the issue here?

If the application is being considered a service provider, then the application will also get the logoutrequest.

You don't need to respond to the logoutrequest. AAD will send the logoutresponse to the application's logout url which is c

[2019-10-23 02:11] FrankHu-MSFT commented on #41241
hey @v-videba  thanks for letting us know about this, we're currently adding this to our docs.

@v-videba Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue by end of day tomorrow. Please file a new git issue with a reference to this one if you have anymore concerns. Thanks

[2019-10-23 02:12] ecsos opened #41271 "fix typo please"
section "Configure OpenAthens Single Sign-On" on step 5b the text should match the picture.  The picture has "http://schema.microsoft.com/identity/claims/displayname"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1998e339-afaa-57b4-5417-a2d90fa3eb21
* Version Independent ID: b4ecd8b0-2474-060a-ecd5-3ef2abd37d60
* Cont

[2019-10-23 02:19] Damag3d commented on #40988
@AjayKumar-MSFT Sorry for the delay. KeyVault references work in this function, for example we had like 3-4 of them, however KeyVault reference to AppInsights seems to have no effect on AppInsights. When we changed it to plain value, we started to get the data. To answer the question - no errors for application insights configuration. Unfortunately we had multiple changes at a time - so we need to

[2019-10-23 02:26] msrini-MSFT commented on #41172
@mkiernan , any update on this issue?

[2019-10-23 02:30] rgosling opened #41272 "Out of date"
There is no way to configure firewall rules the way this documentation shows as far as I know. It's based on the older portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6665d46c-f065-a2c0-fbcc-6720d4c1b46d
* Version Independent ID: 57604428-74f8-a7a0-8635-4f044352a633
* Content: [Create and manage MySQL firewall r

[2019-10-23 02:34] KrishnaG-MSFT commented on #41251
@MicrosoftGuyJFlo Thanks for the quick response.

[2019-10-23 02:42] Rceballos101 opened #41273 "more documentation"
You need a page that shows how to do an entire project from start to end, not this piecemeal stuff where we don't know what to do next. Show how to create a storage blob, add files, create a simple function that outputs a result to another blob.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92f98e4e-7d3a-684a-06e6-e67

[2019-10-23 02:59] jjfrost opened #41275 "Update needed regarding Managed Disk size options and IOPS"
This paragraph below should be updated to reflect that now there are managed disks up to 32TB that can be mounted to Linux VMs and IOPS can go up to 20,000 for 32TB disks (P80 disks):

"Based on the VM size, you can attach up to 16 additional disks on an A-Series, 32 disks on a D-Series and 64 disks on a G-Series machine - each up to 1 TB in size. You add extra disks as needed per your space and I

[2019-10-23 03:13] msrini-MSFT commented on #41229
@KRU5HA , do you have any update on this issue?

[2019-10-23 03:27] jgwinner opened #41277 "GhostedRecall"
After following the instructions on this page, I checked the Access policy. (Honestly, I did it after setting up the Azure File Sync, per instructions here: https://docs.microsoft.com/en-us/azure/storage/files/storage-sync-files-deployment-guide?tabs=azure-portal

The Access policy has an odd Identifier setup that says "GhostedRecall"

That was not part of any ACL or access property I setup on our

[2019-10-23 03:29] LachlanJB commented on #39574
Hi
Just a couple questions and observations to point out since I last posted.
1. I noticed that the cutoff date mentioned at the top of this article has been moved to May 1, 2020.

Yet this document still says 1 November 2019 "Microsoft plans to retire the configurable token lifetime feature on November 1 and replace it with the Conditional Access authentication session management feature."
https:

[2019-10-23 03:42] jgwinner commented on #22578
I have this question also. After having said that, if you're on-prem, there's probably a windows server there somewhere.

I think the implication is for satellite offices; you can't have a PC there that accesses Azure Files, unless you also configure a DC in the area.

If I understand the implications, this shouldn't be a big problem, as satellite users would access a VM in Azure. If an office nee

[2019-10-23 03:47] SeaDude opened #41278 "Azure Maps Data Service Questions"
Hello,
Where is data stored that is uploaded via the Data Upload API?
Is it in an Azure SQL instance?
Is it accessible via any other means besides the Data Apload API?
I would have left this message here: https://docs.microsoft.com/en-us/rest/api/maps/data/uploadpreview, but there is not a Feeback area on that page.
Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required

[2019-10-23 03:52] APErebus commented on #40741
@sebastianburckhardt Awesome. Thank you :)

[2019-10-23 03:53] SeaDude opened #41279 "List of Acceptable `Properties`?"
Hello,
Where is a list of all acceptable `properties` allowed in a geofence POST body?

{
    "type": "FeatureCollection",
    "features": [{
        "type": "Feature",
        "geometry": {
            "type": "Point",
            "coordinates": [-122.126986, 47.639754]
        },
        "properties": {
            "geometryId": "001",
            "radius": 500
        }
    }]
}

Thank you

---

[2019-10-23 03:54] SeaDude commented on #41279
I see all kinds such as:
"properties": {
         "geometryId": "2",
         "validityTime": {
           "expiredTime": "2019-01-15T00:00:00",
           "validityPeriod": [
             {
               "startTime": "2019-01-08T01:00:00",
               "endTime": "2019-01-08T17:00:00",
               "recurrenceType": "Daily",
               "recurrenceFrequency": 1,
               "businessDa

[2019-10-23 04:04] souravmishra-msft commented on #41216
@mylabonline, Thank you for sharing the query. As I see @markwahl-msft, has provided the details and also the space where you can find the updates.
We are closing this thread for now. Feel free to re-open this in case you have any more queries around this same.

[2019-10-23 04:04] #41216 closed

[2019-10-23 04:07] souravmishra-msft commented on #41271
@ecsos, Thank for pointing it out to us. We are reviewing the same and will update the doc after the review.

[2019-10-23 04:18] jgwinner opened #41280 "Difference between Azure Active Directory for Office 365 and Azure Active Directory Domain Services"
I thought we had step "Prerequisits / 2" covered as I had Azure Active Directory Connect setup, as well as Azure Active Directory.

However, when I was doing my Azure File setup, I got an error that AAD DS was not setup.

While I was doing the Azure Active Directory setup for OneDrive, it was not obvious that this was Azure Active Directory for Office 365, not Azure Active Directory for Domain Ser

[2019-10-23 04:19] souravmishra-msft commented on #41271
PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/92934

[2019-10-23 04:20] neeleshray-msft commented on #41267
@yobyot Thank you for your feedback. We will raise a request for the correction to be done.

[2019-10-23 04:22] jakaruna-MSFT commented on #41192
Please post the screenshot.
I am unable to reproduce the issue in cloudshell.

[2019-10-23 04:22] neeleshray-msft commented on #40818
@munozrickT4S We will be closing this thread now. Please re-open if you need further help.

[2019-10-23 04:22] #40818 closed

[2019-10-23 04:22] jakaruna-MSFT commented on #41107
@LouisDK is there any upadate

[2019-10-23 04:23] KetanChawda-MSFT commented on #41273
@Rceballos101 Thank you for your feedback! We will review and provide an update as appropriate.

[2019-10-23 04:24] neeleshray-msft commented on #41104
@alexouretski
As of today it is not possible to change the From Address for the notification emails.
We will be closing this thread now. Please re-open and let us know if you need further help.

[2019-10-23 04:24] #41104 closed

[2019-10-23 04:24] souravmishra-msft commented on #40083
@jgwinner, Trust you are doing great today. I wanted to touch base with you to check if you got a chance to share the details as requested in the previous response to the azcommunity@microsoft.com group.
Do send an email there with you email id so that we can send out Teams meeting invite so that we can have a discussion on this issue and help you with your queries to sort them out on that call.

[2019-10-23 04:33] jgwinner opened #41281 "The sequence is incorrect for newly created file shares"
The documentation at: https://docs.microsoft.com/en-us/azure/storage/files/storage-sync-files-deployment-guide?tabs=azure-portal

says that you should only setup additional servers after the initial sync. Step "Prerequisites 3" implies you setup all of the VM's before doing the initial file creation.

This is a critical difference; I would assume that "Onboarding with Azure File Sync" is more corr

[2019-10-23 04:33] jakaruna-MSFT commented on #41192
Got it. You are using powershell in bash.

Please switch to bash.

On the top left of the screen, There will be drop down button as shown below.
![image](https://user-images.githubusercontent.com/43405697/67357819-1cd54700-f57c-11e9-94b7-18b462ce20fc.png)

Click that drop down and select bash.

You can try Azure cli commands in bash shell.

[2019-10-23 04:36] CHEEKATLAPRADEEP-MSFT commented on #26366
@christianb7 Yes, now you can capture data to ADLS Gen2 account.
And the document is already updated.

![image](https://user-images.githubusercontent.com/44426401/67358025-b866b780-f57c-11e9-9867-433cf055f840.png)

[2019-10-23 04:37] SwathiDhanwada-MSFT commented on #41099
@rayne-wiselman Can you please review the request and update the document accordingly?

[2019-10-23 04:38] neeleshray-msft commented on #41252
@elechuga Thank you for the feedback. We will have the same revised.

[2019-10-23 04:39] VikasPullagura-MSFT commented on #41214
@felickz Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-23 04:39] neeleshray-msft commented on #41252
Duplicate GitHub Thread - [https://github.com/MicrosoftDocs/azure-docs/issues/41249](https://github.com/MicrosoftDocs/azure-docs/issues/41249)

[2019-10-23 04:39] jakaruna-MSFT commented on #41192
Refer to this link to get stared with bash in cloudshell https://docs.microsoft.com/en-in/azure/cloud-shell/quickstart

[2019-10-23 04:40] neeleshray-msft commented on #41249
@elechuga We will be closing this thread as duplicate of GitHub Thread - [https://github.com/MicrosoftDocs/azure-docs/issues/41252](https://github.com/MicrosoftDocs/azure-docs/issues/41252)

[2019-10-23 04:40] #41249 closed

[2019-10-23 04:40] ramdsec commented on #41256
Hi Micah, i am referring the following document. This document doesn't talk about the AKS pod cpu & memory utilization. Will you able to help me in getting the right query for the same?
https://docs.microsoft.com/en-us/azure/azure-monitor/insights/container-insights-alerts

[2019-10-23 04:41] SamuelDudley commented on #40400
Hi @PramodValavala-MSFT,
I am experiencing the exact same issue as described above. Would you prefer that I opened a new issue with duplicate details or continue the discussion here?

Note: that I have also reproduced the same error using both the Python and Node runtime.

[2019-10-23 04:49] jgwinner opened #41282 "Please eat your own dogfood - use aadds.contoso.com instead of contoso.com"
Ok, that's vernacular; in the Military the phrase is "train as you would fight".

If you use contoso.com, it basically says "Yea, we told you not to use your top level domain name, but we're going to do it anyway."

Please consider changing the examples (and making sure they work!) to something like cloud.contoso.com or aadds (Azure Active Directory Domain Services) dot contoso.com

Thank you!

[2019-10-23 04:51] souravmishra-msft commented on #40762
@DimaGershman, I did check on this and unfortunately no other way available as of now to achieve this, as in the directory which stores these attributes has the key named as UserPrincipalName and hence, when you download the csv, it also has that same key name in the header of the column.

Something that I would do is after the download, I would go ahead and update that column's header to UserName

[2019-10-23 04:52] CHEEKATLAPRADEEP-MSFT commented on #41225
@sonaliwalia1 Thanks for the question! We are investigating and will update you shortly.

[2019-10-23 04:53] souravmishra-msft commented on #40981
@JefTek, I wanted to check with you if you got any more queries around this. If not then we would proceed with the closure of this thread. Do let us know so that we can proceed accordingly.

[2019-10-23 04:54] AshokPeddakotla-MSFT commented on #41278
@SeaDude Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-23 04:54] souravmishra-msft commented on #40985
@toddjohnson39, I wanted to check with you if the above response helped in answering your query or not. If any more queries, please do update us so that we can help you further.
If not do let us know so that we can proceed with the closure of this thread.

[2019-10-23 04:55] AshokPeddakotla-MSFT commented on #41279
@SeaDude Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-23 05:02] souravmishra-msft commented on #41112
@sebhe, This feature is still in preview and we have not received any timelines yet for it to be available for GA. The PMs are already updated about the ask for a timeline from customers and hence they are working on the same. We are expecting an update soon, but as of now we do not have any update with the timeline for this feature to be in GA.

[2019-10-23 05:02] jgwinner commented on #41059
Ah, it turns out, there ARE differences.

There's Azure Active Directory, and Azure Active Directory Connect.

These have nothing to do with Azure Active Directory Domain Services. This is what you need for Azure File services.

Please consider adding a clarification on this page. I was very confused when our Azure File synchronization said that we had no Azure Active Directory.

[2019-10-23 05:03] AjayKumar-MSFT commented on #40988
Thanks for responding back with more details. Yes, please do share your findings with the deployment(s) while I check on this further.

[2019-10-23 05:03] souravmishra-msft commented on #41112
#please-close

[2019-10-23 05:03] #41112 closed

[2019-10-23 05:08] SeaDude commented on #41279
I found this resource: https://docs.microsoft.com/en-us/azure/azure-maps/geofence-geojson
Please verify that ALL allowable `properties` are listed here.
Are custom `properties` allowed such as `description`?

[2019-10-23 05:11] VikasPullagura-MSFT commented on #41226
@kpetrow Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-23 05:12] juyama opened #41283 "Standard SKU is default."
By default, the Standard SKU is used after Release 2019-09-30.
https://github.com/Azure/AKS/releases

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60a7a0a8-97e7-0fda-763c-1a9972f4e9bc
* Version Independent ID: 82b46441-43fc-fe48-97e2-0f3fca3d6eab
* Content: [Use a Standard SKU load balancer in Azure Kubernetes Service

[2019-10-23 05:12] SumanthMarigowda-MSFT commented on #41277
@jgwinner Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.
@roygara

[2019-10-23 05:14] SumanthMarigowda-MSFT commented on #41280
@jgwinner Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate

[2019-10-23 05:16] msrini-MSFT commented on #41270
@swhite24 , Thank you for your feedback. We will investigate and get back to you shortly.

[2019-10-23 05:16] SumanthMarigowda-MSFT commented on #41281
@jgwinner Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate

[2019-10-23 05:19] jgwinner commented on #40083
Just sent it off! Thank you for helping!

[2019-10-23 05:20] SwathiDhanwada-MSFT commented on #41087
@tfitzmac Can you please review this request and update the document if necessary?

[2019-10-23 05:25] AjayKumar-MSFT commented on #41247
@katerinapetsa, Thanks for the question!
If I understand your question correctly, you're looking for the process for deploying Azure API FHIR app, to do this, you have the following documents which provides step-step instructions on the process.

[Quickstart: Deploy Azure API for FHIR using Azure portal](https://docs.microsoft.com/azure/healthcare-apis/fhir-paas-portal-quickstart)
[Quickstart: Dep

[2019-10-23 05:30] AshokPeddakotla-MSFT commented on #41068
Adding solution from the [Stack Overflow](https://stackoverflow.com/questions/58500292/cannot-connect-iot-hub-using-x509-ca-certificate-by-mosquitto-paho) thread.

I succeed in mosquito_pub by adding MQTT version. mosquitto_pub -d -h ${myhub}.azure-devices.net -p 8883 --cafile /etc/ssl/certs/Baltimore_CyberTrust_Root.pem --cert ./deviceCert.pem --key ./deviceCert.key -i ${mydevice} -u "${myhub}.az

[2019-10-23 05:30] #41068 closed

[2019-10-23 05:41] RohitMungi-MSFT commented on #41199
@NikhilBansal21 Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-10-23 05:49] neeleshray-msft commented on #41267
@yobyot  We have created a Pull Request for the edit and the same would be updated soon.

[2019-10-23 05:51] bryhall opened #41284 "Global VNet peering"
In the section "Connect an Application Inside a Different VNet", the paragraph states "The peering option is the preferable one because peering uses the Microsoft backbone network so, from the connectivity perspective, there is no noticeable difference in latency between virtual machines in peered VNet and in the same VNet. VNet peering is limited to the networks in the same region."

Is this stil

[2019-10-23 05:52] bryhall commented on #41284
Apologies, disregard, the immediate call out after that blurb answered my question.

[2019-10-23 05:52] #41284 closed

[2019-10-23 05:54] neeleshray-msft commented on #41252
@jeevansd Jeevan, could this be verified and updated in the document ?

[2019-10-23 05:55] #41267 closed

[2019-10-23 06:01] SeaDude opened #41285 "How are "Devices" registered?"
The docs above use `deviceId=` in each query. Where are these `deviceId`'s defined?
Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95cf4eb2-2a86-582d-8160-a19cc2960c98
* Version Independent ID: 12970ae9-71ca-ee5d-aadf-15678a22f883
* Content: [Create a geofence using Azure Maps](https://docs.microsoft.com/en-u

[2019-10-23 06:17] jgwinner opened #41286 "No mention of Azure Active Directory Domain Services"
The page "Enable Azure Active Directory Domain Services authentication over SMB for Azure Files" implies that you need to setup Azure Active Directory mid way through the above steps.

https://docs.microsoft.com/en-us/azure/storage/files/storage-files-active-directory-enable

Is this required? Will ACL's be preserved between AAD DS joined machines and DS joined machines?

Thank you,

        == Jo

[2019-10-23 06:34] DimaGershman commented on #40762
@souravmishra-msft , I believe I didn't explain the problem well because column header is not the issue. When I download the users, userPrincipalName has values in `guid@tenant` format, like this: `21d5ec65-93d5-4579-920e-2480575f9770@mytenant.onmicrosoft.com`.

However, what I really needed was the real email address of that user, as seen on Azure portal:
![image](https://user-images.githubuserco

[2019-10-23 06:38] tomdan-MSFT opened #41287 "Can we also please add the registry key needed to enable FIDO2 sign in at the lock screen to this article?"
Can we also please add the registry key needed to enable FIDO2 sign in at the lock screen to this article?  This is handy for 3rd party MDM or customers who want to enable this feature on a few test machines.  The registry key is :

[HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Policies\PassportForWork\SecurityKey]
"UseSecurityKeyForSignin"=dword:1

---
#### Document Details

⚠ *Do not edit this section.

[2019-10-23 06:40] zffocussss opened #41288 "logs append wrong way with Azure PVC"
I use azurefile PVC to mount a directory inside pod,but the logs are not in time order.

---
#### Детаљи документа

⚠ *Не уређујте ову секцију. Она је неопходна за повезивање проблема слиједом docs.microsoft.com ➟ GitHub.*

* ID: a57e48b4-dc33-0b9d-b773-42ce7d2bffd0
* Version Independent ID: e912ac2d-cf6a-0b54-4697-1940b1270874
* Content: [Dynamically create a Files volume for multiple pods in Azu

[2019-10-23 06:44] hyperioreviewer commented on #40755
@jakaruna-MSFT Hi, any updates on this? Thanks.

[2019-10-23 06:51] praba984 opened #41289 "verification emails"
customize verification emails: I have updated the logo's to it but still, I am getting old logos in the verification email. What should I do now

[2019-10-23 06:59] zffocussss commented on #41288
the sequence is wrong.there are logs yesterday,but today I find the logs of today are inserted before the logs yesterday.then the rest of logs of today are in right order.that is saying.
[23/Oct/2019 05:27:58] xxxxxxxxxxx
[Wed Oct 23 05:27:58 2019] xxxxx
[Wed Oct 23 05:27:55 2019] xxxxx
[23/Oct/2019 05:27:55] xxxxx
[Wed Oct 23 05:27:55 2019] xxxxxx
[Tue Oct 22 06:36:14 2019]
[Tue Oct 22 06:36:18 2

[2019-10-23 07:01] zffocussss commented on #41288
I suppose the Azure file can not mount inside pod right way so that the logs append wrong postion

[2019-10-23 07:10] ManojReddy-MSFT commented on #41287
@tomdan-MSFT Thanks for reporting this. I will validate this and will update the article accordingly.

[2019-10-23 07:10] SadiqhAhmed-MSFT commented on #41082
@lesterw1 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-23 07:10] #41082 closed

[2019-10-23 07:23] SumanthMarigowda-MSFT commented on #41088
@murdockcrc To run them as written, the best option is to use Bash in CloudShell and let me know the status

[2019-10-23 07:24] SumanthMarigowda-MSFT commented on #41184
@decturau Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate

[2019-10-23 07:30] akshit1811 commented on #23789
Facing the same issue, is there any update on this and an ETA by which it will be fixed?

[2019-10-23 07:32] #40834 closed

[2019-10-23 07:32] AshokPeddakotla-MSFT commented on #41285
@SeaDude Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-23 07:35] ChrisSommers opened #41292 "Count Key Vault resources query"
this counts virtual machines, not Key Vaults

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b0b3fab4-e51e-14d4-25cc-a753b0459044
* Version Independent ID: ade4ab02-b9bd-053d-6672-0617ef2cd750
* Content: [Starter query samples - Azure Resource Graph](https://docs.microsoft.com/en-us/azure/governance/resource-graph/sampl

[2019-10-23 07:37] murdockcrc commented on #41088
I believe I ran this under shell.azure.com, in Bash (not PowerShell). Is that what you are referring to?

[2019-10-23 07:39] baatch opened #41293 "Please include instructions on how to do this in Azure Devops Pipeline"
Please include instructions on how to do this in Azure Devops Pipeline. How to do a cretate pipeline and also how to create a release pipeline.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e70724b9-ed70-7081-abe1-f1221bb10499
* Version Independent ID: 8822c388-cf2d-e42a-2c9e-7a41c94933c5
* Content: [Use the Azure Str

[2019-10-23 08:01] MartinMasek commented on #37708
I would point out that there is a difference between id_token and access_token. I tried to get the roles in access_token after the user logged in but I actually needed to look into id_token.

[2019-10-23 08:02] MeirMen commented on #21354
This is a good feedback for the networking team

[2019-10-23 08:02] MarileeTurscak-MSFT commented on #40951
This does seem contradictory. @billmath can you confirm whether alternate ID is only supported in AD FS environments, or whether it is also supported in environments using PTA and PHS?

[2019-10-23 08:04] MarileeTurscak-MSFT commented on #41062
@amason304 what happens when you use the XML?

[2019-10-23 08:07] cconcordet commented on #40856
Hello, have you found a solution ?

[2019-10-23 08:08] ross-bohr commented on #34975
"Access Invoice" button on the Subscription blade, Invoices tab has been grayed out for like a week now. I am indeed the Subscription Owner , so this is not the issue. This "grayed out state" is currently appearing for all Azure Subscriptions. Even though it used to be enabled for a long time for the same (again: Owner role everywhere).

@SadiqhAhmed-MSFT , This looks like an Azure issue.

[2019-10-23 08:08] MarileeTurscak-MSFT commented on #41063
Closing this out as we are passing your feedback along, though I would highly encourage reaching out in User Voice too.

I've created an internal work item for this and will update the thread when I have answers. @billmath

[2019-10-23 08:08] #41063 closed

[2019-10-23 08:14] loopfish commented on #41012
nice one @MGoedtel - that sorted it, thank you. To be honest, I should have spotted that myself - the cluster role binding was referencing itself, rather that the role. I did have to delete the existing cluster role binding - Terraform said it updated the crb, but in fact it didn't, so I had to delete it manually and recreated it. FYI.

[2019-10-23 08:23] sonaliwalia1 commented on #41225
@CHEEKATLAPRADEEP-MSFT, I have created a thread on the stack as well here is the link
https://stackoverflow.com/questions/58518519/unable-to-set-checkpoint-in-partition
So can you please review it once?

[2019-10-23 08:27] tkopacz opened #41294 "Remove --credential-description"
When you run this for NEW app and NEW sp:
serverApplicationSecret=$(az ad sp credential reset \
    --name $serverApplicationId \
    --credential-description "AKSPassword" \
    --query password -o tsv

error will be:
"
When present, application key identifier cannot be empty and can be at most 32 bytes. Parameter name: applicationKeyIdentifierValue
"
Please - remove --credential-description. Tes

[2019-10-23 08:28] CHEEKATLAPRADEEP-MSFT commented on #41225
@sonaliwalia1 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-10-23 08:28] #41225 closed

[2019-10-23 08:32] jakaruna-MSFT commented on #41065
@MikeRayMSFT Please consider the users request and update the doc as needed.

[2019-10-23 08:35] Djongov commented on #40955
Hi Ryan,

I just tested again and it's still the same. Let me give you more context.
I have a web app in West Europe called gladiatus that i want to close to Central US. The app is running in S1 app service plan. The resouce group is called "Web-App-RG".
Following the article i am defining my src app.
$srcapp = Get-AzWebApp -ResourceGroupName Web-App-RG -Name gladiatus
Checking what $srcapp actual

[2019-10-23 08:36] rnowosielski commented on #30853
@markjbrown is there some place where I could track the work you are describing?

You write:

I would love to have some place where I can come and check the status (whether it is in progress or done, etc) to be able to track the dependencies on my side.

[2019-10-23 08:38] KRU5HA commented on #41229
Karthik
The configuration item is found by selecting "App Services" within the ARM
Portal
Then select an App Service and "Networking"
Now at the Access Restrictions at the bottom of the blade select
"Configure Access Restrictions"
Now choose to "Add rule" and the Type option provides the input I was
referring to.  If a user does not select this drop down bot they won't know
that the Virtual Networ

[2019-10-23 08:39] CHEEKATLAPRADEEP-MSFT commented on #41293
@baatch Thanks for the feedback!  Your feedback  has been shared with the content owner for further review.

[2019-10-23 08:40] mamedca commented on #41123
Hi,
the custom roles feature is currently limited to microsoft.directory/applications/ scope, hence unusable to me. Indeed the documentation states that it should be possible, but right now it is not the case.
So, for me it will be as of now, a manual trial and error approach in finding out what roles are added built-in to cover all the Global Administrator permission. It is a pity that this is ne

[2019-10-23 08:44] msrini-MSFT commented on #41229
Thank you for your feedback. I will work internally to provide this feedback to the Portal team.

@AjayKumar-MSFT , Can you pass on this feedback to the Portal Team.

I will close this issue and if you have any further questions please feel free to tag me.

[2019-10-23 08:44] #41229 closed

[2019-10-23 08:45] VikasPullagura-MSFT commented on #41294
@tkopacz Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-23 08:46] souravmishra-msft commented on #40975
@patrickjlee, I apologize for the delay in my response. Regarding this query, I will try to help you in understanding where to look for app information while dealing with Azure AD B2C. As you know that Azure AD B2C is a service, which when gets deployed, it creates another Azure AD Tenant specifically for B2C usage and similarly in the backend another Azure AD directory gets created, which holds i

[2019-10-23 08:46] VikasPullagura-MSFT commented on #41283
@juyama Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-23 08:49] jakaruna-MSFT commented on #41192
@MSNina123456 I will close this issue and follow up with the author to check if we can add this to the document.

[2019-10-23 08:49] #41192 closed

[2019-10-23 08:50] SanatMoharir opened #41296 "Converting the json output to excel format"
@JJ @shanselman @matsuu @dlapiduz @bigongiari

Hey, I just want to convert the output JSON to excel format I just want only the "Text" field in the JSON.
what changes should I do in the code? can you please help me with this? Is there any provision in Azure to do that?

I am performing the table extraction and I just want to extract the text into excel.
please checkout the input image:
![crop1](ht

[2019-10-23 08:52] jakaruna-MSFT commented on #41197
@satish225 is there any update

[2019-10-23 08:57] KrishnaG-MSFT commented on #41284
@bryhall Glad to know that you have self resolved the issue. Thanks for the update.

[2019-10-23 08:59] danimir commented on #41260
@mezmiro2040 I'm not clear from your explanation what do you mean by having read/write access in terms of the role. It would be more useful to understand if you have an SQL engine role, or Azure role. This is because you can authenticate to a database using two different ways. One is having only SQL engine credentials, and the other is having Azure role. In case of Automatic tuning, SQL engine per

[2019-10-23 09:01] ChrisSommers opened #41297 "PropertyChanges is empty and calling the resourceChangeDetails endpoint gives Internal Server Error"
As above. I can retrieve a record for each change on the resource (which correlates with the resource's activity log) but the PropertyChanges section never shows which property changed.
And, when calling the resourceChangeDetails endpoint with a changeID from the previous result, I always get an Internal Server Error returned.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2019-10-23 09:02] jakaruna-MSFT commented on #41193
@benc-uk
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-10-23 09:02] #41193 closed

[2019-10-23 09:02] SadiqhAhmed-MSFT commented on #34975
@ross-bohr Changes made at the directory level or at the user permission level would have an impact of this kind. Could you please once again confirm you've Owner role on all the subscriptions you've access to? If yes, I recommend reaching out to Azure subscription management team by creating a support request. Here is the link https://docs.microsoft.com/en-in/azure/azure-supportability/how-to-cre

[2019-10-23 09:03] VikasPullagura-MSFT commented on #41283
@juyama As per the AKS release [document](https://github.com/Azure/AKS/releases), the release date mentioned is 2019-11-04. The document will be updated by the mentioned date.
I am reaching out to the doc author on this for his comments.

[2019-10-23 09:08] christianb7 commented on #26366
Perfect, thanks @CHEEKATLAPRADEEP-MSFT . I see from git that the document was updated on 21st October with that information so I must have seen an old copy somehow when a colleague and myself checked yesterday.  Thanks

[2019-10-23 09:08] KalyanChanumolu-MSFT commented on #41272
@rgosling Thank you for the detailed feedback.
This is being assigned to the content author to evaluate and update as appropriate.

[2019-10-23 09:10] VikasPullagura-MSFT commented on #41286
@jgwinner Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-23 09:18] KalyanChanumolu-MSFT commented on #41226
Thank you for the detailed feedback.
This is being assigned to the content author to evaluate and update as appropriate.

[2019-10-23 09:24] v-shtosh opened #41298 "Creation of single SQL Database blade on Azure Portal was changed."
There is Networking tab for creation of single SQL Database and we can configure network access and connectivity.
It would be more helpful, if you'd also explain regarding this tab and how to configure it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3da2d20f-0457-b8af-2f72-84741e8cb81b
* Version Independent ID: 3bcd

[2019-10-23 09:25] LeonardoFelippine commented on #41231
Hello, Micah.

The requirements page is not clear, as it states that "We plan to add support for the following OSes, so make sure you have the appropriate licenses for your users based on the desktop and apps you plan to deploy". Will the licenses be required when support is added? Do I need one license per host pool, per host pool VM or per user?

The pricing calculator does not mention anything

[2019-10-23 09:28] ChiragMishra-MSFT commented on #41103
@anas24aj Since there has been no response from you, I will now proceed to close this issue. Please raise a feedback on the respective document to get assistance.

[2019-10-23 09:32] amanmcse commented on #41053
@wallace, The response from adminconsent endpoint is always posted to the redirect_uri specified in the request. Based on the request that you have shared, any success or error response from  "https://login.microsoftonline.com/{tenant}/adminconsent" endpoint, should be posted to http://localhost/myapp/permissions and if there is any error thrown by consent framework, it would include **error** and

[2019-10-23 09:32] sgdesmet commented on #41234
Hello @FrankHu-MSFT we need to call a REST service which can only be called from IPs that are whitelisted. Thus we need to provide such a list of IPs that can be used by Azure B2C to make REST calls, but supplying the entire list you indicated will not be accepted. Is there some subset of IPs that can be used?

[2019-10-23 09:33] ChiragMishra-MSFT commented on #41208
@pes-kapacity It's already mentioned in the document that - "If you want to use wildcard to filter files, skip this setting and specify in activity source settings."
![image](https://user-images.githubusercontent.com/43365826/67379268-38554780-f5a6-11e9-8148-d1be7473ed9b.png)
I will now proceed to close this issue. Please feel free to still comment and tag me if you have any queries regarding the

[2019-10-23 09:33] #41208 closed

[2019-10-23 09:34] MoiMoiDG commented on #40937
Hi @lisaguthrie,

Thank you for the reply. You answered my question.
@Dynamic feature flags: A full example (on github) as for the mentioned tutorial - which deals with app configuration - would be helpful.

You can close this issue.

[2019-10-23 09:38] KalyanChanumolu-MSFT commented on #41101
@jwfallaw Thank you for the feedback.
This is being assigned to the content author to evaluate and update as appropriate.

[2019-10-23 09:40] jakaruna-MSFT commented on #41205
@JDWNL is there any update

[2019-10-23 09:40] KalyanChanumolu-MSFT commented on #41101
@deborahc The "Get the Connection String" document in How-to guides now points to "[Connect a MongoDB application to Azure Cosmos DB](https://docs.microsoft.com/en-us/azure/cosmos-db/connect-mongodb-account)"

Could you please update accordingly.

![image](https://user-images.githubusercontent.com/8835012/67379816-101a1880-f5a7-11e9-8c76-e91887e0c15a.png)

[2019-10-23 09:41] pes-kapacity commented on #41208
@ChiragMishra-MSFT - I think it'd be more clear if the description for fileName would state something like: "If a wildcard is specified in Activity Source Settings, the fileName is ignored". The current wording makes me think that the filename still takes priority over the wildcard setting, where in fact the exact opposite happens.

[2019-10-23 09:42] ChiragMishra-MSFT commented on #41150
@sthoward0914 Please refer the following doc for the limits for Storage accounts (including Data Lake Store Gen2) :
https://docs.microsoft.com/en-us/azure/storage/common/storage-scalability-targets#storage-account-scale-limits
Please note that these are default limits and can be expanded by raising a support request.

[2019-10-23 09:43] ChiragMishra-MSFT commented on #41208
@pes-kapacity I understand. I will work internally with the teams to get it reviewed and updated accordingly. Thanks again for bringing this to out notice.

[2019-10-23 09:43] jakaruna-MSFT commented on #40650
@karlmutch got the reply from @lachie83
But the dockerfile is missing.

lachie83' reply is
`It was originally built from the upstream Tensorflow mnist demo repo which contained the Dockerfile but that now appears to be moved.`

I am following up with the content author for the next steps

[2019-10-23 09:50] VikasPullagura-MSFT commented on #41275
@jjfrost Thanks for the feedback!

I have assigned the issue to content author for reviewing and updating the document as applicable.

[2019-10-23 09:50] julesman101 opened #41300 "Additional step in "Complete the migration""
I recommend you add another step to the "Complete the migration" section :

- Remove the VMware Tools software from the migrated Azure VM.

As this section describes a migration from VMware, the mirgated VM's in Azure will most likely have the VMware Tools software package installed, and it would be good practice to remove this if the VM is to remain in Azure.

Thanks.. JD

---
#### Document Detai

[2019-10-23 09:50] VikasPullagura-MSFT commented on #41275
@RicksterCDN Can you please review the feedback and update the document.

[2019-10-23 09:51] JDWNL commented on #41205
I see what you mean. Perhaps I misunderstood the documentation then. The overlap between the different extensions related to monitoring + the fact that MMA is not listed in the extensions blade + the fact that we don’t recommend to install it via ARM but via ASC instead made me think it’s a different concept.

My apologies for the confusion.

Thanks

From: jakaruna-MSFT <notifications@github.com>

[2019-10-23 09:53] ChiragMishra-MSFT commented on #41208
@pes-kapacity I have made the required change and it is waiting for approval from the content owner. Once done, it would start reflecting in the production version of the doc.

[2019-10-23 09:58] VikasPullagura-MSFT commented on #41283
@zr-msft Can you please comment on this.
Thanks.

[2019-10-23 09:59] ChiragMishra-MSFT commented on #41210
@guoch The username is your domain user name (eg- xyz@company,com) and the password is the password for your Azure Active Directory domain.

![MicrosoftTeams-image (2)](https://user-images.githubusercontent.com/43365826/67381678-ef9f8d80-f5a9-11e9-8585-4a6f52e1e216.png)

[2019-10-23 10:12] yenbohuang opened #41301 "Cannot pull docker image from "localhost:5000""
I followed this page and deployed IoT edge on minikube successfully. However, I cannot upgrade edge agent from "0.1.0-alpha" to the latest version from both VS Code or Azure Portal by changing the desired value.

There was a bug that edge agent only supports docker registry with port number 80 (fixed by "1.0.8+"). If you used the code template generated by VS Code, you will hit this bug. After fol

[2019-10-23 10:15] egondalia commented on #17615
Was there ever an update to this, can we now use Static IP for VPNGW ?

[2019-10-23 10:16] ross-bohr commented on #34975
Yes, I checked this again and I confirm that I do have the Owner role in all those subscriptions. It looks like an internal Azure issue. I will raise as many tickets as needed but most probably this is not local to our subscriptions only.

[2019-10-23 10:18] ErnestBrant commented on #41206
Hello,
Any update on this please e.g. "Is the MARS agent supported for on-premise physical Windows 2019 Core OS servers?

Thanks

[2019-10-23 10:21] andremieth opened #41302 "Set-ADSyncAADCompanyFeature & ForcePasswordChangeOnLogOn"
Parameter "-ConnectorName" does not exist +
Parameter "-ForcePasswordResetOnLogonFeature " is wrong

Wrong command listed in docs: Set-ADSyncAADCompanyFeature -ConnectorName "&lt;AAD Connector name&gt;" -ForcePasswordResetOnLogonFeature $true

Correct one: Set-ADSyncAADCompanyFeature -ForcePasswordChangeOnLogOn $true

Tested with AADConnect 1.4.18

---
#### Document Details

⚠ *Do not edit this se

[2019-10-23 10:22] PramodValavala-MSFT commented on #38152
@wisesimpson I believe it would be best to create a thread on [MSDN](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureFunctions) or [StackOverflow](https://stackoverflow.com/questions/tagged/azure-functions) with your last query, so that the discussion is visible to a larger audience.

[2019-10-23 10:23] pes-kapacity commented on #41208
Thank you :) I only discovered the issue yesterday when I noticed our import pipeline processed literally every file in the Blob storage, rather than the single one we thought it was configured to process.

[2019-10-23 10:32] jainankita opened #41303 "Can new developer portal be integrated with azure AD for login?"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-10-23 10:35] karthick4d opened #41304 "Using the user credential to map drive"
Hi,

Is it possible for the user credential to map the drive. rather than the Storage account key? i.e. add the user with contributor access to the storage account and use their credential to map the drive.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c12f1ea9-6446-be01-22fe-885fb945d22c
* Version Independent ID: 634

[2019-10-23 10:38] msrini-MSFT commented on #41270
@swhite24 , There is an option in the backend pool settings called "Backend host header".  The host header value sent to the backend for each request. So this will resolve your first question.

I am not able to fully understand your second questions. Can you explain with an example ?

[2019-10-23 10:43] Valery-Lapurin commented on #39430
@Karishma-Tiwari-MSFT ,
I want to report that I faced the exact same problem after maiking the same exact steps as @pdebruin had.
After I added "**http_application_routing**" add-on, the problem disappeared. I've read that "This add-on is not recommended for production use" - so I don't think I really need it.

Best regards

[2019-10-23 10:50] deheems commented on #40769
@zr-msft where can I create a parent space? Thanks!

[2019-10-23 11:11] gorzilla opened #41306 "add "| dedup ResourceId" to the query."
this doesn't work in Log Analytics.

Maybe should be replaced with
"| summarize arg_max(TimeGenerated, *) by ResourceId"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09644a50-743d-c067-9bec-d96a05f69094
* Version Independent ID: 844b0aec-c99e-7335-bb79-001189c36f64
* Content: [How to Query Logs from Azure Monitor for

[2019-10-23 11:23] juyama commented on #41283
@VikasPullagura-MSFT  Thanks for your reply.
It seems to be applied already. Standard LB will be created when we create a new AKS cluster via Azure Portal. Could you please confirm that? Thank you.

[2019-10-23 11:27] magaudef commented on #40856
Hello @MarileeTurscak-MSFT ,
Would you be able to provide an anwser on this issue or do you anyone that can help ?
Thanks a lot in advance for your help !
Mathilde

[2019-10-23 11:30] xiongyu0523 opened #41307 "Description of Create a user delegation SAS/service SAS/account SAS (REST API)"
I think these pages describe how to construct a SAS, usually perform on a client machine with possession of access key. These are not REST API, it make me confused.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 788014ae-dc3b-f509-3dbd-933eb5a423a4
* Version Independent ID: 250d17de-f226-d3e3-7071-3ecb14da018e
* Conten

[2019-10-23 11:39] ChiragMishra-MSFT commented on #41210
@guoch You can use your domain username (abc@company.com) and a generated token(from the workspace) as password to set up a profile.

For details, please refer the following doc on authentication :
https://docs.databricks.com/dev-tools/api/latest/authentication.html

[2019-10-23 11:42] MonikaReddy-MSFT commented on #41217
@Anaig ,We have updated the document and once again thank you for bringing this to our attention.

[2019-10-23 11:42] #41217 closed

[2019-10-23 11:55] MGoedtel commented on #41012
Glad to hear your issue is resolved.  #please-close.

[2019-10-23 11:55] #41012 closed

[2019-10-23 11:58] Kalmis commented on #35298
@SubhashVasarapu-MSFT Any comment on this?

[2019-10-23 12:22] diberry commented on #41043
@GiftA-MSFT  @Tiagojaduarte The service team is reviewing a possible regression. Thank you for reporting it. #in-progress

[2019-10-23 12:26] satish225 commented on #41197
Hi Team,

Thanks for the update i have resolved the issue

*Regards,*
*Satish.Kola*
*9701309141*

On Wed, Oct 23, 2019 at 2:23 PM jakaruna-MSFT <notifications@github.com>
wrote:

[2019-10-23 12:33] mahoekst opened #41308 "Link to multi-tenant samples is not pointing to multi-tenant samples"
Link to multi-tenant samples is not pointing to multi-tenant samples

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 326f7173-a654-fda7-2438-6905da3fdbef
* Version Independent ID: 7dbc5a10-9d61-26e1-f532-973b4bdfae9a
* Content: [How to build an app that can sign in any Azure AD user - Microsoft identity platform](https:

[2019-10-23 12:33] DCtheGeek commented on #41292
#assign:DCtheGeek

[2019-10-23 12:36] VikasPullagura-MSFT commented on #41288
@zffocussss Thank you for your question! We are looking into this and would get back to you soon on this thread.

[2019-10-23 12:37] DCtheGeek commented on #41292
@ChrisSommers Thank you for the feedback! Part of the fix was just offered in PR #41276. I'll submit a PR to fix the Portal link. When that PR merges, this issue will automatically close.  Thanks again for pointing this out!

@MicrosoftDocs/azure-cxp-triage Please label 'doc-bug' and #in-progress.

[2019-10-23 12:45] DCtheGeek commented on #41297
#assign:DCtheGeek

[2019-10-23 12:48] #41292 closed

[2019-10-23 12:54] #41180 closed

[2019-10-23 12:56] DCtheGeek commented on #41297
@ChrisSommers Thanks for the question. For the **propertyChanges** portion of the response to be included, your request JSON must include this segment:

[code]

If you are saying that you did include that snippet and the **propertyChanges** is in the response but empty, then you'll need to create a support ticket to have the team look into it. The same is also true for the issue with calling resou

[2019-10-23 13:07] chadcarlton opened #41309 "PowerShell equivalent"
I am having difficulty In azure devops trying to create an APIM instance, and then enable SSO with AAD.  I then need to use AAD security groups for APIM developer portal access.  Many other places in Azure documentation support both portal and powershell management.

Without some powershell equivalent documentation, this is difficult to figure out considering that there is Azure CLI, AzureRM PS, A

[2019-10-23 13:16] shashishailaj commented on #40983
Hello Arnav,
Let me answer your queries one by one.

**Q**. Can services from one tenant to other tenant migrated?
**Ans** :- No, Only services within a subscription can be migrated to another subscription. As far as tenant to tenant migration is considered , you can not do that as objects from one tenant can not be moved to another.

**Q**. _First Azure tenant is abc.com and second def.com.Both h

[2019-10-23 13:16] #40983 closed

[2019-10-23 13:17] craigshoemaker commented on #40676
Thanks @mfalkvidd! The link is fixed and the update will be live in a few hours. #please-close

[2019-10-23 13:17] #40676 closed

[2019-10-23 13:19] heaps926 opened #41310 "Support for functions"
Another article states that Version 2 does not support function apps (https://docs.microsoft.com/en-us/azure/app-service/configure-authentication-provider-aad ) - I think it would be really helpful to duplicate that information here, I spent a lot of time trying to get V2 to work with functions before seeing that other article. Is there a timeline when V2 will be compatible with functions? That wo

[2019-10-23 13:25] #41297 closed

[2019-10-23 13:27] craigshoemaker commented on #38907
I think I see the confusion here. The Functions runtime knows about the timer settings via configuration. When you're testing you just have to call the code directly. I add some detail to clarify. #please-close

[2019-10-23 13:27] #38907 closed

[2019-10-23 13:30] giancarlos29 opened #41311 "Does Azure Data Factory can not move a file in a FTPS folder? I successfully write the file but i cant move it to the other folder."
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-10-23 13:32] giancarlos29 opened #41312 "Does Azure Data Factory can not move a file in a FTPS folder?I mean, move a file to Path File A to Path File B; I successfully delete the file in Path File A but i cant move it to Path File B."
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-10-23 13:33] porrascarlos802018 opened #41313 "RDP process and logs collection improvement."
- The RDP process needs to be improved, documents shall be ready for all kind of public , step by step with illustrations.
- Document with step by step to collect logs must be created and validated in any new release.

Customer comments:
The was one challenge with the instructions, specifically this step below:

CLUSTER_RG=$(az aks show -g myResourceGroup -n myAKSCluster --query nodeResourceGroup

[2019-10-23 13:39] VikasPullagura-MSFT commented on #41282
@jgwinner Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-23 13:42] giuliov opened #41314 "--attach-acr example does not work"
I updated to the latest (2.0.75) az cli but I get a
`az: error: unrecognized arguments: --attach-acr`
error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed59d472-ac33-5c03-dbb7-0e86e88c7dd8
* Version Independent ID: 69e1ad8c-2dd3-cc1b-2b31-996a5d866cc0
* Content: [Integrate Azure Container Registry with Azure Kubern

[2019-10-23 13:46] sthoward0914 commented on #41150
Here's the problem: Azure Data Lake Gen 2 is only mentioned one time in this article, and that mention is not about storage capacity. Nothing calls out a storage capacity for it.

Steve

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: ChiragMishra-MSFT <notifications@github.com>
Sent: Wednesday, October 23, 2019 2:42:32 AM
To: MicrosoftDocs/azure-docs <azure-

[2019-10-23 13:48] dabasejumper commented on #41227
https://docs.microsoft.com/en-us/azure/terraform/terraform-create-k8s-cluster-with-aks-applicationgateway-ingress

[2019-10-23 13:52] MladjoA commented on #29468
@KalyanChanumolu-MSFT , @v-thepet , can you please take a look? I believe we have full clarity in the article now.

[2019-10-23 13:59] moorereason commented on #41223
I had the same question.  Kept clicking around and found it:
1. Go to the **Azure AD admin center**.
1. Go to **User Settings** under **Manage**.
1. Click the **Manage user feature preview settings** link under **User feature previews**.
1. Enable **Users can use preview features for registering and managing security info – enhanced**.

[2019-10-23 14:04] leizhang1984 commented on #20345
Hello,

May I asking if there is any update about this issue?

I'm struggle to connect China AAD with powershell "Connect-AzureAD"

[2019-10-23 14:20] melvillo opened #41315 "C# script code sample nuget package"
The C# sample code under "HTTP trigger, get multiple docs, using DocumentClient (C# script)" doesn't explained clear on the NuGet package.
If using .NET Core, the NuGet should be "#r Microsoft.Azure.DocumentDB.Core" rather than
#r "Microsoft.Azure.Documents.Client"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa5bcb7

[2019-10-23 14:22] toddjohnson39 commented on #40985
That helps. Thanks!

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: souravmishra-msft <notifications@github.com>
Sent: Tuesday, October 22, 2019 9:55:17 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: toddjohnson39 <toddjohnson39@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] How to: Enterprise Appli

[2019-10-23 14:31] github2alfred opened #41316 "typo?"
Hyper-V: Hyper-V VMs can be replicated every five minutes, o 30 seconds

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a8f2ca3-19b1-330d-8dd3-6dcdce38c8d4
* Version Independent ID: 700335aa-c802-0314-1579-3493918f5000
* Content: [Azure Site Recovery: Frequently asked questions](https://docs.microsoft.com/en-us/azure/s

[2019-10-23 14:39] swhite24 commented on #41270
Hi @msrini-MSFT, thanks for getting back to me.

I do currently have the backend host header set to match the backend host for each of the two backends, but am still seeing the behavior I described.

Here's some example relevant configuration:

| Field | Backend1 | Backend2 |
| - | ---------- | --------- |
| Host | foo.com | example.com |
| Host Header | foo.com | example.com |

| Field | Routing

[2019-10-23 14:42] JohnGalt1717 opened #41317 "How do you use Azure issued SSL Certificates?"
This page uses a openssl generated cert.  The other page for static ip uses let's encrypt.

It seems obvious that a page on Azure should show you how to use an azure issued certificate. And it should automatically update as the cert renews.

Please provide guidance on this page on how to make that happen.

(Microsoft needs a better solution in general to handling Encryption ingress that is fully i

[2019-10-23 14:46] zpittmansf opened #41318 "Add Microsoft.Extensions.Http as a prerequisite"
Its in the Microsoft.Extensions.DependencyInjection namespace.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5786402e-9d88-5de0-607a-1c2a143af006
* Version Independent ID: 15368d1c-b22e-7eb2-413f-cc0d41d2b909
* Content: [Use dependency injection in .NET Azure Functions](https://docs.microsoft.com/en-us/azure/azure-fun

[2019-10-23 14:50] svangeti opened #41319 "Is it possible to deploy python app zip deployment from storage account URL"
There is no where mentioned in the document about python application to host as zip package from storage url? Is it possible , if so can you point me to the documentation on how to do it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4581be64-415a-804a-0a45-25b6976095c3
* Version Independent ID: 0cae0e82-c263-e2cf-ea5

[2019-10-23 14:52] NavtejSaini-MSFT commented on #41239
@ravick4u Please mention if you need any further help with this.

[2019-10-23 14:53] NavtejSaini-MSFT commented on #41245
@SvenAelterman Please get back to us if you need any further information or have any question

[2019-10-23 14:54] AvatarRolon opened #41320 "Fix "save button" issue"
Hello, I have ben working with Application Gateway Features, i saw that exists the possibility to apply the Application Gateway Firewall Policy directly from the Azure Portal, so i tried, but the "Save Button" isn't there.

![image](https://user-images.githubusercontent.com/35464194/67405727-c582a700-f57a-11e9-8097-0311ece30643.png)

---
#### Document Details

⚠ *Do not edit this section. It is re

[2019-10-23 14:59] mrbullwinkle commented on #41091
#please-close

[2019-10-23 14:59] #41091 closed

[2019-10-23 14:59] NavtejSaini-MSFT commented on #41298
@v-shtosh We are checking this and will get back to you.

[2019-10-23 15:01] elechuga commented on #41252
You may write something like;
Users will automatically be added to the 'USERS' repository of Qlik Sense as they use the SSO feature. In addition, clients can user the QMC and create a UDC (User Directory Connector) for pre-populating users in Qlik Sense from their LDAP of choice such as Active Directory, and others.

[2019-10-23 15:09] Benjiiim opened #41321 "Auto renew with Azure Databricks pre-purchase"
- Does Auto renew works with Azure Databricks pre-purchase?
- If Auto renew works with Azure Databricks pre-purchase, does it renew when there are no more DBCU available in the reservation or only when the existing reservation expires at the end of the term?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fccfa1fb-ec63-

[2019-10-23 15:13] jz247 commented on #41189
Thank you so much for your prompt reply & info! Sure - will try it soon.

[2019-10-23 15:19] DCtheGeek commented on #41114
@kilasuit I responded on your PR, but putting the response here as well for discoverability:

I'll aim to make the change on Monday of next week if I haven't heard back that you want to update your PR. At that point in time, I'll close both this issue and the PR.  Thanks again for pointing out the gap and willingness to contribute changes!

[2019-10-23 15:25] PramodValavala-MSFT commented on #41048
@jasoncoding Just following up here... Hope my previous comment clears things up.

[2019-10-23 15:28] PramodValavala-MSFT commented on #41235
@basilwong Just following up here... Hope my previous comment clears things up.

[2019-10-23 15:28] jasoncoding commented on #41048
@PramodValavala-MSFT That does help clear it up.  So essentially the session and queue lock is the same thing?

[2019-10-23 15:33] PramodValavala-MSFT commented on #41191
@ashishmundrajll Just following up here... Hope my previous comment helps.

[2019-10-23 15:41] mamccrea commented on #39771
Hi @tikimo

Here's a list of the supported fields:

{
  "DataLocale": ,
  "OutputErrorPolicy":
  "EventsLateArrivalMaxDelayInSeconds":
  "EventsOutOfOrderMaxDelayInSeconds":
  "EventsOutOfOrderPolicy":
  "StreamingUnits":
  "CompatibilityLevel":
  "UseSystemAssignedIdentity":
  "GlobalStorageAccountName":
  "GlobalStorageAccountKey":
  "AccountName":
  "AccountKey":
  "ContainerName":
  "UploadFro

[2019-10-23 15:42] cwester72 opened #41323 "No RDS licenses installed and will stop working in X amount of days"
Desktop gets alert that there is no rds licenses installed and will stop working in X amount of days, please install licenses on connection broker

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2eeca14-80ef-c0b4-2719-80ceb286ba3d
* Version Independent ID: b7d3df23-3158-2807-eecc-73e7230c2033
* Content: [What is Window

[2019-10-23 15:45] jz247 commented on #41189
@RohitMungi-MSFT, run the install line through JupyterLab Terminal. Checked the TensorFlow version (=2.0.0). Still got the same error as before. Any other things that I can try? Thanks!

FYI - The Azure Notebook VM that I am using was created on Oct. 20.

[2019-10-23 15:48] mamccrea commented on #41293
Hi @baatch - The npm only creates ARM templates. You create a build pipeline in Azure pipelines then create a build task and use the npm in that task.

[2019-10-23 15:53] MicahMcKittrick-MSFT commented on #41323
@cwester72 please provide us with the link to the documentation you are following so we can better assist.

[2019-10-23 15:54] MicahMcKittrick-MSFT commented on #41317
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-23 15:54] MicahMcKittrick-MSFT commented on #41314
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-23 15:55] #40937 closed

[2019-10-23 15:55] MicahMcKittrick-MSFT commented on #41313
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-23 15:59] cwester72 commented on #41323
https://docs.microsoft.com/en-ca/azure/virtual-desktop/overview

[2019-10-23 16:01] MicahMcKittrick-MSFT commented on #41256
Thanks @ramdsec  I am assigning to one of our engineers who works with azure monitor to assist further.

[2019-10-23 16:02] mliudev commented on #34906
@rwike77 Looks good, thanks.

[2019-10-23 16:06] #40943 closed

[2019-10-23 16:12] PramodValavala-MSFT commented on #41048
@jasoncoding The lock duration is the same.

When using a session, renewing a message lock does nothing. The lock itself is for the complete session, acting as an umbrella to all messages in the session, like the doc mentions.

[2019-10-23 16:18] PramodValavala-MSFT commented on #40932
@rasmuschristensen Hope my previous comment clears things up.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-23 16:18] #40932 closed

[2019-10-23 16:19] RohitMungi-MSFT commented on #41189
@jz247 Please downgrade the tensorflow version. Please try to use version 1.12.0 and try the same.

[2019-10-23 16:23] MicahMcKittrick-MSFT commented on #41323
@cwester72 will need some additional details to move this forward.

Here is the steps on licensing
https://docs.microsoft.com/en-ca/azure/virtual-desktop/apply-windows-license#ways-to-use-your-windows-virtual-desktop-license

Can you tell me which route you went?

[2019-10-23 16:24] MicahMcKittrick-MSFT commented on #41317
Adding @MicrosoftDocs/aks-pm for further input

[2019-10-23 16:30] msrini-MSFT commented on #41270
@swhite24 , According to your example,

myfd.azure.net/app1 will  rewrites to myfd.azure.net/app1/

The path will get appended not removed.

Reference: https://docs.microsoft.com/en-us/azure/frontdoor/front-door-url-rewrite

Even though the request , AFD rewrites the host header to azurewebsites.net. I made a request to AFD with afd FQDN and this is how I see the request hitting Web App:

2019-10-

[2019-10-23 16:36] LouisDK commented on #41107
Hi,

I am using a User Assigned identity.
If I create a new container (using "az container create", with either
various parameters, or a YAML file), it works fine (able to retrieve
secrets from the KeyVault) as long as the Restart Policy is unspecified
(defaulting to Always).
I then delete the container group, wait a few minutes, then deploy a new
container - this time specifying a Restart Policy

[2019-10-23 16:42] artomh commented on #5806
Microsoft GraphAPI now supports creating and reading B2C users in the "Beta" endpoint.
As documented here:
https://docs.microsoft.com/en-us/graph/api/user-post-users?view=graph-rest-beta&tabs=http

The call would look like:

[code]

[2019-10-23 16:43] MicahMcKittrick-MSFT commented on #41314
@giuliov I just tested this and it worked as expected

[code]

[code]
I tested this on the Azure Cloud Shell and my local instance of CLI. Both succeeded. Not sure what the issue is with your environment. If you used the Cloud Shell, everything should be updated. If running on prem, you might want to reboot your PC after updating CLI just to be safe.

[2019-10-23 16:44] MicahMcKittrick-MSFT commented on #41313
@porrascarlos802018 assigning to the content author to review.

CC @MicrosoftDocs/aks-pm if they have input on this.

[2019-10-23 16:52] MicahMcKittrick-MSFT commented on #41294
@tkopacz I tested this in Cloud Shell and Locally and it worked as written

[code]

[2019-10-23 16:53] Nickomang commented on #29056
#reassign @masnider

[2019-10-23 16:54] MicahMcKittrick-MSFT commented on #41288
@MicrosoftDocs/aks-pm can you confirm if this is expected?

@zffocussss also, it seems the logs are in order after the first couple. So I assume this is only an issue with the initial ingestion of logs

[2019-10-23 16:55] MicahMcKittrick-MSFT commented on #41231
@Heidilohr @ChristianMontoya can either of you confirm/ elaborate?

[2019-10-23 16:55] MicahMcKittrick-MSFT commented on #40074
@rajurh I will close this out but if you have further questions let me know and we can always reopen and continue the discussion.

[2019-10-23 16:55] #40074 closed

[2019-10-23 16:56] AspenForester opened #41325 "Outdated code in example"
Export-RunAsCertificateToHybridWorker should be updated to use the modern AZ cmdlets.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a21ca143-2f33-5cea-94a8-ace7e9de5f9c
* Version Independent ID: d7f2ef01-8c25-770e-dfd9-37b98dc7ba29
* Content: [Run runbooks on Azure Automation Hybrid Runbook Worker](https://docs.micros

[2019-10-23 16:58] diberry commented on #41043
@Tiagojaduarte can you provide some information about the environment: what computer operating system and what browser/version are you using? Do you still see this problem?

[2019-10-23 16:58] MicahMcKittrick-MSFT commented on #41227
@dabasejumper thanks for that.

@TomArcherMsft assigning to your as you have a few others open on this doc that looks like they all need to be addressed.

[2019-10-23 16:59] bandersmsft commented on #41321
@Benjiiim @yashesvi Yash, can you comment?
#in-process

[2019-10-23 17:04] jgwinner commented on #41063
It's still a documentation problem, this exact process:

is common enough there should be exact documentation / examples on how to do it.

[2019-10-23 17:08] axelgMS opened #41327 "What ports need to be opened towards WireServer?"
creating this to add the required ports for WireServer (168.63.129.16 prts 80 and 32526 for HostGAPlugin)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2763b53f-2a31-cccf-8aaf-f082ebaeaad3
* Version Independent ID: 2cb6ee38-1d54-412f-a91c-a0e60000f3c9
* Content: [What is IP address 168.63.129.16?](https://docs.microso

[2019-10-23 17:13] MicahMcKittrick-MSFT commented on #41258
@CharmanderJieniJieni I will close this out but if you have further questions let me know and we can reopen and continue the discussion.

[2019-10-23 17:13] #41258 closed

[2019-10-23 17:13] swhite24 commented on #41270
Hmmm that's not how I understand those docs.  If a routing rule has a matched path of `/app1` and custom forwarding path of `/`, an incoming request to `/app1/foo` should be rewritten as `/foo`. An incoming request of `/app1` should be rewritten as `/`, etc.

The issue I'm seeing, though, seems to be that AFD is applying the URL rewrite to itself and not directly to the backend.  For example, a ro