[2018-10-31 16:38] rezasherafat commented on #16960
@larsonmpdx, thanks for bringing this up. We were able to repro this issue and are working on the fix.

[2018-10-31 16:38] #17950 closed

[2018-10-31 16:39] jasonshave commented on #14560
Any chance we can update this article? Looks like this feedback was given several months ago and I've noticed even the screenshots are out of date from what the experience is like today.

[2018-10-31 16:40] jason-j-MSFT commented on #17972
@RowlandShaw
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-31 16:41] MarileeTurscak-MSFT commented on #17979
@liitimellison
Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-31 16:41] YutongTie-MSFT commented on #17965
@Ahmad-Al-Ali Sorry, it works for me well. Can you please check again, if it does not work for you please send me a screenshot. Thanks.

[2018-10-31 16:41] billmath commented on #12772
Thanks @aaronmedora.  Yes, I have been looking at this doc over the last week and it needs some clarification.  I have a couple of bug items to address this, this month.   At this point, we can go ahead and close this issue and I will reopen it once I have updated the doc and let you guys know.  Thanks!

[2018-10-31 16:41] billmath commented on #12772
#please-close

[2018-10-31 16:41] tchristiani commented on #17687
This issue has been referred to the answer in Stack Overflow. #please-close

[2018-10-31 16:41] jason-j-MSFT commented on #17977
@vishalaj1
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-31 16:43] Grace-MacJones-MSFT commented on #17974
Hi @vithal-wadje, thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-10-31 16:43] Alberto-Vega-MSFT commented on #17997
@badalk Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-31 16:44] jason-j-MSFT commented on #17980
@D3nnisd
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-31 16:44] Grace-MacJones-MSFT commented on #17988
Hi @thekwilson, thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-31 16:48] Karishma-Tiwari-MSFT commented on #17943
@hahazeMSFT I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-10-31 16:49] billmath commented on #11112
@LucianFrango thank you for the feedback.  Yes, you raise some very good points.  Unfortunately the PM who authored this solution has moved on so I am going to have to investigate this and depending on priorities, this may or may not get done right away.  At this point, I have a bug for this and will be tracking it.  We can close this issue and once I have some additional information I will reopen

[2018-10-31 16:49] billmath commented on #11112
#please-close

[2018-10-31 16:50] DiegoRamirez-MSFT commented on #17984
hello @hadr10 We are investigating this issue now. Thank you for reporting it

[2018-10-31 16:51] SnehaGunda commented on #17801
@keithcn thanks for the feedback, we are making some updates to the partitioning docs in the next couple of weeks and adding an illustration is in our plan. Here is a short description to clarify the partitioning details, we will have this information in the docs:

**Logical partition:** By using partitioning, the items in a container are divided into distinct subsets, called logical partitions, b

[2018-10-31 16:53] YutongTie-MSFT commented on #17783
@alundiak We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-31 16:53] #17783 closed

[2018-10-31 16:53] mcurko opened #17998 "Questions"
1. It's unclear to me how is front-end port 8080 mapped to port 80 on URL path mapped VMSS-s. I would have expected it to be mapped to the same port 8080 on the back-end.

2. While repetitive access to http://&lt;ip-address&gt; shows that both VMSS servers are responding, that's not the case for URL path mapped VMSS-s, only one server from each responds to http://&lt;ip-address&gt;:8080/video/test

[2018-10-31 16:56] Karishma-Tiwari-MSFT commented on #17917
@aengineer1  We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-31 16:56] #17917 closed

[2018-10-31 16:57] billmath commented on #12758
@brumbarlow Thank you for the feedback.  Because this is going to require some research, I have opened a bug to track this.  At this point, we can go ahead and close this issue and I will reopen it once I have some additional information to share.  Thank you!

[2018-10-31 16:57] billmath commented on #12758
#please-close

[2018-10-31 17:00] billmath commented on #12835
@PeterKlapwijk Sorry for the delay.  The PM told me that yes it is needed with Windows 10.  Thanks again for raising this issue.

[2018-10-31 17:00] billmath commented on #12835
@please-close

[2018-10-31 17:01] jlian commented on #17606
Fix on the way

[2018-10-31 17:01] Karishma-Tiwari-MSFT commented on #16602
@mmccrory Can you please share what the asterisk * sign mean, in [this](https://docs.microsoft.com/en-us/azure/cloud-services/cloud-services-role-enable-remote-desktop-new-portal#remote-into-role-instances) part of the doc, under **Notes** heading?

[2018-10-31 17:02] tchristiani commented on #7911
@YutongTie-MSFT please reassign this to @aahill

[2018-10-31 17:02] CHDAFNI-MSFT commented on #17459
@bonova I think we are stating the same thing but horribly using different terminology. I'm **not** stating to list Microsoft applications that **work** with MI. Rather I'm stating to list applications that officially support MI. If an app's PG supports MI then it would be supported from our Support team. So... Support and 'officially certified' mean the same thing to me. Apps I want to cover... h

[2018-10-31 17:03] billmath commented on #13030
@KjetilEVRY Just an update, I am still waiting to hear from the developer.  Hopefully I should know more shortly.  Thanks!

[2018-10-31 17:04] mike-urnun-msft commented on #17939
Hi @zalenix Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-10-31 17:08] #15970 closed

[2018-10-31 17:10] SnehaGunda commented on #17703
@kasangi I am connected through VPN but somehow not able to access the cloud-style guide. This doc was written a while ago. In general, I know Select is preferred over Click because of its device independent. Is that what the style guide points to?

[2018-10-31 17:10] sergaz-msft commented on #17106
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-31 17:10] #17106 closed

[2018-10-31 17:10] mike-urnun-msft commented on #17986
Hi @raych1 Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-10-31 17:13] tchristiani commented on #10812
Issue has been resolved. #please-close

[2018-10-31 17:13] mikebudzynski commented on #16282
cc: @mike-urnun-msft

[2018-10-31 17:14] pemj commented on #10231
Update from out-of-band discussion: the documentation change is in the backlog, ETA somewhere in the next month or two.

[2018-10-31 17:14] tchristiani commented on #17201
non-responsive #please-close

[2018-10-31 17:16] billmath commented on #13307
@Dominik-D I am glad you were able to resolve this.  I have opened a bug to track this and will re-open this issue once I have an update.  Thanks!

[2018-10-31 17:16] billmath commented on #13307
#please-close

[2018-10-31 17:20] Mike-Ubezzi-MSFT commented on #16500
@jschumann Thank you very much for the very detailed feedback. This issue is assigned to the content author and this issue is being targeted for an update. For further action, can you please reach out to askcosmosdb at microsoft dotcom with all this wonderful detail. Thank you!

[2018-10-31 17:23] #10347 closed

[2018-10-31 17:23] #12214 closed

[2018-10-31 17:23] SnehaGunda commented on #17638
@gharmer all the data movement options- the migration tool, Datafactory and Changefeed will consume RU/s. The spike in RU/s during data movement is expected to finish the data movement quickly. I am not sure if one of the options is preferred over the other

+@kanshiG for more detials, does one the backup option consume less RU's when compared to other?

[2018-10-31 17:24] #14120 closed

[2018-10-31 17:24] #15013 closed

[2018-10-31 17:24] #15082 closed

[2018-10-31 17:26] dapathy opened #17999 "send-request required attribute documentation issue"
The documentation states that the "response-variable-name" attribute is not required in the "send-request" policy.  However, APIM appears to be requiring this attribute.  Is this correct?  Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5310021d-de39-9418-2a55-ccdd9c2f4db0
* Version Independent ID: ad38bf02-d

[2018-10-31 17:28] #17901 closed

[2018-10-31 17:28] billmath commented on #13375
@bozford Thank you for the feedback.  Sorry for the delay on this.  Have you seen this new article:  https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-configure-ad-ds-connector-account
There was a recent updated to the ADSyncConfig powerShell module that allows you to set the permissions on the account and I believe details the information you are looking for.  Let me k

[2018-10-31 17:29] Mike-Ubezzi-MSFT commented on #17959
@johnstaveley Thank you very much for your interest in Azure products and services. Please be aware that SQL Server and Azure SQL Database have some T-SQL differences.

**Correct syntax is as follows:**
[CREATE DATABASE SCOPED CREDENTIAL (Transact-SQL)](https://docs.microsoft.com/en-us/sql/t-sql/statements/create-database-scoped-credential-transact-sql?view=sql-server-2017)

Please let us know if

[2018-10-31 17:32] billmath commented on #13824
@MikeBazMSFT Thank you for the feedback.  I have gone ahead and created a bug to get this documentation updated.  At this time, we can go ahead and close this issue and I will reopen it once I have an updated.  Thanks!

[2018-10-31 17:32] billmath commented on #13824
#please-close

[2018-10-31 17:33] tamram commented on #17502
@yuemlu - FYI

[2018-10-31 17:34] Mike-Ubezzi-MSFT commented on #17953
@tim-yan Thank you very much for your interest in Azure products and services. Geo-Replication and Geo-Distributed are one and the same. Please let us know if you have any additional questions. ~Mike

[2018-10-31 17:34] kgremban commented on #17693
@smoms By programmatically, do you mean that you want to set up a CI/CD pipeline? We have one article about that currently: https://docs.microsoft.com/en-us/azure/iot-edge/how-to-ci-cd. If that's not what you're looking for, can you describe your scenario more specifically?

[2018-10-31 17:34] tchristiani commented on #11186
@MicahMcKittrick-MSFT please reassign this issue to @aahill

[2018-10-31 17:34] MicrosoftGuyJFlo commented on #9793
We no longer recommend that people use that method. We have a UI that contains all of the valid fields.

[2018-10-31 17:34] MicrosoftGuyJFlo commented on #9793
#please-close

[2018-10-31 17:34] kgremban commented on #17964
Thanks @buzzfrog. I'll get these fixed by the end of the day.

[2018-10-31 17:36] Jann-Skotdal commented on #7935
@pietersap - The protocol will insert content-length in most programming languages but if it is not content-length will need to be added. It is therefore marked as required

[2018-10-31 17:36] billmath commented on #14020
@cuixi1222 There has been some back and forth on this.  But currently it is supported with the caveats expressed here:  https://docs.microsoft.com/en-us/azure/active-directory/hybrid/plan-hybrid-identity-design-considerations-tools-comparison

We will update the documentation in the future should this change.  Thank you!

[2018-10-31 17:36] billmath commented on #14020
#please-close

[2018-10-31 17:37] tchristiani commented on #9541
@jge002 please reassign this issue to @PatrickFarley

[2018-10-31 17:38] YutongTie-MSFT commented on #10228
@ericleigh007
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-31 17:38] #10228 closed

[2018-10-31 17:38] billmath commented on #14299
@theboymango Thank you for the feedback.  I have created a bug to track this.  I cannot says specifically when these will be updated so at this point we can go ahead and close this issue and I will reopen it once they have been fixed.  Thank you!

[2018-10-31 17:38] billmath commented on #14299
#please-close

[2018-10-31 17:38] yevster opened #18000 "E: Unable to locate package aspnetcore-runtime-2.1"
Ran into the following issue when attempting to run `az aks use-dev-spaces ...` on a well-worn XUbuntu 18.04 machine:

[code]
[This post](https://github.com/dotnet/core/issues/1889#issuecomment-415950868) remedied the problem. Consider adding it to this section.

Note: The issue does not occur with new Ubuntu or XUbuntu 18.04 machines. I could not reproduce it on any other VM.

---
#### Document D

[2018-10-31 17:40] tchristiani commented on #8988
@jsypkens please reassign this issue to @erhopf

[2018-10-31 17:40] DiegoRamirez-MSFT commented on #17952
hello @tFable We are investigating this issue now. Thank you for reporting it

[2018-10-31 17:42] billmath commented on #14839
@dmacpherson2 Thank you for the feedback.  Yes this has been a backlog of mine for quite some time.  I have never liked that the author didn't use the recommended symbols.  At this point I have moved my bug into the November iteration, so you should see an update within the month.  We can go ahead and close this issue for now and I will reopen this once the new images are online.  Thank you!

[2018-10-31 17:42] billmath commented on #14839
#please-close

[2018-10-31 17:42] tchristiani commented on #9681
@YutongTie-MSFT please reassign this issue to @PatrickFarley

[2018-10-31 17:43] tchristiani commented on #12841
@YutongTie-MSFT please reassign this to @PatrickFarley

[2018-10-31 17:45] tchristiani commented on #13163
@YutongTie-MSFT please reassign this issue to @PatrickFarley

[2018-10-31 17:46] tchristiani commented on #12213
@YutongTie-MSFT please reassign to @erhopf

[2018-10-31 17:47] kobulloc-MSFT commented on #17975
@ripom  Thank you for building a solution with Azure!  The best place for specific answers about implementations are going to be the forums:

https://social.msdn.microsoft.com/Forums/en-US/home?forum=ApplicationInsights&filter=alltypes&sort=lastpostdesc

We actively look through posts in the forums, and will do our best to get you going in the right direction.  If you have any document specific qu

[2018-10-31 17:47] #17975 closed

[2018-10-31 17:48] tchristiani commented on #13522
@YutongTie-MSFT please reassign this issue to @PatrickFarley

[2018-10-31 17:48] Jann-Skotdal commented on #7945
@Paul-Dempsey - The type of translation system, SMT versus NMT, does not affect the availability of the features you mention. There are differences in support for customization, mentioned at https://docs.microsoft.com/en-us/azure/cognitive-services/translator/customization

[2018-10-31 17:49] tchristiani commented on #13049
@YutongTie-MSFT please reassign to @PatrickFarley

[2018-10-31 17:50] ganrad opened #18002 "Unable to mount secrets in multiple directories within the ACI container"
I used 'Azure CLI' to create the container.  When I try to mount secrets in two different directories within the container, no secrets are mounted in the container & it fails to start!  For instance, here is the CLI command which I used -
az container create --resource-group xxx --name po-service-aci \
   --image xyz.azurecr.io/po-service:latest \
   --cpu 1 --memory 1 \
   --registry-login-server

[2018-10-31 17:51] tchristiani commented on #10441
@YutongTie-MSFT please reassign to @PatrickFarley

[2018-10-31 17:52] ggailey777 commented on #16656
@PramodValavala-MSFT and @atomek1000 the V2 updates have been checked-in and should be live this afternoon. Thanks for your patience.

[2018-10-31 17:52] tchristiani commented on #15060
@YutongTie-MSFT please reassign to @PatrickFarley

[2018-10-31 17:53] tchristiani commented on #15016
@YutongTie-MSFT please reassign to @PatrickFarley

[2018-10-31 17:53] MicahMcKittrick-MSFT commented on #17920
@isobit thanks for the extra details :)

So Azure Files can be accessed via SMB, NFS and FTPS. So depending on your OS you might be accessing it differently. Regardless, the outcome is the same.

So if you are using a Linux based OS then you would likely be connecting via NFS.

There is really nothing special about using ACI with file shares. It basically allows you to persist data in ACI as the d

[2018-10-31 17:55] MicahMcKittrick-MSFT commented on #17958
@garethmorris78 I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-10-31 17:58] yehoshuadimarsky opened #18003 "Use Service Principals to authenticate data source in Excel .odc file"
Can I use a service principal ID to authenticate in Excel within an .odc file, by just replacing the user and password as per above with app:AppID and password? Would customize the connection string within the file per this article https://docs.microsoft.com/en-us/azure/analysis-services/analysis-services-odc.
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2018-10-31 17:58] mariotacke commented on #11734
I just created my own ACS swarm and am running into the same message. I'm using Docker CE as per this doc: https://docs.microsoft.com/en-us/azure/container-service/dcos-swarm/container-service-swarm-mode-walkthrough

I can SSH into the masters but not send through the tunnel; this is very frustrating. 🙁

@iainfoulds , can you elaborate on why and how the market place offering is different? As a co

[2018-10-31 17:59] MicahMcKittrick-MSFT commented on #17984
@hadr10 thanks for bringing this up.

You can file an issue directly to the autoscaler team to have it investigated

https://github.com/kubernetes/autoscaler/issues

[2018-10-31 17:59] #17984 closed

[2018-10-31 18:02] rondelzer commented on #13560
This issue is about a potentially confusing quirk in the C# sample, it has nothing to do with the encoding of the json body of the post. Your json body MUST be UTF-8 encoded when you post it to the API.

[2018-10-31 18:03] kobulloc-MSFT commented on #17982
@EnCey Thank you for the comment!

[2018-10-31 18:03] rolyon commented on #16389
Hi @ediazrod and @JulienFloris
I'm going to request to close this issue. Please re-open if have additional comments.
thanks

[2018-10-31 18:04] rolyon commented on #16389
@MicrosoftDocs/azure-cxp-triage
#please-close

[2018-10-31 18:06] #6000 closed

[2018-10-31 18:07] tchristiani commented on #8134
Custom Speech service has been deprecated and customers should migrate to the new Speech Service. Article for migration is located here: https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-migrate-from-custom-speech-service
#please-close

[2018-10-31 18:07] spelluru commented on #12072
@ElasticCoder - Sorry for the inconvenience.

We have updated the article with the latest code:
https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-java-how-to-use-topics-subscriptions

Also, we have the sample on GitHub at: https://github.com/Azure/azure-service-bus/tree/master/samples/Java/azure-servicebus . Check the TopicsGettingStarted sample.

[2018-10-31 18:09] #17606 closed

[2018-10-31 18:09] spelluru commented on #17702
@marstr - Thank you. I have updated the article.

[2018-10-31 18:10] spelluru commented on #17702
#please-close

[2018-10-31 18:10] tchristiani commented on #9139
@YutongTie-MSFT please reassign to @erhopf

[2018-10-31 18:12] TravisCragg-MSFT commented on #17998
@mcurko

1) the traffic is routed [Here](https://docs.microsoft.com/en-us/azure/application-gateway/tutorial-url-route-cli#add-a-backend-listener) using a backend listener.

2) Try accessing the path mapped URLs with a different IP, such as a phone or from a computer in a differnent network.

[2018-10-31 18:13] douglaslMS commented on #17481
@dcbrown16 I have learned that the load balancing is not supported at this time in ADF v2.

I see now that the existing article is light on how you pass values at run time to the parameters that you've created. Even in the video, Gaurav only mentions this briefly. I am following up.

[2018-10-31 18:14] tchristiani commented on #9723
@YutongTie-MSFT please reassign to @erhopf
Custom Speech Service is being retired. @benjguin, you may want to migrate your project to the new Speech Service: https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-migrate-from-custom-speech-service

[2018-10-31 18:15] spelluru commented on #17743
@Anand-Moghe - Thank you. We have it on the Pricing page.
https://azure.microsoft.com/en-us/pricing/details/service-bus/

I will add a note in the article. Thanks.

[2018-10-31 18:15] tchristiani commented on #10344
@YutongTie-MSFT please reassign to @erhopf
@pallaviMN The Bing Speech Service is being deprecated. You may want to migrate your project to the new Speech Service: https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-migrate-from-bing-speech

[2018-10-31 18:16] Grace-MacJones-MSFT commented on #16325
Hi @0GiS0  did the workaround we provided work for you?

[2018-10-31 18:17] tchristiani commented on #13431
@YutongTie-MSFT please reassign this to @erhopf

[2018-10-31 18:17] tchristiani commented on #14897
@YutongTie-MSFT please reassign this to @erhopf

[2018-10-31 18:19] TravisCragg-MSFT commented on #17971
@NisreenJ Your App Gateway does not have a proper subnet reference. This could be because it was not properly specified, or because your VNET did not create successfully.

Before you run the "New-AzureRmApplicationGateway" command, please make sure that the VNET & Subnets you created in the [Create Network Resources](https://docs.microsoft.com/en-gb/azure/application-gateway/tutorial-url-redirect-

[2018-10-31 18:19] tchristiani commented on #15346
@YutongTie-MSFT please reassign this to @erhopf
@prwani-microsoft Custom Speech Service is retiring and you might want to consider migrating your project to the new Speech Service: https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-migrate-from-custom-speech-service

[2018-10-31 18:20] DeanGross opened #18004 "What about SharePoint 2016"
Please update this guidance to address SP 2016 (as well as 2019) that use the various MinRole configurations https://docs.microsoft.com/en-us/sharepoint/install/overview-of-minrole-server-roles-in-sharepoint-server

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8bd27104-dcd7-6c3f-5f45-1e73cd26ddec
* Version Independent

[2018-10-31 18:22] Karishma-Tiwari-MSFT commented on #16389
@ediazrod @JulienFloris We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-31 18:22] #16389 closed

[2018-10-31 18:22] yuemlu commented on #17502
@ironicLemon Can you provide the output of “klist” via cmd line to help us investigate?

[2018-10-31 18:23] #8134 closed

[2018-10-31 18:29] maertendMSFT commented on #17820
@rs38, I am not able to repro Cloud Shell not working in Edge.  Can you send me some repro steps please?

[2018-10-31 18:32] Alberto-Vega-MSFT commented on #17991
@ced1967 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-31 18:33] MicahMcKittrick-MSFT commented on #17989
@inkey can you share the error you are seeing? I am not seeing any errors with the thumbprint. It does ask you for the certificate information you want to use in order to connect to your cluster. But I am not seeing any actual errors.

[2018-10-31 18:33] erhopf commented on #9723
#please-close

* While this is a bug, this is for a deprecated service that is being shut down in January. No action will be taken.

[2018-10-31 18:36] tchristiani commented on #7662
@vasivara-MSFT please reassign to @DarrinEide

[2018-10-31 18:36] erhopf commented on #9139
#please-close

* Custom Speech Service is being retired in January. Please see https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-migrate-from-custom-speech-service for migration instructions.

[2018-10-31 18:36] tchristiani commented on #16794
@YutongTie-MSFT please reassign to @DarrinEide

[2018-10-31 18:37] tchristiani commented on #17584
@YutongTie-MSFT please reassign to @DarrinEide

[2018-10-31 18:39] erhopf commented on #10344
#please-close

* Since Bing Speech Service is being deprecated, and functionality is available via the unified Speech Service APIs, this document will not be updated. Please see: https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-migrate-from-bing-speech.

[2018-10-31 18:40] iainfoulds commented on #11734
@mariotacke The primary engineering and support focus is on developing upstream acs-engine and Azure Kubernetes Service. Docker are best served to incorporate their own orchestration components as they have new releases, all built on acs-engine. As such, the Docker or Mesosphere offerings in the Azure Marketplace should provide the latest Docker or DC/OS components and support, and are what's reco

[2018-10-31 18:42] Karishma-Tiwari-MSFT commented on #17987
@bdcoder2
1. To see a complete list of different VM extensions that are available for use with Azure VMs, use Get-AzureRmVMExtensionImage. The following example lists all available extensions in the WestUS location:

[code]

For adding information on other questions, I have assigned the issue to the author to the content author to investigate further and update the document as appropriate.

[2018-10-31 18:42] christiankuhtz commented on #16948
@yinghli can you please help with my question above?

[2018-10-31 18:42] erhopf commented on #14897
@epaulson - Thanks for identifying the issue. We are currently working on a patch. In the meantime, here's a workaround:

- If you edit the link and remove the string “-beta2” it will load the v2.0 version of the API. So, enter this in the text box:
[code]

[2018-10-31 18:43] SnehaGunda commented on #17398
@Sihomiri thanks for the feedback, and sorry for the delayed response. The unique key format is different based on the API you have used. If you have a Cosmos DB SQL API account, the forwardslash is required as shown in the

[2018-10-31 18:44] erhopf commented on #15346
#please-close

[2018-10-31 18:45] jeffmalin commented on #16754
Hi - We are still facing the chicken/egg scenario when trying to download metadata.  My admin says:

"I could not find a way for Azure AD to figure out what the Entity ID should be unless I put it manually or upload a metadata file.  "

Do we have to start by manually getting the Entity ID and Reply URL from our Salesforce instance?  And if so, how do I get that without creating an SSO config manu

[2018-10-31 18:48] tchristiani commented on #15387
@YutongTie-MSFT please reassign to @erhopf

[2018-10-31 18:49] #17201 closed

[2018-10-31 18:50] tchristiani commented on #15100
@YutongTie-MSFT please reassign to @erhopf

[2018-10-31 18:50] tchristiani commented on #15101
@YutongTie-MSFT please reassign to @erhopf

[2018-10-31 18:51] tchristiani commented on #17188
@YutongTie-MSFT please reassign to @erhopf

[2018-10-31 18:55] TravisCragg-MSFT commented on #17957
@mcurko if you would like to redirect http to https in an app gateway, you can [find out how Here](https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-redirect-overview). This is shown in the screenshot example.
I am assigning this to the author to see if any updates need to be made to make that more clear.

[2018-10-31 18:57] SnehaGunda commented on #17485
@christopheranderson thanks for pointing, I submitted a PR to fix this issue as well as a few others. We will close this issue now.

[2018-10-31 18:58] SnehaGunda commented on #17485
#please-close

[2018-10-31 18:59] SnehaGunda commented on #17703
@kasangi I submitted a PR to fix the terminology and few other issues.

[2018-10-31 18:59] skipsteiger commented on #17741
I have this same error today too.

PS C:\bewhere> node BeWhere.js
C:\bewhere\node_modules\azure-iot-mqtt-base\lib\mqtt_base.js:154
            throw new ReferenceError('Invalid transport configuration');
            ^

ReferenceError: Invalid transport configuration
    at MqttBase.connect (C:\bewhere\node_modules\azure-iot-mqtt-base\lib\mqtt_base.js:154:19)
    at C:\bewhere\node_modules\azure-io

[2018-10-31 19:01] RavennMSFT commented on #16850
Frank - creating an Azure AD joined machine through auto pilot and then registering with AD is an unsupported scenario in Windows 10. We will definitely update our docs if there's any progress made

[2018-10-31 19:01] alinamstanciu commented on #17688
Hi @YutongTie-MSFT,

Digital Twins (DT) has two API channels: Device API (for sending device-to-cloud telemetry) and service APIs or management APIs (for twins’ configuration in the DT graph). Not sure what kind of data you are referring to, whether telemetry or configuration of the twins in the graph. If you are referring to telemetry, then DT accepts data directly from edge devices (same way IoT

[2018-10-31 19:04] vladvino commented on #17999
Good catch, thank you @dapathy. "response-variable-name" attribute is required. I'll update the article.

[2018-10-31 19:04] mganeshphani opened #18006 "App Registration"
https://dev.windows.com/en-us/overview no longer goes to registration portal

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74a82385-7025-d364-0113-f9e952e61bda
* Version Independent ID: e2932c86-a8b2-753e-9715-54444e9bce79
* Content: [Add push notifications to your Universal Windows Platform (UWP) app](https://docs.mi

[2018-10-31 19:05] erhopf commented on #17592
@skukan159 - For continuous recognition you'll want to use `startContinuousRecognitionAsync`: https://docs.microsoft.com/en-us/javascript/api/microsoft-cognitiveservices-speech-sdk/SpeechRecognizer?view=azure-node-latest#startcontinuousrecognitionasync.

Currently the JS SDK has a 10 minute limit.

[2018-10-31 19:05] SnehaGunda commented on #17337
@ggirard07 the Table API .Net Standard SDK was release last week, it's currenlty in preview so there isn't a retirement date yet.  --- here meant no retirement data or the SDK is still active.

[2018-10-31 19:06] tchristiani commented on #8756
#please-close

[2018-10-31 19:08] tchristiani commented on #8918
#please-close

[2018-10-31 19:08] smoms commented on #17693
@kgremban i mean how to programmatically check in/push the deployment manifest. thanks

[2018-10-31 19:09] TravisCragg-MSFT commented on #17952
@tFable I believe that 1709+ supports IKEv2 out of the box, I am double checking on that now.

The registry key only comes in to play when using IKEv2, so it will only have an effect on existing IKEv2 connections, which none should exist at that time.

[2018-10-31 19:10] TravisCragg-MSFT commented on #17961
@AstroSign-Dev We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-31 19:10] #17961 closed

[2018-10-31 19:11] TravisCragg-MSFT commented on #17973
@jtuliani Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-10-31 19:13] erhopf commented on #15100
#please-close

@priyamenokey thanks for creating this issue. We've added this feature request to our backlog.

[2018-10-31 19:16] erhopf commented on #15101
#please-close

This is a duplicate request https://github.com/MicrosoftDocs/azure-docs/issues/15100#issuecomment-434804848

[2018-10-31 19:20] tchristiani commented on #13843
This service has been deprecated. Please see the new Speech Service (https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/).
#please-close

[2018-10-31 19:21] jpalo commented on #17688
Was referring to telemetry data. So there is no way to get telemetry data into DT from 3rd party devices that only send data to Event Hub (=not to IoT Hub)? I may be misunderstanding what you mean by "edge devices", though.

[2018-10-31 19:24] grayjeremy opened #18008 "PHS as a backup"
The Azure Active Directory Connect Documentation links to this page when describing using PHS as a backup to federation in the case of a federation failure.
https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-install-custom#optional-features

There is no documentation that I can find on any specifics around the failover from federation to PHS in the case of a federation o

[2018-10-31 19:33] SnehaGunda commented on #17553
@jderus Thanks for pointing out the issue, It's a bug, feedPollDelay is the configuration property and not feedPollTiime. I submitted the above PR to fix it.

[2018-10-31 19:34] SnehaGunda commented on #17553
#please-close

[2018-10-31 19:38] hexalm opened #18009 "GetTaskCountsAsync changed to GetJobTaskCountsAsync"
GetTaskCountsAsync appears to have been renamed to GetJobTaskCountsAsync in or before the 9.0.0 version of the API nuget package.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ecbeb59-2154-5558-32ec-574f5c8dc6e3
* Version Independent ID: a19455ef-0ecf-b2ea-9b60-13b69f68db65
* Content: [Count states for tasks and node

[2018-10-31 19:43] Jann-Skotdal commented on #10912
@tofula - Yes, the individual limits no longer apply. It is just the limit of the entire array https://docs.microsoft.com/en-us/azure/cognitive-services/Translator/reference/v3-0-translate?tabs=curl#request-body

[2018-10-31 19:44] Adam-Smith-MSFT commented on #18004
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-31 19:49] MarileeTurscak-MSFT commented on #17995
@dsolodow thanks for the feedback! I have assigned this issue to the content author, @billmath , to address your comments.

[2018-10-31 19:50] Karishma-Tiwari-MSFT commented on #17992
@omarnun To answer your question,

For the above scenario, the following steps will apply as described in the doc:
-Once configured, the latest OS image published by image publishers is automatically applied to the scale set without user intervention.
-It upgrades batches of instances in a rolling manner each time a new platform image is published by the publisher.
Since the new version image is a

[2018-10-31 19:51] rpdeguzman opened #18010 "Using an existing vnet - creating networkprofile"
When creating the first container (using Azure CLI) and trying to use existing vnet/subnet located (in another resource group), a new vnet/subnet gets created in the resource group of the container group.  It does not use the vnet/subnet I want it to use.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81e00caf-dd95-441

[2018-10-31 19:57] rezasherafat commented on #16960
One update: we are aiming to have this fix rolled out in December towards the end of the year.

[2018-10-31 19:59] Karishma-Tiwari-MSFT commented on #17424
@panoschatz Thanks for the reply.
@axayjo @iainfoulds Can either of you please take a look at the customer's issue and share your insights on why this could be happening. Thanks :)

[2018-10-31 20:01] kgremban commented on #13596
@creationsoft I just retested the VM creation steps, and still couldn't reproduce the issue that you describe. Have you been able to test it again to reproduce the issue? Or can we consider this issue resolved?

[2018-10-31 20:02] vhorne commented on #17957
@mcurko

Added clarifying statement just above screenshot.

[2018-10-31 20:02] vhorne commented on #17957
#please-close

[2018-10-31 20:03] billmath commented on #17995
@dsolodow Thank you for the feedback.  The relnotes were published this morning and are live now.

[2018-10-31 20:03] billmath commented on #17995
#please-close

[2018-10-31 20:06] tchristiani commented on #10162
@YutongTie-MSFT please reassign to @aahill

[2018-10-31 20:07] Karishma-Tiwari-MSFT commented on #17424
@panoschatz Can you please try the PowerShell or REST way and share the result response to get more info/error details as described in detail [here](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-deployment-operations#rest).

PowerShell:
`(Get-AzureRmResourceGroupDeploymentOperation -DeploymentName Microsoft.Template -ResourceGroupName ExampleGroup).Properties | Whe

[2018-10-31 20:07] MarileeTurscak-MSFT commented on #17976
Yes, I believe this is the case. @rolyon can you please confirm?

[2018-10-31 20:07] MarkusVi commented on #16850
#please-close

[2018-10-31 20:07] tchristiani commented on #9909
#please-close

[2018-10-31 20:08] vhorne commented on #16574
#please-close

[2018-10-31 20:16] iainfoulds commented on #17424
@Karishma-Tiwari-MSFT I'm not sure, sorry - I think this is more appropriate for @cynthn

[2018-10-31 20:17] vhorne commented on #17578
#please-close

[2018-10-31 20:19] kgremban commented on #17944
Thanks @darobs, I'll make this update today.

[2018-10-31 20:20] rajsqr commented on #17992
The new scale-out operation will deploy an instance with the latest available image.

[2018-10-31 20:23] TravisCragg-MSFT commented on #17957
@mcurko We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-31 20:23] #17957 closed

[2018-10-31 20:23] TravisCragg-MSFT commented on #16574
@AresiusXP We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-31 20:23] #16574 closed

[2018-10-31 20:23] TravisCragg-MSFT commented on #17578
@jjindrich We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-31 20:23] #17578 closed

[2018-10-31 20:24] VishChandra commented on #11383
Having same problem, any updates?

[2018-10-31 20:28] #8756 closed

[2018-10-31 20:28] #8814 closed

[2018-10-31 20:28] #8918 closed

[2018-10-31 20:29] #9139 closed

[2018-10-31 20:29] #9283 closed

[2018-10-31 20:29] #9723 closed

[2018-10-31 20:29] #9793 closed

[2018-10-31 20:29] #9877 closed

[2018-10-31 20:30] #10344 closed

[2018-10-31 20:32] #10600 closed

[2018-10-31 20:32] #10812 closed

[2018-10-31 20:32] #11112 closed

[2018-10-31 20:32] #12290 closed

[2018-10-31 20:32] #12758 closed

[2018-10-31 20:32] #12772 closed

[2018-10-31 20:33] #13307 closed

[2018-10-31 20:33] #13824 closed

[2018-10-31 20:33] #13843 closed

[2018-10-31 20:33] MarileeTurscak-MSFT commented on #18008
@grayjeremy
Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-31 20:33] #14020 closed

[2018-10-31 20:33] #14299 closed

[2018-10-31 20:33] #14839 closed

[2018-10-31 20:34] #15100 closed

[2018-10-31 20:34] #15101 closed

[2018-10-31 20:34] #15346 closed

[2018-10-31 20:34] #17485 closed

[2018-10-31 20:35] #17553 closed

[2018-10-31 20:35] #17687 closed

[2018-10-31 20:35] #17702 closed

[2018-10-31 20:35] #17877 closed

[2018-10-31 20:36] #17889 closed

[2018-10-31 20:36] bdcoder2 commented on #17987
@Karishma-Tiwari-MSFT -- Thanks for the command to get the list of VM extensions.  Is there a way to get the other pieces of the puzzle?  For example:

- The value supplied to -ExtensionName, "IIS" -- where was that pulled from?
- The value supplied to -Publisher, "Microsoft.Compute" - again, how does one know to use this value?
- The value supplied to  -TypeHandlerVersion, "1.4" - again, what IS

[2018-10-31 20:38] tchristiani commented on #7945
#please-close

[2018-10-31 20:39] tchristiani commented on #7955
#please-close

[2018-10-31 20:39] tchristiani commented on #7936
#please-close

[2018-10-31 20:39] bigpom commented on #16618
@BryanTrach-MSFT Bryan Are you saying there isn't a way today?

[2018-10-31 20:40] tchristiani commented on #8065
#please-close

[2018-10-31 20:40] tchristiani commented on #8489
#please-close

[2018-10-31 20:40] tchristiani commented on #8491
#please-close

[2018-10-31 20:41] tchristiani commented on #10912
#please-close

[2018-10-31 20:41] tchristiani commented on #15357
#please-close

[2018-10-31 20:42] axayjo commented on #17424
@cynthn Looking into this.

[2018-10-31 20:43] cpatte7372 commented on #17877
Sorry my login wouldn't work, and was unable to close

[2018-10-31 20:46] tchristiani commented on #10438
@YutongTie-MSFT please reassign to @erhopf

[2018-10-31 20:47] tchristiani commented on #11025
#please-close

[2018-10-31 20:49] tchristiani commented on #15654
Here is the doc for migrating your Translator Speech project to Speech Service: https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-migrate-from-translator-speech-api

[2018-10-31 20:49] Karishma-Tiwari-MSFT commented on #9835
@iainfoulds I got to know that Mahesh is not at Microsoft anymore and Sandeep Deo is taking over.
@deosandeep Can you please help us confirm if this is the expected behavior. Thanks :)

[2018-10-31 20:52] tchristiani commented on #11024
#please-close

[2018-10-31 20:53] tchristiani commented on #15113
#please-close

[2018-10-31 20:55] billmath commented on #18008
@grayjeremy Thank you for the feedback.  Yes you are correct.  I have a work item for this and I expect that we will have some documentation around it shortly (this coming month).  I am hoping to build on the federation tutorial (https://docs.microsoft.com/en-us/azure/active-directory/hybrid/tutorial-federation ).  At this point we can go ahead and close this and I will reopen it and let you know

[2018-10-31 20:55] billmath commented on #18008
#please-close

[2018-10-31 20:57] A140475 opened #18012 "Getting 400 errors"
When I run the query you have supplied I get no data but also get no errors.
When I run my query, which I have tested and returns 7 rows, I get the following error:

requests
| where operation_Name == "SomethingSecret"
| where timestamp &gt; ago(5m)

{
  "error": {
    "code": 400,
    "source": "logic-apis-australiaeast.azure-apim.net",
    "clientRequestId": "XXXXXXXXX-a644-4325-a659-XXXXXXXX",

[2018-10-31 20:58] tchristiani commented on #16100
@YutongTie-MSFT please reassign to @erhopf

[2018-10-31 20:59] tchristiani commented on #17540
#please-close

[2018-10-31 21:03] tchristiani commented on #7746
#please-close

[2018-10-31 21:03] tchristiani commented on #10117
#please-close

[2018-10-31 21:06] MarileeTurscak-MSFT commented on #18008
Thanks, @billmath

[2018-10-31 21:06] #18008 closed

[2018-10-31 21:06] MarkusVi commented on #16497
Hi @Nilis312, it is not supported.

#please-close

[2018-10-31 21:06] Karishma-Tiwari-MSFT commented on #17992
Thanks @rajsqr for the confirmation.
@omarnun We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-31 21:06] #17992 closed

[2018-10-31 21:10] Mike-Ubezzi-MSFT commented on #17985
@DMKmod Thank you very much for your interest in Azure products and services. May I ask which service tier your deployment is based upon?
The higher end service tier (Business Critical) uses local SSD where as the lower end service tier (General Purpose) uses Azure Storage, which is accessible via Storage Explorer and the Azure Portal. With the higher end service tier using SSD, you will need to u

[2018-10-31 21:10] MarileeTurscak-MSFT commented on #17847
@kundan123456 can you please reference the document to which you are referring or create this issue under that document?

[2018-10-31 21:11] kobulloc-MSFT commented on #18000
@yevster Thank you for the suggestion!  I'll forward this to the document author so they can review this and update the document accordingly.

[2018-10-31 21:13] MarileeTurscak-MSFT commented on #17853
@CKeene78 can you please reference the document you are referring to or create this issue under that document?

[2018-10-31 21:13] tchristiani commented on #7523
@femsulu please reassign to @PatrickFarley

[2018-10-31 21:14] MarileeTurscak-MSFT commented on #17868
@CKeene78 can you please reference the document you are referring to or create this issue under that document?

[2018-10-31 21:14] tchristiani commented on #8210
@YutongTie-MSFT please reassign to @PatrickFarley

[2018-10-31 21:15] vishalaj1 commented on #17977
Hi,

If this helps identify problem.

We have AD on Azure, we are able to connect using management studio.

When we use Microsoft Analysis Service connection type from data source for ssrs we cannot connect!

When we connect using oledb connection we can connect thru ssrs datasource but it is not accepting dax query parameters! We cannot develop using oledb connection!

Regards,
Vishal

[2018-10-31 21:15] MarileeTurscak-MSFT commented on #17872
@cloudmelon can you please reference the document you are referring to or create this issue under that document?

[2018-10-31 21:15] tchristiani commented on #8145
@YutongTie-MSFT please reassign to @PatrickFarley

[2018-10-31 21:17] tchristiani commented on #8480
Bing Speech has been deprecated there will be no further action on this doc set. Please refer to the new Speech Service: https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-migrate-from-bing-speech
#please-close

[2018-10-31 21:17] #17347 closed

[2018-10-31 21:18] tchristiani commented on #11732
@YutongTie-MSFT please reassign to @erhopf

[2018-10-31 21:19] mike-urnun-msft commented on #17347
Hey @CeciAc @cgillum PR's been created and submitted for merge. This issue will now auto-close and changes will reflect in few hours. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-31 21:19] tchristiani commented on #12513
@YutongTie-MSFT please reassign to @PatrickFarley

[2018-10-31 21:29] tchristiani commented on #15161
Linguistic Analysis was deprecated in May of 2018. There will be no action. #please-close

[2018-10-31 21:30] Juliako commented on #17554
#please-close

[2018-10-31 21:31] tchristiani commented on #13160
#please-close

[2018-10-31 21:31] ghogen commented on #18000
@kobulloc-MSFT Please assign to @iainfoulds the current owner, thanks.

[2018-10-31 21:32] ghogen commented on #17828
@kobulloc-MSFT Please assign to @iainfoulds.

[2018-10-31 21:32] tchristiani commented on #16475
@YutongTie-MSFT please reassign this to @PatrickFarley for tracking purposes.

[2018-10-31 21:33] femsulu commented on #17996
@aengineer1 The 'Microsoft.Resources' provider provides the "Resource Group" resource. You can find all relevant details [here](https://docs.microsoft.com/en-us/azure/role-based-access-control/resource-provider-operations#microsoftresources).

![image](https://user-images.githubusercontent.com/34327711/47820129-d313a100-dd19-11e8-9e20-21f2ae73b1a1.png)

[2018-10-31 21:33] femsulu commented on #17996
Closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2018-10-31 21:33] #17996 closed

[2018-10-31 21:37] #15113 closed

[2018-10-31 21:38] YutongTie-MSFT commented on #8480
@Powerhelmsman
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-31 21:38] #8480 closed

[2018-10-31 21:39] YutongTie-MSFT commented on #8491
@jongross4
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-31 21:39] #8491 closed

[2018-10-31 21:39] YutongTie-MSFT commented on #8489
@jongross4
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-31 21:39] #8489 closed

[2018-10-31 21:39] YutongTie-MSFT commented on #8065
@Paul-Dempsey
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-31 21:39] #8065 closed

[2018-10-31 21:39] YutongTie-MSFT commented on #7955
@Paul-Dempsey
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-31 21:39] #7955 closed

[2018-10-31 21:40] YutongTie-MSFT commented on #7945
@Paul-Dempsey
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-31 21:40] #7945 closed

[2018-10-31 21:43] YutongTie-MSFT commented on #15187
@dem108
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-10-31 21:43] #15187 closed

[2018-10-31 21:43] YutongTie-MSFT commented on #15161
@goluhaque
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-31 21:43] #15161 closed

[2018-10-31 21:45] mcasperson opened #18014 "Provide some instruction on how to update the azure.json file"
The relationship between the fields in the azure.json file and the service principal fields are not immediately clear. For example `aadClientId` = `appId` and `aadClientSecret` = `password`.

https://github.com/kubernetes-incubator/external-dns/blob/master/docs/tutorials/azure.md#optional-create-service-principal has some more details. But without a lot of Googling it is hard to follow the instruc

[2018-10-31 21:49] douglaslMS commented on #17481
@dcbrown16 @HarsimranjeetSingh I see that we don't tell a complete and easy-to-follow story about the use of parameters in Data Factory v2. I am going to create a backlog item to add content for this, but as I'm not sure when I'll get to that, I am going to request that this issue be closed.

The typical use of parameters at the present time is with triggers - that is, a trigger supplies values, t

[2018-10-31 21:55] #17944 closed

[2018-10-31 21:55] #17964 closed

[2018-10-31 22:05] erhopf commented on #9705
@WSturman - Is something that you can help out with?

[2018-10-31 22:08] erhopf commented on #10825
#please-close

* The sample has been updated.
* The supported regions are now listed on the [regions page](https://docs.microsoft.com/azure/cognitive-services/speech-service/regions).

[2018-10-31 22:13] YutongTie-MSFT commented on #14296
@SamWibatt
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-31 22:13] #14296 closed

[2018-10-31 22:13] YutongTie-MSFT commented on #17540
@LisandroSu
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-31 22:13] #17540 closed

[2018-10-31 22:13] axisc commented on #17939
@zalenix  - yes, with AZ enabled - you don't need a failover mechanism.

however, please note that AZ provides fault isolation within the same region.

@mike-urnun-msft - please close this issue, and we can reopen if needed.

[2018-10-31 22:14] tchristiani commented on #9434
#please-close

[2018-10-31 22:15] WSturman commented on #17555
Adding Text to Speech capability to the Speech SDK is on our roadmap for Spring next year.

[2018-10-31 22:15] YutongTie-MSFT commented on #15357
@AntonOfTheWoods
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-31 22:15] #15357 closed

[2018-10-31 22:15] YutongTie-MSFT commented on #10912
@tofula
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-31 22:15] #10912 closed

[2018-10-31 22:16] mike-urnun-msft commented on #17939
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-31 22:16] #17939 closed

[2018-10-31 22:17] YutongTie-MSFT commented on #7936
@Paul-Dempsey
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-31 22:17] #7936 closed

[2018-10-31 22:17] YutongTie-MSFT commented on #9909
@zentelfong
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-31 22:17] #9909 closed

[2018-10-31 22:18] erhopf commented on #11732
#please-close

* We've created a backlog item to track this doc enhancement. @PatrickPan2012, thanks for your feedback. We will notify you with any updated.

[2018-10-31 22:18] YutongTie-MSFT commented on #10825
@glerler
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-31 22:18] #10825 closed

[2018-10-31 22:19] YutongTie-MSFT commented on #17555
@aqiank
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-31 22:19] #17555 closed

[2018-10-31 22:19] aahill commented on #10162
@JupiterLikeThePlanet, thanks for opening this issue, and apologies for the delay in getting to it. A short while ago we did some updates to this article, would you take a look at it and let me know if it's a bit clearer: https://docs.microsoft.com/en-us/azure/cognitive-services/bing-web-search/quickstarts/ruby

If not, let me know how I might be able to improve it.

Thanks again!

[2018-10-31 22:19] YutongTie-MSFT commented on #11732
@PatrickPan2012
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-31 22:19] #11732 closed

[2018-10-31 22:20] YutongTie-MSFT commented on #9434
@TechnicallyWilliams
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-31 22:20] #9434 closed

[2018-10-31 22:20] axisc commented on #17738
@brijeshb - there is no limitation on the number of sessions. You are just limited on the number of concurrent receivers to read from the sessions.

@YutongTie-MSFT  please close this ticket, we can reopen if there are any other questions.

[2018-10-31 22:22] #17958 closed

[2018-10-31 22:25] ine8181 opened #18015 "Immutability and tamper-proofing"
I can't easily tell whether this product (Log Analytics) provides security features such as immutability of the data and tamper proofing - such that a rogue sys admin cannot remove or alter specific data rows.

This is an important requirement for us, and is a blocker for adoption. Please add documentation on this topic.

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2018-10-31 22:29] YutongTie-MSFT commented on #17738
@brijeshb
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-31 22:29] #17738 closed

[2018-10-31 22:29] MicahMcKittrick-MSFT commented on #18010
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-31 22:29] kashimiz commented on #17539
@PramodValavala-MSFT We're working towards something nicer, but there are currently no alternate APIs for the v2 runtime.

[2018-10-31 22:30] MicahMcKittrick-MSFT commented on #18009
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-10-31 22:30] MicahMcKittrick-MSFT commented on #18002
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-31 22:32] sirfarmalot commented on #16566
@mada360 were you able to resolve this?

[2018-10-31 22:32] MicahMcKittrick-MSFT commented on #17510
Thanks @yantang-msft!

@SychevIgor take a look at the samples mentioned and see if it helps.

I will close this for now as we already have additional documentation in the works to address this issue.

[2018-10-31 22:32] #17510 closed

[2018-10-31 22:34] MicahMcKittrick-MSFT commented on #18010
@rpdeguzman what region is the existing Vnet in? Currently only West US and West Europe are available.

[2018-10-31 22:36] gharmer commented on #17638
Hi guys, thanks for all the responses.

If it's not possible to take a backup without consuming RUs, is it possible to grab a copy of the automatic backup that Azure takes for us ad put it in blob storage?

The fact that my API's and website could receive a DOS from the database just because a backup is being created is a bit disappointing.

[2018-10-31 22:38] MicahMcKittrick-MSFT commented on #18002
@ganrad as far as I know you are unable to mount secrets to multiple paths. You can include multiple secrets but a single path must be set.

@dlepow @iainfoulds can you confirm? And if so, we should probably mention that in the doc.

[2018-10-31 22:38] BigIve opened #18016 "Nested groups?"
Are nested groups supported?  If not any ETA on when they will be?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d215ddd2-d71f-8b91-c5f7-314c6287cafc
* Version Independent ID: ef317dea-e56a-e6db-3344-67aa028a0ca7
* Content: [What is group-based licensing in Azure Active Directory?](https://docs.microsoft.com/en-us/azu

[2018-10-31 22:41] femsulu commented on #17983
@arkein Thanks for the Comment. We are actively investigating and will get back to you soon.

[2018-10-31 22:43] rpdeguzman commented on #18010
It is in West US.  Same subscription, just different resource group.

[2018-10-31 22:53] kgremban commented on #17693
@smoms You didn't really clarify the question, you just changed the word order around :) Are you saying that you want to check a deployment manifest JSON file into your source control system, and then have it automatically update certain devices/targeted device groups that you've set up previously?

[2018-10-31 22:53] femsulu commented on #17983
@rothja unable to find any reference to Pathbasedrule quota in any of the published docs. The only quota reference I see is for "loadbalancing rules" in the above doc. Is this the right quota?

https://docs.microsoft.com/en-us/azure/azure-subscription-service-limits#application-gateway-limits
![image](https://user-images.githubusercontent.com/34327711/47823354-23443080-dd25-11e8-9fd7-e97eaa8fbd54.

[2018-10-31 22:55] jason-j-MSFT commented on #17707
@bwren I don't see any documentation on how to use the saved functions, do you know if any exist?

[2018-10-31 22:58] Karishma-Tiwari-MSFT commented on #17987
@bdcoder2 I understand that there is not much information out there about the parameters. I have assigned it to the author to take a look at the other points and update the docs as needed.

1. Since the tutorial is about [Installing IIS and the .NET framework using the custom script extension](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/tutorial-iis-sql#create-a-iis-vm), we hav

[2018-10-31 23:04] MicahMcKittrick-MSFT commented on #18010
@rpdeguzman thanks for that.

@jakaruna-MSFT can you take a look?

[2018-10-31 23:06] jason-j-MSFT commented on #17691
@jkarnesPerfectCube we are closing this issue for now.  If you could provide more details we can reopen the issue.

[2018-10-31 23:06] #17691 closed

[2018-10-31 23:09] dcbrown16 commented on #17481
Thanks @douglaslMS, I appreciate the quick follow-through about load balancing and understand that it may take some time to update the parameter docs.
Incidentally, it sounds like the customer I'm working with was able to get the parameters working fine, but what they really wanted to do was load balance, so I'm fine to close with the current information. We'll look forward to additional info in t

[2018-10-31 23:09] #17481 closed

[2018-10-31 23:10] dcbrown16 commented on #17008
Closing as my table update has been published.

[2018-10-31 23:10] #17008 closed

[2018-10-31 23:10] femsulu commented on #17969
@sijday thanks for bringing this to our attention. I've initiated a PR to fix the typo and this will be live soon.
Thanks again. Will now close this request.

[2018-10-31 23:10] #17969 closed

[2018-10-31 23:18] #17266 closed

[2018-10-31 23:28] andrewatfornax commented on #16897
Nothing has changed, though? The link and information is still not accessible?

[2018-10-31 23:35] mdorey opened #18017 "OptionalClaims not working for application registered through Default Directory - App registrations (Preview)"
Assuming "Default Directory - App registrations (Preview)" application registrations are using the v2.0 endpoint it doesn't appear that optionalClaims works.  Trying to save a manifest with optionalClaims (even the JSON sample in this documentation) results in the following error: "Error details: A value without a type name was found and no expected type is available. When the model is specified,

[2018-10-31 23:38] dcbrown16 commented on #7433
@trinadhkotturu I just happened to notice this closed issue after we published the update with the columns.
Under "Enable backup", Virtual Machine Contributor is currently listed as scope of VM resource. This issue suggests that it is supposed to be scoped to the whole resource group containing the VM. Do we need to make another update to that?
You didn't make an update to the language about VMs w

[2018-10-31 23:38] MarkusVi commented on #16715
Hi @xNiklasJern, I have to admit that I don't really understand what you are looking for. Could you please clarify? As already mentioned, there is no client license involved. You need a P2 tenant to configure the sign-in risk condition. There is no need to assign specific licenses to the users that are affected by a CA policy that includes the sign-in risk condition. CA is a service for your SaaS

[2018-10-31 23:47] msLinuxNinja commented on #17891
@KeiroKamioka0000 it is possible but not advisable. There are situations where NTP alone can't keep up with time changes, but host time sync helps fill in those gaps.

[2018-10-31 23:50] MarkusVi commented on #16850
#please-close

[2018-10-31 23:54] CelesteDG commented on #18017
Hello @mdorey - Thank you for the feedback. Can you please let us know which **Supported account types** were specified for the app being registered? We have a note in the existing optional claims doc about some caveats with the accounts and whether optional claims are supported, but we also need some more info to determine if we've got a bug.

[2018-10-31 23:55] femsulu commented on #17826
@johnkemnetz would it be possible to update the screenshot to reflect the "Export to Event Hub" label?

![image](https://user-images.githubusercontent.com/34327711/47825179-bda87200-dd2d-11e8-9ad3-a4e68a17a569.png)

[2018-11-01 00:01] BryanTrach-MSFT commented on #17554
@CarlosOnline We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-01 00:01] #17554 closed

[2018-11-01 00:05] mdorey commented on #18017
Hi, I selected "Accounts in this organizational directory only (Default Directory)"

[2018-11-01 00:13] DiegoRamirez-MSFT commented on #18014
hello @mcasperson We are investigating this issue now. Thank you for reporting it

[2018-11-01 00:17] #7746 closed

[2018-11-01 00:17] #10117 closed

[2018-11-01 00:17] #11024 closed

[2018-11-01 00:18] #11025 closed

[2018-11-01 00:18] #13160 closed

[2018-11-01 00:18] #16497 closed

[2018-11-01 00:18] #16715 closed

[2018-11-01 00:18] #16850 closed

[2018-11-01 00:19] #17995 closed

[2018-11-01 00:21] CarlosOnline commented on #17554
From tutorial:

This tutorial shows you how to upload

[2018-11-01 00:34] Alberto-Vega-MSFT commented on #18003
@yehoshuadimarsky Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-01 00:37] imeya commented on #17951
in this link: https://docs.microsoft.com/en-us/rest/api/storageservices/client-side-logging-with-the-.net-storage-client-library, there is no information about how to enable Storage Client Library logging when use the .net core console application. As you know, in .net core console application, there is no app.config file, it is used the .json file in .net core console.

[2018-11-01 00:39] mcasperson commented on #18014
@DiegoRamirez-MSFT Appologies, it was https://docs.microsoft.com/en-us/azure/container-service/kubernetes/container-service-kubernetes-service-principal.

Specifically the https://docs.microsoft.com/en-us/azure/container-service/kubernetes/container-service-kubernetes-service-principal#credential-expiration section.

[2018-11-01 00:39] kanshiG commented on #17638
Let us backup. We do not use RUs for backups we perform, we do not affect the performance and availability.  When you use any mechanism which results in CRUD (Read/write/update/delete)- it will use RUs. If all you need is more backups > 2, please raise a support case - we will help you.

[2018-11-01 00:42] kanshiG commented on #17638
BTW you only need to increase the throughput for time you are doing ETL of data and again decrease the throughput.

[2018-11-01 00:55] Alberto-Vega-MSFT commented on #17892
@MarkAtAgilliance  I'm sorry to hear that you are facing this issue. I think this will require some deeper analysis. Can you please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Doc/Issue as well as your subscription ID and we can help get the support ticket opened for this issue.

Also

[2018-11-01 00:58] Alberto-Vega-MSFT commented on #17899
@gbrueckl Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-01 01:03] Alberto-Vega-MSFT commented on #17893
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-01 01:03] #17893 closed

[2018-11-01 01:05] PramodValavala-MSFT commented on #17539
@kashimiz Thanks for the confirmation! I will update the doc accordingly.

[2018-11-01 01:14] swinarko commented on #17980
@D3nnisd, were you able to run your package locally on SSDT?  Did you deploy your project using SSDT or SSMS?  Please also send me your ADF and SSIS IR names so we can investigate more (sawinark@microsoft.com).

[2018-11-01 01:14] A140475 commented on #18012
Thanks guys. Will to admit I did something stupid but I followed the example to the letter.

[2018-11-01 01:26] ebashmakov opened #18018 "Path pattern syntax"
What kind of patterns can I use for the PathRules? Can I use regular expressions or the wildcard pattern is only supported? It's not clear from the article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f499fef-00fc-0326-a4e5-0d796d6ca331
* Version Independent ID: 09179d08-d93c-df5f-f838-c854d9dca26f
* Content: [URL-

[2018-11-01 01:28] PramodValavala-MSFT commented on #17539
@kashimiz Thanks for contributing to MS Docs! We have updated the doc appropriately.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-01 01:36] MarileeTurscak-MSFT commented on #18016
@BigIve
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-01 01:37] MarileeTurscak-MSFT commented on #18016
Yes, they are supported but there are limitations to the functionality. Please see the guide for more details. https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/active-directory-groups-membership-azure-portal

[2018-11-01 01:38] MarileeTurscak-MSFT commented on #18016
We will proceed to close this thread. If you have further questions, please leave a comment and tag me in it and I will gladly continue the conversation.

[2018-11-01 01:38] #18016 closed

[2018-11-01 02:00] tim-yan opened #18019 "How can I get my Client IP address like Azure portal and SSMS do?"
Azure portal shows an client IP address in firewall settings, so does SSMS. But sometimes they are showing different IP addresses on the same machine and both are different from my "ipconfig" result. What's the mechanism behind? Is there any way that I can get this "Client IP"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-11-01 02:20] SaurabhSharma-MSFT commented on #17832
@JamesTerHark  I have followed the tutorial and used a local b2c application with page customization and it worked fine for me and I see customized sign-up page coming up on the web page when unified is not setup.
**Policy customization settings**
![image](https://user-images.githubusercontent.com/38112130/47828741-5da3e100-ddaa-11e8-842b-da75a3bc22ba.png)
**Sign-up page**
![image](https://user-im

[2018-11-01 02:30] grayjeremy commented on #18008
Instructions for doing this already [exist here](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-install-custom#optional-features), it just doesn't give any detail around how it knows that adfs is down (and whether I can do it manually at the start of a downtime window) or how long it will take to failover (manually or automatically).

I'm not sure the tutorial around

[2018-11-01 02:41] MarkusVi commented on #17775
Hi @dkbrilley, this is a very cool issue – thanks for opening it.
You are correct, it is really hard to say, whether this is a product or documentation feedback – or both.
The other hard part is to identify whether there is even an issue and a good answer.
Moreover, I don’t even know right now, whether there is a perfect response to it…
The only thing I can tell you is that there is no need to be

[2018-11-01 02:49] spunukol commented on #15211
Adam,

Currently only the Global Administrator can update the device settings. We will update the documentation to specify the permissions are working towards adding support for settings to the cloud device administrator role.

[2018-11-01 02:58] SaurabhSharma-MSFT commented on #17834
@Yegmorcar Can you please check if this [blog](https://code-examples.net/en/q/23f284c) helps.  I also suggest you to open a new MSDN forum post with the details and community will help address your query. Please refer to below link to MSDN forum to ask new question -
https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazureplatform&forum=WindowsAzureAD&prof=required.  Pl

[2018-11-01 03:00] MarkusVi commented on #15211
#please-close

[2018-11-01 03:01] SaurabhSharma-MSFT commented on #17897
@chungsu Please open a [Azure Support Ticket](https://aka.ms/azsupt) so that Identity Support engineer can check further on this issue. In case you limitations in your support plan to open support ticket please let me know.

[2018-11-01 03:03] spunukol commented on #12201
Hi, We are working on updating the right documentation for this role. Thank you for the feedback.

[2018-11-01 03:37] aqiank commented on #17555
OK, thanks. I was just confused that there's SynthesizingAudio and SynthesizingAudioCompleted in https://docs.microsoft.com/en-us/cpp/cognitive-services/speech/microsoft-cognitiveservices-speech-namespace#enum-resultreason but couldn't find the API to do the synthesis.

[2018-11-01 03:55] Grace-MacJones-MSFT commented on #18006
Hi @mganeshphani, thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-11-01 04:57] #12201 closed

[2018-11-01 04:57] #15211 closed

[2018-11-01 05:10] dinoreborn opened #18026 "Please change the content"
Please change the content

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b304db6-375e-863e-2260-64cde160404c
* Version Independent ID: b5571acc-5870-cf3f-e9bf-47363ac3899a
* Content: [Tutorial - Manage Azure disks with Azure PowerShell](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/tutorial-manage-da

[2018-11-01 05:39] Key-international opened #18027 "How to get started"
Key international academy

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 144afccf-4ab9-bb34-957d-e86d3732d688
* Version Independent ID: 863b80ff-f60a-e727-dc12-0d6aba937df6
* Content: [Azure Monitor overview](https://docs.microsoft.com/en-us/azure/azure-monitor/overview)
* Content Source: [articles/azure-monitor/overvi

[2018-11-01 05:42] luigiw opened #18028 "Wrong SDK install command for Mac"
On Mac, SDK install command should be

pip install "azureml-sdk[notebooks]"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72c6907a-8658-f29b-cce9-6af0a359f26b
* Version Independent ID: e41c8c19-d858-9a84-4b89-1b65bdd960a8
* Content: [Quickstart: Use the Python SDK to create a machine learning service workspace - Azure

[2018-11-01 05:52] wolfma61 commented on #16100
In speech_recognition_samples.cpp is a sample demonstrating detailed output:

// Speech recognition in the specified language, using microphone, and requesting detailed output format.
void SpeechRecognitionWithLanguageAndUsingDetailedOutputFormat()
{
    // <SpeechRecognitionWithLanguageAndUsingDetailedOutputFormat>
    // Creates an instance of a speech config with specified subscription key and

[2018-11-01 05:52] luigiw opened #18029 "python code to create workspace has constant resource group name"
python code to create workspace has constant resource group name as "myresourcegroup" when it should be whatever created and chosen by customer.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72c6907a-8658-f29b-cce9-6af0a359f26b
* Version Independent ID: e41c8c19-d858-9a84-4b89-1b65bdd960a8
* Content: [Quickstart: Use

[2018-11-01 06:00] #13990 closed

[2018-11-01 06:01] anubhms opened #18030 "Incorrect $storageType value in the script"
Looks like the value "$storageType = 'PremiumLRS'" is incorrect, the supported SKUs are "Premium_LRS,StandardSSD_LRS,Standard_LRS"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 106078d5-132d-79d6-d009-3f4b2300a270
* Version Independent ID: 51a5f431-a26c-ebf3-1a52-bfad2f9a15c1
* Content: [Azure PowerShell Script Sample

[2018-11-01 06:02] louisjvn opened #18031 "Steps are not working"
Hi, I have followed the steps for this labs a couple times to the letter. When I get to the step where you are supposed to get the IP address for the load balancer and connect to it via browser (Test your app) I always get an error that I cannot connect to the IP address. Like nothing is listening. I have asked a colleague to do the same and he gets the same result. Something wrong with the steps

[2018-11-01 06:30] iamnarendhar opened #18032 "How to Increase Web Activity Response Timeout from default 1 minute."
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-11-01 06:38] clement911 opened #18033 "When will this come out of preview?"
We are very keen to use this. When will this be released?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a2961d1-4448-11b7-2dc2-3b738bd70939
* Version Independent ID: 206eb022-25c4-66d7-7285-0d53a84956e3
* Content: [Azure SQL Database - read queries on replicas](https://docs.microsoft.com/en-us/azure/sql-database/sql-

[2018-11-01 07:11] pvrk commented on #17884
Protect files/folders - Azure Backup agent
Protect files/folders  + other applications (including on-premise Hyper-V/VMware VMs) - Azure Backup Server
Protect Azure VMs - Azure VM backup.

Whatever you implied from first note is correct, you should able to do both: File level + VM level with MABS
The FAQ talks about Azure VMs (not on-premise VMs targeted for MABS) and hence we need two different '

[2018-11-01 07:19] dcbrown16 commented on #17884
Thanks @pvrk. Is it possible that there is no explicit setting describing the **backup** side for files/folders when using Azure Backup Server, and instead you backup the whole server and then select files/folders when **restoring**?
In other words, is the granularity only available during restore, not during the backup configuration for MABS? We're just not clear on how the files/folders works wi

[2018-11-01 07:20] Makerone commented on #17962
Hi,

The point is that we have to identify our customers, that he cannot use his
company credentials when he left the company. A cell phone number or
authenticator will work also. But normally your mail account will be locked.

We implement something similar with our Sparparts Online Shop. Because we
store there sensible information about pricing and also 2D and 3D drawing,
the user have to sign i

[2018-11-01 07:57] vishalaj1 commented on #17977
We have following scenario:
On - Prem:
Server 1 - DB Server - SSRS ReportServer, ReportServerTempDB is placed here
Server 2 - SSRS Report Server - Report engine is installed here
Server 3 - SSAS Tabular Server - Installed here
Clients are able to access the reports pointing to Server 3. (We have added SPNs correct for on prem domain account)

Now, we have moved Server 3 to Azure Analysis Service
S

[2018-11-01 08:06] skukan159 commented on #17592
@erhopf - We are using startContinuousRecognitionAsync. The problem is that when there is silence for approx. 20 seconds, the service stops itself. We do not want that. Another issue is that there is no clear way to maybe subscribe to an event when recognition stops to maybe restart the service. Although, that would probably still not help considering that the API is controlling the microphone inp

[2018-11-01 08:07] smoms commented on #17693
@kgremban you have explained the process to make changes:

I know how to push code in the registry by command line. My question is how to push the through command line or API also the deployment.json? I understand that code is pushed in a registry like Docker or ACS whereas the manifest into IoT Hub registry, therefore i assume there are also different API? I know how it works in VSC but is manual

[2018-11-01 08:19] DMKmod commented on #17985
Thanks for the reply Mike, I am using General Purpose tier instance. But unfortunately I don't have storage account details in the Instance Overview or Storage Explorer. Also I have installed SSMS on vm I had in the same v-net and was able to connect to instance and see/able to query System Databases that come default with Instance, but having problem creating new DB and some other issues:
TITLE:

[2018-11-01 08:38] DMKmod commented on #17985
Hi again Mike, I have redeployed the Instance, and having same issues. Info I have available in Instance Overview:
Resource Group, Status, Location, Subscription name, Subscription ID, Managed instance admin, Host, Pricing Tier, Virtual network/subnet, virtual cluster.

[2018-11-01 08:45] zingaroo opened #18035 "Not allowed with durability level as bronze"
When I try to enable this I get an "OperationNotAllowed" with message "Automatic OS Upgrade is not allowed on Virtual Machine Scale Sets having Service Fabric extension with durabilityLevel as 'Bronze'." Why is that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51c75ce7-2144-d81a-693c-fb51cc00f3e5
* Version Independe

[2018-11-01 08:46] MChrys commented on #17821
Now when I try to connect without ssh, it return: `the connexion was reset(corresponding at an TCP RST)`

![image](https://user-images.githubusercontent.com/18635108/47841780-04907900-ddbb-11e8-8917-a80ff8f27d41.png)

[2018-11-01 08:54] dipti927 commented on #13924
@yanancai , any updates on this?

[2018-11-01 09:13] D3nnisd commented on #17980
@swinarko There was a issue with the SSDT run. I used ODBC source which didnt work. Now im using ADO.net with the OBDC driver, this runs fine on the SSDT with 32bit driver.

I tried executing that in Azure SSIS (with 32bit mode on) and that failed to. I switched to 64bit driver and installed that one in the IR. I also changed it in SSDT but i  cannot run in SSDT using the 64bit driver. So i tried

[2018-11-01 09:16] jakaruna-MSFT commented on #17891
@KeiroKamioka0000 I agree with @msLinuxNinja.
[timedatectl ](http://man7.org/linux/man-pages/man1/timedatectl.1.html) can help you to stop time synchronization in linux. But that's not recommended. Same document has information about the importance of time sync.

[2018-11-01 09:28] nkolchakov opened #18036 "Class Name and Method Name empty dropdown"
Following this tutorial I have a problem on step 7 and 8.

After double clicking on the function and selecting the options `Class Name` and `Method Name` both have empty dropdown

Here is а [screenshot](http://prntscr.com/ld142d) including most of the information. What could be the problem ?

`UDFTest` class library is `.NET Core 2.0`
---
#### Document Details

⚠ *Do not edit this section. It is r

[2018-11-01 09:52] jakaruna-MSFT commented on #18010
@rpdeguzman I am able to reproduce your issue.
Azure cli creates new vnet if that vnet is not available in the given resource group. Though the same vnet exists in different resource group.
I am not sure if this is the expected behaviour or not.
If this is the expected behaviour, Then the Vnet, subnets and ACI has to be on same resource group.
I will try to get more information regarding this issu

[2018-11-01 09:58] sakkuru commented on #17737
I tried this tutorial and got the same error.

[code]

[2018-11-01 10:08] chriscoop opened #18037 "Data retention policy for email verification"
Apologies if I'm missing something - I can't find a policy where you state what data Microsoft stores when verifying email addresses. If a user requests a verification code but then doesn't go any further how long does Microsoft store their email for?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6bfea7eb-35e3-ec56-9a

[2018-11-01 10:17] dfencegit opened #18038 "When is a warning a warning"
The documentation states that warning's can be ignored, if this is the case then why are they raised as warning's at all if no action is required?

I also think this is incorrect, we have examples on our stacks where warning states have been ignored and have then developed into a stack failure, suggesting that not all warnings are equal.

I would suggest that the output from test-azurestack needs

[2018-11-01 10:36] SrivatsaMarichi opened #18039 "Unable to set FTP credentials"
I am unable to set the FTP credentials for user in 1 of the Azure App Service. When I hit on "save credentials", the save goes on forever and nothing would have changed. Can someone recheck on the same?
Thanks,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1506c34e-352d-15f6-73ea-3dbf8ce31b3c
* Version Independent ID:

[2018-11-01 10:49] panoschatz commented on #17424
Hi below is the result of the REST request:

`
GET /subscriptions/<subID>/resourcegroups/<rg name>/providers/Microsoft.Resources/deployments/vm_deploy_<deployment id>version=2018-05-01 HTTP/1.1
Host: management.azure.com
Accept: */*
User-Agent: Rigor API Tester
`

`
HTTP/1.1 401 Unauthorized
Cache-Control: no-cache
Pragma: no-cache
Content-Type: application/json; charset=utf-8
Expires: -1
WWW-Auth

[2018-11-01 11:02] danry25 opened #18040 "Link to non-existent document for migrating to new Speech Service API"
Heads up, it appears the only link in [this deprecation note](https://github.com/MicrosoftDocs/azure-docs/blob/master/includes/cognitive-services-bing-speech-api-deprecation-note.md) links to a non-existent migration document. I would recommend correcting the link or creating a how to migrate from Bing Speech document.

[2018-11-01 11:03] Dawny33 opened #18041 "az: error: unrecognized arguments: --enable-addons monitoring"
I get this error when running the command: `az aks create --resource-group myAKSCluster --name myAKSCluster --node-count 1 --enable-addons monitoring --generate-ssh-keys`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6115d555-45a1-6539-4af6-fbc20a99f008
* Version Independent ID: 21f80c83-ba10-9b7e-c54f-51a9c140517c
*

[2018-11-01 11:45] raduart opened #18043 "Preview region limitations and creation example"
Creating a new container using az create container should mention parameter "--location westeurope" (or westus) so that ACI is created on those regions.
If not mention will assume Resource Group region that may create ACI on an unsupported region.
Thanks
Best regards

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81e00

[2018-11-01 11:53] adobedoe opened #18044 "application insights sampling in v2"
Hi,
I've noticed that sampling is still enabled even if I set:
"applicationInsights": {
            "sampling": {
              "isEnabled": false,

Looking at the code, it appears that I need to use the following in my host.json

"applicationInsights": {
      "samplingSettings": {
        "IsEnabled": false
      }
    }

Please can you check and update the docs.

Cheers

---
#### Document Detai

[2018-11-01 11:57] D3nnisd commented on #17980
Little update. I have debugged when i tried to run (i have ado.net source to ado.net destinatio). i get this error:
\"ERROR [IM002] [Microsoft][ODBC Driver Manager] Data source name not found and no default driver specified.

[2018-11-01 12:08] D3nnisd commented on #17980
Changing to ODBC source to OLEDB target i get this:
S Error Code DTS_E_CANNOTACQUIRECONNECTIONFROMCONNECTIONMANAGER.  The AcquireConnection method call to the connection manager \"192.168.3.10.xxxxBV-test.odoo-test\" failed with error code 0xC0014009.

This is the same error i get when i use Visual studio to edit.

[2018-11-01 12:17] JozoSlejko opened #18045 "RBAC Permissions in Azure Policy"
Can you add detail which exact resource provider operations are needed in Microsoft.Authorization and Microsoft.PolicyInsight providers?
I do not see "Security Admin" nor "Security Reader" having Microsoft.PolicyInsight provider operations listed in their definitions. These two roles are Security Center specific.
Even Security Manager hasn't any Microsoft.PolicyInsight provider operations listed i

[2018-11-01 12:17] rs38 commented on #17820
@maertendMSFT

1. opening a private Edge tab
2. browsing to https://docs.microsoft.com/en-us/azure/cloud-shell/quickstart-powershell?view=azure-cli-latest
3. clicking on the first tryit from the top
4. entering my azure credentials
5. waiting symbol spins
6. a big "X" occurs in the terminal windows on the right for only some milliseconds.
7. right side stays completly black.

If I check with F12 t

[2018-11-01 12:34] DCtheGeek commented on #18045
@JozoSlejko Thanks for the question!  I'll work on getting a more defined list put together. I do see that 'Security Reader' doesn't have Microsoft.PolicyInsight operations in the definition. It does have `Microsoft.Authorization/*/read`, however.  Let me get the details and get back to you!

@MicrosoftDocs/azure-cxp-triage Please assign to me, label 'doc-enhancement', and #in-progress

[2018-11-01 12:34] rs38 commented on #17820
this is what fiddler shows me when it fails with Edge:
[code]
which looks quite different to IE when it connects:

[code]

[2018-11-01 12:50] kamigash opened #18047 "Azure function output default batch size mismatch"
There is a mismatch between the default batch size when using Azure Functions as output.

https://docs.microsoft.com/en-us/azure/stream-analytics/stream-analytics-define-outputs#output-batch-size =&gt; says 246 KB (or should it be KiB? (https://en.wikipedia.org/wiki/Kibibyte))

https://docs.microsoft.com/en-us/azure/stream-analytics/stream-analytics-define-outputs#azure-functions =&gt; says 256 KB

[2018-11-01 12:58] rkarlin commented on #15932
@christiankuhtz Hi Christian, Thanks for reaching out and sorry it took me so long to get an answer on this. We don't support it currently and there's no ETA yet for when it might be added to the product. Sorry. I've logged your request for this feature with the product team.

[2018-11-01 13:01] rs38 commented on #17820
and a 3rd comment to narrow the problem:
Azure shell embedded in the Portal as well as https://shell.azure.com/ works fine with Edge.

[2018-11-01 13:04] tjoycebrook opened #18048 "Any documentation for migrating from Office365 MFA to Azure MFA"
We started off using Office365 MFA, but would like to switch over to Azure and Conditional Access Policies. During testing, we are finding that users must re-register their devices, and the user options are missing from the O365 portal. Is there any guidance on best practices from moving from Office365 MFA to AzureMFA?

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2018-11-01 13:15] trinadhkotturu commented on #7433
This is something which we are fixing and it is only applicable when I want to check backup status from VM blade and not applicable when we go thru Recovery Services vault.

[2018-11-01 13:20] trinadhkotturu commented on #7433
I have also added a note about this in the doc.

[2018-11-01 13:44] CKeene78 commented on #17868
Doc reference:
- Doc: https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-microsoft-graph
- Section: Auth token
- Language: JavaScript

In the sample code note that the binding for 'graphToken' is then set to '"Bearer " + context.bindings.graphToken' in the JS code. However, my understanding is that you would have to get this token *first*, which the documentation doesn't see

[2018-11-01 13:45] CKeene78 commented on #17853
Doc reference:
- Doc: https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-microsoft-graph
- Section: Auth token
- Language: JavaScript

In the sample code note that the binding for 'graphToken' is then set to '"Bearer " + context.bindings.graphToken' in the JS code. However, my understanding is that you would have to get this token *first*, which the documentation doesn't see

[2018-11-01 13:48] panoschatz commented on #17424
I found out what the problem was.

A policy on our side blocking public IPs when deploying the VM. However the error I was getting on AZ CLI was less than descriptive.. It could have been solved a week ago.

Thanks for investigating though.

[2018-11-01 14:18] hanabi1224 opened #18049 "[VMSS custom script extension] How is network fee being charged if ppl download large file"
How is network fee being charged if ppl download large file in vmss custom script extension, for cases like blob storage, azure vm file server, same region, and cross region, respectively, thanks in advance!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40aaccb8-19ba-168f-f5bf-65f1f5331541
* Version Independent ID: 6c

[2018-11-01 14:32] ld0614 opened #18050 "Access Solution Specific Settings"
Is there any way to access solution specific settings such as the ones described here https://blogs.technet.microsoft.com/msoms/2016/11/08/filter-the-security-events-the-oms-security-collects/ without reverting to the old portal?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4bb1685a-5439-034b-7668-f970390a940e
* Vers

[2018-11-01 14:34] SWarnberg opened #18051 "Application Insights blade greyed out"
According to this documentation you need a basic service tier or higher to enable this feature. I have both a Standard tier and a Basic tier web app / app service. In both of them, the Application Insights blade (called Monitoring in this document) is greyed you, and when hovering I get the message "This feature is not supported for your current plan".

What does that mean? Neither this document n

[2018-11-01 14:35] raduart opened #18052 "Delete network resources is only for the first item of ACI's on that VNet"
After double checking this bash script I saw that you cannot select what is the ACI name or VNet or SubNet that you want to delete inside a Resource Group that may contain several ACI's and several VNet's.
Here is the same code but enabling you to specify what you want to delete. Changes marked with '20181101 raduart':
# Replace &lt;my-resource-group&gt; with the name of your resource group
RES_GR

[2018-11-01 14:57] billmath commented on #15456
@ta-graves You are correct.  Thanks for catching this.  I have updated the documentation and it should be live later today.  Thank you!

[2018-11-01 14:57] billmath commented on #15456
#please-close

[2018-11-01 14:58] WiseOldHowell commented on #13815
I've found that Trust Locations will take a single IP by entering the IP followed by /32.
ex: xxx.xxx.xxx.xxx/32
Hope this helps.

[2018-11-01 14:59] billmath commented on #15615
Hi all.  Thank you for the feedback.  I am verifying this with engineering now.  Once I have a response I will follow-up.

[2018-11-01 15:06] YutongTie-MSFT commented on #18029
@luigiw
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate

@hning86
Hi Hai, can you please take a look of this issue ? Thanks a lot!

[2018-11-01 15:21] DiegoRamirez-MSFT commented on #18032
hello @iamnarendhar thanks for reaching out. If you need help please open a new issue and provide us all details and what doc you are refering to.

[2018-11-01 15:21] #18032 closed

[2018-11-01 15:28] fcobo95 opened #18053 "Is DSS Sync Agent 2.0 supported in WS 2011 SBS?"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-11-01 15:28] DiegoRamirez-MSFT commented on #18040
Hello @danry25 could you please confirm which document contains the broken link you mentioned, did you get to it directly into github? additionaly would the following document be helpful to you?

https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/cognitive-services/Speech-Service/how-to-migrate-from-bing-speech.md

[2018-11-01 15:30] wmmaintz opened #18054 "Register an app with the Azure Active Directory v2.0"
Do the steps describe here also apply to V2.0?  I read on another document page that everything that was used for authentication in V1.0 has been revamped, is no longer being updated, and that  we should be using V2.0 specific implementation activities.  As a result, if the instructions that are  still valid for v2.0 should be marked as such (Still valid for V2.0)

---
#### Document Details

⚠ *Do

[2018-11-01 15:32] DiegoRamirez-MSFT commented on #18049
Hello @hanabi1224 could you please confirm the document you are following to get to this question?

[2018-11-01 15:33] DarrinEide commented on #17584
@VladimirAlexiev: The Graph API has been decommissioned. We are still working on cleaning up all of our documentation for it, but as a general point our different APIs (i.e. Evaluate/Interpret/CalcHistogram) will contain different sets of the available Microsoft Academic Graph attributes.

[2018-11-01 15:36] promontis opened #18055 "No available release name found"
Shouldn't the Helm command to install nginx-ingress specify a name? I currently get an error saying that there is no available release name found.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12009c1f-282d-2632-fac0-64b09c432833
* Version Independent ID: 6052d3d4-d295-9340-b16d-4c200e34cd73
* Content: [Create an HTTP

[2018-11-01 15:41] rothja commented on #17983
I think this would be a question for @vhorne, who is the author on most off the Application Gateway content from what I can see. Vic, can you help out here? Thank you!

[2018-11-01 15:41] DarrinEide commented on #16794
@VladimirAlexiev: The Academic Knowledge "evaluate", "interpret", "calchistogram" and "similarity" API methods have all transitioned to Cognitive Services Labs, which uses a different endpoint and has a different subscription model (free tier only). See [this page](https://dev.labs.cognitive.microsoft.com/docs/services/56332331778daf02acc0a50b/operations/565d9001ca73072048922d97) for reference mat

[2018-11-01 15:45] wmmaintz opened #18056 "Complete examples would be helpful"
There are so many different combinations of settings and configurations that are used in an attempt to allow an app to authenticate itself to Azure AD, that it would be nice to see a complete example of each without having to navigate through an additional 42  hyperlinks.  For instance, in this example, it is indicated that one could create a native app or a Web API app and the provides instructio

[2018-11-01 15:49] DiegoRamirez-MSFT commented on #18053
Hello @fcobo95  thanks for reaching out. If you need help please open a new issue and provide us all details and what doc you are refering to

[2018-11-01 15:49] #18053 closed

[2018-11-01 15:55] DiegoRamirez-MSFT commented on #18014
Thanks for the update @mcasperson will get this issue assigned to the most appropriate resource

[2018-11-01 16:10] DiegoRamirez-MSFT commented on #18018
Hello @ebashmakov We are investigating this issue now. Thank you for reporting it

[2018-11-01 16:12] #15456 closed

[2018-11-01 16:16] CelesteDG commented on #18054
Hello @wmmaintz - The https://docs.microsoft.com/azure/active-directory/develop/quickstart-v1-add-azure-ad-app topic is specific to v1.0 (this is done through https://portal.azure.com) while https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-v2-register-an-app is specific to v2.0 (this is done through https://apps.dev.microsoft.com). This is confusing so the Identity team w

[2018-11-01 16:18] isobit commented on #17920
@MicahMcKittrick-MSFT Looking this over in GitHub issues I just realized it's not very clear exactly what I'm asking about, just wanted to clarify: I'm asking about the Azure Files mounting built into Azure Container Instances, not necessarily Azure Files in general. I don't believe my OS is handling the mount as that would require ACI to meddle with my image, it must be happening outside in the c

[2018-11-01 16:18] Mike-Ubezzi-MSFT commented on #18019
@tim-yan Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2018-11-01 16:20] Mike-Ubezzi-MSFT commented on #18033
@clement911 Thank you very much for your interest in Azure products and services. We are actively investigating and will get back to you soon.

[2018-11-01 16:21] chrisvoisey opened #18057 "Set-AzureRmVMSqlServerExtension "transitioning" Status"
Attempts to deploy using Set-AzureRmVMSqlServerExtension end with provisioning stuck in "transitioning" status.

Warning log reveals: "AutomatedBackupHeartbeatCheckError: System.Exception: Error while getting auto-backup heartbeat status ---&gt; Microsoft.SqlServer.Management.IaaSAgentSqlQuery.Contract.IaaSAgentSqlQueryException: Login failed for user 'NT Service\SqlIaaSExtensionQuery'"

Using SQL

[2018-11-01 16:23] Kasenga opened #18058 "Is this this B2C?"
How is this different from Azure B2C?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06c24fd7-43ce-1445-b734-ffd28410911f
* Version Independent ID: b835d64a-a78a-95d9-11a7-8b93a23944c8
* Content: [Self-service or trial signup in Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/users-group

[2018-11-01 16:29] cdeli opened #18059 "Export List"
Please add an option to export the list. A powershell command string would work or even just a button. Being able to have this in a sortable xlsx or csv format would save a lot of time in solving the issues.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28328ddf-1c4a-5659-419b-6d54df2ac653
* Version Independent ID: 13

[2018-11-01 16:36] mganeshphani commented on #18006
Can I get alternative. to proceed for now?

On Wed, Oct 31, 2018 at 10:56 PM Grace-MacJones-MSFT <
notifications@github.com> wrote:

--
Ganesh Phani Majeti.

[2018-11-01 16:40] dlepow commented on #18009
@hexalm - Thanks very much for pointing that out. I'll fix that doc shortly.

[2018-11-01 16:47] benjamingorman opened #18063 "Need description for "Service endpoints are not available for the currently choosen subscription and location.""
Hi there - just some feedback on this page: when trying to create a new virtual network with service endpoints enabled I'm encountering this popup message "Service endpoints are not available for the currently choosen subscription and location. Learn more"

The 'Learn More' part of the message links to this page. It would be really nice if this page documented why that error might occur. Because t

[2018-11-01 16:48] Adam-Smith-MSFT commented on #18018
@ebashmakov It looks like only wildcard is currently supported for Pathrules. More examples can be found here: **https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-create-url-route-arm-ps**
Let me know if this helps.

[2018-11-01 16:50] MarkusVi commented on #16715
Hi @xNiklasJern, yes, your interpretation is correct

[2018-11-01 16:56] rpdeguzman commented on #18010
@jakaruna-MSFT
Thanks for the update.  Yes, it will be good to know if this is expected.  I would want to request for a feature to allow using an existing vnet in another resource group.

[2018-11-01 17:01] RehanSaeed opened #18064 "Deploying Helm Chart Repositories using Azure DevOps"
Is there any guidance or documentation on how to deploy from an ACR Helm Chart Repository to Azure DevOps?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59c4be11-ec02-7160-e65b-2218bfd70f68
* Version Independent ID: 19e08339-390f-ccfa-885c-2643722bd186
* Content: [Use Helm repositories in Azure Container Registry](htt

[2018-11-01 17:02] PramodValavala-MSFT commented on #17660
@kvsrkrishnan We have reviewed this tutorial and could not reproduce the same issues that you have observed.

That being said, there are a few subtle fixes required in the docs
1. In step 2, "Upload images to Blob storage with Azure Functions", under "Configure the function app", the command has `--g` which should be just `-g`
2. In step 5, the API URLs in the function code has to be changed from

[2018-11-01 17:04] MicahMcKittrick-MSFT commented on #18064
Thanks for the question! We are investigating and will update you shortly.

[2018-11-01 17:05] MicahMcKittrick-MSFT commented on #18030
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-01 17:05] johnwildes opened #18065 "VMListFile.txt inputs"
Can we include an example where the VMnames have spaces in them within the ESXi/VCenter server?  The examples above only include IP address or names that have no spaces.  My understanding is that this list file should include names of VMs as they appear in ESXi/vCenter, and NOT the actual fqdn of the machines being profiled.

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2018-11-01 17:05] MicahMcKittrick-MSFT commented on #18026
@dinoreborn please provide us with additional details on this. What are you looking to have us change?

[2018-11-01 17:06] MicahMcKittrick-MSFT commented on #18031
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-01 17:07] wolfma61 commented on #17592
How did you recognize that the service stops?
Did you receive and stop events or signals that make you believe the service isn't recognizing anymore?

[2018-11-01 17:08] MarileeTurscak-MSFT commented on #18048
@tjoycebrook
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-01 17:08] takashi-moriyama commented on #16036
Minimum requirement for Enterprise State Roaming (ESR) is Windows 10 Version 1511 (OS Build 10586).
Although setting sync is supported for Windows 8.1 users with Microsoft account, it is not ESR. The information is available in [ESR FAQ page](https://docs.microsoft.com/en-us/azure/active-directory/devices/enterprise-state-roaming-faqs#what-account-is-used-for-settings-sync).

[2018-11-01 17:08] MicahMcKittrick-MSFT commented on #18035
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-01 17:08] kobulloc-MSFT commented on #18051
@SWarnberg Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-11-01 17:09] MicahMcKittrick-MSFT commented on #18041
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-01 17:09] chakkaseshu commented on #16312
Is there any template which helps in creating next generation metric alerts for SQL Databases & SQL Servers ?

[2018-11-01 17:09] MarileeTurscak-MSFT commented on #18056
@wmmaintz
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-01 17:09] MicahMcKittrick-MSFT commented on #18043
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-01 17:09] MicahMcKittrick-MSFT commented on #18055
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-01 17:10] MarileeTurscak-MSFT commented on #18037
@chriscoop
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-01 17:10] MicahMcKittrick-MSFT commented on #18057
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-01 17:10] MarileeTurscak-MSFT commented on #18058
@Kasenga #
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-01 17:11] billmath commented on #13030
@KjetilEVRY I wanted to get back with you.  I just heard from the dev and he thinks you are correct but they have not tested this.  They are opening a bug to verify and test this.  I have also opened a doc bug to track.  At this point, we can go ahead and close this and I will reopen it once I have more to post and the doc is updated.  Thanks again!

[2018-11-01 17:11] billmath commented on #13030
#please-close

[2018-11-01 17:11] MarileeTurscak-MSFT commented on #18059
@cdeli
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-01 17:11] MicahMcKittrick-MSFT commented on #18052
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-01 17:12] Karishma-Tiwari-MSFT commented on #17749
@ramkumarkrishnan Thank you for bringing this to our attention. PR has been merged with the changes in the doc. The changes will be live shortly.
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-11-01 17:12] #17749 closed

[2018-11-01 17:13] gunnarcms opened #18066 "DDOS test"
Can you please clarify how the DDOS test cannot be performed? This seems in contradiction with https://docs.microsoft.com/en-us/azure/virtual-network/manage-ddos-protection#validate-ddos-detection  and https://www.ixiacom.com/products/breakingpoint-cloud . Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19cb71ec

[2018-11-01 17:14] mike-urnun-msft commented on #18044
Hi @adobedoe Thank you for reporting this issue! We will investigate and make any necessary changes.

[2018-11-01 17:17] cynthn commented on #17424
@Karishma-Tiwari-MSFT I think we can now move issues between repos? If that is the case, can we move this to the CLI repo so they can see the feedback about the error message? Thanks!

[2018-11-01 17:29] MicahMcKittrick-MSFT commented on #18010
@dlepow could you comment on this and help clarify if all the resources need to be in the same Resource Group in order to use an existing Vnet? And if so, we should get it added to the doc for clarity.

[2018-11-01 17:34] BryanTrach-MSFT commented on #18039
@SrivatsaMarichi Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-01 17:34] YutongTie-MSFT commented on #17584
@DarrinEide We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-01 17:34] #17584 closed

[2018-11-01 17:38] daveba commented on #8096
#please-close

[2018-11-01 17:42] MicahMcKittrick-MSFT commented on #18031
@louisjvn I ran through the doc and was able to connect to my service

![image](https://user-images.githubusercontent.com/32313503/47868872-9d76c280-ddc2-11e8-80bc-0afffd04a29e.png)

Are you trying to get this to work while connected to your companies Corpnet? There might be a firewall blocking the connectivity.

Could you try connecting to the service using another networking? Such as your phone

[2018-11-01 17:48] YutongTie-MSFT commented on #16794
@VladimirAlexiev We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-01 17:48] #16794 closed

[2018-11-01 17:52] iainfoulds commented on #17920
@MicahMcKittrick-MSFT I'm not sure - @jluk or @dlepow may know more, and are best served for ACI questions.

@jluk - can you provide more insight as to what's happening here?

[2018-11-01 17:54] VanMSFT commented on #9272
@jakedenyer Hi Jake, thank you for reporting this! We are testing internally and will update the documentation.

[2018-11-01 17:54] #8096 closed

[2018-11-01 17:55] Karishma-Tiwari-MSFT commented on #17424
@cynthn I am not aware of that feature. I think we'll need to create a new issue in that repo. Please share if you know how to move issues between repos. Thanks :)
@panoschatz We will make sure the feedback goes to the CLI team. We will now close this issue. If you have additional questions, please reopen and we will gladly continue the discussion. Thanks.

[2018-11-01 17:55] #17424 closed

[2018-11-01 17:55] yujhongmicrosoft commented on #17434
The script is now linked to the doc.

[2018-11-01 18:00] MicahMcKittrick-MSFT commented on #18035
If you look at the durability characteristics for a Service Fabric cluster running in the Bronze tier you will see the following

Durability tier | Required minimum number of VMs | Supported VM SKUs | Updates you make to your virtual machine scale set | Updates and maintenance initiated by Azure
-- | -- | -- | -- | --
Gold | 5 | Full-node SKUs dedicated to a single customer (for example, L32s, GS5

[2018-11-01 18:00] jason-j-MSFT commented on #18036
@nkolchakov where you able to resolve this issue?

[2018-11-01 18:01] rolyon commented on #17976
Hi,
I think so. I've sent a message to the team to confirm.

[2018-11-01 18:02] jocastel-MSFT commented on #17976
Yes, the end user would be required to accept both.

[2018-11-01 18:03] navyasric commented on #17006
@manish-shukla01 You can register your app to be multi-tenant under the setting. If you are using the Preview app registration experience, you can see this doc: https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-register-app#register-a-new-application-using-the-azure-portal

This allows you to let users sign in from other tenants as well. Note that for MSA accounts to acces

[2018-11-01 18:04] YutongTie-MSFT commented on #17965
@Ahmad-Al-Ali
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-11-01 18:04] #17965 closed

[2018-11-01 18:05] MicahMcKittrick-MSFT commented on #18041
@Dawny33 I was able to run the command without errors.

For this example I used the Azure Cloud Shell. This ensures you are always running Azure CLI with the most updated version. Generally, if you get a command not recognized error it means your Azure CLI is out of date.

You can try running through this doc using the Azure Cloud Shell or updating your local instance of Azure CLI. The most curren

[2018-11-01 18:07] MarileeTurscak-MSFT commented on #18066
@gunnarcms
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-01 18:07] MicahMcKittrick-MSFT commented on #18043
@raduart the command will take the location of the resource group and use that to deploy the container instance. However, I can see how if you are using a resource group in another region then you would want to specify the location you want to deploy the container to.

@dlepow can you take a look and see if we should add that information to the doc?

[2018-11-01 18:08] Karishma-Tiwari-MSFT commented on #17211
@newgamer1117 Yes, you will have to change the setting for all as RedHat approach is used as default setting for all. Thanks.

[2018-11-01 18:11] rolyon commented on #17976
Great, thanks Joe. @MarileeTurscak-MSFT  fyi

@xNiklasJern We will work on adding some text to the article.

[2018-11-01 18:12] MicahMcKittrick-MSFT commented on #18052
@raduart fair point. Generally in this docs we provide guidance to simply delete the entire resource group which takes care of all the additional resources.

@dlepow can you take a look and see how we can add to this doc? I would suggest providing customers a way to delete the entire resource group rather than individual instances. Otherwise, @raduart provide some steps to delete additional resour

[2018-11-01 18:13] YutongTie-MSFT commented on #17904
@keshavksingh Hi, can you please make sure a load_data function that's included in the util.py file. And this file is included in the sample folder. Please make sure it is placed in the same folder as this notebook.

[2018-11-01 18:15] cynthn commented on #17424
@Karishma-Tiwari-MSFT https://help.github.com/articles/transferring-an-issue-to-another-repository/ you have to have admin permissions to transfer, so it might not apply :)

[2018-11-01 18:16] MicahMcKittrick-MSFT commented on #18055
@promontis we do specify the namespace kube-system which is the default namespace

You can modify that though

![image](https://user-images.githubusercontent.com/32313503/47870667-54753d00-ddc7-11e8-99e5-191f3be3cc86.png)

Make sure helm is initialized before you run the command.

Try `helm init` prior to running

[code]

[2018-11-01 18:18] YutongTie-MSFT commented on #18028
@luigiw Hi, this tutorial is used under the conda environment and the command work well for it! Thanks for your feedback.

[2018-11-01 18:20] raduart commented on #18043
Hi Micah
Reply inline

Thanks

Rafael Duarte

[cid:image003.png@01D1C232.06F15E50]

Support Engineer
Microsoft Azure Technical Support
Customer Service and Support
Microsoft Portugal – Parque das Nações – Lisboa

raduart@microsoft.com<mailto:raduart@microsoft.com>
Phone: +351 21 060 2323
Working Hours: Mon-Fri 9-18 WET

If you need to work with another Microsoft Azure Technical Support Engineer ou

[2018-11-01 18:20] jason-j-MSFT commented on #18047
@JasonWHowell should this be adjusted?

[2018-11-01 18:21] YutongTie-MSFT commented on #17809
@tkanngiesser We'd like to work with you further on this issue. Can you please email us at azcommunity@microsoft.com? Please provide us with your subscription ID and the URL for this thread.

[2018-11-01 18:21] drub0y opened #18067 "Article needs upgrading to v4"
This article refers to creating a v3 web app bot and then the subsequent code samples are done using the v3 SDK. Should be upgraded to v4.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3041fcf6-3b37-8d88-4d16-73ad0f841b78
* Version Independent ID: 76c146ee-7c51-9486-9a76-cac90ca9b674
* Content: [LUIS and QnAMaker - Bo

[2018-11-01 18:22] YutongTie-MSFT commented on #17880
@hning86 Hi Hai, can you pleas take a look of this issue? Thanks a lot!

[2018-11-01 18:28] conceptdev commented on #18006
According to the [UWP Push notifications](https://docs.microsoft.com/en-us/windows/uwp/design/shell/tiles-and-notifications/windows-push-notification-services--wns--overview) doc, you register at the [Windows Dev Center](https://developer.microsoft.com/en-us/windows).

[2018-11-01 18:29] ajaypamarthy opened #18068 "Broken links"
"Azure Data Explorer" and "query language from Data Explorer" are broken links

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82c1f2f2-da35-02b0-b59d-1e1f4d982904
* Version Independent ID: f27d9109-3172-7425-d201-82146d9216c2
* Content: [Analyze Log Analytics data in Azure Monitor](https://docs.microsoft.com/en-us/azur

[2018-11-01 18:34] bwren commented on #18050
This is for the Security and Audit solution which I don't believe is moving to the new portal.  Its functionality has been replaced with Azure Security Center.

[2018-11-01 18:38] promontis commented on #18055
@MicahMcKittrick-MSFT no, I mean the release name, not the namespace. So `--name`

[2018-11-01 18:39] wallyhall opened #18069 "Typo (trnascriptions)"
Under heading "Batch transcription API", bullet point 3.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73fb7e76-fb80-c420-2efe-e3ca3a27b749
* Version Independent ID: 07a42557-deb3-e4b3-3f14-f26a27be49c2
* Content: [Azure Batch transcription API](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/

[2018-11-01 18:45] Anand-Moghe opened #18070 "EA billing accounts are not supported by budgets."
What is the meaning of "EA billing accounts are not supported by budgets." ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09acb09f-6171-fdd8-a5d4-0d036b467c5a
* Version Independent ID: 1bffb9cc-b99e-c000-eb9e-47981e27eedc
* Content: [Tutorial - Create and manage Azure budgets](https://docs.microsoft.com/en-us/azure/c

[2018-11-01 18:53] #18045 closed

[2018-11-01 18:55] johnwildes commented on #18065
It works if there are spaces in the name, we were running into issues where the profiler was saying it couldn't find the input text file in the directory we were specifying, and it was in fact there.  We assumed it was masking an error of data in the text file so we tried a couple of different things to mask the spaces in the name because there wasn't an example that this was supported.

We ended

[2018-11-01 18:56] priyamohanram commented on #17245
@AErmie: Thanks for your patience! The problem might be due to an incorrect download from the [GitHub repository](https://github.com/AzureAD/Deployment-Plans/tree/master/Log%20Analytics%20Views). The easiest way would be to go to the [main repository](https://github.com/AzureAD/Deployment-Plans), select **Clone or download** -> **Download zip**, extract it and use the views from the Log Analytics

[2018-11-01 19:02] dlepow commented on #18009
This doc fix should publish within the next day. Thanks again for the tip.
#please-close

[2018-11-01 19:09] #18009 closed

[2018-11-01 19:09] ajaypamarthy opened #18071 "ARM template"
please provide ARM template reference to perform this action.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1eb6343-c4d6-6b06-f2eb-1c9435f997f3
* Version Independent ID: 7413b72d-8305-eb0f-3876-2fcb013c5196
* Content: [How to integrate Azure Active Directory logs with Log Analytics by using Azure Monitor (preview)](h

[2018-11-01 19:16] MicahMcKittrick-MSFT commented on #18055
@promontis ah okay sorry I misunderstood.

You can absolutely specify a name. If you do not, then you will be automatically provided one.

For example, I specified the name **micah-ingress** and it creates a controller using that name. However for the ones I do not specify a name you can see it automatically creates one

![image](https://user-images.githubusercontent.com/32313503/47873907-ab7f1000

[2018-11-01 19:22] georgewallace commented on #17237
@tFable Thanks, I will go ahead and request this issue be closed as the doc is correct and we added the additional information for other 1st party patches.. If you have any other questions or find anything in the docs that need to be corrected, do not hesitate to reach out. @MicrosoftDocs/azure-cxp-triage #please-close

[2018-11-01 19:22] tchristiani commented on #17664
The new Speech Service and SDK is replacing Bing Speech, which will no longer work starting October 15, 2019. For information on switching to the Speech Service, see [Migrating from Bing Speech to the Speech Service.](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-migrate-from-bing-speech)
#please-close

[2018-11-01 19:28] #17237 closed

[2018-11-01 19:30] Alberto-Vega-MSFT commented on #18068
@ajaypamarthy Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-01 19:31] raduart commented on #18052
Hi Micah,

Just to add more information on creating ACI that will use RG location.
On my repro I was simulating cx environment and I  have created a RG in eastus.
Deploy a new container as per documentation and I was able to deploy without any error.

Following with cleanup Network resources script I have attempted to delete “service association link (SAL) ID”
And I have found this error with debu

[2018-11-01 19:33] CelesteDG commented on #18017
Thank you, @mdorey - I'll follow up on this and get back to you with any additional info.

[2018-11-01 19:33] bdcoder2 commented on #17987
Thank-you goddess @Karishma-Tiwari-MSFT ! -- most of the links provided are very useful resources -- that is exactly the type of information that should be present in the documentation for the Set-AzureRmVMExtension command !

With regard to using "IIS" as a parameter value -- I get that the tutorial is about installing IIS, but WHERE does one find the actual list of values that -ExtensionName acc

[2018-11-01 19:42] areddish commented on #7325
Closing as the article was updated to include the argument names.

[2018-11-01 19:44] mikary commented on #16813
I see you added the latest official image to the documentation, but the manual steps for Ubuntu 18.04 and 10.10 appear to be missing.

[2018-11-01 19:44] MicahMcKittrick-MSFT commented on #18014
@mcasperson thanks for reaching out. I am working offline to see what we can add. Will update you shortly.

[2018-11-01 19:46] yashesvi commented on #13050
This is done.

[2018-11-01 19:46] yashesvi commented on #13050
https://docs.microsoft.com/en-us/azure/billing/billing-manage-reserved-vm-instance
https://docs.microsoft.com/en-us/azure/virtual-machines/linux/prepay-reserved-vm-instances

Thanks for the feedback.

[2018-11-01 19:48] cynthn commented on #17943
@hahazeMSFT thank you for the feedback! I've updated the article to note that you should use your own value for domainnamelabel.

#please-close

[2018-11-01 19:50] #13030 closed

[2018-11-01 19:50] #17245 closed

[2018-11-01 19:51] #17943 closed

[2018-11-01 19:53] dlepow commented on #18010
@rpdeguzman - To use an existing VNet, the resources don't all have to be in the same resource group. For an existing VNet in a different group, in the `az container create` command, pass the full resource IDs of the VNet and subnet. (If you need to get these IDs, try the `az network vnet show` command.) Example:
[code]

Please let us know if this works for you?
This option is mentioned in the `az

[2018-11-01 19:59] guzo-kevin opened #18074 "Is the following paragraph wrong?"
Add 0.0.0.0 to allowed ip means it allows connections from anywhere, isn't it?

Quote: "Connections from Global Azure datacenters or Azure PaaS services
Azure PaaS services like Azure Stream analytics, Azure Functions etc. are used in conjunction with Azure Cosmos DB. To allow applications from other Azure PaaS services to connect to your Azure Cosmos DB resources, a firewall setting must be enabl

[2018-11-01 20:05] tchristiani commented on #7325
#please-close

[2018-11-01 20:07] promontis commented on #18055
Mmm... according the docs, it should indeed provide one automatically. I don't know why I get the error, but when I specify a name it works. Using the Azure Cloud Shell so should be the latest version.

[2018-11-01 20:07] dlepow commented on #18043
@raduart @MicahMcKittrick-MSFT  - Thanks for pointing this out. The doc is pretty clear on the [preview limitations](https://docs.microsoft.com/en-us/azure/container-instances/container-instances-vnet#preview-limitations) for the VNet functionality, but even so I can understand a customer might overlook that information when running the example commands. I will add a sentence above the command abo

[2018-11-01 20:07] cynthn commented on #17623
@jtuliani thanks for the feedback! I'm running some tests with different configurations so I can clarify any limits. Thanks!

[2018-11-01 20:08] danry25 commented on #18040
Hey Diego, the document I linked to originally has the broken link, looks like the only difference between the broken link in [this document](https://github.com/MicrosoftDocs/azure-docs/blob/master/includes/cognitive-services-bing-speech-api-deprecation-note.md) and the one you included in your comment was the use of two capital S in Speech-Service.

[2018-11-01 20:08] MarileeTurscak-MSFT commented on #18048
Hi @tjoycebrook ,
The problem you are mentioning is a known issue. Currently when you convert to Azure AD Premium and want to use conditional based access there are some discrepancies. When you go from Enable/Enforce to a conditional access policy users have to re-register because when the you convert to conditional access policies you need to disable the user, and doing so deletes the flag which

[2018-11-01 20:09] MarileeTurscak-MSFT commented on #18048
We will proceed to close this thread. If you have further questions, please leave a comment and tag either me or @MicrosoftGuyJFlo and we will gladly continue the conversation.

[2018-11-01 20:09] #18048 closed

[2018-11-01 20:10] gate502 commented on #9556
Thanks for the Article - this worked to allow group access based on roles configured with Graph API on a SAML response in AppDynamics.  Great work!

[2018-11-01 20:12] kanshiG commented on #18074
This setting allows access from Azure IP range and similar to SQL Azure - https://docs.microsoft.com/en-us/azure/sql-database/sql-database-firewall-configure

[2018-11-01 20:14] tchristiani commented on #5382
please reassign to @PatrickFarley

[2018-11-01 20:14] tchristiani commented on #5934
please reassign to @PatrickFarley

[2018-11-01 20:15] tchristiani commented on #6880
please reassign to @PatrickFarley

[2018-11-01 20:15] conceptdev commented on #18006
While investigating further, I found these [App Center instructions](https://docs.microsoft.com/en-us/appcenter/sdk/push/uwp#2-get-package-sid-and-application-secret-from-application-registration-portal) might be more relevant, and they link to https://apps.dev.microsoft.com/

[2018-11-01 20:16] tchristiani commented on #6892
please reassign to @PatrickFarley

[2018-11-01 20:16] MicahMcKittrick-MSFT commented on #18014
@mcasperson I would suggest you look at the following doc instead:

https://docs.microsoft.com/en-us/azure/aks/kubernetes-service-principal

For kubernetes based cluster you should actually move to AKS instead of ACS. The AKS-based doc is much clearer as to what parts of the SP output is needed and overall running kubernetes in AKS will provide you with a much smoother and more reliable experience

[2018-11-01 20:16] #18014 closed

[2018-11-01 20:18] tchristiani commented on #7021
please reassign to @erhopf

[2018-11-01 20:19] tchristiani commented on #7022
Please reassign to @erhopf

[2018-11-01 20:19] tchristiani commented on #7023
#please-close

[2018-11-01 20:21] tchristiani commented on #7075
The new Speech Service and SDK is replacing Bing Speech, which will no longer work starting October 15, 2019. For information on switching to the Speech Service, see [Migrating from Bing Speech to the Speech Service.](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-migrate-from-bing-speech)
#please-close

[2018-11-01 20:28] diberry commented on #18067
#in-progress

[2018-11-01 20:41] TracyGH opened #18075 "Invalid Azure AD Token Issuer Listed in MSDN Docs?"
Following this documentation:  [https://docs.microsoft.com/en-us/azure/architecture/multitenant-identity/web-api](https://docs.microsoft.com/en-us/azure/architecture/multitenant-identity/web-api), I am attempting to authenticate to my Azure AD secured web API with application identity.

Per the instructions, I set the JWT's authentication authority to "https://login.microsoftonline.com/common/", b

[2018-11-01 20:42] peterschen opened #18076 "Default configuration script not applied"
The article suggests that the default configuration script is applied for every configuration I pass. That seems not to be the case as my configuration fails and I can't set the LCM settings.

The error message looks something like this:
`The DSC Extension received an incorrect input: A parameter cannot be found that matches parameter name 'RefreshFrequencyMins'`

---
#### Document Details

⚠ *Do

[2018-11-01 20:42] SnehaGunda commented on #17703
#please-close

[2018-11-01 20:43] #18006 closed

[2018-11-01 20:44] conceptdev commented on #18006
I've updated the page with the link above. The new version will be published soon.

[2018-11-01 20:44] ProfKaz opened #18077 "Permissions Required"
Hi Guys, I need to know which permissions are required to work on this, I'm trying to establish a profile with the less privileges  to do the required tasks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c58c903b-778e-e1d9-31c3-321a6fd0050f
* Version Independent ID: 9ee47301-0c8d-26ff-1deb-6d309aef2f97
* Content: [Dyna

[2018-11-01 20:44] SnehaGunda commented on #17638
@gharmer Do you have further questions?

[2018-11-01 20:45] SnehaGunda commented on #17801
@keithcn we will now close this issue. If you have further questions feel free to reopen.

#please-close

[2018-11-01 20:51] jasonshave opened #18078 "Proxy timeout configuration?"
Is there away to configure timeouts for proxy configurations? We have a timeout parameter for functions themselves but I've heard from customers saying they are getting timeouts on proxy configurations whereas going directly to the function app URL works fine. If not, what is the current threshold before a timeout?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2018-11-01 21:00] erhopf commented on #17188
@wolfma61 - Can you have someone on your team review this issue.

[2018-11-01 21:02] MarkusVi commented on #16036
#please-close

[2018-11-01 21:03] Mike-Ubezzi-MSFT commented on #18038
@dfencegit Thank you very much for your interest in Azure services and the detailed feedback. I have assigned this to the content owner to evaluate and update as necessary.
A possible option might be to include the `Ignore` argument in the command execution to not raise any Warnings but, I don't see any examples of this being used.

[2018-11-01 21:04] erhopf commented on #17323
#please-close

@nschonni - It looks like [RawGit](https://rawgit.com/) will support existing documentation through October 2019. As this is the same point that Bing Speech Service will be retired, there are no plans to migrate documentation to a different platform. If at the time both services are deprecated you encounter any issues, please feel free to re-open this ticket and we will re-evaluate.

[2018-11-01 21:05] tfitzmac commented on #17878
@johnthcall - I ran a test with reference as the true path for an if expression within a copy, and it worked as expected. For you scenario, I would suggest looking at the error message stating all arguments should be of type boolean. I am not sure why it would state that. Are you using an if expression to assign a value that expects a Boolean? Or, perhaps the syntax is not resolving correctly.

[2018-11-01 21:07] billmath commented on #15623
@markaldridge Thank you for catching this.  I have fixed this and it should be live later this evening.

[2018-11-01 21:07] billmath commented on #15623
#sign-off

[2018-11-01 21:07] dlepow commented on #18052
@MicahMcKittrick-MSFT - You are correct, it would be preferable to delete the entire resource group instead of individual resources, but in the preview this usual method doesn't work to delete the network profile and service association link. I know the engineering team plans to improve this experience in the future.

@raduart - Thanks for pointing out an enhancement to the resource deletion scrip

[2018-11-01 21:09] billmath commented on #15623
#please-close

[2018-11-01 21:10] billmath commented on #15725
@NeilPetersen Thanks for catching this.  I have fixed this and it should be live later today.  Thank you!

[2018-11-01 21:10] billmath commented on #15725
#please-close

[2018-11-01 21:11] MicahMcKittrick-MSFT commented on #18076
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-01 21:14] mikebudzynski commented on #17097
Thanks @solidcloudio - fair point. We have fixed the documentation (please, give it some time to propagate).

[2018-11-01 21:32] #17097 closed

[2018-11-01 21:36] YutongTie-MSFT commented on #18069
@wallyhall Hi, thanks for reporting this typo, I have fixed it. You should see the change shortly. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-01 21:36] #18069 closed

[2018-11-01 21:36] alexkarcher-msft commented on #18078
Timeouts set in host.json should apply to Proxies as well as Functions. The default should be 5 minutes, configurable up to 20 mintues.

[2018-11-01 21:41] ahmedmakhlouk commented on #17520
Thank you @dlepow worked fine.

[2018-11-01 21:42] YutongTie-MSFT commented on #17323
@nschonni We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-01 21:42] #17323 closed

[2018-11-01 21:44] TracyGH opened #18079 "How do I make it retrieve the certificate for users other than me?"
I have successfully implemented the sample above using the Azure certificate store.  However, the code fails when colleagues try to run it in Visual Studio logged in with their profile.  My guess is that it's only working for me because of these parameters:  `X509Store(StoreName.My, StoreLocation.CurrentUser)`.

If that's the case, how do I reconfigure the code so that it can access the certificat

[2018-11-01 21:59] tfitzmac commented on #17774
@xenalite - there is not an easy way to do this right now, but the product team is aware of the need. If you know how many elements your array has, you could use the [createArray](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-template-functions-array#createarray) function and manually provide each element. Like:
"[createArray(parameters('objects')[0].subnetAddressSpa

[2018-11-01 22:00] sudhirap commented on #17351
Is it this issue https://medium.com/@nprch_12/docker-exited-132-e38f9dd2cd0d?

Does sse4_2 show up in the output of cat /proc/cpuinfo | grep sse4_2?

[2018-11-01 22:02] MarileeTurscak-MSFT commented on #18077
@ProfKaz
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-01 22:04] MarileeTurscak-MSFT commented on #18071
@ajaypamarthy thanks for the feedback! I have assigned this issue to the content author, @priyaananthasankar, to look into.

[2018-11-01 22:04] JeremyWeir commented on #6841
This is the best UserVoice Idea I could find that matches what this issue is requesting.

https://feedback.azure.com/forums/217321-sql-database/suggestions/34337935-monitor-queries-on-secondary-database-when-read-sc

Everyone go vote 3x!

[2018-11-01 22:17] whihathac opened #18080 "Use managment dll to set retry interval and event ttl?"
How do we set the subscription properties for retry interval and event-ttl via Microsoft.Azure.Management.EventGrid.dll?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ad5c953-fa75-9944-5539-111bfc52e892
* Version Independent ID: 00d37a17-4f7d-779e-8243-786c1d4dba7d
* Content: [Dead letter and retry policies for Azure

[2018-11-01 22:19] RowdyChildren opened #18081 "deviceOwnership values are incorrect"
deviceOwnership values are Personal, Corporate, and Unknown not Personal, Company, and Unknown

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f7a4070-1be8-5f1f-0092-68fb6b9e2305
* Version Independent ID: cd34312f-b507-affe-555e-1e0c63e7d494
* Content: [Dynamic automatic group membership rules reference in Azure Active

[2018-11-01 22:30] MarileeTurscak-MSFT commented on #18075
@TracyGH
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-01 22:41] YutongTie-MSFT commented on #7021
@rajivramanjani
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-11-01 22:41] #7021 closed

[2018-11-01 22:42] YutongTie-MSFT commented on #7075
@x7chen
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-11-01 22:42] #7075 closed

[2018-11-01 22:42] YutongTie-MSFT commented on #7023
@Tilotiti
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-11-01 22:42] #7023 closed

[2018-11-01 22:42] YutongTie-MSFT commented on #7325
@deldersveld
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-11-01 22:42] #7325 closed

[2018-11-01 22:43] CelesteDG commented on #18054
Hello @wmmaintz - Thank you very much for your feedback. I've added notes in the v1 and v2 versions of the "Register an app" topics noting that there is a new app registrations (preview) experience. These existing experiences are still supported, and can be used (e.g. the v1 app manifest editor allows you to edit optional claims while the new preview experience doesn't have this functionality yet,

[2018-11-01 22:45] CelesteDG commented on #18054
Content has been updated and responses provided to customer. #please-close

[2018-11-01 22:46] markaldridge commented on #15623
Confirmed that the modern authentication link is now working for en-au

[2018-11-01 22:46] #15623 closed

[2018-11-01 22:49] CelesteDG commented on #18017
Hello @mdorey - I added some additional information to the important note that's currently in the optional claims topic. It notes that the new **App registrations (Preview)** experience doesn't yet support optional claims in the app manifest editor so you'll need to use the existing **App registrations** (v1) experience to do edit your optional claims. Our feature team has a work item to address t

[2018-11-01 22:50] CelesteDG commented on #18017
Documentation has been updated and provided info to customer. #please-close

[2018-11-01 22:51] CelesteDG commented on #17569
Info provided to customer. #please-close

[2018-11-01 22:52] MarileeTurscak-MSFT commented on #18075
@TracyGH I have assigned this issue to the content author, @MikeWasson , to look into your feedback.

[2018-11-01 22:52] sandervandevelde commented on #17351
Hello sudhirap,

The processor is an older model Atom CPU (an E3815 I read from the [manual](http://advdownload.advantech.com/productfile/PIS/UNO-2271G/Product%20-%20Datasheet/UNO-2271G20180910102426.pdf)).

But yes, it seems sse4_2 is part of it:

flags           : fpu vme de pse tsc msr pae mce cx8 apic sep mtrr pge mca cmov pat pse36 clflush dts acpi mmx fxsr sse sse2 ss ht tm pbe syscall nx rd

[2018-11-01 22:52] MicahMcKittrick-MSFT commented on #17433
@IrakliLomidze as far as I know the logged session remains in session until the VM is shutdown or restarts.

For example, I worked in a VM last week where I left a few browsers open and some files. I logged in today and everything was still open just as I left it. Unlike on premise machines, we don't put the compute to "Sleep" per say after a certain period of time. This is how many people will us

[2018-11-01 22:53] tfitzmac commented on #18080
@whihathac - are you using the latest preview version[https://www.nuget.org/packages/Microsoft.Azure.Management.EventGrid/3.0.1-preview](https://www.nuget.org/packages/Microsoft.Azure.Management.EventGrid/3.0.1-preview)? You should see a property called RetryPolicy.

[2018-11-01 22:53] iainfoulds commented on #12740
@jcelgin From the product group: HITRUST compliance is on the roadmap to be completed in the next certification cycle. The updated report is then due in the summer. We'll update the docs with additional compliance certifications that AKS achieves.

[2018-11-01 22:56] kylepope commented on #15490
@mchudinov - were you ever able to figure out how to actually access/create the certificate .pfx file? It still isn't clear how exactly that certificate is configured on the ADFS server and how you obtain it (or create it?).

[2018-11-01 22:56] CelesteDG commented on #15447
@SaurabhSharma-MSFT @MarileeTurscak-MSFT @MohitGargMSFT @MicahMcKittrick-MSFT Please reassign this to our PM, @jmprieur

@jmprieur - Sorry for the delay. I was just going through the GitHub issues again and realized that this is more of a request for a new sample first rather than a doc fix. Please see original ask from the customer. Thank you.

[2018-11-01 22:57] SnehaGunda commented on #17882
@sbhuttan I guess Rimma's response helps. For the feature request- RU calculator supporting calculation based on consistency model please create a uservoice request: https://feedback.azure.com/forums/263030-azure-cosmos-db

We will proceed to close this issue if you have further questions feel free to reopen.

[2018-11-01 22:57] SnehaGunda commented on #17882
#please-close

[2018-11-01 22:58] YutongTie-MSFT commented on #18028
@luigiw
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-11-01 22:58] #18028 closed

[2018-11-01 22:58] YutongTie-MSFT commented on #17809
@tkanngiesser We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-11-01 22:58] #17809 closed

[2018-11-01 23:01] SnehaGunda commented on #18074
@guzo-kevin as Govind mentioned above, the 0.0.0.0 IP allows all connections from Azure IP range.

[2018-11-01 23:02] SnehaGunda commented on #17398
#please-close

[2018-11-01 23:09] MarileeTurscak-MSFT commented on #18059
Hi @cdeli are you leaving this as product feedback? If so, the best place to leave this request so that you can get a response would be in the feedback forum: https://feedback.azure.com/forums/347535-azure-security-center

[2018-11-01 23:09] MarileeTurscak-MSFT commented on #18059
We will proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the discussion and help you to find a resolution.

[2018-11-01 23:09] #18059 closed

[2018-11-01 23:10] krokoko commented on #17936
Just to rephraze my question : what is the process to provision a leaf device using a gateway in transparent mode ? As DPS is not available, how can I interact from IoT hub with my device ? The connection string on leaf device is the one from the gateway so i see nowhere the device identity. Thank you !

[2018-11-01 23:13] SnehaGunda commented on #15405
@sennendoko I have a work item in my backlog to revamping this tutorial in the upcoming weeks. Currently we are updating our conceptual docs and will get to this tutorial soon.

[2018-11-01 23:13] MarileeTurscak-MSFT commented on #18056
Hi @wmmaintz , I have assigned this issue to the content author, @CelesteDG , to look into your feedback.

[2018-11-01 23:14] SnehaGunda commented on #15405
#please-close

[2018-11-01 23:16] Anand-Moghe commented on #18070
@bandersmsft Thanks for the explanation. Yes, some clarification will be nice.

[2018-11-01 23:16] #18070 closed

[2018-11-01 23:18] tfitzmac commented on #17878
#please-close

[2018-11-01 23:18] #15725 closed

[2018-11-01 23:18] #16036 closed

[2018-11-01 23:18] #17703 closed

[2018-11-01 23:18] #17801 closed

[2018-11-01 23:35] rpdeguzman commented on #18010
I’ve tried…
It’s looking like it is trying to update the existing vnet…

Resource /subscriptions/xxx/resourceGroups/network-rg/providers/Microsoft.Network/routeTables/aci-usw1-s19us cannot be created in or updated to use the subnet /subscriptions/xxxx/resourceGroups/network-rg/providers/Microsoft.Network/virtualNetworks/aci-vnet/subnets/aci-subnet since it has delegation(s) [/subscriptions/xxx/res

[2018-11-01 23:36] alexcnichols commented on #18064
Here's one: https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/helm-deploy?view=vsts

[2018-11-01 23:40] MicahMcKittrick-MSFT commented on #18064
@alexcnichols Awesome! Thanks! Not sure how I missed that one :)

@RehanSaeed take a look at that doc and see if it helps you. I will close this for now but if you have additional asks just let me know

[2018-11-01 23:40] #18064 closed

[2018-11-01 23:41] BryanTrach-MSFT commented on #18079
@TracyGH Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-01 23:43] MicahMcKittrick-MSFT commented on #18055
@iainfoulds do you know what might be causing the error? I know I have seen this error before but I can't remember what the actual issue was

[2018-11-01 23:46] christianarg commented on #16643
@anosov1960  (Sasha) helped with is issue and he was right. The charge we were seing was the storage Add on, which went on GA about the same time so that's what confuseds. Thanks again Sasha

[2018-11-01 23:46] #16643 closed

[2018-11-01 23:47] Karishma-Tiwari-MSFT commented on #18030
@ramankumarlive Can you please take a look and confirm on this? Looks like a similar issue is open [here](https://github.com/MicrosoftDocs/azure-docs/issues/8861).

[2018-11-01 23:48] diberry commented on #8878
Generate answer is still supported. Please read [this tutorial](https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/tutorials/create-publish-query-in-portal) to understand how to query for an answer. #in-progress

[2018-11-01 23:48] MarileeTurscak-MSFT commented on #18058
I believe you need a B2C tenant to use this. @curtand can you please confirm?

[2018-11-01 23:49] diberry commented on #9997
@bawejainnovation Thank you for submitting this feature request. I will pass it on to the product team. #in-progress

[2018-11-01 23:50] diberry commented on #9103
@faraazc @PhantasmNZ This is on the roadmap but I don't have a date yet. #in-progress.

[2018-11-01 23:51] SnehaGunda commented on #17588
@SychevIgor Thanks for the feedback, yes most of our docs focus on the SQL API which supports most features than the other APIs. Looking at the left nav of the docs, if a doc applies to a specific API, we place it under it's left nav item. which means all docs under MongoDB, Cassandra, Table, Gremlin correspond to the API specific. But I see that not all users may browse through the left nav and m

[2018-11-01 23:52] xcruzz commented on #17233
Not a single line of Node.JS is displayed in this article named "using a Node Web App". Agreed with y Lroca88

[2018-11-01 23:52] SnehaGunda commented on #17588
#please-close

[2018-11-01 23:54] SnehaGunda commented on #17337
#please-close

[2018-11-01 23:59] jeevansd commented on #9556
@gate502 Thanks for the good words! This is motivating for our team.

[2018-11-02 00:03] MarileeTurscak-MSFT commented on #18081
@RowdyChildren
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-02 00:04] Adam-Smith-MSFT commented on #18065
@johnwildes Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-02 00:05] MarileeTurscak-MSFT commented on #18081
Thanks, @RowdyChildren. I made a pull request to the document with your change. CC: @RowdyChildren PR number is #56926

[2018-11-02 00:05] #18081 closed

[2018-11-02 00:06] nazneen84 commented on #17385
It was an issue with our corporate proxy. I reset it and used an external network to connect. Thanks for your help!

[2018-11-02 00:16] kiglus opened #18084 "Please."
Please just make a template a person can copy past then modify.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e8b925e-ace5-40dd-f70f-f65670db151d
* Version Independent ID: 44534890-fcac-f171-f9c5-f4ceae0995d4
* Content: [Create Service Bus Messaging namespace using Azure Resource Manager template](https://docs.micros

[2018-11-02 00:28] KeiroKamioka0000 opened #18085 "Is stack V2 Backup is default"
Sorry for asking silly question.
Currently, by default, is all of backup are made as stack V2?

If so, please close this thread.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39cd4ce6-5297-91f5-1855-a5ff04585dac
* Version Independent ID: 0eb56a26-77e9-8a81-a425-c64994d117e3
* Content: [Upgrade to the Azure VM

[2018-11-02 00:30] cynthn commented on #17623
@jtuliani thanks again for the feedback! Yes, it looks like you are correct. I tested and was able to create an AV set with VMs that had varying numbers of NICs attached. This doc has the correct information:  https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-network-interface-vm and I will update this doc: articles/virtual-machines/windows/network-overview.md to reflect the c

[2018-11-02 00:34] SnehaGunda commented on #16339
@martinsmith123456 Sorry for the long delay and thanks for the feedback. I submitted a PR to fix the return type description for Array_Slice. I agree with you that the descriptions throughout the doc should be improved, it looks like the doc was auto-generated with minimal descriptions which aren't helpful. I passed this feedback to our dev team as well in case the descriptions should be fixed in

[2018-11-02 00:34] SnehaGunda commented on #16339
#please-close

[2018-11-02 00:35] #15405 closed

[2018-11-02 00:36] #17337 closed

[2018-11-02 00:36] #17398 closed

[2018-11-02 00:36] #17569 closed

[2018-11-02 00:36] #17588 closed

[2018-11-02 00:36] #17878 closed

[2018-11-02 00:36] #17882 closed

[2018-11-02 00:36] #18017 closed

[2018-11-02 00:37] #18054 closed

[2018-11-02 00:37] cynthn commented on #17581
@roiyz-msft Besides OMS and DSC, are there other extensions that need to be removed before generalizing a VM and using it to create an image? Are there extensions that are "safe" to leave installed?

[2018-11-02 00:38] jluk commented on #17920
@isobit thanks for reaching out! ACI does use SMB for file share mounting. ACI file shares should behave just like they do for VMs, so concurrent operations should behave the same as well as any compatible SMB operation. Give it a try and let us know if something doesn't behave properly. @dlepow this would be a good note to add.

[2018-11-02 00:43] CelesteDG commented on #15447
@MicahMcKittrick-MSFT @DiegoRamirez-MSFT Hello, after some discussion with the team, please reassign this back to me. We're working jointly to make updates to the doc.

[2018-11-02 00:50] louisjvn commented on #18031
Hi, sorry for this. I submitted the feedback on the wrong page.

The page that has the issue is the one for Scalesets on Windows hosts. I was trying the Linux one to see if it had similar issue and incorrectly logged the feedback on that page.

The one I am having issues with is the Windows version https://docs.microsoft.com/en-us/azure/virtual-machines/windows/tutorial-create-vmss

I am MS employ

[2018-11-02 00:50] SnehaGunda commented on #16802
@jfcomst Thanks for your feedback, DateTimeOffset is supported by Cosmos DB but it's up to the user to serialize the datetimeoffset as a lexographically sorted string, for example, ISO 8601 formatted string: "2009-02-15T00:00:00Z". You just need to convert the datetimeoffset to a ISO 8601 string. We don't  have any existing sample code to add to the doc. I will have a work item in the backlog for

[2018-11-02 00:51] SnehaGunda commented on #16802
#please-close

[2018-11-02 01:08] cynthn commented on #17203
#please-close I added a little text to the article a couple of days ago to recommend cleanly shutdown the VM before creating the snapshot :)

[2018-11-02 01:11] KeiroKamioka0000 opened #18086 "Is it IOPS?"
Regarding the limitation of default 10,000 to up to 50,000 stuff.
I strongly assuming these are limitation for IOPS per Disk.
If that so, not only number, please include IOPS in the detail of the list.

Some person may confuse with capacity limit.

Thanks,

https://docs.microsoft.com/en-us/azure/azure-subscription-service-limits#virtual-machine-disk-limits
For Azure Managed Disks: Limit

---
####

[2018-11-02 01:15] dcbrown16 commented on #17203
Thanks @cynthn!

[2018-11-02 01:15] #17203 closed

[2018-11-02 01:19] cynthn commented on #16592
@Prasad-Pillutla thank you for the feedback! I've updated the doc to reflect the extra step. Thanks again :)

#please-close

[2018-11-02 01:42] spelluru commented on #18084
@kiglus - On the page, if you click **Deploy to Azure** button in blue, it takes you to the portal with the quickstart template open. On the portal page, you can click **Edit Template** to see the full template.

You can also find this quickstart template at:
https://github.com/Azure/azure-quickstart-templates/tree/master/101-servicebus-create-namespace

Or in the Azure portal, click **Create a re

[2018-11-02 01:46] #16592 closed

[2018-11-02 01:47] testerting opened #18089 "Cannot delete Digital Twins resources"
I am get some issues with the Digital Twins Quickstarts document
https://docs.microsoft.com/en-gb/azure/digital-twins/quickstart-view-occupancy-dotnet

When I try to clean up resources by deleting **testdt** (Digital Twins) resources, it shows up an error

![image](https://user-images.githubusercontent.com/32080604/47889076-34637d80-de9c-11e8-94bf-02f31bbfe89d.png)

![image](https://user-images.gi

[2018-11-02 01:55] ebashmakov commented on #18018
@Adam-Smith-MSFT thanks for the replaying. I maybe looking in a wrong place but I only see the same example everywhere: `/images/*` and `/video/*`. Does it mean that I can do only something like this: `/something/*` and `/something1/something2/*`? Or I can also do: `/*.jpg`, `/images/**/img*.jpg`, `/**/*-video.mp4`?

[2018-11-02 02:18] MicahMcKittrick-MSFT commented on #18031
@louisjvn no worries. I just tested that doc as well. I was able to connect after the first run through

![image](https://user-images.githubusercontent.com/32313503/47889982-e867f880-de09-11e8-9d0d-730e5a87ce9f.png)

The correct load balancer rule is created and after applying the custom script IIS is deployed and starts up without issue.

I also deployed this in my internal subscription and my pe

[2018-11-02 02:38] CHDAFNI-MSFT commented on #13050
@yashesvi  now that more documentation has come out. Let's revisit this... capacity planning now means the Azure fabric will reserve X VM series cores for the subscription. In this case reserve I believe now means guaranteed capacity. Any chance you can confirm, if true then the FAQ page as I originally referenced should be changed (and the doc page potentially)

[2018-11-02 02:40] kristopherjturner commented on #17440
On Step 4 I am running into issues with the -ExtensionHostFeature parameter.  I have not narrowed it down yet but I know if I run that command on a machine with Azure Stack PowerShell 1.5.0, Azure.bootstrapper 0.4.0, the newest hybrid profile, and the newest Readiness Checker I get the following error:

PS C:\> Start-AzsReadinessChecker -CertificatePath c:\certificates -pfxPassword $pfxPassword -R

[2018-11-02 02:47] onlyguest opened #18091 "Set up Dev Spaces on your AKS cluster Fail"
When I use command `az aks use-dev-spaces -g MyResourceGroup -n MyAKS` got error:

[code]

azds version: Azure Dev Spaces CLI (Preview) 0.1.20181018.11

azure cli version:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09fda5da-7455-bf21-5f38-c180aa53ecca
* Version Independent ID: 498aad3c-e635-7e62-2340-a2024b2

[2018-11-02 02:56] kristopherjturner commented on #17440
Update to my message above.  It looks like the newest Readiness Checker (1.1811.1101.1) maybe the issue.  As soon as I installed version 1.1811.1029.1 I had no issues with the -ExtensionHostFeature parameter.

[2018-11-02 03:55] ampac28 opened #18092 "Gzip compressed data size limitation in Stream Analytics"
We want to know the limitations of Gzip compressed data processing by Stream Analytics as we had one interesting finding, when we send compressed data of size more than one 1024 bytes stream analytics is not reading this data and we are not able to view the decompressed data as ouput file in the blob.

Is there any limit on size of each compressed data send to IoT hub processed by Stream Analytics

[2018-11-02 04:01] kobulloc-MSFT commented on #17898
@Ofekw We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2018-11-02 04:01] #17898 closed

[2018-11-02 04:02] MicahMcKittrick-MSFT commented on #18063
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-02 04:23] elang-bmrn opened #18093 "Template still working?"
Could you please confirm this template is still working, and also update the documentation to highlight how to connect to the new SQL cluster by its cluster IP address?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83b469f4-b118-3ce8-852f-535661ded5e4
* Version Independent ID: f720f442-9dc7-a6d5-afd9-97e173cbae9d
* Co

[2018-11-02 04:30] newgamer1117 commented on #17211
Thanks, it’s very clear, I think the issue can be closed now!

Sent from Chris Lin

Best Regards,

[2018-11-02 04:48] Dawny33 commented on #18041
Thanks Micah.

Any idea how I install the latest version of `azure-cli`?
I upgraded pip and then, upgraded azure-cli via pip. Yet, it keeps on installing `2.0.22`

[2018-11-02 05:06] yangyud-cn commented on #13924
My understanding is the assemblies were not found in the search path.   Have you added the "-AzureSDKPath" option to point to where the Azure SDK files are located ?

One way to find out the root cause is to use:  [https://docs.microsoft.com/en-us/dotnet/framework/tools/fuslogvw-exe-assembly-binding-log-viewer](https://docs.microsoft.com/en-us/dotnet/framework/tools/fuslogvw-exe-assembly-binding-l

[2018-11-02 05:28] #16339 closed

[2018-11-02 05:28] #16802 closed

[2018-11-02 05:28] #17623 closed

[2018-11-02 06:32] SaurabhSharma-MSFT commented on #17832
@JamesTerHark We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-11-02 06:32] #17832 closed

[2018-11-02 06:37] KetanChawda-MSFT commented on #15972
@kazshi Apologies for delay in response.

Currently there is no UI field to set the `LeasesCollectionThroughput` value but you can manually add it into the `function.json` file as shown below:

<pre>
{
  "bindings": [
    {
      "type": "cosmosDBTrigger",
      "name": "input",
      "direction": "in",
      "connectionStringSetting": "DOCUMENTDB_CONNECTION_STRING",
      "databaseName": "library

[2018-11-02 07:04] D3nnisd commented on #17980
Issue is fixed! I had to use the DRIVER instead of the DSN in the connection string.
Using ```
 Driver={PostgreSQL UNICODE};Server=IP address;Port=5432;Database=myDataBase;
Uid=myUsername;Pwd=myPassword;
[code]

[2018-11-02 07:04] gharmer commented on #17638
Thank you @kanshiG, I'll look into increasing the throughput and then dropping it back

@SnehaGunda, that answers my questions thank you.

[2018-11-02 07:11] SaurabhSharma-MSFT commented on #18037
@chriscoop The verification code sent to the respective email id is valid for 45 minutes.

[2018-11-02 07:17] jakaruna-MSFT commented on #18076
@peterschen can you check the output of the cmdlet `Get-DscLocalConfigurationManager` and verify if `RefreshFrequencyMins` is set or not. You need to execute this cmdlet as an administrator.
Also let us know the version of windows in which you are testing.

[2018-11-02 07:20] kanshiG commented on #17638
Please also reach out via support for raising the number of snapshots (they will be charged eventually) but will save you on long weekend when somebody does a mistake

[2018-11-02 07:53] jjindrich commented on #17578
@vhorne please could you ping me how will be model changed ?

[2018-11-02 07:58] skukan159 commented on #17592
Well we know because of 2 reasons. First, we added a recognizer.recognized function that is logging the result, which stops giving us any results after approx. 20 seconds. We also added a console.log on line 7630 of the javascript speech sdk, just under the RecognitionEndedEvent. Here is the code:
app.js
[code]

And here is the console.log on line 7630 of the speech sdk(we just added ethe console.

[2018-11-02 08:33] wolfma61 commented on #17592
sorry - my bad - I agree ...
we are investigating --- will require some more work

[2018-11-02 08:36] mike-urnun-msft commented on #17853
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81cb62b5-7d3d-82ac-cbf9-cf8ec72da034
* Version Independent ID: 69f0b334-acba-8dde-51d5-eb6bc9f85d5e
* Content: [Microsoft Graph bindings for Azure Functions](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-microsoft-graph)
* Content Source: [articl

[2018-11-02 08:53] chriscoop commented on #18037
@SaurabhSharma-MSFT thanks - after this time is the email address deleted from your servers? We're considering using Azure AD B2C but are wary that we're asking customers to enter their email address before they've seen / accepted any privacy policy or T&Cs.

[2018-11-02 08:53] PramodValavala-MSFT commented on #17674
@cowinr For an API App, there is an option to provide an "API Specification" under "API", like below

In this blade, you just provide the link to your swagger specification document and APIM just fetches this specification when you add this API App.

[2018-11-02 08:55] mcurko opened #18096 "Errors"
Create and connect the VPN gateways

New-AzureRmVirtualNetworkGatewayIpConfig : Cannot bind parameter 'Subnet'. Cannot convert the "/subscriptions/**************/resourceGroups/FW-Hybrid-Test/providers/Microsoft.Network/virtualNetworks/VNet-hub/subnets/GatewaySubnet" value of type "
System.String" to type "Microsoft.Azure.Commands.Network.Models.PSSubnet"

my solution =&gt;

$gwipconf1 = New-Azure

[2018-11-02 09:04] VladimirAlexiev commented on #16794
I suspected that much, but please update the docs to mention the new
endpoints. Thanks!

[2018-11-02 09:08] VladimirAlexiev commented on #17584
@YutongTie-MSFT @DarrinEide Please update the Graph doc pages to say that they don't expose all data, and to refer to the relational schema and mention how the complete data can be downloaded.
This applies not only to https://github.com/Microsoft/azure-docs/blob/master/articles/cognitive-services/Academic-Knowledge/GraphSearchMethod.md (which will be decommissioned) but most of all to https://docs

[2018-11-02 09:43] mark-mit-k commented on #17963
Hi Travis, I guess you are referring to my provided links, I agree that the new cmdlet should only create it. However, in the article I was referring to and raised the issue https://docs.microsoft.com/en-us/azure/virtual-network/tutorial-filter-network-traffic-powershell the `Set-AzureRmNetworkSecurityGroup` is missing because you are creating two rules. See:
https://docs.microsoft.com/en-us/azure

[2018-11-02 09:46] thecpshah commented on #16837
The solution to make it work in Azure Notebooks is as follow:

Run the following command in the 1st cell and once it is complete, restart the Kernel.

[code]
It should work.

[2018-11-02 09:54] kamigash opened #18097 "Name of the page?"
The VS tool is called "Azure Data Lake and Stream Analytics Tools" and it's "More Information" link is directed here. I think it would be helpful for new users if this page should reflect the fact that it's not all about Data Lake.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6210b41f-15f2-45cd-774a-4cab95bce57c
* Ve

[2018-11-02 10:03] kamigash opened #18098 "API version?"
Creating a job using the tool will give me an ARM template with Stream Analytics API version 2015-10-01. Creating a Stream Analytics job via the portal and exporting the template will give me a template with version 2017-04-01-preview.

Is it possible to set the API version using the tool or forcing the tool to create a parameter instead of hard coding the version to 2015-10-01?

---
#### Document

[2018-11-02 10:20] andyjballgit opened #18099 "Process / Sample to configure with own provided Certificate ?"
AFAIK , there is no documentation on how to do with above ? I think I know the process (see below) but would be good to have confirmed / a sample powershell or similar

- Import Cert
- Export Cert as .cert
- ReadIn as Base64 text
- run Powershell command to add base64 to Azure AD Application ID

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2018-11-02 11:03] DivyanshiShukla opened #18101 "There is spelling mistake of specific it is written pecific"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34d0f2df-de85-c6ab-eb01-f8e028b7f108
* Version Independent ID: 5acb187c-f280-5c7d-14fc-7f07160cd50b
* Content: [Azure Site Recovery support matrix for disaster recovery of Azure IaaS VMs between Azure regions with Azure Site Recovery](https://docs.mic

[2018-11-02 11:11] SaurabhSharma-MSFT commented on #18099
@andyjballgit Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-02 11:23] AleksAlonso opened #18102 "Access Storage Account Key from a resource outside the ARM template"
Hi everyone,

I'm using several ARM templates in our project, each of them meant for a different component, and there's also a Common ARM template that includes all resources that most of the elements need to work, as SqlServer, Storage Accounts, Redis cache(only one of this resources for all the elements)

The thing is, as Storage account is in a separate ARM template, I'm not able to access the

[2018-11-02 11:28] jtuliani commented on #14195
Thanks!

[2018-11-02 11:28] #14195 closed

[2018-11-02 11:29] jtuliani commented on #14231
That sounds perfect, thank you! I look forward to the diagnostic log support going live, that sounds like a good solution.

[2018-11-02 11:29] #14231 closed

[2018-11-02 11:31] inkey commented on #17989
@MicahMcKittrick-MSFT didn't know i needed to add a vault sorry

[2018-11-02 11:44] jtuliani commented on #14601
Super, thank you @curtand and @TravisCragg-MSFT

[2018-11-02 11:52] irfanelahi-ds commented on #11187
I am also experiencing the same issue. I am using DataBricks (Apache Spark 2.3.1 and Scala 2.11)

[2018-11-02 11:53] irfanelahi-ds commented on #11187
DataBricks 4.3 (Apache Spark 2.3.1 and Scala 2.11)

[2018-11-02 11:57] jjindrich opened #18105 "Metrics into Excel"
Can I connect Excel to Azure Metrics ? I mean live connection from Excel. The reason is deeper analysis, e.g. CPU remaining credit.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0a586c4-71fd-e60b-9c4c-1a3eb2443c74
* Version Independent ID: 2f3706cc-073b-a310-8da4-2a5a90da6473
* Content: [Azure Monitor supported metri

[2018-11-02 11:58] SaurabhSharma-MSFT commented on #17834
@Yegmorcar We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-11-02 11:58] #17834 closed

[2018-11-02 12:14] AleksAlonso commented on #18102
The problem was in providers('Microsoft.Storage', 'storageAccounts').apiVersions[0] to get the API version that listkeys needs as a parameter. Setting directly the parameter as 2018-07-01 did work

[2018-11-02 12:14] #18102 closed

[2018-11-02 12:19] zingaroo commented on #18035
Thanks for the information (perhaps this could be mentioned in the documentation?). It would have been nice if it could take the number of nodes into consideration also. We have a test environment with 3 nodes in bronze tier and would like to have automatic upgrades enabled on both test and production environment to make sure they have the same OS version/framework etc. Having silver for a test en

[2018-11-02 12:50] ph0rman opened #18108 "More detail on operations would be helpful!"
Identifying that Reader is insufficient to view Functions is great, but identifying which of the operations are necessary in order to enable access would be very helpful!
I've gone down the custom role path in order to address this issue, but Microsoft.Web/sites/functions/* isn't sufficient.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2018-11-02 12:53] sweigand commented on #15708
I'm in the East US currently on Gen 4 (early adopter). Will Azure force me to move to Gen 5 at some point? I'm happy with Gen 4 and not looking to make unnecessary changes right now.

[2018-11-02 13:13] PramodValavala-MSFT commented on #17674
@cowinr I hope that answers your query.

Since there is no documentation update required, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-02 13:13] #17674 closed

[2018-11-02 13:14] PramodValavala-MSFT commented on #17660
@kvsrkrishnan We will create an internal work item to further review, update and enhance this tutorial as required.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-02 13:14] #17660 closed

[2018-11-02 13:22] amerodeh opened #18109 "Dataset parameter"
I see people over the internet using @dataset parameter in dataset definitions.
For example @dataset().GetFileName
Shouldn't this be documented here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: befd9a68-45a2-9105-1b1b-16bf792a2d73
* Version Independent ID: 2c2e1fa5-7824-5fe9-7382-bf5573a25be3
* Content: [System vari

[2018-11-02 13:31] bjthomson opened #18110 "The code example is syntactically correct..."
The point of documentation like this is to assist in understanding the flow. Rather than simply copying the sample, I like to examine the variables, step through and watch what is happening.
The code in "Startup" works, but if I try to set a break point on UseOpenIdConnectAuthentication(), it covers almost the entire Configure method.
I'd dispute that code like this is more compact / succinct / ea

[2018-11-02 13:36] vandyrodrigues opened #18111 "Plan capacity and scaling for VMware disaster recovery to Auzre"
Title has a typo "Auzre"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: adcbc310-1c3e-1a9b-6058-af1382cc4251
* Version Independent ID: 89f49ed8-5268-2935-b5b6-d17fee69a935
* Content: [Plan capacity and scaling for VMware disaster recovery to Azure with Azure Site Recovery](https://docs.microsoft.com/en-us/azure/site-re

[2018-11-02 13:41] horcu commented on #17434
I need this script ASAP!

[2018-11-02 13:45] mikesitch commented on #18078
I've tried setting the timeout to 5 minutes in host.json but it always times out after 1 minute.

Functions Runtime: 2.0.12134.0
Consumption Plan

Proxy is to Web API (ASP.Net Core) - Standard Tier, Always On

Going direct to API via postman works every time, calling via proxy fails every time.

Enabled debug tracing and see this in the logs:
{
        "source": "forward-request",
        "timesta

[2018-11-02 13:47] mikesitch commented on #18078
Forgot to mention traceId 8d99fe8610b64835858e58d23a1b2435

[2018-11-02 13:50] kazshi commented on #15972
@KetanChawda-MSFT Thank you for the update. I'm a little confusing since my customer told me that they got RU value = 1000 as default (that's what I learned from them). I understand that the customer can change the default value 1000 RU to 400 RU from your comment. Is it correct? That's what I would like to make sure. Thanks.

[2018-11-02 13:54] billmath commented on #13375
@bozford At this point I have created a work item to update the accounts and permissions page with the relevant information.  I am not sure on the iteration that this will get scheduled so at this point we can close this issue and I will reopen it once I have updated the documentation and let you know.  Thanks!

[2018-11-02 13:54] billmath commented on #13375
#please-close

[2018-11-02 13:55] smoms commented on #17737
@sergaz-msft do you have an update?

[2018-11-02 13:59] yujhongmicrosoft commented on #17434
The script is linked in this document - like I said above I corrected the link.

[2018-11-02 14:01] yujhongmicrosoft commented on #17434
https://github.com/yujhongmicrosoft/spncreationn/blob/master/spncreation.ps1

[2018-11-02 14:04] billmath commented on #13678
@kenoby-dev actually yes.  This change is scheduled for today once I get final confirmation from engineering.  Because the list of what is "not" supported can get quite long, we avoid putting this in the pre-req docs and only document what "is" supported.  So this will be going into the FAQ here:  https://docs.microsoft.com/en-us/azure/active-directory/hybrid/reference-connect-faq

I will follow-u

[2018-11-02 14:06] ejacobsen-glofin opened #18114 "Pick a Publish Target"
Be aware that if you "Select Existing" instead of "Create New", it will overwrite anything in that existing function app. There is no backup or restore capability for overwriting data.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e88ea08-81ef-2b5a-b9d6-539e85592672
* Version Independent ID: f2d8b7b4-906a-d1f5-5201-f

[2018-11-02 14:12] BuffMcBigHuge commented on #12791
My production application has been broken for days because of this lousy service. Not happy.

[2018-11-02 14:17] cregnier opened #18115 "Between Steps 1 and 2: Need to add a note about deploying ASDK on Azure using L2-based nested virtualization"
I have found that the installer script will fail with BareMetal-based errors, so you will need to update:

C:\CloudDeployment\Roles\PhysicalMachines\Tests\BareMetal.Tests.ps1 and to find $isVirtualizedDeployment. This variable is present 3 times in the file.  Remove the -not before each variable.

Then, if necessary, if you did not do this the first time you will need to perform:

 C:\CloudDeploym

[2018-11-02 14:18] billmath commented on #13745
@remydahl Thank you for the feedback.  Thank you for bringing this to my attention as I am not exactly sure who may have added this without more context.  The bullet point:  Microsoft strongly recommends not to synchronize users with admin roles in AAD - uses an abbreviation for Azure AD which is a no,no.  So it wouldn't have been me.  Unfortunately I don't have access to history going back more t

[2018-11-02 14:19] billmath commented on #13745
#please-close

[2018-11-02 14:19] billmath commented on #13783
@CloudCrusader Thank you for the feedback.  Can you clarify this?  What might be safer?

Thanks!

[2018-11-02 14:27] MrJinx opened #18117 "Download example does not work in web application scenarios"
Unless I'm missing something, the Download blobs section above is not applicable for web applications. The example does work running your application on a localhost, but once moved to a web server (I'm hosting in Azure) the solution does not work due to security restrictions. Please help me if I'm wrong. I was able to get my solution to work using DownloadToByteArray and displaying a file which do

[2018-11-02 14:34] faerynity opened #18118 "Clarify "Edit Settings" on subscription row under Security Policy"
It wasn't obvious that clicking the "Edit Settings" text on the subscription row under Security Policy would take me to a different place than just clicking on the name of the subscription. The text in this documentation also doesn't specify that; it just says "Select the subscription," which I interpret as click anywhere on the subscription row. This caused me to be stuck for quite a while, until

[2018-11-02 14:37] jan-eng commented on #15708
@sweigand eventually the Gen4 hardware will reach its end of life at which point you will have to migrate to Gen5. There are really no downsides of moving to Gen5: It is the exact same price and we generally see better workload performance on Gen5 vs. Gen4. The only thing you need to pay attention to is if you have a lot of server management automation (i.e. using our CLI or REST APIs) as the SKU

[2018-11-02 14:39] andyjballgit opened #18119 "What is the minimal set of permissions to allow to Persist Files to CloudDrive"
Storage Contributor works , but want to lowest privileged set of perms. Can we use Preview NTFS Azure File Feature ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ecd5d368-8d1c-f984-4922-ab4c7ae14db5
* Version Independent ID: dbb6bc4c-87f4-18a0-f6e9-f9f48be1f289
* Content: [Persist files for Bash in Azure Cloud Shell]

[2018-11-02 14:40] reutann opened #18120 "Provide references for validating social login access tokens server side"
Since this is intended to be a "one stop shop" for easily enabling auth using Azure, it may be worthwhile to reference methods of validating access tokens obtained from `.auth/login/*` endpoints on the server side. Azure definitely does the heavy lifting on the client side by exposing `.auth/me` and the various `.auth/login` endpoints and managing the token cache but those tokens still need to be

[2018-11-02 14:47] pugillum commented on #17880
Hi @hning86, I've managed to find a workaround for now since Open CV was only necessary for loading the image and Pillow works just as well.  I am guessing though that there will others wanting to make use of Open CV in the future in their container images.

[2018-11-02 14:54] boylec commented on #17047
mike, I reviewed all of that and it doesn't reveal what is actually going on when you turn on the AutoComplete property. The documentation simply says - "it activates the AutoComplete option".

[2018-11-02 14:58] bozford commented on #13375
Hi Bill.

Thanks for this.  The new article and script is quite an improvement.

One suggestion:

The paragraph indicating WHERE permi9ssions will be set is buried in the middle of the article, instead of being listed in the “summary of permissions”.

The paragraph I refer to follows.  The highlighted text should be included in the Permissions Summary<https://docs.microsoft.com/en-us/azure/active-

[2018-11-02 14:59] cephalin commented on #16416
@abhiramani-iptiq Sorry for the delay. You need an SAS URL for your storage container. Take a look [here](https://github.com/cephalin/archiveddocs/blob/41a0bfa7501169e472e484f26151db3380c5d890/app-service/app-service-powershell-backup.md).

Also, are you actually trying to migrate your app to a different subscription? you can just [move the resources directly](https://docs.microsoft.com/en-us/azur

[2018-11-02 15:03] DrachovDmytro opened #18121 "Usage Details API confusing"
Inside that Billing section described an API(which is not supported by node-azure-sdk) to retrieve usage details https://docs.microsoft.com/en-us/rest/api/billing/enterprise/billing-enterprise-api-usage-detail , but on docs microsoft portal exists the other usage api which is relates to Consumption section https://docs.microsoft.com/en-us/rest/api/consumption/usagedetails/listforbillingperiodbyenr

[2018-11-02 15:06] j-martens commented on #18029
@luigiw
You can use whatever you want for these values, but the example in our tutorials assume and expect this resource group name and workspace name.

[2018-11-02 15:09] huzzeytech opened #18122 "LDAP Certificate from Public CA - Further Clarification"
The article mentions: "the certificate's subject name must be 'contoso100.com'." A public CA will not issue a certificate for this subject name. Your Self-Signed instructions mention '*.contoso100.com' which would be referred to as a wildcard certificate.

The section 'Requirements for the secure LDAP certificate' should be updated to further clarify real requirements and limitations from a Public

[2018-11-02 15:32] johnthcall opened #18124 "CopyIndex with if statement and reference in true or false statement causes invalid template error"
In the attached template and parameter file if you change the if condition to a boolean paramater, having either true or false default value causes the template to continue succeeding.
Additionally keeping the copyIndex condition and replacing the reference to a hardcoded objectId causes the template to succeed. It appears only the combination of a copyIndex in the condition and a reference in a t

[2018-11-02 15:36] KetanChawda-MSFT commented on #15972
@kazshi

- If you are creating lease collection from Azure Function by checking `createLeaseCollectionIfNotExists` to **true** than the default RU value would always be 400.

   Once the lease collection is created, you can only change it from the CosmosDB UI by going in to
  `Scale & Settings` option under the collection as shown below:

![image](https://user-images.githubusercontent.com/28587628

[2018-11-02 15:36] erhopf commented on #12791
@BuffMcBigHuge - Can you tell us about the issue you're encountering?

[2018-11-02 15:37] DiegoRamirez-MSFT commented on #18109
Hello @amerodeh could you please provide the document you are referring to?

[2018-11-02 15:37] victormarante opened #18125 "Loading certificate as a file in solution doesn't work"
Hi. I have followed your guide, and tried to publish a web api to Azure, where I use a thrid party service. The third party service has a testing environment, which they provide a test certificate you need to have in order to make a connection to it. Since it's not secret information, I put the file in the root of my project, and just read it from a stream to my client handler. Locally, this works

[2018-11-02 15:38] poortom1004 opened #18126 "script doesn't work appropriately and could use some improvement"
The script under "https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/licensing-ps-examples#remove-direct-licenses-for-users-with-group-licenses" doesn't work if copying and pasting into powershell (non-ISE).  The reason is that "Get-MsolGroupMember -All -GroupObjectId $groupId |" and "Get-MsolUser -ObjectId {$_.ObjectId} |" end with a pipe which isn't allowed.  If you simpl

[2018-11-02 15:39] DiegoRamirez-MSFT commented on #18049
Hello @hanabi1224 just checking if you may have an update on this

[2018-11-02 15:40] xeo545x39 commented on #13560
So, firstly I encoded in UTF8 and got unauthorized, then copied from sample with ASCII and now it works. I was trying to attach signature header encoded by UTF8 and HTTP request by UTF8 either and I'm still getting unathorized. Any different encoding than ASCII does not work.

[2018-11-02 15:42] #13375 closed

[2018-11-02 15:42] #13745 closed

[2018-11-02 15:42] #15413 closed

[2018-11-02 15:50] sasakovacevicMSFT commented on #18118
1 - fair play. needs a better explanation.
2 - clicking on edit settings "edits the settings", while clicking on a subscription "shows which policies are to be assessed", so doesn't make sense to change that to go to the same place (however that feedback could be passed on to azure teams to consider consolidating the interface) -
please, consider posting your point 2 here: https://feedback.azure.c

[2018-11-02 15:52] amerodeh commented on #18109
https://docs.microsoft.com/en-us/azure/data-factory/control-flow-system-variables

I believe this page should mention the @dataset parameter

[2018-11-02 15:54] DiegoRamirez-MSFT commented on #18089
Hello @testerting We are investigating this issue now. Thank you for reporting it

[2018-11-02 15:57] cephalin commented on #18120
@reutann Thanks for the feedback. validating access tokens is indeed missing here and should be included.

[2018-11-02 15:59] cephalin commented on #18120
@reutann If you're looking for mobile scenarios, mobile-specific auth docs are found here: https://docs.microsoft.com/en-us/azure/app-service-mobile/app-service-mobile-android-get-started-users (there's a selector at the top for the preferred language/framework)

[2018-11-02 16:00] DiegoRamirez-MSFT commented on #18109
@amerodeh We are investigating this issue now. Thank you for reporting it

[2018-11-02 16:06] erhopf commented on #7022
#please-close

@rajivramanjani - Thanks for reach out. We have added your request for a new how to article to our backlog.

[2018-11-02 16:10] MicahMcKittrick-MSFT commented on #17989
@inkey ah okay no worries :) If you have any other issues just let me know and I am happy to assist.

[2018-11-02 16:10] #17989 closed

[2018-11-02 16:10] poortom1004 commented on #18126
Also the comment about running "Msol-GetAccountSku" is incorrect.  The cmdlet is "get-msolaccountsku"

[2018-11-02 16:11] femsulu commented on #17774
thanks @tfitzmac

@xenalite Closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2018-11-02 16:11] #17774 closed

[2018-11-02 16:13] MicahMcKittrick-MSFT commented on #18064
@RehanSaeed thanks for raising that! Raising the issue on that specific doc is actually the best way to go. I see it already has been assigned to two people to investigate. So I would suggest to continue to work with them on that issue since they are familiar with devops and what you are trying to accomplish :)

As a side note, I am tracking that issue as well

[2018-11-02 16:15] CarlRabeler commented on #11237
#please-close

[2018-11-02 16:19] MicahMcKittrick-MSFT commented on #18041
You should just be able to run the MSI installer and it will upgrade the version to the latest version.

Did you try restarting your PC? Sometimes the changes might not reflect

[2018-11-02 16:22] MicahMcKittrick-MSFT commented on #18031
@louisjvn are you using a local instance of Azure PowerShell or the Azure Cloud Shell?

@zr-msft was able to repro your issue however I was not.

https://github.com/Azure/azure-powershell/issues/7629 was filed to get it sorted out as it seems to be an issue with powershell under the hood

[2018-11-02 16:26] thecontrarycat opened #18128 "Custom NuGet feed accessibility"
If we have an on-premise NuGet feed that is connected to Azure across an ExpressRoute gateway and the K8s cluster is connected to that virtual network, will Azure Dev Spaces be able to pull packages from it?

In other words, when you say "The NuGet feed must be publicly accessible." do you mean globally public or just accessible from the K8s cluster?

---
#### Document Details

⚠ *Do not edit this

[2018-11-02 16:28] Jann-Skotdal commented on #7935
@Paul-Dempsey - Transliteration should be performed with the toScript parameter rather than the to parameter. The example has been updated.

[2018-11-02 16:35] dlepow commented on #18010
@rpdeguzman - Thanks for the detailed info. In my environment I am able to create a VNet/subnet independently of the container group, and then deploy the container group into that. The subnet should then show a delegation to Microsoft.ContainerInstance/containerGroups. You might need to open a request with Support to investigate your environment.

Before doing that, can you please confirm that the

[2018-11-02 16:36] markingmyname commented on #6132
@MicahMcKittrick-MSFT, please assign this issue to me.  Thank you.

[2018-11-02 16:37] markingmyname commented on #6041
@amanarneja Please assign this issue to me.

Thank you.

[2018-11-02 16:38] mikenri commented on #13973
Hello,

Can the the documentation be updated to reflect this?
The documentation is misleading.

It clearly states "Azure MFA communicates with Azure AD, retrieves the user’s details, and performs the secondary authentication using the method configured by the user (text message, mobile app, and so on)."

If text messages and verification codes do not work with the RD Gateway integration, this need

[2018-11-02 16:39] Grace-MacJones-MSFT commented on #18125
Hi @victormarante, thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-02 16:39] Grace-MacJones-MSFT commented on #16325
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-02 16:39] #16325 closed

[2018-11-02 16:41] mikenri opened #18130 "Update documentation to clearly explain supported verification methods"
This documentation is misleading in that you state:

"Azure MFA communicates with Azure AD, retrieves the user’s details, and performs the secondary authentication using the method configured by the user (text message, mobile app, and so on)."

This is incorrect, as text messages and verification codes are not supported.

The documentation should clearly explain that the only supported verificatio

[2018-11-02 16:42] sergaz-msft commented on #17906
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-02 16:42] #17906 closed

[2018-11-02 16:42] Grace-MacJones-MSFT commented on #17858
Hi @b42thomas, just checking to see if you are still dealing with this issue.

[2018-11-02 16:42] Karishma-Tiwari-MSFT commented on #18093
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-02 16:44] mbialecka commented on #17310
@smoms Do you use lowercase account name as well? Do you get any exception from your app?

[2018-11-02 16:44] jason-j-MSFT commented on #18098
@kamigash
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-02 16:44] sergaz-msft commented on #17869
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-02 16:44] #17869 closed

[2018-11-02 16:44] sergaz-msft commented on #17641
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-02 16:44] #17641 closed

[2018-11-02 16:48] sergaz-msft commented on #17741
@tbhagwat3 can you take a look? Thanks!

[2018-11-02 16:49] Adam-Smith-MSFT commented on #18018
@ebashmakov It looks like only the folder path/schema is supported. I'll assign it to the author to clarify this matter.

[2018-11-02 16:50] jason-j-MSFT commented on #18097
@kamigash Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-02 16:50] aamalvea commented on #16312
@chakkaseshu Currently, Azure SQL DB only supports classic metric alerts. However, next generation metrics will be available for Azure SQL DB in 2019. Also, Azure SQL DB does not support alerts at the server level.

[2018-11-02 16:51] jason-j-MSFT commented on #18092
@ampac28 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-02 16:57] JacenBoy opened #18135 "Broken link"
https://aka.ms/duplicateattributeresiliency leads to a 404 error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6addd727-64bb-f71d-acf2-850220ba8973
* Version Independent ID: 74342c05-c714-0cfc-8dd6-d29611cacaef
* Content: [Identity synchronization and duplicate attribute resiliency](https://docs.microsoft.com/en-us/a

[2018-11-02 16:58] Karishma-Tiwari-MSFT commented on #18026
@dinoreborn Can you please elaborate on your ask?

[2018-11-02 17:04] jason-j-MSFT commented on #17367
@juanidambrosio we are closing this issue for now, please feel free to add additional comments as needed.  If you could provide additional context, we can reopen the case.

[2018-11-02 17:04] #17367 closed

[2018-11-02 17:04] louisjvn commented on #18031
Hi, i got the issue when using cloud shell. I did not try local PS.

Thanks

Louis

Sent from the cloud while on the run

-------- Original message --------
From: Micah <notifications@github.com>
Date: 3/11/18 00:55 (GMT+08:00)
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: louisjvn <louisjvn@live.com>, Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs]

[2018-11-02 17:08] Jann-Skotdal commented on #12213
@topekTopperson - Thank you for reporting this. Our engineering team is investigating the issue.

[2018-11-02 17:09] sergaz-msft commented on #17737
@shizn is this a known issue? Thanks!

[2018-11-02 17:11] safihamid commented on #18078
@mikesitch this might just be a bug in our function host. do you have a simple repro? is it routing to a function inside the function app or going to an external resource? I searched for that traceId for the past 3 days and didn't find anything in the logs.

[2018-11-02 17:12] sergaz-msft commented on #18089
Thanks for the feedback! I have assigned the issue to the content author @alinamstanciu  to evaluate and update as appropriate.

[2018-11-02 17:12] nezoic opened #18140 "Issues with null custom atributes"
Hello,

I've added a custom attribute that is NOT part of the signup portion of my policy but IS part of the signup policy. When I programatically query the user from graph I do NOT see this custom attribute. This is for a specific. I am able to see custom attributes that are part of the signup policy though. How can i add custom attributes without them being part of the signup?

---
#### Document

[2018-11-02 17:13] Adam-Smith-MSFT commented on #18111
@vandyrodrigues Thank you for the valuable feedback,we are investigating the issue.

[2018-11-02 17:17] MarileeTurscak-MSFT commented on #18110
@bjthomson
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-02 17:17] PramodValavala-MSFT commented on #18114
@ejacobsen-glofin Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-02 17:18] MarileeTurscak-MSFT commented on #18126
@poortom1004
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-02 17:22] iainfoulds commented on #18055
Not sure, but it's likely more Helm than Azure CLI. The Helm version in the Azure Cloud Shell is the latest 2.11 release. When I run the commands from the doc, I'm not prompted to provide a release name. It correctly defaults to the latest release. Could try removing the tiller and re-initializing Helm incase there's a mismatch in the Helm client and tiller version.