[2019-04-03 06:46] wmengmsft commented on #28398
Thanks for the feedback. This is a reasonable suggestion. This is explained better in the Rest API documentation, but not as much in SDK documentation.

@SnehaGunda and @donghexu to see if we can make some improvements here.

[2019-04-03 06:50] neeleshray commented on #28276
@billmath
Could this be updated Bill ?

[2019-04-03 06:50] #28530 closed

[2019-04-03 06:52] DixitArora-MSFT commented on #28530
@dcbrown16 I have created the [PR ](https://github.com/MicrosoftDocs/azure-docs-pr/pull/71871)which will correct the links . Thanks so much for providing the feedback that help us in improving the documentation. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen

[2019-04-03 06:56] SumanthMarigowda-MSFT commented on #28625
@ManfredLange Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

Just to highlight:
![Capture](https://user-images.githubusercontent.com/44606021/55458828-ac7ccd80-560b-11e9-82de-541eaa241fb2.PNG)

[2019-04-03 07:02] gitmarecki commented on #19863
similar behavior - blank page when opening advanced settings. Has anybody managed to contact support? My MSDN subscription does not have an option - they encourage me to tweet about it instead....
![oms](https://user-images.githubusercontent.com/49226376/55459137-7cc3ca80-55f7-11e9-8b39-c7ec45036ba6.PNG)

[2019-04-03 07:19] wmengmsft commented on #28341
@sujayvsarma, thanks for the feedback. Your suggestions are valid. We will put the necessary notices in the old package to direct users to the new package, and make sure all our documentation reflect the official guidance (most should already do).

Regarding the dependencies, this is indeed not ideal. Most of these dependencies are coming from `Microsoft.Azure.DocumentDB.Core`. Our plan is to even

[2019-04-03 07:25] Rutikhal commented on #28443
I have created new post here https://techcommunity.microsoft.com/t5/Windows-Virtual-Desktop/New-RdsRoleAssignment-User-is-not-authorized-to-query-the/m-p/392828#M165

[2019-04-03 07:40] sujayvsarma commented on #28341
@wmengmsft - Would this mean they continue to execute against Storage/Table endpoint + CosmosDB or only CosmosDB? There is a pricing angle there.

[2019-04-03 07:41] AjayKumar-MSFT commented on #28594
@munozrickT4S, Thanks for the question! We are investigating and will update you shortly.

[2019-04-03 07:52] hansmbakker commented on #28461
@SnehaGunda I understand that would allow the App Service to access the CosmosDB instance. However, I use the option you recommend, then **any random App Service or other component from within Azure** can access the CosmosDB instance.

The reason behind this story is that the IT department came up with the approach mentioned in the opening post and they required this setup in the architecture, to

[2019-04-03 08:00] theheatDK opened #28640 "Can you use VirtualBox to create the image?"
Hi,
Can you use VirtualBox to create the image?
If you can it would be nice with a description of how to do this :-)
Regards Peter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 48bab424-986d-9922-ec2d-942508081367
* Version Independent ID: 6e9b3ebd-0571-357e-0fde-ef434a728a24
* Content: [Create and upload a Red Hat En

[2019-04-03 08:02] rockboyfor opened #28641 "Microsoft Azure Backup can not be searched after deploy the configuration server through OVA template in Windows Server 2016."
[Enter feedback here]
User said that the Microsoft Azure Backup can not be searched in Windows Server 2016 after complete the following action.

1. Deployment of configuration server through OVA template (https://docs.microsoft.com/en-us/azure/site-recovery/vmware-azure-deploy-configuration-server).
2. The OVF image is build on Windows 2016.

We can not verify it due to our limited description in

[2019-04-03 08:05] RHAD1969 commented on #28437
I registred all resource providers, no solution.
I changed to another account (with should be having the same (owner) rights)  and the problem was solved.

[2019-04-03 08:05] #28437 closed

[2019-04-03 08:24] jakaruna-MSFT commented on #28593
@solomson I deployed a container group with 2 containers. Both of them is assigned with 0.1 CPU and 0.1 GB RAM. Containers are in running state. Since they are small containers, It would have worked.

Are you seeing any specific error messages in events when the containers are restarting?
Also check once again by assigning 0.2 GB RAM instead of 0.1 GB.

[2019-04-03 08:30] jakaruna-MSFT commented on #28599
@pinsoftware Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-04-03 08:49] thecpshah commented on #28445
@RohitMungi-MSFT @areddish Thank you for looking into this. I get this keys once I create a Custom Vision API service through Portal. However, if I go directly to `customvision.ai` then I do not see this in `Limited Trial` option. so the documentation needs this information that create a service in Portal.

[2019-04-03 09:00] SnehaAgrawal-MSFT commented on #28601
@KeiroKamioka0000 Thanks again for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-04-03 09:05] xiaoharper commented on #26758
@JeffreyCA Thanks for catching our bug.  In this case, we should suggest to use Train Anomaly Detection Model since it's anomaly detection scenario. I will fix it.
Check [this article](https://docs.microsoft.com/en-us/azure/machine-learning/studio-module-reference/machine-learning-train) for the difference of Train model and Train Anomaly Detection Model.

[2019-04-03 09:08] jakaruna-MSFT commented on #28603
Thanks for the feedback!  Only `Microsoft.ClassicNetwork` is available in provider and `Microsoft.ClassicVirtualNetwork` is not available.
`az provider list --query "[?namespace == 'Microsoft.ClassicNetwork']"`

I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-04-03 09:20] AjayKumar-MSFT commented on #28400
@SaltyDH, Thank you for the clarification and sharing additional details of your requirement. Your feedback has been shared with the content owner (@mattchenderson) for further review.

[2019-04-03 09:21] jakaruna-MSFT commented on #28640
Thanks for the question! We are investigating and will update you shortly.

[2019-04-03 09:27] CHEEKATLAPRADEEP-MSFT commented on #28396
@dorox We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-04-03 09:27] #28396 closed

[2019-04-03 09:36] RohitMungi-MSFT commented on #28600
@nacharya1 It looks like the name does not accept '_'
I received the following message while trying to create the same.
`"The request is invalid","details":[{"code":"InvalidComputeId","message":"Compute name is invalid, it should start with a letter, be between 2 and 16 character, and only include letters (a-zA-Z), numbers (0-9) and \'-\'"}]}}'`

I have raised a pull request [71875](https://github

[2019-04-03 09:50] CHEEKATLAPRADEEP-MSFT commented on #28612
@basilhariri Thanks for bringing this to our attention. I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-04-03 09:51] CHEEKATLAPRADEEP-MSFT commented on #28518
@eraoul We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-04-03 09:51] #28518 closed

[2019-04-03 09:52] CHEEKATLAPRADEEP-MSFT commented on #22187
@CeciAc We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-04-03 09:52] #22187 closed

[2019-04-03 09:53] nero120 commented on #28358
@PramodValavala-MSFT that worked a treat, thank you!

[2019-04-03 09:53] #28358 closed

[2019-04-03 09:59] angoyal-msft commented on #28608
@alvinvinalon Thanks for your feedback, This cmdlet is not supported in the current Az.Storage version.
Currently 1.1.0 version of Az.Storage is available.
While in the document it is mentioned that it is supported for versions above (1.1.3 or greater).

![image](https://user-images.githubusercontent.com/43370663/55470360-10f85680-5625-11e9-8f1d-8a4867b95a6e.png)

For further information and avail

[2019-04-03 10:00] wilsonchua20 opened #28642 "How long can audio be and Acronyms utterance"
should  i do custom speech for rest api, because when i speak acronyms, the converted text tend to spell it out (e.g. BDO -&gt; be dio) and which recognition mode (interactive, conversation) can audio file be more than 15seconds?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11673bc9-9062-278d-c5b8-84b05f2b81be
* Vers

[2019-04-03 10:08] jakaruna-MSFT commented on #28524
@v-samiya I think you can do that and it will work fine. However i will verify once and let you know.

[2019-04-03 10:12] ManojReddy-MSFT commented on #28439
@sowndarrajandr The entire device registration flow happens over SSL, so it has to be HTTPS. Azure AD , does not accept HTTP communication as it is not secure.

Even if you try to access HTTP endpoint, it will be converted to HTTPS. Try to access the HTTP endpoint in Edge or IE to see this behavior.

Please ask all your customers to whitelist HTTPS endpoint.

[2019-04-03 10:12] neeleshray commented on #28606
@MicrosoftGuyJFlo
John, could we include Windows Server 2019 in the Supported Devices list ?

[2019-04-03 10:16] msrini-MSFT commented on #28429
@Maqsoodp , when you upload the file, it'll be split into chunks of content and each one will be separated by a boundary.It has to have a boundary in the beginning and one in the end.

Rule 200004 means that the WAF engine noticed a line in the form/multipart input that resembled a multipart boundary.

For example, if it starts with ----abcde and ends with --asads, it's a mismatch.
The ---- line s

[2019-04-03 10:34] AshokPeddakotla-MSFT commented on #28525
@rossdo88 I am assigning this issue to the @SumanthMarigowda-MSFT to provide further insights on this issue.

[2019-04-03 10:35] wilsonchua20 commented on #28642
Should i upload acoustic data set for acronyms or pronunciation data set would suffice? thank you

[2019-04-03 10:36] AshokPeddakotla-MSFT commented on #28499
@ThomasPiskol We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-04-03 10:36] #28499 closed

[2019-04-03 10:36] LMtx commented on #28238
@sudhirap I will create a custom module that will encrypt/decrypt data stored at device level. I plan to store encryption key in the cloud - device will get it during boot and store in RAM. I am aware that it is possible to extract this key from RAM but that is the best setup I came up with for this solution.

[2019-04-03 10:39] RohitMungi-MSFT commented on #28642
@wilsonchua20 Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-04-03 10:40] Morhpeuss commented on #28544
@jakaruna-MSFT  I was followed this https://elbruno.com/2019/02/05/customvision-running-a-custom-vision-project-in-a-local-docker-container/. After I run container I got this error:

    raise ValueError('No op named %s in defined operations.' % node.op)
ValueError: No op named LeakyRelu in defined operations.

[2019-04-03 10:54] jakaruna-MSFT commented on #28640
@theheatDK The given steps will work with virtualbox also. Have a look at the [known issues](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/redhat-create-upload-vhd#known-issues) for virtual box and plan accordingly.

[2019-04-03 10:54] meyyazhagan commented on #28333
Thanks again for the valuable comments. May I know on which community forum I can posted such technical & implementation queries. If possible, please share the reference links too.

[2019-04-03 10:58] cephalin commented on #28310
@nmfisher Thanks for raising this and @AjayKumar-MSFT thanks for the changes. #sign-off

[2019-04-03 10:58] RohitMungi-MSFT commented on #26700
For Turkish language it looks like the prebuilt domain, prebuilt entity and phrase list recommendations are not available yet. Please check the below link for more details.

https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-language-support#languages-supported

But this page lists [Turkish Entity support](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-referen

[2019-04-03 11:04] IvanParedes365 opened #28643 "API & example is not working since last weekend"
Dear colleagues,

It seems there is any issue with the API as it's not working since last weekend.

I'm testing your examples and my own code in the same way as I did last week and now I'm always getting same error:
{
    "error": {
        "code": 401000,
        "message": "The request is not authorized because credentials are missing or invalid."
    }
}

Could you please check and advice?

Tha

[2019-04-03 11:09] JavedEqbal commented on #28460
If you related Single Placement Group to be similar to an Availability Set having it's own Fault/Update Down. Below is what I assume and let me know if my understanding is correct or not.Does

Point 1 --> "Multiple Placement Group" will be comprising of  "n x Single Placement Groups" each with it's own Fault/Update Domain.

ASK --> Will all these "n x Single Placement Groups" which is a part of a

[2019-04-03 11:11] kishan19 commented on #22901
This will be very helpful

[2019-04-03 11:19] DashleenBhandari-MSFT commented on #28587
@nelroosevelt , The new VNET integration is in preview. Route tables and global peering are not yet available with the new VNet Integration. There is currently no ETA on this.

[2019-04-03 11:23] theheatDK commented on #28640
Thanks @jakaruna-MSFT

[2019-04-03 11:23] #28640 closed

[2019-04-03 11:24] AjayKumar-MSFT commented on #28310
@nmfisher, We went ahead and made an update. The update should be public soon, so we will close this out now, but if you feel you need more information please just let us know.

[2019-04-03 11:24] #28310 closed

[2019-04-03 11:27] SnehaAgrawal-MSFT commented on #28508
@EonHale and @aromanrod Thanks for bringing this to our attention. Your's feedback has been shared with the content owner for further review.

[2019-04-03 11:47] jakaruna-MSFT commented on #28521
@aljo-microsoft Please provide your inputs

[2019-04-03 11:51] RohitMungi-MSFT commented on #28643
@IvanParedes365 Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-04-03 11:53] jakaruna-MSFT commented on #28403
I will close this out for now.  We will track the progress in #28393

[2019-04-03 11:53] #28403 closed

[2019-04-03 11:53] jakaruna-MSFT commented on #28393
@mshahat I think we cant create like that. I will check and let you know.

[2019-04-03 11:54] lightupdifire opened #28646 "Deployment requirements"
Hello,
Can you please confirm that ".NET 4.7" required only for "Azure AD Password Protection **Proxy**" servers;
And not for "Azure AD Password Protection **Agent**" servers

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23e000f0-84ce-7ec7-e5ed-4bd9c49f5d49
* Version Independent ID: e636b9d1-be81-0f00-97c4-ff4fa9078be

[2019-04-03 11:56] ManojReddy-MSFT commented on #28514
@rohitsaigal We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-04-03 11:56] #28514 closed

[2019-04-03 11:56] jakaruna-MSFT commented on #28520
Batch compute nodes can scale up and down based on load. Please share If there is  any use case which requires that feature.

We can always attach Azure files to the Batch nodes and place the required files on those shares. Lates we can access them easily.

[2019-04-03 12:02] sebastus opened #28647 "Need PowerShell implementation for Load Balancer Port Forwarding"
I was happy to find this document that shows how to create a port forwarding nat rule. In its absence there is no apparent way to do it. After creating the rule using the portal, I queried using PowerShell:

$lb = Get-AzLoadBalancer -ResourceGroupName MSFT01rg -Name appServerRole-lb
$rule = ($lb | get-azloadbalancerinboundnatruleconfig)

 to see the various properties. It is quite odd. The ip conf

[2019-04-03 12:02] JavedEqbal commented on #28460
@MicahMcKittrick-MSFT

[2019-04-03 12:26] msrini-MSFT commented on #28647
@sebastus , This is a common misinterpretation, where you are adding a VM to the backend pool/ referencing a VM to Load balancer. But you are actually adding the Ipconfiguarion of the NIC to the backend pool of LB.

As you mentioned, you need to get the reference of the Ipconfig and then use that reference in the NAT rule configuration.

[2019-04-03 12:36] xNiklasJern opened #28648 "How to configure an application to be multi-tenant - Wrong url?"
Seems like the URL lead to the wrong site

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8861e147-ef75-8ba4-6cba-7d0bc289c328
* Version Independent ID: e8eebd27-cbae-7f2d-9c26-09b5facc495d
* Content: [How to configure a new multi-tenant application](https://docs.microsoft.com/en-us/azure/active-directory/develop/setup-

[2019-04-03 12:40] diberry commented on #26700
@RohitMungi-MSFT That page is actually saying that turkish **doesn't have** any prebuilt entitlies because there are no checkmarks in the columns. I will make this more explicit.

[2019-04-03 12:45] #25772 closed

[2019-04-03 12:46] #25394 closed

[2019-04-03 12:46] jay98014 commented on #28564
Hi @GreggRevak,

You've raised a valid point - but it's only valid for some customers, not all.  We got a lot of feedback around this exact issue and many customers say they simply will not allow us to do auto-update of the DC agent, out of general (and valid) concern for security and stability of their DCs.   Such feedback is a big reason why auto-update for the DC agent service is not part of th

[2019-04-03 12:46] #24278 closed

[2019-04-03 12:46] #24277 closed

[2019-04-03 12:46] #23989 closed

[2019-04-03 12:50] jay98014 commented on #28646
Hi @lightupdifire,

Yes that is correct.  The baseline .NET requirement for the DC agent is .NET 4.5.

I will make this more explicit in the documentation.

thx,
Jay

[2019-04-03 12:53] sebastus commented on #28647
@msrini-MSFT I'm not sure what you're saying. The VM was already in the backend pool. I needed to go beyond that to be able to directly address each VM in the backend pool by targeting the public IP of the LB and a port designated to that VM's NIC by the NAT rule. The tutorial shows how to do this nicely. But if you attempt to do it with PowerShell, it's not clear at all how. And this is the point

[2019-04-03 12:58] msrini-MSFT commented on #28647
@sebastus , I agree with you. Portal experience is simple. But even in the portal you need to specify the VM and its IPconfig as shown below:
![image](https://user-images.githubusercontent.com/47132998/55480501-157d3900-563e-11e9-83e7-917dc7d49ffd.png)
In Powershell, you are doing the same but with an extra step of getting the IPconfig from the NIC and associating that with the rule.

Hope this cl

[2019-04-03 13:02] GreggRevak commented on #28564
Hi Jay,
Thanks for the clarification – very helpful. Are there plans to introduce an auto-update option for DCs? Perhaps by regkey or install switch?

From: Jay Simmons <notifications@github.com>
Sent: Wednesday, April 3, 2019 7:47 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Gregg Revak <grr@revak.net>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-

[2019-04-03 13:11] jay98014 commented on #28564
Hi @GreggRevak,

Auto-update of the DC agent is something I'm working on for a future release but there are no dates or ETAs that can be shared at this time.  Fwiw, it's not a trivial feature due to the fact that Windows will never unload the password filter dll until a reboot occurs - so doing auto-update without also rebooting your DC (which would be rude) takes some work.   There will be some k

[2019-04-03 13:13] JakubHolovsky opened #28649 "Device Registrations - missing in VS2017 & VS2019 - where is it located?"
The article is showing an image where in Visual STudio you are able to see "Device Registrations" however in neither VS2017 or VS2019 is this window shown. Where can I find this? or how to get to it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f45da7e-b566-ce6e-f2d3-3e929a87172d
* Version Independent ID: 7587047c-c

[2019-04-03 13:13] GammaFour commented on #26577
Don't you have **Build()** that configuration before you can use it?

[2019-04-03 13:15] jwargo commented on #28649
@JakubHolovsky I don't happen to know the answer to that one. @spelluru can you take a look at this one?

[2019-04-03 13:31] tor-ronhaug commented on #27369
Some tips to get going; 1) Use the connection string from primary key on the IoTHub (and not the CLI)   2) Use Deployment Center and define the local Git as a Kudu build  3) use the copy function i Deployment Credentials and use them when asked in the Git CMD procedures...

[2019-04-03 13:37] admintgal commented on #28160
What does this mean in the resource discovery portion of the Azure Resource blade in PIM (circled in red)???  I don’t understand why one of the management groups is inherit and the rest are direct?  Please clarify.  Thank you!

[cid:image003.png@01D4EA00.CF3B0C00]

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: ShashiShailaj-MS

[2019-04-03 13:37] GammaFour commented on #26577
OK.  That seems to work.  As a side note, I needed to **Build()** the configuration before it would compile.  And the **AddFilter** didn't seem to be necessary as it honored the values I had in my **appsettings.json**.

[2019-04-03 13:38] j-martens commented on #26758
Thanks for your post, Jeffrey. Hope this answers your question. #please-close

[2019-04-03 13:38] CHEEKATLAPRADEEP-MSFT commented on #28333
@meyyazhagan You can ask your question in the forums? The audience there would be a better suited to answer your question. [https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=AzureDataFactory](https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=AzureDataFactory).

[2019-04-03 13:41] j-martens commented on #28600
@pospanet - thank you for alerting us to this doc issue. The fix will be in later today. #please-close

[2019-04-03 13:44] orndorffgrant commented on #28585
@hansenms Just checked. The fields are editable and the checkbox is there! Thanks again!

[2019-04-03 13:45] nabhishek commented on #27788
here is the [link ](https://github.com/Azure/Azure-DataFactory/tree/master/SamplesV1/ADFv2CustomActivitySample) which got modified due to GitHub repo restructure. Updated doc.

[2019-04-03 13:45] nabhishek commented on #27788
#please-close

[2019-04-03 13:49] nabhishek commented on #14728
#please-close

[2019-04-03 13:50] lebronJ commented on #26261
We have released a new version (1.4.4) of Face API Android SDK which targets on API level of 22. The sample for that SDK in the same repo works well. Could anyone try with the 1.4.4 for the sample in this how-to tutorial? If everything works well, we can update the how-to by using 1.4.4.

[2019-04-03 13:50] nabhishek commented on #23922
#please-close

[2019-04-03 14:04] tomerrt commented on #28367
https://docs.microsoft.com/en-us/rest/api/mysql/serversecurityalertpolicies/createorupdate

[2019-04-03 14:10] nabhishek commented on #27413
@algattik yes indeed. It was useful to mention for ADFv1 customers as v1 had credential manager app.
I will remove it from the doc.

[2019-04-03 14:15] cijothomas commented on #26577
@GammaFour my full example should have worked... Not sure why you had to build explicitly. wont that be done by default from 2.0 onwards?
Yes filter was from another example, you can appl filtering from appsettings.json
https://docs.microsoft.com/en-us/azure/azure-monitor/app/ilogger#control-logging-level

[2019-04-03 14:21] nabhishek commented on #27413
#please-close

[2019-04-03 14:21] SteveParson opened #28651 "Wrong path specified"
The article text states
[code]
On Oracle 7, the path is `/etc/yum.repos.d/`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 457ff9a3-50b9-d1a4-8211-876cdb70437a
* Version Independent ID: 8da2c372-e103-f834-c882-4d10b6dba386
* Content: [Create and upload an Oracle Linux VHD](https://docs.microsoft.com/en-us/azure/virtual

[2019-04-03 14:22] GammaFour opened #28652 "Your example code will break Entity Framework."
The example code showing how to use Application Insights for logging is extremely useful, but it will break any code that uses Entity Framework's Code First model.  You need to return a **IWebHost** from **BuildWebHost()**.  Here's the code that works:

[code]

[2019-04-03 14:27] GammaFour opened #28653 "Unable to capturing ILogger logs from Startup.cs, Program.cs in Asp.Net Core Applications"
I tried to follow the instructions for capturing logging information on Startup.  I really just want a 'Web Service Starting.' message in the log to give positive feedback that the service was started.  Here's what I have:

[code]
When I run it I get:

on the **var logger = host.Services.GetRequiredService&lt;ILogger&gt;();** statement.

[2019-04-03 14:27] sebastus commented on #28647
@msrini-MSFT I don't have a question. I figured out how to use PowerShell to meet my needs. I'm pointing out an issue with the docs - or actually - an opportunity to improve them. The PowerShell implementation is arcane at best, and not documented at all.

[2019-04-03 14:28] ckarras commented on #20288
Thanks @zezha-msft for the information. Note however that, with the current implementation, files/blobs are still left in a corrupt state if the job fails or get cancelled, but there's nothing the user can do about it except restart the whole download. For large page blobs (around 100gb or more), my experience is that it will always fail at some point for various reasons.

Also, the whole size of

[2019-04-03 14:28] nabhishek commented on #27412
New-AzDataFactoryV2LinkedServiceEncryptedCredential -> creates JSON definition after encrypting the actual credentials using Windows DPAPI, and passes the reference of this encrypted credential back in the JSON payload.

[2019-04-03 14:28] nabhishek commented on #27412
#please-close

[2019-04-03 14:31] msrini-MSFT commented on #28647
@sebastus Thank you for your feedback. Will pass on your feedback to the respective team.

[2019-04-03 14:31] #28647 closed

[2019-04-03 14:35] areddish commented on #28445
@thecpshah Limited Trial accounts are not Azure accounts and thus won't have an associated Azure resource to publish to. Also, Limited Trial accounts are no longer supported - more info [here](https://docs.microsoft.com/en-us/azure/cognitive-services/custom-vision-service/move-your-project-to-azure).

[2019-04-03 14:36] SamBlakeC commented on #27028
@SaurabhSharma-MSFT Any update on the progress?

[2019-04-03 14:40] whitenokia commented on #18753
Step 5, item 4 should then have read as follows?

$AzureContext = Select-AzureRmSubscription -SubscriptionId $Conn.SubscriptionID

[2019-04-03 14:49] Pisteuon opened #28654 "AzureADandPersonalMicrosoftAccount set but only personal accounts allowed"
I have "signInAudience": "AzureADandPersonalMicrosoftAccount" set in the app Manifest, but the sign in that users are directed to only accepts personal Microsoft accounts.

I am not sure what other information I should provide.

[2019-04-03 14:50] jay98014 commented on #28604
Hi @afroz429,

The licensing requirements are currently documented here:

https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-password-ban-bad#license-requirements

To use this feature you need to have at least some users that are being synced under Azure AD Premium P1 or P2.

Jay

[2019-04-03 15:02] kgmccann commented on #17436
Anyone figure out a way to work around this issue? I've tried to edit the JSON the Schema Editor spits out, but it is not obvious how (or not possible) to format for tables-nested-in-tables and I keep getting errors.

[2019-04-03 15:12] KalyanChanumolu-MSFT commented on #28404
@SaltyDH  I was not able to add the User assigned Managed Identity as the AAD Admin for Azure SQL server. I will need to check internally if this is possible and supported.

However, I have a workaround for you that I tested and it works.

I created an App service and enabled MSI and added a User assigned managed identity (USMI)
Next I assigned the MSI as AAD Admin on Azure SQL instance.
Created a

[2019-04-03 15:13] Fabianm75 opened #28655 "New option available"
The "Automation Script" option was replaced with "Export Template" under Settings blade.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 818affca-9df7-1532-4139-cf0bff911b57
* Version Independent ID: 1036fe96-e4fe-a635-7a37-8449c8298d34
* Content: [Download the template for an Azure VM](https://docs.microsoft.com/en-us/

[2019-04-03 15:13] CeciAc opened #28656 "container is not VM"
hi team,
I'm moving this from here: https://github.com/MicrosoftDocs/azure-docs.cs-cz/issues/135
since the user is commenting on the original documentation:

@martinvelos commented:
"steps in publishing a VM offer" seem like a copy&paste artifact, highly misleading.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 68967f

[2019-04-03 15:20] paule96 commented on #26379
Okay it is the shortcut url. If I use the long URL it works.
So the redirection is wrong in Germany. 🤷‍♀️

[2019-04-03 15:21] dkmbw commented on #14182
Any pessimistic estimate when that will happen? :)

[2019-04-03 15:35] CarlRabeler commented on #28444
@Mike-Ubezzi-MSFT please close

[2019-04-03 15:38] lianetoohey commented on #17436
@kgmccann I tried the same thing but never got it to work. I wanted this for reporting so I'm going to try to feed my data source through some other connector, but I haven't figured out the details yet. Last I heard Microsoft was targeting a Q3 2019 fix for this.

[2019-04-03 15:39] #28444 closed

[2019-04-03 15:45] chrisjrisch opened #28657 "Process database permissions in SSMS"
This article indicates that the user must be in the Analysis Services Admins group (server admin) to connect to Azure Analysis Services via SSMS. Does that mean that a uses who is assigned permissions of "Process database" through an AS database role cannot connect to AS with SSMS and process a database?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-04-03 15:50] Mike-Ubezzi-MSFT commented on #28461
@hansmbakker The Stack Overflow answer provided by Nancy Xiong is spot on. If you deploy the application tier in an App Service Environment, you gain true VNet functionality. Using Multi-tenent environment does not fully support VNet only access...as Nancy pointed out in the Stack Overflow answer.

There is a article written by Deloitt that provides and overview and a comparison between a Multi-te

[2019-04-03 15:56] vhorne commented on #26082
@natelowry
You are correct! Note removed.
#please-close

[2019-04-03 15:58] natelowry commented on #26082
Thx!

[2019-04-03 15:58] #26082 closed

[2019-04-03 15:58] danielestevez opened #28658 "List images CLI command is not possible from API?"
Right now, to get all the images available in market place you have to go through all publishers/offers/skus/version and call https://docs.microsoft.com/en-us/rest/api/compute/virtualmachineimages/list

Isn't there a way (planned or not) to retrieve the full image list or at least the most popular ones from API?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2019-04-03 16:08] hansmbakker commented on #28461
@Mike-Ubezzi-MSFT I understand that ASE can be used to **restrict access to the App Service**. However, that is **not** what I'm trying to achieve.

I'm trying to let the App Service access another resource (in this case Cosmos DB, but also Blob Storage) **routed through the VNet**. I thought I could use the (new) VNet integration for that.

One of my questions is what the purpose of the App Servi

[2019-04-03 16:12] himanshusinha-msft commented on #28558
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2019-04-03 16:12] HeidiSteen commented on #25860
@loic-sharma  I updated the analyzer docs to include C# examples (https://docs.microsoft.com/en-us/azure/search/search-analyzers#c-examples).   Given the addition of C# examples, I would like to close this issue because it's addressed in the docs.

Other areas for improvement, such as adding more links and re-framing our samples, are in progress right now, but I would like to answer for that work

[2019-04-03 16:12] HeidiSteen commented on #25860
#please-close

[2019-04-03 16:14] nfegan opened #28661 "German cloud support for Azure AD v2.0"
This page suggests that Azure AD v2.0 is only supported for the global service. Our testing suggests that it seems to work against German cloud. Wondering now if it's now supported, but this page wasn't updated?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36ad8cf5-067f-6715-eabf-f0254d6ed7c8
* Version Independent ID

[2019-04-03 16:16] MicahMcKittrick-MSFT commented on #28460
They will be part of multiple clusters spread out throughout the data center.

[2019-04-03 16:19] #23922 closed

[2019-04-03 16:20] #27413 closed

[2019-04-03 16:20] #27412 closed

[2019-04-03 16:25] mshahat commented on #28393
Thanks, @jakaruna-MSFT ... looking forward to your feedback.

[2019-04-03 16:29] JPGRodrigues opened #28663 "Incoherent instructions on how to configure postman"
Documentation starts to state to register a Native App on Azure Active Directory (see https://docs.microsoft.com/en-us/azure/digital-twins/how-to-configure-postman#configure-azure-active-directory-to-use-the-oauth-20-implicit-grant-flow).
Starting on step 3, images and settings are shown/described for a Web App / API application.

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2019-04-03 16:34] Karishma-Tiwari-MSFT commented on #28655
@Fabianm75 Thanks for your feedback. The PR with the update has been created and changes will be live shortly.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/71923

[2019-04-03 16:35] Karishma-Tiwari-MSFT commented on #28651
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-03 16:44] MicahMcKittrick-MSFT commented on #28658
Thanks for the question! We are investigating and will update you shortly.

[2019-04-03 16:44] Karishma-Tiwari-MSFT commented on #28210
@dkkapur Did you get a chance to take a look at this customer issue? Thanks.

[2019-04-03 16:45] Karishma-Tiwari-MSFT commented on #28372
@eraoul We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-04-03 16:45] #28372 closed

[2019-04-03 16:47] #28655 closed

[2019-04-03 16:56] Grace-MacJones-MSFT commented on #25860
Thanks Heidi @HeidiSteen.  We will now proceed to close this thread.

[2019-04-03 16:56] #25860 closed

[2019-04-03 16:56] shashishailaj commented on #28648
@xNiklasJern Thank you for your feedback . We will investigate and update further.

[2019-04-03 17:01] MicahMcKittrick-MSFT commented on #28423
I will close for now. If you still have feedback just let me know and we can always reopen and continue the discussion.

[2019-04-03 17:01] #28423 closed

[2019-04-03 17:03] MartinJaffer-MSFT commented on #27788
@nabhishek  Thank you for your attention.

[2019-04-03 17:03] #27788 closed

[2019-04-03 17:04] HJToland3 commented on #20337
@sdecker, this change appears to be live. If you still see the issue, please let us know. Thanks!

[2019-04-03 17:06] SaurabhSharma-MSFT commented on #28477
@pratikmehta9 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-04-03 17:06] #28477 closed

[2019-04-03 17:06] shashishailaj commented on #28661
@nfegan Thank you for your feedback . We will investigate and update

[2019-04-03 17:07] danmyhre opened #28665 "Update to Authentication Contact Info"
If a global admin updates the authentication contact info, it DOES NOT impact the MFA challenges that are presented to the user.  Please clarify the documentation unless this is a bug.  For example, as a GA, you can't add a new auth phone and then have that auth phone number used in MFA challenges.  Only methods that the user enters in the myapps portal or the new https://mysignins.microsoft.com/s

[2019-04-03 17:07] SaurabhSharma-MSFT commented on #28032
@sllewe We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-04-03 17:07] #28032 closed

[2019-04-03 17:08] MicahMcKittrick-MSFT commented on #28658
@danielestevez you are able to get a list of images using PowerShell as you found.

You can also use Rest API

https://docs.microsoft.com/en-us/rest/api/compute/virtualmachineimages/listoffers

And you can query the same via CLI

https://docs.microsoft.com/en-us/cli/azure/vm/image?view=azure-cli-latest

And of course you can use the Portal to search for images.

[2019-04-03 17:16] rbergertd commented on #28308
I am having the same issue. I have published applications and verified my UPN has access, but the web feed is not updating. Have tried logging out, a different browser, etc. The diagnostics I see on my Feed are all successful.

[2019-04-03 17:17] himanshusinha-msft commented on #28657
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-04-03 17:23] Neenisharma opened #28666 "i was able to enable/disable MFA with just “user administrator” rights"
The document at the beginning mentions that “You can take one of two approaches for requiring two-step verification, both of which require using a global administrator account”.

However, I was able to follow the PowerShell method described in the article with just “user administrator” rights. my alias is Nishar, please reach out to me to discuss this further.

Regards,
Nidhi

---
#### Document De

[2019-04-03 17:25] HJToland3 commented on #27802
#please-close

[2019-04-03 17:26] julieMSFT commented on #28391
@LukeChung This has been suggested, please visit [https://feedback.azure.com/forums/217321-sql-database/suggestions/17028547-allow-sql-databases-to-be-shutdown](url) and vote for this feature which is under review.

[2019-04-03 17:26] julieMSFT commented on #28391
#please-close

[2019-04-03 17:27] YutongTie-MSFT commented on #24006
@simonech Please go ahead to send out your PR. @PatrickFarley Will help to review it. Thank you.

[2019-04-03 17:27] wesmc7777 commented on #25975
#please-close this is fixed

[2019-04-03 17:27] YutongTie-MSFT commented on #19134
@JohnStraumann66
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-04-03 17:27] #19134 closed

[2019-04-03 17:30] craigg-msft commented on #20337
#please-close

[2019-04-03 17:30] codyrat commented on #25812
This seems to be a requested since November 2016 and has a planned flag set since March 2017. Could Microsoft clarify whether they have any intention of supporting this feature as it affects our cost of service business plans for Azure USGoverment contracts that require encryption over ExpressRoute.
https://feedback.azure.com/forums/217313-networking/suggestions/17227049-ipsec-tunnel-over-expressr

[2019-04-03 17:32] rbergertd commented on #28308
@ShehzadUIT I just resolved mine. I had to remove my test user from the Remote Desktop group and assign them to my remote app group. This removed the desktop, and added the apps. I don't think users can be in more than one group right now. "Desktop Application Group" is the default group name for Session Desktop.

#Remove user from desktop group, assign to RemoteApp group
Add-RdsAppGroupUser <Tena

[2019-04-03 17:33] Mike-Ubezzi-MSFT commented on #28461
@hansmbakker The intent of the VNet Integration feature had the following requirements when the service was initially launched:

Like the earlier version, the new VNet Integration feature only enables your app to make calls into your virtual network. It does not affect inbound traffic to your app.
This feature is in preview in all public regions. It has the following characteristics:

(shortlist o

[2019-04-03 17:33] rbergertd commented on #28308
Add-RdsAppGroupUser <TenantName> <PoolName> RemoteAppGrpName -UserPrincipalName user@domain.com

I made a typo on the entry above - my mistake.

[2019-04-03 17:38] jay98014 commented on #28646
The documentation fix is now live.  I added the following statement to the deployment requirements:

"All machines that get the DC agent service installed must have .NET 4.5 installed."

[2019-04-03 17:39] jay98014 commented on #28646
#please-close

[2019-04-03 17:50] #25975 closed

[2019-04-03 17:50] femsulu commented on #28641
@rockboyfor Thanks for the comment. Is there something specific question you have or is there something  you would like to change, update in the referenced doc?
Please clarify.

[2019-04-03 17:50] bernitorres commented on #26079
Service principals used to be supported. Are there any plans to bring that functionality back?

[2019-04-03 17:50] spelluru commented on #28394
@PingPongSet - I am looking into it. The content may have been migrated into this article:
https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-premium-messaging

There is a blog post from the architect here:
https://azure.microsoft.com/en-us/blog/introducing-azure-service-bus-premium-messaging/

Video:
https://channel9.msdn.com/Blogs/Subscribe/Introducing-Azure-Service-Bus-Pre

[2019-04-03 17:58] prashanthyv commented on #26079
HI @bernitorres - Service Principal to ask Key Vault to manage storage account was not.

[2019-04-03 18:00] spelluru commented on #28420
@axisc - we need to provide description for the dead letter reason: MaxTransferHopCountExceeded?

An old issue (related): https://github.com/Azure/azure-service-bus/issues/21

What is the number of maximum allowed hops when forwarding between queues?

[2019-04-03 18:02] pratikmehta9 commented on #28477
Thanks.. got it :)

[2019-04-03 18:02] KumariSupriya commented on #15427
#please-close

[2019-04-03 18:02] KumariSupriya commented on #15283
#please-close

[2019-04-03 18:03] HaoHoo opened #28668 "The pictures and description are not match"
The last three description are not match the pictures.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: caeded30-d872-2900-f916-fb21108237c6
* Version Independent ID: 07d0ee8a-229f-84fa-2119-1b2e601cd497
* Content: [Create an application gateway with URL path-based redirection - Azure PowerShell](https://docs.microsoft.c

[2019-04-03 18:05] SaurabhSharma-MSFT commented on #28666
@Neenisharma Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-03 18:06] MGamil-MSFT opened #28669 "Can I install AD Connect to start using PTA on a workgroup machine?"
[Enter feedback here]

Is it supported to install AD Connect on a workgroup machine to start using PTA ? or PTA requires a domain joined machine to install AD Connect on it ?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a977c84-24c7-3f79-07f2-faa7acdfe282
* Version Independent ID: 08004960-7f51-29d0-0e59-c414747fe7ca

[2019-04-03 18:07] SaurabhSharma-MSFT commented on #28646
@lightupdifire We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-04-03 18:07] #28646 closed

[2019-04-03 18:11] GammaFour commented on #26577
@cijothomas - I use Entity Framework's Code First.  I found this out the hard way: if you screw around with the calling conventions of **CreateWebHostBuilder**, EF won't be able to create migrations or update databases.  You need to used the original convention that comes with the template.

Everything else works great, though.  Thanks for that and, yes, I would expect the configuration code in St

[2019-04-03 18:14] MartinJaffer-MSFT commented on #28598
That is what I was referring to.  'Function activity' referring to the widget inside Data Factory, as opposed to the Function App.

[2019-04-03 18:17] jhealy opened #28670 "Sample does not work in Edge, ok in Chrome"
Trying to run the sample at <https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-quickstart-azure-functions-csharp> .  Using VS2017/VS2019.

Basically all we have to do is add in the connection string and it should run.

Run function app in VS.  Open up Chrome and Edge browsers pointing to URL.

Chrome.  Messages sent are echo'd on chrome screen but not Edge.
Running in Edge.  Messages se

[2019-04-03 18:20] bernitorres commented on #26079
Thanks @prashanthyv. I must have misunderstood some docs.
Are there any plans for that functionality? In particular, I would like to set up a managed storage account in KeyVault, using Azure DevOps, which has a service principal with access to my subscription already. What would be the best way to enable this automation?

[2019-04-03 18:27] Mike-Ubezzi-MSFT commented on #20337
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-04-03 18:27] #20337 closed

[2019-04-03 18:27] rbergertd commented on #27902
@ShehzadUIT check this out. This is probably our issue.

[2019-04-03 18:27] Mike-Ubezzi-MSFT commented on #27802
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-04-03 18:27] #27802 closed

[2019-04-03 18:28] mganeshphani commented on #21577
@mattchenderson @Grace-MacJones-MSFT   Any update on this? been too much of wait here for me :)

[2019-04-03 18:30] sugarjig opened #28671 "Where to look for logs in Application Insights?"
I've configured an app using the 2.7.0-beta3 version of the SDK, following the instructions here. I have deployed the app to App Service. However, I don't see the logs appearing in Application Insights. It's not clear from the docs where we should see them. What event type are they? Will they be assigned an operation ID so that they are grouped with related events?

---
#### Document Details

⚠ *D

[2019-04-03 18:31] SteveParson opened #28672 "Missing information"
I have created a preencrypted VHD and have uploaded the secret to the keyvault. It is not clear what steps I need to follow in order to create a VM that uses this information.

Can you please specify a complete example (preferably using azure-cli) that will create a virtual machine from a pre-encrypted VHD and secret?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2019-04-03 18:33] sugarjig commented on #28671
Forgot to add, I'm seeing other telemetry (Requests, Exceptions, etc.) come through to Application Insights, just no logs.

[2019-04-03 18:34] jamihuq opened #28673 "Change pvc size for AKS persistent volumes"
Please update the following document https://docs.microsoft.com/en-us/azure/aks/azure-disks-dynamic-pv to add the instructions to change the size of a pvc after the pvc has been created.

The following document gives the instructions to change the size of a pvc after it has been created https://kubernetes.io/blog/2018/07/12/resizing-persistent-volumes-using-kubernetes/

For Azure, the sc default n

[2019-04-03 18:39] sugarjig commented on #28671
Also! I am supplying the instrumentation key through the environment variable `APPINSIGHTS_INSTRUMENTATIONKEY`

[2019-04-03 18:42] AjayKumar-MSFT commented on #28545
@robertwood62, The App Service Environment (ASE) feature is a premium service option of Azure App Service that delivers an enhanced configuration capability that is not available in the multi-tenant stamps. The Access Restrictions capability works within App Service.
If I understand your requirement correctly, the Application Gateway support for multi-tenant back ends on App service, the ability t

[2019-04-03 18:43] spelluru commented on #28394
@PingPongSet - here is the new link:
https://techcommunity.microsoft.com/t5/Service-Bus-blog/Premium-Messaging-How-fast-is-it/ba-p/370722

I have updated the article. It will go live around 3:30 PST today.

#please-close

[2019-04-03 18:43] KumudD commented on #23026
@jtuliani  Thanks for bringing this to our attention! I have created a work item for this request.

#please-close

[2019-04-03 18:44] TravisCragg-MSFT commented on #23026
@jtuliani Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-04-03 18:44] #23026 closed

[2019-04-03 18:46] Karishma-Tiwari-MSFT commented on #15283
@KumariSupriya Let me know if this issue is fixed so that I can close it out.

[2019-04-03 18:46] AjayKumar-MSFT commented on #28594
@munozrickT4S, Again, thanks for sharing your feedback. Yes, it is based on host endpoints, the connections are all outbound over standard web ports.
As mentioned in this document- Developers might notice that API calls to read and write ETW events and common Windows event logs appear to work, but that is because App Service is "faking" the calls so that they appear to succeed. In reality, the app

[2019-04-03 18:47] trevor-schmidt opened #28675 "Runbook to update Az Modules"
Is there a way to utilize an runbook to update all existing Az modules in our automation accounts? We will be using this as a daily cleanup task to verify all our automation accounts are using the latest versions of the Az modules.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 284c2dfa-cfa0-11a3-c082-2bd14e4fbd63
* Ve

[2019-04-03 18:50] #28123 closed

[2019-04-03 18:50] #28600 closed

[2019-04-03 18:50] #6553 closed

[2019-04-03 18:51] #13748 closed

[2019-04-03 18:51] #15427 closed

[2019-04-03 18:51] #28391 closed

[2019-04-03 18:51] #26758 closed

[2019-04-03 18:52] #5716 closed

[2019-04-03 18:52] cijothomas commented on #28671
Please check the doc for FAQ:

5. What Application Insights telemetry type is produced from ILogger logs? or Where can I see ILogger logs in Application Insights?

ApplicationInsightsLoggerProvider captures ILogger logs and creates TraceTelemetry from it. If an Exception object is passed to the Log() method on ILogger, then instead of TraceTelemetry, an ExceptionTelemetry is created. These telemet

[2019-04-03 18:52] #6981 closed

[2019-04-03 18:52] #6515 closed

[2019-04-03 18:53] #14728 closed

[2019-04-03 18:54] SaurabhSharma-MSFT commented on #28665
@danmyhre Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-03 18:55] SaurabhSharma-MSFT commented on #28305
@kazshi I have tested this and it doesn't work fore me either.  Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.
@barclayn Can you please check and update the document if this feature alerts are supported for VMSS.

[2019-04-03 18:57] femsulu commented on #28654
@Pisteuon Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-04-03 19:02] georgewallace commented on #28675
@trevor-schmidt Thanks for reaching out.  Sure you could use a runbook to update the Az Modules. You could use the [Remove-AzAutomationModule](https://docs.microsoft.com/en-us/powershell/module/az.automation/remove-azautomationmodule?view=azps-1.6.0) and [New-AzAutomationModule](https://docs.microsoft.com/en-us/powershell/module/az.automation/new-azautomationmodule?view=azps-1.6.0). Updating Az Mo

[2019-04-03 19:03] brahmnes commented on #28132
We are fixing the logic so the link to the troubleshooter will show up more often.

[2019-04-03 19:04] rmharrison commented on #28585
FFR, "Enable SMART on FHIR proxy" is under ""Additional Settings"

![20190403_Azure_FHIRproxy](https://user-images.githubusercontent.com/4275722/55505611-78aca280-5621-11e9-960d-4a8dc8840264.png)

[2019-04-03 19:08] SaurabhSharma-MSFT commented on #28661
@nfegan I do not think that it is currently supported.  Can you please provide steps with the authorization endpoint details on how exactly you have tested this.

[2019-04-03 19:09] mganeshphani opened #28676 "Does local development function runtime support this?"
It is great that Azure functions bring the runtime to developers computer to ensure they work seamlessly.. any chance you support this referencing in local settings json file?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7feaa3d0-7233-a3cb-cb9b-a9a55b1f0d7a
* Version Independent ID: f41f9d51-52f8-1f45-1043-1344a3b744

[2019-04-03 19:11] femsulu commented on #28653
@GammaFour happy to help. can you please share the link to the document you are referencing?

[2019-04-03 19:12] mganeshphani commented on #23978
@BryanTrach-MSFT what is the resolution reached here?

[2019-04-03 19:13] mganeshphani commented on #21003
@fgessen unfortunately you are speaking to no one here :) as closed issues aren't monitored... create a new ticket and reference this.. that might help

[2019-04-03 19:17] KingdomOfEnds commented on #28663
Hi @JPGRodrigues - Thanks for your feedback! The Digital Twins documentation defines three use-cases for Postman:

1. The first states how to configure your Web Application to accept OAuth 2.0 in Azure.
1. The second states how to obtain an OAuth 2.0 token once you've completed the step above (as stated in the documentation). Please note the grant type `implicit` that's used.
1.  The third identif

[2019-04-03 19:19] KingdomOfEnds commented on #28663
PS - should you prefer to use CURL to make a multipart form request instead, please see: https://docs.microsoft.com/azure/digital-twins/how-to-add-blobs.

PPS - Digital Twins is currently be updated and improved. Additional changes will be made to the documentation in the future to reflect these important and powerful new features. Thanks!

[2019-04-03 19:20] TravisCragg-MSFT commented on #28668
@HaoHoo Thanks for the feedback! I am able to see that 2 of the descriptions are the same, and the bottom description does not have an image. I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-04-03 19:23] MartinJaffer-MSFT commented on #28598
My apologies, @boris-kr  .  I have not heard back from my contacts.  You can go to the [Data Factory feedback forum](https://feedback.azure.com/forums/270578-data-factory) and upvote/propose this feature.

[2019-04-03 19:24] MartinJaffer-MSFT commented on #28598
If I hear back from them, I will reply here.

[2019-04-03 19:24] #28598 closed

[2019-04-03 19:25] danielestevez commented on #28658
Thanks for the answer!
Anyway my question would be if we can get all those images with just one request to the API instead of having to list all publishers, then all offers, then all SKUs and versions. That's a lot of requests for just one simple search.

[2019-04-03 19:26] danielestevez commented on #28658
More than a question is a suggestion to make the API more usable and with similar functionality as the CLI

[2019-04-03 19:27] CeciAc opened #28677 "not working without recognizer.AddIntent"
Hi team,
I'm moving this from here: https://github.com/MicrosoftDocs/azure-docs.ru-ru/issues/180
The user already made a thread about this issue but it may be a source issue

@Unders0n commented:
intent recognition was not working for me, i even created thread https://stackoverflow.com/questions/54764614/tutorial-speech-intent-recognition-not-working. But then i've tried to add recognizer.AddInten

[2019-04-03 19:30] spelluru commented on #9351
The article has been updated.

#please-close

[2019-04-03 19:31] spelluru commented on #12238
The article has been updated.
https://docs.microsoft.com/en-us/azure/notification-hubs/xamarin-notification-hubs-push-notifications-android-gcm

#please-close

[2019-04-03 19:34] KumariSupriya commented on #15283
Yes the issue is fixed.

Thanks
Supriya

From: Karishma Tiwari - MSFT <notifications@github.com>
Sent: Wednesday, April 3, 2019 11:47 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Supriya Kumari <sukumari@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] 400 Bad Request may be returned also from invalid format queries (#15283)

@Kuma

[2019-04-03 19:36] MicahMcKittrick-MSFT commented on #28658
As per making it easier, the LEAST you have to do is add a location. As some images are not included in some locations. So this will get all available images in a given region.

Valid feedback through as if you do want more details you do have to run a few commands.

I would start by leaving your feedback on the uservoice page

https://feedback.azure.com/forums/216843-virtual-machines

Other peopl

[2019-04-03 19:36] GammaFour commented on #28653
It's this link: [https://docs.microsoft.com/en-us/azure/azure-monitor/app/ilogger#aspnet-core-applications](url), but the problem was mine.  This doesn't work:

`host.Services.GetRequiredService<ILogger>()
`
This does work:

`host.Services.GetRequiredService<ILogger<Program>>()
`

[2019-04-03 19:37] jdcreek commented on #15279
@ricetristan Can you share the parameters you used for a successful end to end encryption when calling the Set-AzApplicationGatewayBackendHttpSettings command?

Thank you.

[2019-04-03 19:37] #28653 closed

[2019-04-03 19:37] Ibnajjar opened #28678 "Integrating Operations Manager with Log Analytics not supported for Linux"
It is mentioned in the document that "Configure integration between Operations Manager and Log Analytics to forward collected data from Linux and Windows computers reporting to a management group."

However Linux is not supported to send it's data to Log Analytics through SCOM integration.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-04-03 19:38] jay98014 commented on #28564
#please-close

[2019-04-03 19:38] danielestevez commented on #28658
Sure, location comes before in all those requests

I'll leave that feedback there too to see if it gets some interest.

Thanks again!

[2019-04-03 19:38] GammaFour commented on #28652
Actually, this may work after all.  I know that EF was fussy about messing around with that signature, but the template actually creates the WebHost according to the signature in the original example.

[2019-04-03 19:38] jay98014 commented on #28604
#please-close

[2019-04-03 19:39] #28658 closed

[2019-04-03 19:46] femsulu commented on #28652
@GammaFour happy to help. can you please share the link to the document you are referencing?

[2019-04-03 19:46] jhealy commented on #28670
![edge_fubar](https://user-images.githubusercontent.com/1870117/55508262-85cc9000-5627-11e9-87e3-add62e3bfcdb.jpg)

Lines in yellow do not error out in chrome.

[2019-04-03 19:49] femsulu commented on #28652
adding triage labels and closing.

[2019-04-03 19:49] #28652 closed

[2019-04-03 19:50] YutongTie-MSFT commented on #28573
@PanosPeriorellis  Hi Panos, quick question: If a language model ID and acoustic model ID is must for custom model? If just one ID is provide, like the customer just have the acoustic model ID, what format it should be? Thank you.

[2019-04-03 19:55] YutongTie-MSFT commented on #28677
@CeciAc
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-03 19:55] strohne commented on #28573
BTW: I would be interested in the scenario with only language model, no acoustic model. Current documentation states:

[2019-04-03 19:57] hansenms commented on #28585
@rmharrison, it is during provisioning, yes, but after provisioning (which the tutorial assumes, https://docs.microsoft.com/en-us/azure/healthcare-apis/use-smart-on-fhir-proxy#prerequisites), it is under "Authentication". Hope this helps.

[2019-04-03 19:58] YutongTie-MSFT commented on #28573
@strohne Yea Jakob, I am asking the similar thing, thank you for taking that here as well.

[2019-04-03 20:02] LukeChung commented on #28391
Done. Thanks.

From: julieMSFT <notifications@github.com>
Sent: Wednesday, April 3, 2019 1:27 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Luke Chung <Luke@fmsinc.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Is there a way to do this for a regular SQL database (#28391)

@LukeChung<https://github.com/LukeChung> This has been suggested, pl

[2019-04-03 20:04] dlepow commented on #28485
@CeciAc @Lycrosa - Thanks for pointing out the problem and the suggested fix. I submitted a PR to the de-de repo so that the script file should render properly as it does in the [en-us content](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-auth-service-principal).
#please-close

[2019-04-03 20:04] Blackbaud-ChrisBlythe opened #28679 "No subscription-level data available in Metrics"
Are there any plans to provide subscription-level data for message counts (active, DLQ, scheduled, etc.) via the Metrics interface? I only see these metrics available per topic, but that's not useful when trying to ensure that subscribers are consuming.

On the Subscriptions tab, you can see the Total Message count per subscription, but that's only partially useful.  It would be nice to see the me

[2019-04-03 20:10] GammaFour opened #28680 "Adding Application Insights Logging to an Azure Web Service crashes application."
I was having trouble getting my Web Service to load into an Azure Web Service.  So I took a fresh Web API project from the templates, compiled it, then published it to an Azure Web Service. It worked as expected.

Then I took the code and followed the instructions on this link: [https://docs.microsoft.com/en-us/azure/azure-monitor/app/ilogger#aspnet-core-applications](url).  Ran it locally.  It wo

[2019-04-03 20:15] MGoedtel commented on #25518
@christiankuhtz - Yes, I will bug this and help get that corrected.  Thanks.

[2019-04-03 20:18] SaurabhSharma-MSFT commented on #28666
@Neenisharma Thanks for the feedback ! I am able to reproduce your scenarios and  I have assigned this issue to content author to investigate and update the document as appropriate.
@MicrosoftGuyJFlo I have tested with an user having only "User Administrator" role and able to enable mfa of another user using PowerShell cmdlet.

[2019-04-03 20:27] SychevIgor opened #28682 "Do Microsoft have plans to certify AKS on FedRamps compliance?"
One of my customers think re-platforming of their app to run in Azure, and the biggest challenge is - that AKS not marked as FedRamp moderate compliant and we can't find any roadmaps.
Could you add a link to a certification roadmap for AKS if such exist?

We've seen blueprints from here https://docs.microsoft.com/en-us/azure/security/blueprints/fedramp-paaswa-overview and PDF report linked in this

[2019-04-03 20:29] Karishma-Tiwari-MSFT commented on #28485
Thanks @dlepow
@Lycrosa Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-04-03 20:29] #28485 closed

[2019-04-03 20:29] femsulu commented on #28656
@CeciAc Thanks for pointing this out.
@dan-wesley can you take a peek to see if an enhancement is required to the doc?

[2019-04-03 20:29] SychevIgor opened #28683 "Azure/containerized architecture compliant with FedRAMP"
One of my customers think re-platforming of their app to run in Azure, and the biggest challenge is - that AKS not marked as FedRamp moderate compliant and we can't find any roadmaps.

If some Azure/containerized architecture compliant with FedRAMP exist- could you add an article about

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2019-04-03 20:38] JasonWHowell commented on #28612
Wonder if this is related to this issue:
https://github.com/Azure/azure-event-hubs-spark/issues/80

[2019-04-03 20:40] boris-kr commented on #28598
@MartinJaffer-MSFT you mentioned there is a possible workaround. Can you please share more details?

[2019-04-03 20:41] MarileeTurscak-MSFT commented on #28489
Yes it's possible for table storage. That error generally means that your client ID/app ID is not configured under the right tenant. Have you registered everything properly?

[2019-04-03 20:42] MarileeTurscak-MSFT commented on #28489
Which Github sample are you using for this, if any?

[2019-04-03 20:44] MarileeTurscak-MSFT commented on #28562
Thanks, @mdinnocenzo

I made a pull request to add the link. It should go live in 24 hours. https://github.com/MicrosoftDocs/azure-docs-pr/pull/71970

[2019-04-03 20:44] #28562 closed

[2019-04-03 20:45] sugarjig commented on #28671
Fair. I think I missed that because I was scanning for something specific to the Application Insights UI. Based on that answer, I should be able to see log statements as "Trace" and "Exception" event types in Search and Analytics.

[2019-04-03 20:52] vhorne commented on #28668
Changed "video" to "images" in sentence preceding second screenshot.
#please-close

[2019-04-03 20:56] MarileeTurscak-MSFT commented on #28577
@brucelangston thanks for the feedback. I agree and made a pull request to fix this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/71971

[2019-04-03 20:56] #28577 closed

[2019-04-03 20:56] femsulu commented on #28673
@jamihuq Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-04-03 21:01] seshenoy commented on #28489
@MarileeTurscak-MSFT Yes, I did register it correctly on Microsoft tenant... I didn't use a sample per se, but used the code available on docs

[2019-04-03 21:12] Karishma-Tiwari-MSFT commented on #28682
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-03 21:22] Grace-MacJones-MSFT commented on #28459
Closing this thread because it is been addressed on #28461

[2019-04-03 21:22] #28459 closed

[2019-04-03 21:27] MatthewBracewell opened #28685 "Samples link 404"
https://github.com/Azure/azure-sdk-for-js/tree/master/packages/%40azure/servicebus/data-plane/examples is dead.
Found https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/servicebus/service-bus/samples which *appears* to be the intended destination.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94440863-21fb-8ed0

[2019-04-03 21:27] wolfma61 commented on #28677
The documentation isn't very clear here, we will update this.

There is an 'AddAllIntent' function so you won't have to iterate over the available intents.

I hope this helps.

thx
Wolfgang

[2019-04-03 21:31] dinobrago commented on #28573
I believe I have this set up correctly but I get the error "the recordings URI contains invalid data." which sounds like my audio file is corrupt or the wrong format. I've tried this on a number of different formats, all matching the supported formats. Is there anything special about the Azure blob setup? Or is there a sample audio file that you know works with this?

[2019-04-03 21:33] #28563 closed

[2019-04-03 21:34] strohne commented on #28573
I guess you need to set your blob storage to public.

[2019-04-03 21:41] pochiraju commented on #21319
Control server role should be enough, unless you have some sort of deny permissions as well.  Can you please check?

[2019-04-03 21:43] gmelnyk opened #28686 "VSS Copy Doesn't Seem to Be Working"
We have implemented the following registry key, but the SQL backups still taken by Azure Backup are full, not copies:
REG ADD "HKLM\SOFTWARE\Microsoft\BcdrAgent" /v USEVSSCOPYBACKUP /t REG_SZ /d TRUE /f

Are there additional steps that need to be taken?  We have rebooted.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-04-03 21:44] HJToland3 commented on #21319
@J-E-C, please see the previous comment from Raj Pochiraju. Please let us know what you find!  Thanks!

[2019-04-03 21:44] Mike-Ubezzi-MSFT commented on #28341
@sujayvsarma We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-04-03 21:44] #28341 closed

[2019-04-03 21:44] BharathNimmala-MSFT commented on #28671
@cijothomas - Appreciate your quick response on this Cijo.
@sugarjig - Glad that info provided has helped you. We are going ahead and closing this issue for now, if you have any further queries please feel to revert back and will be happy to help.

[2019-04-03 21:44] #28671 closed

[2019-04-03 21:47] tamram commented on #28563
@TracyGH - Thanks so much for your feedback. I've updated the doc to clarify that metadata names should be ASCII characters only and should not be Base64-encoded. They should follow HTTP header naming guidelines.

[2019-04-03 21:48] #28367 closed

[2019-04-03 21:48] Mike-Ubezzi-MSFT commented on #28367
@hjlarrea We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-04-03 21:49] qibozhu commented on #28525
@rossdo88 Hi, which platform did you deploy blob storage container? Windows or Linux? Which Azure Storage Explorer version did you use?

For Linux, you need to use specific Azure Storage Explorer version 1.5.0. For Windows, the latest version should work.

Please look at this document for more information.
https://docs.microsoft.com/en-us/azure/iot-edge/how-to-store-data-blob#azure-storage-explore

[2019-04-03 21:49] Mike-Ubezzi-MSFT commented on #28434
@yuharucan We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-04-03 21:49] #28434 closed

[2019-04-03 21:50] Mike-Ubezzi-MSFT commented on #28435
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-04-03 21:50] #28435 closed

[2019-04-03 22:00] hjlarrea commented on #28367
Thank you guys, I tried the REST API method and it works perfectly. Thank you!

[2019-04-03 22:00] TravisCragg-MSFT commented on #28436
@easonlauys I do not believe there is a default way to do this, but you can use the Provider Usage API to get a list of resources and billing amounts for subscriptions. It is a bit indirect, but you can use this to break down the memory usage per resource and calculate it by subscription.

If you would like us to add this functionality in the future, please [leave your feedback Here](https://feedb

[2019-04-03 22:00] #28436 closed

[2019-04-03 22:23] jdcreek opened #28687 "Azure WAF (v2): End to End SSL - Trusted Root Certificates Issue"
Greetings.

We are currently testing the Azure WAF (v2) for a POC in our environment. End to end SSL is a hard requirement for our scenario.

1. We have a wildcard certificate issued by a well-known CA attached to each one of our listeners.
2. The VNET hosting our backend pool members uses our custom DNS servers. Thus, each backend pool member is defined by its FQDN, and has its own SSL certificat

[2019-04-03 22:23] Know1 commented on #27791
Yesterday I had the same error Get-RdsTenant, Get-RdsDiagnosticActivities both failing with "User is not Authorized" messages. Logged it with support and they redirected me here.
Today I go try the same command to post some more info here, it worked perfectly.
So no idea what happened between yesterday and today (note this first was tried/setup a week ago).

My suggestion for a fix if you have the

[2019-04-03 22:30] LuisBosquez commented on #24553
Hello @Mike-Ubezzi-MSFT @roishillo

Can you try updating the driver to version 3.4.1?

We also need to **change the serializer version** to `GraphSONSerializersV2d0`.

I haven't been able to repro on my end with that configuration. We actually also force SSL communications, so disabling the SSL enforcement shouldn't be necessary.

Let me know if these work.

Thanks,
Luis

[2019-04-03 22:37] Pisteuon commented on #28654
I figured it out.  seems I needed to update the OWIN NuGet Packages.  the old ones automatically use the login.live.com instead of login.microsoftonline.com

[2019-04-03 22:37] #28654 closed

[2019-04-03 22:40] dinobrago commented on #28573
That was it, thanks.

[2019-04-03 22:52] vicperdana commented on #25812
Thanks @codyrat.  Yes, I agree that there are a few cases where this
feature is a must-have.

On Thu, Apr 4, 2019 at 4:30 AM codyrat <notifications@github.com> wrote:

[2019-04-03 23:01] Karishma-Tiwari-MSFT commented on #28369
@MrBananaGuard
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-04-03 23:04] #15283 closed

[2019-04-03 23:06] MicahMcKittrick-MSFT commented on #28673
@jamihuq thanks for the feedback on this. I will assign to the author to review and see if it makes sense to add that information to this doc.

We try to keep these docs as simple as we can to ensure users have easy steps to follow to get started. But I can see how having a section on increasing the size might also be useful.

@iainfoulds can you take a look?

[2019-04-03 23:07] MicahMcKittrick-MSFT commented on #28570
@erikschlegel I will close this for now. If you still have questions feel free to ping me offline and I can give you some additional resources you can use for questions like these.

[2019-04-03 23:07] #28570 closed

[2019-04-03 23:11] Adam-Smith-MSFT commented on #28373
@jaypatrick
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-04-03 23:13] wmgries commented on #28373
Sorry I'm getting to this late. ReFS definitely **is not** supported by Azure File Sync. The Windows team at this point is positioning ReFS as the file system for HCI hosts, while NTFS as the file system for file servers and clients. We're following the Windows team's guidance until it changes.

We're big fans of ReFS, so it's not for our lack of wanting to :)

[2019-04-03 23:14] MicahMcKittrick-MSFT commented on #28687
@jdcreek thanks for reaching out. Please provide us with the link to the documentation you are referring to so we can better assist

[2019-04-03 23:16] jdcreek commented on #28687
@MicahMcKittrick-MSFT Referenced documentation is: https://docs.microsoft.com/en-us/azure/application-gateway/ssl-overview

[2019-04-03 23:18] Heidilohr commented on #28599
Hi @pinsoftware and @jakaruna-MSFT, I've updated the doc and changed the time value from ten minutes to three hours. The change should go live relatively soon.

[2019-04-03 23:43] MarileeTurscak-MSFT commented on #28648
@xNiklasJern it does seem to lead to an unrelated page. I'm pretty sure the link should be this: https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-convert-app-to-be-multi-tenant

I made a pull request for approval by @CelesteDG

https://github.com/MicrosoftDocs/azure-docs-pr/pull/72000

[2019-04-03 23:43] #28648 closed

[2019-04-03 23:45] femsulu commented on #28663
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-04-03 23:45] #28663 closed

[2019-04-03 23:48] Juliako commented on #17974
Added more info to https://docs.microsoft.com/en-us/azure/media-services/previous/media-services-portal-creating-live-encoder-enabled-channel#common-live-streaming-scenario

[2019-04-03 23:49] Juliako commented on #17974
#please-close

[2019-04-03 23:49] femsulu commented on #28669
@MGamil-MSFT Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-04-03 23:53] olivoarroba opened #28688 "Tutorial is missing information on what to expect as result"
I've been struggling with this tutorial for a few hours now and it seems to me that the root cause is that there is no explanation as what should we expect as a correct behavior from the example that we've built.
The HTTPStart function returns the createCheckStatusResponse and I correctly get the get status URL, event URL, terminate URL, etc. And now what? There is no explanation whatsoever.
A obv

[2019-04-03 23:57] MarileeTurscak-MSFT commented on #28582
You can use Microsoft.Azure.ActiveDirectory.PIM.PSModule PowerShell Module to enable or disable the role assignments. The PowerShell Module is available [here](https://www.powershellgallery.com/packages/Microsoft.Azure.ActiveDirectory.PIM.PSModule/2.0.0.151). Also, Please refer to the [link ](https://www.linkedin.com/pulse/how-configure-azure-ad-pim-via-powershell-step-khalid-hussain/)for steps to

[2019-04-03 23:57] MarileeTurscak-MSFT commented on #28582
We will now proceed to close this thread. If you have further questions feel free to tag me in the comments or open a new post on MSDN.

[2019-04-03 23:57] #28582 closed

[2019-04-03 23:57] femsulu commented on #28672
@SteveParson Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-04-03 23:58] MarileeTurscak-MSFT commented on #28489
Hi @seshenoy ,

Can you please email me at AzCommunity@microsoft.com and I can open a free support ticket for you?

[2019-04-04 00:04] CelesteDG commented on #28648
Thank you, @xNiklasJern for noting this.
Thank you, @MarileeTurscak-MSFT for the fix. Approved it.

[2019-04-04 00:15] rossdo88 commented on #28525
It was installed in Windows edge. The Explorer is lastest version. This issue still keeps going. I have test in few VM, local PC. happend the same.

[2019-04-04 00:15] kazshi commented on #28305
@SaurabhSharma-MSFT Thanks for your verification. I learned that ATP for VMSS would be supported when I checked with PM in Security team about 12 weeks ago (it's in Private Preview at that time), so I was assuming it's implemented from the updated document.

[2019-04-04 00:17] spbreed commented on #23789
Still facing the same issue.  Cannot access dashboard, API or kubectl using AD accounts

Below command works, this creates k8s admin crendetials to /home/user/.kube/config
```az aks get-credentials --resource-group xxx-dev-test01 --name xxxk8sdev --admin```

After adding the cluster role binding with AD user or group, usually, users can login with below
```az aks get-credentials --resource-group x

[2019-04-04 00:21] TravisCragg-MSFT commented on #28687
@jdcreek The requirements for E2E SSL for V2 App Gateways are [outlined in the doc](https://docs.microsoft.com/en-us/azure/application-gateway/ssl-overview#end-to-end-ssl-with-the-v2-sku).

The certificate you are using would qualify as a self signed or signed by unknown intermediaries, so the following point will apply to your scenario:

You will need to explicitly define the truested root certif

[2019-04-04 00:23] MartinJaffer-MSFT commented on #28598
One replied:

[2019-04-04 00:28] MartinJaffer-MSFT commented on #28598
@boris-kr I was thinking (have not tested yet), get the necessary authentication information in a prior activity, and then pass it in as am additional header in the Azure Function Activity.

My apologies if this isn't applicable.  I frequently get the authentication services confused.  I seem to recall doing this with the bearer token one.

[2019-04-04 00:28] chriskuech opened #28689 "Cannot use function"
I see my function and its alias in my saved queries, but when I call my function in the query editor, the function name is red underlined and the query fails.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84d4e579-8d9a-473a-8c2f-8242942d048c
* Version Independent ID: d9977efb-b617-42aa-15f0-82d35cd4df93
* Content: [Fu

[2019-04-04 00:30] m-raman opened #28690 "Is the documentation current?"
I understand the API server logs are part of activity logs and considered control pane logs. This is not mentioned here. Secondly, diagnostic settings does not give options for Event Hub and Storage account. For diagnostic setting logs the only option is to log to log analytics workspace and you do not get Log options shown in the first diagram on this page.

---
#### Document Details

⚠ *Do not e

[2019-04-04 00:32] srrengar commented on #24852
At this time we do not have a date for this, will reopen if things change #please-close

[2019-04-04 00:36] femsulu commented on #28680
Hi @GammaFour,

Sorry for the issue you are experiencing. We are happy to help but this channel is reserved for documentation issues/bugs.

For the best possible response, we recommend posting this issue to the [Azure Apps Insight](https://social.msdn.microsoft.com/Forums/vstudio/en-US/home?forum=ApplicationInsights) forum where one of our engineers will engage asap.

We will now close this issue

[2019-04-04 00:36] #28680 closed

[2019-04-04 00:38] roygara commented on #28327
@techiearun Thanks for your patience, I've just heard back and no, there have been no changes.

[2019-04-04 00:43] pospanet opened #28692 "Dprecated DsvmCompute in code sample"
In section [Create Resource](https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-auto-train-remote#create-resource) DsvmCompute is used. Yet this class is deprecated and AmlCompute should be used.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a086a867-60ff-3f45-702d-2ea0ce0f4f0c
* Version Independen

[2019-04-04 00:45] femsulu commented on #28679
@Blackbaud-ChrisBlythe Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-04-04 00:56] femsulu commented on #28678
@Ibnajjar Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-04-04 01:03] mike-urnun-msft commented on #28688
Hi @olivoarroba Thank you for your feedback! We will review and update as appropriate.

[2019-04-04 01:05] LeeHyeongWon opened #28693 "I have some questions about offline ioedge."
hi

I have a few questions before using the edge computing.

1. https://docs.microsoft.com/ko-kr/azure/iot-edge/offline-capabilities
   1-1. What happens to the data in the module that used to be working when the computer was turned off during a module operation without using the cloud?
   1-2. There's something called message storage. Is this the role?
   1-3. Message storage supports basic 2 hou

[2019-04-04 01:07] mike-urnun-msft commented on #28685
Hi @MatthewBracewell Thank you for reporting this issue! We will review and make any necessary changes.

[2019-04-04 01:10] femsulu commented on #28686
@gmelnyk Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-04-04 01:14] femsulu commented on #28676
@mganeshphani Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-04-04 01:17] KeiroKamioka0000 opened #28694 "Is user able to see and download the files in the Azure Security Center Storage?"
Hello, does user able to view the any file located in the [Azure Security Center Storage]?

If user can't view the file located in the Azure Security Center Storage directly, please consider to add this fact in the FAQ document please.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6487e328-ca64-913c-933d-79fdcf97bd99

[2019-04-04 01:36] j-martens commented on #28147
#please-close

[2019-04-04 01:40] rboy1 commented on #23166
Not much time left so I'm hoping you're working on putting together a reference service (just like the v2) and I simply repoint the existing code to the new service URL. Thanks

[2019-04-04 01:46] conceptdev commented on #25618
As far as I'm aware there's no **Azure Mobile Apps** template in Visual Studio 2019.
However, you can keep using your old projects, or create an _ASP.NET Web API_ project, and still deploy to Azure App Service, much the [same as 2017](https://docs.microsoft.com/azure/app-service-mobile/app-service-mobile-dotnet-backend-how-to-use-server-sdk#publish-server-project). We'll figure out what the best u

[2019-04-04 02:29] AnisioMoreira opened #28696 "RFC7871"
In the "Geographic traffic-routing method"
Mention RFC 7871 Support. As described in FAQ.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fec705c3-1ca3-f5e7-d5ff-3e2baa11a5e8
* Version Independent ID: 3936b98a-94e1-8781-15de-d8fa6fd552b7
* Content: [Azure Traffic Manager - traffic routing methods](https://docs.microsoft

[2019-04-04 02:50] vinnielima opened #28697 "PriceSheet API call for EA errors with "Report type and report view are not compatible""
Is there any additional filters/parameters which can be passed to the "https://consumption.azure.com/v2/enrollments/&lt;ea id&gt;/pricesheet" API to specify as such?  receiving this error:

{"error":{"code":"401","message":"Report type and report view are not compatible. Report Type: PriceSheet, Report View: AccountOwner"}}

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2019-04-04 02:51] mike-urnun-msft commented on #28670
Hi @jhealy Thank you for pointing this out and sharing your feedback with us! Could you clarify which version of Edge you've tried running it on?

[2019-04-04 02:54] femsulu commented on #28689
@chriskuech Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-04-04 02:59] DixitArora-MSFT commented on #28613
@dcbrown16 Could you elaborate more on your ask where do you see the option specify a "User" when creating a subscription.

[2019-04-04 02:59] femsulu commented on #28683
@SychevIgor Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-04-04 03:03] dcbrown16 commented on #28613
![image](https://user-images.githubusercontent.com/34466884/55526860-74957a80-564b-11e9-9bbb-c5d59774b5b2.png)
Here are the steps to get there - #3 is the menu item in question.

[2019-04-04 03:11] skmkzyk opened #28698 "number of being able to delegation"
&gt; Subnet delegation: A subnet can have zero to multiple delegations enabled for it.

This doc says this, but only one delegation will be applied to one subnet.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8332806-35c4-26e5-56e6-0286d728ad45
* Version Independent ID: ce76cee4-5629-7439-309c-9b9705891b57
* Content:

[2019-04-04 03:12] skmkzyk commented on #28698
In Azure Portal, you can select multiple Service Endpoint, but can't for Subnet Delegation.

![image](https://user-images.githubusercontent.com/34650736/55527159-c1706400-56d2-11e9-92a1-d2ec40edb878.png)

[2019-04-04 03:18] DixitArora-MSFT commented on #28613
@dcbrown16 I have assigned this to content author to review and update as appropriate.

[2019-04-04 03:26] KalyanChanumolu-MSFT commented on #28427
@SapnaSoni123 Its been a while we heard from you. We hope your issue is resolved.
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-04-04 03:26] #28427 closed

[2019-04-04 03:28] KalyanChanumolu-MSFT commented on #28569
@mstearman We hope your query is addressed.
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-04-04 03:28] #28569 closed

[2019-04-04 03:36] hansenms commented on #25553
#please-close

[2019-04-04 03:37] hansenms commented on #25553
#please-close

[2019-04-04 03:38] hansenms commented on #25620
#please-close

[2019-04-04 03:39] hansenms commented on #27324
#please-close

[2019-04-04 03:41] KetanChawda-MSFT commented on #28566
@JohnDoeKyrgyz Checking in to see if the above post helped answering your question.

[2019-04-04 03:41] KetanChawda-MSFT commented on #28605
@batizar Checking in to see if the above post helped answering your question.

[2019-04-04 03:46] KetanChawda-MSFT commented on #28679
@axisc Any plans to add subscription-level data available in metrics ?

[2019-04-04 03:46] JasonWHowell commented on #28260
This formatting issue is pending fix in MicrosoftDocs/azure-docs-pr#70625 and will be published soon.

[2019-04-04 03:52] DixitArora-MSFT commented on #28685
@MatthewBracewell  I have created the [PR ](https://github.com/MicrosoftDocs/azure-docs-pr/pull/72018)which will correct the link . Thanks so much for providing the feedback that help us in improving the documentation. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will

[2019-04-04 03:56] JasonWHowell commented on #28260
#please-close

[2019-04-04 04:12] HaoHoo commented on #28668
Thank you!

[2019-04-04 04:12] #28668 closed

[2019-04-04 04:12] neeleshray commented on #28694
@KeiroKamioka0000
Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-04 04:13] Maqsoodp commented on #28429
For now I have disabled the rule. The files we support are many, so I can't figure what data is being uploaded. I see higher chances of false positives.

[2019-04-04 04:16] wilsonchua20 commented on #28642
Hi, may i know why when uploading acoustic data set, the status is failed?

[2019-04-04 04:18] RohitMungi-MSFT commented on #28692
@pospanet Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-04-04 04:24] SumanthMarigowda-MSFT commented on #26705
@AlejoSQL Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-04-04 04:24] #26705 closed

[2019-04-04 04:25] danielgwilson commented on #24975
I'm still confused by this—it wasn't obvious in the docs how to make sure proxies.json gets uploaded. I still have no proxies showing in the portal for my function.

I'm using Node and TypeScript with a version 2 Azure Function.

Where in `extensions.csproj` do I add the following?
[code]

[2019-04-04 04:25] #28604 closed

[2019-04-04 04:27] kogesaka opened #28700 "About App Service plan supported by App Cloning"
Thank you for always providing useful information.

This Document writes, "App cloning is currently only supported for premium tier app service plans.", But if you look at the following site, it seems that it also supports Isolated tier.

 - App Service Plans | Microsoft Azure
   https://azure.microsoft.com/en-in/pricing/details/app-service/plans/

Also, I tried App cloning in practice, but it can

[2019-04-04 04:49] aziegelb commented on #25941
The documentation states that load balancing between VMs that reside inside of a VNet (Internal Load Balancing) is free.  This can be done with a standard load balancer so would this not be free?  If not, I think the documentation should be updated to reflect this point as it wasn't clear to the OP or myself.  Thank you.

[2019-04-04 04:53] jakaruna-MSFT commented on #28696
@AnisioMoreira Are you referring to this document https://docs.microsoft.com/en-us/azure/traffic-manager/traffic-manager-configure-geographic-routing-method

[2019-04-04 05:02] Shekharb694 commented on #25749
I'm trying to access it from INDIA , so that's the problem.
So , do you suggest that using a VPN on my development system will resolve the issue ?

[2019-04-04 05:11] AshokPeddakotla-MSFT commented on #28693
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-04 05:22] YutongTie-MSFT commented on #24030
@khandelwalbrijesh Hi Brijesh, could you please take a look of this issue? Sorry for not assigning it to you at very first time.

[2019-04-04 05:23] #25553 closed

[2019-04-04 05:23] #27324 closed

[2019-04-04 05:24] YutongTie-MSFT commented on #28677
@wolfma61 Thank you for the quick response.

@CeciAc We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-04-04 05:24] #28677 closed

[2019-04-04 05:27] sujayvsarma commented on #28341
This problem also affects the Microsoft Bot Framework SDK. Please see here:
https://github.com/Microsoft/botbuilder-dotnet/issues/1421

[2019-04-04 05:31] JihongL commented on #28311
@AshokPeddakotla-MSFT
Thanks for kind comments. But, I still have a question.

I noticed that from your first answer that Edge hub store messages that can't delivered to IoT Hub.

Docs describes, Edge hub store messages locally in case a route can't deliver the message to its sink. and table shows two types of sink, $upstream and BrokeredEndpoint.

Docs example and you tells, messages to IoT Hub($

[2019-04-04 05:37] ingeknudsen commented on #28567
We have also faced the same issue when creating the cluster using calico as --network-policy. However we have also seen the same effect when scaling an existing cluster created using calico. All new nodes are left hanging in a NotReady state. The cluster is otherwise working well.

[2019-04-04 05:38] femsulu commented on #28451
@dohughes-msft  We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-04-04 05:38] #28451 closed

[2019-04-04 05:49] msrini-MSFT commented on #28698
@skmkzyk , Thank you for providing your feedback. You are correct.

According to [this](https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-for-azure-services) documentation,

" services might require a delegated subnet as an explicit identifier that a subnet can host a particular service. Subnet delegation gives explicit permissions to the service to create service-specific res

[2019-04-04 05:57] jakaruna-MSFT commented on #28542
@abelal83 is there any update

[2019-04-04 06:00] Fabian-Schmidt opened #28720 "Audit in Azure SQL Database with Read Scale-Out"
The article indicates that Audit is not available for connections to Read Scale-Out.

Is it correct that no Audit collection for connection to Read Scale-Out is done?
Does this mean that there is no Threat Detection for Read Scale-Out connections?
Is the Query Performance Insight in the Azure Portal affected?
Is the Automatic tuning for Azure SQL Databases affected?
Is the Performance recommendati

[2019-04-04 06:04] jakaruna-MSFT commented on #28544
@Morhpeuss This [comment](https://github.com/tensorflow/tensorflow/issues/10130#issuecomment-303468724) looks relevant to your issue . Please check and let me know.

[2019-04-04 06:05] annerejula commented on #28457
May I know if there's any update on this please? Is the updating the "Wadcfg" part of the diagnostics configuration sufficient for including Azure Monitor Sink or is there more I have to modify?

[2019-04-04 06:08] SnehaAgrawal-MSFT commented on #28595
@munozrickT4S Thanks again for the question! As it is mentioned in document the connection uses TLS 1.2 for security and shared access signature (SAS) keys for authentication and authorization.
You may refer below link https://docs.microsoft.com/en-us/azure/biztalk-services/integration-hybrid-connection-overview#security-and-ports

[2019-04-04 06:11] SnehaAgrawal-MSFT commented on #28700
@kogesaka Thanks for the feedback! We are currently investigating and will update you shortly

[2019-04-04 06:15] jakaruna-MSFT commented on #28544
If you are using a opensourced app, Please share the code as well.

[2019-04-04 06:17] snehithm commented on #28292
#please-close

[2019-04-04 06:18] RohitMungi-MSFT commented on #28642
@wilsonchua20 If you are using REST the audio for the first 15 seconds is recognized and the text is returned. I have tested the same using a audio file which was more than 1 minute and it returned only the first 15 seconds text. If you plan to use longer audio files please use any of the SDKs.

You can try mode 'dictation' and add enable [custom pronunciation](https://docs.microsoft.com/en-us/azu

[2019-04-04 06:21] msrini-MSFT commented on #28429
@Maqsoodp , Thanks for your update. I will go ahead and close this issue for now and you can reopen if you have any further questions by tagging me.

[2019-04-04 06:21] #28429 closed

[2019-04-04 06:22] BryanTrach-MSFT commented on #23978
@mganeshphani Are you encountering this issue with your ASE and Key Vault?

[2019-04-04 06:36] RohitMungi-MSFT commented on #28643
@IvanParedes365 I ran a test of this quickstart and the text was translated successfully. Could you please check if your translator text resource in Azure portal is still valid? I am using the subscription key of my resource and it works fine, If you are using a bearer token then it might be the token might have expired.

![image](https://user-images.githubusercontent.com/46958063/55534405-fa5c090

[2019-04-04 06:38] jakaruna-MSFT commented on #28690
Thanks for the question! We are investigating and will update you shortly.

[2019-04-04 06:44] PanosPeriorellis commented on #28573
You can provide just one ID. We will figure out which model it corresponds too

From: YutongTie-MSFT <notifications@github.com>
Sent: 03 April 2019 21:51
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Panos Periorellis <Panos.Periorellis@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Using custom model IDs does not work like explained

[2019-04-04 06:45] abelal83 commented on #28542
I've got it working thank you. Could the documentation be updated to reflect this as a requirement as it's not very clear at all?

[2019-04-04 06:47] #28542 closed

[2019-04-04 06:47] wilsonchua20 commented on #28642
Thank you for that. Should i also import for acoustic data set, even if i already imported the words in language data (i just pronounce the words in acoustic data set since they are not all in english)?

[2019-04-04 06:48] Kirbogd opened #28722 "typo"
A typo EncryptFormaLall instead of EncryptFormaTAll in https://docs.microsoft.com/en-us/azure/security/azure-security-disk-encryption-faq#is-xfs-filesystem-supported
"XFS volumes are supported for data disk encryption only with the EncryptFormalAll. "

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75aaea98-a087-c6d0-61

[2019-04-04 06:49] PiyalGeorge commented on #28531
Is such a connection possible? @angoyal-msft @jakaruna-MSFT
I have tried this - https://github.com/dreamfactorysoftware/azure-documentdb-php-sdk
and this https://github.com/cocteau666/AzureDocumentDB-PHP. In both cases the creation of DB and table, deletion of DB and Table is possible. But the creation of Table entries(Documents) are  not possible.

[2019-04-04 06:58] simonech commented on #24006
I will

Sent from my iPhone

[2019-04-04 06:58] SaltyDH commented on #28404
Interesting, thank you for the feedback. The main difference is I used an Azure Active Directory user rather than a System assigned managed identity as the SQL Admin due to multiple app services having access to the same SQL instance.

[2019-04-04 07:01] RohitMungi-MSFT commented on #28642
For language model acoustic data set is not required but you need to add language data first.

[2019-04-04 07:02] axelgMS commented on #28567
This is a new bug - it's currently being fixed. Will write back here when test & validation are ok

[2019-04-04 07:02] KalyanChanumolu-MSFT commented on #28404
Once the AAD group is created as an External user on the database, you can remove the MSI and revert to AAD User as AD Admin.

Please let us know if you have further questions.

[2019-04-04 07:06] SaltyDH commented on #28404
Ok, I thought that the two approaches were interchangeable, the MSI approach being a quick way to get it up and running rather than specifically having to use an MSI first and then switch. The AAD Group was successfully created as an EXTERNAL PROVIDER on the database using the AAD user. I would have expected an error if this was a problem. Thanks again.

[2019-04-04 07:29] ManuelMos commented on #17348
Any news regarding the support for actual versions?

[2019-04-04 07:34] normaliok commented on #27791
The same problem for me:

Get-RdsDiagnosticActivities : User is not authorized to query the management service.
ActivityId: 54d31bc3-02d0-4551-8ef5-b9f304fdedb2
Powershell commands to diagnose the failure:
Get-RdsDiagnosticActivities -ActivityId 54d31bc3-02d0-4551-8ef5-b9f304fdedb2

[2019-04-04 07:41] #28292 closed

[2019-04-04 07:44] v-samiya commented on #28524
Thank you very much. Please let me know.
We try to figure out that "Downloaded as VHD file" but actually the file doesn’t have NO extension” is a current Azure specification or not (breakfix)…

Many thanks,
Sachi

From: jakaruna-MSFT <notifications@github.com>
Sent: Wednesday, April 3, 2019 3:09 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Sachiko Miyatake (Sonata Software N

[2019-04-04 07:58] SumanthMarigowda-MSFT commented on #28373
@wmgries  Thank you for responding on this @jaypatrick Please let us know , If you need any future assistance.

[2019-04-04 07:58] #28373 closed

[2019-04-04 08:02] SumanthMarigowda-MSFT commented on #28722
@Kirbogd Thanks for your question. We are checking on this and will respond to you soon.

[2019-04-04 08:36] Morhpeuss commented on #28544
I tried it, but it doesn't work for me. I got the same error.

import tensorflow as tf
import numpy as np
from PIL import Image
from urllib.request import urlopen
from datetime import datetime
from object_detection import ObjectDetection

**# Force load contrib ops
dir(tf.contrib)**

MODEL_FILENAME = 'model.pb'
LABELS_FILENAME = 'labels.txt'

od_model = None

class TFObjectDetection(ObjectDetectio

[2019-04-04 08:39] angoyal-msft commented on #28720
@Fabian-Schmidt Thanks for your feedback. We are investigating this issue actively and will get back to you soon.

[2019-04-04 08:43] Kyle-Champion commented on #27658
The documentation is still broken... The correct version should look like this.

![image](https://user-images.githubusercontent.com/30497560/55541936-4c972d00-56c6-11e9-9539-76dc0eac3088.png)

[2019-04-04 08:52] RohitMungi-MSFT commented on #28692
@pospanet Thanks for pointing this out. It looks like DsvmCompute will be deprecated soon.

[code]

@j-martens @nacharya1 Could you please review this and add to your backlog to update this document and others using DsvmCompute?

[2019-04-04 08:55] robaker commented on #28149
We have 2 entirely separate feedback mechanisms in play here. Hell, why not?
For the _other_ way of having your valuable feedback urgently ignored, try this link: https://cognitive.uservoice.com/forums/598141-custom-vision-service/suggestions/37251376-default-iteration-feature-needed-to-be-back

[2019-04-04 08:56] KalyanChanumolu-MSFT commented on #28404
@SaltyDH I believe your issue has been addressed.
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-04-04 08:56] #28404 closed

[2019-04-04 09:03] StefanSchoof commented on #5417
@GarthOlivier Thanks for sharing your solutions. Got it with your example working.

This really needs better documentation.

[2019-04-04 09:23] pniederlag opened #28728 "Duplicated Content in App Service and App Service on Linux"
https://docs.microsoft.com/en-us/azure/app-service/app-service-web-get-started-php
https://docs.microsoft.com/en-us/azure/app-service/containers/quickstart-php

really confusing to see this content duplicated in two different sections. Only difference is the toggle '--is-linux' in the appserviceplan to indicate a linux based app runtime (as opposed to a - by default - windows based one?).

---
###

[2019-04-04 09:23] CHEEKATLAPRADEEP-MSFT commented on #28345
@AndyFromVolvo We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-04-04 09:23] #28345 closed

[2019-04-04 09:24] CHEEKATLAPRADEEP-MSFT commented on #28338
@anmtando Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-04-04 09:24] #28338 closed

[2019-04-04 09:25] mvinicius563 opened #28729 "Connection string for User-assigned identity scenario doesn't work"
I'm trying to use "RunAs=App;AppId={ClientId of user-assigned identity}" as the connection string to validate that my user-assigned identity has access to the relevant vault, but I get this exception:
System.ArgumentException: Connection string RunAs=App;AppId=ddf8e437-da4e-4015-a6c9-dc25dda6a503 is not valid. Must contain 'TenantId' attribute and it must not be empty.
... which indicates it's try

[2019-04-04 09:25] jakaruna-MSFT commented on #28690
@m-raman Diagnostic settings shows all three options as shown in the first screenshot on this [document](https://docs.microsoft.com/en-us/azure/aks/view-master-logs#enable-diagnostics-logs).
![image](https://user-images.githubusercontent.com/43405697/55544842-947b7b80-56e9-11e9-841d-ee4dbef4f481.png)
Can you post a screenshot here if it not working for you

[2019-04-04 09:33] #21474 closed

[2019-04-04 09:34] PramodValavala-MSFT commented on #21474
@dzeyelid The doc has since been updated to address this.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-04 09:37] MatthewBracewell commented on #28685
@DixitArora-MSFT can you correct the link to the PR - it's another 404 right now! ;)

[2019-04-04 09:38] jberezanski-mdg opened #28731 "How many IP addresses are required?"
"Do not overly restrict the number of IP addresses available within the dedicated subnet for your managed domain" - so how large the subnet should be? For classic on-prem AD, two domain controllers would consume 2 IP addresses, so taking into account 5 IPs reserved typically by Azure, a /29 network (3 usable IPs + 5 reserved) would seem to be enough and a /28 network would leave plenty of room for

[2019-04-04 09:44] Mr-Famous commented on #27773
Try to verify that you enter the correct Application ID and Tenant Admin PW.
If you want to verify those run the following commands in PowerShell:

By running the command you will get the Password:
$svcPrincipalCreds.Value

By running the command you will get the Tenant ID:
$aadContext.TenantId.Guid

By running the command you will get the Application ID:
$svcPrincipal.AppId

[2019-04-04 09:45] borys86 commented on #28582
@MarileeTurscak-MSFT
why do you close the incident without reading what I am asking?
I am not asking on how to automate elevation of permissions. I am asking on how to create new eligible assignments.

[2019-04-04 09:45] PramodValavala-MSFT commented on #28688
@olivoarroba You are right. It seems the JS doc wasn't updated with the steps. The [C# doc](https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-create-first-csharp#test-the-function-locally) on the other hand have these steps mentioned.

We will work up a PR for this.

[2019-04-04 09:47] loopfish opened #28732 "Why is Enterprise Edition required?"
"VMs in Azure running SQL Server 2016 (or greater) Enterprise edition"... Standard Edition also support AGs, (although you have to create multiple AGs if you have multiple databases) so why is that not supported?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ccbc869-93e2-edbc-dad6-cbb33df6ca98
* Version Independent I

[2019-04-04 09:47] erjenrijnders commented on #27773
I succesfully deployed a WVD, created a blogpost about it:
https://erjenrijnders.nl/2019/04/04/how-to-deploy-windows-virtual-desktop-in-azure/
Please let me know if that works for you, otherwise let me know where you struggle.

[2019-04-04 09:51] loopfish opened #28733 "Which edition of SQL Server is provisioned?"
It does not say in the documentation...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83b469f4-b118-3ce8-852f-535661ded5e4
* Version Independent ID: f720f442-9dc7-a6d5-afd9-97e173cbae9d
* Content: [Set up high availability for Azure Resource Manager VMs](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/

[2019-04-04 09:51] borys86 opened #28734 "automation of PIM configuration"
Dear team. I am sking this question 3rd time. Please read it before closing.

I want to know how is possible to automate the configuration of PIM? An example: I have a subscription or a resource group. How I can set up PIM role assignment to a specific role is configured. I am looking into any API, powershell or c# code samples on how to automate configuration of PIM in Azure.
Please do not point

[2019-04-04 09:54] SadiqhAhmed-MSFT commented on #25867
@bandersmsft Any update on this?

[2019-04-04 09:54] ChrisGibson1982 opened #28735 "unable to register 'Microsoft.GuestConfiguration' provider"
I have tried registering the provide using the example PS and it errors with "The operation is not permitted for namespace 'Microsoft.GuestConfiguration'. List of permitted provider namespaces is..." the provider isn't in the permitted list. Also if i try via the portal, i can't see it in the list to register

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2019-04-04 09:54] borys86 commented on #28734
I missed graph section in your last comment. please close this issue.

[2019-04-04 09:55] SumanthMarigowda-MSFT commented on #28525
@rossdo88
Issue may occur due to: Network issue/ Proxy/subscription/updates
There a few reasons you may be seeing this error,
Firstly I would suggest to try the troubleshooting steps mentioned in this [article](https://docs.microsoft.com/en-us/azure/storage/common/storage-explorer-troubleshooting?tabs=1804 )
2. Roll back to the older version 1.4.2(Try testing in older version) Mainly check the net

[2019-04-04 10:09] TommyQuality opened #28737 "Is needed or not needed"
Hi, right at the start it says:
"POA enables scheduling for non-Azure Hosted clusters." and then says: POA is not required for non-Azure hosted clusters.
Should that read "POA is not required for Azure hosted clusters"? Or am I just misunderstanding?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3a16900-c967-ccf9-2d8

[2019-04-04 10:25] SadiqhAhmed-MSFT commented on #28697
@vinnielima Thanks for the question! We will investigate this issue and get back to you soon.

@mumami Would you've any insights on this?

[2019-04-04 10:28] SnehaAgrawal-MSFT commented on #28700
@kogesaka Thanks again for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-04-04 10:36] jnprakash opened #28738 "Verify Settings in Microsoft"
I work with Microsoft team at my work place and I was told that Microsoft is moving away from users giving consent to applications on their own behalf due to security concern. Is this true? If so can you update the documentation and also provide insights into the new process to give consent to the org data for the apps. It still uses the default configuration with users able to register applicatio

[2019-04-04 10:41] PramodValavala-MSFT commented on #28572
@jn-altius I've tried the same setting _but_ I don't see the same problem though. The function runs just once.

Here is how my `host.json` looks like
[code]

I've tested this both locally and on Azure.

[2019-04-04 10:41] JPGRodrigues commented on #28663
Thank you for the feedback.
Good to know that documentation updates are on the way...

[2019-04-04 10:45] jn-altius commented on #28572
Hi Pramod,

Did your function fail on the first runthrough?  What error message did you get?

My host.json file is identical to that.

Thanks.

[2019-04-04 10:49] PramodValavala-MSFT commented on #28572
@jn-altius Yes. My code fails by default.
[code]

Here are the logs that I see
![image](https://user-images.githubusercontent.com/43602528/55550200-4bc9bf80-56f5-11e9-8dbd-864c0be8a966.png)

Also, one thing that I've noticed is that if you are redeploying `host.json` with changes, you will have to restart the function app for it to pick it up.

[2019-04-04 10:50] SadiqhAhmed-MSFT commented on #28686
@gmelnyk Are you using [Azure VM backup](https://docs.microsoft.com/en-us/azure/backup/backup-azure-vms-introduction) or [Azure Backup for SQL Server in Azure VM](https://azure.microsoft.com/en-us/blog/azure-backup-for-sql-server-in-azure-virtual-machines-now-generally-available/)? If you're using Azure VM backup, I suggest referring to the [troubleshooting guide](https://docs.microsoft.com/en-us/

[2019-04-04 10:51] bramamad opened #28739 "No proxy support for ASE ILB available"
In a test we detected that ASE ILB doesn't support a proxy for outgoing Internet connections. But inside our onPrem network - and ASE ILB is part of this - we have to use the proxy. - The only undesired way for that is to "whitelist" the ASE subnet on firewall and allow a direct connection to Internet. - Should be solved hopefully in the future !

---
#### Document Details

⚠ *Do not edit this sec

[2019-04-04 10:52] jmprieur commented on #24914
@ejazr83 : we now have a code sample for MSAL.java: https://github.com/AzureAD/microsoft-authentication-library-for-java/blob/dev/src/samples/confidential-client/ClientCredentialGrant.java
and MSAL.Python: https://github.com/AzureAD/microsoft-authentication-library-for-python/blob/dev/sample/client_credential_sample.py

[2019-04-04 10:52] jmprieur commented on #24914
#sign-off

[2019-04-04 10:54] chanmmn opened #28740 "There is no Elastic Database jobs but Elastic job agent"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f557bf18-545a-82e2-ca63-6ba4b81b0464
* Version Independent ID: 268101ca-07cd-482c-88ae-d4cf56849d6c
* Content: [Installing elastic database jobs](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-elastic-jobs-service-installation)
* Con

[2019-04-04 10:55] golfalot opened #28741 "Clarification requested: requires Owner permission on DevOps Service or Subscription level ?"
Quoting "For App Service to create the necessary Azure Pipelines in your Azure DevOps Services organization, your Azure account must have the role of Owner in your Azure subscription."

Forgive me, but I'm a bit tired. Are we talking about this location
 https://dev.azure.com/foobar/_settings/
And the value of &lt;Organization owner&gt; in here ?

---
#### Document Details

⚠ *Do not edit this sec

[2019-04-04 10:56] SadiqhAhmed-MSFT commented on #28265
@richardspitz We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-04 10:56] #28265 closed

[2019-04-04 10:58] chanmmn commented on #28740
In the section:
Install the Elastic Database jobs components using the Portal
Step:
2. If you are creating a job for the first time, you must install Elastic Database jobs by clicking PREVIEW TERMS.
When I was trying to create the Elastic Database jobs components using the Portal then there is no Elastic Database jobs but Elastic job agent.
See the picture here https://1drv.ms/u/s!AuZYHSwsevw1jC9N

[2019-04-04 11:05] reddy-sucharit opened #28742 "Mongo DB Version 4.0 Support"
Hello Team, Do we support the latest version of Mongo DB (Version 4.0) at the moment ? In general, after they release their new version (4.2 is coming soon) how long do we take to get their latest version supported ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 958fb2c2-c1b8-5a1b-09db-8f255bf07778
* Version Independe

[2019-04-04 11:16] SnehaAgrawal-MSFT commented on #28728
@pniederlag Thanks for the question! We are investigating and will update you shortly.

[2019-04-04 11:32] Phydeauxman commented on #9561
It would be great to have deeper guidance on this topic. Absent of guidance, we are discovering limitations in how an ASE can be configured when it comes to Azure Functions and trying to leverage path based routing with an Application Gateway.

[2019-04-04 11:37] shashishailaj commented on #28734
@borys86 Thank you for your query . We are sorry that you had to create a issue multiple times to obtain an answer . We understand that you were able to find the related answer where you could do it using [Microsoft graph API](https://docs.microsoft.com/en-us/graph/api/resources/privilegedidentitymanagement-root?view=graph-rest-beta) .   Currently it is not as extensive as it should be however , t

[2019-04-04 11:39] shashishailaj commented on #28734
@borys86 AS per your last comment , we understand you have found the details you required and requested a closure of this issue. We will proceed with closure of this issue and you can open a new issue in case you have any further query or tag any of us to your reply .

Thank you.

[2019-04-04 11:39] #28734 closed

[2019-04-04 11:41] SadiqhAhmed-MSFT commented on #28735
@ChrisGibson1982 Thanks for the question! We are actively investigating and will get back to you soon.

[2019-04-04 12:05] msrini-MSFT commented on #27192
@vikaskumawat80 , If you are looking for a solution which mitigates BOTs in edge, you can go with Azure Frontdoor which has WAF capabilities.

Azure frontdoor WAF is still in Public Preview. You can try that and let us know if you have any questions.

[2019-04-04 12:05] SadiqhAhmed-MSFT commented on #28438
@rolyon thank you for your time.

@mdgattuso Could you please help here?

[2019-04-04 12:07] AnisioMoreira commented on #28696
Yes, but more specifically the concept: https://docs.microsoft.com/en-us/azure/traffic-manager/traffic-manager-routing-methods#geographic-traffic-routing-method

[2019-04-04 12:07] jakaruna-MSFT commented on #28544
I will close this issue here since this is not related to Azure docs. We will continue the discussion in [MSDN Forum.](https://social.msdn.microsoft.com/Forums/en-US/b40f13a6-5a1a-4ca0-a8bf-b96ff0c4e897/docker-container-wont-start?forum=AzureMachineLearningService)

[2019-04-04 12:07] #28544 closed

[2019-04-04 12:08] jakaruna-MSFT commented on #28737
Thanks for the question! We are investigating and will update you shortly.

[2019-04-04 12:27] jhealy commented on #28670
edge: 44.7763.1.0
edgehtml: 18.17763

I'm msft so teams me if you want a demo.

[2019-04-04 12:31] jakaruna-MSFT commented on #28733
#28732 related issue

[2019-04-04 12:33] jakaruna-MSFT commented on #28733
I think you found the answer. In that document a note says that Enterprise Edition of SQL Server is installed.

[2019-04-04 12:37] jakaruna-MSFT commented on #28732
@loopfish  I have assigned this issue to the content author to answer your query.

[2019-04-04 12:44] LeeWeedon opened #28743 "Total Failure Following Module update"
If you update modules to the latest in Azure this breaks the scriping as it fails to understand
Start-AzureRmAutomationRunbook -automationAccountName $automationAccountName -Name $runbookName -ResourceGroupName $aroResourceGroupName -Parameters $params

Only solution is to delete all, and re-deploy with a new auto account without the updated modules.

---
#### Document Details

⚠ *Do not edit this

[2019-04-04 12:52] mumian commented on #24317
@MrCNeale - Thank you for your comment, and sorry for the delay response.  The issue was fixed.  Because Azure Deployment Manager has migrated the cmdlets from AzureRM to Az, this is no longer an issue.  I updated the article earlier this week.  Should you have any m ore questions, please feel free to reach me.
#please-close

[2019-04-04 13:00] MZDN commented on #28351
ok, I am fine with this.

[2019-04-04 13:02] msrini-MSFT commented on #28696
@AnisioMoreira , Yes,  Traffic manager also considers the client subnet address if it is included in the query by the resolver making the request on behalf of the end user. This is not only used for Geo-graphical profile, but also for Performance profile.

And hence it is added in the FAQ page for reference. The page which you referred is Traffic manager routing methods. It is better suited in FAQ

[2019-04-04 13:05] pospanet commented on #28692
I can send PULL request for merge, if you like. Not sure I have found all affected pages, but hope I did.

[2019-04-04 13:06] j-martens commented on #28692
Please @j-martens @nacharya1  in your PR. THANKS, Jan.

[2019-04-04 13:08] KetanChawda-MSFT commented on #28676
@mganeshphani Unfortunately, this isn't supported yet for local development.

Here is a [PR](https://github.com/Azure/azure-functions-host/pull/3791) for supporting Key Vault in the Functions Host and the [issue](https://github.com/Azure/azure-functions-core-tools/issues/933) for tracking its integration with Azure Function Core Tools.

[2019-04-04 13:22] omnimose opened #28745 "wrong subnetmask parameter in the PowerShell Script?"
Why the subnet mask parameter is 255.255.255.255?
"SubnetMask"="255.255.255.255";

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09504e18-c72f-07ee-3ef8-dc9ed44562ca
* Version Independent ID: 8058bb4f-2321-ddf2-9930-0cc767b68a62
* Content: [Create a SQL Server availability group listener in Azure virtual machines](http

[2019-04-04 13:28] grahamjtr opened #28746 "An error occurred while starting the application"
I followed this tutorial closely and everything seemed to work except when I navigate to my app I get an internal server error showing "An error occurred while starting the application."
If I go into the app settings and manually set ASPNETCORE_ENVIRONMENT to "Development" instead of "Production", my app works, however of course it does not connect to my SQL database.
Thanks for any help.

---
###

[2019-04-04 13:34] vikaskumawat80 opened #28747 "Move CSP Subscription to different Tenant"
Can we move CSP Subscription to a different Azure AD tenant? I know we can for EA/PAYG/Visual Studio subscriptions but not sure about CSP.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da261ee4-3348-b520-a27c-98f9d9ef40cc
* Version Independent ID: 13d12189-ee46-8058-dd99-058adc69f1c5
* Content: [Add an existing Azure

[2019-04-04 13:37] tomwwagstaff-product opened #28748 "No instructions for classic web service"
It says, "For the second Azure Machine Learning linked service, the configuration is different when your Azure Machine Learning Web Service is a classic Web Service or a new Web Service. The differences are discussed separately in the following sections."

but then I don't see any further references to the classic Web Service or how it would differ from the instructions given for the new web servi

[2019-04-04 13:38] solomson commented on #28593
@jarakuna-MSFT

If I assign 0.2 GB RAM the containers will run as expected, yes. Output from Azure Monitor shows that the containers use about 125 MB RAM each to just run in idle.

The containers are built from the image openjdk:8-jdk-alpine and run Spring Boot. I did a few more tests to check for error messages with different resource allocations between tests. There are no error messages, but th

[2019-04-04 13:38] gtrudel opened #28749 "Please document sign in error code 500273"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-04-04 13:39] sergaz-msft commented on #12528
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-04 13:39] #12528 closed

[2019-04-04 13:44] PIaH commented on #18219
@MicahMcKittrick-MSFT
Any update here?
The issue still seems to be open.

[2019-04-04 13:47] gtrudel commented on #28749
![ADproblem2](https://user-images.githubusercontent.com/49279225/55560635-7d1a9f00-56a5-11e9-96c7-05db31e66bd2.PNG)

[2019-04-04 13:56] jomolesk commented on #28683
@SychevIgor -- please email me directly: jomolesk@microsoft.com

[2019-04-04 13:59] jomolesk commented on #28683
Issue not related to content on this article; #please-close

[2019-04-04 14:01] KasamShaikh opened #28750 "Deployment Center - GitHub Authorization not working"
When GitHub is selected as an deployment option, its asks for Authorization. When clicked on Authorization, it leads to GitHub page, once credential is feeded, its display 404 message. Kindly help.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81dce42d-71bc-9ac0-b016-4add247bb48a
* Version Independent ID: 72e95a87-a30

[2019-04-04 14:05] MikeStephens-MS commented on #22396
@szolla  We'll investigate adding this to our documentation. Our next doc update is scheduled for May. Thank you

[2019-04-04 14:09] KasamShaikh commented on #28750
Let me add more to it, no authorization flow is working, Tries for OneDrive it prompts, incorrect url; tried with DropBox, it says bad request sent!

[2019-04-04 14:09] MikeStephens-MS commented on #19030
@sjlouder Our next doc update is scheduled for May. We have a password synchronization page that will include in the resources that discussed more about Azure AD DS and password. We'll try to include a link inline with the content, if possible.  Great feedback.

[2019-04-04 14:12] MikeStephens-MS commented on #18906
We will investigate and update the bug/docs accordingly. Our next content update is in May.

[2019-04-04 14:14] BhargaviAnnadevara-MSFT commented on #28456
@mrbullwinkle Indeed, thanks for the pointer!

@Blackbaud-ChrisBlythe Hope the above information helps and addresses your question. We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-04-04 14:14] #28456 closed

[2019-04-04 14:15] MikeStephens-MS commented on #18262
We reported this to the HDI team and they told us this issue is resolved.
#please-close

[2019-04-04 14:16] MikeStephens-MS commented on #18253
We reported this issue to the HDI team. They informed us this problem is resolved. Wildcard certificates always begin with an asterisk (*).
#please-close

[2019-04-04 14:17] georgewallace commented on #28743
@LeeWeedon Thanks for reaching out. Sorry to hear about the trouble you are having.  Unfortunately this is a known issue. A note had been added to the top of the article earlier this week to point out that the latest Azure modules do not work with the Start Stop VM Solution.  When there is an update to this we will make sure to add it to the Updates RSS feed on Azure.com [Azure updates](https://az

[2019-04-04 14:18] corporateg opened #28751 "Failing over a VM with a NIC with multiple IP addresses is not supported."
The support matrix has no mention of the following scenario.

Failing over a VM with a NIC with multiple IP addresses is not supported.  Only the primary IP will be kept upon failover.

When failing over, the configuration takes the primary IP address on the NIC when replication is configured.  When failover occurs, the new VM in the target region will have the Primary IP address of the NIC in the

[2019-04-04 14:19] MikeStephens-MS commented on #18122
We'll add clarity around certificates and names in our next doc update, which is scheduled for May.

[2019-04-04 14:19] dickstar opened #28752 "Some keywords error"
In section 5, Send the web request and get the JSON response.
To be consistent with previous section
It should be
$result = file_get_contents($endpoint . "?q=" . urlencode($term), false, $context);
not
$result = file_get_contents($url . "?q=" . urlencode($query), false, $context);

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2019-04-04 14:19] ZollnerdMSFT opened #28753 "Missing warning to not use "Default Access" role"
Default Access role is not supported for provisioning. Most other provisioning guides specifically call out that you cannot use it, but we omitted that in this guide. Needs to be added as it still applies here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5c1eea5-5694-9f74-a129-ad266f14bf43
* Version Independent ID:

[2019-04-04 14:19] tomwwagstaff-product opened #28754 "How to retrain the model"
If I update a dataset from my Python script as described here, can I also trigger the model to retrain based on the updated data from my Python script?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c798198a-6a22-41a3-5bdc-5e4e06446a9b
* Version Independent ID: 3fb2d7ca-27df-87a8-9fdf-99245438f2e9
* Content: [Access da

[2019-04-04 14:21] georgewallace commented on #27588
@christophkarner If you have further questions, please don't hesitate to reach out. @MicrosoftDocs/azure-cxp-triage #plese-close

[2019-04-04 14:21] DCtheGeek commented on #28735
@ChrisGibson1982 Can you confirm which environment (Commercial, national cloud, etc.) you are in?

@MicrosoftDocs/azure-cxp-triage Please assign to me and #in-progress.

cc / @mgreenegit

[2019-04-04 14:23] SychevIgor commented on #28683
@jomolesk agree , it's not about this article, but I don't know how to request an article . I will drop an email to you

[2019-04-04 14:23] #28683 closed

[2019-04-04 14:29] Djiit commented on #21602
Did the trick for me too. Thanks

[2019-04-04 14:30] githubavi opened #28755 "How to assign token policy for a specific user id?"
Hi, I have a question. How to assign token policy for a specific user id? I tried with User Object Id, but could not find equivalent "Add-AzureADServicePrincipalPolicy" command for user. Any help?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02ff3d62-dc0e-ad0c-f5ae-418337cf31e4
* Version Independent ID: d50952b5-6b98

[2019-04-04 14:31] githubavi opened #28756 "Where to get the detail documentation on "Definition" JSON object"
Hi, where to get the detail documentation on "Definition" JSON object with all possible valid values? Couldn't find that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02ff3d62-dc0e-ad0c-f5ae-418337cf31e4
* Version Independent ID: d50952b5-6b98-c40d-d3a3-f9cbec58dd28
* Content: [Configurable token lifetimes in Azure A

[2019-04-04 14:33] #27588 closed

[2019-04-04 14:34] githubavi opened #28758 "Where is the powershell commands or Api or SDK for Azure Active Directory Conditional Access"
Hi, at the beginning of the documentation it has been mentioned that this feature will migrated to new "Azure Active Directory Conditional Access". But, I couldn't find any link or reference where I can see the equivalent powershell commands or Api or SDK for "Conditional Access Policy". Any help?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2019-04-04 14:35] vhorne commented on #23694
@solidcloudio
According to the product team, there is no way to block based on path in v1. However, this will soon be added to v2. Stay tuned.
#please-close

[2019-04-04 14:41] TracyGH commented on #28563
@tamram - Thank-you for the update!  I'm still somewhat puzzled tho, and maybe that's because I'm not understanding the HTTP Header specs correctly.  Based on [the specs](https://tools.ietf.org/html/rfc7230#section-3.2), it appears that a hyphen ('-') would be a legal HTTP Header field name, but I get the following error when trying to use a hyphen in the the metadata property name of an Azure blo

[2019-04-04 14:41] vhorne commented on #24184
@OffColour
According to the product team, this might be a bug in the health status report mechanism, but more investigation is needed. Please open a support case. Send us the ticket number so we can forward to the product team to track.

[2019-04-04 14:43] SubhashVasarapu-MSFT commented on #28386
@Daud23 , Azure Application Gateway logs can be tracked using log analytics. Please go through this article for capturing activity logs.
https://docs.microsoft.com/en-us/azure/azure-monitor/platform/collect-activity-logs
Try this and let me know if it doesn't help you

[2019-04-04 14:49] AndresHurtadoRMT commented on #6849
Microsoft.Configuration.ConfigurationBuilders.Basic? i guess it means Microsoft.Configuration.ConfigurationBuilders.Base right?

[2019-04-04 15:03] corporateg opened #28760 "Support for UEFI boot Physical to Azure"
This section mentions that support for UEFI boot is only for VMWare VMs.

 **> Note

However, based on recent blog post, this support should be extended to Physical to Azure servers as well.

https://azure.microsoft.com/en-us/blog/new-azure-migrate-and-azure-site-recovery-enhancements-for-cloud-migration/

Can we update the support matrix to include this information?

Thanks!
_

---
#### Document

[2019-04-04 15:07] ChrisGibson1982 commented on #28735
"cloudName": "AzureCloud"

[2019-04-04 15:08] haveyoumetcp opened #28761 "Config parameter not passed in"
In the "Create cluster: Configuration object" section for the last statement "New-AzHDInsightCluster".  The -config value using the $config object variable is not passed in.  It should be passed in correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2700c253-d5ff-d166-7338-d9238044e210
* Version Independent ID: c4d

[2019-04-04 15:09] Movarda commented on #8247
no answer here???

[2019-04-04 15:11] grahamjtr commented on #28746
Silly mistake on my part. I got more info by adding a new app setting: ASPNETCORE_DETAILEDERRORS = true, to tell me I had a typo in my username for the SQL database in my connection string.

[2019-04-04 15:11] #28746 closed

[2019-04-04 15:15] SubhashVasarapu-MSFT commented on #28315
@wenchengchuang We understand you have a requirement of being able to divide allocated express-route bandwidth within multiple internal divisions of your business. At the time being , we do not have a way to divide the bandwidth allocated to one single Expressroute circuit . However, we request to provide a feedback for the same to the user-voice feedback system for Expressroute at, https://feedba

[2019-04-04 15:15] #28315 closed

[2019-04-04 15:16] Mike-Ubezzi-MSFT commented on #28740
@chanmmn Thank you for taking the time to provide this detailed feedback. We are currently investigating and will make corrections as appropriate.

[2019-04-04 15:19] Mike-Ubezzi-MSFT commented on #28742
@reddy-sucharit Thank you for your interest in Azure cloud services and for your inquiry. We are currently investigating and will update you when I can confirm a few details.

[2019-04-04 15:19] mrbullwinkle commented on #27767
@MicrosoftDocs/azure-cxp-triage #please-close

[2019-04-04 15:21] mrbullwinkle commented on #24496
Closing this one out as it is addressed in the latest release of this doc.

@MicrosoftDocs/azure-cxp-triage #please-close

[2019-04-04 15:35] Karishma-Tiwari-MSFT commented on #28745
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-04 15:39] shashishailaj commented on #28729
@mvinicius563 Thank you for your feedback . We will investigate and update this thread.

[2019-04-04 15:40] BharathNimmala-MSFT commented on #27767
Thank you Michael.

[2019-04-04 15:40] #27767 closed

[2019-04-04 15:41] shashishailaj commented on #28738
@jnprakash Thank you for your feedback . We will investigate and update the thread accordingly .

[2019-04-04 15:41] BharathNimmala-MSFT commented on #24496
Thank you Michael.

[2019-04-04 15:41] #24496 closed

[2019-04-04 15:42] shashishailaj commented on #28731
@jberezanski-mdg Thank you for your feedback . We will investigate and update the thread accordingly .

[2019-04-04 15:44] spelluru commented on #28649
@JakubHolovsky - There are instructions on how to get to this page in this archived article: https://docs.microsoft.com/en-us/previous-versions/azure/azure-services/dn530751(v=azure.100)#visual-studio-server-explorer.

I will migrate that information into this article.

Basically, this is what you need to do:

To diagnose a notification hub in Visual Studio, expand the Notification Hubs node in th

[2019-04-04 15:44] shashishailaj commented on #28758
@githubavi Thank you for your query. We will investigate and update further.

[2019-04-04 15:46] shashishailaj commented on #28747
@vikaskumawat80 Thank you for your query . We will investigate and update this thread.

[2019-04-04 15:48] raluca256 opened #28763 "Windows image clarification"
Hello, Would it be possible to add a clarification on the need to download new version of Windows Server images? It is not clear to me if the images downloaded are automatically updated with the new OS fixes and new versions of guest OS, or if the admin must manually replace the images periodically to have the latest updates available. Thank you!

---
#### Document Details

⚠ *Do not edit this sec

[2019-04-04 15:51] DrEsteban commented on #27666
@shashishailaj @CelesteDG Any update on this?  Thanks!

[2019-04-04 15:52] tylerhartwig opened #28764 "BrokeredMessage has wrong properties"
The section in this documentation that lists the BrokeredMessage properties is wrong, it contains the property "UserProperties", however this property does not exist on BrokeredMessage.

I assume the class was meant to be Message, or is listing the incorrect properties.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04

[2019-04-04 16:06] Neenisharma opened #28766 "Claims in each claim list - I am looking out for a list of claims contained in the basic and core claim set for JWT"
Is it anywhere listed what claims belong to each claim set (core and basic).My alias is NISHAR. Please reach out to me for further clarification.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 195c79a3-ccc5-8c6a-233e-95e344a9b4df
* Version Independent ID: 401c7557-5817-bbd3-5bd8-8c97ef5a28cc
* Content: [Customize claim

[2019-04-04 16:09] Mike-Ubezzi-MSFT commented on #28260
@L-Dogg We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-04-04 16:09] #28260 closed

[2019-04-04 16:15] ahmedelnably commented on #28700
@Nking92 what are the current SKUs supports cloning?

[2019-04-04 16:17] DixitArora-MSFT commented on #28764
@tylerhartwig Thank you for reporting this issue! We will review and make any necessary changes.

[2019-04-04 16:22] KingdomOfEnds commented on #28663
@JPGRodrigues - Certainly! You can read more about some of the current limitations (that will be improved in the future) here: https://docs.microsoft.com/en-us/azure/digital-twins/concepts-service-limits.

[2019-04-04 16:26] JacobSiegle commented on #9105
Is there any way to find out when any of these missing countries become available? Will it be posted in https://azure.microsoft.com/en-us/updates/?product=azure-maps?

[2019-04-04 16:27] jfayatkim opened #28768 "Example for the kudu extension is needed"
How do we programmatically add a restriction to the  &lt;sitename&gt;.scm.azurewebsite.net  tab?   If feels even more important to restrict that site than the main site.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d90bbf62-44f9-30a6-d6ea-bbf776f6efc5
* Version Independent ID: b3961eac-6c70-b345-f48c-e4c0ec67059c
* C

[2019-04-04 16:32] patrick-at-atomic-charge commented on #23801
PLEASE fix this documentation. How many times do we have to ask you?

[2019-04-04 16:41] yll090 commented on #8899
@jwargo You said on 13.02.2019 you were updating the docs one by one, and the last update to the FCM tutorial is on 05.02.2019. Now that I re-read the tutorial (I have not been working on the project requiring the migration for some time, now coming back to it), it seems while you do require Firebase core, the GCM library is still required as part of the process. Is this the updated tutorial or do

[2019-04-04 16:41] MGoedtel commented on #7617
@slavizh - Brian Wren is addressing this and the updated article(s) should go live today or tomorrow the latest.  Thanks for bringing this to our attention.  #please-close.

[2019-04-04 16:41] rikogeln opened #28769 "Specifying parameters inline instead of creating an additional file holding parameters"
As far as i understand i have to create a file containing parameters when using the --template option or the CLI will prompt for missing parameters.
It would be desirable that in line with e.g. ARM templates parameters could be specified inline in the command https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-template-deploy-cli .

e.g. az batch job create --template conf

[2019-04-04 16:45] MicahMcKittrick-MSFT commented on #18219
@iainfoulds any update on this?

[2019-04-04 16:46] alohaninja commented on #19672
This isn't documented that I could find either - but to save you time, here are some screenshots and direction until it's posted.

## Adding Azure App Service Deploy v4
![image](https://user-images.githubusercontent.com/26234626/55573155-2ff6f700-56be-11e9-8737-b91ee68ae1dd.png)

## Choosing Deployment Method
![image](https://user-images.githubusercontent.com/26234626/55573224-55840080-56be-11e9-9

[2019-04-04 16:48] mrbullwinkle commented on #24692
The updates to include an example for C# and cloud role instance and a slightly modified version of my comments above have been merged to the internal copy of the docs. The updated version will go live by 11 AM (UTC-7) today.

[2019-04-04 16:48] mrbullwinkle commented on #24692
@MicrosoftDocs/azure-cxp-triage #please-close

[2019-04-04 16:49] BharathNimmala-MSFT commented on #24692
Thank you Michael.

[2019-04-04 16:49] #24692 closed

[2019-04-04 16:50] MicahMcKittrick-MSFT commented on #28769
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-04 16:50] iainfoulds commented on #18219
Not a prioritized request, but something we have in our backlog. No ETA on when this content may be published.

[2019-04-04 16:52] #24317 closed

[2019-04-04 16:52] #17974 closed

[2019-04-04 16:52] #25620 closed

[2019-04-04 16:52] #9351 closed

[2019-04-04 16:52] #23694 closed

[2019-04-04 16:52] #28394 closed

[2019-04-04 16:52] #18253 closed

[2019-04-04 16:53] #28564 closed

[2019-04-04 16:53] #12238 closed

[2019-04-04 16:53] #18262 closed

[2019-04-04 16:55] YutongTie-MSFT commented on #28573
@dinobrago Hi Dean, we will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

@PanosPeriorellis Thank you for your information, that's cool and convenient.

[2019-04-04 16:59] MicahMcKittrick-MSFT commented on #28737
@TommyQuality the statement looks correct to me.

Azure virtual machine scale set automatic OS image upgrades is the best practice for keeping your operating systems patched in Azure, and the Patch Orchestration Application (POA) is a wrapper around Service Fabrics RepairManager Systems service that enables configuration based OS patch scheduling for non-Azure hosted clusters. **POA is not require

[2019-04-04 17:07] camp-007 opened #28770 "Missing step for running sample app"
Following the steps in this doc, the sample app pod would fail to start with the following error message:

HTTP response status code 409 error code "MissingSubscriptionRegistration": The subscription is not registered to use namespace 'Microsoft.ContainerInstance'

In order to start it I first had to run this command:

az provider register --namespace Microsoft.ContainerInstance

---
#### Document

[2019-04-04 17:07] #27780 closed

[2019-04-04 17:09] MicahMcKittrick-MSFT commented on #28769
I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-04-04 17:09] Neenisharma opened #28771 "why do we have this section of SAML under v2.0 endpoint?"
As far as I understand, the v2.0 endpoint does not support SAML or WS-Federation; it only supports OpenID Connect and OAuth 2.0.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d362c1b5-1460-4de9-c53d-f0ec1ef07742
* Version Independent ID: 9dc0a4df-81c8-13eb-720f-f589a3712e42
* Content: [Customize claims issued in the S

[2019-04-04 17:12] #28688 closed

[2019-04-04 17:13] Grace-MacJones-MSFT commented on #28746
Hi @grahamjtr , we are glad you were able to resolve your issue :)

[2019-04-04 17:15] YutongTie-MSFT commented on #28754
@tomwwagstaff-product
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-04 17:16] YutongTie-MSFT commented on #28752
@dickstar
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-04 17:26] MicahMcKittrick-MSFT commented on #28457
@anirudhcavale might this be something you could advise on? I see you have contributed to many of the Azure Monitor docs

[2019-04-04 17:29] PatrickFarley commented on #28149
@robaker , @ToriParla , The team has written up a guide on how to update your project to the recent SDK changes, including the removal of the default iteration feature - https://docs.microsoft.com/azure/cognitive-services/Custom-Vision-Service/update-application-to-3.0-sdk

[2019-04-04 17:29] MicahMcKittrick-MSFT commented on #28567
Thanks @axelgMS

[2019-04-04 17:31] kwirkykat commented on #28735
@ChrisGibson1982 What region?
Is there a way we can reach out to you directly for support?
We can start with a Twitter DM or something similar if you do not want to share your email here.

[2019-04-04 17:33] ianhlee opened #28772 "Environment variable are exposed as clear texts on Azure Portal"
Container environment variables are exposed as clear texts on Azure Portal:
Azure Portal &gt; any Kubernetes service &gt; Monitoring &gt; Insights &gt; Controllers &gt; any container &gt; right-hand sidebar &gt; Environment Variables.
There are some secrets that are not supposed to be exposed here.
Is there a way to stop displaying container environment variables on Azure Portal?

---
#### Documen

[2019-04-04 17:35] jwargo commented on #8899
@yll090 The SDK handles dealing with GCM and FCM, so you're good either way. Google says the old APIs will continue to work. We have one issue we have to address and it should be deployed soon. The Tutorials are continuing to be updated.

[2019-04-04 17:36] MicahMcKittrick-MSFT commented on #28770
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-04 17:37] Ayanmullick commented on #13043
The below code will apply an application package to auto-pool nodes, create a job and task and delete the pool once the job is complete.

[code]

[2019-04-04 17:37] MicahMcKittrick-MSFT commented on #28772
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-04 17:44] Grace-MacJones-MSFT commented on #28768
Hi @jfayatkim, thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-04 17:48] YutongTie-MSFT commented on #28147
@yanrez
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-04-04 17:48] #28147 closed

[2019-04-04 17:49] strohne commented on #28573
@YutongTie-MSFT the issue is not solved, could you please reopen? @dinobrago hijacked the thread for an unrelated issue and I just helped out.

the answer of @PanosPeriorellis does not solve the issue since providing an ID like proposed leads to the error message provided in the opening comment

[2019-04-04 17:50] strohne commented on #28573
How?

[2019-04-04 17:53] rbrundritt commented on #9105
It will most likely be posted on that site. There will also be a blog post here: https://azure.microsoft.com/en-us/blog/topics/azure-maps/ I'll also post an update to this issue.

[2019-04-04 17:54] YutongTie-MSFT commented on #28573
@strohne If my understanding is not wrong, according to the configuration:

{
  "recordingsUrl": "<URL to the Azure blob to transcribe>",
  "models": ["<optional acoustic model ID>, <optional language model ID>"],
  "locale": "<local to us, for example en-US>",
  "name": "<user define name of the transcription batch>",
  "description": "<optional description of the transcription>",
  "properties":

[2019-04-04 17:57] LijuKodicheraJayadevan opened #28774 "Broken link to RHUI update page"
https://docs.microsoft.com/en-us/azure/virtual-machines/linux/rhel-images#current-naming-convention

The link to RHUI update page is broken, it points to https://aka.ms/rhui-udate instead of http://aka.ms/rhui-udate

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 768ba2bd-c8a7-9393-2cfd-387a3fc27783
* Version Independen

[2019-04-04 17:58] YutongTie-MSFT commented on #8247
@Movarda Hi, please do not remove the assignment.... In that way, we can not find the issue in our bucket and can not do anything...

@diberry Hi Dina, could you please take a look? Thank you.

[2019-04-04 17:58] SaurabhSharma-MSFT commented on #28753
@ZollnerdMSFT Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-04-04 17:58] strohne commented on #28573
@YutongTie-MSFT This is exactly what I did (see above) and it throws an error:

`The request body is invalid: Unexpected initial token 'String' when populating object. Expected JSON object or array. Path 'models[0]', line 3, position 51.`

The problem is not providing one or two IDs / models. Rather the format is not working, neither for one nor for two IDs.

[2019-04-04 17:59] SaurabhSharma-MSFT commented on #28771
@Neenisharma Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-04 18:00] MartinJaffer-MSFT commented on #28761
Hello @haveyoumetcp and thank you for your question.  We will review the document and get back to you when we have more information.

[2019-04-04 18:01] SaurabhSharma-MSFT commented on #28766
@Neenisharma Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-04 18:01] scheek opened #28775 "Install Mono script fails"
the install-mono.bash script fails. I ran it manually and it is because the testtls.cs file doesn't exist at the location specified.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 132c84d8-83a2-806b-a495-98d18a17139b
* Version Independent ID: 488e780d-724e-7918-dbca-d5b4aea1a085
* Content: [Install or update Mono on HD

[2019-04-04 18:02] SaurabhSharma-MSFT commented on #28555
@AdamSharif-MSFT We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-04-04 18:02] #28555 closed

[2019-04-04 18:02] MarileeTurscak-MSFT commented on #28755
@githubavi
Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-04 18:02] YutongTie-MSFT commented on #28573
@strohne Thank you for the clarification. I got you.

@PanosPeriorellis Could we have more details or samples for this topic? Thanks a lot.

[2019-04-04 18:03] SaurabhSharma-MSFT commented on #28756
@githubavi Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-04 18:03] bandersmsft commented on #25867
@Praveen-410 I'm following up on this with the enginnering team.

[2019-04-04 18:05] strohne commented on #28573
Maybe the following example helps to understand the point. The message above says an array or object is expected inside the array. Thus, I tried to provide the model ID with doubled brackets (real ID is replaced with letters A-E) :

`"models" : [[ "AAAAAAAA-BBBB-CCCC-DDDD-EEEEEEEEEEE"]],`

We get another error message:

`The request body is invalid: Cannot populate JSON array onto type 'Microsoft.

[2019-04-04 18:09] bandersmsft commented on #25867
@SadiqhAhmed-MSFT FYI.

[2019-04-04 18:12] msrini-MSFT commented on #28527
@marinnedea , thanks for the feedback.  Already all the kernels are updated in the documentation. you must have missed it, and will remove the uname -r cmd.

[2019-04-04 18:12] #28527 closed

[2019-04-04 18:19] tpeiffer opened #28776 "Azure CLI commands"
What are the Azure CLI commands to perform these tasks?  If an example isn't provided, can links be added to the supporting documentation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a558a9e-10d0-ea34-8780-d9084f87f952
* Version Independent ID: 60dda4e0-7630-f358-aa3a-6a992eae61e2
* Content: [Managing the Azure Sto

[2019-04-04 18:20] imartinez2 opened #28777 "Error on explication"
The next paragraph have repeat AzureFirewallApplicationRule, must be AzureFirewallApplicationRule and AzureFirewallNetworkRule.

"Azure Firewall logs data below AzureDiagnostics with Category as either AzureFirewallApplicationRule or AzureFirewallApplicationRule. The data containing the details is stored in the msg_s field. Using the parse operator we can extract the various interesting properties

[2019-04-04 18:22] lirishlal opened #28778 "Create a file using custom data"
I'm trying to create a file through custom data in cloud init. So after deploying a VM, I should be able to see a file created by the name test.cfg under /root and it should have a content "var_log=10G,/var/log,0755,remap,ext4,defaults"
---------------------------------------------------------------------------------------------------
"customData": "[base64(concat('#cloud-config\nhostname: ', para

[2019-04-04 18:24] tpeiffer opened #28779 "Azure DevOps Pipeline Task?"
Is there a pipeline task that we can add to our Azure DevOps release pipeline to execute these new commands from Az.Storage?  The "Azure PowerShell" task loads AzureRM into the session and therefore will not let you use Az.Storage cmdlets.  I've searched but can't find one, and using a plain PowerShell task won't work for us as security is locked down so tight we wouldn't be able to authenticate t

[2019-04-04 18:26] yevster opened #28780 "Peering issues/routing tables not documented"
Kubenet apparently requires manual applications of a routing table. This routing table has to be manually modified when peering with another VNET or using ExpressRoute. This is not an issue with CNI. None of this is documented in the "Use Kubenet when..." section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 719f4010

[2019-04-04 18:28] MicahMcKittrick-MSFT commented on #28772
@ianhlee I took a look at one of my containers and I am not seeing any information is particularly confidential.

I also see we have a way to store secret environmental variables which will not show up in the portal and only inside the container itself

https://docs.microsoft.com/en-us/azure/container-instances/container-instances-environment-variables#secure-values

[2019-04-04 18:29] Nking92 commented on #28700
Cloning is now available for Standard SKU as well

[2019-04-04 18:32] SumanthMarigowda-MSFT commented on #28776
@tpeiffer Thanks for your question. We are checking on this and will respond to you soon.

[2019-04-04 18:35] MicahMcKittrick-MSFT commented on #28772
But could you maybe share a screenshot of what you are seeing? Of course you can blurr out any data you don't want to share publicly.

[2019-04-04 18:40] Karishma-Tiwari-MSFT commented on #28774
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-04 18:42] fauhse commented on #28340
Please assign to @SibonayK - transition of ownership in the team.

[2019-04-04 18:42] mpsingh24 opened #28781 "This approach will not work when Azure Blob Storage access is restricted to selected virtual networks"
This approach will not work when Azure Blob Storage access is restricted to selected virtual networks. SQL Datawarehouse requires the use of Managed Service Identity in such scenarios to access the blob storage instead of the access key, please see below link:
https://docs.microsoft.com/en-us/azure/sql-database/sql-database-vnet-service-endpoint-rule-overview#impact-of-using-vnet-service-endpoints

[2019-04-04 18:42] fauhse commented on #14086
Please assign to @SibonayK - transition of ownership in the team.

[2019-04-04 18:44] raiye commented on #23941
You can take a snapshot of the disks after stopping the disk activity/snoozing the workload to ensure your workload is in a consistent state.

[2019-04-04 18:44] raiye commented on #23941
#please-close

[2019-04-04 18:45] #23941 closed

[2019-04-04 18:46] mumami commented on #28697
Thanks for reaching out.
Account Owners are not authorized to view Pricesheets and Balances. You need to reach out to your Enrollment Admin.

[2019-04-04 18:51] MicahMcKittrick-MSFT commented on #28780
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-04-04 18:53] Grace-MacJones-MSFT commented on #28750
Hi @KasamShaikh,  is this your first time authorizing GitHub? Can you share with us a screenshot of what you're seeing? Can you try restarting your app?

[2019-04-04 18:56] TravisCragg-MSFT commented on #22864
@anavinahar  this is known to not work in cloud shell due to a limitations in switching subscriptions / tenants, and have had a couple issues already. Can we instruct people to not use cloud shell for these instructions?

[2019-04-04 19:00] vinnielima commented on #28697
@mumami what privilege is required to view Pricesheets and Balances?  Any detail would be helpful so we can make the right request to the Enrollment Admin.

[2019-04-04 19:01] EvanNibeJPI opened #28782 "Correct or clarify "CNAME record pointing to the public IP""
Under DNS hostname resolution, the statement "You can use the FQDN to create a custom domain CNAME record pointing to the public IP address in Azure.".

CNAMEs cannot directly point at an IP address, however A records can. Or is the statement suggesting that you create the azure domain that resolves to a public ip, then to create your own custom domain, and a CNAME record that points to the azure

[2019-04-04 19:07] KasamShaikh commented on #28750
Thanks for responding.

I am able to login for GitHub, but once after successful login, it prompts 404 error, as seen below,

[cid:image003.png@01D4EB2D.958E1780]

For OneDrive,

[cid:image006.png@01D4EB2D.958E1780]

For Dropbox,

[cid:image008.png@01D4EB2D.958E1780]

Hope this screenshots would help you to investigate the issue.

Best Regards,
Kasam

Sent from Mail<https://go.microsoft.com/fwlink

[2019-04-04 19:09] Grace-MacJones-MSFT commented on #28739
Hi @bramamad thanks for bringing this to our attention. We appreciate your feedback on this, if you wish to see this as a supported feature, you may always post on [Uservoice ](https://feedback.azure.com/forums/169385-web-apps)and upvote- All of the feedback you share in there will be monitored and reviewed by the Microsoft engineering teams responsible for building Azure.

We will now proceed to

[2019-04-04 19:09] #28739 closed

[2019-04-04 19:13] Neenisharma opened #28784 "v2 endpoints"
is this blog applicable for v2.0 endpoints? I have been trying to include group claims and have been trying to follow the claims mapping policy examples described in the blog above for https://github.com/azure-samples/active-directory-dotnet-admin-restricted-scopes-v2, but it just does not work. The claim set that I receive as part of the access token does not change no matter which of the three c

[2019-04-04 19:16] olesjo opened #28785 "Strong name validation failing"
I am experiencing the following issue when using your code as a base:

Could not load file or assembly 'Microsoft.Azure.Cosmos.Direct, Version=3.0.0.9, Culture=neutral, PublicKeyToken=31bf3856ad364e35' or one of its dependencies. Strong name validation failed. (Exception from HRESULT: 0x8013141A)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2019-04-04 19:19] jdcreek commented on #28687
@TravisCragg-MSFT, I experienced an issue with the portal when uploading the trusted root certificate. Thus, based on the documentation, I should use powershell to import the trusted root certificate?

[2019-04-04 19:20] Neenisharma opened #28786 "TokenLifetimePolicy does NOT work unless I set IsOrganizationDefault to $true"
Here is how to create a policy to apply to a specific app with an access token lifetime of 15 minutes-

	New-AzureADPolicy -Definition @('{"TokenLifetimePolicy":{"Version":1,"AccessTokenLifetime":"00:15:00","MaxAgeSessionSingleFactor":"00:15:00"}}') -DisplayName "accesspolicy2" -IsOrganizationDefault $true -Type "TokenLifetimePolicy"

Request For Comment -  I found that the policy only can work wh

[2019-04-04 19:22] TravisCragg-MSFT commented on #28687
@jdcreek that is correct, but it looks like my steps were off. Step 7 and 8 show the backend commands for uploading a trusted root certificate. Make sure to use the V2 command.

[2019-04-04 19:32] Mike-Ubezzi-MSFT commented on #28785
@olesjo Thank you very much for the detailed feedback. We are currently investigating an will update you when we have additional information.

[2019-04-04 19:33] TravisCragg-MSFT commented on #25941
@aziegelb can you link the article that has that statement?

[2019-04-04 19:38] jdcreek opened #28788 "Azure WAF (v2): Website Rendering Issues"
Greetings.

We have an Azure WAF (v2) deployed in detection mode. Each listener is mapped to a backend pool consisting of two web servers. We are using session affinity and each backend pool member is returning a healthy status. We are experiencing regular issues with inconsistent page loads. Sometimes the background doesn't load, other times frames are out of order, and we have also experienced h

[2019-04-04 19:39] olesjo commented on #28785
It is failing in the following line
await p.RunOperations();

[2019-04-04 19:44] bwren commented on #27500
#please-close

[2019-04-04 19:51] hubez opened #28789 "Reference, or provide how to correctly limit the edgehub memory"
Hi there, I am highly interested in the section on this page for "Reduce memory space used by Edge hub", but I don't see where I go to find out how to do this. Is there a setting to limit the edgeHub to xMB of memory? Or what are the mechanisms, and then links to detailed documentation to achieve this would be helpful!

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is require

[2019-04-04 19:56] tpeiffer commented on #28779
Using the Azure PowerShell v4 **Preview Release** works.  It throws the same warning as on earlier versions, but it does allow me to use the Az.Storage commands which is what I care about.

The warning:
Both Az and AzureRM modules were detected on this machine. Az and AzureRM modules cannot be imported in the same session or used in the same script or runbook.

[2019-04-04 19:57] SnehaGunda commented on #26116
@SogoGolf Sorry about the delay in getting back on this, Here is another related issue: https://github.com/MicrosoftDocs/azure-docs/issues/26117

Date range queries are not different from any range query. Make sure that:

* your dates are stored as ISO8601 string
* you index your date fields using the Range index types

You can then issue queries like SELECT * FROM c WHERE c.timestamp BETWEEN '201

[2019-04-04 19:57] JoeRistine commented on #22685
I'm having the same issue when deploying with an ARM template to Azure API Management. I have an existing API definition and am trying to import a Swagger definition to update the API. The error I get from Azure is below. My API is not versioned, how do I configure the template to update the API?

`{"code":"DeploymentFailed","message":"At least one resource deployment operation failed. Please list

[2019-04-04 20:01] Adam-Smith-MSFT commented on #28565
@willKim19 was the above response helpful to you ?

Thanks,
Adam

[2019-04-04 20:05] tinod opened #28790 "Is this module supported on Azure Automation?"
When importing the module in an Azure Automation account, I keep getting errors with regards to Microsoft.Azure.Cosmos.Table objects. For example:

New-Object : Cannot find type [Microsoft.Azure.Cosmos.Table.TableQuery]: verify that the assembly containing this type is loaded.

Az.Storage 1.1.1 and Az.Resources 1.2.1 are imported to the Automation Account.

Is AzureRmStorageTable (2.0.1) supported

[2019-04-04 20:10] bwren commented on #24952
#please-close

[2019-04-04 20:16] JamesDickson108 commented on #26214
The updated steps appear to be fixed. Thanks!

[2019-04-04 20:19] naimco commented on #26567
Yes, the the link below.  The image shows VM sizes in Canada Central I see when I want to resize and existing VM.  In the bottom of picture you see the supportedRoleSize.txt that got generated when I used the offer ID for Canada Central. I sorted the file and we can see it does not include the same VM's . All the A_X_V2 are missing.
https://imgur.com/zNt7qIzh.png

[2019-04-04 20:19] Grace-MacJones-MSFT commented on #28750
@KasamShaikh i can't see any of your screenshots. can you post them directly on here?

[2019-04-04 20:21] femsulu commented on #28743
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-04-04 20:21] #28743 closed

[2019-04-04 20:23] mikebudzynski commented on #22226
We will track this offline. #please-close

[2019-04-04 20:24] bernstml19 commented on #26228
Hey folks I see this support was added to .NET Standard but what about good old .NET? AKA Microsoft.Azure.CosmosDB.Table

[2019-04-04 20:24] YutongTie-MSFT commented on #23166
@rboy1 Please do not remove the assignment or we can not track it correct.

@Jann-Skotdal Hi Jann, could you please provide some insight for this issue? Thank you a lot.

[2019-04-04 20:26] rboy1 commented on #23166
@YutongTie-MSFT sorry, I didn't understand. What assignment are you referring to?

[2019-04-04 20:27] rboy1 commented on #23166
Oh I see, sorry it must have been a fat finger

[2019-04-04 20:28] YutongTie-MSFT commented on #23166
@rboy1 No problem, I can help to figure it out.

[2019-04-04 20:32] TravisCragg-MSFT commented on #28763
@raluca256 Thanks for the feedback! I have assigned the issue to the doc author to evaluate and update as appropriate

[2019-04-04 20:34] femsulu commented on #28749
@gtrudel happy to assist. can you share the link to the document/content you are referencing above?
this will allow us to provide the best possible repsonse.

[2019-04-04 20:35] anpiskai opened #28792 "Step 5 clarification"
Step 5 says "Click the resource you want to manage, such as a subscription or management group." which is a little bit misleading. Resources and resource groups also should be eligible based on the following:

"Azure resource roles – These roles are linked to an Azure resource, resource group, subscription, or management group. "
Source: https://docs.microsoft.com/en-us/azure/active-directory/priv

[2019-04-04 20:36] willKim19 commented on #28565
It was helpful, I think it would be useful to update the documentation with that snippet as well. Thank you

[2019-04-04 20:38] femsulu commented on #28751
@corporateg Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-04-04 20:41] HUBBER12 commented on #28220
Just brainstorming:

One option would be to have AzureFunctions do some handshaking that authenticates trust, and then does not need to re-handshake.

Another would be to ONLY alow timer trigger functions to access a AppService-Mobie App because it's a timer and not open to be called from outside HTTP requests. And maybe only if it's on the same resource group or somehting like that.

[2019-04-04 20:42] YutongTie-MSFT commented on #23166
@nitinme Hi Nitin, I could not assign it to Jann or Pauline according to the document. Could you please help with this? Thanks a lot.

[2019-04-04 20:44] femsulu commented on #28751
@rayne-wiselman can you review this for possible enhancements to the refrerenced doc?

[2019-04-04 20:45] dimitri-furman commented on #25774
@srdan-bozovic-msft Yes, sqlserverid is indeed treated as a variable in a Bash shell. But Azure CLI also works from the Windows command prompt, where the current sample script fails with the error I mentioned. If the sample is only intended for Linux, we should explicitly say so, though it would be better to have a sample that works on all platforms.

[2019-04-04 20:49] ChrisGibson1982 commented on #28735
not sure on the sub (do they have a region?) but my resources are in UK South

sure, @cgfootman

[2019-04-04 20:49] MartinJaffer-MSFT commented on #28748
Hello @tomwwagstaff-product and thank you for your question.  We will review the document and update as appropriate.

[2019-04-04 20:52] HUBBER12 commented on #28220
Orignally i tired to use [AllowAnonymous] on the API call itself.. but that has never allowed an anonymous call i think its becuase i use the "lock everything down" and redirect to login option from AAD express ettings.  If there is any way to get the [AllowAnonymous] to work on the api call that would be the preferred (and more obvious) way of attacking this.

[2019-04-04 20:55] femsulu commented on #28760
@corporateg Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-04-04 20:55] femsulu commented on #28760
@rayne-wiselman can you review this for possible enhancements to the refrerenced doc?

[2019-04-04 20:55] DCtheGeek commented on #28735
@ChrisGibson1982 - Since you and @kwirkykat have connected, I'm going to close this issue since this forum is intended for docs issues and yours is a support issue. She'll ping you via Twitter DM to work towards a resolution with you. She'll also let me know if it's something that needs correcting in docs.  If it is, I'll link the update to this issue.  Thanks again for raising the issue and if yo

[2019-04-04 20:57] TravisCragg-MSFT commented on #28777
@imartinez2 Thanks for the feedback! I have fixed the typo. The doc should reflect these changes within 24 hours.

[2019-04-04 20:57] #28777 closed

[2019-04-04 20:58] johnwildes opened #28793 "Create Image Version / Deployment Fails if Image is not in same region as gallery"
I created an image, and spent a lot of time on it prior to building a Shared Image Gallery (SIG).  This image exists in northcentralus, not one of the regions a shared image gallery can exist.  I was able to create an Image Definition of this image for my SIG (in southcentralus). However, when I want to create a VERSION of the image to replicate to other regions I need to use this image, the deplo

[2019-04-04 20:59] roygara commented on #28144
@tplas Thanks for the feedback, we appreciate it! I think you're right and that we should update the doc to include availability zones as well. I'll work on getting that into the doc.

[2019-04-04 20:59] vikaskumawat80 commented on #27192
The Bot Mitigation just an example. Actually, we have the lambda functions which checks the user access for the CDN content.

[2019-04-04 21:03] tfitzmac commented on #28395
I believe the condition causing this error has been resolved.

[2019-04-04 21:03] jlian commented on #25712
I'm going to ask this one to be closed so that we're tracking it in https://github.com/Azure-Samples/azure-iot-distributed-tracing-sample/pull/2 only

#please-close

[2019-04-04 21:03] Blackmist commented on #28143
@QuickNS this has been logged as a product bug, and will be fixed in a future update to the SDK. I'm not sure of the timeline. I've been told that the expected fix is for node_count to be the method for setting nodes.

Until this fix goes through, I will update the docs to reference the workaround of using amlcompute._cluster_max_node_count. This update will go live in the morning.

#please-close

[2019-04-04 21:03] tfitzmac commented on #28395
#please-close

[2019-04-04 21:03] SaurabhSharma-MSFT commented on #27028
@SamBlakeC The Product team is still investigating this issue. I will confirm back as soon as any updates.

[2019-04-04 21:04] SaurabhSharma-MSFT commented on #28355
@mores We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-04-04 21:04] #28355 closed

[2019-04-04 21:04] SaurabhSharma-MSFT commented on #28556
@guyhorn1964 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-04-04 21:04] #28556 closed

[2019-04-04 21:04] SaurabhSharma-MSFT commented on #28559
@psjeeper We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-04-04 21:04] #28559 closed

[2019-04-04 21:10] MicrosoftGuyJFlo commented on #28666
Following up via email since this is an internal conversation.

[2019-04-04 21:10] MicrosoftGuyJFlo commented on #28666
#please-close

[2019-04-04 21:12] MicahMcKittrick-MSFT commented on #28793
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-04 21:19] MicahMcKittrick-MSFT commented on #28788
@jdcreek can you please provide us with the link to the documentation you are referring to so we can better assist

[2019-04-04 21:28] BigDrums00 commented on #21865
@Kamyar5353 Did you have any luck automating this? I am in the same boat.

[2019-04-04 21:31] SaurabhSharma-MSFT commented on #28665
@danmyhre I am not able to reproduce your scenario.  I have made GA account to modify the Authentication contact info another user and the user got the MFA challenge with the new contact info.  Are you getting any errors ?  What are the steps you are following.

[2019-04-04 21:33] mikebudzynski commented on #22404
Fixed pushed, should be propagated soon. #please-close

[2019-04-04 21:34] #22226 closed

[2019-04-04 21:35] #22404 closed

[2019-04-04 21:41] #28774 closed

[2019-04-04 21:46] dmarlow commented on #15745
How can Traffic Manager support alias records and this not?

[2019-04-04 21:46] cweining commented on #25274
I have updated the documentation for this issue. We are fixing the problem and will have a new version of the PaasDiagnosticsExtension deployed soon. Once that is available, I'll update the documentation again to note that the problem has been fixed.

[2019-04-04 21:48] mikebudzynski commented on #27337
@cloudmelon

What @PramodValavala-MSFT said is correct. There's a built-in Traffic Manager with a routing to the closest **available** region.

![image](https://user-images.githubusercontent.com/40186513/55590745-9abd2800-56e8-11e9-91af-5def7b532c3b.png)

If you want to use a different kind of routing, you need to put a Traffic Manager in front of the instance and route directly to regional URLs.

[2019-04-04 21:48] CelesteDG commented on #27784
Checking in the following updated diagram:
<img width="395" alt="image" src="https://user-images.githubusercontent.com/16906646/55590795-c17b5e80-56e8-11e9-9a38-095214dd63f6.png">

[2019-04-04 21:52] MashaMSFT commented on #28732
Hi @loopfish , thanks for your question! Let me research this a bit and get back to you. Thanks!

[2019-04-04 21:58] mattbriggs commented on #8173
#please-close

[2019-04-04 21:59] Mike-Ubezzi-MSFT commented on #28790
@tinod Thank you for your interest in Azure cloud services and for bringing this to our attention. We are currently investigating and will update you when we have accurate information.

[2019-04-04 22:02] jn-altius commented on #28572
Hmmmm, ok, restarting the app might have solved the problem.  I haven't been able to reproduce it since then.

Thanks.

[2019-04-04 22:07] ChechesCOM commented on #8173
@mattbriggs i was using AzureAD. Got it working now.

[2019-04-04 22:08] tfitzmac commented on #28239
@karyjac - thanks for this feedback. AKS was listed as not supported move but was called Kubernetes Service. I have changed the name to make it easier to find.

[2019-04-04 22:08] #28239 closed

[2019-04-04 22:08] mattbriggs commented on #8173
@ChechesCOM Did you find what the issue was?

[2019-04-04 22:14] femsulu commented on #28778
Hi @lirishlal,
We are happy to help but this channel is reserved for documentation issues/bugs. Is this a request to update documentation or are you seeking product support?

For the best possible response to a VM related issue, we recommend posting your issue on our [Azure VM Forum Channel](https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=WAVirtualMachinesforWindows&forum=WAVirtual

[2019-04-04 22:15] ChechesCOM commented on #8173
@mattbriggs, if i remember correctly, i just reloaded everything and the storage account was already created. The loading just went on forever until I closed and reopened the program.

[2019-04-04 22:16] #28778 closed

[2019-04-04 22:16] tfitzmac commented on #28504
@carteixeira - thanks for this feedback. The VM in the other region will still operate as expected, but you wouldn't be able to update it if the resource group's region is down. I am adding that info to this article.

[2019-04-04 22:19] damienestewart commented on #28602
@MicahMcKittrick-MSFT - np, thanks Micah!

[2019-04-04 22:28] #28504 closed

[2019-04-04 22:29] Grace-MacJones-MSFT commented on #28741
Hi @golfalot , no it is referring to being an owner of  your Azure subscription. "To make a user an administrator of an Azure subscription, you need to assign them the **[Owner](https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#owner)** role (an RBAC role) at the subscription scope." Please follow[ these steps](https://docs.microsoft.com/en-us/azure/billing/billing-ad

[2019-04-04 22:29] #28741 closed

[2019-04-04 22:29] rigerosa commented on #21369
In the current documentation it's still not clear to me:
- does that IP have to be part of a /16 range?
- if I have two AKS clusters in two peered Vnets, can I use the same Docker Bridge address for both?
thanks

[2019-04-04 22:30] himanshusinha-msft commented on #28581
@spunkjockey : We were able to repro the issue and we think that you have to deselect the "Binary copy" option on the connection tab of the dataset .

Since this is an implementation scenario , we could suggest you to use the MSDN forum of these kind of question . I am going ahead and closing this issue at this time , you can always reopen this if you think that's appropriate .

[2019-04-04 22:30] #28581 closed

[2019-04-04 22:32] Nking92 opened #28796 "Database backups are limited to 4GB"
The maximum supported database size is 4GB but this is not mentioned. We need to update the doc to mention that individual databases in the backup can be 4GB max, and the total max size of the backup is 10GB

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4754bcfc-204a-d398-6b86-e452cd0d44a1
* Version Independent ID: 15

[2019-04-04 22:44] MartinJaffer-MSFT commented on #28748
@tomwwagstaff-product , I am assigning this issue to the doc authors.
@sharonlo101 , @craigg-msft , Could you please take a look at this oversight?

[2019-04-04 22:44] MarileeTurscak-MSFT commented on #28489
Please email me at the above alias and include your subscription ID, and I will open a support case for you.

[2019-04-04 22:44] #28489 closed

[2019-04-04 22:45] YutongTie-MSFT commented on #28143
@QuickNS
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-04-04 22:45] #28143 closed

[2019-04-04 22:47] #27337 closed

[2019-04-04 22:55] olivoarroba opened #28798 "Tutorial does not work with Azure Storage Emulator 5.8.0.0"
There seems to be a bug https://github.com/Azure/azure-functions-host/issues/3795 in the current Azure Storage Emulator which prevents the tutorial from working.
I propose to add a note to the page with the workaround which is adding the following config to the local.settings.json file:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2019-04-04 22:57] Grace-MacJones-MSFT commented on #28796
Hi @Nking92, thanks for the feedback! We will evaluate and update the docs shortly.

[2019-04-04 22:58] MarileeTurscak-MSFT commented on #28694
Hi @KeiroKamioka0000 ,

What section is Azure Security Center are you referring to? The Data and Storage section just gives you health recommendations and is not intended for file viewing.

Which files are you referring to?

[2019-04-04 23:02] MartinJaffer-MSFT commented on #28598
Good luck @boris-kr

[2019-04-04 23:02] TravisCragg-MSFT commented on #28788
@jdcreek It is unlikely it is due to the V2 SKU, and unfortunately the best way to prove it is to configure your application using a V1 Application Gateway. You can also try disabling the WAF functionality (this can be done easily in the portal), wait 10 minutes, and see if the issue persists.

If you can rule out any issues with slowness from your servers, and that the app gateway is the likely s

[2019-04-04 23:02] KeiroKamioka0000 commented on #28694
@MarileeTurscak-MSFT

As my understanding, due to the recent update of Advanced Threat Protection for SQL Database, now the Alert log from the Advanced Threat Protection will be stored into the Azure Security Center.

And I was informed that the log files was viewable at Storage Account, before the update.

[2019-04-04 23:16] #28735 closed

[2019-04-04 23:25] patrick-at-atomic-charge opened #28799 "What Location header?"
Please fix this documentation error. It's spawning Stack Overflow threads and everything, plus a lot of wasted time.
See here: https://docs.microsoft.com/en-us/azure/analysis-services/analysis-services-async-refresh#post-refreshes

This statement "The Location header in the response includes the refresh ID." is not true. I really wish it was, but it simply is not.

---
#### Document Details

⚠ *Do

[2019-04-04 23:25] wmengmsft commented on #26228
@bernstml19 , you should be able to consume Microsoft.Azure.Cosmos.Table from .NET Framework as well provided your application targets a sufficiently new version.

[2019-04-04 23:26] tfitzmac commented on #25077
@way2arun - roles definitions are created in the Azure Active Directory tenant. You only set a scope when assigning the role, which is available at the management group level.

[2019-04-04 23:27] tfitzmac commented on #25077
#please-close

[2019-04-04 23:28] #11291 closed

[2019-04-04 23:30] saulcruz opened #28801 "Example for get_file_to_stream is not working, with open returns something different from IOBase"
In this section
https://docs.microsoft.com/en-us/azure/storage/files/storage-python-how-to-use-file-storage#get-file-from-share-snapshot

the expected data type for stream= should be IOBase, however the 'wb' mode causes the stream to be BinaryIO, how do we change the mode so that we can get the expected IOBase stream

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2019-04-04 23:32] #23808 closed

[2019-04-04 23:33] MartinJaffer-MSFT commented on #28657
I have tested with a coworker.  I assigned my coworked a role with "Process database" permission, and no other permission.  My coworker was able to log in with SSMS, but was unable to see any databases or anything else of note.

[2019-04-04 23:33] #28657 closed

[2019-04-04 23:37] TravisCragg-MSFT commented on #28782
@EvanNibeJPI The best practice in Azure is to create a CNAME record pointing to the FQDN of a Public IP Address. If you need to change regions or more your application to a Web App, you can just change the CNAME entry to the new source. I see how the phrasing used can cause some confusion, so I am assigning this to the author to evaluate and update as appropriate.

[2019-04-04 23:51] Karishma-Tiwari-MSFT commented on #28682
@iainfoulds Would you be able to provide your insights on this question regarding FedRamp compliance for AKS? Thanks. :)

[2019-04-04 23:52] sudhirap commented on #28238
@LMtx Just pointing out that if you are using the tiering functionality we would tier the encrypted blobs to Azure.

[2019-04-04 23:53] meganbradley opened #28803 "demo"
This is great!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e118737-0766-9d94-88fe-8df62096246c
* Version Independent ID: caacd95d-5f3c-95e5-9b89-484682349946
* Content: [Azure regions and availability for Linux VMs](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/regions-and-availability#feedback)
* C

[2019-04-04 23:53] Karishma-Tiwari-MSFT commented on #28745
@MikeRayMSFT It looks like a sample value to me. Can you please help clarify on this one and do we need to make any doc changes for this? Please let me know. Thanks :)

[2019-04-04 23:55] Karishma-Tiwari-MSFT commented on #28803
Thanks! Glad to know that its was helpful.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-04-04 23:55] #28803 closed

[2019-04-05 00:00] KeiroKamioka0000 opened #28804 "[Billing] Advanced Data Security for SQL Database and ASC billing"
From the recent update, now the alert log of Advanced Data Security for SQL Database will be stored in to the ASC storage, instead of storage account.
Does ASC will change for the stored log?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75c7f3f6-1c1e-0654-f2e7-79dbfbcc433b
* Version Independent ID: da1ac295-09fd-f240

[2019-04-05 00:11] MartinJaffer-MSFT commented on #28761
@haveyoumetcp , I am assigning this to the author.
@hrasheed-msft , coud you please take a look at this?

[2019-04-05 00:16] Mike-Ubezzi-MSFT commented on #26116
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-04-05 00:16] #26116 closed

[2019-04-05 00:17] MicahMcKittrick-MSFT commented on #28210
@diab-mossa Service Fabric Runtime is automatically downloaded and installed during cluster creation. The only reason you should need to manually install it is if the cluster does not have any access to the internet. Is that the case here?

I tried to download it as well using Chrome just to check it does not get flagged by windows defender.

Also, is the PC you are trying to download it connected

[2019-04-05 00:17] NateB2 opened #28805 "Service Endpoints don't appear to be working with the new VNET integration"
I've followed the following steps:

1. Set up a VNET with a dedicated subnet to the app service, and have enabled service endpoints for blob storage and key vault on that subnet
2. Set up a blob storage account and key vault account, and have them restricted to the subnet set up in the previous step
3. Create an app service and follow the steps to set up a new VNET integration, associating it with

[2019-04-05 00:23] NateB2 commented on #28461
I have verified that the service endpoints do not appear to be working for Key Vault and Blob storage as well, [despite the last paragraph on this page](https://docs.microsoft.com/en-us/azure/app-service/web-sites-integrate-with-vnet) that explicitly says:

[2019-04-05 00:26] rbrundritt commented on #25749
A VPN should work as long as the VPN sends your internet through a supported region (not on the list in that doc).

[2019-04-05 00:29] patrick-at-atomic-charge commented on #28799
It seems that this "Asynchronous Pattern" advanced configuration is to blame, but its effect in this case is not documented. Disabling the "Asynchronous Pattern" causes the API to return an HTTP Response Status Code 202, with a Location header.

[2019-04-05 00:31] jeevansd commented on #28753
@chetansriv and @v-viinde This is a valid feedback. Can we please mention it using the note?

[2019-04-05 00:31] Bhsha opened #28806 "Example of xunit tests in c# to access application settings."
How can I integrate application settings to HttpTrigger azure function xunit tests?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a571957f-41ce-e7ea-5f0b-1aefb8b219fa
* Version Independent ID: 6c676eb8-581c-c5c5-0047-c7a7531fa423
* Content: [Testing Azure Functions](https://docs.microsoft.com/en-us/azure/azure-functio

[2019-04-05 00:33] dterei commented on #20599
@iainfoulds Any update on this doc? Could you point me to it if possible please

[2019-04-05 00:42] tamram commented on #28563
@TracyGH - Metadata names must also be valid C# identifiers, so no hyphens are permitted. I'll note that in the doc as well. Thanks!

[2019-04-05 00:52] pearcec opened #28807 "Can't specify Content-Type or Accept Non JSON API Compliant Request Format\",\"detail\":\"Invalid Accept Header: 'application/json'."
Seems like you should be able to specify this as a header to comply.
{
    "errorCode": "2200",
    "message": "Failure happened on 'Source' side. ErrorCode=UserErrorHttpStatusCodeIndicatingFailure,'Type=Microsoft.DataTransfer.Common.Shared.HybridDeliveryException,Message=The HttpStatusCode 406 indicates failure.  {\"errors\":[{\"title\":\"Non JSON API Compliant Request Format\",\"detail\":\"Inval

[2019-04-05 00:55] m-raman commented on #28542
I had same error. My user is non admin and is part of Azure Kubernetes Service Cluster User Role. The error disappeared when I ran the "az login" and logged in with the non admin user. However, when I ran the command "kubectl get nodes", I got this message "To sign in, use a web browser to open the page https://microsoft.com/devicelogin and enter the code xxxxxx to authenticate." This message keep

[2019-04-05 01:01] m-raman commented on #28542
Getting this error even though device authentication has been completed.

E0405 11:59:32.259557     154 azure.go:127] Failed to acquire a token: acquiring a new fresh token: waiting for device code authentication to complete: autorest/adal/devicetoken: Error while retrieving OAuth token: Unknown Error

[2019-04-05 01:14] paulomarquesc commented on #28608
@angoyal-msft and @alvinvinalon , the version 1.1.3 is a typo that I'll be fixing shortly, it should be 1.1.0.

Regarding Azure DevOps support, the versions of hosted agents does not have the latest Az module (version 1.6 that carries Az.Storage 1.1.0), so in this case you will have to use a custom agent.

Since I'm also using DevOps Pipeline for daily builds, it might be beneficial to you @alvinv

[2019-04-05 01:16] patrick-at-atomic-charge commented on #28799
Sorry; I meant to include the vital fact that, in this context, the call is being made from an HTTP Activity inside a Logic App.

[2019-04-05 01:22] m-raman commented on #28690
@jakaruna-MSFT I was trying to configure this directly on the cluster. I am able to see these options if I go through resource group path. A followup question is that How is setting through resource group diagnostic logging setting different from setting Monitoring from within the cluster? Which approach should be followed?

[2019-04-05 01:23] mike-urnun-msft commented on #28806
Hi @Bhsha Thank you for your feedback! We will review and update as appropriate.

[2019-04-05 01:24] mike-urnun-msft commented on #28798
Hi @olivoarroba Thank you for reporting this issue! We will review and make any necessary changes.

[2019-04-05 01:45] Mike-Ubezzi-MSFT commented on #28461
Thanks for the additional detail! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-04-05 01:55] balag0 opened #28809 "Zip deploy is not supported in Linux Consumption Function apps"
Linux consumption apps do not support scm sites or zip deploy. Use WEBSITE_RUN_FROM_PACKAGE appsetting instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4581be64-415a-804a-0a45-25b6976095c3
* Version Independent ID: 0cae0e82-c263-e2cf-ea54-a783291f5746
* Content: [Zip push deployment for Azure Functions](https://

[2019-04-05 02:09] kishan19 opened #28811 "Unable to create custom model"
I am able to create a custom dataset, but a custom model with v3.3. Unified Scenario is failing. There is no error log as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 50d8bb98-fbcd-7562-99ed-54211fd9afd3
* Version Independent ID: bd23e619-aee5-2b6e-b2d7-03ab5f7302af
* Content: [Tutorial: Create an acoustic mode

[2019-04-05 02:35] Shekharb694 commented on #25749
Thanks! I'll try that.

[2019-04-05 02:45] tolarianNZ opened #28812 "Wording error"
Suspect "For most scenarios, we recommend Azure AD Application as the modern solution." is missing the word 'proxy' and should read "For most scenarios, we recommend Azure AD Application Proxy as the modern solution."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c69a6cb3-b299-5ca5-a63c-6034974aa324
* Version Independ

[2019-04-05 02:54] MarileeTurscak-MSFT commented on #28784
@Neenisharma
Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-05 02:56] CelesteDG commented on #28812
Hello, @tolarianNZ. Thank you for the feedback. For typos or small changes, you can contribute to the docs by selecting the Edit (pencil) icon and making the fix and creating a PR. This allows us to register your suggestion as a contribution.

[2019-04-05 03:03] BryanTrach-MSFT commented on #28304
@Leon99 Thank you for raising this up. We have added a note to the top of the doc that calls out not all troubleshooting steps might be available on either platform. The change should go public within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the i

[2019-04-05 03:03] #28304 closed

[2019-04-05 03:07] BryanTrach-MSFT commented on #28306
@Leon99 Thank you for the feedback. As you mentioned in the other feedback, each OS is configured differently (32-bit default on Windows and 64-bit default on Linux as one example). As a result, we do not commit to a platform providing a specific experience due to the number of variables that can impact memory consumption.

We will now proceed to close this thread. If there are further questions r

[2019-04-05 03:07] #28306 closed

[2019-04-05 03:13] BryanTrach-MSFT commented on #28342
@sujayvsarma and @cratace Thank you for your interest. I believe the below information should accomplish your ask.

Goal:
siteA.contoso.com  pointing to \ wwwroot \ SITEA
siteB.contoso.com  pointing to \ wwwroot \ SITEB

I tested this out on my end :

- I created a test site with two folders SiteA and SiteB and added some content in it
- I then went to DNS registrar and added these subdomains
- I

[2019-04-05 03:13] #28342 closed

[2019-04-05 03:26] ZollnerdMSFT opened #28814 "Clarity on inbound-only provisioning"
This article could use some additional clarity on the fact that only roles are provisioned inbound from AWS -&gt; AAD, and nothing is provisioned out to AWS. A reference to AWS documentation on user management would also be helpful, as it is unclear what other steps, if any, are required to successfully get a user from AAD to be able to SSO into AWS. Does AWS have JIT provisioning, or is there som

[2019-04-05 03:29] ZollnerdMSFT opened #28815 "Add known issue for excessive role + samlprovider ARN length and a known issue for roles with more than one SAML provider"
There's a current limitation of 119 or 120 characters for the combination of the role and saml provider ARNs, any combination of role + saml provider ARNs above that length won't be imported successfully. Also there's a limitation if the role has more than one saml provider associated, where AAD role import isn't sure which one to use and as such doesn't import either. Please add both of these to