[2018-10-09 15:51] MGoedtel commented on #13845
@dcbrown16 - HI Dillon - Okay I'll validate this myself and also double-check with engineering.  I've already bugged this so I'm tracking internally and will make any doc changes that are necessary as a result of this exercise unless you feel otherwise.  @please-close

[2018-10-09 15:53] Mike-Ubezzi-MSFT commented on #16450
@v-maroge Do you have any additional questions? If not, we will proceed to close this thread.

[2018-10-09 15:54] christiankuhtz commented on #16441
We are discussing offline. An AFEC registration should not be necessary.

[2018-10-09 15:55] Mike-Ubezzi-MSFT commented on #16455
@simonsabin Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-09 15:56] swing24 opened #16492 "broken link"
The "Advisor Cost recommendations" link under "Next Steps" incorrectly references the same content as the "Advisor Performance recommendations" link.
The correct page to reference would be:
https://docs.microsoft.com/en-us/azure/advisor/advisor-cost-recommendations

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac2bfa0

[2018-10-09 15:58] Adam-Smith-MSFT commented on #16477
@tbkobberoe Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.
@tamram I can reproduce the issue.

[2018-10-09 16:01] amel00 opened #16493 "Data stored on Register BYOD"
We currently allow employees to BYOD and register their devices in Azure, the question we have is what data is stored on a registered device that is not controlled by the company?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8877b198-deb1-6ae9-ea0d-3830370b0b4a
* Version Independent ID: f1a4495c-7da8-0c3f-5d97-4f816a

[2018-10-09 16:06] olavt opened #16494 "Add Preview status for Python under 2.x?"
https://docs.microsoft.com/en-us/azure/azure-functions/supported-languages

Shouldn't the status for Python support under 2.x in the table now show "Preview" instead of "N/A" as we released support for Python for 2.x in Preview at Ignite 2018?

The table is also duplicated here and should be fixed too:

https://docs.microsoft.com/en-us/azure/azure-functions/functions-versions

---
#### Document De

[2018-10-09 16:10] msmimart commented on #15692
We've rewritten this article to help clarify the terminology and licensing requirements. @jgdolph thanks for sharing your comments.

[2018-10-09 16:10] Aardvark8 opened #16495 "Simply Steps"
Would it be possible to make turning on Desk Encryption much easier.  Like one button click in the Azure Portal?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0dbd38fa-89f0-320a-b517-b440be6927f9
* Version Independent ID: 8b2eeee3-fb49-37e5-917d-f36bcd60ad29
* Content: [Azure Disk Encryption Prerequisites](https://doc

[2018-10-09 16:11] badalk opened #16496 "Triggering policy evaluation"
How frequently the policy gets evaluated? can we change that frequency? or trigger it manually somehow? Its taking huge effort to test authored policies and assignments and results are not consistent, dev, test and fix cycles are taking long time

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07fab47b-3b7a-c02e-c863-2c

[2018-10-09 16:13] msmimart commented on #12086
Thanks sharing your feedback @imikiyasu. We've rewritten this article to hopefully help clarify the terminology and licensing requirements.

[2018-10-09 16:15] christiankuhtz commented on #16441
Issue is due to trying to configure on Basic SKU instead of Standard SKU.

[2018-10-09 16:16] christiankuhtz commented on #16441
#please-close

[2018-10-09 16:17] CarlRabeler commented on #6760
@azkamil If you would like to file a product feature request and track it / get your peers to vote on it, go to https://feedback.azure.com/forums/908035-sql-server
Thanks,
carl

[2018-10-09 16:17] CarlRabeler commented on #6760
@anosov1960 please see the most recent replies on this thread

[2018-10-09 16:20] Alberto-Vega-MSFT commented on #16452
@dcbrown16 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-09 16:21] mattbriggs commented on #16426
#peternield Thanks! I have forwarded your question and will post an answer as soon as I get it. Thanks! Matt #in-progress

[2018-10-09 16:21] Alberto-Vega-MSFT commented on #16453
@shawon017 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-09 16:24] Nilis312 opened #16497 "Block legacy authentication with Public IP exceptions"
Could you add information in the documentation if Public IP exception is supported to exclude a certain Public IP from the legacy authentication block ? I thought at Ignite they said in the Q&A it wasn't supported. Please clarify.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 625bb1b2-81fd-9804-c0b5-3cd2904decd9
* Ver

[2018-10-09 16:29] Alberto-Vega-MSFT commented on #16459
Hi @RoopAnymous Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-09 16:34] pepeadamo commented on #11093
Hi, there is any dynamic way of adding/removing columns in the pipeline? For example: If I add a new column to the source table how could I make to display the new column in the destination without have to modify the pipeline? Thanks!

[2018-10-09 16:37] jeffgilb commented on #12548
This has been fixed. #please-close

[2018-10-09 16:40] Bigbrd opened #16498 "Add MPN and update this section"
this page needs updating because Microsoft now asks for MPN id on the publisher profile page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88503ac1-4bf6-6e9a-d318-481ab45053ed
* Version Independent ID: 0a5bb7fe-e214-3851-4ef9-92133d683383
* Content: [Managing ‘Azure Marketplace’ and ‘AppSource’ Publisher Profile](htt

[2018-10-09 16:42] Bigbrd opened #16499 "MPN id twice here in CS"
Publisher Information
MPN ID -- also MPN id is now at the publisher level, not in consulting services

Your 9-digit Microsoft Partner Network (MPN) ID. If you do not have an MPN ID, you can go to Microsoft Partner Center to acquire one.

Partner Center ID

New Partner Center ID, if you have one.

MPN ID -- this is a duplicate and shouldnt be here??

Enter a secret key to preview your offer on AppS

[2018-10-09 16:43] tomasaschan opened #16500 "Update Node.js docs for cosmos db graph API"
The current examples for Node.JS use an outdated Gremlin version, and the new version is too poorly documented to make it clear how to enter the credentials and endpoint config when connecting. It would be nice to get an updated example on how to set this up with Gremlin `^3`.

See also e.g. https://stackoverflow.com/questions/50798453/

---
#### Document Details

⚠ *Do not edit this section. It i

[2018-10-09 16:47] Grace-MacJones-MSFT commented on #16460
Hi @tommoran91, thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-09 16:49] Grace-MacJones-MSFT commented on #16461
Hi @johnug, thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-10-09 16:50] tFable opened #16501 "Pricing for Azure File Backup"
Hello,

Given that I cannot myself re-open a closed issue (ping @Adam-Smith-MSFT ), I have to open a new one.

How will Azure Backup charge for Azure File backups after the preview has ended and the offering has entered GA?

Thanks,
t

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61c0f8e6-5a57-58aa-ecd6-2bf83809c44d
*

[2018-10-09 16:50] infovore opened #16502 "Media OCR API access examples for CLI/REST?"
Unlike the other processing options, the Media OCR API doesn't appear as an option in the Azure Portal. Is there a reason for this? Similarly, there's no examples here for the REST API or the CLI; it's unclear if the only way to access the OCR API is via the .NET libraries, or if that could can effectively be ported elsewhere. I'm not a .NET developer, and unlike your other examples, it's very unc

[2018-10-09 16:52] LisandroSu opened #16503 "这篇文章误导了我一星期的学习时间"
@waynebaby commented on [Tue Oct 09 2018](https://github.com/MicrosoftDocs/azure-docs.zh-cn/issues/137)

这篇文章误导了我一星期的学习时间
因为
1 本机调试的时候iis express 或者asp.net core 进程必须用 azure 订阅账号权限登陆，所以我用公司账号的机器连接 msid 的azure账号试用了一辈子不成功 死的心都有
2 根本没告诉用户需要在 IAM 里面设置app service 的权限 所以你的app service连不上
3 根本没告诉用户 deploy的时候要在deploy profile里面加上 add a key vault.

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接

[2018-10-09 16:52] Grace-MacJones-MSFT commented on #16467
Hi @tsouker, thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-09 16:53] LisandroSu commented on #16503
Hi team,

The user is reporting the following issues (rough translation) on the documentation:

_1 When the machine is debugging, the iis express or asp.net core process must be logged in with the azure subscription account permission, so I use the company account machine to connect to the msid azure account and try it for a lifetime without success.
2 Did not tell the user to set the permissions

[2018-10-09 16:53] MicahMcKittrick-MSFT commented on #16451
Please provide us with the documentation you are referring to so we can better assist.

[2018-10-09 16:54] MicahMcKittrick-MSFT commented on #16475
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-09 16:55] MicahMcKittrick-MSFT commented on #16479
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-09 16:55] Grace-MacJones-MSFT commented on #16484
Hi @OffColour, Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-09 16:55] Karishma-Tiwari-MSFT commented on #16033
@tapialuism We will close this issue now. We are working internally on the issue with the Product team and will share any updates here. Until then, please follow the workaround as shared above.
Feel free to reopen, if you have additional questions. Thanks.

[2018-10-09 17:00] #16441 closed

[2018-10-09 17:00] Grace-MacJones-MSFT commented on #16472
Hi @mcurko, thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-09 17:03] MicahMcKittrick-MSFT commented on #16481
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-09 17:03] #16436 closed

[2018-10-09 17:04] jason-j-MSFT commented on #16486
@Nikhil-Srinidhi
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-09 17:04] MicahMcKittrick-MSFT commented on #16470
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-09 17:05] MicahMcKittrick-MSFT commented on #16488
Thanks for the question! We are investigating and will update you shortly.

[2018-10-09 17:05] MicahMcKittrick-MSFT commented on #16468
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-09 17:06] MicahMcKittrick-MSFT commented on #16487
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-09 17:06] Mike-Ubezzi-MSFT commented on #16500
@tlycken Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-09 17:07] MicahMcKittrick-MSFT commented on #16473
Thanks for the question! We are investigating and will update you shortly.

[2018-10-09 17:07] MicahMcKittrick-MSFT commented on #16465
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-09 17:08] mike-urnun-msft commented on #16494
Hi @olavt Thank you for reporting this issue! We will investigate and make any necessary changes.

[2018-10-09 17:09] douglaslMS commented on #16454
@ramveluit The first path is clearly not valid because it does not include the required `/blobs/` segment, as explained in the Note on the page.

For the second path, I'm investigating whether nested subfolders are allowed.

[2018-10-09 17:11] kobulloc-MSFT commented on #16480
@lukzog In general, Application Insights data is kept for 90 days.  To keep the data longer, you'll need to export and save the data.  I'll confirm that this is true for snapshot dumps.

https://docs.microsoft.com/en-us/azure/application-insights/app-insights-data-retention-privacy#how-long-is-the-data-kept

[2018-10-09 17:13] cveld opened #16504 "Reliability"
What if the orchestrator never gets resumed due to a complete failure of the execution context it is running on? Is there some timer that frequently checks the queue for pending processing?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0732dc7c-5236-fbd2-4250-3a6f8c869f6b
* Version Independent ID: 90c7c550-5edf-2579-2

[2018-10-09 17:13] jeffgilb commented on #15976
@rathishrms I can't find where you're trying to suggest a change in the article. Where is this mentioned? I see -UsageReportingEnabled:$False. Are you saying this should say -UsageReportingEnabled 'False' ?

[2018-10-09 17:14] alkohli commented on #14595
@Adam-Smith-MSFT  After evaluating this with StorSimple Support Engineers, above recommendation is not correct. Thanks!

[2018-10-09 17:15] chrift opened #16505 "What url does the .well-known/openid-configuration endpoint move to when using b2clogin?"
What url does the .well-known/openid-configuration endpoint move to when using b2clogin?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89933f39-e8c4-32fd-736a-9f258cbcdaba
* Version Independent ID: 9560563b-23d1-c0f7-a6c0-d7526f97d93e
* Content: [Set redirect URLs to b2clogin.com for Azure Active Directory B2C](https:

[2018-10-09 17:15] simonua opened #16506 "Cache Index Document in Root"
We are using a Verizon Standard CDN with Static Websites in Blob Storage. My index document is _index.html_. My global caching rule is set to one year as we want all assets to default to long-term caching.

![image](https://user-images.githubusercontent.com/8005145/46685105-a2c95e80-cbc2-11e8-986e-c443d5806220.png)

We set a custom caching rule for our index document with a TTL of 4 minutes as we

[2018-10-09 17:15] MarileeTurscak-MSFT commented on #16495
@Aardvark8
Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-09 17:15] MarileeTurscak-MSFT commented on #16489
@asasine
Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-09 17:17] MarileeTurscak-MSFT commented on #16493
@amel00
Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-09 17:17] tfitzmac commented on #16381
@pekkaar - sorry I am not an expert on setting up replications. I re-generated the template reference page for this type to make sure it was up-to-date, but there was no significant change. Are you saying you tried adding this resource type to your template, but it didn't work when you deployed the template? What kind of error did you get? In this case, you would need to make sure you get the name

[2018-10-09 17:18] rathishrms commented on #15976
True should be in quotes for it to work.

[2018-10-09 17:19] jeffgilb commented on #16067
What article is this referring to? I'm not clear on what the doc feedback is here.

[2018-10-09 17:20] cgillum commented on #16504
The [Azure Functions Scale Controller](https://docs.microsoft.com/en-us/azure/azure-functions/functions-scale#how-the-consumption-plan-works) polls the queues in the background on its own timer. If it detects any unprocessed messages, it will do the work to ensure that the function app process is running on an available VM so that any pending work can be processed successfully.

[2018-10-09 17:20] chrift opened #16507 "When will login.microsoft.com be removed?"
When will login.microsoft.com be removed?
This will affect how much of a priority we treat this

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89933f39-e8c4-32fd-736a-9f258cbcdaba
* Version Independent ID: 9560563b-23d1-c0f7-a6c0-d7526f97d93e
* Content: [Set redirect URLs to b2clogin.com for Azure Active Directory B2C]

[2018-10-09 17:28] douglaslMS commented on #16454
@ramveluit Subfolders are allowed. '/containername/blobs/foldername/subfoldername/' is valid for `Blob path begins with`. However it is NOT valid for `Blob path ends with` since it will never match any filename. A storage path must end with a filename.

[2018-10-09 17:28] YutongTie-MSFT commented on #16485
@nansravn Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-09 17:28] MarileeTurscak-MSFT commented on #16497
@Nilis312
Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-09 17:30] SaurabhSharma-MSFT commented on #16329
@barclayn Thanks for looking into this.  Assigned the issue to you.

[2018-10-09 17:31] Adam-Smith-MSFT commented on #14595
@marykayb
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-09 17:31] #14595 closed

[2018-10-09 17:45] Adam-Smith-MSFT commented on #13353
@aquibqureshi26 We will proceed to update the documentation in the future product release. If you have any other questions feel free to reach out.
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-09 17:45] #13353 closed

[2018-10-09 17:50] olegsych commented on #16440
More importantly, why are empty `certificateIssuerThumbprint` values are allowed? Shouldn't it always be specified to prevent an attacker from using a certificate with the same common name but obtained from another issuer?

[2018-10-09 17:53] jeffgilb commented on #16483
Hi @Jide-Jimoh , this might work, but is not officially supported at this time.

#Please-close

[2018-10-09 17:53] YutongTie-MSFT commented on #16358
@fmegen Can you please update the document as well? Thanks a lot!

[2018-10-09 17:55] holgerjay commented on #16190
Hi @anavinahar - sure, here is the thing.
I'm trying to create a custom RBAC role that allows joining an internal ASE v2 to a subnet. This role must not be able to do anything else on the subnet/Vnet level.
Creating a role that includes the following actions works well:
`Microsoft.Network/*/join/action`
However, this probably includes way more actions than needed, hence the attempt of creating a c

[2018-10-09 17:56] TravisCragg-MSFT commented on #16483
@Jide-Jimoh We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-09 17:56] #16483 closed

[2018-10-09 17:57] TravisCragg-MSFT commented on #16466
@BzSpi Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-09 17:58] #16373 closed

[2018-10-09 18:02] dksimpson commented on #16466
@TravisCragg-MSFT I'm not longer working on CDN - please assign to @KumudD. Thanks!

[2018-10-09 18:03] wesmc7777 commented on #15342
Did you ever get this working?  Looking at your log file it looks like you ran the build command from the this directory....

Build started 20-09-2018 17:05:23.
Project "**Path\azure-iot-sdk-c\iothub_client\samples\iothub_convenience_sample**\CMakeFiles\3.11.0\CompilerIdC\CompilerIdC.vcxproj" on node 1 (default targets).

You need to run the build from within the cmake directory you created. If yo

[2018-10-09 18:04] SaurabhSharma-MSFT commented on #16399
@tpietilainen Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.
@priyamohanram  Can you please help documenting the AADSTS500133 in the document.

[2018-10-09 18:05] raymondlaghaeian commented on #16485
@nansravn The input into the run(input_data) function is a json paylod which can have multiple nodes which mean you can include multiple arguments inside it. For example:

Input_data = { “batch_string": "this is a string", "model_id": 123 }

You would then parse the json inside the run function and access each node's value.

[2018-10-09 18:08] TravisCragg-MSFT commented on #16469
@mcurko your traffic manger is trying to route by region, so it cannot have 2 sites in the same region. Change your routing type to "Priority"

[2018-10-09 18:10] MicahMcKittrick-MSFT commented on #16468
I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-10-09 18:13] MicahMcKittrick-MSFT commented on #16470
@cmeyertons the idea with these docs is that you run through them one after another. But yes, if you decide to go about a step after a while you will need to authenticate again. This is true for all services in Azure. If you let the session time out you need to re-authenticate to Azure.

In the doc, we do have a Before you Begin section which points you back to step one

Not sure if it works into

[2018-10-09 18:18] iainfoulds commented on #16468
Hi, @cmeyertons. As most of the tutorials build on top of each other, we don't typically include information on deleting the cluster in each doc. The quickstart though, for example, does show these steps, along with how to delete the created service principal - https://docs.microsoft.com/en-us/azure/aks/kubernetes-walkthrough#delete-cluster

As this is the last tutorial in the set, I can add in st

[2018-10-09 18:18] SaurabhSharma-MSFT commented on #16479
@MarkDixonTech Can you please provide more details which step 6 you are talking about and the sample link where you have modified the AzureADB2C instance value ?

[2018-10-09 18:18] tfitzmac commented on #11090
The template ref generation process still does not include that object, but I added it manually.

[2018-10-09 18:18] tfitzmac commented on #11090
#please-close

[2018-10-09 18:21] #11090 closed

[2018-10-09 18:22] iainfoulds commented on #16470
Sorry you ran into issues, @cmeyertons. I believe the ACR authentication token is for one hour, so it's entirely possible when working through the whole tutorial series that you'd need to re-authenticate.

I can add a quick call-out about needing to log in to the registry again if needed.

#in-progress

[2018-10-09 18:32] nansravn commented on #16485
Ok @raymondlaghaeian, I'll adapt my code to have only 1 argument which is a JSON with multiple keys inside it.

So, based on your answer, nowadays the only type of data accepted as an argument are JSONs (application/json)? Is it possible to send binary data to the webservice (application/octet-stream)? (for example if I want to make an Object Detection Webservice, sending binary images without any

[2018-10-09 18:33] MicahMcKittrick-MSFT commented on #16503
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-09 18:34] MicahMcKittrick-MSFT commented on #16456
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-09 18:39] v-mavick commented on #16012
@TomArcher,
I created this PR in response to Issue #16012. I edited the text of Step 2 and included a screen shot of the Terraform web page in question.
Please let me know if I should have handled this any differently!

[2018-10-09 18:40] #16468 closed

[2018-10-09 18:43] aquibqureshi26 commented on #13353
Hi Adam,

I didn't receive the answer to my question.

[2018-10-09 18:44] iainfoulds commented on #16388
Okay, that's quite different, as it's using Service Fabric to manage and orchestrate the container deployments. Azure Kubernetes Service (AKS) is not used at all.

The same principal would still apply though - with Azure Resource Manager, you can edit and redeploy from template to update the existing deployment.

@Karishma-Tiwari-MSFT As this isn't really related to a doc issue, #please-close

[2018-10-09 19:05] scavness opened #16513 "Fix typo - Create Hadoop Clusters using powershell"
In the powershell block under 'Create Cluster' the comment:

Create an Azure storae account and container

Should be updated to:

Create an Azure storage account and container

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2700c253-d5ff-d166-7338-d9238044e210
* Version Independent ID: c4dc47e3-2a10-0ee3-1d39-bebf3ed77b

[2018-10-09 19:05] TravisCragg-MSFT commented on #16506
@simonua Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-10-09 19:10] Phydeauxman opened #16514 "Azure Government "Error loading property""
When using Azure Storage Explorer to access storage accounts hosted in Azure Government, while the storage accounts can be enumerated...many of the properties are rendered as "Error loading property"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06b6cadc-f93d-75de-7611-b1e3d80917e2
* Version Independent ID: bcf194d8-3

[2018-10-09 19:10] mestew commented on #16495
@Aardvark8

Thanks for taking the time to provide feedback on Azure Disk Encryption! This is an interesting idea, and I want to make sure it gets directly into the hands of the engineering team. Fortunately, we've got dedicated channels for that very purpose. :) See the [Feedback for Azure Virtual Machines](https://feedback.azure.com/forums/216843-virtual-machines) website. I think it’s important

[2018-10-09 19:11] MicahMcKittrick-MSFT commented on #16440
@aljo-microsoft could you comment on this one?

[2018-10-09 19:13] MicahMcKittrick-MSFT commented on #16473
@ivana61 where exactly are you getting this error? When creating the Job Schedule? Could you provide some screenshots for me?

[2018-10-09 19:16] PhiladelphiaUser commented on #15615
I find it hard to believe that Microsoft does not support SSO in their new flagship browser. We are trying to push people to Edge and continue to find issues. This is the worst of them all. They push this as the preferred browser of Office 365, and then don't support the Seamless SSO they push as the preferred method. Sloppy...

[2018-10-09 19:16] MicahMcKittrick-MSFT commented on #16481
@gs9824 can you provide some more information around grafana? I am not familiar with this service.

[2018-10-09 19:16] ahmedelnably commented on #16428
@nikbanerjee can you please execute the command with --debug at the end, to get more info on what exactly failed?

[2018-10-09 19:18] SnehaGunda commented on #16446
@MikeSpark thanks for reporting the issue, I submitted a fix in the above PR.

[2018-10-09 19:18] SnehaGunda commented on #16446
#please-close

[2018-10-09 19:19] tapialuism commented on #16033
Thanks.

[2018-10-09 19:30] TheJayMann commented on #16150
I have been investigating this myself, and what I have determined is that the client id is prepended to the anchor value (which, in my deployment, is the Windows account name), this is converted to a byte array using little endian, and appended to this byte array is a PPID Privacy Entropy byte array.  This resulting byte is then processed with SHA256, and encoded with base64.  However, while searc

[2018-10-09 19:32] MicahMcKittrick-MSFT commented on #16488
@iainfoulds do you know an answer to this one?

I browsed through an ARM template for deploying an AKS cluster however I am not finding anything that mentions the naming conventions of the auto generated resource group.

The only mention of Resource group in the template is

[code]

[2018-10-09 19:32] SaurabhSharma-MSFT commented on #16489
@asasine I do not think you can achieve the same using PowerShell, however, you can use an ARM template to create the key-vault and assign various access policies at the same time.  Please refer to the available [ARM template](https://azure.microsoft.com/en-us/resources/templates/201-key-vault-secret-create/)

[2018-10-09 19:35] SaurabhSharma-MSFT commented on #16495
@Aardvark8 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-09 19:35] #16495 closed

[2018-10-09 19:39] SnehaGunda commented on #16447
@KeiroKamioka0000 what Mike said is correct in the metrics dropdown, the "Throttles requests" represents HTTP 429 or rate-limited requests.

You can also directly view the throttled requests from the Metrics blade. Our metrics docs are outdated and we have planned to update them in the upcoming weeks. Let us know if you have any additional questions.

[2018-10-09 19:45] kanshiG commented on #16447
In future all this information will be available on Azure monitor too.

[2018-10-09 19:58] mx-iao opened #16515 "missing workspace import"
for the `ws = Workspace.create(...)` code snippet, missing this line first `from azureml.core import Workspace`  (should go before Workspace.create line)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72c6907a-8658-f29b-cce9-6af0a359f26b
* Version Independent ID: e41c8c19-d858-9a84-4b89-1b65bdd960a8
* Content: [Quickst

[2018-10-09 19:59] MarileeTurscak-MSFT commented on #16493
For device registration it should only be company data that is controlled and not any other data that the user owns. You can set up individually which resources a user can access on a registered device. See https://docs.microsoft.com/en-us/azure/active-directory/devices/faq

Let me know if this is what you mean and are looking for.

[2018-10-09 20:01] amel00 commented on #16493
I was actually wondering what kind of information, registration keys, tokens etc that were stored on the newly registered device.. I know it adds a certificate of some sort, I am just wondering what else it might be storing on the device

[2018-10-09 20:07] chetanku opened #16516 "Issue : Error creating load balancer (will retry): failed to ensure load balancer for service kube-system/abc-xyz-nginx-ingress-controller: timed out waiting for the condition"
I am following this doc to set up an ingress controller to an internal virtual network in my cluster.

https://docs.microsoft.com/en-us/azure/aks/ingress-internal-ip

but after the below step of installing the Nginx controller, no IP is assigned in the external IP column in my controller even after waiting for a long time.

helm install stable/nginx-ingress --namespace kube-system -f internal-ingr

[2018-10-09 20:16] prashanthyv commented on #16329
Hi @atulraizada - Please re-read this document as it has been edited. We ask that you use Key Vault to rotate your Storage Account keys

[2018-10-09 20:32] ggailey777 commented on #16494
We are holding-off on this update until the Python preview bits are officially available to all. Rest assured, we have documentation updates ready to go when that occurs. #please-close
cc. @asavaritayal

[2018-10-09 20:33] tamram commented on #16477
@tbkobberoe - Thanks for pointing this out! I've made the fix and it should go live soon.

#please-close

[2018-10-09 20:34] iainfoulds commented on #16488
No, the MC_ resource group isn't user-defineable or changeable. The name is composed of your resource group and location, so it can at least somewhat follow naming standards. You can tag resources from a management and filtering perspective, so long as any existing tags assigned by the Azure platform aren't deleted.

[2018-10-09 20:35] davidmu1 commented on #14711
Updated the value to `Suppressed`. Added links to new schema reference content.

#please-close

[2018-10-09 20:36] davidmu1 commented on #13859
Added a section that describes creating an application if one doesn't exist. Added step to select the application before clicking Run Now.

#please-close

[2018-10-09 20:37] Narnain opened #16518 "Backend host header"
When using an appservice the backend host header needs to match the backend host.  How do I see the original host requested?

Something like X-MS-FEHOST = contoso.azurefd.net; or whichever front end host was used would be perfect.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e3cc5d9-df26-b935-9e59-c31c9ad8573b
* Ver

[2018-10-09 20:38] davidmu1 commented on #15709
Added a section that describes how to create an application if one doesn't exist. Added a step to select the application before clicking Run Now.

#please-close

[2018-10-09 20:40] plutoscarab opened #16519 "Code examples contain invalid JSON"
JSON specification doesn't allow single-quotes as string delimiters. Example: {'type': 'Point', 'coordinates':[31.9, -4.8]}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c72695a-0bef-6a4b-0210-e02e4145f652
* Version Independent ID: e29b6abf-a242-98c9-94e4-bfdc0885022e
* Content: [Working with geospatial data in Azure

[2018-10-09 20:41] dumnovnz commented on #15632
yes, it was excly my point. Cheers

On Wed, 10 Oct 2018 at 04:50, Jeremy Peach <notifications@github.com> wrote:

[2018-10-09 20:41] ddentrec commented on #8879
Same for me. Error 500. Disappointing that the documentation here is incomplete and, worse still, has not actually been validated as accurate. Either Microsoft should update and maintain the documentation or delete it completely.

[2018-10-09 20:41] danielurbina commented on #12223
Hi again. I cannot find the limit bandwidth for N series. I can only see the max number of NICs. Also, this sentence should be explained a bit more:

**- Accelerated networking**: Though the feature can be helpful in achieving the published limit, it does not change the limit.
Regards

[2018-10-09 20:45] YutongTie-MSFT commented on #16391
@AlkisFortuneFish Thanks for your response. Sorry for all inconveniences. We will improve our product.  We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-09 20:45] #16391 closed

[2018-10-09 20:49] YutongTie-MSFT commented on #16264
@priyatharshiniSundaram Please do it. We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-09 20:49] #16264 closed

[2018-10-09 20:55] davidmu1 commented on #16269
I believe the FAQ is up to date in this area and specifically states:

Azure AD B2C is not meant for the SharePoint external partner-sharing scenario; see Azure AD B2B instead.

#please-close

[2018-10-09 20:55] JennyLawrance commented on #16184
@NikolaTotev , I just ran through the quick start doc myself, and everything works fine for me.
So, couple of quick things to check:
1. Is the app service plan created with the --is-linux flag?
2. Which region was the app service plan created on?
3. Have you tried refresh the site with new browser tab after the deployment *or* [Crtl-f5]

Advanced debugging:
1. Enable logging for the web app:
az we

[2018-10-09 20:57] Jackson-Miller opened #16520 "List required permissions"
Could the documentation include the permissions needed at the resource group or subscription level?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2064767f-5304-275a-df9b-e74199b53408
* Version Independent ID: 57dcf6b8-7125-1e0b-c446-34a0a1366a92
* Content: [Tutorial - Stream Azure Active Directory logs to an Azure eve

[2018-10-09 20:57] SnehaGunda commented on #13807
@jpsebasti thanks for the detailed feedback.

The docs mention that fixed-size containers have a maximum limit of 10 GB and 10,000 RU/s throughput. To create a container as unlimited, you must specify a partition key and a minimum throughput of 1,000 RU/s. Currently, we have this 10K RU/10GB ratio, and this might change in future.

Agree the current statements are confusing, the right thing here i

[2018-10-09 20:58] KeiroKamioka0000 commented on #16447
Thanks for information.
Is it possible to show as Throttles requests (HTTP 429) in the Metrics or add this information to somewhere in the document if possible?

Thanks,

[2018-10-09 20:58] SnehaGunda commented on #13807
@jpsebasti please let us know if you have additional questions, We will now proceed to close this issue but feel free to reopen if you have any questions.

[2018-10-09 20:59] ddentrec opened #16521 "'This page isn’t working' and 'HTTP500' errors"
Opened a new ticket as am getting this error and have read the other threads here for a solution but have not found one that works for me.

When accessing the app I get:

        This page isn’t working
        XXXXXX.azurewebsites.net is currently unable to handle this request.
        HTTP ERROR 500

Am using the:
-   **Hub** primary connection key for the Application settings-&gt;APP SETTING NA

[2018-10-09 21:01] YutongTie-MSFT commented on #16475
@cjgronlund  Hi, I think this should be a code-sample bug, can you please check it and update the document as necessary? And also, I can not find @KellyDF in GitHub, does he still the author of this document. Can you please also update it? Thanks a lot!

[2018-10-09 21:01] Adam-Smith-MSFT commented on #16514
@Phydeauxman I'd highly recommend reaching out through the internal available support channels, since I don't have access to the gov setup. You might get an accurate response from the support side. Let me know if this helps.

Thanks,
Adam

[2018-10-09 21:03] SaurabhSharma-MSFT commented on #16520
@Jackson-Miller Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-09 21:11] jakubigla commented on #16001
@MicahMcKittrick-MSFT I appreciate your answer, however is there any option to route traffic trough a proxy server then?

[2018-10-09 21:12] YutongTie-MSFT commented on #15885
@brijrajsingh We'd like to work with you further on this issue. Can you please email us at azcommunity@microsoft.com? Please provide us with your subscription ID and the URL for this thread.

[2018-10-09 21:16] YutongTie-MSFT commented on #16410
@johnpaulmcpherson Hi, the links of the menu is wrong there. Can you please update it? And also, is he still the author of this document? I can not find him in GitHub. Can you please also update it? Thanks a lot!

[2018-10-09 21:18] chetansriv commented on #14900
@jeevansd Got the GitHub account. This is a valid feedback, working on tutorial update

[2018-10-09 21:29] SaurabhSharma-MSFT commented on #16520
@Jackson-Miller global administrator or security administrator permissions are required at Azure AD tenant level to use this feature which is already listed in the current documentation.

[2018-10-09 21:30] tapialuism opened #16523 "Step 2 *Note"
Step two does not create a storage account nor enable boot diagnostics. Although once I it created manually it worked fine.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34e9e502-88fa-359f-f8a6-94b1543c0485
* Version Independent ID: 2c4c2854-e812-9c6d-a837-38466584329a
* Content: [Tutorial - Monitor and update Windows

[2018-10-09 21:31] SnehaGunda commented on #16447
#please-close

[2018-10-09 21:36] Jackson-Miller commented on #16520
@SaurabhSharma-MSFT Those are the permissions required to enable the feature.  However the admin making the change does not have access to the subscription that houses the event hub resource, then it does not show up in the drop down list to pick the event hub resource from.  So some level of access is needed at either the resource group or the subscription.

[2018-10-09 21:40] davidmu1 commented on #16046
Added a sentence introducing a link to https://docs.microsoft.com/en-us/azure/active-directory-b2c/b2clogin which describes the use of b2clogin.com.

#please-close

[2018-10-09 21:41] prashanthmadi opened #16524 "upload samples in .ipynb format"
At step 7 in https://docs.microsoft.com/en-us/azure/cosmos-db/spark-connector#data-flow

Its hard to see html file in raw content, customers have to download it and open in browser again.. instead if you upload notebook to repository, customers should be able to access it in github itself.

7. Run a few Spark queries by using the flights sample data hosted in the "doctorwho" Azure Cosmos DB accoun

[2018-10-09 21:43] MarileeTurscak-MSFT commented on #16505
What do you mean by where it moves to?

It will look like:

https://<tenantname>.b2clogin.com/tfp/<tenantID>/<policyname>/v2.0/.well-known/openid-configuration

[2018-10-09 21:45] MarileeTurscak-MSFT commented on #16507
Are you asking when login.microsoftonline.com will no longer be supported in B2C apps?

[2018-10-09 21:52] ysripath opened #16525 "hsm_type_symm_key must be set while using cmake command"
cmake -Dhsm_type_symm_key:BOOL=ON ..
should be used else "HSM type 4 is not supported on this SDK build" error is observed. Request you to update with this instruction.

Thanks,
Yuvaraj

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25f5a0aa-b8b7-c330-d342-973c72ec1328
* Version Independent ID: e4df1e6a-83ac-4469-8a58-

[2018-10-09 21:55] CelesteDG commented on #16150
@MohitGargMSFT - Please reassign the issue to @billmath so that it shows up on his radar. Thank you.

[2018-10-09 21:59] arturek opened #16526 "Filtering conditions misses inequality case-insensitive expression"
Description of !~ is missing (case-insensitive inequality check). Additionally != and <> should be marked as case-sensitive.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c84c297e-d371-a8fe-416e-147b152d48d4
* Version Independent ID: 1a46ae57-0d71-ba2c-fe71-f8bb2024e1ce
* Content: [Get Started with queries in Azure Lo

[2018-10-09 22:01] MicahMcKittrick-MSFT commented on #16001
You should be able to achieve that. Were you thinking of creating a proxy server inside an Azure VM? You can also setup an Application Gateway with a firewall on it in Azure and set it up with your cluster.

[2018-10-09 22:03] MicahMcKittrick-MSFT commented on #16516
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-09 22:03] MicahMcKittrick-MSFT commented on #16518
@sharad4u can you chime in on this one?

[2018-10-09 22:05] MicahMcKittrick-MSFT commented on #16523
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-09 22:05] #16388 closed

[2018-10-09 22:08] CelesteDG commented on #15449
This has been resolved with the updated content that went live.

@SaurabhSharma-MSFT @MohitGargMSFT @MarileeTurscak-MSFT @MicahMcKittrick-MSFT #please-close Thank you.

[2018-10-09 22:09] MicahMcKittrick-MSFT commented on #16488
Thanks @iainfoulds. That's what I figured.

@badalk I will close this out for now. Let me know if you have additional questions.

Also, if you want to leave feedback to the product teams to possibly allow this in the future you can leave that feedback here:

https://github.com/Azure/AKS/issues

[2018-10-09 22:09] #16488 closed

[2018-10-09 22:09] holgerjay opened #16527 "Limit at 100 returned objects?"
Hi,

apparently, I can only return up to 100 results with my queries. I've tried to increase the limit to a very high value but it would still cut the results at 100 returned objects.
`$graphQueryResult = Search-AzureRmGraph -Query "where type =~ 'Microsoft.Compute/virtualMachines' | limit 10000"`

`$graphQueryResult.Count`
`100`

Is this a limitation with the preview? Or is there anything that co

[2018-10-09 22:10] #15449 closed

[2018-10-09 22:10] CelesteDG commented on #15417
This issue should be resolved now with the updates that went live for Ignite. Table is much clearer and the descriptions are visible. There's also a note about the examples and scrolling/swiping to see them.

@SaurabhSharma-MSFT @MohitGargMSFT @MarileeTurscak-MSFT @MicahMcKittrick-MSFT #please-close Thank you.

[2018-10-09 22:17] CelesteDG commented on #13168
Hi @jchenbb - Please see this topic, https://docs.microsoft.com/en-us/azure/active-directory/develop/access-tokens, which provides lists of the claims in access tokens. This was content we released/updated for the Ignite 2018 timeframe.

[2018-10-09 22:19] CelesteDG commented on #13168
@SaurabhSharma-MSFT @MarileeTurscak-MSFT @MohitGargMSFT @MicahMcKittrick-MSFT Provided answer to customer. #please-close Thank you.

[2018-10-09 22:27] #13168 closed

[2018-10-09 22:27] #12770 closed

[2018-10-09 22:28] #12548 closed

[2018-10-09 22:28] #13807 closed

[2018-10-09 22:28] #13859 closed

[2018-10-09 22:28] #14711 closed

[2018-10-09 22:29] #15709 closed

[2018-10-09 22:29] #16046 closed

[2018-10-09 22:29] #16269 closed

[2018-10-09 22:29] #16446 closed

[2018-10-09 22:29] #16447 closed

[2018-10-09 22:29] #16477 closed

[2018-10-09 22:29] #16494 closed

[2018-10-09 22:30] femsulu commented on #16492
@swing24 Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2018-10-09 22:31] CelesteDG commented on #13161
@PhlashGBG - Thank you for your feedback. We've replaced that topic with separate [ID tokens](https://docs.microsoft.com/en-us/azure/active-directory/develop/id-tokens) and [access tokens](https://docs.microsoft.com/en-us/azure/active-directory/develop/access-tokens) topics for the Ignite 2018 timeframe. As part of the ID tokens update, we've also updated the overview and descriptions and this inf

[2018-10-09 22:31] davidmu1 commented on #14843
Added the following sentence to the Domain description:

The domain name can also be referenced in a **domain_hint**. For more information, see the **Redirect sign-in to a social provider** section of [Set up direct sign-in using Azure Active Directory B2C](direct-signin.md).

#please-close

[2018-10-09 22:32] CelesteDG commented on #13161
@MarileeTurscak-MSFT @MohitGargMSFT @SaurabhSharma-MSFT @MicahMcKittrick-MSFT Answer provided, info has been modified as part of the Ignite doc update. #please-close

[2018-10-09 22:34] #13161 closed

[2018-10-09 22:35] SnehaGunda commented on #13626
@benoitc thanks for the update, the white paper is much detailed than the doc. It discusses under the hood of indexing in detail.  Per my understanding, the same rule is applied to all the nested nodes. each nested node is stored in the index tree with the label and position details.

I may not have much context about the details in white paper. If you have additional questions, can you please ema

[2018-10-09 22:37] SnehaGunda commented on #14520
@ChiefWiggum hope Lui's response helps, we will now close this issue. If you have any additional question feel free to reopen it.

#please-close

[2018-10-09 22:38] femsulu commented on #16496
@badalk Thanks for the Comment. We are actively investigating and will get back to you soon.

[2018-10-09 22:39] CelesteDG commented on #11874
Hello @nirnaybansal - Thank you for your feedback and for your patience. We refactored the old topic into two separate topics: [ID tokens](https://docs.microsoft.com/en-us/azure/active-directory/develop/id-tokens) and [Access tokens](https://docs.microsoft.com/en-us/azure/active-directory/develop/access-tokens). The info about the `upn` claim is in the https://docs.microsoft.com/en-us/azure/active

[2018-10-09 22:40] femsulu commented on #16498
@Bigbrd Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-10-09 22:40] femsulu commented on #16499
@Bigbrd Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-10-09 22:45] SnehaGunda commented on #16519
@plutoscarab that's correct, all the properties must be in double quotes, single quotes aren't allowed. Portal throws an error if you try creating a document with such syntax.

[2018-10-09 22:51] huannews commented on #16184
Thanks @JennyLawrance . After looking at the log, I found the problem.

[2018-10-09 22:51] SnehaGunda commented on #16396
@arkiaconsulting Emulator is currently supported for SQL and MongoDB API accounts only. Graph, Table, and Cassandra are not yet supported.

[2018-10-09 22:53] PPreamble opened #16530 "NVA Devices"
The statement "A single IPv6 address can be assigned to a single network interface in each VM" indicates to me that IPv6 can't be used with an NVA (firewall) device which typically has 3 or more NICs. At least that's what my experimentation has proven.
This would a very useful feature of the Basic Load Balancer and even more important for the Standard version.

---
#### Document Details

⚠ *Do not

[2018-10-09 22:54] wesyao opened #16531 "Create Management Group Command is Wrong/Out of Date"
`az account management-group create --group-name 'Contoso'`
is no longer working. `--group-name` is no longer an argument and this needs to be updated to
`az account management-group create --name 'Contoso'`

See the following:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75483b3e-714e-d142-b123-90fa16926621
*

[2018-10-09 22:55] plutoscarab commented on #16519
Sorry I wasn't clear. The doc bug is that the docs show sample code that uses single quotes in json snippets in spatial queries.

[2018-10-09 22:55] SnehaGunda commented on #16435
@jjgriff93 the Get started link in the doc points to the .Net core tutorial: https://docs.microsoft.com/en-gb/azure/cosmos-db/sql-api-dotnetcore-get-started let us know if that doesn't help

[2018-10-09 22:56] SaurabhSharma-MSFT commented on #16520
@Jackson-Miller Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-10-09 22:58] timmyreilly opened #16532 "When Executing Stored Procedure my Database is deleted"
https://github.com/Azure/azure-cosmos-js/blob/216672a679ab389e5b341280eeacab1cab3691e4/samples/ServerSideScripts/app.js#L44

The code found at the link above delete's my collection after uploading the stored procedure. What am I doing wrong?
I've added my database connection parameters and changed create to createifnotexists for the database and collection name.

---
#### Document Details

⚠ *Do n

[2018-10-09 23:00] SnehaGunda commented on #16134
@jjgriff93 I think this is related to other issue you opened, sample to build a  .Net core app is here: https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-dotnetcore-get-started

[2018-10-09 23:01] Grace-MacJones-MSFT commented on #16325
Hi @0GiS0, yes you can have multiple APIs with different AD Applications. It is possible to have different apps under a Azure AD tenant. However, what do you mean "having an AD application per application"? are you referring to having one Azure AD application registration per application ( web,mobile,etc)?

[2018-10-09 23:03] rwike77 commented on #12572
@andrewtyped  @Karishma-Tiwari-MSFT  I made some updates to the article based on your feedback.  Changes are live now, thanks for your input.  #please-close

[2018-10-09 23:11] sergaz-msft commented on #16287
Thank you @mbialecka . @richcorless please follow the suggestion above and use mcr.microsoft.com/azure-blob-storage:latest as a workaround. We will update the documentation to make it more clear.

Let us know if you have any other blocker related with this?
Thanks!

[2018-10-09 23:18] SnehaGunda commented on #16532
@timmyreilly if you look at the complete code it has the following statements to delete the database at the end. Because this is a sample app, we want to make sure you don't leave the resources running and end up with RU charge. So they are deleted at the end of demo. If you want to continue using them please comment out the following lines.

await database.delete();
console.log("Demo finished");

[2018-10-09 23:18] axisc commented on #12296
The pricing page has been updated.
https://azure.microsoft.com/en-us/pricing/details/service-bus/

@Mike-Ubezzi-MSFT  - please close this ticket.

cc: @spelluru

[2018-10-09 23:21] tfitzmac commented on #16371
@johndowns - thanks for this question. The account creating the event subscription needs Write access to the event hub. I will add that to the article.

[2018-10-09 23:29] Adam-Smith-MSFT commented on #16501
@tFable You should be able to re-open a case, does give you the option at the bottom of the case ? Could you send me a screenshot for it ? also could you link the previous issue as well?
We don't have an official ETA yet regarding what's after the preview, but I will connect with the PG team to check if they have something, and will get back to you as soon as I get an update.

Thanks,
Adam

[2018-10-09 23:31] DCtheGeek commented on #16496
@badalk Thanks for the question!  Details about when policy is evaluated is documented [here](https://docs.microsoft.com/azure/governance/policy/how-to/getting-compliance-data#evaluation-triggers).  Triggering evaluation is now possible, but the doc hasn't yet been published.  I'm working on it and hope to have it ready shortly.  I'll update this Issue when it is published.  Thanks!

@MicrosoftDoc

[2018-10-09 23:32] Adam-Smith-MSFT commented on #16501
I found the previous issue, will address it here, but are you able to see similar options to reopen the issue ?

![reopen](https://user-images.githubusercontent.com/34456968/46704682-f5197800-cbe0-11e8-9b39-42355a4416ff.png)

[2018-10-09 23:33] CelesteDG commented on #11874
#please-close

[2018-10-09 23:35] jason-j-MSFT commented on #16273
@nithinkd-geon I don't know the answer to this one.  I suggest creating a thread in the forums:
https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=servbus

@ShubhaVijayasarathy please chime in if you have insight on this one.

We are closing this issue for now, but feel free to add comments as needed.  If you find focused feedback on how we can improve this document, let us know and w

[2018-10-09 23:35] #16273 closed

[2018-10-09 23:41] SnehaGunda commented on #16519
@plutoscarab thanks for the clarification, the JSON data should have double quotes. However, I don't run into any syntax issues if there are single quotes within the query. It works fine, though I get zero results because of no input data that matches the condition. So I think the syntax is correct.

Are you seeing a different behavior.

[2018-10-09 23:45] cbrooksmsft commented on #10783
Check out the NetworkRuleset property of the StorageAccount type here:
https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.management.storage.models.storageaccount?view=azure-dotnet

[2018-10-09 23:46] cbrooksmsft commented on #10783
#please-close

[2018-10-09 23:51] MarileeTurscak-MSFT commented on #16439
What is the error code you are seeing with this message?

You say you receive this when you are signing out and not when you are signing in. Can you confirm that you have set the PostLogoutRedirectURI in the app registration and in your controller in the code?

[2018-10-09 23:51] hpsin commented on #16005
The update is in PR.

[2018-10-09 23:51] tFable commented on #16501
Hey @Adam-Smith-MSFT ,

I do not have the option to "Reopen Issue" at the bottom of the closed issue. Please see screenshot below:

![image](https://user-images.githubusercontent.com/37750209/46705227-323b3580-cbf4-11e8-9be7-2eae6e8934fa.png)

[2018-10-09 23:51] curtand commented on #16009
Hi @ggianelli
I spoke to the PM and he assures me that Premium P1 is sufficient. I can't therefore change the documentation, but perhaps it's something Azure Support can help with.
#please-close
@SaurabhSharma-MSFT

[2018-10-09 23:52] dcbrown16 commented on #16374
@kevinvngo mentioned he would document the recommended spacing of 10 minutes between snapshots to avoid internal timeouts. It sounds like this is more likely to be the issue if trying to run many backups in quick succession (rather than the cap on the number of jobs in the queue).

[2018-10-09 23:55] Mike-Ubezzi-MSFT commented on #16524
@prashanthmadi Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-09 23:56] MarileeTurscak-MSFT commented on #16493
I've forwarded your question to someone on the product team but he is on leave at the moment. @MarkusVi do you have information about this?

[2018-10-10 00:02] DCtheGeek commented on #16527
@holgerjay Thanks for trying out Resource Graph and for the question!  The Search-AzureRmGraph (and Search-AzGraph) cmdlets have a parameter called **First**. By default, it is set to 100 if not defined. This is what is limiting your results. You can set the number lower or higher to match your needs. Please let me know if this fixes your issue.  Thanks!

p.s. If you just want the number of matchi

[2018-10-10 00:15] #16371 closed

[2018-10-10 00:16] femsulu commented on #16531
@wesyao Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-10-10 00:19] femsulu commented on #16492
@swing24 thanks again for bringing this to our attention. A fix has been pushed out to resolve the redundant link. the fix will be live by tomorrow a.m.

@manbeenkohli  - fyi.

[2018-10-10 00:19] femsulu commented on #16492
Closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2018-10-10 00:19] #16492 closed

[2018-10-10 00:34] wmgries commented on #13767
Correct, SAS keys are not supported. It is indicated in the Linux documentation, on the page you linked. If you read the item for Storage Account Key, it identifies that SAS is not supported.

#please-close

[2018-10-10 00:36] femsulu commented on #16232
Thanks for the update @mrbullwinkle

[2018-10-10 00:36] #16232 closed

[2018-10-10 00:39] #11874 closed

[2018-10-10 00:40] femsulu commented on #16444
Assigning to @Sara-Nicolini to assist with this localization request - Japanese.

[2018-10-10 00:42] tamram commented on #15958
@dcbrown16 - Thank you for your feedback. You are right, the Storage Explorer still uses keys to access blob and queue data, and does not support using Azure AD credentials. I've updated the content accordingly, and the change should go live soon.

Portal support for using Azure AD credentials to read/write blob data is now available. This just happened in the past several days.

#please-close

[2018-10-10 00:43] cbrooksmsft commented on #9194
FYI, tried to address this with updated language in the initial warning:

[2018-10-10 00:43] cbrooksmsft commented on #9194
#please-close

[2018-10-10 00:44] tamram commented on #15641
#please-close

[2018-10-10 00:52] afield1235 commented on #16439
Sorry, I don't understand why I need to re type all of this out, all the details you asked for are in the post already.

• Error message:
"Sorry, but we're having trouble signing you in."
"This request is not a valid SAML 2.0 protocol message."

• This is when signing OUT (weird right? a sign in error when you are signing out?)

•Application was configured **100%** to the letter following the guid

[2018-10-10 00:52] MicahMcKittrick-MSFT commented on #16001
Understood. Unfortunately for now you will still need to allow your cluster to have access to the internet.

If there any any updates from the product team on when this feature will allow complete lock down of networking features I will be sure to let you know and we will update the docs accordingly.

[2018-10-10 00:53] afield1235 commented on #16439
Documentation is wrong, instead of using "SAML Single Sign-On Service URL value copied from Azure portal into the Custom logout URL textbox." you should be using "https://login.microsoftonline.com/common/wsfederation?wa=wsignout1.0"

[2018-10-10 01:02] goeffthomas opened #16534 "Retry Interval"
The UI for an Event Grid Subscription now shows a "Retry Interval" section with fields for "Days", "Hours", "Minutes", and "Seconds". However, this page says that "You can't configure the retry interval." What's the point of these fields, if it's not configurable?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ad5c953

[2018-10-10 01:03] goeffthomas opened #16535 "Retry Interval"
The UI for an Event Grid Subscription now shows a "Retry Interval" section with fields for "Days", "Hours", "Minutes", and "Seconds". However, this page says that "Event Grid uses an exponential backoff retry policy for event delivery". What's the point of these fields, then?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2018-10-10 01:07] dcbrown16 commented on #15958
Great, thanks for confirming and for the update regarding the Portal.

[2018-10-10 01:21] msLinuxNinja opened #16536 "Since DC-Series support premium storage, title should be DCs-Series"
Since DC-Series support premium storage, title should be DCs-Series like Dsv3-Series vs Dv3-Series.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe301d91-d416-fd08-af13-f84b12cee7cd
* Version Independent ID: b668960b-4524-6d97-9ddf-af8beb5ef8ad
* Content: [Azure Linux VM sizes - General purpose](https://docs.microsof

[2018-10-10 01:27] mike-urnun-msft commented on #16534
@georgewallace Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-10-10 01:43] MicahMcKittrick-MSFT commented on #16515
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-10 01:43] MicahMcKittrick-MSFT commented on #16513
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-10 01:43] MicahMcKittrick-MSFT commented on #16526
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-10 01:44] MicahMcKittrick-MSFT commented on #16521
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-10 01:44] MicahMcKittrick-MSFT commented on #16525
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-10 01:45] MicahMcKittrick-MSFT commented on #16530
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-10 01:46] MicahMcKittrick-MSFT commented on #16502
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-10 01:46] #9194 closed

[2018-10-10 01:46] #10783 closed

[2018-10-10 01:46] #12572 closed

[2018-10-10 01:46] #13767 closed

[2018-10-10 01:47] #14520 closed

[2018-10-10 01:47] #14843 closed

[2018-10-10 01:47] #15641 closed

[2018-10-10 01:47] #16009 closed

[2018-10-10 02:04] adamtay commented on #16507
Also curious to this question. When are we required to action the deprecation of `login.microsoftonline.com` in favor for `b2clogin.com`?

[2018-10-10 02:06] tony-gutierrez commented on #12296
I'm still not seeing anything about pricing of premium SB with a linked redundant SB. I guess a lot of people will just assume it is double, but its not explained explicitly.

[2018-10-10 02:06] timmyreilly commented on #16532
Ha whoops, my bad.

[2018-10-10 02:06] #16532 closed

[2018-10-10 02:28] Rykimaruh commented on #15453
@jjgriff93 , i'm also looking for a way to extract the metadata from the QnAMaker service. Just like entities in LUIS, I assume there is one for QnAMaker using metadata

[2018-10-10 02:38] ravitejapinnaka opened #16538 ""Resume and Pause Pipeline" feature not available in ADF V2 REST API in Python."
"Resume and Pause Pipeline" feature not available in ADF V2 REST API in Python. V1 has these functions . Have they been deprecated in V2 Python REST ? I see those functions in RM Powershell though.

[2018-10-10 02:41] ravitejapinnaka opened #16539 ""Resume and Pause Pipeline" feature not available in ADF V2 REST API in Python."
"Resume and Pause Pipeline" feature not available in ADF V2 REST API in Python. V1 has these functions . Have they been deprecated in V2 Python REST ? I see those functions in RM Powershell though.

[2018-10-10 02:42] #16539 closed

[2018-10-10 02:53] cmeyertons opened #16540 "Redirect HTTP to HTTPS?"
Is there a recommended path to redirect all HTTP traffic to HTTPS in AKS?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ada58160-dc50-b977-d3bc-65f92406e16d
* Version Independent ID: 5c596e04-fddb-effe-3b72-575f4df42d4e
* Content: [Create an HTTPS ingress with Azure Kubernetes Service (AKS) cluster](https://docs.micro

[2018-10-10 03:04] srrengar commented on #16299
Do you see performance counters? The extension you added only captures perf metrics out of the box. If you are seeing events you must already have the Log Analytics integration set up with the storage account.

[2018-10-10 03:17] KeiroKamioka0000 opened #16541 "Can SQL Data able to Sync when the ''Allow access to Azure services' option is OFF?"
As title, Can SQL Data able to Sync between the On-premise and Azure SQL DB when the ''Allow access to Azure services'  option is OFF?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 791801be-835a-7b8d-106a-53f5e9f8eb66
* Version Independent ID: 740ebf2f-8f09-1869-6d78-2b7242aab4ec
* Content: [Azure SQL Data Sync](https

[2018-10-10 03:40] mike-urnun-msft commented on #16367
Hi @cherchyk Thank you for sharing and contributing towards MS Docs! We will review and update the code sample as appropriate.

[2018-10-10 03:51] thomshib opened #16542 "Is read scale-out supported for EntityFramework 6.0 ?"
Does the scale-out work with EntityFramework 6.0?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a2961d1-4448-11b7-2dc2-3b738bd70939
* Version Independent ID: 206eb022-25c4-66d7-7285-0d53a84956e3
* Content: [Azure SQL Database - read queries on replicas](https://docs.microsoft.com/en-us/azure/sql-database/sql-database

[2018-10-10 04:01] MicahMcKittrick-MSFT commented on #16539
Duplicate of #16538

[2018-10-10 04:02] MicahMcKittrick-MSFT commented on #16538
Please provide us with the document you are referring to so we can better assist

[2018-10-10 04:03] MicahMcKittrick-MSFT commented on #16541
Thanks for the question! We are investigating and will update you shortly.

[2018-10-10 04:06] daviburg opened #16543 "How to import a .pem file?"
"Alternatively – a cert can be imported into Key Vault – PFX or PEM." ok, yet the keyvault certificate import in the azure management portal fails for .pem files with the error "The file type of the certificate to be imported must be .pfx." - so how do you import a .pem then?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2018-10-10 04:09] MicahMcKittrick-MSFT commented on #16536
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-10 04:13] badalk opened #16544 "Log Analytics agent"
Where all does Log Analytics agent gets installed? on the node? on the containers? and master as well? Assuming controller metrics come from the master is it by default installed on master?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0cefe987-cc3c-527c-71b6-558840b358e4
* Version Independent ID: ba39172c-9b6f-4e48-6

[2018-10-10 04:33] cherchyk commented on #16367
documentation page describes scenario for Azure Function v1

when I was creating function v2 was only option for me

[2018-10-10 04:58] kylefu8 opened #16545 "Typo in Gateway SKUs by feature set"
Under Gateway SKUs by feature set, "Route-based VPN: 10 tunnels with P2S" should be "Route-based VPN: 10 tunnels with S2S/VNet-to-VNet".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0377d24-bad6-0d7e-e5b1-0343d225d835
* Version Independent ID: 163949a6-584f-9c7c-815f-ad69f09f83dd
* Content: [VPN gateway settings for

[2018-10-10 05:09] Appjunkie opened #16546 "Azure AD token support for .Net Core"
Is there a timeline for bringing Azure AD token auth support to .Net Core.
The AccessToken property is not available on SqlConnection right now.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d4a33b0-87d0-f60c-1b52-aeafa889e657
* Version Independent ID: c281bdb7-c98c-6853-5077-41b3dd44d3a2
* Content: [Configure Azure

[2018-10-10 05:17] Karishma-Tiwari-MSFT commented on #16235
@mmarkzon Any update? We need your help in understanding the issue. Please provide details as asked above. Thanks.

[2018-10-10 05:19] Karishma-Tiwari-MSFT commented on #16340
@roiyz-msft @satyavel @MGoedtel Can you please take a look and share if you have any insights on the roadmap for this one?

[2018-10-10 05:19] Karishma-Tiwari-MSFT commented on #16417
@Any update?

[2018-10-10 05:40] mcurko commented on #16469
Routing type is already "priority".

[2018-10-10 05:41] holgerjay commented on #16527
I just saw that this information is also part of the full help. Cool. Last question: Is there a reason that the parameter range goes up to 5000 only?

[code]

[2018-10-10 06:17] johnyesberg opened #16548 "Working with shared access signatures"
I used the Microsoft Azure Storage Explorer to create a Shared Access Signature. It wasn't clear how to use the results of that process in the code sample. In particular, what should the host and tableSAS values look like?

    var sharedTableService = azure.createTableServiceWithSas(host, tableSAS);

I posted a detailed description of my steps in a stackoverflow answer for future reference.
https

[2018-10-10 06:26] AzureStackNerd opened #16549 "The correct lines"
The correct lines should be:

Add-AzureRmAccount -EnvironmentName "AzureCloud"

Register-AzureRmResourceProvider -ProviderNamespace Microsoft.AzureStack

Import-Module C:\AzureStack-Tools-master\Registration\RegisterWithAzure.psm1

$AzureContext = Get-AzureRmContext
$CloudAdminCred = Get-Credential -UserName AZURESTACK\CloudAdmin -Message "Enter the credentials to access the privileged endpoint."

[2018-10-10 06:36] YutongTie-MSFT commented on #16515
@mx-iao Hi, thanks a lot! I have updated the document, you should see the change shortly. We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-10 06:36] #16515 closed

[2018-10-10 06:45] timoschwarte opened #16550 "Permissions of the "Key Vault Contributor" role"
According to this documentation the "Key Vault Contributor" can "manage key vaults, but not access to them." According to the Azure Portal this role has however permission to "Update an existing access policy by merging or replacing, or add a new access policy to a vault."

Some other documentation (e.g. https://docs.microsoft.com/en-us/office365/securitycompliance/controlling-your-data-using-cust

[2018-10-10 07:04] lukeb1961 opened #16551 "lack of command-line example (using DT.EXE)"
would have saved me half the day if you had an example ("export to json file (blob)" ) that stated:

.\DT.EXE
/ErrorDetails:All
/s:DocumentDB
/s.ConnectionString:"AccountEndpoint=https://MYCOSMOSDBACCOUNT.documents.azure.com:443/;AccountKey=MYCOSMOSDBACCOUNTKEY;Database=MYCOSMOSDBDATABASENAME"
/s.Collection:MYCOSMOSDBCOLLECTIONAME
/t:JsonFile /t.File:"blobs://MYSTORAGEACCOUNTKEY@MYSTORAGEACCOUNT.b

[2018-10-10 07:11] StefH opened #16552 "Screenshot for creating an Azure Storage Account is outdated"
Please update the screenshot (+ description if needed) for creating a Azure Storage Account (at the top of this help page).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab5309d7-9a63-fa0f-f8f6-64987eae5d2f
* Version Independent ID: 0481545b-d248-af8b-70e3-804c56bdb3de
* Content: [Receive events from Azure Event Hubs

[2018-10-10 07:12] paragbharne opened #16553 "is this feature available for the classic model ?"
I want to take the backup of the Classic VM, is it features available for the classic model?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 142ddb2b-65ef-10f4-0e68-f9af6f0e3d52
* Version Independent ID: 74e33ef9-9a43-8ae6-abbd-a84f1cf91a25
* Content: [Azure Backup: Recover files and folders from an Azure VM backup](htt

[2018-10-10 07:13] MarkDixonTech commented on #16479
Steps to recreate:

1) Visual Studio, Create a new .NET Core MVC Application with Azure B2C Authentation from template
2)  Follow steps in this article https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-setup-msa-app

Result: Error received whilst trying to log in using Microsoft Account

Solution:

Update the value AzureAdB2C.Instance in app.settings that is created

[2018-10-10 07:31] StefH opened #16554 "UnregisterEventProcessorAsync does never complete ?"
This code part:
[code]

does not return?

Also the `CloseAsync(...)` method on the `SimpleEventProcessor` class is never called?

See [example gist](https://gist.github.com/StefH/9c746f55f0c5209a56fcdbdb557ca448).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4c6d63e-95f5-de2c-972b-4da5fe71a6a6
* Version Independent

[2018-10-10 07:33] kuhussai commented on #13655
#please-close

[2018-10-10 07:34] dterei commented on #12717
@MohitGargMSFT What exactly does deleting the OAuth2PermissionGrant entity for the user do? Will it revoke the refresh token?

[2018-10-10 08:03] mcurko opened #16555 "Question"
"When you create a virtual machine from an image, Azure creates a disk for the virtual machine that is a copy of the source .vhd file." =&gt; Does it mean that now we have an image, which is a VHD file with a lease and whose content doesn't change, and a disk, which is another VHD file whose content changes as the VM is being used?

---
#### Document Details

⚠ *Do not edit this section. It is req

[2018-10-10 08:11] Badabum commented on #12770
@CelesteDG Thanks!

[2018-10-10 08:14] wstaelens opened #16556 "Wrong title for content"
https://docs.microsoft.com/en-us/azure/active-directory/develop/registration-config-how-to

The title is wrong.
Now it states

but it should be

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dae486fa-0866-4e39-df31-8988cbd765b4
* Version Independent ID: 9787bf08-cbd2-db04-3582-3f01ff4d7d5d
* Content: [How to select per

[2018-10-10 08:18] 0GiS0 commented on #16325
Hi Grace,

What I meant is in this article you have a registered app for the front-end and another for the backend. In order to get the token in the front-end to call the backend you modify the manifest with:

`"additionalLoginParams": ["response_type=code id_token","resource=<back_end_application_id>"],`

what if I have more than one resource that I need to access? I cannot access all tokens via

[2018-10-10 08:21] richcorless commented on #16287
I can confirm :latest works, could the tutorial be updated with this until the bug in Edge is fixed please?

[2018-10-10 08:22] serbrech opened #16557 "Access Jupyter Notebook when VM was setup with SSH access and managed identity"
The [documentation to access Jupyter](https://docs.microsoft.com/en-us/azure/machine-learning/data-science-virtual-machine/dsvm-samples-and-walkthroughs#access-jupyter) states :
- Access https://&lt;Full Domain Name or IP Address of the DSVM&gt;:8000
- Sign in with the same password as your login for Data Science Virtual Machines.
I provisioned a DSVM with my public SSH key and a managed identity.

[2018-10-10 08:27] MikeBarker-MSFT opened #16558 "Azure Classic portal screen shots"
The screen shots in this article show the old Azure Classic portal, and should be updated to reflect the new portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9edfc165-8727-4f35-1be0-b570ee716673
* Version Independent ID: b41dd96e-4a97-6f83-0b31-9ce17d1de42c
* Content: [What is application access and single sign-o

[2018-10-10 09:07] ThibautVDP opened #16560 "Clarify Linux RAM requirements"
It would be nice to have known WHY the RAM requirements are at least 7-8 gigabytes.
It appears that the scripts azure pushes to the machines, mount a point in Linux under /tmp that it copies all the other files into. this folder seems to be made at half the size of the machine's memory. And so, if you have a machine that already exists, but happens to be, for example, 30 gigabytes in disk size, yo

[2018-10-10 09:21] JelleKruithof opened #16561 "Create multiple subscriptions from the same offer"
It also possible to create multiple subscriptions from the same offer. I tested this on the ASDK. I can't find this information in the documentation. Would be nice to see that updated. Would also like to see in which situations you want to create multiple subscriptions from the same offer.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2018-10-10 09:23] atullalwani opened #16562 "Replication Stored Procedures"
Hello,
I am unable to list the SPs required to perform the data-in replication in AzureMysql Database as a service. eg: az_replication_change_master does not exist within db. Do we need to create them manually?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 261311a4-69ae-3bb8-7271-f8f8bd81ec38
* Version Independent ID:

[2018-10-10 09:33] isaacboucinha opened #16563 "Firebase"
Are you planning on updating this tutorial to use Firebase Cloud Messaging?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e71a428-6213-e0e1-cfba-76964353e0a2
* Version Independent ID: ef27b609-4c88-3a11-35ad-709df9c51861
* Content: [Push notifications to specific Android devices using Azure Notification Hubs and Goog

[2018-10-10 09:37] jonrosenskispark opened #16564 "What is the maximum sized of a request?"
What is the maximum size of a request?

[2018-10-10 09:45] padmick commented on #16116
any update on this?

[2018-10-10 09:50] mada360 opened #16566 "No longer obtaining email claim"
Previously I had implemented these custom policies to allow for multi-tenant sign on and I was able to obtain the email address for the user but since the move to using the b2clogin domain I am now unable to obtain the email address in the token returned and there is no record of the email address against the user when looking at the user dashboard within the Azure AD B2C blade.

Another differenc

[2018-10-10 10:34] ddentrec commented on #16521
Update: deleted the original webapp. Started over using:

New git app repository and app setup.
Hub primary connection key for the Application settings->APP SETTING NAME->Azure.IoT.IoTHub.ConnectionString value.
correct consumer group name for Application settings->APP SETTING NAME->Azure.IoT.IoTHub.ConsumerGroup value
Application settings->APP SETTING NAME->WEBSITE_NODE_DEFAULT_VERSION = 8.9.4

N

[2018-10-10 10:40] #16564 closed

[2018-10-10 11:02] ri-we opened #16567 "Delve"
Delve is missing from the approved apps list

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0073f5a8-daf6-7f14-127f-e0c9d80af78d
* Version Independent ID: d6d0afdf-3619-ca03-718b-a40bfd07bab9
* Content: [Azure Active Directory conditional access settings reference](https://docs.microsoft.com/en-us/azure/active-director

[2018-10-10 11:20] cmeyertons opened #16569 "How to delete wordpress using Helm"
Could we add a callout to how to delete the wordpress helm chart so a dev doesn't have to go hunting through Helm's docs to clean up what is probably just a test anyway?  It looks like it creates multiple K8s resources

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a917974-7672-e4f9-ab5c-4a5bfeeca27d
* Version Indepen

[2018-10-10 11:25] cmeyertons opened #16570 "Managing Helm resources best practices"
Running `helm install` doesn't seem as repeatable or encourage configuration as code as the other docs where you have a sample K8s resource file.

Could we improve this documentation surrounding Helm to encourage best practices?  That might also provide some more insight into using Helm as a package manager for multiple resources rather than just introducing it in an adhoc fashion

---
#### Docume

[2018-10-10 11:38] cephalin commented on #16203
@dboudah  Those subsections titles are not meant to be UI strings. Take a look at the description under each.

[2018-10-10 11:41] dtechie commented on #15882
Thanks @sergaz-msft. We have some issue with our transparent gateway installation of the IoT Edge 1.0.2 release. We are still checking and will tag you again if any issue arises.

[2018-10-10 11:46] cephalin commented on #12571
I recommend you stick with the Linux route, whether using the built-in image or custom Docker. Take a look at [this link](https://docs.microsoft.com/en-us/azure/app-service/containers/tutorial-python-postgresql-app#access-diagnostic-logs) to see how you can access the docker container logs for debugging.

[2018-10-10 11:51] erikverwer opened #16573 "Sync PowerShell Workflow runbook with foreach -parallel function give error"
Failed to sync.
File parsing error:
 - Assert-AutoShutdownSchedule.ps1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83c90e64-b615-711f-a53d-fc76606e2ecd
* Version Independent ID: 2d164036-6886-4440-50f7-369f99f41cea
* Content: [Source Control integration in Azure Automation](https://docs.microsoft.com/en-us/azure/aut

[2018-10-10 12:03] Sajlib commented on #14796
@Karishma-Tiwari-MSFT, thank.

Currently I have another problem with nested properties starting with the $ sign.
I.e. "query": "SELECT C.dollarsignsubfield.$subfield FROM C" will fail with error: "Syntax error, invalid token '$'." whereas "query": "SELECT C[\"$subfield\"] FROM C" will work correctly.

Thank you in advance.

[2018-10-10 12:30] AresiusXP opened #16574 "SKU v2 backend HTTP settings with certificate"
Could we get some guide on doing this same thing but doing an end-to-end encryption using SKU v2? Whether it's Standard or WAF. Using Set-AzureRmApplicationGatewayAuthenticationCertificate doesn't work anymore.

From MS support I was told this should be handled by KeyVault for certificates, but I'm not sure how to do it.

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2018-10-10 12:35] DrEight commented on #16299
Now I started the see also the counters. So this it means that take days to
show up.

Thank you for the support.

On Wed, Oct 10, 2018 at 5:04 AM Sravan Rengarajan <notifications@github.com>
wrote:

[2018-10-10 12:39] Anmolgan81 opened #16575 "New-AzureRmDms command not working"
I cannot create the DMS Service?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07d69e62-9260-457d-2acd-028bdfa0a0a4
* Version Independent ID: b8b83251-c237-a31f-60dc-2db8337192c9
* Content: [Use Azure Database Migration Service module in Microsoft Azure PowerShell to migrate SQL Server on-premises to Azure SQL DB](htt

[2018-10-10 12:47] mmarkzon commented on #16235
I have been using V2.  Yes, I am using the custom script extension post provisioning to download a script from a storage account and execute it on the VM.  Yes it is a one time thing.  I have it working with an access key but if there is a way to use the extension with MSI or RBAC I would prefer that.

[2018-10-10 12:49] Eseldorf commented on #13949
So whats the word on this issue? We are starting a Workday project and I have to go back and report this is how the Sync works.

[2018-10-10 12:55] jjgriff93 commented on #15453
Hi @Rykimaruh the workaround I've done for now is to use the Bot v4 framework, which has an associated updated QnAMaker package (Microsoft.Bot.Builder.AI.QnAMaker) - this returns metadata as part of the response which you can access in the QnAMaker object

[2018-10-10 12:57] jjgriff93 commented on #16134
Thanks @Mike-Ubezzi-MSFT , @SnehaGunda - the problem is it's only for .NET Core, not an ASP.NET Core webapp. Currently we seem to only have an ASP.NET example with Cosmos DB so would be nice to have an updated ASP.NET Core Cosmos DB tutorial showcasing the latest technologies

[2018-10-10 12:59] jjgriff93 commented on #16435
Thanks @SnehaGunda , this is related to the issue I've just commented on the other thread. It says Web App tutorial and therefore should be an ASP.NET Core tutorial, as this documentation is a section on getting started with .NET Core - we shouldn't then be linking people through to a .NET WebApp tutorial from this, can be misleading

[2018-10-10 13:00] andyjballgit opened #16576 "Resource Health alerting"
this part appears to be out of date ?
https://docs.microsoft.com/en-us/azure/service-health/resource-health-faq#can-i-integrate-resource-health-with-my-monitoring-tools

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f40ab2aa-4a6d-abb0-f651-22c5c0b2c202
* Version Independent ID: db7c4d4d-32e1-13cf-4fe8-ec42b18a0d10
* Co

[2018-10-10 13:07] DavidD-SE opened #16577 "Encryption of backup data-at-rest"
in the question "Is the backup data on Azure encrypted as well?" it is said, that for Azure IaaS VMs Azure Backup relies on encryption within the VM (e. g. Bitlocker). But in https://azure.microsoft.com/de-de/updates/azure-backup-sse-encryption-at-rest/ it is mentioned that since November 2017 backup data-at-rest is protected by SSE.

Could you please clarify what is applicable now? Is backup data

[2018-10-10 13:09] ajakupov opened #16578 "Python 2.7 incompatible"
Very good tutorial indeed. However, it is important to mention that tensorflow is not compatible with Python 2.7, and with Python 3.7 neither. You should have a 64 bit operating system and Python 3.6.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 754dd7d5-dd8b-4a75-5d79-0ba621a847cd
* Version Independent ID: 3cca3535-

[2018-10-10 13:09] #16578 closed

[2018-10-10 13:18] dpravo opened #16579 "How to programmatically access the 'source' attribute?"
Can the 'source' attribute be viewed programmatically somehow? Preferably using either the Msol Powershell module or the AzureAD Powershell module - I have been unable to find it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6eb6697-4ace-adb6-c922-df8a9a485283
* Version Independent ID: fd4ce34d-d55e-92af-d71a-625210

[2018-10-10 13:29] jakaruna-MSFT commented on #16540
We can achieve this using Kubernetes ingress Controllers. In the example we used Nginx as the ingress controller.  We can add annotation to ingress or add options in Config maps to control the behaviour.

If SSL termination happens at the ingress, By default all HTTP requests will be redirected (302) HTTPS.
Annotation which controls this setting is "ingress.kubernetes.io/ssl-redirect"
config map k

[2018-10-10 13:33] TecumsehSamp commented on #13970
Also agree on it being slightly confusing to anyone just reading up about it for the first time. Can get confusing with the concept around PaaS and the product itself if you don't know about it beforehand and aren't familiar with Azure Functions etc..

[2018-10-10 13:34] vd3d commented on #16396
Sad news, and so... do you have a plan, some approximatives dates for it ?

BTW, do you plan to also provide an Azure Search emulator ?

Thx

[2018-10-10 13:34] mattquinn4 opened #16580 "Supported API capabilities not listed under Reference - REST APIs"
The following are said to be available via REST, but there is no mention on them on the REST APIs section under Reference.  It would nice to see some documentation for these REST APIs:
Create Accuracy Tests
Upload datasets for model adaptation
Create & manage speech models
Create & manage model deployments
Manage Subscriptions
Create & manage model deployments
Create & manage model deployments

--

[2018-10-10 13:44] ddentrec commented on #16521
Update: App is working but the graph itself works very intermittently. The displayed data is wrong/corrupt even with the Pi receiving valid temp and humidity data. I will investigate some more but it is very unstable in my view.

[2018-10-10 13:50] ddentrec opened #16582 "'get twin message error' message seen"
Everything is working. Set interval to 3 minutes (18000). Data is displayed in BI tool fine.

Left running overnight - was OK in the morning. Then about 10am I get 'get twin message error' in the bash shell terminal. Pi has stopped sending messages. I restarted the Pi and re-ran the app and it worked OK for 30 mins then failed again. Pi is connected over a wired LAN (not wifi). Network seems OK as

[2018-10-10 13:55] PeerMohamedMydeen opened #16583 "InvalidResourceReference exception on nicJumpBox"
I am getting the below exception while running the powershell script. It looks like the resource nicJumpBox has not been created.

New-AzureRmResourceGroupDeployment : 7:17:28 PM - Resource Microsoft.Network/networkInterfaces 'nicJumpBox' failed with message '{
  "error": {
    "code": "InvalidResourceReference",
    "message": "Resource /subscriptions/e60e0db5-4905-47a2-9e1d-1030e360a3b4/resource

[2018-10-10 14:06] Rykimaruh commented on #15453
@jjgriff93 , awwww...I'm still using v3 because I've done so much in this bot that trying to redo it is gonna take me a while :(

[2018-10-10 14:08] balakumargnair commented on #15466
100% agree with @cflee. This core fact that should be mentioned upfront.

[2018-10-10 14:09] RobertoPrevato opened #16584 "There is a typo in the menu"
There is a typo in the tree menu, on the left: "credentails" instead of "credentials", in "OAuth 2.0 client credentails grant".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e20004e2-beab-6e67-9b98-eaa12f612442
* Version Independent ID: 2a3db0c8-d0df-cca5-fb52-36d68cd67207
* Content: [Azure AD Service to Service Auth

[2018-10-10 14:11] RobertoPrevato commented on #16584
The page is here: [https://docs.microsoft.com/en-us/azure/active-directory/develop/v1-oauth2-client-creds-grant-flow](https://docs.microsoft.com/en-us/azure/active-directory/develop/v1-oauth2-client-creds-grant-flow).

[2018-10-10 14:12] jeffgilb commented on #16549
Hi @AzureStackNerd this seems to be exactly what's on the page. Please let me know what you think needs changed specifically.

[2018-10-10 14:21] gbbiotwesouth opened #16585 "Storage Explorer to be used with IoT Edge blob storage."
Would it be possible to change the storage explorer so it doesn't only go to either Azure or 127.0.0.1, but can also put in the fully qualified address (f.i. http://&lt;ip-address&gt;:&lt;port&gt;/&lt;storage-name&gt;? If we can set the qualified address to point at the IoT Edge it would be possible to access the Azure IoT Edge Blob Storage module (https://docs.microsoft.com/en-us/azure/iot-edge/h

[2018-10-10 14:29] Angelicvorian commented on #10813
I've had a similar issue and it was fixed by ensuring the nodename and nodetype were not identical.
I've used FQDN as the nodename and IPaddress as the IPAddressorFQDN values and my gMSA cluster now allows nodes to add successfully.
I used the method as discussed in the MS docs, just using a ClusterConfiguation Upgrade to add the node and it works now.
gMSA account is installed on each new node to

[2018-10-10 14:31] AzureStackNerd commented on #16549
# Add the Azure cloud subscription environment name.
# Supported environment names are AzureCloud, AzureChinaCloud or AzureUSGovernment depending which Azure subscription you are using.
Add-AzureRmAccount -EnvironmentName "AzureCloud"

# Register the Azure Stack resource provider in your Azure subscription
Register-AzureRmResourceProvider -ProviderNamespace Microsoft.AzureStack

#Import the regist

[2018-10-10 14:31] jboeshart commented on #16417
I think it's beneficial to keep it as it mirrors templates that would be frequently seen in the wild and when exported in the portal, and it clarifies why you might see a storage account even though you are using managed disks. If that point is overlooked though, we could use a note to specifically call it out more.

[2018-10-10 14:38] Mike-Ubezzi-MSFT commented on #16542
@thomshib Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-10-10 14:39] ddentrec commented on #16521
Update: if you open the webpage (am using Chrome) in the browser it displays as a blank graph. If you leave the page open and come back to it about an hour later it does display graph information though it is not the same info as displayed within the BI console. If you refresh the same page the graph information is removed and a blank graph is again displayed.

[2018-10-10 14:40] Mike-Ubezzi-MSFT commented on #16546
@Appjunkie Thank you for your interest in Azure products and services. We are actively investigating and will get back to you soon.

[2018-10-10 14:42] Mike-Ubezzi-MSFT commented on #16548
@johnyesberg Thank you for the content feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-10 14:43] ddentrec commented on #16521
Does not work on Apple iOS/Safari - always displays a blank graph.

[2018-10-10 14:51] vhusker commented on #15279
Agree with what everyone else has said.  Went to deploy a PoC for a customer today and noticed this as well and couldn't find anything documented.  Additionally there is no tooltip in the Tier section anymore and instead an Availability Zone drop box appears at the bottom of the setup page.  Would really like to see some documentation about the v2 versions for both types of application gateways.

[2018-10-10 14:55] ddentrec commented on #16521
OK. I get it now. Doh!

1. When the graph is accessed for the first time it will be blank. This is expected behaviour.
2. Graph app then starts to pull in data from the BI. This will take several minutes. Graph then starts to plot the data.
3. After 30 mins the graph will display actual live data, and will update accordingly.

Pity this small but critical behaviour was not included in the instruct

[2018-10-10 14:59] zsmorris opened #16586 "no examples for using a variable with property iteration?"
Currently, all the examples of property iteration hard code a value for "count".  Is it not possible to have an expression there, e.g. "count":  "[length('myArrayParameter')]"?  I have not been able to get property iteration to work without hard-coding a value. Even referencing a variable or parameter with a hard-coded value doesn't work.

---
#### Document Details

⚠ *Do not edit this section. It

[2018-10-10 15:03] sergaz-msft commented on #16521
Thank you for all the troubleshooting steps @ddentrec :). I believe that your comments will definetely help others facing the same issue!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-10 15:03] #16521 closed

[2018-10-10 15:14] chetanku commented on #16516
@MicahMcKittrick-MSFT Thanks.

[2018-10-10 15:17] jan-eng commented on #15708
Thank you for reporting this discrepancy. We will fix the table with our next documentation update.

[2018-10-10 15:31] Mike-Ubezzi-MSFT commented on #16583
@PeerMohamedMydeen Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-10-10 15:40] sergaz-msft commented on #16582
Hi @ddentrec . Thanks for your feedback!
How are you confirming that Raspberry Pi stopped sending messages? Also can you confirm what version of azure-iot-device-mqtt and azure-iot-device are you using? If you followed the tutorial top down then you are using version 1.1.7 since you cloned it from [here](https://github.com/Azure-Samples/iot-hub-node-raspberrypi-client-app).

![image](https://user-

[2018-10-10 15:57] danmyhre opened #16587 "Storage Threat Detection"
Missing details on new storage threat detection service (ATP)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39704318-6aa1-18ed-99dc-f1ac9c98e421
* Version Independent ID: a5841317-9e6d-b117-f663-9aec1205552b
* Content: [Azure advanced threat detection](https://docs.microsoft.com/en-us/azure/security/azure-threat-detec

[2018-10-10 15:59] jpetitte commented on #14855
I hope it will come with TypeScript typings. That would be awesome.

[2018-10-10 16:02] CarlRabeler commented on #14241
@Mike-Ubezzi-MSFT This is not a doc bug, this is a request for a change in the Azure portal itself. As such, this needs to be referred to the engineering team.
Carl

[2018-10-10 16:03] iainfoulds commented on #16570
Thanks for the feedback, @cmeyertons. Not sure I follow the reasoning though - Helm is considered one of the primary ways to distribute packages for installation in Kubernetes. This doc is simply showing that you can use Helm with AKS as there's nothing done to the Kubernetes cluster that changes the behavior.

The other such docs in the 'Develop and run applications' section of the TOC are along

[2018-10-10 16:06] mrbullwinkle commented on #16206
@tiny-dancer Even though the Python SDK is originally Microsoft authored and we still have engineers making contributions to it we currently consider it community supported so it doesn't get the same level of coverage in the official docs as the SDKs that are officially supported. The list of officially supported SDKs are: Java, Node.JS, JavaScript, .NET, and .NET Core.

We have made some recent i

[2018-10-10 16:11] DCtheGeek commented on #16527
@holgerjay Resource Graph is in Preview.  Limits like this are so they can test the functionality and scalability without negative impact to other services and capabilities.  It may or may not change at GA. Not an answer, but the best I can give you today.  Thanks again for the questions!

@MicrosoftDocs/azure-cxp-triage #please-close

[2018-10-10 16:13] Mike-Ubezzi-MSFT commented on #16575
@Anmolgan81 Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2018-10-10 16:14] bwren commented on #16275
We're working on updating screenshots across a lot of content including this article so it will be getting updated shortly.

[2018-10-10 16:14] bwren commented on #16275
#please-close

[2018-10-10 16:14] srrengar commented on #16299
@DrEight the counters should appear within minutes if you selected the workspace to configure them and have the agent installed. To automate this, here is a sample template that deploys everything with some counters preconfigured. Hope this will be helpful in the future

https://github.com/Azure-Samples/service-fabric-cluster-templates/blob/master/5-VM-Windows-OMS-UnSecure/sfclusteroms.json

[2018-10-10 16:14] bwren commented on #16280
We're working on updating screenshots across a lot of content including this article so it will be getting updated shortly.

[2018-10-10 16:14] SnehaGunda commented on #16396
@vd3d Don't have an ETA yet, but it's coming soon, probably in the next couple of months. for Azure Search emulator, can you please log your feature request at uservoice:
https://feedback.azure.com/forums/263030-azure-cosmos-db

[2018-10-10 16:14] bwren commented on #16280
#sign-off

[2018-10-10 16:19] bwren commented on #16173
Thanks for noting that.  Fixing it now.

[2018-10-10 16:22] Adam-Smith-MSFT commented on #16553
@paragbharne Classic VM is actually supported in backup and recovery services, per the following [documentation](https://docs.microsoft.com/en-us/azure/backup/backup-azure-vms-first-look-arm)
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-10 16:22] #16553 closed

[2018-10-10 16:26] u02cm62 opened #16588 "Step 6 needs to be corrected"
"As a GLOBAL administrator, you can also consent to an application's delegated permissions on behalf of all the users in your tenant. Administrative consent prevents the consent dialog from appearing for every user in the tenant, and can be done in the Azure portal by users with the administrator role. From the Settings page for your application, select Required permissions and click on the Grant

[2018-10-10 16:31] sfamini commented on #11024
Is there sample code for continuous recognition with javascript?
The github sample code repository only has samples for one-shot recognition. Trying to replicate the continuous functionality available in C# samples results in errors from ts files (in Chrome debugger).

[2018-10-10 16:34] Grace-MacJones-MSFT commented on #16563
Hi @isaacboucinha, thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-10-10 16:44] compulim commented on #11024
@zhouwangzw do you know when will it be updated? Is the updated version means the ZIP file in this [article](https://docs.microsoft.com/en-us/javascript/api/overview/azure/speech-service?view=azure-node-latest)?

[2018-10-10 16:45] douglaslMS commented on #16454
@ramveluit Is there any more info that you need? Does our response match what you observe in your testing?

[2018-10-10 16:50] iainfoulds commented on #16569
As with https://github.com/MicrosoftDocs/azure-docs/issues/16569, this doc isn't intended to be a comprehensive or authoritative way to install applications in a Kubernetes cluster. `helm delete` should clean up the resources deployed through the select chart. I'll create a backlog work item to add this step in a future release to show it more clearly.

For now, #please-close

[2018-10-10 16:50] MarileeTurscak-MSFT commented on #16439
I was asking for the numerical error code associated with the error message (the AADSTS).

[2018-10-10 16:51] tplas opened #16589 "Need definition of IO "operation""
The term "operation" is used often, and is very important for pricing. But is never defined on the Azure Storage Blob (or GPV2) pricing pages.  Just how many bytes are included in each "operation"?

I seem to have found in a forum posting, that it is 4MB per operation --and any longer IO is broken up into multiple "operations".  --which also would affect user costs.  Please define "operation" in t

[2018-10-10 16:51] agrabhi opened #16590 "Orchestration step 9 is not well formatted. The closing element is missing"
Orchestration step 9 is not well formatted. The closing element is missing

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b323b269-e228-4e1f-265c-1b47831cc871
* Version Independent ID: 9248541d-dc78-4cd6-01eb-2d459df058fe
* Content: [Track user behavior by using events in Application Insights from Azure Active Director

[2018-10-10 16:55] tfitzmac commented on #16534
@goeffthomas - thanks for the making me aware of this issue. It looks like the documentation and the portal are using the same term but in different ways. In the portal, the "retry interval" specifies the total amount of time to try to deliver the event. The documentation uses "retry interval" to specify the cadence of retries. I will changed the docs to remove the confusion. But, the statement is

[2018-10-10 16:55] jason-j-MSFT commented on #16552
@StefH
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-10 16:56] dimazaid commented on #16563
Hello - yes we will be updating this to use Firebase Cloud Messaging soon.

[2018-10-10 16:57] MarileeTurscak-MSFT commented on #16439
Were you able to get it working using the link you listed?

[2018-10-10 16:57] jason-j-MSFT commented on #16554
@StefH
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-10 17:02] SnehaGunda commented on #16396
#please-close

[2018-10-10 17:02] zeronines commented on #16549
Mid-September the script looked more like this without the EnableUsageReporting (which worked):

# Add the Azure cloud subscription environment name.
# Supported environment names are AzureCloud, AzureChinaCloud or AzureUSGovernment depending which Azure subscription you are using.
Add-AzureRmAccount -EnvironmentName "AzureCloud"

# Register the Azure Stack resource provider in your Azure subscrip

[2018-10-10 17:02] MarileeTurscak-MSFT commented on #16507
This is a really good question. Unfortunately this information is not available yet. If you keep track of the release notes page this information will become available as soon as it's out. https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/whats-new

The product team has not made an announcement yet but I will speak to them and update this thread as soon as the information become

[2018-10-10 17:02] MarileeTurscak-MSFT commented on #16507
Closing this out for now but will continue the discussion in the comments if there is an update.

[2018-10-10 17:02] #16507 closed

[2018-10-10 17:02] iainfoulds commented on #16540
As @jakaruna-MSFT notes, the NGINX ingress controller default behavior is to redirect all traffic to HTTPS. This isn't AKS specific behavior, rather how NGINX decided (somewhat correctly) to redirect all traffic to HTTPS connections.

An example of how to override this behavior is shown in the basic ingress example - https://docs.microsoft.com/en-us/azure/aks/ingress-basic#create-an-ingress-route.

[2018-10-10 17:11] Prasad-Pillutla opened #16592 "Issues with RDP"
after installation of xrdp we need to enable it using "sudo systemctl enable xrdp", without this rdp connection fails. Order of commands should be
1) sudo apt-get install xrdp
2) sudo systemctl enable xrdp

logs for failure when xrdp is not enabled are below
Oct 10 16:49:30 gfechatbot xrdp-sesman[21992]: (21992)(139773951198208)[ERROR] X server for display 10 startup timeout
Oct 10 16:49:30 gfecha

[2018-10-10 17:12] fmegen commented on #11024
We are currently preparing sample code for the APIs.
basically, you can follow the steps to create a speech recognizer from the quickstart,

                reco = new SpeechSDK.SpeechRecognizer(speechConfig, audioConfig);

then wire up handlers:

                reco.recognizing = function (s, e) {
                    window.console.log(e);
                };

                // The event recogni

[2018-10-10 17:14] compulim commented on #11024
Will try it out.

But a SDK released in a ZIP file and not on NPM is not consumable in our production environment.

[2018-10-10 17:29] #16275 closed

[2018-10-10 17:30] sfamini commented on #11024
@fmegen: That helped a lot, thank you very much!

I was doing it this way, which was giving me no results:

[code]

[2018-10-10 17:32] MarileeTurscak-MSFT commented on #16590
@agrabhi
Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-10 17:34] #16280 closed

[2018-10-10 17:34] Grace-MacJones-MSFT commented on #16563
Hi @dimazaid, is there a possible ETA on the update?

[2018-10-10 17:35] KumudD commented on #16466
Please assign this to @mdgattuso . Thanks!

[2018-10-10 17:36] MarileeTurscak-MSFT commented on #16587
@danmyhre
Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-10 17:37] ravitejapinnaka commented on #16538
Hi @MicahMcKittrick-MSFT I'm referencing to this document https://docs.microsoft.com/en-us/rest/api/datafactory/v1/data-factory-pipeline#resume

Pipelines of the project were being run on ADF V1 earlier. These are being migrated to V2. All the functionalities like Creating, Triggering, Pausing and Resuming pipelines are to be replicated in V2 too. However, I fail to find a proper way to implement

[2018-10-10 17:38] MicahMcKittrick-MSFT commented on #16564
@jonrosenskispark thanks for reaching out. If you decide you still need help please let me know and provide me with the document you are referring to.

[2018-10-10 17:39] MarileeTurscak-MSFT commented on #16566
@mada360
Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-10 17:39] gunnarcms commented on #16417
Makes sense then, no objections. On a first look I thought it was referencing the previous storage account for non managed disks. Thanks folks!

[2018-10-10 17:40] tfitzmac commented on #16586
@zsmorris - thanks for your feedback. There is an example that shows setting two properties for load balancers that uses the length of a parameter array. There is also a link to the [Windows VM deployment with a variable number of data disks](https://github.com/Azure/azure-quickstart-templates/tree/master/101-vm-windows-copy-datadisks) template which uses a parameter for property copy count. I jus

[2018-10-10 17:40] MarileeTurscak-MSFT commented on #16567
@ri-we
Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-10 17:40] wesmc7777 commented on #15268
The diagram in [this article ](https://docs.microsoft.com/azure/iot-dps/concepts-auto-provisioning#roles-and-operations) provides some insights on this.  I need to update it with some scenario examples to help give this more context.

It is scenario dependent, and there are quite a few scenarios that can be involved but the pattern below should help:

A manufacturer manages security for their cust

[2018-10-10 17:41] MicahMcKittrick-MSFT commented on #16592
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-10 17:42] mattbriggs commented on #16561
@JelleKruithof Thanks for your feedback. I will forward to our team so that we can get definition on the use case for having multiple subscriptions with an offer. #please-close

[2018-10-10 17:42] #16569 closed

[2018-10-10 17:42] #16570 closed

[2018-10-10 17:43] MarileeTurscak-MSFT commented on #16556
@wstaelens
Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-10 17:43] MicahMcKittrick-MSFT commented on #16555
Thanks for the question! We are investigating and will update you shortly.

[2018-10-10 17:43] arduppal commented on #16287
@richcorless :- We updated the doc. Thanks

[2018-10-10 17:44] MarileeTurscak-MSFT commented on #16584
@RobertoPrevato thanks for catching this. I have assigned to the content author, @CelesteDG , to look into.

[2018-10-10 17:45] MarileeTurscak-MSFT commented on #16588
@u02cm62
Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-10 17:47] #16527 closed

[2018-10-10 17:47] edyoung opened #16594 "Always use unique-cache when using CDN over a blob store"
If you have an Azure storage account and you're using CDN in front of it, you should always use unique-cache, because the storage API uses different query strings to return different values, and API calls via the CDN may return incorrect responses otherwise.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49a6f6b7-82dc-

[2018-10-10 17:48] u02cm62 commented on #16588
Thanks that’s how I had to fix it.

Admin of the web app does not have consent over the org’s end user accounts.  Global admin does, but you may have some lesser permission that would work, but we don’t get into that granularity.  So we just had the global admin do it.  It worked afterwards.

Regards,

Mike Kostuch
CDS - BI Manager
Ecolab – Commercial Digitial Solutions
651 250 2737 (Desk)
612 978

[2018-10-10 17:48] #13655 closed

[2018-10-10 17:49] #16396 closed

[2018-10-10 17:49] #16540 closed

[2018-10-10 17:54] cynthn commented on #15519
@FallenGameR thanks for the feedback! I'll use the language from the Windows version in the Linux version for the authentication item.

[2018-10-10 17:54] cynthn commented on #15519
#please-close

[2018-10-10 17:55] tfitzmac commented on #16250
@JimInWA - thanks for the feedback. This is a schema validation issue but it does not affect the ability to deploy the template. For some reason, that type has not been added to the [schema](https://github.com/Azure/azure-resource-manager-schemas/blob/master/schemas/2015-01-01/deploymentTemplate.json) yet. I will try to find out why it is not present.

[2018-10-10 17:55] tfitzmac commented on #16250
#please-close

[2018-10-10 18:04] tfitzmac commented on #16531
@wesyao - thanks for notifiying us about this issue.
@rthorn17 - I'll fix it right now.

[2018-10-10 18:05] ivana61 commented on #16473
@MicahMcKittrick-MSFT I will explain the whole setup I have.
I have a python application in a docker container which is stored in Azure Container Registry and I use that one for the compute nodes in Azure Batch. This are the settings in my pool where I set up the container settings (image, registry):
![image](https://user-images.githubusercontent.com/37874763/46755883-80b90480-ccc6-11e8-90b6-4e457

[2018-10-10 18:07] #15519 closed

[2018-10-10 18:14] davidmu1 commented on #15799
Updated the article to clean up steps including adding a step for entering client id and client secret.

#please-close

[2018-10-10 18:15] MisinformedDNA commented on #15079
I just ran into this as well. The only way I can figure out how to enable the profiler, is to go the App Insights blade, click "Performance" under the "Investigate" subsection, click "Profiler" (it's really small in the upper-right), and install the agent on the web app, but I don't see any of the options pictured in step 3 (i.e. Code-level diagnostics, Profiler, Snapshot debugger).

[2018-10-10 18:18] #16287 closed

[2018-10-10 18:19] TravisCragg-MSFT commented on #16561
@JelleKruithof We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-10 18:19] #16561 closed

[2018-10-10 18:27] MohitGargMSFT commented on #16503
@LisandroSu @waynebaby Thanks for providing inputs to enhance the document. I have assigned the issue to the content author to investigate and update as appropriate.

[2018-10-10 18:28] MarileeTurscak-MSFT commented on #16556
@wstaelens I created a pull request with the fix. @CelesteDG can you confirm that this is correct? I will leave the pull request open for now and if I don't hear back in the next few days I will merge it.

[2018-10-10 18:28] MarileeTurscak-MSFT commented on #16556
Closing this issue.

[2018-10-10 18:28] #16556 closed

[2018-10-10 18:30] TravisCragg-MSFT commented on #16549
@AzureStackNerd so you removed the " -BillingModel Development" line. This should not matter, as the "BillingModel" property [defaults to Development.](https://github.com/Azure/AzureStack-Tools/blob/master/Registration/RegisterWithAzure.psm1).

[2018-10-10 18:31] #16531 closed

[2018-10-10 18:34] dksimpson commented on #16594
@TravisCragg-MSFT I'm not longer working on CDN - please assign to @KumudD. Thanks!

[2018-10-10 18:35] SnehaGunda commented on #13626
#please-close

[2018-10-10 18:38] AzureStackNerd commented on #16549
@TravisCragg-MSFT  Are we looking at the same thing? because my first post still has "-PrivilegedEndpoint AzS-ERCS01 -BillingModel Development" in it

To summarize/repeat:
In your documentation on this page I:
1. completely removed line 15 :$UsageReporting = True # Set to False if you using a Capacity Billing Model
2. Changed line 21 to: -UsageReportingEnabled

Then it worked for me.

Cheers

[2018-10-10 18:39] sergaz-msft commented on #16582
Can you try it on a different network?
Thanks!

[2018-10-10 18:39] chazbot7 opened #16595 "Link in Next Steps"
Link in Next Steps is supposed to go to a tutorial for on copying on-prem data to the cloud, but it links to azure blob &gt; SQL Server.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3adb930-4c78-e69a-eeb9-d01e90e8aaa6
* Version Independent ID: f0560a94-e26f-a7ae-aab2-301b0cc972f0
* Content: [Provision the Azure-SSIS

[2018-10-10 18:42] chendley80 opened #16596 "Extension for Web Browser"
I'm trying to use this for a non-gallery application. Specifically it's an internal application. When the person tries to open the application they are told to install the My Apps Secure Sign-in Extension. Is there a way where the external user doesn't need to install the extension?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2018-10-10 18:47] femsulu commented on #16544
@badalk
Thanks for the Comment. We are actively investigating and will get back to you soon.

[2018-10-10 18:48] aljo-microsoft commented on #16440
@olegsych

If your cluster certificate declared by common name, is issued by a trusted root (that is, on windows, the root certificate exists/is installed in the Trusted Root CA store) then we can validate your certificate without issuerthumbprint; by using its issuer properties Trust Root CA (though we still recommend explicitly declaring thumbprint to mitigate issues of certs that are not issued

[2018-10-10 18:48] femsulu commented on #16550
@timoschwarte Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-10-10 19:00] badalk opened #16597 "Service principal permissions"
Is there one place where all the required permissions for the service principal is documented.

I could gather this from multiple documents

Network (this is important if your vnet and subnet resides in a different resource group):
The service principal used by the AKS cluster must have at least Network Contributor permissions on the subnet within your virtual network.
If you wish to define a cust

[2018-10-10 19:04] tfitzmac commented on #16250
Actually, don't close. I am exploring a potential issue. #hold-off

[2018-10-10 19:04] mozts2005 opened #16599 "syntax highlight is missing"
added missing syntax highlight for the code. please see PR #16598

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ddcad97f-02c6-4307-7ed8-85ba7ae23ecc
* Version Independent ID: 51a5e20b-c221-ee05-cb44-a479bfcf1a00
* Content: [Always Encrypted: SQL Database - Azure Key Vault](https://docs.microsoft.com/en-us/azure/sql-da

[2018-10-10 19:05] LisandroSu opened #16600 "Update document"
@ithahn commented on [Wed Oct 10 2018](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/140)

Hi, can you please update this document for Windows Server 2016/2019 and of course it would be great if you mention data disks as well. Only Startup volume is not fully statisfying.

Thanks

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.mic

[2018-10-10 19:05] LisandroSu commented on #16600
Hi team,
Please check the issue reported above.

Thanks!

[2018-10-10 19:07] LisandroSu opened #16601 "Programming languages"
@samvruggink commented on [Wed Oct 10 2018](https://github.com/MicrosoftDocs/azure-docs.nl-nl/issues/90)

Since the recent function apps update there is only support for C#, Javascript and Java (preview). This article still says it supports  C#, F#, Node.js, Java and PHP.

---
#### Documentdetails

⚠ *Dit gedeelte niet bewerken. Het is vereist om problemen te koppelen tussen docs.microsoft.com en

[2018-10-10 19:08] LisandroSu commented on #16601
Hi team,

Please check the issue reported by the user.

Thanks!

[2018-10-10 19:09] aljo-microsoft commented on #10121
@smflorentino

Yes this is valid syntax for ARM; but you shouldn't be using certificates for client identities.

A best practice is to use Active Directory and eliminate the certificate.

Also could you help me understand how you go the impress this was for standalone clusters?

The documentation Tree is:
Create and manage clusters
-Clusters on Azure
--Create(expandable)
--Scale(expandable)
--Upgr

[2018-10-10 19:13] zsmorris commented on #16586
Thanks, @tfitzmac.  I was just about to close this issue as mostly due to my own stupidity!  There were other issues with my template that were causing unexpected behaviors with 'count'.

[2018-10-10 19:16] chetanku commented on #16516
@MicahMcKittrick-MSFT so just to add more information. the way I am doing this creating an internal load balancer manually in the MC_ resource group and I am trying to allocate Private IP address of the LB to the ingress-internal .yaml, like below.  Can it be done this way?
[code]
 After digging into log analytics :

But if I dont create the internal load balancer manually and let helm install cre

[2018-10-10 19:20] simonlegeek opened #16602 "I think RemoteForwardingAgent is listening on port 20005 not 20000"
From my experience and running netstats inside the role VM, the Remote Forwarding agent is listening on port  20005 not 20000 like stated in this documentation. This caused me quite the headache trying to add a layer of security using NSG.

See some output of netstat (see last line)
  TCP    10.0.0.4:20001         0.0.0.0:0              LISTENING
 [CacheService.exe]
  TCP    10.0.0.4:20001

[2018-10-10 19:34] edyoung commented on #16594
no-cache is also ok, but standard-cache will cause issues

[2018-10-10 19:37] sergaz-msft commented on #16383
Hi @adwk67 you need to install the [IoT extension for Azure CLI.](https://github.com/Azure/azure-iot-cli-extension#installation) like it is referenced on Prerequisites:

![image](https://user-images.githubusercontent.com/22173500/46761405-4488a280-cccc-11e8-9631-532934d795a6.png)

Let us know if you are now unblocked? Thanks!

[2018-10-10 19:41] wiazur opened #16604 "In need of Bot v4"
Will this tutorial be updated to include the Bot v4 SDK? The bot code is very different from v3, so integrating with LUIS is a whole other process.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d788e575-9dac-1824-d706-6f25c2b56bb8
* Version Independent ID: 9eb2b452-da24-477f-c843-f0109109fd0b
* Content: [LUIS bot with

[2018-10-10 19:43] sergaz-msft commented on #16384
@FluxReality I may not understood the question well. When you search on [python sdk in github](https://github.com/Azure/azure-iot-sdk-python) , can't you find the information you need?

Thanks!

[2018-10-10 19:47] SnehaGunda commented on #16551
@lukeb1961 thanks for sharing the command, I added it to the doc. And sorry that you were blocked by this.

In future, if you see any doc updates, you can click on the edit button at the right-hand corner and submit a PR. please feel free to do so, we encourage public contributions.

[2018-10-10 19:47] SnehaGunda commented on #16551
We will now close this issue.

#please-close

[2018-10-10 19:52] sergaz-msft commented on #16456
Hello @badaisamoedra can you please share the error messages and the step [on this doc ](https://docs.microsoft.com/en-us/azure/iot-dps/quick-create-simulated-device-x509-python)that is not completing?

Thanks!

[2018-10-10 19:54] MGoedtel commented on #16340
@Karishma-Tiwari-MSFT @tFable - I'm investigating this now with the PM for the agent and will get back to you shortly.  Thanks.

[2018-10-10 19:54] sergaz-msft commented on #16525
Hello @ysripath can you point us which section in the doc should be replaced? Thank you! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-10 20:03] diberry commented on #16604
#in-progress The v4 versions are in tutorials node of TOC. They are not exactly the same due to changes in BF and current state of BF templates.

[2018-10-10 20:05] wiazur commented on #10561
Will there be a bot v4 version of the documentation available soon? It has very different foundational code than the v3.

[2018-10-10 20:05] Adam-Smith-MSFT commented on #16585
@gbbiotwesouth AFAIK , it is not possible to change it from a local host to an actual IP address, Ports though can be changed. I'd recommend providing feedback  on this [link](https://feedback.azure.com/forums/217298-storage). Let me know if this helps.

Thanks,
Adam

[2018-10-10 20:07] diberry commented on #10561
BF v4 needs to finalize a no-code path for QnA Maker before this document will be written.

[2018-10-10 20:07] wiazur commented on #10561
@adetutumary I have a working sample if you wanted to look at it. It uses bot v3 code though, so just make sure you select SDK v3 in Azure when creating your web app bot. It integrates both LUIS and QnA Maker. https://github.com/Azure-Samples/cognitive-services-studybot-csharp/tree/master/Qna-Luis-Bot

[2018-10-10 20:10] femsulu commented on #16573
@erikverwer Thanks for the Comment. We are actively investigating and will get back to you soon.

[2018-10-10 20:13] douglaslMS commented on #16170
@Anded The Data Factory developers insist that this is not accurate - the value of a SecureString is NOT obfuscated in activity.json. For example, if you create a custom activity that includes this property:

[code]
... and you run a test program something like this ...

[code]
... the value of the SecureString will be output as **ActuallyInPlainText**.

[2018-10-10 20:14] douglaslMS commented on #16170
#in-progress

[2018-10-10 20:15] tfitzmac commented on #16250
@JimInWA - this article was showing the wrong schema file. The validation warnings disappear if your use:
"$schema": "https://schema.management.azure.com/schemas/2018-05-01/subscriptionDeploymentTemplate.json#",

[2018-10-10 20:18] femsulu commented on #16576
@andyjballgit Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-10-10 20:19] dlepow commented on #15559
#please-close

[2018-10-10 20:22] mstechbits opened #16606 "Reverse proxy doesnt work on Windows 7"
Per this article (https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reverseproxy) Winows 7 doesnt support Reverse proxy.  Please include it in your documentation to avoid folks spending hours trying to identify the issue (as I found it after 2 days of effort)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-10-10 20:26] MisinformedDNA opened #16607 "Link missing"
There appears to be a link missing here for "Enable Profiler"

It got removed in [this commit](https://github.com/MicrosoftDocs/azure-docs/commit/7a209c658fa7333daa8239e5f7af7a7bc13a22f1#diff-aee7d4143ee8d26d7188222f2cf80bcdR46).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f622e23a-a292-a3a3-3a09-2cd3d8ba3b1d
* Vers

[2018-10-10 20:29] femsulu commented on #16586
@zsmorris Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-10-10 20:30] #16250 closed

[2018-10-10 20:31] Karishma-Tiwari-MSFT commented on #16417
Thanks @jboeshart and @gunnarcms
I will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-10 20:31] #16417 closed

[2018-10-10 20:32] MarileeTurscak-MSFT commented on #16590
@agrabhi Good catch. I've created a pull request to add the tag. CC: @davidmu1

[2018-10-10 20:32] #16590 closed

[2018-10-10 20:38] desaifly opened #16608 "Connection Limitation"
I am using a basic 1VCore and my average resource utilization is 0.8%; however I need more then 50 connections. I need to upgrade to 2VCore and my resource utilization is even lower. It is not really value for money when your resource utilization is less then 1%; however because of one limitation you end up paying almost double the money.

---
#### Document details

⚠ *Do not edit this section. It

[2018-10-10 20:41] MicahMcKittrick-MSFT commented on #16516
@chetanku I ran through the doc and was able to get it to work

[code]

Although it does say External IP it is actually still isolated to your Virtual Network. So External part is a bit confusing. If you were creating an actual public IP address you would have to follow this doc instead

[2018-10-10 20:44] rwike77 commented on #16606
@mstechbits Sorry for your trouble.  Thanks for pointing this out, I'm in the process of updating this article.

[2018-10-10 20:46] MicahMcKittrick-MSFT commented on #16602
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-10 20:47] zeronines commented on #16549
The link that this generates from is:  https://docs.microsoft.com/en-us/azure/azure-stack/asdk/asdk-register#register-azure-stack-with-azure

The end of the powershell script has the “-EnableUsageReporting $....”

The last time when I ran this process, the powershell script wasn’t as elaborate.  It didn’t use the variables to fill in the parameters, and the -EnableUsageReporting line wasn’t in tha

[2018-10-10 20:47] MicahMcKittrick-MSFT commented on #16597
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-10 20:50] YutongTie-MSFT commented on #16578
@ajakupov If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-10 20:51] k-rloss commented on #16023
I agree with @timhiggs . You guys should use the pretty well established convention of:  Major.Minor.Patch

More details here: [https://semver.org](https://semver.org)

Referring to going from v5.6 to v5.7 as being a "major version upgrade" will likely cause confusion.

[2018-10-10 20:56] afield1235 commented on #16439
- AADSTS75005: the request is not a valid SAML 2.0 Protocol Message.
- "https://login.microsoftonline.com/common/wsfederation?wa=wsignout1.0" **works**
- This is inconsistent, some apps use "https://login.microsoftonline.com/common/wsfederation?wa=wsignout1.0" while others use the sign-on url?

[2018-10-10 20:59] dixitsuneel opened #16609 "context.log.metric is always undefined"
In the dev environment, when I look at the context.log.metric it comes out to be undefined.

Can you guys please correct the documentation and provide the correct way to track the metric.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13672b67-22ea-3dda-8b6b-3332c24e6030
* Version Independent ID: fdc60aeb-9971-1d9f-a6b

[2018-10-10 20:59] MicahMcKittrick-MSFT commented on #16536
@msLinuxNinja  I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-10-10 21:01] hoangpx opened #16610 "No service identity when creating Azure Data Factory using ARM template"
There's 3 ways to create ADF together with service identity. But not ARM.
https://docs.microsoft.com/en-us/azure/data-factory/data-factory-service-identity#generate-service-identity-using-rest-api

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9075f4a4-f8ca-9143-8998-41e2be0b39b8
* Version Independent ID: 60c67249-9bd5

[2018-10-10 21:04] YutongTie-MSFT commented on #16557
@serbrech
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-10 21:05] YutongTie-MSFT commented on #16580
@mattquinn4 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-10 21:05] Mike-Ubezzi-MSFT commented on #16599
@mozts2005 Thank you very much for making a community contribution to MicrosoftDocs. I have assigned this to the content author to evaluate and update as appropriate. Thank you, Mike

[2018-10-10 21:07] Mike-Ubezzi-MSFT commented on #16599
#16598  Customer has provided a community contribution; PR will need to be approved.

[2018-10-10 21:11] MicahMcKittrick-MSFT commented on #16440
Thanks for the explination @aljo-microsoft!

@olegsych @smflorentino let us know if that helps. Also, since I see you are both FTEs you can feel free to ping us offline if you have follow up questions.

[2018-10-10 21:11] #16440 closed

[2018-10-10 21:11] rwike77 commented on #16606
@mstechbits  My updates just merged and should publish live in a few hours.  Thanks again for pointing this out.  #please-close

[2018-10-10 21:11] chetanku commented on #16516
@MicahMcKittrick-MSFT So I can't assign a pre-existing Load Balancer IP to the controller? I will have to create the Load Balancer through `helm install stable/nginx-ingress --namespace kube-system -f internal-ingress.yaml`

[2018-10-10 21:12] Mike-Ubezzi-MSFT commented on #16608
@desaifly Thank you very much for your interest in Azure products and services. Can you please up vote and comment on the following entry in the Azure Database for MySQL regarding the current pricing tiers. This information is very helpful in letting the product group know about product consumption. Regards, Mike.x

[2018-10-10 21:15] GuuB opened #16613 "Custom Endpoint Creation"
Hello,

Following the tutorial, I am trying to create a Messaging Route called "GBQueueRoute".
But I am stuck trying to link the service bus endpoint to the route on the _Add a route_ form page.
I have successfully created the Service Queue Namespace ("GBServiceQueueNamespace") and a queue ("gbqueue").
In the _Add a service bus endpoint_ form page these are listed. I type my Endpoint name ("Critic

[2018-10-10 21:27] MohitGargMSFT commented on #16567
@ri-we Please note that currently the setting applies to the client apps mentioned [here](https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/technical-reference#approved-client-app-requirement). Look forward to see updates on adding more client apps in near future.

[2018-10-10 21:28] TravisCragg-MSFT commented on #16386
@nnamedieh you can find [an example scenario Here](https://docs.microsoft.com/en-us/azure/architecture/reference-architectures/hybrid-networking/hub-spoke). As for [UDRs ](https://docs.microsoft.com/en-us/azure/virtual-network/virtual-networks-udr-overview)or [BGP](https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-bgp-overview), the choice is yours, and each has advantages and disadva

[2018-10-10 21:28] #16386 closed

[2018-10-10 21:28] jason-j-MSFT commented on #16538
@ravitejapinnaka I do not see references to any pause or resume functionality in ADFv2.

Take a look at the differences between v1 and v2 here:
https://docs.microsoft.com/en-us/azure/data-factory/compare-versions#feature-comparison

Focus on the "Pipelines" v2 section:
"Pipelines are groups of activities that are performed on data. However, the scheduling of activities in the pipeline has been sep

[2018-10-10 21:28] #16538 closed

[2018-10-10 21:29] Karishma-Tiwari-MSFT commented on #12666
@rcooley77 Which Powershell command is not supported. Can you please clarify?

[2018-10-10 21:35] mrbullwinkle commented on #16607
Thank you, fixing this now.

[2018-10-10 21:35] Karishma-Tiwari-MSFT commented on #16523
@tapialuism You are right. This is what I see for Boot diagnostics, following the instructions in the doc:
 ![image](https://user-images.githubusercontent.com/20851144/46767265-50a73c80-cc99-11e8-8ea6-523de331e5f4.png)

Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-10-10 21:36] jpetitte opened #16614 "Using custom audio input other than default microphone."
Hey there!

I've been struggling for an afternoon to allow the user to select the audio input to use with AudioConfig (https://docs.microsoft.com/en-us/javascript/api/microsoft-cognitiveservices-speech-sdk/audioconfig?view=azure-node-latest), but I just can't figure it out. I read through the sdk code as well as the docs to track down an idea of what's expected/how to do it (I assume AudioConfig.f

[2018-10-10 21:37] KumudD commented on #16594
@TravisCragg-MSFT Please assign to @mdgattuso . Thanks!

[2018-10-10 21:37] shahanur opened #16615 "Please elaborate this section. Kind of conflicting statement."
When Service Endpoints is enabled on a subnet with an Azure SQL instance, all Azure SQL instances connected to from that subnet must have Service Endpoints enabled. if you want to access multiple Azure SQL instances from the same subnet, you can't enable Service Endpoints on one Azure SQL instance and not on another.

[2018-10-10 21:37] MohitGargMSFT commented on #16588
@u02cm62 Got your point. I will assign this issue to content author to review below the suggested change in step 6 to add clarity.

Replace 'As a Administrator,...' with 'As a Tenant Global Administrator,....'

[2018-10-10 21:38] u02cm62 commented on #16588
Sure, that’s fine.

Mike Kostuch
CDS - BI Manager
Ecolab – Commercial Digitial Solutions
651 250 2737 (Desk)
612 978 0065 (Cell)

From: Mohit Garg <notifications@github.com>
Sent: Wednesday, October 10, 2018 4:38 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Kostuch, Mike <Mike.Kostuch@ecolab.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] S

[2018-10-10 21:39] TravisCragg-MSFT commented on #12223
@danielurbina the network bandwidth for N series VMs should be outlined [Here](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sizes-gpu), but it is not listed for the GPU sizes . Can you make a new issue on that page requesting that information?

[2018-10-10 21:39] tfitzmac commented on #13896
@pbolduc - I was not able to find an easy way to get the endpoint outside of the portal. The only guidance I could find is at [https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-event-grid#azure-cli](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-event-grid#azure-cli). Perhaps you could write a script that creates the endpoint from the give format.

[2018-10-10 21:40] timhiggs commented on #16023
Apologies - seems I missed a couple of update messages related to this.  Yes, it was mostly just to avoid this confusion - as an upgrade from 5.6 to 5.7 is a _minor_ MySQL version upgrade, regardless of it being an upgrade from one GA version to another.

https://dev.mysql.com/doc/refman/5.7/en/which-version.html

[2018-10-10 21:40] shahanur opened #16616 "How to get the address until I have provisioned Ase?"
Get the addresses that will be used for all outbound traffic from your App Service Environment to the internet. If you're routing the traffic on premises, these addresses are your NATs or gateway IPs. If you want to route the App Service Environment outbound traffic through an NVA, the egress address is the public IP of the NVA.

[2018-10-10 21:41] MicahMcKittrick-MSFT commented on #16235
We have Managed Service Identity for Virtual Machines in preview in the portal. Try the following:

1) Go to the Virtual Machine in the Portal
2) Select Identity (Preview)
![image](https://user-images.githubusercontent.com/32313503/46767162-00c87580-cc99-11e8-87a2-70b0c81395f9.png)
3) Enable System Assigned
![image](https://user-images.githubusercontent.com/32313503/46767209-248bbb80-cc99-11e8-925

[2018-10-10 21:42] SaurabhSharma-MSFT commented on #16543
@daviburg Can you please check if your PEM file has key as well as x509 certificates.   If you want to import a PEM file to KeyVault, then the PEM file must contain the key as well as x509 certificates while import.

[2018-10-10 21:47] TravisCragg-MSFT commented on #16530
@PPreamble you should be able to add a SLB using IPv6 to a NVA, but only to 1 of the NICs.

[2018-10-10 21:47] Karishma-Tiwari-MSFT commented on #16465
@ratocego You are right. The doc says - "Management certificates allow you to authenticate with the **classic deployment model**" which implies it is not meant for ARM deployments.
It is also true that you must be a Co-administrator on the subscription to perform any operations under Management Certificates.
Can you please elaborate on the doc change that you are suggesting here?

[2018-10-10 21:47] JimInWA commented on #16250
Thanks for the update, that fixed my issue.

**Follow-up question** (_let me know if I need to create a separate issue for it_): Is there public Docs page that has all of the latest schemas published at https://schema.management.azure.com/schemas/?

I realize that I can I go to https://github.com/Azure/azure-resource-manager-schemas/tree/master/schemas and drill through all of the folders, but it

[2018-10-10 21:48] MicahMcKittrick-MSFT commented on #16516
Correct. You need to actually setup the LB and assign the IP during creation. If you already have a LB created then it already has an IP address associated. You can still use that load balancer you would just want to associate the service with that LB and the correct IP.

You can also see by following the doc that the external IP is not actually public as I mentioned:
![image](https://user-images.

[2018-10-10 21:49] Mike-Ubezzi-MSFT commented on #16162
@yuharucan We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-10 21:49] #16162 closed

[2018-10-10 21:52] jeevansd commented on #16439
@afield1235  Azure AD support SAML single sign out and also support WS-Fed Sign out. Some applications does support SAML single sign out where the app is sending the SAML logout request to Azure AD. After processing the request Azure AD can post the SAML logout Response back to the application.
While some of the SaaS applications does not support this functionality but customers want to achieve th

[2018-10-10 21:53] BryanLa commented on #10560
All - Please accept our apologies for the long delay on this. I've gone through all of the Key Vault articles, including the one identified in this issue, and resolved the "all" permission string issue. These  changes will publish within the next 24 hours. As such, this issue will be closed now, but please let us know if you have any additional questions or concerns. Thanks again for reporting thi

[2018-10-10 21:54] jeevansd commented on #16439
@chetansriv Can we please update the app and this tutorial to point out that customer should be using WS-Fed sign out URL for this app?

[2018-10-10 21:54] BryanLa commented on #12759
All - Please accept our apologies for the long delay on this. I've gone through all of the Key Vault articles, including the one identified in this issue, and resolved the "all" permission string issue. These  changes will publish within the next 24 hours. As such, this issue will be closed now, but please let us know if you have any additional questions or concerns. Thanks again for reporting thi

[2018-10-10 21:55] MicahMcKittrick-MSFT commented on #16473
@ivana61 thanks for the extra details. Have you checked the following:

https://docs.microsoft.com/en-us/azure/batch/batch-docker-container-workloads#container-settings-for-the-task

It discusses setting up the container settings in Batch which might help fill in any gaps

[2018-10-10 21:56] BryanLa commented on #16329
All -  I've gone through all of the Key Vault articles, including the one identified in this issue, and resolved the "all" permission string issue. These changes will publish within the next 24 hours.

As @prashanthyv indicated, there were additional updates which removed the issues related to the Set-AzureKeyVaultManagedStorageSasDefinition "-Service" parameter.

As such, this issue will be close

[2018-10-10 21:57] MicahMcKittrick-MSFT commented on #16610
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-10 21:58] SaurabhSharma-MSFT commented on #16560
@ThibautVDP Can you please check the below links if this helps to resolve your issue -
https://askubuntu.com/questions/919748/no-space-left-on-device-even-though-there-is
https://www.maketecheasier.com/fix-linux-no-space-left-on-device-error/
Also, you cannot apply Azure Disk Encryption on your custom Linux image. Only the gallery Linux images for the supported distributions called out previously

[2018-10-10 21:58] mayurpuli opened #16618 "Are there any logs available to check the list of ips invoking my app where the access is denied?"
Hello, which logs can help me access the list of IP addresses which are bombarding my app for whom the access is denied? I have tried enabling Diagnostic Logs as well as Application Insights on my Web App but neither of them could help me detect the restricted IPs accessing my App.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2018-10-10 21:59] tfitzmac commented on #16250
There are just two template schemas you need to know about - [2015-01-01 deployment template](https://github.com/Azure/azure-resource-manager-schemas/blob/master/schemas/2015-01-01/deploymentTemplate.json) and [2018-05-01 subscription deployment template](https://github.com/Azure/azure-resource-manager-schemas/blob/master/schemas/2018-05-01/subscriptionDeploymentTemplate.json).

If you look in tho

[2018-10-10 22:01] Mike-Ubezzi-MSFT commented on #16255
@v-maroge This section: [Azure SQL Database Threat Detection alerts](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-threat-detection#azure-sql-database-threat-detection-alerts) covers the following Advanced Threat Detection activities that are monitored by the service.

![screenshot 410](https://user-images.githubusercontent.com/37126106/46768391-d8db1100-cc9c-11e8-9a22-5db1168f1

[2018-10-10 22:02] MicahMcKittrick-MSFT commented on #16481
@gs9824 have you looked at using a persistent disk with AKS?

https://docs.microsoft.com/en-us/azure/aks/azure-disks-dynamic-pv

[2018-10-10 22:03] Alberto-Vega-MSFT commented on #16432
@ravick4u It seems like your question has been answer in StackOverflow https://stackoverflow.com/questions/52709643/set-azurermdatafactoryv2integrationruntime-method-not-found

[2018-10-10 22:04] MicahMcKittrick-MSFT commented on #16597
@badalk I am not aware of a doc that goes over it all.

@iainfoulds is this something we could add to the backlong of doc ideas?

[2018-10-10 22:06] #15559 closed

[2018-10-10 22:06] #15799 closed

[2018-10-10 22:07] #16551 closed

[2018-10-10 22:07] #16586 closed

[2018-10-10 22:07] #16606 closed

[2018-10-10 22:11] Mike-Ubezzi-MSFT commented on #16303
@dhanvi I have forward this to the content owner to evaluate and update as appropriate.

[2018-10-10 22:12] Mike-Ubezzi-MSFT commented on #16339
@martinsmith123456 I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-10 22:13] Karishma-Tiwari-MSFT commented on #16487
@WilldotNET Can you please what value did you use for sourceUri parameter? SourceURI has to be the URI of the source of the snapshot. For the example in the doc, source for the snapshot is Managed disk.

[2018-10-10 22:14] JimInWA commented on #16250
The interesting thing is that while "https://schema.management.azure.com/schemas/2018-05-01/subscriptionDeploymentTemplate.json#" worked for the scenario described in my issue report, it caused other Messages in the Error List in VS2017 in my actual ARM templates.

The really interesting thing is that on a lark I tried "https://schema.management.azure.com/schemas/2018-05-01/deploymentTemplate.json

[2018-10-10 22:19] tfitzmac commented on #16250
Yes, "2018-05-01 subscription deployment template" is just for subscription level resources. That would be resource groups, roles, and policies. "2015-01-01" for resource group level resources which would be most other resources. Policies can work in either schema.

[2018-10-10 22:20] SaurabhSharma-MSFT commented on #16587
@danmyhre Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-10-10 22:28] iainfoulds commented on #16597
We don't currently have a single doc that covers this, but I can see value in expanding https://docs.microsoft.com/en-us/azure/aks/kubernetes-service-principal to detail them.

I've created a backlog work item for this and will sync with the engineering team on the various needs. I don't have an ETA on when this doc update is likely to publish. For now, #please-close

[2018-10-10 22:28] MarileeTurscak-MSFT commented on #16505
@davidmu1 do you have insights for this?

[2018-10-10 22:29] afield1235 commented on #16439
@jeevansd Understood, thanks!

[2018-10-10 22:29] iainfoulds commented on #16470
As I can't see an area to improve here with the login command already right before the push, #please-close

[2018-10-10 22:30] MicahMcKittrick-MSFT commented on #16597
Thanks @iainfoulds! That's what I figured. I agree it would be a good thing to have :)

[2018-10-10 22:30] #16597 closed

[2018-10-10 22:31] #16470 closed

[2018-10-10 22:33] Mike-Ubezzi-MSFT commented on #16374
@dcbrown16 I have assigned this to the content owner (@kevinvngo) to make an update. Thank you!

[2018-10-10 22:34] VanMSFT commented on #16599
Thanks @mozts2005! I signed off on the PR, and it should be updated. We really appreciate your contribution on this!
#please-close

[2018-10-10 22:42] JonathanPalmerGD opened #16620 "Duplicate text of "Refer to Cloud-to-device communication guidance""
The text: "Refer to Cloud-to-device communication guidance for guidance on using desired properties, direct methods, or cloud-to-device messages." occurs twice in quick succession.

It is also slightly redundant. 'Refer to communication guidance for guidance'

'Refer to Cloud-to-device communication documentation for guidance on' could be a better phrasing.

---
#### Document Details

⚠ *Do not ed

[2018-10-10 22:46] mike-urnun-msft commented on #16601
Hi @samvruggink & @LisandroSu Thank you for reporting this issue! We will investigate and make any necessary changes.

[2018-10-10 22:49] mike-urnun-msft commented on #16609
Hi @dixitsuneel Thank you for reporting this issue! We will investigate and make any necessary changes.

[2018-10-10 22:53] Adam-Smith-MSFT commented on #16589
@tplas Thank you for the valuable feedback,we are investigating the issue.

[2018-10-10 23:08] PPreamble commented on #16530
Yea, I tried that using power shell while standing up a brand new instance
of a 3-nic NVA, adding and ipv4 config to all three and only an ipv6 to the
second non-primary NIC. The NICs created fine but when deploying the VM via
power shell/ ARm template the error pretty much told me you can’t have
multiple NICs and the deployment failed. I was hoping to do 6To4 via an F5
device and understand it wo

[2018-10-10 23:48] ajlam commented on #16562
@atullalwani, the data-in replication feature is only available on General Purpose and Memory Optimized servers. What type of pricing tier is your server configured with?

[2018-10-11 00:00] houssemFat-DDF commented on #16184
Hello,
I try to run this application in a windows service plan, i follow all the instructions and i'm able to create the app and push the code. But when i access to the application url <my_app>.azurewebsites.net, it displays an azure page with the content below.

`This web site is running Python 2.7.8
There's nothing here yet, but Microsoft Azure makes it simple to publish content with GIT, FTP or

[2018-10-11 00:03] Alberto-Vega-MSFT commented on #16459
Hi @RoopAnymous sorry for the delayed response. I found some links that should be useful for you. However, Repo issues should be feedback like bugs or improvements to the doc they are attached to.

This question it's a good one for the forums. Would you please open a question in MSDN or StackOverflow?  Please make sure to share more details about what you are trying to do, tools you are using, err

[2018-10-11 00:05] CelesteDG commented on #16584
Thank you very much, @RobertoPrevato - This typo keeps coming back. :( Just fixed it in another PR that will hopefully get merged very soon.

[2018-10-11 00:11] kondareddy1984 opened #16622 "Accessing Azure SQL DB from spark with AAD - Integrated Auth."
is it possible to access Azure SQL DB from spark with AAD - Integrated Auth.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a43d656-dbdf-ae04-f88d-488aa1dc78c5
* Version Independent ID: 155c9eb2-92df-1619-4284-17c46a419f1f
* Content: [Spark Connector with Azure SQL Database and SQL Server](https://docs.microsoft.com/e

[2018-10-11 00:29] MicahMcKittrick-MSFT commented on #16616
@shahanur please provide us with the document you are referring to so we can better assist.

[2018-10-11 00:31] MicahMcKittrick-MSFT commented on #16615
@shahanur please provide us with a link to the documentation you are referring to so we can better assist.

[2018-10-11 00:33] dbczumar opened #16623 "No description of required contents for the `docker_file` parameter in azureml.core.image.container,ContainerImageConfig"
I'm attempting to build a Docker container for model deployment using the AzureML SDK (public preview).

The [documentation for the `azureml.core.image.ContainerImageConfiguration` object](https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.core.image.container.containerimageconfig?view=azure-ml-py) indicates that the path to a dockerfile with additional build instructions can be pass

[2018-10-11 00:35] SaurabhSharma-MSFT commented on #16479
@MarkDixonTech As per the latest updates b2clogin url is the correct one.  Please check the documentation [Set redirect urls to b2clogin.com for Azure Active Directory B2C](https://docs.microsoft.com/en-us/azure/active-directory-b2c/b2clogin).  There may be some other issue with the code it seems.

[2018-10-11 00:40] v-maroge commented on #16255
@Mike-Ubezzi-MSFT  Can you tell me specifically which events in the document you shared cover "Unsafe Actions"? I can tell that events that correlate with "SQL injection" and "Anomalous client login"  are rather obviouse, but not sure which one does with "Unsafe action" yet. (Maybe Brute force SQL credentials?)

[2018-10-11 01:08] ravick4u commented on #16432
@Alberto-Vega-MSFT its been answered on StackOverflow but it did not fix the issue.

[2018-10-11 01:14] ajlam commented on #15708
@bingosummer, the doc updates have been merged and should be published soon.

Correction on a previous comment, East US 2 does support Gen 4.

[2018-10-11 01:15] #15708 closed

[2018-10-11 01:48] #16023 closed

[2018-10-11 01:49] MicahMcKittrick-MSFT commented on #16623
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-11 01:55] #10560 closed

[2018-10-11 01:55] #12172 closed

[2018-10-11 01:55] #12759 closed

[2018-10-11 01:55] #16329 closed

[2018-10-11 01:56] #16599 closed

[2018-10-11 02:39] Qq20180503 opened #16630 "Could not add a wildcard subdomain as TXT record maps from awverify.<subdomain> to <appname>.azurewebsites.net."
In the doc, https://docs.microsoft.com/en-us/azure/app-service/app-service-custom-domain-name-migrate#create-domain-verification-record  we can add a TXT record to verify the wildcard domain *.example.com to avoid downtime in DNS resolution during the migration by binding the active DNS name to your App Service app preemptively.

[code]
But when we add the TXT host awverify.* in Azure-DNS record,

[2018-10-11 02:44] MicahMcKittrick-MSFT commented on #16614
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-11 02:45] MicahMcKittrick-MSFT commented on #16622
Thanks for the question! We are investigating and will update you shortly.

[2018-10-11 02:45] MicahMcKittrick-MSFT commented on #16607
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-11 02:46] MicahMcKittrick-MSFT commented on #16613
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-11 02:46] MicahMcKittrick-MSFT commented on #16620
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-11 02:47] MicahMcKittrick-MSFT commented on #16596
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-11 02:47] MicahMcKittrick-MSFT commented on #16600
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-11 02:48] MicahMcKittrick-MSFT commented on #16618
Thanks for the question! We are investigating and will update you shortly.

[2018-10-11 03:05] dcbrown16 opened #16631 "Worth pointing out the service tag"
In the Probe source IP address section, I feel like it would be useful to point out that 168.63.129.16 is covered by the AzureLoadBalancer service tag which is enabled by default for NSGs. It's not really clear on either this page or the NSG overview that this is the case, which might lead people to set unnecessary rules.
https://docs.microsoft.com/en-us/azure/virtual-network/security-overview

--

[2018-10-11 03:28] vamsitp commented on #15854
Sorry, for some reason, was not getting email alerts. Shall check and confirm.

[2018-10-11 03:33] badaisamoedra commented on #16456
@sergaz-msft when i try installing this package with "pip install" i get an error message like this "No matching distribution found for azure-iot-provisioning-device-client".

thanks!

[2018-10-11 03:36] BryanTrach-MSFT commented on #16618
@mayurpuli have you checked the web server logs to see if they are appearing there?

[2018-10-11 03:37] kuhussai commented on #16589
Operation = API call. The footnotes on the pricing page define which APIs are considered write operations and which APIs are considered read transactions. For example, 10k PutBlob transactions will be billed as 10k write transactions.

[2018-10-11 04:41] MicahMcKittrick-MSFT commented on #16630
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-11 04:41] #16367 closed

[2018-10-11 04:41] MicahMcKittrick-MSFT commented on #16631
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-11 04:42] #13626 closed

[2018-10-11 04:42] #16173 closed

[2018-10-11 04:43] atullalwani commented on #16562
@ajlam
Thanks for the update. We have currently configured it on the Basic Pricing Tier. So we will switch to General Purpose or Memory Optimized pricing tier to enable data-in replication. Thank you!

[2018-10-11 04:47] PramodValavala-MSFT commented on #16367
Hi @cherchyk Thanks for contributing to MS Docs! We have updated the code sample in the docs accordingly.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-11 05:01] sudheesh001 opened #16634 "Transaction benchmarking needs more information for ETH PoA"
Thank you for the great writeup and listing down almost everything in the documentation. It's been very helpful.

The current ETH POA documentation lists the azure machine types required for low network latency and a high throughput (F16s). The documentation also mentions that the current throughput rate is 400 tps with a network in multiple regions. It'd be really nice to list out the conditions

[2018-10-11 05:01] brilang commented on #14535
I am getting this same error.
2018-10-11 04:57:20 ERROR: File:iothub_client_ll.c Func:IoTHubClient_LL_CreateFromConnectionString Line:836, iotHubName is not found

I am following these instructions:
https://microsoft.github.io/azure-iot-developer-kit/docs/get-started/

I think I've done everything correctly up to the Test the project section.

[2018-10-11 05:07] RichardScheel commented on #15377
I found a little more information about the scenarios. Here is what one of the devs gave me:

a) VM reboot can be both internal/external, even triggered by customer within VM like restart.
b) Portal Reboot : Hardly anyone uses it until VM is stuck somewhere.
c) Portal Reimage: this is basically to get fresh copy of OS latched to VM.
d) In-Place Upgrade: this I am also not sure of what does this me

[2018-10-11 05:10] ajlam commented on #16562
Sounds good. Thanks, @atullalwani. Please let us know if you have any additional questions.

#please-close

[2018-10-11 05:34] dcbrown16 commented on #15377
@RichardScheel thanks so much for following up. I was able to resolve the case in question with the information that, ultimately, one should not rely on having files persist on the local drives in a Cloud Service.
At this point my interest would be in clarifying the documentation so that customers can resolve their issues before coming to support. If nobody knows what "In-Place Upgrade" means, tha

[2018-10-11 05:38] leonid-r-ich commented on #14298
Hello,
Any updates on this? I have similar problems on Ubuntu 16.04.
Thank you

[2018-10-11 05:38] kariyukisusumu opened #16635 "Start-AzsReadinessChecker failed because Import-Module "Microsoft.AzureStack.ReadinessChecker" failed."
- Repro:

Execute script with the following command:
Start-AzsReadinessChecker -RegistrationAccount $registrationCredential -AzureEnvironment AzureCloud -RegistrationSubscriptionID $subscriptionID

- Expected result: Execution successed

- Actual result: got the following error
Start-AzsReadinessChecker : The 'Start-AzsReadinessChecker' command was found in the module 'Microsoft.AzureStack.Readine

[2018-10-11 06:10] ThibautVDP commented on #16560
Dear Saurahb,
I have already looked at the pages that you shown, from another thread. It was not applicable to my problem however. I have since yesterday found a solution. In addition, the Linux V I encrypted was originally an azure image, but with some extra packages installed, and a lot of data gathered already.
The problem and solution are as follows:
- The scripts running int he background of

[2018-10-11 06:11] smflorentino commented on #10121
The [link](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-windows-cluster-x509-security) Micah provided in this GitHub issue has the title `Secure a standalone cluster on Windows by using X.509 certificates`. That's why I got that impression.

The page I *opened* this issue on does *not* have an example of SF client certs using a common name, hence, the reason this issue exis

[2018-10-11 06:23] PIaH opened #16636 "Note about restarting VS after credentials are refreshed"
Visual Studio has to be restarted to be aware of the changed credentials in docker. Just refreshing the credentials did not do it in my case.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 949255e9-72ca-ef48-c442-4a34a44389d7
* Version Independent ID: b5768ca2-80f6-7f3c-ef0b-691c1060ad46
* Content: [Troubleshooting Doc

[2018-10-11 06:29] DanyWind commented on #16358
@fmegen Thank you for your help ! Could you also show me please how I have to modify the code to get intermediate results as we used to have with Bing Speech ?

[2018-10-11 06:34] PramodValavala-MSFT commented on #16394
Hi @PeterWallenius. The OpenAPI feature is only available for v1 functions as of today.

You can refer to this [doc](https://docs.microsoft.com/en-us/azure/azure-functions/functions-versions#creating-1x-apps) on how to change the runtime version of a function app to v1.

Please be aware that this change will only be possible in an empty function app and would require you to manually migrate any ex

[2018-10-11 06:57] MohitGargMSFT commented on #16493
@amel00 While you're registering your device on your organization's network, the following actions will happen:

- Windows registers your device on your organization's network.
- Optionally, based on your organization's choices, you might be asked to set up two-step verification through either Multi-Factor Authentication or security info.
- Optionally, based on your organization's choices, you mig

[2018-10-11 07:17] fmegen commented on #11024
@sfamini: The callbacks to the startContinousRecognitionAsync only report the success/failure of the start operation itself and do not report any results.
you need to register explicitly for the events in this scenario.

kind regards,
 friedel

[2018-10-11 07:18] jjgriff93 commented on #15453
@rykimaruh - yeah same position I was in, v4 is definitely worth the leap but is a very different framework in terms of its structure. Depending on what you've put together currently it may be worth using the Enterprise Starter kit in the docs to quickly get LUIS and QnAMaker set up

[2018-10-11 07:36] RobertoPrevato commented on #16584
Hi @CelesteDG and @MarileeTurscak-MSFT, no problem, it's such a small thing! :) Thanks for caring about these details and reports in GitHub.

[2018-10-11 07:38] carlfm01 opened #16638 "Support for Nvidia GPU Images"
Can I deploy https://azuremarketplace.microsoft.com/en-us/marketplace/apps/nvidia.ngc_azure_17_11?tab=PlansAndPrice using scale sets using low priority?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c353c07-72b3-9a2b-2e4b-a79d6b60f07a
* Version Independent ID: 90b738c8-fe64-1657-d834-432c91d93a5b
* Content: [Azure vi

[2018-10-11 07:40] carlfm01 commented on #16638
Getting plan error using the portal, also for https://azuremarketplace.microsoft.com/en-gb/marketplace/apps/microsoft-ads.linux-data-science-vm-ubuntu?tab=PlansAndPrice
![captura de pantalla 660](https://user-images.githubusercontent.com/32177100/46787988-58e19500-ccf6-11e8-8ac9-56bf0798ee07.png)

[2018-10-11 07:44] sylvaingirardbe opened #16639 "The link to an example with setting environment variables is incorrect"
'For an example of setting the environment variables for an Azure Cloud Service, see Node.js Cloud Service with Storage.' The link to the page results in a page that says nothing about setting up the environment variables.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87507e10-00e2-250a-2074-bb26bbea5a03
* Version Ind

[2018-10-11 07:45] mkufa opened #16640 "Tags"
ARM, MSI

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7bb0b51-c612-9e2c-d78b-771ab0f5ab4f
* Version Independent ID: 9feedf71-fd37-45c5-97b2-e65d76708784
* Content: [Use Managed Identities to Authenticate Azure Stream Analytics Jobs to Azure Data Lake Storage Gen1 Output (Preview)](https://docs.microsoft.com/en-us/az

[2018-10-11 07:46] ehandani commented on #11095
@diberry I recreated the resource and made sure I choose v3 version, now I get a proper response on testing chat. Thanks.

[2018-10-11 07:56] fmegen commented on #16358
@DanyWind sure, here is an example (It assumes you recreated a recgonizer but did not yet call any of the recognize functions on it).
                // The event recognizing signals that an intermediate recognition result is received.
                // You will receive one or more recognizing events as a speech phrase is recognized, with each containing
                // more recognized speech.

[2018-10-11 08:00] Azhagar44 commented on #14646
Hi @diberry
I need to create a bot , when the user say hi, bot should prompt with four application KB names, once the user select the KB name, bot should reply the answers from that KB.

Please assist. how to proceed this ?
note:- No parallel execution.

[2018-10-11 08:01] HeineLysemose opened #16642 "Don't see the option to "unlock accounts without resetting their password""
Testing out, https://techcommunity.microsoft.com/t5/Azure-Active-Directory-Identity/Reset-passwords-from-all-the-versions-of-Windows-important-to/ba-p/265978, which work as expected when trying to reset password but when I want to just unlock the account, https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-sspr-howitworks#allow-users-to-unlock-accounts-without-resetting-

[2018-10-11 08:01] soso-maitha commented on #9722
still text not changed. it would be better to fix text to avoid confusing for learners

[2018-10-11 08:10] Azhagar44 commented on #10561
Hi @diberry
I have four application KB's. I need to create a bot , when the user say hi, bot should prompt with four application KB names, once the user select the KB name, bot should reply the answers for next questions from that KB.

Please assist. how to proceed this ?
Note:- No parallel execution.

[2018-10-11 08:38] christianarg opened #16643 "Docs states "at no additional charge" which is I believe incorrect in some cases"
From the pricing FAQ (https://azure.microsoft.com/en-us/pricing/details/sql-database/single/):

Backup storage is associated with automated backups of your instance. Increasing your backup retention period increases the backup storage that’s consumed by your instance. There’s no additional charge for backup storage for up to 100 percent of your total provisioned server storage. Additional consumpt

[2018-10-11 08:48] dkchittimilla opened #16644 "How to pass default value to fields like email in sign up policy through c# code"
Hi,

We are using Azure B2C built in policies for sign in and sign up. Below is the code what we are using for sign up.

var authenticationProperties = new AuthenticationProperties() { RedirectUri = "/xxxx" };
HttpContext.GetOwinContext().Authentication.Challenge(authenticationProperties, Startup.SignUpPolicyId);.

This is working fine, but we got a requirement where we need to autopopulate email

[2018-10-11 08:48] MichalBecko opened #16645 "http.client.RemoteDisconnected: Error During attaching an instance of a container"
Hi,

I have a problem with disconnecting during attaching the instance of a container.

I have gone through all steps successfully from this tutorial: https://docs.microsoft.com/en-us/azure/container-registry/container-registry-tutorial-quick-task

And almost at the end, you need to attach container instance. During this process image is pulled successfully and MySQL server is starting ...

After

[2018-10-11 08:57] fmegen commented on #16614
Hi @jpetitte,

please use

      static function fromDefaultMicrophoneInput()

to create an audio configuration that uses the default microphone of the users browser.
This requires the user to approve use of the microphone the first time this function is called (in case you serve this over https) or each time the function is called (in case you server over http or from a local file).

If the user

[2018-10-11 08:59] poojasaxena opened #16646 "Can not reproduce the Hello.zip result"
Hello, I tried reproducing the idea of using the zip file to 'execute Python Script', and it does not work the same way as illustrateapd here.
Also, for iris dataset, I could see Graphics, when I write the python code on right-side Python-code-panel and execute the 'python-script', and see no graphics when I try using a zip file. I could provide info for the experiments that I tried for both of th

[2018-10-11 09:09] RajSelv commented on #10326
I have followed the doc https://docs.microsoft.com/en-us/azure/aks/aad-integration,
could able to perform the checks as in doc.

Issue is while to try to interact with my cluster from Ubuntu client it prompts to logon to https://microsoft.com/devicelogin using code and succeeds in web page, but in CLI am seeing the Oauth failure - not sure what is wrong.

Sharing the error info as below, any help

[2018-10-11 09:16] PtwHub opened #16647 "Thank you for listening. This is a must-have feature in many real-world use cases."
Thanks for listening. We are testing this already (although we are usually on Europe-West). This and the IT-center-proxy-handling features are crucial for real word use of this innovation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f8e1616-f3c9-ba1c-2ebd-9d7f74d79005
* Version Independent ID: 3158bd35-4d7d-63ec-1d

[2018-10-11 09:49] sahilpnckr123 opened #16648 "HUB-HUB connectivity"
# Is Hub-Hub Connectivity possible in vWAN??

[2018-10-11 09:50] DrEight commented on #16299
Thank you for the support!

On Wed, Oct 10, 2018 at 6:15 PM Sravan Rengarajan <notifications@github.com>
wrote:

[2018-10-11 10:09] isaacboucinha commented on #16563
Hey everyone, I managed to get a demonstration working for firebase with
only minor changes to the Notifications class. These are on the appended
file, in case you want to use them. I'd also like to point out that your
example for broadcast notifications uses a deprecated class,
FirebaseInstanceIdService, in the MyInstanceIDService class.
Anyway, thanks for the quick reply, and keep up the awesome

[2018-10-11 10:10] isaacboucinha commented on #16563
package com.example.user01.azurenotifiable;

import java.util.HashSet;
import java.util.Set;

import android.content.Context;
import android.content.SharedPreferences;
import android.os.AsyncTask;
import android.util.Log;
import android.widget.Toast;

import com.google.firebase.iid.FirebaseInstanceId;
import com.microsoft.windowsazure.messaging.NotificationHub;

public class Notifications {
    pr

[2018-10-11 10:11] fmegen commented on #16358
We will update the demo repository too, so please checkout
https://github.com/Azure-Samples/cognitive-services-speech-sdk

[2018-10-11 10:12] fmegen commented on #11024
We will update the demo repository soon. Please checkout
https://github.com/Azure-Samples/cognitive-services-speech-sdk

[2018-10-11 10:21] MarkDixonTech commented on #16479
Yes. I think the .NET Core template needs to be updated to reflect this

[2018-10-11 10:39] jpetitte commented on #16614
Thanks for the reply @fmegen!

Just to clarify to make sure I understand correctly: there is no way to select the audio input source? It will always have to be the default microphone?

[2018-10-11 10:42] isaacboucinha opened #16649 "ASP.NET Core"
Could you please provide an example using ASP.NET Core's WebApi?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9a2c2c5-615f-a3da-f57f-119750ff893f
* Version Independent ID: ca22039e-bcd6-a1ad-8f45-9c784c8b7881
* Content: [Push notifications to specific Android application users using Azure Notification Hubs](https://

[2018-10-11 10:45] dougmclelland opened #16650 "Decison tree is unclear /misleading"
Hi,  good doc with lots of great information in one place.  but the decision tree is unclear and I think that its actually misleading. For the first decision... if you want "cloud authentication with password protection?  " what exactly does that mean? it would be useful if that is explained clearly somewhere as its a bit misleading.  In principle all of the integration methods provide some form o

[2018-10-11 10:45] Anded commented on #16170
I am really grateful for the continued support with this issue. I have tried replicating your example in my ADF and it worked. I have also tried redeploying version of my pipeline which was having issues reading SecureString values and it also works.
This leaves me a bit confused but it is possible that I have overlooked something while making the pipeline. I had a support request opened about thi

[2018-10-11 10:47] cha22y commented on #15692
How does 1:5 licence work, is it concurrent users or names
Scenario. I want to give access to 500 external users. its very unlikely they will log in all at once- lets assume 250 will.
Do I:
1. Need 100 Azure AD Premium P1 licenses.- The licences are attached to a user and I guess need to be removed and maintained?
2. I need 50 to cover half of them- with the 250 guest being assigned on a first com

[2018-10-11 10:52] fmegen commented on #16614
Hi @jpetitte,

To be clear, there are TWO ways to specify the audio source.

1. Use AudioConfig.fromDefaultMicrophoneInput() This will access your microphone.

2. Use AudioConfig.fromWavFileInput() This will use the File() you opened (in a browser, this is usually some upload)

a third option is AudioConfig.fromStreamInput(), for custom streams.

In any case, the only supported configuration is 16

[2018-10-11 11:41] jpetitte commented on #16614
@fmegen,

I see. That's what I was afraid of. Is there a github repo for this SDK (I found one for the old SDK)?

After reading through the webpack bundle for a few hours, I think I could make a method that allows the user to select the audio input source and process it to the expected format. I think I can do this just by copying the fromDefaultMicrophoneInput method (rename it to a new method),

[2018-10-11 11:42] mayurpuli commented on #16618
Yes, I did, only the success case entries i see in the log, no entries from restricted IPs. Below is the snapshot of the app diagnostic log settings

[2018-10-11 11:43] mayurpuli commented on #16618
Sorry, not able to attach the snapshot

[2018-10-11 11:47] dominicbetts commented on #16307
@sandeeppujar - can you comment on this please?

[2018-10-11 11:53] shapeh opened #16651 "Sample code does not work / Metadata file 'ImageResizer' and 'EventGridEvent' could not be found"
After going through all the CLI commands and Creating the event subscription, I get the following output from the log:
Ps. I haven't modified any code from the repo and the only thing I have changed are these variables:

&lt;function_app&gt;
&lt;general_storage_account&gt;
&lt;blob_storage_account&gt;
myResourceGroup

2018-10-11T11:42:16  Welcome, you are now connected to log-streaming service.
20

[2018-10-11 12:09] sergaz-msft commented on #16456
What is the version of python you are using? Can you please make sure that you install [Python 2.x or 3.x](https://www.python.org/downloads/) and if you are using Python 2.x, [upgrade pip](https://pip.pypa.io/en/stable/installing/#upgrading-pip) ? Also please follow [these instructions](https://github.com/Azure/azure-iot-sdk-python/blob/master/doc/python-devbox-setup.md) to build the Python packag

[2018-10-11 12:27] seadba commented on #12900
hello, this appears to still be an issue - any update? thanks

[2018-10-11 12:29] AzureStackNerd commented on #16549
The line is indeed wrong.
<code>$UsageReporting = True</code>
should be
<code>$UsageReporting = $true</code>
Or
<code>$UsageReporting = "True"</code>

[2018-10-11 12:49] Simone000 opened #16652 "Add back the frontend quick copy/past code pls"
There was a code shortcut for the frontend part (javascript) that I could easily copy and paste, can't find it anywhere now

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d0fe1dde-e648-523a-88f5-94811293729d
* Version Independent ID: 053b0d57-ab96-b235-cbe3-59f0c9e65bcb
* Content: [Monitor your ASP.NET Web App  with Az

[2018-10-11 12:50] mikewiegand opened #16653 "Cannot debug a vanilla VSC module"
I get this error when trying to build and run in a simulator from the ctrl-shift-p menu

Welcome to iotedgehubdev!
-------------------------
Telemetry
---------
The iotedgehubdev collects usage data in order to improve your experience.
The data is anonymous and does not include commandline argument values.
The data is collected by Microsoft.

You can change your telemetry settings by updating 'col

[2018-10-11 13:05] bjthomson commented on #14663
I have a Problem Step Recording of the flow, however I dont have time to edit the MHT inside to remove all my company references. Is there a place I can upload it which isn't quite so public?
This was a new EMPTY MVC project, 4.7.2 and you'll see that as soon as I add the configBuilders attribute and run, it blows up.

[2018-10-11 13:17] zzulueta commented on #16158
So I have updated my Android Studio to the latest version along with the gradle files and the TODO Item app is no longer working because of the deprecated code. What is the update to this issue?

[2018-10-11 14:16] SaurabhSharma-MSFT commented on #16560
@ThibautVDP Great to hear that your issue is resolved.  We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-11 14:16] #16560 closed

[2018-10-11 14:24] NonlinearMusings opened #16654 "Sentence structure"
Suggest changing "RBAC lets you control how can access Kubernetes resources and namespaces, and what permissions that have on those resources." to "RBAC lets you control access to Kubernetes resources and namespaces, and permissions to those resources. "

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed330edc-c3ab-d053

[2018-10-11 14:26] miller79 opened #16656 "Documentation is no longer valid"
Please update this documentation as it has taken me way too long to resolve what was actually happening.  I was able to resolve the issues I had by downgrading the FUNCTIONS_EXTENSION_VERSION from ~2 to ~1.  The documentation should be updated to reflect newer version logic and standards.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2018-10-11 14:33] asgeirn commented on #7717
Neither the live document nor the source at https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/monitoring-and-diagnostics/monitoring-activity-log-alerts-webhook.md appears to have been updated with this new schema.

[2018-10-11 14:47] diberry commented on #16604
#please-close

[2018-10-11 14:49] diberry commented on #16414
@amthomas46 The quickstarts now have the verbose=true flag in the [endpoint URL](https://docs.microsoft.com/en-us/azure/cognitive-services/LUIS/luis-quickstart-intents-only#get-intent). #please-close

[2018-10-11 14:50] diberry commented on #16274
The LUIS doc for v4 version of the Web app bot for Node.js is [here](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-nodejs-tutorial-bf-v4).

[2018-10-11 14:55] Mike-Ubezzi-MSFT commented on #16643
@christianarg Thank you very much for the insightful feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-11 14:56] torfulle opened #16658 "ASE not protected by Azure DDOS Protection"
Please specify that this protection does not apply to App Service Environments. This phrase seems as they would be protected since they are deployed in a VNET, however they are not. "Policies are applied to public IP addresses associated to resources deployed in virtual networks, such as Azure Load Balancer, Azure Application Gateway, and Azure Service Fabric instances."

---
#### Document Details

[2018-10-11 15:00] erhopf commented on #13160
@cjgronlund + @nitinme - Looks like this gap will be closed when the content that @rajdeep-in is working on is published in November. I'm going to comment on the PR to close.

[2018-10-11 15:03] diberry commented on #10561
@azhagar44 This is currently solved with the [dispatch tool](https://github.com/Microsoft/botbuilder-tools/tree/master/packages/Dispatch) and the [dispatch BF template #14](https://github.com/microsoft/botbuilder-samples).

[2018-10-11 15:04] diberry commented on #8247
#please-close

[2018-10-11 15:08] Nisha2015 commented on #14245
Even I am facing the same issue as eugen-nw trying to debug a SF Application deployed in Azure.
VS 2017 doesn't download the application code symbols at all even from the local location. Do we have any fix for this in place?

[2018-10-11 15:09] diberry commented on #9571
@KasamShaikh This has been fixed and is now live.

[2018-10-11 15:11] diberry commented on #10147
@PhantasmNZ

The training API that was available during Preview has been removed because the feature that needed training, Active Learning, was also removed. It is not obvious from the UX that the equivalent API of Train is not necessary and won't be necessary until actively learning is returned to the service. Please let me know what if you have any other questions.

[2018-10-11 15:14] diberry commented on #10244
@p2netdev Thank you for your patience. The text has been corrected and the image is removed. The image will be replaced as a larger effort to verify and correct the screen shots for QnA Maker.

[2018-10-11 15:16] diberry commented on #11095
@ehandani I'm so glad it is working for you. #please-close

[2018-10-11 15:17] simonua opened #16661 "How, if at all, do caching rules affect source content for the CDN?"
Do caching rules here only apply for the consumer of the CDN or do they have bearing on whether the CDN will reacquire content from its source?

To paraphrase, I set a far-future expiration of 365 days for many static assets that will not change (e.g. node modules in a versioned path). I know that client browsers will hold that asset for 365 days without any subsequent requests, so no 304s, etc.
W

[2018-10-11 15:20] diberry commented on #8387
@daniel-lorenzin I verified the information with the service team. The doc is correct. Azure Seacrch's index limits changed, it _used_ to be 5, but after 2017 it has changed to 15. (therefore 14 for QnA Maker).

[2018-10-11 15:21] #16414 closed

[2018-10-11 15:21] NommySkies commented on #6502
Soooo.... I wrote a ModBus - to - Azure code today and it seems that issue is still present :( any suggestion? I made ALL in stackOverFlow's response was suggested, but issue is still persistent.

`Exception thrown: 'System.IO.FileNotFoundException' in System.Private.CoreLib.ni.dll
Could not load file or assembly 'System.Net.Security, Version=4.0.1.2, Culture=neutral, PublicKeyToken=b03f5f7f11d50a

[2018-10-11 15:28] YutongTie-MSFT commented on #15885
@brijrajsingh We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-11 15:28] #15885 closed

[2018-10-11 15:29] toanyonebutyou opened #16663 "Existing Groups"
Hello,

I see no documentation on how to enable existing groups for self-service of either type. Is this even possible? Or can only user created groups be enabled for self service?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4404d856-2612-f4a2-ed5c-fff65761293a
* Version Independent ID: 35b07132-7d8a-2c29-3988-54a2a

[2018-10-11 15:29] YutongTie-MSFT commented on #16646
@poojasaxena Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-11 15:40] Karishma-Tiwari-MSFT commented on #16235
@mmarkzon Did the above solution help?

[2018-10-11 15:42] Karishma-Tiwari-MSFT commented on #16465
@ratocego Any update?

[2018-10-11 15:42] ktremain opened #16664 "Minor typo - extra space in powershell"
the powershell code in the section "Replicate the Azure virtual machine with managed disks" contains an extra space: " $ RecoveryRG.ResourceId" this is in both the "$OSDiskReplicationConfig" and "$DataDisk1ReplicationConfig"   examples section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32d3f437-872e-7927-2652-6d26

[2018-10-11 15:45] c016smith commented on #15615
@SaurabhSharm-MSFT - do you mean that you'll check-in with the author to update the documentation, saying that Edge is supported now (just not in this document yet)? Or investigating if Edge is supported, and if it's on the roadmap?

I am running a fresh Windows 10 machine, OOBE, joined to AzureAD and enrolled in Intune and Edge is my only browser - I'm able to logon to my O365 and other cloud-aut

[2018-10-11 15:54] sergaz-msft commented on #16634
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-11 15:56] sergaz-msft commented on #16647
Hit @PtwHub thank you for the kudos :)! If you have any issues let us know.

[2018-10-11 15:56] sergaz-msft commented on #16647
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-11 15:56] #16647 closed

[2018-10-11 15:56] gonzalre opened #16665 "documentation not relevant"
Support request contributor it is a Built-in role https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#support-request-contributor so this document must be edited as not longer relevant.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a977f678-4268-cb72-3c94-7fc6ac25cec0
* Version Independent

[2018-10-11 15:57] sergaz-msft commented on #16653
@mikewiegand  Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-11 15:59] Alberto-Vega-MSFT commented on #16640
@mkufa Hi Would you please explain the issue? Thanks

[2018-10-11 16:00] PramodValavala-MSFT commented on #16350
@graham-sportsmgmt The name parameter mentioned here is vital for C# functions in which the name specified has to be the same in the function code and in the functions.json file.

That being said, in the case of Javascript, the name specified is still used by the runtime and you can see it in action by trying to use `context.bindings.<name>` instead of `message`.
Refer the sample code [here](https

[2018-10-11 16:01] mamccrea commented on #16640
@mufka and I spoke offline. He is recommending that we tag the article with ARM and MSI for better search engine results. A work item has been created. #please-close.

[2018-10-11 16:01] pnishman commented on #16158
Yes, that works, it is the non deprecated new version. there are additional uses of the deprecated add callback in your aar file. com.microsoft.azure:azure-mobile-android:3.4.0@aar. As you can see I am using version 3.4 it needs to be fixed as well. Is there a newer version available without this problem. If so where can I find it?
Thanks,

[2018-10-11 16:01] mkufa commented on #16640
I opened a git issue since most of the strangers outside will be lazy like me, and will use short terms.
Google<https://www.google.de/search?rlz=1C1CHBF_enDE769DE769&ei=Ov6-W43VCMT2kwWP05_YBw&q=stream+analytics+ARM+MSI&oq=stream+analytics+ARM+MSI&gs_l=psy-ab.3...8731.20560.0.21053.11.10.1.0.0.0.101.705.9j1.10.0....0...1.1.64.psy-ab..0.6.412...0j0i203k1j0i20i263k1j0i22i30k1j0i22i10i30k1j33i22i29i30

[2018-10-11 16:05] pragyan019 opened #16666 "Can the OCR be used for local images"
Hi
I am exploring the Azure's Computer vision API for my organisation and would like to know that whether the  Extract printed text API and Handwritten Text API can be extended for local images (instead of passing image url ,can i pass local path ?) , tried doing that but got an error..

I did the following changes for OCR

   image_path = image_path
    # Read the image into a byte array
    imag

[2018-10-11 16:07] pragyan019 commented on #16666
--------------------------------------------------------ignore the typo

and got

HTTPError: 400 Client Error: Bad Request for url: https://westcentralus.api.cognitive.microsoft.com/vision/v2.0/ocr?language=unk&detectOrientation=true

[2018-10-11 16:10] graham-sportsmgmt commented on #16350
Thanks for the explanation.

I'd recommend adding this as a note into the JavaScript section to explain how this works and that it's not required to make the function run.  I don't think that JavaScript developers should need to look through the references for other languages.

As for the example, when you create a new Queue function you get two arguments in the function by default and the functio

[2018-10-11 16:10] pnishman commented on #16158
There are multiple instances of this problem in the MobileServiceClient.java module here is just one example.
   private ListenableFuture<MobileServiceUser> login(String provider, HashMap<String, String> parameters) {
        mLoginInProgress = true;

        final SettableFuture<MobileServiceUser> resultFuture = SettableFuture.create();

        ListenableFuture<MobileServiceUser> future = mLogin

[2018-10-11 16:15] Grace-MacJones-MSFT commented on #16649
Hi @isaacboucinha , thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-11 16:27] SaurabhSharma-MSFT commented on #15615
@c016smith Yes, this issue has been routed to the documentation author to validate and update the document as appropriate.
@billmath Can you please help here.

[2018-10-11 16:32] YutongTie-MSFT commented on #8247
@SR253 We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-11 16:35] DavidADoran opened #16667 "No "Reactivate" option"
Following these instructions, but my accidentally cancelled account does not show a "Reactivate" option. Is this documentation out of date?
(Yes) Sign in to the Account Center.
(Yes) Select the canceled subscription.
(No such clicky) Click Reactivate.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4afcaf1-4c44-e88e-da

[2018-10-11 16:37] YutongTie-MSFT commented on #10147
@Gustavo935  We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-11 16:37] #10147 closed

[2018-10-11 16:37] YutongTie-MSFT commented on #11095
@chrisweis We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-11 16:37] #11095 closed

[2018-10-11 16:37] eugen-nw commented on #14245
It’d be interesting to learn if the feature works for _anyone_

[2018-10-11 16:42] TheJayMann commented on #16150
With some more searching, I was able to find xml data in the adfs configuration database, in the IdentityServerPolicy.ServiceSettings table.  At the node /ServiceSettingsData/SecurityTokenService/PpidPrivacyEntropy is a base64 encoded value.  When taking a byte array of UTF-16LE of the client id, appending the byte array of UTF-16LE of the anchor value, and finally appending the byte array of the

[2018-10-11 16:44] vjabala opened #16669 "Using Metric measurement to trigger alert."
I have been tasked to utilize Metric Measurement to trigger our alerts. According to documentation,
https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/monitor-alerts-unified-log?toc=/azure/azure-monitor/toc.json#metric-measurement-alert-rules

I have to add this line in my query,  | summarize AggregatedValue = avg(CounterValue) by bin(TimeGenerated, 5m), Computer.
I modified it to w

[2018-10-11 16:51] Karishma-Tiwari-MSFT commented on #16654
Thanks for the feedback. I have created the PR, changes will be live shortly. Thanks

[2018-10-11 17:00] Karishma-Tiwari-MSFT commented on #16638
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-11 17:01] klaaslanghout commented on #14892
#please-close

[2018-10-11 17:08] github33 opened #16670 "Visual Studio 2017 Enterprise build issue"
I tried this on a brand new VS 2017 install. The skillset build did not work until adding the following to the csproj file:
  &lt;ItemGroup&gt;
  &lt;Reference Include="Microsoft.AspNetCore.Mvc.Core"&gt;
    &lt;HintPath&gt;C:\Program Files\dotnet\sdk\NuGetFallbackFolder\microsoft.aspnetcore.mvc.core\2.1.1\lib\netstandard2.0\Microsoft.AspNetCore.Mvc.Core.dll&lt;/HintPath&gt;
  &lt;/Reference&gt;

[2018-10-11 17:14] MicahMcKittrick-MSFT commented on #16635
@kariyukisusumu please provide us with the documentation you are referring to so we an better assist

[2018-10-11 17:14] MicahMcKittrick-MSFT commented on #16644
@dkchittimilla please provide us with the documentation you are referring to so we an better assist

[2018-10-11 17:15] MicahMcKittrick-MSFT commented on #16645
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-11 17:16] MicahMcKittrick-MSFT commented on #16648
@sahilpnckr123 please provide us with the documentation you are referring to so we an better assist

[2018-10-11 17:16] MicahMcKittrick-MSFT commented on #16636
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-11 17:17] JonathanPalmerGD opened #16671 "Azure CLI soft requirement for tutorial"
There is a soft requirement of having Azure CLI (or being able to set it up) when going through this tutorial.

The code samples are great and helpful, but without the azure CLI, you have to hunt around for various keys/compatible paths a lot more. I'm currently a bit stuck but I don't have subscription access to set up the store for CLI which slows my progress.

---
#### Document Details

⚠ *Do n

[2018-10-11 17:17] Adam-Smith-MSFT commented on #16664
@ktremain Thank you for the valuable feedback,we are investigating the issue.

[2018-10-11 17:17] MicahMcKittrick-MSFT commented on #16665
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-10-11 17:19] EhRom opened #16672 "Get-AzureStorageTableRowByCustomFilter throws error when the element exists."
When executing the command Get-AzureStorageTableRowByCustomFilter, I get the folowwing error :
`Add-Member : Cannot add a member with the name "RowKey" because a member with that name already exists. To overwrite the member anyway, add the Force parameter to your command.`

Here the executed command:
[code]

[2018-10-11 17:21] #14892 closed

[2018-10-11 17:41] #16562 closed

[2018-10-11 17:41] #16640 closed

[2018-10-11 17:41] #16604 closed

[2018-10-11 17:42] CelesteDG commented on #16584
Hello @RobertoPrevato - I'm happy to report that order has been restored (typos fixed). :) It should be live now. Thank you very much again for letting us know. We appreciate the feedback.

[2018-10-11 17:42] MarileeTurscak-MSFT commented on #16663
@toanyonebutyou
Thanks for your feedback! We will investigate and update as appropriate.