[2018-05-16 18:02] #8573 closed

[2018-05-16 18:04] jeevansd commented on #8711
@chetansriv and @v-nagta can you please make this change?
thanks.

[2018-05-16 18:08] vasivara-MSFT commented on #8691
@BharathMannem Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-16 18:09] CelesteDG commented on #8679
@Vekoding - Thank you for your feedback.

[2018-05-16 18:09] CelesteDG commented on #8679
Please close. Not an issue. Thank you.

[2018-05-16 18:10] vasivara-MSFT commented on #8705
@nageshVutukuru Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-16 18:11] CelesteDG commented on #8702
Thank you for the feedback, @duncansmart.

Hello @hpsin - This is a claims-related question. Can you help answer the question and I'll update the docs as needed based on your feedback? Thank you!

[2018-05-16 18:12] neilpeterson commented on #8680
This has been updated:

https://docs.microsoft.com/en-us/azure/aks/ingress

#please-close

[2018-05-16 18:13] neilpeterson commented on #8526
I've confirmed that RBAC is not yet enabled.

#please-close

[2018-05-16 18:14] CelesteDG commented on #8448
Hello @MohitGargMSFT - I think we can close this issue. @hpsin has provided the response and we haven't seen follow up questions. Thank you.

[2018-05-16 18:19] uttampcu opened #8715 "API support and PowerShell"
When can we expect the ability to query Conditional Access Policy settings through PowerShell?  I thought MS released as much or more through PowerShell than the GUI consistently in following the infrastructure as code model.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74b164a7-31c5-7cb3-c8e2-7533d375bd43
* Version

[2018-05-16 18:31] KumudD commented on #5837
Fixed.

#please-close

[2018-05-16 18:34] #5837 closed

[2018-05-16 18:35] SaurabhSharma-MSFT commented on #7135
@CraigHumphrey We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-16 18:35] #7135 closed

[2018-05-16 18:47] MohitGargMSFT commented on #8598
@adamfowlerit Please note that as stated in document the output property 'DeviceTrustType' of [Get-MsolDevice](https://docs.microsoft.com/en-us/powershell/module/msonline/get-msoldevice?view=azureadps-1.0) cmdlet does indicate that device is actually Workplace Joined, AzureAD Joined, Domain Joined.

However, I understand your suggestion to include troubleshooting guide link along with above check.

[2018-05-16 18:50] SaurabhSharma-MSFT commented on #8605
@LedoGit   Billing Administrator do not have privileges to update the company information.  I also tried doing the same and it aligns with the documentation.  Is the user assigned any roles other than Billing Administrator at your end ?Can you please attach screenshots with the roles selected and the company information page ?

[2018-05-16 18:58] femsulu commented on #8697
@dphansen Thanks for bringing this to our attention. Your feedback has been shared with the content lead for further review.

[2018-05-16 19:01] jjindrich opened #8716 "AKS in my custom vnet not working with internal loadbalancer"
When I deploy AKS in my custom vnet, I cannot deploy this internal load balancer. AKS is failing to add NIC adapter (connected into my custom vnet) into loadbalancer backend pool. Load balacer is added into AKS network instead of my custom vnet. Any idea how to change it ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2018-05-16 19:08] kgremban commented on #8542
@Deinonychus999 thank you for confirming the fix. @SaurabhSharma-MSFT can you #please-close this issue as resolved?

[2018-05-16 19:09] tfitzmac commented on #8214
I added links for PowerShell and Azure CLI to this article.

#please-close

[2018-05-16 19:12] TomShinder commented on #8672
Thanks for your feedback! We want to provide the best docs possible - so we'll add this to the backlog and consider updating when we update to the next version of this document. Thanks! -Tom

[2018-05-16 19:13] TomShinder commented on #8672
#please-close

[2018-05-16 19:15] MicahMcKittrick-MSFT commented on #8700
@jebeld17 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-16 19:16] kgremban commented on #8532
Hi @nzigel, thanks for bringing up this issue. I read through the IoT Edge product issue that you linked to, and see that some of the contributors there made recommendations for how this error could be resolved with a product fix. I'm not sure about the best way to incorporate this into the documentation. I don't want to include it in this tutorial because it can be confusing to include too many e

[2018-05-16 19:16] jamesbascle commented on #8668
FYI the answer is to escape it by doubling, aka ''

[2018-05-16 19:16] #8668 closed

[2018-05-16 19:16] MicahMcKittrick-MSFT commented on #8712
@nzregs Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-05-16 19:18] mrbullwinkle commented on #6988
I guess what I was asking was I wasn't sure what you were referencing with: _Currently, we simply state that GeoIP might not be complete/reliable_ I was unable to find that language in the official docs. Or are you referring to the link to the apmtips post?

[2018-05-16 19:20] MohitGargMSFT commented on #8649
@SatyandraV Please note that Automatic Device Join is referring to Hybrid Azure AD join. And yes as Hybrid Azure AD join is not supported in this scenario there will be limitation in implementing on any of the related feature.

[2018-05-16 19:20] MicahMcKittrick-MSFT commented on #8397
@DrEight I will close this for now. Please reopen if you have additional questions or need further clarification.

[2018-05-16 19:20] #8397 closed

[2018-05-16 19:25] MicahMcKittrick-MSFT commented on #8606
@mani-ramaswamy can you take a look at this? I do not have the proper setup to test the full doc.

[2018-05-16 19:26] MicahMcKittrick-MSFT commented on #8639
Thanks @novino!

@tomtoepel let us know if that does not answer your question.

[2018-05-16 19:27] MicahMcKittrick-MSFT commented on #8700
@dlepow can you take a look at this?

[2018-05-16 19:29] mrbullwinkle commented on #6988
But I am happy to dig in with Sergey or Dmitry and add on to this doc. (And a correction to my previous statement there are only two references to geolite2. The reference you found, and a brief one line ref in the [data retention article](https://docs.microsoft.com/en-us/azure/application-insights/app-insights-data-retention-privacy#credits). So there is definitely room to expand and add detail fo

[2018-05-16 19:33] wcom939 commented on #8512
Apologies I did not see the notification on my side.

![image](https://user-images.githubusercontent.com/16446451/40139294-6bf5217c-591d-11e8-933b-154ae64e4686.png)
![image](https://user-images.githubusercontent.com/16446451/40139342-87e6a842-591d-11e8-9cf9-19095ff5f5a1.png)
![image](https://user-images.githubusercontent.com/16446451/40139371-a2595594-591d-11e8-9362-9584d1780516.png)

This was the

[2018-05-16 19:36] wcom939 commented on #8559
hi @srrengar thank you! I did not see that option last week. but I do see it now:

![image](https://user-images.githubusercontent.com/16446451/40139743-e6c030bc-591e-11e8-89e7-f496fd1e7fe3.png)

[2018-05-16 19:39] wcom939 commented on #8508
Hi, I would like to add that this seems to work with a cluster with only one nodetype selected, if you select 2 nodetypes, and the spring boot app gets deployed to the nodes in the second nodetype they are not accessible externally, not sure if this is by design, but that is where my frustration arose. Even opening the port on the LB (which is required) does not seem to fix it, and results in a fi

[2018-05-16 19:41] CelesteDG commented on #8448
Adding @SaurabhSharma-MSFT too. Please close. Thank you.

[2018-05-16 19:43] nahue97 commented on #8517
Hi Micah, sorry for the delay. I don't know why but I installed a lot of
pending updates for Windows 10 Pro and now it works. I guess we could say
this issue is already closed!

El El mié, 16 may. 2018 a las 16:22, Micah <notifications@github.com>
escribió:

[2018-05-16 19:45] SurushCyrus opened #8720 "Great job"
Thanks, well done:)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a825f031-250e-034d-e552-4b0d976d88b1
* Version Independent ID: 626d7451-0b8e-051e-e512-0bf90be319a0
* Content: [Create a static HTML web app in Azure](https://docs.microsoft.com/en-us/azure/app-service/app-service-web-get-started-html)
* Content Source:

[2018-05-16 19:49] wcom939 commented on #8512
I just checked and the servicefabric plugin appears now:
![image](https://user-images.githubusercontent.com/16446451/40140375-c6b32098-5920-11e8-9010-073ae25ee893.png)

[2018-05-16 19:50] MicahMcKittrick-MSFT commented on #8517
@nahue97 thanks for the update! Not sure which update it was that fixed it but glad you are unblocked :)

[2018-05-16 19:50] #8517 closed

[2018-05-16 19:50] MicahMcKittrick-MSFT commented on #8512
@wcom939 thanks for getting back.

Strange they are showing up now. Good but strange as I am not sure why they would not show up to begin with. Aware of any changes made?

[2018-05-16 19:51] SaurabhSharma-MSFT commented on #8448
@cveld We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-16 19:51] #8448 closed

[2018-05-16 19:51] SaurabhSharma-MSFT commented on #8542
@swasifali We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-16 19:51] #8542 closed

[2018-05-16 19:52] MicahMcKittrick-MSFT commented on #8716
@jjindrich Thanks for the question! We are investigating and will update you shortly.

[2018-05-16 19:52] SaurabhSharma-MSFT commented on #8672
@DOliana We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-16 19:52] #8672 closed

[2018-05-16 19:53] MGoedtel commented on #8589
@akramwaseem - Agreed this article, which was originally written by someone else, is not well structured and I plan on re-writing it as soon as I can get some other priorities off my plate.  Let me check with someone to see if you can use the template to configure post-deployment of a workspace (I believe you can but not 100% certain) and get back to you.

[2018-05-16 19:53] nahue97 commented on #8517
Neither I as my brother's computer hasn't installed them yet and it works
there. Thank you for your help!

El El mié, 16 may. 2018 a las 16:50, Micah <notifications@github.com>
escribió:

[2018-05-16 19:53] MohitGargMSFT commented on #8619
@SychevIgor You are correct. We can use VNet Peering to connect his ARM to ARM VNET.

I am assigning this issue to content author to check and probably include ARM VNET to ARM VNET Scenario under the “Network Connectivity” area.

[2018-05-16 20:00] joeizy commented on #5561
Any update on this now that Durable Functions is GA?

[2018-05-16 20:09] YutongTie-MSFT commented on #8524
@tutul2010 Hi, can you please post the issue in [bot-framework area](https://github.com/MicrosoftDocs/bot-framework-docs/issues/new)? It will be helpful. Bot-framework tewm will help you to solve the issue. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion. Thanks!

[2018-05-16 20:09] #8524 closed

[2018-05-16 20:13] jporcenaluk commented on #8369
Seeing the same issue. Any updates on this?

[2018-05-16 20:17] jhorn123 commented on #8716
Similar issue here. I modified the manifest per https://docs.microsoft.com/en-us/azure/aks/internal-lb but the external-ip seems to never leave the <pending> state.

[2018-05-16 20:27] joeizy commented on #5561
Gotcha. So is it correct that there is no other “out-of-the-box” way to achieve the Singleton pattern? Or is there some other workaround?

[2018-05-16 20:38] Mike-Ubezzi-MSFT commented on #8475
@tonymet We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-16 20:38] #8475 closed

[2018-05-16 20:39] Mike-Ubezzi-MSFT commented on #8546
@antonvidishchev We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-16 20:39] #8546 closed

[2018-05-16 20:47] Mike-Ubezzi-MSFT commented on #8580
@cezane The following chapter was not helpful? [Proof of possession of your X.509 CA certificate](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-security-x509-create-certificates#proof-of-possession-of-your-x509-ca-certificate)

Can you please point out what specifically is not clear or needs greater explanation.

Thank you,
Mike

[2018-05-16 20:48] CeciAc commented on #5612
Hello, @vijsharm08

Your contribution is much appreciated. Our team can only answer feedback related to the documentation.
Please kindly log your product feedback by using the button "Give Product Feedback" at the bottom of the DOCS page.

If you have any feedback related to the documentation, please feel free to log it through this channel.
We truly appreciate your contribution to our articles.

[2018-05-16 20:50] Mike-Ubezzi-MSFT commented on #8710
@cybermohr Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-16 20:55] JDL440 commented on #8638
I think 169.254.169.254 is a well-known, private, non-routable IP Address as mentioned in the FAQ.

"The IMDS endpoint is a well-known non-routable IP address, only available from within the VM."

[2018-05-16 20:56] Mike-Ubezzi-MSFT commented on #8710
Reference:

# Update database and set zone redundancy as false
az sql db update
	--resource-group myResourceGroup \
	--server $servername \
	--name mySampleDatabase \
	--zone-redundant false

Upon further investigation, I am not seeing what changes needs to occur.

[2018-05-16 20:58] flarosa opened #8721 "Problems"
Hi,

Problem #1 is that I'm not sure what my "region" is. I don't see any field labeled "region" when I view the Azure console. I see "Location: global" so I tried "global".

More importantly, when I run the demo all I get is this error: "There was an error, status Canceled, reason Connection failed (no connection to the remote host)." I don't know what to do. My computer is online. How do I fix i

[2018-05-16 20:59] dlepow commented on #8700
@jebeld17 - Thanks for taking the time to point out the current driver link. Hope you were successful with the installation. I'll update the doc soon.
#in-progress

[2018-05-16 21:02] daveba commented on #8638
@JDL440 is correct.  Please see this blurb from the virtual machine documentation set:

Azure's Instance Metadata Service is a REST Endpoint accessible to all IaaS VMs created via the Azure Resource Manager. The endpoint is available at a well-known non-routable IP address (169.254.169.254) that can be accessed only from within the VM.

Source: https://docs.microsoft.com/en-us/azure/virtual-machin

[2018-05-16 21:26] adamfowlerit commented on #8598
Thanks Mohit - my point was, a device that was hybrid domain and Azure AD joined just shows as Domain still, so it's not really a check that helps to show if hybrid is working or not.

Thanks
Adam Fowler

________________________________
From: Mohit Garg <notifications@github.com>
Sent: Thursday, May 17, 2018 4:18:01 AM
To: MicrosoftDocs/azure-docs
Cc: Adam Fowler; Mention
Subject: Re: [MicrosoftD

[2018-05-16 21:33] gatneil commented on #8501
What's your upgrade policy?

[2018-05-16 21:33] suhuruli commented on #8508
- there is a note stating you should have the port 8080 open on all nodetypes. When you have multiple nodetypes, you will need to open up the port on both the load balancers. Two LBs are provisioned and they will both need to have port 8080 opened.

[2018-05-16 21:37] hajjat commented on #8501
Complete.

[2018-05-16 21:37] hajjat commented on #8501
​Complete.​

On Wed, May 16, 2018 at 2:33 PM, Neil Sant Gat <notifications@github.com>
wrote:

[2018-05-16 21:47] vhorne commented on #8477
#in-progress

Investigating...

[2018-05-16 21:52] SnehaGunda commented on #8686
@Mike-Ubezzi-MSFT can you assign this issue to me?

[2018-05-16 21:53] SnehaGunda commented on #8686
@danny8002 Thanks for pointing, this issue is now fixed. We will proceed to close it.

#please-close

[2018-05-16 21:56] gatneil commented on #8501
I believe that's the policy for your ARM template; what about the upgrade policy for your scale set?

[2018-05-16 21:56] MohitGargMSFT commented on #8666
@ppassin Get-MsolCompanyInformation works fine for me.

![s1](https://user-images.githubusercontent.com/32749549/40146136-4c24c842-5919-11e8-8363-54c732633a9b.JPG)

[2018-05-16 21:58] suhuruli commented on #8508
Made a PR here addressing some points: https://github.com/MicrosoftDocs/azure-docs-pr/pull/41431

-Provide any feedback there.

Thanks,
Sudhanva Huruli

[2018-05-16 22:03] nuiwos opened #8723 "Azure ML container creation"
Encountered an issue in creating Azure ML container. This was run on Ubuntu 18.04-desktop-amd64.

az ml service create realtime --model-file repo/ai-toolkit-iot-edge/IoT\ Edge\ anomaly\ detection\ tutorial/model.pkl -f repo/ai-toolkit-iot-edge/IoT\ Edge\ anomaly\ detection\ tutorial/iot_score.py -n machinelearningmodule -r python
{
    "Azure-cli-ml Version": "0.1.0a27.post3",
    "Error": "Error

[2018-05-16 22:03] MohitGargMSFT commented on #8677
@hydrogen2oxygen Please refer to the [Troubleshooting Enterprise State Roaming settings in Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/active-directory-windows-enterprise-state-roaming-troubleshooting) document. In case you still face issue, please open a new [MSDN forum](https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazureplatfor

[2018-05-16 22:05] hajjat commented on #8501
We haven't specified that field in ARM nor in Go-SDK, so whatever the default behavior is (Automatic?)

[2018-05-16 22:06] gatneil commented on #8501
Can you check? (one way to do this is in resources.azure.com); if it's set to Manual, this behavior is expected since there's another step in this case. Documentation here: https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-upgrade-scale-set

[2018-05-16 22:08] MicahMcKittrick-MSFT commented on #8716
Do you know if you are running out of space in the AKS subnet when you scale?

i.e. you need more IPs than what is left?

[2018-05-16 22:17] #8700 closed

[2018-05-16 22:19] AaronRM opened #8724 "First technique creates PFX without private key in the container"
The first technique described in this this document does not work properly for Windows Containers (including in Service Fabric 6.2) for clusters running in Azure. The PFX file made available in the container at runtime will not have the private key in the PFX file. Issue is being discussed here: https://github.com/Azure/service-fabric-issues/issues/448

---
#### Document Details

⚠ *Do not edit th

[2018-05-16 22:25] hajjat commented on #8501
Here is what I found on resources.azure.com:
`"upgradePolicy": {
          "mode": "Manual",
          "automaticOSUpgrade": false
        },`

[2018-05-16 22:26] gatneil commented on #8501
In that case, this is expected behavior. Please follow the steps at the link above :)

[2018-05-16 22:27] CindyBai opened #8725 "Import Error"
I got an error on step 4.
ImportError: No module named 'azureml.datacollector'

I run pip install azureml.datacollector and got the message saying:
Requirement already satisfied: azureml.datacollector in c:\users\my username\appdata\local\amlworkbench\python\lib\site-packages (0.1.0a13)

Any ideas on how to fix it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2018-05-16 22:31] israels opened #8726 "Couldn't get edge runtime to communicate with IoT hub using Docker Windows containers"
I followed the quickstart, line-by-line and get the runtime running on my Win10 laptop, but it did not connect to IoT hub.  Looking at all the logs in the troubleshooting didn't help me either because there was no obvious error or exception.  It only showed timeouts or whatever trying to retrieve info.  Searching the web, I had an idea to try and switch Docker to use Linux based containers and the

[2018-05-16 22:33] vasivara-MSFT commented on #8691
@BharathMannem No, this cannot be applied for IaaS database servers. This is just for PaaS offering.
@MGoedtel  can you please confirm the above statement?

[2018-05-16 22:38] PrHar opened #8727 "No Documentation available related to "Sophos XG" on Azure Docs."
I have browsed through Azure docs for finding a step by step process to deploy Sophos XG but did not find it anywhere. Since Sophos is mentioned as a supported image on Azure Market place (https://azuremarketplace.microsoft.com/en-us/marketplace/apps/sophos.sophos-xg-firewall-solution), there should be a documentation on Azure Docs on its deployment process.
This will be helpful to the clients as

[2018-05-16 22:49] jimbowyer opened #8729 "Missing doc link"
Under 'Install Draft' section the link to options and 'Draft Install Guide' is 404. https://github.com/Azure/draft/blob/master/docs/install.md

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b3d2f14-f40d-1f84-0506-c87d7f8db59b
* Version Independent ID: a16becae-3e1f-78ed-0031-758f331e7021
* Content: [Use Draft with AKS

[2018-05-16 22:53] hajjat commented on #8501
Works like a charm! Thanks a lot! 👍

[2018-05-16 22:54] femsulu commented on #8709
@irshad365, thanks for the comment. Can you share the doc you are referring to so I can review and help answer your question?

[2018-05-16 22:54] gatneil commented on #8501
No prob :)

[2018-05-16 22:58] lmolkova commented on #8706
@dyslexicanaboko thanks for the feedback, I'm addressing the first 2 issues and will have updated article soon.

Regarding the other 3:

Perhaps you are checking `telemteryClient.InstrumentationKey` to verify it is set. You should be using `TelemetryConfiguration.Active.InstrumentationKey` instead. The former is used in some advanced scenarios.

The best way to debug it is to explore Visual Studio

[2018-05-16 23:05] mike-urnun-msft commented on #8454
@TecumsehSamp We have assigned this issue to the author to investigate further and take the right course of action.

[2018-05-16 23:06] neilpeterson commented on #8729
@jimbowyer - thanks, we will get this updated.

[2018-05-16 23:09] jhorn123 commented on #8716
The subnet is a /24. I did the standard deployment of 3 nodes. At this point I've only attempted to deploy the sample application in this tutorial - https://docs.microsoft.com/en-us/azure/aks/tutorial-kubernetes-prepare-app so I don't think I would be running our of IPs.

[2018-05-16 23:10] SaurabhSharma-MSFT commented on #8715
@uttampcu Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-16 23:14] mike-urnun-msft commented on #8423
@timmydo Please submit a feature request at [Azure Feedback site](https://feedback.azure.com/forums/169385-web-apps) so that the community can upvote this feature into implementation.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-16 23:14] #8423 closed

[2018-05-16 23:18] #5612 closed

[2018-05-16 23:29] cgillum commented on #5561
As of right now, you would need to come up with your own synchronization method to ensure no two threads (whether running on the same VM or different VMs) are creating an instance with the same ID at the same time.

[2018-05-16 23:43] #8706 closed

[2018-05-16 23:43] BryanTrach-MSFT commented on #8720
@SurushCyrus Thank you for the positive feedback. We appreciate it!

[2018-05-16 23:43] #8720 closed

[2018-05-16 23:56] BryanTrach-MSFT commented on #8714
@szinck1 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-17 00:06] mike-urnun-msft commented on #7497
@jshinevar Sorry for delay in response. It looks like the SDK doc is not updated yet, and the use of 3 parameters to `client.LoginAsync()` method is the correct way as demonstrated in this documentation.

You may find more info on this here: Azure/azure-mobile-apps-net-client#341

We will now proceed to close this thread. If there are further questions regarding this matter,
please reopen it and w

[2018-05-17 00:06] #7497 closed

[2018-05-17 00:13] Powerhelmsman opened #8731 "Jupyter notebook like experience for sample code/script"
When logged in to an azure subscription allow interactive Jupyter notebook like experience to run/modify samples and option to fork/commit to a repository

The issue is transferred from https://github.com/MicrosoftDocs/feedback/issues/61

[2018-05-17 00:16] femsulu commented on #8727
@PrHar Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-17 00:20] usama-masood opened #8733 "case casting invalid in arm template"
While deploying Azure databricks using ARM template, I used location as "CentralUS". Deployment was succeeded but it lunch URL was formed as "https://Central US.azuredatabricks.net". It took the value of location item as it is. This camel cased url crashed and does not work. It must cast it to lower case before deployment or it must not deploy if lower case is not used in 'location' argument.
It i

[2018-05-17 00:27] ppassin commented on #8666
Mohit,

The AzureAD Module (at least the one freshly downloaded), does not contain the Get-MsolCompanyInformation cmdlet nor the Connect-MsolService

[cid:image001.png@01D3EDB6.D7CCCB70]

If I do a (Get-Module -Name AzureAD).ExportedCmdlets I definitely do not see them

From: Mohit Garg <notifications@github.com>
Sent: Thursday, May 17, 2018 5:57 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply

[2018-05-17 00:31] dem108 opened #8734 "Access with R"
Same as this page, "Access with Python", we should have the same for R.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c798198a-6a22-41a3-5bdc-5e4e06446a9b
* Version Independent ID: 3fb2d7ca-27df-87a8-9fdf-99245438f2e9
* Content: [Access datasets with Machine Learning Python client library](https://docs.microsoft.com/e

[2018-05-17 01:07] ahmelsayed commented on #8270
/cc @watashiSHUN

[2018-05-17 01:43] MicahMcKittrick-MSFT commented on #8724
@AaronRM Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-05-17 01:48] MicahMcKittrick-MSFT commented on #8716
@jjindrich thanks for confirming. We are discussing this on an internal thread as others have seen the same issue. I will update you as soon as I have more information.

[2018-05-17 02:52] SnehaGunda commented on #8695
@Mike-Ubezzi-MSFT can you assign this issue to me

[2018-05-17 02:55] SnehaGunda commented on #8695
@shoorik thanks for your pointing the issues, I made changes to fix them, changes should be live soon.

[2018-05-17 03:08] NiranjanAbb commented on #8396
Thanks for your efforts made. I am using windows 07.

[2018-05-17 03:34] #8729 closed

[2018-05-17 03:59] jeffhebrank commented on #8588
Thanks for the update, I created a feature request

https://feedback.azure.com/forums/357324-application-insights/suggestions/34271137-export-past-events-in-same-format-as-continuous-ex

[2018-05-17 03:59] #8588 closed

[2018-05-17 05:01] bottkars opened #8738 "AzureStack Module Version for 1804"
According to the PS Gallery Page, the New AzureStack Module Version is 1.3.0, not 1.2.12, wheras the AzureRM  Module from the Profile are 1.2.11

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b0612cf-1819-96eb-6462-229e2e8d8662
* Version Independent ID: 0446f4d4-1684-abd1-4d3c-f9c7713e97de
* Content: [Install PowerShe

[2018-05-17 05:02] bottkars commented on #8738
![image](https://user-images.githubusercontent.com/8255007/40157602-349c24b8-59a0-11e8-8c1d-7f8dd46f55f7.png)

[2018-05-17 05:05] bacongobbler opened #8739 "JavaScript code for validating Event Grid SubscriptionValidationEvent is wrong"
[code]

Should be

[code]

The response expects the response to be of the form `{"validationResponse": "blah"}`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6bb013c-83b0-84fd-f4eb-364db7b3c507
* Version Independent ID: 6a2a7e4a-769f-034a-c9a2-c3decc6b20b0
* Content: [Event Grid trigger for Azure Functions](https://

[2018-05-17 05:06] bottkars opened #8740 "Page refers to wrong AzureStack Admin Module Version"
Checked with github. latest azurestack Admin Module versiuon is 1.3.0, not 1.2.12

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b6cabd0e-e2f8-fd37-04d0-0343f3d03122
* Version Independent ID: 1fa6f945-092f-4cb0-24a8-b85fd64307af
* Content: [Azure Stack 1804 Update](https://docs.microsoft.com/en-us/azure/azure-stack/azu

[2018-05-17 05:14] SatyandraV-MSFT commented on #8649
Thanks @MohitGargMSFT for the prompt response, appreciate it!

[2018-05-17 05:14] #8649 closed

[2018-05-17 05:37] BharathMannem commented on #8691
But the Dashboard shows Servers in heading.

[2018-05-17 05:39] msvijayn commented on #8621
Document updated merged via PR 41347

#please-close

[2018-05-17 05:44] msvijayn commented on #6951
@masterarun @ryanabr @LuisLoranca
Log alerts for Application Insights is now in GA and we have released details of API - to allow [management via Resource Template, PowerShell and CLI
](https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/monitor-alerts-unified-log-template#managing-log-alert-on-application-insights)

[2018-05-17 05:47] SaurabhSharma-MSFT commented on #8733
@usama-masood Could you provide us with the link to the document you are referring to ?

[2018-05-17 05:47] slavizh opened #8742 "You should specify which version of Windows 10 is supported"
As far as I can see only Windows Server 2016 is supported and versions after it are not supported. Because of that I would assume Windows 10 1803, 1709 and others are not supported as those have the same kernel as Windows Server 1803, 1709, etc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b462a919-2014-9aa3-5fba-656

[2018-05-17 05:50] SaurabhSharma-MSFT commented on #5723
@jimt4593 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-17 05:50] #5723 closed

[2018-05-17 05:51] SaurabhSharma-MSFT commented on #8214
@knssub We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-17 05:51] #8214 closed

[2018-05-17 05:52] SaurabhSharma-MSFT commented on #8526
@AronT-TLV
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-17 05:52] #8526 closed

[2018-05-17 05:53] SaurabhSharma-MSFT commented on #8680
@kargakis We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-17 05:53] #8680 closed

[2018-05-17 06:11] nzigel commented on #8532
@kgremban it was easy for me to find to unblock but I think if we could have the workaround visible in comments or troubleshooting that would help. I worry that people may stop at the error if they don't understand what may be happening as error isn't very descriptive.

[2018-05-17 06:43] cezane commented on #8580
No, it was not helpful. As I mentioned, I am using Ubuntu and I would like to do this directly with OpenSSL, instead of scripts for Power Shell..

[2018-05-17 07:01] hosebei opened #8744 "Each object only once in an Azure AD tenant is misleading"
The picture from https://docs.microsoft.com/en-us/azure/active-directory/connect/active-directory-aadconnect-topologies#each-object-only-once-in-an-azure-ad-tenant suggests that this infrastructure should work.
But regarding to Azure AD hybrid join, this would not work, as far as I experienced.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2018-05-17 07:11] tomtoepel commented on #8639
Thank you. I just realize "Node Agent NTService" is not started as its own Service with ServiceManifest and so on, but seems to be part of NodeAgentServicePkg.

[2018-05-17 07:11] #8639 closed

[2018-05-17 07:12] redwoz opened #8745 "error in $outputDirectory declaration"
Step#3:
$outputDirectory = "$ENV:USERNAME\Documents\AzureStackCSR"

...I believe should read:
$outputDirectory = "$ENV:USERPROFILE\Documents\AzureStackCSR"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b5d2a91-d8f6-2594-dab8-38fe25b303c7
* Version Independent ID: 0beba5f9-90fc-9e9f-63b6-474e5a0e3736
* Content: [Gener

[2018-05-17 07:29] andrew-best-diaxion opened #8746 "Needs updating for High Sierra (10.13.x)"
Suspect this doc just needs a revisit to bring it up to date with High Sierra. It says:

Now that High Sierra (10.13.x) is out it should either be specifically mentioned or the text changed to say something like "Requires MacOS 10.11 (El Capitan) or newer".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb2cee16-c6e9-1

[2018-05-17 07:46] sabbour opened #8748 "deployment().properties.templateLink does not exist"
Unable to process template language expressions for resource '/subscriptions/XX/resourceGroups/test/providers/Microsoft.Resources/deployments/linkedTemplate' at line '1' and column '868'. 'The language expression property 'templateLink' doesn't exist, available properties are 'template, parameters, mode, provisioningState'.'"

Now what?

---
#### Document Details

⚠ *Do not edit this section. It i

[2018-05-17 07:58] DashingNelson opened #8749 "Copy files from volume to container"
Hello, we would benefit a lot if you just provided a "copy files from volume to container during startup"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b730fc95-951e-1acd-770d-88b3e6f2f6ef
* Version Independent ID: b6445fd2-46ea-aedd-2f2c-294faa660660
* Content: [Mount an Azure Files volume in Azure Container Instance

[2018-05-17 07:58] femsulu commented on #8731
@Powerhelmsman, Thanks for the comment. Your feedback has been shared with the content lead for further review.

[2018-05-17 08:00] femsulu commented on #8731
@Tysonn, this feedback applies across the board so assigning to you for review.

[2018-05-17 08:04] femsulu commented on #8742
@slavish, Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-05-17 08:10] femsulu commented on #8390
@Anmolgan81, I am yet to test this scenario but will try in my test environment and update you in the next 24 hours.

[2018-05-17 08:19] dstreefkerk opened #8750 "Code 51005"
I'm seeing a lot of 51005 errors for Exchange Online in the Azure AD sign-in logs. What does this error number represent?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f83a9e6-2363-2c73-5ed2-f40bd48899b8
* Version Independent ID: f47dc642-f083-b173-9b6e-ce61e31685a9
* Content: [Sign-in activity report error codes in

[2018-05-17 08:22] felnne opened #8751 "Sign In with Microsoft images"
Hi,

Is there an official place to download the sign in images - or should we use the ones listed on this page?

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 142962d7-66c3-9372-3e3e-c621cba4d881
* Version Independent ID: 748f0246-0a13-e7ed-46dd-be219f19343b
* Content: [Branding Guidelines for Applications](ht

[2018-05-17 08:25] hydrogen2oxygen commented on #8677
@MohitGargMSFT unfortunatelly the link you provided does not mention a problem similar to mine.

[2018-05-17 08:37] Anmolgan81 commented on #8390
Sure do let me know how did it go.

Regards,
[1512717838432_download.png]

Anmol Ganju | IFI Technologies
Mobile: +91-90-826-13399
Email: anmol.ganju@ifi.tech<mailto:anmol.ganju@ifi.tech>| http://ifi.tech<http://ifi.tech/>

________________________________
From: femsulu-MSFT <notifications@github.com>
Sent: 17 May 2018 13:40:43
To: MicrosoftDocs/azure-docs
Cc: Anmol Ganju; Mention
Subject: Re: [Mi

[2018-05-17 08:38] ChrisCarrAu commented on #8128
@RickBullotta , that is correct - however in this instance, my understanding is that it's been statically linked to that old version. I spent several hours following the instructions from Microsoft to the letter (twice).

[2018-05-17 08:57] giladmit commented on #8561
Only storage v1 and v2 are supported by auditing.

When you create a storage account as part of the auditing policy creation, you are only able to choose a storage account type that is supported.

If you try using a storage account that was not created as part of the audit policy creation, and this account is of an unsupported kind, you are notified by the portal notification system that this acco

[2018-05-17 09:07] RedBa opened #8752 "Link is dead"
link is dead. https://docs.microsoft.com/en-us/user/azure-stack-vm-sizes.md link is from part Use Av2 and F series virtual machines. Azure Stack can now use virtual machines based on the Av2-series and F-series virtual machine sizes. For more information see "and then the link"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-05-17 09:44] arieapriadi opened #8753 "SQLAdapter installation failed"
# SQLAdapter Installation failed at the end.
VERBOSE: Check https://SQLAdapter.dbadapter.gtnckr.vcloud.vidiacloud.com:44300
WARNING: Can not execute [Test-ResourceProviderEndpoint] command at 9 time(s). Will retry. The error: System.Management.Automation.RuntimeException: Microsoft.S
QLAdapter.Admin endpoint is not responsive
VERBOSE: Check https://SQLAdapter.dbadapter.gtnckr.vcloud.vidiacloud.com

[2018-05-17 09:58] andyjballgit opened #8754 "Can you assign Global Admins permission to a Group ?"
I think I know the answer , but would be good to have it documented here perhaps ?

cheers
Andy.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d71a5d26-2294-5170-40f0-35ff4f15515c
* Version Independent ID: 49e8bdb0-a5b6-9f75-66c0-3606b1014b44
* Content: [Assign a user to administrator roles in Azure Active Directory](

[2018-05-17 10:04] YeeSuan95 opened #8756 "Problem of identifying"
Hi,

The problem that i had encountered is that few weeks ago, I used an image to try identify the person. The image of the person cannot be found in the large person group so it returns as "Unknown" which is absolutely correct.
However, when i try to use the same image today, it found a match in the large person group which is wrong! Are there any changes towards the face API internally that caus

[2018-05-17 10:10] kunalaphadnis99 commented on #8239
Hello,
Thank you for your help.

I reinstalled all the stuff required. Now the build does not stop at dotnet restore command. However, the build now unexpectedly hangs at "RUN dotnet publish -c Release -o out" command. I checked with all the dependencies and did not find anything that would block publish from completing.

Below is the screenshot for this:
![image](https://user-images.githubusercon

[2018-05-17 10:16] MrCordeiro opened #8757 "Rookie suggestion"
Please make it cleared that the Output tab is actually a sub-tab of the Data tab.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21a029d6-ea13-f728-6a4b-d87b670a6667
* Version Independent ID: 402f178c-cf52-6249-b01a-3b9e79f222e2
* Content: [Get Started with Azure Data Lake Analytics using Azure portal](https://docs.mic

[2018-05-17 10:30] richardspitz opened #8758 "Correct script for "Create the zonal virtual machines""
for i in \`seq 1 3\`; do
    az vm create \\
   --resource-group myResourceGroupSLB \\
   --name myVM$i \\
   --nics myNic$i \\
   --image UbuntuLTS \\
   --generate-ssh-keys \\
   --zone $i \\
   --custom-data cloud-init.txt
done

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7c17c16-8c90-9191-d138-3b450df96470
* Ver

[2018-05-17 11:16] ishepherd opened #8760 "Issue in Scheduled Query Rules REST schema - QueryType"
There is a REST API page linked from here (it doesn't have feedback controls): https://docs.microsoft.com/en-us/rest/api/monitor/scheduledqueryrules/createorupdate

[#querytype](https://docs.microsoft.com/en-us/rest/api/monitor/scheduledqueryrules/createorupdate#querytype) mentions only a `ResultCount` option. I think `Number` is also supported - that's what you use for Log-based 'Metric' alerts.

[2018-05-17 11:30] darkstone opened #8762 "Link not working"
https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-v2-app-registration#visit-the-microsoft-app-registration-portal
Goes to anything, but the application registration page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18882e74-1275-a04f-cd7a-9fa170e6b853
* Version Independent ID: decf2e12

[2018-05-17 11:43] msvijayn commented on #8760
@ishepherd Yes, Number is the other type. The doc bot has not correctly parsed the API JSON/Swagger spec.

[2018-05-17 12:01] saurabhjain39 opened #8764 "MySQL Connection Error Using c#"
Hello Contributors,
 I am getting that error "Authentication failed because the remote party has closed the transport stream.'" when connection azure MySQL database from c#.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63ef0906-82c3-2f85-28c9-434feb4df0e7
* Version Independent ID: de6fb492-5ab5-37e9-1194-4c5b885a50cb

[2018-05-17 12:15] daveirwin1 commented on #8742
@slavizh Stan, as far as I know, we support all the latest versions of Windows 20 and Server 2016.  I'll double check with my devs though.

[2018-05-17 12:28] Bartolomeus-649 opened #8765 "Expected network bandwidth (Mbps) is missing for the B-series"
Expected network bandwidth (Mbps) is missing for the B-series

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9bb1d37c-6337-0906-42ff-b5dbc6afdc8b
* Version Independent ID: 72a96e16-1d2d-4c01-45be-3caf82470592
* Content: [Azure Windows VM sizes - General purpose](https://docs.microsoft.com/en-us/azure/virtual-machines/w

[2018-05-17 12:28] LedoGit commented on #8605
@SaurabhSharma-MSFT, certainly. Here you are. - I checked with my GA the roles assignment (screenshot 1):

![roles1](https://user-images.githubusercontent.com/39294018/40177040-a4402bba-59dd-11e8-8df2-f5ac16217e5e.PNG)

Now I am connected with the billing administartor user and the organization profile looks like this:

![company1](https://user-images.githubusercontent.com/39294018/40177266-5c2356

[2018-05-17 12:38] baldepro opened #8766 "Sentence Separation"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cceb8a5a-0a53-61c8-a4cd-3857f0d2f42f
* Version Independent ID: 70c5aeea-58b1-bfa1-1208-0b888a87567b
* Content: [Sentences and tokens in the Linguistic Analysis API](https://docs.microsoft.com/en-us/azure/cognitive-services/linguisticanalysisapi/senten

[2018-05-17 12:55] jebeld17 opened #8768 "Addition Request: TCC vs WDDM Explanations and Toggle Commands"
Some users require to use "WDDM" mode strictly, in order to both render and present graphical files, though most users performing things such as deep-learning that do not require heavy screen output will use the default "TCC" option.

### It's a little hard to figure out what mode is needed because there's not a lot of literature regarding this, and would like to see a little more about TCC vs WDD

[2018-05-17 12:58] ChrisSommers opened #8769 "Statement perhaps slightly misleading?"
"Azure resources cannot receive inbound communication from the Internet without an assigned public IP address" - this could be construed to mean that a PIP is required directly on the interface (ILPIP) but this can also be achieved if the i/f is in the back-end pool of a public load-balancer.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2018-05-17 13:16] saurabhsensharma commented on #7029
@cubanp3te Thanks for the feedback and apologies for the delay in responding. Acknowledging the issues you pointed out and confirming that I would be fixing these by 5/21.

@NonSecwitter We have not made changes to the MARS Agent that impact the MSOnlineBackup PS Module path. Are you able to locate the MARS Agent installation directory?

[2018-05-17 13:17] mintxelas commented on #8219
The described procedure doesn't work. The KB doesn´t show up for the people I have shared it with (same with KBs shared with me). It used to work fine in the preview portal, unfortunately now it doesn't.

[2018-05-17 13:18] pebarrer opened #8770 "Supported VMs statement missing E series..."
"Premium Storage supports B-series, DS-series, DSv2-series, DSv3-series, GS-series, Ls-series, M-series, and Fs-series VMs. You can use standard and premium storage disks with these VM types. You cannot use premium storage disks with VM series that are not Premium Storage-compatible."  Above statement missing E series machines.

---
#### Document Details

⚠ *Do not edit this section. It is require

[2018-05-17 13:27] slavizh commented on #8742
@daveirwin1 Thanks David! I think you should list all Windows 10 and Windows Server 2016 versions that are supported to be clear. Of course once a new version is GA or obsolete you can remove it from the list. There are always kernel changes between those releases so people are not always sure what is supported if not listed explicitly.

[2018-05-17 13:28] irshad365 commented on #8709
Apologies. this is the link
https://docs.microsoft.com/en-us/azure/cognitive-services/video-indexer/video-indexer-use-apis#code-sample

[2018-05-17 13:42] KumudD commented on #8758
@richardspitz Thanks for bringing this to my attention. The script is correct. However, the sentence preceding the script needs to be corrected and should be changed from "Create VM in zone 1" to "Create a VM in each zone".
I will update the text. Thanks!

[2018-05-17 13:43] MGoedtel commented on #8691
@BharathMannem - While that one screenshot of the dashboard may be misleading because the one visualization is labled "Servers", this solution is for monitoring Azure SQL PaaS as @vasivara-MSFT indicated in his earlier response.  For monitoring SQL on IaaS VMs, there is no corresponding solution.  You could configure Log Analytics to collect metrics (events and perf data from SQL and OS) and creat

[2018-05-17 13:56] mikebranstein commented on #8500
I've reviewed further, and I was incorrect. I apologize for the false alarm. This continues to work as I had expected. This can be closed.

[2018-05-17 13:57] #8500 closed

[2018-05-17 13:59] xinyiou commented on #8580
@cezane, here is what I did to do proof of possession for Iot Hub Cert in openssl. Hope it helps. I can see if I can make a PR with full docs at a later time:

1. Assuming we generated the original key and cert like this (when uploaded it then says unverified):

[code]

2. Then generate the verification cert:

[code]

3. Upload pem file to portal to verify certificate

Hope that this helps for you

[2018-05-17 14:04] AggieCMD opened #8772 "Refresh Tokens when using OIDC"
Are refresh tokens required when using OIDC? It seems that the ID token always expires before or at the same time as the access token. Subsequent re-authentication of the user results in a new authorization code followed by a new access code anyways.

Suggestion to add a section addressing OIDC in the context of refresh tokens.

---
#### Document Details

⚠ *Do not edit this section. It is require

[2018-05-17 14:10] Brenduns commented on #8740
@bottkars    Thank you for the quick feedback.   We were able to correct this in the content with an update last night. The live content is now showing the correct version, 1.3.   Unfortunately for docs, the change from 1.2.12 to 1.3 was communicated *after* the initial documentation set was published live. We were then able to send the next update through, which lagged until the next publish cycl

[2018-05-17 14:10] SaurabhSharma-MSFT commented on #8753
@arieapriadi Could you provide us with the link to the document you are referring to for installtion ?

[2018-05-17 14:10] Brenduns commented on #8740
#please-close

[2018-05-17 14:14] KumudD commented on #8758
#in-progress

[2018-05-17 14:18] rayne-wiselman commented on #8312
Entry has been added in https://github.com/MicrosoftDocs/azure-docs/pull/8718.

We can close when it merges. #please-close

[2018-05-17 14:29] KumudD commented on #8758
@richardspitz  Thank you! I will make the updates in the script too.

[2018-05-17 14:38] tdykstra commented on #8739
@bacongobbler Thanks for pointing that out and for fixing it in the PR!

[2018-05-17 14:41] cybermohr commented on #8710
Attached is a screen shot. I am not sure what happened when I pasted in comments. The line is missing a backslash. It throws and error.

----------------------------------------------------------------------
Brian P. Mohr | Owner
MCSE: Cloud Platform and Infrastructure, C|NDA, CISSP
brian@cybermohr.com | Mobile 215-588-2735
Blog: https://cybermohr.ghost.io<https://cybermohr.ghost.io/>

From: Mike

[2018-05-17 14:45] SunnyOswal opened #8773 "Incorrect capitalization"
Correct capitalization of "If" in "if your ADFS server has not been configured to automatically update certificates from Azure AD or if you use a non-ADFS solution"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3444bf7d-425c-06b4-3994-192d5d405823
* Version Independent ID: 25cb57d3-cc6a-4548-073c-144af0800c4c
* Conten

[2018-05-17 15:04] Mike-Ubezzi-MSFT commented on #8710
@cybermohr I have highlighted the missing backslashes. I will assign to the content owner for an update.

![screenshot 240](https://user-images.githubusercontent.com/37126106/40185917-afebda8e-59a8-11e8-9a92-72ceb6e6c6ad.png)

[2018-05-17 15:09] Mike-Ubezzi-MSFT commented on #8710
The content author is identified as @janeng in the metadata but is most likely @jan-eng ?!

[2018-05-17 15:10] MicahMcKittrick-MSFT commented on #8749
@DashingNelson can you confirm if you are asking for additional information in the scripts to allow you to copy files form volume to container during setup or if you are a asking for that feature to be added?

[2018-05-17 15:10] marcossapp opened #8774 "Using the authorization code to request an access token"
Does anyone knows for how long time an authorization code could be used for request an access token? I could see on different forums many kinds of responses.

Thanks in advance.

[2018-05-17 15:12] MicahMcKittrick-MSFT commented on #8765
@Bartolomeus-649 thanks for the feedback. The B-series is variable, so it doesn't make sense to publish networking numbers that may not always be accurate.

A similar request was also brought up on this doc before:
https://github.com/MicrosoftDocs/azure-docs/issues/7347

[2018-05-17 15:13] MicahMcKittrick-MSFT commented on #8768
@jebeld17 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-05-17 15:13] irshad365 commented on #8709
https://api-portal.videoindexer.ai/docs/services/authorization/operations/Get-Account-Access-Token/console this is the api i am trying to run. I have the location(westus2), api key, i tried both email address & account name for accountid. i am always getting error

Request i am sending
`GET https://api.videoindexer.ai/auth/westus2/Accounts/account-••••••/AccessToken?allowEdit=true HTTP/1.1
Host: a

[2018-05-17 15:13] Mike-Ubezzi-MSFT commented on #8764
@saurabhjain39 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-17 15:14] MicahMcKittrick-MSFT commented on #8770
@pebarrer Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-05-17 15:15] jan-eng commented on #8710
@CarlRabeler, can you please take this, correct the content author as I am not working on SQL DB at the moment, and sync probably Sasha to see what is the correct setting? Thanks!

[2018-05-17 15:16] rycornell opened #8775 "Mismatch variable name $gittoken and $token"
On line 2, there is a variable named $gittoken but is later referred to as $token.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2e1cc49-5523-16fe-0d6e-1702274aa59a
* Version Independent ID: 04970ae5-a690-0182-0ef4-495571729525
* Content: [Azure PowerShell Script Sample - Create a web app with continuous deployment f

[2018-05-17 15:17] bjorncoltof commented on #8623
We found by using the connection string that we need c(ontainer) level access to list. If you're interested I can provide a sample string that will aloow you to list tables without having service level authorization.

[2018-05-17 15:18] Bartolomeus-649 commented on #8765
Well, then you should put that in the documentation!  You can't just not document it when you state that last column **should** contain the number of NICs and Expected network bandwidth.

And even if it is variable, then one one to know inside which span will it vary?   Because I guess it's not between 0 and infinity?
Also, does it depend on if you have credits or not?

I'm quite sure there are so

[2018-05-17 15:30] cabtilx opened #8776 "Mixing MFA features"
If we license a proportion of our users for EMS, therefore giving them AD Premium, we can only configure Trusted IPs at a tenancy level and apply it to all users. So our users with no Azure AD Premium who are using 'free' MFA for Office 365 are receiving the Trusted IP benefit.
The other features (for example Conditional Access Policies) can be applied to a user/group level so you can maintain lic

[2018-05-17 15:55] danbtl opened #8779 "Describe Single Sign Out API"
https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-protocols-openid-connect-code#single-sign-out

The documentation states:

It would be helpful to have a description of the parameters that are submitted with this request.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30daadc7-6f55-207a-9

[2018-05-17 16:03] Mike-Ubezzi-MSFT commented on #8752
@RedBa We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-17 16:03] #8752 closed

[2018-05-17 16:07] MicahMcKittrick-MSFT commented on #8512
@wcom939 I will close this as the issue seems to have resolved itself. It you notice the issue come back please reopen and we can continue.

[2018-05-17 16:07] #8512 closed

[2018-05-17 16:09] jefflafay commented on #5525
I'm getting the same issue with Microsoft.Azure.WebJobs.Extensions.EventGrid 1.0.0-beta4 and Microsoft.NET.Sdk.Functions 1.0.13.

Even when I try to bind to Microsoft.Azure.EventGrid.Models.EventGridEvent. I can bind to Microsoft.Azure.WebJobs.Extensions.EventGrid.EventGridEvent but I get a deprecated warning in visual studio for that type.

[2018-05-17 16:11] MicahMcKittrick-MSFT commented on #8689
@AzureStackNerd Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-05-17 16:13] MicahMcKittrick-MSFT commented on #8701
@epocket Thanks for the feedback! I have assigned the issue.

@sergaz-msft for reference

[2018-05-17 16:28] adamlavery opened #8781 "Too disjointed"
Your documentation is far too disjointed to follow. Each page links to other pages and you quickly get lost. Content on one topic should all be within expandable sections on the same page so we don't lose control of where we are.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed37ee36-e4be-ce29-b3ac-dfaf04103dbb
* Vers

[2018-05-17 16:28] tfitzmac commented on #8748
@sabbour - template, parameters, mode, and provisioningState are the properties returned from the [deployment()](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-template-functions-deployment#deployment) function. Do you have that expression somewhere in your template?

[2018-05-17 16:28] szinck1 commented on #8714
Figured it out. Under appSettings, set the variable DOCKER_ENABLE_CI to true

[2018-05-17 16:28] #8714 closed

[2018-05-17 16:37] daveba commented on #8638
@dlyall-maine Please reopen this issue if you have any further questions.  #please-close

[2018-05-17 16:42] georgewallace commented on #8659
@CraigHumphrey Classic VMs are not supported as "Azure" machines as it relates to Update Management. Though you can still install the MMA agent on the machine and manually add it as a "Non Azure" machine.

https://docs.microsoft.com/en-us/azure/automation/automation-onboard-solutions-from-automation-account#onboard-a-non-azure-machine

[2018-05-17 16:44] mattbriggs commented on #8689
@AzureStackNerd. Thanks for asking this question. I'll need to do some research and ask some folks and will get back to you. #in-progress

[2018-05-17 16:48] Mike-Ubezzi-MSFT commented on #8396
@NiranjanAbb We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-17 16:48] #8396 closed

[2018-05-17 16:54] tfitzmac commented on #8748
Sorry, I think I misinterpreted your question. Let me double-check the values returned when used to construct URIs for linked templates.

[2018-05-17 16:55] chetansriv commented on #8711
@lyyeh This url https://weekdone.com/a//metadata is not accessible, are you sure that metadata can be downloaded from this URL? Are we missing any bit in this URL, I mean this seems to be a static URL not a pattern? Please confirm.
cc: @jeevansd @v-nagta

[2018-05-17 16:56] thbch opened #8783 "Warning/Error on new OMS Workspace"
I tried to create a new OMS workspace and to link it to my existing Azure subscription (https://XmynewworkspaceX.portal.mms.microsoft.com/LinkAzureSubscription). This does not work and results in this error:
"Pricing tier doesn't match the subscription's billing model. Read http://aka.ms/PricingTierWarning for more details."

Based on that link I'm now on this documentation, but this does not appl

[2018-05-17 16:56] SnehaGunda commented on #8695
#please-close

[2018-05-17 16:57] sergaz-msft commented on #8239
Hi @kunalaphadnis99 thank you for making sure that you are using the latest versions.

By looking at the screenshot I believe that the module is building successfully though it is now being published after, This tutorial uses Azure Container Registry which I believe is what you are using as well?

On Visual Studio Code in the left side can you make sure that you are able to access the Docker regis

[2018-05-17 16:59] mattbriggs commented on #8745
I've updated the example and the update should be available soon. Cheers! #please-close

[2018-05-17 17:00] spacetimeglitch commented on #8369
Hi. Thanks for the question, and sorry for the confusion.

Yes, this is an issue, we intend to address shortly. The sample is incorrect. It should look like this:

`    // Creates an instance of a speech factory with specified
    // subscription key and service region. Replace with your own subscription key
    // and service region (e.g., "westus").
    auto factory = SpeechFactory::FromSubscrip

[2018-05-17 17:02] YutongTie-MSFT commented on #8725
@CindyBai Hi, thank you for your feedback. For issues not relative to document, please use [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/home) and [Stack Overflow](https://stackoverflow.com/) so that out team can help well.

[2018-05-17 17:03] DashingNelson commented on #8749
If there is already, provide me with one or if its not, then add one because I have searched high and low and haven't been able to achieve it.

[2018-05-17 17:03] Mike-Ubezzi-MSFT commented on #8661
@dml5 Have you had a chance to review this Stack Overflow thread: [Read appsettings.json from a class in .NET Core 2](https://stackoverflow.com/questions/47420522/read-appsettings-json-from-a-class-in-net-core-2)
I apologize for the delay in responding to this. Please communicate any open question you may still have.
Regards,
Mike

[2018-05-17 17:04] tfitzmac commented on #8748
@sabbour - templateLink is returned when you have passed in a URI for the template. If you use a local template, the templateLink property is not returned. Were you using a URI or local template?

[2018-05-17 17:04] YutongTie-MSFT commented on #8766
@baldepro Can you please provide more details so that we can help well? Thanks!

[2018-05-17 17:05] rayne-wiselman commented on #8463
Thanks for your feedback. We have no best practice other than saying it shouldn't be in the source region. No advantage to recommending target region.

We can close this. #please-close

[2018-05-17 17:13] SaurabhSharma-MSFT commented on #8721
@flarosa  Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-17 17:14] YutongTie-MSFT commented on #8756
@YeeSuan95 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@SteveMSFT Hi, this is a issue about product-question, can you please help and check if there any chances with the API? Thanks a lot!

[2018-05-17 17:14] SaurabhSharma-MSFT commented on #8723
@nuiwos Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-17 17:19] SaurabhSharma-MSFT commented on #8726
@israels Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-17 17:25] YutongTie-MSFT commented on #8721
@wolfma61 Thank you for your response.

[2018-05-17 17:26] TomShinder opened #8784 "Need to define "management group""
Need to define management group in this doc, include a link to it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51022609-2dee-d21c-9274-384ed82b0f4e
* Version Independent ID: 832b8356-a0ed-06e2-a43a-a8eb0a5869dc
* Content: [Overview of Azure Policy](https://docs.microsoft.com/en-us/azure/azure-policy/azure-policy-int

[2018-05-17 17:28] cezane commented on #8580
Hello, Xinyi Ou. Yes, it helped me. I got success generating the proof of possession and uploading it to the portal. I think it would be good also if the documentation could be improved with some explanation about this process to other people when need to do this.

[2018-05-17 17:28] #8580 closed

[2018-05-17 17:30] nuiwos opened #8785 "AVX2"
When running the code in the Service Definition step in 00_Quickstart.ipynb, the command prompt reported that "Your CPU supports instructions that this TensorFlow binary was not compiled to use: AVX2". Will you be able to support AVX2? Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25565324-f64d-a8db-bc1c-e5095

[2018-05-17 17:30] MicahMcKittrick-MSFT commented on #8749
@seanmck can you chime in on this?

[2018-05-17 17:41] cezane opened #8786 "Just to update an image"
The image showing "Device Explorer", in the "Create an X.509 device for your IoT hub" section, is should be updated since, apparently, the "Device Explorer" section has changed to "IoT devices" section, as showed below.

![azureiot_explorers_iotdevices_queryexplorer](https://user-images.githubusercontent.com/16692892/40192303-4e497368-59da-11e8-81d0-b1c32abf8ca6.png)

---
#### Document Details

⚠

[2018-05-17 17:43] vhorne commented on #8640
@rbrussaard
Fix is live now. Look good? https://docs.microsoft.com/en-us/azure/application-gateway/tutorial-manage-web-traffic-cli

[2018-05-17 17:44] DaleKoetke commented on #8783
Hi Tom, are you creating the workspace in the OMS portal or in the Azure portal? Can you send me a screenshot of this? It sounds like perhaps you're doing this in the OMS portal. If you start form the Azure portal this will work.
Thank you
Dale (dalek@microsoft.com)

[2018-05-17 17:45] vhorne commented on #8410
@pidge66

Fix is live now. Look good?

 https://docs.microsoft.com/en-us/azure/application-gateway/tutorial-manage-web-traffic-cli

[2018-05-17 17:46] vasivara-MSFT commented on #8757
@MrCordeiro Thanks for the feedback. We will get the document updated.

[2018-05-17 17:47] SaurabhSharma-MSFT commented on #8738
@bottkars Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-05-17 17:47] Brenduns commented on #8740
#please-close
This was already answered, and resolved online.

[2018-05-17 17:48] SaurabhSharma-MSFT commented on #8744
@hosebei Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-17 17:50] mattbriggs commented on #8738
@bottkars Thanks for your feedback. The update was in progress and has gone live. https://docs.microsoft.com/azure/azure-stack/azure-stack-powershell-install Cheers! Matt #Please-close

[2018-05-17 17:51] mattbriggs commented on #8745
I've updated the example and the update should be available soon. Cheers! #please-close

[2018-05-17 17:51] SaurabhSharma-MSFT commented on #8745
@redwoz We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-17 17:51] #8745 closed

[2018-05-17 17:51] MohitGargMSFT commented on #8666
@ppassin Yes. It seems Get-MsolCompanyInformation is part of MSOnline module.

![s1](https://user-images.githubusercontent.com/32749549/40194722-3e88759c-59c0-11e8-9449-a7686a75f4c6.JPG)

[2018-05-17 17:54] MohitGargMSFT commented on #8677
@hydrogen2oxygen As already mentioned, please please note that [MSDN forum](https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazureplatform&forum=WindowsAzureAD&prof=required) or [Stack Overflow](https://stackoverflow.com/) could be better place to get help on your scenario. As these forum community has many members and could provide their expert guidance on your scena

[2018-05-17 17:54] CelesteDG commented on #8263
Thank you very much again, @SychevIgor, for the feedback. The PR containing this change has now been merged to master: https://github.com/MicrosoftDocs/azure-docs-pr/pull/41447 and the topic should be gone.

@Mike-Ubezzi-MSFT - #please-close this issue as it's now resolved. Thank you.

[2018-05-17 17:55] seanmck commented on #8749
@DashingNelson Can you elaborate on what you're trying to do?

cc: @jluk

[2018-05-17 17:56] MohitGargMSFT commented on #8690
@martinbherbener We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-05-17 17:57] BryanTrach-MSFT commented on #8775
@rycornell Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-17 18:07] MohitGargMSFT commented on #8715
@uttampcu Please post this as a feedback https://feedback.azure.com/forums/169401-azure-active-directory This will allow the community to upvote and for the product team to include into their plans. We also have the "Give Product Feedback" button in our documents now to take you directly to the appropriate feedback page.

[2018-05-17 18:10] femsulu commented on #8621
@ishepherd
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-17 18:10] #8621 closed

[2018-05-17 18:10] mattbriggs commented on #8642
@kristopherjturner They are out now :) Cheers, Matt #please-close

[2018-05-17 18:12] femsulu commented on #8623
@bjorncoltof We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-17 18:12] #8623 closed

[2018-05-17 18:14] femsulu commented on #8638
@dlyall-maine
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-17 18:14] #8638 closed

[2018-05-17 18:15] femsulu commented on #8695
@shoorik
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-17 18:15] #8695 closed

[2018-05-17 18:15] femsulu commented on #8740
@bottkars We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-17 18:15] #8740 closed

[2018-05-17 18:17] jimdial commented on #8769
#ChrisSommers  Based on your example, yes, it is slightly misleading. I've re-worded the text in that section. It will publish later today.  Once published, let me know if you think it's still misleading.  Thanks. #please-close

[2018-05-17 18:17] richardspitz opened #8787 "Correction for "Prepare certificate for use with VM" script"
The last line of the script:
vm_secret=$(az vm format-secret --secret "$secret")
needs to be changed to this:
vm_secret=$(az vm secret format --secret "$secret")
due to a change in az

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa6715d7-9ea5-0454-2813-fdd6220fc6d0
* Version Independent ID: 119a9248-823a-93c4-5d76-65

[2018-05-17 18:19] jluk commented on #8749
+1 to Sean's question - if you have files your container requires on start, could you just package it with your image? Otherwise could you just have your application read from the mounted volume?

[2018-05-17 18:26] SaurabhSharma-MSFT commented on #8773
@SunnyOswal Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-17 18:27] SaurabhSharma-MSFT commented on #8774
@marcossapp Could you provide us with the link to the document you are referring to ?

[2018-05-17 18:28] femsulu commented on #8263
@SychevIgor We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-17 18:28] #8263 closed

[2018-05-17 18:28] SaurabhSharma-MSFT commented on #8776
@cabtilx Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-17 18:29] femsulu commented on #8738
@bottkars We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-17 18:29] #8738 closed

[2018-05-17 18:29] SaurabhSharma-MSFT commented on #8779
@danbtl Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-17 18:30] dlepow commented on #8768
@jebeld17 - Thanks for the suggestion. I will raise a question with my product team colleagues about additional guidance that might be needed for TCC vs WDDM mode for the GPUs with Tesla drivers. As you note, these GPUs are often used in compute scenarios where the default TCC mode is appropriate.
#in-progress

[2018-05-17 18:32] vhorne commented on #8477
@Powerhelmsman
After discussing with the product group, we determined that this really needs it's own separate article that covers this particular scenario. I've created a new work item and added it the tracked work list.

[2018-05-17 18:34] meganbradley opened #8790 "test - please delete"
test test test

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2469f918-a128-5375-89be-632e86af4eab
* Version Independent ID: 137d87f2-a1bf-e6fb-d9c4-be438b7a234f
* Content: [Azure Database Migration Service Overview](https://docs.microsoft.com/en-us/azure/dms/dms-overview)
* Content Source: [articles/dms/dms-overview.m

[2018-05-17 18:35] sebastus opened #8791 "doc is out of date"
[Enter feedback here]

**This is in the doc and it doesn't work:**
az vm extension set *resource_group_name* *vm_name* LinuxDiagnostic Microsoft.Azure.Diagnostics '3.*' --private-config-path PrivateConfig.json --public-config-path PublicConfig.json

**Something like this works:**
az vm extension set -g *resource_group_name* --vm-name *vm_name* --name LinuxDiagnostic --publisher Microsoft.Azure.Dia

[2018-05-17 18:37] DashingNelson commented on #8749
Am trying to achieve this
This is what we do in composer
Volume:
       - <volumefolder>/site.conf:/etc/nginx/confirm.d
I would like the container to read this from the start.

[2018-05-17 18:38] HJToland3 commented on #8790
Hi Megan. I got your test message.

[2018-05-17 18:40] lyyeh commented on #8711
It should be

https://weekdone.com/a/<tenant>/metadata

Where tenant is the variable.

- Lee Yeh
________________________________
From: Chetan <notifications@github.com>
Sent: Thursday, May 17, 2018 9:55:58 AM
To: MicrosoftDocs/azure-docs
Cc: lyyeh; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Identifier documentation needs to be updated. (#8711)

@lyyeh<https://github.com/lyyeh> This url https

[2018-05-17 18:42] Adam-Smith-MSFT commented on #8746
@andrew-best-diaxion Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-17 18:43] marmstrong94 opened #8792 "Backup Authentication Method"
Our environment is currently syncing on-premises AD to Azure AD. While we don't mind syncing password hashes, we would like to synchronize password expiry and the most effective way to do that is with passthrough authentication. That said, our only concern is high availability. Our DCs are all on the same campus. If we have a disaster that suddenly incapacitates our campus with all of our DCs, our

[2018-05-17 18:44] uttampcu commented on #8715
I have voted for this already in https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/19198480-support-exporting-and-importing-conditional-access.  Are you asking that I put in a broader suggestion that MS follows the infrastructure as code model more thoroughly?

[2018-05-17 18:48] PatAltimore commented on #8254
@HowardEdidin I've made a few updates to the "Using" article.  The issue you mentioned was an error. You actually need to be a member of Initiators to create a contract. Instance role discussion moved down into "take action". I explain a little bit and reference the configuration document. Also updated the configuration document to help clarify the difference between application roles and instance

[2018-05-17 18:48] pidge66 commented on #8410
Not repeating the tutorial but yes, I see the shell script now.
Thanks,
David

On Thu, May 17, 2018 at 1:45 PM, Vic <notifications@github.com> wrote:

[2018-05-17 18:49] MicahMcKittrick-MSFT commented on #8787
@richardspitz Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-17 18:51] SaurabhSharma-MSFT commented on #8769
@ChrisSommers We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-17 18:51] #8769 closed

[2018-05-17 18:51] kobulloc-MSFT commented on #8676
@pravinohal You can find the NuGet package dependencies for the Application Insights API here: https://www.nuget.org/packages/Microsoft.ApplicationInsights/

It looks like the initial release of Application Insights (1.0.0, 6/23/2015) required at least .NETFramework 4.0 while more modern versions (2.6.1, 5/10/2017) require at least .NETFramework 4.5.

![image](https://user-images.githubusercontent

[2018-05-17 18:54] DonPetry-EY opened #8793 "Documentation is unclear - Can you integrate HDI with non Azure AD-DS?"
This article makes reference to Active Directory Domain Services (AD-DS) but only mentions Azure AD-DS (AAD-DS) at the end.  It is unclear from this article whether HDI could be integrated with a AD-DS domain instead of AAD-DS.  Please clarify which versions of AD Domain Services are supported and in which topologies.

Evidence of confusion: https://stackoverflow.com/questions/49745210/is-it-possi

[2018-05-17 18:55] femsulu commented on #8784
@TomShinder Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-05-17 19:03] MicahMcKittrick-MSFT commented on #8787
@richardspitz thanks for the find! I submitted the changes. Once they merge this issue will close.

[2018-05-17 19:19] frfriel opened #8794 "IIS Setup"
The IIS portion is failing due to the file being unavailable.  Additionally there has been a code change in powershell that is causing an issue with the New-AzureRmVmss command when run in the cloud shell or new version of powershell.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00031c3f-420d-6b31-ebd6-5e8c9a41b91c
*

[2018-05-17 19:29] yadcam opened #8795 "Outdated Information"
Hello team,

I would like to raise a concern about how this documentation is now outdated, since I can see that the last update was on Nov 14th 2017, and now some major changes have happened. The one I would like to mention is the licensing requirements, where before administrators where able to see the sign ins for users on a personal level, and require Licensing for viewing all the sign ins in t

[2018-05-17 19:30] yadcam commented on #8795
![image](https://user-images.githubusercontent.com/37675610/40199372-74d0d4c6-59d6-11e8-9ed1-f0b81b20f7a4.png)

[2018-05-17 19:34] ktm opened #8796 "Jenkins is not installing"
ERROR: Failed to install plugin workflow-aggregator

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c50161e-7d27-2c8d-8be9-7e48aec40a06
* Version Independent ID: b6443dd4-1018-e9d1-8c9c-e3d32615690a
* Content: [Create a Jenkins server on Azure](https://docs.microsoft.com/en-us/azure/jenkins/install-jenkins-solution-tem

[2018-05-17 19:36] SaurabhSharma-MSFT commented on #8751
@felnne We do not have any official download place and you need to use the images listed on the page.

[2018-05-17 19:38] Powerhelmsman opened #8797 "The Azure pricing//sizing calculator guide is missing ... One of the most important tool while working on a BOQ and should be merged with r"
The Azure pricing//sizing calculator guide is missing ... One of the most tool while working with Bill of Material and should be linked to every Ref Architecture.

The issue is transferred from https://github.com/MicrosoftDocs/feedback/issues/70

[2018-05-17 19:41] mtillman commented on #7729
@SaurabhSharma-MSFT please assign this bug to @barbkess instead of @femila. Thanks.

[2018-05-17 19:42] Mike-Ubezzi-MSFT commented on #8764
So, I have followed this quick start and although, I am not having issues with the specific error, "Authentication failed because the remote party has closed the transport stream.", I am having an issue with sufficient permissions to complete the first part of the quick start: [Connect, create table, and insert data](https://docs.microsoft.com/en-us/azure/mysql/connect-csharp#connect-create-table-

[2018-05-17 19:44] mtillman commented on #8227
@Rachitgupta1994 - Did this resolve your issue? If not, feel free to re-open this issue.
#please-close

[2018-05-17 19:44] Mike-Ubezzi-MSFT commented on #8764
@saurabhjain39 I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-17 19:44] skofgar opened #8798 "Display different access modes"
The only access mode being displayed is `ReadWriteOnce`, however it is likely this article has been found coming from the Azure Disks Documentation, trying to find out how multiple pods can share storage.  So it might be useful to add `ReadWriteMany` somewhere as a possible value or refer to the Kubernetes documentation again.

Links:
- Azure Disks: https://docs.microsoft.com/en-us/azure/aks/azure

[2018-05-17 19:45] Mike-Ubezzi-MSFT commented on #8436
@SnehaGunda Are there still issues with this tutorial?

[2018-05-17 19:49] SaurabhSharma-MSFT commented on #8754
@andyjballgit You cannot assign Admin Roles to a Group as these roles are meant for users and thus not documented under [Assign a user to administrator roles in Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/active-directory-users-assign-role-azure-portal)

[2018-05-17 19:52] neilpeterson commented on #8798
@skofgar totally agree. I will get this updated today.

[2018-05-17 19:52] andyjballgit commented on #8754
Thx / thought as much - was just thinking it might be adding that fact / line in the user section - as its a hard thing to search on / couldnt find it documented anywhere else

cheers
Andy

[2018-05-17 19:56] mtillman commented on #7471
@MohitGargMSFT please reassign this issue to @MicrosoftGuyJFlo instead of @femila. Thanks.

[2018-05-17 20:00] doodlemania2 opened #8799 "Please elaborate on last paragraph of option 1"
"If you configure forced tunneling with a network filter appliance, then remember that the ASE has dependencies in addition to Azure SQL and Azure Storage. You must allow traffic to those dependencies or the ASE will not function properly."

So, do other changes need to be made?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-05-17 20:00] SaurabhSharma-MSFT commented on #8795
@yadcam Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-05-17 20:00] mtillman commented on #8530
@mike-urnun-msft please remove the active-directory-b2c label. This issue is for azure-stack only.

[2018-05-17 20:01] doodlemania2 opened #8800 "Route Tables"
For option 1, does this mean literally specifying the 33 routes listed https://docs.microsoft.com/en-us/azure/app-service/environment/management-addresses ala:
az network route-table route create --resource-group Networking --route-table-name my-Route-Table  --next-hop-type Internet --name ASE4 --address-prefix 13.94.149.179/32
<+30ish others>

and then a 0.0.0.0/0 sending to the NVA?

---
#### Do

[2018-05-17 20:01] SaurabhSharma-MSFT commented on #8792
@marmstrong94 Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-17 20:04] muradakram commented on #8462
Can I/ If I "#Set-AzureRmResource -resourceid $resource.ResourceId -Properties  ..." this section out of the script will it still let me encrypt my VM? I've used this script before to encrypt 20 VMs in the past. I will be using the same values (key vault, location, aadAppName) and the only difference is a new "resourcegroupname" for this VM.

[2018-05-17 20:10] thbch commented on #8783
Hi Dale, indeed I tried to create the workspace in the OMS portal (according to a guide from MS). But you're right, if you start in the Azure portal then it works fine. Thank you for your help! The corresponding screenshot is attached.
<img width="884" alt="2018-05-17 22_06_00-microsoft operations management suite" src="https://user-images.githubusercontent.com/25612725/40201274-e2eb520e-5a1e-11e8

[2018-05-17 20:10] #8783 closed

[2018-05-17 20:15] georgewallace commented on #8659
@CraigHumphrey If you have any other questions please do reach out and open a new issue. #please-close

[2018-05-17 20:16] DCtheGeek commented on #8784
@TomShinder Thanks for the feedback!  I'll review the article to find where it best makes sense to link to Overview of Management Groups.  Here's the link: https://docs.microsoft.com/en-us/azure/azure-resource-manager/management-groups-overview  #in-process

[2018-05-17 20:16] MicrosoftGuyJFlo commented on #7471
Hi @dcbrown16 we retired this content because it was related to classic portal behaviors.

What you are asking is if a VM running AD DS in Azure could have clients joined to it over the internet.

The same network rules for traditional on-premises AD still apply, as long as the client/server has the proper connectivity it would be able to join the domain. A VPN connection would theoretically provi

[2018-05-17 20:17] guanhuay opened #8802 "Question on deploy vhd(boot with uefi) to Azure"
Hi Microsoft,

I didn't find any useful documentation that mentioned the possibility to deploy a custom centOS vhd file (boot with uefi, not legacy bios) to Azure.

Could you please provide some useful explanation to the above problem?

Thanks for your time in consider my problem.

[2018-05-17 20:18] femsulu commented on #8796
@ktm Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-05-17 20:27] bmilbauer opened #8803 "Alerting on AD assessments"
Can you provide some guidance on alerting on AD assessment data? I'd like to be able to fire an alert if a critical recommendation is encountered, but not seeing a field corresponding to severity in the schema for assessment records.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9fe28c1b-e0f3-b558-e58c-ad32c455cd21
*

[2018-05-17 20:29] SaurabhSharma-MSFT commented on #8754
@andyjballgit I have assigned this issue with the content author if this can be added to as a enhancement to the doc.

[2018-05-17 20:32] SaurabhSharma-MSFT commented on #8781
@adamlavery Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-17 20:37] Thraka commented on #8404
@dmarlow Thanks for this! I'll get that fixed up today

[2018-05-17 20:39] Powerhelmsman commented on #8797
That is what I all have so far. The issue is from User voice, which was migrated to Docs' feedback. There is no way to contact true user for clarification.

[2018-05-17 20:41] deyjcode opened #8804 "Clarify wording in main document as well as clarify property values for operating systems"
Should instead read as:

Addendum:
This may be worth cross-posting to the following documentation:
https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/features-windows

It's not entirely clear to the reader the difference between the Windows and Linux Custom Script Extensions.

The reader **must** use the following properties for Windows:

- publisher: Microsoft.Compute
- type: Cust

[2018-05-17 20:46] TomShinder commented on #8784
Thanks!

[2018-05-17 20:50] nigelainscoe commented on #8462
Same issue here - looking forward to the fix.

[2018-05-17 20:55] nitinme commented on #7525
@bearrito I confirmed and the SDK is not currently GA. At this time, we don't have an ETA when this will be generally available. Once it does go GA, I'll circle back here and update this thread.

Till such time, I suggest we close this issue.

[2018-05-17 21:02] gerardwolf opened #8805 "Support for newer AzureRM.DataFactoryV2 and AzureRM.Profile modules"
Willl there be support for newer versions of the AzureRM.DataFactoryV2 and AzureRM.Profile modules in future? Some of the Azure services we want to "start" and "stop" require newer versions of these modules. A good example would be Azure SQL DataWarehouse Gen2. We can probably work around the issue by using a separate Automation Account, but this is not ideal and a very hard sell to Architects who

[2018-05-17 21:03] CrisAdam-VeasnaKhy opened #8806 "I will be sure"
On # Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page cre

[2018-05-17 21:04] CrisAdam-VeasnaKhy commented on #8806
The only way I can see that the App

[2018-05-17 21:11] eggbeard opened #8807 "Docker Instructions lacking"
The docker run command might get the Storage Emulator Running in a container, but how to connect to that instance is never discussed.  After an afternoon of trying - I give up

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0bd49c9b-995f-cc7e-77d7-74f21f1249f7
* Version Independent ID: 1c2ce65b-5bd3-ca40-a487-ca5059f2c8

[2018-05-17 21:32] tamram commented on #8807
@eggbeard - Our apologies. The Docker image is not maintained by the Azure Storage team. I've removed that reference from the official documentation.

I'm sorry I can't help you more with getting this working.

[2018-05-17 21:42] muradakram commented on #8462
Still not working after the rollback:
Enabling Soft Delete on KeyVault NorthPROD-KV1
Set-AzureRmResource : Exception getting "Values": "The method or operation is not implemented."
At C:\Data\PowerShell_Scripts\ADEPrereqScript.ps1:160 char:5
+     Set-AzureRmResource -resourceid $resource.ResourceId -Properties  ...
+     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + Cate

[2018-05-17 21:56] huxuan commented on #8756
Hi, @YeeSuan95,

Thanks for reaching us.

Is there any data change in the LargePersonGroup you mentioned which means any persons/faces been added or deleted? This might be the reason of the result change.
As you may know, there is an optional parameter `confidenceThreshold` that will be helpful to increase the accuracy at the cost of potential loss in recall. In this way, you can tweak the thresho

[2018-05-17 21:56] gerardwolf commented on #8805
Hi Douglas

Thanks for you reply. Yes, it's related to the "Important" section. In
short, I script works fine when using those versions, but as soon as I
update to newer versions it no longer works so lines up with your comment.
Good to hear a fix is imminent, I'll keep an eye on the article and try
again once the note disappears. Hopefully it doesn't require any changes to
the script :)

Gerard

[2018-05-17 22:00] douglaslMS commented on #8805
@gerardwolf FYI I have also asked for an update about the fix, and asked to confirm that when it's rolled out, the fix will indeed resolve these issues that affect SSIS. I may not get an answer immediately but will let you know when I do.

[2018-05-17 22:00] douglaslMS commented on #8805
#in-progress

[2018-05-17 22:02] dcbrown16 commented on #7471
Thanks @MicrosoftGuyJFlo !
We did conclude in this case that it was possible, but not particularly recommended to connect over P2S and join the domain. It seemed like there might be some security restrictions involved with getting it to join the domain before authentication.

[2018-05-17 22:02] #7471 closed

[2018-05-17 22:07] flarosa commented on #8721
I appreciate the response.

The URL in my case is:
https://api.cognitive.microsoft.com/sts/v1.0 <https://api.cognitive.microsoft.com/sts/v1.0>

There’s no region in the endpoint. Should I just leave the field blank?

[2018-05-17 22:44] rspaulino opened #8811 "how to remove VSCE CLI from Mac?"
How do I remove the visual studio connected environment CLI from my Mac since base on the new documentation this is not longer require for Azure Dev Spaces?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66314f08-30df-c003-d37e-d5d7f78c3779
* Version Independent ID: 0e2819dd-52d9-e095-fb13-4820e58755ba
* Content: [Azur

[2018-05-17 22:53] javias opened #8812 "Firewall issue with storage account to setup Continuous Export"
We are not able to use Continuous Export if the firewall is enabled for the storage account. What are the options to export logs continously to a secure firewall protected storage?
"36512771-6c2a-a651-d8e0-fde95f563252"  - this issue needs to be tagged to https://docs.microsoft.com/en-us/azure/application-insights/app-insights-export-telemetry#feedback

[2018-05-17 23:02] akramwaseem commented on #8112
@MicahMcKittrick-MSFT -- Havent tried yet. Give me couple of days and will let you know.

[2018-05-17 23:15] MicahMcKittrick-MSFT commented on #8791
@sebastus Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-17 23:17] neilpeterson commented on #8798
Changes have been merged, I may have missed todays last publishing so it will be tomorrow morning before the changes are visible.

Thanks

#please-close

[2018-05-17 23:17] MicahMcKittrick-MSFT commented on #8804
@deyjcode Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-17 23:28] guanhuay commented on #8802
I found a link here, which solved my concern: https://docs.microsoft.com/en-us/azure/site-recovery/hyper-v-azure-support-matrix

<img width="810" alt="screen shot 2018-05-17 at 4 27 03 pm" src="https://user-images.githubusercontent.com/16933391/40208559-40b9a938-59ef-11e8-9542-ffc18ffe9d6f.png">

[2018-05-17 23:28] Mike-Ubezzi-MSFT commented on #8790
@meganbradley We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-17 23:28] #8790 closed

[2018-05-17 23:28] guanhuay commented on #8802
It indicated that the Linux Generation 2 VMs (UEFI mode) isn't supported yet.

[2018-05-17 23:28] #8802 closed

[2018-05-17 23:29] SaurabhSharma-MSFT commented on #8750
@dstreefkerk I have assigned this issue to content author to investigate and update the document as appropriate with the error details.

[2018-05-17 23:33] YutongTie-MSFT commented on #8785
@nuiwos Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@tedway Hi, there is a product enhancement idea, can you please check it? Thanks a lot!

[2018-05-17 23:33] YutongTie-MSFT commented on #8725
@CindyBai We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-17 23:33] #8725 closed

[2018-05-17 23:38] CarlRabeler commented on #8710
@cybermohr thanks for catching this - PR is pending

[2018-05-17 23:42] MohitGargMSFT commented on #8792
@marmstrong94 I would like to know more on synchronize password expiry requirement for which you are looking for Pass Through Authentication. However, the best place to discuss and get guidance is in forums. Please open a [MSDN forum](https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazureplatform&forum=WindowsAzureAD&prof=required) where we further discuss this scenar

[2018-05-17 23:49] MicahMcKittrick-MSFT commented on #8791
@abhijeetahuja can take a look at this?

I was able to get it like so:

`az vm extension set --resource-group ResourceGroupName --vm-name VmName --name LinuxDiagnostic --publisher Microsoft.Azure.Diagnostics --version 3 `

But `--private-config-path` and `--public-config-path` done appear to be valid

[2018-05-17 23:50] MicahMcKittrick-MSFT commented on #8804
@danielsollondon can you take a look at this?

[2018-05-17 23:50] anthrox opened #8814 "For detailed analytics, enable the "Session" log"
so how do we enable session log?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10e765c0-8c7d-e995-1905-025ad6edddb3
* Version Independent ID: df5a4ae0-8afa-466f-3607-1c3233e32aeb
* Content: [Azure AD Connect: Troubleshoot Pass-through Authentication](https://docs.microsoft.com/en-us/azure/active-directory/connect/acti

[2018-05-17 23:51] vasivara-MSFT commented on #8793
@DonPetry-EY Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-17 23:54] vasivara-MSFT commented on #8803
@bmilbauer Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-17 23:54] dumbnose opened #8815 "Content is incorrect"
These instructions for setting up an MX Chip device claim that the device will reboot right into AP Mode.  That is not the case.  It says "WiFi Not Connected...Enter AP Mode?".  So, a regular user is stuck at this point.  Please fix.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e8e7c7d8-9e2e-a23b-35e6-489650473909
*

[2018-05-17 23:58] dlepow commented on #8768
@jebeld17 - According to our experts, we support only the default GPU driver mode set on the GPUs in N-series VMs. The default is TCC mode on NC-, NCv2-, NCv3-, and ND-series VMS, and WDDM mode on NV-series VMs. We don't recommend changing the mode, so at this time I won't update the doc. I hope this helps. You are also welcome to make product suggestions at https://feedback.azure.com/.

By the wa

[2018-05-18 00:00] MohitGargMSFT commented on #8772
@AggieCMD Please refer to this article on [Types of tokens](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-v2-tokens#types-of-tokens) - ID Tokens, Access Token, Refresh Tokens. I hope this is what you are looking for.

[2018-05-18 00:01] #8768 closed

[2018-05-18 00:02] dumbnose opened #8816 "Instructions are impossible to follow"
The instructions put you in a state where you do not have internet connectivity.  Then, they tell you to get the connection string from the internet.  They should have the user get the connection string before they lose internet connectivity.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e8e7c7d8-9e2e-a23b-35e6-489650

[2018-05-18 00:06] SaurabhSharma-MSFT commented on #8773
@SunnyOswal The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2018-05-18 00:06] #8773 closed

[2018-05-18 00:12] JasonWHowell commented on #8757
@MrCordeiro Good feedback. 🥇 I will improve the article to adjust that section as you suggested. I see a few other quirks too. Thanks, Jason

[2018-05-18 00:14] mahesh-unnikrishnan commented on #8618
There are no screenshots on the page https://azure.microsoft.com/en-us/updates/azure-ad-domain-services-azure-portal-ga/

[2018-05-18 00:15] mjphotopro commented on #8513
I've been trying to access the labs.azure.com site for about a day and it will not connect. It constantly throws a login loop (using Windows 10 and Edge it allows me to select my user name but it will loop me right back to the user screen, while any other browser/OS will just continue to refresh the page until it times out).

[2018-05-18 00:18] SaurabhSharma-MSFT commented on #8618
@mahesh-unnikrishnan Please check [Azure Active Directory Domain Services: Getting Started](https://docs.microsoft.com/en-us/azure/active-directory-domain-services/active-directory-ds-getting-started-network)

[2018-05-18 00:19] mahesh-unnikrishnan commented on #8617
Duplicate of 8618. Also does not repro.
There are no screenshots on the page https://azure.microsoft.com/en-us/updates/azure-ad-domain-services-azure-portal-ga/

[2018-05-18 00:19] mahesh-unnikrishnan commented on #8616
There are no screenshots on the page https://azure.microsoft.com/en-us/updates/azure-ad-domain-services-azure-portal-ga/

[2018-05-18 00:26] mahesh-unnikrishnan commented on #6682
This experience has changed in recent builds. We are working on a doc update to cover the changed experience.

[2018-05-18 00:34] SaurabhSharma-MSFT commented on #8605
@LedoGit we are looking into this and update you as soon as I have any information on the same.

[2018-05-18 00:50] femsulu commented on #8227
@Rachitgupta1994
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-18 00:50] #8227 closed

[2018-05-18 00:51] femsulu commented on #8254
@HowardEdidin
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-18 00:51] #8254 closed

[2018-05-18 00:54] femsulu commented on #8390
@Anmolgan81, Hope @BryanTrach-MSFT 's steps was helpful. Don't hesitate to ping if you have any questions. We will now close this issue.

[2018-05-18 00:54] #8390 closed

[2018-05-18 00:54] femsulu commented on #8659
@CraigHumphrey
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-18 00:54] #8659 closed

[2018-05-18 00:55] femsulu commented on #8798
@skofgar We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-18 00:55] #8798 closed

[2018-05-18 00:59] femsulu commented on #8806
@CrisAdam-VeasnaKhy , Thanks for your comment, Can you please elaborate on your feedback and share the link to the document in question?

[2018-05-18 01:05] femsulu commented on #8812
@javias , thanks for the feedback. We are investigating your issue and will get back to you shortly

[2018-05-18 01:14] femsulu commented on #8815
@dumbnose
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-05-18 01:14] femsulu commented on #8816
@dumbnose
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-05-18 01:16] BryanTrach-MSFT commented on #8799
@doodlemania2 In this case the author is talking about the ASE dependencies such as leaving management ports 454 and 455 open along with the management addresses on top of Azure SQL and Azure Storage.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and tag me in your reply. We will gladly continue the discussion.

[2018-05-18 01:16] #8799 closed

[2018-05-18 01:16] femsulu commented on #8816
@timlt , added you as I am unable to resolve @tanmaybhagwat in Github

[2018-05-18 01:16] femsulu commented on #8815
@timlt , added you as I am unable to resolve @TanmayBhagwat in Github

[2018-05-18 02:17] spelluru commented on #8513
@jkwon2013 - could you please look into the issue? Thanks.

[2018-05-18 02:44] BryanTrach-MSFT commented on #8800
@doodlemania2 From my understanding, we do not support sending traffic directly to the NVA. As a result, traffic must be routed from 0.0.0.0 -> internet. This is why the product group stresses in the documentation the following statement, "Create a UDR with an address prefix of 0.0.0.0/0, a next hop type of Internet and apply it to the ASE subnet."

We will now proceed to close this thread. If the

[2018-05-18 02:44] #8800 closed

[2018-05-18 02:59] BryanTrach-MSFT commented on #8775
@cephalin I tried to edit the document but the link to the script gives me a 404. Can you please look into this or let me know how to properly locate the script so we can edit it?

[2018-05-18 03:31] anwather commented on #6952
For virtual machines using managed disks - is there no increase in cost for the snapshots?

[2018-05-18 03:31] anwather opened #8818 "Managed disk pricing"
For virtual machines using managed disks - is there no increase in cost for the snapshots?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39cd4ce6-5297-91f5-1855-a5ff04585dac
* Version Independent ID: 0eb56a26-77e9-8a81-a425-c64994d117e3
* Content: [Upgrade to the Azure Resource Manager deployment model for Azure VM ba

[2018-05-18 04:06] #8757 closed

[2018-05-18 04:06] rmcmurray commented on #7754
@doneuros - we have an updated article in the works, it should be out soon. Thanks again!

[2018-05-18 04:10] seanmck commented on #8749
The syntax you're showing there from compose is also a volume mount. It is not truly copying the files into the container, but rather exposing the underlying host path in the container at the path that you've mapped. That is the same basic concept that this article is trying to show. The key difference is that you cannot mount a host volume in ACI because you do not have access to it, so you are r

[2018-05-18 04:12] CelesteDG commented on #8772
Hello @AggieCMD - In case this is helpful, here's another article on configurable token lifetimes in Azure AD: https://docs.microsoft.com/en-us/azure/active-directory/active-directory-configurable-token-lifetimes Thank you.

[2018-05-18 04:48] Anmolgan81 commented on #8390
So the binding of app service certificate will also needed to be removed?
Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: femsulu-MSFT <notifications@github.com>
Sent: Friday, May 18, 2018 6:24:31 AM
To: MicrosoftDocs/azure-docs
Cc: Anmol Ganju; Mention
Subject: Re: [MicrosoftDocs/azure-docs] How to move App Service Certificate? (#8390)

Closed #8390<https://githu

[2018-05-18 04:51] gerardwolf opened #8819 "Missing Parameterized properties section on Azure SQL Data Warehouse when creating Dataset"
It appears that there is no parameterized properties section when creating the Azure SQL DataWarehouse sink Dataset as per the documentation. I.e. there is tableName property to put the @{dataset().DWTableName} value against as the documentation suggests.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 125c8ae8-332f-879

[2018-05-18 05:04] YeeSuan95 commented on #8756
Hi Sean,

Thanks for the quick response.

Yes, i did deleted and re-added the same data in to the large person group. But it is about the same data, so the result shouldnt change much i thought?

I did tweak the threshold but the result remains the same.

[2018-05-18 05:06] BharathMannem commented on #8691
Thank you @vasivara-MSFT and @MGoedtel.

[2018-05-18 05:08] SaurabhSharma-MSFT commented on #8814
@anthrox Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-18 05:08] SatyandraV-MSFT opened #8820 "Licensing requirement"
Does Hybrid Azure AD join require an EMS license ? I mean even a AADP P1 or P2 license? I agree for Azure CA with Hybrid Azure AD join I'll need a premium license.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72cdc251-618a-e84e-f40d-960b0ac69f99
* Version Independent ID: 8cbaba3c-e883-2c71-28fb-f88db3fcaf7d
* Content

[2018-05-18 05:13] SaurabhSharma-MSFT commented on #8786
@cezane Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-05-18 05:14] abhijeetgaiha commented on #8791
We're taking a look.

[2018-05-18 05:29] jrtabuloc commented on #8157
Hello, just want to checkout about my question. Any new inputs about this inquiry?

[2018-05-18 05:39] SychevIgor commented on #8616
@mahesh-unnikrishnan problem is in an article "Content Source: articles/active-directory-domain-services/active-directory-ds-getting-started-admingroup.md" this link is  a proof that UX already in GA

[2018-05-18 05:40] SychevIgor commented on #8617
@mahesh-unnikrishnan problem is in an article "Content Source: articles/active-directory-domain-services/active-directory-ds-getting-started-dns.md" this link is  a proof that UX already in GA

[2018-05-18 05:40] SychevIgor commented on #8618
@mahesh-unnikrishnan problem is in an article "Content Source: articles/active-directory-domain-services/active-directory-ds-getting-started-network.md" this link is  a proof that UX already in GA

[2018-05-18 06:20] tompostler opened #8821 "Optional return values?"
I'm trying to figure out how I would set up a function so that, based on some processing of the inputs, it could either return a value into a Service Bus queue for more processing by a different function _or_ just return a "null" value to indicate processing is complete and no further action is necessary. Is there a way to do this that I'm missing?

Example: A Service Bus queue message comes in to

[2018-05-18 06:33] DashingNelson commented on #8749
Yes I have created a storage account with a file share and I have successfully mounted it in the container, but I want that on every start the file copied from Azure file share to the container like the above syntax.

[2018-05-18 06:58] EstebanSmits opened #8822 "A couple possible corrections"
At this time it looks like MongoCredentials has been deprecated. The other issue I  saw was that the  mechanism of  "SRAM-SHA-1" didn't seem to work. When copying the  connection string directly from Cosmos Db and putting it into  code,  the  mechanism was null, replicating that  within the MongoCredential creation allowed me to connect.
so this:
    settings.Credentials = new List<MongoCredential

[2018-05-18 07:02] wolfma61 commented on #8721
Are you sure you applied for the new unified speech service (Speech Preview) ?
All the endpoints for the speech preview are attached to a region?

Wolfgang

[2018-05-18 07:36] JoNevi opened #8823 "Permissions to create the File Share"
What are the minimum permissions needed to create the File Share that will be used as a clouddrive?  I have a user who is Contributor on a storage account in a suitable region, the "Resource group" is available and populated, yet the "Storage account" and "File share" buttons are greyed out.  Are permissions on the Resource Group itself obligatory?  Could this be explained in the docs?  Thanks

--

[2018-05-18 07:44] antony-chan opened #8824 "Out of date content: Building the ExpressRoute Gateway and VPN gateway sequence has changed."
Hello, as per subject the sequence of build the coexist gateways via powershell has changed. Please see the error I got when i follow the steps:
PS C:\> $gw = New-AzureRmVirtualNetworkGateway -Name "Gateway-ER1" -ResourceGroupName "RG1" -Location "EastAsia" -IpConfigurations $gwConfig -GatewayType "ExpressRoute" -GatewaySku Standard
WARNING: The output object type of this cmdlet will be modified i

[2018-05-18 07:48] DmitriyVityuk opened #8825 "What the difference between medium and large?"
What the difference between medium and large?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9bdbfd3-8f7b-810c-dcd7-a58df729f3ad
* Version Independent ID: 4b9c0422-e69a-4444-4a6b-7ecc0b6974cd
* Content: [What is Azure Application Gateway](https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-i

[2018-05-18 07:49] antony-chan commented on #8824
Sorry, post on the wrong thread. I'll proceed to close the issue. thanks.

[2018-05-18 07:49] #8824 closed

[2018-05-18 07:51] antony-chan opened #8826 "Out of date content: Building the ExpressRoute Gateway and VPN gateway sequence has changed."
Hello,
as per subject the sequence of build the coexist gateways via powershell has changed. Please see the error I got when i follow the steps:

PS C:\> $gw = New-AzureRmVirtualNetworkGateway -Name "Gateway-ER1" -ResourceGroupName "RG1" -Location "EastAsia" -IpConfigurations $gwConfig -GatewayType "ExpressRoute" -GatewaySku Standard
WARNING: The output object type of this cmdlet will be modified

[2018-05-18 08:08] cephalin commented on #8775
@BryanTrach-MSFT It's located here: https://github.com/Azure/azure-docs-powershell-samples/blob/master/app-service/deploy-github-continuous/deploy-github-continuous.ps1

[2018-05-18 08:11] felnne commented on #8751
Hi @SaurabhSharma-MSFT,

Thanks for looking into this - in that case I have a couple of questions:

1. We'd like to show the a larger version (i.e. scaled up) of the buttons to make it more obvious to users how to login - can larger versions be made available, or ideally, is there a vector version of those images available?

2. One application we'd like to use this for is GitLab, which currently u

[2018-05-18 08:18] gegenki commented on #8028
There is a tip line for it:
'Ensure that you specify a user who belongs to the 'AAD DC Administrators' group.'
But no link to a related article.
It assumes prior knowledge that would easily be solved with a link.
It isn't clear to a first time user where this should be set or how to find out this information. It definitely is not clear that this is a group created automatically inside Azure.

Simi

[2018-05-18 08:42] roneto opened #8827 "Setup CA Policy to Include All Apps"
When creating a CA policy to include All Cloud Apps and excluding certain apps it continue to ask for the control grant to access the apps as it needs to access MsGraph (Azure AD) so it would be interesting if we could update the documentation with some advisory on how to set CA policies and explaining the impact of setting a CA policy for All Apps.

---
#### Document Details

⚠ *Do not edit this

[2018-05-18 08:48] SebastianSchuetze opened #8828 "Camel Case schema error for securestring / secureString"
It is just a small thing: The documentation says you should use **secureString**, but in the template in editors only allows **securestring**. Maybe either the schema needs to be updated or the documentation. I am also currently not sure, if the template even cares about camel case during deploment time on Azure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2018-05-18 08:48] dunxz opened #8829 "Restart policy"
If changes AppSettings are made (specifically .Net) what other actions, if any are required. Does the app restart automatically? or do the slots need to be swapped, or does the app need to be restarted manually. Some guidance here would be great!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91979290-94f6-b300-e200-f0

[2018-05-18 08:58] aniono commented on #5715
When I click "Setup Local Cluster", there is a error.
Service Fabric Local Cluster Manager
"There were errors while setting up the Local Cluster."

[2018-05-18 09:03] SebastianSchuetze commented on #8748
@sabbour - I had exactly the same error, when you try to link a local path *C:\temp\mytemplate.json* or if you use a local url *http://localhost/mytemplate.json*. This will lead to a returned object of a local template, which does not unclude the "templateLink" property. You have to have the linked template somewhere available with a valid url. Either you upload it to a storage account or on a pub

[2018-05-18 09:07] CrazeeIvan opened #8830 "get-azureadgroup -ObjectId <ObjectId> isn't working correctly"
using get-azureadgroup -ObjectId <ObjectId> where <ObjectId> is a valid ObjectId for a known group, I just get back a find statement on the same info I get when I use a generic get-azureadgroup

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b994ee0-d0b5-715f-bc48-44d8256499d7
* Version Independent ID: 6fda2b17-e142-80

[2018-05-18 09:12] smoms opened #8831 "Discrepancy with pricing page"
Why limit is 55 computes if in the pricing doc says 100? Also, why size are Px while in the pricing are Ix?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89e5f812-460e-d4ae-b265-37fe062c6cb5
* Version Independent ID: 9b47bf02-e610-72d9-e399-e3068bb08647
* Content: [How to Configure an App Service Environment v1](https

[2018-05-18 09:20] kasperkamperman commented on #7192
I'm curious if there is any progress already?

[2018-05-18 09:38] Expecho opened #8832 "About including Default metrics when using Custom Metrics"
So according to this documentation in order to combine default and custom metrics the default metrics have to be explicitly added. I want to add a Zero weight custom metrics, What are the default weight values for the default metrics?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c03caff-9b57-cb6d-3c3c-2b8443fdeb6b
*

[2018-05-18 10:07] arieapriadi commented on #8753
@SaurabhSharma-MSFT i follow the guidance from this link:
https://docs.microsoft.com/en-us/azure/azure-stack/azure-stack-sql-resource-provider-deploy

[2018-05-18 10:08] jjindrich commented on #8716
Any update ?

[2018-05-18 10:10] marco-bue commented on #5247
Still receiving Access Denied 401, even with the "https://api.labs.cognitive.microsoft.com" url.

[2018-05-18 10:11] BharathMannem opened #8834 "Unable to read the IISLOGs"
Selected IISLOG in Data, even after a day unable to collect the IISLOG

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de204b3b-563a-0a65-8f5a-456cc8335585
* Version Independent ID: 6b5c30b8-ae3b-12c0-6fd8-9a3d826795cd
* Content: [IIS logs in Azure Log Analytics](https://docs.microsoft.com/en-us/azure/log-analytics/log-

[2018-05-18 10:15] tomconte opened #8835 "Step 1 does not explain how to get the secret"
Step 3 says we need a client secret. But the previous steps do not explain how to generate it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85b1fba4-870b-1602-0d4f-6f50bdbfc370
* Version Independent ID: 93873b36-5f27-bd06-df23-804c38f21b37
* Content: [Azure AD Node.js web app getting started](https://docs.microsoft.c

[2018-05-18 10:32] manthan29 opened #8836 "Use of Diagrams"
Diagrams would make it simple to understand how every piece fits in, especially when multiple services and products are used together to achieve something like MFA.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75965afd-b39c-5bf0-bc9a-7520bddfd4af
* Version Independent ID: be56aebb-04fb-0518-017f-5a7115c8038b
* Conten

[2018-05-18 10:55] saachinvettiyattil opened #8837 "Cannot bind argument to parameter 'AbsoluteUri' because it is null"
While running the above script i get the following error:
Cannot bind argument to parameter 'AbsoluteUri' because it is null?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07bf8ea7-91db-de43-acf1-af16543971fd
* Version Independent ID: 22c2d984-0d21-b8f8-905a-dd173c171f86
* Content: [Azure PowerShell Script Sample -  E

[2018-05-18 11:30] dferrr opened #8839 "What is azure portal account simultanous login limit?"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-05-18 11:38] kevsterd commented on #7134
I get similar issues when installing on a RaspPi 3 using Raspian....  Device is fully patched and up to date.

Traceback (most recent call last):
  File "/usr/local/bin/iotedgectl", line 11, in <module>
    sys.exit(coremain())
  File "/usr/local/lib/python2.7/dist-packages/edgectl/__init__.py", line 23, in coremain
    version = pkg_resources.require(PACKAGE_NAME)[0].version
  File "/usr/local/li

[2018-05-18 11:43] ilyas-it83 opened #8840 "Elaborate "Requesting access to a VM""
Requesting access to a VM have to be further explained in detail with various practical scenarios. For e.g how a user of a VM without azure portal will request for access. Secondly how to request for access with just a reader role.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25f0758b-8274-d2b5-4702-2c7ca6b0b14a
* Ve

[2018-05-18 12:10] TWolverson opened #8841 "Why Mono?"
Could you please explain the purpose of the Mono.CSharp package in the documentation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da2b35b5-7b35-ea4f-acc2-27a04bf27ccc
* Version Independent ID: bd868c51-1685-f126-002c-d59d6ac0b345
* Content: [Create an HTTP Trigger with an Azure Cosmos DB input binding](https://docs.

[2018-05-18 12:46] igorkass opened #8842 "Cannot create a classic subnet via Azure CLI"
Hello!

Apparently, the documentation is outdated since the below command doesn't work for classic virtual networks:

azure network vnet subnet create -t TestVNet -n BackEnd -a 192.168.2.0/24

Is there any possibility to script the creation of subnets in classic virtual networks except of using XML import of the configuration?

---
#### Document Details

⚠ *Do not edit this section. It is required

[2018-05-18 12:47] abhishek-kumar-mishra opened #8843 "Highly Avaiable On-Prem VMs with Hybrid Connection"
I have a service hosted in IIS on a VM (within our enterprise network). We have configured Hybrid Connection from our App Service to this VM. And this works fine.

Now, we want to add redundancy to this VM and make it highly available. Could someone please provide me some pointers to establish that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2018-05-18 13:04] zhouwangzw commented on #7746
we just released the new Speech Service last week (https://docs.microsoft.com/de-de/azure/cognitive-services/speech-service/), which support microphone input too.

[2018-05-18 13:13] fpoe opened #8844 "SA Lifetime (Bytes) is incorrect"
We are fairly certain the SA Lifetime (Bytes) listed here is 819,200 which is incorrect. The correct value is 34358689792.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51d3baac-0bee-0ebf-274a-d2da1ce0c82a
* Version Independent ID: 921db0bd-747e-f2b9-e48d-be9e3ea153f8
* Content: [VPN gateway settings for Azure Stack](

[2018-05-18 14:17] Brenduns commented on #8844
@fpoe   Hello, and thank you for this feedback. I'm investigating the value you've noted with our product group to validate this. When we have information to share about this, we'll send an update.

[2018-05-18 14:35] turbolego opened #8846 "Nothing happens when i try to run the sample code."
I followed this tutorial, and when i got to the ["Configure client code for real device"](https://docs.microsoft.com/en-us/azure/iot-central/tutorial-add-device#configure-client-code-for-real-device) section and ran `node ConnectedAirConditioner.js` nothing happens. No errors and no temperature data.

I have double checked that my Primary connection string is correct, and that i'm using a "real de

[2018-05-18 14:41] darkstone commented on #8762
This is what I see if I click on the link:

[image: image.png]

On Thu, May 17, 2018 at 8:22 PM Celeste de Guzman <notifications@github.com>
wrote:

[2018-05-18 14:46] billmath commented on #8662
@PurpleFuton good catch.  I have updated the screenshot and it should be live later today.  Thanks again!

#please-close

[2018-05-18 14:52] Mike-Ubezzi-MSFT commented on #8822
@EstebanSmits Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-18 14:53] billmath commented on #8604
Okay, I don't see "sing on" in the doc so this may have been corrected.  And I am not sure what the additional ask is here.  Can someone clarify this.  Thanks!

[2018-05-18 14:58] billmath commented on #8486
@MGamil-MSFT thank you for submitting this.  I have created a work item for this, as this is going to require me to get some verification from the engineering team.  At this point I am going to close the issue and I will re-open this once I have an updated.  Thanks again!

[2018-05-18 14:59] billmath commented on #8486
#please-close

[2018-05-18 14:59] Mike-Ubezzi-MSFT commented on #8841
@TWolverson Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-18 15:00] Mike-Ubezzi-MSFT commented on #8841
Reference: [Mono 4.0.0 Release Notes](http://www.mono-project.com/docs/about-mono/releases/4.0.0/#c)

[2018-05-18 15:01] billmath commented on #8485
@ivratche Thank you for this.  I am following up with the PM on this.

[2018-05-18 15:03] tdykstra commented on #8821
See the Service Bus binding ref doc:  https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-service-bus
You could use a Service Bus trigger with a Service Bus output binding.  The [output-usage section of the binding ref doc](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-service-bus#output---usage) gives you several options that let you create a new

[2018-05-18 15:08] superkid200 commented on #7850
I'm the admin!

[2018-05-18 15:11] billmath commented on #8394
@KjetilEVRY I just verified that Group writeback is still in preview.  What version of the tool are you using?

[2018-05-18 15:12] billmath commented on #8284
@chwilfing thank you for this.  I am following up with the PM on this.

[2018-05-18 15:14] billmath commented on #6684
I am following up with the PM on this.

[2018-05-18 15:36] seanmck commented on #8749
In the syntax you showed, the file is not copied. It is simply mapped to that location in the container. You can do the same thing here by specifying the `--azure-file-volume-mount-path`. Are you not seeing the files from your file share available at that location from within the container?

[2018-05-18 15:43] tfitzmac commented on #8748
@sabbour - I added a couple of sentences that clarify when templateLink is available. Thanks for bringing up this issue.

#please-close

[2018-05-18 15:47] flarosa commented on #8721
No, I’m not sure.

I do not believe I have ever heard of the “new unified speech service”.

The resource I created is subscribed to “Cognitive Services”.

[2018-05-18 15:54] cloudvae opened #8848 "No Functions defined in the schema file. Is the schema file out of sync?"
checking the most current schema: https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json, there is no Functions property defined in the schema. Could you clarify what happened here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0eb51e04-9b4e-c22d-be8c-4ddf4a59a100
* Version Independent ID: 2390

[2018-05-18 15:59] tfitzmac commented on #7753
@brushwood24 - I ran some tests on a modified version of your template, and it has run several times without an error. If Resource Manager determines that no changes to the properties are being made to an existing resource, then it takes no action when re-deploying a template. So, I would suggest looking at a couple of changes. First, I think the use of createMode and sourceDatabaseId in your prim

[2018-05-18 16:03] CarlRabeler commented on #8710
done
#please-close

[2018-05-18 16:12] Mike-Ubezzi-MSFT commented on #8710
@cybermohr We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-18 16:12] #8710 closed

[2018-05-18 16:15] Mike-Ubezzi-MSFT commented on #6739
Merged https://github.com/MicrosoftDocs/sql-docs-pr/pull/5418

[2018-05-18 16:19] SaurabhSharma-MSFT commented on #8818
@anwather Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-18 16:25] MicahMcKittrick-MSFT commented on #8818
@anwather I also answered on the other thread.

But there should not be any increased costs for snapshots of managed disks.

[2018-05-18 16:25] #8818 closed

[2018-05-18 16:27] SaurabhSharma-MSFT commented on #8820
@SatyandraV-MSFT Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-18 16:29] SaurabhSharma-MSFT commented on #8827
@roneto Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-05-18 16:29] Phydeauxman opened #8850 "Steps for creating Hyper-V Site missing"
This document talks about needing to create a Hyper-V Site and references another tutorial that is not part of the documentation set.  There is no instruction about how to obtain the Site Recovery Key File.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f09250c3-f338-5ed0-9b83-fbf66e1ed48d
* Version Independent ID: 159

[2018-05-18 16:29] tompostler commented on #8821
Wow I just missed that... Thank you!

[2018-05-18 16:29] #8821 closed

[2018-05-18 16:31] SaurabhSharma-MSFT commented on #8830
@CrazeeIvan Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-18 16:33] wolfma61 commented on #8721
I heard that the description on how to acquire a subscription key is getting updated ... although this isn't helping you...

Here is the quickstart page: https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/quickstart-csharp-windows
on that page select 'prepare to use speech services' : https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/get-started
on that

[2018-05-18 16:40] neilpeterson commented on #8716
@jjindrich - the issue has been identified and a fix is on the way. Here is the issue on the products issue tracker:

https://github.com/Azure/AKS/issues/221

I am going to go ahed and close this doc issue in favor of the product issue.

Thanks

#please-close

[2018-05-18 16:43] #8716 closed

[2018-05-18 16:45] MicahMcKittrick-MSFT commented on #8832
@Expecho Thanks for the question! We are investigating and will update you shortly.

[2018-05-18 16:45] MicahMcKittrick-MSFT commented on #8837
@saachinvettiyattil Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-18 16:47] SaurabhSharma-MSFT commented on #8807
@eggbeard Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-18 16:53] zia001s4 commented on #8462
$appname
Parameter was $false because of that it is not creating the Aadapp.
Make it $true it will work.

[2018-05-18 16:55] SaurabhSharma-MSFT commented on #8835
@tomconte Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-18 16:57] SaurabhSharma-MSFT commented on #8819
@gerardwolf Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-05-18 16:59] SaurabhSharma-MSFT commented on #8486
@MGamil-MSFT We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-18 16:59] #8486 closed

[2018-05-18 17:00] SaurabhSharma-MSFT commented on #8662
@PurpleFuton We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-18 17:00] #8662 closed

[2018-05-18 17:00] SaurabhSharma-MSFT commented on #8748
@sabbour We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-18 17:00] #8748 closed

[2018-05-18 17:03] Goddess-Bastet opened #8851 "Need an option to sync entries when we add a new one."
I’m using the app on several iOS devices & while it’s good to be able to backup the entries for install on a new device I’d like to be able to resync the entries whenever I add a new entry so that it appears on all my devices without resorting to uninstalling the app & re-adding it.
Also having the newly installed app set itself a the main backup after recovering the entries seems to be a strange

[2018-05-18 17:04] muradakram commented on #8462
I am not creating a new "aadApp" I am using am existing one.

[2018-05-18 17:05] YutongTie-MSFT commented on #8721
@flarosa We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

@wolfma61 Thank you for your help.

[2018-05-18 17:05] #8721 closed

[2018-05-18 17:06] YutongTie-MSFT commented on #8678
@marcritchie We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-18 17:06] #8678 closed

[2018-05-18 17:06] YutongTie-MSFT commented on #8766
@baldepro  We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-18 17:06] #8766 closed

[2018-05-18 17:09] BryanTrach-MSFT commented on #8843
@abhishek-kumar-mishra Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-18 17:10] BryanTrach-MSFT commented on #8829
@dunxz Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-18 17:11] BryanTrach-MSFT commented on #8831
@smoms Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-18 17:12] TravisCragg-MSFT commented on #8794
@frfriel Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-18 17:12] SaurabhSharma-MSFT commented on #8823
@JoNevi Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-18 17:16] tamram commented on #8807
@saurabhsensharma - please see my note above.

#please-close

[2018-05-18 17:18] SaurabhSharma-MSFT commented on #8807
@eggbeard We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-18 17:18] #8807 closed

[2018-05-18 17:20] tfitzmac commented on #7563
@Anmolgan81 - Product announcements are made through the [Azure roadmap](https://azure.microsoft.com/en-us/roadmap/). There are no announcements right now related to moving managed disks.

[2018-05-18 17:25] SaurabhSharma-MSFT commented on #8836
@manthan29 Thanks for your feedback.  You can find the diagram at
[How Azure Multi-Factor Authentication works](https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-mfa-howitworks)

[2018-05-18 17:26] TravisCragg-MSFT commented on #8826
@antony-chan Could you please verify that there is not already a gateway attached to the virtual network? Also, please verify that your Azure PowerShell is up to date.

[2018-05-18 17:27] neilpeterson commented on #7420
@cpressland - updates are completed to address this issue.

[2018-05-18 17:29] SaurabhSharma-MSFT commented on #8840
@ilyas-it83 Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-18 17:32] TravisCragg-MSFT commented on #8825
@Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-18 17:34] ChrisStewart77 opened #8854 "How to add new Machines to an existing schedule?"
The document doesn't help list how to add machines to an existing update schedule.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85ab2afa-e9e7-f897-eebd-4c46c45c1215
* Version Independent ID: 994a3147-4c52-b74c-3227-35d6c46ef470
* Content: [Manage updates for multiple Azure virtual machines](https://docs.microsoft.com

[2018-05-18 17:34] CelesteDG commented on #8762
Hello @darkstone - I think you posted an image, but I'm seeing a copy of the thread we've got here in GitHub instead. Do you have a different screenshot that we can take a look at? Thank you.

[2018-05-18 17:36] olena-microsoft commented on #8851
Hi, thanks for your suggestions. We'll definitely consider adding sync functionality in future versions.

For your second piece of feedback, would you expect your previous device to maintain the backup? Or would you expect a prompt after recovering asking which device you want to be the main backup?

Thanks for using Microsoft Authenticator!

[2018-05-18 17:39] mumian commented on #7923
@joymon The portal interface only shows the virtual network name.  I will correct the article.  You can open the virtual network by clicking the link, then you can explore the subnets from there.

#please-close

[2018-05-18 17:39] woodrum commented on #6952
When you upgrade the subscription to this, it would appear I cannot select LRS storage for the backup account.  I don't see that documented - is this expected behavior?  I have another subscription that I didn't upgrade yet and I can control LRS vs. GRS for that recovery services vault.  I upgraded a development subscription, so LRS storage is all I would need, this isn't for full production.  Tha

[2018-05-18 17:41] aaronralls opened #8855 "Azure Point-in-time restore fails with no description"
When attempting a Point-in-time restore it fails with a generic message with no details as to why it may have failed.
"Restoring SQL database failed in resource group YOUR_RESOURCE_GROUP_NAME."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de79f464-39dc-a5ad-0d9d-fab2ed248222
* Version Independent ID: 6cf17fc7-3bdd-c4

[2018-05-18 17:45] daveba commented on #8096
@MohitGargMSFT Please assign this to the feature PM, @arluca.  He will respond.  Thanks.

[2018-05-18 17:50] DashingNelson commented on #8749
Yes but it's not being mapped

[2018-05-18 17:53] TravisCragg-MSFT commented on #8842
@igorkass are you using [Azure CLI 1.0](https://docs.microsoft.com/en-us/cli/azure/install-cli-version-1.0?view=azure-cli-latest) when using the CLI to manage classic resources.

You can use the following command to check your current version:

[2018-05-18 17:56] femsulu commented on #8828
@SebastianSchuetze Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-05-18 17:56] vasivara-MSFT commented on #8834
@BharathMannem Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-18 17:57] femsulu commented on #8848
@cloudvae Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-05-18 17:57] vasivara-MSFT commented on #8705
@nageshVutukuru
Since we haven't received a reply for two days, We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-18 17:57] #8705 closed

[2018-05-18 17:57] vasivara-MSFT commented on #8805
@gerardwolf We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-18 17:57] #8805 closed

[2018-05-18 17:58] TravisCragg-MSFT commented on #8824
@antony-chan I see that this is a duplicate of [this issue](https://github.com/MicrosoftDocs/azure-docs/issues/8826), and I will proceed to close this thread.

[2018-05-18 17:59] Adam-Smith-MSFT commented on #8850
@Phydeauxman Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-18 18:00] vasivara-MSFT commented on #8803
@bmilbauer Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-18 18:14] charwen commented on #8826
@antony-chan in the past, you must create VPN gateway first. We're rolling out the code to remove this limitation. Our doc is a bit ahead of our code rollout. For now, please create ER gateway first.

[2018-05-18 18:15] mrbullwinkle commented on #6998
@spottedmahn thank you so much for the suggestion. That query would look something like:
[code]
I have added a PR that adds an example for requests that uses the basic format above. The PR is merged and will go-live around 3 PM. Thanks again for helping us improve our docs!

[2018-05-18 18:16] mrbullwinkle commented on #6998
#please-close

[2018-05-18 18:18] spottedmahn commented on #6998
thanks 🙏 @mrbullwinkle!

[2018-05-18 18:18] #6998 closed

[2018-05-18 18:19] MicahMcKittrick-MSFT commented on #8832
@masnider can you chime in on this?

[2018-05-18 18:20] Brenduns commented on #8844
@fpoe    At this time we have an active doc bug in our backlog to investigate and drive for a fix on this.  Because we have this tracked in our bug tracking system, we'll need to close this GitHub issue.  Thanks for bringing this to our attention, and keep an eye on the content in the days ahead.   While I don't have an eta for a content update, as that is still under investigation, the article wi

[2018-05-18 18:21] MicahMcKittrick-MSFT commented on #8837
What is the output if you run the following:

[code]

Then if you run $sas.AccessSAS

[2018-05-18 18:27] olena-microsoft commented on #8851
Thanks for your feedback and suggestions! We'll definitely keep this in mind as we design future versions.

[2018-05-18 18:29] CeciAc commented on #5683
@SunnyDeng #please-close

[2018-05-18 18:33] rbrussaard commented on #8640
Yes, And if I find any issues in the future I will (try to) provide possible fixes.

[2018-05-18 18:34] femsulu commented on #8854
@ChrisStewart77 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-05-18 18:34] rboucher commented on #5714
@jason-j-MSFT  Can you close this issue?  @liangqui12354 if this is still a problem, open a new issue and I'll look into it further.

[2018-05-18 18:36] rboucher commented on #5942
@MicahMcKittrick-MSFT  can you close this issue?  @whytoe You are welcome to reopen it or create a new issue if this is still problem.  I just need some clarification as mentioned above.

[2018-05-18 18:39] KumudD commented on #8758
Fixed.

#please-close

[2018-05-18 18:41] woodrum opened #8859 "Best Practices for Managed Disks?"
The Best Practices section speaks mainly of classic disks in a storage account (at least that's how I'm interpreting it).  Outside of not scheduling more than 40 ARM VM's, are there any best practices for ARM VM's with managed disks?  i.e. - Only configure x number of managed disks per recovery services vault, etc?  I'm assuming it's 40 ARM VM's as the line above states 10 classic VM's.  Thank you

[2018-05-18 18:45] rwike77 commented on #8007
@petertiedemann I've made [some updates](https://docs.microsoft.com/azure/service-fabric/service-fabric-service-model-schema) which makes it easier to consume this content.  I broke the single flat file up into several smaller articles and have also added a lot more linking between types.  I'll continue to make updates as I can, hopefully this helps a lot.  #please-close

[2018-05-18 18:48] cezane opened #8860 "Types of ConnectionAuthMethod"
I think it is missing the X509 certificate type of authentication method in the following JSON:

[code]

If I am right, this JSON should be updated to something like this:

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 245b8dbe-fbf6-484f-43a2-64aa315ebe2b
* Version Independent ID: d4b99500-0b73-20d3-ebc4-a2d42ad

[2018-05-18 18:49] thx1200 opened #8861 "StorageType parameter has wrong values"
It should be StandardLRS or PremiumLRS, there is no underscore.

New-AzureRmDiskUpdateConfig : Cannot bind parameter 'SkuName'. Cannot convert value "Standard_LRS" to type
"Microsoft.Azure.Management.Compute.Models.StorageAccountTypes". Error: "Unable to match the identifier name
Standard_LRS to a valid enumerator name. Specify one of the following enumerator names and try again:
StandardLRS, Prem

[2018-05-18 18:51] #5683 closed

[2018-05-18 18:53] #5714 closed

[2018-05-18 18:55] vasivara-MSFT commented on #7923
@joymon We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-18 18:55] #7923 closed

[2018-05-18 18:58] woodrum commented on #8859
Sorry - didn't see the closed note on roughly the same topic... will follow those URL's.

[2018-05-18 19:00] #5942 closed

[2018-05-18 19:00] #8007 closed

[2018-05-18 19:06] tlmii commented on #8362
Could we get some more information on what it takes to do this with PDFs? I'm not sure I understand the steps involved to, say, have it process a series of PDFS comprised of both text and images, and pull out all the text AND all the text within the images into the index.

[2018-05-18 19:14] rwike77 commented on #8380
@uncarlo Did you create the application by following the steps in the tutorial, or did you download the sample app from GitHub?

[2018-05-18 19:28] mumian commented on #7060
@datarelish I was able to reproduce the error.  I will update the article today.

#please-close

[2018-05-18 19:29] MohitGargMSFT commented on #8851
@olena-microsoft Thanks for addressing the feedback.

@Goddess-Bastet Please post this as a feedback @ https://feedback.azure.com/forums/169401-azure-active-directory This will allow the community to upvote and for the product team to include into their plans. We also have the "Give Product Feedback" button in our documents now to take you directly to the appropriate feedback page.

[2018-05-18 19:30] MohitGargMSFT commented on #8666
@ppassin We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-05-18 19:30] #8666 closed

[2018-05-18 19:30] rwike77 commented on #8712
@nzregs Thanks, that's a good suggestion.  I'm adding this info to the article.

[2018-05-18 19:32] MohitGargMSFT commented on #8677
@hydrogen2oxygen We will now proceed to close this thread. As already mentioned above, please post the forum link here that will help me monitor that thread.

[2018-05-18 19:32] #8677 closed

[2018-05-18 19:32] #8690 closed

[2018-05-18 19:35] MohitGargMSFT commented on #8715
@uttampcu I do agree and have put my vote in for the feedback. I will now proceed to close this thread. Thanks.

[2018-05-18 19:35] #8715 closed

[2018-05-18 19:38] Mike-Ubezzi-MSFT commented on #8855
@aaronralls Thanks for the feedback. We are actively investigating but, we did want to ask if you currently hold an active Azure support plan?

[2018-05-18 19:39] aaronralls commented on #8855
Yes my company, Goodyear, has a support plan.

[2018-05-18 19:46] MohitGargMSFT commented on #8744
@hosebei Please note that its already mentioned in the referred [section](https://docs.microsoft.com/en-us/azure/active-directory/connect/active-directory-aadconnect-topologies#each-object-only-once-in-an-azure-ad-tenant ) as part of restrictions that Windows 10 devices can be associated with only one Azure AD tenant.

[2018-05-18 19:48] MohitGargMSFT commented on #8772
@CelesteDG Thanks for the documentation link.

@AggieCMD We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-05-18 19:48] #8772 closed

[2018-05-18 19:51] SaurabhSharma-MSFT commented on #8327
@legwind  Please follow the [Azure AD self-service password reset rapid deployment](https://docs.microsoft.com/en-us/azure/active-directory/authentication/quickstart-sspr) to modify the authentication methods, number of questions and update security questions.

[2018-05-18 19:53] MohitGargMSFT commented on #8776
@cabtilx I have assigned the issue to the author to investigate and update as appropriate.

[2018-05-18 19:55] SaurabhSharma-MSFT commented on #8704
@mdaghrir I am still looking into this and inform you as soon as I have any updates.

[2018-05-18 20:02] BryanTrach-MSFT commented on #8775
@cephalin Ah, thank you for that.

I created a commit but I don't appear to have write permission to this repro to complete the merge request. Is this something you can please sign off on?

[2018-05-18 20:04] SaurabhSharma-MSFT commented on #7060
@datarelish We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-18 20:04] #7060 closed

[2018-05-18 20:05] #8758 closed

[2018-05-18 20:06] johnalejandro001 opened #8863 "Move subscription attach from default tenant to another programatically"
Hi,

we managed a vast of accounts and multiples of Azure AD tenants. So it will be really handy if there a way to do detach a new subscription to another tenant from Powershell.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ce7d1e8-e4b9-6152-4fbe-5d3f3d9f0583
* Version Independent ID: 7676911e-6a80-06f1-b429-a3ce399

[2018-05-18 20:07] uncarlo commented on #8380
I created following the steps in the tutorial and copy / pasting most of the code.

[2018-05-18 20:17] #8828 closed

[2018-05-18 20:19] johnwildes opened #8864 "VMware PowerCLI step."
I think it would be prudent to mention the version of the PowerCLI step from where it currently resides to just before the user starts the Azure Migrate collector.  The reason for this is that the web app that starts does do a verification for it, but if it's a pre requisite, why not mention it before the collector starts?  This way it's configured and ready to go.

I tried to make this edit actua

[2018-05-18 20:20] BryanTheCrow opened #8865 "Need benchmarks for all the other available instances (and newer generations)."
Can disk (io + read + write + random read/write) and compute benchmarks be posted for EVERY available instance? There are so many more options available than what's listed here. I'm especially concerned with gen 5 generation vCore's being counted by hyper-thread vs physical core... does this effectively mean the price is doubling with v5 vCores? Or do the hyperthreaded vCores actually perform on p

[2018-05-18 20:20] tfitzmac commented on #8828
@SebastianSchuetze - thanks for the suggestion. I fixed the casing to avoid any warnings in the json editors.

[2018-05-18 20:25] krptodr opened #8866 "Last Sectence pointing to link is incorrect"
The link provided in the last sentence, does not go to anything about routing. Please update the source to properly navigate to an article about "Routing within a virtual machine operating system with multiple network interfaces."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b499169-b434-145d-f65a-cae6a0c6d0fa
* Ver

[2018-05-18 20:26] MicahMcKittrick-MSFT commented on #8861
@thx1200 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-18 20:28] Mike-Ubezzi-MSFT commented on #8753
Reference:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31804a1d-4c4f-70e6-556c-66c533e9b3e3
* Version Independent ID: 78f9ac38-1463-c263-2add-63d7dcaab0bc
* Content: [Using SQL databases on Azure Stack](https://docs.microsoft.com/en-us/azure/azure-stack/azure-stack-sql-resource-provider-deploy)
* Content Source: [ar

[2018-05-18 20:31] aaronralls commented on #8855
I have two questions:

1.) Should this documentation discuss why failures commonly occur?
2.) Should the Azure Portal Interface be improved to clearly state why a restore fails?

[2018-05-18 20:32] MicahMcKittrick-MSFT commented on #8861
@thx1200 thanks for the find! I updated the doc. Once the changes merge this issue will close.

[2018-05-18 20:33] jeffgilb commented on #8753
Hi there, unfortunately we cannot provide technical support via these GitHub issues. I encourage you to visit the Azure Stack forum at https://social.msdn.microsoft.com/Forums/en-US/home?forum=azurestack or to open a service ticket for technical support.

[2018-05-18 20:33] jeffgilb commented on #8753
@please-close

[2018-05-18 20:38] MicahMcKittrick-MSFT commented on #8343
@SamirFarhat I am working on this with the product group offline. I will update you as soon as I have a concrete answer.

[2018-05-18 20:39] Mike-Ubezzi-MSFT commented on #8855
@aaronralls Completely agree. So, the initial step is to have the issue investigated. Once root cause is identified, please update this with a support summary. The documentation could use an update with regard to most common errors.
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.
Regards,
Mike

[2018-05-18 20:41] SaurabhSharma-MSFT commented on #8820
@SatyandraV-MSFT You need Azure Active Directory Premium for the Hybrid Azure AD join.  If you have EMS licensing plan it comes with AD Premium P1/P2.  Please refer to the document [Quickstart: Sign up for Azure Active Directory Premium](https://docs.microsoft.com/en-us/azure/active-directory/active-directory-get-started-premium)

[2018-05-18 20:44] Mike-Ubezzi-MSFT commented on #8753
@arieapriadi We will now proceed to close this thread. If there are further questions regarding this matter, please go to the [MSDN Azure Stack Forum](https://social.msdn.microsoft.com/Forums/en-US/home?forum=azurestack) to present this issue or create a service ticket with Azure Support.

Regards,
Mike

[2018-05-18 20:44] #8753 closed

[2018-05-18 20:47] tugup commented on #8343
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-get-started-containers#specify-os-build-specific-container-images. Look at this documentation. For Linux you can leave the Os tag empty and we will use whatever imageName you provided in the ImageOverrides. To override it you can specify it as <Image Name="[SomeImageName]" /> and then pass in the SomeImageName as an application p

[2018-05-18 20:48] Mike-Ubezzi-MSFT commented on #8661
@dml5 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-18 20:48] #8661 closed

[2018-05-18 20:49] MohitGargMSFT commented on #8779
@danbtl Please note that the`[ Single sign-out](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-protocols-openid-connect-code#single-sign-out)` section does provide steps on how to set logout URL in the portal.

[2018-05-18 20:57] MohitGargMSFT commented on #8792
@marmstrong94 We will now proceed to close this thread. As mentioned above, please post the forum URL here so that I could monitor and ensure necessary guidance is provide on it.

[2018-05-18 20:57] #8792 closed

[2018-05-18 20:58] danbtl commented on #8779
@MohitGargMSFT The documentation is missing a description of the **parameters** that are sent when this URL is called.

It's not possible to implement this without knowing the exact parameters.

[2018-05-18 20:59] CelesteDG commented on #8162
@Akshayvh94 - Let us know if you have any other questions. Thank you.

Thank you for the response, @andretms

@SaurabhSharma-MSFT @MohitGargMSFT - I think we can close this issue. Thank you. #please-close.

[2018-05-18 21:01] MohitGargMSFT commented on #8830
@CrazeeIvan Please note that command get-azureadgroup -ObjectId works as expected for me.

![s1](https://user-images.githubusercontent.com/32749549/40257697-ff444b06-5aa3-11e8-8efa-0f7ef2a0d246.JPG)

[2018-05-18 21:05] SaurabhSharma-MSFT commented on #8814
@anthrox I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-05-18 21:07] monteledwards commented on #8779
1. Azure makes a GET request to the LogoutURL, this is documented.
2. What we do not know is what exactly is being sent to the logout url. What would be appropriate is a sample payload that is sent to the Loguout url, so we can design out applications appropriately.

[2018-05-18 21:08] #7459 closed

[2018-05-18 21:10] CelesteDG commented on #8779
Thank you, @danbtl and @monteledwards for the additional info. I'm looping in @hpsin to help provide some answers and I'll update the docs based on his input and the discussion here.

[2018-05-18 21:10] jkirubakaran opened #8868 "Oracle JDK 8 does not work"
The documentation is easy to mis-read for the java requirements. The link to Java takes you to Azul JDK (Open JDK) but the link just says Java JDK 8. I interpreted that to mean that Oracle Java JDK 8 was ok also. When using the Oracle JDK mvn deploy will throw the following cryptic error :
The server encountered an unknown failure: : sun.security.validator.ValidatorException: PKIX path building fa

[2018-05-18 21:16] vhorne commented on #8794
@frfriel

The file link has been fixed. However, the New-AzureRmVss issue you raised needs to be investigated further.

[2018-05-18 21:16] timtay-microsoft opened #8869 "'#' character not allowed in twin properties as well"
In this doc, it mentions all the characters that are allowed in a valid twin property. The service does not currently allow the character '#', but this article doesn't mention it.

See this github issue on the Java SDK for the error message from the service that confirms this:
https://github.com/Azure/azure-iot-sdk-java/issues/243

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2018-05-18 21:32] TravisCragg-MSFT commented on #8825
@DmitriyVityuk The main difference between the SKU sizes is the amount of throughput that the gateway can handle. If your gateway cannot handle the traffic that your application requires, it can cause performance issues & intermittent request failures. You can easily resize your app gateway at any time from the Azure Portal under "Configuration".

I have assigned the issue to the content author to

[2018-05-18 21:34] mike-urnun-msft commented on #8829
@dunxz Any changes made in application settings will be injected to your application code at runtime automatically, without requiring any manual action from your end.

Check out following resources to learn more:
- https://blogs.msdn.microsoft.com/cjaliaga/2016/08/10/working-with-azure-app-services-application-settings-and-connection-strings-in-asp-net-core/
- https://azure.microsoft.com/en-us/res

[2018-05-18 21:44] johnwildes commented on #8281
What's happening for me is that the "time-generated-field" = $TimeStampField; line my variable is NULL at debug time.  Apparently it doesn't like null, the documentation mentions that if you DO NOT INCLUDE a timegenerated variable that the API just adds the time ingested to the data when it hits Log Analytics.  I think what should happen is that it should say "remove" or comment this line out if y

[2018-05-18 21:45] TravisCragg-MSFT commented on #8866
@krptodr Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-18 21:47] tfitzmac commented on #8848
@cloudvae - thanks for the question. User-defined functions are a new feature, and will be added to the schema soon.

#please-close

[2018-05-18 21:49] femsulu commented on #8694
@Anmolgan81, Do you have any additional questions or was the above steps helpful?

[2018-05-18 21:55] SamirFarhat commented on #8343
Thanks. I will give it a try and reply. 1000 thanks

[2018-05-18 22:05] SaurabhSharma-MSFT commented on #8860
@cezane Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-05-18 22:25] SaurabhSharma-MSFT commented on #8162
@Akshayvh94 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-18 22:25] #8162 closed

[2018-05-18 22:34] BryanTrach-MSFT commented on #8843
@abhishek-kumar-mishra If you are looking to make your web app highly available, we would suggest looking into [Azure Traffic Manager (ATM)](https://docs.microsoft.com/en-us/azure/traffic-manager/traffic-manager-monitoring).

If you are looking to make your [VM highly available](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/manage-availability), I would suggest looking into VM av

[2018-05-18 22:34] #8843 closed

[2018-05-18 22:45] BryanTrach-MSFT commented on #8831
@smoms Please note that this document is for the older App Service Environment Version 1. The pricing page that you reference is for the newer App Service Environment Version 2, which supports more instances and uses the Isolated tier instances.

I would suggest reading through [this document](https://docs.microsoft.com/en-us/azure/app-service/environment/intro), which discusses App Service Enviro

[2018-05-18 22:45] #8831 closed

[2018-05-18 22:46] SaurabhSharma-MSFT commented on #8863
@johnalejandro001 Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-18 22:47] SaurabhSharma-MSFT commented on #8848
@cloudvae We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-18 22:47] #8848 closed

[2018-05-18 22:55] rwike77 commented on #8067
@samiam236  Hi, to answer your first question I've added a sample that shows how to [connect using the certificate thumbprint](https://docs.microsoft.com/azure/service-fabric/service-fabric-connect-to-secure-cluster#connect-to-a-cluster-using-powershell).  Hope that helps.

[2018-05-18 23:01] cfarre opened #8873 "error following this tutorial"
I followed the tutorial and when i try to execute the cell below is the error i am getting
Current State: INITIALIZING
Thread State: RUNNABLE
	at org.apache.spark.sql.execution.streaming.StreamExecution.org$apache$spark$sql$execution$streaming$StreamExecution$$runStream(StreamExecution.scala:307)
	at org.apache.spark.sql.execution.streaming.StreamExecution$$anon$1.run(StreamExecution.scala:201)
Ca

[2018-05-18 23:05] Mike-Ubezzi-MSFT commented on #8647
@tarunendra Can you please point out what you expect to see. This tutorial takes you through several steps to create a table, write to the table, as well as query the table.

[Create a table](https://docs.microsoft.com/en-us/azure/cosmos-db/table-storage-how-to-use-dotnet#create-a-table)

// Retrieve the storage account from the connection string.
CloudStorageAccount storageAccount = CloudStorageA

[2018-05-18 23:07] rwike77 commented on #8067
There are a number of ways to generate a cluster certificate.  For a production cluster, you should get a certificate from a certificate authority.  For test clusters you can use a self-signed certificate.  add-azurermservicefabricclustercertificate cmdlet is one way to create a self-signed cert.  new-azurermservicefabriccluster cmdlet will also create one for you.   The Service Fabric SDK provide

[2018-05-18 23:09] rwike77 commented on #8712
Content changes are live:  https://docs.microsoft.com/azure/service-fabric/service-fabric-get-started-containers#configure-communication

#please-close

[2018-05-18 23:14] CelesteDG commented on #8835
Hello @tomconte - I looked at the config.js file (from the GitHub sample) and in the exports.creds section it notes to put the `clientSecret` if you are doing code or id_token code. I found this article, https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-create-service-principal-portal#get-application-id-and-authentication-key, which I think shows how to generate the `cli

[2018-05-18 23:33] #8712 closed

[2018-05-18 23:46] artisticcheese opened #8874 "Please provide instructions for stand alone cluster"
How can Service Fabric Explorer can be used to connect to standalone cluster based on Windows Authentication.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45d77d93-e6be-5626-19e3-052eb8b258a5
* Version Independent ID: b545b42a-ef6a-1b9d-6639-82f8b8f5dafa
* Content: [Visualizing your cluster using Azure Service Fabric

[2018-05-19 00:02] artisticcheese opened #8875 "Please provide information for workgroup scenario"
Please update docs for situation where cluster members are not part of AD and in a workgroup

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f9b50bd-66fd-a3d1-8b42-524e00b9a6c8
* Version Independent ID: 72a1d8c0-dfd4-6b96-9e44-7543b35dcdfb
* Content: [Secure a cluster running on Windows by using Windows security](https

[2018-05-19 00:12] MicahMcKittrick-MSFT commented on #8865
@BryanTheCrow Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-05-19 00:12] MicahMcKittrick-MSFT commented on #8868
@jkirubakaran Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-05-19 00:16] MicahMcKittrick-MSFT commented on #8343
Thanks @tugup!
@SamirFarhat I will close this for now but if you still see issues after attempting what was suggested please reopen and we can continue :)

[2018-05-19 00:16] #8343 closed

[2018-05-19 00:18] navyasric commented on #8835
Hi @CelesteDG Yes the article is missing the step to create a key in the register your app section.
The client secret here is the application key. You can find the step to create an application key here: https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-integrating-applications#to-add-application-credentials-or-permissions-to-access-web-apis

[2018-05-19 00:25] MicahMcKittrick-MSFT commented on #8875
@artisticcheese Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-05-19 01:58] femsulu commented on #8067
@samiam236
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-19 01:59] #8067 closed

[2018-05-19 02:05] femsulu commented on #8864
@johnwildes Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-05-19 02:11] femsulu commented on #8859
@woodrum thanks for the feedback and glad you were able to get the answer to your question.

[2018-05-19 02:11] #8859 closed

[2018-05-19 02:15] femsulu commented on #8873
@cfarre Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-05-19 02:55] PurpleFuton opened #8876 "Update User screenshot"
I think the database role membership for ADSync needs to have the db_owner checkbox ticked. The db_owner default schema isnt the same thing.
For the record, the process works fine with the above correction but (as expected) didn't when i used just the screenshot.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3874265a-

[2018-05-19 04:16] uranuran commented on #8128
Any updates?  otherwise I will switch to AWS to complete building my solution

[2018-05-19 04:25] MicahMcKittrick-MSFT commented on #8128
@Mike-Ubezzi-MSFT do you have any input on this one?

[2018-05-19 04:25] Mike-Ubezzi-MSFT commented on #8647
Also, while working in Visual Studio with the solution loaded, click on 'Run' (or the green arrow) and the project will execute. There is no .exe to launch.

[2018-05-19 04:26] MicahMcKittrick-MSFT commented on #6646
@ggantija if you are having issues with following this doc can you open a new issue so we can assist further?

[2018-05-19 04:37] Mike-Ubezzi-MSFT commented on #8128
The [Azure IoT User Voice](https://feedback.azure.com/forums/321918-azure-iot) forum might be the most effective communication channel. I did a quick search for wiringpi but did not see any existing posts. It is the best means for requesting features and functionality.

Regards,
Mike

[2018-05-19 05:00] amoghnatu opened #8877 "The implementation of CreateServicePrincipal is failing"
In the CreateServicePrincipal method, the start date and end date are being assigned to a variable and that is being passed while creating the AdCredential. This is failing with the error message "Key Credential End Date is invalid"

Instead, by directly providing the certificate start and end date in the corresponding start and end date parameters of the New-AzureRmADCredential cmdlet, it works p

[2018-05-19 05:02] jack12171992 opened #8878 "QnAMaker V4.0"
Hi, I was wondering if the QnAMaker v4.0 supports Generate Answer feature like v1.0 ~ v3.0 does?
Because I went to here: https://westus.dev.cognitive.microsoft.com/docs/services/5a93fcf85b4ccd136866eb37/operations/5ac266295b4ccd1554da75ff

and didn't find it.
I also tested that out in my bot app, and it responded to me with:
{ "error": { "code": "ResourceNotFound", "message": "The requested resour

[2018-05-19 06:18] SaurabhSharma-MSFT commented on #8605
@curtand I am also able to reproduce the same.  Can you please guide us on the same..

[2018-05-19 07:31] SnehaGunda commented on #8822
@EstebanSmits can you please elaborate more on what you mean by "MongoCredentials has been deprecated"?

I tested the sample and it works as is. SCRAM-SHA-1 mechanism works, I tried it with MongoDB.Driver version - v2.3.0.  Are you using a different version?

[2018-05-19 08:44] saachinvettiyattil commented on #8837
After running the script and then the command $sas.AccessSAS I dont get any output.

While running the whole script the error that i get is as follows:

Start-AzureStorageBlobCopy : Cannot bind argument to parameter 'AbsoluteUri' because it is null.
At line:1 char:51
+ ... obcopy=Start-AzureStorageBlobCopy -AbsoluteUri $sas.AccessSAS -DestCo ...
+

[2018-05-19 09:48] Goddess-Bastet commented on #8851
I have now done so @MohitGargMSFT   👍

[2018-05-19 12:12] rayne-wiselman commented on #8864
Thanks for your comment. It's not a prerequisite since setting up PowerCLI can only occur after the collector VM is created. Rather, it's a task when setting up the collector VM.

[2018-05-19 12:17] rayne-wiselman commented on #8850
Thanks for the feedback. Can you confirm which tutorial you mean that isn't in the documentation set? I don't see any reference to a tutorial that isn't part of the documentation. thx

Re the Site Recovery key file, if you're refering to the vault key that's needed to install the Provider, the instructions are in this section - https://docs.microsoft.com/en-us/azure/site-recovery/hyper-v-azure-tut

[2018-05-19 12:41] samiam236 commented on #8067
@rwike77 I appreciate the response. That's helpful. Thanks!

[2018-05-19 12:56] MrRoyce opened #8879 "WebApp URL throws service unavailable"
I created the webapp, deployment, etc, but the URL just shows 'service unavailable'.  The self-service diagnostics says the application is working fine.

Any ideas what to check next?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 681e10a1-05d3-5761-2afd-42602a7efecf
* Version Independent ID: f72e21b1-3530-8554-f1f1-fc

[2018-05-19 13:18] cloudvae commented on #8848
thanks for clarification. Any timelines to add this in schema?

[2018-05-19 13:33] jintux opened #8880 "Usage of scopes aren't really clear"
Halfway it says 'Scopes are used by the web API to implement scope-based access control. For example, some users could have both read and write access, whereas other users might have read-only permissions.'.
But eventually you ask read and write scopes from the client application. So any logged in user have read and write permission... ?

Could you give an example where scopes are validated agains

[2018-05-19 14:07] tanaka-takayoshi opened #8881 "external domain user can't be assigned by the documented steps"
In the "Configure role assignments for the VM" section, the document provides the following command to retrieve the user id.
[code]
However, this command doesn't work for the user who has a different domain with AAD.
For example, if the AAD has the domain "contoso.com" and the user has an external domain like "outlook.com". In this case, username looks like "live.com#user@outlook.com". Then the as

[2018-05-19 14:10] Phydeauxman commented on #8850
Under the section "Prepare the Source environment", these steps are not accurate. There was no previous tutorial to create the Site:

1. In Prepare Infrastructure, click Source.
2. Click +Hyper-V Site, and specify the name of the site created in the previous tutorial, ContosoHyperVSite.
3. Click +Hyper-V Server.
4. Download the Provider setup file.
5. Download the vault registration key. You need

[2018-05-19 14:33] Mike-Honey opened #8882 "Classic example of over-engineering and hopeless complex pricing."
We want to store some blobs.  Sounds simple, right? We dont want to have to read 14 minutes of complex info and still not understand what we should chose, how much we will be charged and why.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30c49a6b-e628-4aab-dc7f-fc88264b88f0
* Version Independent ID: 3da34196-ac73-5fd9

[2018-05-19 14:38] RickBullotta commented on #8128
All you need to do is update to the last wiringpi version in NPM.  The one that is included in the Azure IoT example is from 2015.

From: Mike Ubezzi [mailto:notifications@github.com]
Sent: Saturday, May 19, 2018 12:37 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Rick Bullotta <rick.bullotta@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-d

[2018-05-19 15:26] bwren commented on #8834
@BharathMannem Not sure this is a doc issue.  What kind of agents are you expecting data from?  Are you getting other data from the agents?

[2018-05-19 15:33] SaurabhSharma-MSFT commented on #8878
@jack12171992 Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-19 15:36] SaurabhSharma-MSFT commented on #8880
@jintux Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-19 15:47] SaurabhSharma-MSFT commented on #8879
@MrRoyce Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-19 16:05] DavidBerg-MSFT commented on #8865
We are in the process of updating the Windows benchmarks.  In the meantime, I believe you can answer most of your questions by comparing the ACU numbers in the SKU documentation or using the Linux benchmarks which were recently updated: https://docs.microsoft.com/en-us/azure/virtual-machines/linux/compute-benchmark-scores.

[2018-05-19 16:51] SaurabhSharma-MSFT commented on #8882
@Mike-Honey Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-19 16:52] SaurabhSharma-MSFT commented on #8881
@tanaka-takayoshi Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-19 16:54] SaurabhSharma-MSFT commented on #8877
@amoghnatu Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-19 17:29] neilpeterson commented on #8579
@rquackenbush - To me it looks like the steps in this doc are not creating a Swam mode cluster, rather and older Swarm cluster.

I believe the orchestration type should be `DockerCE`. Unfortunately, when changing the orchestrator type from `Swarm` to `DockerCE` cluster creating fails. I will follow up on my end but would also recommend looking at the [Docker for Azure](https://docs.docker.com/dock

[2018-05-19 18:06] neilpeterson commented on #8579
@rquackenbush - yep, looks like this doc is way outdated. Give this one a shot:

https://docs.microsoft.com/en-us/azure/container-service/dcos-swarm/container-service-swarm-mode-walkthrough

Thanks

[2018-05-19 18:06] mike-urnun-msft commented on #8829
@dunxz We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-19 18:06] #8829 closed

[2018-05-19 18:31] SeaDude opened #8883 "Unable to select Microsoft Azure Directory ID"
I created the service as outlined in "Set up a QnA Maker Service". When I login to qnamaker.ai, choose "create new kb", the dropdown for "Microsoft Azure Directory ID" is blank. No matter what I do I cannot get it to populate.

What am I missing?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1e4b8ec-6a23-bd20-b511-9c

[2018-05-19 18:51] cfarre commented on #8873
is there any other sample/tutorial that we can follow? we have a spark / iot hub project that we need to ramp up with. currently there is no guidance for us

[2018-05-19 19:58] douglaslMS commented on #7042
@nabhishek Do you have an update for this customer request? Otherwise, we will add the request for a new code sample to our backlog and close the issue.

[2018-05-19 20:08] douglaslMS commented on #8415
#in-progress

[2018-05-19 20:08] douglaslMS commented on #8437
#in-progress

[2018-05-19 20:29] douglaslMS commented on #8437
@xmark I've contacted the SSIS team to confirm the answer to your question and expect to respond soon.

[2018-05-19 20:29] douglaslMS commented on #8415
@netlander1 I've contacted the SSIS team to confirm the answer to your question and expect to respond soon.

[2018-05-19 20:57] darenm opened #8884 "Details regarding MAC and Firmware Version no longer accurate"
The instructions "Note down the DevKit MAC Address and DevKit Firmware Version values. " and entering them via the dps_cert_gen.exe is no longer necessary when generating an new x509.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57d1d61a-9a93-7979-d562-21c6b712c22e
* Version Independent ID: e485312b-15fd-b681-fd6c-85

[2018-05-19 20:59] lmolkova commented on #8706
@dyslexicanaboko

Thanks for your response!
I included into the sample, please check out the updated article: https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/application-insights/application-insights-console.md

Yes, you are right. We attempt to solve this complexity on ASP.NET and ASP.NET Core apps where all configuration is done via nuget package installation, instrumentation ke

[2018-05-19 21:07] TuroczyX opened #8885 "Microsoft Button"
Great content! It was quite easy to configure. I have only one minor issue.
When I use built in policy, the Microsoft button is nice a colorful like on this image:  https://img42.com/ccY3o+
But when I create a custom policy the Microsoft button is a dark. (On the other hand the Google button works properly) like on this image.
https://img42.com/kJALQ+

Do you have any idea, how can I turn on the o

[2018-05-19 21:58] ravneetgrewal opened #8886 "URL after publishing"
After publishing to the Cloud, the URL that you get (http://functionappXXXXXXX.azurewebsites.net) doesn't work if you append the /api/Function1?name=Ravneet

1. Created a new Serverless function in VS 2017 community
2. Build and run locally on http://localhost:7071/api/Function1?name=ravneet This works correctly

3. Published to my Azure account, got my URL like (http://functionappXXXXXXX.azureweb

[2018-05-19 22:55] MicahMcKittrick-MSFT commented on #8886
@ravneetgrewal Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-20 00:18] femsulu commented on #8656
@vhusker, Connect-AzureRmAccount is the correct cmdlet name starting with v5.3.0. For backward compatibility, Connect-AzureRmAccount has the following aliases.
Add-AzureRmAccount
Login-AzAccount
Login-AzureRmAccount
Users that have not upgraded to v5.3.0 or higher will not have Connect-AzureRmAccount and, therefore, will receive an error.
Here is how you upgrade: https://docs.microsoft.com/en-us/a

[2018-05-20 00:33] femsulu commented on #8727
@amanarneja , @tysonn , unable to find a service contact to action on this comment. Any ideas?

[2018-05-20 00:38] femsulu commented on #8709
@irshad365 , thanks for the update. I have shared your feedback with the content owner for further review.

[2018-05-20 01:44] SaurabhSharma-MSFT commented on #8885
@TuroczyX I am not able to see the image on both the links.  Can you share it as an attachment.

[2018-05-20 01:47] SaurabhSharma-MSFT commented on #8884
@darenm Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-20 01:49] SaurabhSharma-MSFT commented on #8883
@SeaDude Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-20 02:55] knightx12 opened #8888 "Git Repository not found"
Hi,

I am not able to find the Repository mentioned in the Documentation

`git clone https://github.com/Azure-Samples/storage-blobs-php-quickstart.git`

Link to Documentation: https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/storage/blobs/storage-quickstart-blobs-php.md

[2018-05-20 03:37] grhartt opened #8889 "publish script is missing a ""
$automationAccountName =  "AutomationAccount" #here in front of the AutomationAccount :)
$runbookName = "Sample_TestRunbook"
$RGName = "ResourceGroup"

Publish-AzureRmAutomationRunbook -AutomationAccountName $automationAccountName `
-Name $runbookName -ResourceGroupName $RGName

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-05-20 04:47] suzannepotter opened #8890 "Update"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-05-20 06:43] EstebanSmits commented on #8822
So for first question, screenshot.
![image](https://user-images.githubusercontent.com/1588767/40276337-2b1674b4-5bcd-11e8-8ad7-03d9ededa2e0.png)
For second question, when attempting to connect to an azure Cosmos DB that is configured to use the MongoDB API, it from what I can see hasn't accepted the SCRAM-SHA-1, however that could just be some configuration. Currently though, using the example was

[2018-05-20 08:09] cbgermany opened #8891 "IP address confusion"
At the start of the article you assign the front end load balancer addresses for the ASCS and ASCS ERS to 10.0.0.7 and 10.0.0.8 respectively.  Then when you actually create the virtual IP addresses for these services using pacemaker you use 10.0.0.11 and 10.0.0.12.  From my understanding the 10.0.0.11 and 10.0.0.12 would be the correct addresses to set in the front end load balancer configuration.

[2018-05-20 08:57] TuroczyX commented on #8885
Hi @SaurabhSharma-MSFT

With default policy it looks like this:
<img width="309" alt="original" src="https://user-images.githubusercontent.com/7687174/40277273-4be8d912-5c1c-11e8-849c-3d17b898507e.png">

And with custom policy
<img width="285" alt="custom" src="https://user-images.githubusercontent.com/7687174/40277274-5390a51e-5c1c-11e8-96a1-0ad1c98811de.png">

[2018-05-20 09:31] SylvesterLi opened #8892 "Simplified upload operation，better to provide an app"
It is really unfriendly to the new who are first time to get to Custom Voice. Better to improve this！Fighting！

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 226d3cc4-1eaf-ff04-ebf9-62aad1678c60
* Version Independent ID: 8803dd7e-94c4-c0b7-da73-053010d81d18
* Content: [Custom Speech Service overview on Azure](https://d

[2018-05-20 09:37] asingh1989 opened #8893 "Include Azure Stack Architecture with list of components in Doc"
Hello Team,

Awesome work is done here by making Azure stack Documentation simple and interesting. Adding to present documentation  I would like to request you to please include the Architecture diagram and the brief description of components description constituting   Azure stack (Example : (Windows server 2016 and system center 2016, Network Controller , Hyper -V , Optional System center 2016 co

[2018-05-20 09:43] asingh1989 opened #8894 "Overview (Include Azure Stack and Microsoft Azure Comparison )"
Hello Team,

Really enjoy the documentation written over here, would like to suggest to include the Azure stack and Microsoft Azure comparison section under overview tab to generate more interest in documentation.

Warm Regards,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 252f6566-4c07-66d6-885b-88820a9d130b
* Versi

[2018-05-20 09:46] asingh1989 opened #8895 "Azure Stack Usecases"
Hello Team,

Thanks to include use cases in which AzureStack can be useful for an organization under Overview Tab.
As it will attract user to give Azure stack a try.

Regards,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2956051d-6c07-7053-1f37-d16abcd81c52
* Version Independent ID: 252c2e0f-c99a-f400-8e1e-d28d202f47

[2018-05-20 09:59] ejazr83 opened #8896 "Hyperlink for RSA"
There is a hyperlink for third party integrations with Duo Security and Trusona but there is no hyperlink for RSA.

Can you please add a link to the Azure AD integration for RSA using custom controls?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e03d33c6-c60b-153c-bf76-a127be502170
* Version Independent ID: 7bbf1dc5-

[2018-05-20 12:03] uditagarwal commented on #8709
Tried with a few different options, even on videoindexer.ai's account-name but still it gives the request invalid issue. What's the accountId the APIs talking about?

[2018-05-20 13:28] BarsukovDmitrii opened #8898 "No HTTP response when run locally"
# Installed software
jdk: zulu8.30.0.1-jdk8.0.172-win_x64.msi
apache maven: 3.5.3
.net core runtime: runtime 2.0.6
.net core sdk: 2.1.4
nodejs: 8.11.2
azure-functions-core-tools@2.0.1-beta.26

# Executed commands
## Command 1
mvn archetype:generate ^
    -DarchetypeGroupId=com.microsoft.azure ^
    -DarchetypeArtifactId=azure-functions-archetype

[INFO] Scanning for projects...
[INFO]
[INFO] -----

[2018-05-20 15:32] MrRoyce commented on #8879
Thanks. my dev env - macOS High Sierra 10.13.4 and I originally tried to build a node.js 8.9 on linux stack and got service unavailable.  Note, I could not find a WebSocket option with this stack??

I then tried the default .net stack, that had the WebSocket option and got the same thing.

[2018-05-20 15:46] sganeshkanna opened #8899 "FCM instead for GCM"
Why it is necessary to add  compile 'com.google.android.gms:play-services-gcm:12.0.0' for Push notification using FCM as Android migrating to FCM instead of GCM. Please help to resolve this. For your reference https://android-developers.googleblog.com/2018/04/time-to-upgrade-from-gcm-to-fcm.html

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2018-05-20 16:01] MicahMcKittrick-MSFT commented on #8891
@cbgermany Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-20 16:03] MicahMcKittrick-MSFT commented on #8898
@BarsukovDmitrii Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-20 16:04] HZass opened #8900 "Unable to view Blobs in Containers"
We are using the Azure blob containers as a backup storage service.  In the Azure Storage Explorer, version 1.1.0 we are unable to select folders more than 4 levels deep. the folder states that there is no information for the selected folder.  However, we can view the contents using the Azure Portal service.
Is there a limit to the number of nested levels that the Storage Explorer will display?  T

[2018-05-20 16:38] JRSternContinuum opened #8901 "Please compare to replication and include diagrams"
This document is unnecessarily obscure, a few diagrams would help immensely, and a few words comparing this to familiar SQL Server replication would, too.  I'm sure both of these have been discussed, I'm just suggesting they also be done!  Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 147615a4-3444-cd43-15b2-2

[2018-05-20 16:56] cbailiss opened #8902 "Can database backups created from a Managed Instance be restored on premise?"
... if so, what is the minimum on-premise version?
... or are the backup files only compatible with the Managed Instance service?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b8c7fe7-9597-6ea8-54d3-b85f3cc7b1d3
* Version Independent ID: 29b59670-62c1-7309-ab2a-ec44fb5e4746
* Content: [Azure SQL Database Managed Inst

[2018-05-20 18:03] ggantija opened #8903 ""Unable to Start Container" Error message with Azure ML Workbench Classify Iris Tutorial"
Hello everyone,

I'm also trying to work through the "Classifying Iris" example with Azure workbench, and I'm able to reproduce the same error message under nearly the same conditions as the author of this thread. Specifically, during the third tutorial "3. Deploy models" in subsection "Create a real-time web service in one-command", I get an error when I run the following command:

az ml service

[2018-05-20 18:31] femsulu commented on #8888
@knightx12 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-05-20 18:41] femsulu commented on #8890
@suzannepotter, Thanks for the comment. Can you please elaborate on your feedback? I am unable to see what exactly you need assistance with or what document you are referencing.

[2018-05-20 18:43] femsulu commented on #8892
@SylvesterLi Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-05-20 18:46] femsulu commented on #8901
@JRSternContinuum Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-05-20 18:50] cloudvae opened #8905 "Schema File missing input element definition of copy"
based on the current schema file :
there is no "input" element defined in copy property as shown below. Any chances to get the schema fixed? We are replying on the schema files heavily. Making the schema file accurate is very important for us. Unless you could provide other more reliable sources for template language specs. Thanks.
"resourceCopy": {
            "type": "object",
            "prope

[2018-05-20 18:53] femsulu commented on #8902
@cbailiss Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-20 18:57] femsulu commented on #8893
@asingh1989 Thanks for bringing this to our attention and the Kudos. Your feedback has been shared with the content owner for further review.

[2018-05-20 18:58] femsulu commented on #8894
@asingh1989 Thanks for bringing this to our attention and the Kudos. Your feedback has been shared with the content owner for further review.

[2018-05-20 19:08] femsulu commented on #8895
@asingh1989 Your feedback has been shared with the content owner for further review.

[2018-05-20 19:15] femsulu commented on #8889
@grhartt Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-20 19:18] femsulu commented on #8896
@ejazr83 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-20 19:34] femsulu commented on #8903
@ggantija , thanks for the comment. Can you please share the link to the tutorial for further review?

[2018-05-20 20:11] DominoX commented on #7537
@Thraka,

Yes, there are a number of ways to 'work-around' the problem in the published tutorial.

But then I suggest you adjust the tutorial steps/test to reflect the work-around, else other folk coming to do the tutorial will hit the same problem. I use this tutorial in some of my classes (I teach Azure Basics to classes every week).

Thanks in advance guys.

[2018-05-20 20:11] ggantija commented on #8903
Here's the link: https://docs.microsoft.com/en-us/azure/machine-learning/desktop-workbench/tutorial-classifying-iris-part-3

See the subsection: "Create a real-time web service in one command"

[2018-05-20 20:52] Thraka commented on #7537
@DominoX Yes, you are correct. The tutorial would have to be changed :) I just want to make sure at this moment in time though, you can keep going on whatever it is you're doing.  In all honestly I would like to redo this whole tutorial to simplify it and modernize it a bit too.

[2018-05-20 21:31] DominoX commented on #7537
That would be great. I'll be keeping a look-out

Best, DS

[2018-05-20 21:59] EstebanSmits commented on #8822
@SnehaGunda  I just tested it with an upgraded version of MongoDB Driver and it looks like SCRAM-SHA-1 was fine. Thank you. it would just be the  "use MongoCredentials" being deprecated.

[2018-05-20 22:14] limjianan opened #8906 "Configure the Intranet Zone for client machines"
this do not align with the AADConnect SSO; it only use 1 URL not 2 URL.
https://docs.microsoft.com/en-us/azure/active-directory/connect/active-directory-aadconnect-sso-quick-start#detailed-steps

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d91f97c-a14f-6554-a788-519ca944eabb
* Version Independent ID: c92d0fd1-f3c6-e

[2018-05-20 22:49] Prisoner37 opened #8907 "Error Code 70008 and 50132 missing"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-05-20 22:57] Prisoner37 commented on #8907
Azure AD Sign in failures coming up a lot:
SIGN-IN STATUS Failure
SIGN-IN ERROR CODE 50132
FAILURE REASON Other

SIGN-IN STATUS Failure
SIGN-IN ERROR CODE 70008
FAILURE REASON Other

[2018-05-20 23:20] femsulu commented on #8900
@HZass Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-20 23:20] cammurray opened #8908 "Get-AutomationPSCredential"
Get-AutomationPSCredential in the top verb is linking to PSCredential .NET Class which is only loosely related to what it's talking about. Shouldn't this link to documentation on the command?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49afdd40-3ce8-7e0a-d659-9a1b1b3e327d
* Version Independent ID: 38d1533c-ee96-401c

[2018-05-20 23:27] femsulu commented on #8906
@limjianan Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-20 23:30] femsulu commented on #8905
@cloudvae Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-05-20 23:31] femsulu commented on #8907
@Prisoner37 thanks for the feedback, can you please share the link to the document you are referencing?

[2018-05-21 00:21] zhulixuan opened #8909 "Multiple servers connect to the same azure signalr service"
I am wondering how multiple VMs use the same azure signalr service (ASS).  I have two vms installed the same signalr package.  User requests hit them through a load balancer.  After a session created in ASS and user post a message from browser signalr channel, does each VM hub get a separate copy of this message?  That means two messages are in my system.  I need forward this message to downstream

[2018-05-21 00:22] jonathanfishbein1 opened #8910 "Question. With Graph api can we store Json objects?"
I have a property that needs to stay a json object, (it is the Quill Editor's Delta format, I store as json and feed it right into Quill on the client) is there a way to use the Graph Api with a property that is a json object?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5192394-5028-f577-e382-14c126b39ab1
* Version

[2018-05-21 00:27] zhulixuan commented on #8681
Not directly anwser the question.  However, you can achieve your goal by getting client id from js signalr and then calling rest api to add client id to your group.

[2018-05-21 00:32] zhulixuan opened #8911 "Find out all client IDs in a group"
Do you have a way to get all client ids in a certain group?  A hub api?
When a client session is disconnected, is it automatically removed from all groups it belongs to by signalr system?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc5132b1-2ef2-0732-feb0-608c3c1042ec
* Version Independent ID: 811f5f3f-5621-f02f-f60

[2018-05-21 00:51] zhulixuan commented on #8909
What is the connection between my vm and ASS?  It is through a bus queue?  If the first vm dequeues a message and handle it in hub, the message will be removed from bus queue.  If this is the case, only one vm hub gets the message.  I can scale out my hub vm freely then.

[2018-05-21 01:10] legwind commented on #8327
@SaurabhSharma-MSFT Thanks for that, but that's not what I meant.  I know how to do the admin side of MFA.  What I was wondering was: if a user (say Fred Bloggs) has setup for himself 3 security questions, how do I remove them from his account?  I know now how to change/remove an alternative email address or mobile phone he may have used for authentication, but I can't see how to change/remove his