[2018-06-21 13:47] PPreamble commented on #9990
I too just wasted a few hours on getting this to work only to find out as benday did, that it wont work on a Mac with the Basic SKU...

[2018-06-21 14:12] sijday opened #10549 "HTTP or HTTPS?"
The documentation repeatedly refers to communication with Azure storage over HTTP surely this should be HTTPS. It may help to also clarify port numbers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d3159e0-fb4e-ac85-e88d-f085ac54a13f
* Version Independent ID: 1046a441-8210-84a9-2305-7d8b2570c376
* Content: [Troubles

[2018-06-21 14:27] SimonLuckenuik opened #10552 "SetCustomStatus vs Replay clarification"
When the orchestrator is replaying the complete orchestration, does it update the CustomStatus again?
Consider the following code:

  outputs.Add(await context.CallActivityAsync&lt;string&gt;("E1_SayHello", "Tokyo"));
  context.SetCustomStatus("Tokyo");
  outputs.Add(await context.CallActivityAsync&lt;string&gt;("E1_SayHello", "Seattle"));
  context.SetCustomStatus("Seattle");
  outputs.Add(await

[2018-06-21 14:43] DdenBraver commented on #9988
Using a node configuration name is working for me, however the examples in the documentation are way off. I created a new pull request to adjust this issue: #10553

Using this code it should work:
`        {
          "type": "extensions",
          "name": "Microsoft.PowerShell.DSC",
          "apiVersion": "2018-04-01",
          "location": "[parameters('location')]",
          "dependsOn": [

[2018-06-21 14:46] albertociaramella opened #10554 "some mistakes in the article that were pointed out already"
The following are the notes how-to fill in the fields:

a. In the Sign-on URL textbox, type a URL using the following pattern:

https://&lt;companyname&gt;.coupahost.com

b. In the Identifier textbox, type a URL using the following pattern:

devsso35.coupahost.com (coupa sandbox environments)

prdsso40.coupahost.com (coupa production)

c. In the Reply URL textbox, type a URL using the following pa

[2018-06-21 14:50] dneelyep opened #10555 "Portal experience?"
Is there an equivalent way to setup keyvault storage account keys in the Azure portal? Ideally I'd like to test it out by clicking around, and then move to scripting out after I see how everything works. This is one of the only pages I can find on this feature in microsoft docs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-06-21 14:50] michaelpowerz opened #10556 "Administrators can reset an end-user password from the Office 365 Admin App"
User and admin operations that are supported for password writeback also include: Any administrator-initiated end-user password reset from the Office 365 Admin App.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 115ae83a-95dd-5643-bc88-f5447ebb2b99
* Version Independent ID: 7462ce84-0a9f-4bfd-7eba-c00928d77865
* Conten

[2018-06-21 15:00] Mike-Ubezzi-MSFT commented on #10541
@madhavsharmaagra Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-21 15:00] lleonard-msft commented on #10555
Hi @dneelyep!

Have you seen the [Create a key vault - Portal](https://docs.microsoft.com/en-us/azure/key-vault/quick-create-portal) quickstart?  There are also versions for [Azure CLI](https://docs.microsoft.com/en-us/azure/key-vault/quick-create-cli) and [PowerShell](https://docs.microsoft.com/en-us/azure/key-vault/quick-create-powershell).

[2018-06-21 15:01] Mike-Ubezzi-MSFT commented on #10543
@ddobric Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-06-21 15:05] Mike-Ubezzi-MSFT commented on #10545
@matakeda1 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-21 15:06] AlexanderTodorovic opened #10558 "Example query 2 - Index"
Dear All, just a little hint as improvement for the documentation. It would be helpful to know that the query in Example 2 will only return a result set if an index was created otherwise it'll return [] (because of ORDER BY). Thinking about people who just started learning Azure Cosmos DB. Thanks, Alex

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2018-06-21 15:08] Mike-Ubezzi-MSFT commented on #10545
Reference:

![screenshot 86](https://user-images.githubusercontent.com/37126106/41727899-4cdc8a7c-752a-11e8-9a95-14f43233ab64.png)

[2018-06-21 15:09] dneelyep commented on #10555
Thank you for the response @lleonard-msft . The linked page describes how to create a keyvault with a secret, but the info I'm looking for is: What does the workflow look like for linking a storage account key to a keyvault? I haven't been able to find a way in the portal to create a managed storage account key as described here: https://docs.microsoft.com/en-us/azure/key-vault/key-vault-ovw-stora

[2018-06-21 15:18] Codefearingguy opened #10559 "Clarity on guest accounts"
The prerequisites say that the tenant should be minimum Azure AD basic or p1. But does this also mean that all users who access the on-premise app needs to have basic or p1 licenses? Our tenant is Azure AD P1 but we have lot of guest users who need to access these on premise apps. Will it work for them without assigning licenses?  Additionally, in our scenario the guest account to member ratio is

[2018-06-21 15:22] dneelyep commented on #10555
Also as a followup - it'd be awesome to know how to set this feature up in an ARM template as well.

[2018-06-21 15:30] dlepow commented on #9978
Sentence added to intro to highlight Marketplace site, portal as alternatives to find images.
#please-close

[2018-06-21 15:41] dneelyep opened #10560 "Set-AzureRmKeyVaultAccessPolicy ... -PermissionsToStorage all fails"
Running this on my machine, I receive an error when running this command: Set-AzureRmKeyVaultAccessPolicy -VaultName $keyVaultName -ObjectId $userPrincipalId -PermissionsToStorage all

Details to come.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cebec73e-e7f4-75c5-2068-ae89f12d8d95
* Version Independent ID: e2497a7b

[2018-06-21 15:42] dneelyep commented on #10560
Error message I receive:
Set-AzureRmKeyVaultAccessPolicy : Cannot validate argument on parameter 'PermissionsToStorage'. The argument "all" does not belong to the set
"get,list,delete,set,update,regeneratekey,getsas,listsas,deletesas,setsas,recover,backup,restore,purge" specified by the ValidateSet attribute. Supply an argument that is in the set and
then try the command again.

[2018-06-21 15:43] dneelyep commented on #10560
Output of calling Get-Module -List:
[code]

[2018-06-21 15:44] dneelyep commented on #10560
To work around this, I used this command instead, which seemed to work:
`Set-AzureRmKeyVaultAccessPolicy -VaultName $keyVaultName -ObjectId $userPrincipalId -PermissionsToStorage get,list,delete,set,update,regeneratekey,getsas,listsas,deletesas,setsas,recover,backup,restore,purge`

[2018-06-21 15:51] iainfoulds commented on #10516
Thanks for the feedback, @chr1sn3al . This article is focusing just on the Azure CLI and we have a backlog work item to show the PowerShell equivalent, which is basically what you have listed here. Hopefully you were able to find and remove your unattached NICs.

For now, #please-close

[2018-06-21 15:51] sergaz-msft commented on #10546
@andrejbratukhin  Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-21 15:53] sergaz-msft commented on #10547
@ajaybha  Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-21 15:53] Rykimaruh opened #10561 "doesn't work"
I tried following these steps and it doesn't work. I get a Response code 500 (Internal Server error)

I am confused, where do we place the KB, Endpoint and SubKey from QNA in the code exactly? I placed them in the instantiation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3041fcf6-3b37-8d88-4d16-73ad0f841b78
* Versio

[2018-06-21 15:55] Shloeb opened #10562 "No limit to the array inputs in "Multiple security rules" template"
Hello,

I tried to deploy the example template at: https://raw.githubusercontent.com/Azure/azure-docs-json-samples/master/azure-resource-manager/multipleinstance/multiplesecurityrules.json

I wanted to execute it, however it keeps on asking for inputs. How do I stop it? If I press enter again to stop the array, it throws me this error.

New-AzureRmResourceGroupDeployment : 9:21:51 PM - Error: Code

[2018-06-21 15:58] tiny-dancer opened #10563 "Viewing parameters assigned in a Policy Initiative/Definiton set"
The portal does not appear to show the parameters individually assigned to policies within a definition set

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bbe592b6-7988-0b19-cfb3-fa6f975bea62
* Version Independent ID: 6c1bf35b-8215-6852-1082-9fa8525c26a1
* Content: [Create a policy assignment to identify non-compliant

[2018-06-21 16:00] Mike-Ubezzi-MSFT commented on #10558
@AlexanderTodorovic Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-21 16:09] ilio78 opened #10564 "More info on "implicit grant"."
Hello,

You mention on the top of the article : “The implicit grant cannot be used for the On-Behalf-Of flow - SPAs must pass their (implicit flow) access token to a middle-tier confidential client to perform OBO flows.”

However the following diagram and the flow described based on the OAuth 2.0 authorization code grant flow also does the exact same thing. The Web API A using the access token req

[2018-06-21 16:14] bearrito commented on #10504
This is correct.

[2018-06-21 16:18] ktemplin commented on #10554
I agree that the above adjustments need to be made to the documentation.

[2018-06-21 16:19] ddobric opened #10565 "Error when adding property 'id'"
Getting an error when adding vertices by using .NET SDK and specifying identifier explicitly.
Here is the code:
ar tracersal = graphCommand.g().V().AddV("planet")
                    .Property("id", $"P{i}")
                    .Property("planetName", $"PLANET P{i}")
                    .Property("size", DateTime.Now.Ticks);

                await tracersal.NextAsync();

Error:
Microsoft.Azure.Doc

[2018-06-21 16:30] zyrow123 commented on #10359
I've got the same issue. Adding a VM to a VNet and then attaching the VNet/subnet to the storage account fixes the issue.

However I can't find away to get it to work for requests coming from an App Service

[2018-06-21 16:30] msangapu commented on #9644
Hi @justinyoo - thank you for the feedback. You're correct - this is still in 'preview' and ARM support is currently not available. We do not have an ETA at this time. Please let us know if we can close this issue.

[2018-06-21 16:36] cbrooksmsft commented on #10359
you can use an App Service Environment to get App Service in a VNET.

https://docs.microsoft.com/en-us/azure/app-service/environment/intro#virtual-network-support

[2018-06-21 16:44] mganeshphani opened #10568 "Error code 90094 missing"
Sign-In Error code missing in documentation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f83a9e6-2363-2c73-5ed2-f40bd48899b8
* Version Independent ID: f47dc642-f083-b173-9b6e-ce61e31685a9
* Content: [Sign-in activity report error codes in the Azure Active Directory portal](https://docs.microsoft.com/en-us/azure/acti

[2018-06-21 16:58] OleksaDev opened #10570 "Description is missing for eventVolume attribute"
Description is missing for **eventVolume** attribute of **DiagnosticMonitorConfiguration** element

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0ec37aa-f814-8277-60b7-0dc4f91834f1
* Version Independent ID: c59b6608-e19f-3ee8-8fe6-f47428a13e6c
* Content: [Azure Diagnostics extension 1.3 and later configuration schema

[2018-06-21 17:00] #10516 closed

[2018-06-21 17:01] #9978 closed

[2018-06-21 17:08] Mike-Ubezzi-MSFT commented on #10215
@sovanny This article walks through provisioning the run-time on a MinnowBoard Turbot development board running Windows IoT Core. Windows IoT Core supports Azure IoT Edge only on Intel x64-based processors. IT appears you are running an x64-based processor.

You may submit this as an issue to the IoT product group: [Common issues and resolutions for Azure IoT Edge](https://docs.microsoft.com/en-us

[2018-06-21 17:22] jason-j-MSFT commented on #10515
@dcbrown16
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-21 17:23] Mike-Ubezzi-MSFT commented on #10565
@ddobric Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-06-21 17:29] v-geberr commented on #10538
@miikaeru

Several docs have been updated:  [FAQs](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-resources-faq#should-variations-of-an-example-utterance-include-punctuation), [concepts](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-concept-utterance#ignoring-words-and-punctuation), and [how-to](https://docs.microsoft.com/en-us/azure/cognitive-services/lu

[2018-06-21 17:31] tdykstra commented on #9695
#please-close

[2018-06-21 17:41] rlerch opened #10571 "Questions about how this actually works/deployment options"
I have some questions about the connection between the asp.net core web app where the Hubs are hosted and the SignalR azure service. What exactly is this connection and what are the requirements of it? We would be interested in hosting the asp.net web app on premise while still utilizing the Azure SignalR service to manage the web socket connections and scaling capabilities. Also, would Azure Sign

[2018-06-21 17:50] MohitGargMSFT commented on #7269
@dreijer I have reopened this issue.

@curtand Request you to please help with an update.

[2018-06-21 17:51] TravisCragg-MSFT commented on #10262
@TomShinder We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-06-21 17:51] #10262 closed

[2018-06-21 17:53] MohitGargMSFT commented on #10526
@limjianan Thanks for the feedback! I have assigned the issue to the author to investigate and update as appropriate.

[2018-06-21 17:53] barbkess commented on #10518
@dcbrown16 : Thanks for reporting this.  I'm not sure why it wasn't fixed before, but I have submitted a pull request to fix this and you should see it online by the end of the day today.

#please-close

[2018-06-21 17:54] MohitGargMSFT commented on #10554
@albertociaramella Thanks for the feedback! I have assigned the issue to the author to investigate and update as appropriate.

[2018-06-21 17:55] vasivara-MSFT commented on #10518
@dcbrown16 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-21 17:55] #10518 closed

[2018-06-21 17:58] MohitGargMSFT commented on #10556
@michaelpowerz Thanks for the feedback! I have assigned the issue to the author to investigate and update as appropriate.

[2018-06-21 17:59] MohitGargMSFT commented on #10559
@Codefearingguy Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-21 18:01] MohitGargMSFT commented on #10560
@dneelyep Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-21 18:04] MohitGargMSFT commented on #10564
@ilio78 Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-21 18:05] MicahMcKittrick-MSFT commented on #10528
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-21 18:06] MicahMcKittrick-MSFT commented on #10552
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-21 18:06] MohitGargMSFT commented on #10568
@mganeshphani Thanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

[2018-06-21 18:06] vasivara-MSFT commented on #10540
@bdzeeuw Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-06-21 18:07] MicahMcKittrick-MSFT commented on #10524
@jibinjohnbabu can you provide me with the document you are referring to?

[2018-06-21 18:07] vasivara-MSFT commented on #10570
@OleksaDev Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-06-21 18:07] MicahMcKittrick-MSFT commented on #10544
Thanks for the question! We are investigating and will update you shortly.

[2018-06-21 18:08] MohitGargMSFT commented on #10463
@CryptoMeerkat We will now proceed to close this thread. If there is any other query regarding this document please open a new issue and we will gladly address it.

[2018-06-21 18:08] #10463 closed

[2018-06-21 18:09] priyamohanram commented on #10568
Thank you for your feedback! I'll check with the product team about this error code.
#in-progress

[2018-06-21 18:09] SaurabhSharma-MSFT commented on #10351
@vetrivelmp We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-21 18:09] #10351 closed

[2018-06-21 18:09] SaurabhSharma-MSFT commented on #10355
@pgarm We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-21 18:09] #10355 closed

[2018-06-21 18:09] TravisCragg-MSFT commented on #10525
@jlee-vi All Inbound & Outbound descriptions is from the perspective of the Azure Datacenter.

Inbound is data coming into the datacenter, Outbound is data going out of the datacenter.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-06-21 18:09] SaurabhSharma-MSFT commented on #10385
@dwightcheu We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-21 18:09] #10385 closed

[2018-06-21 18:10] #10525 closed

[2018-06-21 18:10] SaurabhSharma-MSFT commented on #10445
@robvon We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-21 18:10] #10445 closed

[2018-06-21 18:11] vasivara-MSFT commented on #7610
@dcbrown16 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-21 18:11] #7610 closed

[2018-06-21 18:13] TravisCragg-MSFT commented on #10537
@panoschatz
Thanks for the feedback! I can confirm that -EnableEncryptionService is [no longer part of the Set-AzureRmStorageAccount cmdlet](https://docs.microsoft.com/en-us/powershell/module/azurerm.storage/set-azurermstorageaccount?view=azurermps-6.3.0).

I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-21 18:13] vasivara-MSFT commented on #9050
@dalmat36 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-21 18:13] #9050 closed

[2018-06-21 18:14] vasivara-MSFT commented on #9188
@rpus We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-21 18:14] #9188 closed

[2018-06-21 18:15] vasivara-MSFT commented on #9695
@bbqchickenrobot We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-21 18:15] Mike-Ubezzi-MSFT commented on #10337
Reference:
I am able to follow this tutorial until the section deploying the load generation. The 'lib' folder does not exist with the downloaded Git repo, and thus the tutorial can not be completed.

![screenshot 89](https://user-images.githubusercontent.com/37126106/41737524-69c4cbd0-7544-11e8-9a7d-3adff115b150.png)

![screenshot 90](https://user-images.githubusercontent.com/37126106/41737537-6f

[2018-06-21 18:15] #9695 closed

[2018-06-21 18:16] vasivara-MSFT commented on #10128
@ramandeep-singh-1983 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-21 18:16] #10128 closed

[2018-06-21 18:17] SaurabhSharma-MSFT commented on #10502
@mganeshphani Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-06-21 18:19] SaurabhSharma-MSFT commented on #10505
@olaadapo
I suggest you please open a new MSDN forum post with the details and community will help address your query. Please refer to below link to MSDN forum to ask new question -
https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazureplatform.

[2018-06-21 18:28] gosali opened #10572 "Request for error correction - Description of "FORCE LAST GOOD PLAN""
@axis5150 commented on [Thu Jun 21 2018](https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/551)

The following statement is in section "Automatic tuning options"
------
FORCE LAST GOOD PLAN - identifies SQL queries using execution plan that is slower than the previous good plan, and queries using the last known good plan instead of the regressed plan. Default Azure setting for this option i

[2018-06-21 18:32] BryanTrach-MSFT commented on #9057
@cephalin I spoke with Nazim and he's requested this to be reassigned since he's moved teams. Would you be able to look at this feedback?

[2018-06-21 18:34] MohitGargMSFT commented on #10564
@ilio78 Implicit Grant flow allows the app to get tokens from Azure AD without performing a backend server credential exchange. This allows the app to sign in the user, maintain session, and get tokens to other web APIs all within the client JavaScript code. So if a user try to browse an application which needs an access to web api, then in Implicit Grant flow, based on user login, application wil

[2018-06-21 18:34] CeciAc opened #10573 "Error nach Anpassung des ToDoControllers"
@Phil1991 commented on [Wed Jun 20 2018](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/105)

remote: An error has occurred during web site deployment.
remote:
remote: Error - Changes committed to remote repository but deployment to website failed.

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erf

[2018-06-21 18:36] CeciAc commented on #10573
Hi team,
I moving this one here because it may be an error in the ToDo example

Kind regards,
Microsoft DOCS International Team

[2018-06-21 18:41] mganeshphani opened #10574 "Application Permissions causing trouble"
This article at following section
"https://docs.microsoft.com/en-us/azure/blockchain-workbench/blockchain-workbench-deploy#add-graph-api-required-permissions"

says to use "Read all users full profiles" under "Application Permissions"

However choosing that after a global admin of our tenant provided consent on permissions for application, the web app didn't allow non global admin users to login t

[2018-06-21 18:47] Garima2k1 commented on #9751
Hi Bryan,

Apologies for the delayed response. I was discussing this internally. We
had Microsoft presentation talking about this feature, and it is really
important for is to be able to move to B2C journey.

Could you please arrange some documentation or more information around this
feature. We would also like to do some POC on this feature. Thanks

Regards
Garima

On Tue, 12 Jun 2018 at 5:18 PM,

[2018-06-21 18:51] mganeshphani commented on #10502
@SaurabhSharma-MSFT Do appreciate your redirection to content author's.. have a nice day.

[2018-06-21 18:54] akramwaseem opened #10576 "What the difference between Monitor alert section and the one in the log analytics alert section"
I see that there are two different alert sections one in Monitor and one in log analytics.
What is the difference ??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c310132b-22c6-8d12-8986-a11d470bb140
* Version Independent ID: d77c28b5-7cb4-26c6-6a78-36a5aede6054
* Content: [Create, view and manage alerts Using Azure M

[2018-06-21 18:54] ewong18 opened #10577 "startswith and endswith examples incorrect"
The startswith and endswith examples show lastindexof instead of the respective functions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76e31411-f1a2-710b-94c0-39acf9e7314b
* Version Independent ID: d5cefffe-dee0-2d2e-f3cb-8eefd5d40d17
* Content: [Expression and functions in Azure Data Factory](https://docs.microsoft.

[2018-06-21 18:56] MicrosoftGuyJFlo commented on #10484
#please-close

[2018-06-21 18:57] MicrosoftGuyJFlo commented on #10406
#please-close

[2018-06-21 19:00] ratchetwrench opened #10578 "Add Python Examples"
Could you add more language examples? Particularly Python, if I had to vote for one. Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e952d385-d5c8-de9b-27c5-4d02add9b180
* Version Independent ID: 50083880-0ec5-cbb4-363e-ba9e82f2889a
* Content: [Add messages to an Azure Storage queue using Functions](https://d

[2018-06-21 19:03] femsulu commented on #10563
@tiny-dancer Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-06-21 19:08] ratchetwrench opened #10579 ".gitignore for wwwroot"
The note:
"Make sure to deploy your host.json file and function folders directly to the wwwroot folder. Do not include the wwwroot folder in your deployments. Otherwise, you end up with wwwroot\wwwroot folders."

Would this mean it is needed to be added to the '.gitignore' file of the repository?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2018-06-21 19:09] jeevansd commented on #10554
@chetansriv  and @v-nagta Can you please review this and take necessary actions?

[2018-06-21 19:15] PatAltimore commented on #10502
@mganeshphani Thanks for the feedback. In future updates, it's likely several of the prerequisite Azure AD steps won't need to be documented. So, these steps will likely go away. Did you have a suggestion how to make it more clear? The documentation only highlights updating the appRoles section of the JSON.

Thanks,
Pat

#in-progress

[2018-06-21 19:18] bwren commented on #9452
Got this figured out.  The UI was changed for filters. Click on the + next to the date filter to view filters for the view.  Publish was deprecated.  We'll be getting the documentation updated.

[2018-06-21 19:18] bwren commented on #9452
#please-close

[2018-06-21 19:21] MicahMcKittrick-MSFT commented on #9814
@Anmolgan81 thanks for sharing the feedback link you made. I have voted for that suggestion as well :)

Have you looked into Azure Backup for the VMs that were rebuilt from managed disks? This might provide you with some backup options that can be done via the portal if the SQL backup manager is not available.

[2018-06-21 19:24] patpicos opened #10580 "Invalid parameter for Get-AdlAnalyticsDataSource"
Get-AdlAnalyticsDataSource -Name $adla should use -Account parameter instead

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 295f7fdc-391c-603d-47d1-2c4f3a2bbdeb
* Version Independent ID: 2c30e6c8-1243-9206-c9bd-d88ce851b346
* Content: [Manage Azure Data Lake Analytics using Azure PowerShell](https://docs.microsoft.com/

[2018-06-21 19:27] akramwaseem opened #10581 "Do we have any ARM Template Documentation for the above article"
Above article is very use-full, but what if people want to use ARM templates.
Is there any documentation which explains how both can integrate alerts and action center into an ARM template.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 445f65f4-cb9c-2060-e5d9-653a21c02d24
* Version Independent ID: 7c16b613-07fc-a189-8

[2018-06-21 19:28] mganeshphani commented on #10502
@PatAltimore The basis of confusion is related to editing the app manifest in UI with the new GUID generated.. the scenario did work for me, even without editing the app manifest.. hence I believe this section can be ignored

[2018-06-21 19:31] Mike-Ubezzi-MSFT commented on #10572
@gosali Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-21 19:33] Jeremywhiteley opened #10584 "Flutter / Dart support?"
Do you plan to offer Flutter and Dart support?   Flutter is rapidly taking off as a Cross Platform Mobile development platform.   I haven't seen any Azure plugins, but I have seen many for AWS!

https://github.com/trending
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b787325-589c-b5f5-f530-7f1fe12e075e
* Version Inde

[2018-06-21 19:34] DCtheGeek commented on #10563
@tiny-dancer Thanks for the question!  If you open Policy service in the Azure portal, click 'Assignments' (under AUTHORING), and click on the name of an Initiative Assignment (don't right click or use the ellipsis), you'll get a page with the information about the Assignment for that Initiative.  This includes the Scope, the Assignment Name, Assigned by (if provided), and the list of Parameters f

[2018-06-21 19:34] MicahMcKittrick-MSFT commented on #10284
@sauryadas any thoughts on this one?

[2018-06-21 19:35] LouisBroekhuijsen opened #10585 "Kind of storage account"
It looks like ADFv2 only accepts storage accounts "StorageV2 (general purpose v2)" and not "Storage (general purpose v1)". Can it be added to this item which kinds of storage accounts are compatible and whichkinds are not?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7ee5166-ff40-f4ed-ce07-5312f935e388
* Version Ind

[2018-06-21 19:37] akramwaseem opened #10586 "Is there a documentation for Log search alert which can be used with log analytics"
I see that there is only activity log alert and I am trying to documentation on Log search alert using action center using ARM template.
Let me know if you guys have any??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b99aa75-5478-59e0-48a5-29811f7daba7
* Version Independent ID: 1ba031eb-9b3c-d2c7-c4d7-cd927fdcb6b8
*

[2018-06-21 19:39] kapopken commented on #10326
@dstrebel Thanks for the help everyone. I was able to get goups and users logged in. I missed the Grant Permission button after added required permissions to my application.

[2018-06-21 19:39] #10326 closed

[2018-06-21 19:44] Mike-Ubezzi-MSFT commented on #10543
In attempting to reproduce this issue, the [Connect to your app service](https://docs.microsoft.com/en-us/azure/cosmos-db/create-graph-gremlin-console#ConnectAppService) chapter has clear instructions on updating the remote-secure.yaml file with your specific Azure Cosmos DB service endpoint configuration. Was this step not followed? I just want to clarify as I am unable to reproduce your specific

[2018-06-21 19:48] SaurabhSharma-MSFT commented on #10559
@Codefearingguy Yes users needs to have Basic/Premium P1 licenses for Application Proxy feature.
For paid Azure AD features that are extended to guest users, the inviting tenant will need the appropriate number of Basic or Premium P1 or Premium P2 licenses to cover guest users, in the 1 license: 5 users ratio.
Licensing is automatically calculated and reported based on the 5:1 ratio.  If no paid A

[2018-06-21 19:48] SaurabhSharma-MSFT commented on #10484
@vianeyhm We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-21 19:48] MicahMcKittrick-MSFT commented on #10376
Sounds good! If you find it is isolated to a specific template feel free to share it and I can try it as well.

[2018-06-21 19:48] #10484 closed

[2018-06-21 19:50] SaurabhSharma-MSFT commented on #10406
@ThierryBT We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-21 19:50] #10406 closed

[2018-06-21 19:50] vianeyhm commented on #10484
thank you!

________________________________
De: SaurabhSharma-MSFT <notifications@github.com>
Enviado: miércoles, 20 de junio de 2018 05:58 p. m.
Para: MicrosoftDocs/azure-docs
CC: vianeyhm; Mention
Asunto: Re: [MicrosoftDocs/azure-docs] Confusion about SSPR licensing (#10484)

@vianeyhm<https://github.com/vianeyhm> Yes, you need to have a license for any user who benefits from the feature e.g. i

[2018-06-21 19:50] jovanpop-msft commented on #10572
I'm not sure why you think that it is not enabled by default. Try to set automatic tuning to auto (or inherit from azure on portal) and check the values of force_last_good_plan in system view - e.g.:

alter database test
	set automatic_tuning = auto
alter database test
	set automatic_tuning (force_last_good_plan = default)
select *
from sys.database_automatic_tuning_options
where name = 'force_las

[2018-06-21 19:52] MicahMcKittrick-MSFT commented on #10416
@ratchetwrench
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2018-06-21 19:52] #10416 closed

[2018-06-21 19:52] MicahMcKittrick-MSFT commented on #10427
@jdogg89 any update on this?

[2018-06-21 19:53] pratap-dotnet opened #10587 "ARM Template"
Can i give access to storage account using ARM templates ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5ce8d88-79ef-1c9a-fd65-167e3ca2f36a
* Version Independent ID: 2c78ff72-b8c6-2b1f-de73-114594a8dbf1
* Content: [Use a Windows VM Managed Identity to access Azure Storage](https://docs.microsoft.com/en-us/azure/acti

[2018-06-21 19:54] MicahMcKittrick-MSFT commented on #10430
@rafaelmluz thanks for that. I will attempt a repo as well and get back to you shortly on this.

[2018-06-21 19:54] MicahMcKittrick-MSFT commented on #10459
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2018-06-21 19:54] #10459 closed

[2018-06-21 19:55] MicahMcKittrick-MSFT commented on #10465
@rustc0h1e any update on this?

[2018-06-21 20:02] timwebster9 commented on #6718
I got the same problem - the fake certificate.  I did configure the hosts correctly in the ingress.    The domain is correct, I could reach it in my browser before the ACME challenge started.

Logs from acme-lego:
[code]

[2018-06-21 20:03] Anmolgan81 commented on #9814
Can you provide me some links on this.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Micah <notifications@github.com>
Sent: Friday, June 22, 2018 12:51:21 AM
To: MicrosoftDocs/azure-docs
Cc: Anmol Ganju; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Cant see SQL Automated backup in azure portal (#9814)

@Anmolgan81<https://github.com/Anmolgan81> thanks f

[2018-06-21 20:04] Phydeauxman opened #10588 "Need documentation on more advanced (realistic) scenario"
The documentation is good but does not mention anything about Listeners, Rules, or URL/Path based routing.  Most people would not have an ASE for a single app so it would be nice if the article detail could be expanded to cover a scenario where there may be multiple apps and/or some Function Apps inside the ASE.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2018-06-21 20:09] BryanTrach-MSFT commented on #10460
@dreic It doesn't appear that we currently have plans for a PostgreSQL prefix. I would suggest that you [leave feedback ](https://feedback.azure.com/forums/169385-web-apps) for a feature request to have a dedicated prefix added.

For now you'll need to create a custom environment variable as cephalin has mentioned.
We will now proceed to close this thread. If there are further questions regarding

[2018-06-21 20:09] #10460 closed

[2018-06-21 20:13] jangelfdez opened #10589 "You do not appear to have an NVIDIA GPU supported by the 390.42 NVIDIA Linux graphics driver installed in this system."
Hi!

using the steps to install the drivers on a NV6, the previous error is reported by the installer an nvidia-smi doesn't detect any card at all.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e03790a-1bf9-146d-704b-6816d475064b
* Version Independent ID: ad5f6be7-e089-161f-306c-39d10e7ab0a0
* Content: [Azure N-serie

[2018-06-21 20:21] akramwaseem opened #10590 "How can we implement log search alert using ARM template in Azure alerts ?"
Do we have ARM template documentation or example for using the log search queries with alerts and action groups ?
Please post it here, if you find one and I really appreciate the help.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab89353c-6acc-9944-40e0-d8ab067e7d41
* Version Independent ID: b8c18210-d14f-4b7c-aee9-5

[2018-06-21 20:28] akramwaseem opened #10592 "After extending the alert from log analytics to Azure alerts and adding new alert using ARM template doesnt work?"
So, I extended log analytics alerts to Azure alerts which is working fine but I decided to add new alerts which we do by ARM templates and I tried to deploy the alert with the existing template and it did not work and know I Have to create a action group and then integrate the log search alerts in to the template which I tried but I cannot find proper documentation at all on log search integration

[2018-06-21 20:29] Mike-Ubezzi-MSFT commented on #10543
Reference:
![screenshot 91](https://user-images.githubusercontent.com/37126106/41743911-10e7d936-7557-11e8-8898-efb7bd982ca9.png)

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-21 20:30] ajlam commented on #10045
@CeciAc, I tried to clarify the sentence. Should publish within the next few hours. Can you recheck then?

[2018-06-21 20:40] flmarins commented on #10399
@lachie83, I have tought of this option, just wasn't sure it would work. So yes I think it would at least worth metioning that it can be achieved by an incremental template :).
Thanks for the answer.

[2018-06-21 20:44] Mike-Ubezzi-MSFT commented on #10215
@sovanny We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-21 20:44] #10215 closed

[2018-06-21 20:49] timwebster9 commented on #6718
nevermind the above - I had the wrong domain after all :-/

[2018-06-21 21:03] Mike-Ubezzi-MSFT commented on #10508
I am able to reproduce this:

  HResult=0x80131500
  Message=One or more errors occurred.
  Source=mscorlib
  StackTrace:
   at System.Threading.Tasks.Task.ThrowIfExceptional(Boolean includeTaskCanceledExceptions)
   at System.Threading.Tasks.Task.Wait(Int32 millisecondsTimeout, CancellationToken cancellationToken)
   at System.Threading.Tasks.Task.Wait()
   at GremlinNetSample.Program.Main(String

[2018-06-21 21:05] Mike-Ubezzi-MSFT commented on #10508
@YongliangLi Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-21 21:14] YutongTie-MSFT commented on #10561
@Rykimaruh Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@nstulasi Hi, this is a document-related issue, can you please help check if there any change that will make the error? Thanks.

[2018-06-21 21:16] YutongTie-MSFT commented on #10535
@davidyan0429 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@tedway Hi, this is a doc-enhancement issue, could you please add more details as necessary? Thanks a lot!

[2018-06-21 21:30] mumian commented on #8684
@anmolgan81 @tfitzmac is out of office this week.  I have pinged the product team regarding your questions.  I found a related post: https://partnersupport.microsoft.com/en-us/par_onlserv/forum/par_azure/move-migrate-virtual-machine-with-encrypted-disks/e6ecce27-292a-494c-a820-c88957ab948a

[2018-06-21 21:36] MicahMcKittrick-MSFT commented on #10399
Thanks @lachie83! I will assign to you while you update the doc. Appreciate the help :)

[2018-06-21 21:41] dksimpson commented on #9732
Fixed in #MicrosoftDocs/azure-docs-pr#44628

[2018-06-21 21:50] gabrtv commented on #10284
Unfortunately we do not have an exhaustive list of public endpoints that could be used to deny public internet access from a VNET running AKS.  That said, customers have been asking for this with increasing frequency, so it's something we are actively looking into.

/cc @khenidak @brendandburns

[2018-06-21 21:55] migrande opened #10593 "Issue in note in "How to exclude disks from replication" section"
In the blue notes box in the "How to exclude disks from replication" section, it says "You can exclude only disks that already have the Mobility service installed".  This doesn't make sense because the disks don't get the service installed.  This should read more like "You can exclude only disks on VMs that already have the Mobility service installed"

---
#### Document Details

⚠ *Do not edit thi

[2018-06-21 21:58] justinyoo commented on #9644
@msangapu Thanks for the confirmation. You can close this issue.

[2018-06-21 22:06] vasivara-MSFT commented on #9452
@larsvillaume We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-21 22:06] #9452 closed

[2018-06-21 22:12] hobpet opened #10597 "ForceUpdateTag property should be mentioned"
The *How to run custom script more than once with CLI* section should be extended by adding reference to the ForceUpdateTag property that can be used to execute the script multiple times.
See https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.management.compute.models.virtualmachineextension.forceupdatetag?view=azure-dotnet

---
#### Document Details

⚠ *Do not edit this section. It is re

[2018-06-21 22:12] nickward13 opened #10598 "Complete checklist for other offer types"
This document only lists the requirements for the consulting offer type.  Can you please update the document with the requirements for the other offer types available via the AppSource storefront?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e369dba-615c-f7dc-3ee3-a6066f45a261
* Version Independent ID: 2162b3d0-85ac

[2018-06-21 22:14] cgillum commented on #9147
Thanks for pointing this out! I'm adding a note about the **Pending** status.  The **Canceled** status exists but actually isn't implemented currently, so I'm leaving that out for now.

[2018-06-21 22:15] CelesteDG commented on #9702
Submitted PR with updates to both v1.0 and v2.0 claims/tokens topics to address the issue referenced here

[2018-06-21 22:17] cgillum commented on #9197
Good call. I am removing this sample until we can make this scenario work reliably.

[2018-06-21 22:28] MicahMcKittrick-MSFT commented on #10578
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-06-21 22:29] MicahMcKittrick-MSFT commented on #10579
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-21 22:30] MicahMcKittrick-MSFT commented on #10589
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-21 22:31] josuvil opened #10600 "Documenting bug fixes"
Could we have greater insight or details regarding which bugs are being fixed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 792585e1-0179-5ba8-ce78-ea2fb05efa57
* Version Independent ID: 02470017-c2bd-02e3-84ce-f0d38d57271f
* Content: [Azure AD Connect Health Version History](https://docs.microsoft.com/en-us/azure/ac

[2018-06-21 22:34] TravisCragg-MSFT commented on #10536
@bingosummer This means that the cluster, or Group of physical machines inside the datacenter, that your virtual machine is hosted on currently on does not support accelerated networking.

Normally when you start a VM with Accelerated Networking, it finds a cluster where it is available. In your case, you have your VM in an availability set, and that availability set will not allow your VM to move

[2018-06-21 22:34] #10536 closed

[2018-06-21 22:35] MohitGargMSFT commented on #10587
@pratap-dotnet Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-21 22:37] tdykstra commented on #10579
@ratchetwrench No, as long as you deploy host.json and function folders to wwwroot there is no problem.

[2018-06-21 23:06] MicahMcKittrick-MSFT commented on #10579
Thanks @tdykstra!

@ratchetwrench
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2018-06-21 23:06] #10579 closed

[2018-06-21 23:11] MicahMcKittrick-MSFT commented on #10597
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-21 23:12] SaurabhSharma-MSFT commented on #10560
@dneelyep I am also getting the same error with the AzureRM.KeyVault version 5.0.1.  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-06-21 23:14] BryanTrach-MSFT commented on #10573
@CeciAc Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-06-21 23:14] TravisCragg-MSFT commented on #10549
@sijday Thanks for the feedback! I have confirmed that it does communicate over HTTPS. I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-21 23:15] TravisCragg-MSFT commented on #10593
@migrande Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-21 23:15] BryanTrach-MSFT commented on #10588
@Phydeauxman Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-06-21 23:16] vamboda opened #10601 "swap lat and long order while creating the map"
var map = new atlas.Map("map", {
            "subscription-key": MapsAccountKey,
            center: [47.59093,-122.33263],
            zoom: 12
        });

**to**
var map = new atlas.Map("map", {
            "subscription-key": MapsAccountKey,
            center: [-122.33263, 47.59093],
            zoom: 12
        });
---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2018-06-21 23:29] Mike-Ubezzi-MSFT commented on #10386
@kriston When referencing a user to login to a PostgreSQL database, the syntax is username@servername. When making changes to a specific user while connected to a PostgreSQL instance, the syntax is simply username.

Some additional information pertaining to Azure Database for PostgreSQL 'admin' users:

The PostgreSQL engine uses privileges to control access to database objects, as discussed in the

[2018-06-21 23:36] SaurabhSharma-MSFT commented on #10600
@josuvil Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-06-21 23:37] jdogg89 commented on #10427
It seems to be an intermittent issue, right now, I'm no longer experiencing
it.

On Thu, Jun 21, 2018, 2:53 PM Micah <notifications@github.com> wrote:

[2018-06-21 23:39] jason-j-MSFT commented on #10577
@ewong18
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-21 23:39] jason-j-MSFT commented on #10580
@patpicos
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-21 23:40] jason-j-MSFT commented on #10581
@akramwaseem
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-21 23:41] jason-j-MSFT commented on #10585
@LouisBroekhuijsen
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-21 23:52] SaurabhSharma-MSFT commented on #10587
@pratap-dotnet Can please check if the solution provided [here](https://stackoverflow.com/questions/33225678/arm-how-can-i-get-the-access-key-from-a-storage-account-to-use-in-appsettings) helps you with what you are trying to achieve.

[2018-06-21 23:58] SnehaGunda commented on #9671
@Mike-Ubezzi-MSFT please assign this issue to me

[2018-06-22 00:01] SnehaGunda commented on #9671
@algattik apologies for the inconvenience, we are working on a new sample, I will be updating docs some time next week. For now we will proceed to close this issue.

[2018-06-22 00:01] SnehaGunda commented on #9671
#10060

[2018-06-22 00:10] SaurabhSharma-MSFT commented on #10504
@bearrito We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-22 00:10] #10504 closed

[2018-06-22 00:16] xmark opened #10603 "how do you change linked services attributes via ARM templates"
I would love to use this to deploy my data factory, but I am having trouble with the deployment into test/prod.

I have many linked services (file storage accounts, sql db, etc.) that need to have their attributes changed between environments, and I can only seem to dynamically change 'some' of the attributes.

For example, for  a 'FileServer" linked service, I am using an Azure File Share, and I

[2018-06-22 00:20] SaurabhSharma-MSFT commented on #10576
@akramwaseem Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-22 00:21] mattbriggs commented on #9682
@pagariyaalok Thanks for drawing my attention to this again. These scripts need to be updated. I'll post the update shortly, and let you know. Cheers! Matt #in-progress

[2018-06-22 00:39] HartD92 opened #10606 "Advanced Configuration Link points to wrong page"
"The NPS extension uses the UPN from the on-premises Active directory to identify the user on Azure MFA for performing the Secondary Auth. The extension can be configured to use a different identifier like alternate login ID or custom Active Directory field other than UPN. See Advanced configuration options for the NPS extension for Multi-Factor Authentication for more information."

Links to Adva

[2018-06-22 00:45] SaurabhSharma-MSFT commented on #10571
@rlerch Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-06-22 01:04] neilghuman opened #10607 "Public IP address"
Retrieving Public IP address is currently not working and confirmed by Microsoft.  Do we have an eta for this feature to be fixed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0fdce995-5347-32c4-119f-6e8484250859
* Version Independent ID: 3dcfe7f4-cbb8-6323-5d93-b7e6b7f74db7
* Content: [Azure Instance Metadata Servic

[2018-06-22 01:06] MicahMcKittrick-MSFT commented on #10427
@jdogg89 thanks for the update.

Since I cannot repo this and your unblocked I will close this out for now. If the issue comes back please come back to this issue and we can reopen and investigate further :)

[2018-06-22 01:06] #10427 closed

[2018-06-22 01:20] MicahMcKittrick-MSFT commented on #10597
@hobpet I will assign to the content author to review and determine if we should include that information.

@danielsollondon can you take a look?

[2018-06-22 01:31] MicahMcKittrick-MSFT commented on #10552
@SimonLuckenuik from my understanding reading the following:

The function will check the execution history and will automatically move onto the next until the entire process is complete then start over. So you should consistently see it go through the full list without duplication.

[2018-06-22 01:35] MicahMcKittrick-MSFT commented on #10528
@neilpeterson can you take a look at this one? I think you will have a better idea if we have this documented already and where best to add it if not.

[2018-06-22 01:36] kazshi opened #10610 "What does "...all virtual network concepts apply" exactly mean?"
That's the question what I got from my customer and I couldn't provide an exact answer. I assume it means "The Standard tier can span any virtual machine in a single virtual network, including blends of scale sets, availability sets, and machines." (from https://www.petri.com/comparing-basic-standard-azure-load-balancers) - and actually that's what I provided to my customer.

---
#### Document Det

[2018-06-22 01:39] PatAltimore commented on #10502
@mganeshphani As far as I know, you still need AppRoles defined for the Blockchain Workbench administrator functionality to work correctly. That section needs to be part of the article.

[2018-06-22 01:42] MicahMcKittrick-MSFT commented on #10544
@jonaspetersorensen thanks for reaching out. Unfortunately I do not have any insight on when this will be available. I would suggest reaching out to terraform directly as they would be the ones that could provide deeper insight into this as they own Terraform and its plugins.

Specifically I would leave this feedback here: https://github.com/coreos/terraform-azurerm-kubernetes

CC: @neilpeterson a

[2018-06-22 01:42] #10544 closed

[2018-06-22 01:47] MicahMcKittrick-MSFT commented on #9814
I believe these should get you started:

https://docs.microsoft.com/en-us/azure/backup/backup-introduction-to-azure-backup

https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sql/virtual-machines-windows-sql-backup-recovery#azbackup

https://docs.microsoft.com/en-us/azure/backup/backup-azure-sql-database

https://docs.microsoft.com/en-us/azure/backup/backup-azure-vms-first-look-arm

T

[2018-06-22 01:49] MicahMcKittrick-MSFT commented on #10284
Thanks for confirming this @gabrtv!

@jungho I will close this out for now as there is nothing that can be added to the doc at this time. Thank you for bringing this up though and rest assured the team is looking into how we can publicize this type of information in the future.

[2018-06-22 01:49] #10284 closed

[2018-06-22 01:49] PatAltimore commented on #10574
@mganeshphani You need to use application permissions. Delegated permissions won't work in this case. For more information on how Graph API permission work, see https://developer.microsoft.com/en-us/graph/docs/concepts/permissions_reference. You should get the administrator of the tenant to grant the permission or create a new tenant where you are an administrator.

[2018-06-22 01:50] PatAltimore commented on #10574
#in-progress

[2018-06-22 02:22] MicahMcKittrick-MSFT commented on #10430
@rafaelmluz I tested the doc but I was able to get the commands to go through without issue.

Have you tried setting the subscription first?

azure account set {Subscription Id}

Also, can you share the support ticket number with me that you opened via the portal?

[2018-06-22 02:22] MicahMcKittrick-MSFT commented on #10465
@rustc0h1e
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2018-06-22 02:22] #10465 closed

[2018-06-22 02:28] MicahMcKittrick-MSFT commented on #10607
@neilghuman what do you mean by not working? What error are you seeing? What did support say regarding this? Can you share the ticket number?

[2018-06-22 03:24] dem108 opened #10613 "Azure ML specific DSVM setup guide missing"
There was a useful section regarding the DSVM setup for Azure ML, specifically allowing non-root user permission to run docker. This might not be mandatory but very useful if user wants to ssh into DSVM and directly run docker commands (for investigation for example). It was included in earlier documentation but it is gone now. What about adding this back?
[code]

---
#### Document Details

⚠ *Do

[2018-06-22 04:12] SaurabhSharma-MSFT commented on #10601
@vamboda The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2018-06-22 04:12] #10601 closed

[2018-06-22 05:06] dcbrown16 opened #10615 "Definitions of "what is protected""
In the "Which Azure Backup components should I use" table, my understanding is that "VMs" actually includes System State, files, folders, volumes, etc. However, those items aren't displayed on the IaaS Backup row.
I believe the intent is to show that IaaS Backup doesn't let you choose only files/folders/System State etc.; it is all or nothing. It's difficult to understand that IaaS Backup covering

[2018-06-22 05:15] Risanshita commented on #10190
Instead for ADD if I'm using Microsoft, google, facebook or twitter It will be also pricing?

![image](https://user-images.githubusercontent.com/28752850/41758867-f23cf6b2-7608-11e8-8c00-92a4ce237108.png)

[2018-06-22 05:16] #10190 closed

[2018-06-22 06:22] MichelZ opened #10616 "Dead Link "See Also" -> "Certificate operations""
The link at the bottom of the page leads to a 404.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 186b5ba4-a5e1-e598-8149-e9079de4d8e2
* Version Independent ID: 4f81f071-2f91-f3df-d5d4-64c58a309d30
* Content: [Get started with Key Vault certificates](https://docs.microsoft.com/en-us/azure/key-vault/certificate-scenario

[2018-06-22 06:37] ddobric opened #10617 "Strange behavior when adding vertices"
I have a simple code, which adds vertices to the graph.
 In the first step (i=0), the NextAsync inserts 4 vertices in the graph (WHY?). Then in the next step inserts 8 vertices, then 16 etc.

Is that a bug or I'm doing something wrong.

[code]

[2018-06-22 06:45] ddobric commented on #10543
thanks for quick response Mike. You are right in documentation is described how yaml file should be configured.

"This value can also be retrieved from the Keys tab, using the URI value by removing https://, changing documents to graphs pr gremlin.cosmosdb, and removing the trailing :443/."

However, I would declare this as "clearly". The primary key, port and collection were correctly generated.

[2018-06-22 06:56] JeremiahJacobson opened #10618 "big fail"
No help with a django app. following this to a "T" and getting nothing but errors. Please dont tout that you support frameworks that you actually dont support. So much time lost putting faith in this. Using Heroku. Goodbye

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac1cd213-5a9f-ae10-73b5-96061bfbd9d9
* Version Ind

[2018-06-22 07:14] sotoe1311 opened #10619 "hi"
hi

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04dd105a-4862-834f-8add-1ce230a7b34a
* Version Independent ID: 0f7466a0-9369-7733-0001-dabed91e6036
* Content: [How to configure Azure Machine Learning Workbench to work with an IDE?](https://docs.microsoft.com/en-us/azure/machine-learning/desktop-workbench/how-to-confi

[2018-06-22 07:28] zhiweiwangmsft commented on #10600
I've updated the release history entry

[2018-06-22 07:40] kazshi opened #10620 "Log Search pane (in View data collected) was changed?"
Looks like the screenshot is old - the current box has Run instead of Search and got the following message following the steps in the instruction. Or I'm doing something wrong here?
"'take' operator: Failed to resolve table or column expression named 'perf'. "

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cfb49644-fb3

[2018-06-22 07:46] marinnedea commented on #10208
@dannradkov -  After you have encrypted the OS volume for Linux, disabling encryption on an OS volume for Linux IaaS VMs is not supported. Check: https://docs.microsoft.com/en-us/azure/security/azure-security-disk-encryption-faq#can-i-encrypt-both-boot-and-data-volumes-with-azure-disk-encryption above.

[2018-06-22 07:50] marinnedea opened #10621 ""--encrypt-format-all" parameter in AzCli resutls in UUIDs of the disks being changed"
The --encrypt-format-all parameter will also cause the UUIDs to be changed post encryption, therefore adding the disks into the /etc/fstab with UUIDs before encryption will most likely result in a "no boot" situation for that VM due to wrong UUID. Removing that parameter allows the system keeping the same UUIDs. Please have this tested on your own end.

Before encryptiong the data disk:
[code]
Aft

[2018-06-22 07:58] ilio78 commented on #10564
Thank you for the quick reply but I am still a bit confused.

Let us assume that a SPA has acquired a token to access Web API A _using the implicit flow_. Can the Web API A use that token to request another token from Azure AD in order to access Web API B?

Does it matter in the On-Behalf-Of flow how the token (implicit vs authorization code grand) was acquired in step 2 of the diagram?

Regards,

[2018-06-22 08:16] blueelvis opened #10622 "Need more clarification on why the instances cannot be scaled down"
Hi,

The documentation states the scaling down limits i.e. basically one cannot change the SKU back i.e. from Premium to Standard or from Standard to Basic. Could you please describe why that is the case? And if someone needs to scale down, then is creating a new instance with the desired SKU the only option?

Also, there is a typo - https://docs.microsoft.com/en-us/azure/redis-cache/cache-how-to-

[2018-06-22 08:19] hansgschossmann opened #10623 "Location of "Extended IoT scenarios""
This is misplaced under "Secure using X.509 CA certificates". I needs to be moved up in the tree.

Hans

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73f27328-9f6d-038d-ebac-7f531faa881e
* Version Independent ID: 8e2a25d9-3448-01aa-f205-9045d6350867
* Content: [Manage Azure IoT Hub cloud device messaging with iothub-e

[2018-06-22 08:33] pgsoub commented on #8898
any solution?

[2018-06-22 09:13] Selvamz opened #10625 "Xamarin support of Cognitive Speech service"
I want to use the Cognitive speech service (real-time continuous speech to text and interim results) in the **Xamarin** app. Is there any SDKs or plugin available? Since REST API has some limitations (no interim results), i am unable to go with it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c941b98c-cfe4-a6c9-2117-

[2018-06-22 09:38] Anmolgan81 commented on #9814
Hi @MicahMcKittrick-MSFT any updates on the support requrest which I have shared with you??

[2018-06-22 09:44] Anmolgan81 commented on #9814
Hi @MicahMcKittrick-MSFT I an interested on taking SQL Server backups and storing them inside the recovery services vault, can you tell me more about this, as to how it is better then the SQL Server Configuration option?

What kind of backups does it takes, here am talking about log backups, database backups, differential backups etc. Does it takes backup of each and everything or does this also s

[2018-06-22 09:55] danimir commented on #10572
This ask is not valid. Force Last Good Plan by default is "On", not as claimed. I've also used google translate to translate the original from Japanese, the statement on the page is correct (translated): "On the logical server, you can inherit the default value of Azure about automatic tuning setting. At the current Azure default value, FORCE_LAST_GOOD_PLAN and CREATE_INDEX are enabled and DROP_IN

[2018-06-22 10:58] kottalovag opened #10627 "Azure Automation GitHub link"
I think the Azure Automation GitHub link should point to this: https://github.com/azureautomation?language=python (Now it points to the same as the line above, maybe copy+paste error?)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fac644d7-9d8c-9f4e-7540-81378707c9d5
* Version Independent ID: ed36731c-e9b4-f127-abb7-6

[2018-06-22 11:06] Codefearingguy commented on #10028
@CelesteDG thanks for the diagram. Is ther eplans to include more explanation around the diagram. Also, is there samples available which demonstrate single logout of apps hosted on multiple servers (on-prem and azure) and single logout enabled. thanks

[2018-06-22 11:38] andyjballgit opened #10628 "The Billing Reader feature is in preview, and does not yet support enterprise (EA) subscriptions or non-global clouds."
is that statement still true
below suggests it should work if "Billing reader" granted at Subscription Level
https://docs.microsoft.com/en-us/azure/billing/billing-getting-started#get-estimated-costs-before-adding-azure-services

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4cba5fe7-e340-af57-4dc0-34cd5b7ba5d0
* Versi

[2018-06-22 11:43] vlele opened #10629 "Does Lab Services Include services other than the VMs?"
Can users of Lab Services access PaaS Services like Web Apps? It is not clear from the article. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97394d52-f271-c9f6-adac-1a0cf7b43788
* Version Independent ID: 33a56473-7e53-6918-38ae-4d89b5a40c9c
* Content: [About Azure Lab Services](https://docs.microsoft.com/en-u

[2018-06-22 11:57] pedromonteiro commented on #5409
links are still broken.
e.g.
https://github.com/MicrosoftDocs/azure-docs/blob/master/powershell/module/AzureRM.Automation/New-AzureRmAutomationVariable

[2018-06-22 12:17] jungho commented on #10284
@MicahMcKittrick-MSFT Does it make sense to keep the issue open to that everyone knows it is in the backlog and being prioritized?

[2018-06-22 12:18] wpo365 opened #10630 "JWT token is not signed even though header indicates alg RSA256 is used"
According to the documentation the Azure AD B2C JWT token's payload is signed with an algorithm indicated in the JWT token's header. However, when I analyze the payload it's merely Base64 encoded but not signed using a public key. Is this undocumented but default behavior and is there a way to find out whether the token is signed other than trial and error?

[2018-06-22 12:57] SaurabhSharma-MSFT commented on #10603
@xmark Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-22 13:00] SaurabhSharma-MSFT commented on #10606
@HartD92 Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-22 13:03] rafaelmluz commented on #10430
@MicahMcKittrick-MSFT

Hi! Yes. I followed exactly step-by-step of the documentation, but not worked :(

I did a test.
I created an AKS and ACR in the same directory / signature and it also did not work.

You had no problem? worked normally?

Ticket number - 118061818408492. So far I have had no return of the Support Azure.

Thank you.
--

[2018-06-22 13:04] SaurabhSharma-MSFT commented on #10621
@marinnedea Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-22 13:06] SaurabhSharma-MSFT commented on #10616
@MichelZ Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-06-22 13:10] SaurabhSharma-MSFT commented on #10610
@kazshi Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-22 13:13] jdogg89 opened #10631 "Incorrectly formatted YAML"
The second example to create a group has incorrectly formatted yaml,
- apiGroup: rbac.authorization.k8s.io
 kind: Group
 name: "kubernetes-admin"
should be changed to:
- apiGroup: rbac.authorization.k8s.io
  kind: Group
  name: "kubernetes-admin"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a47c6df7-5103-1336-eb0b-68

[2018-06-22 13:24] charlottesoderstrom opened #10632 "Add the view"
In "Use the Text Analytics Service to detect the language for a text sample" step 6, could you be more specific on how (and where)  to add the view?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de38babe-c399-250d-6e30-b5a923009f4d
* Version Independent ID: 017cbad0-6292-0735-0295-83ad41fb275a
* Content: [Text Analyti

[2018-06-22 13:31] helderpinto opened #10633 "Troubleshooting/requirements info is incomplete for RHEL scenarios"
I have a RHEL 7.5 system with Update Management, which never worked. The automation job is suspended just after starting. The job output logs are empty and show only this error, which isn't helpful in Linux: "Job was suspended. For additional troubleshooting, check the Microsoft-SMA event logs on the computers in the Hybrid Runbook Worker Group that tried to run this job."

The troubleshooting inf

[2018-06-22 13:51] Brentless opened #10634 "Duplicate Computers and Conditional Access"
We have set this up successfully, but we see two entries for the most part for each computer (one for Azure AD registered" and one for "Hybrid Azure AD joined")

We are trying to do some Intune conditional access with "Hybrid" Windows devices, but best we can tell, the computer thinks we are coming from the Azure AD Registered computer, not the Hybrid joined computer, even though they are one in t

[2018-06-22 13:54] aqasrawi opened #10635 "Link goes to free trial"
The text reading "Azure Key Vault Premium service tier to support HSM-protected keys" just goes to the free trial site.  I think it's supposed to go elsewhere but can't figure it out.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 259ba844-605a-90de-611b-86be48852d5a
* Version Independent ID: 093cdacd-b58d-bb93-61b2-0b

[2018-06-22 14:00] MathieuBuisson opened #10637 ""winrm_use_ssl" and "winrm_insecure" should be boolean values"
Hi,

According to the [WinRM communicator documentation](https://www.packer.io/docs/templates/communicator.html#winrm-communicator) , the settings "winrm_use_ssl" and "winrm_insecure" are **boolean** values (not strings).

So it would be clearer to change the example template from this :

[code]

to this :

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2018-06-22 14:07] skille commented on #10466
Missing all the Microsoft 365 licenses.
Business
Enterprise E3
Enterprise E5

On Wed, Jun 20, 2018, 18:43 SaurabhSharma-MSFT <notifications@github.com>
wrote:

[2018-06-22 14:07] spelluru commented on #10629
Looping in @jkwon2013

[2018-06-22 14:14] dalee-bis opened #10638 "Broken link on API Management Delegated Authentication page."
The link on the page https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-setup-delegation for "calling the REST API for product subscription" is broken. Presumably it should link to https://docs.microsoft.com/en-gb/rest/api/apimanagement/subscription ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2018-06-22 14:14] georgewallace commented on #5409
@pedromonteiro I just reviewed the doc again and do not see any broken links, can you please tell me where you see this issue?  Is it in a specific localized version? The links in the actual markdown are relevant links to our docs site.  We dynamically build them from the markdown.

[2018-06-22 14:23] MGoedtel commented on #9744
@MicahMcKittrick-MSFT - I've bugged this and tracking internally, so I'm requesting we close #please-close this issue.

[2018-06-22 14:26] jdogg89 opened #10639 "Virtual Kubelet in Centralus"
Are there any plans to enable virtual kubelet in the centralus region in the near future? My resource groups are all based out of centralus and I am unable to use virtual kubelet because of this: "Azure Container Instance is not available at location "centralus". The available locations are "westus,eastus,westeurope,southeastasia""

---
#### Document Details

⚠ *Do not edit this section. It is req

[2018-06-22 14:32] martgras opened #10640 "Update syntax for moving / removing subscriptions"
The correct syntax to  add / remove a subscription from a managed group is
[code]
and
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2e9ad00-a67a-53e8-2bcc-5aa7f962f32d
* Version Independent ID: 8394fe41-6d3f-b536-7c8e-d6edd8dc85ef
* Content: [How to change, delete, or manage your management groups - Azure](htt

[2018-06-22 14:48] Mike-Ubezzi-MSFT commented on #10617
@ddobric Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-06-22 14:53] Mike-Ubezzi-MSFT commented on #10622
@blueelvis Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-22 15:00] notoriousedd opened #10642 "SPA Step 7 Should Be Updated"
Step seven on the SPA flow should be updated to reflect recent changes in Azure AD where the ID Token cannot be used to access a resource.  This should be updated to state that an access token would be used to access the resources.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d1a08b2-74d4-6350-70c5-6661ef4f7ad1
* Ve

[2018-06-22 15:02] Mike-Ubezzi-MSFT commented on #10622
Reference of items to be addressed in this documentation:

1) The section in this documentation: [Scaling limitations with Geo-relication](https://docs.microsoft.com/en-us/azure/redis-cache/cache-how-to-scale#scaling-limitations-with-geo-relication) should read **Geo-Replication**.

2) The section [When to scale](https://docs.microsoft.com/en-us/azure/redis-cache/cache-how-to-scale#when-to-scale)

[2018-06-22 15:10] mlwhite4 opened #10643 "Hyperlink removal/verbiage update: Step 7 in Configure and test"
Hello,
  It looks like you all have linked our FreshDesk customer support feedback form within Step 7 of the Configure and test Azure section of this document.
At this point in the process, companies we work with have already been assigned a Customer Success Manager within our Customer Success team.

Is there any way that you can edit this step to say something to the effect of:
"To configure sing

[2018-06-22 15:20] Jeremywhiteley commented on #10584
@MohitGargMSFT Done!   Microsoft needs to get on this!      https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/34635757-flutter-dart-support

https://github.com/trending

As of today:=
Xamarin Forms has 2k likes
**Flutter has over 28k likes!**

[2018-06-22 15:30] georglabbe opened #10644 "Operation Timeout"
Hi everyone,

I'd like to know if it is possible to provide a timeout value for operations.
As I am receiving some operationId to poll, I was wondering for how long I should expect to poll (max).
Is there any value to work with, or could that operation theoretically stay at "NotStarted" forever?

If I'm missing some documentation, I'd appreciate a link.  :-)

Thanks and best regards,
Georg

---
##

[2018-06-22 15:31] sergaz-msft commented on #10623
@hansgschossmann goo catch 👍  thanks for the feedback! We will correct it.

[2018-06-22 15:46] tdykstra commented on #10151
@rgwood Per your comment above, we'll go ahead and #please-close

However, FYI, we did create a wiki page that explains how to troubleshoot timer trigger problems

https://github.com/Azure/azure-functions-host/wiki/Investigating-and-reporting-issues-with-timer-triggered-functions-not-firing

Please take a look and feel free to open a new issue if that page isn't helpful.

[2018-06-22 15:47] trevor-schmidt opened #10645 "Automate via DTL Template or Powershell?"
Could this be automated within the DTL Template or using powershell?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5ae9b022-aaab-2d26-c27c-aef58d09e916
* Version Independent ID: 553b5dd2-3024-ede8-2da3-2a3e152d3b69
* Content: [Post an announcment to a lab in Azure DevTest Labs](https://docs.microsoft.com/en-us/azure/l

[2018-06-22 15:52] mganeshphani commented on #10574
@PatAltimore I am a global admin of our organization tenant... eventhough I granted permission for application permissions as specified in the documentation.. other users in the org are able to login, there is a continuous prompt for every user to get consent from global admin... hence I went ahead with delegate permissions and it then allowed non-global admin users to log in to the application..

[2018-06-22 15:52] Minewiskan commented on #10343
@subashsivaji  Thank you for contributing. Additional clarification in sentences and notes were added to three different articles.
#please-close

[2018-06-22 15:55] tdykstra commented on #6926
@MrGlenThomas See also this documentation on using the admin API to trigger a function by using an HTTP request:  https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local#non-http-triggered-functions

[2018-06-22 15:56] tdykstra commented on #10151
@rgwood See also this documentation on using the admin API to trigger a function by using an HTTP request: https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local#non-http-triggered-functions

[2018-06-22 16:09] ayushgorya opened #10646 "Correction:Passing id_token to webapi?"
What is the use of access_token we received by exchanging auth code in 2nd step of oauth flow  if we are still passing id_token to web API?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 628db02d-345a-5dc4-17f0-3d6ff76d7fe5
* Version Independent ID: 524b460d-47b7-72c9-e994-ea94b3a9dd2b
* Content: [Azure Active Director

[2018-06-22 16:19] sergaz-msft commented on #10417
Hello @smoms is your question related to any of the steps [on the doc where you opened this issue at](https://docs.microsoft.com/en-us/azure/iot-dps/quick-create-simulated-device-tpm-csharp)? If not, can you go ahead and open an issue on the repo you are refering: https://github.com/Microsoft/TSS.MSR/issues ? As well as because this is using a sample from Azure IoT SDK for C# , you can also look a

[2018-06-22 16:19] #10417 closed

[2018-06-22 16:24] sergaz-msft commented on #10546
Hello @andrejbratukhin can you detail better which step [in the documentation](https://docs.microsoft.com/en-us/azure/azure-maps/how-to-search-for-address) you weren't able to follow?

Thank you.

[2018-06-22 16:34] sergaz-msft commented on #10547
@ajaybha can you confirm if the sample from this doc works as expected when you replace that line of code? Thanks

[2018-06-22 16:36] PatAltimore commented on #10574
@mganeshphani That sounds opposite to what I would expect. If a tenant admin grants application permission, the application (in this case the workbench web app) has permission to access the directory regardless of who the signed in user is. If you use delegated permissions, then users would need to consent. You should use application permissions and make sure to click the grant button. https://doc

[2018-06-22 16:37] #9744 closed

[2018-06-22 16:37] Mike-Ubezzi-MSFT commented on #10572
@gosali We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-22 16:37] #10572 closed

[2018-06-22 16:39] MicahMcKittrick-MSFT commented on #10284
@jungho the issue is still visible on the document so when others come they can still see it. Without any actual ETA on when we might get that information publicized I would opt to just close for now.

I will assign the issue to @gabrtv so he can keep it in his system for tracking

[2018-06-22 16:41] MicahMcKittrick-MSFT commented on #10631
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-22 16:41] MicahMcKittrick-MSFT commented on #10637
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-22 16:42] MicahMcKittrick-MSFT commented on #10639
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-22 16:51] daveba commented on #10170
#please-close

[2018-06-22 16:57] sergaz-msft commented on #10453
@kiranpradeep follows the input from Product Group to your question:

Adding @nberdy for futher clarification if needed.

[2018-06-22 16:59] Mike-Ubezzi-MSFT commented on #10543
@ddobric Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-22 17:02] MicahMcKittrick-MSFT commented on #6500
@jeeshnair any update on this?

[2018-06-22 17:11] MicahMcKittrick-MSFT commented on #9814
I do not have any update on the support ticket. From what we understand now the SQL configuration manager in the portal will only show up if you create the VM from the portal. Otherwise, in your case since the VMs are created from an existing disk you need to manage the backups via PowerShell if you want to use the SQL backup manager. So there is nothing to be done in that aspect until the product

[2018-06-22 17:13] MicahMcKittrick-MSFT commented on #10313
@theheatDK as of now it looks like we do not actually have the PowerShell module for AKS ready for the public which is why you are not seeing it when installing the AzureRM module. @neilpeterson and I are working to determine when it might become available.

[2018-06-22 17:13] georgewallace commented on #10366
I am going to ask the issue be closed as the issue appears to be a support type issue.  Everything you are doing is correct and provided the collection frequencies for the different elements of the solution. Please don't hesitate to open another issue on the docs if there is anything else I can help with. #please-close

[2018-06-22 17:14] georgewallace commented on #10409
The docs have been updated to correctly reflect @KloudEzy 's experience, we now specify that interactive user prompts are not supported. #please-close

[2018-06-22 17:16] sergaz-msft commented on #10252
Hi @kunalaphadnis99 ,

You can consider using [.NetCore](https://www.microsoft.com/net/learn/get-started/windows) since it will run both on Windows and Linux :).

This is a different issue than the initial one. Can you open a new issue under the same doc?

Thank you!

[2018-06-22 17:18] seanmck commented on #10313
The module is currently available as pre-release. You can install with:

```Install-Module -AllowPrerelease AzureRM.Aks```

We have some updates to do to align it with the GA AKS API, but it should be "GA" in a few weeks.

[2018-06-22 17:21] MicahMcKittrick-MSFT commented on #10430
@rafaelmluz yes I ran through the doc and was able to create an ACR and AKS and authenticate using

`kubectl create secret docker-registry acr-auth --docker-server <acr-login-server> --docker-username <service-principal-ID> --docker-password <service-principal-password> --docker-email <email-address>`

I did the following:
1) Create Resource Group in East US
2) Created ACR in same RG in East US
3)

[2018-06-22 17:21] MicahMcKittrick-MSFT commented on #10474
I will close this out but if you feel you need more information please just let me know.

[2018-06-22 17:21] #10474 closed

[2018-06-22 17:25] xsqian opened #10648 "All the screenshots need to be updated"
It seems the UI has been changed and would suggest that the screenshots be updated as well. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a08f205e-f19b-50e4-657d-4e97bf0121c1
* Version Independent ID: 0547fcda-7866-6001-306f-908776fb8017
* Content: [Real-time fraud detection using Azure Stream Analytics](https

[2018-06-22 17:28] Lagrik opened #10649 "Storage Accounts Per Subscription"
This page says 200 Storage Accounts per subscription.  But the following article I link to just below says 200 Storage Accounts Per Region Per Subscription meaning you can have 200 Storage Accounts in US East and another 200 Storage Accounts in US Central.  Document needs updating.
 https://docs.microsoft.com/en-us/azure/storage/common/storage-scalability-targets

---
#### Document Details

⚠ *Do

[2018-06-22 17:30] MicahMcKittrick-MSFT commented on #10313
Thanks @seanmck!

I tried the command but it is not finding the -AllowPrerelease command. Is there something special we have to do to get that to work?

<img width="356" alt="image" src="https://user-images.githubusercontent.com/32313503/41790389-4b2d77b2-7607-11e8-9981-f7c5a7ff68ff.png">

[2018-06-22 17:31] MohitGargMSFT commented on #10584
@Jeremywhiteley Thanks. The Identity service team must be aware of it and with your feedback logged they will get more visibility on the customer ask. I will let service team know about it from my end as well.

[2018-06-22 17:31] #10584 closed

[2018-06-22 17:31] DavidPrio commented on #5286
Helo @vhorne has this been resolved?

[2018-06-22 17:34] seanmck commented on #10313
Try running `Install-Module PowerShellGet` first.

[2018-06-22 17:34] MicahMcKittrick-MSFT commented on #10501
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2018-06-22 17:34] #10501 closed

[2018-06-22 17:41] robinsh commented on #10444
@ajiteshg Thanks for contributing, especially for posting the answer to your own question! :-) I'm sure someone else will come along and find that information helpful.

[2018-06-22 17:47] Mike-Ubezzi-MSFT commented on #10565
@ddobric Please take a look at this Stack Overflow post: [Can I create azure cosmos db document with a custom key other than Id](https://stackoverflow.com/questions/48641133/can-i-create-azure-cosmos-db-document-with-a-custom-key-other-than-id).

Also, I went through this tutorial and had no issues. If you are inquiring about general information that this documentation covers, you might receive mo

[2018-06-22 17:50] MicahMcKittrick-MSFT commented on #10313
Still not recognizing it.

I tried both with my local PS and CloudShell.

I am running 6.3 so it is fully updated.

[2018-06-22 17:52] seanmck commented on #10313
Try restarting PS after you run the PowerShellGet command.

[2018-06-22 17:52] MicahMcKittrick-MSFT commented on #10589
@jangelfdez I currently do not have any N series available for my subscription so I cannot try a repo.

@dlepow would you be able to test this?

[2018-06-22 17:56] MicahMcKittrick-MSFT commented on #10313
Thanks @seanmck. That was it :) The classic "Turn it off and on again" trick as usual.

@theheatDK Please try the following:

[code]

Restart your PS session

`Install-Module -AllowPreRelease AzureRM.AKS`

[2018-06-22 17:56] SnehaGunda commented on #9215
@maxal1917 hope Andrew's response helps, we will now proceed with closing this issue.

#please-close

[2018-06-22 17:56] MicahMcKittrick-MSFT commented on #10524
@jibinjohnbabu any update?

[2018-06-22 17:57] MicahMcKittrick-MSFT commented on #10631
@neilpeterson can you confirm and take a look?

[2018-06-22 17:58] ggailey777 opened #10650 "Test feedback from new repo"
This is a test issue from a repo newly hooked-up to azure-docs for feedback. You can just close this issue.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1acd3de-471c-d954-af1a-62f7fc440370
* Version Independent ID: 84549c67-6733-e861-6ec9-aab9f248a406
* Content: [Build your first serverless web app](https://review.d

[2018-06-22 17:58] ggailey777 commented on #10650
#please-close

[2018-06-22 17:58] Mike-Ubezzi-MSFT commented on #9215
@maxal1917 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-22 17:58] #9215 closed

[2018-06-22 17:59] jibinjohnbabu commented on #10524
Hi @MicahMcKittrick-MSFT  This was resolved after I updated my nsg rules !! Thanks for prompt response. But is there any way to give public IP to two different machines on same availability set ?

[2018-06-22 17:59] KloudEzy commented on #10409
@georgewallace thanks for updating the documentation! Amazing customer experience and thank you for listening to customer's feedback!

[2018-06-22 18:00] MicahMcKittrick-MSFT commented on #10637
@MathieuBuisson thanks for pointing this out. I have made the changes. Once the changes merge this issue will close and the doc will update in a few hours.

[2018-06-22 18:02] MohitGargMSFT commented on #10564
@ilio78 I get what you are asking. It will matter if the access to Web API B requires user context.

Please note that OAuth 2.0 provides the On-Behalf-Of flow to support obtaining a user access token for a resource with only a user access token for a different resource – and without user interaction.This supports the scenario where a secured Web API acts as an interface to other resources (a.k.a e

[2018-06-22 18:02] boqsernmcpopsern commented on #10471
I was mistaken. Firepower url filtering caused the service to fail, but not my tcp check. Tcp 80 is still blocked and url whitelisted and everything is working fine.

[2018-06-22 18:06] MicahMcKittrick-MSFT commented on #10639
@jdogg89 I am not aware off the top of my head which regions they plan to release next. However limiting it to only a handful of regions is never the forever plan :)

In the doc the ACR team requests that you reach out here to request add regions here:

https://feedback.azure.com/forums/602224-azure-container-instances

CC: @neilpeterson in case he has any additional insights

[2018-06-22 18:07] MohitGargMSFT commented on #10634
@Brentless Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-22 18:09] MohitGargMSFT commented on #10635
@aqasrawi Thanks for reporting! I have assigned the issue to the content author to investigate and update as appropriate.

[2018-06-22 18:09] mathewc commented on #10402
The DI changes just landed recently in the WebJobs SDK repo. You can see an example of the new host configuration pattern here: https://github.com/Azure/azure-webjobs-sdk/blob/dev/sample/SampleHost/Program.cs#L21.

[2018-06-22 18:12] BryanTrach-MSFT commented on #10618
@JeremiahJacobson Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-22 18:14] jason-j-MSFT commented on #10648
@xsqian
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-22 18:15] femsulu commented on #10613
@dem108 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-06-22 18:16] jason-j-MSFT commented on #10620
@kazshi
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-22 18:17] #10637 closed

[2018-06-22 18:17] femsulu commented on #10619
closing issue as spam

[2018-06-22 18:17] #10619 closed

[2018-06-22 18:17] vasivara-MSFT commented on #10630
@wpo365 Please provide the link to the document that you are referring to.

[2018-06-22 18:19] vasivara-MSFT commented on #10625
@Selvamz Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-22 18:21] ewong18 opened #10651 "Supported connectors seems misleading"
According to the article, sources like SFTP, FTP, and File System are support the Get Metadata activity. However, those Dataset types register as "File Share" types in Data Factory which do not support the Get Metadata activity..

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e4997d4-36fd-4f1c-464b-ea3190531e02
* Vers

[2018-06-22 18:25] femsulu commented on #10627
@kottalovag Thanks for bringing this to our attention. We are currently investigating and will get back to you shortly.

[2018-06-22 18:25] SaurabhSharma-MSFT commented on #10632
@charlottesoderstrom Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-06-22 18:25] vasivara-MSFT commented on #10638
@vladvino Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-22 18:28] vasivara-MSFT commented on #10644
@georglabbe Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-22 18:28] SaurabhSharma-MSFT commented on #10646
@ayushgorya Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-22 18:29] SaurabhSharma-MSFT commented on #10642
@notoriousedd Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-06-22 18:29] CelesteDG commented on #9702
Hello @GavinPG - The changes to the v1.0 and v2.0 versions of the tokens and claims articles are now live. Thank you very much for your feedback so we can improve the docs.

@SaurabhSharma-MSFT - Hello. Can you please close this issue? Doc updates/resolution to the issue, are now live. Thank you.

[2018-06-22 18:30] vasivara-MSFT commented on #10170
@WillParry We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-22 18:31] vasivara-MSFT commented on #10343
@subashsivaji We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-22 18:31] #10343 closed

[2018-06-22 18:31] vasivara-MSFT commented on #10366
@gesandovalr We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-22 18:31] vasivara-MSFT commented on #10409
@KloudEzy We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-22 18:31] #10409 closed

[2018-06-22 18:32] vasivara-MSFT commented on #10650
@ggailey777 We will now proceed to close this thread.

[2018-06-22 18:32] #10650 closed

[2018-06-22 18:35] femsulu commented on #10633
@helderpinto Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-06-22 18:35] SaurabhSharma-MSFT commented on #9300
@peternield It is good to know through offline communication that you are unblocked by using an alternative solution, which I am posting over here for any future references of other people -

_"I recently had the same situation. As a workaround I manually copied the %SystemRoot%\System32\WindowsPowerShell\V1.0\Modules\MSOnline folder from a machine with the module already installed to the NPS serv

[2018-06-22 18:35] #9300 closed

[2018-06-22 18:36] SnehaGunda commented on #10498
@BakerLabs as the issue is resolved, we will now proceed with closing.

#please-close

[2018-06-22 18:36] SnehaGunda commented on #10498
#please-close

[2018-06-22 18:36] SaurabhSharma-MSFT commented on #10443
@robvon We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-22 18:36] #10443 closed

[2018-06-22 18:38] femsulu commented on #10649
@Lagrik Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-06-22 18:38] andrewdialpad opened #10652 "Profile image"
I changed the profile image, but still never saw the image anywhere during the login flow or consent screen. Where in the flow is it visible? I'm looking for some additional context so I know what kind of image to use.

I am using the web authentication flow with a non-single page application.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2018-06-22 18:39] Mike-Ubezzi-MSFT commented on #10498
@BakerLabs We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-22 18:39] #10498 closed

[2018-06-22 18:40] theheatDK commented on #10313
Thanks all. I got it installed :-)

[2018-06-22 18:40] #10313 closed

[2018-06-22 18:43] femsulu commented on #10640
@martgras Thanks for the for bringing this to our attention. We are actively investigating and will get back to you soon.

[2018-06-22 19:07] ShevaDas commented on #6825
#please-close

[2018-06-22 19:15] Mike-Ubezzi-MSFT commented on #10386
@kriston We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-22 19:15] #10386 closed

[2018-06-22 19:22] jimdial commented on #9593
@tomkodet Sorry for the delay. I'm trying to track down the original author of this article to determine where the files are now. I'll update the article once I know.

[2018-06-22 19:22] #9570 closed

[2018-06-22 19:24] jimdial commented on #10481
@tomkodet I've been trying to track down the original author of this article to determine where the files are now. I'll update the article once I know. #in-process

[2018-06-22 19:53] MohitGargMSFT commented on #10634
@Brentless Please open a new MSDN forum post and community will help address your query. Please refer to below link to MSDN forum to ask new question -
https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazureplatform&forum=WindowsAzureAD&prof=required

Please post the MSDN forum post link you create here. I will make sure you are been assisted on it.

[2018-06-22 19:59] MicahMcKittrick-MSFT commented on #8898
@pgsoub are you seeing the same error message?

[2018-06-22 20:00] konrad-jamrozik opened #10654 "GitHub link of JWT Handler for .NET 4.5 is wrong."
It points to Identity Protocol Extensions GitHub. I believe you wanted to link to this instead, or similar:
https://github.com/Azure-samples/active-directory-dotnet-webapi-manual-jwt-validation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5e545dc-070f-9f8f-ba70-1465eb690878
* Version Independent ID: dcdae435-fdb2-77

[2018-06-22 20:02] #10654 closed

[2018-06-22 20:06] rafaelmluz commented on #10430
@MicahMcKittrick-MSFT
Great!
But my ACR is in one Directory and the AKS in another.

When I run the first part of the documentation, see the error.

Principal 9d01db27949e4a48bdfe0143d27f1f55 does not exist in the directory eea57639-7a6a-40f2-ab45-d41085f79d1e.

[2018-06-22 20:22] SaurabhSharma-MSFT commented on #10606
@HartD92 The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2018-06-22 20:22] #10606 closed

[2018-06-22 20:23] tfitzmac commented on #10562
@Shloeb - I am guessing this is related to the format of the parameter you are providing. You can link to to a parameter file. Here is the [expected format](https://raw.githubusercontent.com/Azure/azure-docs-json-samples/master/azure-resource-manager/multipleinstance/multiplesecurityrules.parameters.json)

[2018-06-22 20:29] ronaldlb commented on #7983
We had the same issue and what fixed for use is this:
 Uninstalled update 2992611 or update 3000850 and adding Dword in reg see below:

HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Cryptography\Protect\Providers\df9d8cd0-1501-11d1-8c7a-00c04fc297eb
ProtectionPolicy = 1 (DWORD)

[2018-06-22 20:40] femsulu commented on #9138
@Davilink when possible, pls send the requested diagnostic traces to AzCommunity@microsoft.com.
Will now close this issue as we can continue the conversation via email. Please don't hesitate to ping if you have any questions.

[2018-06-22 20:41] #9138 closed

[2018-06-22 20:56] alexmarshall132 opened #10656 "Update needed for Service Fabric SDK 3.0+"
Please update this documentation to use code from SDK version 3.0+. The method signatures for the WcfCommunicationClient et al are no longer valid

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: efc5a255-70d0-c9c6-a290-914681b71479
* Version Independent ID: a1b395d1-6e8c-eca6-4b48-4739f3a24f72
* Content: [Reliable Servi

[2018-06-22 21:11] tfitzmac commented on #8390
Microsoft.web/certificates is the resource type for 3rd party certificates.

[2018-06-22 21:13] tfitzmac commented on #10494
It looks like this issue is being discussed in #8390 .

[2018-06-22 21:13] tfitzmac commented on #10494
#please-close

[2018-06-22 21:19] tfitzmac commented on #9912
@ToMakeSense - the service team is researching this problem and trying to fix it.

[2018-06-22 21:19] CelesteDG commented on #10652
Hello @andrewdialpad - Thank you for your feedback. Can you please confirm if you can see the updated logo in the Microsoft Application Registration Portal? If yes, we have some additional investigation to do on our end. If you don't see it in the app registration portal, then the logo update operation failed and you need to retry uploading the logo. Thank you.

[2018-06-22 21:21] #10562 closed

[2018-06-22 21:29] #6825 closed

[2018-06-22 21:37] kamaljoshi911 opened #10657 "Please let us know the queries which it can do and it can't do"
One thing which bugged me for so long with mongo is it does not gives a clear picture of things which it can do and can't do.
I would also be interested if i can find a page where for each api the road map of the features is written for instance i have no clue whether someone is working on group by feature in sql api or not.

Another example would be $$ROOT i have not find even a single page where

[2018-06-22 21:45] CelesteDG commented on #10652
Thank you, @andrewdialpad - This info helps. I'll follow up with you once we're done with our investigation.

[2018-06-22 21:57] zdog786 opened #10658 "No Script Button displays for global admins"
Noticed that the button that says Script does not display in Azure Portal -Active Directory - Sign-In - Download sign-in activities

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bbc77eed-9bcb-d9a8-4d0c-52095b6d0aa7
* Version Independent ID: 187f48b4-ae4f-86a2-e7e8-93141aa4f615
* Content: [Sign-in activity reports in t

[2018-06-22 22:00] 7100SW opened #10659 "Incorrect URL for POST"
It appears that the https://te.cpim.windows.net/&lt;yourtenant.onmicrosoft.com&gt;/&lt;B2C_1A_ROPC_Auth&gt;/oauth2/v2.0/token is not correct.  Hostname te.cpim.windows.net is not valid.

Maybe the correct value is the token_endpoint from the ./well-known/open-idconfiguration?p=B2C_1_ROPC_Auth

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2018-06-22 22:00] tfitzmac commented on #10485
@cloudmelon - thanks! I am submitting an update.

[2018-06-22 22:03] #10485 closed

[2018-06-22 22:06] SaurabhSharma-MSFT commented on #10659
@7100SW Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-22 22:07] SaurabhSharma-MSFT commented on #10658
@zdog786 Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-22 22:20] SnehaGunda commented on #6596
@David-Noble-at-work I see you are already handling the issues where most of them correspond to product enhancement. As you handling them offline, do you think this issue can be closed now?

[2018-06-22 22:22] tfitzmac commented on #10640
@martgras - thanks, I will update the CLI examples.

[2018-06-22 22:22] neilpeterson commented on #10430
@rafaelmluz - the second method specified in this doc should work across tenants.

https://docs.microsoft.com/en-us/azure/container-registry/container-registry-auth-aks?toc=%2fazure%2faks%2ftoc.json

Basically you are creating a service principal and associating it with the ACR instance in tenant 1.
In tenant 2, when deploying a pod in AKS, you are referencing the SP credentials from tenant 1 in t

[2018-06-22 22:23] Mike-Ubezzi-MSFT commented on #10565
@ddobric We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-22 22:23] #10565 closed

[2018-06-22 22:27] MicahMcKittrick-MSFT commented on #10645
Thanks for the question! We are investigating and will update you shortly.

[2018-06-22 22:29] KloudEzy opened #10661 "SwapWithPreviewAction command switch to swap deployment slots failing!"
My app service is

running on Azure
has authentication enabled (API Management - ClientId and Secret)
has a deployment slot called staging
Before we enabled the authentication we could run the following powershell command to swap staging and production slots:

Switch-AzureRmWebAppSlot -SourceSlotName "staging" -DestinationSlotName "production" -Name "app1" -ResourceGroupName "group1" -verbose -Swa

[2018-06-22 22:31] Mike-Ubezzi-MSFT commented on #10617
@ddobric Please reach out to the [MSDN](https://social.msdn.microsoft.com/Forums/en-US/home?forum=azurecosmosdb&filter=alltypes&sort=lastpostdesc) or [Stack Overflow](https://stackoverflow.com/search?q=Azure+Cosmos+DB) forums to provide greater visibility and receive more feedback on your question.

Kind Regards,
Mike

[2018-06-22 22:31] #10617 closed

[2018-06-22 22:33] MicahMcKittrick-MSFT commented on #10495
@bramvdklinkenberg we have been having some internal discussions and we believe mapping RBAC to a service principle **should** be possible. However, no one has actually tested this yet! So as per specific instructions is something we do not have yet. We will be testing this out sometime next week to fully verify. In the meantime, feel free to give it a go as it should work. But also make sure to d

[2018-06-22 22:37] MicahMcKittrick-MSFT commented on #10645
@trevor-schmidt As far as I know you cannot achieve the announcements via PS or ARM template. These announcements are displayed in the portal when you select your DevTest Lab. So they are not directly integrated into the actual lab environment and how it setup but just a notification system used that lies on top of the lab if that makes sense.

Would be a great feature to add though! I would sugge

[2018-06-22 22:38] vasivara-MSFT commented on #10469
@tudorsibiu90 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-22 22:38] TravisCragg-MSFT commented on #10202
@cenkersoy We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-06-22 22:38] #10202 closed

[2018-06-22 22:42] TravisCragg-MSFT commented on #10214
@cbeech1980 Unfortunately I am not able to provide any information on when diagnostics on basic LBs  will be available.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-06-22 22:42] #10214 closed

[2018-06-22 22:43] SnehaGunda commented on #9974
@sunilab Thanks for your feedback, this tutorial uses, Microsoft.Azure.Graphs library, and we are in the process of deprecating the library and the associated docs. We recommend you to use the Gremlin.Net opensource library as documented in this quickstart: https://docs.microsoft.com/en-us/azure/cosmos-db/create-graph-dotnet . The doc also has a sample that should help you.

[2018-06-22 22:48] grahambunce commented on #10402
@mathewc Thanks - any plans on when the next nuget beta package update will be that includes this?

[2018-06-22 23:04] mikewaretena opened #10662 "Missing guidance on StringIDs for localizing UI elements in custom policies"
Hi there,

I think there could be an opportunity to add guidance on grabbing the StringIDs from the json files available in built-in policies, so that the folks creating custom policies know to go there to download the json files, find the StringIDs of the elements they want to modify and use them in the custom policies.

I struggled quite a bit with the language on this article and found that the

[2018-06-22 23:10] SnehaGunda commented on #9671
@algattik we will close this issue for now, and update you know when the docs are ready.

#please-close

[2018-06-22 23:12] SaurabhSharma-MSFT commented on #10654
@konrad-jamrozik We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-22 23:13] #10366 closed

[2018-06-22 23:14] SaurabhSharma-MSFT commented on #10494
@Anmolgan81 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-22 23:14] #10494 closed

[2018-06-22 23:15] Mike-Ubezzi-MSFT commented on #10657
@kamaljoshi911 Thank you very much for your feedback. Have you had a chance to look over the following documentation: [MongoDB API support for MongoDB features and syntax](https://docs.microsoft.com/en-us/azure/cosmos-db/mongodb-feature-support)

It does not appear that $$ROOT is supported. Does this provide the information you are seeking?

Regards,
Mike

[2018-06-22 23:17] #9671 closed

[2018-06-22 23:18] jason-j-MSFT commented on #10471
@boqsernmcpopsern thanks for the follow up.

[2018-06-22 23:18] #10471 closed

[2018-06-22 23:18] jason-j-MSFT commented on #10332
@suketunayak we are closing this issue for but will reopen if you can provide more context.

[2018-06-22 23:18] #10332 closed

[2018-06-22 23:18] SaurabhSharma-MSFT commented on #10621
@marinnedea Are you trying to say that the scenario shared by you needs to be added to the FAQ documentation ?

[2018-06-22 23:20] jason-j-MSFT commented on #10457
@ishepherd thanks for the catch and the suggested fix.

[2018-06-22 23:25] hobpet opened #10663 "References"
The reference section includes generic links only except the CRS, CLI and the REST one. ARM reference would be really helpful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 68677bfe-232b-3f9f-5473-005098e7231d
* Version Independent ID: ab0e9bbf-b9cd-acdc-054d-ca64bf6700bb
* Content: [What is Azure Application Gateway]

[2018-06-22 23:29] BryanTrach-MSFT commented on #10661
@KloudEzy Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-22 23:34] nialmcshane commented on #10659
Hi, I managed to get the example working and returning the token. I am wanting to use this with xamarin forms. I can see that the token expires in "expires_in":"3600". You will have to pardon my lack of knowledge but I am only new to Xamarin and was wondering how or what I should use to store the token to allow access to the App.

Should I be using the Microsoft.Identity.Client nuget package in so

[2018-06-22 23:38] jason-j-MSFT commented on #10482
@vladvino we have request here to clarify the premise of what API Gateway is.

[2018-06-22 23:39] SaurabhSharma-MSFT commented on #10466
@skille I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-06-22 23:40] jason-j-MSFT commented on #10483
@mrbullwinkle is this something that can be clarified in the document?

[2018-06-22 23:41] MohitGargMSFT commented on #10658
@zdog786 I am not able to follow your query. There is no button which says 'Script' in Sign-ins Activity report page. Request you to please help with section and screenshot which are referring in document. When you click on download button a csv file report gets downloaded to your local computer.

[2018-06-22 23:45] #10640 closed

[2018-06-22 23:45] jason-j-MSFT commented on #10515
@cjgronlund could you help route this to a content author?  I was not able to assign it to the handle listed in the metadata.

[2018-06-22 23:48] jason-j-MSFT commented on #10577
@sharonlo101 looks like the wrong function is used in the examples for the 'startswith' and  'endswith' functions.

[2018-06-23 00:04] jason-j-MSFT commented on #10580
@matt1883 I have replicated getting an error when trying to use 'Get-AdlAnalyticsDataSource -Name':

Get-AzureRmDataLakeAnalyticsDataSource : A parameter cannot be found that matches parameter name 'Name'.

[2018-06-23 00:14] amanarneja commented on #10625
@Selvamz A couple of options to explore would be the following:

https://www.nuget.org/packages/Xamarin.Cognitive.BingSpeech/
https://github.com/NateRickard/Xamarin.Cognitive.BingSpeech

Neither of these are officially Microsoft supported so we cannot guarantee compatibility but they have been created by a Microsoft Employee as a personal project.

Its also a good idea to add a feedback item @ htt

[2018-06-23 00:16] SaurabhSharma-MSFT commented on #10646
@CelesteDG  Isn't "Access Token" passed as authorization header to the calling web API.  In that case the diagram needs update under [Protocol diagram: Access token acquisition](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-v2-protocols-oidc#protocol-diagram-access-token-acquisition).

[2018-06-23 00:19] SaurabhSharma-MSFT commented on #10662
@mikewaretena Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-06-23 00:20] fabiocav commented on #10402
@grahambunce we just published the packages with the new host/DI model to the MyGet feed here:
https://www.myget.org/F/azure-appservice/api/v3/index.json

You can install version 3.0.0-beta7-11363 from that feed to use the new features. We'd love to hear your feedback, so please let us know if you have any questions or problems.

[2018-06-23 00:37] hankwojteczko opened #10664 "Excellent Document That Applies to Real-World Situations"
This was the ideal document, free of code defects, and most applicable to my situation, and probably most applicable to others who have to build VMs in an IaaS situation.

Thanks for a job well done.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 675c83b0-1d6e-ca23-5434-0618c49d07b8
* Version Independent ID: 7bf9e30b-9

[2018-06-23 00:49] jkwon2013 commented on #10629
Hi @vlele Currently Lab Services only supports VMs. If you want to set up a lab environment with PaaS, please use DevTest Labs. Here's an article that might be helpful: https://docs.microsoft.com/en-us/azure/lab-services/devtest-lab-create-environment-from-arm

[2018-06-23 00:50] Herman-Wu opened #10665 "The tutorial link is broken"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-06-23 00:51] Herman-Wu opened #10666 "The tutorial link is broken"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-06-23 01:02] BryanTrach-MSFT commented on #10618
@JeremiahJacobson We were able to follow this doc from start to finish with no errors, as seen in the below screenshot. Can you please share with us the error(s) that you were encountering while following this doc?

We look forward to your reply.

![image](https://user-images.githubusercontent.com/20250350/41804152-7b0b71fc-7646-11e8-9689-101070ba4e91.png)

[2018-06-23 01:05] femsulu commented on #10369
@ankitgoelcmu Yes this is possible.
Log into Portal.azure.com-->"Monitor" --> Diagnostic Settings-->choose Sub-->resource Group-->resource/app you wish to collect diagnostic settings for. You may need to enable diag settings for the resource/app as shown below.
Detailed steps @ https://azure.microsoft.com/en-us/blog/azure-monitor-multiple-diagnostic-settings/
![image](https://user-images.githubuse

[2018-06-23 01:07] vasivara-MSFT commented on #10651
@ewong18 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-06-23 01:22] shizn commented on #10547
Hi @ajaybha. During public preview, the device client with "input1" parameter only enabled in the v1.3.0.0.b device client library. You can find this dependency in the requirement.txt. This means if you want to try run this locally, you have to install the specific version of python device sdk.

[2018-06-23 02:34] Brentless commented on #10634
Done: https://social.msdn.microsoft.com/Forums/azure/en-US/9930dec8-4cc0-445f-9a0e-e2db7c3336b5/duplicate-computers-and-conditional-access-hybrid-azure-ad-join?forum=WindowsAzureAD

[2018-06-23 03:16] jordanmills opened #10667 "Can't find the msi download"
There's no download link for an msi.  Just an interactive legacy .exe file.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61df48bb-a963-b1f0-8f64-b55d0bd6904c
* Version Independent ID: 677de59f-a222-8905-11c0-a3ac619d8b56
* Content: [Remote Desktop Gateway integration with Azure MFA NPS extension](https://docs.microso

[2018-06-23 04:34] WootJay opened #10668 "Domain/URL change notification"
Is there a way to get notification when domain or URL above changes, such as subscribe to mailing list and receive email prior changes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e517794d-c237-f052-8445-0280c2ba9ecd
* Version Independent ID: 36721ebd-be22-f1e6-882a-83f6d54a1b12
* Content: [Azure File Sync on-premis

[2018-06-23 04:50] kriston commented on #10386
Fantastic.  Thanks for clarifying.  It might be a useful thing to note in the documentation that we won't need the hostname when granting roles, just when logging in.

Thanks again!

[2018-06-23 05:28] karlallitt opened #10674 "Program not working"
I've tried running this program but my output is saying 'cannot connect to server "email.com' required by the login. The login failed'. My user id for Azure is my email this is what i use to log in to the Azure portal. Any help with this? Have I got to use a separate user id to log in to the database if so how do i find my user id?

---
#### Document details

⚠ *Do not edit this section. It is req

[2018-06-23 06:56] neilpeterson commented on #10528
@mbrancato / @MicahMcKittrick-MSFT - we are working on a doc that will address this. I would expect it to be completed within the next two weeks. In addition to clarification customer vs. msft responsibility, the new doc will compare ACS engine and AKS in terms of functionality, access, and maintenance responsibility.

Here is what we have on updates - https://docs.microsoft.com/en-us/azure/aks/fa

[2018-06-23 07:06] TravisCragg-MSFT commented on #10649
@Lagrik Thanks for the feedback! I can confirm that the storage account limit is 200 storage accounts per region per subscription, but this [area of the document about Azure Resource Manager Limits ](https://docs.microsoft.com/en-us/azure/azure-subscription-service-limits#subscription-limits---azure-resource-manager)

I have assigned the issue to the content author to evaluate and update as approp

[2018-06-23 07:13] xsqian commented on #10205
in this step
https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-live-data-visualization-in-power-bi#add-an-output-to-the-stream-analytics-job
after authorization, the save button is still greyed out so I can't save the output.

[2018-06-23 07:15] xsqian commented on #10205
however, I tried to use the different type of output, like Blob storage or Table storage, it worked fine.

[2018-06-23 07:16] KloudEzy opened #10675 "Running Install-module is erroring out"
Hi Team,

Following command is failing with below given error message.

Install-Module -Name Azure.Storage -AllowPrerelease –AllowClobber

Install-Module : A parameter cannot be found that matches parameter name 'AllowPrerelease'.
At line:1 char:36
+ Install-Module -Name Azure.Storage -AllowPrerelease –AllowClobber
+                                    ~~~~~~~~~~~~~~~~
    + CategoryInfo          :

[2018-06-23 08:01] nabhishek commented on #8346
hey @HemantChandurkar ,

Yes you can pass dynamic parameters to Spark Arguments.
Example in Json:
[code]

You can further format the Argument using the String Functions under Dynamic Expressions. Use the UI to create dynamic expressions or directly change the Json. Example in Json:
[code]

I would recommend you opening a support ticket if you still face any issue.

[2018-06-23 08:01] ryansuryanto commented on #9420
found the error was caused by panda v 0.23
solution for me is not to upgrade to version 0.23 instead I use built in panda ver 0.20 in latest spark

![panda-upgrade](https://user-images.githubusercontent.com/33811578/41807255-b3ae3d10-76fe-11e8-88e2-b4c02a8f6d4b.png)

[2018-06-23 08:02] ilio78 commented on #10564
I completely understand all that. I am still looking for a simple yes or no response however :) Assuming that the SPA, the WebAPI A and WebAPI B are all secured by the same identity provider and I do want to have user context in both WebAPI A and WebAPI B. Is this possible in the On-Behalf-Of flow where the SPA acquired the tokent for the WebAPI A via the implicit flow? Can that token be used by W

[2018-06-23 08:12] santo2 opened #10676 "TableQuerySegment max results?"
Can I set the maximum amount of items that I want to return when doing a TableQuerySegment? I need some way of paging to the front-end user.
when I use Take or TakeCount, it only returns that count, no continuationtoken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9ca205b-55ab-683a-46ee-afc9f6fc239b
* Version Indepe

[2018-06-23 09:06] OlegAnaniev-MSFT opened #10677 "Article review"
Hi @bwren
In my free time, I am starting to pass through the LA docs to send some feedback (or submit a PR with tactical changes).

1. Once live, will be great to add here links to the article(s) on data sources/data collection you just wrote
2. In data collection section:
* “Configure Azure Monitor to copy metrics and logs that it collects from Azure resources.” – we should explicitly mention Dia

[2018-06-23 11:03] Anmolgan81 opened #10678 "Help me understand the App service certificate part"
I need some clarifications on the below statements put up by the microsoft please help me understand, if this is about moving app service certificate across subscriptions, or within subscriptions. Please clarify this on the below lines:

App Service limitations
The limitations for moving App Service resources differ based on whether you're moving the resources within a subscription or to a new sub

[2018-06-23 11:13] Anmolgan81 commented on #8390
@tfitzmac deleting the app service certificate from the webapps does not delete the app service certificate right??

[2018-06-23 11:22] grahambunce commented on #10402
@fabiocav Thanks for this. I presume the MyGet feed is intended for fast-track (internal?) development as opposed to the standard nuget feed which, even though it's a beta, is more stable. I'm unclear why the nuget feed is updated behind the MyGet feed.

[2018-06-23 12:07] andreaskornstaedt opened #10679 "ACU?"
It'd be great to have ACU values for B-Series VMs at 100% performance level

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f435b3d1-2e0b-378c-ce89-97defa822eff
* Version Independent ID: 32c3ea31-ae89-5a61-f99e-368bd7d72abc
* Content: [B-series Azure Windows VM sizes](https://docs.microsoft.com/en-us/azure/virtual-machi

[2018-06-23 13:12] vikaskumawat80 opened #10680 "ASE ILB + Application Gateway not working"
I am seeing "The resource you are looking for has been removed, had its name changed, or is temporarily unavailable."

error when I hit my custom domain. But when I add Web App in the backend it works. Even in Backend health, it says Healthy.

Am I missing something?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b1af

[2018-06-23 13:16] mattbriggs commented on #10664
@hankwojteczko Thank your note! :)

@please-close

[2018-06-23 14:09] rafaelmluz commented on #10430
@MicahMcKittrick-MSFT @neilpeterson
I followed the second step "Access with Kubernetes secret" from the documentation, but it does not work. I honestly do not know what to do.

In the Directory where the ACR is located
I took the following step:

1: az acr show --name NAME-ACR --query loginServer --output tsv
2: az acr show --name NAME-ACR --query id --output tsv
3: az ad sp create-for-rbac --name

[2018-06-23 16:05] MicahMcKittrick-MSFT commented on #10679
Thanks for the feedback! We have actually some similar asks surrounding the B series VMs and displaying some additional properties about compute power. The problem with the B series is it is a burstable and variable type of VM size. So any numbers we post would not be accurate as they would be different for every customer and every situation. Hence, we have decided not to post such information as

[2018-06-23 16:05] #10679 closed

[2018-06-23 16:08] #10528 closed

[2018-06-23 16:09] SaurabhSharma-MSFT commented on #10663
@hobpet Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-23 16:11] andreaskornstaedt commented on #10679
Hi Mica,

	I understand the burstable challenge. That’s why I suggested posting ACUs at 100%performance level - so everybody could do the math

Andreas

[2018-06-23 16:14] SaurabhSharma-MSFT commented on #10664
@hankwojteczko We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-23 16:14] #10664 closed

[2018-06-23 16:18] SaurabhSharma-MSFT commented on #10665
@Herman-Wu Could you provide us with the link to the document you are referring to ?

[2018-06-23 16:19] SaurabhSharma-MSFT commented on #10666
@Herman-Wu Could you provide us with the link to the document you are referring to ?

[2018-06-23 16:21] SaurabhSharma-MSFT commented on #10667
@jordanmills Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-23 16:27] SaurabhSharma-MSFT commented on #10677
@OlegAnaniev-MSFT Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-06-23 17:01] Lagrik opened #10682 "VMs in different availability zones"
Maybe make a mention in the matrix for Basic vs Standard SKUs that Standard SKU supports adding VMs in various availability zones.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7eaaf7c7-c1fe-1afc-e7f8-bc0e90044fb8
* Version Independent ID: 6461936a-3f5d-c2fe-cb37-e40fc9dc929e
* Content: [Azure Load Balancer overview](

[2018-06-23 18:38] SaurabhSharma-MSFT commented on #10678
@Anmolgan81 Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-23 18:39] SaurabhSharma-MSFT commented on #10680
@vikaskumawat80 Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-23 18:41] SaurabhSharma-MSFT commented on #10682
@Lagrik Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-23 18:43] mattwhite-itl opened #10683 "Unable to talk from Proxy to Domain Controller"
Since installing the proxy and DC agents on the servers in my test lab I am getting the following warnings when I run Get-AzureADPasswordProtectionSummaryReport

WARNING: Failed to open session to DC-01.labdomain.co.uk

I have a number of EventID 30018 in both my domain controllers as well.

Checking connectivity between the DC Agent and the Proxy I can confirm they are on the same server subnet i

[2018-06-23 21:02] aisog opened #10684 "After perform Create-ADFSIdentityApp the service AzureRmADServicePrincipal failed"
After successful created new ADFS Service principal for Azurestack-AppService the AzureRmADServicePrincipal has become unavailable and failed with error:

Get-AzureRmADServicePrincipal : Operation returned an invalid status code 'ServiceUnavailable'
At line:1 char:1
+ Get-AzureRmADServicePrincipal
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : InvalidOperation: (:) [Get-AzureRmADSer

[2018-06-23 22:01] staciav opened #10685 "Typo to fix - missing words"
This sentence:
This data can be ingested into a Data Lake Store by variety tools.

Should read like this:

This data can be ingested into a Data Lake Store by a variety of tools.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23d54769-c90f-e289-563e-5f877d629a28
* Version Independent ID: 86d52c37-4e7c-b4bf-89b4-1c3de44

[2018-06-23 22:44] rafaelmluz commented on #10430
@MicahMcKittrick-MSFT  @neilpeterson

Good news!!
I was able, apparently, to solve the problem.

I followed another documentation of the Kubernetes where you write about ".dockercfg", to replace ".dockerconfigjson" in the YAML file and, to my surprise, it worked. :)

First I created the secret below.
kubectl create secret docker-registry My-Secret --docker-server <acr-login-server> --docker-userna

[2018-06-23 23:39] vasivara-MSFT commented on #10685
@staciav Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-06-23 23:44] vasivara-MSFT commented on #10684
@aisog Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-06-23 23:47] vasivara-MSFT commented on #10683
@mattwhite-itl Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-06-24 01:19] kunalaphadnis99 commented on #10252
Yes sure.. Thanks for your help. I will close this issue now.

[2018-06-24 01:19] #10252 closed

[2018-06-24 05:36] SnehaGunda commented on #10541
@burkeholland

[2018-06-24 06:40] wpo365 commented on #10630
@vasivara-MSFT I messed up "signed" and "encrypted". Because OpenConnect ID tokens created
 by a corporate Azure AD tenant are encrypted I wrongly assumed the B2C tokens are also encrypted but I there is no key in the metadata file. But I've now found the documentation stating that "Because the JWTs issued by Azure AD B2C are signed but not encrypted, you can easily inspect the contents of a JWT t

[2018-06-24 06:40] #10630 closed

[2018-06-24 07:54] vzayko opened #10689 "URL restrictions"
I'm wondering how I can protect my Maps account from unauthorized usage? Keys are not the solution for SPA since they could be easily discovered. There should be at least restriction by site URI like other services do.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 941d395f-6350-1367-55f4-2bcf96cdbbab
* Version Indepen

[2018-06-24 08:17] sunilm05 commented on #10561
I also tried following the steps provided in the doc and it doesn't work. I am getting below when I try to build the project.

All packages listed in packages.config are already installed.
Dialogs\BasicLuisDialog.cs(3,7): error CS0246: The type or namespace name 'RestSharp' could not be found (are you missing a using directive or an assembly reference?) [D:\home\site\wwwroot\Microsoft.Bot.Sample.L

[2018-06-24 11:12] Molotch opened #10690 "Add information about the triggers"
If there's only one new item when the polling occurs the connector returns just one item, not one item in an array. What happens if there are several new or updated items? Are they returned in an array or is the flow triggered in series until there are no new or updated items?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2018-06-24 11:23] ascheman opened #10692 "Nice tutorial!"
Got everything up and runnig in ~1h - Good work!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 965a7faf-6684-1b1e-3570-ea0b38ce02db
* Version Independent ID: 2efd8393-0b5b-e827-8762-fa58d6758d93
* Content: [Quickstart - Azure Kubernetes cluster portal quickstart](https://docs.microsoft.com/en-us/azure/aks/kubernetes-w

[2018-06-24 13:39] superminiek commented on #10359
Regarding "Requests to storage are Source-NAT'ed so we do not see the public IP address of the VM." - after connecting to another VM I can see that IP (source) is correct, for storage - not so it seems that still it is not working properly or it is planned somehow. In which business cases ASF would be helpful here? I understand that I cannot use ASF for restrict access to File storage from VM.

[2018-06-24 13:56] andrejbratukhin commented on #10546
I found some description [there](https://docs.microsoft.com/en-gb/rest/api/maps/search/getsearchaddressstructured). But it's very poor. For example, there is no description of geoBias parameter at all, dist parameter contains useless description - Dist property. There is no units or description of start and end points of a distance.

[2018-06-24 14:07] SSYH opened #10693 "Link to domain creation suggested"
A good place to link to "HOWTO create a domain".
Would be helpful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bafdc370-47ff-4a63-2874-765163821490
* Version Independent ID: 37c4c6a7-e7d9-4a6a-3fc6-b7ae008b085e
* Content: [Prebuilt domain reference - Azure - Azure](https://docs.microsoft.com/en-us/azure/cognitive-se

[2018-06-24 14:27] mikerodionov opened #10694 "On the horizontalpartitioning.png picture we have PowerBI word underlined by spellchecker"
On the horizontalpartitioning.png picture we PowerBI underlined by spellchecker - does not look nice, should be removed

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36c7839a-d1c6-d5a8-fffd-0c3d81c2bc67
* Version Independent ID: c26ce8c9-1b8f-fbcf-70d8-b64c20ff9ca8
* Content: [Reporting across scaled-out cloud databas

[2018-06-24 14:50] ratchetwrench opened #10695 "Add Python Examples to Queue Storage usage documentation."
Add Python Examples to Queue Storage usage documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5063120f-d48e-6a76-8e6d-208ead92d187
* Version Independent ID: 72bb8ecc-6dec-079a-a9d4-52205466a8c6
* Content: [Azure Queue storage bindings for Azure Functions](https://docs.microsoft.com/en-us/azure/azure-function

[2018-06-24 14:59] ratchetwrench opened #10696 "Add Python Logging Documentation for Function Apps"
Add Python Logging Documentation for Function Apps

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2646ad4-34b7-fc5e-dcc9-d53a061df394
* Version Independent ID: bbff4fda-24e4-2b62-24b9-94cda5f53bed
* Content: [Develop and run Azure functions locally](https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-

[2018-06-24 15:03] ratchetwrench opened #10697 "Add PyCharm IDE Local Testing Documentation"
Add PyCharm IDE Local Testing Documentation. As a Python Developer, every example being in VS or VSTS is not helpful. I use PyCharm, and I would like to use Azure Function Apps. But the current docs are not as useful for Python workflows.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2646ad4-34b7-fc5e-dcc9-d53a061df3

[2018-06-24 15:04] douglaslMS commented on #10585
@LouisBroekhuijsen Thank you for your suggestion. We have updated this page with a statement that only v2 Storage accounts are supported. The updated page will be published sometime tomorrow (Monday 6/25/2018).

[2018-06-24 15:06] ratchetwrench opened #10698 "Homebrew: Error: No formulae found in taps."
Should this be azure-cli, instead?

https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local#brew

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2646ad4-34b7-fc5e-dcc9-d53a061df394
* Version Independent ID: bbff4fda-24e4-2b62-24b9-94cda5f53bed
* Content: [Develop and run Azure functions locally](http

[2018-06-24 15:32] SaurabhSharma-MSFT commented on #10689
@vzayko Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-24 15:33] SaurabhSharma-MSFT commented on #10690
@Molotch Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-24 15:36] SaurabhSharma-MSFT commented on #10480
@fujie We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-24 15:36] #10480 closed

[2018-06-24 15:37] MicahMcKittrick-MSFT commented on #10692
@ascheman thanks for the feedback!

@neilpeterson nice work :)

[2018-06-24 15:37] #10692 closed

[2018-06-24 15:38] SaurabhSharma-MSFT commented on #10693
@SSYH Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-06-24 15:40] SaurabhSharma-MSFT commented on #10694
@mikerodionov Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-06-24 16:00] v-geberr commented on #10693
@SSYH Hi Sam, thanks for this suggestion. Where you thinking of a deep link to the LUIS website page where you add a domain to a LUIS app?

[2018-06-24 17:41] Phydeauxman opened #10699 "Dead link"
The link below (linked in the article) is dead:
https://docs.microsoft.com/en-us/rest/api/keyvault/secret-operations.md

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 962e9ebe-e97f-7a56-03a4-33662454bdfe
* Version Independent ID: 7fda1b8c-67e2-a304-1f17-bfd5a0422766
* Content: [About keys, secrets and certificates](htt

[2018-06-24 18:11] blueelvis commented on #7281
@BryanTrach-MSFT - Thank you for the explanation. I think it would make much more sense to just remove this feature and encourage people to use the "Clone App" feature since this has got severe limitations and we cannot fix it. Don't you agree?

[2018-06-24 18:22] ratchetwrench opened #10700 "Blob name with .csv reads directly as CSV"
If I save a Blob with the name "some_file.csv" as the Blob name. Can I read out the file without saving to a local path, with pandas.read_csv(BLOB_NAME). WHre BLOB_NAME = blob_service.get_blob_name(CONTAINERNAME, "some_file.csv")?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f45a6b5-0fea-7fbb-5d4d-37e0e2583fd7
* Ver

[2018-06-24 19:59] tarifrr opened #10702 "Let's Encrypt not working"
The Let's Encrypt doesn't work. When try https, the certificate is not trusted

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ada58160-dc50-b977-d3bc-65f92406e16d
* Version Independent ID: 5c596e04-fddb-effe-3b72-575f4df42d4e
* Content: [Configure ingress with Azure Kubernetes Service (AKS) cluster](https://docs.micros

[2018-06-24 20:55] tdykstra commented on #10695
@ratchetwrench Thanks for sending feedback, but unfortunately Python is not yet GA (still Experimental per our [supported languages article](https://docs.microsoft.com/en-us/azure/azure-functions/supported-languages)). We don't have resources for developing samples for experimental languages for documentation such as the binding ref docs.  That said, if Python gets to preview and GA status, contri

[2018-06-24 21:09] romankiss opened #10703 "Problem with turn off dead-lettering"
I have successful turn on a dead-lettering using a REST API update (PATCH). Everything is working well. I can update (PATCH) any part of the deadLetterDestination property.

The problem is to turn off dead-lettering.
Removing a   "deadLetterDestination":null    doesn't work with REST API Update call.

Note, that the other property, for instance  "labels":null  can be succesfful removed.

Thanks
Ro

[2018-06-24 21:44] #5679 closed

[2018-06-24 23:20] vasivara-MSFT commented on #10700
@ratchetwrench Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-06-24 23:28] vasivara-MSFT commented on #10702
@tarifrr Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-06-24 23:29] vasivara-MSFT commented on #10703
@romankiss Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-06-24 23:36] vasivara-MSFT commented on #10699
@Phydeauxman Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-24 23:46] neilpeterson commented on #10702
@tarifrr / @vasivara-MSFT - this article has been completely updated to use [cert-manager](https://github.com/jetstack/cert-manager) plus a few other fixes. The update will publish tomorrow morning around 10:00am PST. I would recommend checking back after this time and giving it another shot.

[2018-06-25 02:40] Jeff-Winchell opened #10704 "OUT OF DATE - USELESS"
You can't even get past step 1 with this tutorial because it is either too vague, or more likely the user interface has changed yet again so the docs here are worthless!!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3fcbdad5-24a1-a4a7-4b36-a4fd42935670
* Version Independent ID: 70226c0b-6ef7-a6fd-0c8a-d021d1090ea5
*

[2018-06-25 02:41] greyghostbrewery opened #10705 "Next step URL for "configure devices using device twin's desired properties" is incorrect."
The link labelled "Use desired properties to configure devices" does not direct you to the correct page.  It currently resolves to "Tutorial: Configure message routing with IoT Hub"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f15f149b-4059-d877-f390-156852d88d1d
* Version Independent ID: 3f633622-d0b0-be26-f115-9595

[2018-06-25 03:20] xmark commented on #10603
thanks @SaurabhSharma-MSFT

[2018-06-25 03:56] omerzubair commented on #10675
Same Error when I
Install-Module AzureRM.Subscription -AllowPrerelease

Can we have any other way to update the pre release powershell commandlets

I would like to get the

**New-AzureRmSubscription**

https://docs.microsoft.com/en-au/azure/azure-resource-manager/programmatically-create-subscription?tabs=azure-powershell

any help will be great thanks!

[2018-06-25 05:06] ajaybha commented on #10547
Thanks @shizn. I figured out the same over weekend and pip install of the specific device client library resolved the issue. Perhaps the documentation can highlight this aspect as it's easy to miss the specific version mentioned in the requirement.txt especially when someone is trying to test it out locally before going through the whole cycle.

[2018-06-25 05:06] #10547 closed

[2018-06-25 05:07] HemantChandurkar commented on #8346
Thanks @nabhishek .

I will certainly try this. However we have requirement of multiple parameters. How to pass multiple arguments with type "Expression"?

[2018-06-25 05:30] SaurabhSharma-MSFT commented on #10475
@zimmie67 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-25 05:30] #10475 closed

[2018-06-25 05:31] msvijayn commented on #10592
@akramwaseem - ARM template details are linked in this said doc; see image below with red highlight for details:
![image](https://user-images.githubusercontent.com/33087919/41831815-c3aef416-7866-11e8-8b01-b4ac859b6eb5.png)

In the linked document there is description of usage of [action groups under alerts section](https://docs.microsoft.com/en-us/azure/monitoring/monitoring-solutions-resources-s

[2018-06-25 05:39] msvijayn commented on #10590
@akramwaseem - relevant documentation around usage of ARM template is linked, scroll to [Azure resource manager template section](https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/monitor-alerts-unified-log#azure-resource-manager-template) (in the doc on which issue has been raised). There link is provided to doc which described usage of ARM template:

![image](https://user-images.

[2018-06-25 05:46] dcbrown16 commented on #10251
The up to date Forest Recovery link is here:
https://docs.microsoft.com/en-us/windows-server/identity/ad-ds/manage/ad-forest-recovery-procedures

I haven't been able to find an equivalent to the "Backup and restore considerations for virtualized domain controllers".

[2018-06-25 06:27] dcbrown16 opened #10709 "Mistaken link?"
"If you are using ExpressRoute and you have a default route published, see Azure VM may fail to activate over ExpressRoute."
The link at the end of this statement is a Japanese blog post. I happen to be able to read that, so it's much appreciated, but that doesn't seem useful to most English readers.
Is this doc using some tricky method to provide a link in the other language I frequently consume

[2018-06-25 06:38] trungngv opened #10712 "features extraction"
How does the service extract features to rank the articles? This documentation says title may be used to generate features. The API says other cognitive services such as entity linking, video analysis are used to extract features automatically but the question is from what source? Is it from the reading the content at the given URL?

---
#### Document details

⚠ *Do not edit this section. It is re

[2018-06-25 06:39] genlin commented on #10549
@sijday  Thanks for pointing out the issue. I will update the article.

[2018-06-25 06:48] zyrow123 commented on #10359
Except the app service environment costs almost nearly as much on its own as our whole azure environment.

To me it does not make sense that Azure does not provide away to securely store files in the cloud. I get that a storage account is access secured, but ultimately it's accessible from anywhere on the internet. Which does make it vulnerable. Good luck passing a security audit from a financial

[2018-06-25 06:48] d-manoharan opened #10713 "DB not deployed ?"
After deploying the azure blockchain workbench, when I navigate to the  workbenck web url, the Application page stays with "loading" message, when looking at the browser dev console , I can see 500 internal server error. When I look at the application insights I can see sql exception "Could not find stored procedure 'dbo.GetUserByExternalId". when I logged in to the database, I can see all of the

[2018-06-25 07:40] #10549 closed

[2018-06-25 07:41] genlin commented on #10549
@sijday A pull request has been submitted to update the article. We will process to close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

#please-close

[2018-06-25 08:01] imaterek opened #10715 "When GA?"
When it's planned to be announced GA?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51c75ce7-2144-d81a-693c-fb51cc00f3e5
* Version Independent ID: cba654ea-ee84-fca4-a76d-717bfb9d9bf5
* Content: [Automatic OS upgrades with Azure virtual machine scale sets](https://docs.microsoft.com/en-us/azure/virtual-machine-scale-s

[2018-06-25 08:03] wechuli opened #10716 "Django"
I tried following this to publish a Django web application and it failed to install all the packages in my project, with some unfriendly errors in the CLI. Could we get a guide to publishing a Django app on Azure App Service? There is literally no official documentation for this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-06-25 08:16] szuro commented on #5297
You can easily reproduce this by implementing a validate-jwt policy and then supplying a wrong token.

[2018-06-25 08:41] dcnoren opened #10717 "Service Principals or MSIs for O365 Exchange PowerShell"
I can find information to connect to AzureAD PowerShell using a service principal, but it seems like this is not possible for the O365 Exchange PowerShell. Is this correct? I'm sure many orgs have Exchange Admin accounts running some scripts. Do these have to be added as exceptions, or is there some other way to mitigate this, given that MSI and SPs don't seem to work for O365?

---
#### Document

[2018-06-25 08:50] HemantChandurkar commented on #8346
@nabhishek

Even single parameter is throwing error. By "Support Ticket" you mean from Azure Portal?

Activity Spark1 failed: The value type 'System.String', in key 'Arguments' is not expected type 'System.Collections.Generic.IList`1[System.Object]'

Thank you!

[2018-06-25 09:32] Selvamz commented on #10625
@amanarneja, Thanks for your reply. That Xamarin.Cognitive.BingSpeech package internally makes REST API calls for converting Speech to text. But REST api calls doesn't support real-time continuous speech to text and interim results (Partial results while speaking). And microsoft docs said that only client libraries have continuous conversion support.

[2018-06-25 09:37] mikerodionov opened #10718 "PITR abbreviation used without being expanded"
In the middle of the text we have PITR abbreviation without explaining what it is. It is clear that it refers to Point in Time Restore but for clarity and convenience it is always better to introduce abbreviation on the first occurrence within the text and only then use it throughout the text without expanding it where necessary. I.e. first we should have "Point in Time Restore (PITR)" somewhere i

[2018-06-25 09:40] jalberto opened #10719 "instructions doen't works in GA AKS"
Trying to install some chart with RBAc enabled throw an error: eg: `helm install stable/prometheus` more details: https://github.com/Azure/AKS/issues/464

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a917974-7672-e4f9-ab5c-4a5bfeeca27d
* Version Independent ID: be5c1091-0711-25c4-7555-e3534b3eba42
* Content: [Deploy

[2018-06-25 09:57] fredle opened #10720 "Providing Admin Credentials Fails"
I am trying to setup User Provisioning from Azure to Google.

In the Provisioning Section of the G Suite Enterprise Application in AAD admin center, I click the Authorize button which gives a popup where I can sign into google and give the application the relevant permissions, however the subsequent browser redirect takes me to a blank page with title 'Redirecting...' which goes nowhere.

I have l

[2018-06-25 10:36] bramvdklinkenberg commented on #10495
Hi @MicahMcKittrick-MSFT , I will try it this week!
KR,
Bram

[2018-06-25 10:44] dennisvijlbriefrabobank opened #10725 "Powershell/ARM support"
Hi,

Using the portal is fine to try this functionality but for wide scale use a way of doing this with powershell and ARM templates is required.

Rgrds,
Dennis

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6b65b21-9419-b8b5-82d2-6f9e0b4b788e
* Version Independent ID: 03570dff-5625-9c92-2e59-d560b46a1339
* Content: [

[2018-06-25 10:51] redwoz opened #10726 "typo on azure-stack-version-profiles-azurecli2"
https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/azure-stack/user/azure-stack-version-profiles-azurecli2.md
typo:
_"If you are running CLI from a machine outside the Azure Sack environment:"_ should read...
_"If you are running CLI from a machine outside the Azure **Stack** environment:"_

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2018-06-25 11:00] Thorium opened #10727 "Remote desktop login asks email. But password reset feature doesn't allow emails."
Remote desktop login asks email.
But password reset feature doesn't allow emails.
How should I change the password then?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6bcb620a-9cdc-77c5-7396-a82954f90e44
* Version Independent ID: 57bead5a-5022-2583-fd1e-dbb66e82c917
* Content: [Reset the password or Remote Desktop con

[2018-06-25 11:37] kjsteven commented on #8184
No matter what I tried, (GUI and Powershell) I can't enter the APIPA 169.254.x.x address as the cluster address because it isn't in the same subnet as the NIC's assigned IP - what seems to be missing?

[2018-06-25 11:38] vetrivelmp opened #10728 "How to set state query param to custom identity server's url in azure portal?"
Hello Team,

https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-reference-oauth-code

In the above link i could see we can send any string to [state] query parameter and same will be returned back via response.
I have create custom identity provider in B2C. Now from my application,i have to pass some value via state query param to B2C , then B2C has to pass the same s

[2018-06-25 12:06] pixelicous commented on #5693
This is still happening, how do you disconnect an application insight???

[2018-06-25 13:20] kobulloc-MSFT commented on #8673
@agnimitra Let me find out out the best way to track this, and I'll update you shortly.

[2018-06-25 13:24] emildoverlindbonniernews opened #10730 "SAML fails when "InResponseTo" attribute is sent in the SAML response to the Salesforce"
At least above is the information I got out of Salesforce, and the InResponseTo attribute is not included in the Salesforce help page where they post a complete response, https://help.salesforce.com/articleView?id=sso_saml_assertion_examples.htm&type=5.

Could this tutorial include a section on how to disable sending the InResponseTo attribute?

---
#### Document Details

⚠ *Do not edit this secti

[2018-06-25 13:27] DeclareHigh opened #10731 "First paragraph contains a typo"
First paragraph contains a typo. Maintenance is misspelled.

Service Health provides you with a customizable dashboard which tracks the health of your Azure services in the regions where you use them. In this dashboard, you can track active events like ongoing service issues, upcoming planned **maintence**,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2018-06-25 13:50] Shloeb opened #10732 "Shouldn't Get-AutomationConnection be replaced by Get-AzureRmAutomationConnection ?"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 038d927f-2bcc-c62d-b3c3-f194513bced6
* Version Independent ID: 41adf2c5-3ab7-7387-e541-89e34aa6a6b1
* Content: [My first PowerShell runbook in Azure Automation](https://docs.microsoft.com/en-us/azure/automation/automation-first-runbook-textual-powershell)
* Content Source:

[2018-06-25 13:51] Shloeb commented on #10732
I meant Get-AzureRmAutomationConnection

[2018-06-25 14:08] jangelfdez commented on #10589
Hi!

It seems that the LIS package has been updated because now it doesn't complain about the kernel not being supported and the installation finishes. After the reboot, the nvidia-smi can show the details of the card.

[2018-06-25 14:12] jlon125 commented on #8826
Has this been corrected? At least in the portal, It will not let me add an ExpressRoute Gateway to my vnet (says I already have a gateway assigned, which I do, for the VPN)

[2018-06-25 14:13] #10589 closed

[2018-06-25 14:14] BBokdam opened #10733 "Other apps"
Hi,

Is it possible to get conditional access based on the apps listed above and also the apps listed in de apps section within Intune?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0073f5a8-daf6-7f14-127f-e0c9d80af78d
* Version Independent ID: d6d0afdf-3619-ca03-718b-a40bfd07bab9
* Content: [Azure Active Directory co

[2018-06-25 14:28] jlon125 commented on #8646
@TravisCragg-MSFT Has this been rolled out?

Thanks!

[2018-06-25 14:29] KeepSloanWeird opened #10734 "Backwards SAML Token Attributes"
In step 5 of the "Configuring and testing Azure AD SSO" you have the Name and Value attributes backwards for email.

The "Name" should be "user.mail" and the "Value" either "user.email" or "user.userprinipalname", depending on tenant setup. As currently documented Slack testing keeps saying that the Email attribute is not being sent.

Also, by default Slack is configured the require signed asserti

[2018-06-25 14:44] DCtheGeek commented on #10342
@Naboo2604 Since I have the Work Item planned for this, I'm going to have them close the Issue.  Thanks and please let us know if you have other feedback!  #please-close

[2018-06-25 14:48] DCtheGeek commented on #10563
@tiny-dancer Since I believe I've provided the answer and we haven't heard back from you, I'm going to request they close this Issue.  Future product feedback should be directed to [User Voice](https://feedback.azure.com/) and product questions or issues through [support](https://azure.microsoft.com/en-us/support/community/).  If you find issues or have problems with the docs, please open a new is

[2018-06-25 14:53] robk410 opened #10735 "What are DTUs and eDTUs"
link to "What are DTUs and eDTUs" appears to be broken. takes to same page. An explanation of what a DTU specifically and in detail would be desirable.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b8f9b79-678b-7a3e-0642-8ae7bd8a790b
* Version Independent ID: 6dc1fcc4-dd65-1a3a-af5d-c698dbb1b2ba
* Content: [Azure SQL

[2018-06-25 15:14] andrewjwatts commented on #10236
I second this, We rely on this email and would really like an update on how to create a weekly report. I also can not find "Use the "Application Insights scheduled digest" Azure function template in the Monitoring scenario." on the app insights page anywhere! Where am  I supposed to be looking, this is not a good document to follow.

[2018-06-25 15:21] v-geberr commented on #10348
#please-close

[2018-06-25 15:21] v-geberr commented on #10538
#please-close

[2018-06-25 15:30] MicahMcKittrick-MSFT commented on #10709
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-06-25 15:30] MicahMcKittrick-MSFT commented on #10715
Thanks for the question! We are investigating and will update you shortly.

[2018-06-25 15:31] MicahMcKittrick-MSFT commented on #10719
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-25 15:31] MicahMcKittrick-MSFT commented on #10727
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-25 15:34] jalberto commented on #10719
@MicahMcKittrick-MSFT AKS GA is missing `cluster-admin` role. It's a common role used by mostly RBAC enabled helm-charts

[2018-06-25 15:38] MarekLani opened #10736 "Please correct trigger types section (in the beginning of Trigger execution section)"
Please correct section with trigger types. There is stated, thad data factory supports two types of triggers and that event based triggers are not supported, however there are stated thrree types of triggers including event based.
"Currently, Data Factory supports two types of triggers:
Schedule trigger: A trigger that invokes a pipeline on a wall-clock schedule.
    Tumbling window trigger: A tri

[2018-06-25 15:42] amanarneja commented on #10625
@Selvamz Thanks for looking into it and getting back to me. Let me check internally if there is an alternative solution. In the meantime, do log a feedback item with the details using the link above.

[2018-06-25 15:57] SaurabhSharma-MSFT commented on #10559
@Codefearingguy We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-25 15:57] #10559 closed

[2018-06-25 16:11] CarlRabeler commented on #10735
investigating...

[2018-06-25 16:18] cgillum opened #10738 "Microsoft Account login information is incorrect"
The documentation indicates that `/.auth/login/microsoft` is the login URL. This is not correct, and is causing confusion for customers. The correct URL is `/.auth/login/microsoftaccount`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13176d24-57e1-33bb-1948-a086df502dca
* Version Independent ID: 1c15986a-adf6-6f99-72

[2018-06-25 16:21] CarlRabeler commented on #10735
see https://docs.microsoft.com/en-us/azure/sql-database/sql-database-service-tiers?#what-are-database-transaction-units-dtus

fixing - stay tuned

@robk410 thanks for reporting this

[2018-06-25 16:35] MicahMcKittrick-MSFT commented on #10645
Thanks @spelluru!

[2018-06-25 16:38] MicahMcKittrick-MSFT commented on #8898
@pgsoub are you seeing the same error message?

[2018-06-25 16:40] MicahMcKittrick-MSFT commented on #9814
@gmoed yes the issue is when creating a VM from an existing disk and not from a Marketplace image. Even though your disk is from a marketplace image the fact that you are now creating a VM from a disk and not directly from marketplace is where this issue comes about.

[2018-06-25 16:41] MicahMcKittrick-MSFT commented on #10376
@akramwaseem any update on this?

[2018-06-25 16:42] MicahMcKittrick-MSFT commented on #10430
Thanks for the update @rafaelmluz! Glad to hear you were able to get it to work. Could you share the other doc you used as well?

@neilpeterson does this seem like something we should update in this doc?

[2018-06-25 16:42] neilpeterson commented on #10719
@jalberto - I've just deployed an RBAC enabled cluster and see the following roles. Note, when grabbing the initial creds, I've used `az aks get-credentials --name xyz --resource-group xyz --admin`.

[code]

After creating a service account and cluster role binding for the service account, I've had no issues running several helm charts (including those configured for RBAC). Here is partial output

[2018-06-25 16:43] MicahMcKittrick-MSFT commented on #10495
@bramvdklinkenberg great! I will close this out for now. But if you hit issues feel free to come back here and we can investigate and get it sorted out.

[2018-06-25 16:44] MicahMcKittrick-MSFT commented on #10524
Thanks for the update @jibinjohnbabu!

Are you referring specifically to public IPs for your AKS cluster or?

[2018-06-25 16:44] MicahMcKittrick-MSFT commented on #10552
I will close this out but if you feel you need more information please just let me know.

[2018-06-25 16:44] #10552 closed

[2018-06-25 16:45] MicahMcKittrick-MSFT commented on #10607
I will close this out but if you feel you need more information please just let me know.

[2018-06-25 16:45] #10607 closed

[2018-06-25 16:45] MicahMcKittrick-MSFT commented on #10639
I will close this out but if you feel you need more information please just let me know.

[2018-06-25 16:45] #10639 closed

[2018-06-25 16:55] neilpeterson commented on #10631
I am investigating now.

[2018-06-25 16:56] neilghuman commented on #10607
Hello Micah,
In terms of not working, when the command is ran, it returns an empty string in terms of Public Ip address.  The Azure Product group is aware of this issue and is currently working on a fix.  From PG:

We are actively working on getting this fix, our current timelines from engineering team is 10/15 for Public regions, National Clouds by end of the year.

Important note, this will enab

[2018-06-25 17:04] ghost opened #10740 "Open dashboard on Windows"
When I am SSHing to AKS via windows desktop, how can I open the kubernetes dashboard?
This documentation assumes that I am connecting via MAC
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ba1dad2-9792-2a7b-cdb6-68da0524cff3
* Version Independent ID: 42736112-f6db-d241-e89b-48fd2c35ceb7
* Content

[2018-06-25 17:05] mayank88mahajan commented on #8684
@Anmolgan81 You can use the following procedure to migrate encrypted VMs between subscriptions:
1. Download and retrieve the unwrapped secret (which is wrapped with KEK in KeyVault) from the original KeyVault.
	Script to do this is here: https://gist.github.com/vermashi/3745c8503a2166f0a5eb9d72c2e2a2fc
2. Create a KeyVault in the target region and upload the unwrapped secret.
	Use pre-req script f

[2018-06-25 17:08] Anmolgan81 commented on #8684
In the step 4 you have put a note saying the disk should notbe attached to the VM, suppose I have a vm that contains managed disks, then I will delete the VM in order and copy the encrypted disk to destination subscription that perform the setep 4 right??

Does deleting the VM causes any issues with the encrypted disks??

[2018-06-25 17:09] Anmolgan81 commented on #8684
Can you give me a sample demo?

Or can you share with me some screenshots from there I should get some reference to it??

[2018-06-25 17:11] SidShetye commented on #10236
@andrewjwatts I've uploaded what works for our team at https://gist.github.com/SidShetye/ce68e85596f698985d924831f237cfd9

It's not identical to what's being phased out but a step ahead.

@SoubhagyaDash as PM I want to give feedback that this is an extremely poor user experience. Think of all the online services you use as a consumer that have notifications. Now imagine each such service asked you

[2018-06-25 17:11] jalberto commented on #10719
Thanks for your time Neil,

I installed AKS using the portal not the cli, when I run:

❯ kubectl get clusterrole
NAME                                    AGE
omsagent-reader                         6d

thats all I get

I made it work by adding cluster-admin role by hand

On Mon, 25 Jun 2018 at 18:43, Neil Peterson <notifications@github.com>
wrote:

[2018-06-25 17:19] wechuli opened #10741 "Pricing"
Love the product and how easy it is to integrate visualization and insights into a custom application, but the pricing is a bit hefty. I would like to experiment building IoT solutions with it but that money is too much. For a production environment, maybe the price is justified, but for test and learning, no no.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2018-06-25 17:23] neilpeterson commented on #10719
Currently, the clusters deployed by the portal are not RBAC enabled. Simply running `helm init` should configure Helm in a working and stable configuration.

If the Helm chart expects an RBAC enable cluster, the RBAC settings will need to be disabled using whatever mechanism the chart has configure for this, typically something like `--set rbac.create=false`.

Does this help?

[2018-06-25 17:31] EzraBrooks opened #10742 ""Install IIS" step includes a URL to a third-party script"
This script is currently non-malicious, but if the hosting user's GitHub account were ever compromised, this could execute malicious code on the VM scale set of anyone who runs this example script.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c09429e-3590-5535-dd03-fd38e4a45af5
* Version Independent ID: f47dc8e8-69b

[2018-06-25 17:33] robk410 commented on #10735
Cool! Thanks for the link Carl.

[2018-06-25 17:36] tarifrr commented on #10702
@neilpeterson - Whilst creating the CA cluster issuer and Certificate Objects using kubectl, do we install it on the namespace where we are deploying our application?

[2018-06-25 17:40] YutongTie-MSFT commented on #10704
@Jeff-Winchell Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@gopitk Hi, this is a document issue, can you please check the UI and update the document as necessary? Thanks a lot!

[2018-06-25 17:41] rafaelmluz commented on #10430
@MicahMcKittrick-MSFT @neilpeterson
Thank you! See below the document.

kubectl create secret docker-registry My-Secret --docker-server --docker-username --docker-password --docker-email -n

kubectl get secret My-Secret -n My-NameSpace --output=yaml

apiVersion: v1
kind: Secret
metadata:
  name: <NAME>
  namespace: <NAMESPACE>
data:
  .dockerconfigjson: RESULT OF THE OUTPUT YAML.
type: kubernetes.

[2018-06-25 17:43] jalberto commented on #10719
yes and not, as if RBAC is disabled I understand what is happening, but,
Could you ppoint me where in the documentation that distinction is made?

From AKS GA announcement/blog to issues in GH, information about RBAC is
very confusing and the general idea is that RBAC was finally enabled by
default since GA (not distinction between portal/cli).

Does this means I do need to recreate my whole (exis

[2018-06-25 17:43] SaurabhSharma-MSFT commented on #10717
@dcnoren Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-25 17:44] tarifrr commented on #10702
@neilpeterson - It's already mentioned in the article. Never Mind. Thanks!

[2018-06-25 17:45] smflorentino opened #10744 "What happens when a Key Vault-Managed Storage Account resource ID changes?"
What happens when I move my Key Vault-managed storage account to a different resource group? Then the resource ID of the storage account changes. Does this break Key Vault?

It would be good to add a note about this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cebec73e-e7f4-75c5-2068-ae89f12d8d95
* Version Independe

[2018-06-25 17:46] VShrubowich opened #10745 "How password hash sync works diagram or text below it is incorrect"
In the "Detailed description of how password hash synchronization works" section, Step 4 in the diagram says that the MD4 password hash is an 8-byte binary hash but Step 4 in the text below the diagram says it's a 16-byte binary hash.  One of them needs to be corrected.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4

[2018-06-25 17:46] CarlRabeler commented on #10735
sorry - I have been re-organizing content and missed updating this link (I am sure I missed a few others too) - if you have more questions, fire away. @robk410

[2018-06-25 17:47] SaurabhSharma-MSFT commented on #10725
@dennisvijlbriefrabobank Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-25 17:48] YutongTie-MSFT commented on #10712
@trungngv Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@slivkins Hi, this is a document question, the customer need more accurate details, can you please check it and update the document as necessary? Thanks a lot!

[2018-06-25 17:49] vasivara-MSFT commented on #10736
@MarekLani Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-06-25 17:49] SaurabhSharma-MSFT commented on #10587
@pratap-dotnet We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-25 17:49] #10587 closed

[2018-06-25 17:52] jalberto commented on #10719
rel:
https://azure.microsoft.com/en-us/blog/azure-kubernetes-service-aks-ga-new-regions-new-features-new-productivity/
"...To make this even better, we're excited to announce even more features
now available in all AKS regions including Kubernetes role-based access
control (RBAC),..."
<https://docs.microsoft.com/en-us/azure/aks/aad-integration>
No distinction cli/portal

On Mon, 25 Jun 2018 at 19:

[2018-06-25 17:54] femsulu commented on #10705
@greyghostbrewery Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-06-25 17:56] gopitk commented on #10704
Sorry about the lack of clarity. The UI itself is same except that if you are not logged into the portal there will be an additional authentication page asking you to login with your credentials to the Azure portal or Create a new Azure account. Will add a statement about that in the documentation.

[2018-06-25 17:56] curtand commented on #10394
Hi @jlee-vi
We have been having some trouble with regressions in our table of contents. I'll attend to this.
#In-progress

[2018-06-25 17:57] MohitGargMSFT commented on #10564
No, you need to use On-Behalf-Of flow for it.

[2018-06-25 17:58] femsulu commented on #10731
@DeclareHigh Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-06-25 18:00] femsulu commented on #10732
@Shloeb Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-06-25 18:04] neilpeterson commented on #10719
Yes, I agree that there is a fractured experience here, we are working on it.

Here is a note about RBAC, I will look into surfacing this in other places:

https://docs.microsoft.com/en-us/azure/aks/faq#does-aks-support-kubernetes-role-based-access-control-rbac

Bottom line, yes, you will need to re-deploy the cluster using the CLI to enable RBAC.

[code]

[2018-06-25 18:05] SaurabhSharma-MSFT commented on #10730
@emildoverlindbonniernews Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-25 18:06] MicahMcKittrick-MSFT commented on #10740
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-25 18:06] SaurabhSharma-MSFT commented on #10733
@BBokdam Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-25 18:06] neilpeterson commented on #10702
@tarifrr - thanks for following up. If you have any other issue, please let us know.

#please-close

[2018-06-25 18:07] SaurabhSharma-MSFT commented on #10734
@KeepSloanWeird Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-06-25 18:14] SaurabhSharma-MSFT commented on #10720
@fredle Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-25 18:17] ashannon7 commented on #10741
Hi, @Wechuli.   Thanks for the feedback!  Azure has a free developer account you can apply towards Time Series Insights that should more than cover your usage.  Learn more here: https://azure.microsoft.com/en-us/free/?v=18.23

[2018-06-25 18:17] TravisCragg-MSFT commented on #10668
@WootJay could you tell me exactly which part of the document you are referring to?

[2018-06-25 18:20] SaurabhSharma-MSFT commented on #10720
@fredle Can you please check if you get any help from [thread](https://stackoverflow.com/questions/25098021/securityerror-blocked-a-frame-with-origin-from-accessing-a-cross-origin-frame) if your issue is related to your browser policy.
Additionally, you can refer to an existing StackOverflow [thread](https://stackoverflow.com/questions/50509667/sign-in-with-google-temporarily-disabled-for-this-app

[2018-06-25 18:27] SaurabhSharma-MSFT commented on #10745
@VShrubowich Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-06-25 18:32] doeweb commented on #5734
Also missing

Value 2: (Trusted Internet Sites)
    https://enterpriseregistration.windows.net

    https://login.microsoftonline.com

    https://device.login.microsoftonline.com

[2018-06-25 18:40] MohitGargMSFT commented on #10718
@mikerodionov Thanks for reporting! I have assigned the issue to the content author to investigate and update as appropriate.

[2018-06-25 18:40] #10702 closed

[2018-06-25 18:45] TravisCragg-MSFT commented on #10675
@KloudEzy @omerzubair  what version is your "PowerShellGet" cmdlet? You can check by running the following command:

`Get-Module PowerShellGet`

[2018-06-25 18:46] jeevansd commented on #10734
@KeepSloanWeird Recently we got the confirmation from the Slack team that the app does not need signed assertions and response. Slack just need the signed SAML assertions. About the claims we will get the confirmation from the Slack team.

[2018-06-25 18:49] KeepSloanWeird commented on #10734
I'm aware that Slack doesn't need signed assertions and responses. My
documentation feedback is that Slack's default setting is wanting both
signed, but Azure's default is just signed assertions. A change on one side
will be required and the documentation doesn't explicitly state that.
Unless my Slack tenant was set up differently.

Sloan Ozanne
sloan@ozanne.us
972-467-2032 m
http://about.me/sloan

[2018-06-25 18:50] jibinjohnbabu commented on #10524
I have 2 VMs in my ACS(kubernetes) VNET! The two VMs are on same availability set and I was successful in giving a public IP to one of the VMs by putting a LB over it! How do i give a public IP to the second VM which is in the same availability set!

One VM is for dev environment and other for UAT environment!

[2018-06-25 18:57] MohitGargMSFT commented on #10713
@d-manoharan Thanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

[2018-06-25 19:00] MohitGargMSFT commented on #10726
@redwoz Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-25 19:01] MicahMcKittrick-MSFT commented on #10524
Got it. So you are using the LB to connect to the VMs. You should be able to add the private Ip of the second VM to the backend address pool of the LB and connect using the same Public IP but different Port number.

[2018-06-25 19:03] MohitGargMSFT commented on #10728
@vetrivelmp Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-25 19:10] cynthn commented on #9626
#please-close I've filed a PR to update the heading. Thanks again!

[2018-06-25 19:11] BryanTrach-MSFT commented on #10618
@JeremiahJacobson We will now proceed to close this thread since we haven't heard back from you. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-06-25 19:11] #10618 closed

[2018-06-25 19:11] SaurabhSharma-MSFT commented on #9983
@gmsantos I have got an update from our product team and this issue has been identified as a bug. Our product team is working towards making this fix available in another 2-3 weeks.  Thanks for bringing this out to our attention as this will help us making the product better across different environments.
We will now proceed to close this thread. If there are further questions regarding this matte

[2018-06-25 19:11] #9983 closed

[2018-06-25 19:12] CarlRabeler commented on #10735
#please-close PR merged - will be live at 4 today

[2018-06-25 19:13] MohitGargMSFT commented on #10634
@Brentless Thanks. I will move ahead to close this issue and continue discussion on MSDN thread.

[2018-06-25 19:13] #10634 closed

[2018-06-25 19:14] MohitGargMSFT commented on #10657
@kamaljoshi911 We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-06-25 19:14] #10657 closed

[2018-06-25 19:16] cynthn commented on #9929
#please-close We actually need a CLI version of what we have for PowerShell and Windows. I filed a doc request to get this created. Thanks for the feedback!

[2018-06-25 19:18] MohitGargMSFT commented on #10658
@zdog786 Please update on above requested information.

[2018-06-25 19:18] mganeshphani opened #10751 "Microsoft Java SDK - Official support"
Is there an officially supported Java SDK for Azure AD Authentication... please do mention it.. the third party library mentioned above was updated in 2016

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b787325-589c-b5f5-f530-7f1fe12e075e
* Version Independent ID: 6d678569-0ebe-f2ef-ecd7-69cc62b4b7be
* Content: [Azure

[2018-06-25 19:19] #9626 closed

[2018-06-25 19:21] neilpeterson commented on #10631
@jdogg89 - yep, I see the issue, thanks for pointing it out. Updates will publish today. This issue will auto-close once the updates have been merged.

Thanks again.

[2018-06-25 19:29] obviousSailfish opened #10752 "Unclear if local cache actually excludes any directories."
The documentation indicates that "As part of the step that copies the storage content, any folder that is named repository is excluded". Having deployed an app with local cache enabled to an S2 App Service plan in US West, I've observed that a folder named "Repository" was still copied to the local drive. The observed behavior is by far preferable to automatic exclusion of content based on name.

[2018-06-25 19:30] BryanTrach-MSFT commented on #10716
@wechuli Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-06-25 19:34] TravisCragg-MSFT commented on #8646
@charwen any idea if this has been fully enabled yet?

[2018-06-25 19:35] rewt commented on #10719
Just ran this with
`rbac:
  create: false`

and had success, suggesting that AKS does not in fact have RBAC enabled by default.

[2018-06-25 19:36] MohitGargMSFT commented on #10674
@karlallitt Please note that while following [Create a blank SQL database](https://docs.microsoft.com/en-gb/azure/sql-database/sql-database-design-first-database-csharp#create-a-blank-sql-database) section of the document while following step 4 Server admin Login must have been created. Please use that Server admin credentials to login to SQL Server.

[2018-06-25 19:39] mike-urnun-msft commented on #10738
Hi @cgillum - Thank you for your feedback! We will investigate and get back to you with the relevant info.

[2018-06-25 19:41] #9929 closed

[2018-06-25 19:42] BryanTrach-MSFT commented on #7281
@blueelvis No worries, we appreciate your patience on this matter. I would suggest sharing your feedback [at this site](https://feedback.azure.com/forums/169385-web-apps). The product group is actively monitoring the feedback site for feedback/product improvements.

[2018-06-25 19:42] neilpeterson commented on #10719
#sign-off

[2018-06-25 19:45] #10631 closed

[2018-06-25 19:46] TravisCragg-MSFT commented on #10742
@EzraBrooks Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-25 19:49] mattbriggs commented on #10726
@MohitGargMSFT Thanks for pointing that out. I've updated the content.

#please-close

[2018-06-25 19:51] mattbriggs commented on #9682
@pagariyaalok I've updated the topic. Thanks again for your feedback. Cheers, Matt

#please-close

[2018-06-25 19:54] jdogg89 opened #10754 "Limiting who can assume Admin"
What is the method that Microsoft is recommending, of limiting who can log into the cluster with the “—admin” flag?  If my organization eventually rolls this out to more groups with access to Azure and AKS, we would like to limit who is able to log into the cluster as an admin. Currently, even with RBAC enabled, it seems that anyone is still able to just add a --admin flag to the get credentials c

[2018-06-25 19:54] mattreatMSFT commented on #10481
@jimdial @tomkodet @TravisCragg-MSFT the links have been fixed.

[2018-06-25 19:55] mattreatMSFT commented on #9593
@tomkodet @pito2808 @jimdial the links have been fixed. Thank you for your patience.

[2018-06-25 19:56] wesmc7777 commented on #10622
#in-progress

[2018-06-25 19:58] TravisCragg-MSFT commented on #10726
@redwoz The update should reflect in the documentation within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-06-25 19:58] #10726 closed

[2018-06-25 19:58] TravisCragg-MSFT commented on #10481
@tomkodet We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-06-25 19:58] #10481 closed

[2018-06-25 19:58] neilpeterson commented on #10754
@jdogg89 - good question, please stand-by.

[2018-06-25 19:59] wesmc7777 commented on #10571
@rlerch The connections between service and web app are web socket connections. It’s the web app who initiates the connection to the service. So it’s ok that the web app is behind a firewall or load balancer, as long as it can make web socket connections to the service.

You can have multiple instances of web app connecting to the service. In this scenario, each client call will be routed to a sin

[2018-06-25 20:13] femsulu commented on #10503
@narsaskak We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-25 20:13] #10503 closed

[2018-06-25 20:14] MohitGargMSFT commented on #10676
@santo2 Please check out this [GitHub Sample ](https://github.com/Azure/AzureQuickStartsProjects/blob/master/Data%20Services/DataTableStorage/Program.cs) line number 304, PartitionRangeQueryAsync method. Here the range is specified to 50 results at a time.

[code]

The maximum entities that can be return is 100 as stated in the comments of code snippet in [this section](https://docs.microsoft.com/

[2018-06-25 20:28] superminiek commented on #9929
Thank you!

[2018-06-25 20:34] luisdavim commented on #10544
https://github.com/terraform-providers/terraform-provider-azurerm/issues/1429
https://github.com/terraform-providers/terraform-provider-azurerm/issues/1389

[2018-06-25 20:40] MGoedtel commented on #9391
@vasivara-MSFT - this is not a documentation issue and therefore requesting #please-close.  Thanks.

[2018-06-25 20:41] kkampf commented on #10515
Thanks for the catch! You are correct, 3.6 is the default version and 3.5 will be retired shortly. The document should be updated tomorrow.

[2018-06-25 20:43] emolinah opened #10756 "roles en una entidad"
cuando se crea una entidad, no aparece información referente a roles asociados a la entidad. ni  que significan.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 902be7bb-e623-ff49-9d9d-e53f17161f06
* Version Independent ID: be07779d-229f-5ce4-5ea3-ae1497f650c7
* Content: [About Language Understanding (LUIS) in Azure](ht

[2018-06-25 20:47] BryanTrach-MSFT commented on #10738
@cgillum Thank you for the heads up. We have gone ahead and published the correction. The change should be public within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-06-25 20:47] #10738 closed

[2018-06-25 20:47] CKeene78 opened #10757 "Cancel Jobs"
Utilizing VSCdode. I have some jobs that are "stuck" on and run whenever I use the "func  host start" command. Even restarting the computer doesn't remove them! Any suggestions on how to issue a cancel command to them?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2646ad4-34b7-fc5e-dcc9-d53a061df394
* Version Indepen

[2018-06-25 20:49] kevindweb opened #10758 "Azure Logic Apps Request Query String"
My team and I are having trouble accessing the query parameter in the request URL we are receiving from a third-party service. The data is sent as a POST request with all the data as URL parameters. We could not find any correct documentation so far on how to get the query string. Any help is appreciated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2018-06-25 20:52] BryanTrach-MSFT commented on #10680
@vikaskumawat80 I believe I am misunderstanding your comment but to clarify, you had an ILB ASE connected to an application gateway **without** any web apps hosted in the ILB ASE? Then you would navigate to the custom domain and receive the mentioned error?

Adding a web app to the ILB ASE then resolved the issue, is that correct?

[2018-06-25 20:54] v-geberr commented on #10756
@emolinah Hi, thank you for asking this question: "When you create an entity, there is no role-related information associated with the entity. Or what they mean." Roles are currently only available for patterns. I will look for ways to improve this document to make that clear. #in-progress

[2018-06-25 20:55] femsulu commented on #10517
@SMHolck can you please log into the DB workspace, drill down into the failed cluster and share the error logs under "event logs". This should give us a better idea why the cluster creation is failing. Example shown below.

![image](https://user-images.githubusercontent.com/34327711/41875306-57aef14e-787f-11e8-90d3-a590a65ff693.png)

[2018-06-25 21:04] TomShinder commented on #8462
#please-close

[2018-06-25 21:04] SaurabhSharma-MSFT commented on #10659
@nialmcshane Please refer to below links for creating and integrating the application to Azure using Xamarin
- [Azure AD Xamarin getting started](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-devquickstarts-xamarin)
- [Authenticate Xamarin Mobile Apps Using Azure Active Directory](https://blog.xamarin.com/authenticate-xamarin-mobile-apps-using-azure-active-direct

[2018-06-25 21:08] jordanmills commented on #10667
I'm looking for an MSI for the NPS extension.  Like you said, there's just an executable file for it.

[2018-06-25 21:16] SaurabhSharma-MSFT commented on #10683
@mattwhite-itl Are you getting the error while installing the msi - AzureADPasswordProtectionProxy.msi or by using Get-Service AzureADPasswordProtectionProxy  cmdlet ?

[2018-06-25 21:20] robk410 commented on #10735
Thanks Carl

[2018-06-25 21:20] #10735 closed

[2018-06-25 21:30] sergaz-msft commented on #10453
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Thank you for your time.

[2018-06-25 21:30] #10453 closed

[2018-06-25 21:36] cynthn commented on #10189
@harijayms I filed this PR to add info about the deployment model: https://github.com/MicrosoftDocs/azure-docs/pull/10760.

[2018-06-25 21:41] SaurabhSharma-MSFT commented on #10689
@vzayko You can use the SPA implicit grant flow to secure your SPA application and backend APIs.  Please refer to [Single Page Application (SPA)](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-authentication-scenarios#single-page-application-spa) and [Understanding the OAuth2 implicit grant flow in Azure Active Directory (AD)](https://docs.microsoft.com/en-us/azur

[2018-06-25 21:46] cynthn commented on #9982
@nicknameyu thanks! I filed a content request to try and add some information about moving tags and other common attributes.

#please-close

[2018-06-25 21:52] TravisCragg-MSFT commented on #10682
@Lagrik Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-25 21:54] sergaz-msft commented on #10546
Thank you for the details.
I understand your request and [that](https://docs.microsoft.com/en-gb/rest/api/maps/search/getsearchaddressstructured) is the correct place to look at the REST API definition.

**[In the doc](https://docs.microsoft.com/en-us/azure/azure-maps/how-to-search-for-address)**

Apart from the **Dist Property** is there any other parameter that you see needing a better descripti

[2018-06-25 21:54] lleonard-msft commented on #10699
@Phydeauxman - Thanks for letting us know; I've fixed this and a few other broken links.  (The file was recently migrated from a different system, one that used a different convention for specifying link targets.)  Sorry for the inconvenience.

[2018-06-25 21:54] lleonard-msft commented on #10616
@MichelZ - Thanks for letting us know.  I've fixed a couple such links in the article.  (It was recently migrated from a system that used a different convention for specifying link target and these were missed.)  Apologies for the inconvenience.

[2018-06-25 21:56] femsulu commented on #10540
@johnkemnetz , can you please confirm that Location and Category are correct and I can initiate a PR to fix asap?

[2018-06-25 21:57] rickrain commented on #8750
Hi @MarkusVi, what's the status of getting the update you staged merged into master?  I have another customer asking about this one.

[2018-06-25 22:00] vasivara-MSFT commented on #9391
@Praxiss This platform is used to address document issues. Since this is not related to document, if you still have issues please post your question [here](https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=opinsights) to get help from our community.

[2018-06-25 22:00] vasivara-MSFT commented on #9391
@Praxiss We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-25 22:00] #9391 closed

[2018-06-25 22:07] #9982 closed

[2018-06-25 22:11] rickrain opened #10763 "Missing code 90072"
Not documented.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f83a9e6-2363-2c73-5ed2-f40bd48899b8
* Version Independent ID: f47dc642-f083-b173-9b6e-ce61e31685a9
* Content: [Sign-in activity report error codes in the Azure Active Directory portal](https://docs.microsoft.com/en-us/azure/active-directory/active-director

[2018-06-25 22:11] rickrain opened #10764 "Missing code 50012"
Not documented.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f83a9e6-2363-2c73-5ed2-f40bd48899b8
* Version Independent ID: f47dc642-f083-b173-9b6e-ce61e31685a9
* Content: [Sign-in activity report error codes in the Azure Active Directory portal](https://docs.microsoft.com/en-us/azure/active-directory/active-director

[2018-06-25 22:11] rickrain opened #10765 "Missing code 90014"
Not documented.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f83a9e6-2363-2c73-5ed2-f40bd48899b8
* Version Independent ID: f47dc642-f083-b173-9b6e-ce61e31685a9
* Content: [Sign-in activity report error codes in the Azure Active Directory portal](https://docs.microsoft.com/en-us/azure/active-directory/active-director

[2018-06-25 22:12] rickrain opened #10766 "Missing code 16000"
Not documented.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f83a9e6-2363-2c73-5ed2-f40bd48899b8
* Version Independent ID: f47dc642-f083-b173-9b6e-ce61e31685a9
* Content: [Sign-in activity report error codes in the Azure Active Directory portal](https://docs.microsoft.com/en-us/azure/active-directory/active-director

[2018-06-25 22:18] SaurabhSharma-MSFT commented on #10725
@dennisvijlbriefrabobank Please post this as a feedback https://feedback.azure.com/forums/169401-azure-active-directory This will allow the community to upvote and for the product team to include into their plans. We also have the "Give Product Feedback" button in our documents now to take you directly to the appropriate feedback page.

[2018-06-25 22:20] YutongTie-MSFT commented on #10756
@emolinah Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@v-geberr Hi, thanks for your quick action!

[2018-06-25 22:36] MicahMcKittrick-MSFT commented on #10740
@rajeshagadi2018 are you referring to this:

https://kubernetes.io/docs/tasks/access-application-cluster/web-ui-dashboard/

I see the screenshots are from a Mac but the process should be the same

[2018-06-25 22:38] MicahMcKittrick-MSFT commented on #10757
@CKeene78 do you see the same behavior if you just use CLI? Or only when using VScode?

[2018-06-25 22:40] sergaz-msft commented on #10703
Hello @romankiss can you be more specific about the

and the error seen when setting

 ? I can't see it being used [on this doc](https://docs.microsoft.com/en-us/azure/event-grid/manage-event-delivery) where you opened the issue at.

The examples we provide on this doc are using [Event Grid extension](https://docs.microsoft.com/en-us/cli/azure/azure-cli-extensions-list) for [Azure CLI](https://doc