[2021-09-14 10:32] SnehaAgrawal-MSFT commented on #81025
@kohei-miyoshi Thank you for your query . We will investigate and update the thread.

[2021-09-14 10:55] DanSputnik commented on #47705
If this helps anyone else, I found this solution to be the one that fixed it for me:
https://stackoverflow.com/questions/61853720/oid-claim-is-missing-in-asp-core-adb2c-application

The starter pack included this line in the policy:
<OutputClaim ClaimTypeReferenceId="objectId" PartnerClaimType="sub"/>

but you also need this one:
<OutputClaim ClaimTypeReferenceId="objectId" PartnerClaimType="oid"/

[2021-09-14 11:04] asergaz commented on #81021
Hello @lucarv thank you so much for your suggestion. Let me work with you on enhancing the documentation for more clarity. If you can please proceed with a pull request and I will review it together with @v-tcassi 

Thanks!

[2021-09-14 11:13] #81027 closed

[2021-09-14 11:13] asergaz commented on #81027
Hello @lucarv I am closing this issue as a duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/81021 . Please can you edit the first issue with these details and pointers to places on the doc to be enhanced? Thanks!

[2021-09-14 11:27] Shorda opened #81034 "Update Documentation"
Hey,
it's possible to update MS PTA documentation with the proxy bypass.

We found this solution at the Azure application Proxy site and solved the problem with the PTA Agent:

**Source:**
https://docs.microsoft.com/de-de/azure/active-directory/app-proxy/application-proxy-configure-connectors-with-proxy-servers#bypass-outbound-proxies

**Added to this file:**
C:\Programme\Microsoft Azure AD Connec

[2021-09-14 11:36] clfilipe opened #81035 "Please update the screenshots and instructions on this doc for the new portal experience"
The portal view changed and now the delete directory button no longer appears below the overview section. Please update this doc accordingly to the new portal experience: **AAD » Overview » Manage tenants » select the directory » delete**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea77d5a9-6619-0f31-9567-6085b7a4b5

[2021-09-14 11:38] KrishnaG-MSFT commented on #81024
@tbroeker Thanks for the question! We are investigating and will update you shortly.

[2021-09-14 11:38] SenthuranSivananthan commented on #80948
This is the DINE policy that I'm using now.  It resolves the following challenges compared what's published in docs:

* When the groupId is the same across 2 namespaces (i.e. Cosmos DB Table vs. Storage Table) - update `if clause` to add a filter on the namespace
* When the region of the Private Endpoint needs to be mapped to a regional Private DNS Zone (i.e. AKS, Azure Backup) - update `if clause

[2021-09-14 11:42] MartinDBakerCDW opened #81036 "Automation Account not listed"
Hi, We've encountered an issue with Automation Accounts (AA). We moved a client's sub to a different tenant of theirs. Then from that tenant to CSP (where we have a matching tenant to the client's Work or School Auth tenant & have successfully moved 1 sub before).
The client then re-applied as much of their RBAC as possible. It wasn't possible to create identical service principal accounts & relat

[2021-09-14 11:47] GitaraniSharma-MSFT commented on #81006
@markmassad , all the troubleshooting scenarios are covered under the "Troubleshoot" pane of this article as below:
![image](https://user-images.githubusercontent.com/67630903/133251844-afc6109a-8c28-44c8-ab0d-ba118e939767.png)

You can find the general backend health issues & cert related errors in the "Backend Health issues" section of this article:
https://docs.microsoft.com/en-us/azure/applica

[2021-09-14 11:51] liudan66 commented on #75403
Hi @julieMSFT i am not the author for this part, can you help route it to the right person

[2021-09-14 12:11] MonikaReddy-MSFT commented on #81031
@dimazoin - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-09-14 12:14] MonikaReddy-MSFT commented on #81020
@xuegao112 - Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2021-09-14 12:26] artisticcheese opened #81039 "Typo in sentence"
Is it a typo in following sentense
`Setting up virtual network integration doesn't affect *inbound* traffic, which continues to use the App Service shared endpoint.` Should not this read as *outbound*?

https://docs.microsoft.com/en-us/azure/logic-apps/secure-single-tenant-workflow-virtual-network-private-endpoint#:~:text=integration%20doesn%27t%20affect-,inbound,-traffic%2C%20which%20continues

-

[2021-09-14 12:26] IanKemp opened #81040 "Documentation does not note that blob trigger paths with binding expressions **MUST** contain a container name"
The following generates an exception on startup, `Invalid blob trigger path '{filename}'. Container paths cannot contain {resolve} tokens.`

[code]

I don't know why this limitation exists, but it's not documented anywhere.

This also implies there's no way to capture the full path of a blob, including container name.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2021-09-14 12:32] madsd commented on #60250
Hi @aelmanaa, the doc has now been updated to include private endpoints as well. Thank you for your feedback.

[2021-09-14 12:37] jovasco commented on #80971
FYI https://www.onespan.com/resources/digipass-fido-touch/datasheet

[2021-09-14 12:40] jeremiedeveloper commented on #80787
Hello @ram-msft

I still have some uncertainties.

- Is it possible to set the Internal Load Balancer using Terraform ?
- Does the external AKS creation followed by an attach involve some technical regression compare to the AKS creation using Arure ML CLI extension ?

Thanks

[2021-09-14 12:40] madsd commented on #71181
Hi @kimjamia, @dcbrown16 WEBSITE_DNS_SERVER is no longer needed to resolve addresses in Azure private DNS zones attached to the VNet used for VNet Integration. For Linux, you still need to use WEBSITE_VNET_ROUTE_ALL or the equivalent site config feature, but we are working on removing that requirement.

[2021-09-14 12:43] madsd commented on #79304
Hi @JozoSlejko. I am looking into this feedback. Can you describe your setup and how you determine/verify your source IP at the destination?

[2021-09-14 12:44] #71181 closed

[2021-09-14 12:46] RyanHill-MSFT commented on #74588
@ChrisSeitzinger we've updated the doc to address this feedback. Thanks!

[2021-09-14 12:46] #74588 closed

[2021-09-14 12:48] RyanHill-MSFT commented on #73288
#please-close

[2021-09-14 12:48] #73288 closed

[2021-09-14 12:50] RyanHill-MSFT commented on #60250
#please-close

[2021-09-14 12:50] #60250 closed

[2021-09-14 13:03] haripraghash opened #81043 "Generic backup contents and not contents related to Azure table storage backup"
This page which falls under Azure table storage should contain details about Table storage backup. But it talks about blobs and other services.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d8314bbb-3e1b-7a68-dcd1-f7dfe34221a2
* Version Independent ID: 5c26cb3f-ec5c-b028-f456-53998a67749e
* Content: [Disaster recovery

[2021-09-14 13:07] jason2211 commented on #45762
I just lost an hour troubleshooting this issue.  My function was working great until this morning when it could no longer find the cosmosDB binding.  After lots of searching I found this issue and the workaround posted by Oronis worked!  I tried the --force first and that did not fix the issue.

Thanks Oronis for posting this workaround.  I could have lost more hours.

[2021-09-14 13:12] RyanHill-MSFT commented on #45991
Apologies for the delayed response regarding adding `WEBSITE_VNET_SUPPORT_DUAL_STACK_SOCKETS` but glad it was able to resolve the issue.

[2021-09-14 13:12] #45991 closed

[2021-09-14 13:14] RyanHill-MSFT commented on #79244
#please-close

[2021-09-14 13:14] #79244 closed

[2021-09-14 13:17] marki555 commented on #80838
@ram-msft I am trying to enable connection to Application Insights, not to configure logging.
I am following this document: https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/speech-container-configuration?tabs=stt#applicationinsights-setting

This is the exact command:
`docker run --rm -it -p 5000:5000 --memory 16g --cpus 12 mcr.microsoft.com/azure-cognitive-services/speechs

[2021-09-14 13:19] madsd commented on #59690
@JatinBavishi Thank you for your feedback, the ports for multi-tenant have been described here: https://docs.microsoft.com/en-us/azure/app-service/networking-features#app-service-ports. Hope this helps.

[2021-09-14 13:34] madsd commented on #76985
@lysacor Thank you for bringing this up and I am sorry for the inconvenience this issue has caused you. Our goal is to make networking transparent, and that all parts of the system behave the same - meaning that if you setup VNet Integration, everything will be routed through that channel. You do have the option to control if only private (RFC-1918) traffic should be sent through the VNet using th

[2021-09-14 13:40] RyanHill-MSFT commented on #59690
#please-close

[2021-09-14 13:40] #59690 closed

[2021-09-14 13:46] shashishailaj commented on #81035
@clfilipe Thank you for your feedback . We will engage with the content team to have this reviewed and updated as necessary after review.

[2021-09-14 13:50] shashishailaj commented on #81036
@MartinDBakerCDW Thank you for your feedback on this . You are completely correct about the fact that automation accounts cannot be moved while moving subscription from one tenant to another. We will see how best we can update this information . We are going to get this reviewed with the content team and take it forward accordingly .

[2021-09-14 13:51] shashishailaj commented on #81034
@Shorda Thank you for your feedback . We will investigate and update the thread .

[2021-09-14 13:59] itskritibhardwaj opened #81045 "How many activities can be run parallelly in a single Azure DMS project."
[How many activities can be run parallelly in a single Azure DMS project? And how many databases can be migrated parallelly in a single activity without being queued in Azure DMS.
kindly refer some Documentation. ]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a49a982-613b-76a9-4a0a-7132d6058dcb
* Version Independent

[2021-09-14 14:07] #80773 closed

[2021-09-14 14:17] RaffaeleT opened #81046 "Code sample works for GET only"
I suppose it could be helpful and time-saving to specify that the code sample provided works with GET requests only.
It does not work with the "Execute function now" from within Visual Studio Code.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b14560cd-c161-dfd7-671c-3ebcb931740b
* Version Independent ID: aa145754-fb8

[2021-09-14 14:27] shashishailaj commented on #81004
@ormarketman Thank you for your query . We will have this reviewed with the content team and update the thread.

[2021-09-14 14:28] shashishailaj commented on #81004
@twooley Could you please help on this one ?

[2021-09-14 14:31] code4clouds opened #81047 "Explicitly mention support for Container Instances"
The support for container in Azure Managed Apps should explicitly list Azure Container and Azure WebApps as it is not clear that containers imply these Azure resources.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e56aece3-1ae7-9981-5a8e-f4f50e503784
* Version Independent ID: 1d0da43a-723a-7e6a-e7eb-687d04b21057
* Co

[2021-09-14 14:33] shashishailaj commented on #81019
@MichelleLi1993 Thank you for your feedback . We will investigate and update the thread.

[2021-09-14 14:34] shashishailaj commented on #81030
@LarsJK Thank you for your feedback . We will investigate and update the thread.

[2021-09-14 14:36] MuriloOnYou opened #81048 "Writing mistake on correlation property name"
Hello,

I was studying the correlation configurations on the 'Application Insights for web pages' documentation and noticed one detail that is a little confuse. The '[Enable Correlation](https://docs.microsoft.com/en-us/azure/azure-monitor/app/javascript#enable-correlation)' section has an explanation of the correlationHeaderExcludedDomains property that was written as correlationHeaderExcludeDoma

[2021-09-14 14:36] shashishailaj commented on #81043
@haripraghash Thank you for your feedback . We will investigate and update the thread.

[2021-09-14 14:44] KrishnaG-MSFT commented on #81048
@MuriloOnYou Thanks for the question! We are investigating and will update you shortly.

[2021-09-14 14:48] SaiKishor-MSFT commented on #80413
@RohitG92 Thank you. I received it. Can you explain your use case during which you get this error?

[2021-09-14 14:49] brentgroves opened #81049 "storage"
Suggest making a note of the default storage uses TLS 1.2 and the SSIS script will fail unless the self hosted ir system is configured to use TLS 1.2.  Or you set Require secure transfer for REST API operations to disabled or lower the TLS version requirement.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc15b40b-fce

[2021-09-14 14:53] KrishnaG-MSFT commented on #81047
@code4clouds Thanks for the question! We are investigating and will update you shortly.

[2021-09-14 15:11] ggailey777 commented on #45762
@jason2211 when this happened were you trying to upgrade to a new extension bundle version? Did you happen to try to remove the extension bundle designation from host.json and then use --force? This does seem to me like a bug on our side with bundles.

[2021-09-14 15:11] Trundlore opened #81050 "what happens to the first backup past the retention?"
can't find anywhere what happens to the first backup. this takes daily incremental backups (snapshots) so what happens when the first snapshot (full disk) goes beyond the configured retention period?
it would be useful to state what happens e.g. the first/oldest (full) backup (snapshot) is combined with the next oldest incremental.

---
#### Document Details

⚠ *Do not edit this section. It is req

[2021-09-14 15:15] roflemin opened #81051 "Issue with TimeGenerated Python script"
The statement is not really correct, it over estimates the output.

"Changing the source of the TimeGenerated field
By default, the Log Analytics agent populates the TimeGenerated field in the schema with the time the agent received the event from the Syslog daemon. As a result, the time at which the event was generated on the source system is not recorded in Azure Sentinel.

You can, however, run

[2021-09-14 15:22] MonikaReddy-MSFT commented on #80903
@stemo76 - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-09-14 15:22] #80903 closed

[2021-09-14 15:28] SamaraSoucy-MSFT commented on #81046
Thanks for the feedback! We will review and get back to you shortly.

[2021-09-14 15:28] SamaraSoucy-MSFT commented on #81039
Thanks for the question! We will review and get back to you shortly.

[2021-09-14 15:29] SamaraSoucy-MSFT commented on #81040
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2021-09-14 15:31] MonikaReddy-MSFT commented on #81050
@trundlore - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-09-14 15:35] tfitzmac commented on #81015
Sorry, I am not aware of anything that could be added to the text, as the amount of time is unpredictable. You could try using the feature before registration has completed. It's possible it is being registered per region, in which case, the region you need might have finished. We have this recommendation for [registering a resource provider](https://docs.microsoft.com/en-us/azure/azure-resource-m

[2021-09-14 15:36] DerekHerman-MSFT commented on #80908
This is not a documentation issue and appears to be a bug with the CLI. Recommend posting on the azure-cli repo. https://github.com/Azure/azure-cli/issues

[2021-09-14 15:36] #80908 closed

[2021-09-14 15:37] #80977 closed

[2021-09-14 15:44] DerekHerman-MSFT commented on #81019
Thanks for pointing this out. I have created a PR to update the documentation. The changes should go live later today.

[2021-09-14 15:44] #81019 closed

[2021-09-14 15:51] MonikaReddy-MSFT commented on #80837
@Sharmistha-Rai  - Thank you for providing your insights.
@fearofweapons - I hope @Sharmistha-Rai has answered your question.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-09-14 15:56] blockingHD commented on #80778
@PramodValavala-MSFT Appreciate the reply. Although I do understand it is an example there is no other documentation around the conditions. I just wonder if it would be worth pointing to more information. Just saying "other than GET and POST" over simplifies what triggers a pre flight request.

Maybe a note pointing to what triggers PreFlight would clear this up I would think.

[2021-09-14 15:58] dnstommy opened #81053 "Missing a "?""
GET {FHIRURL}/Patient/{ID}/$everything_type=Observation,Encounter  should be GET {FHIRURL}/Patient/{ID}/$everything?_type=Observation,Encounter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7a7df33-65f8-3059-4110-159f5a8cba46
* Version Independent ID: 8855436d-f298-358d-b0c3-0af15d3dab6c
* Content: [Patient-everythin

[2021-09-14 16:03] tamram commented on #81043
#reassign: @tamram

[2021-09-14 16:04] shaneacton commented on #80950
@YutongTie-MSFT  Thank you. I have created the support ticket.
Request ID:  2109140050002786

I have also tried connecting to a workspace owned by a different azure account. Same issue. So the problem must be with the Python SDK. And i'm weary to try roll back versions since this issue has been around for years

[2021-09-14 16:22] JamesTran-MSFT commented on #79760
@ii-batman
Thank you again for your time and patience throughout this issue.

I've created a PR to update the documentation and it's currently waiting for the author to review and sign off. In the meantime, feel free to double check my PR and if I missed anything or worded it incorrectly, please let me know.

![image](https://user-images.githubusercontent.com/36619112/133295984-e722b24a-3fcc-44af-

[2021-09-14 16:33] cephalin commented on #80776
#please-close

[2021-09-14 16:33] anumalasri opened #81054 "Auto Collected dependencies - better monitoring options"
As part of [Auto Collected dependencies](https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-in-process-agent#auto-collected-dependencies) using V3 agent,  We can see that all HTTP(s) calls to remote applications are tracked at very high level using baseName and httpMethod. .

Example from AppInsights:
![image](https://user-images.githubusercontent.com/27963315/133297393-ccfc5823-451a-4e

[2021-09-14 16:35] darrenCampos opened #81055 "Unbounded used instead of No Expiry"
[Enter feedback here]
Hi, checking the document under https://docs.microsoft.com/en-us/azure/active-directory-b2c/tokens-overview#configuration and the section Refresh token sliding window lifetime, it is used the work Unbounded but checking the Azure Portal the 2 words used here are Bounded and No Expiry, so we will need to change the unbounded word here for No Expiry or change No Expiry for Unbo

[2021-09-14 16:35] rtccoupe opened #81056 "This page is no longer up to date. Please update. Thanks."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d215ddd2-d71f-8b91-c5f7-314c6287cafc
* Version Independent ID: ef317dea-e56a-e6db-3344-67aa028a0ca7
* Content: [What is group-based licensing - Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/active-directo

[2021-09-14 16:40] mlibenocg opened #81057 "Spaces Missing From Code Sample"
set-adsyncscheduler-synccycleenabled$false

should be

set-adsyncscheduler -synccycleenabled $false

and a bit later in the document....

set-adsyncscheduler-synccycleenabled$true

should be

set-adsyncscheduler -synccycleenabled $true

[2021-09-14 16:49] musicjunkieg commented on #80198
Thanks, @mattmccleary  - should I open as a bug or a request? Thanks so much!

[2021-09-14 16:49] markmassad commented on #81006
There's a variable called sslClientVerify_s per Troubleshooting doc that has the info.  That's what I missed.  I see that in the diagnostics logs.

[2021-09-14 16:49] #81006 closed

[2021-09-14 16:52] JamesTran-MSFT commented on #81056
@rtccoupe
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-09-14 16:52] Oury-MSFT commented on #81053
@dnstommy Thank you for your feedback. We are reviewing the issue and will raise a PR if needed to update the doc.

[2021-09-14 16:55] JamesTran-MSFT commented on #81055
@darrenCampos
Thanks for your feedback! We will investigate and update as appropriate.

[2021-09-14 16:56] shawnweisfeld opened #81058 "Are the quotes wrong?"
RE this section in the docs.
(This example assume you are running the CLI in a Bash shell or Azure Cloud Shell. If you use the Windows Command Prompt, specify the variables with double-quotes, such as --environment-variables "NumWords"="5" "MinLength"="8".)

should this say? (Note the removal of the quotes from around the environment variable names)
--environment-variables NumWords="5" MinLength="

[2021-09-14 17:00] JamesTran-MSFT commented on #81051
@roflemin
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-09-14 17:02] mattmccleary commented on #80198
@musicjunkieg I believe it would be a feature request.

[2021-09-14 17:08] tamram commented on #81043
@haripraghash - Thanks for your feedback! This article is about storage account recovery and failover. So it applies to all of storage services (blob, queue, table, and file).

To back up a table, you can use [AzCopy v7.3](https://docs.microsoft.com/azure/storage/common/storage-use-azcopy-v10#download-azcopy). If you're looking for a more sophisticated solution, [Cosmos DB](https://docs.microsoft.

[2021-09-14 17:08] #81043 closed

[2021-09-14 17:26] matthansen0 opened #81061 "IP Addresses in Screenshot Don't Match Document"
The first diagram, and the document say that the external address space for the NAT rules should be 100.0.X.0/24 but the first screenshot under "Part 2: NAT Rules" shows 10.100.X.0/24.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1130e194-0e0f-d7e9-1f5f-2101a173f9ff
* Version Independent ID: 1f8e045c-4c83-f414-08aa-d

[2021-09-14 17:30] amsliu commented on #68240
@tualista Thank you for the feedback and we apologize for the delay until now. I have reviewed your concern with my team and we would like some more details about where and what top 10 roles you were referring to in the documentation for us to investigate further. The chart/screenshot in the doc showing three sample roles (Global Admin, Exchange Admin, and Helpdesk Admin) are only meant to be an e

[2021-09-14 17:31] YutongTie-MSFT commented on #80922
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2021-09-14 17:31] #80922 closed

[2021-09-14 17:35] himanshusinha-msft commented on #81022
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-09-14 17:42] BharathNimmala-MSFT commented on #80198
Thanks again @mattmccleary for helping on this thread.

Thank you @musicjunkieg for reaching out here with your query and also taking time to create a feature item for the PG to review further. At this point it appears that there's no edits or updates needed to the documentation. We will go ahead and close this issue for now, however if you have any further feedback on the document please tag us i

[2021-09-14 17:42] #80198 closed

[2021-09-14 17:44] bzabber opened #81062 "Incorrect ResourceID referenced in Traffic Analytics Azure Policy Instructions"
The [Assignment ](https://docs.microsoft.com/en-us/azure/network-watcher/traffic-analytics-policy-portal?source=docs#assignment-1)instructions are incorrect.

The WorkspaceID should show the full resource ID path to the Log Analytics workspace not to the resource ID of the storage account. The example:

Workspace resource ID: Resource ID of the workspace where Traffic Analytics has to be enabled.

[2021-09-14 17:46] cconrado opened #81063 "Shouldn't App Protection be Required?"
The scenarios have the policies listed select one of the conditions instead of all required. Shouldn't it be all conditions are required?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14348ba7-48f0-1862-ebec-0fc3640e587d
* Version Independent ID: 8188cee4-3f28-6014-f3be-1ee9e9b183b6
* Content: [App protection policies

[2021-09-14 17:55] himanshusinha-msft commented on #81049
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-09-14 18:02] DohertyC12 opened #81066 "Opening the AzureMapsDemo.html file in a browser doesn't work"
Followed the directions - tried to open AzureMapsDemo.html file in both Edge and Chrome browsers.

![image](https://user-images.githubusercontent.com/51104939/133309719-f887b209-8665-4c17-92b1-c715f4213acc.png)

Error message from developer tools:
Failed to load resource: the server responded with a status of 401 (Unauthorized)
/C:/favicon.ico:1 Failed to load resource: net::ERR_FILE_NOT_FOUND
atl

[2021-09-14 18:04] yushwang commented on #80023
Hi @saiut

Currently, we have not validated the P2S connections on iPad OS. I will check with the team to see if we can start the validation and update the document. Unfortunately, we cannot update the docs until the validation is completed.

Thanks!!

[2021-09-14 18:05] lgayhardt commented on #81048
@MuriloOnYou Thanks for catching that! `correlationHeaderExcludedDomain` is correct (https://github.com/microsoft/ApplicationInsights-JS#configuration). ​I changed  correlationHeaderExcludeDomains` to `correlationHeaderExcludedDomain`. The change should go live later today.

Thank you
#please-close

[2021-09-14 18:05] #81048 closed

[2021-09-14 18:06] jlichwa commented on #79349
Thank you @jaganth. Updated.

[2021-09-14 18:06] jlichwa commented on #79349
#please-close

[2021-09-14 18:06] #79349 closed

[2021-09-14 18:18] luken opened #81068 "directions not usable"
The directions given in this document are not usable, they don't map to what my screen shows... why not just include a link to the right spot?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84b26750-880c-8f14-1628-436293de915e
* Version Independent ID: 518b727f-79e8-b5c2-bcb3-ff4de3444c6f
* Content: [Configure Azure AD

[2021-09-14 18:21] romankiss commented on #80828
Hi @rido-min,

I have tried to get the _modelId_ for specific deviceId of the IoT Central App using the REST APIs version _1.1-preview_ which it is not a straightforward way.

It looks like the latest version uses still a property _templateId_ instead of the modelId, see the following response:
       {
          "id":"device111",
         "etag":"eyJoZWFkZXIiO...IwN2FhMDAwMFwiIn0",
         "disp

[2021-09-14 18:37] MashaMSFT commented on #80775
Hi @kimjamia , thanks for contacting Microsoft! It seems your question has been addressed so I'm going to go ahead and close out this Git Issue. However, if you still need help, please let us know in the comments!

Thanks again for reaching out and hope you have a wonderful rest of your day :)
Masha from the SQL Docs team
#please-close

[2021-09-14 18:37] #80775 closed

[2021-09-14 18:47] juliakm commented on #75798
Thanks @keithdoyle9! I'll make an update shortly.

[2021-09-14 18:48] amsliu commented on #68100
@DEberhardt Thanks for your dedication to our documentation and our Product Group has now acknowledged your request in the backlog. Unfortunately, we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates on PowerShell for Admin Groups have not been made since the creation of this issue, and the timeline for resolution ma

[2021-09-14 18:48] #68100 closed

[2021-09-14 18:56] MonikaReddy-MSFT commented on #81057
@mlibenocg - Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2021-09-14 19:01] MashaMSFT commented on #73366
Hi @venkat1017 , unfortunately we're not able to continue assisting you without further information so we're going to close out this Git Issue for the time being. However, if you need more assistance, please feel free to comment.

Thanks again for reaching out and I hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#please-close

[2021-09-14 19:01] #73366 closed

[2021-09-14 19:02] BhargaviAnnadevara-MSFT commented on #80757
@komayama Thanks a lot for taking the time to report your findings. I was also able to reproduce this issue at my end. This tutorial was recently updated with instructions for AuthV2. I have assigned the issue to the content author to evaluate and update the instructions as appropriate.

#reassign:cephalin

[2021-09-14 19:06] MarileeTurscak-MSFT commented on #81068
@luken
Thanks for your feedback! We will investigate and update as appropriate.

[2021-09-14 19:06] YutongTie-MSFT commented on #80935
@18127180 Hello, there is no issue for me. Please check again as below, thanks.
![image](https://user-images.githubusercontent.com/38084098/133318760-56907e2d-e6c4-4faa-b386-8fe7062ec925.png)

[2021-09-14 19:08] its-a-lisa-at-work opened #81070 "Missing status for Azure DevOps"
What is the authorization status of Azure Devops?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e27d0b1-56f9-2eb7-8fee-0c47cfbafeac
* Version Independent ID: 12556227-6adc-52c1-ac60-f341ae247e51
* Content: [Azure and other Microsoft cloud services compliance scope - Azure Government](https://docs.microsoft.com/en-us/a

[2021-09-14 19:08] MarileeTurscak-MSFT commented on #81068
Thanks @luken ! I made a pull request to update the guide with instructions to match the new UI and a link to the MFA page in the portal. https://github.com/MicrosoftDocs/azure-docs-pr/pull/172418

@Justinha please review.

[2021-09-14 19:08] #81068 closed

[2021-09-14 19:15] MarileeTurscak-MSFT commented on #81063
@cconrado
Thanks for your feedback! We will investigate and update as appropriate.

[2021-09-14 19:21] nibaccam commented on #80298
Hi @aravishdatabricks, there currently isn't a way to unlink the workspaces via the UI. However, you do have a couple options to unlink programmatically:

1) If you no longer need the Azure ML  workspace, you can delete the Azure ML workspace, which then results in the Azure Databricks workspace to be unlinked from the Azure ML workspace

2) If you want to keep both workspaces, then follow the bel

[2021-09-14 19:39] SubhashVasarapu-MSFT commented on #81062
@bzabber, Thanks for reaching out. We will investigate and update this thread.

[2021-09-14 19:42] Leonardo-Ferreira commented on #81000
@PramodValavala-MSFT Hi there! thanks for the input! I've actually had checked out the 3rd link you shared, but its not clear to me HOW the partner/developer is supposed to operate the step "Register another application in Azure AD to represent a client application"...

The step-by-step suggested there leads me into believing in a "let me do that for you, and I will send you the token" kind of dea

[2021-09-14 19:45] #75798 closed

[2021-09-14 19:50] Oury-MSFT commented on #81045
@pochiraju Could you please assist with the above questions from customer. Thanks

[2021-09-14 20:03] tomasr opened #81071 "Improve CSI Storage Classes Documentation"
Can we get improved documentation here? Unfortunately, the new CSI documentation is... not really very practical, and fails to address basic use cases:

* It provides zero guidance for migrating workloads from the old storage classes to the new CSI-based ones.
* It does not provide any overview of behavioral or semantic changes between the old classes and the new ones.
* It doesn't provide the sam

[2021-09-14 20:16] gantonius commented on #81007
@CHEEKATLAPRADEEP-MSFT can you try to reproduce the error when running this?

# To read data
import fsspec
import pandas

adls_account_name = '' #Provide exact ADLS account name
sas_key = TokenLibrary.getConnectionString(<LinkedServiceName>)

fsspec_handle = fsspec.open('abfs://<container>/<path-to-file>', account_name =    adls_account_name, sas_token=sas_key)

with fsspec_handle.open() as f:

[2021-09-14 20:19] stevevi commented on #81070
Azure DevOps is not authorized under FedRAMP High or any of the DoD impact levels in either Azure or Azure Government, as evident from the article.  You can reach out to Jorge Minana for more information about Azure DevOps compliance plans.

[2021-09-14 20:21] julieMSFT commented on #69872
@meenalsri  @RonyMSFT Can you help with this Git Issue?

[2021-09-14 20:24] kingsgatelogistics opened #81073 "DML not supported"
[Enter feedback here]
It would be nice if in this article you mentioned DML is not supported.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85bf6940-1cbe-b07c-aede-131130ceb616
* Version Independent ID: 447635d9-5aea-f447-6cb4-8fd44ea5e900
* Content: [Elastic query overview - Azure SQL Database](https://docs.microsoft

[2021-09-14 20:32] rido-min commented on #80828
Hi @romankiss,

I'd like to separate your feedback in two buckets:

1. Central APIs. You are right, there are some rough edges in the Central APIs to manage PnP devices, I'm adding @avneet723 and @sandeeppujar to share your valuable feedback.
2. How devices should discover the model. In the scenario you described, seems you are expecting the device to retrieve the `modelId` that is being configure

[2021-09-14 20:45] luisquintanilla opened #81074 "Subnet parameter requires Azure resource identifier, not subnet name"
Update schema to more accurately reflect that the `subnet` parameter requires a resource ID, not a name.

For example:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0117d1bd-ed34-dc9e-84a4-b2223871590c
* Version Independent ID: 13c0c139-fc54-7644-e205-d3cd02c125ff
* Content: [CLI (v2) workspace YAML schema - Az

[2021-09-14 20:46] luisquintanilla commented on #81074
#assign:@lostmygithubaccount

[2021-09-14 20:47] luisquintanilla commented on #81074
#please-close

[2021-09-14 20:47] #81074 closed

[2021-09-14 20:47] ValOlson commented on #80826
+ @nihemstr as well

[2021-09-14 20:49] luisquintanilla opened #81075 "Subnet parameter requires resource ID, not name"
Update schema to more accurately reflect that the `subnet` parameter requires a resource ID, not name.

For example:
[code]

It may also be the case for other resources like workspaces: https://docs.microsoft.com/en-us/azure/machine-learning/reference-yaml-workspace?tabs=json

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2021-09-14 20:49] luisquintanilla commented on #81075
#assign:@lostmygithubaccount

[2021-09-14 20:55] wyliefoxxx opened #81076 "Scope suggestion to use"
I spent about 8 hours pulling my hair out trying to configure everything, and was finally able to succeed after disregarding this piece of advice:

On your token request, set the scope to "https://sts.<account-domain>//.default", where <account-domain> is replaced with the Account Domain for your Azure Spatial Anchors account.

My spatial anchor account domain is clearly listed as 'southcentralus.

[2021-09-14 20:57] savjani commented on #80855
Hi @jihu - We do not have plans for supporting new major version for MariaDB in next 6 months. We will revisit and re-evaluate the demand in next 4 months and update our roadmap. We do not publicly publish our roadmap but if you are interested to learn more, you should feel free to reach out to us @ Ask Azure DB for MariaDB <AskAzureDBforMariaDB@service.microsoft.com>

[2021-09-14 21:15] johndeu commented on #79316
This is beginning to turn into a support discussion for your scenario.  I have updated more docs and FAQs on using short form videos so hopefully that helps.

For the short form videos - my point above is to stream a single bitrate and avoid generating ABR sets.  Most players have to buffer.  And they will typically buffer many seconds of video and then begin playback.  They will then measure the

[2021-09-14 21:25] johndeu commented on #77546
@jhancock4d  - This article is conceptual and not a tutorial.
I think you are asking for a dedicated tutorial page or How-To page for using Event Grid with the latest library.

I just recently refreshed all of our .NET samples to the latest Event Grid SDK library and I would recommend looking at this first
https://github.com/Azure-Samples/media-services-v3-dotnet

Right now, the event grid and .NE

[2021-09-14 21:34] ChaitanyaNaykodi-MSFT commented on #81061
Hello @matthansen0
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-09-14 21:36] julieMSFT commented on #79935
@nanditavalsan Please review this git issue.

[2021-09-14 21:39] laingsc opened #81078 "KeyVault access requirements for APIM"
It would be good to note that you also need to allow the control plane IP access to your Key Vault for the GET secret to work, otherwise if using a firewall on your KeyVault or Private Endpoint then this will also need to happen as the control plane IP insn't a trusted MS service apparently.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2021-09-14 21:49] mlibenocg commented on #81057
Hi Monika,

I thought the URL would have been captured by the reply form. I guess not.

Selective Password Hash Synchronization for Azure AD Connect | Microsoft Docs<https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-selective-password-hash-synchronization>

https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-selective-password-hash-synchronizat

[2021-09-14 21:49] Eurosome opened #81079 "is this product still being developed? (Enterprise State Roaming)"
I tried the implementing ESR in my environment but could not get certain things to sync:
Store apps application settings + desktop settings + ease of access settings + mouse settings

Any advice would be helpful
Thanks
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 470c6ca6-d2d1-e9b6-c5ae-cceeee3865d6
* Version Independ

[2021-09-14 21:53] SatishBoddu-MSFT commented on #81066
Hello [@DohertyC12](https://github.com/DohertyC12) Thanks for the feedback, we are looking into this.

[2021-09-14 21:56] SatishBoddu-MSFT commented on #81076
Hello [@wyliefoxxx](https://github.com/wyliefoxxx) Thanks for the feedback and sorry for the inconvenience caused! 

Our SME will get back on this.

[2021-09-14 22:14] MashaMSFT commented on #66922
Hi @JolindaTu , thanks for contacting Microsoft! My apologies, we are unable to comment or speculate about possible features that may be in development. I'll go ahead and close out this Git Issue but please feel free to comment should you need anything further.

Thanks again for reaching out and I hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#please-close
#reassign:Mash

[2021-09-14 22:14] #66922 closed

[2021-09-14 22:18] euchungmsft commented on #81016
Thanks for your prompt response @PramodValavala-MSFT
It works fine with this parameter

[code]

One question, how can I simply add keys here ? it seems like it overwrites when i tried "keyName": "k002" after "keyName": "k001"

[2021-09-14 22:20] ChadEllis8 commented on #80867
I tested the changes and it looks good for import. Thanks!

[2021-09-14 22:26] RonyMSFT commented on #69872
@leonpeeters , the following article provides guidance on how to configure IP firewall rules for Azure Synapse Analytics with workspaces.
https://docs.microsoft.com/en-us/azure/synapse-analytics/security/synapse-workspace-ip-firewall

@julieMSFT , I think the confusion here is that the "Applies to" mentions "Azure Synapse Analytics" without clarifying whether it is for "formerly SQL DW" or for "wo

[2021-09-14 22:40] ChadEllis8 opened #81080 "GUID missing in website"
Thank you for making product name, and GUID information available. I copied the licensing and service plan reference website to a CSV and then imported it into my database. I ran it across all my clients and discovered everything matched except for 3 GUIDs.

Please update website for the following GUIDs:

74fbf1bb-47c6-4796-9623-77dc7371723b
439ac253-bfbc-49c7-acc0-6b951407b5ef
55c9eb4e-c746-45b4-

[2021-09-14 22:48] takekazuomi opened #81081 "sslhost configuration string should be comma-separated"
`10.128.2.84:6380,password=xxxxxxxxxxxxxxxxxxxx,ssl=True,abortConnect=False;sslHost=[mycachename].redis.windows.net`
The above is wrong.

";sslHost" is ",sslHost".
`10.128.2.84:6380,password=xxxxxxxxxxxxxxxxxxxx,ssl=True,abortConnect=False, sslHost=[mycachename].redis.windows.net`

https://github.com/StackExchange/StackExchange.Redis/blob/main/docs/Configuration.md

---
#### Document Details

⚠ *D

[2021-09-14 23:01] Oury-MSFT commented on #80910
@embeau Did you had the chance to review the comment above. Please let me know if you have any questions.

[2021-09-14 23:01] MarileeTurscak-MSFT commented on #81079
@Eurosome
Thanks for your feedback! We will investigate and update as appropriate.

[2021-09-14 23:06] ChadEllis8 opened #81083 "Automated Method for Importing the Table on this Webpage"
We absolutely love the data you are hosting on this website: https://docs.microsoft.com/en-us/azure/active-directory/enterprise-users/licensing-service-plan-reference

Is there an API method for accessing all the data in the table? (I can copy and paste this pages' table to a csv file and import just fine and then match it up to the data we can automate through Azure. However, an automated process

[2021-09-14 23:23] Nicholak-MS commented on #81083
Hi @ChadEllis8 at this time there is no API support for this data but it is something we have in our backlog and would like to add in the future. Unfortunately at this time I don't have an ETA of when this could happen. As an interim solution we are also investigating making this available in a downloadable csv format which is similar to what you are doing today by copy and pasting, but that could

[2021-09-14 23:26] ChadEllis8 commented on #81083
That would be great if you had an automated way to download csv. We could automate the import and that should work for now.

[2021-09-14 23:34] Nicholak-MS commented on #81083
sounds good, planning to have something available here in next few weeks.

[2021-09-14 23:40] JamesTran-MSFT commented on #81080
@ChadEllis8
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-09-14 23:46] stevevi commented on #81070
#please-close

[2021-09-14 23:46] #81070 closed

[2021-09-14 23:48] cynthn commented on #67513
#please-close It looks like the ja-jp page is working, so I believe this is fixed. Thanks!

[2021-09-14 23:48] #67513 closed

[2021-09-14 23:49] xuegao112 opened #81086 "Support Germany West Central region of log analytics with AA"
when Germany West Central would be added into Supported regions for linked Log Analytics workspace ?  because we are not able to link automation account from Germany West Central for update management.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8f86bd0-7555-9be2-1015-76e3ab88062f
* Version Independent ID: 1d310402

[2021-09-14 23:52] cynthn commented on #68965
#please-close It looks like this issue was resolved. If it isn't, please feel free to reopen this issue or create a new one. Thank you!

[2021-09-14 23:52] #68965 closed

[2021-09-14 23:53] cynthn commented on #69413
@akozeki Can you confirm that this has been fixed in more recent versions of the doc? If it is fixed, I'd like to close this issue. Thanks!

[2021-09-15 00:01] akozeki commented on #69413
@cynthn I checked the document, but it has not been fixed yet.

[2021-09-15 00:05] #79249 closed

[2021-09-15 00:10] cynthn commented on #75294
@VikasPullagura-MSFT Can you remove the doc-bug tag? @srijang confirmed that there is a bug with the Marketplace image.

[2021-09-15 00:27] Karishma-Tiwari-MSFT commented on #81071
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-09-15 00:28] Karishma-Tiwari-MSFT commented on #81058
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-09-15 01:07] Oury-MSFT commented on #81073
@kingsgatelogistics  Thanks for your feedback. We are reviewing this with the author and will get back shortly.

[2021-09-15 01:08] Oury-MSFT commented on #81073
@MladjoA Do we need to raise a PR to add the above suggestion from customer. Thank you

[2021-09-15 01:16] PramodValavala-MSFT commented on #80778
@blockingHD I suppose a link to the [MDN Docs for Preflight Requests](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS#preflighted_requests) that you shared in your issue description would be great to add for reference.

[2021-09-15 01:28] PramodValavala-MSFT commented on #81000
@Leonardo-Ferreira That unfortunately isn't available out of the box but is still something you can implement. My answer here on this [SO Post](https://stackoverflow.com/questions/68615497/self-service-client-id-and-client-secret-on-azure-developer-portal) covers the details. Here is the same for reference

Since you are looking for the client credentials flow alone, you could simply expose a port

[2021-09-15 01:31] PramodValavala-MSFT commented on #81016
@euchungmsft the `properties.encryption.keyVaultProperties` property is an array, not an object. So, you would need something like this for the above and can add more references in the same object.

[code]

[2021-09-15 01:47] bsomeshwer commented on #42825
Please send GET request instead of POST. Docs say POST but it is working with GET request.

[2021-09-15 02:11] ChaitanyaNaykodi-MSFT commented on #81086
Hello @xuegao112, Thank you for reaching out. As we primarily monitor this channel for documentation enhancements and bugs. Could you please provide a documentation you are referring to so that I can redirect this issue to the appropriate team?

[2021-09-15 02:14] ChaitanyaNaykodi-MSFT commented on #81054
Hello @anumalasri
Thank you for your feedback! We will review and update as appropriate.

[2021-09-15 03:24] PramodValavala-MSFT commented on #81078
@laingsc Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

[2021-09-15 03:38] CHEEKATLAPRADEEP-MSFT commented on #81007
@gantonius I'm able use FSSPEC to read/write ADLS data in Synapse Analytics spark pool.

Read data using storage account name and key:

![image](https://user-images.githubusercontent.com/79183421/133366618-87166cb1-1e36-45ab-bcd0-b6cff10ba422.png)

Write data using storage account name and key

![image](https://user-images.githubusercontent.com/79183421/133366643-4b96e509-e7cb-4b17-9535-7a94d83eff

[2021-09-15 03:46] nezumitti03 opened #81087 "Virtual Hub and Virtual Network connectivity restrictions"
It need a description that allows only one Virtual Hub to connect to a virtual network.
(Multiple Virtual Hubs cannot connect to a single virtual network.)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07cec477-f584-400f-889c-9a5403f34bad
* Version Independent ID: f777fdfd-2f5a-56b9-574f-ae6d2b19f130
* Content: [Azure

[2021-09-15 03:48] hslee77 opened #81088 "About accelerated networking Limit"
[Enter feedback here]

**In the document below, we are guiding that accelerated networking is supported starting from 4 vCPU on VMs that support HT (Hyperthread).**

https://docs.microsoft.com/en-us/azure/virtual-network/create-vm-accelerated-networking-powershell#limitations-and-constraints
![image](https://user-images.githubusercontent.com/55521647/133354438-4e139a5b-2394-4137-8dbd-3a6fbb3df684.

[2021-09-15 04:08] kobulloc-MSFT commented on #80789
@gvanteylingen The PR will address all changes needed as soon as it passes review from @EMaher.  We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-09-15 04:08] #80789 closed

[2021-09-15 04:19] CHEEKATLAPRADEEP-MSFT commented on #80955
@promisinganuj the changes has been completed.

![image](https://user-images.githubusercontent.com/79183421/133369960-b3fa8444-b99d-41fa-8181-8ff37225837a.png)

[2021-09-15 04:19] #80955 closed

[2021-09-15 04:20] SrijitBose-MSFT commented on #81030
@LarsJK thank you for your feedback. We have shared the same with the content authors. This will now show up in their backlog.

[2021-09-15 04:24] KalyanChanumolu-MSFT commented on #80883
@ginamr I have assigned this to you to make the updates accordingly.

[2021-09-15 04:54] AnuragSharma-MSFT commented on #80855
@savjani Thanks for providing the information.

@jihu We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-09-15 04:54] #80855 closed

[2021-09-15 04:55] AnuragSharma-MSFT commented on #80870
@satyajitcet We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-09-15 05:10] ramya-rao-a opened #81089 "Transaction samples should use latest SDKs"
Today, the page on transactions has code samples using the older .NET SDK
We should have coverage for Java as well
In both languages, either choose to highlight only the newer SDKs or ensure coverage for both old and new

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14b28704-f660-c413-a0fe-cb1d469fe35c
* Version Indep

[2021-09-15 05:22] SnehaAgrawal-MSFT commented on #80702
@ak5678 We will close this out but if you feel you need more information please just let us know.

[2021-09-15 05:22] #80702 closed

[2021-09-15 05:27] SnehaAgrawal-MSFT commented on #80758
@ogliznutsa Thanks for raising this, this is now changed as " If you have and specific issues, questions or find any bugs, please [file a support ticket ](https://ms.portal.azure.com/#blade/Microsoft_Azure_Support/HelpAndSupportBlade/overview) using the Client Playback category. "  Thanks again.

[2021-09-15 05:27] #80758 closed

[2021-09-15 05:33] haripraghash commented on #81043
Thank you. Its just that the link was under Azure table storage documentation and assumed that links under table storage documentation should only deal with Table storage

[2021-09-15 05:44] SaiKishor-MSFT commented on #81087
@nezumitti03 Could you elaborate your request further so I can understand better? Thank you!

[2021-09-15 05:49] SaiKishor-MSFT commented on #81088
@gsilva5 Could you please look into this? Thank you!

[2021-09-15 05:52] AnuragSharma-MSFT commented on #81081
@takekazuomi Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-09-15 06:19] SaiKishor-MSFT commented on #80990
@SenthuranSivananthan Thank you for pointing this. I have updated the doc and it should reflect soon. Thank you!
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-09-15 06:19] #80990 closed

[2021-09-15 06:26] mfread opened #81091 "Limitations of Basic tier"
Would be useful to mention on this page that:
a) The Basic tier cannot be up-scaled to the General Purpose tier (or higher) without backing up your database, creating a new MySQL server/container, then restoring into it.
b) You cannot configure a private end-point against a Basic tier server.

Regards,
Mark

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2021-09-15 06:30] SnehaAgrawal-MSFT commented on #80756
@yutaro113 Since we didn't here from you. We will close this out here and would be reaching out to you internally to understand more on this and will accordingly update here.

[2021-09-15 07:04] AnuragSharma-MSFT commented on #80981
@TrivialK Thank you for the feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2021-09-15 07:08] euchungmsft commented on #81016
thank you so much ! @PramodValavala-MSFT  let me close this

[2021-09-15 07:08] #81016 closed

[2021-09-15 07:08] GitaraniSharma-MSFT commented on #80959
@VitalyMCT , the document has been updated to show the GA status of Azure Automation and it should reflect shortly.

We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-09-15 07:08] #80959 closed

[2021-09-15 07:10] Vidarls commented on #80975
@davidmrdavid I will have a go at using the edit function of the docs to do a PR .

The reason I did not create a complete function body was to follow the pattern of the other samples on the page that seems to end after the entity specific code.

[2021-09-15 09:11] AnuragSharma-MSFT commented on #81091
@mfread Thanks for your feedback.

We are already covering these details in different documents. If we go through [article ](https://docs.microsoft.com/en-us/azure/mysql/concepts-pricing-tiers#scale-resources)it mentions "**_After you create your server, you can independently change the vCores, the hardware generation, the pricing tier (except to and from Basic), the amount of storage, and the bac

[2021-09-15 09:21] SudheeshGH commented on #79843
This can closed the necessary changes have been made in the required documentation

[2021-09-15 09:32] AnuragSharma-MSFT commented on #79843
@SudheeshGH Thanks for making the updates.

@crussell52 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-09-15 09:35] tosi00 opened #81096 "Microsoft.Azure.Devices.Client"
Hi

I do not find Microsoft.Azure.Devices.Client in nuGet, only Microsoft.Azure.Devices.Client.PCL,  when I use that and past in the code for the tutorial I get the error message:
Error	CS0246	The type or namespace name 'DeviceAuthenticationWithX509Certificate' could not be found (are you missing a using directive or an assembly reference?)

any advice how to procced ?  (what does PCL stand for by

[2021-09-15 09:57] lmartinet73 opened #81097 "Provisioning and OU mapping"
Hello Team,
I used to configure the Google sync with GCDS and with this tool, you define the user's Organizational Unit in Google, based on a group membership (or other criteria) in AD.

I do not find, in Azure provisioning feature, a way to do the same, that is to say a way to define the Google OU for a user, based on its attributes or membership. Did I miss something?

Thank you for your help.

[2021-09-15 10:19] MayankBargali-MSFT commented on #81089
@ramya-rao-a Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-09-15 10:41] AndrewBryson opened #81099 "PingFederate page gets a 404 NotFound"
The link out to PingFederate gets a 404 NotFound: https://docs.pingidentity.com/bundle/O365IG20_sm_integrationGuide/page/O365IG_c_integrationGuide.html.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21fa537d-81fc-ccc9-f7f8-1486e71dea62
* Version Independent ID: 8e578d88-8bcb-a229-95f6-10b760d6f563
* Content: [Customiz

[2021-09-15 10:44] robert4os opened #81100 "fsspec access from Synapse to abfs fails with idna codec error"
I am following this tutorial, however when accessing a file via abfs protocol in the linked account this error occurs:

**UnicodeError: encoding with 'idna' codec failed (UnicodeError: label empty or too long)**

fsspec.__version__ = 0.8.4
I am 'Storage Blob Data Contributor' on that linked account.

Thank you and best regards, Robert

[Enter feedback here]

---
#### Document Details

⚠ *Do not ed

[2021-09-15 10:49] sasapopo commented on #80698
Hi! Usage of Transactional replication on Azure SQL Managed Instance does not generate any additional cost. This functionality comes free of charge with Managed Instance.

[2021-09-15 10:55] LucaOtto opened #81101 "error CS0103: The name 'Configuration' does not exist in the current context"
The following code throws the error CS0103 below

services.AddDbContext<MyDatabaseContext>(options =>
        options.UseSqlServer(Configuration.GetConnectionString("MyDbConnection")));

dotnetcore-sqldb-tutorial\Startup.cs(26,42): error CS0103: The name 'Configuration' does not exist in the current context

These are the options VSCode offers
![image](https://user-images.githubusercontent.com/424

[2021-09-15 11:21] jregloh commented on #80901
Thanks for looking into it @MartinJaffer-MSFT and @mssaperla

[2021-09-15 11:34] sdt-msft opened #81102 "sample JSON setup of Sentiment skill is missing the "context" field"
[Enter feedback here]
sample JSON setup of Sentiment skill is missing the "context" field

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f32645a0-29f6-94d3-46d7-96f2c3264e60
* Version Independent ID: b2b285f4-3e18-72d4-c6c3-303348c0b473
* Content: [Sentiment cognitive skill (V3) - Azure Cognitive Search](https://docs.m

[2021-09-15 11:34] robert4os commented on #81100
I tried some more tests:

# access with key, data directly in container: ok!
fsspec.open('abfs://synapse/sales_data.csv', account_name=adls_account_name, account_key=adls_account_key).open()

# access with key, data in subfolder: fails with 'file not found' (Files is present of course)
fsspec.open('abfs://synapse/aml/sales_data.csv', account_name=adls_account_name, account_key=adls_account_key).op

[2021-09-15 11:35] CHEEKATLAPRADEEP-MSFT commented on #81100
@gantonius I'm able use FSSPEC to read/write ADLS data in Synapse Analytics spark pool without any issues.

* Read data using linked service:

![image](https://user-images.githubusercontent.com/79183421/133425959-9124ffb3-b815-4f3d-8433-9e16c2cb5a49.png)

* Write data using linked service:

![image](https://user-images.githubusercontent.com/79183421/133426063-8763184f-3417-4229-af0c-5c98f6a06be5.p

[2021-09-15 11:37] JamesBaxterSoftware opened #81103 "How to include email claim when logging in via multi tenant office 365"
When using local account sign-in the following output claim is populated correctly via

  <OutputClaim ClaimTypeReferenceId="signInNames.emailAddress" PartnerClaimType="email" />

However, when logging via office 365 I get a id & access token back but it does not contain the value of the logged in user's email. Any documentation on how to do this?

---
#### Document Details

⚠ *Do not edit this se

[2021-09-15 11:41] #79316 closed

[2021-09-15 11:57] AnuragSharma-MSFT commented on #81026
@amit12cool Collection and Container words are interchangeably used and both mean same with respect to Azure Cosmos DB. You will find same words used across different articles.

[2021-09-15 11:57] commakoerschgen opened #81104 "Add limitations for permission grant policies and permission grant policy condition sets"
There are undocumented limitations for permission grant policies and permission grant policy condition sets ("consent policies"), which sometimes change without notice.

This document would be a good place for these limitations.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42a0b4cb-1981-1cbc-ce2c-dbfd8af1527c
* Versi

[2021-09-15 11:59] payalgaikwad42 opened #81105 "IoT Hub Preview Mode DPS registration fails"
Hi I have an IoTHub created in preview mode. I am trying to create a Azure IoT Edge device using DPS service. Steps are as follows:
1. Create demo certificates as given in the documentation:  https://docs.microsoft.com/en-us/azure/iot-edge/how-to-create-test-certificates?view=iotedge-2020-11
2. Uploaded root ca certificate to DPS and created group enrollment
3. install iotedge runtime 1.1.3 and ed

[2021-09-15 12:02] quekmc opened #81106 "Listing of reserved IP addresses per subnet is incorrect."
Under the section titled "Are there any restrictions on using IP addresses within these subnets?" it states the following.

Yes. Azure reserves 5 IP addresses within each subnet. These are x.x.x.0-x.x.x.3 and the last address of the subnet. x.x.x.1-x.x.x.3 is reserved in each subnet for Azure services.

x.x.x.0: Network address
x.x.x.1: Reserved by Azure for the default gateway
x.x.x.2, x.x.x.3: R

[2021-09-15 12:04] amit12cool commented on #81026
Ok..But it's very confusing for a beginner.

[2021-09-15 12:22] BhargaviAnnadevara-MSFT commented on #80625
@madsd Thanks a lot for the updates. I see that the changes reflect in the original document now.

@InformTechPro Thanks again for the feedback. We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-09-15 12:22] #80625 closed

[2021-09-15 12:23] BhargaviAnnadevara-MSFT commented on #81101
@LucaOtto Thanks for the feedback. We're investigating this and will get back to you shortly.

[2021-09-15 12:40] robert4os commented on #81100
That's promising :)

Could you please share your versions of
fsspec and adlfs

On Wednesday, September 15, 2021, CHEEKATLAPRADEEP-MSFT <
***@***.***> wrote:

[2021-09-15 12:53] Blackmist commented on #80686
Thanks for the feedback @msdpalam I'll check with engineering to make sure this is expected behavior and update the document.

[2021-09-15 12:55] shakthifuture opened #81108 "KeyError: 'IDENTITY_ENDPOINT' error in Azure environment"
I had deployed my application in Azure linux environment.

I followed the official python example https://docs.microsoft.com/en-us/azure/app-service/overview-managed-identity?tabs=python

Why I am getting `KeyError: 'IDENTITY_ENDPOINT' ` error? Any configuration I need to do extra?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2021-09-15 12:56] garybushey opened #81109 "The format of the tables make it very difficult to see all the columns."
The format of the tables make it very difficult to see all the columns, even when the page is expanded to fill up a wide monitor.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2eb1ae9-1cfc-0dd0-a055-79ae32b62a6d
* Version Independent ID: 66ce0f69-16aa-c1f8-5163-7cc5392a3399
* Content: [Reference table for all securit

[2021-09-15 13:12] kevlarmpowered commented on #69159
Was this ever resolved?  I'm trying to copy from a private endpoint storage account to another storage account and it's still failing for me and I'm using version 10.11.0

[2021-09-15 13:12] kimjamia opened #81112 "Bump up the latest version of the Network Watcher extension"
The document says:

After upgrading the extension as shown in the doc, `Get-AzVM -ResourceGroupName "SampleRG" -Name "Sample-VM" -Status` returns:
[code]

It looks like the version number in the doc should be bumped up.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d435c401-9ed7-2cea-6e9a-9c0e242a0a47
* Version Indepe

[2021-09-15 13:16] ckittel opened #81113 "AML+AKS Attach - IP Range Clarification"
Opening on behalf of a customer.

The customer was following the guidance found on this page wrt

Their experience was however that when they used `AzureMachineLearning.SoutheastAsia` and `AzureMachineLearning.EastAsia` tag as the allowed IP ranges on their AKS cluster, attachment _failed_.  When they moved to just the `AzureMachineLearning` tag, attachment was successful.  Is the documentation ac

[2021-09-15 13:21] CaryMoore-DB opened #81114 "Documentation doesn't match the image in the cluster config image"
We were implementing the Cluster Configurations for the Service Principal.  The text content has the correct syntax, but you have to replace the content to match the actual implementation, thus the image helps to understand what the result should look like.  The image with the Cluster Configs throws you off, because the secrets line doesn't show the content in {{secrets/<secret-scope-name>/<secret

[2021-09-15 13:31] tanjakersten opened #81115 "Troubleshooting phone options"
_“You've hit our limit on verification calls” or “You’ve hit our limit on text verification codes” error messages during sign-in
Microsoft may limit repeated authentication attempts that are performed by the same user in a short period of time. This limitation does not apply to the Microsoft Authenticator or verification code. If you have hit these limits, you can use the Authenticator App, verifi

[2021-09-15 13:36] Klaas- opened #81116 "Support enableAutomaticUpgrade for OMS"
Hi,
so OMS recently had a few catastrophic security issues, unfortunately it does not support being updated automatically. I would like this to happen.

Currently if I try it this error message happens: `"VM Extension with publisher 'Microsoft.EnterpriseCloud.Monitoring' and type 'OmsAgentForLinux' does not support setting enableAutomaticUpgrade property to true."`

Greetings
Klaas

---
#### Docum

[2021-09-15 13:38] tifischer opened #81117 "please list other reasons that could prevent a resource or resource group from being deleted"
[Please include that there are other reasons that could precent the resource or resource group from being deleted besides just a lock.  More specifically if someone has manually added a lock, VNET where a VM is still using the subnet is another example, or if the product automatically has a lock such as key vault.  ]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2021-09-15 13:43] kimjamia opened #81118 "Command to enable auto-update of Azure Linux Agent doesn't do anything"
The doc says to run this command to enable autoupdate on Ubuntu:
[code]

For some reason, I had this in my config:
[code]

For this reason, the `sed` command didn't do anything and I didn't immediately realize that. Perhaps the command should rather be:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e86655f9-6d0

[2021-09-15 13:53] sanderdewit opened #81119 "AzureAD join only for organizations that do not have on-prem ad????"
On this page the following is written;

While Azure AD join is primarily intended for organizations that do not have an on-premises Windows Server Active Directory infrastructure.

Based on the most recent documentation from Microsoft, the recommendation is always leverage AzureAD join, unless you are depended on specific GPO settings that have not yet been converted to CSP.

The coexistence to th

[2021-09-15 13:53] jacobgoh101 commented on #46143
as a dumb workaround when developing triggers, I just throw whatever I want to log as an error so that I can see what it is 😭😭😭😭😭😭

[2021-09-15 13:59] spygi opened #81120 "Replica-set membership: docs enhancement"
The information around the replica-set size in different parts of the [High availability | CosmosDb docs](https://docs.microsoft.com/en-us/azure/cosmos-db/high-availability) is vague/contradicting, which can be confusing/misleading to users.

Is there a chance that this is clarified? Or if it's considered too low level for this doc should there be a link to the [Global distribution under the hood

[2021-09-15 14:02] LucaOtto opened #81122 "Exception has been thrown by the target of an invocation."
Added public bool Done { get; set; } to Models\Todo.cs as instructed here https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-dotnet-sqldatabase#update-your-data-model

Ran Enable-Migrations as instructed here: https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-dotnet-sqldatabase#run-code-first-migrations-locally

however all three commands return:

[2021-09-15 14:04] Petit-Pas commented on #51032
I face the exact same problem as OP.
Uninstalled the app by mistake, reinstalled, and now I keep getting that error and the code does not work

[2021-09-15 14:04] KrishnaG-MSFT commented on #81117
@tifischer Thanks for the question! We are investigating and will update you shortly.

[2021-09-15 14:07] dgpoulet opened #81123 "Clarification required for Throughput setting for Cosmos DB sink."
In the doc it says “Throughput: Set an optional value for the number of RUs you'd like to apply to your CosmosDB collection for each execution of this data flow. Minimum is 400.”

Which sounds like it will scale the target Cosmos DB container to whatever you put in this field. Could we clarify some things which aren't clear in this description:

1.	Does this apply to existing containers, or only t

[2021-09-15 14:10] ram-msft commented on #81113
@ckittel Thanks for the feedback! We will review and update accordingly.

[2021-09-15 14:11] #80679 closed

[2021-09-15 14:18] kimjamia commented on #80775
Thanks for the clarifications, @Rupp29, and sorry for not replying earlier.

I do have Log Analytics enabled on the server-level but the "View dashboard" button is still disabled. I don't have Event Hub or Storage Account logging enabled.
![image](https://user-images.githubusercontent.com/74055505/133450517-4836e5d5-aa84-4bdd-8230-4cd3067343cf.png)

[2021-09-15 14:21] ram-msft commented on #80927
@shalinid25 Thanks for the details. Can you please add more details about the steps that you performed for generating the model file.

[2021-09-15 14:23] jonwbstr opened #81124 "Two articles same title"
Below are two documents. I am trying to determine if these documents are discussing same appliance or different appliances. After 10min I decided I should share my frustration.

One looks like a "overview" of the appliance while the other looks like the full details of the same appliance. one provides a link to download the appliance, while I don't see a link in the other so I could be completely

[2021-09-15 14:26] ansheppa opened #81125 "Quickstart example does not read feature flag from App Configuration correctly"
App does not work if we follow instructions exactly. After investigation, we found that bootstrap.properties file needs 2 additional lines...

spring.cloud.azure.appconfiguration.stores[0].feature-flags.enabled=true
spring.cloud.azure.appconfiguration.stores[0].feature-flags.label-filter=*

Also, in HelloController.java, the feature name should be referenced without the "featureManagement." prefix

[2021-09-15 14:46] SadiqhAhmed-MSFT commented on #81124
@jonwbstr Thank you for your post. We will look into this and get back to you with an update.

[2021-09-15 14:52] psmanhas commented on #81116
@Klaas-
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.We will update you accordingly.

[2021-09-15 14:52] psmanhas commented on #81116
@amjads1 Can you please check and add your comments on this doc update request as applicable

[2021-09-15 14:53] psmanhas commented on #81112
@kimjamia Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.We will update you accordingly.

[2021-09-15 14:54] psmanhas commented on #81112
@damendo Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-09-15 14:55] psmanhas commented on #81118
@kimjamia Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.We will update you accordingly.

[2021-09-15 14:56] psmanhas commented on #81118
@amjads1
Can you please check and add your comments on this doc update request as applicable

[2021-09-15 15:06] HimanginiSisodia commented on #80854
Hello All,

Just to add , the same has been tested in Lab and is approved by SUSE engineer.

[2021-09-15 15:15] edyoung commented on #16594
How this can take 3 years to triage is beyond me

[2021-09-15 15:16] Rupp29 commented on #80775
I'm unable to repo this behavior. In my SQL DB Auditing configuration, the View Dashboard is **disabled** unless I configure Log Analytics (at which time "View Dashboard" is enabled). The only way I can disable the "View Dashboard" button is if I also **_disable_** Database Auditing on the previous screen and then I have both button disabled:
![image](https://user-images.githubusercontent.com/4111

[2021-09-15 15:22] StefArroyo commented on #80779
Made changes to documentation.

#please-close

[2021-09-15 15:22] #80779 closed

[2021-09-15 15:29] stevevi commented on #81012
These changes are now live.
https://docs.microsoft.com/en-us/azure/azure-government/compare-azure-government-global-azure

[2021-09-15 15:30] stevevi commented on #81012
#please-close

[2021-09-15 15:30] #81012 closed

[2021-09-15 15:33] MarileeTurscak-MSFT commented on #81097
@lmartinet73
Thanks for your feedback! We will investigate and update as appropriate.

[2021-09-15 15:35] bmilbauer opened #81126 "How do we get the workspace URL?"
How does one find the workspace URL as an administrator?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 524e47b0-1295-7d07-0cbc-86e6daaa1358
* Version Independent ID: 1cb3a5d8-4f16-583c-ad85-325f7638a873
* Content: [Connect to Azure Virtual Desktop Windows 10 or 7 - Azure](https://docs.microsoft.com/en-us/azure/virtual

[2021-09-15 15:35] amsliu commented on #63178
@cnadler-MSFT Also, if you are still experiencing this issue, there is a likelihood that this may be due to a bug with your Azure environment, and in which case a support ticket should be logged with the Azure AD Support Team from the portal. Thanks.

[2021-09-15 15:36] kobulloc-MSFT commented on #81125
@ansheppa Thank you for reproducing this and documenting your results.  I'll get a PR out for this today.

[2021-09-15 15:36] sijday opened #81127 "Make Workbook templates available as JSON to deploy via Azure DevOps"
This page does not include information for those who want to deploy workbooks as code.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 52fb32ef-0801-1b21-d279-5223f813f9de
* Version Independent ID: f10bf47e-13e5-861e-021a-03d3aa0e36cb
* Content: [Monitor the health of your data connectors with this Azure Sentinel workbo

[2021-09-15 15:39] I2evard opened #81128 "How to downgrade Notary"
Hi there,

I've encountered the error:   NOTARY_VERSION_ERROR and ended up on this document. Following the instruction saying that the version of Notary has to be downgraded and I tried to do some researches online on how to do it. But, it seems that there isn't any informations about how to do that and I've reached the point where I would need some assistance to do it and I think this elements on

[2021-09-15 15:49] alfreema commented on #81046
This is really a duplicate of [https://github.com/MicrosoftDocs/azure-docs/issues/80995](https://github.com/MicrosoftDocs/azure-docs/issues/80995)

The documentation would work properly, and both POST and GET methods would work if they changed lines 7 and 8 of the example to:

![image](https://user-images.githubusercontent.com/34083554/133466211-42828fb7-c949-453e-888e-166e59ae359f.png)

[2021-09-15 15:49] twimmers commented on #81097
@lmartinet73 In the mappings sections, you can add a new expression mapping to the GSuite attribute orgUnitPath. You can use the _switch_ function to add logic to flow a certain orgUnitPath based on an Azure AD attribute (unfortunately based on group membership though)

https://docs.microsoft.com/en-us/azure/active-directory/app-provisioning/functions-for-customizing-application-data#switch

The e

[2021-09-15 15:50] MarileeTurscak-MSFT commented on #81127
@yelevin
Thanks for your feedback! We will investigate and update as appropriate.

[2021-09-15 15:52] MarileeTurscak-MSFT commented on #81099
@AndrewBryson
Thanks for your feedback! We will investigate and update as appropriate.

[2021-09-15 15:54] DerekHerman-MSFT commented on #80751
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-09-15 16:00] MarileeTurscak-MSFT commented on #81099
Thanks for calling this out! I made a pull request to fix the broken link: https://github.com/MicrosoftDocs/azure-docs-pr/pull/172528

Looks like it should link to this newer guide instead: https://docs.pingidentity.com/bundle/integrations/page/rnd1563994997124.html

[2021-09-15 16:05] BhargaviAnnadevara-MSFT commented on #81122
@LucaOtto Thanks for the feedback. We're investigating this and will get back to you shortly.

[2021-09-15 16:07] kevinpagliarulo commented on #79698
@asudbring any updates on this?

[2021-09-15 16:16] damendo commented on #81112
Has been updated, changes will be out in a day.

[2021-09-15 16:16] ramya-rao-a commented on #81012
Thank You!

[2021-09-15 16:25] JamesTran-MSFT commented on #81104
@commakoerschgen
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate. In the meantime, can you share some of the undocumented limitations, to better help the author investigate and update the documentation.

[2021-09-15 16:26] JamesTran-MSFT commented on #81109
@garybushey
Thanks for your feedback! We will investigate and update as appropriate.

[2021-09-15 16:28] JamesTran-MSFT commented on #81115
@tanjakersten
Thanks for your feedback! We will investigate and update as appropriate.

[2021-09-15 16:31] cbarron03 commented on #79755
How add an email address to notifications in intune

[2021-09-15 16:36] ramya-rao-a opened #81129 "The Management SDKs should have entries for other languages as well"
The section `Management SDKs` currently only has an entry for the .NET SDK
This should have entries for Java, Python and JS as well

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b6563472-ec46-54c7-640b-93ef10e57748
* Version Independent ID: 8df875cb-99ef-9298-0ab3-a06c8f6b0359
* Content: [Azure Event Hubs - Client SDK

[2021-09-15 16:38] JamesTran-MSFT commented on #81119
@sanderdewit
Thanks for your feedback! We will investigate and update as appropriate.

[2021-09-15 16:42] breddy-lgamerica opened #81130 "Support for Azure Machine Learning workspace with Azure Kubernetes Service 1.21.X"
Hi Team,

Currently Azure Machine Learning Worksapce doesnt support Azure Kubernetes Service 1.21.X, when will this support be available ?

[2021-09-15 16:43] EthanCo81 opened #81131 "More info needed"
[Enter feedback here]
There is a sentence under Source Integration that states " you can manually turn the edit mode back to Read/Write" but no actual direction is given for how to do this, nor can I find that information on any other current doc

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4dc400d6-feaf-3239-094e-3c

[2021-09-15 16:44] ezekielg commented on #44138
This still doesn't work.

[2021-09-15 16:44] MartinJaffer-MSFT commented on #80900
For #1, Workspace users and admins refers to those who can login and use the GUI / portal.  Generally, people.   This is in contrast to an [application ](https://docs.microsoft.com/en-us/azure/databricks/administration-guide/users-groups/service-principals)for which you grant only programmatic access, without any need to go through the GIU / portal.

Workspace users and admins can be [managed](htt

[2021-09-15 16:46] WilliamDAssafMSFT commented on #68678
#assign:williamdassafMSFT

[2021-09-15 16:47] SrijitBose-MSFT commented on #81128
@I2evard , Thank you for sharing your concern with us. Can you try installing a version of `Notary` earlier than 0.6.0 from [here ](https://github.com/notaryproject/notary/releases)(executables are under **Assets** for each release)?

According to [Getting started with Docker Notary](https://github.com/notaryproject/notary/blob/master/docs/getting_started.md#install-notary):

[2021-09-15 16:51] MartinJaffer-MSFT commented on #80900
@gopala-unravel
Looking at the OpenAPI specification for the [token management API](https://docs.microsoft.com/en-us/azure/databricks/dev-tools/api/latest/token-management), the maximum lifetime for a token can be configured.  See lines 34-82.

[2021-09-15 16:57] WilliamDAssafMSFT commented on #68678
Thanks @ibarrien for this feedback. We've passed along to the product team and a feature for emitting such a metric will be considered. Meanwhile, you could consider [custom metrics](https://docs.microsoft.com/azure/azure-monitor/essentials/metrics-custom-overview), which is the way to extend Azure Monitor metrics. To do this, you would need to implement some mechanism that checks the count of tab

[2021-09-15 16:57] #68678 closed

[2021-09-15 16:59] SatishBoddu-MSFT commented on #81105
Hello @payalgaikwad42
Thanks for the feedback! We are currently investigating and will update you shortly.

![image](https://user-images.githubusercontent.com/62923178/133476949-28caf1dd-ed5a-4668-8233-bade9405ded6.png)

[2021-09-15 17:04] JamesTran-MSFT commented on #81103
@JamesBaxterSoftware
Thanks for your feedback! We will investigate and update as appropriate.

[2021-09-15 17:06] tosweet opened #81132 "Link to the integrated solutions nomination form (https://aka.ms/AA5qicu) appears to be bad as it redirects to Bing."
[Enter feedback here]
Link to the [integrated solutions nomination form](https://aka.ms/AA5qicu) appears to be bad as it redirects to Bing.
https://docs.microsoft.com/en-us/azure/marketplace/integrated-solutions-for-publishers#submit-a-nomination

Thanks!
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 403a0127-963c-4f77

[2021-09-15 17:12] ChaitanyaNaykodi-MSFT commented on #81130
Hello @breddy-lgamerica, Thank you for reaching out. As we primarily monitor this channel for documentation improvements and bugs and as your question is more towards product feedback and features. Could you please raise this question on our Microsoft [Q&A platform](https://docs.microsoft.com/en-us/answers/index.html) instead?
We will now proceed to close this issue out. Please tag me in your resp

[2021-09-15 17:12] #81130 closed

[2021-09-15 17:13] YutongTie-MSFT commented on #80950
@shaneacton Thanks for this information, we will track on your ticket and update the document with more troubleshooting guidance.

We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2021-09-15 17:13] #80950 closed

[2021-09-15 17:13] YutongTie-MSFT commented on #80935
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2021-09-15 17:13] #80935 closed

[2021-09-15 17:13] ecfan commented on #80482
@divyaswarnkar, please help answer questions about user-assigned managed identity from @rudolphjacksonm?

[2021-09-15 17:17] Oury-MSFT commented on #80910
@embeau We are going to close this git issue for now. But feel free to comment below if you have any questions. Thanks

[2021-09-15 17:20] divyaswarnkar commented on #80482
Hi @rudolphjacksonm ,
On 1, we do have plans to support user assigned managed identities for Standard Logic Apps. I expect to come it sometime later this year
On 2, Logic Apps plan cannot be changed after creation (for now)
On 3, Can you elaborate more on this ? What API are you using ?
On 4, Keyvault connector is a managed connector and is available from both Standard and Consumption Logic Apps.

[2021-09-15 17:23] v-gpettibone commented on #81096
@tosi00

Hello @tosi00, I cannot reproduce what you are seeing. I can see  Microsoft.Azure.Devices.Client as well as Microsoft.Azure.Devices.Client.PCL

Have you updated the community edition lately (assuming that's what you're using)?

Are you sure you are performing the following steps?

1. Right click the project name
2. Select Manage NuGet Packages...
3. Select Browse in the NuGet package mana

[2021-09-15 17:24] MartinJaffer-MSFT commented on #81114
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2021-09-15 17:26] himanshusinha-msft commented on #81123
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-09-15 17:26] MartinJaffer-MSFT commented on #81129
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2021-09-15 17:33] cynthn commented on #69413
@akozeki Thanks for the update! I've sent this off to the localization team. I'll update this issue when I hear back :)

[2021-09-15 17:33] shaneacton commented on #80950
@YutongTie-MSFT I really think you should include some public info on how to deal with this error. This is exactly what happened on the last github issue.. The reason I made this one.

[2021-09-15 17:33] dougkuchna opened #81133 "Clarification needed"
This documentation is a bit confusing- do I need to add a reference to the SystemAssigned Identity in ARM template *and* AppManifest/ServiceManifest or is it one or the other?
If I attempt to add the Identity in AppManifest/Service manifest I receive an error that the PrincipalID must be supplied:

Creating application...
New-ServiceFabricApplication : Application managed identity PrincipalId cann

[2021-09-15 17:34] SaiKishor-MSFT commented on #80413
@RohitG92 Any update?

[2021-09-15 17:34] SatishBoddu-MSFT commented on #81096
Hello @tosi00 adding few points to v-gpettibone.

Please try from your side to see if you are able to find the Nuget package from Visual Stuido IDE?

![image](https://user-images.githubusercontent.com/62923178/133481614-767ff007-1911-40ff-bc35-a10ac7e4c791.png)

[2021-09-15 17:35] Oury-MSFT commented on #81053
@CaitlinV39 Please check customer feedback above. Do we need to make the change?

[2021-09-15 17:36] MartinJaffer-MSFT commented on #81129
Thank you for your feedback. This has been assigned to the content owner, @spelluru , and will be updated as appropriate.

[2021-09-15 17:37] MartinJaffer-MSFT commented on #81114
Thank you for your feedback. This has been assigned to the content owner, @mssaperla , and will be updated as appropriate.

[2021-09-15 17:51] JamesTran-MSFT commented on #81119
@sanderdewit
Thank you for pointing this out! When it comes to improving our docs can you share specifically what you'd like changed? Or the documentation you're referring to, so I can gain a better understanding of your ask?

I was looking through our [Azure AD joined devices](https://docs.microsoft.com/en-us/azure/active-directory/devices/concept-azure-ad-join) documentation, and with AzureAD Jo

[2021-09-15 17:58] sanderdewit commented on #81119
I would like to see that AzureAD joined is the primary solution for most use-cases including access to on-premises applications.
(https://aka.ms/goaadj). Hybrid AzureAD should only be used when AzureAD join cannot be used.

When having on-premises Active Directory, AzureAD join should still be the primary solution,
unless GPO's must be used or machine-based AD authentication is required.

The curr

[2021-09-15 18:08] JamesTran-MSFT commented on #81055
@darrenCampos
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.
![image](https://user-images.githubusercontent.com/36619112/133485787-b8e9d5ab-1f53-4c33-b97e-66b88795d8aa.png)

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your

[2021-09-15 18:08] #81055 closed

[2021-09-15 18:13] felickz opened #81135 "Limitation - Azure AD-only authentication with Azure SQL / Azure SQL Managed Instance"
Limitations - consider section to document known incompatible scenarios with this feature.  I would like to propose its usage but cannot confidently convey the ability to support it.

Assuming features like Linked Servers will no longer function with SQL Managed instance... others?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2021-09-15 18:18] anavinahar commented on #80413
Hi there - this issue isn't really doc related and in face this isnt something your sub should be registed for either. Seems to be a deeper issue. Please create a support ticket instead.

#please-close

[2021-09-15 18:18] #80413 closed

[2021-09-15 18:22] JamesTran-MSFT commented on #81109
@garybushey
Are you able to share a screenshot of what you're seeing? Or what specific table is causing you issues?

Looking at the doc, I'm able to clearly see all the columns within each table besides, the [Alerts for Windows machines](https://docs.microsoft.com/en-us/azure/security-center/alerts-reference#alerts-windows) table where I have to scroll to the right.

![listOfAlertsTable](https://u

[2021-09-15 18:25] garybushey commented on #81109
I can see the columns if I go down to the end of the table and use the
scroll bar. However,  if I am looking at an entry in the middle of the
table I would more likely than not lose my place and then have to go down
to the bottom of the table again.

If the table could resize depending on the screen size, that would be great.

Gary A. Bushey
***@***.***

On Wed, Sep 15, 2021 at 2:22 PM James Tran-

[2021-09-15 18:26] robinsh commented on #78685
This seems to answer the overall question, and can be closed. If you have more questions, please feel free to re-open this issue.
#please-close

[2021-09-15 18:26] #78685 closed

[2021-09-15 18:29] I2evard commented on #81128
Great!
That link was really helpful, thank you! (With "here")

Since I am developing on Windows, here's what I simply did:

Downloaded the ".exe" for windows
[image: image.png]

I simply placed that ".exe" into the docker file and renamed it has
notary.exe (default path:  C:\Program Files\Docker\Docker\resources\bin )

Probably adding that to the document might help more then just me!

On that,
Th

[2021-09-15 18:29] irenehua commented on #80394
This is fixed.

#please-close

[2021-09-15 18:29] #80394 closed

[2021-09-15 18:30] JamesTran-MSFT commented on #81109
@garybushey
Thank you for the quick follow up and feedback! I've assigned this issue to the author who will investigate and update as appropriate.

As a temporary workaround - as seen in my GIF, you can try highlighting and moving your mouse to the right (and back to the left) to scroll, without having to go to the bottom of the table.

[2021-09-15 18:45] nitinarora-ms commented on #79477
@Siby22071989 Today, Budgets ARM template doesn't support multiple subscriptions. However you can leverage Budgets REST APIs to setup Budgets programmatically across different Subscriptions/Resource Groups - https://docs.microsoft.com/en-us/rest/api/consumption/budgets . Let us know if you would need more details there.

[2021-09-15 18:46] DerekHerman-MSFT commented on #81004
@ormarketman There is a note at the top of the page.
_"The Azure Storage Emulator is now deprecated. Microsoft recommends that you use the Azurite emulator for local development with Azure Storage. Azurite supersedes the Azure Storage Emulator. Azurite will continue to be updated to support the latest versions of Azure Storage APIs. For more information, see Use the Azurite emulator for local Azur

[2021-09-15 18:46] #81004 closed

[2021-09-15 18:51] bandersmsft commented on #79477
#please-close

[2021-09-15 18:51] #79477 closed

[2021-09-15 18:51] lobrien commented on #80471
I've created a documentation workitem to address this. #please-close

[2021-09-15 18:51] #80471 closed

[2021-09-15 18:51] SwathiDhanwada-MSFT commented on #80835
Assigning to content author @sharath-satish-msft  for review.

[2021-09-15 18:54] jomolesk commented on #80843
Hi @hdelaby -- @DCtheGeek's reply is correct. For some CIS recommendations, there are currently no corresponding policy definitions. As new policy definitions are added over time, we add them to the CIS initiative as applicable. As noted on the documentation page, using the initiative does not itself ensure you're fully compliant with all requirements.

#please-close

[2021-09-15 18:54] #80843 closed

[2021-09-15 19:13] srijang commented on #75294
This has been resolved.

[2021-09-15 19:18] MarileeTurscak-MSFT commented on #80980
Based on related documentation I believe the account needs to be either a Global administrator or a User administrator. I made a pull request to add this prerequisite. https://github.com/MicrosoftDocs/azure-docs-pr/pull/172571

@msmimart please confirm

[2021-09-15 19:18] #80980 closed

[2021-09-15 19:21] robinsh commented on #77185
@asergaz Yes, feel free to do that. (I am not familiar with Kafka, so don't know how to do that.)

[2021-09-15 19:21] cynthn commented on #75294
#please-close

[2021-09-15 19:21] #75294 closed

[2021-09-15 19:24] RonMatsu opened #81136 "this appears to be obsolete"
Would it be possible to get a version of this guide that applies to Azure IoT Edge 1.2.3? It would appear the config file has changed drastically.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf391207-5570-8bd5-7093-9ace84259f61
* Version Independent ID: 1f885aee-a2bf-2e30-814e-460048ec657b
* Content: [Conne

[2021-09-15 19:29] BharathNimmala-MSFT commented on #81132
@tosweet Thanks a lot for bringing this to our notice, we will work with our internal team and fix the link in the document.

[2021-09-15 19:41] mike-urnun-msft commented on #80995
Hello @alfreema - Thank you again for sharing this feedback and helping us drive improvements towards MS Docs! I have created a PR that fixes the sample. Changes should be live automatically shortly after the PR is approved and merged.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-09-15 19:41] #80995 closed

[2021-09-15 19:46] mabesignal opened #81137 "Application Gateway v2 Supported regions is out of date/not updated"
The list of Application Gateway v2 supported regions is out of date/not updated. For example, I believe it is missing Germany, South Africa North, and others

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: faa5b8a2-11a1-6a2d-07cb-ffcf39643ed4
* Version Independent ID: 298a134e-fb27-f16d-bff2-d43eb0f766fd
* Content: [Aut

[2021-09-15 19:51] cynthn commented on #80287
I suspect that this issues should have been filed on https://github.com/MicrosoftDocs/architecture-center-pr/blob/master/docs/example-scenario/apps/devops-with-aks-content.md. I don't have a way to move this issue, so I'm going to close it for now.

#please-close

[2021-09-15 19:51] #80287 closed

[2021-09-15 20:13] SubhashVasarapu-MSFT commented on #81137
@mabesignal, Thanks for reaching out. We will investigate and update this thread.

[2021-09-15 20:14] shubh-agarwal-microsoft opened #81139 "Wrong product mentioned in the doc"
[Enter feedback here]
there is no Azure Stack Edge Pro FPGA.   The product is Azure Stack Edge Pro with GPU

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3df2bc5a-50e0-8ccd-f846-1c4c8618d8c6
* Version Independent ID: 049c97d0-7bc2-e9ae-e4f4-9cc0b1a99785
* Content: [Azure Stack Edge Pro FPGA security](https://docs.micr

[2021-09-15 20:28] BharathNimmala-MSFT commented on #81132
@tosweet  Thanks again for bringing this to our notice and helping us improve our Azure documentation. I have created a internal work item with respective team to fix the link in the document.

At this point it appears that there's no further edits or updates needed to the documentation, other than what has been listed above. We will go ahead and close this issue for now, however if you have any f

[2021-09-15 20:28] #81132 closed

[2021-09-15 20:28] JamesTran-MSFT commented on #81115
@tanjakersten
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

Based off our documentation, I believe this should be  [Microsoft Authenticator verification code](https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-authentication-authenticator-app#verification-code-from-mobile

[2021-09-15 20:28] #81115 closed

[2021-09-15 20:29] Marusyk opened #81140 "WebsocketClient - The type or namespace name 'WebsocketClient' could not be found"
I've installed the latest package
[code]

And tried to follow code from the Set up the subscriber section
![image](https://user-images.githubusercontent.com/9221694/133504824-b5f91bf0-62dc-48c3-890b-4a6cba4d955f.png)

Is the documentation up to date? What should I use?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 336

[2021-09-15 20:31] kristapratico opened #81141 "image/bmp or BMP file format should be included under Input Requirements"
This has been supported since API version 2.1-preview.3

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 400d903c-36d4-e20b-d2fc-b80b53b00ceb
* Version Independent ID: 210dbaf5-eda5-f50e-8d8e-18b86daff035
* Content: [What is Azure Form Recognizer? - Azure Applied AI Services](https://docs.microsoft.com/en-us/azure/applie

[2021-09-15 20:33] JamesTran-MSFT commented on #81119
@sanderdewit
Thank you for the quick follow up and clarification! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-09-15 20:33] Marusyk commented on #81140
Ok, sorry, I missed this
dotnet add package Websocket.Client --version 4.3.30

[2021-09-15 20:33] #81140 closed

[2021-09-15 20:50] Blackmist commented on #80686
@msdpalam thanks again for the feedback; the document has been updated and will be published later today.

#please-close

[2021-09-15 20:50] #80686 closed

[2021-09-15 20:51] popujol opened #81143 "Additional question"
[Enter feedback here]
Hello,
Do we need to set PAL link for all developper accounts or is it enough to have PAL Link done once?
Can the PAL link be undone (EA renewal, developper license has been changed... )?
Is there a way to see all "PAL Linked" Customers from a partner perspective?

Thank you

Pierre-Olivier

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2021-09-15 20:57] rscottwatson opened #81144 "Cannot run iptables when connected to this pod"
[Enter feedback here]
Just wondering why I am unable to run iptables on the host

[code]

thanks
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b81a147-db1c-b92f-88d1-6dd0991a72fe
* Version Independent ID: f5a2c949-498f-5848-d89c-031d1a757120
* Content: [SSH into Azure Kubernetes Service (AKS) cluster nodes - Azure Kub

[2021-09-15 21:05] MarceOrtegas opened #81145 "Variable missing dollar sign in script for scenario 2"
The script starts as below
resource= "?resource=https://management.azure.com/"

However, this is a variable so it should have a dollar sign at the beginning as the rest of the variables in the script.
$resource= "?resource=https://management.azure.com/"

The script fails to run because of this.

Section:
https://docs.microsoft.com/en-us/azure/automation/troubleshoot/managed-identity#cause-1

---
#

[2021-09-15 21:05] SatishBoddu-MSFT commented on #81136
Hello @RonMatsu Thanks for the feedback.

Our SME will review your feedback as soon as possible.

[2021-09-15 21:12] v-hhunter commented on #67280
Thank you for this doc request! We've added it to our backlog. #please-close

[2021-09-15 21:12] #67280 closed

[2021-09-15 21:20] v-hhunter commented on #78784
Thank you for your suggestion! We've taken it into consideration during our latest doc update. If you have any further questions or concerns with this article, feel free to open a new issue! #please-close

[2021-09-15 21:20] #78784 closed

[2021-09-15 21:29] tank104 commented on #67597
I have had a few issues with this - trial and error has shown that it looks like you need to run the roleAssignment in the resource group you are assigning too, NOT the resource group you are assigning from?

i.e. if one RG has a service bus, and another RG has a function, and we want to give the function access to the Service Bus, we need to run the ARM template in the RG with the Service Bus.

I

[2021-09-15 21:47] MonikaReddy-MSFT commented on #81145
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-09-15 21:55] FaizulHussain opened #81147 "Is this a typo?"
I think this line should
var result = client.Accounts.Create(resource_group_name, resource_name /*account_tier*/, parameters);

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 439b7fcb-ffb2-bc2d-d781-6f6ddf54a216
* Version Independent ID: 78b05c0c-e370-b55f-3255-fa545eeceae1
* Content: [Create Cognitive Services resource

[2021-09-15 22:12] Oury-MSFT commented on #81053
https://github.com/MicrosoftDocs/azure-docs-pr/pull/172606

[2021-09-15 22:14] Oury-MSFT commented on #81053
@dnstommy We have raised a PR to update the doc. Changes should be live by the end of the week . Thank you

[2021-09-15 22:14] #81053 closed

[2021-09-15 22:24] Marusyk commented on #68690
@asergaz
So, everyone should create a ticket to get information about DR of DPS? 🤨
Is there someone who can create this documentation?

[2021-09-15 22:25] jorge-ataide commented on #78452
@SrijitBose-MSFT any updates on this? Regarding the issue, perhaps instead of a "do not use firewall" recommendation, it would be good to know if we can still use the firewall settings on the storage account and be able to use Boot Diagnostics.

In Storage Acount's firewall settings, there's an option of "Allow Azure services on the trusted services list to access this storage account", but not su

[2021-09-15 22:28] BharathNimmala-MSFT commented on #81143
@popujol Thank you for reaching out with your query, I am further reviewing your query with our internal team , will keep this thread updated as I hear more.

[2021-09-15 22:28] markjbrown commented on #81120
Thanks for your question.

Yes, the way it is phrased in the under the hood article is more precise. However, we've not had any feedback what how it's phrased elsewhere has caused any confusion.

For sure, we'll keep an eye on it. We're fairly sensitive to customers being confused reading this article because the content is rather dense and for some, difficult to grasp. For this and other document

[2021-09-15 22:35] MladjoA commented on #81073
@Oury-MSFT , there is already this item in the list of the preview limitations:

Elastic query currently only supports read-only access to external tables.

[2021-09-15 22:37] MladjoA commented on #81073
@Oury-MSFT , also:

This allows for read-only querying of remote databases...

[2021-09-15 22:49] Ayanmullick commented on #67280
@v-hhunter , Could you share the ADO backlog link?

[2021-09-15 22:52] neodagen opened #81148 "Typo in 3rd paragraph"
There is what appears to be a typo in the 3rd paragraph of the Standard Replication section.

the sentence read:
“The design of th high availability….”
I believe it should read:
“The design of the high availability….”

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 593037b3-bb00-5c4f-f87e-5e12afa593de
* Version Independ

[2021-09-15 23:19] SaurabhSharma-MSFT commented on #81148
@neodagen Thanks for your feedback! We will investigate and update as appropriate.

[2021-09-15 23:21] lXbalanque opened #81150 "How long does it take to create the password hash?"
I'm having a lot of difficulty getting this working correctly, and quite frankly its become frustrating. I've submitted tickets with Azure support but even with severity level A selected, the time to hear back from someone is absurdly long.

We are all in on Azure. It is all cloud, no on-premise environment. Azure AD DS was set up, then users were created in Azure Active Directory. Initially, I ha

[2021-09-16 00:01] ram-msft commented on #80927
@shalinid25 Thanks for the details. Please share details of your experiment and issue from the ml.azure.com portal for a service engineer to lookup the issue from the back-end? This option is available from the top right hand corner of the portal by clicking the smiley face, Please select the option Microsoft can email you about the feedback along with a screen shot so our service team can lookup

[2021-09-16 00:19] shalinid25 commented on #80927
Thanks! @ram-msft . I just submitted the  feedback

[2021-09-16 00:53] Peeyush-Now opened #81151 "The port on the backend VM is mentioned incorrectly, I think."
The port on the backend VM is mentioned incorrectly in case there are more than 1 SQL Servers, I think. The Fronend port is 1434 but the backend port should still be 1433 in the pink Note section.

I would suggest the frontend ports to be 14331, 14332, and so on.. and the backend is still 1433 or the configured port for the db.

---
#### Document Details

⚠ *Do not edit this section. It is require

[2021-09-16 01:35] sakuraitabi2601 commented on #80461
Thanks. but my objective is not to have another NIC for teaming , but another NIC (on other subnet) which separate for Always-on replication on mirroring endpoint .

this is for performance perspective , not for fault tolerance perspective

[2021-09-16 01:55] BryanTrach-MSFT commented on #81102
@sdt-msft Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-09-16 02:23] xuegao112 commented on #81086
Hi @ChaitanyaNaykodi-MSFT  Thanks, here is the document I am following:
https://docs.microsoft.com/en-us/azure/automation/how-to/region-mappings

[2021-09-16 02:35] SamaraSoucy-MSFT commented on #81046
Since there is already a completed PR to resolve this from the other request, I'm going to close this one.

[2021-09-16 02:35] #81046 closed

[2021-09-16 02:46] BryanTrach-MSFT commented on #81140
@Marusyk We are happy to hear you were able to resolve the issue. If you need assistance again in the future, please reach out.

[2021-09-16 02:47] ranabanerjee15 commented on #80313
@MicrosoftGuyJFlo , The link that you referenced, does not have any instructions on "How to enable AD recycle bin". It explains tombstone and other details. the following link should be added at the end which is missing

https://docs.microsoft.com/en-us/windows-server/identity/ad-ds/get-started/adac/introduction-to-active-directory-administrative-center-enhancements--level-100-#active-directory-re

[2021-09-16 02:49] PramodValavala-MSFT commented on #81131
@EthanCo81 Thanks for the feedback! There was a toggle earlier in the previous Portal UI for Functions but now there isn't one. We have assigned this issue to the content author to review and update accordingly.

[2021-09-16 02:50] PerkinsJM opened #81152 "The ASE Pro with FPGA has been discontinued. Consider removing this documentation as it is no longer applicable (except for legacy customers who may not have switched to GPU yet)."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cdb7a6a0-d2e2-d302-def2-92aec95749cd
* Version Independent ID: 08187302-44b1-fa50-d883-5d38d10448d4
* Content: [Microsoft Azure Stack Edge Pro FPGA overview](https://docs.microsoft.com/en-us/azure/databox-online/azure-stack-edge-overview)
* Content So

[2021-09-16 02:59] SamaraSoucy-MSFT commented on #80945
@parkybyang Can you please provide more details about how you got this error? I was unable to reproduce the issue.

[2021-09-16 03:13] tdihp commented on #80304
@palma21 kindly take a look, thanks!

[2021-09-16 03:13] ranabanerjee15 commented on #80379
@shashishailaj  The option that you are referring **'Per-User MFA'** is still wrong. here we are talking about **enable and disable verification methods** which means what methods do we allow for MFA like SMS, Authenticator App or Phone call? The entire article does not have any reference to configure or modify that, neither that option is available under **'Per-User MFA'**.

That option is availa

[2021-09-16 03:16] ChaitanyaNaykodi-MSFT commented on #81086
Hello @xuegao112
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-09-16 03:18] MayankBargali-MSFT commented on #81011
@blodgettb Just following up here. Hope my previous comment clears things up.

[2021-09-16 03:19] ChaitanyaNaykodi-MSFT commented on #81108
Hello @shakthifuture
Thank you for your feedback! We will review and update as appropriate.

[2021-09-16 03:22] ChaitanyaNaykodi-MSFT commented on #81126
Hello @bmilbauer
Thank you for your feedback! We will review and update as appropriate.

[2021-09-16 03:22] x509cert opened #81154 "APIs under Managed HSM link to KeyVault API docs"
While I understand Managed HSM offers a significant subset of the AKV APIs, they are not 100% the same. If I navigate to the Managed HSM APIs docs, I see all the AKV APIs, which includes details about /secrets and /certificates which don't exist in Managed HSM. Can we get a doc that outlines the delta between the two sets of APIs or links to the Managed HSM APIs?

thanks

---
#### Document Details

[2021-09-16 03:25] ChaitanyaNaykodi-MSFT commented on #81133
Hello @dougkuchna
Thank you for your feedback! We will review and update as appropriate.

[2021-09-16 03:28] ChaitanyaNaykodi-MSFT commented on #81135
Hello @felickz
Thank you for your feedback! We will review and update as appropriate.

[2021-09-16 03:28] SamaraSoucy-MSFT commented on #80986
Are you on the consumption or standard plan? The action listed in the tutorial is only available on the consumption plan as the standard plan uses a different connector that is better integrated with Logic Apps.

I'm assigning this issue to the doc author as well for review on updating the doc for the new billing option.

[2021-09-16 03:29] ChaitanyaNaykodi-MSFT commented on #81141
Hello @kristapratico
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-09-16 03:34] SamaraSoucy-MSFT commented on #81039
This is not a typo. Often securing traffic in both directions is required, so when setting up outbound traffic through a private endpoint it is important to keep in mind that it does only affect outbound traffic. There is sometimes confusion around the fact that inbound and outbound vnet configuration is different as for many other services this is not the case.

[2021-09-16 03:34] #81039 closed

[2021-09-16 04:10] #80870 closed

[2021-09-16 04:12] AnuragSharma-MSFT commented on #81026
@amit12cool Yes it could be little confusing for the beginners, I would suggest you to take both them as same whenever they are used.
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-09-16 04:30] jezza280 opened #81155 "Wildcard certificate requirement"
This statement needs to be reviewed. When creating an external wildcard URL, a wildcard certificate **must** be created that matches the URL. If you do not use a wildcard certificate, it fails to apply the certificate with an error of "the host names on the certificate do not match any verified domains."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2021-09-16 04:33] kobulloc-MSFT commented on #81125
@ansheppa I've reached out for a small clarification and will update the PR accordingly once that is resolved.

[2021-09-16 04:41] blodgettb commented on #81011
I did read that Note. I still don't agree that the same terminology was
used. I did Note down a primary and secondary Connection String, but they
were not identified as Connection String to Service Bus Namespace.
Please change the wording above them.
Also, please provide a way to get the Connection String later.
Thank you.

On Tue, Sep 14, 2021, 12:01 AM MayankBargali-MSFT ***@***.***>
wrote:

[2021-09-16 04:53] SrijitBose-MSFT commented on #81128
@I2evard , we are glad that we could help. I am sharing the document feedback with the content author(s). This should now be visible in their backlog.

[2021-09-16 05:04] VitalyMCT opened #81156 "Management via PowerShell / Azure CLI"
This statement is out of date; the limitation was removed post-2019.

There are now a variety of PowerShell cmdlets and CLI commands to manage private endpoints. Example: https://docs.microsoft.com/en-us/powershell/module/az.network/approve-azprivateendpointconnection?view=azps-6.4.0

Please consider updating documentation accordingly.

Related issue: #63250

---
#### Document details

⚠ *Do not e

[2021-09-16 05:21] SrijitBose-MSFT commented on #81144
@rscottwatson thank you for your question. You are facing this issue because although `kubectl debug` starts a privileged container on your node it does not add `NET_ADMIN` capability to the container's security context. As a workaround, I have used  the [kubectl-exec](https://github.com/mohatb/kubectl-exec) tool to SSH to the AKS node(s).

Steps I followed:
 - [Install kubectl-exec](https://githu

[2021-09-16 05:33] BharathNimmala-MSFT commented on #78678
Thanks a lot @asinn826 for helping on this thread.

@devopsleigh Hopefully the fix shared by @asinn826 have resolved the issue. Thanks again for bringing this to our notice and helping us improve our Azure documentation.

At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue for now, however if you have any further feed

[2021-09-16 05:33] #78678 closed

[2021-09-16 05:59] lucarv opened #81158 "Deprecated SDK"
[Enter feedback here]
This tutorial, and in fact the VSC scaffolding use a deprecated version of the SDK. Could you please update?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b251621c-bcb0-b9ce-bd87-90499766137b
* Version Independent ID: b23ad340-bdfa-0597-9a0a-51c5e7b18b48
* Content: [Tutorial - Custom Python modul

[2021-09-16 06:15] eddieitman opened #81159 "Errors in Article needs to be updated"
[Enter feedback here]

This article is out of date we followed it and ity failed the policy has changed and is now located in another location needs to be updated

https://github.com/MicrosoftDocs/azure-docs/issues/75330
This works correctly

Change rule under
Out to AAD - Group Writeup Member Limit

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2021-09-16 06:17] jjjjeee opened #81160 "our cx faces issue when using bastion, he cannot RDP to windows server from bastion and finally noticed his bastion subnet is not in destination VM NSG."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc46ceac-e45e-6f29-dd5b-6453c614d9b2
* Version Independent ID: b8b3bb83-5204-1f8b-787f-eb3da444e22e
* Content: [Working with VMs and NSGs in Azure Bastion](https://docs.microsoft.com/en-in/azure/bastion/bastion-nsg#feedback)
* Content Source: [article

[2021-09-16 06:19] jjjjeee opened #81161 "cx hope bastion page could be more easier for understanding | about adding bastion subnet into destination VM NSG"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc46ceac-e45e-6f29-dd5b-6453c614d9b2
* Version Independent ID: b8b3bb83-5204-1f8b-787f-eb3da444e22e
* Content: [Working with VMs and NSGs in Azure Bastion](https://docs.microsoft.com/en-in/azure/bastion/bastion-nsg#feedback)
* Content Source: [article

[2021-09-16 06:21] jjjjeee commented on #81161
my cx is new to bastion, so he followed document to create it and tried to connect to windows server via bastion
but then he faced RDP issue, it is caused by missing bastion subnet in destination VM NSG , so traffic is blocked

i check document and i find we do have comments about NSG, but could us still try make is easier for new cx's understanding?
![image](https://user-images.githubusercontent.

[2021-09-16 06:25] GitaraniSharma-MSFT commented on #81156
@VitalyMCT , thank you for your feedback We'll review this & get back to you shortly!

[2021-09-16 06:27] chaisen2006 opened #81162 "AAD Auth for SSIS IR"
In this article "Enable Azure Active Directory authentication for Azure-SSIS integration runtime"
we see we are giving DB access to the ADF Managed Identity which means that we are giving access to ADF ( SSIS IR ) to the SQL DB.

So the Auth is between ADF and SSISB provisioned on the Azure SQL/MI.

Taking that into consideration I am bit confused with below statement.

Firstly,
1.In this scenario

[2021-09-16 06:44] SrijitBose-MSFT commented on #81008
@jeganlingam do you have further queries on this?

[2021-09-16 07:01] psmanhas commented on #80258
We are having discussion internally and will keep this thread posted once we have an update.

[2021-09-16 07:02] jhueppauff commented on #57806
Seems like there are coming additional binding types with Version 5 of the storage extension
https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-blob-input?tabs=csharp#additional-types

[2021-09-16 07:08] SrijitBose-MSFT commented on #80803
@mcavallo-work is there any update on this?

[2021-09-16 07:15] ram-msft commented on #80927
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-09-16 07:15] #80927 closed

[2021-09-16 07:17] ram-msft commented on #81147
@FaizulHussain Thanks for the feedback! We will review and update accordingly.

[2021-09-16 07:22] SrijitBose-MSFT commented on #80477
@davihern the [Microsoft document](https://docs.microsoft.com/en-us/azure/aks/csi-storage-drivers) refers to the managed CSI drivers feature on Azure Kubernetes Service, which currently can only be set at cluster creation time. The CSI drivers in this case are managed by the _Microsoft.ContainerService_ Resource Provider.  [Enable CSI driver on existing cluster](https://github.com/kubernetes-sigs/

[2021-09-16 07:22] TheIdentityHub commented on #80075
Hallo
@MarileeTurscak-MSFT @StefanPlizga
Is there any news on this issue? As we are facing the same problem for a client of ours.
Regards
The Identity Hub

[2021-09-16 07:29] Svijay-msft commented on #81151
Thanks for the question! We are looking into this and will get back to you soon.

[2021-09-16 07:31] Svijay-msft commented on #81162
Thanks for the question! We are looking into this and will get back to you soon.

[2021-09-16 07:33] PramodValavala-MSFT commented on #81000
@Leonardo-Ferreira Just following up here... Hope my previous comment clears things up.

[2021-09-16 07:39] shashankbarsin commented on #80985
When the newline was detected, the CLI didn't get to parsing the extension-type value and it printed the "argument --name/-n: expected one argument". On the "Try this:" message printed after that, that's a generic CLI message printed to show an example usage of k8s-extension. We'll take up work to point it to our docs instead.

[2021-09-16 07:39] chrisadkin commented on #80985
Many thanks

On Thu, 16 Sep 2021 at 08:39, Shashank Barsin ***@***.***>
wrote:

[2021-09-16 07:44] commakoerschgen commented on #81104
Thanks for the update.

For now, we have found the following limitations (as of yesterday:
1.    There can be at most 100 clientApplicationIds across all permission grant policy condition sets in the tenant
2.    There can be at most 100 clientApplicationTenantIds across all permission grant policy condition sets in the tenant

An error message for 1. is as follows (PS cmdlet, which probably just

[2021-09-16 07:51] SaiKishor-MSFT commented on #81160
@jjjjeee
Thanks for leveraging Azure docs feedback channel to raise this question. This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. We didn't determine any changes for this documentation upon reviewing this feedback.
If your issue is specific to a use case, we request you to please reach out in forums like [Microsoft Q&A](https://doc

[2021-09-16 07:53] #81160 closed

[2021-09-16 08:05] wlitke-dn commented on #67597
@tank104 Yes, that's right. The role assignment must happen in the scope of the target resource (in this case the service bus). But that's not an issue. Following snippet is an example how to perform the role assignment in a different resource group by using a sub-deployment:

[code]

[2021-09-16 08:08] xxflop opened #81165 "Update DNN support for SQL Server 2016/2017"
Hi,

With SQL Server 2016 SP3 released the DNN page still only mentions SQL Server 2019.

Here I see 2016 and 2019  explicitly mentioned, not 2017:
https://support.microsoft.com/en-us/topic/kb4537868-improvement-enable-dnn-feature-in-sql-server-2016-and-2019-fci-b3973aab-a58d-3b1b-7552-bba66b2da720

The SQL Server 2017 CU25 includes the support for DNN with AG listeners: https://support.microsoft.

[2021-09-16 08:12] SzangoliesJ opened #81166 "Clarification Requested Regarding Notification Scenarios"
From the documentation, it is not immediately clear to me who receives the lockbox notification in the following cases:
* If there is no Owner, but only Classic Administrators (I would guess that Classic Admin/Co-Admin is equivalent to owner, but I am not completely certain)
* If the Owner-role is subject to PIM, and not currently checked out

In the past, we have had issues with notifications end

[2021-09-16 08:16] AnuragSharma-MSFT commented on #81120
@markjbrown Thanks for providing the details.

@spygi Please let us know if you have any more queries.

[2021-09-16 08:20] AnuragSharma-MSFT commented on #81091
@mfread Please let us know if you have any further query.

[2021-09-16 08:20] KrishnaG-MSFT commented on #79754
@MGoedtel Thanks for approving the PR! 👍

@roblaw80 / @thepaulmacca, At this point it appears that there's no edits or updates needed for the referred Azure documentation so closing this issue for now. If there are further questions regarding this matter or feedback on the referred Azure documentation, please do let us know and we will gladly continue the discussion.

[2021-09-16 08:20] #79754 closed

[2021-09-16 08:43] SaiKishor-MSFT commented on #81161
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-09-16 08:47] SrijitBose-MSFT commented on #80920
@lee0c thank you for sharing the feedback. We have shared the same with the content author(s). This should now be visible in their backlog.

[2021-09-16 08:50] markusdresch commented on #45105
@emaborsa i implemented the new subjourney: https://docs.microsoft.com/en-us/azure/active-directory-b2c/add-password-reset-policy?pivots=b2c-custom-policy

unfortunately the "cancel" button does not behave the way it should, it does not go back to the main user journey but returns to the calling website (salesforce in my case - leading to another saml error). still trying to solve this.

[2021-09-16 08:53] robert4os commented on #81100
@CHEEKATLAPRADEEP-MSFT  I am using the same code, but still getting errors.

According to your screenshots, even subfolders work for you.

Could you therefore please share your versions:
import fsspec; fsspec.__version__
import adlfs; adlfs.__version__

Thank you and best regards,
Robert

[2021-09-16 09:04] SudheeshGH commented on #79843
Please close this

[2021-09-16 09:21] CHEEKATLAPRADEEP-MSFT commented on #81100
@robert4os I had tested on both the Supported Azure Synapse runtime.

- fsspec 0.8.4
- adlfs 0.5.5

- adlfs 0.7.7
- fsspec 2021.6.1

[2021-09-16 09:34] jayendranarumugam opened #81169 "Provide the required Permission for AzureDataBricks Enterprise App"
[Enter feedback here]

The page is telling check the permission , but missing 2 main aspect
- Permission/Role to which App ?
- What Role (least) needed?

Basically we need to provide the **AzureDataBricks** Enterprise App with the Secret Reader on the KeyVault.

![](https://i.stack.imgur.com/Ue3na.jpg)

Reference: https://stackoverflow.com/a/63272029/7073340
---
#### Document Details

⚠ *Do not ed

[2021-09-16 09:47] tosi00 commented on #81096
Hi, thanks for the feedback, I find the one you mark but that one is for Azure IoT Hub not for Azure IoT Devices.
![Capture](https://user-images.githubusercontent.com/44274742/133590294-ea6a590e-1699-4dce-8a1b-13aae72751ef.JPG)

[2021-09-16 09:47] GitaraniSharma-MSFT commented on #80719
@dazinator , below is the response I received from the backend team:

To use a managed identity with KV, Managed Identity should have “GET” permissions over KV secrets.

This document explains how to configure the key vault access policy:
https://docs.microsoft.com/en-us/azure/key-vault/general/assign-access-policy?tabs=azure-portal

In the Azure portal, you need to configure the key vault access

[2021-09-16 09:52] tosi00 commented on #81096
I reinstalled VS 2019:

![Capture](https://user-images.githubusercontent.com/44274742/133591018-594bc34a-0a85-4751-be94-af97dc2fa6d1.JPG)

here is the view I get:
![Capture2](https://user-images.githubusercontent.com/44274742/133591346-b93cc8ca-caff-4040-b741-19ab09d2f107.JPG)

[2021-09-16 09:55] GitaraniSharma-MSFT commented on #80719
@dazinator , the same is mentioned is in the article [here](https://docs.microsoft.com/en-us/azure/application-gateway/key-vault-certs#how-integration-works):

![image](https://user-images.githubusercontent.com/67630903/133591531-2542938a-6caf-4ef7-8e73-c0396e56eda0.png)

But I think we can add a more clear statement with the link to document that explains how to configure the key vault access pol

[2021-09-16 09:59] StanLi-TomTom opened #81170 "SSH to the development slot"
[Enter feedback here]
 It will be handy to mention in the page that the following command line can be used to SSH to the development slot
az webapp create-remote-connection --subscription "subscription-id" --resource-group "resource-group-name" -n "app-name" --slot "slot-name" &

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2021-09-16 10:10] SnehaAgrawal-MSFT commented on #81170
@StanLi-TomTom Thank you for your query . We will investigate and update the thread.

[2021-09-16 10:12] dazinator commented on #80719
Thanks. Yes that's a little counter intuitive that you only need to give GET permissions to "secrets" and not any permissions at all for GET or managing "certificates" if all you've added to keyvault is a certificate it feels like gateway would need some permission on certificates to access it.. thanks for clarifying that it does not!

[2021-09-16 10:13] psmanhas commented on #81165
@xxflop
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.We will update you accordingly.

[2021-09-16 10:14] psmanhas commented on #81165
@MashaMSFT Can you please check and add your comments on this doc update request as applicable

[2021-09-16 10:24] BhargaviAnnadevara-MSFT commented on #81139
@shubh-agarwal-microsoft Thanks for the feedback. We shall evaluate and update the document as appropriate.

[2021-09-16 10:31] RohitG92 commented on #80413
@SaiKishor-MSFT -  I am experiencing this issue while deploying internal load balancer using terraform.

[2021-09-16 10:36] #80466 closed

[2021-09-16 10:37] SrijitBose-MSFT commented on #80466
@Jiihaa , thank you for your feedback. We have updated the document. The changes should reflect shortly.

[2021-09-16 10:40] SrijitBose-MSFT commented on #80448
@sb1975 ,thank you for your feedback. We have shared the same with the content author(s). This shall now be visible in their backlog.

[2021-09-16 10:48] GitaraniSharma-MSFT commented on #81106
@quekmc , you are right that for IP address range 192.168.0.128/27, the following would be the reserved IP list.

192.168.0.128 : Network address
192.168.0.129 : Reserved by Azure for the default gateway
192.168.0.130, 192.168.0.131 : Reserved by Azure to map the Azure DNS IPs to the VNet space
192.168.0.159 : Network broadcast address.

No matter the IP address range, the fact the first 4 IP addr

[2021-09-16 11:01] SnehaAgrawal-MSFT commented on #81025
@kohei-miyoshi Thanks again for the feedback! Could you please elaborate on "But it is changing D to C because scale unit changes CS to VMSS." request you to share screen shot on this to help you better on this.

[2021-09-16 11:17] GitaraniSharma-MSFT commented on #80719
@dazinator , thank you for the confirmation. The backend team is in the process of updating the doc to make this clear and changes will go live soon.

We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-09-16 11:17] #80719 closed

[2021-09-16 11:21] SHxKM opened #81171 "Acquiring the publisher's authorization token: possible via SDK?"
This document, specifically the section titled "[How to get the publisher's authorization token](https://docs.microsoft.com/en-us/azure/marketplace/partner-center-portal/pc-saas-registration#how-to-get-the-publishers-authorization-token)", outlines how to acquire the publisher's authorization token, which is supposed to be attached to every request made by the publisher in Azure Marketplace.

Azur

[2021-09-16 12:12] MonikaReddy-MSFT commented on #81050
Hello @trundlore -It is explained here : [ Announcing general availability of incremental snapshots of Managed Disks | Azure Blog and Updates | Microsoft Azure.](https://azure.microsoft.com/en-us/blog/announcing-general-availability-of-incremental-snapshots-of-managed-disks/)
Azure Disk backup uses incremental snapshots internally which is clearly documented. So, this is apparently clear on what h

[2021-09-16 12:12] #81050 closed

[2021-09-16 12:41] fuglede opened #81172 "Example for purging untagged images purges ALL images"
Mirror of this issue: https://github.com/Azure/acr/issues/577

Following the examples in the documentation, I ran

[code]

in a cloud shell.

Much to my surprise, this did not only remove untagged images (those whose tag is None) in that repository but removed ALL images in the repository. This seems like a huge issue.

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2021-09-16 12:43] KalyanChanumolu-MSFT commented on #80846
@satyajitcet I have verified this, transactions across graphs are not supported at this time.

[2021-09-16 12:43] KalyanChanumolu-MSFT commented on #80846
We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-09-16 12:43] #80846 closed

[2021-09-16 12:51] shashishailaj commented on #81150
@lXbalanque We apologize that you did not have a good experience however we will be happy to help you further on this. We will investigate on this and will provide your an explanation . If needed we will help you with alternate options and surely make sure that your project does not suffer.

[2021-09-16 12:51] robert4os commented on #81100
@CHEEKATLAPRADEEP-MSFT -- I have just created a new synapse workspace and tried the above with the described error.

![image](https://user-images.githubusercontent.com/1668298/133615029-ae33049a-ddcf-4e33-b949-0d81f2fb1ce7.png)

[2021-09-16 13:16] shashishailaj commented on #81152
@PerkinsJM Thank you for sharing this feedback . We will investigate and update the thread.

[2021-09-16 13:18] jnxxx commented on #46566
Maybe it is on it way: https://techcommunity.microsoft.com/t5/exchange-team-blog/support-of-dane-and-dnssec-in-office-365-exchange-online/ba-p/1275494

Alternatively use a IaaS Windows Server 2012 or newer.

[2021-09-16 13:20] shashishailaj commented on #81154
@x509cert Thank you for your request . We will engage the content team to review this request and see how best we can help .

[2021-09-16 13:22] shashishailaj commented on #81155
@jezza280 Thank you for your feedback . We will investigate and update the thread.

[2021-09-16 13:23] shashishailaj commented on #81159
@eddieitman Thank you for your feedback . We will investigate and update the thread.

[2021-09-16 13:24] shashishailaj commented on #81166
@SzangoliesJ Thank you for your query . We will investigate and update the thread.

[2021-09-16 13:28] shashishailaj commented on #81158
@lucarv Thank you for your feedback . We will investigate and update the thread.

[2021-09-16 13:30] RonMatsu commented on #81136
Hello @SatishBoddu-MSFT @kgremban

Coming back to this after a break - I just realized this version of IoT Edge installs several different versions of the config file. I was using the "config.toml.template" one successfully with the devices operating normally (not in a nested hierarchy). I will try to use the "config.toml.edge.template" version and update you on whether that resolves things for me

[2021-09-16 13:49] robert4os commented on #81100
For Spark 3, I have got it to work, changing the parameter in the fsspec.open method to 'adls_account_name' from 'account_name' (as given in the tutorial).

`fsspec_handle = fsspec.open('abfs://..../sub/fsspec.yml', adls_account_name = adls_account_name, sas_token=sas_key)
`

So the tutorial in the docs is out dated for sure (at least regarding spark3).

--
For Spark 2 I have not found a solution

[2021-09-16 13:50] MGoedtel commented on #79852
@snitkjaer - Thanks for submitting your feedback. This isn't a common scenario I've heard customers request support for, but I'll add it to our queue and review with the Automation PM. If we pick this up, it will be in a future sprint due to current priorities that we are actively working on now and planned for the October sprint.  Would you mind sharing the orchestration activities you would be l

[2021-09-16 13:50] GlennDelta opened #81174 "missing documentation about necessary outgoing ports to be opened in firewall"
had some troubles with the automatic updates of the AAD Proxy connector

The troubleshooter report gave me following result:
---
Connectivity to update service failed
Error connecting to URL: 'https://updater.msappproxy.net:8080/'. Error: 'The remote name could not be resolved: 'updater.msappproxy.net''. Make sure firewall and proxy configuration are properly and that the necessary outgoing ports

[2021-09-16 13:54] AnuragSingh-MSFT commented on #80912
Hi @wjdavis5, I tried using the connection string for the queue (instead of namespace) and it errors out with the following message:
`Microsoft.Azure.ServiceBus: NamespaceConnectionString should not contain EntityPath. (Parameter 'namespaceConnectionString').`

I might be missing something here. Can you please provide additional details regarding it?

[2021-09-16 13:58] AnuragSingh-MSFT commented on #80912
.

[2021-09-16 13:58] v-hhunter commented on #67280
Yes! So sorry. Here it is: https://dev.azure.com/mseng/TechnicalContent/_workitems/edit/1876128

[2021-09-16 13:58] MonikaReddy-MSFT commented on #80371
@tdx-devops - Apologies for the delay in response. We are trying to actively work on this issue and find the right contact to get the issue resolved. We will get back to you as soon as we have an update.  Thank you for your patience.

[2021-09-16 14:04] andrePKI opened #81175 "CAS/MCAS missing?"
Shouldn't `*.cas.ms`, `*.mcas.ms` and `*.mcas-gov.us` be added to the list?
As per [this link](https://docs.microsoft.com/en-us/cloud-app-security/troubleshooting-proxy-url)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d8336877-da93-ecd6-829a-0cc068caaf29
* Version Independent ID: 1e70f094-f220-92c6-7e5b-cfaf071101d5

[2021-09-16 14:04] MonikaReddy-MSFT commented on #81020
@xuegao112 - Thank you for your question.
Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2021-09-16 14:07] MonikaReddy-MSFT commented on #81057
@mlibenocg -  Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-09-16 14:07] #81057 closed

[2021-09-16 14:09] MonikaReddy-MSFT commented on #81145
@MarceOrtegas - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-09-16 14:09] #81145 closed

[2021-09-16 14:11] MonikaReddy-MSFT commented on #81175
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-09-16 14:13] MonikaReddy-MSFT commented on #81175
@andrePKI - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-09-16 14:13] #81175 closed

[2021-09-16 14:18] MGoedtel commented on #81086
There is no ETA when Germany West Central would be added to the list of Supported regions regarding support of Update Management. When we add support for new regions, the page is updated accordingly.

Because this is more of a "when will" question related to supporting and not an actual doc issue, I'm going to proceed with closing this issue. Please continue to monitor the article, the What's new

[2021-09-16 14:18] #81086 closed

[2021-09-16 14:24] tosi00 commented on #81096
It worked though with the client for Azure IoT Hub, so all well :-)

[2021-09-16 14:31] MashaMSFT commented on #80698
Hi @pitawatn , thanks so much for contacting Microsoft with  your feedback! Since we only mention cost if there is extra associated cost with a feature, an omission of such information implies there is no additional cost. As such, our policy is to avoid mentioning cost unless it’s necessary, and we would not want start adding this information at this time.

I hope that helps and please let us know

[2021-09-16 14:31] #80698 closed

[2021-09-16 14:31] PRMerger20 commented on #80698
GitHub user MashaMSFT doesn't have read permissions to the MicrosoftDocs/azure-docs repository, so they were automatically removed as an assignee.

[2021-09-16 14:32] jonels-msft commented on #77436
@AnuragSharma-MSFT, this problem should be fixed now. Can you check and close the issue please?

[2021-09-16 14:37] SatishBoddu-MSFT commented on #81096
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

[2021-09-16 14:37] #81096 closed

[2021-09-16 15:08] shortpatti commented on #80739
content updated

#please-close

[2021-09-16 15:08] #80739 closed

[2021-09-16 15:08] msmimart commented on #80964
Hi @LuHao-007, using either tenant ID or tenant name works. But as noted, if you use tenant name, be sure to use all lowercase letters even if the tenant is defined with uppercase letters in Azure AD B2C. Please let me know if the issue is resolved; for now I'll go ahead and close this, but feel free to reopen if needed. Thanks again for your feedback.
#please-close

[2021-09-16 15:08] #80964 closed

[2021-09-16 15:42] niklarin commented on #76021
@sunilagarwal can you please assign to the right person?

[2021-09-16 15:42] niklarin commented on #78467
@sunilagarwal can you please assign to the right person?

[2021-09-16 15:42] niklarin commented on #78944
@sunilagarwal can you please assign to the right person?

[2021-09-16 15:42] niklarin commented on #79810
@sunilagarwal can you please assign to the right person?

[2021-09-16 15:42] niklarin commented on #71666
@sunilagarwal can you please assign to the right person?

[2021-09-16 15:43] HitenBhavsarMSFT opened #81177 ""The number of collected items should be small." Customer want to know finite number or row number detail on the ducument."
**Please explain more in detail what/why the small numbers collect. what type resource dependent for the collect expression.**

_collect(<value1> : any) => array

Collects all values of the expression in the aggregated group into an array. Structures can be collected and transformed to alternate structures during this process. The number of items will be equal to the number of rows in that group a

[2021-09-16 15:54] dazfuller opened #81178 "Missing reference to more useful secret function"
Hi

I was just working my way through this article and trying to implement in Synapse and I feel that the `getSecretWithLS` function should be documented here.

At the moment the documentation calls out the `getSecret` function which requires the user to provide the key vault name, secret name, and optionally the linked service name. This is counter intuitive when previously in the docs it advises

[2021-09-16 15:56] kobulloc-MSFT commented on #81125
@ansheppa Thank you for the update!  I have a PR out to update the documentation.

[2021-09-16 16:00] ssivas commented on #81150
@lXbalanque , I am still testing few scenarios, will update you with my findings. Thanks

[2021-09-16 16:03] kobulloc-MSFT commented on #81172
@fuglede Thank you for reaching out to us.  I'm investigating the purge behavior from the documentation and will get back to you shortly.

[2021-09-16 16:04] spygi commented on #81120
Thanks for the clarification @markjbrown and the prompt reply. I understand the intention to keep this document on a higher level but the different wording (4 replicas vs at least 4) did cause some confusion in our team.

If you would like, I can open a small PR just to unify the wording (getting rid of the "at least"). But feel free to close this issue - it's a nit.

[2021-09-16 16:16] AnuragSharma-MSFT commented on #77436
@jonels-msft Thanks.

@GarrySinghMSFT Could you please confirm once from your side as well?

[2021-09-16 16:17] Rita0880 opened #81179 "Not able to create AAD group in Azure mysql as per online document"
I am not able to create the AZURe AD group in AZureMySql as per document:
https://docs.microsoft.com/en-us/azure/mysql/howto-configure-sign-in-azure-ad-authentication

We have AAD group when I run below command in mysql as

CREATE AADUSER 'aadgroupxx.'
getting below error
Error executing SQL statement. An unexpected error occurred while trying to validate user 'aadgroupxx'.

 when I run the below

[2021-09-16 16:31] JamesTran-MSFT commented on #81104
@commakoerschgen
Thank you for the quick follow up on this! Please allow some time for the author to investigate and update the documentation as appropriate.

[2021-09-16 16:34] BharathNimmala-MSFT commented on #81143
Thanks a lot @dhirajgandhi for helping on this.

@popujol Post validation with the team it has been called out that for every user, PAL link needs to be done only once. You don't have to redo after EA renewal.

Also, we are evaluating if this needs to be added to any of the existing documentation. If need be, will add this info as well.

Hope the information helps, please let us know if you have a

[2021-09-16 16:34] #81143 closed

[2021-09-16 16:51] ChaitanyaNaykodi-MSFT opened #81180 "Typo in the Document."
Source is misspelled.
![image](https://user-images.githubusercontent.com/67453298/133653001-a935c70c-49c9-47db-8d2a-fabac5ff93f3.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e87d5c9d-85f5-8809-8f60-0031c59b0c97
* Version Independent ID: ecc0bce6-d784-a570-e9b2-bfc96c531db5
* Content: [Troubleshoot outbound conne

[2021-09-16 16:53] brunobeltran opened #81181 "Python AML Environments Tutorial uses deprecated `docker.enable`"
The  current code suggested [in the tutorial](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-use-environments#enable-docker) is:

[code]

But in the [DockerSection](https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.core.environment.dockersection?view=azure-ml-py) docs, that "variable" is marked as Deprecated.

The updated best-practice usage should be shown instead.

[2021-09-16 16:56] ChaitanyaNaykodi-MSFT commented on #81180
Made a PR to address this issue.

[2021-09-16 17:00] SwathiDhanwada-MSFT commented on #80651
Apologies. Assigning to content author @bwren for review.

[2021-09-16 17:01] JamesTran-MSFT commented on #81174
@GlennDelta
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-09-16 17:03] SwathiDhanwada-MSFT commented on #81054
@mattmccleary  Can you please provide your inputs on this issue?

[2021-09-16 17:19] YutongTie-MSFT commented on #81181
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-09-16 17:27] ecfan commented on #81039
@SamaraSoucy-MSFT & @artisticcheese: I'm tweaking the wording so that the meaning is more clear. Thanks!

[2021-09-16 17:27] ramious76 opened #81182 "Azure firewall reference link is bad"
In section "NS-5: Deploy intrusion detection/intrusion prevention systems (IDS/IPS)" the first link towards the bottom of the section is a dead link to URL "https://docs.microsoft.com/en-us/azure/firewall/tutorial-firewall-deploy-portal".  The link is titled "How to deploy Azure Firewall"  and takes you to the default search page.

The page for the above issue is located at https://docs.microsoft.

[2021-09-16 17:28] kingcomma opened #81183 "Incorrect link on How to log events to Azure Event Hubs in Azure API Management"
Article contains the line:

[code]

But the link (https://azure.microsoft.com/documentation/videos/integrate-azure-api-management-with-event-hubs/) redirects to a landing page rather than a specific video. I could not find the correct link — it's unclear to me if the video is still available.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2021-09-16 17:29] #80900 closed

[2021-09-16 17:36] SrijitBose-MSFT commented on #81133
@dougkuchna , Thank you for sharing your concern with us.

1. To enable application with a system-assigned managed identity, add the identity property to the application resource, with type systemAssigned as shown in the example [here](https://docs.microsoft.com/en-us/azure/service-fabric/how-to-deploy-service-fabric-application-system-assigned-managed-identity#application-template).

    Explanat

[2021-09-16 17:38] hpaul-osi commented on #11632
I'd like clarification on the same point.  My assumption is that any number of configured LoadMetrics will be evaluated with relative weights along with the default metrics for placement, but that autoscaling the **total count** of instances/partitions can only have a sole metric configured as a trigger.  Is this correct?

[2021-09-16 17:39] himanshusinha-msft commented on #81169
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-09-16 17:42] himanshusinha-msft commented on #81177
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-09-16 17:43] himanshusinha-msft commented on #81178
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-09-16 17:45] michaeldaw commented on #65733
I'm having this exact issue. Was there any resolution?

[2021-09-16 17:48] dougkuchna commented on #81133
@SrijitBose-MSFT
Thank you, that resolves that part of my issue.

However, following that guidance I end up with the following error:

If I attempt to add the Identity in AppManifest/Service manifest I receive an error that the PrincipalID must be supplied:

Creating application...
New-ServiceFabricApplication : Application managed identity PrincipalId cannot be null or empty.

I don't see the Pri

[2021-09-16 17:54] MarileeTurscak-MSFT commented on #81182
@ramious76
Thanks for your feedback! We will investigate and update as appropriate.

[2021-09-16 17:55] GennadNY commented on #76021
@Oury-MSFT - we actually updated verbiage in SSL sections on both networking and security doc pages with following note, hope that helps clarify?

SSL and TLS certificates certify that your connection is secured with state-of-the-art encryption protocols. By encrypting your connection on the wire, you prevent unauthorized access to your data while in transit. This is why we strongly recommend usin

[2021-09-16 17:56] 0xAsh commented on #34167
Hi there,

Bumping this thread. The Microsoft password reset URL (https://account.activedirectory.windowsazure.com/ChangePassword.aspx) recently nearly sparked an incident at our organization because *it's nearly impossible to differentiate it from actual phishing portals we've seen in the wild*.

There are extremely well-documented scenarios that have used Microsoft Azure App Services to deploy p

[2021-09-16 17:57] erikhjensen commented on #76021
That is a super, and very clear update Gennady.

Best wishes
Erik

From: Gennady Kostinsky ***@***.***>
Sent: Thursday, September 16, 2021 11:55 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Erik Jensen ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Clarification required about SSLMode inbound connections. (#76021)

EXTERNAL EMAIL: Always be cautious. COURRIEL EXTERN

[2021-09-16 17:57] GennadNY commented on #76021
@erikhjensen
We actually updated verbiage in SSL sections on both networking and security doc pages with following note, hope that helps clarify?

SSL and TLS certificates certify that your connection is secured with state-of-the-art encryption protocols. By encrypting your connection on the wire, you prevent unauthorized access to your data while in transit. This is why we strongly recommend usin

[2021-09-16 17:57] 0xsaso commented on #34167
This just became a problem for some of our users. Luckily, we've trained people well enough to recognize phishing attempts that look like this, but now we have to teach them that sometimes Microsoft produces false positives?

The tab title is: `don't lose access to your account!`. Come on, and this was brought up in 2019? How long does it take to make a page look less phishy *at least*?

[2021-09-16 18:02] MahaSPR opened #81188 ""az keyvault storage sas-definition create ..." command generates "signed version should be specified" error."
"az keyvault storage sas-definition create ..." command generates "signed version should be specified" error.

When I run the command "az keyvault storage sas-definition create --vault-name <YourKeyVaultName> --account-name <YourStorageAccountName> -n <YourSASDefinitionName> --validity-period P2D --sas-type account --template-uri <OutputOfSasTokenCreationStep>", with actual values for all the spec

[2021-09-16 18:07] rajeshsetlem commented on #80461
Hi @sakuraitabi2601, Having another NIC doesn't improve performance in Azure VMs as the network bandwidth limit for a particular VM will be shared across the NICs.

There is no need to add additional NIC in Azure VMs to improve SQL Always On Availability Group performance.

[2021-09-16 18:17] tank104 commented on #67597
Thanks!!! That worked a treat - got a whole new persepctive on ARM now too :)

[2021-09-16 18:36] bwren commented on #80675
Thanks, we actually have multiple places where other agents need to be replaced with AMA. Log Analytics agent is still required for VM insights, so we're holding off on updating some of this content. Once, VM insights supports AMA, then we're more aggressive about scrubbing content for the other agents.

#please-close

[2021-09-16 18:36] #80675 closed

[2021-09-16 18:39] victorburgos12 opened #81189 "Too Many Extension Providers when moving a VM and its resources with Azure CLI"
When I try to move a vm with Azure CLI using the command indicated:

az resource move \
    --ids $vm,$nic,$nsg,$pip,$vnet,$storage,$diag \
	--destination-group "myDestinationResourceGroup"

I receive this error:
(TooManyExtensionProviders) The number of extension providers in the request URI exceeds limit. ARM supports up to 3 extension providers.

If I select one resource at a time, the command

[2021-09-16 18:41] leifbro commented on #68978
Self-paced training is free for all customers, but the academy site did not make that clear. This has been fixed.
#please-close

[2021-09-16 18:41] #68978 closed

[2021-09-16 18:58] kasarol opened #81190 "Unspecified unit for retry interval"
Please make it clear what the interval units are.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 652bfe4c-4644-a3c0-4174-8c708555a539
* Version Independent ID: 036e14c4-b3bd-c57d-fd22-ce5a8250b70a
* Content: [Handle Azure Functions bindings errors](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindin

[2021-09-16 19:12] #81180 closed

[2021-09-16 19:17] mike-urnun-msft commented on #81183
Hello, @kingcomma - Thank you for your feedback! We will review and update as appropriate.

[2021-09-16 19:24] Leonardo-Ferreira commented on #81000
@PramodValavala-MSFT given that the testing environment (azure API Management) is not free and MS is the one gain most from this, do you think we can get some sort of dedicated help? perhaps some funding?

[2021-09-16 19:24] JasonWHowell commented on #74089
Thanks @trkeya

@dannyevers can you add a nugget into the doc to cover this fact?

@santhoshbomma9 we'll proceed to close out the issue now. #please-close

[2021-09-16 19:24] #74089 closed

[2021-09-16 19:25] JasonWHowell commented on #74089
@dannyevers nevermind, its already there in the doc:

[2021-09-16 19:29] bitmasksn opened #81191 "Clarify statement regarding downgrading of availability"
In the section on Consistency is this statement:

This is a serious enough statement to cause some of our engineering team to question whether enabling availability zone support (mentioned earlier in the article) provides any benefit in cases where we do use event keys to implicitly target partitions. It has also led to speculation (and concern) on the availability guarantees of Event Hubs as they

[2021-09-16 19:31] jasongroce commented on #80400
#reassign:ebolton-cyber

[2021-09-16 19:49] pochiraju commented on #81045
Hello,
It depends on the DMS size you select during the DMS provisioning stage.  You can create as many projects as you want, but there is a limit in the number of activities gets executed in parallel across all projects is mainly driven DMS core size.
With 2 cores of DMS you get 2 activities, 4 vCore-8 activities.

[2021-09-16 19:55] scottgorlick opened #81192 "Missing DNS suffix for us gov cloud and other sovereign clouds"
[Enter feedback here]
this page only lists services for public and only a subset for China.  If there is documentation for US Gov regions, I'm not finding it.  Could you please add the information here, please?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a88af182-32aa-a8f3-359d-b92ae1cfb8c7
* Version Independent ID:

[2021-09-16 20:21] popujol commented on #81143
Thank you for your answer. Do you know from a partner perspective where I can check all PAL Linked customers (/users/ tenants...)?
kind resgards,

PierreOlivier

[2021-09-16 20:22] kgibson-insight commented on #7759
How do permissions get added to the subscription?

[2021-09-16 20:23] kgibson-insight commented on #7759
@ColinEff how do the permissions get added to the subscription?

[2021-09-16 20:57] ccompy commented on #78128
ASEv3 is in GA.  The pricing details are in documentation:  https://docs.microsoft.com/en-us/azure/app-service/environment/overview#pricing
For more details on the different deployment types, read this: https://docs.microsoft.com/en-us/azure/app-service/environment/creation#deployment-considerations
for the actual pricing on dedicated host offerings, that looks like there was a bug when it went ou

[2021-09-16 20:59] v-hhunter commented on #41098
This issue has been [resolved](https://github.com/MicrosoftDocs/azure-docs-pr/pull/151527). If you have any further questions, don't hesitate to open a new issue. Thank you! #please-close

[2021-09-16 20:59] #41098 closed

[2021-09-16 21:00] ColinEff commented on #7759
Used PowerShell to pre-define the role and assign it to the SPN used to do the work

[2021-09-16 21:08] ebolton-cyber commented on #80400
@mathapli I assume this is more related to image certification. please can you provide more context here? thanks

[2021-09-16 21:12] himanshusinha-msft commented on #81022
@t-htsuchiya : I was reviewing the doc : https://azure.microsoft.com/en-us/pricing/details/data-factory/data-pipeline/ and  to the best of my knowledge inactive pipeline are not charged . @ShirleyWangMSFT , please do us know if its not correct . Also do you know as to who can update the https://azure.microsoft.com/en-us/pricing/details/data-factory/data-pipeline/ ?

[2021-09-16 21:15] himanshusinha-msft commented on #81049
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2021-09-16 21:20] ecfan commented on #80482
@divyaswarnkar, thanks for answering!
@rudolphjacksonm, did these answers address your questions? Sounds like Divya would like to know more about #3.

[2021-09-16 21:24] v-hhunter commented on #50466
This issue has been resolved (see note under this [section in the article](https://docs.microsoft.com/azure/api-management/api-management-howto-aad#authorize-developer-accounts-by-using-azure-ad)). Please feel free to reach out or start a new issue if you have any further questions. Thank you! #please-close

[2021-09-16 21:24] #50466 closed

[2021-09-16 21:30] ColinEff commented on #7759
# Comments: Apply to management subscription SPN only, the SPN the management group pipeline runs as
#           Run in the context of the Management SP, from the Management subscription
# Version:  20210317 CF
# Step 1. Create Custom Role
# Step 2. Assign role to subscription for the sp-ado-tf-prd-mgmt-01 service principal

#// 1. Create Custom Role
$azSubscriptions  = @(Get-AzSubscription | wher

[2021-09-16 21:31] freastro opened #81193 "Link to existing docs for preview offers instead of linking to support"
Step 2 under **Preview and test your offer** indicates that you should contact Microsoft Support to ensure that Microsoft doesn't process a charge. This is a bit misleading as Microsoft Support won't stop Microsoft from processing a charge, but only provides information on the different ways to test an offer. Most of this information is already available in the documentation.

1. More information

[2021-09-16 21:32] himanshusinha-msft commented on #81178
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2021-09-16 21:33] RonyMSFT commented on #75175
@JN-TGB , can you provide the template that you wrote out? Also, can you check to see if the workspace that got created has managed Vnet enabled? See screenshot below.
![image](https://user-images.githubusercontent.com/53448957/133688728-be3f42ae-945d-4c78-8f25-0e60381848f2.png)

[2021-09-16 21:37] ChaitanyaNaykodi-MSFT commented on #81192
Hello @scottgorlick
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-09-16 21:41] ChaitanyaNaykodi-MSFT commented on #81188
Hello @MahaSPR , Thank you for reaching out. Could you please provide the link for documentation you were referring to so that I can redirect this issue to the appropriate team?

[2021-09-16 21:44] brianlo-ms opened #81194 "Update data to include West US 3"
Please update this page with fresh data and include newer regions, such as West US 3.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 311b6efb-2d93-6130-96a9-867fad56bd52
* Version Independent ID: a17faabf-04c6-c3da-9a37-a86b0d00cbfd
* Content: [Azure network round-trip latency statistics](https://docs.microsoft.com/en-

[2021-09-16 21:46] rafatecoy opened #81195 "Resource Group name limit of 80 characters when VMs are added on it"
Hello!

This document states that Resource Group name length is up to 90 characters.
However, for resource groups which VMs needs to be added to it, there is a limitation of 80 characters:

![image](https://user-images.githubusercontent.com/88101130/133689691-713d9f1d-e0b0-4bb5-97ba-f4f8baa139a4.png)

We have, for example, this behavior when trying to create a VM at portal in a resource group whic

[2021-09-16 21:58] MahaSPR commented on #81188
Thanks for the quick response. Chaitanya, I was following the instructions in the following article, the error happens when I execute the "az keyvault storage sas-definition create" command in section "Generate a shared access signature definition".

https://docs.microsoft.com/en-us/azure/key-vault/secrets/overview-storage-keys

[2021-09-16 21:58] shawnweisfeld opened #81196 "missing link"
there is a section that says the following, but it has braces around it and looks like it should have a hyperlink.
[You are experiencing unexpected reboots of Virtual Machines that have a large number of attached VHDs]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8196beea-f457-3813-6135-71c5ec2dbf05
* Version Indepen

[2021-09-16 22:03] julieMSFT commented on #69872
#assign:ronyMSFT

[2021-09-16 22:05] Leonardo-Ferreira commented on #81000
For the last hour I've been executing the [link number 3](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-protect-backend-with-aad), and id like to clarify something: not only I have to create a AD application for each client, but also a OAuth2 registration FOR EACH client? is that really it?

What if 2 clients need to use the same API? I can only indicate ONE OAuth2.0 f

[2021-09-16 22:07] julieMSFT commented on #79047
#assign:meenalsri

[2021-09-16 22:18] burrowj commented on #47611
For anyone else that is wasting a lot of time trying to work out client directed flow and Azure Authentication I will post my findings here in an attempt to save other people time.  This first one was reported to Microsoft 2 weeks ago by Ryan  but the documentation is still not updated so no doubt people are still wasting there time.  It also seems that the requested place for posting issues

http

[2021-09-16 22:25] MicrosoftGuyJFlo commented on #81119
Hey @sanderdewit!

Yes I am very aware of this. I am in the process of updating all of the docs in the devices tree. We started with the Overview and mention that Azure AD join is the preferred method for most customers but have not gotten deeper in the docs yet.

https://docs.microsoft.com/azure/active-directory/devices/overview#modern-device-scenario

Hopefully over the next couple months I will

[2021-09-16 22:25] MicrosoftGuyJFlo commented on #81119
#please-close

[2021-09-16 22:25] #81119 closed

[2021-09-16 22:25] Leonardo-Ferreira opened #81198 "Failed at step "Successfully call the API from the developer portal""
On item number 2 "Note a new item in the Authorization section, corresponding to the authorization server you just added."
.... well, its just not there...

The API is configured to use the OAuth2.0 that was created previously, but the authorization token requirement is just not there and the api can be called successfully without a token...

---
#### Document Details

⚠ *Do not edit this section.

[2021-09-16 22:27] julieMSFT commented on #75580
#assign:RonyMSFT

[2021-09-16 22:44] MarileeTurscak-MSFT commented on #81182
It looks like this may have already be fixed since it currently links to the instructions on the "Deploy and configure Azure Firewall using the Azure portal" page.

Feel free to tag me in the comments if I'm missing something here. CC @msmbaldwin

[2021-09-16 22:44] #81182 closed

[2021-09-16 22:45] BharathNimmala-MSFT commented on #81195
@rafatecoy Thanks a lot for bringing this to our notice, we will review the feedback and get back to you at the earliest

[2021-09-16 22:48] BharathNimmala-MSFT commented on #81171
@SHxKM Thank you for reaching out with your query, assigned this issue to our document author to further review.

[2021-09-16 22:49] charlespickettau commented on #63464
Hi

Can I reopen this please? I don't understand why ADF collects the refresh token when it's not set up to exchange the refresh token when the Access Token expires.

I get the documentation has been updated to clarify that it doesn't work if you operationalise it - but this seems a fairly big limitation.

Regards
Charlie

[2021-09-16 22:56] 5eba5tian00 commented on #63464
Hi Charlie, following a pattern to obtain and store a new refresh token before proceeding to use the Xero Connector using the original token works around this issue, see image below for my approach using the Key store for both the original refresh token and then the newly obtained refresh token.

![image](https://user-images.githubusercontent.com/72078757/133695774-d0345ccd-f467-4177-9c70-cb913846

[2021-09-16 22:58] ChaitanyaNaykodi-MSFT commented on #81194
Hello @brianlo-ms
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-09-16 22:59] charlespickettau commented on #63464
Thanks

Thanks Sebastian - that's really helpful, will look to use this option.

My wider point is this is a standard OAuth2 workflow so I'm a bit surprised that ADF doesn't have this plugged in behind the scenes. The other option we've used elsewhere is creating a custom function to do the load from the Xero API, but that makes the off the shelf connector a little redundant.

Cheers
Charlie

[2021-09-16 23:00] MarileeTurscak-MSFT commented on #81079
Hi @Eurosome,

It does synchronize most of the settings and should synchronize the mouse settings as long as you have enabled it to do so. Most of your personalized Windows settings should port over. I know that the left/right swap for the mouse wasn't working, and there was a feedback item open to include that.

Stale data may also not be included. https://docs.microsoft.com/en-us/azure/active-di

[2021-09-16 23:00] #81079 closed

[2021-09-16 23:01] 5eba5tian00 commented on #63464
Not a problem! Yeah I use a combination of the Xero Connector and a custom function from the Xero API, as I have found some data is better served from one approach vs the other.

[2021-09-16 23:08] charlespickettau commented on #63464
Thanks Sebastian. Maybe you should sell your connector to MS 😄

[2021-09-16 23:09] MarileeTurscak-MSFT commented on #81063
Thanks for this feedback. There is an open work item to address some of the confusion in the UI and with that language https://github.com/MicrosoftDocs/azure-docs/issues/80147

From my understanding from previous discussions, if you select both options "Require approved client app" and "Require app protection policy" with the Grant set to "Require one of the selected controls" the "Require app pro

[2021-09-16 23:09] #81063 closed

[2021-09-16 23:10] SamaraSoucy-MSFT commented on #80945
Just checking in. Could you please provide the relevant details surrounding how you got this error?

[2021-09-16 23:14] SamaraSoucy-MSFT commented on #81190
Thanks for the feedback! We will review and get back to you shortly.

[2021-09-16 23:15] SamaraSoucy-MSFT commented on #81198
Thanks for the feedback! We will review and get back to you shortly.

[2021-09-16 23:22] zaalion opened #81200 "A screenshot of the portal is helpful here."
[Enter feedback here]
A screenshot of the portal is helpful here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 79614f7a-1783-2aaf-1d91-e13d9f37766a
* Version Independent ID: a2697558-3e38-8001-37ae-d9852628da25
* Content: [Configure tokens - Azure Active Directory B2C](https://docs.microsoft.com/en-us/azure/active-di

[2021-09-16 23:24] mattmccleary commented on #81054
Hi @anaumalasri, I believe this doc will help:
https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-standalone-upgrade-from-2x#operation-names
Let me know if it doesn't resolve the issue.

[2021-09-16 23:32] emuench commented on #80106
Have contacted the PM.

[2021-09-16 23:52] #81144 closed

[2021-09-17 00:00] anumalasri commented on #81054
@mattmccleary  .. Incoming requests (External to Application) are showing correctly in AppInsights as per V3 version documentation,  i.e.using request mapping  `POST /owners/{ownerId}`.   No issues with this.

Telemetry processors are applicable for both Requests and Dependencies.  _Is there a way to apply these processors to Dependencies alone?_

My question was for Outgoing requests (from Applic

[2021-09-17 00:08] pnarsi opened #81201 "API Spec for https://<databricks-instance>/api/2.0/workspace-conf"
This page uses an API call to **https://<databricks-instance>/api/2.0/workspace-conf** with a key value of **storeInteractiveNotebookResultsInCustomerAccoun**t. Is this API call documented in the Azure Databricks REST API reference https://docs.microsoft.com/en-us/azure/databricks/dev-tools/api/latest/? I am struggling to find it.

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2021-09-17 00:23] MonikaReddy-MSFT commented on #81193
@freastro - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-09-17 00:34] mattmccleary commented on #81054
Hi @anumalasri, thank you for the additional details.

Good news! I've just learned operation name is now shown with dependency calls in 3.2.0-BETA.3. We plan to take it GA next week. This should help you distinguish the dependency calls.

In the meantime, we have provided a query that enables you to make this correlation:
https://docs.microsoft.com/azure/azure-monitor/app/java-standalone-upgrade-

[2021-09-17 00:35] YutongTie-MSFT commented on #80950
@shaneacton Sure, I have forwarded this to the product group for helpful guidance to customer. Thanks for pointing this out again.

[2021-09-17 01:05] ssivas commented on #81150
@lXbalanque , We Apologize for the inconvenience caused however we are happy to help you on this issue.

Yes, “NTLM Password Synchronization” must be enabled for synchronized user accounts to use NTLM authentication in the managed domain. In additional to that user account must be part of “synchronization scope” and either user must reset/change password using self-service (or) administrator reset

[2021-09-17 02:11] BharathNimmala-MSFT commented on #80871
@takekazuomi My sincere apologies for delay in getting back on this, I am further validating this with our internal team. Will keep you posted.

[2021-09-17 03:05] MayankBargali-MSFT commented on #81011
@spelluru Can you provide your insights on this.

[2021-09-17 03:07] anumalasri commented on #81054
Thanks @mattmccleary for quick update.

I tested application with AI agent v3.2.0-BETA.3.  Dependency details are showing same as v3.1.1.

Do we need to add any new configurations for updated dependency tracking ?

![image](https://user-images.githubusercontent.com/27963315/133717474-d848af25-101b-479e-9236-05ce2bc43de1.png)

![image](https://user-images.githubusercontent.com/27963315/133717673-10

[2021-09-17 03:45] jiasli commented on #80763
The Azure CLI ARM64 support is tracked in https://github.com/Azure/azure-cli/issues/7368.

[2021-09-17 03:54] spelluru commented on #81011
@MayankBargali-MSFT - I guess we could refer to it as "primary connection string" every where for the purpose of this quick start. And then may be point to the section https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-quickstart-topics-subscriptions-portal#get-the-connection-string from the .NET quick start.
Thanks.

[2021-09-17 03:55] CHEEKATLAPRADEEP-MSFT commented on #81191
@bitmasksn  Thanks for the question! We are investigating and will update you shortly.

[2021-09-17 04:10] swinarko commented on #81049
Doc will be updated soon.  #please-close

[2021-09-17 04:10] #81049 closed

[2021-09-17 04:24] swinarko commented on #81162
The internal/managed SQL Auth users (AzureIntegrationServiceDbo and AzureIntegrationServiceWorker) created when SSIS IR is being provisioned/started are only used to fetch packages from SSISDB later on.  If you deploy packages into non-SSISDB storage, e.g. MSDB hosted by Azure SQL MI or Azure Files, then the SQL Auth users won't be needed and you can use AAD Auth w/ ADF system/user-assigned manage

[2021-09-17 04:24] #81162 closed

[2021-09-17 04:41] VikasPullagura-MSFT commented on #81189
@victorburgos12 Thanks for pointing this out. The document is updated and changes will go live soon.

[2021-09-17 04:46] #81189 closed

[2021-09-17 04:52] shashishailaj commented on #81179
@Rita0880 Thank you for your query . We will investigate and update on this.

[2021-09-17 04:53] #81026 closed

[2021-09-17 04:54] AnuragSharma-MSFT commented on #81091
@mfread We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-09-17 04:54] #81091 closed

[2021-09-17 04:56] shashishailaj commented on #81200
@zaalion Thank you for your feedback . We will investigate and update the thread.

[2021-09-17 04:58] mathapli commented on #80400
@ebolton-cyber I am from AzCertify which validates incoming VM images to Marketplace. This setting is needed as part of Having access to the Serial Console and GRUB which will improve recovery times of IaaS Linux Virtual Machine in most cases. GRUB offers recovery options that otherwise would take longer to recover your VM.

Here is the document:
https://docs.microsoft.com/en-us/troubleshoot/azure

[2021-09-17 05:13] BharathNimmala-MSFT commented on #80897
@mishagen My sincere apologies for delay in getting back to this thread.

Can you please share some additional information on below items so that we can better address this issue ?

- Which Azure resource you were trying to enable the diagnostic logs using powershell, is it Azure keyvault as given in the doc example or any other service ?
- Which type of storage account you are using and see this

[2021-09-17 05:25] chaisen2006 commented on #81162
@swinarko : Thank you for the feed.

1. In the document approach we are using System/User Managed Identity during the SSISDB provisioning and NOT SQL Auth.. so how & why SQL Auth will be used later on to fetch the packages?

2. Document states ADF Managed Identity would only be used for Start Stop SSIR . But SSIR Is a Compute while we are providing ADF Managed Identity access to DB Manager role (

[2021-09-17 06:10] jeevannagvekar commented on #80826
Hi @ValOlson , I read through the code and found how a parent edge gateway server's root certificate is passed to the ADU agent. Path of the root CA cert needs to be passed via parameter "edgegateway_cert_path".  I had the nested edge hierarchy Edge Parent Device (Top Layer) --> Edge Child gateway (lower layer) --> Downstream device (bottom most layer, Raspberry Pi). The R-Pi could connect to IoT

[2021-09-17 06:23] yururin opened #81204 "Need to add example and description about adding entitlements"
[Enter feedback here]

this doc does not have description about entitlements though we can add entitlement property for adding it to groups.
In example, it should have description like it can add entitlement as well.

{
  "schemas": [ "urn:ietf:params:scim:schemas:core:2.0:Group" ],
  "displayName": "<group-name>",
  "entitlements": [{"value":"<entitle-name>"}],
  "members": [
    {
      "value":

[2021-09-17 07:11] CHEEKATLAPRADEEP-MSFT commented on #81204
@yururin  Thanks for the feedback! I have assigned the issue to the content author to evaluate and add the above details.

[2021-09-17 07:24] CHEEKATLAPRADEEP-MSFT commented on #81201
@pnarsi  Thanks for the question! We are investigating and will update you shortly.

[2021-09-17 07:40] jwefers opened #81205 "Missing information for programmatic setup of Synapse - Git integration"
Greetings,

i am trying to set up the integration between Synapse and a DevOps Git repo. However, i dont want/can't do that via GUI workflow.
Infrastructure as Code (Terraform here) is the way. So terraform indeed allows me to specify a devops repo as target:

[code]

But there is absolutely no information available on what and which permissions i have to set up on the DevOps side to make that int

[2021-09-17 07:41] jwefers commented on #74398
i guess not?

[2021-09-17 07:43] logcorner commented on #79505
here is a working solution : https://github.com/logcorner/call-web-api-b2c-from-deamon

[2021-09-17 08:20] psmanhas commented on #81126
@bmilbauer Thank you for your query!!!

As mentioned [here](https://docs.microsoft.com/en-us/windows-server/remote/remote-desktop-services/clients/windowsdesktop#workspaces) Get the list of managed resources you can access, such as apps and desktops, by subscribing to the Workspace your admin provided you.

The page you are referring to has mentioned the URL [here](https://docs.microsoft.com/en-us

[2021-09-17 08:33] fleckert opened #81207 "Azure Resource Graph query fail due to missing $ character escaping"
copy pasting an Azure Resource Graph query into the Azure Cloud Shell fails as $-characters are not escaped

az graph query -q "Resources | where type == 'microsoft.compute/virtualmachines' | extend JoinID = toupper(id), OSName = tostring(properties.osProfile.computerName), OSType = tostring(properties.storageProfile.osDisk.osType), VMSize = tostring(properties.hardwareProfile.vmSize) | join kind=

[2021-09-17 08:43] swinarko commented on #81162
Our early design was limited to use only SQL Auth for fetching packages from SSISDB after provisioning/starting SSIS IR, but we can redesign this in the future if we have many requests.  When starting/stopping, SSIS IR still needs to access SSISDB internal tables to update the status of its agents.

[2021-09-17 08:50] jikuja opened #81209 "Clarification needed for Virtual Machine Contributor role grants"
https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#virtual-machine-contributor mentions `install and run software` as granted permission for the given role. What does it actually mean and which management plane actions are used for that grant?

is that describing permissions to install extensions and run commands through management plane?

---
#### Document Details

⚠

[2021-09-17 09:06] sameer-bhangale opened #81210 "Speaker Separation using Conversation Transcription challenge"
As per this link: https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/conversation-transcription, we can separate up to 10 speakers within an audio using Conversation Transcription service.

To test this, we used the javascript code snippet provided on this link (under section “Transcribe conversations”): https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service

[2021-09-17 09:08] stoicalpirate opened #81211 "Minor edit to Python SDK code"
The Python SDK examples for pre-triggers and post-triggers should specify `from azure.cosmos import documents` as `documents.TriggerType` and `documents.TriggerOperation` are used in the script.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 239e3b2d-4a09-c6a1-ab36-70b60a18f8b5
* Version Independent ID: 10a323f6-5a10-8

[2021-09-17 09:12] mrigby-cloud opened #81212 "License clarification"
[Enter feedback here]
This page states under the prerequisites
Azure AD Premium P1 or P2 license for each administrative unit administrator

However on the [previous ](https://docs.microsoft.com/en-us/azure/active-directory/roles/administrative-units)page it states that Azure AD Premium P1 is required.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2021-09-17 09:16] takekazuomi commented on #80871
@BharathNimmala-MSFT

There was the following comment.

https://github.com/microsoft/OMS-docker/pull/430/files
https://github.com/microsoft/OMS-docker/issues/424#issuecomment-904307565

I tried "mcr.microsoft.com/azuremonitor/containerinsights/ciprod:microsoft-oms-latest". It worked.

[2021-09-17 09:26] madd0 opened #81213 "Several broken links on page"
There are three broken links on page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3be4abe7-1565-49e9-35e4-531bc14abc60
* Version Independent ID: 877f67c8-87b4-139e-2fd6-e4137b711c0d
* Content: [Azure Relay FAQs](https://docs.microsoft.com/en-us/azure/azure-relay/relay-faq)
* Content Source: [articles/azure-relay/rela

[2021-09-17 09:26] jeevannagvekar opened #81214 "SHA256 calculation for image file inside import manifest json"
Hello team, I want to know how "sha256" is calculated on the image file. I have attempted to calculate and verify the hashes. But I am not able to generate SHA256 as expected by ADU service when importing manifest and image file.

For example on image adu-update-image-raspberrypi3-0.6.5073.1.swu, (https://github.com/Azure/iot-hub-device-update/releases/download/0.7.0-rc1/adu-update-image-raspberry

[2021-09-17 09:33] jwefers commented on #81205
After observing what the portal does when setting up the "integration" i understand that there is no backend work involved. Its just that the Synape Studio Frontend app gets a token for my user for devops, sets the repo details as a sort of bookmark and the rest is just git commits via REST using my own creds.

Maybe this can be reflected in the docs

[2021-09-17 09:36] Rita0880 commented on #81179
Thanks looking forward for your response....

[2021-09-17 09:39] kohei-miyoshi opened #81215 "Adding about web server logging behavior"
Please add more information about "Enable web server logging" because someone may want to know about the mechanism of logging and retention system.

I think it needs below information.

1. If App service is deleted, web server logs in blob are not deleted .
This means if App service is deleted, app service retention system is no longer invalid.
2. When slot app create and start to log, the log fol

[2021-09-17 09:48] chaisen2006 commented on #81162
@swinarko : "SQL Auth for fetching packages from SSISDB after provisioning/starting SSIS IR" - Where do we mention the SQL Auth credentials is what I am looking for :)  ( as we only mention Managed Identity , something implicit ? )

thanks

[2021-09-17 09:56] RohitMungi-MSFT commented on #81210
@sameer-bhangale Are you using the [speech devices SDK](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/get-speech-devices-sdk) with this setup? I believe that is a limitation with this setup and the speakers are identified as speaker1 and speaker2 if the device is used.

[2021-09-17 10:03] BhargaviAnnadevara-MSFT commented on #81196
@shawnweisfeld Thanks for the feedback. We shall evaluate and update the document as appropriate.

[2021-09-17 10:08] BhargaviAnnadevara-MSFT commented on #81213
@madd0 Thanks for the feedback. We shall evaluate and update the document as appropriate.

[2021-09-17 10:09] habhachicha commented on #64993
hello @kgremban, thank you for responding.

I tried it with your suggestion and I still get the same error message.
I think from the [connection_string.py](https://github.com/Azure/azure-iot-sdk-python/blob/master/azure-iot-device/azure/iot/device/common/auth/connection_string.py) script, it won't accept it, because it's not declared as a valid key.

I hope I'll get any clarification of how the x5

[2021-09-17 10:13] asergaz commented on #80763
@kgremban I am assigning this issue to you so we can evaluate the need to add a note in the documentation mentioning that currently there is a bug when installing azure-cli on arm64v8 and arm32v7. Thanks!

[2021-09-17 10:22] BhargaviAnnadevara-MSFT commented on #81215
@kohei-miyoshi Thanks for the feedback. I have assigned the issue to the content author to evaluate and update the document as appropriate.

[2021-09-17 10:23] peg-leg opened #81216 "Unable to follow...."
The prerequisites say "Azure Multi-Factor Auth Connector must be enabled to allow users to register for push notifications for phone sign-in".  This application is not available when I log in to Azure.  Where do I find it?  This is a Microsoft Business Basic account.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee6ac

[2021-09-17 10:29] swinarko commented on #81162
They're mentioned in a note within our doc: "For SSIS package executions, your Azure-SSIS IR will still connect to SSISDB using SQL authentication with fully managed accounts that are created during SSISDB provisioning".

[2021-09-17 10:35] fat4tony opened #81217 "API & example is not working since last weekend"
Dear colleagues,

I have similar issue as below, the API (was working fine) suddenly not working :
https://github.com/MicrosoftDocs/azure-docs/issues/28643

Could you please check and advice?
My current key is:
My account in Azure is: aku@cubewise.com

I will regenerate a new key to use when this issue is solved.

Thanks,
Anthony

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2021-09-17 10:38] psmanhas commented on #80899
@flodihn Below is the response I got from our internal team:
There is an article from networking for creating a VM with a static private IP: https://docs.microsoft.com/en-us/azure/virtual-network/virtual-networks-static-private-ip-arm-pportal?context=/azure/virtual-machines/context/context

[2021-09-17 10:53] pvrk commented on #80205
@Klaas- Our CDN provider has confirmed that they have deleted the previous versions of the file. Can you please re-check?

[2021-09-17 11:06] DCtheGeek commented on #81207
@fleckert You are correct!  Thanks for pointing this issue out.  I'll get this page and all the related pages fixed for bash to escape that.  Thank you!

#assign:DCtheGeek
#label:"triaged"
#label:"doc-issue"
#label:"assigned-to-author"
#label:"in-progress"

[2021-09-17 11:26] fuglede commented on #81172
Thanks, sounds good. Do note that I [put an issue in Azure/acr as well](https://github.com/Azure/acr/issues/577) (wasn't sure what was a better fit), and feel free to close whichever one is less relevant.

[2021-09-17 11:33] MonikaReddy-MSFT commented on #81020
@xuegao12 -  Since we have not heard back from you we will now proceed to close this thread.
However if you can share additional information regarding the documentation you are referring and circle back on this thread , we will gladly reopen the issue and continue the discussion. Thank you.

[2021-09-17 11:33] #81020 closed

[2021-09-17 11:41] simonbrommers opened #81219 "No definition of ${installDir} in your script"
[Enter feedback here]

You mention in your script the variable installDir - this is not defined - im assuming it's something to so with where ipsec is installed / configured but I have no idea where this is (my OS is Ubuntu 20).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 69e3b74c-2e19-9963-bf78-2d0a01e6f906
* Versi

[2021-09-17 11:50] chaisen2006 commented on #81162
Ok, so we don't mention in explicitly,  - Got it...clear now.. thanks!

[2021-09-17 12:00] AnuragSingh-MSFT commented on #80944
Thank you [@ragazzojp](https://github.com/ragazzojp) for the feedback. We are working to check the feasibility and updating the doc as suggested. 
Regarding Debian 11, the "azure functions core tools package" is yet not available for it and the doc will be updated once it is published. 

 

[2021-09-17 12:10] RohitMungi-MSFT commented on #81217
@fat4tony I had to remove sensitive information from the issue since posting access keys on public forum is not advisable as they will be subject for misuse.

With respect to the issue are you able to use the new keys successfully now? The keys do not expire unless they have been regenerated by the user either programmatically or through azure portal. Your script looked fine to me unless the 'to'

[2021-09-17 12:20] AnuragSharma-MSFT commented on #81211
@stoicalpirate Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-09-17 12:25] damochiz opened #81220 "missing of Microsoft.MachineLearningServices/Workspaces/listNotebookAccessToken/read"
[Enter feedback here]
https://docs.microsoft.com/en-us/azure/machine-learning/how-to-assign-roles#common-scenarios
![image](https://user-images.githubusercontent.com/52324401/133782016-3a484113-f837-4b51-8cf9-90c7d63b6377.png)

In practice, it also needed permission to:
Microsoft.MachineLearningServices/Workspaces/listNotebookAccessToken/read

---
#### Document Details

⚠ *Do not edit this section

[2021-09-17 12:29] huamichaelchen commented on #78992
The problem is App Services Doc states https://docs.microsoft.com/en-us/azure/app-service/configure-custom-container?pivots=container-linux#configure-port-number

[code]

which implies that `WEBSITES_PORT` will change the host port. But as a matter of fact, it changes the container port and the host port is generated randomly. See logs below. Making things worse... `PORT` can do the same thing too

[2021-09-17 12:34] jwefers opened #81221 "Synapse CD documentation uses outdated Release pipelines"
Please rewrite the Section for CD from Azure DevOps to use yaml pipelines

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af243968-2f9f-b131-9b28-0b62a908fc33
* Version Independent ID: b71aa942-10b5-3d9e-c95d-58133dda7c9c
* Content: [Continuous integration and delivery for Synapse workspace - Azure Synapse Analytics](ht

[2021-09-17 12:45] AnuragSharma-MSFT commented on #81081
@takekazuomi Thanks for reporting this. We have created a PR. This PR could take few days to get approved and will then be live in this document.
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-09-17 12:45] shashishailaj commented on #81209
@jikuja Thank you for your query . We will investigate and update the thread.

[2021-09-17 12:47] sgalles opened #81222 "FUNCTIONS_WORKER_PROCESS_COUNT for Java ?"
Hello, in section FUNCTIONS_WORKER_PROCESS_COUNT there's this statement  :
_This setting applies to all non-.NET languages_
does it really apply to Java too ?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18aa54fd-3aa1-37c5-925c-51a0195b1030
* Version Independent ID: 60198016-1ea9-e7ae-b00b-2c665d5ad8ca
* Cont

[2021-09-17 12:54] shashishailaj commented on #81212
@mrigby-cloud Thank you for your query . We will investigate and update the thread.

[2021-09-17 12:55] mirojurisic commented on #40089
this is still happening :(

[2021-09-17 13:01] robert4os commented on #81100
With the help of support I realized that storage accounts that are linked (via KEY) work, but others (via SP or MSI) do not!

Either
- the tutorial mentions that ONLY linked storage (via KEY) is supported (for spark 2)
AND for spark 3 it mentions the different parameters needed (i.e.  'adls_account_name' from 'account_name')
- Or preferably all permutations of spark2/3 and linked via KEY/SP/MSI ge

[2021-09-17 13:06] Klaas- commented on #80205
I have not seen any version switches in the last 21 days, so yes looks good now :)

[2021-09-17 13:07] nicenoam opened #81225 "Screen grab is not correct"
The screen grab of where the purge button is located is not correct. It's on the Front Door Designer tab now.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91ae4d86-3843-4e48-c1ce-625ee1fb0971
* Version Independent ID: 4e736e00-6d2d-70b4-5add-36a539853c1c
* Content: [Cache purging in Azure Front Door Standard/Premium

[2021-09-17 13:12] shashishailaj commented on #81216
@peg-leg Thank you for your query. Since you have Microsoft business basic account , I think you would be using **https://admin.microsoft.com** portal for administering your account. You can get the option for Azure Multi-Factor Auth Connector on the Azure AD Portal by logging on using **https://aad.portal.azure.com/ > Azure Active directory home > Enterprise Applications** . As you mentioned that

[2021-09-17 13:18] markjbrown commented on #81120
Sure. If removing words clarifies, especially on these docs, then by all means. I'll sign off on it.

Thanks!

[2021-09-17 13:20] SrijitBose-MSFT commented on #80803
@mcavallo-work , since we haven't heard back from you in quite a while we shall close this thread for now. If you have any follow up questions please do comment here and I'll be glad to continue working with you on this.

#please-close

[2021-09-17 13:20] #80803 closed

[2021-09-17 13:20] SrijitBose-MSFT commented on #80477
@davihern , do you have further queries on this?

[2021-09-17 13:21] SrijitBose-MSFT commented on #81008
@jeganlingam do you have further queries on this?

[2021-09-17 13:23] AK4ST commented on #60553
Try this (Powershell):
[code]

[2021-09-17 13:29] GitaraniSharma-MSFT commented on #81225
@nicenoam , thank you for your feedback. We'll review this and get back to you shortly!

[2021-09-17 13:35] jeremiedeveloper commented on #80787
Hello @ram-msft

My main concern is about the Internal Load Balancer creation with Terraform.
I just want to be sure that this could be done using Terraform.

Thanks for your help !

[2021-09-17 13:43] davihern commented on #80477
Hello Srijit,

With your explanation everything is clear. Sorry I was confused...

Thanks,
David
________________________________
From: Srijit Bose ***@***.***>
Sent: Friday, September 17, 2021 3:21 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: David Hernández Díez (HE | HIM) ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Misleading information: CSI driver seems that

[2021-09-17 13:46] fat4tony commented on #81217
![image](https://user-images.githubusercontent.com/90904824/133792539-fd4743d3-0aa1-42b9-bd77-819bd4861d02.png)
Thanks for removing the sensitive info for me. Unfortunately it still doesn't work. The error is: {
    "error": {
        "code": 401000,
        "message": "The request is not authorized because credentials are missing or invalid."
    }
}

Maybe I post the code here and remove only th

[2021-09-17 13:48] abandyop opened #81227 "https://github.com/MicrosoftDocs/azure-docs/files/7186122/Re.Potential.issue.with.Managed.Scanning.PowerShe_438746692.eml"
[Re Potential issue with Managed Scanning PowerShe_438746692.eml.zip](https://github.com/MicrosoftDocs/azure-docs/files/7186122/Re.Potential.issue.with.Managed.Scanning.PowerShe_438746692.eml.zip)

As per attached email thread, there seems to be a bug in the powershell in this tutorial, rename the attachment and remove zip extension to open it.

---
#### Document Details

⚠ *Do not edit this secti