[2019-02-07 04:32] StefanSchoof opened #24443 "Please Clearify supported arm version"
Writes that arm32 on raspian is supported. This would includes the armv6 on the rpi1 and rpi zero. The Title of [Install Azure IoT Edge runtime on Linux (ARM32v7/armhf)](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge-linux-arm) (and only the title with not further explanation) mentions only armv7.

Is there support for raspian with armv6?
[Enter feedback here]

---
#### Do

[2019-02-07 04:32] blitzprecision commented on #24319
Just tried increasing RAM to 8GB. It still gives me the same error with runUntil=4.

[2019-02-07 04:33] BryanTrach-MSFT commented on #23968
@imeya I was unable to locate the ability to do this through PowerShell but I know you can achieve it through an [ARM template](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-authoring-templates). Is this something you could consider?

Below is the default values.

"virtualApplications": [
      {
        "virtualPath": "/",
        "physicalPath": "site\\wwwroot",

[2019-02-07 04:33] #23968 closed

[2019-02-07 04:38] naznaaa opened #24444 "esp32 azure direct method sample"
Hi,
can you please help with a sample code to connect device(esp32) with azure iothub using direct method in espidf.

thanks

[2019-02-07 04:48] CHEEKATLAPRADEEP-MSFT commented on #24189
@guy1699 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-07 04:48] #24189 closed

[2019-02-07 04:50] CHEEKATLAPRADEEP-MSFT commented on #21898
@linda33wj Is there any update on the issue?

[2019-02-07 04:50] CHEEKATLAPRADEEP-MSFT commented on #21653
@douglaslMS Is there any update on the issue?

[2019-02-07 04:56] jeffhollan commented on #21212
Can we re-open this until we get the screenshot updated in the docs? Had this come up separately as well. @ggailey777 as FYI to help track and triage from your side (and let me know if keeping closed is fine as long as we track and fix from our side too).

[2019-02-07 04:58] v-maroge commented on #8812
Hi, adding comment since we had a same problem. We've already tried adding all the outgoing IPs to the storage account firewall. I wanted to make sure that by adding IP ranges of Azure datacenter would solve the problem.

[2019-02-07 04:59] AshokPeddakotla-MSFT commented on #24430
@KingdomOfEnds Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-07 05:02] AshokPeddakotla-MSFT commented on #24431
@inesk-vt Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-02-07 05:08] KalyanChanumolu-MSFT commented on #24440
Thank you for the detailed feedback. This is being assigned to the content author to evaluate and update as appropriate.

@vainolo Could you please look into the feedback and update link to the below highlighted URL as appropriate.

![image](https://user-images.githubusercontent.com/8835012/52391621-18d3c880-2ac4-11e9-80a6-601bf7b30d58.png)

[2019-02-07 05:11] shashishailaj commented on #24444
@naznaaa Thank you for your query . We will investigate and update this thread further.

[2019-02-07 05:13] angoyal-msft commented on #23359
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-07 05:13] #23359 closed

[2019-02-07 05:14] SumanthMarigowda-MSFT commented on #24144
@zakramer We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-07 05:14] #24144 closed

[2019-02-07 05:16] SumanthMarigowda-MSFT commented on #24417
@adewaleo Ubuntu 18.04 is not supported yet,  If you wish you may leave your [feedback ](https://feedback.azure.com/forums/216840-security-and-compliance/suggestions/35185228-when-will-ubuntu-18-04-lts-be-supported-for-disk-e)here All the feedback you share in these forums will be monitored and reviewed by the Microsoft engineering teams responsible for building Azure.

We will now proceed to clos

[2019-02-07 05:16] #24417 closed

[2019-02-07 05:18] KalyanChanumolu-MSFT commented on #24437
Thank you for the detailed feedback. This is being assigned to the content author to evaluate and update as appropriate.

@CarlRabeler Could you please look into the feedback and update the document as appropriate.

[2019-02-07 05:24] Grace-MacJones-MSFT commented on #23527
@sandeshmanoharV2 thanks for your patience. The sprite Tip plug-in for AMP (Azure Media Player) works with an AMS asset that has dynamic AES encryption enabled as long as the asset does not also have static storage encryption (v2) enabled. So generally, you should be able to generate a thumbnail sprite for AMP even if the asset is AES encrypted.

We will now proceed to close this thread. If there

[2019-02-07 05:24] #23527 closed

[2019-02-07 05:30] KalyanChanumolu-MSFT commented on #24436
Thank you for the detailed feedback. This is being assigned to the content author to evaluate and update as appropriate.

@SnehaGunda Please look into the feedback and update the content as appropriate.

[2019-02-07 05:39] AjayKumar-MSFT commented on #24313
@rccnw, Thank you for sharing more details on the query, @ggailey777, Is having a looking this issue further.

[2019-02-07 05:58] SadiqhAhmed-MSFT commented on #24423
@alvipeo Thanks for the question! We are investigating this issue and will get back to you soon.

[2019-02-07 06:05] shashishailaj commented on #23961
@antsok I have checked internally and at this point we do not give required permissions to register your NPS server in Azure ADDS . At this point this requested feature is currently under review by the Product Group . Please vote for the [feature here](https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/34781713-support-nps-radius-for-azure-ad-domain-services) on azure Feed

[2019-02-07 06:05] #23961 closed

[2019-02-07 06:08] SumanthMarigowda-MSFT commented on #24343
@imeya Have you got any chance to look into to this [article](https://gauravmantri.com/2015/10/12/azure-storage-shared-access-signature-enhancements/).  IP Address/Range Restriction

[2019-02-07 06:09] reynorbert commented on #16848
Hi Team,

I have followed all the instructions that are stated. After I login with my credentials it gives back an Unauthorized access error.

[2019-02-07 06:19] gokul2018 commented on #10101
Is there an update on the posted query? Does MS peering BGP routes remain static or does MS changes the BGP routes?

[2019-02-07 06:23] shashishailaj commented on #23421
@kogesaka Thank you for bringing this to our notice. What you have mentioned is correct . We have started an internal review process with Product group and will have this rectified. We will update the thread accordingly once I have an update from PG,

[2019-02-07 06:28] kazshi commented on #23641
@SnehaAgrawal-MSFT Thank you for the explanation. In this case, what value should we specify to the Naked Domain Host Name field?
![nakeddomainhostname](https://user-images.githubusercontent.com/37645753/52394154-3ec68200-2a5e-11e9-8af7-58c5beab3f60.png)

[2019-02-07 06:34] shashishailaj commented on #22027
@philliplyle Thank you for your response Phillip . We may need fiddler trace and some other data to troubleshoot this further in order to come to a conclusion as to what exactly is happening behind the scene . Please email us at azcommunity [at] microsoft [dot] com so that we can put you through the right channel for further work on the same.

[2019-02-07 06:36] shashishailaj commented on #23916
@way2arun We will now proceed to close this issue. In case you have any further queries , feel free to open an issue again and we will help you with the same.

[2019-02-07 06:36] #23916 closed

[2019-02-07 06:37] kogesaka commented on #24322
@AjayKumar-MSFT, Thank you for contact.
I checked today, the phenomenon avoided. And seems to be working normally, did anything change inside Azure?
When the phenomenon occurred, I put project file (.sln)  in Azure Repos repository root, but the site (site\repository) does not have any artifacts.

[2019-02-07 06:39] nageshajab commented on #24275
After selecting user name I do not get Permissions anywhere.

[2019-02-07 06:41] agilmore30 opened #24456 "ALTER ROLE _roleName_ ADD MEMBER _userName_; is not supported in Azure Data Warehouse"
The syntax "ALTER ROLE _roleName_ ADD MEMBER _userName_;" for adding a user to a role in Azure SQL Data Warehouse is not supported. Instead you need to use EXEC sp_addrolemember '_roleName_', '_userName_';

Please update the document to reflect this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 429955f9-093b-70bd-946

[2019-02-07 06:44] angoyal-msft commented on #23885
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-07 06:44] #23885 closed

[2019-02-07 06:45] kogesaka commented on #23421
@shashishailaj, Thank you for comment!
I'm looking forward to being updated.

[2019-02-07 06:59] Anmolgan81 commented on #23809
@Mike-Ubezzi-MSFT I was confused, I though that those instructions are for Azure SQL Database and not SQL Managed Instance, the document should be accurate I suppose.

[2019-02-07 07:13] AshokPeddakotla-MSFT commented on #24270
@ddobric As mentioned, if you have a scenario please email to Reza.
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-07 07:13] #24270 closed

[2019-02-07 07:14] ashunam commented on #22164
The redirect URL contains the authorization code. Anyone who has access to this and client id can request access tokens in this flow?

[2019-02-07 07:30] SumanthMarigowda-MSFT commented on #24334
@imeya  Can you share the Screen shot of the error message?

It may be your container is not private. There are 3 types of permissions for a container: public,blob,private. We could get more info from Set Container ACL.

The permissions indicate whether blobs in a container may be accessed publicly. Beginning with the 2009-09-19 version, the container permissions provide the following options for

[2019-02-07 07:37] AshokPeddakotla-MSFT commented on #21488
Unable to reach out to @douglaslMS
@craigg-msft Please check this issue and provide your insights.

[2019-02-07 07:38] Mcclellange commented on #15954
I don't think the document covers conditional access mfa and enabling password less sign-in. I'm able to get it to work by enabling MFA for the user in the MFA portal but not though using conditional access. Is this actually possible, if so, how?

[2019-02-07 07:41] Mcclellange opened #24457 "Enable Password-less phone sign-in with the Microsoft Authenticator app using conditional access undocumented"
I don't think the document covers conditional access mfa and enabling password less sign-in. I'm able to get it to work by enabling MFA for the user in the MFA portal but not though using conditional access. Is this actually possible, if so, how?

https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-authentication-phone-sign-in

---
#### Document Details

⚠ *Do not edit thi

[2019-02-07 07:43] SadiqhAhmed-MSFT commented on #24354
@VireshMathapati13 32 disks support is targeted for March end. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-07 07:43] #24354 closed

[2019-02-07 07:47] mmjensen commented on #24349
@AshokPeddakotla-MSFT Thank you for getting back. I don't think my first questions was the right one, and I can see that the receivers (https://github.com/Azure/azure-event-hubs-python) are supposed to check both/all partitions.

My question is now: Is it possible to control the data export to the event hubs from the IoT Central. I am controlling a lot of IoT devices in the central for different p

[2019-02-07 07:47] berhauz commented on #24356
Thank you Mike for moving it to a "product issue". Either the doc and API must be changed to accept a byte[] as argument for SASkey and no longer a String (not suitable for handling random bytes in java, unlike C++), either we provide the comfort to API users of passing the undecoded base64 key/token to the API, and then the doc is right, but the product must be fixed. I think now that the receivi

[2019-02-07 07:53] gmanvel commented on #24360
Thank you. I see those advanced options now that I change frequency to Week. Although those advanced options are _parameters_ & one should look into parameters list to find them contrary to screenshot where they appear on the designer with _Hide advanced options_ button link.
Would you consider to change the screenshot (I still believe it is misleading) or should I close this issue ?

[2019-02-07 07:55] georgschmidtdumont commented on #13195
Have there been any updates regarding this? @Adam-Smith-MSFT

We have come across the same question. I had a look at the generated automation script after configuring the diagnostic logs manually, hoping that I can use this as a reference on how to solve this, and found that these settings are not included in the script. In fact none of the diagnostic log settings for our resources are included in

[2019-02-07 07:58] pvyver opened #24458 "AcquireToken deprecated?"
When getting the token for the header, the "AcquireToken" method seems to be deprecated.
Instead, you can use the "AcquireTokenAsync" method:

Old
"
$AuthContext = [Microsoft.IdentityModel.Clients.ActiveDirectory.AuthenticationContext]$authUrl
$cred = New-Object -TypeName Microsoft.IdentityModel.Clients.ActiveDirectory.ClientCredential -ArgumentList ($clientId, $secureStringPassword)
$result = $Au

[2019-02-07 08:07] wmengmsft commented on #24344
@Baffour, Thanks for the feedback. Currently our [GitHub Sample](https://github.com/Azure-Samples/storage-table-dotnet-getting-started/tree/master/TableStorage) uses `Microsoft.WindowsAzure.ConfigurationManager`, hence the documentation needs to match what is published in the sample.

I agree the Sample is outdated. After reviewing it, I believe the dependency on `Microsoft.WindowsAzure.Configurat

[2019-02-07 08:07] #19868 closed

[2019-02-07 08:11] agilmore30 commented on #24028
Hi All. I am also experiencing this issue with a different query. I've attached the query in a file, as its big, and also the schema of a few tables from the database that the query uses.

[Schema.txt](https://github.com/MicrosoftDocs/azure-docs/files/2839833/Schema.txt)
[StoredProc.txt](https://github.com/MicrosoftDocs/azure-docs/files/2839840/StoredProc.txt)

The error is:

Cause: 111208;An inte

[2019-02-07 08:15] Anmolgan81 commented on #23779
@Mike-Ubezzi-MSFT I think the document should be made clear with Azure Managed Instance and Azure SQL Database, as both are different functionalities.

[2019-02-07 08:19] Bogdan-Catalin commented on #24348
@Adam-Smith-MSFT I think the `digital-twins/svc` label would be better suited here.

[2019-02-07 08:22] lesterw1 opened #24459 "Retrieve definitions programmatically?"
Is there a way to retrieve these definitions programmatically (similar to what Get-AzRoleDefinition returns at the subscription level)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0767aac4-fcd9-eaac-2c30-8f17d8eadd92
* Version Independent ID: a380a828-03f9-e037-3a62-e4165fda7cb6
* Content: [Administrator role descri

[2019-02-07 08:25] SubhashVasarapu-MSFT commented on #24178
@isshukla I have successfully reproduced the NSG flow logs with power BI after removing 'neh' from the source code block.Now we will assign this issue to content author for making necessary changes in the template.

[2019-02-07 08:28] SubhashVasarapu-MSFT commented on #24178
@mattreatMSFT Can you please update the document with above mentioned changes. Thanks in advance.

[2019-02-07 08:40] agilmore30 commented on #24028
I removed the transaction from the code, and the error changed. I now get 'The conversion of a varchar data type to a datetime data type resulted in an out-of-range value." which is a problem with my query. The question is, is the first error a problem with how the transaction handling, or how the error is reported.

[2019-02-07 08:50] ChiragMishra-MSFT commented on #24364
@su-jie Can you please take a look at this?

[2019-02-07 08:55] agilmore30 commented on #24028
I have fixed the error in the INSERT statement of my query, and reinstated the transaction. This stored proc ran all the way through. So the "Distributed transaction completed. Either enlist this session in a new transaction or the NULL transaction...." error occurs at the point an SQL statement returns an error. In my query it doesn't make it to the CATCH block. I don't see the output from:

PRIN

[2019-02-07 08:59] AshokPeddakotla-MSFT commented on #24444
@naznaaa Please have a look at this repo: https://github.com/espressif/esp-azure and let us know if you need further help.

[2019-02-07 09:01] KetanChawda-MSFT commented on #24179
@miqm Thank for providing the details. I have assigned this to content author to review and provide an update as appropriate.

[2019-02-07 09:03] KetanChawda-MSFT commented on #23541
@JozoSlejko I have assigned this to content author to review and provide an update as appropriate.

[2019-02-07 09:06] KetanChawda-MSFT commented on #24132
@kazshi I have assigned this to content author to review and provide an update as appropriate.

[2019-02-07 09:06] kazshi opened #24460 "How to decrease the minimum throughput"
If the current minimum throughput is 30000 in the Unlimited storage capacity. Would be the minimum throughput decreased automatically if volume of data (actual throughput) is decreased? How can we decrease the current minimum throughput (20000 for example) in case of we know volume of data (actual throughput) is decreased. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2019-02-07 09:09] gowrishcode commented on #11037
Backtick is missing in ImageReferenceVersion in PowerShell.

-ImageReferenceVersion latest (`)
-OsDiskCreateOption FromImage

[2019-02-07 09:14] jakaruna-MSFT commented on #24272
@cynthn @zr-msft I am unable to find the author in github.
Please take a look at this issue.

[2019-02-07 09:15] wmengmsft commented on #24355
@iamkarlson, I am really sorry for the frustration you had with this. We recently published a new Table SDK for .NET Standard / .NET Core [here](https://www.nuget.org/packages/Microsoft.Azure.Cosmos.Table). We are working on beefing up the documentation for it. In the interim, we have a [sample](https://github.com/Azure-Samples/azure-cosmos-table-dotnet-core-getting-started) on GitHub that I hope

[2019-02-07 09:16] iamkarlson commented on #24355
Hey @wmengmsft thanks but I would rather try something from AWS

[2019-02-07 09:16] shashishailaj commented on #24419
@AggieCMD you would need to specify the issuerSigningKey as well in the parameters which would need to be compared against the details obtained from the token. Ideally we obtain the JWT token and the OpenID discovery document . The details in the token needs to be validated against the details from the [OpenID Discovery Document](https://login.microsoftonline.com/common/.well-known/openid-configur

[2019-02-07 09:18] naznaaa commented on #24444
Hi,
I am referring to direct method, here no response is send to iothub after receiving messages from iothub.
can you please check and let me know.

thanks

[2019-02-07 09:20] KrishnaG-MSFT commented on #24285
@rayne-wiselman any insights or news on this please ?

[2019-02-07 09:26] idohalevi commented on #24272
@jakaruna-MSFT
I found my solution [here](https://www.linkedin.com/pulse/how-send-syslog-messages-from-azure-linux-vms-eventhub-adrian-corona/). But still, this page is badly documented, it's linked to so many other pages and many of the steps are not clear (like the sasURL). Sorry if I'm harsh but I'm spending too much time on stuff that should be trivial, hope you understand

[2019-02-07 09:31] neeleshray commented on #24300
@curtand
Curtis, could this be appended to the document ?

[2019-02-07 09:31] #23262 closed

[2019-02-07 09:31] #22476 closed

[2019-02-07 09:33] #21117 closed

[2019-02-07 09:33] neeleshray commented on #24302
@altwohill
Could you elaborate more on what you are doing ? Also, could you post a screenshot of the error message you get ?

[2019-02-07 09:34] #24306 closed

[2019-02-07 09:35] KetanChawda-MSFT commented on #24306
The referenced PR will update the document once merged. Thank for the catch. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-07 09:38] #24265 closed

[2019-02-07 09:43] OffColour commented on #24184
I've found the source of the problem.
If the host name of any Listener is greater than 46 characters, the Backend Health blade stops working and reports "Unable to retrieve health status data" for all Probes.

[2019-02-07 09:46] AjayKumar-MSFT commented on #24439
@bubbletroubles, Thanks for the question! We are investigating and will update you shortly.

[2019-02-07 09:47] CHEEKATLAPRADEEP-MSFT commented on #24456
@agilmore30 Thank you for the detailed feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2019-02-07 09:50] jakaruna-MSFT commented on #24275
Yes.  That's not working.
After selecting your username, Select "Azure resources".
Then you can select the subscription. It will list the assigned roles.  Select a role and then the vault resource. If its not showing vault resource, scroll down and select load more.

Try this out and let me know.

[2019-02-07 09:51] CHEEKATLAPRADEEP-MSFT commented on #24460
@kazshi Thank you for your interest in Azure products and services. We are investigating and will get back to you soon.

[2019-02-07 09:54] KrishnaG-MSFT commented on #24350
@NisreenJ I have successfully reproduced and tested all the steps provided in the article and didn't see any issue as such. The error provided by you states that the format of the JSON is invalid. So please double check and correct the JSON format that you are using.

[2019-02-07 10:03] RohitMungi-MSFT commented on #24319
@blitzprecision the service logs attached indicates the timeout is set to 3600000 ms. You can check the container logs from the portal.

Please navigate to the resource group you are using and click the container instances resources. Now navigate to Settings => Containers => <Select the svc container used> => Logs.

Refresh the log after the API call and it should log more information to understan

[2019-02-07 10:04] AshokPeddakotla-MSFT commented on #24443
@StefanSchoof Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-07 10:05] neeleshray commented on #24420
@Josh-Ramirez
For Audio Conferencing, your organization will need to buy and assign an Audio Conferencing license to each user who will be setting up dial-in meetings. For Calling Plans, each user will need a Phone System plus a Domestic or Domestic and International Calling Plan. To learn more, see [Skype for Business and Microsoft Teams add-on licensing](https://docs.microsoft.com/SkypeForBusine

[2019-02-07 10:10] BhargaviAnnadevara-MSFT commented on #24175
@imeya Thanks for the response. Can you check if you're able to see data in the Blob container?

Within the Storage container, there should be a folder named **Messages**, wherein the Trace messages would appear.

[2019-02-07 10:12] ath3rs commented on #24420
Hi, apologies for jumping on this issue, but I'm experiencing the same. Will Audio Conferencing allow you to assign the license to an Azure AD Security group? I am too receiving the error that Teams needs to be enabled as a prerequisite.

[2019-02-07 10:24] colinrippeyfinarne opened #24462 "The Workspace portal uses websockets - can you add a failback if websockets are not available?"
I am seeing more and more use of websockets on various Azure services (with the azure cloud shell being the classic example).

But in my experience as someone who is sitting in customer sites, and those customers have various proxy/web gateway/man in the middle services that just do not offer enough websocket functionality for the security teams to approve.

For example, a recent client had a McAf

[2019-02-07 10:35] djpirra commented on #22784
I have exactly the same question. After logout if we run a vulnerability scan it still detects that cookies are not being removed.

[2019-02-07 10:37] OMARI1988 opened #24463 "PostgreSQL database in UK, Gen4 hardware not supported."
When trying to create a postgres server in UK south region I get an error about hardware.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 791bd216-532f-7f28-fa51-d95798397310
* Version Independent ID: 4f7ff676-e4a5-cc41-6a43-ecb8fa1095fb
* Content: [Build a Python app with PostgreSQL on Linux - Azure App Service

[2019-02-07 10:40] SumanthMarigowda-MSFT commented on #24462
@colinrippeyfinarne Thanks for your question. We are checking on this and will respond to you soon.

[2019-02-07 11:07] RationalAnarchist opened #24464 "Connection string doesn't seem to be available through the portal any longer"
I have all headings visible in the diagram shown except connection strings, with the addition of Pricing Tier, Throughput Units and Auto-inflate throughput units - no indication of where to find connection strings.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c25273e-d486-f45e-347b-e0e47bdac7da
* Version Independent

[2019-02-07 11:09] RationalAnarchist commented on #24464
Connection strings can still be found by going directly to the Shared Access policies section - but this should probably be made clear.

[2019-02-07 11:15] ravikiran-srini commented on #23769
This is the error message.

 "OperationErrorMessages": "2/7/2019 11:14:28 AM +00:00 : Failed to configure an overridden property that has the following path: \\Package.dtsx\\MaxConcurrentExecutables. Exception from HRESULT: 0xC0012049\n",

The JSON looks exactly similar to the one in the example

                    "propertyOverrides": {
                        "\\Package.dtsx\\MaxConcurrentExecu

[2019-02-07 11:16] apollak opened #24465 "Deployment step fails in Azure CLI"
The command to deploy the application (linux-version) fails after around 10 minutes with this error (Maybe the json template is not up to date?):

Deployment failed. Correlation ID: d564e228-9d48-417b-b5bc-ef6cc5cfcd3e.
´´´json
{
  "status": "Failed",
  "error": {
    "code": "ResourceDeploymentFailure",
    "message": "The resource operation completed with terminal provisioning state 'Failed'.",

[2019-02-07 11:20] gbasagiannis commented on #24322
Today seems to work ok. We are using CI with Kudu Build the last 2 years with many many successful builds. Nothng changed in our configuration yesterday. So I suppose it was a temporary problem of Azure.

[2019-02-07 11:26] blitzprecision commented on #24319
Thanks Rohit. Here are the logs. They clearly show that the service times out after 1 minute or so.
Not sure why this timeout.

2019/02/07 11:13:05 Setting up HTTP server with sslEnabled: false
2019/02/07 11:13:05 Routing to:  http://localhost:5001
2019/02/07 11:13:05 Authorization is disabled, continuing with no authorization keys.
2019/02/07 11:13:05 Setting up AppInsights logging.
2019/02/07 11

[2019-02-07 11:28] YASWANTHM-MSFT commented on #24363
@basseldamra , Thanks for bringing this to our attention. I reproduced the issue at my end with disabling TLS in on-premise server to sign in and got the same error. Before registering the server we need to enable TLS on the server, so that one can successfully sign in and register the server.

I will assign this to author and your feedback has been shared with the content owner for further review

[2019-02-07 11:30] rohancragg opened #24466 "Should also mention Azure AD Role 'Application Administrator'"
Under section #required-permissions - where it says:

"If your account is assigned to the User role, but the app registration setting is limited to admin users, ask your administrator to either assign you to the global administrator role, or to enable users to register apps."

Surely it should also mention the Azure AD Role 'Application Developer' - someone granted this role will also be able to c

[2019-02-07 11:33] YASWANTHM-MSFT commented on #24363
@basseldamra , I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-02-07 11:34] wobeng opened #24468 "On Azure Service Bus bindings for Azure Functions, Is there a trigger example for python? Or it's not supported?"
On [Azure Service Bus bindings for Azure Functions](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-service-bus#trigger---example)

Is there a trigger example for python? Or it's not supported?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0440205f-adcc-0fc5-3adb-db4dbe1d1292
* Version Indepe

[2019-02-07 11:35] RationalAnarchist opened #24469 "Additional NuGet package required"
Microsoft.ServiceBus is not recognised without also installing Microsoft.Azure.WebJobs.ServiceBus

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d72268d-2235-7fb1-3bdc-2bab4f589123
* Version Independent ID: b01de562-b11b-02a2-31a5-3deb5a490fb7
* Content: [Send events using the .NET Framework - Azure Event Hubs](https:

[2019-02-07 11:49] SubhashVasarapu-MSFT commented on #24184
@OffColour Glad that you have found the solution for this issue and thanks for sharing the solution that worked for you. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-07 12:03] spsguru commented on #19426
This kind of behavior is still occurring, so it was the guest's organization that corrected the sync issue, thereby allowing the invitations to be accepted.  What I have been able to understand is that the invitation acceptance process essentially does the following:
 1. Checks the guest's domain to see if it is associated with an Azure tenant:
        A. If yes, domain is identified as being  fed

[2019-02-07 12:06] SnehaAgrawal-MSFT commented on #23641
@kazshi It looks like you are creating (purchasing) App Service certificate.
 If you don’t get custom domain name there is no need of creating(purchasing) App Service certificate
 because your web app is already secured in Azure.
Only custom domain name which you have can be secured using App Service certificate. 

[2019-02-07 12:11] AjayKumar-MSFT commented on #24322
@kogesaka and @gbasagiannis, I presume your app(s) are provisioned in the Australia region, there was a transient issue which has been remedied. Do let us know if you need any further assistance with this specific issue.

[2019-02-07 12:15] neeleshray commented on #24459
@lesterw1
Try the PS cmdlet `Get-AzureADDirectoryRole`
Refer to Example 3 in this [document](https://docs.microsoft.com/en-us/powershell/module/azuread/get-azureaddirectoryrole?view=azureadps-2.0).

[2019-02-07 12:23] OffColour commented on #24184
I haven't found a solution, I've found a bug.

[2019-02-07 12:25] neeleshray commented on #24457
When you enable MFA from the MFA Portal, you require the user to pass through the complete Azure Platform - as in they would be asked to verify with MFA before they get access to anything.
While Conditional Access is for specific applications or functions. When the user tries to access the application, only then the user would be asked to verify with MFA.

In this document, it specifies one of the

[2019-02-07 12:27] ChiragMishra-MSFT commented on #24464
@RationalAnarchist Thanks for bringing this to our notice. We will review the issue and make changes as appropriate.

[2019-02-07 12:29] ChiragMishra-MSFT commented on #24469
@RationalAnarchist Thanks for bringing this to our notice. We will review the issue and make changes to the doc as appropriate.

[2019-02-07 12:30] neeleshray commented on #24434
@itguysocal
Could you post a screenshot of the 530032 Error from the Sign-In report ?
As for Unblocking the users, you can check this document on [How To: Unblock users](https://docs.microsoft.com/en-us/azure/active-directory/identity-protection/howto-unblock-user)

[2019-02-07 12:32] neeleshray commented on #24136
@derekschartung
Have you been able to resolve the issue ?
Or do you need further assistance from us ?

[2019-02-07 12:34] Contadmin opened #24470 "Can't connect from a functionapp after vnet integration"
Following scenario:

We have a function app that's hosted on an ASP that's integrated with a VNet (seems the VNet is online and connected) that is peered to a VNet where our managed instance is hosted.
The function app runs fine locally but is refusing to connect to the managed instance when used within Azure boundaries. To add weirdness, tcpping from the function app cmd console to the managed in

[2019-02-07 12:44] jakaruna-MSFT commented on #23503
@imeya I didnt find any sample code.
This [link ](https://github.com/Azure/azure-sdk-for-python/tree/master/azure-mgmt-resourcegraph) looks relevent.

[2019-02-07 12:45] #24342 closed

[2019-02-07 12:50] idohalevi opened #24471 "SharedCode"
If I use the structure you mention for sharing code the shared code is not present in the portal. Any reason for it? it will be great if I could see the shared code too...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7aff040c-9c09-c184-d0e7-fb3bbb80ceec
* Version Independent ID: 68d924e7-7b32-fb1b-44eb-efc116da63ab
*

[2019-02-07 12:52] neeleshray commented on #24466
@rohancragg
If the setiing "User can register applications" is set to NO, then having the role of Application Admin would not suffice. However, as per the Admin Roles document you have referred, with the role of "Application Developer" - user should be able to register the application.
We would have this checked and update as appropriate.

[2019-02-07 12:52] YASWANTHM-MSFT commented on #24359
@Xencon, did you tried using storage explorer to upload large files? Could you please provide more information to investigate further on this?

[2019-02-07 12:53] neeleshray commented on #24466
@CelesteDG
In the Admin Roles document it states for the role of Application Developer - _Users in this role can create application registrations when the "Users can register applications" setting is set to No._
Could this be verified and corrected in this document ?

[2019-02-07 12:58] jzoldak opened #24472 "Cannot run windows containers, the Node-selector on the created Windows virtual kubelet is linux"
Following the instructions, create both windows and linux virtual kubelets with: `az aks install-connector --resource-group myGroup --name myGroup --connector-name virtual-kubelet --os-type Both`
After the deployment, describe the windows pod. E.g.:
`kubectl describe pod virtual-kubelet-windows-&lt;the-rest-of-your-pod-name&gt;`
Look at the Node-Selectors. For me it shows `beta.kubernetes.io/os=li

[2019-02-07 13:01] lesterw1 commented on #24459
Thank you but that doesn’t return the role definition with the specific permissions (like what is shown in the documentation).

On 7 Feb 2019, at 12:15, NeeleshRay-MSFT <notifications@github.com<mailto:notifications@github.com>> wrote:

@lesterw1<https://github.com/lesterw1>
Try the PS cmdlet Get-AzureADDirectoryRole
Refer to Example 3 in this document<https://docs.microsoft.com/en-us/powershell/m

[2019-02-07 13:14] basseldamra commented on #24363
That's great, I think this should be fixed to not rely on TLS 1.0 anymore, but at least for now, the article should be modified to mention that TLS 1.0 have to be enabled.

[2019-02-07 13:29] kirantsp opened #24474 "Error while setting up Chef workstation on an Azure VM"
Hello Group,

I am trying to setup Chef workstation as mentioned in the article (on an Azure Windows 2016 VM):
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/chef-automation.
When i execute the 'knife azure image list' command as mentioned in the document, i am getting the attached error. Any inputs to resolve the issue would be of great help.

Thanking in Advance,
Kiran...

![ima

[2019-02-07 13:36] jjgriff93 commented on #24384
Hi @erhopf - I mean the RecognitionMode choices:
[code]

I can't seem to find any information on what conversation vs dictation vs interactive means? Thanks for your help.

[2019-02-07 13:47] Josh-Ramirez commented on #24420
@neeleshray We have already purchased Audio conferencing licenses. We have users who currently have an E3 (ENTERPRISEPACK) and have Audio Conferencing (MCOMEETADV) licensed directly to their accounts. We are trying to migrate to migrate these users to group based licensing, but are unable to due to this issue.

@ath3rs I haven't tried using an Azure only security group, but I expect the same resul

[2019-02-07 13:47] rohancragg commented on #24466
Hi @neeleshray - yes I agree, it was 'Application Developer' I had in mind when i suggested this change rather than 'Application Administrator': https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/directory-assign-admin-roles#application-developer

[2019-02-07 13:53] SamirFarhat opened #24475 "Client_ip (the IP address of the client making the request) Server Variable"
Quote
"Two important server variables, client_ip (the IP address of the client making the request) and cookie_name (the name cookie), are not supported yet."

Any idea why and when we can have support for this varibale ?
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aedb5a9b-70bd-506d-41c7-2ede4e12e116
* Versio

[2019-02-07 14:03] SubhashVasarapu-MSFT commented on #24184
@OffColour I have assigned the issue to the content author for further investigation.

[2019-02-07 14:13] jasonfare opened #24476 "NPS Extension?"
Could these charts include the capabilities of the NPS Extension documented here: https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfa-nps-extension

This would help those who don't require MFA Server deployed on premises when all they want to do is integrate their On Premises RADIUS Clients with Azure AD MFA.  Or maybe mention when the Azure AD MFA NPS extension should

[2019-02-07 14:37] gutjahr opened #24477 "Windows-integrated security - 'Negotiate:CloudAP' provider"
I would like to know if there are any specific requirements about the 'Authentication providers' for web apps on AD member web servers configured for Windows-integrated security. Specifically, if the Windows Authentication 'Negotiate:CloudAP' provider is required or if the default 'Negotiate' and 'NTLM' providers are sufficient.

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2019-02-07 14:44] shashishailaj commented on #24476
@jasonfare Thank you for feedback . We will have this reviewed and update the thread accordingly.

[2019-02-07 14:46] mrbullwinkle commented on #8812
Apologies for the delay in response, I'm pinging the engineering team now to confirm if they have any additional guidance regarding firewall config to support your scenario.

[2019-02-07 14:51] shashishailaj commented on #24477
@gutjahr Thank you for your query. We will investigate and update this thread further.

[2019-02-07 14:51] Potapy4 commented on #24469
@RationalAnarchist true, but it's installing by default with the `WindowsAzure.ServiceBus` package, isn't it?

[2019-02-07 15:04] lawrencegripper opened #24478 "Throttle limits"
Hi,

The doc mentions that there are Throttle limits but I can't find any information on what these limits are. Can these be shared in the doc?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 824e201e-3023-45c1-d14d-488e2584b9ef
* Version Independent ID: fa14046b-ceb4-1368-2766-39e70c2088c2
* Content: [Overview of Azure

[2019-02-07 15:08] DCtheGeek commented on #24478
@lawrencegripper As Resource Graph is currently in **public preview**, the limits are constantly being adjusted. Once the service reaches GA, I'll look to add more details around throttling. If you are looking to leverage the APIs frequently and at-scale, the best thing to do is contact the team.  I see you are internal, so I'll reach out directly.  Thanks!

@MicrosoftDocs/azure-cxp-triage Please

[2019-02-07 15:23] RohitMungi-MSFT commented on #24319
@blitzprecision The logs of the SVC container should provide some insight of the errors from the python scripts. The corresponding request id should have more details, For example an error seen for a request  i simulated to fail shows an incorrect padding of the data passed.

2019/02/07 12:01:38 RequestID: 6dfd19f9-3037-458a-8a08-76273cc851ce Returned Status Code: **502** Total request time: 11.16

[2019-02-07 15:26] georgewallace commented on #18350
@andrewatfornax Sorry for the delay in responding.. You can import any modules into your automation account directly from the [PowerShell Gallery](https://www.powershellgallery.com/packages/AzureRM.KeyVault/5.2.1) or in your Automation Account under **Modules**.  or the [New-AzureRmAutomationModule](https://docs.microsoft.com/en-us/powershell/module/azurerm.automation/new-azurermautomationmodule?v

[2019-02-07 15:47] SaurabhSharma-MSFT commented on #24064
@sylvaingirardbe We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.
@fschwehn I believe you are getting this error because you need a Microsoft office 365 account with subscription. If this is not the case I suggest you please open a new MSDN forum post with the details and community will help

[2019-02-07 15:47] #24064 closed

[2019-02-07 15:48] maecky opened #24480 "Delete file on premise after copy"
Please provide an example how to delete a file on premise after it has successfully been uploaded to a blob storage. Your article says: " Move data between data stores in public network and data stores in private network" - but what the article describes is how to COPY data, not MOVE.
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2019-02-07 15:53] jochenvanwylick opened #24481 "az: error: unrecognized arguments: --hierarchical-namespace true"
HI - I'm trying the code snippet provided for azure CLI and I get the following error message
[code]
I'm running az cli version `2.0.55` and storage version `2.3.0`.
I also tried using `az cli` inside the portal which is on `2.0.56` and at storage version `2.3.1`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25a53d29

[2019-02-07 15:54] AlexanderFergusonBI opened #24482 ""Coming Soon""
Any update to when this feature for SCDPM will be available?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce290c2c-d620-ed11-4315-1cff0089a32d
* Version Independent ID: 9b6172c0-de0b-825c-88c8-b1e65b54a4f7
* Content: [Update the Azure Backup central reporting content pack](https://docs.microsoft.com/en-us/azure/backu

[2019-02-07 16:02] Karishma-Tiwari-MSFT commented on #24465
Thanks for the question. We are currently investigating and will update you shortly.

[2019-02-07 16:10] AjayKumar-MSFT commented on #24478
@DCtheGeek, Thank you for the swift action!

[2019-02-07 16:10] #24478 closed

[2019-02-07 16:11] AskYous commented on #24218
Thanks it worked!

[2019-02-07 16:11] #24218 closed

[2019-02-07 16:14] pguelah commented on #23524
How can I pass a .egg file as part of the PythonScriptStep? I tried adding it to sys.path(see below) but this does not work on the pipeline ...

import sys
sys.path.append("./library.egg")

Thanks

[2019-02-07 16:18] mrbullwinkle commented on #24242
adding @MS-TimothyMothra for comment.

[2019-02-07 16:25] erhopf commented on #24384
@jjgriff93 - Thanks for following up. Let me look into this and get back to you with some information.

[2019-02-07 16:42] mrbullwinkle commented on #23187
@jawn for right now we are going to close this one out. When possible we try to consolidate the pricing information into a single authoritative location outside of the technical docs which for Azure Monitor/App Insights is: [https://azure.microsoft.com/en-us/pricing/details/monitor/](https://azure.microsoft.com/en-us/pricing/details/monitor/). If pricing changes it's easier to have to update as fe

[2019-02-07 16:44] mrbullwinkle commented on #23187
@MicrosoftDocs/azure-cxp-triage #please-close

[2019-02-07 16:44] mrbullwinkle commented on #23226
This change was completed last week.

[2019-02-07 16:45] mrbullwinkle commented on #23226
@MicrosoftDocs/azure-cxp-triage #please-close

[2019-02-07 16:45] #23226 closed

[2019-02-07 16:47] #23187 closed

[2019-02-07 16:51] cynthn commented on #24272
@abhijeetgaiha can you take a look at this document and update it? Thanks!

[2019-02-07 16:51] icelandgrecian opened #24487 "CreateDatabaseIfNotExistsAsync"
I´ve been using the latest version of Microsoft.Azure.DocumentDB.Core library and it seems this line mentioned in this document doesn´t work await this.client.CreateDatabaseIfNotExistsAsync("FamilyDB_oa");  CreateDatabaseIfNotExistsAsync seems to only accept an Database object, so something like await this client.CreateDatabaseIfNotExistsAsync(new Database{ Id = "FamilyDB_oa" });

---
#### Documen

[2019-02-07 17:03] Alberto-Vega-MSFT commented on #23929
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-07 17:03] #23929 closed

[2019-02-07 17:04] Mike-Ubezzi-MSFT commented on #24470
@Contadmin Thank you for the detailed inquiry regarding the issue you are facing. Can you clarify the ASP part of the equation? Is this a 3rd party service provider you are subscribing to the Function App through? Does this 3rd Party have any Managed Instance deployments integrated with other Azure application services? If not, I highly recommend that the following document is reviewed to understa

[2019-02-07 17:11] MicahMcKittrick-MSFT commented on #24403
@WiseMack we appreciate all this feedback.

As @cynthn mentioned we do have a work item open to update the docs to make it more clear where and how to run these commands. Many of the docs share the same first section so it is just a matter of updating the source and it will apply to many of the docs. This work takes a bit of time as it does span multiple docs but rest assured we are working on it.

[2019-02-07 17:11] #24403 closed

[2019-02-07 17:11] MicahMcKittrick-MSFT commented on #24405
Closing as commented in #24403

[2019-02-07 17:11] #24405 closed

[2019-02-07 17:12] CarlRabeler commented on #24437
PR pending to address this

[2019-02-07 17:14] #16896 closed

[2019-02-07 17:14] #19148 closed

[2019-02-07 17:14] #20897 closed

[2019-02-07 17:14] #20937 closed

[2019-02-07 17:15] #21116 closed

[2019-02-07 17:15] #21321 closed

[2019-02-07 17:15] #21632 closed

[2019-02-07 17:15] #22125 closed

[2019-02-07 17:15] #22126 closed

[2019-02-07 17:16] #22164 closed

[2019-02-07 17:16] smushtaq1 opened #24488 "Azure storage and Sharepoint"
Which of these storage types can you use with Sharepoint?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 312ba22f-685c-d17f-438f-9656f019012a
* Version Independent ID: a93993be-f687-16e1-ff5b-b526699c009f
* Content: [Introduction to Azure Storage - Cloud storage on Azure](https://docs.microsoft.com/en-us/azure/storage/

[2019-02-07 17:18] MicahMcKittrick-MSFT commented on #24331
@Joyw1 thanks for the update and closing out the issue.

[2019-02-07 17:20] MicahMcKittrick-MSFT commented on #24141
@harrchen88 we will close for now. If you still have an issue please open a new issue and share the doc you are having issues with.

[2019-02-07 17:20] #24141 closed

[2019-02-07 17:20] Infoseeker opened #24489 "Help ! - AttributeError: module 'azure.functions_worker' has no attribute 'start_async' error on >func host start"
I am following the below documentation to create the first Python Http trigger function.
https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-function-python

I get an error :- AttributeError: module 'azure.functions_worker' has no attribute 'start_async'. when trying to run func host start.  I am unable to proceed further

I have the below versions installed
Python 3.6, n

[2019-02-07 17:21] MicahMcKittrick-MSFT commented on #24009
@xsqian we will close for now. If you are still having issues please open a new issue and share the doc you are having troubles with.

[2019-02-07 17:21] #24009 closed

[2019-02-07 17:22] MicahMcKittrick-MSFT commented on #23862
@dslbdgit we will close for now. If you are still having issues please open a new issue and share the doc you are having issues with.

[2019-02-07 17:22] #23862 closed

[2019-02-07 17:25] MicahMcKittrick-MSFT commented on #23578
@aldvintumbelaka we will close for now. Please open a new issue if you are still having issues and share the doc you are having problems with.

[2019-02-07 17:25] #23578 closed

[2019-02-07 17:26] ToddChitt opened #24490 "Where is the PRICING information?"
Why is it so hard to find PRICES of these things? One would think that the "Pricing and Billing" section of the document would have actual PRICING, or at least LINKS to price sheets.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99e4ed29-a7ca-55fe-b867-cff017e0bba8
* Version Independent ID: 1a2f3279-8721-bf00-897f-2db

[2019-02-07 17:29] MicahMcKittrick-MSFT commented on #24489
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-07 17:30] inesk-vt commented on #24298
wow, ok that fixed things and the app is now successfully sending data from my RaspberriPi to the hub! Is this an issue with the tutorial documentation or the sample app? I am curious if/what/how updates to the doc or sample to make sure these steps work e2e the first time through.

Thanks a ton for your help!

[2019-02-07 17:30] MashaMSFT commented on #20734
Hi @langstonj , thanks for bringing this to our attention! I have added a note to the doc stating that you can, indeed, use Azure AD. That change should go live  later today. As such, we will proceed with closing out this Git Issue. However, please feel free to contact us should you need anything further. Thanks again! #please-close

[2019-02-07 17:32] SumanthMarigowda-MSFT commented on #24488
@smushtaq1 Thanks for your question. We are checking on this and will respond to you soon.

[2019-02-07 17:32] tulasim88 commented on #24412
(adding @diberry )
thanks for the feedback @derekforeman
As mentioned in this doc- this particular page is for v3, and it includes a link to v4, which is here:
https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-howto-qna

hope this helps.. let us know if you have any other feedback/questions/

[2019-02-07 17:33] aljo-microsoft commented on #24034
@MedAnd
API documentation is here for Reliable Collections:
https://docs.microsoft.com/dotnet/api/microsoft.servicefabric.data.collections?view=azure-dotnet

[2019-02-07 17:33] Anand-Moghe opened #24491 "Getting an error while importing content - Error detecting index schema from data source: """
I am following the sample example here and so far unable to make it work using Free or Basic plan.
I am simply following the steps as per example. I have selected region as "US West 2" and my Azure Search Service and Blob Storage container (part of standard V2 storage account) is also in the same region. When I click on "Import Data" button on the Azure Search overview page, I am getting following

[2019-02-07 17:34] MicahMcKittrick-MSFT commented on #24490
@ToddChitt you can find all the pricing on the Azure Pricing Calculator

https://azure.microsoft.com/en-us/pricing/calculator/

There are sections specifically for Storage. Have you tried that?

[2019-02-07 17:37] saifulcce commented on #21793
Can I use my own SSL Certificate except that one which is recommended in Azure site https://www.digicert.com/CACerts/BaltimoreCyberTrustRoot.crt.pem  ??

[2019-02-07 17:37] Infoseeker commented on #24489
Do i need to install additional modules - azure.functions_worker ? . Where can i find these modules ?

[2019-02-07 17:38] MicahMcKittrick-MSFT commented on #24474
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-07 17:39] aljo-microsoft commented on #24404
@Jungers42 @peterpogorski @dkkapur
Updated the following:

https://github.com/MicrosoftDocs/azure-docs-pr/pull/65600

@MicahMcKittrick-MSFT
#please-close

[2019-02-07 17:40] #24404 closed

[2019-02-07 17:41] cap273 opened #24492 "ASR Deployment Planner tool does not suggest Managed Disks of sizes P4 and P6"
The report generated by the ASR Deployment Planner tool does not take into account Premium SSD Managed Disks of SKU P4 and P6. Only SKU sizes P10 and above are suggested.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c69ab88d-6c40-e615-962d-db13f3b9755b
* Version Independent ID: 2ce1794a-0f8f-b500-b294-792ea4708737
*

[2019-02-07 17:41] justinhauer opened #24493 "Example does not run"
This example in it's current form doesn't run. It could be due to the current version of gremlinpython you have the pip requirement pegged to (3.2.7). Also, when you go to run connect.py, serializer.GraphSONSerializersV2d0() isn't present in 3.2.7, only serializer.GraphSONMessageSerializer() is if you check the site packages installed. With this fix though ^, the code still doesn't run once the in

[2019-02-07 17:42] MicahMcKittrick-MSFT commented on #24392
@way2arun I will close this for now. If you have further questions let me know and we can always reopen and continue.

[2019-02-07 17:42] #24392 closed

[2019-02-07 17:43] MicahMcKittrick-MSFT commented on #24422
@fpoe I will close for now. If you have further questions just let me know and we can always reopen and continue.

[2019-02-07 17:43] #24422 closed

[2019-02-07 17:43] justinhauer commented on #24493
meant to leave this on https://github.com/Azure-Samples/azure-cosmos-db-graph-python-getting-started/blob/master/connect.py, closing this issue.

[2019-02-07 17:43] #24493 closed

[2019-02-07 17:44] CarlRabeler commented on #23809
I am pushing a PR to add some clarity to this topic

From: Anmolgan81 <notifications@github.com>
Sent: Wednesday, February 6, 2019 11:00 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Carl Rabeler <Carl.Rabeler@microsoft.com>; Comment <comment@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Whenever I iniate the job at publisher the Log and SQL Agent Failed to star

[2019-02-07 17:47] paramrsingh opened #24494 "MainWindow.xaml.cs - TextAnalytics API URI for detection"
had a runtime issue with:
string uri = TEXT_ANALYTICS_API_ENDPOINT + "languages?numberOfLanguagesToDetect=1";

Using the above documented URI returns with an endpoint failure at runtime. When I removed the querystring parameter "?numberOfLanguagesToDetect=1" the build runs successfully and hits the detection endpoint.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2019-02-07 17:50] cap273 opened #24495 "Is the storage reported in Gibabytes (GB) or in Gibibytes (GiB)?"
Just wanted to make sure whether the ASR Deployment Planner tool reports disk sizes in GB or in GiB. This *seems* to indicate GB, but other Azure documentation is very explicit about using GiB for measuring storage (see https://azure.microsoft.com/en-us/pricing/details/managed-disks/)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2019-02-07 17:50] jzuchora87 commented on #23015
It's awesome to see there are cmlets out there to automate this. Is it possible to use a service connection instead of a PAT token for automating the process using PowerShell cmdlet? If so would we just pass the service principal password/key as the token? We really don't want to have all of our sync jobs tied to a personal account.

[2019-02-07 17:52] YutongTie-MSFT commented on #24116
@codescream Hi Mark, since this issue is not a document issue, I help you move it to our MSDN forum. Please refer to: https://social.msdn.microsoft.com/Forums/en-US/c1f42f1f-43fe-48e4-bf7e-05bf24cc9fb8/always-getting-bad-request-response?forum=AzureCognitiveService  Please keep eyes on it.

We will now proceed to close this thread. If there are further questions regarding this matter, please respo

[2019-02-07 17:52] #24116 closed

[2019-02-07 17:56] YutongTie-MSFT commented on #24181
@diberry Hi Dina, could you please help to check if we need to remove those dependencies or we will support it in the near future? Thank you.

[2019-02-07 17:58] diberry commented on #24181
@YutongTie-MSFT @cahann

Happy to help.

#in-progress

[2019-02-07 18:00] erhopf commented on #24494
@paramrsingh - Thanks for exposing this issue. We'll let you know as soon as the docs are updated.

[2019-02-07 18:02] MicahMcKittrick-MSFT commented on #24099
@imtiaza1977 I am going to close this out for now as there is no action required on the doc.

Please see my above comment for suggestions on your scenario.

In addition, if you are working to implement a workflow you can always reach out to our social platforms for community assistance such as MSDN and Stack Overflow.

[2019-02-07 18:02] #24099 closed

[2019-02-07 18:02] AjayKumar-MSFT commented on #24121
@StingyJack, how exactly are you executing the cmds? If you choose to install and use the CLI locally, you need Azure CLI version 2.0 or later. To find the version, run az --version. If you need to install or upgrade, see [Install the Azure CLI](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest). If you use the previous version of the CLI (Azure classic CLI), you c

[2019-02-07 18:04] ajlam commented on #21793
@saifulcce, thanks for your question. Using your own SSL certificate is not supported at the moment. Please use the [certificate ](https://www.digicert.com/CACerts/BaltimoreCyberTrustRoot.crt.pem) provided by the service.

[2019-02-07 18:07] Jungers42 commented on #24404
@aljo-microsoft @dkkapur @MicahMcKittrick-MSFT
My concern about the note which was on the page is that it said "In case a setting below ..." ... however there is only one setting listed on that page at all and it's just an example. I spent a while on the other page I linked looking at all of the settings and trying to figure out why I couldn't see them in Azure before clicking through and noticing

[2019-02-07 18:09] Mike-Ubezzi-MSFT commented on #24379
@bertrandpons We figured out a way to make this work with 2 continuous running Azure webjobs. I am going to have @KalyanChanumolu-MSFT reply directly to this issue to provide some guidance.

[2019-02-07 18:09] bertrandpons commented on #24379
@Mike-Ubezzi-MSFT I did a couple tests and none of them solve the problem for now:
- user-assigned identity only works for VM apparently
- I create an AD group to which I added the managed identities for the 2 web apps, then attached this AD group as sql server admin but it doesn’t work.

I am continuing investigating. Have you been able to find something ?

Thanks !

[2019-02-07 18:11] YutongTie-MSFT commented on #24195
@KasamShaikh Hi, I have checked every link in this page, are you talking about the "Microsoft Account" link?

@slivkins Hi Alex, I think "Register a new app" is very confused. Customer need to go to Microsoft Account first and then to portal. I can not find a very easy way to go portal in Microsoft account. How about change the link to the Custom Decision Service directly? Could you please review

[2019-02-07 18:14] bertrandpons commented on #24379
@Mike-Ubezzi-MSFT great news! We wrote our comment at the same time. Look forward to see the process

[2019-02-07 18:20] adewaleo commented on #24417
No worries, I work on the Azure CLI and currently when users specify the image alias "UbuntuLTS" (i.e for vm creation), the UbuntuServer 18.04-LTS image is used, per this [URL](https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-compute/quickstart-templates/aliases.json). This was why I wanted to verify whether ADE is available for the sku.

[2019-02-07 18:20] YutongTie-MSFT commented on #24276
@DavidRayner Good catch! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@alch-msft Hi Alvin, could you please take a look of this issue to see if it is helpful to add "pt field "to our document? Thank you!

[2019-02-07 18:25] KasamShaikh commented on #24195
@YutongTie-MSFT Nope, Its not about "Microsoft Account" link, but of the Custom Decision Service Portal link. It is mapped with, 'https://ds.microsoft.com/', which redirects to GitHub repo.

[2019-02-07 18:26] 163satish commented on #7237
Is there any update post September 19th?

[2019-02-07 18:27] YutongTie-MSFT commented on #24195
@KasamShaikh Could you please share the specific link name with us, I just found "Microsoft Account" and "API Reference"  in this page..

[2019-02-07 18:31] cweining commented on #23908
@drinkbird - What type of container are you using - Windows or Linux?

[2019-02-07 18:34] MicahMcKittrick-MSFT commented on #24474
@kirantsp I ran through the doc and I am seeing similar errors

[code]

[code]

[code]

I do see this doc has not been updated in quite a while so I am not surprised there are some issues.

@diegoviso could you take a look at this issue? We should probably go back through this doc to ensure it is fully updated.

@cynthn I see I cannot assign to author as well. Do you know a good person to get this

[2019-02-07 18:39] navzam commented on #23912
@diberry I think the edits have made the difference between interchangeable and non-interchangeable more clear conceptually. What would help me is a concrete example of a non-interchangeable phrase list. For example, the interchangeable phrase list section has this example:

which is great! The non-interchangeable section mentions a few examples (travel, rare and proprietary words, slang) but does

[2019-02-07 18:43] KasamShaikh commented on #24195
@YutongTie-MSFT I believe I came over to this page for CDS. Even the screenshots added of portal for proceeding to further mention steps are not accessible. So the main motto or reason for this comment is to have a link for the Custom Decision Service web page. Is that still workable?

[2019-02-07 18:48] AggieCMD commented on #24419
@shashishailaj Thank you for comment and link to example. However, I'm most interested in the default behavior of the validation logic. It seems that ValidateIssuer does not depend on either ValidIssuer or ValidIssuers. Is it possible that the tenant I requested the token from is automatically considered a valid issuer by the framework? Is there any scenario that I would set ValidIssuer and ValidI

[2019-02-07 18:52] drinkbird commented on #23908
That would be linux @cweining

[2019-02-07 18:54] StingyJack commented on #24121
Powershell.

[2019-02-07 18:57] cijothomas opened #24496 "Need to document about build+runtime"
Need to document what would be the behavior if app insights is enabled at runtime, but the app already has sdk reference.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 098ffe3a-2cbd-1038-30f2-dd2f528984a3
* Version Independent ID: 65da3e70-2ac2-8f6e-51a5-e759bcc8253f
* Content: [Monitor Azure app services performance]

[2019-02-07 18:57] kanthael commented on #22476
@jeevansd thanks for the response but you didn't mention what happens when the unique identifier (email in Google's case) matches a personal consumer Google account. Does it not create the account in Google Cloud Identity I am guessing then from what you are saying?

There is nothing stopping an enterprise user from creating a personal Google account, but when automatic provisioning there will be

[2019-02-07 18:57] davidmu1 commented on #18158
There is no indication here of what the change to the article should be.

#please-close

[2019-02-07 19:00] ggailey777 commented on #24313
@rccnw I was just going to say that I think that the tooling doesn't yet support ASP.NET Core apps. I am checking with the Visual Studio folks to see what the plans are here. In the meantime, I am clarifying the article.

[2019-02-07 19:04] Mike-Ubezzi-MSFT commented on #24493
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-07 19:09] mike-urnun-msft commented on #24468
Hi @wobeng Thank you for your feedback! We will review and update as appropriate.

[2019-02-07 19:09] chetansriv commented on #10122
@nzaetta The role will not be passed automatically. You first need to create the roles for the app, the assign those roles to the users. After that, they'll start showing up in the SAML response. We are updating our tutorial to add this guidance.

[2019-02-07 19:10] mike-urnun-msft commented on #24471
Hi @idohalevi Thank you for your feedback! We will review and update as appropriate.

[2019-02-07 19:12] manjnath opened #24498 "User Defined Function Restrictions not clear"
What specifically does this statement at https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-authoring-templates#functions mean?

"The function can't access template parameters. That is, the parameters function is restricted to function parameters."

Perhaps a rewording will help convey the meaning better.

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2019-02-07 19:17] femsulu commented on #24482
@AlexanderFergusonBI Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-02-07 19:19] Grace-MacJones-MSFT commented on #24463
Hi @OMARI1988, Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-07 19:25] chetansriv commented on #18274
We are checking with Zendesk team to verify the suggested change. Once we get their confirmation, we'll update the article. Thanks - Chetan

[2019-02-07 19:28] donwalling opened #24499 "create table doesn't work"
kustoClient.executeMgmt(kustoDatabase, createTableCommand, (err, results) =&gt; {
    console.log(result.primaryResults[0]);
});

&gt; TypeError: this.authCallback is not a function
    at adalContext.acquireUserCode (/Users/dwalling/git/ade/node_modules/azure-kusto-data/source/security.js:70:34)
    at OAuth2Client._handleGetDeviceCodeResponse (/Users/dwalling/git/ade/node_modules/adal-node/lib/o

[2019-02-07 19:28] cweining commented on #23908
The on demand feature doesn't work yet for the Linux profiler. It only takes profiles for 2 minutes every hour. Are you getting any profiles at all? I'm assuming you are following the instructions here, https://github.com/Microsoft/ApplicationInsights-Profiler-AspNetCore, and have included the nuget package in your application?

[2019-02-07 19:29] Mike-Ubezzi-MSFT commented on #24487
@icelandgrecian Thank you for your detailed feedback. IN looking through the documentation, an update has occured as the [Create a database](https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-dotnetcore-get-started#CreateDatabase) section reflects the syntax you are making a correction for:

{
    this.client = new DocumentClient(new Uri(EndpointUri), PrimaryKey);

    // ADD THIS PART TO YO

[2019-02-07 19:32] chetansriv commented on #18417
@zchia thanks for the confirmation

[2019-02-07 19:32] chetansriv commented on #18417
#please-close

[2019-02-07 19:35] Mike-Ubezzi-MSFT commented on #24487
@icelandgrecian Actually, the [Create JSON documents](https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-dotnetcore-get-started#CreateDoc) section needs the C# example to be updated:

![screenshot 235](https://user-images.githubusercontent.com/37126106/52437677-576d8100-2acc-11e9-8d30-e746bce6b446.png)

[2019-02-07 19:36] altwohill commented on #24302
@neeleshray this error showed in the event log after following the guide on how to set up the Azure MFA NPS extension.

As an update - I found that it is actually documented here
https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfa-nps-extension-advanced

However, that linked page isn't complete. For example, https://docs.microsoft.com/en-us/azure/active-directory/authe

[2019-02-07 19:37] drinkbird commented on #23908
Thank you for the reply, when I set it up I used some other document that didn't mention the `services.AddServiceProfiler()` step, so I wasn't getting any profiling information at all. I will add it and get back to you. I'm also interested at the on-demand profiling feature, is the linux part in the product roadmap?

[2019-02-07 19:38] AggieCMD commented on #24419
I figured it out. When requesting tokens from the Azure AD v1.0 endpoint the tokens can obviously only come from one issuer so the framework must take this into consideration. When requesting tokens from the Azure AD v2.0 endpoint, there can be multiple issuers. In this case, ValidIssuer and ValidIssuers are respected.

[2019-02-07 19:38] Mike-Ubezzi-MSFT commented on #24487
@SnehaGunda I think the C# code examples in this document need to be reviewed for accuracy, especially the `CreateDatabaseIfNotExistsAsync` method.

[2019-02-07 19:39] AmanGarg-MSFT commented on #24496
@cijothomas Thank you for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-07 19:40] Grace-MacJones-MSFT commented on #23143
@MrYossu okay thanks.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-07 19:40] #23143 closed

[2019-02-07 19:40] chetansriv commented on #18793
@gwassenaar We have reached out to Qlik team for confirmation on the URLs. Once we get their response, will update the article accordingly.

[2019-02-07 19:40] cweining commented on #23908
Was this the page you used? https://docs.microsoft.com/en-us/azure/azure-monitor/app/profiler-aspnetcore-linux

If so, I'll work to get that updated.

[2019-02-07 19:41] grayjeremy opened #24500 "Connectors that support on-premises connections?"
Can we provide a list of these connectors or a link?  I don't see this documentation anywhere.
referring to this line in the docs -&gt; "Add a connector that supports on-premises connections, for example, SQL Server."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7892e678-a98f-73fa-7c54-1a8a921f35c7
* Version Independ

[2019-02-07 19:43] yushwang commented on #10101
Some comments below, just to note that the scope of questions is actually beyond this doc:

1. For the public Internet connecting to the Microsoft Networks, there are checks and filters in place that will prevent BGP misconfigurations that advertising Microsoft blocks back to Microsoft. As for advertising or hijacking Microsoft routes - again, there are checks for major ISPs and providers to preve

[2019-02-07 19:43] yushwang commented on #10101
#please-close

[2019-02-07 19:46] aognenoff commented on #22223
Following. I am seeing the same issue - only standard, internal profiles are being imported.  Can provisioning not be used for external Salesforce users?

[2019-02-07 19:51] mrbullwinkle commented on #22518
The change to update the doc has been merged internally. It will go-live in the public docs later today.

[2019-02-07 19:51] mrbullwinkle commented on #22518
@MicrosoftDocs/azure-cxp-triage #please-close

[2019-02-07 19:52] BharathNimmala-MSFT commented on #22518
Thank you Michael.

[2019-02-07 19:52] #22518 closed

[2019-02-07 19:57] mrbullwinkle commented on #19591
This change went live 5 days ago. @MicrosoftDocs/azure-cxp-triage #please-close

[2019-02-07 19:58] BharathNimmala-MSFT commented on #19591
Thank you Michael.

[2019-02-07 19:58] #19591 closed

[2019-02-07 20:00] Mike-Ubezzi-MSFT commented on #24438
@lukeb1961 Thank you for the detailed feedback. I agree that the Java version of the document needs to be updated. I would source the [.NET version of the document](https://docs.microsoft.com/en-us/azure/cosmos-db/performance-tips) until it can be updated but, to answer your questions:

- Gateway Mode is the default behavior, and it HTTPS over 443 and 10250, 10255 and 10256 if using Azure Cosmos D

[2019-02-07 20:02] chetansriv commented on #23146
@JustinGrote We have multiple applications for Palo Alto and GlobalProtect is listed as a separate application. Article for GlobalProtect is published at https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/paloaltoglobalprotect-tutorial

[2019-02-07 20:02] chetansriv commented on #23146
#please-close

[2019-02-07 20:05] swt2c commented on #24409
I partially answered my own question - it appears that the `logging` section in `host.json` may be the way.  The 'default' filtering seems to work but the module-level filtering doesn't seem to work.  It would useful to have documentation on how/if this works with Python functions.

[2019-02-07 20:09] rbrayb commented on #24104
Agreed.

So this line: "No, Azure AD Connect is not designed to work with Azure AD B2C. Consider using the Graph API for user migration. See the User migration guide for details."

Should read:

"No, Azure AD Connect is not designed to work with Azure AD B2C. Consider using the Azure AD Graph API for user migration. See the User migration guide for details."

[2019-02-07 20:10] TravisCragg-MSFT commented on #10101
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-07 20:10] #10101 closed

[2019-02-07 20:10] mrbullwinkle commented on #22916
@rwatjen in answer to your follow-up question, I just confirmed with @brettsam that there are no plans to backport this capability to Functions V1. Thanks again for bringing this to our attention and helping us to improve our docs!

[2019-02-07 20:10] stephenmichaelf opened #24501 "Button name changed"
It looks like the button name changed:

To take a snapshot of a blob, right-click the blob and select Create Snapshot.
-&gt;
To take a snapshot of a blob, right-click the blob and select Make Snapshot.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be092d5e-0fd1-09c2-ed05-41052bd92d9e
* Version Independent ID: 071489ab

[2019-02-07 20:10] mrbullwinkle commented on #22916
@MicrosoftDocs/azure-cxp-triage #please-close

[2019-02-07 20:11] stephenmichaelf commented on #24501
Can close this, looks like my version is old :)

[2019-02-07 20:12] #22916 closed

[2019-02-07 20:12] AmanGarg-MSFT commented on #22916
Thank you Michael.

From: Michael Bullwinkle <notifications@github.com>
Sent: Friday, February 8, 2019 1:41 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Aman Garg <Garg.Aman@microsoft.com>; Assign <assign@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Azure Functions (#22916)

@MicrosoftDocs/azure-cxp-triage<https://nam06.safelinks.protection.outlook.com/?url=ht

[2019-02-07 20:15] femsulu commented on #24360
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-02-07 20:15] #24360 closed

[2019-02-07 20:15] VanMSFT commented on #24456
Hey @julieMSFT, do you mind checking this? Thanks!

[2019-02-07 20:24] mrbullwinkle commented on #22194
@MicrosoftDocs/azure-cxp-triage #please-close

[2019-02-07 20:25] femsulu commented on #24345
@imeya We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-02-07 20:25] #24345 closed

[2019-02-07 20:29] AmanGarg-MSFT commented on #22194
Thank you Michael.

[2019-02-07 20:30] #22194 closed

[2019-02-07 20:30] mrbullwinkle commented on #24496
@cijothomas is this the same as the scenario that occurs with Status Monitor where runtime monitoring will not occur if build-time instrumentation is detected to avoid duplicate telemetry being sent? Or is the behavior different with App Service instrumentation?

[2019-02-07 20:34] mrbullwinkle commented on #22201
This change has been merged internally it will go-live in the public docs around 3:30 PM UTC-8. Thanks again for bringing this to our attention and helping to improve our docs!

[2019-02-07 20:34] mrbullwinkle commented on #22201
@MicrosoftDocs/azure-cxp-triage #please-close

[2019-02-07 20:36] AmanGarg-MSFT commented on #22201
Thank you Michael.

[2019-02-07 20:36] #22201 closed

[2019-02-07 20:38] davidmu1 commented on #18327
Changed the step to add the claim to both AAD-UserReadUsingEmailAddress and AAD-UserReadUsingObjectId.

#please-close

[2019-02-07 20:41] jimt4593 opened #24503 "Had to delete a registry key after running Remove-HybridRunbookWorker"
After running the Remove-HybridRunbookWorker command as described above.  Running Add-HybridRunbookWorker failed with "Machine is already registered to a different account."  message.

To get past this error,  I had to delete the HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\HybridRunbookWorker registry key.   After I deleted this key, the Add-HybridRunbookWorker call succeeded.

(See https://www.baswijde

[2019-02-07 20:41] davidmu1 commented on #17708
As the author of the article, I'm responsible for the content of the article itself. The engineering team is responsible for the sample. The sample needs to be changed and the engineering team is working on new samples. Because there isn't actually a change to this article, I think the issue should be closed.

#please-close

[2019-02-07 20:43] aybassiouny opened #24504 "LS_V2 machines are also supported"
Need to add LS_V2 machines, they support accelerated networking.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4be8e45-460a-fab4-519b-32d83382005c
* Version Independent ID: 36a002a6-5813-da00-0a57-068eeaf491cf
* Content: [Create an Azure virtual machine with Accelerated Networking](https://docs.microsoft.com/en-us/az

[2019-02-07 20:43] davidmu1 commented on #12898
As the author of the article I'm responsible for the content of the article itself. The engineering team owns the sample. The sample needs to be changed and the engineering team is working on new samples. Because there isn't a change required for the article, I think this issue should be closed.

#please-close

[2019-02-07 20:45] davidmu1 commented on #9246
As the author of the article I'm responsible for the content of the article itself. The engineering team owns the sample. The sample needs to be changed and the engineering team is working on new samples. Because there isn't actually a change to this article, I think the issue should be closed.

#please-close

[2019-02-07 20:47] HeidiSteen commented on #24491
There is a bug in the portal.  The team is working hard to get a fix in place, but I don't have an ETA.  I'll be checking myself every few hours and will respond when I see it working.

[2019-02-07 20:49] brlewi commented on #24503
Test

[2019-02-07 20:50] lifeasandythompson commented on #14764
Does this mean I could not use the MI as a data source for a PowerApp?

[2019-02-07 20:50] julieMSFT commented on #24456
Checking.

Thank you,

Julie

From: Van To <notifications@github.com>
Sent: Thursday, February 7, 2019 12:15 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Julie Rasnick <Julie.Rasnick@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] ALTER ROLE _roleName_ ADD MEMBER _userName_; is not supported in Azure Data Warehouse (#24456)

Hey @

[2019-02-07 20:52] sanpil commented on #23524
If you include the .egg file in their source_directory and then you should be able to access the file as part of the script for that step. Does that not working?

[2019-02-07 20:55] chipalost commented on #24443
Thanks for spotting this. I have made the update to be more specific. It should be live later today.

[2019-02-07 20:56] chipalost commented on #24443
Also, to answer your question... we do not support armv6.

[2019-02-07 20:58] mike-urnun-msft commented on #24500
Hi @grayjeremy Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-02-07 20:58] HeidiSteen commented on #24491
Update:  The portal cognitive search pipeline works for Azure SQL Database data sources, just not Cosmos DB or Blob storage right now. The projected fix is Monday.

[2019-02-07 21:01] TravisCragg-MSFT commented on #24475
@SamirFarhat Unfortunately there were some challenges that caused these 2 variables to be delayed. Including them is a priority and they will be coming soon!

We are also interested in why & how you would like to use these variables, and we would like to speak with you further. Could you please reach out to me at AzCommunity@Microsoft.com with a link to this post, and we will take it from there!

[2019-02-07 21:06] #23146 closed

[2019-02-07 21:06] #24501 closed

[2019-02-07 21:07] MicahMcKittrick-MSFT commented on #24501
@stephenmichaelf thanks for the update and closing out the issue.

[2019-02-07 21:07] Anand-Moghe commented on #24433
@mike-urnun-msft  Thanks. This is highly critical and sensitive topic for MAG and I am seeing lot of confusion and distress among MAG customers. This is highly critical and urgent category issue.

[2019-02-07 21:07] ecfan commented on #24500
Hi @grayjeremy, this topic's intro actually links to the preceding topic, [Install on-premise data gateway](https://docs.microsoft.com/azure/logic-apps/logic-apps-gateway-install
), which lists the connectors that support the on-premises data gateway:

![image](https://user-images.githubusercontent.com/13206671/52442734-c5b84080-2ad8-11e9-9854-74015e0be354.png)

We used to duplicate the list in bo

[2019-02-07 21:07] drinkbird commented on #23908
It was a different document, from the same microsoft docs website, but can't remember which one.

[2019-02-07 21:09] StefanSchoof commented on #24443
Thanks for the info.

[2019-02-07 21:10] #18158 closed

[2019-02-07 21:10] #20734 closed

[2019-02-07 21:20] javierruizjimenez opened #24509 "SingleAppRoleAssignment function description has wrong content"
The description for SingleAppRoleAssignment has a description copied from NormalizeDiacritics, it says "Returns the string, but with any diacritical characters repalced with equivalent non-diacritical characters."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8685339-06af-5bb1-64da-80c16878b0bf
* Version Independent

[2019-02-07 21:22] femsulu commented on #24458
@pvyver thanks for the update. we are investigating.
@mcollier let me know if you agree with the above and I can initiate a PR to correct.

[2019-02-07 21:27] javierruizjimenez opened #24510 "Function Replace has wrong names for Parameters"
Description for function Replace has parameters not present in function signature like:
oldValueRegexPattern and replacementPropertyName.

Explanation for "When regexPattern, regexGroupName, replacementValue are provided:" should be reviewed as it uses not existent parameters.

Explanation for "When regexPattern, regexGroupName, replacementPropertyName are provided:" should be reviewed as it says

[2019-02-07 21:29] mike-urnun-msft commented on #24433
@Anand-Moghe Given the urgency and sensitivity, it may be best to open a support ticket and work with an Azure engineer 1:1 to remove such blockers in timely manner. Does your subscription carry a support plan? If not, we're able to offer you a one-time ticket. If that is the case, please send us an email at `azcommunity at microsoft dotcom` and include the URL of this issue as well as your subscr

[2019-02-07 21:36] Mike-Ubezzi-MSFT commented on #24379
@bertrandpons I believe the solution is to add the individual Managed Identities as Service Principles to an AD Group and then add the group to the SQL server. Please see: [Grant minimal privileges to identity](https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-connect-msi#grant-minimal-privileges-to-identity)

[2019-02-07 21:38] femsulu commented on #24495
@cap273 Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-02-07 21:39] pguelah commented on #23524
No it does not work on the pipeline,

It works when  i use the estimator as below
pricing_estimator = Estimator(source_directory=script_folder,
                script_params=script_params,
                compute_target=compute_target,
                entry_script='train.py')

[2019-02-07 21:40] Mike-Ubezzi-MSFT commented on #24499
@donwalling Thank you for this detailed feedback. We are investigating and will update you when we have accurate information.

[2019-02-07 21:41] MicahMcKittrick-MSFT commented on #24472
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-07 21:41] femsulu commented on #24492
@cap273 Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-02-07 21:42] pguelah commented on #23524
basically I copied the egg file
shutil.copy('library-2.2.0-py3.6.egg', pipeline_script_folder)

then
my train.py script looks like this

%%writefile $pipeline_script_folder/train.py

import sys
sys.path.append("./library-2.2.0-py3.6.egg")

but that does not work
Thanks

[2019-02-07 21:44] femsulu commented on #24498
@manjnath Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-02-07 21:45] danvanderboom opened #24512 "Broken sentence."
“Data Factory submits the See SearchLogProcessing.txt Script Definition for the script definition.”

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 263da9e8-8bdc-864d-435c-25bf3c34e34c
* Version Independent ID: d01cafe1-3f9d-cd48-da8f-1e066507ab30
* Content: [Transform data using U-SQL script - Azure](https://docs.micro

[2019-02-07 21:49] grayjeremy commented on #24500
Doh! How did I miss that?! Sorry!

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Esther Fan <notifications@github.com>
Sent: Thursday, February 7, 2019 4:07:33 PM
To: MicrosoftDocs/azure-docs
Cc: Jeremy Gray (CSA); Mention
Subject: Re: [MicrosoftDocs/azure-docs] Connectors that support on-premises connections? (#24500)

Hi @grayjeremy<https://nam06.safelink

[2019-02-07 21:51] TravisCragg-MSFT commented on #24228
@jgallucci32 if the FQDN is not able to be entered, it means that your OEM does not support it, and they should contact Azure Stack to support it in the future.

You can change the time server after the initial deployment using Set-AzSTimeSource, but this will only effect the stamp, not the switches.

[2019-02-07 21:56] #12898 closed

[2019-02-07 21:56] #17708 closed

[2019-02-07 21:56] #18327 closed

[2019-02-07 21:57] #9246 closed

[2019-02-07 22:08] TravisCragg-MSFT commented on #24504
@aybassiouny Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-07 22:10] TravisCragg-MSFT commented on #24063
@JakubW88 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-07 22:10] #24063 closed

[2019-02-07 22:15] javierruizjimenez opened #24513 "Google Apps or G Suite"
Should all references in Azure docs to "Google Apps" be changed to "G Suite"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eaf3f474-cfd3-3a18-93c8-06da1d28f92f
* Version Independent ID: c4898982-29bf-7ff2-8435-9248072ad878
* Content: [Reporting on Azure Active Directory automatic user account provisioning to SaaS app

[2019-02-07 22:16] mrbullwinkle commented on #20099
@MicrosoftDocs/azure-cxp-triage #please-close

[2019-02-07 22:18] #20099 closed

[2019-02-07 22:25] SaurabhSharma-MSFT commented on #24368
@amel00 I am not aware if there is any list of supported connectors for Azure AD connect.
@billmath Can you please guide if any list supported connectors are available ?

[2019-02-07 22:26] Anand-Moghe commented on #24491
@HeidiSteen  Thank you very much for quick update 👍 !!

[2019-02-07 22:28] bertrandpons commented on #24379
@Mile-Ubezzi-MSFT Intried this solution with the AD group but it did not work

[2019-02-07 22:31] TravisCragg-MSFT commented on #11037
@gowrishcode Thanks for letting us know! I updated the doc, and the change should appear within 24 hours.

[2019-02-07 22:32] Mike-Ubezzi-MSFT commented on #24499
@donwalling How are you running this tutorial?

[2019-02-07 22:45] cijothomas commented on #24496
Yes same behavior. If ApplicationInsights dll already detected, extension backs off. We recently had a customer who added the base sdk to do some additional logging, and installed extension, expecting that all auto-collection would still work. We want to make sure everyone understands that adding any application insights to code at build time will force extenion to just back off.

[2019-02-07 22:45] donwalling commented on #24499
Hi @Mike-Ubezzi-MSFT  I've tried copy/pasting the commands into nodejs interactively, and also tried putting them into a .js file.

[2019-02-07 22:50] SaurabhSharma-MSFT commented on #24104
@PingPongSet I believe Graph API meant Azure AD Graph API in the document however, I feel it is better to mention Azure AD Graph API and I have started a pull request to update the document, the PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help y

[2019-02-07 22:50] #24104 closed

[2019-02-07 22:57] Mike-Ubezzi-MSFT commented on #24499
@donwalling Thanks! I am not getting anywhere with this tutorial either. I am going to assign to the content author to evaluate and update as appropriate.

![screenshot 240](https://user-images.githubusercontent.com/37126106/52448418-afb27c00-2ae8-11e9-826d-a978d6f24ec3.png)

[2019-02-07 23:00] Mike-Ubezzi-MSFT commented on #24499
@orspod This tutorial is not completing successfully. Any pointers or updates to the document to help customers complete without issue would be helpful.

[2019-02-07 23:05] JasonWHowell commented on #24325
@dagiro This might be a task you could help with.

[2019-02-07 23:11] blarsonrp opened #24517 "AWVerify record"
This article does not mention using an awverify record for pre-staging any DNS / custom domain changes - this would be helpful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 224b73dd-c59d-a833-0d4d-a778af6086a9
* Version Independent ID: c6b167c9-9589-45d0-ee6a-7a47a4aec41e
* Content: [Map existing custom DNS name - Az

[2019-02-07 23:12] cephalin commented on #24103
@StingyJack To clarify this is for FTPS and not SFTP. For an existing instance, you just skip the create commands and start from the command that gets the publishing profile. Or is that not what you're looking for?

[2019-02-07 23:15] MicahMcKittrick-MSFT commented on #24021
Thanks for the patience while I looked into this.

A new version of nuget package has been published https://www.nuget.org/packages/Microsoft.ServiceFabric.Services/3.3.638

Issue explanation https://github.com/Microsoft/service-fabric-services-and-actors-dotnet/issues/166

![image](https://user-images.githubusercontent.com/32313503/52449182-323c3b00-2aeb-11e9-8b24-903d879b2b09.png)

[2019-02-07 23:16] SaurabhSharma-MSFT commented on #24203
@dozunu We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-02-07 23:16] #24203 closed

[2019-02-07 23:21] jstallm opened #24518 "Specify that deployment slots lead to single resource group."
Its not necessarily clear to me that when using deployment slots, you are restricted to having all the application instances be contained within a single resource group. It appears through the microsoft docs that its common to isolate environments by using separate resource groups. It might be useful to state this upfront to avoid confusion? Otherwise readers continue reading about deployment slot

[2019-02-07 23:22] Grace-MacJones-MSFT commented on #24386
Hi @teedeuk, we recently moved from AzureRM to Az module for powershell. You can read more about the change [here](https://docs.microsoft.com/en-us/powershell/azure/new-azureps-module-az?view=azps-1.2.0). There were several  cmdlets [noun prefix changes](https://docs.microsoft.com/en-us/powershell/azure/migrate-az-1.0.0?view=azps-1.2.0#azmonitor-previously-azurerminsights). In AzureRM, cmdlets use

[2019-02-07 23:24] MicahMcKittrick-MSFT commented on #24021
Also, for any other issues related to nuget packages you can open them here:

https://github.com/Microsoft/service-fabric-services-and-actors-dotnet

That way the engineering team sees them directly and can look into it right away.

[2019-02-07 23:24] #24021 closed

[2019-02-07 23:30] MarileeTurscak-MSFT commented on #24476
Thanks for the feedback! I think it might be a bit off-topic for that article but can see how it might be useful at the same time.

I'm assigning this to @MicrosoftGuyJFlo to make a call on this.

[2019-02-07 23:46] MicahMcKittrick-MSFT commented on #24518
@jstallm can you provide me with the link to the document you are referring to?

[2019-02-07 23:48] A140475 commented on #23140
@bwren We are having a lot of issues with this similar to what @russellseymour is experiencing. We really cant move forward on this using ARM automation until the issues are sorted out.

[2019-02-07 23:51] StingyJack commented on #24103
Actually I want the steps for updating an existing one. That seems to be conspicuously absent from all documentation and cmdlets.

[2019-02-07 23:52] mrbullwinkle commented on #24496
Got it, I will add the info and include you on the PR for review. Thank you!

[2019-02-08 00:03] SnehaGunda commented on #24460
@kazshi The throughput isn't automatically decreased if your data size reduces. You have to change the throughput limit to the value that you need, you can update the throughput by using Azure portal or  programmatically by using one of the supported SDK. You can billed for the provisioned throughput and not based on the usage.

If using portal, you can change the throughput limit under the scale

[2019-02-08 00:08] Karishma-Tiwari-MSFT commented on #24185
@RicksterCDN @goraco Did you get a chance to take a look at this one? Thanks :)

[2019-02-08 00:08] Karishma-Tiwari-MSFT commented on #24191
@richyla Any update?

[2019-02-08 00:13] Karishma-Tiwari-MSFT commented on #24375
@chanmmn You are right. In the new view, "Overview" is where you can find the Site URL as shown below:
![image](https://user-images.githubusercontent.com/20851144/52451315-42581880-2af3-11e9-84f1-6aca4674c3d5.png)

I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-02-08 00:15] mrbullwinkle commented on #17857
@yanivlavi we do have this for Azure Monitor supported metrics all up, but the table does get a bit difficult to read and I am not sure how up to date it is at the moment: [https://docs.microsoft.com/azure/azure-monitor/platform/metrics-supported](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/metrics-supported).

[2019-02-08 00:18] pguelah commented on #23524
Yes the error message is simply that it cannot find the module I am trying to import .. The module is part of my egg file ... Basically the instruction to append the egg file to sys.path if not taking effect

Thanks

[2019-02-08 00:18] kogesaka commented on #24322
@AjayKumar-MSFT, Thank you for providing the information.
In my DevOps environment is East Asia, not Australia (Australia East). In addition, it seems that this phenomenon continued from 2/1 to 2/6.

Is this a temporary problem as well?

[2019-02-08 00:20] dagiro commented on #24325
https://github.com/MicrosoftDocs/azure-docs-pr/pull/65674

[2019-02-08 00:22] SogoGolf opened #24522 "please explain/add how to "Delete an Item" when a partition key is required"
This error is thrown trying to delete a single document, since no "partition key" is provided:

{"code":"BadRequest","message":"Message: {\\"Errors\\":[\\"The partition key supplied in x-ms-partitionkey header has fewer components than defined in the the collection.\\"]}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4

[2019-02-08 00:29] alexkalita commented on #23524
Can you verify if the egg file is showing up in the current directory? e.g:

for filename in os.listdir('.'):
    print (filename)

[2019-02-08 00:37] Mike-Ubezzi-MSFT commented on #24379
@bertrandpons Correct. The AD Admin and the AD Group are separate. That is why the instructions I provided say "Grant minimal privileges to identity". Minimal is the keyword! We got it working with this configuration. Please note where it says log in with AD credentials...not SQL Server authentication. Please pay close attention to this. You need an AD Administrator tied to the SQL Server but the

[2019-02-08 00:42] lyrana commented on #24348
Hi @Bogdan-Catalin have you given the Service Principal a role assignment? You'll need to post to the /roleassignments api and specify the ObjectIdType as ServicePrincipalId. We always suggest you follow the rule of least privileged and only grant the SP access to the resources it will need. If it does need global admin access on the entire graph you can specify path as "/" as RoleId 98e44ad7-28d4

[2019-02-08 00:43] kazshi commented on #23641
@SnehaAgrawal-MSFT  Ah... now I think I understood. Thank you very much for your explanation to my basic question!

[2019-02-08 00:43] #23641 closed

[2019-02-08 00:47] MicahMcKittrick-MSFT commented on #24480
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-08 00:48] MicahMcKittrick-MSFT commented on #24512
Please provide us with the link to the documentation you are referring to so we can better assist.

[2019-02-08 00:48] MicahMcKittrick-MSFT commented on #24503
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-08 00:50] #24491 closed

[2019-02-08 00:50] MicahMcKittrick-MSFT commented on #24517
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-08 00:54] lyrana commented on #24348
@Bogdan-Catalin  Once you've granted the SP a role for the graph objects it will be interacting with, if your calls still return a 403 please let us know here. Also please check that the aud of the token is 0b07f429-9f4b-4714-9392-cc5e8e80c8b0

[2019-02-08 00:58] xencon commented on #24359
Yes, this in storage explorer. I don't see any other errors or warnings in
event viewer related, but I'm happy to pull more logs or try whatever you
suggest.

On Thu, Feb 7, 2019, 06:53 YASWANTHM-MSFT <notifications@github.com wrote:

[2019-02-08 01:04] su-jie commented on #24364
I am OOF.

Joe, can you take a look?

Outlook<https://aka.ms/qtex0l> for iOS
________________________________
发件人: ChiragMishra-MSFT <notifications@github.com>
发送时间: Thursday, February 7, 2019 4:50:42 PM
收件人: MicrosoftDocs/azure-docs
抄送: Jie Su; Assign
主题: Re: [MicrosoftDocs/azure-docs] Azure Functions outputs not supported? (#24364)

Assigned #24364<https://nam06.safelinks.protection.outlook.com/

[2019-02-08 01:06] osartavi opened #24523 "Having a single BGP peer address as source is not possible for some third-party Azure validated VPN devices"
While it is true that Microsoft Azure should only provide notions, or guidance  and not any specific configuration details for third-party devices some of the VPN devices validated to work with Azure VPNs cannot comply with some of the basic requirements for Highly available deployments.

This is the case of Cisco ASA (any version) which based upon a product limitation is unable to "support loopba

[2019-02-08 01:10] ms-guizha commented on #24364
what the version for your stream analytics nuget pacakge ? please update to latest nuget version and we should support this already

[2019-02-08 01:13] SaurabhSharma-MSFT commented on #23558
@eHealthManny We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-02-08 01:13] #23558 closed

[2019-02-08 01:40] pguelah commented on #23524
I loaded the egg to the datastore and used a datarefence to get access to it within my script.  Probably not the ideal solution, but it worked and un-blocked me.

[2019-02-08 01:59] JasonWHowell commented on #24325
@Waterfox83 thanks for the suggestion. We have fixed the issue and expect it to be published around 10am PST tomorrow morning.

[2019-02-08 01:59] JasonWHowell commented on #24325
#please-close

[2019-02-08 02:12] TravisCragg-MSFT commented on #24523
@osartavi Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-08 02:45] lmolkova commented on #24242
You are right, RequestTelemetry does not have Type.

We need to update the documentation to change RequestTelemetry to DependencyTelemetry in this example, however, we need to provide more details on what fields to set on Request and Dependency telemetries so that UX works well. I can work on that sometime next week.

@scottmcm what kind of telemetry you want to report in your core- request or tel

[2019-02-08 02:46] way2arun commented on #24392
sure, thanks

[2019-02-08 02:58] BryanTrach-MSFT commented on #24110
@ericnewton76 Thank you for the feedback. We currently scope the AzureDocs GitHub channel to feedback about Azure Docs.

Since you have product feedback, we kindly request you to share it on [Azure UserVoice](https://feedback.azure.com/forums/169385-web-apps). The product group monitors this site for feature requests and product feedback to implement next. Thank you for your understanding.

[2019-02-08 02:58] #24110 closed

[2019-02-08 03:12] mschuman opened #24524 "JScript runtime error / Sample Device Script"
Line: 22
Char: 1
Error: Object expected
Code: 800A138F

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f1d1d66-4cc5-82ec-b4e5-1c88662c85ac
* Version Independent ID: 82007f25-a1ec-832f-a431-c416a1de42a0
* Content: [Send telemetry to Azure IoT Hub quickstart (Node.js)](https://docs.microsoft.com/en-us/azure/iot-hub/quick

[2019-02-08 03:13] TravisCragg-MSFT commented on #23320
@way2arun We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-08 03:17] kazshi commented on #24460
@SnehaGunda Thanks for your comment. Sorry for my lack of explanation. Actually the original question is from my customer and their current throughput value is 31900 and it's lower limit. They cannot reduce the throughput value from the Portal or using program because of a large number of partitions, and they're trying to reduce data size to decrease the current throughput value (change the lower

[2019-02-08 03:45] rboucher commented on #24394
@eparizzi are you looking in the tables as called out in https://docs.microsoft.com/en-us/azure/azure-monitor/platform/diagnostics-extension-to-storage ?  I can add something to the docs if we have another table, but if they are not appearing at all you'll need to contact support.

[2019-02-08 03:50] TravisCragg-MSFT commented on #22688
@jtuliani Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-08 03:53] mbell85 commented on #24523
I have one healthy policy-based VPN (active-standby) set and working between on premises device and Azure at the moment (actually for the past 2 years). We do not utilize BGP for this connection (sku is VPNgw1). From reading these directions it seems all I would need to do to change over to an active-active connection is log into the Azure portal, enable the Active Active switch under the configur

[2019-02-08 03:54] mbell85 opened #24525 "Guidance needed"
I have one healthy policy-based VPN (active-standby) set and working between on premises device and Azure at the moment (actually for the past 2 years). We do not utilize BGP for this connection (sku is VPNgw1). From reading these directions it seems all I would need to do to change over to an active-active connection is log into the Azure portal, enable the Active Active switch under the configur

[2019-02-08 03:55] mbell85 commented on #24523
Apologies. Meant to open my own thread.

[2019-02-08 04:01] SnehaAgrawal-MSFT commented on #23641
@kazshi we will close this out but if you feel you need more information please just let us know.

[2019-02-08 04:04] BryanTrach-MSFT commented on #22216
@rohan51 and @beneuto The feedback below is what the product group shared. Please let us know if you have further questions or concerns.

[2019-02-08 04:12] KeiroKamioka0000 opened #24526 "Logging?"
Is it possible to identify the SAS key has being used from the Log when Blob file uploaded through the Storage Explorer?

Or not supported?
https://feedback.azure.com/forums/217298-storage/suggestions/31052998-manage-sas-token-by-name-and-include-in-audit-logs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 337c96d2-0b4

[2019-02-08 04:13] KetanChawda-MSFT commented on #24409
@swt2c for logging in python functions please check the referred document:
https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-python#logging

Also check the referenced post for details:
https://github.com/Azure/azure-functions-python-worker/issues/11

[2019-02-08 04:18] KalyanChanumolu-MSFT commented on #24379
@bertrandpons

1. Add both Service Principals to the AD group.
2. Add the AD Group as an EXTERNAL PROVIDER on your SQL Server database.
3. Grant appropriate role privileges to the AD Group on your SQL Server database.

Neither the Service Principals nor the AD Group need to be added as AD Admin on your SQL Server.
The AD admin can be yourself or a database administrator in your organization.

Plea

[2019-02-08 04:28] BryanTrach-MSFT commented on #24111
@ericnewton76 We value your feedback but as mentioned in your other issue, we scope GitHub to Doc Feedback. Please share your product feedback directly with the product group at [Azure UserVoice](https://feedback.azure.com/forums/169385-web-apps).

Thank you for your understanding.

[2019-02-08 04:28] #24111 closed

[2019-02-08 04:31] blitzprecision commented on #24319
Thanks Rohit. I tried the timeout thing -- did not work. As mentioned on the same page, 504 (which I am getting) refers to gateway timeout. 408 refers to request timeout.

Here are the full logs from the SVC container. I have masked out storage account name and key for the same.
[SVC_logs.txt](https://github.com/MicrosoftDocs/azure-docs/files/2843603/SVC_logs.txt)
I can see that the worker timeout

[2019-02-08 04:32] ecfan commented on #24500
@grayjeremy: No worries

@mike-urnun-msft: #please-close

[2019-02-08 04:36] BryanTrach-MSFT commented on #24039
@ftiernan Thank you for your question. We apologize for any confusion that was created.

The below line/instructions are meant if you already have a web app created in Azure. Since you already have a web app created, you do not need to create the web app. All you will need to do is allow local Git deployment for your app.
'To enable local Git deployment for your app with the Kudu build server, run

[2019-02-08 04:36] #24039 closed

[2019-02-08 04:48] CHEEKATLAPRADEEP-MSFT commented on #24325
@Waterfox83 We will now close this issue. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contributions.

[2019-02-08 04:48] #24325 closed

[2019-02-08 04:51] StefanSchoof commented on #24443
The rpi3 has an armv8 CPU. I would think you support armv7 and later or is it only v7? (The doc current version only mentions v7)

[2019-02-08 05:06] AshokPeddakotla-MSFT commented on #24524
@mschuman Can you provide more details about the issue which you are facing? In which step you are getting this error message?

[2019-02-08 05:11] ChiragMishra-MSFT commented on #24522
@SogoGolf Thanks for the feedback. We are currently investigating into the issue and will update you shortly.

[2019-02-08 05:24] abelal83 opened #24527 "How to automate?"
Are these settings possible to set via az cli or powershell?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca7d5d35-f923-8996-c2f1-ec70946b0e65
* Version Independent ID: dbc9be20-e026-4bfc-bcd3-ab6c7dd5029a
* Content: [Tutorial - Set Azure CDN caching rules](https://docs.microsoft.com/en-us/azure/cdn/cdn-caching-rules

[2019-02-08 05:25] ChiragMishra-MSFT commented on #24512
@nabhishek Can you please take a look at this and update the doc as appropriate ?

[2019-02-08 05:29] RohitMungi-MSFT commented on #24339
@philippschaefer4 Does the above option work for your deployments?

[2019-02-08 05:36] KeiroKamioka0000 opened #24528 "Azure Storage Analytics (Preview)????"
Is this still in preview?

https://docs.microsoft.com/en-us/rest/api/storageservices/storage-analytics

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7acb7625-7cb0-8884-b184-7c0ca8741699
* Version Independent ID: 1d500cc4-0c28-64b1-763e-c0223f9c2c03
* Content: [Collect Azure service logs and metrics for Log Analytics](

[2019-02-08 05:40] YASWANTHM-MSFT commented on #24526
@KeiroKamioka0000 , Could you elaborate with more information about your query to help better on this?

[2019-02-08 05:47] asadhkhan opened #24529 "Azure Data Factory - Email Notifications/Move or Delete Files"
This is a 2 part issue:

1) How to move/delete a file after processing.  Currently we can only copy, but the original file remains in the source.  Ideally we don't want to add a separate process to get metadata and compare if processed or not.

2) I have created a pipeline, that has 4 Main activities.  As part of this pipeline I want to be able to send email notifications for Success and failure.

[2019-02-08 05:49] asadhkhan opened #24533 "delete file ADF"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-02-08 05:50] #24533 closed

[2019-02-08 06:03] YASWANTHM-MSFT commented on #24359
@xencon , When you upload files using Azure storage explorer, you can monitor the storage account, if you have configured storage logging as described [here](https://docs.microsoft.com/en-us/azure/storage/common/storage-monitor-storage-account).
For information about accessing the $logs container, see [Enabling Storage Logging and Accessing Log Data](https://docs.microsoft.com/en-us/rest/api/stora

[2019-02-08 06:05] BharathNimmala-MSFT commented on #24307
@mganeshphani - When you create Azure DevTest Labs all the subscription limits will still be applied as if the labs is any other resource in your subscription.

Below links  have additional information on Subscription limits-

https://buildazure.com/2017/06/14/azure-subscription-resource-limits-and-quotas/
https://docs.microsoft.com/en-us/azure/azure-subscription-service-limits

Hope the above inf

[2019-02-08 06:10] BharathNimmala-MSFT commented on #24307
@mganeshphani - we will go ahead and close this issue , however if you need any further information please let us know. Will be happy to help further.

[2019-02-08 06:10] #24307 closed

[2019-02-08 06:11] shashishailaj commented on #24509
@javierruizjimenez Thank you for your feedback . We will investigate and get the content updated accordingly.

[2019-02-08 06:11] neeleshray commented on #24513
@javierruizjimenez Thank you for your feedback . We will investigate and get the content updated accordingly.

[2019-02-08 06:13] shashishailaj commented on #24510
@javierruizjimenez Thank you for your reply . We will investigate and update the thread accordingly.

[2019-02-08 06:18] ChiragMishra-MSFT commented on #24480
@maecky Hope your query was resolved using the suggestion by Martin on your [Stack Overflow post ](https://stackoverflow.com/questions/54563556/azure-data-factory-with-integration-runtime-delete-or-move-file-after-copy).

I agree that the doc talks about copying and not moving data. We will review it and make changes to the doc as appropriate.

Thanks for bringing this to our notice.

[2019-02-08 06:19] SadiqhAhmed-MSFT commented on #24528
@KeiroKamioka0000 Thanks for the comment! Azure Storage Analytics service does seems to be in GA and that is the reason we have documentation in place that talks about the functionality and supportability of this service.

[2019-02-08 06:22] rwatjen commented on #22916
@mrbullwinkle Thank you for following up and clarifying that.

[2019-02-08 06:36] ChiragMishra-MSFT commented on #24464
@ShubhaVijayasarathy Can you please have a look at this and update the doc as appropriate.

[2019-02-08 06:40] #24480 closed

[2019-02-08 06:47] ChiragMishra-MSFT commented on #24469
@RationalAnarchist It does indeed install by default with WindowsAzure.ServiceBus package.

I will now proceed to close this issue. Feel free to comment and tag me if you have any further queries.

[2019-02-08 06:47] #24469 closed

[2019-02-08 07:28] SadiqhAhmed-MSFT commented on #24492
@cap273 Currently, deployment planner does not support P4 and P6 SKU sizes. It will be supported soon but for now, we do not have a publicly shareable ETA. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-08 07:28] #24492 closed

[2019-02-08 07:32] vikaskumawat80 opened #24546 "You cannot move VNET after creation of the Managed Instance"
Recently we found that once you create a Managed Instance in the VNET you should not move the VNET to other Resource Group else you will not be to Scale Up/Down. This is very strange behaviour and not documented anywhere. Please add this so others can be aware of the same.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-02-08 07:37] SumanthMarigowda-MSFT commented on #23149
@squasta We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-08 07:37] #23149 closed

[2019-02-08 07:46] markbeij commented on #24292
Yes, that's what the documentation says..
If the snapshots are taken at 01:00, 05:00 and 09:00 and I request a restore at 09:10, I can only go 4 hours and 10 minutes back, since the backup from 01:00 is no longer available.

Hope I explained my point of view well with this example

[2019-02-08 07:48] SumanthMarigowda-MSFT commented on #23896
@jn-altius Thank you for the update! Your feedback has been shared with the content owner for further review.

[2019-02-08 07:49] pierslawson commented on #19424
@TravisCragg-MSFT I'm not sure if it is a bug with the WAF or the documentation, but if the header you are trying to exclude using an Exact Match contains a full stop, the matching does not work... You have to change the exclusion to a Starts With for the part of the header up to the full stop.

I'd also like to mention that the exclusion only stops the checking of the header value, the header nam

[2019-02-08 07:59] philipverlinden opened #24547 "Concurrency to Dynamics 365 CE"
Via which setting can we determine the # of parallel requests please?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 304d4c46-c0ac-05c9-15eb-d8b677ec5e90
* Version Independent ID: 36a79d36-2b72-2722-68e5-e167f9a2cd41
* Content: [Copy data from and to Dynamics CRM or Dynamics 365 (Common Data Service) by using Azure Dat

[2019-02-08 08:05] kirantsp commented on #24474
Hi Micah, Appreciate for taking out some time and reproduce the issue. Would you or someone from the team be able to provide a workaround to overcome this issue while the documentation gets updated. Please advise...

Regards
Kiran...

[2019-02-08 08:12] dcbrown16 commented on #23704
@SadiqhAhmed-MSFT sorry, I need to reconfirm here.
If you are using deduplication on an Azure VM, is VM backup using the extension still guaranteed as far as backup and restore of files, VM state etc.? Or does using deduplication completely break the backup?

[2019-02-08 08:13] jawn commented on #23187
@mrbullwinkle thanks for your detailed reply.

[2019-02-08 08:13] SubhashVasarapu-MSFT commented on #24525
@mbell85 Thanks for your feedback. We are currently looking into it and will update you as soon as possible.

[2019-02-08 08:28] dcbrown16 commented on #23599
@genlin appears to be off until the 13th, is there another contact that can comment?

[2019-02-08 08:36] AshokPeddakotla-MSFT commented on #24430
I got the same result when running this example on the existing device.

![image](https://user-images.githubusercontent.com/44426435/52467188-a25dc600-2baa-11e9-94a2-9005ef177917.png)

@dominicbetts Could you provide your suggestions on this issue?

[2019-02-08 08:38] kudlatiger opened #24548 "consumer group and route relation?"
If I route the messages based on message body, what happens to default consumer groups? both consumer group and route works together?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f233412c-4242-e9a6-e09d-c5b07775dd00
* Version Independent ID: 3a940d2c-77bb-b8ff-8864-9fc6ef16c122
* Content: [Configure message routing w

[2019-02-08 09:05] Bogdan-Catalin commented on #24348
As in the documentation, I added role assignment that looks as such:
[code]

I get the token by POSTing to `https://login.microsoftonline.com/{tenant-id}/oauth2/token` with body:
[code]

And whenever I query with GET `https://{digital-twins-name}.{zone}.azuresmartspaces.net/management/api/v1.0/spaces` I get an empty list `[]`. However, if I use a token obtained with `https://login.microsoftonline.

[2019-02-08 09:05] AlekseySokol opened #24550 "Conditional access for Hybrid Azure AD join device"
Hello!
Could you please clarify the following statement in following article:

"What makes a Hybrid Azure AD joined device a managed device? For devices that are joined to an on-premises AD, it is assumed that the control over these devices is enforced using management solutions such as System Center Configuration Manager (SCCM) or group policy (GP) to manage them. Because there is no method for A

[2019-02-08 09:18] dcbrown16 opened #24551 "Framework vs Standard .NET"
"Currently, direct is supported in .NET Standard 2.0. "
I confirmed internally that .NET Framework 4.7.2 lets you use the .Core package, meaning you can use Direct Mode with it.
https://www.nuget.org/packages/Microsoft.Azure.DocumentDB.Core/
Can this language be clarified in the document, as it currently seems to imply .NET Framework doesn't support Direct Mode at all?

---
#### Document Details

[2019-02-08 09:30] kchan54hk opened #24552 "Linux VM hosts variable"
Hi, I have managed to create Azure VM with the complete Playbook on Azure Cloud Shell.

However, I noticed that running the same Playbook will not work on Linux VM on Azure, because the hosts is set to localhost.

And I cannot figure out the variable for "hosts" in this case (running Ansible on Linux VM).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2019-02-08 09:31] richyla commented on #24191
Hi, sorry missed your response.  Yes if i create an RBAC binding for the "kubernetes-dashboard" service account it works perfectly.  However I don't want to configure it in this way as I don't want  all users to be able to access the dashboard with the same privileges.  Previously I had created additional service accounts, admin, reader etc, created appropriate bindings and used the service accoun

[2019-02-08 09:33] roishillo opened #24553 "Client SSL Issues"
I ran the example, there is still problem with the serializer. I've changed line 107.
Now it seems that there is a problem with the SSL client as well. It is just a sample and SSL is not important for now. Can you add the solution for that in the tutorial?
That's the error:
ssl.SSLCertVerificationError: [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certific

[2019-02-08 09:33] YASWANTHM-MSFT commented on #24481
@jochenvanwylick,I would recommend you to install the latest Azure cli version using [MSI installer locally](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?view=azure-cli-latest) and try to run the below Azure CLI code snippet to create an Azure Data Lake Storage Gen2 storage account.
After installing the latest version, login to azure account using Azure CLI command
`Az logi

[2019-02-08 09:35] Bogdan-Catalin commented on #24348
I added a new role assignment with the object id I got using azure cli (was using the one in the UI before) and now it works.

Sorry for this, I wasn't aware the objectId in portal is different from the real one.

[2019-02-08 09:35] #24348 closed

[2019-02-08 09:38] devanshujoshi commented on #24411
@TravisCragg-MSFT Thanks for the clarification . I have verified it again in our Subscription . Please go ahead and close this thread.

[2019-02-08 09:39] kazshi opened #24555 "Heartbeat alert query for case of intentional offline over 24 hours (1440 minutes)"
I would like to know how to write a Heartbeat query to not receive alert while a computer is offline on specific period (from 0:50 on Sat to 5:10 on Mon, about 28 hours 20 minutes (1720 minutes) - this is an actual case from my customer) and receive alert while the computer online (I mean, from Mon 5:11 to Sat 0:49). How can we write a query for the case? Thanks.

---
#### Document Details

⚠ *Do

[2019-02-08 09:45] neeleshray commented on #24457
@Mcclellange
Let us know if you further assistance with this.

[2019-02-08 09:47] neeleshray commented on #24420
@Josh-Ramirez @ath3rs
Teams user-level licenses are managed directly through the Office 365 admin center user management interfaces.
Check the option mentioned on this [document ](https://docs.microsoft.com/en-us/microsoftteams/user-access#manage-teams-through-the-office-365-admin-center)if it has been enabled for the users.

[2019-02-08 09:49] neeleshray commented on #24302
@altwohill  Thank you for the feedback. We will check on inclusion of the same in the document.

@MicrosoftGuyJFlo

[2019-02-08 09:51] neeleshray commented on #24136
@derekschartung
We will proceed to close this thread now. If you require further help, kindly re-open the thread.

[2019-02-08 09:51] #24136 closed

[2019-02-08 09:52] neeleshray commented on #24434
@itguysocal
Let us know if you have been able to resolve this.

[2019-02-08 09:54] shayanshani commented on #18379
@jsandersrocks can you please tell me how can i close or block opened ports in azure web app?
i try to find it on google but no luck
please help me with this

[2019-02-08 09:58] javierruizjimenez commented on #24513
Thanks @neeleshray

I proposed the change as the "SaaS application tutorials" already use the term G Guite (except for what I believe is a typo in Prerequisites).
See
https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/google-apps-tutorial

Google changed the name from "Google Apps"  to "G Suite" on September 29, 2016. https://support.google.com/a/answer/7126147?hl=en

[2019-02-08 10:00] Infoseeker commented on #24489
Any feedback on this please ?

[2019-02-08 10:02] atullalwani opened #24556 "Azure Database for PostgreSQL/MySQL"
Does Azure Database for PostgreSQL has its storage auto-expandable? Say, we have allocated 100G of space for the DB instance. Would it expand on its own?

Where can we see the database server log storage capacity for Azure Database for PostgreSQL? Can we clear the logs to free up server log storage?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2019-02-08 10:05] gokul2018 commented on #10101
@TravisCragg-MSFT As mentioned in the above response " MS peering BGP routes - those will change as Microsoft continues to acquire Internet address blocks to add to our networks; that is why BGP is the best way as it will be updated once MS updates our network"

Will the users or the orgs that are using those routes be notified about the change whenever the address change?

[2019-02-08 10:05] ChiragMishra-MSFT commented on #24529
@asadhkhan

1. Have a look at this issue for ideas : [https://stackoverflow.com/questions/41735506/moving-not-copying-data-in-azure-data-factory](https://stackoverflow.com/questions/41735506/moving-not-copying-data-in-azure-data-factory)

2. Here's a blog that talks about different options to do so : https://datasavvy.me/2018/10/02/data-factory-v2-activity-dependencies-are-a-logical-and/

Since th

[2019-02-08 10:05] #24529 closed

[2019-02-08 10:08] SumanthMarigowda-MSFT commented on #24171
@TsunehisaYamasaki This will be fixed on the mentioned PR

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-08 10:08] #24171 closed

[2019-02-08 10:10] mrtaunus commented on #24364
This was the problem. Somehow I had gotten a version 1.0.0 instead of the newest 1.6.0.

Sorry to have bothered you, my mistake!

[2019-02-08 10:10] #24364 closed

[2019-02-08 10:13] AjayKumar-MSFT commented on #24121
@StingyJack, could you please try the above cmds via Azure CLI as mentioned above and let us know how that goes. Also, checkout this discussion [thread ](https://stackoverflow.com/questions/32942617/upload-of-webjob-fails-with-azure-cli-on-linux-process-out-of-memory)for the approach.

[2019-02-08 10:13] SumanthMarigowda-MSFT commented on #21826
@rahulunlimited May I know from which document are you referring to this configuration?

[2019-02-08 10:17] lukdlu opened #24557 "Script doesn't work with "Invalid storage account for lab" error"
As apparently you are ignoring the closed issues (which are not fixed or workarounded)...
 I'm trying to create a custom image from a machine in the same DevTest Lab, and I'm getting following error:
New-AzureRmResourceGroupDeployment : 2:35:52 PM - Resource Microsoft.DevTestLab/labs/customimages 'dtlab1/testImage' failed with message '{
  "error": {
    "code": "InvalidStorageAccountForLab",

[2019-02-08 10:17] SadiqhAhmed-MSFT commented on #23704
@dcbrown16 Yes, you would be able to backup and restore files. For more clarity see the [FAQ](https://docs.microsoft.com/en-us/azure/backup/backup-azure-file-folder-backup-faq#does-the-azure-backup-agent-work-on-a-server-that-uses-windows-server-2012-deduplication-br)

[2019-02-08 10:24] lukdlu opened #24558 "Script doesn't work when run as a part of TFS build"
I can run this script without any problem from powershell, but when I use it as a part of a TFS build (build on the same machine with the same user) script fails.
Script is able to check if all the resources exist (so there is no issue with credentials), but when Invoke-AzureRmResourceAction is called, it returns error:
##[error]Your Azure credentials have not been set up or have expired, please r

[2019-02-08 10:26] SumanthMarigowda-MSFT commented on #21821
@rahulunlimited That's correct. File system name <file-system-name> is nothing but the container name which you create in your storage account.

[2019-02-08 10:31] CHEEKATLAPRADEEP-MSFT commented on #24547
@philipverlinden Could you please elaborate more on your ask?

[2019-02-08 10:32] javierruizjimenez opened #24559 "Azure AD application gallery link fails for Accept-Language: es,en-US;q=0.9,en;q=0.8"
There seems to be an error at azuremarketplace.microsoft.com with single language codes in Accept-Language, since Azure documentation has links to azuremarketplace readers can potentially get the error. Please test and forward to azuremarketplace team.

Description:

When clicking "Azure AD application gallery" link on the fist paragraph of this page I get a 404 Not found error page, as the URL do

[2019-02-08 10:33] lukdlu commented on #24558
Modules:
 4.6.1      Azure.Storage
 5.8.2      AzureRM.profile
 6.7.3      AzureRM.Resources

[2019-02-08 10:40] SadiqhAhmed-MSFT commented on #24495
@mayurigupta13 To confirm if the data unit is in GB or GiB

[2019-02-08 10:47] ijazm123 opened #24560 "Azure Active Directory Domain Service Doubt"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-02-08 10:48] ijazm123 commented on #24560
hey our company is trying to set up azure domain services
it it possible to connect client pc with the domain and push gpo’s
if yes, how do we do it?

[2019-02-08 10:48] gxgrammatikos opened #24561 "Possible article (Azure Batch Account - For User Subscription Mode) update"
In think that it should be added the following note : The user who can deploy Azure Batch Service in user subscription mode should be Directory Service Admin, and not just a user with owner privileges in this directory.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2146b9a6-94f1-b2a8-972e-63602992d092
* Version Indepe

[2019-02-08 10:49] SadiqhAhmed-MSFT commented on #24423
@alvipeo Looks like you're tying to create run as account using PowerShell. As the command "New-AzureRMRoleAssignment" errors out, you may try the cmdlet "Get-AzureRMRoleAssignment" to find the user intended role's display name and delete if it already exist by using cmdlet "Remove-AzureRMRoleAssignment" or if it is being used for some other purpose then create role with different name.

[2019-02-08 11:02] SadiqhAhmed-MSFT commented on #24029
@karlbunnell Closing this issue for now. Feel free to report back the resolution.

[2019-02-08 11:02] #24029 closed

[2019-02-08 11:04] SadiqhAhmed-MSFT commented on #24338
@imeya We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-08 11:04] #24338 closed

[2019-02-08 11:05] SadiqhAhmed-MSFT commented on #24280
@theouteredge We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-08 11:05] #24280 closed

[2019-02-08 11:08] bertrandpons commented on #24379
@Mike-Ubezzi-MSFT @KalyanChanumolu-MSFT Thank you for your great support and your explanations. It works as expected.

Just one more question: in case of web app autoscaling, is managed identity well handled ?

[2019-02-08 11:21] awarberg opened #24562 "Missing link or description on how to find the "Tenant Page" in the Azure portal"
According to the FAQ title "Is the API Management gateway IP address constant? Can I use it in firewall rules?" it should be possible to retrieve the outbound/gateway IP address from the tenant page: "You can get your IP address (or addresses, in a multi-region deployment) on the tenant page in the Azure portal."

I have not been able to find such a page in the portal. Can you please elaborate on

[2019-02-08 11:28] AmanGarg-MSFT commented on #24557
@lukdlu Thank you for the question! We apologize for the experience. Can you let us know which issue are you referring to?

While we are investigating this, can you help us out with a few details like:
1. The name and version of the windows image used?
2. Were all the VMs created in a single DevTest Lab itself?

[2019-02-08 11:29] AmanGarg-MSFT commented on #24558
@lukdlu Thank you for the question! We are investigating this and will get back to you shortly.

[2019-02-08 11:35] flynsequeira opened #24564 "Is there a way to change the data in realtime?"
Once the data is imported, maybe making changes to the imported data, it runs an update query in database directly. Just a thought.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4665519-c7fa-01ec-d2bf-ae324f13a76b
* Version Independent ID: 5222cca9-c8df-f2c4-72c8-a0ed29d97c54
* Content: [Connect Excel to SQL Database

[2019-02-08 11:37] femsulu commented on #23984
assigning to @ponatara for further action.

[2019-02-08 11:41] MedAnd commented on #24034
@aljo-microsoft - for full details please refer to production support request ID 119012524000319 which we are still working through with @zuhairp assistance.

In summary this request is to update the public documentation for all ReliableDictionary APIs to clarify the affect on memory of calling different Reliable Collection methods.

For example:

- Does TryGetValueAsync(ITransaction, TKey) cache

[2019-02-08 11:47] lukdlu commented on #24557
1. It is a VM created from a custom image, which was created from VM based on "Free License: SQL Server 2016 SP1 Developer on Windows Server 2016"
2. yes

[2019-02-08 11:48] dominicbetts commented on #24430
Hi @KingdomOfEnds @AshokPeddakotla-MSFT - the article and sample have got out of sync. I'll update the sample code to correct the issue. In the meantime, you can make the following change in the ServiceClient.js file:

Replace:

[code]

with

[code]

[2019-02-08 11:50] femsulu commented on #24186
@msvijayn do we have similar documentation for metric alerts?

[2019-02-08 11:54] femsulu commented on #24482
@kasinh any idea on the release roadmap?

[2019-02-08 11:56] femsulu commented on #24503
@georgewallace to review the feedback and determine next action.

[2019-02-08 12:00] Sekku commented on #8989
"When working with hierarchical keys in environment variables, a colon separator (:) may not work on all platforms. A double underscore (__) is supported by all platforms and is replaced by a colon."

from [.net docs](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/index?tabs=basicconfiguration&view=aspnetcore-2.0#environment-variables-configuration-provider)

[2019-02-08 12:01] femsulu commented on #23599
following up to see who else I can engage. we may have to wait for @genlin to return.

[2019-02-08 12:06] RohitMungi-MSFT commented on #24319
I could not see the error mentioned int he logs you attached. Try using [debug ](https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-deploy-and-where#troubleshooting) level logging. Also, As per the tutorial we need to load the model in the score.py in init():

def init():
    global model
    # retreive the path to the model file using the model name
    model_path = Model.get_

[2019-02-08 12:09] #24319 closed

[2019-02-08 12:24] KalyanChanumolu-MSFT commented on #24522
Hello @SogoGolf

Please  pass the partitionKey along with the itemid as shown below and the delete should work.

 await client.database(databaseId).container(containerId).item(itemBody.id, **_partitionKey_**).delete(itemBody);

Please let me know if you need any further help on this.

[2019-02-08 12:27] blitzprecision commented on #24319
Thanks Rohit. It was clearly incorrect to close this ticket without providing a reasoning for why the service throws a timeout error.
Also, not sure why you could not see the error in the logs. Please open the logs and look at line 16. You will find a string "worker timeout is set to 300".
Not loading a model should certainly not lead to a timeout error. Any better resolution?

[2019-02-08 12:32] avantida opened #24565 "Client connection count when using multiple hubs?"
In the above section:
For example, you have two application servers and define five hubs in codes. Server connection count is 50: 2 app servers * 5 hubs * 5 connections/hub.

It is clear how server connections are counted for.
How are client connections counted when there are five hubs, and a single client application connects to all five of those hubs?
Does the client multiplex the messages over

[2019-02-08 12:39] philipverlinden commented on #24547
If you have an Dynamics 365 CE IFD setup, the max. number of parallel threads is not limited. So I would like to understand how I can set the number of parallel threads when I have a batch size of 100. By default Dynamics 365 CE will limit it to 2....

[2019-02-08 12:44] RalfWenzel opened #24566 "Documentation does not match Information returned by REST API"
As of today, the documentation above does not match the information returned when using the Azure Monitor REST API:
- The "Size" Metrics is not documented
- "ActiveConnections" has no "Entity" dimension.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c5374f1-66b3-0d14-ddf6-2073ce8ccc58
* Version Independent ID: d942fd

[2019-02-08 13:04] RohitMungi-MSFT commented on #24319
Please note that we can certainly help you for any documentation issues with this tutorial on this forum. The steps mentioned in the documentation work for the examples provided. For any custom implementation issues we suggest to post the issue on MSDN or SO as I have mentioned prior to closing. The setting of worker timeout is not an error and that should be configurable in the docker config file

[2019-02-08 13:13] blitzprecision commented on #24319
Thanks I thought it was obvious but let me explain anyway.
408 refers to request timeout. Putting a timeout parameter to the requests.post() call will only fix request timeouts. Clearly that is what we want to fix since, as you also noticed, we do not have error 408 in our logs. Thus, putting a timeout parameter was not supposed to help anyway.
We have error 504 which is what I mentioned in my ori

[2019-02-08 13:21] SubhashVasarapu-MSFT commented on #24527
@abelal83 Thanks for your feedback. We are looking into this issue and will update you as soon as possible.

[2019-02-08 13:22] neeleshray commented on #24559
@javierruizjimenez  Thanks for your feedback! We will investigate and update as appropriate.

[2019-02-08 13:23] neeleshray commented on #24550
@AlekseySokol  Thanks for your feedback! We will investigate and update as appropriate.

[2019-02-08 13:33] vikguptaMS opened #24567 "Azure Functions with Entity Framework"
Can you please provide some information about Function App working with Entity Framework.
IT seems Function app v2 doesn't work with EF6 and only work with EF core.
Please provide that information also in the official documents if feasible

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa5bcb79-2af8-3b0e-c78c-0c89a2535

[2019-02-08 13:34] milanio opened #24568 "Small typos"
Step 1 - Section 2. : Stop-Service -Name  [Missing ServiceName]
In addition you need to use parameter "-Force" as TermService has dep. services

Step 2: Section 1 & 3:
There are multiple powershell lines joined into 1 in the code snippets. For example:
Section 1:
Import-Module PKI Set-Location Cert:\LocalMachine $RdpCertThumbprint = 'Cert:\LocalMachine\Remote Desktop\'+((Get-ChildItem -Path 'Cert:

[2019-02-08 13:43] gangothriurs opened #24569 "$in not working for few documents"
In cosmos db with Mongo API and partitioned collection, if i query directly as {"Id":"803c8c5c0d25f2dd6fe66"},  result gives the document. But if i query like {"Id":{$in:["803c8c5c0d25f2dd6fe66"]}} , result is empty. Also this happens for some of the documents but not for others. Please let me know what could be the issue.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-02-08 13:45] derekforeman commented on #24412
Excellent, thank you. While pointing to the v4 page, not sure if you have seen the error report with the qna JSON in the example, but I imagine that trips a number of folks up.

[2019-02-08 13:45] #24412 closed

[2019-02-08 13:47] igorvt77 opened #24570 "Request to add Note box under Microsoft Intune Enrollment section"
I ran into an issue while trying to implement T&C for the Intune Enrollment App.  After talking with support ultimately it was determined that I had enabled the "Per-device terms" option for my T&C entry.  Support pointed me to the small note about the Intune Enrollment App under the "Per-device Terms of use" section.  I admit that I missed/dismissed it as I was originally interested in using the

[2019-02-08 13:50] shashishailaj commented on #24321
@msprateek We researched on this and found that even if the solutions such as ATA and Azure AD identity protection are discovered in the ASC free tier , you may still not be able to connect them until you upgrade to the standard tier hence we conclude that you require to upgrade to ASC standard tier to gain insights and recommendations from discovered solution . There is a note in the same article

[2019-02-08 14:03] jsandersrocks commented on #18379
You cannot.  This if fixed.  If you need something more secure you can move to a VM or an App Service Environment.  What specifically are you trying to do and why?  Turn off debugging and those ports are off, then only 80 and 443 can get to your web app.

[2019-02-08 14:17] shashishailaj commented on #24560
@ijazm123 Thank you for your query. You can connect a client PC to the domain services. When you deploy azure AD domain services, it creates a virtual network and reserves two IPs within the VNET . You can deploy a management VM on one of the VNETs and deploy more client azure VMs in the same VNET . In case you have your clients in a different VNET within Azure , you must go through this [article]

[2019-02-08 14:22] SychevIgor opened #24571 "Add E4/E6 standard ssd disks"
In a section https://docs.microsoft.com/en-us/azure/virtual-machines/windows/managed-disks-overview#pricing-and-billing you missed E4/E6 standard ssd disks that is available for example https://docs.microsoft.com/en-us/azure/virtual-machines/windows/disks-standard-ssd#scalability-and-performance-targets

E4	32 GiB	Up to 120	Up to 25 MiB per second
E6	64 GiB	Up to 240	Up to 50 MiB per second

---
#

[2019-02-08 14:25] shashishailaj commented on #24419
@AggieCMD Its great to know that you found the answer and thank you for sharing the same with the wider community . Also the valid Issuer is always listed in the issuer parameter as below which can be obtained from the [OpenID Discovery Document](https://login.microsoftonline.com/common/.well-known/openid-configuration) for the endpoint.

              "issuer":"https://sts.windows.net/{tenantid}/

[2019-02-08 14:25] #24419 closed

[2019-02-08 14:30] shashishailaj commented on #24570
@igorvt77 Thank you for your suggestion . We will have the suggestion reviewed and actioned accordingly . .

[2019-02-08 14:30] SoccerCore11 opened #24572 "device.deviceOSVersion"
It should be mentioned that for Windows 10, the correct format of this attribute is as follows: (device.deviceOSVersion -eq "10.0 (17763)")
The formatting can be validated with the Get-MsolDevice PowerShell cmdlet. This can be confusing as the Azure AD portal formats the versions as "10.0.17763.253".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2019-02-08 14:35] vhorne commented on #24401
@PSPally OK, how about this? https://docs.microsoft.com/en-us/azure/dns/delegate-subdomain-ps

[2019-02-08 14:39] shashishailaj commented on #24572
@SoccerCore11 Thank you for your feedback . We will have this reviewed and update this thread accordingly.

[2019-02-08 14:41] spelluru commented on #24291
@PramodValavala-MSFT - Did you try the tutorial? Did you run into the same issue? Thanks.

[2019-02-08 14:54] gsahlstrom commented on #21049
+1
Getting some kind of response on whether this is supported on Linux or not would be appreciated. I think there are a lot of orgs that run Azure AD and Jira on Linux... for our part, having a MS-provided plugin handling Azure AD SSO would certainly be the preferred way.

[2019-02-08 14:58] bwren commented on #23140
This is out of date now that Log Analytics alerts have been moved to Azure Monitor.  ARM for a log alert is available in the following article - https://docs.microsoft.com/azure/azure-monitor/platform/alerts-log#managing-log-alerts-using-azure-resource-template.  We've had some confusion in what we're going to do with that solution content, but we'll most likely end up retiring the article altoget

[2019-02-08 15:14] claasnic commented on #24195
The link mentioned above can be found here:
https://docs.microsoft.com/en-us/azure/cognitive-services/custom-decision-service/custom-decision-service-get-started-register
It's https://ds.microsoft.com/

[2019-02-08 15:17] PramodValavala-MSFT commented on #24402
@brandonh-msft You are right. I believe High Throughput mode is still in preview and hence the discrepancies.

We are assigning this to the content author to review and update accordingly.

[2019-02-08 15:19] sowsan opened #24573 "Application Insights and Business Continuity"
Look like the Application Insights can only export the telemetry continuously to a storage account and not to another application insight. Also, not seeing an option to import the telemetry in the destination application insights . Any clarification on this would be very helpful.

https://docs.microsoft.com/en-us/azure/azure-monitor/app/export-telemetry

---
#### Document Details

⚠ *Do not edit t

[2019-02-08 15:33] spelluru commented on #24291
I have gone through the tutorials, the prerequisite one, and this one again, and it works for me. I am doing the .NET (C#) version of the tutorial. **Are you doing the Node.js one?**

The .NET one uses https://github.com/Azure-Samples/function-image-upload-resize/blob/master/ImageFunctions/Thumbnail.cs

The Node.js one uses https://github.com/Azure-Samples/storage-blob-resize-function-node/blob/ma

[2019-02-08 15:35] sochan1 opened #24574 "Data encryption: Azure Backup doesn't encrypt data as a part of the backup process"
https://docs.microsoft.com/en-us/azure/backup/backup-azure-backup-faq#is-the-data-sent-to-azure-encrypted  - says data is encrypted at rest
https://docs.microsoft.com/en-us/azure/backup/backup-introduction-to-azure-backup#network-security  - says traffic sent to azure vault is encrypted

what is true ? there's confusion with the documentation

---
#### Document Details

⚠ *Do not edit this section

[2019-02-08 15:41] itguysocal commented on #24434
Microsoft support said that the block was generated by a identity Protection Policy, but they couldn't identify which risky behavior caused this error. So this is still unresolved because it is not clear what "530032" means, so we would like it added to the documentation table with a better explanation of what the user or attacker did to generate this error, since it blocked them from signing in.

[2019-02-08 15:52] eparizzi commented on #24394
I see the following tables in the Storage account set:
![image](https://user-images.githubusercontent.com/412489/52488391-7c322900-2b9e-11e9-9fdc-51507d7b8145.png)

[This page](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/diagnostics-extension-overview) says that .NET Event Source can be collected. But I don't see any table for them.

[2019-02-08 16:16] AjayKumar-MSFT commented on #23225
@vatsparth, Invoke-RestMethod request triggers push deployment from the uploaded .zip file. So, ensure that all the deployment files including the default document are available in site/wwwroot folder. You may navigate to Kudu Console (https://yourwebsite.scm.azurewebsites.net/) to review the files.

[2019-02-08 16:17] spelluru commented on #24291
When I try the Node version, I too see the error: Sequence contains more than ne matching element.

The product team is aware of it. Here was the latest comment from  a reviewer of the article:

•	Modifying the function.json file to use an event trigger and blob input with an appropriate bound path parameter (The current github version for nodejs v2 defines two triggers and binds to a parameter th

[2019-02-08 16:40] Karishma-Tiwari-MSFT commented on #24571
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-08 16:42] Karishma-Tiwari-MSFT commented on #24561
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-08 16:47] badbob001 opened #24576 "VMs with SQL Server backup configured: local or azure sql backup?"
Regarding the snapshot troubleshooting titled 'VMs with SQL Server backup configured', is this referencing a locally configured SQL backup or a remote backup via Azure's preview Recovery Services Sql Backup feature?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f030558-66a5-d963-54a2-3f71643c5ef0
* Version Independen

[2019-02-08 17:03] AshokPeddakotla-MSFT commented on #24430
@KingdomOfEnds As suggested, this will be addressed. Thanks for bringing this to our notice.
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-08 17:03] #24430 closed

[2019-02-08 17:05] saf-itpro opened #24577 ""Note" section of this QuickStart reads: This article has recently been updated to use commands from the new Azure PowerShell Az module. But it is still using old PS commands"
For example: For sign-in, the article is using `Connect-AzureRmAccount` and **not** the new command `Connect-AzAccount`.
For creating Resource Group, it's using `New-AzureRmResourceGroup` and not `New-AzResourceGroup`.
etc., etc.....
**Question**: Has this article really been updated to use commands from the new Azure PowerShell Az module? Or, maybe, I'm missing something here.

---
#### Document

[2019-02-08 17:13] jjgriff93 commented on #7021
I was going to drop similar feedback - where on earth is all the content!? there are no quickstarts or any guidance like you'd expect from the other cognitive services docs

[2019-02-08 17:23] msvijayn commented on #24186
@femsulu - custom JSON option is currently only available for log alerts.

@snehithm - FYI

[2019-02-08 17:33] inesk-vt opened #24579 "Doc out of date with Azure Portal UX"
The doc should be updated to reflect azure portal UX changes. Endpoints is now located under Messaging =&gt; Message Routing where you can add custom endpoints., with a separate "Built-in endpoints" UX that only shows custom ones and doesn't let you add any new ones.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75a6b

[2019-02-08 17:33] erhopf commented on #24384
Hi @jjgriff93 - I couldn't find any mention of recognition modes within the Speech Services documentation. I did find these choices in Bing Speech though, which is being retired.

After speaking with our development team, here's the rundown of how recognition modes are used in the Speech Services SDK:

* **Interactive** mode is used for `RecognizeOnce` (or single shot recognition). This is primari

[2019-02-08 17:34] Karishma-Tiwari-MSFT commented on #24568
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-08 17:37] mbell85 commented on #24525
Hey @SubhashVasarapu-MSFT I found a little more information over on the overview page for Highly Available Cross-Premises Connectivity Page: https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-highlyavailable

As I thought, it will require some configuration on the on-prem VPN device to get this working. Do you or anyone else happen to know where I might find further instructions on ena

[2019-02-08 17:39] BhargaviAnnadevara-MSFT commented on #24175
@imeya Thanks again for reaching out! We would like to take a closer look at this to troubleshoot the reported issue further. Therefore, I request you to send us your Subscription and Resource details to AzCommunity@microsoft.com referencing this issue and we can take it forward from there, as this certainly seems more of a question related to the Product than the Product documentation.

We are go

[2019-02-08 17:39] #24175 closed

[2019-02-08 17:39] #24500 closed

[2019-02-08 17:41] JSeb225 commented on #23306
Hi, sorry for the delay. We just announced the [official release ](https://twitter.com/AzureStreaming/status/1093681566428082176) of this feature, so there is no need of special URL or subscribing to the preview. Thanks for your patience.

[2019-02-08 17:47] MicahMcKittrick-MSFT commented on #24474
@kirantsp I have been trying to find a way to get knife installed correctly but I am still hitting errors. My thought was trying it without the pre variable.

chef gem install knife-azure

It seemed to work a bit better but even after that running the image list command still failed. I will keep trying but if you find anything else please share as well.

[2019-02-08 17:48] MicahMcKittrick-MSFT commented on #24490
@ToddChitt I will close this for now. If you have additional questions just let me know and we can always reopen and continue the conversation.

[2019-02-08 17:48] #24490 closed

[2019-02-08 17:49] MicahMcKittrick-MSFT commented on #24561
@gxgrammatikos can you elaborate on why you believe this change in the doc is needed? Looking through the doc I am not finding any issues with how it is setup

[2019-02-08 17:54] jluk commented on #23896
@maertendMSFT could you PR something like this in? Sounds fair for PowerShell guidance.

[2019-02-08 18:00] JasonWHowell commented on #23306
#please-close

[2019-02-08 18:03] normesta commented on #20989
Thank you for your feedback. I've added some clarifying text to that section of the known issues topic.

[2019-02-08 18:10] inesk-vt opened #24580 "Tutorial should explain where/how/what message properties"
I just successfully ran through the e2e tutorial (yay!). One part that could use a bit more clarification is explaining how the part below actually works:

...When the temperature is above 30 C, **the client application marks temperatureAlert = "true" in the message** it sends to your IoT hub. The message triggers the logic app to send you an email notification...

When running the sample app from

[2019-02-08 18:11] inesk-vt commented on #24580
It would also help clarify that this business logic is being done client side (on the device?) as opposed to service side when the telemetry comes through.

[2019-02-08 18:12] prateektaneja90 commented on #24321
That helps. Thank you! Its good to close. :)

[2019-02-08 18:14] #24321 closed

[2019-02-08 18:14] MicahMcKittrick-MSFT commented on #23789
@Sudharma sorry for the delay on this. I have been trying to repro this but have had issues getting an RBAC cluster setup using my internal subscription. We are all taking a look and will update as soon as possinble

[2019-02-08 18:15] MicahMcKittrick-MSFT commented on #24353
@TylerMSFT @aljo-microsoft any update?

[2019-02-08 18:16] MicahMcKittrick-MSFT commented on #24407
Thanks @kyleswinney

@vturecek @aljo-microsoft any update on this?

[2019-02-08 18:17] Anand-Moghe opened #24581 "Can you please add some info regarding whether Microsoft Azure is a Domain Registrar or not and is it a certificate authority?"
Can you please add some link here regarding whether Microsoft Azure is a Domain Registrar or not and whether it is a certificate authority like Go Daddy?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9dc61ea4-6040-6143-c279-db71f9fda02a
* Version Independent ID: d45201fb-c603-b878-b7d2-191db4b589e5
* Content: [Buy cus

[2019-02-08 18:19] YutongTie-MSFT commented on #24573
@sowsan Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@tulasim88 Hi, could you please help to check this issue and update the document to make it clearer? Thank you.

[2019-02-08 18:21] Mike-Ubezzi-MSFT commented on #24569
@gangothriurs Thank you for this detailed feedback. In looking at another document, [Query data by using Azure Cosmos DB's API for MongoDB](https://docs.microsoft.com/en-us/azure/cosmos-db/tutorial-query-mongodb), the basic query syntax when using the `Id` value matches what you have detailed, as you are seeing a result set but, with the `$in` array expression it is not being used correctly in you

[2019-02-08 18:22] blouwagie opened #24582 "Link is not correct (correct page but not correct step)"
Hi, the section in this document (bottom of section 6) that reads like this:

certificate information required for the client to authenticate. For steps to export a certificate, see Generate and export certificates for Point-to-Site using PowerShell.

Has a link to another document. However it links to the wrong section in that document. It should point to section and and it goes directly to secti

[2019-02-08 18:24] diberry commented on #24180
@VincentGuigui Frequency is about 10 to 15 minutes. I'll update the docs.  #in-progress

[2019-02-08 18:28] Mike-Ubezzi-MSFT commented on #24564
@flynsequeira Thank you for the detailed feedback. Can you detail a use case with more detail to demonstrate this functionality a bit more. Is this something that would happen mid-flight of a data import? Thanks for providing additional details.

[2019-02-08 18:30] inesk-vt opened #24583 "A clearer and upfront call out to the various architecture specific tutorials"
This tutorial is called "deploy IoT module to Linux x64 device" - since I have a Raspberri PI w/ arm, I assumed this tutorial didn't apply. But reading through, sounds like I should go through most of the tutorial then switch to the arm specific step for the "installing edge runtime" steps. May be worth clarifying that upfront in the tutorial - i.e.: yes, you may have different device flavors but

[2019-02-08 18:31] cjkoester opened #24584 "DistCp Command Line Options"
The command line example that includes the -m (Number of mappers) argument seems to be incorrect. I tested this recently, and it only worked when the argument was moved ahead of the source and target paths.

Example:

hadoop distcp -m 100 wasbs://&lt;CONTAINER_NAME&gt;@&lt;STORAGE_ACCOUNT_NAME&gt;.blob.core.windows.net/example/data/gutenberg abfss://&lt;FILE_SYSTEM_NAME&gt;@&lt;STORAGE_ACCOUNT_NAM

[2019-02-08 18:40] YutongTie-MSFT commented on #24195
@KasamShaikh @claasnic I got it. I will correct it. Thanks. You should see the change shortly.

[2019-02-08 18:42] TylerMSFT commented on #24353
@MicahMcKittrick-MSFT  - I have reached out to the product team. Responses may be delayed due to the team being at an offsite and we will all be at azure camp next week.  Will respond when I have info to provide.

[2019-02-08 18:43] blouwagie opened #24585 "Example 1 in part 2 only works IF you are still working in the same powershell session"
Hi ,
Example 1 in part 2 only works IF you are still working in the *same* powershell session as  when you created the server side certificate (first script). If we have opened a new powershell session for part 2, it does not work because the variable "Signer" is not know. Please make sure that your documentation explains this.

---
#### Document Details

⚠ *Do not edit this section. It is require

[2019-02-08 18:44] AmanGarg-MSFT commented on #24558
Please try to run the Clear-AzureRmContext Commandlet and then try Connect-AzureRmAccount to get the valid bearer token to continue.
`Clear-AzureRmContext -Force`

[2019-02-08 18:46] KingdomOfEnds commented on #24430
@dominicbetts - Thank you very much!

@AshokPeddakotla-MSFT - Much appreciated thank you!

[2019-02-08 18:46] CHDAFNI-MSFT opened #24586 "Clarify if "Active Active" mode works with multiple policy-based vpn devices"
^ ^

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2c33f22-7243-bb33-38b9-fcf30e68ffe6
* Version Independent ID: c1a3a25a-26d0-acdf-d5f2-1d1c057a3e5b
* Content: [Connect Azure VPN gateways to multiple on-premises policy-based VPN devices: Azure Resource Manager: PowerShell](https://docs.microsoft.com/en-us/azure/vpn-g

[2019-02-08 18:51] MicahMcKittrick-MSFT commented on #24518
@jstallm I will close this for now. If you have feedback please provide it directly on the doc you are referring to so we can better assist.

[2019-02-08 18:52] javierruizjimenez commented on #24559
Additional information from Hypertext Transfer Protocol -- HTTP/1.1 RFC 2616

**[3.10 Language Tags](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.10)**

A language tag identifies a natural language spoken, written, or otherwise conveyed by human beings for communication of information to other human beings. Computer languages are explicitly excluded. HTTP uses language tags within t

[2019-02-08 18:52] cynthn commented on #24474
@diegoviso Diego, can you help? This article has you listed as the author. Thanks!

[2019-02-08 18:56] susanthasilva opened #24587 "How to do url base routing for same TCP port?"
I'm having two internal servers which host resources as portal1.contoso.com (192.168.1.10) & portal2.contoso.com (192.168.1.20). From public side they both listen to same public IP and DNS having records as portal1 & portal2. My requirement is if someone type https://portal.contoso.com traffic should route to internal server 191.168.1.10 and if typed https://portal2.contoso.com then route to inter

[2019-02-08 18:56] Alberto-Vega-MSFT commented on #24579
@inesk-vt Thanks again for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-08 18:57] jeevansd commented on #15749
@chetansriv Please fix this.

[2019-02-08 18:57] jgallucci32 commented on #24228
@TravisCragg-MSFT I went through all the OEM options and none of them are supported. Perhaps the note should mention "for future use" or something to that effect to indicate this is coming and not expected to work at all right now.You mention being able to change the NTP source post deployment. This is useful information, but neither myself nor our OEM reps were able to locate the documentation st

[2019-02-08 18:59] jeevansd commented on #15414
@mwabbe12 We have fixed this issue in our new plugin. Also we have updated the article to show how to configure your server in this scenario. So please try again.

[2019-02-08 19:00] Mike-Ubezzi-MSFT commented on #24556
@atullalwani Thank you for the detailed feedback. I am providing a few links pertaining to your questions. Storage is not auto-expandable. You will need to navigate to the Azure Portal to scale up/down your deployment. With regards to backup storage, if you have provisioned a server with 250 GB, you have 250 GB of backup storage at no additional charge. Storage in excess of 250 GB is charged.

[Sc

[2019-02-08 19:00] jeevansd commented on #15414
#please-close

[2019-02-08 19:01] MicahMcKittrick-MSFT commented on #24474
I also found this open issue

https://github.com/chef/knife-azure/issues/490

Seems to have the same problem opened back in October

and I found some other users with some possible work around in a Stack Overflow post

https://stackoverflow.com/questions/31906153/chef-gemconflicterror-when-running-knife-bootstrap-windows

[2019-02-08 19:01] jeevansd commented on #15287
@chetansriv and @v-viinde Please verify and update the article.

[2019-02-08 19:03] AlexImray opened #24588 "Runbook auto-sync failing on Azure repo push"
Source control seems to often fail to sync properly when I've pushed commits to an Azure Git repo. Once it fails, the entire source control needs to be deleted and set up anew. It frequently comes with this error:

System.Management.Automation.ParameterBindingArgumentTransformationException: Cannot process argument transformation on parameter 'AcessToken'. Cannot convert value to type System.Strin

[2019-02-08 19:05] AmanGarg-MSFT commented on #24557
Please check this thread and see if it resolves your issue

https://stackoverflow.com/questions/43631686/how-to-create-custom-image-from-blob-storage-hvd-in-azure-dev-test-labs?rq=1

[2019-02-08 19:06] Mike-Ubezzi-MSFT commented on #24556
Adding details for Azure Database for PostgreSQL:

[Configure and access server logs in the Azure portal](https://docs.microsoft.com/en-us/azure/postgresql/howto-configure-server-logs-in-portal)
[Configure and access server logs by using Azure CLI](https://docs.microsoft.com/en-us/azure/postgresql/howto-configure-server-logs-using-cli)

[Azure Database for PostgreSQL servers](https://docs.microsof

[2019-02-08 19:10] MicahMcKittrick-MSFT commented on #23408
Just FYI, I have given access to @dragav to my Azure Cluster seeing this error. Hopefully we can find some problems and get the doc updated.

[2019-02-08 19:12] SidShetye commented on #21117
@v-miclar if you're referring to [SaaS Sell through Azure - APIs](https://docs.microsoft.com/en-us/azure/marketplace/cloud-partner-portal/saas-app/cpp-saas-subscription-apis), those document the APIs **FROM** a vendor's URL to the marketplace servers.

The Landing page URL says "This URL will also be the endpoint that will be **RECEIVING** the connection APIs to facilitate commerce with Microsoft"

[2019-02-08 19:14] AjayKumar-MSFT commented on #24322
@kogesaka, Yes, it was a temporary issue. Apologies for any inconvenience caused.

[2019-02-08 19:15] apitanga commented on #21888
@MSSedusch  Does this imply that you need to register your instance with Red Hat (either via the Red Hat portal or Satellite)? Or does the Marketplace instance include all the repos needed?  Thanks.

[2019-02-08 19:17] YutongTie-MSFT commented on #24195
@KasamShaikh We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-02-08 19:17] #24195 closed

[2019-02-08 19:19] SidShetye commented on #21116
IMHO, prematurely closing this issue before the update or corrections are actually published will give the impression that the documentation system is healthier than it really is.

[2019-02-08 19:19] sc-bperry opened #24589 "Server Core installation"
It appears that this is not supported on Server Core. Or at least, I'm not able sign in in order to register the gateway because I get the following error: Unable to load DLL 'IEFRAME.dll': The specified module could not be found. (Exception from HRESULT: 0x8007007E). Can you confirm if Server Core is supported? I'm using Windows Server 2016 Core.

---
#### Document Details

⚠ *Do not edit this se

[2019-02-08 19:21] blouwagie opened #24590 "You need to document HOW to install using Intune"
Hi,
As Microsoft recommends using Intune for Azure AD joined machines, you should explain how to install this certificate using Intune. You can not expect us to drive around to hundreds of machines and bug hundreds of users. Please always assume in these articles that client PC installations have to be done remotely without end user interaction.

---
#### Document Details

⚠ *Do not edit this sect

[2019-02-08 19:21] KasamShaikh commented on #24195
@YutongTie-MSFT<https://github.com/YutongTie-MSFT> Can you help me with correct URL for Custom Decision Service web portal (frontpage). Any roadmap for this service..any help would be appreciated.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: YutongTie-MSFT <notifications@github.com>
Sent: Saturday, February 9, 2019 12:47:57 AM
To: MicrosoftDocs/azure-docs

[2019-02-08 19:22] YutongTie-MSFT commented on #24195
@KasamShaikh Hi I just correct the URL for the frontpage. Can you please check it?

[2019-02-08 19:36] femsulu commented on #24186
thanks @msvijayn
@santo2 We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-02-08 19:36] #24186 closed

[2019-02-08 19:37] Mike-Ubezzi-MSFT commented on #24553
@roishillo Thank you for this detailed feedback. I am able to reproduce this issue.

[2019-02-08 19:38] KrKandula opened #24591 "Deep linking not working with the provided adal versions v1.0.17"
Deepling not working. When I am logged out and try to click on a protected link, it takes me to signin, after signing in it is incorrectly directing me to the home page, when it must me redirecting to the initially clicked link.

The expected behaviour works with v.1.0.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0

[2019-02-08 19:40] diberry commented on #23980
@paulio In order to convert the Bash commands to CMD commands, do you have to do more than remove the "\" and line feed\carriage return?

[2019-02-08 19:44] Mike-Ubezzi-MSFT commented on #24553
@LuisBosquez Can you assist with this? I think there needs to be a reference to a CA root bundle to get the SSL handshake to be successful?!

[2019-02-08 19:48] diberry commented on #24181
@VincentGuigui The response from the service team is: "We are trying to get to feature parity by \\BUILD in May, except for key-phrase extraction and sentiment analysis."

This will not be added to docs.

#please-close

[2019-02-08 19:49] scottmcm commented on #24242
@lmolkova I have a background task that checks a database about once per second.  I don't know what the correct operation to use for that is, since it doesn't feel like a `Request` or a `Dependency` to me.

Right now my code is doing `.StartOperation<RequestTelemetry>` every minute, as a new thing every second sounds like overkill, but more than 60 dependency calls inside a single request makes th

[2019-02-08 19:51] Karishma-Tiwari-MSFT commented on #24568
@milanio Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-02-08 19:51] Mike-Ubezzi-MSFT commented on #24551
@dcbrown16 Thank you for the detailed feedback. I will have the content owner evaluate and enhance the documentation as appropriate.

[2019-02-08 19:54] Mike-Ubezzi-MSFT commented on #24546
@vikaskumawat80 Thank you for this detailed feedback. This would be a helpful `Note:` in the documentation. I will work with the content author to evaluate and update as appropriate.

[2019-02-08 19:57] stanley70 commented on #24387
I try to open a Azure Support Ticket but i have the same problem because Azure Support Ticket wants Microsoft Authentication also. So when I choose to enter the application by sending a message to my phone I receive the message after 3 hours and obviously i can not wait so long.

[2019-02-08 20:02] Mike-Ubezzi-MSFT commented on #24546
@vikaskumawat80 It appears this `Note:` detail exists in the following documentation: [Configure an existing virtual network for Azure SQL Database Managed Instance](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-managed-instance-configure-vnet-subnet)

![screenshot 244](https://user-images.githubusercontent.com/37126106/52503099-62421780-2b99-11e9-88e0-77082b6d44a8.png)

[2019-02-08 20:11] erick-thompson commented on #21106
Did you create a second ingressgateway? I'm looking to create two, one public (public IP) and internal (internal IP.

[2019-02-08 20:14] falmada opened #24593 "Configuring a Network Security Group"
This step is no longer required for new ASEs.

ASE deployed yesterday (Feb 7th, 2019) and NSG rule is already set .

Might want to update statement "You can use the Service Tag named AppServiceManagement in your Network Security Groups in order to lock down inbound management traffic to your ASE." to reflect this.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-02-08 20:17] MicahMcKittrick-MSFT commented on #24533
@asadhkhan thanks for reaching out. If you still need assistance feel free to open an issue directly on the doc you are having trouble with and we can investigate.

[2019-02-08 20:18] gxgrammatikos commented on #24561
Hello Micah,

Allow me to elaborate, the problem is that I couldn’t deploy an Azure Batch (with user subscription Pool Allocation Mode) if  the user was not service admin if you try so, you get the following error.

[cid:image002.jpg@01D4BFFC.2E9FB7B0]

If you want to reproduce the error, you should try to deploy a new Azure Batch Service with Use subscription pool allocation mode, with not Servic

[2019-02-08 20:18] lmolkova commented on #24242
@scottmcm I agree that request and dependencies notions are sometimes confusing especially for non-HTTP things or logical operations. I think what you are doing now is totally reasonable and there is no better way to achieve it.

@OsvaldoRosado FYI. Is it expected at this point?

[2019-02-08 20:23] MicahMcKittrick-MSFT commented on #24561
@gxgrammatikos got it. Thank you. I will attempt a repro and get back to you

[2019-02-08 20:24] mike-urnun-msft commented on #24562
Hi @awarberg Thank you for your feedback! We will review and update as appropriate.

[2019-02-08 20:26] MicahMcKittrick-MSFT commented on #24561
@gxgrammatikos also, did you see the note at the beginning of the doc?

![image](https://user-images.githubusercontent.com/32313503/52504265-c0242e80-2b9c-11e9-9885-e76c824796ca.png)

[2019-02-08 20:26] TravisCragg-MSFT commented on #24587
@susanthasilva Here is an article describing h[ow to set up routing for multiple websites on an App Gateway](https://docs.microsoft.com/en-us/azure/application-gateway/multiple-site-overview).

Please let me know if you have any additional questions.

[2019-02-08 20:29] Karishma-Tiwari-MSFT commented on #24406
@jithinjosepkl Can you please share the link to the documentation where you found this information.
 I looked at docs, for example : https://azure.microsoft.com/en-us/pricing/details/virtual-machines/windows/#n-series and here NC6 is 6, NC12 is 12, NC24 is 24. Let me know. Thanks :)

[2019-02-08 20:29] diberry commented on #23696
@ayako Are you interested in Bot Framework 3.x or Bot Framework 4.x? The Qna doc is 3.x and the Azure Bot service doc is 4.x.

[2019-02-08 20:29] TravisCragg-MSFT commented on #24586
@CHDAFNI-MSFT Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-08 20:30] TravisCragg-MSFT commented on #24585
@blouwagie Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-08 20:31] asuresh4 opened #24594 "Question - Is there an API which I could use to get the same information?"
I came across https://docs.microsoft.com/en-us/azure/azure-monitor/platform/metrics-supported#microsoftcontainerservicemanagedclusters but looks like there's only 5 metrics available through the Azure Monitor API. Is there a way to get all the information available on the UI through the API?

Thanks,
Akash

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2019-02-08 20:34] jithinjosepkl commented on #24406
Here it is: [Link](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sizes-gpu#nc-series)

The 6/12/24 etc are core counts, we want to correct GPU memory.

[2019-02-08 20:34] scottmcm commented on #24242
On the gantt chart, there isn't some tipping point at 61 or anything.  It's mostly just an arbitrary middle ground between 1 (second granularity) and 3600 (hour granularity).

The other reason to keep it short is that it affects the overall "average response time" graph because it's being recorded as a `Request`.  Even the 1min is already suboptimal, as the "Performance" blade got much less useful

[2019-02-08 20:36] cherylmc commented on #24585
Hi @blouwagie - We did attempt to explain this with this " This example uses the declared '$cert' variable from the previous section. If you closed the PowerShell console after creating the self-signed root certificate, or are creating additional client certificates in a new PowerShell console session, use the steps in Example 2.".  Can you let me know if you are experiencing something different?

[2019-02-08 20:38] #23306 closed

[2019-02-08 20:41] cherylmc commented on #24582
@blouwagie  - It actually should point to Export. Right above it, those links should point to generate. I just tested and it seems to work correctly.

[2019-02-08 20:43] brlewi commented on #23708
Test

[2019-02-08 20:43] #23708 closed

[2019-02-08 20:47] TravisCragg-MSFT commented on #24411
@devanshujoshi We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-08 20:47] #24411 closed

[2019-02-08 20:48] PSPally commented on #24401
That looks like it would work.  Even if I don't use Cloud Shell it's got all the steps I need.  Thank you!

[2019-02-08 20:48] YoDaMa commented on #19796
Hey @dcasati you're right we need a pull-up resistor in that diagram or else we're leaving that pin floating which is bad. Mind putting up a new diagram and I can help you get that merged in? If not I'll take care of it.

[2019-02-08 20:57] #15414 closed

[2019-02-08 21:16] Karishma-Tiwari-MSFT commented on #24406
@jithinjosepkl Sorry I meant can you please share the doc where you found that correct values should be 12/14/48.

[2019-02-08 21:17] femsulu commented on #24552
@kchan54hk Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-02-08 21:18] femsulu commented on #24576
@badbob001 Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-02-08 21:19] SaurabhSharma-MSFT commented on #24387
@stanley70 Can you try changing your authentication method to phone instead of Microsoft Authenticator.  Please go to https://aka.ms/MFASetup to modify the same.  Also, refer to [Manage your settings for two-step verification](https://docs.microsoft.com/en-us/azure/active-directory/user-help/multi-factor-authentication-end-user-manage-settings)

[2019-02-08 21:31] jzoldak commented on #24472
My mistake - I was mixing up describing the **pod** with describing the **node**.
`kubectl describe node virtual-kubelet-virtual-kubelet-windows-myzone` shows the label  beta.kubernetes.io/os=windows.
The virtual-kubelet pod itself is running on the linux node, and creating a windows virtual node.

[2019-02-08 21:31] #24472 closed

[2019-02-08 21:36] TiloGit opened #24595 "How to mount other storage (not replace my cli stroage)"
How can I mount other storage like
[code]

or bash
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ecd5d368-8d1c-f984-4922-ab4c7ae14db5
* Version Independent ID: dbb6bc4c-87f4-18a0-f6e9-f9f48be1f289
* Content: [Persist files for Bash in Azure Cloud Shell](https://docs.microsoft.com/en-us/azure/cloud-shell/persist

[2019-02-08 21:40] SaurabhSharma-MSFT commented on #24377
@AlekseySokol The table is for applicable for hybrid ad join devices.  You can try using Active Directory remediation using the [IdFix](https://www.microsoft.com/en-us/download/details.aspx?id=36832) tool, which reviews the directory and performs interactive Active Directory remediation. The IDFix tool also provides assistance for migrating from a non-routable UPN (e.g. “domain.local” to an routab

[2019-02-08 21:40] jstallm commented on #24518
@MicahMcKittrick-MSFT  https://docs.microsoft.com/en-us/azure/architecture/best-practices/naming-conventions

[2019-02-08 21:40] oleksandr-bilyk opened #24596 "Azure NSG"
This page contains phrase:
"- Have necessary ports opened for Windows SMB and Remote Registry service: 135, 137, 138, 139, and 445"
Should all these ports (135, 137, 138, 139, and 445) be opened in NSG?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3a68b32-7ba0-74a4-510f-87a66dc05015
* Version Independent ID: f3b1165

[2019-02-08 21:48] MarileeTurscak-MSFT commented on #24591
@KrKandula
Thanks for your feedback! We will investigate and update as appropriate.

[2019-02-08 21:49] stansw opened #24599 "Dead links to Azure IoT Central Analytics solution template"
All the links to Azure IoT Central Analytics solution template are dead. Please update them.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 706c600f-8bc7-7819-ee28-d39bb41b8ab1
* Version Independent ID: 226da10f-2ab3-e83a-acc2-051560b49382
* Content: [Visualize your Azure IoT Central data in a Power BI dashboard](https

[2019-02-08 21:49] MicahMcKittrick-MSFT commented on #24518
@jstallm by deployment slots what service are you referring to?  I am not seeing this doc reference deployment slots

[2019-02-08 21:51] rwwinn1 opened #24600 "Running AzCopy in Cloud Shell"
One of the tools listed that Cloud Shell supports is AzCopy, but I have not been able to find out to run it in Cloud Shell.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18fb3b37-8ba1-579c-ceb4-329c283f107a
* Version Independent ID: 0ead5f4c-63a0-d782-0a89-b5d612596d89
* Content: [Azure Cloud Shell features](https://d

[2019-02-08 22:01] vhorne commented on #24401
#please-close

[2019-02-08 22:06] SaurabhSharma-MSFT commented on #24477
@gutjahr I suggest you please open a new MSDN forum post with your requirement details and community will help address your query. Please refer to below link to MSDN forum to ask new question -
https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazureplatform&forum=WindowsAzureAD&prof=required.

[2019-02-08 22:12] vhorne commented on #21355
#please-close

[2019-02-08 22:15] MicahMcKittrick-MSFT commented on #24596
@oleksandr-bilyk this doc describes deploying a standalone cluster on your local machine. Not in an Azure Environment. So for the ports, it is referring to the ports of the local machine such as through the firewall.

[2019-02-08 22:17] oleksandr-bilyk commented on #24596
@MicahMcKittrick-MSFT Thanks. On azure VMSS we open only 445 in NSG; right?

[2019-02-08 22:18] jluk commented on #24600
@rwwin1 I am not able to repro your issue, I see `azcopy` return proper output. What error are you seeing?

[2019-02-08 22:21] MicahMcKittrick-MSFT commented on #24596
@oleksandr-bilyk yes if you are trying to connect to any ports of an Azure VM from the internet regardless of if its Service Fabric, VMSS or VM the port would also need to be opened in the Network Security group. Otherwise, if you are just connecting from the internal network then there is no need for a NSG.

The NSGs just allow traffic from the internet to be allowed or disallowed to the network

[2019-02-08 22:25] Karishma-Tiwari-MSFT commented on #24472
@jzoldak Thanks for the update. Glad you were able to figure it out.

[2019-02-08 22:29] rwwinn1 commented on #24600
Justin,
Thanks. The diff between azcopy and AzCopy. azcopy works.

On Fri, Feb 8, 2019 at 3:19 PM Justin Luk <notifications@github.com> wrote:

[2019-02-08 22:32] jeevansd commented on #15269
@chetansriv and @v-viinde Please retest this and add the appropriate screenshot to show the correct role.

[2019-02-08 22:33] jeevansd commented on #13302
@chetansriv and @v-viinde Can you please add the ADP side instructions here?

[2019-02-08 22:39] Adam-Smith-MSFT commented on #24577
@saf-itpro Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-08 22:40] Adam-Smith-MSFT commented on #24584
@cjkoester Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-08 22:41] Adam-Smith-MSFT commented on #24567
@vikguptaMS Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-08 22:41] TravisCragg-MSFT commented on #24590
@blouwagie intune documents [how to use VPN profiles](https://docs.microsoft.com/en-us/intune/vpn-settings-configure) along with [certificates](https://docs.microsoft.com/en-us/intune/certificates-configure). Does this provide enough information, or is a direct example needed?

[2019-02-08 22:43] Adam-Smith-MSFT commented on #24548
@kudlatiger Thank you for the valuable feedback,we are investigating the issue.

[2019-02-08 22:43] jeevansd commented on #5850
@brentdurst @svdbusse @eentestaccount We have many customers who are using this User Provisioning service. As @svdbusse correctly pointed out recently we have added an attribute in the user mapping where you can choose the OrgUnitPath and map the user to the selected OrgUnit in G Suite. So please try that. If you cant get it working then please open the support ticket with Microsoft and we will he

[2019-02-08 22:43] jeevansd commented on #5850
#please-close

[2019-02-08 22:47] jstallm commented on #24518
@MicahMcKittrick-MSFT ,
https://docs.microsoft.com/en-us/azure/architecture/best-practices/naming-conventions.
Refers to creating seperate resource groups per environment.

https://docs.microsoft.com/en-us/azure/app-service/deploy-staging-slots
refers to creating a deployment slot, without ANY reference to how one might have organized their resource groups. What I am saying is that there should be

[2019-02-08 23:00] MicahMcKittrick-MSFT commented on #24518
@jstallm I suppose so. Although the staging slots in an app service are not the same and separating your resources using different resource groups. Each App services has the ability to have multiple slots that you can use to swap out your production environment. They are tied to your app service so you of course cannot have them in separate resource groups nor would you want to.

I think mentionin

[2019-02-08 23:07] MicahMcKittrick-MSFT commented on #24518
We also have a whole doc on deployment slots for app services

https://docs.microsoft.com/en-us/azure/app-service/deploy-staging-slots

[2019-02-08 23:15] Adam-Smith-MSFT commented on #24555
@kazshi Thank you for the valuable feedback,we are investigating the issue.

[2019-02-08 23:27] TravisCragg-MSFT commented on #24401
@PSPally We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-08 23:27] #24401 closed

[2019-02-08 23:28] SaurabhSharma-MSFT commented on #24559
@javierruizjimenez Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-02-08 23:37] asmalser-msft commented on #18837
Hi, the online doc has been updated with an additional regex example for the Replace function. It should go live no later than Monday, Feb 11. Thanks! #please-close

[2019-02-08 23:39] SoccerCore11 commented on #15269
Azure support told me after troubleshooting that user provisioning functionality in this app is only valid with Netsuite Oneworld. A new Enterprise app needs to be created for provisioning to work with non-Oneworld Netsuite subscriptions.

[2019-02-08 23:41] oleksandr-bilyk commented on #24596
@MicahMcKittrick-MSFT
Let's imagine that we are discussing only machines inside of VNet and NSG is there that by default closes everything. In this VNet I create 5 VMs or VMSS and going to make Service Fabric cluster.
This article is also related to [Create a standalone cluster running on Windows Server](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-creation-for-wind

[2019-02-08 23:42] g0pinath commented on #24418
Should I open a case to get these clarified please let me know.

On Wed, Feb 6, 2019, 9:32 PM Gopinath Thiruvengadam <
gopinath.sastra@gmail.com wrote:

[2019-02-08 23:42] Adam-Smith-MSFT commented on #24600
@jluk This could be an issue with the syntax, azcopy 8 and azcopy 10 have different syntax overall.

[2019-02-08 23:44] jeevansd commented on #15269
@SoccerCore11 That is a good information. Let me confirm internally on this.

[2019-02-08 23:44] Adam-Smith-MSFT commented on #24595
@TiloGit Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-08 23:46] MicahMcKittrick-MSFT commented on #24596
If you are just planning to using SMB then that traffic is only sent over port 445 in which case just opening that port would be enough. I have spun up many clusters using the create service fabric ps1 and it spins up without issue and I don't have any of those ports open on my local machine. That being said, I have not tested running traffic over each of those ports. So I am assuming they are sug

[2019-02-08 23:51] oleksandr-bilyk commented on #24596
OK @MicahMcKittrick-MSFT Thank you.

[2019-02-08 23:51] #24596 closed

[2019-02-09 00:01] tamram commented on #24418
@g0pinath - You will be able to test out your DR plan with account failover, anytime you want to. You can try it now using the preview, currently available in US West 2 and US West Central.

The entire purpose of the new account failover feature is to give the customer a say in when they failover the data, without having to be dependent on Microsoft. So this feature is what you are looking for. Pl

[2019-02-09 00:01] tamram commented on #24418
#please-close

[2019-02-09 00:02] femsulu commented on #24574
@sochan1 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-02-09 00:38] oleksandr-bilyk opened #24605 "Service Fabric multiple nodes deploy"
I have few questions?
1. Should I run .\CreateServiceFabricCluster.ps1 on every VM instance to deploy service fabric cluster on? Otherwise how it may be deployed to all nodes machines?
2. May I use standalone cluster with VMSS.
3. Is it real to make standalone cluster distributed in different regions. Do you have samples?
4. Is it real to make standalone cluster with two regions in Azure and one i

[2019-02-09 00:40] #21355 closed

[2019-02-09 00:40] #5850 closed

[2019-02-09 00:41] MarileeTurscak-MSFT commented on #24591
Which link are you referring to?

[2019-02-09 00:49] MicahMcKittrick-MSFT commented on #24605
@oleksandr-bilyk I have pinged you offline where we can discuss this further. I will close this and continue offline.

[2019-02-09 00:49] #24605 closed

[2019-02-09 00:53] Grace-MacJones-MSFT commented on #24581
Hi @Anand-Moghe, Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-09 00:57] Grace-MacJones-MSFT commented on #24565
Hi @avantida, thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-09 00:59] Infinitism opened #24606 "AAD Integration for WCF applications"
Hi, We are currently trying to use AAD to manage WCF applications and the documentations provided only cover ASP.Net web api or apps. Could you tell me how we could onboard WCF applications to AAD please?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 882c6669-2244-1cb1-5315-aa5feec7c95b
* Version Independent ID: 697df

[2019-02-09 01:01] Grace-MacJones-MSFT commented on #24593
Hi @falmada, thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-02-09 01:15] femsulu commented on #24588
@AlexImray Thanks for your feedback do you have a support ticket open for this so we can track?
Also adding @georgewallace to confirm if this is a known issue or if a documentation update is required.

[2019-02-09 01:24] femsulu commented on #24594
@asuresh4 Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-02-09 01:29] Alberto-Vega-MSFT commented on #24580
@inesk-vt Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-09 01:32] Alberto-Vega-MSFT commented on #24583
@inesk-vt Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-09 01:34] Alberto-Vega-MSFT commented on #24599
@stansw Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-09 01:35] femsulu commented on #24555
@kazshi since this channel is reserved for documentation related questions, I recommend posting your question on the [MSDN log analytics](https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=opinsights) forum where someone on my team will engage in the appropriate channel.

[2019-02-09 01:36] #24555 closed

[2019-02-09 01:41] brlewi commented on #24494
Test

[2019-02-09 01:43] chetansriv commented on #24277
Checking with SAP Hana team if they have any work around to accept <lastname>.<firstname> as NameId. Also, will raise a feature request with Azure engineering team to provide user.othermail as an option for mapping the claims.

[2019-02-09 01:43] brlewi commented on #24384
test

[2019-02-09 01:49] georgewallace commented on #24588
Definitely not a doc issue. Sounds like support needs to be involve to find out the root cause. Exceptions like this are not expected.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: femsulu-MSFT <notifications@github.com>
Sent: Friday, February 8, 2019 5:15:26 PM
To: MicrosoftDocs/azure-docs
Cc: George Wallace; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Run

[2019-02-09 01:59] mike-urnun-msft commented on #24589
Hi @sc-bperry Thank you for your feedback! We will review and update as appropriate.

[2019-02-09 02:13] blouwagie commented on #24582
I'm confused, both Microsoft support and I thought it went to section 4
where it should have gone to section one.

Bart Louwagie
Holmes, NY
bart@louwagie.com

On Fri, Feb 8, 2019 at 3:41 PM Cheryl McGuire <notifications@github.com>
wrote:

[2019-02-09 02:17] hrasheed-msft commented on #23181
@xiopeter3345 I have contacted the product team to get the issue resolved, but still have not heard a response. I will update you when the problem is fixed.

[2019-02-09 02:18] blouwagie commented on #24590
Hi
The document you linked to seems to contain a lot of useful information.
The article I was commenting on should contain those links under "install
on Windows" . Right now "install on Windows" just contains basic
instructions for when you are on the machine itself. So my comment was
about missing the links to documents such as the one you now indicated.   A
direct example is also always good.
Th

[2019-02-09 02:22] blouwagie commented on #24585
I see, and that is really hard to grasp. You need to grasp every word and
really already understand it all for that to sink in. May I suggest you put
the two powershell command together in ONE window. Execute them together
and then do the instructions on what to do next?

Bart Louwagie, thanks,
bart@louwagie.com

On Fri, Feb 8, 2019 at 3:36 PM Cheryl McGuire <notifications@github.com>
wrote:

[2019-02-09 02:35] lyrana commented on #24348
@Bogdan-Catalin  No worries at all! I'm glad that you got it working and our apologies for not making that more clear in the documentation, I will open a task to have that updated

[2019-02-09 04:35] tastyeggs opened #24612 "Docker disk image size"
The default settings (64G) didn't work for me -- the cluster wouldn't come online as there was no space left once I got into the container's console. Once I increased the image size to 150G, the cluster came online. Not saying we need 150G, but we definitely need more than 64G.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-02-09 05:34] KetanChawda-MSFT commented on #24409
@swt2c  checking to see if the above post helped answering your question?