[2022-11-14 06:29] FrancisZ0702 opened #101379 "Network security groups restrictions 'AzureLoadBalancer tag with the destination subnet as Any must be allowed'"
[Enter feedback here]

In this document, we see the 'AzureLoadBalancer tag with the destination subnet as Any must be allowed' in NSG configuration.
But even we set the destination as the destination subnet range it will be still working correctly.
Is the article there anything not accurate?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub is

[2022-11-14 06:32] SaibabaBalapur-MSFT commented on #101310
@joostjansenskg

https://thesleepyadmins.com/2022/08/21/microsoft-graph-restrict-access-using-conditional-access-policy/

Disclaimer: This response contains a reference to a third-party World Wide Web site. Microsoft is providing this information as convenient to you. Microsoft does not control these sites and has not tested any software or information found on these sites; therefore, Microsoft ca

[2022-11-14 06:33] SaibabaBalapur-MSFT commented on #101310
@MicrosoftGuyJFlo
Can you please check and add your comments on this doc update request as applicable.

[2022-11-14 06:36] KapilAnanth-MSFT commented on #101247
@kungfudante , CDD WAF was a preview feature, and we are not accepting any new customers. Official retirement announcement has been deferred till CDN classic announcement.

Let me know if you need further information on this

[2022-11-14 06:38] ashish-jain-microsoft opened #101380 "Instructions no longer working for azure-cli"
When I try the steps as per the document, I get an error when I try to create an AML Online Deployment. I tried both --local and regular option. The instructions and the repo worked great back in February 2022. I am from the Azure Cognitive Services team.

`$ az ml online-deployment create --local -n blue --endpoint $ENDPOINT_NAME -f endpoints/online/managed/sample/blue-deployment.yml
Command grou

[2022-11-14 06:38] ashish-jain-microsoft commented on #101380
[code]

[2022-11-14 06:49] SaibabaBalapur-MSFT commented on #101354
@JiriZidek
Thanks for reporting this! We have created a PR for this issue and the changes should go live soon.

[2022-11-14 06:58] Cloudlieu commented on #101359
Hi Team,

Below is the Page URL -

https://learn.microsoft.com/en-us/azure/synapse-analytics/get-started-create-workspace

[2022-11-14 07:13] YashikaTyagi-MSFT commented on #101307
@joostjansenskg
Could you confirm on above ask from @MicrosoftGuyJFlo

[2022-11-14 07:18] AjayBathini-MSFT commented on #101345
@cjnova
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

@haroldwongms
Could you please review it.

[2022-11-14 07:20] AjayBathini-MSFT commented on #101358
@davidjrh

Thank you for your feedback!
Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request] (https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our Q&A forum by posting your issue the

[2022-11-14 07:21] yuriwoof commented on #101029
@EricRadzikowskiMSFT I already ping you last week.
Could you clarify Q2 at least, please...?

[2022-11-14 07:30] AjayBathini-MSFT commented on #101369
@thiruma0203
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

[2022-11-14 07:30] AjayBathini-MSFT commented on #101369
@TomGeske
Can you please check and add your comments on this doc update request as applicable.

[2022-11-14 07:32] jarodsmk opened #101381 "Microsoft.Identity.Web Samples outdated"
Hi there,

It seems that the samples for a Web API that calls another Web API are outdated.

Using the latest stable Microsoft.Identity.Web (v1.25.5 at the time of writing), various method signatures have changed - such as:

- AddMicrosoftIdentityWebApi
- EnableTokenAcquisitionToCallDownstreamApi
- AddDownstreamApi

and a few others.
I've downloaded the existing samples and followed them to the ex

[2022-11-14 07:37] #101251 closed

[2022-11-14 07:40] Naveenommi-MSFT commented on #101297
@Blackmist

Could you please review and add your comments on this, update as appropriate.

[2022-11-14 07:40] Naveenommi-MSFT commented on #101297
@kiranpradeep

Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-11-14 07:42] RolandlinAKS opened #101382 "What is the exact limitation for ports per IP address"
[Enter feedback here]
According to the document, it says each IP address can have up to 5 ports. However, in the Azure CLI output, it says teach IP address can have up to 10 ports.
https://learn.microsoft.com/en-us/azure/container-instances/container-instances-quotas#service-quotas-and-limits
![image](https://user-images.githubusercontent.com/98076774/201602457-a44002ff-7272-4906-9fa1-74d9f9380ce3

[2022-11-14 07:43] davihern opened #101383 "Misleading pre-requisite"
This pre-requisite is misleading: "A web application running on Azure App Service that has the [App Service authentication/authorization module enabled](https://learn.microsoft.com/en-us/azure/app-service/scenario-secure-app-authentication-app-service)."

In order to use a Managed Identity it is not required for end users to use the AAD auth module.

[Enter feedback here]

---
#### Document Detail

[2022-11-14 07:50] Naveenommi-MSFT commented on #101359
@saveenr
Could you please review this and update as appropriate.

@Cloudlieu
Thank you for bringing this to our attention. I've assigned this issue to the author who will investigate and update as appropriate.

[2022-11-14 07:50] SnehaAgrawal-MSFT commented on #101213
@Rick-Anderson Thanks for reaching here! I have assigned the issue to the content author to review further and update the document as appropriate.

In case you looking for details on .NET 7 see here: https://azure.github.io/AppService/2022/11/08/dotnet7_ga.html

[2022-11-14 07:53] SadiqhAhmed-MSFT commented on #101324
@v-pgaddala This seems to be a valid feedback. Could you please review it and update the doc.

[2022-11-14 08:08] SaibabaBalapur-MSFT commented on #101356
@pgdrews
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

@OWinfreyATL
Can you please check and add your comments on this doc update request as applicable.

[2022-11-14 08:19] AssafFraenkel opened #101384 "The depoly failed since the links are broken. Even download the repository doesn't help since the references to the BLOB storage are wrong."
The depoly failed since the links are broken. Even download the repository doesn't help since the references to the BLOB storage are wrong

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: e399b9d2-f4e9-eaab-6751-ec4e1798d6e6
* Version Independent ID: 86d8fa72-06f2-a32e-8273-c1f9be7049d7
* Content: [Database-per-tenant S

[2022-11-14 08:27] joostjansenskg commented on #101307
Yes correct.

[2022-11-14 08:33] joostjansenskg commented on #101310
Thank you for the link, but it is not helping me with this issue. We are creating our Conditional Access rules via PowersShell Graph API scripts, but if we want to create rules with Workload Identities, we are receiving the following error 1150: Cannot create or update policies with workload identity premium features. Upgrade to a workload identity premium P1 or P2 license and try again. It looks

[2022-11-14 08:40] SauravB-MS opened #101385 "VM/VMSS integrated with key vault can be moved to a new RG, when deallocated"
[Enter feedback here]
_You can't move a virtual machine that is integrated with a key vault to implement [Azure Disk Encryption for Linux VMs](https://learn.microsoft.com/en-us/azure/virtual-machines/linux/disk-encryption-overview) or [Azure Disk Encryption for Windows VMs](https://learn.microsoft.com/en-us/azure/virtual-machines/windows/disk-encryption-overview). To move the VM, you must disable

[2022-11-14 08:42] SaibabaBalapur-MSFT commented on #101310
@joostjansenskg
I'm going to assign this to the document author so they can take a look at it accordingly.

@MicrosoftGuyJFlo
Please review it.

[2022-11-14 08:56] ciufudean opened #101387 "The "Diagnostic Settings" button was replaced by "Export Activity Logs""
Replace such text and associated screenshots.
*For the activity log, select Activity log on the Azure Monitor menu and then select Diagnostic settings*

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 89743709-c3fa-9ce1-55fb-e9b7f6d2dba9
* Version Independent ID: a4c9f0b7-5dde-d60c-1110-3ca53d904d61
* Content: [Diagnost

[2022-11-14 09:02] TheNaila opened #101388 "module 'azure.cognitiveservices.speech' has no attribute 'SpeechTranslationConfig'"
I am trying to use the module  and copied the code exactly from the article but I am getting the error "module 'azure.cognitiveservices.speech' has no attribute 'SpeechTranslationConfig'"

I am able to use the SpeechConfig method, but that then becomes a problem for the line :
"translation_recognizer = speechsdk.translation.TranslationRecognizer(translation_config = speech_translation_config., aud

[2022-11-14 09:04] YashikaTyagi-MSFT commented on #101307
@MicrosoftGuyJFlo
If you agree with this recommendation by @joostjansenskg. Please provide your feedback.

[2022-11-14 09:05] neok-g commented on #101301
Thanks @timwarner-msft  for your comment. Obviously I don't want to modify each individual assignments. We have more than 50 subscriptions onboarded to Mdfc. It would be nice if you could set some defaults for the policies in Azure Security Benchmark that are applied to each subscription.

[2022-11-14 09:22] shaktisingh-msft commented on #101376
Hi @DavidKlempfner,

Thanks for the feedback. We will look into this and update as appropriate.

[2022-11-14 09:27] shaktisingh-msft commented on #101376
Hi @ealsur,

Could you please look into this request. Thanks

[2022-11-14 09:31] VikasPullagura-MSFT commented on #101377
@tfbubu111
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-11-14 09:33] ntrogh commented on #100179
@trevor-webster I've added an example for recycling the CSV file. In that case, you can set a fixed number of iterations (see example) or specify a duration on the Thread Group to end the load test.
For _quotedData_, this is just a property to enable reading values that have double quotes around them in the CSV file.

[2022-11-14 09:49] AnuragSingh-MSFT commented on #101336
@m-yuka746, thank you for reporting it.

@noakup, could you please review this and share your thoughts. Thank you

[2022-11-14 09:51] ChrisParrBIE opened #101391 "How to determine if SFTP is already enabled in the environment."
Announcing billing changes that would cost $200/month per instance but not giving any way of determining which endpoints already have this functionality enabled isn't very customer friendly!

The doc would benefit from instructions on how to find any endpoints with SFTP enabled.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

[2022-11-14 10:10] brolifen opened #101392 "Not clear how many AAD P2 licenses are required for AAD Lifecycle workflows"
Not clear how many AAD P2 licenses you need to be able to use this new feature in a license compliant way. Since this would target only specific new and leaving users at a time it could mean that the tenant only requires a single license only just to enable the feature?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: c

[2022-11-14 10:18] cgoenka1 opened #101393 "Example given is wrong for failover"
[Enter feedback here]
For Azure CLI example it should also have the resource group name in the example which is missing in the docs.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 44ba1fba-bdd0-ab8e-ee99-d5a9ad922471
* Version Independent ID: dd7c89f7-a612-c3f9-00c0-ee3dff0c14bd
* Content: [Initiate a storage account

[2022-11-14 10:20] sstone1 opened #101394 "EnableUniqueCompoundNestedDocs capability does not seem to exist"
The specified content references a capability called `EnableUniqueCompoundNestedDocs` but I cannot see it as an option in the Azure console, nor can I enable it via Terraform or the CLI: https://github.com/hashicorp/terraform-provider-azurerm/issues/19192

Does this capability actually exist? If so, how do I enable it?

---
#### Document Details

⚠ *Do not edit this section. It is required for lea

[2022-11-14 10:33] SaibabaBalapur-MSFT commented on #101368
@jamesdplee
I'm going to assign this to the document author so they can take a look at it accordingly.

@tamram
Can you please check and add your comments on this doc update request as applicable.

[2022-11-14 10:37] jyothisuri commented on #101324
Hi@SadiqhAhmed-MSFT  @ankitaduttaMSFT is the current writer for ASR, could you please assign this to her.

cc
@v-pgaddala FYI

[2022-11-14 10:44] koichino opened #101395 "Unable to download "Create-Spark-Table-NYCTaxi- Data.ipynb " for tutorial"
[Enter feedback here]
Unable to download  notebook "Create-Spark-Table-NYCTaxi- Data.ipynb " for tutorial with error below. Looks no public access permitted.

<Error>
<Code>PublicAccessNotPermitted</Code>
<Message>Public access is not permitted on this storage account. RequestId:2284df8f-f01e-0093-2c13-f8a728000000 Time:2022-11-14T10:26:36.6567356Z</Message>
</Error>

---
#### Document Details

⚠

[2022-11-14 10:56] ManoharLakkoju-MSFT commented on #101378
@zakimal
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-14 10:56] shaktisingh-msft commented on #101394
Hi @sstone1,

Thanks for sharing this feedback. We will look into this and update as appropriate.

[2022-11-14 10:59] ManoharLakkoju-MSFT commented on #101379
@FrancisZ0702
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-14 11:05] ManoharLakkoju-MSFT commented on #101383
@davihern
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-14 11:05] p2436b commented on #46017
Exactly, we have the same issue.

[2022-11-14 11:10] ManoharLakkoju-MSFT commented on #101384
@AssafFraenkel
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-14 11:15] #82507 closed

[2022-11-14 11:20] shaktisingh-msft commented on #101384
Hi @WilliamDAssafMSFT,

Could you please look into this document link update. Thanks

[2022-11-14 11:49] ichibanbrew commented on #101296
It pertains to the following doc pages.

- https://snapcraft.io/storage-explorer
- https://snapcraft.io/install/storage-explorer/kubuntu
- https://learn.microsoft.com/en-us/azure/vs-azure-tools-storage-manage-with-storage-explorer?tabs=linux

All of the above instruct running `snap connect storage-explorer:password-manager-service :password-manager-service`, but the command does not work if you're

[2022-11-14 11:59] SaibabaBalapur-MSFT commented on #101296
@ichibanbrew
I'm going to assign this to the document author so they can take a look at it accordingly.

@CawaMS
Can you please check and add your comments on this doc update request as applicable.

[2022-11-14 12:00] SadiqhAhmed-MSFT commented on #101324
@jyothisuri Thanks for redirecting to the right POC.

@ankitaduttaMSFT Please review the feedback and take appropriate action

[2022-11-14 12:34] JarleJac opened #101396 "Custom storage accounts and keys - and the well-known devstoreaccount1"
[Enter feedback here]
In the note that states "The default devstoreaccount1 storage account is disabled when you set custom storage accounts". It might be nice to mention that you can add the Well-known storage account and key as part of the account list to enable both the well-known and custom accounts.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.co

[2022-11-14 13:05] civanescu opened #101397 ""azureml.core" incompatible with Python 3.10.5"
Trying to follow machine learning training at https://learn.microsoft.com/en-us/training/modules/train-local-model-with-azure-mls/2-training-scripts found the following issue.

Python environment: Python 3.10.5
Package: azureml-core 1.0.23
Environment: Windows 11 Pro 10.0.22621 + Visual Studio Code 1.73.1 + Python extension v2022.18.2
Code section:
[code]
Error result:
[code]
Some latest python in

[2022-11-14 13:10] gh-skatt opened #101398 "Secondary artifact blob storage uses private endpoints"
The Artifact Blob storage secondary specified for East US, West Central US, Korea East, West US 2, Korea Central, Norway East and South Africa North regions does not work for customers that have created the privatelink.blob.core.windows.net zone in their tenants.

- dbartifactsprodwestus.blob.core.windows.net is an alias for dbartifactsprodwestus.privatelink.blob.core.windows.net
- dbartifactsprod

[2022-11-14 13:27] Blackmist commented on #101297
Thanks for the question @kiranpradeep

@kvijaykannan and @sdgilley can you provide any information on whether there are any guarantees on the order of rows `.to_dataframe_pandas()` and `.download()` methods of datasets?

[2022-11-14 13:28] fleed opened #101399 "Add example with different labels"
Would be helpful to have an example that sets different labels.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 52bb87e3-c3f2-aacb-0c91-fc09f85d5f84
* Version Independent ID: b9c6a887-89c1-c725-93d0-2e6da2028253
* Content: [Create an Azure App Configuration store using Bicep - Azure App Configuration](https://learn.mic

[2022-11-14 13:29] Blackmist commented on #101297
#reassign:sdgilley

[2022-11-14 13:30] AshokPeddakotla-MSFT commented on #101281
@SillyKeith PR has been created to remove extra space in the command. Regarding using V2 handler, Since it requires validation and confirmation, Adding @vimeht for further review and update the doc if necessary.

[2022-11-14 13:41] timwarner-msft commented on #97827
Hi @dilv0055! I'll make sure the Azure Policy engineering team sees your post. I'll also promote on my personal Twitter feed. Thanks! -Tim

[2022-11-14 13:41] timwarner-msft commented on #97827
#please-close

[2022-11-14 13:41] #97827 closed

[2022-11-14 13:57] SilviuMihai opened #101400 "reCAPTCHA related - API Connector/ Nobody answers to the questions at "Issue" section"
Hello,

Nobody answers in the reCAPTCHA example that is on the Azure B2C page (for the API Connectors), and more specifically in the "Issue" sections of the following link: [active-directory-b2c-node-sign-up-user-flow-captcha](url)

Can somebody answer ? or ?

Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID:

[2022-11-14 13:58] lightupdifire commented on #92294
@MarileeTurscak-MSFT
Any update? seems still set to require approved app and not Block access...

[2022-11-14 14:03] lightupdifire opened #101401 "Require approved client apps or app protection policy with mobile devices"
Hello,

About this one: Require approved client apps or app protection policy with mobile devices
Shouldn't it be targeted only to Exchange and not to All Apps?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 14348ba7-48f0-1862-ebec-0fc3640e587d
* Version Independent ID: 8188cee4-3f28-6014-f3be-1ee9e9b183b6
* Content:

[2022-11-14 14:07] mumian commented on #100877
@dazinator - thank you for your comments.  I have created a PR to address the issue - https://github.com/MicrosoftDocs/azure-docs-pr/pull/218221.

#please-close

[2022-11-14 14:08] #100877 closed

[2022-11-14 14:15] ManoharLakkoju-MSFT commented on #101380
@ashish-jain-microsoft
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-14 14:18] ManoharLakkoju-MSFT commented on #101385
@SauravB-MS
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-14 14:21] ManoharLakkoju-MSFT commented on #101387
@ciufudean
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-14 14:22] ManoharLakkoju-MSFT commented on #101381
@jarodsmk
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-14 14:23] ManoharLakkoju-MSFT commented on #101382
@RolandlinAKS
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-14 14:25] ManoharLakkoju-MSFT commented on #101391
@ChrisParrBIE
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-14 14:27] ManoharLakkoju-MSFT commented on #101393
@cgoenka1
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-14 14:28] ManoharLakkoju-MSFT commented on #101392
@brolifen
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-14 14:30] ManoharLakkoju-MSFT commented on #101388
@TheNaila
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-14 14:32] ManoharLakkoju-MSFT commented on #101395
@koichino
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-14 14:34] ManoharLakkoju-MSFT commented on #101396
@JarleJac
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-14 14:39] ManoharLakkoju-MSFT commented on #101401
@lightupdifire
Thanks for your feedback! We will investigate and update as appropriate.`

[2022-11-14 14:41] ManoharLakkoju-MSFT commented on #101397
@civanescu
Thanks for your feedback! We will investigate and update as appropriate.

It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!

[2022-11-14 14:45] ManoharLakkoju-MSFT commented on #101398
@gh-skatt
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-14 14:47] ManoharLakkoju-MSFT commented on #101399
@fleed
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-14 14:48] mcteufelms opened #101403 "wrong word (machine-language -> machine learning) in docs page"
[Enter feedback here]
"Customers can detect anomalous activities with machine **language**-powered (ML-powered) alerts and generate detailed forensic reports."

I guess this should rather be:

"Customers can detect anomalous activities with machine **learning** -powered (ML-powered) alerts and generate detailed forensic reports."

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2022-11-14 14:57] Abderahman88 opened #101404 "Missing link to postman collection (SharePoint Online Indexer)"
In the video `Azure Cognitive Search : SharePoint Online Indexer` (4:12) a postman collection is used to run some Azure Cognitive Search REST API's.

Is it public and where can I find the link to this collection ?

f.e. [Azure Search Postman](https://learn.microsoft.com/en-us/samples/azure-samples/azure-search-postman-samples/rest-api-skill-example/)

---
#### Document Details

⚠ *Do not edit this

[2022-11-14 15:09] wUEZRs opened #101405 "Burn down your environment to test?"
Verifying that Bastion runs Kerberos is done by disabling NTLM?
What if it's not? What if the server now can't be connected to?

Disabling NTLM to audit if Bastion used Kerberos sounds like a "scream test your domain controllers" type of solution and should not be encouraged?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

*

[2022-11-14 15:11] CelesteDG commented on #96305
#reassign:@csmulligan

[2022-11-14 15:22] MicrosoftGuyJFlo commented on #101307
#unassign:@YashikaTyagi-MSFT

[2022-11-14 15:22] ealsur commented on #101365
Opening the ports depends completely on the platform you use, we cannot provide a link as it would be impossible to cover all the potential platforms.

[2022-11-14 15:23] MicrosoftGuyJFlo commented on #101307
Resolving with a PR in our private repo

[2022-11-14 15:23] ManoharLakkoju-MSFT commented on #101403
@mcteufelms
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-14 15:23] ealsur commented on #101376
V2 is on deprecation path in the next couple of months, the documentation used to have Direct/HTTPs but it was removed in favor of more recent content. Adding it back when it's about to be deprecated would add little value.

[2022-11-14 15:26] ManoharLakkoju-MSFT commented on #101404
@Abderahman88
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-14 15:29] ManoharLakkoju-MSFT commented on #101405
@wUEZRs
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-14 15:30] MicrosoftGuyJFlo commented on #101152
It is there. Was added probably around the same time you made the issue. https://github.com/MicrosoftDocs/azure-docs/commit/b2f97f208513012d7f8fb26c5461c77e2c8406b7

#please-close

[2022-11-14 15:30] #101152 closed

[2022-11-14 15:31] MicrosoftGuyJFlo commented on #101307
#label:"assigned-to-author"

[2022-11-14 15:32] #101307 closed

[2022-11-14 15:45] #101327 closed

[2022-11-14 15:47] ChaitanyaNaykodi-MSFT commented on #101327
@ashokgop, Thank you for your feedback. I have made a PR to address this issue and the change will go live soon. Thank you!

[2022-11-14 15:48] seesharprun commented on #101349
Thanks @IamMeenakshiMathur, we are in the process of updating screenshots across many articles.

[2022-11-14 15:49] MrRitt opened #101406 "Authorizing time limit / timeout?"
Unless I'm missing it, there doesn't seem to be a callout for the time to authorize replication between volumes.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 31a278dd-3412-dab5-e553-a09406618771
* Version Independent ID: a18cfe9d-3f35-6c47-e81d-f0d553397c61
* Content: [Create volume replication for Azure NetApp File

[2022-11-14 15:50] MrRitt opened #101407 "error to document for replication"
Seems like this error may surface when authorizing replication is not done timely.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 404bbddd-25fa-e791-5019-d33c9956a363
* Version Independent ID: 11d54df6-c231-5d6a-532a-8c76b4ae6141
* Content: [Troubleshoot cross-region replication errors for Azure NetApp Files](https://

[2022-11-14 15:52] gogbg commented on #29819
It's a shame that the documentation was not updated after this issue.
I've wasted days until I found the same solution

[2022-11-14 15:57] ashokgop commented on #101327
Thank you @ChaitanyaNaykodi-MSFT !

[2022-11-14 16:01] xaevik commented on #98717
Any update on this issue? Our Stakeholders are pushing for us to scrap the implementation on Azure and migrate to AWS due to this as the rules engine for Azure CDN Microsoft is inadequate for our business requirements.

[2022-11-14 16:01] khdownie commented on #101332
@jsimsmsft from our docs it appears that NFS 4.1 shares (Premium file shares) support both hard links and symbolic links (see Available Protocols table):
https://learn.microsoft.com/en-us/azure/storage/files/storage-files-planning

Is this not correct? Could you please share the bug you're referring to, or give more information?

[2022-11-14 16:12] spelluru commented on #101352
@pisaev - Thanks for the feedback. Apprecaite it. Quickstarts for someone new to the service or even new to Azure, so we keep them as simple as possible. Having said that, there's an initiative to start adding passwordless version of quickstarts. We have just added passwordless version of quickstart to Service Bus docs.

https://learn.microsoft.com/en-us/azure/service-bus-messaging/service-bus-dot

[2022-11-14 16:12] #101352 closed

[2022-11-14 16:14] gmndrg commented on #101404
Hi @Abderahman88 unfortunately that is not a public collection, but it was the Program Manager's at the time. This was set just for demonstration purposes and not available any longer.

[2022-11-14 16:14] gmndrg commented on #101404
#please-close

[2022-11-14 16:19] MChez opened #101408 "Out of Date Instructions"
Hi,

It looks like the instructions on this page need updating because the code in the [Git repo](https://github.com/Azure-Samples/ms-identity-javascript-react-tutorial/blob/main/3-Authorization-II/2-call-api-b2c) does not match the code examples in the instructions.

For example,

- The API application configuration is in an authConfig.js file, not a config.json file.
- There is no `issuer` prope

[2022-11-14 16:21] mbender-ms commented on #87056
@GuyPaddock Thanks for the detailed feedback and suggestions for this article. I've created a work item on this, and will review/update the doc accordingly.

#Please-close

[2022-11-14 16:32] nelroosevelt commented on #101274
Could you clarify "Azure App Services - Not all App Services are eligible." by providing a link to the supporting information or providing more details.

[2022-11-14 16:34] ravikiran-srini opened #101411 "Document incorrect about copying blob data between two storage accounts in different tenants."
Hello,

I can copy blob data between two storage accounts in different tenants.

The document requires that both the Source and destination accounts must belong to the same Azure AD tenant (point 1 in the below link).
https://learn.microsoft.com/en-us/azure/storage/common/storage-use-azcopy-blobs-copy#guidelines

This looks incorrect as I was able to copy data between tenants.

---
#### Document D

[2022-11-14 16:43] eric-urban commented on #101388
@TheNaila @ManoharLakkoju-MSFT -

This version works:

[code]

We'll update the doc ASAP. Thanks!

[2022-11-14 16:44] eric-urban commented on #101388
#please-close

[2022-11-14 16:45] civanescu commented on #101397
@ManoharLakkoju-MSFT , I don't understand the requirement. I tried to run the code from the training lesson. From python 3.10 it is obligatory to use `from collection.abc import Iterable` ... From error it appear: `azureml\_base_sdk_common\utils.py", line 10, in <module>  from collections import Iterable`

In detail, the code from Azure Machine Learning DP-100 is:
[code]

[2022-11-14 16:46] WilliamDAssafMSFT commented on #101384
Thanks @AssafFraenkel for pointing this out. We are aware of the issue and are rehousing the files. Will update.

[2022-11-14 17:11] acruz2021 opened #101413 "Missing comma on the API configuration for both plans"
[Enter feedback here]

Hi,

there's a comma missing in the API templates. It should be like this:

{
"properties": {
    "pricingTier": "Standard",
    "subPlan": "PerTransaction"
    }
}

The comma missing is after the standard word within quotes. It should be added on both API templates.
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue

[2022-11-14 17:25] WilliamDAssafMSFT commented on #101384
Thanks again @AssafFraenkel for this note. The location custom deployment template has been updated. Can you be more specific as to the broken blob storage links?

[2022-11-14 17:27] WilliamDAssafMSFT commented on #101384
#label:"doc-bug"

[2022-11-14 17:28] haroldwongms commented on #101345
@AjayBathini-MSFT
I was asked to remove the old and outdated repo containing the template for OpenShift Origin.  I forgot we had this page as well.  This should be deleted.

[2022-11-14 17:35] nkrebsbach commented on #89430
@VikasPullagura-MSFT, @kirpasingh  - can you please check on this? The documentation is still requiring an update. Thank you!

[2022-11-14 17:38] MicrosoftGuyJFlo commented on #99848
Recommendation for configuration using Conditional Access is not to enable "remember trusted devices". The Common policies doc lists out some policies you might want to use depending on if you have Azure AD P1 or P2 licenses. https://learn.microsoft.com/azure/active-directory/conditional-access/concept-conditional-access-policy-common

#please-close

[2022-11-14 17:38] #99848 closed

[2022-11-14 17:44] ChristianBeier commented on #100206
@SatishBoddu-MSFT I followed the ask at [Microsoft Q&A](https://learn.microsoft.com/en-us/answers/questions/1077790/support-request-for-deploy-multiple-module-instanc.html) which was about having multiple module instances configured. There is an issue with Azure Storage Explorer and Azure IoT Edge Blob Storage API version what requires to have "Target Azure Stack Hub APIs" activated in Azure Stora

[2022-11-14 18:08] SatishBoddu-MSFT commented on #100206
Thank you @ChristianBeier we are looking into this issue.

[2022-11-14 18:14] DavidLangworthy opened #101416 "Azure Storage Private Endpoint Tutorial needs update"
This needs to be updated for the latest bastion instructions.

https://learn.microsoft.com/en-us/azure/bastion/tutorial-create-host-portal

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 162050e3-c465-0dbf-77a7-dfb6c59ac7c2
* Version Independent ID: 1711d962-fe8e-c895-9770-d1794ceb35cb
* Content: [Tutorial: Connect to

[2022-11-14 18:27] rdsserrao commented on #65988
Hello,
Didn't understand where the " were added in [jlichwa](https://github.com/jlichwa) comment.
Still having the same problem using Powershell:
![image](https://user-images.githubusercontent.com/76655210/201736816-b7cb428e-6891-45ca-9214-764c1c72d61f.png)

When i try reading from file as in https://github.com/Azure/azure-cli/blob/dev/doc/quoting-issues-with-powershell.md, it tells me i'm using t

[2022-11-14 18:39] xaevik commented on #98717
@GitaraniSharma-MSFT @duongau

Has there been any progress on this matter? Our stakeholders are asking us now to look at migrating our entire solution from Azure to AWS as it appears that neither Azure CDN Classic (Microsoft) nor Azure Front Door support Regular Expression capture in URL rewrites and this is a necessary requirement for our implementation.

[2022-11-14 18:47] ericthomas1 opened #101418 "Typo"
Hello,

It appears there is a typo on this page.

**The following sentence should likely be amended**:
- "Extension bundles are a way to add a pre-defined set of compatible ~~set of~~ binding extensions to your function app."

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 5fb82e02-5c41-239b-4903-aab80ff15215
* Version

[2022-11-14 18:58] richshadman opened #101419 "Due to the sandbox mount point, this example does not work"
The below example fails for windows nodes due to the sandbox mount point (C:\C\hashvalueofthecontainer).

I have examples in the comments below that show workarounds, one using powershell on the host, one using pwsh from the container.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 24ad7559-335d-43d6-24d4-0de3cf7db10b

[2022-11-14 19:19] ericthomas1 opened #101420 "Typo"
Hello,

It appears there is a typo on this page.

**The following sentence should likely be amended**:
- "Extension bundles are a way to add a pre-defined set of compatible ~~set of~~ binding extensions to your function app."

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 5fb82e02-5c41-239b-4903-aab80ff15215
* Version

[2022-11-14 19:31] barclayn commented on #81104
@commakoerschgen Thank you for your feedback. I have created a work item for us to track internally and triage when appropriate. #please-close

[2022-11-14 19:31] #81104 closed

[2022-11-14 19:38] AaronMaxwell commented on #99774
@SWarnberg Our engineering team is attempting to reproduce this issue. What kind of workload were you testing with inside your Docker? (.NET, Java, Node, etc.).

[2022-11-14 20:00] AlexSchwerzmann commented on #100628
Thanks, @Nicholak-MS

[2022-11-14 20:04] barclayn commented on #101189
@anwarmahmood1 thank you for your feedback. I have created an internal work item for us to triage and make the necessary updates in a future sprint.

[2022-11-14 20:04] #101189 closed

[2022-11-14 20:09] kegregoi opened #101425 "Virtual Machine guest extension"
The following line is listed in these 3 sections [Microsoft.compute/virtualmachines](https://learn.microsoft.com/en-us/azure/service-health/resource-health-checks-resource-types#microsoftcomputevirtualmachines), [Microsoft.compute/virtualmachinescalesets
](https://learn.microsoft.com/en-us/azure/service-health/resource-health-checks-resource-types#microsoftcomputevirtualmachinescalesets), and [Mic

[2022-11-14 20:11] siwibowo opened #101426 "Virtual Network Support for Windows ACI"
The main page https://learn.microsoft.com/en-us/azure/container-instances/container-instances-virtual-network-concepts says "Container group deployment to a virtual network is generally available for Linux and Windows containers, in most regions where Azure Container Instances is available."

but this page https://learn.microsoft.com/en-us/azure/container-instances/container-instances-region-avail

[2022-11-14 20:15] #100042 closed

[2022-11-14 20:17] lauradolan commented on #100042
Thanks for your feedback. These links have been updated and will be published shortly. The new links are:

- [Linux sample app](https://github.com/Azure/confidential-computing-cvm-guest-attestation/tree/main/cvm-platform-checker-exe/Linux)
- [Windows sample app](https://github.com/Azure/confidential-computing-cvm-guest-attestation/tree/main/cvm-platform-checker-exe/Windows)

[2022-11-14 20:26] mumian commented on #100947
@thisjustin816 - thank you .  I have created a PR to update the limits - https://github.com/MicrosoftDocs/azure-docs-pr/pull/218298

#please-close

[2022-11-14 20:26] #100947 closed

[2022-11-14 20:45] hailugebru commented on #100833
Hello,

Can I work with the author on this one? I have the running deployment and I
can show him the setup.

Thank you,
Hailu

On Sun, Nov 13, 2022 at 8:37 PM SwathiDhanwada-MSFT <
***@***.***> wrote:

[2022-11-14 20:54] RichardSmith1208 opened #101427 "Question about whether Public IP addresses remain - or are lost, when upgrading the Hub isn't stated on the page"
Needing to know this information about public IP addresses, when upgrading the hub:
When hubs are upgraded to Standard, do any public IP address associated with them remain - or are they lost?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 269ded52-f86a-b3a0-7b9b-8c3a4c88e1ef
* Version Independent ID: eec65f6f-24f9-2b

[2022-11-14 20:55] nicholasgcotton opened #101428 "Missing Content or Wrong target link"
This page is linked in example code on github (https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/master/samples/batch/python/python-client/main.py at line 144-146) as having a list of configuration properties for the SPX batch method, but it does not have that information.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub iss

[2022-11-14 21:08] mumurug-MSFT commented on #101420
@ericthomas1 Thanks for the feedback. This appears to be duplicate of #101418 and hence we will proceed to close this thread. Feel free to add a comment if you have any other questions or feedback.

[2022-11-14 21:12] mumurug-MSFT commented on #101418
@ericthomas1 Thanks for the feedback. We have made the changes as appropriate, and it will be published soon.

[2022-11-14 21:23] #101418 closed

[2022-11-14 21:32] SLeuthold opened #101429 "What level of Azure RBAC permissions does the PAL identity need in order show revenue?"
What level of Azure RBAC permissions does the PAL identity need in order show revenue?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 5f901056-c225-b086-cdaa-c8bd978db64c
* Version Independent ID: 9c067eb4-54cb-e141-d82f-e136ff3c671e
* Content: [Link a partner ID to your account that’s used to manage customers - Micro

[2022-11-14 21:33] SLeuthold opened #101430 "If the PAL identity is deleted and/or disabled does all future ACR attribution telemetry stop?"
If the PAL identity is deleted and/or disabled does all future ACR attribution telemetry stop?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 5f901056-c225-b086-cdaa-c8bd978db64c
* Version Independent ID: 9c067eb4-54cb-e141-d82f-e136ff3c671e
* Content: [Link a partner ID to your account that’s used to manage customers

[2022-11-14 21:47] museg27 opened #101432 ".metadata.name specifies the deployment name, not "Specifies the image to run. This file will run the nginx image from Docker Hub." on the page: https://learn.microsoft.com/en-us/azure/aks/concepts-clusters-workloads#deployments-and-yaml-manifests"
.metadata.name specifies the deployment name, not "Specifies the image to run. This file will run the nginx image from Docker Hub." on the page: https://learn.microsoft.com/en-us/azure/aks/concepts-clusters-workloads#deployments-and-yaml-manifests
#########################################
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue link

[2022-11-14 21:54] TheNaila opened #101433 "How to get around the "Exception with an error code: 0xe (SPXERR_MIC_NOT_AVAILABLE)" error"
I did look at previous issues mentioning this and I couldn't understand any of them nor did they look like they solved the problem

I am copying the code exactly from the article

The error seems to be from this line:

translation_recognizer = speechsdk.translation.TranslationRecognizer(audio_config = audio_config, translation_config=speech_translation_config)

This is the full error message I am

[2022-11-14 22:14] AaronMaxwell commented on #99998
The footnote has been clarified in https://github.com/MicrosoftDocs/azure-docs-pr/pull/218320. We have filed an internal work item for further clarification as this feature matures in the near future.  #please-close

[2022-11-14 22:14] #99998 closed

[2022-11-14 22:22] drdamour commented on #99998
that link 404's

[2022-11-14 22:49] hhunter-ms commented on #100806
[This issue has been resolved](https://github.com/MicrosoftDocs/azure-docs/pull/101412) - thanks for your contribution, @Ashi-Sunnam!

[2022-11-14 22:49] hhunter-ms commented on #100806
#please-close

[2022-11-14 22:49] #100806 closed

[2022-11-14 23:26] prakhya opened #101437 "Typo in shared disk, billing implication section"
I think there's a typo here, diskMBpsReadWrite repeated twice.

The four performance throttles a shared ultra disk has are diskMBpsReadWrite, diskIOPSReadOnly, diskMBpsReadWrite, and diskMBpsReadOnly.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 38b73c0b-4ef3-03ec-6d17-7085ed9a9c86
* Version Independent ID: 41c65315

[2022-11-14 23:27] DavidKlempfner opened #101438 "UserAgentSuffix"
It could be helpful to add that `ConnectionPolicy.UserAgentSuffix` has been replaced with `CosmosClientBuilder.WithApplicationName()`.

I was searching for `UserAgentSuffix` and was only able to find out about `WithApplicationName` from looking at the source code.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 19ee5ae

[2022-11-14 23:34] jenniferf-skc commented on #101340
I have removed the steps that mention the Configuration tab on both articles, and have submitted PR requests.

[2022-11-14 23:42] jenniferf-skc commented on #101340
https://review.learn.microsoft.com/en-us/azure/active-directory/cloud-infrastructure-entitlement-management/product-permission-analytics?branch=pr-en-us-218334

https://review.learn.microsoft.com/en-us/azure/active-directory/cloud-infrastructure-entitlement-management/product-statistical-anomalies?branch=pr-en-us-218335

These have been merged and should be live tomorrow morning.

[2022-11-14 23:49] barclayn commented on #80853
@tech1982 Thank you for pointing this out. I'll get this matter addressed. #please-close

[2022-11-14 23:49] #80853 closed

[2022-11-15 00:04] AbdullahBell commented on #99481
I appreciate the notification and updated the links.

[2022-11-15 00:04] AbdullahBell commented on #99481
#please-close

[2022-11-15 00:04] #99481 closed

[2022-11-15 00:07] richshadman commented on #101419
After trial and error, i have discovered that the above issue is not the root of the issue. The issue is rather that the example is trying to execute pwsh from the container, however it must actually execute from the host node which does not have pwsh installed. Changing the command line to the following:

[code]

[2022-11-15 00:09] mikebudzynski commented on #99041
No, a 'call' represents an incoming call to the API Management service. All the policies, incl. throttling or IP filter, involve request processing in API Management, hence they are counted towards the API invocation quota.

[2022-11-15 00:22] richshadman commented on #101419
This also works -

[code]

The issue is apparently the privileged context. If I want to run pwsh from the container i need to include the sandbox mount point in the path.

[2022-11-15 02:25] Iamsoto commented on #94235
@mike-urnun-msft

Similar to the comments above.

Our solution currently relies on the _Azure CosmosDB_ retry policy. After reading the [docs mentioned by OP](https://learn.microsoft.com/en-us/azure/azure-functions/functions-bindings-error-pages?tabs=fixed-delay%2Cin-process&pivots=programming-language-python#retry-policiesretry-policies) and others, I can't find a good work-around. Can Someone di

[2022-11-15 02:28] TonySh127-ms opened #101443 "Need to review if Slack user provisioning required the app installation before step 4"
Hi Team,

I would like to kindly point out. The SaaS app Slack seem to require new app installation before step 4. It could cause the user cannot click the authentication button at AAD user provisioning configuration page.  We would like to double check if this process is necessary on this tutorial. If yes, may I know is that possible help to add in the next version doc?

<img width="419" alt="ima

[2022-11-15 02:34] ManoharLakkoju-MSFT commented on #101413
@acruz2021
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-15 02:36] ManoharLakkoju-MSFT commented on #101432
@museg27
Thanks for your feedback! We will investigate and update as appropriate.

It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!

[2022-11-15 02:37] ChaitanyaNaykodi-MSFT commented on #101416
@DavidLangworthy
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-11-15 02:38] ChaitanyaNaykodi-MSFT commented on #101427
@RichardSmith1208 Thank you for your feedback! We will review and update as appropriate.

[2022-11-15 02:42] ManoharLakkoju-MSFT commented on #101406
@MrRitt
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-15 02:43] ManoharLakkoju-MSFT commented on #101407
@MrRitt
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-15 02:44] ManoharLakkoju-MSFT commented on #101408
@MChez
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-15 02:50] ManoharLakkoju-MSFT commented on #101425
@kegregoi
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-15 02:51] pgaske commented on #82555
+1 on this.  Would be good for testing scenarios to be able to have a read-only key.

[2022-11-15 02:52] ManoharLakkoju-MSFT commented on #101419
@richshadman
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-15 02:54] ManoharLakkoju-MSFT commented on #101411
@ravikiran-srini
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-15 02:55] ManoharLakkoju-MSFT commented on #101411
@normesta
Thanks for your inputs

@ravikiran-srini
if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-11-15 02:57] ManoharLakkoju-MSFT commented on #101426
@siwibowo
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-15 02:57] CawaMS commented on #101296
Adding @Storage Tools ***@***.***>

Sent from Outlook<http://aka.ms/weboutlook>
From: Saibaba Balapur Hireka ***@***.***>
Sent: Monday, November 14, 2022 3:59 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Catherine Wang ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Azure Storage Explorer asks to connect to Password Manager on Kubuntu with KWalletManager installed (I

[2022-11-15 02:59] ManoharLakkoju-MSFT commented on #101428
@nicholasgcotton
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-15 03:00] ManoharLakkoju-MSFT commented on #101429
@SLeuthold
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-15 03:02] ManoharLakkoju-MSFT commented on #101430
@SLeuthold
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-15 03:03] ManoharLakkoju-MSFT commented on #101433
@TheNaila
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-15 03:05] ManoharLakkoju-MSFT commented on #101437
@prakhya
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-15 03:06] ManoharLakkoju-MSFT commented on #101438
@DavidKlempfner
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-15 03:10] ManoharLakkoju-MSFT commented on #101443
@TonySh127-ms
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-15 03:19] ManoharLakkoju-MSFT commented on #101413
@acruz2021
Thanks for pointing this out. Required changes have been made and visible in the document itself. I am going to close this thread now. Please feel free to reach out.

[2022-11-15 03:19] #101413 closed

[2022-11-15 03:20] OzBob commented on #46017
description in help " select the red **past due** banner to settle the balance"
screen shot description "in the status column, find the item with **past due**, select 'Settle balance'
the screen shot still needs updating from a current version of the portal Cost Management + Billing - Overview page

[2022-11-15 03:22] bangdu-ms opened #101445 "Request to add statement about default IME behavior when selecting"
[Enter feedback here]
Hello Bastion team,

Please let me share the feedback from my customer about this FAQ

Currently Bastion support selecting default language when connecting to VM via RDP, this affects the not only the keyboard mapping, but default IME as well. But this is not mentioned in Bastion doc.
![image](https://user-images.githubusercontent.com/67455454/201818848-f130eeb8-41c5-4a4a-a80

[2022-11-15 03:29] RamanathanChinnappan-MSFT commented on #101098
Hi @rolyhudson

I apologize for your concern, we have certain access to reproduce the issue, But our supporting Team Q & A, others have that one. So I referred you to connect with the team for better solution. Please go through above links which we have shared.

[2022-11-15 03:33] Oury-MSFT commented on #101338
@hannosgit Thank you for being patient while checking on this. As you mentioned above the test states that to use Java 18 and a recent PostgreSQL driver for Java.
@saimicrosoft please see customer feedback above regarding the Java version mentioned in the doc. Should it be version 8 and above or 18?

[2022-11-15 03:34] Naveenommi-MSFT commented on #101388
Hi @eric-urban

Thanks for your response.

[2022-11-15 03:35] ManoharLakkoju-MSFT commented on #101357
@tspearconquest
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

@rolyon
Can you please check and add your comments on this doc update request as applicable.

[2022-11-15 03:43] ManoharLakkoju-MSFT commented on #101403
@mcteufelms
Thanks for reporting this! We have created a PR for this issue and the changes should go live soon.

[2022-11-15 03:43] SaibabaBalapur-MSFT commented on #101124
@SadiqhAhmed-MSFT
Please review it.

[2022-11-15 03:45] KrishnaG-MSFT commented on #101244
@jeromelearner I see it under Insights section but not under Application Insights section. Am I missing something? Can you please elaborate?

<img width="185" alt="image" src="https://user-images.githubusercontent.com/45988031/201821427-4b6779e9-acc2-4205-a3c0-26bcef120726.png">

[2022-11-15 03:45] SaibabaBalapur-MSFT commented on #101298
@DeepaThiruna
We are going to close this thread, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-11-15 03:45] #101298 closed

[2022-11-15 03:51] aaaaasam opened #101446 "I can see more AAD audit log activity types on Portal than documents"
# The issues service or technology
-  Service Name -> Azure AD
-  Issue name -> I can see more AAD audit log activity types on Portal than documents

# The issues documentation link
https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/active-directory/reports-monitoring/reference-audit-activities.md

# Auditlog activity list obtained on Portal
User deleted security info
User registered s

[2022-11-15 04:07] cheekeong84 opened #101447 "Amortized Cost view is not working"
1. The API version in this page is showing 2019-05 but the latest API version is 2020-10
2. I've tried to filter by using metric=amortizedview on an EA subscription but the result is showing all the actual cost. How do i fix this? The query i am using is as below: -https://management.azure.com/providers/Microsoft.Billing/billingAccounts/xxxxxxxxx/providers/Microsoft.Billing/billingPeriods/202210/p

[2022-11-15 04:14] SaibabaBalapur-MSFT commented on #101332
@khdownie
Thank for your quick response.

@jsimsmsft
if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-11-15 04:19] ManoharLakkoju-MSFT commented on #101364
@ForteUnited
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

@TerryLanfear
Can you please check and add your comments on this doc update request as applicable.

[2022-11-15 04:24] yashamygb opened #101448 "How to get the same output that we are getting in vision studio through api of local image?"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2022-11-15 04:26] yashamygb commented on #101448
[
  {
    "page": 1,
    "angle": 0,
    "width": 989,
    "height": 1280,
    "unit": "pixel",
    "lines": [
      {
        "boundingBox": [
          434,
          112,
          549,
          112,
          549,
          129,
          434,
          129
        ],
        "appearance": {
          "style": {
            "name": "other",
            "confidence": 0.972
          }

[2022-11-15 04:48] halkazwini opened #101449 "Accelerated networking support on more than one NIC"
Hi Team,

It would be great if there is more info about Accelerated networking support with this VM series and other series. I wanted to have a VM with two NICs that have accelerated networking enabled, so I had to try several VM sizes until I found one that supports more than one NIC with accelerated networking enabled.

Regards,
Hussein

---
#### Document Details

⚠ *Do not edit this section. It

[2022-11-15 05:19] shaktisingh-msft commented on #101438
Hi @StefArroyo,

Could you please look into this request. Thanks

[2022-11-15 05:26] x509cert opened #101450 "Errors in the source code"
Hey guys

The code does not compile, and after making mods it does not return a correct result. The resulting code that works is this:

using System.Text.Json;
using Azure.Core;
using Azure.Identity;
using Azure.Security.ConfidentialLedger;

// Replace with the name of your confidential ledger
const string ledgerName = "<your ACL insance name>";
var ledgerUri = $"https://{ledgerName}.confidential-

[2022-11-15 05:31] SadiqhAhmed-MSFT commented on #101124
@jasongroce Could you please help redirecting this issue to someone who works on the Azure Marketplace docs?

[2022-11-15 05:37] SadiqhAhmed-MSFT commented on #101447
@cheekeong84 Thank you for posting your question here. Could you please share the complete query you are using? Also share the error details.

[2022-11-15 05:39] #101403 closed

[2022-11-15 05:45] AjayBathini-MSFT commented on #101328
@VitalyMCT
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

@markjones-msft
Could you please add your inputs on above query

[2022-11-15 06:02] YashikaTyagi-MSFT commented on #101340
@Givary
Thanks for contributing towards enhancement of document. Required changes has been made and will go live by tomorrow morning.

[2022-11-15 06:02] #101340 closed

[2022-11-15 06:04] #101314 closed

[2022-11-15 06:05] YashikaTyagi-MSFT commented on #101314
@dinos-kon
Thanks for contributing towards enhancement of document. Required changes has been made and will go live once approve by author.

[2022-11-15 06:05] YashikaTyagi-MSFT commented on #101363
@kengaderdus
Kindly provide your input on this.

[2022-11-15 06:06] MNF opened #101451 "Which browsers are Advanced Clipboard API browsers?"
It will be good to list (or specify examples) of Advanced Clipboard API browsers.
Or at least give a link describing how to determine such browsers

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: e035d394-de3e-5c25-b539-08a7fa840032
* Version Independent ID: 0c51d3f0-f7ca-9af1-d6f1-02840d4ea4e1
* Content: [Copy and pas

[2022-11-15 06:07] AjayBathini-MSFT commented on #101382
@RolandlinAKS

All Azure services include certain default limits and quotas for resources and features. This article details the default quotas and limits for Azure Container Instances.

Availability of compute, memory, and storage resources for Azure Container Instances varies by region and operating system.
Use the [List Usage](https://learn.microsoft.com/en-us/rest/api/container-instances/locat

[2022-11-15 06:13] AjayBathini-MSFT commented on #101396
Hi @JarleJac
Thanks for your contribution. Please add your ideas in below link, so our production team can review it and update the same.
[Ideas · Community (azure.com)](https://feedback.azure.com/d365community)

[2022-11-15 06:15] AjayBathini-MSFT commented on #101419
@richshadman
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

[2022-11-15 06:15] AjayBathini-MSFT commented on #101419
@MGoedtel
Can you please check and add your comments on this doc update request as applicable.

[2022-11-15 06:31] AjayBathini-MSFT commented on #101437
@prakhya
Thanks for reporting this! We have created a PR for this issue and the changes should go live soon.

[2022-11-15 06:33] RolandlinAKS commented on #101382
@AjayBathini-MSFT
Thank you for providing the information. However, this cannot answer my question. I would like to confirm the default value of ports per IP address. In the ACI document, the limit is 5, but it shows the limit as 10 in the CLI. They are not matching. Could you please check which one is the default value?

[2022-11-15 06:33] jamesdplee opened #101452 "Archive Tier Support with ZRS"
Hello Team,

The documentation mentions `The Archive tier for Blob Storage isn't currently supported for ZRS, GZRS, or RA-GZRS accounts.` Some other doco mentions this also.

However in this documentation within the `Durability and availability parameters` heading, within the table, the row that outlines `Availability for read requests` provides values for availability for archive tier for the `GZ

[2022-11-15 06:35] #101378 closed

[2022-11-15 06:35] YashikaTyagi-MSFT commented on #101367
@LinVince
Thank you for your time and patience throughout this issue.

Since this issue isn't directly related to improving our docs. We are going to close this thread.
I found this link just a recommendation if this is going to resolve your query although i am not sure about it.
https://fidoalliance.org/metadata/

[2022-11-15 06:36] SadiqhAhmed-MSFT commented on #101387
@rboucher & @bwren Could you please review the doc and update as appropriate?

[2022-11-15 06:38] Venkateshdodda-MSFT commented on #101378
@zakimal  Thank you for your feedback! Requested changes has been made and documentation changes will go live soon.

[2022-11-15 06:44] #101437 closed

[2022-11-15 06:54] ManoharLakkoju-MSFT commented on #101381
@jarodsmk
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

@jmprieur
Can you please check and add your comments on this doc update request as applicable.

[2022-11-15 07:07] SaibabaBalapur-MSFT commented on #101391
@ChrisParrBIE
This [Microsoft Q&A ](https://learn.microsoft.com/en-us/answers/questions/1066198/how-sftp-is-billed.html)Thread provided detailed information on SFTP billing

If you still have any question I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proceed to clo

[2022-11-15 08:38] maximilianpalm opened #101455 "Does 'expected outbound throughput' specify only outgoing (sending) or also incoming (receiving) traffic?"
Quote:

I need to know the maximum incoming network throughput for certain VM sizes, but the docs only mention outbound throughput. Please clarify:
1. Does outbound throughput mean outgoing (sending) traffic from the VM, or all traffic that has its source or destination outside of the VM (sending and receiving)?
2. In case outbound means only outgoing traffic, is there an expected throughput for i

[2022-11-15 08:41] GitaraniSharma-MSFT commented on #101445
@bangdu-ms , thank you for your feedback. We have assigned this to the content owner/author for review.

@cherylmc , for your review.

[2022-11-15 08:44] GitaraniSharma-MSFT commented on #101451
@MNF , thank you for your feedback. We have assigned this to the content owner/author for review.

@cherylmc , for your review.

[2022-11-15 08:48] GBhavin commented on #95153
I am still facing this issue, did anybody found any solution?

[2022-11-15 08:53] GitaraniSharma-MSFT commented on #101256
@enpiri , We have assigned this to the content owner/author for review.

@vhorne , could you please check this and update as appropriate?

[2022-11-15 08:57] GitaraniSharma-MSFT commented on #101455
@maximilianpalm , thank you for your feedback. We have assigned this to the content owner/author for review.

@asudbring , Could you please provide your insights here?

[2022-11-15 09:11] bartvermeersch commented on #100226
Registering the azure lab services in the VNET subscription didn't resolve the issue. I'll open a service ticket.

[2022-11-15 09:12] Naveenommi-MSFT commented on #101395
@koichino

Thank you for bringing this to our attention. I've assigned this issue to the author who will investigate and update as appropriate.

[2022-11-15 09:12] Ijtehad143 commented on #28817
I used this but it's not working, can anyone have input for this issue

[2022-11-15 09:28] museg27 commented on #101432
Hi!
The link for the documentation is:
https://learn.microsoft.com/en-us/azure/aks/concepts-clusters-workloads#deployments-and-yaml-manifests

In the table under "A breakdown of the deployment specifications in the YAML manifest file is as follows:"

.metadata.name | Specifies the image to run. This file will run the nginx image from Docker Hub.
-- | --

would be:

.metadata.name | Specifies the n

[2022-11-15 09:47] wUEZRs opened #101457 "Azure Policy missing in action"
Microsoft's recommended way to also schedule patches is Azure Policy. Why isn't that the main focus, or even mentioned at all?
There is a separate doc on scheduling a check, but nothing on scheduling an install.

Scale and modernity first?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 3a9d4fe2-4b62-772f-43f8-496bf6cd

[2022-11-15 09:50] bb-froggy opened #101458 "Invalid name in the screenshot for creating appreg federation"
The [first screenshot](https://learn.microsoft.com/en-us/azure/active-directory/develop/media/workload-identity-federation-create-trust/add-credential.png) shows "Test federated credential" in the Name form field. However, names must not contain spaces. I guess the screenshot was taken with an older version of the Azure Portal. Today, you wouldn't see the green checkmark, but an error message.

--

[2022-11-15 09:56] georgeOsdDev opened #101460 "What are the expected flags for the `npm install` command run by an App Service Node app?"
What are the expected flags for the `npm install` command run by an App Service Node app?

- This Document
`npm install --production `.

- From oryx document
https://github.com/microsoft/Oryx/blob/main/doc/runtimes/nodejs.md#build

- Actual behavior
`npm install --unsafe-perm`
<img width="617" alt="image" src="https://user-images.githubusercontent.com/1381907/201887764-807a47ae-afc7-45c3-9813-4e43

[2022-11-15 09:58] mshyatsu opened #101461 "Description regarding "Add SSL binding" leads misunderstanding"
[Enter feedback here]
The section of "Add SSL binding" is at risk to lead misunderstanding. Looks like the screenshot in this section says we must push the "Import Key Vault Certificate" button, but the button is needed only when we have not imported a certification yet. It would be nice if you could change the screenshot and add further detail of the explanation to bind an SSL cert. Even though w

[2022-11-15 10:05] matthewjlevy opened #101462 "How do you add users to EPM?"
This page doesn't detail the steps to create new users in order for them to be able to access the Entra Permissions Management portal. I have access as a Global Administrator, but I need to grant other users with no Azure AD admin role access. I also cannot see where to assign EPM licenses in either admin.microsoft.com or Azure AD portal. Please advise.

---
#### Document Details

⚠ *Do not edit t

[2022-11-15 10:25] julioo opened #101464 "Typo in Ubuntu instruction installation"
[Enter feedback here]
Hello
In the section "Test VMs that are running Linux/Install SockPerf on the VMs/For Ubuntu"
the last command, `sudo yum update` is a typo and can be removed as it's not supported.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 96a8a8ae-019a-9164-7506-e6a2ac60269c
* Version Independent ID: 1ba5d

[2022-11-15 10:26] prutsert opened #101465 "azure-disk-customer-managed-keys only works (copy/pastable) with powershell"
The code pieces on this page claim to be azure cli code, but only works in PowerShell, because of the way it uses az cli to set variables.

This is probably a valid command line in Powershell, but it's not a valid azure cli command (which would be usable in bash as well):
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

[2022-11-15 10:55] BzSpi commented on #73810
We have the exact same issue, also we are provisioning the infrastructure with Terraform and have private endpoints.

[2022-11-15 10:57] JSRAF opened #101466 "Azure GitOps tutorial does not provide a working solution for a namespace scoped deployment"
This part of the tutorial does not provide a working solutions:

- "The scope of the configuration is cluster. This gives the operators permissions to make changes throughout cluster. To use namespace scope with this tutorial, [see the changes needed](https://learn.microsoft.com/en-us/azure/azure-arc/kubernetes/tutorial-use-gitops-flux2#multi-tenancy)."

The part quoted above can be found here:

h

[2022-11-15 11:02] ManoharLakkoju-MSFT commented on #101397
@civanescu
Thank you for your feedback!

Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request] (https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our Q&A forum by posting your issue th

[2022-11-15 11:05] ManoharLakkoju-MSFT commented on #101393
@cgoenka1
I'm going to assign this to the document author so they can take a look at it accordingly

[2022-11-15 11:06] ManoharLakkoju-MSFT commented on #101393
@jimmart-dev
Can you please check and add your comments on this doc update request as applicable.

[2022-11-15 11:50] timoklimmer opened #101467 "More clarity on Shiny"
It would be good to have more clarity on Shiny in this article. Not sure about the Workbench edition of RStudio, but at least when running the non-commercial edition, I was able to run a Shiny app with the user who owns the Compute Instance.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 70b332b2-b671-a5e8-0db0-38aa13

[2022-11-15 12:07] Nott6170 opened #101468 "Prerequisite not needed"
Hello Team,

According to this document, a prerequisite to configure a Private Link in Azure Front Door premium to a App Service is to have a Private link Service configured to the Origin Backend Servers.

Please review this document and remove this prerequisite. The document shows how to configure a Private link directly on the Front Door's, so having a prerequisite to configure a Private Link Se

[2022-11-15 12:08] Interface007 opened #101469 "Wrong tool for the job?"
So, you decided to use the Azure Container Registry (ACR) as a repo for private Bicep modules. Do you have a link to an article that explains, why ACR is a good choice and why it's a better choice than established other repos like NuGet-feeds, which most companies already have, even if they don't see the need of managing containers?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit

[2022-11-15 12:44] devgaia opened #101470 "What is the correct jobtype for twin update?"
In the example device twin and the query examples the jobType is set to

`"jobType": "scheduleTwinUpdate"`

but in the job documentation (https://learn.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-jobs#jobs-to-update-device-twin-properties) the type is set

`"type": "scheduleUpdateTwin"`

Is this correct or is either of them misspelled?

[Enter feedback here]

---
#### Document Details

⚠ *D

[2022-11-15 12:46] GitaraniSharma-MSFT commented on #101464
@julioo , thank you for your feedback. We already have an existing GitHub issue with the same feedback which is being tracked in https://github.com/MicrosoftDocs/azure-docs/issues/97309. The issue is already assigned to author to make the appropriate updates.

We are closing this issue for now as a duplicate. If there are further questions regarding this matter, please reply and we will gladly con

[2022-11-15 12:46] #101464 closed

[2022-11-15 12:47] GitaraniSharma-MSFT commented on #101468
@Nott6170 , thank you for your feedback. We have assigned this to the content owner/author for review.

@duongau , for your review.

[2022-11-15 12:52] youkhi opened #101471 "Diagnostics settings screenshot should be updated"
Team,

I think Diagnostics settings screenshot should be updated.
There's one more item added called 'FrontDoor Health Probe Log'.

Best,
Youkhang.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: de4370d8-9497-7fc4-1fd0-8c88b810959e
* Version Independent ID: 6f32101e-de15-a63b-f5cb-893e37ac407f
* Content: [Azure Web Ap

[2022-11-15 13:04] GitaraniSharma-MSFT commented on #101471
@youkhi , thank you for your feedback. We have assigned this to the content owner/author for for updating the doc accordingly.

@vhorne , could you please update the diagnostic settings screenshot as another log has been added to Azure Front Door which is 'FrontDoor Health Probe Log'?

![image](https://user-images.githubusercontent.com/67630903/201926670-a64f7cd0-e5a5-48e3-83a9-030497d81c01.png)

[2022-11-15 13:21] atakadams commented on #100823
Hi, I'm afraid that operation-abort feature is still in public-preview state without explicit documentation.

- It' said that the feature [got into public-preview state on Sep.14,](https://azure.microsoft.com/en-us/updates/public-preview-operation-abort/) while the document is not updated since Sep. 9.
- I'm requested to install aks-preview when tried `az aks operation-abort --help`.

The command

[2022-11-15 13:46] amd989 commented on #47307
Seems like this is supported now?

[New Regions and Managed Identity Support for Azure Container Instances with Azure Virtual Networks](https://techcommunity.microsoft.com/t5/azure-compute-blog/new-regions-and-managed-identity-support-for-azure-container/ba-p/3645269)

[2022-11-15 13:49] ManoharLakkoju-MSFT commented on #101446
@aaaaasam
Thanks for your feedback! We will investigate and update as appropriate.

It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!

[2022-11-15 13:52] ManoharLakkoju-MSFT commented on #101450
@x509cert
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-15 13:52] dracan commented on #47996
+1 for this. I've just been doing exactly what @John-Garland said and been dissecting the starter pack "SocialAndLocalAccountsWithMfa", which uses `PhoneFactorProtocolProvider`. Then saw this documentation talking about a completely different way. Very confusing.

[2022-11-15 13:52] svdHero commented on #100198
@sr-msft and @shaktisingh-msft has there been any activity on this issue? It's been almost a month now, and we still have no solution for how to deal with these Postgres warnings. I would really appreciate some help or advice.

[2022-11-15 13:56] ManoharLakkoju-MSFT commented on #101457
@wUEZRs
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-15 13:56] shaktisingh-msft commented on #100198
Hi @kabharati,

Could you please look into this. Thanks

[2022-11-15 13:58] ManoharLakkoju-MSFT commented on #101448
@yashamygb
Thanks for your feedback! We will investigate and update as appropriate.

It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!

[2022-11-15 14:00] ManoharLakkoju-MSFT commented on #101460
@georgeOsdDev
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-15 14:12] Ray-Eldath commented on #101278
I just checked the [Microsoft's Socrates paper](https://www.microsoft.com/en-us/research/publication/socrates-the-new-sql-server-in-the-cloud/) which is the acadamic prototype of Azure SQL Hyperscale, and in _Section 4.6 Page Servers_ it says

So I think it's clear now "covering" means each Page Server cache **all** data it is responsible for in a sequential and _dense_ way. and if the common unde

[2022-11-15 14:12] sandeepsnairms opened #101473 "This is incorrect as per https://learn.microsoft.com/en-us/azure/cosmos-db/analytical-store-introduction#backup .Database accounts with continuous backup mode enabled can enable Synapse Link through a support case."
https://github.com/MicrosoftDocs/azure-docs/blob/76df92ec6dda5f4ed9a137da4c99934a54a1694d/articles/cosmos-db/continuous-backup-restore-frequently-asked-questions.yml#L74

---
########### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: f947a93f-1c0c-0e6e-acae-0f27571019a2
* Version Independent ID: b214f360-3057-010b-db69-53a48921

[2022-11-15 14:15] ManoharLakkoju-MSFT commented on #101449
@halkazwini
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-15 14:18] ManoharLakkoju-MSFT commented on #101461
@mshyatsu
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-15 14:20] ManoharLakkoju-MSFT commented on #101466
@JSRAF
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-15 14:23] ManoharLakkoju-MSFT commented on #101469
@Interface007
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-15 14:26] ManoharLakkoju-MSFT commented on #101452
@jamesdplee
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-15 14:27] ManoharLakkoju-MSFT commented on #101458
@bb-froggy
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-15 14:28] ManoharLakkoju-MSFT commented on #101462
@matthewjlevy
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-15 14:29] ManoharLakkoju-MSFT commented on #101465
@prutsert
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-15 14:31] ManoharLakkoju-MSFT commented on #101467
@timoklimmer
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-15 14:34] ManoharLakkoju-MSFT commented on #101470
@devgaia
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-15 14:41] jarodsmk commented on #101381
Great, thanks :)

I was rushing with some personal work while creating this ticket and realised I didn't give much info

What I was referring to was with .NET 6.0 the signatures change to use a parameter of Action<...>to resolve the Configuration object, and a lot of the examples have differing signatures - for example `EnableTokenAcquisitionToCallDownstreamApi` is called with no parameters, where

[2022-11-15 15:10] AaronMaxwell commented on #101231
Thanks for your dedication to our documentation. This is a great idea.

Adding required roles as part of prerequisites sections would need to be added to our Contributor's Guide.

This PR has been submitted as feedback to our team that handles content planning, design, style, etc.

https://learn.microsoft.com/en-us/style-guide/content-planning #please-close

[2022-11-15 15:10] #101231 closed

[2022-11-15 15:10] ChrisParrBIE commented on #101391
I appreciate that the Q&A thread gives more info on how billing works, but what I can't see is any way of finding out where it's already turned on so we can turned it off if it's not needed before it becomes a cost.

I'm guessing that Get-AzStorageAccount |Where S_.EnableSFTP -eq $True would work for checking a single subscription, but it'd be good for that to be confirmed.

An example script that

[2022-11-15 15:35] MicrosoftGuyJFlo commented on #92294
@lightupdifire I reviewed the proposed change, and it is correct as written. If you require an app protection policy, that does block legacy authentication. Feel free to reach out via email (in my profile) if you want to discuss further.

[2022-11-15 15:43] jrohrich opened #101475 "Incorrect/ incomplete Permissions listed for enabling Defender Plans"
While a Contributor role for a subscription can enable the plan, changing or enabling additional components such as the Azure Monitor Agent seems to require Owner rights on the subscription. This is not well reflected in the documentation.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: df8d64db-117b-a6ae-61d6-

[2022-11-15 15:46] f0nZ commented on #92301
This error still persists
![image](https://user-images.githubusercontent.com/7041307/201962766-02a96c78-e774-42e5-b019-f114cf8dcf9d.png)

[code]

[code]

Followed documentation: https://learn.microsoft.com/en-us/azure/cosmos-db/mongodb/how-to-configure-capabilities?tryIt=true&source=docs#enable-a-capability

CosmosDB for Mongo version is 4.2 and I've got the extension for preview installed
[code]

[2022-11-15 15:50] gerrynicol opened #101476 "Filtering inter-hub traffic in secure virtual hub deployments"
Please can you provide clarity around this sentence. Am I right in saying that traffic flow between secure hubs in different regions is supported? Also, provide clarity on a link to what private traffic filtering means?

Secured Virtual Hub to Secured Virtual Hub communication filtering isn't yet supported. However, hub to hub communication still works if private traffic filtering via Azure Firewa

[2022-11-15 15:53] ManoharLakkoju-MSFT commented on #101473
@sandeepsnairms
Thanks for your feedback! We will investigate and update as appropriate.

It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!

[2022-11-15 15:57] maximilianpalm commented on #101455
I found the following comment under [TCP/IP performance tuning for Azure VMs](https://learn.microsoft.com/en-us/azure/virtual-network/virtual-network-tcpip-performance-tuning):

Does this mean that a VM with NC8as_T4_v3  VM with a 8 Gbps expected outbound throughput could receive more than 8Gbps?

[2022-11-15 16:01] vigouredelaruse commented on #99041
thank you.  the following assessment is therefore available, in combination with the advice here https://learn.microsoft.com/en-us/azure/architecture/serverless-quest/functions-app-security

[fact]
it is not possible to deny attackers from affecting billing outcoes with the azure functions consumption plan via any osi layer 3 intervention, because applying ip address restrictions costs money for e

[2022-11-15 16:07] jasongroce commented on #101124
#reassign:sarahsnow-msft   @Sarahsnow-msft would this be something you could take a look at?

[2022-11-15 16:20] AshokPeddakotla-MSFT commented on #101333
I have assigned the issue to the content author @PatAltimore to evaluate and update as appropriate.

[2022-11-15 16:20] AshokPeddakotla-MSFT commented on #101333
I have assigned the issue to the content author @PatAltimore to evaluate and update as appropriate.

[2022-11-15 16:26] KunalTyagi-N opened #101478 "Incorrect syntax for T-SQL"
Syntax for below T-SQL is incorrect.
CREATE SERVER AUDIT [<your_audit_name>]
TO URL ( PATH ='<container_url>' , RETENTION_DAYS =  integer )
GO

It generates the below error:
Incorrect syntax near 'URL'.  Expecting APPLICATION_LOG, EXTERNAL_MONITOR, FILE, MDS_LOG, SECURITY_LOG, or URL

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue link

[2022-11-15 16:35] AbbyMSFT commented on #100241
Thank you, @CommitMeNow, for your feedback!
We are creating a work item to address this image, and I am going to close this issue.
Work item: https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/2009085
We appreciate your dedication to the quality of our documentation and to addressing accessibility issues. Please feel free to reach out for any additional issues.

Thanks,
Abby

#please-

[2022-11-15 16:35] #100241 closed

[2022-11-15 16:41] shlipsey3 commented on #101270
Thanks for submitting an issue to improve this content. I've added an item to my backlog to prioritize the work. I will provide an update when it's ready. Thanks!

[2022-11-15 16:47] Talria opened #101482 "How can we configure notifications or emails to get alerts about Leaked Credentials?"
[Enter feedback here]
I see most other alerts in the Cloud App security section you can enter an email address to receive notifications about these alerts, but not under the "Leaked Credentials" or the "Risky Logins (by user).

What's the point of an alert if you aren't notified of it? Any other way to receive an email about these when these pop up?

---
#### Document Details

⚠ *Do not edit this

[2022-11-15 16:55] ryanjeskymicrosoft opened #101483 "SSH key pair command"
This documentation walks you through setting up SFTP connections using SSH key pairs but does not give any example or reference of the command that should be used connect to the storage account using the private key.

For example:

ssh -i "directory with private key" storageaccount.container.localuser@storageaccountname.blob.core.windows.net

---
#### Document Details

⚠ *Do not edit this section.

[2022-11-15 17:03] VitalyMCT opened #101484 "Windows Authentication for Azure SQL MI"
Regarding

Please clarify the preview/GA status.

According to this page it's in public preview.

However, the destination link has no mention of that, making the reader assume it's in GA.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: f7f71c75-4511-ed7d-6e3d-4c30e1c01781
* Version Independent ID: 7be40f32-162d-1f6d-f

[2022-11-15 17:04] thermionic commented on #92294
@MicrosoftGuyJFlo

I think you may have mis-read.

"This policy will block all Exchange ActiveSync clients using basic authentication from connecting to Exchange Online."

To keep this wording, the requirement to "Require app protection policy" should be removed, and the "Allow" shoudl be changed to a "Block".

Alternatively of course, change the words describing what the policy will do, but it wo

[2022-11-15 17:04] VitalyMCT commented on #101484
Ok, answering my own question, feature went GA this August: https://techcommunity.microsoft.com/t5/azure-sql-blog/windows-authentication-for-azure-ad-principals-for-sql-managed/ba-p/3600690

So this page is out of date and needs to have "(public preview)" suffix removed.

[2022-11-15 17:05] #101478 closed

[2022-11-15 17:16] nambir opened #101485 "Fabric Explorer not working, Application url not working. I followed all steps as mentioned in this page."
[Enter feedback here]
Fabric Explorer not working, Application url not working. I followed all steps as mentioned in this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 14a88836-9255-1c3e-c375-f0ac8bfa43e4
* Version Independent ID: fb50730e-6a21-3064-5acd-afbaf10dfc1e
* Content: [Deploy a Service Fabric app to a

[2022-11-15 17:19] duongau commented on #98717
@jpinwa The ability to create Verizon (Standard or Premium) profiles with Pay-as-you-go subscriptions in the portal will be available by then end of the month. You can create the profile using Azure PowerShell as a workaround using the commands found here: https://learn.microsoft.com/en-us/azure/cdn/cdn-manage-powershell#creating-cdn-profiles-and-endpoints.

[2022-11-15 17:21] alex-frankel commented on #101469
We thought about NuGet, but ACR satisfied more of our requirements. NuGet in particular is too associated with .NET. Is there a particular challenge that ACR is causing you?

[2022-11-15 17:40] ElazarK commented on #101275
@DeanGross You are indeed correct and the information is being added. the docs will be updated in the next few days with this information added.

[2022-11-15 17:46] duongau commented on #101468
#please-close

[2022-11-15 17:46] #101468 closed

[2022-11-15 17:49] mk4953 opened #101486 "Lack of explanation and examples under "Delegate the domain" title"
I thinks explanations under the "Delegate the domain"  are not enough. it could be very helpful if you can put some example codes/command line examples or screendumbs

https://learn.microsoft.com/en-us/azure/dns/dns-delegate-domain-azure-dns#delegate-the-domain:~:text=assigned%20name%20servers.-,Delegate%20the%20domain,-Once%20the%20DNS

[Enter feedback here]

---
#### Document Details

⚠ *Do not

[2022-11-15 18:01] JB40550 opened #101487 "Deleting Azure roles assigned to AAD Groups already existing"
Hello,

I am trying to use this in powershell but can't get it to work.
A want to remove a role assignment to a AAD group so i know the role name and the group name but impossible to make it work.

This is what i have right now :

`$group = Get-AzureADMSGroup -Filter "displayName eq 'Contoso_Helpdesk_Administrators'"`
`$roleDefinition = Get-AzureADMSRoleDefinition -Filter "displayName eq 'Helpdesk

[2022-11-15 18:12] jsimsmsft commented on #101332
Hi Team

Normal hard links work fine, however hard links of symbolic links do not work on an NFS Azure File Share.

Scenario:
Customer is attempting to create a hard link from an already existing symbolic link.
Its actually a github backup util requirement.
https://github.com/github/backup-utils/blob/master/docs/requirements.md#storage-requirements<https://nam06.safelinks.protection.outlook.com/?u

[2022-11-15 18:50] gerrynicol commented on #101120
@JohnPoetzinger. Can you please advise the following as I still find this misleading. If you have two secure hubs in different regions, does traffic still flow between the regional hubs(routers) just not via the azure firewall?

[2022-11-15 19:04] sarahsnow-msft commented on #101124
#reassign:trkeya @trkeya

[2022-11-15 19:09] hiep3382tran commented on #95986
Hello Vallirani,

What kind of MQ server certificate did you used? Is it a Trusted CA signed certificate or is it a Private CA signed or Self-signed certificate?

The issue here is in order for a successful Server handshake using a Private CA signed or Self-signed certificate,  you have to run LogicApps inside an ASE which allow you to import the MQ server public key certificate into the Trusted C

[2022-11-15 19:27] larryclaman opened #101490 "Typo in Join example"
The example for join shows:
[code]
I believe this should be:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: a36b1f58-7fc9-7d2f-108d-0a5c7c0c7c67
* Version Independent ID: d295ee04-80c5-ba43-54d0-4594c2baa78d
* Content: [Bicep functions - string - Azure Resource Manager](https://learn.microsoft.com/en-us/azure/a

[2022-11-15 19:27] MashaMSFT commented on #54599
Hi @donntrenton , thanks for bringing this to our attention and our apologies for the delay! We've processed a change to update the documentation per your recommendation that should be live later this week. I'll go ahead and close out this Git Issue, but please feel free to comment should you need anything further.

Thanks again for improving our docs and hope you have a wonderful rest of your day

[2022-11-15 19:27] #54599 closed

[2022-11-15 19:28] MashaMSFT commented on #46018
hi @andrewatfornax ,  , thanks for bringing this to our attention and our apologies for the delay! We've processed a change to update the documentation per your recommendation that should be live later this week. I'll go ahead and close out this Git Issue, but please feel free to comment should you need anything further.

Thanks again for improving our docs and hope you have a wonderful rest of yo

[2022-11-15 19:28] #46018 closed

[2022-11-15 19:32] JohnPoetzinger commented on #101120
I would agree, upon reviewing the updated content you state that connecting 2 hubs is unsupported. This is not accurate. In the case of 2 secure hubs being connected hub to hub traffic will not be inspected by the firewall in either hub.

[2022-11-15 19:35] mumian commented on #101490
@larryclaman - thank you for your comment.  You specify data type when you declare parameters.  However, you don't need to specify data type in variable declarations.  See https://learn.microsoft.com/azure/azure-resource-manager/bicep/variables.

#please-close

[2022-11-15 19:35] #101490 closed

[2022-11-15 19:36] nitinsharmainfotech opened #101491 "Tutorial: Migrate SQL Server to Azure SQL Database using DMS"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 9a49a982-613b-76a9-4a0a-7132d6058dcb
* Version Independent ID: b2a280d2-ea2c-1836-f265-ccaa2c6758b3
* Content: [Tutorial: Migrate SQL Server offline to Azure SQL Database - Azure Database Migration Service](https://learn.microsoft.com/en-us/azure/dms

[2022-11-15 19:42] petehauge commented on #100226
Sounds good @bartvermeersch  - thanks for the heads-up!

[2022-11-15 20:07] JasonWHowell commented on #89209
Closing out this issue since a solution was proposed. If more assistance is needed please let us know. Thanks, Jason

[2022-11-15 20:07] JasonWHowell commented on #89209
#please-close

[2022-11-15 20:07] #89209 closed

[2022-11-15 20:15] Oury-MSFT commented on #101491
@nitinsharmainfotech Could you please tell us what the issue is?

[2022-11-15 20:18] nitinsharmainfotech commented on #101491
Oury, thanks for the care, it's sorted out. Best!

[2022-11-15 20:18] #101491 closed

[2022-11-15 20:19] callachun commented on #70690
Docs will be refreshed with clarification on SLA. Pending update this quarter.

#please-close

[2022-11-15 20:19] #70690 closed

[2022-11-15 20:21] gerrynicol commented on #101120
Thanks for that John. I don’t think I’ve seen this clearly defined in any document (but may have missed it)

[2022-11-15 20:22] AaronMaxwell commented on #100758
An internal work item to update these code samples has been filed with our software engineering team. This has to be prioritized alongside other items such as bug fixes and feature requests, so please bear with us.

Consider one of the following support channels if you need help right away.

Microsoft Azure Monitor Q&A question page
https://docs.microsoft.com/answers/topics/24223/azure-monitor.htm

[2022-11-15 20:22] #100758 closed

[2022-11-15 20:23] Oury-MSFT commented on #101338
@saimicrosoft Please let us know if the doc needs to be updated. I can create a PR to fix it.

[2022-11-15 20:28] jwisener commented on #100758
Can we not keep this open until it's actually resolved?

[2022-11-15 20:47] b-sellick opened #101493 "Replace METATORE with METASTORE"
As the title says. There's a reference to METATORE that I'm assuming should be METASTORE

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: ea85ad74-5055-ec55-412e-187405524050
* Version Independent ID: ea85ad74-5055-ec55-412e-187405524050
* Content: [Unity Catalog privileges and securable objects - Azure Databricks](http

[2022-11-15 20:55] GudlaPreethi commented on #99931
@billmath
Can you please check this request.

[2022-11-15 21:04] GeethaThatipatri-MSFT commented on #101484
@VitalyMCT Thanks for your findings, the document will be updated soon

[2022-11-15 21:12] JohnPoetzinger commented on #101120
The feature to correct this is in preview.

[2022-11-15 21:13] JohnPoetzinger commented on #101120
https://learn.microsoft.com/en-us/azure/virtual-wan/virtual-wan-global-transit-network-architecture
" Note

Inter-hub processing of traffic via firewall is currently not supported. Traffic between hubs will be routed to the proper branch within the secured virtual hub, however traffic will bypass the Azure Firewall in each hub."

[2022-11-15 21:16] shlipsey3 commented on #87926
Hey @slynickel - Thanks for that writeup. I am currently working on updating this article. I've found the same discrepancies between the article and the GUI. They're part of a preview but weren't able to be hidden. So unfortunately, I need to call that out in the article.

I'll follow up on the one you found in Graph but not the GUI. Thanks so much!

[2022-11-15 21:19] gerrynicol commented on #101120
@JohnPoetzinger. Fantastic!!! Thanks for that. That’s what I was looking for. I was aware of the preview feature 👍

[2022-11-15 21:42] creidmiller opened #101494 "please add a caution not to change the Load Balancer configuration on the portal even though it is allowed"
Please add a note regarding not changing the Load Balancer configuration on the portal per support issue 2211110040004385.  We used the portal and lost our Load Balancer updates across both a Kubernetes cluster upgrade and a cluster stop/start.  Here is the response received from Microsoft support regarding this issue:

**Outbound rule changes done by "az aks" CLI commands are permanent across clu

[2022-11-15 21:48] v-edmckillop commented on #82663
Hello, thank you for your patience with this issue. A checklist or similar content is being created and will be published. #please-close

[2022-11-15 21:48] #82663 closed

[2022-11-15 22:01] elafnit opened #101495 "Broken link"
The link under "Fuzz testing" leads to a "Not found" page.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 19cb71ec-6372-f406-8542-8058f59c7ec1
* Version Independent ID: a3c05dfb-8f20-b364-526b-143f87582a18
* Content: [Penetration testing](https://learn.microsoft.com/en-us/azure/security/fundamentals/pen-testing#feedba

[2022-11-15 22:02] #86024 closed

[2022-11-15 22:22] starbuck3000 commented on #100287
Thank you for your feedback @YashikaTyagi-MSFT and @MicrosoftGuyJFlo . As I understand from your answers, only services listed in the page (https://learn.microsoft.com/en-us/azure/active-directory/conditional-access/concept-conditional-access-cloud-apps#microsoft-azure-management) are subject to policies set for "Microsoft Azure Management".

I will ask on the Q&A forum to see whether there is a c

[2022-11-15 23:42] ChaitanyaNaykodi-MSFT commented on #101476
@gerrynicol Thank you for your feedback! We will review and update as appropriate.

[2022-11-15 23:43] RoseHJM commented on #101218
Thank you for your contribution @Cricam. This issue has been fixed and I'll now close this issue.

[2022-11-15 23:43] RoseHJM commented on #101218
#please-close

[2022-11-15 23:47] HeidiSteen commented on #101248
@FreBron Thanks for the heads up, this is now fixed.  It will be in the published docs by tomorrow morning.

#please-close

[2022-11-15 23:47] #101248 closed

[2022-11-15 23:47] eoq opened #101497 "sample app yaml needs a small tweak"
I just tried to deploy the sample ingress app from the yaml referenced in the doc:
`kubectl apply -f https://raw.githubusercontent.com/Azure/application-gateway-kubernetes-ingress/master/docs/examples/aspnetapp.yaml`
And the image it is using (mcr.microsoft.com/dotnet/core/samples:aspnetapp) no longer exists. I change it to (mcr.microsoft.com/dotnet/samples:aspnetapp) and was able to deploy it.

C

[2022-11-15 23:58] RoseHJM commented on #99889
@SychevIgor
Thank you for your feedback. I can't find either `--devcenter-id` or `--dev-center-id` in the [Install the Microsoft Dev Box Preview Azure CLI extension](https://learn.microsoft.com/en-us/azure/dev-box/how-to-install-dev-box-cli?tabs=Option1) article.

Could you confirm that this is still an issue?

Thank you!

[2022-11-16 00:02] ChaitanyaNaykodi-MSFT commented on #101486
@mk4953 Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-11-16 00:22] djdimmen opened #101499 "Using Workload Groups with Azure AD Groups/Users"
I've been referencing this page as well as several others while trying to configure workload classifiers and workload groups to function with Azure AD users who are granted access to a dedicated SQL pool via membership in an AAD group. I haven't had success though, as every time I execute a query while signed in with AAD credentials, it still defaults the query execution to the "smallrc" workload

[2022-11-16 00:32] michael-freidgeim-webjet opened #101500 "Provide instructions where to find parameters for network bastion rdp command"
It will be good if you will add instruction where to get details,
az network bastion rdp --name "<BastionName>" --resource-group "<BastionResourceGroupName>" --target-resource-id "<VMResourceId>"

1. E.g. it wasn't obvious for me to find sentence/link
 "Using Bastion: BastionName, Provisioning State: Succeeded

 2. Also the paragraph in Prerequisites
"Get the Resource ID for the VM to which you wa

[2022-11-16 00:36] halkazwini commented on #55169
#reassign:halkazwini

[2022-11-16 00:37] halkazwini commented on #55169
Duplicate content removed from the article.

#please-close

[2022-11-16 00:37] #55169 closed

[2022-11-16 00:38] RoseHJM commented on #100732
Hi @sujayvsarma, thanks for your feedback. I'm working with the product team to add the appropriate content around licensing for Dev Box.

[2022-11-16 01:59] anantharamakrishnans opened #101501 "How is Custom Script Extension different than Run Command?"
[Enter feedback here]

It will be nice if you compare the feature - Run Command with custom script extension https://learn.microsoft.com/en-us/azure/virtual-machines/extensions/custom-script-windows
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 04865202-8e09-967f-a7a7-b18ab6845b2e
* Version Independent ID: 73268057-c2

[2022-11-16 02:28] agnitc opened #101502 "Permissions for ADF provisioning"
The page says that you need contributor or owner access at the subscription level to be able to create/provision ADF? However we find that even if someone has contributor access at the resource group level, he/she can provision ADF? Am I missing something or is this misleading?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟

[2022-11-16 02:36] mundayn opened #101503 "Require Azure AD Login?"
Hi,

This new feature is great, but I think it would be nice to secure this with Azure AD credentials.

I understand users going the 'traditional' way would get the Azure Portal login & MFA, but the Bastion experience for non-tech users is a bit clunky. This sharing link fixes that, but, it opens up the link to be shared with other people without having the Azure AD credential barrier.

I was wond

[2022-11-16 02:44] VikasPullagura-MSFT commented on #101494
@creidmiller
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-11-16 02:44] ManoharLakkoju-MSFT commented on #101475
@jrohrich
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-16 02:46] VikasPullagura-MSFT commented on #101501
@ericd-mst-github
Can you please check and add your comments on this doc update request as applicable.

[2022-11-16 02:46] ManoharLakkoju-MSFT commented on #101482
@Talria
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-16 02:51] ManoharLakkoju-MSFT commented on #101487
@JB40550
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-16 02:53] ManoharLakkoju-MSFT commented on #101495
@elafnit
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-16 02:56] ManoharLakkoju-MSFT commented on #101485
@nambir
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-16 02:57] ManoharLakkoju-MSFT commented on #101483
@ryanjeskymicrosoft
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-16 02:58] ManoharLakkoju-MSFT commented on #101493
@b-sellick
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-16 03:01] ManoharLakkoju-MSFT commented on #101497
@eoq
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-16 03:03] ManoharLakkoju-MSFT commented on #101499
@djdimmen
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-16 03:05] ManoharLakkoju-MSFT commented on #101500
@michael-freidgeim-webjet
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-16 03:08] ManoharLakkoju-MSFT commented on #101502
@agnitc
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-16 03:10] ManoharLakkoju-MSFT commented on #101503
@mundayn
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-16 04:20] KellyVance opened #101505 "Classification Rule (Dictionary) definitions and integration with Business Glossary and/or RDF"
The Classification Rule (Dictionary) feature lacks the ability to define each available term that is uploaded.

This feature would be improved if terms could be derived from the business glossary, and the business glossary expanded to allow each term to be grouped within a contextual list (each with its own internal heirarchy).
e.g.
A list of occupations could include _**student**, engineer, docto

[2022-11-16 04:39] YashikaTyagi-MSFT commented on #101261
@jan-hudec
We are going to close this thread as resolved as there is no response from your side but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-11-16 04:39] #101261 closed

[2022-11-16 04:39] Aprilllllll opened #101506 "pod command is wrong in example yaml file"
The command in the example yaml file should be 'powershell.exe', 'pwsh.exe' doesn't work:

**[Problem in yaml]**
...
containers:
        - name: powershell
          image: mcr.microsoft.com/powershell:lts-nanoserver-1809
          securityContext:
            privileged: true
            windowsOptions:
              hostProcess: true
              runAsUserName: "NT AUTHORITY\\SYSTEM"

[2022-11-16 04:44] ggailey777 commented on #93666
Thanks @kimjamia for the heads up. I'll try to fix up this "half-hearted" documentation attempt.

[2022-11-16 04:48] SaibabaBalapur-MSFT commented on #101332
@jsimsmsft
I'm going to assign this to the document author so they can take a look at it accordingly.

@khdownie
Please review it.

[2022-11-16 04:55] #101367 closed

[2022-11-16 05:12] GitaraniSharma-MSFT commented on #101497
@eoq , We have assigned this to the content owner/author for review.

@greg-lindsay , for your review.

[2022-11-16 05:38] YashikaTyagi-MSFT commented on #101392
@OWinfreyATL
Kindly take a look at this issue.

[2022-11-16 05:40] krisoshau opened #101508 "Instructions out of date"
Document is out of date, sidebar menus and content are no longer structured like this.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: acf3eec1-54ad-4dad-0925-58d4bbf2f020
* Version Independent ID: 3b2e0da9-0693-881c-b974-b4080f207bf3
* Content: [Risk-based user sign-in protection in Azure Active Directory - Microsoft

[2022-11-16 05:40] AjayBathini-MSFT commented on #101449
@andysports8
Can you please check and add your comments on this doc update request as applicable.

[2022-11-16 05:43] AjayBathini-MSFT commented on #101382
@RolandlinAKS

Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request] (https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our Q&A forum by posting your issue there so our community, and

[2022-11-16 05:45] AjayBathini-MSFT commented on #101465
@prutsert
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

[2022-11-16 05:45] AjayBathini-MSFT commented on #101465
@MGoedtel
Can you please check and add your comments on this doc update request as applicable.

[2022-11-16 05:53] AjayBathini-MSFT commented on #101483
Hi @ryanjeskymicrosoft

Could you please go through below link for reference of your query.
https://learn.microsoft.com/en-us/azure/storage/blobs/secure-file-transfer-protocol-support-how-to?tabs=azure-portal

[2022-11-16 05:53] YashikaTyagi-MSFT commented on #101443
@TonySh127-ms
Thanks for your feedback! We have assigned the issue to author who will provide further updates.

[2022-11-16 05:55] ManoharLakkoju-MSFT commented on #101458
@bb-froggy
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

[2022-11-16 05:55] ManoharLakkoju-MSFT commented on #101458
@rwike77
Can you please check and add your comments on this doc update request as applicable.

[2022-11-16 05:57] MayankBargali-MSFT commented on #101361
@IsaacASmith The PR has been approved and it will be published soon. We appreciate the feedback!
I will go ahead and close this issue now.

[2022-11-16 05:57] #101361 closed

[2022-11-16 06:14] ManoharLakkoju-MSFT commented on #101482
@Talria
As per the Microsoft documentation the leaked credentials service compares users current valid credentials against leaked credentials lists and only checks new leaked credentials found after enabling PHS.

([https://docs.microsoft.com/en-us/azure/active-directory/identity-protection/concept-identity-protect...](https://docs.microsoft.com/en-us/azure/active-directory/identity-protection/con

[2022-11-16 06:17] ManoharLakkoju-MSFT commented on #101406
@MrRitt
I'm going to assign this to the document author so they can take a look at it accordingly

@b-hchen
Can you please check and add your comments on this doc update request as applicable.

[2022-11-16 06:31] Naveenommi-MSFT commented on #101380
@dem108
Could you please review and add your comments on this, update as appropriate.

[2022-11-16 06:32] Naveenommi-MSFT commented on #101380
@ashish-jain-microsoft
Thank you for bringing this to our attention. I've assigned this issue to the author who will investigate and update as appropriate.

[2022-11-16 06:37] Naveenommi-MSFT commented on #101467
@jesscioffi
Could you please review and add your comments on this, update as appropriate.

[2022-11-16 06:37] Naveenommi-MSFT commented on #101467
@timoklimmer
 I've assigned this issue to the author who will investigate and update as appropriate.

[2022-11-16 06:42] Naveenommi-MSFT commented on #101493
@b-sellick
Thanks for reporting this! We have created a PR for this issue and the changes should go live soon.

[2022-11-16 07:32] SWarnberg commented on #99774
Hi @AaronMaxwell

It's .NET 6 I'm using.

[2022-11-16 07:40] RoelofSpijker opened #101510 "Fields marked as uniquely identifying a record do not uniquely identify a record"
The article has a list of fields and descriptions which, through a footnote, indicates which fields should be used to "build a unique ID for a single cost record". However, combining these fields does not yield a unique combination within an export. I am specifically looking at Enterprise Agreement exports and to obtain a unique value for each record in the file I need to add `ResourceLocation` an

[2022-11-16 08:21] KapilAnanth-MSFT commented on #101500
@michael-freidgeim-webjet,

The CLI command,
`az network bastion rdp --name "<BastionName>" --resource-group "<BastionResourceGroupName>" --target-resource-id "<VMResourceId>"`

mentions that we should use the resource name and the resource group of the Bastion.

Also, in JSON view, I can see the Resource ID present,
![image](https://user-images.githubusercontent.com/107474080/202126374-d8ccb568-f

[2022-11-16 08:25] lightupdifire opened #101512 "Trust compliant devices"
Hello,

Could be good to add an explanation about "Trust compliant devices",
What kind of compliant device trust is supported, the Azure AD Registered or Azure AD Joined or both?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 2c150664-0126-912e-699b-f97c64ee6b4d
* Version Independent ID: 3a89e05c-e28c-2097-c76d-52d2b9

[2022-11-16 08:37] daisygithuba commented on #100268
Do we have any update on this?

[2022-11-16 08:42] AnuragSingh-MSFT commented on #101385
@SauravB-MS, thank you for reporting this. Based on the reference ICM, I have submitted an update which is under review. Once approved, it will be merged with the doc.

[2022-11-16 08:44] CHEEKATLAPRADEEP-MSFT commented on #101398
@gh-skatt Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-11-16 09:42] bmansheim commented on #100612
Updated in Defender for Cloud content in: https://github.com/MicrosoftDocs/azure-docs-pr/pull/218557

[2022-11-16 09:46] maximilianpalm commented on #101455
By now, I tested enough to know the answer: Ingress traffic is not limited by the specified network throughput of the respective VM SKU.

Example: VM SKU D16as_v5 has 12500 Mbps specified outbount throughput.
[code]
Result: around 12000 Mbps

[code]
Result: 536870912000 bytes in 98s = 43826 Mbps

Also, I now found the sentence regarding ingress traffic mentioned above on the site [Azure virtual ma

[2022-11-16 09:46] #101455 closed

[2022-11-16 09:53] AnuragSingh-MSFT commented on #101466
@JSRAF, thank you for reporting this.

@JnHs, can you please review this and share your thoughts. Thank you.

[2022-11-16 09:53] erjosito commented on #101120
@JohnPoetzinger It actually depends on how you configure routing. If you configure routing to go through the firewalls, traffic will be dropped and kitties will die. If you configure routing to bypass the firewalls, it will be pink unicorns and rainbows.

[2022-11-16 10:01] gerrynicol commented on #101120
@erjosito Hi Jose. So in the following scenario can you please advise. Two secure hubs in different regions. In the same region, the requirement is for B-to-V and V-V traffic to go through the firewall. In the above configuration will inter-hub traffic (across hub regions) still be routed, albeit not via the firewall?

[2022-11-16 10:07] KapilAnanth-MSFT commented on #101247
Since we have not heard back from you, we will now proceed to close this thread.
If there are further questions regarding this matter, please tag me in your reply.
We will gladly continue the discussion and we will reopen the issue.

[2022-11-16 10:07] #101247 closed

[2022-11-16 10:08] bmansheim commented on #100612
@kevelife I merged an update to the Defender for Cloud page that you opened this issue on. Please contact me through email or messaging to explain the need for updates there.

#please-close

[2022-11-16 10:08] #100612 closed

[2022-11-16 10:11] dacaseirmsft opened #101514 "Example is missing `convert_column_types`"
https://learn.microsoft.com/en-us/azure/machine-learning/reference-yaml-mltable#mltable-paths-pattern
![image](https://user-images.githubusercontent.com/118350859/202152403-2ae3728b-c528-4e4d-b70a-80fdf053b9ca.png)

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 6f55a255-60cc-52e3-5338-477175641b

[2022-11-16 10:13] dacaseirmsft opened #101515 "example is incorrect"
https://learn.microsoft.com/en-us/azure/machine-learning/reference-yaml-mltable#mltable-paths-pattern

![image](https://user-images.githubusercontent.com/118350859/202152974-6822beb0-96b2-4a5b-87e6-1542c1ec6a6e.png)

Specify several columns in an array in `convert_column_types` section.
E.g. something like this:
      - columns: [column_a, column_b]
        column_type:
          datetime:

[2022-11-16 10:57] csmulligan commented on #99073
@TonySh127  @YashikaTyagi-MSFT  thanks for reaching out. I've moved this issue to an internal work item for tracking. I'll go ahead and close this issue, but changes to the article are in the works. Thanks again!

#please-close

[2022-11-16 10:58] #99073 closed

[2022-11-16 10:59] JustinVenterGit opened #101518 "Additional info on port 587"
There is no specific clarification as to whether port 587 is open or blocked. Currently it seems like it is blocked by default and you have to open a support ticket to open port 587 it would be good to mention this in the article as it is very ambiguous

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 027fa865-2329-23de

[2022-11-16 11:36] #87065 closed

[2022-11-16 11:37] #82798 closed

[2022-11-16 11:41] fowl2 opened #101519 "Group owner consent - interaction with admin consent?"
This page doesn't make it clear how this setting interacts with other app and consent settings.

Is it possible to allow group owner consent (resource specific consent) only for certain admin approved apps?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 7b913b35-30e0-0781-c527-059675f76cdd
* Version Independent ID: ef

[2022-11-16 11:43] ManoharLakkoju-MSFT commented on #101514
@dacaseirmsft
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-16 11:43] fowl2 commented on #95336
@rwike77 if you had a chance to take a look at this I'd apprecate it :)

[2022-11-16 11:44] ManoharLakkoju-MSFT commented on #101514
@dacaseirmsft
Duplicate of #101515
https://github.com/MicrosoftDocs/azure-docs/issues/101515

We are going to close this thread as Duplicate

[2022-11-16 11:44] #101514 closed

[2022-11-16 11:51] fowl2 commented on #90793
@MayankBargali-MSFT thanks for the reply! I'm still not 100% on how to specify these settings - if they are not available via host.json, what code do we need?

[2022-11-16 11:54] Oury-MSFT commented on #101318
@CorrenSoft Did you use the same code documented [here](https://learn.microsoft.com/en-us/azure/cosmos-db/mongodb/how-to-configure-capabilities). If yes, please share the one you have used so I can test it from my end.

[2022-11-16 11:57] erjosito commented on #101120
With the default configuration that you get out of the Firewall Manager, VHHV traffic will be dropped.

[2022-11-16 11:58] harshal-perennial commented on #95751
Thank you for providing the device information, @dhivyagana and @adminAsks. We are moving forward to try to replicate this issue in our QA environment. we'll keep you informed the testing progress.

[2022-11-16 12:03] AjayBathini-MSFT commented on #101382
@RolandlinAKS
I'm going to assign this to the document author so they can take a look at it accordingly.

[2022-11-16 12:03] AjayBathini-MSFT commented on #101382
@tomvcassidy
Could you please add your inputs on the above query.

[2022-11-16 12:22] SadiqhAhmed-MSFT commented on #101447
@cheekeong84 We haven't heard back from you. Please share more details to assist your better.

[2022-11-16 12:38] sblair01 opened #101522 "Do we still need vxlan/ipsec tunnels?"
My customer is trying to adopt this, but I believe now that we have ARS, could traffic between vnets occur via a UDR or eBGP? If so, I think that approach is easier to configure and manage.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: a129a3a4-4853-bea2-127c-aca64e112601
* Version Independent ID: 47590ee5-cc55-860c-

[2022-11-16 12:43] anperei opened #101523 "Paragraph is misleading"
Hi team,

The below paragraph that we can find in this document is not precise/rigorous and can create some confusion to customers. The sentence is ONLY applicable/true if customers are using the Log Analytics agent (MMA/OMS). If they are using Azure Monitor Agent (AMA), only the VMs from subscriptions with Servers plan 2 enabled will be billed. Subscriptions that don't have the Servers plan 2 ena

[2022-11-16 12:45] mlibenocg opened #101524 "Bad link"
This paragraph contains a link that returns a 404

Authentication methods can also be managed using Microsoft Graph APIs, more information can be found in the document [Azure AD authentication methods API overview](https://github.com/MicrosoftDocs/azure-docs/blob/91c119456ccdca29deeeaae5eb27f47b75a0f7de/graph/api/resources/authenticationmethods-overview)

---
#### Document Details

⚠ *Do not edit

[2022-11-16 13:01] VikasPullagura-MSFT commented on #101506
@Aprilllllll
Thanks for the feedback! We will check and update the document as appropriate.

[2022-11-16 13:02] aravishdatabricks opened #101525 "Doc does not reflect the current state in the Workspace Diagnostics settings"
The doc does not reflect the current state in the Workspace Diagnostics settings.  Please see the image below
![image](https://user-images.githubusercontent.com/79829906/202187097-aed047a4-7499-4b58-96f7-cf5f50fa6f69.png)

- Databricks SQL Analytics is a predecessor for the DatabricksSQL table and needs to be removed
- DatabricksSQL tables are duplicated (both store same data, one of them needs to

[2022-11-16 13:05] metaxasa opened #101526 "SCIM documentation should recommend use of `objectId` not `upn` as unique identifier"
Given `upn` is mutable and developers are [warned not to rely on it](https://learn.microsoft.com/en-us/azure/active-directory/hybrid/howto-troubleshoot-upn-changes), and as per [this issue](https://learn.microsoft.com/en-us/answers/questions/1031142/how-to-key-users-when-using-oidc-and-scim.html), why isn't the recommendation to map `externalId` to the immutable `objectId` for users as well as gro

[2022-11-16 13:15] Abhijeet2019 opened #101527 "How we can use managed identity authentication in case of cogitative service computer vision client library or API."
Is there any documentation available for computer vision cognitive service to authenticate using user managed identity when try to develop from computer vision client library or API?
Ask is we don't want to use computer vision subscription key when developing. we directly want to authenticate using user managed identity. I search a lot and did not found any documentation how to authenticate using

[2022-11-16 13:19] BzSpi commented on #86011
I've found this:

https://github.com/MicrosoftDocs/azure-docs/issues/66475#issuecomment-733056555

This must be documented.

[2022-11-16 13:37] DeanGross opened #101528 "Clarify instructions"
The instructions state that we should set the Authentication mode to any/push, this is not possible. We can only choose one of those options, which one should we use?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 5d46abb2-6ad9-e86e-8808-b69ca11922d8
* Version Independent ID: c4ccd9d6-13c7-6150-6a44-241bdf9b0982
* Con

[2022-11-16 13:46] kishorerv25 opened #101529 "Documentation for using workload identity with on premise kuberentes"
[Enter feedback here]
In this documentation , its stated as it supports on-premises. Can you add documentation how it can be used for on-premise kuberentes (connected with azure arc)
"Supports Kubernetes clusters hosted in any cloud or on-premises"

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 0c5200b5-50ef-da49-e7a0

[2022-11-16 13:51] #101385 closed

[2022-11-16 13:52] MGoedtel commented on #99695
@VikasPullagura-MSFT and @michalgozdowski - I'm opening a work item to update the article to fix this section of the article to be clearer about custom DNS format details, and confirm related details with the PG.

[2022-11-16 14:03] ManoharLakkoju-MSFT commented on #101505
@KellyVance
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-16 14:06] ManoharLakkoju-MSFT commented on #101508
@krisoshau
Can you please check and add your comments on this doc update request as applicable.

[2022-11-16 14:07] #101281 closed

[2022-11-16 14:09] ManoharLakkoju-MSFT commented on #101518
@JustinVenterGit
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-16 14:12] ManoharLakkoju-MSFT commented on #101510
@RoelofSpijker
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-16 14:23] SadiqhAhmed-MSFT commented on #101510
@bandersmsft This sounds like good feedback. Could you please review it and consider for doc-enhancement?

[2022-11-16 14:33] SadiqhAhmed-MSFT commented on #101429
@SLeuthold PAL can be as granular as Resource Instance (ie. single VM); however, technically, it’s set on the user
account and the scope of ACR measurement is whatever admin permissions that user account has
within the environment. Admin scope can be subscription, resource group, or resource instance using
standard Azure admin roles. For example, if you are an SI and I am a company, I might hire y

[2022-11-16 14:36] ManoharLakkoju-MSFT commented on #101524
@mlibenocg
Thanks for your feedback! We will investigate and update as appropriate.

It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!

[2022-11-16 14:38] ManoharLakkoju-MSFT commented on #101522
@halkazwini
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-16 14:39] ManoharLakkoju-MSFT commented on #101512
@lightupdifire
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-16 14:41] ManoharLakkoju-MSFT commented on #101519
@fowl2
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-16 14:42] mlibenocg commented on #101524
Sorry, I thought I was responding to the specific page.

This is the page. The single-sentence paragraph is roughly two-thirds the way down.

https://github.com/MicrosoftDocs/azure-docs/blob/91c119456ccdca29deeeaae5eb27f47b75a0f7de/articles/active-directory/authentication/howto-mfa-userdevicesettings.md

Mike Liben

Client Confidential - OCG Internal
From: ManoharLakkoju-MSFT ***@***.***>
Sent: We

[2022-11-16 14:43] ManoharLakkoju-MSFT commented on #101523
@anperei
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-16 14:44] dave-007 commented on #80588
curious as well

[2022-11-16 14:44] ManoharLakkoju-MSFT commented on #101525
@aravishdatabricks
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-16 14:46] ManoharLakkoju-MSFT commented on #101526
@metaxasa
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-16 14:47] ManoharLakkoju-MSFT commented on #101527
@Abhijeet2019
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-16 14:49] ManoharLakkoju-MSFT commented on #101528
@DeanGross
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-16 14:50] ManoharLakkoju-MSFT commented on #101529
@kishorerv25
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-16 15:11] mav147 opened #101531 "Typo in example"
Very minor typo.

In the example:
Set-ADSyncRestrictedPermissions -ADConnectorAccountDN 'CN=ADConnectorAccount,CN=Users,DC=Contoso,DC=com' -Credential $credential
It should be:
Set-ADSyncRestrictedPermissions -ADConnectorAccountDN 'CN=ADConnectorAccount,OU=Users,DC=Contoso,DC=com' -Credential $credential

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.co

[2022-11-16 15:23] ManoharLakkoju-MSFT commented on #101531
@mav147
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-16 15:26] altrivis opened #101533 "AOGS no longer preview"
This page should be removed completely, AOGS is no longer in Preview and this process page no longer applies.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 57940818-3fd3-abeb-0342-4f6652d720e3
* Version Independent ID: c9acdd3c-6e59-6e99-75d5-1190d40d50cf
* Content: [Onboard to the Azure Orbital Preview](https://lear

[2022-11-16 15:42] RicardoNiepel opened #101534 "Pros and Cons of different AKS Ingress options"
Please provide a summary of pros and cons of different AKS Ingress options we have:
- ingress-nginx
- AGIC add-on
- Web Application Routing add-on

It should empower the customers to choose on their own having their requirements at hand.

It should also list other alternatives not documented in detail and explain briefly what their differences are, like Kong or Envoy.

---
#### Document Details

⚠

[2022-11-16 15:47] jonwbstr opened #101535 "Consulting services short description should include Microsoft 365"
The description below covers all but one of the services listed in the full article, Microsoft 365. Suggest adding "Microsoft 365" to this list.

Below is a list of services outlined in the [related article](https://learn.microsoft.com/en-us/azure/marketplace/plan-consulting-service-offer)

Azure
Dynamics 365 Business Central
Dynamics 365 Commerce
Dynamics 365 Customer Insights
Dynamics 365 Custom

[2022-11-16 16:37] rootbuhr commented on #48719
The link provided shows how to use a QR code, but not how to get one, and there doesn't seem to be a way to get one other than starting fresh with a new MFA registration.

In that case, what's the point of the Authenticator cloud backup in the first place?

[2022-11-16 16:39] JamesTran-MSFT opened #101536 "Update the Confirm that the key vault firewall is properly configured section"
The steps in Section 3 are outdated and reference - `Private endpoint and selected networks is selected`, but since the Portal has been updated, I'm requesting this section be updated to reflect the correct options/steps.

[Confirm that the key vault firewall is properly configured](https://learn.microsoft.com/en-us/azure/key-vault/general/private-link-diagnostics#3-confirm-that-the-key-vault-fire

[2022-11-16 16:47] bartvermeersch commented on #100226
OK I figured it out, I had to reapply the delegation on the subnet after manually registering Microsoft.LabServices on the VNET subscription.

So the root cause was indeed the missing RP on the subscription, which would have been covered if the bicep had registered it properly.

[2022-11-16 16:47] #100226 closed

[2022-11-16 16:54] MicrosoftGuyJFlo commented on #101482
@Talria I'm the doc writer for Identity Protection...

You can get notifications from Identity Protection when a user is at risk. Take a look at the following topic https://learn.microsoft.com/azure/active-directory/identity-protection/howto-identity-protection-configure-notifications

If there are other notifications, you are looking for please feel free to reach out to me via my email (in my pro

[2022-11-16 16:55] Satona75 opened #101537 "Contradiction in Monitoring Azure Backup workloads Doc"
Hi,

I've noticed within the Monitoring Azure Backup workloads document on Microsoft Learn a contradiction

In the paragraph entitled "Azure Monitor alerts for Azure Backup - Job Failure Alerts" is the statement

By default, alerts for job failures are turned off.

Yet in the summary table in the Jobs - backup Failure section is the statement

By default, alerts for backup failures are turned on.

[2022-11-16 17:03] petehauge commented on #100226
Oh, great, thanks for the update @bartvermeersch!  @ntrogh - we should add this note to the documentation if possible, when using a subnet from another subscription, ensure that the labs RP is registered in that subnet before getting started...

Thanks!
Peter Hauge [msft]

[2022-11-16 17:11] Ekzorcist opened #101538 "incorrect attack vector"
Hello, team!

I have found a mistake on the page.

Instead of
"CRS 3.2 offers a new engine and new rule sets defending against Java in**f**ections"
it should be
"CRS 3.2 offers a new engine and new rule sets defending against Java in**j**ections"

There is no such attack vector as "java infections"
The proof is here https://coreruleset.org/2018/

---
#### Document Details

⚠ *Do not edit this sect

[2022-11-16 17:19] Oury-MSFT commented on #101318
@CorrenSoft This is confirmed as a bug. The capability is available, but the ability to use it externally is blocked by a deployment, which is blocked by the holidays.
Could you please file a support ticket to get this enabled for your account right away. The product group will revert the docs change until the capability is available. Apologies for this issue and thank you for bringing this into o

[2022-11-16 17:20] amycolyer opened #101539 "Arc appliance fails on deploy"
The error message while running the script:

2022-11-16T17:00:50Z    INFO    core: Waiting for pod 'Cloud Operator' to be ready...
{"file":"/mnt/vss/_work/1/s/pkg/appliance/client.go:100","func":"Deploy","level":"error","msg":"Error details, Provider: vsphere, Command: Deploy, Msg: Error while deploying via kva, ErrorCode: DeployKvaError, Error: Back-off pulling image \"ecpacr.azurecr.io/cloud-ope

[2022-11-16 17:28] ChaitanyaNaykodi-MSFT commented on #101538
@Ekzorcist Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-11-16 17:31] AnisioMoreira opened #101541 "Azure Front Door Custom Rule PostArgs"
In the Application Gateway Documentation we found the information about supported headers to evaluate PostArgs: (https://learn.microsoft.com/en-us/azure/web-application-firewall/ag/custom-waf-rules-overview#match-variable-required)

In the Azure Front Door Documentation the information about requirements for PostArgs is not available. I need to create an exception to post request with content type

[2022-11-16 17:38] Rodrigossz commented on #101473
Done. #please-close

[2022-11-16 17:38] #101473 closed

[2022-11-16 17:48] sdwheeler commented on #99859
This article has moved and I believe the [current article](https://learn.microsoft.com/azure/developer/terraform/get-started-cloud-shell-powershell?tabs=bash) addressed the issue.

cc: @TomArcherMsft

#please-close

[2022-11-16 17:51] sdwheeler commented on #100897
#reassign:theJasonHelmick

[2022-11-16 17:51] sdwheeler commented on #99502
#reassign:theJasonHelmick

[2022-11-16 17:54] selenearzola commented on #81934
Hi everyone, I was facing the same issue, but hopefully, I was able to configure Nginx properly by reading these articles:

1.- https://azureossd.github.io/2021/09/02/php-8-rewrite-rule/index.html

2.- https://techcommunity.microsoft.com/t5/apps-on-azure-blog/configure-nginx-for-php-8-linux-azure-app-service/ba-p/3069373

In summary, we had to add some extra configurations to the Nginx configurati

[2022-11-16 18:06] tourams opened #101545 "Sentence is not correct"
[Enter feedback here]
Link : https://learn.microsoft.com/en-us/azure/service-bus-messaging/service-bus-messaging-overview
The following content is not clear in meaning :
 "Service Bus never leaves messages in memory or volatile storage after they've been reported to the client as accepted." .

It should be either

" Service Bus never leaves messages in memory or volatile storage after they've been

[2022-11-16 18:08] twimmers commented on #101443
@TonySh127 Are you saying that the customer needs to have a Slack Instance before they can configure provisioning in Azure AD?

[2022-11-16 18:08] twimmers commented on #101443
@TonySh127 Are you saying that the customer needs to have a Slack Instance before they can configure provisioning in Azure AD?

[2022-11-16 18:10] khdownie commented on #101332
I added a note to this doc saying that creating a hard link from an existing symbolic link isn't currently supported:

https://learn.microsoft.com/en-us/azure/storage/files/files-nfs-protocol

Support appears to be on the roadmap, so I will remove the note when it's supported.

[2022-11-16 18:12] GeethaThatipatri-MSFT commented on #101308
I'm assigning this to the author for review.

[2022-11-16 18:13] khdownie commented on #101332
#please-close

[2022-11-16 18:13] #101332 closed

[2022-11-16 18:23] richshadman commented on #101419
You are welcome. Please note the title is now incorrect - I at first thought it was related to the containerd bug however after closer inspection it was because of the sandbox mount point not being considered.

I can update the title to reflect this if you prefer.

[2022-11-16 18:43] mganeshphani opened #101546 "databricks get secret code with getBytes and decoding no longer works"
databricks get secret code with getBytes and decoding no longer works, this document needs to be corrected

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 1c1af686-fd41-47e8-a6cb-70197f33bc67
* Version Independent ID: 6cc4bc4f-850d-9061-d66d-68620b4baa29
* Content: [Databricks Utilities - Azure Databricks](https://lear

[2022-11-16 18:54] ElazarK commented on #101284
#reassign:bmansheim

[2022-11-16 18:55] SladMSFT commented on #101324
Any updates on this?

[2022-11-16 18:55] ElazarK commented on #101284
Reassigned to BMansheinm as he has a better connection with the team who handles this topic and he may be able to get a response faster

[2022-11-16 18:55] Tiberriver256 opened #101547 "Logging in Functions v4 has changed significantly"
There is a new NuGet package and new steps for utilization

Reference: https://github.com/Azure/azure-functions-dotnet-worker/issues/760

cc: @brettsam

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 7a4532b8-8c27-ca15-edc6-85fc38cab341
* Version Independent ID: e06de78b-9271-25a4-439d-2a024f31693e
* Content: [Develop

[2022-11-16 19:00] GreenCee opened #101548 "Example needs image url update"
Doc example that is referenced here points to a non-existing mcr image as 'core' has been removed from the namespace
https://raw.githubusercontent.com/Azure/application-gateway-kubernetes-ingress/master/docs/examples/aspnetapp.yaml

  - image: "mcr.microsoft.com/dotnet/core/samples:aspnetapp"
  should be
  - image: "mcr.microsoft.com/dotnet/samples:aspnetapp"
---
#### Document Details

⚠ *Do not e

[2022-11-16 19:00] mardahl commented on #81934
The blog mentioned in earlier posts is fine. Just strange that it is a Microsoft blig, and nobody took the time to add the information to the DOCS.

I'm guessing it could also be put into the deployment yaml file when pushed from Github actions or the likes.
Ideally there should be an application setting for defining the nginx root.

[2022-11-16 19:05] JananiRamesh-MSFT commented on #101545
@tourams Thanks for your feedback, we will review and update appropriately

[2022-11-16 19:27] PatAltimore commented on #101333
Hi @Rick-Anderson ,

Thanks for the rewording. I changed the include and merged it.

Thanks again,
Pat

#please-close

[2022-11-16 19:27] #101333 closed

[2022-11-16 19:30] #99093 closed

[2022-11-16 19:30] #93666 closed

[2022-11-16 19:30] #98879 closed

[2022-11-16 19:35] Rick-Anderson commented on #101333
@PatAltimore  @SaibabaBalapur-MSFT  what about fixing too many includes? That's really a bad system. You should use folders to make it more manageable.  Should I open another issue someplace else? Anything more than about 200 files is too many. An open source environment should be able to use the browser to make a PR, but you can only see the first 1,000 files.

[2022-11-16 19:38] ggailey777 commented on #50324
The current document is "by design." Thanks for your feedback. #please-close

[2022-11-16 19:38] #50324 closed

[2022-11-16 19:55] callachun commented on #55169
#please-close

This article file no longer exists

[2022-11-16 20:03] CorrenSoft commented on #101318
Thanks for the update and the recommendation. I will skip that step thou because wasn't trying to implement this for myself but in Terraform's provider  (https://github.com/hashicorp/terraform-provider-azurerm/issues/19192).

A notification when this is ready will be great :)

Thanks again.

[2022-11-16 20:13] ggailey777 commented on #59008
Thanks to everyone for the feedback. We've created an internal work item ([38344](https://dev.azure.com/msft-skilling/Content/_workitems/edit/38344)) to update `fileLoggingMode` in the article.  #please-close

[2022-11-16 20:13] #59008 closed

[2022-11-16 20:14] ggailey777 commented on #48431
Thanks to everyone for the feedback. We've created an internal work item ([38344](https://dev.azure.com/msft-skilling/Content/_workitems/edit/38344)) to update `fileLoggingMode` in the article.  #please-close

[2022-11-16 20:14] #48431 closed

[2022-11-16 20:22] jsimsmsft commented on #101332
Amazing!  Thank you Ken!

Javan Sims
Microsoft Azure Customer Service and Support  - IaaS VM / Storage (Direct: +1 (425) 703-4595)
Working Hours:  Monday-Friday 8:00 AM - 5:00 PM Pacific US
If assistance is needed during my off hours, please contact ***@***.*** ***@***.***> with case # and availability.
We love feedback. Please contact me or my manager at ***@***.******@***.***>

From: Ken Downie

[2022-11-16 20:59] spelluru commented on #95907
#please-close

[2022-11-16 20:59] #95907 closed

[2022-11-16 21:15] Oury-MSFT commented on #101318
Sure @CorrenSoft Our produc group will update the doc when this capability will be available.

[2022-11-16 21:15] #101318 closed

[2022-11-16 21:25] billmath commented on #78230
Thank for submitting this. I have created a work item for it and will reviewing this in the coming weeks. I am not sure what the timeline will be, so I am going to close this for now. But once I have an update I will drop it in here and let you know.

Thank you!

Bill

#please-close

[2022-11-16 21:25] #78230 closed

[2022-11-16 21:28] billmath commented on #79384
After reviewing, no missing URL was found.

@please-close

[2022-11-16 21:29] billmath commented on #79878
Thank you for the submission.  This is going to be included in upcoming changes.  Thanks!

#please-close

[2022-11-16 21:29] #79878 closed

[2022-11-16 21:30] billmath commented on #80005
Thank you for your issue submission. Unfortunately, this appears to be a support issue. Issues in this repo are for documentation issues. You can try one of the following links for additional help.

Microsoft Support: https://support.microsoft.com/
Azure AD forums: https://social.technet.microsoft.com/Forums/en-US/home?forum=windowsazureaditpro
Stackoverflow: https://stackoverflow.com/

[2022-11-16 21:30] billmath commented on #80005
#please-close

[2022-11-16 21:30] #80005 closed

[2022-11-16 21:45] RonnyVDS opened #101549 "Custom Domain not under the section 'Settings' anymore"
Custom Domain sits under 'Networking'

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: c6e71abc-975e-3528-9df4-38347afaeaa6
* Version Independent ID: 50e920b7-bb61-0c03-ae93-68e455dfe91b
* Content: [Set up a custom domain with external providers in Azure Static Web Apps](https://learn.microsoft.com/en-us/azure/static-we

[2022-11-16 21:46] tofusgh opened #101550 "Add new Networking Resource Graph Query to check if a VNET is in use for clean up efforts"
Can we publish the below sample Resource Graph Query to help identify VNETs that may be in use for audit/clean up purposes:

resources
| where type == "microsoft.network/virtualnetworks"
| where properties.virtualNetworkPeerings contains 'RemoteVnetToHubPeering_' // peered to vWAN
| where properties.virtualNetworkPeerings notcontains 'remoteVirtualNetwork' // peered VNETs
| where tostring(properti

[2022-11-16 21:58] PatAltimore commented on #101333
Hi @Rick-Anderson ,

In azure-docs, the author / owner gets to choose where includes are located. Some early initial guidance recommended to put all includes in the root include folder. It's a bit of legacy. I'm considering moving the iot-edge includes in the article/iot-edge/include folder. Before the move, I need to investigate if they are only used in the IoT Edge content and not in other conte

[2022-11-16 22:02] rav0k opened #101551 "Limitations and requirements - ADFS claim rules need to be checked?"
[Hello Team,

Hope you all are good!
I've worked with PG in my lab validating the MFA Server Migration Utility and during the tests, my ADFS had an Access Control Policy enforcing the users to perform MFA on the MFA Server using the ADFS Adapter.
What happened was that after we had migrated some test users they were still pointing to the MFA Server because of the ACP.
Once the ACP on ADFS was chan

[2022-11-16 22:21] krisoshau commented on #101508
I have no idea what you are asking

[2022-11-16 22:32] Rick-Anderson commented on #101333
Right, but it doesn't mandate no folders.  See the [aspnetcore/includes](https://github.com/dotnet/AspNetCore.Docs/tree/main/aspnetcore/includes)

Just make a `azure-docs/tree/main/includes/iot-edge` folder

With the default settings, it has to be `includes`

Before the move, I need to investigate if they are only used in the IoT Edge content and not in other content in the repo.
Why do you need t

[2022-11-16 22:35] thesheebs opened #101552 "Outdated with no option for .Net 6"
The Nuget **_Microsoft.Identity.Web.MicrosoftGraph_** for this tutorial does not support .Net 5 and higher. It only supports .Net 3.1 which reaches end of life in less than a month. The tutorial does not offer an alternative to Microsoft.Identity.Web.MicrosoftGraph.

[2022-11-16 23:13] shlipsey3 commented on #101270
@ulkeba
Hi Bastian - I made a couple edits to the article - should be live tomorrow. I hope it clarifies things. I opted to just refer to the inherited "access" as that's the main function. I appreciate your eyes on this.
Sarah

[2022-11-16 23:17] DavidKlempfner opened #101555 "Incorrect link"
The link in:
_Use [Windows 64-bit host](https://learn.microsoft.com/en-us/azure/cosmos-db/nosql/performance-tips#hosting) processing for best performance, whenever possible._
doesn't talk about 64 bit hosting.

Should the link be this instead?:
https://learn.microsoft.com/en-us/azure/cosmos-db/nosql/performance-tips-query-sdk?tabs=v3&pivots=programming-language-csharp#use-local-query-plan-generati

[2022-11-16 23:30] TonySh127-ms commented on #101443
Hi @twimmers , thanks your response. The customer has admin account and Slack Instance. But the customer seems to be required to install something before the step 4, like below screenshot.
<img width="314" alt="image" src="https://user-images.githubusercontent.com/68043042/202316956-8d819b56-a1c2-4f48-9f88-1118e8217698.png">
Sorry if I misunderstand above step is created a new Slack Instance. Base

[2022-11-16 23:31] KarlErickson commented on #96551
Content has been updated.
#please-close

[2022-11-16 23:31] #96551 closed

[2022-11-16 23:36] ChaitanyaNaykodi-MSFT commented on #101548
@GreenCee,

Thank you for your feedback, a similar feedback item is already open under the author here #101497

We will now proceed to close this issue out as duplicate. Thank you!

FYI @greg-lindsay

[2022-11-16 23:36] #101548 closed

[2022-11-16 23:39] KarlErickson commented on #101016
@mnriem can you provide any additional guidance here? Thanks!

[2022-11-16 23:42] ChaitanyaNaykodi-MSFT commented on #101405
@wUEZRs Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-11-16 23:51] ChaitanyaNaykodi-MSFT commented on #101269
@timwebster9 ,
Thank you for the feedback, the document has been updated with the correct limit.

The team currently working on increasing the limits to mitigate any scaling issue.

Hope this helps! Please tag me in your response if you have any additional questions. Thank you!

[2022-11-16 23:51] #101269 closed

[2022-11-16 23:56] RyanHill-MSFT commented on #101549
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-11-16 23:59] PatAltimore commented on #101333
Hi @Rick-Anderson ,

Thanks for tips. I'll be moving the IoT edge includes soon.

Pat

[2022-11-17 00:03] TonySh127-ms commented on #99073
Thanks for your help as well @csmulligan

[2022-11-17 00:03] jamesdplee opened #101557 "Diagram for Azure AD Kerberos Option"
Hi Team,

The two diagrams very clearly and succinctly show some key differences between AD / AD DS as the Identity Source for Azure Files. The newer option - Azure AD Kerberos - does not have a diagram.

This made it a little less obvious that there is in fact a requirement for a traditional Active Directory Domain Services (ADDS) deployment for this feature to work.

Also, cloud-only authenticat

[2022-11-17 00:18] neihasandhu opened #101558 "Can the user input options be introduced to MSDO's secret scan task?"
Hello there,

Can user input options to the secret scanning capability be introduced? that can provide custom user experience with respect to secret scanning. For example, target directory option would enable customers to run secret scan on a specified directory.
It would be quite useful to have one Azure DevOps pipeline which scans the entire repository in one go.

Thank you.

---
#### Document D

[2022-11-17 00:34] ChaitanyaNaykodi-MSFT commented on #101279
@jeffjfield, apologies for the delayed response here.

Yes it is possible. You can run the commands below to deallocate and allocate Azure Firewall when it is in a secured VWAN hub.

$firewall=Get-AzFirewall -ResourceGroupName <RgName> Name <fwName>
$firewall.Deallocate()
$firewall | Set-AzFirewall

$Hub = Get-AzVirtualHub -ResourceGroupName<RgName> Name <fwName>
$firewall.Allocate($Hub.Id)
$firew

[2022-11-17 00:34] #101279 closed

[2022-11-17 00:44] Rick-Anderson opened #101559 "azure-docs/tree/main/includes should use folders"
<img width="454" alt="image" src="https://user-images.githubusercontent.com/3605364/201451511-2668a737-3959-4e91-af1e-9f8871e29d6b.png">

1,979 files is way too many for one folder. Customer can't access all the files from the browser. Even if they could, that's way too many files to wade through.

For example, all the `active-directory-*` files should be in the `/active-directory-` folder

<img w

[2022-11-17 00:46] Oury-MSFT commented on #101555
@DavidKlempfner Thank you your feedback. We are looking into this and will get back to you shortly.

[2022-11-17 01:29] thirotane opened #101560 "fuzz testing page link has expired."
[Enter feedback here]
The link for fuzz testing seems expired. Could you link proper url?
When we clicke this link we see the 404 page.
https://cloudblogs.microsoft.com/microsoftsecure/2007/09/20/fuzz-testing-at-microsoft-and-the-triage-process/
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 19cb71ec-6372-f406-8542-805

[2022-11-17 02:17] ManoharLakkoju-MSFT commented on #101533
@altrivis
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-17 02:19] ManoharLakkoju-MSFT commented on #101534
@RicardoNiepel
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-17 02:21] ManoharLakkoju-MSFT commented on #101535
@jonwbstr
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-17 02:31] ManoharLakkoju-MSFT commented on #101537
@Satona75
Thanks for your feedback! We will investigate and update as appropriate.

It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!

[2022-11-17 02:33] ManoharLakkoju-MSFT commented on #101539
@amycolyer
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-17 02:35] ManoharLakkoju-MSFT commented on #101546
@mganeshphani
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-17 02:38] ManoharLakkoju-MSFT commented on #101541
@AnisioMoreira
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-17 02:38] SnehaGunda commented on #93233
@lon-tierney thanks for the update. We will close this issue as it's fixed.

#please-close

[2022-11-17 02:38] #93233 closed

[2022-11-17 02:45] ManoharLakkoju-MSFT commented on #101547
@Tiberriver256
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-17 02:47] ManoharLakkoju-MSFT commented on #101551
@rav0k
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-17 02:49] ManoharLakkoju-MSFT commented on #101552
@thesheebs
Thanks for your feedback! We will investigate and update as appropriate.

It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!

[2022-11-17 02:52] ManoharLakkoju-MSFT commented on #101550
@tofusgh
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-17 02:53] ManoharLakkoju-MSFT commented on #101557
@jamesdplee
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-17 02:57] ManoharLakkoju-MSFT commented on #101560
@thirotane
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-17 02:59] ManoharLakkoju-MSFT commented on #101559
@Rick-Anderson
Thanks for your feedback! We will investigate and update as appropriate.

It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!

[2022-11-17 03:05] deeicloudstack099 commented on #71760
Is there any way to handle a random query string parameters coming from web app to b2c? Using custom policies.

[2022-11-17 04:13] shaktisingh-msft commented on #101394
Hi @sstone1,

EnableUniqueCompoundNestedDocs  capability will be added shortly by the team.
Document has been updated for now.

The capability is available, but the ability to use it is yet to be released. We recommend you to raise support ticket to get this enabled for your account if needed immediately.

Thanks again for highlighting the issue and observation.

[2022-11-17 04:13] #101394 closed

[2022-11-17 04:15] ManoharLakkoju-MSFT commented on #101531
@mav147
Thanks for reporting this! We have created a PR for this issue and the changes should go live soon.

[2022-11-17 04:18] shaktisingh-msft commented on #101348
Hi @chiachang100 ,

Thanks for sharing this observation.
Changes have been made:
![image](https://user-images.githubusercontent.com/110027638/202354171-6804876f-fbb6-49a4-b60d-a2464dbb72ad.png)

[2022-11-17 04:18] #101348 closed

[2022-11-17 04:30] #101531 closed

[2022-11-17 04:57] ziadrida opened #101563 "Avoiding duplicate records"
The proposed optimization works but the danger exists where the "par" or partition filter is incorrect so the join on id will not happen and the merge into will go to the "when not matched" and do an insert.
What i would have expected to be a better idea is that the "par" or partition key becomes part of the join or "on" clause so that
table1.par = table2.par are used. That should pass down "par"

[2022-11-17 05:02] KapilAnanth-MSFT commented on #101541
@AnisioMoreira ,

I see content type “application/json” is supported with CRS 3.2 or greater.
![image](https://user-images.githubusercontent.com/107474080/202360311-b3daf967-fd0e-48c5-aaab-581685749e3a.png)

[2022-11-17 05:06] v-ksreedevan commented on #101083
@vijain, please look into this issue.

[2022-11-17 05:13] v-ksreedevan commented on #101083
#reassign: @vijain

[2022-11-17 05:14] v-ksreedevan commented on #101083
#reassign: @jain.vishal@microsoft.com

[2022-11-17 05:15] v-ksreedevan commented on #101083
#reassign: @jain.vishal

[2022-11-17 05:27] v-ksreedevan commented on #101083
#reassign: @pingvishal-msft

[2022-11-17 05:35] mjfara commented on #65143
Having the same problem on a legacy app I'm supporting.
Notifications have worked for years without issue and no settings have been touched.
I generated a new secret and followed all instructions from this thread.
@RyanHill-MSFT - would you be able to help?

[2022-11-17 05:46] JuanKerr opened #101564 "Grammar issues"
"The performance of a SAN is shared across all of its volumes, as long as the SAN's caps aren't exceeded and the volumes are large enough, each volume can scale up to 64,000 IOPs"

You have two comma splices here and as such the sentence is highly confusing. I *think* what you're trying to say is:

The performance of a SAN is shared across all of its volumes. As long as the SAN's caps aren't excee

[2022-11-17 05:51] kongou-ae opened #101565 "Need more clarification about RDS CAL"
Hi,

My customer is confused by the following QA.

Does Azure Bastion require an RDS CAL for administrative purposes on Azure-hosted VMs?
No, access to Windows Server VMs by Azure Bastion doesn't require an RDS CAL when used solely for administrative purposes.

I believe that a customer needs to install RDS CAL to the target VM when their concurrent connection is three or above. If my understandin

[2022-11-17 05:52] kongou-ae commented on #97610
Thanks @asudbring

[2022-11-17 06:23] SaibabaBalapur-MSFT commented on #101391
@ChrisParrBIE
I'm going to assign this to the document author so they can take a look at it accordingly.

@normesta
Please add your input for above query's.

[2022-11-17 06:27] SaibabaBalapur-MSFT commented on #101083
@anvar-ms
Could you please add your input for above case.

[2022-11-17 06:32] SaibabaBalapur-MSFT commented on #101407
@MrRitt
I'm going to assign this to the document author so they can take a look at it accordingly.

@b-hchen
Please review it.

[2022-11-17 06:34] SaibabaBalapur-MSFT commented on #101426
@siwibowo
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

@tomvcassidy
Can you please check and add your comments on this doc update request as applicable.

[2022-11-17 06:38] RamanathanChinnappan-MSFT commented on #101499
@djdimmen

Please go through this below link for your reference

https://learn.microsoft.com/en-us/sql/t-sql/statements/create-workload-classifier-transact-sql?source=recommendations&view=azure-sqldw-latest

[2022-11-17 06:38] SilviuMihai commented on #101400
Sorry, I find it very weird, because I added the url in the first post. But do please check the following link: [active-directory-b2c-node-sign-up-user-flow-captcha](https://github.com/Azure-Samples/active-directory-b2c-node-sign-up-user-flow-captcha/issues)

[2022-11-17 06:42] SaibabaBalapur-MSFT commented on #101432
@museg27
Thanks for reporting this! We have created a PR for this issue and the changes should go live soon.

[2022-11-17 06:45] SaibabaBalapur-MSFT commented on #101452
@jamesdplee
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

@jimmart-dev
Can you please check and add your comments on this doc update request as applicable.

[2022-11-17 06:53] SaibabaBalapur-MSFT commented on #101485
@nambir
Could you please elaborate the query for better understanding. So, we can assist you further and please provide broken link which your unable to open.

[2022-11-17 06:57] RamanathanChinnappan-MSFT commented on #101433
@TheNaila

Could please go through below link and kindly update audio setting in the windows

 However, if you are going to use the default microphone then you don't need AudioConfig. Can you please try the basic quickstart (C++/Windows) below, does it not work for you?
https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/quickstart/cpp/windows/from-microphone

If there are a

[2022-11-17 06:58] SaibabaBalapur-MSFT commented on #101506
@Aprilllllll
Thanks for reporting this! We have created a PR for this issue and the changes should go live soon.

[2022-11-17 07:00] #101432 closed

[2022-11-17 07:01] SaibabaBalapur-MSFT commented on #101534
@RicardoNiepel
I'm going to assign this to the document author so they can take a look at it accordingly.

@jahabibi
Can you please check and add your comments on this doc update request as applicable.

[2022-11-17 07:06] #101358 closed

[2022-11-17 07:07] #101396 closed

[2022-11-17 07:10] AjayBathini-MSFT commented on #101519
@fowl2
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

@eringreenlee
Could you please add your inputs on above query

[2022-11-17 07:17] AjayBathini-MSFT commented on #101528
Hi @DeanGross

As per document we can relate only one of the rule either Any or Push. For further clarification can you find below screenshot!

<img width="491" alt="image" src="https://user-images.githubusercontent.com/111562794/202380722-fe4ece7e-2607-41e3-b466-ae95ab86495f.png">

[2022-11-17 07:19] AjayBathini-MSFT commented on #101539
@amycolyer
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

@jjaygbay1
Can you please check and add your comments on this doc update request as applicable.

[2022-11-17 07:19] KapilAnanth-MSFT commented on #101347
@greg-lindsay, please look into this and update the docs as required.

[2022-11-17 07:20] ManoharLakkoju-MSFT commented on #101560
@thirotane
Duplicate of #101495

[2022-11-17 07:20] #101560 closed

[2022-11-17 08:00] marosrojis commented on #32624
@ash2017 I would like to ask you, how did you help @lciocci with his problem? I'm solving similar problem right now and I would be really glad for your help.

Thank you.

[2022-11-17 08:06] mansingh8 opened #101568 "24"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 8da07311-409a-3de1-d501-93f6a798f6ff
* Version Independent ID: 1878ec1a-a173-8234-65db-e7835f1c4438
* Content: [Frequently asked questions about Azure for Students and Azure Dev Tools for Teaching](https://learn.microsoft.com/en-in/azure/education-hu

[2022-11-17 08:06] mansingh8 commented on #101568
Mansingh8

[2022-11-17 08:26] #101506 closed

[2022-11-17 08:51] ElazarK commented on #101523
#reassign:bmansheim

[2022-11-17 08:56] gekkota commented on #96775
Neither installing the extension bundle or the above version seems to work any more.

I also tried with 1.3.0 without success.

Using either results in the Live Trace returning:

{"time":"2022-11-17T08:50:20.2093572Z","logLevel":"Warning","eventName":"AbuseProtectionResponseFailed","message":"Abuse protection validation for 'https://xxx.azurewebsites.net/runtime/webhooks/webpubsub?code=x' failed."

[2022-11-17 08:59] ManoharLakkoju-MSFT commented on #101529
@kishorerv25
For you information Please refer the below in documented link

https://learn.microsoft.com/en-us/azure/aks/hybrid/overview#:~:text=the%20deployment%20process%3A-,View%20and%20manage%20on%2Dpremises%20Kubernetes%20using%20tools%20or%20Azure%20Arc,-Once%20you%27ve%20set

[2022-11-17 09:05] ManoharLakkoju-MSFT commented on #101527
@Abhijeet2019
For you information Please refer the below in documented link

https://learn.microsoft.com/en-us/azure/cognitive-services/authentication?tabs=powershell#:~:text=Call%20the%20Computer%20Vision%20API%3A

[2022-11-17 09:16] ManoharLakkoju-MSFT commented on #101446
@aaaaasam
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

[2022-11-17 09:17] ManoharLakkoju-MSFT commented on #101446
@shlipsey3
Can you please check and add your comments on this doc update request as applicable.

[2022-11-17 09:29] BlobSpirit opened #101569 "1560241 - To release DataSources for ODP API - link is dead"
Hello,
the link to SAP note is dead:
1560241 - To release DataSources for ODP API - link is dead

it says: SAP Note/KBA 1560241 has been removed as below:
![image](https://user-images.githubusercontent.com/90314513/202408490-85ae82a6-e0ce-49f5-9670-68b75d5e993b.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 0110a

[2022-11-17 09:44] CaishenNefri opened #101571 "Lack of python examples"
I would like to get Python examples of using Azure Function bindings patterns

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 77fbaa31-cfcc-4b8c-abe0-4efeaee3e4f0
* Version Independent ID: db65fc3d-d8b3-1f19-91a0-4f3696fbca69
* Content: [Azure Functions bindings expressions and patterns](https://learn.microsoft.com/en-

[2022-11-17 09:45] Abhijeet2019 commented on #101527
This documentation is for AAD authentication I want to use same process for computervisionclient library or using REST API call. Any documents available for same?

[2022-11-17 09:59] KapilAnanth-MSFT commented on #101565
@kongou-ae, Thanks for your feedback. We shall check this and get back to you shortly!

[2022-11-17 10:14] SorenHartvigJensen commented on #69658
@VikasPullagura-MSFT It would seem that @macols didn't find the time to answer. Any other people we could include who might know something?

[2022-11-17 10:24] baaaaif opened #101572 "Missing WindowsAppSDK push-documentation with azure notification hubs"
please share an documentation update on how to configure WindowsAppSDK WNS PushNotifications
(https://learn.microsoft.com/en-us/windows/apps/windows-app-sdk/notifications/push-notifications/push-quickstart)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 1cec44d3-da71-5c8e-61c3-e9704db79ab2
* Version Independent ID: eb

[2022-11-17 10:28] BenjiSec opened #101573 "Change wording for supported data connectors for SentinelHealth table"
Can we change wording for supported date connectors for SentinelHealth table as it is stating "Office ATP" as connector - this connector with this name doesn't exists. When we click on it, it is leading to Microsoft Defender for Endpoint.

https://learn.microsoft.com/en-us/azure/sentinel/monitor-data-connector-health#supported-data-connectors

![image](https://user-images.githubusercontent.com/615

[2022-11-17 10:43] nambir commented on #101485
Hi @SaibabaBalapur-MSFT ,
Attaching the screenshot.
![image](https://user-images.githubusercontent.com/16057911/202425722-991cd52a-c92d-4976-bf97-7d6fd40a249a.png)

[2022-11-17 10:45] csmulligan commented on #95870
#reassign:@csmulligan

[2022-11-17 10:48] sergiosolorzano opened #101574 "Durable Entity function doesn't trigger or receive data from streaming analytics"
As posted in [stackoverflow](https://stackoverflow.com/questions/74403626/durable-entity-function-doesnt-trigger-or-receive-data-from-streaming-analytics?noredirect=1#comment131455514_74403626) with no response, please help.
The durable entity function I've setup as output for a streaming analytics job doesn't trigger or receive any data. I can see incoming input data in the stream analytics job a

[2022-11-17 10:49] azaricstefan commented on #86701
@javast97
Check out the article I shared above.
Here is the example:
Modify the following script to create an external table that accesses Azure storage using SAS token, Azure AD identity of user, or managed identity of workspace.

[code]

[2022-11-17 10:56] rav0k commented on #101551
@ManoharLakkoju-MSFT
Just got the confirmation from PG that this statement is incorrect and needs to be replaced as suggested to avoid misleading our customers.

[2022-11-17 11:05] vespassassina opened #101576 "Confusing documentation"
Documentation on how to connect AKV to AKS is very confusing and hard to use. It would be ideal to have a step by step example implementation that has been tested to work.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: ec9ff712-aa4c-4e95-ba96-2405010d9f83
* Version Independent ID: f553a5a4-a20f-8efd-3712-e64112c35676

[2022-11-17 11:20] MikeForster100 opened #101578 "Metastore Service Principle is not on option through portal"
Metastore Service Principle is not on option through portal (As per this doc instructions) Access Connector ID is required!
Forcing you down the public preview managed identity route?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: e8a44621-ac8f-caa2-f0b5-e967aed05bdf
* Version Independent ID: e8a44621-ac8f-caa2-f0b5-e

[2022-11-17 11:28] SnehaAgrawal-MSFT commented on #101572
@baaaaif Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-11-17 11:32] kengaderdus commented on #97051
Close due to inactivity
#please-close

[2022-11-17 11:33] #97051 closed

[2022-11-17 11:39] FreddyAyala opened #101579 "Azure AD workload identity (preview) shouldn't be a best practice untill GA"
Hello there, in this page it is stated:

**However inside the same article it is also said**

Some clients are implementing this because it makes part of the best practices unaware that this feature is in preview and is not recommended for production usage, we have some clients which have found out that aad pod identities do not work correctly in aks nodes that were created using HPA autoscaler.

[2022-11-17 11:40] DavidKlempfner opened #101580 "Unclear text"
"The IdleConnectionTimeout property helps which control the time unused connections are closed."

This doesn't read well. Should it be this instead?:
"The IdleConnectionTimeout property helps control the time after which unused connections are closed."

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 5d386700-74f7-aba4-

[2022-11-17 11:53] dnunezmo opened #101581 "Azure DNS Private Resolver - get vsd file for png in /blob/main/articles/dns/dns-private-resolver-overview.md"
You can also create a feedback issue here in the repo. If you do this, please make sure your issue lists:

- [x] The relevant Azure service or technology.
- [x] A link to the published documentation article that you have feedback about.
- [x] Clear, specific feedback that the author can act on.

Is it possible to get the .vsdx ot .svg file for the image in this doc? Precisely this one:
https://git

[2022-11-17 11:56] shaktisingh-msft commented on #101580
Hi @DavidKlempfner,

Thanks for sharing this feedback. We will look into this and update as appropriate.

[2022-11-17 12:29] RamanathanChinnappan-MSFT commented on #101428
@nicholasgcotton

We have assigned the issue to author and will provide further updates.

[2022-11-17 12:29] RamanathanChinnappan-MSFT commented on #101428
@eric-urban

could you please review this and update as appropriate.

[2022-11-17 12:42] Naveenommi-MSFT commented on #101515
@dacaseirmsft
Thank you for bringing this to our attention. I've assigned this issue to the author who will investigate and update as appropriate.

[2022-11-17 12:45] saraamini8 opened #101582 "Known issue - Duplication of CA policy with "Require authentication strength (Preview)" setting"
Creating a "conditional access policy" with "Require authentication strength (Preview)" setting, through Azure portal we're getting 2 policies being created instead of 1.

Here is a short video of this behavior if it helps:
https://watch.screencastify.com/v/5lwKkgpCQgxYegMQHVdV

This is confirmed by PGs and would be fixed.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2022-11-17 12:56] jikuja commented on #83844
Could not find examples I listed from new documenation.

Did this change happen or is ARG missing endpoints to fetch required information for sub-resources and extension resources?

[2022-11-17 13:11] brianreidc7 opened #101583 "Readable Dates (International)"
Hi - is it possible not to use US date format on this page but to use something that is clearer for an international audience. For example at the top at the moment you have "11/9/2022: Released for download", which is 11th September 2022 as I see it (UK based), but I think you mean 9th November 2022. There are many examples of this in the document and its only by scrolling down to the heading 2.1.

[2022-11-17 13:14] #101500 closed

[2022-11-17 13:21] tomkuijsten opened #101584 "DateTime.UtcNow serialization length varies"
From the docs:

[code]

We use ` DateTime.UtcNow ` in code to store DateTimes in cosmos. I do notice however, that the length of the serialized string is not consistent. The ms part is not always 7 positions long, eg:

[code]

When I take this difference into account and read your docs about "the same length", I get confused.

Question: Can we use DateTime.UtcNow to store DateTimes to cosmos, or d

[2022-11-17 13:22] kengaderdus commented on #100903
@jhaynes3021

Thank you for your feedback and patience. We're collecting all the information we need to address this issue. We'll post back when we've something.

[2022-11-17 13:34] KapilAnanth-MSFT commented on #101565
@kongou-ae, we have assigned this thread to the author for further review.

@cherylmc , please look into this suggestion and update the FAQ session as required.

[2022-11-17 13:35] VikasPullagura-MSFT commented on #101576
@vespassassina
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-11-17 13:35] VikasPullagura-MSFT commented on #101576
@Nickomang
Can you please check and add your comments on this doc update request as applicable.

[2022-11-17 13:36] VikasPullagura-MSFT commented on #101579
@FreddyAyala
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-11-17 13:37] #101401 closed

[2022-11-17 13:54] SadiqhAhmed-MSFT commented on #101447
@cheekeong84 We haven't heard back from you, so we will now close this issue. If this remains an issue, please reply and we will gladly continue the discussion.

[2022-11-17 13:54] #101447 closed

[2022-11-17 13:54] SaltyBenjamin opened #101588 "learn to github link"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 0ce34b51-c8d3-32cc-6a22-7928fb522a05
* Version Independent ID: 59b90561-8d1e-6521-0f60-98fbfda70922
* Content: [Quickstart - Access & create new tenant - Azure AD - Microsoft Entra](https://learn.microsoft.com/en-us/azure/active-directory/fundamental

[2022-11-17 13:55] AnisioMoreira commented on #101541
Ok, but the text that you sent me is about WAF on Application Gateway.
In FAQ of Front Door's CRS is Supported only in Application Gateway.

![image](https://user-images.githubusercontent.com/40587154/202463985-785ce541-63cb-4137-bb6d-3d1aa5a6680a.png)

https://learn.microsoft.com/en-us/azure/web-application-firewall/afds/waf-faq#do-you-support-same-waf-features-in-all-integrated-platforms-

[2022-11-17 13:58] csmulligan commented on #98685
@alexchen2016  thanks for reaching out. I've moved this issue to an internal work item for tracking. I'll go ahead and close this issue, but changes to the article are in the works. Thanks again!

#please-close

[2022-11-17 13:58] #98685 closed

[2022-11-17 14:02] Ekzorcist commented on #101538
My pleasure!

[2022-11-17 14:05] KrishnaG-MSFT commented on #101244
@jeromelearner As we didn't hear back from you so closing this issue for now.

[2022-11-17 14:05] #101244 closed

[2022-11-17 14:07] ManoharLakkoju-MSFT commented on #101563
@ziadrida
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-17 14:09] ManoharLakkoju-MSFT commented on #101564
@JuanKerr
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-17 14:11] ManoharLakkoju-MSFT commented on #101568
@mansingh8
Thanks for your feedback! We will investigate and update as appropriate.

Could you please elaborate the query for better understanding. So, we can assist you further.

[2022-11-17 14:12] ManoharLakkoju-MSFT commented on #101569
@BlobSpirit
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-17 14:15] lightupdifire commented on #101401
@MicrosoftGuyJFlo
Well, I have read about 10 Tonn of MS articles, and there are some 1% MS articles pointing to the situation, as an example:
1. If you would like to open a yellow door
2. Push the green button
Not explaining a 100 of combinations what can be done around in order to open a yellow door.
When looking for a specific solution, for a specific policy, it would be very nice to have a spec

[2022-11-17 14:17] ManoharLakkoju-MSFT commented on #101571
@CaishenNefri
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-17 14:19] ManoharLakkoju-MSFT commented on #101573
@BenjiSec
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-17 14:22] ManoharLakkoju-MSFT commented on #101574
@sergiosolorzano
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-17 14:24] ManoharLakkoju-MSFT commented on #101578
@MikeForster100
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-17 14:31] tofusgh commented on #101550
Apologies, slight correction to the query. Updated line 2 to ensure that both VHUB and non vhub peerings are in scope:

 resources
| where type == "microsoft.network/virtualnetworks"
| where properties.virtualNetworkPeerings contains 'RemoteVnetToHubPeering_' or properties.virtualNetworkPeerings notcontains 'remoteVirtualNetwork' // VHUB peers or normal VNET peerings
| where tostring(properties.su

[2022-11-17 14:35] ManoharLakkoju-MSFT commented on #101582
@saraamini8
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-17 14:36] ManoharLakkoju-MSFT commented on #101583
@brianreidc7
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-17 14:38] ManoharLakkoju-MSFT commented on #101584
@tomkuijsten
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-17 14:39] harkx opened #101589 "Update Release Notes"
Can the agent release notes be updated?
We see this being deployed: 1.0.555.1008_hotfixProdR1

We need to confirm our customer this is a fix for the issues we had last week.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 3cb10266-d3ca-31b1-31a0-bd4952e6736b
* Version Independent ID: 9adcd5ff-db9f-44f9-27f6-7c689839267

[2022-11-17 14:50] kengaderdus commented on #101172
@saeedalhamed

Thank you for your feedback. We've addressed this issue. Note that this issue may close automatically before the changes we've made go live.

Thanks.

#please-close

[2022-11-17 14:50] #101172 closed

[2022-11-17 14:54] bernardvanraaij opened #101590 "I think you should name this Page "Comparing Storage Queues and service Bus Queues" iso " ...Azure Queues...""
I think you should name this Page "Comparing Storage Queues and service Bus Queues" iso " ...Azure Queues..."

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: afed582b-fb3f-30b3-b119-6c4a9218bf34
* Version Independent ID: d4cf3473-21c1-2409-e7ac-9ad93fbc5895
* Content: [Compare Azure Storage queues and Service Bus queue

[2022-11-17 14:56] SadiqhAhmed-MSFT commented on #101429
@SLeuthold Checking in to see if the above answer helped. Let us know if there are still any additional issues we can help with.

[2022-11-17 15:05] kengaderdus commented on #101198
@angelfourth

Thanks for your feedback! We're collecting all the information needed to address the issue. We'll post back when we've something.

[2022-11-17 15:11] KrishnaG-MSFT commented on #101535
@jonwbstr We have verified and updated the document as required. The update will go live in less than 24 hours. Thanks again for your feedback!

[2022-11-17 15:11] #101535 closed

[2022-11-17 15:14] SLeuthold commented on #101429
@SadiqhAhmed-MSFT thank you for following up so quickly and reminding me! This was very helpful and I need the following points of clarification:

- If the AAD identity that executed on PAL is later than deleted or disabled does the ACR attribution stop for the relevant resources for the partner?
- "admin permissions" - Can you help be specific on what Azure RBAC roles are needed at the time of PA

[2022-11-17 15:20] shlipsey3 commented on #101270
#please-close

[2022-11-17 15:20] #101270 closed

[2022-11-17 15:28] amycolyer commented on #101539
To me it appears the kubernetes pod cannot download the image from that container registry.  Not 100% sure.  Thanks

[2022-11-17 15:31] RaikHerrmann opened #101591 "Fails with error: MLTable input is invalid."
[Enter feedback here]
### Fails with error:

MLTable input is invalid. UserErrorException:
	Message: Encountered user error while fetching data from Dataset. Error: Failed with visit error: Failed with execution error: error in streaming from input data sources
	VisitError(ExecutionError(StreamError(NotFound)))
=> Failed with execution error: error in streaming from input data sources
	ExecutionEr

[2022-11-17 15:32] shriazure opened #101592 "Recommended Alert Rules"
Hello Team - when we enable recommended alert rules for a VM, does it alert based on guest or Host OS metrics? Just wondering how does it collect guest OS data for alerting, does it install any agent into the VM once we configure recommended alerts?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 3224053c-8eb5-d788-e7e

[2022-11-17 15:34] timwarner-msft commented on #83844
#please-open

[2022-11-17 15:35] timwarner-msft commented on #83844
@jikuja I'll ask the Azure Resource Graph engineering team now and see what they have to say. Reopening issue and investigating. Thanks, Tim

[2022-11-17 15:40] ManoharLakkoju-MSFT commented on #101589
@harkx
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-17 15:41] kengaderdus commented on #101198
@angelfourth

The child elements for UserJourneyBehaviors need to be in the order specified in [this table](https://learn.microsoft.com/azure/active-directory-b2c/relyingparty#userjourneybehaviors). We'll update our docs. #please-close

[2022-11-17 15:41] #101198 closed

[2022-11-17 15:43] ManoharLakkoju-MSFT commented on #101590
@bernardvanraaij
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-17 15:44] ManoharLakkoju-MSFT commented on #101591
@RaikHerrmann
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-17 15:46] RDukes425 opened #101593 "Improve Azure Government Proxy URL section"
We have Gov customers who would like to see a more detailed list of URLs that need to be allowed for Portal access. The Azure Public section outlines various sections to include the Portal Framework and other URLs, where as the Gov section only has ~7 or 8 URLs listed.

Can we see an improvement to the Sovereign Cloud list to outline URLs in the same manner as the Azure Public URLs?

---
#### Docu

[2022-11-17 15:47] ManoharLakkoju-MSFT commented on #101592
@shriazure
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-17 15:52] maud-lv commented on #94828
Hello @shizn, I hope you're well!

This page was updated recently and this guide should now work for .NET 6.

[2022-11-17 15:56] KrishnaG-MSFT commented on #101014
@aysarabomwis, If you have a feedback on any Azure doc then please elaborate the feedback and provide the link of the Azure document for which the feedback is provided.

[2022-11-17 16:01] SaibabaBalapur-MSFT commented on #101485
@nambir
I could see your tried with location East US.  Only specify location East Us region your facing error or all regions you're getting same error page.

Please go through below link for service fabric explorer.
 https://learn.microsoft.com/en-us/shows/building-microservices-applications-on-azure-service-fabric/service-fabric-explorer

[2022-11-17 16:03] lireking opened #101595 "How can I enable live metrics? I can't find a solution regarding the react-plugin and live metrics"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: dff1e826-0fac-07ef-7dc4-af24f045f349
* Version Independent ID: eb036a11-6cdb-463f-de2f-2adc4055b737
* Content: [React plug-in for Application Insights JavaScript SDK - Azure Monitor](https://learn.microsoft.com/en-us/azure/azure-monitor/app/javascrip

[2022-11-17 16:05] SadiqhAhmed-MSFT commented on #101429
@SLeuthold Am not an expert in this subject.

@jasongroce and @dhirajgandhi For assistance

[2022-11-17 16:06] kengaderdus commented on #101400
@SilviuMihai,

Thanks for your feedback and patience. We've reached out to the team in charge of the code samples to address your issue. We'll close this issue and track the progress on the issues you raised against the sample itself. #please-close

[2022-11-17 16:06] amanjeetsingh opened #101596 "Workload Management blade - Possible UI bug"
[Enter feedback here]

The Workload Management blade inside Synapse Dedicated pool on Azure Portal has incorrect column names.
As shown in the screenshot (below), the first two parameters of WLG have the same name "Min Resources %".

The second column should be "min resources percent per request" and not "min resources %".

![image](https://user-images.githubusercontent.com/7122931/202496439-cc17e

[2022-11-17 16:13] RohitSarangi-MS opened #101597 "Fix command option in step 7"
Hello Team,

We have a typo in Step 7 on this page.

The command line option has 3 dashes, "---catalog-name".
This should be updated to show only 2 dashes, like the one below.

--catalog-name

Regards.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 58d112bc-6978-e520-5a6d-45ff987a0815
* Version Independent ID: 5b24549

[2022-11-17 16:18] benpbolton opened #101598 "Internal Admin Takeover (via Power BI) not possible"
It isn't possible to follow the steps outlined on this document because Microsoft Power BI (despite clicking the 'free' link initially) rejects prior to email confirmation with the message:

![Screenshot 2022-11-17 at 9 17 04 AM](https://user-images.githubusercontent.com/7146063/202499679-6d438ab9-ec23-4a2d-8ef1-1109a4d5700d.png)

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2022-11-17 16:24] ElazarK commented on #101558
#reassign:sukhans

[2022-11-17 16:32] Grace-MacJones-MSFT commented on #101192
Upon further review we feel your feedback would be best received by the doc author to determine if an update to the current doc is necessary, or to create a new doc if they align with the feedback.

[2022-11-17 16:35] JingchaoZhang opened #101599 "correct syntax"
Change "If you are plan to run MPI jobs" to "If you plan to run MPI jobs"

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 1f57aa98-f440-5657-7a2d-ca8ae1677ee2
* Version Independent ID: 983c26ef-d1e2-6f62-19dc-67a214f0f217
* Content: [Enable InfiniBand on HPC VMs - Azure Virtual Machines - Azure Virtual Machines](https:

[2022-11-17 16:40] kengaderdus commented on #101408
@MChez

Thanks for your feedback. We've updated our docs. We'll proceed to close it but reach out to us if you have any questions. #please-close

[2022-11-17 16:40] #101408 closed

[2022-11-17 16:58] GeethaThatipatri-MSFT commented on #101334
@dicrtarasov can you please provide more details on what is missing

[2022-11-17 17:01] urimsft commented on #101123
I'm sorry - this is about creating users in D365? (which?) or in Microsoft Admin Center?

[2022-11-17 17:24] jkrntx commented on #100748
Keeping the thread alive, thanks!

[2022-11-17 17:32] BryanTrach-MSFT commented on #101259
@jjmurre We have been looking into this matter but have not been able to find a solution. We would like work with you further but in order to do so we would like to provide you with a support case. Can you please message us at azcommunity@microsoft.com with the subject as ATTN: Bryan and in the body of the email include your Azure subscription ID?

We look forward to assisting you further.

[2022-11-17 17:32] #101259 closed

[2022-11-17 18:00] RichardSmith1208 opened #101602 "Why is SDWAN route not being advertised on Hub 2?"
When one checks the examples on this page (https://learn.microsoft.com/en-us/azure/virtual-wan/about-virtual-hub-routing-preference), there is the last routing scenario example under the heading "when only remote routes are available." The answer doesn't include route 11 - and provides no explanation as to why was that route not advertised on Hub 2.

![image](https://user-images.githubusercontent.

[2022-11-17 18:07] shizn commented on #94828
Thanks @maud-lv ! Hope you are doing well, too! Closing this issue. :)

[2022-11-17 18:07] #94828 closed

[2022-11-17 18:44] bandersmsft commented on #101430
@SLeuthold Hi there. I've updated the article to add the following information:

**What happens if the PAL identity is deleted?**

If the partner network ID, also called MPN ID, is deleted, then all the recognition mechanisms including Azure Consumed Revenue (ACR) attribution stops working.

[2022-11-17 18:45] bandersmsft commented on #101430
https://github.com/MicrosoftDocs/azure-docs-pr/pull/218785

[2022-11-17 18:46] bandersmsft commented on #101430
#please-close

[2022-11-17 18:46] #101430 closed

[2022-11-17 18:49] manzaloros opened #101603 "AppInsights for a React App: use vanilla AppInsights package or React-specific package?"
## Background
My team has a React app that we are using AppInsights to monitor page views and other metrics. I see that you can call `appInsights.trackPageView()` to invoke the tracking at the top-level. I also see there is a React-specific package you can use for AppInsights.

## Question
If we are tracking only page views and not any custom events or component render-times, is there any advantag

[2022-11-17 19:26] cchapin2020 opened #101605 "reference to old name needed"
[Enter feedback here]
Could some references to the old name of DDoS Standard be added to the overview and to the DDoS Network Protection pages? The customers know the product at "DDoS Standard" and don't know that it has a new name.

I mentioned this to David Frazee on the Advanced Networking Office Hours meeting 11/17/22 that he presented info on DDoS.

---
#### Document Details

⚠ *Do not edit t

[2022-11-17 19:31] MarileeTurscak-MSFT commented on #101559
@CelesteDG is this something you would be able to help with? I'm not sure who the owner is for the entire repository.

[2022-11-17 19:31] jomarvel opened #101606 "Correct number of role assignments per subscription"
The documentation here states that Azure RBAC has a role assignment limit of 2000.
https://learn.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-access-control#what-are-the-limits-for-azure-role-assignments-and-acl-entries

However, in this documentation it's mentioned that there is a role assignment limit of 4000.
https://learn.microsoft.com/en-us/azure/role-based-access-control/role-as

[2022-11-17 19:43] jenztales opened #101607 "Not Being Removed in SAML URL When Redirecting to AWS"
Regarding the following:

You can configure multiple identifiers for multiple instances. For example:
https://signin.aws.amazon.com/saml#1
https://signin.aws.amazon.com/saml#2
With these values, Azure AD removes the value of #, and sends the correct value https://signin.aws.amazon.com/saml as the audience URL in the SAML token.

It doesn't seem like that's working properly. I initially set up my f

[2022-11-17 19:45] #101559 closed

[2022-11-17 19:46] #101607 closed

[2022-11-17 19:50] mundayn opened #101609 "Cost & Performance?"
Hi,

I've had multiple clients ask me if this service has a cost, and if there is any performance impact, which I can't answer.

Please can you update the documentation to answer these questions.

Thanks,

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: f02334b9-49aa-8d7e-a36d-19ac5052aaf6
* Version Independent ID: b391

[2022-11-17 19:56] RoseHJM commented on #101597
Hi @RohitSarangi-MS, thank you for bringing this to my attention. I've fixed the typo & the issue should be resolved in the public docs soon.

[2022-11-17 19:57] kamilzzz opened #101610 "Linking DNS Forwarding Ruleset with more than 10 virtual networks"
I found it very surprising a DNS Forwarding Ruleset can be linked to up to 10 virtual networks.
How are we supposed to use DNS Private Resolver in hub and spoke model with more than 10 spokes?

We cannot create additional DNS Forwarding Rulesets as there also are limits of 2 DNS Forwarding Rulesets per outbound endpoint and 2 outbound endpoint per DNS Private Resolver.

Is 10 virtual network links

[2022-11-17 20:01] jennifer-klemisch-seagen opened #101611 "Accessing VNet - need more information"
The Vnet Integration is great.  However, this page is not clear about how to connect to the cluster once it's deployed.  For example, is a vm still required to be in the aks subnet with an endpoint?  If so, using Bastion to login to the VM, it doesn't see the cluster.
or since now the nodes all can access the api server should kubectls be ran via ssh to a kebe node?
Also, this page doesn't say any

[2022-11-17 20:08] Karishma-Tiwari-MSFT commented on #101599
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

Thanks for improving our documentation! Just so you know, it's also possible to make these changes yourself, if you are interested. Doing so will improve our documentation, and it will add you as a contributor to the document.
In case you're interested, these are the steps to do so:
1.	Na

[2022-11-17 20:08] #101599 closed

[2022-11-17 20:09] Oury-MSFT commented on #101555
@DavidKlempfner After reading the doc, seems more likely to the link you posted above instead of [Windows 64-bit host](https://learn.microsoft.com/en-us/azure/cosmos-db/nosql/performance-tips#hosting). I am checking with the owner of the doc before making the update. Thank you

[2022-11-17 20:16] porrascarlos802018 opened #101612 "Additional information required for this feature."
customer here:
https://learn.microsoft.com/en-us/answers/questions/972654/private-endpoint-network-policy-usage.html
requests more informaiton about the impact enabling or not enabling this for NSG and Route Tables will actually have in AKS cluster.

one customer had it enabled and the communication between the nodes and the API was interrupted, disabled it and then confirmed communication started

[2022-11-17 20:21] sanjay3290 commented on #92058
@jmalarcon trying to find if you found a workaround to add the mounted storage as a virtual directory to app services?

[2022-11-17 20:25] ChaitanyaNaykodi-MSFT commented on #101610
@kamilzzz,

Thank you for your feedback. The team is currently working on increasing these limits the current ETA is in .
Hope this helps! Please let me know if you have any additional questions. Thank you!

[2022-11-17 20:26] porrascarlos802018 commented on #101612
doc link: https://learn.microsoft.com/en-us/azure/private-link/disable-private-endpoint-network-policy?tabs=network-policy-portal

[2022-11-17 20:30] normesta commented on #101606
Thanks for reporting @jomarvel - 4000 is the correct number. I've updated the access control model article and that change should be live by 3 PM.  Thanks again!

#please-close

[2022-11-17 20:30] #101606 closed

[2022-11-17 20:39] LeedsDBA opened #101616 "P1 vs P2 features are not clearly defined"
As an architect, it's not clear what the difference between P1 and P2 offerings are within your documentation. It would be helpful to have a comparison matrix to understand if there is a tipping point in MAUs or if certain capabilities that we may need require us to go for one or the other.

---
#### Document details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub iss

[2022-11-17 20:45] CodyBatt commented on #46143
I also use the stupid workaround of throwing errors. Recommend prioritizing console.log support for triggers or drop support for triggers if you aren't interested in supporting them.

Thanks.

#please-reopen

[2022-11-17 20:54] RoseHJM commented on #101597
#please-close

[2022-11-17 20:54] #101597 closed

[2022-11-17 21:09] moneyclouds opened #101619 "Recovering deleted DDoS Plans - usage for full term"
Hello! I am looking to find out if it's possible to recover a deleted DDoS plan, or if there is a time frame where it is recoverable. I have a customer who deleted the plan due to the charges, but we hadn't realized that the plan would no longer be able to be used - even though there were days left on the 'month'. Any insight here on how to make sure a customer can capitalize on the initial enable

[2022-11-17 21:10] shlipsey3 commented on #99538
#please-close

[2022-11-17 21:10] #99538 closed

[2022-11-17 21:10] jackchenwork commented on #69477
@fedda-no I had same problem using FortiAuthenticator as Radius server, Fortigate as site2site VPN server in Azure. EAP-TLS cert based authentication some time work, sometime not, reason is fragmented UDP datagram got lost. Fortigate had a "set ip-fragmentation pre-encapsulation" option and that ( plus reduce MTU) fixed the problem for me.

[2022-11-17 21:29] ashkickindevelopment opened #101620 "Is monthly cost pro-rated for the $2,944/month charge?"
If a customer removes a DDoS plan before the full month - are they still charged $2,944/month or are they prorated based on the date timeframe used?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 668d8ec7-efd0-6648-7743-4dd8bc0e4c92
* Version Independent ID: 1c2efe6a-a24f-1f56-168a-f174caaafcff
* Content: [About Azure

[2022-11-17 21:30] seesharprun commented on #92301
Okay, I will take a look at this again. Maybe there's some regression that occurred since it was last checked. Thanks for bringing this back to our attention.

[2022-11-17 21:30] seesharprun commented on #92301
#please-open

[2022-11-17 21:52] RBartonMesh opened #101621 "ADU IoT Hub Simulator tutorial: a few tweaks needed"
This docs page would benefit from a few corrections in order for the process of walking through this tutorial (for Device Update on the Azure IoT Hub using the simulator reference agent) to be more seamless.

A. At Step 3 of [Install a Device Update agent to test it as a simulator](https://learn.microsoft.com/en-us/azure/iot-hub-device-update/device-update-simulator#install-a-device-update-agent-t

[2022-11-17 21:55] Nickomang commented on #101576
@vespassassina, thanks for the feedback. We have an item in our backlog that involves refactoring this content, and the article should better resemble the experience you're describing once the work is complete. Marking this as closed.

#please-close

[2022-11-17 22:03] dluc opened #101622 "How to deploy?"
I created a Static Web App, selecting "Other" in "Deployment details Source".

After the resource is created, there is no option to deploy an app and I cannot find the instructions mentioned. The links in Azure portal take to documentation pages that explain how to use GitHub and Azure DevOps. What about the "Other" option?

<img width="365" alt="image" src="https://user-images.githubusercontent.c