[2018-04-20 15:14] pdhewaju opened #7488 "correction on Configure ACR authentication cmdlet"
Correct  Configure ACR authentication
$CLIENT_ID=(az aks show --resource-group myResourceGroup --name myAKSCluster --query "servicePrincipalProfile.clientId" --output tsv)

$ACR_ID=(az acr show --name <acrName> --resource-group myResourceGroup --query "id" --output tsv)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4

[2018-04-20 15:15] mimig1 commented on #7412
@drmcghee - I updated the article with updated screenshots yesterday, and they're live here: https://docs.microsoft.com/en-us/azure/cosmos-db/powerbi-visualize. I removed the last section about refreshing via Powerb.com as that functionality is not working right now (per our email thread), we will add it back after the issue has been addressed. I assume this addresses the intent of the issue, so I

[2018-04-20 15:31] Mike-Ubezzi-MSFT commented on #7467
@yoshihirok Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-20 15:43] akramwaseem commented on #7460
Thanks for the article and  quick question, do you have a format which can be used for ARM Templates.
And as per my knowledge , I think "TypeHandlerVersion should be 1.4".unless it is different for VMss. That is what it says on the documentation for VMs.
And we don't use Powershell at all. We use Azure cli and I tried using the Azure cli and I was able to install the extension that was the easy pa

[2018-04-20 15:49] mrbullwinkle commented on #6265
There were multiple broken links in this doc. Updates were merged to the private repo. They will go-live in production at 10 AM today.

[2018-04-20 15:52] dgrittma opened #7489 "Documentation for Powershell no longer working"
I've had a script configured as part of our deployment process that is no longer working. The error received is New-AzureRmWebAppSSLBinding : Certificate 2496FA4EF556F8B*************BCDC105835216F was not found.

This is the powershell...note, this is for a wildcard certificate signed by GoDaddy
New-AzureRmWebAppSSLBinding  -WebAppName myapp-beta -ResourceGroupName myrg-beta -Name myapp-beta.custo

[2018-04-20 15:55] dgrittma commented on #7489
I wanted to add that I can manually upload to the cert and then add the binding, but I don't see how to upload only, without adding a binding in PowerShell

[2018-04-20 15:58] neilpeterson commented on #7488
@pdhewaju - unfortunately this doc was not written specifically for a PowerShell experience, rather Bash. Adding `$` to the variable names will break the doc for those not working in PowerShell.

We do have some upcoming documentation platform updates that will allow a single doc to be switched between PowerShell / Bash / and any other experience. Once those capabilities land (hopefully soon), we

[2018-04-20 16:00] neilpeterson commented on #7472
@YvonneArnoldus - thanks for the issue. Yeah, I see what you are saying here. I will make some updates.

Thanks

[2018-04-20 16:02] blueelvis commented on #7281
@bryantrach-msft @syntaxc4 - I got a confirmation from Azure Support professional that this is not at all supported. Moving of webspaces is not possible which makes "Change App Service plan" to have a serious limitation

[2018-04-20 16:15] ajamess commented on #7476
Hey Frederik!

Yeah, this will work out of the box for guest users. The only configuration you'd need to make is to make sure they are invited to your organization. You can do this by following the steps here: https://docs.microsoft.com/en-us/azure/active-directory/active-directory-b2b-admin-add-users

Once you add those users and assign them Azure AD Premium P1/P2, EMS E3/E5, or M365 E3/E5 licens

[2018-04-20 16:19] lukecarroll opened #7490 ""Comparing features" link doesn't work"
Under License requirements section, "Comparing generally available features of the Free, Basic, and Premium editions." link doesn't go to comparison page, it redirects to generate AD overview. I guess it should go to https://azure.microsoft.com/en-us/pricing/details/active-directory/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2018-04-20 16:29] CarlRabeler commented on #7467
@yoshihirok Could you please clarify your question? it is not clear to me what you are asking for clarity on.

[2018-04-20 16:33] vaananth opened #7492 "Instructions details"
Will this document be updated with more details about the enumeration privileges? May be step by step navigation be very useful here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db30a5c4-452c-02ae-b610-018e2bb042fb
* Version Independent ID: 459aa1c1-fd5f-f6e1-3244-6bfbb2abd67f
* Content: [Add B2B collaboration users

[2018-04-20 17:09] YutongTie-MSFT commented on #7455
@anrothMSFT Thank you for your explanation!

@scrampy We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-20 17:09] #7455 closed

[2018-04-20 17:11] MicahMcKittrick-MSFT commented on #7463
@unacao Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-20 17:12] MicahMcKittrick-MSFT commented on #7482
@Rachitgupta1994 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-20 17:13] MicahMcKittrick-MSFT commented on #7480
@dtopham75 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-20 17:17] YutongTie-MSFT commented on #7272
@miparnisari Since it has been fixed, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-20 17:17] #7272 closed

[2018-04-20 17:17] rothja commented on #6863
@Ayanmullick Great. Let me know if you get the notification you were expecting. You should be able to edit the Automated Backup schedule *if* you are using SQL Server 2016 images. They updated managed backup in 2016 to allow for this. https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sql/virtual-machines-windows-sql-automated-backup-v2#configuration-in-the-portal

[2018-04-20 17:25] BryanTrach-MSFT commented on #7489
@dgrittma Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-20 17:28] SaurabhSharma-MSFT commented on #7477
@andrewjsilcock Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-20 17:28] SaurabhSharma-MSFT commented on #7490
@lukecarroll Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-20 17:29] MicahMcKittrick-MSFT commented on #7480
@KumudD can you take a look into this and determine if the doc needs updating?

[2018-04-20 17:30] SaurabhSharma-MSFT commented on #7492
@vaananth Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-04-20 17:30] femsulu commented on #7484
@MartinNr5,
Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-20 17:30] ajamess commented on #7476
I already responded.

👍 Sent with my thumbs 👎
________________________________
From: SaurabhSharma-MSFT <notifications@github.com>
Sent: Friday, April 20, 2018 10:25
To: MicrosoftDocs/azure-docs
Cc: Adam Steenwyk; Assign
Subject: Re: [MicrosoftDocs/azure-docs] Self-service application acces - guest users (#7476)

Assigned #7476<https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithu

[2018-04-20 17:32] MicahMcKittrick-MSFT commented on #7482
@Rachitgupta1994 there is no specific reason as to why this port was used. It was simply what as chosen when building the app. You can alternatively pick another port if you so choose.

@rwike77 for reference for the second portion of the feedback.

I will close this out for now but if you feel there is more to discuss please reopen and we can continue.

[2018-04-20 17:48] SaurabhSharma-MSFT commented on #7483
@spottedmahn Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-20 17:49] SaurabhSharma-MSFT commented on #7486
@spottedmahn Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-20 17:50] jason-j-MSFT commented on #7473
@Armcollector
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-20 17:50] jason-j-MSFT commented on #7474
@larsts
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-20 17:51] sethmanheim commented on #7229
@reinaudvr Thank you for the feedback, we appreciate it. This item has been planned for some time, so it is definitely on our backlog.

[2018-04-20 17:52] SaurabhSharma-MSFT commented on #7475
@Alex-Algo Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-20 17:53] jlian commented on #7484
Hi @MartinNr5, right now it's not supported during the preview. You can specify it in the EA portal https://ea.azure.com/manage/subscription/accountowner for now, and we're looking into putting it behind API as well.

[2018-04-20 17:54] MicahMcKittrick-MSFT commented on #7463
@unacao I believe you can go about this two ways. One you can find in this article

https://stackoverflow.com/questions/49577539/az-aks-get-credentials-with-custom-ssh-key

The other is to reset the key via the portal

If you made a mistake while provisioning the cluster or you want to reset the SSH key, you don’t have to delete the cluster and provision it again. It’s possible to reset the SSH ke

[2018-04-20 17:56] femsulu commented on #7478
@bingosummer,
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-04-20 18:01] BenGreenwood44 commented on #7010
Hi,

I have the same issue.

My web app connection string can't connect via SSL, none of the examples include SSL parameters for a web app connection string

[2018-04-20 18:01] MicahMcKittrick-MSFT commented on #7460
@danielsollondon any insights on this?

[2018-04-20 18:04] mrbullwinkle commented on #6265
#please-close

[2018-04-20 18:05] mrbullwinkle commented on #6265
Also if a label of "application-insights" can be added to this issue for reporting purposes.

[2018-04-20 18:09] BryanTrach-MSFT commented on #7281
@blueelvis Yes this is correct. Moving App Service Plans really works best if you are moving your app to a new App Service Plan (ASP). The reason for this is because Microsoft nor the customer has control over what web space is selected when creating an ASP even if you create an ASP in the same region and resource group, there are many webspaces for each datacenter. You will likely have to create

[2018-04-20 18:09] #7281 closed

[2018-04-20 18:12] Mike-Ubezzi-MSFT commented on #6788
@Frankwayne We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion. You have the option of reaching Cosmos DB Emulator support via askcosmosdb@microsoft.com per the instructions outlined [here.](https://docs.microsoft.com/en-us/azure/cosmos-db/local-emulator#troubleshooting)
Regards,
Mike

[2018-04-20 18:13] femsulu commented on #7479
@dmitriyteteruk,
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-04-20 18:16] Mike-Ubezzi-MSFT commented on #6841
@anosov1960 There is some additional information that could be added to this document.

[2018-04-20 18:17] unacao commented on #7463
Hi Micah,

I am a little bit confused about the resetting ssh public key method. When copying the ssh key to the aks-ssh pod, we are required to copy the private key id_rsa. How does resetting the ssh public key in the portal associate with that?

[2018-04-20 18:25] asalomon-cpsc opened #7494 "out parameter and binding"
I think it would be a good idea to put as a caveat in the docs that an out parameter doesn't work with an async function

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9998613a-2992-3786-81cd-ca72efea8435
* Version Independent ID: 1b405bc9-f03c-4812-8dc0-98ee24c9011b
* Content: [How to use SendGrid in Azure Functions](

[2018-04-20 18:40] GopiMtp opened #7495 "I'm getting the below error"
I follwed the same steps mentioned in this tutorial using sample Voting Application, when i publish the code on my local cluster i'm getting this error on Type "VotingWeb".

Error event: SourceId='System.FM', Property='State'.
Partition is below target replica or instance count.
fabric:/Voting/VotingWeb 1 1 48a9af5b-62cc-4a49-8886-fe2f2fd99b28

However the same application is worked fine without a

[2018-04-20 18:44] evanp opened #7496 "kube-lego deprecated in favour of certbot"
The kube-lego home page says that it's now in maintenance mode and that the official successor is cert-manager.

https://github.com/jetstack/kube-lego#kube-lego

It might be worthwhile to revise this how-to guide to use cert-manager instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ada58160-dc50-b977-d3bc-65f9240

[2018-04-20 18:45] evanp commented on #7496
Whoops! Error in the title. It should be "cert-manager", not "certbot".

[2018-04-20 18:53] jshinevar opened #7497 "Has this changed recently?"
Step 3 using the client.LoginAsync() method, and passes it 3 parameters.  Either I am looking in the wrong place, or maybe this has changed.  According to:
https://docs.microsoft.com/en-us/dotnet/api/microsoft.windowsazure.mobileservices.mobileserviceclient.loginasync?view=azure-dotnet
There are only 2 parameters needed.  Am I looking at the wrong thing here?

---
#### Document Details

⚠ *Do not

[2018-04-20 18:56] KenHoover opened #7498 "Get-EnrollmentAccount is missing something"
In the Powershell doco, Get-EnrollmentAccount should apparently be Get-AzureRMEnrollmentAccount

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 371189c2-154f-2716-bbc0-8496a76c5ac9
* Version Independent ID: bb5cd103-ff51-1753-f269-e2c1aa49a8c8
* Content: [Programmatically create Azure Enterprise subscriptions](https://d

[2018-04-20 18:56] Mike-Ubezzi-MSFT commented on #7350
The following is taken from [Always On Failover Cluster Instances (SQL Server)
](https://docs.microsoft.com/en-us/sql/sql-server/failover-clusters/windows/always-on-failover-cluster-instances-sql-server?view=sql-server-2017)

The other option if Always On Availability Groups. Here is a chart that explains the differences: [Comparison of Failover Cluster Instances and Availability Groups
](https://

[2018-04-20 19:07] tfitzmac commented on #7398
@mganeshphani - the article has been updated for Azure Database for MySQL
#please-close

[2018-04-20 19:08] tfitzmac commented on #7375
@torfulle - I added Certificates to the not supported list and linked to the explanation of how to handle uploaded certificates.

[2018-04-20 19:08] tfitzmac commented on #7375
#please-close

[2018-04-20 19:24] Frankwayne commented on #6788
@Mike-Ubezzi-MSFT    no we have not resolved this issue.  I have been waiting for mike to David to get back to me when we could do the skype session

[2018-04-20 19:26] MohitGargMSFT opened #7499 "Unable to add Azure AD group with ':' in display name to Azure SQL"
When Security Group is created in AAD with ':' e.g. 'SG:Developers' it does not give any error and its created as expected. However, when we try to add this group as user using steps described in this section of the document -  'Create contained database users in your database mapped to Azure AD identitiesCreate contained database users in your database mapped to Azure AD identities' , it fails .

[2018-04-20 19:29] MohitGargMSFT commented on #7499
Thanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

[2018-04-20 19:32] robreagan opened #7500 "Documentation is out of date"
GCM has been deprecated. Docs need to include a walkthrough for Firebase Cloud Messaging.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eed3ea70-2c00-0b20-2f00-f9ec74317a9e
* Version Independent ID: e788209d-342e-1bce-aadc-e4eb201352b4
* Content: [Send push notifications to Chrome apps with Azure Notification Hubs](ht

[2018-04-20 19:33] SyntaxC4 commented on #7247
@BryanTrach-MSFT There is only one link, is the first "this" the article that is mentioned in the body of #7247

[2018-04-20 19:40] cjgronlund commented on #7022
#in-progress

[2018-04-20 19:40] MohitGargMSFT commented on #7377
@evh69 We will now proceed to close this thread. Thanks.

[2018-04-20 19:40] #7377 closed

[2018-04-20 19:43] cjgronlund commented on #7022
@rajivramanjani Thank you for your feedback. I'm forwarding your recommendations to the Cognitive Services documentation team. In the meantime, please use the links at the bottom of the article pages to post questions to the forum.
![image](https://user-images.githubusercontent.com/5403354/39070454-5c5fd106-4498-11e8-869f-1634a015bffc.png)

[2018-04-20 19:46] neilpeterson commented on #7496
@evanp - thanks for submitting the issue. We will be updating this content to use cert-manager. This however will not happen until after Kubercon and MSFT Build.

Stay tuned - thanks.

[2018-04-20 19:46] cjgronlund commented on #7302
#please-close

[2018-04-20 19:50] MicahMcKittrick-MSFT commented on #7494
@asalomon-cpsc Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-04-20 19:50] MicahMcKittrick-MSFT commented on #7495
@GopiMtp Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-20 19:52] SyntaxC4 commented on #7062
There is a PowerShell version: https://docs.microsoft.com/en-ie/azure/app-service/scripts/app-service-powershell-deploy-local-git

[2018-04-20 19:53] SyntaxC4 commented on #7062
@HemantMahawar Thank you for your feedback, does the link above provide the example you're looking for?

[2018-04-20 19:53] Mike-Ubezzi-MSFT commented on #7392
@rangv The instructions for this tutorial need to be updated.

[2018-04-20 19:55] SyntaxC4 commented on #7489
@ahmedelnably Are you able to help here?

[2018-04-20 20:04] neilpeterson commented on #7496
I'm going to go ahead and close this for SLA, we are tracking and will get the updates in.

#please-close

[2018-04-20 20:05] neilpeterson commented on #7488
I am going to close this for SLA, we are tracking the needed changes and will updated once the tech has landed.

#please-close

[2018-04-20 20:05] msLinuxNinja opened #7501 "apt =! yum"
There’s a discrepancy where the image used is a CentOS image, but it runs apt-get which is the package manager for Debian based distributions. Needs to be changed to yum update to keep consistency.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c87e836-abdc-e18c-0129-fb371f1ae0d2
* Version Independent ID: 45724b3b-c8a

[2018-04-20 20:08] pdhewaju commented on #7488
Thank you Neil for your prompt response... as we are using the Azure CLI marking if the users might be confused with bash cmdlet.

[2018-04-20 20:08] #7488 closed

[2018-04-20 20:12] femsulu commented on #7498
@KenHoover , Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2018-04-20 20:14] femsulu commented on #7369
@tobydrake7
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-20 20:14] #7369 closed

[2018-04-20 20:24] #6265 closed

[2018-04-20 20:25] femsulu commented on #6300
@mcupito
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-20 20:25] #6300 closed

[2018-04-20 20:26] femsulu commented on #6385
@dcbrown16
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-20 20:26] #6385 closed

[2018-04-20 20:26] femsulu commented on #6753
@olavt
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-20 20:26] #6753 closed

[2018-04-20 20:26] femsulu commented on #6929
@Discostu36
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-20 20:26] #6929 closed

[2018-04-20 20:28] tobydrake7 commented on #7369
@femsulu When will I know if the document was changed by the doc teams. I also see one additional issue with the command. You wouldn't be using `# sudo` in the command below. It would just be `#` or `$ sudo`.

     # cd WALinuxAgent-2.2.21
     # sudo python3 setup.py install --register-service

[2018-04-20 20:28] mattchenderson commented on #7456
Here's a link to the published article: https://docs.microsoft.com/azure/app-service/app-service-web-tutorial-connect-msi

[2018-04-20 20:32] femsulu commented on #6947
@akramwaseem
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-20 20:32] #6947 closed

[2018-04-20 20:32] femsulu commented on #7177
@jankod
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-20 20:32] #7177 closed

[2018-04-20 20:38] Brenduns commented on #7369
@tobydrake7  Hello Toby.  In speaking to our product group, we are looking at some revisions and related content for Linux in the first two weeks of May.  Part of that includes resolving issues for this specific topic.  When those revisions occur, the date near the top of the article will update to reflect that this has been updated.  Meanwhile, I'll take this more recent feedback about # sudo vs.

[2018-04-20 20:38] jlian commented on #7498
Thanks @KenHoover, you're absolutely right, that's an error on my part. The fix should be live this afternoon. Cheers!

[2018-04-20 20:46] neilpeterson commented on #7472
On review, this command adds very little to the doc and I've removed it. This issue will auto close once the changes have merged.

[2018-04-20 20:47] #7472 closed

[2018-04-20 20:48] danmyhre commented on #7240
Not a specific error in this case.  It is more of a question to help understand when it will work well to use templates vs when it won't on a resource type by resource type basis.  When you can only manage part of the resource's config in the template, it really doesn't have as much value.  And since the UI gives no indication of whether an attribute / setting is set via a template or via the UI/P

[2018-04-20 21:16] Mike-Ubezzi-MSFT commented on #7368
This section of the document needs some clarification: [Performance considerations for modifying replicated tables](https://docs.microsoft.com/en-us/azure/sql-data-warehouse/design-guidance-for-replicated-tables#performance-considerations-for-modifying-replicated-tables)

[2018-04-20 21:32] keatseongchan opened #7503 "PowerShell remoting to all nodes in a cluster"
This is a good when we need to access one machine at a time.  Is there a recommended way to setup so that we can access all nodes in a cluster using PowerShell remoting?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 98d553a1-59ed-c80c-5a72-e8237b042490
* Version Independent ID: 4e7e025d-ca39-3099-57b7-449ec2914da7
* C

[2018-04-20 21:42] linitram opened #7505 ""microsoft/windowsazure" is not for Azure storage, need microsoft/azure-storage-xxx"
"microsoft/windowsazure" is not for Azure storage, need microsoft/azure-storage-xxx

If you install the SDK via Composer using the following composer.json,

{
    "require": {
        "microsoft/windowsazure": "^0.5"
    }
}

You'll notice this warning message:

"Package microsoft/azure-storage is abandoned, you should avoid using it. Use microsoft/azure-storage-blob, microsoft/azure-storage-table

[2018-04-20 21:49] MohitGargMSFT commented on #7380
@stumpykilo Azure AD B2C let you offload the work of maintaining a directory and authenticating users for you, it can also take care of the continuous work of user sign up, user sign in and editing of user information; like changing user profiles or resetting passwords. This is possible through Azure AD B2C’s extensible policy framework. Policies in Azure AD B2C fully describes consumer identity e

[2018-04-20 21:58] MicahMcKittrick-MSFT commented on #7501
@msLinuxNinja Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-04-20 21:58] MicahMcKittrick-MSFT commented on #7503
@keatseongchan Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-20 22:00] MicahMcKittrick-MSFT commented on #7463
@unacao Ah you're right sorry about that. I am taking another look now.

[2018-04-20 22:06] prestoncooper opened #7506 "Clever Domain and URLs"
Identifier:  https://clever.com/oauth/saml/metadata.xml

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee4671de-22be-bbf3-3af5-29d8c958a91a
* Version Independent ID: df970875-9c2c-e201-a463-210b7dc8e0da
* Content: [Tutorial: Azure Active Directory integration with Clever](https://docs.microsoft.com/en-us/azure/active-d

[2018-04-20 22:09] MohitGargMSFT commented on #7469
@jeremyhagan Please note as stated in the document  - To enable Azure AD Connect instance (if already not) for AutoUpgrade, run the following PowerShell cmdlet:
“Set-ADSyncAutoUpgrade -AutoupGradeState Enabled”

Yes, you can download latest version of AD Connect which will ensure you are on the latest version of the product including all fix and features of earlier releases.

[2018-04-20 22:10] prestoncooper opened #7507 "Additional SAML Token Attribute for teacher users"
Name: clever.teacher.credentials.district_username
Value: user.userprincipalname

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee4671de-22be-bbf3-3af5-29d8c958a91a
* Version Independent ID: df970875-9c2c-e201-a463-210b7dc8e0da
* Content: [Tutorial: Azure Active Directory integration with Clever](https://docs.microsoft

[2018-04-20 22:13] tobydrake7 commented on #7369
Thanks Brent. Much appreciated.

On Fri, Apr 20, 2018 at 4:39 PM Brent Dunsire <notifications@github.com>
wrote:

--
Toby Drake

TECHNICAL WRITER

Customer content services

T: 713-253-0154 <javascript:void(0);> irc: tdrake
[image: https://access.redhat.com/] <https://access.redhat.com/>

[2018-04-20 22:15] jeevansd commented on #7506
@chetansriv and @v-viinde @v-nagta Please update the app with Identifier mandatory and then update the documentation to have this Identifier value in it.

[2018-04-20 22:15] jeevansd commented on #7507
@chetansriv and @v-viinde @v-nagta Please update the app documentation with this custom claim information.

[2018-04-20 22:16] Mike-Ubezzi-MSFT commented on #6788
@Frankwayne I am going to try to assist you and with the information we uncover, hopefully we identify the issue or I will have enough to pass on to @David-Noble-at-work and the askcosmosdb email alias.
If you go to Event Viewer (Local) > Windows Logs > Application, and look for any CosmosDB.Emulator entries, do you see any start-up failure entries? I have over 200 Informational entries pertaining

[2018-04-20 22:26] prestoncooper opened #7509 "Finalizing Setup with Clever Support"
Before you can Test single sign-on, You have to ask Clever support to enable Office 365 SSO in the back end.

Finalizing Setup with Clever Support
Once you've finished the above, please reach out to Clever Support, and send us your metadata file. We'll finalize the setup on our end!  https://support.clever.com/hc/en-us/requests/new

---
#### Document Details

⚠ *Do not edit this section. It is req

[2018-04-20 22:33] jeevansd commented on #7509
@chetansriv and @v-viinde Can you please add this step in to the doc please?

[2018-04-20 22:42] SergeyKanzhelev opened #7510 "feature of sampling by user id was turned off"
This is no longer the case for .NET SDK: https://github.com/Microsoft/ApplicationInsights-dotnet/pull/651

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f4c906d-7abe-eab7-331a-120230344583
* Version Independent ID: ab24ade5-5e4c-b430-c3f8-2a00073e9e81
* Content: [Telemetry sampling in Azure Application Insights](https

[2018-04-20 22:52] MohitGargMSFT commented on #7471
@dcbrown16 Thanks for the feedback! I have assigned the issue to the author to investigate and update as appropriate.

[2018-04-20 22:54] MohitGargMSFT commented on #7425
@Nilis312 I have assigned the issue to the document author to investigate and update as appropriate.

[2018-04-20 23:00] MohitGargMSFT commented on #7429
@RussellMoir Please open a new MSDN forum post and community will help address your issue. Please refer to below link to MSDN forum to ask new question -

https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazureplatform&forum=WindowsAzureAD

Also you can mention the forum thread here so that I make sure you are helped on it.

[2018-04-20 23:07] MohitGargMSFT commented on #7477
@andrewjsilcock Thanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

[2018-04-20 23:09] BryanTrach-MSFT commented on #7497
@jshinevar Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-20 23:16] christiankuhtz commented on #7418
@johannesboon the NVA signals which instance(s) should be active by forcing the health probe up or down.  Please ask your NVA vendor whether they support this scenario with Standard LB's HA Ports load balancing rules.

[2018-04-20 23:24] christiankuhtz commented on #7322
@peddabavisriram can you please explain what the issue is? 5-tuple is defines what header fields are used for a hashing decision. 5-tuple persistence means the same 5-tuple flow persists. Multiple flows will be hashed to a healthy VM in the backend pool, each has a likely a unique 5-tuple.  If you change session persistance / affinity to 2-tuple or 3-tuple you create an affinity to a given source

[2018-04-20 23:26] JeremyWeir commented on #6841
@Mike-Ubezzi-MSFT it answers it if if the guy who said they're "no authority on the matter" is correct :)

[2018-04-20 23:26] kobulloc-MSFT commented on #7510
@SergeyKanzhelev Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-04-20 23:27] tfitzmac commented on #7297
#please-close

[2018-04-20 23:29] MicahMcKittrick-MSFT commented on #7495
@GopiMtp I ran through the document but did not see the same error that you were. Can you try the steps once again and confirm if you are still seeing issues?

[2018-04-20 23:29] peddabavisriram commented on #7322
yeah, am so sorry, i took in a wrong way, you are right, though of updating the post but left it, yes if persistence is set none, the portal says the traffic goes to an available backend VM so that mislead me, 5 tuple woks on source ip and destination ip and their ports and protocol. so i though as the destination changes 5 tuple is not being effective then. is it so?

Session persistence with non

[2018-04-20 23:32] SaurabhSharma-MSFT commented on #7490
@lukecarroll  The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2018-04-20 23:32] #7490 closed

[2018-04-20 23:32] Mike-Ubezzi-MSFT commented on #6841
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-20 23:32] #6841 closed

[2018-04-20 23:33] #7310 closed

[2018-04-20 23:34] MicahMcKittrick-MSFT commented on #7503
You should just be able to use the standard New-PSSession commands

https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/new-pssession?view=powershell-6

[2018-04-20 23:36] MicahMcKittrick-MSFT commented on #7463
@neilpeterson do you have any input on this?

[2018-04-20 23:37] tfitzmac commented on #7240
@danmyhre - You can get some information about [resource providers and resource types](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-supported-services) through PowerShell or CLI. Or, you can look at the REST operations. Anything with a POST operation to "management.azure.com" should be available in a template.

But, I understand that is not exactly what you are lo

[2018-04-20 23:38] MohitGargMSFT commented on #7483
@spottedmahn Thanks for the feedback! I have assigned the issue to the author to investigate and update as appropriate.

@davidmu1 The Stack Overflow link in Resources goes to SO site and show all threads related to SO tag - azure-ad-b2c. The request is to include identity-experience-framework tag as well.

[2018-04-20 23:49] rwike77 commented on #7495
@GopiMtp  In Service Fabric Explorer, can you go into Nodes>Node_x>fabric:/Voting>VotingWebPkg>Code Packages >Code and look in the Details tab?  That should provide more information.

[2018-04-20 23:55] christiankuhtz commented on #7322
5-tuple persistence just means we persist the hashed flows based on 5-tuple.  we don't move flows once established. that's the normal mode ("none").   the destination ip and port for a given frontend is always the same for each flow. so, this controls how many of the remaining header fields are factored into the hash.

[2018-04-21 00:00] BryanTrach-MSFT commented on #7505
@linitram Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-21 00:00] MohitGargMSFT commented on #7486
@spottedmahn Please note that there is [Prerequisites](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-get-started-custom#prerequisites) section in the document. Request you to provide more information on what is missing in it.

The SO thread is an ask on how to upload Custom Polic and that is documented in this section of the document - [Upload the policies to you

[2018-04-21 00:03] femsulu commented on #7297
@ssflynn77 We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-21 00:03] #7297 closed

[2018-04-21 00:04] anrothMSFT commented on #7192
This is a good question. I don't actually think anyone on the team has tried to get this to play nice with TensorFlow.js yet..

[2018-04-21 00:06] cynthn commented on #7347
@joelpelley

[2018-04-21 00:06] femsulu commented on #7302
@CGschliesser We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-21 00:06] #7302 closed

[2018-04-21 00:06] BryanTrach-MSFT commented on #7500
@robreagan Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-04-21 00:09] femsulu commented on #7316
@danmyhre We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-21 00:09] #7316 closed

[2018-04-21 00:10] femsulu commented on #7375
@torfulle We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-21 00:10] #7375 closed

[2018-04-21 00:10] femsulu commented on #7398
@mganeshphani
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-21 00:10] #7398 closed

[2018-04-21 00:11] femsulu commented on #7406
@aSmallByte We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-21 00:11] #7406 closed

[2018-04-21 00:11] femsulu commented on #7412
@drmcghee  We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-21 00:11] #7412 closed

[2018-04-21 00:12] femsulu commented on #7427
@phw198 We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-21 00:12] #7427 closed

[2018-04-21 00:12] femsulu commented on #7452
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-21 00:12] #7452 closed

[2018-04-21 00:13] femsulu commented on #7496
@evanp We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-21 00:13] #7496 closed

[2018-04-21 00:25] BryanTrach-MSFT commented on #7415
@romankiss Can you please provide us a screenshot of the event subscription in the Azure portal? It would be helpful to visualize the state of your event subscription.

[2018-04-21 00:28] BryanTrach-MSFT commented on #7317
@mack0196 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-04-21 00:28] peddabavisriram commented on #7322
got it, thanks for the explanation and time you took for this Chris. Have a good weekend.

[2018-04-21 00:28] #7322 closed

[2018-04-21 00:29] BryanTrach-MSFT commented on #7298
@brjohnstmsft Thank you for the reply.

@Ponant We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and tag me in your reply. We will gladly continue the discussion.

[2018-04-21 00:29] #7298 closed

[2018-04-21 00:30] Mike-Ubezzi-MSFT commented on #7445
@rashaadfontenot With the following information, I am able to connect to the sample 'Volcano DB' using:
URL: https://analytics.documents.azure.com
Read-only key: MSr6kt7Gn0YRQbjd6RbTnTt7VHc5ohaAFu7osF0HdyQmfR+YhwCH2D2jcczVIR1LNK3nMPNBD31losN7lQ/fkw==

I am also able to connect to my own Cosmos DB instance with the sample .NET ToDo Application data. Can you work with the sample data provided with t

[2018-04-21 00:32] GopiMtp commented on #7495
When i goto  Nodes>Node_x>fabric:/Voting>VotingWebPkg this error is displayed "Error event: SourceId='System.Hosting', Property='CodePackageActivation:Code:SetupEntryPoint'. There was an error during CodePackage activation.The service host terminated with exit code:1".

Further Code Packages-Code-Details tabs shows this.

![image](https://user-images.githubusercontent.com/24237966/39078590-a90fe73

[2018-04-21 00:33] jlian commented on #7498
This has been fixed by https://github.com/MicrosoftDocs/azure-docs/commit/dd32146490567d839b451e707ff143fcdacbb061

[2018-04-21 00:35] BryanTrach-MSFT commented on #7418
@johannesboon There is not currently a default way within an Azure Load Balancer to create an Active-Passive Load Balancing scenario. You can view the different load balancing distribution methods [Here](https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-distribution-mode).

Some 3rd party marketplace solutions can make an Active-Passive Load Balancer, such as [NetScaler VPX](https

[2018-04-21 01:04] jeevansd commented on #7477
@chetansriv and @v-nagta @v-viinde Can you please fix this in the article?

[2018-04-21 01:38] tony-gutierrez opened #7511 "These screenshots are no longer relevant."
Old screenshots that no longer exist. No explanation for why scaling in doesnt really work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ec7c0bf-3a61-5c61-d803-78f3a9fc55ef
* Version Independent ID: 06b977de-2be4-00e6-6bef-a6693bdc9d87
* Content: [Scale instance count manually or with autoscale with Azure Portal](ht

[2018-04-21 01:47] romankiss commented on #7415
the following screen snippets show my "dead subscription". Totally I have 5 subscriptions with the provisioningState=Updating state forever, so there is no possible their to update/delete/edit.

<img width="236" alt="deadsubportal" src="https://user-images.githubusercontent.com/30365471/39079154-0829a62a-44ca-11e8-837b-16baa7e7308e.PNG">

and the GET REST response:
<img width="863" alt="deadsub" s

[2018-04-21 02:34] sethmanheim commented on #7317
@BryanTrach-MSFT I'm sorry, I don't own this content so I would have no way to update it.

[2018-04-21 03:25] DanielK8507 commented on #6057
@madsenfx, although the documentation says otherwise, here's what I have discovered:

1. A local domain-joined only device (i.e. one that is joined to a local domain but not AAD-Joined or AAD-Registered) will be blocked by this control because Azure AD (which is the thing that is evaluating the policy) doesn't even know the local-domain joined only device exists.

2. Hybrid Azure AD Join is one me

[2018-04-21 06:38] cephalin commented on #7456
#please-close

[2018-04-21 11:30] guyhorn1964 opened #7513 "Allow Access to Azure Services must stay "ON""
Otherwise the query fails. Stating that: "This server's firewall rules do not allow access azure services."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dfdbe17a-1b00-fbc6-d7cb-95b40e55e58e
* Version Independent ID: 7da7fe94-d90b-bd16-3865-3e45c3f3a687
* Content: [Azure portal: Create a SQL database](https://docs.mic

[2018-04-21 11:46] tkumark opened #7514 "NAT rule creation steps not given"
There are no detailed steps for creating NAT rule for 3389 port. without this RDP to a particular VM would not be possible. There is a mention for 3389 port for NSG. Also to add when I do add NAT rule for Standard Load Balancer for 3389 port so that I can RDP it is not working. Is this an issue?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2018-04-21 15:42] NeilMacMullen opened #7515 "Azcopy imports too fast and is therefore unusable"
I wanted to used Azcopy to import a single table for test purposes so I could get a feel for the query improvements that CosmosDB might give me.  Unfortunately as soon as Azcopy starts the import operation I get a "request is large" error.  I tried using the /NC:1 option but even that wasn't enough to throttle to an acceptable rate.  I've selected the minimum size CosmosDB instance for testing - 4

[2018-04-21 17:27] jlsfernandez commented on #5806
So...
Any updates when move to mi to sift graph?

Still confuse about look for in the roadmap links

[2018-04-21 18:53] webmasterswebkori opened #7516 "Thanks"
Its working

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f65b9450-93e4-e7dd-ea2f-15166e12160a
* Version Independent ID: 5fccf626-8284-d90f-09cf-e738d4eb45db
* Content: [Azure Security Center Platform Migration](https://docs.microsoft.com/en-us/azure/security-center/security-center-platform-migration#workspace)
* Cont

[2018-04-21 19:38] irwinwilliams opened #7517 "Include a demo"
This explanation should include or point to a demo on how to tie everything together.  You might simply have a file being dropped into blob storage and an Azure Function that is notified about the file and then show the function actually consuming the file.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d651422-3de2-d

[2018-04-21 20:03] cecilphillip opened #7518 "Activity functions exceptions"
On my local machine running Functions v1, the exception that gets thrown for a failed activity is Microsoft.Azure.WebJobs.FunctionFailedException and not TaskFailedException as stated in the "Errors in activity functions" section. Was this renamed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53ea12e4-9fad-88f3-7aa5-

[2018-04-21 20:03] Eneuman opened #7519 "Missing Service Fabric example"
It would be nice to also see how a typical Service Fabric solution should be setup to mitigate DDOS attacks.

The SF solution should cover a front end subnet (running a public gui and a api), a backend subnet running business services, a jump box, Azure sql database and azure storage.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2018-04-21 20:09] amp64 opened #7520 "Step 8 under "Register your app for the Windows Store" is wrong"
The Dev Center pages have changed, and there is no WNS page under Services. There is one under App Management, but it doesn't match the description here at all. It requires a .cer file to be uploaded in fact. I'm kind of lost now.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b48be73-2f29-6b2a-c837-751d3862bcdb
* Ver

[2018-04-21 20:12] femsulu commented on #7513
@guyhorn1964 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-21 20:15] femsulu commented on #7515
@NeilMacMullen Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-21 20:25] femsulu commented on #7511
@tony-gutierrez Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-04-21 20:34] femsulu commented on #7516
@webmasterswebkori Thanks for the Kudos. Happy the document met your expectations. Cheers.

[2018-04-21 20:39] femsulu commented on #7500
@femila - Can you please take a look at this since @ysxu is no longer resolving in GitHub?

[2018-04-21 21:00] femsulu commented on #7514
@tkumark Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-04-21 21:06] femsulu commented on #7520
@amp64 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-04-21 21:10] femsulu commented on #7517
@irwinwilliams Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-04-21 21:11] femsulu commented on #7519
@Eneuman Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-04-21 21:15] femsulu commented on #7518
@cecilphillip,
Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-21 21:16] femsulu commented on #7456
@vancourse We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-21 21:16] #7456 closed

[2018-04-21 21:41] derekschauland opened #7522 "Purchasing a domain name form the Azure Portal"
I believe it is possible to purchase a domain name via GoDaddy from within the Azure portal, but the documentation does not reflect that... in this paragraph it states that this is not possible.

Azure DNS does not currently support purchasing of domain names. If you want to purchase domains, you need to use a third-party domain name registrar. The registrar typically charges a small annual fee. T

[2018-04-21 22:12] vancourse commented on #7456
Thank you, Matthew. I will go through the documentation!

-Ravi

On Fri, Apr 20, 2018 at 1:28 PM, Matthew Henderson <notifications@github.com

[2018-04-21 22:55] jaredr80 commented on #6902
@dacarubio-

You may want to take a look at [this doc](https://docs.microsoft.com/en-us/azure/expressroute/how-to-routefilter-portal) for more details on our route filter functionality for Microsoft Peering. In addition to providing access to Office 365 services on a premium SKU ExpressRoute circuit, we also provide access to Azure region's public services within the same geopolitical on a standar

[2018-04-21 23:00] Mustafa-Sadriwala opened #7523 "Outdated Java Quickstart"
The Java code for the Quickstart is outdated. The Maven Repository that is being used has been split into httpcomponents:httpclient-4.5.2 and httpcomponents:httpcore-4.4.6. And I believe the setHeader method for HttpPost objects no longer exists.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b97413b8-38f8-5143-39c8-79

[2018-04-21 23:20] amp64 opened #7524 "Wrong assembly listed"
Text says to add Microsoft.Azure.NotificationHubs but that seems to be a server-side component. The screenshot says WindowsAzure.Messaging.Managed which is the correct assembly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b48be73-2f29-6b2a-c837-751d3862bcdb
* Version Independent ID: efd00d73-1ff5-8689-8415-fe163079

[2018-04-22 00:13] dacarubio commented on #6902
Thanks Jared. So what is the benefit of announcing that Microsoft Peering is now available via ExpressRoute Standard SKU then? I understand that Premium SKU offers lot of features and scalability but I'm after with the benefits of announcing  the capability of running Microsoft Peering under Standard SKU.

[2018-04-22 00:26] jaredr80 commented on #6902
Yes, that's correct. Microsoft peering and public peering were merged to provide greater functionality. Microsoft peering can be used to access O365 with approvals, as well as Azure public services (ex. Storage and SQL).

Perhaps I am not understanding your question, but I would be happy to answer any additional questions you may have.

[2018-04-22 00:30] dacarubio commented on #6902
Thanks Jared. So going back to my original question, without purchasing ER Premium SKU, can we still establish Microsoft Peering and consume O365 Services via ER Standard SKU?

[2018-04-22 00:31] jaredr80 commented on #6902
No. Office 365 on Microsoft peering requires the premium SKU.

[2018-04-22 00:36] dacarubio commented on #6902
Ok so to confirm: Microsoft Peering is also available under ER Standard SKU but only for services that is covered under PaaS and not for Office 365 and Dynamics 365 services?

[2018-04-22 00:36] jaredr80 commented on #6902
Correct 😄

[2018-04-22 00:40] dacarubio commented on #6902
Thanks a lot. Can we update this ER page FAQ with this information?

[2018-04-22 00:42] jaredr80 commented on #6902
Absolutely! I will add some additional content about this.

#please-close

[2018-04-22 00:51] femsulu commented on #7523
@Mustafa-Sadriwala, Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-04-22 00:52] femsulu commented on #7523
@cjgronlund , assigned this to you as I was unable to resolve @KellyDF.

[2018-04-22 00:56] femsulu commented on #7522
@derekschauland Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-04-22 00:58] femsulu commented on #7524
@amp64 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-22 01:20] bearrito opened #7525 "General Availability"
Is this SDK considered generally available?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a236500-e18a-cfd4-ad38-8cb1d149f49f
* Version Independent ID: b6639581-6175-f913-7a45-52d1e551f779
* Content: [Python: Filesystem operations on Azure Data Lake Store](https://docs.microsoft.com/en-us/azure/data-lake-store/data-l

[2018-04-22 05:51] rayne-wiselman commented on #5718
#please-close

[2018-04-22 05:53] rayne-wiselman commented on #6716
Reviewers, please push to #product-feedback, and close as doc issue so that we can get it addressed

[2018-04-22 05:55] rayne-wiselman commented on #5078
Hi. Rajani fixed this - https://docs.microsoft.com/en-us/azure/site-recovery/vmware-azure-reprotect#common-issues

#please-close

[2018-04-22 05:59] rayne-wiselman commented on #6716
#please-close

[2018-04-22 06:01] rayne-wiselman commented on #6941
Hi, hopefully you were able to solve this.

Since this doesn't seem to be a content issue. #please-close

[2018-04-22 06:37] Richard004 opened #7527 "context.GetInput<string>() is not awaitable"
Please fix the example:
string name = await context.GetInput<string>();
to
string name = context.GetInput<string>();

I have tried <PackageReference Include="Microsoft.Azure.WebJobs.Extensions.DurableTask" Version="1.3.1-rc" />

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34bd4f6c-c769-899d-7ec8-f4d8db7b798a
* Versio

[2018-04-22 07:04] Richard004 commented on #7527
Sorry, I am bad with MD.
The 2nd example for "Trigger sample" shows
      `string name = await context.GetInput<string>();`
and should be
      `string name = context.GetInput<string>();`

I am using

      `<PackageReference Include="Microsoft.Azure.WebJobs.Extensions.DurableTask" Version="1.3.1-rc" />`

[2018-04-22 07:34] mike-urnun-msft commented on #7454
@brandonh-msft Thanks for pointing this out. We have updated the links and the changes will reflect after our next merge; and this issue will auto-close.

[2018-04-22 08:51] michaelkruglos opened #7529 "Add example for CRUD operations"
Please, add example of CRUD operatoins

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 898d5139-909f-dcd9-8f25-4d8b2aafd708
* Version Independent ID: 50e12e3d-de5d-0ad2-be8f-4c28a3f4ae2e
* Content: [Azure Cosmos DB: Build a web app with .NET and the MongoDB API](https://docs.microsoft.com/en-us/azure/cosmos-db/create-mo

[2018-04-22 10:04] jonnyleigh opened #7530 "Link your tenant to your subscription"
Not sure if I'm misunderstanding but it appears that this part of the documentation is incomplete.  It describes how to open the management blade for B2C but not how to link to a subscription.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 670bf490-966b-e72e-ab6c-1d189f9a1f58
* Version Independent ID: a55b7372-87e9-c76

[2018-04-22 13:10] spottedmahn opened #7531 "Limited Aquire Token Silent Support?"
Please the warning ⚠️ here: https://github.com/Azure-Samples/active-directory-b2c-javascript-msal-singlepageapp

Can the limitations be documented?  Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 836ec1be-7675-d0f1-c861-0520dc3ea01e
* Version Independent ID: c6a2a6f6-57fd-20ae-36f7-b6db1987ebe5
* Content: [Requ

[2018-04-22 13:14] spottedmahn commented on #7486
But you can’t upload them if you don’t have a subscription linked!

[2018-04-22 14:20] niravkanakhara opened #7532 "New-AzureRmVm is working as per given syntex"
When I am trying to executed below command, it is not able to find Name,VirtualNetwork,SubnetName parameters.

New-AzureRmVm `
    -ResourceGroupName "myResourceGroupVM" `
    -Name "myVM" `
    -Location "East US" `
    -VirtualNetworkName "myVnet" `
    -SubnetName "mySubnet" `
    -SecurityGroupName "myNetworkSecurityGroup" `
    -PublicIpAddressName "myPublicIpAddress" `
    -Credential $credx

[2018-04-22 15:25] MicahMcKittrick-MSFT commented on #7525
@bearrito Thanks for the question! We are investigating and will update you shortly.

[2018-04-22 15:26] MicahMcKittrick-MSFT commented on #7529
@michaelkruglos Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-04-22 15:27] MicahMcKittrick-MSFT commented on #7530
@jonnyleigh Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-22 15:28] MicahMcKittrick-MSFT commented on #7531
@spottedmahn Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-22 15:43] #5078 closed

[2018-04-22 15:44] #5718 closed

[2018-04-22 15:44] #6716 closed

[2018-04-22 15:45] #6902 closed

[2018-04-22 15:45] #6941 closed

[2018-04-22 16:19] thuansoldier opened #7534 "How does approval look like?"
This article should have indicated or linked to approval process to let the audience know how an approval looks like after deploying such a template.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08dc9679-501f-ac62-5fd5-5fb25e1aea1e
* Version Independent ID: cf0c3ea0-0120-9179-876c-85dd01687e30
* Content: [Azure Polic

[2018-04-22 16:29] jaykay211 commented on #6941
Hi Rayne,

I do think the content is not accurate. There is still no reverse
replication available using the methods provided in the documentation. As
the only options were, planned failover, complete migration and disable
replication. Out of curiosity, I clicked on the planned failover option and
it asked me which direction I want to failover. The only option was from
Azure, as the VM was already

[2018-04-22 16:31] rayne-wiselman commented on #6941
The issue is opened on a document for failing back VMware VMs. Is that what you're trying to do?

[2018-04-22 16:39] thuansoldier opened #7535 "Policy Trigger"
The documentation should have indicated when a policy gets triggered after being assigned to the target scope. Is it immediately triggered to be executed? Or is there an external callback service which executes the policy everytime it gets assigned (like Azure Function triggers)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-04-22 16:48] thuansoldier opened #7536 "Difference between initiative and policy from trigger perspective"
If I understand correctly, an initiative is triggered to run all policy definitions insides it right? It means if I'd like to execute each policy definition individually, I should NOT create an initiative? The document seems not to be clear.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51022609-2dee-d21c-9274-384ed82

[2018-04-22 16:51] jaykay211 commented on #6941
I opened the issue on that page in error but it's hyper v VMs I'm trying to
failover and fail back. My comments are based on the documentation
pertaining to hyper v.

On Sun, Apr 22, 2018, 12:31 PM Rayne Wiselman <notifications@github.com>
wrote:

[2018-04-22 17:26] FrederikLeed commented on #7476
OK, so the self-service application access is in fact a Premium feature. Could you link to some article somewhere stating this? Specifically if there is some writing somewhere including the need for guests users to be fully premium licensed in the resource organization.

[2018-04-22 17:27] rayne-wiselman commented on #6941
So the content on the hyper-v failback document seems to mirror what you're seeing.

https://docs.microsoft.com/en-us/azure/site-recovery/hyper-v-azure-failback
To failback... 1) Select planned failover -> Complete failover to on-prem -> Commit -> Reverse replicate

[2018-04-22 17:31] jaykay211 commented on #6941
Thanks for the feedback. I was probably looking at the wrong thing. Thanks
for pointing me in the right direction.

On Sun, Apr 22, 2018, 1:27 PM Rayne Wiselman <notifications@github.com>
wrote:

[2018-04-22 17:33] jaykay211 commented on #6941
Hi,

Thanks again. I read through a few of the articles and didn't see it.
Thanks.

On Sun, Apr 22, 2018, 1:27 PM Rayne Wiselman <notifications@github.com>
wrote:

[2018-04-22 17:33] rayne-wiselman commented on #6941
Happy to help. Always good to get feedback :-)

[2018-04-22 17:36] MicahMcKittrick-MSFT commented on #7534
@thuansoldier Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-04-22 17:37] MicahMcKittrick-MSFT commented on #7535
@thuansoldier Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-04-22 17:38] MicahMcKittrick-MSFT commented on #7536
@thuansoldier Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-22 17:46] DominoX opened #7537 "Transform of Web.config not working when 'Publish' to Azure Cloud Service"
https://docs.microsoft.com/en-us/azure/cloud-services/cloud-services-dotnet-get-started

I followed the instructions in this document carefully ... twice! The solution runs fine when I run it 'Local' in the Azure Emulators against the local MSSQLLocalDB, but when publishing to the Azure Cloud Service, the ContosoAdsWeb module fails to connect to the Azure SQL database.

After much debugging, I fou

[2018-04-22 17:53] jefferybennett opened #7538 "Lack of documentation on Azure Function output bindings when using Visual Studio"
The lack of good documentation on how to implement output bindings when writing Azure Functions using Visual Studio is pretty painful.  This article covers triggers but not outputs.  A simple addition to this article would save developers a lot of time and searching and dramatically improve the experience of using Visual Studio to develop Functions.

---
#### Document Details

⚠ *Do not edit this

[2018-04-22 21:08] MicahMcKittrick-MSFT commented on #7537
@DominoX Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-22 21:09] MicahMcKittrick-MSFT commented on #7538
@jefferybennett Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-04-22 21:14] femsulu commented on #7423
@anandedwin any insights on this issue?

[2018-04-22 21:16] #7516 closed

[2018-04-22 22:52] xmark commented on #7407
OK @gadongji , I figured it out, here are my learnings:
1) I had to use 512 bits for the keygen, not 1024 as the documentation suggests
2) I also could not get the keyvault to work, always seemed to provide a connection error
3) you **do NOT** escape the backslash in the JSON editor, single backslash does the trick

Here is my final JSON (key changed obvisouly, but structure in tact):

**Please up

[2018-04-22 23:23] xmark opened #7539 "Issue with Query"
Trying to establish a query against the contacts in my Xero instance and I am coming up with the following error when trying to preview or the import the mappings.

"UserError: The provided properties are insufficient to read data from data source, please provide at least a 'query'.

I have provided the query attribute as per the documentation, please see below:

`
{
    "name": "xero-test",
    "

[2018-04-22 23:48] Rich-Lang opened #7540 "Next Steps Link Incorrect"
This page is a tutorial for Registering applications.  The "Next Steps" link indicates that you will be shown how to enable a Web Application.  Instead, the link brings you to another page which is almost 100% identical to this one, but is under the "How-to" guides.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 670bf4

[2018-04-23 01:02] femila commented on #7500
@spelluru Sreedhar, LMK if you need help here.

[2018-04-23 02:02] MicahMcKittrick-MSFT commented on #7539
@xmark Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-23 02:03] MicahMcKittrick-MSFT commented on #7540
@Rich-Lang Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-23 02:04] v-liujxu opened #7541 "The link of Routing rules is invalid"
IoT Hub allows you to create up to 10 custom endpoints. Messages are delivered to the endpoints based on routes configured on your IoT hub. For more information, see Routing rules.

The link of Routing rules here is invalid, when click it, it can not direct to document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24

[2018-04-23 02:13] gadongji commented on #7407
Thanks @xmark, your suggestion is valuable to us.

For the keygen issue: yes, we will update our doc.
For the keyvault issue: we will further look into this. Do you put the exact private key value in your key vault?
For the backslash escape: I thought you are using our UX, how are you access our product then?

Regards,
Dongjing

[2018-04-23 02:43] MicahMcKittrick-MSFT commented on #7503
@keatseongchan I will close this out for now. If you need further assistance please reopen and we can continue.

[2018-04-23 02:43] #7503 closed

[2018-04-23 02:45] MicahMcKittrick-MSFT commented on #7518
@cecilphillip I am not aware if this was renamed. @cgillum do you have any insights on this?

[2018-04-23 02:47] MicahMcKittrick-MSFT commented on #7527
@cgillum can you look into this and confirm if the doc needs updating? If so, I am happy to make the change as well.

[2018-04-23 02:59] MicahMcKittrick-MSFT commented on #7532
@niravkanakhara I tested this and it appears to work as it is written in the document. Are you running this via the cloud shell or your on premise powershell instance?

[2018-04-23 03:06] #7454 closed

[2018-04-23 03:07] Mike-Ubezzi-MSFT commented on #7513
@guyhorn1964 Are you attempting to connect with SQL Server Management Studio from your local machine, or are you attempting to do so through the built-in query tool in the Azure portal per this section of the document: [Query the SQL database](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-get-started-portal#query-the-sql-database).

[2018-04-23 03:10] niravkanakhara commented on #7532
Working with on premises.

I think power she'll for azurerm is updated and it doesn't contain -Name  and other parameters in New-AzureRmVm command and It shifted to New-AzureRmVm command with -VMName shifted.

Please check with latest azurerm power shell module.

On Apr 23, 2018 8:29 AM, Micah <notifications@github.com> wrote:

@niravkanakhara<https://github.com/niravkanakhara> I tested this and i

[2018-04-23 03:15] Mike-Ubezzi-MSFT commented on #7515
@SnehaGunda The document may need to explain that the RU threshold should be increased for the import period and then reduced as needed; even pointing the customer to the [Cosmos DB Capacity Planner](https://www.documentdb.com/capacityplanner) to identify the appropriate RU value based upon what the capacity planner thinks is appropriate. Or have product introduce throttling into the Azcopy utilit

[2018-04-23 03:29] jason279 commented on #7423
@femsulu @anandedwin any insignts now?

[2018-04-23 04:20] xmark opened #7543 "Custom Mapping with a different number of columns"
My source (CSV in Azure File Storage) and sink systems (Azure SQL db table) have a different number of columns, specifically, the sink has more columns than the CSV file.

How can I provide defaults, like "n/a" or current datetime, etc.?

Is this possible?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75402f01-c53e-25

[2018-04-23 04:32] anwather opened #7544 "Documentation for ARM extension"
Is there a sample for installing the extension via ARM?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72166f34-3f44-ab06-23ab-6369aa29eb7d
* Version Independent ID: 9ee7879b-d821-830c-240f-17740418ee86
* Content: [Azure Compute - Linux Diagnostic Extension](https://docs.microsoft.com/en-us/azure/virtual-machines/linux

[2018-04-23 05:42] Dawny33 opened #7545 "No explanation for 'Request Units per second (RU/s)'"
The 'Geo distribution' tab of the 'Try Cosmos DB page' has a hyperlink for 'Request Units per second (RU/s)' to this page.

However, this page does not contain any information regarding the same.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d66f466-2128-c7da-c25c-997af9d3e89a
* Version Independent ID: 6e75385b-7439-

[2018-04-23 06:10] jdneo commented on #7458
@mstumpfx We also published a new version of the archetype. Users do not need to update those versions if the project is newly generated.

So now the default steps should works.

[2018-04-23 07:26] StevenZhang81 opened #7547 "failed when connect to VM"
I have finished first 2 steps (create a resource group and create a virtual machine) successfully. But when I try to connect to the VM, I got some errors, see my information below:

zhexin@Azure:~$ az group create --name myResourceGroupVM --location eastus
{
  "id": "/subscriptions/f5c5d97e-e620-425b-8eb7-f1a1b5a323ea/resourceGroups/myResourceGroupVM",
  "location": "eastus",
  "managedBy": null,

[2018-04-23 08:14] gadongji commented on #7539
Hi @xmark, thanks for reporting this to us. Could you please try copy with Xero directly? The copy should work now.

Currently, we do not support preview or import schema using the query specified in advanced tab. Sorry. This feature will be available in one or two months.

If you have to do column mapping, you can new columns in a dataset manually and then import them in a activity for use.

Rega

[2018-04-23 08:44] FrederikLeed commented on #7476
SO i actually tried assigning a EMS E3 licens to a guest account, but no nice, the "Add App" button simply is not there.

[2018-04-23 09:30] andyjballgit opened #7548 "Have to use Action Group in same Subscription if using Metric Alert and are Data Factories v1 Support"
Hi,

When trying to create for a new metric alert in the Portal . ie get below message. Is this limitation going to removed / is it Portal only ?
--
Choose from the list of action groups already configured. For metric and log alerts, action groups selected must be in the alert rule’s subscription. For activity log alerts, action groups can be selected from subscriptions other than the alert rule’s

[2018-04-23 09:32] PoisonousJohn opened #7549 "It's not clear what quota will be consumed"
Does low-priority VMSS consume regular core quota, or does it consume separate "low-priority core" quota, like it is in Azure Batch?

What quota does one need to request from support?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1bd5076-fe52-cfca-4173-dec861167812
* Version Independent ID: 0122fff1-79e0-446c-00a4-85

[2018-04-23 09:35] Oliv4945 commented on #7082
Thank you

[2018-04-23 09:47] sidtandon2014 commented on #5247
Whats the maximum length of text?

[2018-04-23 10:04] Rachitgupta1994 commented on #7482
Hi. I tried to create a SF app of my own and the same localhost port worked there as well. I am sure i didn't specify this. So how come this worked perfectly in my app as well? Also what should i return when i publish it to Azure. Kindly help me with these.

[2018-04-23 10:11] originalnoe-nazvanie opened #7550 "https on portal endpoint"
Hello!
Using ClusterConfig.gMSA.Windows.MultiMachine.json test example we get an
http://test:19080/Explorer/index.html#/apps portal endpoint, it looks not so secure, but there is no option to provide certificates thumbprints in json config and my own attempts to create something from several configs (multi machine+gmsa) were not so successful. Could you please give some information about configuri

[2018-04-23 10:24] derekschauland opened #7551 "How is time measured"
In on example, when setting the token lifetime for 2 hours the value is 02.00:00:00 and in another setting the value for 30 days the value is 30.0:00:00 I am not sure if these token lifetime values should be entered in seconds, minutes, hours, or days

Can this be clarified? It seems that the value might be in hours but there is nowhere to verify that

Adding how time is measured for these values

[2018-04-23 10:29] hprashar opened #7552 "Invalid secret url error"
Got this error when I tried to encrypt a linux VM through AZ CLI.  Read through multiple docs but couldn't find a fix for this. Any help provided here is greatly appreciated.

ERROR: Install Succeeded is not a valid versioned Key Vault Secret URL. It should be in the format https://<vaultEndpoint>/secrets/<secretName>/<secretVersion>.

---
#### Document Details

⚠ *Do not edit this section. It is

[2018-04-23 10:42] grzjab opened #7553 "Custom script actions"
Is it possible to set a custom script action that is executed during cluster deployment?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d8c8b1a-3b61-1dde-c11c-69043a56dfef
* Version Independent ID: 9ad9804b-27c1-f1ea-2dd3-c20a4d9857fc
* Content: [Transform data using Spark activity in Azure Data Factory](https://docs.

[2018-04-23 10:53] ajgball opened #7554 "What about manage disks ?"
Could we have a similar process for managed disks please ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 043790a8-be55-8210-5d82-d00ddc223c25
* Version Independent ID: 0093eeff-aac1-7de6-13a5-dc2e37fae9e2
* Content: [Use a Windows troubleshooting VM with Azure PowerShell](https://docs.microsoft.com/en-us/azure/virtual

[2018-04-23 11:03] jdcockrill opened #7555 "`func new` JavaScript example does not work"
The following example command does not work:

`func new --language JavaScript --template HttpTrigger --name MyHttpTrigger`

It fails with the exception: `Can't find template "HTTPTrigger" in "JavaScript"`

The following command _does_ work as is probably what was intended:

`func new --language JavaScript --template "HTTP Trigger" --name HTTPTrigger`

---
#### Document Details

⚠ *Do not edit this

[2018-04-23 11:19] hanssens opened #7556 "Remote services mentioned in "local testing with requestbin" are discontinued or do not work"
Regarding the topic [Local Testing with Requestbin](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-event-grid#local-testing-with-requestbin):

- Requestb.in discontinued their services [around Mar, 2018](https://github.com/Runscope/requestbin#readme)
- The mentioned hookbin.com, at time of this writing, has outages
- The mentioned webhookinbox.com does not support https

[2018-04-23 11:24] saifuddin123 opened #7557 "Unable to locate servicefabricsdk"
Doing the setup on ubuntu as per the documentation. seeing below error on step:  sudo apt-get install servicefabricsdkcommon

E: Unable to locate package servicefabricsdkcommon
Error@61: Failed to install Service Fabric SDK

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 867a5a41-6a54-7c92-6bb3-65eec3159076
* Version In

[2018-04-23 11:29] sumitkvsl opened #7558 "Not compiling sample C app on Intel edison"
getting below error while compiling the program
fatal error : uuid/uuid.h : No such file or directory
#include <uuid/uuid.h>
at azure-iot-sdk-c/c-utility/adapters/uniqueid_linux.c:7:23

compilation terminated.

Please help and suggest. I'm completely stuck at this stage

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db

[2018-04-23 12:26] Anmolgan81 opened #7562 "Data Factory Does Not Enable Move??"
Seems like I am able to move the datafactory from one subscription to another is it really that the move is not supported??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76c1c185-685f-27e0-e634-844b510b1834
* Version Independent ID: 09375778-5354-ab44-c5c6-94c2aebe34bc
* Content: [Move Azure resources to new subscript

[2018-04-23 12:28] Anmolgan81 opened #7563 "What's the alternative for Service Fabric Cluster with managed disks?"
What can we do if we want to move the service fabric cluster that contains the managed disks to csp one how to do that???

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76c1c185-685f-27e0-e634-844b510b1834
* Version Independent ID: 09375778-5354-ab44-c5c6-94c2aebe34bc
* Content: [Move Azure resources to new subscriptio

[2018-04-23 13:00] #7271 closed

[2018-04-23 13:13] trinadhkotturu commented on #7433
We just need Backup Operator on the Recovery Services vault and a virtual machine contributor on the VM for which you want to enable backup.

[2018-04-23 13:39] j-martens commented on #7459
@raymondlaghaeian - Do you know if Chhavi is still on this? Is there a better contact?

[2018-04-23 13:42] Frankwayne commented on #6788
@Mike-Ubezzi-MSFT     I see no logs in the windows/Application   event viewer logs   for the  CosmosDB.Emulator  source.

Starting the emulator on another port with the command

.\CosmosDB.Emulator.exe /port=8085     gives the same behavior  where nothing happens, I can see the icon when I open my hidden icons on my system tool tray  and then it disappears.  I have also ran the /shutdown command a

[2018-04-23 13:43] rh1701 opened #7564 "How does this work when AAD Connect Configuration Wizard creates the AD DS Connector accounts?"
We are using AAD Connect Sync 1.1.614.0 at my organization and we chose to let AAD Connect create all service accounts automatically, in the final configuration steps creating filters in AD I noticed that if i accessed the Directory partition configuration  in the MIISClient that the Sync engine would use the account i configured the partition with for future authentications to sync job runs and n

[2018-04-23 13:52] johnduckmanton commented on #7423
Same here. @femsulu Any update on to what has changed please?

[2018-04-23 14:01] cephalin commented on #7247
This was a doc decision to have domain migration scenario separate from just configuring a new domain. The two docs link to each other already.

[2018-04-23 14:09] billmath commented on #7304
These were updated last week and have the latest rel notes.  Thank you!

#please-close

[2018-04-23 14:14] MSIH opened #7565 "PowerShell Example for Create a web app is wrong"
This does not look correct:

# PowerShell
az --% webapp create --resource-group myResourceGroup --plan myAppServicePlan --name <app_name> --runtime "PHP|7.0" --deployment-local-git

Maybe New-AzureRmWebApp

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef971d21-e72b-7771-d34a-b6da42d602bb
* Version Independent ID: f60d

[2018-04-23 14:24] danmyhre opened #7566 "Missing Examples of policySetDefinitions"
Missing examples of deploying Initiatives (policySetDefinitions)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9cafa274-2aa5-4c61-96ba-8746e87406d4
* Version Independent ID: 1131d055-8988-02ec-bf79-4054fef8890a
* Content: [Programmatically create policies and view compliance data with Azure Policy](https://docs.micros

[2018-04-23 14:29] danmyhre opened #7567 "ARMClient Deployment to Management Group"
Should add example of deployment of policy def to management group scope.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9cafa274-2aa5-4c61-96ba-8746e87406d4
* Version Independent ID: 1131d055-8988-02ec-bf79-4054fef8890a
* Content: [Programmatically create policies and view compliance data with Azure Policy](https://do

[2018-04-23 14:29] danmyhre opened #7568 "ARMClient Example Bug"
The quote is in the wrong spot:
armclient PUT "/subscriptions/<subscriptionId>/providers/Microsoft.Authorization/policyDefinitions/AuditStorageAccounts?api-version=2016-12-01 @<path to policy definition JSON file>"

should be
armclient PUT "/subscriptions/<subscriptionId>/providers/Microsoft.Authorization/policyDefinitions/AuditStorageAccounts?api-version=2016-12-01" @<path to policy definition JS

[2018-04-23 14:49] spelluru commented on #7500
@robreagan - Thanks for the feedback. I will update this tutorial to use FCM sometime next month.

We have a walkthrough for using FCM: https://docs.microsoft.com/en-us/azure/notification-hubs/notification-hubs-android-push-notification-google-fcm-get-started. Please check it out if you haven't already done so.

@BryanTrach-MSFT - Please mark this issue as a doc-enhancement when you get a chance.

[2018-04-23 14:51] robreagan commented on #7500
Wow! You guys are very responsive. Thanks for the quick triage.

Do you allow pull requests for tidying up the docs?

[2018-04-23 14:54] spelluru commented on #7500
@robreagan - Yes! you can update articles in the public repository: azure-docs and submit PRs. We would really appreciate it!

[2018-04-23 14:55] jwhiteDev commented on #7524
@femsulu please assign to @dimazaid

[2018-04-23 14:56] jwhiteDev commented on #7520
@femsulu please assign to @dimazaid

[2018-04-23 15:09] jdpetersen opened #7569 "Sr Storage/UNIX/Linux Administrator"
Would be very helpful to have a pinout diagram of the StorSimple serial console cable.
Thanks!
John

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0271fad0-d673-0ada-affc-62fb6447bd7e
* Version Independent ID: bcd7302c-e912-5a20-6616-252c29cdf956
* Content: [Deploy your StorSimple 8000 series device in Azure portal](ht

[2018-04-23 15:13] MicahMcKittrick-MSFT commented on #7544
@anwather Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-23 15:13] gervaisfokam opened #7570 "$resourceGroup listed twice"
$resourceGroup = "myResourceGroup" Variable is listed twice in the Sample script. Great Documentation!!!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0ce9b16-2af8-ea80-a478-82dbe68d764e
* Version Independent ID: 90a6c348-0207-37bf-6a52-7d0f8c50ae23
* Content: [Azure PowerShell Script Sample - IIS with DSC](https://d

[2018-04-23 15:14] MicahMcKittrick-MSFT commented on #7547
@StevenZhang81 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-23 15:15] MicahMcKittrick-MSFT commented on #7549
@PoisonousJohn Thanks for the question! We are investigating and will update you shortly.

[2018-04-23 15:16] MicahMcKittrick-MSFT commented on #7550
@originalnoe-nazvanie Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-04-23 15:17] MicahMcKittrick-MSFT commented on #7552
@hprashar Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-23 15:18] MicahMcKittrick-MSFT commented on #7554
@ajgball Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-04-23 15:19] MicahMcKittrick-MSFT commented on #7555
@jdcockrill Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-23 15:19] danmyhre opened #7571 "Add ARMClient example"
Add ARMClient deployment example

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 47f4669f-11f3-89ad-3cff-2d0085b8444d
* Version Independent ID: d734d214-cdba-4de6-e1f1-29bfdc684ff7
* Content: [Azure Policy json sample - Billing tags policy initiative](https://docs.microsoft.com/en-us/azure/azure-policy/scripts/billing-t

[2018-04-23 15:20] MicahMcKittrick-MSFT commented on #7556
@hanssens Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-04-23 15:25] mcmorry opened #7572 "Misleading and dangerous documentation"
It was 2013 when an issue was posted on the forum. And till now (04/2018) the bug is still there and the documentation is not updated:
https://social.msdn.microsoft.com/Forums/en-US/b0c2004a-0845-4bbd-bbdc-18eafecbbe66/capture-image-from-azure-vm-doesnt-work?forum=WAVirtualMachinesforWindows,WAVirtualMachinesforWindows

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2018-04-23 15:27] RicksterCDN commented on #7501
@msLinuxNinja - I reworked the example to use yum update with an updated set of results of yum history. thanks for the suggestion and fix.   https://github.com/MicrosoftDocs/azure-docs-pr/pull/38633

[2018-04-23 15:49] neilpeterson commented on #7570
Thanks @gervaisfokam - I will get this updated.

[2018-04-23 15:55] Mike-Ubezzi-MSFT commented on #7545
@Dawny33 Thank you for your feedback. I am going to assign this issue to the content owner for evaluation and if they see that the RU/s topic as an appropriate topic for this page, they will make enhancements.
Regards,
Mike

[2018-04-23 15:59] Mike-Ubezzi-MSFT commented on #7545
@kfile I am unable to identify the content author for this document. Is 'kirillg' the correct alias? Thank you!

[2018-04-23 16:00] MicahMcKittrick-MSFT commented on #7495
@rwike77 any additional input based on the screenshot?

[2018-04-23 16:02] BermudaLamb opened #7573 "On the Windows Dev Center page for my new app, Services | Push notifications is not available"
Back on the Windows Dev Center page for your new app, select Services, select Push notifications, and then select WNS/MPNS.

Services available are:
- XBOX Live
- Experimentation
- Maps
- Product collections and purchases

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b48be73-2f29-6b2a-c837-751d3862bcdb
* Version Inde

[2018-04-23 16:09] mmacy commented on #7437
Hi @artisticcheese, thanks for the input. The docs.microsoft.com team is currently working on a feature that will allow us to more effectively present multi-platform content. Until that's rolled out, you can find a PowerShell example auth script here:

https://github.com/Azure/azure-docs-powershell-samples/blob/master/container-registry/service-principal-create/service-principal-create.ps1

Now th

[2018-04-23 16:10] bc3tech opened #7574 "Must be some exceptions..."
I've got an LA definition that has an Azure Automation call in it that often takes over 2 minutes. I have 'Wait for Job' = 'true' and the LA doesn't time out and succeeds just fine. So there must be some exceptions to the 120s connector rule. These should be listed here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8

[2018-04-23 16:11] thuansoldier opened #7575 "Should give more samples on each action of effect parameter"
For each 'effect' for example append action, please give some samples to help audience reach to better level of knowledge.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d956852a-d98e-c022-d6f2-c2910afe6e93
* Version Independent ID: 8107b348-d2b4-214e-2b18-bf813f1fe1e8
* Content: [Azure Policy definition structure](htt

[2018-04-23 16:11] jluk commented on #7295
@maertendMSFT did you ever get a chance to add an include.md on this?

[2018-04-23 16:18] MicahMcKittrick-MSFT commented on #7532
I updated my PS module but I am still able to run the commands as it:
<img width="626" alt="image" src="https://user-images.githubusercontent.com/32313503/39139620-402b33e0-46d7-11e8-9fcd-d8a94c13d5c8.png">

Can you try reinstalling your module and let me know if it helps

[2018-04-23 16:20] SharmainePopov commented on #7106
Thanks Mike. I think I found a contact to help me.

Sharmaine Popov
Cloud Solution Architect |Microsoft Canada Inc. | sharmaine.popov@microsoft.com<mailto:sharmaine.popov@microsoft.com> | 416-799-0807

From: Mike Ubezzi <notifications@github.com>
Sent: Tuesday, April 17, 2018 6:58 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Sharmaine Popov <Sharmaine.Popov@microsoft.com>; M

[2018-04-23 16:25] MicahMcKittrick-MSFT commented on #7537
@Thraka I am having similar issues running the completed solution. Can you confirm if this doc is still valid?

[2018-04-23 16:27] cgillum commented on #7527
Yep. This was a bug in the docs. I signed off on the PR. Thanks @Richard004!

[2018-04-23 16:29] cgillum commented on #7518
It wasn't renamed per-se, but we did change it to a new exception type. `FunctionFailedException` is the correct exception type to look for. Sorry for the confusion!

[2018-04-23 16:29] MicahMcKittrick-MSFT commented on #7544
@anwather can you clarify your ask a bit? Are you looking for an example installing the extension via an ARM template or are you asking for an example for an ARM VM?

[2018-04-23 16:41] cesarwhite opened #7577 "Max number of properties in a table entity clarification"
In the “Azure Table storage scale targets” section – “Max number of properties in a table entity” indicates 252.  Is the 252 includes or excludes the PartitionKey, RowKey, and Timestamp properties? Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c9ef03f-cf87-a333-623b-afbd39fd75a2
* Version Independent ID: 7

[2018-04-23 16:46] yadcam opened #7578 "Link Decryption Template"
I was only thinking if you could add the decryption template link for the Decryption workflow? I was able to find one after some research; can you also verify if you refer to this one, or to another template?

https://github.com/Azure/azure-quickstart-templates/tree/master/201-decrypt-running-windows-vm

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2018-04-23 16:47] MicahMcKittrick-MSFT commented on #7572
@mcmorry Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-23 16:58] neilpeterson commented on #7463
I've just tested this out, and it works. I am not positive on the mechanics (like is a new private key being generated on the VM), but will track these down and update this issue.

- regenerate SSH keys
- In the portal, select an AKS node VM and reset password
- Select `Reset SSH public key`, enter the username `azureuser` by default, and paste in the new public key `id_rsa.pub`
- Create SSH conne

[2018-04-23 17:05] bingosummer commented on #7478
Thanks @femsulu .
Adding more details why we ask this. We built a [template](https://github.com/Azure/azure-quickstart-templates/tree/master/bosh-setup) to deploy both on Azure and Azure Stack. We need to make sure the template can work both on Azure and Azure Stack. To do so, we need to know what template features are supported on Azure Stack.

[2018-04-23 17:07] mcmorry commented on #7572
@MicahMcKittrick-MSFT I'm having problems to create a clone of a VM using the portal. I'm not sure if that old post is still applicable, but for sure the Capture button creates an image without any data disk. And when I create a new VM from this image, is just empty.

[2018-04-23 17:08] SaurabhSharma-MSFT commented on #7564
@rh1701 Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-23 17:08] RicksterCDN commented on #7501
update in https://github.com/MicrosoftDocs/azure-docs-pr/pull/38633 has merged. #Please-close

[2018-04-23 17:09] neilpeterson commented on #7463
@MicahMcKittrick-MSFT - if you want to assign this to me, I will take over.

Thanks

[2018-04-23 17:11] SaurabhSharma-MSFT commented on #7551
@derekschauland Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-23 17:11] jason-j-MSFT commented on #7543
@xmark
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-23 17:11] #7541 closed

[2018-04-23 17:11] jason-j-MSFT commented on #7553
@grzjab
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-23 17:12] MicahMcKittrick-MSFT commented on #7547
@iainfoulds I am getting the same issue. Both in Cloud Shell and on premise. I could of course recreate the SSH key and make sure it is on my machine but as per following the doc there appears to be an issue.

[2018-04-23 17:13] MicahMcKittrick-MSFT commented on #7549
@PoisonousJohn the quota amount would be the same as you are still using the same amount of cores. The exception with low priority is that we can shutdown your VMs if something higher priority comes into play.

@mmccrory maybe something we need to add into this doc.

[2018-04-23 17:13] MohitGargMSFT commented on #7558
@sumitkvsl Thanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

[2018-04-23 17:14] MohitGargMSFT commented on #7569
@jdpetersen Thanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

[2018-04-23 17:16] MicahMcKittrick-MSFT commented on #7552
@hprashar I believe the error is because the Keyvault name parameter in this doc appears to be wrong.

Try the following instead:

`#!/bin/bash

# Provide your own unique Key Vault name
$keyvault_name="keyvault_name"

# Register the Key Vault provider and create a resource group.
az provider register -n Microsoft.KeyVault
az group create --name myResourceGroup --location eastus

# Create a Key Vau

[2018-04-23 17:17] rayne-wiselman commented on #7428
Hi @ashutosh95, can you let us know what you found confusing or incorrect in this article so that we can action it to fix.

[2018-04-23 17:17] iainfoulds commented on #7373
@cloudmelon The Custom Script Extension can be re-run multiple times against the same scale set. The script configuration needs to be updated in order for the extension to recognize a v2 version of your app. As a recommended best practice, include the version number in your deployment script so that each time the Custom Script Extension is re-run, you provide the updated script version for deploym

[2018-04-23 17:25] Anmolgan81 commented on #7562
Ohh..ok so..this would be added as a limitation in the doc right?

[2018-04-23 17:26] Anmolgan81 commented on #7562
Can you also tell me an alternative of virtual machine scale set if it contains managed disks?
What would be the best way to convert it to unmanged scale set?

[2018-04-23 17:28] hpsin commented on #7551
This is the format of the [TimeSpan](https://msdn.microsoft.com/en-us/library/system.timespan) object in C#.  D.HH:MM:SS

Token lifetimes can be entered in this format as long as they're within the bounds set by other lifetimes (e.g. `MaxAgeSingleFactor` shouldn't be longer than `MaxAgeMultiFactor`) and the individual bounds of a given lifetime (e.g. `MaxInactiveTime` for refresh tokens can't be g

[2018-04-23 17:29] niniikhena commented on #7536
Yes, exactly. Thanks for the feedback, we'll update the doc to make this concept clearer.

[2018-04-23 17:30] #7501 closed

[2018-04-23 17:36] cecilphillip commented on #7518
No worries, we just need to update the doc.

[2018-04-23 17:38] JohnReeson opened #7580 "Not supported to transfer from storage emulator to cloud directly?"
It seems not supported to transfer blob/file from storage emulator to an Azure storage account directly using azcopy. As in practice the operation fails when parameters are formed well(if exchange source and destination, the command works fine). But there's no description in document that the operation is not supported.

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2018-04-23 17:38] #7555 closed

[2018-04-23 17:46] LukeDevs commented on #6811
This is still an active issue.

Following the steps @gopitk outlined above still does not resolve the user authentication error. I am able to see the Jupyter Notebook externally over the internet, but the DSVM user password is not accepted at the password prompt.

It is unclear what password it is requiring.

Remote Desktop to the DSVM via X20Go also prompts me with the password challenge that I c

[2018-04-23 17:47] BryanTrach-MSFT commented on #7574
@bc3tech Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-04-23 17:47] alkohli commented on #7569
@jdpetersen Hi John, thanks for your feedback. I do have the pinout diagram for the StorSimple serial console cable. The only reason we have not published it so far is that no one has requested it far. May I ask why do you need the information? Was a serial cable missing with your device shipment or do you need a replacement cable? Please let me know.

Also I am adding the pinout diagram here to r

[2018-04-23 17:51] argrithmag opened #7581 "And if we don't want to use Facebook?"
The default git repo seems to require a facebook instance of an app before it will allow me to upload.  I get the following error:  Unable to upload policy. Reason : Validation failed: 1 validation error(s) found in policy "B2C_1A_TRUSTFRAMEWORKBASE" of tenant "XXXXXXXXXXX.onmicrosoft.com".Tenant "XXXXXXXXXXX.onmicrosoft.com" does not have CryptographicKey referenced by storageReferenceId "B2C_1A_

[2018-04-23 17:56] MohitGargMSFT commented on #7578
@yadcam Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-23 17:56] alkohli commented on #7569
#in-progress

[2018-04-23 17:58] #7562 closed

[2018-04-23 17:59] MightyPen commented on #6285
@Zenocolo The subject area PM Dhruv Malik replied: This is currently a limitation on our platform, you cannot configure P2S connectivity directly to Azure SQLDB because there is no Private IP provisioned on your SQLDB. You can however use Express Route to Azure SQLDB on the public IP but not the private IP.
.
I think the above answer Closes this GitHub Issue.  Thank you!

[2018-04-23 18:00] unacao commented on #7463
Thanks for the update @neilpeterson !
Two questions to clarify:
1. do I need to reset the ssh public key for every VM in the AKS cluster?
2. shall I wait for more updates or just follow the solution you provided above?

[2018-04-23 18:05] BryanTrach-MSFT commented on #7573
@BermudaLamb Can you please try accessing the push notifications section by using a different browser? Sometimes browser cache gets in the way. We look forward to your reply.

[2018-04-23 18:16] derekschauland commented on #7551
Can this explanation of timespan be included in a callout within the document?

I think that would provide a good deal of clarification

thanks

________________________________
From: Hirsch Singhal <notifications@github.com>
Sent: Monday, April 23, 2018 12:28:11 PM
To: MicrosoftDocs/azure-docs
Cc: Derek Schauland; Mention
Subject: Re: [MicrosoftDocs/azure-docs] How is time measured (#7551)

This

[2018-04-23 18:29] billmath commented on #7304
#please-close

[2018-04-23 18:31] MicahMcKittrick-MSFT commented on #7572
@mcmorry thanks for updating us! No worries, been there, done that :)

[2018-04-23 18:38] BryanTrach-MSFT commented on #7565
@MSIH I was able to successfully create a web app with the cmdlet that you quoted by using powershell cloudshell in the Azure Portal.

Please let us know if you encountered an error.

[2018-04-23 18:41] CelesteDG commented on #7053
Hello @xMTinkerer - Thank you for your feedback. When logged into the Azure portal, can you please select the **?** (Help) option at the top, next to your name, and then select the **Show diagnostics** option, then Open the PortalDiagnostics.json file (or save it then open it). In the PortalDiagnostics.json file, please scroll down until you see the "tenants" section and then check the GUID next t

[2018-04-23 18:51] LukeBayler opened #7584 "WPF App (.NET Framework) not installed by default"
The WPF option is not provide by default (at least not on my installation). May want to include some guidance here about having what users might have to install to get WPF.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31a7905f-5818-4398-ee39-2842519dc054
* Version Independent ID: 7f6a714b-cd88-694e-fd31-ad96fdfe5ed3

[2018-04-23 18:56] LukeBayler opened #7585 "Microsoft.ProjectOxford.Common and Microsoft.ProjectOxford.Face"
The Microsoft.ProjectOxford.Common and Microsoft.ProjectOxford.Face packages were not automatically added during my installation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31a7905f-5818-4398-ee39-2842519dc054
* Version Independent ID: 7f6a714b-cd88-694e-fd31-ad96fdfe5ed3
* Content: [Face API C# tutorial - Microsof

[2018-04-23 19:05] alexrauperson opened #7587 "Under "Regions that support Availability Zones" does "Central" mean North Central, West Central or both regions?"
Under "Regions that support Availability Zones" does "Central" mean North Central, West Central or both regions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cca70845-100f-2cfd-aba3-34b7fa4a5264
* Version Independent ID: 475b26e5-9e23-f769-3bd5-cbc4a678dbf0
* Content: [Azure Availability Zones overview](https://docs.

[2018-04-23 19:13] MicahMcKittrick-MSFT commented on #7112
It is referring to Central US specifcally.

<img width="702" alt="image" src="https://user-images.githubusercontent.com/32313503/39147898-bbbed8d2-46ef-11e8-9938-34aa5f1867e0.png">

[2018-04-23 19:15] vasivara-MSFT commented on #7553
@grzjab No. You could take a look at how to deploy a spark cluster [here](https://docs.microsoft.com/en-us/azure/hdinsight/spark/apache-spark-jupyter-spark-sql).

[2018-04-23 19:35] vasivara-MSFT commented on #7543
@xmark Yes, you will not be able to achieve the above using copy data tool but you can use [transform data](https://docs.microsoft.com/en-us/azure/data-factory/transform-data) feature of azure data factory to achieve this.

[2018-04-23 19:36] vasivara-MSFT commented on #7543
@xmark We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-23 19:36] #7543 closed

[2018-04-23 19:38] MohitGargMSFT commented on #7380
@stumpykilo We will now proceed to close this thread. If there are further questions regarding this matter, please open new issue and we will gladly continue the discussion.

[2018-04-23 19:38] #7380 closed

[2018-04-23 19:39] vasivara-MSFT commented on #7553
@grzjab We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion. If you think, you need this feature please leave back a product feedback in the doc page.

[2018-04-23 19:39] #7553 closed

[2018-04-23 19:40] #7304 closed

[2018-04-23 19:40] blitzedgh commented on #7304
Thanks.

[2018-04-23 19:54] Anmolgan81 opened #7589 "Error While Moving Unmanaged VM Scale Set"
{"code":"ResourceMoveProviderValidationFailed","message":"Resource move validation failed. Please see details. Diagnostic information: timestamp '20180423T195225Z', subscription id 'e7ca68f7-0d3c-486b-b19e-7c3018f1dc60', tracking id '2c0510b9-9a98-4436-b0e8-2bbc2c62b289', request correlation id '41643f4f-09a2-4205-9ba9-3e90b836f04f'.","details":[{"target":"Microsoft.Compute/virtualMachineScaleSets

[2018-04-23 19:56] BryanTrach-MSFT commented on #7415
@romankiss This will likely require engagement beyond what we can provide you on GitHub as we will have to work with internal teams.

Can you please send a message to AzCommunity@microsoft.com so that we can take the next step towards resolving this matter?

We will close out this thread on GitHub since we can't handle the matter here. We look forward to receiving your email.

[2018-04-23 19:56] #7415 closed

[2018-04-23 19:59] neilpeterson commented on #7463
@unacao - for #1, if you need to SS?H into each node, then yes. Feel free to proceed, I just want to make sure we provided the proper under the cover technical details.

Also, if you do not mind me asking, what do you need SSH access for?

Thanks

[2018-04-23 20:00] MohitGargMSFT commented on #7429
@RussellMoir We will now proceed to close this thread. As already mentioned, please mention the forum thread here so that I make sure you are helped on it.

[2018-04-23 20:00] #7429 closed

[2018-04-23 20:02] unacao commented on #7463
@neilpeterson Recently we encountered a few cases where AKS pods are evicted due to disk pressure. We would like to investigate the disk usage of our VM to get a better understanding of the cause.

[2018-04-23 20:02] mlongoria opened #7591 "Azure ML gateway is same as ADF integration runtime"
Could we please explicitly state that Microsoft Data management Gateway is the same as the Integration Runtime used for Data Factory? When you click the link to download it goes to the correct download, but nowhere on that page does it say that the Integration Runtime is also used as the Azure ML on-prem gateway. Users who are new to this tech are getting confused. They go to a page to learn about

[2018-04-23 20:03] Adam-Smith-MSFT commented on #7580
@JohnReeson Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-04-23 20:04] MohitGargMSFT commented on #7469
@jeremyhagan We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-04-23 20:04] #7469 closed

[2018-04-23 20:07] SaurabhSharma-MSFT commented on #7475
@Alex-Algo Connect-AzureRMAccount is correct as Login-AzureRMAccount redirects to the new Connect-AzureRMAccount (AzureRM 5.3.0 version onwards).  Please refer to the PowerShell documentation [link](https://www.powershellgallery.com/packages/AzureRM/5.3.0)on the same.

[2018-04-23 20:08] tdykstra commented on #7556
@hanssens Thanks for bringing that up.  I'm adding a note about this to the doc.  We don't have any other alternative besides hookbin.com.  The doc also has a section on using ngrok as another way to test.

[2018-04-23 20:11] MohitGargMSFT commented on #7486
@spottedmahn As stated in Prerequisite section to create AD B2C tenant if you don't have one. If you have AD B2C then you can upload policies in that tenant. Please help me with more details if I am missing in understanding the gap.

[2018-04-23 20:12] grizzljt opened #7592 "Missing steps for configuring multiple Reply URLs"
This guide does not address nor define the domain and URLs section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2136c8d4-927f-1253-9c97-5cbb13f95edf
* Version Independent ID: dbe2d463-6770-d93f-e365-f0da154494fa
* Content: [How to configure federated single sign-on for an Azure AD Gallery application](https://docs.m

[2018-04-23 20:12] Adam-Smith-MSFT commented on #7577
@cesarwhite Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-04-23 20:14] MarkusVi commented on #7425
Hi @Nilis312, thanks a lot for your feedback, You are absolutely right regarding the user - it really has to be the one who has registered the device. I have staged a fix for this. Regarding the command - this looks like some kind of weird coincidence to me because Windows is not case-sensitive.

#please-close

[2018-04-23 20:16] burkeholland commented on #6955
I'm unable to connect at the moment with these settings and the new changes. I'm going to continue to look at this and try to figure out what has changed on my end.

[2018-04-23 20:24] femsulu commented on #7548
@andyjballgit  Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-04-23 20:26] femsulu commented on #7563
@Anmolgan81 Good question. I have passed this on to the content owner to review and provide an answer. Please stay tuned.

[2018-04-23 20:26] MohitGargMSFT commented on #7530
@jonnyleigh Please note that this section of the article [Link your tenant to your subscription](https://docs.microsoft.com/en-us/azure/active-directory-b2c/tutorial-register-applications#link-your-tenant-to-your-subscription
) has stated - "You need to link your Azure AD B2C tenant to your Azure subscription to enable all B2C functionality and pay for usage charges. To learn more, read [this arti

[2018-04-23 20:26] SaurabhSharma-MSFT commented on #7578
@ejarvi Can you please look into this as it seems as a document enhancement opportunity and if you could take it ? Seems @dewtiv is no longer contributing to this documentation.
Encryption/Decryption Template links  -
1. [Enable encryption on a running Windows VM](https://azure.microsoft.com/en-us/resources/templates/201-encrypt-running-windows-vm-aad-client-cert/)
2. [Disable encryption on a runn

[2018-04-23 20:28] MohitGargMSFT commented on #7531
@spottedmahn Thanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

[2018-04-23 20:28] Anmolgan81 commented on #7563
sooner the better, we have a migration of vm scale set that includes service fabric cluster and managed vm scale set that has to be gone to csp, hence any help as quick as possible will be helpful, also can you updated the doc, and add a limitation for ADF V2 as well??

[2018-04-23 20:28] femsulu commented on #7566
@danmyhre  Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-23 20:29] femsulu commented on #7567
@danmyhre  Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-04-23 20:30] MohitGargMSFT commented on #7540
@Rich-Lang Thanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

[2018-04-23 20:31] tfitzmac commented on #7563
@Anmolgan81 - the article has been updated for ADF V2. It will get published this afternoon.

[2018-04-23 20:32] femsulu commented on #7568
@danmyhre Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-23 20:32] Anmolgan81 commented on #7563
@tfitzmac Thanks for the update

[2018-04-23 20:35] femsulu commented on #7571
@danmyhre  Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-04-23 20:38] tfitzmac commented on #7563
@femsulu - I think this needs to be reassigned to service fabric or scale sets. Managed disks cannot be moved so there is no move solution. Service fabric or scale sets would know if there another work around.

[2018-04-23 20:38] femsulu commented on #7575
@thuansoldier Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-04-23 20:41] ydogandjiev commented on #6955
Thanks @burkeholland. Feel free to take a look at my implementation of your tutorial here:
https://github.com/ydogandjiev/react-cosmosdb

I’ve taken it quite a bit past where your videos left off but the basics of how I connect to CosmosDB haven’t changed.

[2018-04-23 20:43] femsulu commented on #7563
@tfitzmac  - any insights on @Anmolgan81 question above?

[2018-04-23 20:45] femsulu commented on #7563
@tfitzmac , ok let me dig into this further to see if there is a resource that can help.

[2018-04-23 20:46] femsulu commented on #7563
@MicahMcKittrick-MSFT, any ideas who form the Compute side can help with @Anmolgan81's question?

[2018-04-23 20:49] ewahner opened #7593 "User security related to AAD accounts?"
Just started working with APIM and it doesn't seem clear after reading this documentation.  I am creating an application, whereby the users not within my organization would need to be invited to use it.  Do those users need to be added as guests to my AAD?  Seems like they wouldn't but then again, how would they be authenticated?  During the invite process are the users being maintained in a hidde

[2018-04-23 20:58] ahmedelnably commented on #7489
This is a gap in our coverage, we are tracking the upload command here:
https://github.com/Azure/azure-powershell/issues/6020

[2018-04-23 21:09] #7556 closed

[2018-04-23 21:10] GoneGolfing commented on #7551
Is there an estimated date for when this will be deprecated and when will the feature be released (previewed)?

[2018-04-23 21:11] markgalioto commented on #7205
@theheatDK I have taken a work item to update this article per your suggestion. The update will publish in the next few days. Thank you for your suggestion!

[2018-04-23 21:11] markgalioto commented on #7205
#please-close

[2018-04-23 21:20] raulhmacias opened #7595 "Broken link"
The link to pre-built domains gives back a 404

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e6804faa-f907-14d5-6c52-30ba15d644e8
* Version Independent ID: 2e83498b-cd3b-8926-873f-8cbc7f97a542
* Content: [Plan your LUIS applications](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/plan-your-app)
* Conte

[2018-04-23 21:27] sandormakai opened #7596 "Replication to Azure through ExpressRoute"
Is it still the case that only Public peering can be used for the Azure Site Recovery or we can now manage the connection via Microsoft peering as well? Because the documentation isn't consistent. Here you say it needs to be Public peering, but in other documents it says now Microsoft peering also can be used for accessing blob storage and other services available and used for Azure Site Recovery

[2018-04-23 21:33] hpsin commented on #7551
Not currently.  The document will be updated as soon as be have better
information.

Hirsch Singhal
412-513-8831

On Mon, Apr 23, 2018 at 2:10 PM, GoneGolfing <notifications@github.com>
wrote:

[2018-04-23 21:34] #7205 closed

[2018-04-23 21:34] anwather commented on #7544
Installing the extension via an ARM template if you have one.

Sent from a mobile device - so full of typos and terrible grammar.

Get Outlook for Android

________________________________
From: Micah <notifications@github.com>
Sent: Tuesday, April 24, 2018 2:29:37 AM
To: MicrosoftDocs/azure-docs
Cc: Anthony Watherston; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Documentation for ARM extensio

[2018-04-23 21:59] BryanTrach-MSFT commented on #7399
@rhizohm By default, slots share the hardware with the parent site. App Service Plans have the ability to host multiple sites/testing slots. Any scaling (in or out) is applied for any slot or site running within the App Service Plan.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion a

[2018-04-23 22:01] DCtheGeek commented on #7566
Hi @danmyhre and thank you for the feedback!  There is an example of using policySetDefinitions under Samples --> Policy templates --> Billing Tags Policy Initiative (https://docs.microsoft.com/en-us/azure/azure-policy/scripts/billing-tags-policy-init).  This page has examples of using both Azure Resource template and PowerShell cmdlets.  Does this meet what you are looking for?

[2018-04-23 22:02] femsulu commented on #7589
Duplicate of #7563

[2018-04-23 22:03] #7589 closed

[2018-04-23 22:03] MohitGargMSFT commented on #7564
Please open a new MSDN forum post and community will help address your query. Please refer to below link to MSDN forum to ask new question -
https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazureplatform&forum=WindowsAzureAD

Do post the forum thread link here so that I make sure you are being helped.

[2018-04-23 22:05] BroadArc opened #7597 "Risky IPs - ADFS 2016 behind a loadbalncer does not send ForwardedIpAddress to Azure"
My email: arafuse@broadarc.com (Cloud and Datacenter MVP)
After installing the March 2018 Windows 2016 Updates and enabling auditing, the Bad Password Attemps Last Failure IP column is always the internal IP of our loadbalancer (netscaler). Due to this, Risky IP will not work.

Copy of the 1203 Error Log
Additional Data
XML: <?xml version="1.0" encoding="utf-16"?>
<AuditBase xmlns:xsd="http://www.

[2018-04-23 22:05] spsandran opened #7598 "Simple correction"
At "Monitoring recurring jobs", the method to look at jobs are "View all jobs" menu, not "All Jobs" table. It doesn't exist.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9efa14d7-5b16-0b12-965d-f3eeb41d1118
* Version Independent ID: c7086654-cb0e-a74b-3166-fa991d3ae236
* Content: [Manage Azure Data Lake Analytics by

[2018-04-23 22:05] DCtheGeek commented on #7567
We are looking into this and will get back to you.  #in-process

[2018-04-23 22:06] DCtheGeek commented on #7571
We are looking into this and will get back to you.  #in-process

[2018-04-23 22:06] DCtheGeek commented on #7575
We are looking into this and will get back to you.  #in-process

[2018-04-23 22:06] Brenduns commented on #7478
#in-progress
@bingosummer    Thanks for the additional details. I'm checking with or product group to see what the best guidance we have is.

[2018-04-23 22:08] BryanTrach-MSFT commented on #7418
@johannesboon Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and reopen the issue.

[2018-04-23 22:08] #7418 closed

[2018-04-23 22:09] rhizohm commented on #7399
@BryanTrach-MSFT  so if I were to use a slot for load testing, it could tax the experience for users hitting production, is that correct? By the way, this would be in the case of app service for containers. I'm curious about the architecture under the hood here -- I get that in the case of app services, it is IIS under the hood that is serving the different slots from the same hardware. But in the

[2018-04-23 22:10] jayminpatel81 opened #7599 "Error while clicking save configuration in slack"
Error: The SAML Response is missing a required email attribute.
I ran fiddler and I can see SAMLRequest in fiddler but SAMLResponse is blank. Would you please advise on it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 919ac673-c2e9-6768-1071-7607c5c6a5c9
* Version Independent ID: 7620fb9f-2085-ab9b-60dd-7e5a73355c0d

[2018-04-23 22:12] jeevansd commented on #7599
@jayminpatel81 If you do not have setup the Email address for the user then Azure AD will not send the email address claim in the SAML Token. So please make sure that you assign Office 365 license to user and then that will provision the email address for the user.

If you do not want to do this then you can use the UPN value of a user for email claim. But note that all the users should have the s

[2018-04-23 22:12] rwike77 commented on #7495
Something failed executing the script in SetupEntryPoint of the VotingWeb servicemanifest.xml.  @GopiMtp, could I ask you to open an issue at http://github.com/Azure/service-fabric-issues?  Then the engineering team can help troubleshoot.  Thanks.

[2018-04-23 22:17] BryanTrach-MSFT commented on #7419
@guddu2112 We were able to successfully build our IoT module using the doc. Since this seems to be an issue with your machine, we kindly request you to post your question to the [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/home?forum=iotedge). It would appear that there might be a permissions issue with that file or folder on your machine but it's tough to say.

[2018-04-23 22:17] #7419 closed

[2018-04-23 22:28] BryanTrach-MSFT commented on #7426
@Rachitgupta1994 There should be a 'Scale' blade in the portal for your Service Bus.

Please let us know if you are unable to see this tab.

[2018-04-23 22:28] #7426 closed

[2018-04-23 22:30] DCtheGeek commented on #7568
Thanks @danmyhre for the feedback!  I've updated this document and it looks like it already got merged and published.  Thank you!  9da2deb63cee6cd7b2e1e61c1e4901b68e37e06c #please-close

[2018-04-23 22:31] BryanTrach-MSFT commented on #7489
@dgrittma Since we are tracking this work item, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and tag me in your reply. We will gladly continue the discussion.

[2018-04-23 22:31] #7489 closed

[2018-04-23 22:35] jayminpatel81 commented on #7599
@Jeevansd - thanks for your prompt response.
I ran graph query https://graph.microsoft.com/v1.0/users/<UPN> and I can see valid value for "Mail" attribute in Response.

[2018-04-23 22:35] Ayanmullick commented on #7157
@MikeRayMSFT Gentle reminder

[2018-04-23 22:35] kobulloc-MSFT commented on #7593
@ewahner I'm sorry for the confusion.  We are investigating this and will get back to you shortly.

[2018-04-23 22:40] jeevansd commented on #7599
@jayminpatel81 Then I will suggest that you should submit the support ticket with Microsoft on this and then our CSS team can help on this. If the email address is configured then you should see the claim in the token.

[2018-04-23 22:43] SaurabhSharma-MSFT commented on #7592
@grizzljt Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-23 22:43] xmark commented on #7543
Can you please be more specific? I dont see anything in that article about my problem...

[2018-04-23 22:44] MikeRayMSFT commented on #7157
Hi @Ayanmullick - Sorry about the delay. The way to set permissions in PowerShell right now is with the Invoke-Sqlcmd cmdlet. Thanks!

[2018-04-23 22:45] xmark commented on #7539
thanks for the reply @gadongji

Can you give me some guidance on what the schema actually is from Xero? There are no details on the fields that come from the Xero connector.

Also, can you please give me some more detail on your advice? Im not sure what you mean by "you can new columns in a dataset manually and then import them in a activity for use"

Thanks.

[2018-04-23 22:47] xmark commented on #7407
Thanks for the reply @gadongji

I put the key with the added \n line endings in the key vault
I am using your editor (through the advanced JSON editor) and I pasted the above working JSON and it worked for me

[2018-04-23 22:50] vasivara-MSFT commented on #7543
@xmark Sure. You need to have three steps
1. Load data into data factory from source.
2. Transform the data using USQL transformation step.
3. Store the result of transformation into the database.
Please look into this documentation [here](https://docs.microsoft.com/en-us/azure/data-factory/transform-data-using-data-lake-analytics)

[2018-04-23 22:51] neilpeterson commented on #7420
I am tracking this on our end, and will get the updates in as soon as possible. Closing this issue in the interim.

#please-close

[2018-04-23 22:53] grizzljt commented on #7592
Thank you!  If it helps, I am trying to setup Azure AD as the IdP for SharePoint on prem and I am struggling through setting up multiple web apps.

[2018-04-23 22:54] jason-j-MSFT commented on #7209
@myusrn we are closing this issue for now but feel free to add more comments.

[2018-04-23 22:54] #7209 closed

[2018-04-23 22:54] xmark commented on #7543
I dont have an instance of the Azure Data Lake though... Is that required to run USQL? Im sorry, but I dont really want to spin-up an instance of the data lake just to process columns in a CSV into a database table.

My current work around is to pass the RAW csv data into a stored procedure, that way I can run custom processing.

[2018-04-23 22:59] jason-j-MSFT commented on #7254
@bwren the "Suppress Alerts" link in the "Alert rules" section does not lead to an explanation of suppressing alerts.

[2018-04-23 23:10] vasivara-MSFT commented on #7543
@xmark As of now, copy data tool just supports column mapping and data type conversion. If you need more features added to that, you have to implement a transformation step. You could also ask this question in the [forum](https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=AzureDataFactory) to get an answer from our community.

[2018-04-23 23:12] nrotzinger opened #7601 "Block the IP address"
On Question 3 of your FAQ, you mention the ability to block IP Addresses with AD FS. The solution states, that with AD FS 2016 + 1803.C+ QFE, you can block the IP address directly. What does + 1803.C+ QFE exactly mean? I have Bing'd and Google'd with no success searching on those terms. Also, I have just search Block IP Address ADFS 2016 with no luck. Could you provide direction on where I could f

[2018-04-23 23:13] xmark commented on #7543
Ok thanks @vasivara-MSFT
Do you know if there is a roadmap of transformation enhancements coming out? An in-memory transformation activity would be great.

[2018-04-23 23:14] BryanTrach-MSFT commented on #7399
@rhizohm We still call the VM an App Service Plan for both Windows Web Apps and Containers for Web Apps so the above comment applies for either.

Your understanding is correct. Web App for Containers has a shared front end server that distributes the requests to your dedicated web workers (App Service Plan). Any slots for your container are run on the same VM/Web Worker/App Service Plan. In this r

[2018-04-23 23:17] vasivara-MSFT commented on #7543
@xmark I am not aware of any roadmap for this feature but you could definitely leave a product feedback [here](https://feedback.azure.com/forums/270578-data-factory). If it is a popular need, it will be prioritized and implemented. Thanks again for trying to make our product better

[2018-04-23 23:25] tfitzmac commented on #7484
#please-close

[2018-04-23 23:26] tfitzmac commented on #7498
#please-close

[2018-04-23 23:27] tfitzmac commented on #7240
#please-close

[2018-04-23 23:29] #7437 closed

[2018-04-23 23:30] YutongTie-MSFT commented on #7584
@LukeBayler Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@SteveMSFT Hi, this is a doc-enhancement issue, can you please check and update the document as necessary? Thanks a lot!

[2018-04-23 23:32] BryanTrach-MSFT commented on #7505
@erickson-doug I am unable to locate @allclark in the assignee field. It appears this document is potentially out of date and I receive the same warning that the customer receives. Can you or someone on your team please take a look at the feedback and update the doc as necessary? Thank you.

[2018-04-23 23:34] YutongTie-MSFT commented on #7591
@mlongoria Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@heatherbshapiro Hi, this is a document enhancement issue, can you please check it and update the document as necessary? Thanks a lot!

[2018-04-23 23:37] YutongTie-MSFT commented on #7595
@raulhmacias Hi, I have tried every link in this page. All of them are good. Can you please check it again? Or can you specify which link is broken? Thanks a lot!

[2018-04-23 23:43] YutongTie-MSFT commented on #7585
@LukeBayler Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@SteveMSFT Hi, this is a document about the automatically add of Microsoft.ProjectOxford.Common and Microsoft.ProjectOxford.Face packages, can you please check it and update the document as necessary? Thanks a lot!

[2018-04-23 23:48] vasivara-MSFT commented on #7598
@spsandran Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-23 23:49] Adam-Smith-MSFT commented on #7596
@sandormakai Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-04-23 23:50] jkewley opened #7603 "Why using client app creds for dev console?"
I'm curious why this documentation suggests that the app registration for the client app be used as the 'client' for authenticating Developer Console access. Yes, it will work because the client app has been granted access to the back end API, but wouldn't it be better to generate separate client credentials for the dev console, grant it access to the API, and then configure the OAuth 2.0 server t

[2018-04-23 23:58] MicahMcKittrick-MSFT commented on #7544
@anwather I don't have one specifically for the Linux Diagnostics Extension. However it follows the same format as all other extensions deployed via arm template

` "type": "Microsoft.Compute/virtualMachines/extensions",

      "name": "[concat(parameters('vmName'),'/', parameters('vmExtensionName'))]",

      "apiVersion": "2015-05-01-preview",

      "location": "[resourceGroup().location]",

[2018-04-24 00:06] vasivara-MSFT commented on #7598
@spsandran I took a look at the tabs and I was able to find as mentioned in the document. Please take a look at the below screen shot. Can you please paste a screenshot of the tabs that you see?

![image](https://user-images.githubusercontent.com/37670439/39159067-753a5e4e-4718-11e8-84a0-4da8b28fbf6e.png)

[2018-04-24 00:11] curtand commented on #7081
@Michal-Ziemba
I published the correction today.
#please-close

[2018-04-24 00:16] anwather commented on #7544
So I have it installed - now getting an error in the log file as below

2018/04/23 23:56:30 [Microsoft.Azure.Diagnostics.LinuxDiagnostic-3.0.111] Invalid config settings given: The storageAccountKey protected setting is not supported and must not be used. Can't proceed, although this install/enable operation is reported as successful so the VM can complete successful startup.
2018/04/23 23:56:30 [

[2018-04-24 00:42] MicahMcKittrick-MSFT commented on #7587
Duplicate of #7112

[2018-04-24 00:42] #7587 closed

[2018-04-24 01:06] jasonzio commented on #7544
That's a really clear error and tells you exactly the problem: you cannot pass LAD 3.0 a storage key. Instead, you must generate a SAS token for the storage account and pass that. The [Protected Settings section](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/diagnostic-extension#protected-settings) of the LAD 3.0 documentation is very thorough in explaining how to do that.

[2018-04-24 01:09] anwather commented on #7544
Thanks @jasonzio I was working through that one and forgot to update the issue

[2018-04-24 01:09] #7544 closed

[2018-04-24 01:38] ronortloff commented on #7368
@angiekNCS, you are correct. If you have 5 compute nodes, you will have only 5 copies of the replicated table (plus the master table).  The master table is spread evenly across all distributions.

[2018-04-24 01:47] huxuan commented on #7585
@LukeBayler Hi, Thanks for the feedback. The [Step 3](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/cognitive-services/Face/Tutorials/FaceAPIinCSharpTutorial.md#step-3-configure-the-face-api-client-library) should be the process to install the packages. Any specific error you got or anything unclear?

[2018-04-24 01:54] huxuan commented on #7584
@LukeBayler Thanks for your reporting.

I may not agree on this mostly for two reasons:

- To use Face API Client Library, WPF is not a necessary dependency. The tutorial is for demo purpose mostly.
- WPF is a quite common dependency for C# development. It may not be reasonable to add specific notes on installing that.

Just let me know if you have any further concern.

[2018-04-24 02:36] MohitGargMSFT commented on #7597
@BroadArc Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-24 02:40] MohitGargMSFT commented on #7601
@nrotzinger Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-24 02:42] MohitGargMSFT commented on #7603
@jkewley Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-24 02:43] myusrn commented on #7209
@jason-j-MSFT closing it as "by design" or "not a priority scenario" or "???"

[2018-04-24 02:55] zhanpengli commented on #7143
@v-geberr @YutongTie-MSFT  The advice of your official document is to create a few more apps, but I don't quite understand. Can you help me? Thank you :-)

https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-concept-enterprise

[2018-04-24 03:24] gadongji commented on #7407
Hi @xmark could you please provide the error message you see when using key vault? It would be great if you can provide a runId or activityId.
About the backslash, sorry that I was wrong and thanks.

[2018-04-24 03:25] dcbrown16 opened #7610 "HTTPS Only setting"
The "HTTPS Only" setting now appears both on Custom Domains and SSL Settings from the app menu. They appear to be the same one, so if you change either one the other location is also updated.
This page only describes the setting under SSL Settings, although the Japanese translation currently says "Custom Domains" in the same place. ("In your web app page, in the left navigation, select SSL setting

[2018-04-24 03:35] xmark commented on #7407
Sure, the error I get is when I click "test connection", should I use the \n in the value for the key chain? I think I have to dont I?

UserError: ERROR [HY000] [Microsoft][Xero] (1019) Unable to complete RSA Signature: error:06065064:digital envelope routines:EVP_DecryptFinal_ex:bad decrypt
 ERROR [HY000] [Microsoft][Xero] (1019) Unable to complete RSA Signature: error:06065064:digital envelope r

[2018-04-24 04:00] tienhv opened #7611 "error when installing new version of Azure ML Workbench on macOS"
I have old version on my Mac, I downloaded the dmg file to install it and got errors. From the bash shell, I saw these errrors:

`$ ./Azure\ Machine\ Learning\ Workbench\ Installer
2018-04-24 10:59:51.940 Azure Machine Learning Workbench Installer[36190:1932700]
Unhandled Exception:
Microsoft.MachineLearning.Installer.Engine.Manifest.InvalidManifestVersionException: The provided manifest did not p

[2018-04-24 04:19] algattik opened #7612 "Diagram of VPN with runtime on-premises"
Could we add a diagram of the IPSec VPN configuration with the self-hosted integration runtime on the on-premises side? That is the most common deployment.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 567118bc-05db-cb9d-d14f-faf835da048a
* Version Independent ID: 9aaa1635-bb8c-07b4-ebc5-55baeb98149c
* Content: [Secur

[2018-04-24 04:58] SilicusShraddha opened #7613 "Function taking too long to respond: 502-Bad Gateway- The specified CGI application encountered an error and the server terminated the process."
I have recently deployed the same function using above steps. But the function is not responding for 5 mins, and then getting 502-Bad Gateway. The specified CGI application encountered an error and the server terminated the process.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e656bde5-b5d8-8d80-b7b3-ab430e57613e
* V

[2018-04-24 05:02] hprashar commented on #7552
@MicahMcKittrick-MSFT  Thanks for looking into this.
I don't see any difference in the documentation and list commands used in bash script you have sent (except you have given the your own key vault name).

I am getting a new error now.  Please find below the steps I tried and let me know if I have missed anything.

My keyvault name is "himkv01" which is enabled for disk encryption. I have generat

[2018-04-24 05:11] frankfajardo commented on #5711
Nuget package for CloudConfigurationManager is Microsoft.WindowsAzure.ConfigurationManager

[2018-04-24 05:16] ksivasenthil opened #7614 "Azure ML workbench and Azure ML studio"
Azure ML Studio is another product offered by you. It would have been nice if in this document you either add content or give link to separate article which compares Azure ML workbench used by Azure ML Services with Azure ML studio. The article should also give guidance towards which to approach to use in different scenarios.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2018-04-24 05:33] arjun-hareendran opened #7615 "Postgre with SSL"
Does Data factory support Postgre with SSL enabled ?  included the below in connection string but seems like it doesn't work
ssl=true;sslmode=prefer

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 79c3f263-04ba-ea60-1927-c2fedde96d61
* Version Independent ID: fe35a13a-a960-9a50-1b89-aa79abe514b9
* Content: [Copy data fr

[2018-04-24 05:39] slavizh opened #7616 "Collection frequency for Agent Health Linux machines is 5 minutes"
Collection frequency for Agent Health Linux machines is 5 minutes

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f054a0ea-fe3e-2460-e0c8-bf6475040fed
* Version Independent ID: ce7a1b1d-9e00-c02d-a394-aaf1293e2e0d
* Content: [Data collection details for management solutions in Azure](https://docs.microsoft.com/en-us/azu

[2018-04-24 05:42] slavizh opened #7617 "Change tracking frequency depends on the type"
Change tracking frequency depends on the type. None of the types is actually hourly. See https://docs.microsoft.com/en-us/azure/automation/automation-change-tracking

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f054a0ea-fe3e-2460-e0c8-bf6475040fed
* Version Independent ID: ce7a1b1d-9e00-c02d-a394-aaf1293e2e0d
* Conte

[2018-04-24 05:43] mrgrumpy83 opened #7618 "Mistake in step 14.f"
14.f instructs you to add the 'Setup SAML Single Sign-on' role but this doesn't seem to allow login.
Direction from Netsuite states that this should be 'SAML Single Sign-on' with  'Single Sign-on Only' unticked.

The configuration suggested here works fine.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f6e5ca67-5719-9

[2018-04-24 05:44] slavizh opened #7619 "Azure SQL Analytics (Preview) should be on notification as it is using Azure Monitor"
Azure SQL Analytics (Preview) should be on notification as it is using Azure Monitor

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f054a0ea-fe3e-2460-e0c8-bf6475040fed
* Version Independent ID: ce7a1b1d-9e00-c02d-a394-aaf1293e2e0d
* Content: [Data collection details for management solutions in Azure](https://docs.micr

[2018-04-24 05:45] slavizh opened #7620 "Information for Backup solution should be filled as now there is solution"
Information for Backup solution should be filled as now there is solution. See https://azure.microsoft.com/en-us/blog/oms-monitoring-solution-for-azure-backup-using-azure-log-analytics/ it is on notification.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f054a0ea-fe3e-2460-e0c8-bf6475040fed
* Version Independent ID: c

[2018-04-24 05:54] slavizh opened #7621 "The installation path and the path to the PS module is not correct"
The installation path and the path to the PS module is not correct. The correct path is: C:\Program Files\OMS Gateway\PowerShell\OmsGateway

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 71e2c183-5b23-45ab-9d16-3931ff911e29
* Version Independent ID: bb62a149-8569-4cae-b86c-74546e84759c
* Content: [Connect computers by

[2018-04-24 06:13] frankfajardo commented on #5711
The example here fails with this exception: `Unable to load DLL 'fusion.dll'`.
As alternative, the example given by @SaadMarwan [here](https://github.com/Azure/azure-sdk-for-net/issues/4010) for getting a `CloudStorageAccount` instance works.

[2018-04-24 06:13] dcbrown16 opened #7622 "Japanese error"
Under "Configuration for deployment slots" there is a translation error.
Current: 接続設定 (スロット固有として構成可能)
Correct: 接続文字列 (スロット固有として構成可能)
(it says "connection settings" instead of "connection strings")

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49f5ea0e-d951-7e7f-142e-3509b2ec5eda
* Version Independent ID: eea6bd7f-879

[2018-04-24 07:27] rayne-wiselman commented on #7596
@sandormakai. Hi, thanks for your feedback. The article on which you opened the issue is correct. You can use Azure ExpressRoute with public peering for replication to Azure.  In order for us to update the documentation, can you let us know where you have seen information that contradicts this, as you mentioned below...

"Because the documentation isn't consistent. Here you say it needs to be Publ

[2018-04-24 07:30] rayne-wiselman commented on #7428
Hi @ashutosh95. We'd really like to get details of the documentation you think is confusing. We won't be able to fix without this information.. Please feel fix to send feedback on the article that you think needs fixing.

Thanks
Rayne

#please-close

[2018-04-24 07:35] roartn commented on #7423
@femsulu Any luck with this issue?

[2018-04-24 07:46] forktrucka commented on #6609
should this work from Azure CLI? I'm getting this error from Azure CLI

[2018-04-24 07:48] forktrucka commented on #6609
actually don't worry. i'm an egg.

[2018-04-24 08:07] nsoneji commented on #7342
We are working on it and will be updated soon.

[2018-04-24 08:15] femsulu commented on #7423
sorry for the delay, I have escalated this issue and will provide an update in a few hours.

[2018-04-24 08:42] mayanknayar commented on #7596
@sandormakai Thank you for the feedback. You are correct. ExpressRoute now supports using Microsoft peering with route filters for Azure PaaS services, such as Azure storage. We're working on a series of documentation updates on Networking for ASR, and will update this FAQ as well with the new information on ExpressRoute usage.

[2018-04-24 08:53] MartinNr5 commented on #7433
@trinadhkotturu - please see case number 118041818026025 for more information on why those rights you mention didn't work for me. The support engineer added a number of rights but in the end the final resolution was to add the respective rights you mention to the respective resource groups.

Let me know if you want to set up a remote session or similar to see this issue in our environment.

[2018-04-24 08:57] niceysj opened #7623 "Can I use next secnario?"
We are distributors CSP tier2 and Cloud Service Provider business.
We are trying to install AzureStack an identity provider with ADFS.
Connected Scenarios -> ADFS ID Provider -> Consumption based billing

In this case, I wonder how multi tenant can be activated and charged.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2018-04-24 09:12] Nilis312 commented on #7425
Its not the case-sensitive part. For me the command only worked when I had the parameter /I outside of the quotes.

[2018-04-24 09:13] Rachitgupta1994 opened #7624 "Localhost port url"
Hi. I tried to create a SF app of my own and the same localhost port worked there as well. I am sure i didn't specify this. So how come this worked perfectly in my app as well? Also what should i return when i publish it to Azure. Kindly help me with these.
Continuation to https://github.com/MicrosoftDocs/azure-docs/issues/7482 as i couldn't re open it
---
#### Document Details

⚠ *Do not edit thi

[2018-04-24 09:23] HDYA opened #7625 "Sample codes in "4. Add an HTTP filter" of "Get started with Application Insights in a Java web project" should be updated"
Import in line 5, org.springframework.boot.context.embedded.FilterRegistrationBean has been moved to package org.springframework.boot.web.servlet.FilterRegistrationBean

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a77e0c01-0e11-78a8-b239-edcb9832521a
* Version Independent ID: 6337009e-f567-3f5c-3bf2-187060f4e8de
* Co

[2018-04-24 09:23] Adjong opened #7626 "Login to Azure Stack"
When using the latest Powershell modules the connect-AzureRMAccount does not seem to work anymore (Connect-AzureRmAccount : The term 'Connect-AzureRmAccount' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path was included, verify that the path is correct and try again.)

Instead use the Login-AzureRMAccount to logon.

[2018-04-24 09:24] jucchytil opened #7627 "Please sort Table 1"
There appears to be a duplicate for Japan in Table 1. Perhaps sorting Table 1 by Geography may spot other duplicates.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09a788e4-0130-73f2-d985-6fc3aec77974
* Version Independent ID: a9f4ec3f-f0a3-b050-020b-f487c74c5179
* Content: [Business continuity and disaster recovery (

[2018-04-24 09:52] pekkaar commented on #7226
@Mike-Ubezzi-MSFT are you able to feedback on the progress of this ticket? Namely, to answer the question on what is the supported method to call a user defined function in a remote database in Azure SQL (both scalar and table-valued) ? Thanks!

[2018-04-24 09:54] genlin commented on #7374
@ewitkowski Thanks for the feedback. I add this information into the article.

[2018-04-24 09:57] v-viinde commented on #7509
Hi @prestoncooper @jeevansd Before you can Test single sign-on, You have to ask Clever support to enable Office 365 SSO in the back end.
-- Do we have to mention this in the pre-requisites section or in the Configure Azure AD single sign-on section where are setting the SSO config URLs

-- Intially in the your tutorial, we were sending both the metadata XML as well as the metadata URL. Ideally onl

[2018-04-24 10:26] Anmolgan81 opened #7628 "What about the Endpoint?"
Do Endpoint support move, I cannot find that in this document anywhere?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76c1c185-685f-27e0-e634-844b510b1834
* Version Independent ID: 09375778-5354-ab44-c5c6-94c2aebe34bc
* Content: [Move Azure resources to new subscription or resource group](https://docs.microsoft.com/en

[2018-04-24 12:13] jimdial commented on #7374
#please-close

[2018-04-24 12:43] prasdeva commented on #6092
@cephalin Thanks for pointing this out. I didn't realise that, there could be differences in Windows and Linux runtime.

does that mean Linux python web apps will not be supported on Azure ?

[2018-04-24 12:44] bwren commented on #7254
@ShaunInIdaho Thanks for this.  We're changing over alerts content to the new experience, so this article is going to be rewritten soon.  I just removed the link for now.

[2018-04-24 12:46] cephalin commented on #6092
App Service on Linux uses container technology, so you can run python web apps in a custom image/container. See https://docs.microsoft.com/en-us/azure/app-service/containers/tutorial-docker-python-postgresql-app. the `list-runtimes` command shows you all available built-in images, which doesn't contain a python image at the moment.

[2018-04-24 12:52] bwren commented on #7254
#please-close

[2018-04-24 12:54] bsiva commented on #6934
#in-progress

@medavamshi Thanks for reporting this. We'll get this fixed.

[2018-04-24 12:56] bsiva commented on #6934
#in-progress

[2018-04-24 13:15] danmyhre commented on #7566
It is okay, not easy to find from this page.  Perhaps add an example to this page or link to the page you referenced.  That page also needs an ARMClient example.  Thanks!

[2018-04-24 13:33] tfurstms opened #7630 "Roles not managed in PIM"
As of 4/24/18, this section lists Exchange Online or SharePoint Online roles as not represented in Azure AD and so are not visible in PIM.  Exchange and SharePoint are showing across multiple tenants. Can you update the documentation to reflect - Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf1a1d2f-6f7f-e

[2018-04-24 13:37] Anmolgan81 opened #7631 "Does SUSE 12 supported for ASR Migration?"
Is SUSE 12 Is supported for ASR Migration??
And what about the BTRFS File system.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34d0f2df-de85-c6ab-eb01-f8e028b7f108
* Version Independent ID: 5acb187c-f280-5c7d-14fc-7f07160cd50b
* Content: [Azure Site Recovery support matrix for replicating from Azure to Azure](https:/

[2018-04-24 13:38] cokobware opened #7632 "Does not provide guidance for .NET Standard 2.0"
I was following this documentation, which is quite good, and I ran into a roadblock when compiling and testing. .NET Standard 2.0 projects are not supported in the Microsoft.Azure.CosmosDB.Table NuGet package! It's maximum that is supported is .NET Framework 4.6.1. This is very frustrating when you want to build modern apps and can't because the "modern" tools are not upgraded. Please consider ret

[2018-04-24 13:42] DCtheGeek commented on #7566
The link to Policy Templates is in the left-hand Table of Contents under Samples and links to this (and many many others).  If we added something to the Policy Templates, would that have helped you locate this content faster?  And we are looking at the ARMClient example request!

[2018-04-24 13:44] whytoe opened #7633 "Cmdlet doesnt exist"
Get-AzureRMAuthorizationChangeLog doesnt exist, in the link to this cmdlet people are also commenting that it doesnt exist, their voice has gone unanswered

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64d6e1e4-920b-bd7c-6c26-3ae9d311f447
* Version Independent ID: 67798f25-4fb7-cc10-d0c7-229dedd75a3a
* Content: [Acces

[2018-04-24 14:06] bsiva commented on #6934
#please-close

[2018-04-24 14:10] jrochet opened #7634 "Potential error in rules for "Block legacy traffic from anywhere""
It seems to me as though if Rule 1 and Rule 3 were removed, you'd be accomplishing the same thing.  Or, if you got rid of Rule 3, and for Rule 1 make the condition be InsideCorporateNetwork's value is either true or false (rather than just true), you'd again be accomplishing the same thing.

Or am I mistaken and those 3 rules make sense as they are for accomplishing "Block legacy traffic from anyw

[2018-04-24 14:14] chadc commented on #6866
@WhippsP I appreciate the response -- I checked the AppIDs and they are correct.  I modified the userjourney such that the the first orchestration step look like this:

<ClaimsProviderSelection ValidationClaimsExchangeId="LocalAccountSigninUsernameExchange" />

rather than what's in the SO post:

<ClaimsProviderSelection ValidationClaimsExchangeId="LocalAccountSigninEmailExchange" />

At least now

[2018-04-24 14:14] bsiva commented on #7290
@imartinez2 , thanks for the comment. the s2.exe process itself id spawned by the svagent.exe/VxAgent service (which also is the service whose heartbeat is measured on the Configuration server based on a periodic heartbeat message the service exchanges with the Configuration server.) In any case, glad to know that you were able to resolve the issue you were running into, albeit using a somewhat un

[2018-04-24 14:14] bsiva commented on #7290
#in-progress

[2018-04-24 14:27] rich-davies opened #7635 "JSON Schema?"
Where can I find details of the schema used for these notifications?  Ideally I'd like a LogicApp to trigger an email to XXX to say that lab YYY has exceeded threshold ZZZ

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22bcb6aa-39f9-1367-9457-b7da629b47b8
* Version Independent ID: 3652b393-a854-041c-e1c2-78e971ffd80e
*

[2018-04-24 14:34] medavamshi commented on #6934
Awesome. thank you. Appreciate your quick response siva.

[2018-04-24 14:55] vancourse commented on #7456
Matt,
After reviewing the link above, turns out that we need to use Access Tokens in this approach..
Would you happen to have an example wherein I can store a reference to KV/ConnectionStringSecret directly in ConnectionString - and have AppSvc retrieve the value directly?

[2018-04-24 15:04] wesleykirkland opened #7637 "Add EmployeeID as synced Attribute"
In the default config employeeID is synced under a default rule now.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b34cbe8c-b574-7e53-d070-d771a7116948
* Version Independent ID: e433a3fe-815d-f0c2-3418-cb99447596c7
* Content: [Attributes synchronized by Azure AD Connect](https://docs.microsoft.com/en-us/azure/active-d

[2018-04-24 15:10] johannesboon commented on #7418
Thank you for your answer. As we have our own applications (and some Open Source) that we host in Azure we had hoped that there was an option like the backup option in the upstream section in NGINX or HAProxy that defines some servers to be only used once all the normal (non-backup) servers are in failed state.

[2018-04-24 15:19] raulhmacias commented on #7595
I just checked and it's now working; thanks!

[2018-04-24 15:19] #7595 closed

[2018-04-24 15:20] russ4stall opened #7638 "Provisioning documentation?"
There is an option in this app to add provisioning functionality, though, I can't get it to work. Is there any documentation on the auto-provisioning?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d426f917-0efe-62f7-4a93-320c2e33343b
* Version Independent ID: 9d02123b-23ab-4eb5-b315-5c2e685c245d
* Content: [Tutorial:

[2018-04-24 15:22] gilherau opened #7639 "typo"
Please correct "Service Principle" to be "Service Principal".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4617d07d-6e59-43af-6652-6409298f0957
* Version Independent ID: c9681b64-9af4-c627-925a-6ccd8aa59607
* Content: [Add a service principle to Azure Analysis Services server admin role](https://docs.microsoft.com/en

[2018-04-24 15:40] Mike-Ubezzi-MSFT commented on #7632
@cokobware Thank you for the feedback. I want to make you aware of the User Voice feedback thread regarding Cosmos DB: [Netstandard 2.0 - Need .NETStandard 2.0 support as soon as possible to host in .Net CORE 2.0 project please](https://feedback.azure.com/forums/263030-azure-cosmos-db/suggestions/32109775-netstandard-2-0). If you haven't already, please vote for this to communicate to the product

[2018-04-24 15:47] teatee808 commented on #5953
Hi @carvakas, I successfully did this by using manual provisioning and app registration manifest editing. This blog post describes it with some details. Let me know if this worked for you.
https://www.cloudreach.com/blog/multi-aws-account-federation-microsoft-azure-ad/

[2018-04-24 15:49] vancourse opened #7640 "How to use Key Vault reference for Connection String?"
Scenario: Using PS and KV - I can generate a connection string on the fly and store it in KV.
Question: How can I have my WebApp's connection-string setting to have a reference to this secret?

What I tried: Using ARM linked templates, I have been able to retrieve the reference to the secret ; but it gets de-referenced while setting in WebApp-ConnectionString-Settings  ( i.e. Connection String set

[2018-04-24 15:50] russ4stall opened #7641 "Invalid Credentials"
I have an Cornerstone user with full admin privileges, however when I test the connection I'm still getting an Invalid Credentials error. Are there specific security permissions this user needs to have? (Even though the user I'm using is System Admin and should already have all permissions.)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2018-04-24 15:55] dhaval24 commented on #7625
@HDYA this seems to be correct from SpringBoot version 2.0.1 and onwards. However, there might be users who are still not on this version as it is pretty new. I think we should have a note at the end regarding the correct location of this class for different versions of Spring.

[2018-04-24 16:09] CeciAc commented on #7259
Hello, @KeiroKamioka0000

Your feedback is much appreciated.
Since your comments are specific to the localization of the documentation, we have moved this issue to the corresponding localization repository and we will close this one.

Please review the status of this issue here https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/504

Kind regards,
Microsoft DOCS International Team

[2018-04-24 16:15] barclayn commented on #6810
@MohitGargMSFT I already fixed this through the private repo. How do we close this?

[2018-04-24 16:18] Gaurav8032 opened #7642 "Postgre with enforced SSL"
No support available for Postgre with enforced SSL activity. Documentation also doesnt talks about it, wish if this can be updated with same.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 79c3f263-04ba-ea60-1927-c2fedde96d61
* Version Independent ID: fe35a13a-a960-9a50-1b89-aa79abe514b9
* Content: [Copy data from Azur

[2018-04-24 16:25] conterio opened #7643 "Getting Error"
I'm following the document exactly but when I open the HTML in the browser i'm getting an error related to AzureStorage object

index.html:21 Uncaught TypeError: Cannot read property 'createBlobServiceWithSas' of undefined
    at index.html:21

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72c5a4a6-88f2-c2a5-f459-c3f24

[2018-04-24 16:29] MicahMcKittrick-MSFT commented on #7613
@SilicusShraddha Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-24 16:30] MicahMcKittrick-MSFT commented on #7624
Duplicate of #7482

@Rachitgupta1994 I will close this out and we can continue on your original post.

[2018-04-24 16:30] #7624 closed

[2018-04-24 16:32] MicahMcKittrick-MSFT commented on #7482
@rwike77 can you share some additional details on this?

[2018-04-24 16:33] MicahMcKittrick-MSFT commented on #7495
Thanks @rwike77 for the clarification.

@GopiMtp Please open that issue as requested and feel free to link it to this issue.

I will close this one out for now.

[2018-04-24 16:33] #7495 closed

[2018-04-24 16:34] Rich-Lang opened #7644 "Run the sample Step 3 showing up wrong in browsers"
Under the heading Run the Sample, Step 3 indicates to run two commands.  On my machine on each browser, the commands appear on a single line as: npm install && npm update node index.js.  It is of course supposed to be two lines
- npm install && npm update
- node index.js
The markup in GitHub appears to be correct and even renders correctly on GitHub website.

---
#### Document Details

⚠ *Do not e

[2018-04-24 16:37] CeciAc commented on #6270
Hi all,
This doesn't look like a localization issue.
None of the mentioned items can be found neither the localized version nor the source pages:
/containerServices/subscriptions/read
/containerServices/resourceGroups/read

Please check on your side if this repro and confirm if we can close this issue.

Kind regards,
Microsoft DOCS International Team

[2018-04-24 16:38] thuansoldier commented on #7534
@MicahMcKittrick-MSFT & @bandersmsft  I've found the reference here https://docs.microsoft.com/en-us/azure/virtual-machines/windows/policy it would be better to give the article in Azure Policy a reference to VM policy so people can understand the scenario in which an enterprise needs to build managed image, store in a resource group and the policy needs to retrieve those images from a given resou

[2018-04-24 16:41] vancourse opened #7645 "SQL Connection string in WebApp using Key Vault / MSI"
Scenario: Using Powershell scripts - I can generate a sql connection string on the fly and store it in KVey Vault
Question: How can I have my WebApp's connection-string setting to have a reference to this secret?

What I tried: Using ARM linked templates, I have been able to retrieve the reference to the secret ; but it gets de-referenced while setting in WebApp-ConnectionString-Settings  ( i.e. C

[2018-04-24 16:41] thuansoldier commented on #7535
@roldengarm  You need to make sure the tier is Standard to use compliance evaluation. As far as I know, depending on number of resources, the duration may vary. When you make an assignment, the delta scan is executed immediately.

[2018-04-24 16:42] kobulloc-MSFT commented on #7635
@rich-davies Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-04-24 16:48] ryanabr commented on #6951
Is the ability to add log alerts available yet via PowerShell or ARM template? I have spent some time searching for information and not finding it.

[2018-04-24 16:49] MicahMcKittrick-MSFT commented on #7552
@hprashar I also seem to be having issues deploying this script.

@iainfoulds can you take a look and verify if it is still working as described in the doc?

[2018-04-24 16:49] alkohli commented on #7569
@jdpetersen This enhancement was addressed by this PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/38773 that was merged and the content should go live today.
#please-close

[2018-04-24 16:51] CeciAc commented on #5797
Hello, @yararl0306,

Your feedback is much appreciated.
Since your comments are specific to the localization of the documentation, we have moved this issue to the corresponding localization repository and we will close this one.

Please review the status of this issue here https://github.com/MicrosoftDocs/azure-docs.pt-br/issues/93.

Kind regards,
Microsoft DOCS International Team

[2018-04-24 16:58] BryanTrach-MSFT commented on #7610
@dcbrown16 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@cephalin The portal UI was recently updated to allow customers to force HTTPS in multiple areas. Can you please review the feedback and update the doc as necessary?

[2018-04-24 16:58] CeciAc commented on #5683
Hello, @shirosan322
Your feedback is much appreciated.
Since your comments are specific to the localization of the documentation, we have moved this issue to the corresponding localization repository and we will close this one.

Please review the status of this issue here https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/506

Kind regards,
Microsoft DOCS International Team

[2018-04-24 17:00] BryanTrach-MSFT commented on #7640
@vancourse Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-24 17:03] MarkusVi commented on #7425
Hi @Nilis312, ahhh - thanks. I have staged a fix as well.

#please-close

[2018-04-24 17:04] CeciAc commented on #5612
Hello, @dcbrown16

Your feedback is much appreciated.
Since your comments are specific to the localization of the documentation, we have moved this issue to the corresponding localization repository and we will close this one.

Please review the status of this issue here https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/507

Kind regards,
Microsoft DOCS International Team

[2018-04-24 17:06] #7254 closed

[2018-04-24 17:07] vasivara-MSFT commented on #7612
@algattik Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-04-24 17:25] jason-j-MSFT commented on #7209
@myusrn if you have not already, take a look at our forums here:
https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDataFactory&filter=alltypes&sort=lastpostdesc

I hope you join in the discussions there and perhaps also help out your fellow Data Factory users!

[2018-04-24 17:25] cynthn commented on #7554
@MicahMcKittrick-MSFT can you reassign the issue to the author @genlin ?

[2018-04-24 17:26] myusrn commented on #7209
thanks for the details, makes sense.  i'll turn to the forums you provided link to as first place for how to types of matters in future.

[2018-04-24 17:26] vasivara-MSFT commented on #7615
@arjun-hareendran Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-24 17:29] MohitGargMSFT commented on #7637
@wesleykirkland Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-24 17:31] cynthn commented on #7347
#please-close @monteledwards thanks for the feedback! Unfortunately, the B-series is variable, so it doesn't make sense to publish networking numbers that may not always be accurate.

[2018-04-24 17:33] vasivara-MSFT commented on #7616
@slavizh Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-24 17:33] MohitGargMSFT commented on #7638
@russ4stall Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-24 17:33] rolyon commented on #7266
Thanks for the feedback. I've made some updates to this article. Hopefully these updates help.
https://docs.microsoft.com/en-us/azure/role-based-access-control/change-history-report
#please-close

[2018-04-24 17:35] cynthn commented on #6701
@MicahMcKittrick-MSFT can you remove the virtual-machines-windows tag and replace it with storage? @aungoo-msft is on the storage team and this will get more visibility if it is in their queue. Thanks!

[2018-04-24 17:35] MohitGargMSFT commented on #7641
@russ4stall Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-24 17:37] #7347 closed

[2018-04-24 17:37] MohitGargMSFT commented on #7644
@Rich-Lang Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-24 17:37] #7266 closed

[2018-04-24 17:38] MohitGargMSFT commented on #7645
@vancourse Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-24 17:43] MicahMcKittrick-MSFT commented on #6701
Thanks @cynthn. I need to keep the VM tag as it is related to the doc. But I added storage as well.

[2018-04-24 17:44] teatee808 commented on #5953
@jeevansd thanks for updating, could you please clarify why is the App registration method not preferred? Results seem consistent in both cases. Thank you!

[2018-04-24 17:45] jeevansd commented on #5953
@teatee808 In the future we may merge Enterprise Apps and App Registration together into one. So use Graph and not App Registration to make the changes to manifest.

[2018-04-24 17:46] jeevansd commented on #5953
#please-close

[2018-04-24 17:48] vasivara-MSFT commented on #7614
@ksivasenthil Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-04-24 17:50] #5797 closed

[2018-04-24 17:50] vasivara-MSFT commented on #7617
@slavizh Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-24 17:52] vasivara-MSFT commented on #7619
@slavizh Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-24 17:54] vasivara-MSFT commented on #7620
@slavizh Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-24 17:55] CeciAc commented on #5286
Hi All,
The en-us  (04/16/2018) page version is much recent than the localized version (2017/03/28).
Shouldn't we check if this this issue repros after the new localized version is released?

[2018-04-24 17:58] vasivara-MSFT commented on #7621
@slavizh Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-04-24 18:00] vasivara-MSFT commented on #7642
@Gaurav8032 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-04-24 18:05] Mike-Ubezzi-MSFT commented on #7350
@yuharucan We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-24 18:05] #7350 closed

[2018-04-24 18:06] vasivara-MSFT commented on #6934
@medavamshi We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-24 18:06] #6934 closed

[2018-04-24 18:06] Mike-Ubezzi-MSFT commented on #7445
@rashaadfontenot We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-24 18:06] #7445 closed

[2018-04-24 18:06] rhizohm commented on #7399
@BryanTrach-MSFT great thanks for clarifying.

What you said below seems to contradict the docs, unless I'm misunderstanding. The docs say "Scaling is not available for non-production slots." but from what you are saying, any slots for my container are run in the same VM/Web Worker/App Service plan. So, if I were to scale up/out, wouldn't all of the containers experience the benefits of that scale

[2018-04-24 18:07] jrochet opened #7648 "Link in "Next steps" section goes to empty page"
"Cloud Service Fundamentals in Microsoft Azure. A comprehensive sample demonstrating a wide range of best practices, produced by the Microsoft Patterns and Practices group"
The page that is linked to the first sentence is an empty page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8cc8f1b2-fa7a-6772-e534-9f91b37106e7

[2018-04-24 18:08] vasivara-MSFT commented on #7569
@alkohli We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-24 18:08] #7569 closed

[2018-04-24 18:08] Adam-Smith-MSFT commented on #7631
@Anmolgan81  according to the support link: https://docs.microsoft.com/en-us/azure/site-recovery/vmware-physical-azure-support-matrix , it only supports: SUSE Linux Enterprise Server 11 SP3, SUSE Linux Enterprise Server 11 SP4  , I will add the author as well to confirm if this is up to date. @sujayt  Can you confirm if this is the case ?

[2018-04-24 18:09] vasivara-MSFT commented on #7081
@Michal-Ziemba We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-24 18:09] #7081 closed

[2018-04-24 18:11] vasivara-MSFT commented on #7240
@danmyhre We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-24 18:11] #7240 closed

[2018-04-24 18:12] vasivara-MSFT commented on #7373
@cloudmelon We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-24 18:12] #7373 closed

[2018-04-24 18:12] Anmolgan81 commented on #7631
I am trying to migrate a suse 12 os in azure, can you confirm if Azure supports suse 12??
I have uploaded the suse 12 os disk from vm ware to azure but am not able to boot the vm, is suse 12 is supported by azure?? This also uses BTRFS file system

[2018-04-24 18:12] vasivara-MSFT commented on #7374
@ewitkowski We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-24 18:12] #7374 closed

[2018-04-24 18:13] vasivara-MSFT commented on #7420
@cpressland We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-24 18:13] #7420 closed

[2018-04-24 18:13] adamgourd opened #7649 "Add step for creating vNet Gateway"
Step 1 has you validate the ExpressRoute circuit. Step 2 then reads, "You can now start provisioning a connection to link your virtual network gateway to your ExpressRoute circuit. Click Connection > Add to open the Add connection page, and then configure the values.". Should a step 1.5 be added to prescribe setting up a vNet gateway?

---
#### Document Details

⚠ *Do not edit this section. It is

[2018-04-24 18:14] vasivara-MSFT commented on #7425
@Nilis312 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-24 18:14] #7425 closed

[2018-04-24 18:14] femsulu commented on #7479
@dmitriyteteruk We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-24 18:15] vasivara-MSFT commented on #7428
@ashutosh95 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-24 18:15] #7428 closed

[2018-04-24 18:16] vasivara-MSFT commented on #7479
@dmitriyteteruk We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-24 18:16] #7479 closed

[2018-04-24 18:17] vasivara-MSFT commented on #7568
@danmyhre We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-24 18:17] #7568 closed

[2018-04-24 18:24] carmonmills commented on #7423
@cwatson-cat any chance you could help get traction on this GH issue?  It's been floating around and hoping your work with the Billing and portal teams would help drive this to resolution.
@femsulu let's see if Cat can assist. I'll circle with author in a separate mail too.

[2018-04-24 18:25] tonybendis opened #7650 ""The key vault can exist in a different subscription than the resource group you are deploying to." may be incorrect."
When the VM subscription is not the same as the Key Vault's subscription , we get error "The SubscriptionId: ... of the request must match the SubscriptionId ... contained in the Key Vault Id".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70505efb-d7ac-0dbc-6b57-2ce6a2a78ef2
* Version Independent ID: 0d5a06ac-190e-78

[2018-04-24 18:26] cloudmelon commented on #7373
Ok. Thank you :)

Melony Qin

[2018-04-24 18:28] cherylmc commented on #7649
Hi @adamgourd! We do have it in the prereq that you must already have a virtual network gateway created and fully provisioned. There is a link to the steps in the "Before you begin" section. Do the steps get you to where you need to be, or have I missed adding something in?

[2018-04-24 18:30] Anmolgan81 commented on #7628
The CDN endpoints do they support move??
What about the av test??

[2018-04-24 18:30] #7628 closed

[2018-04-24 18:30] vasivara-MSFT commented on #7611
@tienhv we need the document metadata reference to understand what documentation you are following and facing the issue. I will close this issue for now, but if this error is part of following a document from docs.microsoft.com, please reopen a ticket with that reference, otherwise please post the question in our MSDN forum.

[2018-04-24 18:30] #7611 closed

[2018-04-24 18:38] JeremyTBradshaw opened #7651 "Temporal vs Temporary"
"What happens when a zone becomes unavailable?
Your data will remain resilient if a zone becomes unavailable. Microsoft recommends that you continue to follow practices for transient fault handling, such as implementing retry policies with exponential back-off. When a zone is unavailable, Azure undertakes networking updates, such as DNS repointing. These updates may affect your application if you

[2018-04-24 19:02] vasivara-MSFT commented on #7639
@gilherau Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-04-24 19:12] vasivara-MSFT commented on #7623
@niceysj Please take a look at this [document](https://docs.microsoft.com/en-us/azure/azure-stack/azure-stack-enable-multitenancy). It talks about how to enable multi-tenancy in azure stack.

[2018-04-24 19:14] vasivara-MSFT commented on #7598
@spsandran We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-24 19:14] #7598 closed

[2018-04-24 19:16] Rich-Lang opened #7653 "WebApi URL in Index.html is dynamic"
In the step for Configure the single page app, we are instructed to update the webApi variable to http://localhost:58553/api/values which is intended to be the address of the WebAPI configured in "Configure the web API".   The problem stems from the fact that this port number is stored in the launchSettings.json file under the Properties folder.  The gitignore file of the repository (https://githu

[2018-04-24 19:17] vasivara-MSFT commented on #7616
@slavizh Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-04-24 19:17] chetansriv commented on #7477
@andrewjsilcock - Your app supports SP initiated SSO where in ACS (Reply) URL is being passed in your SAML request (you should not have Reply URL mandatory in this case). Your reference document suggested that you configured the app in IDP initiated mode where you need Reply URL to be mandatory. Can you please confirm if your app supports both SP and IDP mode as this would require the redeployment

[2018-04-24 19:26] mganeshphani opened #7654 "Enable Access to Other Azure services"
It would be great to have following information embedded here.. Start IP: 0.0.0.0 and End IP: 0.0.0.0 will enable access of server to other Azure services
https://github.com/MicrosoftDocs/azure-docs/issues/6186

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3943cb2e-ed20-044d-d78f-19280ebc23da
* Version Independent ID:

[2018-04-24 19:28] MohitGargMSFT commented on #7530
@jonnyleigh We will now proceed to close this thread. If there are further questions, please open a new issue and we will gladly continue the discussion.

[2018-04-24 19:28] #7530 closed

[2018-04-24 19:28] BryanTrach-MSFT commented on #7399
@rhizohm I think this document might need some clarity regarding this statement. By saying, "Scaling is not available for non-production slots." it used to be that you could only scale the app service plan on the parent app and both the scale out and scale up blades were grayed out. That was back in 2016 and the platform/scaling has received UI enhancements that allow you to edit the App Service P

[2018-04-24 19:28] vasivara-MSFT commented on #7615
@arjun-hareendran I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-04-24 19:30] MohitGargMSFT commented on #7564
@rh1701 We will now proceed to close this thread. As stated please open MSDN thread and mention the link here so that I can ensure that the necessary help is provided.

[2018-04-24 19:30] #7564 closed

[2018-04-24 19:30] mganeshphani opened #7655 "A reference to different scenarios of ARM Templates would help"
This feedback is for generic implementation across the services in Azure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c14be959-8179-60ec-74a9-bf9f2a45aaab
* Version Independent ID: 5926fd18-6fa0-30db-1dce-6a0aff4ac3c9
* Content: [Overview of Azure Database for MySQL relational database service](https://docs.microsof

[2018-04-24 19:34] MicahMcKittrick-MSFT commented on #7648
@jrochet Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-24 19:35] SnehaGunda commented on #7529
@michaelkruglos can you please elaborate? currently, the doc only shows how to use GET operation on the database, collection. Are you interested in the .Net code for other operations?

[2018-04-24 19:41] SnehaGunda commented on #7411
@xtianus79 the topic is now redirected and pointing to the right content. We will close this issue now if you have any additional questions feel free to reopen or create a new one.

[2018-04-24 19:41] SnehaGunda commented on #7411
#please-close

[2018-04-24 19:42] danmyhre commented on #7566
It is more so that the page that is specifically for programmatic deployment doesn't have examples of each type of deployment.  It has the policy definition steps, but not the policy set definition steps using the various methods - PowerShell, ArmClient, CLI

[2018-04-24 19:42] ajlam commented on #7655
Hi @mganeshphani, thanks for the feedback! We have been tracking this item on UserVoice: https://feedback.azure.com/forums/597982-azure-database-for-mysql/suggestions/19581562-arm-template-for-mysql

Can you please upvote there? We are working on making the new ARM templates available and will provide updates via UserVoice.

[2018-04-24 19:46] #7518 closed

[2018-04-24 19:54] Rich-Lang opened #7657 "Call API Endpoint Down / Not Responding"
In the step Access a protected web API resource, the Call API button calls out to: https://fabrikamb2chello.azurewebsites.net/hello   This URL does not response or hangs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4fd63eb6-21cc-a68b-a514-67f12566c476
* Version Independent ID: 0c41a395-dfe1-7db3-d592-70c1b7cec724
*

[2018-04-24 19:55] Mike-Ubezzi-MSFT commented on #7467
@yoshihirok We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-24 19:55] #7467 closed

[2018-04-24 19:58] Rich-Lang commented on #7657
This issue also is impacting the "Single Page" quickstart.

[2018-04-24 20:03] Sara-Nicolini commented on #7622
@BryanTrach-MSFT, pleaae assign loc issues to @DavidPrio

[2018-04-24 20:03] MohitGargMSFT commented on #7581
@argrithmag There are multiple samples being published related to Azure AD B2C. Refer to below link to find list of samples and check which one will help with your requirement -

https://docs.microsoft.com/en-us/azure/active-directory-b2c/code-samples

You can add the identity provider based on your requirement. You can refer to below document and check left side of reference related document tree

[2018-04-24 20:05] jgdolph commented on #5953
@jeevansd Thanks so much!!!

[2018-04-24 20:06] jeevansd commented on #7509
@v-viinde and @prestoncooper  Please mention this in the SSO Configuration on the app side section.
Before you can Test single sign-on, You have to ask Clever support to enable Office 365 SSO in the back end.

We suggest to use the Federation Metadata XML URL as far as possible. I think Clever does support auto rollover of the certificate if the URL is provides. Please correct me if I am wrong her

[2018-04-24 20:09] davidrosetds opened #7658 "Is it posable to block this functionality"
Is there a way for corporate users of the Authenticator app to block the back up functionality.  With Intune we area able to block the backup of corporate data to iCloud as it may not be a corporate owned device or iCloud account.   Can we block users from using the back up feature in iOS and Android?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2018-04-24 20:12] vasivara-MSFT commented on #7617
@slavizh Can you please elaborate your question to answer better or address your issue?

[2018-04-24 20:15] SnehaGunda commented on #7545
@Mike-Ubezzi-MSFT yes @kirillg is the right alias.

@Dawny33 which link are you referring to? is it in https://docs.microsoft.com/en-gb/azure/cosmos-db/manage-account#request-units-and-database-operations doc? can you share a screenshot of what the link you are referring to?

[2018-04-24 20:17] vasivara-MSFT commented on #7619
@slavizh I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-04-24 20:17] jason-j-MSFT commented on #7066
@mumian we have a request to provide information on the performance difference between azure blob storage and data lake storage.

[2018-04-24 20:24] Mike-Ubezzi-MSFT commented on #7513
The 'default' setting is 'On', and as you have confirmed, setting this to 'Off' will not allow any client to connect.
![screenshot 142](https://user-images.githubusercontent.com/37126106/39211903-e98af5d4-47c1-11e8-8e95-d3b2b509a5a5.png)

And without any firewall rule, the Query Editor (Preview) interface launch from the Portal does not need a firewall rule to connect.
![screenshot 143](https://us

[2018-04-24 20:28] CarlRabeler commented on #7513
FYI, cannot create firewall rule from SSMS unless you connect to Azure using an account with permission to create a firewall rule.
Carl

From: Mike Ubezzi <notifications@github.com>
Sent: Tuesday, April 24, 2018 1:25 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Carl Rabeler <Carl.Rabeler@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-d

[2018-04-24 20:29] Mike-Ubezzi-MSFT commented on #7513
@guyhorn1964 So, I wasn't sure if you were simply making a statement or if you feel there needs to be an enhancement to this document? There is no discussion of this setting unless someone makes an effort to set it to 'Off'.

[2018-04-24 20:30] DCtheGeek commented on #7566
@danmyhre Good feedback and really appreciate it.  This page is intended as more of a generic guide while the Policy Templates has numerous specific examples.  I'll look for a way to bridge them better as we update this content.

@femsulu Please convert this from doc-bug to doc-enhancement.  I've created an internal Work Item to ensure it gets handled in the next content refresh.  #please-close

[2018-04-24 20:31] jason-j-MSFT commented on #7353
@Minewiskan do you know the details of how this works?

[2018-04-24 20:35] MohitGargMSFT commented on #7592
@grizzljt Please refer two below two documents and see if any of them helps with your requirement.

[Using Azure AD for SharePoint Server Authentication](https://docs.microsoft.com/en-us/office365/enterprise/using-azure-ad-for-sharepoint-server-authentication)
[Enable remote access to SharePoint with Azure AD Application Proxy](https://docs.microsoft.com/en-us/azure/active-directory/application-pr

[2018-04-24 20:36] Mike-Ubezzi-MSFT commented on #7513
@CarlRabeler I made a note in the above comment with the screen captures, indicating that the dynamic firewall configuration from SSMS requires authenticating with an Azure subscription.

[2018-04-24 20:36] CarlRabeler commented on #7513
@guyhorn1964 I was making the statement because you point to the screenshot showing the firewall rule being set from SSMS "automatically" and I was trying to clarify

[2018-04-24 20:37] CarlRabeler commented on #7513
perfect

[2018-04-24 20:39] Minewiskan commented on #7352
@yuharucan The ability to split metrics for replica servers has not yet been checked into Azure production. There was recently some miscommunication about this out there, but as of right now, this is not yet available. Keep an eye on the blog. It's coming.
#please-close

[2018-04-24 20:39] valdearg opened #7659 "Incorrect Ubuntu distribution names and signatures"
In your instructions to install within Ubuntu you have added 14.04 as Xenial and 16.04 as Trusty. These are the opposite way around in Trusty is 14.04 and Xenial is 16.04.

The signature is also incorrect and is now EB3E94ADBE1229CF so the command should be: sudo apt-key adv --keyserver packages.microsoft.com --recv-keys EB3E94ADBE1229CF

---
#### Document Details

⚠ *Do not edit this section. It

[2018-04-24 20:42] Mike-Ubezzi-MSFT commented on #7545
@SnehaGunda I am unable to find @kirillg in the Assignees drop-down list. Something is not populating correctly but, I do see that the alias is resolving here in this comment.

[2018-04-24 20:43] jwrossi0211 opened #7660 "Scenarios referenced in "Encryption Workflow" but introduced much later in the article. They should be explained before the are referenced."
Under "Encryption workflow" - the scenarios under #2 have not been explained at that point in the article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c60e59e-b306-3b47-dcad-56a3c03de428
* Version Independent ID: 95ea9500-3d2e-6bef-a743-86e660e1ca86
* Content: [Azure Disk Encryption for Windows and Linux IaaS VMs](

[2018-04-24 20:45] MohitGargMSFT commented on #7597
@BroadArc Please open a new MSDN forum post and community will help address your query. Please refer to below link to MSDN forum to ask new question -

https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazureplatform&forum=WindowsAzureAD&prof=required

Please refer the forum thread opened here so that I ensure you are been helped on it.

[2018-04-24 20:46] Minewiskan commented on #7353
@jason-j-MSFT How to do a sync is detailed in the article. We will not go into details about how it works under the hood. If the user is having issues, they should open a support request.

[2018-04-24 20:53] Mike-Ubezzi-MSFT commented on #7654
@mganeshphani Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.
Regards,
Mike

[2018-04-24 20:59] kgeis opened #7662 "describe E.BT"
Please describe the BT field in the extended metadata.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e6e7fdc3-0631-b959-0af4-faf35d512e67
* Version Independent ID: d43cbd6a-5dd1-0e6a-70cb-252096b1b112
* Content: [Paper entity attributes in the Academic Knowledge API](https://docs.microsoft.com/en-us/azure/cognitive-se

[2018-04-24 20:59] jason-j-MSFT commented on #7390
@akking I could not replicate your issue, did you see your issue on an instance you created from the documentation?

[2018-04-24 21:02] MohitGargMSFT commented on #7601
@nrotzinger I have assigned the issue to the author to investigate and update as appropriate.

[2018-04-24 21:08] BroadArc commented on #7597
Hi Garg,

I know this is fairly new functionality, and as a Microsoft MVP, I’m going to first post it in the Enterprise Mobility - Identity and Access Family NDA DL.

I have just put through a request to join the DL, so hopefully I’ll be approved soon.

Thanks,
Allan

Allan Rafuse
Microsoft Cloud and Datacenter MVP, Microsoft Certified Solutions Expert
Principal Consultant | BroadArc Consulting In

[2018-04-24 21:08] BermudaLamb commented on #7573
I've tried this under Google Chrome and IE, both show the same subtopics under the Services topic.

[2018-04-24 21:09] colinweiner commented on #5504
Has anyone run into this error:

An error occurred while starting the application.

.NET Core 4.6.26212.01 X86 v4.0.0.0    |   Microsoft.AspNetCore.Hosting version 2.0.2-rtm-10011    |    Microsoft Windows 10.0.14393

I get it when I browse to the Azure Web App URL that I created in the tutorial.

http://colindb.azurewebsites.net

[2018-04-24 21:14] MohitGargMSFT commented on #7630
@tfurstms Please note that document states that - _"Roles within Exchange Online or SharePoint Online, **except for those mentioned above**, are not represented in Azure AD and so are not visible in PIM"_

The Exchange administrator and SharePoint administrator are listed in [Roles managed in PIM](https://docs.microsoft.com/en-us/azure/active-directory/active-directory-privileged-identity-manageme

[2018-04-24 21:15] ajamess commented on #7476
Frederik - we're looking into this - thanks!

[2018-04-24 21:16] MightyPen commented on #6285
#please-close

[2018-04-24 21:26] mumian commented on #7066
@vamaral1 Can you shoot me an email ? We need some more background information so we can help you better. My email is jgao@

[2018-04-24 21:29] olena-microsoft commented on #7658
For work accounts, we don’t actually store any credentials. The user will have to set up their account again. We just provide a bootstrapping mechanism to make it obvious to the user that they previously had the account and give instructions about how to set up again.

[2018-04-24 21:31] mattchenderson commented on #7456
@vancourse We don't have support for this, although it's an area we're exploring. Are you basically looking to use existing connection string code? I'd like to understand the concern with the access token approach.

[2018-04-24 21:34] MohitGargMSFT commented on #7634
@jrochet Please note that as stated in document, by applying the following three rules:

You enable access for: Exchange ActiveSync traffic, Browser traffic, Modern authentication traffic
You block access for: Legacy apps from any location

However, you can use combination of either these rules to achieve your requirement.

[2018-04-24 21:37] MohitGargMSFT commented on #7637
@wesleykirkland Thanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

[2018-04-24 21:43] Mike-Ubezzi-MSFT commented on #6788
@Frankwayne Are you available for a Skype Call at this time? I have @David-Noble-at-work available to look into this issue. If not now, please provide a couple times time that will fit your schedule. Thanks!

[2018-04-24 21:46] vasivara-MSFT commented on #7662
@kgeis Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-04-24 21:47] MohitGargMSFT commented on #7641
@russ4stall Thanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

[2018-04-24 21:48] vasivara-MSFT commented on #6285
@Zenocolo We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-24 21:48] #6285 closed

[2018-04-24 21:48] vasivara-MSFT commented on #7352
@yuharucan We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-24 21:48] #7352 closed

[2018-04-24 21:49] vasivara-MSFT commented on #7411
@xtianus79 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-24 21:49] #7411 closed

[2018-04-24 21:50] vasivara-MSFT commented on #7566
@danmyhre We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-24 21:50] #7566 closed

[2018-04-24 22:01] adamgourd commented on #7649
Doh! Missed it. All good!

[2018-04-24 22:03] MohitGargMSFT commented on #7644
@Rich-Lang The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out. Please let us know if there is something else that we can help you with.

[2018-04-24 22:07] jason-j-MSFT commented on #7353
@yuharucan we are closing this issue for now, please feel free to add comments as needed.

[2018-04-24 22:07] #7353 closed

[2018-04-24 22:18] #7644 closed

[2018-04-24 22:22] dbaechtel opened #7664 "Nothing Works on Azure Portal"
Nothing works like this documentation on the Azure portal.
There is no Connect-AzureRmAccount on the Azure portal.

How do I get this to work when the documenation is wrong?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1683116-76e6-ff15-aba7-54c95eabf882
* Version Independent ID: 23274e28-3e28-f4c7-d59d-57ef1c441887

[2018-04-24 22:24] iainfoulds commented on #7552
I created a PR to update the permissions set on the Key Vault with `az keyvault set-policy`, but otherwise this does work as documented:

The source doc (https://docs.microsoft.com/en-us/azure/virtual-machines/linux/encrypt-disks) shows the correct permissions set on the Key Vault, but that doesn't account for the error enabling encryption on the VM.

[2018-04-24 22:26] vancourse commented on #7456
Matthew,

I like the access token approach. However, it would mean I have to open up
different apps ( in a microservice world ) and patch each app. Moreover, I
then have to fork between the dev/localdb connectivity vs azure db
connectivity... I am trying to keep my code free of target-env-specific
code..

Since this is such a generic functionality, I was hoping that Azure has a
built-in mechanism

[2018-04-24 22:29] MohitGargMSFT commented on #7645
@vancourse You can follow this document to [Retrieve the secret on Application Start](https://docs.microsoft.com/en-us/azure/key-vault/key-vault-use-from-web-application#appstart).

However, you can use application setting of WebApp to store SQL Connection String. By default its not its hidden for view. You have permission to ensure only required users can only see and modify the connection string

[2018-04-24 22:31] MarkusVi commented on #6958
Error code 50125 is now included

[2018-04-24 22:32] MarkusVi commented on #6919
Error code 50140 is now included

[2018-04-24 22:32] MarkusVi commented on #7252
Error code 50076 is now included.

[2018-04-24 22:34] MohitGargMSFT commented on #7653
@Rich-Lang Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-24 22:36] vancourse commented on #7645
Mohit,
Appreciate your quick turnaround.I will follow your advice.

On Tue, Apr 24, 2018 at 3:29 PM, Mohit Garg <notifications@github.com>
wrote:

[2018-04-24 22:36] MohitGargMSFT commented on #7657
@Rich-Lang Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-24 22:39] MicahMcKittrick-MSFT commented on #7613
@SilicusShraddha which step are you seeing this issue? When [deploying to Azure](https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-java-maven#deploy-the-function-to-azure)?

[2018-04-24 22:41] MicahMcKittrick-MSFT commented on #7648
@jrochet thanks for this find. @Thraka can you take a look and update the link? Otherwise, I am happy to update it I would just need to know what it is you would like to have linked here.

[2018-04-24 22:42] MohitGargMSFT commented on #7660
@jwrossi0211 Thanks for your feedback! We will investigate and update as appropriate.