[2021-06-18 04:11] AshokPeddakotla-MSFT commented on #77129
<div style="font-family: &quot;segoe ui&quot;, &quot;segoe ui web (west european)&quot;, &quot;segoe ui&quot;, -apple-system, blinkmacsystemfont, roboto, &quot;helvetica neue&quot;, sans-serif; font-size: 10.5pt; color: rgb(50, 49, 48);"><div style="font-family: &quot;segoe ui&quot;, &quot;segoe ui web (west european)&quot;, &quot;segoe ui&quot;, -apple-system, blinkmacsystemfont, roboto, &quot;he

[2021-06-18 04:29] jogikalpesh commented on #77116
Thanks @JamesTran-MSFT for the quick response. You have described a scenario where both parent domain and subdomain are getting configured in same Azure AD. However in my scenario, parent domain has been configured in One azure AD, and subdomain in completely different Azure AD. See below the documentation.

![image](https://user-images.githubusercontent.com/18412205/122506228-86d91480-d01b-11eb-9

[2021-06-18 04:40] BharathNimmala-MSFT commented on #75483
@AspenForester Our sincere apologies for delay in getting back to this thread. Thanks again for bringing this to our notice and helping us improve our Azure documentation. I have raised a PR to update the document reflecting your feedback. Once the PR is reviewed and approved , changes would go live.

At this point it appears that there's no further edits or updates needed to the documentation, ot

[2021-06-18 04:40] #75483 closed

[2021-06-18 04:50] BharathNimmala-MSFT commented on #75703
@johncagle Our sincere apologies on delay in getting back to this thread. I am further reviewing this with our internal team on this, will get back to at the earliest as I get more information.

[2021-06-18 05:05] MichaelBrooks-Informatyx commented on #77047
No, I am not. You have identified the correct code sample in your request to ThomasWeiss in the thread on GitHub.

Regards,

Michael

From: Oury-MSFT ***@***.***>
Sent: Thursday, June 17, 2021 9:58 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: MichaelBrooks-Informatyx ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] "Code sample to create permission" makes no sense (#7

[2021-06-18 05:10] miqm commented on #77023
@BharathNimmala-MSFT so the naming is wrong.

[2021-06-18 05:25] HarshitaSingh-MSFT commented on #76927
Hello!
Just checking to see if you have had a chance to see the previous response.

[2021-06-18 05:38] VikasPullagura-MSFT commented on #77139
@eelliottms
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-06-18 05:38] VikasPullagura-MSFT commented on #77139
@mlearned @zr-msft
Can you please check and add your comments on this doc update request as applicable.

[2021-06-18 05:56] Sharmistha-Rai commented on #77022
Hi @2Deep2Dive - thanks for your feedback on this. We will get this piece added to our documentation.

[2021-06-18 05:56] ShaikMaheer-MSFT commented on #76925
@Golovac Thanks for the question. Github forum is dedicated for docs related issues. For any technical queries or clarifications, we encourage to utilize Microsoft Q & A platform. Kindly raise your query on [Microsoft Q&A Platform](https://docs.microsoft.com/en-us/answers/index.html)

[2021-06-18 06:00] ShaikMaheer-MSFT commented on #76955
@karthik25 Thanks for the question. Github forum is dedicated for docs related issues. For any technical queries or clarifications, we encourage to utilise Microsoft Q & A platform. Kindly raise your query on [Microsoft Q&A Platform](https://docs.microsoft.com/en-us/answers/index.html)

[2021-06-18 06:01] #77006 closed

[2021-06-18 06:33] rukasakurai opened #77144 "Why 2 VNets in "Scenario 4: On-premises traffic to private endpoints"?"
As of now the diagram for "Scenario 4: On-premises traffic to private endpoints" shows 2 VNets with VNet peering.
I am trying to understand why there are/needs to be 2 VNets for the described scenario.
It might be would be good to either a) clarify why there are 2 VNets in this scenario titled "On-premises traffic to private endpoints", or b) update the design so that it uses 1 VNet.

Link to the

[2021-06-18 06:46] JackCaster commented on #77089
I tried many times with no luck. The pipeline is working per se as I can triggered it manually and it terminates without errors. I don’t know why the schedule it is not working. Is it possible to get a more detailed error message/log?

[2021-06-18 07:10] SnehaAgrawal-MSFT commented on #76907
@tnsholding Thanks for asking question If I am understanding right you are referring to [this document here,](https://docs.microsoft.com/en-us/azure/static-web-apps/user-information?tabs=javascript#direct-access-endpoint) and wants to know how to access the other claims of the user.

[2021-06-18 07:21] yoelhor commented on #76973
The Azure AD B2C scopes, such as `openid`, `offline_access`, and `user_impersonation` (deprecated) come with the short format. The API scopes that you create under the **Expose API** use the full URI as you mentioned above.

If I remember correctly, when you add the **Application scope URI**, the `user_impersonation` changed to be in the full format  `https://{tenant-name}/{app-id-uri}/{scope}`

[2021-06-18 07:23] chamikasandamal commented on #76602
@RyanHill-MSFT if I set `accessTokenAcceptedVersion` value to `2` then will it start working? or do I need to wait till any changes?

[2021-06-18 07:28] yoelhor commented on #76783
Good feedback I'll add a note about it. Thanks again for you contribution.

[2021-06-18 07:32] yoelhor commented on #77138
Hey @mrochon,

Thanks for the feedback. Just to make sure we are on the same page. You are talking about the following statement:

![image](https://user-images.githubusercontent.com/20111866/122524131-724b4b00-d020-11eb-9263-a0f53177125c.png)

[2021-06-18 07:35] frazhamid commented on #77111
Hi @MarileeTurscak-MSFT,

Thanks for sharing. The article shared and along with the details relate to managing compliance of Azure resources e.g. Azure SQL. I am just double checking that this is the intent as this article is specific to Azure AD identity governance and managing applications out of compliance. I guess I was expecting a feature in Azure AD I would be expected to use for managing ap

[2021-06-18 07:44] yoelhor commented on #77138
Dear @mrochon, thanks for the feedback. I'm updating the article with the relevant information. A new version will publish later today, and this GitHub issue will be closed automatically (before the doc is published). If you have any questions or need further information, please open new GitHub issue.

[2021-06-18 07:50] #77138 closed

[2021-06-18 08:23] grumm90 commented on #65873
what do we need to do next? We plan to use it on prod soon.
thanks.
Gabor

[2021-06-18 08:27] GitaraniSharma-MSFT commented on #76869
@ToruMakabe , below is the update from the App gateway PG team on your query:

No – this is not the case. There is no AppGw instance specific information in the cookie. The cookies are hashed such that they can reach any AppGw instance and will be routed to the same backend.

We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly co

[2021-06-18 08:27] #76869 closed

[2021-06-18 08:27] aidanoleary commented on #46309
Is there any more information on this? It looks like it's been raised in the "Azure Storage feedback forum" but there still hasn't been any word on it. https://feedback.azure.com/forums/217298-storage/suggestions/42659812-table-storage-support-managed-identity-authentica

[2021-06-18 08:36] GitaraniSharma-MSFT commented on #77144
@rukasakurai , thank you for your query. We'll review this and get back to you shortly!

[2021-06-18 08:37] ulkeba opened #77146 "Wrong sub resource ids for Azure Site Recovery and Azure Backup"
The table says that the sub resources for Azure Backup and Azure Site Recovery are both "vault". I think this is wrong and should be "AzureBackup" and "AzureSiteRecovery" instead:
![image](https://user-images.githubusercontent.com/6112696/122532795-2d73e400-d021-11eb-8275-347e941a89cf.png)

("vault" is the subresource id of Azure Key Vault. I think this name clash would cause wrong DNS records bei

[2021-06-18 08:45] Svijay-msft commented on #77025
@felipmiguel  - I was reviewing through the document.

I am assuming you are talking about the below line in the article :

![image](https://user-images.githubusercontent.com/66949976/122531605-4c806f00-d03d-11eb-8bd2-ddfa2a24ae8c.png)

I do see a link which takes the step by step process to [Assign Azure roles using the Azure portal](https://docs.microsoft.com/en-us/azure/role-based-access-contro

[2021-06-18 08:56] ToruMakabe commented on #76869
@GitaraniSharma-MSFT Thank you for your help!

[2021-06-18 09:06] stealthgeekjim opened #77147 "Incorrect powershell for retrieving api key"
The following line needs to be changed from:

$SENDGRID_API_KEY = (Get-AzKeyVaultSecret -VaultName $VaultName -Name "SendGridAPIKey").SecretValue

to this:

$SENDGRID_API_KEY = Get-AzKeyVaultSecret -VaultName $VaultName -Name "SendGridAPIKey" -AsPlainText

Otherwise, the command just stores an object of type System.Security.SecureString, which then fails when the web request forwards this in the h

[2021-06-18 09:12] ToruMakabe opened #77148 "Exception to role assignment"
This doc says that "New deployments of AKS automatically include this configuration change and capabilities", but my new deployment from Terraform did not automatically assign Monitoring Metrics Publisher role to User assigned MSI for the monitoring add-on. So, it seems that the add-on agent could not send metrics.

Perhaps only deployment from portal, CLI, and PowerShell automatically do it, but

[2021-06-18 09:48] HarshitaSingh-MSFT commented on #77147
Hello @stealthgeekjim , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-06-18 09:49] HarshitaSingh-MSFT commented on #77148
Hello @ToruMakabe , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-06-18 10:12] jeffzhu1990 commented on #76488
Hello Teams,

The licensee (ENTERPRISE MOBILITY + SECURITY E5 | b05e124f-c7cc-45a0-a6aa-8cf78c946968) still missing the service plan
![image](https://user-images.githubusercontent.com/20769867/122545490-7a2adf80-d060-11eb-97f4-4decf73923db.png)

Please help to update that service plan (Exchange Foundation | 113feb6c-3fe4-4440-bddc-54d774bf0318)

[2021-06-18 10:15] nkumars commented on #77104
@James-Hamil-MSFT, there is no error, the flow works absolutely fine. I assume from the list of standard **Identity Providers** supported out-of-the-box may have "identities" in the request body but not for custom **OpenID Connect**s.

From the screenshot below, I get "identities" for Facebook, but is not received from **OpenID Connect**s _(highlighted)_.
![image](https://user-images.githubusercon

[2021-06-18 10:38] felipmiguel commented on #77025
Thanks @Svijay-msft
As mentioned at the begining the documentation is right, but this is a type of action not common at all. I never assigned a role to a service provider before using Azure Spring Cloud. I spent quite a lot of time assigning to myself the Owner role and finally I realized that there is a service principal for the resource provider itself. I realized about this after checking a ter

[2021-06-18 10:53] asergaz commented on #75308
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-06-18 10:53] #75308 closed

[2021-06-18 10:53] GitaraniSharma-MSFT commented on #77146
@ulkeba , thank you for your feedback. We'll review this and get back to you shortly!

[2021-06-18 10:54] #71087 closed

[2021-06-18 10:54] #74481 closed

[2021-06-18 11:08] JackCaster commented on #77089
I am finding additional problems with pipelines that may be somehow related. Link here just in case:
- https://github.com/Azure/MachineLearningNotebooks/issues/1515
- https://github.com/Azure/MachineLearningNotebooks/issues/1513

[2021-06-18 11:09] psignoret commented on #57941
#reassign:hpsin

[2021-06-18 11:20] psignoret commented on #75244
#reassign:@psignoret

[2021-06-18 11:20] psignoret commented on #75244
Thanks for the feedback, @Rinki-MSFT. I've updated the doc.

[2021-06-18 11:22] JohnMoor commented on #32527
In my testing adding the Sign on URL as described in Step16 breaks the IDP initiated flow.

As described in this [community post](https://community.atlassian.com/t5/Atlassian-Access-questions/Seamless-sign-in-from-AzureAD-using-SAML-SSO/qaq-p/1727884?utm_campaign=&utm_content=post&utm_medium=email&utm_source=atlcomm#U1728702)

[2021-06-18 11:22] psignoret commented on #58453
Responding (very) late, in case someone comes across this in the future:

This behavior is indeed expected, currently. I've added a clarifying note in the documentation.

[2021-06-18 11:27] JohnMoor opened #77149 "Adding Sign on URL value breaks IDP initiated flow (Step 16)"
Step 16 under "[Configure Azure AD SSO](https://docs.microsoft.com/en-gb/azure/active-directory/saas-apps/atlassian-cloud-tutorial#configure-azure-ad-sso)" describes adding the instance URL under basic SAML options "Sign On URL". In my testing this seems to break the SP initated flow as described in this [community post](https://community.atlassian.com/t5/Atlassian-Access-questions/Seamless-sign-i

[2021-06-18 11:28] #75244 closed

[2021-06-18 11:38] psignoret commented on #59982
@martin-jaeger-maersk It's "by design" (but the design isn't awesome and we plan to improve it). During sign in, Azure AD checks for assignment _after_ checking for (and prompting for, if needed) consent. Also, when a user grants consent for themselves, they get assigned the app. Put together, this means a user could cause themselves to be assigned by granting consent—defeating the whole purpose o

[2021-06-18 11:41] johnymachine commented on #16061
Is there anything like this for vmss autoscalesettings, cant deploy rule without emitting metric firsts. 🤷‍♂️

[2021-06-18 12:01] trichards7 opened #77150 "Azure CLI method for Cosmos DB diagnostic settings creation has formatting errors"
When trying the Azure CLI code given for Cosmos DB diagnostic settings, it gives a parsing error. I changed the formatting on the logs parameter to what is shown below and it worked first time.

        az monitor diagnostic-settings create --resource /subscriptions/$subscriptionId/resourceGroups/$resourceGroupName/providers/Microsoft.DocumentDb/databaseAccounts/$resourceName --name $diagname --ex

[2021-06-18 12:09] Rinki-MSFT commented on #75244
Thank you @psignoret !!

[2021-06-18 12:30] AdCCooN commented on #77113
If it helps my simple session initialization part (as explained in https://docs.microsoft.com/en-us/azure/spatial-anchors/how-tos/create-locate-anchors-unity) looks something like:

`            this.ReadyToCreateAnchors = false;
            this._cloudSpatialAnchorSession = new CloudSpatialAnchorSession();

// for those 2 I also added the keys in the resources configuration file
            this.

[2021-06-18 12:46] shortpatti commented on #77140
#please-close

fix in PR #162925 with proper syntax and bookmarks

[2021-06-18 12:46] #77140 closed

[2021-06-18 12:57] BeameX opened #77151 "Discrepancy between this and SolarWinds documentation"
Hi

In SolarWinds documentation they are documenting bringing over security group in a group claim.
This actually makes sense, so I think it's missing in your guide:

Something along the lines:

1. In User Attributes & Claims, keep default settings for all user attributes and add a group claim: ​
2. Choose Security groups.
3. If you have Azure AD synchronized with your on-premises AD, change Sourc

[2021-06-18 13:09] denious commented on #76973
@yoelhor Thanks, Yoel, I'm looking forward to the new docs! Do you have any links to user_impersonation being deprecated? It's been floating around the internet in various random blogs and samples, but hard to find in the official sources, and as of today we use it in every application simply because one scope or more has always been required. I'd be happy to replace it with something more proper.

[2021-06-18 13:10] #77001 closed

[2021-06-18 13:31] AjayKumar-MSFT commented on #77149
@JohnMoor, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-06-18 13:36] #76846 closed

[2021-06-18 13:39] bsonnek opened #77156 "How do I configure RD Gateway for Azure VD"
Both Links in this document point to how to Deploy RD Gateway in Remote Desktop Services. I don't see any instructions on how to setup an RD Gateway proxy for Azure Virtual Desktop. Am I missing something here?

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6ebbcf4-1385-c608-04ab-568517aeda6b
* Version Inde

[2021-06-18 13:48] jason934 commented on #76733
Correct, the documentation does not mention that a support ticket is required to transfer subscriptions across enrollments.  Self-service is not possible through portal for that scenario.

------ Original Message ------
From: "Bill Anderson" ***@***.******@***.***>>
To: "MicrosoftDocs/azure-docs" ***@***.******@***.***>>
Cc: "jason934" ***@***.******@***.***>>; "Mention" ***@***.******@***.***>>
S

[2021-06-18 13:54] mtrangel89 commented on #76950
Thank you!  @SadiqhAhmed-MSFT,

It didn't work, can you help me?

`{
    "eTag": null,
    "id": "/Subscriptions/66533478-4958-433d-8dd2-1ebb25b86727/resourceGroups/RG_GCR_BACKUP/providers/Microsoft.RecoveryServices/vaults/BKP-Gecar-LRS/backupPolicies/AzureVM-Mensal",
    "location": null,
    "name": "AzureVM-Mensal",
    "properties": {
      "backupManagementType": "AzureIaasVM",
      "instant

[2021-06-18 14:00] AshokPeddakotla-MSFT commented on #77067
@shoter I have assigned the issue to the content author @kgremban to evaluate and update as appropriate.

[2021-06-18 14:03] #77096 closed

[2021-06-18 14:03] AshokPeddakotla-MSFT commented on #77096
@cristipogacean PR has been created to fix this issue. Changes will go live once it has been reviewed and merged.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-06-18 14:04] mattruma opened #77157 "Incomplete sentence in Usage Scenarios section"
In the Usage Scenarios section, it ends with an incomplete sentence:

See https://docs.microsoft.com/en-us/azure/app-service/environment/overview#usage-scenarios.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2dcd1a66-7ff7-c0da-b170-c302784221ae
* Version Independent ID: 4766d1de-b033-029a-9860-12a306195c72
* Content:

[2021-06-18 14:11] psmanhas commented on #75528
@skiddder Firstly, apologies for the delay in responding on this and any inconvenience this issue may have caused. As this issues need more investigation and live troubleshooting for quicker resolution I would recommend you to contact azure support. If you have a support plan, requesting you to file a support ticket, else please do let us know, we will try and help you get a one-time free technica

[2021-06-18 14:16] hamdyghanem opened #77158 "error on C# sample"
[Enter feedback here]

`                Console.WriteLine($"\nIssued an access token with 'chat' scope that expires at {expiresOn}:");
`
"expiresOn" is not a variable, should be replaced by "tokenResponse.Value.ExpiresOn"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 087817c3-e26e-2a9b-baf7-db6ad20141a1
* Version Indep

[2021-06-18 14:16] yayoayala commented on #76501
James, the apps is in the General tab (all apps), that is the work around. The portal doesn't work.

[2021-06-18 14:26] chdalski opened #77160 "Rate limit with Jwt does not work as described"
Hi there,

I tried to use the following xml-snipped from the documentation (https://docs.microsoft.com/en-us/azure/api-management/api-management-sample-flexible-throttling#user-identity-throttling):

`<rate-limit-by-key calls="10"
    renewal-period="60"
    counter-key="@(context.Request.Headers.GetValueOrDefault("Authorization","").AsJwt()?.Subject)" />`

Unfortunately that didn't work at all -

[2021-06-18 14:34] martin-jaeger-maersk commented on #59982
@psignoret Thank you for the feedback 👍

[2021-06-18 14:45] MP7373 opened #77161 "How to Set Time Interval and/or number of updates old Bounded Staleness"
I've been really frustrated at the discoverability of things inside the cosmos cosmos documentation, like it's clear from the documentation you can configure the Bounded Staleness to be either number of records or a time window but I can google all sorts of variations of "cosmos bounded staleness configure time range" etc. and it just leads to this page which doesn't have the information on how to

[2021-06-18 14:57] artisticcheese opened #77162 "How do you suggest new things for Azure Advisor for recommendations?"
Is there a way to provide additional feedback to Azure Advisor team what additional recommendations can be added to optimize resources hosted in Azure. For example there shall be a task advising to switch to Premium_SSD from either standard_SSD or standard_HDD for those which has number of IOs since IOs are not charged in Premium_SSD and it might be actually cheaper to run on Premium_SSD then Stan

[2021-06-18 15:06] leifbro commented on #64172
#please close. This article isn't quite the right place for this link at this point. In the meantime we are working on a revision to our overall introductory material that will provide a better entry point to the docs.

[2021-06-18 15:06] #64172 closed

[2021-06-18 15:08] leifbro commented on #73599
These links are fixed.
#please-close

[2021-06-18 15:08] #73599 closed

[2021-06-18 15:10] djardimWES commented on #67973
Any update on this? Google's doc page on this seems to indicate users removed from provisioning will be left "as-is", per their "Mapping the user lifecycle" chart

https://cloud.google.com/architecture/identity/federating-gcp-with-azure-active-directory#mapping_the_user_lifecycle

[2021-06-18 15:12] leifbro commented on #76523
Thanks for the feedback. We are working on a revision to our overall introductory material that will provide a better entry point to the docs.
#please-close

[2021-06-18 15:12] #76523 closed

[2021-06-18 15:17] mumian commented on #77135
@ejsealms, the second syntax shall work.  Here is a working example:

{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "variables": {
    "locations": [
      "eastus",
      "centralus"
    ]
  },
  "resources": [
    {
      "type": "Microsoft.Storage/storageAccounts",
      "apiVersion": "2019-06-01",
      "name"

[2021-06-18 15:17] #77135 closed

[2021-06-18 15:17] saseiler opened #77165 "can you please add instructions for deploying on Mariner OS? This is a new Micosoft windows/linux os"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3b8296d-c923-e990-dcad-35ef2b908a2a
* Version Independent ID: 5f85fd7b-f2b6-b3b1-6be2-b6054bb33507
* Content: [Install Azure IoT Edge](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge?view=iotedge-2020-11)
* Content Source: [ar

[2021-06-18 15:18] 3hakusai3 opened #77166 "Metadata of Azure AD as SAML SP may be invalid"
The [metadata of Azure AD](https://nexus.microsoftonline-p.com/federationmetadata/saml20/federationmetadata.xml) shown in the article has these elements in order.

[code]
However, [OASIS's schema of metadata](https://docs.oasis-open.org/security/saml/v2.0/saml-schema-metadata-2.0.xsd) says these elements should be in order like this.
[code]
I think this metadata doesn't meet the specifications.

-

[2021-06-18 15:28] AshokPeddakotla-MSFT commented on #77019
Adding author @anastasia-ms for further review and update the doc accordingly.

[2021-06-18 15:33] PTC-JoshuaMatthews commented on #44301
@ManojReddy-MSFT @SubhashVasarapu-MSFT Any update on this issue? From what I can tell it has been in the planned state for 3 years now. Surely someone at Microsoft realizes the severity of this issue? Can we at least get an honest status update?

[2021-06-18 15:38] techjazz-MS commented on #76334
I faced the similar error and I found that the cause was a space at the end of my KeyVault URI that I added in the didconfig.json file.
Removing the space, fixed the issue.

[code]

[2021-06-18 15:42] SaurabhSharma-MSFT commented on #77150
<div style="font-family: &quot;segoe ui&quot;, &quot;segoe ui web (west european)&quot;, &quot;segoe ui&quot;, -apple-system, blinkmacsystemfont, roboto, &quot;helvetica neue&quot;, sans-serif; font-size: 10.5pt; color: rgb(50, 49, 48);"><a target="_blank" class="user-mention" data-hovercard-type="user" data-octo-click="hovercard-link-click" data-octo-dimensions="link_type:self" data-hovercard-url

[2021-06-18 15:43] rp-msft opened #77168 "AKS LB VNET details"
[Can we have some more details on how the AKS places the LB in the networking VNET. Can users customize the VNET options for AKS LB for example, putting the LB in a different VNET from AKS VNET for a hub and spoke design like how it can be done for an App gateway or there is a requirement that AKS external or internal LB has to be in the sabe VNET as AKS VNET ? ]

---
#### Document Details

⚠ *Do

[2021-06-18 15:47] gllebede commented on #77113
Thanks!

I assume you don't have a call stack from the failure? I'll try to reproduce the issue to see what part of SDK it belongs to but if it happens that you have a call stack from the unhandled exception that would help too.

[2021-06-18 15:48] JamesBurnside opened #77169 "Build a trusted authentication service using Azure Functions - is unsafe and dangerous"
This article specifies how to "Build a trusted authentication service" using azure functions to bootstrap a client for token provisioning (with respect to Azure communication services).

However this is actually a dangerous setup. Once this is deployed, any malicious actor with knowledge of the endpoint could mint tokens using the customers account.

I would advise restructuring the article to add

[2021-06-18 15:59] dacevedo12 commented on #76633
Hi @ssivas, are there any updates on this? Many apps rely on this endpoint for their social login feature

Thanks in advance,

[2021-06-18 16:02] mrochon opened #77170 "What is the effect of multiple preconditions with opposite actions?"
It is not clear from the docs what is the effect of having two/multiple pre-conditions, one specifying that the action should be skipped if the condition is true and the other specifying that it should not be skipped. Does sequence matter?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5387e5e-299b-4c41-e84a-44e98a2c0

[2021-06-18 16:03] ericsampson opened #77171 "Update list of services that support AAD Authentication"
The list of services that support AAD Authentication is missing some entries:
- Azure Database for PostgreSQL
- Azure Storage Tables
- Azure CosmosDB

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 726adac9-1848-01a6-9586-842c81f820f7
* Version Independent ID: 249db438-8c95-8e69-f69e-8e48fcd0b359
* Content: [Az

[2021-06-18 16:06] leifbro commented on #47164
@pnarsi The Azure Databricks article in question is in some ways just a reflection of the docs in https://github.com/Azure/azure-event-hubs-spark/blob/master/docs/structured-streaming-eventhubs-integration.md, which is owned by a different organization. I suggest logging a Git Issue for that doc as well. In the meantime, the Databricks doc team has created a ticket for this in the Databricks Jira

[2021-06-18 16:16] GiftA-MSFT commented on #77100
@nishankgu please review above feedback. Thanks!

[2021-06-18 16:18] HarshitaSingh-MSFT commented on #76927
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-06-18 16:18] #76927 closed

[2021-06-18 16:22] ChaitanyaNaykodi-MSFT commented on #77160
Hello @chdalski,
Thank you for your feedback! We will review and update as appropriate.

[2021-06-18 16:22] leifbro commented on #50023
There are Databricks internal Jira tickets for this request that are blocked on developer input: DOC-817, DOC-2713. We will push to get a dev resource on this and report back here with status.

[2021-06-18 16:23] leifbro commented on #50023
@CHEEKATLAPRADEEP-MSFT Can you label this appropriately as in-progress?

[2021-06-18 16:30] boumenot opened #77172 "Clarify it is one IP address per Service"
I read this document, and I understood it to say that there is one IP address per storage account, which is incorrect.  There is one IP address per Azure storage service.  When I learned this fact, I reread the document, and I could see where I went wrong.  I still don't think this statement was as strong as it could be.

Hopefully this explains why I came to this conclusion.

This sentence in the

[2021-06-18 16:45] hpsin commented on #57941
Thanks Philippe, Saurabh, these are good pieces of feedback.  I'll include them in the next rev.

[2021-06-18 16:47] hpsin commented on #76633
#reassign:hirsin
Hi @dacevedo12  - the team is working on a fix, and we expect it to be live in approximately 2 weeks.  We are looking at how to accelerate that. Can you detail the impact for us?

[2021-06-18 16:47] PRMerger14 commented on #76633
hirsin is not a valid GitHub ID, or is not a collaborator on this repo.

[2021-06-18 16:48] hpsin commented on #76633
#reassign:hpsin

[2021-06-18 16:54] martincoetzer commented on #77111
For Azure AD we mean discover apps that are not currently managed with a compliance solution such as entitlement management or access reviews. Users may have access to apps that don't need access, and nobody is managing it.

[2021-06-18 16:57] danielgerlag opened #77173 "UserDefinedFunctionProvider Obsolete"
The `UserDefinedFunctionProvider.Invoke` is obsolete, should be updated to `CosmosLinq.InvokeUserDefinedFunction` as per this PR - https://github.com/Azure/azure-cosmos-dotnet-v3/pull/2206

Also, documentation on how to invoke user defined functions from Linq is non-existent, had to really hunt for it, I only figured it out by finding this PR.

---
#### Document Details

⚠ *Do not edit this sectio

[2021-06-18 17:01] MarileeTurscak-MSFT commented on #77171
@ericsampson
Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-18 17:16] ssivas commented on #77151
@BeameX , Thanks for reaching out. We will investigate and update the thread accordingly.

[2021-06-18 17:24] ssivas commented on #77166
@3hakusai3 , Thanks for reaching out. We will investigate and update the thread accordingly.

[2021-06-18 17:33] vipulsparsh commented on #77028
@ThijsLecomte Azure activity should have been included as it provide more data regarding that. I will engage the author to verify and get that corrected.

[2021-06-18 17:35] Oury-MSFT commented on #77161
@MP7373 Thank you for your feedback. We will review this with the author and will get back to you shortly.

[2021-06-18 17:48] jonwbstr opened #77174 "Overview page"
There are a lot of azure subscription transfer scenarios. At the moment finding the right article for your specific scenario requires a 3 hour research project and opening a ticket with Microsoft who rely heavily on the existing online doc's and have on more than one occasion referenced the wrong article for a given scenario. A landing page of all the scenarios and links to the article written for

[2021-06-18 17:50] Oury-MSFT commented on #77134
@VanMSFT Please see customer feedback above. Do we need to raise a PR to update the doc. Thanks

[2021-06-18 17:54] anaraju opened #77175 "Download link to get IP Address ranges for Azure Clouds are broken"
In this line:
"Azure allocates public IP addresses from a range unique to each region in each Azure cloud. You can download the list of ranges (prefixes) for the Azure Public, US government, China, and Germany clouds.", all the links point to this URL: https://www.microsoft.com/en-us/download/details.aspx?id=56519 which does not provide the IP Addresses.

---
#### Document Details

⚠ *Do not edit

[2021-06-18 18:00] SaiKishor-MSFT commented on #77175
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-06-18 18:21] cachai2 commented on #57060
Hi @pnarsi, Functions does not have any such dependencies. In ASE, the service itself has a dependency on those in the FQDN list. In a Functions Premium plan, you would only need to whitelist an endpoint if your app requires it.

[2021-06-18 18:32] leifbro commented on #67264
A Databricks tech writer will check the UI to see if indeed the field is labeled Azure Databricks URL rather than Tenant URL. This is logged as internal Databricks DOC Jira ticket 2717.

[2021-06-18 18:32] yuu045-ran opened #77176 "Need clear explaination regarding what SKU should be used for function app using tensorflow"
Hello team.

As far as we understand, for TensorFlow apps, compilation need the support of these instruction sets: SSE4.1, SSE4.2, AVX, AVX2, FMA. These instruction sets might be missing from **elastic premium plan** CPUs and **eventually lead to compilation/building failures**. As far as we know, the workaround will be choosing app service plan for the function app, but this point is not clarifie

[2021-06-18 18:45] leifbro commented on #75632
We removed this tab from the product for any workspace that doesn’t already have external data sources.
We can remove this help page but before we do so we need to update the tab not to link there.

[2021-06-18 18:55] leifbro commented on #47164
#in-progress

[2021-06-18 18:55] leifbro commented on #47164
#inprogress

[2021-06-18 18:57] KranthiPakala-MSFT commented on #47164
#label: "in-progress"

[2021-06-18 19:09] BharathNimmala-MSFT commented on #76056
@Ari6 Our sincere apologies for delay in getting back to this thread. Post validation with our team it has been called out that Application config URL is an optional field and it can be left blank. Hope that information helps.

At this point it appears that there's no edits or updates needed to the documentation. We will go ahead and close this issue for now, however if you have any further feedba

[2021-06-18 19:09] #76056 closed

[2021-06-18 19:31] JamesTran-MSFT commented on #77170
@mrochon
Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-18 19:47] bandersmsft commented on #77174
@jonwbstr You're right that we should publish a "landing page" of all the supported subscription transfer scenarios. We have just such an article in development. Although I can't say when it will get published, I can promise that I'll look closely at the feedback you've provided an I'll incorporate as much of it as I can into the new article. Thanks very much for putting this together.
#please-clo

[2021-06-18 19:47] #77174 closed

[2021-06-18 19:51] bandersmsft commented on #77051
@paratz I'm going to close this issue now, as I suspect the that error you ran into was a permissions problem. If you are still having problems, please open an Azure support issue at https://go.microsoft.com/fwlink/?linkid=2083458.

#please-close

[2021-06-18 19:51] #77051 closed

[2021-06-18 19:51] tfitzmac commented on #7650
@wi5nia - the statement about the key vault existing in a different subscription applies to getting secrets in parameter file. It doesn't apply to referencing a certificate from a template. I have added a note that tries to clarify that difference. It should get published later today.
#please-close

[2021-06-18 19:51] #7650 closed

[2021-06-18 19:59] tfitzmac commented on #75703
I have verified the if function works as expected. You might be seeing an error when using the sideload script because it is not compatible with the latest versions. The sideload script has been removed from the docs.
#please-close

[2021-06-18 19:59] #75703 closed

[2021-06-18 20:02] SaurabhSharma-MSFT commented on #77173
<div style="font-family: &quot;segoe ui&quot;, &quot;segoe ui web (west european)&quot;, &quot;segoe ui&quot;, -apple-system, blinkmacsystemfont, roboto, &quot;helvetica neue&quot;, sans-serif; font-size: 10.5pt; color: rgb(50, 49, 48);"><a target="_blank" class="user-mention" data-hovercard-type="user" data-octo-click="hovercard-link-click" data-octo-dimensions="link_type:self" data-hovercard-url

[2021-06-18 20:09] AjayKumar-MSFT commented on #77092
@samkuls, Just checking in to see if you have had a chance to see the previous response.
Please share the Azure doc as requested-
https://docs.microsoft.com/azure/cognitive-services/luis/luis-container-howto?tabs=v3
Kindly let us know if you need further assistance on this issue.

[2021-06-18 20:11] JamesTran-MSFT commented on #76501
@yayoayala
Thank you for the quick follow up on this!

I received a response from our engineering team - there's a known issue where our search is case sensitive. Can you try re-adding the app to your collection and searching for "Salesforce" instead of "salesforce".

![image](https://user-images.githubusercontent.com/36619112/122611665-9023aa80-d036-11eb-83f4-c64fc0071eb6.png)

Thank you for your

[2021-06-18 20:33] BharathNimmala-MSFT commented on #77162
@artisticcheese Thank you for reaching out with your query, I have assigned this issue to our document author @saket-ms to further evaluate your query and feedback. Thanks

[2021-06-18 20:52] whhender commented on #77026
@SunetraVirdi - we have been able to reproduce behavior, can you confirm this is the expected behavior? If so, we will add a note to the documentation.

[2021-06-18 20:58] Oury-MSFT commented on #77125
@timsander1 Will update the [doc](https://docs.microsoft.com/en-us/azure/cosmos-db/sql-query-mathematical-functions) to add the trunc function in the table.

[2021-06-18 21:07] msangapu-msft commented on #76618
@AjayKumar-MSFT Please review: https://github.com/MicrosoftDocs/azure-docs-pr/pull/162872

[2021-06-18 21:34] spelluru commented on #76969
I have removed the link to this sample, which was archived because it was using very old SDK. There's a sample that may help
https://github.com/Azure/azure-service-bus/tree/master/samples/DotNet/Microsoft.Azure.ServiceBus/ManagingEntities/SASAuthorizationRule. We will review and take an action item to create a new sample using the latest SDK. sorry for the inconvenience.

[2021-06-18 21:37] SnehaGunda commented on #76423
@Marusyk I hope Milis's above comment helps you with the next steps. As mentioned above, we are documenting frequently used scenarios only. Because the outcome isn't a doc update, we will close this issue. This forum is for doc issues only, for technical troubleshooting can you please either:

* Post the question on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/topics/azure-cosmos-db.ht

[2021-06-18 21:37] #76423 closed

[2021-06-18 21:47] SnehaGunda commented on #71214
@Arithmomaniac Apologies for the delay in getting back on this issue. Agree that this doc belongs to the storage area. Actually, the storage docs already have this information split into multiple docs. See this page and the other docs in the left nav as mentioned in the below screen: https://docs.microsoft.com/en-us/azure/storage/tables/table-storage-design

![image](https://user-images.githubuser

[2021-06-18 21:50] SnehaGunda commented on #76509
@Oury-MSFT Yes please, can you open a PR? and tag me.

[2021-06-18 21:56] KranthiPakala-MSFT commented on #77156
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-06-18 21:57] KranthiPakala-MSFT commented on #77157
Thank you for reaching out and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2021-06-18 21:58] KranthiPakala-MSFT commented on #77158
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-06-18 22:00] KranthiPakala-MSFT commented on #77165
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-06-18 22:01] KranthiPakala-MSFT commented on #77168
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-06-18 22:02] KranthiPakala-MSFT commented on #77169
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-06-18 22:03] KranthiPakala-MSFT commented on #77172
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-06-18 22:04] idg-sam commented on #74283
I'm on it:
Remove instruction for adding `.war` packaging, since it is already in pom.xml

[2021-06-18 22:05] KranthiPakala-MSFT commented on #77176
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-06-18 22:13] idg-sam commented on #74283
https://github.com/MicrosoftDocs/azure-docs-pr/pull/163030

[2021-06-18 22:55] tfitzmac commented on #30979
These properties are not documented in the REST API spec which means they aren't generated in the ARM template reference docs. There is [an issue](https://github.com/Azure/azure-rest-api-specs/issues/9072) for adding these properties to the REST API spec. When they are added there, the doc generation process will pick them up.
#please-close

[2021-06-18 22:55] #30979 closed

[2021-06-18 23:23] mike-urnun-msft commented on #76994
@MisterReally Since we didn't find any issues with this doc, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-06-18 23:23] #76994 closed

[2021-06-18 23:23] SaurabhSharma-MSFT commented on #77088
@frochi42 The PR for the fix has been created and it will be merged once approved by the author. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2021-06-18 23:23] #77088 closed

[2021-06-18 23:27] Karishma-Tiwari-MSFT commented on #77156
Configure the RD Gateway role section is in the same document:
https://docs.microsoft.com/en-us/windows-server/remote/remote-desktop-services/remote-desktop-gateway-role#configure-the-rd-gateway-role

Let me know if you are looking for something else.

[2021-06-18 23:34] mimcco commented on #75308
#please-close

[2021-06-18 23:34] mimcco commented on #74789
#please-close

[2021-06-18 23:34] #74789 closed

[2021-06-18 23:35] mimcco commented on #74313
#please-close

[2021-06-18 23:35] #74313 closed

[2021-06-18 23:36] bmenas opened #77180 "Add important information to consider"
Open this document issue because requesting the inclusion of warning about manual changes to AKS Load Balancer Resource Group.

https://docs.microsoft.com/en-us/azure/aks/load-balancer-standard

A customer made some modification to LB resources groups and they was working properly until version 1.19 of AKS.
After it does not work, he was upset because there was no place where it was specified that

[2021-06-18 23:36] mimcco commented on #74301
This suggestion was added to the documentation. https://docs.microsoft.com/en-us/azure/azure-percept/how-to-update-via-usb

#please-close

[2021-06-18 23:36] #74301 closed

[2021-06-18 23:37] mimcco commented on #74072
This suggestion was added to the documentation. https://docs.microsoft.com/en-us/azure/azure-percept/how-to-update-via-usb

#please-close

[2021-06-18 23:37] #74072 closed

[2021-06-18 23:39] mimcco commented on #72689
All of the update package links are now located in this article: https://docs.microsoft.com/en-us/azure/azure-percept/how-to-select-update-package

#please-close

[2021-06-18 23:39] #72689 closed

[2021-06-18 23:56] SaurabhSharma-MSFT commented on #77150
@trichards7 -  I have used the mentioned code and it works fine with the formatting mentioned in the documentation.  Only thing I have added is Cosmos DB "Resource" against --Resource property.  Please refer to the below screenshot -
![image](https://user-images.githubusercontent.com/38112130/122624581-a68d2e80-d055-11eb-8480-28d6906acd1e.png)

I have though submitted a PR for the above change and

[2021-06-18 23:56] #77150 closed

[2021-06-19 00:42] jaseidman commented on #47164
Hi @pnarsi – Have you looked at this document: [Use AAD Authentication to Connect Eventhubs](https://github.com/Azure/azure-event-hubs-spark/blob/master/docs/use-aad-authentication-to-connect-eventhubs.md)? I have not tried this myself yet, but it seems to provide the instructions required to configure auth through a service principal rather than SAS.

[2021-06-19 03:33] AjayKumar-MSFT commented on #77180
@bmenas, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-06-19 05:15] infosecray opened #77183 "Minor grammar"
Just a small grammatical typo noticed on this page.

The fourth column and second row in the table displayed on the page reads "Assigned **uses** cannot see the app but they can sign in." should be"users".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a8a844d8-1aab-daf1-0567-35f2de89fa23
* Version Independent ID: 6d8a

[2021-06-19 06:22] biaojiang opened #77184 ""Command Shell" was not found under "Tools""
After having followed the instructions, everything was OK until the last step to view the generated data,
Under Tools, can't find the Command Shell, and it can't be searched. And the RDP doesn't work to connect to the IoT device.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64575e7c-664c-4d6b-a440-24c91e93def5
* Vers

[2021-06-19 06:51] algattik opened #77185 "Kafka endpoint"
The event hub endpoint can also be accessed using Kafka. This should be documented

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4eded614-310f-ddab-845d-4cdd6126537f
* Version Independent ID: d32113fd-f7bc-4644-b763-a0f9040f075d
* Content: [Understand the Azure IoT Hub built-in endpoint](https://docs.microsoft.com/en-

[2021-06-19 09:18] shashishailaj commented on #77183
@infosecray Thank you for your feedback . We will have this reviewed and updated accordingly .

[2021-06-19 09:21] waltervos opened #77186 "Python call_sub_orchestration example appears syntactically wrong"
I'm working on building an orchestration that starts a sub orchestration in python. I've gone by the example on the mentioned docs page. My use case revolves around refresh analysis services database and looks like this (the single item list is a bit silly, but that's to make it look like the DeviceProvisioning example as much as possible):

[code]

This code fails with:

This appearantly refers t

[2021-06-19 09:28] waltervos commented on #77186
A little update: Even when I change my code to get the "list" of tabular model names from an activity (`tabular_model_names = yield context.call_activity("get_tabular_model_names")`), I still get the same "Check your code for non-deterministic behavior" error.

The get_tabular_model_names activity contains only this:
[code]

 Should I open a separate issue for this?

[2021-06-19 09:38] j-mantu commented on #67195
@DaveZimmerman Please note we will now close this issue. Your feedback is highly appreciated.
#please-close

[2021-06-19 09:38] #67195 closed

[2021-06-19 10:35] shashishailaj commented on #77183
@infosecray  We have initiated a change request and it will be reviewed and approved by the content team. The issue will auto close once the changes are merged.

@mtillman Could you please review and update the PR on this one ?

[2021-06-19 11:03] shashishailaj commented on #76928
@Disparaitre Please find the link to the [PowerBI visualization template here](https://networkwatcherdocassets.blob.core.windows.net/powerbitemplate/PowerBI_FlowLogs_Storage_Template.pbit ) . We are closing this one and as @SaiKishor-MSFT mentioned we will be tracking the update on Issue #76533  as we have multiple duplicate issues for the same. For now you can use the link to download the templat

[2021-06-19 11:03] #76928 closed

[2021-06-19 11:04] shashishailaj commented on #76533
@dmakinson  Please find the link to the [PowerBI visualization template here](https://networkwatcherdocassets.blob.core.windows.net/powerbitemplate/PowerBI_FlowLogs_Storage_Template.pbit ) . We were able to find the link and for now you can use the link to download the template . We are internally in the process of getting it updated in the backend. However the document update can take a little lo

[2021-06-19 11:07] shashishailaj commented on #76935
@cherylmc Could you please check if the visio diagram mentioned in this page can be made available publicly ?

[2021-06-19 11:09] shashishailaj commented on #77020
@baswijdenes We are checking on this internally and will update the thread.

[2021-06-19 11:43] MhAllan opened #77188 "SSL not working with storage explorer"
There is no way Azure Storage Explorer to connect to Azurite via Https. I tried so many pfx and pem certificates and used different tools but get certificate errors all the time. Please put steps for generating the certificate and connecting the storage explorer. I am using VS Code for running Azurite.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2021-06-19 13:42] AjayKumar-MSFT commented on #77184
<div style="font-family: &quot;segoe ui&quot;, &quot;segoe ui web (west european)&quot;, &quot;segoe ui&quot;, -apple-system, blinkmacsystemfont, roboto, &quot;helvetica neue&quot;, sans-serif; font-size: 10.5pt; color: rgb(50, 49, 48);"><a target="_blank" class="user-mention" data-hovercard-type="user" data-octo-click="hovercard-link-click" data-octo-dimensions="link_type:self" data-hovercard-url

[2021-06-19 13:44] AjayKumar-MSFT commented on #77185
<div style="font-family: &quot;segoe ui&quot;, &quot;segoe ui web (west european)&quot;, &quot;segoe ui&quot;, -apple-system, blinkmacsystemfont, roboto, &quot;helvetica neue&quot;, sans-serif; font-size: 10.5pt; color: rgb(50, 49, 48);"><a target="_blank" class="user-mention" data-hovercard-type="user" data-octo-click="hovercard-link-click" data-octo-dimensions="link_type:self" data-hovercard-url

[2021-06-19 13:47] AjayKumar-MSFT commented on #77186
<div style="font-family: &quot;segoe ui&quot;, &quot;segoe ui web (west european)&quot;, &quot;segoe ui&quot;, -apple-system, blinkmacsystemfont, roboto, &quot;helvetica neue&quot;, sans-serif; font-size: 10.5pt; color: rgb(50, 49, 48);"><a target="_blank" class="user-mention" data-hovercard-type="user" data-octo-click="hovercard-link-click" data-octo-dimensions="link_type:self" data-hovercard-url

[2021-06-19 13:50] AjayKumar-MSFT commented on #77188
<div style="font-family: &quot;segoe ui&quot;, &quot;segoe ui web (west european)&quot;, &quot;segoe ui&quot;, -apple-system, blinkmacsystemfont, roboto, &quot;helvetica neue&quot;, sans-serif; font-size: 10.5pt; color: rgb(50, 49, 48);"><a target="_blank" class="user-mention" data-hovercard-type="user" data-octo-click="hovercard-link-click" data-octo-dimensions="link_type:self" data-hovercard-url

[2021-06-19 14:12] Saranya-CTSH opened #77189 "Access multiple private repositories in docker-compose file"
How can we access multiple private repositories in docker-compose file? We have to work with 4 different images from different private repositories, and looks like this is not supported yet. When is the ETA for this feature?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da05d7fa-1789-ec63-5219-e2f71a028ef6
* Version I

[2021-06-19 14:36] edisga opened #77190 "az postgres up is not creating the resource group"
Running the following command:
`az postgres up --resource-group Database-ResourceGroup --location westus2 --sku-name B_Gen5_1 --server-name testpostgresql --database-name pollsdb --admin-user test --admin-password "password" --ssl-enforcement Enabled`

It is not creating the resource group if that doesn't exit, it's throwing the following error:
`(ResourceGroupNotFound) Resource group 'Database-Re

[2021-06-19 15:08] KranthiPakala-MSFT commented on #77189
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-06-19 15:09] KranthiPakala-MSFT commented on #77190
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-06-19 15:14] felipespas-brz opened #77191 "Command example "Update Statistics" has an equalilty sign which should not be there"
The command example just below the section "Create single-column statistics by specifying the sample size" has an equality sign which should not be there.

The command showed in the documentation is:
CREATE STATISTICS col1_stats
    ON dbo.table1 (col1)
    WITH SAMPLE = 50 PERCENT;

And the correct is:
CREATE STATISTICS col1_stats
    ON dbo.table1 (col1)
    WITH SAMPLE 50 PERCENT;

Notice that

[2021-06-19 15:24] markjbrown commented on #77161
The values only apply to bounded staleness.

Cosmos resources are updated like other Azure resources using the management clients typically used in Azure.

To modify default consistency for an account you can use [PowerShell](https://docs.microsoft.com/en-us/azure/cosmos-db/powershell-samples), [Azure CLI](https://docs.microsoft.com/en-us/azure/cosmos-db/cli-samples), [ARM templates](https://docs.

[2021-06-19 15:59] apayero opened #77192 "Insufficient information, poor examples. Few scenarios are presented, example: React, Angular, etc."
[Enter feedback here]
Insufficient information, poor examples. Few scenarios are presented, example: React, Angular, etc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f6924846-3993-db7f-92c2-96a069bda515
* Version Independent ID: b0ec25d1-8ea8-c0e4-304d-ab03692fa8e7
* Content: [Deploy content using FTP/S - Azure App

[2021-06-19 16:17] #77085 closed

[2021-06-19 16:20] ggailey777 commented on #77085
@take-4c this is a great question. I've updated both articles to indicate that both Premium and Dedicated (App Service) plans support the Gateway NAT approach for controlling the outbound IP. Thanks for bringing this to our attention.

cc. @HarshitaSingh-MSFT

[2021-06-19 16:27] TrevorHerr commented on #47611
@gfaraj can you keep us in the loop. We about to implement a similar scenario (native iOS app + web with Apple Login) and want to know it's going to work before we go with App Services.

[2021-06-19 16:30] SanthoshCheekoti opened #77193 "Controlling Caching behaviour"
The Controlling of caching behaviour should be part of concepts and not how-to guides.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df84f438-657d-3e22-fcac-5527acc5a5df
* Version Independent ID: f35823f2-d61f-2bc6-ae54-6630b5ce51ad
* Content: [Control Azure CDN caching behavior with query strings - standard tier](htt

[2021-06-19 16:35] ggailey777 commented on #42256
@anthonychu who's the best person to update the host.json settings table?

[2021-06-19 17:35] AjayKumar-MSFT commented on #76521
@denious, For a single instance case - The instance will be replaced after 1 hour, and if you require instances to be removed from the load balancer we recommend you to scale to >=2 instances.

We’d been discussing on this internally with our product and content team, they’re working on doc enhancements clarifying details on single instance behaviour  and with additional FAQs on the topic. However

[2021-06-19 17:35] #76521 closed

[2021-06-19 17:38] AjayKumar-MSFT commented on #77157
@mattruma, Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review and update the doc as appropriate.

[2021-06-19 18:08] ggailey777 commented on #44791
I can't reproduce this behavior. If you can provide a procedure to reproduce, please open a new issue. #please-close

[2021-06-19 18:08] #44791 closed

[2021-06-19 18:30] samkuls commented on #77092
AjayKumar-MSFT, Sorry for late response, actually we got this issue due to networkPolicy restriction.
Now we have successfully ran Luis on Kubernetes environment.

[2021-06-19 18:30] #77092 closed

[2021-06-19 18:35] #42947 closed

[2021-06-19 18:36] ggailey777 commented on #42947
I've added info about how to use nslookup to view the inbound IP address for a function app. This is apparently the only way to get an inbound IP programmatically.

[2021-06-19 18:41] ggailey777 commented on #74281
I'll tweak the existing note to make this more clear.

[2021-06-19 18:48] ggailey777 commented on #46405
This has been [clarified in docs](https://docs.microsoft.com/azure/azure-functions/functions-premium-plan?tabs=portal#longer-run-duration). Please reopen an issue if it's still not clear to you.

[2021-06-19 18:48] #46405 closed

[2021-06-19 18:55] #74281 closed

[2021-06-19 19:01] vitorpereira opened #77196 "Device tunnel example missing"
User and device tunnels are mentioned but only an example for creating a user tunnel. Can this be completed to include both?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 69495659-b738-98e6-48a5-e8884fc5604d
* Version Independent ID: 08bc7902-2c0d-59ae-021a-510ad170bc44
* Content: [Configure an Always-On VPN user tunn

[2021-06-19 20:43] code-Miracle49 opened #77197 "Claim "bearerToken" specified for the bearer token is not present in the available claims"
I tried to use claim bearerToken to store access token and it worked. However I get an error whenever I want to use the bearerToken in InputClaims, I did everything as demonstrated in the documentation,  still says "Claim "bearerToken" specified for the bearer token is not present in the available claims", but the claim is present in the InputClaims

[2021-06-19 21:39] #44780 closed

[2021-06-19 21:40] ggailey777 commented on #44780
Table updated as suggested. Thanks!

[2021-06-19 22:15] ggailey777 commented on #44457
Now that we have [extension bundles](https://docs.microsoft.com/azure/azure-functions/functions-bindings-register#extension-bundles), you don't need to mess with extensions yourself as long as you have this in the host.json:

[code]

#please-close

[2021-06-19 22:15] #44457 closed

[2021-06-19 23:50] anthonychu commented on #42256
@ConnorMcMahon @davidmrdavid can you please confirm this? I can help with the updating.

[2021-06-20 02:40] jeffzhu1990 opened #77198 "Duplicate with Licenses are missing Service Plan (Exchange Foundation) #76488"
Hello Teams,

The licensee (ENTERPRISE MOBILITY + SECURITY E5 | b05e124f-c7cc-45a0-a6aa-8cf78c946968) still missing the service plan
image

Please help to update that service plan (Exchange Foundation | 113feb6c-3fe4-4440-bddc-54d774bf0318)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c245452-161d-89a1-c026-99a0721c

[2021-06-20 02:40] ibTnJohn commented on #75632
So the questions I hoped the help page would answer are "why?" this feature has been disabled/removed and "for how long?"  Is it coming back?  Removing the page and the link doesn't address those. I'll just follow up with our sales engineer next week.

[2021-06-20 02:59] AjayKumar-MSFT commented on #77191
@felipespas-brz, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-06-20 03:13] AjayKumar-MSFT commented on #77192
@apayero, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-06-20 03:22] AjayKumar-MSFT commented on #77193
<div style="font-family: &quot;segoe ui&quot;, &quot;segoe ui web (west european)&quot;, &quot;segoe ui&quot;, -apple-system, blinkmacsystemfont, roboto, &quot;helvetica neue&quot;, sans-serif; font-size: 10.5pt; color: rgb(50, 49, 48);"><a target="_blank" class="user-mention" data-hovercard-type="user" data-octo-click="hovercard-link-click" data-octo-dimensions="link_type:self" data-hovercard-url

[2021-06-20 03:24] AjayKumar-MSFT commented on #77196
<div style="font-family: &quot;segoe ui&quot;, &quot;segoe ui web (west european)&quot;, &quot;segoe ui&quot;, -apple-system, blinkmacsystemfont, roboto, &quot;helvetica neue&quot;, sans-serif; font-size: 10.5pt; color: rgb(50, 49, 48);"><a target="_blank" class="user-mention" data-hovercard-type="user" data-octo-click="hovercard-link-click" data-octo-dimensions="link_type:self" data-hovercard-url

[2021-06-20 03:28] AjayKumar-MSFT commented on #77197
<div style="font-family: &quot;segoe ui&quot;, &quot;segoe ui web (west european)&quot;, &quot;segoe ui&quot;, -apple-system, blinkmacsystemfont, roboto, &quot;helvetica neue&quot;, sans-serif; font-size: 10.5pt; color: rgb(50, 49, 48);"><a target="_blank" class="user-mention" data-hovercard-type="user" data-octo-click="hovercard-link-click" data-octo-dimensions="link_type:self" data-hovercard-url

[2021-06-20 03:34] KranthiPakala-MSFT commented on #77198
Thank you for reaching out and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2021-06-20 05:07] JavedEqbal opened #77199 "Undelete container with a new container name does not work as expected"
I am trying to restore a container with a new container name and every time it fails with the below error which is unexpected.

**Error -**
Failed to undelete storage container
Failed to undelete storage container 'bootdiagnostics-windows20-739fc4ea-4b4c-4acf-907b-71f6e5b719dd' to 'bootdiad1043'. Error: The value of deleted-container-name header must match the destination container name.

As per t

[2021-06-20 07:05] code-Miracle49 commented on #77197
https://docs.microsoft.com/en-us/azure/active-directory-b2c/secure-rest-api?tabs=windows&pivots=b2c-custom-policy

[2021-06-20 07:32] desarkar opened #77200 "Missing words"
[Enter feedback here]
The sentence under the heading "Lineage granularity" is incomplete.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4efb426-7fa9-da1d-3720-0551a9fe3d72
* Version Independent ID: b3c9ed48-e2a0-3e22-ca47-b99856f451e8
* Content: [Data lineage in Azure Purview (preview) - Azure Purview](https://docs.m

[2021-06-20 08:17] pietronromano opened #77202 "Can't find DedicatedGatewayRequestOptions in the C# API"
Hi there,
I'm trying to implement a DedicatedGateway, using the C# API - however, when I install the latest version of the SDK (3.19), the
DedicatedGatewayRequestOptions object isn't recognized.

So the code in this article, with C# won't compile:
    {
            ConsistencyLevel = ConsistencyLevel.Eventual,
            DedicatedGatewayRequestOptions = new DedicatedGatewayRequestOptions

[2021-06-20 10:04] alansingfield opened #77203 "unused / misleading variable names in ps1 script"
The variable $contextName is declared but never used:
`$contextName            = 'YOUR_CONTEXT_NAME';`

PolicySASToken - it doesn't seem to matter what this is, but the " ? " makes it ambiguous compared to the other YOUR_XXXX items.

`$policySasToken         = ' ? ';`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b45

[2021-06-20 11:04] yanivlavi commented on #38898
I issued a fix and it will be published tomorrow.

[2021-06-20 12:23] KranthiPakala-MSFT commented on #77199
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-06-20 12:24] KranthiPakala-MSFT commented on #77200
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2021-06-20 12:26] KranthiPakala-MSFT commented on #77202
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-06-20 12:27] KranthiPakala-MSFT commented on #77203
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2021-06-20 13:46] biaojiang commented on #20769
This solution doesn't work, when running `dotnet new -i Microsoft.Azure.IoT.Edge.Module`, it said unable to load the service for source http://www.myget.org/F/ghost-score/...

[2021-06-20 13:55] biaojiang commented on #20769
@Alberto-Vega Hi, I followed the _Tutorial: Develop IoT Edge modules with Linux containers_, but just can't install the template of `aziotedgemodule`, so what is the correct command to install it, `dotnet new -i Microsoft.Azure.IoT.Edge.Module` doesn't work, and I can't find it in Azure repo as well, thanks.

[2021-06-20 15:09] nikki-c opened #77206 "The link in the lift hand nav bar APPROVE - AZURE AD links to this page which is about Activate and not approval"
The content of the page is OK however the navigation is wrong.

The link in the lift hand nav bar APPROVE - AZURE AD links to this page which is about Activate and not approval. See screen shot

![image](https://user-images.githubusercontent.com/69439002/122679180-ce110200-d1e1-11eb-8109-b3cfca05370a.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2021-06-20 16:18] SaiKishor-MSFT commented on #77052
@malopMSFT Could you please look into this issue? Thanks!

[2021-06-20 16:19] SaiKishor-MSFT commented on #77124
@asudbring Could you please look into this? Thank you!

[2021-06-20 16:20] SaiKishor-MSFT commented on #77196
@cherylmc Can you please look into this? Thank you!

[2021-06-20 16:24] SaiKishor-MSFT commented on #77175
@anaraju
Did you try clocking on the Download option given in this link as shown in the below snapshot:
<img width="742" alt="Git" src="https://user-images.githubusercontent.com/68254272/122681450-368fbd00-d1a9-11eb-9b0f-feb8c3f68de0.png">

Once you clcik that, it should download a file named ServiceTags_Public.json

[2021-06-20 16:53] asheniam commented on #16061
For VMSS Autoscalesettings, for custom metrics (i.e. App Insights metrics) we are validating the metric metadata does exist in Application Insights.  @shilpasharmaAM - We can look at relaxing this constraint.

[2021-06-20 18:18] johnymachine commented on #16061
Thanks that would be very helpful, you can even use same implementation with skip. Currently it prevents me to fully deploy paloalto firewall, I am guessing this would be the case for more NVAs since they need to scale based on different metrics than those provided by vmss. I could not find good workaround I would preferably push those custom metrics with powershell into appinsights before scalese

[2021-06-20 18:54] emreertugrul opened #77209 "Update aks service principal script is faulty"
There's an error in the document where it states the script to update the service principal:

az aks update-credentials \
    --resource-group myResourceGroup \
    --name myAKSCluster \
    --reset-service-principal \
    --service-principal $SP_ID \
    --client-secret $SP_SECRET

will fail if the $SP_SECRET is not surrounded by double quotes. This will work:

az aks update-credentials \
    --r

[2021-06-20 20:19] PKPublicCode opened #77210 "More details about Always On feature is turned off"
Documentation and appropriate discussion threads have good explanation of how app service behaves when Always On turned on.
Could someone explain behavior when Always On is turned off?

As I understand, if web app not used for a while, it will be unloaded.
But how it will be loaded in case if App Service Plan has several workers. Will it be loaded on all workers immediately? Or will it be loaded o

[2021-06-20 20:26] Shubham-Kumar-2000 commented on #59280
Is there a limit how many cdn Azure CDN Endpoint can we make in 1 account?

[2021-06-20 20:42] KranthiPakala-MSFT commented on #77206
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2021-06-20 20:42] KranthiPakala-MSFT commented on #77209
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2021-06-20 20:43] KranthiPakala-MSFT commented on #77210
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-06-20 23:22] #77191 closed

[2021-06-20 23:25] KranthiPakala-MSFT commented on #77191
A PR for the fix has been submitted, which will be merged within 24hrs.

Thanks for bringing this to our notice helping us improve the doc content.

We will now proceed to close this. Please feel free to comment of you have further queries

[2021-06-20 23:40] ecfan commented on #73756
@simonvane,

Our greatest apologies that so much time has passed since responding. However, the team confirms that deployment slots aren't officially supported. We'll update the language so that the statement is much clearer so there's less confusion. Thanks for raising this issue!

[2021-06-20 23:51] pnarsi commented on #57060
Thanks for confirming. I thought that was the case but I wanted to be sure.

[2021-06-20 23:51] #57060 closed

[2021-06-21 00:21] crawfs opened #77212 ""Access to a private link resoruce using approval workflow" displays incorrect permission format to approve private links"
On the documentation page "What is Azure Private Endpoint?" the section "Access to a private link resource using approval workflow" lists the permission required for automatically approving private links as:

Microsoft.<Provider>/<resource_type>/privateEndpointConnectionApproval/action\

However according to: [Azure resource provider operations](https://docs.microsoft.com/en-us/azure/role-based-ac

[2021-06-21 00:26] crawfs opened #77213 "What permission is required in order to approve private endpoints for Keyvaults?"
According to [Access to a private link resource using approval workflow](https://docs.microsoft.com/en-us/azure/private-link/private-endpoint-overview#access-to-a-private-link-resource-using-approval-workflow) access to approve a private endpoint for a keyvault should follow the format:

Microsoft.<Provider>/<resource_type>/privateEndpointConnectionApproval/action

which for key vaults should be:

[2021-06-21 00:39] take-4c commented on #77085
@ggailey777
@HarshitaSingh-MSFT
Thank you for the prompt update!

[2021-06-21 00:47] #73756 closed

[2021-06-21 00:48] kemurayama commented on #74883
Hi @RyanHill-MSFT , is there any update?

[2021-06-21 01:02] ecfan commented on #73756
@simonvane & @ChaitanyaNaykodi-MSFT: The doc update should go live on June 21 after 11 AM Pacific Time.

[2021-06-21 02:10] GSrikris opened #77214 "azure error 9603"
Error details
Error code
9603
Details
ERROR [08S01] [Microsoft][Amazon Redshift] (10) Error occurred while trying to connect: [SQLState 08S01] could not connect to server: Connection timed out (0x0000274C/10060) Is the server running on host "***-***-**-redshift-rds.c1iaphtcvqvg.us-east-1.redshift.amazonaws.com" (##.##.##.##) and accepting TCP/IP connections on port 5439?

[2021-06-21 02:10] GSrikris commented on #77214
Can you please look into help me to fix connection issue

[2021-06-21 02:53] knssub opened #77215 "How Encryption Managed for Each Customer"
[Enter feedback here]
Hi, Thanks for this nice article, provides great insights. I have a question from a customer of ours, Customer would like to understand how a very unique and individual keys are generated for each customer storage encryption. As I understand, Azure encrypts storage by default using Microsoft managed keys, however, how MSFT ensures that the keys are unique for each storage acc

[2021-06-21 02:56] #76925 closed

[2021-06-21 02:57] #76955 closed

[2021-06-21 03:17] mmacy commented on #73384
@mrochon @jmprieur Hit a delay on this (again), so moving this to ADO for proper internal tracking and to pull up in this month's sprint:

ID | Title | Iteration Path | Area Path
-- | -- | -- | --
[1442321](https://identitydivision.visualstudio.com/Technical%20Content/_workitems/edit/1442321) | [ISSUE][73384] Clarify that Core 5 does not use suffix '2' for same templates as 3.1 | Technical Content

[2021-06-21 03:17] #73384 closed

[2021-06-21 03:58] HarshitaSingh-MSFT commented on #77214
Hello @GSrikris , thank you for reaching out to us! Could you please share the link of the MS Doc you are referring to here?

[2021-06-21 04:02] GSrikris commented on #77214
Hi,

Sorry. I was not following any doc. I was just trying to create a linked service, but unable to.

Regards
Sri

***@***.***D766A6.0828B9D0]
Sri Gurugubelli
Sr Data Engineer
Blackbook.ai | +61 452 458 189 |  ***@***.******@***.***>

From: HarshitaSingh-MSFT ***@***.***>
Sent: 21 June 2021 13:59
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Sri Gurugubelli ***@***.***>; Mention ***@***.***>
Subj

[2021-06-21 04:21] MayankBargali-MSFT commented on #76908
@DrakeNagubandi-2218 Hope the above helps and clears things up. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-06-21 04:21] #76908 closed

[2021-06-21 04:22] MayankBargali-MSFT commented on #77127
@kishorerv25 Just following up here. Hope my previous comment clears things up.

[2021-06-21 04:23] SnehaAgrawal-MSFT commented on #76907
@tnsholding If your query is to how to access the other claims of the user in Azure Static web app then we currently don't have a way for the customer to access the user's claims other than the necessary ones such as id and email/name.

Could you please elaborate on the use cases in which having the full list of claims could be useful so that I reach out to PG on this.

Also, The best way to share

[2021-06-21 04:23] #76907 closed

[2021-06-21 04:35] AshokPeddakotla-MSFT commented on #77017
@phwecker This issue is resolved. Could you please try again now and let us know if you are still blocked.

[2021-06-21 04:40] CHEEKATLAPRADEEP-MSFT commented on #77214
@GSrikris Thanks for creating an issue on MS Q&A platform: https://docs.microsoft.com/en-us/answers/questions/444037/index.html

We are investigating and will update you shortly.

[2021-06-21 04:40] #77214 closed

[2021-06-21 04:53] xsatishx opened #77216 "Exclude a principal from a deny assignment - Examples"
[Enter feedback here]
Hello

The document says the following

Can we also list an example and steps on how to achieve this? A one liner is not really helpful and this should have been part of the blueprint definition itself in the first place.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8741c7bd-2fc5-36cc-eee5-7dff9

[2021-06-21 04:55] v-hagamp commented on #71622
#please-close

[2021-06-21 04:55] #71622 closed

[2021-06-21 05:00] vinay230890 opened #77217 "Please update the document with new feature NTLM Password sync"
Hi Team,

Please update the document with new feature NTLM Password sync as the screenshot is the old one. Also please mention when this feature was implemented.

Regards,
Vinay

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ca07bf8-d285-e7ae-aaf1-a9292bbdf75c
* Version Independent ID: 7694cb10-8eb6-397d-2cbb-4e249556

[2021-06-21 05:12] SwathiDhanwada-MSFT commented on #77216
@xsatishx Thank you  for your feedback.

Assigning to content author @DCtheGeek  for review.

[2021-06-21 05:14] ManasaDevadas commented on #77112
Can you please update the doc?

[2021-06-21 05:15] SrijitBose-MSFT commented on #77180
@bmenas we ave shared the feedback with the doc authors.

[2021-06-21 05:27] SwathiDhanwada-MSFT commented on #77112
@ManasaDevadas  Thanks for bringing this to our notice.

Assigning to content author @bwren for doc-enhancement.

[2021-06-21 05:41] HarshitaSingh-MSFT commented on #77022
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-06-21 05:41] #77022 closed

[2021-06-21 05:59] KalyanChanumolu-MSFT commented on #76998
@gcontrabass Thank you for taking the time to provode feedback.
.Net Core 3.1 is an LTS release and supported until December 2022. More details are [here](https://dotnet.microsoft.com/platform/support/policy/dotnet-core)
Rest assured, the tutorial is still relevant and up to date.

[2021-06-21 06:14] nkumars commented on #77104
Hi @James-Hamil-MSFT, do you have any update on this please?

[2021-06-21 06:55] YutongTie-MSFT commented on #76951
@aahill Hello, could you please share any insight if you have for this issue, thanks a lot.

[2021-06-21 07:10] HarshitaSingh-MSFT commented on #77148
@ToruMakabe, can you please confirm if you are using Azure Arc enabled Kubernetes clusters or not?

[2021-06-21 07:10] 274188A opened #77219 "sample is so out of date it's not funny"
uses web.config - looks like 4 year old asp.net tech

[2021-06-21 07:13] v-hagamp commented on #63401
#please-close

[2021-06-21 07:13] #63401 closed

[2021-06-21 07:15] ToruMakabe commented on #77148
@HarshitaSingh-MSFT I do not use Azure Arc enabled Kubernetes clusters in this context.

[2021-06-21 07:36] Craig-Humphrey commented on #66282
6 months later and this is still the case.

Also ND class are missing except for the ND A100 beast.  Then again, I've yet to find the ND A100 available in a region...

Can we get some clarification as to which GPU is in the NC, NCv2 and ND classes?

[2021-06-21 07:41] v-hagamp commented on #68766
#please-close

[2021-06-21 07:41] #68766 closed

[2021-06-21 07:55] SumanthMarigowda commented on #77215
@knssub
Thanks for the question! We are investigating and will update you shortly.

[2021-06-21 08:02] RohitMungi-MSFT commented on #77089
@JackCaster I can confirm that at the moment these logs from backend are not accessible to user. I could help you with a free support option if you do not have a valid support plan. A service engineer would need to lookup the details from the backend and advise in this case.

[2021-06-21 08:04] serxansherif opened #77222 "AKS Node Pool unique subnet Network Policy"
Hello,

I deployed 3 node pool with a unique subnet in AKS. According to the documentation Calio and Azure Network Policy not supported when we use a unique subnet but It works when implement K8s Network Policy in the AKS cluster. I can implement network restrictions among pods in the AKS cluster.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2021-06-21 08:05] RohitMungi-MSFT commented on #77080
@compuwizpiyu We will now proceed to close this thread as this issues repo mainly addresses doc bugs. Thanks.

[2021-06-21 08:05] #77080 closed

[2021-06-21 08:06] frazhamid commented on #77111
Thank you Martin! That makes sense.

On Fri, 18 Jun 2021 at 17:54, Martin Coetzer ***@***.***>
wrote:

--
Regards,
Fraz

Fraz Hamid
+44 (0) 7870 638885
***@***.***

<http://www.edgentic.com>
www.edgentic.com

[2021-06-21 09:02] SnehaAgrawal-MSFT commented on #77101
@kekatahi Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2021-06-21 09:02] OzBob commented on #76138
@SnehaAgrawal-MSFT sorry - I chose a poor example

I wish to enable all subdomains from a chosen domain.

e.g.
*.google.com
or
*.mydomain.edu.au

[2021-06-21 09:03] SHERMANOUKO commented on #76818
#please-close

[2021-06-21 09:03] #76818 closed

[2021-06-21 09:22] PennyZhou-MSFT commented on #73395
@omeramin After Team Foundation Server 2019, TFS is Azure Devops. For Azure Devops 2019, it support ADF. Which version do you use for Azure Devops  or Team Foundation SERVER?
https://docs.microsoft.com/en-us/azure/devops/server/tfs-is-now-azure-devops-server?view=azure-devops-2020

[2021-06-21 09:36] simonvane commented on #73756
@ecfan Thank you. I'll look forward to seeing the updates.

It'd be really good to understand what about slots makes it unsupported and why. As I mentioned, we have been using slots with them for quite a while now. We did start getting 401 errors but we are now using managed identities for authentication rather than function keys and we are no longer seeing the issue.

We now have to evaluate whet

[2021-06-21 09:38] ChristianGalla opened #77223 "Missing documentation: Analytical store on Azure Cosmos DB SQL serverless accounts currently not available"
According to the solution page when creating a new support request, analytical store on Azure Cosmos DB SQL serverless accounts is currently not available. I assume, that is the reason the Azure Synapse Link feature is not available, too.

Unfortunately, I cannot find any documentation if / when this will be available.
At least on the following documentation pages a hint about this missing feature

[2021-06-21 09:56] damochiz opened #77224 "The host for PyTorch appears to be incorrect in the list of hosts required for pythons"
[Enter feedback here]
The host for PyTorch appears to be incorrect in the list of hosts required for pythons.

wrong:
Host name | Purpose
-- | --
***pytorch.org** | Used by some examples based on PyTorch.

correct:
Host name | Purpose
-- | --
***.pytorch.org** | Used by some examples based on PyTorch.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2021-06-21 10:06] GitaraniSharma-MSFT commented on #77212
@crawfs , thank you for your feedback. We'll review this and get back to you shortly!

[2021-06-21 10:08] JackCaster commented on #77089
I would appreciate that. Thanks.

[2021-06-21 10:11] ladykraken commented on #77089
________________________________
From: JackCaster ***@***.***>
Sent: Monday, June 21, 2021 6:08 AM
To: MicrosoftDocs/azure-docs
Cc: Subscribed
Subject: Re: [MicrosoftDocs/azure-docs] See (and debug) schedules for a pipeline (#77089)

I would appreciate that. Thanks.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub<https://github.c

[2021-06-21 10:19] HarshitaSingh-MSFT commented on #77219
Hello @274188A , thank you for reaching out to us! Could you please share the link of the MS Doc you are referring to here?

[2021-06-21 10:27] javiersoriano opened #77226 "Add Azure Active Directory Identity Protection alerts as free data source"
The table that captures all data sources that are free to ingest is missing the Azure Active Directory Identity Protection alerts which land in the SecurityAlert table and they're free of charge.

Can we fix this?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd5030ed-0c42-3667-38d9-08f1eaefac9b
* Version Independent I

[2021-06-21 10:45] GitaraniSharma-MSFT commented on #76982
@inaun , as the [article](https://docs.microsoft.com/en-us/azure/web-application-firewall/afds/waf-front-door-drs?tabs=drs20#default-rule-sets) mentions:
![image](https://user-images.githubusercontent.com/67630903/122749887-7e970880-d2ab-11eb-8c95-1a1337cf0868.png)

Hence, you only see the initial version numbers in your FrontDoor. The version number is incremented only when new attack signatures

[2021-06-21 10:45] #76982 closed

[2021-06-21 10:56] GitaraniSharma-MSFT commented on #77091
@AgnesLi666 , the doc provides the steps assuming the resources are in the same subscription. But you are correct on the part that - it doesn't clarify the steps for different subscription. Hence, we have assigned this to the content owner/author for review.

@asudbring , could you please add the steps for different subscription as mentioned in the step 8 (b) of this [article](https://docs.microso

[2021-06-21 11:02] GitaraniSharma-MSFT commented on #77122
@AzureAzim , We have assigned this to the content owner/author for review.

@jocortems , could you please review the suggestion and provide your inputs?

[2021-06-21 11:07] ssabat commented on #74563
@rvunen , thanks for feedback.

Reviewed the doc page as per query. We have given error message examples, and recommendations if you run into test connection failures. Next steps links were fixed. You need to have Test Connection success to perform next steps.

#please-close

[2021-06-21 11:07] #74563 closed

[2021-06-21 11:11] Svijay-msft commented on #77025
Thanks for your comment. I have further relayed information to my team and author has already begun with the modification of the documentation to include the clarification based on the above provided feedback.

If there are further questions, please let me know. Alternatively, I proceed with closure if there are not any questions.

[2021-06-21 11:17] GitaraniSharma-MSFT commented on #77131
@sasanmcp , no, you cannot add a NIC to a VM which is part of a separate subscription than the VM or Vnet due to the below constraint mentioned [here](https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-network-interface-vm#constraints):
![image](https://user-images.githubusercontent.com/67630903/122753461-efd8ba80-d2af-11eb-9148-248e65178b31.png)

You can only add the NICs whic

[2021-06-21 11:17] #77131 closed

[2021-06-21 11:18] JackCaster opened #77227 "Use Hyperdrive on full pipeline"
It seems that we can use Hyperdrive to tune hyperparameters that are part of a single step in a pipeline. Is it possible to tune multiple steps (or even the full pipeline) at once?

For example, I have a pipeline defined as:
[code]
Based on my current understanding, I can use Hyperdriver to tune the hyperparameters of my ML model in the `train_model` step based upon some metrics, say validation lo

[2021-06-21 11:22] tnsholding commented on #76907
Hi @SnehaAgrawal-MSFT,
Our B2C flow returns a claim that we would want to show to the user on successful login. If we can't access claims directly we would need to somehow do additional functions calls to somehow get the same information that is already part of the claims.

Further more we would need to call downstream API's from the linked Azure Functions. If we can't access the tokens from withi

[2021-06-21 11:30] ondrejspilkaABB opened #77230 "Missing install xfce4-session"
missing is
`sudo apt install xfce4-session`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 077ee673-528a-d893-5832-7656b91dbec8
* Version Independent ID: 2180e845-1ead-3b47-03be-c26aee00c6f7
* Content: [Use xrdp with Linux - Azure Virtual Machines](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/use-remot

[2021-06-21 11:30] asergaz commented on #76975
@aholler2 I am looking at the best place to file this issue since this team is not responsible to update [Azure Template Reference](https://docs.microsoft.com/en-us/azure/templates/). If you have filed this issue elsewhere could you please share? Thank you!

Fyi @tfitzmac if you can help update the doc or drive the issue to the proper github repo.

[2021-06-21 11:31] SumanthMarigowda commented on #77057
@spissayFirstly, apologies for the delay in responding here and any inconvenience this issue may have caused.
I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. Please provide complete details of the issue.
 We will now proceed to close this thread.

Built-in policy work on the rol

[2021-06-21 11:31] #77057 closed

[2021-06-21 11:34] asergaz commented on #77185
@wesmc7777 can we consider this feedback and add a reference to Kafka?

Thanks

[2021-06-21 11:34] R0st0s opened #77231 "KMSI KeepAliveInDays"
The KeepAliveInDays attribute under the SingleSignOn has no maximum value indicated, yet the documentation it references says "The range for the value is from 1 to 90 days". Also doesn't mention the 0 value to disable the feature.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e3ce49f-746e-9326-9846-32d569558b65
* Ver

[2021-06-21 11:36] GitaraniSharma-MSFT commented on #77144
@rukasakurai , there is no specific reason for the use of 2 Vnets in Scenario 4. In the article, you can see 3 different scenarios with Vnet only model and the most expandable architecture to connect privately to multiple Azure services using private endpoints is scenario 1 where you have a dedicated Vnet for private endpoint as that configuration reduces administrative overhead and prevents runni

[2021-06-21 11:36] #77144 closed

[2021-06-21 11:42] asergaz commented on #77090
Hi @FinitelyFailed , as suggested in the doc, did you check your kernel configuration? What is the result of it? Thanks

![image](https://user-images.githubusercontent.com/22173500/122756291-20a7f800-d28e-11eb-8e95-b6b5e8651d06.png)

[2021-06-21 11:55] #77146 closed

[2021-06-21 11:56] GitaraniSharma-MSFT commented on #77146
@ulkeba , I have updated the correct subresources as AzureBackup & AzureSiteRecovery in the doc and it will be reflected soon.

We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-06-21 11:57] FinitelyFailed commented on #77090
Hi, it seems to be solved now.

I and a number of my colleges had the problem specified in my original post, during the majority of the day.

[2021-06-21 11:57] #77090 closed

[2021-06-21 11:59] asergaz commented on #77090
@FinitelyFailed thanks for sharing. Let me know if it reoccurs as it looks it was a transient issue.

[2021-06-21 12:12] GitaraniSharma-MSFT commented on #76317
@AgnesLi666 , I have tried this script in my lab and received the same error and also as you mentioned correctly, it creates a new Standard Public load balancer without any frontend IP. Hence, we have assigned this issue to the respective product owner for review.

![image](https://user-images.githubusercontent.com/67630903/122759601-c0c64700-d2b7-11eb-99ea-f81f4b909380.png)

@irenehua , request y

[2021-06-21 12:17] JackCaster commented on #77227
I think I found something. [`HyperDriveConfig`](https://docs.microsoft.com/en-us/python/api/azureml-train-core/azureml.train.hyperdrive.hyperdriveconfig?view=azure-ml-py) accepts an argument `pipeline`, which seems to be exactly what I am looking for. Unfortunately, I cannot find much information on how to use this parameter. Any ideas?

[2021-06-21 12:25] npiasecki opened #77232 "Link to page that shows how to enable the AD Recycle Bin"
If someone comes to this page while reading about AD Connect Sync, their next question is "OK, fine, how do I enable it" and it's kind of buried in a link near the top. I think it'd be really helpful if you all snuck in a direct link to https://docs.microsoft.com/en-us/previous-versions/windows/it-pro/windows-server-2008-r2-and-2008/dd379481(v=ws.10) under a headline "How to Enable the AD Recycle

[2021-06-21 12:31] PennyZhou-MSFT commented on #73395
Thanks for your great feedback. For your questions about Azure Devops has been addressed, and the docs about which Azure Devops version not supported will be added to the Doc and released shortly. We'll close out the issue for now, but if you have continued questions, let us know.
#please-close

[2021-06-21 12:31] #73395 closed

[2021-06-21 12:42] ssivas commented on #77213
@crawfs , Thanks for reaching out. We will investigate and update the thread accordingly.

[2021-06-21 12:42] sh4y commented on #11854
This issue was opened night on three years ago, yet unfortunately continues to plague us to this day.

[2021-06-21 12:44] #68661 closed

[2021-06-21 12:44] #43257 closed

[2021-06-21 12:44] #69227 closed

[2021-06-21 12:48] ssivas commented on #77217
@vinay230890 , Thanks for reaching out. We will investigate and update the thread accordingly.

[2021-06-21 12:50] ssivas commented on #77232
@npiasecki , Thanks for reaching out. We will investigate and update the thread accordingly.

[2021-06-21 13:28] PennyZhou-MSFT commented on #74263
The content of firewall in these two documents are almost same, but they are in different category for different purpose.
For this document https://docs.microsoft.com/en-us/azure/data-factory/create-self-hosted-integration-runtime#ports-and-firewalls, Azure Key Vault is only required when you store the credential in Key Vault, so it's not a must to let SHIR VM have outbound connectivity to a AKV.

[2021-06-21 13:29] ssivas commented on #76633
@gozmanyoni @dacevedo12 ,
Hello All,
We are now seeing this scenario succeed! Can you please confirm from your end too? Thanks.

[2021-06-21 13:31] PennyZhou-MSFT commented on #74263
As you question has been addressed, and the document will be updated if needed, we'll close out the issue for now, but if you have continued questions, let us know.
#please-close

[2021-06-21 13:31] #74263 closed

[2021-06-21 13:34] Rvackooij82 opened #77233 "Dynamic groups should be listed as not support as nested groups"
Dynamic Security groups are not support to be nested in other Security groups. Should be added to the list.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe42976d-da2c-c20a-25f1-f1548dcffbfb
* Version Independent ID: fbeaa46b-eff9-b43a-e90e-6486149a3103
* Content: [Add or remove a group from another group - Azure AD](

[2021-06-21 13:34] SrijitBose-MSFT commented on #77209
@emreertugrul Can you please share the error message you got from,

[code]

Also can you please share the version of Azure CLI you are using?

[2021-06-21 13:42] tfitzmac commented on #76975
I have created a work item to update those docs.

[2021-06-21 13:44] RohitMungi-MSFT commented on #77089
@jackcaster Could you please email us your subscription id and URL of this thread to AzCommunity[at]microsoft[dot]com to enable a one time free support request for your subscription. We will let you know more details on how to use the request after we receive your email.

[2021-06-21 13:44] AnuragSharma-MSFT commented on #77223
@ChristianGalla Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-06-21 14:00] JackCaster commented on #77227
I tried to submit a Hyperdriver run as:
[code]
where `pipeline` is one of my published pipelines in the workspace that accepts PipelineParameters to tune. However, I get the error:
[code]
How could I proceed?

[2021-06-21 14:03] InformTechPro opened #77234 "The cache size can be modified - will it make the configuration unsupportable?"
Hello,

Our public document states that the buffer can be modified. A number of customers are interested in the option to allow the agent to handle longer connection interruptions without discarding the data.

Per Ashley Watt the change would make configuration unsupported. We need to clarify supportability of any changes. If the buffer change is not supported, we need to clarify if other options

[2021-06-21 14:04] SaeedAkhter-MSFT commented on #74236
#assign @SaeedAkhter-MSFT

[2021-06-21 14:04] SaeedAkhter-MSFT commented on #76536
#assign @SaeedAkhter-MSFT

[2021-06-21 14:09] rfolkes opened #77235 "There is a typo in the code example for Use the Trace API directly"
There is a typo in the code example for Use the Trace API directly

example in the article:

TelemetryConfiguration configuration = TelemetryConfiguration.CreateDefault();
var telemetryClient = new TelemetryClient(configuration);
telemetry.TrackTrace("Slow response - database01");

Should be:

TelemetryConfiguration configuration = TelemetryConfiguration.CreateDefault();
var telemetryClient = new

[2021-06-21 14:17] ozkoidi commented on #57764
Same issue here, trying to replicate [this workaround](https://github.com/MicrosoftDocs/azure-docs/issues/43257#issuecomment-580668444) using frontdoor instead of CDN but so far no luck. Any suggestions for a workaround or an ETA of when this will be supported?

[2021-06-21 14:25] JackCaster commented on #77089
What URL shall I send?

[2021-06-21 14:26] jocortems commented on #77122
@GitaraniSharma-MSFT @AzureAzim unfortunately I don't have the cycles to add instructions on how to achieve this programmatically, but you are welcome to contribute to the docs!

[2021-06-21 14:36] AlphaSeb commented on #49145
Same here, Windows Server 2016. Azure Marketplace Image. Workaround did work. Why is this not fixed?

[2021-06-21 14:51] ram-msft commented on #77227
@JackCaster Thanks for the question. We are investigating the issue and will update you shortly.

[2021-06-21 14:53] ram-msft commented on #77224
@damochiz Thanks for the feedback! We will review and update accordingly.

[2021-06-21 14:56] VikasPullagura-MSFT commented on #77230
@ondrejspilkaABB
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-06-21 14:58] RDukes425 opened #77236 "Include Azure Monitor as a Dependency for USGov Section"
Can we add a note about Azure Monitor within the USGov dependencies section? I have a customer who reported issues with Metrics reporting after performing Firewall Integration.

Reiterating in the USGov section that the AzureMonitor service tag is required for Metrics would be very helpful.

Thank you in Advance

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2021-06-21 14:59] VikasPullagura-MSFT commented on #77222
@serxansherif
Thanks for your Question! We are currently investigating and will get back on this.

[2021-06-21 15:04] KrishnaG-MSFT commented on #77235
@rfolkes Thanks for your comment! We will review and provide an update as appropriate.

[2021-06-21 15:15] ddobric commented on #71418
@psmanhas IS this issue solved or you are expecting more information?
In fact, it is very simple. Deploy the container to the Germany location and there is no metrics at all.
This is all. Metrics do not work at German locations.

[2021-06-21 15:23] #77183 closed

[2021-06-21 15:26] SatishBoddu-MSFT commented on #20769
Hello @biaojiang

Please make use of this command.

`dotnet new aziotedgemodule --language "C#"`

![image](https://user-images.githubusercontent.com/62923178/122787424-2c81c300-d26a-11eb-8c77-410638b1dfb1.png)

![image](https://user-images.githubusercontent.com/62923178/122787446-31df0d80-d26a-11eb-8971-0fbd79a50df0.png)

[2021-06-21 15:29] rp-msft opened #77237 "Policy on security patches/bug fixes for out of support versions"
[Hello, can the policy on security patches , bug fixes for out of support cluster be clearly stated here for clusters that are not upgraded to supported versions ? ]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7010bd58-42b1-5c90-3253-05deed855be8
* Version Independent ID: c890efb2-cdaf-a3eb-d54f-0e7ccbd4314d
* Conte

[2021-06-21 15:32] JamesTran-MSFT commented on #77231
@R0st0s
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-06-21 15:33] JamesTran-MSFT commented on #77233
@Rvackooij82
Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-21 15:33] Floriszz opened #77238 "Azure Function App runs in an App Service Plan always"
A Function App will also be in a App Service Plan also always, but when the default tier (consumption plan) is chosen a special App Service Plan is selected (Y1:0). This is shown in the Azure Portal in the overview of the Function App Resource. But nowhere really documented by this name. Probably because you have no control over it.
Additionally when you want to select a dedicated App Service Plan

[2021-06-21 15:34] joelverhagen commented on #68661
Hey @SumanthMarigowda, I don't know the answer to my question yet. Was the documentation updated? Based on my own experiments there still are bytes unaccounted for.

[2021-06-21 15:43] biaojiang commented on #20769
Hi, it still doesn't work, I used .NET Core 2.1 SDK and VS code, should I use .NET 3.1 and VStudio 2019 instead?

[2021-06-21 15:51] pholding opened #77239 "Using client credentials grants for daemons/server-side applications with Azure AD B2C"
The documentation in the section titled "Daemons/server-side applications" isn't very clear with regards to how OAuth 2.0 client credentials should be used. It describes a how you can "set up client credential flow using Azure AD and the Microsoft identity platform /token endpoint for an application in your Azure AD B2C tenant", but it is unclear how this should be implemented.

Is this intention

[2021-06-21 15:52] timsander1 commented on #77202
Are you using the preview version or GA SDK version? This option is only available in the latest preview SDK version. Here's a link - https://www.nuget.org/packages/Microsoft.Azure.Cosmos/3.19.0-preview

[2021-06-21 15:54] Rodrigossz commented on #77223
Hello! Thank you for the feedback. Currently you can't enable analytical store in Cosmos DB serverless. This information is located [here](https://docs.microsoft.com/azure/cosmos-db/serverless#using-serverless-resources). But I will update Synapse Link FAQs too. Tks

[2021-06-21 15:54] Rodrigossz commented on #77223
#please-close

[2021-06-21 15:54] #77223 closed

[2021-06-21 15:54] MichaelBrooks-Informatyx opened #77240 ""Resource model" page omits discussion of documents"
This page goes through the various entities in play when using Cosmos DB, but completely fails to discuss the most important - i.e. the document (it's a document database). Indeed nowhere in the entire "Azure Cosmos DB documentation" page hierarchy have I yet managed to find any meaningful discussion of the documents that this database manages. You're clearly assuming that everyone just knows that

[2021-06-21 15:59] SatishBoddu-MSFT commented on #20769
This is what I have on my machine.

![image](https://user-images.githubusercontent.com/62923178/122792215-ce0b1380-d26e-11eb-98dd-30ad54a5edb0.png)

**Please also refer to :** [.NET CLI overview](https://docs.microsoft.com/en-us/dotnet/core/tools/)

[2021-06-21 16:21] MayankBargali-MSFT commented on #76887
@davidmrdavid Appreciates if you can help in confirming this.

[2021-06-21 16:25] mimckitt commented on #50407
#reopen

[2021-06-21 16:35] anastasia-ms commented on #77019
@phwecker Did you make sure to specify your subscription key in the sample code? The map won't render if this is not specified.

[2021-06-21 16:35] DCtheGeek commented on #77216
@xsatishx The JSON code below that paragraph has an example of **properties.locks.excludedPrincipals**.  There are no special additional steps.  If you want to use **excludedPrincipals**, you must add it to the JSON for the blueprint assignment and then create the assignment via REST API using [Assignments - Create or Update](https://docs.microsoft.com/rest/api/blueprints/assignments/create-or-upd

[2021-06-21 16:43] wcneumann219 opened #77242 "Are Identifier and Reply URL required or not?"
This article says that the subject values **may** be required for SP and IDP initiated sessions, but Azure's SAML section requires both but does not make a distinction about what values are required for SP and IDP initiated sessions.

If they are required under all circumstances, then what values are supposed to be entered for Identifier if the Enterprise Application does not support IDP initiated

[2021-06-21 16:45] DCtheGeek commented on #75854
@mmakam2 Thanks for pointing this out.  I've corrected it with an update to the Overview page.  Once that PR merges, this PR will automatically be closed. The content will become live sometime after that during our regular publishing cycle.  Thanks again for the feedback!

#label:"in-progress"

[2021-06-21 16:50] tanwar4 opened #77243 "VMSS instance stuck if the instance is deleted in Custom Script Extension"
I have a VMSS deployed as part of a resource group deployment. I have also configured Custom Script Extensions for VMSS. The script deletes the instance (same instance where Custom script extension is running) if it finds some application issues so that VMSS can set up a brand new instance.

I have noticed a strange behavior in VMSS. All instance but one fails to come up during this process. The s

[2021-06-21 16:50] tnorling commented on #76871
@BretMishler It doesn't matter. `.js` and .`jsx` can both be used, Facebook's own [create-react-app](https://github.com/facebook/create-react-app/blob/master/packages/cra-template/template/src/App.js) chooses to use `.js`. Are you having any specific issues?

[2021-06-21 16:52] #75854 closed

[2021-06-21 17:11] SaurabhSharma-MSFT commented on #77240
<div style="font-family: &quot;segoe ui&quot;, &quot;segoe ui web (west european)&quot;, &quot;segoe ui&quot;, -apple-system, blinkmacsystemfont, roboto, &quot;helvetica neue&quot;, sans-serif; font-size: 10.5pt; color: rgb(50, 49, 48);"><a target="_blank" class="user-mention" data-hovercard-type="user" data-octo-click="hovercard-link-click" data-octo-dimensions="link_type:self" data-hovercard-url

[2021-06-21 17:14] gcontrabass commented on #76998
The tutorial: https://docs.microsoft.com/en-us/azure/azure-maps/tutorial-iot-hub-maps
says:

Quote

End quote

When you try to  do this, .NET Core is not available.

Here is what I get when I try to select the Runtime Stack:
I tried adding a screen shot...
![image](https://user-images.githubusercontent.com/33297043/122800934-5e9a2180-d278-11eb-87c4-5d750f1eea7c.png)

The choices available are:

.N

[2021-06-21 17:18] PatrickFarley commented on #76865
@tshaiman Do you happen to know if this holds true for all cognitive services? If so we could make it into a more general doc

[2021-06-21 17:19] judefelixantony opened #77244 "Unable to redirect to the Mobile App from the Login.microsoftonline once the login is successfull"
We have a mobile app that is running an index.html (inside Mobile as web view page from /resource/html ) as a start-up page. As a need to integrate with Azure Active Directory.

From index.html page, we are forwarding to login.microsoftonline.com with the tenant id and client id (using javascript). So that, user can log in with SSO. once successfully login is done we need to redirect to index.html

[2021-06-21 17:20] batamig commented on #77226
@nayef-yassin - can you help us gather the exact details that we need to add here?
thanks both of you!

[2021-06-21 17:23] hpsin commented on #77244
@jasonnutter - any tips on Xamarin-style development? @oldalton ?

This is a highly specific pattern - you likely need your app to listen for the native client URL manually, then copy the code from the URL on navigation - you can see an example of that in the MSAL iOS and Android SDKs.

[2021-06-21 17:27] judefelixantony commented on #77244
Thanks and need to update that our mobile app is an Hydrid Framework (Created using Oracle MAF) not a native client

[2021-06-21 17:27] shashishailaj commented on #76935
@PatricSten We checked this and found that this was not a Visio diagram but made in paint and PowerPoint. Please use the icon set here. https://docs.microsoft.com/en-us/azure/architecture/icons/ . It contains all the diagrams used in the diagram mentioned.

Thank you.

[2021-06-21 17:27] #76935 closed

[2021-06-21 17:29] stevechanis opened #77245 "Cannot follow the example"
I am trying to use your example on setting a variable. When I add an action 'Variable' is not an option

![image](https://user-images.githubusercontent.com/51676649/122803322-74b5db00-d294-11eb-99e0-4d886b450dcf.png)

![image](https://user-images.githubusercontent.com/51676649/122803414-944d0380-d294-11eb-94e0-24184ef11a9d.png)

So far every example I see to use Logic Apps on the internet doesn't

[2021-06-21 17:30] anastasia-ms commented on #76998
.NET 3.1 is .NET Core. I can update the docs to say ".NET"

[2021-06-21 17:46] himanshusinha-msft commented on #77054
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2021-06-21 17:46] georgewallace commented on #8503
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. We are closing this issue for now, but if you feel that it's still a concern, please respond and let us know. If you determine another possible update to our documentation, please don't hesitate to reach out ag

[2021-06-21 17:46] #8503 closed

[2021-06-21 17:47] crisansou commented on #77054
Hi @himanshusinha-msft ,

Thank you!

[2021-06-21 17:48] wcneumann219 opened #77247 "If the username and the unique identifier are identical set the value to user.mail."
What is the intent of this statement? If the two are identical why should one change the default value? As written, this is needlessly confusing since it makes a recommendation that makes zero sense without additional context.

Essentially, either the statement should be removed if it is meaningless, or an additional sentence is needed to explain why you change the value to user.mail.

---
#### Do

[2021-06-21 17:55] robinsh commented on #74472
hey @philmea Is this one of the articles that is in your current list of things to fix?

[2021-06-21 17:57] georgewallace commented on #16481
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. Though the scope of our feedback channel here on GitHub covers specific documentation fixes, we can help redirect you to the right support channel to get an answer to your question: [Microsoft Q&A](https://docs

[2021-06-21 17:57] #16481 closed

[2021-06-21 17:59] wesmc7777 commented on #75691
@swathipil Thank you for the feedback.  Please accept my apology that no one has contacted you regarding this until now.

Regarding your question about auto-provisioning with Python, please look at the following samples link and see if this provides what you need.

* [DPS Python samples](https://github.com/Azure/azure-iot-sdk-python/tree/master/azure-iot-device/samples/async-hub-scenarios#dps-samp

[2021-06-21 17:59] robinsh commented on #74402
#reassign @wesmc7777

[2021-06-21 18:07] mtillman commented on #77247
#assign @davidmu1

[2021-06-21 18:07] mtillman commented on #77242
#assign @davidmu1

[2021-06-21 18:18] georgewallace commented on #28613
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. Though the scope of our feedback channel here on GitHub covers specific documentation fixes, we can help redirect you to the right support channel to get an answer to your question: [Microsoft Q&A](https://docs

[2021-06-21 18:18] #28613 closed

[2021-06-21 18:21] AjayKumar-MSFT commented on #76618
@arturtamborski, We'd raised a PR (incorporated your feedback), and it's reviewed and merged. The doc will reflect the changes soon. We will close this for now. Thanks again for taking time to share your valuable feedback. Your feedback is highly appreciated.

[2021-06-21 18:21] #76618 closed

[2021-06-21 18:23] #74541 closed

[2021-06-21 18:24] iamHorton opened #77248 "Azure Conditional Access Policy's "Filters for devices (Preview)""
Hello,

I'm looking for guidance on the new Azure CAP feature "Filters for devices (Preview)"

https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/concept-condition-filters-for-devices#supported-operators-and-device-properties-for-filters

It states you can use "extensionAttributes1-15 are attributes that customers can use for device objects. Customers can update any of the

[2021-06-21 18:26] georgewallace commented on #15683
Thanks for providing feedback that helps improve our documentation. This issue has already been resolved and we are closing the issue. #please-close

[2021-06-21 18:26] #15683 closed

[2021-06-21 18:27] ashkickindevelopment opened #77249 "12% fee for refunds should be added to page"
"Microsoft is not currently charging early termination fees for reservation refunds. We might charge the fees for refunds made in the future. We currently don't have a date for enabling the fee."

Microsoft charges a 12% fee for early terminations and takes that from the prorate refund

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2021-06-21 18:35] robinsh commented on #76759
You're right. We don't officially support the C# IoT SDK with the MacOS. It works for many aspects, though, except certificate based authentication. What *IS* supported is C on a Mac. As new features are available, we will update our documentation to match.

[2021-06-21 18:36] georgewallace commented on #12686
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. We are closing this issue for now, but if you feel that it's still a concern, please respond and let us know. If you determine another possible update to our documentation, please don't hesitate to reach out ag

[2021-06-21 18:36] #12686 closed

[2021-06-21 18:39] georgewallace commented on #14029
Thanks for your dedication to our documentation. The IP addresses have been updated numerous times since this issue was opened. If there is still updates needed please let us know, for now we are closing this issue. #please-close

[2021-06-21 18:39] #14029 closed

[2021-06-21 18:40] georgewallace commented on #14934
Thanks for providing feedback that helps improve our documentation. Looking at the section in question, this issue has been resolved and we are closing the issue. #please-close

[2021-06-21 18:40] #14934 closed

[2021-06-21 18:44] georgewallace commented on #17263
Thanks for providing feedback that helps improve our documentation. As the section you reference in this issue no longer exists in the article, we are closing the issue. If you feel the issue still exists, please don't hesitate to let us know. #please-close

[2021-06-21 18:44] #17263 closed

[2021-06-21 18:47] bobleujr commented on #63099
@mrozu did you get the example you gave to work?
[code]
Front Door supports wildcards only at the end

The error I get is
`Pattern must start with a / and the only allowed asterisk is at the end, and asterisk must be preceded by a slash (/*).
`

If I try to add a rule in the rule engine with "contains" for instance, it let's all requests through.

In my example, I am trying to match *-app.mycustom

[2021-06-21 18:48] wesmc7777 commented on #74403
@pesetskyps Thanks. The root certificate is used as show in the [Create an X.509 certificate chain section](https://docs.microsoft.com/azure/iot-dps/tutorial-custom-hsm-enrollment-group-x509#create-an-x509-certificate-chain). Once a root certificate in uploaded and verified, DPS will then trust that certificate and be able to verify any intermediate certificate that is truly signed by it.  I'll tr

[2021-06-21 18:56] bobleujr opened #77250 "Azure Frontdoor configuration subdomain patterns with wildcard"
In continuation of https://github.com/MicrosoftDocs/azure-docs/issues/63099
[code]
Front Door states supporting wildcards only at the end

`Pattern must start with a / and the only allowed asterisk is at the end, and asterisk must be preceded by a slash (/*).
`
If I want to specialize my filtering using a rule with the rule engine, it doesn't seem to properly work.

In my example, I am trying to m

[2021-06-21 18:57] georgewallace commented on #16198
Thanks for your dedication to our documentation. It appears the link is no longer valid. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. We are closing this issue for now, but if you feel that it's still a concern, please respond and let us know. If you determine another possible update to our documentatio

[2021-06-21 18:57] #16198 closed

[2021-06-21 18:59] georgewallace commented on #11808
Thanks for your dedication to our documentation. This article has been retired and no longer is editable. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. We are closing this issue for now, but if you feel that it's still a concern, please respond and let us know. If you determine another possible update to

[2021-06-21 18:59] #11808 closed

[2021-06-21 19:01] codyseavey opened #77251 "Example policies for validate-client-certificate"
The example policies on the page don't seem to valid XML syntax and overall seem to be busted.

<img width="812" alt="Screen Shot 2021-06-21 at 1 58 50 PM" src="https://user-images.githubusercontent.com/12118470/122813793-f90a5d00-d298-11eb-8d10-be9ea2f2af44.png">
<img width="813" alt="Screen Shot 2021-06-21 at 1 59 06 PM" src="https://user-images.githubusercontent.com/12118470/122813797-fb6cb700-

[2021-06-21 19:03] #68518 closed

[2021-06-21 19:03] #69328 closed

[2021-06-21 19:03] #69331 closed

[2021-06-21 19:03] #72244 closed

[2021-06-21 19:06] zr-msft commented on #69331
Thank you @ezYakaEagle442 for the feedback.

We've updated the article to address your feedback and the changes should be available soon.

[2021-06-21 19:06] zr-msft commented on #72244
Thank you @NillsF  for the feedback.

We've updated the article to address your feedback and the changes should be available soon.

[2021-06-21 19:06] zr-msft commented on #69328
Thank you @ezYakaEagle442 for the feedback.

We've updated the article to address your feedback and the changes should be available soon.

[2021-06-21 19:07] zr-msft commented on #68518
Thank you @annerajb for the feedback.

We've updated the article to address your feedback and the changes should be available soon.

[2021-06-21 19:07] georgewallace commented on #24835
Thanks for providing feedback that helps improve our documentation. After reviewing the article, the descriptions have been added and the images have been updated since this issue was opened. The link referenced in this issue no longer exists to verify. It appears this issue has been resolved and we are closing the issue. If you feel this isn't correct, don't hesitate to reach out. #please-close

[2021-06-21 19:07] #24835 closed

[2021-06-21 19:17] robinsh commented on #77004
@asudbring I sent you an e-mail. I was able to verify that China has been added, but since I'm a documentation writer for Azure, I don't know where that page is or even how to update it (if I had permissions). So it would be great if you could do the update for everybody. Thanks!

[2021-06-21 19:22] nayef-yassin commented on #77226
@javiersoriano Thanks for the catch! Will make this change this week :)

[2021-06-21 19:26] tshaiman commented on #76865
@PatrickFarley  I do believe this applies  to all cognitive services , but this is something you will need to check with the engineering team of Cognitive services.

[2021-06-21 19:27] jjasghar commented on #76823
It looks like @paulczar pointed me to this: https://mobb.ninja/docs/quickstart-aro.html#adding-quota-to-aro-account which looks like how to fix the issue. It would be nice if this was in the official docs so future people don't get caught and have to search for an answer.

[2021-06-21 19:28] wesmc7777 commented on #75691
@swathipil If you do need to create individual symmetric key enrollments with Python, I tried the older depreciated library as mentioned in the [TPM python sample](https://docs.microsoft.com/en-us/azure/iot-dps/quick-enroll-device-tpm-python). I changed the code to create a symmetric key individual enrollment and this did work.  You can review my code changes below

[code]

[2021-06-21 19:29] #34944 closed

[2021-06-21 19:34] AjayKumar-MSFT commented on #77036
@rsrinivasanhome, Apologies for the delay!

In the App Service logs, you first need to enable 'Application Logging (Filesystem)' and/Application Logging (Blob).
You may check the "Log steam" for Application logs:
![image](https://user-images.githubusercontent.com/44606227/122817443-867b9a80-d2f5-11eb-95a2-108fc27e5b97.png)

Also, you can send Application logs  (AppServiceAppLogs) to Azure Monitor:

[2021-06-21 19:36] James-Hamil-MSFT commented on #77104
Hi @nkumars , I've escalated this issue and am awaiting a response. I will let you know as soon as I hear back.

Best,
James

[2021-06-21 19:38] wesmc7777 commented on #75691
#reassign wesmc7777

[2021-06-21 19:41] JamesTran-MSFT commented on #77247
@wcneumann219
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-06-21 19:42] JamesTran-MSFT commented on #77242
@wcneumann219
Thanks for your feedback! We've assigned this issue to the author who will investigate and update as appropriate.

[2021-06-21 19:47] cynthn commented on #65087
#reassign @kof-f

[2021-06-21 19:48] cynthn commented on #70113
#reassign @kof-f

[2021-06-21 19:50] cynthn commented on #71048
#reassign @kof-f

[2021-06-21 20:00] tshaiman commented on #76865
even if you are planning a big change around all cognitive services api , that might take time
the misleading instruction
"The api-key is the sole mechanism for authenticating access to your search service endpoint"
should be removed

[2021-06-21 20:06] ChaitanyaNaykodi-MSFT commented on #76913
Hello @kwill-MSFT,
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-06-21 20:23] mpdavis21 opened #77257 "The syntax for the command to Disable authorized IP ranges and Find need to be updated."
Hello,
I wanted to mention there are two small syntax errors in the section to Disable authorized IP ranges as well as the one listed to Find existing authorized IP ranges.  I have listed the error and the fix below for both commands.

the command below does not work to Disable authorized IP ranges.
az aks update --resource-group myResourceGroup --name myAKSCluster --api-server-authorized-ip-range

[2021-06-21 20:33] najohnson-msft opened #77258 "api-management-howto-setup-delegation.md contains an out of date video that includes depricated feature"
The video that is on this page includes depricated API calls and is overall outdated. Request we remove this video as soon as possible to avoid any misunderstanding/mixed messaging on our documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ca841cb-5a8f-ca9a-ec92-d088f43e0401
* Version Independent ID: a56f0f3

[2021-06-21 20:34] Grace-MacJones-MSFT commented on #77234
Hi @InformTechPro, Thank you for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

[2021-06-21 20:35] JamesTran-MSFT commented on #77116
@jogikalpesh
Thank you for the quick and detailed response! Can you try using the wildcard (*) to see if that helps resolve your issue?

I was able to reproduce your issue, and was only able to verify my subdomain within another AzureAD tenant by using the "*" for the Alias/host name.

![image](https://user-images.githubusercontent.com/36619112/122824289-50a6c980-d295-11eb-9faa-923faedb32eb.png)
!

[2021-06-21 20:37] Grace-MacJones-MSFT commented on #77236
Hi @RDukes425 , thanks for the feedback! We are currently investigating and will update you shortly.

[2021-06-21 20:41] vladvino commented on #77251
@dlepow please take a look.

[2021-06-21 20:43] Grace-MacJones-MSFT commented on #77237
thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update as appropriate

[2021-06-21 20:47] JamesTran-MSFT commented on #77170
@mrochon
Thank you for your time and patience!

Based off our documentation, it looks like sequence matters, due to the fact that the Preconditions element is within the OrchestrationSteps element.
![image](https://user-images.githubusercontent.com/36619112/122825431-c6f7fb80-d296-11eb-8c91-0088c6f62232.png)

When it comes to "one specifying that the action **should be skipped if the condition is

[2021-06-21 20:47] Grace-MacJones-MSFT commented on #77238
Hi @Floriszz, thanks for the information. Is there specific actionable feedback you have for this doc?

[2021-06-21 20:48] Oury-MSFT commented on #77035
@shubhi97 It is been some time since we've heard from you -does this mean your issue is resolved? We are going to assume as such and close out this git Issue but please feel free to comment on the thread. Thanks

[2021-06-21 20:48] #77035 closed

[2021-06-21 21:03] VanMSFT commented on #77134
Hi @rohitnayakmsft - Can you please help clarify? Thanks!

[2021-06-21 21:04] Lucas-MSFT opened #77259 "Connecting to an AGIC on a different subscription from AKS Ingress"
I confirmed with a customer that even though there is no documentation, we can enable cross subscription connection between an AGIC and an AKS Ingress, but this does require an additional step. If we have the AGIC on Subscription A and the AKS on Subscription B but running both under the same user, when installing aad-pod-identity the MIC and NIC from aad-pod-identity will fail with a missin permi

[2021-06-21 21:06] malopMSFT commented on #77052
clarification on supported SKU/Kinds is listed on this [page](https://docs.microsoft.com/en-us/azure/private-link/availability)

[2021-06-21 21:11] MarileeTurscak-MSFT commented on #77149
@jeevansd the suggestion is to get rid of step 16 - do you agree with this?

[2021-06-21 21:16] coulsonr commented on #77251
Trying to adjust the samples in the documentation, I found this works:

`<validate-client-certificate validate-revocation="true" validate-trust="true" validate-not-before="true" validate-not-after="true" ignore-error="false">
    <identities>
        <identity subject="C=US, ST=Illinois, L=Chicago, O=Contoso Corp., CN=*.contoso.com" />
    </identities>
</validate-client-certificate>`

but I can't

[2021-06-21 21:33] MikeSQ opened #77260 "JavaScript example for trackMetric not working"
I was playing around with the API to see what was possible, but got hung up on the sample for the JS API. It says you should be able to do this:
`appInsights.trackMetric("queueLength", 42.0);`

But when I do that it responds with `{"index":0,"statusCode":400,"message":"106: Field 'value' on type 'DataPoint' is of incorrect type. Expected: number, Actual: undefined"}`

Looking at the readme on the

[2021-06-21 21:38] AwdotiaRomanowna opened #77261 "wrong log filename convention"
hi, The naming convention of the log is not postgresql-yyyy-mm-dd_hh0000.log

but as shown in the log_filename parameter:
          log_filename
--------------------------------
 postgresql-%Y-%m-%d_**%H%M%S**.log

![image](https://user-images.githubusercontent.com/17368813/122830919-5af2b300-d2e9-11eb-92d8-f816fff214a4.png)

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2021-06-21 21:45] JamesTran-MSFT commented on #77233
@Rvackooij82
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2021-06-21 21:45] #77233 closed

[2021-06-21 21:51] pochiraju commented on #77034
hello,
Please contact us @ DMSFeedback@microsoft.com that we can help you optimal migration plan that work for your scenario.
Thanks
raj

[2021-06-21 21:51] pochiraju commented on #77034
#please-close

[2021-06-21 21:51] #77034 closed

[2021-06-21 21:52] femsulu commented on #75885
Hello @TaniyaModi, sorry for the delayed response. Adding @tfitzmac to explore possible revisions to clarify this section of the doc.
Regarding your suggestion for a validaton checkpoint feature. I think this is a good idea and recommend [posting directly ](https://feedback.azure.com/forums/216843-virtual-machines?query=migrate)to the VM featre team for deeper review. It also allows other communit

[2021-06-21 21:55] VanMSFT commented on #77134
https://docs.microsoft.com/en-us/azure/azure-sql/database/security-best-practice#configure-my-client-to-connect-securely-to-sql-databasesql-managed-instance

[2021-06-21 21:57] femsulu commented on #75885
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-06-21 21:57] #75885 closed

[2021-06-21 22:00] jcruiz commented on #76821
thank you for your feedback and suggestion @jengel. We'll update the images and update the issue when it's done.

[2021-06-21 22:03] jcruiz commented on #76469
@thisisraghavkumar is this still an issue? can you point out on what part of the tutorial is the issue poping up if it's still recurrent?

[2021-06-21 22:08] femsulu commented on #76186
Sorry for the late update on this. redirecting to @tcare for deeper review since it is a doc-enhancement request.

Cheers.

[2021-06-21 22:11] jeevansd commented on #75310
@jgcjoec Yes 64 bit Windows is required here. You can also see this requirement on the Atlassian website for installing the server version.

[2021-06-21 22:11] jeevansd commented on #75310
#please-close

[2021-06-21 22:11] #75310 closed

[2021-06-21 22:12] tcare commented on #76186
This should be fixed by the recent updates by @bjcmit. Can you pull the latest version of the repo and check the variables again (the suggested values have been updated)

[2021-06-21 22:13] jeevansd commented on #75227
@legendgod This documentation which you are referring here is the 3rd Party product and I dont think MS has attendance management. But I will point my education specialist colleagues here who can confirm on the availability of the MS product for the same.

[2021-06-21 22:23] mike-urnun-msft commented on #77258
Hi @najohnson-msft - Thank you for your feedback! We will review and update as appropriate.

[2021-06-21 22:46] ESharpAxe opened #77263 "Changing user states"
In the fourth paragraph, I have no idea what is meant by "Changing user states".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4cb129d2-9594-bf0c-5946-982f0ed0d888
* Version Independent ID: 6522b038-6853-3552-55c8-f174cf56573d
* Content: [Enable per-user Multi-Factor Authentication - Azure Active Directory](https://do

[2021-06-21 22:47] ChaitanyaNaykodi-MSFT commented on #77245
Hello @stevechanis, thank you for providing the feedback. The option will show up when you search for `variables` instead.

![image](https://user-images.githubusercontent.com/67453298/122836708-99677e00-d2a7-11eb-8135-9a6668ae19d7.png)

We have assigned this issue to the author to review further and take the next course of action.

Hello @ecfan we might need to update the screenshots on this doc t

[2021-06-21 22:47] mimckitt commented on #50407
#please-open
#reassign: @srijang
#assign: @linuxelf001

[2021-06-21 22:48] mimckitt commented on #50407
#assign: @srijang

[2021-06-21 23:02] jeevansd commented on #77151
@v-rant and @v-hagamp Can you please confirm this with Solarwinds team and then update the document accordingly?

[2021-06-21 23:02] jeevansd commented on #77149
@JohnMoor I agree with you here. We can remove that step.

[2021-06-21 23:03] jeevansd commented on #77149
@v-hagamp and @v-rant Can you please retest the app and update the instructions accordingly?

[2021-06-21 23:11] mrochon commented on #77170
Thanks. I am not concerned about sequence of individual elements in a journey step but just about the sequence of preconditions and their effect.
Example:
Precondition1: Claim 'user is manager' equals 'true' ==> Skip this step (skip this step == true)
Precondition2: Claim 'user is new' equals 'true' ==> Do not skip this step (skip this step == false)

Will this step be skipped if user is manager a

[2021-06-21 23:35] cherylmc commented on #67390
The screenshot in the main QuickStart is updated to show this. Thanks! #please-close

[2021-06-21 23:35] #67390 closed

[2021-06-21 23:41] JasonWHowell commented on #76903
It appears the docs were updated with the latest details by @jainleishen
Closing this issue assuming that is a sufficient fix. If there is additional feedback, let us know.

Thanks, Jason
#please-close

[2021-06-21 23:41] #76903 closed

[2021-06-21 23:42] #75691 closed

[2021-06-21 23:43] JamesTran-MSFT commented on #77263
@ESharpAxe
Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-21 23:43] JasonWHowell commented on #76991
It seems like the feedback has been handled. I'll close the issue for now, assuming there's not any additional follow-up needed, but let us know if that's incorrect. Thanks! Jason
#please-close

[2021-06-21 23:43] #76991 closed

[2021-06-21 23:47] cherylmc commented on #74198
Thanks! I've created the PR to update. You should see this published this week.

[2021-06-21 23:47] cherylmc commented on #74198
#please-close

[2021-06-21 23:47] #74198 closed

[2021-06-22 00:38] femsulu commented on #76612
@twright-msft can you help clarify the  need for 'scope' in these Azure CLI cmds?

[2021-06-22 00:41] #76031 closed

[2021-06-22 00:44] femsulu commented on #77234
Redirecting to doc-author for further review of this request.

[2021-06-22 00:59] BharathNimmala-MSFT commented on #77260
@MikeSQ Thank you for taking time to share your feedback, assigned this issue to our document author @lgayhardt to further review your feedback and enhance the document accordingly.

[2021-06-22 00:59] mirsky72 opened #77264 "Mapping Data Flow With MI"
So, if I understand this correctly, Instill cannot use a mapping data flow in a secure fashion when the data source or target is a Managed Instance since I would still need to use a self hosted IR to connect to the Managed Instance?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b7d5707-9f14-db2b-00fb-5edd7bbcd06f
* V

[2021-06-22 01:00] BharathNimmala-MSFT commented on #77249
@ashkickindevelopment  Thank you for taking time to share your feedback, assigned this issue to our document author @bandersmsft to further review your feedback and enhance the document accordingly.

[2021-06-22 01:10] mirsky72 opened #77265 "Secure mapping data flow with managed Instance as target"
So, if I understand this correctly, I still cannot use a mapping data flow in a secure fashion when the data source or target is a Managed Instance since I would still need to use a self hosted IR to connect to the Managed Instance?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b7d5707-9f14-db2b-00fb-5edd7bbcd06f
* V

[2021-06-22 01:18] legendgod commented on #75227
This document contains so much details about the setup. Even it is a 3rd party product I think it is a good reference and worth to keep. If the author can provide the link of this "3rd party" product it would be helpful.

There are so many outdated or incorrect content in 365 & Azure documentation that drive me crazy.  =(

[2021-06-22 01:29] SamaraSoucy-MSFT commented on #77133
The doc is only for dedicated pools not connected to a Synapse workspace. Those do use an Azure SQL server as a parent resource. You should be able to create a restore point using the Synapse version of this command `New-AzSynapseSqlPoolRestorePoint` ([doc](https://docs.microsoft.com/en-us/powershell/module/az.synapse/new-azsynapsesqlpoolrestorepoint?view=azps-6.1.0)).

You may have ended up here

[2021-06-22 01:31] #77133 closed

[2021-06-22 01:42] Oury-MSFT commented on #77261
@AwdotiaRomanowna  Thank you for your feedback. We are reviewing this and will get back shortly. Thanks

[2021-06-22 01:57] SnehaGunda commented on #76509
@kamyker I added some clarity to the doc. Changes will be live when the above PR is merged. We will now close this issue.

#please-close

[2021-06-22 01:57] #76509 closed

[2021-06-22 02:08] cherylmc commented on #74868
Thanks! I've updated the screenshot and you'll see the change sometime this week. #please-close

[2021-06-22 02:08] #74868 closed

[2021-06-22 02:17] mmacy commented on #76180
New functionality for PRMerger bots - we can reopen our own issues! #please-open

[2021-06-22 02:18] cherylmc commented on #55630
Hi! The shortcut key behavior is not specific to using Bastion, it's typical to any RDP connection. I can make a note in the docs referring to that. Thanks! #please-close

[2021-06-22 02:18] #55630 closed

[2021-06-22 02:42] Karishma-Tiwari-MSFT commented on #77156
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2021-06-22 02:42] #77156 closed

[2021-06-22 02:45] Karishma-Tiwari-MSFT commented on #77257
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-06-22 02:45] Karishma-Tiwari-MSFT commented on #77257
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-06-22 02:46] Karishma-Tiwari-MSFT commented on #77168
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-06-22 02:49] Karishma-Tiwari-MSFT commented on #77243
Thanks for your question. Please provide us with the link to the documentation you are referring to so we can better assist.
The scope for these doc issues is to help identify gaps and issues with the documentation.
Else, if you are looking for help with debugging issues, I would suggest reaching out to the [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/topics/azure-virtual-machines.html

[2021-06-22 03:07] vipulsparsh commented on #77206
@nikki-c Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-06-22 03:11] CHEEKATLAPRADEEP-MSFT commented on #77265
@mirsky72  Thanks for the question! We are investigating and will update you shortly.

[2021-06-22 03:12] CHEEKATLAPRADEEP-MSFT commented on #77264
Duplicate of #77265

[2021-06-22 03:12] #77264 closed

[2021-06-22 03:15] cherylmc commented on #33515
Addressed in a different PR. Thanks! #please-close

[2021-06-22 03:15] #33515 closed

[2021-06-22 03:25] cherylmc commented on #40861
I'm not sure exactly what steps you are doing when resizing. For full screen, on the left while connected, click the two arrows and you'll get the menu showing a box. Click that for full screen. To exit from full screen, click escape on your keyboard. Are those steps resulting in Bastion logging you out? Or are you using different steps?

[2021-06-22 04:33] zenkpr commented on #73713
Hi,

I had the same issue and resolved by going thru this session "https://docs.microsoft.com/en-us/azure/migrate/migrate-support-matrix-vmware-migration#vmware-requirements-agentless" (assigning the VMware level permissions)

Thanks
Rajesh K P

[2021-06-22 04:33] HarshitaSingh-MSFT commented on #77219
Hello!
Just checking to see if you have had a chance to see the previous response.

[2021-06-22 04:42] CHEEKATLAPRADEEP-MSFT commented on #77072
@72911e  Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2021-06-22 04:42] #77072 closed

[2021-06-22 04:47] VikasPullagura-MSFT commented on #66282
@vikancha-MSFT Can you please check and add your comments on this.

[2021-06-22 04:54] amanmcse commented on #77239
@pholding Thank you for your feedback . We will investigate and update the thread further.

[2021-06-22 04:56] amanmcse commented on #77248
@iamHorton  Thank you for your feedback . We will investigate and update the thread further.

[2021-06-22 05:07] AurimasNav opened #77269 "Importing existing certificates"
I want to use KeyVault to manage certificates from DigiCert, but I already have an existing DigiCert certificate that was issued not via KeyVault.
Is it possible to import an existing DigiCert certificate in a way where I would be able to use auto-renewal.
If yes - how? If no - maybe add an FAQ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2021-06-22 05:11] 274188A commented on #77219
i'm referring to this sample:
https://github.com/Azure-Samples/active-directory-b2c-dotnet-webapp-and-webapi

[2021-06-22 05:27] JamesTran-MSFT commented on #77269
@AurimasNav
Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-22 05:28] Craig-Humphrey commented on #66282
FYI I figured out the ND A100, it's referred to as ND96asr v4 in the pricing calculator.

I've managed to piece together info from different MS pages and have:

- NCXXas T4 v3 - has the T4 CPU, though it doesn't get scaled until you hit the NC64as T4 v3, when you suddenly get 4 GPUs (hopefully this was a type-o on the info page - I haven't tested it)
- NCXX (v1) & NCXX Promo - has the K80
- NCXXs

[2021-06-22 05:31] shubhi97 commented on #77035
@Oury-MSFT yes I have sent the mail but issue hasn't resolved yet it is in process.

[2021-06-22 05:50] GitaraniSharma-MSFT commented on #77250
@bobleujr , thank you for your query. We'll review this and get back to you shortly!

[2021-06-22 05:52] GitaraniSharma-MSFT commented on #77259
@Lucas-MSFT , thank you for your feedback. We'll review this and get back to you shortly!

[2021-06-22 05:53] BharathNimmala-MSFT commented on #76953
@InformTechPro Apologies for delay in getting back to this thread. We do really appreciate for sharing your observation and feedback, we will take this further as a backlog item with our document authoring team and our Product team and evaluate the feedback and see how we can incorporate to any of our existing document .

As called out we will take this as backlog item for upcoming sprints. Thanks

[2021-06-22 05:53] #76953 closed

[2021-06-22 06:03] jijeeshme opened #77270 ""cannot mount xxxxx read-only" error."
I tried to set up the mount for Azure DL storage to as per the below steps and getting "cannot mount xxxxx read-only" error.

- Used same Vnet for both storage & VM
- Blob Storage enabled NFS option

[ADLS NFS](https://docs.microsoft.com/en-us/azure/storage/blobs/network-file-system-protocol-support-how-to?tabs=azure-powershell )

Command Used:
`:/mnt# mount -o sec=sys,vers=3,nolock,proto=tcp <myA

[2021-06-22 06:04] SrijitBose-MSFT commented on #77222
@serxansherif , Thank you for your feedback. Currently not all network policy features are supported with Calico and Azure Network Policy on AKS node pools with unique network policy. For example, network policies that allow traffic between pods scheduled on nodes in different subnets.

[2021-06-22 06:17] v-hagamp commented on #71046
#please-close

[2021-06-22 06:17] #71046 closed

[2021-06-22 06:29] memark opened #77271 "Add to existing workspace?"
This article explains how to add an SQL pool to a _new_ workspace. What about adding to an existing one?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d886e8a3-03e1-14da-1150-c3b311ae99d3
* Version Independent ID: a54e5068-bf95-f89e-d889-e1e082b55b9d
* Content: [Enabling Synapse workspace features on a dedicated SQL p

[2021-06-22 06:30] #77025 closed

[2021-06-22 06:33] AshokPeddakotla-MSFT commented on #77165
@saseiler I have assigned the issue to the content author @kgremban to evaluate and update the doc as appropriate.

[2021-06-22 06:47] v-hagamp commented on #76204
#please-close

[2021-06-22 06:47] #76204 closed

[2021-06-22 06:47] SaiKishor-MSFT commented on #76879
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-06-22 06:47] #76879 closed

[2021-06-22 06:48] SaiKishor-MSFT commented on #76880
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-06-22 06:48] #76880 closed

[2021-06-22 06:49] v-hagamp commented on #76496
#please-close

[2021-06-22 06:49] #76496 closed

[2021-06-22 06:49] SaiKishor-MSFT commented on #77175
@anaraju Any update?

[2021-06-22 06:54] AdCCooN commented on #77113
Sorry for my late reply on your request, I was in vacation.
So creating a new build for VS and running it in debug gives the following errors now:

`Exception thrown at 0x00007FFFA26C3498 (ntdll.dll) in Hololens.exe: 0xC0000008: An invalid handle was specified.`

with the call stack:

[code]

followed by:

`ucrtbase.pdb not loaded`

with exception

`Unhandled exception at 0x00007FFFA178C2F8 (ucrtb

[2021-06-22 07:00] jungwookim commented on #76875
edited the original comment. I've matched `for-else` instead of `if-else`.

[2021-06-22 07:05] AjayKumar-MSFT commented on #77036
@rsrinivasanhome, Since there is no doc update, we will close this for now. If you have any questions, please just let us know. Thanks again for your feedback.

[2021-06-22 07:05] #77036 closed

[2021-06-22 07:20] truekonrads opened #77272 "Outdated screenshots"
The screenshots on this page are outdated - the properties window looks much different.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 186c0697-792a-a913-1baa-0af86f7ef6de
* Version Independent ID: 330e7927-57fd-75e2-26b1-05bd2e8f30c1
* Content: [Create an Azure AD tenant for P2S VPN connections: Azure AD authenticatio

[2021-06-22 07:32] v-hagamp commented on #65477
#please-close

[2021-06-22 07:32] #65477 closed

[2021-06-22 07:36] HarshitaSingh-MSFT commented on #77147
We have made this change and it is reviewed. Please stay tuned for it to be live.

[2021-06-22 07:38] HarshitaSingh-MSFT commented on #77219
Please create your issue here: https://github.com/Azure-Samples/active-directory-b2c-dotnet-webapp-and-webapi/issues. Since, this issue is related to that repo and project.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-06-22 07:38] #77219 closed

[2021-06-22 07:40] andrewrlee opened #77273 "Cannot create Organisation Only registration reply URL with wildcards"
I suspect maybe the documentation here is out of date.

When I try to create a new registration for a development environment that is set to "My organization only" with a wild card URL it fails saying that the URL must not have wildcards.

I also get an error when trying to update the manifest to use a wildcard for the same registration:

Thanks
Andy

---
#### Document details

⚠ *Do not edit this

[2021-06-22 07:46] priyankareddy20 opened #77274 "Windows 10 Supported Browsers - Microsoft Edge, Internet Explorer, Chrome"
When I did testing, IE was not supported and Firefox is supported which is not mentioned here..Kindly update the document

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 625bb1b2-81fd-9804-c0b5-3cd2904decd9
* Version Independent ID: e4468b05-200e-24ae-75e9-29fb2b3a6ddc
* Content: [Conditions in Conditional Access policy

[2021-06-22 07:55] v-hagamp commented on #67078
@stout27
Does Certify support the mobile application? If yes, do we need to add that mobile steps in the document?
Please share us the test account with admin rights for Certify then, we'll update the document accordingly.

[2021-06-22 07:58] jitendraRai opened #77275 "B2C: For Public access level, select Blob, then OK"
Customer is getting error : 409 - -Public access is not permitted in this storage account

Reference SO:- https://stackoverflow.microsoft.com/questions/263483

Update document to not provide public access when custom html page upload to the Blob container.

![image](https://user-images.githubusercontent.com/4159689/122886492-a47ce580-d35d-11eb-84d5-1bcfcd958c36.png)

---
#### Document Details

⚠ *

[2021-06-22 08:23] J-a-k-o-b opened #77278 "Please clarify the outcome of the "Remove external user" setting"
Hi,

please clarify the outcome of the Setting "Remove external user" for preexisting Guest Users and Guest Users invited through an  Access Package Approval.
How will Azure AD Recognize the difference and what can be expected. Right now there is the official Description in the AAD Entitlement Mangement Portal which says:
![image](https://user-images.githubusercontent.com/46894290/122887859-928d49

[2021-06-22 08:48] rsrinivasanhome commented on #77036
Is storage to blob must for the feature to work. Have you used - System.Diagnostics.Trace.TraceError("Hello World"); ?
Can you confirm this @AjayKumar-MSFT

[2021-06-22 08:52] amanmcse commented on #77239
@pholding As of now, Client Credentials flow is not supported with B2C. This means, you cannot use user flow or custom policy to acquire token using client credentials. The b2clogin.com domain can only be used when you are using user flow or custom policy.

In order to use Client Credentials flow, you need to use standard Azure AD functionality of the B2C tenant. Which means, you will need to use

[2021-06-22 08:55] rsrinivasanhome commented on #77036
for me System.Diagnostics.Trace.TraceError("Hello World")  is not printing the logstream .  Is blob configuration a must ?

[2021-06-22 09:02] Triazic commented on #49245
Confirmed. Magically fixed by upgrading to B2. Will test downgrading tomorrow.

[2021-06-22 09:05] jsuarezm commented on #40861
Hi. The resize is with the browser. We are to log in to the server through Bastion --> RDP. When the browser is resized, the session logs out.

[2021-06-22 09:13] ReynaersICTinternal commented on #10766
This is still an open issue, noticed these logins today and last week.

[2021-06-22 09:47] GitaraniSharma-MSFT commented on #77272
@truekonrads , thank you for your feedback. We have assigned this issue to the respective product owner for updating the doc accordingly.

@cherylmc , please update the screenshot of Properties window in [step 3](https://docs.microsoft.com/en-gb/azure/vpn-gateway/openvpn-azure-ad-tenant#enable-authentication) as it has changed to below:

![image](https://user-images.githubusercontent.com/67630903/

[2021-06-22 10:01] pholding commented on #77239
@amanmcse Thanks for the clarification.

Would it be possible to get the Daemons/server-side applications section of the documentation updated to make it clear that the call should be made using https://login.microsoftonline.com as I suspect I'm not the only person who's found this confusing given that other elements of Azure AD B2C documentation state that https://login.microsoftonline.com is bei

[2021-06-22 10:46] AshokPeddakotla-MSFT commented on #77017
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-06-22 10:46] #77017 closed

[2021-06-22 11:04] solmon commented on #47644
I am too stuck at this geo filtering from WAF and Azure Application Gateway.. any help please.

[2021-06-22 11:21] v-anvari opened #77280 "Tutorial chain-azure-functions-data-using-bindings"
Hi Team,

This is a duplicate issue of https://github.com/Azure/Azure-Functions/issues/1885

This issue is yet to be fixed in the Microsoft - Learn. Please do the required

[2021-06-22 11:34] judefelixantony commented on #77244
Guys any suggestion or help if highly required

[2021-06-22 12:03] JayaChatterjee-MSFT commented on #77002
@lipalath-ms We will now proceed to close this thread as there is no document enhancement required. Should you need any further assistance, I would suggest you to leverage channels/ communities like Stack Overflow, Microsoft QnA etc.

[2021-06-22 12:03] #77002 closed

[2021-06-22 12:06] SrijitBose-MSFT commented on #76629
@RonnieQuan , is there any further query on this?

[2021-06-22 12:16] CHEEKATLAPRADEEP-MSFT commented on #77271
@memark, This article talks about enabling Synapse workspace features on an **existing dedicated SQL pool (formerly SQL DW)**.

![image](https://user-images.githubusercontent.com/79183421/122922740-9345d000-d381-11eb-89cb-bd151972cd72.png)

Not about adding an SQL pool to a new workspace.

If you already have a synapse workspace, you can create SQL pool from the workspace.

![image](https://user-i

[2021-06-22 12:17] hauthorn commented on #69263
You might want to update [this page](https://docs.microsoft.com/en-us/azure/active-directory-b2c/tutorial-create-tenant), as I've been through 2 subscriptions now getting this to work.

[2021-06-22 12:19] patanric opened #77283 "docker-compose container ip configuration does not pick up the ip address"
Hi, every time I docker-compose up with the configuration provided on this page I get another ip address for my Cosmos DB container. I use "172.21.83.0/24" and 172.21.83.126 but the container never has 126. I use Docker Desktop 3.4.0.
So, it looks like the configuration in the documentation does not work.
Edit: I tried both `docker-compose` and `docker compose` (without dash)

---
#### Document De

[2021-06-22 12:30] bobleujr commented on #77250
The issue was with the time it took for the change to be effective, but it works. I am closing this

[2021-06-22 12:30] #77250 closed

[2021-06-22 12:33] pietronromano commented on #77202
Hi there,
Many thanks for getting back to me. I've installed the latest 3.20.0-preview and that does allow me to reference the Gateway properties.

FYI, I've configure everything to use the Gateway but get the errors below on trying to retrieve a record - any guidance you can give would be very appreciated:

- endpointUri: https://ceresgridcosmosdb.sqlx.cosmos.azure.com:443//, connectionMode: Gate

[2021-06-22 12:47] bobleujr commented on #51284
If I try to "Add a record" > "*" > type CNAME or A using Alias Record Set, pointing to a Front Door, it won't let me. As shown in the image below

<img width="425" alt="Screen Shot 2021-06-22 at 8 33 42 AM" src="https://user-images.githubusercontent.com/6935646/122925242-a41c2480-d334-11eb-8148-5bd6da71e042.png">

If I use the CLI, it works. Here's an example:
[code]

[2021-06-22 12:56] RyanHill-MSFT commented on #76981
@ezYakaEagle442 we will now proceed to close this issue. If you encounter issues getting your WAR file deployed, feel free to reopen the issue and tag me in your reply.

[2021-06-22 12:56] #76981 closed

[2021-06-22 12:59] robertfletcher-cds commented on #52433
I am interested in how exactly I can do this. I can see no way of assigning an app role to a function app that is using a managed identity. It seems I have to register the function app with an app registration, which means I'm using two identities for my function app (Managed Identity and App registration). This seems really unnecessary given that I have a managed identity for my function app!

[2021-06-22 13:10] buzzfrog opened #77286 "master is default branch when creating github repo, not main, command fails"
In the documentation it is presumed that the local branch is main, and therefor the command:
git push --set-upstream origin main will not work.
Maybe an update some where to add this as a note?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 878bad36-454a-063c-4100-c73f9e90aea3
* Version Independent ID: b0c548c8-f830-31

[2021-06-22 13:14] johnayoub commented on #76422
@SaiKishor-MSFT any update on this?

[2021-06-22 13:27] juanandmsft opened #77287 "LAD 3.x/4.x Debian 10 support"
Any plans/ETA for LAD to support Debian 10, as already in the endorsed distros list?
https://docs.microsoft.com/en-us/azure/virtual-machines/linux/endorsed-distros

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f76e08f-8190-05ad-bb46-967548ae0632
* Version Independent ID: eecaee66-247a-70bb-3f3e-8681278a4a09

[2021-06-22 13:42] svdHero opened #77288 "Missing account selection in code snippet for msal init"
Hi there,

in former examples about how to configure and initialize MSAL React, there used to be code snippets similar to this one:

[code]

However, in the latest documentation by @j-mantu and @tnorling there is only this snippet
[code]
left without any event callback registration. Is this not necessary anymore? Is the active account set automatically by MSAL now or am I missing a piece of the pu

[2021-06-22 13:58] tfitzmac commented on #76932
Currently, I am not aware of a change that is needed for the article.
#please-close

[2021-06-22 13:58] #76932 closed

[2021-06-22 13:59] GrzegorzHejman opened #77289 "Inline comments in ARM template deployments through Azure portal and DevOps pipeline"
Is the Note on the deployment of templates containing inline comments through Azure portal and a DevOps pipeline being not supported correct?
I've just tested it and it seems to work with both deployment methods.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8490da1b-7403-c931-1ef3-3fb0d38d4926
* Version Independent I

[2021-06-22 14:02] rsrinivasanhome commented on #77036
Does this statement System.Diagnostics.Trace.TraceError("Hello World")  produce a log file entry when using a .net core api ?

[2021-06-22 14:03] amanmcse commented on #77275
@jitendraRai Thank you for your feedback . We will investigate and update the thread further.

[2021-06-22 14:22] biaojiang commented on #20769
Thanks for detailed information, now I solved the problem, I found this IoT.Edge.Module template is only supported by .NET SDK 3.1 or 3.0, so I installed the latest .NET SDK 3.1.410, and run `dotnet new aziotedgemodule --language "C#"`, then it prompted to run
`dotnet new -i Microsoft.Azure.IoT.Edge.Module::3.1.0`,
then `aziotedgemodule` was installed successfully.

[2021-06-22 14:39] jgcjoec commented on #75310
Windows 64-bit is not required to install Atlassian JIRA. We have had JIRA running on a Linux (i.e. non-Windows 64 bit) machine for 10+ years.

Is the documentation trying to say "if you are running Atlassian JIRA on Windows, it must be running on a 64-bit version of Windows"?

If that is the case, this sentence should be changed accordingly:
"JIRA Core and Software 6.4 to 8.16.1 or JIRA Service D

[2021-06-22 14:49] SaurabhSharma-MSFT commented on #77283
<div style="font-family: &quot;segoe ui&quot;, &quot;segoe ui web (west european)&quot;, &quot;segoe ui&quot;, -apple-system, blinkmacsystemfont, roboto, &quot;helvetica neue&quot;, sans-serif; font-size: 10.5pt; color: rgb(50, 49, 48);"><a target="_blank" class="user-mention" data-hovercard-type="user" data-octo-click="hovercard-link-click" data-octo-dimensions="link_type:self" data-hovercard-url

[2021-06-22 14:51] SwathiDhanwada-MSFT commented on #77289
@GrzegorzHejman Thanks for your comment. We will review the issue and get back to you shortly.

[2021-06-22 14:54] asears opened #77291 "Add example for Azure Data Share"
Add Azure Data Share diagnostics ARM template example to this page and page for Azure Data Share monitoring.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07fc8414-3bff-03f8-fdca-f040eed71389
* Version Independent ID: 8196bd5d-b265-fd62-59c4-2a97b34ebf69
* Content: [Resource Manager template samples for diagnostic set

[2021-06-22 14:59] MikeDodaro commented on #77025
The changes have merged and published.  Thanks all for discussion.

[2021-06-22 15:01] memark commented on #77271
I beg to differ. The article explains how to add an _existing_ SQL pool to a _new_ Synapse workspace (creating the workspace at the same time).

My question is how to add an _existing_ SQL pool to an _existing_ Synapse workspace. If it is possible, it should be mentioned in the article.

[2021-06-22 15:06] #76969 closed

[2021-06-22 15:06] ecfan commented on #74911
@divyaswarnkar: Could you please help by providing a sample or example?

[2021-06-22 15:07] ecfan commented on #76864
@ShyamSunder90: Could you please respond on this customer request? Thanks!

[2021-06-22 15:09] ecfan commented on #76864
#assign @ShyamSunder90 to help with adding the requested `Maximum events count` limit added to the Azure Event Hubs connector reference page: [https://docs.microsoft.com/connectors/eventhubs/](https://docs.microsoft.com/connectors/eventhubs/)

[2021-06-22 15:13] amjoneja commented on #11379
I am the owner of the root management group but I still get error

New-AzPolicyAssignment: AuthorizationFailed : The client 'live.com#v-2axxxx@hotmail.com' with object id 'c3be460c-5c2c-44fb-8af9-ce21c0b66e6d' does not have authorization to perform action 'Microsoft.Management/managementGroups/Microsoft.Management/amandemogroup/Microsoft.Authorization/assignment/write' over scope '/providers/Micro

[2021-06-22 15:16] ashkickindevelopment opened #77293 "V2 pricing not cheaper for US Government Regions"
Hi all,

When you enter in the comparison for the US Gov customers into Azure Pricing calculator, the price per month is actually not cheaper. I've attached screenshot from pricing calculator. Can this please be explained so that it is reflective why this is so on the page? That way we don't mislead our customers on lower per gigabyte capacity pricing. thanks!
![PricingCalculatorSAv1v2](https://us

[2021-06-22 15:19] tfitzmac commented on #77289
@GrzegorzHejman - thanks for this feedback. I see that you are correct. I will update the article.

[2021-06-22 15:28] MarileeTurscak-MSFT commented on #77288
@svdHero
Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-22 15:34] #77289 closed

[2021-06-22 15:41] djong1 opened #77297 "Example 6 and 7 are incorrect, please update"
In the documentation at step 6 is stated that I should receive a response like this:

{"udid" : "{udId}"}
The actual response I get is:
{"operationId": "{udId}"}

The example at step 7 is incorrect it gives a 400 error because the udid or operatioId is not allowed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9aeb145

[2021-06-22 15:44] JamesTran-MSFT commented on #77273
@andrewrlee
Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-22 15:44] tcsougan opened #77298 "Note - The tunnel has to be dropped first in order to get the remoteIP_s parameter"
[Enter feedback here]

I think it is important to mention right after the query ( #10 point in the document ) that when you first try to configure the logs there were no logs in the store. Thus the columns for remoteIP_s don't exist yet and the query throws an error. Now when logs are pumped to the store, the query recognizes there are columns and proceeds as normal. Bringing the tunnel down and b

[2021-06-22 15:45] JamesTran-MSFT commented on #77274
@priyankareddy20
Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-22 15:47] MonikaReddy-MSFT commented on #77287
@juanandmsft -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-06-22 15:47] MichaelBrooks-Informatyx opened #77299 "SQL injection attacks?"
The WHERE clause of a SQL query is traditionally the place where SQL injection attacks gain entry. When working with SQL Server, developers counter this through the use of parameterised variables. I see no discussion on this Cosmos DB SQL API page regarding this security issue. Is that because analysis (or design) has determined that no issue exists? Even if that is the case, it would be reassurin

[2021-06-22 15:50] MichaelBrooks-Informatyx opened #77300 "Ignore my previous comment"
I just found the discussion on parameterised queries on a later page, so please ignore my previous comment.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a641b52c-39cb-fb2d-ed45-ded0ffafdb66
* Version Independent ID: a432ca73-d567-ae0b-7fe8-772556c8bdbe
* Content: [WHERE clause in Azure Cosmos DB](https://docs.microso

[2021-06-22 15:53] jason934 commented on #76733
Also, we had another scenario come up today. A customer has an Azure Stack device under one enrollment, but they want to create a new enrollment and transfer control of the Stack appliance. Would be good to include that use case in our transfer documentation.

------ Original Message ------
From: "Bill Anderson" ***@***.******@***.***>>
To: "MicrosoftDocs/azure-docs" ***@***.******@***.***>>
Cc: "

[2021-06-22 15:53] tnorling commented on #77288
@svdHero This tutorial is intended to be a bare minimum example of what you need to get started with msal-react. Event callbacks and active account are not needed for basic applications, and can perhaps be considered more "advanced" topics. I don't believe this was ever a part of the tutorial. Is it possible you saw these code snippets in another sample, such as [this one](https://github.com/Azure

[2021-06-22 15:57] evolvedlight commented on #52771
@TravisCragg-MSFT  @mscatyao is there any update here? I am still seeing problems trying to follow this, all I want is Kubernetes servicing HTTPS with a cert and this seems impossible so far.. thanks!

[2021-06-22 16:00] timsander1 commented on #77300
No worries. One other thing to keep in mind is that Cosmos DB supports read-only SQL queries. You can't change data or drop containers with a SQL query in Cosmos DB.

[2021-06-22 16:01] 404cruX opened #77302 "Azure AD SSO - Autofilled SP Metadata - uploaded URL that needs to be updated Step 4 C. The Sign on URL needs to be edited"
[Enter feedback here]

in the Configur Azure AD SSO Section: https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/cisco-spark-tutorial#configure-azure-ad-sso
Step 4 C. The Sign on URL needs to be edited  "In the Sign on URL textbox, paste the value of Reply URL, which gets autofilled by SP metadata file upload."

URL Populated in the Reply URL:
https://idbroker.webex.com/idb/Consumer/

[2021-06-22 16:06] idunbar46 opened #77303 "Powershell example issues"
Under create a storage account example.

$sasurl - Uses the "New-AzureStorageContainerSASToken" cmdlet.  This should be "New-AzStorageContainerSASToken".  Using  "New-AzureStorageContainerSASToken" results in error.

Under Start the packet capture example.
Variable storing the resource group is "$rg".  In the storage account creation section the resource group is stored in "$rgname".
The "$rg" var

[2021-06-22 16:12] philmea commented on #74472
Hello @meken, this article is being deprecated as we focus on consolidating hardware-based tutorials in the [Device Developer Center](https://docs.microsoft.com/en-us/azure/iot-develop/). You can find the updated MXChip article there, [Quickstart: Connect an MXCHIP AZ3166 devkit to IoT Hub](https://docs.microsoft.com/en-us/azure/iot-develop/quickstart-devkit-mxchip-az3166-iot-hub).

[2021-06-22 16:26] cynthn commented on #71664
#please-close

[2021-06-22 16:26] #71664 closed

[2021-06-22 16:34] mukeshinit commented on #31853
We are utilizing following commands in our automation pipeline, but it throws 404 response status. Can you please help me to revert this issue to right team.

az ad app permission admin-consent  ---id "XXX" --debug

Response status: 404
Response headers:
    'Content-Type': 'text/html'
    'Set-Cookie': 'browserId=80f3b7e9-2d64-456a-97c3-9f414ef4112c; domain=main.iam.ad.ext.azure.com; path=/; secu

[2021-06-22 16:35] markjbrown commented on #77161
Let me know if you have any additional questions. Will close this for now.

#please-close

[2021-06-22 16:35] #77161 closed

[2021-06-22 16:37] SumanthMarigowda commented on #77188
@MhAllan  Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused.
I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your r

[2021-06-22 16:37] #77188 closed

[2021-06-22 16:43] rolyon commented on #57508
Hi @veronicageek
Thanks for your feedback. I sent a message to the team about this. We also updated the Global Reader description to include info about SharePoint and PowerShell.
https://docs.microsoft.com/en-us/azure/active-directory/roles/permissions-reference#global-reader

[2021-06-22 16:44] #77147 closed

[2021-06-22 16:44] rolyon commented on #57508
Let us know if you have any additional feedback.
thanks
#please-close

[2021-06-22 16:44] #57508 closed

[2021-06-22 16:44] markjbrown commented on #77240
It's there but is referred to as "items" because Cosmos is a multi-model database that supports, documents, rows, edges, nodes, etc.

Specifically look here, https://docs.microsoft.com/en-us/azure/cosmos-db/account-databases-containers-items#azure-cosmos-items

Thanks.

#please-close

[2021-06-22 16:44] #77240 closed

[2021-06-22 16:45] stevechanis commented on #77245
Thanks for your help with this

[2021-06-22 16:45] #77245 closed

[2021-06-22 16:49] chriselleman-msft opened #77305 "AzureAD Private Endpoints Availability Implied"
It is implied in this anchor link (https://docs.microsoft.com/en-us/azure/backup/backup-sql-server-database-azure-vms#establish-network-connectivity) that AzureAD Private Endpoints are available, this is not currently true and can be misleading for customers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9dd4ffd9-cc54

[2021-06-22 16:54] DerekHerman-MSFT commented on #77270
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-06-22 16:56] cynthn commented on #71926
#reassign @cynthn

[2021-06-22 16:56] MicrosoftGuyJFlo commented on #77248
You can update the extensionAttributes using Graph Explorer and the beta devices API endpoint.

https://docs.microsoft.com/graph/api/device-update?view=graph-rest-beta&tabs=http

Patch https://graph.microsoft.com/beta/devices/<Device Object ID>

[code]

[2021-06-22 16:57] RyanHill-MSFT commented on #77189
Hi @Saranya-CTSH, I believe you posted this question over on Q&A, I did provide an answer [there as well](https://docs.microsoft.com/en-us/answers/questions/443345/access-private-docker-registries-in-azure-web-app.html?childToView=447150#answer-447150). At the current time, there aren't any current plans for supporting this type of scenario. It is being explored but nothing in the near future.

[2021-06-22 16:57] #77189 closed

[2021-06-22 16:57] MicrosoftGuyJFlo commented on #77274
Work is in progress with the Product Group to update the doc. Thanks!

#please-close

[2021-06-22 16:57] #77274 closed

[2021-06-22 16:57] cynthn commented on #71926
@tlourey Thanks for the feedback! And, I'm sorry it has taken a while. I've filed a pull request to update the list of available commands. It should be live later today.

#please-close

[2021-06-22 16:57] #71926 closed

[2021-06-22 16:59] JamesTran-MSFT commented on #77302
@404cruX
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-06-22 17:02] cimcgee opened #77307 "[![CLA assistant check](https://cla.opensource.microsoft.com/pull/badge/not_signed)](https://cla.opensource.microsoft.com/MicrosoftDocs/azure-docs?pullRequest=77306) <br/>Thank you for your submission, we really appreciate it. Like many open source projects, we ask that you sign our [Contributor License Agreement](https://cla.opensource.microsoft.com/MicrosoftDocs/azure-docs?pullRequest=77306) before we can accept your contribution.<br/><br/>:x: cimcgee [sign now](https://cla.opensource.microsoft.com/MicrosoftDocs/azure-docs?pullRequest=77306)<br/><sub>You have signed the CLA already but the status is still pending? Let us [recheck](https://cla.opensource.microsoft.com/check/MicrosoftDocs/azure-docs?pullRequest=77306) it.</sub>"
[![CLA assistant check](https://cla.opensource.microsoft.com/pull/badge/not_signed)](https://cla.opensource.microsoft.com/MicrosoftDocs/azure-docs?pullRequest=77306) <br/>Thank you for your submission, we really appreciate it. Like many open source projects, we ask that you sign our [Contributor License Agreement](https://cla.opensource.microsoft.com/MicrosoftDocs/azure-docs?pullRequest=77306) bef

[2021-06-22 17:02] cimcgee opened #77308 "Kkkko"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2021-06-22 17:06] barclayn commented on #74331
@anotherrohit I hope the answer helped. If you have other questions please let us know. #please-close

[2021-06-22 17:06] #74331 closed

[2021-06-22 17:06] barclayn commented on #74595
#please-close

[2021-06-22 17:06] #74595 closed

[2021-06-22 17:15] JamesTran-MSFT commented on #77116
@jogikalpesh
I just wanted to check in and see if you had any other questions or if you were able to resolve this issue?

[2021-06-22 17:16] jeevansd commented on #75227
@legendgod Microsoft do not have a product for Attendance Management product. So for now you have to use the 3rd party product. This one is very similar.

[2021-06-22 17:16] jeevansd commented on #75227
#please-close

[2021-06-22 17:16] #75227 closed

[2021-06-22 17:16] kavyako commented on #77202
The endpoint URI contains an additional /. Could you try without it : https://ceresgridcosmosdb.sqlx.cosmos.azure.com:443/

We will fix this in the coming release.

[2021-06-22 17:19] tfitzmac commented on #76937
@vhorne - can you confirm that the 10,000 rule limit applies only to network rules and not to DNAT and application rules?

[2021-06-22 17:19] MicrosoftGuyJFlo commented on #74287
This is a known issue that is being resolved next month (Due to holidays). Until the patch is deployed "delete and recreate" or using the Graph API and issuing a PATCH to remove the policy should work. You might also want to try updating your PowerShell commandlets https://docs.microsoft.com/en-us/powershell/azure/active-directory/install-adv2?view=azureadps-2.0

#please-close

[2021-06-22 17:19] #74287 closed

[2021-06-22 17:21] fgheysels commented on #76657
Thanks, I'll have a look at it.

@yanivlavi :  calling the link to the API via a Logic App isn't that straightforward, as it needs authentication etc.   I once opened a support request and received the steps that are required to be able to call this API endpoint from a LA, but haven't tried it yet.  Anyway, afaik, it is not publicly documented.

[2021-06-22 17:22] JamesTran-MSFT commented on #77263
@ESharpAxe
A user's state reflects whether an admin has enrolled them in per-user Azure AD Multi-Factor Authentication. User accounts in Azure AD Multi-Factor Authentication have the following three distinct states - Disabled, Enabled, Enforced. For [more info](https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfa-userstates#azure-ad-multi-factor-authentication-user-stat

[2021-06-22 17:29] tfitzmac commented on #74134
@ggailey777 - are the limits for staging slots per app the same for functions as app service? Does that limit need to be added to the function limits?

[2021-06-22 17:30] ESharpAxe commented on #77263
Hi,

This is the first reference to “user states” in the document. It happens before the definition. The previous paragraph discusses per-user MFA. I think the document would be more understandable if the sentence was “Per-user Azure AD Multi-Factor Authentication isn’t recommended…” This is better than using undefined terms.

Thank you,
Eric

From: James Tran-MSFT ***@***.***>
Sent: Tuesday, June

[2021-06-22 17:35] JamesTran-MSFT commented on #77170
@mrochon
Thank you for the quick follow up on this!

I've reached out to my team and will update as soon as possible. Additionally, since these are examples, is there any reason why you'd want to have these two preconditions within the same Orchestration steps?

[2021-06-22 17:38] robsmi-msfte opened #77312 ""CorporateWerServer*" seems to be incorrect"
[Enter feedback here]
Hello,

The following section seems to be incorrect:

remove CorporateWerServer* from Computer\HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\Windows Error Reporting

It is displayed as a code sample, but I don't believe that is code.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cdad1b23-8c75-cd0

[2021-06-22 17:39] hpsin commented on #77244
This is a tricky one, I'm afraid.  This is heavily SDK and OS API focused. You likely need to hook your webview and watch for a redirect to a known URL.  I believe MAF does this, as described here:
https://docs.oracle.com/middleware/maf242/mobile/develop-maf/securing-maf-applications.htm#ADFMF-GUID-474AF43B-4BBD-494C-B5CD-16D7349CD16C

You'll want to use the standard native redirect URL for the re

[2021-06-22 17:45] cimcgee opened #77313 "https://github.com/MicrosoftDocs/azure-docs/issues/77307#issue-927453645"
Skip to content
Dashboard
Repositories
Professionalrepo_sync_working_branchSkip to contentMicrosoftDocs/azure-docsCodeIssues3.9kPull requests323ActionsSecurityInsightsJump to bottomRepo sync working branch #77311 Closedcimcgee wants to merge 10,000 commits into BharathNimmala-MSFT-patch-2 from repo_sync_working_branchConversation 1Commits 10,000Checks 0Files changed ∞ Clear filters  2  articles/ev

[2021-06-22 17:59] anastasia-ms commented on #77297
Thanks @djong1 . I am reviewing the document now.

[2021-06-22 17:59] rthorn17 commented on #11379
@amjoneja It looks like you are creating an incorrect MG ID when adding it to the Scope with "providers/Microsoft.Management/managementgroups/$($mg.Id)"  as it is doubling this section.  You can see here you have the Microsoft.Management being called within the Microsoft.Management Provider which will be an invalid scope.
"/providers/Microsoft.Management/managementGroups/providers/Microsoft.Manage

[2021-06-22 18:05] HarshitaSingh-MSFT commented on #77291
Hello @asears, thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-06-22 18:13] iamHorton commented on #77248
Thanks MicrosoftGuyJFlo, this worked...  I had a feeling it would be Graph, so thanks for verifying that!

[2021-06-22 18:35] JamesTran-MSFT commented on #77269
@AurimasNav
Thank you for your time and patience!

The [Azure Key Vault auto-rotates certificates](https://docs.microsoft.com/en-us/azure/key-vault/certificates/tutorial-rotate-certificates) through established partnerships with CAs. You can also update a [certificate's lifecycle attributes](https://docs.microsoft.com/en-us/azure/key-vault/certificates/tutorial-rotate-certificates#update-certifica

[2021-06-22 18:39] nitinme commented on #77075
#please-close. Test successful.

[2021-06-22 18:39] #77075 closed

[2021-06-22 18:40] nitinme commented on #77074
#please-close. Test successful.

[2021-06-22 18:40] #77074 closed

[2021-06-22 18:40] nitinme commented on #77073
#please-close. Test successful.

[2021-06-22 18:40] #77073 closed

[2021-06-22 18:44] JamesTran-MSFT commented on #77263
@ESharpAxe
Thank you for the quick follow up! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2021-06-22 18:44] #77263 closed

[2021-06-22 18:46] Oury-MSFT commented on #77299
@MichaelBrooks-Informatyx Thank you for feedback. I will be closing this issue as a duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/77300

[2021-06-22 18:46] #77299 closed

[2021-06-22 18:47] lobrien commented on #75059
I ended up deleting the paragraph, which was confusing. The previous paragraph accurately describes the behavior. #please-close

[2021-06-22 18:47] #75059 closed

[2021-06-22 18:47] AjayKumar-MSFT commented on #76602
@chamikasandamal, Apologies for the delay!  If you're still facing this issue, we wish to engage with you offline for a much closer look and provide a quick and specialized assistance, please send an email with subject line “Attn:Ajay” to AzCommunity[at]Microsoft[dot]com referencing this thread, Azure subscription ID, the requirement and your app name, I will follow-up with you.
// @RyanHill-MSFT

[2021-06-22 18:50] RyanHill-MSFT commented on #76602
I'm not sure if any other changes are necessary but will find out @chamikasandamal.

[2021-06-22 18:55] rolyon commented on #32115
Hi @shimon893 , @dmaterowski
Thanks for your feedback. I've sent this feedback to the team again. Currently, there aren't any plans to add this action to the Data Factory Contributor role.
If you want to submit this as an idea to the Data Factory team, you can use their feedback tool:
https://feedback.azure.com/forums/270578-data-factory
Alternatively, you can create your own custom role with this

[2021-06-22 18:56] rolyon commented on #32115
Let us know if you have any additional feedback.
thanks
#please-close

[2021-06-22 18:56] #32115 closed

[2021-06-22 18:57] jeremytbrun commented on #43301
Updating this issue for future travelers. Looks like there may be a workaround.

https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/logic-apps/logic-apps-gateway-install.md

![image](https://user-images.githubusercontent.com/28311946/122983603-2bd05600-d36a-11eb-88da-f768c17dc9cc.png)

[2021-06-22 18:59] dave-read opened #77316 "Throttling section should note that max message size is different between c2d and d2c messages"
[Enter feedback here]

Questions about IOT max message size in internet search return the Throttling portion of the doc that notes 256KB as the maximum message size.  However it's not till linking to further in the doc does it point out that cloud to device and device to cloud max messages sizes are different.

Your cloud-to-device and device-to-cloud throttles determine the maximum rate at which

[2021-06-22 19:01] MarileeTurscak-MSFT commented on #77278
@J-a-k-o-b
Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-22 19:10] ConnorMcMahon commented on #76602
App Service authentication should now accept v1 or v2 access tokens regardless of whether the issuer url is pointing to the v1 or v2 endpoints.

[2021-06-22 19:17] Oury-MSFT commented on #77261
@AwdotiaRomanowna Thank you for being patient while checking on this. I tried to reproduce this by creating a new Azure Postgresql following instructions in this [documentation](https://docs.microsoft.com/en-us/azure/postgresql/howto-configure-server-logs-in-portal) and it is the same format as described in the doc.
![image](https://user-images.githubusercontent.com/78940872/122985941-9d50da00-d35

[2021-06-22 19:17] #77300 closed

[2021-06-22 19:33] barclayn commented on #75199
@John-Garland Thank you for the feedback. I will contact you offline.  #please-close

[2021-06-22 19:33] #75199 closed

[2021-06-22 19:50] dingoryan opened #77317 "ProductID value missing {}"
[Enter feedback here]
Add brackets to 'ProductID' value, e.g.

Original:
ProductId = "8A7F2C51-4C7D-4BFD-9014-91D11F24AAE2"
Expected:
ProductId = "{8A7F2C51-4C7D-4BFD-9014-91D11F24AAE2}"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00a00a3e-a0df-7ee5-4733-7231bd7a024f
* Version Independent ID: 94361683-e1e7-7e55-6993

[2021-06-22 19:54] AwdotiaRomanowna commented on #77261
hi @Oury-MSFT
please take a look at the default value of log_filename parameter:

![image](https://user-images.githubusercontent.com/17368813/122990098-dca71700-d3a3-11eb-8a45-f36f60fd63ea.png)

You see zeros at the end because logs are rotated each hour at 00:00. If you would exceed 100mb or you would execute select pg_rotate_logfile(); then the log will be rotated and you will see another value

[2021-06-22 19:54] stewartadam commented on #32115
FYI for others coming across this - existing feedback item exists [here](https://feedback.azure.com/forums/270578-data-factory/suggestions/37748671-add-microsoft-datafactory-locations-configurefacto) that you can vote for.

[2021-06-22 19:59] AwdotiaRomanowna commented on #77261
i just rotated the logs couple times, please take a look:

![image](https://user-images.githubusercontent.com/17368813/122991192-0ad92680-d3a5-11eb-9c5f-c79a751d7a08.png)

[2021-06-22 20:33] ravkash opened #77318 "required drivers for custom images"
[Enter feedback here]

**Please provide more information about the drivers required as mentioned in the custom images section.**

**Custom images**
_If you're using a custom image and your image supports Accelerated Networking, be sure that you have the required drivers that work with Mellanox ConnectX-3 and ConnectX-4 Lx NICs on Azure._

---
#### Document Details

⚠ *Do not edit this section. It

[2021-06-22 20:42] DerekHerman-MSFT commented on #77293
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-06-22 20:48] BharathNimmala-MSFT commented on #77305
@chriselleman-msft Thanks a lot for bringing this to our notice. I have assigned this issue to our document author @v-amallick to further evaulate the feedback and enhance the document accordingly.

[2021-06-22 20:51] BharathNimmala-MSFT commented on #77317
@dingoryan Thanks a lot for bringing this to our notice, we will review and update the document accordingly.

[2021-06-22 21:20] bandersmsft commented on #77249
@ashkickindevelopment As the article states, Microsoft isn't currently early termination fees for reservations. Thanks for your feedback.
#please-close

[2021-06-22 21:20] #77249 closed

[2021-06-22 21:44] tute26 commented on #40812
Hello everybody! so... I don't know if I am doing something wrong but I still face issues when I try to request JIT
I created a new subscription and a new domain to start with a clean slate
I created a new RG and a simple Linux VM and enabled JIT
Then I added a new user with reader role over the subscription
Also I used the Set-JitLeastPrivilegedRole script to create the custom role
In the VM page

[2021-06-22 21:51] bandersmsft commented on #76733
@jason934 Yes, you're correct. An EA admin can't transfer an account from one enrollment to another enrollment. As you noted, a support request is required to do that. I've made a minor update with https://github.com/MicrosoftDocs/azure-docs-pr/pull/163331 for this article saying so and I added a link to https://docs.microsoft.com/azure/cost-management-billing/manage/ea-transfers#transfer-an-enter

[2021-06-22 21:51] #76733 closed

[2021-06-22 21:55] ConnorMcMahon commented on #42256
From what I can tell, both [V1](https://github.com/Azure/azure-functions-durable-extension/blob/v1/src/WebJobs.Extensions.DurableTask/Options/TraceOptions.cs#L51) and [V2](https://github.com/Azure/azure-functions-durable-extension/blob/cc7f8b20844a07b0729a3ae66bcc5dcf156baaf3/src/WebJobs.Extensions.DurableTask/Options/TraceOptions.cs#L51) use traceReplayEvents, so the bug is in the sample host.jso

[2021-06-22 21:57] bandersmsft commented on #76813
@marc-perreaut Hi there. A reservation’s purchase cost and unused reservation costs aren’t handled the same way because the unused charges aren’t attached to the subscription. That’s to allow users to use chargeback automation without associating the charge to the same subscription that was used to make the purchase. The functionality, as-implemented, was requested by many customers.

Thanks for l

[2021-06-22 21:57] #76813 closed

[2021-06-22 22:02] lgayhardt commented on #77260
@MikeSQ Thanks for the feedback. I've update the trackMetric in the doc to match the App Insights JS repo.

The change should go live today and early tomorrow.

#please-close

[2021-06-22 22:02] #77260 closed

[2021-06-22 22:07] ThomasWeiss commented on #77047
Thanks @MichaelBrooks-Informatyx for spotting this error, it has now been fixed.
#please-close

[2021-06-22 22:07] #77047 closed

[2021-06-22 22:07] ThomasWeiss commented on #77048
Thanks @MichaelBrooks-Informatyx for sharing this inconsistency, it has now been fixed.
#please-close

[2021-06-22 22:07] #77048 closed

[2021-06-22 22:10] davidmrdavid commented on #76887
Hi all!

Apologies for my late response. I agree that the writing here is rather confusing. In fact, it's confusing me right now! My understanding was actually that the `maxNumberOfAttempts` field corresponded **not** to the number of retries, b**ut to the total number of attempts**. Put differently, I was under the impression that the number of retries would technically be "maxNumberOfAttempts -

[2021-06-22 22:11] davidmrdavid commented on #76887
As related note, the linked docs include a _note_ that user-defined callbacks aren't supported in the JS SDK. They're also not supported in Python. Whenever we get around improving the wording, we should also augment that _note_ to refer to the Python SDK as well

[2021-06-22 22:21] chamukallem-msft commented on #73438
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-22 22:21] #73438 closed

[2021-06-22 22:31] chamukallem-msft commented on #73435
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-22 22:31] #73435 closed

[2021-06-22 22:38] visualstuart opened #77320 "Out of date content in Services that support managed identities for Azure resources"
After testing and then confirming with Microsoft, it seems like Managed Identities for Azure Resources for Azure App Config is indeed available in Azure Germany. This page, last updated Jan 2021, states otherwise. We are keenly interested in what other resources have support information that is out of date. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2021-06-22 22:40] anuragdalmia commented on #76627
@Siby22071989 - did you do an Install-Module Az.Subscription for the PS cmdlet before using it?

[2021-06-22 22:46] anuragdalmia commented on #77106
@jyeblog - these are great pieces of feedback. Thank you very much for taking the time. These are all valid and we will take steps to update the documentation to address these.

[2021-06-22 22:54] chamukallem-msft commented on #73422
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-22 22:54] #73422 closed

[2021-06-22 22:56] JimacoMS4 commented on #36170
This was updated some time ago. The new alerts experience is here: https://docs.microsoft.com/en-us/azure/iot-hub/tutorial-use-metrics-and-diags#set-up-metric-alerts and viewing Azure Monitor Logs (formerly "diagnostic logs") is here: https://docs.microsoft.com/en-us/azure/iot-hub/tutorial-use-metrics-and-diags#view-azure-monitor-logs. Additionally, topics have been added under [**How-to guides >

[2021-06-22 22:57] JimacoMS4 commented on #36170
#please-close

[2021-06-22 22:57] #36170 closed

[2021-06-22 23:02] roygara commented on #75888
@jixin85 Thanks for letting us know, we appreciate it! We've passed this feedback on to the relevant teams.

Accordingly, I'll close this out.

#please-close

[2021-06-22 23:02] #75888 closed

[2021-06-22 23:04] stewartadam opened #77322 "adjust DTDL component example to avoid overlapping terms"
When providing an example about components vs interfaces, the document describes:

This section is intending to disambiguate the concept of DTDL *components* vs *interfaces*, but only leads to further user confusion because the component definition references an interface called 'thermostat component'. Furthermore, the example doesn't really show why the component has any value over simply putting

[2021-06-22 23:04] stewartadam commented on #77322
Alternatively, using the front/back camera example as noted prior in the document might make for a better use case of components and re-use.

[2021-06-22 23:07] chamukallem-msft commented on #72948
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-22 23:07] #72948 closed

[2021-06-22 23:15] dlepow commented on #77251
@codyseavey @coulsonr - Thanks for feedback, and apologies for the syntax typos here. The correct issuer name attribute is "issuer-subject", not "issuer" as published. The following should work:

[code]

I'll update the article with corrected syntax and example soon.

[2021-06-22 23:17] ashkickindevelopment commented on #77249
I have had customers that have faced a 12% fee Sent from Mail for Windows 10 From: Bill AndersonSent: Tuesday, June 22, 2021 3:20 PMTo: MicrosoftDocs/azure-docsCc: Ashley Kennedy; MentionSubject: Re: [MicrosoftDocs/azure-docs] 12% fee for refunds should be added to page ***@***.*** As the article states, Microsoft isn't currently early termination fees for reservations. Thanks for your feedback.#p

[2021-06-22 23:18] chamukallem-msft commented on #72431
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-22 23:18] #72431 closed

[2021-06-22 23:24] chamukallem-msft commented on #71866
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-22 23:24] #71866 closed

[2021-06-22 23:29] chamukallem-msft commented on #70193
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-22 23:29] #70193 closed

[2021-06-22 23:32] chamukallem-msft commented on #69201
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-22 23:32] #69201 closed

[2021-06-22 23:38] BryanTrach-MSFT commented on #75552
@cveld Thank you for your patience. We just received confirmation from the product group that they pushed an update that should allow any subnet to be selected over the weekend.

Can you please try to see if you are able to select the intended subnet?

We look forward to your reply.

[2021-06-22 23:40] BryanTrach-MSFT commented on #77169
@JamesBurnside We have assigned this to the doc author to have them take a further look.

[2021-06-22 23:54] BryanTrach-MSFT commented on #76863
@DocGreenRob We are sorry to hear you are having this issue.

Were you able to resolve the matter or would you like us to take a further look into the matter?

We look forward to your reply,

[2021-06-23 00:06] Karishma-Tiwari-MSFT commented on #76450
Is there an update?

[2021-06-23 00:10] bruceleeobjective opened #77323 "Incorrect NSG Rule list"
[Enter feedback here]
To use Bastion with an outbound denyAll rule overriding the defaults this page is incorrect.

You also need to add the following

Outbound Rules
<local subnet> <bastion subnet> 5701, 8080
<local subnet> <bastion subnet> gatewayManager

with the above rules you can use outbound denyAll

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2021-06-23 00:23] Karishma-Tiwari-MSFT commented on #77312
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-06-23 00:44] jenellea opened #77325 "Azure Files "is" a feature that supports building and managing file shares"
Is "Azure Files" a feature that uses the plural Files, but it takes a single verb form?
Yes. And one derives that an Azure Files file share could be either SMB or NFS protocol. And these file shares could be either Azure file shares or Azure Files file shares.

In the attached snippet of the first page of https://docs.microsoft.com/en-us/azure/storage/files/storage-files-introduction
There are cap

[2021-06-23 00:47] mlcooper opened #77326 "Unable to determine why I am getting `user errors` on my Event Hubs based on description"
I have an Event Hub that is receiving Resource Logs from various Azure resources in the same region where the Event Hub is located. I then have a Logic App that gets messages from the Event Hub (every 60 seconds) and sends them via the HTTP(S) action to my on-prem logging solution.

Occasionally this Event Hub reports that `User Errors` are occurring, however I can't make sense of them because the