[2021-06-23 01:00] legendgod commented on #75227
"Attendance Management Services" is a very generic name. Could you at least provide the 3rd party company name if hyperlink is not allowed?

[2021-06-23 01:49] kausui commented on #76937
@vhorne

I also confirmed that application rules need to be considered based on unique source/destinations.
I discussed the rule limits with irpatras.

e.g.
10,000. Following rule types combined:
unique source/destinations in network rules
unique source/destinations in application rules
DNAT rules

[2021-06-23 01:57] oaas opened #77328 "NSG Rule doesn't work if there is any empty ASG in it"
We have configured a lot of ASGs. For example:
ASG1
ASG2
ASG3
ASG4

ASG1, ASG2 and ASG3 have assigned VMs. ASG4 is empty. If we configure a NSG rule with ASG1, ASG2, ASG3 as destination, the rule works as expected. But if we configure a NSG rule with ASG1, ASG2, ASG3 and ASG4 as destination, the rule doesn't work.

Please doc this now.

---
#### Document Details

⚠ *Do not edit this section. It is

[2021-06-23 02:11] Siby22071989 commented on #76627
@anuragdalmia : Thank you for checking. But I found out what the error is. The correct cmdlet should be:
New-AzSubscriptionAlias -AliasName "sampleAlias" -SubscriptionName "Dev Team Subscription" -BillingScope "/providers/Microsoft.Billing/billingAccounts/5e98e158-xxxx-xxxx-xxxx-xxxxxxxxxxxx:xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx_xxxx-xx-xx/billingProfiles/AW4F-xxxx-xxx-xxx/invoiceSections/SH3V-xxxx

[2021-06-23 02:34] BiniJiang opened #77329 "colon is also not supported in Tag for AFD/CDN"
colon is also not supported in Tag for AFD/CDN

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55b4c3f6-7ea3-9b94-cd8c-cbe37dc31656
* Version Independent ID: 0310805b-ff71-85bf-3f74-ca4caa6a46ce
* Content: [Tag resources, resource groups, and subscriptions for logical organization - Azure Resource Manager](https://docs.

[2021-06-23 02:47] MonikaReddy-MSFT commented on #77063
@mpdavis21 - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-06-23 02:47] #77063 closed

[2021-06-23 02:51] MonikaReddy-MSFT commented on #77121
@mihammer -
Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-06-23 02:55] MonikaReddy-MSFT commented on #77110
@grove - They do not support host-based encryption and it is explicitly mentioned in the document.

At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-06-23 02:55] #77110 closed

[2021-06-23 02:55] #77121 closed

[2021-06-23 03:37] CHEEKATLAPRADEEP-MSFT commented on #77271
@memark, Unfortunately, it is not possible to add an existing SQL pool to an existing Synapse workspace.

[2021-06-23 03:47] SatishBoddu-MSFT commented on #77316
Hello @dave-read Thanks for the feedback.

Our SME will review your feedback soon.

[2021-06-23 03:47] HarshitaSingh-MSFT commented on #77286
Hello @buzzfrog, thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-06-23 03:49] SatishBoddu-MSFT commented on #77322
Hello @stewartadam Thanks for the feedback.
Our SME will review your feedback soon.

[2021-06-23 03:49] CHEEKATLAPRADEEP-MSFT commented on #77326
@mlcooper  Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2021-06-23 03:57] GitaraniSharma-MSFT commented on #77298
@tcsougan , thank you for the feedback. We have assigned this to the content owner/author for review.

@cherylmc , we have seen many issues being raised regarding the query in step 10 of this doc and it would be good to add the below point:

Bringing the tunnel down and back up will generate logs for this query.

[2021-06-23 04:03] #77251 closed

[2021-06-23 04:09] GitaraniSharma-MSFT commented on #77303
@idunbar46 , thank you for your feedback. We'll review this and get back to you shortly!

[2021-06-23 04:12] GitaraniSharma-MSFT commented on #77318
@Ravi-Kashyap , thank you for your feedback. We have assigned this to the content owner/author for review.

@gsilva5 , could you please review the suggestion and provide your inputs?

[2021-06-23 04:21] mlcooper commented on #77326
The documentation should explain what a `user error` is in the context I've described. I am not looking for a solution as to _why_ I am getting the error in the first place.

[2021-06-23 04:21] YuichiTorigoe opened #77331 "Zone Redundant Storage Account is not supported on boot diagnostics storage"
[Enter feedback here]

I have confirmed that there are the following restrictions on boot diagnostics.

https://docs.microsoft.com/en-us/azure/virtual-machines/boot-diagnostics#limitations
---
Managed boot diagnostics is only available for Azure Resource Manager VMs.
Managed boot diagnostics does not support VMs using unmanaged OS disks.
Boot diagnostics does not support premium storage accounts,

[2021-06-23 04:21] BharathNimmala-MSFT commented on #77329
@BiniJiang Thanks for bringing this to our notice, we will review it and update the document accordingly.

[2021-06-23 04:22] GitaraniSharma-MSFT commented on #77323
@bruceleeobjective , thank you for your feedback but I would request you to provide some clarity on the same.
 The doc mentions the below:
![image](https://user-images.githubusercontent.com/67630903/123034959-26c1e400-d408-11eb-8bea-551e59ff09df.png)

And the rules include Egress Traffic to Azure Bastion data plane : enable ports 8080, 5701 outbound from the VirtualNetwork service tag to the Virtu

[2021-06-23 04:25] GitaraniSharma-MSFT commented on #77328
@oaas , thank you for the feedback. We'll review this and get back to you shortly!

[2021-06-23 04:33] JamesTran-MSFT commented on #77320
@visualstuart
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-06-23 04:36] WhippsP opened #77332 "Error pages can not use language resolvers"
Exception pages do not support the localization resolver {Culture:RFC5646} or similar.

https://docs.microsoft.com/en-gb/azure/active-directory-b2c/customize-ui-with-html?pivots=b2c-custom-policy#localize-content

There should be a note added to the "Localize content" section to address this.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2021-06-23 04:50] MayankBargali-MSFT commented on #77127
@kishorerv25 Hope the above helps and clears things up. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-06-23 04:50] #77127 closed

[2021-06-23 04:53] benjamincburns commented on #76877
@bwren I spotted the details on using an ARM template on the page for [enabling Container Insights for existing clusters](https://docs.microsoft.com/en-us/azure/azure-monitor/containers/container-insights-enable-existing-clusters#enable-using-an-azure-resource-manager-template). Should including the `osmagent` `addonProfile` work for new cluster deploys as well? It doesn't appear to be working in

[2021-06-23 04:54] ShaikMaheer-MSFT commented on #77265
@mirsky72 Thanks for the question. Github forum is dedicated for docs related issues. For any technical queries or clarifications, we encourage to utilise Microsoft Q & A platform. Kindly raise your query on [Microsoft Q&A Platform](https://docs.microsoft.com/en-us/answers/index.html)

[2021-06-23 04:59] HanyeongKim opened #77333 "custom control"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2021-06-23 05:25] amjoneja commented on #11379
Thanks @rthorn17
What should I mentioned in the scope

if I use  "/managementGroups/$($mg.Id)" I get the below error

New-AzPolicyAssignment : MissingSubscription : The request did not have a subscription or a valid tenant level resource provider.
CorrelationId: de21e1e5-05f2-4776-ac94-cd3ffa3b708d
At line:24 char:1
+ New-AzPolicyAssignment -Name 'assignment' -Scope "/managementGroups/$ ...
+ ~~~~

[2021-06-23 05:54] RohitMungi-MSFT commented on #77089
@JackCaster I hope you have created a support case following the steps mentioned in the email. We will go ahead and close this case now. Thanks for the feedback.

[2021-06-23 05:54] #77089 closed

[2021-06-23 06:03] CHEEKATLAPRADEEP-MSFT commented on #77326
@spelluru Could you please look into the above issue?

[2021-06-23 06:10] baswijdenes commented on #77020
Can Microsoft make me an owner of the group for now? So I can continue with my work

[2021-06-23 06:29] nishankgu commented on #77100
@Aashish ***@***.***> @Dennis ***@***.***> could tou take this one. This is about az ml workspace share.

From: GiftA-MSFT ***@***.***>
Sent: Friday, June 18, 2021 9:17 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Nishank Gupta ***@***.***>; Assign ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Outdated command in manage workspace access (#77100)

Assigned #77100<https://nam06.safelinks.

[2021-06-23 06:42] felickz commented on #31853
same here - @mukeshinit are you on latest cli version?
az --version OUTPUT:

[2021-06-23 06:58] VikasPullagura-MSFT commented on #77331
@YuichiTorigoe
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-06-23 06:58] VikasPullagura-MSFT commented on #77331
@mimckitt
Can you please check and add your comments on this doc update request as applicable.

[2021-06-23 07:12] cg-zhou commented on #11854
It is confusing and I toke about 1 hour to figer it out 😢.
In the reservation page, it prompts 'Subscription not eligible for purchase...Reservations discounts apply to the offer type: Pay-As-You-Go'.
And in the subscription page, the offer field value is 'Pay-As-You-Go'.

[2021-06-23 07:14] jtpower opened #77336 "Fixed: Create Edge Node to Existing Cluster, Report sh 404"
Docs updated, But ARM template **NOT** update.

ARM template default script URL:
`https://raw.githubusercontent.com/Azure/azure-quickstart-templates/master/quickstarts/microsoft.hdinsight/scripts/EmptyNodeSetup.sh`

Now:
`https://raw.githubusercontent.com/Azure/azure-quickstart-templates/master/quickstarts/microsoft.hdinsight/hdinsight-linux-with-edge-node/scripts/EmptyNodeSetup.sh`

**MUST** over

[2021-06-23 07:55] Freia3 opened #77337 "Documentation Databricks Connect Limitations"
[Enter feedback here]
In the documentation the following is written:
"Limitations
The following Azure Databricks features and third-party platforms are **unsupported**:

Native Scala, Python, and R APIs for Delta table operations (for example, DeltaTable.forPath) are **supported**, as well as the SQL API (spark.sql(...)) with Delta Lake operations and the Spark API (for example, spark.read.load) o

[2021-06-23 08:02] Smoovsky opened #77338 "Load Balance Doc - Health Probe Page should mention that health probe of LB with Basic SKU cannot be used by a VMSS"
I noticed that if a health probe is from a LB with Basic SKU, it can not be used for a VMSS, as:
![image](https://user-images.githubusercontent.com/34542126/123058824-880ba680-d44c-11eb-87c0-45719c1527a1.png)

But this behavior is not mentioned in the documentation, neither on this page, nor on page: [VMSS health extension](https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-

[2021-06-23 08:04] celinama opened #77339 "Supportability of Blob storage events on secondary endpoint of ADLS Gen2"
Dear All,

In published document https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-supported-blob-storage-features
it is clearly mentioned that Blob storage events is a supported feature on ADLS Gen2.
Events | Generally available | Generally available | Reacting to Blob storage events
However according to PG/TA feedback this feature is NOT supported on the secondary endpoint i

[2021-06-23 08:22] peter11244 opened #77340 "Code Snippet does not work"
I am running the final code snippet, which does not work at present.
The code errors at the parameter `-Links` is not available on the function Remove-AzDataFactoryV2IntegrationRuntime. There are 90 linked runtimes, of which I am trying to remove 1.

![image](https://user-images.githubusercontent.com/1846224/123062341-566eed00-d404-11eb-8f06-c3f3fe136ed9.png)

---
#### Document Details

⚠ *Do not

[2021-06-23 08:34] svdHero commented on #77288
@tnorling Thank you for clarifying. You are probably right when saying that this wasn't ever a part of the tutorial. I've seen it in various other MSAL code samples (both for React and Vanilla JavaScript) and, thus, considered it part of the "bare minimum". I assumed that the `PublicClientApplication` instance has to know about the account in order to be able to do anything. Or put differently, I

[2021-06-23 08:36] svdHero commented on #77288
May I also mention (as slightly off-topic) something about the code snippet you linked? Since my last `npm update` I get a TypeScript error in
[code]
saying
[code]

I had to replace the code snippet by this one:
[code]
Maybe there's a more elegant way to do this, but I'm not a typescript expert. Just thought, I'd mentioned it, in case this might be helpful for extending some of the documentation.

[2021-06-23 08:56] marc-perreaut commented on #76813
Thanks for the feedback.

If possible, I would be interested to get documentation, guidelines, or best practices about "That’s to allow users to use chargeback automation without associating the charge to the same subscription that was used to make the purchase." Indeed, I have found https://docs.microsoft.com/en-us/azure/cost-management-billing/reservations/charge-back-usage, but it is not explic

[2021-06-23 08:58] xbnagy opened #77343 "az webapp up command doesn't properly deploy the quickstart app"
When following [this quick start guide](https://docs.microsoft.com/en-us/azure/app-service/quickstart-dotnetcore?tabs=net50&pivots=development-environment-cli) on creating and publishing a web app the following error message greets the user when navigating to the web app's URL:
[code]

The  `az webapp up [...]` command was run in the root of the repo, where the application is created after the `do

[2021-06-23 09:00] Zeyu1994 commented on #77337
I have same question and I did try DeltaTable.forPath(spark, path) but failed on DBconnect 8.1.6.

[2021-06-23 09:07] mstavrev opened #77344 "Deleting service with externalTrafficPolicy set to 'Local' that references static IP also deletes the IP"
Hello,

The example on the page works as described. However, if the service is created with the "externalTrafficPolicy: Local" and then deleted, Azure also removes the references static IP address as if it had been dynamically allocated by the service creation.
That creates a problem when the desire is to reuse the static IP address and defeats the purpose.
Furthermore, if the static IP address is

[2021-06-23 09:22] jamiepla1 opened #77345 "Typo: zone redundacy"
Typo: zone redundacy

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7b2624c-40ea-c23c-3af5-79953d4cb549
* Version Independent ID: 0bf60c10-7ae4-476a-6cbd-4a189a97000f
* Content: [Deploy Azure API Management services to multiple Azure regions - Azure API Management](https://docs.microsoft.com/en-us/azure/api-management

[2021-06-23 09:23] yoelhor commented on #76552
Closing due to inactivity.

#please-close

[2021-06-23 09:23] #76552 closed

[2021-06-23 09:23] yoelhor commented on #76546
Closing due to inactivity.

#please-close

[2021-06-23 09:23] #76546 closed

[2021-06-23 09:24] yoelhor commented on #76696
Closing due to inactivity.

#please-close

[2021-06-23 09:24] #76696 closed

[2021-06-23 09:25] yoelhor commented on #76723
Closing due to inactivity.

#please-close

[2021-06-23 09:25] #76723 closed

[2021-06-23 09:37] MayankBargali-MSFT commented on #77345
@jamiepla1 Thanks for reporting this item! I have updated the doc and it will be published soon. We appreciate the feedback!

[2021-06-23 09:40] #77345 closed

[2021-06-23 09:42] AshokPeddakotla-MSFT commented on #77184
@biaojiang Are you able to see connect option enabled? What is the error you are getting while you try to connect?

![image](https://user-images.githubusercontent.com/44426435/123074750-399edd80-d435-11eb-95ef-c66c3e11a3a3.png)

[2021-06-23 09:57] CHEEKATLAPRADEEP-MSFT commented on #77336
@jtpower  Thanks for the feedback!  We are investigating and will update you shortly.

[2021-06-23 09:58] CHEEKATLAPRADEEP-MSFT commented on #77337
@Freia3  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-06-23 10:02] asears commented on #44842
This can be closed now.  Polly referenced, Enterprise Library removed.

[2021-06-23 10:02] #44842 closed

[2021-06-23 10:16] biaojiang commented on #77184
Hi, thank you for the information. Yes, I met some errors, but not always, one error is "RemoteException: Exception from HRESULT: 0x80240437", but when I reconnect it again, it disappeared. I had deleted that IoT device, I will deploy a new one and test it again, and give you more information.

[2021-06-23 10:17] HarshitaSingh-MSFT commented on #77332
Hello @WhippsP , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-06-23 10:21] manish-jain-alept opened #77346 "Update data in SQL table using JDBC connector"
[JDBC Write](https://docs.microsoft.com/en-us/azure/databricks/data/data-sources/sql-databases#jdbc-writes)
Way to update/insert data is not mentioned or not supported. Current way is not sufficient when One is trying to update data in SQL from Azure Databricks Notebook(Scala)

Example

spark.read.jdbc(url=jdbcUrl, table=srMaster, properties=connectionProperties).createOrReplaceTempView("srMasterT

[2021-06-23 10:21] HarshitaSingh-MSFT commented on #77333
@HanyeongKim , thank you for reaching out to us! Can you please share which article you are referring to?

[2021-06-23 10:23] AshokPeddakotla-MSFT commented on #77184
@biaojiang Sure, do let us know the outcome.

[2021-06-23 10:26] andrePKI opened #77347 "Dead links"
Links in the second Tip! box are dead. e.g. [this one](https://docs.microsoft.com/en-us/azure/security-center/faq-data-collection-agents.yml#am-i-billed-for-azure-monitor-logs-on-the-workspaces-created-by-security-center )
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8267e218-3748-2820-3eee-80479705eec2
* Version Inde

[2021-06-23 10:55] HarshCo opened #77348 "QnA maker generate answer api unusual behavior (rankerType issue)"
# QnA maker generate answer api is unable to fetch the QnA maker pair after adding ChitChat file

If we add rankerType variable as "rankerType": "QuestionOnly" the result is not matching with the QnA portal test results

## Issue Description

Below is the configuration we are using to hit QnA generate answer api from postman.

- Method POST https://*******.azurewebsites.net/qnamaker/knowledgebases

[2021-06-23 11:01] evorts commented on #33173
same here, could not remove my credit card info at all! even though my subscription already ended since 2018. My card info remains and could not be removed

[2021-06-23 11:02] xelossan opened #77349 "Lifecycle management and customer-provided encryption keys"
Does storage lifecycle management work with blobs using customer-provided encryption keys?

When I try to change tier of encrypted blob using SDK (without providing the key) or Portal, it returns 409 saying that the blob is encrypted and the key was missing. Does that mean that lifecycle rules that moves blobs between tiers also won;t work?

---
#### Document Details

⚠ *Do not edit this section.

[2021-06-23 11:05] CHEEKATLAPRADEEP-MSFT commented on #77346
@manish-jain-alept  Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2021-06-23 11:11] AnjanaAK commented on #66335
@lesterw1 I have the same issue.

[2021-06-23 11:15] wewalk-service-account opened #77350 "Azure Cosmos DB API for MongoDB - Support $dateFromString"
Although Mongo DB has been supporting `$dateFromString` in aggregation framework since MongoDB v3.6, we still can't use it even after upgrading to 4.0. Is there any plans to include this feature?

[2021-06-23 11:23] theonlycoder opened #77351 "Details regarding IKEv2 support of Basic SKU out of date?"
The answer to [this question](https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-vpn-faq#i-already-have-an-azure-vpn-gateway-deployed-can-i-enable-radius-andor-ikev2-vpn-on-it) states the following:

From reading much of the other documentation, it sounds like the Basic SKU has recently been updated to support IKEv2 (in fact, it sounds as though it's now _only_ IKEv2). The statement re

[2021-06-23 11:48] theonlycoder opened #77353 "Potential error regarding IKEv1 support on Basic SKU"
Under [About IKEv1 and IKEv2 for Azure VPN connections](https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-about-compliance-crypto#about-ikev1-and-ikev2-for-azure-vpn-connections) it states:

However, other documentation states that IKEv1 is still supported on the Basic SKU when using a PolicyBased tunnel. An example would be [here](https://docs.microsoft.com/en-us/azure/vpn-gateway/vp

[2021-06-23 11:50] v-hagamp commented on #68730
#please-close

[2021-06-23 11:50] #68730 closed

[2021-06-23 11:52] VikasPullagura-MSFT commented on #77344
@mstavrev
Thanks for your Question! We are currently investigating and will get back on this.

[2021-06-23 11:59] AjayKumar-MSFT commented on #77343
@xbnagy, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-06-23 12:34] joecarlyle opened #77355 "Incorrect instruction"
Is item 3 in this section valid? https://docs.microsoft.com/en-us/azure/migrate/set-discovery-scope#work-around-for-server-folder-restriction

There doesn't appear to be a documented method to complete this action.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 928360b6-2db9-0890-2029-067b09835223
* Version Independent

[2021-06-23 12:36] pietronromano commented on #77202
Hi there.. removing the trailing "/" fixed it! - that hadn't caused an issue with Direct mode, but did with Gateway mode...
This is a great feature, I'll be using it on my current project instead of Redis cache to handle objects that are heavy read and very infrequent writes.
Thanks a lot for your help.

[2021-06-23 12:37] jknowldenic opened #77356 "Azure Migrate missing command line instructions"
The [Download and install the provider](https://docs.microsoft.com/en-us/azure/migrate/tutorial-migrate-hyper-v#download-and-install-the-provider) section only mentions use of the GUI installer.  This fails when attempting to register a provider when running on Server Core.  There are command line instructions available in the [Site Recovery documentation](https://docs.microsoft.com/en-us/azure/si

[2021-06-23 12:52] GitaraniSharma-MSFT commented on #77338
@Smoovsky , thank you for the feedback. We have assigned this to the content owner/author for review.

@asudbring , for your review.

[2021-06-23 12:55] GitaraniSharma-MSFT commented on #77351
@theonlycoder , thank you for the feedback. We'll review this and get back to you shortly!

[2021-06-23 12:55] GitaraniSharma-MSFT commented on #77353
@theonlycoder , thank you for the feedback. We'll review this and get back to you shortly!

[2021-06-23 13:01] GitaraniSharma-MSFT commented on #77193
@SanthoshCheekoti , In general, we add the "what it is/how it works" contents to Concepts and "how it is done" contents to How-to guides.

Controlling Azure CDN caching behavior with query strings is something that is done via Azure portal and hence it is part of how to guide.

We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly

[2021-06-23 13:01] #77193 closed

[2021-06-23 13:10] #77212 closed

[2021-06-23 13:10] GitaraniSharma-MSFT commented on #77212
@crawfs , I have updated the doc with the correct permission format. It will reflect soon.

We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-06-23 13:15] RyanHill-MSFT commented on #77325
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-06-23 13:20] Tiberriver256 opened #77357 "Is the User.Read scope required? or just the user_impersonation?"
The image displayed shows that the application has both the user_impersonation and the User.Read scope assigned and granted. Is User.Read a requirement? If not, could this image be replaced to avoid confusion?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d02de0bf-09d7-a7fc-1b4a-213426e96b2d
* Version Independent ID:

[2021-06-23 13:24] rajsshah86 opened #77358 "Incorrect OS support detail for powershell customizer"
Under https://docs.microsoft.com/en-us/azure/virtual-machines/linux/image-builder-json#powershell-customizer
It has been wrongly mention that it supports both Linux and Windows. When I use it on linux image , it gives below error

_##[error]CustomizerNotSupportedForImage: Customizer powerShell is not supported on Linux images. Check the customizers referenced in the Image Builder Template. To find

[2021-06-23 13:41] jason934 commented on #76733
Thanks, but I would clarify a ticket is required for a Subscription transfer as well, for example:

"A support request is needed to transfer an enterprise account or subscription to a new enrollment."

------ Original Message ------
From: "Bill Anderson" ***@***.******@***.***>>
To: "MicrosoftDocs/azure-docs" ***@***.******@***.***>>
Cc: "jason934" ***@***.******@***.***>>; "Mention" ***@***.*****

[2021-06-23 13:44] hkusulja opened #77359 "Update docs about Compression"
.NET 5 Blazor WASM project by default creates the .gzip and .br (brotli) files.
In Azure static app, i believe that routing or something needs to be done, to serve those correctly.
Please clarify and update documentation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b5615c8-7144-399d-52d9-04283a942b50
* Version Indep

[2021-06-23 14:21] r0nen commented on #77027
Hi,
Any updated? @AjayKumar-MSFT @shhazam-ms @ElazarK

[2021-06-23 14:22] nunepalli opened #77361 "Alert criteria for long-running ADF pipeline"
My requirement is to setup an alert for long-running ADF pipeline (something like sending an email to my team when a pipeline runs for more than 8 hours).
I'm seeing `Elapsed Time Pipeline Runs Metrics` under `Add criteria` in `Alerts & metrics` in ADF. But, I'm not finding any documentation about that criteria.
![ADF](https://user-images.githubusercontent.com/44655242/123113822-77cfd900-d404-11eb

[2021-06-23 14:29] Costo opened #77363 "Restrictions on entity interfaces: Interface must be defined in the same assembly as the entity class"
I wanted to have an abstractions project with only entity interfaces, but apparently the interfaces must be defined in the same project/assembly as the entity class itself.
This restriction is not documented in the "Restrictions on entity interfaces" section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3799266d-bc0a

[2021-06-23 14:35] yanivlavi commented on #76657
It is described here:
https://docs.microsoft.com/en-us/azure/azure-monitor/logs/logicapp-flow-connector

[2021-06-23 14:49] jonwbstr commented on #76595
According to this ticket, the feature has been removed temporarily

A bit confusing as the sources referenced earlier say it's moving to GA later this year (2021). But I guess they turned it off completely and left broken documents everywhere in the meantime and shared nothing publicly about what is happening.

[2021-06-23 14:52] spelluru commented on #76619
@TanGolf - Here's what I confirmed with our product team.

Data expiration is based on retention-days setting (time based) only and total amount of used storage doesn’t have any impact on the retention although it will result in overage charge if its usage goes above quota.

#please-close

[2021-06-23 14:52] #76619 closed

[2021-06-23 15:05] sey123 opened #77365 "dependency to chat in channel calendar meetings"
guest user access restriction setting #2 (Guest users have limited access to properties and memberships of directory objects) disables the meeting chat in channel meetings. Case #:26236098

Please update this page to mention this dependency.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06c48d2a-fec6-95c9-7509-7666f63

[2021-06-23 15:12] Bananenbieger1234 opened #77366 ""Delete" lock on storage account prevents aks from deleting azurefile persistent volumes"
Hey guys,

there are some hints regarding applying locks on storage accounts. See [this section](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/lock-resources?tabs=json#considerations-before-applying-locks).

I was wondering if this information is really true. I am facing a complete different behavior:

- I have a storage account with a lock of type "Delete".
- I run an a

[2021-06-23 15:13] RyanHill-MSFT commented on #74883
Hi @kemurayama, the image needs to be updated and @jocortems will update as appropriate.

[2021-06-23 15:24] janetslei opened #77367 "not clear on this setting"
Member users and users assigned to specific admin roles can invite guest users including guests with member permissions: To allow member users and users who have specific administrator roles to invite guests, select this radio button.

Does this setting mean guests can still invite other guests?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2021-06-23 15:24] tamram commented on #77349
@xelossan - We document supported operations for customer-provided keys here:

https://docs.microsoft.com/en-us/azure/storage/blobs/encryption-customer-provided-keys#blob-storage-operations-supporting-customer-provided-keys

Setting the tier is not currently supported.

@ozgeeg - FYI

#reassign: @tamram

[2021-06-23 15:26] tamram commented on #77349
@xelossan - I'm closing this for now; please let us know if we can be of further help.

#please-close

[2021-06-23 15:26] #77349 closed

[2021-06-23 15:42] cephalin commented on #38316
Fixed in documentation and portal warning. #please-close

[2021-06-23 15:42] #38316 closed

[2021-06-23 15:47] tnorling commented on #77288
@svdHero

The instance itself does not need to know the account, however, some APIs (acquireTokenSilent for example) may require an account either be passed in as a parameter or set as the active account. The tutorial demonstrates passing it in as a parameter but either approach is valid.

Thanks for the feedback. The sample I linked and most of our docs are written in basic JavaScript so it may r

[2021-06-23 15:47] #77288 closed

[2021-06-23 15:50] aravishdatabricks opened #77368 "Error code 3207 is undocumented"
Error code 3207 is undocumented

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b57894dd-9bb6-0900-63c5-71c6b902abdf
* Version Independent ID: 048a747c-7ac0-e9a1-2c36-8cdf82cfd143
* Content: [Troubleshoot Azure Data Factory - Azure Data Factory](https://docs.microsoft.com/en-us/azure/data-factory/data-factory-troublesho

[2021-06-23 15:50] KrishnaG-MSFT commented on #77235
Verified and updated the document as required. The change should reflect shortly i.e., in less than 24 hours. Thanks again!

[2021-06-23 15:50] #77235 closed

[2021-06-23 15:51] dlepow commented on #70660
Thanks for your dedication to our documentation. Unfortunately, the requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. We are closing this issue for now, but feel free to comment here as necessary.
#please-close

[2021-06-23 15:51] #70660 closed

[2021-06-23 15:52] georgewallace commented on #10932
Thanks for providing feedback that helps improve our documentation. This is now described in detail at https://docs.microsoft.com/en-us/azure/app-service/scenario-secure-app-access-storage?tabs=azure-portal%2Ccommand-line. #please-close

[2021-06-23 15:52] #10932 closed

[2021-06-23 15:53] HarshitaSingh-MSFT commented on #77348
Hello @HarshCo , thanks for the question! Can you please share the MS Doc's link that you are referring to?

[2021-06-23 15:54] VikasPullagura-MSFT commented on #77358
@rajsshah86
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-06-23 15:54] VikasPullagura-MSFT commented on #77358
@kof-f
Can you please check and add your comments on this doc update request as applicable.

[2021-06-23 15:54] HarshitaSingh-MSFT commented on #77350
Hello @wewalk-service-account , thank you for reaching out to us! Could you please share the link of the MS Doc you are referring to here?

[2021-06-23 15:56] HarshitaSingh-MSFT commented on #77367
Hello @janetslei, thank you for reaching out to us! Could you please share the link of the MS Doc you are referring to here?

[2021-06-23 15:58] JamesTran-MSFT commented on #77347
@andrePKI
Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-23 15:58] JamesTran-MSFT commented on #77365
@sey123
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-06-23 15:58] georgewallace commented on #15070
Thanks for providing feedback that helps improve our documentation. The sample has been updated since this issue was created. If you feel this has not been resolved don't hesitate to reach out. #please-close

[2021-06-23 15:59] #15070 closed

[2021-06-23 15:59] #77116 closed

[2021-06-23 16:01] JamesTran-MSFT commented on #77269
@AurimasNav
I just wanted to check in and see if you had any other questions or had a chance to review my previous comment?

[2021-06-23 16:03] yutaro113 opened #77369 "Should the fact that _backup.filter doesn't work under the app with WEBSITE_RUN_FROM_PACKAGE be mentioend?"
Hi Team.

In my understanding, if app is configured with WEBSITE_RUN_FROM_PACKAGE, "_backup.filter" doesn't work. (I've also done experiment and confirmed it doesn't work.)

This may be because if WEBSITE_RUN_FROM_PACKAGE is enabled, content files including _backup.filter is not actually stored in wwwroot but zip package is mounted to wwwroot.

If above understanding is correct, should we mention

[2021-06-23 16:04] georgewallace commented on #16174
Thanks for providing feedback that helps improve our documentation. The article that was addressed in this issue does not exist and has been redirected to other articles. Don't hesitate to reach out if you have any other issues.  #please-close

[2021-06-23 16:04] #16174 closed

[2021-06-23 16:06] DerekHerman-MSFT commented on #77339
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-06-23 16:11] janetslei commented on #77367
https://docs.microsoft.com/en-us/azure/active-directory/external-identities/delegate-invitations#configure-b2b-external-collaboration-settings

[2021-06-23 16:13] #77239 closed

[2021-06-23 16:15] DerekHerman-MSFT commented on #77357
@Tiberriver256 This is noted in the article: _"The API permissions pane now shows that your registered Azure AD application has access to both the Microsoft Graph and Azure Storage APIs, and that consent is granted for the default directory. Permissions are granted to Microsoft Graph automatically when you first register your app with Azure AD."_
Since this is not related to Storage it would not b

[2021-06-23 16:36] fernandoferrini commented on #76840
Hi, was wondering if you have any update about this. Thanks.

[2021-06-23 16:37] JamesTran-MSFT commented on #77273
@andrewrlee
Thank you for pointing this out! I've assigned this issue to the author who will investigate and update as appropriate.
![image](https://user-images.githubusercontent.com/36619112/123135388-93d47a00-d406-11eb-945d-01a6d11673dd.png)

Thank you for your time and patience throughout this issue.

[2021-06-23 16:51] JamesTran-MSFT commented on #77347
@andrePKI
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

[Am I billed for Azure Monitor logs on the workspaces created by Security Center?](https://docs.microsoft.com/en-us/azure/security-center/faq-data-collection-agents#am-i-billed-for-azure-monitor-logs-on-the-workspaces-created-by-security-center

[2021-06-23 16:51] #77347 closed

[2021-06-23 16:56] prosprice opened #77370 "Document required `az ssh` options for private VMs"
In the documentation, under _Login using Azure AD user account to SSH into the Linux VM_ > _[Using Az CLI][1]_, please add a note that `--prefer-private-ip` is a required command line option to `az` when connecting to a VM that does not have a public IP.  It may also be worth noting in the Troubleshooting section.

See: https://github.com/Azure/azure-cli-extensions/issues/2762

[1]: https://docs.m

[2021-06-23 16:58] dlepow commented on #57852
@przemolb - We sincerely apologize for the delayed response. To assign Azure roles, you must have Microsoft.Authorization/roleAssignments/write permissions in the subscription, such as [User Access Administrator](https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#user-access-administrator) or [Owner](https://docs.microsoft.com/en-us/azure/role-based-access-control/buil

[2021-06-23 16:58] #57852 closed

[2021-06-23 17:08] JamesTran-MSFT commented on #77370
@prosprice
Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-23 17:08] HarshitaSingh-MSFT commented on #77355
Hello @joecarlyle , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-06-23 17:17] MarileeTurscak-MSFT commented on #77149
I made a pull request to remove this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/163440

@jeevansd , @v-hagamp, and @v-rant please confirm

[2021-06-23 17:17] #77149 closed

[2021-06-23 17:22] dlepow commented on #23009
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue.
#please-close

[2021-06-23 17:22] #23009 closed

[2021-06-23 17:23] MarileeTurscak-MSFT commented on #76835
This is being reviewed by the content team and there is a work item to track this. https://github.com/MicrosoftDocs/azure-docs/issues/74973#issuecomment-834730084

[2021-06-23 17:23] #76835 closed

[2021-06-23 17:24] Ayanmullick opened #77371 "Default temp disk size table"
W.R.T the section below, is there a table with the default temp disk sizes for different VM SKU's?
https://docs.microsoft.com/en-us/azure/virtual-machines/managed-disks-overview#temporary-disk

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0fa17494-67b2-5eed-5359-c8efcbd78254
* Version Independent ID: c6e32ef4-3636-e00

[2021-06-23 17:32] #77370 closed

[2021-06-23 17:36] SaiKishor-MSFT commented on #77175
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-06-23 17:36] #77175 closed

[2021-06-23 17:41] aanaveen opened #77372 "Additional Azure => AWS dimensions mapped"
[Enter feedback here]
Can we add additional dimensions to this documentation? I will be glad to collaborate offline, I started looking because one of my customers has a need and our documentation does not have many of the Azure dimensions mapped to AWS.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d4edf30-fd89-afee-f

[2021-06-23 17:42] Wibusts opened #77373 "Page does not translate to Spanish"
[Escribir comentarios aquí]

---
#### Detalles del documento

⚠ *No edite esta sección. Se requiere para la vinculación de problemas de docs.microsoft.com ➟ GitHub.*

* ID: 0e6e009c-2e82-98ae-6a18-ce0e8991f3cc
* Version Independent ID: 8e36df09-f7f1-dcbd-dc3d-93cbeed1b040
* Content: [On-premises Azure AD Password Protection FAQ](https://docs.microsoft.com/es-mx/azure/active-directory/authenticatio

[2021-06-23 17:49] anaraju commented on #77175
Yes that worked, thanks.

[2021-06-23 17:50] JamesTran-MSFT commented on #77373
@Wibusts
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-06-23 17:50] bandersmsft commented on #77372
@aanaveen Sounds great. We'll work on any needed changes outside of GitHub issues. Closing this issue.
#please-close

[2021-06-23 17:50] #77372 closed

[2021-06-23 17:50] LoremIpsum42 opened #77374 "no documentation about docker context create aci azuremycontext and docker compose"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2021-06-23 17:51] #77374 closed

[2021-06-23 17:55] georgewallace commented on #45141
Thanks for providing feedback that helps improve our documentation. Unfortunately we hadn't been able to review your issue in a timely manner. In review it looks like this issue has been resolved and the document has been updated numerous times since this issue was open. We are closing the issue. #please-close

[2021-06-23 17:55] #45141 closed

[2021-06-23 18:01] MicrosoftGuyJFlo commented on #77248
#please-close

[2021-06-23 18:01] #77248 closed

[2021-06-23 18:08] KalyanChanumolu-MSFT commented on #77202
@kavyako Thank you for looking into this issue.

@pietronromano We are glad we could help you with this.
We will proceed to close this issue now.

In future, if there are any technical questions regarding Azure CosmosDB, please post them on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/topics/azure-cosmos-db.html)

[2021-06-23 18:08] #77202 closed

[2021-06-23 18:26] JasonWHowell commented on #77336
@guyhay Could you please take a look at this feedback regarding ARM template JSON.

[2021-06-23 18:29] SrijitBose-MSFT commented on #77344
@mstavrev , Thank you for your question. However, we could not reproduce this issue with any success. Can you please specify the version of AKS you are using?

[2021-06-23 18:30] KranthiPakala-MSFT commented on #77200
The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2021-06-23 18:30] #77200 closed

[2021-06-23 18:32] #48752 closed

[2021-06-23 18:48] fgheysels commented on #76657
Thanks, but that's not really what I'm looking for.   I don't want to specify a KQL query in the logic app.
I have a logic app which is triggered via an Action Group, because an alert was fired (the action group is configured with a webhook to the Logic App).
The Logic App receives a request where the body contains some information regarding the alert.  like this:

[code]
It doesn't seem to be so

[2021-06-23 18:50] ShachafGoldstein commented on #75375
@vhorne , @JamesTran-MSFT - Any news on this issue?

[2021-06-23 18:56] KumudD commented on #54712
@allegradomel Please can you comment. Thanks!

[2021-06-23 18:56] rthorn17 commented on #11379
@amjoneja you should be able to use the MG ID you stored in the variable.  The ID will return as "/providers/Microsoft.Management/managementgroups/<Id>" within the GET, so you don't need to add anything to it.

The top-level properties for an example mg called "Contoso" will show as:
id: "/providers/Microsoft.Management/managementgroups/Contoso"
type: "/providers/Microsoft.Management/managementgro

[2021-06-23 18:56] rthorn17 commented on #11379
@amjoneja you should be able to use the MG ID you stored in the variable.  The ID will return as "/providers/Microsoft.Management/managementgroups/<Id>" within the GET, so you don't need to add anything to it.

The top-level properties for an example mg called Cwill show:
id: "/providers/Microsoft.Management/managementgroups/Contoso"
type: "/providers/Microsoft.Management/managementgroups/"
"name"

[2021-06-23 19:01] bandersmsft commented on #76627
@Siby22071989 @anuragdalmia I'll get the article updated today.

[2021-06-23 19:07] bandersmsft commented on #76627
Fixed with https://github.com/MicrosoftDocs/azure-docs-pr/pull/163461
#please-close

[2021-06-23 19:07] #76627 closed

[2021-06-23 19:12] AjayKumar-MSFT commented on #77197
@code-Miracle49, Apologies for the delay!  Thanks for sharing the doc URL. I have assigned this to SME, who will get back to you shortly on this.

[2021-06-23 19:12] srsaggam opened #77377 "Fix Typo"
There seems to be a typo in the page:

az ml pipeline create-schedule -n myschedule -e **_myexpereiment_** -i mypipelineid -y myschedule.yml

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6013f381-38ac-acff-3d9e-b45c5e8420cc
* Version Independent ID: 52a0e03a-fbf0-b679-79b4-06374ea96466
* Content: [Install & use Azure

[2021-06-23 19:16] AjayKumar-MSFT commented on #77192
apayero, We will close this out, but if you feel you need more information please just let us know.

[2021-06-23 19:16] #77192 closed

[2021-06-23 19:25] tarun-gupta-ps opened #77378 "Unable to run HTTP trigger based Azure Function locally using VS Code (Value cannot be null. (Parameter 'provider'))"
I’ve followed the following link to create a sample HTTP trigger based Azure function

https://docs.microsoft.com/en-us/azure/azure-functions/create-first-function-vs-code-java

When I am trying to run it using Ctrl+F5 in VS Code, I am getting the following error.

<img width="960" alt="VS Code Error" src="https://user-images.githubusercontent.com/64085118/123156384-d89ff580-d486-11eb-8e49-2fe13c0

[2021-06-23 19:29] baanders commented on #77322
#assign:danhellem

[2021-06-23 19:33] MarileeTurscak-MSFT commented on #76980
Thank you! Based on what I have read in other documents, 2016 seems to be the requirement. I made a pull request to update the guide. https://github.com/MicrosoftDocs/azure-docs-pr/pull/163468

@billmath please confirm

[2021-06-23 19:33] #76980 closed

[2021-06-23 19:34] danhellem commented on #77322
@stewartadam thanks for the comments. We went ahead and renamed the "thermostat component" to just "thermostat" for now. We are trying to avoid complexity and keeping things as simple as we can. If we get some feedback that the example is not enough, we will make the adjustment as you suggest.

[2021-06-23 19:42] afscrome opened #77379 "Conflicts over Cosmos RBAC support"
This article has two contradictoary notes

This note at the top suggests RBAC is supported

But this later section suggests that it is not supported

I know RBAC support has only been accessed recently, so I suspect the top note was added recently, but without removing the later note

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2021-06-23 19:42] jcbrooks92 opened #77380 "Updating documentation with protection time"
Based on an issue described in the ICM below the recommended update was to state discovery can take up to 8 hours but the actual protection of the system can take additional time as it depends on the size of the VM.

Reference ICM#: 239725964

_This is because the discovery typically runs every 8 hours._

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2021-06-23 19:43] MarileeTurscak-MSFT commented on #75803
You can remove Staged Rollout after the final cutover. You do not need to do so before federation.

[2021-06-23 19:43] #75803 closed

[2021-06-23 19:43] KumudD commented on #49947
#reassign: allegradomel

[2021-06-23 19:44] GiftA-MSFT commented on #77377
@srsaggam we'll review your feedback and get back to you shortly. Thanks.

[2021-06-23 19:45] baanders commented on #77322
I'm updating the document to refer to the component by its new "thermostat" name in this pull request: https://github.com/MicrosoftDocs/azure-docs-pr/pull/163467. The code and the surrounding text should both reflect the update by 3 PM PST today.

To help address the point about the component's reusability value, I'm also adding a sentence after the example stating that if other models in this sol

[2021-06-23 19:48] stewartadam opened #77381 "Showcase extended ontology with relationships"
The extended ontology example extends the existing interface, which is a relatively straightforward scenario - it would be helpful for the docs to show how to extend an ontology interface that has relationships, and how one would go about building an augmented/derived interface with new properties, ensuring that relationships point to the augmented interface instead of the original.

---
#### Docu

[2021-06-23 19:55] BharathNimmala-MSFT commented on #77366
@Bananenbieger1234 Thank you for reaching out to us with your queries, assigned this issue to our document author to further review and update the thread accordingly.

[2021-06-23 20:01] svdHero commented on #77288
@tnorling Thanks again for your help.

[2021-06-23 20:02] Grace-MacJones-MSFT commented on #77340
thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update as appropriate

[2021-06-23 20:14] rforster-dev opened #77383 "Add notes on using authorization.json?"
I recently have had a scenario where I have a WordPress website on an Azure App Service.

We've been required to use the Authentication model (Easy Auth I think) to force users to sign in first to view the website with their AD details.

This works fine, however the WordPress site has a URL I need to expose to a pipeline.

[I found this information on this here.](https://azure.github.io/AppService

[2021-06-23 20:15] #77322 closed

[2021-06-23 20:23] divyaswarnkar commented on #74722
@danbudimir thanks for the feedback. We'll make doc updates to include inputs explicitly in the examples

[2021-06-23 20:26] KumudD commented on #46391
#reassign:@tamilmani1989

[2021-06-23 20:26] PRMerger13 commented on #46391
tamilmani1989 is not a valid GitHub ID, or is not a collaborator on this repo.

[2021-06-23 20:28] KumudD commented on #46391
#reassign: @aanandr Please can you look into this issue. Thanks!

[2021-06-23 20:31] divyaswarnkar commented on #75629
Hi @MatthewBrown0 , your observation is odd. I just checked and was able to see these settings, so there isnt any regression. Can you reach out to me at divswa@microsoft.com and we can see if there is something unique about your environment. Please do note that this capability is only available for SFTP - SSH connector, and for a subset of actions as listed in the doc.

[2021-06-23 20:33] ChaitanyaNaykodi-MSFT commented on #77087
Hello @qualitas-software, apologies for the delay here. We have assigned this issue to the author to review further and take the next course of action.
@spelluru, could you please have a look at this issue? and confirm if we can add the ARM template example referenced. Thank you!

[2021-06-23 20:34] kwill-MSFT opened #77384 "CloudTable does not create table if it doesn't exist"
Docs have this note:

This doesn't actually happen.  The code throws an error if the table doesn't exist, and no table is created.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1093baf6-b6b6-52f7-5268-697fe6412bdf
* Version Independent ID: 65b4f939-ad12-b9e1-afd6-2f734653a163
* Content: [Perform Azure Table storage op

[2021-06-23 20:35] wesmc7777 commented on #63499
@andrepodnozov Thank you. This should be **DeviceConnect** using the module identity as a device identity

[2021-06-23 20:37] divyaswarnkar commented on #76848
@nitin-narkar that's good feedback. We have added this in our backlog and will make the doc updates soon with samples for the entire scenario.

[2021-06-23 20:40] whhender commented on #77026
@OffColour - I have spoken with the feature owners and the **behavior you are seeing is correct.**

Currently, within Purview, account key is the only available authentication type for Azure Files. To "Allow trusted Azure Services" through a storage firewall requires an MSI. Currently for Purview to be able to scan Azure Files, a firewall would need to be removed.

[2021-06-23 20:46] rajeshsetlem commented on #74116
Hi @tomaszkuciaba, You are absolutely right that cluster name object (CNO) is the one that has permissions to create the computer object corresponding to Availability Group listener. We tested using the same environment (Windows Server 2019 & SQL Server 2019) but we couldn't repro the error, At this point I would recommend to please open a support case so that we can troubleshoot further and ident

[2021-06-23 20:50] MashaMSFT commented on #74116
Thanks @rajeshsetlem ! @tomaszkuciaba , since this has moved beyond the scope of assistance we're able to provide over docs, I'll close out this Git Issue for the time being. However, please feel free to comment should you need anything further.

Thanks again for reaching out, and I hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#please-close

[2021-06-23 20:50] #74116 closed

[2021-06-23 20:54] Cameron-Micka commented on #75876
Apologies for the delay @CharlesWilliamW I was out on vacation. But, I did hear back from the Mixed Reality Feature Tool author and they were unsure why the MRTK\Shaders folder would fail to be created but they recommended trying v2.5.4 of the Feature Tool to see if that fixes the issue.

If that doesn't work you could try using the "old-fashioned way" of getting Unity packages from: https://githu

[2021-06-23 20:56] tfitzmac commented on #76975
The update has been published.
https://docs.microsoft.com/en-us/azure/templates/microsoft.devices/iothubs?tabs=json

[2021-06-23 20:56] tfitzmac commented on #76975
#please-close

[2021-06-23 20:56] #76975 closed

[2021-06-23 21:06] KumudD commented on #34567
#reassign: @ramandhillon84

[2021-06-23 21:06] PRMerger13 commented on #34567
GitHub user EricTheRed999 has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2021-06-23 21:09] KumudD commented on #30604
#reassign: @altambaw

[2021-06-23 21:10] ecfan commented on #75629
@divyaswarnkar, thanks for your input! We'll go ahead and close this thread due to no doc changes necessary and no repro. If the situation changes, please open a new issue!

@ChaitanyaNaykodi-MSFT: #please-close

[2021-06-23 21:10] #75629 closed

[2021-06-23 21:21] MikalaiSavenka opened #77386 "misprint"
on java related tab

git clone https://github.com/Azure/azure-iot-sdk-c.git
 should be replaced with
git clone https://github.com/Azure/azure-iot-sdk-java.git

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78884cad-41dd-0c66-8173-506141801262
* Version Independent ID: 5fdb7caf-ce9e-1ef5-1ebf-5f2b8e6f0ec7
* Content: [Se

[2021-06-23 21:33] alejandrocolman commented on #66250
Hi,
Any updates on this?

[2021-06-23 21:42] Karishma-Tiwari-MSFT commented on #76450
We will now close this issue. Feel free to share the details when you are ready and please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2021-06-23 21:42] #76450 closed

[2021-06-23 21:43] Karishma-Tiwari-MSFT commented on #77243
Is there any update?

[2021-06-23 21:51] Karishma-Tiwari-MSFT commented on #77371
Yes, you can find the temporary storage for each VM size here: https://docs.microsoft.com/en-us/azure/virtual-machines/sizes

![image](https://user-images.githubusercontent.com/20851144/123172733-6998b180-d432-11eb-9ee3-4a156440342d.png)

For example:
https://docs.microsoft.com/en-us/azure/virtual-machines/dv2-dsv2-series-memory#dv2-series-11-15

We will now close this issue. If there are further

[2021-06-23 21:51] #77371 closed

[2021-06-23 21:52] ecfan commented on #76848
@nitin-narkar, thanks for your request! We'll proceed to close the thread now that the work is on the backlog.

@MayankBargali-MSFT: #please-close

[2021-06-23 21:52] #76848 closed

[2021-06-23 21:56] timlt commented on #77386
#assign:timlt
#label:"assigned-to-author"
#pri1
#label:"doc-bug"
#label:"triaged"

[2021-06-23 22:05] timlt commented on #77386
Hi there, thank you for taking time to help improve the docs!

I've merged a fix for the git clone link to the Java SDK repo.  The update should publish by 11 a.m. (PST) tomorrow, at latest.

Thanks again for your interest in Azure IoT.

#please-close

[2021-06-23 22:05] #77386 closed

[2021-06-23 22:07] ChaitanyaNaykodi-MSFT commented on #77363
Hello @Costo,
Thank you for your feedback! We will review and update as appropriate.

[2021-06-23 22:10] DerekHerman-MSFT commented on #77384
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-06-23 22:24] Grace-MacJones-MSFT commented on #77359
thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update as appropriate

[2021-06-23 22:29] Grace-MacJones-MSFT commented on #77361
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-06-23 22:31] idg-sam commented on #74283
https://github.com/MicrosoftDocs/azure-docs-pr/pull/163030 is merged now

[2021-06-23 22:36] ecfan commented on #77245
@stevechanis, thanks for reaching out!

* All the **Variables** operations are *built-in operations*, which run natively in Azure Logic Apps. So, whether you're using the designer for Standard or Consumption plan-based workflows, the **Variables** operations appear under the **Built-in** category. They won't appear under **Azure** connector category in the Standard-based experience, nor under the

[2021-06-23 22:43] stewartadam opened #77388 "typo in digital twins model upload code sample"
The *Upload a model* code sample under [.NET SDK usage examples](https://docs.microsoft.com/en-us/azure/digital-twins/concepts-apis-sdks#net-sdk-usage-examples) has a typo:
[code]

This fails to compile because the `new` keyword should not be present ([ReadAllText](https://docs.microsoft.com/en-us/dotnet/api/system.io.file.readalltext?view=net-5.0) is a static method)

I see a reference to `~/digi

[2021-06-23 22:48] kgremban commented on #77165
Hi @saseiler, Mariner is not one of our [tier 1 supported operating systems](https://docs.microsoft.com/azure/iot-edge/support#operating-systems) so we don't have installation packages or documentation available for Mariner OS.

[Azure IoT Edge for Linux on Windows](https://docs.microsoft.com/azure/iot-edge/iot-edge-for-linux-on-windows?view=iotedge-2018-06) does run on CBL-Mariner virtual machine

[2021-06-23 23:05] #63499 closed

[2021-06-23 23:07] kgremban commented on #77067
@shoter Thank you for the suggestion. I think that's a good idea. I'll start implementing the update this week.

[2021-06-23 23:33] JamesBurnside commented on #77169
This has been fixed: https://github.com/MicrosoftDocs/azure-docs-pr/pull/163013

[2021-06-23 23:34] chamukallem-msft commented on #68999
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-23 23:34] #68999 closed

[2021-06-23 23:37] chamukallem-msft commented on #68852
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-23 23:37] #68852 closed

[2021-06-23 23:44] kgremban commented on #77129
@scout208 Thank you for catching this oversight. You're right that this is a step that we have in our other Linux installation docs but missed here. I'll add that now!

[2021-06-23 23:55] Oury-MSFT commented on #77379
@afscrome  Thank you for your feedback. We are reviewing this and will get back shortly.
Regards,
Oury

[2021-06-23 23:59] peternann commented on #34167
This. Is totally ridiculous. This page absolutely looks like a phising page.
The layout is 1990's,
The visuals are 1980's,
the Microsoft logo is blurry,
"windowsazure.com" is totally suspicious.
"Windows" is a product.
"Azure" is a product.
They have little to do with each other so "windowsazure" makes little sense as a Microsoft owned domain.
The certificate is no help.
Who it is issued to is not

[2021-06-24 00:00] rolyon commented on #76063
Hi @weyCC81
Thanks for your feedback. Can you send a screenshot of where you see this SendAs functionality? We don't actively work in Exchange.
thanks

[2021-06-24 00:02] sukhans commented on #66250
Will need to look at the suppressions file created to understand why the suppression file is malformed.

Unfortunately, we do not support Folder skip in this version of CredScan.

[2021-06-24 00:06] #77129 closed

[2021-06-24 00:22] naiteeks commented on #76711
@MSKeith  - can you please look into this issue?

[2021-06-24 00:23] ChaitanyaNaykodi-MSFT commented on #77160
Hello @chdalski,
Apologies for the delayed response. Based on the comment [made here](https://github.com/MicrosoftDocs/azure-docs/issues/6431#issuecomment-595585803) by Sean, the JWT token should include `sub claim` for the policy to work.

As we primarily monitor this channel for any documentation enhancements and bugs, we will now proceed to close this issue out. If the issue still persists coul

[2021-06-24 00:23] #77160 closed

[2021-06-24 00:59] anilmur commented on #76711
@skanoka  - the error occurred at the "deploy-simulated-edge-device" stage when the template was trying to create an Azure VM, and configure it. Options:
1. Click on the "Operations details", and see if the message suggests you could retry
2. You could retry in another region
3. You could use this quickstart: https://docs.microsoft.com/en-us/azure/azure-video-analyzer/video-analyzer-docs/get-start

[2021-06-24 01:07] tanwar4 commented on #77243
I will reach out to Microsoft Q&A. Thanks

[2021-06-24 01:08] naiteeks commented on #76711
![MicrosoftTeams-image](https://user-images.githubusercontent.com/42254991/123186918-0288f600-d44e-11eb-9f0f-f1b538367b61.png)

Issue: Policy Check (Rule 100) did not pass in West US2

[2021-06-24 01:33] weinong commented on #64083
@duckie, sort of a bug, yes. The main reason is really `az aks update` is too conveniently to assume many things. When it's executed by a human with subscription owner role, everything will just work. However, when anything is changed a tiny bit, it will fall apart. That's my main concern of this issue: we don't explain what it does.

[2021-06-24 01:39] naiteeks commented on #76711
Different region is also causing the same error. Japan East and East US 2 as well

[2021-06-24 01:57] zhaohuijuan opened #77391 "Could you please check the swap configuration"
Hi, in the "Swap configuration",  the doc shows the mounts configuration as below [1] :
[1]
mounts:
  - ["ephemeral0.1", "/mnt"]
  - ["ephemeral0.2", "none", "swap", "sw", "0", "0"]

But in another official doc(https://docs.microsoft.com/bs-cyrl-ba/azure/virtual-machines/linux/cloudinit-configure-swapfile), the mounts configuration is [2]:
[2]
mounts:
  - ["ephemeral0.1", "/mnt"]
  - ["ephemeral0.

[2021-06-24 02:29] FabianGonzalez-MSFT opened #77392 "Change information about TTL"
Currently, when you create a Private Endpoint for Key Vault, the TTL for the A record is 10s. According to my discussions with engineering, the change is OK, however, the doc in here says that the TTL is not recommended to be less than 60s. That worries the customers as the A record is being auto created with 10s and it's less than recommended here. Again, the value is ok, I've confirmed that with

[2021-06-24 02:32] FabianGonzalez-MSFT opened #77393 "Wrong information about TTL on this page"
In this article, it recommends to use a TTL of 3600s for the A record under "Troubleshooting Guide", however, this other doc for KV Private Link (https://docs.microsoft.com/en-us/azure/key-vault/general/private-link-diagnostics#confirm-that-the-private-dns-zone-contains-the-right-a-record) says, we don't recommend TTL to be bigger than 600s. I would suggest to amend this article to reflect the cur

[2021-06-24 03:11] kamsumlee-ms opened #77395 "AKV private endpoint still in preview?"
[Enter feedback here]
The screenshots in this page still have "preview" but I think it's GA already.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 191d0067-67ee-212d-77f6-ffb1db64582f
* Version Independent ID: 71d5a250-17e6-8500-b6a3-3c46401a255c
* Content: [Integrate with Azure Private Link Service](https://docs.micr

[2021-06-24 03:33] #76629 closed

[2021-06-24 03:34] SnehaAgrawal-MSFT commented on #77369
@yutaro113 Thank you for your feedback! We will review and update as appropriate.

[2021-06-24 03:39] SnehaAgrawal-MSFT commented on #77115
@MhAllan Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2021-06-24 04:12] ram-msft commented on #77224
Thanks for the feedback. Raised [PR ](https://github.com/MicrosoftDocs/azure-docs-pr/pull/163541)for the Pytorch host update.

[2021-06-24 04:14] ram-msft commented on #77224
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-06-24 04:14] #77224 closed

[2021-06-24 04:21] HarshitaSingh-MSFT commented on #77350
Hello!
Just checking to see if you have had a chance to see the previous response.

[2021-06-24 04:21] HarshitaSingh-MSFT commented on #77348
Hello!
Just checking to see if you have had a chance to see the previous response.

[2021-06-24 04:21] HarshitaSingh-MSFT commented on #77333
Hello!
Just checking to see if you have had a chance to see the previous response.

[2021-06-24 04:27] HarshitaSingh-MSFT commented on #77368
Hello @aravishdatabricks , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-06-24 04:30] jogikalpesh commented on #77116
Sorry @JamesTran-MSFT , I could not reply yesterday as I was off sick. We have made the changes to DNS but the record has not yet been propagated.  I will try to verify once propagated successfully.

[2021-06-24 04:30] HarshitaSingh-MSFT commented on #77380
Hello @jcbrooks92  , thanks for the question! Can you please share the MS Doc's link that you are referring to?

[2021-06-24 04:31] HarshitaSingh-MSFT commented on #77383
Hello @rforster-dev  , thanks for the question! Can you please share the MS Doc's link that you are referring to?

[2021-06-24 04:34] AshokPeddakotla-MSFT commented on #77381
@stewartadam Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-06-24 04:36] AshokPeddakotla-MSFT commented on #77388
@stewartadam Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-06-24 04:49] HarshCo commented on #77348
@HarshitaSingh-MSFT  Thankyou for your patience.
I am referring below link.
https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/how-to/metadata-generateanswer-usage?tabs=v1

[2021-06-24 04:56] aamorale opened #77398 "Add additional validations to Debug-AzStorageAccountAuth"
Since client machine domain join is not a must for either AD DS scenarios I think an additional validation can be included on this Debug script that it checks if the client machine has line of sight to the Domain through the command just the script should ask for the domain FQDN

nltest /dsgetdc:<domainfqdn>

Other frequent issue is when storage key credentials are cached on the client machine tha

[2021-06-24 05:01] SwathiDhanwada-MSFT commented on #77012
Apologies for assigning issue late @lgayhardt

[2021-06-24 05:11] Yonet commented on #71196
@RohitMungi-MSFT I aggree users should be able to see the docs regardless of sign in, that is the issue I reported. There is a an edge case logic somewhere that you see in the video and should never happen.

[2021-06-24 05:38] SwathiDhanwada-MSFT commented on #77000
@josmill As we haven't heard back from you, we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2021-06-24 05:38] #77000 closed

[2021-06-24 05:50] AnuragSharma-MSFT commented on #77203
@alansingfield  Thanks for reporting this. I have created a PR. This PR could take few days to get approved and will then be live in this document.
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-06-24 06:07] JayaChatterjee-MSFT commented on #77378
@tarun-gupta-ps  Thank you for the question. We will review and get back to you.

[2021-06-24 06:28] v-amallick commented on #76686
@ianc911, thank you for your feedback. Will consult with the product group and get back.

[2021-06-24 06:28] taminta opened #77400 "information mismatch with App Service document"
[Enter feedback here]
This document indicate below. We can understand "User needs to deploy DNS proxy for name resolution from App Service using virtual network integration".

Scenario : Name resolution from an Azure App Service (Web App, Function, or Bot) using virtual network integration to role instances or VMs in the same virtual network.
Solution : Customer-managed DNS servers forwarding quer

[2021-06-24 07:10] assaf-grth opened #77401 "pas.windows.net returns http 404 (Issue #66625 still persists)"
Are there any updates to the original issue?
Thanks,

A 200 OK response should be returned. This has been escalated to the product group for review since it looks like some endpoints aren't working correctly. Thanks for calling it out. #please-close will make changes based on response from the PG when they resolve.

_Originally posted by @MicrosoftGuyJFlo in https://github.com/MicrosoftDocs/azure-

[2021-06-24 07:14] rforster-dev commented on #77383
Yep so this is the link I found detailing the authorization.json file

[https://azure.github.io/AppService/2016/11/17/URL-Authorization-Rules.html](https://azure.github.io/AppService/2016/11/17/URL-Authorization-Rules.html)

And I think it will be really useful to have the information on this page:

[https://docs.microsoft.com/en-us/azure/app-service/overview-authentication-authorization](https://

[2021-06-24 07:25] GousiyaAcchukatla commented on #30802
Hi, what is the password and username shall I provide?
can you please confirm?

[2021-06-24 07:35] mstavrev commented on #77344
Hello,

I was using the latest stable one 1.20.7.
Unfortunately, today I can no longer reproduce it no matter how I try. Yesterday it happened all the time and always occurred.

I was using the following sequence I put today as a script (yesterday I've executed the steps manually):

[aks-static-ip-issue-steps.txt](https://github.com/MicrosoftDocs/azure-docs/files/6707219/aks-static-ip-issue-steps.

[2021-06-24 08:07] #74403 closed

[2021-06-24 08:23] rolandkru opened #77402 "Azure IoT TLS: Critical changes"
What is the impact of the upcoming TLS changes on the "Connect a downstream device to an Azure IoT Edge gateway" functionality? In the docs there is still the Baltimore Root Certificate mentioned.
https://techcommunity.microsoft.com/t5/internet-of-things/azure-iot-tls-critical-changes-are-almost-here-and-why-you/ba-p/2393169

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2021-06-24 08:41] CharlesWilliamW commented on #75876
I tried 2.5.4 with MixedRealityFeatureTool and the "old-fashioned way" on new Unity project and they both worked. Thank you for your help.

[2021-06-24 08:41] #75876 closed

[2021-06-24 08:46] moagra commented on #76928
Corrected the docs for this.

[2021-06-24 08:48] moagra commented on #76649
fixed this in the public docs

[2021-06-24 08:48] moagra commented on #76533
Corrected the docs

[2021-06-24 08:51] OffColour commented on #77026
Ah. Well as we won't be removing the firewall I guess we'll have to wait!
Thanks anyway!

[2021-06-24 08:51] #77026 closed

[2021-06-24 09:08] xelossan commented on #77349
@tamram Are there any plans to support this?

We would like to be able to move blobs that use customer-provided keys to Archive tier but as you said, right now it's not possible. Both AWS and GCP allow changing tier when using customer-provded keys for encryption.

[2021-06-24 09:13] miller-web commented on #56448
Why was this issue closed? There still seems to be no way to reconfigure the basic 504 Gateway Time-out page advertising Microsoft-Azure-Application-Gateway/v2? Please correct me if I am wrong

[2021-06-24 09:30] razor5678 opened #77403 "Microsoft.NetApp resource type update"
[Enter feedback here]

Can we please update the Microsoft.NetApp resource type on the below link?

https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/tag-support#microsoftnetapp

Azure NetApp Files currently supports billing tags on the capacity pool and it does get reflected in the cost report

Refer: https://docs.microsoft.com/en-us/azure/azure-netapp-files/manage-billing-t

[2021-06-24 09:32] MasterKolka opened #77404 "Diagnostic logs in Virtual Machine Scale Sets should be enabled"
Hello,

I found one problem with the warning "Diagnostic logs in Virtual Machine Scale Sets should be enabled". It can't be fixed for VMSS with 0 instances.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9d7741b-cd5a-29b0-c360-e054f7686c87
* Version Independent ID: f03434f5-504a-d87f-b9ce-3ed695db9227
* Content: [Secu

[2021-06-24 09:33] MasterKolka commented on #76203
@SaiKishor-MSFT  https://stackoverflow.com/questions/67667392/terraformazure-call-to-microsoft-signalrservice-signalr-failed-error-message

[2021-06-24 09:34] shifatullah opened #77405 "'IConfigurationBuilder' does not contain a definition for 'AddAzureAppConfiguration'"
In ASP.Net Core 5, it gives following error:
### 'IConfigurationBuilder' does not contain a definition for 'AddAzureAppConfiguration'

[code]
[Also posted on stackoverflow] (https://stackoverflow.com/questions/68112797/iconfigurationbuilder-does-not-contain-a-definition-for-addazureappconfigurat)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2021-06-24 09:38] shifatullah commented on #77405
just found that it needs following package: dotnet add package Microsoft.Azure.AppConfiguration.AspNetCore
I would suggest, adding this in tutorial page as an step would help.

[2021-06-24 09:39] priyankareddy20 opened #77406 "Regarding the Azure AD joined Windows 10 device sign ins, I believe when we log into Azure AD joined windows 10 device(Laptop / desktop) with Azure AD user account and password, the login is recorded in Azure AD Signin logs with application called "Windows Sign In". Please correct me if I am wrong. I would like to know how the device sign in recorded by Azure AD as we tend to lock the system 20+times and we give our password 20+ times in a day.So Azure would log a sign in log every time user logs to Azure AD joined windows laptop? If not what is the frequency? I could not find any related information in MS DOCS, hence submitting this issue"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1558e7c0-eaaf-d081-30c3-5c13e0876071
* Version Independent ID: 1106c01b-1e4c-5b04-be84-432f99ec4d8f
* Content: [Sign-in logs in Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/reports-monitoring/concept-sign-ins)
* Cont

[2021-06-24 09:44] shifatullah commented on #77405
it already mentions following, so its all good, will close this issue.

Before you continue, finish [Create an ASP.NET Core app with App Configuration](https://docs.microsoft.com/en-us/azure/azure-app-configuration/quickstart-aspnet-core-app?tabs=core5x) first.

[2021-06-24 09:44] #77405 closed

[2021-06-24 09:46] priyankareddy20 commented on #77406
A user provides a biometric gesture to unlock their Windows PC with Windows Hello for Business.
A user provides username and password in the Azure AD sign-in screen.

from the MS article, https://docs.microsoft.com/en-us/azure/active-directory/reports-monitoring/concept-all-sign-ins
the above 2 logs are considered as Sign in logs and I would like to know the frequency of this logins

[2021-06-24 09:56] thisisraghavkumar commented on #76469
Hi Juan!

Yes, the issue still persists. When I am scanning the verification QR my
authenticator app fails with error
{
Error Details : Failed to send request.timeout
Timestamp: ...
}

Yet the verification website shows the success message confirming that the
authentication succeeded. But the authenticator app does not consider this
a successful verification and therefore no activity is stored for

[2021-06-24 09:58] yarseyah opened #77408 "Apple Silicon details missing"
Content says "The emulator only supports MacBooks with Intel processors." but gives no indication of whether Apple Silicon is on the roadmap (and if so when).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a59d2ab-cacd-5545-bddb-b9304f204605
* Version Independent ID: bbcf9128-f9c3-fa84-b085-ba566f45d56f
* Content: [Ru

[2021-06-24 10:05] thisisraghavkumar opened #77409 "Unclear instructions : include instruction to restore credential type"
**The instructions must include that the credential type must be restored back to "VerifiedCredentialExpert" in issuer and verifier apps.**
If this tutorial is followed immediately after the first part, then the `credentialType` property in the issuer and verifier are set to "MyFirstVC" but this second tutorial uses the credential type "VerifiedCredentialExpert" which is set in the *modified-exper

[2021-06-24 10:12] amanmcse commented on #77392
@FabianGonzalez-MSFT Thank you for your feedback . We will investigate and update the thread further.

[2021-06-24 10:13] amanmcse commented on #77393
@FabianGonzalez-MSFT  Thank you for your feedback . We will investigate and update the thread further.

[2021-06-24 10:14] amanmcse commented on #77395
@kamsumlee-ms  Thank you for your feedback . We will investigate and update the thread further.

[2021-06-24 10:17] KrishnaG-MSFT commented on #77403
@razor5678 Thanks for your comment! We will review and provide an update as appropriate.

[2021-06-24 10:17] SrijitBose-MSFT commented on #77344
@mstavrev we are currently internally investigating this and will get back to you with more information

[2021-06-24 10:18] KrishnaG-MSFT commented on #77372
@bandersmsft Thanks for the super quick response. 👍

[2021-06-24 10:21] HarshitaSingh-MSFT commented on #77148
I have created a PR for this change internally. Please expect to reflect this change soon.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-06-24 10:21] villora opened #77410 "Stuck at splash screen"
Hi
I have an issue that is not shown in the troubleshooting guide.
Since I updated from 1.8.1 to 1.9.1 in Windows 10, I can't open storage explorer. It is stuck at splash screen and thats all
Regards

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06b6cadc-f93d-75de-7611-b1e3d80917e2
* Version Independent ID: bcf194d8-3

[2021-06-24 10:22] #77148 closed

[2021-06-24 10:22] Nandeeshswami commented on #76938
@yutaro113 I wanted to clarify,

1. You just want to Disable/Enable Functions and want users to accomplish no other task?
2. As per your description(although not clear) this is working in JSON, meaning when you add operations in JSON but does not work only when similar actions are added(from custom role) in portal?

[2021-06-24 10:22] amanmcse commented on #77395
@kamsumlee-ms Yes, Azure Portal doesn't show it under preview any more. I will assign it to the author to update the screenshots.

[2021-06-24 10:24] lmoloney opened #77411 "Clarify role and use of ServiceBus URL relative the relay"
It would be good if the diagram spelled out that the Azure Relay is the Service Bus URL - as at the moment it is a little unclear how the service bus fits into the diagram. This is in the Secure communication between customer networks and Azure Data Factory section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04cca8

[2021-06-24 10:25] blahbap opened #77412 "Sending client id and client secret as basic authentication when using client credentials flow"
According to OAuth2 standards documentation (see https://datatracker.ietf.org/doc/html/rfc6749#section-2.3.1), sending client id and client secret as basic authentication is supported in the client credentials flow (and actually recommended over sending the credentials in the request body). This method is not documented in the Azure documentation, however when testing this with Postman against Azu

[2021-06-24 10:42] AjayKumar-MSFT commented on #77374
LoremIpsum42, Thanks for leveraging Azure docs feedback channel to raise this question. Since you have closed the thread I presume the issue is sorted out. If it's not the case or you need further assistance kindly just let us know.

This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. Are you suggesting doc enhancement on [Azure Contain

[2021-06-24 10:46] AjayKumar-MSFT commented on #77405
shifatullah,   Thanks for leveraging Azure docs feedback channel to raise this question and much appreciate your follow-up and update(s). Glad it's clarified in the doc.

[2021-06-24 11:28] #49835 closed

[2021-06-24 11:44] HarshitaSingh-MSFT commented on #77291
@asears, here is the page for [Monitor Azure Data Share](https://docs.microsoft.com/en-us/azure/data-share/how-to-monitor). I have passed on the feedback to add Azure Data Share diagnostics ARM template on this safe.

Let me know if this answers your question.

[2021-06-24 11:47] #53053 closed

[2021-06-24 12:31] ram-msft commented on #77227
@JackCaster Thanks, More details on how to submit a run with a HyperDrive config at https://docs.microsoft.com/en-us/azure/machine-learning/how-to-tune-hyperparameters#submit-experiment

![image](https://user-images.githubusercontent.com/49180516/123262410-7b06ba00-d515-11eb-8f6c-2fc9dab62080.png)
![image](https://user-images.githubusercontent.com/49180516/123262445-835ef500-d515-11eb-9ff0-7653ee6

[2021-06-24 12:32] stvnhggns opened #77414 "Page changes rendered a useful tool useless ! !"
ATTENTION - - BIG PROBLEM !!!

The Azure Active Directory Pricing page used to have a full list of feature bullets, breaking down the features by license.
https://azure.microsoft.com/en-us/pricing/details/active-directory/
Now that page is useless to help my customers compare features by license.  That page redirects to this page I'm commenting from, which is also useless to help my customers comp

[2021-06-24 12:36] JackCaster commented on #77227
This does not answer my question, unfortunately. I am interested in using Hyperdrive to optimize the pipeline---not using Hyperdrive in a step of the pipeline. For example, I may have hyperparameters in step 1 and step 2 of a pipeline, which I would like to jointly optimize.

`HyperDriveConfig` does have a `pipeline` parameter, but I can't get it to work.

[2021-06-24 12:38] ram-msft commented on #77227
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-06-24 12:48] shayfisher opened #77415 "Typo in document"
On this paragraph
https://docs.microsoft.com/en-us/azure/active-directory/roles/best-practices#2-use-privileged-identity-management-to-grant-just-in-time-access
You write "the can activate..." Instead of they.
The following sentence has a typo also IMHO
Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 71c33632-

[2021-06-24 12:48] ssanchez227 opened #77416 "Question regarding note"
"When the Azure Monitor agent fully supported VM insights, Azure Security Center, and Azure Sentinel, then it will completely replace the Log Analytics agent, diagnostic extension, and Telegraf agent."

Can you please clarify what the note above means?   Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97668e66-f

[2021-06-24 12:48] ram-msft commented on #77227
@JackCaster  Thanks for the details. We have forwarded to the product team to check on this. Please raise an issue in the [Azure machine learning notebooks](https://github.com/Azure/MachineLearningNotebooks/issues) for Hyperdrive to optimize the full pipeline.

[2021-06-24 12:49] JackCaster commented on #77227
ok

[2021-06-24 13:49] jayendhar-cf opened #77418 "Please document the known issue around ERROR [HY000] [Microsoft][QuickBooks]"
The QuickBooks connector fails frequently at regular intervals (every 1-2 days) with the error message "ERROR [HY000] [Microsoft][QuickBooks] . API Connection Failed. Bad Request. HTTP Response code: 400". This error goes away after manually generating a refresh token from QuickBooks and using the new token.

I originally thought that this was an issue on QuickBooks side where the refresh token ex

[2021-06-24 13:49] jijeeshme commented on #77270
Hi - Just wanted to add more, context to this issue:

- Trying to mount AKS pod
- Both AKS and ADLS share the same VNET
- Successfully able to mount in normal VM
Essentially, is there any additional steps to mount in a AKS cluster?

Best!

[2021-06-24 13:55] jjournet commented on #50904
Hi @Duffney , I had the same issue, and the solution to install ansible.common (from @Jvekka ) solved the issue.

Actually, after looking a little, I realized you did that:
[code]
and perhaps I missed something, but the doc/link I followed never specified to do this step. I only installed the galaxy collection:
[code]

[2021-06-24 13:56] baldyga opened #77419 "App is unhealthy - Create a multi-container app in Web App for Containers"
## App is unhealthy
I'm having issues with a **health check** of application deployed on AppService. It keeps reporting that the app is unhealthy despite the fact that the endpoint configured in the health check is responding with HTTP 200 code. I tried with App Service Plan Standard and Premium the same result: health check reports Wordpress application as unhealthy despite the fact that app is r

[2021-06-24 14:07] msangapu-msft commented on #71978
Hi @ChrisClarkRs, sorry for the delay. We'll be updating this doc and I'd moving your feedback here: https://github.com/MicrosoftDocs/azure-docs/issues/72998

[2021-06-24 14:07] HarshitaSingh-MSFT commented on #77391
Hello @zhaohuijuan , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-06-24 14:08] msangapu-msft commented on #72998
ChrisClarkRs
Consolidating Health check feedback from https://github.com/MicrosoftDocs/azure-docs/issues/71978

The documentation for the "Authentication and Security" section for health check should include that when a new Web App is created the default listener will be created as secure "HTTPS" protocol. However when you setup the Web App health probe for your various instances you cannot set wh

[2021-06-24 14:08] msangapu-msft commented on #71978
Consolidating feedback to 72998. closing this #please-close

[2021-06-24 14:08] #71978 closed

[2021-06-24 14:12] msangapu-msft commented on #73682
Hi @atrauzzi, sorry for the delay. In the doc you linked, you can see how to use private registries. Once those variables are set, you can use them within your Docker compose configuration. Please let me know if this doesn't answer your question.

[2021-06-24 14:15] baanders commented on #77388
Adding a link directly to the source for that code sample: https://github.com/Azure-Samples/digital-twins-docs-code/blob/main/sdks/csharp/model_operations.cs

[2021-06-24 14:16] sudeep1607 commented on #59280
@SubhashVasarapu-MSFT Do we still have the limit of 25 custom domains per endpoint or has that been increased?

[2021-06-24 14:17] Ayanmullick commented on #77371
@Karishma-Tiwari-MSFT, we are unable to see the default remote disk size for the Dsv4-series VM's in the link below.

https://docs.microsoft.com/en-us/azure/virtual-machines/dv4-dsv4-series#dsv4-series

![image](https://user-images.githubusercontent.com/17693249/123278789-dc566b00-d4cc-11eb-8082-c1b37d72de73.png)

Is there a way to calculate the default remote disk size from the SKU? Please advise

[2021-06-24 14:33] MonikaReddy-MSFT commented on #77419
@baldyga -
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2021-06-24 14:41] alfredogan opened #77420 "Incorrect Key Vault RBAC role documented for App Gateway integration"
Based on my experience, Key Vault Certificates Officer is not enough to make the App Gateway managed identity access a certificate. Key Vault Administrator is needed. This is contrary to your documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 44b9a84f-6765-67dc-bb7b-04303e070c03
* Version Independent ID: 32f

[2021-06-24 14:44] tfitzmac commented on #77329
@BiniJiang - thanks for this feedback. The note about Azure Front Door not supporting colon in the tag name was recently added. I tested CDN and was able to use colons in names and values.
#please-close

[2021-06-24 14:45] #77329 closed

[2021-06-24 14:46] msangapu-msft commented on #72469
Hi @sameer-kumar, sorry for the delay. I hope you've figured out by now you can use persistent storage and then use environment variables to get the path. Let me know if this answers your question.

[2021-06-24 14:57] msangapu-msft commented on #72450
Hi @becke-ch-s0-v1, please see our update to this article: https://docs.microsoft.com/en-us/azure/app-service/configure-connect-to-azure-storage?pivots=container-linux&tabs=portal#best-practices
There's a bullet point about private endpoints. Let me know if that answers your question!

[2021-06-24 15:03] msangapu-msft commented on #71426
#reassign yutanglin16

[2021-06-24 15:05] msangapu-msft commented on #71426
Hi @yutanglin16, we can work internally on this. I'm starting a thread and closing this public issue. #please-close

[2021-06-24 15:05] #71426 closed

[2021-06-24 15:08] MSKeith commented on #76711
So by default the "rule 100" is for port 22 to allow SSH to the VM.  By default Bastion Host is not checked during the deployment.  If you check the box for Bastion Host:
![image](https://user-images.githubusercontent.com/13575025/123286906-f0ea3180-d4d3-11eb-83a1-1a8adb9c9b7f.png)

Then you should not have any network rules created.

[2021-06-24 15:09] rwike77 commented on #57557
@astaykov I recently updated the article with more information on [signing keys vs acceptMappedClaims](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-claims-mapping#security-considerations).  You should use acceptMappedClaims only for single tenant apps.  For mult tenant apps you should use a custom signing key.  acceptMappedClaims is not recommended for multi ten

[2021-06-24 15:09] msangapu-msft commented on #70306
Thank you for your feedback. This was updated in February. #please-close

[2021-06-24 15:09] #70306 closed

[2021-06-24 15:35] msangapu-msft commented on #61255
This was fixed. #please-close

[2021-06-24 15:35] #61255 closed

[2021-06-24 15:36] #76180 closed

[2021-06-24 15:37] msangapu-msft commented on #62050
Hi @jeffputz, sorry for the delay on this. You can do this in Windows because it's running IIS in the background, but not on containers unfortunately. You'd have to build and configure your custom container to do this.

[2021-06-24 15:39] JamesTran-MSFT commented on #77415
@shayfisher
Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-24 15:41] DerekHerman-MSFT commented on #77270
@jijeeshme I tested this and did not have issues when following the document steps. Please check the [known issues page](https://docs.microsoft.com/en-us/azure/storage/blobs/network-file-system-protocol-known-issues) to make sure there is not something that is incompatible.
If you are still having issues I recommend posting your question in https://azure.microsoft.com/en-us/support/community/ sinc

[2021-06-24 15:41] #77270 closed

[2021-06-24 15:41] msangapu-msft commented on #58444
Sorry for the delay on this. This no longer applies as the article has been updated. #please-close

[2021-06-24 15:41] #58444 closed

[2021-06-24 15:43] msangapu-msft commented on #54651
Haven't heard back from you. You'd have to configure the diagnostic setting if you're expecting logs in that table. See the tutorial here: https://docs.microsoft.com/en-us/azure/app-service/tutorial-troubleshoot-monitor#create-a-diagnostic-setting

#please-close

[2021-06-24 15:43] #54651 closed

[2021-06-24 15:43] JamesTran-MSFT commented on #77414
@stvnhggns
Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-24 15:46] JamesTran-MSFT commented on #77401
@assaf-grth
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-06-24 15:48] msangapu-msft commented on #52746
Sorry for the delay on this. Please see https://docs.microsoft.com/en-us/azure/static-web-apps/
We appreciate your feedback and will consider it for the next update on this article.

[2021-06-24 15:48] msangapu-msft commented on #52746
#please-close

[2021-06-24 15:48] #52746 closed

[2021-06-24 15:48] JamesTran-MSFT commented on #77404
@MasterKolka
Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-24 15:49] msangapu-msft commented on #51681
Thank you for the feedback Krystal. We'll consider it for the next revision.
#please-close

[2021-06-24 15:49] #51681 closed

[2021-06-24 15:53] tfitzmac commented on #77366
@Bananenbieger1234 - thanks for this feedback. I believe this discrepancy is because it looks like there are two ways to delete a file share. One uses the [control plane](https://docs.microsoft.com/en-us/rest/api/storagerp/file-shares/delete) and the other used the [data plane](https://docs.microsoft.com/en-us/rest/api/storageservices/delete-share). When I use the control plane operation, the dele

[2021-06-24 15:53] JamesTran-MSFT commented on #77406
@priyankareddy20
Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-24 15:57] msangapu-msft commented on #51639
Hi team, we have a new product called Static web apps that may simplify some of this: https://docs.microsoft.com/en-us/azure/static-web-apps/getting-started?tabs=vue

[2021-06-24 15:58] SatishBoddu-MSFT commented on #77402
hello @rolandkru thanks for the feedback.

We are looking into this.

[2021-06-24 16:00] msangapu-msft commented on #47507
Sorry for the delay. Please see the updated article as it calls out when the app is restarted. #please-close

[2021-06-24 16:00] #47507 closed

[2021-06-24 16:02] wimvanleuven commented on #76941
I actually forked the repo to contribute the changes, but apparently the security baselines are not part of this repo?

[2021-06-24 16:03] JamesTran-MSFT commented on #77412
@blahbap
Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-24 16:04] JamesTran-MSFT commented on #77409
@thisisraghavkumar
Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-24 16:09] jeffputz commented on #62050
@msangapu-msft I understand that as well, but maybe my bigger point is that the fact that a deployed app service to Linux is actually turned into a container is not obvious to anyone not looking at the logs of, say, a webdeploy deployment. It smells and tastes just like a Windows app service deployment.

[2021-06-24 16:26] BharathNimmala-MSFT commented on #77416
@ssanchez227 Thank you for reaching out with your query , we will review it and get back to you at the earliest.

[2021-06-24 16:36] jijeeshme commented on #77270
@DerekHerman-MSFT - Thanks for the response.
Just wanted to confirm whether you have tested it in an AKS cluster pod or a regular Linux VM?

Also, would like to know what condition the code trigger a "cannot mount xxxxx read-only" error?

[2021-06-24 16:49] rolyon commented on #76840
Hi @fernandoferrini
Thanks for your feedback. I checked with the team and currently it's not possible to create an eligible role assignment at a scope using PowerShell. Your comment about clarifying active versus eligible role assignments is good feedback. We are currently in the process of making improvements to the docs. It'll take some time and thanks for your patience.
thanks

[2021-06-24 16:51] lunar87 opened #77425 "Docs incorrectly state that connection string was saved earlier."
[Enter feedback here]
The docs has a statement: "Replace the AzureWebJobsStorage property value with the storage account's connection string that you saved earlier, for example:"

There is a reference to storage accounts earlier, but nothing that I saw that says to find or save a connection string.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2021-06-24 16:56] JamesTran-MSFT commented on #77414
@stvnhggns
Thank you for pointing this out!

It looks like our [pricing page](https://azure.microsoft.com/en-us/pricing/details/active-directory/) did change, and the table you're referring to was moved to this page - [Azure Active Directory pricing](https://www.microsoft.com/en-us/security/business/identity-access-management/azure-ad-pricing)
![image](https://user-images.githubusercontent.com/366

[2021-06-24 16:56] #77414 closed

[2021-06-24 17:01] SumanthMarigowda commented on #77398
@aamorale Thanks for the question! We are investigating and will update you shortly.

[2021-06-24 17:03] oulman opened #77427 "AzCopy AzureFiles sync docs don't cover new features"
[AzCopy 10.10.0](https://github.com/Azure/azure-storage-azcopy/blob/main/ChangeLog.md#version-10100) added support for local directory > Azure Files syncing but the documentation doesn't yet list this as a supported scenario.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd2ee3a6-a4ae-068a-1a7e-9a81877e1a21
*

[2021-06-24 17:05] Oury-MSFT commented on #77408
@yarseyah Thank you for your feedback. We are reviewing this and will get back to you shortly.

[2021-06-24 17:12] real-oneill opened #77428 "Specify distribution or pass SQL query"
Is there the ability to specify the Synapse table distribution when writing to a dedicated SQL Pool using the connector?

Right now the Databricks connector allows you to pass the distribution (ROUND_ROBIN, REPLICATE, etc.) using _.option("tableOptions", tableOptions)._ Something similar for the Spark-Synapse connector would be useful.

Also, are there any plans to allow a SQL query to be passed t

[2021-06-24 17:19] SatishBoddu-MSFT commented on #77184
Hello @biaojiang
Just checking back! Please let us know if you need further help.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions

[2021-06-24 17:19] himanshusinha-msft commented on #77411
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-06-24 17:22] himanshusinha-msft commented on #77418
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-06-24 17:23] himanshusinha-msft commented on #77428
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-06-24 17:24] ziadsa commented on #53257
I am receiving the same error. What is the Source_Location? What should I provide in the script to get it run?

[2021-06-24 17:24] #77269 closed

[2021-06-24 17:27] JamesTran-MSFT commented on #77420
@alfredogan
Thank you for your time and patience!

So I can gain a better understanding of your issue, can you share any error messages you received when trying to use your App Gateway managed identity to access a certificate within the AKV? What actions were you trying to perform (i.e. GET, LIST, etc)?

Any additional information or screenshots would be greatly appreciated!

If you have any other

[2021-06-24 17:27] JamesTran-MSFT commented on #77415
@shayfisher
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2021-06-24 17:27] #77415 closed

[2021-06-24 17:32] barclayn commented on #75200
@John-Garland  Thank you for your feedback. We will confirm and update as needed. #please-close

[2021-06-24 17:32] #75200 closed

[2021-06-24 17:33] JamesTran-MSFT commented on #76964
@benjaminjamesowens
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2021-06-24 17:33] #76964 closed

[2021-06-24 17:38] tfitzmac commented on #77403
@razor5678 - thanks for this feedback. An update has been submitted and will be published soon.
#please-close

[2021-06-24 17:38] #77403 closed

[2021-06-24 17:39] paulbatum opened #77430 "Connecting to host storage with an identity - should recommend a role that will work with all features"
The `Connecting to host storage with an identity` section of the doc should recommend a role that will work for all functions features. Currently it says the following:

However this won't work for cases where the functions host uses queue/table features of the storage account as an implementation detail. For example, runtime scale monitoring uses table storage. It is unreasonable to expect that a

[2021-06-24 17:40] paulbatum commented on #77430
@mattchenderson Hoping you can provide guidance on a better recommended role

[2021-06-24 17:42] Grace-MacJones-MSFT commented on #77400
thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-06-24 17:44] JamesTran-MSFT commented on #76936
Closing this issue since @Justinha responded on the internal [Stack Overflow post](https://stackoverflow.microsoft.com/questions/261510) regarding documentation updates for this.

[2021-06-24 17:44] #76936 closed

[2021-06-24 17:46] Grace-MacJones-MSFT commented on #77427
Thanks for your feedback! We will review and update this doc accordingly.

[2021-06-24 17:48] #77067 closed

[2021-06-24 17:51] Grace-MacJones-MSFT commented on #77425
Thanks for your feedback! We will review and update this doc accordingly.

[2021-06-24 17:52] JamesTran-MSFT commented on #76871
@BretMishler
I just wanted to check in and see if you had any other questions or if you were able to review our authors comment?

[2021-06-24 17:53] Grace-MacJones-MSFT commented on #77238
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-06-24 17:53] #77238 closed

[2021-06-24 17:53] salavala opened #77431 "Unable to create Synapse serverless external data source"
I have followed the steps and I am getting the following error to create an external data source.

Operation CREATE EXTERNAL DATA SOURCE is not allowed for a replicated database.

Do we require to setup any permissions at the storage account level? How do we troubleshoot this issue?

Thanks & Regards,
Srini Alavala

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2021-06-24 18:02] #77377 closed

[2021-06-24 18:09] DerekHerman-MSFT commented on #77410
@villora I'd recommend posting your question in https://github.com/microsoft/AzureStorageExplorer/issues since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-06-24 18:09] #77410 closed

[2021-06-24 18:28] AjayKumar-MSFT commented on #77136
@yane3628, We'd raised a PR and have been discussing on this internally with the author, once it's reviewed, the PR would be merged and then the changes will reflect.   We would be adding a note, Specifying `AllowAnyOrigin` and `AllowCredentials` is an insecure configuration and can result in cross-site request forgery. The CORS service returns an invalid CORS response when an app is configured wi

[2021-06-24 18:28] #77136 closed

[2021-06-24 18:35] chamukallem-msft commented on #68542
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-24 18:35] #68542 closed

[2021-06-24 18:39] chamukallem-msft commented on #68242
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-24 18:39] #68242 closed

[2021-06-24 18:43] chamukallem-msft commented on #67799
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-24 18:43] #67799 closed

[2021-06-24 18:45] chamukallem-msft commented on #67541
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-24 18:45] #67541 closed

[2021-06-24 18:52] chamukallem-msft commented on #67216
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-24 18:52] #67216 closed

[2021-06-24 18:57] KranthiPakala-MSFT commented on #77431
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-06-24 19:02] Oury-MSFT commented on #77408
@StefArroyo Please see customer feedback above. Do we need to update the doc with information about Apple silicon road map?

[2021-06-24 19:02] BryanTrach-MSFT commented on #75552
@cveld Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-06-24 19:02] #75552 closed

[2021-06-24 19:03] BryanTrach-MSFT commented on #76863
@DocGreenRob Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-06-24 19:03] #76863 closed

[2021-06-24 19:05] vonschutter opened #77432 "None of this works at all! Not even close. It completely fails."
[Enter feedback here]
I ran the script exactly as instructed and it kicked off tons of errors.

.\Create-RunAsAccount-a.ps1 -ResourceGroup SLS-RG-0000001 -AutomationAccountName sls-auto-account-01 -SubscriptionId Subscription05 -ApplicationDisplayName VMStopperByTag -SelfSignedCertPlainPassword skdufnejdu8871 -CreateClassicRunAsAccount $false

Here is the output:

WARNING: TenantId 'baf620a8-7048-

[2021-06-24 19:11] chamukallem-msft commented on #67073
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-24 19:11] #67073 closed

[2021-06-24 19:13] chamukallem-msft commented on #64805
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-24 19:13] #64805 closed

[2021-06-24 19:14] baldyga commented on #77419
https://docs.microsoft.com/en-us/azure/app-service/tutorial-multi-container-app

[2021-06-24 19:23] chamukallem-msft commented on #64027
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-24 19:23] #64027 closed

[2021-06-24 19:25] chamukallem-msft commented on #63913
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-24 19:25] #63913 closed

[2021-06-24 19:28] markjbrown commented on #77379
Thanks for your feedback #please-assign @ThomasWeiss

[2021-06-24 19:29] biaojiang commented on #77184
Hi, @SatishBoddu-MSFT, I uninstalled the IoT Edge in Windows 10, but after that, I couldn't create a new one, so I still can't solve the problem above, pls check the following information:

1.  First, I tried to uninstall it in Apps&Features. However, after that, the `Azure IoT Edge` app is still under "Apps", as shown in the following image:
![iot_edge_in_apps-and-features](https://user-images.gi

[2021-06-24 19:29] chamukallem-msft commented on #63098
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-24 19:29] #63098 closed

[2021-06-24 19:31] LH-MSFT opened #77433 "Need to document the VM Start (PowerOn) scaling target"
We need to provide clarity on the actual scaling target for VM Start (PowerOn) besides the theoretical throttling limits.

Azure currently supports 1,250 VMs start/deallocate per subscription/region/hour.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3fb31632-581a-56fc-6ee8-5877388bb0b2
* Version Independent ID: 09bc0

[2021-06-24 19:38] ThomasWeiss commented on #77379
@afscrome Both notes say the same, which is:
- The Azure RBAC (which this page is about) covers management operations
- The Cosmos DB RBAC covers data plane operations

Does that make sense?

[2021-06-24 19:50] msangapu-msft commented on #43570
Working with Jeremy internally. #please-close

[2021-06-24 19:50] #43570 closed

[2021-06-24 19:54] msangapu-msft commented on #40724
Sorry for the delay. The :ro option is not supported on this platform. Let me know if you're still having an issue.

[2021-06-24 19:54] SatishBoddu-MSFT commented on #77184
Hello @biaojiang Thanks for the detailed information on this issue,

Could you please confirm if you are following the right document with version: Is the document same as shown in below link?

[Quickstart: Deploy your first IoT Edge module to a Windows device](https://docs.microsoft.com/en-us/azure/iot-edge/quickstart?view=iotedge-2018-06#deploy-a-module)
![image](https://user-images.githubuserco

[2021-06-24 19:55] chamukallem-msft commented on #61785
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-24 20:02] chamukallem-msft commented on #61712
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-24 20:03] priyankareddy20 commented on #77406
Hello Team,

I would like to know for every login on azure ad joined windows device,
will the sign in log will be recorded?

Like Everytime user enters password or completes Windows hello on the
device level.

If a user logs into device 20times in a day will we have 20logs on that
application called "Windows sign in"

Regards
Priyanka

On Thu, Jun 24, 2021, 5:53 PM James Tran-MSFT ***@***.***>
wro

[2021-06-24 20:03] Karishma-Tiwari-MSFT commented on #77243
Thanks for sharing the update.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2021-06-24 20:03] #77243 closed

[2021-06-24 20:04] GuyPaddock opened #77435 ""LinkedIn" Is Misspelled in Documentations"
In these examples, "LinkedIn" is misspelled as "LinkedId". Microsoft owns LinkedIn so this is especially odd.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42ece756-f226-18a5-bd1f-de77621d5109
* Version Independent ID: 87f1373c-3027-6e9a-587a-9c631af7112f
* Content: [Customize the user interface - Azure AD B2C](https:

[2021-06-24 20:07] stvnhggns commented on #77414
Perfect - and that new page looks great.  Thank you!!

[2021-06-24 20:10] chamukallem-msft commented on #61193
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-24 20:14] biaojiang commented on #77184
Yes, it is the same.

[2021-06-24 20:14] msangapu-msft commented on #45639
This has been updated. #please-close

[2021-06-24 20:17] GarrySinghMSFT opened #77436 "Need to update information for Existing Postgre Servers (Button won't be available for another few months)"
The following Line is sort of incorrect. All new clusters have restore button enabled by default and for existing server, the button won't be available for another 2 months (August/September) timeline. We can mention that as well as suggest customer to open a support ticket if they want us to do a restore on their behalf till the restore button is available in few months. I have ICMs as well as Te

[2021-06-24 20:26] MicrosoftGuyJFlo commented on #77401
Note out to @SanDeo-MSFT for follow-up

[2021-06-24 20:27] MicrosoftGuyJFlo commented on #77401
#assign:@SanDeo-MSFT

[2021-06-24 20:34] JFolberth opened #77437 "Old PRs on the Automation Runbook"
Was working on updating the referenced AzureAutomation-Account-Modules-Update to support Managed Identities and noticed there are PRs over a year old. Is this repo still active?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55d92628-d657-759d-d301-06029cd61138
* Version Independent ID: ca381b85-2be5-24af-be18-00c13a7e

[2021-06-24 20:35] MicrosoftGuyJFlo commented on #55263
@DOMZE, @SanDeo-MSFT states this should no longer be an issue. If it still is send me an email (in my profile) and I will give you his email address so the two of you can work this out.

[2021-06-24 20:35] MicrosoftGuyJFlo commented on #55263
#please-close

[2021-06-24 20:38] tfitzmac commented on #77433
@LH-MSFT - thanks for this feedback. I have passed it on to the Compute team. This particular article covers throttling limits applied by Azure Resource Manager and how those limits interact with high-level throttling applied by resource providers. It does not cover all throttle limits applied by resource providers, as the article would be too long. That type of detail is best covered by the servi

[2021-06-24 20:40] tfitzmac commented on #77433
#please-close

[2021-06-24 21:21] Floriszz commented on #77238
Hi @Grace-MacJones-MSFT , sorry for the late reply.
Would be nice to see the 'Y1:0' plan mentioned as the plan for the Function app consumption plan. Additional the limitation on the choice for a dedicated app service plan and why only 'Bx'.

[2021-06-24 21:27] MicrosoftGuyJFlo commented on #55263
#please-close

[2021-06-24 21:27] #55263 closed

[2021-06-24 21:27] #77433 closed

[2021-06-24 21:31] baanders commented on #77381
Hi @stewartadam, thanks for this suggestion! Engineering has agreed that this is reasonable and that we should put some thought towards a more complex example like you've described.
They'd like to spend some more time thinking about how to map this feedback to a concrete use case that reflects customers' real-world experience, to keep the examples in the article tied to specific problems that cust

[2021-06-24 21:33] baanders commented on #77381
#assign:briancr-ms

[2021-06-24 21:33] baanders commented on #77381
#please-close

[2021-06-24 21:33] #77381 closed

[2021-06-24 21:35] DerekHerman-MSFT commented on #77427
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-06-24 21:37] tfitzmac commented on #77366
I have added some clarifying text for this confusing situation. It should get published in the next day.

[2021-06-24 21:38] tfitzmac commented on #77366
#please-close

[2021-06-24 21:38] #77366 closed

[2021-06-24 21:40] kgremban commented on #77184
Hi @biaojiang, I'm sorry that you're having issues running IoT Edge for Linux on Windows. I recommend that you open an issue in the product repo where you will get better assistance troubleshooting: https://github.com/Azure/iotedge-eflow/issues.

As for your original issue, the option to connect to the VM via command shell in Windows Admin Center was recently removed, and we updated the documentat

[2021-06-24 21:41] AwdotiaRomanowna opened #77440 "division by zero error"
Hi,
in the query shown in the article:
SELECT relname, n_dead_tup, n_live_tup, **(n_dead_tup/ n_live_tup)** AS DeadTuplesRatio, last_vacuum, last_autovacuum FROM pg_catalog.pg_stat_all_tables WHERE relname = 'XYZ' order by n_dead_tup DESC;

there is no protection against division by zero, so if live tuples will be zero it will throw an error

[Enter feedback here]

---
#### Document Details

⚠ *Do

[2021-06-24 21:45] AwdotiaRomanowna opened #77441 "typo autovacuum_nap_time -> autovacuum_naptime"
autovacuum_nap_time should not contain _ character. the correct name autovacuum_naptime

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1103bde-c05b-23f9-93bd-b1350c3abb0f
* Version Independent ID: 11cae63b-7bd5-e3be-602f-cd4fba8871e0
* Content: [Optimize autovacuum - Azure Database for PostgreSQ

[2021-06-24 21:53] AwdotiaRomanowna opened #77442 "unclear sentence - "Here, reltuples is a constant.""
i'm not sure what author meant here, but it could be easily understood that reltuples is the value that never changes which is not true. I would rephrase it to avoid confusion
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1103bde-c05b-23f9-93bd-b1350c3abb0f
* Version Independent ID: 11cae63b-7bd

[2021-06-24 22:01] kgremban commented on #77402
@rolandkru Thank you for your question. This is a big change for IoT Hub and DPS users, so we want to make sure that everybody knows what they need to do to stay connected!

In the document you linked to, we talk about how IoT Hub uses the Baltimore root certificate as an example of a common certificate that most devices already have installed which is why most devices can connect to IoT Hub witho

[2021-06-24 22:10] stewartadam commented on #77388
@baanders Thanks for the link! Created a PR.

[2021-06-24 22:12] MarileeTurscak-MSFT commented on #77404
Thanks! I made a pull request to update this. @memildin please confirm

https://github.com/MicrosoftDocs/azure-docs-pr/pull/163651

[2021-06-24 22:12] #77404 closed

[2021-06-24 22:19] chamukallem-msft commented on #61046
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-24 22:19] #61046 closed

[2021-06-24 22:25] chamukallem-msft commented on #60849
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-24 22:25] #60849 closed

[2021-06-24 22:26] chamukallem-msft commented on #61193
#please-close

[2021-06-24 22:26] #61193 closed

[2021-06-24 22:26] chamukallem-msft commented on #61712
#please-close

[2021-06-24 22:26] #61712 closed

[2021-06-24 22:26] chamukallem-msft commented on #61785
#please-close

[2021-06-24 22:26] #61785 closed

[2021-06-24 22:31] mle-ii opened #77443 "Log Analytics Tutorial data not returning results for AzureActivity"
I tried going back in time as perhaps the data is old but when I start the tutorial by querying `AzureActivity` here it returns 0 results.
https://portal.azure.com/#blade/Microsoft_Azure_Monitoring_Logs/DemoLogsBlade

So either the data needs to be updated/fixed or the tutorial needs to change.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2021-06-24 22:33] mle-ii commented on #77443
Looks to be a dupe of issue 74143 but that was closed and this still isn't fixed.

[2021-06-24 22:34] chamukallem-msft commented on #60544
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-24 22:34] #60544 closed

[2021-06-24 22:34] keggster101020 opened #77444 "Powershell Steps Are Never Provided as Specified"
[Enter feedback here]

The document states:

In [this section](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-security-update-certs-azure#add-a-secondary-cluster-certificate-using-the-portal), however the steps to do this in powershell aren't in this document, or any document for that matter.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2021-06-24 22:49] chamukallem-msft commented on #60540
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-24 22:49] #60540 closed

[2021-06-24 22:54] chamukallem-msft commented on #59756
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-24 22:54] #59756 closed

[2021-06-24 22:55] JamesTran-MSFT commented on #76266
Closing issue since - "This document (and the entire data connectors document set) is being overhauled. New versions are being created and these issues will all be addressed."

[2021-06-24 22:55] #76266 closed

[2021-06-24 23:00] BharathNimmala-MSFT commented on #77443
@mle-ii Thanks a lot for resurfacing the issue. Apologies for experience , as called out on the other [GH thread ](https://github.com/MicrosoftDocs/azure-docs/issues/74143#issuecomment-825209480) visibility to Activity Logs in the demo environment was removed on purpose and our authoring team had a backlog item to update the document to remove the demo environment reference. Will make sure to foll

[2021-06-24 23:04] chamukallem-msft commented on #59465
Thank you for your contribution to the Azure Monitor documentation. We have created a workitem for this issue in our internal backlog database. We will prioritize it and make any necessary changes as we are able.
#please-close

[2021-06-24 23:04] #59465 closed

[2021-06-24 23:26] clarenceb opened #77445 "Provide a note/warning that states which versions of AKS the VHD for node image upgrade supports"
The VHD only supports and is tested to work with a sliding windows of AKS versions, which is N-3.
E.g. if 1.21 is the latest then node image upgrades on 1.20, 1.19, 1.18 are supported.
Though looking at the VHD release notes is looks like 1.17 is also supported: https://github.com/Azure/AKS/blob/master/vhd-notes/aks-ubuntu/AKSUbuntu-1804/2021.06.12.txt

Could this be clarified on the doc page?  I

[2021-06-24 23:31] ram-msft commented on #77227
The product team will take a look, As this is not a document issue, I'm going to close this issue.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-06-24 23:31] #77227 closed

[2021-06-24 23:43] dlepow commented on #56741
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue.
#please-close

[2021-06-24 23:43] #56741 closed

[2021-06-25 00:05] SaurabhSharma-MSFT commented on #77442
<div style="font-family: &quot;segoe ui&quot;, &quot;segoe ui web (west european)&quot;, &quot;segoe ui&quot;, -apple-system, blinkmacsystemfont, roboto, &quot;helvetica neue&quot;, sans-serif; font-size: 10.5pt; color: rgb(50, 49, 48);"><a target="_blank" class="user-mention" data-hovercard-type="user" data-octo-click="hovercard-link-click" data-octo-dimensions="link_type:self" data-hovercard-url

[2021-06-25 00:16] AuTrevor opened #77447 "HDInsight storage SLA update."
Azure storage SLA is now 99.99%

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d860bee-4a19-8bde-ab7b-bb8d0968d7c6
* Version Independent ID: 3e4a842b-c180-59c5-26bb-afc326eb74e4
* Content: [Azure HDInsight business continuity](https://docs.microsoft.com/en-us/azure/hdinsight/hdinsight-business-continuity)
* Content So

[2021-06-25 00:35] DavidVivash opened #77448 "Redundancy of public keys uploaded to or generated within Azure Portal"
The documentation doesn't state how the public SSH key is stored. Is they key replicated globally in Azure?

To clarify, I understand that I generate an SSH key in region A, it looks like it's possible to use that when creating a VM in region B.

So

* is SSH key geo-redundant? If region A becomes unavailable, can I still provision VMs in region B using the SSH key
* is SSH key zone-redundant? If

[2021-06-25 01:16] skanoka commented on #76711
Thanks for your help. Yesterday, I tried to deploy without checking "Do you want to use a bastion host for connecting to the edge device?" and got the error. Today, I tried to deploy with checking the checkbox, but unfortunately I got the same error...
![image](https://user-images.githubusercontent.com/71058391/123354308-54d92c80-d59e-11eb-8865-26fd98a804b5.png)

[2021-06-25 01:22] yuharucan opened #77451 "How about Azure Batch"
[Enter feedback here]
Azure Batch seems to support private endpoint.
https://docs.microsoft.com/en-us/azure/batch/private-connectivity#:~:text=The%20Batch%20service%20offers%20the%20ability%20to%20create,addresses%20in%20a%20subnet%20within%20your%20virtual%20network.

But Azure Batch is not on the support matrix of this page.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2021-06-25 01:29] bhavin07 opened #77452 "Documentation is little incomplete;"
When copying container from source to target, target also needs SAS token supplied. This is not clear from documentation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59827b34-a728-ac8d-0ba0-0b60cde2321d
* Version Independent ID: 8daf39eb-e037-b5e5-874e-c9b556cc2433
* Content: [Copy blobs between Azure storage account

[2021-06-25 02:30] fernandoferrini commented on #76840
Thanks, rolyon. What I could find out is that Microsoft Graph API can be used for this purpose. Here is the article: https://docs.microsoft.com/en-us/graph/api/unifiedroleeligibilityschedulerequest-post-unifiedroleeligibilityschedulerequests?view=graph-rest-beta&tabs=http

[2021-06-25 02:30] #76840 closed

[2021-06-25 02:32] kennetherland opened #77453 "XML not well-formed"
Is that intentional?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 695ee7eb-6cd1-9581-a90d-4fd57d7132d7
* Version Independent ID: 557d3bb5-620f-ea1e-935f-8501d9f25052
* Content: [Sample API management policy - Authorize request using external authorizer - Azure API Management](https://docs.microsoft.com/en-us/azure/ap

[2021-06-25 02:39] GitaraniSharma-MSFT commented on #77451
@yuharucan , thank you for your feedback. We have assigned this to the content owner/author for review.

@malopMSFT , could you please review this and update the doc accordingly?

[2021-06-25 02:40] GitaraniSharma-MSFT commented on #77323
@bruceleeobjective , I'm following up on the above comment. Could you please provide an update on same?

[2021-06-25 02:41] GitaraniSharma-MSFT commented on #77259
@Lucas-MSFT , We have assigned this to the content owner/author for review.

@mscatyao , for your review.

[2021-06-25 03:02] GitaraniSharma-MSFT commented on #77351
@theonlycoder , below is the correct information regarding Basic SKU VPN gateway:

IKEv1 connections can be created on all RouteBased VPN type SKUs, except the Basic SKU, Standard SKU, and other legacy SKUs.
Refer : https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-about-compliance-crypto#how-do-i-create-connections-with-ikev1-or-ikev2-protocol-type

And the below table shows the IKE

[2021-06-25 03:02] #77351 closed

[2021-06-25 03:11] GitaraniSharma-MSFT commented on #77353
@theonlycoder , the correct information regarding Basic SKU VPN gateway is as below:

IKEv1 connections can be created on all RouteBased VPN type SKUs, except the Basic SKU, Standard SKU, and other legacy SKUs. Also a single IKEv1 connection be created on PolicyBased Basic SKU VPN gateway.
Refer : https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-about-compliance-crypto#how-do-i-creat

[2021-06-25 03:26] tamram commented on #77349
@xelossan - The feature is on the list, but there's currently no ETA as to when it will be available.

[2021-06-25 03:35] jcbrooks92 commented on #77380
@HarshitaSingh-MSFT apologies for not providing it. Here's the link:
https://docs.microsoft.com/en-us/azure/backup/faq-backup-sql-server#why-can-t-i-see-an-added-database-for-an-autoprotected-instance-

[2021-06-25 03:46] GitaraniSharma-MSFT commented on #64093
@amitsriva , could you please take a look into this issue as there has been no update on # https://github.com/MicrosoftDocs/azure-docs/issues/38244 ?

[2021-06-25 03:48] damienpontifex opened #77454 "AKS Planned maintenance unknown timezone"
Reading through the planned maintenance schedules e.g. "window from 1:00am to 2:00am every Monday." but it never mentions the timezone that these times are in. Are they 1am to 2am UTC time? Or in the local timezone the cluster is deployed in?

Trying to apply this to our clusters and wanted to ensure we are creating the correct slots for times in our desired timezone for planning. It would be nice

[2021-06-25 04:12] Siby22071989 opened #77455 "No clarity on default no of WVD users"
[Enter feedback here]
 I see that the statement mentions:  For example, you'd need around 1,000 IOPS for **100** users, and around 5,000 IOPS during sign-in and sign-out.
However I dont see anywhere as to what is the default number of users that can be set. Is it "100" and no value lower possible. Even pricing calculator does not allow value to go lower than 100. Can we have a more clear documenta

[2021-06-25 04:20] #77203 closed

[2021-06-25 04:29] AnuragSharma-MSFT commented on #77440
@AwdotiaRomanowna Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-06-25 04:29] AnuragSharma-MSFT commented on #77441
@AwdotiaRomanowna Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-06-25 04:42] HarshitaSingh-MSFT commented on #77350
Hello!
Just checking to see if you have had a chance to see the previous response.

[2021-06-25 04:42] HarshitaSingh-MSFT commented on #77333
Hello!
Just checking to see if you have had a chance to see the previous response.

[2021-06-25 04:43] HarshitaSingh-MSFT commented on #77291
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-06-25 04:43] #77291 closed

[2021-06-25 04:48] AnuragSharma-MSFT commented on #77436
@GarrySinghMSFT Thank you for the feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2021-06-25 04:56] ShaikMaheer-MSFT commented on #77448
@DavidVivash Thank you for sharing feedback. We are actively validating it. We will get back to you soon.

[2021-06-25 05:03] AshokPeddakotla-MSFT commented on #77388
@stewartadam Thanks for raising PR. Changes will go live once it has been peer reviewed and merged.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-06-25 05:03] #77388 closed

[2021-06-25 05:07] waltervos commented on #77186
Any news on this, @AjayKumar-MSFT?

[2021-06-25 05:22] ShaikMaheer-MSFT commented on #77447
@AuTrevor Thank you for sharing feedback. We are actively investigating it. We will get back to you soon.

[2021-06-25 05:35] SrijitBose-MSFT commented on #77209
@emreertugrul is there any update on this?

[2021-06-25 06:05] biaojiang commented on #77184
Ok, now you can close this issue, and I will check the iotedge-eflow repo to solve the uninstalling problem.

[2021-06-25 06:05] #77184 closed

[2021-06-25 06:09] SumanthMarigowda commented on #77199
@JavedEqbal  Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused.
I wish to engage with you offline for a closer look and provide a quick and specialized assistance, please send an email with subject line “Attn:subm” to AzCommunity[at]Microsoft[dot]com referencing this thread and the Azure subscription ID, I will follow-up with you.  Once again, apo

[2021-06-25 06:09] #77199 closed

[2021-06-25 06:42] VikasPullagura-MSFT commented on #77444
@keggster101020
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-06-25 06:42] VikasPullagura-MSFT commented on #77444
@erikadoyle
Can you please check and add your comments on this doc update request as applicable.

[2021-06-25 06:46] VikasPullagura-MSFT commented on #77445
@clarenceb
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-06-25 06:47] VikasPullagura-MSFT commented on #77445
@palma21 @mlearned
Can you please check and add your comments on this doc update request as applicable.

[2021-06-25 06:48] SumanthMarigowda commented on #77398
@aamorale
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-06-25 07:06] VikasPullagura-MSFT commented on #77455
@Siby22071989
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-06-25 07:07] VikasPullagura-MSFT commented on #77455
@Heidilohr
Can you please check and add your comments on this doc update request as applicable.

[2021-06-25 07:07] HarshitaSingh-MSFT commented on #77367
Yes, you are right. Guests who have permissions to invite other guest users can invite other guest users if you use that option. Check out [Assign the Guest Inviter role to a user](https://docs.microsoft.com/en-us/azure/active-directory/external-identities/delegate-invitations#assign-the-guest-inviter-role-to-a-user) for more details. Let me know if this answers your question.

[2021-06-25 07:12] SrijitBose-MSFT commented on #77454
@damienpontifex Planned Maintenance windows are specified in Coordinated Universal Time (UTC). [[Reference](https://docs.microsoft.com/en-us/azure/aks/planned-maintenance#allow-maintenance-on-every-monday-at-100am-to-200am)]

[2021-06-25 07:12] #77454 closed

[2021-06-25 07:14] damienpontifex commented on #77454
Sorry, I completely missed that. Thanks @SrijitBose-MSFT

[2021-06-25 07:36] SwathiDhanwada-MSFT commented on #77432
@vonschutter Thanks for your comment. We will review the issue and get back to you shortly.

[2021-06-25 07:50] AjayKumar-MSFT commented on #77435
@GuyPaddock, Thanks for bringing this to our attention. We're taking a look into this and will get back to you shortly.

[2021-06-25 07:51] SwathiDhanwada-MSFT commented on #77437
@JFolberth Thanks for your comment. We will review the issue and get back to you shortly.

[2021-06-25 07:54] HarshitaSingh-MSFT commented on #77355
This step is detailed at below two locations:
- [ What is Azure Migration Planner? - NET](https://azuremigrationplanner.blob.core.windows.net/ampdocumentation/Azure%20Migration%20Planner%20Private%20Preview.pdf)
- [Azure Migrate Full Guide](https://www2.techdata.nl/2020/pdf/academy/microsoft/assess/Azure_Migrate_Full_Guide.pdf)

Let me know if this answers your question.

[2021-06-25 08:22] theonlycoder commented on #77351
Hi @GitaraniSharma-MSFT, thanks for taking a look.

From the information you provided it sounds as though my issue is valid. The Basic SKU does support IKEv2, but the answer to the FAQ question says it does not. Please let me know if I have misunderstood.

Thanks again

[2021-06-25 08:43] jitendraRai commented on #77170
Thanks and it is implemented on the OR operator i.e. also known as the "short-circuiting", computes the logical OR of its operands.

**In more detail:-**
In the AAD B2C perspective Precondition has three main factors,
1. Claim exist/Equal
2. Value to compare
3. Action

**Paradigm:-**
if the value checked into the claimbag and ExecuteActionsIf has satisfy the condition then goto Action and perform.

[2021-06-25 08:45] amanmcse commented on #77435
@GuyPaddock Thank you for pointing this out. I have transferred the issue to the author to update the screenshots.

[2021-06-25 08:52] lgayhardt commented on #76260
Hi @dariuspetrov, Thanks for catching that. We updated that section based on your feedback and the changes should go live in a few hours.

Thanks!
#please-close

[2021-06-25 08:52] #76260 closed

[2021-06-25 09:10] darrenferguson opened #77461 "ecosystem.config.js startup"
The documentation states:

"The container automatically starts your app with PM2 when one of the common Node.js files is found in your project:

- One of the following PM2 files: process.json and ecosystem.config.js"

I have an ecosystem.config.js file but the only way that I can get my app to launch with this is to add a custom startup command - the documentation implies that these files would be

[2021-06-25 09:21] infosecray opened #77462 "Minor grammar"
Under _**Prerequisites**_
- If you don't have one of "theses" subscriptions should be "these".

Under **_Edit terms of use details_**
- Require users to expand the terms of use – Setting this to On will force the end "use" to expand... should be "user".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 618ca851-56c8-5ba1-

[2021-06-25 09:26] SvenSowa opened #77463 "Inconsistency between (Get-AzVM).Tags and tagslist from internal endpoint, and REST api"
There is an inconsistency when accessing the tags from (Get-AzVM).Tags where you access them via key/value and the internal endpoint where you access them via name/value. The REST api via gives a normal json in form of ..."tags": {  "myTag1": "tagValue1", "myTag2": ...  } (https://docs.microsoft.com/en-us/rest/api/compute/virtual-machines/get).

---
#### Document Details

⚠ *Do not edit this secti

[2021-06-25 09:32] SnehaAgrawal-MSFT commented on #77158
@hamdyghanem Thanks for reaching here! The PR has been created for this once reviewed by author @peiliu it will visible.
We will now close this If there is further query on this let us know.

[2021-06-25 09:32] #77158 closed

[2021-06-25 09:55] BakkerJan opened #77464 "Report only limitations"
Hi friends!

Some of the documentation is a bit confusing. It seems that the report-only mode is not compatible with the User Actions scope, but this is not explicitly mentioned in the first paragraph :

"Conditional Access policies can be enabled in report-only mode."

There is a sentence in the note that kind of says it, but that is put in the context of compliant devices only, it seems.

"Note

[2021-06-25 10:05] amanmcse commented on #77462
@infosecray  Thank you for your feedback . We will investigate and update the thread further.

[2021-06-25 10:40] #77462 closed

[2021-06-25 10:44] philhagger opened #77465 "Custom AAD authentication application settings"
I am trying to overwrite the aad settings to point to my registered application but the documentation here is lacking any detail.

Bypassing invitation flow for group management doesn't inform me how I would actually carry out group management and enable userRoles in this setup.

Simple missing detail such as <AAD_CLIENT_ID> - do I need the <> and name the application setting AAD_CLIENT_ID? The op

[2021-06-25 10:58] gukoff commented on #54745
Could you please document `CustomMetricsOptedInType` option?

[2021-06-25 10:59] SrijitBose-MSFT commented on #77344
@mstavrev we had seen this issue some time earlier and happened to be caused by tags that are present on the Azure Public IP address resource. The tags are `service` and  `<kubernetes-cluster-name>`. The issue has been fixed with upstream Kubernetes v1.20.7. However, if you observe the issue again please delete the tags from the Public IP addresses before deleting the service which should at least

[2021-06-25 11:01] SrijitBose-MSFT commented on #77222
@serxansherif please do let us know if you have any queries.

[2021-06-25 11:30] HarshitaSingh-MSFT commented on #77367
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-06-25 11:30] #77367 closed

[2021-06-25 11:30] HarshitaSingh-MSFT commented on #77355
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-06-25 11:30] #77355 closed

[2021-06-25 11:57] AjayKumar-MSFT commented on #77210
@PKPublicCode, Apologies for the delay!
The home directory is shared among all instances so that all instances see the same directory. They are backed by the same file system. so, it is loaded on all workers immediately.
That is, if your app saves uploaded files to the home directory, those files are immediately available to all instances.
Kindly see [this doc](https://docs.microsoft.com/en-us/azu

[2021-06-25 11:57] #77210 closed

[2021-06-25 12:00] barbarabel opened #77467 "Hyperlink points at an obsolete version of the appliance"
HI team the hyperlink for the appliance points at an obsolete version (6 vs. the latest at the time of writing is versions 8).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2dc0f9e8-9503-5d8c-e597-66c629e23357
* Version Independent ID: 2f6e08f6-8e07-f283-9254-c2152774dd4b
* Content: [Discover servers running in a VMwa

[2021-06-25 12:02] barbarabel opened #77468 "Obsolete Link"
HI team the hyperlink for the appliance points at an obsolete version (6 vs. the latest at the time of writing is versions 8).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60d3e532-e3e5-219a-ce0c-502b48faaebb
* Version Independent ID: 19765a75-4ee0-7ce7-5d34-1cac117cf80c
* Content: [Discover physical servers with Azu

[2021-06-25 12:04] barbarabel opened #77469 "Obsolete link"
HI team the hyperlink for the appliance points at an obsolete version (6 vs. the latest at the time of writing is versions 8).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02d870fd-9485-5ed5-3409-fcafd7968842
* Version Independent ID: 292d8c6a-c2f0-dce5-255e-b014e63236f1
* Content: [Discover AWS instances with Azure

[2021-06-25 12:05] barbarabel opened #77470 "obsolete link"
HI team the hyperlink for the appliance points at an obsolete version (6 vs. the latest at the time of writing is versions 8).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 522eb06b-e5be-a75a-4adc-74894596462c
* Version Independent ID: d7bd8e0b-37d1-2e4e-5c28-2ae32c13505b
* Content: [Discover servers on  GCP instances

[2021-06-25 12:05] vineetvikram commented on #77468
Please assign it to @Vikram1988

[2021-06-25 12:33] lniedzielski opened #77471 "Static Web App managed identity support"
Static Web Apps support managed identity which is not mentioned in the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 726adac9-1848-01a6-9586-842c81f820f7
* Version Independent ID: 249db438-8c95-8e69-f69e-8e48fcd0b359
* Content: [Azure Services that support managed identities - Azure AD](https://docs.mic

[2021-06-25 12:36] SnehaAgrawal-MSFT commented on #77461
@darrenferguson Thank you for your feedback! We will review and update as appropriate.

[2021-06-25 12:37] AjayKumar-MSFT commented on #77286
@buzzfrog, Kindly see [this doc](https://github.com/github/renaming#new-repositories-use-main-as-the-default-branch-name) - 'main' is the most popular replacement for master that we're seeing across GitHub.  Many communities, both on GitHub and in the wider Git community, are considering renaming the default branch name of their repository from `master`. GitHub is gradually renaming the default br

[2021-06-25 12:40] joecarlyle commented on #77355
Sorry neither of these are valid, the first is a service that does not exist. The second includes the same limited detail as the docs.

[2021-06-25 12:40] E-HO opened #77473 "Streaming Event Hubs : checkpointLocation has no effect to read from the last used element ?"
Hi,

Is it possible to update the content of this page ? Some documentations are mentioning that's "easy" to recover the messages sent to an "Event Hubs" if the service is stopped, however after many tests it seems a bit "complicated".

The usual technique mentioned to be used for this is .option("checkpointLocation", "/CheckpointFolderPath")` ... but making something like the following code only

[2021-06-25 12:45] toolboc commented on #75601
@EliiseS, would there be interest in possible adding this into the repo at https://github.com/Azure/iotedge-vm-deploy?  I think it could be useful as an option within that repo and could also solve the issue of referencing code outside of an MSFT owned repo.  What do you think?  @veyalla, do you have any additional thoughts here?

[2021-06-25 12:47] HarrisburgUSysAdmin opened #77474 "Maximum Users / Groups - Continuous access evaluation"
I am unable to add more than 10 users in the CAE policy. If I add 11 users and hit save it will get the following Azure error message, "Failed to update Continuous access evaluation settings".

Is there a limit or is this a bug?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5cf71de-20a1-6056-01cf-f44d9ef60ed3
* Versio

[2021-06-25 12:48] HarshitaSingh-MSFT commented on #77471
Hello @lniedzielski , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-06-25 13:08] dirkslab commented on #50547
@kkfrosty Thanks for above. I have got this to work and understand {{ipValidated}} could be any value, ex 1 or true.

Please can you help clarify:
1) The 10. IP’s, are for samples are are to show if you want to also allow individual IP’s that may be in the forwarded-for header. What scenario does this apply to?
2) Why would you want {{ipValidated}} to be a secret value as it seems to just be for "

[2021-06-25 13:17] PramodValavala-MSFT commented on #77453
@kennetherland Could you confirm which part are you referring to?

If it's the policy expressions, then this is expected.
![image](https://user-images.githubusercontent.com/43602528/123430398-c12b4e80-d5e5-11eb-8e1a-858d1594be5c.png)

[2021-06-25 13:19] Christian-e-S opened #77475 "Different EventGrid Events from IoT Hub Device Telemetry subscription have identical Id"
* I use an Azure functions with an EventGrid Trigger, subscribed to IoT Hub Device Telemetry Events.
* I send messages only from a single IoT device
* When I send messages with some delay between the messages (e.g., one second), each EventGrid message will have a unique id.
* When I send the messages very fast, one after the other, I receive the different EventGrid events with a different enqueued

[2021-06-25 13:40] brportela opened #77476 "Exchange ActiveSync behavior explanation on Sign-In logs"
Hello,

On the session on Legacy authentication clients > Exchange ActiveSync clients

"When policy blocks the use of Exchange ActiveSync the affected user will receive a single quarantine email. This email with provide information on why they are blocked and include remediation instructions if able."

It would be helpful if we include the information before the section above, that when the condit

[2021-06-25 14:23] zeesyed opened #77477 "Incorrect statement about Apache Cassandra's Commit Log"
[Enter feedback here]
Hi
Thanks for the Article, however I would like to bring to your attention the following comment in the table that compares Apache Cassandra's consistency levels with that of Cosmos DB.
The 1st row & Last column says
"Unlike Apache Cassandra Cosmos DB durably commits a Quorum write by default. At least 3/4 nodes commit the write to disk and NOT just a commit log in memory."

[2021-06-25 14:32] Nicholak-MS commented on #77198
A change with the missing service plans was published and this is now available online. Closing this issue.

#Please-close

[2021-06-25 14:32] #77198 closed

[2021-06-25 15:08] SumanthMarigowda commented on #77452
@bhavin07 Thanks for the question! We are investigating and will update you shortly.

[2021-06-25 15:13] richardichogan opened #77478 "Don't use the curly braces shown in the code"
This may just have been my lack of knowledge, but just in case someone else runs into the same issue the curly braces shown in the example need to be removed before you can run the Azure CLI example to deploy the VNet into the resource group otherwise the Azure CLI will through an error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2021-06-25 15:19] MarileeTurscak-MSFT commented on #77474
@HarrisburgUSysAdmin
Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-25 15:25] #53284 closed

[2021-06-25 15:32] mattweale opened #77479 "Link not working"
[The link to latte.exe is no longer valid.]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 96a8a8ae-019a-9164-7506-e6a2ac60269c
* Version Independent ID: 1ba5d5b9-ca37-ba98-6866-4cf726ad1172
* Content: [Test Azure virtual machine network latency in an Azure virtual network](https://docs.microsoft.com/en-us/azure/virtua

[2021-06-25 15:47] BharathNimmala-MSFT commented on #77469
@barbarabel Thanks for the reaching out with your feedback, closing because it seems to be a [duplicate of the other GitHub thread](https://github.com/MicrosoftDocs/azure-docs/issues/77468). Our team will address the issue on the other thread.

[2021-06-25 15:47] #77469 closed

[2021-06-25 15:48] BharathNimmala-MSFT commented on #77470
@barbarabel Thanks for the reaching out with your feedback, closing because it seems to be a [duplicate of the other GitHub thread](https://github.com/MicrosoftDocs/azure-docs/issues/77468). Our team will address the issue on the other thread.

[2021-06-25 15:48] #77470 closed

[2021-06-25 15:49] BharathNimmala-MSFT commented on #77468
@barbarabel Thanks a lot for taking time to share your feedback, our team will review it and fix the document accordingly.

[2021-06-25 15:50] pillaianil opened #77480 "Typo - DBCC CheckINdent instead of DBCC CheckIdent."
Reporting a typo on the page: The word CHECK**IN**DENT is used instead of CHECKIDENT.
![image](https://user-images.githubusercontent.com/30933948/123451126-09754d00-d5a3-11eb-8b46-72dc34cd30db.png)
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa4daf87-623e-2295-5a9d-e8715f75118a
* Version Indepe

[2021-06-25 15:51] BharathNimmala-MSFT commented on #77467
@barbarabel Thanks for the reaching out with your feedback, closing this issue because it seems to be a [duplicate of the other GitHub thread](https://github.com/MicrosoftDocs/azure-docs/issues/77468). Our team will address the issue on the other thread.

[2021-06-25 15:51] #77467 closed

[2021-06-25 15:54] HarshitaSingh-MSFT commented on #77350
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-06-25 15:54] #77350 closed

[2021-06-25 15:55] HarshitaSingh-MSFT commented on #77333
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-06-25 15:55] #77333 closed

[2021-06-25 16:00] mstavrev commented on #77344
Indeed the public IP I did my tests with had a 'Service' tag prior to my original tests as I had been using it multiple times to test all kind of AKS deployments under my subscription.

I'll have your advise in mind if it happens again.

Thank you!

[2021-06-25 16:16] DCtheGeek commented on #77216
As there has been no response, I'm going to close this issue as I believe it has been answered.  If more discussion is needed, please feel free to continue the discussion here.  Thanks!

#please-close

[2021-06-25 16:16] #77216 closed

[2021-06-25 16:17] KenBenjamin opened #77481 "Add "Elevate access for a Global Administrator" for PowerShell"
You can use the PowerShell command `Invoke-AzRestMethod -Method POST -Path "/providers/Microsoft.Authorization/elevateAccess?api-version=2016-07-01"` to achieve the same results as shown under the Azure CLI example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0decae5-1977-1db8-8b69-7e9a46919add
* Version Independen

[2021-06-25 16:19] himanshusinha-msft commented on #77480
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-06-25 16:24] tcsougan opened #77482 "DNS forwarder information and directives for virtual link"
[Enter feedback here]

The issue we are currently facing with this document is on the cases requiring the DNS forwarder. The customers most of the time have no clue how to set it up, let alone the most crucial part which is to have its VNET virtually linked to the Azure Private Zone **privatelink.database.windows.net**  created while enabling the Private Endpoint if the DNS forwarder and the PE ar

[2021-06-25 16:32] #77209 closed

[2021-06-25 16:41] ChuckRenner opened #77483 "Service Principal ID error"
When executing this step:

`# Store service principal ID in vault (the registry *username*)
az keyvault secret set \
    --vault-name $AKV_NAME \
    --name $ACR_NAME-pull-usr \
    --value $(az ad sp show --id http://$ACR_NAME-pull --query appId --output tsv)`

the following error is returned:

`ERROR: Service principal 'http://<my acr name>-pull' doesn't exist`

If I perform `az ad sp list --dis

[2021-06-25 16:47] malopMSFT commented on #77451
@ivapplyr can you help including this service on our docs and share a PR

[2021-06-25 16:49] ivapplyr commented on #77451
Ack. Will circle back with an updated PR :)

[2021-06-25 16:51] KumariSupriya commented on #77463
Thanks SevSowa for your feedback. Just wanted to clarify when you say inconsistency did you mean that the values are different or the format is different for the tags?
We do `tags` as well as `tagslist` . `tags` just show the semicolon separated tags values while `tagsList` is tags formatted as a JSON array for easier programmatic parsing.(https://docs.microsoft.com/en-us/azure/virtual-machines/li

[2021-06-25 16:53] zr-msft commented on #55492
Thank you for the feedback @mohanrao!

I can't reproduce the issue. Please follow up if you're still running into issue.

#please-close

[2021-06-25 16:53] #55492 closed

[2021-06-25 17:03] mumian commented on #77478
@richardichogan - thank you for the comment.  I will add a note to the article.

#please-close

[2021-06-25 17:03] #77478 closed

[2021-06-25 17:04] zr-msft commented on #55671
Thank you @hansmbakker for the feedback!

The article links to the relevant limitations within ACI, but please contact support if you're experience issues.

#please-close

[2021-06-25 17:04] #55671 closed

[2021-06-25 17:09] kkfrosty commented on #50547
@dirkslab I didn't write this code but checked with the author a while back.  (They were a little fuzzy in recalling all the details as well.)

1. - I suppose if you had traffic coming from multiple areas but mainly if there are IP's in the X-Forwarded-For that may not be in the cidrlist.  Or you could suppose if you had traffic from one IP, you could just use this instead of the cidrlist.  I thin

[2021-06-25 17:14] nschroeder-pwc opened #77484 "Is ContainerDeleteRetentionPolicy available in commandline tools?"
Is there any support for scripting the container retention settings in CLI or Az Powershell, similar to blob soft delete?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd9489ba-f351-812e-86b7-f63c1cbe90b7
* Version Independent ID: de7337bb-e161-1e47-bd96-aa6e16b30671
* Content: [Enable and manage soft delete for conta

[2021-06-25 17:16] MonikaReddy-MSFT commented on #77483
@ChuckRenner -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-06-25 17:25] MarileeTurscak-MSFT commented on #77481
@KenBenjamin
Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-25 17:29] CodyBatt opened #77485 "Incorrect use of "thumbprint""
The article says _Extract the private key and the **base64 thumbprint**_ This is inaccurate. It is actually referring to the base-64 encoding of the binary DER encoded certificate data (PEM format), not the certificate thumbprint. The certificate thumbprint is an MD5 hash of the DER certificate data. This mixing of terms confusing to people who understand what these terms mean.

See here for a bet

[2021-06-25 17:31] JamesTran-MSFT commented on #77464
@BakkerJan
Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-25 17:37] XiaoyuMSFT commented on #77480
@himanshusinha-msft - Can you please change the author to emtehran (MS alias), mstehrani (Github login)?

[2021-06-25 17:38] JamesTran-MSFT commented on #77476
@brportela
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-06-25 17:38] himanshusinha-msft commented on #77473
Assigning to @leifbro  to look into this and update the doc as appropiate

[2021-06-25 17:39] JamesTran-MSFT commented on #77420
@alfredogan
I just wanted to check in and see if you had any other questions or if you were able to review my previous comment?

[2021-06-25 17:39] kennetherland commented on #77453
Thank you, I figured that out late last night.  Kinda like razor expressions with the @ symbol.

[2021-06-25 17:41] MonikaReddy-MSFT commented on #77419
@baldyga - Thanks for providing with the document details.

Looks like the issue is more related to a product question and not a document related issue.

Do you mind raising this issue in [Microsoft QnA ](https://docs.microsoft.com/en-us/answers/index.html) so it can be directed to the appropriate engineer to work on your issue.

At this moment, Since there is no doc update required, We will now p

[2021-06-25 17:41] #77419 closed

[2021-06-25 17:41] JamesTran-MSFT commented on #77170
@mrochon
I just wanted to check in and see if you had any other questions or if you were able to review @jitendraRai's comment?

[2021-06-25 18:02] vhorne commented on #74918
Old text removed
#please-close

[2021-06-25 18:02] #74918 closed

[2021-06-25 18:07] HarshitaSingh-MSFT commented on #77471
@lniedzielski, Managed Identity is currently not supported: [#88](https://github.com/Azure/static-web-apps/issues/88). Let me know if this answers your question.

[2021-06-25 18:25] AjayKumar-MSFT commented on #77343
@xbnagy,
`az webap up` command tries to identify the runtime & language of the app to be deployed based on the context of the code located in the current directory (in my case '**MytestAzureWebApp**').  Since the command tries to zip the contents of the entire folder. It is recommended to have a sub dir with the files or code to deployed and then try 'az webapp up'.

I used the same cmdlets and it

[2021-06-25 18:33] SnehaGunda commented on #71214
The above PR deleted this doc, changes will be live later today. We will now close this issue.

#please-close

[2021-06-25 18:33] #71214 closed

[2021-06-25 18:37] jitendraRai opened #77487 "Example to add multiple claimToExtract input parameter for GetClaimFromJson"
Reference:- https://docs.microsoft.com/en-us/azure/active-directory-b2c/json-transformations#getclaimfromjson

Customer has multiple JSON key value pairs in the string and would like to extract using one claimTransformation Howerver the InputParameter id="ClaimToExtract" can not be duplicate. Could you please provide example in the document for multiple InputParameter.

json value :-
e.g. "{'tenan

[2021-06-25 18:52] joshschmitter opened #77488 "incomplete sentence on key vault rbac migration page"
There's an incomplete sentence which reads: "Vault access policy permission model is limited to assign policy only at Key Vault resource level, which"

Besides the grammar and punctuation issues, this sentence seems to contradict another sentence nearby: "Azure RBAC for Key Vault allows roles assignment at following scopes: ..."

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2021-06-25 18:55] mrochon commented on #77170
No, this is still not clear. I can understand that conditions may be OR'ed (or AND'ed) but not how actions can be OR'ed. Since each precondition contains both a condition and an action, If one condition evaluates to True and conditions are OR'ed, the result is True. However, one action says 'skip', the other says 'do not skip'. Which action wins? The first one? This needs to be clarified in the do

[2021-06-25 18:55] joshschmitter commented on #77488
The whole page needs a review.  Lots of grammar and punctuation issues.

[2021-06-25 19:00] paulbatum commented on #77430
I should also note that for the blob operations, Storage Blob Data Owner is broad and Storage Blob Data Contributor should be enough.

[2021-06-25 19:05] baanders commented on #77388
The [PR containing this code change](https://github.com/Azure-Samples/digital-twins-docs-code/pull/29) has been merged.

Changes should propagate through to the live article sometime this afternoon!

[2021-06-25 19:14] JamesTran-MSFT commented on #77487
@jitendraRai
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-06-25 19:18] Justinha commented on #73091
@HSM83 thanks for the feedback. I updated the intro para to say global admins. For the licensing q, customers get 50,000 free users both as guests in Azure AD or as consumers in an Azure AD B2C tenants. There is also a charge .03 cents for per phone based MFA for B2B users.

[2021-06-25 19:27] Oury-MSFT commented on #77477
@zeesyed Thank you for your feedback. We are reviewing this and will get back shortly.

[2021-06-25 19:28] zr-msft commented on #56773
Thank you @chunliu  for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-25 19:28] #56773 closed

[2021-06-25 19:30] Oghost commented on #48414
Hello @RohitMungi-MSFT
Where I can find more documentation about the pre-processing to run in onnxruntime CustomVison General S1 OnnxModel's?

I am missing some normalization? if some one can oriented me I will appreciate.

actual code:

 var size = new Size(300, 300);
            using var bmpResized = BitmapTransform.Resize(image, size);
            using var clone = image.Clone(new Rectangle(ne

[2021-06-25 19:32] zr-msft commented on #58972
Thank you @Dude5th for the feedback.

As stated in the document:

At this time, we're not planning on updating the article with this information.

#please-close

[2021-06-25 19:32] #58972 closed

[2021-06-25 19:36] zr-msft commented on #59134
Thank you @LanderVe  for the feedback.

As stated in the document:

At this time, we're not planning on updating the article with this information.

#please-close

[2021-06-25 19:36] #59134 closed

[2021-06-25 19:47] zr-msft commented on #60062
Thank you for the feedback @LudoNieuw.

Consider reviewing:
* https://docs.microsoft.com/azure/aks/concepts-identity
* https://docs.microsoft.com/security/benchmark/azure/baselines/aks-security-baseline?context=/azure/aks/context/aks-context
* https://docs.microsoft.com/azure/aks/concepts-security

for additional background on security with the Kubernetes API.

#please-close

[2021-06-25 19:47] #60062 closed

[2021-06-25 19:57] zr-msft commented on #60377
Thank you @AdamSharif-MSFT for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-25 20:02] MarileeTurscak-MSFT commented on #77488
Thanks for calling this out. I made a pull request to fix many of these errors. https://github.com/MicrosoftDocs/azure-docs-pr/pull/163755

CC @msmbaldwin

[2021-06-25 20:02] #77488 closed

[2021-06-25 20:10] zr-msft commented on #61329
Thank you @ErgoPr0xy for the feedback.

The article now includes details that address your feedback:
https://docs.microsoft.com/azure/aks/configure-azure-cni#prerequisites

#please-close

[2021-06-25 20:10] #61329 closed

[2021-06-25 20:11] arambazamba commented on #76725
hi @AlexandraKemperMS … typically when I use AppConfig Service I have some values in AppConfig and others in KV. I know how to use and integrate it. I just found that it should at least be mentioned so that others can also make use of this great combination 😁

[2021-06-25 20:13] zr-msft commented on #61548
Thank you @piotrgwiazda for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-25 20:13] #61548 closed

[2021-06-25 20:16] cgillum commented on #76887
Looking at the [.NET implementation](https://github.com/Azure/durabletask/blob/12ce386df12ef59f0fe9ac7ae38d79b8cc03ebd4/src/DurableTask.Core/RetryInterceptor.cs#L46-L79), `RetryOptions.MaxNumberOfAttempts` is supposed to be the maximum number of _attempts_, not the max number of retries. So it seems like the documentation as-written is misleading, as @Sti2nd pointed out.

[2021-06-25 20:21] zr-msft commented on #61686
Thank you @pniederlag for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-25 20:21] #61686 closed

[2021-06-25 20:24] zr-msft commented on #61892
Based on the conversation in the thread, there's no update to the article necessary.

#please-close

[2021-06-25 20:24] #61892 closed

[2021-06-25 20:28] mjaggard commented on #70660
Understood, but issues in GitHub are a public way that people can see what's going on. Artificially closing them before they're resolved seems like you're trying to make Azure appear better than it really is.

#reopen

[2021-06-25 20:35] zr-msft commented on #61959
Thank you @lindhe for the feedback.

Based on the the discussion, there does seem to be any updates needed to the article.

#please-close

[2021-06-25 20:35] #61959 closed

[2021-06-25 20:41] zr-msft commented on #62236
Thank you @DreamRivulet for the feedback.

The article has been updated to address your feedback.

#please-close

[2021-06-25 20:41] #62236 closed

[2021-06-25 21:04] alephenne opened #77494 "Azure NSG documentation does not indicate that DNS traffic is, by default, excluded from NSG processing"
We were doing testing with VM NSGs for microsegmentation and trying to understand why and how DNS traffic was going to our proxy servers, even with a rule blocking *ALL* traffic in the test VM NSG.

While searching, we found the following link : [https://social.msdn.microsoft.com/Forums/azure/en-US/19615c99-f37a-4075-bd53-c623b626860a/network-security-group-not-blocking-dns-resolution?forum=WAVirt

[2021-06-25 21:07] MarileeTurscak-MSFT commented on #77481
Thank you, @KenBenjamin!

I made a pull request to add the Powershell instructions. https://github.com/MicrosoftDocs/azure-docs-pr/pull/163766

@rolyon please confirm.

[2021-06-25 21:07] #77481 closed

[2021-06-25 21:10] mdlinville commented on #67264
Thanks for the report. The next time the documentation is deployed, step 7 will be updated to:

"Enter the SCIM API endpoint URL. Append `/api/2.0/preview/scim` to your workspace URL."

[2021-06-25 21:13] hindocha85 commented on #67264
Thanks. Do I get a contributor mention?

On Fri, Jun 25, 2021 at 16:10 Matt Linville ***@***.***>
wrote:

[2021-06-25 21:15] hpsin commented on #77244
@judefelixantony , can you confirm that this seems like an approach you can take?

[2021-06-25 21:23] zr-msft commented on #62161
Thank you @vsabella for the feedback.

Currently, the article addresses your feedback in the following sections:
* https://docs.microsoft.com/azure/aks/limit-egress-traffic#background
* https://docs.microsoft.com/azure/aks/limit-egress-traffic#required-outbound-network-rules-and-fqdns-for-aks-clusters

If you're experiencing issues when configuring limits on egress traffic, please contact support.

[2021-06-25 21:23] #62161 closed

[2021-06-25 21:24] angellmethod opened #77497 "This doc is useful but orphaned?"
This is a pretty useful doc that's been recently updated but it seems like it is dangling and not attached to any larger documentation. I've never seen this before so I am wondering if it is supposed to be in a different section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09a788e4-0130-73f2-d985-6fc3aec77974
* Vers

[2021-06-25 21:33] zr-msft commented on #62274
Thank you @ganrad for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-25 21:33] #62274 closed

[2021-06-25 21:37] zr-msft commented on #62288
Thank you @ganrad for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-25 21:37] #62288 closed

[2021-06-25 21:39] zr-msft commented on #62320
Based on the conversation, there's no doc update needed.

#please-close

[2021-06-25 21:39] #62320 closed

[2021-06-25 21:41] zr-msft commented on #65809
Based on the conversation, the issue seems to be resolved and there doesn't need to be an updates to the article.

#please-close

[2021-06-25 21:41] #65809 closed

[2021-06-25 21:47] zr-msft commented on #70281
Thank you @tomkerkhove for the feedback.

Please contact support if you are still experiencing an issue.

#please-close

[2021-06-25 21:47] #70281 closed

[2021-06-25 21:51] MarileeTurscak-MSFT commented on #77409
Thanks @thisisraghavkumar !

I made a pull request to update the prerequisites.

@barclayn can you please review and confirm this? https://github.com/MicrosoftDocs/azure-docs-pr/pull/163777

[2021-06-25 21:51] #77409 closed

[2021-06-25 21:52] zr-msft commented on #76646
Thank you @adhodgson1  for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-25 21:52] #76646 closed

[2021-06-25 21:52] zr-msft commented on #74834
Thank you @jinzejian  for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-25 21:52] #74834 closed

[2021-06-25 21:52] zr-msft commented on #67971
Thank you @Purneau  for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-06-25 21:52] #67971 closed

[2021-06-25 22:01] zr-msft commented on #62689
Thank you @adampaquette for the feedback.

As stated in the document:

At this time, we're not planning on updating the article to address your feedback.

#please-close

[2021-06-25 22:01] #62689 closed

[2021-06-25 22:01] xupiter opened #77499 "Wrong info in prerequisites section"
From prerequisites section:
[code]
That information seems to be wrong and highly misleading.
Note that Reader role does not allow you to make any changes.  That means it won't allow you to enable traffic analytics.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a3b799a-7429-813c-c630-e6242c39b77f
* Version Independent

[2021-06-25 22:06] zr-msft commented on #62723
Thank you @hottomato4 for the feedback.

We've updated the article to address your feedback.

#please-close

[2021-06-25 22:06] #62723 closed

[2021-06-25 22:07] Grace-MacJones-MSFT commented on #76183
Upon further review, we feel your feedback would be best received by the doc author to add any necessary clarity to the docs.

[2021-06-25 22:47] KranthiPakala-MSFT commented on #77431
Hi @salavala - To create and external data source, could you please follow this doc - https://docs.microsoft.com/en-us/sql/t-sql/statements/create-external-data-source-transact-sql?view=azure-sqldw-latest&preserve-view=true&tabs=serverless

Thank you for leveraging Azure docs feedback channel to raise this question. This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and s

[2021-06-25 22:50] KranthiPakala-MSFT commented on #77428
Hi @real-oneill,

Thanks for leveraging Azure docs feedback channel to raise this question. This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. We didn't determine any changes for this documentation upon reviewing this feedback.

If your query is related to product question, we request you to please reach out in forums like [Microsoft Q

[2021-06-25 22:52] #76871 closed

[2021-06-25 23:01] mike-urnun-msft commented on #77258
Hello @vladvino - Any suggestions on the alternative?

[2021-06-25 23:04] ruthbacci opened #77500 "Requests Per Minute with Custom Metrics Query - Format Error"
https://docs.microsoft.com/en-us/azure/azure-monitor/containers/container-insights-log-search#requests-per-minute-with-custom-metrics

Requests Per Minute with Custom Metrics query...

Should read....

InsightsMetrics
| where Name == "requests_count"
| summarize Val=any(Val) by TimeGenerated=bin(TimeGenerated, 1m)
| sort by TimeGenerated asc
**| project RequestsPerMinute = Val - prev(Val), TimeGen

[2021-06-25 23:15] Karishma-Tiwari-MSFT commented on #77257
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

Thanks for improving our documentation! Just so you know, it's also possible to make these changes yourself, if you are interested. Doing so will improve our documentation, and it will add you as a contributor to the document.
In case you're interested, these are the steps to do so:
1.	Na

[2021-06-25 23:28] Karishma-Tiwari-MSFT commented on #73926
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-06-25 23:28] Karishma-Tiwari-MSFT commented on #75419
We will now close this issue. Please share the details when you get a chance and tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2021-06-25 23:28] #75419 closed

[2021-06-25 23:31] Karishma-Tiwari-MSFT commented on #76174
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-06-25 23:33] Karishma-Tiwari-MSFT commented on #77257
The PR is merged. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2021-06-25 23:33] #77257 closed

[2021-06-25 23:46] Karishma-Tiwari-MSFT commented on #76293
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

Thanks for improving our documentation! Just so you know, it's also possible to make these changes yourself, if you are interested. Doing so will improve our documentation, and it will add you as a contributor to the document.
In case you're interested, these are the steps to do so:
1.	Na

[2021-06-25 23:46] #76293 closed

[2021-06-25 23:55] Karishma-Tiwari-MSFT commented on #77391
@danielsollondon Can you please help confirm? Thanks.

[2021-06-26 00:35] adonaicosta opened #77503 "add option to no-wait update credentials"
add option -- no-wait in command line of az aks update-credentials, it could be helpful when cannot wait or in case lost session or connection break.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b842222-f6ac-5266-227f-7e400610e07b
* Version Independent ID: 429cd3bf-2691-f633-2e0d-e70e5d8d0e03
* Content: [Reset the cr

[2021-06-26 01:01] alfredogan commented on #77420
Sorry I don’t have time to reproduce the problem and take screen shots. I
suggest that you do own testing and confirm that an App Gateway won’t be
able to access certificates on a Key Vault if it’s managed identity only
has Certificate Officer role. Key Vault Administrator role is needed.

On Fri, Jun 25, 2021 at 1:39 PM James Tran-MSFT ***@***.***>
wrote:

[2021-06-26 01:26] sanjaydatasciencedojo commented on #76831
HI @bandersmsft, thank you for the clarification. However, I am still not clear about one more scenario.  What will happen if VM1 ran from 1:00 PM to 1:30 PM and VM2 ran from 1:30 PM to 2:00 PM for the scale set assuming my reservation quantity is for one VM?

[2021-06-26 01:56] BharathNimmala-MSFT commented on #77465
@philhagger Thank you for reaching out with your query, our team will review it and get back to you at the earliest.

[2021-06-26 02:00] BharathNimmala-MSFT commented on #77500
@ruthbacci Thanks a lot for taking time to bring this to our notice, we will review it and update the document accordingly.

[2021-06-26 02:35] suncats opened #77504 "Termination by SF can also have ExitCode=3221225786"
When SF terminates a process/container, I've also seen traces in Fabric traces with ExitCode=3221225786, which maps to:

0xc000013a | -1073741510 | STATUS_CONTROL_C_EXIT | {Application Exit by CTRL+C} The application terminated as a result of a CTRL+C. | (from ntstatus.h)

This article mentions some other Ctrl-C error codes but not this one; perhaps this error code should be included in the articl

[2021-06-26 02:55] Svijay-msft commented on #77475
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-06-26 02:56] Svijay-msft commented on #77479
Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-06-26 03:00] Svijay-msft commented on #77482
Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-06-26 03:01] Svijay-msft commented on #77484
Thanks for the question! We are taking a look into this and will get back to you soon.

[2021-06-26 03:04] Svijay-msft commented on #77485
Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-06-26 03:06] Svijay-msft commented on #77494
Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-06-26 03:07] Svijay-msft commented on #77499
Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-06-26 03:09] Svijay-msft commented on #77503
Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-06-26 03:13] Svijay-msft commented on #77504
Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-06-26 03:16] Svijay-msft commented on #77497
Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-06-26 03:33] huwgeric opened #77505 "Does Azure Storage support Azure AD autentication?"
On this page, there is one statement 'Azure Storage **does not natively support** Azure AD authentication'
but on "https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/tutorial-vm-windows-access-storage", it says "**Azure Storage natively supports Azure AD authentication**, so it can directly accept access tokens obtained using a managed identity...."
Which on

[2021-06-26 06:49] KrishnaG-MSFT commented on #77478
@mumian Thanks for the response. 👍

[2021-06-26 11:20] Svijay-msft commented on #77505
Thanks for the question! We are looking into this and will get back to you soon.

[2021-06-26 15:08] kaylumah commented on #76183
Hi @Grace-MacJones-MSFT not sure what you mean. Who needs to do what exactly?

[2021-06-26 16:00] AjayKumar-MSFT commented on #46401
irvv17, Thanks for sharing the solution that worked for you with the community. Apologies for all the confusion. We'll work on adding additional clarity/with author's review.

[2021-06-26 16:01] AjayKumar-MSFT commented on #62026
irvv17, Thanks for sharing the solution that worked for you with the community. Apologies for all the confusion. We'll work on adding additional clarity/with author's review.

[2021-06-26 16:09] AjayKumar-MSFT commented on #77092
Thank for the follow-up and sharing the solution that worked for you, samkuls.

[2021-06-26 16:50] tudatn opened #77512 "Information is not correct"
No upgrade subscription or banner at all.

<img width="729" alt="Screen Shot 2021-06-26 at 9 48 21 AM" src="https://user-images.githubusercontent.com/26643781/123520069-b8795d80-d663-11eb-8d26-0f445a2df128.png">

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d3e2b8c0-6652-53b8-ff40-37473c359b7e
* Version Independent ID

[2021-06-26 17:30] AjayKumar-MSFT commented on #77036
You can send logs to Event Hub Namespace, or Log Analytics workspace, if your requirement fits.
If you only wish to see Application logs via 'Log stream', you can just enable 'Application Logging (Filesystem)'.

If both AppServiceFileAuditLogs and AppServiceAppLogs are enabled, disable the AuditLogs and see if AppLogs shows-up.

[2021-06-26 18:00] Grace-MacJones-MSFT commented on #77512
thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update this doc.

[2021-06-26 18:20] ggailey777 commented on #55627
While this is good information, it seems to be general .NET behaviors wrt envars and not specific to WebJobs SDK. Thanks for taking the time to provide feedback on the WebJobs docs. #please-close

[2021-06-26 18:20] #55627 closed

[2021-06-26 18:24] tomkerkhove commented on #70281
This was handled through support who acknowledged this was a doc bug but ok

[2021-06-26 18:28] ggailey777 commented on #53864
It seems like the broken link has been fixed. #pleas-close

[2021-06-26 18:28] #53864 closed

[2021-06-26 18:35] Sti2nd commented on #76887
@davidmrdavid So if I am understanding this correctly; if one specify `maxNumberOfAttempts = 1` in the retry options, there will be no retry?

[2021-06-26 18:39] chaisen2006 opened #77513 "ADF Azure Managed Vnet Private End point"
If a PaaS data store (Blob, ADLS Gen2, Azure Synapse Analytics) has a private endpoint already created against it, and even if it allows access from all networks, ADF would only be able to access it using a managed private endpoint.

Firstly,
I was able to form a connection without a managed private endpoint for Storage Account with allow access from all network.

Secondly,
If we are using a manag

[2021-06-26 19:56] gsuttie opened #77515 "Code doesnt compile"
[Enter feedback here]
Error in VIusal Studio 2019 using.Net Core 3.1
Severity	Code	Description	Project	Line	File	Suppression State
Error	CS1503	Argument 2: cannot convert from 'System.Collections.Generic.List<System.Guid?>' to 'System.Collections.Generic.IList<System.Guid>'	analyze-faces	411	C:\Users\gsutt\source\repos\AI-102-AIEngineer\19-face\C-Sharp\face-api\Program.cs	N/A

---
#### Document De

[2021-06-26 21:07] MatthewSteeples opened #77516 "App Service Size Flexibility?"
For [VMs](https://docs.microsoft.com/en-gb/azure/virtual-machines/prepay-reserved-vm-instances?toc=/azure/cost-management-billing/reservations/toc.json#instance-size-flexibility-setting), the size of the reserved instance can be broken down or combined together depending on which VMs are in use.

Is the same true for App Services? Eg if I were to purchase 10x P1 v3 reservations, could I run 5x P2

[2021-06-26 21:50] chaisen2006 opened #77517 "Managed Virtual Network - Soft Delete Storage Account Not Supported"
Soft Delete enabled Storage Account is not supported by Managed Virtual Network Runtime currently?
Do you have similar limitations stated for usage of this IR ? or a roadmap as to when this would be available.

Thanks!

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b7d5707-9f14-db2b-00fb-5edd7bb

[2021-06-27 02:18] prathap040716 commented on #54587
Hi ChiragMishra,

I need help on the same Topic above i'm getting the same error

<img width="364" alt="Capture101" src="https://user-images.githubusercontent.com/43463337/123530781-2cfcdc80-d6f6-11eb-987e-b3191ea28c29.PNG">

[2021-06-27 02:29] prathap040716 commented on #54587
@ChiragMishra-MSFT

Hi Chirag,

I have same issue and error can you help me on this
<img width="364" alt="Capture101" src="https://user-images.githubusercontent.com/43463337/123530942-ee682180-d6f7-11eb-8ca8-ca65c2748419.PNG">

[2021-06-27 04:32] GitaraniSharma-MSFT commented on #77513
@chaisen2006 , thank you for your query. We'll review this and get back to you shortly!

[2021-06-27 04:38] GitaraniSharma-MSFT commented on #77515
@gsuttie , thank you for your feedback. We'll review this and get back to you shortly!

[2021-06-27 04:43] GitaraniSharma-MSFT commented on #77516
@MatthewSteeples , thank you for your query. We'll review this and get back to you shortly!

[2021-06-27 04:46] GitaraniSharma-MSFT commented on #77517
@chaisen2006 , thank you for your query. We'll review this and get back to you shortly!

[2021-06-27 04:53] GitaraniSharma-MSFT commented on #77323
@bruceleeobjective , Since we have not heard back from you, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and we will gladly continue the discussion.

[2021-06-27 04:53] #77323 closed

[2021-06-27 04:57] batamig commented on #74976
Hi @tiwari-abhishek! Thanks for your feedback on docs.
We have planned improvements across all our documentation, including screenshots and especially in the data connectors articles.
We appreciate you bringing this specific article to our attention.

I'm closing this issue for now, but feel free to continue commenting as needed.
#please-close

[2021-06-27 04:57] #74976 closed

[2021-06-27 05:04] aut0pil0t opened #77520 "Missing registry key value for LocalAccountTokenFilterPolicy"
The registry key value we need to enter is missing in the below section. Please correct.

For Windows VMs, if you're not using a domain account, disable Remote User Access control on the local machine by adding the DWORD entry LocalAccountTokenFilterPolicy, with **a value of in the registry**, under HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Policies\System

---
#### Document Det

[2021-06-27 05:06] batamig commented on #35061
Hi,
Thanks all for your input and feedback on docs. We're currently moving all open and older github issues into our backlog so that we can handle them properly as needed.

I'm closing this issue for now, but feel free to continue commenting if you have more to contribute.
#please-close

[2021-06-27 05:06] #35061 closed

[2021-06-27 05:09] batamig commented on #39400
Thanks all for your input and feedback!
We're currently in the process of closing out our old github issues and moving them into our current backlog tool so that they can get handled as needed.

I'm closing this issue for now, but feel free to continue commenting if you have more to contribute.
#please

[2021-06-27 05:23] AmitavaHazra opened #77521 ""Allow" button is greyed out for approving new permission request"
Reference:
https://docs.microsoft.com/en-us/azure/active-directory/verifiable-credentials/issue-verify-verifiable-credentials-your-tenant

While configuring VC with Azure AD tenant I went through all steps but stuck in permission approval steps.
"Allow" button is not enabled and hence I could not complete this tuitorial.

Kindly advise what all I can verify.

---
#### Document Details

⚠ *Do not e

[2021-06-27 06:00] yoelhor commented on #77435
Thanks @GuyPaddock. We appreciate you pointing this out.  I'm updating the article with new screenshots. A new version will publish later today or tomorrow, and this GitHub issue will be closed automatically (before the doc is published).

[2021-06-27 06:26] yoelhor commented on #77275
Dear @jitendraRai,

The issue with the public storage is relevant only to MS tenants. The general recommendation is to use the public access for the Azure AD B2C HTML templates. I'll replay directly to the https://stackoverflow.microsoft.com/questions/263483 and close this one.

#please-close

Yoel

[2021-06-27 06:26] #77275 closed

[2021-06-27 06:55] #77332 closed

[2021-06-27 07:12] yoelhor commented on #77197
Hey @code-Miracle49,

In the REST API technical profile metadata you specify the name of the claim that holds the bearer token. For example:

[code]

So, in the very same technical profile, you should add the claim with the **same name** (in this example `bearerToken`) to the input claims collection.

If you still get this error, check if the bearerToken contains a value, or it's empty. It could h

[2021-06-27 07:27] yoelhor commented on #77231
Dear @R0st0s, thanks for the feedback. I'm updating the article with the relevant information. A new version will publish later today or tomorrow, and this GitHub issue will be closed automatically (before the doc is published). If you have any questions or need further information, please open new GitHub issue.

[2021-06-27 07:35] #77231 closed

[2021-06-27 08:03] rsrinivasanhome commented on #77036
Does this really work with .net core ?  I get no logs.

On Sat, 26 Jun, 2021, 11:00 PM AjayKumar-MSFT, ***@***.***>
wrote:

[2021-06-27 08:40] tom-juntunen commented on #34451
I am still having this issue (2021-06-27T08:15:24.235Z ERROR - Container kimono-api_0_836a98c5 didn't respond to HTTP pings on port: 80, failing site start. See container logs for debugging.) and have been trying for several days without any luck.

I am building a multi-container image using docker-compose and exposing the PORT of my uvicorn webserver in the following locations:

Azure Portal - Ap

[2021-06-27 08:55] yoelhor commented on #77170
Dear @mrochon,

First thanks for taking time to share your valuable feedback. I thinks there is miss understanding how the preconditions work. This is the correct one:

Orchestration steps can be conditionally executed based on preconditions defined in the orchestration step. The `Preconditions` element contains a list of preconditions that must be satisfied for the orchestration step to execute.

[2021-06-27 09:08] tom-juntunen commented on #34451
I read that on unix-like environment, ports < 1024 (like 80) will require superuser privileges.
Thus I changed the port I want to expose to 8000 in both Azure Portal and my docker-compose and Dockerfiles to see if that fixed anything. I restarted the app and Azure Deployment Center Logs show "docker run -p 4475:8081" being called, so that tells me the configuration for the new port has taken effec

[2021-06-27 09:12] hanslai opened #77523 "Page is outdated for using implicit grant"
Since Authorization Code Flow with PKCE is the recommended best practice, this page's example should use the Code flow with PKCE and .Net 5.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d60e8edb-2347-c809-8d6e-3a09b65b6762
* Version Independent ID: 1110826c-8c31-19b2-c9da-c9dba4777a05
* Content: [Tutorial - Sign in u

[2021-06-27 09:24] tomgron opened #77524 "Potentially outdated info"
Is this quite outdated page - couldn't find the extension/tool from VS 2019 anymore? Should the Azure Functions tooling be installed some other way?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 369aefa6-74da-3001-f835-15abdfffd5d6
* Version Independent ID: 2cc2a2db-d059-3252-7a1a-4261b7d3c37c
* Content: [Develop Azur

[2021-06-27 09:24] #77524 closed

[2021-06-27 09:36] #77435 closed

[2021-06-27 09:44] JayaChatterjee-MSFT commented on #77176
Hello @yuu045-ran, I have checked with the core team. Apparently , there shouldn't be any difference between the SKUs. I happened to find this too: [Check this](https://stackoverflow.com/questions/47068709/your-cpu-supports-instructions-that-this-tensorflow-binary-was-not-compiled-to-u). As per this , the default is built for maximum compatibility. However, we will still try to replicate and if we