[2022-04-22 15:46] SumanthMarigowda commented on #91880
@dcbrown16
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-04-22 15:59] DerekHerman-MSFT commented on #91804
Since we havent heard back from you we will now close this thread. Please let us know if you have further feedback.

[2022-04-22 15:59] #91804 closed

[2022-04-22 16:04] sabaripkumar commented on #91630
@AnuragSharma-MSFT , Thanks for making the note error-free. I am also in agreement with the solution proposed for the endpoint/hostname confusion as long as a single terminology is used. I am fine with you changing the environment variable to “endpoint”. Thanks.

[2022-04-22 16:13] JamesTran-MSFT commented on #91784
@FernandoGualano
Thank you for following up on this!

The recommendation is 3 so I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2022-04-22 16:19] GeethaThatipatri-MSFT commented on #91715
Hi @RicardoNiepel Can you please point out Microsoft.Azure.Cosmos.Table from the document

[2022-04-22 16:20] roygara commented on #91766
@Yaz-X Would you elaborate? I went ahead and confirmed myself, the way the article describes both managed and unmanaged disks attach status is still accurate.

[2022-04-22 16:26] mike-urnun-msft commented on #91896
Thank you for your feedback! We will review and update as appropriate.

[2022-04-22 16:28] J227668 opened #91914 "Azure Gov"
Please confirm if the setup is the same for Azure Gov customers, specifically, the destination urls for "Sensor access to Azure portal"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a52ecb3a-e8d9-d76e-968a-2ef492cd4946
* Version Independent ID: a92c8824-7a7e-9510-8376-1de5601c02f7
* Content: [Prepare your OT network f

[2022-04-22 16:32] spelluru commented on #90909
@EldertGrootenboer - please review and comment when you get a chance. Thanks

[2022-04-22 16:45] ahartoon commented on #90054
@CHEEKATLAPRADEEP-MSFT the user asked if 'operation' is required, the documentation does state that it is.  'Operation' is part of the delta query.  It also states that the query must add 'Watermark' and delta queries without 'watermark' may result in incorrect reference data.  I am still reviewing the doc to look for other improvements [PR#91614].  We can close this.

[2022-04-22 16:56] DerekHerman-MSFT commented on #91905
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-04-22 16:59] DerekHerman-MSFT commented on #91898
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-04-22 17:07] suzizuber commented on #91905
#assign: @rvandenbedem
Asking PM Rene van den Bedem to look into this. He or a member of his team will need to make the update as I don't have access to the original diagram.

[2022-04-22 17:17] ken-tg opened #91915 "Missing Service Plans"
[Enter feedback here]
Office 365 E1, (SKU 18181a46-0d4e-45cd-891e-60aabd171b4e) seems to be missing below services;
Common Data Service
Common Data Service for Teams
Insights by MyAnalytics
Microsoft Bookings
Microsoft Kaizala Pro
Power Virtual Agents for Office 365
Project for Office (Plan E1)
Viva Learning Seeded
Whiteboard (Plan 1)

---
#### Document Details

⚠ *Do not edit this section. It is

[2022-04-22 17:17] Karishma-Tiwari-MSFT commented on #91910
Thanks for sharing the update.
If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2022-04-22 17:21] SadiqhAhmed-MSFT commented on #91673
@brucelangston We haven't heard back from you, so we will now close this issue. If this remains an issue, please reply and we will gladly continue the discussion.

[2022-04-22 17:21] #91673 closed

[2022-04-22 17:26] roalexan opened #91916 "existing file share apparently is not needed when creating new synapse workspace"
the doc lists the "necessary environment variables to create resources for Azure Synapse workspace." and includes the following:

FileShareName	Name of your **existing** storage file system.

however, apparently it doesn't need to be existing. I pass in a value for the param for a file share that doesn't exist in my newly created storage account, and it goes through just fine. Perhaps the doc shou

[2022-04-22 17:30] roalexan opened #91919 "azure cli doesn't support passing in name of synapse workspace managed resource group (unlike the cli)"
When I create a Synapse workspace from the UI I can provide it the name I want to use for the managed resource group; however, there is no such parameter that I see in the az cli. https://docs.microsoft.com/en-us/azure/synapse-analytics/quickstart-create-workspace-cli. Is this by design? I would like to be able to specify this from the cli as well.

---
#### Document Details

⚠ *Do not edit this s

[2022-04-22 17:57] ChaitanyaNaykodi-MSFT commented on #91907
Thank you for your feedback! We will review and update as appropriate.

[2022-04-22 18:00] JamesTran-MSFT commented on #91915
@ken-tg
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-04-22 18:08] rvandenbedem commented on #91905
@suzizuber - I will look into it, I do not know who has the original diagram, but I am making enquiries within the team.

[2022-04-22 18:12] rschurchill opened #91921 "Correction for use of CMKs only with public key vaults"
In the section "Configure your Azure Key Vault instance", the blue box marked important states that to use a CMK stored in a key vault, the vault must have public access enabled.

This appears to be incorrect.  Without error I can configure cosmos to use CMK stored in a private vault.

Could the text be updated to reflect current functionality?

---
#### Document Details

⚠ *Do not edit this secti

[2022-04-22 18:13] roygara commented on #89996
@nExoRek Thanks for reaching out, the article hints at this implicitly but you can't change the state of a disk using a snapshot. You must create a new disk with that snapshot and then either attach it as a data disk to an existing VM or create a VM with it as the OS disk. I'll update the next steps to make this more explicit.

#please-close

[2022-04-22 18:13] #89996 closed

[2022-04-22 18:16] roygara commented on #88382
@awkto Thanks for reaching out. This is currently covered somewhat implicitly in the article, I'll update it to make it more explicit.

You must create a new disk using the snapshot. Then either deploy a new VM using the new disk as the OS disk, or attach the disk as a data disk to an existing VM to get the data.

#please-close

[2022-04-22 18:16] #88382 closed

[2022-04-22 18:24] ThomasWeiss commented on #91921
@rschurchill Thanks for your inquiry. Can you clarify what you mean by "private vault" to make sure we understand the exact configuration you used?

[2022-04-22 18:25] roygara commented on #89891
Thanks for reaching out, we've corrected and aligned the documentation. The key vault may be used from a separate subscription as long as it is in the same region and tenant. :)

#please-close

[2022-04-22 18:25] #89891 closed

[2022-04-22 18:26] RyanHill-MSFT commented on #91884
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-04-22 18:36] gmndrg commented on #91731
Customer inquiries were answered accordingly. In case there are any other doubts related, please reopen this thread.
#please-close

[2022-04-22 18:36] #91731 closed

[2022-04-22 18:38] jonathanbrenes commented on #91844
Excellent. Thank you so much
regards

Jonathan Brenes
Microsoft Azure Linux Escalations Support
Support Escalation Engineer
Working Hours:
Working Days:
Email:
International:

9:00-18:00 CST(GMT-6)
Monday-Friday
***@***.******@***.***>
+(506) 41143662

If you have any questions about a case, please contact ***@***.******@***.***> and ***@***.******@***.***>
Service Dashboard<https://nam06.safelink

[2022-04-22 18:38] roygara commented on #86222
Hello @keremkambur , thanks for reaching out. That section does exist, it was just renamed to optimize application performance instead of optimizing. https://docs.microsoft.com/en-us/azure/virtual-machines/premium-storage-performance#optimize-application-performance

I'll go ahead and clean up the article to adjust the naming, those changes will be live later today.

#please-close

[2022-04-22 18:38] #86222 closed

[2022-04-22 18:40] GeethaThatipatri-MSFT commented on #91891
I'm assigning this to the author for the feedback review.

[2022-04-22 18:50] mbender-ms commented on #91527
#Please-close

[2022-04-22 18:50] #91527 closed

[2022-04-22 19:06] roygara commented on #84285
Hello @YuichiTorigoe , this description has since been updated after some internal discussion. Accordingly, we'll close this out.

#please-close

[2022-04-22 19:06] #84285 closed

[2022-04-22 19:07] jfggdl commented on #91710
@MhAllan, thank you very much for your feedback. I will update the documentation according to your concerns. However, I want to make sure that I address your questions.

Regarding (A), the fact that your application is prepared to handle and return the validation code indicates that you were expecting to receive that event and hence you are the one who created the event subscription that sends eve

[2022-04-22 19:13] w-azure commented on #90866
Thank you for your feedback @dvescovi1. What kind of issues are you having in the tutorial? That would help us narrow down where the tutorial could be modified or expanded. Thanks.

[2022-04-22 19:26] #90067 closed

[2022-04-22 19:30] enkrumah commented on #90054
#please-close

[2022-04-22 19:30] #90054 closed

[2022-04-22 19:32] jchalfant commented on #91631
Hello,

Please pardon the delay.

I was following the instructions here
<https://docs.microsoft.com/en-us/azure/app-service/tutorial-python-postgresql-app?tabs=django%2Cwindows%2Cazure-portal%2Cterminal-bash%2Cazure-portal-access%2Cvscode-aztools-deploy%2Cdeploy-instructions-azportal%2Cdeploy-instructions--zip-azcli%2Cdeploy-instructions-curl-bash>
and those instructions do contain a hyperlink to

[2022-04-22 19:54] debaxtermsft opened #91924 "Update with Azure AD Graph Commands and Link"
Promotion needs to be updated to state:
Azure AD Graph not Microsoft Graph

Give the link to Azure AD Graph
https://graphexplorer.azurewebsites.net/

and commands are different
GET https://graph.windows.net/<tenantid>/domains/child.maindomain.com?api-version=1.6

POST https://graph.windows.net/<tenantid>/domains/child.maindomain.com/promote?api-version=1.6
Run again to confirm promotion:
GET https

[2022-04-22 19:59] Karishma-Tiwari-MSFT commented on #91901
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-04-22 20:02] msshinaida opened #91925 "Protection failed because GRUB device doesn't exist (error code 151124) Fix the problem"
"Protection failed because GRUB device doesn't exist (error code 151124) Fix the problem" area should be updated.

After editing grub configuration files, below subsequent command is necessary.
[If grub is default grub]
update-grub
[If grub is grub2]
grub2-mkconfig

It should be mentioned in the Fix the problem area.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2022-04-22 20:14] #91898 closed

[2022-04-22 20:14] roygara commented on #81960
#please-close

[2022-04-22 20:14] #81960 closed

[2022-04-22 20:19] meenasaravanan02 commented on #77823
Hi @salils123 , We have corrected the url.
The issue is resolved in a PR. Here is the PR link - https://github.com/MicrosoftDocs/azure-docs-pr/pull/195886
#Please-close this issue

[2022-04-22 20:19] #77823 closed

[2022-04-22 20:23] roygara commented on #85683
@bprime Thanks for bringing this to our attention, we appreciate it! I've confirmed with the product team, neither premium SSDs nor standard SSDs support disk caching while they're being shared. I'm updating the article accordingly, the changes should be live later today.

Accordingly, I'm closing this out. :)

#please-close

[2022-04-22 20:23] #85683 closed

[2022-04-22 20:50] roygara commented on #68769
Sorry for the delayed response. The article now contains conclusions for each of its examples. Accordingly, I'm closing this out.

#please-close

[2022-04-22 20:50] #68769 closed

[2022-04-22 20:54] MarileeTurscak-MSFT commented on #91906
Hi @skrabbe001,

Thanks for the feedback. I think saying "domain name" could get confusing because a lot of times the domain name also includes the suffix, and in this case it does not. I also think it's important to specify that it is the name for the particular tenant relevant to the customer.

I have looped in the author @kengaderdus though to pass along your feedback. Feel free to also make a

[2022-04-22 20:54] #91906 closed

[2022-04-22 20:57] roygara commented on #65619
Thanks for reaching out, incremental snapshots can be copied between resource groups. Accordingly, I'm closing this out.

#please-close

[2022-04-22 20:57] #65619 closed

[2022-04-22 21:10] duongau commented on #91820
Hello @GavinJin88, are you using a managed certificate? Also Would you be able to provide subscription details that I can share with the product team in regards to the test environment you have configured?

[2022-04-22 21:12] GeethaThatipatri-MSFT commented on #91690
@yxliu-ntu I checked with the internal team and It is not possible to recover it anymore as it has been garbage collected in the backend. you can also see in the site mentioned at the top of the page check [here](https://docs.microsoft.com/en-us/archive/blogs/machinelearning/now-available-on-azure-ml-criteos-1tb-click-prediction-dataset), we'll try to chase the docs to remove reference to the data

[2022-04-22 21:13] eric-urban commented on #91762
@schniewmatz - We don't support explicitly labeling or inserting noise in transcriptions. General guidance is to provide the transcript for what was said and that the audio should reflect the range of typical use cases as far as noise is concerned. If the noise is extreme over long periods you may not see any improvements, or maybe even degradation, but in general including noisy data should not b

[2022-04-22 21:13] pinyuko commented on #91849
Thank you @Karishma-Tiwari-MSFT for sharing the steps!
I tried to follow your steps, but I got "Merging is blocked. The base branch restricts merging to authorized users." at the final steps.
<img width="460" alt="image" src="https://user-images.githubusercontent.com/1679118/164794185-3a10102c-e118-46b3-a8ba-34a1a5e71442.png">

[2022-04-22 21:13] cherylmc commented on #91612
#reassign:tanuballa

[2022-04-22 21:13] #91762 closed

[2022-04-22 21:24] roygara commented on #91154
Hello, @as2005as. Thanks for bringing this to our attention. We checked with the product team. Standard HDDs don't support disk sharing. It may be a bug with the portal, we're working with the relevant teams.

@SaiKishor-MSFT

#please-close

[2022-04-22 21:24] #91154 closed

[2022-04-22 21:28] mmacy commented on #86413
@jelledruyts Hey Jelle, you wouldn't happen to have a test AD FS  integration available, would you? We need `plain text` versions of the `GET` and `POST` requests shown in this article. Clearer Postman screenshots would be good, too.

Since we're tracking internally, I'll close this out and we'll get it on the `good-first-issue` list for someone that has an AD FS setup.

#please-close

[2022-04-22 21:28] #86413 closed

[2022-04-22 21:30] mmacy commented on #86413
#label:"good-first-issue"

⚠️ PREREQUISITE: AD FS integration

[2022-04-22 21:33] FernandoGualano commented on #91784
@JamesTran-MSFT
Thanks for your prompt response!

[2022-04-22 21:43] psignoret opened #91931 "The "Register an app by using PowerShell" doesn't show how to do it with PowerShell"
Both Microsoft Graph PowerShell and Azure AD PowerShell can be used to create and configure app registrations. The details on how to do this are missing from this page, under the "Register an app by using PowerShell" section. The warning being shown currently is outdated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2022-04-22 21:50] JamesTran-MSFT commented on #91924
@debaxtermsft
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-04-22 21:54] jwilliams-bhsolutions commented on #91670
The pricing calculator doesn't provide this pricing anymore for consumption tier (it just says the first 4000 actions are free and doesn't allow input, saying the pricing isn't available in your region for all regions), nor does the https://azure.microsoft.com/en-us/pricing/details/logic-apps/ page (similarly it just lists 4000 free but no pricing for subsequent actions).  Neither of these places

[2022-04-22 21:58] cherylmc commented on #85989
I'll check. It's probably not necessary to keep this table in the doc any longer. Taking a doc bug on this. #please-close

[2022-04-22 21:58] #85989 closed

[2022-04-22 21:59] aneesh631 opened #91932 "Security issue with admin consent redirect_uri"
Success redirects for admin consent can be forged by any user as `state`, and `tenant` can be easily copied from a previous request. It can be used to send false confirmations. How do the consumers verify that that oauth flow did actually take place?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d32f55ac-acbc-292b-d1b

[2022-04-22 22:03] rschurchill commented on #91921
By private I mean where the key vault firewall has been used to restrict access to selected networks and IP addresses only.

My configuration is: -

**Networking -> Firewalls and Virtual networks**
- Allow access from selected networks only
- A subnet specified on the virtual networks list
- IP addresses specified on the IP address list

**Networking -> Private end point connections**
- A private

[2022-04-22 22:28] MarileeTurscak-MSFT commented on #91876
@mikewo-dc
Thanks for your feedback! We will investigate and update as appropriate.

[2022-04-22 22:56] GeethaThatipatri-MSFT commented on #91778
@L-u-k-e-GIT the diagram could be more clear. I think the darker/lighter paths are to emphasize which path is primary, which is secondary. And that failover can occur.The doc is pretty clear: "An application can access a geo-secondary replica to execute read-only queries using the same or different security principals used for accessing the primary database. For more information, see Use read-only

[2022-04-22 22:58] samadara-msft commented on #65619
@roygara , incremental snapshoot cannot be moved. Please update the documentation accordingly.

[2022-04-22 23:26] roygara commented on #65619
My mistake. Yes, incremental snapshots can't be moved. But they can be copied. I'll update the restrictions, thanks!

[2022-04-22 23:35] GiftA-MSFT commented on #91709
@jhirono please review above feedback for doc enhancement. Thanks.

[2022-04-22 23:36] Wibusts opened #91933 "Articles does not reflect new experience for Localization policy file"
[Enter feedback here]

When following the article this does not reflect or comment any operation related to updates on the new policy element for Localization (TrustFrameworkLocalization.xml).

![image](https://user-images.githubusercontent.com/62709550/164794716-1f93c9ae-7073-41b2-b9d3-d69fb7e282a4.png)

Besides sample provided has multiple errors related to element "StringId="

Samples URL:
http

[2022-04-22 23:38] dlepow commented on #91509
Opened PR in source repo and tracking there.
#please-close

[2022-04-22 23:38] #91509 closed

[2022-04-22 23:48] dlepow commented on #90178
@TheShawnEllis - Thanks for pointing this out. I am planning to update this article in an upcoming sprint and will address this issue at that time. Because we have a work item to complete this, we will now proceed to close this issue. If you have further information or want to continue the discussion, feel free to reopen it.
#please-close

[2022-04-22 23:48] #90178 closed

[2022-04-23 00:13] w-azure commented on #90866
We have now included additional information in the [Tutorial - Develop module for Linux devices using Azure IoT Edge](https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-develop-for-linux?view=iotedge-2020-11) to make the Visual Studio Code debugging guide more prominent. Therefore, I will close this issue. If your issue is still unresolved, feel free to open the issue once again. Thanks agai

[2022-04-23 00:14] w-azure commented on #90866
#please-close

[2022-04-23 00:14] #90866 closed

[2022-04-23 00:30] wjpigott opened #91934 "Sysprep GUI is deprecated, please update this form to remove the GUI and replace with CMD commands."
[Enter feedback here]
This page needs to be updated similar to the other Sysprep site where it is saying that Sysprep UI is deprecated.

This site should be updated to remove the GUI area of the form, and update it with this command
%WINDIR%\system32\sysprep\sysprep.exe /generalize /shutdown /oobe

This link below references that the GUI is deprecated.
https://docs.microsoft.com/en-us/windows-hard

[2022-04-23 01:06] YutongTie-MSFT commented on #91665
@ivorb Sorry, I just followed the guidance to create a brand new project, and it works well for me as below:
![image](https://user-images.githubusercontent.com/38084098/164845042-1fedcf1a-7073-4ea2-97e5-76f8f6f8622b.png)

Since there is no document issue, I will go ahead to close it. But for assisting you to solve the issue, could you please help me to verify if you select "yes" for if you want to

[2022-04-23 01:06] #91665 closed

[2022-04-23 01:07] yxliu-ntu commented on #91690
@GeethaThatipatri-MSFT  Thanks for helping!

[2022-04-23 01:07] #91690 closed

[2022-04-23 01:35] caroysMSFT opened #91935 "This tutorial does not work. The preview Tables view doesn't show up, no matter what."
This tutorial does not work.  The preview Tables view doesn't show up.

The resource provider cannot be re-registered either (that sometimes helps).

Please update the docs with the right steps, or pull it if this preview feature is no longer available.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4722599e-952c-f9f1-

[2022-04-23 02:03] SogoGolf opened #91936 "please add explanation of how partial updates are treated by the change feed"
hi, please add explanation of how partial updates are treated by the change feed.

eg. we only update 1 property. does the change feed just send the entire document ? or does it just send the doc id and updated field ? etc..

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: baaba7e8-d79c-ca90-e36c-4282dd048bb4
* Version I

[2022-04-23 02:56] caroysMSFT commented on #91935
I missed the onboarding link.  I will investigate it now:

https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbR82cGrAJ87tNoz63iRjsdE1UNU5DM1dKUEIxT01PRTVBMVBHR0tHQUhWWS4u

[2022-04-23 03:25] AnuragSingh-MSFT commented on #91888
@fushujie, thank you for the query. We will investigate it and get back to you.

[2022-04-23 03:28] AnuragSingh-MSFT commented on #91897
@se02035, Thank you for the feedback. We will investigate it and get back to you.

[2022-04-23 03:29] himanshusinha-msft commented on #91936
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2022-04-23 03:30] AnuragSingh-MSFT commented on #91903
@Briwalkr, thank you for the feedback. We will investigate it and get back to you.

[2022-04-23 03:31] himanshusinha-msft commented on #91935
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2022-04-23 03:32] AnuragSingh-MSFT commented on #91912
@japace, thank you for the feedback. We will investigate it and get back to you.

[2022-04-23 03:33] caroysMSFT commented on #91935
I have closed the issue.  Another page mentioned the preview signup.  I am tryi g that now.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: himanshusinha-msft ***@***.***>
Sent: Friday, April 22, 2022 10:31:53 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Cary Roys ***@***.***>; Author ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] This tutorial doe

[2022-04-23 03:33] himanshusinha-msft commented on #91934
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2022-04-23 03:34] himanshusinha-msft commented on #91933
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2022-04-23 03:35] AnuragSingh-MSFT commented on #91914
@J227668, thank you for this question. We will investigate it and get back to you.

[2022-04-23 03:36] himanshusinha-msft commented on #91932
Thanks for the ask  . At this time we are reviewing the ask and we will reply back as soon as we can .

[2022-04-23 03:37] himanshusinha-msft commented on #91925
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2022-04-23 03:38] himanshusinha-msft commented on #91919
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2022-04-23 03:39] christcottrell commented on #90647
Any update? See also https://serveanswer.com/questions/angular-with-aad-auth-code-flow-gives-error-argument-of-type-null-is-not-assignable-to-parameter-of-type-msalguardconfiguration because this is the exact same issue I have. Just kind of stuck still.

[2022-04-23 03:39] himanshusinha-msft commented on #91916
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2022-04-23 03:49] mike-urnun-msft commented on #91909
Thank you for your feedback! We will review and update as appropriate.

[2022-04-23 03:53] shashankkr opened #91937 "GraphQL support in preview"
hi,
Please let me know when this feature will be GA?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e56a0c4-ddb8-4979-9458-13545a5cc69f
* Version Independent ID: fbd73f31-124f-5d54-0497-f507d1461c7d
* Content: [Import a GraphQL API using the Azure portal](https://docs.microsoft.com/en-us/azure/api-management/graphql-a

[2022-04-23 04:11] ggailey777 commented on #83529
#reassign:ggailey777

[2022-04-23 04:11] PRMerger9 commented on #83529
GitHub user SamaraSoucy-MSFT has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2022-04-23 04:23] wjpigott commented on #91934
Thanks this is coming up from a Microsoft case where I have spent many hours on this, and fixing this should help many others. Thanks again.

Thank You,

Jeff Pigott

Sr. Cloud Solution Architect

Microsoft

***@***.******@***.***>

Office: +1 (224)404-7156<tel:+12244047156>

________________________________
From: himanshusinha-msft ***@***.***>
Sent: Friday, April 22, 2022 10:33:31 PM
To: Microso

[2022-04-23 05:41] arambazamba opened #91939 "Send to individual user"
In SignalR there is a way of sending a msg to an individual user:

Clients.User(userId).SendAsync("broadcasttouser", data);

I did not find something similar in Web PubSub. Can you please clarify on that?

If I want to implement a real time delivery status that is unique and private for each user / connection do I have to create a hub for each user?

---
#### Document Details

⚠ *Do not edit this

[2022-04-23 06:22] henrymbuguakiarie commented on #88081
#please-close

[2022-04-23 06:22] #88081 closed

[2022-04-23 07:28] fume commented on #51464
@sanindigital
sorry for the late reply, but the workaround here is to have preconditions on subsequent validation TPs to avoid them to run if one or more Assert Validation TP failed

[2022-04-23 08:12] tejinderrai commented on #91742
That would be great. In addition, I would be more than happy to expand out the sample I provided inline with the previous article data entity structure, as a community contribution.

If the author would like to reach out to me I can turn around the expanded sample very quickly.

Thank you

Tejinder

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: GeethaThatip

[2022-04-23 08:29] olavt opened #91940 "Confusing use of Ingress"
It's quite confusing that external ingress is defined for the service (nodeapp) as this is not used at all in the example. Normally one would not expose this internal endpoint to the Internet as it is only used by the phytonapp.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d31dffd-2408-63bf-6c64-3b177a6302f1
* Versi

[2022-04-23 08:32] Yaz-X commented on #91766
@roygara the article describes the way of deleting unattached disks by going to disks, and then a list of them will appear, from there you can delete them.

When i followed these steps, the unattached disks didnt appear for me in a list to delete them, i could only attach and deattach them, no delete option.

So i figured the way to delete these unattached disks is by going to resouce group and ch

[2022-04-23 10:55] cloudhal opened #91941 "Issue when turning this on - infinite MFA loop"
So in one tenant, we turned this feature on, using Default inbound access to trust MFA.

For other Azure AD tenants, this worked fine.

For non Azure AD tenants, i.e. normally Microsoft accounts with MFA enabled, the user went into a infinite MFA loop: requiring that the user add MFA methods (authenticator), then saying Success! you have configured MFA, then again prompting them to set up MFA (mor

[2022-04-23 10:57] sbania opened #91942 "Setup a Service Principal : Unnecessary Powershell Parameter on instruction causes error"
Step 3 of "[Setup a Service Principal]" uses a power-Shell parameter that will cause the following error:

"New-AzADServicePrincipal: Parameter set cannot be resolved using the specified named parameters. One or more parameters issued cannot be used together or an insufficient number of parameters were provided"

Seems like the -DisplayName parameter is causing it. If I remove it (and leave just t

[2022-04-23 14:02] AjayKumar-MSFT commented on #91939
@arambazamba,
Thanks for the feedback! Your feedback has been shared with the content owner for further review.

[2022-04-23 14:38] chrisweis opened #91944 "AWS steps inaccurate"
In step #4 of "Create a role and policy in AWS" it says "Another AWS account" but that option doesn't seem to exist in AWS.  Would be great if you could match this to the AWS UX so it's more clear.  Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c6afac0-11b1-82b0-09f9-3e4f5338e47d
* Version Independent ID: 833

[2022-04-23 14:45] stevensnicole opened #91945 "View deleted blobs documentation for the overview tab is incorrect."
This part of the page - https://docs.microsoft.com/en-us/azure/storage/blobs/soft-delete-blob-manage?tabs=dotnet#view-deleted-blobs

Has this text and a screenshot - "Under the Overview tab, notice that the blob's status is set to Deleted. The portal also displays the number of days until the blob is permanently deleted."

It may be a portal bug but I cannot see:

Status
Deleted Time
Days Until Pe

[2022-04-23 14:57] roalexan commented on #91916
BTW, it could very well be that this is not needed during creation time, but when you go to use it, if the "file share" is not there, things will bomb (e.g. there will be no storage created for the database table data, etc.). BTW, correct me if I'm wrong, but the term "file system", at least to me, is quite misleading - from what I see it is actually the name of a storage account container, wherea

[2022-04-23 15:10] himanshusinha-msft commented on #91937
Thanks for the ask  . At this time we are reviewing the ask and we will reply back as soon as we can .

[2022-04-23 15:12] himanshusinha-msft commented on #91940
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2022-04-23 15:13] himanshusinha-msft commented on #91942
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2022-04-23 15:14] himanshusinha-msft commented on #91944
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2022-04-23 15:16] himanshusinha-msft commented on #91945
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2022-04-23 15:19] knightian commented on #59437
I'm experiencing this also, noticed Azure AD Connect from my server is signing in with IPv6 not the VM IPv4 and so it was being blocked by Conditional access policy. I see the IPv6 is not constant so without knowing the IPv6 block how can we add to the exclusion?

[2022-04-23 15:20] himanshusinha-msft commented on #91941
Thanks for reaching out to us , but at this time it does not look like you are referring to a document but to a specific scenario . If that's the case we request you to please post your question on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/questions/ask.html) and other forums , we have our engineers and others who are monitoring them and will be happy to help .
If you have a documen

[2022-04-23 16:32] RRRajput opened #91946 "Data Flow - Conditional Split: Conflicting documentation regarding the `disjoint` keyword"
In the example of the `Data Flow Script` section, we see the following statement:

But then, the code snippet goes on to show `disjoint` set to true.

[code]

This causes confusion regarding the use of the `disjoint` keyword.

Personally, I guess that the code snippet is the correct interpretation since it means that after the split, the datastreams would be disjoint (in the sense that they won't

[2022-04-23 17:00] EMCP commented on #72513
guessing no updates here?

[2022-04-23 17:00] #72513 closed

[2022-04-23 17:38] markjbrown commented on #91306
Definitely a lack of python on that page. However, adding a single python example for just setting TTL on a property in a JSON document however would look a bit odd given there are no other Python examples on that page.

Probably the right approach would be to write python samples to cover the other scenario examples on this page. And if we're doing that, I also want to remove the deprecated SDK e

[2022-04-23 17:56] rafalfitt-mptv opened #91948 "the name of the AD computer account is AZUREADSSOACC, not AZUREADSSO"
In my AD forest the name of the AD computer account is AZUREADSSO**ACC**, not AZUREADSSO.

The same info is contained in this tweet https://twitter.com/ajf8729/status/1507861670391078914

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9eb97eff-d72e-ffa6-1365-5419e93ed82a
* Version Independent ID: 5c8b677b-f4cd-0bb5-c7d6

[2022-04-23 19:05] ggailey777 commented on #27955
Sorry for the delayed response. I believe that the section [App is behind a firewall](https://docs.microsoft.com/azure/azure-functions/functions-recover-storage-account#app-is-behind-a-firewall) now addresses this issue. If not, please open a new issue.  #please-close

[2022-04-23 19:05] #27955 closed

[2022-04-23 19:05] ggailey777 commented on #30410
Sorry for the delayed response. I believe that the section [App is behind a firewall](https://docs.microsoft.com/azure/azure-functions/functions-recover-storage-account#app-is-behind-a-firewall) now addresses this issue. If not, please open a new issue.  #please-close

[2022-04-23 19:05] #30410 closed

[2022-04-23 19:15] ggailey777 commented on #34013
Sorry for the delay here. I believe that this has now been clarified [here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-service-bus?tabs=in-process%2Cfunctionsv2%2Cextensionv3&pivots=programming-language-csharp#hostjson-settings). If I am mistaken, please reopen a new issue.

[2022-04-23 19:15] #34013 closed

[2022-04-23 20:39] davidsmatlak commented on #84091
#assign:davidsmatlak

[2022-04-23 20:39] davidsmatlak commented on #89329
#assign:davidsmatlak

[2022-04-23 20:46] davidsmatlak commented on #89329
This is a duplicate and closed in lieu of GitHub issue MicrosoftDocs/azure-docs#84091

[2022-04-23 20:47] davidsmatlak commented on #89329
#please-close

[2022-04-23 20:47] #89329 closed

[2022-04-23 20:49] davidsmatlak commented on #84091
I'll review the issue and update the screenshot. Closed duplicate issue 89329.

[2022-04-23 20:54] davidsmatlak commented on #69411
#assign:davidsmatlak

[2022-04-23 21:07] davidsmatlak commented on #84091
This is a duplicate issue. Closed in lieu of GitHub issue MicrosoftDocs/azure-docs#69411.

[2022-04-23 21:07] davidsmatlak commented on #84091
#please-close

[2022-04-23 21:07] #84091 closed

[2022-04-23 21:09] davidsmatlak commented on #69411
I'll review the article and update the screenshot. Closed duplicate GitHub issues MicrosoftDocs/azure-docs#84091 and MicrosoftDocs/azure-docs#89329.

[2022-04-23 21:12] davidsmatlak commented on #89329
Closed in lieu of GitHub issue MicrosoftDocs/azure-docs#69411.

[2022-04-23 23:41] kevmeister68 opened #91949 "KMSI option no longer in Branding and Properties page..."
This page refers to being able to control the presence of the KMSI option through the branding and properties page. This appears to be incorrect. It now appears a conditional access policy is required?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5327f19-af53-e0f2-6be5-cb435eb781e6
* Version Independent ID: d1eb0efb

[2022-04-23 23:49] billism1 commented on #91540
Same issue here.

[2022-04-24 02:19] fushujie commented on #91888
I see on the maven repository that the old event hubs dependency is still available for downloads of versions above 0.6.0, so are they compatible between 0.6.0 and 3.3.0? Thank you for your answer.

[2022-04-24 02:21] fushujie commented on #91888
@AnuragSingh-MSFT,Trouble you, I see on the maven repository that the old event hubs dependency is still available for downloads of versions above 0.6.0, so are they compatible between 0.6.0 and 3.3.0? Thank you for your answer.

[2022-04-24 02:29] shwetamathur7 commented on #91949
@kevmeister68 Thanks for your feedback. We will investigate and update the thread.

[2022-04-24 03:20] AnuragSingh-MSFT commented on #91946
@RRRajput, thank you for the feedback. We will investigate it and get back to you.

[2022-04-24 03:24] ram-msft commented on #91686
@owynrichen Thanks, please follow the Azure [Web App for Containers](https://azure.microsoft.com/services/app-service/containers/) is an Azure resource dedicated to running containers in the cloud.

[code]

https://docs.microsoft.com/en-us/azure/cognitive-services/language-service/text-analytics-for-health/how-to/use-containers?tabs=language#install-the-container-using-azure-web-app-for-containers

[2022-04-24 03:26] AnuragSingh-MSFT commented on #91948
@rafalfitt-mptv, Thanks for opening an issue in the Azure technical documentation repository. We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation. For product questions, you may post it in  [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html).

However, I have assigned this issue to investigate, and we will get back to you.

[2022-04-24 03:58] vicancy commented on #91939
You can use the server SDK and call sendToUser, for example, in JS: https://docs.microsoft.com/azure/azure-web-pubsub/reference-server-sdk-js#send-messages-to-all-connections-for-a-user

[2022-04-24 04:08] priyankark opened #91950 "Node.js support for Mic input in Speech To Text"
The official JS Speech SDK does-not seem to be supporting Mic input in Node.js.  But it's easy to get this working using a combination of external packages. We have an example that we can contribute that could benefit users in the future. Would it be worth adding to the docs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2022-04-24 04:18] kevmeister68 commented on #91949
I have made a mistake. I was looking at the Properties and Branding of an App Registration, not company Branding. Perhaps this can be clarified better. Apologies.

[2022-04-24 09:58] joecanman opened #91952 "Azure CLI version advise is incorrect."
Page indicates that Azure CLI 2.4 or above needed, but current version is 2.35
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 47cb39a6-cd9e-4f02-b31b-1e09d6a7fa3f
* Version Independent ID: eeb0f211-80b7-9006-72e1-b72b6a58fa8d
* Content: [Create a Java function from the command line - Azure Functio

[2022-04-24 10:42] #91939 closed

[2022-04-24 12:19] AnuragSharma-MSFT commented on #91630
@sabaripkumar Thanks for replying back. This is being assigned to the content author to update as appropriate.

[2022-04-24 12:22] KonTheCat opened #91954 "omission in checklist section "Security Roles & Access Controls""
The text at issue is "Use [Azure role-based access control (Azure RBAC)](https://docs.microsoft.com/en-us/azure/role-based-access-control/role-assignments-portal) to provide user-specific that used to assign permissions to users, groups, and applications at a certain scope."

It seems to me that there is something missing between "user-specific" and "that." It could be "access." And then you would

[2022-04-24 14:12] ElazarK commented on #91853
@artisticcheese thank you for pointing this out. As part of the rebranding effort from "Azure Security Center" to "Microsoft Defender for Cloud", it seems that some of the docs are ahead of the actual product. The dev team responsible for maintaining our policies is aware of the need to update these and has a backlog item to take care of this.

As of right now the policy is still named “Enable Azu

[2022-04-24 14:12] ElazarK commented on #91853
#please-close

[2022-04-24 14:12] #91853 closed

[2022-04-24 14:26] ggailey777 commented on #91952
Yes, 35 is bigger than 4, so the current  Azure CLI version works fine. #please-close.

[2022-04-24 14:26] #91952 closed

[2022-04-24 15:31] AnuragSingh-MSFT commented on #91950
@priyankark, thank you for the suggestion and help to improve the doc. Please share more details of the proposed sample. I have assigned it and we will review the proposed answer and get back to you with further update.

[2022-04-24 15:32] TarekNabeel opened #91955 "Azure Backup resource group for virtual machines creation failed"
Hello,

I have a policy that requires tags for created resources which causes the failure of the creation for "Azure Backup resource group for virtual machines" as there is no option to define my environment required tags , is it possible to overcome this issue ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7102948-

[2022-04-24 15:34] AnuragSingh-MSFT commented on #91954
@KonTheCat, thank you for bringing it to our attention. We will review it and get back to you.

[2022-04-24 16:06] himanshusinha-msft commented on #91955
Thanks for the ask  . At this time we are reviewing the ask and we will reply back as soon as we can .

[2022-04-24 18:16] demichalk opened #91957 "DLT create table option STREAMING is now INCREMENTAL"
the create table option is now named INCREMENTAL instead of STREAMING

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b77db43-479a-2f93-cfb7-c62daa0ee2ee
* Version Independent ID: 2b77db43-479a-2f93-cfb7-c62daa0ee2ee
* Content: [Delta Live Tables SQL language reference - Azure Databricks](https://docs.microsoft.com/en-

[2022-04-24 18:19] demichalk commented on #91957
this is a new change ignore please

[2022-04-24 18:19] #91957 closed

[2022-04-24 19:07] priyankark commented on #91950
`const MicToSpeech = require("mic-to-speech");
const sdk = require("microsoft-cognitiveservices-speech-sdk");
const fs = require("fs");
const wav = require("wav");

const speechConfig = sdk.SpeechConfig.fromSubscription(
  "19e841c832d24e4eae395a4d96de06ee",
  "eastus"
);
speechConfig.speechRecognitionLanguage = "en-US";

function recognizeFromMic(buffer) {
  console.log(buffer);
  let writer = ne

[2022-04-24 19:11] cynthn commented on #90550
@diegodct Thanks for the feedback. I'm trying to get more information from our engineering teams. It might take a bit to get a response. Sorry if there is a delay.

[2022-04-24 19:13] cynthn commented on #90383
@PriyankaRudramaina I think this needs to be reassigned to CSS, because that is where the directive comes from?

[2022-04-24 19:15] ffrankozz opened #91958 "Is the docker image location the Dockerhub by default?"
In the walkthrough you  have published on Azure Container Apps, you use docker images and do not tell where they come from? I suppose the default registry is Docker Hub  for Azure Container Apps.. Can you confirm this?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: afddc810-761b-10bf-38af-ca113b9a9237
* Version Independ

[2022-04-24 19:34] priyankark commented on #91950
[code]

[2022-04-24 19:59] mogorant opened #91959 "Link to the script is missing"
Under the Additional debugging steps, "Run the script with username and password" link to the script is missing please update.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce9f3a9a-4b44-050d-a16b-e64fe3e6ebb6
* Version Independent ID: cd5893b9-1ba0-33aa-a690-90c255575ff4
* Content: [Cluster creation fails with Domain

[2022-04-24 20:18] si-chan opened #91960 "Licensing for Business Critical for customers with Standard Edition + SA licenses"
https://docs.microsoft.com/en-us/azure/azure-sql/managed-instance/frequently-asked-questions-faq#what-service-tier-am-i-eligible-for

Contradicts the linked page which states that Standard Edition + SA customers may use AHB at a rate of 4 Standard Cores = 1 Business Critical core.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2022-04-24 20:45] scaramushe commented on #91314
Sure, copying from direct communication with the author:

The ntttcp is the tool used to test throughput, i haven't used it for a couple of weeks and this week it stopped working.

After disabling firewall altogether, the tests started passing again.

Enabling firewall, running the "Allow ntttcp" command again - the incoming packets are dropped again (verified in the OS TCP logs)

Disable firewall

[2022-04-24 20:57] GeethaThatipatri-MSFT commented on #91960
Hi, @si-chan Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-04-24 22:05] goitf opened #91961 "คอนเทนเนอร์-รีจิสเตอร์"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce2b8b02-584a-d113-0ed4-d2c4821ba774
* Version Independent ID: c3743237-6fcc-d649-2585-02522ec3132f
* Content: [Registry roles and permissions - Azure Container Registry](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-rol

[2022-04-24 23:03] SB-o-matic opened #91962 "Very informative but hard to read article"
[Enter feedback here]

Article needs serious grammar checking.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e30dfd76-2a83-bd21-2153-85e32894014e
* Version Independent ID: 9dca62e8-0aef-10eb-b2d3-2ab12087f90a
* Content: [Integrate with Application Gateway - Azure App Service Environment](https://docs.microsoft.com/en-u

[2022-04-25 00:29] ram-msft commented on #91757
Thanks, @PatrickFarley Could you please review and update the document for cross validation.

[2022-04-25 00:48] ram-msft commented on #91832
@jhirono Could you please review and update the document for 8787 and 18881 port permission.

[2022-04-25 01:21] satonaoki opened #91963 "Azure Web PubSub is not in Azure products list"
Azure Web PubSub (https://docs.microsoft.com/en-us/azure/azure-web-pubsub/) is not found in Azure documentation page (https://docs.microsoft.com/en-us/azure/?product=all) where all Azure services are listed.

Azure Web PubSub should be in "Web" category (https://docs.microsoft.com/en-us/azure/?product=web).

Could you update https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/index.yml

[2022-04-25 01:51] AnnuKumari-MSFT commented on #91716
Hi @linda33wj ,
Requesting to validate customer feedback and update the document accordingly as appropriate. Thankyou

[2022-04-25 02:14] v-sashig opened #91964 "MCA customers can switch back to CC from invoice."
If you switch to pay by check or wire transfer, you can't switch back to paying by credit or debit card.

----
Regarding the description above in the "Important" section, we have tested, and verified it is possible to go back to CC from Invoice pay for MCA subscription. Thus, we wonder you should better mention the above description only applies to Legacy (MOSP) subscriptions to be more accurate?

[2022-04-25 02:21] MonikaReddy-MSFT commented on #91681
@InformTechPro - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-04-25 02:21] #91681 closed

[2022-04-25 02:23] MonikaReddy-MSFT commented on #91809
@SunnyDeng  - Thanks for sharing the doc link and bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2022-04-25 02:24] MonikaReddy-MSFT commented on #91812
@Sharmistha-Rai - Thank you for providing your insights.
@mundayn - I hope @Sharmistha-Rai has answered your question.
At this moment, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-04-25 02:24] #91812 closed

[2022-04-25 02:32] MonikaReddy-MSFT commented on #91925
@msshinaida -  Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-04-25 02:32] #91925 closed

[2022-04-25 02:46] shwetamathur7 commented on #91949
@kevmeister68 No issues. It is mentioned in step 2 of [Configure KMSI](https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/keep-me-signed-in#configure-kmsi) to select company branding from Azure Active Directory.

Closing the issue as query has been resolved.

[2022-04-25 02:46] #91949 closed

[2022-04-25 04:02] VikasPullagura-MSFT commented on #91961
@goitf Since this channel is for driving improvements towards MS Docs, could you provide the feedback specific to this documentation you intended to. That way, we are able to make sure your feedback is addressed by the right team.

Requesting you to please share your feedback in English language.

[2022-04-25 04:09] CHEEKATLAPRADEEP-MSFT commented on #91959
@mogorant  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-04-25 04:19] MayankBargali-MSFT commented on #87990
As per internal discussion:
For v2 and above this defaults to blobs so adding Slots should just add new keys for the new Slot and not reset any existing ones.

[2022-04-25 04:19] #87990 closed

[2022-04-25 04:34] v-hgampala commented on #88579
#please-close

[2022-04-25 04:34] #88579 closed

[2022-04-25 04:40] SreejaBhattacharya-MSFT commented on #91818
@zhengdawu-db any update?

[2022-04-25 04:52] MughundhanRaveendran-MSFT commented on #91793
#reassign:ggailey777

[2022-04-25 05:00] Grace-MacJones-MSFT commented on #91962
Hi @SB-o-matic , thanks for your feedback! Can you please be specific about which section of the doc that needs to updated ?

[2022-04-25 05:17] Grace-MacJones-MSFT opened #91967 "phrase search highlighting does not work for basic pricing tier"
Hi, Can we add a note that says phrase search highlighting does not work in basic pricing tier in the "_Requirements for hit highlighting_" session? We had a [customer](https://docs.microsoft.com/en-us/answers/questions/819617/index.html) report having an issue using Phrase search highlighting in basic tier.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2022-04-25 05:40] v-amallick commented on #89892
@GrzegorzHejman - Thank you for the confirmation. As the issue is resolved, we are proceeding to close this thread.

#please-close

[2022-04-25 05:41] #89892 closed

[2022-04-25 05:45] SadiqhAhmed-MSFT commented on #91964
@v-sashig Thank you for bringing it to our notice. We will verify that with the content owner and get the doc updated as required.

[2022-04-25 05:54] CHEEKATLAPRADEEP-MSFT commented on #91919
@roalexan As per the CLI [documentation](https://docs.microsoft.com/en-us/cli/azure/synapse/workspace?view=azure-cli-latest#az-synapse-workspace-create), looks like there is no parameter named managed resource group in Azure CLI.

![image](https://user-images.githubusercontent.com/79183421/165028484-d9d380c8-e75a-42bd-898c-8bbff620bbf4.png)

You may leave the feedback at the bottom of the Azure CL

[2022-04-25 06:02] take-4c commented on #87990
@MayankBargali-MSFT -san,

Thank you for the response!
I also have known it, but in a case set to files, I believe that it’s better to state that not only swapping a slot but also enabling azure functions slots resets keys.

[2022-04-25 06:14] #91874 closed

[2022-04-25 06:15] Venkateshdodda-MSFT commented on #91874
@abatishchev, Thanks for reporting this item! I have updated the doc and it will be published soon. We appreciate the feedback!

[2022-04-25 06:31] YutongTie-MSFT commented on #91850
@sdgilley Hello Sheri, could you please help to check if there any update for the support of Modin, I see the last update of the document is 11/04/2021, could you please check if there any recent update cause the confilct or any change according to the supportibility, Thanks a lot.

[2022-04-25 06:42] CHEEKATLAPRADEEP-MSFT commented on #91835
@darren-abbott Thanks for pointing out the issue, I've addressed this issue in PR:[https://github.com/MicrosoftDocs/azure-docs/pull/91969]( https://github.com/MicrosoftDocs/azure-docs/pull/91969)
The changes should be live soon. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contributions.

[2022-04-25 06:44] racchen opened #91970 "network configurations when using clone to build a new staging slot"
This [document ](https://docs.microsoft.com/en-us/azure/app-service/deploy-staging-slots) said we can cloned settings below:

_You can clone a configuration from any existing slot. Settings that can be cloned include app settings, connection strings, language framework versions, web sockets, HTTP version, and platform bitness._

I would like to confirm is clone setting include network configuratio

[2022-04-25 06:58] szhaomsft commented on #39163
right, we use 16bit per sample.  what is your specific question?

[2022-04-25 07:24] GavinJin88 commented on #91820
hi, it's internal error for custom domain configuration, which has nothing to do with certificate.
please refer to my resource /subscriptions/cbea32b3-4d5d-482a-8b86-848e76b6a521/resourceGroups/AFD/providers/Microsoft.Cdn/profiles/afd

custom domain: www.gavinjin.org
1.managed to add custom domain on 2022/4/12 6:00 am UTC
![image](https://user-images.githubusercontent.com/95666229/165039957-98799f

[2022-04-25 07:24] GavinJin88 commented on #91820
![image](https://user-images.githubusercontent.com/95666229/165040204-2f9d8ba9-cd2d-44ae-bb1c-a88da6bbbd6f.png)

[2022-04-25 07:27] jgarplind commented on #44051
I was initially thinking the same, but then I realized that I was confused by the additional step in the Directory page where you need to manually include the delegated access in the filter. Once that was done everything worked as expected.

[2022-04-25 07:29] Givary commented on #91274
@DeanGross Thank you for patience, suggested the changes and it is pending for review. once the change is approved, links to the least privilege role would be updated in the article.

[2022-04-25 07:29] #91274 closed

[2022-04-25 07:29] kengaderdus commented on #91908
@skrabbe001
Thank you for your feedback and patience. We're collecting all the information required to address the issue.

[2022-04-25 07:46] antti-saarela opened #91971 "Typo in validated version of RedHat"
Current documentation shows validated RedHat OpenShift version to be 7.13. This is hardly correct. It might try to refer to 4.7.13, for example.

<html>
<body>
<h3 id="red-hat" class="heading-anchor" style="box-sizing: inherit; outline-color: inherit; margin: 30px 0px 18px -1.875rem; padding: 0px 0px 0px 1.875rem; font-size: clamp(1.3125rem, 15.4737px + 1.15132vw, 1.75rem); font-weight: 600; line-

[2022-04-25 07:46] GitaraniSharma-MSFT commented on #91761
@AHopeGao , apologies for the delay in response. I'm still awaiting an update from the backend team. Will keep you posted.

[2022-04-25 07:49] GitaraniSharma-MSFT commented on #91767
@bubbletroubles , We have assigned this to the content owner/author for removing the preview note and review the limitations for new updates.

@mbender-ms , for your review & update.

[2022-04-25 07:51] kengaderdus commented on #91904
@skrabbe001
Thank you for your feedback and patience. We're collecting all the information required to update our sample.

[2022-04-25 07:56] AjayKumar-MSFT commented on #91957
demichalk,  Thanks for leveraging Azure docs feedback channel to raise this question. Much appreciate the follow-up and update.

[2022-04-25 07:56] vanessabruwer opened #91972 "Permissions required for allowing Playbook permissions not clear"
In this article, there is no reference to the permissions required to grant playbook permissions for automation rules. It is also not detailed in the Sentinel RBAC article (https://docs.microsoft.com/en-us/azure/sentinel/roles).
Instead, it is a comment on this article : https://docs.microsoft.com/en-us/azure/sentinel/tutorial-respond-threats-playbook?tabs=LAC#respond-to-incidents

It means it is

[2022-04-25 07:58] AjayKumar-MSFT commented on #91958
@ffrankozz,  Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2022-04-25 08:43] WailAbou commented on #91967
Hello, I am the person that found the mistake. To correct you, it works on the basic tier, the problem is it does not work on the free tier (which is nowhere mentioned). I think a lot of problem will experience this problem as they use the free tier for development.

[2022-04-25 08:51] 1lomeno3 commented on #78420
Hello, any update please?

[2022-04-25 09:02] myCD-SergioMP commented on #78420
In our case was due the python version (python-azure-mgmt-compute or python3-azure-mgmt-compute). Once updated everything was fine
![image](https://user-images.githubusercontent.com/90199133/165056474-9aa93817-8bfa-4ac3-9151-92e3dc982757.png)

[2022-04-25 09:03] #91761 closed

[2022-04-25 09:03] GitaraniSharma-MSFT commented on #91761
@AHopeGao , apologies for the delay in response. I just received an update from the Azure Front Door Product Group team that "Socket Address" match condition is not available for Azure Front Door Classic and is only available for AFD Standard/Premium. I have updated the doc accordingly. It will reflect soon.

[2022-04-25 09:05] BennyHoang opened #91973 "Example missing import of rxjs methods"
[Example missing import of rxjs methods for filter, Subject, takeUntil. Theese are used in the broadcast service MSAL subject. Had to add this to make it work: `import { filter, Subject, takeUntil } from 'rxjs';`]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83fd7dcc-68e2-b9a4-cda7-b03a21449579
* Version Independent

[2022-04-25 09:11] #91702 closed

[2022-04-25 09:16] amanmcse commented on #91826
@jlee-vi You can create a custom role that can be scoped to an Azure AD group. Please refer to below screenshot:

![image](https://user-images.githubusercontent.com/33834131/165059199-fec1ab42-a158-4404-a19e-3d08134505a5.png)

[2022-04-25 09:48] JosefPihrt opened #91975 "Delivery property "PartitionKey" can be only static?"
Hi,

1) I would like to use custom delivery property "PartitionKey" to be able to properly route my events from Event Grid to Event Hub. But I'm not sure if it's correct that the Header Type should be only "Static". Shouldn't it be possible to specify dynamic value to be able to load partition key from event data (using JsonPath).

2) There is a typo "ParitionKey" on a page.

---
#### Document Det

[2022-04-25 10:03] MayankBargali-MSFT commented on #91975
@JosefPihrt Thank you for your feedback! We will review and update as appropriate.

[2022-04-25 10:15] jstiefel commented on #73521
I currently don't have the project to test it. Feel free to close.

[2022-04-25 10:26] shashishailaj commented on #89767
Spanish version query . Linking MicrosoftDocs/azure-docs/issues/91933
cc: @kengaderdus

[2022-04-25 10:27] shashishailaj commented on #91933
@kengaderdus Could you please suggest how to get the Spanish localization fixed similar to #89767

[2022-04-25 10:37] olavt opened #91977 "Min value for minReplicas should be 0"
The min value for minReplicas is documented as 1. I believe that this is incorrect and should be zero. The default is also zero. It doesn't make sense to have an invalid default value.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58fa8bbe-e0eb-4944-bc60-617aec0c0dde
* Version Independent ID: eae53948-3193-a451-5963-3e

[2022-04-25 10:59] MayankBargali-MSFT commented on #91975
@JosefPihrt Unfortunately as of now you cannot specify the `PartitionKey` as the dynamic value for the Delivery Properties of your event grid subscription. As of now it only supports the `Static `value type.

If you try to specify the **dynamic value**, then you will get the error while saving it.

![image](https://user-images.githubusercontent.com/67255909/165075865-7df7a18b-10a7-44c4-a717-6317fc

[2022-04-25 11:05] AnuragSingh-MSFT commented on #91944
@chrisweis, than you for bringing it to our attention. I'm assigning it to the content team for further review and action.

@bandersmsft, can you please review it and share your thoughts? Thank you.

[2022-04-25 11:25] GitaraniSharma-MSFT commented on #91822
@zaalion , there is no other service tag available for API operation in APIM. You should use the "ApiManagement" service tag for whitelisting any API traffic.

We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2022-04-25 11:25] #91822 closed

[2022-04-25 11:35] maheshsabnis commented on #29976
Hello,

  I am trying to deploy the ASP.NET Core 6 app on IIS, I am using Windows 11. I have made changes in launchsettings.son as follows:

{
  "iisSettings": {
    "windowsAuthentication": false,
    "anonymousAuthentication": true,
    "iisExpress": {
      "applicationUrl": "http://localhost:42060",
      "sslPort": 44362
    }
  },
  "profiles": {
    "IIS Express": {
      "commandName": "II

[2022-04-25 11:35] GavinJin88 opened #91979 "elaborate further regarding"Effective security rules and effective routes will not include these platform rules.""
[Enter feedback here]
Would you please elaborate further regarding"...Effective security rules and effective routes will not include these platform rules...".
It would be great that if someone could add a callout that "By default these platform rules are "allowed" and not subject to the configured network security groups unless any of platform "deny" rules are presented"

I would say https://docs.

[2022-04-25 11:44] Sachin1O1 commented on #91719
Thanks for the input @AnuragSingh-MSFT :)

[2022-04-25 11:44] #91719 closed

[2022-04-25 11:57] 1lomeno3 commented on #78420
Thanks, it helped!

[2022-04-25 11:59] cyrusvivek opened #91980 "neccesary(necessary {Typo})"
[Proxy Configuration: None. The agent will directly connect to the Internet.

Starting connectivity test for workspace id "XXXXXX".
This test may take several minutes to complete if a firewall is blocking access.

Making initial connection to 02b3d457-8db0-4e13-867c-5bbe9383fd13.oms.opinsights.azure.com.
This is to download the list of Azure resources neccesary(necessary {Typo})for communication w

[2022-04-25 12:01] 1lomeno3 opened #91981 "Add missing package python3-azure-identity to be installed"
Please add a section that it is required to install package python3-azure-identity, otherwise rsc_st_azure will not start, see the issue https://github.com/MicrosoftDocs/azure-docs/issues/78420

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a20453e6-5273-2119-69f7-85b5108a8f7d
* Version Independent ID: 4ac93e53-6969-4c

[2022-04-25 12:23] omgitsjocke commented on #89920
@lrtoyou1223 Hello! Any update on this?

[2022-04-25 12:27] sebader opened #91982 "Add note about "nightly" updates and time zone UTC"
The article says

It should be pointed out that this means always UTC time zone. So for a cluster running in Asia etc. this is very much not during the night.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eadf3bc9-bea3-b51f-1477-8f76ccfce7da
* Version Independent ID: 12d0be59-8947-e0a2-d73a-8834f2e5f8b2
* Content: [Ha

[2022-04-25 12:34] SreejaBhattacharya-MSFT commented on #91982
Hi @zr-msft , can we add the specific timezone (that is UTC) in the document?

[2022-04-25 12:38] bbrown519 opened #91983 "Include Dynamic NAT Limitation for External Mapping"
If the customer tries to configure Dynamic NAT and sets an external subnet size larger than /26, they receive the following error:

"Failed to save virtual network gateway 'TestNATgw'. Error: The NAT rule TestNATgw/test has an external mapping subnet that exceeds size limits. Maximum external mapping subnet size for Dynamic NAT is /26."

This limitation should be documented in this guide, so custo

[2022-04-25 12:51] skrabbe001 commented on #91908
I now tested if the project runs as expected and it does not. It may be related to the error reported here, who knows.

[code]

You can reproduce the error by following the guide, and running the example yourself - changine the file ms-identity-b2c-javascript-spa/App/api.js to show the error text in the attached image:

[code]

Here is the screendump of what happens when you click the button 'Call

[2022-04-25 12:59] KrishnaG-MSFT commented on #91980
@cyrusvivek Thanks for your comment! We will review and provide an update as appropriate.

[2022-04-25 13:02] KrishnaG-MSFT commented on #91639
This is taken care [here](https://github.com/MicrosoftDocs/azure-docs/commit/4968bb31f36c2d6d7bf9b026a613a9b1229fffa6). Thanks again!

[2022-04-25 13:02] #91639 closed

[2022-04-25 13:06] GitaraniSharma-MSFT commented on #91979
@GavinJin88 , thank you for your feedback. We have assigned this to the content owner/author for review.

@mbender-ms , for your review & update.

[2022-04-25 13:07] roalexan commented on #91919
agreed, and that's what I think we should consider adding - a new parameter e.g. managed-resource-group. So, this is not really a bug/issue, but a product feature request. Not sure best way to file this.

[2022-04-25 13:11] skrabbe001 commented on #91908
When can we expect the source and guide to be up to date AND working?

[2022-04-25 13:15] tmb9206 opened #91985 "administrator missing"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf1a1d2f-6f7f-e7e3-2c3e-e658e7179877
* Version Independent ID: 77f0313f-4513-2434-3ac6-dea428f57f40
* Content: [Roles you cannot manage in Privileged Identity Management - Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory

[2022-04-25 13:24] GitaraniSharma-MSFT commented on #91983
@bbrown519 , thank you for your feedback. We have assigned this to the content owner/author for review.

@cherylmc , could you please review this and add as appropriate?

[2022-04-25 13:31] GeethaThatipatri-MSFT commented on #91808
@chrisba11 Changes has been updated in the document thanks for your feedback in improving our documents

[2022-04-25 13:31] #91808 closed

[2022-04-25 13:47] AjayKumar-MSFT commented on #91970
@racchen,  Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2022-04-25 13:57] atombravo opened #91988 "Do IP Access lists affect private link access?"
The documentation for the IP access lists only says:
Your own workspace administrators control the set of IP addresses on the public Internet that are allowed access.

This implies that if you have a private endpoint for the management of the workspace, the traffic is not filtered by the IP Access List--but it should explicitly say whether it is or not. It's also worth noting, if the IP access lis

[2022-04-25 14:06] WilliamDAssafMSFT commented on #90828
Thanks @jouniheikniemi for taking the time for this feedback. We'll review the doc in a review iteration with the program group and contact you if we need further information, and you'll receive an email message each time we mention you in a comment.

Thanks again for this feedback, your suggestions help improve our documentation.

#please-close

[2022-04-25 14:06] #90828 closed

[2022-04-25 14:10] Jaffacakes82 opened #91989 "Lack of clarity about what defines a 'new' App Service deployment"
Please can you clarify what your 'newest deployment' is in this documentation and now we can ensure we can leverage VNET integration from non-premium App Service resources?

Thanks!
Joe

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 077513b8-750f-13f3-b973-36a7b53b8562
* Version Independent ID: baf5fae6-c52e-b8ef-cd04-

[2022-04-25 14:15] skrabbe001 commented on #91908
You can fix the "Call Api" button by changing function `passTokenToApi` in `ms-identity-b2c-javascript-spa/App/authPopup.js` to:

[code]

You can also change the function signature and pass `/api/todolist` in a parameter. Sigh

[2022-04-25 14:25] puumalad opened #91990 "Article outdated"
This article appears to be outdated. Under the Manage section, I do not have Roles, Settings or Members.  I only have Azure AD roles, Privileged access groups (Preview) and Azure resources.

Edit: Ignore this, I figured it out.  I missed needing to click on Azure AD roles and then I got those settings.  But I don't know how to delete this.

---
#### Document Details

⚠ *Do not edit this section. I

[2022-04-25 15:00] KrishnaG-MSFT commented on #91980
@cyrusvivek Is this GitHub issue related to document feedback of [this](https://docs.microsoft.com/en-us/azure/azure-monitor/agents/agent-windows-troubleshoot) Azure document? If yes, can you please share more details on what exactly we need to improve in the document?

Just FYI, [this](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to partic

[2022-04-25 15:01] puumalad commented on #91990
I figured it out and my original comment can be ignored.

On Mon, Apr 25, 2022 at 9:59 AM James Tran-MSFT ***@***.***>
wrote:

[2022-04-25 15:01] JamesTran-MSFT commented on #91985
@tmb9206
Thanks for your feedback! We will investigate and update as appropriate.

[2022-04-25 15:06] jasongroce commented on #90330
#reassign:sudharocks

[2022-04-25 15:07] JamesTran-MSFT commented on #91990
@puumalad
Thank you for the quick follow up on this!

I'll close this out and I'm glad that you were able to resolve your issue!

[2022-04-25 15:07] #91990 closed

[2022-04-25 15:07] msmimart commented on #87152
@bigtfromaz thanks so much for your suggestion. I've added this to an internal work item for a future update. Since we're tracking it there, I'll go ahead and close this issue. Feel free to reopen in you have anything to add. Thanks again!
#please-close

[2022-04-25 15:07] #87152 closed

[2022-04-25 15:35] #88831 closed

[2022-04-25 15:37] bandersmsft commented on #91964
@v-sashig Thanks for letting me know about this issue. I'll get the article updated.

[2022-04-25 15:52] msmimart commented on #87738
Thanks @KWinTie for this feedback. I agree this article is unclear, and it's on track for retirement soon. There's a clearer explanation in [Azure AD B2B invitation redemption](https://docs.microsoft.com/en-us/azure/active-directory/external-identities/redemption-experience), which explains how the PendingAcceptance value is applied whether you're using PowerShell or GUI. It also describes the dir

[2022-04-25 15:52] #87738 closed

[2022-04-25 16:02] #91964 closed

[2022-04-25 16:15] HeidiSteen commented on #91967
Hi @WailAbou, I can't repro this behavior.  I see highlight tagging on my phrase search on a free tier service.  I'm using the built-in hotel sample dataset and index, and this query string in Search Explorer:

search="Gacc Capital"&highlight=HotelName&highlightPreTag=<b>&highlightPostTag=</b>$select=HotelName,Description

I get back these results:

{
    "@odata.context": "https://demo-search-svc

[2022-04-25 16:15] havlicekp opened #91993 "Permissions from Microsoft.ServiceBus/namespaces/networkrulesets became unavailable"
Hi,

We have defined custom role in Azure. Among others it contains permissions from Microsoft.ServiceBus/namespaces/networkrulesets:

Microsoft.ServiceBus/namespaces/networkrulesets/read
Microsoft.ServiceBus/namespaces/networkrulesets/write
Microsoft.ServiceBus/namespaces/networkrulesets/delete

Everything worked fine but since today attempts to programmatically update the role end with the follo

[2022-04-25 16:25] WailAbou commented on #91967
Hello, could you try highlighting something in the description, because you have chosen the HotelName which only has 1 occurrence of the keywords it is not clear whether it works or not. If you can, try the search term "hotel in" and if it only hits the hotel in part of the phrase it works, but instead it will highlight also the hotel word in the beginning.

[2022-04-25 16:30] dlepow commented on #91404
@VitaliyKurokhtin - Can you please comment if unauthorized requests are counted in API analytics? Thank you!

[2022-04-25 16:37] WilliamDAssafMSFT commented on #91916
Thanks @roalexan for taking the time to provide this feedback, your suggestions help improve our documentation. File system is baked into the `az synapse workspace create` command and translates directly to the storage. We'll review with the PG if a change is necessary and update if so.
#please-close

[2022-04-25 16:37] #91916 closed

[2022-04-25 16:38] markingmyname commented on #89510
@Hanefi

Thank you for bringing this to our attention.

We have contacted our art consultant to improve the quality in dark mode.

There is no ETA on when this change will occur, but rest assured that we will update the image once our consultant has edited the image.

Thank you.

[2022-04-25 16:39] markingmyname commented on #89510
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue. To ask a question directly to our Q&A environment, please visit https://docs.microsoft.com/en-us/answers/support/ for more information on asknig questions about the product or service.

Thank you.

[2022-04-25 16:39] WilliamDAssafMSFT commented on #91919
@roalexan thanks for this feedback. The best place for product feedback like this is [Azure Synapse Analytics feedback](https://feedback.azure.com/d365community/forum/9b9ba8e4-0825-ec11-b6e6-000d3a4f07b8) in the feedback.azure.com hub. Thanks!

#please-close

[2022-04-25 16:39] #91919 closed

[2022-04-25 16:39] markingmyname commented on #89510
#please-close

[2022-04-25 16:39] #89510 closed

[2022-04-25 16:47] VitaliyKurokhtin commented on #91404
They should be

[2022-04-25 16:52] elfcounsel opened #91994 "Maximum Concurrent Files"
Can the maximum concurrent open files per client and in total be added to this list?

Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93ca706a-09d1-39dc-80b5-3df2a180a5e9
* Version Independent ID: 72abc701-095f-3f2f-b35c-0161e4980c1e
* Content: [Resource limits for Azure NetApp Files](https://docs.microsoft.c

[2022-04-25 16:56] MisinformedDNA opened #91995 "Misleading statement on where MSIX app attach can be used"
The documentation states "MSIX app attach is different from regular MSIX because it's made especially for Azure Virtual Desktop", but MSIX app attach works for Windows Virtual Desktop as well, correct? It also seems to work with Citrix. Is this an outdated statement?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7f89

[2022-04-25 17:00] Nickomang commented on #91433
Hi @knunery, thanks for the question. You're correct in identifying that mirroring the mounted content as a K8s Secret object can be used to set the content as an ENV variable, although this isn't the only reason why one might do so (configuring an imagePullSecret, for example).  You're also right that using K8s Secret objects requires certain security considerations, so it may not be viable for a

[2022-04-25 17:01] tech88kur commented on #42431
@tfitzmac - could you please check the above, the question is on when to use resourceId and when to use the resource name directly. I did not find detailed documentation on the above.

[2022-04-25 17:10] TBSJordanNash opened #91997 "Why 90 Day Password Change Recommendation?"
What is the source of this document's recommendation that privileged account passwords be changed every 90 days (with alert "Potential stale accounts in a privileged role")? This isn't likely to make us any safer than an annual rotation.

If administrators have MFA enabled and a suitably strong randomized password, and there are no indications of potential spillage, there's no reason for this. If

[2022-04-25 17:17] HeidiSteen commented on #91967
@WailAbou, I'm not seeing a difference in tier, but I confirm that hit highlighting appears to exclude stop words (https://github.com/Azure-Samples/azure-search-sample-data/blob/master/STOPWORDS.md).  If my phrase is "in the area", only "area" is highlighted.  If my phrase is "hotel in", only "hotel" is highlighted.

I think you found either a bug or a content gap, but I'm not getting different be

[2022-04-25 17:23] adelagar opened #91999 "Reverse DNS PTR records for Private Custom DNS Servers"
I do not see a statement about the custom DNS Servers typically for Enterprises that use active directory domain controllers to register the PTR record. The A record is registered in DNS when a machine is joined to the domain, but the ability to record the IP in a PTR zone is not available. We should be "intentionally" clear on this is not a capability. We are seeing issues with clients joining ac

[2022-04-25 17:24] WailAbou commented on #91967
Could you send a screenshot of both inputs and outputs, because I tested it and the Microsoft employee also tested it and we got the same unintended behaviour. I think maybe we are understanding each other wrong, per reference here is the intended behaviour at the bottom of the page under the section "Phrase search highlighting": https://docs.microsoft.com/en-us/azure/search/search-pagination-page

[2022-04-25 17:32] MarileeTurscak-MSFT commented on #91997
@TBSJordanNash
Thanks for your feedback! We will investigate and update as appropriate.

[2022-04-25 17:36] meenasaravanan02 commented on #89151
Hi @andyofengland  Thank you for the feedback.  We have removed the content. Resolved in a PR  - https://github.com/MicrosoftDocs/azure-docs-pr/pull/196025
#Please-close this issue

[2022-04-25 17:39] jan-mrm commented on #91896
Hi,
we are experiencing the same problem. Our App Registration has the following permissions:
- Microsoft Graph: Directory.Read.All (Application) & User.Read (Delegated)
- Azure Active Directory Graph: Directory.Read.All (Application)

and we are able to choose the tenant and group but when pressing "select" then it just takes forever and does not get to a result. Dev tools show an error with resp

[2022-04-25 17:52] dannyevers commented on #89323
@zeeshaanali Thanks for recommending the link. I have updated the doc with the link you provided and the updated https://docs.microsoft.com/en-us/azure/marketplace/azure-vm-image-test#run-validations doc is now live.

[2022-04-25 17:52] MonikaReddy-MSFT commented on #91971
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-04-25 17:57] nc-ruth commented on #91848
Hi @Karishma-Tiwari-MSFT, thank you for the reply.
Any updates on this?

[2022-04-25 18:04] michaelelleby opened #92000 "Example code snippet is wrong"
[Enter feedback here]
The code snippet in the section "Access vaults with a user-assigned identity" has a typo. `az rest --method PATCH --uri "${appResourceId}?api-version=2021-01-01" --body "{'properties':{'keyVaultReferenceIdentity':'${userAssignedIdentityResourceId}'}}"` should be `az rest --method PATCH --uri "https://management.azure.com${appResourceId}?api-version=2021-01-01" --body "{'prope

[2022-04-25 18:05] #92000 closed

[2022-04-25 18:05] michaelelleby commented on #92000
Nevermind I see the documentation that az rest assumes https://management.azure.com if not specified.

[2022-04-25 18:11] darshanmeghani opened #92001 "Video so fast"
This page video is so fast, not able to hear even some words

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42ee49c2-4513-b07b-f921-2aa55ddf29a1
* Version Independent ID: 3f281ce5-11a3-74e1-be10-12b704e61101
* Content: [Overview of SQL Server on Azure Windows Virtual Machines - SQL Server on Azure VMs](https://docs.mic

[2022-04-25 18:22] MonikaReddy-MSFT commented on #91971
Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-04-25 18:22] #91971 closed

[2022-04-25 18:26] btardif commented on #81810
@cephalin please review the PR when you get a chance.

[2022-04-25 18:28] btardif commented on #86147
@cephalin I will need to put together a sample for ARM/BICEP I have blocked some time this week to work on that but it should be 100% doable.

[2022-04-25 18:37] Mike-Crowley commented on #61931
@SaiKishor-MSFT I don't think your comment is accurate. The lifetime of the Azure token does not determine how long the Azure VPN client's connection lasts. For example, if you create a conditional access policy with a 1hr sign-in frequency, this does not terminate the user's VPN connection after 1 hour.

You even mention the same in another thread: https://docs.microsoft.com/en-us/answers/questio

[2022-04-25 18:46] jhirono commented on #91709
Thanks, let me follow up and get back to this issue.

[2022-04-25 18:47] roygara commented on #91766
@Yaz-X The Disks blade contains a list of your disks. From that list, you select (or, navigate to) each individual disk you want to delete (both to confirm the disk's state and to delete it) and in the actual disk blade, you can delete it.

I'm going to close this out, since this process is still correct as written. But I'll make some linguistic changes to try to make this more clear.

Thanks for

[2022-04-25 18:47] #91766 closed

[2022-04-25 18:47] btardif commented on #89546
The way this works in windows vs Linux is very different, I'm not sure we can address this directly in the doc.

If your app is targeting Linux + bring your own code scenarios, then the platform provides a container where your code is then injected for execution. Those underlying containers are single stack... meaning if you throw some PHP code into a .NET Linux app, it will not work since the und

[2022-04-25 18:51] btardif commented on #88548
@cephalin can you follow up with @mattchenderson since this is easy auth related?

[2022-04-25 18:59] savjani commented on #84860
HI @Olafmaas - I acknowledge the concern and feedback but currently it is not in our immediate plans to provide minor version upgrade feature. I would recommend you consider moving to MySQL Flexible Server aligning with our investments.

[2022-04-25 19:00] savjani commented on #84860
@RyanHill-MSFT - if there are no updates, we can close this thread.

[2022-04-25 19:00] btardif commented on #83385
I don't want to add a disclaimer about this until after ANT99 rolls out later this year.

We are working on changes that will affect how the local disc is used by offloading some of the caching that we do to the /temp drive. This should result in freeing up significant space on the local drive as well as giving a stable free space we can guarantee.

I have tagged a few PR that should help mitigate

[2022-04-25 19:01] AjayKumar-MSFT commented on #92000
michaelelleby,  Thanks for leveraging Azure docs feedback channel to raise this question. Much appreciate the follow-up and update.

[2022-04-25 19:03] RemyRemjob commented on #86094
I have this same issue. I have found that by going to the ASP, and then selecting the App Service I can see the settings in the deployment center. However, by accessing the deployment center directly from the App Service it is over-written by the pipeline history.

[2022-04-25 19:04] JamesTran-MSFT commented on #91993
@havlicekp
Thanks for your feedback! We will investigate and update as appropriate.

[2022-04-25 19:08] GeethaThatipatri-MSFT commented on #91831
@kimjamia I tried to repro and I see the history can you please give it one more try and share your screenshot, that will help.
![image](https://user-images.githubusercontent.com/92763260/165157181-db61d72a-aa11-44ba-baad-e6bb18fbb4da.png)

[2022-04-25 19:13] Bashar-MSFT commented on #91632
Done: https://github.com/MicrosoftDocs/azure-docs-pr/pull/195977

[2022-04-25 19:13] Bashar-MSFT commented on #91632
please resolve this PR

[2022-04-25 19:15] roygara commented on #91289
Thanks, @SreejaBhattacharya-MSFT

@vitorsantos92 Thanks for reaching out. :)

Yes, the second (subsidiary) bullet is inaccurate. We'll go ahead and remove it from the article.

The change will be live later today, so I'll go ahead and close this out.

Again, thanks for bringing this to our attention, we appreciate it. :)

#please-close

[2022-04-25 19:15] #91289 closed

[2022-04-25 19:20] rothja commented on #91306
@markjbrown Mark, thanks for the suggestion. I'll assign this back to me to get the backlog request in. @Marco-Santoni , this is not something we can do right away, but it is a good suggestion to improve the page in the future. Thank you! #assign:rothja

[2022-04-25 19:20] Grace-MacJones-MSFT commented on #91989
Hi @Jaffacakes82, Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-04-25 19:36] btardif commented on #86990
#please-close

@sopelt  We don't discuss timelines in documentation issues...

We are however actively working on a revamp of this experience and will communicate broadly once we have information to share

CC: @Grace-MacJones-MSFT

[2022-04-25 19:36] #86990 closed

[2022-04-25 19:44] DerekHerman-MSFT commented on #91995
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-04-25 19:54] HeidiSteen commented on #91967
Attaching a screenshot, free tier and standard tier side by side.  Same query pasted into the Search Explorer of both services, each having the sample hotels index.  I don't currently have a Basic tier, but in a previous post, you said that it was just Free tier that wasn't working.

![highlight-phrases](https://user-images.githubusercontent.com/1612796/165164502-a980d399-e114-4ee7-94ca-eea8167c10

[2022-04-25 19:56] mbender-ms commented on #91767
Thanks for bringing this to our attention @bubbletroubles.
I've opened a bug doc for updates.

[2022-04-25 19:56] himanshusinha-msft commented on #91941
We are closing this issue as we have not heard back from you , you can always re-open the issue if you think that appropriate .

[2022-04-25 19:56] #91941 closed

[2022-04-25 19:58] himanshusinha-msft commented on #91840
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2022-04-25 19:59] himanshusinha-msft commented on #91674
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2022-04-25 20:00] jhirono commented on #91709
Thanks for catching this, I will update this doc soon. thanks.

[2022-04-25 20:04] MarileeTurscak-MSFT commented on #91972
@vanessabruwer
Thanks for your feedback! We will investigate and update as appropriate.

[2022-04-25 20:08] WailAbou commented on #91967
Free pricing tier
![image](https://user-images.githubusercontent.com/49925486/165166177-a4e45487-0e96-46f0-ba2a-536cb8c3680f.png)
Standard pricing tier (basic pricing tier should also be the same)
![image](https://user-images.githubusercontent.com/49925486/165166231-50c550e2-0303-4644-8446-132f4f1dc356.png)

As you can see in the screenshots with the exact same dataset and search query the first o

[2022-04-25 20:09] seligj95 commented on #90458
looks like this has been fixed.

@makokui - please confirm. thanks!

[2022-04-25 20:30] HeidiSteen commented on #91967
I see your results, but I still can't repro on my side using your query. My results don't change if I switch to the default formatting <em> either.   I'll delete and recreate my free service to see if I get your results.  If I can't repro after that, all I can do is ping the engine team to ask them how to debug this.

![highligh-phrase-2](https://user-images.githubusercontent.com/1612796/165169519

[2022-04-25 20:37] HeidiSteen commented on #91967
My new free tier service is in West US2.  I couldn't repro on that service either.  I'll try Europe.  Thanks for your efforts!!  I really appreciate it.

[2022-04-25 20:49] HeidiSteen commented on #91967
I just tried in "North Europe" and I still get the expected behavior, where just the phrase is highlighted.

We have a note in the docs about older services producing the experience you're describing:  https://docs.microsoft.com/en-us/azure/search/search-pagination-page-layout#phrase-highlighting-on-older-services

But we both just tried the same queries on new free services created in North Europ

[2022-04-25 20:55] minnmax opened #92005 "Implement private access to Resource manager had side effect(s), cause other resource(s) to fail"
After link private DNS zone of private link for Resource Manager would cause Bastion in that VNET to fail.  Maybe impact more resources.  Maybe we should add a section inform users?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ce32910-019e-c5bf-bd3b-51d721eeb9e9
* Version Independent ID: 056ffcf3-8a26-a0d1-0901-ec09

[2022-04-25 20:59] andreakress commented on #81814
Approved PR

[2022-04-25 21:00] andreakress commented on #81814
Please merge and close.

[2022-04-25 21:18] andreakress commented on #81814
#please-close

[2022-04-25 21:18] Karishma-Tiwari-MSFT commented on #92001
You can use the playback button on the video to reduce or adjust the speed according to your choice, as shown below

![image](https://user-images.githubusercontent.com/20851144/165176640-465c5c11-87b7-42ce-a557-d860afac1b69.png)

Please try this and let me know if you are still seeing issues.

We will now close this issue. If there are further questions regarding this matter, please tag me in a co

[2022-04-25 21:18] #92001 closed

[2022-04-25 21:24] greg-lindsay commented on #91902
I have sent a question to the product team.

[2022-04-25 21:31] JamesTran-MSFT commented on #91993
@havlicekp
Thank you for your time and patience!

Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our [Q&A forum](https://docs.m

[2022-04-25 21:31] #91993 closed

[2022-04-25 21:35] btardif commented on #85349
@denvermb can you take a look and help @cephalin

[2022-04-25 21:35] bandersmsft commented on #91876
@mikewo-dc Hi there. There are many Azure transfer scenarios and the focus of this article is to cover those that are supported. As such, this page has only generic guidelines. You can ask any transfer-specific questions to the Azure support team with a [support request](https://portal.azure.com/#blade/Microsoft_Azure_Support/HelpAndSupportBlade/newsupportrequest).

#please-close

[2022-04-25 21:35] #91876 closed

[2022-04-25 21:36] btardif commented on #85349
#taken-by:denvermb

[2022-04-25 21:45] jileary23 opened #92006 "IP not in subnet range"
In the diagram, it seems that the IP address mentioned for Private Endpoint (10.0.0.5) is not in the subnet range (10.0.1.0/24). Can you explain if this was intentional? or should it be 10.0.1.5 ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb4b8145-27ae-8817-6d85-969aa85e601d
* Version Independent ID: 00f897cd-5c20

[2022-04-25 21:53] sumeetmittal commented on #92006
Its not intentional, its a type. Subnet range should be 10.0.0.0/24. .Thanks

[2022-04-25 22:10] andreakress commented on #79525
Fixed, will deploy 4/26/22.

[2022-04-25 22:10] andreakress commented on #79525
#please-close

[2022-04-25 22:10] #79525 closed

[2022-04-25 22:11] jmprieur commented on #82732
#please-close

[2022-04-25 22:11] #82732 closed

[2022-04-25 22:15] jlee-vi commented on #91826
Thanks for the screenshot. Could you please provide the steps to replicate?

- Is this an Azure AD Premium feature?
- Must custom roles be used?
- Is there any documentation?

I cannot find the same page as you that allows Groups as a scope. Even with a custom role, PIM, and premium licensing.

Would greatly appreciate your help.

Thanks,
James

James Lee
m: 0421314194
____________________________

[2022-04-25 22:25] ggailey777 commented on #91615
The short answer is, no. The current documented guidance is to not set this setting for your slots, as you can see [in this example](https://github.com/Azure/azure-quickstart-templates/blob/master/quickstarts/microsoft.web/function-app-create-dynamic-slot/azuredeploy.json#L141). However, I've also seen working examples where you set `WEBSITE_CONTENTSHARE` for both the main slot and a staging slot,

[2022-04-25 22:25] #91615 closed

[2022-04-25 22:34] aberns4 opened #92007 "CAPTCHA"
Hi, the documentation does not include any info about the CAPTCHA, e.g changing it or disabling it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72f2e675-436d-dcd4-fa27-49408b201158
* Version Independent ID: 4d821732-fc10-f4a6-3c7d-77bce75299d7
* Content: [Add branding to your organization's sign-in page - Azure AD](

[2022-04-25 22:37] JamesTran-MSFT commented on #92007
@aberns4
Thank you for your feedback!

To gain a better understanding of your doc enhancement request, can you share a screenshot of where you're seeing a CAPTCHA and being given the ability to change it or disable it?

[2022-04-25 22:41] RyanHill-MSFT commented on #91977
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-04-25 22:57] MarileeTurscak-MSFT commented on #91972
Hi @vanessabruwer , I made a pull request to update the article with more details about the permissions. https://github.com/MicrosoftDocs/azure-docs-pr/pull/196083

I also made a pull request to update the RBAC article. https://github.com/MicrosoftDocs/azure-docs-pr/pull/196085

If you think something different should be added, feel free to make your own PR to update the guides since I see you hav

[2022-04-25 22:57] #91972 closed

[2022-04-25 23:07] v-sashig opened #92008 "Can Japanese customers use debit card as payment method?"
Hello, this is also a question if Azure customers are allowed to pay with Debit card in Japan.

In the English page, there is no mentioning about you cannot use debit card as PI.
https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/billing-troubleshoot-azure-payment-issues#unable-to-use-a-virtual-or-prepaid-credit-as-a-payment-method

However, in the corresponding Japanese transla

[2022-04-25 23:09] bubbletroubles opened #92009 "Services that can be deployed into a virtual network - Private Link"
The Azure Private Link/Private Endpoint service is not listed in the table "Services that can be deployed into a virtual network"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2422f8ec-802e-7f92-c499-9181f3fe8d8b
* Version Independent ID: eb2b0e2c-8fb5-573c-ef0d-50073d053c3d
* Content: [Virtual network for Azure servi

[2022-04-25 23:26] RyanHill-MSFT commented on #91981
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-04-25 23:28] RyanHill-MSFT commented on #91988
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-04-25 23:29] WailAbou commented on #91967
Hello again, no problem at all for helping. I did some further testing with a new account and created a new Cognitive Search Service on North Europe and I stil get the weird behaviour, here is a screenshot of it.
![image](https://user-images.githubusercontent.com/49925486/165190192-e82c503d-9cad-4adc-b53f-d39aed043e62.png)

Also here is the template, I would be willing to further help and solve/id

[2022-04-25 23:52] ChaitanyaNaykodi-MSFT commented on #92009
Thank you for your feedback! We will review and update as appropriate.

[2022-04-26 00:10] oumukoro opened #92011 "Azure Key Vault 400 - Some input not valid"
I am using Logic Apps and imported my key into the key Vault. I am not having an authentication error because I have set the access policies for my user and for logic apps on the key vault.
However, when I run the Logic app for the entire .csv document, I get an error: "status": 400,
  "message": "Operation failed because some of the inputs are not valid.\r\nclientRequestId: 9b85938a-bae9-44d0-8c0

[2022-04-26 00:10] mksuni commented on #90343
@sr-msft  Can you please review this for Postgres

[2022-04-26 00:12] mksuni commented on #90055
Please assign this to @sr-msft

[2022-04-26 00:46] MashaMSFT opened #92012 "testing an issue"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c9c9b8c-4411-d868-b0cf-f68d9963c2eb
* Version Independent ID: 2c9c9b8c-4411-d868-b0cf-f68d9963c2eb
* Content: [What is Azure SQL Managed Instance? - Azure SQL Managed Instance](https://docs.microsoft.com/en-us/azure/azure-sql/managed-instance/sql-man

[2022-04-26 01:01] VikasPullagura-MSFT commented on #91961
@goitf

We will now close this issue. You can either open a new issue by providing Feedback directly on the document or you can tag me in the comment with the actual feedback so that we can reopen this issue.

[2022-04-26 01:01] #91961 closed

[2022-04-26 01:05] VikasPullagura-MSFT commented on #91433
@Nickomang Thanks for clarifying this.

[2022-04-26 01:06] #91433 closed

[2022-04-26 01:27] bandersmsft commented on #91803
@J227668 Sorry for the delay. The team has been looking into this issue. I'm working on a documentation update for it, too.

Can you please tell me source and target agreement type? It looks like your source is pay-as-you-go MS-AZR-USGOV-0003P. What is the target agreement? Is it also MS-AZR-USGOV-0003P?

[2022-04-26 01:52] Givary commented on #91409
@MSFTandrelom
Apologies for the delay, worked with the concerned team to update the example and product team is reviewing it and will be updated in the article in next few days.

[2022-04-26 01:52] #91409 closed

[2022-04-26 01:54] jackchenwork opened #92013 "VDDK installation instruction need to be updated with accurate information."
[Enter feedback here]

Currently the instruction state:

1. [Download ](https://aka.ms/azmigdownloadvddk)VMware Virtual Disk Development Kit 6.7.0 from VMware, Inc.
2. Extract the downloaded file, copy the contents of the extracted folder and paste them in another folder on the appliance - C:\Program Files\VMware\VMware Virtual Disk Development Kit

The kit from Vmware is VMware-vix-disklib-6.7.0-

[2022-04-26 02:09] MonikaReddy-MSFT commented on #92005
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-04-26 02:10] MonikaReddy-MSFT commented on #92008
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-04-26 02:24] AHopeGao commented on #91761
Hi @GitaraniSharma-MSFT ,
Thanks for your update, very appreciate for your help.

[2022-04-26 02:57] rockboyfor opened #92015 "Confirm the availability of Unity Catalog in Azure China cloud."
Hi guys,

Could you please help to confirm whether the Unity Catalog is available on Azure China cloud?

We check the [Get started using Unity Catalog](https://docs.microsoft.com/en-us/azure/databricks/data-governance/unity-catalog/get-started) and find that we can not verified the following requirement due to our limited Azure AD version and privilege.

**Requirement:**
 [Create the enterprise ap

[2022-04-26 03:02] Leonardo-Ferreira opened #92016 "What is the precision of the timestamp?"
Is it my impression or the indexing/ordering of the Timestamp take into account up to the 7th digit? eg: "2022-04-26 21:15:14.**1234567**"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b88d8c4-0013-70aa-7997-a2203afd9743
* Version Independent ID: 0ab99d5e-4ebd-8cb9-3d27-efe58def249f
* Content: [Azure Application Insi

[2022-04-26 03:03] SumanthMarigowda commented on #91994
@elfcounsel
Thanks for the question! We are investigating and will update you shortly.

[2022-04-26 03:05] SumanthMarigowda commented on #92011
@oumukoro Thank for reaching out. Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2022-04-26 03:40] MarkusMeyer13 opened #92017 "APIM - AAD API Permissions - Script does not contain 'resourceAppId': '00000002-0000-0000-c000-000000000000'"
It seems that the example script is incomplete.

[Add an external Azure AD group](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-aad#add-an-external-azure-ad-group)

[code]

This script changes permissions only for App:
**'resourceAppId': '00000003-0000-0000-c000-000000000000'**

<img width="622" alt="image" src="https://user-images.githubusercontent.com/8818198/1652151

[2022-04-26 04:05] darshanmeghani commented on #92001
Thanks for the supurb support,
Really appreciate it

On Tue, 26 Apr, 2022, 2:48 am Karishma Tiwari - MSFT, <
***@***.***> wrote:

[2022-04-26 04:21] SwathiDhanwada-MSFT commented on #91764
@Wooterino Content author has fixed the templates by not limiting them to certain regions.

Regarding the api version, collection of logs happens using custom logs api which is currently in preview. To use latest api version, submit a request for it to be enabled in your subscriptions. Please sign up at https://aka.ms/CustomLogsOnboard.

[2022-04-26 04:33] AnuragSharma-MSFT commented on #92012
@MashaMSFT Thank you for the feedback. Could you please provide more details on this?

[2022-04-26 04:34] Sharmistha-Rai commented on #91856
@v-asymes - did you receive this message as a part of an error message? Can you please tell me the whole error message so that I can direct this URL to the correct content?

[2022-04-26 04:48] dgchurchill opened #92019 "Service Bus trigger MaxAutoRenewDuration description seems to be incorrect"
Under "PeekLock behaviour" and regarding `maxAutoRenewDuration`, this page says:

However, I could not see anything in the Service Bus documentation to corroborate this. The only related thing I could find is that the maximum lock duration in Service Bus is 5 minutes. But so far as I can tell `maxAutoRenewDuration` is for how long the lock should continued to be renewed for, not the duration of th

[2022-04-26 05:26] SadiqhAhmed-MSFT commented on #92013
@jackchenwork Thanks for the feedback. We will review your feedback with the content owner and update the documentation as required.

[2022-04-26 05:27] FabianGonzalez-MSFT opened #92020 "Add an extra bullet or a clarifying note on pre reqs"
Add on the pre reqs of this tutorial that the "Microsoft.EventGrid" Resource Provider must be registered in the Subscription before-hand. Missing that step has caused issues on support end and adding it could help self-help deflection.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 076eaaa5-0c1d-d937-e78a-786ac76f103a

[2022-04-26 05:47] L-u-k-e-GIT commented on #91778
@GeethaThatipatri-MSFT  reading the document the info are clear.
In my opinion the picture should be changed, because can lead the reader (that look the picture and not whole document) that can implement an active / active configuration.
My suggestion is to add a legend or to use two picture one for BAU and another one in case of failure.
Then is your that should be  accept or not my suggestion. I

[2022-04-26 05:49] Nustinian opened #92021 "mistake in sample data collection rule JSON"
The sample JSON for the data collection rule on this page is wrong, which makes the deployment fail to work.

this key should not include any spaces:

 "logFiles   ": [

instead, it should be as follows
 "logFiles": [

here's the template documentation
https://docs.microsoft.com/en-us/azure/templates/microsoft.insights/2021-09-01-preview/datacollectionrules?tabs=json

---
#### Document Details

⚠

[2022-04-26 06:21] ssivas commented on #91471
#please-close

[2022-04-26 06:22] greg-lindsay commented on #91902
The product team responded, and the table is correct. WAF operations are more compute intensive and thus the restricted number of resources allowed.

[2022-04-26 06:35] CHEEKATLAPRADEEP-MSFT commented on #92015
@rockboyfor  Thanks for the question! We are investigating and will update you shortly.

[2022-04-26 06:44] ShaikMaheer-MSFT commented on #91765
@ljt5 I am able reproduce this. Lookup activity in Synapse studio or data factory studio not supporting REST datasets. How where we can use HTTP type dataset. Document may need to be get updated here.
![image](https://user-images.githubusercontent.com/84302758/165238133-4a5e69fc-200f-4b9d-a6af-ddf5d9e5f26a.png)

@jianleishen Could you please validate customer feedback and update document as approp

[2022-04-26 07:17] lemeuryohann commented on #91665
Hello, i have the same issue that ivorb, and actually select yes and see my json file in the selection below... But whether it is the format of the quickstart or the same format that another Custom NER project create chen i tag manually, the samie issue en error report is write....

[2022-04-26 07:20] SadiqhAhmed-MSFT commented on #91955
@TarekNabeel If I understood correctly - You have an Azure Policy which denies creation of resource groups (RG) without the required tags and hence creation of the backup snapshot RG by Azure Backup service is failing? Currently, assigning snapshot RG tags at the time of backup configuration is not supported, but they can file a feature request [here](https://nam06.safelinks.protection.outlook.com

[2022-04-26 07:26] bmansheim commented on #91834
@sebhe Thanks for pointing out the discrepancy. I'll check with the product manager on it.

[2022-04-26 07:30] SwathiDhanwada-MSFT commented on #92021
@Nustinian Thanks for your comment. We will review the issue and get back to you shortly.

[2022-04-26 07:31] TarekNabeel commented on #91955
@SadiqhAhmed-MSFT , thanks for the reply .
Focusing on the workaround , can exclusion be based on condition ? please provide an example on how can i achieve the workaround .

[2022-04-26 07:45] SJokubauskaite opened #92022 "R package "prophet""
Hello,
I would like to install R library "prophet" on SQL Managed Instance.
This library has following system requirements: GNU make, C++11.
In this [documentation ](https://docs.microsoft.com/en-us/azure/azure-sql/managed-instance/machine-learning-services-differences#python-and-r-packages) it is written that:
"In SQL Managed Instance, it's not possible to limit R resources through [Resource Gove

[2022-04-26 07:57] lightupdifire opened #92023 "B2B - Guest users"
Hello,

It could be good to explain how this policy applies or not to the B2B or Guest users.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9561a367-20d8-62e9-57e5-694bab4c0878
* Version Independent ID: a7c757e0-052b-fc42-70c5-030081baa573
* Content: [Configure authentication session management - Azure Active Director

[2022-04-26 08:22] sarahyoon opened #92024 "Request to verify the target subscription type to transfer EA."
Hi Team,

From the below screenshot of a page, I am confused by the sentence "Microsoft Customer Agreement or MOSP subscription"
![image](https://user-images.githubusercontent.com/24666180/165252533-697a563a-f921-4f2d-ba2a-88a61abfddd8.png)

I believe this statement should change to "Microsoft Customer Agreement **with** MOSP subscription".

Because, if it is "**or**", it includes all subscription

[2022-04-26 08:44] MmAtBosch commented on #91902
Ok, thank you very much for this!!

Von: Greg Lindsay ***@***.***>
Datum: Dienstag, 26. April 2022 um 08:22
An: MicrosoftDocs/azure-docs ***@***.***>
Cc: Mink Manuel (CI/PLS3) ***@***.***>, Author ***@***.***>
Betreff: Re: [MicrosoftDocs/azure-docs] Application Gateway limits when WAF enabled (Issue #91902)

The product team responded, and the table is correct. WAF operations are more compute inte

[2022-04-26 08:56] aletar89 opened #92025 "Please update the ADB2C custom domain tutorial to use Front Door Manager instead of Front Door Designer"
New Front Door resources are created with Front Door Manager and the descriptions are different and confusing. Please update this tutorial (https://docs.microsoft.com/en-us/azure/active-directory-b2c/custom-domain?pivots=b2c-user-flow) to use the new UI (https://docs.microsoft.com/en-us/azure/frontdoor/manager)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2022-04-26 09:21] #91935 closed

[2022-04-26 09:32] shwetamathur7 commented on #92020
@FabianGonzalez-MSFT Thank you for your feedback. We will investigate and update the thread accordingly.

[2022-04-26 09:33] RodrigoTavaresIT opened #92026 "Block personally-owned devices from join Azure AD"
There is no mention at all on how to block personally-owned devices from joining Azure AD.
Immagine an Azure AD user that tries to join his personal laptop to Azure AD. Now immagine a thousand. How can I block this? And please don't tell me to create Enrollment restrictions on Endpoint. I just want to block "Join", not blocking enrollment on MDM or register personal devices.

---
#### Document Det

[2022-04-26 09:34] shwetamathur7 commented on #92023
@lightupdifire Thank you for your feedback. We will investigate and update the thread.

[2022-04-26 09:39] Danferno opened #92028 "Link to python sample not included"
`The following snippets are all taken from the cosmos_get_started.py file.`

should include a hyperlink to

`https://github.com/Azure-Samples/azure-cosmos-db-python-getting-started/blob/main/cosmos_get_started.py`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 995ff127-8028-8118-701e-53f07f3a7fc5
* Version Independent

[2022-04-26 09:50] gpltaylor commented on #61627
I am using Terraform to provision services. It's clear that ACI private IP change during maintenance.
We have private services behind a VNET using Private DNS. The Azure App Gateway then delegates route to backend pools.

When the IP changes this all breaks and the Gateway returns errors as the backend is down.

I do not want to make the services private as the Gateway implements SSL termination a

[2022-04-26 10:25] Ikriva opened #92029 "Overriding monitoring configuration at runtime table has incorrect app setting names"
### Overriding monitoring configuration at runtime
The [table](https://docs.microsoft.com/en-us/azure/azure-functions/configure-monitoring?tabs=v2#overriding-monitoring-configuration-at-runtime) containing values for overriding host.json logging settings is incorrect. The table states that:

| host.json path | overriding variable name |
| :--------------- | :--------------------------- |
| logging

[2022-04-26 10:26] JBines opened #92030 "LDAPS requires port 3269"
Hiya folks,

We found after a adding new DC's the ADC connectors also required port 3269 to be open between the DC and the AD Connect server. In this case the ADC server is not domain joined and uses a local service account.

B
J

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41c38d39-e36b-dd70-9

[2022-04-26 10:30] SadiqhAhmed-MSFT commented on #91955
@TarekNabeel Please find steps below:

•	Login to Azure Portal.
•	Click **All Services**, then input “**policy**” in the search box, then click the **Policy** after it shows up.
•	Click **Definitions**, then input “**policy-require-resource-group-tag**” in the search box, then click the **Policy** definition when it shows up.
•	Click **Edit definition**
•	Change the policy definition as below. The

[2022-04-26 10:36] yikeren1022 opened #92032 "Is db_owner the necessary permission?"
[Enter feedback here]
 hi team,
I received feedback from cx that they noticed there is a slight difference between UI and doc
as in the part Prerequisites for setting up scan with Lineage extraction
our doc said assign proper permission (for example: db_owner) to Purview Managed identity.
so the nuance suggests other permission might also work, or db_owner is not necessary
but in our UI when edit

[2022-04-26 10:40] lightupdifire opened #92033 "Revoke-AzureADUserAllRefreshToken for Guest or B2B user"
Hello,

Does Revoke-AzureADUserAllRefreshToken applies also for the Guest/B2B users?
If yes or no, maybe it is handy to add such info to this article?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9b38e3c-c054-794a-70af-ce9d2ec70507
* Version Independent ID: 04653c31-670f-ebd4-da07-072ea5503483
* Content: [Revoke use

[2022-04-26 10:41] elkorba opened #92035 "Wrong Ingress Route description in yaml"
In the description we can find:
<img width="525" alt="image" src="https://user-images.githubusercontent.com/45165409/165283515-fb556c3b-3862-4bd9-a2b1-5f3d04ba6419.png">

where the last line is wrong and is rejected by known tools and k8s. This part should be as follows (I believe):
<img width="545" alt="image" src="https://user-images.githubusercontent.com/45165409/165283620-e3f5b3dd-43c2-4357-bb

[2022-04-26 10:42] SwathiDhanwada-MSFT commented on #91764
@Wooterino Content author has fixed the changes related to the templates.

Regarding the api version, kindly note custom logs are in preview. To use latest version, submit a request for it to be enabled in your subscriptions. Please sign up at https://aka.ms/CustomLogsOnboard. For more information, refer [this document](https://docs.microsoft.com/en-us/azure/azure-monitor/logs/custom-logs-overview

[2022-04-26 11:10] bmansheim commented on #91722
@Sizzl Thanks for pointing this out and even better that you have great suggestions!
@idokeshet What are your thoughts?

[2022-04-26 11:10] AnuragSharma-MSFT commented on #92028
@Danferno Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-04-26 11:22] AnuragSharma-MSFT commented on #91936
@SogoGolf Thanks for your feedback. Actually the document states it already "**_Partial document update feature improves this experience significantly. The client can only send the modified properties/fields in a document without doing a full document replace operation._**"

This implies that only the changed properties can be sent over instead of complete document. Please let us know if this help

[2022-04-26 11:39] Gordonby opened #92036 "Private endpoints for Signal-R - region list"
The private endpoints feature is not available in all regions.
The docs page should maintain a list of which regions it's available in.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c010f240-9839-f4b8-9fa4-60c20dada2b1
* Version Independent ID: f7dad214-6831-cb4d-7846-15764630af93
* Content: [Use private endpoints - A

[2022-04-26 11:43] matsimon commented on #69167
Basically what I'm are missing is a straightforward "I want 1 VM, with IPv6 connectivity, that is reachable from the public internet", nothing else: No load balancers, not bells and whistles. Is that really that difficult with Azure?

Other people like @TheLinuxGuy have also posted similar howtos that involve creating new NICs, creating an IP config and plugging that NIC into a freshly-created VM

[2022-04-26 12:01] oschakravarthi opened #92038 ""Install content authoring tools" link is not working"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2022-04-26 12:03] jdanton opened #92039 "Please remove telnet reference"
While this page is not directing users to connect to anything over Telnet, that doesn't change the fact that Telnet is an insecure protocol *and* has to be installed into Windows. I would recommend just showing the PowerShell cmdlet test-netconnection, which is native and built into Windows.

e.g. test-netconnection -computer myserver.database.windows.net -port 1433

---
#### Document Details

⚠ *

[2022-04-26 12:06] GeethaThatipatri-MSFT commented on #91831
@kimjamia We haven't heard back from you. Just wanted to check if you are still facing the issue? Are the Private end points approved in both SQL Server and Storage accounts? please confirm

[2022-04-26 12:08] GeethaThatipatri-MSFT commented on #91715
@RicardoNiepel We haven't heard back from you, We will proceed to close this issue now.
If there are further questions regarding this, please comment and we will gladly continue the discussion.

[2022-04-26 12:11] RicardoNiepel commented on #91715
@GeethaThatipatri-MSFT Please reopen.

It's just the link "Currently, the only SDK that returns the RU charge for table operations is the [.NET Standard SDK](https://www.nuget.org/packages/Microsoft.Azure.Cosmos.Table)."
which points to https://www.nuget.org/packages/Microsoft.Azure.Cosmos.Table

[2022-04-26 12:27] RyanHill-MSFT commented on #92016
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-04-26 12:43] SnehaAgrawal-MSFT commented on #92036
@Gordonby Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-04-26 12:46] PixelKnot opened #92040 "PNG's without white background"
The images on this page are PNGs that do not display correctly when using dark theme.

![image](https://user-images.githubusercontent.com/10598809/165302819-6c9f5fd6-6d9b-42cc-9cea-3788e8704838.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f9cd5a3-0e6f-feaa-e721-755db47b4a76
* Version Independent ID: f8552612-42

[2022-04-26 12:55] aschabus opened #92042 "Confusing Value for "Total size of rules within a single Rule Collection Group""
Under "Azure Firewall limits", we say that the limit for "Total size of rules within a single Rule Collection Group" is 2Mb.
This is somehow confusing and leads to some misunderstandings - does this mean 2 Megabit, which would be - IMHO - an uncommon dimension for a storage size or does it mean 2 Megabyte?
I would suggest that it should be either Mbit or MB - dependent on the real value - to avoid

[2022-04-26 12:56] waltheed opened #92043 "What permissions are needed for scaling a database?"
[Enter feedback here]

I try to find what permissions are required to scale a database. But I cannot find that anywhere. I expected it in this article.
In my particular case, I run a powershell command from azure data factory and that fails, with the following error:

Failure type: User configuration issue
Details: Operation on target Get current database properties failed: {"error":{"code":"Autho

[2022-04-26 12:59] juliakm commented on #89652
The code sample is updated now so I'm closing this issue.

[2022-04-26 12:59] juliakm commented on #89652
#please-close

[2022-04-26 12:59] #89652 closed

[2022-04-26 13:00] PriyankaRudramaina commented on #92035
Hello @elkorba,

Thank you for your feedback. We will investigate and update the thread further.

[2022-04-26 13:02] Shoplift3020 opened #92044 "Node"
- uses: azure/webapps-deploy@v2
  with:
    publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}

[2022-04-26 13:03] Shoplift3020 commented on #92044
[](- uses: azure/webapps-deploy@v2
  with:
    publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}

[2022-04-26 13:07] fvarukhin commented on #28378
Today is 2022, I got same error code... I looked up to the google and found doc https://docs.microsoft.com/en-us/azure/active-directory-b2c/error-codes ..
and I found out that
<img width="482" alt="image" src="https://user-images.githubusercontent.com/77274155/165306263-eb58690c-fa19-466d-a74b-4f62b78a4649.png">
still no documentation aboput this error... I'm depressed :(
Please do something! I ne

[2022-04-26 13:16] MonikaReddy-MSFT commented on #92042
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-04-26 13:40] v-hgampala commented on #85622
#please-close

[2022-04-26 13:41] GeethaThatipatri-MSFT commented on #92022
@SJokubauskaite Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-04-26 13:44] GeethaThatipatri-MSFT commented on #92043
@waltheed Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-04-26 13:46] lucabovo commented on #84241
Hi @tamram ,
Are there any updates about this request?

Thanks a lot,
Luca

[2022-04-26 13:51] EyeVanF opened #92045 "typo in the 1st warning"
Hi,

There is a missing digit in the first warning "February 202"

_You must enable soft-delete on your key vaults immediately. The ability to opt out of soft-delete is deprecated and will be removed in February_ **202**. _See full details [here](https://docs.microsoft.com/en-us/azure/key-vault/general/soft-delete-change)_

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2022-04-26 13:55] timwarner-msft commented on #83844
#please-close

[2022-04-26 13:56] evanlangbehn opened #92046 "Nginx ingress controller pods do not respond to health probes on "/" and we need custom path annotation to send probe on"/healthz""
Starting on AKS clusters running K8s version 1.22, the default health probe path went from "/healthz" to "/". This default probe path is documented here: https://kubernetes-sigs.github.io/cloud-provider-azure/topics/loadbalancer/#custom-load-balancer-health-probe
The PR that changed the default probe path: https://github.com/kubernetes-sigs/cloud-provider-azure/pull/1384

The issue is that the ngi

[2022-04-26 13:56] #88525 closed

[2022-04-26 13:58] timwarner-msft commented on #88188
Thanks, @capdragon. I'll pass your feedback to the Azure Policy engineering team this morning.

[2022-04-26 13:58] timwarner-msft commented on #88188
#please-close

[2022-04-26 13:58] timwarner-msft commented on #90833
#please-close

[2022-04-26 13:58] #90833 closed

[2022-04-26 13:58] adagioajanes commented on #33601
Hey Team! We are approaching a year since I last commented on how the price explanation is confusing. I am not asking anyone here to change the prices. But, it is still nearly impossible to decipher how much the Application Gateway v2 is going to cost.

Can you please add more examples to the documentation?

[2022-04-26 14:08] MrVP opened #92047 "Page Improvement - UI view"
Hello,

Please show a demo filling in the values in UI - or is that not possible.

![image](https://user-images.githubusercontent.com/30156667/165318438-0e9343c9-2ca5-4a7f-8217-a453ea6da762.png)

in this example - can we give a example of the Name, Type and Value.  The image may have incorrect info in it.
We see the PowerShell examples, how about what it looks like on the UI.

I do appreciate the

[2022-04-26 14:26] bheddens opened #92049 "Envoy - SCIM - does not support just in time provisioning"
Envoy does not support just in time provisioning.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16d0bbff-ed6a-ebee-20bd-6856cb6fa10b
* Version Independent ID: 79c0091b-6151-1536-fd49-d90c355eff99
* Content: [Tutorial: Azure AD SSO integration with Envoy](https://docs.microsoft.com/en-us/azure/active-directory/saas-app

[2022-04-26 14:33] SumanthMarigowda commented on #92038
@oschakravarthi Thank for reaching out. Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2022-04-26 14:38] jcr010910 commented on #85414
Perfect, thanks!!

[2022-04-26 14:50] hurtn opened #92050 "Ambiguity around private endpoint usage"
Hello, some docs state that depending on source and region a SHIR is not required yet in others it states that a SHIR is required. For example
https://docs.microsoft.com/en-us/azure/purview/catalog-managed-vnet#managed-virtual-network
 vs
https://docs.microsoft.com/en-us/azure/purview/catalog-private-link-faqs#can-i-use-azure-integration-runtime-to-scan-data-sources-through-a-private-endpoint
vs
h

[2022-04-26 14:58] pemaxim opened #92051 "2022-01-01-preview api-version is not supported for Microsoft.ServiceBus/Namespaces"
Hello,

Based on the article, configuring the minimum TLS version requires api-version `2022-01-01-preview` or later of the Azure Service Bus resource provider.

But, on trying to apply ARM template with `Microsoft.ServiceBus/Namespaces` resource using `2022-01-01-preview` api-version, it returns the error:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2022-04-26 15:00] bharathsm opened #92052 "Issue with defaultSmbProtocolVersion variable name"
[Enter feedback here]
URL: https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/storage/files/files-smb-protocol.md#tab/azure-cli
Line X: defaultSmbProtocolVersions="\"smbProtocolVersions\": \"SMB2.1;SMB3.0;SMB3.1.1\""
Line Y: protocolSettings="${protocolSettings/$replaceSmbProtocolVersion/$defaultSmbProtocolVersion}"

There is an issue with variable name "defaultSmbProtocolVersions", It

[2022-04-26 15:04] AbhijithRavi opened #92053 "Azure Active Directory issue"
I am a member/user of an azure tenant operated by my professional organisation. As a member I am NOT given Azure portal Administration rights / access to Azure Active Directory under this tenant. Since I am NOT authorized I am not able to fetch user details from Azure AD UI interface and that is expected. But using Azure CLI, I am able to fetch all users/groups full profile details registered unde

[2022-04-26 15:11] spelluru commented on #91710
I created a work item to update documentation for this.

#please-close

[2022-04-26 15:11] #91710 closed

[2022-04-26 15:12] jasongroce commented on #86788
Thanks for your feedback @msalemcode! We are pulling this issue into our internal docs planning efforts and will update the article in the future. #please-close

[2022-04-26 15:12] #86788 closed

[2022-04-26 15:13] MonikaReddy-MSFT commented on #91902
@greg-lindsay   - Thank you for providing your insights.
@MmAtBosch- I hope @greg-lindsay has answered your question.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-04-26 15:13] #91902 closed

[2022-04-26 15:14] shashishailaj commented on #92045
@EyeVanF
Thank you for your feedback . We will investigate and update the thread.

[2022-04-26 15:15] fabioharams opened #92054 "Command with error"
[Enter feedback here]
The 2 commands here contain an error:

[LINK] https://docs.microsoft.com/en-us/azure/azure-arc/servers/ssh-arc-overview#create-default-connectivity-endpoint

Command with error:
az rest --method put --uri https://management.azure.com/subscriptions/<subscription>/resourceGroups/<resourcegroup>/providers/Microsoft.HybridCompute/machines/<arc enabled server name>/providers/Micro

[2022-04-26 15:16] #91982 closed

[2022-04-26 15:17] shashishailaj commented on #92026
@RodrigoTavaresIT
Thank you for your feedback . We will investigate and update the thread.

[2022-04-26 15:18] MonikaReddy-MSFT commented on #91814
@HenryLGatesFoundation - You can take a look at this doucment for more information: [ https://docs.microsoft.com/en-us/azure/backup/manage-afs-backup-cli](url) which has most of the main commands needed for you to achieve this requirement.

The product team also has a plan to update the documentation, but it might take some time as they need to test the script and publish it. I have requested them

[2022-04-26 15:18] #91814 closed

[2022-04-26 15:20] MonikaReddy-MSFT commented on #91897
@se02035 - Thanks for contributing to our docs and raising the PR. It will be live once its approved and merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-04-26 15:20] #91897 closed

[2022-04-26 15:24] shashishailaj commented on #92025
@aletar89
Thank you for your feedback . We will investigate and update the thread.

[2022-04-26 15:25] v-amallick commented on #91512
@carlosporter - The product team has a plan to update the update the article will relevant details that might need some time to publish. Will let you know once done.

@AnuragSingh-MSFT - Thanks for looping me in.

[2022-04-26 15:28] KatieKoslosky opened #92055 "Is HTTP Webhook actually supported for managed identities?"
Is HTTP Webhook actually supported for managed identities?
It does not seem possible either via the Designer or the Code View.
I found this Q&A from two years ago saying it wasnt possible then but hoping it has changed.
https://docs.microsoft.com/en-us/answers/questions/66658/how-to-add-managed-identity-to-webhook.html

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2022-04-26 15:30] shashishailaj commented on #92053
@AbhijithRavi
Thank you for your feedback . We will investigate and update the thread.

[2022-04-26 15:32] Rodrigossz commented on #92028
@gahl-levy will take a look.

[2022-04-26 15:45] mike-urnun-msft commented on #92017
Thank you for your feedback! We will review and update as appropriate.

[2022-04-26 15:47] xelizondo opened #92056 "Update Win 10/11 EMS can run on Azure Stack HCI"
We need to add verbiage that Windows 10/11 EMS can now run on Azure Stack HCI

"it's against the licensing agreement to run Windows 10 Enterprise multi-session outside of Azure for production purposes"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f267d00-6800-2bf9-122d-402b60672782
* Version Independent ID: 8ba82e23

[2022-04-26 16:01] kengaderdus commented on #91895
@skrabbe001
Thank you for your feedback and patience. We're investigating the sample and doc and we'll comment back when we've something.

[2022-04-26 16:11] #87221 closed

[2022-04-26 16:12] dlepow commented on #91404
@ciufudean - Thanks for contacting us about this documentation. I will add a not clarifying that the analytics feature counts failed/unauthorized requests. If you encounter issues using the feature, I recommend that you contact Azure support to help troubleshoot further.

[2022-04-26 16:15] KaranbirSingh7 commented on #91896
We are seeing same issue with "Premium" SKU of API-M.

Curious, what version/SKU you are running @jan-mrm?

[2022-04-26 16:18] KaranbirSingh7 commented on #91896
Also adding this here as it seems like an AAD request issue: https://docs.microsoft.com/en-us/answers/questions/826377/add-aad-groups-to-api-management.html

[2022-04-26 16:22] #89826 closed

[2022-04-26 16:23] twright-msft commented on #85875
@saimachi  - you did all the right things.  You're just at the point where you need to do the next step which is to export out the data and upload it to Azure. Please see this article: https://docs.microsoft.com/en-us/azure/azure-arc/data/upload-usage-data

[2022-04-26 16:25] mike-urnun-msft commented on #92019
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-04-26 16:26] mike-urnun-msft commented on #92029
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-04-26 16:28] dlepow commented on #91833
@xuwenjian1995 - Thank you for contacting us with this question. I think we can make it clearer in the documentation about the Administrator group that, while the members of the Administrator group are managed by APIM to include Azure subscription admins, it's possible to update the admin email address for notififications. I'll submit a doc update soon to address this.

[2022-04-26 16:40] daedam opened #92058 "Add detail to explain how to access mounted storage for Windows web apps"
For the "Windows code" hosting platform (for which I understand mounting Azure Storage is still in preview), the documentation does not explain how to access the mounted storage. Where does the mount exist, relative to the wwwroot of the site?

For example, if I have a Windows web app named 'mytestapp' and add a mount `/mounts/test`, and the mapped Azure Files share contains a file named `index.ht

[2022-04-26 16:42] msangapu-msft commented on #92058
@gsethgit Can you take a look at this?

[2022-04-26 16:43] msangapu-msft commented on #92058
#needs-sme-input

[2022-04-26 16:44] cameron-doherty opened #92059 "Better describe differences between EA and MCA for viewing usage data in Cost Mgmt + Billing"
Usage + Cost is not an option in the navigation menu on the Cost Management + Billing blade in the portal for Microsoft Customer Agreements.  The only analogous option to view usage data under an MCA billing profile is to review INVOICES and this article doesn't properly articulate the differences and causes confusion for administrators who need to manage both types.

This page [https://docs.micro

[2022-04-26 16:45] PriyankaRudramaina commented on #91291
Hello @lgmorand,

I have confirmed with the intenal teams and they have confirmed that LAD is not support with RHEL 8 in the current release. Most likely the support might be released in upcoming releases. No ETA as of today.

For any queries, please free to tag me in your comments.

[2022-04-26 16:45] #91291 closed

[2022-04-26 16:45] MarileeTurscak-MSFT commented on #92049
@bheddens
Thanks for your feedback! We will investigate and update as appropriate.

[2022-04-26 16:47] DerekHerman-MSFT commented on #92046
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-04-26 16:47] PriyankaRudramaina commented on #91889
@AllDeesScripts,

Thank you for the update. I am glad you are past the issue. For further updates on the issues concerning PS 7 core with Azure AD PS module, I would recommend you to follow this thread https://github.com/PowerShell/PowerShell/issues/10473

For any further queries or concerns please feel to reach out for help.

[2022-04-26 16:47] #91889 closed

[2022-04-26 16:48] VikasPullagura-MSFT commented on #91647
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2022-04-26 16:48] #91647 closed

[2022-04-26 16:55] HeidiSteen commented on #91967
@WailAbou I haven't gotten a response yet.  Could you file a support ticket for this?  https://azure.microsoft.com/en-us/support/create-ticket/

Or post to Stack Overflow:  https://stackoverflow.com/questions/tagged/azure-cognitive-search?tab=Newest

An engineer will see your issue if you follow either of the above approaches.  Sorry I couldn't help!

[2022-04-26 16:56] dlepow commented on #91819
@zealion - Thanks for contacting us with your question. Creating an OpenAPI definition for your web app depends on the  tooling you use to create the app. For example, you could add Swagger definitions to an ASP.NET Core web app using the Swashbuckle package. See example [here](https://docs.microsoft.com/aspnet/core/tutorials/publish-to-azure-api-management-using-vs?view=aspnetcore-6.0). Does this

[2022-04-26 16:57] #92035 closed

[2022-04-26 16:58] WailAbou commented on #91967
No problem, it is not a problem for me anymore as I am using the standard tier anyway, but I imagined it to be nice to have a disclaimer to avoid future confusion for other people. Anyway, thank you and have a nice day :)

[2022-04-26 17:07] KranthiPakala-MSFT commented on #92040
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-04-26 17:07] #81810 closed

[2022-04-26 17:07] dansemedo opened #92060 "Sample Fix Form Recognizer - Invoice"
The sample is not working, needed to refactor the code. (Invoice sample)

Here is a sample with the fix:

   Uri fileUri = new Uri("https://raw.githubusercontent.com/Azure-Samples/cognitive-services-REST-api-samples/master/curl/form-recognizer/invoice_sample.jpg");

AnalyzeDocumentOperation operation = await client.StartAnalyzeDocumentFromUriAsync("prebuilt-invoice", fileUri);

---
#### Document D

[2022-04-26 17:08] KranthiPakala-MSFT commented on #92047
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-04-26 17:09] deMD commented on #90285
Yeah we have a OpenApi defined via swashbuckle, it just is completely ignored when importing a Web App via de App Import option, which is why I created this ticket.

[2022-04-26 17:12] HeidiSteen commented on #91967
#please-close

[2022-04-26 17:13] zaalion commented on #91819
Thanks Dan. Makes sense. We can close this ticket.
Best

[2022-04-26 17:13] #91819 closed

[2022-04-26 17:30] alexandrejobin commented on #87177
Not sure if I understand it right but it there seems to have a contradiction here. The doc says **Set host caching to read-only for data file disks** and 2 lines after, it says **Do not enable read/write caching on disks that contain SQL Server data or log files**.

Which one is true?

Also, the web page https://docs.microsoft.com/en-us/azure/azure-sql/virtual-machines/windows/performance-guidelin

[2022-04-26 17:32] jan-mrm commented on #91896
We are using the Developer and Premium SKU and have issues in both

[2022-04-26 17:35] ajdvoynos opened #92061 "secureString should be all lowercase"
`secureString` is referenced in camel case, but the json schema specifies all lowercase: `securestring`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1cbb1ba3-d482-6296-6fdb-860a618935e4
* Version Independent ID: dd9c33a7-6647-2460-3b49-43d216013ed0
* Content: [Data types in templates - Azure Resource Manager](https:/

[2022-04-26 17:46] #91885 closed

[2022-04-26 17:48] nickludwig commented on #85021
Closing due to no status change. Hirsch's previous message still applies. I'll re-open if necessary.

[2022-04-26 17:48] nickludwig commented on #85021
#please-close

[2022-04-26 17:48] #85021 closed

[2022-04-26 17:50] #87267 closed

[2022-04-26 17:51] aleixsr opened #92062 "Bug found in ps code"
Hello, in your last script you've this wrong line:

`$userDisabledPlans = $license.ServiceStatus | where {$_.ProvisioningStatus -ieq "Disabled"} | Select -ExpandProperty ServicePlan | Select -ExpandProperty ServiceName`

it should be:
`$userDisabledPlans = $license.ServiceStatus | where {$_.ProvisioningStatus -ine "Disabled"} | Select -ExpandProperty ServicePlan | Select -ExpandProperty ServiceNam

[2022-04-26 17:53] #92042 closed

[2022-04-26 17:54] AaronMaxwell commented on #91897
Thanks for your dedication to our documentation. This issue has been triaged and the PR approved. #please-close

[2022-04-26 17:54] WilliamDAssafMSFT commented on #92043
@waltheed Thanks for taking the time to provide this feedback. It's a good point that the permissions for each of the methods should be more clear. In this case, the [permissions for the TSQL method](https://docs.microsoft.com/sql/t-sql/statements/alter-database-transact-sql?view=azuresqldb-current&preserve-view=true&tabs=sqlpool#permissions-1) via `ALTER DATABASE` should suffice:

"To alter a dat

[2022-04-26 17:54] #92043 closed

[2022-04-26 17:55] laujan commented on #92060
Hi @dansemedo, Thank you for reaching out. I tested the [C# prebuilt-invoice](https://docs.microsoft.com/en-us/azure/applied-ai-services/form-recognizer/quickstarts/try-v3-csharp-sdk#prebuilt-model) and did not find any issues. Can you please provide more information? Thank you!

[2022-04-26 17:58] dlepow commented on #83116
@wviriya - First, apologies for the delay responding to your question. We have work in progress to clarify the description of VIP/DIP addresses in this content and will resolve this issue soon. Thank you for contacting us about Microsoft docs.

[2022-04-26 17:58] Grace-MacJones-MSFT commented on #91967
Thanks for all your help @HeidiSteen !

As Heidi stated we would need to connect you with a support engineer to investigate further. @WailAbou, if you would like for me to open a  free one time support ticket I can help you with that. please send me an email at  azcommunity@microsoft.com with the subject ATTN: Grace and in the body of the email include your Azure Subscription ID.

[2022-04-26 17:59] tfitzmac commented on #86474
Please see #91902 - the limit is applied to the number of resources. @greg-lindsay
#please-close

[2022-04-26 17:59] #86474 closed

[2022-04-26 18:06] Copennin opened #92063 "Add-chat quick start does not work"
Please check my pull request: https://github.com/Azure-Samples/communication-services-javascript-quickstarts/pull/58

Out-of-the-box, this quick start no longer works, because Webpack's latest version doesn't work with the current config file/architecture of the application.

I got things working by modifying the structure and tweaking the config file.

---
#### Document Details

⚠ *Do not edit th

[2022-04-26 18:12] dansemedo commented on #92060
Hi @laujan, you may close this, I made a confusion between the two samples in the same doc (layout and invoices). You are right, it is working fine.

[2022-04-26 18:14] asherk-kxs opened #92064 "Out of date info"
My view of the Azure Portal has "SSH Password" not "password" etc. for Add local user.
I think the docs are out of date with the current portal version.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7d93704-cc4c-04a0-beb4-84983853cbb1
* Version Independent ID: c999a603-b02d-a56d-1bef-0cd4916b6a2b
* Content: [Connect

[2022-04-26 18:23] fr-DeepakKUMAR opened #92065 "Incorrect format of the example json for overage claim section"
Hello Microsoft Azure Team

I would request you to please improve the json file example for the overage claim part. There are extra curly braces for the `_claim_sources` part.

This actually is a bit confusing. I had to check the actual response inorder to figure it out. Could you please update it if possible.

Thank you !

**AS IS**

[code]

**TO BE**

[code]

---
#### Document Details

⚠ *Do not

[2022-04-26 18:23] ezwiefel opened #92066 "Component YAML Schema change not reflected"
This example shows the old schema for the component definition.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73a70fdb-96e1-a30f-bd42-450eba903109
* Version Independent ID: f9b84ffe-95d0-f2e8-184c-70361de4aa66
* Content: [What is a component (preview) - Azure Machine Learning](https://docs.microsoft.com/en-us/azure/ma

[2022-04-26 18:29] dlepow commented on #54165
I created a backlog workitem to address this documentation enhancement when it's prioritized in a future documentation sprint. According to our usual process, I'll proceed to close this issue. Thanks for raising this question!
#please-close

[2022-04-26 18:29] #54165 closed

[2022-04-26 18:30] steve-warren opened #92067 "Missing Step for "Host load-balanced Azure web apps at the zone apex" Documentation"
The section **Add a TXT record for custom domain validation** should include a 4th step which states:

Custom domain verification will fail for the second web app if a TXT record isn't added for the second web app (see section **Add a custom domain**).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c48f4d61-3e3d-30f8-b

[2022-04-26 18:34] RickKra opened #92068 "example for Resource dependencies is incorrect"
Isn't the example for Resource dependencies incorrect? It mentions referencing nsg.id, but that resource is named netSecurityGroup.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff535f6e-0610-e9a8-008a-7f6856dde181
* Version Independent ID: b9f6948c-56f6-081b-834a-d1c5ecf50a1a
* Content: [Compare syntax for Azure Reso

[2022-04-26 18:37] PriyankaRudramaina commented on #91013
Hello @thiruma0203,

I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-04-26 18:39] PriyankaRudramaina commented on #90150
Hello @jeffgayle,

I have assigned the issue to @sarabdua who had a conversation with you earlier on this and he will update the document as appropriate.

[2022-04-26 18:40] duongau commented on #91820
Hello @GavinJin88, the PG team has told me they're aware of this particular issue and will have a fix deployed in the coming weeks. Thank you for bringing this to our attention.

[2022-04-26 18:41] nickludwig commented on #92065
Thanks for the call-out, @fr-DeepakKUMAR! I put in a fix and will merge it shortly.

[2022-04-26 18:43] congyiwu commented on #91735
@Aarthi-Vijayaraghavan @kobulloc-MSFT
https://github.com/MicrosoftDocs/azure-docs/blob/0a85a120cf26abae47032dee7e29b44ba88dc2f5/articles/virtual-machines/ephemeral-os-disks.md?plain=1#L43 still says that the OS disk is deleted when the VM is stopped (as opposed to stop/deallocated).

This doesn't seem correct?

Rendered context:
|   | Persistent OS Disk | Ephemeral OS Disk |
|---|---|---|
| **Stop

[2022-04-26 18:45] fr-DeepakKUMAR commented on #92065
Thank you so much. Appreciate the prompt support !

[2022-04-26 18:46] tfitzmac commented on #92005
@minnmax - I see that Bastion is [not supported with a private DNS zone](https://docs.microsoft.com/en-us/azure/bastion/tutorial-create-host-portal#prerequisites). Is this perhaps the issue you are facing?

[2022-04-26 18:48] tfitzmac commented on #92068
@RickKra - thanks for this feedback. You are correct. I'll fix the example.

[2022-04-26 18:51] Oury-MSFT commented on #91800
@davehcdn I am assigning this to the content author for review.

[2022-04-26 19:14] tfitzmac commented on #92068
The update should get published later today.
#please-close

[2022-04-26 19:14] #92068 closed

[2022-04-26 19:17] YutongTie-MSFT commented on #92066
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-04-26 19:20] cynthn commented on #91013
#reassign @ju-shim

[2022-04-26 19:28] davidsmatlak commented on #91734
Verified that the Synapse workspace dedicated sqlPool name accepts up to 60 characters. Characters that aren't allowed are: `<>*%&:\/?@-` or control characters. Can't end with dot (`.`) or space. Name must be unique within the workspace.

[2022-04-26 19:29] minnmax commented on #92005
Correct that's the issue.  Bastion have documented that, yet ARM public doc not mention any possible side effects.  The support case I got was Bastion stop working after implement private management, took us long time to find out why.  User don't get that warning before deploy private resource management.

Best Regards,

***@***.***
Samuel Chiang
***@***.***
Support Engineer
Azure Networking
Offic

[2022-04-26 19:44] timwarner-msft commented on #85953
Hi @wenjason. Where you define the initiative determines where you can assign it. That is, if you define a policy at the Tenant Root scope, then you can assign it to any management group, subscription, or resource group.

If you define a policy at the subscription scope, then its available for assignment only at that subscription scope or lower down the hierarchy (resource groups within the subscr

[2022-04-26 19:44] davidsmatlak commented on #91734
@hdrenollet-csusa Thank you for the feedback about the article. You're correct and I'll update the article. The updated content should be online within 24-hours.

Verified that the Synapse workspace dedicated sqlPool name accepts up to 60 characters. Characters that aren't allowed are: `<>*%&:\/?@-` or control characters. Can't end with dot or space. Name must be unique within the workspace. Can't

[2022-04-26 19:47] davidsmatlak commented on #91734
I submitted the fix for this issue and after it's approved and merged, this issue will automatically close. After the merge, the updated document will be online within 24 hours.

[2022-04-26 19:52] bandersmsft commented on #92008
@v-sashig I've updated all Cost Management + Billing docs to say something similar to: *Credit cards are accepted and debit cards are accepted by most countries or regions. However, Hong Kong and Brazil only support credit cards.*

Per the Billing engineering team, Japan should accept debit cards. If you're having a problem getting a debit card accepted, please create a support request in the Azur

[2022-04-26 19:52] bandersmsft commented on #92008
https://github.com/MicrosoftDocs/azure-docs-pr/pull/196171

[2022-04-26 19:53] bandersmsft commented on #92008
@MonikaReddy-MSFT FYI.
#please-close

[2022-04-26 19:53] nickludwig commented on #92065
#please-close

[2022-04-26 19:53] #92065 closed

[2022-04-26 19:58] timwarner-msft commented on #85953
#please-close

[2022-04-26 19:58] #85953 closed

[2022-04-26 19:59] MarileeTurscak-MSFT commented on #92062
@aleixsr
Thanks for your feedback! We will investigate and update as appropriate.

[2022-04-26 20:16] ChaitanyaNaykodi-MSFT commented on #92067
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-04-26 20:37] mike-urnun-msft commented on #92055
Hello @KatieKoslosky - Thank you for your feedback. Since this repo is for driving improvements toward MS Docs, could you ask this question on MS Q&A channel instead?

[2022-04-26 20:41] #91734 closed

[2022-04-26 20:48] MarileeTurscak-MSFT commented on #92062
Thanks! I made a pull request to update the line. https://github.com/MicrosoftDocs/azure-docs-pr/pull/196180

@curtand

[2022-04-26 20:48] #92062 closed

[2022-04-26 20:49] meenasaravanan02 commented on #79156
Hi @ruoxuMS, We have corrected the ARM template.  The issue is resolved in two PRs. Here are the PR links - https://github.com/MicrosoftDocs/azure-docs-pr/pull/196148 and https://github.com/MicrosoftDocs/azure-docs-pr/pull/196177
#Please-close this issue

[2022-04-26 20:49] #79156 closed

[2022-04-26 20:50] MonikaReddy-MSFT commented on #92008
@bandersmsft - Thank you for taking care of the issue.

[2022-04-26 20:52] MonikaReddy-MSFT commented on #92054
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-04-26 20:52] MonikaReddy-MSFT commented on #92059
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-04-26 20:55] MonikaReddy-MSFT commented on #92061
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-04-26 20:55] jason934 opened #92071 "Missing abbreviations for regional SKUs."
We need a list of abbreviations and acronyms for each region so it matches EA pricing. For example, the below table is from a customer EA pricesheet, but nowhere in our documentation can we decipher what each acronym in a SKU stands for. Some are self-evident like "UK North", but others like "ZA North" , are not. The Azure Pricing Calculator doesn't use the same abbreviations either, so unless one

[2022-04-26 21:03] MarileeTurscak-MSFT commented on #92049
@bheddens can you please elaborate? Where did you get this information?

[2022-04-26 21:11] gahl-levy commented on #92028
This has been fixed - the updates should be reflected shortly. Thanks for pointing this out!

[2022-04-26 21:12] ahmedsowdagar opened #92072 "Use metrics explorer to analyze data from Azure Monitor Logs."
Use  metrics explorer to analyze data from Azure Monitor Logs - This seems to be wrong in this page. I think we need to use Log Analytics to analyze data from Azure Monitor Logs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1fdee766-7a64-5b14-7843-d5bbdb789513
* Version Independent ID: f2fd5b44-c3ae-d587-f6a1-7b94367

[2022-04-26 21:13] MonikaReddy-MSFT commented on #92024
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-04-26 21:26] erik-ha-msft commented on #92046
Thank you for the feedback.

As stated in the document:

    --version 4.0.13 \
    --namespace ingress-basic --create-namespace \
    --set controller.replicaCount=2 \
    --set controller.nodeSelector."kubernetes\.io/os"=linux \
    --set controller.image.registry=$ACR_URL \
    --set controller.image.image=$CONTROLLER_IMAGE \
    --set controller.image.tag=$CONTROLLER_TAG \
    --set controller

[2022-04-26 21:26] #92046 closed

[2022-04-26 21:32] brbar99 opened #92075 "Entity Framework Dummy Connection String"
When setting an entity framework connection string from the portal is it still required to include a dummy connection string in the web.config? I can confirm it was a requirement back in 2021, but do you know if it's changed, and if it hasn't, can it be covered in this document?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2022-04-26 21:46] tfitzmac commented on #92005
@minnmax - thanks, I added the info about Azure Bastion to the note that already contained info about AKS not being supported. I believe the update will get published tomorrow.
#please-close

[2022-04-26 21:46] #92005 closed

[2022-04-26 21:54] GeethaThatipatri-MSFT commented on #91778
@L-u-k-e-GIT Appreciate your feedback on improving our documentation, I am assigning this to the author for the feedback review.

[2022-04-26 21:55] RickKra opened #92076 "Visualize resources specifies wrong location of button"
Under "Visualize resources" it says "From the upper left corner, select the visualizer button to open the Bicep Visualizer". That button is in the upper right corner.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93c57e72-ae78-42e8-d5d4-d4e2e1fe1ac9
* Version Independent ID: 7bc93026-786d-fb0a-109e-83bb98f956d8
* Cont

[2022-04-26 21:55] RyanHill-MSFT commented on #91884
You are correct @krispenner, it should be `__` (double underscore). I've got a pending PR to address this gap.

[2022-04-26 21:59] mamccrea commented on #91799
Hi @martvyoo - the driver extension installs the NVIDIA driver for your VM. When a CUDA driver is installed, the CUDA toolkit is also installed.

[2022-04-26 22:05] laujan commented on #92060
Hi @dansemedo, Thank you for letting me know.  Best, la 🙂

[2022-04-26 22:06] laujan commented on #92060
#please-close

[2022-04-26 22:06] #92060 closed

[2022-04-26 22:16] gysiedebruyn opened #92077 "Typo in Site Recovery Security Baseline document"
In the first paragraph of heading **PV-1: Establish secure configurations for Azure services** there is a typo, just need to change _... are available in **AMicrosoft** Defender for Cloud..._ to _... are available in **Microsoft** Defender for Cloud..._

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c530584-4b74-cbfe-

[2022-04-26 22:24] bheddens commented on #92049
Hi @MarileeTurscak-MSFT, I work at Envoy and lead Solutions Engineering which oversees a lot of integration efforts for the company. Envoy has never had the ability to handle just in time provisioning and when I submitted the Azure SCIM app back in 2019, that was not part of my submission.

[2022-04-26 22:30] #91884 closed

[2022-04-26 22:37] ajonno commented on #91936
Thanks but that doesn't answer my question. My question is about the cosmos db **change feed**

[2022-04-26 22:43] RyanHill-MSFT commented on #92032
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-04-26 22:45] RyanHill-MSFT commented on #92050
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-04-26 22:46] RyanHill-MSFT commented on #92051
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-04-26 22:49] RyanHill-MSFT commented on #92063
Sure thing [@Copennin](https://github.com/Copennin), will take a look and thank you for your contribution!

[2022-04-26 22:50] RyanHill-MSFT commented on #92056
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-04-26 22:52] RyanHill-MSFT commented on #92052
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-04-26 23:09] tkent opened #92078 "ServiceBus breaking change pushed out, docs quietly updated"
This gets to be a very short issue.

The API for Microsoft Service Bus had a breaking change pushed out. All `DataAction` type actions were just removed and attempts to use them will result in errors. People who had code that followed the docs and relied on that feature just had their code break in the last few days. The docs were quietly updated to remove references to the vanished actions. See t

[2022-04-26 23:09] Karishma-Tiwari-MSFT commented on #91848
As per these docs,

https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/master/docs/install-driver-on-aks.md
https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/master/docs/install-driver-on-aks.md

From AKS 1.21, Azure Disk and Azure File CSI drivers would be installed by default.

Follow AKS doc: [Enable CSI drivers for Azure disks and Azure Files on AKS (preview)](https://docs

[2022-04-26 23:13] tomvcassidy commented on #91736
Hi @krispenner! The doc has since been updated with the new, correct limitations. And yes, you were correct. Central Canada is no longer a limitation. Thanks for your feedback.  #please-close

[2022-04-26 23:13] #91736 closed

[2022-04-26 23:18] gysiedebruyn opened #92079 "IM-2: Manage application identities securely and automatically - Hyperlink returns 404"
The hyperlink in content of heading **IM-2: Manage application identities securely and automatically** returns 404. It links to: https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/overviewServices

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c530584-4b74-cbfe-9ee6-6bd0435f79cd

[2022-04-26 23:20] fitzgeraldsteele commented on #89326
@Yunus-MSFT Can you provide a repro on this? I'm not aware of anything blocking OB access when instances are behind an LB. My alias is fisteele if that helps.

[2022-04-26 23:21] Karishma-Tiwari-MSFT commented on #91901
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-04-26 23:23] golden-rule commented on #92078
+1, seeing the exact same issue.

[2022-04-26 23:24] jsalser commented on #92078
Please fix this.

[2022-04-26 23:27] gysiedebruyn opened #92081 "PA-1: Protect and limit highly privileged users - Hyperlink returns 404"
The hyperlink in heading **PA-1: Protect and limit highly privileged users** returns a 404. Embedded url is: https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/directory-assign-admin-rolesUse

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c530584-4b74-cbfe-9ee6-6bd0435f79cd
* Version Independen

[2022-04-26 23:27] Karishma-Tiwari-MSFT commented on #91934
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-04-26 23:40] GitTorre commented on #67594
Yes, this is advisable. You should create a singleton instance of FabricClient.

[2022-04-26 23:50] GeethaThatipatri-MSFT commented on #91831
@kimjamia Since we did not hear back from you We will proceed to close this issue now.
If there are further questions regarding this, please comment and we will gladly continue the discussion.

[2022-04-26 23:50] #91831 closed

[2022-04-27 00:04] KrishnaG-MSFT commented on #92072
@ahmedsowdagar Thanks for your comment! We will review and provide an update as appropriate.

[2022-04-27 00:05] KrishnaG-MSFT commented on #92076
@RickKra Thanks for your comment! We will review and provide an update as appropriate.

[2022-04-27 00:07] KrishnaG-MSFT commented on #92077
@gysiedebruyn Thanks for your comment! We will review and provide an update as appropriate.

[2022-04-27 00:08] KrishnaG-MSFT commented on #92079
@gysiedebruyn Thanks for your comment! We will review and provide an update as appropriate.

[2022-04-27 00:09] KrishnaG-MSFT commented on #92081
@gysiedebruyn Thanks for your comment! We will review and provide an update as appropriate.

[2022-04-27 00:10] rolyon commented on #92078
Hi,
We've sent a message and tried to find a contact who can investigate. I'm not sure how quickly your feedback will be routed using documentation issues. Have you also created an Azure support request? If not, I recommend creating one. The support team can route more effectively.
https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request

[2022-04-27 00:22] martinVyoo commented on #91799
This is pretty clear in the documentation. However, what is not clear is if the **container** toolkit is included in this extension. The container toolkit is what makes it possible to link nvidia gpus to docker containers (the nvidia-container2 package on ubuntu, for example)

https://docs.nvidia.com/datacenter/cloud-native/container-toolkit/install-guide.html

[2022-04-27 00:26] b-hchen commented on #91994
@[elfcounsel](https://github.com/elfcounsel) - Thank you, Win!  I consulted PM and TME.  Will reach out via email with additional info.

[2022-04-27 00:35] tkent commented on #92078
@rolyon - I've, just now, filed an azure support request (`2204270010000041`).

It does seem a bit obfuscated to file an account request for a platform-wide regression like this. It has nothing to do any account, subscription or resource, and I'm required to fill out an entry for each to submit a request.

If there was a platform project on github, that would seem like a natural fit, but I didn't

[2022-04-27 00:39] quintonanderson-zetaris opened #92082 "Exmple Repo doesn't work against default kubernetes version"
In attempting to follow the tutorial for Flux2, I have used the example  [report](https://github.com/Azure/gitops-flux2-kustomize-helm-mt) referenced in the documentation. I forked the repo and attempted to use both the CLI and portal approaches to creating the flux config. In both cases the nginx deployment fails with the following error:

`[
    {
        "lastTransitionTime": "2022-04-27T00:05:

[2022-04-27 00:47] bluefooted commented on #87177
@alexandrejobin They are both true. You should never use read/write caching for disks that host SQL Server data or log files, you should only use read-only caching. Write caching does not guarantee durability so it is not appropriate for SQL Server files, and in fact SQL Server guarantees durability by forcing a flush to disk for all its writes so it actually won't even provide a benefit for SQL S

[2022-04-27 01:00] xelizondo commented on #92056
I don't think the content author is involved in this anymore, so not sure who else could validate approve.

[2022-04-27 01:01] rolyon commented on #92078
@tkent - Thanks for creating the Azure support request. I think support requests are the recommended way to request support in Azure. I'm not aware of a repo to submit Azure product-related feedback.
At the bottom of many Azure doc pages is a Feedback section with links to provide either product feedback or doc feedback for a page. We also have the Q&A forum.
https://docs.microsoft.com/en-us/answe

[2022-04-27 01:03] rolyon commented on #91863
Hi @mikebarnett
Thanks for your feedback. We added a section for Microsoft.ResourceGraph:
https://docs.microsoft.com/en-us/azure/role-based-access-control/resource-provider-operations#microsoftresourcegraph
Let us know if you have any additional feedback.

[2022-04-27 01:03] rolyon commented on #91863
#please-close

[2022-04-27 01:03] #91863 closed

[2022-04-27 01:15] gysiedebruyn opened #92083 "NS-3: Establish private network access to Azure services - Hyperlink returns 404"
The hyperlink in heading **NS-3: Establish private network access to Azure services** returns a 404 when following. It points to https://docs.microsoft.com/en-us/azure/private-link/private-link-overviewPrivate

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c530584-4b74-cbfe-9ee6-6bd0435f79cd
* Version Independent ID:

[2022-04-27 01:25] KrishnaG-MSFT commented on #92083
@gysiedebruyn Thanks for your comment! We will review and provide an update as appropriate.

[2022-04-27 01:35] dsouzaarun commented on #92078
Thank you for reporting this issue. The root cause is Azure.ServiceBus is in the process of rolling out a new API version (2022-01-01-preview) and that API version has a bug, which is causing it to advertise an incomplete list of operations.

I believe the docs are auto-generated from the latest advertised list of operations. This change is not international, and we are rolling out a fix for it ri

[2022-04-27 02:02] markingmyname commented on #86687
#reassign @kabharati

thank you.

[2022-04-27 02:11] markingmyname commented on #86687
seems complete.

[2022-04-27 02:11] markingmyname commented on #86687
#please-close

[2022-04-27 02:11] #86687 closed

[2022-04-27 02:16] markingmyname commented on #79686
@Jiihaa

Thak you for your suggestion.

Apologies, however, we no longer are updating any content related to "Single Server."

Moving forward we will only update Flexible Server and Hyperscale content.

[2022-04-27 02:17] markingmyname commented on #79686
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue. To ask a question directly to our Q&A environment, please visit https://docs.microsoft.com/en-us/answers/support/ for more information on asknig questions about the product or service.

Thank you.

[2022-04-27 02:17] markingmyname commented on #79686
#please-close

[2022-04-27 02:17] #79686 closed

[2022-04-27 02:20] markingmyname commented on #86881
#assign @Kanchan

[2022-04-27 02:20] PRMerger9 commented on #86881
The following users don't have valid GitHub IDs, or are not collaborators on this repo: kanchan

[2022-04-27 02:25] markingmyname commented on #88228
@LifeRyuto

We sincerely apologize for the delayed response to this issue. I collaborate with the owners of the GitHub Issues related to PostgreSQL to help either get them resolved or determine how to update our documentation.

As such, is this GitHub Issue still a concern for you? If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discus

[2022-04-27 02:27] markingmyname commented on #89424
#assign @GennadNY

[2022-04-27 02:27] markingmyname commented on #89424
We sincerely apologize for the delayed response to this issue. I collaborate with the owners of the GitHub Issues related to PostgreSQL to help either get them resolved or determine how to update our documentation.

As such, is this GitHub Issue still a concern for you? If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we

[2022-04-27 02:29] markingmyname commented on #89993
#assign @kabharati

[2022-04-27 02:29] markingmyname commented on #89993
We sincerely apologize for the delayed response to this issue. I collaborate with the owners of the GitHub Issues related to PostgreSQL to help either get them resolved or determine how to update our documentation.

As such, is this GitHub Issue still a concern for you? If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we

[2022-04-27 02:30] markingmyname commented on #90055
#reassign @kabharati

[2022-04-27 02:31] markingmyname commented on #90055
We sincerely apologize for the delayed response to this issue. I collaborate with the owners of the GitHub Issues related to PostgreSQL to help either get them resolved or determine how to update our documentation.

As such, is this GitHub Issue still a concern for you? If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we

[2022-04-27 02:32] markingmyname commented on #90338
#assign @kabharati

[2022-04-27 02:35] markingmyname commented on #90338
@paulhaefeli

We appreciate your suggestion.

However, we are no longer updating any "Single Server" content.

We are only updating Flexible server and Hyperscale content moving forward.

[2022-04-27 02:36] markingmyname commented on #90338
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue. To ask a question directly to our Q&A environment, please visit https://docs.microsoft.com/en-us/answers/support/ for more information on asknig questions about the product or service.

Thank you.

[2022-04-27 02:36] markingmyname commented on #90338
#please-close

[2022-04-27 02:36] #90338 closed

[2022-04-27 02:37] markingmyname commented on #90343
#assign @kabhati

[2022-04-27 02:37] PRMerger7 commented on #90343
The following users don't have valid GitHub IDs, or are not collaborators on this repo: kabhati

[2022-04-27 02:38] markingmyname commented on #90546
#reassign @kabharati

[2022-04-27 02:39] markingmyname commented on #90546
We sincerely apologize for the delayed response to this issue. I collaborate with the owners of the GitHub Issues related to PostgreSQL to help either get them resolved or determine how to update our documentation.

As such, is this GitHub Issue still a concern for you? If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we

[2022-04-27 02:40] markingmyname commented on #90608
@sd40205

We appreciate your suggestion.

However, we are no longer updating any "Single Server" content.

We are only updating the Flexible Server and Hyperscale content moving forward.

[2022-04-27 02:40] markingmyname commented on #90608
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue. To ask a question directly to our Q&A environment, please visit https://docs.microsoft.com/en-us/answers/support/ for more information on asknig questions about the product or service.

Thank you.

[2022-04-27 02:40] markingmyname commented on #90608
#please-close

[2022-04-27 02:40] #90608 closed

[2022-04-27 02:46] RajithaE-jan commented on #91574
Hi @xumo-95  CC @BryanTrach-MSFT
Any update about this query?

[2022-04-27 03:14] anancola opened #92084 "Don't know command and how to setup "Metrics collector configuration""
[Enter feedback here]
It's better if provide sample for "Metrics collector configuration setup"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b6f53323-f01c-5eb0-6f98-c0c8914bd610
* Version Independent ID: b3e85483-faaf-22d2-e72c-1e2fb3ba0066
* Content: [Collect and transport metrics - Azure IoT Edge](https://docs.micr

[2022-04-27 03:19] Morgwee opened #92085 "Link to interactiveSearch.html page is broken"
On page https://docs.microsoft.com/en-us/azure/azure-maps/quick-demo-map-app

The link to the interactiveSearch,html points to a broken link
https://github.com/Azure-Samples/AzureMapsCodeSamples/blob/master/AzureMapsCodeSamples/Tutorials/interactiveSearch.html

This is in the section titled "Download and update the Azure Maps demo", step 1.

Edited: Added doc metadata

---
#### Document Details

⚠

[2022-04-27 03:31] tkent commented on #92078
@dsouzaarun I appreciate the direct and clear explanation. We're obviously frustrated with the problem and that we had to go looking for what happened. We did expect to see something on the Azure Status page, but that's still all green.

Can you please update here when the regression is reverted?

[2022-04-27 03:32] sreekzz commented on #91959
@CHEEKATLAPRADEEP-MSFT @mogorant - Added a link to the script (in a new page as a code block)

[2022-04-27 03:58] SnehaAgrawal-MSFT commented on #92075
@brbar99 Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-04-27 04:05] SreejaBhattacharya-MSFT commented on #92071
Hi @jason934 , thanks for the feedback. We will look into this and provide an update.

[2022-04-27 04:26] #91764 closed

[2022-04-27 04:35] CHEEKATLAPRADEEP-MSFT commented on #91835
@filippopovic Could you please review and approve the PR?

[2022-04-27 04:47] CHEEKATLAPRADEEP-MSFT commented on #91959
@sreekzz Thanks for updating the link.

@mogorant Noe you can see the link for the script:

![image](https://user-images.githubusercontent.com/79183421/165442618-455056c9-9de2-47d1-a042-d0f7b6e89aa5.png)

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-04-27 04:47] #91959 closed

[2022-04-27 04:47] ahrib opened #92087 "Single database storage limits / maximum storage size"
In section Single database storage limits, maximum storage size for standard tier is listed as 1TB - however the maximum appears to be 250 GB.

linked documentation with detailed limits
https://docs.microsoft.com/en-us/azure/azure-sql/database/resource-limits-dtu-single-databases?view=azuresql#standard-service-tier-continued

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2022-04-27 04:48] CHEEKATLAPRADEEP-MSFT commented on #92015
@rockboyfor It is not currently available in Mooncake.  The PG was waiting until the feature reached general private preview availability.  Now that the feature has reached Public Preview, the PG will (presumably) begin evaluating it for Mooncake.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue th

[2022-04-27 04:48] #92015 closed

[2022-04-27 04:55] SumanthMarigowda commented on #92064
@asherk-kxs Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2022-04-27 05:07] ShaikMaheer-MSFT commented on #91903
@Briwalkr Thank you for sharing feedback. Are you referring to below example from the doc?
![image](https://user-images.githubusercontent.com/84302758/165444219-8cb6c45f-65c6-42c9-9778-cd166befec8c.png)

In above example, the returned results wrapped with [ and ]. That indicates that its an array and yes as you rightly pointed it contains only one item in it. Showing example only with one item may

[2022-04-27 05:19] AnuragSharma-MSFT commented on #92087
@ahrib Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-04-27 05:21] AnuragSharma-MSFT commented on #91936
@ajonno Sorry I missed that part. I am tagging the content author to provide more details on that.

[2022-04-27 05:32] AnuragSharma-MSFT commented on #92028
@gahl-levy Thanks for fixing this, I can see the changes reflected properly in the doc.

<img width="600" alt="image" src="https://user-images.githubusercontent.com/66360845/165447489-f28a4ce0-8fb0-494e-83a7-492bca3880cf.png">

@Danferno Thanks for your feedback, this has been fixed and you can verify the changes as well.

We will now proceed to close this thread. If there are further questions re

[2022-04-27 05:32] #92028 closed

[2022-04-27 05:33] MughundhanRaveendran-MSFT commented on #91937
@shashankkr , GraphQL will be GA at the MS build event which would happen in the month of May 2022
https://mybuild.microsoft.com/en-US/home

[2022-04-27 05:33] #91937 closed

[2022-04-27 05:36] AnuragSharma-MSFT commented on #92012
Hi @MashaMSFT We will be closing this issue but if needed we can reopen it as per your feedback. Thanks

[2022-04-27 05:37] #92012 closed

[2022-04-27 05:38] AshokPeddakotla-MSFT commented on #92084
@anancola Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-04-27 05:41] ubergeekNZ opened #92088 "Unexpected error Operation returned an invalid status code 'Not Found' when using CloudToDeviceMethod"
I am also getting this issue by following the example

https://docs.microsoft.com/en-us/azure/iot-hub/quickstart-control-device?pivots=programming-language-python&WT.mc_id=IoT-MVP-5002324

My library version are:

- azure-core==1.23.1
- azure-iot-device==2.11.0
- azure-iot-hub==2.2.1

Python version 3.8.10.

I can see the messages going to my IoT Hub but am unable to connect using BackEndApplicati

[2022-04-27 05:46] ShaikMaheer-MSFT commented on #91946
@RRRajput I tried to reproduce this example. When we selected "First matching condition" then "disjoint" should be false. Please check below screenshot.
![image](https://user-images.githubusercontent.com/84302758/165449296-b58c2885-5f17-43d8-b8ef-967588ded110.png)

I will be updating document and submitting PR for same soon.

[2022-04-27 05:51] ShaikMaheer-MSFT commented on #91946
Submitted PR for this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/196238

[2022-04-27 06:00] SreejaBhattacharya-MSFT commented on #91818
Closing this thread as we didn't receive an update from you. Feel free to reach back at any point in time, and we can continue the discussion from here onwards. Thanks.

[2022-04-27 06:00] #91818 closed

[2022-04-27 06:00] bubbletroubles opened #92090 "Cross-region connectivity via Azure vWAN"
Under the heading "What is the recommended way to connect managed instances placed in different regions?" I believe there is now a new method too - Azure Virtual WAN. It doesn't have the limitations of global vNet Peering and I believe it would be a supported scenario.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1e

[2022-04-27 06:14] MayankBargali-MSFT commented on #91975
@JosefPihrt My bad and thanks for your response. There was bug in the portal due to which I have observed this behavior and the team will be fixing the portal issue. Yes you are correct and I will update the doc as PartitionKey support both static and dynamic values.

[2022-04-27 06:18] MayankBargali-MSFT commented on #91975
@JosefPihrt I have updated the doc and it will be published soon. We appreciate the feedback!

[2022-04-27 06:25] Rsimk commented on #36607
Hi,
I tested Azure PIM to verify some of the features and disabled afterwards, but I am keep getting Weekly Digest messages. Is there a way to disable it? Tried all mentioned here suggestions. Nothing worked.

[2022-04-27 06:26] #91975 closed

[2022-04-27 06:28] ShaikMaheer-MSFT commented on #91946
https://github.com/MicrosoftDocs/azure-docs-pr/pull/196238 PR merged successfully. Changes will be live soon. Thank you.

[2022-04-27 06:28] #91946 closed

[2022-04-27 06:42] SuperGraham commented on #51847
I had the same issue and duly flipped the isAsync from true to false, but this prevents any events from being triggered.  I now have the code working with isAsync=true in the Azure Maps API call and the function app compiles. I'm not sure what's changed, but if I flip isAsync from true to false I now get some runtime errors, so I leave it as true.  I have Azure Maps Geofence entered/exited events

[2022-04-27 06:45] rockboyfor commented on #92015
@CHEEKATLAPRADEEP-MSFT, Do appreciate your prompt response!

Best Regards,

[2022-04-27 07:22] nc-ruth commented on #91848
Thank you @Karishma-Tiwari-MSFT
But my question is what upgrade/update procedure that the CSI driver have?
Like is it automatically upgraded upon each minor release, or is it upgraded whenever we upgrade the AKS cluster?

[2022-04-27 07:56] shwetamathur7 commented on #91932
@aneesh631, The redirect URI has the successful response after admin approves the permission for the application using admin consent endpoint. It is just the confirmation sent to the admin that permissions has been granted successfully. If any attacker tried to update admin_consent to False, it won't revoke the access granted by admin.

Consumer can verify the consent has been granted by admin in

[2022-04-27 08:12] kudlatiger opened #92092 "How do we change TLS settings POST creation of IoT Hub?"
How do we change TLS settings POST creation of IoT Hub?  Is it only allowed during IoT Hub resource creation time?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5418de7-407d-1340-d213-b7048a58c571
* Version Independent ID: fc987b2a-f390-1d9b-c634-6eb7688f6ac7
* Content: [Azure IoT Hub TLS suppo

[2022-04-27 08:18] kyrrr commented on #47270
It would be nice to have resources describing the one flow you want configured, instead of relying on other resources which include unrelated/unwanted features.

The multi-tenant setup guide assumes you have also set up Facebook login, and seems to use some of the same element IDs for that and AAD, making them hard to separate. The same goes for then just using the LocalAccount files, as these are

[2022-04-27 08:22] robert4os opened #92093 "Kusto query error in Log Analytics Workbook for Synapse Spark"
Under the section 'Use the sample workbook to visualize the metrics and logs', there is a download of a LogAnalytics Workbook ('Azure_Synapse_Spark_Application.workbook') which contains a kusto query...

This kusto query references a column 'exception_stacktrace_s' which does not exist and the query fails in the portal:
![image](https://user-images.githubusercontent.com/1668298/165472944-d58e0b8b-

[2022-04-27 08:25] aneesh631 commented on #91932
@shwetamathur7 We are building a multi-tenant app, and we are interested in whether other tenants have given admin consent or not. Correct me if I am wrong but this would be accessible only by the consumers of our app?

[2022-04-27 08:35] shwetamathur7 commented on #92023
@lightupdifire There is another [document](https://docs.microsoft.com/en-us/azure/active-directory/external-identities/authentication-conditional-access#conditional-access-session-controls) for external identities where it is mentioned to configure session controls for B2B guest users.
However, session control behave same for every user so it is not specifically mentioned here for B2B guest users.

[2022-04-27 08:56] Jaffacakes82 commented on #91989
I must have had a bit of a mind block when I raised this, as I can see the instructions here:
`If you want to make sure you can use the feature in a Standard App Service plan, create your app in a Premium v3 App Service plan. Those plans are only supported on our newest deployments. You can scale down if you want after the plan is created.`

However, the instructions don't work, so potentially sti

[2022-04-27 09:04] ishepherd opened #92094 "Is Premium still in preview?"
Does this page need an update to remove the 'preview' word?

If it is still in preview, these places should tell us so, and they do not
* [public pricing page](https://azure.microsoft.com/en-gb/pricing/details/azure-sql-managed-instance/single/)
* Azure Portal 'Create Managed Instance' experience

Can you please provide premium memory optimized in AustraliaSoutheast, or give us a rough timeline at

[2022-04-27 09:36] lightupdifire commented on #92023
@shwetamathur7
Thanks! But interesting, this combination does not work for the Guest user.
Guest user sees the "keep me signed in" and after 1h user is still logged in:
Before doing a test have cleared the Cookies, logged in, and set the time counter, user does not see the login prompt after 1h...
Possibly will open a support ticket, but, for this document, maybe a good idea to add this reference?

[2022-04-27 09:43] shwetamathur7 commented on #92023
@lightupdifire Is this happening only with guest users or for all users?

[2022-04-27 09:45] SnehaAgrawal-MSFT commented on #91841
@Catastrophe1 Thanks again for the feedback! The PR has been created once reviewed by author of the docs, will be visible, Please let us know if further query.

[2022-04-27 09:45] #91841 closed

[2022-04-27 09:51] AshokPeddakotla-MSFT commented on #92092
@kudlatiger Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-04-27 10:02] lightupdifire commented on #92023
@shwetamathur7
Didn't test it for Member users, we have deployed, using one of the first docs of the session policy, the policy using this condition below (the amount of the days is just an example), then we saw that Non-managed devices require to sign-in every time browser is closed, now due to yearly accounts review, we discover that this policy of the below print screen was applied to internal

[2022-04-27 10:06] lightupdifire commented on #92023
btw. with the guest user, doing a test towards 2x different tenants.

[2022-04-27 10:10] jamesdhutton commented on #84464
I got this error because I misconfigured the EventHubName setting in the .config file.  I had put in the Event Hub Namespace, instead of the Event Hub Name.

[2022-04-27 10:10] KrishnaG-MSFT commented on #92077
@gysiedebruyn This is fixed [here](https://github.com/MicrosoftDocs/security-benchmark-docs-pr/commit/ac879346032635a8b023cfcfe7be8439185493b1). Thanks again!

[2022-04-27 10:10] #92077 closed

[2022-04-27 10:15] KrishnaG-MSFT commented on #92076
@RickKra I have verified and updated the document as required. The update should go live in some time i.e., in less than 24 hours. Thanks again!

[2022-04-27 10:15] #92076 closed

[2022-04-27 10:15] KrishnaG-MSFT commented on #92072
@ahmedsowdagar I have verified and updated the document as required. The update should go live in some time i.e., in less than 24 hours. Thanks again!

[2022-04-27 10:15] #92072 closed

[2022-04-27 10:20] KrishnaG-MSFT commented on #92079
Assigning to content owner @msmbaldwin for visibility, review and document enhancement consideration as appropriate.

[2022-04-27 10:20] KrishnaG-MSFT commented on #92081
Assigning to content owner @msmbaldwin for visibility, review and document enhancement consideration as appropriate.

[2022-04-27 10:21] KrishnaG-MSFT commented on #92083
Assigning to content owner @msmbaldwin for visibility, review and document enhancement consideration as appropriate.

[2022-04-27 10:26] dknappettmsft commented on #89582
Thanks for the feedback. I've added the regions that are now supported currently in the preview - the change should be visible later today.

#please-close

[2022-04-27 10:26] #89582 closed

[2022-04-27 10:33] ishepherd opened #92098 "Database Migration Service is for offline migration? But it supports online too?"
The table below made me think "online (minimal downtime)" was a reason to choose the Azure Data Studio method.

But actually it seems the Database Migration Service supports it too? [There is this doc page about it.](https://docs.microsoft.com/en-us/azure/dms/tutorial-sql-server-managed-instance-online)

----

![image](https://user-images.githubusercontent.com/3198421/165498603-9a451bb5-a88c-4d07-

[2022-04-27 10:35] #92025 closed

[2022-04-27 10:35] shengxue opened #92099 "External ip of controller service is not reachable!"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd0e7d5a-37e9-07dc-f395-9cb5bb580e45
* Version Independent ID: 7e4faf70-9724-7e7b-832b-1cd99a974920
* Content: [Create an ingress controller - Azure Kubernetes Service](https://docs.microsoft.com/en-us/azure/aks/ingress-basic?tabs=azure-cli)
* Content

[2022-04-27 10:37] shwetamathur7 commented on #92025
@aletar89 Thanks you for contributing for document enhancement. I have made the changes and sent to author for review. Once PR will be approved, changes will be reflected.

[2022-04-27 10:43] andrewconnell opened #92100 "❓ Set range of tags from repo in GitHub federated token in the subject identifier?"
Can you set a range of tags as the subject identifier for the federated credential? Seems I can only specify a single tag... is that a limit?

I've been able to configure a federated credential by explicitly setting the tag name, but this is really only useful as a "one-time" credential? My intention is to authenticate on ANY tag, just like you can authenticate on any pull request.

I've tried dif

[2022-04-27 10:45] AshokPeddakotla-MSFT commented on #92088
@ubergeekNZ Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-04-27 11:14] kudlatiger commented on #92092
Kindly do the needful as our production line is stopped because of it.  What is the alternative to update the TLS version? any PowerShell available?

[2022-04-27 11:18] AshokPeddakotla-MSFT commented on #92092
@kudlatiger  AFAIK, It is not possible to change the TLS version after you create an IoT Hub. There is no option in the portal as well.

As mentioned on the [doc](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-tls-support?WT.mc_id=IoT-MVP-5004034#tls-12-enforcement-available-in-select-regions) it can be only be added while creating and can't be changed.

But let me check internally if ther

[2022-04-27 11:26] AnuragSharma-MSFT commented on #92090
@bubbletroubles Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-04-27 11:30] PriyankaRudramaina commented on #92099
Hello @shengxue,

Thank you for your feedback. We will investigate and update the thread further.

[2022-04-27 11:33] AnuragSharma-MSFT commented on #92098
@ishepherd Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-04-27 11:34] bmansheim commented on #91834
@sebhe After consulting with the product managers, we decided to remove the "Security Policy & Regulatory Compliance" line from the comparison table because it is not related to enabling Defender for Servers.
More information about how Defender for Cloud can help you with regulatory compliance is at: https://docs.microsoft.com/en-us/azure/defender-for-cloud/regulatory-compliance-dashboard

[2022-04-27 11:34] bmansheim commented on #91834
#please-close

[2022-04-27 11:34] #91834 closed

[2022-04-27 11:35] #92099 closed

[2022-04-27 11:37] AnuragSharma-MSFT commented on #92094
@ishepherd Thank you for the detailed feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2022-04-27 11:42] madsd commented on #91989
@Jaffacakes82 Can you elaborate on "instructions don't work". Did you create a Premium v3 plan and scaled down to Standard tier? Did you join the vnet before of after scaling down?

[2022-04-27 11:42] AshokPeddakotla-MSFT commented on #92092
@kudlatiger Are you leveraging IoT Hub DPS (Device Provisioning Service) or have HA of some kind setup?

[2022-04-27 12:00] RyanHill-MSFT commented on #92082
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-04-27 12:02] Jaffacakes82 commented on #91989
@madsd these are the steps we followed:

In an existing resource group:
1. Deployed WebApp P1V3
2. Attached to VNET
3. Scaled down to B1 (This wasn't allowed got an error)

Just digging out the actual error now.

[2022-04-27 12:04] AshokPeddakotla-MSFT commented on #92085
@Morgwee  PR has been created to fix the broken link. Please check the correct link: https://github.com/Azure-Samples/AzureMapsCodeSamples/blob/master/Samples/Tutorials/Interactive%20Search/Interactive%20Search%20Quickstart.html
Do let us know if you have any further queries.

[2022-04-27 12:19] #92085 closed

[2022-04-27 13:11] J227668 opened #92102 "Azure Gov and GCCH customers"
Is this feature available for customers using M365 commercial and accessing AVD in Azure Gov?

Is this feature available for customers using M365 GCCH and accessing AVD in Azure Gov?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62dd50a6-6801-83a0-cae3-d9b65c90b6ac
* Version Independent ID: 1367b2e5-1e79-0a5b-c41f-2ec

[2022-04-27 13:13] madsd commented on #91989
@jaffacakes82. Thank you for the details. I can reproduce the problem and we have identified the issue. We are working on a fix for this - until the fix is deployed you can use a workaround to scale down before attaching to the VNet. This should allow you to join a VNet from Basic SKU. So in your case first step 1 then 3 and finally 2.

[2022-04-27 13:20] safari137 opened #92103 "Cannot create container app environment with vnet from CLI"
AZ version = 2.36.0
containerapp extension version = 0.3.1

The documentation gives the following instructions for creating the containerapp environment
[code]

When I execute this, I get the following error:
`unrecognized arguments: --app-subnet-resource-id /subscriptions/***/resourceGroups/TestContainerAppVnet-rg/providers/Microsoft.Network/virtualNetworks/testvnet/subnets/applications --control

[2022-04-27 13:20] madsd commented on #90546
Hi @markingmyname Yes, this is still a concern/problem

[2022-04-27 13:24] Vikram1988 commented on #92013
@jackchenwork the instructions clearly say that you need to copy the contents of the extracted folder. It means the files within the extracted folder and copy it to the desired location. The issue has not been reported to us before so I am not sure if its the issue with the instructions